<header data-type="book">
<h1>傷寒論劉氏傳</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>劉棟田良</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1772">公元1772年</data></dd></div>
<div><dt>底本</dt><dd>岡宗益旧蔵本（<a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00518/index.html">早稲田大学図書館掃描本</a>）</dd></div>
</dl>
</header>
