<header data-type="book">
<h1>厚生訓纂</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>周涇</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1549">公元1549年</data></dd></div>
</dl>
</header>

<h1>引</h1>
<p>嘉靖己酉，予守衢之八月，以病瘍不能視事，日坐郡齋。貳守周公潭石間過予譚，偶及《顏氏家訓》、《袁氏世範》、《三元延壽》、《養生雜纂》、《便民圖纂》、《通書》、《居家必用》諸書，亟借讀之。嗚呼！茲數種者，其於民生日用，亦云備矣。顧大繁而言，成文不易了了，且無所執要。因摘取簡易者，自嬰至老，凡性情之動，飲食起居之節，推而處己、睦親、治家之大概，附以斷章名，云稍為隱括頗銓次成帳，令吏人抄錄，以示潭石，乃潭石固欲加諸梓。予笑曰：「此直家庭為童子者設教耳，刻之何居？」潭石曰：「不然，王者之政，自老老幼幼。始而居處笑語，日用飲食，詩人歌之，況茲生人所厚，日遷去不識不知，蓋逖矣。推是以詒告斯人，俾由之生，生而咸登壽考之域，亦政也，奚不可者？」予曰：「有是哉。」姑刻之以示衢民，如其禮樂，俟後之君子云。</p>
<p><u>知衢州府在山周臣撰</u></p>

<h1>卷之一</h1>

<h2>育嬰（附產忌）</h2>
<p>凡受胎三月，稟氣未定，逐物變化。故娠妊者，欲觀犀象，鸞鳳珠玉，鐘鼓俎豆，軍旅陳設之類。欲聞賢人君子盛德，大師嘉言善行。焚燒名香，誦讀詩書，居處簡靜，調心神，和性情，謹嗜欲，節飲食，慎起居，庶事清淨，則生子端正壽考，忠孝仁義，聰慧無疾。蓋文王胎教也。</p>
<p>凡妊娠臨月，預備好甘草，如中指許，一節擘碎，用水一蜆殼，以絹蘸令兒吮之，若吐出惡汁為佳。次用好硃砂，如大豆許，細研，水飛過，煉蜜和硃砂成膏，旋抹小兒口中，鎮心安神，免痘瘡之患。凡小兒初生，急以綿裹指，拭盡口中惡血，若不急拭，啼聲一出，即入腹成百病矣。亦未可與乳，且先與擘破黃連，浸湯取濃汁，調硃砂細末，抹兒口中，打盡腹中舊屎，方可與乳。又看舌下，重舌有膜，如石榴子，若啼聲不出，速以指抓或針微刺舌線，有血出即活，取桑汁調蒲黃塗之。若血出多者，燒發用豬脂塗之。凡斷臍不可用刀，須隔衣咬斷，兼以熱氣呵七遍，然後纏結所留臍帶，令至兒足上。若短則中寒，或成內吊。若先斷臍而後浴，則水入臍中，後必有患。其臍斷訖，臍中多有蟲，宜急去之。斷臍後用軟綿縛之宜緊，免臍風也。凡解臍須閉戶下帳，冬間令火溫，若臍不幹，燒帛末敷之。初生之兒，全在乳哺得法。乳者奶也，哺者食也，乳後不得與哺，哺後不得與乳。蓋小兒脾胃怯弱，乳食相併，難以克化，始則成嘔，小則成積，大則成癖，疳氣自此始也。凡乳兒不可過飽，滿而必溢，則成嘔吐。乳或來猛，當取出少挼後再乳。凡乳時，須當捏去宿乳，然後乳之。兒若臥乳，當以臂枕之，令乳與頭平，令乳不噎。母欲睡，即奪其乳，睡著不知飢飽，即成嘔吐。兒啼未定，氣息未調，乳母遽以乳飲之，致不得下，停滯胸膈，而成嘔吐。</p>
<p>初生小兒，慎不宜針，針反為害也。嬰兒乳母，須每三時，摸兒頂後風池，若壯熱即須熨之，使微汗即愈。凡小兒莫抱於檐下澡洗，當風解衣，及神物之前，驢馬之畔，各房異戶之親，諸色穢惡異物，並不得觸犯，切宜忌之。凡兒春夏間有疾，不可亂用動下之藥，使下焦虛，上焦熱，變成大病。小兒缺乳，吃物太早，母喜嚼食喂之，致生疳疾，羸瘦腹大，發豎痿黃。凡小兒匍匐以後，逢物便吃，父母喜之，或飲食而以口物飼之，此非愛惜，乃成害一端，食癖疳積，腹痛面黃，腹大頸細，皆由於此。</p>
<p>凡小兒皆陽氣有餘，陰氣不足，故多患驚風痰熱之疾。若父母恣其食肉，及諸厚味，必助火益陽，消竭陰氣，鮮不為患。其有痘方出，而發紫泡以死者何哉？正以厚味積熱，觸其相火故耳，切宜戒之。</p>
<p>凡小兒始生肌膚未成，不可衣新綿過暖，當以故絮衣之。況筋骨痿弱，宜時見風日，則血凝氣剛，肌肉牢密耐風寒，不致疾病。若藏在幃帳中，重衣溫暖，不見風日，則其肌膚脆軟，便易中傷矣。凡嬰兒三、五月，必待人襁褓，貴順適其宜。如春夏乃萬物生長之時，宜時時放令地臥。如秋冬萬物收藏之時，宜就溫和之處。使不逆歲氣，然後血寧氣剛，百病無由而入。小兒睡，忌母鼻中吹風及囟門處，成瘋疾。交合之間，兒臥於側，或驚哭便不可乳兒。小兒不宜令指月。母淚不可滴入兒眼中。兒未能行，母更有娠，兒猶食乳，必黃瘦立骨，發熱發落。小兒食雞鴨卵、魚子之類，長而多忘。食鱘魚，結癥瘕咳嗽。食雞肉生蛔蟲，食王瓜生疳蟲，粟子飼之，生齒遲，腎氣弱。黍米飯並蕨食之，腳無力。食蕎麥發落，羊肝同椒食損兒，幼女食魚魨則拙。吃熱莫吃冷，吃軟莫吃硬，吃少莫吃多。</p>
<p>嬰兒之流，天真未剖，禁忌飲食，又無所犯，至有夭折者，此父母之過也。為父母者，或陽盛陰虧，或陰盛陽虧，或七情鬱於內，或六淫襲於外，或母因胎寒而餌暖藥，或父因陰痿而餌丹藥，或產元既充，淫欲未已，如花傷蒂，結子不實，既產之後，稟賦怯弱，調養又失其宜，驕惜太過，睡思既濃，尚令咀嚼，火闔既暖，猶厚衾重覆，撫背拍衣，風從內作，指物為蟲，驚因戲謔，危坐放手，欲令喜笑，肋脅指齪，雷鳴擊鼓，且與掩耳，眠臥過時，不令早起，飲食飽淤，不與戒止，睡臥當風，恐嚇神鬼，此等不一，父母因是而鑑之，則後嗣流芳而同壽矣。嬰孩於其始，有知不可不使知尊卑長幼之禮，若侮詈父母，毆擊兄妹，父母不加訶禁，反笑而獎之，彼既未辨好惡，謂禮當然，及其既長，性習已成，乃怒而禁之，不可複製，於是父母疾其子，子怨其父母，殘忍悖逆，無所不至，蓋父母無深識遠慮，不能防微杜漸，溺於小慈，遂養成其惡，至如此也。教子齋：一曰學禮，凡為人要識道理，識禮數，在家庭事父母，入書院事先生，並教恭敬順從，遵依教誨與之言，則應教之事，則行，毋得怠慢，自任己意。二曰學坐，凡坐要定身端坐，齊腳斂手，毋得伏盤靠背偃仰傾側。三曰學行，凡行要籠袖徐行，毋得掉背跳足。四曰學立，凡立要拱手正身，毋得跛倚歌斜。五曰學言，凡言語要樸實，語事毋得妄誕，低細出聲，毋得叫喚。六曰學揖，凡作揖要低頭屈腰出聲收手，毋得輕率慢易。七曰學誦，凡讀誦專心，看字斷句，謾讀須要分明，不可一字放過，毋得目視東西，手弄他物。八曰學書，凡寫字專志把筆，字要整齊圓淨，毋得輕易糊塗。</p>
<p>《產書》云：一月足厥陰肝養血，不可縱怒，疲極筋力，冒觸邪風。二月足少陽膽合於肝，不可驚動。三月手心，主右腎養精，不可縱欲悲哀，觸冒寒冷。四月手少陽三焦合腎，不可勞逸。五月足太陰脾養肉，不可忘思飢飽，觸冒卑濕。六月足陽明胃合脾，不可雜食。七月手太陰肺養皮毛，不可憂鬱叫呼。八月手陽明大腸合肺，以養氣勿食燥物。九月足少陰腎養骨，不可懷恐房勞，觸冒生冷。十月足太陽膀胱合腎，以太陽為諸陽主氣，使兒脈縷皆成，六腑調暢，與母分離，神氣各全，候時而生。不言心得，以心為五臟之主，故也。凡婦人妊娠，切忌飲酒叫怒，恐產時心神昏亂。凡婦人妊娠之後，以至臨月，臟腑壅塞，關節不利，切須時時行步，不宜食黏硬之物，不可多飲酒，不可亂服藥，亦不可忘針灸，須寬心減思慮，不得負重涉險，防諸不測，如此愛護，方保臨產無虞，仍不欲見醜惡之物，食當避異味，不然有損無益。凡妊六七月後，須常服益母丸，凡遇臨產時，少見不順當，服柞枝湯一二服，能使橫者直，而逆者順，方用柞枝四兩，甘草五錢，好酒三碗，煎去半頻服之即效。服至二服，永保無虞。</p>
<p>雞肉與糯米同食，令子生寸白蟲，食羊肝，令子多厄。食山羊肉，令子多病。鯉魚與雞子同食，令子成疳多瘡。食犬肉，令子無聲音。食茨菰，能消胎氣。食麝脂及梅、李，令子青盲。食兔肉，令子唇缺。食子姜令子多指生瘡。鱔魚、田雞同食，令子音瘂。鴨子與桑椹同食，令子倒生，心寒。食鱉令子項短，及損胎。食螃蟹，令子橫生。食雀腦，令子雀目。食雀肉飲酒，令子無恥多淫。雀肉豆醬同食，令子面生黑痣黑斑。豆醬與藿同食，墮胎。食水漿絕產。食漿水粥，令子骨瘦不成人。食騾馬肉，過月難產。妊婦不可沐頭，沐之則橫生逆產。欲分娩者，取釅醋塗口鼻，仍置醋於傍使聞其氣，兼細細飲之，此為上法。如昏暈即以醋噴面，蘇來，即飲醋以解之。</p>
<p>凡生產畢，不可因男女輒喜惡，不得便臥，且宜閉目而坐，須臾方可扶上床，宜盤膝而坐，未可伸足，高倚床頭時，令人以手從心擀至臍下，使惡露不滯，如此三日方止，不可令多臥，多臥頻要喚醒，或燒乾漆器，並醋氣蒸薰口鼻，以防血逆、血迷、血暈之患。夏月仍於房門外燒磚，以醋沃之，置於房中，房中不得放火，以煮粥煎藥。或有臨產，母腸先出者，甚可驚恐，即以盆盛溫水，浸其腸入，香油一盞，令母仰臥，以言語安慰其心，卻用好米醋半盞，和新汲水七分，攪均忽噀於產母面，或背微以手拊之，則腸漸收兒即產矣。分娩後須臾，食白粥一味，勿太飽，頻頻少與之，仍時與童便一盞，溫飲之。□□得與酒，產母臟腑方虛熱酒入腹必致錯悶。□□方進，酒可以闢風邪、養血氣、下惡氣、行脈氣也。未滿月不宜多語笑，驚恐憂惶，哭泣思慮恚怒，強起離床，行動久坐，或作針線，用力恣食生冷、黏硬、肥膩之物，及不避風寒，脫衣洗浴，或冷水洗灌，當時雖未覺大損，後即成蓐勞。</p>
<p>滿月之後，尤忌任意飲食，觸冒風寒，恣意喜怒，梳頭用力，高聲作勞，尤忌房欲之類，若不依此，必成大患。產後忌食熱藥熱面，且不可見狐臭人。</p>
<p>未滿月飲冷水與血相聚，令腹脹痛。若惡露未止而食酸鹹之物，遍體無血色，腹痛發寒熱。</p>

<h1>卷之二</h1>

<h2>飲食（附諸忌）</h2>
<p>夫人賴水穀之氣以養神，水穀盡而神去。安穀則昌，絕谷則亡，水去則榮散，谷消則衛亡，榮散衛亡，神無所依故死。凡食所以養陽氣也，凡飲所以養陰氣也，而生血生氣，皆本於此。故六畜、果菜、酒漿之類，善養生者取其益人者食之。飲之尤必先渴而飲，飲不過多，多則損氣，渴則傷血。先飢而食，食不過飽，飽則傷氣，飢則傷胃，仍戒粗與速，恐損氣傷心，非福也。減五味濃厚食以免傷其精，省煎煿焦燥物以免傷其血。清晨食白粥，能暢胃氣生津液。空心茶卯時酒申後飯宜少。飲茶者宜熱宜少，不飲尤佳，久飲去人脂，下焦虛冷，飢則尤不宜，令不眠，惟飽食後一二盞不妨，最忌點鹽空心飲。食後以濃茶漱口齒不敗。飲不欲雜，雜之則或有所犯，當時或不覺，積久令人作痰。漿水味甘酸，微溫無毒大益人，為人常用，故不齒其功，然日不可缺也。酒飲之體軟、神昏是其有毒也，不可過多，過多而恆飲，則損腸爛胃，潰髓蒸筋，傷神傷壽。酒漿照人，無影不可飲。酒後食芥辣物，多則緩人筋骨。凡中藥毒，及一切毒，從酒得者難治。醋，多食損人骨，損人胃，損人顏色。美食須熟嚼，生食不粗吞，食物以象牙、金、銀、銅為匙，或魚鯇為器，皆可試毒。熱食傷骨，冷食傷肺，熱無灼唇，冷無冰齒。食後以小紙拈打噴嚏數次，使氣通則目自明、痰自化。每食畢，即呵出口中毒氣，則永無患失。百味未成熟，勿食五味太多，勿食腐敗，閉氣之物勿食。春宜減省酸味，增添甘味；夏宜減省苦味，增添辛味；秋宜減省辛味，增添酸味；冬宜減省鹹味，增添苦味。青色屬肝合筋，其榮爪，故肝宜酸，多食則令人陰閉。赤色屬心合脈，其榮色，故心宜苦，多食令人變嘔。黃色屬脾合肉，其榮唇，故脾宜甘，多食令人緩滿。白色屬肺合皮，其榮毛，故肺宜辛，多食令人洞心。黑色屬腎合骨，其榮發。故腎宜咸，多食令人渴酸，多傷皮肉，皺而唇揭。咸多傷心，血凝注而色變；甘多傷腎，骨痛而齒落；苦多傷肺，皮槁而毛落；辛多傷肝，筋急而爪枯。孫真人曰：食五味不可偏勝，否則五臟不平，百病蜂起。夫人之所慎，切忌飲食便臥，及終日久坐。食欲頻而少，不欲頻而多，只宜飽中飢，不宜飢中飽，且魚鱠生肉尤宜忌之。粳米過熟則佳，蒼耳同食卒心痛，馬肉同食發痼疾。糯米妊娠與雜肉食之，子生寸白蟲，久食身軟發風動氣。秫米似黍而小，亦可造酒動風，不可常食。</p>
<p>黍米發宿疾，小兒食不能行，五種粟米合葵食之成痼疾。飴糖進食，健胃動脾風。食粟米後食杏仁吐瀉。稷米穄也，發三十六種疾，不可同川附子服，陳廩粟米粳米皆冷，頻食之自利。麥佔四時，秋種夏收，北方多霜雪面無毒，南方少雪面有毒。大麥久食多力健行，頭髮不白宜人。麥蘖久食消腎，少用健胃寬中。蕎麥多食動風頭眩，和豬肉食脫眉發。白扁豆久食頭不白。綠豆治病，則皮不可去，去皮壅氣，作枕明目。赤小豆行小便，久食虛人，能逐津液。青小豆、赤白豆合魚、蝦食之成消渴。服大豆末者，忌豬肉、炒豆與一歲以上十歲以下小兒食之，即吃豬肉久當壅氣死。醬當以豆為之，今以面麥為之，殺藥力。芝麻乘熟，壓出生油，止可點燈，再煎煉成，方為熟油可食。黑芝麻炒食不生風疾，風人食之，則步履端正，語言不謇。胡麻服之不老，耐風補衰老，九蒸九曝為末，以棗丸服之，治白髮還黑。</p>
<p>葵同鯉魚食之害人，食生葵發一切宿疾，百藥忌食之。生蔥與蜜同食，下痢腹痛，食燒蔥啖蜜，壅氣死。雜雞雉白犬肉食之，九竅出血，大抵功在發汗，多食則昏人神。韭，病人可食，多食神昏暗目，酒後尤忌，不可與蜜同食，未出土為韭黃，滯氣動風，共牛肉食成瘕。薤肥健人，生食引涕唾，與牛肉同食成癥。大蒜久食，傷肝損目弱陽，多食蒜行房傷肝氣，面無光。胡荽久食令人多忘，根發痼病。芥多食動風發氣，與兔肉同食成惡病。薺菜與面同食發病。莧多食動氣煩悶，共鱉及蕨食生瘕。鹿角菜久食發病，損經絡少顏色。菠菜多食，冷大小腸，久食腳軟腰痛。蓴菜性滑發痔。芹生高田者宜食，赤色者害人，和醋食之損齒。苦蕒夏月食之益心，蠶婦忌食。萵苣久食昏人目。莙薘多食動氣。蕨久食，腳弱無力，弱陽眼昏，多睡鼻塞發落，生食成蛇瘕。茄至冷，多食發瘡動氣，秋後食之損目。冬瓜多食陰濕生瘡，發黃疸，九月勿食，老人中其毒，至秋為瘧痢。一切瓜苦者有毒，兩鼻兩蒂者害人。瓠子冷氣人食之病甚。葫蘆多食令人吐。紫菜多食腹痛發氣，飲少熱醋解。茭白不可同生菜食，不可雜蜜食，發痼疾，傷陽氣。苦筍主不睡，去面目並舌熱黃，消渴明目，解熱毒健人，多食動氣。菌，地生為菌，木生為檽，為木耳，為蕈，新蕈有毛者，下無紋者，夜有光者，煮不熟者，欲爛無蟲者，煮訖照人無影者，春夏有蟲蛇經過者，皆殺人。誤食楓樹菌者，往往笑不止而死，須掘地為坎，投水攪取清者飲之。木菌，楮、榆、柳、桑、五木之耳可食，如前所云者皆殺人，又赤色仰而不覆者，及生田野中者皆毒。甘露子不可多食，生寸白蟲。與諸魚同食翻胃。茱萸六七月食之傷神氣。茼蕎多食氣滿。</p>
<p>蒔蘿根曾有食者殺人。蔓青，菜中之最益人者，常食通中益氣，令人肥健。多種雞頭、芋奶可以代食，山藥、鳧茨可以充飢。芋冬月食不發病，薯蕷頗勝芋，小者名山藥，佳。蘿蔔力弱，人不宜多食，生者滲人血。姜九月九日勿食，傷人損壽。</p>
<p>諺云：上床蘿蔔下床姜，蓋夜食蘿蔔，則消酒食，清晨食姜能開胃。食蓮子宜蒸熟去心，生則脹腹，不去心則令人嘔。藕久服輕身耐老，止熱破血。食生藕，除煩渴，解酒毒，若蒸熟之，甚補五臟，實下焦，與蜜同食，令腹臟肥，不生諸蟲。菱多食冷臟傷脾。茨菰動宿冷氣腹脹，小兒食之臍下痛。茨菰生食，動風冷氣，損脾難消，熟能益精。生棗多食動臟腑損脾，與蜜同食損五臟。梅子壞齒及筋。櫻桃多食發暗風，傷筋骨，小兒多食作熱。橘、柚酸者聚疾，甜者潤肺，不可多食。橙子皮，多食傷肝，與檳榔同食，頭旋噁心。楊梅多食發熱損齒。杏多食傷筋骨。杏仁久服目盲、眉發須落，動宿痰。雙仁者殺人，研細可治大傷。桃損胃，多食有熱。桃、杏花本五出，而六出者又雙仁，能殺人者，失常也。李發瘧，食多令虛熱，和白蜜食傷人，五內不可臨水上啖之，及與雀肉同食。</p>
<p>李不沉水者有毒。梨治心熱，生不益人，多食寒中，產婦金瘡人勿食，令痿困，其性益齒而損脾胃，正二月勿食佳。有人家生一梨大如斗，送之朝貴食者皆死，考之樹下有一大蛇，毒在於此，可見凡物異常者，皆不可食也。石榴多食損肺及齒。慄生食治腰腳。熟即發氣，宜暴乾、蒸炒食。多則氣壅，患風氣人不宜食。生慄可於灰火中煨，令汁出殺其木氣，小兒食生者多難化，熟者多滯氣。柿乾者性冷，生者彌冷，食多腹痛。白果，生引疳解酒，熟食益人，不可多食。胡桃多食利小便，動風動痰脫人眉，同酒肉多咯血、齒豁並酸，傷齒者食之即已。枇杷多食發痰熱。榧子多食，能消穀，助筋骨。行榮衛，明目輕身，治咳嗽，過多滑腸。榛益氣力寬腸胃。一切果核雙仁者害人。</p>
<p>甜瓜多食動痼疾，發虛熱。西瓜甚解暑毒。甜瓜沉水者殺人，雙蒂者亦然。生果停久有損處者不可食。甘蔗多食衄血。砂糖多食心痛，鯽同食成疳，葵同食生流癖，筍同食成食瘕，小兒亦不宜食。豬肉之用最多，然不宜久食，食之曝肥致風。白蹄青爪者不可食。豬腎理腎氣，多食腎虛，久食少子，豬心豬肝不可多食，豬肉共羊肝食之心悶，豬腦損陽，臨房不舉，嘴動風尤毒。羊肉和鮓食傷人，心腦食之損精少子，六月勿食之，羊心有孔者食之殺人。羊肝有竅，羊有獨角頭黑者，皆不可食。豬羊血不可多食。黃牛大補脾，黑牛白頭並獨肝者不可食。凡盛熱時卒死者，尤殺人。牛五臟各補人五臟，牛乳不可與醋同食。馬生角及白馬黑頭，白馬青蹄者，皆不可食。馬自死者害人，不與陳倉米同食，卒潯惡症，十死其九。馬汗氣及毛，偶人食中害人。凡有馬汗陰瘡者，近之必殺人。騾肉動風，脂肥尤甚，食之者慎不可飲酒，致疾殺人。白犬虎文，黑犬白耳，畜之家富貴，犬純白者主凶。犬斑青者，識盜賊則吠之。春末夏初，犬多發狂，當戒，人持杖預防之。鹿肉獐肉，五月勿食之，豹文者殺人。鹿茸內有小蟲，不可以鼻㗜蟲，入鼻則藥力不及。鹿肉痿人陰，餌藥人食之無效，以其食解毒之草故也。獐肉，八月至於十一月食之，勝羊肉，余月動氣。麂肉動痼疾，以其食蛇也。麋脂，近男子陰冷痿骨，可煮汁釀酒飲之，令人美顏色。貓肉補陰血，能治癆瘵，癱疾，瘰癧，楊梅毒瘡，久不收口者，皆宜食。兔八月、十一月可食，多食損陽，兔死而眼合者，食之害人，兔隻眼者不可食。獺肉傷陽。熊脂近陰不起。大抵禽肝青者，獸赤足者，有歧尾者，肉墮地不黏塵者，煮熟不斂水者，煮而不熟者，生斂者，禽獸自死無傷處者，犬懸蹄肉中有星如米者，羊脯三日以後有蟲如馬尾者，米甕中肉脯久藏者，皆殺人。雞黃者宜老人，烏者產婦宜之，具五色食之必旺。六指玄雞白頭，或四距及野禽生子，有八字文者，及死不伸足，口目不閉者，俱不可食。烏雞合鯉魚食生癰疽，雞子不宜多食，老雞頭有毒殺人，線雞善啼肉毒，山雞養之禳火災。雉損多益少，久食瘦人。黑鴨滑中發痢，腳氣人不可多食，白者六月忌食，白鴨補虛目，白者殺人，鴨卵多食發疾，不合蒜及李子鱉肉食，老鴨善，嫩鴨毒。野鴨九月以後即中食不動氣，身上熱瘡久不好者，但多食即瘥。白鵝，多食發酒疾，蒼鵝發瘡濃卵不可食多。鵪鶉，四月以後八月以前不堪食，《本草》云：蝦蟆化也。鶉，患痢人可食之良，與豬肝同食麵生黑子，與菌同食發痔疾。凡雀不可合雜生肝食，合醬食妊婦所忌。雀糞和乾薑末，蜜丸服之肥白。鵓鴣益人，有病者食之減藥力。鯉魚發風熱，五月五日勿食。鱖魚有十二骨，每月一骨毒殺人，取橄欖核末，流水調服則愈。白魚發膿，有瘡癤人勿食。鯽魚春不食其頭，中有蟲也，子與麥門冬食殺人。青魚及鮓服術者忌之。鰣魚發疳痼疾。魴魚患疳痢者禁之。鱘魚發諸藥毒，鮓不益人，小兒食之成瘕，合筍食之癱瘓。鱸魚多食令人發痃癖。河豚魚有毒，浸血不盡，有些赤斑眼者，及修治不如法殺人。肝有大毒，中其毒者，橄欖汁或蘆根汁解之。鱔魚多食成霍亂。烏魚黑鱧水厭不宜食。鰻鱺魚治勞，夏月以干鰻魚室中燒之，蚊蟲即化為水。置其骨於衣箱及氈物中，斷白魚蛀蟲。一切魚忌荊芥，食犯必至殺人。凡魚目能開閉者，及兩目不同，無腮無膽連鱗者，無鱗者及白目白背黑點赤鱗有角者，頭有白色如連珠至脊上者，皆不可食。鱉不可食，目大者，赤足者，腹下生王字形者，三足者，獨目者，目白者，腹有蛇蟠紋者，並害人。夏月每有蛇化，切不可食，腹下有蛇紋者蛇也。蟹極動風，有風疾人，不可食蟹，背上有星點者，腳生不齊全者，獨螯者，獨目者，兩目相向者，足斑目赤者，腹有毛者並殺人。蝦發風動氣，無須者，及腹中黑煮而色白不可食。螺大寒療熱醒酒。蚌冷無毒。蚶利五臟健脾。淡菜即殼菜也，多食煩悶。蜆多食發嗽消腎。蟶，天行病後不可食，飯後食之佳。凡肉汁藏器中，氣不泄者有毒。以銅器蓋之，汁滴入者亦有毒。銅器內盛水過夜不可飲。陶瓶內插花宿水，及養臘梅花水，飲之能殺人。飲食於露天飛絲墮其中，食之咽喉生泡。穿屋漏水，雜諸脯中食之生檽瘕。暑月磁器，如日曬大熱者，不可便盛飲食。盛蜜瓶作鮓，鮓瓶盛蜜，俱不可食。肉經宿並熟雞過夜，不再煮不可食，祭神肉自動，及祭酒自耗者，皆不可食。諸禽獸腦滑精不可食。（以上飲食所宜所忌。）</p>
<p>食豆腐中毒以蘿蔔湯下藥可愈。中蕈毒連服地漿水解之。諸菜毒，甘草、貝母、胡粉等分為末調服，及小兒溺。野芋毒飲土漿水解之。瓜毒，瓜皮湯或鹽湯解之。柑毒，柑皮湯或鹽湯解之。諸果毒燒豬骨為末水調服。誤食閉口花椒，飲醋解之。誤食桐油，熱酒解之，乾柿及甘草亦可。</p>
<p>食雞子毒，醇醋解之。凡中魚毒，煎橘皮湯，或黑豆汁，或大黃、蘆根、朴硝汁，皆可解之。中蟹毒，煎紫蘇湯一二盞，或冬瓜汁、生藕汁解之。中諸肉毒，壁土調水一錢服之，又方燒白扁豆末可解。</p>
<p>食豬肉過傷者，燒其骨水調服，或芫荽汁、生韭汁解之。飲酒毒，大黑豆一升煮汁二升，服立吐，即愈之。又方生螺螄、蓽澄茄並解之。凡諸般毒，以香油灌之，令吐即解。凡飲食後，心煩悶不知中何毒者，急煎苦參汁飲之令吐。又方煮犀角湯飲之，或以好酒，或以苦酒煮飲之。以上療飲食之毒。</p>
<p>凡肝病宜食小豆、犬肉、李、韭，心病宜食麥、羊肉、杏、薤，脾病宜食粳米、牛肉、棗、葵，肺病宜食黃黍米、雞肉、桃、蔥，腎病宜食大豆、豕肉、粟臛。有風病者勿食胡桃，有暗風者勿食櫻桃，食之立發。時行病後，勿食魚鱠，及蟶與鱔。又宜食鯉魚，再發必死。時氣病後百日之內，忌食豬、羊肉，並腸、血、肥魚、油膩、乾魚，犯者必大下痢，不可復救。又禁食麵及胡蒜、韭、薤、生菜、蝦等，食此多致傷發則難治，又令他年頻發。患瘧者勿食羊肉，恐發熱致死。病眼者，禁冷水、冷物挹眼，不忌則作病。牙齒有病者，勿食棗。患心痛、心恙者，食獐心及肝，則迷亂無心緒。患腳氣者，食甜瓜其疾永不除，兼不可食鯽魚及瓠子。黃疸病，忌面、肉、醋、魚、蒜、韭熱物，犯者即死。患咯血、吐血者，忌面、酒、煎煿醃藏、海味、硬冷難化之物。其鼻衄、齒衄諸血病皆仿此。有痼疾者，勿食麂與雉肉。患癤者，不可食姜，忌雞肉。癩者，不可食鯉魚。瘦弱者不可食生棗。病瘥者不可食薄荷，食之令人虛汗不止。傷寒得汗後，不可飲酒。久病者食李子加重。產後忌生冷物，惟以藕不為生冷，為其能破血也。（以上疾病所忌。）</p>

<h2>附諸忌</h2>
<p>服茯苓忌醋。服黃連、桔梗忌豬肉。服細辛、遠志忌生菜。水銀、硃砂忌牲肉。服常山忌生蔥、生菜並醋。服天門冬忌鯉魚。服甘草忌菘菜、海藻。服半夏、菖蒲忌餳糖、羊肉。服術忌桃、李、雀肉、胡荽、蒜鮓。服杏仁忌粟米。服乾薑忌兔肉、麥門冬皮、鯽魚。服牡丹皮忌胡荽。服商陸忌犬肉。服地黃、何首烏忌蘿蔔。服巴豆忌蘆筍、野豬肉。服烏頭忌豉汁。服鱉甲忌莧菜。服藜蘆忌貍肉。服丹藥、空青、硃砂不可食蛤蜊並豬、羊血及綠豆粉。凡服藥皆忌食胡荽、蒜、生菜、肥豬、犬肉、油膩、魚鱠、腥臊、生冷、酸臭、陳滑之物。（以上服藥所忌。）</p>
<p>四季用黑豆五升，淨洗後蒸三遍，熬干去皮。又用大火麻子三升，湯浸一宿，漉出熬干，膠水拌熬，去皮淘淨，蒸三遍，碓搗，次下豆黃共為細末，用糯米粥合和成團如拳大。入甑蒸，從夜子住火，至寅取出，於磁器內盛蓋，不令風乾，每服一二塊，但飽為度，不得食一切物。第一頓七日不食，第二頓七七日不食，第三頓三百日不食，容貌佳勝，更不憔悴。渴即研大麻子漿飲，更滋潤臟腑。若要重吃物，用葵子三合杵碎煎湯飲，開導胃脘，以待沖和無損。又方：縮砂、貫仲、白芷、茯苓、藿香、甘草為細末，煮豆熟，以藥末拌，卻就鍋以黃蠟一兩薄切，摻在豆上令均，取豆焦乾為度，以數粒通松釵中節食之，令人不飢。又方：蜜二斤，白麵六斤，小黃米五升炒，香油二斤，白茯苓四兩，芝麻一升去皮，甘草四兩為細末，拌勻和捏成塊，甑內蒸熟，陰乾為末，每服一匙，新水調下，其面於青布袋盛之，可留十年。又方：生服松柏葉。茯苓、骨碎補、杏仁、甘草搗羅為末，取生葉蘸水滾藥末同服，香美。又方：天門冬二斤，熟地黃一斤，共為末，煉蜜為丸，如彈子大，每服三丸，溫酒下，無酒，湯亦可，日進三服。若遇山居之日，辟穀不飢。（以上救荒所備。）</p>

<h1>卷之三</h1>

<h2>起居（附諸忌）</h2>
<p>春三月，此謂發陳，夜臥早起，廣步於庭，被髮緩行，以使志生，生而勿殺。夏三月，此謂蕃秀，夜臥早起，使志無怒，使氣得泄。秋三月，此謂容平，早臥早起，使志安寧。冬三月，此謂閉藏，水冰地圻，無擾乎陽，早臥晚起，必待日光，去寒就溫，毋泄皮膚。春冰未泮，衣欲上厚下薄。春天不可薄衣傷寒。夏之一季，是人休息之時，心旺腎衰，液化為水。至秋而凝，冬始堅。當不問老少，皆食暖物，則百病不作。四月、五月，其時金水極衰，火土甚旺，必須獨宿，養陰尤勝服藥。夏至以後迄秋分，須慎肥膩、餅臛、油酥之物，此物與酒漿瓜果相妨，病多為此也。夏月不宜坐日曬石上，熱則成瘡，冷則成疝，睡鐵石上損目。夏月遠行不宜用冷水洗足。夏月並醉時，不可露臥，生風癬冷痹。五六月澤中停水，多有魚鱉精，飲之成瘕。猛熱時河內浴成骨痹。</p>
<p>熱極用扇，扇手心則五體俱涼。盛熱大汗，不宜當風，冷水沃面成目疾。伏熱不得飲水及以冷物迫之，殺人。冬時綿衣氈褥之類，急寒急著，急換急脫。冬寒雖近火，不可令火氣聚，不須於火上烘炙衣服，若炙手暖則已，不已損血，令五心熱。大雪中跣足，人不可使以熱湯洗，或飲熱酒。又觸寒未解，勿便飲湯食熱物。大寒早出，含真酥油則耐寒氣。大霧不宜遠行，宜少飲酒，以御霧瘴。大寒、大熱、大風、大霧勿冒之，行房更忌。天之邪氣，感則害人五臟；水穀寒熱，感則害人六腑。地之濕氣，感則害人皮肉筋脈。朝不可虛，暮不可實。朔不可哭，晦不可歌，招凶。星月下裸形當風中，醉臥以人扇之，皆不可。忽逢暴風雨，震雷昏霧，皆是諸龍鬼神經過，宜入室燒香靜坐，以避之，過後方出，吉。尤不可犯房。過神廟，勿輕入，必恭敬，不宜恣視，吉。忽見光怪變異之物，強抑勿怪，吉。心之神發手目，久視則傷心；腎之精發乎耳，久聽則傷腎。五色皆損目，惟皂糊屏風可養目。目不點不昏，耳不挖不聾。生五辛接熱飲食，極目瞻視山川草木，夜讀註疏古書，久居煙火，博奕不休，飲酒不已，熱餐麵食，抄寫多年，雕鏤細巧，房室不節，泣淚過多，月下觀書，夜觀星斗，刺頭出血，馳驅田獵，冒涉風霜，眼目病赤，沐浴房勞，迎風不忌，皆喪明之由，慎之。人身以津液為本，在皮為汗，在肉為血，在腎為精，在口為津，伏脾為痰，在鼻為涕，在眼為淚，出則皆不可回，惟津在，口獨可回，回則生意又續矣。人皆終日不唾，常嗽而咽之，則精氣常留，面目有光。故曰多唾損神，遠唾損氣。又曰遠唾不如近唾，近唾不如不唾。發是血之餘，一日一次梳，通血脈，散風濕。大小便皆不可用力努，亦不可強閉抑忍，一失其度，或澀或滑，皆傷氣害生，為禍甚速。忍小便成五淋，忍大便成五痔。大小便時，不可開口說話，切記。夜間小便時，仰面開眼，至老眼不昏。飢則坐小便，飽則立小便，慎之無病。久行傷筋勞於肝，久立傷骨損於腎。行汗勿跂床懸腳，久成血痹腰病。</p>
<p>行路勞倦骨疼，直得暖處睡。行路多，夜間向壁角拳足睡，則明目足不勞。遠行觸熱及醉後用冷水洗面，則生黑點成目疾。早行食煨生薑少許，避瘴開胃。夜行常叩齒殺鬼邪，或用手掠腦後發，而精邪不敢近。夜間行勿歌唱大叫。久坐傷肉，久臥傷氣。坐勿背日，勿當風濕，勿坐臥於墳墓之傍，令人精神散。燈燭而臥，神魂不安，尤忌行房。口吹燈則損氣。將睡叩齒則齒固。臥宜側身屈膝，不損心氣，覺宜舒展，精神不散，舒臥招邪魅。床高三尺以上，則地氣不及，安臥榻當門，不吉。枕內安麝辟邪，安決明子、菊花明目。濯足而臥，四肢無冷疾。臥足一伸一屈不夢泄。寢不得言語，五臟如懸磬然，不懸不可發聲。睡不可張口，泄氣損氣。眠勿歌詠，大不祥。夜間不宜說鬼神事。醉臥黍穰中發瘡患。人臥不可戲將筆墨畫其面，魂不歸體。臥魘不語，是魂魄外遊，為邪所執，宜暗喚或以梁上塵吹鼻中即醒，忌以火照，則神魂不入，或於燈前魘者，本由明出不忌火，並不宜近喚及急喚，亦恐失神魂也。起晏則神不清。凡睡覺飲水更睡成水癖。</p>
<p>沐浴未乾未可睡。頻浴者，氣壅於腦，滯於中，血凝而氣散，體雖澤而氣自損，故有癤疽之患。多汗損血。大汗偏脫衣，及醉令人扇，生偏枯半身不遂。食飽不可洗頭，不宜冷水淋。用炊湯洗面無精神。水過夜面上有五色光彩，及磨刀水俱不可洗手。人生十歲，五臟始定，血氣通，真氣在下，好走。二十歲血氣始盛，肌肉方長，好移。三十歲五臟大定，肌內堅固，血脈盛滿好步。四十歲臟腑十二筋脈皆大盛以平定，腠理始疏，榮華頹落，發頗斑白，平盛不搖，好坐。五十歲肝氣始衰，肝葉始薄，膽汁始減，目始不明。六十歲心氣始衰，善憂悲，血氣懈惰，好臥。七十歲脾氣虛，皮膚枯。八十歲肺氣衰，魄將離，故言善誤。九十歲腎氣焦，四臟經脈虛。百歲五臟皆虛，神氣乃去，形骸獨居。人年四十陰氣自半矣，五十肝氣衰，六十筋不能動，精氣少，須當自慎自戒，少加調和攝養，寧不為養生之本。七十歲以上取性自養，不可勞心苦形，冒寒暑。若能順四時運氣之和，自然康健延年，苟求貪得尚如壯歲，不知其可也。養生以不損為延年之術，不損以有補為養生之經，居安慮危，防未萌也。不以小惡為無害而不去，不以小善為無益而不為。雖少年致損，氣弱體枯，及晚景得悟防患補益，氣血有餘而神自足矣。導引法，夜半後生氣時，或五更睡覺，或無事閒坐腹空時，寬衣解帶，先微微呵出腹中濁氣一九止，或五六止，定心閉目，叩齒三十六通，以集身神，然後以手大拇指背拭目，大小九過，使無翳障，明目去風，亦補腎氣。兼按鼻左右七過，令表裡俱熱，所謂灌溉中嶽以潤肺。次以兩手摩令極熱，閉口鼻氣，然後摩面，不以遍數，連發際，面有光。又摩耳根耳輪，不拘遍數，所謂修其城郭，以補腎氣，以防聾聵。真人起居之法，次以舌拄上齶，漱口中內外津液滿口，作三嚥下之，如此三度九咽，便兀然放身，心同大虛，身若委衣，萬慮俱遣，久行之，氣血調暢，自然延壽也。又兩足心湧泉二穴，能以一手舉足，一手摩擦之百二十數，疏風去濕，健腳力。手常摩擦皮膚溫熱，慰去冷氣，此調中暢外，養形之法。</p>
<p>入山山精老魅多來試人形，當懸明鏡九寸於背後，以闢眾惡。蓋鬼魅能變形，而不能使鏡中之形變，其形在鏡中，則消亡退走，不敢為害。渡江河硃筆書「禹」字佩之，能免風濤之厄。如遇風使帆，若風勢顛猛，便須少落帆，投港稍泊，不得貪程。倘風勢不止，天色昏暮，前行不知，宿泊多有疏失。如使風，遇風忽轉，便當使回尋港，不可當江拋錨，止望風息，恐致誤事。春夏港汊內泊舡，須多用椿纜，恐忽有山水漲發沖決之患。如秋冬當江稍泊，夜間勤起看風色，加添繩纜，恐貪睡有倉卒之患，措手不及。在船人等，過晚不可盡醉，恐有不測，無人使喚。每到馬頭關津，不可令婦人妝飾露白，恐惹眼目。在舡器用金銀，衣服不必鮮華，到處買物交易，密地包藏上船，毋得彰露。遇晚宿泊，須要趕伴，或前或後，不可孤零，三五生人，不可容易搭載。凡上下水船，忽見後有小船，遠近相逐，當早奔汊宿泊，日落泊西，黃昏不見人時，又泊向東，或前或後，使人不認方可。凡夜起必喚知同伴。出門外必回身掩門，恐盜乘隙而入。凡覺有盜及犬吠，宜喚醒同伴，直言有盜，徐起逐之，盜必且竄，不可乘暗擊之，恐盜急刀傷及我，及誤擊自家之人。起逐盜防改易元路。賊以物探，不可用手擊。凡刀刃傷，切勿飲水，令血不止而死。當急以布蘸熱湯合之，或冷水浸嚼柏葉止血妙。簫管掛壁，取之勿便吹，恐有蜈蚣。古井及深阱中有毒氣不可人。窺古井損壽，塞古井令人盲聾。女子不宜祭灶。婦人不宜跂灶。坐灶前不宜歌唱、罵詈、吟哭、咒咀、無禮。刀斧不宜安灶上，簸箕不宜安灶前。灶灰不宜棄廁中。登廁不宜唾，初登時咳嗽三聲，吉。日夜無故，不可於官舍正廳，私家正堂向南坐，多招異事。</p>

<h2>御情</h2>
<p>大道無情，非氣不足以長養萬物，氣化則物生，氣壯則物盛，氣變則物衰，氣絕則物死。此生長收藏之機，萬物因之而成變化也。人肖天地，同此一氣，七情六慾，交相震撓，真氣耗極，形體消亡而神自去矣。故喜樂無極則傷魄，魄傷則狂，令人心意不存，皮革焦。多笑則傷臟且傷神。大怒傷肝，血不榮於筋，而氣激上逆，嘔血目暗，使人薄厥。怒甚而不止，志為之傷，健忘前言，腰背隱痛。多怒則百脈不定，鬢髮焦，筋痿為勞，藥力不及。當食暴嗔及晨嗔，令人神驚，夜夢飛揚。悲哀動中則傷魂，魂傷則狂忘失精，久而陰縮拘攣。悲哀太甚則胞絡絕，傷氣內動。悲哀則傷志，毛悴色夭，竭絕失生。遇事而憂不止，遂成肺勞。憂愁不解則傷意，恍惚不寧，四肢不耐。當食而憂，神為之驚，夢寐不安。大恐傷腎，恐不除則志傷，恍惚不樂。恐懼不解則精傷，骨酸瘛瘲，精時自下，五臟失守，陰虛氣弱不耐。多好則專迷不理，多惡則憔悴無歡。疑惑不止，心無所主，正氣不行，外邪干之，必為心疾。思憂過度，恐慮無時，鬱而生涎，涎與氣結，升而不降，憂氣勞思，不食，為五噎之病。女人憂思哭泣，則陰氣結，月水時少時多，內熱苦渴色惡，肌體枯黑。凡人不可無思，常漸漸除之。人身虛無，但有遊氣，氣息得理，百病不生。道不在煩，但能不思衣食，不思聲色，不思勝負，不思得失，不思榮辱，心不勞，神不極，自爾可得百歲。精者，神之本；氣者，神之主；形者，氣之宅。神太用則耗，氣太用則竭，氣太勞則絕。氣清則神暢，氣濁則神昏，氣亂則神勞，氣衰則神去。樂色不節則耗精，輕用不止則精散。年高之人，血氣衰弱，陰事輒盛，必慎而抑之，一度不泄，一度火滅，一度火滅，一度增油，若不制而縱情，則是膏火將滅，更去其油。人年六十者，當閉精勿泄，若氣力尚壯盛者，亦不可強忍。能一月再泄精，一歲二十四泄，得壽二百歲。故曰上士異床，中士異被，欲多則損精。人可保者，命；可惜者，身；可重者，精。肝精不用，目眩無光；肺精不交，肌內消瘦；腎精不固，神氣滅少；脾精不堅，齒髮浮落。若耗散真精，疾病死亡隨至。故曰多思則神散，多念則心勞，多笑則臟腑上翻，多言則氣海虛脫，多喜則膀胱納客風，多怒則腠理奔浮血，多樂則心神邪蕩，多愁則頭面焦枯，多好則智氣潰溢，多忿則精爽奔騰，多事則筋脈乾急，多機則智慮沉迷。伐人之生，甚於斧斤；蝕人之性，猛於豺狼。夫未聞道者，放逸其心，逆於生樂，以精神殉智巧，以憂畏殉得失，以勞苦殉禮節，以身世殉財利，四殉不置，心為之病矣。極力勞形，噪奉氣逆，當風縱酒，餐嗜辛酸，肝為之病矣。飲食生冷，溫涼失度，久坐久臥，大飽大飢，脾為之病矣。呼叫過常，辨爭倍答，冒犯寒暄，恣食鹹苦，肺為之病矣。久坐濕地，強力入水，縱欲勞形，三田漏溢，腎為之病矣。五病既作，故未老而羸，未羸而病，病至則重，重則必斃。嗚呼！是皆弗思而自取之也。強力入房，則精耗腎傷，髓枯腰痛。陰痿不能快欲，強服丹石以助陽，腎水枯竭，心火如焚，五臟乾燥，消渴立至。醉飽行房，令人五臟翻覆。忿怒中盡力房事，精虛氣壅，發而癰疽。恐懼中房事，陰陽偏虛，發厥，自汗盜汗，積而成勞。遠行疲乏入房，為五癆虛損。月事未絕而交接生白駁，又冷氣入內，身面痿黃，不產。忍小便入房得淋，莖中痛，面失血色，或致胞轉，臍下急痛，死。新病起而行房，或少年而迷欲，交接輸瀉，必動三焦，動則熱而欲火熾，因入水致中焦熱鬱發黃，下焦氣勝額黑，上焦血走隨瘀熱行內，大便黑溏。服腦麝入房，關竅開通，真氣走散。時病未復犯者，舌出數寸，死。諸神降日犯淫者促壽。朔日減一紀，望日減十年，上弦、下弦、三元減五年，二分、二至、二社各減四年，庚申、甲子、本命減二年。正月初三日萬神都會，十四、十六三官降，二月二日萬神會，三月初九日牛鬼神降，犯者百日中惡。四月初四日，萬佛善化，犯者失音。每月初八，善惡童子降，犯者血死。五月三個五日，三個六日，三個七日，為九毒日，犯者不過三年。十月初十日夜，西天王降，犯之一年死，十一月二五，掠剌大夫降，犯之短年。十二月初七，夜犯之惡病死。二十日天師相交行道，犯之促壽。每月望日，人神在陰，四月十月，陰陽純用事，俱不可犯淫。童男室女，積想在心，思慮過當，多致苛損。羸女宜及時而嫁，弱男則待壯而婚。</p>

<h1>卷之四</h1>

<h2>處己</h2>
<p>世事多更變，乃天理如此。今世人往往見目前稍稍榮盛，以為此生無足慮，不旋踵而破壞者多矣。大抵天序十年一換甲，則世事一變，今不須廣論久遠，只以鄉曲十年前，二十年前比論目前，其成敗興衰何當有定勢？世人無遠識，凡見他人興進及有如意事則妒忌，見他人衰退及有不如意事則譏笑，同居及同鄉人最多此患。若知事無定勢如築牆之板然，或上或下，或下或上，則自慮之不暇，何暇妒人、笑人哉？誇之一字，壞人終身，凡念慮言語，才有誇心，即便斷卻，滿招損，謙受益，時乃天道。又曰作事皆依本分，屈己饒人，終無悔吝。為錢穀毋與人爭鬥，款款讓人。至於禍患中，第一莫使性氣，中外些小事，一切用柔道理之。識些道理，不做好人，天地鬼神亦深惡之。蓋不識好惡如童稚，如醉人，雖有罪，可赦。若知而故犯，王公不可免也。膺高年，享富貴之人，必須少壯之時，嚐盡艱難，受盡辛苦，不曾有自少壯享富貴安逸至老者。故早年登科甲，及早年得意之人，必於中年齟齬不如意，中年齟齬不如意，卻於暮年方得榮達。或仕宦無齟齬，必其生平窘薄，憂飢寒、慮婚嫁，有所困鬱而然。若早年宦達，不歷艱難辛苦，及承父祖生業之厚，更無不如意者，又多不獲高壽。蓋造物乘除之理，類多如此。其間亦有始終享富貴者，乃是有大福之人，亦千萬人中間或有之。今人往往機心巧謀，皆欲不受辛苦，終身享有富貴，且思延其子孫，恐人力終不能勝天，徒為蒼蒼者笑耳。人生世間自有知識以來，即有憂患不如意事。小兒叫號，皆其意有不平。自幼至少、至壯、至老，如意之事常少，不如意之事常多。雖大富貴之人，天下之所仰羨以為神仙，而其不如意處各自有之。與貧賤人無異，特其所憂患之事異耳，故謂之缺陷世界。以人生世間，無足心滿意者。能達此理而順受之，則可少安。凡人謀事，雖日用至微者，亦須齟齬而難成，或已成而敗，既敗而覆成，然後其成也，永久平寧，無復後患。若偶然易成，後必有不如意者。造物機微，不可測度，如此靜思之，則見此理，可以寬懷。人之在世，吉凶悔吝，皆生於動，四者之中，惟吉一而已。人豈可不於舉動慎乎？人之性行，雖有所短，必有所長。與人交遊，若常見其短，而不見其長，則時日不可同處，若念其長，而不顧其短，雖終身與之交遊可也。凡人行己公平正直者，可用此以事神，不可恃此以慢神，可用此以事人，不可恃此以傲人。雖孔子亦以敬鬼神，事大夫，畏大人為言，況下此者哉？彼有行己不當理者，中有所歉，動輒知畏，猶能避遠災禍，以保其身，至於君子而偶罹於災禍者，多由自負以召致之耳。</p>
<p>人立詈人，而人不答者，必有所容也。不可以為人畏我，而更求以辱之，人或起而我應，恐口噤而不能出言矣。人有訟人，而人不校者，必有所處也。不可以為人畏我，而更求以攻之，為之不已，人或出而我辨，恐理虧而不能逃罪矣。同居之人，或往來須揚聲曳履，使人知之，不可默造。倘或適然議我，彼此慚愧，況其間有不曉事之人，好伏於幽暗處，以伺人言，此生事興訟之端也。凡人僻居靜坐，不可輒譏議人，必慮有聞之者，俗謂牆壁有耳是也。稠人中亦不可譏人，恐有相親厚者。士大夫之子弟，苟無世祿可守，無常產可依，而欲為仰事俯育之計，莫若為儒，命通可以取科第。否則訓導生徒，可以取束脩之奉。否則後事筆札，可以為餬口之資。如不能為儒，則醫卜、農商技藝可以養生，不至辱先，皆可為然。必以廉恥節義為先，雖貧賤至極，亦不可失。不然則安逸無事，流蕩無成，心術大壞，甚至為乞丐盜竊者，亦可哀哉。凡人生耽迷麴櫱而縱飲無度，貪饕膏梁而侈濫不已，家富者至於破蕩，家貧者必為劫盜，甚至賣墳塋樹木，掘父祖棺木者。悲夫！悲夫！有誡飲者曰：吃酒二斤，糴麥一斗，磨面五斤，可飽十口。誡食曰：人能咬菜根則百事可做。倡優起於夏桀聲伎之奉，其來雖遠，但尤物移人，後必有災，古人之戒極明，切矣。其不曉世事者，被誘固不足怪，而素稱明智，亦有被其狐媚蠱惑，迷不自覺，至於敗德喪身亂家者，殊可哀憫也。故有詩曰：二八嬌娥體似酥，笑中懸劍斬愚夫，雖然不見頭顱落，暗使精神即漸枯。博與奕，乃貪心、殺心、癡心、嗔心之變理也，於事雖小，害道則大。人家不肖子孫，墮其窟窖，至有敗蕩家業，喪失身命者，要皆一念，貪癡之心，有以溺之耳。少年之人，尤宜警戒。故曰：世人不省事，日日奕與博，贏得轉頭空，何須論高著。黃白之說，固有是事，乃大福德之人，鬼神欲資其了道，故以界之，亦非資其富貴也。世之碌碌者，妄意希冀，信丹客虛誑，而迷戀不已，然不知非求之所可得也。況得之未必能享耶。借使有之，彼丹客者豈不自珍秘，而肯輕以與人耶？其不可信明矣。故有詩曰：破布衣衫破布裙，逢人便說會燒銀，若還果有燒銀術，何不燒此養自身。又云：肯將身後無窮術，賣得人間有限財。卜其宅祧葬之事也，葬乘生氣，葬之理也。世乃溺於風水可致當富貴，而百計營求甚至暴露其親，以俟善地，至終身不葬焉。殊不知人固有得地而發福者，苟非天與善人，或亦地遇其主而然，蓋萬中之一也。若心慕富貴，不加修為，而顓顓謀人之地，思以致之，是欲以智力而竊奪造化之權，豈理也哉？故有詩曰：風水先生慣說空，指南指北指西東。山中定有王侯地，何不搜尋葬乃翁。</p>

<h2>睦親</h2>
<p>上智不教而成下愚，雖教無益，中庸之人，不教不知也。古者聖王有胎教之法，及子生孩提，師保固明，仁孝禮義，以導習之矣。凡庶縱不能爾當及嬰稚，識人顏色，知人喜怒，便加教誨，使為則為，使止則止，比及數歲，可省笞罰，父母威嚴而有慈，則子女畏懼而生孝矣。吾見世間無教而有愛，曲意順從，飲食運為，恣其所欲，宜誡反獎，應訶反笑，至有識知，謂法當耳。驕慢已習，方複製之，垂撻至死而無成，忿怒日隆而增怨，逮於成長必為敗德。孔子云：少成若天性，習慣如自然是也。凡人不能教子女者，亦非欲陷其罪惡，但不忍訶怒傷其顏色耳，不忍楚撻慘其肌膚耳。當以疾病為諭，安得不用湯藥針艾救之哉？父子之嚴，不可以狎。骨肉之愛，不可以簡。簡則慈孝不接，狎則怠慢性焉。由命士以上，父子異宮，此不狎之道。抑搔癢痛，懸衾篋枕，此不簡之教也。人之愛子，罕亦能均，自古及今，此弊多矣。賢俊者自可賞愛，頑魯者亦當矜憐，有偏寵者，雖欲以厚之，更所以禍之。共叔之死，母實為之，趙王之戮，父實使之。劉表之傾宗覆族，袁紹之地裂兵亡，可為靈龜明鑑也。人之有子，必使各有所業。貧賤有業，不致於飢寒。富貴有業，不致於為非。凡富貴之子弟，耽酒色，好博奕，異衣服，飾輿馬，與群小為伍，以致破家者，非其本心之不肖，由無業以度日，遂起為非之心。小人贊其為非，則有哺啜錢財之利，常乘間而贊成之，子弟宜早省悟。子孫有過，父祖多不能知，貴官尤甚。蓋子孫有過，多掩蔽父祖之耳目，外人知之，竊笑而已。至於鄉曲之進見，有時稱道盛德之不暇，豈敢言其子孫之非？又自以子孫為賢，而以人言為誣，故子孫有彌天之過，而祖父不知也。間有家訓稍嚴，而母氏猶有庇其子之惡，不使其父知之者。富家之子孫不肖，不過耽酒色，近賭博，破家之事而已。貴家之子孫不止於此，強索人之錢，強貸人之財，強借人之物而不還，強買人之物而不償，親近群小則假勢以凌人，侵害良善則飾詞而妄訟。鄉人有曲理犯法事，認為己事，名曰擔當。鄉人不爭訟，則偽作祖父之簡，千懇州縣，以曲為直。差夫借船，放稅免罪，以所得為酒色之娛，殆非一端。其隨侍也私令吏人買物，私托場務賣物，皆不償。其直吏人補名，吏人免罪，吏人有浸潤，必責其報典。買婢妾限以低價，而使他人填賠。或同院子游狎，或於場務放稅，其他妄有求覓，亦非一端，不恤誤其父祖，陷於刑憲也。凡為人父祖者，常嚴為關防，更宜詢訪，或庶幾焉。夫有人民而後有夫婦，有夫婦而後有父子，有父子而後有兄弟，一家之親，此三者而已矣。自茲以往，至於九族，皆本於三親焉。故於人倫為重，不可不篤。若兄弟者，分形連氣之人也。方其幼也，父母左提右摯，前襟後裙，食則同案，衣則傳服，學則連業，遊則共方，雖有悖亂之人，不能不相愛也。及其壯也，各妻其妻，各子其子，雖有篤厚之人，不能不少衰也。姊娰之比兄弟則疏薄矣。今使疏薄之人，而節量親厚之恩，猶方底而圓蓋，必不合矣。惟友愛深至不為傍人之所移者勉。夫二親既沒，兄弟相顧，當若形之與影，聲之與響，愛先人之遺體，惜己身之分氣，非兄弟何念哉？兄弟之際，異於他人，望深則易怨，望近則易餌，譬猶居室，一穴則塞之，一隙則塗之，庶無頹毀之慮。如雀鼠之不恤，風雨之不防，壁陷楹淪，無可救矣。僕妾之為雀鼠，妻子之為風雨，甚哉。兄弟不睦，則子侄不愛。子侄不愛，則群從疏薄。群從疏薄，則童僕為雙舌矣。如此則路行皆錯，其面而蹈，其心誰救之哉？人家不和，多因婦女以言激怒其夫，及於同氣。蓋婦女所見不廣遠，不公平，所謂舅姑伯叔妯娌，皆假合強為稱呼，非自然天屬，故輕於割恩，易於悠怨，非丈夫有遠識，則為其役而不自覺，一家之中，乖變生矣。於是兄弟子侄，有隔屋連牆至死不往來者，有無子而不肯以猶子為後，有多子而不與兄弟者，有不恤兄弟之貧，養親必欲如一，寧棄親而不顧葬親，亦欲均費；寧留喪而不葬者，其事多端，不可既述。亦有遠識之人，知婦女之不可諫誨，而外與兄弟相愛，私救其所急，私賙其所乏，不使婦女知之，彼兄弟之貧者，雖怨其婦女，而愛其兄弟，至於分析，不敢以貧而貪愛兄弟之財產者，蓋由不聽婦人之言，而先施之厚，因以得兄弟之心也。婦女易生言語者，多出於婢妾，婢妾愚賤，尤無見識，以他人之短，言於主母。若婦人有見識，能一切勿聽，則虛妄之言，不復敢進。若聽信之，從而愛之，則必再言之，又言之，使主母與人遂成深仇，而婢妾方且得志。奴隸亦多如此。若主翁聽信門房族親，故皆大失歡。有識之人，自宜觸類醒悟。兄弟子侄，同居長者，或恃其長，凌轢卑幼，專用其財，自取溫飽，因而成私，薄書出入，不令幼者預知，幼者至於飢寒，必啟爭端，固為不可。或長者處事至公，幼者不能承順，盜取財物以為不肖之資，尤為不可。若長者總持大綱，幼者分干細務，長必幼謀，幼必長聽，各盡公心，自然無事。朝廷立法於分析一事，非不委曲，然有竊眾營私，卻於典買契中，稱系妻財置到，或詭名置產，官中不能盡究。又有處於貧寒，不因父祖資產，自能奪立，營置財業，或雖有祖眾財產，別事置立私財，其同宗之人，必求分析。至於經州縣所在官府，累年爭訟，各至破蕩而後己。若富者反思，果因眾成私，不分與貧者，於心豈無愧歉？果是自置財產，分與貧者，明則為高義，幽則為陰德，又豈不勝於連年爭訟，妨廢家務，及資結證佐，囑託胥吏賄賂官負之費耶？貧者亦宜自思，彼非竊眾，亦由辛苦營運，以至增置，豈可悉分之？況彼之私財，吾受之寧有不愧？苟能知此，必不至爭訟也。一應親戚故舊，有所假貸，不若隨力給與之。言借則我望其還，不免有所索，索之既頻，而負償者反曰我欲償之，以其頻索，則姑已之。方其不索，則又曰彼不下氣問我，我何力強還之？故索亦不償，不索亦不償，終於結怨而後已。蓋貧人之假貸，初無欲償之意，縱其欲償，則將何償？或假作經營，又多以命窮計拙而折。方其始借之時，禮恭言遜，其感恩之心，指天誓日可表，及其至責償之，日恨不以兵刃相加，所謂因財成怨矣。不若念其貧，隨吾力之厚薄，以與之財，我無責償之，念彼亦無怨於我也。同姓之子，昭穆不順，亦不可以為後。鴻雁雖微，亦不亂行，人乃不然，至於以叔拜侄於理安乎？設不得已，養弟、養侄孫以奉祭祀，當撫之如子，與之財產。受所養者，奉之如父，如古人為嫂制服，今世為祖承重之意，而昭穆不亂，庶幾得之。若近世立繼，其在生前者，多出於所後，本心猶不為害。至於死後立繼，往往皆為遺資爭競而已。彼貧而無後者，曾見誰為之意哉？此最可為慨嘆者也。古人謂：周人惡媒，以其言語反覆，詒女家則曰男富，詒男家則曰女美，近日尤甚。若輕信其言而成婚，則夫婦反目，至於仳離者有之。大抵嫁娶，固不可無媒，而媒者之言，不可盡信。至於為婚姻爭告者，蓋緣議婚之始，不立婚書，止憑媒言，或小札為定，亦是一大不美事，婚姻之家，宜謹始可也。人之姑姨姊妹，及親戚婦人，年老而子孫不肖，不能供養者，不可不收養。然又當關防，恐其身故之後，其不肖子孫妄經官府，稱其人因飢寒而死，或稱其遺下有囊篋之物，官府受詞必為追證所擾。須於生前白之於眾，明白知其身外，無餘物而後可，凡要為高義之事，必預防之。父祖高年，怠於營幹，多將財產，均給子孫。若父祖出於公心，初無偏曲，子孫各能戮力，不事遊蕩，必致興隆。若父祖緣有過房之子，有前母后母之子，有子亡而不愛其孫，又雖是一等子孫，自有憎愛，凡衣食財物，亦有厚薄，致令子孫，力求均給，其父祖於其中，又有輕重，安得不起他日爭端？若父祖緣子孫內有不肖者，慮其侵害，不得已而均給者，止可逐時均給財谷，未可均給田產。若均給田產，彼以為已分所有，必邀求尊長立契典賣。典賣既盡，窺覷他房，從而婪取，必致興訟，使賢子賢孫，被其擾害，同於破蕩，不可不思。大抵人之子孫，或十數人皆賢，其中有一人不肖，則十數均受其害，至於破家者有之。國家法令百端，終不能禁，父祖智謀日出，終不能防。欲保家延祚者，覽他家之已往，思我家之未來，可不悠德熟慮，以為長久之計耶？遺囑之文，皆賢明之人，為身後之慮然，亦須公平，乃可以保家。如劫於悍妻黠妾，因後妻愛子，中有厚薄偏曲，或妄立嗣，或妄逐子，不近人情之事，不可勝數，皆興訟破家之端也。</p>

<h1>卷之五</h1>

<h2>治家</h2>
<p>夫風化者，自上而行於下者也，自先而施於後者也。是以父不慈則子不孝，兄不友則弟不恭，夫不義則婦不順矣。父慈而子逆，兄友而弟傲，夫義而婦陵，則天下之凶民，乃刑戮之所攝，非訓導之所遺也。笞怒廢於家，則豎子之過立見，刑罰不中，則民無所措手足。治家之寬猛，亦猶國焉。孔子曰：奢則不遜，儉則固，與其不遜也寧固。又曰：如有周公之才之美，使驕且吝，其餘不足觀也。已然則可儉而不可吝也。儉者，省約為禮之謂也。吝者，窮急不恤之謂也。今有奢則施，儉則吝，如能施而不奢，儉而不怯可矣。生民之本，要當稼穡而食，桑麻以衣。蔬果之用，取給於園場；雞豚之畜，所資於時圈。爰及棟宇器械樵蘇脂燭之類，取足於山林，是閉門而為生之具已足，但無鹽井耳。人有事業而能勤儉節用以贍衣食，自能久遠，有何不可？惟奢侈者，求炫目前，圖人誇羨，易富易貧，多不逮焉。昔人有詩云：莫入州衙與縣衙，勸君勤理作生涯。池塘多放聊添稅，田地深耕足養家。教子教孫須教義，栽桑栽柘勝栽花。閒非閒事都休管，渴飲清泉困飲茶。又云：仕宦之人，南州北縣。商賈之人，天涯海岸。爭如農夫，六親對面。夏絹新衣，秋米白飯，鵝鴨成群，豬羊滿圈。官稅早輸，逍遙散誕。似此之人，直錢千萬。婦主中饋，唯事酒肉、衣服之禮耳。國不可使預政，家不可使幹蠱。如有聰明才智，識達古今，正當輔佐君子，助其不足。不可牝雞晨鳴，以致家禍焉。太公曰：養女太多一費也。陳蕃曰：盜不過五女之門，女之為累久矣。然天生蒸民，先人傳體，其如之何？世人多不育女，賊行骨肉，豈可如此，而望福於天乎！吾有疏親，家饒，妓媵，誕育將及，便遣閽豎守之體，有不安窺窗倚戶，若生女者，輒持將去，母隨號泣，莫敢救之，使人不忍聞也。婦人之性，率寵於婿，而虐兒婦，寵婿則兄弟之怨生焉，虐兒婦則姊妹之讒行焉。然則女之行，得罪於其家者，母實使之。諺云：落索阿姑餐此其相報也。家之常弊，可不戒哉。婚姻量財自是人道之常。近世嫁娶遂有賣女納財，買婦輸絹，比量父祖，計較錙銖，責多還少，此與市井交易無異。或蝟婿在門，或傲婦擅室，以致壞家成仇者，往往有之。貪榮求利，反招羞恥，可不慎歟。人家好夜飲多生奸盜，此最宜戒。其夜臥若停燈，分明是與賊為眼，切記不可。劫盜雖小人之雄，亦自有識見。如富貴家平時不刻剝，又能樂施，又能種種方便，當兵火擾亂之際，猶得保全，必不忍焚燬其屋。凡盜所決意焚掠者，皆積惡之人，人宜自省。富人有愛其小兒者，以金銀珠寶之屬飾其身，小人有貪者，於僻靜處壞其性命，而取其物。雖聞於官，置於法，何益小兒？非有壯夫攜抱，不可令遊行巷，恐有誘略之人。清晨早起，昏晚早睡，可防婢僕奸盜。婢妾苦與主翁親近，多挾此私通僕輩，有子則以主翁藉口，破家多矣。凡有婢妾，不可不謹其始而防其終也。人有婢妾，不禁出入，至於外人私通有妊之日，不正其罪，而遽逐去者，往往有於主翁身故之後，言是主翁遺腹子而求歸宗，旋至興訟。所宜謹此，免累後人。婦人多妒，有正室者，少蓄婢妾。蓄婢妾者，內有子弟，外有僕隸，皆當閒防。制以主母，猶有他事，況無所統轄，以一人之耳目，臨之豈難欺蔽哉。暮年及有別宅，尤非所宜，使有意外之事，當如之何？夫置婢妾教歌舞，使侑樽以為賓客之歡，切勿蓄恣貌過人者，慮有惡客起覬覦之心，必欲得之，逐獸則不見太山，苟勢可以凌我，則無所不至，綠珠之事，在古可鑑。凡幹人須擇勤謹，其狡獪者決不可用。其有頑狼全不中使令者，宜善遣之，不可留，留則生事。主或過於毆傷，此輩或挾怨為惡，有不忍言者。婢僕有奸盜及逃亡者，宜送之於官，依法治之，不可私自鞭撻。亦恐有意外之事，或逃亡非其本情，或所竊止於微物，宜念其平日有勞，只略懲之，仍前留備使令可也。婢妾有小過，不可親自鞭打，蓋不時怨氣所激，鞭打之數必不記，徒且費力，婢僕未必知畏。惟徐徐責問，令他人執而打之，視其過之輕重，而足其數，雖不過怒，自然有威，婢妾亦自畏憚矣。壽昌胡彥持家，子弟不得自打僕隸，婦女不得自打婢妾，有過則告之家長為之行遣。婦女擅打婢僕則撻子弟，此賢者之家法也。婢僕宿臥去處，當為點檢，冬無風寒，夏無蚊蚋。以至牛馬六畜，過冬寒各為區處牢圈棲息之處，此仁之用心，物我為一理也。蓄奴婢惟本土人最善，或病患則有親屬為之扶持，或非理自殘，有親以明其事，或婢妾無父母兄弟可依，僕隸無家可歸，念其有勞，不可不養，當預經官自陳，則無後患。買婢妾不可不細詢其所自來，恐有良人子女為人所誘，若果然則告之於官，不可還與引來之人，恐有自殘。佃僕婦女等，於人家婦女小兒輩，每每誘誑，莫令家長知而借貸錢穀，以生放利息者，是皆有心於騙取，必無還意。蓋婦女小兒，不令家長知，則不敢取索，不敢取索，則終為所負。為家長者，宜常以此言喻之。尼姑、道婆、媒婆、牙婆及婦人以買賣針炙為名，皆不可令入人家，凡脫漏及引誘為不美之事，皆此曹也。鄰近利便之產欲得之，宜增其價，不可恃勢執其親鄰典賣，及無人敢買而欲低折其價，萬一他人買之，則悔且無及，亦爭論之由也。凡交易必須項項合條，即無後患。不可以人情契密，不為之防，或失歡成爭端。如交易取錢未盡，及贖產不曾取契之類，宜即理會去著，或即聞官以絕將來詞訟。貧富無定勢，田產無定主，有錢則買，無錢則賣，買產之家，當知此理，不可苦抑賣產之人。蓋人之賣產，或缺食、或負債、或疾病、或死亡、或婚嫁、爭訟，百千之用，則鬻百千之產。若買產之家，即還其值，雖轉手無存，已濟其用。惟為富不仁之人，知其欲用之急，則陽拒陰鉤之以重摺其價，既成契，則始還其值之半，延引數日，辭以未辨，或以此少米穀他物，高價補償，而出產之家所得零微，隨即耗散，向之準擬以辨此事，今不復辨矣。而又往來取討，跋涉之費出乎其中。彼富家方自喜以為善謀，不知天道好還有及其身而獲報者。縱不及其身，而及其子孫，富家多不之悟。貪並之家，恃其豪強，見富家子弟，昏愚不肖，及有緩急，多是將錢強以借與，或始借之，時設酒食，以媚悅其意，或既借之後，歷數年而不索。待其息多，又設酒食以誘使之，轉息併為本錢，而又生息，又誘勒其將田產折還於條，雖倖免天綱則不漏。諺云：富兒更替做迭相報也。詩曰：十分惺惺使五分，且留一半與兒孫。若把惺惺都使盡，恐怕兒孫不如人。又曰：一派青山景色幽，前人田土後人收。後人收得休歡喜，還有收人在後頭。凡輕於舉債者，多不可借，蓋此輩必是無藉之人，已有負賴之意。故凡借人錢穀，少則易償，多則易負，故借多者，雖力可還，亦不肯還，寧以所還之資，為爭訟之費者多矣。凡人之敢於舉債者，必謂他日之寬餘可以償也。不知今日之無，他日何為而有。譬如百里之路，分為兩日行，則兩日可辦。若以今日之路，使明日並行，雖勞亦不可至。無遠識之人，求目前寬餘，而那積在後者，無不破家也。凡人有好爭訟者，此不可曉萬一，必不得已被人殘賊欺害。告狀固是正事，其中有小事閒氣，及事不幹已，並些小財物田產，往往爭告累年，不以是非為曲直，惟以勝負為強弱，甚至牽累至死，破產殆盡，傷情害義，而不顧不息者，此愚人之極也。昔有詩日：些小爭差莫若休，不經府縣與經州。費錢吃打陪茶酒，贏得貓兒賣了牛。最可唸誦。鄰里鄉黨，無所逃於世者也，處之最宜和穆，相賙相恤，相比相容，比之家親，似當均一。不然，孤立無與，緩急誰為之濟哉？凡有產必有稅賦，須是先留輸納之費，卻將餘剩給供日用。所入或薄，只得省儉，不可輒爾侵費，若臨時官中追索，未免舉貸出息，以致耗家。大抵曰貧曰儉，自是賢德，切不可以此為愧，若能知此，則自無破家之患矣。人有糾率錢物造橋修路及造渡船，宜隨力助之，不可謂舍財不見獲福而不為。且如道路橋船既成，吾晨出暮回，過橋乘渡，無有疏虞，皆所獲福也。凡人之經營財利，偶有得意致富者，必其命運亨通，造物者陰陽至此。其間有不達者，欲以智力求之，如販米則加之以水，賣鹽則加之以灰，賣漆則和之以油，賣藥則雜之以他物，如此等類目下，僥倖其心欣然，不知造物者，隨即以他事取去，終於貧乏。所謂人力不能勝天，大抵轉販經營，先存心地，凡物貸必真，又須本分不貪厚利，任天理如何？雖目下所得之薄，必無後患矣。起造屋宇，最人家至難之事。蓋未造物之時，匠者惟恐主人憚費而不為，則必小其費用，主人以為力量可辦，銳意為之。及至半途，凡事頓增，主人勢不可止，或舉債以圖成，事又不能充，或停閣以費前功，甚至破家者有矣。余嘗勸人起造屋宇，須數年經營，凡木植瓦石以漸為之，雖工顧之費，亦不取辦於倉卒，則屋成而富自若矣。凡人安處，非華堂邃宇重裀廣榻之謂，在乎雅素潔淨耳。尤須南向而坐，東首而寢，陰陽適中，明暗相半。屋無高，高則陽盛而明多；屋無卑，卑則陰盛而暗多。明多傷魂，暗多傷魄，人之魂陽而魄陰，苟傷明暗則疾病生，此居處高下使然。況天地之氣，有亢陽之攻肌，淫陽之侵體，豈可不防慎哉。故曰居室四邊皆窗戶，遇風即闔，風息即開。前簾後屏，太明則下簾以和其內映，太暗則捲簾以通其外曜，內以安心，外以平目，心目皆安，則身安矣。凡人居洪潤光澤陽氣者吉，乾燥無潤澤者凶。前低後高，世出英豪，前高後低，長幼昏迷。左下右昂，男子營昌，陽宅則吉，陰宅不強。左下右高，陰宅豐豪，陽宅非吉，主必奔逃。兩新夾故，死須不住，兩故夾新，光顯宗親，新故俱半，陳粟朽貫。實東空西，家無老妻，有西無東，家無老翁。壞宅留屋，終不斷哭，宅材鼎新，人旺千春。薦屋半柱，人散無主，間架成只，潛資衣食，接棟連屋，三年一哭。宅欲左有流水為青龍，右有長道為白虎，前有汙地為朱雀，後有丘陵為玄武，為最貴地。若無此相應種樹，東種桃柳，西槐榆，南種梅棗，北種李杏。凡宅不居當沖口處，不居古寺廟及祠社爐治處，不居草木不生處，不居故軍營戰地，不居正當流水，不居山脊沖處，不居城門口處，不居對獄門處，不居百川口處，不居四面沖處。凡宅東有流水達江海吉。東有大路貧，北有大路凶。南有大路富貴。凡樹木皆向宅吉，背宅凶。凡宅地形，卯酉不足，居之自如。子午不足，居之大凶，子醜不足，口舌南北長，東西狹吉。東西長，南北狹，初凶後吉。東北開門多招怪異之事。門口不宜有水坑。門前青草多愁怨，門外垂楊非吉祥。牆頭衝門，直路衝門，神社衝門，小路衝門，與門中水出並凶。房門不可對天井，廚房不可對房門，兩家門不宜相對，天井須方為上。中庭不宜種樹，大樹不宜近軒。廳內、堂前、堂後不宜開井。灶並不宜相見，主內亂，作灶不宜用壁泥。桑樹不宜作木料。死樹不宜作棟梁。凡門以慄木為關，可以遠盜。蓋屋布椽不得齊柱，頭梁上須是兩邊倚梁，不得以小壓大。屋梁與門宜只不宜雙。水檐頭相射主殺傷。外檐廣闊為上，不得逼促。斜雨潑壓，家多痢疾。風吹不著，不用服藥。廨屋漏漿，新婦無良。梁棟偏欹，家多是非。屋勢傾斜，睹博貪花。瓦移棟催，子孫貧羸。凡柱尾為鬥，枋尾為升，升在鬥下，為不順，主有不孝不弟，鬥在升下吉。起造防木匠放木筆於柱下，主人家不吉。更防倒木作柱，亦不吉。厚葬固人子之情，衣衾棺槨已覺無益，況藏奇玩金寶於其中耶？鮮有不為人所竊掘者矣。古今前車可鑑者甚多，故曰未歸三尺土，難保百年身；既歸三尺土，難保百年墳。可味可味。</p>

<h1>卷之六</h1>

<h2>養老</h2>
<p>老人骨肉疏，冷風寒易中。若窄衣貼身，暖氣著體，自然氣血流通，四肢和暢。雖遇盛夏，亦不可令袒露其頸項。蓋自腦至頸項，乃風府督脈所過，中風人多是風府而入，須常用絮軟夾帛貼巾幘中，垂於頸下，著肉入衣領中至背膊間，以護腠理為妙。不然風傷腠中，必為大患，慎之慎之。春時遇天氣頓暖，不可頓減綿衣，須一重重漸減，庶不至暴傷。夏月尤宜保輔，當居虛堂靜室，水次木陰，潔淨之處，自有清涼。不可當風納涼，飲食勿食太飽，凡飲食尤戒生冷、粗硬、油膩及勉強飲食。渴飲粟米湯、豆蔻熟水為妙。夏至以後，宜服甘寒平補肺腎之藥，二三十服，以助元氣可也。冬月最宜密室溫淨，衾服輕軟，仍要暖裹肚腹，早眠晚起，以避霜威。朝宜少飲醇酒，然後進粥，臨臥服涼膈化痰之劑。其炙煿燥毒之物，尤切戒之。老人以牛乳煮粥食大補益。天寒之日，山藥酒、肉酒時進一杯，以扶衰弱，以禦寒氣，切不可遠出，觸冒嚴風。老人當避大風、大雨、大寒、大暑、露霧、霰雪、旋風、惡氣，能不觸冒，是謂大祥。老人所居之室，必須大周密，無致風傷也。老人之食，大抵宜溫熱熟軟，忌黏硬生冷，其應進飲食，不可頓飽，但頻頻與食，使脾胃易化，穀氣常存。若頓令飽食則多傷胃，老人腸胃虛薄，不能消運，故易成疾。然尤大忌雜食，雜則五味相撓，更易生患，若乳酪酥蜜，冬春間常溫而食之頗宜，但不宜多食，恐致腹脹作瀉，為人子者宜留意焉。凡老人有患，宜先以食治，未愈然後服藥，此養老人之大法也。老人藥餌，止是扶持之法，只可溫平順氣，進食補虛中和藥治之，不可用市肆贖買，他人惠送，不知方味，及狼虎之劑，最宜慎重詳審。新登五穀，老人不宜，食動一切宿疾。人年五十以上，率患大便不利，或常若下痢，須當預防。若秘澀則數數食葵菜等冷滑之物，如其下痢，宜用參苓白朮，兼與姜韭溫熱之菜以治療之。男子六十閉房戶，所以補衰敗，重性命也。老人之道，當常念善，無念惡，常念生，無念殺，常念信，無念欺。無作博戲，強用氣力，無舉重，無疾行，無喜怒，無極視，無極聽，無太用意，無太思慮，無吁嗟，無叫喚，無吟詠，無歌嘯，無啈啼，無悲愁，無哀動，無慶弔，無接對賓客，無預局席，常常淡食，如此者可以無病常壽。老人須知，服食將息，調身按摩，搖動取接，導引行氣，不得殺生取內以自養。又當非其書勿讀，非其聲勿聽，非其務勿行，非其食勿食。非其食者，如豬、㹠、雞、魚、蒜、鱠、生肉、生菜、白酒、一應冷硬之類。常學淡食，輕清甜軟為佳。蓋淡為五味之本，土德沖和之氣，淡食養胃，則百病不生。故云老者，非肉不飽，肥則生風，非人不暖，暖則多淫。必須不飢、不飽、不寒、不熱，行住坐臥，言談笑語，寢食造次之間，不妄失者，則可延年益壽矣。太乙真人曰：一者少言語養內氣，二者戒色欲養精氣，三者薄滋味養血氣，四者咽津液養臟氣，五者莫嗔怒養肝氣，六者淡飲食養胃氣，七者少思慮養心氣。人由氣生，氣由神住，養氣全神，可得真道。凡在萬物之中所保者，莫先於元氣攝養之道，莫若守中實內有陶和將護之方。須在閒日，安不忘危，聖人預戒老人，尤不可不慎也。春夏秋冬，四時陰陽，生病起於過用。五臟受氣蓋有常分，不適其性而強，云為用之過耗，是以病生。善養生者，保守真元，外邪客氣，不得而干之。至於藥餌，則招徠真氣之藥少，攻伐和氣之藥多，故善服藥者，不如善保養。康節詩曰：爽口物多終作疾，懼心事過必為殃。與其病後能加藥，孰若病前能自防。郭康伯遇神人授一保身衛生之術云：自身有病自心知，身病還將心自醫。心境靜時身亦靜，心生還自病生時。郭信用其言，知自護愛，康強倍常，年幾百歲。年老養生之道，不貴求奇，先當以前賢破幻之詩，洗滌胸中憂鬱，而名利不苟求，喜怒不妄發，聲色不因循，滋味不耽嗜，神慮不邪思。三綱五常，現成規模，貧富安危，且處見定，是亦養壽之大道也。龐居士詩云：北宅南莊不足誇，好兒好女眼前花。忽朝身沒一丘土，又屬張三李四家。先賢詩云：克己工夫未肯加，吝驕封閉宿如蝸。試與靜夜深思省，剖破藩籬即大家。又詩云：世人用盡機關，視為貪生怕死，我有安樂法門，直須顛倒於此。祁孔賓，聞窗外詩云：祁孔賓隱去來，修飾人間事甚苦，不堪偕，所得末，毫銖所喪如山崖。晁文地公云：眾所好者，虛名客氣冗具羨財，予所好者，天機道眼法要度門。又云：觀身無物，從外化緣生，觀心無物，從顛倒想生。又云：身有安全敗壞者，事之招也。即世而可見性有起升淪墜者，行之報也。異世而不知，譬如形聲之有影響，必然之理也。人云：人有疾苦或多偶爾，非因所作，無如之何？歷觀幻化之軀，而有甚於此者，能推此理，足以自寬。又云：仕宦之間，暗觸禍機；衽席之上，密涉畏途：輸回之中，枉入諸趣。古人云：心死形方活，心強命即亡。又云：你喜我不喜，君悲我不悲，雁飛思塞北，鷹憶舊巢歸。秋月春花無限意，箇中只許自家知。天師云：靈臺皎潔似冰壺，只許元神裡面居。若向此中留一物，平生便是不清虛。老子云：虛其心，實其腹，是皆融智慧，黜聰明，而宅天和，以卻百邪者也。比於金石草木剛烈之劑，喪津枯液以求補益者，其功遠矣。此又老人之所當知者。溫公率真約會，序齒不序官為，具務簡素，朝夕食不過五味、菜果、脯醢之類，各不過三十器，酒巡無算，深淺自斟，主人不勸，客亦不辭。逡巡無下酒時，作菜羹不禁，召客共用一簡。客住可否，於字不下別作簡。或因事分簡者，聽會早赴不待促。違約者，每事罰一巨觥。詩曰：七人五百有餘歲，同醉花前今古稀。走馬關雞非我事，紵衣絲髮且相輝。又曰：經春無事連翻醉，彼此往來能幾家。切莫辭斟十分酒，儘教人笑滿頭花。當時同會伯康（溫公之兄）與君從（席汝言）七十八歲，安之（王尚恭）七十七歲，正叔（楚建中）七十四歲，不疑（王謹言）七十三歲，叔達七十歲，溫公六十五歲，合五百一十歲。口號成詩用安之韻。嗚呼！為人子者，於親壽在堂之時，隨分約鄰里之老者，約為此會以娛其頹齡，無不可者，故特取云。羅大經云：予家深山中，每春夏之交，蒼蘚盈階，落花滿徑，門無剝喙，松影參差，禽聲上下。午睡初足，旋汲山泉，拾松枝煮苦茗啜之。隨意讀書，或詩數篇。從容步山徑，撫松竹，與犢麛共偃息於長林豐草之間，坐弄流水，漱口濯足。既歸竹窗下，山妻稚子作筍蕨，供麥飯，欣然一飽。美筆墨，任大小，作數十字，展所藏法帖盡卷縱觀之。興到則吟小詩一兩首，再煮苦茗一杯。出步溪邊，邂逅園翁溪友，門桑麻，說粳稻，量時校雨探節數，時相與劇談一餉。歸而倚杖柴門之下，則夕陽在山，紫綠萬狀，變幻頃刻，可悅人目。牛背笛聲，兩兩歸來，而月印前溪矣。唐子西云：山靜似太古，日長如小年。玩味此句最妙，然識其妙者蓋少。彼牽黃臂蒼，馳獵於聲利之場者，但見滾滾馬頭塵，忽忽駒隙影耳，人能真知此，妙則東坡所謂無享。此靜坐一日是兩日，若活七十年，便是百四十，所得不已多乎？易曰：觀頤觀其自養也。康節詩云：老年軀體素溫存，安樂窩中別有春。盡道山翁拙於用，也能康濟自家身。此自養之旨也。善自養如鶴林，斯可以逸老矣。</p>

<h2>法言</h2>
<p>君子處身，寧人負己，己無負人。小人處事，寧己負人，無人負己。小人詐而巧，似是而非，故人悅之者；眾君子誠而拙，似迂而直，故人知之者寡。聞君子議論如啜苦茗、森嚴之後甘芳溢頰。聞小人諂笑如嚼糖水，爽美之後寒凝沍腹。君子擇而後交故寡過，小人交而後擇故多怨。君子之利利人，小人之利利己。耳不聞人之非，目不視人之短，口不言人之過，庶幾君子。君子對青天而懼，聞雷霆而不驚；履平地而恐，涉風波而不疑。天網恢恢，疏而不漏。種穀得谷，種豆得豆。人以巧勝天，天以直勝人。為子孫作富貴計者，十敗其九；為人己善方便者，其後受惠。以德為後者昌，以禍遺後者亡。謙柔卑退者福之餘，強忍奸詐者禍之胎。要知前世因，今生受者是；要知來世因，今生作者是。逆取順取命中只有這些財，緊走慢走前程只有許多路。禍福無門，唯人自召，善惡之報，如影隨形。人可欺天不可欺人，可瞞天不可瞞人；人善人欺天不欺，人惡人怕天不怕。深耕淺種尚有天災，利己損人豈無果報。為善得禍乃是為善未熟，為惡得福乃是為惡未深。慧不如命，智不如福。禍不可以倖免，福不可以苟求。料得人生皆素定，空多計較竟何如。用不節，財何以豐；民不蘇，國何以安。飽藜藿者鄙膏梁，樂貧賤者薄富貴，安義命者輕生死，達是非者忘減否。仁者陽之屬，暴者陰之屬。好生者祥，好殺者殃，天行也。力除閒氣，固守清貧。飽肥甘，衣輕暖，不知節者，損福；廣積聚，驕富貴，不知止者，殺身。少不勤苦，老必艱辛；少能服勞，老必安逸。為家以正倫理，別內外為本，以尊祖睦族為先，以勉學修身為要，以樹藝畜牧為常。好義如飲食，畏利如蛇虺，居官如居家，愛民如愛身。人有過失己必知之，己有過失豈不自知。喜是非者檢人，畏憂患者檢身。誠無悔，恕無怨，和無仇，忍無辱。寡言擇交可以無悔吝，可以勉憂辱，坐密室如通衢，馭寸心如六馬可以免過。語人之短不曰直，濟人之惡不曰義。以眾資己者，心逸而事濟；以己御眾者，心勞而怨聚。不自重者取辱，不自畏者招禍，不自滿者受益，不自是者博聞。廣積不如教子，避禍不如省非。責人者不全交，自恕者不改過。以愛妻子之心事親，則無往不孝；以保富貴之心事君，則無往不忠。以責人之心責己，則寡過；以恕己之心恕人，則全交。節食養胃，清氣養神，口腹不節，致疾之由。念慮不正，殺身之本。心可逸形不可不勞，道可樂身不可不憂。形不勞則怠惰易弊，身不憂則荒淫不定。故逸生於勞而常休，樂生於憂而無厭。以忠孝遺子孫者昌，以智術遺子孫者亡。以謙接物者強，以善自衛者良。日費千金為一瞬之樂，孰若散而活凍餒者幾千人？處眇軀以廣廈，何如庇寒士一席之地乎？夙興夜寐所思忠孝者，人不知天必知之；飽食暖衣怡然自得者，身雖安其如子孫何。驕富貴者慼慼，安貧賤者休休，所以景公千駟，不如顏子之一瓢。屈己者能處眾，好勝者必遇敵。利可共而不可獨，謀可寡而不可眾，獨利則敗，眾謀則泄。保生者寡欲，保身者避名，無欲易，無名難。溺愛者受制於妻子，患失者屈己於富貴。莫大之患起於斯須之不忍，一言一動毫釐不忍，遂致數年立腳不定。得便宜事不可再作，得便宜處不可再去。衣冠佩玉可以化強暴，深居簡出可以卻猛獸，定心寡欲可以服鬼神。盛名必有重貴，大巧必有奇窮。氣宇要老成近厚，不要有芒角，防有鈍挫缺折。甚愛必太費，多藏必厚亡。禍莫大於縱己之欲，惡莫大於言人之非。事有垂成而覆敗者，或者惜之，非也，得之本有，失之本無。觀朝夕起臥之早晏，可以卜人家之興替。一年之計在春，一日之計在寅，一生之計在勤。寶貨用之有盡，忠孝享之無窮。好名則立異，立異則身危，故聖人以名為戒。內睦者家道昌，外睦者人事濟。不護人短，不賙人急，非仁義也。心不清則無以見道，志不確則無以立功。結怨於人謂之種禍，捨身不為謂之自賊。廣積聚者遺子孫以禍害，多聲色者殘性命之斧斤。外事無大小，中欲無淺深，有斷則生，無斷則死，大丈夫以斷為主。人非賢莫交，物非義莫取，念非善莫舉，事非見莫說。謹則無憂，忍則無辱，靜則常安，儉則常足。修身莫若敬，避強莫若順。誡酒後語，忌食時嗔。忍難忍事，順自強人。偽賈亂廛，惰農敗田，讒夫撓邦，害為汙群。拙制傷錦，侈用破家。欺人者不旋踵人必知之，感人者益久人益信之。賙人之凶，樂人之善，濟人之急，救人之危。信者行之基，行者人之主，人非行無以成，行非信無以立。貪利者害己，嗜欲者戕生，肆傲者納侮，諱過者長惡。言而不益，不若勿言，為而無益，不若勿為。天道遠，人道邇，順人情，合天理。身閒不如心閒，藥補不如食補。富貴不知止，殺身；飲食不知止，損壽。富時不儉貧時悔，見時不覺用時悔，醉後狂言醒時悔，安不將息病時悔。務德莫如滋，去惡莫如盡。嘉穀不早實，大器當晚成。安分身無辱，知機心自閒。避色如避仇，避風如避箭。作福不如避罪，服藥不如忌口。服藥千朝不如獨宿一宵，飲酒一斛不如飽食一粥。粗茶淡飯飽即休，補綴遮寒暖即休，三平二滿過即休，不貪不妒老即休。得忍且忍，得誡且誡，不忍不誡，小事成大。舌存以軟，齒亡以剛。百戰百勝不如一忍，萬言萬當不如一默。施恩勿求報，與人勿追悔。凡事只須求順理，所為不可道天高。無意順時為善計，人情安處是良圖。眼前隨分好光陰，誰道人生多不足。見人富貴不可妒，見人貧賤不可欺，見人之善不可掩，見人之強不可揚。德業，常看勝於我者則恥愧自增；福祿，常看不及我者則忌尤自息。知止自當除妄想，安貧須是禁奢心。得便宜是失便宜，失便宜是得便宜。耕堯田者有水慮，耕湯田者有旱憂，耕心田者無憂無慮，日日豐年。衣垢不湔，器缺不補，對人猶有慚色；行垢不湔，德缺不補，對天豈無愧心。富貴過目，無異夢覺，既覺不可復為夢也。故貧賤人事之常，富貴暫時事耳，有得必有失。易損而難復者精也，易躁而難靜者神也，唯養氣使充，則精神庶全，精神苟全，則功名事業皆可為之也。不妄求則心安，不妄作則身安，身心既安，樂在其中矣。彼以慳吝狡偽之心待我，吾以正大光明之體待之。人如負我我何預，我若辜人人有詞。盛喜中勿許人物，盛怒中勿答人簡。看經未為善，作福未為願，莫若當權時，與人行方便。勤為無價之寶，慎是護身之門。寡言則省謗，寡欲則保身。福生於清儉，德生於早退，道生於安靜，命生於和暢，患生於多欲，禍生於多貪，過生於眩慢，罪生於不仁。寧可正而不足，不可邪而有餘。短莫短於苟得，孤莫孤於自恃。知足常足，終身不辱；知止常止，終身不恥。心不負人，面無慚色。不作皺眉事，應無切齒人。薄施厚望者不報，貴而忘賤者不久。寸心不寐，萬法皆明。過去事明如鏡，未來事暗如漆。人為事遂志不可喜，有不遂志不可憂，其中禍福難知故也。自信者不疑人，人亦信之，吳越皆兄弟；自疑者不信人，人亦疑之，身外皆敵國。勢交者近勢，竭而亡；財交者密財，盡而疏；色交者親色，衰而絕。踏實地無煩惱。居必擇鄰，交必擇友。勤儉常豐，生老不窮。蔬菜當肉，緩步當車，無罪當貴，無災當福。大廈千間，夜眠八尺；良田萬頃，日食二升。富因忔借許，貧為不爭多。人於倉卒顛沛之際，善用一言，上資祖考，下陰兒孫。飲卯時酒，一日不快活，多置寵妾，一生不快活。至樂莫如讀書，至要莫如教子。至富莫蓋屋，至窮莫賣田。欲要寬先了官。少追陪緊還債，家緣成人情在。利心專則背道，私意確則減公。輕諾者必寡信，面譽者背必非。欲去病須正本，本固則病可攻，藥石可以效；欲齊家須正身，身端則家可理，號令可以行。固其本，端其身，非一朝一夕之故也。立身之道內剛外柔，肥家之道上遜下順。不和不可以接物，不公不可以馭下。讒臣亂國，妒婦亂家。婦人悍者必淫，醜者必妒。士大夫謬者忌，險者疑，必然之理也。孝於親則子孝，欽於人則眾欽。不肖之子志在遊蕩，身在屋下，心在屋上。家欲成，看後生。子孫不如我，要錢做甚麼。子孫強如我，要錢做甚麼。教子嬰孩，教婦初來。遺子千金不如教子一經，養身百計不如隨身一藝。為子孫者欲其愨，不欲其浮，欲其循循然，不欲其頟頟然。養兒如虎，猶恐如鼠；養女如鼠，猶恐如虎。起家之子惜糞如金，敗家之子棄金如糞。養男之法莫聽誑語，育女之法莫教離母。國之將興實在諫臣，家之將興必有諍子。癡人畏婦，賢婦敬夫。健奴無禮，嬌兒不孝。讀書起家之本，勤儉治家之本，和順齊家之本。事不可做盡，勢不可倚盡，言不可道盡，福不可享盡。留有餘不盡之巧以還造化，留有餘不盡之祿以還朝廷，留有餘不盡之財以還百姓，留有餘不盡之福以還子孫。</p>
