<header data-type="book">
<h1>運氣易覽</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>汪石山</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1528">公元1528年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2781">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>運氣者，以十干合而為木、火、土、金、水之五運，以十二支對而為風、寒、暑、濕、燥、火之六氣。十干合者，如甲己二年合為土運，乙庚二年合為金運，丙辛二年合為水運，丁壬二年合為木運，戊癸二年合為火運是也。十二支對者，如子與午對，二年俱為君火之氣；醜與未對，二年俱為濕土之氣；寅與申對，二年俱為相火之氣；卯與酉對，二年俱為燥金之氣；辰與戌對，二年俱為寒水之氣；巳與亥對，二年俱為風木之氣是也。運與氣相交媾，干與支相臨遇。運五氣六不相偶合，蓋君火居尊，故不立運，而運只有五。戊癸火運乃相火之位。經曰：君火以名，相火以位是也。故六氣不加於君火。是以運則五年一周，氣則六期環會，六十年間運有太過，有不及，有平運，又有大運、主運、客運。假如甲年陽土為太過，陰年己土為不及，司天與運同氣為平，太過遇司天克之，或不及遇年支與之相合，名曰歲會。值月干與之相符，或交初氣，日乾、時干與之相合，名曰干德符，皆得謂之平運。物生脈應，無相先後焉。大運者，乃當年年干通主一年之運也。主運者，每年皆以木運從大寒日始，以次相生，至水而終。每運各主七十三日，年年如是者。客運，假如甲年即以土起，運亦從大寒日始，以次相生而終，亦每運各主七十三日，逐年更替者。今醫所用大運而已，主運、客運不過論其理宜有是耳。其六氣有司天，有在泉，有正化，有對化，亦有主氣，有客氣。假如當年年支是子，子午皆少陰君火司天，子為對化，午為正化。對司化令之虛，正司化令之實，其餘支辰例皆效此。此又以子、午、卯、酉為一律，子午二歲君火司天，則必卯酉燥金在泉。若卯酉二歲燥金司天，則必子午君火在泉。其他寅申巳亥為一律，辰戌丑未為一律，司天、在泉例皆同也。主氣者，每年皆以木氣從大寒日始，以次相生，至水氣而終。每氣各主六十日有奇，千載不易。客氣以當年年支從第三支起運，假如子年，子後第三支是戌，戌屬水，就以水氣從大寒日始，為初之氣，即在泉左間也。木為二之氣，即司天右間也。火為三之氣，即司天火氣也。土為四之氣，即司天左間也。金為五之氣，即在泉燥金也。水為終之氣，即在泉右間也。每氣也各主六十日有奇，一年一易，故曰客氣。以客加主，客勝主則從，主勝客則逆。又曰司天通主上半年，在泉通主下半年，此客氣之大者，加於主氣之上也。司天居上，在泉居下，運居其中。或司天克運生運，謂之以上臨下為順，順分生克之殊。或運克司天生司天，謂之以下臨上為逆，逆有大小之異。其中有司天與運同者，名曰天符，（如丁巳丁亥之類。）年支與運合者，名曰歲會，（乙卯丙子之類。）在泉與運同者，名曰同天符，（庚子庚午之類。）運與在泉合者，名曰同歲會，（辛丑辛未之類。）司天與運及年支三位相符者，名曰太乙天符（戊午、乙酉、己未、己丑之類是也。）蓋午為火氣司天，戊為火運，而午支又屬火，故號太乙，尊稱之號也。五者之中，天符為執法，中執法者，其病速而危；歲會為行令，中行令者，其病徐而持；太乙天符為貴人，中貴人者，其病暴而死。聖人詳著於經，蓋將使人知有所謹，而勿為其所□也。縱使或為所中，亦知其病之因。不至於亂投□□□惠天下後世，何其切哉！雖然運氣一書，古人啟其端，□□□機之士，豈可徒泥其法，而不求其法外之遺耶？如曰冬有非時之溫，夏有非時之寒，春有非時之燥，秋有非時之熱，此四時不正之氣，亦能病人也。如曰春氣西行，秋氣東行，夏氣北行，冬氣南行。卑下之地，春氣常存；高阜之境，冬氣常在。天不足西北而多風，地不滿東南而多濕。又況百里之內，晴雨不同；千里之邦，寒暖各異，此方土之候，各有不齊，所生之病，多隨土著，烏可皆以運氣相比例哉？務須隨機達變，因時識宜，庶得古人未發之旨，而能盡其不言之妙也。奈何程德齋、馬宗素等妄謂某生人於某日，病於某經，用某藥，某日當汗瘥，某日當危殆，悖亂經旨，愚惑醫流，莫此為甚。後人因視為經繁文，置之而弗用者有也。又有讀其書，玩其理。茫然無入首處，遂乃棄去而莫之省者有也。是以世醫罕有能解其意者焉。予今搜輯纂為此編，名曰《運氣易覽》，論以明其理，圖以揭其要，歌括以便於記誦，其於初學未必無補於萬一，然予老年心志昏瞀，未免書不盡言，言不盡意，改而正之，尚有望於後之君子云。</p>
<p><u>嘉靖七年歲次戊子祁門樸墅汪機省之序</u></p>

<h1>卷之一</h1>

<h2>一、學五運六氣綱領</h2>
<p>或問五運六氣，《內經》講論諸方所略，其理奧妙，未易造入，原發明焉，丹溪朱先生曰：學醫之初，宜須先識病機，知變化，論人形而處治。若便攻於運氣，恐流於馬宗素之徒，而云某生人某日，病於某經，用某藥治之之類也。</p>
<p>又問人之五藏六府，外應天地，司氣、司運、八風動靜之變，人氣應焉，豈不切當？苟不知此，為醫未造其理，何以調之。曰：楊太受嘗曰云云，五運六氣須每日候之，記其風雨晦明，而有應時作病者，有伏氣後時而病者，有故病沖而動者，體認純熟，久久自然造其至極。</p>
<p>《運氣提綱》曰：（丁元吉氏撰）提綱之作一本《內經》及劉溫舒《論奧》，語約而事義多者，復注其下，正注不足則旁註，易見者，但旁註，旨深者，列為圖，名目用墨沫之。</p>
<p>經論陰之所在脈不應，兼三陰而言，非獨指少陰。王太僕於太陰、厥陰下注以少陰，近其位致然，反遺本氣，左右不以位取，人所向義亦牽合，故啟馬宗素諸書皆隨君火所在言之，此丹溪所謂失經意之類，今不從。</p>
<p>《傷寒論》所載不應脈及交反脈圖悉誤，程德齋精華欹亦然，今並考正之。</p>

<h2>二、運氣說</h2>
<p>五運六氣之說，不見於儒者之六經，而見於醫家之《素問》。夫《素問》乃先秦古書，雖未必皆黃帝岐伯之言、然秦火已前，春秋戰國之際，有如和緩秦越人輩，雖甚精於醫，其察天地五行之用，未能若是精密也。則其言雖不盡出於黃帝岐伯，其旨亦必有所從受矣。且夫寒、濕、暑、燥、風、火者，天之陰陽，三陰三陽上奉之；木、火、土、金、水者，地之陰陽，生長化收藏下應之。而五運行於其間，則五行之化氣也。天數終於五，六居之；地數終六，七居之，戊己土也，化氣必以五六，故甲己化土而居於其首；土生金，故乙庚次之；金生水，故丙辛次之；水生木，故丁壬次之；木生火，故戊癸次之，此化氣之序也。地之三陰三陽，亦五行耳，而火獨有二，五行之妙理也。蓋木旺於東，火旺於南，金旺於西，水旺於北，而土旺於四維。戊附於戌而在乾，己附於辰而在巽，而未之對衝在醜，故辰戌丑未寄旺之位也。未在西南，其卦為坤，其時為長夏，以其處四時之中，《呂氏月令》為之中央。假如太角（木壬）之化為啟，拆而變為摧拉。太徵（火戊）之化為暄，燠而變為炎烈。正化之為變者然也。少角（木丁）木氣不足，清勝而熱復；少徵（癸火）火氣不足，寒勝而雨復，邪化之為復者然也。寒甚而為陽焰，是為火鬱；熱甚而為悽清，是為金鬱，抑而不伸者然也。水鬱而發則為冰雹，土鬱而發則為飄驟。鬱而怒起者然也。風淫所甚則克太陰，熱淫所勝則克陽明，凌其所勝者然也。相火之下，水氣承之，濕土之下，風氣承之，極則有反者然也。然摧拉之變不應，普天悉皆大風。炎烈之變不應，薄海悉皆燔灼。清氣之勝不應，宇宙無不明潔。雨氣之復不應，山澤無不蒸溽。郁也、發也、淫也、承也，其理皆然。凡此者，其應非有候，其至非有期，是以可知而不可必也。其應非有候，則有不時而應者矣。其至非有時，則有卒然而至者矣。是故千里之遠，其變相似者有之。百里之近，其變不同者亦有之。即其時當其處，隨其變而占焉，則吉凶可知，況《素問》所以論天地之氣化者，將以觀其變而救民之疾也。夫大而天地，小而人之一身，五行之氣皆在焉。天地之氣，有常無變，則人亦和平而無災。天地之氣，變而失常，則疾癘之所從出也。是故木氣勝，則肝以實病，脾以虛病。火氣勝，則心以實病，肺以虛病。此醫者所能致察，儒者不得其詳也。至於官天地、理陰陽、順五行，使冬無愆陽，夏無伏陰，秋無苦雨，春無悽風，和平之氣，行於兩間，國無水旱之災，民無妖孽之疾，此儒者所當致察，醫宗未必能知也。《素問》亦略言之矣。五行之精，是為五緯，與運氣相應，有歲星、有畏星，以此察其行之逆順，而占其吉凶，然必曰德者福之，過者罪之，則是運氣之和平，而為休祥，有德者召之也。運氣之乖戾，而為疾清，有過者致之也。雖然其說略而未詳，吾儒之經則詳矣。《洪範》《九疇》，始於五行，終於皇極，終於五福、六極。聖人建極於上，以順五行之用，是以天下之民，有五福而無六極，有五福皆可以康謐矣，無六極皆免於疾病矣，此其道，固有行乎運氣之外者，是謂大順。成周之時嘗見之，由庚之詩作而陰陽得由其道，華黍之詩作而四時不失其和，由儀之詩作而萬物各得其宜，此建（皇極）順五行，使民有五福，而無六極之驗矣。是故《素問》方伎之書，《洪範》則聖人經世之大法也。知有《素問》不知有《洪範》，方伎之流也。知有《洪範》不知有《素問》，儒者何病焉。</p>

<h2>三、論四時氣候</h2>
<p>六氣終始早晏，五運太少盈虛，原之以至理，考之以至數，而垂萬古無有差忒也。經曰：五日一候應之，（應五行也。）故三候成一氣，即十五日也。三氣成一節，節謂立春、春分、立夏、夏至、立秋、秋分、立冬、冬至，此八節也。四分、二十四氣而分主四時，一歲成矣。春秋言分者，以六氣言之，則二月半初氣終而交二之氣，八月半四氣盡而交五之氣。若以四時之氣言之，則陰陽寒暄之氣，到此可分之時也。晝夜分五十刻，亦陰陽之中分也。故經曰：分則氣異是也。冬夏言至者，以六氣言之，則五月半司天之氣至其所在，十一月半在泉之氣至其所在。以四時之令言，則陰陽之氣至此極至之時也。夏至日長不過六十刻；陽至此而極；冬至日短不過四十刻，陰至此而極，皆天候之未變。故經曰：至則氣同是也。天自西而東轉，其日月五星循天從東而西轉。故《白虎通》曰：天一左旋，日月五星右行。又曰：日為陽，月為陰，行有分紀，周有道理，日則晝夜行天之一度，一度有百刻，即一日。）月則晝夜行天之十三度有奇者，謂復行一度之中，作十九分分之得七。（一度有百刻，作十九分分之得七，每一分該五刻強，五七三十五刻強，是月晝夜行天十三度零十度五刻強。）大率月行疾速，終以二十七日，月行一周天，是將十三度及十九分分之七數，總之則二十九日，計行天三百八十七度有奇，計月皆疾之數，比日行遲之數，則二十九日。日方天行二十九度，月已先行一周天三百六十五度，外又行天二十二度，反少七度而不及日也。陰陽家說，謂日月之行，自有前後遲速不等，固無常准，則有大小月盡之異也。本三百六十五日四分度之一，即二十五刻。（是日行三百六十五日零二十五刻，當為一歲矣。）當為一歲。自除歲外之餘，則有三百六十日，又除小月所少之日六日，只有三百五十四日而成一歲，通少十一日二十五刻，乃盈閏為十二月之制，則有立首之氣，氣乃三候之至，月半示鬥建之方，乃十二辰之方也。閏月之紀，則無立氣，建方皆他氣。但依歷以八節見之，推其所餘，乃成閏，天度畢矣。故經曰：立端於始，表正於中，推余於終，而天度畢矣者，此之謂也。觀天之杳冥，豈復有度乎？乃日月行一日之處，指二十八宿為證而記之；曰度。故經曰：星辰者，所以制日月之行也。制，謂制度也。天亦無候，以風、雨、霜、露、草木之類，應期可驗而測之，曰候。言一候之日，亦五運之氣相生而值之，即五日也。如環無端，周而復始。《書》曰：期三百六旬有六日，以閏月定四時成歲，即其義也。醫工之流，不可不知。經曰：不知年之所加，氣之盛衰，虛實之所起，不可以為工矣。</p>
<figure>
<img data-orig-src="urn:270:10640.jpg" alt="五行生死順逆圖歌">
</figure>
<p><u>歌曰</u></p>
<p>木火土金水五行，周而復始互相生，水火金木土五賊，周而復始互相剋。</p>
<figure>
<img data-orig-src="urn:270:10641.jpg" alt="干支五行所屬圖歌">
</figure>
<p><u>歌曰</u></p>
<p>甲乙寅卯木東藏，丙丁巳午火南交，庚辛申酉金西屬，壬癸子亥水北鄉，戊己辰戍丑未土，寄旺四季位中央。</p>
<figure>
<img data-orig-src="urn:270:10642.jpg" alt="二十四氣之圖歌">
</figure>
<p>（五日謂之候，三候成一氣，大小月、閏月但依歷交之。凡四時寒暑溫涼盛於季月，然差正位三十日有奇也。）</p>
<p><u>歌曰</u></p>
<p>立春雨水驚蟄節，春分清明穀雨時，立夏小滿芒種候，夏至小暑大暑期，立秋處暑白露日，秋分寒露霜降隨，立冬小雪及大雪，冬至小寒大寒推。</p>

<h2>四、論六十年交氣日刻</h2>
<p>夫日一晝一夜十二時，當均分於一日，故上智設銅壺，貯水漏下浮箭，箭分百刻以度之。雖日月晦明，終不能逃。是以一日之中，有百刻之候也。夫六氣通主一歲，則一氣主六十日八十七刻半，乃知交氣之時，有早晏也，故此立圖以明之也。冬夏日有長短之異，則晝夜互相推移，而日出入時刻不同，然終於百刻也。其氣交之刻，則不能移。甲子之歲，初之氣，始於漏水下一刻（寅初），終於八十七刻半，子正之中也；二之氣，復始於八十七刻六分，終於七十五刻，戌正四刻也；三之氣，復始於七十六刻，終於二十六刻半，酉正之中也；四之氣，復始於六十二刻六分，終於五十刻，未正四刻也；五之氣，復始於五十一刻，終於三十七刻半，午正之中也；六之氣，復始於三十七刻六分，終於二十五刻，辰正四刻也。此之謂一周天之歲度，余刻交入乙丑歲之初矣。如此而轉，至戊辰年初之氣，復始於漏水下一刻，則四歲而一小周也。故申子辰氣會同者此也。巳酉醜初之氣，俱起於二十六刻；寅午戌初之氣，俱起於五十一刻；亥卯未初之氣，俱起於七十六刻。氣皆起於同刻，故謂之三合者，義由此也，以十五小周為一大周，則六十年矣。</p>
<figure>
<img data-orig-src="urn:270:10643.jpg" alt="六十年交氣日刻圖歌">
</figure>
<p><u>歌曰</u></p>
<p>欲知交氣早晏時，漏下一刻甲子初，（六十日）終期八十七刻半，二氣續此而起歟，盡日七十五刻是，三氣從茲又繼諸，六十二刻半之外，（四氣始，）五十刻後五氣居，畢於三十七刻半，六氣承之廿五除。自是轉至戊辰首，復與漏下一刻如，申子辰初相會合，巳酉醜初同刻盡，寅午戌初氣不異，亥卯未初當共儲，四歲一（小）周義三合，六甲交遍良弗虛。（十五小周為一大周）。</p>

<h3>六十年交氣日刻</h3>
<p>圖自寅順觀至子，為甲子歲初氣，子至戌為二氣，自亥至酉為三氣，酉至未為四氣，自申至午為五氣，午至辰為六氣，自己至卯，起乙丑歲初氣，餘歲繼此推之，則氣起同刻，三歲相合，義自見矣。然晝夜百刻，當分算於十二時，每一時八刻令三分。</p>
<p>愚按：六氣，每氣主六十日八十七刻半，例申子辰年，初之氣始於大寒寅初刻，至春分日子正之中是初之氣，才滿六十日八十七刻半也。二之氣即始於是日子時八十七刻六分，至小滿日戌正四刻是二之氣，才滿六十日八十七刻半也。三氣之後並效此按圖推之。所謂八十七刻半者，十二時共有百刻，甲子年大寒日寅初刻交初之氣，至二月半子時五刻，才滿六十日八十七刻半，乃值子時之五刻也。百刻而除八十七刻半，剩下十二刻半，算入二之氣內，仍該找七十五刻，湊作八十七刻半。自前子時六刻，交二之氣數起，至七十五刻，乃值戌時四刻也。百刻而除七十五刻，剩下二十五，算入三之氣內，仍該找六十二刻半，湊作八十七刻半也。自前戌時五刻。交三之氣數起，至六十二刻半，乃值酉時五刻也。百刻而除六十二刻半，剩下三十七刻，算入四之氣內，仍該找五十刻，湊作八十七刻半也。自前酉時六刻，交四之氣數起，至五十刻，乃值未之四刻也。百刻而除五十刻，剩下五十刻，算入五之氣內，仍該找三十七刻半，湊作八十七刻半。自前未之五刻，交五之氣數起，至三十七刻半，乃值午之五刻也。百刻而除三十七刻，剩下六十二刻半，算入六之氣內，仍該找二十五刻，湊作八十七刻半也。自前午之六刻，交六之氣數起，至二十五刻，乃值辰之四刻也。百刻而除二十五，剩下七十五刻，算入乙丑歲之初氣內也。</p>

<h2>五、論六化</h2>
<p>夫五行在地成形，（金木水火土，）在天為氣，而氣有六，乃天之元氣。然後三陰三陽上奉之。（少陰君火、太陰濕土、厥陰風木、少陽相火、太陽寒水、陽明燥金，）謂之六氣。皆有一化，木之化風，主於春；君火之化熱，主春末夏初，行暄淑之令，應君之德；相火之化暑，主於夏，炎暑乃行；金之化清與燥，主於秋，清涼乃行；（白露清氣也，金為庚辛，辛為丙婦，帶火之氣故燥，久雨霖霪，西風而晴，燥之兆也，西風而雨，燥濕爭也，而乃自晴。）水之化寒，主於冬，嚴凜乃行；土之化濕與雨，主於長夏六月，土主於火，長在夏中，既成而主土潤，溽暑濕化行也；（經曰地氣上為云，天氣下為雨，雨出地氣，云出天氣，則主雨之化見矣。）凡春溫、夏暑、秋涼、冬寒，皆天地之正氣，（六氣司化之令，）其客行於主運，則自有逆順淫勝之異，由是氣候不一，豈可一定而論之？夫陰陽四時氣候，則始於仲月，而盛於季月，故經曰：差三十度而有奇。又言氣令盛衰之用，其在四維，四維者，辰戌丑未四季月也。蓋春氣始於二月，盛溫於三月；夏氣始於五月，盛暑於六月；秋氣始於八月，盛涼於九月；冬氣始於十一月，盛寒於十二月，則氣差明矣。然五月夏至，陰氣生而反大熱，十一月冬至，陽氣生而反大寒者，蓋氣自下生，推而上之也。故陰生則陽上而愈熱，陽生則陰上而愈寒。夏井清涼，冬井溫和，則可驗矣。</p>
<figure>
<img data-orig-src="urn:270:10644.jpg" alt="六化圖歌">
</figure>
<p><u>歌曰</u></p>
<p>君熱金清燥，水寒木化風，相行炎暑令，土濕雨同功。</p>

<h2>六、論交六氣時日</h2>
<p>經曰：顯明（日也）之右，（卯位）君火之位；君火之右，（辰位）退行一步，（六十日八十七刻半）相火（治主也）之；復行一步，土氣治之；復行一步，金氣治之；復行一步，水氣治之；復行一步，木氣治之；乃六氣之主位也。自十二月中氣大寒日，交木之初氣；次之二月中氣春分日，交君火之二氣，（即前君火之位，）次至四月小滿日，交相火之三氣，（即前君火之右，退行一步，相火治之謂也。）次至六月中氣大暑日，交土之四氣；次至八月中氣秋分日，交金之五氣；次至十月中氣小雪日，交水之六氣。每氣各六十日八十七刻半，總之三百六十五日二十五刻，共周一歲也。若（若字作除，理似順也。）歲外之餘，（余者於三百六十五日，除去五日作余，）及小月之日，（小月有六日亦除之，）則不及也。（除前餘日五日，又除小月六日，共除十一日，止有三百五十四日，不及三百六十五日也。）但推之歷日，依節令交氣，常為每歲燥、濕、寒、暑、風、火之主氣，乃六氣之常紀，此謂地之陰陽，靜而守位者也。氣應之不同者，又有司天、在泉、左右四間之客氣。（假如子午二年，少陰君火司天，則必卯酉陽明燥金在泉，子之右間，厥陰亥木，子之左間，太陰醜土，卯之右間，少陽寅相火，卯之左間，太陽辰水。經曰：左右者陰陽之道路，此之謂也。）客氣亦有寒、暑、燥、濕、風、火之化，乃行歲中之天命，輪居主氣之上，主氣則當只奉客之天命，動而不息者也。（大而言之，司天通主上半年，在泉通主下半年。分而言之，每氣各主六十日有奇，奇者八十七刻半。）客勝主則從，主勝客則逆，二者有勝而無復，每年以司天前第三位為在泉，第四位為初之氣。假如子為少陰君火司天，子前第三位卯為陽明燥金在泉，第四位辰為初之氣。辰與戌對，同屬太陽寒水。（主大寒後至春分六十日有奇。）辰即卯之左間也。次巳為二之氣，巳與亥對，同屬厥陰木。（主春分後至小滿六十日有奇。）巳即午之右間也。次午為三之氣，午與子對，同屬少陰火。（主小滿後至大暑六十日有奇，）即司天氣也。次未為四之氣，未與醜對，同屬太陰土。（主大暑後至秋分六十日有奇。）未即午之左間也。次酉為五之氣，酉與卯對，同屬少陽相火。（主秋分後至小雪六十日有奇。）申即酉之右間也。次酉為終之氣、酉與卯對，同屬陽明燥金。（主小雪後至大寒六十日有奇。）即在泉氣也。（按六氣司天者，主歲位在南，故面北而言左右。在泉者，位在北，故面南而言。如丑未歲土司天，面北而言左右，醜之左間相火寅，右間君火子，辰戌水在泉，面南而言左右，辰之左間厥陰巳木，右間陽明卯金。故曰左厥陰，右陽明也。是歲客之初氣厥陰亥木，二氣少陰子火，三氣即司天醜土，四氣少陽相火寅，五氣陽明卯金，終氣即在泉辰水，此司天，在泉、四間客氣。四間客氣加於主氣者，余皆依此。）草廬吳先生（微）曰：天地陰陽之運，往過來續，木火土金水，始終終始如環，斯循六氣相生之序也。歲氣起於子中，盡於子中。故曰：冬至子之半，天心無改移。子午之歲始冬至燥金，然後禪於寒水，以至相火日，各六十者五，而小雪以後，其日三十，復終於燥金。丑未之歲始冬至，寒水三十日，然後禪於風木，以至燥金日，各六十者五，而小雪以後，其日三十，復終於寒水。寅申以下皆然。如是六十年至千萬年，氣序相生而無間。非小寒之未無所於授，大寒之初無所於承，隔越一氣不相接續，而截自大寒為次年初氣之首也。此造化之妙，《內經》秘而未發，啟玄子闕而未言，近代楊子建昉推而得之。茲說與經不合，然極有理，謹於此俾學者知之。</p>
<figure>
<img data-orig-src="urn:270:10645.jpg" alt="五運六氣樞要之圖">
</figure>
<p>起司天在泉並客氣歌</p>
<p>子午少陰地，太陰丑未墟，寅申少陽屬，陽明卯酉歟，辰戌太陽配，厥陰巳亥居其中主司天一位。依此順數諸，進三司地位，進四客之初。（如遇子午歲，少陰乃司天。除本位數，至第三陽明為在泉，第四太陽即客初氣。次厥陰，復次少陰，自大寒後主上半年，次太陰，次少陽，終陽明。自大暑後主下半年，每氣六十日八十七刻半，布於主氣之上，余同主客之圖。）</p>

<h2>七、論標本</h2>
<p>三陰三陽，天之六氣，標也；金木水火土，地之五行，本也。（生長化收藏。）太陰濕土，少陽相火為標本同。至於少陰君火，太陽寒水，則陰陽寒熱互相不同，何也？蓋君火司於子午，午者，一陰始生之位，火本熱而其氣當陰生之初，故君火屬少陰也，水居北方子，子者，一陽始生之位，水本寒而其氣當陽生之初，故寒水屬太陽也，此水火之標本，所以異者，此也。土者乃西南維未之位，應於長夏之日，未乃午之次，為陰矣，故土曰太陰。相火司於寅，寅乃醜之次，為陽矣，故相火曰少陽。木者，位居東方震，在人主肝，雖陽，處膈下，居陰之位，故屬厥陰也。金者西方兌，在人主肺，雖陰，藏居膈上，處陽之位，故屬陽明也。</p>
<p>經曰：少陽太陰從本治，少陰太陽從標治，陽明厥陰不從標本，從乎中治，陽明之中太陰也，（太陰陽明為表裡而相合，）厥陰之中少陽也，厥陰少陽為表裡而相合。</p>
<figure>
<img data-orig-src="urn:270:10646.jpg" alt="六氣標本之圖歌">
</figure>
<p>六氣之本：少陰午、太陰未、少陽寅、陽明酉、太陽戌，厥陰亥。</p>
<p><u>歌曰</u></p>
<p>子君醜土卯金標，辰水猶偕巳木調，申相亦原茲數內，余稽正化本然條。</p>

<h2>八、論生成數</h2>
<p>聖人立法以推步，蓋不能逃其數，觀其立數之因，亦皆出於自然。一曰水，二曰火，三曰木，四曰金，五曰土者，以水北方子位，子者陽生之初，一陽數也，故水曰一。火南方午位，午者陰生之初，二陰數也，故火曰二。木居東方。東，陽也。三者，奇之數，亦陽也，故木曰三。金居西方。西，陰也。四者偶之數，亦陰也，故金曰四。土應西南長夏，五者，奇之數，亦陽也，故土曰五。由是論之，則數以陰陽而配者也。然水生於一，天地未分，萬物未成之初，莫不先見於水，以今驗之，則草木子實，未就入蟲胎，卵胚胎皆水也。豈不以水為一？及其水之聚，而形質莫不備，陰陽之氣在中而後成。故物之小而味苦者，火之兆也。物熟則甘土之味也。甘極則反淡，淡本也。然人稟父母陰陽生成之化，故先生二腎，左腎屬水，右腎屬火，則火因水而後見，故火次二。蓋草木子實，大小雖異，其中皆有兩，以相合者，與人腎同，亦陰陽之兆。是以萬物非陰陽合體，則不能生化也。既陰陽合體，然後有春生而秋成，故木次三，金次四。蓋水有所屬，火有所藏，木有所發，金有所別，莫不皆因土而後成。故金、木、水、火、土之成數，皆兼土數五也。水六火七木八金九，土常以五之生數不可至十者，土不待十以成，是生成之數，皆五以合之，則萬物豈能逃其數哉？三陰三陽正化者，從本生數；對化者，從標成數。五運之紀，則太過者，其數成；不及者，其數生。各取其數之生成多少，以占正令氣化勝復之交作，蓋明諸用也。</p>
<figure>
<img data-orig-src="urn:270:10647.jpg" alt="五行生成數圖歌">
</figure>
<p><u>歌曰</u></p>
<p>（生）一六水兮（生）二七火，（生）三八從來木為佐，（生）四九金鄉土（生）五窮，緣無成數十難坐。五運不及生，可推逢太過，成必隨六氣，用驗正化成，參對化無疑。</p>

<h2>九、論五天五運之氣</h2>
<p>天分五氣，地列五行，五氣分流，散於其上，經於列宿，下合方隅，則命之以為五運。丹天之氣，經於牛女奎壁四宿之上，下臨戊癸之位，立為火運。黅天之氣，經於心尾角軫四宿之上，下臨甲己之位，立為土運。素天之氣，經於亢氐昴畢四宿之上，下臨乙庚之位，立為金運。玄天之氣，經於張翼婁胃四宿之上，下臨丙辛之位，立為水運。蒼天之氣，經於危室柳鬼四宿之上，下臨丁壬之位，立為木運。此五氣所經，二十八宿與十二分位相臨，灼然可見，因此以紀五天而立五運也。戊為天門乾之位也，己為地戶巽之位也。自房至畢十四宿為陽，主晝；自昴至心十四宿，為陰，主夜，通一日也。若以月建法論之，則立運之因，又可見也。蓋丙者，火之陽，建於甲己歲之首，正月建丙寅，丙火生土，故甲己為土運。戊者，土之陽，建於乙庚歲之首，正月建戊寅，戊土生金，故乙庚為金運。庚者，金之陽，建於丙辛之首，正月建庚寅，庚金生水，故丙辛為水運。甲者，木之陽，建於戊癸歲之首，正月建甲寅，甲木生火，故戊癸為火運。壬者，水之陽，建於丁壬歲之首，正月建壬寅，壬水生木，故丁壬為木運。是五運皆生於正月建干，豈非日月歲時相應而制用哉？</p>
<p>一說自開闢來，五氣秉承元會運世，自有氣數，天地萬物所不能逃，近世當是土運，是以人無疾而亦痰，此與勝國時多熱不同。勝國時火運。如俗稱楊梅瘡，自南行北，人物雷同。土濕生黴，當曰黴瘡。讀醫書五運八氣，南北二政，豈獨止於一年一時，而煩忘世運會元之統耶？</p>
<p>人旅寓北方，夏秋久雨，天行咳嗽，頭痛，用益元散（滑石六兩，甘草一兩）、薑蔥湯調服，應手效。日發數十斤，此蓋甲己土運，濕令痰壅肺氣上竅，但泄膀胱下竅而已，不在咳嗽例也。</p>
<p>戊年楚地春溫，人不相吊，予以五瘟丹投泉水，率童子分給，日起數百人。五瘟丹，乙庚年黃芩為君，丁壬山梔為君，丙辛黃柏為君，戊癸黃連為君，甲己甘草梢為君，為君者多一倍也。餘四味與香附，紫蘇為臣者，減半也。七味生用。末用大黃三倍，煎濃湯去渣，熬膏和丸，如雞子大，硃砂、雄黃等分為衣，貼金箔，每用一丸，取泉水浸七碗，可服七人。</p>
<p>丹溪曰：小兒痘陳文仲用木香散、異攻散，溫熱之藥，多因立方之時，乃值運氣寒水司天，在泉時令又值嚴冬大寒，為陰寒氣鬱遏，瘡不紅綻，故用辛熱之劑發之。今人不分時令寒熱，一概施治，誤人多矣。</p>
<p>一人年四十五，平生瘦弱血少，值庚子年歲金太過，至秋深燥金用事，久晴不雨，得燥症。皮膚拆裂，手足枯燥，搔之屑起，血出痛楚，十指甲厚，反而莫能搔癢。子制一方，名生血潤膚飲。用歸、耆、生熟地、天麥二門冬、五味、片芩、瓜蔞仁、桃仁泥、酒紅花、升麻煎服十數貼，其病如脫，大便結燥，如麻仁、郁李仁。後治十數人皆驗。</p>
<figure>
<img data-orig-src="urn:270:10648.jpg" alt="經天五運之圖歌">
</figure>
<p>五天氣玄運：五行之氣散流於天之王方，紀於五天，因此而命名玄運。</p>
<p><u>歌曰</u></p>
<p>金素亢氐昴畢前，水玄張翼婁胃懸，木蒼危室柳鬼宿，火舟牛女奎壁邊，土黅心尾角軫度，下臨（此是）運位上經天。</p>

<h3>十干起運化氣歌</h3>
<p>甲己土運乙庚金，丁壬之歲木當臨，丙辛化氣常居水，戊癸須將火察尋。</p>
<p>十干所化五行，由五天氣各臨其位而生化。或謂十二生肖中，惟龍善變屬辰。每位自建寅，干支數至三，遇辰隨所屬化之。如甲寅至丙辰化水，丙寅至戊辰化火。或謂甲剛木克己柔土，為夫婦成土，乙柔木嫁庚剛金成金，丁陰火配壬陽水成木，丙陽火娶辛柔金成水，戊陽土娶癸陰水成火。二說意近似，而理非自然。</p>

<h2>十、論月建</h2>
<p>夫十二支為十二月，則正月寅，二月卯是也。甲己之歲，正月建丙寅；乙庚之歲，正月建戊寅；丙辛之歲，正月建庚寅；丁壬之歲，正月建壬寅；戊癸之歲，正月建甲寅。乃用十干建於寅，上觀其法，甲子年為首，亦用六十甲子內，初建者先建之，次建者次建之。故丙寅為初，戊寅為次，依先後循而轉之可見也。前六十甲子納音圖中立位既終，復轉於其上，以終其紀者，明矣。建時貼用日乾同法，若五運陰年不及之歲，大寒日交初氣，其日時建干與年干合者，謂之干德符，當為平氣，非過與不及也。略舉此，以明其用而已。</p>
<figure>
<img data-orig-src="urn:270:10649.jpg" alt="月建圖歌">
</figure>
<p><u>歌曰</u></p>
<p>甲己丙為寅，餘年更酌斟，乙庚當起戊，辛丙向庚尋，戊癸先生甲，丁壬復建壬。</p>
<p>（甲己歲正月建丙，丙火生甲己土，余以類推，則立運理皆相合，其逐歲月干德符用此類起。）</p>

<h2>十一、論五音建運</h2>
<p>五音者，五行之聲音也。土曰宮，其位甲己之歲。宮，土也，中和之道，無往而不理。又總堂室奧階，而謂之宮。所圍不一，蓋土亦以通貫於金、木、水、火。土四季榮於四藏，皆總之之意，故五運從十干起，甲為土也，土生金，故乙次之，金生水，故丙次之。如此五行相生而轉，甲為陽，乙為陰，亦相間而數，如環無端，在陽年曰太，在陰年曰少，陽年太過為司天所抑，陰年不及為年支所合，皆曰平氣。金曰商，其位乙庚之歲。商，強也，謂金性之堅強也。水曰羽，其位丙辛之歲。羽，舒也，陽氣將復，萬物孳育而舒生也。木曰角，其位丁壬之歲。角，觸也，象諸陽氣觸動而生也。火曰徵，其位戊癸之歲。徵，止也，言物盛則止也。</p>
<figure>
<img data-orig-src="urn:270:10650.jpg" alt="五音建運圖歌">
</figure>
<p>五音建運歌</p>
<p>羽水音兮徵火音，土宮角木及商金，年干建運陰陽位，太是其陽少是陰。</p>

<h2>十二、論紀運</h2>
<p>十干之中，五陰五陽也，立為五運。太過不及互相乘之，其不及之歲，則所勝者來克，蓋運之虛故也，則其間自有歲會、同歲會，亦氣之平。外有年辰相合，及交氣日時干相合，則得為己助，號曰平氣。乃得歲氣之平，其物生脈應，皆必合期，無行後也。聖人立名以紀之。假令辛亥水運，當云平運，何也？辛為水運，陰年遇亥，屬北方水相佐，則水氣乃平。假令癸巳年火運，亦曰平氣，何也？癸為火運，陰年巳屬南方火相佐，則火氣乃平。又每年交初氣於年前大寒日，假令丁亥年交司之日，遇日朔與壬合，名曰干德符。符者，合也，便為平氣。若交司之時遇壬，亦曰干德符。除此，交日初氣時之後相遇，皆不相濟也，余皆效此。所謂合者，甲己合，乙庚合，丙辛合，丁壬合，戊癸合是也。又陰年中，若逢月干皆符合相濟，若未逢勝而見之干合者，亦為平氣。若行勝已後行復畢，逢月干合者，即得正位。故平氣之歲，不可預紀之。十干之下，列以陰陽年而紀者，此乃大概設此，庶易知也。平氣紀須以當年之辰日時，依法推之。是以</p>
<p>太角歲曰發生（太過），少角歲曰委和（不及），正角歲曰敷和（平氣）；</p>
<p>太徵歲曰赫曦（太過），少徵歲曰伏明（不及），正徵歲曰昇平（平氣）；</p>
<p>太宮歲曰敦阜（太過），少宮歲曰卑監（不及），正宮歲曰備化（平氣）；</p>
<p>太商歲曰堅成（太過），少商歲曰從革（不及），正商歲曰審平（平氣）；</p>
<p>太羽歲曰流衍（太過），少羽歲曰涸流（不及），正羽歲曰靜順（平氣）；</p>
<p>各以紀之也，氣之平則同正化，無過與不及也。又詳太過運中，有為司天之氣所抑者，亦為平氣。則赫曦之紀，寒水司天二年。（戊辰、戊戌。）堅成之紀，二火司天四年。（庚子、庚午、庚寅、庚申。）皆平氣之歲也。</p>
<figure>
<img data-orig-src="urn:270:10651.jpg" alt="紀運太過不及平氣之圖歌">
</figure>
<p><u>歌曰</u></p>
<p>發生委和敷和角，赫曦伏明升明徵，敦阜卑監備化宮，流衍涸流順靜羽，堅成從革審平商，太過不及平氣紀。（每句三位，初太過，次不及，末平氣。）</p>

<h2>十三、論太少氣運相臨同化</h2>
<p>其運其氣，或太或少，乃輪主歲，時而更盛更衰也。上達於天，則有五星倍減之應；下推於地，則有五蟲耗育之驗。其五穀、五果、五味、五色之化類，豈有一歲而無者？惟成熟有多少，色味有厚薄耳。蓋金、木、水、火、土並行其化，互有休、囚、旺、相不同，遇陽年則氣旺而太過，遇陰年則氣衰而不及。太過己勝，則欲齊其所勝之化；不及己弱，則勝者來兼其化。太過歲謂木（壬），齊金化金（庚），齊火化火（戊），齊水化水（丙），齊土化土（甲），齊木化也。不及歲謂木丁，兼金同化金乙，兼火同化火（癸），兼水同化水（辛），兼土同化土（己），兼木同化也。其司天與運相臨，間有逆順相刑相佐，司天則同其正，抑運則反其平。如是五氣平正，則無相凌犯也。太過之歲，五運各主六年，乃五六三十陽年也。太角謂六壬年，逢子午寅申二火司天，（壬子壬午壬寅壬申，）則木運為逆者，火居其上也，（子居父位，）居其上為逆。太徵謂六戊年，或逢寒水司天，正抑其火，乃為平氣之歲，上羽與正徵同也。（戊辰戊戌正徵戊午之類。）太宮謂六甲年也。太商謂六庚年也，內逢子午寅申二火司天，正抑其金，復為平氣之歲，上徵與正商同也，（庚子庚午庚寅庚申正商乙酉之類，）逢辰戌水司天為逆，（庚辰庚戌，）水乃金之子也，居上為逆。太羽謂六丙年也。不及歲五運各主六年，乃五六三十陰年也。少角謂六丁年也，逢巳亥木司天，為運氣得助，上角同正角也，（丁己丁亥正角丁卯之類，）逢卯酉金司天，與運兼化，上商同正商也，（丁酉丁卯，）逢丑未土司天，以木不及金兼化，則土得其政，上宮同正宮也。（丁丑丁未正宮己未之類。）少徵謂六癸年也，內逢卯酉金司天，以火不及水兼化，則金得其政，上商同正商也。（癸卯癸酉。）少宮謂六己年也，內逢丑未土司天，為運得其助，上宮同正宮也，（己丑己未，）逢巳亥木司天，與運兼化，上角同正角也。（己巳己亥。）少商謂六乙年也，內逢卯酉金司天，為運得其助，上商同正商也，（乙卯乙酉，）逢己亥木司天，以金不及火兼化，則木得其政，上角同正角也。（乙巳乙亥。）少羽謂六辛年也，逢丑未土司天，與運兼化，上宮同正宮。（辛丑辛未。）內言上者，乃司天之令，其五太、五少歲，所紀不同者，蓋遇不遇也，如君火、相火、寒水，常為陽年司天，濕土、燥金、風木，常為陰年司天。然六十年中，各有上下臨遇，或司天勝運，或運勝司天，或運當太過，不務其德而淫勝，其所不勝，或運當不及，而避其所勝，不兼其化。其他太乙天符、歲會、同天符、同歲會，已具他篇，不復贅也。</p>
<p>經曰：氣相得則和，乃木火相臨，金水相臨，水木相臨，火土相臨，土金相臨，皆上生下，司天生運，故曰相得。不相得則病，乃木土相臨，土水相臨，水火相臨，火金相臨，乃上克下，司天克運，為不相得，則病。土臨火，火臨木，木臨水，水臨金，金臨土，乃運生司天，以下臨上為逆，故病亦微。又如木居金土位，火居金水位，土居水木位，金居火木位，乃運克司天，或曰天克運，如是者，為不相得，故病甚也。</p>

<h3>五運齊化歌</h3>
<p>五行太過名齊化，凡遇陽年即可推，勝己若臨逢我旺，彼雖克我我齊之。</p>
<p>（齊，如木欲齊金是也。）</p>

<h3>五運兼化歌</h3>
<p>五行不及為兼化，年值陰𬜠候用占，我氣已衰行正令，其間勝己必來兼。</p>
<p>（兼，謂強者，兼弱而同化，如水兼火是也。）</p>

<h3>逐年平氣歌</h3>
<p>平氣細將推，非惟不及時，陽年天抑運，陰運合年支。</p>
<p>（假令戊辰陽年，火太過而水司天，抑之乃平；癸巳陰年，火不及，而巳屬火，得其佐亦平。）</p>

<h3>五運太過勝己司天抑平之歌</h3>
<p>上羽正徵同，戊火逢氣水，上徵正商同，庚金火氣是。</p>
<p>（上正謂歲逢過不及，以本運太少音為正，司天音為上，或司天勝其正化，亦同於正，非音有上正也。此己太過，勝己在上抑平之，故上音與正音同。）</p>

<h3>五運不及己所合司天助運歌</h3>
<p>上角同正角，丁運木司天，上宮同正宮，己運土氣懸，上商同正商，乙運金氣焉。</p>
<p>（己所合，在上助己，故上音同己。）</p>

<h3>音運不及勝己司天兼化歌</h3>
<p>木氣運逢己，上角同正臨，土氣運逢辛，上宮同正侵，金氣運逢丁，上商同正尋。</p>
<p>（勝己在上兼化，故正音從司天。）</p>

<h3>音運不及勝己司天得政歌</h3>
<p>上角緣何同正角，火兼乙化木司時，上宮而以同正宮，金兼丁化土氣司，上商必然同正商，水兼癸化金司之。</p>
<p>（己不及，復為勝己所制，遇不勝己，在上得政。己全弱，故正宮亦從司天。）</p>
<figure>
<img data-orig-src="urn:270:10652.jpg" alt="五運太少齊同化圖">
</figure>

<h2>十四、論五行勝復</h2>
<p>或曰元豐四年，歲在辛酉，陽明司天為上商，少陰在泉為下徵，天氣燥，地氣熱，運得少羽，歲水不及，所謂涸流之紀，而反河決大水，何也？曰：少角之歲，木不及侮，而乘之者金也。金不務德，故以燥勝風時，則有白露早降，收氣早行，其變為肅殺，其災為蒼隕，名為少角，而實與太商之歲同。少徵之運，歲火不及，侮而乘之者水也。水不務德，故以寒勝熱時，則寒霧凝慘，地積堅冰，其變為凜例，其災為霜雹，名為少徵，而實與太羽之歲同。少宮之運，歲土不及，侮而乘之者木也，木不務德，故以風勝濕時，則有大風飄暴，草偃砂飛，其變為振發，其災為散落，名為少宮，而實與太角之歲同。少商之運，歲金不及，侮而乘之者火也。火不務德，故以熱勝燥時，則有火炎焦槁，炎赫沸騰，其變為銷爍，其災為燔𤋲，名為少商，而實與太徵之歲同。少羽之運，歲水不及，侮而乘之者土也。土不務德，故以濕勝寒時，則有泉湧河衍，涸澤生魚，其變為驟注，其災為霖潰，名為少羽，而實與太宮之歲同。通乎此，則知歲在涸流之紀，而河決大水，則可以類推之也。非徒如是而已，天地之間，或得其沖氣而生，或觸其乖氣而夭，未有能逃乎五行者也；所謂沖氣者，不相勝復而已，所謂乖氣者，勝復更作而已。方其乖氣之爭，狼戾已形，仇怒已萌，處乎此而求勝乎？彼也，雖有強剛勇悍之氣，又豈能常勝哉？故已有復之者，伺乎其後矣。是故木勝則金復以救土，而名木不榮；火勝則水復以救金，而冰雹乃零；土勝則木復以救水，而倮蟲不育；金勝則火復以救木，而流水不冰；水勝則土復以救火，而黅谷不登。夫暴虐無德者，災反及之，侮而乘之者，侮反受邪，出乎爾者反乎爾，未有勝而不復者也。勝之微者，復亦微；勝之甚者，復亦勝。其猶空谷之響乎爾，故曰五運之氣，猶權衡也。高者抑之，下者舉之，勝者復之，化者應之，氣之平也，五氣之相得也。勝者復之，氣之不平也，五氣之相賊也。氣平而相得者，所以道其常；氣不平而相賊者，所以觀其變。古之明乎此而善攝生者，何當不消息盈虛，以道御神也！無失天信，無逆氣宜。抑其有餘，而不翼其勝；助其不勝，而不讚其復。是以喜怒悲憂恐，有所一而莫能亂。精神魂魄意，有所養而莫能傷。春風、秋雨、冬涼、夏暑，雖天之屢變，如凶荒札瘥，豈能成其患哉？</p>

<h2>十五、論勝復</h2>
<p>運有盛衰，氣有虛實，更相迎隨，以司歲也。故經曰：有餘而往，不足從之，不足而往，有餘從之者，此也。故運互有太少勝復之變作矣。太過則先天時化以氣勝實，故不勝者受邪，不及則後天時化以氣衰虛，故勝己者來克。被克之後，必待時而復也行復於所勝，則己不可前，故待得時，則子當旺，然後子為母復仇，如木運少角歲，金清化來勝，則子火為復，（復亦勝也，火反勝金，故曰勝復同也，）反熱化勝金也。火運少徵歲，水寒化來勝，則子土為復，反濕化勝水也。土運少宮歲，木風化來勝，則子金為復，反清化勝木也。金運少商歲，火熱化來勝，則子水為復，反化勝火也。水運少羽歲，土濕化來勝，則子木為復，反風化勝土也。故言勝復同者，此也。《玄珠》論六氣有正化、對化之司，若正氣化令之實甚，則勝而不復；對司化令之虛微，則勝而有復。勝甚則復甚，勝微則復微，所謂邪氣化日也。（言六氣勝甚復甚，勝微復微。）如是氣不相得，則邪氣中人而疾病矣。然天地之氣，亦行勝復。故經曰：初氣終三氣，天氣主之，勝之常也；四氣盡終氣，地氣主之，復之常也。蓋勝至則復，復已而勝，故無常氣乃止，復而不勝則是生氣已絕，故曰傷生也。又歲氣太過，則不勝者受邪，若得其實，而反欺侮其所不勝己者，運不及，所勝者來克，乘氣之虛，又為不勝己者凌侮，如是終必受邪，以元非勝己之氣，必自傷也。故經曰：侮反受邪，此之謂也。如是不一，則在氣候，以別之也。</p>

<h3>運化先後天歌</h3>
<p>運化其精別，其行氣後先，後天從不及，太過主先天。</p>
<p>氣有餘，先天時而至行化；氣不足，後天時而至行化。</p>
<figure>
<img data-orig-src="urn:270:10653.jpg" alt="運化勝復同圖歌">
</figure>
<p>運化勝復同歌</p>
<p>勝復同兮不及年，運衰勝己必加愆，母仇子旺還當復，子化隨時反勝焉。</p>
<p>（如丁年木不及，金清化來勝，則子火為復，反熱化勝金，余效此。）</p>

<h1>卷之二</h1>

<h2>十六、論六十年客氣</h2>
<p>司天在泉四間氣紀步，各主六十日八十七刻半。客行天令，居於主氣之上，故有溫涼、寒暑、蒙暝、明晦、風雨、霜雪、電雹、雷霆不同之化。其春溫、夏暑、秋涼、冬寒四時之正令，豈能全為運與氣所奪？則當其時，自有微甚之變矣。布此六十客氣列於主位之下者，使知其氣之所在之大法也。其天符、歲會、平氣、支幹、逆順，氣與運相生、相剋，客勝、主勝、災化、分野、交時先後、淫勝郁復、嘉祥災變，各各不同。而六氣極則過亢，災害生矣。故氣極則反，由是所承之氣居下以乘之，經所謂相火之下，水氣承之是也。又有中見之氣從之，經所謂少陽之上，火氣治之，中見厥陰是也。蓋陽極則陰生，陰極則陽生，斯五行相濟之妙用也。其中見者，乃手足經六合藏府相乘之化是也，在天地間氣自應之矣。</p>

<h2>十七、論天地六氣（圖在主氣客氣文內）</h2>
<p>五行陰陽之氣以布八方。蓋天氣降而下，地氣遷而上。地之氣靜而常，天之氣動而變。其六氣之源則同，六氣之緒則異，何哉？蓋天地之氣始於少陰而終於厥陰。經曰少陰所謂標，厥陰所謂終是也。地之氣始於厥陰木，而終於太陽水，經曰顯明之右，君火之位是也。故天之六元氣反合地十二支，以五行正化對化為其緒。則</p>
<p>少陽司子午、太陰司丑未、少陽司寅申、陽明司卯酉、太陽司辰戌、厥陰司巳亥，天氣終始之因如是而已。</p>
<p>地之六氣反合天之四時，風熱暑濕燥寒為緒。則</p>
<p>厥陰風木主春，少陰君火主春末夏初，少陽相火主夏，太陰濕土主長夏，陽明燥金主秋，太陽寒水主冬，地氣終始之因如是而已。</p>
<p>經曰天有陰陽，地亦有陰陽者，乃上下相臨也。天氣動而不息，故五歲而遷。地氣靜而守位。天氣不加於君火，則五歲而餘一氣，右遷相火之上，以君火不立歲故也。地之紀五歲一周，天之紀六朞一備。五歲一周，則五行之氣遍。六朞一備，則六氣之位周。與干加支之緒小同，取陰陽相錯，上下相乘，畢其紀之之意也。以五六相合，故三十年一紀，則六十年矣。</p>
<figure>
<img data-orig-src="urn:270:10654.jpg" alt="交六氣時日圖">
</figure>
<p>歌見六氣遷移加臨之圖內。</p>

<h2>十八、論主氣</h2>
<p>地氣靜而守位，故春溫、夏暑、秋涼、冬寒為歲歲之常令，四時為六氣之所主也。厥陰木為初氣者，方春氣之始也，木生火，故少陰君火、少陽相火次之。火生土，故太陰土次之。土生金，故陽明金次之。金生水，故太陽水次之，皆相生而布其令，莫不咸有緒焉。木為初氣，主春分前六十日有奇，奇八十七刻半，自鬥建醜至卯之中，天度至此，風氣乃行也。君火為二氣，主春分後六十日有奇，自鬥建卯正至巳之中，天度至此，暄淑乃行也。相火為三氣，主夏至前後各三十日有奇，自鬥建巳正至未之中，天度至此，炎熱乃行也。土為四氣，主秋分前六十日有奇，自鬥建未正至酉之中，天度至此，雲雨乃行，濕蒸乃作也。金為五氣，主秋分後六十日有奇，自鬥建酉正至亥之中，天度至此，清氣乃行，萬物皆燥也。水為六氣，主冬至前後各三十日有奇，自鬥建亥正至醜之中，天度至此，寒氣乃行也。六氣旋相，以成一歲之主氣也。天之六氣之客，每歲轉居於其上，以行天令者也，是故當其時而行變之常也，非其時而行變之災也。如春行夏秋冬之令，冬行春夏秋之令，此客加主之變也。故有德化政令之常，有暴風疾雨迅雷飄電之變。冬有燥石之熱，夏有悽風之清。此無他，天地之氣勝復郁發之致也，此則五氣麗乎太過不及之徵耳。</p>

<h2>十九、論客氣</h2>
<p>六氣分上下左右而司天令，十二支分節令時日而司地化。上下相召，而寒、暑、燥、濕、風、火與四時之氣不同者，蓋相臨不一使然也。六氣司於十二支，有正對之化。厥陰司於巳亥，謂厥陰木也，木生於亥，故正化於亥，對化於巳也。卯雖為正木之分，乃陽明金對化也，所謂從生而順於己。少陰司於子午，謂少陰為君火尊位，正得南方離位，故正化於午，對化於子也。太陰司於醜未，謂太陰為土，土屬中宮，寄於坤位西南，而居未分，故正化於未，對化於醜也。少陽司於寅申，謂少陽相火，位卑於君火，雖有午位，君火居之，火生於寅，故正化於寅，對化於申也。陽明司於卯酉，謂陽明為金，酉為西方屬金，故正化於酉，對化於卯也。太陽司於辰戌，謂太陽為水，雖有子位，以居君火對化，水乃伏土中，即六戊天門戌，六己地戶辰是也，故水雖土用，正化於戌，對化於辰也。此天之陰陽合地之十二支，動而不息者也。但將年律起當年司天，相對一氣為在泉，餘氣為左右間，用在泉後一氣為初之氣，主六十日有奇。至司天為三之氣，主上半年。（自大寒日後通主上半年也。至在泉為六氣，主下半年。自大暑日後通主下半年。）經曰：歲半已前天氣主之，歲半已後地氣主之者，此也天之六氣客也。將此客氣布於地之六氣步位之上，則有氣化之異也。經曰：上下有位，左右有紀者，謂司天曰上，位在南方，則面北立左右，乃左西右東也。在泉曰下，位在北方，則面南立左右，乃左東右西也。故上下而左右殊。經曰少陽之右，陽明治之。乃南面而立，以閱之至也，非論上下左右之位，而與顯明之右，君火治之之意同，謂南面視之指位而言也。</p>
<figure>
<img data-orig-src="urn:270:10655.jpg" alt="六氣正化對化之圖歌">
</figure>
<p>少陰正化午對化子。太陰正化未對化醜。少陽正化寅對化申。陽明正化酉對化卯。太陽正化戌對化辰。厥陰正化亥對化巳。</p>
<p><u>歌曰</u></p>
<p>午（位火）寅（生火）同酉（屬金）未（寄土），戌（門水上伏天）亥（生木）正方由，十二支分半，余皆正化求。</p>
<figure>
<img data-orig-src="urn:270:10656.jpg" alt="六氣遷移加臨之圖歌　交主氣時日歌曰">
</figure>
<p>厥陰之氣大寒初，君火春分二上居，小滿少陽三候主，太陰大暑四交秋（分），五定陽明位寒暑，終於小雪！（客行天命，有寒暑燥濕風火之化，主當只奉之，客勝則從，主勝則逆，二者自以多少為勝，而無復興常勝殊）。</p>
<figure>
<img data-orig-src="urn:270:10657.jpg" alt="四間氣之圖歌">
</figure>
<p>四間：此以客氣論之，司天為三氣，在泉為終氣，余為左右間，司天左為四氣，右為二氣，在泉左為初氣，右為五氣。</p>
<p><u>歌曰</u></p>
<p>如推四間居何地，標準司天與在泉，左四天旁同右二，左初右五列泉邊。</p>

<h2>二十、六十年主客加臨天氣</h2>
<p>（子午）初寒切霜雪冰，二風雨蟲三暑烘，四雨霪零走雷電，五溫風兮燥寒終。（丑未）初蟲風，二疵疫，雷雨電雹三氣中，四乃炎沸五涼燥，大寒凝冽六之工，熱風時氣。（寅申）初是二雨，三為災亢攻，四風霧露五寒早，寒風雨蟲六驗攻。（卯酉）初風雨，二熱疫，三發涼風四雨蒙，涼風雨蟲五能致，蟄出不冰應六宮。瘟疫。（辰戌）初溫涼二，寒熱冰雹三所通，四風雨蟲五濕熱，寒雪地濕六不空。（巳亥）初霧昧，二雨熱，熱風雨蟲三卻同暴雨溽濕熱用四，雨五六蟄不冰窮。</p>
<p>此皆客行天令居上，故有是不同之化，然平氣至，必當其期，過不及則先後其候於交氣期，各差十三日而應。</p>
<figure>
<img data-orig-src="urn:270:10658.jpg" alt="六十年氣運相臨之圖歌">
</figure>
<p><u>歌曰</u></p>
<p>六十年中紀運歌，運克氣者為不和，氣如生運名順化，運被氣克天刑多，小逆見之運生氣，氣運合則天符過。</p>
<p>（小逆如己卯歲，雖金與土相得，然子臨父位為逆。）</p>

<h2>二十一、論無符</h2>
<p>司天者，司直也，主行天之令，上之位也。歲運者，運動也，主天地間人物化生之氣，中之位也。在泉者，主地之化，行乎地中，下之位也。一歲之中，有此上中下三氣各行化令，而氣偶符會而同者，則同其化，雖無克復之變，則有中病、徐暴之異。是謂當年之中，司天之氣與中氣運同者，命曰天符。符之為言合也，天符共十二年，而十二年中，又有與當年十二律、五行同者，又是歲會，命曰太乙天符。太乙者，尊之之號也。謂一者天會，二者歲會，三者運會。只有四年，不論陰年陽年皆曰天符。經曰：天符為執法，歲會為行令，太乙天符為貴人。邪之中，則執法者，其病速而危；行令者，其病徐而持；貴人者，其病暴而死。蓋以氣令中人則深矣。歲會幹律（支也，又辰止。）同而非天令，言行令者，象方伯無執法之權，故無速害病，但執持而矣。</p>
<figure>
<img data-orig-src="urn:270:10659.jpg" alt="天符之圖">
</figure>

<h2>二十二、論歲會</h2>
<p>夫當年十干建運，與年辰、十二律、五行相會，故曰歲會，氣之平也。故不以陰年陽年，乃是取四時正中之月為四直承歲，子午卯酉是也。而土無正位，各寄旺四季之末一十八日有奇，則通論承歲，辰戌丑未是也。外有四年，壬寅皆木，庚申皆金，是二陽年。癸巳皆火，辛亥皆水，是二陰年，是運與年辰相會而不為歲會者，謂不當四年正中之令故也。除二陽年，則癸巳辛亥二陰年，雖不明歲會，亦上下五行相佐，皆為平氣之歲，物生脈應，皆必合期，無先後矣。歲會八年中，內四年與司天氣同入太乙天符。</p>
<figure>
<img data-orig-src="urn:270:10660.jpg" alt="歲會之圖">
</figure>

<h2>二十三、論同天符同歲會</h2>
<p>運氣與在泉合，其氣化陽年曰同天符，陰年曰同歲會。故六十年中，太乙天符四年，天符十二年，歲會八年，同天符六年，同歲會六年，五者離而言之，共三十六年。合而言之，止有二十七年。經言二十四歲者，不言歲會也。變行有多少，病形有微甚，生死有早晏，按經推步，誠可知也。</p>
<figure>
<img data-orig-src="urn:270:10661.jpg" alt="同天符同歲會圖">
</figure>

<h3>天符太乙天符歲會同天符同歲會總歌</h3>
<p>司天與運及年支，三位相參太乙符；運合年支名歲會，土（土之年辰辰四正必）同途；在泉合運陰同歲，陽則同天符可呼；惟有天符何意取，司天合運是其區。</p>
<p>（符，合也。太乙，尊之之號，惟辰戌丑未寄位子午卯酉四正位，主歲會者，余不當正中之令，故耳邪之中人太乙暴而死，歲會徐而持，天符速而危。）</p>

<h3>干德符歌</h3>
<p>（無論無圖，讀其歌便諳其義，故附錄於此。）</p>
<p>不及年月干符同，未逢行勝氣亦平，行勝已後行復畢，本氣即得正位行。年前大寒交初氣，其日乾合年干位，交氣時干或合之，二者皆為平氣至。（如丁酉歲木運不及，當金行勝。正月建壬，與丁合，此未逢勝。己卯歲土不及，當木行勝，金行復至。九月建甲與己，金土乃遷位，此行勝己後，亦行復己畢也。年日時除交初氣，余雖相遇不相濟，今謂甲已已合之類是也。）</p>

<h2>二十四、論手足經</h2>
<p>經言人五藏十二節，皆通乎天氣者，乃論手足經三陰三陽也。其十二經外循身形，內貫藏府，以應十二月，即十二節也。五藏為陰，六府為陽，一陰一陽，乃為一合，即六合也。夫少陰之經主心與腎二藏者，蓋心屬火，而少陰冬脈，其本在腎。又居火，正司於午，對化於子，是以腎藏亦少陰主之。五藏為陰，不可言陽。水隨腎至，故太陽為府，則手太陽小腸、足太陽膀胱也。太陰之經主脾與肺二藏者，蓋脾屬陰土，而太陰陰脈在肺，又土生金，子隨母居，故肺太陰主之。金隨肺至，故陽明為府，則手陽明大腸、足陽明胃也。厥陰之經主肝與心包絡二藏者，蓋肝屬木，又生火，子隨母居，故心包厥陰主之。火隨心包而至，故少陽為府，則手少陽三焦、足少陽膽也。其手足經者，乃手經之脈自兩手起，足經之脈自兩足起也。以十二辰言之，蓋陰生於午，陰上生，故曰手經。陽生於子，陽下生，故曰足經，手足經所以紀上下也。又心、肺、心包在上，屬手經。肝、脾、腎在下，屬足經，亦其意也。藏府同為手足經，乃一合也。心包非藏也，三焦非府也。經曰膻中者，臣使之官，喜樂出焉，在胸主兩乳間，為氣之海；然心主為君也。三焦者，決瀆之官，水道出焉，三焦有名無形，上合於心主，下合於右腎，主謁道諸氣，名為使者也。</p>
<figure>
<img data-orig-src="urn:270:10662.jpg" alt="手足經所屬之圖歌">
</figure>

<h3>手足經歌</h3>
<p>太陽（手）小腸足膀胱，陽明（手）大腸足胃當，少陽（手）三焦足膽配，太陰（手）肺兮足脾方，少陰（手）心經足腎部，厥陰（手）包絡足肝鄉。</p>
<p>藏府所屬地支歌，子腎午心辰膀胱，醜脾酉腸戌小腸，未肺巳肝亥包絡，卯胃申焦寅膽房。</p>

<h2>二十五、論六病</h2>
<p>厥陰所至為裡急、筋緩、縮急、支痛、軟戾、脅痛、嘔泄。少陰所至為瘍疹、身熱、惡寒、戰慄、驚惑、悲笑、譫妄、衄衊、血汙。太陰所至為積飲、痞膈、中滿、霍亂、吐下、身重、胕腫、肉泥按之不起。少陽所至為嚏嘔、瘡瘍、喉痹、耳鳴、嘔湧溢、食不下、驚躁瞀昧、目不明、暴注、瞤瘛、惡病、暴死。陽明所至為鼽嚏、浮虛、皴揭，尻陰、股、膝、髀、腨胻、足病。太陽所至為屈伸不利、腰痛、寢汗、痙流泄禁止，此六氣之為病也。按經旨，則淫勝、郁復、主客、太少皆至其疾，則邪之中人有淺深矣。又在人稟受、沖冒、畏避而矣。原夫人稟五行之氣生，亦從五行之數盡。若起居調養而能避邪安正，無橫夭殃矣。然為七情牽於內，六氣干於外，由是眾疾作而百病生。又況趨逐利名，食迷嗜欲，勞役辛苦，飢渴醉飽，沖涉寒暑，凌冒風雨，觸犯禁忌，殘賊真靈，如是論之，夭傷之由，豈數之盡也，歸咎於己而已。經曰：不知持滿，不時御神，務快於心，逆於生樂者，此之謂也。蓋天之邪氣，感則害人五藏；水穀之寒熱，感則害人六府；燥濕感則害人皮肉筋脈。又喜怒傷氣，寒暑傷形，是知病生之變，亦由乎我也。又或乘年之虛，失時之和，遇之空則邪甚矣。重感於邪，則病危矣。雖然氣運交相臨遇，相得則和，不相得則病。或瘟疫時氣，一州一縣，無問大小皆病者，斯固氣運自然，若我之真元氣實，起居有時，動作無相沖冒，縱使瘟疫之作亦微。是故聖人有養生修真之術也。或者以為天地五運六氣如何人病，蓋人之五藏應天地五行，陰陽之氣隨其卷舒衰旺故也。王冰以為蒼天布氣尚不越於五行，人在氣中，豈不應於天道？故隨氣運陰陽之盛衰，亦理之自然也，但五運六氣為疾而感之者多矣。又經曰：冬傷寒，春病溫；春傷風，夏飧泄；夏傷暑，秋痎瘧；秋傷濕，冬咳嗽。傷四時之氣，皆能為病。又有四方之氣不同，為病各異，故經有「異法方宜」之論，以得病之情者是也。又或當歲有病，而非歲氣者，亦須原其所感，形症脈候未必盡為運所作，在工以明之，庶免拘於氣運也。</p>

<h3>六病歌</h3>
<p>厥陰筋緛縮裡急，緛戾支脅痛嘔泄。少陰寒熱慄疹瘍，驚惑悲笑譫衄衊。太陰積飲痞滿中，身重胕腫霍亂別。少陽喉痹嚏嘔瘍，耳鳴湧溢驚躁制，暴注瞀昧目不明瞤瘛惡病暴死滅。陽明鼽嚏皴揭（浮虛），浮尻陰股腨是病切。太陽寢汗若屈伸，流泄禁止腰痛折。</p>

<h2>二十六、論治法</h2>
<p>主客之氣皆能至其疾，下是主氣，上是客氣。經曰：木位之主，其瀉以酸，其補以辛；厥陰之客，以辛補之，以酸瀉之，以甘緩之；火位之主，其寫以甘，其補以咸；少陰之客，以甘寫之，以咸軟之；少陽之客，以咸補之，以甘寫之，以咸軟之；土位之主，其寫以苦，其補以甘；太陰之客，以甘補之，以苦瀉之，以甘緩之；金位之主，其瀉以辛，其補以酸；陽明之客，以酸補之，以辛瀉之，以苦瀉之；水位之主，其瀉以咸，其補以苦；太陽之客，以苦補之，以咸瀉之，以苦堅之，以辛潤之。此六氣主客之補瀉也。客勝則瀉客補主，主勝則瀉主補客，應隨當緩當急以治之也。而本經又有六氣司天在泉淫勝之治法，有司天在泉反勝之治法，有歲運上下所宜藥食之治法，如是不一，各依疾苦，順其運令，以藥石五味調治之。為工者當明其歲令，察其形症，診其脈息，別其陰陽，依經旨而極救之，何患疾之不差耶？五運之中又有必折其鬱氣，先取化源之法。《玄珠》以為太陽司天，取九月瀉水之源。陽明司天，取六月瀉金之源。少陰、少陽司天，取三月瀉火之源。太陰司天，取五月瀉土之源。厥陰司天，取年前十二日瀉木之源。乃用針迎而取之法也。故曰無失天信，無逆氣宜，無翼其勝，無贊其復，是謂主治者，此也。蓋用之制有法存焉，然病有久新；方有大小，有毒無毒，因宜而制，此用藥之大法也。或者以為歲運太角木旺土衰，迎取之當瀉其肝經，而益其脾胃，此非通論也，何者？豈有人人藏府皆同者，假如肝元素虛，脾氣太勝，遇此太角之運，肝木稍實，脾氣得平，方獲安和。若便瀉肝補脾，所謂實實虛虛，損不足益有餘，如此而死者，醫殺之耳，是不容其誤，蓋害人增疾則尤甚也，何則？天下事物之理，益之則遲，而損之則速。若服一藥取其效，則緩而微。若食一發病之物，俄頃而知。由是觀之，成難毀易，可不謹哉？</p>

<h3>六氣主客補瀉法歌</h3>
<p>木主酸（收）瀉辛（散）補之。火主甘寫取舒緩咸補（取柔軟）施，土主苦寫（取堅燥）甘味（安緩）補，金主辛瀉（取散）酸補（取收）為，水主咸寫（取軟）苦順（取堅）是，六氣補瀉客後隨。苦（味）急（散）酸寫（辛補）甘（味）緩（收）厥，甘寫酸收（苦緩）少陰知，咸補甘寫咸軟相，甘補苦寫甘緩脾，酸補昔（味）寫肺經（氣上逆）施，苦補咸寫與水推，更以苦堅以辛潤，苦燥同極（太陽）尤其宜。</p>
<p>二火之氣雖殊，其用則一。木用辛補，酸瀉。經注辛味散，故補。酸味收，故瀉。《校正》云自為一義，今未詳法，復司氣可犯無犯，如夏寒甚，則可熱犯，熱不甚，則不可犯。</p>

<h3>五藏所入之味歌</h3>
<p>酸主收之屬肝藏，苦堅入心甘緩脾，辛性味散能調肺，咸則軟兮於腎宜。</p>

<h3>六氣所宜之味歌</h3>
<p>鹹寒二火木辛涼，甘熱當令治太陽，苦折太陰宜苦熱，陽明之味苦溫嘗。</p>

<h2>二十七、論六病</h2>
<p>明陰陽運轉之六氣，辨南北歲政之尊卑，察主勝客勝之由，審淫勝郁復之變，須在脈，然後為工矣。五運不及，則所勝者來克；五運太過，則不勝者受邪。天地六氣，互相臨遇，應則順，否則逆。氣相得則和，不相得則病。唯天地勝復之氣不形於證者，乃初氣終三氣，天之勝，四氣盡終氣，地之復。蓋以氣不以位，故不以形症觀察也，余則當知六脈。故經曰：厥陰之至其脈弦，少陰之至其脈鉤，太陰之至其脈沉，少陽之至其脈大而浮，陽明之至其脈短而澀，太陽之至其脈大而長。至而和則平，至而甚則病。至而反者病，至而不至者病，未至而至者病，陰陽易者危，不當其位者病，（見於他位也。）迭易其位者病，（左見右脈，右見左脈。）失守其位者危。（脈已見於他鄉，本宮見賊殺之氣，故病危，）此之謂也。然人之生也，雖五行備於一身，生氣根於內，亦隨天地之氣卷舒也，何以明之？謂如春脈弦，夏脈洪，秋脈毛，冬脈石是也。夫人感運氣而生，亦曰感運氣而疾。經曰：逆之則變生，變生則病，物生其應也，氣脈其應也，當立歲氣以診別之，「平人氣象論」曰：太陽脈至洪大而長，少陽脈至乍數乍疏、乍短乍長，陽明脈至浮大而短。《難經》引此亦論三陰三陽之脈者，乃以陰陽始生之淺深而言之也，六脈者，（指前厥陰之至其脈弦等，）蓋言運與氣，勝復臨遇，正當行令，當其司化之時而應，故脈之動不相同。若交氣交運時日，及期而見，無相先後、不及太甚，方謂之平，若差之者，當知其病也。</p>

<h2>二十八、論南北政</h2>
<p>運用十干起，則君火不當其運也。六氣以君火為尊，五運以濕土為尊，故甲己土運為南政。蓋土以成數，貫金木水火，位居中央，君尊南面而行令，餘四位以臣事之，北面而受令，所以有別也。而人脈應之，甲己之歲二運南面論脈，則寸在南，而尺在北。少陰司天，兩寸不應，乃以南為上，北為下，正如男子面南受氣尺脈常弱；女子面北受氣尺脈常盛之理同。以其陰氣沉下故不應耳。六氣之位則少陰居中，而厥陰居右，太陰居左，此不可易也。其少陰則主兩寸尺，厥陰司天，在泉當在右，故右不應。太陰司天，在泉當在左，故左不應，依南政而論尺寸也。若覆其手診之，則陰沉於下，反沉為浮，細為大矣。又經曰：尺寸反者死，陰陽交者死。先立其年以知其氣，左右應見，然後乃可言死生之逆順者，更在診以別其反，詳其交，而後造死生之微也。</p>
<figure>
<img data-orig-src="urn:270:10663.jpg" alt="南北政圖歌">
</figure>
<p><u>歌曰</u></p>
<p>土位居南號曰君，火金木水北方臣，運須濕土（起甲己故）當尊位，六氣仍先君火論。</p>
<figure>
<img data-orig-src="urn:270:10664.jpg" alt="南政司天之圖">
</figure>
<figure>
<img data-orig-src="urn:270:10665.jpg" alt="北政司天之圖">
</figure>

<h2>二十九、論運氣加臨尺寸脈候不應交反說</h2>
<p>經曰：陰陽交者死，謂歲當陽在左，脈反見右；歲當陰在右，脈反見左，左右交見是謂交。若左獨然，或右獨然，是不應，非交也。惟寅、申、巳、亥、辰、戌、醜、未八年有之。經曰：尺寸反者，謂歲當陰在寸，而脈反見於尺；歲當陽在尺，而脈反見於寸，尺寸俱反，方謂之反。若尺獨然，或寸獨然，是不應，非反也。惟子、午、卯、酉四年有之。蓋造化之氣變常，則氣血紛擾而為病矣。經曰：先立其年，以和其氣，左右應見，乃可以言死生之逆順也。舉此為例，餘歲同法。粗工不知，呼為寒熱。攻寒令熱，脈不變而熱疾已生，制熱令寒，脈如是而寒疾又起，欲求其適，安可得乎？夭枉之因，率由此也。凡三陰司天，在泉，上下南北二政，或左或右，兩手寸尺其脈沉下，沉下不相應者，覆手，則沉為浮，細為大矣。</p>
<p>機按：左右交見，惟寅、申、巳、亥、辰、戌、醜、未八年有之，上下相反惟子、午、卯、酉四年有之。蓋太陰、厥陰主左右，言少陽主寸尺言故也。</p>

<h3>尺寸交反死脈歌</h3>
<p>如太陰司天，陰脈歲當見左寸，反見右寸，其右寸本然陽脈，而移左寸，曰陰陽交，交者死。若左獨陰脈不見，或右獨不見，乃不應陰氣，止病而已，尺同。惟寅、申、巳、亥、辰、戌、醜、未八年有之。少陰司天，陰脈歲當見兩寸，反見兩尺，其兩尺本然陽脈，而移兩寸，曰尺寸反，反者死，尺同。尺寸獨義同前，惟子、午、卯、酉四年有之。</p>
<p><u>歌曰</u></p>
<p>左寸交右右交左，右尺交左左交右，兩寸反移兩尺居，兩尺反移兩寸守。</p>
<figure>
<img data-orig-src="urn:270:10666.jpg" alt="南北政寸尺脈不應圖歌及古案">
</figure>
<p>不應謂陰之所在，脈乃沉細不應，本脈也，若覆手診之，則沉為浮，細為大矣。尺寸本無上下，今以上下字言之，以別南北政，司天在泉所主耳。</p>
<p><u>歌曰</u></p>
<p>南政寸上尺居下，北政尺上寸下推，三陰司天不應上，在泉於下不應之，太陰須診左寸尺，厥陰右手寸尺持，少陰脈兼兩寸尺，此理微妙誠難知。</p>
<p>按脈不應，專指三陰言，然少陰君主也，故主兩寸兩尺，所以少陰司天，兩寸不應；少陰在泉，兩尺不應，子之左醜屬太陰，故太陰司天，左寸不應；太陰司地，左尺不應。子之右亥屬厥陰，故厥陰司天，右寸不應；厥陰在泉，右尺不應。但看三陰所在，司天主寸，在泉主尺，不論南政北政，此要法也。</p>
<p>一人臥病，醫診左尺不應，以為腎已絕矣，死在旦夕。更醫診之，察色切脈，則面戴陽，氣口皆長而弦，乃傷寒三陽合病也。又方涉海為風濤所驚，遂血鬱而神懾，為熱所搏，乃吐血一升許，且脅痛，煩渴，譫語，投小柴胡湯，減參，加生地，半劑後，俟其胃實，以承氣湯下之而愈，適是年歲運，左尺當不應，此天和脈，非腎絕也。</p>

<h2>三十、五運主病治例</h2>
<p>凡遇六壬年，發生之紀，歲木太過，風氣流行，脾土受邪，民病飧泄，食減，體重，煩冤，腸鳴，腹支滿，甚則忽忽善怒，眩冒顛疾。為金所復，則反脅痛而吐，甚則衛陽絕者死。</p>
<p><u>蒼朮湯</u>　治脾胃感風，飧泄注下，腸鳴腹滿，四肢重滯，忽忽善怒，眩冒顛暈，或左脅偏疼。</p>
<p>白茯苓（去皮）　厚朴（姜葉制）　白朮　青皮（去白）　乾薑（炮）　半夏（湯洗）　草果（去殼）　甘草（炙，各等分）</p>
<p>上為㕮咀，每服四錢，水一大盞，姜三片，棗二枚，煎七分，去滓，食前服，以效為度。</p>
<p>凡遇六戊年，赫曦之紀，歲火太過，炎暑流行，肺金受邪，民病瘧，少氣咳喘，血溢血泄，注下，嗌燥，耳聾，中熱，肩背熱，甚則胸中痛，脅支滿，背肩並兩臂痛，身熱骨痛，而為浸淫。為水所復，則反譫妄狂越，喘鳴，血溢，泄不已，甚則太淵絕者死。</p>
<p><u>麥門冬湯</u>　治肺經受熱，上氣咳喘，咯血痰壅，嗌乾，耳聾，泄瀉，胸脅滿痛，連肩背兩臂膊痛，息高。</p>
<p>麥門冬（去心）　香白芷　半夏（洗滑）　桑白皮　竹葉　甘草（炙）　紫菀茸　鍾乳粉　人參（各等分）</p>
<p>上㕮咀，每服四錢，水一大盞，姜三片，棗二枚，煎七分，去滓，食前服，以效為度。</p>
<p>凡遇六甲年，敦阜之紀，歲土太過，雨濕流行，腎水受邪，民病腹痛，清厥，意不樂，體重，煩冤，甚則肉痿，足痿不收，行善瘛，腳下痛，中滿，食減，四肢不舉。為風所復，則反腹脹，溏泄，腸鳴，甚則太谿絕者死。</p>
<p><u>附子山茱萸湯</u>　治腎經受濕，腹痛，寒厥，足痿不收，腰脽痛，行步艱難，甚則中滿不下，或腸鳴溏泄。</p>
<p>附子（炮去皮臍）　山茱萸（各一兩）　半夏（洗去滑）　丁香（一分）　烏梅（半兩）　木瓜干　肉豆蔻（各三分）　藿香（一分）</p>
<p>上㕮咀，每服四錢，水一大盞，姜七片，棗一枚，煎七分，去滓，食前服，以效為度。</p>
<p>凡遇六庚年，堅成之紀，歲金太過，燥氣流行，肝木受邪，民病脅小腹痛，目赤，背癢，耳無聞，體重，煩冤，胸痛引背，脅滿引小腹，甚則喘咳逆氣，背肩痛，尻陰、股膝、髀腨、□胻足痛。為火所復，則暴痛，胠脅不可反側，咳逆，甚而血溢，太衝絕者死。</p>
<p><u>牛膝木瓜湯</u>　治肝虛遇歲燥，脅連小腹拘急，疼痛，耳聾，目赤，咳逆，肩背連尻陰、股膝、髀腨。胻皆痛，悉主之。</p>
<p>牛膝（去茜酒浸）　木瓜（各一兩）　芍藥　杜仲（去皮，薑汁製炒斷絲）　枸杞子　黃柏節　菟絲子（酒浸）　天麻（各三分）　甘草（炙，半兩）</p>
<p>上㕮咀，每服四錢，水大盞，姜三片，棗一枚，煎七分，去滓，食前服，以效為度。</p>
<p>凡遇六丙年，漫術之紀，歲水太過，寒氣流行，邪害心火，民病身熱煩心，躁悸，上下中寒，譫妄，心痛，甚則腹大脛腫，喘咳，寢汗，憎風。為土所復，則反脹滿，腸鳴溏泄，食不化，渴而妄冒，甚則神門絕者死。</p>
<p><u>川連茯苓湯</u>　治心虛為寒冷所中，心熱躁，手足反寒，心腹腫痛，病喘咳，自汗，甚則大腸便血。</p>
<p>黃連（去須）　茯苓（各一兩）　麥門冬（去心）　車前子（炒）　通草　遠志（去心，薑汁製炒，各半兩）　半夏（洗去滑）　黃芩（去外腐）　甘草（炙，各半兩）</p>
<p>上為㕮咀，每服四錢，水一盞，姜三片，棗一枚，煎七分，去滓，食前服，以效為度。</p>
<p>凡遇六丁年，委和之紀，歲木不及，燥乃盛行，民病中清，胠脅痛，小腹痛，腸鳴溏泄。為火所復，則寒熱，瘡瘍，痤疿，癰腫，咳而鼽。</p>
<p><u>蓯蓉牛膝湯</u>　治肝虛為燥熱所傷，胠脅並小腹痛，腸鳴溏泄，或發熱，遍體瘡瘍，咳嗽，肢滿，鼻鼽。</p>
<p>肉蓯蓉（酒浸）　牛膝（酒浸）　乾木瓜　白芍藥　熟地黃　當歸（去苗）　甘草（炙，各等分）</p>
<p>上㕮咀，每服四錢，水一大盞，姜三片，烏梅半枚，煎七分，去滓，食前服，筋痿腳弱者，鎊鹿屑同煎。</p>
<p>凡遇六癸年，伏明之紀，歲火不及，寒乃盛行，民病胸痛，脅府滿，膺背、肩胛、兩臂內痛，鬱冒矇昧，心痛，暴喑，甚則屈不能伸，髖髀如別。為土所復，則反鶩溏泄，食飲不下，寒中，腸鳴泄注，腹痛，暴攣，痿痹，足不能任身。</p>
<p><u>黃耆茯神湯</u>　治心虛挾寒，心胸中痛，兩脅連肩背，肢滿，噎塞，鬱冒矇昧，髖髀攣痛，不能屈伸，或不能利，溏泄，飲食不進，腹痛，手足痿痹不能任身。</p>
<p>黃耆　茯神（去水）　遠志（去心，薑汁製炒）　紫河車　酸棗仁（炒，各等分）</p>
<p>上㕮咀，每服四錢，水一大鐘，姜三片，棗一枚，煎七分，去滓，食前服，以效為度。</p>
<p>凡遇六己年，卑監之紀，歲土不及，風氣盛行，民病飧泄，霍亂，體重，身痛，筋骨繇，並肌肉瞤酸，善怒。為金所復，則反胸脅暴痛，下引小腹，善太息，氣客於脾，食少味。</p>
<p><u>白朮厚朴湯</u>　治脾虛風冷所傷，心腹脹滿疼痛，四肢筋骨重弱，肌肉瞤動，酸廝，善怒，霍亂，吐瀉，或脅胸暴痛，下引小腹，善太息，食少失味。</p>
<p>白朮　厚朴（姜炒）　半夏（洗去滑）　桂心　藿香（去梗）　青皮（去白，各三兩）　乾薑（炮）　甘草（炙，各半兩）</p>
<p>上㕮咀。每服四錢，水一大盞，姜三片，棗一枚，煎七分，去滓，食前服，以效為度。</p>
<p>凡遇六乙年，從革之紀，歲金不及，火盛行，民病肩背瞀重，鼽嚏，血便注下。為水所復，則反頭腦戶痛，症及囟頂，發熱，口瘡，心痛。</p>
<p><u>紫菀湯</u>　治肺虛感熱，咳嗽喘滿，自汗，衄血，肩背瞀重，血便注下，或腦戶連囟頂痛，發熱，口瘡，心痛。</p>
<p>紫菀茸　白芷　人參　甘草　黃耆　地骨皮　杏仁（去皮，炙）　桑白皮（炙，各等分）</p>
<p>上㕮咀，每服四錢，水一大盞，姜三片，棗一枚，煎七分，去滓，飢時服，以效為度。</p>
<p>凡遇六辛年，涸流之紀，歲水不及，濕乃盛行，民病腫滿身重，濡泄，寒瘍，腰膕、腨、股、膝、痛不便，煩冤，足痿清厥，腳下痛，甚則胕腫，腎氣不衡。為木所復，則反面色時變，筋骨並闢，肉瞤瘛，目視䀮䀮，肌肉胗發，氣並膈中，痛於心腹。</p>
<p><u>五味子湯</u>　治腎氣虛，坐臥濕地，腰重著疼痛，腹脹滿，濡泄無度，行步難，足痿清厥，甚則浮腫，面色不常，或筋骨並臂瞤瘛，目視䀮䀮，膈中及咽痛。</p>
<p>五味子　附子（炮去皮臍）　巴戟（去心）　鹿茸（燎去毛酥炙）　山茱萸（去子）　熟地黃　杜仲（薑汁浸炒去絲，各等分）</p>
<p>上㕮咀，每服四錢，水一大盞，姜三片，鹽少許煎七分，去滓，食前服，以效為度。</p>
<p>凡六壬、六戊、六甲、六庚、六丙歲，乃木、火、土、金、水太過，為五運先天；六癸、六丁、六己、六乙、六辛歲，乃木、火、土、金、水不及，為五運後天。民病所感治之，各以五味所勝調和，以平為期。</p>

<h2>三十一、六氣主病治例</h2>
<p><u>風勝燥制火併湯</u></p>
<p>天南星（二兩半）　北桔梗（七錢半）　小梔子（一兩，取仁。已上三味入太陰肺經，助燥化制其風）　川黃連（八錢五分，此一味入少陰心經，瀉火抑母之甚。母者，木也。此實則瀉子也）　青皮（二錢半，引諸藥至風勝之地）　防風（三錢，去蘆）　薄荷（一錢，此二味散風之勢）</p>
<p>上製為粗末，每服七錢半，姜三片，水一大鐘，煎至七分，去滓溫服。</p>
<p><u>水勝濕制風並湯</u></p>
<p>蒼朮（二兩，米泔浸）　白朮（二兩半，麥殼炒，去麥殼）　甘草（五錢，炙。已上三味入足太陰脾經，助土以制水甚）　吳茱萸（五錢）　乾薑（五錢七分，此二味入厥陰肝經，瀉水，少抑母甚。母者，水也，此實則寫子也）　附子（一錢乙字，引諸藥至水勝之地銼）</p>
<p>上銼為粗，每服七錢，大棗一枚，水一鍾，煎至七分，去滓溫服。</p>
<p><u>火勝寒制濕並湯</u></p>
<p>黃柏（二兩半，鹽水炒）　知母（一兩，去毛。已上二味入少陰腎經，助寒化以制火甚）　片黃芩（五錢，酒炒）　梔子仁（小紅者，此二味入太陰脾經，助濕化抑母甚）　黃連（一錢，薑汁炒，引諸藥至火勝之地）</p>
<p>上銼為粗末，每服七錢，燈心七根，蓮子五枚，水一碗，煎至七分，去滓溫服。</p>
<p><u>土勝風制燥並湯</u></p>
<p>川芎（一兩，去蘆，米醋炒。經云：木位之主，其補以辛，川芎味辛氣溫）　當歸（一兩半，酒洗。此二味入厥陰肝經，助風化，以制其溫）　南星（一兩，湯泡一次）　桑白皮（七錢，蜜炙，去皮土。此二味瀉燥奪母）　大棗（五枚，引諸藥至濕勝之地）　川萆薢（八錢，以散其濕）</p>
<p>上銼為粗末，每服七錢，姜五大片，水一碗，煎至七分，去滓溫服。</p>
<p><u>熱制寒並湯</u></p>
<p>肉桂（二兩，去粗皮，此味入少陰心經，助熱化以制金甚）　當歸（一兩，半酒洗。此味助木生火以制燥甚）　澤瀉（一面，去毛。此味入少陰腎經，瀉寒以抑母甚）　獨活（六錢，此味與澤瀉頗同）　桔梗（三錢半，引諸藥至燥勝之地）</p>
<p>上銼為粗末，每服六錢，水一碗，煎七分，去滓溫服，燥易即止。</p>
<p><u>火勝陰精製霧漚潰並湯</u></p>
<p>天門冬（三兩，蜜湯浸，去心）　生地黃（二兩半，酒洗，此二味入陰經助水化以制熱甚）　柴胡（五錢）　連翹　黃芩（各三錢，此三味入霧漚潰抑甚）　地骨皮　黃柏（各二錢半，此二味引諸藥至熱勝之地）</p>
<p>上銼為粗末，每服七錢，燈心一撮，水一碗，煎至七分，去滓溫服。</p>

<h3>五運所化之圖</h3>
<p><u>甲己歲氣土化之圖</u></p>
<p><u>甲</u></p>
<p>歲土太過陽能　是歲泉湧河溢，涸澤亦生魚，風雨大。</p>
<p>歲運黃天　至十一崩潰，鱗見於陸。</p>
<p>敦阜之紀　平氣備化。</p>
<p>甲歲南政</p>
<p>太宮之音</p>
<p>歲氣雨濕流行，至陰內實，物化克成，其變震驚，飄驟崩潰。</p>
<p>腎水受邪，病則腹痛，清厥體重，甚則足痿不收，腳痛中滿，四肢不舉。</p>
<p>脾土勝腎水，木為水之子，復能剋土，則反溏泄，甚則太谿絕者死。（足內踝後跟骨上動脈中，腎脈也。（　</p>
<p>臨辰戌為歲會，（甲辰甲戌。）下加太陰為同天符。同上。</p>
<p><u>己</u></p>
<p>歲土不及</p>
<p>歲運黅天</p>
<p>卑監之紀　平氣備化。</p>
<p>己歲南政</p>
<p>少宮之音</p>
<p>歲氣風寒大作，雨乃愆期，草木秀而不實。</p>
<p>脾土受邪，病則飧泄，霍亂，體重腹痛。</p>
<p>肝木克脾土，金為土之子，復能克肝木，則反腳脅暴痛，下引小腹。</p>
<p>臨辰戌丑未為歲會，（甲辰甲戌己丑己未。）上見太陰為太乙天符，（己丑己未，）下臨厥陰，（己巳己亥，）流水不冰，蟄蟲來見，民乃康。</p>
<p><u>乙庚歲氣金化之圖</u></p>
<p><u>乙</u></p>
<p>歲金不及</p>
<p>歲運素天</p>
<p>從革之紀耳其　平氣審平。</p>
<p>乙歲北政</p>
<p>少商之音</p>
<p>歲氣炎火盛行，生氣乃用，燥石流金，涸泉焦草。</p>
<p>肺金受邪，病則肩背膂重，鼽血，血便，注下。</p>
<p>心火克肺金，水為金之子，復能克心火，則反心痛，腦痛，延及囟頂痛，發熱，口瘡，心痛。</p>
<p>臨酉為太乙天符，（乙酉。）為歲會。上見陽明為天符。（乙卯。）</p>
<p>復則水勝火，寒雨暴至，冰雹雪霜。</p>
<p><u>庚</u></p>
<p>歲金太過</p>
<p>歲運素天</p>
<p>堅成之紀　平氣審平。</p>
<p>庚歲北政</p>
<p>太商少音</p>
<p>歲氣燥行，天氣潔，地氣明，陽氣隨陰，肅殺凋凌。</p>
<p>肝木受邪，病則腹脅痛，目赤，體重，胸痛，脅滿，引小腹，耳無聞，甚則喘咳逆氣，背肩、尻陰、股膝、髀腨胻足痛。</p>
<p>肺金克肝木，火為木之子，復能克及肺金，則反血溢，心痛，腳：脅不可轉側，咳逆，太衝絕者死。</p>
<p>臨酉為歲會，（乙酉。）下見陽明為同天符。（庚子庚午。）</p>
<p><u>丙辛歲氣水化之圖</u></p>
<p><u>丙</u></p>
<p>歲水太過　是歲雨水雪霜不時降，濕氣變物。</p>
<p>歲運玄天</p>
<p>流衍之紀　平氣靜順。</p>
<p>丙歲北政</p>
<p>太羽之音</p>
<p>歲氣天地寒凝，其變冰霜雪雹。</p>
<p>心火受邪，病則身熱煩躁，陰厥中寒，甚則腹大，脛腫，喘咳。</p>
<p>腎水勝克心火，肝為火之子，復能克腎，反腸鳴溏泄，甚則神門絕者死。（穴在掌後銳骨端，心主脈也。）</p>
<p>臨子為歲會，（丙子。）上見太陽為天符。（丙戌丙辰。）</p>
<p><u>辛</u></p>
<p>歲水不及</p>
<p>玄運玄天</p>
<p>涸流之紀才　平氣靜順。</p>
<p>辛歲北政</p>
<p>少羽之音</p>
<p>歲氣水泉減，草木茂。</p>
<p>腎水受邪，病則身重，濡瀉，腫滿，腰膝痛，足痿，清厥，甚則跗腫，腎氣不行。</p>
<p>脾土克腎水，木為水之子，復能克脾，則反面色時變，筋肉瞤瘛，膈中痛，及心腹。</p>
<p>臨醜為同歲會，（辛丑辛未。）上見太陰。</p>
<p>下見太陽為同歲會，則大寒蟄蟲早藏。</p>
<p><u>丁壬歲氣木化之圖</u></p>
<p><u>丁</u></p>
<p>歲木不及　是歲天地悽愴，日見朦昧，雨非雨。</p>
<p>歲運蒼天　睛非睛，氣慘然，氣象凝斂肅殺，甚之。</p>
<p>委和之紀　平氣敷和。</p>
<p>丁歲北政</p>
<p>少角之音</p>
<p>歲氣燥氣乃行，生氣不政，涼雨將降，風雪並興，草木晚榮，物秀而實。</p>
<p>肝木受邪，病中清，腳脅滿，小腹痛，陽明溏泄。</p>
<p>肺金勝肝木，火為木之子，復能剋金，則反寒濕，瘡瘍，痤疿，腫癰，咳血，夏生大熱，溫變為躁，草木槁，下體再生。</p>
<p>上見厥陰為天符，（丁巳丁亥。）臨卯為歲會，（丁卯。）上臨陽明，生氣失政，草木再榮。</p>
<p><u>壬</u></p>
<p>歲木太過</p>
<p>歲運蒼天</p>
<p>發生之紀　平氣敷和。</p>
<p>壬歲北政</p>
<p>太角之音</p>
<p>歲氣風氣流行，生氣淳化，萬物以榮，其變震拉摧拔。</p>
<p>脾土受邪，病飧泄，食減，體重，腸鳴，腹痛，脅滿。</p>
<p>肝木克脾土，金為土之子，復能勝木，則反脅痛而吐，甚則衝陽絕者死。（穴在足跗上三寸，骨動脈上去陷谷三寸，胃脈也。）</p>
<p>臨卯為歲會，（丁卯。）下見厥陰為同天符。（壬申壬寅。）</p>
<p><u>戊癸歲氣火化之圖</u></p>
<p><u>戊</u></p>
<p>歲火太過　是歲火燔灼，水泉涸，物焦槁。</p>
<p>歲運丹天</p>
<p>赫曦之紀　平氣升明。</p>
<p>戊歲北政</p>
<p>太徵之音</p>
<p>歲氣陰氣內化，其變則炎烈沸騰。</p>
<p>肺金受邪，病則發瘧，少氣喘咳，血溢，泄瀉，胸脅滿痛，背膂痛，身熱骨痛。</p>
<p>心火勝肺金，水為金之子，復能勝火，反狂妄，泄瀉，喘咳，血溢，甚則手太陰太淵絕者死，穴在掌後陷中，肺脈也。</p>
<p>臨子為太乙天符，（戊子為天符，戊午為太乙天符。）上見少陰少陽為天符。（戊午戊子戊寅戊申。）</p>
<p><u>癸</u></p>
<p>歲火不及</p>
<p>歲運丹天</p>
<p>伏明之紀　平氣升明。</p>
<p>癸歲北政</p>
<p>少徵之音</p>
<p>歲氣歲寒乃盛行，火令不政，物生不長，陽氣屈伏，蟄蟲早藏。</p>
<p>心火受邪，病則胸脅膺背痛，鬱冒，暴喑，臂痛。</p>
<p>腎水勝心火，土為火之子，復能克腎，則反寒中，腸鳴泄注，攣痹，足不任身。</p>
<p>臨卯酉為同歲會，（癸酉癸卯。）下見少陰少陽為同歲會。（癸卯癸酉癸巳癸亥。）</p>
<p><u>六氣所化之圖</u></p>
<p><u>子午歲氣熱化之圖</u></p>
<p>少陰司天　陽明在泉</p>
<p>初氣　厥陰風木</p>
<p>太陽寒水加</p>
<p>天時　寒風切冽，雪水冰，蟄復藏。</p>
<p>民病　關節禁固，腰脽痛，中外瘡瘍。</p>
<p>二氣　少陰君火</p>
<p>厥陰風木加</p>
<p>天時　風雨時寒，雨生羽蟲</p>
<p>民病　淋氣，郁於土而熱，令人目赤。</p>
<p>三氣　少陽相火</p>
<p>少陰　君火加</p>
<p>天時　大火行，熱氣時至，羽蟲靜。（不鳴也，燕百舌杜宇之類。）</p>
<p>民病　厥熱心痛，寒熱更作，咳喘，目赤。</p>
<p>四氣　太陰濕土</p>
<p>太陰濕土加</p>
<p>天時　大雨時行，寒熱互作。</p>
<p>民病　黃疸，鼽衄，嗌乾，吐飲。</p>
<p>五氣　陽明燥金</p>
<p>少陽相火加</p>
<p>天時　溫氣乃至，初冬尤暖，萬物乃榮。</p>
<p>民病　康安。伏邪於春為瘧。</p>
<p>終氣　太陽寒水</p>
<p>陽明燥金加</p>
<p>天時　燥寒勁切，火尚毒，寒暴至。</p>
<p>民病　上腫咳喘，甚則血溢，下連小腹，而作寒中。</p>
<p><u>丑未歲氣濕化之圖</u></p>
<p>太陰司天　太陽在泉</p>
<p>初氣　厥陰風木</p>
<p>厥陰風木加</p>
<p>天時　大風發榮，雨生毛蟲。</p>
<p>民病　血溢，筋絡拘強，關節不利，身重筋痛。</p>
<p>二氣　少陰君火</p>
<p>少陰君火加</p>
<p>天時　大火至，天下疵疾，以其得位，君令宣行，濕蒸相薄，雨時降。</p>
<p>民病　瘟疫盛行，遠近鹹苦。</p>
<p>三氣　少陽相火</p>
<p>太陰濕土加</p>
<p>天時　雷雨電雹，地氣騰，濕氣降。</p>
<p>民病　身重跗腫，腹胸滿感，寒濕氣。</p>
<p>四氣　太陰濕土</p>
<p>少陽相火加</p>
<p>天時　炎熱沸騰，地氣升，天氣否隔，濕化不流。</p>
<p>民病　腠理熱，血暴溢，患瘧，心腹䐜脹，甚則浮腫。</p>
<p>五氣　陽明燥金</p>
<p>陽明燥金加</p>
<p>天時　大涼，霜早降，寒及體。</p>
<p>民病　皮膚寒。</p>
<p>終氣　太陽寒水</p>
<p>太陽　寒水加</p>
<p>天時　大寒凝冽。</p>
<p>民病　關節禁固，腰脽痛。</p>
<p><u>寅申歲氣火化之圖</u></p>
<p>少陽司天　厥陰在泉</p>
<p>初氣　厥陰風木</p>
<p>少陰君火加</p>
<p>天時　熱風傷人，時氣流行</p>
<p>民病　濕氣拂於上，血溢目赤，咳逆，頭痛，血崩，脅滿痛，皮膚生瘡。</p>
<p>二氣　少陰君火</p>
<p>太陰濕土加</p>
<p>天時　時雨至，火反郁，風不勝濕。</p>
<p>民病　熱鬱，咳逆吐，胸臆不利，頭痛身熱，昏憒，膿瘡。</p>
<p>三氣　少陽相火</p>
<p>少陽相火加</p>
<p>天時　熱暴至，草萎，河干，大暑炎亢，濕化晚布，大旱。</p>
<p>民病　熱病，聾瞑，血溢，膿瘡，咳逆，鼽衄發渴，喉痹，目赤，善暴死。</p>
<p>四氣　太陰濕土</p>
<p>陽明燥金加</p>
<p>天時　涼風至，炎暑未去，風雨及時。</p>
<p>民病　民氣和平，身重中滿，脾寒泄瀉。</p>
<p>五氣　陽明燥金</p>
<p>太陽寒水加</p>
<p>天時　陽乃去，寒乃來，雨乃降，剛木早凋。</p>
<p>民病　民避寒邪，君子周密，病則骨痿，目赤痛。</p>
<p>終氣　太陽寒水</p>
<p>厥陰風木加</p>
<p>天時　地風正，寒風飄揚，萬物反生，寒氣至，雨生鱗蟲。</p>
<p>民病　關節不禁，心腹痛，陽氣不藏。</p>
<p><u>卯酉歲氣燥化之圖</u></p>
<p>陽明司天　少陰在泉</p>
<p>初氣　厥陰風木</p>
<p>太陰濕土加</p>
<p>天時　陰始凝，氣始肅，水乃冰，寒雨化，花開遲。</p>
<p>民病　熱脹面腫，鼽衄，欠嚏，嘔吐，小便赤，甚則淋。</p>
<p>二氣　少陰君火</p>
<p>少陽相火加</p>
<p>天時　臣居君位，大熱早行。</p>
<p>民病　疫癘大至，善暴死。</p>
<p>三氣　少陽相火</p>
<p>陽明燥金加</p>
<p>天時　燥熱交合，涼風間發。</p>
<p>民病　上逆下冷，瘧痢，心煩不食。</p>
<p>四氣　太陰濕土</p>
<p>太陽寒水加</p>
<p>天時　早秋。寒雨害物。</p>
<p>民病　暴僕振慄，妄言少氣，咽乾引飲，心痛膺腫，瘡瘍寒瘧，骨痿便血。</p>
<p>五氣　陽明燥金</p>
<p>厥陰風木加</p>
<p>天時　春令又行，草木盛，生雨，生介蟲。</p>
<p>民病　氣和。熱行包絡，面浮上壅。</p>
<p>終氣　太陽寒水</p>
<p>少陰君火加</p>
<p>天時　氣候反溫，蟄蟲出現，流水不冰，此下克上。</p>
<p>民病　伏邪濕毒，季春發疫。</p>
<p><u>辰戌歲氣寒化圖</u></p>
<p>太陽司天　太陰在泉</p>
<p>初氣　厥陰風木</p>
<p>少陽相火加</p>
<p>天時　氣早暖，草早榮，瘟疫至</p>
<p>民病　瘟疫，身熱，頭痛，嘔吐，瘡瘍。</p>
<p>二氣　少陰君火</p>
<p>陽明燥金加</p>
<p>天時　大涼反至，早乃遇寒，火氣遂抑。</p>
<p>民病　氣鬱中滿，風腫。</p>
<p>三氣　少陽相火</p>
<p>太陽寒水加</p>
<p>天時　寒熱不時，寒氣間至，熱爭，水雹。</p>
<p>民病　寒反熱中，癰疽，注下，心熱悶瞀，逆，吐利不治者也死。</p>
<p>四氣　太陰濕土</p>
<p>厥陰風木加</p>
<p>天時　風濕交爭，雨生倮蟲，木盛生風，暴雨摧拔。</p>
<p>民病　大熱少氣，足痿，注下，赤白，血滯成癰。</p>
<p>五氣　陽明燥金</p>
<p>少陰君火加</p>
<p>天時　濕熱而寒，客行主令。</p>
<p>民病　氣舒。病則血熱妄行，肺氣癰。</p>
<p>終氣　太陽寒水</p>
<p>太陰濕土加</p>
<p>天時　地氣正濕令行，凝陰寒雪。</p>
<p>民病　病乃悽慘，孕死，脾受濕，肺旺腎衰。</p>
<p><u>巳亥歲氣風化之圖</u></p>
<p>厥陰司天　少陽在泉</p>
<p>初氣　厥陰風木</p>
<p>陽明燥金加</p>
<p>天時　寒始肅，客行主令，殺氣方至。</p>
<p>民病　寒居右脅，氣滯，脾虛胃壅。</p>
<p>二氣　少陰君火</p>
<p>太陽寒水加</p>
<p>天時　寒不去，霜雪冰，殺氣施，化草焦，寒雨數至。</p>
<p>民病　熱中，氣血不升降。</p>
<p>三氣　少陽相火</p>
<p>厥陰風木加</p>
<p>天時　風熱大作，雨生羽蟲。</p>
<p>民病　淚出，耳鳴，掉眩。</p>
<p>四氣　太陰濕土</p>
<p>少陰君火加</p>
<p>天時　熱氣反用，山澤浮雲，暴雨溽濕。</p>
<p>民病　心受邪，黃疸而為跗腫。</p>
<p>五氣　陽明燥金</p>
<p>太陰濕土加</p>
<p>天時　燥濕足勝，沉陰乃布，雨水乃行。</p>
<p>民病　寒氣及體，肺受風，脾受濕，發為瘧。</p>
<p>終氣　太陽寒水</p>
<p>少陽相火加</p>
<p>天時　畏火司令，陽乃火化，蟄蟲出現，流水不冰，地氣大發，草乃生。</p>
<p>民病　瘟癘，必腎相制。</p>

<h2>三十二、六氣時行民病證治</h2>
<p>辰戌之歲，太陽司天，太陰在泉，氣化運行先天。初之氣，乃少陽相火，加臨厥陰風木，民病溫，身熱頭疼，嘔吐，肌腠瘡瘍。二之氣，陽明燥金，加臨少陰君火，民病氣鬱中滿。三之氣，太陽寒水，加臨少陽相火，民病寒，反熱中，癰疽注下，心中熱瞀悶，四之氣，厥陰風木，加臨太陰濕土，民病大熱少氣，肌肉痿，足痿，注下赤白。五之氣，少陰君火，加臨陽明燥金，民乃舒。終之氣，太陰濕土，加臨太陽寒水，民乃悽愴，孕死。治去甘溫以平，酸苦以補，抑其運氣，扶其不勝。</p>
<p><u>靜順湯</u>　治辰戌之歲，太相司天，太陰在泉，病者身熱，頭痛，嘔吐，氣鬱中滿，瞀悶，少氣，足痿，注下赤白，肌腠瘡瘍，發為癰疽。</p>
<p>白茯苓（去皮）　乾木瓜（各一兩）　附子（炮，去皮臍）　牛膝（去苗，酒浸，各三兩）　防風（去釵）　訶子（煨，　去核）　甘草（炙）　乾薑（炮，各半兩）</p>
<p>上㕮咀，每服四錢，水一大盞，煎七分，去滓，食前服，其年自大寒至春分，宜用附子加枸杞半兩；自春至小滿，依前入附子同枸杞；自小滿至大暑，去附子、木瓜、乾薑，加人參、枸杞、地榆、香白芷、生薑各三分；自大暑至秋分，依正方加石榴皮半兩；秋分至小雪依正方；自小雪至大寒，去牛膝，加當歸、芍藥、阿膠炒各三分。</p>
<p>卯酉之歲，陽明司天，少陰在泉，氣化運行後天。初之氣，太陰濕土，加臨厥陰風木，此下克上，民病中熱脹，面目浮腫，善眠鼽衄，嚏欠嘔，小便黃赤，甚則淋。二之氣，少陽相火，加臨少陰君火，民病厲大至，善暴死。三之氣，陽明燥金，加臨少陽相火，民病寒熱。四之氣，太陽寒水，加臨太陰濕土，此下土克上水，民病暴僕，振慄，譫妄，少氣咽乾，引飲，心痛，癰腫，瘡瘍，寒瘧，骨痿，便血。五之氣，厥陰風木，加臨陽明燥金，民氣和。終之氣，少陰君火，加臨太陽寒水，此克上，民病溫。治法宜鹹寒以抑火，辛甘以助金，汗之，清之，散之，以安其運氣。</p>
<p><u>審平湯</u>　治卯酉之歲，陽明司天，少陰在泉，病者中熱，面浮，鼽鼻，少便黃赤，甚則淋，或癘氣行，善暴僕，振慄，譫妄，寒瘧，癰腫，便血。</p>
<p>遠志（去心，薑汁炒）　紫檀香（各一兩）　天門冬（去心）　山茱萸（各二分）　白芍藥　白朮　甘草　生薑（各半兩）</p>
<p>上㕮咀，每服四錢，水一盞，煎七分，去滓，食前服，自大寒至春分，加茯苓、半夏、紫蘇、生薑各半兩；自春分至小滿，加玄參、白薇各半兩；小滿至大暑，去遠志、山茱萸、白朮，加丹參、澤瀉各半兩；大暑至秋分，去遠志、白朮，加酸棗仁、車前子各半兩；自秋分至大寒並依正方。</p>
<p>寅申之歲，少陽相火司天，厥陰風木在泉，氣化運行先天。初之氣，少陰君火，加臨厥陰風木，民病溫，氣拂於上，血溢，目赤，咳逆，頭痛，血崩，脅滿，膚腠生瘡。二之氣，太陰濕土，加臨少陰君火，民病熱鬱，咳逆，嘔吐，瘡發於中，胸臆不利，頭痛，身熱昏憒，膿瘡。三之氣，少陽相火，加臨少陽相火，民病熱中，聾瞑，血溢，膿瘡，咳，嘔，鼽衄，渴，嚏欠，喉痹，目赤，善暴死。四之氣，陽明燥金，加臨太陰濕土，民病滿，身重。五之氣，太陽寒水，加臨陽明燥金，民避寒邪，君子周密。終之氣，厥陰風木，加臨太陽寒水，民病關閉不禁，心痛，陽氣不藏而咳。治法宜鹹寒平其上，甘溫治其下，腹而作寒中。</p>
<p>白薇　玄參　川芎　芍藥　旋覆花　桑白皮　當歸　甘草　生薑</p>
<p>上㕮咀，每服四錢，水大盞，煎七分去滓，食前服，自大寒至春分，加杏仁、升麻各半兩；春分至小滿，加茯苓，車前子各半兩；小滿至大暑，加杏仁、麻子仁各一分；大暑至秋分，加荊芥、茵陳蒿各一分；秋分至小雪，依正方；小雪至大寒，加紫蘇子半兩。</p>
<p>巳亥之歲，厥陰風木司天，少陽相火在泉，氣化運行後天。初之氣，陽明燥金，加臨厥陰風木，民病寒於右脅下。二之氣，太陽寒水，加臨少陰君火，民病熱中。三之氣，厥陰風木，加臨少陽相火，民病淚出，耳鳴，掉眩。四之氣，少陰君火，加臨太陰濕土，民病黃疸，胕腫。五之氣，太陰濕土，加臨陽明燥金，濕相勝，寒氣及體，風雨乃行。終之氣，少陽相火，加臨太陽寒水，此下水克上火，民病溫厲。治法宜用辛涼以平其上，鹹寒調其下，畏火之氣，無妄犯之。</p>
<p><u>敷和湯</u>　治巳亥之歲，厥陰風木司天，少陽相火在泉，病者而反右脅下寒，耳鳴淚出，掉眩，燥濕相摶，病民黃疸，浮腫，時作溫癘。</p>
<p>半夏　棗子　五味子　枳殼　茯苓　訶子　乾薑　橘皮　甘草（各半兩）</p>
<p>上㕮咀，每服四錢，水一大盞，煎七分去滓，食前服，宜酸滲之，泄之，清之，發之。</p>
<p><u>升明湯</u>　治寅申之歲，少陽相火司天，厥陰風木在泉，病者氣鬱熱，血赤咳逆，頭痛，滿嘔吐，胸臆不利，聾瞑渴，身重，心痛，陽氣不藏，瘡瘍，煩躁。</p>
<p>紫檀香　車前子　青皮　半夏　酸棗仁　薔靡　生薑　甘草</p>
<p>上㕮咀，每服四錢，水一盞，煎七分，去滓，食前服，自大寒至春分加白薇去參各半兩，大暑至秋分加茯苓半兩，秋分至小雪依正方，小雪至大寒加五味子半兩。</p>
<p>丑未之歲，太陰濕土司天，太陽寒水在泉，氣化運行後天。初之氣，厥陰風木，加臨厥陰風木，民病血溢，筋絡拘強，關節不利，身重筋痿。二之氣，少陰君火，加臨少陰君火，民病瘟癘盛行，遠近咸若。三之氣，太陰濕土，加臨少陽相火，民病身重，胕腫，腹滿。四之氣，少陽相火，加臨太陰濕土，民病腠理熱，血暴溢，瘧，心痛臚脹，甚則浮腫。五之氣，陽明燥金，加臨陽明燥金，民病皮膚，寒氣及體。終之氣，太陽寒水，加臨太陽寒水，民病關節禁固，腰脽痛。其法用酸平其上，甘溫治其下，以苦燥之，溫之，甚則發之，泄之，贊其陽火，令御甚寒。</p>
<p><u>備化湯</u>　治丑未之歲，太陰濕土司天，太陽寒水在泉，病者關節不利，筋脈脅急，身重痿弱，或瘟癘盛行，遠近咸若，或胸腹滿悶，甚則浮腫，寒瘧，血溢，腰脽痛。</p>

<h1>卷之三</h1>

<h2>三十三、論九宮分野</h2>
<p>（此下無繫於緊要，所以備載之者，使學者得以廣其見聞，不致為其所惑。）</p>
<p>論曰：五運不及之歲，則有災宮所向之位，故不可一概而論災也。經曰：九星懸朗，七矅周旋者，乃天之九星所主之分野。故少角歲云災三宮，東宮震位，天衝司也。少徵歲云災九宮，南室離位，天英司也。少宮歲云災五宮，中室，天禽司也，寄位二宮坤位。少商歲云災七宮，西室兌位，天柱司也。少羽歲云災一宮，北室坎位，天蓬司也。皆以氣運不及之方言之。按《天元玉冊》曰：天蓬一，水正之宮也。天芮二，土神之應宮也。天衝三，木正之宮也。天輔四，木神之應宮也，天禽五，土正之宮也。天心六，金神之應宮也。天柱七，金正之宮也。天任八，土神之應宮也。天英九，火正之宮也。下以應九州之分野，謂冀兗青徐揚荊豫梁雍也。</p>
<figure>
<img data-orig-src="urn:270:10667.jpg" alt="災宮歌圖">
</figure>
<p><u>災宮歌</u></p>
<p>年逢不及有災宮，辛一丁三己五同，七數（即乙）少商並癸九，仍將土寄二坤沖。</p>
<p>（二乃土寄位，非災宮之數。）</p>

<h2>三十四、論主運大運太少相生</h2>
<p>運有大運，有主運，當年年干建運，通主一年，此為大運。或太角，或少角，俱從大寒日始，以次相生，至羽而終。每運各主七十三日零五刻，總五運之數，則三百六十五日零二十五刻，而成一歲，此為主運，主運太少皆依大運，大運陽年屬太，陰年屬少，上生至角而止，下生至羽而止，上下相生，皆須太少相因，不可失序，假如甲運，太宮土也，上生太宮者少徵火，生少徵者太角木，此謂上生至角是也。又太宮土，下生者少商金，金生太羽水，此謂下生至羽是也。甲與己合，己從少宮，上下相生焉；又如乙運，少商金也，上生少商者太宮土，生太宮土者少徵火，生少徵火者太角木，此亦謂上生至角也。又少商下生者太羽水，此亦謂下生至羽也。乙與庚合，庚從太商，上下相生焉；又如丙運太羽水也，上生太羽者少商，生少商金者太宮土，生太宮土者少徵火，生少徵火者太角木，此謂上生至角也。丙與辛合，辛從少羽，上生焉；又如丁運少角木也，少角下生者太徵火，火生少宮土，土生太商金，金生少羽水，此謂下生至羽也。丁與壬同，壬從太角，下生焉；又如戊運太徵火也，上生太徵火者少角木也，又太徽下生者少宮土，土生太商金，金生少羽水，此亦謂上生至角，下生至羽也。戊與癸合，癸從少徵，上下相生焉。是以逐年主運皆依大運，或太角為初，則太羽為終；或少角為初，則少羽為終。經於各條大運角下注一初字，羽下注一終字，又以示人主運角羽之太少初終也。甲乙丙壬癸五年皆太角木為初運，主七十三日，自大寒日起，至春分後十三日止也。少徵火為二運，主七十三日，自春分後十三日起，至小滿後二十五日止也。火宮土為三運，主七十三日，自小滿後二十五日起，至大暑後三十七日止也。少商金為四運，主七十三日，自大暑後三十七日起，至秋分後四十九日止也。太羽水為終運，主七十三日，自秋分後四十九日起，至大寒而終也。戊己庚辛丁五年皆少角木為初運，太徵火為二運，少宮土為三運，太商金為四運，少羽水為終運也。</p>
<p>按《天元玉冊》又有歲之客運行於主運之上，與六氣主客之法同，故曰歲中客運者常以應於前二十為初運。</p>
<p>申子辰歲大寒日寅初交，亥卯未歲大寒日亥初交，寅午戌歲大寒日申初交，巳酉醜歲大寒日已初交。</p>
<p>此五運相生而終歲度也。然於經未見其用，以六氣言之，則運亦當有主客以行天令，蓋五行之運，一主其氣，當四而無用不行生化者乎？然當年大運乃通主一歲，如司天通主上半年之法，《天元玉冊》言五運之客互主一年，則經所載者，乃逐年之主運也，明當以《玉冊》為法。</p>

<h3>大運主運太少相因歌</h3>
<p>先分大運過不及，大運音生歲音，五音生己倒推上，太少相因逢角尋，角初羽終起歲運，太少次生復下臨，木歲角初同大運，太少次生亦下侵。</p>
<p>（當年大運為主，將歲主運，上下因之，名太少五音，假令少宮為大運，上見太徵火，火上見少角木，則歲初運自少角起，下生至少羽水終。惟木陽年初運自太角起，陰年自少角起，下生亦以太少隨之。）</p>

<h3>五運邪正化度歌</h3>
<p>五運太過惟一化，正乃陽兮當勿差，克己己生同化度，運為不及卻有邪。</p>
<p>度，日也。一化，陽歲天運，泉之氣自化，陰則五行勝復之邪共氣，然經中陰亦有正化者，指本歲自化而言。</p>
<figure>
<img data-orig-src="urn:270:10668.jpg" alt="大運主運太少之圖歌">
</figure>
<p><u>歌曰</u></p>
<p>木初火二土期三，金四相維五水參，此號歲中之主運，靜而不動匪虛談。</p>

<h3>太歲中主運時日</h3>
<p>大寒木運始交真，清明前三火用親，芒種十朝應見土，立秋念二燥金辰，立冬四日宜言水，每逢七十三朝五刻輪。</p>
<figure>
<img data-orig-src="urn:270:10669.jpg" alt="逐年客運之圖歌">
</figure>
<p><u>歌曰</u></p>
<p>假令甲已年為例，卻用當年土作初，五運順生臨□位，逐年效此次加諸。□於經未見其用，姑載之以備參考。</p>

<h2>三十五、司天在泉大運主運定局</h2>
<p>壬辰、壬戌：其運風，其化鳴紊啟拆，其變振拉摧拔，其病眩掉目瞑。太陽（司天水），太角（大運木），太陰（司天土）。寒化六，風化八，正化度也。主運：太角（初正大寒日起），少徵，太宮，少商，大羽（終）。</p>
<p>戊辰、戊戌（同正徵）：其運熱，其化暄暑鬱燠，其變炎烈沸騰，其病熱鬱。太陽（同天水），太徵（大運火），太陰（司地土），寒化六，熱化七，濕化五，所謂正化日也。主運：太徵，少宮，太商，少羽（終），少角（初）。</p>
<p>甲辰（歲會亦名同天符），甲戌（歲會亦名同天符）：其運陰埃，其化柔潤淖澤，其變震驚飄驟，其病濕下重。太陽（司天水），太宮（大運土），太陰（在泉土），寒化六，濕化五，所謂正化日也。主運：大宮，少商，大羽（終），大角（初），少徵。</p>
<p>庚辰、庚戌：其運涼，其化霧露蕭瑟，其變肅殺凋零，其病燥，背瞀胸滿。太陽（司天水），太商（大運金），太陰（司地土），寒化一，清化九，雨化五，正化度也。主運：太商，少羽（終），少角（初），太徵，少角宮。</p>
<p>丙辰（天符）、丙戌（天符）：其運寒，其化凝慘凜冽，其變冰雪霜雹，其病大寒，留子谿谷。太陽（司天水），太羽（大運水），太陰（在泉土），寒化六，雨化五，正化度也。主運：太羽（終），太角（初），少徵，太宮，少商。</p>
<p>凡此太陽司天之政，氣化運行先天，謂生長，化成，收藏，皆先天時，而應至也，餘歲先天同。</p>
<p>丁卯（歲會）、丁酉：其運風清熱，清熱勝復同，上商同正商。陽明（司天金），少角（大運木），少陰（司地火），清化熱化勝復同，所謂邪氣化日也。災三宮。主運：少角（初），太徵，少宮，太商，少羽（終）。</p>
<p>癸卯（同歲會）、癸酉（同歲會）：運寒雨。寒化雨化勝復同，上商同正商，所謂邪氣化日也。災九宮。陽明（司天金），少徵（大運火），少陰（司地火），燥化九，風化三，熱化七，所謂正化日也。主運：少徵，太宮，少商，太羽（終），太角初。</p>
<p>己卯，己酉，其運雨風涼。風化涼化勝復同，所謂邪氣化度也，災五宮，陽明（司天金），少宮（大運土），少陰（司地火），清化九，雨化五，熱化七，正化度也。主運：少宮，太商，少羽（終），少角（初），太徵。</p>
<p>乙卯（天符）、乙酉（歲會，又名太乙天符）：其運涼熱寒。熱化寒化勝復同，邪氣化度也，陽明（司天金），少商（大運金），少陰（司地火），燥化四，熱化二，正化度也。主運：少商，太羽（終），太角（初），少徵，太宮。</p>
<p>辛卯（同少宮）、辛酉：其運寒雨風。雨化風化勝復同，所謂邪氣化度也，災一宮。陽明（司天金，少羽大運水），少陰（司地火），清化九，寒化一，熱化七，正化度也。主運：少羽（終），少角（初），太徵，少宮，太商。</p>
<p>凡此陽明司天之政，氣化運行後天，謂生長、化成、庶物、動靜皆後天時而應，餘歲後天同。</p>
<p>戊寅（天符）、戊申（天符）：其運暑，其化暄囂鬱燠其變炎烈沸騰，其病上熱，鬱血，溢血，瀉，心痛。少陽（司天相火），太徵（大運火），厥陰（司地木），火化二，正化度也。主運：太徵，少宮，太商，少羽（終），少角（初）。</p>
<p>壬寅（同天符）、壬申（同天符）：其氣風鼓，其化鳴紊啟拆，其變拉摧拔，其病掉眩，支脅，驚駭。少陽（司天相火），太角（大運木），厥陰（司地木），火化二，風化八，所謂正化日也。主運：太角（初），少徵，太宮，少商，太羽（終）。</p>
<p>甲寅、甲申：其運陰雨，其化柔潤淖澤，其變震驚飄驟，其病體重，胕腫，痞飲。少陽（司天相火），太宮（大運土），厥陰（司地木），火化二，雨化五，風化八，正化度也。主運：太宮，少商，太羽（終），太角（初），少徵。</p>
<p>庚寅、庚申（同正商）：其運涼，其化霧露清切，其變肅殺凋零，其病肩背胸中。少陽（司天相火），太商（大運金），厥陰（司地木），火化二，清化九，風化三，正化度也。主運：太商，少羽（終），少角（初），太徵，少宮。</p>
<p>丙寅、丙申：其運寒肅，其化凝慘凜冽，其變冰雪霜雹，其病寒，浮腫。少陽（司天相火），太羽（大運水），厥陰（司地木），火化二，寒化六，風化三，所謂正化日也。主運：太羽（終），太角（初），少徵，太宮，少商。</p>
<p>凡此少陽司天之政，氣化運行後天。</p>
<p>丁丑、丁未：其運風清熱，清化熱化勝復同，同正宮，邪氣化度也，災三宮。太陰（司天土），少角（大運木），太陽（司地水），雨化五，風化三，寒化一，正化度也。主運：少角（初），太徵，少宮，太商，少羽（終）。</p>
<p>癸丑、癸未：其運熱寒雨，寒化雨化勝復同，所謂邪氣化度也，災九宮。太陰（司天上），少徵（大運火），太陽（司地水），雨化五，火化二，寒化一，正化度也。主運：少徵，太宮，少商，太羽（終），太角（初）。</p>
<p>己丑（太乙天符）、己未（太乙天符）：其運雨風清，風清勝復同，同正宮，邪氣化也，災五宮。太陽（司天土），少宮（大運土），太陽（司地水），雨化五，寒化一，正化度也。主運：少宮，太商，少羽（終），少角（初），太徵。</p>
<p>乙丑、乙未：其運涼熱寒，熱化寒化勝復同。太陰（司天土），少商（大運金），太陽（司地水），熱化寒化勝復同，所謂邪氣化日也。金不及，熱化勝之，金之子，化為母，邪氣化日也，復讎故寒化，又勝熱故云。災七宮。濕化五，清化四，寒化六，所謂正化日也。主運：少商，太羽（終），太角（初），少徵，太宮。</p>
<p>辛丑同歲會、辛未同歲會：其運寒雨風，雨化風化勝復同，所謂邪氣化日也。同正宮。太陰（司天土），少羽（大運水），太陽（司地水），雨化五，寒化一，所謂正化日也。主運：少羽（終），少角（初），太徵，少宮，太商。</p>
<p>凡此太陰司天之政，氣化運行後天。</p>
<p>壬子、壬午：其運風鼓，其化鳴紊啟拆，其變振拉摧拔，其病支滿。少陰）司天君火），太角（大運木），陽明（司地金），熱化二，風化八，清化四，正化日也。主運：太角（初正），少徵，太宮，少商，太羽（終）。</p>
<p>戊子（天符）、戊午（太乙天符）：其運炎暑，其化暄曜鬱燠，其變炎烈沸騰，其病上熱血溢。少陰（司天君火），太徵（大運火），陽明（司地金），熱化七，清化九，正化度也。主運：太徵，少宮，太商，少羽（終），少角（初）。</p>
<p>甲子、甲午：其運陰雨，其化柔潤時雨，其變震驚飄驟，其病中滿身重。少陰（司天君火），太宮（大運土），陽明（司地金），熱化二，雨化五，燥化四，所謂正化日也，（以熱化、土化、金化皆得生數之正，故曰正化日也。）主運：太宮，少商，太羽（終），太角（初），少徵。</p>
<p>庚子（同天符）、庚午（同天符）：同正商，上少陰（君火），中太商（金運），下陽明（燥金）。熱化七，清化九，燥化九，所謂正化日也。其運涼勁，其化霧露蕭瑟，其變肅殺凋零，其病下清。太商，少羽（終），少角（初），太徵，少宮。</p>
<p>丙子（歲會）、丙午：上少陰（君火），中太羽（水運），下陽明（燥金），熱化二，寒化六，清化四，正化度也。其運寒，其化凝慘凜冽，其變冰雪霜雹，其病寒下。太羽（終），太角，少徵，太宮，少商。</p>
<p>丁巳（天符）、丁亥（天符）：同正角。其運風熱清，上厥陰（司天），中少角（木運），下少陽（在泉）。風化三，火化七，正化度也。清熱勝復同，邪氣化度也，災三宮，少角（初正），太徵，少宮，太商，少羽（終）。</p>
<p>癸巳（同歲會）、癸亥（同歲會），上厥陰（司天），中少徵（火運），下少陽（在泉）。風化八，火化二，正化度也。寒化雨化勝復同，邪氣化度也，災九宮。其運熱寒雨。少徵，太宮，少商，太羽（終），太角（初）。</p>
<p>己巳、己亥（同正角）：上厥陰（司天），中少宮（土運），下少陽（在泉相火）。風化三，濕化五，火化七，所謂正化日也。其運雨風清，風化清化勝復同，邪氣化日也。災五宮。少宮，太商，少羽（終），少角（初），太徵。</p>
<p>乙巳、乙亥：同正角。上厥陰（司天木），中少商（金運），下少陽（在泉相火）。風化八，清化四，火化二，正化度也度，（謂日也。）熱化寒化勝復同，所謂邪氣化日也，災七宮。其運涼熱寒。少商，太羽（終），太角（初），少徵，太宮。</p>
<p>辛巳、辛亥：上厥陰（司天木），中少羽（水運），下少陽（在泉相火），風化三，寒化一，火化七，正化度也。風化雨化勝復同，邪氣化度也，災一宮，其運寒雨風。少羽（終），少角（初），太徵，少宮，太商。</p>

<h2>三十六、論正化度邪化度</h2>
<p>（按此定局似不甚切於用，令錄之於此，蓋亦運風中事靈者，固所當知，或有問者，不至於懵然無覺也。）</p>
<p>假如甲子年屬火，為熱化司天，甲屬土，為雨化司運，卯屬金，為清化司地。熱化、雨化、清化皆司天、司運、司地之本氣，故曰正化度。度，日也。又甲屬陽為太過，太過則無勝亦無復，是以無邪化度也。凡遇陽年為太過，而五行多以成數言，故曰熱化七，雨化五，清化九也。</p>
<p>又如辛卯年，卯屬金為清化司天，辛屬水，為寒化司運，子屬火，為熱化司地，清化、寒化、熱化皆司天、司運、司地之本氣，故亦曰正化度。但辛水屬陽為不及，不及則土之雨化必來克之，水弱不故，而水之子乃木，木之風化必來為母復仇而剋土。然雨化所克，風化所復，非司天、司運、司地之本氣，故曰邪化度也。雨化、風化雖非本氣，然一負一勝理之必然。故云然也。凡遇陰年不及，而五行多以生數言，故曰清化四，寒化一，熱化二也。</p>

<h2>三十七、論主運上下太少相生</h2>
<p>假如甲年屬陽土，為太宮，則以太宮土為主，故太宮之所生，與夫所生太宮土者，皆從少，不從太也。是以太宮土所生者，乃少商金，少商金所生者，乃太羽水。遇羽則終矣。又所生太宮土者，乃少徵火，所生少徵火乃太角木，遇角則止矣。凡遇陽年上下相生，皆從少，故曰少太上下相生也。又如己年屬陰土，為少宮，則以少宮土為主，故少宮土之所生，與夫所生少宮土者皆從太，不從少也。是以少宮土所生者乃太商金，太商金所生者乃少羽水，遇羽則終矣。又所生少宮土者乃太徵火，所生太徵火者乃少角木，遇角則止矣。凡遇陰年上下相生皆從太，故曰太少上下相生也。又不拘陽年陰年皆於角下注一初字，羽下注一終字，蓋每年皆以角木為初運，羽水為終運故也，年年如是不改，故為主運，正如主氣每年皆以木為初氣，水為終氣，年年如是不改，故曰主氣也。</p>

<h2>三十八、序次運氣諸說</h2>
<p>參併為一例。《聖濟》經有六十年圖說，今但摭其四說，以為之例，學者可以類推，不必詳錄。</p>

<h3>甲子年</h3>
<p>少陰君火司天，陽明燥金在泉，中見太宮土運。歲土太過，氣化運行先天，天地之氣，上見南面少陰，左間太陰，右間厥陰，故天政所布其氣明。下見陽明北面，左間太陽，右間少陽，故地氣肅而其令切，交司之氣，寒交暑，（謂前歲終之氣少陽，今歲初之氣太陽，太陽交前歲少陽暑也。）熱加燥，（少陰在上，陽明在下也。）云馳雨府，濕化乃行，時雨乃降。金火合德，上應熒惑（火星）、太白（金星，見而明大），其谷丹白，水火寒熱持於氣交而為病始也，熱病生於上，清冷病生於下，寒熱互作而爭於中，民病咳喘，血溢，血泄，鼽嚏，目赤，眥瘍，寒厥入胃，心痛腰痛腹大，嗌乾腫上，（出「六元正紀論」），是乃氣化之常，須候其氣之至與不至，然後可名其病。是歲火為天氣，金為地氣，火能生金，天氣盈，地氣虛，中見土運，天氣生運，運生地氣，雖虛邪勝亦微，天氣既盈，化源為實，當於年前大寒初，先取化源，少陰化源三月也，此謂年前大寒恐誤，使之適平。取化源者，平火氣也。歲宜食白丹之谷，以全真氣，食間氣之谷，以闢虛邪。歲谷謂在泉及在泉左右間氣所化之谷；間谷謂司天及運間氣所化者；虛邪謂從沖後來之風也。咸以軟之，而調其上，甚則以苦發之，以酸收之，而安其下，甚則以苦泄之。運同地氣，當以溫熱化。太宮、太商、太羽，歲同寒濕，治以燥熱，歲異風熱，以涼化多之，歲同地化，以溫熱治之。太角、太徵，歲異寒濕，治以燥溫，歲同風熱，以寒化多之，歲同天氣，以寒清治之。（出「六元正紀論」，）歲半之前，天氣少陰主之，少陰之化本熱而標陰，當是時，本標之化應，寒熱相半，無或偏勝者，天政之平也。或熱淫所勝，怫熱至，火行其政，大雨且至，民病胸中煩熱，嗌乾，右胠滿，皮膚痛，寒熱咳喘，唾血血泄，鼽衄嚏嘔，溺色變，甚則瘡瘍胕腫，肩背臂臑及缺盆中痛，心痛肺䐜，腹大滿膨而喘咳，病本於肺。胗其尺澤，脈絕者死不治。（出「至真要大論」。）其法平以鹹寒，佐以苦甘，以酸收之。歲半之後，地氣陽明主之，其化不從標本，而從太陰之中氣，當其時，燥濕並行，而無偏勝者，隔明之化也。或燥淫所勝，則霿霧清瞑。民病善嘔，嘔有苦，善太息，心脅痛，不能反側，甚則嗌乾，面塵，身無膏澤，足外反熱。其法治以苦溫，佐以甘辛，以苦下之。（出「至真要大論」。）歲土太過，是謂敦阜之紀，雨濕流行，腎水受邪，民病腹痛，清厥，意不樂；體重，煩悶，甚則肌肉萎，足痿不收，行善瘛，腳下痛，飲發中滿，食減，四肢不舉，變生得位，（謂季月也），藏氣（水氣）伏化，氣（土氣）獨治之。泉湧河衍，涸澤生魚，風雨大至，土潰，鱗見於陸。病腹滿溏泄，腸鳴，反下甚，而太谿絕者死不治。其治宜以苦熱，所謂歲氣之藥食宜也。（出「氣交變論」）。初之氣始於癸亥歲十二月中氣大寒日寅初，終於是年二月終氣春分日子初，凡六十日有奇（八十七刻半）。主位太角木，客氣太陽水，中見太宮土運統之，風寒濕三氣奉少陰之政而行春令，地氣遷，暑將去，寒乃始，蟄復藏，水乃冰，霜復降，風乃至，陽氣鬱，民反周密，關節禁固，腰脽痛。炎暑將起，中外瘡瘍。（出「六元正紀論」）。宜治太陽之客，以苦補之，以咸寫之，以苦堅之，以辛潤之，開發腠理，致津液通氣也。（出「至真要大論」）。食丹谷火以全真氣，食稷土以闢虛邪，雖有寒邪不能為害。（出「六元正紀論」）。二之氣自春分日子正，至小滿日戌正，六十日有奇。主位少徵火，客氣厥陰木，火木同德，中見土運以奉少陰，行舒榮之化時令，至此陽氣布，風乃行，春氣以正，萬物應榮，寒氣時至，民乃和。其病淋，目瞑目赤，氣鬱於上而熱。出「六元正紀論」。宜治厥陰之客，以辛補之，以酸寫之，以甘緩之。（出「至真要大論。」）食丹谷以全真氣，食稻金以闢虛邪，雖有風邪不能為害。（出「六元正紀論」）。三之氣自小滿日亥初，至大暑日酉初，六十日有奇，主位少徵火，客氣少陰火，中見土運，天政之所布也。時令至此大火行，庶類蕃鮮，寒氣時至，民病氣厥心痛，寒熱更作，咳喘，目赤。（出「六元正紀論」）。宜治少陰之客，以咸補之，以甘寫之，以酸收之。（出「至真要大論」）。食丹谷以全真氣，食豆水以闢虛邪，雖有熱邪，不能為害。（出「六元正紀論」）。四之氣自大暑日酉正，至秋分日未正，六十日有奇，主位太宮土，客氣太陰土，運與氣同名為司氣。溽暑至，大雨時行，寒熱互作，民病寒熱，嗌乾，黃疸，鼽衄，飲發。宜治太陰之客，以甘補之，以苦寫之，以甘緩之。食白谷以全真氣，食麻木以闢虛邪，雖有濕邪不能為害。五之氣自秋分日申初，至小雪日午初，六十日有奇，主位少商金，客氣少陽火，中見土運，客火用事，畏火臨暑，反至陽乃化，物乃生榮，民乃康。其病溫。宜治少陽之客，以咸補之，以甘緩之，以咸軟之。食白谷以全真氣，食豆水以闢虛邪，雖有火邪不能為害。終之氣，自小雪日午正，至大寒日辰正，六十日有奇。主位太羽水，客氣陽明金，中見土運。土能生金，金能生水，三氣相得而行順化燥令之化，餘火內格。民病腫於上，咳喘，甚則血溢，寒氣數舉，則霿霧翳，病生皮腠，內舍於脅，下連少腹而作寒中。宜治陽明之客，以酸補之，以辛寫之，以苦寫之。食白谷以全真氣，食黍火以闢虛邪，雖有燥邪不能為害。然初氣終，初氣天氣主之勝常也；四氣盡，終氣地氣主之復常也。（出「至真要大論」）。若歲半之前少陰之氣勝者，必有太陽之復，若在泉陽明之氣勝者，必有少陰之復，其復皆在歲半之後，觀其氣勝之早晚，以驗復氣之遲法，治之有勝則復，無勝則已。（出「至真要大論」）。</p>

<h3>辛巳年</h3>
<p>厥陰風木司天，少陽相火在泉，中見少羽水運，歲水不及，氣化運行後天，天地之氣，上見厥陰，左間少陰，右間太陽，故天氣擾而其政撓。下見少陽，左間陽明，右間太陰，故地氣正而其令速。風生高遠，炎熱從之，云趨雨府，濕化乃行。風火同德，上應歲星熒惑。其谷蒼丹，間谷言太者，以間氣之太者言其谷，（太宮太商等所生谷出），其耗文角品羽。風燥火熱，勝復更作，蟄蟲來見，流水不冰，熱病行於下，風病行於上，風燥勝復形於中，（出「六元正紀論」），雨化風化勝復同，邪氣化度也。風化三，寒化一，火化七，正化度也。（出「六元正紀論」）。風化木為司天，苦化火為在泉，玄化水為司運，柔化土，清化金，為間氣灼化，君火為居氣。（灼化不曰間氣而曰居氣，蓋尊君火無所不居，不當間之也出。「至真要大論」）。其在物也，毛蟲靜，羽蟲育，是為歲物所宜。介蟲耗寒，毒不生，是為地氣所制。（出「五常政大論」）。然歲氣天化虛，地化盈，宜資化源。（年前大寒十二月迎而取之）。以助天氣之木化源，雖虛，水運在中，水乃生木，邪乃微也。必贊其運，水無使邪勝，以辛涼調上，以鹹寒調下，畏火之氣無妄犯之。（出「六元正紀論」）。歲半之前，厥陰主之，若風淫所勝，則太虛埃昏，雲物以擾，寒生春氣，流水不冰（木化）。民病胃脘當心而痛，上支兩脅，膈咽不通，飲胗，在足衝陽脈絕死不治。其法平以辛涼，佐以苦甘，以甘緩之，以酸寫之。（出「至真要大論」）。歲半之後，少陽主之，若火淫於內，則焰明郊野，寒熱更至，民病注泄，面赤，少腹痛，溺赤，甚則血便。其法治以鹹冷，佐以苦辛，以酸收之，以苦發之。（出「至真要大論」）。歲運之化，水不及，紀曰涸流，是謂反陽，藏令不舉，化氣乃昌，長氣宣布，蜇蟲不藏，土潤，水泉減，草木條茂，榮秀滿盛。其氣滯，其用滲泄，其動堅止，其發燥稿，其主埃郁昏翳，其病痿厥堅下。（出「五常政大論」）。其化兼所不勝，四維有湍潤埃云之化，則不時有和風生髮之應；四維發埃昏驟注之變，則不時有飄蕩振拉之復。其眚北，其藏腎，其病內舍腰脊骨髓，外在谿谷腨膝。皆以苦和調中，厥陰少陽之政，上下無克罪之異，治化惟一，故不再言。同風熱者，多寒化；異風熱者，少寒化。（出「氣交變大論」）。初之氣，自庚辰年大寒日已初，至是歲春分日卯初，六十日有奇。主位少角木，客氣陽明金，中見水運。金勝木，水運間之，寒始蕭殺，氣方至。民病寒於右之下。（出「六元正紀論」）。宜治陽明之客，以酸補之，以辛寫之，以苦泄之。歲谷宜蒼（木），間谷命其太也，以間氣之太者言其谷也，宜黍火。（出「至真要大論」）。二之氣，自春分日卯正，至小滿日醜正，六十日有奇。主位太徵火，客氣太陽水，中見水運。氣與運同，寒不去，葉雪冰，冰殺氣施化，霜乃降，名草上焦，寒雨數至，陽復化。民病熱於中。宜治太陽之客，以苦補之，以咸寫之，以苦堅之，以辛潤之。歲谷宜蒼，間谷宜稷（土），是氣也無犯司氣之寒。三之氣自小滿寅初，至大暑日子初，六十日有奇，主位太徵火，客氣厥陰木，中見水運，歲運之水制火而生木，故天布風乃時舉。民病泣出，耳鳴，掉眩。宜治厥陰之客，以辛補之，以酸寫之，以甘緩之。歲谷宜蒼，間谷宜稻金。四之氣，自大暑日子正，至秋分日戌正，六十日有奇，主位少宮土，客氣少陰火，中見水運，溽暑，濕熱相薄，爭於左上之。民病黃疸，而為胕腫。宜治少陰之客，以咸補之，以甘寫之，以酸收之。歲谷宜丹，間谷宜豆水。五之氣，自秋分日亥初，至小雪日酉初，六十日有奇。主位太商金，客氣太陰土，中見水運，土刑運，燥濕更勝，沉陰乃布，寒氣及體，風雨乃行。宜治太陰之客，以甘補之，以苦寫之，以甘緩之。歲谷宜丹，間谷宜麻木。終之氣，自小雪日酉正，至大寒日未正，六十日有奇。主位少羽水，客氣少陽火，中見水運。歲運得位，而畏太司令，陽乃大化，蟄蟲出見，流水不冰，地氣大發，草乃生，人乃舒。其病瘟癘。宜治少陽之客，以咸補之，以甘寫之，以咸軟之。歲谷宜丹，間谷宜豆水。此六氣之化也。歲氣之交，天氣勝者，則有陽明之復；地氣勝者，則有太陽之復，觀其勝復，各以其治之。</p>

<h3>甲戌年（太乙天符）</h3>
<p>太陽寒水司天，太陰濕土在泉，中見太宮土運。歲土太過，氣化運行先天，太宮下加太陰，太過而加，同天符。又土運臨戌，是謂歲會，氣之平也。平土之歲，命曰備化之紀。氣協天休，德流四正，五化齊修，其氣平，其性順，其用高下，其化豐滿，其政安靜，其候溽蒸，其令濕，其類土，其應長夏，其谷稷，其果棗，其實肉，春蟲倮，其畜牛，其物膚，其色黃，其味甘，其音宮，其數五。其在人也，其藏脾，其主口，其養肉，其病否，此歲運所主也。（出「五常正大論」）。天地之氣，上見太陽，左間厥陰，右間陽明，故天政所布，其氣肅。下見太陰，左間少陽，右間少陰，故地氣靜而其令徐。水土合德，上應辰星鎮星。其谷玄黅黃，寒臨太虛，其政大舉，陽氣不令，澤無陽焰則火發待時，少陽中治，時雨乃涯，正極雨散，還於太陰，云朝北極，濕化乃布，澤流萬物，寒敷於上，雷動於下，寒濕之氣，持於氣交。民病寒濕發，肌肉萎，足萎不收，濡泄血溢。（出「六元正紀論」）。歲半之前，天氣太陽主之，太陽有本標之化，寒政大舉，熱氣時應者，天氣得中也。歲半之後，地氣太陰主之，太陰之化從本，雨濕甚者，地氣之應也，寒化六，濕化五，是為正化之日，倮蟲育，鱗蟲靜，是為歲物所宜。燥毒不生，鱗蟲不成，其味鹹，地氣熱，是為地氣所制。平土之歲，本不資化，涼運與地氣臨於戌土，氣盛先資化源，以助於水，所謂抑其運化，扶其不勝，無使暴過，而生其疾也。食玄黅之谷，以全其真，闢歲之虛邪，（從沖後來之風），以安其正。以苦熱調上，以苦溫調下。運土在中，亦以苦溫調之。運同寒濕化，宜燥熱治之，常也。（「五常正論」「六元正紀論」相參並）。初之氣，自癸酉年大寒日申初，至是年春分日午初，六十日有奇。主位太角木，客氣少陽火，中見土運。少陽中治以行春令，地氣遷，氣乃大溫，草乃早榮，民乃癘，溫病乃作，身熱，頭痛，嘔吐，肌腠瘡瘍。宜治少陽之客，以咸補之，以甘寫之，以咸軟之。歲谷宜玄水，間谷宜豆（水），則火不為邪。二之氣，自春分日午正，至小滿日辰正，六十日有奇。主位少徵火，客氣陽明金，中見土運。金土相和，大涼反至，民乃慘，草乃遇寒之氣遂抑。民病氣鬱中滿，寒乃始。宜治陽明之客，以酸補之，以辛寫之，以苦泄之。歲谷宜玄，間谷宜黍（火），則燥不為邪。三之氣，自小滿日巳初，至大暑日卯初，六十日有奇。主位少徵火，客氣太陽水，中見土運。天政布，寒氣行，雨乃降。民病寒，反熱中，癰疽注下，心熱瞀悶，不治者死。宜治太陽之客，以苦補之，以咸寫之，以苦堅之，以辛潤之。歲谷宜玄，間谷宜稷（土），則寒不為邪。四之氣，自大暑日卯正，至秋分日醜正，六十日有奇。主位太宮土，客氣厥陰木，中見土運，歲土得位，風氣居之，風濕交爭，風化為雨，乃長，乃化，乃成。民病大熱少氣，肌肉痿，足痿，注下，赤白。宜治厥陰之客，以辛補之，以酸寫之，以甘緩之。歲谷宜黅，間谷宜稻（金），則風不為邪。五之氣，自秋分寅初，至小雪日子初，六十日有奇。主位少商金，客氣少陰火，中見土運，火能生土，土能生金，氣位相和，陽復化，草乃長，民乃舒。宜調少陰之客，以咸補之，以甘寫之，以酸收之。歲谷宜黅，間谷宜豆（水），則熱不為邪。終之氣，自小雪日子初，至大寒日戌正，六十日有奇。主位太羽水，客氣太陰土，中見金運。氣與運氣符會，地氣正濕令行，陰凝太虛，埃昏郊野，民乃慘淒，寒風以至，反者孕乃死。宜治太陰之客，以甘補之，以苦寫之，以甘緩之。歲谷宜黅，間谷宜麻木，則濕不為邪。是氣也不可犯司氣，以涼故也。歲氣雖平，或有邪氣則中，執民有急卒之病。經曰：中有執法者，其病速而危也。</p>

<h3>丁卯年</h3>
<p>陽明燥金司天，少陰君火在泉，中見少角木。歲運不及，氣化運行後天，木運臨卯，是謂氣會，氣之平也。平氣之歲，氣化運行同天，命曰敷和之紀，木德周行，陽舒陰布，五化宜平，其氣其性隨，其用曲直，其化生榮，其政發散，其候溫和，其令風，其類草木，其應春，其谷麻，其果李，其實核，其蟲毛，其畜犬，其色蒼，其味酸，其音角，其數八，其物中堅。其在人也，其藏肝，其主目，其養筋，其病裡急，肢滿，此歲運之化也。（出「五常正大論」）。天地之氣，上見陽明，左間太陽，右間少陽，故天氣急而其政切。下見少陰，左間太陰，右間厥陰，故地氣明而其令暴。（出「五運行論」）。陽專其令，炎暑盛行，物躁以堅，淳風乃治，風燥橫運，流於氣交，多陽少陰，云趨雨府，濕化乃敷，燥極而澤，清先而勁，毛蟲乃死，熱後而暴，介蟲乃殃。金火合德，上應太白熒惑，其谷白丹，間谷命太者，其耗白甲品羽，（白色中蟲，多品羽類，有羽翼者）。蟄蟲出見，流水不冰，清熱之氣，持於氣交。民病咳嗌塞，寒熱發暴，振慄癃悶。然陽明燥金在上，少陰君火在下，火能勝金，天氣虛，地氣盈，天氣不足，當資化源，以助金氣，運木既平天氣，上商與正商同，不必資也。歲宜食白丹之谷，以安其氣，食間氣之谷，以去其邪。以苦小溫調上，以鹹寒調下，以辛和調中，汗之，清之，散之。運同熱氣宜多天化。少角、少徵歲同熱，用方多以天清之化治之；少商、少宮、少羽歲同清，用方多以地熱之化治之。火在地，故同清者多地化，金在天，故同熱者多天化。初之氣，自丙寅年大寒日亥初，終於是年春分日酉初，六十日有奇。主位少角木，客氣太陰土，中見木運。風濕相遇，上應司天之陽明，以行春令。地遷陰始凝，氣始肅，水乃冰，寒雨化。民病中熱脹，面目浮腫，善眠，鼽衄，嚏欠嘔，小便黃赤，甚則淋。然是歲木運統之，又臨木位，風木得位，其氣和平，濕化乃微，其病亦少。宜調太陰之客，以甘補之，以苦瀉之，以甘緩之。食白谷以安其氣，食麻以去其邪，雖有濕化不能為邪。二之氣，自春分日酉正，至小滿日未正，六十日有奇。主位太徵火，客氣少陽火，中見木運。木火相得，上應陽明，陽乃布，民乃舒，物乃生榮，癘大至，民善暴死。是歲天氣歲運皆平，癘疾自微。宜調少陽之客，以咸補之，以甘寫之，以咸軟之。食白谷以安其氣，食豆以去其邪，雖有火化不能為邪。三之氣，自小滿日申初，至大暑午初，六十日有奇。主位太徵火，客氣陽明金，中見木運，天政布，涼乃行，燥熱交合，燥極而澤，民病寒熱。宜調陽明之客，以酸補之，以辛寫之，以苦泄之。食白谷以安其氣，食黍以去其邪，雖有燥化不能為邪。四之氣，自大暑日午正，至秋分日辰正，六十日有奇。主位少宮土，客氣太陽水，中見木運，寒雨降，民病暴僕振慄，譫妄，少氣，嗌乾，引飲及為心痛，癰腫，瘡瘍，瘧寒之疾，骨痿，血便。宜調太陽之客，以苦補之，以咸寫之，以苦堅之，以辛潤之。食丹谷以安其氣，食稷以去其邪，雖有寒化不能為邪。五之氣自秋分日巳初，至小雪日卯初，六十日有奇。主位太商金，客氣厥陰木，中見木運，與厥陰相符，是謂司氣，名曰蒼化時令。至此春令反行，草乃生榮，民氣和，自無疾病。然厥陰之客，宜以辛寫之，以酸寫之，以甘緩之。歲谷宜丹，間谷宜稻，雖有風化不能為邪，是氣也司氣，以溫用溫，無犯所謂用溫遠溫也。終之氣，自小雪日卯正，至大寒日醜正，六十日有奇。主位少羽水，客氣少陰火，中見木運，水能生木，木能生火而行順化，當陽氣布化，候反溫，蟄蟲來見，流水不冰，民乃康，平其病溫。宜調少陰之客，以咸補之，以甘寫之，以酸收之。食丹谷以安其氣，食豆以去其邪，雖有熱化不能為邪，是歲重遇平氣，四時之氣皆德化，政令之施，而無淫邪勝復之變，民乃和，物乃舒，平之至也。</p>

<h2>三十九、論六十花甲納音名義</h2>
<p>○甲子、乙丑海中金，金有五，何者為海中金？蓋天一生水，必先有金，而後生水，水自金生，所以始於海中金，而終於大海水也。此金要知其象，則鹽也。遇火成象，遇水復化為水。故之海中金者，鹽也。又按子醜北方水旺之地，雖有醜土之制，又按天干甲乙之木所克，則土虛水旺而為海也。金為水母，子旺母必隨。故子醜中有金，此金之火成象，遇水復化水，而從子者，鹽也。鹽出於海，故曰海中金也。○壬申、癸酉劍鋒金，金之至剛者，鐵也。又臨官於申，旺於酉，則金已成材，至堅至剛，得位西方申酉之地，假天干壬癸之水，以磨礪之，則鋒刃，清明成利器也，非劍鋒而何？○庚戌、辛亥釵釧金，金旺於酉，當衰於戌，而病於亥。亥屬乾，乾為金，況庚辛以臨其上，處剛健之時，雖曰氣衰，則體健而不衰。其潔白之性，益壯金處，此時乾為天、為首、為飭。庚辛既潔而不衰，體堅而不乏，在首飭之上，非釵釧而何？○壬寅、癸卯金箔金，蓋金生於巳，而絕於寅，其壬癸水，亦病死於寅，卯以垂絕之，母又被病子以竊其氣，肌體薄矣。然壬癸子死於卯，母無所竊得，以復究於卯，不絕於寅矣。況寅為造化之爐，萬物有生之地，金性至剛，入爐陶瀉成器，愈煉愈剛，金體至此，縱薄如箔，繼能復完，受胎為卯也，故喻以金箔金焉。○甲午、乙未沙中金，天元甲乙屬木支神，午火未土何以曰金？且以沙石為喻，蓋坤土在於午未，土氣充實，況聚於坤，唯能養金，緣金至午，木浴，又曰暴敗。力懦氣弱不能支持，須假母土，以長養之，方能冠帶成材。但土氣太厚，能藏其金意，若混於沙石，故曰沙中金也。○庚辰、辛巳白蠟金。金絕於寅，復孕於卯，涵養於辰，形於內也。至巳長生，始形見於外，謂庚辛至辰，函養之地，如人在腹，如物在土。至巳方生，如人出腹，如物出土類，嬰孩也，雖稟堅成剛健之性，而體氣尚弱，未能強實，類五金中之鉛錫，言氣剛而體柔，故以喻為也。○庚寅、辛卯松柏木。木臨官於寅，旺於卯，東方震之。位得時得位，可謂至旺之木矣。況天干受庚辛堅成之氣，體堅性直，凌霜耐雪，堅不可蠹，冬則不凋，故以松柏為喻也。○壬午、癸未楊柳木，木死於午，墓於未，水至午位失時氣弱，況木假水生金，壬癸水至午未則竭，水至午未則炎，土火氣燥，其木根不深，蒂不固，軀不實，性不堅，有木之形，無木之實，縱花不果，標干柔弱，故以楊柳為喻也。○庚申、辛酉石榴木。天元庚辛屬金，又臨辛酉正位兌宮，則金得時得位，當以金名，卻以為木，何哉？蓋四時之木，各以其時而旺，以時而實，然石榴受夏火之氣，不榮於春，乃榮於仲夏，故花紅而象火；以受庚辛金，故結實於秋，猶藏火色，若以金氣至旺，木絕於申，則木當終絕於此矣，殊不知此木受火之令，七月流火，則金氣爍而木不可以終窮，是以不絕於申，復孕於酉。酉劍兌，兌者，悅也。萬物澤悅之時，木復胎孕，養成於戌，長生於亥，故庚申、辛酉以石榴名之，言懷火，令金弱，木眾雖無任用之材，則應而果實，亦木之自用，能實而復有金也，立名取義，豈苟然哉？○戊辰、己巳大林木。戊戌己亥平地木，不肯指名，混言木者，何也？蓋天干戊己土也，辰戌未醜則土維也，土生萬物為母，春生夏長，秋收冬藏，土之德也，故《易》曰：動萬物者，莫過於雷卯震二月也；齊萬物也，莫過於巽辰巳三月四月也，蓋戊巳之土，長養萬物，而齊與巽，不獨私於一物，則萬物俱齊，物齊成林木矣。○戊戌、已亥平地木。戊己之土，長養萬物，春夏結實，至秋冬則當收斂，收之與斂，非母而誰當？假土之覆護，覆命歸根，聚土之下，戌為九月，萬物凋零之時，亥為十月，萬物肅殺之地，母當蔽藏，萬物悉在懷抱，如在其腹地，無私藏，無一不被其藏，則戊巳土如地之平，藏木其下，故以平地名之也。○壬子、癸丑桑柘木。天干壬水，癸水，子水，醜土，何以為木？殊不知子醜兩月時當盛，冬兼壬癸水聚之時，若納音不以木名，則萬物當終絕於此也，所以木生在亥，暴敗於子，冠帶於醜，臨官帝旺於寅卯，萬物之生，無非水土。蓋子為十一月，醜為十二月，水土凝聚之時，天寒地凍，陽氣潛藏在下，陰氣凝結在上，水土雖在凝寒之時，萬物歸根覆命於此，藏土之下，萌芽於地，故就之以陽也。立春之後，陽氣上升，萬物甲拆而榮於上矣。原木所貴，先取有材，可以任重；後取有用，可以濟人。桑柘雖受水土凝寒之氣，體屈而無材，不能以任重，萬物有用，農桑為首，豈不為世之有用，而濟人者耶？故以桑柘為喻也。○庚午、辛未路傍土者，然坤為地，居未申之間，午未則處乎坤之上，何以名路傍？蓋天高西北則乾也，地缺東南則巽也，巽乃辰巳之位，坤乃未申之位，坤地重厚而連巽，缺之隅，陷之側如路之傍，故取此為喻也。○戊申、己酉大驛土者，蓋坤在申，當澤悅萬物於其酉，寢西北位向乾，天至此益高，地至此益廣，況寅申、巳亥為四驛馬之神土，既在坤，大不可測，廣不可量，載人立物，如驛之廣容人畜物地之事也。故以大驛為喻也。○丙戌、丁亥屋上土者，蓋戌為九月，亥為十月。九月則萬物凋零，斂藏，十月則萬物覆命歸根，悉於土也。況土寒則肅殺萬物，土暖則養成萬物。火庫在戌而得丙，臨官於亥而得丁，土受丙丁和土之氣於其中，則庇覆萬物於其下矣，如人至冬不可露居，當在屋下，如土蓋萬物於下，故以屋為喻也。○庚子、辛丑壁上土者，土於丙戌丁亥已，蓋萬物於下，而喻以屋，然子為十一月，醜為十二月，天寒地凍，況資以庚辛之金，則風益冷，氣益寒，萬物雖得土以蓋之，然四圍風雨亦必假土以庇之，故用庚子、辛丑土以圍之，如屋復有壁也。人得以居室周密，物得以固本深藏，故醜名壁上土也。○戊寅、己卯城頭土者，土自九月、十月庇復萬物於其下，十一月、十二月圍護萬物於其中，又包裹至寅卯之地，有如城焉，況戊己之上，置寅卯木上，非城而何？萬物得土包藏，見寅正月東風解凍，萬物當甲拆。卯為二月，雷乃動聲，萬物皆奮土而出，物在土內如人在城中，擁並候門欲奮城出，故物之與人，俱候其時次第而出，故以城為喻也。○丙辰、丁巳沙中土者，蓋土自路傍積，坤成地為驛，路為城頭，受覆萬物，至於動雷，齊巽則長成矣。物既長成，於巽各自奮榮，土乃木母，至此氣血枯燥，退居於缺之隅，雖假天干丙丁火以相生，然體終枯燥，不能復生物也。雖有土之名，誠不足以培物，如沙石焉，故以為喻。○丙午、丁未天河水者，蓋午未南方屬火，為盛夏，午為離位，則真火也。況丙丁之火，加於午未之上，則陽極矣。陽極陰生，故《素問》曰：熱極生寒，寒極生熱，水化為火，火化為水。又曰：地氣上升為云，天氣下降為雨，天地氣交，物窮則變。火者，陽也；水者，陰也。陽化為陰，水自火出，非雨而何？且如盛夏天氣鬱蒸，而雨必作，自上而下，其雨及地，故曰天河水也。自此潤下為泉源、為澗、為溪沼大海、為長流。濟舟楫，能潤物以及人也。○甲申、乙酉泉中水者，自丙午丁未火化為水，須賴土以容受。土者，坤也，而居為申，故水生於申。因土而生，此則雨出地氣也。坤土既受天河之水，當潤下為泉源，然後有江淮河濟以流，衍澤萬物於其酉，水在土下，非木鑿土不能以見，泉是用天干甲乙之木，鑿坤之土，始見泉源，所以甲申乙酉為井泉水也。○壬戌、癸亥大海水者，蓋戊亥為乾，乾為天而屬金，是乾為出水之源而連於坎，加之天干壬癸之水，臨於其上，壬癸得位，上則生於乾，下則聚於坎，流蕩無窮，源深浩浩。土不可遏，非海而何？故以大海名之。○丙子、丁丑澗下水，蓋子為北坎，醜連乎良。北坎乃水之正位，坎在艮山之奧，為水之源，非艮止而聚之，則漂流浩蕩，損物害人，非天干丙丁火以和暖之。上化為霜雪，下凝為冰凍，殺物而絕物也。故艮山之奧，習坎之水止而聚，和而暖。所以能灌物而生物也。山奧積水曰澗，故曰澗下水也。○甲寅、乙卯大溪水，蓋水聚艮山之奧，出艮之下，曰溪。以天高西北，地缺東南。艮山漸近，於巽將至，缺陷之危，其水則順流而下。水深土陷，流衍於東，可以潤物而濟人也。故天干甲乙臨官於寅卯之位，上下俱木為舟楫，以濟其流，利人濟物，故以大溪名之。○壬辰、癸巳長流水，其水始自雨露，下降為天河，納於坤地，潤土之下為泉源，入乾為海，入坎為澗，出艮為溪，為長流，而納於巽。蓋巽乃百川所聚之地，始自天河，終於巽，故曰長流水也。○戊子、己丑霹靂火，子為坎為水，況屬冬季。雷者，陽也；陽者，火也。水在雷上，雷在水下，坎於是而旺，而雷當屯六陰，既窮於亥，而陽當生於子。子為十一月，醜為十二月，陽雖欲生，則陰凝結，非擊觸而陽不能復也，故以戊己之土，觸坎之水，陰當迎刃而解。陰陽交攻，陽自陰出，則轟然有聲。所以取喻於霹靂也，是知剝而復，窮則變，變則通。故丙午、丁未火變為水，戊子、己丑水變為火也。○丙寅、丁卯爐中火者，寅為三陽而遇丙。丙者，火也；火者，陽也。陽於是而生日，於是而升至卯，而出寅。卯屬木，臨官帝旺，四時之首，萬物至此而甲拆，各見其象，此天地造化之爐也，故以爐為喻。○丙申、丁酉山下火，又曰白茆，何哉？天元丙丁真火，則太陽也。以歲言之申酉則七月、八月，火氣漸衰，暑氣漸減。以日言之，至申酉之時，則水退火微，日已西矣，故火病於申，而死於酉，其火至此，則當沒而無，炎上之性，明不能廣，氣不能炎，況坤為地，日自東北，終於西南艮山之下，故以山下名之。火在東南，有巨木而發生，遇巽與離，則炎畢而成灰爐，況火至申酉則衰，木至申酉則枯槁無力以生火，其喻如草、如茆，縱能生火，一閧之市，而力不足以炎上與升明矣，故又喻如茆也。○戊午、己未天上火，火屬離升明，高高在上，則當照臨下土，以明為德。緣戊己屬土，正位乎坤，坤為地，乃下土也。其火在離升明，則照坤下土，麗光明之德，燭物之功，故曰天上火也。蓋《易》以火在上，土在下，曰火地晉，火在下，土在上，曰地火明，夷正此謂也。○甲戌、乙亥山頭火者，以火當墓絕於戌，亥為乾，乾為天，天高西北，火在高，高之上有甲乙木，以生其火，如在山之頭，故以此喻也。○甲辰、乙巳覆燈火，蓋辰為五陽，巳為六陽，火將升明於離，天干甲乙屬木，復資火以極其明，大則覆照天下，小則偏燭幽隱，無往不照，喻如覆燈，能照人而燭物也。又按，以籠燈曰覆燈，燈無草則滅，草亦明也，故籍天干之木以生，又籍木為籠，為竿，則燈高明而照明矣。正如六陽升明於離而照，則普也。草廬吳先生曰：予嘗謂納甲之五行，猶先天之卦，納音之五行，猶後天之卦也。且納音始於誰乎？五行之上，曰某水、某火、某土、某金、某木者，又始於誰乎？疑末世術家猥瑣之所為也。予壯歲遇朱光父家，見其所撰《甲子釋義》。凡余支之屬五行，及其上所加二字，皆以理論，雖甚精密，而亦不無牽強者。予曰□□□以數起，得木數者木，得金數者金，得土數則水，得水數則火，得火數則土也，先生布算，算之而悉合，曰：當。而正之越三十餘年，出所改《釋義》以示下之。五行概諸數上之二字拆，諸理愈明白，而愈精密。</p>

<h2>四十、十二支納音</h2>
<p>干支者甲子，陽先陰後，（甲子陽乙丑陰），順輪故陽娶陰（甲子娶乙丑）同類為妻也，生子謂甲子，隔八生壬申，壬申生庚辰，三皆金。金即子，餘子義同。次向戊子火，三生至木，木三生至水，水三生至土，土三生終。復自甲午，金三生至戊午火，依序轉畢十二辰，各含五音（如子之一辰，甲子金，丙子水，戊子火，庚子土，壬子木是也），遍六甲共納六十音，隔八非第八，若甲子至癸酉通十，除前位，此名納甲之法，運氣則急為用。</p>
<figure>
<img data-orig-src="urn:270:10670.jpg" alt="五行納音之圖">
</figure>
<p><u>歌曰</u></p>
<p>五行舉一為例，干支陽夫（甲子）陰妻（乙丑），甲子能娶乙丑，隔八三生金兮。假如子之一辰，其中而含五音，甲金，丙水、戊火、庚土、壬水相臨。</p>
<figure>
<img data-orig-src="urn:270:10671.jpg" alt="運氣加臨汗瘥手經指掌圖">
</figure>
<figure>
<img data-orig-src="urn:270:10672.jpg" alt="運氣加臨汗瘥足經指掌圖">
</figure>
<figure>
<img data-orig-src="urn:270:10673.jpg" alt="運氣加臨棺墓手經指掌圖">
</figure>
<figure>
<img data-orig-src="urn:270:10674.jpg" alt="運氣加臨棺墓足經指掌圖">
</figure>
<p>機按，汗瘥棺墓法，不見於經圖解，最鄙淺，不類仲景文字，必後世如高陽生《脈訣》托王叔和之類，今不取。姑釋之少備客問。</p>

<h3>汗瘥棺墓詩</h3>
<p>金見丁辛火乙丁，丙己木水乙巳並（當作甲乙），戊壬土水火丙己（當作甲丙），水木元來號甲丁，土水甲己從來道，金土丁壬汗似蒸，木土丙辛之日愈，火金乙巳汗如傾，水金甲戊宜當汗，木火乙戊不差爭，土火乙庚疾必減，金木安康在丙庚，金燥水寒中土濕，木風火熱氣和清，此是加臨安愈訣，莫與迷人取次輕。</p>
<p>（日乾用運，支用藏府所屬，假五行生數定汗瘥之期。如金土主丁壬，自甲至丁數四，戊至壬數五，汗瘥不先則後，余效此驗。惟九日者土數無成不及癸耳。假如甲子日得病，甲運屬土，而子屬腎水，便唸詩曰：土水甲己從來道，蓋十干以甲為首，而數一，然一乃水之生數，故甲日當汗瘥，除甲，自乙數至己，得土之五數，故至巳日亦當汗瘥。又如乙酉日得病，乙屬金，而酉屬大腸金，便唸詩曰：金見丁辛火乙丁，蓋從甲數起正得金之四數，除丁又從戊數起至辛亦得金之四數，故丁辛皆金之生數，是以當汗瘥也，余效此例。）</p>

<h1>跋</h1>
<p>石山先生《運氣易覽》書，既無程馬穿泥之謬，又不遺夫岐黃垂教之旨，乃醫中第一義也。鐈以殘喘，沐公生死骨肉之恩，因求卒業門下。悉觀其所著《素問鈔》《脈訣刊誤》《外科理例》《針灸問答》《素問補註》《本草會編》《痘疹理辯》《石山醫案》，皆已梓行於世矣。最後出《運氣易覽》示鐈，鐈讀而請曰：是獨可以弗刻乎？先生曰：運氣者，盧扁弗稽，淳華弗議，吾所以不敢輕以傳信也。鐈曰：前賢言運氣明，識得本，又言不通五運六氣，遍檢方書何濟？丹溪之治瘟疫，亦言當推運氣以勝之，然則彼皆非邪？先生曰：嘻。是或一道也，微子言，是書幾不振矣。鐈遂受而刻之。謹跋數語，使人知傳書之不易焉爾。</p>
<p><u>嘉靖癸巳菊日門生仁庵程鐈廷彝頓首書</u></p>
