<header data-type="book">
<h1>金匱要畧論註</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>徐彬</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1671">公元1671年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·金匱要畧論註》，文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0006/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>
