<header data-type="book">
<h1>玉楸藥解</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>黃玉璐</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1754">公元1754年</data></dd></div>
<div><dt>底本</dt><dd>《黃氏醫書八種·玉楸藥解》，清光緖乙巳秋經元書室藏板（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-613139">香港中文大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>自敘</h1>
<p>昔神農解藥，黃帝傳醫，仲景先生繼農黃立法，聖作明述，於是焉備。</p>
<p>癸酉仲春，既解長沙藥性，而仲景未用之藥，散在後世本草，數百千載，狂生下士，昧昧用之，以毒兆民。農黃以往，仲景云祖，後之作者，誰復知醫解藥，諸家本草，率皆孟浪之談。明·李時珍修《綱目》，博引庸工訛謬之論，雜以小說、稗官、仙經、梵志，荒震無稽，背馳聖明作述之義幾千里矣！玉楸子悲憶昔人，愴念來者，甲戌三月，成《傷寒說意》，五月成《素靈微蘊》，六月復作《玉楸藥解》，八月癸丑告成，此愚書之第八部也。</p>
<p>蕭蕭古寺，落落荒齋，感歲月之已晚，傷春秋之欲暮。當伯玉知非之時，值孔子學《易》之秋，事與之判，年與之齊，慨世短而心長，念身微而愁劇。雖然，子長作《史》，子云草《玄》，固當牢騷於創始之日，亦必愉快于勒成之時者。志勵丁年，書竣蒼首，十仞作井，一簣成山，此亦煙嵐著書之士，最為破涕而笑者也。</p>
<p>嗚呼！有一代之功業，有千秋之勳猷，任兼將相，望重國家，宣沙漠之雄威，馳丹青之良譽。榮則榮矣，無何而古墓為田，松柏成薪，豐碑已斷，綠字無存，傳觀故實，不能考其姓名，遠綜先典，莫或搜其軼事。念滄桑之更變，嘆陵谷之遷移，其間宏才遠略，豐功偉烈，生而光顯，沒而泯滅者，不知幾何？三不朽事業，殊不在是，與其收功臣之帶礪，享良相之茅土，不如永日嘯歌，逍遙於黃葉青山下也。</p>
<p><u>甲戌八月甲寅東萊都昌黃元御撰</u></p>

<h1>卷一</h1>

<h2>草部</h2>
<p><u>蒼朮</u>　味甘、微辛，入足太陰脾、足陽明胃經。燥土利水，瀉飲消痰，開鬱去滿，化癖除症，理吞吐酸腐，闢山川瘴癘，起筋骨之痿軟，回溲溺之混濁。</p>
<p>白朮守而不走，蒼朮走而不守，故白朮善補，蒼朮善行。其消食納穀，止嘔住泄，亦同白朮，而瀉水開鬱，則蒼朮獨長。蓋木為青龍，因己土而變色，金為白虎，緣戊土而化形，白朮入胃，其性靜專，故長於守，蒼朮入脾，其性動盪，故長於行，入胃則兼達辛金而降濁，入脾則並走乙木而達郁。白朮之止渴生津者，土燥而金清也，蒼朮之除酸而去腐者，土燥而木榮也。白朮偏入戊土，則納粟之功多，蒼朮偏入己土，則消穀之力旺，己土健則清升而濁降，戊土健則濁降而清亦升，然自此而達彼者，兼及之力也，後彼而先此者，專效之能也，若是脾胃雙醫，則宜蒼朮、白朮並用。</p>
<p>茅山者佳，制同白朮。</p>
<p>新制雙術法列下：選於茅二術堅實肥鮮者各一斤，別器泔浸，換水，令潤透，去皮，切片，曬用。黃耆、沙參、生薑、半夏各八兩，煎濃汁，浸白朮。大棗、龍眼、砂仁各八兩，煎濃汁，浸蒼朮。各用磁盤，隔布鋪蓋濕米，砂鍋蒸透，曬乾。再浸再蒸，汁盡而止。量加暖水溫中之品合煎，久餌實能延年卻老。</p>
<p>戊己轉運，水火交濟，環鉛聚汞之理，醫家不解，妄以滋陰之藥，促命夭年，甚可恨也！黃土炒白朮，芝麻炒蒼朮，無知妄作，不通之極！</p>
<p><u>黃精</u>　味甘，入足太陰脾、足陽明胃經。補脾胃之精，潤心肺之燥。</p>
<p>黃精滋潤醇濃，善補脾精，不生胃氣，未能益燥，但可助濕，上動胃逆，濁氣充塞，故多服頭痛，濕旺者不宜。《本草》輕身延年之論，未可盡信也。</p>
<p>砂鍋蒸，曬用。</p>
<p>鉤吻即野葛，形似黃精，殺人！</p>
<p><u>益智仁</u>　味辛，氣溫，入足太陰脾、足陽明胃經。和中調氣，燥濕溫寒，遺精與淋濁俱療，吐血與崩漏兼醫。</p>
<p>凡男子遺精淋濁，女子帶下崩漏，皆水寒土濕，肝脾郁陷之故。總之，木鬱亦生下熱，而熱究不在脾胃，庸工謂其相火之旺，胡說極矣！其脾胃上逆，則病吐血，往往紫黑成碗，終損性命。益智仁溫燥濕寒，運行鬱結，戊己旋轉，金木升降，故治諸證。然非瀉水補火，培土養中之藥，未能獨奏奇功。</p>
<p>去殼，炒，研。消食亦良。</p>
<p><u>草豆蔻</u>　味辛，氣溫，入足太陰脾、足陽明胃經。燥濕調中，運行郁濁，善磨飲食，能驅痰飲，治胃口寒濕作痛，療腹中腐敗成積，泄穢吞酸俱效，蠻煙瘴癧皆醫，痎瘧堪療，霍亂可愈，反胃噎膈之佳藥，嘔吐泄利之良品，化魚肉停留，斷赤白帶下。</p>
<p>草豆蔻調和脾胃，溫燥寒濕，運行郁濁，推宕陳宿，亦與砂仁相仿，而性氣頗烈，內郁稍重者宜之。</p>
<p>麵包裹煨，研，去皮。</p>
<p><u>縮砂仁</u>　味辛，氣香，入足太陰脾、足陽明胃經。和中調氣，行郁消滿，降胃陰而下食，達脾陽而化谷，嘔吐與泄利皆良，咳嗽共痰飲俱妙，善療噎膈，能安胎妊，調上焦之腐酸，理下氣之穢濁，除咽喉口齒之熱，化銅鐵骨刺之鯁。</p>
<p>清升濁降，全賴中氣，中氣非旺，則樞軸不轉，脾陷胃逆，凡水脹腫滿。痰飲咳嗽，噎膈泄利，霍亂轉筋，胎墜肛脫，谷宿水停，泄穢吞酸諸證，皆升降反常，清陷濁逆故也。瀉之則益損其虛，補之則愈增其滿，清之則滋其下寒，溫之則生其上熱，緣其中氣堙郁，清濁易位，水木下陷，不受宣瀉，火金上逆，不受溫補也。惟以養中之味，而加和中之品，調其滯氣，使之迴旋，樞軸運動，則升降復職，清濁得位，然後於補中扶土之內，溫升其肝脾，清降其肺胃，無有憂矣。和中之品，莫妙如砂仁，沖和條達，不傷正氣，調理脾胃之上品也。</p>
<p>去殼，炒，研，湯沖服，則氣足。</p>
<p><u>補骨脂</u>　味辛、苦，氣溫，入足太陰脾、足少陰腎、手陽明大腸經。溫脾暖腎，消水化食，治膝冷腰疼，療腸滑腎泄，能安胎墜，善止遺精，收小兒遺溺，興丈夫痿陽，除陰囊之濕，愈關節之涼。</p>
<p>陽衰土濕之家，中氣堙郁，升降失位，火金上逆，水木下陷。夜而陰旺濕增，心腎愈格。子半陽生之際，木氣萌生，不得上達，溫氣下郁，遂興陽而夢泄。此宜燥土瀉濕，升脾降胃，交金木而濟水火。道家媒合，嬰兒奼女，首重黃婆，玄理幽妙，醫工不解也。</p>
<p>補骨脂溫暖水土，消化飲食，升達肝脾，收斂滑泄，遺精帶下，溺多便滑諸證，甚有功效。方書稱其延年益壽，雖未必信，然要亦佳善之品也。</p>
<p>鹽酒拌潤，炒，研，曬乾用。</p>
<p>同青鹽、乳香，搽日久牙痿。</p>
<p><u>肉豆蔻</u>　味辛，性溫，氣香，入足太陰脾、足陽明胃經。溫中燥土，消穀進食，善止嘔吐，最收泄利，治寒濕腹痛，療赤白痢疾，化痰水停留，磨飲食陳宿。</p>
<p>肉豆蔻調和脾胃，升降清濁，消納水穀，分理便溺，至為妙品。而氣香燥，善行宿滯，其性斂澀，專固大腸，消食止泄，此為第一。</p>
<p>麵包煨，研，去油，湯沖。</p>
<p>肉蔻辛香，頗動噁心，服之欲嘔，宜蜜小丸，烘乾，湯送。</p>
<p><u>胡蘆巴</u>　味苦、辛，氣溫，入足陽明胃、足少陰腎經。瀉濕驅寒，破瘕消疝。</p>
<p>胡蘆巴苦溫下行，治水土濕，腹脅滿脹，寒疝冷瘕，囊墜腳腫之證。</p>
<p><u>白豆蔻</u>　味辛，氣香，入足陽明胃、手太陰肺經。降肺胃之沖逆，善止嘔吐，開胸膈之鬱滿，能下飲食，噎膈可效，痎瘧亦良，去睛上翳障，消腹中脹疼。</p>
<p>白豆蔻清降肺胃，最驅膈上郁濁，極療噁心嘔噦。嚼之辛涼清肅，肺腑郁煩，應時開爽。秉秋金之氣，古方謂其大熱，甚不然也。</p>
<p>研細，湯沖。</p>
<p><u>紅豆蔻</u>　味辛，氣溫，入足太陰脾、足陽明胃經。治脾胃濕寒，痛脹皆消，療水穀停瘀，吐泄俱斷，善止霍亂瘧痢，能除反胃噎膈，去胸腹之酸穢，散山川之瘴癧。</p>
<p>紅豆蔻調理脾胃，溫燥濕寒，開通瘀塞，宣導汙濁，亦與草豆蔻無異，而力量稍健，內瘀極重者宜之。上熱易作鼻衄牙痛之家，盡屬中下濕寒，膽火不降，當溫燥中下，候上熱不作而用之。</p>
<p>去殼，研用。</p>
<p>紅豆蔻即良薑子，與良薑性同。</p>
<p><u>大茴香</u>　味辛，微溫，入足陽明胃、足少陰腎經。降氣止嘔，溫胃下食，暖腰膝，消㿉疝。</p>
<p>茴香性溫下達，治水土濕寒，腰痛腳氣，固瘕，寒疝之證。</p>
<p><u>香附</u>　味苦，氣平，入足太陰脾、足厥陰肝經。開鬱止痛，治肝家諸證。</p>
<p>但肝以風木之氣，升達不遂，則生風燥，香附降伏之性，最不相宜，香燥之氣，亦正相反。庸工香附諸方，造作謬妄不通。</p>
<p><u>蓽茇</u>　味辛，氣溫，入足太陰脾、足陽明胃經。溫脾胃而化谷，暖腰膝而止痛，吐泄皆醫，疝瘕並效。</p>
<p>蓽茇辛燥溫暖，治水穀不消，腸鳴水泄，心腹疼脹，嘔逆酸心之病甚佳。</p>
<p>醋浸，焙用。</p>
<p>蓽茇與蓽澄茄性味相同，功效無殊，皆胡椒類也。</p>
<p><u>藿香</u>　味辛，微溫，入足太陰脾、足陽明胃經。降逆止嘔，開胃下食。</p>
<p>藿香辛溫下氣，善治霍亂嘔吐，心腹脹滿之病。煎漱口臭。</p>
<p><u>香薷</u>　味辛，微溫，入足陽明胃、足太陽膀胱經。利水瀉濕，止嘔斷利。</p>
<p>溫胃調中，治霍亂腹痛吐利之證，利小便，消水腫，止鼻衄，療腳氣。庸工用之治暑病。</p>
<p><u>蓽澄茄</u>　味辛，氣溫，入足太陰脾、足陽明胃經。溫燥脾胃，消納水穀，能止脹痛，善除嘔吐。</p>
<p>澄茄溫燥之性，甚宜脾胃寒濕，下氣降濁，進食消穀，治霍亂吐泄，反胃噎膈之病。</p>
<p>酒浸，炒用。形似胡椒。</p>
<p><u>使君子</u>　味甘，微溫，入足太陰脾、足厥陰肝經。利水燥土，殺蟲止泄。</p>
<p>使君子燥濕溫中，疏木殺蟲，治小便白濁，大便泄利，痞塊癬瘡。</p>
<p>每月上旬，取仁數枚，空腹食之，蟲皆死。</p>
<p>戒飲熱茶，犯之則泄。</p>
<p><u>威靈仙</u>　味苦，微溫，入足太陰脾、足厥陰肝經。起癱開痹，化癖行痰。</p>
<p><u>威靈仙</u>　瀉濕驅風，行痰逐飲，治手頑足痹，腰痛膝軟，老血夙症，積水停痰。虛家勿用。</p>
<p><u>白附子</u>　味辛、甘，性溫，入足太陰脾、足厥陰肝經。驅風瀉濕，逐痹行痰。</p>
<p>溫燥發瀉，表散風濕，治中風失音，鼻口偏斜，耳聾喉痹，疥癬疝瘕，面上䵟𪒟，陰下濕癢，行痰涎，止唾。</p>
<p>慈菰　味甘，微寒，入足太陰脾、足厥陰肝經。下食消穀，止血磨症，摧產下衣，行血通經。</p>
<p><u>慈菰</u>　甘寒通利，破產後瘀血，開小便澀淋，滑胎下衣。妊婦忌食。</p>
<p><u>牽牛子</u>　味甘，氣寒，入足陽明胃、手陽明大腸、手太陽小腸、足太陽膀胱經。逐痰瀉水，破聚決壅。</p>
<p>牽牛子下停痰積水，宿谷堅瘕，殺蟲瀉蠱，除腫消脹，溺癃便結，風刺雀斑之證皆醫。功力甚猛，虛者勿服。</p>
<p>去皮，研末用。</p>
<p><u>何首烏</u>　味甘，性澀，氣平，入足厥陰肝經。養血榮筋，息風潤燥，斂肝氣之疏泄，遺精最效，舒筋脈之拘攣，偏枯甚良，瘰癧癰腫皆消，崩漏淋漓俱止，消痔至妙，截瘧如神。</p>
<p>何首烏滋益肝血，榮舒筋脈，治中風左半偏枯之病甚佳。輔以燥土暖水之味，佐以疏木導經之品，絕有奇功，而不至助濕敗脾，遠勝地黃、龜膠之類。方書謂其黑髮烏須，悅顏卻老，理頗不虛。蓋陰者，陽之宅也，肝血溫升，生化魂神，血敗則溫氣亡泄，魂神脫矣，未有宮室毀壞而主人無恙者也。何首烏滋肝養血，則魂神暢茂，長生延年，理有必至。但宜加以扶陽之藥，不可參以助陰之品，庸工開補陰之門，龜地之殺人多矣。</p>
<p>米泔換浸一兩天，銅刀切片，黑豆拌勻，砂鍋蒸，曬數次。</p>
<p><u>肉蓯蓉</u>　味甘、咸，氣平，入足厥陰肝、足少陰腎、手陽明大腸經。暖腰膝，健筋骨，滋腎肝精血，潤腸胃結燥。</p>
<p>凡糞粒堅小，形如羊屎，此土濕木鬱，下竅閉塞之故。谷滓在胃，不得順下，零星傳送，斷落不聯，歷陽明大腸之燥，煉成顆粒，秘澀難通。總緣風木枯槁，疏泄不行也，一服地黃、龜膠，反益土濕，中氣愈敗矣。</p>
<p><u>肉蓯蓉</u>　滋木清風，養血潤燥，善滑大腸，而下結糞。其性從容不迫，未至滋濕敗脾，非諸潤藥可比。方書稱其補精益髓，悅色延年，理男子絕陽不興，女子絕陰不產，非溢美之詞。</p>
<p><u>鎖陽</u>　味甘，微溫，入足厥陰肝經。補血滋陰，滑腸潤燥。</p>
<p>鎖陽滋肝養血，潤大腸枯燥，榮筋起痿，最助陽事，性與肉蓯蓉同。</p>
<p><u>丹參</u>　葉甘，氣平，入足厥陰肝經。行經破瘀，通經止痛。</p>
<p>丹參調經安胎，磨堅破滯，一切癰疽痂癩癭瘤疥癬皆良，癥瘕崩漏兼醫。《本草》謂其破宿血，生新血，落死胎，疏通血脈，治腳膝痿痹。走及奔馬，行血之良品也。</p>
<p><u>澤蘭</u>　味苦，微溫，入足厥陰肝經。通經活血，破滯磨堅，胎產俱良，瘕症頗善，止腰腹疼痛，消癰疽熱腫，跌打吐衄能瘳。</p>
<p>澤蘭辛溫香散，行血破瘀，通脈安胎，一切癰疽癥瘕，金瘡撲打，吐衄諸證皆醫。而氣味和平，不傷迅利，行經化結之良品也。</p>
<p><u>益母草</u>　味苦、辛，氣平，入足厥陰肝經。活血行經，破瘀通脈，胎產崩漏、癰疽癥瘕、跌打損傷悉效。</p>
<p>益母草調經行血，治一切血證，破瘀掃腐，下死胎，摧胞衣，並醫各色瘡瘍。女子良藥。</p>
<p><u>劉寄奴</u>　味苦，微溫，入足厥陰肝經。活血行瘀，化症破結。善行瘀血，凡經期產後，湯火跌撲血瘀諸證俱瘳，止便溺失血，金瘡不收口並捷。</p>
<p><u>延胡索</u>　味苦、辛，微溫，入足厥陰肝經。調經破血，化塊消症。專行滯血，治經瘀腹疼，化積聚癥瘕，理跌撲損傷。</p>
<p><u>胭脂</u>　味甘，氣平，入足厥陰肝經。活血行瘀，消腫止疼。</p>
<p>此紅蘭花所作，活血與花同。</p>
<p><u>䕡茹</u>　味辛，微寒，入足厥陰肝經。行老血，破宿症，掃除凝血，消磨瘀肉。</p>
<p>䕡茹有去腐決壅之力，《素問》同烏鰂骨治婦人血枯，王氏以為去惡也。</p>
<p><u>薑黃</u>　味甘，苦，性寒，入足厥陰肝經。破血化症，消腫敗毒。破瘀血宿症，消撲損癰疽，止心腹疼痛，平疥癬初生。</p>
<p><u>地榆</u>　味苦，氣寒，入足厥陰肝經。瀉熱清肝，涼營止血。</p>
<p>地榆苦寒沉降，止吐衄便溺崩漏金瘡諸血。但大凡失血證，內寒者多而熱者少，庸工以治下焦血病，最不通。</p>
<p><u>三七</u>　味甘、微苦，入足厥陰肝經。和營止血，通脈行瘀。</p>
<p>三七行瘀血而斂新血，凡產後經期跌打癰腫一切瘀血皆破，凡吐衄崩漏刀傷箭射一切新血皆止，血病之上藥也。</p>
<p><u>蒲黃</u>　味甘，氣平，入足厥陰肝經。行瘀止血。</p>
<p>蒲黃亦行瘀血而斂新血，經產癰疽，癥瘕、跌撲能破，吐衄崩漏，痔瘡痢疾鮮血能止。調經止帶，安胎下乳，心腹諸證，下衣摧生皆善。</p>
<p><u>續斷</u>　味苦，微溫，入足厥陰肝經。行血破瘀，斂營補損。</p>
<p>續斷行瘀血而斂新血，崩漏癥瘕、癰疽瘰癧、淋漓、痔瘻、跌打、金瘡諸血，能止能行，有回虛補損，接骨續筋之力。</p>
<p><u>大薊</u>　味苦，微溫，入足厥陰肝經。回失紅，行瘀血。</p>
<p>大薊亦行瘀血而斂新血，吐衄崩漏癰疽跌打，及腸癰血積、金瘡蠱毒、蟲毒俱治。</p>
<p>小薊性同，而力猶薄，不能瘳癰消腫，但破血耳。</p>
<p><u>茜草</u>　味苦，微寒，入足厥陰肝經。通經脈瘀塞，止營血流溢。</p>
<p>茜草亦行瘀血，斂新血，吐衄崩漏跌打損傷痔瘻瘡癤俱治。</p>
<p>即染紅茜草根。</p>
<p><u>紫草</u>　味苦，氣寒，入足厥陰肝經。清肝涼血，瀉火伐陽。</p>
<p>紫草疏利，涼血活瘀，寒胃滑腸。痘色紅紫之證，緣營閉衛虛，不能外達，庸工以為血瘀，用紫草治之，百治百死。今古不悟，可惡！</p>
<p><u>三稜</u>　味苦，氣平，入足厥陰肝經。破滯行瘀，消積化塊。</p>
<p>三陵磨積聚癥瘕，善破老血，通經利氣，下乳墮胎，止經產心腹諸痛，消跌撲損傷諸瘀，軟瘡瘍癰腫堅硬。</p>
<p><u>莪朮</u>　味苦、辛，微溫，入足厥陰肝經。破滯攻堅，化結行瘀。</p>
<p>蒁，俗作術。消癖塊，破血症，化腑臟痼冷，散跌撲停瘀，通經開閉，止痛散結。</p>
<p>醋炒用。</p>
<p><u>鉤藤鉤</u>　味甘，微溫，入足厥陰肝經。瀉濕清風，止驚安悸，治木鬱筋惕，驚悸瘛瘲。</p>
<p><u>蒼耳子</u>　味苦，微溫，入足厥陰肝經。散風濕拘攣，瀉濕去風，治肢節攣痛，瘰癧疥癘，風瘙癮疹。</p>
<p>葉主發散風濕。</p>
<p><u>豨薟草</u>　味苦，氣寒，入足厥陰肝經。止麻木，伸拘攣，通利關節，驅逐風濕，瘡瘍壅腫，服塗皆善。</p>
<p>研末，熱酒沖服，治疔瘡腫毒，汗出則愈。不可治中風。</p>
<p><u>羌活</u>　味苦，氣平，入足厥陰肝經。通關逐痹，發表驅風。</p>
<p>羌活瀉濕除風，治中風痿痹喎斜，關節攣痛，皮膚瘙癢，癰疽疥癩諸病。</p>
<p>獨活，性同。</p>
<p><u>天麻</u>　味辛，微溫，入足厥陰肝經。通關透節，瀉濕除風。治中風痿痹癱瘓，腰膝牽強，手足拘攣之證，兼消壅腫。</p>
<p><u>荊芥</u>　味辛，微溫，入足厥陰肝經。散寒發表，泄濕除風。治鼻口喎斜，肢體痿痹，筋節攣痛，目弦頭旋之證，消瘡痍疥癩，痔瘻瘰癧，除吐衄崩漏，脫肛陰㿗。</p>
<p><u>秦艽</u>　味苦，氣平，入足厥陰肝經。發宣經絡，驅除風濕。治中風癱瘓，濕家筋攣骨痛，黃疸之證。</p>
<p><u>甘菊花</u>　味甘，氣平，入足厥陰肝經。清風止眩，明目去翳。</p>
<p>菊花清利頭目，治頭目疼痛眩暈之證。庸工凡治頭目，無不用之，今古相承，不見其效。不知頭目眩暈，由濕盛上逆，濁氣充塞，相火失根，升浮旋轉而成，愚妄以為頭風，而用發散之藥，此千試不靈之方也。</p>
<p><u>青葙子</u>　味苦，微寒，入足厥陰肝經。清肝瀉熱，明目驅風。治眼病赤腫，紅翳青盲。此庸工習用之藥。</p>
<p><u>穀精草</u>　味苦，微溫，入足厥陰肝經。明目清風，去翳消障。</p>
<p>穀精草苦溫發散，庸工治頭痛目翳之證，謂其能愈頭風，愚妄極矣！</p>
<p><u>木賊草</u>　味苦，微溫，入足厥陰肝經。明目退翳，清風止崩。</p>
<p>木賊草磨翳清障，除漏止崩。解肌發汗，與麻黃同性。</p>
<p><u>木鱉子</u>　味苦，微溫，入足厥陰肝經。軟堅化結，消腫破瘀。治惡瘡乳癰，痔瘻癭瘤，瘰癧粉刺，䵟斑癖塊，疝氣之證。</p>
<p>番木鱉，治喉痹。</p>
<p><u>青蒿</u>　味苦，氣寒，入足厥陰肝經。清肝退熱，瀉濕除蒸。治骨蒸熱勞，平疥癩瘙癢，惡瘡久痢，去男子蒜髮，止金瘡血流，醫一切濕熱之證。淋汁合和石灰，消諸瘀肉。</p>
<p><u>青黛</u>　味鹹，氣寒，入足厥陰肝經。清肝瀉熱，涼膽除蒸。敷金瘡壅腫，療惡犬毒蛇諸傷。</p>
<p><u>龍膽草</u>　味苦，大寒，入足厥陰肝、足少陽膽經。清肝退熱，涼膽瀉火。</p>
<p>龍膽草除肝膽鬱熱，治眼腫赤痛，瘀肉高起，療臌疸發黃，膀胱熱澀，除咽喉腫痛諸證。中寒者勿服。</p>
<p><u>大青</u>　味苦，大寒，入足厥陰肝、足少陽膽經。清風退火，瀉熱除蒸。治瘟疫斑疹，黃疸痢疾，喉痹口瘡，搗敷腫毒。</p>
<p>小青，同性。</p>
<p><u>夏枯草</u>　味苦、辛，氣寒，入足厥陰肝、足少陽膽經。涼營瀉熱，散腫消堅。治瘰癧癭瘤撲傷血崩帶下，白點汗斑諸證。</p>
<p>鮮者熬膏佳。</p>
<p><u>山慈菰</u>　味甘、辛，氣平，入足厥陰肝、足少陽膽經。消腫敗毒，軟堅化結。平瘡瘍腫硬，治癰疽瘰癧，療毒結腫，䵟斑粉刺諸證，湧吐風狂痰涎。</p>
<p><u>沙參</u>　味甘、稍苦，微涼，入手太陰肺經。清金除煩，潤燥生津。</p>
<p>沙參涼肅沖淡，補肺中清氣，退頭上鬱火，而無寒中敗土之弊。但情性輕緩，宜多用乃效。</p>
<p>山東、遼東者佳，堅脆潔白，迥異他產，一切瘡瘍疥癬，腫痛瘙癢皆效。</p>
<p><u>元參</u>　味甘、微苦，入手太陰肺、足少陰腎經。清肺金，生腎水，滌心胸之煩熱，涼頭目之鬱蒸。瘰癧斑疹、鼻瘡喉痹皆醫。</p>
<p>元參清金補水，凡瘡瘍熱痛，胸膈燥渴，溲便紅澀，膀胱癮閉之證俱善。清肺與陳皮、杏仁同服。利水合茯苓、澤　瀉同服。輕清飄灑，不寒中氣，最佳之品。</p>
<p><u>茅根</u>　味甘，微寒，入手太陰肺、足太陽膀胱經。清金止血，利水通淋。</p>
<p>白茅根清金利水，斂血通經，治喘噦煩渴，吐衄崩漏，經閉溺澀，水腫黃疸。</p>
<p>初生茅針，止衄血便血，收金瘡流血，消腫敗毒，下水潰癰，酒煎服，一針潰一孔，二針潰二孔。</p>
<p>花止吐血，治金瘡流血。</p>
<p><u>蘆根</u>　味甘，性寒，入手太陰肺、足陽明胃經。降逆止嘔，清熱除煩。</p>
<p>蘆根清降肺胃，消蕩郁煩，生津止渴，除嘔下食，治噎噦懊憹之證。</p>
<p>蘆筍清肺止渴，利水通淋，解魚肉藥箭諸毒。</p>
<p>蘆葉清肺止嘔，治背疽肺癰。灰汁煎膏，蝕瘀肉，去黑痣。</p>
<p>籜治金瘡瘢痕。</p>
<p><u>前胡</u>　味苦，微寒，入手太陰肺經。清肺化痰，降逆止嗽。</p>
<p>前胡清金瀉火，治氣滯痰阻，咳逆喘促之證。</p>
<p><u>百部</u>　味苦，微寒，入手太陰肺經。清肺止嗽，利水殺蟲。</p>
<p>百部清金潤肺，寧嗽降逆，殺白蟯蛔蟲，一切樹木蛀蟲，療疥癬瘙癢，消水氣黃腫，洗衣去蝨。</p>
<p><u>白鮮皮</u>　味苦，性寒，入手太陰肺、足太陽膀胱經。清金止咳，利水清疸。</p>
<p>白鮮皮清金利水，治咳嗽上氣，黃疸溺癃，疥癬鼠瘻。</p>
<p><u>牛蒡子</u>　味苦，氣平，入手太陰肺經。清風瀉濕，消腫敗毒。</p>
<p>牛蒡子發散風濕，清利咽喉，表癮疹鬱蒸，瀉氣鼓水脹，歷節腫痛之證。庸工習用小兒疹病。</p>
<p><u>山豆根</u>　味苦，氣寒，入手太陰肺經。清利咽喉腫痛，一切瘡瘍疥癬，殺寸白諸蟲。</p>
<p><u>金銀花</u>　味辛，微涼，入手太陰肺、足厥陰肝經。涼肝清肺，消腫敗毒。</p>
<p>金銀花清散風濕，消除腫毒，治一切瘡瘍楊梅疥癬痔瘻痢疾之類，敷飲俱妙。功次木芙蓉。</p>
<p><u>馬兜鈴</u>　味苦，氣寒，入手太陰肺經。清肺降逆，定喘止嗽。</p>
<p>馬兜苓苦寒瀉火，清肺下衝，治咳逆痰喘，痔瘻腫痛，能解蛇蟲之毒。多用則吐。</p>
<p><u>紫蘇</u>　味辛，微溫，入手太陰肺經。溫肺降逆，止喘定嗽。</p>
<p>紫蘇辛溫下氣，治咳逆痰喘，嘔吐飲食，利膈通腸，破結消症，兼驅腰膝濕氣，解蟹毒。</p>
<p><u>白及</u>　味苦，氣平，入手太陰肺經。斂肺止血，消腫散瘀。</p>
<p>白及黏澀，收斂肺氣，止吐衄失血，治癰疽瘰癧痔瘻疥癬皯皰之病，跌打湯火金瘡之類俱善。</p>
<p><u>南星</u>　味辛，性溫，入手太陰肺、足陽明胃經。降氣行瘀，化積消腫。</p>
<p>南星辛烈開通，治胃逆肺阻，胸膈壅滿，痰涎膠塞，頭目眩暈，磨積聚癥瘕，消癰疽腫痛，療麻痹拘攣，止吐血便紅，及疥癬疣贅，喉痹口瘡，金瘡打損，破傷中風之類。功同半夏，而猛烈過之。</p>
<p>水浸二三日，去其白涎，用牛膽丸套者，治痰鬱肺熱甚佳。</p>
<p><u>常山</u>　味苦，性寒，入手太陰肺、足陽明胃經。吐痰瀉水，消脹除癭。</p>
<p>常山苦寒迅利，排決痰飲，能吐能下。庸工以治痰瘧，有無痰不瘧之說，陋矣。</p>
<p>常山即蜀漆根，生用多服，則作嘔吐。</p>
<p>\蓖麻子　味苦，氣平，入手太陰肺、足太陽膀胱經。下胎衣，收子腸，拔腫毒，瀉水症。</p>
<p>蓖麻子性善收引，敷足則下胎衣，塗頂則收子腸，貼鼻口喎斜，熏咽喉腫痹。熬膏貼膚，拔毒追膿，紙捻入鼻，開癃通閉。又性善走瀉，能利大小二腸，下飲澼水症，兼消腫硬，平瘰癧惡瘡。</p>
<p><u>石斛</u>　味甘，氣平，入手太陰肺、足少陰腎經。降沖瀉濕，壯骨強筋。</p>
<p>石斛下氣通關，瀉濕逐痹，溫腎壯陽，暖腰健膝，治發熱自汗，排癰疽膿血，療陰囊濕癢，通小便淋漓。</p>
<p><u>浮萍</u>　味辛，微寒，入手太陰肺經。發表出汗，瀉濕清風。</p>
<p>浮萍辛涼發表，治瘟疫斑疹，療肌肉麻痹，中風喎斜癱瘓，醫癰疽熱腫，癮疹瘙癢，楊梅粉刺，汗斑皆良，利小便閉癃，消肌膚腫脹，止吐衄，長鬚發。</p>
<p><u>薄荷</u>　味辛，氣涼，入手太陰肺經。發表退熱，善瀉皮毛。治傷風頭痛，瘰癧疥癬，癮疹瘙癢，滴鼻止衄，塗敷消瘡。</p>
<p><u>藁本</u>　味辛，微溫，入手太陰肺、足太陽膀胱經。行經發表，瀉濕驅風。</p>
<p>藁本辛溫香燥，發散皮毛風濕，治頭皰面皯，酒齇粉刺，疥癬之疾。</p>
<p><u>白芷</u>　味辛，微溫，入手太陰肺、手陽明大腸經。發散皮毛，驅逐風濕。</p>
<p>白芷辛溫香燥，行經發表，散風瀉濕，治頭痛鼻淵，乳癰背疽，瘰癧痔瘻，瘡痍疥癬，風痹瘙癢，皯皰疵瘢之證。兼能止血行瘀，療崩漏便溺諸血，並醫帶淋之疾。刀傷蛇咬皆善，敷腫毒亦善。</p>
<p><u>貫仲</u>　味苦，微寒，入手太陰肺、足厥陰肝經。止血行瘀，破積殺蟲。</p>
<p>貫仲收斂營血，消化瘀蒸，治吐衄崩帶，積聚痃癖，殺寸白諸蟲。</p>
<p><u>馬蘭</u>　味辛，氣平，入手太陰肺、足厥陰肝經。止血破瘀，消疽除瘧。</p>
<p>馬蘭調營養血，破舊生新，治吐衄瘧痢，消酒疸水腫，腹痛腸痧，喉痹口緊，療金瘡折損，解蠱毒蛇傷，菌毒痔瘡。</p>
<p><u>土茯苓</u>　味甘，氣平，入足少陰腎經。利水瀉濕，燥土健中，壯筋骨而伸拘攣，利關節而消壅腫，最養脾胃，甚止泄利。</p>
<p>土茯苓燥土瀉濕，壯骨強筋，止泄斂腸，極有殊效。善治癰疽瘰癧，楊梅惡瘡。</p>
<p><u>燈心草</u>　味淡，氣平，入足少陰腎經。利水通淋，瀉濕開癃。</p>
<p>燈心草利水滲濕，通小便淋澀。燒灰吹喉，散止鼻衄，並治破傷血流之證。</p>
<p><u>木通</u>　味辛，氣平，入足太陽膀胱經。通經利水，滲濕清熱。</p>
<p>木通孔竅玲瓏，通利竅隧，利水開癃，滲瀉膀胱濕熱。庸工利水方中，率多用之，而絕不得效。本草諸家，未參驗耳。</p>
<p><u>萹蓄</u>　味苦，氣平，入足太陽膀胱經。清利膀胱，滲瀉濕熱。</p>
<p>萹蓄利水瀉濕，治黃疸淋澀，消女子陰蝕，殺小兒蛔蟲，療浸淫疥癘，疽痔痛癢之證。</p>
<p><u>海帶</u>　味鹹，性寒，入足太陽膀胱經。行痰瀉火，消癭化瘤。</p>
<p>海帶鹹寒疏利，清熱軟堅，化痰利水，治鼓脹癭瘤。與昆布、海藻同功。</p>
<p><u>昆布</u>　味鹹，性寒，入足太陽膀胱經。瀉水去濕，破積軟堅。</p>
<p>昆布鹹寒清利，治氣鼓水脹，癭瘤瘰癧，㿉疝惡瘡。與海帶、海藻同功。</p>
<p><u>地膚子</u>　味苦，微寒，入足太陽膀胱經。利水瀉濕，清熱止淋。</p>
<p>地膚子清利膀胱濕熱，治小便淋澀，療頭目腫痛，狐疝陰㿗，腰疼脅痛，血痢惡瘡，陽痿諸證。</p>
<p>苗、葉利水亦捷。</p>
<p><u>萆薢</u>　味苦，氣平，入足太陽膀胱經。瀉水去濕，壯骨舒筋。</p>
<p>萆薢疏瀉水道，驅經絡關節之濕，治手足痿痹癱瘓，小便白濁頻數諸證，並醫惡瘡痔瘻。</p>
<p><u>牛膝</u>　味苦、酸，氣平，入足太陽膀胱、足厥陰肝經。利水開淋，破血通經。</p>
<p>牛膝疏利水道，治小便淋澀疼痛，療膝脛痿痹拘攣，通女子經脈閉結，起男子宗筋軟縮，破堅症老血，消毒腫惡瘡，木器刺傷。搗敷金瘡，潰癰排膿。墮胎下衣，喉痹舌瘡，撲傷打損，癮疹風癩皆效。</p>
<p>其性下行，肝脾郁陷者勿用。</p>
<p><u>旱蓮草</u>　味甘、酸，入足少陰腎、足厥陰肝經。益肝腎，烏鬚髮。</p>
<p>旱蓮草汁黑如墨，得少陰水色，入肝滋血，黑髮烏須，止一切失血，敷各種瘡毒。汁塗眉發，其生速繁。</p>
<p><u>天雄</u>　味辛，性溫，入足少陰腎、足厥陰肝經。驅寒瀉濕，秘精壯陽。溫腎榮筋，治陽痿精滑，膝攣腰痛，心腹疼痛，胸膈痰水，續筋接骨，化癖消症，排癰疽膿血，起風痹癱瘓，治霍亂轉筋。</p>
<p>天雄即附子長大者，製法與附子同，煨，去皮臍，切片，隔紙焙乾。稍生服之，則麻木昏暈。</p>
<p><u>仙茅</u>　味辛，氣溫，入足少陰腎、足厥陰肝經。壯骨強筋，暖腰溫膝。</p>
<p>仙茅暖水榮木，復脈清風，滋筋力，益房幃，治玉麈痿軟，皮膚風癩。</p>
<p>去毛，糯米浸汁，去赤汗。</p>
<p><u>仙靈脾</u>　味辛、苦，微溫，入足少陰腎、足厥陰肝經。榮筋強骨，起痿壯陽。</p>
<p>仙靈脾滋益精血，溫補肝腎，治陽痿不舉，陰絕不生，消瘰癧，起癱瘓，清風明目，益志寧神。</p>
<p>赤名淫羊藿。</p>
<p>羊脂拌炒。</p>
<p><u>巴戟天</u>　味辛、甘，微溫，入足少陰腎、足厥陰肝經。強筋健骨，秘精壯陽。</p>
<p>巴戟天溫補精血，滋益宗筋，治陽痿精滑，鬼交夢遺，驅逐脈風，消除痂癩。</p>
<p>去梗，酒浸，蒸曬。</p>
<p><u>蒺藜</u>　味苦，微溫，入足少陰腎、足厥陰肝經。瀉濕驅風，斂精縮溺。</p>
<p>蒺藜子疏木驅風，治肝氣輸泄，精滑溺數，血淋白帶。白者良，與沙苑同性。</p>
<p><u>兔絲子</u>　味酸，氣平，入足少陰腎、足厥陰肝經。斂精利水，暖膝溫腰。</p>
<p>兔絲子酸澀斂固，治遺精淋漓，膝冷腰痛。但不宜於脾胃，久服中宮壅塞，飲食不化，不可用以誤人。</p>
<p><u>覆盆子</u>　味甘，氣平，入足少陰腎、足厥陰肝經。強陰起痿，縮溺斂精。</p>
<p>覆盆子補肝腎精血，壯陽宜子，黑髮潤顏，治小便短數。</p>
<p><u>狗脊</u>　味苦，氣平，入足少陰腎、足厥陰肝經。瀉濕驅寒，起痿止痛。</p>
<p>狗脊瀉腎肝濕氣，通關利竅，強筋壯骨，治腰痛膝疼，足腫腿弱，遺精帶濁。</p>
<p>去毛，酒蒸。</p>
<p><u>猴姜</u>　味苦，微溫，入足少陰腎、足厥陰肝經。接骨斷，止牙痛。</p>
<p>猴姜瀉濕通經，治關節疼痛，手足不仁，耳鳴牙疼，筋斷骨折，兼療腎泄。</p>
<p>亦名骨碎補。</p>
<p><u>遠志</u>　味辛，微溫，入手少陰心、足少陰腎經。開心利竅，益智安神。</p>
<p>遠志辛散開通，治心竅昏塞，胸膈痹痛，補腎壯陽，斂精止泄，療骨疽乳癰，一切瘡瘍腫毒。</p>
<p><u>菖蒲</u>　味辛，氣平，入手少陰心經。開心益智，下氣行郁。</p>
<p>菖蒲辛烈疏通，開隧竅瘀阻，除神志迷塞，消心下伏梁，逐經絡濕痹，治耳目瞶聾，療心腹疼痛，止崩漏帶下，胎動半產，散癰疽腫痛，疥癬痔瘻。</p>
<p>生石中者佳。四川道地，萊陽出者亦可用。</p>
<p><u>地丁</u>　味苦、辛，微寒，入手少陰心、足少陽膽經。消腫毒，療瘡疥。</p>
<p>地丁行經瀉火，散腫消毒，治癰疽瘰癧，疔毒惡瘡。敷食皆佳。</p>
<p>紫花地丁，更勝白花者，亦名蒲公英。蒲公英黃花，非白花。</p>
<p><u>漏蘆</u>　味鹹，微寒，入足少陰腎、足厥陰肝經。利水秘精，涼血敗毒。</p>
<p>漏蘆鹹寒，利水瀉濕，清肝退熱，治失溺遺精，淋血便紅，眼痛目赤，背疽乳癰，痔瘻瘰癧，白禿金瘡，歷節帶下，泄利。治一切蟲傷跌打，惡瘡毒腫，排膿止血，服浴皆善。下乳汁最捷。</p>
<p><u>海金沙</u>　味甘，性寒，入足太陽膀胱經。利水瀉濕，開癃止淋。</p>
<p>海金沙清瀉膀胱濕熱，治膏血砂石諸淋，消鼓脹腫滿。</p>
<p>沙乃草上細粉，如蒲黃然。</p>
<p>\千金子　味辛，微澀，入足陽明胃、手陽明大腸、手太陽小腸、足太陽膀胱經。瀉水下痰，決瘀掃腐。</p>
<p>千金子下停痰積水，一掃而空，功力迅速，遠勝他藥，亦不甚傷中氣，凡食積血塊，老癖堅症，經閉胞轉，氣鼓水脹。皆有捷效。兼瀉蠱毒，療蛇咬，點黑痣贅疣，愈疥癬䵟𪒟。</p>
<p>去殼服。白仁紙包，壓去油淨，取霜，每服十餘粒。</p>
<p>亦名續隨子。</p>

<h1>卷二</h1>

<h2>木部</h2>
<p><u>降香</u>　味苦，微溫，入足太陰脾、手少陰心經。療梃刃傷損，治癰疽腫痛。</p>
<p>降香芳烈辛溫，燒之闢疫癘之邪，癰疽之病與夫跌打金瘡，皮破血漏，筋斷骨傷皆療。</p>
<p><u>丁香</u>　味辛，氣溫，入足太陰脾、足陽明胃經。溫燥脾胃，驅逐脹滿，治心腹疼痛，除腰腿濕寒，最止嘔噦，善回滑溏，殺蟲解蠱，化塊磨堅，起丈夫陽弱，愈女子陰冷。</p>
<p>丁香辛烈溫燥，驅寒瀉濕，暖中扶土，降逆升陷，善治反胃腸滑，寒結腹痛之證。</p>
<p>用母丁香。雄者為雞舌香。</p>
<p><u>木香</u>　味辛，微溫，入足太陰脾、足陽明胃經。止嘔吐泄利，平積聚癥瘕，安胎保妊，消脹止痛。</p>
<p>木香辛燥之性，破滯攻堅，是其所長。庸工以治肝家之病，則不通矣，肝以風木之氣，凡病皆燥，最不宜者。</p>
<p>麵煨實大腸，生磨消腫病。</p>
<p><u>白檀香</u>　味辛，微溫，入足陽明胃、足太陰脾、手太陰肺經。治心腹疼痛，消瘕疝凝結。</p>
<p>白檀香辛溫疏利，破郁消滿，亦治吐脹嘔泄之證，磨塗面上黑痣。</p>
<p>紫檀香破瘀消腫，止金瘡血漏，煎飲磨塗最良。</p>
<p><u>烏藥</u>　味辛，氣溫，入足陽明胃、足太陰脾、手太陰肺經。破瘀瀉滿，止痛消脹。</p>
<p>烏藥辛散走瀉，治痛滿吐利，脹腫喘息，寒疝衝突，腳氣升逆之證。但不宜虛家，庸工以之治虛滿之病，非良法也。</p>
<p><u>檳榔</u>　味苦、辛，性澀，氣溫，入足太陰脾、足陽明胃經。降濁下氣，破郁消滿，化水穀之陳宿，行痰飲之停留，治心腹痛楚，療山水瘴癘。</p>
<p>檳榔辛溫，下氣破滯，磨堅行瘀，敗陳宿之氣，亦有用之良材。若氣虛作滿，則損正益邪，不能奏效矣。</p>
<p><u>大腹子</u>　味辛、苦，性澀，氣溫，入足大陰脾、足陽明胃經。下氣寬胸，行郁散濁。</p>
<p>大腹子即檳榔之別產而太腹者，性既相同，效亦不殊。</p>
<p>大腹皮專治皮膚腫脹，亦甚不宜虛家。腫脹有根本，皮膚是腫脹之處所，非腫脹之根本也。庸工不知根本，但於皮膚求之，非徒無益，而又害之。</p>
<p><u>阿魏</u>　味辛，氣臭，入足太陰脾、足厥陰肝經。闢瘟御瘴，破積消症。</p>
<p>阿魏辛烈臭惡，化血積血症，固瘕㿗疝，殺小蟲，消瘧母，闢瘟疫瘴癘之災，解蘑菰牛馬之毒。</p>
<p>阿魏生西番崑崙地，是木汁堅凝成冰，松脂漬膠，臭惡異常。炒研入碗，磁面崩損，成片而下，其克伐剝蝕之力，無堅不破，化癖磨症，此為第一，但可入膏藥敷貼，不宜湯丸服餌也。</p>
<p>炒焦，研細。</p>
<p><u>蘇木</u>　味辛、咸，氣平，入足厥陰肝經。調經行血，破瘀止痛。</p>
<p>蘇木善行瘀血，凡胎產癥瘕，瘡瘍跌撲，一切瘀血皆效。</p>
<p><u>血竭</u>　味鹹，氣平，入足厥陰肝經。破瘀行血，止痛續傷。</p>
<p>血竭破瘀血，癥瘕積塊，跌撲停瘀皆良，亦止鼻衄便血，並治惡瘡疥癬。</p>
<p><u>乳香</u>　味辛，微溫，入足厥陰肝經。活血舒筋，消腫止痛。</p>
<p>乳香活血行瘀，治心腹疼痛，消癰疽結腫，散風癩瘙癢，平跌打潰爛，止口眼喎斜，舒筋脈攣縮。</p>
<p>炒乾，研用。</p>
<p><u>沒藥</u>　味苦，氣平，入足厥陰肝經。破血止痛，消腫生肌。</p>
<p>沒藥破血行瘀，化老血宿症，治癰疽痔漏，金瘡杖瘡，跌撲損傷，一切血瘀腫痛，療經期產後，心腹疼痛諸證。</p>
<p>制同乳香。</p>
<p><u>棕櫚毛</u>　味苦，性澀，氣平，入足厥陰肝經。收斂失血，固澀腸滑。</p>
<p>棕櫚毛收澀之性，最能止血，凡九竅流溢及金瘡跌打諸血皆止。</p>
<p>折斷，燒灰存性用。</p>
<p><u>蕪荑</u>　味辛，氣平，入足厥陰肝經。殺蟲破積，止痢消瘡。</p>
<p>蕪荑殺臟腑諸蟲，磨氣積血症，治痔瘻疥癬，一切諸瘡，止寒冷痢。</p>
<p><u>蘆薈</u>　味苦，性寒，入足厥陰肝經。殺蟲消痔，退熱除疳。</p>
<p>蘆薈清熱殺蟲，治痔瘻疥癬。</p>
<p>亦名象膽。</p>
<p><u>肉桂</u>　味甘、辛，氣香，性溫，入足厥陰肝經。溫肝暖血，破瘀消症，逐腰腿濕寒，驅腹脅疼痛。</p>
<p>肝屬木而藏血，血秉木氣，其性溫暖。溫氣上升，陽和舒布，積而成熱，則化心火。木之溫者，陽之半升，火之熱者，陽之全浮也。人知氣之為陽，而不知其實含陰精，知血之為陰，而不知其實抱陽氣。</p>
<p>血中之溫，化火為熱之原也，溫氣充足，則陽旺而人康，溫氣衰弱，則陰盛而人病。陽復則生，陰勝則死，生之與死，美惡不同，陽之與陰，貴賤自殊。蠢飛蠕動，尚知死生之美惡，下士庸工，不解陰陽之貴賤，千古禍源，積成於貴陰賤陽之家矣。</p>
<p>欲求長生，必扶陽氣，扶陽之法，當於氣血之中。培其根本。陽根微弱，方胎水木之中，止有不足，萬無有餘，世無溫氣太旺而生病者。其肝家痛熱，緣生意不足，溫氣抑鬱，而生風燥，非陽旺而陰虛也。</p>
<p>肉桂溫暖條暢，大補血中溫氣，香甘入土，辛甘入木，辛香之氣，善行滯結，是以最解肝脾之郁。</p>
<p>金之味辛，木之味酸，辛酸者，金木之郁，肺肝之病也。蓋金之性收，木之性散，金曰從革，從則收而革不收，於是作辛，木曰曲直，直則散而曲不散，於是作酸。辛則肺病，酸則肝病，以其鬱也，故肺宜酸收而肝宜辛散。肺得酸收，則革者從降而辛味收，肝得辛散，則曲者直升而酸味散矣，事有相反而相成者，此類是也。肝脾發舒，溫氣升達，而化陽神，陽神司令，陰邪無權，卻病延年之道，不外乎此。</p>
<p>凡經絡堙瘀，臟腑癥結，關節閉塞，心腹疼痛等證，無非溫氣微弱，血分寒冱之故。以至上下脫泄，九竅不守，紫黑成塊，腐敗不鮮者，皆其證也。女子月期產後，種種諸病，總不出此。悉宜肉桂，余藥不能。</p>
<p>肉桂本系樹皮，亦主走表。但重厚內行，所走者表中之裡。究其力量所至，直達臟腑，與桂枝專走經絡者不同。</p>
<p><u>杜仲</u>　味辛，氣平，入足厥陰肝經。榮筋壯骨，健膝強腰。</p>
<p>杜仲去關節濕淫，治腰膝痠痛，腿足拘攣，益肝腎，養筋骨。</p>
<p><u>五加皮</u>　味辛，微溫，入足厥陰肝經。逐濕開痹，起痿伸攣。</p>
<p>五加皮通關瀉濕，壯骨強筋，治腰痛膝軟，足痿筋拘，男子陽痿囊濕，女子陰癢陰蝕，下部諸證。</p>
<p><u>蔓荊子</u>　味苦，微溫，入足厥陰肝經。瀉風濕，清頭目。</p>
<p>蔓荊子發散風濕，治麻痹拘攣，眼腫頭痛之證。</p>
<p>頭目疼痛，乃膽胃逆升，濁氣上壅所致，庸醫以為頭風，而用蔓荊子發散之藥，不通極矣！諸家本草，皆出下士之手，此等妄言，不勝其數。</p>
<p><u>密蒙花</u>　味甘，微寒，入足厥陰肝經。清肺潤燥，明目去翳。</p>
<p>密蒙花清肝明目，治紅腫翳障，庸工習用，不效也。治病不求其本，不解眼病根源，浪用一切清涼發散之藥，百治不得一效，此庸工之所以庸也。</p>
<p><u>大風子</u>　味苦，微熱，入足厥陰肝經。搽疥癘，塗楊梅。</p>
<p>大風子辛熱發散，治風癬疥癘楊梅之證。取油塗抹。</p>
<p>研爛，器收，湯煮，密封，煎黑如膏，名大楓子油。</p>
<p><u>槐實</u>　味苦，性寒，入足厥陰肝經。涼血清風，潤腸消痔。</p>
<p>槐實苦寒，清肝家風熱，治痔瘻腫痛，陰瘡濕癢，明目止淚，清心除煩，墜胎催生，烏須黑髮，口齒熱痛，頭目暈眩，寒瀉大腸，潤燥開結。</p>
<p><u>楝子</u>　味苦，性寒，入足厥陰肝經。瀉火除狂，利水止痛。</p>
<p>苦楝子清肝瀉熱，利水殺蟲，治瘟疫傷寒，煩躁狂亂，止腹痛溺癃，癩病痔瘻，大便下血。</p>
<p>亦名金鈴子。</p>
<p><u>竹瀝</u>　味甘，性寒，入手太陰肺經。清肺行痰。</p>
<p>竹瀝甘寒疏利，清胸膈煩渴，開痰涎膠黏，治中風心肺鬱熱，孔竅迷塞之證。</p>
<p>鮮竹去節，火烘瀝下，磁器接之。其性雖寒，不至滑瀉腸胃，清上之藥，最為佳品。</p>
<p><u>荊瀝</u>　味甘，氣平，入手太陰肺經。化痰瀉熱，止渴清風。</p>
<p>荊瀝化痰驅風，治頭目暈眩，中風不語之病。功與竹瀝相同，熱宜竹瀝，寒宜荊瀝。</p>
<p><u>榆白皮</u>　味甘，氣平，入手太陰肺、足太陽膀胱經。止喘降逆，利水消腫。</p>
<p>榆白皮清金利水，治齁喘咳嗽，淋漓消渴，滑胎摧生，行血消腫，癰疽發背，瘰癧禿瘡。</p>
<p><u>木芙蓉</u>　味辛，氣平，入手太陰肺、足厥陰肝經。清風瀉熱，涼血消腫。</p>
<p>木芙蓉清利消散，善敗腫毒，一切瘡瘍，大有捷效。塗飲俱善。</p>
<p><u>金櫻子</u>　味成，性澀，入手陽明大腸、足厥陰肝經。斂腸止泄，固精斷遺。</p>
<p>金櫻子酸斂澀固，治泄利遺精。肝氣鬱結者不宜，酸斂之品，服之則遺精愈甚，當與升達之藥並用。</p>
<p><u>辛夷</u>　味辛，微溫，入手太陰肺、足陽明胃經。瀉肺降逆，利氣破壅。</p>
<p>辛夷降瀉肺胃，治頭痛、口齒疼、鼻塞，收涕去鼾，散寒止癢，塗面潤膚，吹鼻療瘡。</p>
<p>亦名木筆花。</p>
<p>\蘇合香　味辛，性溫，入手太陰肺、足厥陰肝經。闢鬼驅邪，利水消腫。</p>
<p>蘇合香走散開通，能殺蟲辟惡除邪，治腫脹疹疿，氣積血症，調和臟腑，卻一切不正之氣。</p>
<p><u>安息香</u>　味辛、苦，氣溫，入手太陰肺、足厥陰肝經。除邪殺鬼，固精壯陽。</p>
<p>安息香溫燥竄走，治鬼支邪附，陽痿精遺，歷節疼痛，及心腹疼痛之病。熏服皆效。燒之神降鬼逃。</p>
<p><u>韶腦</u>　味辛，性熱，入手太陰肺、足厥陰肝經。通經開滯，去濕殺蟲。</p>
<p>韶腦辛烈之性，通關透節，去濕，逐風寒，治心疼腹痛，腳氣牙蟲，疥癬禿瘡。箱籠席簟，殺蠹闢蝨。</p>
<p><u>冰片</u>　味辛，性涼，入手太陰肺、足厥陰肝經。去翳明目，開痹通喉。</p>
<p>冰片辛涼開散，治赤目白翳，喉痹牙疼，鼻瘜，舌出腸脫，殺蟲消痔，開竅散火。</p>
<p><u>蕤仁</u>　味甘，微溫，入手太陰肺、足厥陰肝經。明目止疼，退赤收淚。</p>
<p>蕤仁理肺疏肝，治眼病赤腫，目爛淚流，鼻癰衄血，痞痰阻隔。生胎多睡，熟治不眠。</p>
<p>\琥珀　味辛、甘，氣平，入手太陰肺、足厥陰肝經。明目去翳，安魂定魄。</p>
<p>琥珀涼肺清肝，磨障翳止驚悸，除遺精白濁，下死胎胞衣，塗面益色，敷疔拔毒，止渴除煩，滑胎摧生。</p>
<p>乳浸三日，煮軟，搗碎。</p>
<p><u>淡竹葉</u>　味甘，微寒，入足太陽膀胱經。利水去濕，瀉熱除煩。</p>
<p>淡竹葉甘寒滲利，疏通小便，清瀉膀胱濕熱。</p>
<p><u>沒石子</u>　味苦，微溫，入足少陰腎、足厥陰肝經。補精血，烏鬚髮。</p>
<p>沒石子性氣溫澀，治虛冷滑泄，赤白痢疾。合藥染須。燒灰撲汗，治陰汗。</p>
<p>亦名無餘子。</p>
<p>焙，研屑用。</p>
<p><u>桑椹</u>　味甘，氣平，入足太陽膀胱、足厥陰肝經。止渴生津，消腫利水。</p>
<p>桑湛滋木利水，清風潤燥，治消渴癃淋，瘰癧禿瘡，烏須黑髮。</p>
<p>桑葉治腳氣水腫，撲損金瘡，行瘀止渴，長髮明目。</p>
<p>桑枝治腳氣中風，喎斜拘攣，咳嗽上氣，紫白瘢風，消癰疽，利小便。</p>
<p>桑皮汁滅黑痣惡肉，敷金瘡，化積塊。亦名木磠。</p>
<p>桑花澀腸止嗽，治吐衄崩帶。</p>
<p><u>女貞子</u>　味苦，氣平，入足少陰腎、足厥陰肝經。強筋健骨，秘精壯陽，補益精血，長養精神。</p>
<p>女貞子隆冬蒼翠，非其溫暖之性，不能如是。</p>
<p><u>楮實子</u>　味甘，氣平，入足少陰腎、足太陽膀胱、足厥陰肝經。起痿助陽，利水消腫。</p>
<p>楮實子溫暖肝腎，補益虛勞，壯筋骨，強腰膝，治陽事痿弱，水氣脹滿，明目去翳，充膚悅顏，療喉痹金瘡，俱效。</p>
<p><u>枸札杞子</u>　味苦、微甘，性寒，入足少陰腎、足厥陰肝經。補陰壯水，滋木清風。</p>
<p>枸杞子苦寒之性，滋潤腎肝，寒瀉脾胃，土燥便堅者宜之。水寒土濕，腸滑便利者，服之必生溏泄。《本草》謂其助陽，甚不然也。</p>
<p>根名地骨皮，清肝瀉熱，涼骨除蒸，止吐血齒衄，金瘡血漏，止熱消渴。</p>
<p><u>桑寄生</u>　味苦，氣平，入足少陰腎、足厥陰肝經。壯骨榮筋，止血通乳。</p>
<p>桑寄生通達經絡，驅逐濕痹，治腰痛背強，筋痿骨弱，血崩乳閉胎動，腹痛痢疾，金瘡癰疽，堅發齒，長眉須。</p>
<p><u>雷丸</u>　味苦，性寒，入手少陰心、足厥陰肝經。殺蟲解蠱，止汗除癲。</p>
<p>雷丸清熱疏肝，殺寸白小蟲，驅風除癇，止小兒汗。久服令人陰痿。</p>
<p>甘草水浸，去皮，切，炮為末，撲身止汗。</p>
<p><u>天竺黃</u>　味甘，性寒，入手少陰心、足少陽膽經。瀉熱寧神，止驚除痰。</p>
<p>天竺黃清君相火邪，治驚悸癲癇，中風痰迷，失音不語，明目安心，清熱解毒。</p>
<p><u>柏子仁</u>　味甘、辛，氣平，入足太陰脾、手陽明大腸、手少陰心、足厥陰肝經。潤燥除濕，斂氣寧神。</p>
<p>柏子仁辛香甘澀，秉燥金斂肅之氣，而體質則極滋潤，能收攝神魂，寧安驚悸，滑腸開秘，榮肝起痿，明目聰耳，健膝強腰，澤潤舒筋，斂血止汗。燥可瀉濕，潤亦清風，至善之品。</p>
<p>蒸，曬，舂，簸，取仁，炒，研。燒瀝取油，光澤鬚髮。塗抹癬疥，搽黃水瘡濕，最效。</p>
<p><u>松子仁</u>　味甘、辛，氣平，入手太陰肺、手陽明大腸、手少陰心、足厥陰肝經。潤燥清風，除濕開痹。</p>
<p>松子仁與柏子仁相同，收澀不及而滋潤過之，潤肺止咳，滑腸通秘，開關逐痹，澤膚榮毛，亦佳善之品。研揩鬚髮，最生光澤。</p>
<p>松子大如豆粒，光頭三角，出雲南、遼東，中原無此。</p>
<p>松香治癰疽疥疿，禿瘡血瘻，止痛生肌，排膿收口，止崩除帶，強筋固齒，歷節疼痛，陰囊濕癢。</p>
<p>松節治腰腿濕痹，筋骨疼痛。</p>
<p>松花止血。</p>

<h1>卷三</h1>

<h2>金石部</h2>
<p><u>鍾乳</u>　味甘，性溫，入足太陰脾、手太陰肺、足少陰腎、足厥陰肝經。寧嗽止喘，斂血秘精。</p>
<p>石鐘乳燥濕悍疾，治脾腎濕寒，遺精吐血，腸滑乳閉，虛喘勞嗽，陽痿聲啞，其功甚速。寒消濕去，食進氣充。恃此縱欲傷精，陽根升泄，往往發為消淋癰疽之證。固緣金石剽悍，亦因服者恃藥力而雕斫也。</p>
<p><u>硫黃</u>　味酸，性溫，入足太陰脾、足少陰腎、足厥陰肝經。驅寒燥濕，補火壯陽。</p>
<p>石硫黃溫燥水土，驅逐濕寒，治虛勞咳嗽，嘔吐泄利，衄血便紅，冷氣寒瘕，腰軟膝痛，陽痿精滑，癰疽痔瘻，疥癬癩禿，敷女子陰癢，洗玉門寬冷，塗齇疣耵耳，消胬肉頑瘡。</p>
<p>入蘿蔔內，稻糠火煨熟，去其臭氣，研細用。</p>
<p>硝石能化硫為水，以竹筒盛，埋馬糞中，一月成水，名硫黃液。</p>
<p><u>硇砂</u>　味辛，性溫，入足太陰脾、手太陰肺經。攻堅破結，化痞磨症。</p>
<p>硇砂辛烈消克，治氣塊血症、老翳胬肉，停食宿膾，疣痣贅瘤之屬。《本草》謂其暖胃益陽，消食止嗽，備載服食之法。如此毒物，能使金石銷燬，何可入腹？但宜入膏散外用耳。</p>
<p>西番者佳。</p>
<p><u>金屑</u>　味辛，性寒，入足陽明胃、手太陰肺經。鎮定魂魄，寧安驚悸。</p>
<p>金屑服之殺人，性同鴆酒，古人賜死，往往用此。《本草》謂其能止咳嗽吐血，驚悸癲癇。方士制煉服餌，以為長生不死，荒妄極矣。或謂生者有毒，熟者無毒，胡說之至！庸工每常用之。即至少服，不至殺人，而驚悸自有原本，鎮重之物，何能得效！</p>
<p><u>砒霜</u>　味苦、辛，性熱，入足太陰脾、手太陰肺、足厥陰肝經。行痰化癖，截瘧除齁。</p>
<p>砒霜辛熱大毒，治寒痰冷癖，久瘧積痢，療痔漏瘰癧，心痛齁喘，蝕癰疽腐肉，平走馬牙疳。</p>
<p>生名砒黃，煉名砒霜，經火更毒，得酒愈烈，過臍則生瀉，服一錢殺人！</p>
<p><u>花乳石</u>　味酸，性澀，氣平，入足厥陰肝經。止血行瘀，磨翳消瘴。</p>
<p>花乳石功專止血，治吐衄崩漏，胎產刀杖，一切諸血。善療金瘡，合硫黃鍛鍊，敷之神效。亦磨遠年障翳，化瘀血老症，落死胎，下胞衣。</p>
<p>煅，研，水飛用。</p>
<p><u>密陀僧</u>　味辛，氣平，入足厥陰肝經。寧嗽止驚，化積殺蟲。</p>
<p>密陀僧沉墜下行，能降痰止吐，化積除驚，寧嗽斷痢，止血消腫，平痔瘻汗斑，口瘡鼻齇，臁瘡骨疽之屬。</p>
<p>研細，水飛。</p>
<p><u>空青</u>　味苦，性寒，入足厥陰肝經。磨翳明目，化積行瘀。</p>
<p>空青清肝破滯，治目昏眼痛，赤腫障翳，通經下乳，利水消症。</p>
<p>石子如卵，內含水漿，搖之有聲，其名空青，點久年翳膜青盲，殼亦磨障。亦有內裹白麵者，搽腫毒瘡癤甚效。亦空青之別種，極難得也。</p>
<p><u>層青</u>　味酸，性寒，入足厥陰肝經。明目去翳，破積殺蟲。</p>
<p>層青治眼痛赤爛多淚，明目。磨症化積，亦同空青。</p>
<p>層青色如波斯青黛，層層而出，故名。</p>
<p><u>石青</u>　味甘，氣平，入足厥陰肝經。明目止痛，消腫破症。</p>
<p>石青清肝退熱，治目昏眼痛，跌打金瘡，消癰腫，化積聚，吐頑痰。</p>
<p><u>石綠</u>　味酸，氣平，入足厥陰肝經。止泄痢，吐風痰。</p>
<p>石綠清涼重墜，治風痰壅悶，急驚昏迷。</p>
<p><u>青礞石</u>　味鹹，氣平，入手太陰肺、足太陰脾經。化痰消穀，破積攻堅。</p>
<p>青礞石重墜下行，化停痰宿谷，破硬塊老瘀。其性迅利，不宜虛家。庸工有滾痰丸方，用礞石、大黃，瀉人中氣，最可惡也。</p>
<p><u>海浮石</u>　味鹹，氣平，入手太陰肺、足厥陰肝經。化痰止渴，破滯軟堅。</p>
<p>海浮石鹹寒通利，能化老痰，消積塊，止消渴，通淋澀，去翳障，平癭瘤，清金止嗽，瀉濕消疝，亦兼治疔毒惡瘡。</p>
<p><u>鐵鏽</u>　味鹹，氣平，入手太陰肺、足厥陰肝經。消腫敗毒，降逆清熱。</p>
<p>鐵鏽重墜清降，消腫毒惡瘡，療蜘蛛蜈蚣諸傷。</p>
<p><u>銅青</u>　味鹹，氣平，入手太陰肺、足厥陰肝經。止血行痰，消腫合瘡。</p>
<p>銅青即銅綠，酸澀，能合金瘡，止血流，平牙疳肉蝕，收爛弦冷淚，消臁瘡頑癬，療痔瘻楊梅，去風殺蟲，生髮點痣。功專外用，不入湯丸。醫書用吐痰，殊非良法。</p>
<p><u>石灰</u>　味辛，性溫，入手太陰肺、手陽明大腸經。止血化積殺蟲。</p>
<p>石灰溫暖燥烈，收濕驅寒，治癰疽疥癬，瘰癧癥瘕，痔瘻癭疣，白瘢黑痣，松刺瘜肉，水泄紅爛，赤帶白淫，脫肛陰挺，囊墜發落，牙疼口喎，止痛合瘡，生肌長肉，墜胎殺蟲，染髮烏須，收金瘡血流。但可外用熏敷塗，不可服餌。</p>
<p>牛膽拌套，風乾者佳。</p>
<p><u>綠礬</u>　味酸，性涼，入手太陰肺、手陽明大腸經。消癰化積，止血平瘡。</p>
<p>綠礬燥烈收澀，治痰涎瘧痢，積聚脹滿，喉痹牙蟲，耳瘡眼疼，弦爛水腫，崩中便血，疥癬禿瘡之爛蛆生者。亦外用，未可輕服。</p>
<p><u>蓬砂</u>　味鹹，性涼，入手太陰肺經。化痰止嗽，磨翳消症。</p>
<p>蓬砂消症化瘀，治癖積翳障，胬肉結核，喉痹骨硬。《本草》謂其化痰止嗽，清肺生津，除反胃噎膈。此非循良之性，未可服餌也。</p>
<p><u>膽礬</u>　味酸，性寒，入手太陰肺經。降逆止嗽，消腫化積。</p>
<p>膽礬酸澀燥收，能克化癥結，消散腫毒，治齒痛牙疳，喉痹牙蟲，鼻內陰蝕，腳疽痔瘻，楊梅，金瘡，白瘢，一切腫痛，療帶下崩中，治上氣眼疼弦爛，瘋狗咬傷，百蟲入耳，腋下狐臭，吐風痰最捷。</p>
<p><u>爐甘石</u>　味甘，氣平，入手太陰肺經。明目退翳，收斂瘡肉。</p>
<p>爐甘石清金燥濕，治眼病紅腫翳障，弦爛淚流，兼醫痔瘻下疳，止血消毒，並療陰囊濕癢。</p>
<p>爐甘石生金銀礦，秉寒肅燥斂之氣，最能收濕合瘡，退翳除爛。但病重根深，不能點洗收效，必須服藥餌，用拔本塞源之法。若眼科諸言，一派胡說，不可服也。</p>
<p>鍛紅，童便浸數次，水洗，研細，水飛。</p>
<p><u>珊瑚</u>　味辛，氣平，入手太陰肺經。點眼去翳，吹鼻止衄。</p>
<p>珊瑚磨翳消障，功載《本草》，而取效甚難，至謂化血止衄，則其說更荒誕。</p>
<p><u>瑪瑙</u>　味辛，氣平，入手太陰肺經。點眼去翳，熨目消紅。</p>
<p>瑪瑙磨翳退障，存此一說可也，至於收功奏效，則未能矣。</p>
<p><u>石燕</u>　味甘，性涼，入足少陰腎、足太陽膀胱經。利水通淋，止帶摧生。</p>
<p>石燕甘寒滲利，瀉膀肌濕熱，治淋瀝熱澀，溺血便血，消渴帶下，痔瘻障翳，齒動牙疼，捲毛倒捷。</p>
<p><u>石蟹</u>　味苦、咸，性寒，入手少陰心、足少陽膽經。清心瀉熱，明目磨翳。</p>
<p>石蟹鹹寒瀉火，治青盲白翳，瘟疫熱疾，催生落胎，行血消腫，癰疽熱毒，吹喉痹，解漆瘡。</p>
<p><u>石蠶</u>　味苦，微涼，入足太陽膀胱經。通淋瀝，生肌肉。</p>
<p>石蠶清利膀胱，治石淋血結，磨服則下碎石。</p>
<p><u>石鰲</u>　味甘，性涼，入足太陽膀胱經。通淋瀝，止便血。</p>
<p>石鰲清瀉膀胱，治小便淋瀝。</p>
<p><u>陽起石</u>　味鹹，微溫，入足少陰腎、足厥陰肝經。起痿壯陽，止帶調經。</p>
<p>陽起石溫暖肝腎，強健宗筋，治寒疝冷瘕，崩漏帶下，陰下濕癢，腰膝痠疼，腹痛無子，經期不定。</p>
<p><u>吸鐵石</u>　味辛，微寒，入足少陰腎、手太陰肺經。補腎益精。</p>
<p>吸鐵石收斂肺腎，治耳聾目昏，喉痛頸核，筋羸骨弱，陽痿脫肛，金瘡腫毒，咽鐵吞針，斂肝止血，種種功效，悉載《本草》。庸工用之，殊無應驗，非藥石中善品也。</p>
<p>火煅，醋淬，研細，水飛。</p>
<p><u>自然銅</u>　味辛，氣平，入足少陰腎、足厥陰肝經。補傷續絕，行瘀消腫。</p>
<p>自然銅燥濕行瘀，止痛續折，治跌打損傷，癥瘕積聚，破血消癭，寧心定悸，療風濕癱瘓之屬。</p>
<p>自然銅收濕之力，與無名異同。</p>
<p>火鍛，醋淬，研細，水飛。</p>
<p><u>無名異</u>　味鹹，氣平，入足少陰腎、足厥陰肝經。接骨續筋，破瘀消腫。</p>
<p>無名異燥濕行瘀，消腫止痛，治金瘡打損，筋斷骨折，癰疽楊梅，痔瘻瘰癧，腳氣臁瘡之類。</p>
<p>無名異善收濕氣，調漆煉油，其幹甚速，至燥之品。</p>
<p><u>鐵落</u>　味辛，氣平，入手少陰心、足少陽膽經。寧心下氣，止怒除狂。</p>
<p>生鐵落，《素問·病能論》用治怒狂，曰：生鐵落者，下氣疾也。肝主怒，肝虛則驚悸善恐，膽旺則風狂善怒，鐵落鎮伏肝膽，收攝神魂，止驚除狂，是所長也。</p>
<p><u>針砂</u>　味鹹，氣平，入手少陰心、足太陽膀胱經。寧神止驚，瀉濕消脹。</p>
<p>針砂鎮定心神，疏通水道，治驚癇，掃痰飲，治水脹，除黃疸，縮癭瘤，染鬚髮。然金石重墜，未宜輕服。炒熨手足，去濕痹疼痛甚效。</p>
<p><u>水銀</u>　味辛，性寒，入手少陰心、足少陰腎經。殺蟲去蝨，止痛拔毒。</p>
<p>水銀大寒至毒，治疥癬痔瘻，楊梅惡瘡，滅白癜粉疱。但可塗搽，不可服餌，服之痿陽絕產，筋攣骨痛。</p>
<p>古人服方土燒煉水銀，以為不死神丹，殞命夭年，不可勝數。帝王將士，多被其毒。古來服食求神仙，多為藥所誤，其由來遠矣。</p>
<p>勿入瘡口。</p>
<p><u>輕粉</u>　味辛，性寒，入足少陰腎、足厥陰肝經。搽疥癬，塗楊梅。</p>
<p>輕粉辛冷毒烈，服之筋骨拘攣，齒牙脫落。庸工用治楊梅惡瘡，多被其毒，不可入湯丸也。《本草》謂其治痰涎積滯，氣臌水脹。良藥自多，何為用此！</p>
<p>輕粉即水銀、鹽、礬升煉而成者，其性燥烈，能耗血亡津，傷筋損骨。</p>
<p><u>元明粉</u>　味辛、咸，性寒，入手少陰心、手太陰肺經。瀉熱除煩，掃症破結。</p>
<p>元明粉鹹寒疏蕩，治心肺煩熱，傷寒發狂，眼痛鼻衄，宿滯老瘢。</p>
<p>元明粉乃朴硝、蘿蔔、甘草熬煉而成，是方士造作，以為服食卻病。之藥瀉火伐陽，捨生取死，原非通制，不必用也。</p>
<p><u>百草霜</u>　味辛，氣平，入足厥陰肝經。斂營止血，清熱消瘀。</p>
<p>百草霜專止失血，治吐衄便溺產漏諸血甚效。</p>
<p>百草霜即灶內煙煤，與釜臍灰同性。</p>

<h1>卷四</h1>

<h2>果部</h2>
<p><u>龍眼</u>　味甘，微溫，入足太陰脾、足厥陰肝經。補脾養血，滋肝生精。</p>
<p>龍眼甘能益脾，潤可生精，滋肝木而清風燥，降心火而消熱煩，補陰生血，而不至滋濕伐陽，傷中敗土，至佳之品，勝歸地諸藥遠矣。以有益智之名，《本草》謂其寧神益智，神歸於血，智生於神，此亦固有之理也。至於驚悸不寐，根因濕旺胃逆，陽泄不藏，嚴氏歸脾，以為血虛，而用龍眼，則難效矣。</p>
<p><u>荔枝</u>　味甘，性溫，入足太陰脾、足厥陰肝經。暖補脾精，溫滋肝血。</p>
<p>荔枝甘溫滋潤，最益脾肝精血，木中溫氣，化火生神，人身之至寶，溫氣虧損，陽敗血寒，最宜此味。功與龍眼相同，但血熱宜龍眼，血寒宜荔枝，木鬱血熱，火泄金燔者食之，則齦腫鼻衄，非所當服。</p>
<p>乾者味減，不如鮮者，而氣質和平，補益無損，不至助火生熱，則大勝鮮者。其功生津止渴，悅色益顏，發痘消瘡，治腫疔瘰癧贅瘤之類。</p>
<p>荔枝核治㿗疝囊腫。</p>
<p><u>甘蔗</u>　味甘，微寒，入足太陰脾、足陽明胃經。瀉熱除煩。</p>
<p>蔗漿甘寒，解酒清肺，故《漢書》有蔗漿折朝酲，王維有大官還有蔗漿寒之語。土燥者最宜，陽衰濕旺者，服之亦能寒中下利。《本草》謂其下氣止嘔，則雖屬甘緩，亦頗疏利不壅。與白砂糖性同，功用相仿。</p>
<p><u>甜瓜</u>　味甘，性寒，入足太陰脾、足陽明胃經。清煩止渴，解暑涼蒸。</p>
<p>甜瓜甘寒疏利，甚清暑熱，但瀉胃滑腸，陽衰土濕者食之必泄利，生冷敗脾，以此為最。</p>
<p><u>蓮子</u>　味甘，性平，入足太陰脾、足陽明胃、足少陰腎、手陽明大腸經。養中補土，保精斂神，善止遺泄，能住滑溏。</p>
<p>蓮子甘平，甚益脾胃，而固澀之性，最宜滑泄之家，遺精便溏，極有良效。</p>
<p>心名蓮薏，苦寒瀉火，治心煩上熱之證。陽虛火敗，去心用。</p>
<p>藕能活血破瘀，敷金瘡折傷，生食清肺止渴，蒸食開胃止泄。</p>
<p>蓮蕊固精止血，悅色烏須。</p>
<p>蓮房止崩漏諸證。</p>
<p>荷蒂能領諸藥，直至巔頂。</p>
<p><u>胡桃</u>　味甘，性澀，氣平，入足陽明胃、手太陰肺經。寧嗽止喘，利水下食。</p>
<p>胡桃核斂澀滋潤，能進飲食，止喘嗽，潤腸胃，通淋澀，除崩漏，消癰腫，敷瘰癧，塗疥癬，療頭瘡鼻齇聤耳。便血吞銅、遺精失溺，澤膚潤腸，黑烏鬚髮，治腰疼腹痛寒疝紅痢醋心之類，魚口便毒火燒打損疔瘡之屬。</p>
<p>油胡桃治癰腫疥癬，楊梅禿瘡，潤澤鬚髮。</p>
<p>青皮染髭鬚白瘢。</p>
<p><u>山楂</u>　味酸、甘，氣平，入足太陰脾、足厥陰肝經。消積破結，行血開瘀。</p>
<p>山楂消克磨化，一切宿肉停食，血症氣塊皆除。</p>
<p><u>栗子</u>　味甘、咸，氣平，入足太陰脾、足少陰腎經。補中培土，養胃益脾。</p>
<p>《素問·臟氣法時論》：心色赤，宜食鹹，大豆、豚肉、慄、藿皆咸。戊土降於丁火，得離中之陰精，己土升於癸水，得坎中之陽氣，故苦則入胃，咸則歸脾。栗子鹹甘入脾，補中助氣，充虛益餒，培土實脾，諸物莫逮，但多食則氣滯難消，少啖則氣達易克耳。生食治腰腿不遂，生嚼塗筋骨碎斷，又消腫痛，行瘀血，破痃癖，去惡刺，出箭頭，止鼻衄，斂泄利。</p>
<p>風乾者佳。</p>
<p>殼止便血。</p>
<p>殼內薄皮，治骨鯁。</p>
<p><u>橡子</u>　味苦，性澀，氣平，入足太陰脾、手陽明大腸經。健脾消穀，澀腸止利。</p>
<p>橡子苦澀收斂，暖胃固腸，消食止泄，治泄利脫肛，斷痔瘻失血，磨塗癰疽堅硬不消。</p>
<p>殼止下利便血，帶下崩中，烏須染髮，性最斂澀。</p>
<p><u>荸薺</u>　味甘，微寒，入足太陰脾、足厥陰肝經。下食消穀，止血磨症。</p>
<p>荸薺甘寒清利，治熱煩消渴，化宿谷堅症，療噎膈黃疸，解金石蠱毒，醫吞銅便血，止下利崩中。攻堅破聚，是其所長，但寒胃氣，脾弱者食之，則臍下結痛。</p>
<p>荸薺即地慄，亦名鳧茨，《爾雅》作鳧茈。</p>
<p><u>西瓜</u>　味甘，微寒，入手太陰肺、足太陽膀胱、足陽明胃經。清金除煩，利水通淋。</p>
<p>西瓜甘寒疏利，清金利水，滌胸膈煩躁，瀉膀胱熱澀，最佳之品。脾胃寒濕，取汁熱服。</p>
<p><u>蒲桃</u>　味甘、酸，微寒，入手太陰肺、足太陽膀胱、足陽明胃經。清金解渴，利水除淋。</p>
<p>蒲桃清金利水，治煩渴熱淋，療胎氣衝心。其力未及西瓜，亦佳品也。</p>
<p>蒲桃出自西域，《漢書·西域傳》：大宛諸國，富人以蒲桃作酒，藏之數十年不壞。張騫攜其種來，中國始生。後人作葡萄。</p>
<p><u>黃橘</u>　味甘、酸，微寒，入手太陰肺經。清金止渴，涼膈除煩。</p>
<p>黃橘酸甘清利，治心肺煩渴，但生冷之性，滋濕敗土，聚涎生痰，陽虛濕旺者忌之。</p>
<p>青皮破滯攻堅，伐肝瀉肺，庸工最肯用之。</p>
<p><u>青梨</u>　味甘、酸，微寒，入手太陰肺經。清心涼肺，止渴消痰。</p>
<p>青梨甘寒清利，涼心肺煩熱，滋臟腑燥渴，洗滌涎痰，疏通鬱塞，滋木清風，瀉火敗毒，治風淫熱鬱，欲作癱瘓癰疽之病。陰旺土濕者忌之，瀉胃滑腸，不可恣食。上熱者，取汁溫服。點眼病赤腫胬肉。</p>
<p><u>柿霜</u>　味甘，性涼，入手太陰肺、手少陰心經。清金止渴，化痰寧嗽。</p>
<p>柿霜清心肺煩熱，生津解渴，善治痰嗽，消咽喉口舌諸瘡腫痛。</p>
<p>乾柿餅清肺澀腸，消痰止渴，治吐血淋血，痔瘻腸癖，肺痿心熱，咳嗽喑啞。</p>
<p><u>枇杷</u>　味酸、甘，氣平，入手太陰肺經。潤腸解渴，止嘔降逆。</p>
<p>枇杷酸收降利，治肺胃沖逆，嘔噦煩渴。</p>
<p>葉能清金下氣，寧嗽止吐，清涼瀉肺，治標之品。去毛，蜜炙，止嗽最善。</p>
<p><u>楊梅</u>　味酸、甘，微溫，入手太陰肺經。除痰止嘔，解渴斷痢。</p>
<p>楊梅酸澀降斂，治心肺煩郁，止嘔食吐酒，療痢疾損傷，止血衄。</p>
<p>核仁能治腳氣。</p>
<p>楊梅生瘴癘之鄉，其味酸甘，多食損齒傷筋。惟桑土者不酸。林邑生者，實如杯盎，青時極酸，熟則如蜜。釀酒號梅香釅，土人珍重之。</p>
<p><u>橄欖</u>　味酸，性澀，氣平，入手太陰肺經。生津止渴，下氣除煩。</p>
<p>橄欖酸澀收斂，能降逆氣，開胃口，生津液，止煩渴，消酒酲，化魚鯁，收泄利，療咽喉腫痛，解魚鱉諸毒，平唇裂牙疳。果與木、核皆靈。</p>
<p>核治㿗疝。</p>
<p><u>林檎</u>　味酸，性澀，氣平，入手太陰肺經。生津解渴，下氣消痰。</p>
<p>林檎酸澀收斂，治肺熱消渴，療腸滑泄利。</p>
<p><u>金棗</u>　味酸、甘，微涼，入手太陰肺經。下氣寬胸，解酲止渴。</p>
<p>金棗酸涼清肺，降胸膈逆氣，治上熱煩渴。</p>
<p>金棗亦名橘，似橘，小而皮光，大如胡桃，夏青冬黃，在樹至三五年。樹高數尺，霜雪不凋，實隨年長，形如雞卵，色青黃如初年也。</p>
<p><u>銀杏</u>　味苦、甘，性澀，氣平，入手太陰肺經。降痰下氣，寧嗽止喘。</p>
<p>銀杏苦澀斂肺，降痰涎，止喘嗽，縮小便，除白濁，收帶下，更去齇疱䵟𪒟，平手足皺裂，療頭面癬疥，殺蟲去蝨皆效。</p>
<p>銀杏即白果，熟食益人。</p>
<p>葉闢諸蟲。</p>
<p><u>芡實</u>　味甘，性澀，入手太陰肺、足少陰腎經。止遺精，收帶下。</p>
<p>芡實固澀滑泄，治遺精失溺，白濁帶下之病。</p>
<p><u>石榴皮</u>　味酸，性澀，入手陽明大腸、足厥陰肝經。斂腸固腎，澀精止血。</p>
<p>石榴皮酸澀收斂，治下利遺精、脫肛便血，崩中帶下之病，點眼止淚，塗瘡拔毒。</p>
<p><u>木瓜</u>　味酸，性澀，微寒，入手太陰肺、足厥陰肝經。斂腸止泄，逐濕舒筋。</p>
<p>木瓜酸斂收澀，能斂肺固腸，燥土瀉肝，治霍亂吐利，腹痛轉筋，療腳氣，治中風筋攣骨痛。其主治諸病，總皆寒濕之邪，但用木瓜，終難成效。《本草》謂其性溫，止泄而搪積。</p>
<p>瓜汁寒脾，冷飲立生泄利。雖能瀉肝止痛，而土虛木賊，最忌酸收，功止治標，未能無弊，何如苓桂姜甘溫燥之品，效大而力捷也。</p>
<p>木瓜鮮者，糖餞，斂肺止渴。</p>
<p><u>棠梨</u>　味酸，性澀，微寒，入手太陰肺、足厥陰肝經。收腸斂肺，止泄除嘔。</p>
<p>棠梨酸澀，功同木瓜，治霍亂吐瀉，腹痛轉筋，燒食止泄利。</p>
<p><u>香櫞</u>　味苦、酸，微涼，入手太陰肺經。清金下氣，止嗽除痰。</p>
<p>香櫞長於行氣。</p>
<p><u>香橙</u>　味酸，入手太陰肺經。寬胸利氣，解酒消癭。</p>
<p>香橙善降逆氣，止噁心，消癧癧癭瘤。</p>

<h2>附谷菜部</h2>
<p><u>芝麻</u>　味甘，氣平，入足厥陰肝、手陽明大腸經。潤肺開閉。</p>
<p>芝麻補益精液，滋潤肝腸，治大便結塞。清風榮木，養血舒筋，療語塞步遲，皮燥發枯，髓涸肉減，乳少經阻諸證。醫一切瘡瘍，敗毒消腫，生肌長肉。殺蟲，生禿髮，滑產催衣皆善。</p>
<p><u>扁豆</u>　味甘，氣平，入足太陰脾、手陽明大腸經。培中養胃，住泄止嘔。</p>
<p>扁豆性甘平斂澀，補土治泄，亦良善之品也。</p>
<p>用白者佳。</p>
<p><u>瓠蘆</u>　味甘，氣平，性滑，入手太陰肺、足太陽膀胱經。清金潤燥，利水瀉濕。</p>
<p>瓠蘆清金利水，治心肺煩熱，溲溺淋澀，脹滿黃腫之證。鮮者作羹，甘滑清利。亞腰者，連子燒，研，飲送，每服一枚，水脹腹滿，十餘日消。</p>
<p>亦作葫蘆。</p>
<p>瓠蘆甘寒瀉水，排停痰宿飲，消水腫黃疸，煮汁漬陰，能通小便，煎湯滴鼻，即出黃水，療鼻塞牙疼，去胬肉老翳，治癰疽痔瘻，疥癬癩瘑。點鼻肉，吹耳膿，吐蠱毒，下死胎，灸下部懸癰，能吐能泄。</p>
<p><u>冬瓜</u>　味酸、甘，微寒，入手太陰肺、足太陽膀胱經。清金止渴，利水消脹。</p>
<p>冬瓜清金利水，治消渴水脹，泄痢淋澀，癰疽痔瘻皆醫，解食中毒，洗頭面䵟𪒟。</p>
<p>冬瓜去皮，切片，酒水煮爛，去渣熬濃，器收，每夜塗面，變黑為白，光澤異前。</p>
<p><u>白芥子</u>　味辛，氣溫，入手太陰肺經。破壅豁痰，止喘寧嗽。</p>
<p>白芥子辛溫利氣，掃寒痰冷涎，破胸膈支滿，治咳逆喘促，開胃止痛，消腫辟惡皆良。</p>
<p><u>萊菔子</u>　味辛，氣平，入手太陰肺經。下氣止喘，化痰破郁。</p>
<p>萊菔子辛烈疏利，善化痰飲，最止喘嗽，破郁止痛，利氣消穀。生研，吐老痰。</p>
<p><u>韭子</u>　味辛，性溫，入足少陰腎、足厥陰肝經。秘精斂血，暖膝強腰。</p>
<p>韭子溫補腎肝，治白淫赤帶，腰膝軟弱，宗筋下痿，精液常流。</p>
<p>韭菜汁治吐衄便溺諸血，行打撲損傷諸瘀，療女子經脈逆行，止胸膈刺痛如錐。消散胃脘瘀血。</p>

<h1>卷五</h1>

<h2>禽獸部</h2>
<p><u>牛肉</u>　味甘，性平，入足太陰脾、足厥陰肝經。補中培土，養血榮筋。</p>
<p>《素問》：脾色黃，宜食甘，粳米、牛肉、棗、葵皆甘。牛肉補益脾肝，滋養血肉，壯筋強骨，治腰膝軟弱，消渴癖積，塗牛皮風癬。</p>
<p>水牛肉性寒，兼消水腫，利小便。</p>
<p>牛乳清肺潤腸，退熱止渴，療黃疸。</p>
<p>牛髓補精添力，續絕補傷。</p>
<p>牛腦潤皴裂，消癖積。</p>
<p>牛膽套南星，治驚化痰。</p>
<p>牛角腮通經破瘀，止血泄利。</p>
<p>牛涎治反胃噎膈。</p>
<p>牛溺治水腫尿癃。</p>
<p>牛黃治驚狂風熱。</p>
<p>敗鼓皮治蠱毒淋漓。</p>
<p>馬勃治咽喉痹痛，久嗽失聲，骨鯁吐衄。馬勃亦名牛屎菰。</p>
<p><u>馬肉</u>　味辛、苦，性寒，入足陽明胃、手太陰肺經。清金下氣，壯骨強筋。</p>
<p>馬肉辛冷，無補益。</p>
<p>駿馬肉有毒，醇酒、杏、蘆、菔汁解。</p>
<p>馬肝有毒。《漢書》：文成食馬肝死。景帝曰：食肉不食馬肝。馬肝大毒，入瘡則死。慄杵，灰汁浸洗，白沫出，解。</p>
<p>白馬溺治積聚癥瘕。祖臺之《志怪）載治鱉瘕事。</p>
<p><u>山羊血</u>　味鹹、甘，氣平，入足厥陰肝經。最行瘀血，絕止㽲痛。</p>
<p>山羊血治瘀血作痛，療跌撲損傷甚捷。</p>
<p><u>犀角</u>　味苦、酸，性寒，入足厥陰肝、足少陽膽、手少陰心經。泄火除煩，解毒止血。</p>
<p>犀角寒涼瀉火，治胸膈熱煩，口鼻吐衄，瘟疫營熱發斑，傷寒血瘀作狂，消癰疽腫痛，解飲食藥餌山水瘴癘諸毒。</p>
<p>凡勞傷吐衄之證，雖有上熱，而其中下兩焦則是寒濕，當與溫中燥土之藥並用。庸工犀角地黃一方，犀角可也，地黃瀉火敗土，滋濕伐陽，則大不可矣。</p>
<p><u>羚羊角</u>　味苦、咸，微寒，入足厥陰肝經。清風明目，泄熱舒筋。</p>
<p>羚羊角清散肝火，治心神驚悸，筋脈攣縮，去翳明目，破瘀行血，消瘰癧毒腫，山水瘴癘，平肝治脹滿，除腹脅疼痛。</p>
<p><u>青羊肝</u>　味苦，微寒，入足厥陰肝經。清肝退熱，明目去翳。</p>
<p>青羊肝苦寒，清肝膽風熱，治眼病紅腫翳膜，昏花喪明，療牙疳痢疾。</p>
<p>青羊膽治青盲白翳，紅瘀赤障，便秘腸結，䵟疱疳瘡。</p>
<p>白羊乳潤肺止渴，治口瘡舌腫，心痛腸燥。蜘蛛咬傷，蚰蜓入耳，灌之即化成水。</p>
<p><u>白狗膽</u>　味苦，性寒，入足少陽膽、足厥陰肝經。明目退翳，破瘀消積。</p>
<p>白狗膽苦寒，清肝膽風熱，治眼痛鼻癰，鼻衄耳聤，殺蟲化積，止痛破血。凡刀箭損傷，及腹脅瘀血瘀痛，熱酒服半枚，瘀血盡下。兼敷一切惡瘡。</p>
<p>白狗乳點久年青盲，於目未開時點，目開而瘥，塗赤禿髮落，拔白生黑。</p>
<p>白狗血治癲疾。</p>
<p>黑狗血治難產橫生，鬼魅侵凌。</p>
<p>狗寶溫胃降逆，止噎納穀，療癰疽療毒。</p>
<p>狗陰莖壯陽起痿，除女子帶下陰癢。</p>
<p><u>獺肝</u>　味甘，微溫，入足厥陰肝經。補虛益損，止嗽下衝。</p>
<p>獺肝溫中降逆，治虛勞咳嗽上氣，痔瘻下血，鬼魅侵侮之證。</p>
<p><u>五靈脂</u>　味辛，微溫，入足厥陰肝經。開閉止痛磨堅。</p>
<p>五靈脂最破瘀血，善止疼痛，凡經產跌打諸瘀，心腹脅肋諸痛皆療，又能止血，凡吐衄崩漏諸血皆收。生用行血，熟用止血。</p>
<p><u>夜明砂</u>　味淡，氣平，入足厥陰肝經。消積聚，去翳障。</p>
<p>蝙蝠屎名夜明砂，能磨翳明目，消腫破積，止痛除驚，去黑䵟，下死胎，療瘰癧，治馬撲腫痛。</p>
<p><u>月明砂</u>　味淡，氣平，入足厥陰肝經。去翳障，療痔瘻。</p>
<p>兔屎名月明砂，能明目去翳，消痔殺蟲。庸工習用不效，季明又言其能治虛勞夜熱，更荒誕！</p>
<p><u>雞內金</u>　味甘，氣平，入手陽明大腸、足厥陰肝經。止利斂血，利水秘精。</p>
<p>雞內金扶中燥土，治泄利崩帶，尿血便紅，喉痹乳蛾，口瘡牙疳，失溺遺精，酒積食宿，胃反膈噎，並消癰疽發背。</p>
<p><u>鷹屎白</u>　味淡，微寒，入手太陰肺、足厥陰肝經。消積滅痕，化硬退疱。</p>
<p>鷹屎白滅打傷瘢痕，消頭面䵟𪒟，化癖積骨鯁。</p>
<p><u>鹿茸</u>　味辛，微溫，入足少陰腎、足厥陰肝經。生精補血，健骨強筋。</p>
<p>鹿茸補益腎肝，生精補血，最壯筋骨，治陽痿精滑，鬼交夢泄，崩漏帶濁，腰疼膝軟，目眩耳聾諸證。</p>
<p>酥炙用。研碎，酒煮，去渣，熬濃，重湯煮成膏，最佳。</p>
<p><u>鹿角膠</u>　味辛、咸，微溫，入足少陰腎、足厥陰肝經。補腎益肝，斂精止血。</p>
<p>鹿角膠溫補肝腎，滋益精血，治陽痿精滑，鬼交夢遺，吐衄崩帶，腰疼膝痛，瘡瘍毒腫，跌打損傷，宜子安胎，補虛回損，功效極多。但性滯不宜脾胃，中焦鬱滿者，切忌服之。</p>
<p>蛤粉炒，研用。</p>
<p>生研酒服，行瘀血腫毒，塗抹亦良。</p>
<p>煉霜熬膏，專補不行。膠霜功同，而霜不膠黏，似勝。</p>
<p><u>雀卵</u>　味鹹，性溫，入足少陰腎、足厥陰肝經。壯陽起痿，暖血溫精。</p>
<p>雀卵溫補肝腎精血，治男子陽痿，女子帶下，精寒血枯，固瘕㿉疝之證。《素問》：治女子血枯，月事衰少不來，用烏鰂骨、䕡茹，丸以雀卵。</p>
<p>雄雀屎名白丁香，能點翳膜胬肉，消積聚癥瘕，敷癰疽潰頂，吹喉開痹。</p>
<p><u>虎骨</u>　味辛、咸，氣平，入足少陰腎經。療關節氣冷，治膝脛腫痛。</p>
<p>虎骨逐痹通關，強筋健骨，平歷節腫痛，愈腰膝痿軟，諸獸骨鯁，惡犬咬傷，痔瘻脫肛俱效。脛骨良。</p>
<p>酥炙，研用。熬膏佳。</p>
<p>手病用前腿骨，足病用後腿骨，左病用右，右病用左。</p>
<p><u>象皮</u>　味鹹，氣平，入足太陽膀胱經。合瘡口，生肌膚。</p>
<p>象皮治金瘡不合，一切瘡瘍，收口生肌俱捷。</p>
<p>燒灰存性，研細用。</p>
<p>象牙治諸刺入肉傷喉，敷飲皆效。</p>
<p><u>熊膽</u>　味苦，性寒，入手少陰心、足少陽膽、足厥陰肝經。清心瀉熱，去翳殺蟲。</p>
<p>熊膽苦寒，清君相二火，瀉肝明目，去翳殺蟲，寧魂止驚，治牙疳鼻衄，耳瘡痔瘻之屬。</p>
<p><u>鼠膽</u>　味苦，性寒，入手少陰心、足少陽膽、足厥陰肝經。點目昏，滴耳聾。</p>
<p>鼠膽塗箭鏃不出，聤耳汁流。</p>
<p>鼠糞名兩頭尖，治傷寒勞復，男子陰易，通室女子經閉，收產婦陰脫，療癰疽乳吹，犬咬鼠瘻。日華子謂其明目，然誤入食中，令人目黃成疸，亦非明目之品。</p>
<p><u>燕子窠</u>　味辛，氣平，入手少陰心經。消惡瘡，敗腫毒。</p>
<p>胡燕窠土消腫解毒，治疥癘浸淫，黃水白禿，一切惡瘡，塗洗皆效。</p>

<h1>卷六</h1>

<h2>鱗介魚蟲部</h2>
<p><u>膃肭臍</u>　即海狗腎。味鹹，性熱，入足少陰腎、足厥陰肝經。補精暖血，起痿壯陽。</p>
<p>膃肭臍溫暖肝腎，治宗筋痿弱，精冷血寒，破堅症老血，治鬼交夢遺，健膝強腰，補虛益損，洗陰癢生瘡。</p>
<p><u>海馬</u>　味甘，性溫，入足少陰腎、足厥陰肝經。暖水壯陽，滑胎消症。</p>
<p>海馬溫暖肝腎，起痿壯陽，破症塊，消疔腫，平癰疽，催胎產。</p>
<p><u>龜板</u>　味鹹，性寒，入足少陰腎經。瀉火滋陰，寒胃滑腸。</p>
<p>龜板鹹寒瀉火，敗脾傷胃，久服胃冷腸滑，無有不死。朱丹溪以下庸工，作補陰之方，用龜板、地黃、知母、黃柏，治內傷虛勞之證，鏟滅陽根，脫泄生氣。俗子狂夫，廣以龜、鹿諸藥，禍流千載，毒遍九州，深可痛恨也！</p>
<p>燒，研，敷，飲，治諸癰腫瘍甚靈。</p>
<p><u>桑螵蛸</u>　味鹹，氣平，入足少陰腎、足太陽膀胱、足厥陰肝經。起痿壯陽，回精失溺。</p>
<p>桑螵蛸溫暖肝腎，疏通膀胱，治遺精失溺，經閉陽痿，帶濁淋漓，耳痛喉痹，瘕疝骨鯁之類皆效。</p>
<p>炮，研細用。</p>
<p><u>綠蜻蜓</u>　味鹹，微溫，入足少陰腎、足厥陰肝經。強筋壯陽，暖水秘精。</p>
<p>綠蜻蜓溫暖肝腎，治陽痿精滑。</p>
<p>近時房中藥，多用紅色者。</p>
<p><u>桑蟲</u>　味苦，氣平，入手少陰心、足厥陰肝經。止崩除帶消脹。</p>
<p>桑蟲行瘀破滯，治口瘡目翳，崩中帶下。庸工以起小兒痘瘡塌陷，不通之至！</p>
<p><u>蝸牛</u>　味鹹，性寒，入足太陽膀胱、足厥陰肝經。利水瀉火，消腫敗毒。</p>
<p>蝸牛去濕清熱，治痔瘻瘰癧，發背脫肛，耳聾鼻衄，喉痹腮腫，目翳面瘡，解蜈蚣蚰蜒蜂蠍諸毒。</p>
<p>生搗，燒，研，塗敷皆良。</p>
<p><u>蚯蚓土</u>　味鹹，微寒，入手少陰心經。除濕熱，消腫毒。</p>
<p>蚯蚓土清熱消腫，敷乳吹卵腫，聤耳痄腮，一切腫毒，少腹小便脹閉。</p>
<p><u>原蠶蛾</u>　味鹹，性溫，入足少陰腎、足厥陰肝經。暖腎壯陽，固精斂血。</p>
<p>原蠶蛾溫暖肝腎，大壯陽事，治遺精溺血，療金瘡，滅瘢痕，止白濁。</p>
<p><u>螻蛄</u>　味鹹，性寒，入足太陰膀胱經。利水消腫，開癃除淋。</p>
<p>螻蛄鹹寒，清利膀胱濕熱，消水病脹滿，小便淋瀝，下胎衣，平瘰癧，出針刺，拔箭鏃。腰前甚澀，能止大小便，腰後甚利，能利大小便。</p>
<p>研細，吹鼻中，即出黃水；管吹莖內，立開小便。功力甚捷。</p>
<p><u>螺螄</u>　味甘，性寒，入足太陽膀胱經。清金止渴，利水瀉熱。</p>
<p>螺螄清金利水，瀉濕除熱，治水腫脹滿，療腳氣黃疸，淋瀝消渴，疥癬瘰癧，眼病脫肛，痔瘻痢疾，一切疔腫之證。煮汁，療熱醒酒。</p>
<p>水田、江湖、溪澗諸螺性同，敷飲皆效。</p>
<p><u>黃蠟</u>　味淡，氣平，入手太陰肺、足厥陰肝經。斂血止痢，接骨續筋。</p>
<p>黃蠟凝聚收澀，治泄痢便膿，胎動下血，跌打金刃，湯火蛇咬，凍裂，一切諸瘡，愈破傷風。</p>
<p><u>白蠟</u>　味淡，氣平，入手太陰肺、足厥陰肝經。止血生肌，補傷續絕。</p>
<p>白蠟堅凝斂聚，能消腫止痛，長肉合瘡，接筋續骨，外科要品也。</p>
<p>白蠟即黃蠟之殊色者，此是蠟樹蟲吐白如胡粉也。</p>
<p><u>珍珠</u>　味甘、咸，微涼，入手太陰肺、足厥陰肝經。明目去翳，安魂定魄。</p>
<p>珍珠涼肺清肝，磨翳障，去驚悸，除遺精白濁，下死胎胞衣，塗面益色，敷疔拔毒，止渴除煩，滑胎催生。</p>
<p><u>石決明</u>　味鹹，氣寒，入手太陰肺、足太陽膀胱經。清金利水，磨翳止淋。</p>
<p>石決明清肺開鬱，磨翳消障，治雀目夜昏，青盲晝暗，瀉膀胱濕熱，小便淋漓，服點並用。但須精解病源，新制良方，用之乃效。若庸工妄作眼科諸方，則終身不靈，久成大害，萬不可服！</p>
<p>麵煨，去粗皮，研細，水飛。</p>
<p><u>蟬蛻</u>　味辛，氣平，入手太陰肺經。發表驅風，退翳消腫。</p>
<p>蟬蛻輕浮發散，專治皮毛，退翳膜，消腫毒，治大人失音，小兒夜啼，取其晝鳴夜息之意。</p>
<p>庸工以治大人頭風眩暈，小兒痘瘡癢塌，則不通矣。眩暈不緣風邪，癢塌全因衛陷，此豈蟬蛻所能治也？又治驚癇噤風，亦殊未然。</p>
<p><u>蛇蛻</u>　味鹹，氣平，入手太陰肺經。發表驅風，退翳敗毒。</p>
<p>蛇蛻發散皮毛，治瘡瘍毒腫。至於退翳膜，止驚癇，則非蛇蛻、蟬蛻所能奏效，庸工往往不解病源，而但用表散之品，可見庸陋極矣。</p>
<p><u>蛤蚧</u>　味鹹，氣平，入手太陰肺、足太陽膀胱、足少陰腎、足厥陰肝經。斂血止嗽，利水助陽。</p>
<p>蛤蚧收降肺氣，疏通水腑，治喘嗽吐血，消渴癃淋，通經行血，起痿壯陽，及虛勞羸弱之病。</p>
<p>去頭眼鱗爪，酒浸，酥炙黃，研細。</p>
<p>口含少許，馳百步不喘，止喘寧嗽，功力甚捷。其毒在頭足，其力在尾，如蟲蛀其尾者，不足用。</p>
<p><u>蜥蜴</u>　味鹹，性寒，入手太陰肺、足太陽膀胱、足少陰腎、足厥陰肝經。消癩通淋，破水積，治瘻瘡。</p>
<p>蜥蜴亦名石龍子，能吐雹祈雨，故善通水道。</p>
<p>酥炙，研細用。</p>
<p><u>蟾酥</u>　味辛，微溫，入手太陰肺、足少陰腎經。澀精助陽，敗毒消腫。</p>
<p>蟾酥研，塗磨麈頂，治精滑夢遺，磨點瘡頭，治疔毒癰腫，磨腰暖腎，揩牙止痛。</p>
<p>辛烈殊常，入缽擂研，氣衝鼻孔，噴嚏不止，沾唇麻辣，何能當者，外科家因作小丸服，甚非良善之法也。</p>
<p><u>五倍子</u>　味酸，氣平，入手太陰肺、手陽明大腸經。收肺除咳，斂腸止利。</p>
<p>五倍酸收入肺，斂腸墜，縮肛脫，消腫毒，平咳逆，斷滑泄，化頑痰，止失紅，斂潰瘡，搽口瘡，吹喉痹，固盜汗，止遺精，治一切腫毒痔瘻，疥癩金瘡之類。</p>
<p>五倍釀法名百藥煎，與五倍同功。</p>
<p><u>蛤粉</u>　味鹹，性寒，入手太陰肺、足太陽膀胱經。清金利水，化痰止嗽。</p>
<p>蛤粉鹹寒清利，涼金退熱，利水瀉濕，治咳嗽氣逆，胸滿痰阻，水脹溺癃，崩中帶下，癭瘤積聚。</p>
<p>鍛，研用。</p>
<p><u>全蠍</u>　味辛，氣平，入足厥陰肝經。穿筋透節，逐濕除風。</p>
<p>全蠍燥濕驅風，治中風喎斜癱瘓，小兒驚搐，女子帶下諸證。此亦庸工習用之物。諸如此種，大方之家，概不取也。</p>
<p><u>殭蠶</u>　味辛、咸，氣平，入足厥陰肝經。活絡通經，驅風開痹。</p>
<p>殭蠶驅逐風邪，治中風不語，頭痛胸痹，口噤牙痛，癮疹風瘙，瘰癧疔毒，䵟斑粉刺，疳痔金瘡，崩中便血，治男子陰癢，小兒驚風諸證。此庸工習用之物。風邪外襲，宜發其表，風燥內動，宜滋其肝，表裡不治，但事驅風，欲使之愈，復何益也，愈驅愈盛，不通之極矣。</p>
<p>殭蠶燒研酒服，能潰癰破頂，又治血淋崩中。</p>
<p>蠶脫紙燒研，治吐衄便溺諸血，小兒淋漓，諸瘡腫痛。</p>
<p><u>白花蛇</u>　味鹹，微溫，入足厥陰肝經。通關透節，瀉濕驅風。</p>
<p>白花蛇穿經透骨，開痹搜風，治鼻口喎斜，手足癱瘓，骨節疼痛，肌膚麻癢，疥癩風癲之證。</p>
<p>中風病因木鬱風動，血燥筋枯，外風虛邪表閉，筋縮四肢而成。而木鬱之由，全緣水寒土濕，生髮不遂。白花蛇外達筋脈，則益其枯燥，內行臟腑，不能去其濕寒，非善品也。庸工習用諸方，標本皆背，無益於病，而徒殺生靈，甚無益也。讀柳子厚《捕蛇》之篇，至可傷矣。</p>
<p><u>烏梢蛇</u>　味鹹，氣平，入足厥陰肝經。起風癱，除疥癘。</p>
<p>烏梢蛇穿筋透絡，逐痹驅風，治中風麻痹，疥癘瘙癢，與白花蛇同。</p>
<p>風癩因風傷衛氣，衛斂營郁，營熱外發，紅點透露，則為疹，紅點不透，隱於皮里，是為癮疹，隱而不發，血熱瘀蒸，久而肌膚潰爛，則成痂癩。仲景有論及之，而後世不解，用搜風之物，枉害生靈，無補於病。諸如此類，概不足取也。</p>
<p><u>斑蝥</u>　味辛，微寒，入足厥陰肝經。消腫敗毒，利水通淋。</p>
<p>斑蝥辛寒毒烈，墜胎破積，追毒利水，止瘰癧疥癬，癰疽瘕疝，下蠱毒，開癃淋，點疣痣，消㾦㿔，解瘋狗傷。</p>
<p>斑蝥糯米同炒，去斑蝥，用米，研細，清油少許，冷水調服，治瘋狗傷，小便利下毒物而瘥。利後腹痛，冷水青靛解之。瘰癧每服一枚，不過七枚，毒從小便出，如粉片血塊而瘥。毒下小便，痛瀝不堪，宜滑石、燈心等引之使下。</p>
<p><u>蜈蚣</u>　味辛，微溫，入足厥陰肝經。墜胎破積，拔膿消腫。</p>
<p>蜈蚣辛溫毒悍，能化癖消積殺蟲，解毒蠱，治瘰癧痔瘻，禿瘡便毒，療蛇瘕蛇咬，毒瘴蛇蠱。庸工以治驚癇抽搐，臍風口噤。</p>
<p><u>青魚膽</u>　味苦，性寒，入足厥陰肝經。明目去翳，消腫退熱。</p>
<p>青魚膽苦寒，瀉肝膽風熱，治眼病赤腫翳障，嘔吐喉痹涎痰，化魚骨鯁噎，平一切惡瘡。</p>
<p><u>烏鰂魚</u>　味鹹，氣平，入足厥陰肝經。行瘀止血，磨障消症。</p>
<p>烏鰂魚骨善能斂新血而破瘀血，《素問》治女子血枯，先唾血，四肢清，目眩，時時前後血，以烏鰂魚骨、䕡茹，為末，丸以雀卵。血枯必由夫血脫，血脫之原，緣瘀滯不流，經脈莫容，烏賊骨行瘀固脫，兼擅其長，故能著奇功。其諸治效，止吐衄崩帶，磨翳障䕡瘕，療跌打湯火，淚眼雀目，重舌鵝口，喉痹耳聤，縮癭消腫，拔疔敗毒，斂瘡燥膿，化鯁止齁，收陰囊濕癢，除小便血淋。</p>
<p><u>鯪甲</u>　味辛、咸，氣平，入足陽明胃、足厥陰肝經。穿經透絡，洞骨達筋。</p>
<p>鯪甲善穿通走竄，透堅破結，開經絡關節痹塞不通，通經脈，下乳汁，透筋骨，逐風濕，止疼痛，除麻痹，消腫毒，排膿血，療癰疽痔瘻，瘰癧疥癬，奶吹乳岩，陰痿便毒，聤耳火眼，蟻瘻鼠瘡。至於癱瘓喎斜，緩急拘攣，未必能也，而引達木榮筋之藥，斬關深入，直透拳曲拘攣之處，則莫過於此。</p>
<p>病在上下左右，依其方位，取甲炒焦，研細用。</p>
<p>亦名穿山甲。</p>
<p><u>鯉魚</u>　味甘，性溫，入足太陰脾、手太陰肺、足太陽膀胱經。降氣止咳，利水消脹。</p>
<p>鯉魚利水下氣，治咳嗽喘促，水腫黃疸，冷氣寒瘕，泄利反胃，胎動乳閉。燒灰，醋和，敷一切腫毒。</p>
<p>常食鼻口發熱，助肺火。</p>
<p><u>鯽魚</u>　味甘，性溫，入足太陰脾、足太陽膀胱、足厥陰肝經。補土培中，利水敗毒。</p>
<p>鯽魚補土益脾，溫中開胃，治消渴水腫，下利便血，噎膈反胃，骨疽腸癰，疳痔禿瘡，塗久年諸瘡不差。</p>

<h1>卷七</h1>

<h2>人部</h2>
<p><u>胎衣</u>　味鹹，氣平，入足厥陰肝經。補虛傷，益氣血。</p>
<p>胎衣治男女虛勞，說起丹溪。胎妊化生，賴夫精氣，不關衣胞。成人，胎衣枯槁，精氣無存，此珠玉之蚌璞，無用者耳。而下士庸工，以此治虛勞，愚矣。其所妄作河車大造諸丸，用地黃、黃柏、龜板、天冬，瀉火伐陽，辭人近鬼，禍世戕生，毒虐千古！痛念死者，此恨無終也。</p>
<p><u>人中白</u>　味鹹，性寒，入手少陰心、足太陽膀胱經。清心瀉火，涼血止衄。</p>
<p>人中白鹹寒瀉火，治鼻衄口瘡，牙疳喉痹之證。即人溺澄清，白濁下凝者。庸工以法曬煉，而為秋石，妄作各種丹丸，瀉火伐陽，以夭人命，甚可惡也！</p>
<p><u>人中黃</u>　性寒，入手少陰心、足少陽膽經。清瘟疫，止熱狂。</p>
<p>人中黃寒涼瀉火，治溫熱誕狂。即糞清也，名黃龍湯。乃庸工習用之物，甚不足取。</p>
<p><u>乳汁</u>　味甘，性涼，入手太陰肺、足太陰脾、足厥陰肝經。清肺除煩，滋肝潤燥。</p>
<p>乳汁以肝血化於肺氣，即朱汞變為白金，養育嬰兒，滋生氣血，全賴夫此。內傷虛勞，為小兒熱吮，極佳，非尋常草木所能及也。一離人身，溫氣稍減，但存冷汁，其質寒滑滋潤，絕無補益。血得氣化，溫變為肅，暖服不熱，冷飲則涼，潤肺滋肝，是其長耳，抑陰扶陽，非所能也。</p>
<p>至乳酥、乳酪之類，冷食寒飲，極損中氣，惟塞外、西方之民，脾胃溫燥，乃為相宜，陽虧土濕，切當遠之。噎膈濕旺之病，朱丹溪以為燥證，而用乳酪，濕滋土敗，其死更速。</p>
<p>點眼病甚良，解食牛肉中毒。</p>

<h1>卷八</h1>

<h2>雜類部</h2>
<p><u>紫梢花</u>　味甘，性溫，入足少陰腎、足厥陰肝經。起痿壯陽，暖腎秘精。</p>
<p>紫梢花溫暖肝腎，強筋起痿，治遺精，白濁，陰癢，囊濕，冷帶之證。</p>
<p><u>玉簪根</u>　味辛，性寒，入足少陰腎經。化骨落牙，斷產消癰。</p>
<p>玉簪根味辛寒透骨，能落牙齒，化骨鯁，絕胎妊，散腫毒，研塗一切癰腫。作湯不可著牙，最能損齒。</p>
<p><u>鳳仙子</u>　味苦，微溫，入足少陰腎經。軟堅化骨，消癖落牙。</p>
<p>鳳仙子其性最急，能化骨鯁，落牙齒，催生產，消癖塊，與玉簪根性略同，而迅烈過之。</p>
<p>作油，以少許滴蟹上，其殼立碎，崩落釜中。</p>
<p><u>錦地羅</u>　味苦，氣平，入手少陰心經。消腫解毒，兼解瘴癘。</p>
<p>錦地羅治瘴氣癘毒，一切飲食諸毒。</p>
<p>生研，酒服、塗抹皆效。</p>
<p><u>墓田回</u>　氣平，入足少陰腎經。除崩止帶，斂血秘精。</p>
<p>墓田回治崩中帶下，收斂疏泄。</p>
<p><u>莧實</u>　味甘，性寒，入手陽明大腸、足太陽膀胱、足厥陰肝經。去翳明目，殺蛔清風。</p>
<p>莧實清利肝肺，治青盲瞽目，白翳黑花，疏木殺蟲，滑腸利水，通利大小二便。</p>
<p><u>經水</u>　味鹹，氣平，入手太陰肺、足太陰脾、足厥陰肝經。退疸去黃，止血消腫。</p>
<p>經水清熱去濕，治熱病勞復，女勞黃疸，癰疽濕癢，療虎狼藥箭諸傷。俗子以為紅鉛，制煉服餌，愚謬不通！</p>
<p><u>雞冠</u>　味苦，微涼，入足厥陰肝經。清風退熱，止衄斂營。</p>
<p>雞冠花止九竅失血，吐血崩漏淋痢諸血皆止，並治帶淋之證。</p>
<p>花與子同功。</p>
<p><u>粟殼</u>　味鹹，性澀，微寒，入手太陰肺、手陽明大腸經。收肺斂腸，止咳斷利。</p>
<p>罌粟殼酸澀收斂，治咳嗽泄利。肺逆腸滑之病，初病忌服，當與行郁瀉濕之藥並用乃可。並治遺精。</p>
<p><u>鴉片煙</u>　味酸，性澀，微溫，入手陽明大腸、足少陰腎經。斂腸止泄，保腎秘精。</p>
<p>鴉片煙收澀斂固，治泄利脫肛，精滑夢遺。本草謂鴉片即罌粟未開，針刺青苞，津出刮收，陰乾而成，名阿芙蓉。今洋船至關，多帶此物。關中無賴之徒，以及不肖子弟，宮宦長隨，優伶娼妓，以為服之添筋力，長精神，御淫女，抱孌童，十倍尋常，但壽命不永，難逃五年。此煙非延年養生之品，斷宜戒之！</p>
