<header data-type="book">
<h1>青囊全集秘旨</h1>
</header>

<h1>自序</h1>
<p>竊稽醫之為道，奧妙無窮，一十三科皆由內出，其中神化精微，非片言可明其旨者。若夫撲跌金槍，取割鉛碼，世之傳其方術者實不乏人。要知指明穴絡、按定方位者，殊落落也。多見庸流術士，詭詐欺心，假漁利而眩矜能，視生命而同草芥。抑或偏見偶存，懷怨仇而不肯就視，需索稍拂，乃袖手以旁觀。此皆失古聖之良，非仁人之用心濟世者也！余家藏秘傳青囊集一部，內載針刀灸法之巧，寒熱虛實之詳，罔不層次井井，爽若列眉。惟恁訣穴以定吉凶，按穴絡而分部位，依法施治，又何必取靈驗於他方哉！愚簡練揣摩，非敢肱經三折運用之妙，亦惟期在於一心。投軍以來，施治不一，所經針砭，應手生春。</p>
<p><u>光緒丙戌仲冬昭潭松柏林虎臣氏黃廷爵序</u></p>

<h1>凡例</h1>
<p>一是書所錄生平驗良方，揀選精要，所用者獨存一覽無餘他求矣。</p>
<p>一藥性只一、二句，多則三、四句，用者必詳。</p>
<p>一接骨難道說，古稱挪接。定要分清斷處，前後高低，總要崩低處套正，方可挪捻，腕節皆同，響聲不住方可接上，形復如初。觀察左右一樣平正，方可罨藥。用毒油膏敷上，皮紙包纏，再加杉木皮去粗宜軟，布帛條捆夾綁上，或竹片亦可。如不平正，皮紙摺貼，外用綿帶加捆。過七日開看，接骨如初方可松夾。尚有響聲不平，照前罨藥，再夾數日。如腕節挪套只可以布帛包纏，不要上夾。細心照法，視若權衡。</p>
<p>一取鉛碼槍子剖毒，總之刀針砭刺，定要分清穴絡經路。針刀不宜橫刺．查明逐日人神、血忌。若不查明，恐傷血絡，徒勞而無功也。若鉛碼槍子，隨傷隨取無忌。</p>
<p>一撲跌之人不可專攻瘀血，總求其源，固其本。用四物加蘇木、粉紅花兼調瘀血，照部位、穴路分加引經藥主之。老幼虛弱之人，用四物或獨參湯，或八珍加蘇木、紅花可也。</p>
<p>一撲傷吐血不可服參，亦不可破血，宜犀角地黃湯入歸尾、甘桔、紅花、陳皮、童便下。或涼血地黃湯二三劑後，連服十三太保、奪命丹，數劑而愈。</p>
<p>一撲跌時不省人事，何其絕速，曰：血閉也。如心頭尚有熱氣，腳大拇指後衝陽、太衝、太谿三脈有動，速將傷人踞地盤坐，將辮捻提，將傷人大便抵緊為要。速取半夏、南星末吹入鼻中，或二烏散急救之。或將稻草一二把，燒至避風靜室，去灰傾尿一桶，上設席一床，以傷人面撲向地，扶好，被蓋，將糞門抵緊，旁人不得高聲，恐魄散難救，使熱氣衝開毛竅，氣行血活。如牙關緊閉，打去一齒，抖蜜蔥汁擦入兩腮、牙根處，取鬧楊花吹入喉內。活後用甘草汁和薑汁並灌解之。或用半夏、南星末，男左女右填塞鼻門，隨服白馬尿一二匙，和白糖更妙。或童便、大人溺，宜多服以免汙血攻心。虛老人四物煎汁鼻下薰之，服加蘇木、紅花，鼻吹七釐，奪命丹兼可服也。如皮傷肉破，玉真散調塗。凡新損陳傷傳經之後，為嘔吐難醫。藥雖無假，亦難起死回生也。</p>
<p>一金槍之傷，恐血出多，四物加味或八珍兼理，不可破氣血為要。如外感風寒九味羌活、沖和湯分引經藥主之。倘出血不止，急選卷後止血方。按四卷金槍神藥治之，萬無一失。</p>

<h1>上卷</h1>

<h2>藥性賦</h2>
<p>藥有五味，性有溫涼。方知加減，變化多端。題綱總領，熟讀宜參。通經活血，劉寄奴草；行血定痛，王不留行。法煉廣生，花雨石不可多服；惡血攻心，得馬溺真似活神。半夏止血，能走能散；土鱉活血，通絡通經。骨碎補主血氣，斷筋折骨皆有效；川續斷理筋骨，補肝益腎用之靈。澤蘭行損傷之血，紫草通九竅之關。桑寄療疼舒筋，活血有靈；白芨理敗死肌，並塗火傷。然銅火煅醋炙，挪接醫骨有效；海馬足膝骨痛，舒筋骨斷有靈。威靈仙醫折傷頗效；山甲珠達病所稱奇。乳香定諸經之痛，已潰忌服；沒藥醫瘡腐之膿，血虛忌之。石菖蒲利竅除腫；遠志肉上達於心。麒麟結和血汙之上劑，真同仙授；五靈脂理氣血之刺痛，如用手拈。紅花破血，多服不止而斃；田七散血，重用化血而亡，山稜破一切血凝氣滯而有據；莪朮破一切瘕症達竅而有恁。當歸拈痛，頭能止血，尾梢破血，全用安營。蘇木醫新舊之惡血，能升能降；沉香除心腹之氣逆，降亦能升。桃仁緩肝氣而生新血；生地涼血脈並定痛寧。茜根有名血見愁，蚤休七葉草河車。金銀花消熱毒故無禁忌；自芷梢排瘡膿妙且生肌。天南星、生半夏童便調服可活，塞鼻門神效方奇。生川烏和草烏並星半研兌，合敷尤良。川仲除腰膝骨冷；破骨紙補骨有靈。五加皮腰膝骨痛之用；海桐皮逐風濕宜求。槐實、槐花而涼血；辛夷木筆竅能通。黃柏消瘀熱之上劑；黃芩活水而治乳癰。知母能除熱便；貝母潤肺消痰。麥冬調中定魄；天冬益氣養肌。生黃耆排膿托裡；西黨參補氣培中。白朮能治頭眩，益津補土；藁本可通頭頂，而至會陰。桂枝通節而止汗；厚朴益氣而寬腸。荊芥血暈治頭痛，炒黑止血；薄荷破血而通關，亦搜肝風。羌活除百節之骨痛，防風搜肝肺之邪風。桔梗消瘀療脅疾，蒼朮除濕解鬱靈。木通利竅施用，通草除閉難行。元參除無根浮游火毒；前胡療乳膈肺熱極靈。防己開竅療濕熱；秦艽風濕遍宜求。生梔子涼心腎，鼻衄可服，炒黑亦理三焦；紅柴胡退諸熱，少陽要領，酒炒活血平肝。枳殼破至高之氣，有傳道之官；枳實破積風之勢，有倒劈之威。人參補元氣，吐血禁用；丹參破宿血，腹痛有靈。首烏寬筋治損；茯苓利水寧心。赤芍除紅退腫；白芍和中斂陰。香附血中氣藥；藿香快氣和中。川芎祛風醫頭痛；明麻通血定諸風。沙參退皮間邪熱，補陰而治陽；苦參救金槍有功，非大熱敢投。消瘀惡血須用羚羊角；治腰膝冷快覓真鹿茸。丹皮排膿破血；連翹清熱諸經。板藍、射干喉紅咽腫；豆根、牛子消毒利疼。明雄化血成水；赤豆散毒如神。木瓜止嘔醫腳氣；澤瀉治乳而生陰。地榆止金槍之血熱，汁塗火瘡極妙；麻油調諸藥解燥殺蟲，除毒尤良。白蠟生肌而潤燥；黃蠟定痛宜合膏。花粉、黃柏生津降火；芙蓉、茶花兼調火瘡。牡蠣澀腸醫腹脅：朱苓解毒利便難。車前利便而明目；苡米益氣而舒筋。栝蔞退熱聖藥；蟲退乳痛腸鳴。胡麻療風，生肌長肉；僵蟲搜風，行走如雲。甘松、山奈心腹痛，理氣醒脾頗效；大茴小茴治陰疝，能暖丹田。鬱金、薑黃祛風，而破血速；降、沉、檀行瘀，可斂金槍。青皮兼能發汗，性頗猛銳：陳皮覺無峻烈，頗得中和。阿魏氣臭而止臭；藤黃消瘀而退疼。梅片能走而能散；神丹能降亦能升。熊膽涼血喉眼寶；珍珠敗肌可轉鮮。虎骨驅風而壯骨；犀角定狂而療風。協和諸藥甘草無二；發邪避惡硃砂無雙。海螵蛸燥膿收水；桑螵蛸益精何憂。箭頭入肉醫附骨，並是推車客；惡毒醫瘡敷跌損，本草即蟾酥。白蜜和藥而解毒；黃丹治痛炒黑傳。密陀僧鎮心，合膏主滅斑痕；橄欖骨磨塗，面傷無跡無蹤。秦王試劍一名鹿蹄草；紫貝龍芽又名蛇含。落得打即名碎碎紛，實名長生草；血山七又名金不換，即是草河車。象皮合金槍之要藥：龍骨長肌肉之仙丹。此其大略而言，以便學者熟記。</p>

<h2>血忌圖</h2>
<p>行刀須明血忌</p>
<p>正醜二未三寅</p>
<p>四申五卯六酉</p>
<p>七辰八戌九巳</p>
<p>十亥十一逢午</p>
<p>臘子不宜針刺</p>

<h2>尾神圖論（行年至此不犯則吉）</h2>
<p>尾神圖，一歲起坤，二歲到震，十歲至中宮，數順情幾十幾歲，到處不犯則吉，行刀針灸均不可犯部位。聖人所起，合看逐日人神血忌，查閱天干部，合之吉則吉。</p>
<p>尾神所載有根由；</p>
<p>坤內外踝聖人遊。</p>
<p>震宮牙端分明記；</p>
<p>巽位還居乳口頭。</p>
<p>中宮肩骨連尾骨；</p>
<p>面目還從乾上留。</p>
<p>手肘兌宮難砭灸；</p>
<p>艮宮腰項體也須。</p>
<p>離宮膝脅針刀免；</p>
<p>坎肘還連肚足求。</p>

<h2>天干論</h2>
<p>甲不治頭乙耳喉；丙肩丁背與心求。</p>
<p>戊巳脾腹庚腰肺；辛膝壬當腎脛收。</p>
<p>癸日不宜治手足；十干不犯則無憂。</p>

<h3>人神地支論</h3>
<p>子踝醜腰寅在目；卯面辰頭已手屬。</p>
<p>午胸未腹申在心；酉背戌頭亥股錄。</p>

<h2>逐日論</h2>
<p>初一十一二十一，大拗鼻頭手小指。</p>
<p>初二十二二十二，外踝髮際外踝位。</p>
<p>初三十三二十三，股內牙齒足股肝。</p>
<p>初四十四二十四，腰間胃腕陽明手。</p>
<p>初五十五二十五，口舌遍身陽明足。</p>
<p>初六十六二十六，手掌胸前又在腸。</p>
<p>初七十七二十七，內踝氣衝並在膝。</p>
<p>初八十八二十八，十腕股內並陰屬。</p>
<p>初九十九二十九，在尾在足膝脛後。</p>
<p>初十二十三十日，腰間內踝足覺覓。</p>
<p>太古相傳真莫犯；世間不犯皆為吉。</p>

<h2>大赦圖論</h2>
<p>其法，年上起月，月上起日，如正月建寅，寅上起日，一日一位數，順行遇吉則吉，亦可以迴避出外，可定吉利，萬無一失。</p>
<p>子午皇恩大赦圖，丑未雙雁入青雲。</p>
<p>寅申登甲秩馬上，巳亥弓弦半折明。</p>
<p>辰戎帶枷出入獄，卵酉麻繩自縛身。</p>

<h2>腳三脈圖</h2>
<p>衝陽脈腳背上五寸骨間動上，去骨三寸屬土。蓋土者萬物之母，故脈不衰胃氣猶在，病雖危猶可生也。</p>
<p>太衝脈足大拇指後二寸。東方木生物之始，不宜衰，則生生之機尚有望也。女人專以此脈為主。</p>
<p>太谿脈腎，在足內踝骨跗後孤骨陷中動。蓋水者天一之元，不宜衰，尤未絕即危尚可活也。</p>

<h2>接骨治傷方藥</h2>
<p>黃氏青囊全集秘旨</p>
<p>接骨藥法　治一切取割鉛碼、槍子、硫黃、硝毒、火瘡肉爛，挪接痛甚等症，神驗神效。</p>
<p><u>異人傳授毒油神膏</u>　除紅退腫止痛妙極。凡治一切金槍損破，殺蟲止臭，退紅除腫，屢驗如神。此膏頭部禁用，入口傷人，慎之慎之。</p>
<p>香油（一斤）　藤黃（二兩，熬枯，去渣）　入白蠟（二兩）　亦有加紫草、蘇木、生地、紅花、川柏、歸尾，接骨至妙。涼血生肌入四六、甘石、龍骨粉、象皮、云連、川柏、白芷。拔毒生肌入甘石　紅粉。塗火瘡入輕粉、梅片。</p>
<p><u>聖靈接骨丹</u>　一取老傷鉛碼先敷此藥，半日去藥行刀挪接，敷過半日再挪接，接後用毒油膏加味敷。</p>
<p>生半夏（八錢）　生南星（五錢）　生川草烏（各三錢）　白細辛（二錢）　胡椒（二錢）　蟾酥（一錢酒化）</p>
<p><u>二烏散</u>　不省人事吹鼻，服九分。酒兌接骨服，接後用甘草汁、薑汁和服，急灌解，不可亂用。接骨先敷半日，去之後挪接，照聖靈丹法。</p>
<p>鬧楊花（五分）　胡茄子（一錢）　薑黃（一錢）　麻絨（一錢）　生川草烏（各一錢）</p>
<p><u>儒門事親接骨方</u></p>
<p>靈脂（五錢）　白芨（一兩）　小茴（二錢）　乳沒（各五錢）　米炒焦煮粥，香油合調。</p>
<p><u>夜合木接骨方</u></p>
<p>合木皮（一兩）　歸尾（一兩）　然銅（五錢，醋炙火煅）　乳香（五錢）　川芎（三錢）　赤芍（八錢）　白芥（五錢，炒黑）黃蠟酒化，汁服渣敷。</p>
<p><u>續斷丹散</u></p>
<p>續斷（五錢）　骨碎（五錢）　甜瓜子（五錢）　紅花（五錢五分）　然銅（三錢）　田山七（一錢，研）　八稜麻（五錢）　角弓膏（三錢）　白蠟酒化，汁服渣敷。</p>
<p><u>四生散</u></p>
<p>生川草烏（各二錢）　竹子青（五錢）　防風（三錢）　紅花（二錢）　續斷（三錢）　骨碎（三錢）　赤芍（三錢）　生半夏（一錢五分）　生南星（一錢五分，炒）　紅曲（二錢五分）　川柏（三錢）　生地（一兩）　灰面（五錢，炒黑）　蔥汁和灰面紅曲，熬汁，調服渣敷。</p>
<p><u>碎骨斷筋接骨方</u></p>
<p>骨碎（五錢）　歸尾（一兩）　川芎（三錢）　乳末（一兩）　嫩松香（五錢）　廣木香（一錢五分）　白蠟（一兩）　古錢（三文，火煅醋炙）　香油熬化，蠟調敷。</p>
<p><u>無名異散</u></p>
<p>無名子（八錢）　甜瓜子（五錢）　乳沒（各六錢）　牡蠣粉（五錢）　黃米（炒黑）　熬膏，和藥貼之，包捆。</p>
<p>又方</p>
<p>螃蟹抖溶，汁服渣敷。</p>
<p>又方</p>
<p>海桐皮（二兩）　鮮用抖汁服，渣敷。</p>
<p>又方</p>
<p>檬櫳樹根皮（一兩）　水桐樹根皮（一兩）　苧根（一兩）　榆樹皮（八錢）　桐子樹根皮（五錢）　楊柳葉（六錢）　或紅根皋弓取麵皮（一兩）　或魚漂煮汁搗溶，入灰面一兩炒黑、喬麥粉一兩炒黑熬膏，合抖敷捆。</p>
<p><u>接骨服藥方</u></p>
<p>《千金秘訣》異人傳「海上方」。</p>
<p>燒黃麻（五錢）　燒散發（五錢）　乳沒（各三錢）　研，酒兌服。</p>
<p><u>硃砂散</u></p>
<p>真豆砂（一錢）　皋弓角（二錢，燒）　研，酒兌服。</p>
<p><u>趙真人方</u>　刀傷火瘡，香油調敷</p>
<p>白芨（一兩）　然銅（二錢，醋炙火煅）　石膏（一錢五分，醋炙火煅）　研，酒兌服。</p>
<p><u>接骨斷筋報捷方</u>　無力不服可</p>
<p>真龍骨（四錢）　象皮（二錢五分，炒）　虎骨（六錢）　猴骨（三錢）　然銅（一錢，火煅醋炙）　骨碎（五錢）　活土鱉（七隻）　抖研，加參蒸水，酒兌。</p>
<p>附方</p>
<p>鶚骨（三錢）　或鷹骨（醋炙）　古錢（十枚，醋炙淬火）　紅花（一錢五分）　甜瓜子（二錢）　乳沒（各二錢）　共研酒兌</p>
<p>一嫩松樹根（半斤），熬汁酒兌。</p>
<p>一糞磚（醋炙）　便屑　老古錢（醋炙）　研，酒下三分。</p>
<p>一赤屑銅（醋炙碎如粉）　絲頭子（燒灰）　研，酒兌五分。</p>
<p>一破損內有碎骨難出，披針刺開鉗取，如難盡出口小，用七賢丹化腐拔提膏蓋。或用田螺抖溶，酒糟敷，中留一孔。呂祖傳貼其骨自出。</p>
<p>吹藥法方</p>
<p><u>通關散</u></p>
<p>不省人事</p>
<p>白細辛（一錢）　牙皂（一錢）　石菖（一錢五分）　生半夏（三錢）　生南星（一錢五分，炒研）　蟾酥（一錢五分）　元寸（八分）　合乳（收聽用）</p>
<p><u>七釐散</u>　吹服每七釐或搽塗可。</p>
<p>田山七（一錢）　豆砂（五分）　梅片（五分）　乳沒（各一錢）　兒茶（一錢）　紅花（一錢五分）　猴結（一錢五分）　研末</p>
<p><u>八釐散</u></p>
<p>巴豆霜（一錢）　乳沒（各一錢五分）　生半夏（三錢）　西砂頭（一錢五分）　歸尾（五錢）　正明雄（一錢五分）　土別（九隻）　香瓜子（二錢）　血竭（一錢五分）　無真山羊血或田七亦可，研、酒兌八分。</p>
<p><u>九分散</u></p>
<p>制馬前子（三錢，去毛）　麻黃（二錢，去節）　乳末（五錢）　合研，重便下（九分）。</p>
<p><u>鬧羊花散</u>　不省人事，遍身如冰，將藥吹入鼻內。牙關緊閉打去一齒，吹入喉內，三分，急活用甘草水薑汁解醒，鬧羊花俗名老蟲花。</p>
<p>鬧羊花（三錢）　生半夏（二錢）　生川草烏（各三錢）　桃枝（四錢，切碎）　馬前（二錢，去毛）　生南星（一錢五分）　合研極細，曬乾再乳，任用。</p>
<p><u>玉真人散</u>　如破傷風酒調塗，每服三錢酒兌，頭面最宜。</p>
<p>白附子（五錢）　生南星（二錢）　防風（五錢）　明麻（五錢）　羌活（五錢）　白芷（一兩）　研細</p>
<p>附方：遍體可用。</p>
<p>白木耳（一兩，焙）　苧麻（五錢，燒）　共研，蘇木一兩煎水服或韭汁、童便兌。</p>
<p>又方　手足處最妙。</p>
<p>松根節一斤切片炒至煙盡，嫩松根亦可，酒煮汁服。</p>
<p>又方</p>
<p>仙桃草　此草出廣西陽朔一帶，八九月內採之。陰乾為末，酒下一兩。</p>
<p><u>四物湯</u>　遍身痛，血虛之人可也。</p>
<p>秦尾尖（三錢）　川芎（一錢五分）　赤芍（一錢五分）　生地（三錢）　加蘇木、紅花各一錢，氣虛之人或入西洋參（五錢），可也。</p>
<p><u>八珍湯</u>　遍身傷，老人氣弱氣虛之人可用。</p>
<p>西洋參（一錢五分，腹痛用丹參）　漂蒼朮（一錢五分）　茯苓（二錢）　甘草（八分）　歸尾（三錢）　川芎（一錢五分）　赤芍（一錢五分）　生地（三錢）　入蘇木（一錢），紅花（一錢）。</p>
<p><u>犀角地黃湯</u>　吐血、下血或狂，大熱不宜，破氣用之。</p>
<p>明犀牛角（二錢）　生地（三錢）　丹皮（一錢五分）　黃芩（一錢五分）　紅胡（一錢）　生梔子（抖一錢），或加歸尾（三錢）、甘草（八分）、桔梗（一錢一分）、紅花（一錢）、陳皮（一錢）、童便（一杯，兌服）。</p>
<p><u>涼血地黃湯</u>　血分有熱及鼻血不止，吐血、下血、腹痛可用。</p>
<p>小生地黃（五錢）　牡丹（一錢五分）　生梔子（一錢五分）　黃芩（一錢）　歸尾（一錢五分）　丹參（二錢）　槐花（三錢）　生地榆（一錢）　辛夷（一錢）　童便（兌服）　或白馬尿極妙</p>
<p><u>十三太保丸</u>　遍體酒兌</p>
<p>羌活（一錢五分）　杜仲（三線）　續斷（三錢）　防風（三錢）　官桂（一錢）　臺烏（一錢）　靈仙（二錢五分）　升麻（一錢）　骨碎（三錢）　乳香（二錢五分）　破固紙（一錢五分）　川牛膝（二錢）</p>
<p><u>追魂復還奪命丹</u>　遍用。腹痛欲死，用此神效。</p>
<p>山羊血（三錢）　丹參（三錢）　紅花（一錢五分）　生地（三錢）　山稜（一錢五分）　田山七（一錢）　莪朮（一錢五分）　丹皮（一錢五分）　桃仁（七粒，去皮尖）　歸尖（五錢）　茜根（一錢）　烏藥（一錢）　瘀血凝滯在腹作痛，酒兌、童便下，馬溺和白糖兌服尤妙。</p>
<p><u>固真湯</u></p>
<p>劉寄奴（三錢）　王不留（一錢五分）　羌活（一錢五分）　防風（一錢五分）　建菖（一錢五分）　白芷（一錢五分）　生地（三錢）　當歸（五錢）　廣皮（一錢五分）　獨活（一錢）　秦艽（三錢）　土鱉（七隻）　續斷（三錢）　蘇節（為引）　酒兌。老損加甲珠，手足加桂枝。</p>
<p><u>起死回生丹</u></p>
<p>土鱉（十一隻）　乳香（二錢）　豆砂（一錢）　元寸（二分）　巴霜（三分）　山羊血（一兩）　真血竭（五錢）　合研，童便下，每一錢五分，小兒老弱人每五分。</p>
<p><u>救命奪魂丹</u></p>
<p>歸尾（一兩五錢）　紅花（三錢）　土鱉（十一隻）　兒茶（三錢）　血竭（五錢）　赤芍（八錢）　青皮（二錢）　粉草（一錢五分）　元寸（三釐）　人中白（陳尿桶底下，壹兩）　合研，馬溺調拌，陰乾數次，童便下，每一兩。</p>
<p><u>奪命丹</u></p>
<p>陳糞磚（一兩五錢，煅、醋炙碎屑）　精人中白（五錢）　生半夏（二錢）　細辛（二分）　金箔（五分，火煅醋炙）　豆砂（一錢五分）　紅地龍（三十六條，小燈芯大，黃土內取之，紅色一寸長）　辰砂（一錢）　山羊血（一兩五錢）　粉草（一錢五分）　骨碎（五錢）　上元寸（五釐）　共研製，童便下。研，馬溺拌，陰乾再研，數次更好。每兩酒下。</p>
<p><u>救命回生丹</u></p>
<p>田山七（三錢）　母丁（一粒）　回生草（一兩）　官桂（一錢）　血竭（五錢）　上元寸（三釐）　廣香（一錢）　仙桃草（二兩五錢）　馬溺拌數次，陰乾再研，酒、童便下三錢。</p>
<p><u>三黃寶蠟丸</u>　黎洞丸　二方治撲跌金槍，其妙無窮，但藥味難以精治，故未錄方。</p>
<p><u>加味四物湯</u></p>
<p>香附（一錢五分）　烏藥（一錢）　楂炭（一錢）　砂仁（八分）　白朮（一錢）　川芎（一錢）　當歸（五錢）　酒芍（一錢）　生地（三錢）　粉草（八分）</p>
<p>頭部　面破生半夏研、水塗，廣羊皮金剪貼；橄欖磨塗，烏金紙貼聽自落。</p>
<p>頭面諸傷破損出血，急嚼生薑敷止，然後罨藥，亦免傷口受風，良方。</p>
<p><u>九味羌活</u>　即和沖湯，並治頭風。</p>
<p>羌活（一錢五分）　防風（一錢五分）　酒芩（一錢）　白芷（一錢五分）　川芎（一錢）　蒼朮（二錢）　生地（三錢）　細辛（一分）　甘草（七分）</p>
<p>項後頭頂加藁本，頭兼足冷氣逆，倍細辛，加麻黃。耳後加紅胡，頭痛有火熱渴，倍酒芩加石膏。頭痛身重倍蒼朮。又兼吐涎沫、手足厥冷加吳萸。陰黃加附子去酒芩。兼吐痰涎、四肢不冷加法夏。大便閉加生軍。太陽頭額眼目胃倍白芷加葛根、石膏。</p>
<p><u>荊防靈仙散</u>　頭痛頂疼。</p>
<p>荊芥（一錢五分）　防風（一錢五分）　靈仙（三錢）　川芎（一錢）　當歸（三錢）　藁本（二錢）　薄荷（八分）　羌活（一錢五分）　陳皮（一錢）　白芷（一錢五分）　乳沒（各一錢五分）　僵蟲（一錢五分）　粉草（八分）</p>
<p><u>生耆靈仙湯</u>　頭痛、眼癢、流淚，並治眼目。</p>
<p>生黃耆（一錢五分）　當歸（三錢）　川芎（一錢五分）　酒芍（一錢五分）　生地（二錢五分）　藁本（一錢）　茯苓（一錢五分）　蒼耳（二錢五分，炒）　明麻（一錢）　薄荷（一錢五分）　蔓京（一錢五分）　西黨（四錢）　白菊（一錢五分）　蒺藜（一錢五分）</p>
<p><u>六味地黃丸</u>　血虛</p>
<p>熟地（八錢）　淮山（五錢）　茯苓（二錢五分）　丹皮（一錢五分）　澤泄（一錢）　棗皮（八分）　眉稜骨痛去棗皮，虛寒加附桂；腹痛加丹參、淮膝；口渴加五味。</p>
<p>眼部　傷時艾煮雞蛋去殼再煮，用蛋揉眼，去瘀血，亦有加紅花、歸尖、生地同煮揉後再煮，再揉，水蒸氣洗。</p>
<p><u>眼藥</u>　附</p>
<p>生白礬（一分）　真明雄（一錢）　小云連（一錢）　大梅片（一錢五分）　熊膽（一錢）　上元寸（二分五釐）　飛甘石（二錢）</p>
<p><u>荊防白菊散</u>　散腫除痛服。</p>
<p>荊芥（一錢五分）　防風（一錢五分）　白菊（三錢）　西羌（一錢五分）　僵蟲（一錢五分）　炒歸尾（三錢）　赤芍（一錢一分）　穀精（一錢五分）　粉草（五分）　蛇蛻（一條）　焙枯研</p>
<p>起翳加青箱、木賊，矇加蒙花，傷痛加日月砂，腫痛加苦參，熱甚可亦加元參、連翹、艾葉。</p>
<p><u>敷藥法</u>　口嚼敷尤妙。看傷之大小酌量，亦入白芷去銀花。</p>
<p>歸尾（一兩五錢）　生地（一兩五錢）　紅花（三錢）　川柏（五錢）　銀花（一錢）　拔瘀血，取牛口涎調半夏末塗，神效。南瓜瓤子青絹包揉。若誤割喉舌半斷，並用前五味口嚼敷之，神效。</p>
<p>舌斷熬膏噙之，或好人口嚼溶，送入病人口內，自噙更妙，又再附藥味分數。割頸嚼敷牙端根齒可。</p>
<p>歸尾（一兩五錢）　生地（一兩五錢）　白芷（一兩）　紅花（三錢）　川柏（五錢）</p>

<h2>牙端部</h2>
<p><u>六味湯</u></p>
<p>青皮（一錢）　生地（三錢）　升麻（一錢）　荊芥（一錢）　粉草（五分）　石膏（一錢五分）</p>
<p>上正中加連、麥，下正中加知、柏，上左加枳殼、大黃，下左加紅胡，</p>
<p>上右加羌活、龍膽，下右加桔梗、黃芩，上左右加川芎、白芷，下左右加白芍、茯苓。</p>
<p>青竹葉熬汁，入白鹽、薑汁再熬成膏，塗搽。</p>
<p><u>玉帶仙膏</u></p>
<p>龍骨（二兩）　宮粉（一兩）　月石（五錢）　梅片（五錢）　元寸（五分）　黃蠟（四兩）　提淨開水化溶，切勿入火。將藥味研細，入蠟和勻，竹片開入紙上。如凝，開水熏氣使軟，再括紙上均勻剪貼，收用。不可泄氣。臥時椒衣水嗽口，將條貼之，次早取看，毒重者黑，輕者黃。如傷口貼水熏透軟不可見火，一切齒痛拔毒神方。</p>

<h2>喉部（誤割方　附眼部）</h2>
<p><u>加減消風敗毒散</u></p>
<p>荊芥（一錢）　桔梗（二錢五分）　前胡（一錢五分）　薄荷（一錢）　生地（二錢）　防風（一錢五分）　甘草（七分）　羌活（一錢五分）　歸尾（二錢五分）　紅花（一錢）　赤芍（一錢五分）　酒芩（一錢）</p>
<p>排膿加生耆、白芷，口乾加花粉，即清涼散是。熱甚加元參，腫紅加青魚膽。</p>

<h2>手部（肩臂肘痛）</h2>
<p><u>桑枝秦艽湯</u></p>
<p>鮮桑枝尖（每歲一寸）　秦艽（三錢）　明麻（一錢五分）　廣皮（一錢）　當歸（三錢）　川芎（一錢）　羌活節（三節）　小桂枝（二錢）　桔梗（二錢）　甘草（一錢）　皂刺（二錢）</p>
<p><u>靈仙楓藤湯</u>　痛腫</p>
<p>靈仙（五錢）　楓藤（三錢）　桂枝（一錢五分）　石菖（七分）　升麻（八分）　細辛（二分）　桔梗（一錢五分）　羌活（一錢五分）　防風（一錢五分）　檳榔（一錢）　全皮（一錢）　草節（八分）　乳沒（共二錢）　赤芍（一錢五分）　生地（二錢）</p>
<p>老損加甲珠（一錢五分）　肘加酒芩（一錢）　北召　白芷　歸尖　內紅消。骨損加海馬（一條，炙研），然銅（一錢，醋炙火煅）　骨碎（三錢）</p>
<p><u>衛生濟世湯</u>　班肩損骨</p>
<p>劉寄奴（二錢）　乳沒（共二錢）　羌活（一錢五分）　當歸（三錢）　骨碎（二錢）　紅柴胡（一錢）　山甲珠（一錢五分）　白芷（一錢五分）　玉豐（二錢）　桂枝（一錢五分）　皂刺（一錢五分）　草節（一錢）　酒煎，入元寸乳細，兌服。</p>

<h2>兩脅部</h2>
<p><u>疏肝散</u>　此散治左脅痛。</p>
<p>紅柴胡（一錢五分）　赤芍（一錢五分）　陳皮（一錢）　川芎（一錢）　香附（三錢）　枳殼（一錢）　粉草（八分）</p>
<p><u>推氣散</u>　此散醫右脅。</p>
<p>片子姜（五錢）　鬱金（一錢）　枳殼（八分）　桔梗（一錢）　桂心（一錢）　粉草（八分）　廣皮（八分）</p>
<p><u>柴胡片姜散</u>　兩脅堅硬兼腹痛瘀凝。</p>
<p>歸尖（二錢五分）　赤芍（一錢五分）　紅柴胡（一錢）　片姜（三錢）　桃仁（十一粒）　紅花（一錢）　花粉（一錢五分）　山稜（一錢）　甲珠（一錢五分）　石菖（一錢）</p>

<h2>腰部</h2>
<p><u>人參順氣散</u>　偶感風寒。</p>
<p>西黨（五錢）　川芎（一錢）　藿梗（一錢五分）　白朮（二錢）　廣皮（一錢）　枳殼（一錢）　臺烏（一錢五分）　白芷（一錢五分）　麻絨（七分）　北姜（一錢）　甘草（八分）</p>
<p><u>敷法</u>　風寒老損</p>
<p>生川草烏（各五錢）　良鹽（一錢五分）　胡椒（一錢五分）　羌活（五錢）　防風（五錢）　生薑（一兩）　蔥白（一兩）　灰面（炒黑）　大楓子（三錢，去殼）　研，醋炒調敷。</p>
<p>又方　一切老損，至妙神方。</p>
<p>生川草烏（各五錢）　蒼朮（五錢）　西硫黃（三錢）　皂牙（三錢）　細辛（一錢五分）　鬧楊花（一錢五分）　研細，入元寸等，用皮紙包成條，燒燃隔蒜片灸之。</p>
<p>又方　手足痛彎亦效。</p>
<p>生川草烏（各三錢）　薑黃（一錢五分）　生半夏（二錢五分）　五倍子（一錢）　內消紅（二錢）　山奈（一錢五分）　良薑（一錢五分）　灰面（炒黑），薑蔥抖汁，酒調合敷。</p>
<p><u>救急方</u></p>
<p>川仲（三錢）　破紙（一錢五分）　肉桂（一錢五分）　首烏（一錢五分）　續斷（三錢）　當歸（五錢）　川芎（一錢五分）　北姜（二錢五分）　臺烏（一錢五分）　酒煎</p>
<p><u>靈仙杜故湯</u>　新損。</p>
<p>靈仙（三錢）　川杜仲（三錢）　破紙（一錢五分）　骨碎（三錢）　臺烏（二錢）　茴香（一錢）　乳沒（各一錢五分）　然銅（一錢火、醋炙）　酒煎</p>
<p><u>濟生枸杞蓯蓉湯</u>　老損虛弱。</p>
<p>制大云（五錢）　枸杞（三錢）　青鹽（一錢五分）　建菖（一錢五分）　防風（二錢五分）　川杜仲（五錢）　白木耳（一錢五分，焙研另兌）　菟絲餅（二錢）　骨碎（三錢）　官桂（一錢）　臺烏（一錢五分）　續斷（三錢）　制首烏（一錢）　用酒煎</p>

<h2>腹痛</h2>
<p><u>烏藥沉香散</u>　瘀凝氣滯。</p>
<p>臺烏（一錢五分）　沉香（一錢）　乳沒（共二錢）　鬱金（一錢）　蒼朮（三錢）　藿香（二錢）　赤苓（一錢五分）　伏毛（一錢）　官桂（一錢）　青皮（一錢）　廣皮（一錢）　楂肉（一錢五分）　元胡（二錢五分）　草節（一錢）</p>
<p>瘀血不行加桃仁、紅花、王不留，大便閉加生軍，凝結成團加山稜、莪朮、元寸、硝黃，小便閉加木通、車前。</p>
<p><u>逐瘀湯</u>　酒兌。</p>
<p>劉寄奴（二錢）　茜根（一錢）　王不留（一錢五分）　漆渣（八分，可炒盡煙）　歸尾（三錢）　赤芍（二錢）　生地（二錢）　桃仁（七粒）　紅花（一錢）　紫草（一錢）　楂肉（一錢五分）　青皮（一錢）　蘇木（一錢五分）</p>
<p><u>十香丸</u>　氣弱人忌用。</p>
<p>沉香（一錢）　檀香（五分）　母丁（一粒）　廣香（八分）　乳末（一錢五分）　檳榔（一錢）　茯苓（一錢五分）　枳殼（一錢）　臺烏（一錢五分）　官桂（八分）　腹毛（五錢）　藿梗（三錢）　青皮（一錢）</p>
<p>小腹脹痛加小茴，研、酒下三錢。</p>
<p><u>散瘀活血湯</u>　少林寺神效方。</p>
<p>當歸（三錢）　澤蘭（一錢）　桃仁（七粒）　紅花（一錢）　川芎（一錢）　蘇木（一錢五分）　丹皮（一錢）</p>
<p>上至頭頂後加藁本，下至會陰。脅加白芥，班頂加皂刺、甲珠、元寸。胸加枳殼，手骨痛加羌活、秦艽、桔梗。足加川膝，遍身筋骨加續斷、桑寄生。喉加甘、吉。氣加香附、臺烏。肩背加皂刺，心加建菖、良薑。頭加羌活，腰加杜仲、故紙、肘加桂枝。咳逆加薑汁、蒼朮、樸、陳。左脅加紅胡，老積加三稜、莪朮、甲珠聚結宜。右脅加片姜。</p>
<p><u>大成湯</u>　便閉腹痛隨手而應。</p>
<p>根樸（一錢五分）　明粉（八分兌）　生軍（三錢）　枳殼（一錢）　歸尖（三錢）　木通（一錢五分）　紅花（一錢）　廣皮　（八分）　甘草（七分）　蘇木（一錢）</p>
<p><u>復元活血湯</u></p>
<p>甲珠（一錢五分）　栝蔞子（二錢）　紅胡（一錢）　桃仁（九粒，去皮尖）　紅花（一錢）　生軍（三錢）　甘草（七分）　全歸（三錢）</p>

<h2>腳部</h2>
<p><u>海馬獨活湯</u></p>
<p>大海馬（一條，炙焙研）　獨活（一錢五分）　秦艽（三錢）　防己（二錢）　續斷（三錢）　然銅（一錢，火、醋炙）　當歸（三錢）　加皮（一錢五分）　苡米（三錢）　宣瓜（一錢五分）　桐皮（一錢五分）　川膝（一錢五分）　甘草（八分）　濕重加蒼朮（三錢）　升麻（一錢）　痛甚加乳沒（各一錢），老積加甲珠（一錢五分）、元寸（一釐）</p>
<p><u>當歸拈痛湯</u>　濕熱紅腫潰爛酒兌。</p>
<p>歸尾（五錢）　羌活（一錢五分）　防風（一錢五分）　粉葛（一錢）　升麻（一錢）　蒼朮（三錢）　白朮（三錢）　朱苓（二錢）　澤泄（一錢五分）　苦參（一錢）　酒芩（一錢）　川柏（一錢五分）　知母（一錢五分）　西茵陳（一錢五分）　甘草（八分）</p>
<p><u>獨活寄生湯</u></p>
<p>桑寄生（三錢，難得真的，續斷代之亦可）　獨活（一錢五分）　細辛（二分）　杜仲（三錢）　川膝（二錢）　秦艽（三錢）　茯苓（二錢）　粉草（八分）　桂枝（一錢五分）　赤芍（一錢）　生地（二錢五分）　防風（二錢五分）　當歸（三錢）　川芎（一錢）　西黨（五錢）</p>
<p>亦加海馬、虎骨、然銅、骨碎，骨痛加羌活，濕加苡米、加皮，痛甚加乳沒。</p>
<p><u>五積散</u>　兼治腳氣</p>
<p>秦歸（三錢）　白芷（一錢）　陳皮（一錢）　川樸（一錢五分）　桔梗（一錢五分）　枳殼（一錢）　川芎（一錢）　酒芍（二錢五分）　甘草（八分）　茯苓（二分）　蒼朮（三錢）　法夏（一錢五分）　北姜（一錢五分）　桂枝（二錢）</p>
<p>咳加麻絨（去淨灰），腹痛加藿香、香附、吳萸，骨節痛加羌活、防風，寒入陰分以至骨痛宜加附子。</p>
<p>年久損足疾不愈合，獨活寄生湯名交加散，神效。浸酒極妙。</p>

<h2>下陰部</h2>
<p><u>洗浸方</u>　除紅退腫，熏氣後洗，煎服亦可。</p>
<p>檳榔（一錢五分）　紅花（一錢）　赤芍（一錢五分）　蒼朮（三錢）　草尖（一錢五分）　歸尾（三錢）　生地（三錢）　銀花（八分）</p>
<p><u>澤蘭豬苓散</u></p>
<p>澤蘭（一錢五分）　豬苓（一錢五分）　木通（一錢五分）　車前（一錢）　滑石（一錢）　澤瀉（一錢）　小茴（一錢）　丑牛（一錢）　草梢（一錢五分）　燈芯（一丸）　竹茹（一丸）</p>
<p><u>五苓散</u></p>
<p>豬苓（一錢五分）　官桂（一錢）　茯苓（一錢五分）　白朮（三錢）　澤瀉（一錢）　小便赤痛加車前、草尖；腎氣加荔核、吳萸；丹田臍下痛加茴香，又有加故紙、胡桃。寒氣加附子、川楝。</p>
<p><u>熬膏治油法</u></p>
<p>香油十斤，桃、柳、槐（各二十一寸）　浸二十一日，熬枯去渣，入當歸、木鱉、知母、細辛、白芷、文蛤、紅戟、山慈菇、續斷、巴豆肉，合熬去渣枯，任用。</p>
<p><u>琥珀膏</u></p>
<p>琥珀　續隨子　加入前油內浸，春五夏三秋七冬十日。熬枯去渣，再熬滴水成珠，乳末、廣丹炒黑收鍋，傾入水內，手扯不斷，水浸任用。</p>
<p><u>止痛萬應膏</u></p>
<p>生西莊（二兩五錢）　浸油（一斤）　枯去渣，入乳沒　廣丹（各二兩五錢，炒黑）　收鍋</p>
<p><u>去腐生肌巴豆膏</u></p>
<p>香油（四斤）　木鱉（二十一隻）　巴豆（三十五粒，去殼）　象皮（切片）　甘石（炒研）　甲珠（四十九片）　生梔（八十粒，搗）　桃柳槐桑芙蓉枝（各九寸）　共熬枯，去渣加血竭、兒茶、乳沒、月石（各三錢），炒廣丹收鍋。</p>
<p><u>生肌白膏</u></p>
<p>飛甘石、豬油抖和攤貼。</p>
<p><u>活血歸黃膏</u></p>
<p>當歸　生地（各二兩）　香油（四兩）　熬枯，去渣，白蠟收鍋。</p>
<p><u>拔風毒黃明膏</u></p>
<p>牛皮膠醋煮，入炒廣丹二錢、輕粉（一錢），抖合任用。</p>
<p><u>追膿生肌白芷防風膏</u></p>
<p>前制油（斤半）　加白芷　防風（各五兩）　熬時入雞蛋（一丸），熟時取起，去殼，同熬枯去渣，入蛋再熬，照見人影出蛋，收鍋，加白臘五兩、黃蠟二兩溶化，和勻收鍋。用時開水熏軟，貢川紙乘熱用竹片括勻，俟冷剪貼，日換數次。</p>
<p><u>拔除紫血黃香膏</u></p>
<p>制松香（二兩）　入菜油抖槌千餘下，入輕粉（三錢）　銀（一錢）　白蜜（一錢），又合抖槌，入水內浸，愈陳愈好。治一切紫血臁瘡，一張能醫幾人，不可棄之。</p>
<p><u>槌除胬肉黑龍膏</u></p>
<p>大熟地　烏梅肉均燒研入黃香膏抖合用。</p>
<p><u>生肌玉紅膏</u></p>
<p>香油（一斤）　紫草　當歸　血竭　輕粉　白臘　白芷尖　紅花</p>
<p><u>異人傳授毒油膏</u>　升提拔毒之祖。</p>
<p>真豆砂（五錢）　正明雄（五錢）　火硝（四兩）　皂礬（六錢）　生礬　水銀</p>
<p><u>白降丹</u>　外科化腐去瘀除毒靈丹之祖。</p>
<p>真豆砂（二兩）　正明雄（二兩）　月石（五錢）　火硝（一兩五錢）　食鹽（一兩五錢）　枯礬（一兩五錢）　生白礬（一兩五錢）</p>
<p>煉丹之法，選擇天月德黃道日，如紅升丹先將水銀炒成砂子，入各藥合研，以不見水銀星為度。入陽罐內或入小鍋內，上用鐵蓋要光亮可，蓋之周圍用石膏或鹽押緊，秤錘押住。升三炷香久，取文武火三次為度。煉後用筆醮水塗搽扇涼，次日取看。各丹煉法均同。凡丹內有水銀，眼角上、下，陰處禁用，無則不忌，切記切記。</p>
<p><u>拔毒生肌散</u>　四季隨用，膿甚去乳沒，加礬。</p>
<p>生半夏　輕粉　甘石　正雄　兒茶　川柏　梅片　元寸（即麝）　乳沒</p>
<p><u>掃金夜光</u>　血口生肌，秋夏季不宜。</p>
<p>飛甘石　生半夏　真龍骨（煅）　象皮　甘石（炒切片）　梅片　猴結　元寸　白芷　猴結（無真的用珍珠代之）</p>
<p><u>七賢丹</u>　治取鉛碼拔毒，並治無名腫毒，去瘀。</p>
<p>黑砂　紅粉　正雄　硇砂　月石（可代生明礬）　真血竭（無真用珍珠代之）</p>
<p><u>八聖靈丹</u>　金槍至寶聖丹，秋夏禁用。</p>
<p>花蕊石　煉龍骨　象皮　珍珠　甘石　元寸　梅片　生半夏　花蕊石（無真的，用真琥珀代之）　冬末可用，夏季不宜。</p>
<p><u>月白珍珠散</u>　並治火瘡瘡頭多熱，肌肉赤紫，塌崩神效。</p>
<p>珍珠（五錢，制碎）　青缸花（五錢）　輕粉　豬髓　調抖或板油亦可。</p>
<p><u>如意涼血生肌散</u>　夏秋用</p>
<p>黃柏　兒茶　白芷　生礬　正雄　白芨　生半夏　珍珠　元寸（四六片）　小云連</p>
<p><u>出血不止附方</u></p>
<p>瘡口出血不止，服菜油一杯即止（或麻油亦可）。</p>
<p>蜣螂焙研麻油調搽亦可。</p>
<p>頭上出血不止</p>
<p>花粉（三錢）　白芷（三錢）　薑黃（一兩）　赤芍（五錢）　研，水調敷頸上或口嚼亦可。</p>
<p>甲珠　棉花　草紙燒灰　研細敷之，有名神仙止血丹，此三味也。</p>
<p>救急口嚼生薑敷之，俟換藥，萬無一失。</p>
<p>誤割神方</p>
<p>生地　歸尖　白芷　紅花　口嚼溶敷。</p>
<p>吐血不止方</p>
<p>白茅根　荷蒂　蘿蔔子（炒）　草紙灰　共研，京墨水兌下。</p>
<p>薄黃（炒黑）　芥炭　側柏葉　龍骨（煅）　生地汁　童便兌服。</p>
<p>腹破腸出</p>
<p>麻油浸手，傳腸上送入腹內，用小針穿粗發，合細白絲線縫腹皮，將喬麥粉炒黑熬，入膩粉、麻油搽之，上用生肌玉紅膏蓋，皮紙攤貼，或白芷膏亦可。取活雞皮貼誤割破腹，妙極。</p>
<p><u>藥線方</u>　鉛碼傷筋，難以行刀，恐傷絡見血不止，即止愈後總之難縮伸，後患不淺。用藥線插入口內一宿，次日取去藥條，方可下鉗，如骨碎小並取不難。</p>
<p>砒粉　生礬　正雄　蟾酥　白丁香　硇砂（無真月石降丹代之）　輕粉　元寸　共研，酒化酥，合藥成條，陰乾任用。膏蓋一日一夜取看，孔大方可下鉗。</p>
<p>火瘡藥　附</p>
<p>鮮地榆不拘多少，熬汁去枯渣，再熬成膏，入麻油、四六，熏洗刷塗。</p>
<p>月白珍珠散見上金瘡部</p>
<p><u>湯火傷</u></p>
<p>吳萸（四兩）　乳沒（各五錢）　梅片（一錢）　柏葉汁　合麻油塗。</p>
<p>又方</p>
<p>白芨　乳香　西莊　川柏　銀花　芙蓉花　共研，小麥（炒黑）　熬汁用白蜜麻油合塗。</p>
<p>又方</p>
<p>歸尾（四兩）　麻油（浸七日）　熬枯去渣，入吳萸、四六、蜂房窩（燒研灰）　地龍（白沙糖化水）　白蜜、白蠟入油內化後，入各藥攬勻。</p>
<p><u>應急方</u>　名清涼膏</p>
<p>角子灰定水，去浮灰，一碗，入桐油二兩五錢，或菜油麻油亦可，竹片攬成絲如膏，鴨毛塗。</p>
<p>火瘡服藥</p>
<p><u>四順清涼飲</u>　口乾、大小便閉，熱毒攻裡。</p>
<p>羌活（一錢五分）　防風（一錢五分）　生梔子（七粒抖）　北翹（三錢）　歸尾（三錢）　粉草（五分）　苦竹葉（三錢）</p>
<p><u>黃連解毒湯</u>　火毒攻心用之。</p>
<p>云連（三錢）　川柏（三錢）　酒芩（一錢五分）　生梔（一錢五分）</p>
<p>小大便閉加西莊、元明粉兌，亦合人中黃五錢，同煎服。</p>
<p><u>內疏黃連湯</u>　火狂，嘔渴燥極便閉，喜冷涼水</p>
<p>歸尾（三錢）　檳榔（一錢五分）　西莊（五錢）　木通（三錢）　赤芍（二錢）　生梔（一錢五分）　北召（三錢）　薄荷（一錢）　酒芩（一錢五分）　云連（一錢五分）　桔梗（一錢）　甘草（八分）</p>
<p><u>消毒飲子</u>　善卻火毒</p>
<p>生地（五錢）　黃芩（三錢）　北召（二錢五分）　牛子（一錢五分）　紅花（一錢）　甘草（八分）　赤芍（二錢）　木通（三錢）　明犀（三錢）　燈草（大丸）</p>
<p>初起魚口便毒附方</p>
<p>用生蔥抖白蜜炒熱，敷上神效方。服仙方活命飲，或神授衛生湯或入生軍。</p>
<p>附：</p>
<p><u>仙方活命飲</u></p>
<p>金銀花（三錢）　防風（二錢）　白芷（一錢五分）　歸尾（二錢五分）　陳皮（一錢）　甘草節（一錢）　貝母（一錢五分）　花粉（二錢五分）　乳沒（各一錢五分）　甲珠（一錢五分）　皂刺片（二錢）　赤芍（一錢）　入酒一杯　煎服。大便閉入生軍。</p>
<p><u>神授衛生湯</u>　表裡之劑，初起憎寒壯熱主之。</p>
<p>防風（一錢五分）　白芷（一錢）　乳沒（各一錢）　沉香粉（一錢）　皂刺（二錢）　甲珠（二錢）　羌活（一錢）　紅花（一錢）　石決明（一錢，火煅）　連翹（一錢五分）　銀花（一錢五分）　花粉（二錢）　歸尾（三錢）　西莊黃（四錢）　甘草節（八分）　酒兌煎</p>

<h1>下卷</h1>

<h2>疔證總論</h2>
<p>見治疔症貴乎早，三陰三陽更宜曉；在下宜灸上宜針，速醫即愈緩難保。</p>
<p>諸疔五臟皆可發，有現於形，細考詳部位經絡，疔症多繁，治法不一。蓋疔如丁之狀，其根極硬，深淺不一，大如葡萄，小如綠豆，隨處可發。或食厚味或中蛇蟲之毒，疫死豬羊之害，受四時不正疫氣，致生是症。此乃迅速火毒之病，有朝發夕死，亦有隨發隨亡。或三五一七不死，一月兩月而亡。此係臟腑之乖逆，性情之激變。初覺早治，十症十全，稍遲十全五六，失治十壞八九。初起項以上三陽受毒，用披針刺頂瘡頭四五分，排斷疔根，出淨惡血，隨用立馬回疔丹插入孔內，外巴膏蓋之。如三陰受毒，極頑硬如石，推之不動，亦刺之，刺之如綿不痛者逆，可無一生之理。凡針疔根者，先出紫黑血，再挑至鮮血為度，用拔疔散插入孔內，用膏蓋之，四五時藥干無水，不痛，再挑，此療根未斷也。藥入水流為要，三四日瘡頭乾燥換琥珀膏貼之託出疔根，九一丹撒之，黃連膏抹之。疔症怕軟不怕硬，刺之如鐵者順，如綿者逆。一忌服溫補之劑。</p>
<p>一忌房勞遺損毒氣以至攻心。</p>
<p>一忌椒、酒、魚、暇、雞、海味、鵝肉、豬首、辛辣生冷。氣怒諸香、輕婦孝服，大疫等犯之多生反覆，慎之。</p>
<p>一敷藥忌寒涼之藥逼毒攻裡也。</p>
<p>一黑膏藥不宜太早，將潰可貼，以避風寒，呼膿長肉可也。</p>
<p>一初起有表裡，神授衛生生之。</p>
<p>一初起發汗，五味化疔飲酒煎被蓋汗之。</p>
<p>一諸疔生各處，按部位經絡形色亦有緩急，頭項胸背最急，手足之間稍緩。</p>
<p>一疔走黃速用芒針直豎紅綠即是疔苗，刺出惡血，俱按疔治之。</p>
<p>一疔之外旁生一小瘡名曰應侯，四圍赤腫而不散漫者名曰護場，四旁多生小瘡名曰滿天星，有此者緩，無此者急症也。</p>
<p>一疔初起至四五日，出白色而青紫，疔頭潰，內無七惡等症順。</p>
<p>一初起似疔非疔，灰色頂陷如魚臍，似蠶斑，青紫黑疱，軟陷無膿，內見七惡症者逆。</p>
<p>一疔將近走黃，急服疔毒復生湯主之。</p>
<p>一疔已經走黃，冷心煩悶，急下七星劍主之。</p>
<p>一暗、內二疔不用挑法，先將酥丸噙化令盡，用冷水漱口吐去毒涎，再用三丸嚼蔥白三寸，包丸吞下，酒兌取汗。若暗、內二疔初起牙關緊急，用酥丸蔥頭煎湯灌之，似稍蘇治法如前。</p>
<p>一內疔先發寒熱腹痛，數日忽然腫起一塊，如積是也。</p>
<p>一暗疔未發，腋下先堅腫無頭，次腫陰囊睪丸，突兀如筷頭，寒熱拘急，焮痛者，是也。</p>
<p>一羊毛疔先看前後心，紫黑斑點，頗有用衣針挑破紫黑斑點，用黑豆研粉，蕎麥粉，明雄共研，燒酒炒熱，青布包里由外圈入內搽，擦其毛奔至後心，再擦後心，其毛拔於布上，急取埋之，忌茶水一日。</p>
<p>一葡萄疔忽然額上起一顆紫色光亮形似葡萄，頃刻周身皆有，一見鼻血即死無救。手腕軟處未出面，速用水銀白紙揉熱水銀擦之。或菊花飲，或菜油飲並服。亦治發無定處。</p>
<p>附：手指部</p>
<p>大指太陰肺，次指陽明大腸，中指厥陰心包絡，四指少陽三焦，滿指甲爪角內側少陰心，外側太陽小腸。</p>
<p>歌曰</p>
<p>手拇大指太陰肺，次指陽明大腸位。</p>
<p>中指厥陰心包絡，四指少陽三焦是。</p>
<p>滿指內側少陰心，外側太陽小腸配。</p>
<p>附：足部</p>
<p>足大拇指太陰脾，次指陽明胃，中指厥陰肝，四指少陽膽，滿指內側少陰腎、外側太陽膀胱。</p>
<p>歌曰</p>
<p>足拇大指太陰脾，次指陽明胃經宜。</p>
<p>三指厥陰肝部位，四指少陽膽屬奇。</p>
<p>滿指內側少陰腎，外側太陽膀胱兮。</p>
<p>附：脈</p>
<p>火毒熱症洪數實大為順，有力實熱，沉極伏熱，隨其所見，細數為凶。</p>
<p>一疔症最忌苧麻花，見者亡。頭面部手足稍輕，見者則加腫甚速。用胡麻刺炒黃為末，醋和敷。</p>
<p>疔症經絡分門部位</p>
<p>顴疔屬陽明胃，用酥丸取汗後服黃連消毒飲；</p>
<p>印心疔又名眉心疔，屬督脈，頰骨疔屬陽明風熱，服荊防敗毒散；胃火甚涼膈散、清涼消毒飲。</p>
<p>龍泉疔（人中），督脈。</p>
<p>虎髭疔（頦下）任脈、腎。胃熱又承漿疔，服仙方活命飲、內疏黃連湯。鼻疔（多生孔中）肺，服酥丸取汗用。離宮錠子塗之。</p>
<p>黑疔多生耳竅（腎），毒甚服黃連消毒飲，疏解用黃連解毒湯清之。</p>
<p>反唇疔上屬脾下屬胃。</p>
<p>鎖口疔生嘴角（心脾）。</p>
<p>牙疔，齒縫胃，大腸濕熱亦生（又即黑療屬腎熱毒黑色），擦拔疔散作丸噙，服黃連解毒湯主之。</p>
<p>舌疔　中心邊脾前丸噙，甚者刺之，服黃連解毒湯兼下紫雪散搽服。</p>
<p>黯疔生腋下左肝右脾，服麥靈丹。</p>
<p>蛇頭疔、天蛇疔，此二疔俱兼脾，無論在何指，生指尖頭是也；蛇眼疔，生指甲側；蛇背疔，生甲後背指；蛇腹疔又名魚肚，生指中節中；蛙節疔又名蛇節，指節上生；泥秋疽偏指腫是以。雄黃散治之（牡蝸二味研，蜜調敷），酥丸塗之，服仙方活命飲主之，用琥珀膏蓋之服。</p>
<p>一方用明雄、牡蠣研末，蜜調敷（即雄黃散亦治指頭疔）。</p>
<p>五疔分論</p>
<p>黃鼓疔　口角顴骨上紅色，脾主。</p>
<p>白刃疔　腮白泡頂，吐痰涎，肺主。</p>
<p>黑靨疔　斑黑紫泡，昏目露睛，腎發。</p>
<p>紫燕疔　筋骨間指青舌強，神昏亂，肝主。</p>
<p>火焰疔　唇指中黃紅，心發主。</p>
<p>以上五疔，發五臟，有形色，細考何部，辨經絡，論陰陽上下之別。</p>
<p>紅絲疔（生手足胸背筋骨處）　最忌紅線攻心。</p>
<p>羊毛疔，生前後心，有紫，紅、黑斑點。一有憎寒壯熱，一有嘔吐分別。</p>
<p>痘疔（小兒多生）俗呼賊痘（發無定處）。正明雄（一錢）、紫草（三錢）為末，入胭脂汁調塗。</p>
<p>捲簾疔，生舌根底用披針刺破（忌刺舌根中），出淨惡血，苦茶漱口，搽拔疔散。再用青黛、云連、冰片、硼砂、薄荷、細辛、僵蟲共研吹之。</p>
<p>火珠疔　生鼻孔內，赤紅針破，服瀉金散用黃連膏，入片滴孔內。</p>
<p>忘汲疔　生眼沿，挑破，用胭脂嚼汁塗，蒲公英、野菊汁洗。</p>
<p>豢虎疔、生耳內，腎毒，挑破，塗拔疔散。</p>
<p>燕窩疔，生腋下，面赤。服消毒飲，塗拔疔散。</p>
<p>注命疔，生足心，紫筋直透足股中，初用田螺水點之，次用慎火草、綠豆抖汁敷。</p>
<p>透腸疔　生肛門內外，先用銀花防風湯洗之，次用輕粉、片、白蘞共研末，塗之，內服黃連解毒湯清之。</p>
<p>驪龍疔　生小便尿孔內，如小便閉澀急用蟾酥、牛黃、片、元寸研細，用細茶、黃連熬汁調藥末，軟稻心蘸入孔內，服消毒飲子。</p>
<p>冷疔　多生足底根處，掌前下。</p>
<p>鐵粉散敷，用神燈照法，服十宣散。按經找尋紫色青筋，在膝彎下，早刺去惡血無患。</p>
<p>疔有多般，擇選形色、經絡，部位，宜熟讀勤看。按法施治，自然諸症皆寧。</p>

<h2>膏丹丸散湯頭歌（味分詳附卷末）</h2>
<p>《正宗》：神授衛生湯防風（表裡之劑），皂甲羌芷交乳沉；歸尾石決天花粉，銀花紅草酒生軍。</p>
<p>凡疔症酥丸取汗為要，汗後解毒主之。</p>
<p>異人傳：砒砂雄黃散拔根（入黃蠟成條存用），白礬硃砂與明雄；鮮酥入片公丁等，硇砂砒霜巴豆仁。</p>
<p>異人傳：蚤休散醫惡疔瘡（取汗解表主之），飛天蜈公鮮水晶；佩劍出陣賊侵走，聞風斬怪有奇功。</p>
<p>異人傳：奪命將軍一枝花（除表後用），七葉靈芝是吾家；腰澡常佩斬仙劍，當令題奏凱歌歸。</p>
<p>飛龍奪命丹南星（毒內攻服一丸，作條納瘡口內），巴霜硇砂砒斑蝥；明雄乳香鹿丹麝（膏蓋去南心），蟾酥和丸治疔癰。</p>
<p>拔疔散治諸疔毒，硇砂白礬食鹽珠；等分研末納患處，化硬搜根有奇功。</p>
<p>五味消毒化疔飲，銀花野菊蒲公英；紫花地丁天葵子，皂刺酒煎發汗靈。</p>
<p>黃連解毒焮痛瘡（取酥丸後急服清之），諸般疔症熱燥狂；云連芩柏生梔子，大便閉結入大黃。</p>
<p>內疏黃連湯火狂（火狂治），便閉嘔渴燥飲涼；梔膏薄草芩連桔，大黃歸芍木檳榔。</p>
<p>消毒飲子芩生地，膏牛紅花甘草犀；木通赤芍燈芯共，善卻疔症火毒宜。</p>
<p>仙方命飲金銀（金鑑之首法也），山甲皂刺歸尾陳；花粉乳沒貝防草，赤芍白芷用酒熬。</p>
<p>解毒大青湯木通（誤灸，毒內攻，用升麻、桔梗提出），中黃梔桔麥元參；知升竹葉石膏煅（或大便閉入生軍），瘡疔誤灸毒內侵。</p>
<p>瀉金散治火毒疔，面赤眼紅鼻內疼；犀羚紅花生地桔，赤芍蘇葉甘草靈。</p>
<p>黃連消毒飲耆歸，防己澤膏連草陳；蘇木桔芩防稿柏，羌活知母地人參。</p>
<p>紫雪散醫積熱效（喉痛吹之，每服一錢），沉香犀羚元參草；寒水朴硝硃砂片，燈芯竹葉共研攬。</p>
<p>黃連膏潤諸瘡疔，薑黃生地柏皮歸（歸尾）；麻油熬好將渣去，黃蠟收鍋用貯存。</p>
<p>化疔內消散蚤休，知貝甲芨草天花；皂乳銀花赤芍酒，症病疔毒服輕加。</p>
<p>疔毒復生湯牡蠣（恐毒內行攻心，欲走黃主之），銀梔地骨翹木通：皂軍花粉牛乳沒，頭腫走黃服更靈。</p>
<p>七星劍嘔熱惡寒，疔毒走黃昏憒添；麻木蒼耳菊稀見，蚤休地丁半枝蓮。</p>
<p>異人傳：追風消毒飲防風（心肝火毒甚，發狂大熱），銀花草桔射干羚；苦參蚤休黃野菊，虎骨犀角羌芷芩。</p>
<p>立馬回疔丹雄朱（人蠟成條丸），輕粉乳酥麝白丁；砒霜蜈蚣硇砂研，疔瘡用此根自除。</p>
<p>琥珀膏貼諸毒功，活瘀去腐化毒靈；鉛粉血輕朱椒珀，麻油白蠟共熬凝。</p>
<p>木香流氣宣毒滯，蘇芍芎歸桔枳實；烏藥陳半腹毛耆，防榔青殼澤香煎。</p>
<p>人參清神疔毒潰，陳苓地骨寸冬歸；耆朮柴遠云連草，益氣除煩熱可推。</p>
<p>內托安神治驚悸，疔瘡針後元氣虛；耆朮苓菖參麥草，遠味元參刺陳皮。</p>
<p>內補十宣治冷疔，已成即潰未成消；參耆桔樸芎歸草，芷桂防風酒調加。</p>
<p>鐵粉散醫足冷疔，速去腐黑肌肉生；廣丹輕粉松香麝，香油熬貼入蠟凝。</p>
<p><u>金銀花酒法</u></p>
<p>銀花（五兩）　甘草（一兩）　酒水共熬。一加生黃耆（四兩）　名回毒金銀花湯，久食永不生疔疽，神效。</p>
<p><u>麥靈丹</u></p>
<p>蜘蛛（二十一隻）　定心草　白灰面　用黃菊熬膏，可合前藥作丸一錢。</p>
<p>拔疔瘡根去腐</p>
<p><u>紅膏法</u></p>
<p>廣丹（一錢五分）　輕粉（一錢）　蓖麻肉（一兩）　松香（嫩的一兩）　巴豆肉（五錢）　硇砂（一錢）　用斧槌千餘下，豆大安放孔上，黑膏蓋之，極妙。</p>
<p>清涼消毒散毒滅，明雄花粉烏藥麝；慈菇乳香黃柏研，雞清蜜調治風熱。</p>
<p>涼膈散醫肺胃熱，口渴唇焦便燥結；苓薄梔翹石膏草，芒硝大黃苦竹葉。</p>
<p>荊防敗毒治初瘡（皂刺野菊引），憎寒壯熱汗出良；羌獨前柴荊防桔，參苓芎芷甘草強。</p>
<p>回教治疔消風毒，全蠍（七隻）蟬退菊；土苓公英白姜蟲，效驗神方師傳授。</p>
<p>五月五日午時煉蟾酥丸方</p>
<p>蟾酥（二錢酒化）　銅綠　輕粉　枯礬　寒水石（煅）　膽礬　明雄　乳沒　元寸（以上各一錢）　硃砂（三錢）　蝸牛（二十一隻）　抖爛合成丸條。</p>
<p>附：魚臍疔部</p>
<p>魚臍疔瘡</p>
<p>疔頭白泡，痛不可忍，肉下有紅線，潮熱令人煩悶，恐其顫倒難救也。似新火針瘡，四邊赤，中央黑可刺之，刺之不痛即殺人也。瘡腫黑壯狹長是也，一因風毒蘊結，二因氣血凝滯，三因誤食，不正瘟疫之氣，又名魚睛。</p>
<p>《衛生寶鑑》用生白丸五錢，煨蔥和丸酒下二錢五分，孕婦忌。</p>
<p>《崔氏》用枯礬、麵糊丸餅，貼之。潰甚膿多用之。</p>
<p>《普濟》用銀硃，米和丸、酒下，名走馬丹。</p>
<p>《外臺》用蛇蛻煎水服。</p>
<p>《直指》用蛇蛻燒灰，雞子清調塗。</p>
<p>《崔氏》用瞿麥燒灰塗之。</p>
<p>《千金》用飴糖塗之（乾者燒灰敷）。</p>
<p>又臘月臘魚頭、亂髮、共燒灰，雞溏糞和塗之。</p>
<p>《外臺》用白苣菜葉，抖汁入孔中。</p>
<p>《危氏》用絲瓜葉、連須蔥、韭菜，共抖汁服，兌酒（汁服渣敷）。</p>
<p>疔在左敷左腋下，在右貼右腋下，在腳左貼左，右同，如在中部貼中心。用布條縛住，肉內紅線皆白不用，如潮熱亦用，令人抱住，恐顫難救矣。</p>
<p>疔瘡惡腫　一赤根，已篤者，不破則毒入腹，破無血，逆。有骨疔、有入腹者。疔毒傷風作腫者。有腫未破者。有拔取黃者。有拔根者。</p>
<p>赤根疔腫</p>
<p>白米粉熬黑，蜜調塗之。</p>
<p>《千金》用馬牙燒灰，豬脂調塗（拔根法）</p>
<p>《通云論》　狗寶丸　狗寶（八分）　酥（二錢）　梅片（二錢）　元寸（一錢）　酒和丸，每綠豆大三丸，蔥白嚼，包吞酒下取汗。服流氣追毒藥，貼拔毒膏。普濟：鼠糞、亂髮燒灰，塗入。</p>
<p>已篤　土蜂房（一隻）　蛇蛻（一條）　黃泥裹，燒存性一錢，酒下。頃刻大痛，痛止，其毒化黃水也。</p>
<p>又九月九採芙蓉葉，乾研，井水調塗。</p>
<p>次用蚰蜒螺一隻抖敷。</p>
<p>已篤　用棗樹刺（七隻）、丁香（七枚，燒灰），入小兒糞調敷。</p>
<p>《外臺》　拔根，用斑蝥（一隻）　捻破入疔瘡上，針刺米字形，塗之封好，根即出也。</p>
<p>《千金》　拔根，蜘蛛抖爛醋和，挑瘡四畔血出，根稍露。</p>
<p>劉禹錫元和十一年柳州救三死，柳樹上大黑殼蟲（糞泥中生），用蜜湯浸死，焙為末，醋調敷。</p>
<p>葛洪《肘後方》用蜣螂心貼之，拔根神效。忌服羊肉（即劉禹錫之方蟲也）。</p>
<p>十三疔。</p>
<p>《千金》用春三月上建日，取天門精葉；夏三月上建日取枝（名枸杞）；秋三月上建日取子（名卻老冬）；冬三月上建日取根（名地骨），曝乾為末，入牛黃、皂刺、赤小豆、亂頭髮燒研為丸，酒下二錢，日下三次。</p>
<p>鮑氏　馬疔用山甲（燒灰）、貝母等分，研，酒調服。用下藥利去惡物。</p>
<p>疔瘡發汗</p>
<p>《捷徑》用陳老石灰十分　黑油紙傘紙燒灰一分　先以井水，次用香油，入末攪勻，沸湯一盞，被蓋取汗。</p>
<p>保壽堂　凡生手足處有瘡起，發癢，身熱惡寒，或麻木，極毒之疔也。急用針刺破，擠去惡血，俟血盡，口噙井水吮至水溫，再換，吮至痛癢皆止即愈。極妙法也。</p>
<p>《普濟》疔腫拔根用鐵渣研粉（一兩）、輕粉（一錢）、元寸（一分），共末，藥末納入口內，醋調麵糊蓋。</p>
<p>小兒痘疔</p>
<p>明雄（一錢）　紫草（三錢）　為末入胭脂汁調塗，疹痘治用（破爛用）　野菊花、蒼耳葉抖汁服，渣敷。</p>
<p>牛耳垢（人耳垢亦可），鹽泥蒲公英汁調敷。</p>
<p>水疔　色黃、麻木不痛。</p>
<p>暗疔　瘡凸色紅使人昏狂，並刺四畔，切不可緩。《普濟》用銀杏去皮，浸油取抖敷。</p>
<p>又，柏樹根　經行路者取二寸許去皮，抖，用井水調下，待瀉過以三角杏仁拌浸油塗（《聖濟總錄》）。</p>
<p>疔瘡傷風</p>
<p>聖惠用白馬屎炒熨五十遍。</p>
<p>《普濟》用驢屎炒熨五十遍。</p>
<p>疔瘡黑凹</p>
<p>《聖惠方》用頭髮扎住，用常春藤葉抖汁和蜜服。用蔥抖蜜敷。疔瘡惡毒，速針刺，無血名著骨疔，再針手指甲末。刺出又無血，即刺腳大拇指，又刺無血必難醫也，用透骨膏。</p>
<p>天牛（四隻，樹中食木之心蟲，亦有蠍子化此天牛，有一角者名獨角仙，此蟲有黑角如八字，或天螺頭代之，亦名蝸牛）　蟾酥（五分）　巴豆肉（七粒）　砒霜　正明雄　元寸　公丁　共研，化黃蠟和條丸（收存聽用）　安疔瘡頂，孔內膏蓋，忌冷水。</p>
<p>危氏用蛇酥白灰面為丸，梧子大，安放舌下，即黃出也。</p>
<p>拔取疔毒，蟾酥、白麵、廣丹共為丸，麥子大，納入孔中，水澄膏貼之。極重用酥一錢、巴豆肉四粒、抖爛，飯糊丸綠豆大，每服一丸，薑湯下。良久用萹蓄根、黃荊子研酒兌服，取行四五次，以粥補之。（《乾坤秘韞》）</p>
<p>《普濟》用臘月豬膽汁和生蔥蜜抖敷。</p>
<p>疔瘡入腹</p>
<p>《肘後》用白犬血塗之。</p>
<p>又黑牛耳垢敷之。</p>
<p>《廣濟》用青羊屎煎汁服。</p>
<p>《肘後》用白馬牙齒燒灰塗入孔內，紙封，濕灰面四圍腫處候乾，用醋洗盡面，其根自出。</p>
<p>疔瘡取汗</p>
<p>附神驗方</p>
<p>王不留行煎水，入蟾酥丸吞，取汗。</p>
<p>菊花葉抖汁服，冬用根。</p>
<p>槐花四兩酒煎服。</p>
<p>海馬入明雄研同諸藥塗。</p>
<p>皂夾炙研入麝塗。</p>
<p>蒼耳根抖，童便兌汁服，入蔥酒取汗。醋灰調渣敷，拔根用。</p>
<p>山慈姑入蒼耳擂汁服，酒兌取汗。</p>
<p>石蒜煎服下取汗。</p>
<p>豨薟草酒煎取汗。</p>
<p>白芷入少許姜擂酒服，取汗。</p>
<p>蒲公英酒煎下，取汗。</p>
<p>大乾入乳香、枯礬末，酒兌下，取汗。</p>
<p><u>疔證治方</u>　湯歌見前</p>
<p><u>神授衛生湯</u>　方見上卷末</p>
<p><u>砒砂雄黃散</u>　無論諸疔用披針刺開疔頂，用此藥條納入疔內，用膏藥蓋之。一日一換，拔除疔根神效。</p>
<p>白砒煉成霜　硃砂　明雄黃　生白礬　鮮蟾酥（以上各五分）　上梅片（二分）　白公丁（麻雀屎豎起者可用）　巴豆仁（三粒）　硇砂（鹽硇不可用）　共研細末，用黃蠟成條，收存聽用。</p>
<p><u>蚤休散</u>　服之取汗解表，治一切惡疔。</p>
<p>蚤休（即血山七蔸）　飛天蜈公（草名紅馬鞭草、覆地形似蜈公者）　鮮水晶花苗並兜　均收存陰乾，聽用，煎水服。</p>
<p>除表後服方</p>
<p>奪命將軍一枝花即血山七花，一名七葉靈芝，陰乾煎服，或鮮葉可擠汁服。</p>
<p><u>飛龍奪命丹</u>　疔毒內攻服一小丸。研末以黃蠟成條，納入疔瘡口內，上用膏藥蓋之，一日一換，可去南星。</p>
<p>巴豆霜（七分）　番白硇砂（五分，無真的不用）　白砒霜（五分）　斑蝥蟲（一隻）　制乳香（五分）　真明雄黃（一錢）　鹿角霜（三分）　廣丹（三分）　蟾酥（六分）　真麝香（二分）</p>
<p><u>拔疔散</u>　治諸疔毒，化硬搜根。</p>
<p>番白硇砂（一錢）　生白礬（五分）　食鹽（一分）　共乳細，納入疔口內，並用膏藥蓋之。</p>
<p><u>五味消毒化疔飲</u>　酒兌煎服取汗。</p>
<p>金銀花（三錢）　蒲公英（二錢五分）　紫花地丁草（二錢五分）　野菊花（三錢）　天葵子（二錢）　皂刺（一錢五分）　為引。</p>
<p><u>黃連解毒湯</u>　方見上卷末。</p>
<p><u>內疏黃連湯</u>　方見上卷末。</p>
<p><u>消毒飲子</u>　方見上卷末。</p>
<p><u>仙方活命飲</u>　方見上卷末。</p>
<p><u>解毒大青湯</u>　誤灸，疔毒內攻，此方加升麻、桔梗；大便結加生軍。</p>
<p>大青根（五錢）　木通（二錢）　人中黃（一錢）　□□□（一錢）　淡竹葉　□□　桔梗（一錢五分）　麥冬（一錢）　元參（三錢）　知母（一錢五分）　石膏（一錢）　升麻（八分）</p>
<p><u>瀉金散</u>　面赤白眼多紅，鼻內疼痛，肺經火毒服之。</p>
<p>明犀角片（一錢）　羚羊角（一錢五分）　紅花（一錢）　生地（二錢）　桔梗（一錢五分）　赤芍（一錢五分）　甘草節（五分）　蘇葉（一片）</p>
<p><u>黃連消毒飲</u>　疔瘡日久，氣血兩虧，陽明頭痛頂疼，小便黃服之。</p>
<p>生黃耆（一錢五分）　防己（一錢五分）　澤瀉（一錢）　連翹（一錢五分）　草節（五分）　陳皮（七分）　川黃連（一錢）　蘇木（五分）　桔梗（一錢）　防風（二錢）　黃芩（一錢）　藁本（一錢）　全當歸（三錢）　川柏（一錢五分）　羌活（一錢）　知母（一錢）　生地（三錢）　元參（二錢）</p>
