<header data-type="book">
<h1>炮炙全書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>日本·<data value="稻生宣義">稻生宣義</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1702">公元1702年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://www.wul.waseda.ac.jp/kotenseki/html/ya09/ya09_00055/index.html">早稲田大学図書館掃描本</a></dd></div>
</dl>
</header>

<h1>敘</h1>
<p>先正曰：一草一木亦皆有理，不可不察，夫以物理之學亦大乎哉！其粗者正名稱辨真假，而多識鳥、獸、草、木，是知其質也。其精者通曉其功能，分別其良毒，洞察資用之方，其效驗可以安危起死而療民瘼，乃人生日用之急務，而化育之所不及者亦賴之以贊助。然則，晏子良醫與良相埒之語亶有以哉，蓋謂其與燮理同功而已。其學焉者，當以本草為要，而後該覽於群書，然本草亦不易讀，何也？群品之殊質，眾物之異性，非鹵莽滅裂之學所能精詳也。吾夙好此學，其志甚懇，然本邦精斯學者幾希，且吾僻在遐陬，恨難逢其識者，都人稻若水業經之餘暇，好窮物理，善讀本草，且旁搜廣訪，多識於草、木、蟲、魚者亦孔精詳。吾頃客於中州與之討論、諮詢，而辨是非、決嫌疑，品物得其實者不可選記，可謂得其人，也觀其所著炮炙全書訂正於世醫之訛謬，旌別於藥鋪之贗，罔而窮究古人修制之法，兼辨真假審採用，又編錄採藥，獨斷食物傳信等，書俱可為時師法繩焉，庶乎有裨於生養矣，豈與世之誇詡無用之辨，藻飾浮靡之言可同日而談耶！予歎賞之餘，聊述其所識，以弁其首，念諸觀者云。</p>
<p><u>元祿己巳端午日</u></p>
<p><u>筑前州後學貝原篤信書</u></p>

<h1>凡例</h1>
<p>一凡藥品見於古今本草者，殆二千種矣，善用藥者當多多益善，今此不能殫述，第選擇醫方當用之藥，究極古法制治之宜兼辨真假又審採取，此即療者之必不可缺者，分以其屬從焉，余非必用之藥及世之所罕識，與力之難能致者，存而不論。</p>
<p>一夫物之難識者，為其名之難明也。名之難明者，五方之名既不同，而古今之言亦自別矣。至其名齊實異者則愈益淆亂，似之而非者復易相紊，苟非詳著形狀細譚名謂，則其有不因名迷實者鮮矣，遍觀近時所行於世釋草木昆蟲之書，妄造其名駕以孟浪之說，皆非耳目見聞之實論，如白羊鮮則曰羊草，劉寄奴則曰唐帝草，尤不足以考信也，凡如此之類，一皆削去不載，惟物之傳訛者，市肆飾偽者，備書以質於世之周知者。</p>
<p>一畏忌制使，物性自然。非可以意求者，俱考諸家本草，並所聞採入，俾得遵守。</p>
<p>一次序不悉從本草，今就所見稍加移正，尚未確認者，一仍其舊不革。</p>
<p>一本草一書，民命所繫，凡學之者務在識真，不比他書，惟求其說而可也，時獲古今名物之書閱之，率多疏妄，其傳訛襲非久矣。夫藥品稱謂一違，則力用全乖，若有誤服遺害非淺，余竊嘆焉！乃於治經餘暇，又有志於鳥獸草木之學，不問飛潛動植，皆欲究其性情，於是翩然自往，攀緣上下，於深山窮谷荒陂野草之間，擷林卉拾澗實，洪纖細大無物不察，至其生於遠地遐方，而余之足跡所未及者，則必得訪之，四方達觀博物之客以殫究其靈草神木所在矣，竟不自揣博採眾書及獻民之說，斷以己意頗能撰次，題曰採藥獨斷狀其形質，疏其花實，珍寶奇物，皆有所紀，而旁及方俗所呼，庶幾名實不爽，可為來者之鏡俟，其就緒又當嗣刻以問世。</p>
<p><u>元祿己巳二月初一日稻某識</u></p>

<h1>炮炙全書參考書目</h1>
<p>太平御覽　藥性纂要　神農本經（會通）　本草備要　藥性奇方　本草綱目類纂必讀　本草匯箋　桐君藥錄　證類本草　張元素珍珠囊　本草綱目　本草衍義補遺　本草經疏　本草蒙筌增輯　炮炙大全　新增本草原始　藥性要略　本草綱目纂要　本草約言　食物本草綱目　本草洞詮　補註藥性大全　日用本草　仁壽堂藥鏡　食物本草　藥性賦大全　本草匯　救荒本草　本草選　仙制本草　藥性解　和劑局方　廣筆記　局方發揮　素問啟玄子注　格致餘論素問馬玄臺注　衛生方　靈樞馬玄臺注　醫宗粹言　張介賓類經注　軒岐救正錄　傷寒論成無己注　奇效醫述　證治準繩　薛立齋醫案　古今醫統　醫學入門　醫學綱目　三玄延壽書　濟陰綱目　東醫寶鑑　醫宗必讀　計補易簡備驗方　傷寒六書纂要　傷寒補註辨疑　聖濟總錄纂要　外臺秘要方　周禮註疏　詩經大全　禮記註疏　詩經說約　詩經註疏　詩經備考　爾雅註疏　詩經世本古義　史記評林　毛詩草木鳥獸蟲魚疏　前漢書評林　六家名物疏文選六臣注　毛詩陸疏廣要　文選纂注　通志略　西京雜記　楊子方言　淮南子　新增格古要論　山海經　太平廣記　水經注　農政全書　呂氏春秋　匯苑詳註　抱朴子　典籍便覽三才圖會　事文類聚　月令廣義　圓機活法　潛確類書　群書纂要　齊民要術　字彙　酉陽雜俎　續字彙　酉陽雜俎續集　爾雅翼　焦氏類林　小爾雅　焦氏筆乘　逸雅　焦氏筆乘續集　廣雅　洪容齋五筆　埤雅　李肇國史補　博物志　輟耕錄　續博物志　齊東野語　夢溪筆談　琅邪代醉　五雜俎　閩中記　段公路北石錄　居家必用　程羽文花小名　桂海志　屠本畯野菜箋　臨海水土記　王鴻漸野菜譜　真臘風土記　高濂野蔌品　臨海異物志　戴凱之竹譜　洛陽花木志　劉美之續竹譜　魏王花木志　僧贊寧筍譜　園林草木疏　柳貫打棗譜　南方草木狀　郭橐駝種樹書　楚辭芳草譜　俞宗本種樹書　益部方物略記　郭義恭廣志　宛委餘篇　沈懷遠南越志墨客揮犀　物類相感志　金漳蘭譜　歐陽公洛陽牡丹記　王氏蘭譜　周氏洛陽牡丹記　劉蒙菊譜　牡丹八書　史正志菊譜　楊州芍藥譜　菊譜百詠圖　韓彥直橘錄　陳翥桐譜　俞宗本種藥疏　范成大梅譜　王仲遵花史　陳思海棠譜　高濂珍異藥　荔枝譜　學圃雜疏　龍眼譜　嶺表錄異　香譜　溪蠻叢笑　名香譜　藥圃同春　禽經　海味索隱　獸經　山家清供　古玩品　遁園居士魚品　珍珠船盛弘之荊州記　陸羽茶經　顧微廣州記　顧元慶茶譜　劉欣期交州記　馮時可茶錄　永嘉郡記　許次忬茶疏　大業雜記　羅順茶解　四時宜忌　陸樹聲茶寮記　歸田錄　徐獻忠水品　清異錄　田藝蘅煮泉小品　資暇錄　泉南雜誌　異魚圖贊居山雜誌　黃衷海語　八種畫譜　姚寬叢語　蠡海集　古今錄驗　楚辭集註　丹鉛總錄　楚辭辨證　何首烏錄　柳子厚集　彰明附子記　吳草蘆集　中華古今注　閩書　退齋雅聞錄　大明一統志　金華府志　興化府志　大原府志　泉州府志　平陽府志　寧波府志　通州府志　汝南府志　吉安府志　嚴州府志　袞州府志　真定府志　淮南府志　南昌府志　鎮江府志　松江府志　漳州府志　邵武府志　福州府志　汀州府志　常熟縣誌　河間府志　餘姚縣誌　衢州府志　宜興縣誌　萊州府志　江陰縣誌　廣西通志　嘉興縣誌　廣東通志　惠安縣誌　浙江通志　南陽郡志　衡岳志　赤城新志　補陀山志　羅山縣誌　仙都志　海鹽縣誌　福清志續略　八閩通志　秦州記　藝文類聚　北堂書鈔　天中記　白孔六帖　事言要玄　相牛經　留青日扎　草木子　周南林類書纂要　鄭夾際爾雅注　古學彙纂　通雅　說文解字　正字通　少補韻會　群芳譜　茅亭客話　湧幢小品　避暑錄話　癸辛雜識續集　琅環記　癸辛雜識別集　鶴林玉露　揮塵錄　曾訂廣輿記　老學庵筆記　華夷花木鳥獸珍玩考　致富全書　物理小識　增定致富奇書　瀛涯勝覽　便民圖纂　瀛涯勝覽集　庶物異名疏　星傞勝覽目終</p>

<h1>卷第一</h1>

<h2>草之屬</h2>

<h3>人參</h3>
<p>甘、微苦，溫。要肥大塊如雞腿並似人形，黃色者，去蘆頭，用茯苓、馬蘭為使，惡滷咸、皂莢、黑豆，反藜蘆，畏五靈脂，動紫石英。</p>
<p>人參連皮者黃潤色，如防風去皮者堅白如粉，其似人形者謂之孩兒參，尤多贗偽，頻見風日則易蛀，惟納瓦罐雜細辛密封可留經年，市之貨者贋品立名曰土佐向單股人參也，世醫土佐道壽藥物，必要上好人參，非單股不使，故坊間以好人參名土佐向趨向道壽之義也，曰扎雖大皆用數片合而成之，其功力反不及小者也，曰碎皆人參碎條及揀出於蘆參、參鬚之中者也，曰參鬚，其根頭細毛也，曰浮以人參完浸煎取汁，曬乾復售者也，又名之服本草所謂湯參也，浮者輕匏之謂，服者取汁，而服之義也又有實鉛假重者，俱不任用，曰小人參，始生薩摩州，今處處有之，三丫五葉，四五月有花，細小，紫白色，結子，生青熟紅，根橫生，狀如竹節，味甚苦，其須嚼之甘苦，氣味微與人參相近，又名之三枝五葉草，其苗葉花實，雖與圖經三丫五葉之說相合，然根形迥然不同，凡物有似之而非者，此物決非真人參也，人多有以甘草湯浸煮代人參用者，尤為不可也，天和二年，朝鮮國來聘時，有人以此草問之，彼國醫者曰，此百濟人參也，按東醫寶鑑云人參中心生一莖，與桔梗相似，又不言別有此種，朝鮮來人言，多謬妄不可憑信也曰唐人參自清來貨者，味甘微苦，惟要透明似肉，近蘆有橫紋者則假參自不得紊之，凡用宜擇重實者，此皆藏於市肆者也，又人間有薩摩人參者二種，一種葉似蛇床胡蘿蔔輩，根形如人參，一種其葉頗似秋羅葉而狹長，開細紅花，結小蒴兒，又別有名人參者，相傳加藤清正徵朝鮮，得其種以歸，氣味似胡蘿蔔，苗葉嫩時可作蔬食，又加賀州白，山產一種草，土人謂之人參，其根大如指許，氣味如當歸，俱雖非人參，蓋亦草中之佳品也，此外濫名者多有之，近人又種防葵以為人參也，採其根蒸造，足以混真也，或又有以白芷根造作者亦能易紊之，凡此類，若令誤服，遺害非淺，故詳辨種類以正其訛，人參本不言忌鐵器，李子郁始著之，蓋亦因金剋木之義而為之說爾，不必在忌列。</p>

<h3>參蘆</h3>
<p>苦溫</p>

<h3>黃耆</h3>
<p>甘、微溫，選單股不岐色潤柔軟，肉心黃甘，甜近蜜者，去頭刮皮，以蜜水塗炙，亦有以酒或鹽酒炒之，茯苓為使，惡龜甲、白蘚皮。</p>
<p>近時有富士黃耆，即生富士山者，甲斐越中諸州皆有之，亦佳，但須選肥潤味甘者，折之堅脆及多岐俱不堪用。</p>

<h3>甘草</h3>
<p>甘，平，生寒，炙溫，選壯大緊紋者，刮去皮，補中宜炙用，瀉火宜生用，梢節頭三者皆生用，白朮、苦參、乾漆為使，惡遠志，反大戟、芫花、甘遂、海藻，忌豬肉。</p>
<p>甘草今甲夔州地方山皆有之。</p>

<h3>沙參</h3>
<p>淡、甘，微寒，去頭銼用，惡防己，反藜蘆今之縣鍾人參是也，市中誤當薺苨別採蔓參根充沙參，用者宜審又有唐沙參乃蒸造者謂之紫沙參，人多焙用代人參，然其氣味功力殊異乎人參，以此代用誠為不勝其任矣，沙參處處多有之，八九月宜收，又有細葉沙參蓋一類二種也。</p>

<h3>薺苨</h3>
<p>甘寒，去蘆頭用。</p>
<p>肆中以沙參充薺苨，非是真薺苨，丹後州鹿崎山多有之，具採藥獨斷中。</p>

<h3>桔梗</h3>
<p>苦、辛，平，去蘆，微炒，畏白芨、龍膽草，伏砒，忌豬肉。</p>

<h3>葳蕤</h3>
<p>甘，平，洗，銼，微炒，或以竹刀刮去節皮，蜜水浸，蒸焙用，畏滷咸。</p>
<p>肆中人名地黃樣黃精者是也，以肥潤而大為佳，夏月採者不堪用，按葳蕤增長陽氣，與人參同力，一切不足之證可以代人參，但不可與五味子同用耳。</p>

<h3>黃精</h3>
<p>甘，平，九蒸九曬，味甚甘美，服食黃精者忌食梅實。</p>
<p>苗葉與葳蕤相似，根如白芨，多生北方山中，大者苗高五六尺，根如拳。</p>

<h3>知母</h3>
<p>辛、苦，寒，揀肥潤里白者，竹刀去毛切，勿令犯鐵器，引經上行，用酒浸焙，下行鹽水潤焙，得黃柏酒良，伏鹽、硼砂。</p>

<h3>肉蓯蓉</h3>
<p>甘、酸、咸，溫，皮如松梢有鱗甲，形柔軟如肉，酒浸一宿，刷去浮甲，劈破中心去白膜一重，焙乾用，或酥炙得所。</p>
<p>李中立曰：肉蓯蓉，肥大柔軟者佳，乾枯瘦小者劣，今人多以金蓮根、草蓯蓉、嫩松梢，鹽潤充之賈，利用者宜審。</p>

<h3>鎖陽</h3>
<p>甘、咸，溫，酒潤焙。</p>
<p>陶九成輟耕錄云：鎖陽生韃靼田地，發起如筍，上豐下儉，鱗甲櫛比，筋脈聯絡，絕類男陽，即肉蓯蓉之類，土人掘取，洗滌去皮，薄切曬乾，以充藥貨，功力百倍於蓯蓉。</p>

<h3>天麻</h3>
<p>甘、辛，平，洗淨，以酒浸一日夜，濕紙包糠火中煨熟，取出切片，焙用，破開明亮堅實者佳。</p>

<h3>白朮</h3>
<p>苦、甘、辛，溫，去蘆，炒用，防風地榆為使，忌桃、李、菘菜、青魚、雀肉。</p>

<h3>蒼朮</h3>
<p>辛烈苦溫，焙用，使忌同白朮。</p>
<p>二術留皮者當以米泔水浸半日，去粗皮，肆中售者多削淨，不可水浸更泄性味，凡用不拘州土，惟白為勝，市人每誤認代名用，宜自分辨之，二術雖是一類，然根苗氣味，微有不同，故各自施用，又二術俱有清來者甚佳，按鄭七潭曰：白朮不必泔浸，暖胃炒用，其餘皆生用可也。</p>
<p>蒼朮苗高二三尺，其葉抱莖而生，稍間葉似棠梨葉，其腳下葉有三五叉，皆有鋸齒小刺，根如老薑之狀，蒼黑色，肉白有油膏，味苦辛氣烈。白朮葉稍大而有毛，根如指大，狀如鼓槌，亦有大如拳者，味苦甘氣和俱，處處山中多有之，今人誤謂二術於一物之中，以根老嫩分蒼白，或又以為諸州皆產蒼朮，而白朮所無也，實為不善識矣！</p>

<h3>狗脊</h3>
<p>苦、甘，微溫，選金毛者火燎去須，細銼，酒浸，蒸曬用，萆薢為使，惡敗醬，莎草今人以垂水草為狗脊，非是。</p>

<h3>貫眾</h3>
<p>苦，微寒，去皮毛，銼焙雚菌、赤小豆為使，伏石鐘乳。</p>
<p>今人多以背白草為貫眾，非是。</p>

<h3>巴戟天</h3>
<p>甘、辛，微溫，以酒浸，去心，銼焙若急用以滾水浸軟去心，覆盆為使，惡雷丸、丹參，朝生。</p>
<p>巴戟天本有心，干縮時偶自落，或抽去，故中心或空。非自有小孔也，以肉厚者為勝，方家誤以為其根嫩白、老紫，多要紫色者為良，故致使售者以黑豆汁沃之，欲其色紫，殊失氣味。巴戟葉似茗，開黃花，其根白，狀如連珠，都無紫色者，二月八月採根，陰乾，其氣味與藥中紫色者亦不同也。圖經云：有一種山律根，正似巴戟，但色白，土人採得，以醋水煮之乃以雜巴戟，莫能辨也，但擊破視之，中紫而鮮潔者偽也，其中雖紫又有似白糝有粉色而理小暗者真也，真巴戟嫩時亦白，干時亦煮治使紫，力劣弱耳此說亦襲其嫩白老紫之誤爾。余往年植視之，乃知紫者都非真色。</p>

<h3>遠志</h3>
<p>苦，溫。以甘草湯浸一宿去骨，焙乾用，畏珍珠、藜蘆、蜚蠊、齊蛤，得茯苓、冬葵子、龍骨良。</p>
<p>苗名小草，細莖如線，葉似黃楊，本草云：似麻黃者失之，詳審處處多有之，人莫之能識，或以小桔梗花為遠志。非是，有大葉小葉二種。</p>

<h3>淫羊藿</h3>
<p>甘、辛，溫，山藥、紫芝為使，得酒良。</p>
<p>淫羊藿，今之碇草也，山谷多有之，自清來貨者，皆陳久之物，殊乏氣味，不堪用。五六月採之，陰乾，色青味全。</p>

<h3>仙茅</h3>
<p>甘、辛，微溫，有小毒。以清水洗，竹刀刮去皮，米泔浸去赤汁，酒拌蒸之，曝乾用，犯鐵器、牛乳，斑人鬢髮。</p>

<h3>玄參</h3>
<p>咸、苦，選黑潤者，用蒲草重重相隔蒸曬勿犯銅器，犯之損人喉喪人目，惡黃耆、乾薑、大棗、山茱萸、反藜蘆。</p>

<h3>地榆</h3>
<p>甘、酸、苦，寒，宜生用，見火無功，惡麥門冬，伏丹砂、雄黃、硫黃，此草名歪。列木高也。</p>

<h3>丹參</h3>
<p>苦，平，微溫，酒潤，微焙，畏鹽水，反藜蘆。</p>

<h3>紫草</h3>
<p>甘苦、咸，寒，嫩而紫色染手者佳，去根取茸用。</p>

<h3>白頭翁</h3>
<p>苦，溫，得酒良，花子莖葉同。</p>

<h3>白芨</h3>
<p>苦、辛，微寒，微火略焙，紫石英為使，惡理石、畏杏仁、李核，反烏頭。花名箬蘭，貴重可喜，今之紫蘭是也，亦有花白者，或以獨頭蘭為白芨，誤矣！</p>

<h3>三七</h3>
<p>甘、微苦，溫，色黃黑，狀略似白芨，長者如干老地黃，有節，味頗似人參，試法以末摻豬血中，血化為水者乃真。</p>
<p>按李頻湖曰：近傳一種草，春生苗，夏高二三尺，葉似菊艾而勁厚有岐尖，莖有赤稜，夏秋開黃花，蕊如金絲，盤紐可愛，花干則絮如苦蕒絮，根葉味甘，治金瘡折傷出血及上下血病甚效，云是三七爾，根如牛蒡，與南中來者不類，恐是劉寄奴之屬，甚易繁衍，此草今人間遍有之，其南中來者不備著苗狀，又別無考也，其草或亦有之，而未睹矣。</p>

<h3>黃連</h3>
<p>苦，寒，去蘆及須，治本臟之火生用，治肝膽之實火，以豬膽汁浸炒，治肝膽之虛火以醋浸炒，治上焦之火以酒炒，治中焦之火以薑汁炒治下焦之火以鹽水或朴硝炒，治氣分濕熱之火以茱萸湯浸炒，治血分塊中伏火以乾漆水炒，治食積之火以黃土炒，不獨為之引導，蓋辛熱能制其苦寒，鹹寒能制其燥性，在用者詳酌之，黃芩、龍骨、理石為使，惡菊花，玄參、白蘚皮、芫花、白殭蠶，畏款冬、牛膝，解巴豆、輕粉、附子毒，大忌豬肉、冷水。</p>

<h3>胡黃連</h3>
<p>苦，大寒，外黃心黑，干如楊柳枯枝。折之塵出者乃為真也，惡菊花、玄參、白蘚皮，解巴豆毒，忌豬肉，令人漏精。當藥草人或用充胡黃連非是。</p>

<h3>黃芩</h3>
<p>苦，寒，破爛者名宿芩，乃舊根，多中空外黃內黑，即今所謂片芩也，圓者名子芩，乃新根，多內實堅即今所謂條芩也，深色堅實者佳，刮去外衣內朽，切片，酒炒上升，山茱萸、龍骨為使，惡蔥實，畏牡丹皮、藜蘆、丹砂。奸商多以南天竹、撒沙爺、起草根，假偽亂真，用者宜辨認。</p>

<h3>秦艽</h3>
<p>苦，平，以左文者為良，破開除土、去蘆，以濕布拭淨，日乾，用菖蒲為使，畏牛乳。人或取貓草根當秦艽，非是。</p>

<h3>柴胡</h3>
<p>苦，平，微寒，去蘆及須，以水洗淨，銼用，勿令犯火，欲上升用根酒浸，欲下降用梢，半夏為使，惡皂莢，蜀葵。畏藜蘆、女菀。</p>
<p>本草云：苗有如韭葉者、竹葉者，以竹葉者為勝，即今之鎌倉柴胡，乃此種也，但初生苗如韭，後葉似竹耳，非有二種也，市中有名沙柴胡者即雞腿兒草也，又有犛牛柴胡，即貓草根也，亦名沙柴胡，俱與柴胡大別也，皆物之傳訛者，不宜入劑，又有銀柴胡根，形類沙參而大，皮皺色黃白，肉有黃紋。李東璧所謂市人以偽充銀柴胡，殊無氣味者也，又按李念莪云治勞與疳證，乃銀州柴胡，別為一種。郭章宜云：產銀夏者獨勝，微白而軟者為銀柴胡，用以治勞弱骨蒸，其說不同，當更考之。</p>

<h3>前胡</h3>
<p>甘、辛，平，微寒，去蘆，用半夏為使，惡皂莢，畏藜蘆。</p>
<p>前胡草狀，屢改觀注本草者，誤謂有三四種，究其實即是一物也，生下濕地，其根白色，但藥中取貯者，俱夏月採之，且不極洗淨，故體不實而色亦淡黑，香味都不佳，其云葉如野菊，根皮黑肉白者皆謬說。</p>

<h3>防風</h3>
<p>甘、辛，溫，水洗，去蘆，以黃色而潤者為佳，叉頭者發狂，叉尾者發痼疾，禁之，畏萆薢，殺附子毒，惡藜蘆、白蘞、乾薑、芫花。</p>
<p>市中有筆防風入藥，宜用之，又有削防風、濱防風，俱非是真防風，葉微似水靳，與此二種大別也。削防風即防葵根也，濱防風亦防葵類，見食物傳信中。</p>

<h3>防葵</h3>
<p>甘辛。</p>
<p>今人謂之木防風，用以為防風，非是。</p>

<h3>獨活</h3>
<p>甘、苦、辛，微溫。去皮或焙用。</p>

<h3>羌活</h3>
<p>苦、辛，溫。紫色，節密者去黑皮腐爛用。</p>
<p>羌活與獨活種自不同也，今人多以獨活紫牙充羌活，誤矣！市中有唐羌活，其色不紫者蓋水白芷也，水白芷解散亦或用之。</p>

<h3>升麻</h3>
<p>甘、辛、苦，平，微寒，形細而黑，極堅實，削去皮，青綠色者謂之雞骨升麻，外黑裡白而緊實者謂之鬼臉升麻，去須及頭蘆用。今人以春雪花或梅根為升麻者，非是。</p>

<h3>苦參</h3>
<p>苦，寒。用糯米泔浸一宿，其腥穢氣並浮在水面上，須重重淘過，蒸乾，少入湯藥，多作丸服，治瘡浸酒，治腸風炒至煙起為末，玄參為使，惡貝母、菟絲子，反藜蘆。</p>

<h3>白蘚皮</h3>
<p>苦，寒，去粗皮，惡螵蛸、桔梗、茯苓、萆薢。白蘚花豔可愛，世多無有知者，市人乃剝木槿及木芙蓉花根皮以假偽，宜審之。</p>

<h3>延胡索</h3>
<p>苦、甘、辛，溫，如半夏，色黃，上部酒炒，中部醋炒，下部鹽水炒。</p>

<h3>貝母</h3>
<p>苦、辛、平，寒，黃白輕鬆者為良，油黑重硬者勿用，去心，糯米拌炒，米熟為度，厚朴為使，惡桃花，畏秦艽、莽草、礜石，反烏頭。</p>
<p>獨顆非兩片者名丹龍眼，不可入藥誤服令人筋脈永不收，用黃精、小藍汁合服，立愈。</p>

<h3>山慈菇</h3>
<p>甘、微辛，有小毒，根苗絕類老鴉蒜，但蒜根無毛，慈菇有毛殼包裹為異，用去毛殼，焙。苗枯即採，遲則苗腐難尋矣。忌甘草。</p>
<p>今人多以宮人草、忽地笑及石蒜為山慈菇，非是，其類都相似，但山慈菇春間發花，根無瓣，形如水慈菇，而茸毛固殼也。山慈菇、宮人草、忽地笑、石蒜俱有傘燈之名，其物既相近而名亦易混如此。</p>

<h3>茅根</h3>
<p>甘寒，洗去衣皮。忌鐵器。花亦入藥。</p>

<h3>龍膽草</h3>
<p>苦、澀，大寒，甘草湯浸一宿，曬乾用。貫眾、小豆為使，惡地黃、防葵。</p>

<h3>細辛</h3>
<p>大辛，溫。曾青、棗根為使，惡黃耆、狼毒、山茱萸、忌生菜、貍肉，畏硝石、滑石，反藜蘆。細辛根細，味極辛，有紫白二色，南部地方多有之。藥肆中往往以馬蹄香充之，非是也。又有杜蘅與馬蹄香相類，俱根粗而少辛味。本草注混二物為一。蓋繇不識杜蘅也，杜蘅其氣如蓴蕪北地有之。</p>

<h3>白薇</h3>
<p>苦、咸，寒，以酒洗用。惡黃耆、大黃、大戟、乾薑、大棗、乾漆、山茱萸。</p>

<h3>當歸</h3>
<p>甘、辛，溫。凡用去頭尖硬處，並塵土以水洗淨，切片，微焙。行表，酒洗，行上，酒浸。頭止血而上行，身養血而中守，梢破血而下流，全活血而不走。惡䕡茹、濕面，畏菖蒲、海藻、牡蒙、生薑，制雄黃。</p>
<p>按當歸以紫色者為勝，聞此種產越中州山中，而人不知採為時用，甚為可恨也，今太和山城州諸處多栽蒔為貨，其色白且為較利，採時沸湯略煮過，日曬乾，不堪入藥，惟冬月掘取者乃以水洗淨，曬乾，潤而甘香，宜用之，納之，瓦罐密封，可免蛀壞。</p>

<h3>芎藭</h3>
<p>辛、苦，溫，白芷為使，畏黃連，伏雌黃、蘼蕪。芎產丹後州最勝他處。</p>

<h3>蛇床子</h3>
<p>苦，平，甘，辛，去塵土，淨用，惡牡丹皮、貝母、巴豆，伏硫黃。</p>

<h3>藁本</h3>
<p>苦、辛，微溫，惡䕡茹，畏青葙子。市名犛牛藁本者乃真，余非是。</p>

<h3>白芷</h3>
<p>辛，溫，市人寸截或片削，以石灰拌勻曬、收，用時水洗淨。當歸為使，惡旋覆花、制雄黃、硫黃。</p>

<h3>芍藥</h3>
<p>苦、酸，寒，多生用，避其寒，酒炒，入血藥，醋炒，血虛者煨用，須丸為使，惡石斛、芒硝、畏硝石、鱉甲、小薊，反藜蘆、○須丸即代赭石一名，別本作雷丸。</p>
<p>山產者力洪，人家種植者根雖肥大而香，味不佳，其品滋多，入藥宜單瓣之根，赤白隨花之色也，有木芍藥草芍藥二品，藥中所用多取信濃州者，色絕白，聞信濃州產山錫杖，又謂之土鴉結皮，掘家貨於四方，花葉如單瓣芍藥而微異，即草芍藥也。</p>

<h3>牡丹</h3>
<p>苦、辛，微寒，赤者利血，白者補人，以銅刀劈破去骨，酒洗，微焙。畏貝母、大黃、菟絲子，忌蒜胡荽伏砒。</p>

<h3>木香</h3>
<p>苦、辛，溫，形如枯骨，味苦黏牙者良，凡入理氣藥，只生用之，若欲止瀉，須以麵裹煨熟用。</p>
<p>李瀕湖曰，昔人謂之青木香，後人因呼馬兜鈴根為青木香，乃呼此為南木香、廣木香以別之，今人又呼一種薔薇為木香，愈亂真矣。</p>
<p>按寇宗奭曰：常自岷州出塞，得青木香持歸，西洛葉如牛蒡，但狹長，莖高二三尺，花黃一如金錢，其根即香也，生嚼即辛香，尤行氣，此種今見有之，人亦多識之。</p>

<h3>高良薑</h3>
<p>辛，大溫，炒用。</p>

<h3>紅豆蔻</h3>
<p>即高良薑子，苦、辛，溫。炒過入藥。肆中名伊豆縮砂，售者乃此也。</p>

<h3>草豆蔻</h3>
<p>澀辛，熱，麵裹煨去皮用。</p>

<h3>草果</h3>
<p>大辛，熱，○本草載與草豆蔻同條，不分主治，然雖為一物，治微有不同，長大如訶子，皮黑厚而稜密，子粗而辛臭。草豆蔻大如龍眼而形微長，皮黃白薄而稜峭，其仁大如縮砂而辛香氣和也。</p>

<h3>白豆蔻</h3>
<p>辛，大溫。去皮研細，不見火，乘沸點服。</p>

<h3>縮砂</h3>
<p>辛、澀，溫，先和皮慢火炒熟，去殼研用。</p>

<h3>益智</h3>
<p>辛、溫，去殼，鹽水炒研用。</p>

<h3>蓽茇</h3>
<p>辛，熱，去梃用頭，以醋浸一宿，焙乾，刮去皮、粟子，令淨，免傷肺，令人上氣。</p>

<h3>肉豆蔻</h3>
<p>苦、辛，溫。形類彈丸，油色肥實者佳。以糯米粉裹於𤎖火中煨熟，去粉用，勿犯鐵器。</p>

<h3>補骨脂</h3>
<p>苦、辛，大溫，微炒用，一法用鹽酒浸一宿，蒸過，曬，微炒用。惡甘草，忌蕓薹及諸血，得胡桃胡麻良。</p>

<h3>薑黃</h3>
<p>苦、辛，溫，色比鬱金甚黃，形較鬱金稍大，兩藥實不同種。</p>
<p>李中立曰：近時以扁如乾薑形者為片子薑黃，可浸水染色。</p>

<h3>鬱金</h3>
<p>辛、苦，寒，色外黃內赤，體圓有橫紋，如蟬腹狀，圓尖而光明脆徹，苦中帶甘味者乃真。</p>

<h3>蓬莪朮</h3>
<p>苦、辛，溫，極堅難搗，須熱灰中煨令透，乘熱搗之，即碎如粉，得酒醋良。</p>

<h3>荊三稜</h3>
<p>苦，溫，黃白體重者佳，麵包火炮，加醋浸，復炒用，或煮熟焙乾亦良。</p>

<h3>香附子</h3>
<p>甘、苦、辛、澀，微寒。狀如棗核，周匝有毛，曝乾，火去毛，忌犯鐵器，或生或酒、醋、鹽水、薑汁、童便浸炒，諸法皆從本方，得童便、醋、芎藭、蒼朮良。</p>

<h3>藿香</h3>
<p>甘、辛，微溫。揀去枝梗，水洗用市家多摻棉花葉、茄葉假充、不可不細辨。</p>
<p>肆中有名排藿香者非真，其名青葉者可用，自種五六月盛時摘葉，陰乾，甚芳郁最為佳，凡採葉須視葉陰有蛛繭者去之，其葉乾後頗難揀淨。按致富奇書云：藿香入藥，摘青葉炮湯飲之，可除霍亂。</p>

<h3>蘭葉</h3>
<p>辛，平，甘寒，水洗淨用。</p>
<p>凡用宜建蘭葉。朱震亨所謂能散久積陳郁之氣，甚有力者乃此也。又別一種藥品不解何故，李東璧考據甚核，惟知此非古時水澤之蘭而遽執其說，以不復立蘭花一條，可謂亦誤矣。</p>

<h3>零陵香</h3>
<p>甘，平，溫。水洗淨，伏三黃、硃砂。</p>

<h3>蘭草</h3>
<p>辛、甘，平。</p>

<h3>澤蘭</h3>
<p>甘、苦、辛，微溫。防己為使。</p>
<p>蘭草與澤蘭同類而種有殊，俱生水旁下濕之地，但以莖圓節長而葉光有岐者為蘭草。雷斆所謂大澤蘭也，莖方節短而葉有毛者為澤蘭，所謂小澤蘭也，俱四五月盛時採之，陰乾。</p>

<h3>馬蘭</h3>
<p>辛，平，根葉同。即今緋菊花。</p>

<h3>香薷</h3>
<p>辛，微溫。忌火亦忌日，去莖用葉及蕊。（長刀香薷上品也）</p>

<h3>薄荷</h3>
<p>辛，溫。去梗用葉按薄荷、水蘇俱名之龍腦薄荷，二物同名也，今叢中薄荷有二種，其名為龍腦薄荷者真也，山薄荷考之本草，臭蕎即此是也，人或用當薄荷，大謬。</p>

<h3>小蘹香</h3>
<p>辛、甘，平，溫。形如麥粒，宜入料食。</p>

<h3>大蘹香</h3>
<p>形如柏實，裂成八瓣，性熱，不宜入食料，得酒良，炒黃用，得鹽則入腎經。藥肆所賣多將施巳密實中截雜大蘹香，飾偽似真，施巳密有毒，其實殺人，用宜仔細辨之。</p>

<h3>積雪草</h3>
<p>苦、辛，寒。三月採，伏硫黃。</p>

<h3>水蘇</h3>
<p>辛，微溫。五六月盛時採。</p>
<p>水蘇方莖中虛，葉似藿香而微長，密齒面嫩，色青，對節生，氣甚辛烈，六七月開花成穗，青紫色，多生冰岸旁，苗高七八尺，今人以麝香草為水蘇，非是。</p>

<h3>菊花</h3>
<p>甘、微苦，平。忌火，去蒂，白朮、枸杞根、桑白皮為使。</p>
<p>李瀕湖曰：本經言菊花味苦，別錄言菊花味甘，諸家以甘者為菊，苦者為苦薏，惟宜甘者入藥，謹按張華博物志，言菊有兩種，苗花如一，惟味小異，苦者不中食。範至能譜序言，惟甘菊一種可食，仍入藥餌，其餘黃白二花，皆味苦，雖不可餌，皆可入藥，其治頭風則白者尤良，據此二說則是菊類自有甘苦二種，食品須用甘菊，入藥則諸菊皆可，但不得用野菊名苦薏者爾。</p>

<h3>艾葉</h3>
<p>苦、辛，溫，揀取淨葉，揚去塵屑，入石臼杵搗熟，去渣滓，搗至如綿細軟，謂之熟艾。若生艾灸火則傷人肌脈。用時焙燥，則灸火得力。若入丸散，須用糯米濃飲揉艾葉成餅，曬乾或瓦炕干，一研成粉，苦酒、香附為使。</p>
<p>按容齋隨筆云：艾難著力，若入白茯苓三五片同碾，即時可成細末，亦異也，然恐是艾見制於茯苓，不宜入劑。</p>

<h3>茵陳蒿</h3>
<p>苦，微寒。去莖用葉。</p>
<p>茵陳蒿經冬不凋，更因舊苗而生，冬春間莖葉俱白，至夏色綠，即今人呼為濱艾者。</p>

<h3>青蒿</h3>
<p>苦寒。用葉。童便浸一日夜，曬乾用，根莖子葉不可同使，同使，則翻成痼疾。伏硫黃。</p>
<p>凡蒿淡青，此蒿青翠，至秋余蒿並黃，此蒿獨青，謂之青蒿，其氣芬芳，故謂之香蒿。黃花蒿與此相似，惟色不深青，其氣亦薄，沈括所謂一種黃色者蓋是也，藥肆中多采充青蒿，非是。</p>

<h3>白蒿</h3>
<p>甘，平。四五月採。</p>
<p>白蒿葉似牛尾蒿而不對莖，葉俱白，四時皤皤，至秋開細白花如小菊，多生沙磧上，今人呼濱毛耳朵者是也，昔人多混茵陳蒿以為白蒿，用者宜審。</p>

<h3>菴䕡子</h3>
<p>苦、辛，微溫，陰乾，用荊實、薏苡為使。</p>

<h3>茺蔚</h3>
<p>即益母草，辛，微苦。制硫黃、雌黃、砒石。</p>

<h3>茺蔚子</h3>
<p>甘、辛，微溫，微炒香，灰制硫黃。</p>

<h3>夏枯草</h3>
<p>苦、辛，寒。土瓜為使，伏汞砂。</p>
<p>今人誤指鞴靫草為夏枯草，非是。</p>

<h3>劉寄奴</h3>
<p>苦，溫，莖葉花子皆可用，酒蒸，曬乾。</p>

<h3>旋覆花</h3>
<p>咸、甘，微溫，有小毒。去皮及蒂，微焙。</p>

<h3>青葙子</h3>
<p>苦、微寒。用時先燒鐵杵臼，乃搗用之。</p>

<h3>雞冠子</h3>
<p>甘，涼。炒用。花焙用。忌魚腥、豬肉。</p>

<h3>紅花</h3>
<p>辛、甘，苦，溫，入酒良。</p>

<h3>大薊</h3>
<p>苦、甘，溫，酒洗或童便拌，微炒。</p>

<h3>小薊</h3>
<p>苦甘，溫，制同大薊。</p>

<h3>續斷</h3>
<p>苦、辛，微溫，酒浸，焙乾。地黃為使，惡雷丸。</p>
<p>李瀕湖曰：續斷之說不一，桐君言是蔓生，葉似荏。李當之、範汪並言是虎薊。日華子言是大薊，一名山牛蒡。蘇恭、蘇頌皆言葉似苧麻，根似大薊，而名醫別錄復出大小薊條，頗難依據，但自漢以來，皆以大薊為續斷，相承久矣。究其實，則二蘇所云，似與桐君相符，當以為正。今人所用，以州中來，色赤而瘦，折之有煙塵起者為良焉。鄭樵通志謂：範汪所說者，乃南續斷，不知何據，蓋以別川續斷耳。</p>
<p>續斷，今俗謂之舞列草者此也，秋冬間生苗，干四稜，葉似藿香又類苧麻，兩兩相對而生，至春開花，其花及子似益母草。紫莖者花紅，白莖者花白，根如大薊，在處有之，藥肆所賣者皆大小薊根也，非是。接骨木、桑寄生亦名續斷，名同而物異。</p>

<h3>漏蘆</h3>
<p>苦、咸，寒，根苗皆可用。連翹為使。</p>
<p>李瀕湖曰：按沈存中筆談云，今方家所用漏蘆乃飛廉也，飛廉一名漏蘆，苗似苦芺，根如牛蒡綿頭者是也，採時用根。今閩中所謂漏蘆莖如油麻，高六七尺，秋深枯黑如漆，採時用苗，乃真漏蘆也。</p>

<h3>飛廉</h3>
<p>苦，平。用根及花，得烏頭良，惡麻黃。</p>
<p>今鬻花木者名之鬼薊花，即此也。</p>

<h3>苧根</h3>
<p>甘、滑，冷，○葉五月收陰乾。</p>

<h3>大青</h3>
<p>甘、微咸，大寒。三月四月採莖葉，陰乾用。</p>

<h3>蠡實</h3>
<p>甘，平。凡入藥炒過用，治疝則以醋拌炒之。</p>

<h3>蒼耳</h3>
<p>苦、辛，微寒，有小毒。五月五日採，陰乾。忌豬肉、馬肉、米泔，害人。伏硇砂。</p>

<h3>蒼耳實</h3>
<p>甘，溫，有小毒。炒熟搗去刺，酒拌蒸用，忌同莖葉。</p>

<h3>天名精</h3>
<p>辛、甘，寒，有小毒。五月採，陰乾用。垣衣、地黃為使。</p>

<h3>鶴蝨</h3>
<p>即天名精之子，苦、辛，涼，有小毒，微炒用。</p>

<h3>豨薟</h3>
<p>苦、澀，有小毒。五六七月採收，淨洗，曝乾，入甑中，層層灑酒與蜜，九蒸九曬用。</p>

<h3>芭蕉油</h3>
<p>甘，冷，以竹筒插入皮中取出，瓶盛之。</p>

<h3>麻黃</h3>
<p>甘、辛、苦，溫。宜用陳久者，去根節，煮數沸，抹去上沫，焙乾，用黃芩為佐，厚朴、白薇為使，惡辛夷、石葦。</p>

<h3>麻黃根節</h3>
<p>甘，平。水洗，銼用。</p>

<h3>木賊</h3>
<p>甘，微溫。去節用。</p>

<h1>卷第二</h1>

<h2>草之屬</h2>

<h3>地黃</h3>
<p>甘、苦，寒。選沉水者用酒浸，則上行外行，薑汁浸則不膩膈，忌銅鐵器，令人腎消發白，男損營女損衛，得清酒、麥門冬良，惡貝母，畏蕪荑，忌蔥蒜、萊菔，採得即用者為生，曬乾收者為干以法制過者為熟。</p>

<h3>熟地黃</h3>
<p>甘、苦，微溫，用砂鍋、柳甑襯以荷葉，將生地黃酒潤，用縮砂仁粗末拌蒸，蓋覆極密文武火蒸半日，取起曬極干，如前又蒸九次為度，令中心透熟純黑乃佳，一法地黃堅實者曬乾以手擘之有聲為度，好酒拌勻，置瓷甕內包固，重湯煮一晝夜，名熟地黃，然終不及前法。地黃掘出洗淨，肥大沉水者正，堪簡用宜用新根，其宿根當年朽腐，雖肥大而生氣將盡之物不宜入藥，市人掘採裹之草蓆中，或置之鍋內沃熱水，復以灰拌曬，惟較增秤兩，不顧藥性之有傷也，其不犯鐵和灰者，皮肉俱黃白色，市中名之白乾，然不必是選沉水者也，地黃干後皆能沉水，但鮮時有沉水者極少。按物理小識云：地黃酒九蒸搗爛，以山藥末和為餅，再曝之，一碾即末矣。</p>

<h3>牛膝</h3>
<p>甘、酸，平。用長大柔潤者，去蘆頭。欲下行生用，滋補焙用或酒拌蒸過用。惡熒火、龜甲、陸英，畏白前，忌牛肉。</p>

<h3>紫菀</h3>
<p>苦、辛，溫，去頭須，洗淨，焙用，或酒洗。款冬花為使，惡天雄、瞿麥、藁本、雷丸、遠志，畏茵陳。</p>

<h3>麥門冬</h3>
<p>甘，平，以滾水潤濕，少頃抽心，或以砂鍋焙軟，乘熱去心，不爾令人煩。若以水浸多時去心，柔則柔矣，然氣味都盡，用之不效。天門冬亦然，畏其寒者以酒浸用。地黃、車前為使，惡款冬、苦瓠苦芺，畏苦參、青蘘、木耳，伏石鐘乳。</p>
<p>麥門冬，大小三四種，功用相似，其葉小者如韭，大者如建蘭，多縱紋且堅韌，長及尺余，四季不凋，根黃白色有須，在根如連珠，四月開淡紅花，如紅蓼，實圓碧如珠。</p>

<h3>萱草根</h3>
<p>甘，涼，去心用。</p>

<h3>淡竹葉</h3>
<p>甘，寒，處處原野有之，春生苗，高數寸，細莖綠葉，儼如水竹之莖葉，其根一窠數十須，須上結子，與麥門冬一樣，但堅硬爾，隨時採之，八九月抽莖結小長穗，淡竹葉異類而同名者有四物，用者宜詳審。</p>

<h3>黃蜀葵子</h3>
<p>甘，寒，滑，水淘淨用。</p>

<h3>麗春草</h3>
<p>三月採花。</p>
<p>麗春草花四瓣，豔類罌粟而小，即虞美人草也。</p>

<h3>款冬花</h3>
<p>辛，溫，擇未舒嫩蕊去向外裹殼，甘草水浸，曬乾用，杏仁為使。得紫菀良，惡皂莢、硝石、玄參，畏貝母、辛夷、麻黃、黃耆、黃芩、連翹、青葙，然雖畏貝母，得此反良，物有相制故也，如半夏畏生薑，得之則制其毒而愈，能奏功也。</p>
<p>款冬花以生於山中者為良，圃產不堪用。藥肆中有唐款冬花，乃以枇杷花假偽者，不可不細認也。</p>

<h3>鼠麴草</h3>
<p>甘，平。款冬花為使。藥肆中取此花以當芫花，大謬。</p>

<h3>決明子</h3>
<p>甘，平，炒熟研細。蓍實為使，惡大麻子。</p>

<h3>瞿麥</h3>
<p>甘，寒，炒用。蓑草、牡丹為使，惡螵蛸，伏丹砂。</p>

<h3>王不留行</h3>
<p>甘苦，平。焙用。</p>

<h3>葶藶子</h3>
<p>辛，寒。炒用，榆皮為使，得酒良，惡白殭蠶、石龍芮，宜大棗。</p>
<p>葶藶高五六寸，葉莖及花都似小薺，三月開花微黃色，結莢扁而圓，不復如薺，有三角，惟此為異耳。</p>

<h3>車前子</h3>
<p>甘，寒。淘淨，曬乾，入湯液炒過用，入丸散酒浸一夜，蒸熟，研爛作餅，曬乾，焙用，常山為使。</p>

<h3>馬鞭草</h3>
<p>苦，微寒。七八月採苗葉，陰乾。伏丹砂、硫黃。</p>

<h3>龍牙草</h3>
<p>辛，寒。春夏生葉，採無時。</p>
<p>按閩書曰：治痢最神，本草謂即馬鞭草，非也。</p>

<h3>蛇銜</h3>
<p>苦，微寒。採無時。生下濕地，一莖五葉或七葉，開黃花，此與紫背龍牙全別，今人謂之雄蛇莓也。</p>

<h3>燈籠草</h3>
<p>苦，寒。</p>

<h3>蒴藋</h3>
<p>酸，溫。</p>

<h3>青黛</h3>
<p>咸、甘，寒、外國藍靛之英華也，波斯國者不可得也，今惟以干靛充用售者復以干澱充之，然內多石灰不可輕用，須淘之數次，取浮標用，或用青布浸汁代之。</p>

<h3>虎杖根</h3>
<p>甘、苦，微溫。刮去上皮用。</p>

<h3>蒺藜</h3>
<p>苦、辛、甘，溫。揀淨，炒去刺。烏頭為使。</p>

<h3>沙苑蒺藜</h3>
<p>甘，溫。綠色，嚼之有綠豆氣者良。出同州沙苑牧馬草地，故謂之沙苑蒺藜，苗狀似杜蒺藜，子成顆粒，褐綠色，故又名之黑蒺藜，以別其有刺芒者，本草綱目中以此為白蒺藜，殊為不當，疑字誤耳。</p>

<h3>萹蓄</h3>
<p>甘澀，四五月採苗，陰乾。</p>

<h3>紫花地丁</h3>
<p>苦、辛，寒。</p>
<p>紫花地丁今俗謂之須密列，又謂之牽駒草。其花有數色，一種溝壑邊生者起蔓。</p>

<h3>威靈仙</h3>
<p>苦，溫，一根叢須數百條，長者二尺許，初時黃黑色，干則深黑色，稱鐵腳威靈仙，以此色如或黃或白者，皆不可用忌茶茗及麩麵湯。</p>
<p>威靈仙今名九蓋草者即此是也，人多以徐長卿及仙人草為威靈仙，俱非是。仙人草有毒，勿誤用。</p>

<h3>牛扁</h3>
<p>苦，微寒。六月採。</p>

<h3>大黃</h3>
<p>苦，寒，凡用有生有熟有蒸，不得一概用，欲下行者生用，邪氣在上者必須酒浸引上至高驅熱而下。酒浸入太陽經，酒洗入陽明經，余經不用。酒黃芩為使，惡乾漆，忌冷水。肆中有片者、穿眼者，俱清來者也，片者潤而堅硬，穿眼者輕燥不實。採時皆以火石爆乾貨賣，更無生者用之亦不須更多炮炙、蒸煮。今太和山城丹後諸州皆有之，以紫地錦文者為佳，售者多以羊蹄草根假之，不可不細認也。</p>

<h3>羊蹄根</h3>
<p>辛、苦，寒，有小毒。能制三黃、砒石、水銀、丹砂，子名金蕎麥。</p>

<h3>商陸</h3>
<p>酸、辛、苦，寒。取花白者根，銅刀刮去皮，薄切，以東流水浸兩宿，同黑豆拌蒸，曬用。得大蒜良，忌犬肉。赤者有毒，能伏硇砂、砒石、雌黃、粉錫。</p>

<h3>䕡茹</h3>
<p>酸、咸、辛，寒，有毒，似蘿蔔根，斷則流汁，黑凝如漆。甘草為使，惡門冬。</p>

<h3>大戟</h3>
<p>甘、辛、苦，寒，有小毒。以漿水煮之，曬乾，銼用。赤小豆為使，反甘草，畏菖蒲、蘆葦、鼠屎，惡薯蕷。</p>
<p>大戟近道多有之，生平澤最多，春生紅牙如芍藥，漸長叢似初生楊柳，高二三尺，中空，折之有白汁，三四月開黃花、結子，人不知其為藥，視以為無用之草藥肆中以他物假充，可恨也。</p>

<h3>澤漆</h3>
<p>苦，微寒。三月採莖葉，陰乾。小豆為使，惡薯蕷。</p>

<h3>甘遂</h3>
<p>苦，寒，有毒。作連珠，大如指頭，赤皮者佳，白者性劣，用水淘去黑汁。水清為度，麵裹煨熟以去其毒。瓜蒂為使，惡遠志，反甘草。</p>

<h3>續隨子</h3>
<p>辛，溫，有毒。去殼取色白者研爛，紙包壓去油取霜用。服後瀉。多以醋同粥吃。或酸漿水即止。</p>

<h3>蓖麻子</h3>
<p>甘、辛，平，有毒。凡使以鹽湯煮半日，去皮取子研用，服蓖麻者一生不得食炒豆，犯之脹死其油能伏丹砂、粉霜。取蓖麻油法，研爛入水煮之，有沫撇起，沫盡方止，取沫煎至滴水不散為度。</p>

<h3>藜蘆</h3>
<p>辛、苦，寒，有毒。宜用蔥管者，去頭，用糯米汁煮之，曬乾用。黃連為使反細辛、芍藥、人參、沙參、紫參、丹參、苦參、又與酒相反，同用殺人。惡大黃，畏蔥白，服之吐不止，飲蔥湯即止。今人以千年蒕為藜蘆，非是。</p>

<h3>黑附子</h3>
<p>辛，溫，有毒。重一兩以上矮而孔節稀者佳，生用，則發散熟用則峻補生用去皮臍熟，用以水浸過，炮令皴拆，去皮臍，切片，炒黃色去火毒用，或童便浸一日，去皮切作四片，童便及濃甘草湯同煮，汁盡為度，烘乾。地膽為使，畏防風、黑豆、甘草、人參、黃耆、綠豆、烏韭、童便、犀角、惡蜈蚣、忌豉汁。李中立曰：市肆售者有以鹽水浸之，取其潤濕體重買者，當以體干堅實、頂圓正底、平者為良。楊天惠附子記曰：附子之品有七，實本同而末異，其初種之小者為烏頭，附烏頭而旁生者為附子，又左右附而偶生者為萴子，又附而長者為天雄，又附而尖者為天佳，又附而上者為側子，又附而散者為漏藍子，皆脈絡連貫如子附母，而附子以貴，故獨專附名，自余不得與焉。凡種一而子六七以上則其實皆小，種一而子二三則其實稍大，種一而子特生則其實特大，此其凡也。附子之形以蹲坐正節角少為上，有節氣多鼠乳者次之，形不正而傷缺風皺者為下，附子之色，以花白為上，鐵色次之，青綠為下，天雄、烏頭、天佳以豐實過握為勝，而漏藍、側子園人以乞役夫，不足數也，大率蜀人人餌附子者少，惟陝輔、閩浙宜之，陝輔之賈才市其下者，閩浙之賈才市其中者，其上品則皆士大夫求之蓋貴人金多喜奇，故非得大者不厭，然土人有知藥者云，小者固難用，要之半兩以上皆良，不必兩，乃可此言近之。</p>
<p>李瀕湖曰：別有草烏頭、白附子，故俗呼此為黑附子、川烏頭以別之。</p>

<h3>川烏頭</h3>
<p>辛，熱，有毒。形如魁芋頂未圓正為別，制、忌同附子。</p>
<p>烏頭，其形似烏鳥之首，故以為名，兩岐如烏開口者曰烏喙，亦取其似也，皆因象命名，生子多者，一年種之即有此數物也，其元種之母莖枯則朽腐，子在土中，於冬初其苗已萌生，故收採當在八九月間，不爾雖有造得者全不堪用。本草云：附子之母曰烏頭，如芋魁。又云：春採為烏頭，冬採為附子，殊為謬誤。</p>

<h3>天雄</h3>
<p>辛，熱，有大毒。形大而長少角刺而實，制忌亦如附子。</p>

<h3>草烏頭</h3>
<p>辛，熱，有大毒。形如烏頭，即野生者。無釀造之法，外黑內白，皺而枯燥，或生用，或炮用，或以黑大豆同煮熟去其毒用。黑豆、冷水能解其毒，莽草、遠志為使，反半夏、栝蔞、貝母、白蘞、白芨，惡藜蘆，畏飴糖，忌豉汁，伏丹砂、砒石。</p>

<h3>白附子</h3>
<p>辛，大溫，有毒。炮去皮臍用。</p>
<p>白附子，所在有之，人不識用，或以白花雙鸞菊當之，誤矣！</p>

<h3>天南星</h3>
<p>辛，溫，有毒，去皮臍，入器中湯浸五七日，日換三四遍，洗去涎，曝乾用，或火炮裂用，或以皂莢、白礬、生薑水煮過用，蜀漆為使，惡莽草，畏附子、乾薑、生薑，生能伏雄黃、丹砂、焰硝。</p>
<p>造南星曲法，以薑汁礬湯和南星末作小餅子安籃內，楮葉包蓋，待上黃衣，取曬收之。</p>
<p>造膽星法，以南星末研末，臘月取黃牯牛膽汁，和納入膽中，系懸風處干之。年久者彌佳，消風痰尤妙，銼碎炒用，方書謂之牛膽南星即此是也，若倉卒不能得此，以生薑湯多泡六七次，殺去毒堪用，但其性猶烈耳。</p>

<h3>半夏</h3>
<p>辛，平，有毒。揀肥大而白者洗去皮垢，以水浸五日，每日換水，去帽㫰干，切片，薑汁拌焙入藥。射干為使，惡皂莢，畏雄黃，生薑，乾薑，秦皮，龜甲，反烏頭，忌羊血、海藻、飴糖。</p>
<p>造半夏曲法，以半夏洗淨，湯泡去衣垢，研細，以薑汁、礬湯和作餅，楮葉包裹，待生黃衣去葉，曬乾用治濕痰以薑汁、白礬湯和之，治風痰以薑汁、皂角煮汁和之，治火痰以薑汁、竹瀝或荊瀝和之，治寒痰以薑汁、礬湯入白芥子末和之。</p>

<h3>蚤休</h3>
<p>即金線重樓，苦，微寒，有毒。伏雄黃、丹砂、硼砂及鹽。</p>

<h3>射干</h3>
<p>苦，平，有毒。採根，以米泔水浸一宿，漉出，以䈽竹葉煮之，日乾用。</p>

<h3>菟絲子</h3>
<p>辛、甘，平。以溫水淘去沙泥酒浸一二宿，蒸曬焙乾，研末，得酒良，薯蕷、松枝為使，惡雚菌。</p>

<h3>五味子</h3>
<p>酸、甘、辛、苦、咸，溫。入補藥蜜蒸熟，再以泔水浸，焙乾用。入嗽藥生用，連核入藥。有南北之分，南者乾枯，北者濕潤。蓯蓉為使，惡葳蕤，勝烏頭。五味子以朝鮮國來者為勝。</p>

<h3>覆盆子</h3>
<p>甘、辛，微熱。以水淘淨，去皮蒂，酒浸一宿，蒸焙用。</p>

<h3>使君子</h3>
<p>甘，溫。去殼取白仁用，油黑不堪。</p>
<p>李中立曰：去殼取仁，然仁絕難得，今醫家或兼用殼。</p>

<h3>木鱉子</h3>
<p>甘，溫，有小毒。形扁礧砢大，如圍棋子，去殼取仁，或去油用，老者殼色蒼黑，嫩者殼色黃，白仁皮綠，肉白者佳，多油及瘦薄者不堪用。</p>

<h3>馬兜鈴</h3>
<p>苦、微，辛，寒。去葉蔓劈開去革膜，取淨子焙用。根為青木香。</p>
<p>馬兜鈴，春生苗，作蔓葉，似蘿藦而澀，開黃紫花，結實如鈴，作四五瓣，根微有香氣，故有青木香之名。關東多有之，小兒折其苗生食之，此間山中亦有之，今人誤別指一種草以為青木香，不復採馬兜鈴根，考之本草，殊為乖剌。按興化府志云：麝香弱蔓如山藥，碎花穗生，淺黃色，香酷烈如麝，今俗名為青木香者，即此是草也，物之傳訛者多不獨於此也，好生君子其有慎而辨之哉！</p>

<h3>牽牛子</h3>
<p>甘、苦、辛，熱，有毒。水淘去浮者，曬乾，碾取頭末去皮麩不用，亦有半生半熟用者。黑者名黑醜，白者名白醜，味薟，得青木香乾姜良。</p>

<h3>紫葳</h3>
<p>即陵霄花。</p>
<p>酸，微寒。花根俱入藥，花不可近，鼻聞傷腦，花上露入目，令人昏矇，畏滷咸。</p>

<h3>栝蔞實</h3>
<p>甘，微寒。去殼皮、革膜及油，亦有不去油微炒者。</p>
<p>藥鋪栝蔞、王瓜子混而一之，用宜仔細辨，其殼中子似柿核者即栝蔞也，如螳螂頭者王瓜也。王瓜亦入藥。</p>

<h3>天花粉</h3>
<p>即栝蔞根，甘、苦，微寒。秋冬採根去皮，切片，水浸三日，逐日換水，搗如泥，絹濾澄粉，曬乾用。枸杞為使，惡乾薑，畏牛膝、乾漆，反烏頭。</p>

<h3>乾葛</h3>
<p>甘、辛，平。去皮用。</p>
<p>乾葛即葛根，非生根也，今俗取葛莖為乾葛，誤矣！</p>

<h3>葛花</h3>
<p>甘，平。七月採之。</p>

<h3>天門冬</h3>
<p>甘、微苦，平。去心，酒拌蒸用。忌食鯉魚，誤食中毒者以浮萍汁解之，垣衣、地黃、貝母、為使，畏曾青。</p>

<h3>百部</h3>
<p>苦、甘，微溫。去心，酒浸，焙用。</p>

<h3>何首烏</h3>
<p>甘、苦、澀，微溫。用竹刀切，米泔浸一宿，木杵搗。一法用竹刀刮去黑皮，米泔浸二日，切片，每赤白各一斤，用黑豆三斗，每次用三升三合三勺，以水浸過甑內，鋪豆一層藥一層，重重鋪盡，砂鍋上蒸之，豆熟為度。去豆用，九蒸九曬為佳。白者入氣赤者入血。茯苓為使，忌蘿蔔、蔥、蒜、諸血。無鱗魚、鐵器。同於地黃，能伏硃砂。</p>
<p>今俗以𦬅蔞當何首烏，非是。詳載食物傳信中。</p>

<h3>萆薢</h3>
<p>苦、甘，平。削去上皮，切片，鹽水拌炒，酒潤，烘。薏苡為使，忌牛肉，畏葵根、大黃、柴胡、前胡、牡蠣。</p>

<h3>菝葜</h3>
<p>甘，平，溫。削去上皮用。</p>

<h3>土茯苓</h3>
<p>甘、淡，平。色白者良，削去皮用。忌茶茗及牛、羊、雞、鵝、魚、肉、燒酒、面。</p>
<p>李瀕湖曰：萆薢、菝葜、土伏苓三物，形雖不同而主治之功不相遠，豈亦一類數種乎！</p>

<h3>白蘞</h3>
<p>甘、苦，平，微寒。代赭為使，反烏頭。</p>

<h3>山豆根</h3>
<p>苦，寒。</p>

<h3>茜根</h3>
<p>苦，寒。入藥炒用。忌鐵器並鉛。畏鼠姑汁、制雄黃。</p>

<h3>防己</h3>
<p>苦、辛，寒。漢防己是根外白內黃，破之有黑紋如車輻解者良。木防己是苗色黃腥，皮皺、上有丁足子，青白虛軟不堪用，去皮銼，酒洗曬乾用。殷孽為使，惡細辛，畏萆薢、女菀、滷咸，伏硝石，殺雄黃毒。</p>

<h3>海金沙</h3>
<p>甘，寒。其蔓引於竹木上，線莖細葉，可愛也。至於六七月，其葉彌細背多皺文，生沙子狀如蒲黃，收其有皺文葉曬乾，以紙襯承，其沙落紙上及草皆可入藥，勿令見火。</p>

<h3>木通</h3>
<p>甘、辛、淡，微寒。去粗皮，切片，細而白者佳。</p>

<h3>絡石</h3>
<p>苦甘、微酸，寒。入藥擇附石者良，用粗布揩去毛子，以熱甘草水浸透，切曬用。</p>
<p>杜仲、牡丹皮為使，惡鐵落，畏貝母、菖蒲，殺殷孽毒。絡石其類頗多，葉似木蓮而小，四月開白花，氣甚芬芳者是也。</p>

<h3>木蓮葉</h3>
<p>酸，平。</p>
<p>木蓮，今名一咀毗者是也。葉似木犀，實如無花果，夤緣樹木，四時不凋，折之有白汁，世俗相傳以馬察吉藤為木蓮，大謬！</p>

<h3>鉤藤</h3>
<p>甘、苦，微寒。選紫色去梗，純用嫩鉤，其功十倍。</p>

<h3>忍冬</h3>
<p>甘，微寒。藤葉不拘時採，陰乾。</p>
<p>沈內翰曰：如無生者，只用乾者，然力終不及生者效速。</p>

<h3>金銀花</h3>
<p>即忍冬藤花，四月採之，陰乾。</p>

<h3>丁公藤</h3>
<p>辛，溫。採無時。</p>
<p>丁公藤，在處多有之，蔓延木上，葉如杏葉而尖，七八月子熱，則其殼分為三瓣，內子見，俗謂之山柿。</p>

<h3>白前</h3>
<p>甘，微溫。甘草水浸一伏時，去頭須，焙乾用。忌羊肉。</p>

<h3>石龍芮子</h3>
<p>苦，平。大戟為使，畏茱萸、蛇蛻皮。</p>

<h3>穀精草</h3>
<p>甘，平。</p>
<p>產遠江州者，花絕白莖，高至尺余，最勝他處。</p>

<h3>鱧腸草</h3>
<p>甘、酸，平。六月採，楝青嫩無泥土者，不用洗，摘去黃葉用。</p>

<h3>燈心草</h3>
<p>淡，平。蒸熟待乾折其瓤，是謂熟草，可然燈，不蒸生剝為生草，可入藥。燈心最難研，以粳米粉漿染過，曬乾研末，入水澄之，浮者是燈心也，曬乾用。</p>

<h3>蘆根</h3>
<p>甘，寒。取肥者去須並赤黃皮用其露出及浮水中者並不堪。</p>

<h3>澤瀉</h3>
<p>甘、咸，微寒。色白，實重者佳，去毛，酒洗一宿曝乾用。畏海蛤、文蛤。</p>

<h3>石菖蒲</h3>
<p>辛，溫，山中生水石間，根鬚絡石，略無少泥土者良。露根不可用。十二月採根，曬乾以銅刀刮去毛，微炒用。秦皮、秦艽為使，惡地膽麻黃，忌飴糖、羊肉，犯鐵器，令人吐逆。菖蒲有數種，生於池澤，蒲葉肥根高三四尺者泥蒲也，名白菖。又有花菖蒲類燕子花，嬌豔可愛，自有數色，紫者所謂紫菖蒲也，生於溪澗，蒲葉瘦根高一二尺，其葩與花菖蒲相肖而小者溪蓀也，名溪蓀，生於水石之間，有劍脊，瘦根密節，高尺余，二三月間抽莖開小黃花成穗者石菖蒲也，惟以此種入藥，余皆不堪，其養以沙石，愈剪則愈細，愈久則愈密，高四五寸，葉如韭，甚則根長二三分，葉長寸許，置之几案，用供清賞者，謂之錢蒲，性氣有傷，不可用也。又山中泉石間自有根苗纖細，一寸不啻九節或至於二十節者，方技家獨貴之，然不必拘也，但當以深山窮谷水磧上生者為佳，人家栽於園亭者不可用耳。</p>

<h3>蒲黃</h3>
<p>甘、淡，平。市者多以黃柏末假之，極害人。松黃、黃蒿與之相似，味粗損人，破血消腫生用，補血止血炒用。</p>

<h3>水萍</h3>
<p>辛、酸，寒。揀紫背浮萍以竹篩攤曬，下置水一盆映之，即易干也。</p>

<h3>海藻</h3>
<p>咸，寒。洗淨鹹味，焙乾。反甘草。</p>

<h3>海帶</h3>
<p>咸，寒。形似紙條，薄而且長，黃白色、俱不堪。水洗用。</p>

<h3>昆布</h3>
<p>咸，寒，滑。洗淨鹹味，焙乾。</p>

<h3>鷓鴣菜</h3>
<p>咸，甘。用之略洗過，不盡鹹味為妙，莖葉如石松而小，色青。</p>
<p>鷓鴣菜今俗謂之馬窟犁此也，按漳州府志云：鷓鴣菜生海石上，散碎色微黑，小兒腹中有蟲食之下。</p>

<h3>石斛</h3>
<p>甘、淡、微咸。宜入湯酒，不宜入丸。使者勿用木斛。石斛短而中實，木斛長而中虛，其味大苦，服之損人，去根頭酒洗蒸用。陸英為使，惡凝水石、巴豆，畏雷丸、殭蠶。</p>

<h3>骨碎補</h3>
<p>苦溫銅刀刮去黃黑毛焙用。</p>

<h3>石葦</h3>
<p>苦，平。去黃毛，微炙用。滑石、杏仁、射干為使，得菖蒲良，制丹砂、礬石。</p>

<h3>金星草</h3>
<p>苦，寒，類石葦而有金星。制三黃、砂、汞、礬石。</p>

<h3>石胡荽</h3>
<p>辛，溫。生石縫及陰濕處，其氣辛熏，夏開細花，黃色。汁制砒石、雄黃。</p>

<h2>谷之屬</h2>

<h3>粳米</h3>
<p>甘，平。入藥以極精者洗用。不可同馬肉食，發痼疾。不可和蒼耳食，令人卒心痛，急燒陳倉米灰和蜜漿服之，不爾即死也。</p>
<p>汪穎曰：粳有早中晚三收，以晚白米為第一，各處所產種類甚多，氣味不能無少異而亦不大相遠也。天生五穀，所以養人，得之則生，不得則死，惟此谷得天地中和之氣，同造化生育之功，故非他物可比，入藥之功，功在所略爾。</p>

<h3>糯米</h3>
<p>甘，溫。以精鑿米洗過入藥。解芫青、斑蝥毒。</p>

<h3>胡麻</h3>
<p>甘，平。有黑白赤三種。取黑者水淘去浮者，以酒拌蒸，曬乾，炒用。</p>

<h3>麻油</h3>
<p>甘，微寒。以白者為勝，生者性寒而治疾，炒者性熱而發病，蒸者性溫而補人。</p>
<p>陶弘景曰：生榨者良，若蒸炒者只可供食及燃燈耳，不入藥用。</p>

<h3>麻仁</h3>
<p>甘，平，微寒。極難去殼，用絹包置沸湯中至冷，取出懸井中一夜，勿著水，曬乾，新瓦上挼去殼，簸揚取仁。畏牡蠣、白薇、茯苓。</p>

<h3>浮小麥</h3>
<p>甘、咸，寒。即小麥水淘淨浮起無肉之麥殼也，焙用。</p>

<h3>薏苡仁</h3>
<p>甘淡，微寒。淘曬，炒用，有二種，一種黏牙者，尖而殼薄，即薏苡也，其米白色如糯米，一種圓而殼厚，堅硬者，即菩提子也，其米少，亦名為念珠。</p>

<h3>罌粟殼</h3>
<p>酸、澀微寒。取殼水洗，潤去蒂及筋膜，取外薄皮米醋炒或蜜炙用，得醋、烏梅、橘皮良。</p>

<h3>阿片</h3>
<p>酸、澀，溫，有小毒。一名阿芙蓉，罌粟花之精液也。罌粟結青苞時，午後以大針刺其外面青皮，勿損裡面硬皮，或三五處，次早精出，以竹刀刮盛瓷器，陰乾用之。</p>

<h2>菽之屬</h2>

<h3>黑大豆</h3>
<p>甘，平。惡五參、龍膽。嬰兒十歲以下者，炒豆與豬肉同食，壅氣致死十有八九。</p>
<p>凡服蓖麻子忌之，服厚朴者亦忌之，古方稱此解百藥毒，大不然，又加甘草，其驗乃奇也。</p>

<h3>赤小豆</h3>
<p>甘，平。不可同魚鮓食成消渴，作醬同飯食成口瘡。</p>

<h3>綠豆</h3>
<p>甘，寒。連皮用。反榧子。殼害人，合鯉魚鮓食，久則令人肝黃成渴病。</p>

<h3>白扁豆</h3>
<p>甘，平。硬殼者溫平，連皮炒熟入藥，亦有水浸去皮及生用者。從本方。其軟殼及粟色者，微涼，但可供食，不堪入藥。</p>

<h3>葫蘆巴</h3>
<p>苦，大溫。淘淨，以酒浸一宿，曬乾，蒸熟或炒過用。</p>

<h2>造釀之屬</h2>

<h3>淡豆豉</h3>
<p>苦、澀、甘，寒。豆豉有鹹淡二種，惟淡者治病。</p>
<p>造淡豉法，用黑豆一斗，六月間水浸一宿，瀝乾，蒸熟，攤蘆蓆上，候微溫蒿覆五六日，候黃衣遍滿為度，不可太過，取曬，簸淨，水拌得中，築實甕中，桑葉蓋覆，厚三寸，泥固曬七日。又以水拌入甕，如是七次，甕收築封即成矣。</p>

<h3>神麯</h3>
<p>甘、辛，溫，炒黃用。</p>
<p>造神麯法，五月五日或六月六日，用白麵百斤，青蒿自然汁三升，赤小豆末、杏仁泥各三升，蒼耳自然汁、野蓼自然汁各三升，以配白虎、青龍、朱雀、玄武、句陳、螣蛇六神，用汁和麵、豆、杏仁作餅，麻葉或楮葉包罯，如造醬黃法、待生黃衣，曬收，臨用炒之，陳久者良。一法用青蒿、蒼耳、野蓼自然汁及赤小豆末、杏仁泥各三盞和勻於瓷器內，次第下白麵搜和得所，作餅如上，生黃，曬收之尤為簡便也。</p>

<h3>紅曲</h3>
<p>甘，溫。</p>
<p>造紅曲法，白粳米一石五斗，水淘浸一宿，作飯，分作十五處，入曲母三斤，搓揉令勻，並作一處，以帛密覆熱即去帛，攤開覺溫，急堆起，又密覆，次日日中又作三堆，過一時分作五堆，再一時合作一堆，又過一時分作十五堆，稍溫又作一堆，如此數次，第三日用大桶盛新汲水，以竹蘿盛曲作五六分蘸濕完，又作一堆如前法，作一次，第四日如前又蘸若曲半沉半浮，再依前法作一次，又蘸若盡浮則成矣。取出日乾，收之，其米過心者謂之生黃，入酒及鮓⿰酉𬐚中，鮮紅可愛未過心者不甚佳，入藥以陳久者良。</p>

<h3>麥芽</h3>
<p>咸、甘，溫，即大麥水浸生芽者，去須，取其中米炒研面用，今惟炒用。豆蔻、縮砂仁、烏梅、木瓜、芍藥、五味子為使。</p>

<h3>飴糖</h3>
<p>甘，大溫。惟以糯米作者入藥，余但可食爾。</p>

<h3>苦酒</h3>
<p>即米醋，甘、酸、苦、溫。服茯苓、丹參者不可食醋，米醋煮制四黃、丹砂、膽礬、常山諸藥也。</p>

<h3>酒</h3>
<p>苦、甘、辛，大熱。凡酒忌諸甜物，酒漿照人無影不可飲，祭酒自耗不可飲，酒合乳飲令人氣結，同牛肉食令人生蟲。畏枳椇、葛花、赤豆花、綠豆粉。</p>

<h3>石蜜</h3>
<p>甘，溫。即白砂糖。</p>

<h2>蔬之屬</h2>

<h3>韭子</h3>
<p>辛、甘，溫。爆干，簸去黑皮，炒黃用。韭葉不可與蜜及牛肉同食。</p>

<h3>蔥莖白</h3>
<p>辛，平。同蜜食殺人，服地黃、常山忌食。</p>

<h3>大蒜</h3>
<p>辛，溫、有毒。不可同蜜食，殺人。</p>

<h3>白芥子</h3>
<p>辛，熱。微焙擊碎，用生絹袋盛入煮，勿煎太過，則味苦辣。</p>

<h3>蕓薹子</h3>
<p>即油菜，辛溫。</p>

<h3>萊菔子</h3>
<p>辛，溫，甘，平。</p>

<h3>生薑</h3>
<p>辛，溫。去皮則熱，留皮則冷。秦椒為使，殺半夏、莨菪毒，惡黃芩、黃連、天鼠糞。</p>
<p>繆仲醇曰：生薑不宜使熟，宜搗絞汁，待藥煎成，傾方不失生字之義。如入藥煎，乃熟姜非生薑。</p>

<h3>乾薑</h3>
<p>苦、辛，大熱。微炒用，若治產後血虛發熱及止血俱炒黑，溫中炮用，散寒邪理肺氣止嘔生用。使惡殺同生姜。</p>
<p>造乾薑法，以母姜水浸三日，去皮，又置流水中六日，更刮去皮，然後曬乾，置瓷缸中釀三日乃成也。藥肆中以母姜略煮過，然後曝之令乾，名之乾薑售，非是。</p>

<h3>胡荽</h3>
<p>辛，溫，有小毒。凡服一切補藥，有白朮、牡丹皮者咸忌之。伏石鐘乳。</p>

<h3>山藥</h3>
<p>即山薯。</p>
<p>甘，平。惡甘遂。</p>
<p>山薯形長者是也。一種形如手掌，名佛掌薯。又有番薯即紅山藥。其根如姜而大，皮薄而紫。異物志謂之甘薯。一名朱薯，此二種俱可供饌。惟山薯入藥，要山中生經十年以上者，洗去土留皮，竹篩盛置檐風處候完干，收之。或置焙籠中，微火烘乾亦佳。臨用削去皮，藥肆所賣者，大率系家園種者皆削去皮，以米粉石灰拌，使干之，用須水洗，色白者為佳，青黑者不堪。</p>

<h3>百合</h3>
<p>甘，平。花白者入藥。</p>

<h3>冬葵子</h3>
<p>甘，寒，滑。黃芩為使，伏硫黃。</p>
<p>葵今處處有之，古人種為常食，今之種者頗鮮，苗高三四尺，莖葉似蜀葵而差，小花極微細。有紫莖、白莖二種，以白莖為勝，以秋種覆養經冬至春作子者謂之冬葵子。入藥世俗相承，以錢葵當葵菜，非是。</p>

<h3>藜</h3>
<p>甘，平。有二種，凡使高二尺五六寸為妙，若長若短皆不中用也，生牆下樹下者不可用。</p>

<h3>紫蘇</h3>
<p>辛，溫。不可同鯉魚食，生毒瘡。</p>

<h3>蘇子</h3>
<p>辛，溫，炒香研用。</p>

<h3>荊芥</h3>
<p>辛、苦、溫，去枝莖生用，治下焦血炒黑用與河豚、黃顙魚、驢肉相反，若同日食之多致喪命，不可不痛戒也。</p>

<h3>牛蒡子</h3>
<p>苦，辛。揀淨以酒拌蒸，待有白霜以布拭去，焙乾搗粉用。</p>

<h3>蒲公英</h3>
<p>苦、甘，寒，三四月採，陰乾。</p>

<h3>地膚子</h3>
<p>甘，寒，揀淨用。</p>

<h2>果之屬</h2>

<h3>杏仁</h3>
<p>甘、苦。溫。湯浸去皮尖，炒黃研細，風寒肺病藥中連皮尖用，取其發散也，作湯如白沫不解者，食之氣壅，湯經宿者動冷氣。惡黃芩、黃耆、葛根，畏蘘草，得火良。</p>

<h3>烏梅</h3>
<p>酸、澀，溫平。去核微炒，若過而齒齼者，嚼胡桃肉解之。忌豬肉，取大青梅籃盛於突上燻黑用。</p>

<h3>白梅</h3>
<p>酸、咸，平。取大青梅以鹽汁漬之，日曬，夜漬十日成矣，久乃上霜。</p>

<h3>桃仁</h3>
<p>苦、辛、甘，溫。行血，連皮尖生用。活血、潤燥，湯浸去皮尖炒用。雙仁有毒不用。香附為使。</p>

<h3>大棗</h3>
<p>甘，溫。六七月採，曝乾，堅實肥大者佳，忌與蔥、魚同食，殺烏頭、附子毒，入藥劈去核。棗有大小數種，小者只可充果食，入藥惟用大棗，形大而核小多膏、味甘美者為良。其雖大而不肉厚，堅燥少脂者不堪。</p>

<h3>雪梨</h3>
<p>甘，寒。雪梨、綿梨、香水梨俱為上品，可以治病，余梨不去病。</p>

<h3>木瓜</h3>
<p>酸、澀溫。形如小瓜而有鼻，皮薄色赤黃，香而甘酸不澀，去硬皮及子，臼中杵碎曬乾。陳久者良。忌鐵器。</p>
<p>李瀕湖曰：木瓜可種可接，可以枝壓，其葉光而厚，其實如小瓜而有鼻，津潤味不木者為木瓜，圓小於木瓜味木而酢澀者為木桃，似木瓜而無鼻，大於木桃，味澀者為木李，亦曰木梨，即榠楂及和圓子也，鼻乃花脫，處非臍蒂也。</p>
<p>木瓜木葉花實酷類榠楂，俱是系一類，其實如瓜，但看花脫處有鼻者為木瓜，無者為榠楂也，處處遍有之，今人罕知是為木瓜，而試於用者也，誤以闌地錦實為木瓜，殊非是。</p>

<h3>山楂</h3>
<p>酸，微溫。核有功力不可去也。</p>

<h3>柿餅</h3>
<p>甘，寒。其霜謂之柿霜，甘，冷。反杜鵑花，誤並食，殺人。</p>

<h3>柿蒂</h3>
<p>澀苦，溫，大者如碟，八稜而扁，其次如拳，以核少者為佳。</p>

<h3>柿</h3>
<p>今園圃種接者甚繁，惟方柿蒂宜入藥。</p>

<h3>石榴皮</h3>
<p>酸澀，溫。勿犯鐵器，漿水浸一夜，取出用，其水如黑汁。</p>

<h3>橘皮</h3>
<p>苦、辛，溫，水洗潤透，刮去筋膜，曬乾用。</p>

<h3>橘</h3>
<p>今俗謂白香子者、即此也。</p>
<p>薛立齋曰：陳皮隔年者方可用。</p>
<p>李瀕湖曰：橘皮紋細色紅而薄，內多筋脈，其味苦、辛，柑皮紋粗色黃而厚，內多白膜，其味辛、甘。橘皮最厚而虛紋更粗，色黃，內多膜無筋，其味甘多辛少，但以此別之即不差矣。今天下多以廣中來者為勝，江西者次之，然亦多以柑皮雜之，柑皮猶可用，柚皮則懸絕矣。</p>

<h3>橘核</h3>
<p>苦，溫。炒去殼。</p>

<h3>青皮</h3>
<p>即橘之未熟而色青者。苦烈辛溫，以湯浸，去瓤，切片，醋拌，瓦炒過用。</p>
<p>李中立曰：頭破裂者，俗呼四花青皮。凡用以此為勝，今人多以小柑、小柚、小橙偽為之，不可不辨。</p>

<h3>柑皮</h3>
<p>甘冷。要大而皮厚色紅者入藥，制同橘皮。</p>
<p>柑與橘雖形體相類，而其種實有別，今人概收柑皮充橘皮，非矣！</p>

<h3>枇杷葉</h3>
<p>苦、甘、辛，平。濕葉重一兩，乾者三葉重一兩者為氣足，堪用。以粗布拭去毛，或以粟杆作刷炙用。</p>

<h3>胡桃</h3>
<p>甘，熱。</p>
<p>胡桃，俗呼唐胡桃者宜入藥，其姬胡桃，食物本草所云，產荊襄者，正指此也。鬼胡桃即山核桃也。</p>

<h3>橡斗子</h3>
<p>苦，溫。去殼，水浸去澀味，蒸極熟，焙用，鬥殼亦入藥，宜搗細炒焦，或燒存性研用，木皮、根皮去粗皮用。</p>

<h3>荔枝核</h3>
<p>甘溫，澀。</p>

<h3>龍眼肉</h3>
<p>甘，溫，平。</p>

<h3>橄欖</h3>
<p>澀甘、平。凡用截去兩頭，以其性熱也。</p>

<h3>榧子</h3>
<p>澀甘，平，榧子皮，反綠豆，能殺人。</p>

<h3>松子</h3>
<p>甘，小溫。今名為海松子，類楓子而小。</p>
<p>海松子甲斐州山中多有之。</p>

<h3>檳榔</h3>
<p>苦辛、澀，微溫。去空心者，刮去臍皮，見火無功。</p>

<h3>大腹皮</h3>
<p>辛，微溫。其樹多集鴆鳥，宜先以黑豆汁洗，後以水再洗過，曬乾，火焙，切用。</p>

<h3>郁李仁</h3>
<p>辛、苦、酸，平，湯浸去皮尖及雙仁者，研膏用。</p>
<p>郁李即今尼歪撒窟剌也，條生作叢，高五六尺，其葉如李，更尖長，其花有千葉，單葉紅白色，單葉者則結實若櫻桃而小，赤色，味甘酸可食，亦有大小二種，核中仁入藥。</p>

<h3>川椒</h3>
<p>辛，熱，有毒。去核及閉口者，微炒出汗，乘熱入竹筒中，搗去裡面黃殼取紅用。杏仁為使，畏款冬花、防風、附子、雄黃，可收水銀。中其毒者，涼水、麻仁漿解之，五月勿食椒。</p>
<p>李瀕湖曰：蜀椒肉厚皮皺，其子光黑如人之瞳仁，故謂之椒目，他椒子雖光黑亦不似之，若土椒則子無光彩矣。</p>

<h3>胡椒</h3>
<p>辛辣熱。</p>

<h3>蓽澄茄</h3>
<p>去柄及皺皮，蒸，杵細，曬乾。</p>

<h3>吳茱萸</h3>
<p>辛、苦，大熱，有毒。鹽湯洗去苦烈汁，焙乾用。閉口者有毒。蓼實為使，惡丹參、硝石、白堊，畏紫石英。</p>

<h3>茶葉</h3>
<p>苦、甘，微寒。以新芽一發，便長三四分許，其粗如針，味甘氣芳，最為上品，堪入藥中。惡榧子，服威靈仙、土茯苓者。忌飲茶。</p>
<p>李念莪曰：茶葉以味甘不澀，氣芳如蘭，色白如玉者為良，昔人多言，其苦寒不利脾胃，及多食發黃消瘦之說，此皆語其粗惡、苦澀者耳。故入藥須擇上品，方有利益。</p>

<h3>孩兒茶</h3>
<p>苦、甘、澀，平。出南番系細茶，末入竹筒中，緊塞兩頭，埋汙泥溝中，日久取出，搗汁熬製而成。其塊小而潤澤者為上，塊大焦枯者次之。番人呼為烏爹泥，又呼為烏疊泥，俗因搽小兒諸瘡效，每呼為兒茶，又呼為孩兒茶。</p>

<h3>甜瓜蒂</h3>
<p>苦，寒。</p>
<p>按本草圖經云：瓜蒂即甜瓜蒂也，活人指掌補註云，瓜蒂即絲瓜帶。俗名藤蘿，二說不同。</p>

<h3>蓮子</h3>
<p>甘，平，澀。不去心令人作吐，凡使須去心，蒸焙用。得茯苓、山藥、白朮、枸杞子良，青心名蓮薏，苦寒亦入藥。</p>
<p>謝在杭曰：趙州寧晉縣有石蓮子皆埋土中，不知年代，居民掘土往往得之有數斛者，其狀如鐵石，而肉芳香不枯，投水中即生蓮葉，食之令人輕身延年，已瀉痢諸疾，今醫家不察，乃以番蓮子代之，苦澀腥氣，嚼之令人嘔逆，豈能補益乎！</p>

<h3>蓮鬚</h3>
<p>甘、澀，溫。花開時採取干，忌地黃、蔥、蒜。</p>

<h3>荷葉</h3>
<p>苦，平。畏桐油，伏白銀、硫黃。</p>

<h3>芡實</h3>
<p>甘，平。凡用蒸熟，烈日曬裂，取仁，亦可舂取粉用，入澀精藥連殼亦可。</p>

<h3>石蓮子</h3>
<p>苦，寒。其子中肉黃白色，心內空，無青芽，形細長而頭圓，殼光黑堅硬如石，故名石蓮，別是一種藥物，非藕實也。</p>
<p>按李瀕湖曰：今藥肆一種石蓮子，狀如土石而味苦，不知何物也。繆仲醇曰：石蓮子產廣中，出樹上，木實，不宜入藥。李中立曰：石蓮不知出何處，殼光黑堅石兩頭停勻有有節者，若無節者，更黑味極苦，此物經百年不壞，吳旻續補扶壽精方云：治噤口痢不思飲食者，用石蓮肉為細末，每服二錢，米湯加蜜調下，此石蓮子非水中所產者，樹出也，因肉內無心名曰石蓮，形似蓮子。</p>
<p>又按明滕可齋神農本經會通云：山東有一種木，生石蓮彷彿藕實。石蓮子但形細長而頭光圓，黑色如漆，殼內無心，肉黃色似豆瓣，味甚苦寒。今俗醫不讀本草，不知根源氣味何如，賈人又以遠來為貴，當藕石蓮出賣，以訛亂真，俗醫不辨，亦誤用之，若胃弱食少者誤服，嘔吐反增，惡食愈甚，若痢疾噤口不食者誤服，胃氣愈敗，去死不遠，若清心蓮子飲誤用者，不察去心之說，殺人不少，予特著此以為俗醫之戒服，餌者可不慎乎！清何鎮本草綱目類纂必讀云、余考群書，多言石蓮即深秋之老蓮子也。按蓮子雖至老而心必存，石蓮子劈破無心，自是別種，以之治白濁及噤口毒痢殊有神聖之功，又非老蓮子所能者，但不識此種產於何地耳。清心蓮子飲並瑞蓮丸，俱是肆中之石蓮劈破無心之一種，非老蓮子也。高明考之二說不同用者，宜審之。</p>

<h1>卷第三</h1>

<h2>木之屬</h2>

<h3>柏子仁</h3>
<p>即側柏實。</p>
<p>甘、辛，平。蒸熟，曝烈，舂簸取仁，炒研入藥。畏菊花、羊蹄草。</p>

<h3>側柏葉</h3>
<p>苦、澀寒。柏有數種，入藥惟取葉扁而側生者，故曰側柏，或生或炒，各從本方，瓜子、牡蠣桂為使，畏菊花、羊蹄、諸石及面曲，伏砒硝。</p>

<h3>松脂</h3>
<p>苦、甘，溫。凡用松脂，先須煉治，用大釜加水置甑，用白茅藉甑底，又隔細布或縑子，布松脂於上，炊以桑薪，湯減頻添熱水，候松脂盡入釜中乃出之，投冷水既凝又蒸，如此三過，其白如玉，然後入用。伏汞。</p>
<p>松脂市中賣者多雜他木液淚在內，須辨認之。</p>

<h3>桂心</h3>
<p>甘、辛、大熱，有小毒。桂有等，肉桂乃近根之最厚者，辛烈肉厚；官桂即在中之次，厚者味稍淡於肉桂，皮薄少脂。因桂多品，而取其品之最高乃上等，供官之桂也。桂心即去其上粗皮而留其近木之味辛而最精者。桂枝即頂上細枝條，春夏禁服，秋冬宜煎，得人參、甘草、麥門冬、大黃、黃芩、柴胡、地黃、紫石英良，忌見火及生蔥、石脂。</p>

<h3>桂枝</h3>
<p>甘辛，微熱。去上粗皮用。桂須要色紫赤味辛烈者用之，如不辛烈勿入劑，肆中有松浦桂心，殊不中用。</p>

<h3>辛夷</h3>
<p>辛、溫。刷去毛，微焙。芎藭為使，惡五石脂，畏菖蒲、蒲黃、黃連、石膏、黃環。</p>

<h3>沉香</h3>
<p>辛、苦，溫，入丸散銼為末，入煎劑惟磨，臨時入之。忌日曝火烘。香之等，凡三，曰沉、曰棧、曰黃熟，沉水者為沉香，半沉者為棧香，不沉者為黃熟香。入藥沉水者上，半沉者次之，不沉者可薰衣及焚燒而已。</p>
<p>沉香今肆中所賣，其氣多焦烈，又置之水中不能沉乃黃熟香類爾。非沉之精美者也。入藥選品之高者用之可也。又有奇南香燔之極清烈，醞藉香之至者。歷考眾書，或以沉香、奇南為二木，或謂沉香皆枯樹根可結，惟奇南乃沉之生結者，其說不同，諸香皆來自外舶，非本方所有，今雖自不能決其是非，然細視之則其類似不同原也，以生結、熟結分之之說不可輕信。</p>

<h3>丁香</h3>
<p>辛，熱。取紫色去丁蓋乳子，發人背癰也，勿見火，有雌雄二種。雄者顆小為丁香，雌者大如山茱萸為雞舌香，即母丁香也，入藥最勝。畏鬱金。</p>

<h3>檀香</h3>
<p>辛，溫。皮實而色黃者為黃檀，皮紫而色白者為白檀，皮腐而色紫者為紫檀，其木並堅重清香，而白檀尤良，宜以紙封收則不泄氣。</p>

<h3>降真香</h3>
<p>辛，溫。紫而潤者為良。</p>

<h3>烏藥</h3>
<p>辛，溫。生用或酒浸一宿，炒用。</p>

<h3>乳香</h3>
<p>辛、苦，微溫。圓大如乳頭，色白，入丸藥以少酒研如泥，以水飛過，曬乾用，或言以燈草同研，或以乳缽坐熱水中研之，或以箬葉上炙之研，皆易細。按乳香一名薰陸香，今藥肆中又別有名為薰陸香者，非是。詳見琥珀條。</p>

<h3>沒藥</h3>
<p>苦，平。色黃黑，修治與乳香同。</p>

<h3>白膠香</h3>
<p>即楓香脂。</p>
<p>辛、苦，平。</p>
<p>今人多以佳一狄木當楓樹，殊為謬誤。</p>

<h3>騏驎竭</h3>
<p>甘、咸，平。狀若膠飴，凝塊紅赤，與血同色，欲試真偽，但嚼之不爛如蠟者為上，今人試之以透指甲者為真，或以火燒之有赤汁湧出，久而灰不變本色者，乃真也。入藥勿與眾藥同研，恐化作塵飛也。得密陀僧良。</p>

<h3>安息香</h3>
<p>辛、苦，平。狀如松脂、桃膠，黃黑色，酒煮研，有如餳者謂之安息油。</p>

<h3>蘇合香</h3>
<p>甘，溫。藥中只用蘇合油，如黐膠以箸挑起，懸絲不斷者，真也。亦番國樹生之膏，必濃而無滓者為上。</p>

<h3>龍腦香</h3>
<p>大辛、苦，溫。市家多以番硝混攙，然其質重色蒼如砂細碎。龍腦輕浮、潔白，片片相侔，須細辨之，入瓷罐同燈草藏貯不致耗蝕，今人多以樟腦升打亂之，不可不辨也。</p>
<p>黃衷海語曰：片腦產暹羅諸國，惟佛打泥者為上，其樹高者三二丈葉如槐而小，皮理類沙柳腦，則其皮間凝液也好，生窮谷島夷，以鋸付𤞀就谷中尺斷而出，剝而採之，有大如指，厚如二青錢者，香味清烈，瑩潔可愛，謂之梅花片，鬻至中國擅翔價焉，復有數種，亦堪入藥，乃其次耳。</p>

<h3>樟腦</h3>
<p>辛，熱。凡用，每一兩以二碗合住，濕紙餬口，文武火熁之，半時許取出，冷定用。</p>
<p>煎樟腦法，用樟木新者切片，以井水浸三日三夜，入鍋煎之，柳木頻攪，待汁減半，柳上有白霜，即濾去滓，傾汁入瓦盆內，經宿自然結成塊也。</p>
<p>煉樟腦法，用銅盆以陳壁土為粉糝之，卻糝樟腦一重，又糝壁土，如此四五重，以薄荷安土上，再用一盆覆之，黃泥封固，於火上款款炙之，勿令走氣，候冷取出，則腦皆升於上盆，如此升兩三次可充亂片腦矣。故用片腦須要細辨。</p>

<h3>阿魏</h3>
<p>辛，溫。產波斯國，黑色者不堪，黃散者為上，臭烈殊常，極臭而又能止臭，最難真者，試法以半銖安熟銅器中一宿，沾阿魏處白如雪者。又法，以一銖安柚樹上，樹立干便是真者，研細用，熱酒器上挹過，置地冷入藥。</p>

<h3>蘆薈</h3>
<p>苦，大寒。產波斯國，狀似黑錫，木滴脂淚結成也，先搗成粉，然後入藥。解巴豆毒。</p>

<h3>胡桐淚</h3>
<p>咸、苦，大寒。有木石二種，木淚乃樹脂流出者，其狀如膏油。石淚乃脂入土石間者，其狀成塊形，如小石片子，黃土色，重實而堅者為上。又若硝石得水便消，以其得滷斥之氣，故入藥此為勝。伏砒石。</p>
<p>按河間府志曰：槿樹流沫之附者為胡桐淚，遍查本草無此說，惟韓保升言，初生似柳者差近之，豈固然耶！槿今有之木也，取其脂淚以試於用而可也。</p>

<h3>黃柏</h3>
<p>苦，寒。選肉厚色黃者，炒褐色。生用則降實火，熟用則不傷胃，酒製則治上，鹽制則治下，蜜制則治中。惡乾漆，伏硫黃。</p>

<h3>厚朴</h3>
<p>苦，溫。質厚色紫者良，去粗皮薑汁浸透酥炙用。乾薑為使，惡澤瀉、硝石、寒水石。忌豆，食之動氣，圖經曰：厚朴木高三四丈，徑一二尺，春生葉如槲葉，四季不凋，紅花而青實，皮極鱗皺而厚，紫色多潤者佳，薄而白者不堪，三月、九月、十月採皮，陰乾。</p>
<p>按厚朴世人相承以複復樹充之，視本草所圖其形頗相近。然圖經云，春生葉，四季不凋，紅花而青實，皮極鱗皺而厚，紫色，則圖與說不相應也，其皮氣味亦似有不同，故不以複復樹定為厚朴也，當俟訪問。</p>

<h3>杜仲</h3>
<p>苦、辛，甘，溫。脂厚潤者良，去粗皮，鹽酒炒，或以薑汁拌炒去絲。惡玄參、蛇蛻皮。杜仲有樹生、蔓生二種，本草欠載蔓生一種。</p>

<h3>椿白皮</h3>
<p>苦，溫。刮去粗皮，焙用。生用通利，醋炙固澀。香者名椿皮，色赤無毒，臭者名樗皮，色白。</p>

<h3>樗白皮</h3>
<p>即臭椿。</p>
<p>苦、澀，涼，有小毒。制硫黃、砒石、黃金。椿、樗二木皆有之，俗以山茶花為椿，甚誤也。</p>

<h3>乾漆</h3>
<p>辛、咸、苦、溫，有毒。入藥宜黑漆搗碎，炒令煙盡，不爾損人腸胃，若是濕漆煎乾更好，亦有燒存性者，中其毒者多食蟹及甘草、黑豆湯解之。生漆瘡者，杉木湯、紫蘇湯、蟹湯浴之，若入漆室先以蜀椒塗口鼻，可免瘡矣。半夏為使，畏雞子，忌油脂。</p>
<p>乾漆，桶中自然乾者，狀如蜂房，孔孔隔者為佳。藥市以石炭充乾漆，極非也。石炭是石類，與漆懸絕矣！勿誤用。又生漆有清來者多雜桐油，不可入藥。</p>

<h3>桐實</h3>
<p>大如巨棗，長寸余，殼內有子片，輕虛如榆莢、葵實之狀，老則殼裂，隨風飄揚。</p>

<h3>桐子油</h3>
<p>甘、微辛，寒，有大毒。桐油吐人，得酒即解。</p>
<p>油桐，近江州。人多種蒔，收子打油貨，乏，亦廣俗誤以荏油名桐油，非也。</p>

<h3>海桐皮</h3>
<p>苦、溫，平。皮有巨刺，如黿甲之刺。</p>
<p>海桐葉，大如手，作三花，尖，體有巨刺，如欓樹，又別有海桐花，見草花譜與此不同。</p>

<h3>金鈴子</h3>
<p>即楝實。</p>
<p>苦、酸，寒，有小毒。酒拌蒸，待皮軟刮去皮，取肉用。核肉不可同使，若用核，捶碎以漿水煮一伏時，曬乾用。蘹香為使。其根及皮微寒，微毒。種有雌雄，雄者根赤無子，有大毒，殺人。雌者，根白子多，入藥當用雌者。略刮外皮。</p>

<h3>槐花</h3>
<p>苦，平，未開時採收入藥，炒用。</p>

<h3>槐實</h3>
<p>苦，寒，酸，咸。景天為使。</p>

<h3>秦皮</h3>
<p>苦，微寒。取皮漬水便碧色，書紙青色者真。略刮外衣用。大戟為使惡吳茱萸、苦瓠、防葵。</p>

<h3>合歡皮</h3>
<p>甘，平，去上皮，炒用。</p>

<h3>皂莢</h3>
<p>咸、辛，溫，有小毒。有三種，一種豬牙皂莢，全無滋潤洗，垢不去；一種粗大長虛而無潤；一種圓厚短促，皮薄肉多，味薄大好。選赤肥不蛀者，以新汲水浸一宿，銅刀削去粗皮，或酥，或蜜反復炙透，去子弦用。柏實為使，惡麥門冬，畏空青、人參、苦參，伏丹砂、粉霜、硫黃、硇砂。</p>

<h3>皂莢子</h3>
<p>辛，溫。取堅滿者煮熟去皮，取白肉去黃。</p>

<h3>皂莢刺</h3>
<p>辛，溫。</p>

<h3>沒石子</h3>
<p>苦，溫。凡用不宜獨用。多用蟲食成孔者。入藥勿犯銅鐵器並被火驚，顆小紋細者佳，砂盆研，隔紙焙用。</p>

<h3>訶黎勒</h3>
<p>即訶子。</p>
<p>酸、苦、澀、溫。六稜、黑色、肉厚者佳，酒浸後蒸一伏時，去皮取肉，焙用。用核則去肉，或麵裹煨透，去核。</p>

<h3>柳</h3>
<p>苦、寒。花、子、枝葉皆入藥。</p>

<h3>水楊</h3>
<p>苦，平。枝葉並根皆入藥。</p>
<p>按說文：楊，蒲柳也。柳，小楊也。蒲柳葉圓闊而赤，枝條短硬，即水楊也。柳葉長而狹，青綠色，枝條長軟，蓋一類二種也，又垂柳名楊柳，隋煬帝御筆寫賜垂柳姓楊，曰楊柳。（見開河記。）</p>

<h3>榆白皮</h3>
<p>甘，平，滑利。刮去粗皮。</p>

<h3>蕪荑</h3>
<p>辛，溫，苦，平。陳久者良，必擇氣腥者佳，小者即山榆莢仁，止堪為醬及治雞病，入藥當用大者，麵炒黃。</p>

<h3>蘇方木</h3>
<p>甘、辛、酸、咸，入藥惟取中心。</p>

<h3>棕櫚皮</h3>
<p>苦、澀，平。燒存性用。</p>

<h3>烏臼根皮</h3>
<p>苦，微溫。慢火炙黃用。</p>

<h3>巴豆</h3>
<p>辛，熱，有大毒。入丸散中。去皮心膜，換水煮五度，各一沸，搗如膏，用紙包壓去油，名為巴霜。又有用仁者，用殼者，用油者，有生用者，酒煮者，醋煮者，有麩炒者，燒存性者。緊小色黃者為巴三稜，色黑者為豆。小而兩頭尖者為剛子，其力更猛。芫花為使，惡蘘草，畏大黃、黃連、藜蘆、冷水，反牽牛。得火良。中其毒者，冷水、黃連汁、大豆汁解之。</p>

<h3>大風子</h3>
<p>辛，熱，有毒。形類松子，大如雷丸，新者仁色白，久者黃油不堪入藥。去殼取仁用。</p>
<p>取大風子油法：用子三斤，去殼及黃油者，研極爛，瓷器盛之，封口入滾湯中，蓋鍋密封，勿令透氣，文武火煎至黑色如膏，名大風油，可以和藥。藥肆取大風子仁名之雷丸油，非也。</p>

<h3>桑白皮</h3>
<p>甘、辛、苦，寒。取東行嫩根洗去土泥，日曬，待其乾透後，剝皮貯之，臨時刮去上薄衣，炙用。若掘取時即剝取皮且刮上衣，其涎流去，藥力都泄，用之少效，出土上者有毒。續斷、桂心、麻子為使，忌鐵及鉛。</p>

<h3>楮實</h3>
<p>甘，寒。投水浮者去之，以酒浸一時，焙乾用。</p>

<h3>枳實</h3>
<p>苦、酸、寒，水漬透，切片，曬乾，麩炒至麩焦，去麩用，與枳殼一物。秋採者為實，冬採者為殼，後人惟以皮厚小者為枳實，完大者為枳殼，皆以翻肚如盆口狀，陳久者為勝。</p>

<h3>枳殼</h3>
<p>苦，酸，寒。水浸去穰，切片，麩炒黑，去麩用。</p>
<p>韓彥直橘錄云：近時難得枳實，人多植枸橘於籬落間，收其實剖干，以之和藥，味與商州之枳幾逼真矣。</p>
<p>枸橘又未易得，取朱欒之小者半破之，日曝以為枳，異方醫者不能辨，用以治病亦愈，藥貴於愈疾而已，孰辨其為真偽耶！</p>
<p>按枸橘俗謂之嗑辣咀，知者此也，實形如枳實而殼薄不香，今藥肆中採收貨之者，亦皆是物也，用者當辨認其真。</p>

<h3>山梔子</h3>
<p>苦，大寒。七稜九稜者佳。炒透治上焦，中焦，連殼治下焦，去殼洗去黃漿治血臠妙，心胸中熱用仁，肌表熱用皮，家園者不入藥。</p>

<h3>酸棗仁</h3>
<p>酸、甘，平。去皮尖用。多睡生用，不得睡炒熟用。惡防己。</p>

<h3>蕤核仁</h3>
<p>甘。微寒。以湯浸去皮尖，水煮過，取仁研膏入藥。</p>

<h3>山茱萸</h3>
<p>酸，微溫。酒潤去核，核能滑精也。蓼實為使，惡桔梗、防風、防己。</p>

<h3>金櫻子</h3>
<p>酸、澀，溫平。採收當在九、十月，取半黃者干去核並白毛，淨搗末用，熬膏亦可。</p>
<p>金櫻刺叢生，大類薔薇，有刺，四月開花白，清麗芬鬱，甚可愛，夏秋結實，亦有刺，黃赤色，形似石榴而小，其內有細子帶芒，肉味甜。今人多於庭院間種之，而識其入藥者亦罕矣。有才而不效且非獨於此也。</p>

<h3>連翹</h3>
<p>苦，平。去蒂瓤，任用噙口者佳，開瓣者不堪用。</p>
<p>連翹，有兩種，大翹枝梗楊起，高丈餘，小翹枝條柔軟如薔薇輩，承之可以架花葉並實，俱一樣八月採實，陰乾。</p>

<h3>枸杞子</h3>
<p>甘，平，微寒。凡用揀淨枝梗，取鮮明者洗干，酒潤一夜，搗爛入藥。</p>
<p>枸杞子，形微長如棗核，又有圓如櫻桃者。</p>

<h3>地骨皮</h3>
<p>即枸杞根。</p>
<p>甘、淡、苦，寒。洗淨去心，以熟甘草湯浸，焙乾用。制硫黃、丹砂。</p>

<h3>五加皮</h3>
<p>辛、苦，溫。其氣與酒相宜，遠志為使，惡玄參、蛇皮。</p>

<h3>衛矛</h3>
<p>苦，寒。二月、七月採莖，陰乾，去葉，銼，以酥拌緩炒。</p>
<p>衛矛，今人謂之錦木者此也，至霜後，葉丹可愛，又一種有葉如桃者。</p>

<h3>石楠葉</h3>
<p>辛、苦，平，有毒。生於石上，如枇杷葉，但背無毛。五加皮為使，惡大、小薊。</p>

<h3>荊瀝</h3>
<p>甘，寒。○荊實，苦，溫。防己為使，畏石膏。</p>
<p>取荊瀝法：用新採荊莖，截尺五長，架於兩磚上，中間燒火炙之，兩頭以器承取，熱服或入藥中。又法：截三四寸長束入瓶中，仍以一瓶合住固，外以糠火煨燒，其汁瀝入下瓶中，亦妙。</p>
<p>圖經曰：牡荊俗名黃荊是也，枝莖堅勁，作科不作蔓，葉如蓖麻，更疏瘦，花紅作穗，實細而黃，如麻子大。或云即小荊也。</p>
<p>諸家說牡荊、蔓荊紛糾不一，李瀕湖復解二物不分愈益淆亂，以他書參之，當以圖經之說為正也，但陶隱居論牡荊曰：荊花白，多子，子粗大，歷歷疏生，不過三兩莖多，不能圓，或扁，或異，或多似竹節葉，與余荊不殊者，別又似有此種，與黃荊自不同也。</p>

<h3>蔓荊子</h3>
<p>苦、辛、微寒。凡使去蒂並白膜，打碎用。惡烏頭、石膏。</p>
<p>蔓荊，莖高四五尺，對節生枝，初春因舊枝而生葉，如榆葉長而尖，有鋸齒，至夏盛茂，杪間開花成穗，紅紫色，其子如梧子許，大而有白膜皮裹之，瀕海地皆有之，八九月採實。</p>

<h3>紫荊</h3>
<p>苦，寒。皮梗及花功用皆同。其皮以厚而紫色、苦味如膽者為勝。</p>
<p>春開紫花，甚細碎，其作朵生出無常處，或生於木身之上，或附根上枝下直出，花罷葉出，光緊微圓，其實作莢，中有子圓如小珠，人多種於庭院間，殊可觀。今人以其花紫，號曰蘇方木也。</p>

<h3>木槿根皮</h3>
<p>甘，平，滑。</p>

<h3>木芙蓉</h3>
<p>微，辛，平。葉並花入藥。</p>

<h3>密蒙花</h3>
<p>甘，平，微寒。花小色黃，嚼之甘甜酒潤焙。</p>
<p>繆仲醇曰：形與芫花相似，但芫花狹小，而密蒙差大，為異用者，宜詳辨之。</p>

<h3>賣子木</h3>
<p>甘、微咸，平。</p>

<h3>接骨木</h3>
<p>甘、苦，有小毒。</p>

<h3>冬青</h3>
<p>甘、苦，涼。子葉及木皮入藥。</p>

<h3>枸骨</h3>
<p>微、苦，涼。葉並木皮入藥。</p>

<h3>女貞</h3>
<p>微苦，平。葉及實入藥。實酒浸一宿，擦去皮，蒸透，曬乾，為末。</p>
<p>女貞、冬青、枸骨三木頗相類，惟以葉微圓而子赤者為冬青，葉長而子黑者為女貞，厚硬有五刺角結實如女貞者為枸骨。三種俱上品，無毒妙藥。繆希雍書中屢盛稱其有效，夫豈無故而得此隆譽哉！冬青、女貞二木亦有似之而非者，用當辨認。</p>

<h3>常山</h3>
<p>苦，寒，有毒。形如雞骨，色如雞子黃者佳。酒浸一宿，切薄片，慢火炒透。又有醋製者吐人。畏玉札。</p>
<p>忌蔥菜、菘菜，伏砒石。○五月採葉，陰乾，名蜀漆，辛平有毒。桔梗、栝蔞為使，惡貫眾。</p>
<p>蜀漆俗謂之小臭木此也，葉似茗而長大，兩兩相當，木高丈餘，山城州鞍馬山特多有之。按圖經云：海州出者，葉似楸葉，八月有花，紅白色，子碧色似山楝子而小，今俗名臭木者即此也，人多充蜀漆用，然終是非蜀漆之真。</p>

<h3>芫花</h3>
<p>辛、苦，溫，有大毒。醋煮數沸，去醋，更以水浸一宿，曬乾用，則毒滅也，或以醋炒者次之，留數年者良，不可近眼。決明為使，反甘草。</p>
<p>芫花，今俗誤名紫荊者即此也，小木高二三尺，枝莖紫色，葉似白前及柳葉，根白色如榆根，二月發紫碧花，似藤花而細長，先花後葉，葉未生時收採，日乾，葉生花落即不堪用也。藥肆中都不識芫花，乃採水菊花充之，非是。又以此為紫荊，殊為繆妄。</p>

<h3>白茯苓</h3>
<p>甘、淡，平。去皮膜及筋用色白而堅實者佳。惡白蘞，畏牡蒙、地榆、雄黃、秦艽、龜甲，忌米醋及酸物。</p>

<h3>赤茯苓</h3>
<p>即茯苓之色赤者，制忌同白茯苓。</p>

<h3>茯神</h3>
<p>即茯苓抱根而生者，去皮及心內木。畏忌同白茯苓。</p>
<p>茯苓諸山皆有之，藥肆掘取茯苓，日乾，恐其秤兩有減，不候十分乾透貯之，故色潔白者殊少矣。又以其壞而色赤者假赤茯苓售之，不可不辨。又有名蕨茯苓者，乃掘蕨地得之者，時有抱蕨根者，蓋其地幾千百年前松林在焉，而為人斬伐，茯苓結成於土底，以見於今日者也，不可據目而為茯苓，亦有自蕨成者矣。</p>

<h3>豬苓</h3>
<p>甘、淡，平。作塊類豬糞，皮黑肉白，水浸去皮生用。</p>

<h3>雷丸</h3>
<p>苦、咸，寒，有小毒。大小如慄，皮黑肉白甚堅實。甘草湯浸一夜，銅刀刮去黑皮，酒拌蒸，焙乾用。荔實、厚朴、芫花為使，惡蓄根、葛根，赤者殺人。</p>

<h3>桑寄生</h3>
<p>甘，平。真者極難必連桑枝採者乃為可用，別樹生者氣性不同，恐反有害也，其葉圓而微尖厚而柔，面青而光澤，背淡紫而有茸，斷其莖，色淡黃者為真。</p>
<p>桑寄生難得真，有以用他木寄生至於隕命者，可不慎哉。然寓木亦有三四種，氣類自不同也，不惟以雜樹上者不可用之，雖寄桑上者其形樣不一，如上說則為難遽用也，今人多以桑上癭花充之，亦非是。</p>

<h3>松寄生</h3>
<p>苦、甘平。形狀與桑寄生一樣，他不皆有之，若非自採即難用也。</p>
<p>馮嗣宗名物疏云：本草草部有菟絲，木部有松蘿。松蘿一名女蘿，性味及所生全別。爾雅云：女蘿、菟絲，故毛公有頍者弁傳云，女蘿、菟絲，松蘿也。陸璣駁之，以為二物殊異，予謂此非爾雅之誤，乃毛公之誤也，草木多有名同實異者，菟絲名女蘿，松蘿亦名女蘿，小雅所稱之女蘿正是松蘿，非菟絲也。</p>
<p>按松寄生有二種也，一種形如桑寄生，以其生於松上，故其色少有異耳。一種松上浮蔓色青而細長，又名松蘿，名女蘿，俗名索而和革折是也，此松寄生有二物，而女蘿亦非一種也，古今釋者相混以此也。</p>

<h2>竹之屬</h2>

<h3>竹葉</h3>
<p>淡、甘，寒。</p>
<p>圖經曰：竹處處有之，其類甚多，而入藥惟用䈽竹、淡竹、苦竹三種，人多不能盡別，按竹譜䈽竹堅而促節，體圓而質勁，皮白如霜，大者宜刺船，細者可為笛。苦竹有白有紫，甘竹似篁而茂，即淡竹也。然今之刺船者多用筀竹，作笛自有一種，亦不名䈽竹。苦竹亦有二種，一出江西閩中，本極粗大，筍味殊苦，不可啖。一出江浙，肉厚而葉長闊，筍微有苦味，俗呼甜苦筍是也。今南人入藥燒瀝惟用淡竹一品，肉薄，節間有粉者。</p>
<p>陳廷採曰。淡竹葉，竹類頗多，難指何是，惟嘗筍味，淡者為然，䈽竹、雷竹、水竹、味淡兼甜，治病第一，筀竹⿱⺮猫竹味皆純淡，採用亦宜。苦竹、紫竹，苦辣而膻，不堪入藥。東坡蘇公曰淡竹者對苦竹為文，除苦竹之外，皆淡竹也，跡此觀之，足可徵矣。</p>
<p>草中一種莖如鐵線而長，葉小如竹。一種莖青而短，葉大如竹。一種開花青翠，葉如竹，俱名淡竹葉。古今方書或有用之，但僉其名而未細注其物者，當考窮精詳，必得證治相合，庶不失於孟浪也。</p>

<h3>竹茹</h3>
<p>甘，微寒。刮去青皮，用第二層。</p>

<h3>竹瀝</h3>
<p>甘，微寒。</p>
<p>取竹瀝法：以竹截長二尺，劈開，以磚兩片對立，架竹幹上，以炭火炙之，其瀝自出，以器承取用。一法用淨𦉕一隻將淡竹鋸成段，劈碎水浸一時，看𦉕大小，裝滿𦉕口，用竹攔住，打一土坑，下放一缽，頭以𦉕倒著，口向缽頭，以黃泥糊𦉕缽，合縫處及𦉕周圍與底候乾，外以礲糠堆放𦉕周圍與底，用火燃著糠，聽漸燒完遍，火氣逼𦉕內，竹瀝自滴缽頭內，多而且清潔，殊勝前法。</p>

<h3>天竹黃</h3>
<p>甘，寒。生南海鏞竹中，此竹極大，又名天竹，其內有黃，可以療病，今諸竹內往往得之，亦可代用。</p>
<p>吳僧贊寧筍譜云：鏞竹筍出廣州，此本竹絕大，內空容得三升許米，交廣以來，人將此作升子量出納，其出黃可療風癇疾，名天竹黃。按竹黃名天竹，言此竹大也，亦猶天麻、天蓼，言天蓼如雲雀、麥鼠、莧言小也，或曰天竺之竺非也，詳其竹亦療風，筍功可見也。一說竹黃是南海邊，竹內塵沙加於竹凝結成致。竹兼筍皆療風疾。</p>
<p>沈存中夢溪補筆談云：嶺南山中有大竹，有水甚清澈，溪澗中水皆有毒，惟此水無毒，土人陸行多飲之，至深冬則凝結如玉，乃天竹黃也。王彥祖知雷州，日盛夏之，官山溪間水皆不可飲，唯剖竹取水烹飪飲啜，皆用竹水，次年被召赴闕，冬行求竹水不可復得，問土人乃知至冬則凝結，不復成水，遇夜野火燒林木為煨燼，而竹黃不灰，如火燒獸骨而輕，土人多於火後採拾，以供藥品，不若生得者為善。</p>
<p>李中立曰：竹黃形塊大小散碎不同，體輕有黑白牙色之異，味甘，牙色者善，白者次，黑者下，人多燒龍蛟諸骨、蛤粉雜之，宜辨。</p>
<p>竹黃有從清來者恐是非真耳。又肆中採竹蓐，以假充非是，竹黃即竹內所生如黃土著竹成片者，與竹蓐全別勿用。</p>

<h3>箬葉</h3>
<p>甘，寒。其干高不過四五尺，而葉獨大於諸竹，今用以裛粽者。</p>

<h1>卷第四</h1>

<h2>鱗之屬</h2>

<h3>龍骨</h3>
<p>甘，平，有小毒。其骨細文廣者是雌骨，粗文狹者是雄，五色全具上品，白中黃者次，黑色者勿用。舐之著舌者佳，煅赤研細，酒浸，焙乾，水飛三度。用一云：凡入藥須水飛過，曬乾，每斤用黑豆一斗，蒸一伏時，曬乾用否則著人腸胃，晚年作熱也。畏石膏，得人參、牛黃良，牛黃惡龍骨，而龍骨得牛黃更良，有以制伏也，忌魚及鐵器、齒、角，治同龍角，畏乾漆、蜀椒、理石。</p>
<p>圖經云：今河東州郡多有之，李肇國史補云，春水至時，魚登龍門，蛻骨甚多，人採為藥，有五色者。龍門是晉地，與本經合，豈龍骨即此魚之骨乎！寇宗奭曰：諸說不一，終是臆度，曾有崖中崩出一副皮體頭角皆備，不知蛻耶，斃耶。謂之蛻、斃，則有形之物不得生見，死方可見。謂之化，則其形獨不可化與。</p>
<p>朱國禎湧幢小品云：大禹治水至震澤，斬黑龍以祭天，本朝永樂間大獲龍骨，吳江史鑑為之志云，龍墳在今秀水縣復禮鄉小律原北，距大湖可六七十里，初由村氓耕田，往往得龍骨而未識也。永樂間有一漁者始識之，因潛持出，以售於蘇州南濠徐氏藥肆中，歲以為常，一日徐問有龍角否，其人曰有，乃以一枝遺徐，有朱永年過徐肆中見之，驚問得之何所？曰：適有人來售，朱問其人去遠近？曰：未遠，因急追及之，蓋是時有左璫號李黃子者，方受命求採珍異，朱以買辦戶出入壋所，欲以為奇貨也。遂偕其人告於璫，璫檄郡縣調夫船具，畚鍤躳往掘之，初入見有，狀如浮屠氏所謂金剛神者數輩，儼然如生，眾方駭異及見風隨化盡，惟余骨爾，遂得龍骨、角、齒、牙凡數十，艦獻於朝竊取者不與焉。時方貴龍角帶自非諸王勳戚不能得，一銙直十餘金，及是價為之頓賤，秀水在當時猶為嘉興宣德間始分為秀水，今其田可六十畝許，不加糞治而收穫倍於他田。歲每大風雨，則拔木髮屋而禾稼反無損，耕者猶時時得龍骨田中，意當時已盡取，不應有遺，豈其地為龍所窟，而潛蛻其中。歟！至大禹治水，至震澤斬黑龍以祭天之文，不知出於何書，歷考吳越春秋、吳郡志、蘇州志，無所經見，不敢強為之說。</p>

<h3>紫稍花</h3>
<p>甘，溫。著木枝如蒲槌狀，其色灰白而輕鬆。</p>
<p>按陳自明婦人良方云：紫稍花生湖澤中，乃魚蝦生卵於竹木之上，狀如糖潵，去木用之，錢木用。活幼全書云：紫稍花即湖澤中鯉魚生卵於竹木之上是也，今湖水蘆葦間亦多有之，俗名勿奈哥。</p>

<h3>鯪鯉甲</h3>
<p>即穿山甲咸，微寒，有毒。肖鯉而有四足，黑色，能陸能水，凡用之，或酥炙、醋炙、童便炙，或土炒、蛤粉炒，或燒，或油煎打碎用，未有生用者。仍以尾甲乃力勝。</p>

<h3>蛤蚧</h3>
<p>咸，平，有小毒。其毒在眼，用酒洗，去頭足鱗爪，以酥炙研用。只含少許奔走百步不喘息者，乃為真也。</p>
<p>郭佩蘭曰：生廣南水中，夜居榕樹上，形如守宮，尾與身等，雌雄相隨，藥力在尾，而此物最惜其尾，每見人取之，多自齧斷尾而去。採之，須以兩股鐵叉刺之為得，入藥須用雌雄。雄為蛤，皮粗口大，身小尾粗。雌為蚧，皮細口尖，身大尾小，宜丸散中用。</p>

<h3>蛇蛻</h3>
<p>咸、甘，平，有毒。色白如銀者良，青黃蒼色者勿用，以皂莢水洗淨干，或酒、或醋、或蜜浸炙黃用，或鹽泥固煅存性用。畏磁石及酒，孕婦忌服。</p>

<h3>白花蛇</h3>
<p>咸、甘，溫，有毒。凡用花蛇，換酒浸，春秋三宿，夏一宿，冬五宿，取出，炭火焙乾，如此三次，以砂瓶盛埋地中，一宿出火氣，去皮骨取肉用。</p>
<p>郭佩蘭曰：雖有黔上，惟取蘄州，其蛇龍頭虎口，黑質白花，脅有二十四方勝文。腹有念珠斑，口有四長牙，尾有爪甲長一二分，腸如連珠，多在石楠藤上，諸蛇鼻向下，獨此鼻向上，諸蛇死目閉，惟此目開如生，雖枯而眼光不陷，他處者則否矣。蘄兩界者一開一閉，去頭尾各三寸，取其中段，不過淨肉四兩而已，亦有單用頭尾者，取其倍毒也。若黔者倍大，頭尾可去一尺，酒浸一二宿，火炙去盡皮骨，盛砂瓶埋地中出火毒，密封藏之十年不壞，其骨須遠棄之，傷人毒與生者同也。</p>

<h3>烏稍蛇</h3>
<p>甘，平，有小毒。功同白花，但性善而不齧物，色黑如漆，背有三稜如劍脊，眼有赤光，枯死不陷，尾細長能穿小銅錢一百文者良，頭上有逆毛，腹下有白帶子一條長一寸者雄也，入藥最妙，此蛇不食生命，多在蘆叢中吸南風及其花氣，重七錢至一兩者為第一粗大者，力彌減也，市中用他蛇燻黑亂真，但眼不光耳。</p>

<h3>青魚膽</h3>
<p>苦，寒。臘月收取，掛壁陰乾。</p>
<p>按圖經云：青魚生江湖間，似鯇而背正青色，南人多以作鮓，其頭中枕骨，蒸令氣通，曝乾，狀如琥珀，荊楚人煮柏作酒器、梳篦甚佳，此與今人名青魚者自別也，不可因名迷實也。</p>

<h3>海螵蛸</h3>
<p>即烏賊魚骨，咸，微溫。炙令黃，研細水飛，輕脆而白，惡白芨、白蘞、附子，能淡鹽，伏硇縮銀。</p>

<h2>介之屬</h2>

<h3>龜甲</h3>
<p>咸、甘，平。鋸去四邊，石上磨淨，灰火炮過，塗酥炙黃用，亦有酒炙、醋炙、豬脂炙、燒灰用者。須研極細，否則黏人腸胃，能變癥瘕。勿令中濕，濕即有毒。惡沙參、蜚蠊，畏狗膽瘦銀，古者上下甲皆用之，後人惟用底版入藥。</p>

<h3>鱉甲</h3>
<p>鹹平。七肋九肋，不經湯煮者佳。入藥以醋炙黃用。畏蔥及桑灰，惡礬石、理石。</p>

<h3>鱉</h3>
<p>俗名大烏龜者此也，今市肆間以海龜甲充之，誤矣！</p>

<h3>牡蠣</h3>
<p>咸、微寒。先以鹽水煮一伏時，再入火中煅赤，研細水飛用。貝母為使，得甘草、牛膝、遠志、蛇床子良，惡麻黃、辛夷、吳茱萸，伏硇砂。</p>

<h3>真珠</h3>
<p>咸、甘，寒。以新完未經鑽綴者，絹包入豆腐中煮一炷香，搗碎研二萬餘，如飛面方堪用，不細傷人臟腑。</p>

<h3>石決明</h3>
<p>咸，寒。鹽水煮，或以麵裹煨熟，磨去粗皮，研一萬下，水飛，用七孔，九孔者良。</p>

<h3>海蛤</h3>
<p>咸，平。火煅研粉，水飛用，不入湯藥。蜀漆為使，畏狗膽、甘遂、芫花。</p>
<p>海蛤，海中諸蛤爛殼之總稱，不專指一蛤也，殼為風濤所洗，自然圓淨，小者如細麻，大者若其子。</p>

<h3>蛤蜊粉</h3>
<p>咸，寒。取紫口蛤蜊殼，炭火煅成研粉，水飛用。</p>
<p>造海石法：紫口蛤蜊以炭火煅成粉，候栝蔞熟時連子肉同粉搗爛作餅子，竹節盛懸風處，陰乾，次年聽用。入丸藥為極細末，入煎藥為咀。能化酒痰頑痰。蓋咸能軟堅，蛤生海中，凝結成殼，得咸性多，故能破痰之牆壁，而栝蔞又去痰之藥，故用之相和，則攻去凝結之老痰極有效，或以海浮石為海石者，非是。</p>

<h2>羽之屬</h2>

<h3>白丁香</h3>
<p>即雄雀屎，苦，溫，微毒。頭尖挺直者是雄，兩頭圓者是雌，臘月採，去兩畔附著者，研細，以甘草水浸一日，去水，焙乾用。</p>
<p>白丁香，藥肆多雜以雀兒及他禽屎，用宜詳之。</p>

<h3>夜明砂</h3>
<p>即蝙蝠屎，辛，寒。以水淘去灰土、惡氣，取細沙曬乾，焙用。惡白蘞、白薇。</p>

<h3>五靈脂</h3>
<p>即寒號禽糞，甘，溫。色黑如鐵，氣甚臊惡，粒大如豆，有如糊者，有黏塊如糖者，以糖心潤澤者為真，多夾沙石，極難修治，去沙石研為細末，以酒飛過，曬乾用。惡人參，損人。</p>

<h2>毛之屬</h2>

<h3>豬脂</h3>
<p>甘，微寒。臘月煉淨收用，歷年不壞，反烏頭、梅子。</p>
<p>藥肆中或以野豬脂偽充，用之宜審。</p>

<h3>酥</h3>
<p>甘，寒。以牛乳入鍋煎二三沸，傾入盆內冷定，待面結皮，取皮再煎，油出去渣，入在鍋內即成矣。</p>

<h3>阿膠</h3>
<p>甘、咸，微溫。或炒成珠，或以麵炒，或以酥炒，或以蛤粉炒，或以糯米粉炒，或酒化，成膏，或水化成膏，當各從本方也。得火良，薯蕷為使，畏大黃。</p>
<p>阿膠貨者多偽，最難得真，明徹質脆，擊之易碎者為真。假者，質軟難敲，枯黯似墨。</p>
<p>李瀕湖曰：阿膠，東阿有井大如輪，深六七丈，歲常煮膠，以貢天府，其井乃濟水所注，濟水清而重，其性趨下，用攪濁水則清，以之煮膠，取其治瘀濁及逆上之痰也。古方所用，多是牛皮，後世乃貴驢皮，若偽者皆雜以馬騾、馱皮、革鞍靴之類，其氣濁臭，不堪入藥。當以黃透如琥珀色，或光黑如瑿漆者為真。真者不作皮臭，夏月亦不濕軟。</p>

<h3>黃明膠</h3>
<p>甘，平。</p>
<p>李瀕湖曰：黃明膠乃牛皮所作，其色黃明，但非阿井水所作耳。其功用亦與阿膠彷彿。苟阿膠難得，則真牛皮膠亦可權用。</p>

<h3>牛黃</h3>
<p>苦、甘，涼。外有膜包如蒜頭，中如雞子黃，重疊可揭折，輕虛氣香，色赤黃有光，摩指甲上黃色透甲，置舌上先苦後甘，清涼透心者為真也。研細如粉用。人參為使，惡龍骨、龍膽、地黃、常山、蜚蠊，畏牛膝、乾漆。</p>
<p>雷斅曰：此有四種，喝迫而得者名生黃，殺死在角中得者名角中黃，牛病死後心中剝得者名心黃，初在心中如黃漿汁，取得便投水中，沾水乃硬如碎蒺藜及豆與帝珠子者是也。肝膽中得者名肝黃，大抵皆不及生黃為勝。</p>
<p>圖經云：凡牛有黃者，身上夜有光，眼如血色，時復鳴吼，恐懼人，又好照水，人以盆水承之，伺其吐出乃喝迫即墮下，水中取得，陰乾百日，一子如雞子黃大，重疊可揭折，輕虛而氣香者佳，然人多偽之。試法但揩摩手甲上，透甲黃者為真。</p>
<p>寇宗奭曰：牛黃輕鬆自然，微香。西戎有犛牛黃，堅而不香，又有駱駝黃極易得，亦能相亂，不可不審之。</p>

<h3>虎骨</h3>
<p>辛，溫。用頭及脛骨色黃者佳，凡虎身數物俱用，雄虎者勝藥。箭射死者，骨青不可入藥，其毒浸漬骨血間，能傷人也。捶碎去髓，塗酥，或酒、或醋，各隨方法，炭火炙黃入藥。畏蜀漆、蜀椒、磁石。</p>

<h3>犀角</h3>
<p>酸、咸、苦，寒。入藥用黑尖，生者為佳，若現成器物被蒸者不堪用。鋸成小塊，以薄紙裹於懷中一宿，乘燥搗之，應手如粉。松脂、升麻為使，惡烏頭、烏喙、雷丸、雚菌，忌鹽、醬。</p>
<p>李瀕湖曰：犀角紋如魚子形，謂之粟紋，紋中有眼，謂之粟眼，黑中有黃花者為正，透黃中有黑花者為倒透，花中復有花者為重透，併名通犀，乃上品也。花如椒豆斑者次之，烏犀純黑無花者為下品，其通天夜視有光者名夜明犀，故能通神開水，飛禽走獸見之皆驚。</p>

<h3>熊膽</h3>
<p>苦，寒。市中多偽，通明者佳，但取一粟許滴水中若線不散，運轉如飛者真，余膽亦轉，但緩耳。惡防己、地黃。</p>
<p>周密齊東野語云：熊膽善闢塵，試之以淨水，一器塵幕其上，投膽米許，則凝塵豁然而開也。</p>

<h3>羚羊角</h3>
<p>咸，寒。角細如人指，長四五寸，多節，蹙蹙圓繞，銼細，避風，搗篩，更研，萬市如飛塵，免刮人腸。菟絲子為使，能縮銀。</p>
<p>陳藏器曰、山羊、山驢、羚羊三種相似，而羚羊有神，夜宿防患，以角掛樹不著地，但角彎中深銳緊小，有掛痕者為真，如此分別，其疏慢無痕者非也。</p>
<p>李瀕湖曰：羚羊似羊而青色，毛粗，兩角短小，羱羊似吳羊，兩角長大，山驢驢之身而羚之角，但稍大而節疏慢耳。</p>

<h3>鹿茸</h3>
<p>甘、咸。溫。先用酥塗勻，於烈火中灼之，候毛盡，微炙候黃褐色，研細入藥，不可缺酥，又有用酒炙及酒蒸焙用者，當各從本方，中有小白蟲不可鼻嗅。</p>
<p>寇宗奭曰：茸最難得，不破及不出卻血者，蓋其力盡在血中故也，此以如紫茄者為上，名茄子茸，取其難得耳，然此大嫩，血氣未具，其實少力，堅者又大老，惟長四五寸，形如分岐馬鞍，茸端如瑪瑙、紅玉，破之肌如朽木者最善，人亦將麋角偽為之，不可不察。按沈存中筆談云：月令冬至麋角解，夏至鹿角，解陰陽相反如此，今人以麋鹿茸作一種者，疏矣！</p>

<h3>鹿角</h3>
<p>咸，溫。以角寸截，泥裹於器中，大火燒一日，如玉粉研用。杜仲為使。</p>

<h3>白膠</h3>
<p>即鹿角膠。甘，溫平，得火良，畏大黃。</p>
<p>作鹿角霜、鹿角膠法：全角細破寸截，以米泔浸七日，令軟，又急流水中浸七日，刮去粗皮，以東流水、桑柴火煮七日，旋旋添水，入醋少許，搗爛成粉者為鹿角霜，取粉加無灰酒熬成膠，或只以濃汁熬成膏者，為鹿角膠。</p>

<h3>麋茸</h3>
<p>甘，溫。修治與鹿茸同。</p>

<h3>麋角</h3>
<p>甘，熱。</p>
<p>造麋角霜，麋角膠法：並與鹿角霜、鹿角膠同。</p>

<h3>麝香</h3>
<p>辛、苦，溫。研用，惡大蒜，不可近鼻，防白蟲入腦。</p>
<p>李中立曰：真麝香，開之即，遠聞久放且不生白樸，市者有以真香些須，雜以荔枝末，或炒雞子黃為末，或炮棗肉，或酒製大黃等物攙入，裹以四足膝皮充賣，用者不可不辨。</p>

<h3>明月沙</h3>
<p>即兔屎，臘月收之。</p>

<h3>膃肭臍</h3>
<p>即海狗腎，咸，大溫。毛色似狐，足形似狗，尾形似魚，腎上兩重薄皮裹，其丸核皮上有黃毛，一穴三莖，濕潤如常新，置睡犬旁，驚狂躍跳者真也，酒浸炙香，銼搗，或酒煎熟合藥，以漢椒、樟腦同收則不壞。</p>
<p>李瀕湖曰：入藥用外腎，而曰臍者連臍取之也。</p>

<h2>蟲之屬</h2>

<h3>蜂蜜</h3>
<p>甘，溫平。凡煉蜜，銀石器盛，置重湯中以炭火煮一日，至滴水不散為度。生者有毒，酸者勿食，同蔥食害人，同萵苣食令人下利。食蜜飽後不可食鮓，令人暴亡。色白如膏者良，試蜜以燒紅火箸插入，提起出氣是真，起煙是偽。</p>
<p>肆中有交趾蜜：太泥蜜及白蜜、黑蜜，蜂蜜數品皆從外國致來者，無測真假，今出蜜州郡，頗多熊野，蜜人皆用之，但以其並蜂兒絞之，故氣味不佳，且久收易酸也，不拘所出州土，惟要無添雜者入藥，用宜詳審。</p>

<h3>黃白蠟</h3>
<p>淡、微溫。乃蜜脾底也，取蜜後煉過，濾入水中，候凝取之。色黃者為黃蠟，煎煉極淨色白者為白蠟，非新則白而久則黃也。合大棗咀嚼即易爛，惡芫花、齊蛤。</p>

<h3>露蜂房</h3>
<p>咸、甘，溫，有毒。露天樹上者為最，炙末用。惡乾薑、丹參、黃芩、芍藥、牡蠣。</p>

<h3>蟲白蠟</h3>
<p>甘，溫。堅而不軟者佳，碎之文理如白石膏而瑩徹，乃為真也。</p>
<p>蟲白蠟，醫方中通名白蠟，與蜜蠟之白者不同，乃小蟲所作也，市人謂之唐蠟，多雜以漆實之仁為售，不可不慎辨也，今見叢薄間水槿上有蠟蟲過來，遍生白花如凝霜，人未知刮取為蠟，故不為時用也。</p>

<h3>五倍子</h3>
<p>苦、酸、澀，生於鹽膚木上，圓長不等，綴於葉間，其殼堅脆中空，有細蟲如蠛蠓，採蒸去蟲用。</p>

<h3>百藥煎</h3>
<p>澀，甘。</p>
<p>造百藥煎法：用五倍子為粗末，每一斤用真茶一兩，煎濃汁，入酵糟四兩，擂爛拌和，器盛置糠缸中罯之，待發起如發麵狀即成矣，捏作餅丸，曬乾用。又方以五倍子一斤，研末，酒麴半斤，細荼一把研末，用小蓼汁調勻，入瓷器中蓋緊，以稻草封固，過一七日後長出霜，作餅曬乾用。又方，六月五倍子一斤、生糯米一兩滾水浸過，細茶一兩，上共研末，入罐內封固，過七日取開，曬乾用。</p>

<h3>桑螵蛸</h3>
<p>咸，平。凡使勿用雜樹上生者，取桑上者蒸過，火炙用，不爾令人泄。畏旋覆花。</p>

<h3>白殭蠶</h3>
<p>咸、辛，溫，有小毒。不拘早晚但用白色而條直食桑葉者佳。米泔浸一日，待涎浮水上，然後灑出，焙去絲及黑口。惡桑螵蛸、桔梗、茯苓、萆薢。</p>

<h3>原蠶蛾</h3>
<p>咸，溫，有小毒。第二番蠶也，雄者入藥，炒去頭足翅用。</p>

<h3>蛜𧌴</h3>
<p>即全蠍。甘、辛，平，有毒。去足並土，炒用。全用者為全蠍，單用尾謂蠍稍，其力尤緊，雄者螫人，痛在一處，井泥敷之，雌者痛牽諸處，瓦溝下泥敷之，或在手足以冷水漬之，微暖即易，在身以水浸布拓之，皆驗。又搗蝸牛塗，毒即解散。</p>
<p>古今錄驗云：被蠍螫者，但以木碗合之，神驗。</p>

<h3>蟬蛻</h3>
<p>咸、甘，寒，凡使沸湯洗去泥土翅足，漿水煮過，曬乾用。</p>

<h3>蟾蜍</h3>
<p>辛，涼，微毒。去皮腸爪，酒浸一宿，酥炙，乾用。目赤、腹下無丹書八字者，不可用。</p>

<h3>蟾酥</h3>
<p>即蟾蜍眉間之白汁也。甘、辛，溫，以蒜及胡椒等辣物納其口中，則蟾身白出，以竹篦刮下，乾用。真者輕浮，入口味甜，不可入目中，令人赤盲，或以紫草汁洗點即消。</p>

<h3>蜈蚣</h3>
<p>辛，溫，有毒。以火炙去頭、足、尾、甲用，或去尾足，以薄荷葉火煨用之，或酒炙，亦可中其毒，以桑汁、白鹽、大蒜塗之，或即以黃土水塗，以黃筒紙熏之，立效。畏蛞蝓、蜘蛛、雞屎、桑皮、白鹽。</p>

<h3>蝸牛</h3>
<p>咸，寒，有小毒。生池澤草樹間，形似小螺，白色，頭有四黑角。以形圓而大者為勝，小者不堪用。</p>

<h2>金石之屬</h2>

<h3>金簿</h3>
<p>辛，平，有毒。中其毒者，惟鷓鴣肉可解，惡鉛，畏水銀。</p>
<p>方中金簿，今世之人不識其為何等大，惟依據幾片、幾枚之數用之。非親視唐簿，何以有所準則哉。唐簿據今曲尺度之，其廣四寸四分，狹四寸而弱。朝鮮醫鄭鬥俊言，一片者百簿一錢重也，據此則一片重一釐也，十片才得重一分。又按天工開物云：凡金簿每金七釐，造方寸金一千片。</p>

<h3>自然銅</h3>
<p>辛、苦。澀於銅坑中及石間採之，方圓不定，其色青黃如銅，不從鑛煉，故號自然銅，火煅醋淬九次，研末，水飛用。</p>

<h3>銅青</h3>
<p>辛、酸、澀，微毒。取銅器上綠色者淘洗用之，近時人以醋製銅生綠，取收，曬乾。</p>

<h3>黑錫</h3>
<p>即鉛。</p>
<p>甘，寒，小毒。凡用以鐵銚溶化，瀉瓦上濾去渣腳，如此數次，收用。其黑錫灰即鉛沙溶出之物也，白錫灰不入藥。</p>

<h3>粉錫</h3>
<p>甘、辛，寒，此即化鉛所作胡粉也，通名官粉。</p>
<p>造胡粉法，每鉛百斤，熔化削成薄片，卷作筒，安木甑內，甑下甑中各安醋一瓶，外以鹽泥固濟，紙封甑縫，風爐安火，四兩養一次，便掃入水缸內，依舊封養，次次如此，鉛盡為度。不盡者留炒作黃丹。每粉一斤，入豆粉二兩，蛤粉四兩，水內攪勻，澄去清水，用細灰按成溝，紙隔數層，置粉於上，將干截成瓦定形，待乾，收起。</p>
<p>方中所用胡粉皆此物也，今人以蛤灰飛過名之胡粉，用者宜審。</p>

<h3>黃丹</h3>
<p>辛、咸，寒。以水飛過，澄干，微火炒紫色，安地上去火毒入藥用。伏砒，制硇砂。</p>
<p>炒鉛丹法、用鉛一斤，硫黃十兩，硝石一兩，熔鉛成汁，下醋點之，滾沸時下硫一塊，少頃下硝少許，沸定，再點醋，依前下少許硝、黃，待為末，則成丹矣。若轉丹為鉛，只用連須、蔥白汁拌丹，慢煎煅成金汁，傾出即還鉛矣。</p>
<p>入藥光明丹佳，市中有土黃色者是炒丹不成者，勿用。</p>

<h3>密陀僧</h3>
<p>辛、咸，平，有小毒。搗細，火煮一伏時，水飛用。制狼毒。</p>
<p>李瀕湖曰：密陀僧，原取銀冶者，今既難得，乃取煎銷，銀鋪爐底用之。造黃丹者以腳滓煉成密陀僧，其似瓶形者是也。</p>

<h3>水銀</h3>
<p>辛，寒，有大毒。以葫蘆貯之，即不走漏，若撒失在地，但以川椒末或茶末收之，或以真金及鑽石引之即上。畏磁石、砒霜。</p>
<p>雷斅曰：凡使，勿用草汞並舊朱漆中者，經別藥制過者，在屍中過者，半生半死者。其硃砂中水銀，色微紅，收得後，用葫蘆貯之，免遺失。</p>
<p>取砂汞法：用瓷瓶盛硃砂不拘多少，以紙封口，香湯煮一伏時，取入水火鼎內，炭塞口，鐵盤蓋定，鑿地一孔，放碗一個，盛水連盤，覆鼎於碗上，鹽泥固縫，周圍加火煅之，待冷取出，汞自流入碗矣。</p>
<p>取草汞法：用細葉馬齒莧干之，十斤得水銀八兩或十兩，先以槐木槌之，向日東作架，曬之三二日，即干，如經年久，燒存性，盛入瓦甕內，封口埋土坑中，四十九日取出，自成矣。</p>
<p>按廣西通志云：泗州出水銀，取之之法，以人其用，人從外境市之，或逃走僮僕，或奸商縛雇役人，往售至其家，初以酒飯飼之三日，即引至水銀坑中挖窟埋之，露其首三日，其人癢不可忍，號呼徹天，乃以鍬鏟去其首，仍埋之數日，取出則滿腹腸胃、指甲、骨髓中皆水銀矣。安南近憑祥州地，亦有水銀坑，取法同。每江西奸商僱人挑貨至界上賈易，則私與夷約並僱工人賣之，價成無論，數十人俱縛去此，水銀自然生於山石間者，乃知不獨煉砂燒草取出也，於取之之法，則其慘有不忍聞者，然考證不詳，名物何稽矣，今附其說以廣異聞。</p>

<h3>輕粉</h3>
<p>辛，冷，有大毒。畏磁石、石黃，忌一切血，黃連、土茯苓、陳醬、黑鉛、鐵漿可制其毒。</p>
<p>升煉輕粉法：用水銀一兩，白礬二兩，食鹽一兩同研不見星，鋪於鐵器內，以小烏盆覆之，鹽泥封固盆口，以炭打三炷香，取開則粉升於盆上矣。</p>

<h3>銀硃</h3>
<p>辛，溫，有毒。多以黃丹及礬紅雜之，其色黃黯宜辨之。真者謂之水華朱，即光明朱也。</p>
<p>升煉銀硃法：用石亭脂二斤，新鍋內熔化，次下水銀一斤，炒作青砂頭，炒不見星，研末罐盛，石版蓋住，鐵線縛定，鹽泥固濟，大火煅之，待冷取出，貼罐者為銀硃，貼口者為丹砂，今人多以黃丹及礬紅雜之，其色黃黯，宜辨之，真者謂之水華朱。每水銀一斤，燒朱一十四兩八分，次朱三兩五錢。</p>
<p>附造朱錠法：用光明朱細研，水飛澄清，檘去水，用秦皮、梔子、皂角各一分，巴豆一粒去皮，黃明膠半兩同煎汁，和銀硃作錠子，陰乾，任用。造雌黃錠法，藥汁皆如上所述，用雌黃為之，雌黃色如金，又似雲母，甲錯可拆。今貨者誤以藤黃充之，非是。</p>
<p>附：作印色法，真麻油半兩許，入蓖麻子十數粒，捶碎同煎，令黃黑色，去蓖麻將油拌挼熟艾令乾濕得所，然後入銀硃隨意少許，色紅為度，更不須用帽紗生絹之類襯隔，自然不沾塞，印文而不生白醭，雖十年不熾。一法用蜜最善者，紙素雖久，色愈鮮明。</p>

<h3>爐甘石</h3>
<p>甘，溫。其塊大小不一，狀類滑石、松赤石脂，亦黏舌，色白者為上，凡用以炭火煅紅、童子小便淬七次，水洗淨，研粉水飛過，曬用。</p>
<p>物理小識云：倭鉛非礦鉛也，乃爐甘石泥罐火燒而成者，與銅收伏入火，即成煙飛去。</p>

<h3>琥珀</h3>
<p>甘，平。用水調側柏子末，安瓷鍋中，同珀煮之，搗粉篩用。</p>
<p>按謝在枕曰：昔人謂松脂墮地，千年為琥珀。又云是楓木之精液，多年所化，恐皆未必，然中國松楓二木不乏，何處得有琥珀，而夷中產琥珀者，豈皆松嶺楓林之下乎，此自是天地所生一種珍寶，即他物所變化孰得而見之又如水晶云：十年老冰所化，果爾則宜出於北方沍寒之地，而南方無冰卻有水精，可知其說之無稽矣。在杭此論可破方士諸不經譎謬之談矣。如千年雄黃化黃金，磁石二百年孕而成鐵之類，注本草者相承引用，莫有覺其妄者，明理之士皆可以一笑而揮之，政不必深與辨也。琥珀產北國地方，其生處滿山皆是，屬無草木錘破可取，亦出薩摩州，即今人誤名薰陸者。</p>

<h3>雲母</h3>
<p>甘，平，有小毒。入藥用輕薄色白、層層通透者為上雲母一斤，鹽一斗，漬之銅器中，蒸一日，臼中搗成粉。或云母一斤，白鹽一升同搗細，入重布袋挼之，沃令鹽味，盡懸高處，風吹自然成粉。澤瀉為使，惡徐長卿，忌羊血，畏鮀甲及流水制汞，伏丹砂。</p>

<h3>紫石英</h3>
<p>甘，溫。色紫質瑩徹，隨其大小長短，皆有五稜，兩頭如箭鏃，比白者更勝，火煅醋淬七次，研末，水飛過，日中曬乾，入丸散用。長石為使，畏扁青、附子，惡鮀甲、黃連、麥句姜。服食紫石英乍寒乍熱者，飲酒良。</p>
<p>五色石英，皆石之似玉而有光瑩者，諸山多有之，俗以白色若水精者，名水精石。</p>

<h3>硃砂</h3>
<p>甘，微寒。形如箭鏃透明者佳，研末極細，水飛用忌火，畏磁石、鹹水。</p>
<p>辰砂今市人往往和銀硃以飾其色，入藥須先以水漂去銀硃，然後細研，水飛用。寇宗奭曰：今有水銀燒成丹砂，醫人不曉，往往誤用，不可不謹。</p>

<h3>雄黃</h3>
<p>辛、苦，溫，有毒。形塊如丹砂，明徹不夾石，其色如雞冠者真，有青黑色而堅者名薰黃，有形色似真而氣臭者名臭黃，並不入服食，只可療瘡疥。其臭以醋洗之便去，足以亂真，不可不辨，搗如粉，水飛澄去黑者，曬乾，再研用。</p>

<h3>石膏</h3>
<p>甘、辛，大寒。有紅白二色，紅者不可服，白者潔淨，細文短密如束針，正如凝成白蠟狀，鬆軟易碎，燒之即白爛如粉搗粉，生甘草水飛過，澄曬。虛人煅用，或糖拌炒，則不妨脾胃。雞子為使，惡莽草、巴豆、馬目、毒公、畏鐵。</p>

<h3>滑石</h3>
<p>甘、淡，大寒。白如凝脂，極軟滑，宜入藥甜淨，研粉水飛，曬乾用。石葦為使，惡曾青、制雄黃。</p>

<h3>赤石脂</h3>
<p>甘、酸、辛，溫。以理膩黏舌綴唇者為上，研細，水飛過三度，曬乾用，亦有火煅，水飛者。畏芫花、黃芩，官桂，惡大黃、松脂。</p>

<h3>無名異</h3>
<p>甘，平，咸，寒。黑褐色，大者如彈丸，小者如黑石子。研細，水飛用。伏硫黃。</p>

<h3>石鐘乳</h3>
<p>甘，溫，有毒。鮮明薄而有光潤，似鵝翎筒子者為上。置銀器中，水煮三日夜，色變黃白，換水再煮，其水色青不變，即熟無毒矣。研膩水飛用。蛇床為使，惡牡丹、玄石、牡蒙，畏紫石英、蓑草，忌羊血。相感志云：服乳石，忌參朮，犯之多死。</p>
<p>范成大桂海志云：鍾乳，桂林接宣融山中洞穴至多，勝連州遠甚，余遊洞親訪之，仰視石脈漏起處，即有乳床如玉雪，石液融結所為也。乳床下垂，如倒數峰，小山峰端漸銳，且長如冰柱，柱端輕薄中空如鵝管，乳水滴瀝未已，且滴且凝，此乳之最精者，以竹管仰盛折取之，煉治家又以鵝管之端尤輕明，如雲母爪甲者為勝。</p>

<h3>浮石</h3>
<p>咸，平，大寒。</p>

<h3>石灰</h3>
<p>辛，溫，有毒。有風化、水化二種。風化者，取鍛了石置風中自解，此為有力。水化者，以水沃之，熱蒸而解，其力差劣，入藥惟用，風化不夾石者良。</p>
<p>石灰燒青石為之，今出近江州者為真，入藥可用之，攝津州來者皆是蛤灰也，俗通名石灰，不可因名迷實也。</p>

<h3>代赭石</h3>
<p>苦，寒。以赤、紅、青色如雞冠有澤，染爪甲不渝者為良。煅赤以醋淬三次或七次，研細，水飛過用。乾薑為使，畏天雄、附子。</p>

<h3>青礞石</h3>
<p>甘、咸，平。有青白二種，以青者為佳，堅細而青黑，打開中有白星點，煅後則星黃如麩金。其無星點者不入藥用，用大坩鍋一個，以礞石四兩打碎，入硝石四兩拌勻，炭火十五斤簇定，煅至硝盡，其石色如金為度，取出研末，水飛，去硝毒，曬乾用。</p>

<h3>花蕊石</h3>
<p>酸、澀，平。體至堅重，色如硫黃，形塊有極大者，人鐫為器用。黃石中間有淡白點，以此得花之名，以罐固濟，火煅過，出火毒，研細，水飛，曬乾用。</p>

<h3>膽礬</h3>
<p>酸、辛，寒，有毒。其狀如翠，琉璃而有白文，易破折者真，研極細末用。水英為使，畏白薇、芫花、菌桂、牡桂、辛夷。</p>
<p>圖經云：石膽最上，出蒲州，大者如拳，小者如桃慄，擊之縱橫解，皆成疊文，色青，見風久則綠，擊破其中亦青，其次出上饒，曲江、銅坑間者，粒細有廉稜，如釵股米粒。本草云：偽者以醋揉青礬為之，全不然，但取粗。</p>
<p>惡石膽合硝石銷溜而成之，塊大色淺渾渾無脈理，擊之則碎，無廉稜者是也。又氣扶石者，乃削取石膽床溜，造時投硝石中乃凝則相著也。</p>

<h3>食鹽</h3>
<p>咸、微辛，寒。須以水化，澄去腳滓，煎煉白色，入藥乃良。漏蘆為使。</p>

<h3>青鹽</h3>
<p>甘、咸，寒。其形作塊，方圓大小不常，方稜明瑩青色者佳。</p>

<h3>芒硝</h3>
<p>咸、辛，大寒。朴硝生於斥鹵之地，彼人刮掃煎汁，經宿結成，狀如末鹽，猶有沙土猥雜，須再煎煉入藥。以朴硝一斤、水二碗同入鍋內溶化，掠去油膩，其水將細布或縑子濾去滓腳，用蘿蔔一斤切厚片，同消水入鍋內煮數十沸，撈去蘿蔔，再隔厚紙三重濾過，令滓去淨，放瓦盆內，星月下露一夜，則結成白硝如冰、如蠟，名之盆硝；其底多而上面生細芒如鋒，謂之芒硝；底少而上面生牙，如圭角，作六稜縱橫，玲瓏洞徹、可愛，謂之馬牙硝。狀如白石英，又名英硝。二硝之底則通名朴硝。取芒硝、英硝，再三以蘿蔔煎煉去鹹味，即為甜硝。以二硝置之風日中，吹去水氣，則輕白如粉，即為風化硝。以芒硝：英硝同甘草煎過鼎罐升煅，則為玄明粉。石葦為使，惡麥句姜，畏三稜。</p>
<p>制玄明粉法：用白淨朴硝十斤，清水一桶，煎化去滓，星月下露一夜，去水取硝，每一斤用蘿蔔一斤，切片，同煮熟，濾淨再露一夜，取出。每硝一斤，用甘草一兩，同煎去滓，再露一夜，取出以大沙罐一個築實盛之，鹽泥固濟，厚半寸不蓋口，置爐中以炭火十斤，從文至武煅之，待沸定，以瓦一片蓋口，仍前固濟，再以十五斤頂火煅之，放冷一伏時，取出隔紙安地上，盆覆三日，出火毒，研末，每一斤入生甘草末一兩、炙甘草末一兩，和勻，瓶收用。</p>

<h3>硼砂</h3>
<p>甘，涼，微咸。有二種，西戎者，白如明礬；南番者，黃如桃膠，制汞。</p>
<p>寇宗奭曰：南番者，色重褐，其味和，入藥其效速。西戎者，其色白，其味焦，入藥其效緩。</p>

<h3>硫黃</h3>
<p>酸、咸，大熱，有毒。以蘿蔔剜空入硫合定，糠火煨熟，以紫背浮萍同煮過，皂莢湯淘去黑漿。曾青為使，畏細辛、飛廉、朴硝、鐵、醋。中其毒者，惟煎黑錫湯及食冷豬血、甘草湯可解，市家有鷹眼、鸕鷀眼火口品目。鷹眼最為上，鸕鷀眼次之。</p>

<h3>白礬</h3>
<p>酸，寒。明亮者佳，煅干汁者謂之枯礬，不煅者為生礬。甘草為使，惡牡蠣，畏麻黃。</p>

<h3>綠礬</h3>
<p>酸，涼。深青瑩淨者即為青礬，煅過變赤則為絳礬。</p>

<h2>水之屬</h2>

<h3>地漿</h3>
<p>甘，寒。即掘黃土地作坎，深三尺，汲新水攪濁，取清用之是也。</p>

<h3>漿水</h3>
<p>即酸漿也。</p>
<p>甘、酸，微溫。炊粟米熱投冷水中，浸五六日，生白花者是也，若浸至敗者害人，不可同季食，妊婦戒之。</p>

<h2>火之屬</h2>

<h3>艾火</h3>
<p>宜用陽燧火珠承日，取太陽真火。其次則鑽槐取火為良。若急卒難備，即用真麻油燈亦可，其餘不可用也。</p>

<h3>雷火神針</h3>
<p>用熟艾末二兩、乳香、沒藥、穿山甲、硫黃、雄黃、草烏頭、川烏頭、桃樹皮末各一錢，麝香五分，為末拌艾，以厚紙裁成條，鋪藥艾於內，緊卷如指大，長三四寸，收貯瓶內，埋地中七七日取出，用時於燈上點著吹滅，隔紙十層，乘熱針於患處，熱氣直入病處，其效速。忌冷水。一方用豬牙皂角、威靈仙、細辛、羌活、白芷、川芎、川烏頭、草烏頭、沙苑蒺藜、藁本、天麻、蒼朮、獨活、良薑、官桂、雄黃、乳香、沒藥各等分、麝香少許、為末、用熟艾薄鋪綿紙上，少以藥末摻艾上，卷作條子如箸大，長五寸，遇痛針之，其效如神。</p>

<h2>土之屬</h2>

<h3>伏龍肝</h3>
<p>辛，熱。即灶中對釜月下黃土也，取經十年以來，灶額內火氣積久，掘深一尺，色如紫瓷者，研細，水飛用。</p>

<h3>百草霜</h3>
<p>辛，溫平。此乃灶額黑煙也，其質輕細，故謂之霜。</p>

<h3>墨</h3>
<p>辛，溫。惟須以松煙、梣皮汁為之，方可入藥，以油煙及桐油煙、石油煙造之者，其光雖黑有害，皆不可用也。年遠煙細者為佳，粗者勿用。</p>
<p>元交曰：凡血症泛溢妄行，須燒松熏煙所作之墨，世所貨賣為中下之品者皆是。若油煙則為上品，反不宜於入藥也，水研服能止血，酒研溫服能行血，童便研則涼血。</p>

<h1>附錄</h1>

<h2>髲發</h2>
<p>用少壯無病男女梳下亂髮，溫水肥皂洗油垢極淨，又用清水洗淨肥皂氣，曬乾，入罐火煅，冷研用。</p>

<h2>童便</h2>
<p>童男者良，取便白如雪者用。</p>
<p>番藥有密伊辣，從西洋來，消瘀血治折傷之外，殊少他用，彼中有力者，死皆殮以石函，仍滿用諸香水液壅屍，鐫年月於棺瘞之岡原上，經久香液竄入，形肉不朽，夷人掘塚取其屍以為藥，謂之密伊辣，雖彼中常難得之物也。近聞有海賈載一屍完全者，來於肥之長崎，蒙以白疊布，木匱三重藏之甚謹，謂此乃出七百年上，其色黑光，形體宛然，猶如可認，豈非香液養屍之力耶！剔其肉摩之掌中，潤軟燒之，氣如乳香、松脂之類。陶九成輟耕錄所載木乃伊，蓋此物也。陶言願捨身濟世，澡身啖蜜，與今之所說有少不同，陶亦依據傳聞，未深究其實也，又有出偽造者，每歲番賈將來，皆以人肉及馬牛肉熬焦，和以諸木脂淚云。</p>
<p>唐陳藏器本草所收質汗即此類也。其說曰質汗，出西番煎檉、乳松淚、甘草、地黃並熱血成之。消惡血，下血氣，金瘡傷折，瘀血內損，並以酒消服之，亦敷病處。番人試法，以小兒斷一足，以藥納口中，將足蹋之，當時能走者良。嗚呼！殘傷人之肢體而定其藥之，臧否可乎？甚哉不仁也！二物功用俱相似，而未始有如兜水靈香可能起疫矣。今世之人誤謂密伊辣可以拯危卻死，往往服餌或用之，虛羸之疴皆為害乎，人亦有至死而不悟者，縱此物有返魂延年之用，豈以人啖人哉，本經所列人身惟髲發一種而已，後世方技之士，至骨、肉、膽、血咸稱為藥，違道滅理莫此為甚，今取人身中曾經醫方採用無害於義者，附見於此，因論及其可缺者如此。</p>
