<header data-type="book">
<h1>醫粹精言</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>徐延祚</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1895">公元1895年</data></dd></div>
</dl>
</header>

<h1>毛序</h1>
<p>顧亭林先生曰：「君子之為學以明道也，以救時也。」士生寰中，第沾沾於詞章考據，內無以明道，外無以救時，於世何裨焉？吾友徐君齡臣，幼聰穎性豪俠，績學未第，旋棄儒而就醫，理探《靈素》，學貫岐黃，居京二十餘年，活人無算。去冬予有事於粵，適徐君亦客羊城，出所著《醫粹精言》示予，觀其所作，悉動中肯綮，不泥乎古人不薄乎古人，且能高出乎古人，豈變而通之歟，直神而明之爾！持此以閱世，匪特可以醫人，更可以醫醫，爰綴數語以質世之知徐君者。</p>
<p><u>歲在柔兆涒灘春王正月皖江弟毛澤曜南甫拜敘</u></p>

<h1>自序</h1>
<p>竊謂醫書可讀者，除漢唐以上之論，則可以讀可以不讀也，況近世著作家各逞臆見，理多隔膜，其若非實能有輔翼聖經與治法有益者，亦可以不必讀矣。然「多聞而擇，多見而識」，聖人且云。故於精粗參半之書，亦不妨取而讀之，略其短而取其長，是在善用者耳。予究心岐黃二十餘年，所讀無慮數十百家，所用之法皆取決於古人，並因時因證而變通之，自無不與古人之意吻合，間有疑難怪異之症，有古法未經道及者輒澄心凝思，按脈切理，仍於古法之中而求之，慎之又慎，確有心得，出而問世，所幸全活甚多，因不揣固陋，於臨症之暇，僅就管見所及，著為是編，顏之曰《醫粹精言》，其立意持論，大半皆古人所未言，而於古人所已言者，暨各大家真知卓識之論，亦時出入其間，以與為發明，是否有當，予亦不自知，應俟方家再為指正。「粹精」云者，予非自命，特自勖（勖，音xù，讀續。勉勵之意。）也。噫，天下事不粹不精，不可以有言，至粹至精，則尤不易言，醫之一道，何獨不然，予既以粹精自勖，尤願見是篇者，各以粹精共勳，庶於聖人已立立人之道，默默有合焉，是則私心所竊幸也。</p>
<p><u>光緒二十一年乙未小陽月奉天齡臣氏徐延柞識於羊城鐵如意軒</u></p>

<h1>英啟序</h1>
<p>近世不苦無醫書，而患無醫醫之書。醫書者研精碑慮，心會神悟而後能明致功奏效之所由來，是皆未易幾也。顧吾嘗謂讀醫書可以已病，讀醫醫之書，乃可以不病。齡臣徐先生所著《醫粹精言》以醫發其端，而非僅為醫家者言也，其於醫世醫國醫身醫心，蓋深有所感，特於醫焉寄之。夫待人之既病從而醫之，可以為功可以收名，善言醫者獨於醫之未病，無以為功無以為名，此其效乃始於無形著於無窮。今世之病亦多矣，瀕於危者亦眾矣，安所得無病者與之言醫，以相要於不病？然病苟不至於不可已，則必有未病之一脈，以待吾施其治，夫審其未病之一脈，以救其所既病，與就其既病之一脈，以求其復而歸於無病，此其旨微矣。先生善醫者也，善言醫者也，未識以鄙言為何如，酷熱得雨，清風暫至，爰舉以質之。</p>
<p><u>光緒丙申夏五月瀋陽英　啟書</u></p>

<h1>卷一</h1>

<h2>醫非小道賤役</h2>
<p>上古聖人，則法三才，闡明陰陽五行，運氣循環之理，嘗百草明臟象，君臣問辨，療人疾苦，深體上天生物之仁，誠重之也，是以醫之為道，與宓犧畫卦后稷教稼並重，豈曰小道乎哉！醫之可以寄死生者，亦無殊於託孤寄命之君子，豈曰賤役乎哉！醫而明亦能及物，醫而名亦足動眾，士果抱道，在躬登仁壽而免夭札，正可以佐朝廷康濟斯民之治，何肯不自重而區區惟利是圖，草營人命，甘為技術之流哉。吾聞狄梁公功在社稷，而有腦後下針鼻端疣落之術，范文正公先憂後樂而有不為良相即為良醫之願，考周官之於疾醫，何等鄭重，後世史官列之方技，於是學士大夫羞為之，以此事委諸市井而此中亦遂無人，然儒有君子儒，醫豈無君子醫欽，為薦紳先生者，宜何如作養之、顧惜之，引之使進於道，斯後之學者，自接踵而興起矣，豈可以小道賤役目之哉！</p>

<h2>病不能不用醫</h2>
<p>人有病不能不用醫，良醫世罕有，其平穩有閱歷者尚不乏人，然必須於平日先知其本領能否勝任，始可以性命相托，若不知擇醫，任醫所措，以致輕者變重，重者立危，予是因此而成此集，俾醫病兩家皆知其慎重，為醫者得是書而可以旁通玩索之，病者覽得是書與醫者周旋，一問答間，便知其賢否？而去取不誤耳。</p>

<h2>病從口入</h2>
<p>古語云「禍從口出，病從口入」，故善養德者慎言語，以遠害；善養生者節飲食，以卻病。況多殺物命，慈氏有戒，何曾日食萬錢，惜福者不如是也。省華筵一席之資，養中人數口之命，則養生即所以養德矣。又有一種嗜茶、嗜酒、嗜水果、嗜甘香餅餌之人，好尚之偏，病亦隨之。口腹之累，明哲之士所不為，早慎於微也。</p>

<h2>脾胃與腎元並重</h2>
<p>人身陰陽雖稟於腎，而生生之氣原出於肝膽，清陽自左旁而升，乃陽升於陰也，脾土健運，而胃氣始能下行，此濁陰從右而降，乃陰生於陽也，此一升一降，實為陰陽旋轉之機樞，而與天地同其造化者，故天地節序有遷移，而人身氣血亦應之，虛損之人，氣血既虧，陰陽運行不能循度，動多窒滯，故欲培其根本，必先利其機樞。醫輩不知此理，而見病涉虛損者，徒用呆補之藥，則氣愈郁，反增其困，或致腹中脹滿，大便秘結，或致頭暈嘔吐，臍腹跳動，不思飲食，痞塞不通等症，此皆由機樞之不利故也。然則何以利之乎？曰清氣出於肝膽，肝膽木也，惟喜涼潤而條達，故宜疏利，勿壅遏也，宜柔潤勿克伐也。風以揚之，雨以潤之，木有不欣欣向榮者乎。脾為陰土，喜香燥而溫暖，暖則陽和，敷布健運不停；胃為陽土，喜滋潤而通暢，暢則飲食脾氣鼓動而化精微，生津液，周流濁滓下降，濁降清升，機樞自利矣。若肝陽過升，胃氣被逆，或脾氣困弱，飲食難消，皆當隨時審察者，故治虛損而不知緩急先後進藥之序者，未可與言治也。按補偏救弊，轉危為安，雖在良工之用，尤要病者之調護，不然功不逮過，亦徒勞耳。</p>

<h2>調養須知</h2>
<p>大病愈後調養之方，往往不講，而抑知此乃後一段工夫，所關者甚巨也。即如過飽者曰食復，惱怒者曰氣復，疲於筋力者曰勞復，傷於色欲者曰女勞復，載在經書，世皆知之。尚有時而觸犯，此外人所最易忽者，猶有三焉，不在諸復之條者也，雖病之已愈多日，而血氣苟不充足，犯之隨有釀成終身之患者焉，一曰淫欲，凡人房事，必撮周身之精華以泄，氣血未充，七日未能來復，欲事頻數，勢必積損成勞，尪羸損壽；一曰勞頓，或遠行或作苦，疲弊筋力，當時不覺，將來肢體解㑊，未老先衰，其苦有莫可名者；一曰忍飢，愈後凡有覺飢，必得稍食，萬勿強耐過時，反不欲食，強食亦不能化，是飢時既傷於前，強食又傷於後，中州（脾胃）敗而肺金損，則勞嗽，脾胃之病成矣。三者人多忽之，故不可不謹。</p>

<h2>論天癸非經血</h2>
<p>天癸者，天一之氣也，諸傢俱即以精血為解，然詳玩本篇，謂「女子二七天癸至，月事以時下；男子二八天癸至，精氣溢寫（瀉）」，是皆天癸在先，而後精血繼之，分明先至後至，各有其義，焉得謂天癸即精血，精血即天癸，本末混淆，殊失之矣。天癸者，天之水乾名也，故天癸者，言天一之陰氣耳，氣化為水，因名天癸，其在人身是謂元陰，亦曰元氣，人之未生，則此氣蘊於父母，是謂先天之元氣。第氣之初生，真陰甚微，及其既盛，精血乃旺，故女必二七，男必二八而後天癸至，天癸既至，在女子則月事以時下，在男子則精氣溢寫（瀉），蓋必陰氣足而後精氣化耳。陰氣陰經，譬之雲雨，云者陰精之氣也，雨者陰氣之精也，未有云霧不布而雨雪至者，亦未有云霧不濃而雨雪足者，然則精生於氣，而天癸者，其即天一之氣乎？可無疑矣。《質疑錄》云：「天癸者，天一所生之真水，在人身是謂元陰」。</p>
<p><u>余按《甲乙〔經〕》作天水；吳氏《諸症辨疑·婦人調經論》云：「天癸者，天一生水也」。又按王注：「任沖流通，經血漸盈，應時而下，天真之氣降，與之從事，故云天癸也」。總之天癸者，非精非血，乃天一之真。馬氏直謂陰精，殊屬謬解。今之醫者，並不知為陰精，竟以經血目之，尤為無識。</u></p>

<h2>釋瘟</h2>
<p>瘟疫之瘟與溫病之溫，其義不同，何以言之？疫之行也，不論四時，而其症每異，何必冬傷於寒而春病者，與發熱而渴不惡寒者乎。考瘟之為名，猶疫也，《肘後方》曰：「其年歲中有癘氣，兼挾鬼毒相註名為溫病」。又曰「道術符刻言五溫，而所謂闢溫諸方亦闢疫之謂也」。楊玄操注《五十八難》曰：「溫病則是疫癘之病，非為春病也。」此說於經義則乖。《集韻》曰：「瘟，烏昆切，疫也」。據此則瘟之為疫甚徵甚確，而天下多熱，許仁則既有其言，此疫之所以亦名為溫也，瘟疫重言，猶疫癘重言之例耳。《論衡·命義篇》曰：「人之瘟病而死也，先有凶色見於面部。」並可以徵瘟之為疫。但瘟本作溫，其從廣者，蓋後人所改寫而已。又傷寒例所謂更遇溫氣變為溫疫者，即對寒疫而言，亦是一種病也。要之溫之名義不一，亦猶傷寒之有謂寒氣所中者，有謂邪氣表實者，有謂外邪總稱之類，學者不知，牽混為言者誤矣。</p>

<h2>刀圭</h2>
<p>陶氏《本草》序例云：「刀圭，皆十分方寸匕之一，准梧桐子大」。《醫心方》引範汪方云：「二麻子為一小豆，三小豆為一桐實，二十黍粟為一簪頭，三簪頭為一刀圭」。《外臺〔秘要〕刪繁》車前草湯方後云：「一刀圭者，准丸如兩大豆大。」《漢律曆志》注云：「六十四黍為一圭。」按數說似異而其實大抵同。董毅《碧里雜存》云：「按晦翁感興詩『刀圭一入口，白日生羽翰』。」然學者多不知刀圭之義，但知為妙藥之名耳。同治十三年八月十五日忽悟刀圭二字，甚痛快，不知古人亦嘗評及此否？三月初在琉璃廠百貨攤買得古錯刀一枚，京師人謂之長錢，其錢形正似今之剃刀，其上一環，正似圭壁之形，中一孔，即貫索之處，蓋服食家舉刀取藥，僅滿其上之圭，故謂之刀圭，言其少耳。刀即錢之別名，布也，泉也，錯也，刀也，皆錢之類也，無年號欸識，殆漢物乎。又按《千金》太乙神明丹方後云：「凡言刀圭者，以六粟為一刀圭。一說曰三小豆為一刀圭。」據以上諸說，六粟疑是六十粟之訛。</p>

<h2>記性</h2>
<p>汪訒庵云：「金正希先生嘗言人之記性皆在腦中，凡人外見一物，必有一形影留在腦中，小兒腦未滿，老人腦漸空，故皆健忘。愚思凡人追憶往事，必閉目上瞪而思索之，此即凝神於腦之意也。」出於《本草備要》辛荑注。王惠源《醫學原始》亦云：「人之一身五臟，藏於身內，止為生長之具；五官居於身上為知覺之具；耳目口鼻聚於首，最顯最高便與物接，耳目口鼻之所導入最近於腦，必以先受其象而覺之，而寄之，而剖之，而存之也。」故云心之記，正記於腦耳。《黃庭〔經〕·內景》亦言腦為泥丸宮，元神居焉，是必有本，何惑之有？</p>
<p><u>余按荷蘭說人之精神在於腦中，故人斷頭立死，亦與「內景」之說符矣。而《五雜俎》、《談薈》斷頭而不死者數則，此皆人妖耳。</u></p>

<h2>陰陽</h2>
<p>夫陰陽之為義大矣哉，自其淺言之，則氣陽也，血陰也；自其深言之，陽有陽氣，而陰亦有陰氣，陰氣為無形之氣，隨陽氣循行於內外，不同於有形之陰血，獨行於經脈之中也，陰血止謂之陰，陰氣謂之為陰，亦可謂之為陽。</p>

<h2>砭石</h2>
<p>《南史·王僧孺傳》：全元起欲注《素問》，訪王僧孺以砭石，答曰：「古人以石為針，必不用鐵。」《說文》有此砭字，許慎云以石刺病也。《東山經》云高氏之山多針石。郭璞云可以為砥針，治癰腫。《春秋》美疢，不如惡石。服子慎注：石，砭石也。季世無復佳石，故以針代之耳。</p>
<p><u>余按《山海經》高氏之山，其上多玉，其下多針石，吳任臣《廣注》：「程良孺曰或云金剛鑽即其物也。」</u></p>

<h2>病愈先兆</h2>
<p>傷寒多日，忽覺渾身癮疹發越而癢，此乃用藥中病，陰陽分別，榮衛流行，病氣自毛竅中出。他病亦然，小兒驚風發熱、將產亦如是。</p>
<p>按發癢乃陽氣初回之象，非風非血燥也，有病久不得寐，一旦欲寐，別無余病，此為陰陽和而將愈之兆。有大汗大下之後，邪氣已退、正氣已復、身涼脈微、鼾息酣睡，此亦吉兆也，醫者見之，當早為知病乃可以有欲愈之機，此由於用藥中肯，而不可因其有身癢、欲寐之象而妄投以治癢、安神等藥，此乃將愈之時，藥何庸哉？</p>

<h2>醫必讀書臨症說</h2>
<p>讀書而不臨症，不可以為醫，臨症而不讀書，亦不可以為醫。蘇長公有言：「藥雖進於醫手，方多傳於古人。」故惟讀書多，乃能辨症，亦惟多讀書，始能用方，彼之不用古方者，非棄古方也，非真以古方為不可用也，直未嘗見一古方耳。善用方者，且讀無方之書，不執方以治病，而方自與病合，而方自與古合，余持此論以臨人病久矣，為此囑學醫者，當先讀書而後臨症，則自無望洋之嘆。</p>

<h2>世無醫藥說</h2>
<p>今之世，一有病無藥之世也，一有病無方之世也，一有病無醫之世也。徐靈胎嘗云「醫非人人可為」，夫《本經》、《靈素》上古之書，即非蓬心人所易領會，而如南陽一派（指張仲景）下及《脈經》、《病源》、《千金》、《外臺》之所言，則皆隨時隨地尋常習見之病，而皆視為鳥篆蟲書，不可測識，曾不能用其一方一藥，尚何醫之足云哉！</p>

<h2>逸病說</h2>
<p>醫書充棟汗牛，有長於此者，便偏於彼，此其故總由其識見不周而用心則易有遺漏耳，即以逸病論之，人但知有勞病，而不知亦有逸病也，況逸病尤為富貴中常有之病也。向讀劉河間《傷寒直格》中列有八邪，稽其目曰：外有風寒暑濕，內有飢飽勞逸，乃逸豫安逸所生病，與勞相反，經云：「勞者溫之，逸者行之」，行謂使氣運行也，則《內經》本有逸病，且有治法，乃後人引河間語，每作「風寒暑濕，飢飽勞役」。夫河間以內外八邪標題，即曰八邪，當有八病，故飽與飢對，逸與勞對，若作勞役，則只有七邪矣，此《內經》所以謂勞則宜以溫養，逸則利於運行，早將勞與逸截分兩病也。張子和云「飢飽勞逸，人之四氣」，陳無擇云「瘧備三因，飢飽勞逸」，二子並能言之，審其病之為逸，便須用行濕健脾、導滯理氣之法，凡人閒暇則病，小勞轉健；有事則病反卻，即病亦若可忘者；又有食後反倦臥、起反疲者，皆逸病也。流水不腐，戶樞不蠹，其故安在？華元化曰「人體欲得勞動，但不當使極耳，動則穀氣易消，血脈流利，病不能生」，於此可悟王公大人久逸之體，待漏（待，等待。漏，古之計時器。）入朝，亦若同於風霜勞頓，而享上壽者，正賴有此小勞，以治其逸，況每日五更獨得乾坤清氣為多哉。</p>

<h2>煙漏說</h2>
<p>自張潔古有古方今病不相能之說，人遂謂病非古方能治，然今人萬病皆古人所已言，未聞別有古人不知之病也。若今所有煙漏一症，則真是今病，而為古人所未知，即為古人所未言，向聞煙客多腸燥，往往大便乾結為脾約（古之病名）而何以有煙漏？蓋所稱煙漏者，即下利也，即滯下也，亦即俗所謂痢疾也。人於傷寒之下利，且以漏底為名，況今以腸燥之人而忽有利，得不稱為漏乎！至一加以漏之名，則既名漏，自當塞則愈塞而愈，漏者何也？以其非漏也，以其本是滯下，故以塞者滯之而更滯也，或因傷於飲食或以感夫暑濕或以濕多而成五泄，皆足以致滯下，其病多見於春夏秋之交。煙客病，即非煙客亦病，特煙客臥多行少，其氣更易滯耳，或曰然則煙漏一症，將何法以治之？余曰此必不視為煙客，不名之為漏，仍從滯下正法，以通為止，則漏自止。人既曰漏，亦不定以非漏爭也，但須知此漏之必得通而止，則正所以治漏亦即所以治煙漏也。吾見滯下之以名為漏底，而卒至不起者，皆害於不為之通故，並於此發之。又煙漏之所然者如是，是當推本於煙，為煙客籌調理之法，人身臟為陰，腑為陽，一呼一吸，以奉生身，及其病也，在腑為輕，在臟為重，一臟受病為輕，五臟皆病為重。人固罕有一病而涉五臟者，有之自煙客始，夫人咽喉二竅，喉主氣息，即氣管也；咽主飲食，即食管也。喉系通於肺，呼吸出入，下通心脾肝腎，為氣息之道路；咽系通於胃，水穀皆由此入，為飲食之道路，飲食下咽，熟軟生硬皆能容受而停留胃中，其精微上輸脾肺，其糟粕下入大小腸，人之以飲食傷而為病者，在腑而不及臟，若氣管清淨之地，不能容受些子有形之物，而惟煙之入也，有氣無形，隨其人之本氣相為呼吸，其呼也上出於心肺，其吸也下入於腎肝，而位乎其中，以司呼吸之出入者則於脾，人之有脾也，本藉胃中水穀氣以生以化，今煙氣徑達脾中，較之飲食之入，必由胃而後及脾者，其行倍速，是以煙才入喉，頃刻周流充達，對時不舉，失煙氣之充周，猶之過時不食，失穀氣之榮養，其體倦，脾為病也；涕，肺為病也；汗，心為病也；淚，肝為病也；腸燥，腎為病也，至其為引（俗作癮），必對時而作者，脾主信，脾之為最先也，故五臟俱病，而脾尤甚焉。平時調理，自當以健脾為主，兼補兼行，旁及四臟，昔林文忠公（林則徐）方深合乎法，至於病名煙漏，實即滯下，則仍是腑病，不是臟病，不可不治其腑。此病真是今病，真古人所未知，然而藥則仍是古人之藥也。</p>

<h2>不盡瘟病論</h2>
<p>今夫瘟氣者，時令或有不正，固亦必有之症也，然一時偶有之症，非時時常有之症，一人間染之疾，非人人必染之疾也，況京都為首善之區，儒醫薈萃之下，識見宜皆高超，乃無論何人何病，診之者，概以瘟氣目之，即車馬盈門，衣冠滿戶，都城奉為名醫者，亦概以瘟氣論之，顧人之稟賦各異，豈受病之皆同歟？抑或診脈之未審耳，試思疏風、散火、消食、導氣等劑，治瘟氣者所必需也。然有瘟氣者，瘟氣因之而霍然，無瘟氣者，則一被攻伐，必元氣因之而頹然矣。況受瘟氣之人，未有不素弱者，即治瘟氣之時，尚宜調理其元氣，奈何於無瘟氣之人，竟敢克伐其元氣。</p>
<p>余於診視之先察其氣色，診視之際求其精詳，是瘟氣者，固不敢矯同而立異，非瘟氣者，亦不敢舒己而從人，為此謹啟慎身君子，於延醫調治之時，細加體驗，勿為醫藥所誤，是則余之厚望也夫。</p>

<h2>用藥機要</h2>
<p>醫之神良，識病而已，病之機要，虛實而已。虛甚者必寒，實甚者必熱，然常病易理，變病難知，形衰神憊，夭色脈空而知其虛；形盛神鼓，色澤脈強，而知其實，不待智者決也。至實有羸狀，誤補增亟；大虛有盛候，反既含冤；陽狂與陰躁不同，蚊跡與發斑有異，似非洞燭玄微者，未易辨也。</p>

<h2>服藥既得寐</h2>
<p>一凡治病者，服藥既得寐，此得效之徵也，正以邪居神室，臥必不安，若藥已對證，則一匙入咽，群邪頓退，盜賊甫去，民即得安，此其治亂之機，判於頃刻，藥之效否，即此可知。其有誤治亂投者，反以從亂，反以助虐，必致煩惱懊憹，更增不快，智者見機，當以此預知之矣。</p>

<h2>用藥須知</h2>
<p>夫治病最難，而用藥尤難，目今藥店所賣之藥，不依古炮炙，只徒顏色好看，又真偽雜投，好歹不辨，即或有精通陰陽之醫，方能中病，而點名具數之藥不惟無益，反覺有損，譬之五穀，最能養人，或腐朽濕蝕則反傷人，而藥材亦然。故醫者病家，藥材宜選擇，炮炙要精工，二者所關甚大。余是以反復叮嚀，再三提揭，果能方與藥俱盡美盡善，則藥到病除，醫家病傢俱獲益無窮矣。然醫為性命所關，易學難精，非得高人指示，醫中三昧何能瞭然，是醫有性命之學，能調燮陰陽，功補造化，斯為上醫。余望舉世皆為良醫，使天下蒼生盡登春臺，何樂如之，彼用藥時，必須質堅性全者方選入手，能人人皆然，處處盡是，庶辦買藥材之輩，壞藥無用，選擇自精，推其流弊，皆由病家慳吝，總思價廉，不求功倍，在辦藥買藥者，概以假藥壞藥欺人，而病人所服，皆是有損之藥，又安能起其沉疴哉。彼未得高人指示之醫，用方用藥故每每誤人而不辨藥之好歹真偽，不講究炮炙生熟，以人命為兒戲者，充滿字內，吾願病家，莫惜銀錢，務求上品好藥，而醫家當細心代為選擇，賣藥家體貼天良，貨真價實，不以假藥壞藥欺人，庶醫持方以治病，病得藥以全愈，亦不無小補云爾。</p>

<h2>水弱火弱論</h2>
<p>一陽虛者多寒，非謂外來之寒，但陽氣不足，則寒生於內也，若待既寒則火已敗矣，而不知病見虛弱而雖無熱證者，便是陽虛之候，即當溫補元氣，使陽氣漸回，則真元自復矣。蓋陽虛之候，多得之愁憂思慮以傷神，或勞逸不節以傷力，或色欲過度而氣隨精去，或素稟元氣不足而寒涼致傷等證，皆陽氣受損之所由也，欲補陽氣，惟辛甘溫燥之劑為宜，萬勿兼清涼寒滑之品，以殘此發生之氣，如生地、芍藥、天麥門冬、沙參之屬，皆非所宜，而石斛、元參、知柏、芩連、龜膠之類，則又切不可用。</p>
<p>一陰虛者多熱，水不濟火而陰虛生熱也。此病多得於酒色嗜欲或憤怒邪思，流蕩狂勞以動五臟之火，而先天元陰不足者尤多此病。凡患虛損而多熱多燥，不宜熱食者，便是陰虛之候，欲滋其陰，惟宜甘涼醇靜之物。凡陰中有火者，大忌辛溫，如乾薑、桂附、破故紙、白朮、蒼朮、半夏之屬，皆不可輕用，即如人參、黃耆、枸杞、當歸、杜仲之類，是皆陰中有陽，亦當酌宜而用之，蓋恐陽旺水愈消，熱增水益涸耳。然陰虛者，因其水虧，而水虧者，又忌寒涼，蓋苦劣之流，非資補之物，其有火盛之甚，不得不從清涼者，亦當兼壯水之劑，相機間用而可止即止，亦防其敗，斯得資補之大法。</p>

<h2>胞與為懷</h2>
<p>欲救人而學醫則可，欲謀利而學醫則不可。我之有疾，望醫之救我者何如？我之父母妻子有疾，望醫之相救者何如？易地以觀，則利自淡矣，利心淡，則良心現，斯畏心生。平時讀書，必且研以小心也，臨症施治，不敢掉以輕心也，夫而後以局外之身，引而進之局內，而痛癢相關矣，故醫雖小道而所繫甚重，略一舉手，人之生死因之，可不敬懼乎。</p>

<h2>醫醫說</h2>
<p>前輩云「醫人先當醫醫」，以一醫而治千萬人，不過千萬人計耳，救一醫，便救千萬人，救千萬人，便救天下後世，無量恆河沙數人耳。余所以使學醫者，先知醫醫，方不致誤人性命，可以積陰騭於冥冥中也。</p>

<h2>醫必讀書</h2>
<p>夫為醫者在讀書，讀而不能為醫者有矣，未有不讀書而能為醫者也。</p>

<h2>陰虛有二</h2>
<p>夫人生於陽而根於陰，根本衰則人必病，根本敗則人必危矣。所謂根本者，即真陰也。人知陰虛惟一，而不知陰虛有二，如陰中之水虛，則病在精血；陰中之火虛，則病在神氣。蓋陽衰則氣去，故神志為之昏亂，非火虛乎；陰虧則形壞，故肢體為之廢弛，非水虛乎。今以神離形壞之症，乃不知水火之源，而猶以標治，鮮不危矣！</p>

<h2>病有奇恆</h2>
<p>病生於外感，內傷，人所共知，而奇恆之病，知之者鮮矣。奇恆者，異於恆常也。俗醫不知奇恆之因，見脈和緩而用平易之劑，此又何異於毒藥乎。余故曰服平和之藥而愈者，原不死之病，勿藥亦可。服平和湯而後成不救者，醫之罪也。</p>

<h2>論肝無補法</h2>
<p>足厥陰肝，為風木之臟，喜條達而惡抑鬱，故經云「木鬱則達之」是也。然肝藏血，人夜臥則血歸於肝，是肝之所賴以養者血也。肝血虛，則肝火旺，肝火旺者，肝氣逆也。肝氣逆，則氣實為有餘，有餘則瀉，舉世盡曰伐肝，故謂肝無補法。不知肝氣有餘，不可補，補則氣滯而不舒，非云血之不可補也。肝血不足，則為筋攣，為角弓，為抽搐，為爪枯，為目眩，為頭痛，為脅肋痛，為少腹痛，為疝痛諸症，凡此皆肝血不榮也，而可以不補平！然補肝血，又莫如滋腎水，水者木之母也，母旺則子強，是以當滋化源。若謂肝無補法，見肝之病者，盡以伐肝為事，愈疏而愈虛，病有不可勝言矣，故謂肝無補法者，以肝氣之不可補，而非謂肝血之不可補也。</p>

<h2>痢利二字</h2>
<p>按古方書中，痢利二字通用。《傷寒論》中治利之法，有治泄利之方，有治滯下利之方，有治洞瀉利之方，皆統治之曰下利，而治之之法有上焦、中焦、下焦，因寒、因熱、氣分、血分之不同，學者熟讀《靈樞》、《素問》、《傷寒》、《金匱》等書，自能得其一貫之理焉。</p>

<h2>傷寒痘疹癰毒辨</h2>
<p>許學士曰「能醫傷寒，即能醫痘疹，能醫痘疹，即能醫癰毒」，蓋能醫傷寒者，知表裡、陰陽、寒熱、氣血、邪正虛實耳。傷寒之邪，從外而內；痘疹之毒，從內而外；若夫癰毒，有因於風寒暑濕之外襲者，有因於喜怒飲食之內傷者。是以傷寒、痘疹、癰毒，皆當審其表裡、虛實而治之，如痘症之表實者，當清解其表，裡實者，即疏利其里，血熱者涼血，氣逆者理氣，邪毒盛者急宜清熱解毒，正氣虛者又當兼補其正焉，氣虛者補氣，血虛者補血，表虛者固表，裡虛者實里，是以治痘有寒熱溫涼之方，有攻解補瀉之法，蓋瀉者，瀉其熱毒；補者，補其正虛。昔錢氏（宋·錢乙）痘方多用清涼，謂當清熱解毒為要。陳氏（宋·陳文中）專用溫補，謂血氣充足而後能化毒成漿，此皆偏執一見，而不得中正之道者也，故為兒醫者，當以二氏之方折中其間，審其邪正虛實而治之，萬無一失矣。至於癰毒之症，與痘疹無二，而治法亦同，如陰毒在內而不起發者，即痘毒之內陷也；根盤收斂而高聳者，即痘之界地分明而起脹也；膿稠者，即痘之漿厚也；無膿者，即痘毒之不化也；能食者，即痘毒之盡發於外也；不能食者，毒氣尚壅滯於內也；收口者，即痘之結痂也；臭爛者，即痘之坍爛不收也，或解或攻或補或瀉，當以治痘之法治之。古來瘍醫咸以為痛癢、瘡瘍皆屬於火，惟以寒涼之藥治之，或毒反冰伏而不起者，或始終用攻利之藥致正氣虛脫而後成不救者。噫，為兒醫、瘍醫者，能潛心於《靈素》仲景諸書，功德無量矣。</p>

<h2>認疫治疫要言</h2>
<p>認疫之法，較諸正傷寒、風溫、溫熱、濕溫、暑暍等門，迥乎大異者，即疫也；脈症不必大涼，而服大涼之藥，似有害而終無害者，即疫也；脈症可進溫補，而投溫補之劑，始似安而漸不安者，即疫也。至於治疫之法，總以毒字為提綱，憑他如妖似怪，自能體會無疑，君如不信，試觀古今治疫之方，何莫非以解毒為主。吳又可之早用大黃，非解毒乎；張路玉之酷喜人中黃，而以童便配蔥豉為起手方，非解毒乎；葉天士之銀花金汁必同用，非解毒乎；至於犀角、黃連、生甘草等味，十方九用，非解毒乎，故嘉言喻氏有要言不繁曰：「上焦如霧，升而逐之，佐以解毒；中焦如漚，疏而逐之，佐以解毒；下焦如瀆，決而逐之，佐以解毒」。觀其旨，上中下，則有升、疏、決之異，而獨於解毒一言，疊疊緊接，不分彼此，豈非反復叮嚀，示人以真諦也哉。</p>

<h2>外感內傷</h2>
<p>醫書論外感內傷，莫不以內傷為不足矣，然勞倦傷有不足者，若飲食則有餘者多，所以云內傷者，明其不因於外感耳，非以外感為實，內傷為虛也。</p>

<h2>郁無虛病</h2>
<p>余按世間郁病最多，達、發、奪、泄、折，皆治郁法也，故凡郁無虛症。按郁之未成，其初甚微，可呼吸按導而去之，若強補而留之，留而不去，遂成痼疾，此謂病成，即難去矣。又按養生之與去病，本自不同，今之醫者，動以補劑去病，宜乎有害而無效也。</p>

<h2>果子藥</h2>
<p>予每觀世啞科（舊指小兒科）療病，至虛不多用參附之屬，至盛不多用硝黃之輩，特主平穩之劑，至其危殆，不敢自省。然而以此馳名致富者頗多，小兒醫痘，首善咸推某矣，某用藥極平易簡少，俗所謂果子藥，渠所謂吉凶分數，約日不差，人以此服之。予曰此自其眼力高耳，胸中定耳。渠知痘無藥也，順不必服，逆庸服，險症亦只須果子藥，可保無後怨。《倉公傳》云「秦越人非能生人，人自當生者，秦越人能使之不死耳」，此又可為一不必服藥之明徵矣。</p>

<h2>矢醫</h2>
<p>徐洄溪《醫貫砭》云：「熱既入里，離表已遠，驅出為難，故就大便通泄其熱，從其近也；得汗而經熱從汗解，非汗為害而欲法之也，便矢而府熱從矢出，非矢為難而欲攻之也。醫不察此專與糟粕為敵，自始至終但知消克瀉下之法，求一便矢以畢其能事，夭人生命。如是者曰『矢醫』。」近來輦轂矢醫極多，可嘆矣！</p>

<h2>李士材治血</h2>
<p>近得《古今圖書集成》，於「藝術典·醫部匯考」一門遍讀之，中有載李中粹語一條云：「予於諸血症之始，率以桃仁、大黃行血破瘀之劑，折其銳氣而後區別治之。雖獲中病，然猶不得其所以然也。後遇四明（今浙江郭縣）蘇伊舉論諸家之術，伊舉曰『吾鄉有善醫者，每治失血蓄妄，必先以快藥下之』。或問失血復下，虛何以當？則曰『血既妄行，迷失故道，若不去蓄利瘀，則以妄為常，易以御之，且去者自去，生者自生，何虛之有』。予聞之，愕然曰名言也。昔者之疑，今釋然矣。」觀此一條於血症一門，當知所變通也。俗醫不明此理，一見失血，不問虛實，便用止澀，以致當去之瘀血不去，淤塞於內，即變生諸弱症，可不畏哉。</p>

<h2>論治病不出氣血痰鬱</h2>
<p>人身之病，變端無窮，其治法則千態萬狀，有不可以一例拘者，丹溪之治病也，總不出乎氣、血、痰三者，三者之中，又多兼郁，氣用四君子，血用四物湯，痰用二陳湯，郁立越鞠丸以為定法，王節齋極言之，而庸工學步邯鄲，亦遂執此以為醫之能事盡此矣。夫丹溪之言，不過絜其大綱論之耳。若謂氣病治氣，血病治血，痰病治痰，郁病治郁，又何難哉。</p>

<h2>外感內傷</h2>
<p>外感、內傷為證，治內大關鍵，然去其所本無，復其所固有，兩言可盡之。蓋六淫外襲，身中氣血，日失和平，一切外感有餘之症，有須汗、吐、下、和之治，皆是去其所本無也。若七情受傷，腑臟有損，身中氣血，日就虧耗，一切內傷不足之症，有須滋填培補之治，皆是復其所固有也。</p>

<h2>外感挾食</h2>
<p>凡外感病挾食者頗多，當思食為邪裹，散其邪則食自下，若雜消導於發散中，不專達表，胃汁（液）傷復因而陷閉者有之，至若風多挾暑、濕、寒，或挾燥火，或惱怒，或勞倦，或房事，及肝氣宿瘕諸血症，皆外感之病，不無有挾者，所貴隨症制宜，斟酌盡善，庶無差誤也。</p>

<h2>氣血痰鬱四論</h2>
<p>雜症主治四字者，氣血痰鬱也。丹溪治法：氣用四君子湯；血用四物湯；痰用二陳湯；郁用越鞠丸，參差互用，各盡其妙。薛立齋從而廣之，氣用補中〔益氣湯〕，而參以八味〔丸〕，益氣之源也；血或四物〔湯〕，而參以六味〔丸〕，壯水之主也；痰用二陳〔湯〕，而兼以六君〔子湯〕，補脾土以勝濕，治痰之本也；郁用越鞠〔丸〕，而兼以逍遙〔散〕，所謂以一方治木鬱，而諸郁皆解也，用藥之妙，愈見精微。以愚論之，氣虛者宜四君輩；而氣實者，則香蘇〔飲〕、平胃〔散〕之類可用也；血虛者宜四物輩；而血實者，則手拈〔散〕、失笑〔散〕之類可用也；尋常之痰，可用二陳輩，而頑痰膠固，致生怪症者，自非滾痰丸之類不濟也；些小之郁，可用越鞠、逍遙輩，而五郁相混，以致腹膨腫滿，二便不通者，自非神佑、承氣之類弗濟也。大抵尋常治法，取其平善，病勢堅強，必須峻劑以攻之，若一味退縮，則病不除，而不察脈氣，不識形情，浪施攻擊，為害尤烈。務在平時將此氣血痰鬱四字，反復討論，曲盡其情，辨明虛實寒熱，輕重緩急，一毫不爽，則臨症灼然，而於治療雜症之法，思過半矣。</p>

<h2>辨脾胃升降</h2>
<p>余嘗考治脾胃，莫詳於東垣，求東垣治脾胃之法，莫精幹升降，夫升降之法易知，而升降之理難明，其在經曰：「脾胃為倉廩之官，五味出焉。」蓋脾主生化，其用在於無形，其屬土地，氣主上騰，然後能載物，故健行而不息，是脾之宜升也明矣。胃者，水穀之海，容受糟粕，其主納，納則貴下行，譬如水之性，莫不就下，是胃之宜降也又明矣。故又曰「清氣在下，則生飧泄；濁氣在上，則生䐜脹。」夫清氣何？蓋指脾氣而言，不然何以在下則飧泄也。其濁氣何？蓋指胃氣而言，不然何以在上則䐜脹也，是非可為脾升胃降之一確證乎，由此而推，如仲聖所立青龍〔湯〕、越婢〔湯〕等方，即謂之升脾之清氣也可；其所立三承氣（大、小承氣湯，調胃承氣湯）諸方，即謂之降胃之濁氣也無不可。觸類引伸，理原一貫，先聖後聖，其揆一也。考東垣所著，補中益氣〔湯〕，升陽益胃〔湯〕各方，其論雖詳於治脾，略於治胃，而其意則一臟一腑，升降各有主治，顯然不可混者，其與先聖之理，又何嘗相悖，而後先輝映，足以發明千古，良可師也。苟其顛倒錯施，俾升降失宜，則脾胃傷，脾胃傷，則出納之機失其常度，而後天之生氣已息，鮮不夭札生民者已。余偶讀東垣書，詳究脾胃以辨其升降之理如此。</p>

<h2>論犀角、升麻</h2>
<p>按朱南陽有如無犀角以升麻代之之說，以其同於一透也。朱二允以此二味升降懸殊為辯。余謂尚非確論。夫犀角乃清透之品，升麻乃升透之味，一重於清，一重於升，其性不同，其用自異，未嘗聞有異而可代者也。若夫風寒壅遏，疹點未透者，斯為升麻之任；而溫邪為病，丹斑隱現者，又系犀角之司。如以升麻為代，其肺氣熱者，必致喉痛，甚增喘逆；營分熱者，必致吐血，輕亦衄宣，其誤若此，豈可代乎！又角生於首，故用為透劑，二允以為下降之品，亦不可不辨。余非敢輕議前輩，實出婆心之不禁耳，故謹論之。</p>

<h2>臟腑長短辨</h2>
<p>讀《難經·四十二難》有臟腑之長短、輕重、廣狹、受盛之數，余竊以為未必然，如人輕重、長短不齊，飲食多寡不一，即可類推也。即長短尚有以中指屈曲而取中節之罫角以量之論，而受盛水穀之升合，迥然各異，可見吾儕看書要在圓通活潑，未可拘泥成說也。</p>

<h2>互相牴觸</h2>
<p>讀古人書，須識其補偏救弊一片苦心，互相牴觸，即是互相闡發處，所貴多讀多看，融會貫通，由博反約，以求理明心得，臨症無望洋之苦是已。若好為指摘，棄瑜錄暇，殊失欽承前哲之道，至矜家秘而執成法，頭痛醫頭，尋方覓藥，一切無方之書，置之高閣，此又孟浪之流，不足與語斯道者矣。</p>

<h2>去宿食</h2>
<p>按傷食惡食，人所共知，去宿食則食自進，老少同法。今之醫者以老人停食，不可消，止宜補中氣，以待其自消，此等亂道，世反奉為金針，誤人不知其幾也。</p>

<h2>譫語辨</h2>
<p>諺語，乃心主神氣內虛。言主於心，非關於胃，胃燥譫語而用承氣湯者，乃胃絡不能上通於心，胃氣清而脈絡能通〔於心〕之義。今人不明少陰譫語，凡解譫語定屬陽明，謂法當下，豈理也哉？</p>

<h2>小便辨</h2>
<p>小便不利，諸家解釋俱屬膀胱，謂經云「膀胱者，州都之官，津液藏焉，氣化則能出矣」。夫氣化則出者，言膀胱津液得太陽陽熱之氣，化膀胱之寒水，而後能出於皮毛，非津液下出之謂也。蓋外出者，津液也，下出者，水道也。經云「三焦者，決瀆之官，水道出焉」，是小便注於膀胱而主於三焦。《傷寒論》熱結膀胱，則以小便通閉而驗血證，其餘小便通閉俱屬三焦。</p>

<h2>陶節庵</h2>
<p>按節庵所著《傷寒六書》盡易仲景原方，參合後賢治法，在後人誠為便用，故世之嗜節庵者勝於仲景，以節庵為捷徑，以仲景為畏途。節庵之書行而仲景之書晦，如節庵者，可謂潔古、海藏輩之功臣，而在長沙（指張仲景）實為操、莽也。本集採節庵之論頗多，然不能無遺議者，以節庵之功罪不妨互見於世也。</p>

<h2>霍亂</h2>
<p>張隱菴以霍作藿，未知何據。吳鶴皋云「手揮霍而目瞭亂名曰霍亂」。余按此屬臆解，《〔諸〕病源候論》云「霍亂者，由人溫涼不調，陰陽清濁二氣有相干亂之時，其亂在於腸胃之間者，因遇飲食而變發，則心腹絞痛，其有先心痛者，則先吐；先腹痛者，則先利；心腹並痛者，則吐利併發」。霍亂言其病揮霍之間，便致隙亂也。《文選·文賦》「紛紛揮霍」，李善注「揮霍」疾貌。</p>

<h2>失音有二</h2>
<p>一曰舌瘖，乃中風舌不轉運之類是也；一曰喉瘖，乃勞嗽失音之類是也，蓋舌瘖但舌本不能轉運言語，而喉咽音聲則如故也；喉瘖但喉中聲嘶而舌本則能轉運言語也。唐慧琳《藏經音義》云「瘖者，寂然而無聲；瘂者，有聲而無說，舌不轉也」。其療治之法，詳於各書中，當細閱之。</p>

<h2>鼠瘻</h2>
<p>吳鶴皋云「鼠瘻，寒氣陷脈為屢，其形如鼠也，為病令人寒熱」。余按《靈素·寒熱篇》云「寒熱瘰癧在於頸腋者，皆何氣使生？岐伯曰『此皆鼠瘻，寒熱之毒氣也，留於脈而不去者也』。」張〔景岳〕注云「瘰癧者，其狀累然而歷貫上下也，故於頸腋之間皆能有之，因其形如鼠穴，塞其一復穿其一，故名之為鼠瘻。蓋寒熱之毒留於經脈，所以聯絡不止。一曰結核。連續者為瘰癧，形長如蜆蛤者為馬刀。」朱震亨曰：「瘰癧不作寒熱者可生，稍久轉為潮熱者危是也」。《淮南·說山》訓貍頭愈鼠〔瘻〕，雞頭已〔鼠〕瘻。《說文》：鼠，漏創也。瘻，腫也，一曰久創。」知是二字俱漏瘡之謂。蓋其狀累然，未潰者為瘰癧，已潰而膿不止者為鼠瘻。</p>

<h2>帶下瘕聚</h2>
<p>吳鶴皋云：「帶下，白赤帶下也。瘕聚，氣痛不常之名」。馬元臺云：「瘕聚者，乃積聚也」。《大奇論》曰「三陽急為瘕」。按後世有八瘕者，亦因七疝之名而遂有八瘕名目，即蛇瘕、脂瘕、青瘕、黃瘕、燥瘕、血瘕、狐瘕、鱉瘕是。《內經》無之。張志聰云：「瘕者，假血液而時下汁沫；聚者，氣逆滯而為積聚也」。高士宗云「帶下，濕濁下淫也。瘕聚血液內瘀也」。</p>
<p>余按赤白帶下，昉見於《病源》，而古所謂帶下，乃腰帶以下之義，疾繫於月經者，總稱帶下。《史記》扁鵲為帶下醫。《金匱》有帶下三十六病之目，可以見也。虞庶注《二十九難》云：「瘕者，謂假於物形是也。」</p>

<h2>臟燥</h2>
<p>孕婦喜笑怒罵如見鬼神，非顛狂也，乃臟燥，書有明言，《金匱》用甘麥大棗湯，真乃神驗。余常用此方治男婦、室女無端而病，如顛如狂者，隨手皆應，乃知古人制方神奇，又知臟燥不僅胎病，惜世人誤作顛狂邪祟，至使病者不死於病而死於藥，死於醫，可嘆也！故先醫有言，學醫先學認證，認證亦尤須謹於用藥。</p>

<h2>治吸食洋菸病要法</h2>
<p>近來人有煙癮，治病與無煙癮有別，有煙癮者，食後即側臥吸菸，知其胃腕停食也；癮半過口乾而飲茶水，旋又側臥吸菸，知其胸間停水也；愛食水果生冷，腹中多濕寒也。煙火作熱，因燥化痰而傷肺；寒食作積，夾濕成滯而傷脾。滲濕化痰、潤燥消積、固肺健脾，乃治癮者要法。</p>

<h2>扶陽</h2>
<p>今人只是愛服清涼藥，動云我有火病，難服辛溫之品，後延之醫悉皆趨承附和，不言上焦有火，即雲中下積熱，及至委頓亦不知變遷，或遇明眼之醫，略啟扶陽之論，不覺彼此搖頭，左右顧盼，不待書方而已有不服之意矣。比歲冬初，請醇邪脈，余用桂枝，諸醫皆以為不宜。後服至十數劑，劑劑皆有桂枝，並用附子等，連服多日，精神、飲食、安寐俱見起色，並覺身體作癢，此皆陽氣有迴轉之兆，俗醫不知，偏用滋陰蠻補之味，以致藥日投而病愈重，不知早為變遷，誠可謂下愚不移也。生今之世，思欲展抱負，施桂附尚且難入，而針砭灼艾之說，更斷乎不能行也。</p>

<h2>經絡</h2>
<p>近世時醫，矢口言「經絡部位，乃外科治毒要法，方脈何藉於此？」嗟嗟！經絡不明，何以知陰陽之交接，臟腑之遞更，疾病情因從何審察。夫經絡為識病之要道，尚不肯講求，焉望其宗主《內經》，研究《傷寒》，識血氣之生始，知榮衛之循行，陰陽根中根外之理，不明神機或出或入之道，不識師徒授受，惟一《明醫指掌》、《藥性歌括》以為熟此，儘可通行，用藥誤人，全然不辨，或遇明醫，搘後扯拽，更將時事俗情亂其理，談恐露出馬腳，惟一周旋承奉，彼明理人，焉肯作惡，只得挽回數言，以蓋其誤，如此時醫，誠為可恥。</p>

<h2>痧症治法</h2>
<p>今所謂痧疾者，乃六淫邪毒、猛惡厲氣所傷，凡所過之處，血氣為之凝滯不行，其症或見身痛，心腹脹滿絞痛，或通身青紫，四肢厥冷，指甲色如靛青，口禁牙關緊閉不能言語，或心中忙亂死在旦夕，是邪毒內入矣，宜瀉其毒，或刺尺澤、委中、足十指，必使絡脈貫通，氣血流行，毒邪自解矣。輕者即用刮痧之法，隨即服萬病解毒丹即藥肆中所制紫金錠。或吐或下或汗出，務使經氣流通，毒邪亦解。或吐瀉不止，腹痛肢厥，大汗脈微欲絕者，宜用白通湯、通脈四逆湯、四逆湯等以回陽氣以化陰邪，庶毒厲之邪漸消。若口不開者當從鼻孔中灌之。《集驗良方》有云「行路之人，路中犯此痧症者，不得不用刮痧之法，刮後或其人不省者，宜用人尿拌土，將此土環繞臍中，復使同行之人向臍中溺之，使中宮濕則氣機轉運，血脈流行矣」。</p>

<h2>痧症辨</h2>
<p>嘗考醫籍，除聖經賢論外，凡諸家之論多首標病名，次列症狀，繼以方藥，若某病因於某邪，故現某症，全不辨晰敘明，未嘗不廢書三嘆，如《醫方集解》之方下所注治某病某病，而不道其所以，然淺學不辨宜否，因而誤人，雖自欠究心，亦古書有以害之也。即如痧證之名，起於後世，古方書名乾霍亂，霍亂者，感雜錯邪氣，上吐下瀉，揮霍瞭亂也。其邪閉結，欲吐不能，欲瀉不得，而有暴絕之虞，則名於霍亂也。如邪留營衛，按經穴刮之，氣血流行，邪從毛孔而泄，膚現紅點沙子，後世痧症之名所由起也。上古治外邪多用針砭，今之挑痧、放痧亦針砭之意耳，若近俗所稱吊腳痧者，即古書所謂霍亂轉筋也，轉筋入腹者死，因邪入臟，由肝傳脾，木剋土為賊邪，肝主筋，脾位於腹，故轉筋入腹則死。治法必辨六氣之因虛實之異，非可通套混治。每見有名專科治瘀者，雖常見效，但不明六氣為病之因。凡遇頭脹胸悶腹痛等症，概指為痧，混用辛散開竅，破氣破血之藥，致氣血傷殘，邪仍不解，其所以名專科者，惟習痧症《玉衡》、《大全》等書，而聖經所論陰陽六氣之理未曾體究，但知其病用某方，某方治某病，若其症其因，千變萬化，似是而非者，則莫能辨也。痧脹書始於近代，補古未備，原有濟世之功，惜未詳論六氣之理，以明其源，但稱為痧，而敘證狀，多列名目，淺學未能細辨，每與雜病牽混。夫痧者，雜症中之一症，今名目多於雜症，使人目眩而莫知其緒，如吳又可之論瘟疫，亦不明六氣變化之因，混指溫病為瘟疫，悖經旨而誤後學。余於釋瘟中略已辨之。若痧症之因，實與瘟疫一類，以其邪氣鬱遏，故變症尤多卒暴。如《內經》云「厲大至，民善暴死。」是也，要皆不出六氣與穢惡釀成，故夏秋常多，冬春較少，而一方中病狀相類，亦如瘟疫之傳染。惟瘟疫由膜原傳變，痧症之邪淺深不一，皆由鬱閉使然，現症不同，其為疫邪則同也。以六氣錯雜閉郁，但開其鬱即為治痧之大法，然不識六氣為病之理，則必誤將雜病作痧而治，虛實不分，混投痧藥，斯害也已。古人著書之心，原欲濟世，不善讀者，多以滋害。孟子曰「盡信書則不如無書」。倘不明聖經源流，則難免因名昧實之弊，操術者不可不察焉，豈獨痧症、瘟疫而已哉。</p>

<h2>虛秘治法</h2>
<p>余歷觀古人用通藥，率用降氣等藥，蓋肺氣不下降，則大腸不能傳送，又老人、虛人津液少大便秘，經云「澀者滑之」；又有肝陽虛風上旋，血燥便秘，以熄風調中助少陰腎藥為治。今人學不師古，妄意斟酌，每至大便秘燥，不問虛實，即以快藥盪滌之，以陰藥滋補之，必致旋秘旋開，兼生他病，可不慎哉！</p>

<h2>醫藥不可偏執說</h2>
<p>近時學醫者，拘守一家，偏執己見，殊不知時有寒暑，地有燥濕，貴賤貧富，虛實有別，老壯婦兒，強弱各異，況人之素稟有陰陽之偏勝，病之流布有今古之不均，或一人之身而寒熱各位，病之傳化又首末殊情，疾症之所以萬變而不可窮極也。是以藥之補瀉溫涼，治之擒縱緩急，倘舉一而廢百，其貽害不可勝道。奈何今世醫家，往往堅持異說，膠柱不移，如學劉張朱李四家，斷斷然務立門戶，最不能無偏，故元儒許魯齋《論梁寬甫病症書》，既辨其失曰：「近世論醫有主河間劉氏者，有主易州張氏者。張氏用藥，依准四時陰陽升降而增損之，正《內經》四氣調神之義，醫而不知者妄行也。劉氏用藥，務在椎陳致新，不使少有拂鬱，正造化新新不停之義，醫而不知者無術也。然而主張氏者或未盡張氏之妙，則瞑眩之劑，終莫敢投，至失機後時而不救者多矣。主劉氏者或未悉劉氏之蘊，則劫效目前陰損正氣，遺禍於後日者多矣。能用二家之長，而無二家之弊，則殆庶幾乎。」真達者之見，後學之炯戒。若繆仲淳、李念莪諸人，又謂後世元氣轉薄，治當以補養為主，出《神農本草經疏》、《醫宗必讀》。而其弊失之畏葸。又此間有藉口古方者，謂病皆有毒，治當以攻伐為主，而其弊失之疏暴。余早嘗謂《素問》之敘年壽與今時不異，明是人之稟賦，固無今古之差，則不可言。後世專宜補藥，唐笠山《吳醫匯講》有管凝齋古今元氣不甚相遠說，其意與余所見者符。軒岐之書，間及調養，仲祖之方，不乏救陽，而病之屬虛者非填補不能愈，則不言治病專在攻伐，可謂持正之言矣。大抵醫者先入為主，偶有屢次得效之藥，則僻意傾倒濫用也不顧，或張皇其說，詫以傳世，則自誤誤人，其為害又豈可勝道哉！學者深懲前轍，潛研軒岐、仲景之法，旁及諸家之所長，反復尋討，哀以為我用，平心靜氣，務消除門戶之見，每對病者，精加甄辨，隨其人之臟腑虛實，陰陽寒熱，按六經之法，遵仲景之方，設或偶有不合，亦必兼以諸大家之論出入其間，以意消息治之，此權衡在我，頭頭是道，幸勿拘執偏補偏攻之法，隨症施方，神而明之，變化由人，是即醫之能事矣，其一家之言，何足深信也。</p>

<h2>煩躁</h2>
<p>同一煩躁也，太陽之煩躁用青龍〔湯〕；陽明之煩躁用白虎〔湯〕；少陰之煩躁用真武〔湯〕，故所貴乎分經者知其異，尤在知其同也。</p>

<h2>咳嗽</h2>
<p>凡咳嗽初起，多因風寒，經云「皮毛者，肺之合也」。余每見今人患此症，不知解肌，遽投六味〔丸、湯〕若加五味〔子〕、麥冬之類，為禍更烈。是閉門逐寇也，必變成癆，可不慎哉！</p>

<h1>卷二</h1>

<h2>桂為諸藥先聘通使</h2>
<p>人手之骨節，左右各十八，合之為三十六；足之骨節，左右各十八，合之為三十六，合計四肢骨節七十二，七十二候，七十二節，天人同具此數也。七十二節屬四肢，四肢屬脾胃，胃為坎，坎為月，月為戊，戊為土，土生水，水歸海，海起潮，潮應月，月至中秋而愈明，潮至中秋而特大。桂至中秋而自芳，則又何必月中之桂，亦何必非月中之桂，凡字從肉旁者作月，月桂即肉桂，肉桂即箘桂，箘從囷，廩之圓者為囷，箘桂其圓如竹，箘桂即今之肉桂、厚桂也，然生髮之機在枝幹，故仲祖方中所用俱是桂枝，即牡桂也。《神農本草經》云「箘桂，味辛溫，主百病養精神和顏色，為諸藥先聘通使」。先聘通使者，取乎圭之義也，桂字從圭，圭所以通信，信為土德，故從土。何休《公羊傳》注云「月者，土地之精也」。潮以時至而有信，桂得中央土嗅之香，當月明潮應之秋而桂也飄香，則桂之為物可知也。月也潮也桂也，皆通乎土者也，故桂為諸藥先聘通使也。坤坎皆土，故字皆從土，先天圖坎位乎正西，邵子以土系之坎，而謂水生於土，此所以月生於西，而潮亦自西而趨東，桂亦取乎桂林西土所產也。後天圖坤亦位乎西南，先後天一理也。月之生明，惟賴此震之一陽，震三生木，桂為木也。《難經》謂肝木主色；邵子謂木之神不二；《說文》謂桂為百藥之長，則桂之主百病，養神和顏色也固宜。又節者，即關節也，兩肘兩腋兩髀兩膕皆機關之室，周身三百六十五節，皆神氣之周行，桂助君火之氣，使心主之神而出入於機關，遊行於骨節，故主利手足步履動轉維艱也。時醫以桂枝發表，禁不敢用，自唐宋以後，罕有明其旨，所以余用桂枝，宜其招謗也。噫，桂枝之屈於不知己也，將何時得以大申其用哉！</p>

<h2>龜板</h2>
<p>馮夢禎《快雪堂集》載，王節齋先生素工醫，撫蜀時患蟲病，訪知青城山有隱者能治，招之不來，乃躬造之。一宿隱者脈之云「此蟲病也」。問何以致此，乃詰其嘗所服藥？云：「素服補陰丸」？曰：是矣。其蟲乃龜板所致，龜久生之物，惟敗板入藥，不得已用生解者，須酥炙極透，應手如粉者良。少堅得人之生氣，其生氣復續，乃為蟲耳，此非藥餌所治。公自今壽尚可三年，猶及生子。公遂歸。三年生子而卒。龜板良藥，製法一乖，取禍如此，以節齋之善醫尚有此失，醫可輕言哉？按王節齋《本草集要》云：龜乃陰中至陰之物，稟北方之氣而生，故能補陰血不足。又方家以其靈於物，故用以補心甚效，此說蓋出於丹溪，王氏深信丹溪不啻筆之於書，自用以取禍如此，抑似愚焉。然龜板為蟲之說，亦難信據。而又《紫桃軒雜綴》所載一事，殆與此相類，云「昔潤州一大老，惟喜服食所制補劑，中用龜板，餌之垂十年，頗健朗，晚歲忽患蟲膈，厭厭就盡，乃謁白飛霞，飛霞診視良久曰：此瘕也，公豈餌龜板藥餌耶？今滿腹皆龜，吾藥能逐之。其在骨節膚腠中者，非吾藥所能也。公可速治後事，乃與赤丸數粒，服之下龜如菽大者升余，得稍寬，不數月仍敝，易簣時驗小遺，悉有細蟲，彷彿龜形，其得氣而傳化如此，可畏哉。」考龜、鱉、水魚、山瑞、鮜等物，形狀相類，與莧菜同時食之，龜鱉皆能復生，曾於清明時將鮜與克〔菜〕用刀同琢至碎，轉瞬悉變小鮜，蠕蠕生動矣，物理之相生如此，不可不慎。</p>

<h2>內結七疝</h2>
<p>馬元臺云「內者腹也，腹之中行乃任脈所行之脈路，則宜其為病若是」。《難經·二十九難》云「其內苦結，男子為七疝，女子為瘕聚」。七疝乃五臟疝及狐疝、㿗疝也。出於《刺逆從篇》、《脈要精微論》、《奇論脈解篇》、《陰陽別論》、《靈邪氣臟腑病形〔篇〕》等篇。再考之《內經注》吳鶴皋云「七疝，寒、水、筋、血、氣、狐、㿗也」。張隱菴注《四時刺從篇》云「七疝者，乃總諸病為言。如本注所言者六也，《邪氣臟腑病形篇》所言者一也，蓋以諸經之疝所屬有七，故云七疝。若狐㿗沖厥之類亦不過為七疝之別名耳」。後世如巢氏所敘，七疝則曰厥、癥、寒、氣、盤、肘、狼，虞庶《難經注》依巢氏、釋氏。至張子和非之曰「此俗工所立謬名也」，於是亦立七疝之名曰「寒、水、筋、血、氣、狐、㿗，吳注本之」。學者當以經旨為宗。</p>
<p>余按七疝考經文，其目未明顯，姑從馬、張之義。王永輔《惠濟方》以石、血、陰、氣、妒、肌、疝，闢為七疝，亦未知何據。李中梓《〔醫宗〕必讀》別立七疝之名，分㿉與㿗誤甚。</p>

<h2>經驗陽症論</h2>
<p>陽明症鼻流清涕，即寒在陽明。寒者陰也，氣音陽也，陽遇陰則成形，陽氣衝開陰氣則無形，不流清涕亦不生痰。凡陽明症鼻築不通而流清梯者，古法用葛根湯，治之卻每多不效，余治偶病鼻築氣滯流涕者用：</p>
<p>附片（兩薑汁炒）　生乾薑（兩）　治之即效。</p>
<p>治久病氣弱，鼻築不通者用：</p>
<p>四味回陽飲　蜜泡參炒　炮姜　薑汁附片　炙粉甘草　加蜜炙黃耆（二兩五錢）久服自愈。</p>

<h2>陽症十六字</h2>
<p>月張不眠，聲音響亮，口臭氣粗，身輕惡熱。</p>

<h2>六經切要</h2>
<p>凡治病以六經為本，分火弱水弱為宗，《傷寒集註》辨陰症、陽症十六字心傳，最捷最佳。</p>

<h2>經驗陰症論</h2>
<p>陰症者，其人目露，眼膛青，眼睛睜不開，眼皮重，眼睛澀；耳常鳴；鼻常注；舌乾不渴，睡醒猶甚；頭重難抬，一身盡重；心常跳慮，靜坐尤甚，欲寐不寐；面色青黑，無有血色；常常有病又似無病；反飽作脹，飲食不消；及生諸蟲，四肢無力；吐血咳嗽嗆出眼淚；氣驟人昏，起則欲倒；半身不遂，麻木不仁；暴脫不知人事，舌卷耳聾；聲音常失；腹常陰痛；心氣常痛，起包起塊；心中不安若貓抓之狀，莫可名言；雖夏天亦常畏寒，足膝時刻怕冷，手足心燒；遺精滑精；痔瘡痔漏，脫肛便血；婦女崩帶，以上種種皆陰症病形者也。</p>

<h2>陰症十六字</h2>
<p>目瞑嗜臥，聲低息短，少氣懶言，身重惡寒。</p>

<h2>看病法</h2>
<p>凡臉青黑者是陰症，臉紅昔是陽症，戴陽症者臉亦紅。戴陽者，陰症似陽也。</p>

<h2>辨舌苔法</h2>
<p>凡舌苔黃亦有虛火、實火之分，醫者凡見舌黃，即言寒火，不分虛實，概用芒硝、大黃，誤人不淺。不知實火始用芒硝、大黃下之；虛火則用回陽理中湯溫之。實火舌苔黃者，如火炕物太過，〔而〕生黃色；虛者舌苔黃者，如物濕壞亦生黃衣。平日人強壯，大便結燥，口渴喜飲冷舌苔黃者，方是實火，當下，用涼藥；若平日人無精神，四肢無力，飲食無味，反飽作脹，舌苔黃者，乃是虛火，當燥，用熱藥。</p>

<h2>咳嗽印證</h2>
<p>凡治弱症咳嗽吐血，症不必多分，總要認定水弱火弱的病源，今醫者治此數病多用生血滋陰之藥，雖血止而咳生，倘用清肺潤肺之藥治之，十有九死。若不分虛火、實火，一概用滋陰之藥，亦誤人不淺。蓋虛火宜熱，實火宜涼。實火者，如柴炭之火，以水淋之其火即熄，故治實火用涼藥即愈。虛火者，如濕物之發燒，以水淋之其燒可退，不將濕物曬乾，終久必壞，故治虛火用熱藥即愈。今之醫虛火者，每以涼藥治之，其病雖鬆，根總未除，洽如濕物發燒，以水淋退是也。余初醫咳病，未得其法，亦從時醫治之，全不見效，曾於冬時求治咳嗽者六七人，盡是臉青面黑，觀前醫所治，皆用滋宵水之藥，服之多反飽作脹，精神全無，遺精盜汗，胸中不安，因將天時印證之，如天色黑，即是冷；人面黑，諒總是冷，乃用　人參　黃耆　白朮　甘草　乾薑　附片　砂仁　半夏　蔻仁等藥，而人人皆愈。余以後治病，總分水弱、火弱、氣虛、血虛，余無別法。</p>

<h2>口臭</h2>
<p>凡口臭，除陽明實火外，皆宜服熱藥。醫者見口臭，即言是火，此說無憑。火者陽也，陽既無聲無臭無形無影，有何臭氣？臭者，弱氣也，陰氣也。陰則有形有臭，故口臭治法，亦宜熱不宜涼。</p>

<h2>蟲疾印證</h2>
<p>又治一蟲症，諸醫盡用殺蟲藥治之不效。余初用六經中烏梅丸，治以殺蟲，亦不效，乃將地理印證之，如水中生蟲，火中不生蟲，凡物濕朽者生蟲，乾燥者不生蟲，因以附子理中湯加花椒（二錢炒汗去核）　胡椒（三錢）　紅糖調服，久服全愈，此亦一法。</p>

<h2>嘔</h2>
<p>同一嘔也，發熱仍惡寒而嘔者，屬太陽；寒熱往來而嘔者，屬少陽；不惡寒但惡熱而嘔者，屬陽明。當分三陽而治之。其無寒不熱之嘔，則專取諸中焦；其有渴甚而嘔者，必以飲水多之故；嘔甚而渴者，必以津液傷之故；先渴後嘔，先嘔後渴，病異而治不同。</p>

<h2>治不必顧忌</h2>
<p>按治法用藥有奇險駭俗者，只要見得病真，便可施用，不必顧忌。即如病有臨危，原屬有餘失於攻下所致，雖至幾微欲絕，猶當攻下取效。若久瀉久痢，至於滑脫不禁，則宜卻止而後調之，如國家以刑治好盜，以兵卻虜寇，不得已而用權，權不離經，非霸術也，王道也。乃有醫家謬稱王道，一味平補調停，此可施於不足，不可施於有餘，則邪氣得補而愈盛，是速其危也。（比年　醇邪病，原因肝陽內熾而醫家驟用攻下，致陽氣內郁不通，繼用滋陰之品，反致陰血凝澀而致陽氣更不得通暢矣，是以神火不能遊行於關節，則手足動履維艱，內風鼓動而臍腹脅肋跳動、頭暈、嘔吐、大便秘塞，甚至聲瘖嘶啞，穀食少進，精神氣血俱形羸頓，病亟矣，群醫束手之際，而予診用通調陽氣之藥，不十數劑，王之病自是漸有轉機矣。後因用鹿茸以通督脈之法。而我　皇太后以鹿茸性熱恐與病有礙，傳　旨停止。蓋自是而　醇邪亦便，不服他醫之藥矣。）又有遇危難症，如大黃、附子迥若霄壤，恐致殺人，而惟用中和之方，無大熱大寒救療而死，其殺人一也，故張隱菴謂「服平和湯而愈者，原不死之病；服平和湯而後成不救者，醫之罪也」。</p>

<h2>中風</h2>
<p>《傷寒論》中風，乃是傷寒中之一證，宋以後呼為傷風者是也。而《金匱》中風，乃《靈素》所謂偏枯。後世中風之稱仿於此。夫《傷寒論》、《金匱》原是一書，而同成仲祖之手，理宜無以一中風之名，互稱兩種之病，然《魏志》注引《曹瞞傳》云：「魏太祖陽敗面喎口，叔父怪而問其故，太祖曰：『卒中惡風』。叔父以告嵩。嵩驚愕，呼太祖，太祖口貌如故。嵩問曰：『叔父言汝中風已瘥乎？』太祖曰：『初不中風』」。魏武與仲景氏同漢末人，知當時有此語。又按後漢朱浮與彭寵書，伯通獨中風狂走，此以狂為中風。後世狂風、心風等之稱，蓋有所由，均之東漢，語所指遞殊，不可不知也。若夫後世紫白癜風、落架風、食迷風之類，風字竟不可窮詰焉。蓋風善行而數變，凡病變動移易不定者，以風呼之也耶。錄以徯識者。</p>

<h2>以心治心</h2>
<p>嘗讀養生書，每以一心療萬病，蓋謂心病則身病，七情俱忘，六窗俱閉（眼耳鼻舌心意）元氣渾淪，百脈皆暢，又何病焉。推之治一切心病藥所不及者，亦宜設法以心治心，弓影蛇杯，解鈴繫鈴，此固在慧心人與物推移，無法之法，可意會而不可言傳也。</p>

<h2>勞症不同</h2>
<p>古人所謂虛勞，皆純虛無陽之症，其脈極虛芤遲，故用桂枝及建中等湯，與近日之陰虛火旺，吐血咳嗽而脈數者正相反，誤治必斃。近日吐血咳嗽之病，乃是血症，有似虛勞其實非虛勞症也。</p>

<h2>《傷寒雜病論》論</h2>
<p>按仲祖自序言，作《傷寒雜病論》合十六卷，則傷寒、雜病未嘗分為兩書也，凡條中不貫傷寒者，即與雜病同義，如太陽之頭項強痛；陽明之胃實；少陽之口苦、咽乾、目眩；大陰之腹滿、吐利；少陰之欲寐；厥陰之消渴、氣上撞心等症，是六經之為病，不是六經之傷寒，乃六經分司諸病之提綱，非專為傷寒一症立法也。觀五經提綱，皆指內症，惟太陽提綱為寒邪傷表立，因太陽主表，其提綱為外感立法，故叔和將仲祖之合篇全屬傷寒，不知仲祖已自明其書不獨為傷寒設，所以太陽篇中先將諸病線索，逐條提清，比他經更詳也。其曰太陽病或已發熱、未發熱必惡寒、體痛、嘔逆，脈陰陽俱緊者，名曰傷寒，是傷寒另有提綱矣，此不特為太陽傷寒之提綱，即六經總綱。觀仲祖獨於太陽篇別其名曰傷寒、曰中風、曰中暑、曰溫病、曰濕痹，而他經不復分者，則一隅之中可以尋其一貫之理也。其他結胸、臟結、陽結、陰結、瘀熱發黃、熱入血室、譫語如狂等症，或因傷寒或非傷寒，紛壇雜沓之中，正可思傷寒雜病合編之旨矣。蓋傷寒之外，皆雜病，病不脫六經，故立六經而分司之，傷寒之中最多雜病，內外夾雜，虛實互呈，故將傷寒雜病而合參之，此握要法也，學者於傷寒書熟讀而詳玩之，可知其精妙矣。</p>

<h2>膀胱所藏之津液隨太陽之氣運行於膚表，猶司天之應泉下天氣之下連於水論</h2>
<p>經云「怯然少氣者，是水道不行，形氣消索也」。此言膀胱之津水隨太陽之氣運行於膚皮，潤澤於皮毛，如水道不行，則毛腠夭焦矣。《靈蘭秘典》論曰「膀胱者，州都之官，津液藏焉，氣化則能出矣」。謂膀胱所藏之津液，隨太陽〔氣〕化而出行於膚表，非溲溺也，故太陽氣有所阻，則水亦結於胸脅矣。至於小便通利，乃三焦之氣化，三焦主決瀆之官也。又《靈樞·口問篇》曰「液者所以灌濡空竅者也，故液竭則精不灌，則目無見，補天柱經挾頸。」此言膀胱之津液上濡空竅，若液竭於上，則目無所見，故補太陽經之天柱於挾頸間。由此推之，則太陽之應司天在泉，如天氣之下連於水義可知矣。</p>

<h2>太陽之氣苦天道之運行於地外而復出入於地中論</h2>
<p>《五運行大論》曰「天垂象，地成形，七曜緯虛，五行麗地。地者，所以載生成之形類也。虛者，所以列應天之精氣也。地為人之下，在太虛之中，大氣舉之也」。此言地居天之中，而天道運行於地之外，日隨天道環轉，故有晝夜之開闔晦明。又曰：天氣下降，氣流於地，地氣上升，氣騰於天，故燥勝則地干；暑勝則地熱；風勝則地動；濕勝則地泥；寒勝則地裂；火勝則地固，天氣主司天在泉，運行於五運之外，而復通於地之中，是以有寒暑往來，行生長收藏之令。夫五臟者，地之五行也，地之五行，化生人之五臟，三陰之氣，五臟之所生也，是以三陽在外，三陰在內。太陽之氣外行於三陽，內行於三陰。又《靈樞經》云：「太陽主外，太陰主內」。五臟三陰之氣，在太陰所主之地中。朱夫子曰「天之形雖包於地之外，而其氣常行於地之中」，其論是矣。</p>

<h2>太陽應天道而運行於三陰三陽之外論</h2>
<p>經云「太陽者，巨陽也」。為諸陽主氣，言陽氣咸歸於太陽也，故太陽應天道之居高衛外。夫陽因而上衛外者也，陽因而上者，天體居高而在上，衛外者，環繞於地之外，而太陽氣亦如之。《著至教》云：「三陽，天為業。」三陽者，太陽也，謂太陽之功業，猶天也，故五臟六腑之腧，皆歸於太陽。通體之內，太陽在膚表之第一層，六氣在皮腠之第二層，故《傷寒論》中有通體之太陽，有分部之太陽。通體之太陽，猶天；分部之太陽，猶日。所謂陽氣者，若天與日之義，又肺氣合太陽於皮毛，肺屬乾金而主天，心氣為陽中之太陽，心合君火而主日，則太陽天日之義益明矣。夫風寒暑濕燥火，天之陰陽也。三陰三陽上奉之太陽，主天之陰陽運行於六氣之外，六期環會，七日來復，是太陽之中有六氣也。</p>

<h2>論標本六氣之化由吾身陰陽之所感</h2>
<p>百病之生，總不出於六氣之化。如感風寒暑濕燥火而為病者，病天之六氣也。病在吾身而吾身中又有六氣之化，如中風，天之陽邪也，病吾身之肌表，則為發熱咳嗽；在筋骨則為痛痹拘攣；在腸胃則為下痢飧泄，或為燥結閉癃，或直中於內，則為霍亂嘔逆，或為厥冷陰寒，此表裡陰陽之氣化也。如或感吾身之陽熱，則為病熱；感吾身之陰寒，則為病寒；感吾身之水濕，則為痰喘；感吾身之燥氣，則為便難。如中於腑，則暴僕而卒不知人；中於臟，舌即難言而口唾涎沫。又如傷寒，天之陰邪也，或中於陰或中於陽，有中於陽而反病寒者，有中於陰而反病熱者，是吾身之陰中有陽，陽中有陰，標本陰陽之氣化也。如感吾身中之水濕，則為青龍〔湯〕、五苓〔散〕之症；如感吾身中之燥熱，又宜於白虎〔湯〕、承氣〔湯〕諸湯，此止受天之一邪，而吾身中有表裡、陰陽變化之不同也。又如夏月之病，有手足厥冷而成薑桂參附之症者，蓋夏月之陽氣盡發越於外而裡氣本虛，受天之風暑而反變為陰寒，皆吾身之氣化非暑月之有傷寒也。是以神巧之士，知標本之病生，則知有標本之氣化，知標本之氣化，則能用標本之治法矣，故知標與本用之不殆，明知順逆，正行無間，此之謂也。逆者，以寒治熱，以熱治寒；從者，以熱治熱，以寒治寒。如陰陽寒熱之中，又有病熱而反寒者，如厥深熱亦深之類是也；又有病寒而反熱者，如揭去衣被欲入水中，此孤陽外脫，急救以參附之症，粗工不知，言熱未已，寒病復始，「同氣異形，迷診亂經」，此之謂也。</p>

<h2>傷寒命名</h2>
<p>仲祖傷寒名書之旨，昔人謂六淫之氣；寒為首，太陽為寒水之經，十二經之首，寒傷太陽寒水之經，故名傷寒。按此而論仍未知傷寒名書之本旨也。余謂讀《傷寒論》當求其所以立法之意，所以命名之意，不審其論之何以名傷寒，則何怪人視傷寒書為治傷寒而立論也，而不知傷寒書為萬病統領而立論也。凡病之為風為寒為溫為熱為濕溫者，古皆謂之傷寒，乃人知風與寒為《傷寒論》中病，而於溫與熱，謂不可用《傷寒論》中方，其意若曰方既出於《傷寒論》，自是治寒方，必非治溫法，豈有治溫而用治寒方者，於是一遇溫熱病無不力闢傷寒方，更無人知溫熱之病本隸於《傷寒論》中，而溫熱之方，並不在《傷寒論》外者，仲景《傷寒論》自序云：「撰用《素問》九卷、《八十一難》」，則欲讀《傷寒論》必先於《素問》求之。《素問》曰「熱病者，皆傷寒之類也」。又曰「凡病傷寒而成溫者，先夏至日為病溫，後夏至日為病暑」。又《難經·五十八難》曰「傷寒有幾？」答曰「傷寒有五，有中風，有傷寒，有濕溫，有熱病，有溫病」。傷寒者病之總名也，下五者病之分證也。傷寒為綱，其目則五，一曰中風，二曰傷寒，三曰濕溫，四曰熱病，五曰溫病，明說傷寒有五種焉。病既來自傷寒，是當從病之來路上立論，論即從病之來路上命名，故仲景《傷寒論》之傷寒字，即《難經》傷寒有五之傷寒字，非二曰傷寒之傷寒字也，學者知命名之意，是傷寒書乃治雜病之統書也，非專治傷寒之一種書也，是為得矣。</p>

<h2>聖經賢論</h2>
<p>《本草》、《靈素》聖經也，《傷寒要略》賢論也。賢論猶儒者之之《四書》，聖經猶儒者之本經。奈千古以來，天下之醫只求方技以行術，不求經旨以論病，仲祖序云「不念思求經旨以演其所知，各承家技終始順舊，舉世昏迷莫能覺悟」者是也。夫《傷寒論》雖論傷寒，而經脈臟腑、陰陽交會之理，凡病皆然，故內科、外科、兒科、女科皆當讀傷寒書也。不明《四書》者，不可以為儒，不明《傷寒》者，不可以為醫，經云「非其人勿授」，論云「傳與賢人」，甚哉！人之不易得也。</p>

<h2>山中宰相</h2>
<p>按古稱醫士為山中宰相，謂能燮理陰陽，調和氣味，操生殺之柄耳。《記》云「醫不三代，不服其藥」，許學士曰「謂能讀三代之書」。予以為世代相傳，又能讀書好學，猶簪纓世胄士之子而恆為士也，若僅守遺方以為世傳，何異按圖索驥。夫大有四時之氣，地有五方之異，人之百病變幻多端，即如傷寒一症有三百九十七法，可膠執遺方能通變時疾乎！趙括徒讀父書，尚至喪師敗績，況無遺書可讀乎！守祖父之業而不好學者，可方草廬諸葛乎？伊川先生曰：「醫不讀書，縱成倉扁終為技術之流，非士君子也。」盧不遠先生曰：「當三複斯語」。</p>

<h2>論《醫宗必讀》</h2>
<p>明李士材先生聽著醫書數種內有《醫宗必讀》一書，固已膾炙人口矣，然余竊有議焉，夫必讀書，軒岐之書也，越入、仲景之書也，下此而《脈經》、《千金》、《外臺》以及近代諸名家書，雖不能盡讀或取其十之六七或取其十之三四，不可不讀矣。苟守長沙博聞強識之訓，以探本窮源，則是書又為淺醫畫限之書矣，改其名曰「不必讀」其庶幾乎？</p>

<h2>四大家辨</h2>
<p>李士材《讀四大家論》一篇，本自王節齋大意，謂三子補仲景之未備，而與仲景並峙也。然仲景醫中神聖，德備四時，三子則伯夷、伊尹、柳下惠而已，試觀《玉函金匱》方中黃芩、白虎已開河間之先也；建中、理中已開東垣之先；復脈、黃連阿膠已開丹溪之先也，然則謂三子得仲景之一德，而引伸條暢之則可，謂三子補仲景之未備，則未確也。</p>

<h2>張劉朱李</h2>
<p>仲景立方之主，醫中之聖，所著《傷寒》、《金匱》諸書，開啟屯蒙學者，當奉為金科玉律，後起諸賢不可相題並論，所謂四大家者，乃張子和、劉河間、李東垣、朱丹溪也，就四家而論，張劉兩家善攻善散，即邪去則正安之義，但用藥太峻，雖有獨到處亦未免有偏勝處，學者用其長而化其偏，斯為得之。李朱兩家一補陽一補陰，即正盛則邪退之義，各有灼見，卓然成家，無如後之學者，宗東垣則低河丹溪，入主出奴，膠執成見，為可嘆也。殊不知相反實以相成，前賢並非翻新立異，即發熱一證而論，仲景謂凡熱病者，皆傷寒之類也，故有桂枝、麻黃等湯，以治外感之發熱；丹溪則以苦寒治陰虛之發熱，各出手眼，補前人所未備，本隨症治症，未嘗混施，乃宗東垣者，雖遇陰虛發熱亦治以甘溫，參耆不已，甚而桂附；宗丹溪者，雖遇陰虛發熱亦治以苦寒，參麥不已，甚而知柏，此尚何異操刃乎？非東垣、丹溪誤人，不善學東垣、丹溪者自誤以誤人也。吾願世之學者，於各家之異處以求其同處，則辨證施治悉化成心，要歸一是矣。</p>

<h2>庸醫殺人</h2>
<p>人之死於病者少，死於藥者多。今行道之人，先學利口，以此殺人，即以此得名，是可慨也！</p>

<h2>汗吐下和四法</h2>
<p>汗吐下和乃治療之四法，經曰「在上者湧之，其高者因而越之」，故古人治病用吐法者最多。朱丹溪曰「吐中就有發散之義」，張子和曰「諸汗法古方多有之，惟以吐發汗者，世罕知之」。今人醫療惟用汗、下、和，而吐法絕置不用，可見時師之缺，特補湧吐之治方藥，雖簡而法不可廢也，若脈浮用四物湯、四君子湯引吐；又治小便不通亦用吐法，是又在用者之圓神矣。</p>

<h2>司天運氣不足憑</h2>
<p>張悼《傷寒兼證析義》云，諺曰「不讀五運六氣，檢遍方書何濟？」所以稍涉醫理者，動以司運為務，曷知《天元紀》等篇本非《素問》原文，王氏取《陰陽大論》補入經中，後世以為古聖格言，孰敢非之，其實無關於醫道也，況論中明言，時有常位而氣無必然，猶諄諄詳論者，不過窮究其理而已。縱使勝復有常而政分南北，四方有高下之殊，四序有非時之化，百步之內，晴雨不同，千里之外，寒暄各異，豈可以一定之法而測非常之變耶？</p>

<h2>治法雜記</h2>
<p>腰痛屬虛者固多，因而風寒、痰濕、氣阻、血凝者亦不少，一概蠻補必成痼疾，不可不審。</p>
<p>頭風有偏正之殊，其病皆在少陽、陽明之絡，以毫針刺痛處數穴立效。其外有瘡毒入頭，名楊梅頭痛，此乃外科之症，另有治法。</p>
<p>近人患心胃痛者甚多，十人之中必有二三，皆系痰飲留於心下，久成飲囊發作，輕重疏數，雖名不同而病因一轍，治法以滌飲降氣為主。凡病竟有時代之不同，如近三十年中，咳嗽吐血者十人而五，余少時此病絕少亦不可解也。</p>
<p>按泄瀉乃一時寒暖不調，水穀不化，或冒暑傷濕等症，當擇清淡消散之品一二劑即愈。若脾胃虛寒火衰等瀉，宜用理中固腎之方，隨症酌用可也。</p>
<p>噎膈有真假之殊，真膈病乃胃口枯槁之症，百無一治，書中論有格脈格症而其形象俱未詳載，必臨症多乃能識其真耳。</p>
<p>傷飲惡飲，此乃常理，若胸中有水則津液下流，反口乾思水但不能多飲耳。</p>
<p>按關格之症，《內經》、《傷寒論》所指不同，《內經》所云是不治之症；《傷寒論》所云則卒暴之疾，當於通便止嘔方法隨宜施治可也。</p>
<p>肺瘻全屬內症，肺癰乃系外科，輕者煎藥可愈，重者膿血已聚，必得清火、清毒、提膿、保肺等藥方能挽回，否則不治，所以《金匱》云，「始萌可救，膿成則死」也。</p>
<p>水腫之病，千頭萬緒，雖在形體而實內連臟腑，不但難愈，即愈最易復，病復即更難再愈，所以《內經》針水病之穴多至百外，而調養亦須百日，反不若膨脹之症一愈，可以不發。治此症者，非醫者能審定病症神而明之，病者〔非〕能隨時省察潛心調攝，鮮有獲全者。水為有形之物，故按之即起。膚脹為無形之氣，故按之不起。腸覃乃腸外惡氣所結，故月事仍下。石瘕乃胞中惡血所凝，故月事不行，各有定理也。至石水則在少腹之中，水結不散之症。若臌脹則非氣非水，臟腑皮肉俱堅腫，邪盛正衰，難為治矣。</p>
<p>熱入里則外惡寒，清裡熱則惡寒自解，然亦須詳審，有表無表，（指表症）方為精密，況屬汗出多之病，無不惡寒者，以其惡寒汗出而誤認寒，即用熱劑則立危矣。</p>
<p>今世痰飲之症十居三四，患之者無不胃疼嘔逆，乃普天下醫家無人能知之者，人立一說，治無一效，言之慨然。</p>
<p>諸病之中惟咳嗽之病因各殊而最難愈，治之稍誤即貽害無窮。余以此症考求十餘年而後稍能措手，故集中所載之方，至靈至驗，學者當潛心參究治之，自有得心應手之妙，勿輕視也。</p>
<p>《金匱》等書治疽病之方最多，然用之或效或不效，非若他症之每發必中者何也？蓋疸之重者有囊在腹中，包裹黃水，藥不能入，非決破其囊或提其黃水出淨，必不除根，此等病當求屢試屢效和平輕淡之單方治之，專恃古方竟有全然不應者。</p>

<h2>藥治雜記</h2>
<p>一藥之用，或取其氣，或取其味，或取其色，或取其形，或取其質，或取其性，或取其所生之時，或取其所成之地，各以其所偏勝而即資之療疾，故能補偏救弊，調和臟腑，深求其理，可自得之。</p>
<p>一病各有所因，治病者必審其因而治之，所謂求其本也，如同一寒熱也，有外感之寒熱，有內傷之寒熱，有雜病之寒熱，其治法只有不同，時醫見《本草》有治寒熱之語，遂以治凡病之寒熱，非惟不效，而且有害。自宋以來往往蹈此病，皆《本草》不講之故耳。</p>
<p>《內經》云「五臟六腑之精，皆上注於目」，故目雖屬肝之竅，而白乃肺之精也。五行之中，火能舒光照物而不能鑑物，惟金之明乃能鑑物。時醫每治人之目疾，火以苦寒，虛以滋陰，而不知火能燭物金能鑑物之理，故所治多不效也。</p>
<p>凡物之生於天地間，氣性何如，則入於人身其奏效亦如之。蓋人者，得天地之和氣以生，其氣血之性肖乎天地，故以物性之偏者，投之而亦無不應者，余可類推。</p>
<p>五味各有所屬，甘味屬土，然土實無味也，故《洪範》論五行之味，潤下作咸，炎上作苦，曲直作酸，從革作辛，皆即其物言之，惟於土則曰稼穡作甘，不指土而指土之所生者，可知土本無味也，無味即為淡，淡者，五味之所從出，即土之正味也，故味之淡者皆屬土。</p>
<p>凡藥之質輕而氣盛者，皆屬風藥，以風即天地之氣也，但風之中人各有經絡，而藥之受氣於天地亦各有專能，故所治各不同，於形質氣味細察而詳分之，必有一定之理也。</p>
<p>人身有氣中之陽，有血中之陽。氣中之陽走而不守，血中之陽守而不走。凡藥之氣勝者，往往補氣中之陽；質勝者，往往補血中之陽，如附子暖血，肉桂暖氣，一定之理也。然氣之陽勝，則能動血；血之陽勝，則能益氣，又相因之理也。桂氣分藥也，而其驗則見於血，其義不曉然乎！</p>
<p>人之生理謂之仁，仁藏於心；物之生機在於實，故實亦謂之仁。凡草木之仁，皆能養心，以類相應也。</p>
<p>凡人邪氣鬱結，津液不行則為痰為飲，痰濃稠為火之所結，飲清稀為水之所停，故治痰則咸以降之，治飲則淡以利之。若投以重劑，反拒而不相人，醫者不可以不知也。</p>
<p>人身五行，金衰則為火所侮，有餘之火不能歸藏其宅，必犯肺與大腸，得清肅之氣以助之，則火不能傷而自歸其宅，不治火而火自退，從此本之治，醫之良法也。</p>
<p>血在經絡之中，流行不息，故凡用行血補血之藥入湯劑者為多，入丸散者絕少，故古人治病，不但方不能苟，即法亦不可易也。</p>

<h2>地黃飲子</h2>
<p>按中風有真中、類中之分，此治少陰氣厥之方，所謂類中風也，故全屬補腎之藥，庸醫不察，竟以之治一切中風之症，輕則永無愈期，甚則益其病而致死，醫家病家不悟，殊堪憫側！</p>

<h2>小續命湯</h2>
<p>按續命〔湯〕為中風之主方，因症加減，變化由人，而總不能捨此以立法，後人不知此義，人自為說，流弊無窮，而中風一症遂十不愈一矣。</p>

<h2>半夏附子</h2>
<p>時醫以半夏、附子墜胎不用，乾薑亦疑其熱而罕用之。而不知附子補命門之火以舉胎，半夏和胃氣以安胎，乾薑暖土臟使胎易長，俗子不知。</p>

<h2>生化湯</h2>
<p>時醫相傳生化湯加減，治產後百病，若非由於停瘀而誤用之，則外邪反入於血室，中氣反因以受傷，危症蜂起矣，可不慎乎？</p>

<h2>補中益氣湯</h2>
<p>按東垣之方，一概以升提中氣為主，如果中氣下陷者最為合度，若氣高而喘則非升柴所宜，學者不可誤用也。</p>

<h2>歸脾湯</h2>
<p>按補脾有二法，一補心以生脾血，一補腎以壯脾氣，此方乃心脾同治之法，補後天以生血，即所以調經。</p>

<h2>煎藥法則</h2>
<p>湯劑每一兩，用水二甌為準，多則加少則減之，如劑多水少，則藥味不出，劑少水多又煎耗藥力也。凡煎藥並忌銅鐵器，宜用銀器或瓦罐、砂鍋，洗淨封固，令小心看守，腦識火候不可太過不及，火用木炭為佳。其水須新汲味甘者，流水、井水、沸湯等各宜。方若發汗藥，必用緊火，熱服；攻下藥亦用緊火煎熟，下硝黃（指芒硝、大黃）再煎，溫服；補中藥宜慢火，溫服；陰寒急病亦宜緊火急煎服之；又有陰寒煩躁及暑月伏陰在內者，宜水中浸冷服。</p>

<h2>內經治法</h2>
<p>按《內經》治病之法，針灸為本而佐之以貶石、熨浴、引導、按摩、酒醴等法，病各有宜，缺一不可，蓋服藥之功入腸胃而氣四達，未嘗不能行於臟腑經絡，若邪在筋骨肌肉之中，則屬有形，藥之氣味不能奏功也，故必用針灸等法，即從病之所在，調其血氣逐其風寒，為實而可據也。況即以服論，止用湯劑亦不能盡病，蓋湯者，蕩也，其行速，其質輕，其力易過而不留，惟病在營衛腸胃者，其效更速，其餘諸病有宜丸宜散宜膏者，必醫者預備，以待一時急用，視其病之所在而委曲施治，則病無遁形，故天下無難治之病，而所投輒有神效，扁鵲、倉公所謂禁方者是也。若今之醫，只以一煎方為治，惟病後調理則用滋補丸散，盡廢聖人之良法，即使用藥不誤。而與病不相入，則終難取效，故扁鵲云「人之所患，患病多；醫之所患，患道少」。近日病變愈多而醫之之道愈少，此痼疾之所以日多也！</p>

<h2>寒嗽用小青龍</h2>
<p>柯韻伯治咳嗽，不論冬夏，不拘淺深，但是寒嗽，俱用小青龍湯多效，方中驅風散寒、解肌逐水、利肺暖腎、除痰定喘、攘外安內各盡其妙，蓋以肺家有沉寒痼冷，非麻黃大將不能搗其巢穴，群藥安能奏效也？予按水飲風寒不外乎小青龍，而春秋溫燥咳嗽，當以辛涼清解之法，如桑皮、象貝、花粉、連翹、麥冬、沙參、橘紅之類以治之，不可輕用辛溫，是所當知也。</p>

<h2>《金匱》用小青龍</h2>
<p>又《金匱》治痰飲咳嗽不外小青龍湯加減，方中諸味皆可去，惟細辛、乾薑、五味不可輕去，即面熱如醉加大黃以清胃熱及石膏、杏仁之類，總不去此三味，學者可不深思其故也。（徐忠可《金匱辯注》有論。）</p>

<h2>醫學入門</h2>
<p>人之百病，不外三因，一者外因於天，風寒暑濕〔燥火〕之六淫是也；二者內因於人，喜怒憂〔思悲〕恐〔驚〕之七情及飲食、房勞是也；不內外因者，金刃、跌撲、蟲獸、答杖之所傷是也。按傷寒外因也，而傷寒經旨風寒暑濕之六氣，咸所俱載矣，其間分析表裡、陰陽、寒熱、氣血、邪正、虛實，靡不備悉，明乎傷寒之道，干般病難，不出於範圍焉，故醫學入門當從傷寒始，先難其所難而後易其所易，若不明於傷寒之理，治療總能有功，亦未可以醫名也。</p>

<h2>脈理窮源</h2>
<p>醫理本屬無窮，脈學真實難曉，必須潛心參悟，始可以有豁然貫通之妙，余自棄儒就醫，十數年於茲，研究諸書，並無一字之師，惟於脈尤得《素靈》、仲景不傳之秘，余之拙集僅就管見所及而言及數條，非全豹也，讀者不可以因此而便棄置諸脈〔書〕於不覽也。</p>
<p>按脈理源流，已詳《靈素》、《難經》之內，仲景著六經證治，理法精詳，實可統治萬病，似可不必再論矣，而中有脈症互舉闡發《內經》未發之義者，惟在學者能讀《內經》、仲景書神而明之，即可知脈之綱領矣，今特拈出緩脈一條，以統全身脈症診治之法，由此而入手，則庶乎可以得脈之巧也。舊訣以緩為極平脈，餘二十六部為病脈，定清緩脈，便可定諸病脈，精熟緩脈，即可以知諸病脈，脈之有緩，猶權度之有定平星也。</p>
<p>附緩脈七言律於左（按緩，和緩也。張太素曰「應指和緩，往來甚勻」。楊元操曰「如春初楊柳舞風之象」。</p>
<p>四時調和百脈通，渾涵元氣此身中，消融宿疾千般苦，保合先天一點紅。露顆圓勻宜夜月，柳條搖曳趁春風。欲求極好為權度，緩字醫家第一功。</p>
<p>按不浮不沉恰在中取，不遲不數正好四至，欣欣然，悠悠然，洋洋然，從容柔順，圓淨分明，微於緩者即為微，細於緩者即為細，虛實長短，弦弱滑澀無不皆然，至於芤革緊散濡牢洪伏促結動代，以緩為權度，尤其顯而易見者也。</p>

<h2>候脈</h2>
<p>古以動數候脈是吃緊語，須候五十動乃知五臟缺失，今人指到腕骨即云見了，夫五十動豈彈指間事耶，故學者當診脈問症，聽聲觀色，斯備四診而無失。</p>

<h2>內經論獨</h2>
<p>《內經》論脈，有獨小者病，獨大者病，獨疾者病，獨遲者病，獨熱者病，獨寒者病，獨陷下者病。</p>
<p>按九候之中，有獨見之脈，而與他部不同，即按其部而知止病之所在也，七者之中，既言獨疾則主熱；既言獨遲則主寒；而又言獨寒獨熱者何也？必干陰部得沉微遲澀之脈，故又言獨寒也；必於陽部得洪實滑數之脈，敵又曰獨熱也。陷下者，沉浮而不起者也。</p>

<h2>微妙在脈不可不寨（《素問》語）</h2>
<p>凡虛實之變遷，寒熱之消長，表裡之進退，陰陽之勝復，氣機一動無不形之於脈，而太陰行氣於三陰，陽明行氣於三陽（《素問》語。）臟病則取之於寸口（寸口手太陰之脈在手大指魚際之下。）腑病則取之於衝陽（衝陽足陽明之脈在足次指陷谷之上。）寸口在手，衝陽在足，手足之動，脈氣原於經絡，而神通於臟腑，故精幹脈者，不飲上池之水，而操隔垣之明仲景脈法，大含元氣，纖入無倫，文字隱深，義理奧衍，較之六經病證更為難解，所謂微妙而元通也。《呂覽》有言，「精而熟之，神將告之」。非神將告之也，精而熟之也，精熟仲景脈法，遊心於虛靜之字，動指於沖漠之庭，以此測病，亦不啻鬼謀而神告也。</p>
<p>脈氣流行應乎漏刻，呼吸有數，動靜無差，是為平脈，一有病作，而浮沉遲數，大小滑澀諸變生焉，乖常失度，偏而不和，始於毫釐之參差，成於度量之懸隔。仲景《脈法》，自微而著，由始及終，精粗悉具，洪纖畢陳，可謂法全而意備矣，而其變化紛壇，絕態殊狀，總不出此一章中，蓋下窮其委而此約其要也。</p>

<h2>脈有宜忌</h2>
<p>凡病內虛者，脈弱為宜，洪大則病；外感者，陽脈為宜，陰脈則忌。</p>
<p>有神者吉，和緩者吉，合於時令者吉，與面上五色中見那一色相生者吉，反是者凶，只此數語可遵，其餘皆不經之言，不可信也。</p>

<h2>脈貴有神</h2>
<p>按無病之脈，不求神而神，在緩即為有神也，方書以有力訓之，豈知有力未必遂為有神，而有神正不定在有力，精熟緩字，自知所別裁。</p>

<h2>微細</h2>
<p>叔和釋脈云：「細極謂之微」，夫不知微者薄也，屬陽氣虛；細者小也，屬陰血虛也。薄者未必小，小者未必薄也。蓋營行脈中，陰血虛，則實其中者少，脈故小；衛行脈外，陽氣虛，則約守外者怯，故薄。況前人用微字多取薄字意，試問「微云淡河漢」，薄乎細乎？故《傷寒論》少陰論中脈微欲絕，用通脈四逆主治，回陽之劑也，厥陰脈細，欲用當歸四逆主治，補血之劑也。兩脈陰陽各異，豈堪混釋。</p>

<h2>有胃氣者生</h2>
<p>按四時之脈和緩為宗，緩即為有胃氣也。萬物皆生於土，久病六脈中稍帶一緩字，是為有胃氣，其生可預卜耳。</p>

<h2>診脈</h2>
<p>切診之道貴於精誠，嫌其擾亂，故必虛心而無他想，身靜而不言動，復後可以察脈之微而不失病情也，若躁動不安，瞻視不定，輕言談笑，亂說是非，不惟不能得脈中之巧，適足為傍觀者鄙且笑也。</p>

<h2>督脈起於少腹</h2>
<p>楊玄操注《二十八難》：「督之為言都也，是人陽脈之督綱」。李時珍云：「督脈起於會陰，循背而行於身之後，為陽脈之總督，故曰陽脈之海」。張隱菴云：「少腹，小腹也」。余按《莊子·養生主》「緣督以為經」。《釋艾》李頤云：「督，中也」。朱子云：「督，舊以為中。蓋人身有督脈循脊之中，貫徹上下，又上至顛下至尾閭，人之陽氣虛則頭目不清，大便秘澀。（見醫書。）再，衣背當中之縫亦謂之督。見《深衣》注，皆中意也」。考督，又作𧝴、裻。劉熙《釋名》曰：「自臍以下曰水腹，水溝所聚也」，又曰：「少腹，少，小也，比於臍上為小也」。《太平御覽》云「腹下傍曰少腹」。《御覽》之說非也。</p>

<h2>詹王論脈</h2>
<p>詹東圖《明辨類函》云「醫者之審病，曰望，曰聞，以及曰問，曰切，蓋以切脈驗之望問也。先審之有形聲，以終審之無形聲，內外本末具知之矣。脈之有浮沉弦數固矣，然浮沉弦數之中，其端各又至煩，苟非問以證，聞以證望，原始要終，以求其是，既參又伍，以求其當，脈之所指冥冥，雖求必失之矣。古人置切脈於望問之終，非謂其症斷盡於脈耶，而脈之不可無望聞問審矣。又云「切脈而斷之不差者，所恃先有望也，聞也，問也」。予謂問尤急焉，欲得其身之所疾病與疾之所自始，詳在問也。今之醫者，自負其明，故不問而切脈，一以脈斷，即病者欲以其故告，訑訑（音yí，讀夷。意為自滿的樣子。）然曰我切得之矣，無煩言也。如斯而得，一當且為不免為幸中，萬一失之，如病者何？故醫而自恃，不求細詳，最為大病，人命死生在茲，可以輕試而漫投也！王兆云《湖海搜奇》亦云：「脈理吾惑焉」。蓋自太史公作《史記》已言扁鵲飲上池水三十日，能隔垣視見人五臟，特以診脈為名，則其意固可知矣。今以兩指按人之三部，遂定其為某腑某臟之受病，分晰七表八里九道，毫毛無爽，此不但世少其人，雖古亦難也，世不過彼此相欺耳，二氏之論宜為診家之正眼矣。</p>

<h2>畏惡反辨</h2>
<p>藥之相須、相使、相惡、相反，出北齊徐之才《藥對》，非上古之論也。聿考《傷寒》、《金匱》、《千金》諸方，相畏、相反者多並用，有云相畏者如將之畏帥，勇往直前，不敢退卻；相反者彼此相忌，能各立其功。圓機之士又何必膠執於世襲之固陋乎？</p>

<h2>李士材意治</h2>
<p>李中梓字士材，有文名，並精醫理，名重一時，金壇王肯堂字泰亦精岐黃術，年八十患脾泄，群醫咸以年高體衰輒投滋補，病愈劇，乃延李診視，診畢語王曰：「公體肥多痰，愈補則愈滯，當用迅利藥盪滌之，能勿疑乎？」王曰：「當世知醫，惟我二人，君定方，我服藥，又何疑？」遂用巴豆霜，下痰涎數升，痰頓愈。魯藩某病寒，時方盛暑，寢門重閉，床施氈帷，貂被三重而猶呼冷，李往診之曰：「此伏熱也。古有冷水灌頂法，今姑變通用之。」乃以石膏三斤，濃煎作三次服，一服去貂被，再服去貂帳，服三次而盡去外圍，體蒸蒸流汗，遂呼進粥，病若失矣。其醫之神效類如此。特素自矜貴，非富貴家不能致也。</p>

<h2>徐何辨症</h2>
<p>蘇城（今蘇州）徐秉楠，青浦（今屬上海）何書田，皆精軒岐術，名噪一時，時金閶劉氏饒於財而僅有一子，春患傷寒，勢已危，群醫束手，遂以重金延二人，徐至診視久之曰：「傷寒為百病長，死生繫於數日之內，苟識病不真，用藥不當，則變異立見。古有七日不服藥之說，非謂傷寒不可服藥，謂藥不可輕試也。若見之未審，寧不用藥，豈可妄投以速其殆？故醫者必先辨六經之形症，切其脈理，察其病情，究其病之所在而後施治，如太陽、陽明表症也，宜汗之；少陽則半表半裡，宜和解之；太陰邪入於裡，少陰入里尤深，均宜下之；若手足厥冷、自汗亡陽者，又宜溫之；至厥陰病，則寒邪固結，非投大熱之劑不能除，此等症勢雖危，但能對病，用藥始終無誤，不難治也。今診少君之症為兩感傷寒，兩感者，如太陽受之，即與少陰俱病，以一臟一腑同受其邪，表症里症一齊舉發，兩邪相迫，陰陽皆病，救表則里益熾，救里則表益急，譬之外寇方張而生內亂，未有不覆其國者，察其形症，變在旦夕，雖和緩（上古醫者）復生能措手乎？」言未已，閽人（守門者）報何先生至。徐退入夾室。何入診之曰：「冬傷於寒而春病溫，蓋寒必從熱化，今身反不熱而脈形潛伏，此熱邪深陷，勢將內閉矣。頃按脈時，曾於沉伏中求之，左右尺寸得弦，右則微緩，見症耳聾脅痛，寒熱若有若無，兼之中滿囊縮，時或身冷如冰。夫脈弦而耳聾脅痛者，病在少陽，蓋脈循於脅絡於耳也；中滿囊縮，右脈微緩者，病在厥陰，蓋脈循陰器而絡於肝也；邪入陰分既深，故身冷如冰耳；辨其形症是少陽、厥陰俱病也。古人治少陽症，謂用承氣〔湯〕下之，反陷太陽之邪；麻黃汗之，更助裡熱之勢，故立大柴胡湯一方，解表攻裡，兩得其宜。今齒枯、舌短，陰液已竭，若投柴胡、承氣解表，峻下之劑，則更劫其陰，是速其殆也，若以厥陰論治，而進桂附等回陽之品，是抱薪救火耳。若以石膏、黃連、苦寒之藥，非惟不能撥動其邪，正助其冰擱之勢，然醫家必於絕處求生，方切脈時兩手雖奄奄欲絕，而陽明胃脈一線尚存，因思得一線之脈，即有一線之機，反復研求，惟有輕可去實一法，以輕清之品或可宣其肺氣，冀得津液來復，神志略清，可再圖別策，勉擬一方服之，於寅卯之交有微汗則可望生機，否則勢無及矣。」是時徐獨坐室中，使僕往探，索方觀之，乃大笑曰「是方能愈是病耶？果然，可將我招牌去，終身不談醫道矣」。言為何僕竊聞，達於主，何謂劉曰「聞徐先生亦在此，甚菩，今晚雖不及相見，明日立方必與共〔商〕，千萬為我留〔徐〕。何舟泊河沿，遂下宿。徐欲辭歸，劉苦留之。服藥後至四鼓（古之以鼓報時）果得汗，形色略安。天未明何至，復診喜形於色，曰：「尺脈已起，可望生矣。但必留徐先生，余為郎君療此病，徐若去，余亦去耳」。劉唯唯。徐悉病有轉機，無以自容，急欲辭歸。劉曰「何曾有言，先生去，彼必不留，兒命懸於先生，惟先生憐之，雖日費千金亦不吝」。徐聞，知前言之失，默然無語。何一日登岸數次，不數日病者已起坐進粥，乃謂劉曰：「今病已愈，我返掉（掉，舟之謂也。），徐先生已屈留多日，諒已欲歸。但前有招牌一說，或余便道往取，或彼自行送來，乞代一詢」。徐遂乞劉周旋，劉設席相勸，至為屈膝始得解。何歸，適侄某亦患傷寒病劇，舉家惶惶，何診之形症與劉似，曰易耳，遂以前法一劑，不應，再進而氣絕矣。何爽然曰：「今日始知死生在命，非藥之功，醫之能也」。因函致徐，自陳其事而請罪焉。由是閉門謝客，不言醫者數年。</p>

<h2>藥徵</h2>
<p>《書》曰：「若藥不瞑眩厥疾弗瘳。」《周官》曰「醫師掌醫之政令，聚毒藥以供醫事。」由是觀之·藥，毒也；而病，毒也。藥毒而攻病毒，所以瞑眩也。自後世道家之說混於疾醫，以藥為補氣養生之物，不知其為逐邪驅病之設也，可謂失其本矣。甚至諸家本草所說藥能，尤多謬妄不經，蓋藥性惟一也，其能亦惟一也。若如《本草》所云功能之多，誠有未敢盡信。余讀傷寒書而知一方有一方之妙用，一藥有一藥之功能，是以特就長沙方中核其功能擇錄數十種，以為徵信，俾學者於臨病用藥之際不致誤於《本草》句下也，可知經方中無一味虛設之藥，一藥中無許多泛治之能，暨旁治者，亦非藥之本性，讀傷寒方者，即知其梗概也。余也篤信好古，因用仲景之方而知其用藥之義，各有專能去取，其例甚嚴，並無絲毫假借之藥，誠上古之聖方也，亦真知藥之功能也，醫者取之以療疾，無有不愈者，但人不肯讀傷寒書，或讀之而不求甚解，是以不知經方之妙，藥性之能也，無怪世之醫者治療寡效，動多貽誤也，可慨也矣！（校者按：自石膏以下至牡蠣諸條，為日人吉益東洞《藥徵》已收者。）</p>
<p>石膏　主治煩渴也。旁治譫語煩躁身熱。</p>
<p>滑石　主治小便不利也。旁治渴也。</p>
<p>芒硝　主軟堅也，故能治心下痞堅，心下石鞕，小腹急結，結胸燥屎，大便鞕而旁治宿食腹滿，小腹腫痞等諸般難解之毒也。</p>
<p>甘草　主治急迫也，故治裡急急痛，攣急而旁治厥冷、燥躁、沖逆等諸般急迫之毒也。</p>
<p>人參　主治心下痞堅、痞鞕、支結也，旁治不食、嘔吐、喜唾、心痛、腹痛、煩悸。</p>
<p>桔梗　主治濁唾、腫膿也。旁治咽喉痛。</p>
<p>〔白〕術　主利水也，故能治小便自利、不利，旁治身煩疼、痰飲、失精、眩冒、下利、喜唾。桂枝附子去桂加朮湯證曰小便自利；桂枝去桂加苓朮湯證曰小便不利。</p>
<p>白頭翁　主治熱利下重也。</p>
<p>黃連　主治心中煩悸也。旁治心下痞、吐下、腹中痛。</p>
<p>黃芩　主治心下痞也。旁治胸脅滿、嘔吐下利也。</p>
<p>柴胡　主治胸脅苦滿也。旁治寒熱往來，腹中痛，脅下痞鞕。</p>
<p>貝母　主治胸膈鬱結痰飲也。</p>
<p>細辛　主治宿飲停水也，故治水氣在心下而咳滿，或上逆，或脅痛。</p>
<p>芍藥　主治結實而拘攣也。旁治腹痛、頭痛、身體不仁，疼痛腹滿，咳逆、下利、腫膿。</p>
<p>茵陳　主治發黃也。</p>
<p>麻黃　主治喘咳水氣也，旁治惡風、惡寒、無汗，身疼，骨節痛，一身黃腫。</p>
<p>地黃　主治血證及水病也。</p>
<p>葶藶　主治水病也。旁治肺癰結胸。</p>
<p>大黃　主通利結毒也，故能治胸滿、腹滿、腹痛及便閉、小便不利。旁治發黃、瘀血、腫膿。</p>
<p>大戟　主利水也。旁治掣痛、咳煩。</p>
<p>甘遂　主利水也。旁治掣痛、咳煩、短氣、小便難、心下滿。</p>
<p>當歸</p>
<p>芎藭　本草以當歸、芎藭治血，為產後要藥，〔為則〕按：仲景氏治血方中無此二藥者多，而治他證之方中亦有此二藥，如奔豚湯、當歸羊肉湯、酸棗仁湯是也，由是觀之不可概為治血之藥也。</p>
<p>牡丹皮　仲景之方中桂枝茯苓丸、八味丸、大黃牡丹皮湯，以上三方雖有牡丹皮而不以為主藥也，如此之類皆從其全方之主治而用之，如徵姑闕焉，以俟後之君子也。</p>
<p>附子　主逐水也，故能治惡寒，身體四肢及骨節疼痛或沉重或不仁或厥冷而旁治腹痛、失精、下利。</p>
<p>半夏　主治痰飲嘔吐也。旁治心痛逆滿、咽中痛、咳悸、腹中雷鳴。</p>
<p>芫花　主逐水也。旁治咳、掣痛。</p>
<p>五味子　主治咳而冒者也。</p>
<p>栝蔞實　主治胸痹也。旁治痰飲。</p>
<p>葛根　主治項背強也。旁治喘而汗出。</p>
<p>防己　主治水也。</p>
<p>香豉　主治心中懊憹也。旁治心中結痛及心中滿而煩也。</p>
<p>澤瀉　主治小便不利冒眩也。旁治渴。</p>
<p>薏苡仁　主治浮腫也。</p>
<p>薤白　主治心胸痛而喘息咳唾也。旁治背痛、心中痞。</p>
<p>乾薑　主治結滯水毒也，旁治嘔吐、咳、下利、厥冷、煩躁、腹痛、胸痛、腰痛。</p>
<p>杏仁　主治胸間停水也，故治喘咳而旁治短氣、結胸、心痛、形體浮腫。</p>
<p>大棗　主治攣引強急也。旁治咳嗽、奔豚、煩躁、身疼、脅痛、腹中痛。</p>
<p>橘皮　主治呃逆也。旁治胸痹停痰。</p>
<p>吳茱萸　主治嘔而胸滿也。</p>
<p>瓜蒂　主治胸中有毒欲吐而不吐也。</p>
<p>桂枝　主治沖逆也。旁治奔豚、頭痛發熱、惡風汗出、身痛。</p>
<p>厚朴　主治胸腹脹滿也。旁治腹痛。</p>
<p>枳實　主治結實之毒也。旁治胸滿、胸痹、腹滿、腹痛。</p>
<p>梔子　主治心煩也。旁治發黃。</p>
<p>酸棗仁　主治胸膈煩躁，不能眠也。</p>
<p>茯苓　主治悸及肉瞤筋惕也。旁治小便不利，頭眩煩躁。</p>
<p>豬苓　主治渴而小便不利也。</p>
<p>水蛭　主治血證也。</p>
<p>龍骨　主治臍下動也。旁治煩驚失精。</p>
<p>牡蠣　主治胸腹之動也。旁治驚狂煩躁。</p>
<p>赤石脂　主治水毒下利，故兼治便膿血。（校者按：自此赤石脂條以下至阿膠條為日本村井杶《藥徵續編》所載。）</p>
<p>栝蔞根　主治渴。</p>
<p>蜀漆　主治胸腹及臍下動劇者，故兼治驚狂、火逆、瘧疾。</p>
<p>生薑　主治嘔故兼治乾嘔、噫、噦、逆。</p>
<p>桃仁　主治瘀血、少腹滿痛，故兼治腸癰及婦人經水不利。</p>
<p>巴豆　主治心腹胸膈之毒，故兼治心腹卒痛脹滿、吐膿。</p>
<p>蜜　主治結毒急痛兼助諸藥之毒。</p>
<p>䗪蟲　主治乾血故兼治少腹滿痛及婦人經水不利。</p>
<p>虻蟲　主治瘀血、少腹鞕滿兼治發狂、瘀熱、喜忘及婦人經水不利。</p>
<p>阿膠　主治諸血證故兼治心煩不得眠者。</p>
<p>膠飴　其功有似甘草及蜜，故能緩諸急。（按以下二味為徐氏所增）</p>
<p>知母　主治煩熱。</p>
<p>以上六十三品，皆據經方中擇其性之功能而有徵者盡錄之，其餘一二方劑但使用之故，無所取其徵者如粳米之於白虎湯、附子粳米湯、竹葉石膏湯、麥門冬湯、桃花湯證也；小麥之於甘草小麥大棗湯證也；赤小豆之於瓜蒂散證也；膠飴之於大小建中湯二證也；雞子白之於苦酒湯證也；礬石之於礬石丸、消石礬石散、礬石湯三證也；土瓜根之於土瓜根散證也；干蘇葉之於半夏厚朴湯證也；瓜子瓜瓣之於大黃牡丹皮湯、葦莖湯二證也；皂莢之於皂莢丸、桂枝去芍藥加皂莢湯二證也；蜀椒之於大建中湯證也；秦皮之於白頭翁湯、柏皮白頭翁湯二證方也；山茱萸、薯蕷之於八味丸證也，是皆日用試效者也，然只在於成方妙用而已，不必在於取其一味之功用何如，故無所取其徵者，但粳米之於方也凡七首，此物之於民食也，其功最大，而其治病之功亦多，而本草不載者何哉？惟陶弘景《〔本草〕別錄》始載粳米治病之功曰益氣、止煩、止渴、止泄，不過此四功也。蓋仲景之用粳米也，白虎湯三方證曰大煩渴，或曰舌上乾燥而煩、欲飲水數升，或曰口燥渴，或曰渴欲飲水、口乾舌燥，或曰熱、骨節疼煩；竹葉石膏湯證曰逆欲吐；麥門冬湯證曰大逆上氣，大逆者上逆也，上逆則必煩渴，煩渴則舌上必乾燥，是粳米有止煩止渴之功也；桃花湯證曰下利，又曰下利不止；附子粳米湯又能治腹痛下利，是粳米有止泄之功也，故陶弘景嘗見此數方之證，以為粳米止煩、止渴、止泄也，益氣者是其家言（家言指道家），非疾醫之事矣。近世稱古方家者，以為民生常食之物，安能治此病毒〔乎〕！是未知粳米之功取徵於此七方也。夫粳米若作穀食，則實為氓民生命，若作藥物則又為治病大材，猶生薑、大棗作為菜果則足以養性，作藥物則大有力於治病毒也，雖然仲景之用粳米也，其主治有來可悉知者，惟存而不論亦可也。《時後方》有粳米一味治卒腹痛之方，又附子粳米湯之治腹中雷鳴切痛，桃花湯之治下利腹痛，由此觀之似亦偏取粳米之功矣，亦猶小麥之治急也，此外方藥俟他日再為考徵焉。</p>

<h2>醫藥箴言</h2>
<p>一、醫門之志，分為兩等，一曰活人，一曰獲利，此趨向之端也，可勿慎諸。</p>
<p>一、不悟長沙之旨，不讀劉李諸家之書而部書自足，偏尚可知，雖曰活人苦無活法，未博而約，一隅之見耳。</p>
<p>一、讀方書須不能多，必求其熟，熟則自然生巧，從未見巧從生手出者。</p>
<p>一、古人著書，心極天人，後人字字究心，才是體貼古人處，才是自己長進處。</p>
<p>一、有學識而無人知，我之運塞，彼之緣淺；無學識而有人知，眾之見短，醫之幸長。</p>
<p>一、病涉疑難，醫無真見，亟當卻之，勿誤其事，若強不知以為知，便是病人一副毒藥。</p>
<p>一、寒熱虛實在平日辨之有素，補瀉溫涼須臨症用之得宜，不辨而用，賊人多矣。</p>
<p>一、古方原足治病，然施之有愈有不愈者，非方之不善，乃病貌同而病因異也，故醫者要會認病，不可執方。</p>
<p>一、當用之藥不可失時，若曾看得分明而復猶豫不決，以致病日益進，藥且無及，是誰之咎歟？</p>
<p>一、病現敗象或因誤治致逆，設若再誤，是既入井而又下之以石，可不審之又審乎！</p>
<p>一、若治一病或致失手，雖病家容或不言，而自咎奚可輕貸？且必今後留神，深鑑前轍。若治病已極盡心，或病者變生叵測，而詆滴不免頻聞，固是在我無愧，莫溫人言。</p>
<p>一、有獨斷之明，膽大不為妄，大執一隅之見，心粗的是真粗，要於塞通通塞之中，勘出通通塞塞。心粗者鮮得其情，不教虛實實虛之候，誤施實實虛虛，膽大者貴嚴其法。</p>
<p>一、無卓識不可以為醫，失厚道曷足以濟世，卓識自然燭理，厚道則不沽名，二者兼之，便不愧軒岐子弟矣。掐佞見長者，卓識何在？僥倖為功者，厚道奚存？</p>
<p>一、轔轔車馬之醫，未必非裝腔作勢，寂寂蓬茆之士，或竟可濟困扶危，延醫者不以冷暖動情，患病者定應吉凶各別。</p>
<p>一、病者望醫如待仙佛，醫者救病如降甘霖，現在得度法也，醫家若肯早臨，病家必不見怪，嘗有句云「病者求醫似望仙，醫人切莫故遲延；不徒舉室愴惶甚，床簧呻吟最可憐」。</p>
<p>一、醫者治病不至誠，無以察病之根源，病家延醫不至誠，不能感醫之諄切，語云「誠無不格，良有以也」，醫者病者均熟思之。</p>
<p>一、信醫者當信於平日，勿信於暫時。平日之所信，我在清靜局邊，冷眼看得分明；暫時之所信，我落倥傯隊里，旁聽反滋疑惑。</p>
<p>一、憫疾苦而薦醫，若知醫不確，婆心不是仁心，信紕謬而服藥，徒以藥撞，緣執見並非燭見，病人禍福之機，未嘗不倚伏在此。</p>
<p>一、人有富貴貧賤，病無彼此親疏，醫當一例診之，不失心存普濟。嘗見重富貴而畏惠者，補恐不宜，攻防太峻，藥失用當之機，致成敗症。又輕貧賤而驕做者，朝來厭早，暮請嫌遲，懶應無錢之召，無意救人。斯二者豈獨交相有失，其如方寸（方寸：心也一良心）云何？佛經曰：「一切世界俱為平等」，可為醫家作如是觀。</p>
<p>一、富者病一年，裕一年的調理，勤一年的服伺；貧人病一日，損一日的工傭，添一日的債負，醫者但加意於有餘，不垂憐於不足，難言濟世，直是忍人。</p>
<p>一、富家之病輕而致重者，重在著忙中無主而妄劑雜投，初則藥不合病，繼則藥難治病，可不慨哉！貧家之病凶而轉吉者，吉在措力不能而平心以俟，既然病不亂醫，自然病不添病，洵有道也。</p>
<p>一、病深藥淺，力未能療，勿疑而中止；病淺藥深，反生他變，當法以治之，斟酌其間，豈草率從事者乎？</p>
<p>一、表散之藥，煎宜小熟；調和之藥，煎宜中熟；補益之藥，煎宜透熟：乃取其汁味與病相當耳，病家每不知此，是在醫者囑令如法也。</p>
<p>一、引經報使藥，引所由稱也。藥引用多，必紊亂乎君臣，藥引好奇、恐不恰乎宣導，既多又奇，使人隱僻難求，奔馳莫購，何曾有益病人，無非妄市能事，光明之士必不為之。</p>
<p>一、私闢單方及草頭方子服之，亦嘗愈病，但有不愈者，不惟不愈且益變，是乃見似為真，妄擬妄逞、輕信輕試之誤也。願有識者達而嘗之，則效否有理可評，授受無詭幻之設矣。</p>
<p>一、考正穴道以施針刺，軒岐奧妙，達者有幾？可托手於村婆市媼者多為客忤、驚痧，偶然奏效，遂致痞疳、瘛瘲，恆受其殃，明眼者當不被若輩模糊也。</p>
<p>一、天時盦郁，攪亂脾胃陰陽，證名霍亂，不得吐利者，飲以鹽湯引之作吐，亦因而越之之義也。每見證非霍亂輒飲鹽湯，吐則傷中，不吐則涎，胃且變膈中脹滿，投谷反悶等證，夫微水尚有此禁，況醫藥之大誤乎。</p>
<p>一、風熱幹人，亦微惡風寒，所謂几几者是也。病家誤以為寒重，從而加衣覆被，蓋大人變為燥渴，小兒變為驚忤，醫當指明習弊以開悟之，夫渴者熱也，驚者風也，熱極生風，理必然耳，何世習比比然乎！</p>
<p>一、病人久餓，身似潮熱，得食反吐而脈細微，執雲表未盡故發熱，表有滯故作吐，更從而表散消導之，使病枵腹告窮，不虛汗眩冒，則熱嘔益甚，非大誤乎，此際粥米救之，捷於藥劑。</p>
<p>一、糖性每熱，冰糖並不生津，勿因其名之美，使病者不時噙之，既燥舌又滋熱也。</p>
<p>一、食不爽口，以茶泡而導之亦細故也，久久如此，每令人噎且致作吐，干食全不下矣，故君子不可不防其微也。</p>
<p>一、治病委之醫家，養病卻在自己，養之不善，勿盡謂醫之不善也。人在病中，惟宜靜息，每怪問候者相率嗅鬧，使病人免力應答，得不損氣耗神乎？問候者均宜諒之。</p>

<h2>用藥分量法則（附慎用辛熱苦寒）</h2>
<p>古方自《靈素》至《千金》、《外臺》所集漢、晉、宋、齊諸名方，凡云一兩者，以今之七分六釐准之；凡云一升者，以今之六勺七抄（抄，古量名，十撮為一抄。《漢書·律曆志上》「量多少者不失圭撮」。按六十四黍為圭，四圭為撮。）准之，此說本諸《傷寒論注》，《吳醫匯講》亦備載之。蓋醫之用藥，求其中竅，不在多也，但撥之使轉，即行所無事矣。順者生，逆者死，不貴其藥之重而〔貴其〕效之速也，藥必有毒，非毒無以馭病，非節制無以馭毒，故藥之分量不可不慎也。余在京中見同道之有用大劑治病者，每閱其方中至熱之姜附亦不過四五錢，至寒之芩連亦不過三四錢，皆以北方之氣稟醇厚，雖用藥偏重尚不至有傷胃氣，近見嶺南之行道者，用姜附、吳萸等大辛熱之品，硝黃等大苦寒之物，每味用至七八錢，甚至兩許，未知何所本也。查辛熱最傷胃陰，苦寒最傷胃氣，雖嶺南為溫熱卑濕之地，溫藥涼藥在所不忌，然大寒大熱之症亦未見如此之甚也，病者遭此辣手，每至胃傷，不能下咽，何不幸之甚也。蓋人之稟賦不同，偏陰偏陽者在所常有，偏於陽不足者，以調陽氣之藥治之；偏於陰不足者，以滋陰氣之藥治之，其寒熱溫平隨所加減，自無偏勝之弊。若嶺南溫熱之區，人感濕熱之病者居多，縱有虛病而辛熱之劑亦當慎用，況病之虛由於濕熱傷氣者多，由於濕熱傷陰者尤多，治病不推其源，不按方土，不按節候，率爾操觚，是誠殺人之具也。醫家病家皆當知古之分量每兩即今之七分六釐，每升即今之六勺七抄，斟酌慎用是所厚望焉。</p>

<h1>卷三</h1>

<h2>外治須知</h2>
<p>六氣變化之病，千頭萬緒，不一而足，診治之法，不僅以一湯方盡之，亦當窮其變化而推治之，內治之法固不可不用，而外治之方亦頗能佐內治之不逮，《蘭臺軌範》云「有人專用丹溪摩腰方治形體之病，老人虛人極驗，或加入倭硫黃、人參、鹿茸、沉香、水安息或單用麻油黃蠟為丸如胡桃大，烘熱摩腰，俟腰熱紮好，一丸可用數次。若腹中病亦可摩，此見外治之法，古未嘗不行也。又王晉三云「喉氣急症，舍吹鼻通肺之外，治無別法」。陳修園於鶴膝風症云：「有雷火針，及陳芥子末蔥涕、薑汁調塗外治二法，不可不知」。此見外治之法，今亦重之，又《匯參》云「金沸草散原治傷寒痰嗽，或以熏舌脹，遂愈」。此見內治方可移為外治也。大凡上焦之病，以藥研細末鼻取嚏發散為第一捷法，不獨通關急救聞藥也。連嚏數十次則腠理自松，即解肌也。涕淚痰涎並出，胸中悶惡亦寬，即吐法也。蓋一嚏實兼汗吐二法，不必服蔥豉湯也。前賢治傷寒中風、傷風時疫、溫症（由肺逆傳尤宜取嚏。）喉風、赤眼，牙疼等症，皆有㗜藥，亦使病在上者從上出也，其方多以皂角、細辛為主，藜蘆、躑躅花為引，隨症加藥，如傷風熱，頭痛赤眼，喉腫牙痛者用羌活、防風、荊芥、川芎、白芷、薄荷、細辛、蔓荊子、躑躅花、雄黃、硼砂、青黛、黃連各一錢，生石膏、風化硝各二錢，鵝不食草二錢，殭蠶一錢五分，蟬蛻五分、皂角一兩研末，含水吹鼻，含水者，但取其氣上行，不令藥入喉也。毛養生治重傷風，單用鵝不食草一味研㗜，涕淚出即清爽，可與此方相證。王好古解利傷寒用藿香、藜蘆、躑躅花研末㗜鼻，此方可代霍香正氣散用，亦可合不換金正氣散用。如治冬月正傷寒頭痛者，以麻黃易藿香亦可。中風吐痰用皂角、藜蘆、明礬㗜鼻，或以人參、藜蘆並用，一取其相反為用，一取其攻補兼施也，虛人宜之，又斟酌活變之法也。</p>
<p>大頭瘟及時毒焮腫、喉痛，用延胡索一錢五分，川芎一錢，藜蘆五分、躑躅花二分五釐㗜鼻，嚏出膿血，痰涎為度。時感及濕溫等症用闢瘟散，蒼朮五錢，細辛三錢，大黃、貫仲、薑、厚朴、法半夏、川芎、藿香、羌活、柴胡、前胡、生甘草、防風、白芷、荊芥、獨活、枳殼、香附、薄荷、陳皮、神麯炒、石菖蒲、草蔻仁、香薷、廣木香、丁香、雄黃、桔梗各一錢，硃砂五分，皂角二兩，研末㗜鼻，曾有發熱頭痛、惡寒無汗並吐瀉者用此取嚏，而汗自出瀉亦止，是發散之中即兼升提，一法兩用，較服升藥尤速。</p>
<p>外症腸出不收及產婦子宮不收，取嚏即收，亦是此意。凡欲升者，均可以嚏法升之也。</p>
<p>又夏月治濕病者，以瓜蒂赤小豆含水㗜鼻，清肺金而水自下趨，胸中之水或吐或瀉而出。小便不通，探吐提氣而水自下，則知嚏法能上升亦能下降也。如不用㗜，可用濕紙包藥塞鼻，亦同古法。喉閉不能下藥者，每用窒鼻法，得嚏而喉自寬。</p>
<p>又治魚〔骨〕卡喉者，用大蒜窒鼻不令透氣，其骨自下。蓋其氣能達到也，故窒鼻亦能得效。虛人或參以吸法，如治血虛頭痛用熟地煎湯，置壺中吸其氣法。產婦有用四物煎湯令藥氣滿房吸受法。膈冷嗅附子，脾寒嗅肉桂，即以窒鼻為嗅，亦無不可，此代內服之一法也。吸與內服同，但不對即可去之，不至於留患耳。</p>
<p>上焦之病，尚有塗頂（頂為百會穴，此一穴與腿上三里穴，背後膏肓穴，腳底湧泉穴，百病皆治。）覆額（額屬天庭主百病，病人黑氣出天庭者凶，故急症多用生薑擦天庭治之。）罨眉心（眉心屬肺主咽喉，呂祖有一枝梅試法，小兒多治此。）點眼（眼主五臟，肝病尤宜治此。）塞耳（耳屬肝肺腎又鼻口相通，故鼻衄、齒衄、牙痛及瘧疾者每治耳。）擦項（項為太陽經風門〔穴〕、天柱〔穴〕所屬，風常從此入腦。又截衄有塗項方。）及肩。又有扎指（中指屬心，鼻衄分男左女右扎此。產婦鼻衄非此不救。瘧疾亦有扎指法。又大指外側一韭葉許名少商穴，治喉症用三稜計刺之即散。）握掌（掌亦屬心，心主汗，故握藥能發汗，治積聚及老人虛寒便秘。握藥又能下積。中風用萆麻仁半粒搗爛徐掌上，攤掌如紙薄，掌上置碗，以熱水衝入碗中，靜坐片時，亦能發汗。）敷手腕（大指二指手背微窩處為經渠穴，治牙痛久而不愈，用蒜泥敷之，過夜起一水泡，挑破愈，並治喉痹。）塗臂（黃疸有塗臂大肉方，又內關穴在腕上，積三個中指長即是曲澤穴，在臂膊彎上三寸是，瘧疾治此。又曲池穴即臂彎，為手三陰所匯之處，乃治手經要穴也。）之法膻中（即心口，為上焦諸病之所生也。凡病皆宜治此，其皮最薄易透或連下胃脘穴貼。）背心（前後心，相應病多從腧入（腧者，腧穴也）故有擦背法及心背兩面夾貼之法。）兩處，尤為上焦要穴，治病握總之處。太陽穴則頭痛者，所必治也。</p>
<p>中焦之病，以藥切粗末炒香，布包敷臍上為第一捷法，炒香則氣易透且鼻亦可兼嗅，如古方治風寒用蔥、薑、豉、鹽炒熱布包掩臍上。治霍亂用炒鹽包置臍上，以碗覆之，腹痛則止。治痢用平胃散炒熱敷臍上，冷則易之。治瘧用常山飲炒熱敷臍上，其發必輕，再發再敷數次必愈是也。此法無論何病，無論何方，皆照用。昔人治黃疽用百部根放臍上，酒和糯米飯蓋之，以口中有酒氣為度。又有用乾薑、白芥子敷臍者，以口中辣去之，則知由臍而入，無異於入口中，且藥可逐日變換也。又治傷寒食積、寒熱不調者，用一寒一熱之藥為餅置臍上，以熨斗盛炭火熨之或空中（指懸空一定距離）運之。治陰症者用炮薑、附子、肉桂、麝香、吳萸末〔之〕，綿裹放臍上，上蓋生薑片以蔥切成碗粗一大束紮好放姜上，熨斗熨之或鐵烙烙之蔥爛，再易，此是加一倍法，皆所以逼藥氣入肚也。治風痛者敷藥後，以桑枝燃火逼之。治乳癰者搗蔥敷乳上，以瓦罐盛炭火逼之汗出而愈，亦是此意。畏炭火者，用瓦罐盛熱湯或糠火熨之或手摩之，皆可治。熱症不用火，以冷水逼之。治寒熱交混者，冷熱互熨之，此在臨症制宜矣。至背後脾腧、胃腧有須兼治者，又有熏臍、蒸臍、填臍法太乙熏臍法，附子填臍法。及布包輪熨等法（如脾實者用枳殼、陳皮炒熨；脾虛者用糯米炒熨，能助脾運。陰寒症用吳英、蛇床子炒熨之類。）</p>
<p>下焦之病，以藥或研或炒或隨症而制，布包坐於身下為第一捷法，如水腫，搗蔥一斤坐身下，水從小便出。小便不通亦然。水瀉不止，艾一斤坐身下（並可敷腳心至膝蓋。）微火烘腳，瀉自止是也。一屬前陰，一屬後陰。凡有病宜從二便治者仿此。治疝者，用灶心土或淨砂炒過加川椒、小茴香末拌勻，隔褲坐之並用布袋盛藥夾囊下，又是二法。婦人癆症，有燒熱磚淋藥水布包墊氈片坐法，癆多屬肝腎之損，故治在下部，此又一法則，知下部之病，無不可坐。若內服藥不能達到或恐傷胃氣者或治下須無犯上中者，中上病宜釜底抽薪者，更以坐為優矣。又法臌腫及秘結有煎藥水傾桶中坐熏者，即用峻藥（如〔芒〕硝、〔大〕黃、〔甘〕遂、[黑白〕醜、輕粉之類。）亦不至大傷元氣。又治久痢人虛或血崩、脫肛者，不敢用升藥，用補中益氣［湯］煎湯坐熏。產婦陰脫用四物［湯〕煎湯加龍骨入麻油熏洗皆與坐法一例。或瀉或補任用古治。婦人本有坐藥，但以導為坐，不如坐身下者可用大劑，或有宜導者不妨兼用。蔣示吉云「治專人、虛人、產婦便秘用導最妥，此又代內服之一法也。再下焦之病，有摩腰（腰為腎府，《簡便方》用黃蠟、麻油為丸如胡桃大摩腰，俟腰熱扎之，並可摩腹中諸病。）暖腰法、兜肚法，又命門（火衰治此。）臍下（臍下三寸為下丹田即關元也，臍下二寸為氣海，一寸為陰交，皆肝腎要穴。古灸法治陰症，每於此回陽，如欲用玉桂引火歸元用破故紙納氣歸腎者，糝敷臍下最妙。）膝蓋、腿彎皆三陰所匯，故陰症及三陰瘧皆敷膝蓋。又治陽虛有蔽膝敷法，傷寒有熏腿彎法，喉症有刺委中穴法，治痧亦有之。又治魚禽獸骨卡喉者，用灰面四兩，冷水調敷膝蓋，一時之久其骨不知消歸何處。予按亦是引下法。但未解其用意，錄此以俟知者，如能推之，則用法無窮矣。腿肚即三里穴，在膝蓋下三寸外旁，屬陽明胃經，亦是下部要穴。而醫治肺病有白芥[子]貼腿肚引下法，腳跟與肺腎俱相通，治肺腎宜知此。腳趾與手指同灸穴甚多，亦有掐法、扎法宜參看。足心即湧泉穴，凡治下部肝腎之病皆宜貼足，又引熱下行，如衄血、吐血、水瀉、譁口痢、赤眼、牙痛、耳痛、喉風、口疳等症，又假陽症，皆宜用附子，吳萸、川烏等藥敷足心，或微火烘之，亦有貼大蒜片者，又有囊盛川椒踏者，浸熱湯者，亦有加牛膝[蚯〕蚓泥為導者。治孕婦熱症，保胎用涼藥敷臍下並井泥塗足心，云勝用罩胎飲治陽虛者，古有湧泉膏。又縮陽有擦足心之法。</p>
<p>此三法雖分上中下三焦，而凡上焦之症下治，下焦之症上治，中焦之症上下分治，或治中而上下相應，或三焦並[治〕，如治鼻衄者清肺熱並清胃熱與腎熱之類，乃子母相通之理也，余可類推，其法俱不出於此，凡古方之有效者，視症加減無不可為，只須辨症分明耳。</p>

<h2>與袁綺香談醫</h2>
<p>甲辰客檇李（古地名，今浙江省嘉興縣一帶）與西安袁綺香徵君寓齋較近，袁固知醫，好服藥餌，余初往訪，見方書藥碗狼藉几案，蓋其修合炮製咸所自為，嚐出一方示余曰「此亦出名人手，因其藥平易又少補益，故姑置之」。余曰「君知補字之義乎？凡物缺則補，譬冠服未損而欲補之使堅厚，則反為疵累矣。藥能利人亦能損人，若果察其陰陽，辨其氣味，偶舉一二用之通神，豈必以方奇品異為能哉」。晝長多暇，姑述一二經驗之症以醒睡魔，曩治繆理望司馬細君經阻年餘，腹形漸大，嘔不納穀，日僅以藕汁飲一二杯，已待斃矣，延余往診，見其弱不勝衣，喘不成語，按脈左三部細若遊絲而右關獨大，知病在厥陰而損及太陰，閱前醫立案或言氣聚或曰癥瘕，雜投以辛香燥散以至危殆，爰以甘緩之劑，一進而逆止，再進而食增，繼以育陰益氣，經月而脹滿悉除矣，是症初不過液枯氣結，木乘中土，惟攻伐過甚，陰液日涸，遂至肝陽莫制，陽明受困，夫陽土喜柔，甘能緩急，進甘緩者治肝，即所以救胃，此一舉兼備法也。</p>
<p>又癸丑寓鄉，有舵工子，夏患瘡瘍，醫投苦寒之品，至秋漸至浮腫，繼延幼科更進利導，腫勢日甚，病及半年，僅存一息，絕食已二日矣，其父上鎮市棺，將為待死計。或謂余知醫，遂踵門求治。余鑑其誠往視，腫勢已甚，面目幾不可辨，脈亦無從據按，因思病久必虛，且多服寒涼，脾土益衰而及於腎，腎水泛溢，三焦停滯，水滲皮膚，注於肌肉，水盈則氣促而欲脫，急進獨參湯以助肺氣，蓋肺主一身氣化，且有金水相生之義也。時逆氛未靖，鄉間無從覓參，乃以仙居術一兩，令濃煎徐服，盡一器，喉間痰聲覺漸退，於是疊進六君〔子湯〕重用參朮，甫半月而腫盡消。此二症皆以平淡取效，可見方不在奇，在用之得當耳。袁曰「君用法良善，未識業受何人？法宗何派？」余曰：「幼年病弱，悉屏經史子集，食飽睡余，惟以方書消遣，其時略能意會，迨侍疾椿庭，杜門不出者數年，因遂搜援群書，究心《靈素》，而於切脈、調劑之法亦漸貫通，此業之所由成也。嗣是偶有所得，輒筆以記之，名曰《侍親一得》，暇當就正也。」翌日袁過余齋，遂以書授，厥後屢以醫學問，余謂凡人受病，雖不離乎寒熱、虛實，然有虛中實、實中虛、寒化熱、熱化寒之異，臨症施治，必求其剋制之功與相生之義，使之並行不悸，乃為善耳，至調劑之法，不過藉氣味偏勝以圖之，如《內經》咸勝苦，苦勝辛之類。蓋醫者意也，方者法也，必讀古而不泥於古，採方而不囿於方，神明其意於法之中，研究其理於意之外，斯則化而裁之，存乎其人矣。袁極稱善。</p>

<h2>病案略陳</h2>
<p>經曰：「知犯何逆，以法治之」。不有法，何以治逆？不能知〔法〕，何以用法？難於法而更難於知也。能得知逆之法，自不難於治逆之法，徒有治逆之法，而不得知逆之法，則知為妄知，法乃妄法也。以妄知妄法，施之犯逆者，不但逆不可治，且治之而愈速，毋乃以活人之指作殺人之器乎！為此兢兢焉求其不妄知不妄法者。今就鄙見所及，略陳數案，不敢云以法治逆，遂能獲效也，實欲仰質高明，教其不及，以庶幾活人之指耳。</p>
<p>以常法治常病，常則不必言，以奇法治奇病，奇則難以言，故二者不錄，只錄其不離常法而微寓出奇之意者十有三案，質之無累牘之厭，推之又引類而申焉。</p>
<p>後述各案，但注姓而不註名，皆以某稱之者，蓋因年月未遠，若彰明較著未免德色於病家見嗔於同道，殊不便也。</p>
<p>李某初夏時，醉飽後入水捕魚，是夜發熱頭痛，四肢外逆內掣，腹中痛極，治以救表、溫中、利濕之劑兩帖，頗覺安妥，三日後忽變一證，仰臥如屍、耳聾、目直，呼之不應，口出痰涎，既然起舞，移時仍復僵臥，如是者一晝夜，診其脈，脈甚平和，惟兩尺細滑，及詢致病之由，無有知者，於此三處方而三廢之，蓋為不得病〔因〕也，良久其妻始云昨日伊自服藥，或者因此，因覓在擊藥渣視之，系地黃湯加薄桂也。余藉此著想，以二陳〔湯〕加細辛、豆豉投之，下咽未及一時，病者太息、兩目合睫，假寐一刻，周身微微出汗，醒則病霍然矣。余擬此證本感寒濕起，雖溫表、利濕得安，徐邪尚未盡撤，乘伊妄服六味引入腎陰，腎主骨，故仰臥如屍，陰則躁，故時起亂舞，腎不寧而子亦病，故目直耳聾；腎乃胃之關，腎有邪胃亦不利，故痰涎上吐；尺脈帶滑者，少陰伏邪之診也，是用二陳以通陰陽和胃豁痰加豆豉、細辛提劫腎邪，胃通邪出所以先太息而後汗解耳。此證雖非大逆，然不明顛末、不察錯妄，治法決不如是，倘再妄施，又不知如何變證也。</p>
<p>述此一案，為粗知藥性妄自調治者鑑，並見問之一道，醫家切勿模糊，強作能人，徒誤病證耳。</p>
<p>樂某初病時，其子因在藥肆，自投以羌活湯不效，既而某醫付以柴、葛、木通之劑，病愈劇，轉進桂附之藥，尤覺不安，至第五日延余診之，其脈澀滯，時築築然，身困倦似熱不熱，頭眩重似痛不痛，欲食而食不能多，欲臥而臥不得穩，舉步欲跌不要人扶，開口欲言微覺舌強，如狂如躁不盡狂燥，舌上布滿厚苔，中有一條黃色，似作渴狀，類似醉者。余擬此證當因太陽高表，膻中陽氣被郁，太陰近里脾經陰氣不宣，前進諸劑失於啟發，是以不效，因用淡豆豉以發太陽被郁之表，草蔻仁以奪太陰不宣之裡，半夏和其陰陽，厚朴寬其實滿，橘紅、桔梗開壅消痰，香附、菖蒲破竅散郁，茯苓則安神利濕，生薑以匡心去邪，囑投此劑應可奏功，申刻服之亥刻大汗，至次日寅卯而病已如失，不藥而起。</p>
<p>述此一案，雙見藥不執方，合宜而用，然配劑之間，又勿過涉奇詫品味，要恰情理，並見發汗溫中何必定須羌葛桂附而無活法乎。</p>
<p>李某病瘧月徐，甫愈數日，路遇風雨，夜即沉寐不語，某醫授以理中〔湯〕一服而效。明日某復診之云病已愈，只索調理而已，付藥二劑，只服其一，忽然腹脹如鼓，痛不可忍，小便滴瀝，大便如墜不解，是夜仍延某醫，某至診訖云無救矣。不藥而去。天明迫余往診，其脈關虛尺細而滑，詢其前用理中〔湯〕極當，何以服調理藥反致如此，因檢剩劑乃柴胡加木通與麥冬也。余擬此證瘧後營衛不固，中虛欠補，上中之陽不強，不能御邪，反致邪犯中下；覺寐不語者，太陰少陰之候也，某醫投以理中治法極當，乃轉手而付柴胡，伊以為先曾病瘧，自合和以小柴〔胡〕，陰已回陽，不妨清以通麥（指木通、麥冬），豈知理中所溫者溫在太少（指太陰、少陰），初則對證取效，而柴芩通麥不但於足少陽手太陰添一蛇足，且於未盡之陰寒，復引之而立起，凝其土以冰其流，故致有腹脹痛，大小便之異變也。余用五苓散重桂術而加升麻一帖，小便通、腹痛止、大便亦不墜脹矣。蓋以二苓、澤瀉行其水，白朮培土以勝之，肉桂溫經化氣併除柴芩通麥之寒，升麻則升其冷陷，提閘放水，水道通而寒氣除，中土健而濕自滲也。</p>
<p>述此一案，以見認病自有一定繩墨，不是妄自擬度之事，某醫前後臨證不但效否懸遠，抑且言語徑庭，轉手之間生死頓易，醫可漫言乎哉！</p>
<p>薛某食量兼人，疊傷酒食，患脾胃壅滯之疾，凡積樸楂曲萊菔檳榔消滯之藥，無不盡劑，且雜以發表疏氣〔之〕羌葛香砂等，更僕難數，半年有餘，藥益進病益進，臥不能起。余診之其脈洪數堅硬，身亢熱，舌焦黃而齒燥枯，驚悸妄言，呻吟作渴，按及胸膈，偏近左脅處痞鞕如盤，病家懇服補劑，以服消滯藥多而今則臥困若此，不得畏蔥也。余擬其脾胃本厚，脈氣不衰，從前之藥只可散其無形，安能奪其大聚，因用柴胡龍骨牡蠣湯加減出入十餘帖，日下穢糞積約一桶，痞鞕漸消，諸症悉可，後以和中之品調理告愈。</p>
<p>述此一案，以見病本可攻而攻之不當，以致病家疑畏，反欲用補，實實之禍，恆由於此，此處抉破，方是眼力，方是膽當。</p>
<p>李某貿於蘇州，感證就診於張醫，張醫案云濕熱阻滯，脾胃不調，所用之藥則茯苓、木瓜、陳皮、藿香而已，兩服未效，仍往就診，因其門如市，挨候維難，坐久忽然暈僕，殆濕熱氣蒸、久候腹飢所致，張醫聞外嘈嘈。急出診云證轉厥少（指厥陰、少陰）二經、大虛大寒，速宜八味丸矣。及扶歸服之，即刻驚狂譫妄。易某診之，藥則茯神、棗仁、黃連、綠豆皮連進兩帖，狂甚至欲投河，復延張醫來診，張云證列不治，趁速歸里，恐四日路程生不待矣。是日買舟即行，途中且阻風雨，七日方得抵家，幸而無故。余過診時，脈息弦滑，身熱咽乾，漱水不咽，小便赤澀，腹內微響，投以柴芩散，一服而身熱退半，次日舌苔蒼燥，脈近沉數，腹滿而作痛楚，因授大柴胡〔湯〕，溏穢黑糞解約盈斗，解後漸寧，調理即愈。</p>
<p>述此一案，見張醫初則識病，只惜用藥輕淺，不能奏效，繼則懾病勢，妄付八味〔丸〕，而某則徒知是熱，不辨何經，一味清火，豈知黃連、綠豆瀉非所瀉。及張再診，則計無所出，此則不以救逆為心而特以支吾為事矣，以致病者身纏疾苦，囊磐銀錢，家外愴惶，婦兒悲泣，醫者於此未必不有傷於陰駕也。</p>
<p>一婦胃氣痛，醫以薑桂香砂楂曲等治之，兩帖奏效。病者恐其復痛，再索訂方，醫者恃其前功，如方疊進，不料愈服愈痛，心膈如割，一晝夜昏絕十餘次，兩手亂抓，咬牙捽首。余診其脈散聚不一，知因香燥通劑胃氣反傷，而脾陰失媾故也，但益氣則胃燥反不和陰，若養陰則血藥復憂窒膈，非得潤而不濡、香而不燥者無以善其治也，因搗松子仁二兩飲以陰陽水服之，一劑痛止人安，不啻捷於影響，然後調和胃氣以得全可。</p>
<p>述此一案，以見徒據成效不知變成者，幾為大害，也並見松子奏效要有至理，非曰姑試，小小機關正可引人入勝也。</p>
<p>孫某患熱症，服於醫柴葛數帖，肌熱已解，屢索食而禁與焉，與致病者胃虛火僭，煩亂不寧，更進燈心、木通、銀花、澤瀉之劑，虛火被逼，忽然狂妄，驚忤漸至，裸體咆哮，越野登山，嚼吞瓦片、譫語不休，胡然天帝，診之六脈全無，但見目紅、舌紫，雖數人按捺，猶難伏也。余以大劑六味加麥冬、肉桂投之，頃時狂燥頓止，頃與之粥，粥後再進前服，次日全安。</p>
<p>述此一案，以見醫無遠見，即病之愈與否尚不能知，食可進而不進，中臟將槁，猶自妄投涼瀉致變非常，甚可怪也。</p>
<p>周宅幼女甫二齡患瘧不愈，醫曾以小柴胡〔湯〕重加首烏，服至三十塗劑，飲食不進，胸腹膨脹，左脅瘧塊益大而跳悸不止，醫辭不治。余診之授以六君〔子湯〕加肉桂、莪朮、木香、鱉甲，懼不肯服，謂莪朮過克，肉桂過溫也，勉令服之，藥竟而愈。及來春其女偶感風熱夾濕之症，幼科治以荊防清散之藥不效，更引水惡咽，下利溏黃。余過診見幼科之方不為無理，即照方付藥兩帖，但加赤苓錢許，澤瀉數分，一服即愈，越日周告余曰「小女兩次疾病，一重一輕，兩醫皆不能效，先生治瘧之方與小柴〔胡湯〕懸隔，宜其三服而愈，何以昨治風熱不另立方，只加苓澤而愈乎。」余曰：「令愛證感風熱，幼科之藥已對證矣，因遺卻利濕，是以未效，不見惡水、利溏非濕病乎，加苓澤者，正使濕有去路耳。」周憮然曰「不意藥味之別，效否大異有如是者，醫之為義不亦微乎！」</p>
<p>述此一案，以明藥過劑而疾以益增，見未到而病有遺治之誤，認病者貴眼力清而心思細也。</p>
<p>舒宅婦熱症燒渴八晝夜，未進粒米，及更衣（指大便）後熱退身涼，猶不與食，越一日身熱汗出、手顫頭搖，與粥反嘔，某醫不悟，反付以秦艽、川斷、萆薢、當歸、川芎、神麯等藥，服之即吐，更覺沉重，奄奄而已。余至診之，知胃氣大乏，急宜谷保。夫云：「聞谷則嘔，不下奈何？」余令置粥數杯，坐視徐徐挑灌，嘔出旋又灌之，灌至第五杯後，始咽不吐，頃即沉沉睡息，舉家愕然，無不涕泣，良〔久〕連聲噫氣，呼親而醒，因問還食粥否？點首應之，與之兩盞，依然就睡，是夜醒即與粥，來日不藥諸症霍然。」</p>
<p>述此一案，非以示奇，乃見生死關頭，不須藥力，卻在與食不與食矣，若不坐視挑灌，但以聞谷則嘔而中止之，安能五杯方授，有來日之霍然乎？</p>
<p>費母感冒，頭痛寒熱，適程醫輿從過門，因有親誼，邀入診之，但云風夾食，必須靜餓，劑則從小柴胡也，及服劑徹夜不安，胸脅滿悶，明日仍用小柴胡加蔞霜二錢，服之漸漸沉困。至三日程不能主，更邀馬姓商酌，馬雲小柴〔胡〕極妥，只蔞霜輕耳，因加倍投之，第四日便不言語，馬程同至愕然，又薦汪姓來診，汪用二陳楂樸蔞霜五錢，迭相稱讚，以為所見皆同，即令守服三帖，第七日病者抓心摜首，聲息全無，乃馳字來京並寄各醫藥方。余度其情，知被各醫所困，因囑來人迅速回報，試以薄粥灌之，如可下咽或有生機，勿以藥為務也。來晨余親赴病家時，三醫適才診訖，余詢病象如何？同曰無救，伊等勉酌藥劑，所用厚朴、霍香、陳皮、枳殼，劑重三錢五分，外用黃耆幾片，石斛數咀，此則無可如何強作支吾意也。三醫去後，余入診之，脈已無有，但見兩目如熏，舌黑似漆，喊叫不聞，按胸畏痛，二便不通，周身烙熱，灌以清粥，受一二匙，因急以附子理中〔湯〕枳實、茯苓大劑投之，一晝夜灌竟四帖，按覺六脈稍出如絲，第十日夜半時，腹內聲響，頃即大解黑穢，始聲息出有醒意也，繼以調理湯藥斟酌進之，半月乃愈。</p>
<p>述此一案，見病本太陽而遽用柴胡，證未結胸即妄投蔞實（仁），逆而又逆，強病就我，不至禍人不止，何如勿藥之為中醫也。</p>
<p>孫宅婦患虛損，診至二十餘處，服藥三百餘劑，病日益甚。余診之六脈洪大而虛，溢出魚孫，大肉枯極，發落皮皺，氣促咳痰，骨蒸汗熱，晌午則兩顴遊紅，杯粥亦不能下，加以抽掣便溏，臥床側席彌一月矣，病者告余曰：「病至此已自分必死，但是從前錯誤追悔已遲，為今之計尚可回生於萬一否？」余曰：「爾既自知，無庸贅說，但能息心靜慮，勿令藥劑亂投，或者轉禍為福，亦未可知，乃以炙甘草湯限服十劑，清寧膏晚服五匙，服至六日諸證仍然，反益煩悶，其姑欲令中止，病者誓以一日不死一日守服，及診其脈，溢出魚際者退於寸內矣，因屬再服，服至九帖忽身上颶颶，是夜竟得稍寐，來晨諸症略輕，病者自信益堅，專心續服至十有六劑，證平大半，繼以養榮、歸脾參酌為丸，每晚服之，右歸〔丸〕、六味〔丸〕時或早服，調理兩月，沉疴盡起，迄今八載連生子女。有謂怯弱之症九死一生者，余於此重有慨焉。</p>
<p>述此一案，以見求速效而惑多岐者，非徒無益而又害之也。此證直到臨崖方才勒馬，幸不遇加鞭者耳。</p>
<p>馮某第三子年十四，自暮春微覺困頓懶食，治以建脾清導之劑，忽昏然沉睡，晝夜迷離，叫喚難醒，醒惟食粥一盞而已，如是逾夏經秋，服藥不可勝計，九月索診於余，其脈數如釜沸，余以大劑六味湯投之十二帖，六脈始平，兩關變有滑象，又以溫膽湯投六帖，脈變虛莫，改授補中湯四帖，脈轉弦鞕，便間日寒熱與瘧無異，因酌逍遙散加鱉甲、香附四帖，寒熱既痊，沉睡忽解，亦能飲食矣。余擬此證痰熱伏於肝膽，藥餌清傷脾胃，肝膽之實熱未除，脾胃之虛機續見。肝膽熱則好眠，脾胃虛更懶食矣，相火寄於肝膽，肝膽受痰熱之困，不能宣發相火，且相火與痰熱相搏，六脈數於釜沸，是其診也，故首用六味壯水之主以鎮陽光，陽光得鎮，兩關變滑，乃肝膽脾胃現出證之真形，故投溫膽湯以平膽熱，膽熱平則滑脈去而虛耎來，又以補中湯扶中氣而升陰陽，脈轉弦鞕者，肝膽久郁今得舒其本象也，寒熱如瘧者非瘧也，乃少陽中正之官開其鎖鑰，本氣之陰陽得以往來，只為脾胃尚弱未能承應間作寒熱耳，治之以逍遙散加鱉甲、香附乃以消散余郁，滋養肝膽，調和脾胃，使臟腑攸平，土木調達耳，是以諸症悉除，起沉疴於一旦也。</p>
<p>述此一案，以見見病知源之惟難，按脈究理之不易。程子曰「脈無不真，證無不假。」三指之下，毋得受病欺瞞、被病恐嚇也。</p>
<p>許宅婦妊娠八月，仲夏日患亢熱燒渴，引水不欲咽，小便赤澀，濕熱之證，誤服枳、樸消導諸藥，一帖胎墮，因延產科治之，三服芎歸，以致悶絕，交晝備棺木而化錢紙矣。因病者肌表熱甚，氣息未了，父母放舍不下，延余診之，六脈芤大無序，身直目閉，舌青額潮，腹滿指逆，見證雜沓如此，以胎前之熱在陽明至今未解，當解肌不解肌，熱不能退；胎前之濕在太陽至今未利，當利水不利水，濕不能消；產後脈大，亟應瀉熱而未可輕瀉，則正氣隨亡；產後脈芤宜乎補虛而未可驟補，防補則瘀熱滋甚，且脈之息數無序，表裡陰陽業經雜亂，欲投劑挽復諸難，非易事也。余斟酌至再，訂桂枝柴胡湯加味投之，一劑微汗而愈。</p>
<p>述此一案，以見救逆之際，索（須）自望聞問切中辨認寒熱虛實，表裡陰陽，邪正上下，標本緩急，一一布悉。</p>

<h1>卷四</h1>

<h2>治疫要言</h2>
<p>余到粵以來，日與士大夫遊，有談及去年春夏之交羊城有溫疫之症，病情雖屬不一，無不頭痛、惡寒、發熱或作嘔吐、胸腹痛滿等狀，而以頸項及四肢發有毒核者為最多，症亦最重，間有朝發夕死、醫治不及等語。夫朝發夕死者，即上條之邪入包絡也；結毒核者，即上條之邪入血脈也，血脈為邪所中，則鬱結不行聚而成毒，即《溫病條辨》之所謂血結斑也，宜急服涼血解毒之品，並用《靈樞》針法以瀉出毒血，則邪從此解而病自愈，若服氣分苦寒之藥，冰閉血邪則不可救矣。而粵居南方屬火，溫病最多，即按《內經》運氣之理推之，由同治至今當燥火司天之令，凡患時疫者皆屬火毒，況南方屬離為文明之地，精幹醫者想必不少，竟聞有遵李東垣之法，專主溫補者，又有信江湖散醫指血結為標蛇，服食鮮草藥並屈曲兩指向遍身經穴之處盡力籍之謂之捉蛇者。夫散醫之捉蛇尚可愈病，蓋血脈為邪毒所鬱結，一經箝捉則血脈流行，病之輕者即時毒消病愈矣。若病之重者，雖暫時獲效，轉瞬仍必告斃，以邪已深入，不可專恃外治之法也。然箝毒一法獲效甚速，自必信從者眾，仍屬有益無損，至若專主溫補者，余不知其殺人幾許矣！殊不知李東垣之主溫補，專為大雪之後勞役飢飽、脾胃虛寒而設。吳又可之主攻伐，專為邪入膜原陽明燥熱而設。所以東垣動用參耆，又可輒用大黃，皆因病立方，並無固執成見，閱《崇禎甲戌篇》載治疫一條云：「大兵之後，人民流離，元氣餒弱，忽值大寒，暴雪寒疫之病日見其多，類皆面赤發燒，口渴神離，因以參附而奏效者，指不勝屈。」又《談往》載：「崇禎十六年有疙瘩溫、羊毛溫等名，呼病即亡，不留片刻，八九兩月疫死數百萬，十月間有閩人曉解病由，看膝彎後有筋突起紫者無救，紅者速刺出血可活。至霜雪漸繁，勢亦漸殺。」余謂此疫即前條所云邪盛勢銳直入心包絡內犯心主之證，所以呼病即亡，危期極速也。考嘉興王肱《枕蚓庵瑣語》及桐鄉陳松濤《災荒紀事》，皆云崇禎十四年大旱，十五十六經年亢旱，通國奇荒，疫病大作。據此則其病由暑燥熱毒深入血分可知，所以霜雪繁而病勢殺、刺筋出血而其人可活也，刺筋出血者經云「血實宜決之」之旨也。邪入較淺筋色尚紅，速刺出血則血脈鬆動，便有活路；筋紫則為血脈凝瘀已極，縱刺之血亦不出，為無救耳。此證神色必然昏沉，其脈亦必澀滯模糊或促或伏，若用藥亦當遵血實宜決之之經旨通利血脈，主治必使血脈漸漸鬆動，不致內犯心主走死路方為得法。近時痧證亦有頃刻告姐者，亦有刺舌底黑筋、刺兩臂彎〔筋〕、兩膝彎〔筋〕等處出血而愈者，但不若《談往》所載既甚且多為非常之疫癘耳。總之治疫之法必須明運氣司天之令，方土之冷暖，時令之寒燠，並人身臟腑之虛實寒熱，認症既真則用藥不誤，雖夏日陽升陰降之候，仍有以臟寒而患寒病者，冬日陰升陽降之候，仍有以臟熱而發熱者，病勢雖多，總不外細心認症之一法，是在行道者神而明之。</p>

<h2>何起濱跋</h2>
<p>世之為醫者二，曰治生與濟世而已，然守身慎疾者不可不知醫，仰事俯蓄者尤不可以不知醫，豈惟治生濟世云爾哉。濱十應童試，兩赴棘闈，中歲多病，無所成就，先母又患痼疾，醫藥經年，卒致不起，濱懲前毖後，始嘆保身、事親皆不可不知醫，且知而不精尤不如不知醫也，因博覽岐黃諸書，於五運六氣，臟腑經絡，以及病源藥性，無不研究考索，聽夕靡倦，然其理深邃隱微，頗難索解，濱氾濫於其中者有年，終未能由博返約以自信於吾心。及我齡臣夫子來粵，憫其愚蒙，隨時指授，凡夫《靈樞》、《素問》、《傷寒》、《金匱》諸書，古人所已言，與古人所未言，悉洞明奧實，如數家珍，認症則直揭根源，制方則隨機變化，蓋非有卓識有定見不能與於斯也。講論之暇，復出《醫粹精言》舉以相示，濱受而讀之，見其粹如美玉，尺璧共寶，精若兼金，百鍊彌光，神明其意，上之可以事親，下之可以保身，淺之足以治生，大之足以以濟物，此書一出，人皆知良醫之心苦與庸醫之殺人，不啻有霄壤之判，則知醫者日多，斯見誤於醫者日少，庶於世不無所裨益云。</p>
<p><u>光緒乙未冬十月六日門人何起濱敬跋</u></p>
