<header data-type="book">
<h1>醫宗金鑑·婦科心法要訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="吳謙">吳謙</data>等</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
<div><dt>底本</dt><dd>《御纂醫宗金鑑》，光緒十八年（1892）上海五彩書局石印本（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-997256">香港中文大學圖書館掃描本</a>），卷四十四至卷四十九；《欽定四庫全書·子部五·醫家類·御纂醫宗金鑑》卷四十四至卷四十九（<a href="https://www.kanripo.org/ed/KR3e0090/WYG/">漢リポ掃描及文字化本</a>）</dd></div>
</dl>
</header>

<h1>調經門</h1>

<h2>婦科總括</h2>
<p>男婦兩科同一治，所異調經崩帶癥。嗣育胎前併產後，前陰乳疾不相同。</p>

<h2>天癸月經之原</h2>
<p>先天天癸始父母，後天精血水穀生，女子二七天癸至，任通沖盛月事行。</p>

<h2>婦人不孕之故</h2>
<p>不孕之故傷任沖，不調帶下經漏崩，或因積血胞寒熱，痰飲脂膜病子宮。</p>

<h2>月經之常</h2>
<p>月經三旬時一下，兩月並月三居經，一年一至為避年，一生不至孕暗經。</p>

<h2>月經異常</h2>
<p>經期吐血或衄血，上溢妄行曰逆經。受孕行經曰垢胎，受孕下血漏胎名。</p>

<h2>外因經病</h2>
<p>天地溫和經水安，寒凝熱沸風蕩然，邪入胞中任沖損，婦人經病本同參。</p>

<h2>內因經病</h2>
<p>婦人從人不專主，病多憂忿鬱傷情，血之行止與順逆，皆由一氣率而行。</p>

<h2>不內外因經病</h2>
<p>血者水穀之精氣，若傷脾胃何以生，不調液竭血枯病，合之非道損傷成。</p>

<h2>血色不正病因</h2>
<p>血從陽化色正紅，色變紫黑熱之徵，黃泔淡紅濕虛化，更審瘀塊黯與明。</p>

<h2>氣穢清濁病因</h2>
<p>熱化稠黏臭必穢，寒化清徹臭則腥，內潰五色有臟氣，時下而多命必傾。</p>

<h2>愆期前後多少</h2>
<p>經來前後為愆期，前熱後滯有虛實，淡少為虛不脹痛，紫多脹痛屬有餘。</p>

<h2>經行發熱時熱</h2>
<p>經行發熱時潮熱，經前血熱經後虛，發熱無時察客熱，潮熱午後審陰虛。</p>

<h2>經行寒熱身痛</h2>
<p>經來寒熱身體痛，當分榮衛與虛實，有汗不脹衛不足，無汗而脹榮有餘。</p>

<h2>經行腹痛</h2>
<p>腹痛經後氣血弱，痛在經前氣血凝，氣滯腹脹血滯痛，更審虛實寒熱情。</p>

<h2>經行瀉吐</h2>
<p>經行泄瀉是脾虛，鴨溏清痛乃寒濕；胃弱飲傷多嘔飲，食傷必痛吐其食。</p>

<h2>錯經妄行成吐衄崩</h2>
<p>逆行吐血錯行崩，熱傷陰陽絡妄行；血多熱去當用補，血少雖虛須主清。</p>

<h2>經水過多兼時下白帶</h2>
<p>多清淺淡虛不攝，稠黏深紅熱有餘，兼帶時下濕熱穢，形清腥穢冷濕虛。</p>

<h2>調經證治</h2>
<p>補養元氣四君子⑴，參苓朮草棗生薑。異功⑵加陳兼理氣。虛痰橘半六君湯⑶。嘔吐香砂六君子⑷。渴瀉七味⑸藿葛香。脾瀉參苓白朮散⑹，薏桔山蓮砂扁方。思慮傷脾損心血，歸脾⑺歸耆棗遠香。減參加柴歸芍薄，逍遙⑻調肝理脾方。合物八珍⑼兼補血。耆桂十全大補湯⑽，去參苓朮雙和飲⑾。去芎加陳養榮湯⑿。脾胃虛寒吐且瀉，理中⒀減苓加乾薑。</p>
<p>附方：</p>
<p>⑴四君子湯：人參　白朮（土炒）　茯苓（各二錢）　甘草（一錢）</p>
<p>上銼，薑棗水煎服。</p>
<p>⑵異功散：人參　白朮（土炒）　茯苓（各二錢）　甘草（炙五分）　陳皮（二錢）</p>
<p>上銼，加生薑水煎服。</p>
<p>⑶六君子湯：人參　白朮（土炒）　茯苓　半夏　陳皮（各一錢）甘草（炙五分）</p>
<p>上銼，薑棗水煎服。</p>
<p>⑷香砂六君子湯:即上方加藿香葉、砂仁。</p>
<p>⑸七味白朮散：人參　白朮（土炒）　茯苓（各一錢五分）　甘草（炙五分）　藿香　木香　乾葛（各一錢）</p>
<p>上銼，水煎服。</p>
<p>⑹參苓白朮散：人參　白朮（土炒）　茯苓　山藥（炒）　甘草蓮肉（去心）　白扁豆（薑汁炒，各一錢五分）　薏苡仁（炒）　砂仁　桔梗（各八分）</p>
<p>上為細末，每服二錢，薑棗湯調服。</p>
<p>⑺歸脾湯：人參　黃耆（炙）　白朮（土炒）　茯神　當歸　龍眼肉　遠志（去心）　棗仁（炒，各一錢）　木香　甘草（炙，各五分）</p>
<p>上銼薑棗水煎服（原歌括漏龍眼肉）。</p>
<p>⑻逍遙散：當歸（酒洗）　白芍（酒炒）　白茯苓　柴胡（各一錢）　甘草（炙五分）　白朮（土炒一錢）</p>
<p>上銼散，加薄荷，水煎服。</p>
<p>⑼八珍湯：人參　白朮（土炒）　茯苓　甘草　熟地　當歸　川芎　白芍（各等分）</p>
<p>加薑棗，水煎服。</p>
<p>⑽十全大補湯：人參　白朮　茯苓　黃耆　當歸　熟地　白芍　川芎（各一錢）　肉桂　甘草（炙，各五分）</p>
<p>加薑棗，水煎服。</p>
<p>⑾雙和飲：即十全大補湯去人參、白朮、茯苓。</p>
<p>⑿人參養榮湯：即十全大補湯去川芎加陳皮、遠志、五味。</p>
<p>⒀理中湯：白朮　人參　乾薑　甘草（炙，各一錢）</p>
<p>上銼，水煎服。</p>
<p>婦人血病主四物①，歸芎白芍熟地黃。血瘀改以赤芍藥，血熱易用生地黃。表熱有汗合桂草②，表熱無汗合麻黃③，少陽寒熱小柴④並，陽明熱合調胃湯⑤。</p>
<p>附方：</p>
<p>①四物湯：熟地（二錢）　川芎（一錢）　白芍（炒二錢）　當歸（二錢）</p>
<p>上為粗末，水煎服。</p>
<p>②桂枝四物湯：當歸　熟地　川芎（各二錢）　白芍（炒三錢）　桂枝（三錢）　甘草（炒，一錢）</p>
<p>加薑棗，水煎服。</p>
<p>③麻黃四物湯：當歸　熟地　白芍　川芎（各二錢）　麻黃　桂枝（各一錢）　杏仁（二十粒）　甘草（一錢）</p>
<p>加薑棗，水煎服。</p>
<p>④柴胡四物湯：川芎　當歸　白芍　熟地（各一錢五分）　柴胡　人參　黃芩（各二錢）　甘草（五分）　半夏（二錢制）</p>
<p>上為末，每服五錢，水煎服。</p>
<p>⑤玉燭散：當歸　川芎　熟地　白芍（各二錢）　大黃　芒硝　甘草（各一錢）</p>
<p>上銼，每服八錢，水煎，食前服。</p>

<h2>月經先期證治</h2>
<p>先期實熱物芩連①，虛熱地骨皮飲②丹。血多膠艾③熱芩術④。逐瘀桃紅⑤柴塊黏。血少淺淡虛不攝，當歸補血⑥歸耆先。虛甚參耆聖愈⑦補。熱滯姜芩⑧丹附延。逐瘀芎歸佛手散⑨，又名芎歸效若仙。</p>
<p>附方：</p>
<p>①芩連四物湯：即四物湯加黃芩、黃連。</p>
<p>②地骨皮飲：當歸　生地（各二錢）　白芍（一錢）　川芎（八分）　牡丹皮　地骨皮（各二錢）</p>
<p>水煎服。</p>
<p>③膠艾四物湯：熟地　當歸　川芎　白芍　阿膠（蛤粉末炒成珠）　艾葉（各一錢）　甘草（炙，五分）</p>
<p>上銼，水酒各半煎，空心服。</p>
<p>④芩術四物湯：即四物湯加黃芩、白朮。</p>
<p>⑤桃紅四物湯：即四物湯加桃仁、紅花。</p>
<p>⑥當歸補血湯：當歸（三錢）　黃耆（蜜炙，一兩）</p>
<p>水煎服。</p>
<p>⑦聖愈湯：熟地（酒拌蒸半日）　白芍（酒拌）　川芎　人參（各七錢五分）　當歸（酒洗）　黃耆（炙，五錢）</p>
<p>水煎服。</p>
<p>⑧姜芩四物湯：當歸　熟地　赤芍　川芎　薑黃　黃芩　丹皮　延胡索　香附（制，各等分）</p>
<p>水煎服。</p>
<p>⑨佛手散（芎歸湯）：川芎（二兩）　當歸（三兩）</p>
<p>上為細末，每服二錢，水一盞，酒二分，煎七分，溫服。</p>

<h2>月經過期證治</h2>
<p>過期①血滯物桃紅，附莪桂草木香通。血虛期過無脹熱，雙和②聖愈③及養榮④。</p>
<p>附方：</p>
<p>①過期飲：熟地　白芍（炒）　當歸　香附（各二錢）　川芎（一錢）　紅花（七分）　桃仁泥（六分）　蓬莪朮　木通（各五分）　甘草（炙）　肉桂（各四分）　木香（八分）</p>
<p>水煎，食前溫服。</p>
<p>②雙和飲</p>
<p>③聖愈湯</p>
<p>④人參養榮湯</p>

<h2>經行發熱證治</h2>
<p>經來身熱有表發，內熱地骨加胡連①，經後六神②加耆骨，逍遙③理脾而清肝。</p>
<p>附方：</p>
<p>①加味地骨皮飲：生地　當歸　白芍（各二錢）　川芎（八分）牡丹皮　地骨皮（各三錢）　胡連（一錢）</p>
<p>水煎服。</p>
<p>②六神湯：熟地　當歸　白芍　川芎　黃耆　地骨皮（各等分）</p>
<p>上㕮咀，水煎服。</p>
<p>③逍遙散</p>

<h2>經行身痛證治</h2>
<p>經來身痛有表發，無表四物羌桂枝①，經後血多黃耆建②，耆桂芍草棗姜飴。</p>
<p>附方：</p>
<p>①羌桂四物湯：即四物湯加羌活、桂枝。</p>
<p>②黃耆建中湯：黃耆（炙）　肉桂（各一兩）　白芍（炒，二兩）　甘草（炙，七錢）</p>
<p>上為末，每服五錢，加薑棗水煎服，日二、三服，如虛甚者加附子。</p>

<h2>經行腹痛證治</h2>
<p>經後腹痛當歸建①，經前脹痛氣為殃，加味烏藥湯②烏縮，延草木香香附榔。血凝礙氣疼過脹，本事琥珀散③最良，稜莪丹桂延烏藥，寄奴當歸芍地黃。</p>
<p>附方：</p>
<p>①當歸建中湯：當歸（一兩）　白芍（炒，二兩）　肉桂（一兩）　甘草（炙，七錢）</p>
<p>㕮咀，每服三錢，加生薑棗水煎，空心服。</p>
<p>②加味烏藥湯：烏藥　縮砂仁　木香　延胡索　甘草　香附（制）　檳榔（各等分）</p>
<p>上細銼，每服七錢，生薑三片水煎，溫服。</p>
<p>③琥珀散：三稜　莪朮　赤芍　當歸　劉寄奴　丹皮　熟地　官桂　烏藥　延胡索（各一兩）</p>
<p>上前五味，用烏豆一升，生薑半斤，切片，米醋四升，同煮，豆爛為度，焙乾，入後五味，同為末，每服二錢，溫酒調下，空心食前服。</p>
<p>胞虛寒病大溫經①，來多期過小腹痛，歸芎芍草人參桂，吳丹膠半麥門冬。不虛胞受風寒病，吳茱萸湯②更加風，藁細乾薑茯苓木，減去阿膠參芍芎。</p>
<p>附方：</p>
<p>①大溫經湯：吳茱萸（湯泡）　丹皮　白芍　人參　肉桂　當歸　川芎　阿膠（碎炒）　甘草（炙，各一錢）　麥冬（去心，二錢）　半夏（制，二錢半）</p>
<p>加生薑水煎，食前服。</p>
<p>②吳茱萸湯：當歸　肉桂　吳茱萸　丹皮　半夏（制）　麥冬（各二錢）　防風　細辛　藁本　乾薑　茯苓　木香　炙甘草（各一錢）</p>
<p>水煎服。</p>

<h2>經行吐瀉證治</h2>
<p>經瀉參苓白朮散①，鴨溏清痛理中湯②，肌熱渴瀉七味散③，嘔飲香砂六君湯④。</p>
<p>附方：</p>
<p>①參苓白朮散</p>
<p>②理中湯</p>
<p>③七味白朮散</p>
<p>④香砂六君子湯</p>

<h2>經行吐衄證治</h2>
<p>經前吐衄為熱壅，三黃四物①大芩連；經後吐衄仍有熱，犀角地黃②芍牡丹。</p>
<p>附方：</p>
<p>①三黃四物湯：當歸　白芍　川芎　生地　黃連　黃芩　大黃</p>
<p>上銼，水煎服。大黃用量應斟酌虛實。</p>
<p>②犀角地黃湯：芍藥（七錢半）　生地（半斤）　牡丹皮（一兩，去心淨，酒洗）　犀角（一兩，如無以川升麻代之）</p>
<p>上㕮咀，每服五錢，水煎服。有熱如狂者，加黃芩二兩。</p>

<h1>經閉門</h1>

<h2>血滯經閉</h2>
<p>石瘕寒氣客胞中，狀如懷子不經行。胞閉熱氣迫肺咳，傷心氣血不流通。</p>

<h2>血虧經閉</h2>
<p>二陽之病發心脾，不月有不得隱曲。血枯其傳為風消，息賁者死不能醫。</p>

<h2>血枯經閉</h2>
<p>脫血過淫產乳眾，血枯漸少不行經。骨蒸麵白兩顴赤，懶食消瘦咳嗽頻。</p>

<h2>久嗽成勞</h2>
<p>男勞已詳心法內，女損陰血傳風消；或因病後素稟弱，經閉咳嗽血風勞。</p>

<h2>婦人經斷復來</h2>
<p>婦人七七天癸竭，不斷無疾血有餘；已斷復來審其故，邪病相干隨證醫。</p>

<h2>室女經來復止</h2>
<p>室女經來復不來，若無所苦不為災，必是避年未充足，若見虛形命可哀。</p>

<h2>師尼室寡經閉</h2>
<p>師尼室寡異乎治，不與尋常婦女同。診其脈弦出寸口，知其心志不遂情。調經若不先識此，錯雜病狀豈能明。和肝理脾開鬱氣，清心隨證可收功。</p>

<h2>血滯經閉證治</h2>
<p>石瘕帶表吳茱萸①，攻裡琥珀散②最宜。胞閉三和湯③四物，硝黃連薄草芩梔。</p>
<p>附方：</p>
<p>①吳茱萸湯</p>
<p>②琥珀散</p>
<p>③三和湯：當歸　川芎　大黃　朴硝　白芍　地黃　黃芩　梔子　連翹　薄荷　甘草（各等分）</p>
<p>上銼，每服八錢，水煎服。</p>

<h2>血枯血虧經閉證治</h2>
<p>胃熱爍血玉燭散①。失血血枯養榮湯②。地黃湯③治房勞損，萸藥苓丹澤地良。乳眾血枯經若閉，須用十全大補方④。</p>
<p>附方：</p>
<p>①王燭散</p>
<p>②人參養榮湯</p>
<p>③六味地黃湯：熟地（八錢）　山萸肉　山藥（各四錢）　丹皮　澤瀉　茯苓（各三錢）</p>
<p>水煎服。</p>
<p>④十全大補湯</p>

<h2>經閉久嗽成勞證治</h2>
<p>月水不行蒸潮汗，食減咳嗽血風勞。劫勞散①用參苓芍，歸地甘耆半味膠。</p>
<p>附方：</p>
<p>①劫勞散：白芍（六兩）　黃耆（炙，四兩）　甘草（炙）　人參（去蘆）當歸（去蘆酒洗）　熟地（洗淨焙乾）　五味子　阿膠（炒珠，各一兩）　茯苓　半夏（各二兩）</p>
<p>上㕮咀，每服三錢，水一盞，生薑七片，棗三枚，煎至九分，溫服，無時，日三次。</p>

<h2>婦人經斷復來證治</h2>
<p>經斷復來血熱甚，芩心醋丸溫酒吞①。益陰②知柏龜生地，縮砂炙草棗姜尋。血多熱去傷衝任，十全大補③與八珍④。暴怒憂思肝脾損，逍遙⑤歸脾⑥二藥斟。</p>
<p>附方：</p>
<p>①芩心丸：用黃芩心枝條者三兩（米泔浸七日，炙乾，又浸，又炙，如此七次）</p>
<p>上為末，醋丸如桐子大，每服七十丸，空心溫酒送下，日進二服。</p>
<p>②益陰煎：生地（三錢）　知母　黃柏（各二錢）　龜版（醋炙，四錢）縮砂仁　甘草（炙，各一錢）</p>
<p>上銼，水煎服。</p>
<p>③十全大補湯</p>
<p>④八珍湯</p>
<p>⑤逍遙散</p>
<p>⑥歸脾湯</p>

<h2>室女師尼寡婦經閉證治</h2>
<p>室女經閉多血結，大黃䗪蟲①桃杏仁，虻蛭蠐螬甘草芍，乾漆生地及黃芩；不足澤蘭②歸草芍。柏子仁丸③用柏仁，熟地澤蘭牛卷續，相兼久服自然行。師尼寡婦逍遙散④，附蘭丹地郁梔芩。</p>
<p>附方：</p>
<p>①大黃䗪蟲丸　大黃　赤芍　生地　桃仁　乾漆　甘草　䗪蟲　虻蟲　蛭蟲　蠐螬　黃芩（各等分）</p>
<p>上末，煉蜜丸，每服丸數，量虛實增減。</p>
<p>②澤蘭葉湯：澤蘭葉（三兩）　當歸　白芍（各一兩）　甘草（五錢）</p>
<p>上為粗末，每服五錢，水煎，溫服。</p>
<p>③柏子仁丸：柏子仁（炒另研）　牛膝（酒洗）　卷柏（各五錢）　澤蘭葉　續斷（各二兩）　熟地（三兩五錢，酒浸半日，石臼內，杵成膏）</p>
<p>上為細末，煉蜜丸，如桐子大，空心米飲下三十丸。</p>
<p>④逍遙散</p>

<h2>婦病難治</h2>
<p>諺云婦病不易治，蓋以幽居情郁疑。執拗不喜望聞問，諱疾忌醫術莫施。</p>

<h2>診看婦人須先問經期妊娠</h2>
<p>未診婦人女子病，先問經期與妊娠，不詳誤藥非細事，疑似難明昧所因。</p>

<h1>崩漏門</h1>

<h2>崩漏總括</h2>
<p>淋瀝不斷名為漏，忽然大下謂之崩。紫黑塊痛多屬熱，日久行多損任沖。脾虛不攝中氣陷。暴怒傷肝血妄行。臨證察因須細辨，虛補瘀消熱用清。</p>

<h2>崩漏證治</h2>
<p>崩漏血多物膠艾①，熱多知柏②少芩荊③。漏澀香附桃紅④破，崩初脹痛琥珀⑤攻，日久氣血衝任損，八珍⑥大補⑦養榮⑧寧。思慮傷脾歸脾⑨治，傷肝逍遙⑩香附青。</p>
<p>附方：</p>
<p>①膠艾四物湯</p>
<p>②知柏四物湯：即四物湯加知母、黃柏。</p>
<p>③荊芩四物湯：即四物湯加荊芥穗、黃芩。</p>
<p>④四物湯</p>
<p>⑤琥珀散</p>
<p>⑥八珍湯</p>
<p>⑦十全大補湯</p>
<p>⑧人參養榮湯</p>
<p>⑨歸脾湯</p>
<p>⑩逍遙散</p>
<p>氣陷補中益氣①舉，保元升柴歸術陳，益胃升陽②加芩曲，腹痛加芍嗽減參。</p>
<p>附方：</p>
<p>①補中益氣湯：黃耆　人參　白朮　甘草（炙，各一錢）　當歸　陳皮（各七分）　升麻　柴胡（各三分）　生薑　大棗</p>
<p>水煎服。</p>
<p>②益胃升陽湯：黃耆（二錢）　人參（一錢）　神麯（一錢五分）　白朮（三錢）　當歸　陳皮　炙草（各一錢）　升麻　柴胡（各五分）　黃芩（二錢）</p>
<p>水煎服。</p>
<p>夾水水瀉不甚弱，調經升陽除濕湯①，耆草升柴歸蒼朮，羌獨藁本蔓荊防。</p>
<p>附方：</p>
<p>①升陽除濕湯：黃耆　蒼朮　羌活（各一錢五分）　防風　藁本　升麻　柴胡　炙甘草（各一錢）　獨活（五分）　蔓荊子（七分）　當歸（五分）</p>
<p>上㕮咀，水五大盞，煎至一大盞，去滓，稍熱服。空心服畢，待少時，以早飯壓之。</p>
<p>②補中益氣湯</p>
<p>殺血心痛失笑散①，蒲黃五靈脂定疼。崩血不已防滑脫，地榆苦酒②煎止崩。</p>
<p>附方：</p>
<p>①失笑散：五靈脂　蒲黃（各等分）</p>
<p>研為細末，先用釅醋調二錢熬膏，入水一盞，煎至七分，食前熱服。</p>
<p>②地榆苦酒煎：地榆（一兩）</p>
<p>醋煎，露天置一宿，次早溫服，但症情急迫的，可即時溫服。</p>

<h1>帶下門</h1>

<h2>五色帶下總括</h2>
<p>帶下勞傷沖與任，邪入胞中五色分，青肝黃脾白主肺，衃血黑腎赤屬心，隨人五臟兼濕化，治從補瀉燥寒溫；更審瘡膿瘀血化，須別胞膀濁與淫。</p>

<h2>帶下證治</h2>
<p>邪入胞中吳茱萸①，赤黏連梔青防梔，白主益氣②黑六味③，黃淡六君④或歸脾⑤。</p>
<p>附方：</p>
<p>①吳茱萸湯</p>
<p>②補中益氣湯</p>
<p>③六味地黃湯</p>
<p>④六君子湯</p>
<p>⑤歸脾湯</p>
<p>胞中冷痛乃寒濕，四物①附子桂姜宜，臭腥兼合知柏用，久滑升柴龍牡脂。</p>
<p>附方：</p>
<p>①四物湯</p>
<p>帶下濕熱清白散①，四物薑炭草柏椿，赤榆荊芩濕二術，滑加龍牡久合君②。</p>
<p>附方：</p>
<p>①清白散：當歸　鹽黃柏　炒白芍　樗根皮　生地　川芎　貝母（各一錢）　炮姜　甘草（各五分）</p>
<p>銼，生薑三片，水煎服。</p>
<p>②四君子湯</p>
<p>帶下有餘皆濕化，少腹脹疼汙水綿，導水①牽滑芩軍熱，萬安②牽椒茴木寒。</p>
<p>附方：</p>
<p>①導水丸：牽牛（頭末）　滑石（水飛）　黃芩　川大黃</p>
<p>研為細末，蒸餅為丸，量虛實服。</p>
<p>②萬安丸：牽牛（頭末）　胡椒　木香　小茴香（各等分焙）</p>
<p>研為細末，水泛為丸，量虛實服。</p>
<p>瘀化瘡膿濁淫病，虛實寒熱酌其宜，威喜①蠟苓固精②菟，韭味桑苓龍牡脂。</p>
<p>附方：</p>
<p>①威喜丸：白茯苓（四兩去皮作塊用）　豬苓（二錢半　同於磁器內，煮二十餘沸，出，曬乾，不用豬苓）　黃蠟（四兩）</p>
<p>以茯苓為末，煉黃蠟為丸，如彈子大，空心細嚼，滿口生津，徐徐咽服，以小便清為度。忌米醋、動氣。</p>
<p>②固精丸：牡蠣（煅粉）　菟絲子（酒蒸焙）　韭子（炒）　龍骨　五味子　白茯苓　桑螵蛸（酒炙）　白石脂（各等分）</p>
<p>研為細末，酒糊丸如桐子大，每服七十丸，空心鹽湯下。</p>

<h1>癥瘕痃癖諸證門</h1>

<h2>癥瘕積聚痞瘀血血蠱總括</h2>
<p>五積六聚分臟腑，七癥八瘕氣血凝。癥積不動有定處，瘕聚推移無定形。痞悶不宣氣雍塞，未成堅塊血瘀名。蓄久不散成血蠱，產後經行風冷乘。</p>

<h2>癥瘕證治</h2>
<p>婦人一切癥瘕病，上下攻疼七氣湯①，藿香益智稜莪朮，甘桔青陳肉桂香。</p>
<p>附方：</p>
<p>①大七氣湯：三稜　莪朮（煨切）　青皮（去瓤）　陳皮（去白）　木香　藿香　益智仁　桔梗　肉桂　甘草（炙，各七分半）</p>
<p>㕮咀，每服五錢，水煎，食前溫服。</p>

<h2>食癥證治</h2>
<p>經行產後食生冷，臟氣相搏結塊形，牢固不移日漸長，開滯消積溫散行。烏藥散①烏桃莪朮，木香當歸青桂心。</p>
<p>附方：</p>
<p>①烏藥散：烏藥　莪朮　桂心　當歸（炒）　桃仁　青皮　木香（各等分）</p>
<p>上為末，每服二錢，熱酒調下。</p>

<h2>血癥證治</h2>
<p>乘臟虛兮風冷干，飲食內與血相搏，因成血癥堅牢固，脅腹脹痛熱而煩，少食多忘頭汗出，血竭①歸芍蒲桂延。</p>
<p>附方：</p>
<p>①血竭散：真血竭（如無，紫礦代）　當歸　赤芍　蒲黃　延胡索</p>
<p>上等分，研細，頻篩，再研，取盡為度，每服一錢，用黃酒一兩左右，煎一沸，溫調下。方產下時一服，上床良久再服，其惡血自循經下行，不致衝上，免生百病。</p>

<h2>痞證治</h2>
<p>三焦痞滿胸膈悶，氣不宣通助氣①青，白朮三稜蓬莪朮，枳殼檳榔香與陳。</p>
<p>附方：</p>
<p>①助氣丸：京三稜　蓬莪朮（二味各用濕紙包，灰火中煨透，切片，各二斤）　青皮（去白）　陳皮（去白）　白朮（各十五兩）　枳殼（麩炒去瓤）　檳榔　木香（各十兩）</p>
<p>上為末，糊丸，桐子大，每服五十丸，滾水下。</p>

<h2>積聚證治</h2>
<p>積聚通用正元散①，苓朮青陳曲麥延，香砂海粉楂甘桔，痰飲食積血氣摶。</p>
<p>附方：</p>
<p>①開鬱正元散：白朮　陳皮　青皮　香附　山楂　海粉　桔梗　茯苓　砂仁　延胡索　麥芽（炒）　甘草（炙）　神麯（炒各等分）</p>
<p>上銼，每服一兩，生薑三片，水煎服。</p>

<h2>瘀血血蠱證治</h2>
<p>腹中瘀血未成形，面黃發熱腹脹疼，產後經來風冷客，血室之內有瘀停。產後惡露失笑散①，經閉瘀凝玉燭②攻，血蠱桃奴③豭鼠糞，延桂砂桃附五靈。</p>
<p>附方：</p>
<p>①失笑散</p>
<p>②玉燭散</p>
<p>③桃奴散：桃奴（炒）　雄鼠糞（炒，兩頭尖者是）　延胡索　肉桂　五靈脂　香附（炒）　砂仁　桃仁（各等分）</p>
<p>上為末，每服三錢，酒調下。</p>

<h2>痃癖疝證總括</h2>
<p>臍旁左右一筋疼，突起如弦痃症名；僻在兩肋名曰癖；高起如山疝病稱，必引少腹腰脅痛。三證皆由風冷成，或作或止因寒發，痛時方見不痛平。</p>

<h2>痃癖證治</h2>
<p>婦人痃癖腹肋痛，風冷血氣結而成。蔥白①四物參苓枳，桂樸姜香青莪稜，茴香曲麥苦楝子，蔥鹽煎服訶黃斟。</p>
<p>附方：</p>
<p>①蔥白散：當歸　熟地　赤芍　川芎　人參　茯苓　枳殼　肉桂　厚朴　乾薑　木香　青皮　莪朮　三稜　茴香神麯　麥芽　苦楝子（各等分）</p>
<p>上研為細末，加蔥白三寸，食鹽五分，煎服三錢；大便結燥去鹽加大黃，便自利加訶子。</p>

<h2>疝病證治</h2>
<p>婦人疝病氣攻衝，脅腹刺痛當歸①芎，鱉甲吳萸桃仁芍，桂榔青木大黃蓬。</p>
<p>附方：</p>
<p>①當歸散：當歸　川芎（各二錢）　鱉甲（三錢，醋，炙）　吳茱萸　桃仁（十五粒）　赤芍　肉桂（各一錢）　檳榔　青皮（各八分）　木香　莪朮　川大黃（各七分）</p>
<p>上為末，每服一錢，入干胭脂一錢，水煎，食後服。</p>

<h2>治諸積大法</h2>
<p>形虛病盛先扶正，形證俱實去病急，大積大聚衰其半，須知養正積自除。</p>

<h1>嗣育門</h1>

<h2>胎孕之原</h2>
<p>天癸先天生身氣，精血後天化成形。男子二八天癸至，屬陽應日精日盈；女子二七天癸至，屬陰應月血月通。男女媾精乃有子，乾道男成坤女成。</p>

<h2>男女完實</h2>
<p>精通必待三十娶，天癸二十始適人，皆欲陰陽完實後，育子堅壯壽偏增。</p>

<h2>種子時候</h2>
<p>男子聚精在寡欲，交接乘時不可失，須待絪縕時候至，樂育難忍是真機。</p>

<h2>分男女論</h2>
<p>精血先後分男女，或以奇偶少多分，或以子宮左右定，是皆不曉箇中因，欲識此中真消息，乾道陽男坤女陰。</p>

<h2>雙胎品胎</h2>
<p>古以雙胎精氣盛，不成男女或兼形，陰陽變常駁氣盛，事之所有理難明。</p>

<h2>脈見有子</h2>
<p>少陰動甚知有子，陰搏陽別尺寸憑。但搏不滑胎三月，搏而滑石五月形。</p>

<h2>胎男女辨</h2>
<p>上小下大女腹箕，中正圓高男腹釜；右疾為女左疾男，胎氣鍾於陰陽主。</p>

<h2>辨別孕病</h2>
<p>孕病不分須診乳，五月之後乳房升。何以知其母子吉，身雖有病脈和平。</p>

<h2>分經養胎</h2>
<p>分經養胎不足憑。無所專養論不經。形始未分無不具，陰陽之道漸分形。</p>

<h2>受孕分房靜養</h2>
<p>受孕分房宜靜養，謹戒食味使脾安，調其喜怒防驚恐，慎厥起居避風寒。</p>

<h2>安胎母子二法</h2>
<p>安胎之道有二法，母病胎病要詳分：母病動胎但治母；子病致母審胎因。</p>

<h2>胎前用藥三禁</h2>
<p>胎前清熱養血主，理脾疏氣是為兼。三禁汗下利小便，隨證虛實寒熱看。</p>

<h2>安胎審宜調治</h2>
<p>形瘦不宜過熱品，體盛補氣恐動痰。安胎芩術為要藥，佐以他藥任抽添。火盛倍芩痰倍術，血虛四物①氣四君②。杜續膠艾胎不穩，氣盛蘇腹枳砂陳。</p>
<p>附方：</p>
<p>①四物湯</p>
<p>②四君子湯</p>
<p>附婦人不孕諸方：</p>
<p>①加味地黃丸：治婦人經水不調，不能受孕，即使受之，亦不全美，宜常服此方。</p>
<p>熟地（四兩）　山萸肉　山藥（各二兩）　牡丹皮　白茯苓（各一兩五錢）　澤瀉　香附（各一兩）</p>
<p>上為末，煉蜜丸如梧子大，每服七十丸，白沸湯送下。</p>
<p>②滌痰湯：治婦人肥盛者多不受孕，以身中有脂膜閉塞子宮也。以此湯途後丸藥。</p>
<p>當歸（一兩）　茯苓（四兩）　川芎（七錢五分）　白芍藥　白朮（土炒）　半夏（制）　香附米　陳皮　甘草（各一兩）</p>
<p>上作十貼，每貼，姜三片，水煎，吞後丸子。</p>
<p>③滌痰丸：白朮（二兩，土炒）　半夏曲　川芎　香附米（各一兩）　神麯（炒）　茯苓（各五錢）　橘紅（四錢）　甘草（二錢）</p>
<p>上為末，粥丸，每服八十丸。如熱者，加黃連、枳實（各一兩）。</p>
<p>④大補丸：治婦人瘦弱，多由血少不能受孕，宜常服此方。</p>
<p>天冬（去心）　麥冬（去心）　菖蒲　茯苓　人參　益智仁　枸杞子　地骨皮　遠志肉</p>
<p>上為細末，煉蜜丸，如桐子大，空心酒下三十丸。</p>
<p>⑤蓯蓉菟絲子丸：此方不寒不熱，助陰生子。</p>
<p>肉蓯蓉（一兩三錢）　覆盆子　蛇床子　川芎　當歸　菟絲子（各一兩二錢）　白芍藥（一兩）　牡蠣（鹽泥固煅）　烏賊魚骨（各八錢）　五味子　防風（各六錢）　條芩（五錢）　艾葉（三錢）</p>
<p>上為末，煉蜜丸，如桐子大，每服三、四十丸，鹽湯下，早晚皆可服。</p>
<p>⑥調經丸：理氣養血，調經種子。</p>
<p>香附　川杜仲（八兩，薑汁炒）　大川芎　白芍藥　當歸（去尾）　懷生地　陳皮　小茴香（酒炒）　延胡索（略炒）　肉蓯蓉（酒炒）　舊青皮（麩炒）　臺烏藥（炒）　枯黃芩（酒炒）　烏賊魚骨（酥炙，以上各四兩）</p>
<p>上十四味，稱足，真正好醋和麵打糊為丸，如梧桐子大，每服百丸，空心好酒送下。一方無陳皮、地黃，有人參、黃耆各二兩。</p>

<h1>胎前諸證門</h1>

<h2>胎前總括</h2>
<p>妊娠胎前病惡阻，胞阻腫滿氣煩懸，癇嗽轉胞與子淋，激經胎漏胎不安，小產死胎胎不長，子喑臟躁鬼胎連，余病當參雜症治，須知刻刻顧胎原。</p>

<h2>惡阻總括</h2>
<p>噁心嘔吐名惡阻，擇食任意過期安，重者須藥主胃弱，更分胎逆痰熱寒。</p>

<h2>惡阻證治</h2>
<p>胎氣阻逆惟嘔吐，無他兼症保生湯①，砂術香附烏陳草，量加參枳引生薑。</p>
<p>附方：</p>
<p>①保生湯：人參　甘草（各二錢半）　白朮　香附子　烏藥　橘紅（各五錢）</p>
<p>上銼，每服三錢，姜五片，煎服。</p>
<p>痰飲惡阻吐痰水，煩眩加味六君湯①，枇杷藿香旋縮枳，熱秘芩軍寒桂姜。</p>
<p>附方：</p>
<p>①加味六君湯：人參　白朮（土炒）　茯苓　陳皮　半夏（各一錢五分制）　甘草（五分，炙）　藿香葉　枇杷葉（各一錢，炙）　砂仁　枳殼（各八分，炒）</p>
<p>上銼，加生薑煎服。</p>
<p>熱阻惡食喜涼漿，心煩憒悶溫膽湯①，橘半茯甘與枳朮。更加芩連蘆麥姜。</p>
<p>附方：</p>
<p>①加味溫膽湯：陳皮　半復（制）　茯苓（各一錢）　甘草（五分，炙）　枳實　竹茹　黃芩（各一錢）　黃連（八分）　麥冬（二錢）　蘆根（一錢）</p>
<p>上銼，薑棗煎服。</p>

<h2>胞阻總括</h2>
<p>妊娠腹痛名胞阻，須審心腹少腹間，傷食心胃胎腰腹，少腹胞寒水尿難。</p>

<h2>胞阻證治</h2>
<p>心胃痛多傷食滯，蒼樸陳甘①果枳曲，便秘加軍倍甘草，胎動延胡四物②宜。</p>
<p>附方：</p>
<p>①加味平胃散：厚朴（薑汁炒）　蒼朮（米泔浸炒）　陳皮　甘草（炙）　人參（各一錢）</p>
<p>上為末，每服三錢，加姜煎。</p>
<p>②延胡四物湯：當歸　川芎　白芍　熟地（各七錢五分）延胡索（二兩，酒煮）</p>
<p>上銼，水煎服。</p>
<p>腹腰痛甚防胎墮，膠艾四物①杜酒蔥，外邪宜加羌獨活，內熱便秘蜜硝②攻。</p>
<p>附方：</p>
<p>①加味膠艾四物湯：當歸　熟地　阿膠　白芍（各二錢）　杜仲（一錢五分）　川芎　蘄艾（各八分）</p>
<p>上加蔥白三寸、大豆淋酒煎服。</p>
<p>②蜜硝煎：蜂蜜　芒硝</p>
<p>上煎溶化服。</p>
<p>胞血受寒少腹疼，參吳膠艾草歸芎①；尿澀熱甚導赤散②，木通生地甘草靈；水盛陽虛五苓③效，術澤肉桂茯豬苓。</p>
<p>附方：</p>
<p>①加味芎歸飲　川芎（二錢）　當歸（五錢）　人參（一錢）　吳茱萸（五分）　阿膠（二錢）　蘄艾（八分）　甘草（五分炙）</p>
<p>上銼，水煎服。</p>
<p>②導赤散：生地（三錢）　木通（二錢）　甘草梢（一錢）</p>
<p>燈心一團煎服。</p>
<p>③五苓散：白朮（土炒）　茯苓　豬苓　澤瀉（各二錢半）　桂（三分）</p>
<p>上銼，作一服，水煎服。</p>

<h2>子腫、子氣、子滿、脆腳、皺腳總括</h2>
<p>頭面四肢腫子腫，自膝至足子氣名，腫脹喘滿曰子滿，但腳腫者脆皺稱。</p>

<h2>子腫、子氣、子滿、脆腳、皺腳證治</h2>
<p>妊娠腫滿與子氣，水氣濕邪脾肺間，水氣浸胎喘難臥，濕氣傷胎脹難堪，均宜茯苓導水①治，香瓜檳腹四苓攢，桑砂蘇陳脹加枳，腿腳防己喘葶添。</p>
<p>附方：</p>
<p>①茯苓導水湯：茯苓　檳榔　豬苓　縮砂　木香　陳皮　澤瀉　白朮　木瓜　腹皮　桑白皮　蘇梗（各等分）</p>
<p>上，加姜煎服。脹加枳殼；喘加苦葶藶子；腿腳腫加防己。</p>

<h2>子煩證治</h2>
<p>孕婦時煩名子煩，胎熱乘心知母①痊，子芩知麥苓耆草，犀熱參虛膏渴煎。</p>
<p>附方：</p>
<p>①知母飲：知母　麥冬　甘草（各五錢）　黃耆　子芩　赤苓（各七錢半）</p>
<p>上㕮咀，每服四錢，水煎，去滓入竹瀝一兩溫服。</p>

<h2>子懸胎上逼心證治</h2>
<p>胸膈脹滿子懸名，喘甚由胎上逼心，紫蘇飲①用歸芎芍，陳腹蘇甘虛入參。</p>
<p>附方：</p>
<p>①紫蘇飲：當歸　川芎　白芍（各二兩）　陳皮　蘇梗葉　大腹皮（各一兩）　甘草（五錢，炙）　人參（量虛實用）</p>
<p>上㕮咀，每服五錢，生薑五片，水煎，去滓服，日進二服。有熱加黃芩、竹茹；心煩加羚羊角；有食加神麯、山楂。</p>

<h2>子癇證治</h2>
<p>暴僕抽搐不識人，須臾自醒子癇名，羚羊角散①防獨杏，五加棗草薏苡仁，茯苓木香羚羊角，抽搐鉤藤湯②寄生，人參茯神歸桔梗，口喎肢廢中風成。</p>
<p>附方：</p>
<p>①羚羊角散：羚羊角（鎊）　獨活　酸棗仁　五加皮　防風　薏苡仁　杏仁　當歸　川芎　茯神（去木，各五分）　甘草　木香（各二分）</p>
<p>上㕮咀，加生薑五片，水煎服。</p>
<p>②鉤藤湯：鉤藤鉤　當歸　茯神　人參（各一兩）　苦桔梗（一兩五錢）　桑寄生（五錢）</p>
<p>上㕮咀，每服四錢，水煎，去滓，溫服無時，忌豬肉菘菜。煩熱加石膏二兩半；臨產月加桂心一兩。</p>

<h2>子嗽證治</h2>
<p>妊娠咳嗽名子嗽，陰虛痰飲感風寒。痰飲二陳加枳桔①；風寒桔梗湯②可安，紫蘇桔梗麻桑杏，赤苓天冬合貝前。久嗽陰虛宜清潤，麥味地黃湯③自痊。</p>
<p>附方：</p>
<p>①枳桔二陳湯：陳皮　半夏　茯苓（各二錢）　甘草（五分炙）　枳殼　桔梗（各一錢）</p>
<p>上銼，姜煎服。</p>
<p>②桔梗湯：天冬（去心）　赤苓（各一錢）　桑皮　桔梗　紫蘇（各五分）　麻黃（三分，去節）　貝母　人參　甘草（炙，各二分）</p>
<p>上銼，加生薑，水煎服。一方加杏仁無貝母。</p>
<p>③麥味地黃湯：熟地（四錢）　山萸肉（二錢）　山藥（二錢）　澤瀉　茯苓　丹皮（各一錢五分）　麥冬（二錢）五味子（十二粒）</p>
<p>上銼，水煎服。</p>

<h2>轉胞證治</h2>
<p>飲食如常煩不臥，不得小便轉胞稱。舉胎①救急丹溪法，四物升麻參朮陳。服後探吐吐再服，不應阿膠入五苓②。</p>
<p>附方：</p>
<p>①舉胎四物湯：當歸　白芍　熟地　川芎　人參　白朮（各二錢）　陳皮　升麻（各一錢）</p>
<p>上銼，水煎服。</p>
<p>②五苓散</p>

<h2>子淋證治</h2>
<p>子淋頻濁窘澀疼，五淋①梔苓歸芍芩，甘草再加生地澤，車前滑石木通尋。</p>
<p>附方：</p>
<p>①五淋散：赤芍　山梔子（各二錢）　赤茯苓（一錢二分）　當歸（一錢）　子芩（六分）　甘草（五分）</p>
<p>上，水煎服。</p>

<h2>激經、胎漏、尿血總括</h2>
<p>妊娠經來名激經，胎漏下血腹不疼，若是傷胎腹必痛，尿血漏血要分明。</p>

<h2>激經、胎漏、尿血證治</h2>
<p>激經無病不須治，子大能食經自停。胎漏下血多因熱，四物阿膠①梔側芩；或下黃汁豆汁樣，黃耆②糯米苧根銀③；若是尿血膀胱熱，四物④血餘共茅根。</p>
<p>附方：</p>
<p>①阿膠湯：阿膠（炙燥）　熟地（焙）　艾葉（微炒）　芎藭　當歸（切焙）　杜仲（去粗皮，炙銼）　白朮（各一兩）</p>
<p>上㕮咀，每服四錢，棗三枚擘破水煎，去滓，食前溫服。</p>
<p>②黃耆湯：糯米（一合）　黃耆（二兩）　川芎（一兩）</p>
<p>上，細銼，水煎，溫服。一方無川芎。</p>
<p>③銀苧酒：苧麻根（二兩，銼）　紋銀（五兩）　清酒（一盞）</p>
<p>上，水煎，去滓，分溫二服。</p>
<p>④四物湯</p>

<h2>胎不安、小產、墮胎總括</h2>
<p>氣血充實胎自安，衝任虛弱損胎元。暴怒房勞傷肝腎，疾病相干跌撲顛。五月成形名小產，未成形象墮胎言。無故至期數小產，須慎胎為欲火煎。</p>

<h2>胎不安、小產、墮胎證治</h2>
<p>胎傷腹痛血未下，聖愈湯①加杜續砂。下血腹痛佛手散②，膠艾杜續術芩加。十全續縮減苓桂，因病傷胎十聖③誇，跌撲芎藭④調益母⑤，怒勞逍遙③地黃③佳。</p>
<p>附方：</p>
<p>①聖愈湯</p>
<p>②佛手散</p>
<p>③十聖散：人參　黃耆　白朮　熟地黃　砂仁（各五分）　甘草（炙）　當歸　川芎　白芍（各一錢炒）　川續斷（八分）</p>
<p>上銼，水煎服。</p>
<p>④芎藭湯：即佛手散改湯劑。</p>
<p>⑤益母丸：益母草（五月五日，或六月六日採之，陰乾忌鐵器）</p>
<p>上一味，以石器碾為細末，煉蜜丸，彈子大，每用一丸，研化，好酒或溫水送服。</p>
<p>⑥逍遙散</p>
<p>⑦六味地黃湯</p>

<h2>墮胎下血不止、血瘀不出證治</h2>
<p>墮胎暴下血不止，面黃唇白獨參湯①。惡血不出凝脹痛，回生②益母③酌相當。</p>
<p>附方：</p>
<p>①獨參湯：好人參（二兩或四兩）</p>
<p>上，水煎，徐徐服。</p>
<p>②回生丹：錦紋大黃（一斤為末）　蘇木（三兩，打碎，用河水五碗煎汁三碗，聽用）　大黑豆（三升水浸，取殼用棉紗袋盛殼，同豆煮熟，去豆不用，將殼曬乾，其汁留用）　紅花（三兩，炒黃色，入好酒四碗，煎三、五滾，去渣，取汁，聽用）　米醋（九斤，陳者佳）</p>
<p>將大黃末一斤入淨鍋，下米醋三斤，文火熬之，以長木箸不住手攪之成膏，再加醋三斤熬之，又加醋三斤，次第加畢，然後下黑豆汁三碗再熬，次下蘇木汁，次下紅花汁，熬成大黃膏，取入瓦盆盛之，大黃鍋粑亦剷下，入後藥同磨。</p>
<p>人參　當歸（酒洗）　川芎（酒洗）　香附（醋炒）　延胡索（酒炒）　蒼朮（米泔浸炒）　蒲黃（隔紙炒）　茯苓　桃仁（去皮尖油，各一兩）　川牛膝（五錢，酒洗）　甘草（炙）　地榆（酒洗）　川羌活　廣橘紅　白芍（各五錢，酒炒）　木瓜　青皮（去瓤炒，各三錢）　乳香　沒藥（各二錢）　益母草（三兩）木香（四錢）　白朮（三錢，米泔浸炒）　烏藥（二兩五錢，去皮）　良薑（四錢）　馬鞭草（五錢）　秋葵子（三錢）　熟地（一兩，酒浸，九次蒸曬，如法制就）　三稜（五錢，醋浸透，紙裹煨）　五靈脂（五錢，醋煮化，焙乾，研細）　山萸肉（五錢，酒浸，蒸搗）</p>
<p>上三十味，並前黑豆殼共曬為末，入石臼內，下大黃膏拌勻，再下煉熟蜜一斤，共搗千杵，取起為丸。每丸重二錢七、八分，靜室陰乾，須二十餘日，不可日曬，不可火烘，干後只重二錢有零，鑠蠟護之，即蠟丸也。用時去蠟殼調服。</p>
<p>③益母丸</p>

<h2>子死腹中總括</h2>
<p>子死腹中須急下，舌青腹痛冷如冰，時久口中穢氣出，寒熱峻緩詳斟平。</p>

<h2>子死腹中證治</h2>
<p>下胎緩劑佛手散①，峻劑平胃②加芒硝。宜熱宜寒須細審，產婦虛實莫混淆。</p>
<p>附方：</p>
<p>①佛手散</p>
<p>②平胃散：即加味平胃散去人參。</p>

<h2>辨子母存亡</h2>
<p>妊娠一切垂危候，母子存亡可預推，面赤舌青必子死，面青舌赤母命危，面舌俱青口吐沫，子母俱亡二命虧。</p>

<h2>胎兼癥瘕</h2>
<p>妊娠有病當攻下，衰其大半而止之，經云有故而無殞，與病適當又何疑。</p>

<h2>胎不長證治</h2>
<p>胎萎不長失滋養，氣血不足宜八珍①，脾虛胃弱六君子②，谷化精微氣血生。</p>
<p>附方：</p>
<p>①八珍湯</p>
<p>②六君子湯</p>

<h2>子喑證治</h2>
<p>子喑聲啞細無音，非謂絕然無語聲。九月胎盛阻其脈，分娩之後自然通。</p>

<h2>子啼腹內鐘鳴證治</h2>
<p>腹中鐘鳴與兒哭，子啼之證出偶然。空房鼠穴土能治，黃連煎①湯亦可捐。</p>
<p>附方：</p>
<p>①黃連煎：黃連</p>
<p>上一味，煎湯服。</p>

<h2>臟躁證治</h2>
<p>臟躁無故自悲傷，象若神靈大棗湯①，甘草小麥與大棗，方出金匱效非常。</p>
<p>附方：</p>
<p>①甘麥大棗湯：甘草（三兩）　小麥（一升）　大棗（十枚）</p>
<p>上，以水六升，煮取三升，溫分三服，亦補脾氣。</p>

<h2>鬼胎總括</h2>
<p>邪思情感鬼胎生，腹大如同懷子形，豈緣鬼神能交接，自身血氣結而成。</p>

<h2>腸覃石瘕證治</h2>
<p>腸覃石瘕氣血分，寒客腸外客子門，二症俱如懷子狀，辨在經行經不行。石瘕吳萸湯①最效，腸覃香稜丸②若神，丁木茴香川楝子，青皮莪朮與三稜。</p>
<p>附方：</p>
<p>①吳茱萸湯</p>
<p>②香稜丸：木香　丁香（各半兩）　枳殼（麩炒）　三稜（酒浸一夕）　莪朮（細剉，每一兩用巴豆三十粒去殼同炒，待巴豆色黃，去巴豆不用）　茴香（炒）　青皮（炙）　川楝子肉（各等分）</p>
<p>上為末，醋煮麵糊丸，如桐子大，硃砂為衣，每服三十丸，姜鹽湯送下，或溫酒下，無時。</p>

<h2>胎前母子盛衰</h2>
<p>母盛子衰胎前病，母衰子盛產後殃。子母平和無盛衰，坦然分娩不須忙。</p>
<p>胎前有餘詳不足，產後不足審有餘。產後惟多虧損病，胎前子母盛衰知。</p>

<h1>生育門</h1>

<h2>臨產</h2>
<p>妊娠臨產要安詳，腹內雖疼切莫慌，舒身仰臥容胎轉，靜待生時不用忙。</p>

<h2>產室</h2>
<p>產室寒溫要適時，嚴寒酷熱總非宜，夏要清涼冬要暖，病者醫人俱要知。</p>

<h2>擇收生婆</h2>
<p>臨產穩婆須預擇，老成歷練又精明，無故莫教使手法，寬心寧耐待時生。</p>

<h2>驚生</h2>
<p>人語喧譁產母驚，心虛氣怯號驚生，急須止靜休嘈雜，產母心安胎自寧。</p>

<h2>試胎弄胎</h2>
<p>月數未足腹中痛，痛定如常名試胎；臨月腹痛腰不痛，或作或止名弄胎。二者均非正產候，但須寧靜莫疑猜。</p>

<h2>坐草</h2>
<p>坐草須知要及時，兒身未順且遲遲。若教產母用力早，逼胎不正悔難追。</p>

<h2>臨盆</h2>
<p>兒身轉順頂當門，胞漿已破腹腰疼，中指跳動穀道挺，臨盆用力送兒生。</p>

<h2>交骨不開</h2>
<p>交骨不開須細審，或因不足或初胎，總宜開骨①通陰氣，佛手龜版婦發灰；若因不足加參妙，一服能令骨立開。</p>
<p>附方：</p>
<p>①開骨散：當歸（五錢）　川芎（二錢）　龜版（三錢，醋炙，研）　婦人發（一團）</p>
<p>水煎服。</p>

<h2>盤腸生</h2>
<p>盤腸未產腸先出，已產嬰兒腸不收，頂貼萆麻服升補，腸干潤以奶酥油。</p>
<p>附方：</p>
<p>①補中益氣湯</p>
<p>②八珍湯</p>
<p>③十全大補湯</p>

<h2>難產</h2>
<p>難產之由不一端，胎前安逸過貪眠，驚恐氣怯用力早，胞破血壅血漿干。</p>

<h1>產後門</h1>

<h2>胞衣不下證治</h2>
<p>胞衣不下因初產，用力勞乏風冷凝，下血過多產路澀，血入胞衣腹脹疼，急服奪命①沒竭散，勿使衝心喘滿生。諭令穩婆隨胎取，休驚產母莫教聞。</p>
<p>附方：</p>
<p>①奪命散：沒藥　血竭（各等分）</p>
<p>研為細末，黃酒半杯，煎一兩沸，調藥二錢服之。</p>

<h2>產門不閉證治</h2>
<p>產門不閉由不足，初產因傷必腫疼。不足十全大補①治，甘草湯洗腫傷平。</p>
<p>附方：</p>
<p>①十全大補湯</p>

<h2>血暈證治</h2>
<p>產後血暈惡露少，面唇色赤是停瘀；惡露去多唇面白，乃屬血脫不須疑。虛用清魂①荊芥穗，人參芎草澤蘭隨；腹疼停瘀佛手散②，醋漆熏法總相宜。</p>
<p>附方：</p>
<p>①清魂散：澤蘭葉　人參（各二錢）　川芎（五錢）　荊芥穗（一兩）　甘草（二錢，炙）</p>
<p>研為細末，用溫酒熱湯各半杯，調藥一錢灌下。</p>
<p>②佛手散</p>

<h2>惡露不下證治</h2>
<p>惡露不下是何因，風冷氣滯血瘀凝；若還不下因無血，面色黃白不脹疼。風冷血凝失笑散①，去多聖愈②補而行。</p>
<p>附方：</p>
<p>①失笑散</p>
<p>②聖愈湯</p>

<h2>惡露不絕證治</h2>
<p>惡露不絕傷任沖，不固時時淋漓行。或因虛損血不攝，或因瘀血腹中停。審色汙淡臭腥穢，虛補實攻要辨明。虛用十全①加膠續，瘀宜佛手②補而行。</p>
<p>附方：</p>
<p>①十全大補湯</p>
<p>②佛手散</p>

<h2>頭疼證治</h2>
<p>產後頭疼面黃白，無表無里血虛疼，惡露不行兼腹痛，必因瘀血上攻衝。逐瘀芎歸湯①最效，虛用八珍②加蔓荊。</p>
<p>附方：</p>
<p>①芎歸湯（即佛手散）</p>
<p>②八珍湯</p>

<h2>心胃痛證治</h2>
<p>心痛厥逆爪青白，寒凝大岩蜜①溫行，四物去芎加獨活，薑桂茱萸草遠辛；因食惡食多嘔吐，曲麥香砂入二陳②；大便燥結小便赤，兼熱飲冷玉燭③攻。</p>
<p>附方：</p>
<p>①大岩蜜湯：當歸　熟地　白芍（各二錢）　乾薑　肉桂（各一錢）　吳茱萸　獨活　遠志（炙）　細辛　甘草（炙，各八分）</p>
<p>水煎服。</p>
<p>②二陳湯：半夏　陳皮　茯苓　炙草</p>
<p>水煎服。</p>
<p>③玉燭散</p>

<h2>腹痛證治</h2>
<p>去血過多血虛痛，去少壅瘀有餘疼，傷食惡食多脹悶，寒入胞中見冷形。血虛當歸建中①治，瘀壅失笑②有奇功，傷食異功③加楂曲，胞寒香桂④桂歸芎。</p>
<p>附方：</p>
<p>①當歸建中湯</p>
<p>②失笑散</p>
<p>③異功散</p>
<p>④香桂散：當歸　肉桂　川芎（各等分）</p>
<p>上為末，酒調服。</p>

<h2>少腹痛證治</h2>
<p>少腹痛微名兒枕，硬痛尿利血瘀疼，尿澀淋痛蓄水證，紅腫須防㿉疝癃。兒枕瘀血延胡散①，歸芍蒲桂琥珀紅，蓄水須用五苓散②，㿉疝吳萸③溫散行。</p>
<p>附方：</p>
<p>①延胡索散：當歸　赤芍　生蒲黃　桂心　琥珀　紅花　延胡索（各等分）</p>
<p>上以好醋浸一宿，焙乾為末，每服二錢，酒調。</p>
<p>②五苓散</p>
<p>③吳茱萸湯</p>

<h2>脅痛證治</h2>
<p>脅痛瘀滯犯肝經，左血右氣要分明。血用延胡散①可治，氣宜四君②加柴青。去血過多屬虛痛，八珍③加桂補其榮。</p>
<p>附方：</p>
<p>①延胡索散</p>
<p>②四君子湯</p>
<p>③八珍湯</p>

<h2>腰痛證治</h2>
<p>腰疼下注兩股痛，風冷停瘀滯在經，佛手散①加獨活桂，續斷牛膝桑寄生。血多三陰傷氣血，地黃②桂附續杜尋。</p>
<p>附方：</p>
<p>①佛手散</p>
<p>②六味地黃湯</p>

<h2>遍身疼痛證治</h2>
<p>產後身疼榮不足，若因客感表先形，趁痛散①用歸耆朮，牛膝甘獨薤桂心；血瘀面唇多紫脹，四物②秦艽桃沒紅。</p>
<p>附方：</p>
<p>①趁痛散：當歸　官桂　白朮　黃耆　獨活　牛膝　生薑（各五錢）　甘草（炙）　薤白（各三錢半）　桑寄生（五錢）</p>
<p>上㕮咀，每服五錢，水煎服。</p>
<p>②四物湯</p>

<h2>腹中塊痛證治</h2>
<p>產後積血塊沖疼，多因新產冷風乘，急服延胡散①可逐，日久不散血瘕成；更有寒疝亦作痛，吳萸②溫散不須攻。</p>
<p>附方：</p>
<p>①延胡索散</p>
<p>②吳茱萸湯</p>

<h2>筋攣證治</h2>
<p>產後筋攣雞爪風，血虧液損復乘風。無汗養榮兼散邪，四物①柴瓜桂鉤藤；有汗八珍②加桂枝，黃耆阿膠大補榮。</p>
<p>附方：</p>
<p>①四物湯</p>
<p>②八珍湯</p>

<h2>傷食嘔吐證治</h2>
<p>產後傷食心下悶，惡食嘈雜吞吐酸。六君①楂曲香砂共，嘔逆痰涎二陳②煎。</p>
<p>附方：</p>
<p>①六君子湯</p>
<p>②二陳湯</p>

<h2>呃逆證治</h2>
<p>產後呃逆胃虛寒，丁香白蔻①伏龍肝，桃仁吳萸湯沖服，不應急將參附②添，熱渴面紅小便赤，竹茹乾柿橘紅③煎。</p>
<p>附方：</p>
<p>①丁香豆蔻散：公丁香　白豆蔻仁　伏龍肝（各等分）</p>
<p>上為末，生薑湯點服。</p>
<p>②參附湯：人參（一兩）　附子（五錢，炮）</p>
<p>上作一服，薑棗水煎，徐徐服。</p>
<p>③茹橘飲：竹茹　橘紅（各三錢）　乾柿（一枚）</p>
<p>水姜煎服。</p>

<h2>氣喘證治</h2>
<p>產後氣喘為危候，血脫氣散參附煎；敗血上攻面紫黑，二味參蘇①奪命痊。</p>
<p>附方。</p>
<p>①二味參蘇飲：人參（一兩為末）　蘇木（二兩）</p>
<p>上以蘇木煎湯，沖人參末服。</p>

<h2>浮腫證治</h2>
<p>產後腫分氣水血，輕浮脹滿氣之形，水腫喘嗽小便澀，皮如熟李血之情。氣腫枳朮湯①最效，水腫茯苓導水②靈，血腫調中③歸芍木，茯陳煎沖小調經④，歸芍珀麝辛桂沒，理氣調榮瘀血行。</p>
<p>附方：</p>
<p>①枳朮湯：枳實（二兩，炒）　白朮（二兩，土炒）</p>
<p>水姜煎服。</p>
<p>②茯苓導水湯</p>
<p>③小調中湯：茯苓　當歸　白芍　陳皮（各一錢）　白朮（一錢五分）</p>
<p>上作一劑，煎湯服。</p>
<p>④小調經散：白芍　當歸　沒藥　琥珀　桂心（各一錢）　細辛　麝香（各五分）</p>
<p>上為細末，每服五分，薑汁溫酒各少許，調服。</p>

<h2>發熱總括</h2>
<p>產後發熱不一端，內傷飲食外風寒，瘀血血虛與勞力，三朝蒸乳亦當然，陰虛血脫陽外散，攻補溫涼細細參。</p>

<h2>發熱證治</h2>
<p>產後發熱多血傷，大法四物①加炮姜。頭疼惡寒外感熱，四物柴胡蔥白良。嘔吐脹悶傷食氣，異功②查曲厚朴姜。脾不化食六君子③。瘀血腹痛生化湯④，當歸川芎丹參共，桃仁紅花炮乾薑。</p>
<p>附方：</p>
<p>①四物湯</p>
<p>②異功散</p>
<p>③六君子湯</p>
<p>④生化湯：當歸　川芎　丹參　桃仁　紅花　薑炭</p>
<p>水煎服。</p>
<p>勞力發熱用十全①，氣血兩虛八珍②痊，血脫躁熱補血③效，虛陽外越參附煎。</p>
<p>附方：</p>
<p>①十全大補湯</p>
<p>②八珍湯</p>
<p>③當歸補血湯</p>

<h2>寒熱總括</h2>
<p>寒熱往來遞更換，乍寒乍熱時熱寒，寒熱似瘧按時發，壯熱憎寒熱畏寒。</p>
<p>往來寒熱陰陽格，時熱時寒榮衛乖，寒熱似瘧瘀兼食，壯熱憎寒帶表推。</p>

<h2>寒熱證治</h2>
<p>往來寒熱陰陽格，柴胡四物①各半湯；榮衛不和乍寒熱，歸芍芎參甘草姜②；寒熱似瘧瘀兼食，生化③柴胡楂曲良；憎寒壯熱更生散④，歸地芎參荊穗姜。</p>
<p>附方：</p>
<p>①柴胡四物湯</p>
<p>②增損四物湯：（即四物湯）去地黃加人參、甘草、乾薑。</p>
<p>③生化湯</p>
<p>④更生散：當歸　生地　川芎　人參（各二錢）　荊芥穗（三錢）　乾薑（八分，炮）</p>
<p>水煎服。</p>

<h2>自汗頭汗總括</h2>
<p>產後陰虛陽氣盛，微微自汗卻無妨。頭汗陰虛陽上越，周身大汗是亡陽。</p>

<h2>自汗頭汗證治</h2>
<p>虛熱上蒸頭汗出，治用當歸六黃湯①，黃芩連蘗炒黑用，歸耆生熟二地黃。自汗黃耆湯②牡蠣，耆朮苓甘麥地防。大汗不止陽外脫，大劑參附可回陽。</p>
<p>附方：</p>
<p>①當歸六黃湯：當歸　熟地（自制）　黃耆（各二錢，炙）　生地　黃柏（炒黑）　黃芩（炒黑）　黃連（炒黑，各一錢）</p>
<p>上，水煎服。</p>
<p>②黃耆湯：黃耆（三錢，炙）　牡蠣粉（二錢）　白朮（二錢，土炒）　茯苓（一錢）　麥冬（二錢）　熟地（三錢）　防風（一錢）　甘草（七分，炙）</p>
<p>上，加浮小麥一兩，煎服。</p>

<h2>中風證治</h2>
<p>產後中風惟大補，火氣風痰末治之，十全大補①為主劑，臨證詳參佐使宜。</p>
<p>附方：</p>
<p>①十全大補湯</p>

<h2>痙病證治</h2>
<p>新產血虛多汗出，易中風邪痙病成，口噤項強身反折，八珍①耆附桂防風；搖頭氣促汗不止，兩手撮空莫望生。</p>
<p>附方：</p>
<p>①八珍湯</p>

<h2>瘈瘲抽搐證治</h2>
<p>陰血去多陽氣熾，筋無所養致抽搐，發熱惡寒煩又渴，八珍①丹地鉤藤鉤。抽搐無力戴眼折，大汗不止命將休。</p>
<p>附方：</p>
<p>①八珍湯</p>

<h2>不語證治</h2>
<p>產後不語分虛實，痰熱乘心敗血沖，氣血兩虛神鬱冒，實少虛多要辨明。虛用八珍①藤菖志，痰熱星連入二陳②，敗血衝心七珍散③，芎地辛防朱蒲參。</p>
<p>附方：</p>
<p>①八珍湯</p>
<p>②二陳湯</p>
<p>③七珍散：人參　石菖蒲　生地　川芎（各一兩）　細辛（一錢）　防風　辰砂（另研，各五錢）</p>
<p>上為細末，每服一錢，薄荷煎湯調服。</p>

<h1>產後門</h1>

<h2>驚悸恍惚證治</h2>
<p>產後血虛心氣弱，驚悸恍惚不安寧，養心須用茯神散①，參耆地芍桂茯神，琥珀龍齒歸牛膝。憂思歸脾②砂齒靈。</p>
<p>附方：</p>
<p>①茯神散：茯神（一兩，去木）　人參　黃耆（炙）　赤芍　牛膝　琥珀　龍齒（各一錢五分，研）　生地（一兩五錢）　桂心（五錢）　當歸（二兩）</p>
<p>上為末，每服三錢，水煎服。</p>
<p>②歸脾湯</p>

<h2>妄言見鬼發狂證治</h2>
<p>產後譫狂見鬼神，敗血衝心小調經①。心虛悶亂妙香散②，二茯參耆遠志辰，甘桂木麝山藥末，歸地煎調效如神。</p>
<p>附方：</p>
<p>①小調經散</p>
<p>②妙香散：甘草（五錢，炒）　遠志（制去心）　山藥（薑汁炙）　茯苓　茯神（去木）　黃耆（炙，各一兩）　人參　桔梗（各五錢）　辰砂（三錢，另研）　麝香（二錢，另研）　木香（一錢五分）</p>
<p>上為細末，每服二錢，當歸、熟地煎湯調下。</p>

<h2>虛煩證治</h2>
<p>產後血虛煩短氣，人參當歸湯①最良，參麥歸芍熟地桂；瘀血衝心失笑方②，去血過多煩躁甚，須用當歸補血湯③。</p>
<p>附方：</p>
<p>①人參當歸湯：人參　當歸　熟地　麥冬　白芍（各二錢）　五味子（三分）　桂枝（一錢）</p>
<p>上銼，水煎服。</p>
<p>②失笑散</p>
<p>③當歸補血湯</p>

<h2>發渴證治</h2>
<p>氣虛津短參麥飲①，血虛四物②粉麥煎，渴甚竹葉歸耆③效，參朮歸耆竹葉甘。</p>
<p>附方：</p>
<p>①參麥飲：人參　麥冬</p>
<p>上，水煎服。</p>
<p>②四物湯</p>
<p>③竹葉歸耆湯：人參　白朮　當歸　黃耆（炙，各二錢）　竹葉（二十片）　甘草（五分，炙）</p>
<p>上，銼，水煎服。</p>

<h2>咳嗽證治</h2>
<p>產後咳嗽感風寒，旋覆花湯①荊穗前，麻杏半苓赤芍藥，五味甘草棗姜煎；虛火上炎沖肺嗽，麥味六黃②滋化源；瘀血入肺佛手散③，加入桃紅杏貝延。</p>
<p>附方：</p>
<p>①旋覆花湯：旋覆花　赤芍藥　荊芥穗　半夏曲　前胡　甘草（炙）　茯苓　五味子　杏仁（去皮尖，麩炒）　麻黃（各等分）</p>
<p>上㕮咀，每服四錢,　水一盞半，生薑三片，棗一枚，煎至七分，去滓，食前溫服。有汗不宜用。</p>
<p>②六味地黃湯</p>
<p>③佛手散</p>

<h2>衄血證治</h2>
<p>產後口鼻黑而衄，胃絕肺敗藥難醫，參蘭①丹膝生熟地，童便多衝冀萬一。</p>
<p>附方：</p>
<p>①人參澤蘭葉湯：人參（五錢）　澤蘭葉　丹皮　牛膝（各二錢）生地（三錢）　熟地（五錢）　藕節（五枚）</p>
<p>水煎，沖童便服。</p>

<h2>痢證總括</h2>
<p>產後痢名產子痢，飲食生冷暑寒干，裡急後重有餘病，日久滑脫不足看，赤黃稠黏多是熱，清徹鴨溏定屬寒，寒熱溫清調補澀，虛實新久要詳參。</p>

<h2>痢疾證治</h2>
<p>熱痢槐連四物①效；冷熱有餘芍藥湯②，芍藥芩連歸木草，枳桂墜檳痛大黃；虛寒滑脫參朮桂，芍藥呵蔻廣木香，甘草粟殼名養臟③；日久十全大補④良。</p>
<p>附方：</p>
<p>①槐連四物湯：當歸　川芎　赤芍藥　生地　槐花　黃連（炒，各一錢）　罌粟殼（五分，去蒂，蜜炙）</p>
<p>上銼，水煎服。</p>
<p>②芍藥湯：芍藥（炒）　當歸　黃連（各半兩，炒）　檳榔　木香　甘草（炙，各二錢）　桂（二錢五分）　黃芩（三錢，炒）</p>
<p>上，每服半兩，水煎。如不減加大黃。此證又有因中氣虛弱，脾氣鬱結者，治當審察。</p>
<p>③真人養臟湯：人參　白朮　白芍藥（各二錢）　肉桂　肉豆蔻　訶子（煨，各一錢）　木香　甘草　罌粟殼（各八分）</p>
<p>上銼，薑棗煎服。</p>
<p>④十全大補湯</p>
<p>有表痢用敗毒散①，羌獨枳桔共柴前，參苓芎草薑蔥引；暑濕成痢用香連②；血滲大腸成血痢，四物③膠榆余賊添。</p>
<p>附方：</p>
<p>①人參敗毒散：羌活　獨活　柴胡　前胡（各一錢五分）　枳殼　桔梗　人參　茯苓（各一錢）　川芎（八分）　甘草（五分）</p>
<p>上銼，薑蔥煎服。</p>
<p>②香連丸：黃連（十二兩淨）　吳茱萸（十兩，去枝梗）</p>
<p>上，先將二味用熱水拌和，人磁器內，置熱湯燉一日，同炒至黃連紫黃色，去茱用連為末。每末四兩，入木香末一兩，淡醋米飲為丸，梧桐子大，每服二、三十丸，滾湯下。久痢中氣下陷者，用補中益氣湯下；中氣虛者，用四君子下；中氣虛寒者加薑桂。</p>
<p>③四物湯</p>

<h2>瘧疾證治</h2>
<p>產後瘧多因瘀血，榮衛不和熱又寒，生化湯①中加柴甲；痰食二陳②楂樸添；外感不正正氣散③，陳半苓朮蘇樸甘，腹皮桔梗藿香枳，引加薑棗一同煎。</p>
<p>附方：</p>
<p>①生化湯</p>
<p>②二陳湯</p>
<p>③藿香正氣散：藿香（一錢五分）　桔梗　大腹皮　紫蘇　茯苓　白朮（炒）　白芷　半夏曲　陳皮　厚朴（各一錢，炙）　甘草（五分，炙）</p>
<p>上銼，加薑棗，水煎服。</p>

<h2>蓐勞虛羸總括</h2>
<p>產後失調氣血弱，風寒外客內停瘀，飲食過傷兼勞怒，不足之中挾有餘。寒熱往來臍腹痛，懶食多眠頭暈迷，骨蒸盜汗痰嗽喘，面黃肌瘦力難支。蓐勞先須調脾胃，後調榮衛補其虛。</p>

<h2>蓐勞虛羸證治</h2>
<p>扶脾益胃六君子①，谷化精微氣血強，能食漸覺精神爽；調衛和榮三合②良，八珍去朮小柴共，隨證加減效非常。病退虛羸補氣血，八珍③十補④養榮⑤方。</p>
<p>附方：</p>
<p>①六君子湯</p>
<p>②三合散：當歸　白芍　茯苓　熟地（各一兩）　柴胡　人參（各一兩五錢）　黃芩　半夏（制）　甘草（各六錢）　川芎（一兩）</p>
<p>上為粗末，每服一兩，水煎服，日三次。</p>
<p>③八珍湯</p>
<p>④十全大補湯</p>
<p>⑤養榮湯</p>

<h2>血崩證治</h2>
<p>產後亡血更血崩，血脫氣陷病非輕，十全大補①膠升續，棗仁山萸薑炭尋；若因暴怒傷肝氣，逍遙②梔地白茅根；瘀停少腹多脹痛，佛手③失笑④效如神。</p>
<p>附方：</p>
<p>①十全大補湯</p>
<p>②逍遙散</p>
<p>③佛手散</p>
<p>④失笑散</p>

<h2>大便秘結證治</h2>
<p>產後去血亡津液，胃燥腸枯大便難，飲食如常無所苦，不須妄下損真元，量其虛實通利導，血旺津回聽自然。</p>

<h2>小便淋閉證治</h2>
<p>產後淋閉腹脹痛，熱邪挾血滲胞中，四物①蒲瞿桃仁膝，滑石甘草木香通。</p>
<p>附方：</p>
<p>①四物湯</p>

<h2>小便頻數不禁淋瀝證治</h2>
<p>產後小便數且白，腎虛不固自遺尿；因產傷胞多淋瀝。頻數補中益氣①宜，胞傷黃耆當歸②治，參耆朮芍草當歸。不禁六味加桂附③，益智螵蛸補骨脂。</p>
<p>附方：</p>
<p>①補中益氣湯</p>
<p>②黃耆當歸散：人參　白朮（土炒）　黃耆　當歸　白芍（各三錢）　甘草（八分）</p>
<p>上銼，薑棗水煎服。</p>
<p>③桂附地黃湯：熟地（四錢）　山萸肉　山藥（各二錢）　丹皮　澤瀉　茯苓（各一錢五分）　附子（制）　肉桂（各一錢）</p>
<p>上銼，水煎服。</p>

<h2>大便出血證治</h2>
<p>產後便血大腸熱，四物芩連①酒炒黑，地榆阿膠荊穗炒，蜜炙升麻棕櫚灰；脾虛不攝歸脾②效；氣虛下陷補中③宜。</p>
<p>附方：</p>
<p>①芩連四物湯</p>
<p>②歸脾湯</p>
<p>③補中益氣湯</p>

<h2>敗血成癰證治</h2>
<p>榮氣不從逆肉理，敗血留內發癰疽，只用生化①加連翹，銀花甘草乳沒宜，切勿敗毒施過劑，致令潰腐必難醫。</p>
<p>附方：</p>
<p>①生化湯</p>

<h2>產後虛實宜審</h2>
<p>震亨產後惟大補，從正莫作不足看，二說須合形症脈，攻補虛實仔細參。</p>

<h1>乳證門</h1>

<h2>乳汁不行證治</h2>
<p>產後血虛乳汁少，四物①花粉不留行，木通豬蹄湯熬服，蔥白煎湯乳房淋。</p>
<p>附方：</p>
<p>①加味四物湯：當歸　白芍　熟地　川芎　花粉　王不留行（炒）　木通（各二錢）</p>
<p>用豬蹄熬湯煎藥服。</p>
<p>氣脈壅塞乳脹痛，湧泉散①用白丁香，王不留行天花粉，漏蘆殭蠶豬蹄湯。</p>
<p>附方：</p>
<p>①湧泉散：白丁香　王不留行　花粉　漏蘆　殭蠶（各一錢）</p>
<p>豬蹄湯煎服。</p>

<h2>乳汁自湧證治</h2>
<p>產後乳汁暴湧出，十全①大補倍參耆；食少乳多欲回乳，免懷②紅花歸芎膝；無兒食乳乳欲斷，炒麥芽湯③頻服宜。</p>
<p>附方：</p>
<p>①十全大補湯</p>
<p>②免懷散：紅花　赤芍　歸尾　牛膝（各二錢）</p>
<p>銼散，水煎服。</p>
<p>③麥芽煎：麥芽（三兩）</p>
<p>水煎作茶飲。</p>

<h2>乳證總括</h2>
<p>乳房忽然紅腫痛，往來寒熱乳癰成。乳被兒吹因結核，堅硬不通吹乳名。初起結核不腫痛，年深內潰乳岩凶。乳頭生瘡名妒乳，細長垂痛乳懸稱。</p>

<h2>乳癰證治</h2>
<p>乳癰初起消毒飲①，青芷歸柴浙貝蠶，花粉銀花甘草節；寒熱荊防羌獨添；膿成皂刺穿山甲；潰後益氣養榮煎②。</p>
<p>附方：</p>
<p>①消毒飲：青皮　白芷　當歸　柴胡　浙貝母　殭蠶　花粉　金銀花　甘草節（各等分）</p>
<p>銼散，水煎服。</p>
<p>②益氣養榮湯（即人參養榮湯）</p>

<h2>吹乳證治</h2>
<p>吹乳結核栝蔞散①，乳沒歸甘用酒熬；更加皂刺名立效②，已成膿潰未成消；外敷星夏蠶芷刺，草烏為末蜜蔥調。</p>
<p>附方：</p>
<p>①栝蔞散：栝蔞實　乳香　沒藥　當歸　甘草（各等分）</p>
<p>上，為末，用黃酒熬服。</p>
<p>②立效散：即栝蔞散加皂角刺。</p>

<h2>乳岩證治</h2>
<p>乳岩鬱怒損肝脾，流氣飲①歸芍參耆，芎防蘇芷枳桔草，檳榔烏樸桂通隨；外熨木香生地餅，青皮甘草②服無時。潰後不愈須培補，十全③八珍④或歸脾⑤。</p>
<p>附方：</p>
<p>①十六味流氣飲：當歸　白芍　人參　黃耆（各二錢）　川芎　防風　蘇葉　白芷　枳殼　桔梗（各一錢）　甘草　檳榔（各五分）烏藥　厚朴　官桂　木通（各八分）</p>
<p>銼末，每服五錢，水煎服。</p>
<p>②青皮甘草散：青皮　甘草（各一錢）</p>
<p>為末，煎濃薑湯調服。</p>
<p>③十全大補湯</p>
<p>④八珍湯</p>
<p>⑤歸脾湯</p>

<h2>妒乳乳懸證治</h2>
<p>妒乳甘草鹿角散①，雞子黃調炙敷之；連翹散②防升元芍，蘞射硝黃甘杏宜。瘀血上攻乳懸證，芎歸湯③飲更熏鼻，不應萆麻貼頂上，乳收即去莫遲遲。</p>
<p>附方：</p>
<p>①鹿角散：鹿角　甘草（各等分）</p>
<p>上為細末，用雞子黃放在銅器內調勻，炙熱塗敷。</p>
<p>②連翹散：防風　元參（各二錢）　白蘞　芒硝　大黃　射干　白芍（各一錢）　升麻　甘草（各五分）　杏仁（二十粒）</p>
<p>上為末，姜水煎服。</p>
<p>③芎歸湯（即佛手散）</p>

<h1>前陰諸證門</h1>

<h2>陰腫證治</h2>
<p>婦人𤵄痃兩拗痛，玉門腫脹墜而疼，濕熱龍膽瀉肝①治，導赤車前澤瀉芩，當歸梔子龍膽草，氣虛下陷補中②升，艾防大戟熬湯③洗，枳實陳皮炒熱騰④。</p>
<p>附方：</p>
<p>①龍膽瀉肝湯：生地　澤瀉　黃芩　當歸（各二錢）　木通　車前子（各一錢五分）　黑梔仁　龍膽草（各一錢）　生甘草（五分）　燈草（一團）</p>
<p>水煎服。</p>
<p>②補中益氣湯</p>
<p>③熏洗方：防風（三錢）　艾葉（一團）　大戟（一錢）</p>
<p>熬湯熏洗。</p>
<p>④騰熨方：枳實　陳皮（各等分）</p>
<p>為細末炒熱騰敷之。</p>

<h2>陰痛證治</h2>
<p>陰中痛名小戶嫁，痛極手足不能舒，內服加味逍遙散①，四物乳香搗餅敷②。</p>
<p>附方：</p>
<p>①加味逍遙散：即逍遙散加丹皮、梔子。</p>
<p>②敷方：四物湯（一料）　乳香（一錢）</p>
<p>搗餅納入陰戶中。</p>

<h2>陰癢證治</h2>
<p>濕熱生蟲陰戶癢，內服逍遙①龍膽②方；桃仁膏③合雄黃末，雞肝切片納中央。</p>
<p>附方：</p>
<p>①逍遙散</p>
<p>②龍膽瀉肝湯</p>
<p>③桃仁雄黃膏：桃仁（五錢，研膏）　雄黃（三錢，末）</p>
<p>二味研勻用雞肫肝切片，蘸藥納陰戶中。</p>

<h2>陰挺證治</h2>
<p>陰挺下脫即㿗疝，突物如蛇或如菌。濕熱腫痛溺赤數，氣虛重墜便長青。氣虛補中①青梔入；濕熱龍膽瀉肝②尋。外熬蛇床烏梅洗③，豬油藜蘆敷④自升。</p>
<p>症屬濕熱的，多兼見陰戶腫疼，小便赤數，可用龍膽瀉肝湯，清瀉濕熱；症屬氣虛不固的，多兼見陰戶重墜和小便清長。可內服補中益氣湯升提固脫，加青皮以平肝氣，加梔子以清利三焦。外用蛇床子、烏梅，熬水熏洗來祛濕消腫，清熱解毒；再用豬油調藜蘆末敷抹。這樣就會很快的痊愈。</p>
<p>附方：</p>
<p>①補中益氣湯</p>
<p>②龍膽瀉肝湯</p>
<p>③蛇床洗法：蛇床子（五錢）　烏梅（九枚）</p>
<p>熬湯乘熱熏洗。</p>
<p>④藜蘆敷法：藜蘆（為末）</p>
<p>用豬脂油調敷自收。</p>

<h2>陰瘡證治</h2>
<p>䘌蝕成瘡濃水淋，時疼時癢若蟲行，少腹脹悶溺赤澀，食少體倦晡熱蒸，四物①柴梔丹膽草；潰腐逍遙②墜補中③。</p>
<p>附方：</p>
<p>①四物湯</p>
<p>②加味逍遙散</p>
<p>③補中益氣湯</p>

<h2>陰痔證治</h2>
<p>陰中突肉名陰痔，或名茄子疾俗稱，黃水易治白難治，烏頭存性醋熬熏①；內服逍遙②與龍膽③，補中④歸脾⑤酌量行。</p>
<p>附方：</p>
<p>①陰痔熏法：烏頭</p>
<p>用濃醋熬熏自消。</p>
<p>②逍遙散</p>
<p>③龍膽瀉肝湯</p>
<p>④補中益氣湯</p>
<p>⑤歸脾湯</p>

<h2>陰冷證治</h2>
<p>陰冷風寒客子臟，桂附地黃丸①最宜，遠志乾薑蛇床子，吳萸為末②裹納之。</p>
<p>附方：</p>
<p>①桂附地黃丸：即六味地黃湯加肉桂、附子。</p>
<p>②溫中坐藥方：遠志　乾薑　吳茱萸　蛇床子（各等分）</p>
<p>研細末綿裹納陰戶內，一日換二次。</p>

<h2>陰吹證治</h2>
<p>胃氣下泄陰吹喧，金匱方用膏發煎①，豬膏亂髮同煎服，導從溺去法通元；氣虛下陷大補②治，升提下陷升柴添。</p>
<p>附方：</p>
<p>①膏發煎：婦女亂髮（一團）</p>
<p>用豬膏熬化服之，小便利則愈。</p>
<p>②十全大補湯</p>

<h2>交接出血證治</h2>
<p>交接出血傷心脾，伏龍肝末入歸脾①；千金桂心釜底墨②，酒服方寸匕相宜。</p>
<p>附方：</p>
<p>①歸脾湯</p>
<p>②桂心釜墨散：桂心　釜底墨（百草霜）（各等分）</p>
<p>二味為末，酒服方寸匕。</p>

<h1>雜證門</h1>

<h2>熱入血室</h2>
<p>熱入血室經適斷，邪熱乘虛血室潛，寒熱有時如瘧狀，小柴胡①加歸地丹。</p>
<p>附方：</p>
<p>①加味小柴胡湯：柴胡　黃芩　人參　半夏　炙草　當歸　生地　丹皮</p>
<p>加薑棗水煎服。</p>
<p>熱入血室經適來，晝日明瞭夜譫妄，無犯胃氣上二焦，熱隨血去自無恙。</p>
<p>熱入血室成結胸，下血譫語頭汗出，二者皆當刺期門，隨其實取泄而去。清熱行血①桃紅丹，靈脂地草穿山赤。</p>
<p>附方：</p>
<p>①清熱行血湯：桃仁（一錢）　紅花（一錢）　丹皮　五靈脂　生地（各二錢）　甘草（五分）　穿山甲　赤芍（各一錢）</p>
<p>水煎服。</p>

<h2>血分水分總括</h2>
<p>經水先閉後病腫，任沖寒濕血壅經；先發水腫後經閉，水溢皮膚氾濫行。血分難醫水易治，二者詳參要辨明。</p>

<h2>血分證治</h2>
<p>血分血壅不能行，四肢浮腫病非輕，但使經通腫自散，紅丹膝入小調經①。</p>
<p>附方：</p>
<p>①小調經散</p>

<h2>水分證治</h2>
<p>先腫後閉名水分，停飲膀胱氣不行，水消腫退經自至，茯苓導水①效通神。</p>
<p>附方：</p>
<p>①茯苓導水湯</p>

<h2>夢與鬼交證治</h2>
<p>獨笑獨悲畏見人，神虛夜夢鬼邪侵，歸脾湯①調辰砂珀，定志清心魂魄寧。</p>
<p>附方：</p>
<p>①歸脾湯</p>

<h2>梅核氣證治</h2>
<p>婦人咽中如炙臠，或如梅核結咽間。半夏厚朴湯①最效，半樸蘇苓姜引煎。</p>
<p>附方：</p>
<p>①半夏厚朴湯：半夏　厚朴　蘇葉　茯苓（各二錢）　生薑</p>
<p>水煎服。</p>

<h2>血風瘡證治</h2>
<p>遍身㾦㿔如丹毒，癢痛無時搔作瘡，血風風濕兼血燥，加味逍遙①連地方；愈後白屑肌膚強，血虛不潤養榮湯②。</p>
<p>附方：</p>
<p>①加味逍遙散</p>
<p>②益氣養榮湯（即人參養榮湯）</p>

<h2>臁瘡證治</h2>
<p>憂思鬱怒肝脾損，濕熱生瘡長兩臁，外屬三陽為易治，內屬三陰治每難。初起紅腫敗毒散①，濃水淋漓補中②煎，晡熱陰虛宜六味③，食少畏寒桂附丸④。</p>
<p>附方：</p>
<p>①人參敗毒散</p>
<p>②補中益氣湯</p>
<p>③六味地黃丸</p>
<p>④桂附地黃丸</p>

<h2>足跟痛證治</h2>
<p>督脈發源腎經過，三陰虛熱足跟疼，六味地黃①滋真水，腫潰流膿用八珍②。</p>
<p>附方：</p>
<p>①六味地黃丸</p>
<p>②八珍湯</p>
