<header data-type="book">
<h1>壽山筆記</h1>
</header>

<h1>序</h1>
<p>醫書汗牛充棟，不知凡幾，皆古聖賢相傳之書，而學者雖不能多讀其書，然而於《內經》、《金匱》、《傷寒》以及《溫病論》等書，平時不可不讀，否則治病如盲，殺人如菅，可不悲夫！而今之習醫者，酬應穿勩之外，但讀湯頭數首而已。從師一年半載即懸壺，於人之性命一層，毫不介意，口出狂言，眇視無人，惟我獨傳，使生者悲哀，死者含冤，是誰之過歟！清夜思之，可不寒心。餘生也魯，既乏誦讀之功，而又年老衰頹，疾病纏身，欲作息肩之計矣。但所惜數十年親歷之病案，並所記古人之要論，未得錄存，故倩人代抄，或有謬疵未妥，望諸君子斧正，則余幸甚。思曩昔繆氏有《松心筆記》，尤氏有《讀書記》，余則亦以是名，顏曰《壽山筆記》，然效顰之誚所不能辭也。惟以淺近芻蕘之言，令習是道者，稍知一二，亦可以補學者之不逮。</p>
<p><u>光緒七年春三月下澣，楊淵子安識，時年六十九</u></p>

<h1>胎漏胎下之別</h1>
<p>胎漏、胎下皆下血如崩。但胎漏所下之血塊，塊上無衣膜；胎下之血塊，塊上有衣膜可辨。其辨之之法，出於《洗冤錄》，蓋治法有天壤之異。假如血行如崩，其胚胎下與否，一時難決，須驗之於血塊，否則抑以祛瘀攻胎為事，抑以安胎補攝為事耶？須要辨明，庶無差誤。女科書中從未論及。《洗冤錄》與醫家頗有裨益。</p>

<h1>胎動胎漏並衃胎說</h1>
<p>胎動、胎漏皆下血，而胎動有腹痛，胎漏無腹痛為異。故胎動宜行氣，胎漏宜清熱。</p>
<p>胎與衃之別，當於血未斷之前三月求之，前三月之經水順利，則經斷必是胎；前三月有曾經下血，則經斷必成衃。衃，音壞，凝血也。衃血謂敗惡凝聚之血，色赤黑也。衃，胎未成物之始。</p>

<h1>產後內風成痙不治</h1>
<p>凡產後牙齩忽然緊急，不得開合，並不腫脹，亦無寒熱，神識清朗。此因產後血虛，內風陡起，襲入於陽明之絡，症所不治。在古法雖有舉卿古拜散等，或養血以祛風，然投劑未見一效，或作外症醫，更屬大謬。此症每忽而不察，慎之！慎之！</p>

<h1>生化湯解</h1>
<p>產後諸病，總宜以生化湯為主，隨症加味可也。《竹林寺世傳秘本》生化湯云：論產後血氣暴虛，理當大補，但惡露未盡，用補須知毋滯血，能化又能生，毋損元，行中帶補，方為萬全。世以回生丹下胞胎，攻血塊，雖更速效，未免虧損元氣，非良劑也。不得已而用之，只可服一丸，以參湯下之，庶無虞耳。夫生化湯以藥性功用而立名也。夫產後瘀固當消，新血宜生，若專消瘀則損新血，專生血能生新血，佐以炮薑、甘草引三味入肺肝，生血理氣，五味共方則行中有補，化中有生，實產後之要藥也。加減得宜，是在臨證者之善悟可耳。</p>

<h1>產後治法</h1>
<p>產後憂驚勞倦，血氣暴虛，諸症易起，有產勿專耗散，有食勿專消導，熱不可用芩、連，寒不可用桂、附，寒則惡血停結，熱則新血崩流。至若外感見三陽表症，似可汗也，在產後而用麻黃，則重竭其陽。見裡實症，似可下也，在產後而用承氣則中氣殆矣。耳聾脅痛，乃肝腎之虛，休用柴胡。囈語汗出，乃亡陽之兆，勿作胃實。厥由陰陽竭絕，痙因精血虧耗，非大補不治。乍寒乍熱，發作有期，若以瘧治，則遷延難愈。神不守舍，語無倫次，若作邪論，則危亡可待。去血多而大便燥結，蓯蓉可加入生化湯中，非潤腸丸、承氣湯之可施。汗多而小便短澀，六君子倍加參、耆，生津補氣可利。㿗疝脫肛，多是氣虛下陷，生化湯參補中益氣。口噤拳攣，乃因血燥類風，加參生化宜服。產戶入風而痛甚，服宜羌活養營。玉門寒冷而不閉，洗宜床、菟、萸、硫。類怔忡、驚悸，生化加定志之品；似邪恍惚，生化加安神之法。因氣而虛煩滿悶，生化加木香為佐。因食而酸噯惡食，合六君加神麯、麥芽為良。不可用蘇木、稜、蓬以破血，不可用青皮、枳實以消脹。血崩、血暈之危，肝脫、氣脫之急，連煎加參生化湯為最要務也。王太僕云：治下補下，制以急。緩則道路遠而力微，急則氣味厚而力重。丹溪云：產後切不可發表。故治產固本，當遵丹溪，服法宜效太僕。</p>
<p>此篇全論似屬過偏，然皆說盡時弊。夫產後之病，較之平人略為虛耳，若夫大實之症，如用攻滌，須制小其劑，照顧元氣可耳。假如產後未滿七朝經氣一周之時，設有大寒大熱大危之候，即進醫藥，亦難奏功。目睹屢屢，蓋七日經氣一周，七日之內，氣血未周，而發大寒大熱，正氣虛極之際，用藥不易，達表則汗多陽亡，攻下則腸滑氣脫，補則恐有留邪，此等虛實濛混之症，斷不可草率議方也。</p>

<h1>經閉虛實論</h1>
<p>夫經閉有虛有實，痛者是實，不痛為虛；痛者宜通，不痛宜補。若通而血仍不行者，系衝任內虧，八脈無權，以沖為血海，虛極而有失守之虞，故每慮猝然崩下，如垣之將圮，如水之無御，須預防之，亟進八珍、歸脾之類。</p>

<h1>血崩案</h1>
<p>余曾治一婦人，二月間小產後，繼得崩漏，成盆之多，醫以補攝之劑，血愈崩。至四月，邀余診，診得脈象弦數，知是陰虛之體，衝任伏火迫血妄行，徒補無益。乃擬《內經》烏賊骨丸，參入黃連、黃柏、細生地、地榆、血餘、側柏、陳棕，均炙炭，加樗根皮煎湯代水，一服而血止大半，續進至二十餘劑乃安。前醫云：產後忌黃連、黃柏，苦寒敗胃。不知對症發藥，曷能奏效。</p>

<h1>肝氣論</h1>
<p>讀《客塵醫話》論肝氣一則，屬於先天肝血不足。可稱獨開生面，為後學之金針，非守常通套者可比。學者於此揣摩，學問必長。然而滋養之法，亦須參究，宜乎滋補而勿礙於氣滯，措方甚難。余思首烏一味，較熟地稍松靈，如用熟地，須拌炒得法，曾有友人以肉桂末拌炒，意亦頗妙。</p>

<h1>景岳論肝無補法</h1>
<p>凡一切痃、癖、癥、瘕、痞氣、奔豚，腹中如杯如盤者，皆肝虛金衰木旺之病，當滋腎水以救之，切不可用疏利伐肝之劑。足厥陰肝為風木之臟，喜條達而惡抑鬱，故《經》云「木鬱達之」是也。然肝藏血，人夜臥則血歸於肝，是肝之所賴以養者血也。肝血虛則肝火旺，肝火旺者，肝氣逆也，肝氣逆則氣實，為有餘，有餘則瀉，舉世盡曰伐肝，故為肝無補法。不知肝氣有餘不可補，補則氣滯而不舒，非云肝之血之不可補也。肝血不足則為筋攣、為角弓、為抽掣、為爪枯、為目眩、為頭痛、為脅肋痛、為少腹痛、為疝痛諸證。凡此皆肝血不榮也，而可以不補乎？然補肝血，又莫如滋腎水，水者木之母也，母旺則子強，是以當滋化源。若謂肝無補法者，以肝氣之不可補，而非謂肝血之不可補也。</p>
<p>余友湯菊畦先生診方伯夫人肝氣，諸醫治之罔效，用景岳理陰煎，大熟地以肉桂末拌，炒鬆，服之霍然而愈。</p>

<h1>失血論</h1>
<p>吐血，未必盡由於火。六氣均能令人失血者，治當先清外感，次理內傷，則邪易療。若專主於火，日事芩、連、知母，未見盡能應手。</p>

<h1>眩暈論</h1>
<p>風火之眩暈，屬外感夾痰，病在少陽為多。內傷之眩暈，屬腎虛髓不足，虛陽上擾居多。一宜清降，一宜補納。又論失聰，屬虛在肝腎之不足，屬實乃邪干竅閉，宜治少陽也。</p>

<h1>疝氣不可專疏肝邪論</h1>
<p>《聖濟總錄》云：嗜欲勞傷，腎水涸竭，無以滋養肝經，氣乃留滯，發為陰疝，是疝之屬於腎虛者。若不求本，專以疏肝導氣之法，勢必益劇而難療，宜溫養下焦，如枸杞、破故、茴香、肉果、沉香、巴戟、胡巴、蓯蓉、肉桂炒熟地、杜仲等味，最為合法。</p>

<h1>便血痔血論辨</h1>
<p>便血一症，《金匱》分遠近，總由大腸而下，至於痔血，每下如滴，愈罨愈多。褚氏云：腸有竅，便血殺人，包括二症也。凡便血每於藜藿之人居多，以其勞役傷脾，脾失統御之權，而血為之不守者也。痔血每生於膏粱者，曲糵厚味，積濕積熱，留頓大腸廣腸之處，每逢便後，其痔或內或外，從肛門墜下，血隨滴滴淋下，是為痔血，與便血兩途，醫者不可不辨。余每以臟連丸或加苦參、萆薢，或參補中益氣法投之輒效。然須丸料，非煎劑所能治。此症最忌房事，若不絕欲，總要反復。</p>
<p>肛癰、懸癰，禁忌同上，然非盡由虛。余幼時患肛間生癰，大為所苦，自十五歲至二十七歲，竄生六枚，皆成漏管，滋膿淋瀝，脹楚難堪，是時又患三瘧吐血，人皆以為成癆矣。後至吳門，心境稍舒，復又酒醴不禁，肛門內痛如刀刺，大便欲行不暢。醫謂陰虛濕熱，非補納不可，遂進熟地、龜板，參、耆之類，其痛更劇，延至經月，余意必得大便方快，乃自投更衣丸一二錢，大便始通，痛亦稍緩，再一服，便暢痛止矣。後數月，每逢大便必帶血，血如注，肛旁之漏不覺痛楚，竟暗自收疤矣。想所伏之熱搏聚於大腸，而痔血為出路，故肛漏得以痊愈也。余任其出路，未服一劑湯藥。今年屆七旬，幸未成癆，可見症有虛實，不可不察，有虛證似實，實證類虛，截瘧成脹，西昌戒以推蕩，學者於此揣摩，功夫日進矣。</p>

<h1>肛癰有虛實</h1>
<p>肛癰之症，舉世盡曰陰虛濕熱，然小兒亦有患此者，雖曰陽有餘，陰不足，然小兒無下虛之理，實皆濕熱為患耳。故患是症者，切勿遽用補納，致濕熱之邪，錮閉不泄，轉致攻竄不已也。且此症收疤甚難，地處空隙，其肉橫紋，每一勞動，潰孔時時開合故也。始起濕熱留頓，延至一二年，或不忌房事，或強制火動，反為真真陰虛，成癆不治。醫者宜辨明施治可耳。</p>

<h1>內痔用下法</h1>
<p>治內痔之方甚多，總不及大黃一味之速。余見一人上患吐血，下復生痔，痔發血亦發，後服生軍兩許，始得安康。蓋肺與大腸相為表裡，肺之熱下移，腸中之火上衝，設投養陰滋膩，其熱淹留，必成癆怯。雖未必盡然，然確有是理。</p>

<h1>中風不可驟補說</h1>
<p>今人每見中風症，輒以大造丸、人參、熟地峻補，其害有不可勝言者。蓋醫之意，在水虧木旺、陰陽暴脫而設，不知中風絕非純虛之症，其人調攝不慎，或酒色自戕，一時風、火、痰，陡然上升，壅閉經絡，是虛則為本，而風、火、痰為標矣。治法須清降痰火，熄風平肝，俟風火之威稍熄，痰壅氣塞略平，方可圖治本元。然耶！否耶！</p>

<h1>歷節風治法</h1>
<p>有病後或濕熱留戀陽明，四肢歷節痛風，名曰白虎歷節。仲景木防己湯最靈。有體質不勝石膏者，以羚角代之，然不若石膏之合於病也。至夜痛劇者，陰虛絡失所養，非養血不可。</p>

<h1>水腫風水單脹說</h1>
<p>水腫：下體足跗先腫，及腹以及囊、莖，小溲不利，大便或溏，脈形沉細，宜真武湯、五苓散加椒目、大腹之類，或金匱腎氣丸溫下之神效。外用熨法，其囊、莖水出可松。如風水之症，面目、一身悉腫，畏風形寒，其脈帶浮，當以麻黃、浮萍、桂枝，或加附子、白朮之類，疏風祛濕。此等症最易發喘，古云：先脹後喘治在脾，先喘後脹治在肺。不可不辨。若夫單脹之說，治之最難，然濕熱居多，小溫中丸每每獲效。有陽虛者，宜大針砂丸。然二丸皆忌食鹹。須知。</p>

<h1>寒包火論</h1>
<p>寒包火之症，惡寒內熱，喘咳無汗，舌津干，或屢投汗劑，不得滴汗，須用麻杏石甘以滋胃液而開肺經，古法中第一禁方。余曾治一人冬月壯熱無汗，喘咳無痰，前醫屢投麻黃仍無汗泄，余見其舌津乾白，中心帶黃，焦灼煩悶，脈洪數，口乾不多飲，與麻杏石甘湯一劑，汗大出而咳痰膿厚，痰中血縷數點，繼以清泄而愈。病家詢余曰：何前之麻黃未得一毫汗泄，先生加以石膏寒涼，反得暢汗，其故何歟？余曰：譬如鍋上蒸物，但以薪灼其鍋，則鍋愈燥，不獨無氣水上蒸，且恐爆烈矣。余以石膏滋清胃液，液充乃能化汗，鍋中添水，蒸籠上自然津津而潤。子又何疑耶？再有陰液不足之軀，可加生地；陽氣薄弱之輩，宜佐人參。又有內壅無汗，不在此例。</p>

<h1>內壅無汗說</h1>
<p>𰣤痧一症、世人皆用重劑表達，冀其汗暢痧透，俟其舌絳如楊梅刺，液干口渴者，然後轉進清解；如內有食滯，脘痞腹痛，大腹秘結，痧點隱約，用大劑表達之仍無汗泄，舌苔轉為焦黃，脈象反形沃塞，煩躁無寐，此痧之不達，由於中焦壅結，當以下劑中參入清透之品，冀得大便一通，中宮舒展，蓄熱一泄，𰣤痧自透矣。曾治一女，年已標梅，壯熱無汗，𰣤痧密布，不克透綻，胸悶腹痛拒按，便秘七八日，舌苔焦垢津干。醫進麻、葛、浮萍，依然無汗。余診之，脈形細小沃澀，陽明燥熱蘊結，耗爍陰液，萬難重表，然寒涼又恐凝遏，前醫已束手，余乃獨任，因與病家說明證象，宜用下藥，仿急下存津之意，參入清透之品，背城借一，或可望其轉機，但安危未卜，難許全功。病家云：與其不可挽回，寧請放膽用藥，決勿怪怨。乃以大黃、元明粉、犀角、黑膏、枳實、杏仁、蔞仁，略加麻黃、西黃、中黃等劑，服藥後大便下色黑帶血，堅硬如石，翌日往診，熱退津回，𰣤痧盡退，病已大減，繼以清養而愈。</p>

<h1>𰣤痧舌白用清藥論</h1>
<p>凡𰣤痧表達之後，邪熱化火，津液爍傷，舌轉絳刺，方書云：見楊梅刺舌方可清涼。然有素體痰多，其舌終白不化，未可以梅刺一語，守定成法而遲進清涼，致有劫津而神昏譫語之變。余曾治外甥女痧點滿布，舌苔白膩不化，乃遲遲不敢遽清。此日間事也，至夜半後忽然神識迷濛，譫語躁煩，因即改投清解而安。故知痰多者，舌苔不現絳刺，邪已化火內燔，痰熱溷淆，且易矇蔽內竅耳。為醫者當識此也。</p>

<h1>液虧無以作汗雖得不暢論</h1>
<p>每見傷寒，冬溫鬱伏，灼熱無汗，煩悶咳嗽，痰黏口渴，舌白尖干，投以表達，汗不得，熱不退，此係陰虧液少，所謂奪液無汗也。余曾以麻杏石甘湯治之頗效，如便溏不勝石膏之寒涼，淡豆豉合鮮石斛同搗用之，亦得暢汗而解，此余所親歷者也。</p>

<h1>食復治驗</h1>
<p>余昔在申江診陶石卿先生，時值歲暮，小有寒熱，投疏散之劑，至一候而解。繼因恣食米糕，復增身熱，神情憒憒，中脘按之似痛非痛，目赤，口不渴飲，脈濡數，進疏導，繼以清泄之劑，神識愈糊，復投珠粉，竹瀝，牛黃丸，神識乃稍清而病仍不退。一醫云：是陰症內陷，不治。余構思終夜，忽得其法，病人曾食熯糕，大便從未得行，因舌苔白，不拒按，矢氣不多，未敢峻攻。昔王肯堂《筆麈》載俞云衢太史案，與此症相符，宗其意，用涼膈散下之，得燥屎三五枚，再進，再下燥屎數十枚，身反大熱，咽口腐爛，斑疹疊布，一月始痊。蓋邪熱未清，覆被新食阻遏，以致熱反不揚，一下之後，邪食上通下達，熱勢反壯，乃外泄之佳兆，後學知此理否？</p>

<h1>吸菸人患痢說</h1>
<p>吸雅片人，乃自戕其身，都成煙癆。適夏、秋之交，感受暑濕，釀成痢疾，醫者極難處治。余謂有滯仍當疏導，若早為兜澀，是猶驅盜入室，反閉其門戶，欲求安逸，其可得乎？市醫每逢吸菸人患痢，不敢攻克，或早投補劑，病者加多吸菸，以冀即止。殊不知煙性收斂，雖進導滯，其滯較常人更難下通，以其欲下而適吸止也。余曾患此，知其玄奧，起始不敢少吸，其痢愈覺澀滯，延至數日後，大下夙積，腹中遂快，而痢漸止，續以疏導和營之劑進之，外用熱腳爐烘熨甚適。大約治是症以溫通為主，而黃連從來未用，蓋吸菸之體，喜溫而惡寒耳。</p>
<p>按：治痢以胃氣為主，有胃則生，無胃則死。有胃者尚可攻克，無胃者豈能推蕩。故諺云：吃不死之痢。蓋能食尚有胃氣耳。又按：痢疾，古稱滯下，必因積滯蘊釀而成，治者須辨其寒、熱、濕、食，或挾雜感受所致，可隨症用藥，方無差誤。</p>

<h1>痢症用外治說（附：蔥熨法）</h1>
<p>夫積滯皆存留於腸胃，腑以通為用，積滯於中，氣閉不通，故必腹痛。痛劇無奈之時，外用熨法以助藥力，是亦法中之善者也。惟熨方以溫通香竄為佳。</p>
<p>蔥熨法　蔥一把，打爛，入官桂末、砂仁末、麝香少許，再打和如餅，烘熱貼當臍，外用熱爐或麩皮炒熱，絹包熨蔥餅上，令溫通之，氣內達，則痛自緩。蔥熨之藥，可隨症加減，此治寒滯之症。若熱結於中，又非此法可施也。</p>

<h1>泄瀉論</h1>
<p>《經）云：暴注下迫。即泄瀉是也。其初起也，在乎脾運失職，濕勝則濡瀉；其繼也，在乎小腸泌別不清。小腸在胃之下，受盛胃中水穀，以分清濁，水液滲於膀胱，糟粕歸於大腸。暑濕之邪鬱於脾，蒸化為熱，傳於小腸，小腸為濕熱之氣壅閉不宣，以致不克分清而成泄瀉。初起挾表邪者，西昌逆流挽舟法最妙，蓋先提解，令邪從外達，風藥又能勝濕之瀉，不獨發汗也；表解後泄不止，當從燥濕分利，挾熱兼清可也；如瀉時肛門熱，可佐黃連、黃柏以清其熱，是症小溲必少，因其膀胱之水並趨於大腸，須佐車前子以分利之，小水得利，大腑自實矣。再是症多挾食滯，始因水濕而瀉，而積食未下，故瀉止之後，大便反二三日不行，當俟其矢氣頻行，乃進輕劑導滯，冀有乾結暢解，病根始痊也。否則恐轉下痢。按：是症半由濕熱，半由口腹不慎，愈後當慎調飲食。古云：爽口物多反作疾，快心事過必為殃。養生者，其可忽諸。</p>

<h1>霍亂說</h1>
<p>霍亂之因，在乎飲食不慎，內傷脾胃，或夾雜暑濕之邪，症之最凶者，莫此為甚。吐利之後，或傷其陽，或傷其陰，多隨人之體質而見焉。如傷陽太甚，至四肢逆冷，六脈俱伏，危如朝露。若增煩躁、汗淋不已，氣喘，危在頃刻。急治之法，惟有來復丹、附、桂、龍、蠣、參、術之屬，庶可百中圖一。傷陰太過者，音嗄，渴飲，乃吐利之下，津液虧耗，中土受傷，土不生金，音為之閉矣。苦寒清化藥中，佐以養液之品。然二者以固護陽氣為最要，蓋陽能生陰，陰不能生陽，且霍亂一症，極易陽亡汗脫也，醫者審之。</p>
<p>《醫通》論霍亂，千古明論，學者當宗。愚按：兵燹之後，最多疫癘，邇來霍亂一症，是亦症之一也。曾在申江，目睹服附、桂，舌黑津枯而死者，又以西瓜、黃連、瀉心等湯服之而生者，又曾以參、附、白通等大劑而得活者，誠不可拘執也。但辨晰陰陽寒熱，頗非易易，因其脈多伏匿也，只得於口之渴不渴，能飲不能飲，便清便臭，神清神躁，喜熱喜冷，以此數端為辨，庶幾少誤。假如已現臟絕之款，盧扁亦不能挽回矣，竟有不及進藥者，此即經文所謂「大氣入臟者」之症也。又按：此病最難處方，因脈象不能作據，還宜於舉動神氣中得其真情，其口渴、溲、便，最關辨證明確。</p>

<h1>風溫溫瘧論</h1>
<p>風溫、溫瘧，得之於冬令感伏風寒，遇春氣溫暖而發，其氣自內達外，故多汗，不比暴感之邪，閉其營衛，當發汗解肌也。故最忌辛溫表散，亦不可因汗而收斂，總以清解得宜為善法也。</p>

<h1>瘧臌論</h1>
<p>瘧早截致成中滿，二便不通，此係腹中之氣，散亂不收，津水隨氣橫決，或四溢而作脹，全是太陰脾氣不能統攝所致。不可用大黃猛劑，再傷其中，惟有理中湯少加黃連，或用五苓，先小便，而大便亦隨下而解。大便之所以不下者，以膀胱脹大，將大腸撐緊，無隙可出，當化膀胱之氣，不治大腸而便自通矣。余曾治此症，中腹堅硬，大便不通，瘧來寒重，因令其瘧來減食，即空日亦令其食米粥，旬日便通脹消。蓋曾用過枳實、檳榔攻克，而便仍秘結；減食之下，脾氣轉運得舒，腸中傳導亦得其職矣。見脹滿而投攻克，醫之長技，若中虛作脹，更耗其氣，必愈增脹滿矣。慎之！慎之！</p>

<h1>酷暑瘧症最易驟閉論</h1>
<p>凡瘧發於酷暑之際，熱重寒微，痰多，舌白，泛惡者，最防痙厥驟閉，不可輕視。余曾診一女子，患胎瘧，數番之後，熱勢不退，而反一毫無汗，大便溏，舌苔白，詢之因冒風澡洗所致，乃擬表散一方，囑其另延高明，勿敢貽誤遭謗。病家更請呂仁甫，亦處柴胡、蘇、藿、二陳之類，服之神識憒憒，仍然一毫無汗，暑疹滿布，大便自遺，舌苔依然膩白，脈形沉細沃澀，壯熱異常，不大渴飲，余辭不治，病家再四索方，呂曰：且擬一方何如？余曰：服與不服同。遂同商葛根、柴胡、珠粉、川貝、玉樞丹等數味，是夜仍閉危。</p>

<h1>溫毒症後鼻塞腑秘治法</h1>
<p>𰣤痧時，或時症斑毒後，鼻塞便秘者，昔人有用靛青桶飯一二兩，煎湯，加入忍冬藤數錢，服之，大便即下而鼻塞即通，可稱神方。大概系熱結竅閉所致，故屢用紫菀、牛蒡之屬無效，非開泄肺經所合。靛青桶飯清涼解毒，沉寒下達，使大腸一通，則肺竅自開矣。</p>

<h1>小兒肺病喘咳異治</h1>
<p>寒包熱症：壯熱，喘嗽，無汗，口渴，煩躁，脈洪數滑大者，余曾以麻杏石甘湯治之，效如桴鼓。此方能起死回生。又曾以葶藶大棗湯，治肺閉喘急危極者，亦應手而愈。二條皆屬於手太陰病，一則痰閉喘急，一則溫邪化熱鬱結，二方細思之自得，脈象見症稍異，喘咳則一也。</p>

<h1>小兒慢驚說</h1>
<p>急驚屬熱，慢驚屬虛寒者為多也。病由吐瀉之後，或多延日數，以致神氣懶倦，目睛半開，音低，嗜臥，脈象遲數或沉細，古方逐寒蕩驚湯大有神效，雖夏月無妨。有危殆症劇者，服之立能回生。誠良方也。今之幼科罕有知者。</p>

<h1>葉氏喘症虛實論</h1>
<p>喘症之因，在肺為實，在腎為虛。實喘者痰塞坐不得臥，呼吸氣壅，當宗仲師葶藶大棗湯。虛喘者痰吐如沫，呼吸氣不接續，其中有陽虛陰虛之別。陽虛者附桂八味，陰虛者金水六君煎。又有素有肺腎虛喘，夾風寒以實之，是腎中之虛喘，反形肺中之實喘矣，治頗不易。余擬蘇子降氣湯，加人參以補氣，俟肺之風寒得泄，然後以腎虛之喘為急治，是在醫者權衡耳。</p>

<h1>論隔二隔三之治</h1>
<p>隔二隔三之治，如癃閉之屬，用利水藥不應，以滋養肺金如沙參、麥冬、玉竹之類，謂水出高源，肺金能生腎水，腎與膀胱為表裡，滋其化源，則泉源竭矣，此乃屬虛者言。若下有濕熱，與夫瘀閉、寒閉、熱閉、氣閉，治法種種不同。又有胃氣不醒，用養胃疏利藥皆不應，改用溫補腎經藥，則胃納大開；緣腎為胃關，命火不能上蒸，猶釜底無火則物不熟，是亦隔二之治。第用藥最難，如用熟地須要肉桂末同炒，余如補骨、四神之類。按：溫養與溫熱有異，溫養如冬日之可愛，溫熱如夏日之可畏，學者不可不知。</p>

<h1>肺熱久嗽治法</h1>
<p>寇宗奭曰：一婦患肺熱久嗽，身如火炙，肌瘦成癆，以枇杷葉、木通、款冬、紫菀。杏仁、桑皮各等分，大黃減半末之，蜜丸櫻桃大，食後、夜臥各含化一丸。按：含化一丸須記，學者審之。此是瀉去肺腸之積熱，勿使在留以爍陰液，去熱即是存陰，勝服滋補之藥。蓋滋補正所以留熱，肺安能清肅哉？惟大便頻溏者不甚宜也。然大黃輕用，不過藉其氣以導火下行，況噙化一丸，其力甚薄，意亦深矣。</p>

<h1>丁公仙枕方</h1>
<p>丁公名其泰，康熙武進士，官至總兵，七十無子，鬚髮皓然，遇異人授此方，兩年鬚髮如漆，連生四子，年至八十，尚能開十石弓。真奇方也，後人用之多效。</p>
<p>方用整塊木作枕，枕上鑽空一百二十個，如桐子大，枕分七行，中間一行鑽十八孔，余俱十七孔，枕中作抽屜，將藥末裝絹袋，放抽屜內，枕至一百日，諸病皆除，體強身輕，藥味久則無力，須三日一換，枕長一尺六寸，排勻鑽孔。</p>
<p>川烏　辛夷　藜蘆　荊芥　附子　白朮</p>
<p>烏藥　牙皂　白芷　川椒　細辛　柏仁</p>
<p>吳萸　半夏　歸身　白芍　菊花　防風</p>
<p>桔梗　杜仲　蓯蓉　藁本　蕪荑　草烏</p>
<p>蔓荊　薑黃</p>
<p>各一兩三錢，研末盛囊入屜枕之。</p>

<h1>評洄溪君相火論</h1>
<p>此篇之論，說得透徹，其治法亦精詳。心火以苦寒，景岳理陰之類；腎火以鹹寒，雞子黃連阿膠湯之類；腎火飛越，用回陽之法，如參、附、真武、龍、牡、童便之類，冷飲一碗，直達下焦，引其真降下降耳。又按：腎火為真元先天之火，心火為後天君相之火。</p>

<h1>評洄溪診脈決死生論</h1>
<p>此篇字字金玉，學者細細推求，久之必明其理。余曾診兩人，脾病而見弦勁堅搏，毫無和緩之象，是無胃也。諸藥備嘗，均無效果。又咳嗽吐血之脈，見洪大數促者，亦難奏效。此乃克賊之脈，決無生理。</p>

<h1>跋</h1>
<p>是編或評古論，或抒心得。所立諸論，如內壅無汗，𰣤痧舌白，遽用清泄；傷寒無液，雖得不暢，涼藥亦能發汗之說，頗有發明。胎漏、胎下，從古女科醫籍未有分別，今被先生一旦道破矣。至論暑瘧驟閉，切忌表散，宜清宜下；產後痙病莫作風治，須育陰潛陽，此尚可議也。然古賢如張路玉精於論溫，而治損則陰陽不別。徐洄溪通乎古今之變，拘守柴胡以治瘧。名賢尚且如是，不獨先生為然也。先生系沈蘋洲高足，諱淵，字子安，壽山乃其別字。古吳後學王颺卓若甫識於槐蔭廬。草草塗就，俟諸異日精錄之可也。</p>
