<header data-type="book">
<h1>高淑濂胎產方案</h1>
</header>

<h1>高淑濂《胎產方案》序（原名《秘書》）</h1>
<p>女科至胎產，重之尤重者也，《濟陰綱目》備矣。素日無披閱之功，臨時往往迷惘難得正案，即得矣，而數方或十數方，尤其精而難擇之勢。《女科》全集清晰矣，而症又略焉未備，如萬方之針線，及各家之全集，無不備有婦科及胎產一門，大抵皆以此科為綦重。既關人之宗嗣，尤關人一家榮桔之要鍵。設因一產而傷中年之婦，再娶與不娶，俱有無窮之苦。吾友淑濂兄與玉髦年訂交，同科游泮，當日雖有命算、堪輿、岐黃各學術，俱與文苑之暇涉獵領略之而已。不數年與玉談及世運，每匝月遊岱一次。登臨之頃，恍然若別有會心，慨乎之言，曰：「吾雖長汝數歲，何功名？念至今始淡耶。人生在世，大則名教，小則著述，吾願與藝術之中，擇一有神於世，施之立效者。不敢云創，亦不敢云述，不過博採而約收之。取其不繁而備，略通古今之變，酌乎貧富之宜，編成此書。如能傳之其人，斯此生不虛矣。吾弟幸為弁數言於首，不求粉飾，不求誇張，使略通文義者，開篇能曉，方不負濟世活人之真性也。」玉應曰：「唯唯。」隨筆之，以俟付梓之期云，是為序。</p>
<p><u>清光緒二十一年戊戌冬月，書於岱陽杞陰屋。清廩生如弟（梅村）韓玉田謹識。</u></p>
<p>活人之術，首推岐黃，承衣缽而起者，罔不本精力所到。實驗所得者，著書成編，以教世，膏盲豎子無處藏身，非一日矣。然古來專精醫術，不名一家，大都於人生感受陰陽寒暑疵癘之後，施以救濟，以補天地大生之缺憾。至人生命源，各名家雖多所發明，欲求一屢試屢驗之書，置之案頭，倉卒之間，可以索驥者，蓋亦鮮矣。淑濂高先生身列黌宮，淡懷名利，思擇術以利人，遂潛心醫術作岱下游。瑛與先生為舊好，時相過從，暢談平生，知於醫道三折肱者，所著《胎產》秘書正在編輯，擬脫稿示余，並附弁言以記其事。乃有志未逮，而先生已溘然逝，惜哉！哲嗣仲岱得先人之秘傳，出而問世，名籍甚，家藏《胎產》秘書欲梓而行之。俾婦科之中得一靈光秘室，於一切受胎之先及既生以後，經過病狀，皆有一定之方案，著手而即可成春，策保萬全，生生無所苦，其造福為何如也！余於醫道少所窺見，然苟利於人，則未嘗不竭力玉成之，此書傳先生之名，亦與之俱傳矣。不朽盛業，詎不賴繼起之有人哉，是為序。</p>
<p><u>清庚子辛丑併科舉人，葛延瑛鞠躬謹識。</u></p>
<p><u>民國十二年申子春月。</u></p>

<h1>高淑濂《胎產方案》序</h1>
<p>汶陽高淑濂，余之舊執交也。性倜儻，有大志，好讀書，尤邃於古。少年習舉子業，連不得志於有司，遂決然捨去，專精於醫。本其淵博淹貫之學，聊盡利物濟人之責，質疑辨難，著手成春，是以醫名大振，而於婦科為尤著。居恆本坤道之原則，考女子之心理，益徵以古書所未備，參以己見所獨得，積數十年閱歷經驗，參互錯綜，以筆而出之，名曰《高氏胎產方案》。凡所以安胎前、保產後以及臨盆保赤之方，無不至精且備，試可謂女界之慈航，醫林之寶筏矣！書既成，藏之篋笥，功僅可以詔後昆，猶未敢以公諸世也。適海上醫學社徵集全國醫案，其次子仲岱，攜是書問序於余，余固喜先生之有後，更深幸先生之書之有是傳焉，是為序。</p>
<p><u>中華民國十四年夏曆乙丑仲春之月。</u></p>
<p><u>清巳酉拔貢如弟（伯芑）揚茂周謹識。</u></p>

<h1>高淑濂《胎產方案》敘言</h1>
<p>予友高淑濂先生，績學篤行士也。善詩古文辭，尤遂於醫。前清末葉在城懸壺，一時盛名大噪。去今已二十年，猶令人稱道不去口。先生交遊遍知名士，獨契予尤厚，酒後耳熱，與縱談天下事及古今治亂興哀之由，論議迥迢流輩，辯難經史奧義，往往發前人所未發，即此可覘先生之抱負如何矣。先生長於吟詠而不以詩名於時，嘗記其春夜遊北郭，偶佔得句云：「雪侵春月冷，天壓夜山低」。先生並未筆於紙，惟口以授予，予嘗舉以質諸當代名家，莫不擊節歎賞。而先生則初不願以詞人自命，生平詩文並未存稿，知先生胸中自有千秋不朽之事業，非淺見者所能窺矣。民國癸丑，先生歸道山越十餘年，始由其哲嗣仲岱，袖先生所著《胎產方案》及《孝經箋註》謂序予，予不解醫，弗審其所論當否？第就《胎產方案》捧讀一過，覺其詞旨淺顯，似可與世傳《達生編》並垂久遠，為窮鄉僻壤急切不易延醫者所取。便予之序言，第敘先生之為人可耳，至書之內容，則非門外人所得妄贊一詞矣。</p>
<p><u>民國十五年歲次丙寅九月，弟子之李星坡拜撰。</u></p>

<h1>高氏《胎產方案》聯語</h1>
<p>龍見穆穆，燕居申申。</p>
<p>此聯外試墨四頁，即蘭竹菊梅，四幅末附跋語如下：</p>
<p>淑濂仁兄大人，學深品正，心切濟世。因科停不獲登進，假岐黃以贊化功。於視聽言動無輕忽，寓穆穆申申之意，實為今世模楷。特集商簋銘字為聯，以志企慕深衷。並奉試墨四頁，望祈哂政。</p>
<p><u>（陸山）夏象吉，塗予岱宗第一峰前。</u></p>

<h1>《胎產方案》商篆聯語記</h1>
<p>庚戌之歲，先嚴館於岱麓益壽號堂。是歲季冬，夏陸山仁叔以商篆聯語墨畫四頁，持贈先嚴。閱而愛之，指予言曰：「此汝夏仁叔之手澤也，當寶之。」岳對曰：「唯唯。」有傾，夏仁叔與先嚴談《內經》，論司天在泉。及夏仁叔去，先嚴語於眾曰：「岱麓醫士能談《靈》、《素》者，陸山也。」次朝，夏仁叔復來，正遇先嚴筆削《胎產秘書》（改名《方案》），視之乃曰：「真後世之津梁也。」岳問聯文，夏仁叔曰：「上聯文曰：『龍見穆穆』，下聯文曰『燕居申申』，穆字上草下正，申字亦然。」岳唯曰：「小侄謹識之。」先嚴與夏仁叔，不數年相繼辭世。昔韓愈云：「人既歿，其人文字益重。」今因《胎產方案》付梓，將聯語弁其首，與之並傳焉。</p>
<p><u>民國二十三年歲在甲戌仲夏之月，次男綜岳沐手謹志於岱麓倚岱山房。</u></p>

<h1>高氏《胎產方案》序言</h1>
<p>高淑濂先生乃汶陽之名醫，岱下之宿儒也，與予相交有素。先生早年入泮，以世道關係，棄舉子業而專精醫術，非圖藉取名利，實為濟世活人。當懸壺泰城，四方求醫者絡繹於途，日不暇。及遇病則著手成春，名聲大振，遐邇共聞。而於婦人科等症經驗尤深，參照古今之醫術，及念餘年之閱歷，著有《胎產方案》一書，久藏篋笥，未敢貢獻於世者，蓋有深意存焉。今哲嗣仲岱君欲梓行於世，非希顯揚先生之仁術，實施拯救後人之慈航，請序於予。予不曉醫道，何敢妄加評贊？惟憶前清宣統元年，予因奔走保礦會事，見嫉於敵，方暫避其鋒，留學河南，在中州公學法政講習肄業。曾接家報內子於九月二日生女，名清秀，天寒不慎，乏人照拂，致受寒氣，小便不通至一晝夜，坐立不安，情勢危險。幸家祖母聞悉，趕延先生療治，以產房不便出入，口述病狀，擬方後囑速煎服，乃竟藥到病除。是見醫術之高妙，救濟之捷敏，不避俚俗，直書事實，藉作敘言。</p>
<p><u>中華民國二十三年歲次甲戌，荷月上浣。</u></p>
<p><u>河南中州中學法政講習科畢業，愚弟李恩泰拜撰</u></p>

<h1>《胎產方案》序</h1>
<p>汶陽高叔濂、韓梅村兩先生，余執友也。余因梅村而交淑濂，淑濂、梅村均長余，余故以兄事之。兩先生於書無所不讀，往史而外兼通卜筮、星相、堪輿、岐黃等書。攻科舉業均屢困秋圍，乃慨然曰：「古人不為良相，即為良醫。」乃決意以濟世為懷，精研醫理，所有抱疾而來者，無不應手奏效。先後懸壺岱下，醫名大噪。梅村自民元以來，因內戰連年，萁豆相煎，悲憐益深，乃更肄力於佛學。朝五臺，持清素，老當益壯。茲不具論淑濂於民國癸丑棄世，計至今已越二十餘年矣。其仲子仲岱能世其業，兼通西法，名益遠震。以其先德所著《胎產方案》不日付梓行世，問序於余。余忝系通家舊好，其何敢以不文辭？惟余對醫術一門向不求甚解，然據梅村所言，淑濂此書所載胎前三十四症，臨產四症，產後四十七症以及難產救治調護諸方，確係經驗所得。苟家家各備一冊，無庸延醫，臨時按症眼藥用之，萬勿一失。梅村誠愨人也，必不致阿其所好，而以人命為兒戲，以是知淑濂救世人心切矣。夫吾國人口號四萬萬，富庶之家延醫用藥不惜巨資；而貧寒之戶，蟄居窮鄉僻壤，四方探詢，偶延一知半解之醫生，奉若神明。投藥一有不慎，胎兒夭殤，產婦喪命。產婦因產而授命者，十無一、二，因誤投藥餌而授命者，當必十有八九也。庸醫殺人籲可畏已。此書一出，誠可為婦女之秘寶，救世之慈航也。仲岱且對余宣言曰：「書成，擬定廉價，以廣流傳。」深體乃翁好生之心，淑濂可謂有子矣。昔於公治獄有陰德，高大駟馬之門，余謂淑濂治醫較於公治獄尤為普及，其門間當必更為高大也，仲岱其勉之。</p>
<p><u>民國二十三年，太歲在甲戌五月。</u></p>
<p><u>第二屆考取縣知事，愚弟趙春芳（子芬）甫於岱下剛廬。</u></p>

<h1>讀高氏《胎產方案》記</h1>
<p>予平生有兩大慚事，一為鹵莽滅裂，讀書無所成就。試檢所存舊稿，無一完成者，望而知為無恆之人。一為不克成已，即不能成人繼志述事，後顧茫然。西人格言云：「要看你的果子，定你的行為」。慚何如哉！今得吾友高淑濂氏遺著，讀之見其方，謹完成到底不懈，而仲岱世兄尤能讀父書，光大而發輝之，是此兩慚。昔蘊之於小我者，今補償於吾友矣。人我界限不必分明，何幸如之哉！倘吾中華民國同志，共懷此慚，因愧生奮，由小及大，吾知其所補償者，當不在小也。因藉以語仲岱，且以識吾亡友。</p>
<p><u>民國二十三年夏曆甲戌六月。</u></p>
<p><u>愚弟（明樞）範炳辰拜讀。</u></p>
<p><u>芬弟鑑：我這個稿子實在是拿不出門來，請你費心改正方好。</u></p>
<p><u>明　樞</u></p>

<h1>《胎產方案》敘言</h1>
<p>自西醫流入中國，而產科在西醫學上幾佔一重要位置。我國在昔對生產等書亦皆著有專集，然或略而不詳，又或詳而不備，以致醉心西醫者多謂產科，學理及其手術駕中醫而上之。余曠覽我國生產等書，既詳且備，以個人心得成一家專集，未有如泰邑高淑濂先生所著《胎產方案》者也。餘生也晚，未獲一親先生遺範。然自十七年夏，來泰執行律師業務，始得與先生之哲嗣仲岱，交以道德，把唔談心之餘，由仲岱出其先人所著《胎產方案》，內載胎前三十四症，臨產四症，產後四十七症，以及難產救治調護諸方，捧讀一過，確由個人經驗所得，闡醫學之心傳，補前人所未備。人苟家置一編，不惟省延醫之勞費，並可臨時按症施藥，有百效而無一失。仲岱繼事述志在泰城，懸壺多年，聲名洋溢，其亦家學淵源乎。士君子誦詩讀書，懷才抱異，以民胞物與之懷，施濟世活人之術。得志則為一國良相，不得志則為一鄉之良醫。良相良醫相濟為用，均可造福蒼生，傳施不朽。高先生淑濂身列膠癢，素懷大志，屢困棘圍，一第未獲，退而為岐黃妙術。凡遇疑難大症，無不著手成春。而胎前產後等症，尤可得心應手，卓著奇效，真所謂不得志於時之醫國手也。先生物故今已二十餘年，凡經先生施治之家，猶稱道之。不置先生之德可以傳，先生所著《胎產方案》一書尤可以傳矣。現泰邑人士多知先生著有是書，均擬梓行於世，以廣流傳。而仲岱亦能體先人救世之苦心，竭力付諸剞劂，囑序於余。余讀先生之《方案》而贊之曰：「是書也，婦女之秘寶，救世之慈航」，是為序。</p>
<p><u>民國二十三年七月日</u></p>
<p><u>（山東法政專門學科法律畢業，前泰安律師公會會長，濟寧後學鍾承陽謹序。）</u></p>

<h1>《胎產方案》序</h1>
<p>容之族兄，號淑濂，諱蓮溪，清癢生也。愚嘗與之講學岱陽石上，言：「修己治人之功，道統不傳之緒，多有契合。」愚喜有同志者。憶吾兄早知八股詩賦之不可為，而先去之以就醫，斯誠見之明行之決，而勇於進退者也。斯時也，予亦久厭詩文，辭場不入，而就雅言四教之正，志願足矣。嗚呼！幸矣哉！吾兄弟得就有用之路，不埋沒於詩書無用之中也，可為慶賀。後余多年東遊，就正有道，每於海右濟陽歸岱宗，必造盧拜謁。一日遇兄，以醫學名當時已久矣，則見夫車馬盈門，求者滿座，疾者愈，病者輕，人謂我兄為一方之福星，豈不信哉！兄精於醫，而為婦科為尤精，於是著為《胎產方案》一書，兄子宗岳，藏之有年。一日將鋟板，遂捧書請序於余，余拜讀一過，知是書採擇也備，論斷也詳。且會其義，不必泥其辭；用其說，不必名其人。期歸於至當而已，誠為醫家善冊，救坤良方。書成呈之公家，錄之《四庫》，則嘉惠後世無窮矣。但請序一節，非余所長，余自幼厭作文，加以治經而益荒。然義不容辭，故不揣固陋，是為序。然吾聞李星坡公之：「為人子者，當學高仲岱，其於先嚴片紙隻字，無一拋棄。」余謂：「此書外如家譜、年譜、文集，皆散者輯之，缺者補之，不惜重資，或謄真或板印，無不詳詳整裝璜，使吾兄將敗之故紙，燦然可觀，其餘可稱者多，茲不盡述，至吾稱仲岱亦云，星坡公云。無奈余於仲岱本家也，譽辭不應吾，然有曰有，無曰無，古之直道也，言之遵古道耳。」</p>
<p><u>民國二十三年夏，岱宗西南城子寨，族愚小弟子大安容敬撰寫於岱宗講愚處。</u></p>

<h1>《胎產方案》弁言</h1>
<p>淑濂先生，余契友也，余連年設帳於鄉，恨不能習見。每逢清大比之年，公車北上，余與淑濂或先之，或後之。比到寓所，把酒論文，聯床話詩，往往作徹夜之談。不意屢困名場，淑濂遂棄儒就醫，醫術超妙，全活多多。不數年，而淑濂先歸道山，其令哲嗣仲岱君，執弟子之禮甚謹與余，訂為世交。且余家有病，皆經診視，無不霍然，足徵有家學也。甲戌夏，余適在仲岱醫院，乃出其先人所篆《胎產方案》，余細閱一過，胎前三十四症，臨產四症，產後四十七症，俱發前人所未發，方頭不大，利濟蒼生；費錢不多，恩彼窮士，洵可當醫國也。惜余老矣，不能發明其醫道之高明，謹拈十四字以見贈：</p>
<p>不信人間有活佛，</p>
<p>那知妙手能回春。</p>
<p><u>中華民國二十三年歲在甲戌孟秋之月，既望。</u></p>
<p><u>清五品銜試用州同，庚戌歲貢生，民國參事員八十三歲，契友（子昌）範夢九謹識。</u></p>

<h1>高氏《胎產方案》序</h1>
<p>淑濂先生，余之文義友也。精醫術，婦科尤長，每遇胎產諸症，著手成春。本其得心應手，屢試屢驗之良方，逐章立案，詳細解釋，彙集成秩，命名曰《胎產方案》。計分四卷，其於胎、產、產後諸病方，羅列迨盡，剖析疑似，斟酌加減，師古而不泥古，從權而不離經，其立論、施方、治法諸要旨。若者為確當，若者為精良，若者補前人之不及，非門外人所能道其隻字。余素不知醫，何敢於是編稍加品題，第即先儒之。以人子初度之晨，即母命懸絕之日，壽誕不受賀之言，思之是人生最苦之境，為天下人所同歷者此也。而是編於婦人之病，於胎病，於產病，於產後，無一不詳立方案，揭明主要，俾閱者一目瞭然。先生之究心是書，仁術之懷以大矣哉，是為記。</p>
<p><u>友弟陶維經未是草。</u></p>
<p><u>中華民國二十三年甲戌十一月日。</u></p>

<h1>高氏《胎產方案》前序（原名《秘書》）</h1>
<p>淑濂先生系湄之舊友也，少年同應試，壯年同游泮，科第停後同習活人術，惟湄對諸方書涉獵最寡，不及淑濂先生採集眾多也。湄竊查岐黃注《內經》，為原醫家之體；伊尹造湯藥，為醫家之用；西漢仲景注《傷寒》、《金匱》等書，為醫家之體用兼備之聖傳。但其書詞句古奧，意理精深，令人研究數年，而不得一解。近有淑濂之哲嗣仲岱君，挾其父所注「胎產前後秘書」一種，囑湄為文以記之。湄詳細讀閱，書中理深詞淺顯而易明。其有益於婦女之處，不惟能補仲景之缺，真能使後學，以為婦科之寶鑑矣。</p>
<p><u>時在民國甲戌冬月，云湄氏記於積善堂窗下。</u></p>

<h1>高氏《胎產方案》序</h1>
<p>西人論醫術之難，每曰：「能醫十男子，不醫一婦人。」豈非以婦科中胎產一門，頭緒紛繁，比他科尤為艱深哉？余家世業醫，掇芹後絕意進取，於前清光緒丁未，考入省垣中醫專校，主教者為楚州楊硯農夫子、津門劉鏡軒夫子等，皆一時醫界知名士，於胎產俱特別注意。及卒業，即從軍，走秦隴，荏苒逾二十載。至民國乙己春，因親老東歸，僦居岱麓，懸壺自活。藉與高君仲岱，時相過從，見其醫術深邃，兼通西法，婦科尤擅盛名，竊意必有家藏秘笈，淵源有自繼，乃出其先德淑濂翁所遺《胎產方案》一書，云：「欲付梓以廣流傳。」余披讀一周，其中審病之精，處方之妙，真令人不可思議！無怪其效捷浮鼓，名噪當時若此也。吾知此書一出，人皆以先睹為快。未病者知所預防；已病者可以自療；居家者讀之，如請醫師顧問；業醫者讀之，可增治療經驗。一舉而數善備，則高君顯親救世之苦心，為何如乎！余少承家學，牽於俗累，於先世所遺秘冊未及付印行世，而高君竟先我而為之殆印，所謂先得我心之所同體耳，特志數語以抒敬仰云爾。</p>
<p>甘肅任用縣知事，鄉後學劉如祐沐手敬識。</p>
<p><u>中華民國二十三年冬月</u></p>

<h1>高淑濂先生小傳</h1>
<p>泰山下有隱君子曰：「高淑濂以醫學名於當世，一時士大夫，下至販夫、走卒、婦人、孺子，罔不知有高先生者，醫術之精，為晚近所未有。求罔弗應，應罔弗效，弗效延他醫，終弗能治病者。」嘗以先生之診，視卜咎，蓋百不失一焉！先生平居，恂恂如，無他長。酒後耳熱，與縱橫談天下大事，抉摘利弊，動中肯繁，折中經史奧義，往往發前人所未發。又工文詞，擅吟詠，零篇斷什，傳藉人口。先生初不以是存稿為身後名計也。先生世居邑南鄉，西遙地方武家莊，為先賢高子羔之後裔，曾祖聖智，視永鋒。父際檀，家世儒素。先生原名繼昌，行六，字蓮溪，以字行後改字淑濂，別號六愚。幼讀書，志趣異常，兒稍壯，即擬拋棄呫譁貼括之學，專以濟世利物為職，為諸生後，連上秋圍不第，即慨然發奮，以專攻醫學為務。故於醫理有專精獨到之處。尤遂於婦科，專著《胎產方案》輯要一書行世。館泰安城最久，醫名大噪，車馬日盈於門。先生無貧賤富貴，遇之如一。生平淡於榮利，衣冠樸素，自奉儉約，束帛之儀，視若無足輕重。家足饘粥，無他營求，儼然古德君子也。生於清咸豐三年十一月二十七日辰時，歿於民國二年十一月初六戌時，年六十一歲。哲嗣宗岳，能世其學，現亦以醫名於時，造詣所致，方興未艾。先生配艾氏，生三子，長宗嵐，三宗峻，俱業農，宗岳其次也。葬某，原另詳志銘，茲不俱。</p>
<p><u>民國十六年仲夏之月，清增生（訾垣）李星坡謹述。</u></p>
<p>李星坡曰：「予與先生道義交也。歿後，其哲嗣宗岳（字仲岱），幼秉家學，能世其業，以通家誼。時相過從，予見其年華方盛，而謹願過於乃父。言必信，行必果，耿介敦樸，學亦克紹前徽。常年館穀所入，盡蓄之於泰山下，購地建祠一楹，祀其祖子羔子，而以先生之附祀焉。以其父生平頗相推重丐予，為作小傳，以揭於壁。予若自忘其不能文，而率爾操觚者，感於仲岱之志，且顯親而遭時不偶，不能有所發奮憑藉，而又不能自己之苦哀耳。」</p>
<p>韓梅村曰：「高淑濂者，予之契友也。清季同居泰郡，十有餘年。凡予之友若云庵、建屏、洗陳、心如、仲果、子芬、云湄、伯豈、良駟等賢，無不相契至深。而仲岱又能敬成父志，使父執輩均能貼然，欣然與之處。岱麓先賢之祠，以集眾賢贊襄之力，不克期而告成，益信天下無難事，在人之志何如耳？適仲岱以訾垣所述，淑濂兄之小傳並跋，囑書石以志不忘。雖久不染翰，乃不覺一揮而就，非僅不計工拙也，亦喜得此哲嗣，而情不自己也。</p>
<p><u>民國十六年歲在丁卯秋，立石於岱麓先賢高子祠。</u></p>

<h1>淑濂子年譜</h1>
<p>清咸豐三年，歲在癸丑十一月二十七日丙辰時，淑濂子，生於山東省泰安縣，汶陽區西遙地方，東武家莊人。姓高氏，諱蓮溪，字淑濂。其先姜氏，炎帝之裔。至太公旺，佐周克殷，周有天下，武王以功封於齊，都營邱（今山東青州府），世稱齊候。傳至文公，公諱赤，生二子，長子高子，次成，文公命高讓成為世子，子高子即承命，讓成為世子，後繼候位，曰齊成公。子高子隱而不仕，因名變姓，曰高氏。後十三世，曰高柴，字子羔，受業於孔子。又後二十七世，曰高允，字伯恭，號汶陽子（居汶陽之始，見《泰安縣誌》之與「地誌」第四張）。又後三十世，曰高騰，字云衢。又後十世，曰高際檀，字樹園，即子之父也（此篇見《高氏世寶》及《高氏族譜》）。</p>
<p>咸豐庚申，子年八歲。初為學，師大吳王清堂讀《百家姓》，一日問於師曰：「高姓始自何時？」堂曰：「高，姜姓也。始自周季。」異日，清堂謂其友曰：「小子知尋其源也。」</p>
<p>咸豐辛酉，子年九歲，能語《孝經》、《大義》，逢人語之曰：「能遵《孝經》之訓者，可稱君子，否則反是。」</p>
<p>同治甲子，子年十二歲，師黃石琴之門人，艾瑾先生。十三歲通《小學》，十五通《四書》。侍師登黃府，拜太老師壽一次。</p>
<p>同治戊辰，子年十六歲，師汶東滕村（庫生）翟相經。通詩書經，是年考幼童。</p>
<p>光緒乙亥，子年二十三，通《文經》，設塾訓蒙。</p>
<p>光緒丙子，子年二十四，師申村趙漪軒（向子）講學，文章始曉，又長於詩。</p>
<p>光緒丙戌，子年三十四，館於泣岸衛駕莊王宅，是年人邑癢，題云「大匠不為拙，工改廢繩墨」，文詳見《文集》。</p>
<p>光緒丁亥，子年三十五，設塾岱陽駝窪莊孫宅。</p>
<p>光緒壬辰，子年四十歲，因親老設塾己宅，以便事奉。是年來學者益眾矣，子配艾夫人，事姑孝，太夫人病，臥床三年，夫婦不離側。凡便溺，夫人以手取之，朝夕弗衰，見聞者皆以孝稱無間言。是年，子因延醫艱難乃讀醫書。</p>
<p>光緒戊戌，子年四十六歲，設館故里。</p>
<p>光緒癸卯，子年五十一，設館於邑南灌莊。</p>
<p>光緒甲辰，子年五十二，館於安駕莊。</p>
<p>光緒乙巳，子年五十三，館於孫家廟。</p>
<p>宣統已酉子年五十七歲，就聘於泰安城內益壽堂，是年正月初三日，到館月許，岱麓名士皆以「大醫」稱。</p>
<p>宣統辛亥，子年五十九，署衙街居，感子醫治之德，議定懸匾頌揚，以告之於子，子堅辭之，曰：「吾平生無他益於世，僅以醫術而除人病，是吾應盡之職務，又何頌揚之足云？」乃止發起者。縣帳房丁志揚知者益賢之，而問教請方之友益眾。</p>
<p>中華民國壬子，子年六十歲，館於本邑保合堂。</p>
<p>中華民國癸丑，子年六十一歲，館於保和堂，是年夏曆九月二十八日，子因病還里。仲岱館於亭亭山右，是日，即召仲岱事之一旦命之，曰：「汝在塾勤讀醫書，醫亦濟人之一也。」夏曆十一月初四日，子病痊愈，家眾稱賀，子將一切事物囑於仲岱，且曰：「惟恐吾病愈而命終」。家眾皆憂，子呼曰：「人而有生，即有死，何憂之有？」，夏曆十一月初六日戌時，子乃壽終。</p>
<p>華居子之門有年，所知故深，今又訪諸子之鄰里、父老，及諸同學而仲岱等議，著是譜。</p>
<p>華又與諸同硯兄弟公議，吾師若以高子稱，而稽諸春秋，經吾師之三世，祖高溪者，孔子已稱高子矣，今也依孔氏子思不以孔子稱，而曰子思子，遂以吾師稱淑濂子云。子著有《孝經箋註》、《高氏胎產醫案輯要》、《詩詞錦著》，載之文集。</p>
<p><u>民國三年甲寅仲春，門人劉緒華訪著。</u></p>
<p><u>民國十三年甲子季春，如弟韓玉田：</u></p>
<p><u>眷弟李珍廷：同參訂。</u></p>
<p><u>門人李承寅：</u></p>

<h1>例言</h1>
<p>書內所載湯飲丸散，各方用人參者居多，服藥之家，應分有力，稍有力，無力三等，若有力者，宜照方用之；稍有力者，減辦用之；無力者，以黨參代之。</p>
<p>書內所載胎前三十二症，臨產四症，產後四十七症，以及難產救治調護諸法，均系經驗，按症引方用之，萬無一失。</p>
<p>書內所載妊娠、產婦病症，逐一分晰詳明，但依法治之，不必延醫診脈。</p>
<p>書內所載催生開骨方，難產如聖散，產畢生化湯，各藥當於受孕十月滿足之先，預備數貼於家，以便臨期取用，恐窮鄉僻壤，以及更深夜靜之際，有呼應不及之虞。</p>
<p><u>著者識</u></p>
<p><u>高氏《胎產方案》卷一（原名《秘書》）</u></p>
<p><u>如弟韓玉田（梅村）</u></p>
<p><u>山東泰安高蓮溪（淑濂）甫著　眷弟李珍廷（珠泉）同校</u></p>
<p><u>次男宗岳（仲岱）</u></p>

<h1>高氏《胎產方案》卷一</h1>
<p><u>胎前總論</u></p>
<p>凡孕婦脾胃健旺，氣血充足，則胎安產順，毋庸用藥調理。惟稟賦不足，而氣血衰，脾胃弱，勞役過，以致諸症百出，不得不資藥力矣。昔丹溪定補母安胎之方，以補氣血為主，以順氣清涼為佐。參、朮、黃芩為安胎之聖藥，芎、歸、熟地為補血之良劑，加以蘇、陳等定為常主方。至胎成六月，茯苓性降不宜多用，黃耆肥胎不可常加，香附雖快氣疏肝，過則耗氣無補，砂仁能止嘔定痛，多亦動血行胎，此誠先賢之法戒，後學之準繩也。而猶以為未備，因分晰胎前諸症，擬成數十餘方，以便臨期酌用。</p>
<p><u>胎前脈法</u></p>
<p>婦人有孕，陰搏陽別。</p>
<p>脈以寸為陽，以尺為陰。尺脈搏指而動，與寸回然分別者，此孕成之候也。</p>
<p>少陰獨動，其胎已結。</p>
<p>少陰心脈也，心主血，今心脈往來流利而獨動，乃血旺成胎之象，故可知其有孕。又曰：動者，如豆粒之逼指而動也。</p>
<p>滑疾不散，胎必三月。</p>
<p>疾即數之有餘也，《金鑑》云：六至為數，七至疾是也。不散者，按之愈有力而不散也，其胎必三月矣。</p>
<p>弦疾不散，五月可決。</p>
<p>滑脈如珠流行，弦脈端直且硬，滑而疾，胎三月；弦而疾，胎五月，可決矣。</p>
<p>孕一二月滑而數，三四月滑而疾，五月之後皆弦而疾，但日愈久而脈力愈大，蓋三五七之月為陽，與他異常。</p>
<p>總之按而不散者為有力，故斷之為胎。亦間有損症似此者，須細辨之。</p>
<p>左疾為男，右疾為女，女腹如箕，男腹如釜。</p>
<p>三部之脈，浮沉正等，無他症而月經不通者，乃有孕也。三部之脈，浮沉正相等，是無病之脈也。又何以不月？既已不月者，是有病之驗也，又何以無他病？故脈雖不顯而受孕可知。</p>
<p>脈沉實為男，沉實為坎中滿，屬真陽也。浮虛為女，浮虛為離中虛，屬真陰也。左手沉實為男，右手浮虛為女。兩手沉實為雙男，兩手浮虛為雙女。一手沉實，一手浮虛，不拘左右，為一男一女也。</p>
<p><u>惡阻</u></p>
<p>凡妊娠一二月，惡阻嘔逆，煩悶嗜臥，即俗所謂病兒也。此由婦人本元虛弱，平時喜怒不節，寒暑不調，中脘夙有停痰積飲，受孕經閉，飲食相搏，氣不宣通，以致心下煩悶，頭眩眼花，四肢倦怠，聞食即吐，喜酸嗜鮮，多臥少起，甚至嘔逆不食，法當順氣理血，豁痰導水，而諸症自除，以加味參橘飲治之。</p>
<p><u>加味參橘飲</u></p>
<p>人參（一錢）　白朮（二錢，土炒）　砂仁（二分，圓粒炒研）　厚朴（一錢，姜炒）　橘紅（四分）　當歸（一錢）　香附（五分，炒研）　甘草（三分）　竹茹（五分）　生薑（三片）</p>
<p>若無財力服人參，以黨參加五倍換之。嘔過甚者，再加半夏曲八分，水煎食遠溫服。韓梅村曰：「以後凡不注字者，皆是水煎服。」</p>
<p><u>胎動不安</u></p>
<p>凡妊娠二三月，胎動不安者，蓋因子宮久虛，氣血兩弱，不能攝元養胎，至令不安欲墮，急服安胎飲以保之。若先經墮過者，可先服大造丸，繼杜仲丸，庶無半產之患。</p>
<p>湯氏云：半產多在三、五、七個月，如前次在幾個月墮者，後必如期復然。故當追算前三個月墮者，即於未墮半月前，先服清熱養血固胎之藥數帖，以補其虛；五月七月墜者，亦於未墜者半月前，預先服藥，方保平安。此據受孕後夾熱者而言，蓋三五七系陽月，緣火能銷鑠故也。</p>
<p><u>安胎飲</u></p>
<p>人參（一錢）　當歸（二錢）　熟地黃（三錢）　條黃芩（一錢）　川芎（三分）　白朮（二錢，土炒）　陳皮（四分）　全紫蘇（四分）　甘草（四分）　大棗（二枚，燒）</p>
<p>如虛肥人，陳皮去白加川黃連五分；如脾胃溏瀉加蓮子十粒、砂仁五分，去熟地黃、黃芩；怒而多瀉加木香三分；渴加麥冬二錢（去心）；怔忡、驚悸加酸棗仁二錢（炒見火色），益智仁一錢（炒）龍眼肉十枚。以上五條，皆按病各將原方加減之。</p>
<p>梅村曰：凡用潞黨參代人參者，當加一分之五。</p>
<p><u>大造丸</u></p>
<p>紫河車（一具，泔水洗淨、炙酥）　枸杞果（一兩）　人參（一兩五錢）　全當歸（二兩）　麥門冬（一兩）　三錢（一兩）　天門冬（一兩）　益智仁（一兩，炒）　白茯苓（二兩）　五味子（五錢）　熟地黃（二錢，姜炒）　川牛膝（五錢）　山藥（八錢，炒）　菟絲子（四兩，鹽炒）　川貝母（一兩，鹽水炒）。上十四味共為末，煉蜜為丸，如桐子大，滾白水送下，每服五十丸，旦夕用。</p>
<p><u>杜仲丸</u></p>
<p>杜仲（姜炒炭）、川斷（酒浸，各一兩）為末，煉蜜為丸如桐子大，米湯送下，每服六十丸，食遠用。</p>
<p><u>胎動腹痛</u></p>
<p>凡妊娠胎動腹痛者，或因飲食冷熱及動風毒物，或因交感搖動骨節，傷犯胞胎，或因服藥太過，血氣不調所致，宜服順氣補血之藥，如加味安始飲，或如聖散皆可。</p>
<p><u>加味安胎飲</u></p>
<p>人參、黃芩、當歸、麥冬（去心）、砂仁（炒研）、熟地各（二錢）　陳皮、紫蘇（各二分）　生白朮（一錢五分）　甘草（三分）　大棗（二枚，燒）　生薑（三片）</p>
<p>上方，凡妊娠元氣不足，精神倦怠，胎動不安，或身體微熱者，皆宜服之，必一日二服，方可平安。如腹痛，去麥冬，加蘄艾七分（炒炭），或再加四制香附各二分半，如咽燥多痰兼失血者，加川貝母一錢半，荊芥炭一錢。</p>
<p>艾毓學先生曰：「凡治痛先通氣，不獨婦科，然諸症皆然。古人所謂痛則不通，通則不痛是也，惟妊娠通氣先固氣，勿令損胎。」</p>
<p><u>如聖散</u></p>
<p>鯉魚皮、阿膠、當歸、川斷（各二錢）　熟地黃（三錢）　白芍藥（一錢）　川芎（一錢）　甘草（六分）　苧根（五分）　生薑（五片，引）　空心服。</p>
<p><u>胎漏下血</u></p>
<p>凡妊娠胎漏，經血妄行，此是胎息未實，或因勞役過度，傷動胞胎，或因房事驚觸，致令子宮虛滑，經血淋漓。若不急治，日漸胎乾子母不保，急服寄生散，或參歸飲，或阿膠濟陰湯，或保生無憂散。</p>
<p><u>寄生散</u></p>
<p>桑寄生、川斷、阿膠、香附（炒黑）、人參、白朮（土炒）各等份，生薑（五片，引）</p>
<p><u>參歸飲</u></p>
<p>人參、全當歸、桑寄生、生地黃（即乾地）、熟地黃、條黃芩、香附（炒研）、茯苓、阿膠（各二錢）　川芎（二分）　甘草（五分，生用）　白芍藥（二分）　黃耆（一錢半）　黃楊葉（三片）　生薑（三片）　上十五味水煎溫服，甚者日進一劑。</p>
<p>韓梅村曰：「此方若以黨參代人參，當用黨參六錢。」</p>
<p><u>阿膠濟陰湯</u></p>
<p>阿膠（四錢）　白朮（一錢，土炒）　生地黃（一錢，乾用）　白芍藥（一錢半）　全當歸（一錢半）　川芎（二分）　原砂仁（五分，研）　條黃芩（二錢）　蘄艾（五分，炒黑）　香附（一錢，炒研）　甘草（五分，炙）　黏米（一撮）　水二湯碗，煎至一碗溫服。</p>
<p>如下血塊加地榆炭；腰痛加杜仲炭；觸患胞胎加金銀花，須一晝一夜三服，以防敗血攻心；如血不止加續斷二錢，荊芥炭一錢半，黑大豆四十九粒；如因傷瘀而痛甚者，加桂心三分或四分。</p>
<p><u>保生無憂散</u></p>
<p>黃耆（二錢半，生用）　當歸身（一錢，酒炒）　川芎（一錢）　甘草（一分，生用）　菟絲餅（二錢）　羌活（四分）　川樸（一錢）　枳殼（六分，炒）　蘄艾（三分，醋炒）　荊芥穗（一錢）　川貝母（一錢）　白芍藥（一錢，酒炒）　水煎服。如不見血，加生薑二片；上方或臨月或小產，不能固胎時，服之催生保母；胎若能固，或服前首一二方，或服加味六君子，方保子母兩全。</p>
<p><u>加味六君子湯</u></p>
<p>人參（一錢，貧人以黨參六錢代之）　白朮（二錢，土炒）　茯神（四錢，抱木上辰砂二分拌）　陳橘皮（一錢）　半夏片（姜炒，三錢）　揀砂仁（一錢，炒研）　乾地炭（三錢，存性）　棕皮炭（二錢，炒燼）　蒲黃炭（三錢，炒燼）　阿膠珠（三錢，蛤粉炒珠）　甘草（二錢，炙）　蓮子房（一枚，炒）　上十二味，水煎溫服。</p>
<p>如腹痛，加醋炒香附二錢；如血不止，再加荊芥炭二錢（炒燼）　地榆炭三錢（炒燼）；如腹痛甚，血不止，加醋炒當歸三錢，醋炒五靈脂三錢，醋炒白芍藥三錢；臨症量酌加減，不致失誤。</p>
<p><u>漏胎</u></p>
<p>凡受孕之後，經血不時點滴，謂之「漏胎」。蓋因勞傷，氣血虛弱之故，或因惱怒或食炙熱物所致，宜補中安胎飲。</p>
<p><u>補中安胎飲</u></p>
<p>條黃芩（三錢）　白朮（三錢，土炒）　人參（三錢，或黨參一兩代之）　熟地黃（三錢）　全當歸（三錢）　白芍藥（三錢，酒炒）　生甘草（六分）　紫蘇梗（引）　水煎服。</p>
<p><u>跌僕動胎</u></p>
<p>凡妊娠跌僕動胎，下血不止，急服安胎參蘇飲。</p>
<p><u>安胎參蘇飲</u></p>
<p>人參（三錢）　蘄艾（二分，炒黑）　川芎（二分）　全當歸（一錢）　條黃芩（二錢）　生白朮（二錢）　陳橘皮（四分）　全紫蘇（四分）　生甘草（四分）　阿膠（二錢，研沖）</p>
<p>上十味水煎服，有外感者，加蔥白四寸；腹痛者，減蘄艾，減川芎，加揀砂仁四分（炒研）；腰疼加川斷二錢，杜仲二錢，減黃芩。</p>
<p><u>小便帶血</u></p>
<p>凡妊娠小便中帶血，此由形體勞苦，或過食煿炙之物所致，宜清膀胱之火，服加味逍遙散；勞苦受寒，四君續仲湯。</p>
<p><u>加味逍遙散</u></p>
<p>白朮（二錢，土炒）　全當歸（二錢，炒）　柴胡（一錢）　白芍藥（一錢，酒炒）</p>
<p>粉牡丹（七分）　雲茯苓（七分）　桅子（七分，炒研）　甘草（八分，生）　燈芯草（七寸）　水煎服。</p>
<p>若血不止，去當歸，柴胡，丹皮，加黃芩炭三錢，黃柏炭三錢，棕皮炭二錢；若血再不止，或妊婦在三十餘歲之上下，診其脈弱，乃由勞苦受寒所傷，血必在尿後，宜服四君續仲湯。</p>
<p><u>四君續仲湯</u></p>
<p>人參（一錢）　白朮（二錢，土炒）　云茯神（三錢）　甘草（二錢，蜜炙）　川斷（三錢）　杜仲（三錢，鹽水炒炭存性）</p>
<p><u>子淋</u></p>
<p>凡妊娠小便淋漓，此由調攝失宜，酒色過度，傷損營衛，致令子宮氣虛而然；又或下焦有熱而閉塞者，名曰「子淋」，宜服安榮散或小單方；若清涼通利不效，宜補中益氣湯。</p>
<p><u>安榮散</u></p>
<p>人參（三錢）　麥門冬（一兩，去心）　通草（一兩）　滑石粉（一兩）　全當歸（五錢）　細辛（一錢）　燈芯草（五錢）　甘草（五錢），共為細末，每服四錢。滾白水衝下。</p>
<p>又方：桑螵蛸一味為末，每服二錢，空心江米湯送下。</p>
<p>又方：陳倉大米煮爛，濃取汁服之，此方並治男子癃閉即小便不通症也。</p>
<p>按：此子淋一症，由飲食無忌，熱積膀胱者居多。楊氏用古芎歸湯加木通、麥冬、人參、燈芯草、甘草、滑石治之。如清涼通利等藥不效，即用補中益氣湯加車前子二錢，益氣一提，則下竅自開，況車前子利水通淋，一提一降，自然見效。</p>
<p>補中益氣湯見子滿門。</p>
<p><u>子腫</u></p>
<p>凡妊娠面目虛浮，四肢有水氣，名曰「子腫」。蓋由脾胃虛弱所致，宜服全生白朮散或鯉魚湯。</p>
<p><u>全生白朮散</u></p>
<p>人參（一錢）　白朮（二錢，生）　茯苓皮（八分）　甘草（三分）　全當歸（二錢）　川芎（六分）　全紫蘇（四分）　陳橘皮（四分）　生薑（兩片）</p>
<p>如不見消，加蒲種殼三分或干浮萍一錢，生薑皮三分並冬瓜子三錢。</p>
<p><u>鯉魚湯</u></p>
<p>鯉魚（二尾）　當歸（五錢）　白朮（五錢，土炒）　白茯苓（四錢）　陳皮（二錢）　生薑（七片）</p>
<p>上六味，先將鯉魚過斤者兩尾若不足斤者三尾，去鱗洗淨，去臟，以清水煮熟去魚，用魚湯一碗半煎上之五味藥餌，旦暮服之，以愈為度。</p>
<p>上方以二尾鯉魚之湯能煎藥四五劑，非一次同用也。楊氏云：子腫於五六個月時多有之，或腹大高過心胸，氣逆不安，此由胎中蓄水所致，若不早治，必然生子殘疾，子母難保，常煮鯉魚粥食之最善。</p>
<p><u>鯉魚粥</u></p>
<p>鯉魚（一二大尾去鱗去臟，洗淨煮爛去魚取湯合米作粥）　江米（三兩）　苡米（三兩），共作爛粥食之。</p>
<p><u>子滿</u>（子氣同，皺腳同。）</p>
<p>凡妊娠腿膝浮腫，腳面足指出水，氣促滿悶，此由脾虛，血化為水所致，名曰「子滿」又名「子氣」，宜服加味天仙藤散，如脾氣虛甚者，宜服補中益氣湯。</p>
<p><u>加味天仙藤散</u></p>
<p>天仙藤（六分，洗，略炒）　木瓜（一錢）　香附（六分，酒炒）　紫蘇子（四分，研）　陳橘皮（四分）　烏藥（七分）　甘草（三分）　水煎服</p>
<p>虛甚者加人參一錢，全當歸二錢，白朮二錢（土炒）。</p>
<p><u>補中益氣湯</u></p>
<p>人參（一錢五分）　黃耆（一錢五分，蜜炙）　甘草（五分，蜜炙）　白朮（一錢，土炒）　當歸身（一錢）　陳橘皮（七分）　柴胡（三分）　升麻（三分）</p>
<p>病甚者加川椒目、車前子各一錢（炒研），水煎服。</p>
<p>按：妊娠七八個月，兩足浮腫者，乃胞漿水濕下流之故。其微腫者，名曰「皺腳」，得之易產，其腫甚或出黃水者，始服補中益氣湯。</p>
<p>凡妊娠胎氣不和，上湊心胸，滿痛難忍，謂之「子懸」，以紫蘇散治之，或安胎順氣飲，或蓮房酒治之。</p>
<p><u>紫蘇散</u></p>
<p>紫蘇子（研）　陳皮、白朮、大腹皮、全當歸、川芎（各二錢）　人參、甘草（各一錢）　生薑（五片）　蔥白（五寸），水煎空心服。</p>
<p><u>安胎順氣飲</u></p>
<p>即前方去大腹皮，加揀砂仁（三粒，炒研），廣木香（三分，研）。</p>
<p>蓮房酒（西遙趙敦榮先生傳）</p>
<p>蓮房陳、新各一枚，（炒黑、研細），黃酒送下。</p>
<p>按：受孕至三五個月，斯時相火養胎，火盛胎熱則氣逆湊心，多有此症。</p>
<p><u>子煩</u></p>
<p>凡妊娠心驚膽怯，煩悶不安，名曰「子煩」。宜服竹葉安胎飲。</p>
<p><u>竹葉安胎飲</u></p>
<p>人參（三分）　白朮（土炒）　條黃芩、全當歸（各二錢）　酸棗仁（八分，炒）　遠志（八分，去心，甘草水炒）　陳皮（三分）　川芎（七分）　生甘草（四分）　生地（一錢五分）　麥門冬（一錢，去心）　竹葉（十片，去尖）　生薑（三片）　大棗（二個，燒）</p>
<p>夏陸山曰：「有痰，原方加竹瀝一小瓶。」</p>
<p>韓梅村曰：「虛甚，人參加三倍；瀉，加芡實（二錢，炒研），減生地。」</p>
<p>按：此症多在三五個月之時，相火用事，或因夏令君火大行，俱能乘肺以致煩躁。</p>
<p>湯建中曰：「因君火者，加黃連五分（川產），因相火者加知母二錢」。</p>
<p><u>子嗽</u></p>
<p>凡妊娠子嗽，因外感風寒者，參蘇飲去人參，半夏，加桑白皮、杏仁；因火乘肺金者，二陳湯去半夏加芩、連、枳、桔、貝母；痰而喘者，加蔞仁、前胡、桑白皮；如咳嗽吐血不止者，用地黃飲；如風壅相攻，胸滿久嗽者，用百合散。</p>
<p><u>加減參蘇飲</u>（因去人參，加杏仁，名曰蘇杏飲）</p>
<p>蘇葉杏仁（制）、橘紅（各一錢）　枳殼（七分，麩炒）　前胡（八分）　廣木香（三分）　桔梗（七分）　葛根（七分）　桑白皮（七分）　甘草（四分）</p>
<p><u>加減二陳湯</u></p>
<p>陳橘紅（一錢）　陳枳殼（八分，麩炒）　川貝母（一錢）　白茯苓（一錢）　桑白皮（一錢，炒）　前胡（七分）　甘草（五分，生）　枯黃芩（二錢）　川黃連（一錢）　蔞仁（一錢，炒研）</p>
<p>地黃飲（即加減犀角地黃湯）　生地黃（地黃有三：生地黃、乾地黃、熟地黃，俗呼生地即此也。三錢）　烏犀牛角（三分，先煮）　白芍藥（酒炒）　知母、天門，冬、麥門冬（各二錢）　黃芩（八分）　苦桔梗（八分）　當歸（二錢）　紫菀（一錢五分，蜜炙）　甘草（四分）</p>
<p>喘，加蔞仁（一錢，炒研）。</p>
<p><u>百合散</u></p>
<p>生百合（二錢）　桑白皮（七分）　前胡（八分）　桔梗（七分）　白芍藥（一錢）　赤茯苓（八分）　川貝母（一錢）　橘紅（一錢）　甘草（五分）　紫苑（一錢，蜜炙）　款冬花（二錢，蜜炙）　生薑（二片）　水煎服，其分量之輕重，諒症酌用之。</p>
<p><u>子瘧</u></p>
<p>凡妊娠病瘧，多由營衛虛弱，脾胃不足，或感風寒，或傷生冷，傳為虐疾，名曰「子瘧」。宜服驅邪散。熱多寒少者，清脾飲去半夏；寒少熱多者，人參養胃湯去半夏；久而虛者，加味四陳湯主之。</p>
<p><u>驅邪散</u></p>
<p>藿香、白朮（土炒）、白茯苓（各二錢）　甘草（八分，生）　草果（三分，炒研）　知母（一錢）　橘紅（八分）　揀砂仁（八分，炒研）　生薑（二片）　大棗（一個，炒，引）</p>
<p>慎齊曰：「有表寒邪者，加蘇葉八分，蔥白五寸。」</p>
<p>趙氏曰：「表熱邪者，加春柴胡八分。」</p>
<p><u>清脾飲</u></p>
<p>白朮（土炒）、白茯苓、知母（各一錢）　青皮（四分，醋炒）　川厚朴（八分，姜炒）　黃芩（二錢）　甘草（五分）　生薑（三片）　柴胡（一錢）</p>
<p>韓梅村曰：「生薑、柴胡不並用。」</p>
<p><u>人參養胃湯</u></p>
<p>人參、蒼朮（米甘炒）、藿香、川樸（姜炒，各一錢）　陳橘皮（一錢五分）　草果（六分，炒研）　白茯苓（一錢二分）　甘草（五分），水煎服。</p>
<p>嘔，加生薑二片；渴，加烏梅一個。</p>
<p>加味四陳湯（此後底本缺一頁，其中包括「子癇」的內容）。</p>
<p>荊瀝（半瓶，無者以竹瀝代之，沖。）</p>
<p><u>子喑</u></p>
<p>凡妊娠三五個月，忽失音不語者，胞絡脈絕也，名曰「子喑」。蓋胞系於腎，腎脈貫舌，故失音。此非藥可治，分娩即自出聲。然前症俱由妊娠脾土不運而生濕，濕生熱，熱生風，如子腫，濕也；惡阻，痰也；子煩、子淋，熱也；子癇，風也；子懸，氣也；轉脬，虛也。治法雖有清熱消痰，滲濕順氣，疏風補虛之不同，要不外「祛邪保胎」四字為總訣也（分娩即產子也）。</p>
<p><u>外感風寒</u></p>
<p>凡妊娠外感風寒，渾身壯熱，眼花頭旋，此因風寒格於肌表，侵入脾胃，傷損營衛，是以憎寒，發熱，頭疼，眼痛，甚至心腹煩悶，不可妄投峻劑，只宜芎蘇散，表其寒邪。</p>
<p>按：經云：「婦人天癸未行，屬少陰；天癸已行，屬厥陰；天癸已絕，屬太陰。胎產之病，治厥陰者溯化之源也。」故《機要》曰：「胎產病，當從厥陰經論，毋犯胃氣及上、中二焦，謂之三禁：不可汗，不可下，不可利小便是也。汗則痞滿，下則傷脾，利小便則內亡津液，中州枯燥。故受孕三五個月時，不可用一毫辛散滑利之藥，惟七八個月後，倘有閉結，乃敢稍施以滑利之劑。」故曰不可妄投峻劑。</p>
<p><u>加味芎蘇散</u></p>
<p>全紫蘇、羌活、陳橘皮、麥門冬（去心，各一錢）　川芎、白芷（各八分）　乾薑、甘草（各五分）　生薑（二片）</p>
<p>慎齋曰：「胎前直清涼，非十分受寒者，乾薑還須忌用。」</p>
<p><u>霍亂吐瀉</u></p>
<p>凡妊娠霍亂吐瀉，心燥腹滿，宜服六合湯。</p>
<p><u>六合湯</u></p>
<p>藿香、揀砂仁（炒研，各五分）　陳橘皮、白茯苓、甘草（各四分）　人參、木瓜（各一錢）　白扁豆（二錢，炒研）　杏仁（十粒，制）　半夏曲（六分）　生薑（二片）　大棗（二個，炒）　竹茹（五分）</p>
<p><u>下痢</u></p>
<p>凡妊娠下痢赤白，此由生冷傷脾，鬱積傷胃，以至濕熱相干，氣血凝滯。其濕熱傷於氣分，則下白痢；傷於血分，則下赤痢。腹鳴後重，下痢頻頻，急服姜連丸治之，如腹痛胸滿，宜服九味歸芍湯，或八味歸芍湯。</p>
<p><u>姜連丸</u></p>
<p>川黃連、白朮（土炒）　揀砂仁（炒炮）　阿膠、炮乾薑、川芎（各一兩）　枳殼（五錢，麩炒）　乳香（三錢，炒透，先另研為末）</p>
<p>上八味共為末，加鹽少許，楊梅枝各一枝，醋少許，打糯米糊為丸，如桐子大，每服四十丸。</p>
<p>白痢，淡薑湯下；赤痢，甘草銀花湯下；赤白痢，甘草生薑湯送下；白痢腹痛，可加青皮；姜炒黃連治痢不可少，又不必分赤屬熱，白屬寒，拘泥於薑湯甘草送下也。</p>
<p><u>九味歸芍湯</u></p>
<p>全當歸（土炒）　白芍藥（炒）　枳殼（炒）　山楂（各一錢）　川厚朴（八分，炒）　陳橘皮（六分）　廣木香（三分，沖）　甘草（四分）　黃芩（二錢）</p>
<p>服後忌生冷。</p>
<p><u>八味歸芍湯</u></p>
<p>全當歸（三錢，土炒）　白芍藥（二錢，半生半炒）　萊菔子（二錢，炒研）　廣木香（八分，研）　檳榔（七分）　甘草、車前子、山楂（糖炒，各一錢五分）　白痢加生薑，赤痢加白糖。</p>
<p>積已清而腸薄不止，始用姜連丸，並服阿膠、人參、黃耆可也。</p>
<p><u>一味五行草飲</u></p>
<p>凡熱痢初起，用馬齒莧一味，不拘多少，水煎代茶，亦有大效。其馬齒莧葉青，梗紅，根白，花黃，子黑，因名五行草，又名五方菜，有奇功，凡下痢俱可用之。</p>
<p><u>熱症</u></p>
<p>凡妊娠病熱，嘔吐不食，胸中煩燥，宜安胎涼膈飲。如熱甚，發赤黑斑，小便如血，胎漸落將危者，急以梔子石膏湯救之；遲則墜矣。如火熱痰壅，心煩口渴者，宜清心潤肺湯。</p>
<p><u>安胎涼膈飲</u></p>
<p>知母、麥門冬、人參、白茅根、葛根、梔子（炒黑）、竹茹（各等份）　蔥白（一寸）</p>
<p><u>梔子石膏湯</u></p>
<p>梔子（研）　黃芩、生地（即乾地黃，各二錢）　煅石膏（四錢）　青黛（五分）　升麻（一錢五分）　淡豆鼓（一錢）　蔥白（五寸）　服上方若不甚效，原方加玄參、連翹各二錢。</p>
<p>若遇氣虛心熱，胎將落時，減地黃、石膏，加犀角一錢。</p>
<p><u>清心潤肺湯</u></p>
<p>梔子（研）、黃芩、麥門冬（各二錢）　知母、天花粉、人參（各一錢）　甘草（五分）　犀角（三分）　生薑（二片）　大棗（二枚，炒）</p>
<p>按方內用人參，恐火得補而益熾，治熱之方去之為善。</p>
<p><u>因怒滿悶</u></p>
<p>凡妊娠因多怒氣，胸膈滿悶，或服順氣耗氣之藥太過，以致滿悶益增者，宜散氣消悶散治之，然烏藥、香附、枳殼、砂仁等必須少用。</p>
<p><u>散氣消悶散</u></p>
<p>人參（一錢）　白朮（二錢，土炒）　川芎（三分）　廣木香（三分，沖）　紫蘇葉、黃芩、甘草（各三分）　生薑（三片），溫服。</p>
<p><u>小腹重墜作痛</u></p>
<p>凡妊娠腹痛時作，小腹重墜，此緣氣虛下陷，間有兼寒者，宜加味安胎飲治之。</p>
<p><u>加味安胎飲</u></p>
<p>熟地黃、白朮（土炒）、全當歸（各二錢）　陳橘皮、紫蘇梗、川芎、甘草（各四分）　揀砂仁（五分，炒研）　煨鮮姜（一塊），溫服。</p>
<p>寒多者，加吳茱萸五分，乾薑五分；或去乾薑，加醋炒高良薑七分，生綿黃耆一錢五分，母丁香四分。</p>
<p><u>小腹虛脹閉滯</u></p>
<p>凡妊娠少腹虛脹，因食硬物傷胎，胎既受病，傳於脾胃，胃氣虛冷，下逼小腸若奔豚，腰重或大便閉澀，兩脅虛鳴喧呼，致令胎驚，筋骨傷痛，四肢不安，急以大聖散治之。</p>
<p><u>大聖散</u></p>
<p>人參、黃耆（蜜炙）、廣木香（研末）、甘草（各五分）　全當歸、川芎、麥門冬（去心）、白茯苓（各三錢）　生薑（三片）</p>
<p><u>頭旋目暈、痰壅將危</u></p>
<p>凡妊娠頭旋目昏，腮項腫硬，此因胎氣有傷，熱毒上攻太陽，沉痛欲嘔，背項拘急，致令眼暈生花，若再痰壅，危在片時，急以消風散治之。</p>
<p><u>消風散</u></p>
<p>雨前茶、甘菊花、羌活石膏（煅、研）、全當歸、川芎、羚羊角、白芷、荊芥、防風（各一錢）　甘草（八分）　生薑（二片）</p>
<p><u>兩目不明、腮頂腫滿</u></p>
<p>凡妊娠將臨月，忽然兩目不明，燈火不見，頭痛項腫，不能轉頸，此由常居火閣，衣襟臥褥，伏熱在內，或服補藥熱物太過，致令胎熱而肝臟壅極，風熱上攻入腦，故見此症，急以天冬飲子治之。大忌酒蒜、炙、油膩一切辛熱發物，否則眼不復明矣。</p>
<p><u>天冬飲</u></p>
<p>天冬、荊芥（各錢半）　全當歸、川芎、熟地黃、白芍藥、知母、白茯苓（各二錢）　人參（六分）　五味子（十五粒，口北產）　防風（一錢）　茺蔚子（一錢，炒研）</p>
<p>每日一劑，病稍退，二日一劑。</p>
<p><u>遍身刺痛、喘滿筋攣</u></p>
<p>凡妊娠遍身刺痛脹滿，此由五臟不利，血氣虛贏，因食生冷。或發熱憎寒，唇白麵青，筋脈拘攣，骨節痠痛，皮毛乾澀，氣急上喘，大便不通，嘔吐頻頻，此危症也，急以平安散保之。</p>
<p><u>平安散</u></p>
<p>厚朴（姜炒）　陳橘皮（各一錢）　熟地黃（八分）　甘草（六分）　川芎、廣木香（沖，各五分）　生薑（三片）　煨鹽（五分），水煎服。</p>
<p><u>因失血類中風</u></p>
<p>凡妊娠因吐血衄血，或被傷失血，驀患口噤，項背強直，類中風症，宜服加減安胎飲。</p>
<p><u>加減安胎飲</u></p>
<p>人參、白朮（土炒）、麥門冬（去心）、全當歸、熟地黃、天麻（各二錢）　防風、荊芥（各一錢）　陳橘皮、甘草（各五分）　生薑（三片或加川貝母一錢，研）　天竺黃（一錢）</p>
<p><u>心煩腹脹、百節痠痛、小便閉澀</u></p>
<p>凡妊娠面赤干，舌苦心煩，腹脹，百節痠疼，小便不通，此由恣意飲酒，及食瓜果魚肉，一切腥膻熱毒之故，以歸涼節命飲治之。</p>
<p><u>歸涼節命飲</u></p>
<p>苧根、白芍藥、全當歸、川芎、麥門冬（去心，各一錢）　白朮（一錢五，生）　揀砂仁（炒研）　甘草（六分）　紅殼米（二錢）　蔥白二寸，因中酒者，加葛根一錢；因積食者，加山楂（炒），麥芽（炒）各一錢；小便閉者，加赤茯苓、大腹皮各一錢。</p>
<p><u>半產</u></p>
<p>凡妊娠月未足而半產者，由氣血虛弱，臟腑皆虛，加以病患相感，情欲相擾，以致精血攻衝，侵損營衛，而胎無所養，與枯枝落葉無異，如既墮以生化湯加減治之，未墮而血行腰痛，急以十聖散速進數貼，或阿膠補血湯，或保生無憂散皆無不效。</p>
<p><u>十聖散</u></p>
<p>人參、黃耆（各二錢）　全當歸、白芍藥、川芎、白朮（土炒，各一錢）　熟地黃（一錢）　揀砂仁（五分，炒研）　川斷（七分）　甘草（三分）　生薑（一片）　大棗（一枚，炒）</p>
<p>食遠服，忌惱怒、生冷、辛熱之物，如腎不足，加枸杞（一錢五分）　杜仲炭（二錢）</p>
<p><u>阿膠補血湯</u></p>
<p>阿膠、白芍藥、川芎、白朮（土炒）、杜仲（炒炭）、黃耆、人參、五味子、廣木香（沖，各一錢）　甘草（八分）　生薑（一片）　大棗（二枚，炒）</p>
<p><u>保生無憂散</u></p>
<p>半產一症，將此散一日二貼，連服七八劑更妙（方詳見胎漏下血門）。</p>
<p><u>腹中兒啼</u></p>
<p>凡妊娠臨月或九個月，腹中兒啼者，緣兒在母腹，口含臍帶隨母呼吸，妊母或將手搬高取物，提出兒口臍帶故鳴，但令其母如男子作輯，使臍帶仍入兒口，即不啼矣，或煎黃連濃汁呷之，或用九枚錢置地上，令其母一步一個拾之，皆效。</p>
<p><u>轉脬</u>（披交切音，泡，膀胱也）</p>
<p>凡妊娠將足月，脬為胎壓轉在一邊，以致臍下急痛小便不通，但升舉其胎，脬仍還舊處，而水道自通，宜六君四物湯去茯苓，探吐以提之，不宜專用滑滲之藥。產後亦有此症，搗蔥白鋪於臍上炙之，立效。</p>
<p><u>六君四物湯</u></p>
<p>陳皮（一錢，去白）　半夏（二錢，炒）　人參　白朮（土炒）　甘草（各五分）　生地（二錢）　白芍（酒炒）、川芎（各一錢半）　當歸（四錢，酒浸）</p>
<p><u>乳吹</u></p>
<p>凡妊娠胎前，兩乳硬腫疼痛，寒熱併發者，此名「內吹」。乃督任不通，經絡不和，寒束毛竅，氣閉血滯，乳管阻塞，治宜加減無憂散，或鹿角酒，或腐皮散、遠志酒等方，治之甚效。</p>
<p><u>加減無憂散</u></p>
<p>生黃耆（三錢）　全當歸（二錢）　川芎（一錢）　冤絲餅（二錢）　厚朴（八分，姜炒）　枳殼（一錢，麩炒）　羌活（七分）　荊芥穗（一錢）　川貝母（一錢）</p>
<p>生甘草（一錢，研）　遠志肉（一錢五，炒，去心）　蒲公英（一錢五）　生薑（二片）　服後飲紹酒（一杯）</p>
<p>腫甚者，原方加鹿角屑五分，金銀花一錢。</p>
<p>鹿角酒</p>
<p>以鹿角屑五錢，紹酒四兩和水煎服。</p>
<p>腐皮散</p>
<p>以豆腐皮一兩，帶色制焦乾，研末，紹酒二兩沖服（若無紹酒，以黃酒代之）。</p>
<p>遠志酒</p>
<p>以遠志肉二兩，紹酒二兩，河水一大碗煎服，作三次四次服之，服後再用遠志渣灸（注）之。</p>
<p>遠志灸法</p>
<p>以前遠志渣搗爛，鋪乳硬處。再用蔥白三寸，生薑四錢，搗爛和食鹽少許，鋪遠志上，用艾灸[注]七大壯，重者用青黃散治之。</p>
<p><u>青黃散</u></p>
<p>青皮（二錢，醋炒），麻黃三錢共為末，紹酒調服（此方三次用之，夏月忌）。</p>
<p>按：「乳吹」一症，有內外之別，上列六方皆治「內吹』。「內吹」者，胎前症也；產後患此，名曰「外吹」。若治「外吹」，即可照第三方用之，無不神效。</p>
<p><u>不宜服瘦胎方辨</u></p>
<p>凡妊娠臨產艱難者，大率由口饜肥甘，身耽安逸，既飽即臥，遂令胎胞肥厚，行動氣急，以致臨盆難產。宜於胎將足十月之時，時時動作，勿食肥鮮，勿貪坐臥，勤行勤走，此即不藥滑胎之妙方也。乃世醫咸謂：安胎之後，必須更進滑胎藥，始為合宜。豈知滑胎名目，昔人原為湖陽公主而設，蓋以貴家居養豐逸，身體肥盛，誠恐軀脂凝結，胞系堅固，特藉此以蕩其肥滯耳。若平常婦人，一母之氣血，分蔭其胎，尚虞不敷，復加無憂、易產名目，一概施之，是猶窶人而復遭削奪，其能勝此乎？然恐後人疑為未備，特詳錄二方，以為體肥稟厚者採擇。</p>
<p>湖陽公主每產累日不下，南山道人進以滑胎枳殼散，用枳殼二兩、炙甘草二兩共為末，每服二錢，滾白水送下，一日三服殊效，蓋為壯實者立法也。</p>
<p><u>無憂散</u></p>
<p>乳香（一錢，去油）　白芍藥（一錢二分，炒）　枳殼（二錢）　全當歸（二錢）　麥門冬（一錢，去心）　血餘（二分，炒）　神麯（一錢，炒）　陳橘皮（八分）　廣木香（三分，沖）　訶子（二枚，炒，去核）　甘草（八分）</p>
<p><u>易產湯</u></p>
<p>乾地黃、川芎、全當歸、大腹皮、陳皮、甘草（生）、白朮（生）、益母草各等份</p>
<p><u>胎前禁藥歌</u></p>
<p>紅斑水蛭及虻蟲，烏頭附子與天雄；野葛水銀共巴豆，牛膝薏苡並蜈蚣；三稜莪朮芫花麝，大載甘遂黃雌雄；代赭芒硝牡丹桂，槐花牽牛皂角同；半夏南星及通草，瞿麥乾薑桃仁通；硇砂乾漆蟹甲爪，地膽牙硝是禁中。</p>
<p>附增異症（並方）</p>
<p>腹內鐘鳴　腹內作鐘鳴或哭者，用多年空房內鼠穴中土為末，黃酒送下或干噙之，即止。</p>
<p>慘慼嘔吐　有臟臊悲傷，慘慼嘔吐者，大麥芽、甘草、大棗水煎服。</p>
<p>哭笑　有自哭自笑者，紅大棗燒存性，米湯送下。</p>
<p>妊娠生痘　妊娠患痘，無從用安胎補劑，若用攻藥，必致去血泄氣，立危之症也，不必服藥。</p>
<p>或曰若慮攻藥，去血泄氣立危，而火毒內攻，獨不立危乎！是在按症輕重以為消息，不必拘泥於妊娠患痘之不可攻之，必攻也。故曰：按症輕重以為消息，可攻則攻，可和則和，可守則守者是也。</p>
<p><u>胎形</u>（附收胎飲二，驗胎方一，安胎方一）</p>
<p>人胎之形，一月如露珠，二月如桃花，三月分男女，四月形像具，五月骨節成，六月毛髮生，七月動右手（是男於母左，是女於母右），八月動左手（是男於母右，是女於母左），九月三轉身，十月始滿足。</p>
<p><u>生生收胎飲</u></p>
<p>此方治血熱有瘀不收胎，屢用屢驗之妙方也。</p>
<p>生丹參、生地黃各五錢，水沖代茶，三付收胎。</p>
<p><u>參參收胎飲</u></p>
<p>此方治婦人氣血虛弱而有瘀，血期忽前忽後不收胎者，用之或一劑數劑，血色以正則胎收，百發百中。</p>
<p>大潞參（五錢）　炒丹參（五錢）　大熟地（五錢）　揀砂仁（五分）</p>
<p><u>艾葉驗胎湯</u></p>
<p>艾葉（三分，醋炒研末）　白水沖服，稍時腹疼即胎也，急服六君安胎飲為善，否則恐有不安也。</p>
<p><u>六君安胎飲</u></p>
<p>陳皮、半夏、川斷、杜仲炭（各一錢）　人參、白朮（土炒）、茯苓、甘草（各一錢五分）</p>
<p>高氏胎產方案卷一終</p>
<p>附禁忌所宜各一則</p>
<p>妊娠禁忌：</p>
<p>怒氣惡暴，不孝不賢，一切犯上之事，及隨便食飲腥葷，隨便語言是非，如此不禁不止，生子凶惡奸盜，非善即為。</p>
<p>妊娠所宜：</p>
<p>孝順（翁、姑、父母）賢惠夫主，和睦妯娌，慈愛小叔、小姑、一切少小者，恭敬長上者。聽讀書聲，聞善言，視山水，觀善事，言仁義；坐立端正，飲食清潔，遵此所囑，產子聰明正直，忠孝仁義。</p>

<h1>高氏（胎產方案》卷二</h1>
<p><u>臨產總論</u>（產子，又名分娩。）</p>
<p>婦人以血為主，血和則氣順，氣順而產亦順。奈富貴之家，居尊養優，耽於安樂，全不運動，使精血凝於胞胎，氣不流通。抑或臨產驚恐，穩婆冒昧，坐草太早。迨產母困倦無力送兒，以致難產。即如腹痛或作或止，名曰「弄胎」；漿水點滴微來名曰「試水」。此時兒方轉身，切莫倉皇，並禁穩婆將手人探腹上揣摩，直至腰痛如折，眼中火出，水破淋漓，兒逼產門，方可坐草用力送之，小孩自來。而猶遲遲末下者，始服催生之藥。然又不可輕用峻劑徒滲水道，愈令難產。時逢盛暑，氣散血沸，產室宜水缸以收熱毒。節屆嚴冬，氣滯血凝，產室宜備火盆以解寒邪，此調護之法，當因時以制宜也。</p>
<p><u>臨產脈法</u></p>
<p>欲產之脈散而離經</p>
<p>脈一呼三至，曰「離經」，是陽加於陰一部也；一呼一至，亦曰「離經」，是陰加於陰一部也。蓋由胎動於中，是以脈亂於外，故能知其欲產。</p>
<p>沉細而滑，不日分娩。</p>
<p>沉細而滑，乃腎臟本脈之形，腎系胞胎，故見此脈者，亦與「離經」同也。</p>
<p><u>楊子建十二產難論</u></p>
<p>一曰正產　懷胎十月，陰陽氣足，忽然作陣疼痛，胎至產門，漿破胎下，兒即正產。</p>
<p>二曰傷產　胎未足月，有所傷動，以致忽然臍腹疼痛；或服催生藥太早，或產母用力太過，逼兒錯路，以致不能正生。故分娩須待兒身轉動，頭對產門，然後努力一送，自然產下。</p>
<p>三曰催生　欲產時，兒頭已至產門，而生猶遲滯者，方用藥催之；又或挨延日久，產母困倦難支，宜服藥以助其氣血，令兒速生。</p>
<p>四曰凍產　天氣寒冷，產母氣血凝滯，不能速生。務要產室和暖，衣被加厚，使產母溫和，不致血凝胎滯。</p>
<p>五曰熱產　暑天產母熱甚，則頭痛面赤昏暈，或產室人多氣逼，亦致此患，名曰暈。宜多置水盆，以收熱毒，庶免崩暈。然或遇涼風陰雨又當謹避。</p>
<p>六曰橫生　此由兒方轉身，產母努力逼之，以致兒頭不正。當令產母安然仰臥，推兒身正直，撥頭對產門。推撥時以中指深兒肩，不令臍帶系絆，方用藥催之，繼以努力一送，兒即生矣。</p>
<p><u>催生保母飲</u></p>
<p>葵子（三錢，天葵）　阿膠（四錢）　當歸（三錢）　川芎（二錢）　滑石（三錢）　上五味共為末，紹酒蜂蜜調服，古用三脫散蜜調服。</p>
<p><u>三脫散</u>（方見本卷集催生諸方門）</p>
<p>七曰倒生　由兒尚未掉頭努力一逼故也。亦令安然仰臥，令穩婆徐徐將兒足推送入腹，候兒身自順，切勿驚惶。如良久不生，信穩婆輕輕用手推足，就令一邊漸漸順下，正對產門，然後服催生藥，努力一送即生矣。</p>
<p>八曰偏生　由兒頭未順生路，產母努力一逼，以致兒頭偏墜一邊，雖已露頂，實乃頭角也。亦當令仰臥，輕輕用手撥正，小兒頭面直對產門，一送即下。若兒頭頂後骨偏墜穀道而先露頭，則令穩婆以綿衣烘暖裹手於穀道外旁，轉手推兒努力送之自生，名曰「側生」。</p>
<p>九曰遺（宗岳按：第八段自「若兒頭頂後骨」一句，至段末即第九段）</p>
<p>十曰坐產　言兒欲生時，當於高處牢掛手巾一條，令產母以手攀之，輕輕屈足，良久，兒即順生。</p>
<p>十一曰盤腸生　臨產時，小腸先出，然後生兒其腸不收，名曰「盤腸」。急以熱水浸軟舊布蓋住其腸，不可包托。外以醋半盞，新汲水半盞，默噀產母背面一噴，令一縮，再噴再縮，以盡為度，不可驚惶。可用如聖膏塗頂心，收盡即洗去；或以半夏末吹鼻即收；或以麻油紙菸熏鼻；或用磨刀水少許，火上溫過，以潤其腸後，用好磁石（即吸鐵石）煎湯一盞，服之自收。蓋用磨刀水之故，即以借其勢。如腸久出而風吹乾不能收者，用淨器盛貯，煎黃耆湯浸之。</p>
<p>如聖膏又名收線子母膏（見產後奇異症門，又見胎衣不下門）</p>
<p>十二曰交骨不開、陰門不閉　二症皆由元氣素弱，胎前失於調攝，以致氣血不能運達而然。交骨不開者，陰氣虛，加味芎歸湯；陰門不閉者，氣血兩虛也。用十全大補湯。</p>
<p><u>加味芎歸湯</u></p>
<p>龜板（一兩）　川芎（二錢）　當歸（四錢）</p>
<p><u>十全大補湯</u></p>
<p>人參、白朮、茯苓、甘草、當歸、川芎、熟地、白芍、陳皮、半夏各等份</p>
<p>將產昏倒</p>
<p>凡將產忽然昏倒，或坐草之時，驀然口噤目翻吐沫者，皆因產前不能忌口，恣食肥甘，以致五臟氣滯，六腑不和；且胎氣既肥，用力太早，遂令胎驚猝倒，治以瘦胎金腋丸可保無憂矣。</p>
<p>瘦胎金腋丸</p>
<p>（公、母）羊糞（各二錢五，燒存性）　飛生毛（腋下者，燒存性）　人發（各五錢，無病者燒存性）　揀砂仁（五分，生研）　黑鉛　水銀　灶心土（各一錢）</p>
<p>共八味，先將後四味入鍋內溶化，拌勻取出研碎，再與前四味共為末，用江米粽子角（不論多少），搗和為丸如綠豆大，遇前症及橫生倒產，以急流水吞下五丸，則子母俱保。</p>
<p>交骨不開</p>
<p>凡將產真陰枯滯，或中年破腹，交骨不開以致難產者，宜服開骨千金不易湯。</p>
<p>開骨千金不易湯</p>
<p>敗龜板（三錢，醋炙研）　人頭髮（一錢，燒存性）　川芎（三錢）　全當歸（六錢）　紹酒（一盞）</p>
<p>此方初產婦人更宜服，方中用發以無泥垢者為嘉，其發不拘男女皆可用。</p>
<p>死胎不下（並雙胎一死一生）</p>
<p>凡胎死腹中，外現指甲青黑，脹悶不食，口中極臭，用平胃散加朴硝五錢，水酒煎服，其胎化成血水而下。如血乾而寒者，芎歸湯下，或服桂香丸，或服立竿見影方；雙胎服蟹爪湯。</p>
<p>加硝平胃散</p>
<p>蒼朮（炒）、川樸（炒）、陳皮、甘草（各一錢）　朴硝（五錢）　紹酒（一兩）</p>
<p>芎歸湯即佛手散（見集催生諸方門）</p>
<p>桂香丸</p>
<p>邊桂（三錢）　麝香（一分）　蜂蜜為丸桐子大，白水送下。</p>
<p>立竿見影方</p>
<p>黃葵花（三錢）　牡丹皮（三分）　真蕪荑茶（三分）　麝香（一分）　蠶（半個）　巴豆（半粒，去油）　蓖麻子（半粒，去油）大黃（一錢，研末）</p>
<p>上八味，用前七味共為末，醋糊為丸，彈子大，大黃為衣。臨用研碎一丸，熱紹酒和芝麻油少許送下。</p>
<p>按：此方用蔥汁糊為丸更妙，此方活水瘦胎軟骨，一切橫生逆產，死胎立下。</p>
<p><u>蟹爪湯</u></p>
<p>蟹爪（一兩）　甘草（二兩，生）　東流水十盞，煎至三盞去渣，人阿膠三兩（研末沖）。此藥作三次頓服，每服一次相隔一小時。</p>
<p>上方專治一婦孕雙胎，一死一活者，用此方一劑，能令活者安，死者出。</p>
<p><u>胎衣不下</u></p>
<p>凡胎衣不下，由產母困倦無力送胎衣；或停滯已久，外乘冷氣凝滯血道；或胎前素弱，血氣枯涸而衣遂傳留。三者俱速煎生化湯大料進之，血旺復和衣自下矣；或兼送益母丸，次送鹿角灰，外貼如聖膏均無不效。但服藥固須盡調理之宜。</p>
<p><u>生化湯</u>（見產後惡露門）</p>
<p>益母丸</p>
<p>益母草（一斤，端陽後小暑前收，連根、葉、花、子當風陰乾）為末，蜜丸如彈子大，臨時捺一丸於熱湯盞內化開，生化湯送下。</p>
<p>鹿角灰</p>
<p>鹿角片（一錢，炒黑為末）生化湯送下。</p>
<p>如聖膏</p>
<p>雄黃蓖麻子（去殼，各二錢）</p>
<p>共搗成膏，塗手足心，胎衣已下即洗去。</p>
<p><u>胎衣不下調護潔</u></p>
<p>胎衣未下時，產母只宜坐守，不可臥倒，必須先斷臍帶，用草鞋一隻系之，否則胞上抱心而斃。如寒日至，母到床依人坐定，用火籠被中蓋覆，時換熱衣暖服，自然血旺衣下，但下後防虛，仍須速進生化湯三四帖［注］方妙（貼［注］即劑也）。</p>
<p><u>生化湯</u>（方見產後惡露門）</p>
<p>——產畢不可即時臥倒，當依人坐定，令人以熱手從心下輕輕揉挪至臍腹五六次，然後臥下，亦不可久坐，以致耗乏。臥後仍不時揉按，庶使惡露不滯。其法須將兩足曲豎，不可直伸。其睡須高枕厚褥，四壁無風。</p>
<p>——產畢即煎生化湯二三帖連服數碗。如飢則服一煎後食白粥，不可過飽，片時即服第二煎。如不飢將藥服完然後進食，自然無塊痛諸病。</p>
<p>——產母腹皮，時用小衣烘暖溫之。雖暑天亦不可缺被，或以薄棉衣蓋護心腹。如春冬天氣嚴寒，尤當密閉產室，四圍置火，常令和暖。且下部衣被更宜加厚，方免胎寒血凝，變生諸症。</p>
<p>——初產不可問是男是女，恐因言多泄氣或以愛憎動氣，皆能致病。不可獨宿，恐致虛驚。犯時微若秋毫，成病重於山嶽，可不慎哉！</p>
<p>——凡產生之後一月之內，無論新產舊產，無論春夏秋冬，每產母食飲及用小方，均令周身潮潤。且忌大汗，又忌無汗，能今日日潮潤，必免生諸症。</p>
<p>集催生諸方</p>
<p><u>佛手散</u></p>
<p>全當歸（八錢）　川芎（四錢）</p>
<p>按：此方氣血虧者，尤當必服，血旺則胎自下。如胞衣已破者，恐其乾涸，將上原方加冬葵子三錢。</p>
<p><u>二脫散</u></p>
<p>蛇脫（一條，白者）　蠶脫（一張）</p>
<p>煅存性，紹酒送下或榆皮為引。</p>
<p>《濟陰綱目》云：「二脫散須加榆白皮一錢調下，連進三服，覺痛便生。」</p>
<p><u>三脫散</u></p>
<p>人脫（男子脫下頭髮，如雞子大一團）　蟬脫（十四枚）　蛇脫（一條）　俱煅灰為末，分三服紹酒送下。</p>
<p>上方並可治橫生、難產、胎死腹中。</p>
<p><u>三脫六一散</u></p>
<p>蛇脫（一條，白的）　蠶脫（一張）　蟬脫（五枚）　滑石（一錢二分）　甘草（二分）</p>
<p>上五味共為末，紹酒送下。</p>
<p><u>桂乳散</u></p>
<p>上邊桂心（一兩）　乳香（一兩，去油）</p>
<p>共為末，作三服，芎歸湯送下。</p>
<p><u>香桂散</u></p>
<p>麝香（五分，另研）　官桂（三錢，去粗皮，研）　各為末和勻，作三服，童便紹酒下。</p>
<p>此方系下死胎之聖藥，宜慎用之。用時蔥白汁調服，須臾，如手推下。</p>
<p><u>滑胎飲</u></p>
<p>益母草、川芎（各三錢）　當歸身（六錢）　冬葵子（二錢）　阿膠（一兩，炒珠）　滑石粉（三錢）</p>
<p>凡胞漿已破而胎猶不下者，當連進二劑；或原方加蘇油一兩，（藥煎畢將油和勻）即下。</p>
<p><u>屢次經驗催生秘方</u></p>
<p>魚膠一兩用紅棉布一尺，卷魚膠以罐盛貯封固，火煅存性為末，每服一錢，用芝麻油、蜂蜜、紹酒各半盞調服立下。</p>
<p>此方胞漿水破，瀝乾不下者可用。</p>
<p><u>油蜜煎</u></p>
<p>芝麻油、蜂蜜、童便各一碗，和勻入銅鍋，慢火煎三沸，掠去浮沫，調入白滑石粉一兩；或不用滑石，用益母草末一兩，亦可拌勻頓服。外以油蜜於母臍上下摩之，此方治難產瀝漿，胞胎不下最妙。《濟陰綱目》云：「此方甚妥。蓋童便取破血，又有濁陰下降之理，而摩法更妙。」</p>
<p><u>催生如聖散</u></p>
<p>黃葵子，不拘多少焙乾為末，熱酒調下二錢，神效。如無葵子，葵花亦可。若漏胎血乾，難產極痛者，並進三服，良久腹中氣寬，胎滑即產。如打撲死胎，紅花酒下。</p>
<p>又方曰：黃葵子，炒服七十粒，難產危時免哭泣。</p>
<p><u>華佗肘後方</u></p>
<p>巴豆肉（三粒）　蓖麻子（七粒）　麝香（少許）</p>
<p>共研如泥捻作餅，貼於臍上，須臾分娩矣。</p>
<p>王叔和難產生死歌</p>
<p>身重體寒熱又頻，舌下之脈黑復青，舌上反冷子多死，腹中須遣母歸冥。</p>
<p>身重者，胃氣絕也；體熱者，陰氣虛也；寒慄者，陽氣衰也；舌卷、舌下脈青黑及舌反冷不溫，乃子母俱傾之候。</p>
<p>面赤舌青獨留母</p>
<p>面赤是營衛流行之氣，故留母。舌上青色是妊娠絡絕，故子死。</p>
<p>唇口俱青子母傾</p>
<p>唇口俱青，營衛氣絕也。舌青而又營衛俱青，故子母俱死。</p>
<p>面舌俱青頻出沫，母亡子活定須應。</p>
<p>面舌俱青是營衛兩絕，吐痰沫是胎氣上衝，脾胃氣絕，乃子活母死之症。</p>
<p>王叔和生死脈訣歌</p>
<p>新產之脈緩滑吉，實大弦急逆分明，寸口滑絕不調死，沉細附骨命可生。</p>
<p>按：產後身發寒熱，其脈多數，切不可因熱而作熱治。蓋緣血虛陰虧而然，只須重用當歸，則身熱自退，其脈數自漸除。若遇前醫生過用桂附者，且產母直言心燒將斃，生化湯去姜，加酒洗乾地黃三錢，即愈。</p>
<p>新產禁補</p>
<p>丹溪云：「產後大補氣血為主，雖有他症，以末治之。」昔有陳氏婦，新產四五日腹痛寒熱，醫者拘於大補之語，誤進參耆，遍身紫黑髮喘而死。殊不知其言治末者，即標本之謂也。陳氏婦瘀血未淨惡露發熱，所謂「急則治其標」，正合用生化湯倍加當歸，先去其瘀血，則身熱自然漸退矣。今驟然大補，是失丹溪「主末」二字之義也。又有一婦張氏，產後血暈，用參附而愈。蓋一因血虛補之而痊，一因惡露不淨誤補而死，一症也，一藥也，而病不同。利害立判，是在臨症細心斟酌。必須問其惡露有無，按之痛與不痛，審症的確，然後施治，方保萬全。如瘀血未淨，腹痛便結，脈現澀滯沉實有神，浮洪有力，治宜生化湯；若或寒或熱，脈浮而數，按之無力者，當遵產後大補氣血為主也。</p>

<h1>高氏《胎產方案》卷三</h1>
<p>產後上</p>
<p>產後總論</p>
<p>凡病起於血氣之衰，脾胃之虛，況產婦氣血脾胃之虛弱，殆有甚焉。丹溪論：「產後當以大補氣血為主，雖有他症，以末治之。」故治法有氣勿專耗氣，有食勿專消食，熱不用芩連，寒不用桂附。如中虛外感，見三陽表症之多，似可汗也；在產後而用麻黃，則重竭其陽。見三陰里症之多，似宜下也；在產後而用承氣，則重亡其陰。至若耳聾、脅痛，腎虛、惡露之停，休用柴胡。譫語汗出，中風類痙之症，莫作風治。其由陽氣之衰，非大補不能回陽而起弱，即如因陰血之涸，非滋榮不能舒筋而活絡。又乍寒乍熱，發作有期，症類瘧也，若以瘧治，淹滯難痊。神不守舍，言語無倫，病似邪也，若以邪治，危亡可待。去血而大便燥結，蓯蓉加於生化。汗多而小溲短澀，六君倍用參耆。脫肛、茄帕俱是氣虛下陷，補中益氣是良方也。口噤拳攣，無非血燥類風，加參生化，大有益焉。產戶入風，服以養榮羌獨。玉門傷冷，洗須床菟萸硫。怔忡驚悸，生化湯加以遠志。似邪恍惚，安神丸兼服。脾氣因喘咳而滿悶虛煩，生化湯加木香為佐。因過食而嘔吐惡逆，六君子加神麯為良。蘇木、稜、莪大能破血；青皮、枳實最消膨脹。一應耗氣破血之藥，汗出泄下之方，只可施於強壯，不宜用於虛弱。大抵新產之後，先問惡露何如，塊痛何如，參朮不可遽加。至若亡陽汗脫，氣虛喘促，加參生化是從權也。如亡陰大熱，暈厥血崩，升舉大補乃急救耳。王太僕云：「治下補下，制以緩急，制緩以滋道路，制急乃氣味俱薄，力與緩同。」是製法當遵丹溪服法，須效太僕。雖未盡產症之詳，已統括治療之要。敢曰《濟陰》之指南，其於《女科》不無小補云。</p>
<p><u>生化湯論</u></p>
<p>產後氣血大虛，理宜大補。但惡露未盡，用補須防滯血，乃生之而化之，能化能生。攻血塊，無損元氣；行中又帶補血，方許萬全，治無一失。世以四物湯治產，地黃性寒滯血，芍藥酸寒無補，其不誤人者幾希矣。</p>
<p>按：生化湯者，因藥性之功而立名也。蓋產後以化舊生新為要。考諸藥性，川芎當歸、桃仁三品，能善破舊血，驟生新血，佐以薑炭、甘草引三品入於肝肺，生血理氣。五味成方，行中有補，化中有生，實產後之聖藥也，故因以生化名之。凡孕婦至月足，照方預備數帖，至胞水一破，速煎一劑，候兒降生即服，不問半產正產，雖少壯婦女，平安無事，俱宜服之。</p>
<p><u>生化湯</u></p>
<p>川芎（三錢）　全當歸（八錢）　桃仁（十粒，炒，去皮尖）　薑炭（五分）　炙甘草（五分）</p>
<p>上五味，用水三碗煎至八分，加紹酒二兩溫服。</p>
<p>按：生化湯要在產後一二個時辰內，未進飲食之先，相繼而服，則下焦血塊速化，新血驟生，自免血暈等症。但此湯頻服，精血漸增，產後諸症不能乘虛而襲矣。其或勞甚血崩，喘汗不止，急進加參生化湯數帖，或加紅花、延胡索生化湯，或加桂心生化湯等，一一如下及其他變症，以生化湯加減之，皆一一如下之生化湯加減法。</p>
<p><u>生化湯加減法</u></p>
<p>——產後勞甚血崩，汗喘不止，生化湯減甘草加人參二錢，大棗三枚，或原方加紅花五分，延胡索一錢五分（研、醋炒），或原方加桂心七分（研）。</p>
<p>——產後七日內未服生化湯，塊痛未除，仍照前原方服生化湯數帖；痛甚加延胡索一錢半（醋炒、研），益母草二錢，自然塊消痛止。不可遽加人參、黃耆、白朮、補住遊血，禍不可言。</p>
<p>——產後一二日內，塊痛雖未除，其產婦氣血虛脫，或崩或厥，或汗多而厥，或形色脫去，口氣漸冷，或煩渴不止，或氣喘短促，無論塊痛，從權加人參、黃耆以扶急危。如體倦無力，氣虛短促，本方多加人參；兼汗加黃耆；煩躁加竹茹；渴加麥門冬、五味子；喘加杏仁、桔梗。</p>
<p>——產後大便不通或至八九日者，由血少腸燥故也。宜生化湯加麻仁（火麻）三錢、肉蓯蓉五錢以潤之，一日自通。如大虛加人參二錢，勿用承氣湯。</p>
<p>——產後七日內或傷寒冷，血塊凝結痛甚，生化湯加肉桂五分、延胡索一錢。或食冷物，因之心腹皆痛者，再加肉蔻一錢。</p>
<p>——產後肥人多痰，宜生化湯加天花粉一錢五分，竹瀝半瓶，薑汁二錢，或加橘紅四分，毋輕用牛黃及寒冷等味。</p>
<p>——胎前素虛弱者，產後一二日，已服生化湯三四帖，塊痛稍減，可按揉而定，宜生化湯加人參三錢。</p>
<p>——產後雖暑月，亦要和暖，如失蓋衣被，腹不溫和，風邪乘虛而入，雖服生化湯，恐塊痛不止，宜加肉桂四分（研）炒，五靈脂一錢。</p>
<p>——產後勞倦血暈，服生化湯一劑。第二劑加人參二錢，汗多亦加人參二錢。如形脫去，只用鹿角炭二錢（研末），用本湯送下或用本湯送益母丸。亦可外用韭菜搗爛，納入磁瓶內，將熱滾醋兩碗衝入，封其口，用有嘴的瓶口既封嘴，注產婦鼻中，斂其精神即醒。</p>
<p>——產後發熱汗出，手足厥冷，或血崩氣短，神昏氣脫，乃大虛症，急須大補，庶可回生，宜加參生化湯速進數劑，再以生脈代茶。毋信《產室百問》，及《婦人良方》等書。</p>
<p>——產後日久不食，聞藥即吐，須用獨參湯以安胃氣，如聽其胃虛不能受藥則危矣。</p>
<p>獨參湯即人參（三錢或二錢，或以黨參代之）生薑三片江米二錢。</p>
<p>又方用胡椒少許，人乳汁一盅，熱和勻微辣飲，加以獨參湯，頻頻進之效甚。</p>
<p>兒枕惡露</p>
<p>產後惡露有塊，名曰「兒枕」。世多先消後補，殊不知舊血雖當消化，新血亦宜生養。若專攻舊，則新血不寧矣。世以濟坤丹，攻血塊下胞胎者，一時雖見速效，元氣未免虧損，不得已而用之，只可一丸，不宜多服，且須隨進補劑，庶免虛弱之害。</p>
<p><u>濟坤丹</u>（古方）</p>
<p>益母草（二兩）　當歸（一兩）　川芎（四錢）　白芍（四錢，炒）　五靈脂（四錢）　延胡索（三錢，炒）　上邊桂（一錢）　丹參（八錢，炒），共為末煉蜜為丸，如彈子大，每服一丸，紹酒送下。</p>
<p>產後用藥十誤</p>
<p>一、產後誤用順氣耗氣藥，反增飽悶，雖陳皮亦不可多用。</p>
<p>二、產後誤用消食藥過多，致減食損胃，甚至不進食。</p>
<p>三、產後誤用芩連知柏，致倒胃增熱，甚至不食。</p>
<p>四、產後塊痛未除，誤用參耆白朮，輕則瘀血不行，重則立斃。</p>
<p>五、產後誤用地黃以滯惡露，獨用枳殼、枳實以消塊痛，致耗元氣。</p>
<p>六、產後誤用大黃、芒硝以通大便，必成膨脹。</p>
<p>七、產後誤用三稜、莪朮、蘇木以行塊，輕則傷新血，重則傷性命。</p>
<p>八、產後虛弱之婦，誤用山楂煎酒以攻血塊，必傷元氣以致汗出不止。</p>
<p>九、產後誤用濟坤丹下胞衣，至三四五丸，以致百病皆作。</p>
<p>十、產後誤信《產室百問》及《婦人良方》，多至不救。</p>
<p><u>產後血暈</u></p>
<p>凡分娩之後眼花頭旋，不知人事謂之「血暈」。其因有三，一因勞倦甚而氣竭神昏；二因去血多而元氣欲絕；三因痰火乘虛泛上而昏憒不清。患此三者，魂不隨神往來而幾運幾息也，急服加味生化湯二三劑，以行塊止痛。外用醋韭法沖鼻，使產母聞氣令精神不散，此救血暈之急法也。大約病弱產母臨盆之際，須預煎生化湯，預備韭醋瓶，以防患此為萬全。及兒降生，不可喜子慢母，母亦不宜顧子忘倦，又不可產訖即臥，與夫憤怒氣逆，皆能致暈也，慎之慎之！</p>
<p><u>加味生化湯</u></p>
<p>荊芥（五分）　川芎（二錢）　全當歸（六錢）　薑炭（四分）　桃仁（十粒，炒去皮尖）　甘草（五分）　水煎八分，入紹酒一盅，溫服。</p>
<p>血塊不痛或無血塊而汗多者，原方加人參二錢，黃耆二錢。</p>
<p>血塊痛甚者，原方加肉桂五分。</p>
<p>渴，原方加寸麥門冬一錢（去心），五味子十粒。</p>
<p>有痰，原方加竹瀝半瓶，薑汁一匙。</p>
<p>痰火乘虛泛上而暈，原方加橘紅四分。</p>
<p>兩手脈伏或右手脈絕者，原方加麥門冬一錢（去心），人參四錢，五味子二錢。</p>
<p>按：三等血暈，切不可用破血耗氣等藥，雖山楂性緩，亦不宜服。其塊痛者，生化湯送益母九及鹿角炭。倘氣脫將絕，牙關緊閉，藥不下咽者，用鵝翎筒插咽灌之，如灌下漸溫暖，則不拘劑數灌之。又當用熱手自單衣外從心揉至腹上，又時換熱衣溫暖之，自然漸漸甦醒。如醒後塊痛仍未除者，宜用原方生化湯不加不減，待塊消痛止，再進參耆。</p>
<p><u>產後厥逆</u></p>
<p>凡產母產時用力太過，勞倦傷脾，脾氣耗竭，不能注於四旁，故足冷逆而厥氣上行。經曰：「陽氣衰於下則為寒厥。」逆氣上行，滿於經絡，則神氣浮越，去身而飄矣！苟非大補，焉能回陽而復神，必用仁壽生化湯倍人參，連進二劑，使氣血旺而神復厥止。如渴，另用生脈散代茶，助津以滋臟燥。雖有四肢厥冷、泄漏或類傷寒陰症，亦不可用四逆湯，必倍參生化佐以黑姜（即炮姜也），或加熟附一片，以回陽止逆則可已，足以行參耆之力矣。</p>
<p><u>仁壽生化湯</u></p>
<p>人參　川芎（各二錢）　當歸（四錢）　炮姜（四分）　桃仁（十粒，炒，去皮尖）　甘草（四分）　大棗（二枚，燒），水煎服。</p>
<p>如厥回，去人參，待塊痛除再加之，此治新產發厥。</p>
<p><u>生脈散</u>（古方）</p>
<p>人參（四錢，或用黨參一兩）　五味子（二錢）　麥門冬（一錢，去心），代茶。</p>
<p><u>滋榮益氣復神湯</u></p>
<p>此方治產後發厥，但無塊痛者宜服。</p>
<p>人參、全當歸（各二錢）　麥門冬（去心）　焦白朮、川芎（各一錢）　熟地（二錢）　甘草（四錢，炙）　橘皮（三錢）　五味子（十粒）</p>
<p>如汗多，以原方加麻黃根一錢（炙），酸棗仁一錢（炒黑）。</p>
<p>有塊痛，減人參，加肉桂五分（研）。</p>
<p>大便閉，原方加肉蓯蓉、火麻仁（研）各二錢。</p>
<p>小便閉，原方加通草三分。</p>
<p>有痰，原方加竹瀝、薑汁、橘紅各四分，紹酒一杯。</p>
<p>手足口氣漸冷，原方加漢附子五分，人參倍用。</p>
<p>口渴服原方，間常以生脈散代茶（即前方）。</p>
<p>按：厥逆屬陽虛者居多，若無塊痛腹脹等症，純用參附加肉桂可也，有桂則瘀亦去矣，不可遲疑。</p>
<p><u>暈逆總論</u></p>
<p>大抵產後暈厥，皆由氣血兩竭，神將去而幾息，僅有一線生意耳。若非大補，不能回將絕之元陽。但暈在臨盆尤甚於厥，宜頻服生化湯。先補血分之虧，可期塊化血旺，神清暈止。如無汗脫、神倦氣虛等症，切勿遽加參耆。或厥在分娩之後，氣血兩竭，宜用仁壽生化湯以復其神。總之，治暈，問有塊痛，參朮未可驟進，問無塊痛，參朮地耆必須並用。</p>
<p>仁壽生化湯（見產後厥逆門）</p>
<p><u>產後血崩</u></p>
<p>產後血水大來，須看顏色之紅紫，形氣之虛實。如顏色多紫，乃當去之敗血，勿以崩論。若紅而色鮮，乃是驚傷而心不能生血，怒傷而肝不能藏血，勞傷而脾不能攝血，則當以崩治。法以先服生化湯數劑，則行中有補，血自生旺矣！至若形脫氣虛或汗出不止，宜仁桂生化湯以益氣。斯陽生則陰長而血乃旺，非棕炭等藥可治也。如產後滿月外，患此崩症，宜五灰散，又宜升舉大補湯治之。凡年老有積虛弱人患此崩者，均宜服此末二方也。</p>
<p>生化湯（見本卷產後血崩門）</p>
<p><u>仁桂生化湯</u></p>
<p>人參（三錢）　全當歸（四錢，炒）　川芎（三分）　荊芥（四分，炒黑）　桃仁（十粒，炒去皮尖）　肉桂（五分，研，二劑後去之）　酸棗仁（二錢，炒黑）　炙甘草（五分）</p>
<p>如汗多，原方加黃耆、人參各三錢。</p>
<p>渴，原方加麥門冬一錢、五味子五分。</p>
<p>瀉，原方加白茯苓、蓮子（去心炒）各二錢。</p>
<p>六脈俱伏或右手絕者，宜用生脈散倍加人參（見產後厥逆）。</p>
<p>痰多，仁桂生化湯原方加竹瀝、薑汁各一錢，紹酒一杯。</p>
<p>咳嗽，上原方加杏仁、知母、桔梗各一錢。</p>
<p>驚悸，原方加酸棗仁（炒黑）、柏子仁（炒，各研）各二錢。</p>
<p>久不進飲食，聞藥即吐，用人參一錢，水一杯煎焦，以煙氣薰之，即引開胃口。</p>
<p>鮮血來多不止，以仁桂生化湯加升麻、白芷各五錢。</p>
<p>如無汗脫等症而血崩者，宜服生化湯，原方加荊芥炭二錢（炒透黑），服之自安。</p>
<p>世言：芎歸活血，不可治崩，殊誤。</p>
<p><u>五灰散</u></p>
<p>荊芥（二錢，炒透存性）　棕皮（二錢，炒透存性）　地榆（三錢，炒透存性）　杜仲（四錢，炒透存性）　續斷（四錢）　黃芩（二錢五分，炒黑存性）　人發（五分，燒灰）　茯神（三錢，辰砂拌）</p>
<p>上方服後，血止即換潤補之方。然過用主燥干之疾，當以升舉大補湯潤之即可。</p>
<p><u>升舉大補湯</u></p>
<p>人參、白朮（土炒，各三錢）　川芎（一錢）　全當歸（一錢五分）　熟地（三錢）　黃耆（二錢，炙）　白芷（四分）　陳橘皮黃連（炒老研）　黃柏（炒，瀉者勿用）　羌活、防風（各四分）　升麻、甘草（各五分）</p>
<p>上方治產後，日久血崩不止，或如雞卵大塊，或去血如片，宜大補脾胃，升提氣血，少加鎮墜心火之藥，此方並治老少血崩等症。</p>
<p>如渴，原方加麥門冬（去心）、五味子各五分。</p>
<p>瀉，原方加蓮子一錢五分（去心炒）。</p>
<p>痰，原方加半夏二錢（姜炒）。</p>
<p>兼白帶，原方加蒼朮（炒）、半夏（姜炒）各一錢。</p>
<p><u>產後類傷寒三陰症</u></p>
<p>產後潮熱有汗，大便不通，毋專論為陽明症；口燥咽乾，毋專論為少陰症；腹滿嗌乾，大便秘結，毋專論為太陰症；又汗多譫語，毋專論腸胃有燥糞。其諸症多由勞倦傷脾，運化稍遲，氣血枯竭所致。治宜養正通幽湯，勿執偏門，妄用承氣，致沾唇莫救。</p>
<p>按：此論更當細玩，即書所謂，產後以大補氣血為主，雖有他症，以末治之之意，又即甘溫能除大熱之旨也。</p>
<p><u>養正通幽湯</u></p>
<p>蓯蓉（五錢）　廣橘皮（四分）　川芎（二錢五分）　甘草（五分，炙）　桃仁（五粒，炒去皮尖）　火麻仁（三錢，炒研）</p>
<p>諸症加減如前，惟汗出譫語便實，乃氣血兩虧，神衰，心主失守，急宜養榮安神，此方加茯苓、酸棗仁、柏子仁、人參、黃耆、白朮各一錢。</p>
<p>大便至十日燥結不通，肛門必有燥糞，用蜜煎人皂角末，或豬膽汁及枯鹽導之，勿用下藥泄瀉不止，或致虛閉以成膨脹，為害不淺。產訖第一須服生化湯數劑，必無血燥腸枯之症。</p>
<p><u>產後類傷寒三陽症</u></p>
<p>產後七日內，發熱、頭痛、惡寒，勿專論為太陽症；發熱、頭痛、脅疼，勿專論為少陽症，二症皆由氣血兩虧，陰陽不和而類外感，切不可用麻黃湯，以治太陽類症；用柴胡湯，以治少陽類症。蓋脫血之餘又發汗，以重亡其陽，是使陰陽兩竭，禍不勝言。即或症中真感傷寒，而橘仁生化湯內芎姜亦能散寒，且營衛調和，諸症自退。</p>
<p><u>橘仁生化湯</u></p>
<p>橘皮（三分）　桃仁（十粒，去皮尖炒研）　川芎（一錢）　全當歸（三錢）　薑炭（五分）　甘草（五分）　大棗（二枚，炒），上方連進二劑。如感冒風邪，二劑不退，第三劑加羌活四分、蔥白二寸，或加益母草二錢、減甘草。</p>
<p><u>產後美中風痙症</u></p>
<p>產後手足搐搦，眼目上視，角弓反張，口眼歪斜，舌喑不語，痰涎上湧，不省人事者，皆由風寒入於腠理，經絡不和所致。與中風相類，切不可作風治，急須補氣壯陽為主，治宜右歸飲，加味續命湯等。若用風燥藥，重耗其陽，以亡其陰，如蘇合丸之類，入口即斃。</p>
<p><u>加味右歸飲</u></p>
<p>熟地（八錢，姜炒）　枸杞（三錢，酒炒）　山萸肉（四錢，酒炒）　山藥（四錢，炒）　澤瀉（二錢）　丹皮（二錢，酒炒）　附子（三錢）　桂心（一錢）　茯苓（三錢）　鹿角膠（三錢）　巴戟天（三錢，去心）　炮姜（八分）</p>
<p><u>加味續命湯</u></p>
<p>人參（二錢）　白朮（二錢，土炒）　茯苓（二錢）　炮姜（八分）　附子（三錢）　細辛（五分）　黃耆（三錢，用防風二錢酒拌炒）　當歸身（三錢）　法半夏（一錢）　甘草（八分，炙）　枸杞（三錢）　鹿角膠（三錢）</p>
<p>語而不認人，時語時不語者，原方加九節石菖蒲一錢五（米汁炒），天竺黃一錢五分。</p>
<p><u>白通膽汁湯</u></p>
<p>白朮（二錢，土炒）　乾薑（八分）　附子（二錢，制）　茯苓（二錢）　甘草（一錢，炙）　蔥（二棵，去葉去白）</p>
<p>水煎，人豬膽汁三匙，沖服。回族用此方，以牛膽汁一匙代之即可。</p>
<p><u>真武湯</u></p>
<p>附子（三錢）　乾薑（二錢）　白朮（二錢，土炒）　茯苓（二錢）　歸身（二錢）　肉桂（一錢）　甘草（八分，炙）　白芍（一錢五，炒）　酸棗仁（二錢，炒研）</p>
<p><u>黑錫丹</u></p>
<p>黑錫一兩，舶硫磺一兩（研），此二味先和入溶化，結成砂子研細，漢附子五錢（制），肉桂三錢，盔沉香三錢，小茴香三錢（炒），黃檀香三錢，肉寇三錢（煨），陽起石三錢（煨），乾薑一錢，胡蘆巴三錢（炒），廣木香三錢（煨），白蔻三錢，川楝子五錢（炒），公丁香二錢，共為細末，水打為丸，如核桐子大，陰乾，用黑淨布袋裝入搖之，至光如銀亮為度，收藏。每用四十九粒或三十二粒，淡薑湯送下。</p>
<p>按：此丹不拘中風痙症、痰鳴氣喘者，皆可服之。</p>
<p><u>產後癱瘓症</u></p>
<p>凡產後癱瘓類風病者，皆因去血過多，元氣已損，氣血不能生新，以致經絡不調，筋骨疼痛，甚至半身不遂，風廢床褥，經年不愈，手足麻木不仁，拘攣不知痛癢。若誤認為風症，妄用祛風散血燥烈等藥，多致不救，治宜虎骨鹿茸丸及保安萬靈丹。</p>
<p><u>虎骨鹿茸丸</u></p>
<p>虎脛骨一對（如不得，以虎骨膠三兩代之，或虎脊骨十四兩亦可）　鹿茸（一對，羊酥蒸炙，如不得，以鹿角膠四兩代之）　枸杞（三兩，小茴一兩，紹酒一兩拌炒）　菟絲餅（三兩）　巴朝天（三錢，去心酒炒）　蒺藜（二兩，酒炒）　補骨脂（一兩五，鹽水炒）　肉桂（一錢五）　陳皮（一兩）　威靈仙（一兩五）　防風（一兩）　川杜仲（三錢，鹽水炒斷絲）　淫羊藿（三兩，山羊油炙）　蠍子爪（三錢，酒洗淡炒）　當歸身（三錢，酒炒）　川萆薢（一兩）　鱉甲（二兩，醋炙）　鹿筋（一斤，如無之牛筋亦可，亦一斤）十八味，若用虎鹿二膠，先用砂鍋溶化入鹿筋以燉爛如泥為度，將彼十五味共研為末，江米一斤炒研末，煮稠糊，和飴糖三斤溶化，以上和勻，搗為稠泥，作丸如梧桐子大，每服五錢，紹酒浸紅花，蘄艾少許煎水送下，忌生冷。若用虎骨、鹿茸，即將前十七味共為末，入筋泥與米糊，內和糖為丸。</p>
<p><u>保安萬靈丹</u>（古方）</p>
<p>又名筋骨風疼丸，此方治風寒百症，如左癱右瘓，筋骨疼痛等症。</p>
<p>明天麻真、何首烏（各一兩）　蒼朮（八兩）　麻黃、川羌、芥穗、防風、細辛、川烏、草烏、川芎、金石斛、全蠍子、當歸、甘草（各一兩）　明雄黃（六錢）　共為末蜜丸三錢一丸，雄黃為衣，黃酒紅糖引，旦夕服用，以治外科，亦效如神。</p>
<p><u>產後類瘧</u></p>
<p>產後寒熱往來，應期而發，此由氣血並竭。陽虛生外寒，陰虛生內熱，晝輕夜重或日晡潮熱，一日二三度，其症雖似乎瘧，而發無常期，只須四君生化湯倍加當歸，則身熱自退。即或應期而發，症與瘧同，亦必調和氣血為主，勿用芩連等治熱及常果檳楂等截瘧。如汗多加參耆，熱多倍用川芎、當歸。若產及一月，其人素虛而患瘧，用人參養胃湯並服人參白朮膏。</p>
<p><u>四君生化湯</u></p>
<p>人參（一錢）　白朮（一錢，土炒）　茯苓（八分）　甘草（三分，炙）　當歸（二錢）　青皮（二分）　川芎（一錢）　廣藿香（八分）　烏梅（二枚）</p>
<p>渴，原方加麥冬一錢（去心），五味子三分。</p>
<p>痰，原方加半夏八分（姜炒）、竹瀝、薑汁各五分。</p>
<p>汗，原方加黃耆、酸棗仁各一錢（各炒）。</p>
<p>傷米食，原方加神麯、麥芽各一錢（各炒）。</p>
<p>傷肉食，原方加山楂、砂仁各五分（研）。</p>
<p><u>人參蕎胃湯</u></p>
<p>人參、白朮（土炒）、當歸（各二錢）　茯苓、半夏（各八分，炒）　青皮（炒）、草果、甘草、藿香（各四分）　烏梅（二枚）</p>
<p><u>人參白朮膏</u></p>
<p>白朮（一斤，土炒）　人參（一兩）　水六碗煎，去其半取汁，如法再煎。如此三次，去渣，汁九碗，慢火熬至一碗，每日服半酒杯，滾白水沖服。</p>
<p><u>產後疸症</u></p>
<p>黃疸症平人皆有，產後更甚，多致不救。蓋甲乙木屬肝膽，乃東方資生之氣，膽屬足少陽，乃半表半裡之經。若外感風寒，內束經絡，醫治不善，寒濕入膽，久郁為熱，擾害清淨之腑，逼出膽汁，浸淫毛竅，化為黃色，甚至汗黃眼黃，便黃如金汁者，甚為費手。治宜加減陰疸湯。陽虧者加桂附；陰虛者加當歸身、熟地；微熱者加丹皮。</p>
<p>茵陳清涼等藥，治濕溫黃疸之聖藥，然產後黃疸則忌之。產後黃疸名陰疸，發肝膽，故宜加減陰疸湯。</p>
<p><u>加減陰疸湯</u></p>
<p>人參（二錢）　柴胡（一錢）　白芍（八分，酒炒）　甘草（八分，炙）　乾薑（一錢）　法半夏（一錢，研）　西黨參（三錢，姜炒），服至十劑，其症自愈。</p>
<p>若寒家患此症，用此方者，以黃耆三錢（炒）代人參。陽疸即以清涼藥，如茵陳等藥治之，雜科諸書皆詳。</p>
<p>產後汗出不止</p>
<p>產後汗出不止，由勞傷脾，驚傷心，怒傷肝。患此三者，不宜即加斂汗之藥，但令神寧則汗自止，且血塊作痛，耆朮未可遂加。凡產畢有汗，先服生化湯兩劑以消塊，繼服調衛止汗湯。若倦甚而和和然，汗出形色俱脫，乃亡陽汗脫也。難拘常法，從權以參耆調衛救急，待產母稍有精神，又減參耆以除塊痛。若汗多而陰竭陽微，以筋脈拘急，項強口噤、牙噤、發搐，類傷寒痙症者，慎勿作傷寒治，宜天麻生化湯隨症加減。汗雖有自汗、盜汗之分，治當兼理血分藥品，余方但非產後盜汗所宜。若服參耆大劑，汗多不止及頭面汗出不止，腰足青色者死，不青色者生。</p>
<p><u>調衛止汗湯</u></p>
<p>黃耆（炙）　麻黃根（炙）　全當歸（各一錢）　人參（五分）　防風（三分）　桂枝（三分）　甘草（五分，炙）　大棗（二枚）　汗多而渴，原方加麥冬一錢（去心），五味子五分。</p>
<p>汗多亡津而小便不利，毋用利水等藥；產母多痰，毋用半夏、生薑，只可原方加橘紅四分。</p>
<p><u>從權參耆調衛湯</u></p>
<p>人參（三錢）　黃耆（一錢五，炙）　麻黃根（一錢五，炙）　當歸（二錢）　桂枝（五分）</p>
<p>汗少減，則加防風三分，大棗二枚（炒）。</p>
<p>若汗出不止，真陽已衰，衛外之陽不固，方內當加漢附子酸棗仁（炒黑），白朮（土炒），壯力粉黃耆（炙）各二錢，重用為佳，亦酌量用之，以適宜為本。</p>
<p><u>天麻生化湯</u></p>
<p>天麻（八分）　黃耆（一錢五）　川芎（三錢）　當歸（六錢）　甘草（五分，炙）　人參（三錢，虛人倍用）　荊芥（八分）　大棗（三枚，炒）</p>
<p>渴，原方加麥冬，五味子各五分。</p>
<p>脈脫，原方加人參三錢，漢附子四分（制）。</p>
<p>大便閉，原方加火麻仁三錢。</p>
<p>痰，原方加竹瀝，薑汁各五分。</p>
<p>忌蔥、韭辛熱食物。</p>
<p><u>產後氣短髮喘</u></p>
<p>產後血脫勞傷過甚，氣無倚仗，呼吸止息，各違其常，氣出短促而喘，言語不相接續，是血脫氣虛之至。速煎小參苓生化湯二劑以救急，或服續氣養榮湯，再備醋韭瓶以防暈，毋疑參能助喘，不用及少用皆致不救。惟一切降氣之藥禁用。若虛不受補，聞食即吐，胃氣將絕，不治之症也，如原方加訶子或可望生。</p>
<p><u>小參苓生化湯</u></p>
<p>人參（二錢）　茯苓（一錢）　川芎（一錢）　當歸（三錢）　炮姜（五分）　甘草（五分，炙）　桃仁（三分，炒去皮尖）</p>
<p>汗多，原方加黃耆二錢（炙）。</p>
<p>渴，原方加麥冬、五味子各五分。</p>
<p>喘急不止，原方加訶子二錢（炒，去核）。</p>
<p>胃虛不食，聞藥即嘔，見寒涼等物益吐，宜高麗參三錢，生薑三片，黃米一撮，煮湯飲之即安。</p>
<p>以黨參一兩，江米四兩，生薑五片，煮食亦效。</p>
<p><u>續氣養榮湯</u></p>
<p>人參（二錢）　黃耆（一錢）　炮姜（五分）　川芎（二錢）　當歸（四錢）　甘草（五分，炙）　熟地酸棗仁（砂研）　山藥（炒，各一錢）　陳皮（三分）</p>
<p>足冷，原方加漢附子三分。</p>
<p>汗多，原方加麻黃根一錢（炙），浮小麥一撮（研炒）。</p>
<p>渴，原方加麥冬，五味子各五分。</p>
<p>大便閉，原方加肉蓯蓉、火麻仁各三錢。</p>
<p>宗岳曰：「先嚴昔治此症，喘哮不止，以原方減熟地、甘草、山藥，加訶子、款冬花各三錢，紫蘇子一錢（研）。」此處遺，今補之。</p>
<p><u>產後咳嗽</u></p>
<p>產後旬日內，感冒風寒，咳嗽，鼻塞聲重，惡寒，併兼身熱頭疼，宜服加參寧肺湯，毋用麻黃以發汗；或喘及兩脅痛，毋用小柴胡湯以散邪；或患干嗽有聲，痰少面赤，亦毋用涼藥以清火，惟有調理氣血為主。若半月干嗽有聲而痰少者，可用加味四物湯治之。</p>
<p><u>加參寧肺湯</u></p>
<p>人參（二錢）　當歸（三錢）　川芎（一錢）　桔梗（四分）　橘紅（四分）　杏仁（去皮尖，十粒）　款冬花（炙，一錢）　桑白皮（炙，七分）　半夏（炒，八分）　知母（一錢）</p>
<p>如虛人痰盛，原方加竹瀝（一小盞），薑汁（三匙），甘草四分。</p>
<p><u>加味四物湯</u></p>
<p>熟地、當歸（各二錢）　川芎、蔞仁（炒研）、知母、訶子（炒，去核，各一錢）　桔梗、馬兜鈴（各四分）　款冬花（炙，六分）</p>
<p><u>參蘇飲</u>（薛立齋）</p>
<p>此方治產後瘀血入肺，使之咳嗽喘急。</p>
<p>人參（三分）　蘇木（一分），溫服。</p>
<p>服後喘仍不止，原方加萊腋子一錢。</p>
<p><u>產後譫語</u></p>
<p>產後妄言妄見，由氣血兩虛而神魂無所依也。輕則睡中呢喃，重則不睡妄言，或因痰客上焦，十二官各失其職，視聽言動皆有虛妄，誤認鬼邪，治法當論產期新久，塊痛有無以為緩急。如塊痛者，宜服寧神生化湯；塊痛已除，宜服益榮安神湯。</p>
<p><u>寧神生化湯</u></p>
<p>柏子仁（炒研，一錢）　桃仁（炒去皮尖，十粒）　炮姜（五分）　酸棗仁（炒研）　川芎（各二錢）　甘草（炙，五分）　當歸（四錢）　大棗（去皮，二錢）</p>
<p>虛甚者，原方加人參二錢。</p>
<p><u>益榮安神湯</u></p>
<p>柏子仁（炒研）、酸棗仁（炒研）、茯神（各一錢）　當歸（二錢）　川芎（一錢）　橘紅（五分）　人參（一錢）　甘草（五分）　龍眼肉（八個）　竹茹（五分）　大棗（炒，二枚）</p>
<p>渴，原方加麥冬、五味子各一錢。</p>
<p>汗多，原方加黃耆三錢，人參倍用，麻黃根三錢。</p>
<p>痰多，原方加竹瀝、薑汁各一錢。</p>
<p>泄瀉，原方加茯苓，白朮（土炒）各一錢。</p>
<p>大便閉，原方加肉蓯蓉二錢，火麻仁三錢（研）。</p>
<p><u>產後怔忡驚悸</u></p>
<p>產後憂驚勞倦，去血過多，心中煩動不寧，謂之「怔忡」；如惕然而驚，心中怯怯若人捕之狀，謂之「驚悸」。二症當調和脾胃，補養心血，使氣寧神足，氣舒心安。以加減養榮湯，其病自愈，兼送安神丸益善。</p>
<p><u>加減養榮湯</u></p>
<p>人參、茯苓、白朮（土炒，各一錢）　甘草（炙）、陳皮（各五分）　當歸（二錢）　川芎（八分）　麥冬（去心）、酸棗仁（炒研）、遠志（去心，甘草水炒）、黃耆（炒，各一錢）　龍眼肉（八個）　生薑（三片）</p>
<p>虛煩，原方加柏子仁（炒研）一錢，丹參一錢五，竹茹三分。</p>
<p>痰多，原方加竹瀝、薑汁各五分。</p>
<p><u>安神丸</u></p>
<p>川黃連、乾地（紹酒人乳拌，蒸九次）、當歸（各二錢）　甘草（八分）</p>
<p>上搗為餅，曬乾再為末，煉蜜為丸如綠豆大，硃砂為衣，每服四十丸，用前方養榮湯送下。</p>
<p><u>產後忿怒</u></p>
<p>產後因忿怒，氣逆不舒，胸膈滿悶，血塊大痛，宜廣木香細末三分，用生化湯原方沖服，而塊自行矣。若偏用香砂、枳實、烏藥之類以散氣行塊，則反使元氣耗損，而滿悶愈增。如怒後即食，胃虛傷滯，當審所傷何物。如傷肉食加砂仁、山楂；傷米食，加神麯、麥芽；傷冷物作痛，留滯腹脅，加肉桂、吳茱萸逐寒定痛。慎勿服檳榔丸疏氣以消食。宜健脾化氣飲。</p>
<p>生化湯（見本卷產後血崩門）</p>
<p><u>健脾化氣飲</u></p>
<p>人參　白朮（土炒）、當歸（各二錢）　川芎、炮薑、甘草（炙，各四分）</p>
<p>如塊痛未除，仍用生化湯送廣木香末三分，方再加肉桂（研末）八分更佳，以桂能平肝而利氣也。</p>
<p><u>產後傷食</u></p>
<p>產後形體勞倦，脾氣受傷，不宜多食厚味。食之胃雖少納，脾轉運滯，以致痞塞暖酸，治當溫補氣血，健脾助胃，養正兼消，並審所傷何物，佐以消導，斯脾氣復而運轉如常，滯物行而胃始納穀矣。若消導過多，必致絕谷難治，急以長生活命飲救之。</p>
<p><u>長生活命飲</u></p>
<p>人參二錢，水二碗煎八分，以饅頭燒焦（研末）三錢，調服。</p>
<p>如寒窘之人不能服參者，單用焦饅頭末水沖服之，或以白朮二錢，煎湯調服亦可，胃開即愈。</p>
<p><u>山藥主化湯</u></p>
<p>山藥（炒，一錢）　當歸（二錢）　炮薑、甘草（炙，各五分）　川芎（一錢）</p>
<p>完穀不化，原方加肉蔻（煨）一個。</p>
<p>塊痛，原方加桃仁（炒，去皮尖）十粒。</p>
<p>痛止而虛者，原方加人參、白朮（土炒）各一錢。</p>
<p>所傷何物，治如產後忿怒門及產後傷食門。身熱禁用寒冷藥；痞滿禁用耗氣藥。</p>
<p>產後泄瀉</p>
<p>產後泄瀉，大率虛弱食積，土虛不能勝濕而然。但惡露未除，脾胃又弱，難於消燥而用補也。治法先服生化湯，一煎後即加茯苓一錢，以利小便。俟血生化，然後議補、議消、議燥，使無滯澀虛滑之失。若產畢即瀉者，宜蓮子生化湯。若胎前久瀉，產後不止者，宜大參苓生化湯，從權以防虛脫。若久瀉不止或脾瀉者，須服參朮蓮子飲百劑，甚至形脫眼花者，服丹溪救急方（「蓮」字「溪」字，岳先嚴之諱也，岳當不書，然古之先工云：「臨文不諱，否則後之請者不曉」。此家藏之本，不著明此意，恐子孫惑之。凡岳也之藥方上，皆以聯字代之）。</p>
<p><u>蓮子生化湯</u></p>
<p>蓮子（福建產者，去心炒，八分）　茯苓（一錢）　五訶子（炒，去核，八分）　桃仁（炒，去皮尖，十粒）　炮姜（五分）　當歸（土炒，一錢五）　川芎（一錢）　甘草（炙，五分）　生薑（一片）</p>
<p>水煎二劑。如瀉不止，原方加人參三錢。</p>
<p><u>大參苓生化湯</u></p>
<p>人參（二錢）　茯苓（一錢）　五川芎（一錢）　當歸（土炒，二錢）　炮姜（五分）　甘草（炙，五分）　陳皮（一錢）　白朮（土炒，一錢五）　肉蔻（煨研）、訶子（炒，去核，各一錢）　蓮子（炒，去心，研，八分）　糯米（一撮）</p>
<p>寒瀉，原方加砂仁五分。</p>
<p>熱瀉，原方加黃連（薑汁炒）三分。</p>
<p>久瀉，原方加升麻三分。</p>
<p>水瀉，原方加蒼朮（炒）一錢。</p>
<p>瀉出肉食如敗卵及噫氣，原方加神麯、砂仁各八分，山楂、麥芽（各炒焦）各五分，肉蔻、公丁香各一分。</p>
<p>渴，原方加麥冬、五味子各五錢。</p>
<p><u>參朮蓮子飲</u></p>
<p>人參、白朮（土炒、各二錢）　茯苓（一錢）　當歸（一錢五）　白芍（酒炒，八分）　甘草（炙，五分）　陳皮、升麻（各三分）　山藥（炒，一錢）　蓮子（去心，炒研，十粒），生薑（一片）。</p>
<p>如腹痛，原方加乾薑五分。</p>
<p><u>丹溪救急方</u></p>
<p>人參（五錢）　白朮（土炒，三錢）　茯苓（三錢）　漢附子（制，一錢）</p>
<p>以上各方，虛渴者，均可加五味子二十粒（酒炒），麥曲粉（炒黃）二錢；虛脫者，暫加枯礬少許以澀之，然後再按症加減。</p>
<p><u>產後痢症</u></p>
<p>產後七日內患赤白痢疾，後重頻數最為難治，八日亦然。欲調氣血而推蕩邪穢，又慮產後元氣虛，欲滋榮養氣而大補脾腎，又恐補住瘀邪，惟生化湯減炮姜，加陳皮、木香等味，善消惡露兼行痢疾，並行而不悖也。再服加味香連丸，以俟一二日後，病勢稍減可保無虞。若七日外，患褐色後重虛痢，則當加補無疑。其產母稟厚，產期已過二十日，可於生化湯加芩連芍枳及加味香連之類，承氣等藥斷不可用。若產母虛弱，雖及月餘，行積峻劑，切不宜用。若產後陰虛，血痢日久愈甚，當用四物湯加人參矣。</p>
<p><u>陳皮生化湯</u></p>
<p>陳皮（五分）　木香（二分）　茯苓（一錢五）　川芎（二分）　當歸（四錢）　桃仁（炒，去皮尖，十粒）</p>
<p>血痢（一名紅痢，腹痛者，原方煎湯送香連丸三十粒。）</p>
<p><u>加味香連丸</u></p>
<p>木香（二錢）　黃連（姜炒，三錢）　蓮子（去心，炒，五錢）　水打為丸，綠豆大。</p>
<p><u>連芩生化湯</u>（又名黃連生化湯）</p>
<p>黃連（薑汁炒，研，六分）　黃芩（酒炒，四分）　白芍（酒炒，一錢）　枳殼（麩炒，五分）　川芎（一錢五）　茯苓（一錢）　木香（三分）　甘草（四分）　當歸（土炒，三錢）</p>
<p>病重者，加山楂（炒焦）一錢，人參二錢。</p>
<p>按：產後痢症不一，總以人參為主，歸芍次之。兼有瘀未淨者，則兼以肉桂、益母草、黃連湯，重用人參自效，蓋桂益去瘀也。如資稟薄痢症，輕者一日六七次，兼有糞色，亦能飲食。重者空痛，一日夜數十次，不思飲食，睡臥不寧，非人參不能救也。</p>
<p><u>人參四物湯</u></p>
<p>人參（三錢）　川芎（五分）　當歸（二錢，土炒）　乾地黃（一錢，炒焦）　白芍（二錢，酒炒）</p>
<p>申論瀉痢十方</p>
<p>產後瀉痢，氣血暴虛，必用生化湯加減。然致病之由，雖系濕熱，多因食傷脾而起，故重申余意，另立十方於後。</p>
<p>一、產後瀉黃色，乃脾土真氣虛也。宜補中益氣湯加木香四分，煨肉蔻一枚，炮姜四錢。</p>
<p>補中益氣湯（見卷一，胎前子滿門）</p>
<p>二、產後久瀉不止，元氣下陷，大便不禁，肛門如脫，宜服六君子湯加木香四分，煨肉蔻一枚，炮姜四分，升麻五分。</p>
<p>六君子湯　陳皮（一錢）　半夏（二錢）　茯苓（三錢）　人參（三錢）　白朮（二錢）　甘草（一錢）</p>
<p>三、產後傷麵食，宜六君子湯加麥芽三錢；傷穀食，加神麯三錢（方見上條）。</p>
<p>四、產後傷肉食，宜六君子湯加山楂（炒）、砂仁各五分，神麯一錢（炒）。</p>
<p>五、產後胃氣虛弱，瀉痢完穀不化，宜六君子湯加木香三分，肉蔻一枚（煨）。（方見第二條）</p>
<p>六、產後瀉痢，脾虛四肢浮腫，宜六君子湯加五皮飲（六君子湯方見第二條），五皮飲（大腹皮一錢半　茯苓皮三錢　地骨皮三錢　五加皮三錢　陳橘皮三錢）。</p>
<p>七、產後諸症兼嘔者，諸方俱宜加藿香一錢，痰多，加半夏八分（炒）。</p>
<p>八、產後諸症兼小便短澀者，諸方俱宜加茯苓一錢，澤瀉五分，燈芯十二根，車前子一錢（炒研）。</p>
<p>九、產後泄瀉不止，宜六君子湯加蓮子十粒，酸石榴皮一錢（六君子湯見本門第二條）。</p>
<p>十、產後患赤痢，久而不愈者，香連丸二錢，人參二錢，煎湯送丸即愈。勿過用木香、薑汁之類，蓋血之一部見熱則行，寒則止。然下赤痢，紅即血者，宜香連丸。人參、地榆炭，煎湯送丸。以上諸方必須問其有塊痛否，無則宜之。若有塊痛，仍以生化湯為本。</p>
<p><u>產後嘔逆</u></p>
<p>人之胃腑為五穀之海，水穀之精上輸肝肺，分布五臟，化為氣血，榮潤百骸。產後勞傷，脾胃正氣虧損，邪氣易乘，如入於脾胃，則氣逆嘔吐而食不下矣。若七日內嘔吐不止，全不納穀，血塊未除，治當消塊佐以溫藥，宜服安胃行血湯。若痛已除而嘔不止，不納穀者，宜服加減六物湯，及後溫中和胃飲。若嘔而氣血不足，食物不能如常，宜服補中和胃湯。</p>
<p><u>安胃行血湯</u></p>
<p>藿香砂仁（炒研，各四分）　川芎（一錢）　當歸（四錢）　桃仁（十粒，炒去皮尖）　炮姜　甘草（炙，各五分）　人參（一錢）　生薑（三片，有汗勿用）</p>
<p><u>加減六物湯</u></p>
<p>白茯苓、人參、川芎（各一錢）　當歸、白扁豆（炒研，各二錢）　山藥（一錢五分，炒）　藿香（五分）　豆仁（即山豆根苗上子也，四分）　炮姜（四分）　陳皮（三分）　甘草（五分，炙）　生薑（三片）</p>
<p>嘔止去豆仁。</p>
<p><u>溫中和胃飲</u></p>
<p>人參、茯苓（各一錢）　當歸、白扁豆（炒研，各二錢）　陳皮、藿香、甘草（炙）、丁香（公丁，各三分）　生薑（三片）</p>
<p>寒，原方加吳茱萸一錢，嘔止減丁香。</p>
<p><u>補中和胃湯</u></p>
<p>人參　白朮（土炒）、白扁豆（炒研）、當歸（各二錢）　茯苓（一錢）　山藥（一錢五分，炒）　陳皮、炮薑、甘草（炙，各四分）</p>
<p>按：產後諸症以嘔逆為甚，急當用香砂六君子湯加制漢附子、吳茱萸、柿蒂；如不效加酒炒黃連、肉桂；若更不效，則必用二氣丹矣。</p>
<p><u>香砂六君子湯</u></p>
<p>陳皮（五分）　半夏（一錢，炒）　人參（二錢）　白朮（一錢，土炒）　茯苓（二錢）　甘草（五分）　木香（五分）　砂仁（四分，炒研）</p>
<p>嘔逆甚急，上原方加漢附子、吳茱萸、柿蒂各一錢，如不效再加黃連（酒炒）肉桂各五分。</p>
<p><u>二氣丹</u></p>
<p>水銀（三錢）　硫磺（三錢）</p>
<p>上二味同入鐵鍋內結成砂子，研細末不見銀星為度，米糊為丸如梧桐子大，每服二十粒，加至四十九粒，皆公丁香，柿蒂各一錢，煎湯送丸。水銀得硫磺自化，呢逆霍亂皆可用之。</p>
<p><u>產後霍亂</u></p>
<p>產後勞氣傷血，臟腑虛損，不能運化食物，及冷風相乘，以致陰陽升降不順，清濁亂於腸胃，冷熱不調，邪正相搏，上吐下瀉，名曰「霍亂」。若塊痛未除，宜生化六合湯；塊痛已除，宜藿香和胃散。</p>
<p><u>生化六合湯</u></p>
<p>陳皮（四分）　當歸（四錢）　川芎（二錢）　炮姜（四分）　炙甘草（四分）　茯苓（一錢）　砂仁（六分）　生薑（一片）</p>
<p><u>藿香和胃散</u></p>
<p>廣藿香（四分）　川樸（八分，姜炒）　陳皮、炮姜（各四分）　當歸　白朮（土炒，各三錢）　人參（一錢）　甘草（三分，炙）　生薑一片，若手足逆冷，原方加漢附子三分。</p>
<p><u>產後膨脹</u></p>
<p>胎前素弱，產後又虧，胃難納穀，脾不健運。或因傷食而停滯，或因血虛而便閉。誤進消耗等藥，胃氣益損，滿悶益增，氣不升降，滋熱助積，鬱積之久遂成膨脹。治當審其誤用何物，如誤用耗氣藥，宜益氣湯；誤用消導藥，宜健脾湯；誤用攻下藥，宜養生化滯湯。</p>
<p><u>益氣湯</u>（古方）</p>
<p>人參白朮（土炒）、當歸（各三錢）　川芎、白芍（酒炒）（各八分）　紫蘇梗、甘草（炙，各五分）　茯苓（一錢五）　陳皮、厚朴（姜炒，各四分）　大腹皮（六分）　木香（二分，研末）　萊菔子（五分，炒研）　木通（五分）</p>
<p><u>健脾湯</u>（古方）</p>
<p>人參、白朮（土炒）、全當歸、茯苓、白芍（酒炒）神麯（各一錢）　川芎（七分）　陳皮（四分）　甘草（炙）　砂仁（炒研，各五分）　大腹皮（五分）</p>
<p>食物傷胃，原方加麥芽五分；</p>
<p>冷物傷胃及冷物入腹作痛，原方加吳茱萸（鹽炒）一錢。</p>
<p><u>養生化滯湯</u></p>
<p>人參（一錢五）　當歸（四錢）　川芎（二錢）　白芍（一錢，酒炒）　茯苓（一錢）　白朮（二錢）　桃仁（十粒，炒，去皮尖）　大腹皮（四分）　肉蓯蓉（一錢五，酒洗）</p>
<p>脹甚，原方白朮加倍，首三味減半。</p>
<p>塊痛未除，原方送三消丸一錢（方見產後下，產後總三方第一方）。病劇者，須服至數十劑。</p>
<p>按：產後脹症最為難治，如服前方未效，非大劑金匱腎氣湯不能去其病。若慮方內熟地黃之滯，則用薑汁、砂仁拌炒，桂附更當重用。再加椒目、蒲種殼、冬瓜子以利水化氣，或加浮萍草為引，以開鬼門，多服益善。俟脹消後則用六君子、八珍等湯調理，可以復原去根，此經驗已多，故附增之。</p>
<p>金匱腎氣丸（古方）（乾地黃八兩山萸肉、山藥各四兩白茯苓、牡丹皮各三兩肉桂、制漢附子各一兩，共為末，蜜為丸）</p>
<p>六君子湯（古方）（二陳湯、四君子湯並用，即六君子湯也。陳皮、半夏、人參、白朮、茯苓、甘草）</p>
<p>八珍湯（古方）（四君子湯與四物湯並用，即八珍湯也。人參、白朮、茯苓、甘草、當歸、川芎、地黃、白芍）</p>
<p><u>產後口渴或兼小便不利</u></p>
<p>凡產後口燥咽乾而渴，兼小便不利，由血枯而多汗，且勞倦傷脾，不能為胃行其津液，則生化之氣不運，滲泄之令不行。是以上無津液流通，而有咽乾燥渴之症；下則膀胱閉滯，而有水道不通之候。治當助脾益肺，升降氣血，則氣血流行，陽升陰降，自然津生而便利矣。若認口渴為火盛，而用芩連知柏以降之；便澀為水滯，而用五苓等味以通之，非徒無益而反害之。</p>
<p>梅村曰：「此論非常真切，小便由於氣化，氣足小便順，否則反是。書曰：「氣化則能出矣！」故補氣生津，實至言也。膀胱藏津液之所，真陽不足，元氣不升，則不出矣！是以補氣填精為上。」（書云：「男女媾精，萬物化生，以此證之，男女各有精也。」宗岳集註）</p>
<p><u>助脾益肺湯</u></p>
<p>人參　黃耆　麥冬（去心）、當歸（各二錢）　五味子（十粒）　升麻（四分）　茯苓（一錢五）　葛根（一錢）　甘草（四分，炙）</p>
<p>汗多，原方加酸棗仁二錢（炒研）、麻黃根一錢（炙）。</p>
<p>大便不通，原方加肉蓯蓉二錢。</p>
<p>小便不利而產母壯盛熱劇者，暫以原方加知母、滑石粉各一錢，便稍利則減。渴甚以生脈散代茶。</p>
<p><u>生脈散</u>（古方）</p>
<p>麥冬（去心，二錢）　五味子（一錢）　人參（三錢），水沖或水煎，皆可。</p>

<h1>高氏《胎產方案》卷四</h1>
<p>產後下</p>
<p>產後便數淋症</p>
<p>凡產後小便數者，由腹內夙有冷氣，因虛而發。宜桑螵蛸散。或以益智仁二錢，炒研為末，米飲送下。若淋漓作痛，亦由產母虛弱，冷氣客於腹中，以茅根湯治之，或御製通便秘方，或以金鑰匙散治之。</p>
<p><u>桑螵蛸散</u></p>
<p>桑螵蛸（二十枝）　人參（三錢）　黃耆（三兩）　鹿茸，牡蠣、赤石脂（各二兩）</p>
<p>共為末，每服二錢，大米湯送下。</p>
<p><u>白茅根湯</u></p>
<p>白茅根、瞿麥、茯苓、車前子（炒研）、通草、滑石粉、麥冬（去心）、甘草（分數臨症酌用）、燈芯五寸</p>
<p>御製通便秘方（清朝宗室秘方，專通小便。）</p>
<p>用陳倉小米半斤，淘濃泔澄清熱服，小便即通。</p>
<p>若血淋，米泔湯加淮牛膝二錢。</p>
<p><u>金鑰匙散</u>（龔狀元方）</p>
<p>此方專行通淋。</p>
<p>滑石、蒲黃各三錢共為細末，每服二錢，白沸水沖服。</p>
<p>產後傷脬小便淋數不止</p>
<p>產後傷脬，此緣穩婆不慎之故，急以白及散治之。</p>
<p><u>白及散</u></p>
<p>白及鳳凰衣（即生雛之雞卵皮）、桑螵蛸各三錢，共為細末，入豬脬內，煮爛食之即愈。</p>
<p><u>產後水腫</u></p>
<p>產後四肢浮腫，皮膚光滑，脾虛不能制水，腎虛不能行水故也。當大補氣血為主，佐以蒼朮、白朮、茯苓等藥。虛加人參；熱加木通、麥冬、黃芩；若因風冷濕氣傷表，無汗而腫，宜五皮散加姜皮、半夏、蘇葉以微表之，使水氣從皮毛而出，然後以補劑調理。</p>
<p><u>利水大補湯</u></p>
<p>人參、黃耆、何首烏（各二錢）　白芍（酒炒）　茯苓皮（各二錢）　白朮（三錢，土炒）　陳皮（六分）　木瓜（八分）　蒼朮（炒）、川樸（炒）、大腹皮、木通（各一錢）</p>
<p><u>加味五皮散</u></p>
<p>大腹皮、五加皮、茯苓皮、地骨皮、姜皮、青皮（醋炒）、半夏（姜炒）、蘇葉各一錢，水煎服。</p>
<p><u>產後熱蒸成勞瘵症</u></p>
<p>產後勞瘵症，皆由嗜欲無節，起居不時，以致真陰耗竭，虛火上炎。或蒸而熱，或往來寒熱，似瘧非瘧；或咳血咯血，自汗盜汗；或心神恍惚，夢與鬼交；或經水閉塞，日漸羸瘦，皆緣陰虛生內熱所致。熱鬱積久，變成虛怯。宜清熱止嗽，潤肺瀉火，滋補真陰，以復其元。患此者，必須寡欲內養，方能有效，否則不治。</p>
<p><u>保真湯</u></p>
<p>川貝母（去心）、茯苓（各五分）　川芎、麥冬（去心）、地骨皮（各一錢）　當歸、生地白芍（酒炒，各二錢）　五味子（十粒，研）　天冬（一錢半，炙）　桔梗（八分）　甘草（三分，炙）　大棗（二枚）</p>
<p>虛甚，原方加人參一錢，黃耆八分。</p>
<p>脾胃弱，原方加白朮（土炒）、山藥（炒）各二錢，砂仁三粒（炒研）。</p>
<p><u>加味大造丸</u></p>
<p>紫河車（一具，清水洗淨，新瓦燒乾）　生地（一兩）　人參、當歸、山藥（炒）、枸杞（各一兩）　知母（一錢）　五金、石斛（酒蒸）、麥冬（去心，各八錢）　銀柴胡（六錢）　龜板（五錢，醋炙）</p>
<p>共為末，煉蜜為丸，如桐子大，每服三錢，白水送下，旦夕用。</p>
<p>按：以上二方，但舉其概，至辨症施治，全在臨時裁取。如補中益氣湯、六味腎氣丸、八珍湯、十全大補湯、還少丹、加味逍遙散，此數方俱可治勞瘵，因症選用可也。</p>
<p>蓋產後氣血已虧，陰陽兩竭，應得大溫大補，助真陽以生真陰。引火歸原法，當用真阿膠，上肉桂為主，將虛火假熱下降丹田。加以苓朮參耆，健脾補氣；略以龜膠、石斛、炒熟地、沙苑蒺藜，補陰以佐助之，服至四五劑，必見效矣。切不可用滋陰清肺等藥以重危之也。俟其胃開脾運，火降陽回，然後再於溫補之中，加入治嗽等味，自可活人。如服清涼藥過多，必至真陰上越，如症現兩顴紫紅，氣虛上喘，眼白處淡紅，須用製附子，遲則陽脫矣。</p>
<p>補中益氣湯（方見卷一，胎前子滿門。）</p>
<p><u>六味腎氣丸</u></p>
<p>熟地黃（八兩）　山萸肉、山藥（各四兩）　雲茯苓、牡丹皮（各三兩）　桂枝（一兩）</p>
<p>共為末，蜜丸桐子大，紹酒送下。</p>
<p>八珍湯（古方，見卷三膨脹門。）</p>
<p>十全大補湯（即八珍湯加邊桂、黃耆。）</p>
<p><u>喻氏還少丹</u></p>
<p>山藥、牛膝、遠志、山萸、白苓、五味、巴裁、寸云、菖蒲、楮實、杜仲、茴香、枸杞、熟地黃各二兩，蜜丸酒引。</p>
<p>加味逍遙散（方見卷一，胎前小便帶血門）。</p>
<p><u>產後心腹痛</u>（附真心痛）</p>
<p>產後心痛即胃脘痛，以胃脘在心下，俗謂之心痛，實胃脘痛也。平常亦有之，皆因傷寒氣及生冷食物故作痛。平常專散寒行氣，而消積化食。產婦用生化湯，佐以散寒消食之品，無有不效。若腹內痛，必血塊未除，只服生化湯，佐以益母丸、鹿角炭治之，則瘀消痛止。若風冷乘虛作痛，亦宜茱桂生化湯，因方有肉桂、吳茱萸，可以溫散之也。</p>
<p><u>茱桂生化湯</u></p>
<p>肉桂（八分，研）　吳茱萸（七分，鹽炒）　川芎（二錢）　當歸（四錢）　炮薑、甘草（炙，各五分）　桃仁（十粒，炒，去皮尖研）　生薑（三片）</p>
<p>傷米食心胃痛，上原方加神麯、麥芽（各一錢，炒）。</p>
<p>傷肉食心胃痛，上原方加砂仁、山楂（炒焦）各一錢。</p>
<p>中怒氣心胃痛，上原方加烏藥、白蔻各五分，延胡索一錢（醋炒）。</p>
<p>若中寒氣，倍加桂姜。然心痛有九種，皆以加味理中湯治之。</p>
<p><u>加味理中湯</u>（此方治九種心痛）</p>
<p>人參（一錢）　白朮（二錢，土炒）　茯苓（二錢）　甘草（七分，炙）　乾薑（一錢，因血痛減半炒炭用之）　漢附子（二錢）　肉桂（一錢五分，研）　白蔻（五分）　延胡索（一錢，醋炒）　乳香（一錢五分，炒，去淨油）</p>
<p>一、氣心胃痛原方加木香一錢，鬱金一錢（酒炒），良薑一錢（醋炒），丁香十隻（紫色）。</p>
<p>二、血心胃痛原方加五靈脂一錢五（醋炒），蒲黃七分（炒），當歸身二錢（酒炒）。</p>
<p>三、寒心胃痛原方加吳茱萸一錢（鹽炒），蘆巴二錢（鹽炒，）小茴香一錢五分（鹽炒）。</p>
<p>四、食心胃痛原方加神麯一錢五（炒），山楂二錢（炒），雞內金二錢（焙），廣橘皮一錢，母丁香七分。</p>
<p>五、蟲心胃痛原方加川椒四十粒，烏梅二個，黃連（先用一錢煮汁，以連汁炒吳萸八分），榧子肉三錢。</p>
<p>六、痰心胃痛原方加法半夏二錢，肉蔻一錢（煨），海沉香一錢，牡蠣粉二錢，橘紅一錢。</p>
<p>七、積心胃痛原方加母丁香八分，盔沉香一錢，佛手柑一錢，巴豆霜三分（焙乾，用濕豆腐皮包裹作小丸形，用前汁冷透送下此丸）。但巴豆霜必積痞現（脾積為之氣痞）而不化，病甚急，他藥不效時實不得已而始用之，再察霜中去淨油否，慎之。男子用之不必去淨油。</p>
<p>八、虛心胃痛虛有陰虛，陽虛之別。陰虛原方加熟地一錢（益智仁、砂仁各六粒研，合薑汁同拌，炒焦用），枸杞（二錢，酒炒），阿膠（二錢，蒲黃炒銑），萸肉（二錢，酒炒），姜（將原方中之乾薑減半，炒黑）；陽虛原方中人參、乾薑加一倍。</p>
<p>九、實心胃痛原方減人參，白朮，肉桂，附子，加枳殼二錢（炒），草蔻一錢（研），桂枝八分（醋炒）；甚者原方加川大黃三錢（將大黃先為末，用菲菜汁拌均，九蒸九曬）。</p>
<p>特真心痛，指甲青黑，手足冷，朝發夕死，以美芙蓉炭五分，水沖服立愈。</p>
<p>按：產後胃氣痛，其人必素有舊病。產後氣血大虧，其病自然加甚。但症有九種，當辨氣血寒食蟲痰積虛實，治宜加味理中湯為主。以上各症加減，必須認明證侯，然後施治為要。</p>
<p><u>產後遍身疼痛及腰腹痛</u></p>
<p>凡產後遍身疼痛，由產時百節開張，血脈凝滯，累日不散，則經脈經絡不舒，故腰背不能轉側，手足不能動履，或兼身熱頭痛。若誤認太陽表邪而發汗，則手足逆冷，變成險症矣。宜祛痛散治之。婦人腎位系胞，腰為腎府，至產勞傷腎氣，損動胞絡；或產未平復而風寒乘之，二者皆致腰痛。宜養榮壯腎湯，或加味大造丸。若小腹作痛，未曾服生化湯，問惡露如何，若可按揉而稍止者屬虛，並宜桂延生化湯治之。</p>
<p>光緒丁酉，泰安城汛把總周振甲先生之夫人，患產後遍身疼痛，以祛痛散加減，三劑而愈；繼服桂延生化湯，二劑復元（即本門第四方）。</p>
<p><u>祛痛散</u></p>
<p>人參、白朮（炒，各一錢）　當歸（二錢）　黃耆（八錢，炒）　川牛膝（三錢）　獨活（一錢）　半肉桂（五分，研）　韭白（一撮）　生薑（一片）　秦艽（三錢），水煎。</p>
<p>有汗，減生薑，獨活。無汗，加益母草三錢。肚痛，加醋炒五靈脂四錢，減參耆。</p>
<p><u>養榮壯腎湯</u></p>
<p>續斷杜仲（炒炭）、獨活桂心（研）、川芎（各八分）　防風（四分）　當歸（二錢）　桑寄生（八分）　生薑（三片）</p>
<p>加味大造丸（方見本卷熱蒸成勞瘵門）</p>
<p><u>桂延生化湯</u></p>
<p>肉桂（研）、延胡索（炒）、炮姜（各四分）　甘草（三分）　桃仁（十粒，炒，去皮尖，研）　川芎（一錢）　當歸（三錢）</p>
<p>如痛止，原方減肉桂、延胡索。</p>
<p>如臍下無血塊，而仍痛不止者，原方加熟地三錢。</p>
<p><u>產後乳癰乳疽</u></p>
<p>產後乳癰乳疽初發時，寒熱往來如瘧，不可作瘧治，亦不可全用敗毒消疽等味，當大補氣血，佐以金銀花等味，以散邪毒。若膿未成，痛不可忍，宜瓜蔞乳沒散；已成膿，宜排膿大補湯，外用馬蹄香搗爛敷之；若膿已出，而虛弱日甚，宜十全大補湯。</p>
<p><u>瓜蔞乳沒散</u></p>
<p>全瓜蔞（一枚，皮仁皆搗爛）　當歸、金銀花（各三錢）　白芷（一錢）　青皮（五分）　乳香（去油）、沒藥（炒，各五分）　甘草（四分，炙）　蒲公英（五錢）</p>
<p>水煎，加酒一盅服。</p>
<p><u>排膿大補湯</u></p>
<p>人參、白朮（土炒）、生地、金銀花（各二錢）　全當歸（三錢）　茯苓（三錢）　黃耆（四錢，炒）　連翹（五分，去心）　青皮（三分）　烏梅（一個，研）　白芷（五分）　大棗（一枚）</p>
<p><u>十全大補湯</u>（古方，本卷第四章略述，此詳之。）</p>
<p>人參（三錢）　白朮（二錢，土炒）　熟地（五錢，炒）　當歸（三錢）　茯苓（四錢）　川芎（一錢）　甘草（二錢）　肉桂（一錢，研）　黃耆（三錢）　白芍（三錢，酒炒）</p>
<p>泄瀉，原方加蓮子十四粒（研）肉豆蔻一枚（煨研）。口渴，原方加麥冬、五味子各一錢。不長皮，原方加雞內金二錢。不收口，以參末膏藥貼之；或原方加浙貝母三錢。</p>
<p>按：乳癰乳疽潰後，總以十全大補湯為最宜。若或稍有火毒，原方減肉桂，加金銀花、蒲公英、遠志肉、紹酒煎，日服三煎自安。</p>
<p><u>產後流注</u></p>
<p>產後惡露流注於腎腰關節之處，或漫腫，或結塊作痛，久則腫起，肢體倦怠，急用蔥熨法以散外腫，內服參歸生化湯以散血滯。至已潰、未潰，其法參之乳癰症中。</p>
<p>蔥熨法</p>
<p>用生蔥一握搗為餅，貼患處，加厚布三四層以炭火斗熨之，立效。此方又治癰疽初起。</p>
<p><u>參歸生化湯</u></p>
<p>人參（二錢）　當歸（三錢）　川芎、黃耆（各一錢半）　肉桂（八分，研）　甘草（五分）　白芷（一錢半）</p>
<p><u>五香餅灸法</u></p>
<p>公丁香、木香、沉香、肉桂（各一錢）　麝香（五分）</p>
<p>上五味共為細末。</p>
<p>五香餅灸流注法，以五香末用米湯為餅，先以大蒜泥鋪初起之患處，以五香餅放蒜泥上，用艾火球灸在餅上，痛者灸至不痛，而癢則止；癢者灸至痛則止；如不痛不癢者，灸至皮肉融洽為度，多灸一二次為貴，毒自散矣。若灸陰毒、無名腫痛風毒，原方加白芷、紫蘇、薑黃、血竭花各五分，同和為餅，灸法同流注。</p>
<p>產門腫痛</p>
<p>臨產用力過多，以致戶門兩旁腫痛，手足不能舒伸者，用四季蔥（即芽蔥）入乳香末搗成餅，貼腫痛處，良久即愈。</p>
<p>陰門突出</p>
<p>臨產用力逼送，陰門突出者，四物湯加龍骨少許，連進二服。外用如聖膏貼頂，少收即拭去。</p>
<p><u>龍骨四物湯</u></p>
<p>龍骨（一錢）　熟地（四錢）　全當歸（四錢）　白芍（四錢，酒炒）　川芎（二錢）</p>
<p>如聖膏（又名收線子乳膏，方見臨產胎衣不下門，又見諸異症門。）</p>
<p><u>產後陰癢</u></p>
<p>陰門發癢者，乃產後脾胃不和，氣血不調，宗氣下陷，濕熱下逼陰中，因之而生蟲，其癢者乃蟲咬陰戶也。治宜加減補中益氣湯，外用薰洗、貼法。</p>
<p><u>加減補中益氣湯</u></p>
<p>黃耆、人參（各錢半）　當歸身、甘草（炙）、白朮（土炒，各一錢）　陳皮（五分）　升麻（三分）　川椒（二十粒）　烏梅（三個）　吳茱萸（三分，用川黃連同炒）　生薑（三片）　大棗（三個，燒）</p>
<p>外用薰洗法</p>
<p>蛇床子（一兩，炒研）　川椒（三錢）　蔥白（五寸）　苦參（五錢）　熟艾葉（三錢）</p>
<p>煎湯取汁，盆中先熏後洗。若薰洗不效，連用三四次。如再不愈，用椿白蛇床方，或用豬肝貼法即愈。又方：椿白皮四錢，蛇床子四錢，煎水薰洗，其癢自止。</p>
<p>外用貼法</p>
<p>豬肝一頁（回族以羊肝代之），竹刀切一分厚之片，用芝麻油搽過，放新瓦上用火炙之，至熱氣香時，乘熱即貼陰門癢處，冷再換之，換三次即愈。用時先洗後貼。</p>
<p>又方：用小雞一隻，剖開去毛，去臟腑，煮熟用滾醋烹透，貼癢處即愈。</p>
<p>陰門生瘡</p>
<p>陰門生瘡，亦下陷濕熱所致，宜服加味補益敗毒散。</p>
<p><u>加味補益敗毒散</u></p>
<p>生黃耆、人參（各二錢）　白朮（一錢，土炒）　甘草（八分，炙）　陳皮（一錢）　當歸身（二錢）　升麻（五分）　荊芥（一錢）　銀柴胡（一錢）　肉桂（五分，研）　乳香（一錢）　防風（一錢）</p>
<p><u>外治熏洗方</u></p>
<p>金銀花、甘草、元參、土茯苓蒼朮（炒）、霜桑葉、白芷、苦參、蔥白、蒜梗、川椒各等份　槐枝五寸，水煎薰洗。</p>
<p><u>加昧三仙丹</u>（原方列本門之末）</p>
<p>三仙丹底加大黃、黃連（各一錢）　象皮（二錢）　無名異（一錢）　輕粉（五分）　冰片（一分）　樟腦（五分，研調）　煅甘石、黃柏各二錢，共為細末摻瘡。如干，用豬膽汁和芝麻油調搽之甚效。</p>
<p>《本草備要》：「治金瘡折傷，癰疽腫毒。醋磨塗，止痛生肌。人受杖時，須服三五錢，不甚痛傷。生川廣，小黑石子也。」</p>
<p><u>升樟腦法</u></p>
<p>樟片（一兩）　薄荷葉（一兩，鮮）　好磁碗二個，將薄荷葉鋪一碗內鋪均，將樟片放在薄荷上，用一碗蓋之，以竹紙封口二三重，勿冷泄氣，用木炭火緩緩燉三炷香為度，止火待碗冷，開碗上蓋，碗上之霜即樟腦也。</p>
<p><u>升三仙丹</u></p>
<p>水銀輕粉（研）、火硝（研）各一兩，拌均，入一大傾銀罐內，上以小罐蓋之，用鹽泥封固。以木炭火煅至三炷香為度，取出冷定，蓋上霜為丹頭，底下為丹底。拔毒用丹底，收口用丹頭。凡各瘡毒摻藥俱奇效。一方火硝、白礬，用小鍋一口，將藥入內，蓋一磁碗亦可升丹。</p>
<p><u>乳汁不通</u>（附孕四年產子缺乳）</p>
<p>產後乳汁不通，其故有二。一由氣血兩虛，乳汁稀少；一由氣閉血滯，壅塞不行。蓋婦人多優思忿怒，憂思則氣結而血亦結，忿怒則氣逆而血亦逆。甚至乳硬管塞，脅痛煩熱，故古方於通乳藥中多用香附，木香、青皮者，以行氣故也。用玉不留通乳而兼行也。惟由氣血虛弱，則不用利氣之藥。須服豬蹄湯、公雞飲、鍾乳飲等方，以年紀大小壯弱酌用之。</p>
<p>豬蹄湯（此方純補四十歲後，氣虧血虛者宜之。兼滯，公雞飲。）</p>
<p>豬前蹄（一對，用公豬擇過的）　糯米（一斤）　生黃耆（一兩）　西黨參（一兩）　通草（五錢），先將藥煎汁去渣，將藥汁入大砂鍋內，再入豬蹄、糯米，用河水楊木火煮爛飲之，食之效甚。</p>
<p><u>公雞飲</u>（此方半行半補，三十歲後氣血虛者，有滯宜之。）</p>
<p>大白公雞（一隻，去毛臟）　西黨參（一兩）　黃耆（一兩）　穿山甲（三錢，炒銖）　王不留（三錢，炒）</p>
<p>先煎藥汁一碗（去渣），再與長流水數碗煮雞，飲食之，乳汁自通。</p>
<p><u>鍾乳飲</u></p>
<p>鍾乳粉（二錢）　漏蘆（三錢），水煎服。</p>
<p><u>鯽魚飲</u></p>
<p>鯽魚（半斤）　木通（五錢），水煎服。</p>
<p><u>大豬蹄湯</u></p>
<p>七星豬蹄（一隻）　當歸（五錢）　熟地（六錢）　人參（二錢）　川芎（一錢）　半通草（一錢）　枸杞（三錢）　黃耆（三錢，炙）</p>
<p>先煮豬蹄濃汁，以蹄汁煎藥服之。凡乳汁不通，皆由氣血不足之故。如人稍壯氣閉，則加王不留行一錢（炒）。</p>
<p><u>化滯通乳湯</u>（此方新產年少，氣血盛閉者宜。）</p>
<p>香附（二錢，酒炒）　木香（一錢，研）　陳皮（一錢，炒）　胡蘆巴（一錢，炒研）　通草（一錢）　穿山甲（一錢，炒銖）　王不留（二錢，炒）　皂角刺（一錢）　川芎（一錢）</p>
<p><u>懷孕四年產子缺乳</u></p>
<p>余故里有戶婦人者，懷孕四年產一子，其間均以為病，用行滯消脹等藥皆不效。至臨產前十日，延余診治。其脈，左尺滑實而數，余曰：「是喜也，非病也，將臨產矣。」因用耗氣藥太多，余以六君子救之，服二劑而產一子。因體虛缺乳，用十全大補湯五劑，大豬蹄湯二劑，乃復其元，乳亦流矣。余悅曰：「幸而有夫，若是寡婦，何處洗冤？」聞者皆奇之。</p>
<p>六君子湯（見卷三產後膨脹門）</p>
<p>十全大補湯（見本卷產後乳癰乳疽門）</p>
<p>大豬蹄湯（見本門第五方）</p>
<p>按：上症前醫誤為癥瘕，用破藥百餘劑，產一男子，全體決然無恙。莫非天賜其子乎？其子毛髮指甲皆長於普通赤子三四倍，滿月扎小辮，四月能步行，非常頗實。一旦謂宗岳曰：「爾開診後，遇寡婦患此，當以為標而救之。」不獨此案，然古人亦有之，詳見《濟陰綱目》。</p>
<p><u>消乳</u></p>
<p>產後無子飲乳，有乳而欲消者，以麥芽一兩（炒末），四物湯調服即消。或用神麯二錢（炒末），紹酒調服，日用一次。</p>
<p>產後諸異症</p>
<p>下物如缽</p>
<p>產後陰中下一物如缽狀，有二歧者，乃子宮也。用補中益氣湯去柴胡，連進二三劑，一響而收後，以四物湯加人參調理。白芍終須少用，至七日外，另行斟酌。</p>
<p>下物如帕</p>
<p>產後陰中下一物如帕，約重斤余者，因臨產勞役或肝痿所致。又有黏席不上者，則系脂膜無妨，治法同缽症。</p>
<p>下物如茄</p>
<p>產後陰中下一物如茄，蓋兒袋也。名曰「茄症」。由產時用力過多，元氣下陷之故，治宜補中益氣湯以升提之，自然漸退。</p>
<p>補中益氣湯（方見卷一胎前子滿門，缽症、帕症、茄症皆宜之。）</p>
<p>下肉線</p>
<p>產後倉遑驚擾，用力過多，以致育膜有傷，垂出肉線一條，約長一二尺，牽引心腹，痛不可忍，以手微動之，則痛苦欲絕，宜先服失笑散數劑，再用生薑三斤，搗爛以清油二斤拌均炒，令油於焦為度，即用熟絹五尺折作數層，令穩婆輕手盛起肉線，使屈曲一圈納陰戶口，用絹袋兜前油姜，稍溫敷在肉線上熏之。姜冷則以木炭火熨熱，使常有姜氣。如姜氣已過，又用姜照前制度熏一日一夜，其線即縮入一半，二日縮盡。再用芎歸湯調理，萬不可使肉線斷作兩截，一斷則不治矣。</p>
<p><u>失笑散</u></p>
<p>蒲黃、五靈脂各二錢，共研末醋調服。</p>
<p><u>芎歸湯</u></p>
<p>川芎（一錢）　當歸（二錢）</p>
<p><u>補中益氣湯</u></p>
<p>去柴胡重用黃耆，產後下物各症，服之皆效。（方見胎前子滿門）服之線不收者，貼子乳膏自效。</p>
<p>收線子乳膏（又名如聖膏，正方見胎衣不下門。）</p>
<p>蓖麻子肉（一兩）　滴乳香（五錢，去油），研為膏攤布上，貼頭頂心，所下之肉線即收。盤腸下生者，貼之腸自收。凡用此方腸以已收矣，即去膏貼，肉線者亦然。</p>
<p><u>乳懸</u></p>
<p>產後瘀血上攻，忽兩乳伸長，細小如腸，直過小腹，痛不可忍，名曰「乳懸。」用川芎、當歸各一斤，水煎濃汁，不時溫服。再用芎歸二斤，燒煙於病床前，令病人曲身低頭，將口鼻及患乳常吸菸氣，則瘀血消而乳復舊矣。若收不復舊，再用一料即愈。或以收線子乳膏貼之，乳收膏去，遲遲有損。收線子乳膏見下肉線門，即上案末方。</p>
<p>陰挺下脫（產後平常皆有之）</p>
<p>產後陰中下精肉一塊，如菌或如雞冠，約長寸許，甚至有滿尺者，名「陰挺下脫」，即平常婦人皆有之。總因元氣下陷所致，治法與茄症相似，用補中益氣湯。產婦減柴胡，平婦用原方，以內有升麻提脾氣，而症自愈矣。</p>
<p>補中益氣湯（方見子滿門）</p>
<p>產後癰疽並內外腸癰</p>
<p>產後癰疽，此由氣衰血阻，營衛不調，經絡不行，瘀而為毒，甚則發為內外腸癰。外腸癰不易治，內腸癰更難療。稍有不善必致穿腸爛肚，無可救矣！宜服加味十全大補湯。內腸癰腫痛，當臍必硬，外用灸法，內用托補方。如肚腹脹痛者，內腸癰是也。</p>
<p>內托方</p>
<p><u>加味十全大補湯</u></p>
<p>黃耆（五錢，生）　人參（一錢）　白朮（土炒）、茯苓、遠志肉（甘草水炒）、金銀花（炒，各二錢）　甘草（炙）、白芍（酒炒）、白芷、肉桂、防風（各一錢）　當歸（三錢）　川芎（一錢）　半熟地（六錢）</p>
<p>此方宜用之疽症或他癰症，產後未滿一月時，方中加益母草三錢紹酒一盅。腸癰去白芷，加荊芥一錢；去防風，加毛慈姑二錢。</p>
<p>如毒已久將成膿，加皂角針一錢，蘆薈一錢，瓜蔞皮一個，蔥白三寸。</p>
<p>杏圃問曰：「外腸癰眼藥後，內毒已消，往往有寒毒結如雞腸者，何也？」淑濂子曰：「因內托藥力已到，毒必從臍出矣，牢不可斷，不可疑為人腸也，用太乙膏蓋之自退下。」</p>
<p>內腸癰若潰，必從大便瀉膿血也，用太乙膏作丸，服之自愈。</p>
<p>千金活命丹（孫思邈方）</p>
<p>黃耆（四錢，生）　人參（一錢）　漢附子（二錢）　鱉蝨、小胡麻、當歸身（各二錢）　白朮（二錢，土炒）　肉桂（一錢，研）　蒺藜（炒）　茯苓　甘草（炙）　毛慈姑乳香（去油）　沒藥（去油，各二錢）　何首烏（四錢，法制）　文蛤粉、白芷（各一錢）　荊芥（一錢半）</p>
<p>外灸法（凡癰疽初起紅腫者，陽毒也，易治。平凹硬結不痛，頭如米粟者，陰毒也，難療。）</p>
<p>三辛附子片（此方灸陰毒）</p>
<p>漢附子生用一片，放患處，用生蔥薑蒜搗為泥，置附子片上，再用大艾壯置泥上，燃艾灸之。或十四壯、二十一壯灸後，能散更好，如爛則用塗法。</p>
<p>塗法</p>
<p>塗癰疽，用山上陳牛糞搗末，芝麻油調塗之。或蔥白三寸，蜂蜜一兩，保安萬靈丹三錢搗塗（方見卷三癱瘓門）。忌用涼藥塗，致毒內攻，禍不旋踵。涼藥者，塗陽毒症也。平時癰，塗宜涼藥，如藍葉，或公英，或馬齒莧，搗塗皆效。</p>
<p>太乙膏</p>
<p>《醫宗金鑑》方，內癰外瘡俱用之，分量按症酌宜用之。</p>
<p>元參、赤芍、白芷、當歸（各二兩）　柳枝、槐枝（各一百寸）　肉桂（二兩）　沒藥（三錢）　大黃（二兩）　木鱉（二兩）　輕粉（四錢，研不見星）　生地（一兩）　阿魏（三錢）　黃丹（四十兩，水飛）　乳香（五錢）　血餘（一兩）</p>
<p>真芝麻油五斤，上藥十六味子，留下黃丹，其餘入油煎焦去渣，熬至將油滴水成珠，下丹收膏入水中聽用。</p>
<p><u>產後狐惑</u></p>
<p>產後狐惑症，乃外感傷寒，邪傳入里，寒變為熱。里有不清，則濕熱結為陰毒，流注大腸。清陽不升，濁陰不降，濕熱鬱久生蟲，漸蝕肛門，萬難救一。蓋產後氣血虧，又兼外感，所謂兩感症也。忌用柴胡、山梔、黃芩、川連、知母、黃柏、丹皮涼瀉等藥，遏郁寒邪，謂之引賊入院。宜十全大補或補中益氣加減治之，人參斷不可少也。</p>
<p>十全大補湯（見本卷產後乳癰乳疽門）</p>
<p>補中益氣湯（見卷一胎前子滿門）</p>
<p>此處用上二方內加文蛤二錢（粉）大胡麻四錢（炒研）</p>
<p>產後脫肛</p>
<p>產後脫肛，宗氣下陷，非大補不可治，宜加味益氣湯。</p>
<p><u>加味益氣湯</u></p>
<p>人參（一錢）　茯苓　黃耆（炙）、白朮（土炒）、甘草、菟絲餅（各五錢）　熟地（八錢）　淡附子（五錢）　歸身（四錢）　升麻（七分）　川芎（一錢）　五山萸肉（四錢）　桂心（一錢，研）　煨生薑（一錢）　大黑豆（四十九粒）　龍眼肉（一枚）</p>
<p>脫肛外治法</p>
<p>鱉頭膏</p>
<p>鱉頭一個（煨），荊芥三錢，共為細末蜂蜜調為稀膏，塗肛門上，用陳草鞋一隻烤熱，緩緩托上，鞋冷再烤，敷肛門，連三四次自愈。</p>
<p><u>三豆膏</u>（此方亦治痔瘡）</p>
<p>大黑豆、綠豆、赤小豆各一錢，枯礬五分，共為末，蜜調塗肛門，用溫草鞋托上即愈。</p>
<p>產後頭風鼻淵</p>
<p>產後頭風皆由氣虛血弱，督脈不通於腦，任脈不交於腦，而髓海空虛，風寒乘入所致。積久則鼻流黃涕，稠黏腥臭，腦痛如破，頭痛。如畏風不可作風治，照古書所言：「治風先治血，血活風自滅」之意。治產後更當治血，治氣。蓋氣足自能生血也。況頭為諸陽之會，則補陽又不可缺，法當腎氣大補湯加減治之。</p>
<p><u>加減腎氣大補湯</u></p>
<p>熟地、萸肉、山藥（炒）、漢附子（制）、黃耆（炙）、當歸身、甘枸杞、菟絲餅（各四錢）　茯苓（三錢）　丹皮、澤瀉、肉桂（研）　川牛膝（各二錢）</p>
<p>巔痛，原方加川芎一錢，藁本五分，細辛七分，童便一盅（沖）。兩太陽穴痛，原方加荊芥，防風各一錢，淫羊藿二錢，童便一盅。</p>
<p>牽引眼痛，原方加殭蠶（炒），威靈仙，蟬蛻各一錢。</p>
<p>面上起塊如餅，原方加蠍子梢八分，海桐皮一錢五，石決明二錢（煅），乾蟾蜍一支。</p>
<p>面上紅腫如遊風，原方加白頭翁、牛蒡子各二錢，獨活、羌活各一錢，地丁二錢（黃花）。</p>
<p>眼珠紅沿出淚，原方加穀精草一錢，霜桑葉十片（炙），乾蟾蜍一隻（香油炙酥，研為末，以藥汁沖服，見火無功）。</p>
<p><u>補血湯</u></p>
<p>黃耆二錢（炙）、當歸身（三錢）　甘草（一錢，炙）</p>
<p><u>獨芥散</u></p>
<p>荊芥二錢（研磨），煮大黑豆汁調服。</p>
<p><u>獨萍散</u></p>
<p>浮萍草三錢（研末），煮黑大豆汁調服。</p>
<p>產總後三方</p>
<p>三消丸，消死血，套積痰結；烏金散，治產後十八症；濟坤丹，治產後氣疼瘀痛，一一如下。</p>
<p><u>三消丸</u>（又名化堅丸）</p>
<p>治婦人死血、套積痰結、塊痛等症，無不神效。</p>
<p>吳茱萸（四錢）　川黃連（一錢）　益智仁（一錢）　萊菔子（一兩，炒）　川芎、桃仁、梔子（炒黑）、麥麩、神麯（炒）、三稜、文術（醋炒，各五錢）　山楂、香附（童便炒，各一兩）</p>
<p>先將吳茱萸煎汁浸黃連，待浸透，炒乾一半，下半再同益智仁炒乾，去益智仁炒乾，去益智仁同下十味為末，蜜丸桐子大，空心服，每用五十丸，補中益氣湯送下。或每服四十丸，白朮二錢（炒）當歸三錢陳皮一錢引。</p>
<p>補中益氣湯（見卷一子滿門）</p>
<p>烏金散治產後十八症</p>
<p>（一）產難（十）失音不語</p>
<p>（二）胎衣不下（十一）血邪癲狂言語</p>
<p>（三）死胎不下（十二）心腹痛</p>
<p>（四）眼花（十三）百節痠痛</p>
<p>（五）口乾心悶（十四）舌乾津枯鼻中出血繞頂生瘡</p>
<p>（六）寒熱如瘧（十五）腰痛如角弓</p>
<p>（七）咳嗽寒熱不定（十六）小便短縮</p>
<p>（八）敗血入肝（十七）喉如蟬聲</p>
<p>（九）敗血入四肢浮腫（十八）胸膈氣滿，喘逆不食</p>
<p>烏金子（即黑大豆）紫威（即凌霄花）大薊根當歸肉桂（研）血餘（無病之人發灰）蒲黃（炒黑）木香赤芍牙皂角（炒黑）蠶脫紙（燒存性）棕皮炭（炒盡）各五分紅花一兩川烏一枚（生用五分）辰砂血竭花各少許。</p>
<p>上除燒灰者以外，另研細末灰，藥末和勻，每服一錢，生薑湯酒送下，甚至一日三劑。濟坤奪命丹即回生至寶丹，功同烏金散，取效更速，但過於峻，非萬不得已，不宜用之。</p>
<p>濟坤奪命丹（有古方濟坤丹，見產後上惡露門。）</p>
<p>此方一名回生至寶丹。惡露不下，陣陣作疼，中痞，心胃疼，腰腹疼，瘀血疼，兒枕疼，小便不利疼，氣不和，風寒等症，用之皆效。</p>
<p>乳香（炒去油）、沒藥（炒黑，各三錢）　麝香（三分）　木香（六錢）　熟地、蒲黃、桃仁、牛膝、當歸、川芎（各一兩）　三稜、酒白芍、羌活、橘紅、萸肉、五靈脂（各五錢）　青皮、良薑、香附、元胡、蒼朮（炒）、坤草（各一兩）　天葵子、甘草（各五錢）　烏藥（一兩五錢）　大黃（一斤，研末）　蘇木（三兩）　大黑豆（一斤）　紅花（三兩，炒）</p>
<p>上先將前四味為細末，再將後二十一味為末和勻，再將大黃末入醋三斤煮乾，再將蘇木、大黑豆用河水煮汁，再將紅花用南酒煮汁，然後將蘇、豆紅汁入大黃內曬乾，與前藥共為末，煉蜜為丸如彈子大，重五錢，每服一丸或二丸，旦夕用，南酒送下。</p>
<p>以上三方俱治標之藥，若可稍緩，仍當以大補為本，即萬不得已而用之。只可二丸，隨迸補劑，不然取快一時，非無速效，禍不旋踵，悔無及矣！</p>
<p>胎產應備藥品</p>
<p>凡胎產藥品，必選地道，必得炮製，萬一不善，藥反有礙，謹列於下。</p>
<p>熟地，以河南淮寧產乾地黃大塊者十斤，生薑四斤取汁，益智仁四兩，揀砂仁四兩均研末，紹酒二斤與薑汁、二仁末同拌地黃內，日曬令汁水皆歸地黃中，以得陽氣，再加紹酒四兩拌，九蒸九曬，再用牛乳一兩拌其中，收磁器內聽用。</p>
<p>當歸，以甘肅秦安產者佳。泄瀉用陳壁淨土調水，浸炒乾，余方用南酒或醋炒，或生用（土炒止瀉，酒炒散瘀，醋炒斂汗，生用生血。）</p>
<p>川芎，酒炒余方生用，個大香甚者佳。</p>
<p>白芍，酒炒，一概不可生用，以杭州產者佳，大者美。</p>
<p>人參，人參以長白山野產為最好，其山人養者次之，山鄰高麗產者尤次之，其價皆昂。貧寒之人無財力者，以潞黨參加二倍代之，必用生薑汁、粳米拌蒸，再略炒，總不及人參力久。人參為末吞下，再服藥為最宜。黨參有潞黨、東黨之別，性大同，少用則逆，多用則順，亦酌宜用之。</p>
<p>白朮陳黃土炒，若咽乾發燥，用人乳汁炒，於白朮亦然。</p>
<p>蒼朮、術者，古人無分白、蒼、於三種，乃後人細推而分之。白補；蒼滲；有燥痞，於朮兼功而潤而順。因於術價昂，貧寒之人，乃以蒼白代之，蒼米泔炒。</p>
<p>茯苓人乳汁拌蒸，白上、赤下、茯神中，守廣產者為上，野產者更好。</p>
<p>茯神以抱木者即茯苓心，治怔忡、盜汗、驚悸，用豬心血拌蒸炒或硃砂拌。</p>
<p>甘草去皮蜜炙，若遇中滿脹悶等症、嗜酒之人忌用。虛症莫缺，產汾州者佳。</p>
<p>黃耆胎前生用，產後酒炒，勿用蜜炙，性過滑潤也。產北口者佳。</p>
<p>邊桂去粗皮曰「肉桂」，靠骨處去茸皮曰「桂心」。單取心薄片，入藥鍋煎一沸即止。凡香味久煎減功，如丁香、沉香等味皆畏火，宜研末沖服功大。產安南者佳，產廣州者亦佳。</p>
<p>紅花真西藏紅花細長絲，每用只可二三分。人造花與魯豫花同功，西藏花一分頂魯豫花一錢。</p>
<p>吳茱萸用止腹痛，以黃連汁炒用，去寒滯，單用湯泡五次可也。曬乾鹽水炒，以黑灰色淨豆者佳。</p>
<p>延胡索又名玄胡，又名元胡，堅肥者佳。五靈脂（糖者佳），良薑（肥者佳），蘄艾此四味俱用醋炒。</p>
<p>貢阿膠、鹿角膠、龜板膠此三味，治失血薄黃炒；嗽，蛤粉炒；余方生用，皆細亮不醒而味清者佳。</p>
<p>淫羊藿、鹿茸（馬鹿茸以肥短輕嫩者為上，細小者否。）皆羊酥炙。</p>
<p>枸杞補陰藥則青鹽水炒或黑芝麻炒；補陽藥用小茴香、胡蘆巴、川椒拌炒皆可。以甘肅產者佳。</p>
<p>益智仁、胡蘆巴、小茴香、蒺藜，此四味俱鹽水炒。</p>
<p>川杜仲鹽水炒或薑汁炒，皆將杜仲炒斷絲存性。</p>
<p>益母草又名坤草，為產後去瘀生血之聖藥，按瘀血多少酌宜用之。</p>
<p>枳殼麥麩子炒，老黃色肥白者佳。</p>
<p>大黃產四川，又名川軍，有錦紋者佳。熱症，酒炒；痢積，韭菜汁拌蒸，九蒸九曬；至於傷寒、溫疫、陽症中生用。</p>
<p>黃連吳茱萸汁炒。遇熱症，酒炒；嘔吐，生薑汁炒。肥大者佳，產四川。</p>
<p>乾薑用止血破瘀，則以醋炒黑；其餘微炒或生用，肥白者佳。</p>
<p>知母、黃柏，皆鹽水炒。上焦有疾則酒炒。其餘生用，肥者佳。</p>
<p>黃芩北口產者，不枯色鮮佳。</p>
<p>丹皮產毫州，香而肥者佳。</p>
<p>山藥產淮寧堅者佳，皆酒炒。</p>
<p>山萸肉治脹症用醋炒，其餘生用。</p>
<p>何首烏無論男女老少，久用諸病皆已。以泰山特產為佳，入藥生用。單食去皮煮爛用之，或為末入米粥飲之皆可。</p>
<p>行醫規則及辨症</p>
<p>蓋行醫者，以求人生而除痛苦為任。勿為已便而救富貴為懷。如此診婦女更進一禮，凡長我者，作母當視之；平我者，作姐妹視之；晚我者，作女侄視之。男女之有別，吾儒之必要。若診尼僧營妓之病，當正顏端坐，命方即退，勿輕己身也。可及診寡婦處女，多留心焉，尺滑實數之脈，或辭或救邪，言不可出口。尺實有力不動者，確是癥瘕，用加減四物湯有驗。加減四物湯：川芎當歸白芍丹參蘇木紅花上邊桂枳實檳榔酌宜用之。《洗冤錄》云：「凡寡婦、處女腹內癥瘕，結塊自下，多似胎孕，則疑似難明。須知胎孕必有衣膜癥瘕只是血塊。其或成形如鱉如蛇等，則受異氣所致，有結成鬼胎者，此不可不辨。又有血盛思念成胎者，及用男子溺器成胎者，是二者皆生子無骨，或有亦軟，尤宜辯之。」</p>

<h1>保嬰全書（附胎產方案後）</h1>
<p>心亭問於杏圃曰：「幼科一門，載之胎產篇末，何也？」杏圃曰：「老師有言，僅保嬰耳。一月之後，小兒百病自有專科司其責。然新產七日內外，調護失宜，其家因醫治產後，即乘便求救，而概諉不能，未免拂人之意，非所以濟世也，故並及於此。」</p>
<p><u>保嬰要訣</u></p>
<p>嬰兒初生不啼，或肛門為脂皮所塞者，用玉簪或金簪通開。《分臺秘訣》云：「兒生不啼由產母少氣也，取臍帶向身持之，令氣人兒腹，仍呵之百度，自啼矣，又以石菖蒲取汁，滴兒口即活。」</p>
<p><u>夢生</u></p>
<p>《濟陰綱目》曰：「初生不能發聲為之『夢生』，切不可斷臍，須以棉包兒，將胞連帶用大油紙燃，烤其臍帶，待兒能啼，方斷可也。」</p>
<p><u>拭口法</u></p>
<p>小兒將降生，備一清心湯，待兒生下即灌二三匙，再以上等硃砂末抹口中，打盡腹中舊糞；次用朱蜜膏抹口中，不特鎮心安神，亦能解除先天之惡毒。葛氏云：「先以黃連、甘草拭口，使吐其惡汁，稍定再以朱蜜膏抹口中，此安心神而解惡毒之法也。惟兒面色青白，啼聲之響則不須服，宜服甘桃汁，用淨細線布包甘桃泥與兒吮之，後以良善少婦乳哺繼之，永無寒滯之患。」</p>
<p><u>清心湯</u></p>
<p>甘草（三分，去皮）　黃連（二分，研），水煎。濃汁，灌兒口中，繼令食乳。或先以硃砂飛末半分，抹兒口中，稍頃乳哺之。</p>
<p><u>朱蜜膏</u></p>
<p>硃砂（取色紅如血透亮者，半分飛淨）蜂秋蜜五分，煉好和硃砂末為膏，抹兒口中，繼以乳哺。然兒面色青白，啼聲不響者，此等嬰兒先天軟弱，黃連硃砂之類不宜用之，當以甘桃汁為宜。</p>
<p><u>甘桃汁</u></p>
<p>甘草（八分，煮汁）　胡桃（一枚，去殼去仁，上薄皮搗為泥）</p>
<p>上方以甘草汁浸胡桃泥，淨布包乳頭形與兒吮之，繼以乳哺，永無寒滯之虞。</p>
<p><u>斷臍法</u></p>
<p>產後要訣：兒出胎洗淨後，方斷臍帶，則不傷水濕，無以致病。斷臍須將汁持盡，否則寒濕入腹，或作臍風。又須於近臍四五寸處，以棉緊扎，用棉包裹，以口咬臍蓋緊扎，則兒血不貫於胞衣，自然痿縮不脹而易下，則胞衣未下，以此方治之，雖延緩數日，亦無大害。斷臍不用剪刀，自無冷氣內侵，可免腹中吊痛之虞。所留臍帶不可太長，則難乾而傷肌肉，且恐引外風為臍風。然亦不可太短，太短則逼內而傷臟，或致腸痛而夜啼。只以兒之手掌長短為度。《千金論》云：「須令足趺上為度，總之以衣尺五寸，斷臍則可矣。」</p>
<p><u>米牙</u>（除驚風之原）（附板牙、頂珠）</p>
<p>凡兒生下，每日夜將苦茶蘸軟絹攪兒口內，如齒邊有白點，即「米牙」也。即用細銀針挑破，用上京墨汁塗之，永無驚風嘬口之病。有牙床緊硬者名「板牙」，亦須挑破。亦有喉間腫突者，名曰「頂珠」，須以手指蘸冰片擦之，其突自下一方，以雞子清磨銀子水，令兒吮二三匙即愈（板牙治同米牙）。</p>
<p>米牙挑破後，用殭蠶一條燒存性，研硃砂末少許，麝香少許同研，擦挑處，無嘬口、驚風、噤口之病，臍風嘬口亦可用。</p>
<p><u>臍風</u></p>
<p>張煥云：「嬰兒斷臍帶後，宜用厚軟布裹護。若乳母不慎或因浴而水入，或兒尿繃中未換，為濕氣所浸，或當風解視，七日內遂成此疾。令兒臍腫多啼，不能乳哺，即成臍風也。用真白殭蠶四條，炒，去絲嘴為末，蜜調抹唇內即愈」。</p>
<p><u>嘬口</u></p>
<p>嘬口之症必先大便熱，須用生犀角及真羚羊角研汁，和蜜調飲之有效。急則用大黃二錢，甘草二錢，水煎服，效甚。</p>
<p>哺乳法</p>
<p>乳者你也，哺者食也，乳後不得與食，哺後不得與乳。蓋乳食相併，難以克化，大則成癖，小則成積，疳氣自此始矣。《保生要》云：「小兒多睡，勿強於乳。守此法者，幼則頗實，長則健壯，至老無陳病，否則反是。」</p>
<p><u>夜啼</u></p>
<p>小兒夜啼，用溏雞糞塗兒臍上極桂。或男兒用雌雞糞，女兒用雄雞糞。（此方對世俗農工人言，即公雞母雞。）</p>
<p><u>護兒法</u></p>
<p>《精要》云：「初生小兒，夏忌飲冷食生，冬忌火炙衣被，且曰：要得小兒安，多受飢合寒，真至良言也」。《養子真訣》云：「吃熱莫吃冷，吃軟莫吃硬，吃少莫吃多，真至妙之言也。」</p>
<p><u>稀豆法</u></p>
<p>《綱目》云：「臍帶干，落安靜瓦上，四周以木火炙之，止令煙盡，勿使成灰，取出以磁碗扣地上良久，待火毒出，研極細。每用一分，加上辰砂五釐共研末，次日以乳汁調塗乳頭上，令兒食之。一日內作二三次服盡，勿待異日，否則不效。」</p>
<p>韓梅村曰：「上法食之，永不生斑疹，生亦輕矣。」</p>
<p>又方：小兒百日內用淨金銀花一兩，甘草五錢，煎湯久服，即出痘亦少。</p>
<p>一方：小兒始降生時，搗韭根自然汁灌兒腹中二三匙，則吐出胎血，永免生痘。</p>
<p>一方：綠豆，大黃豆，大黑豆各一合煎湯，四時八節給兒服，名曰三豆湯，用之稀痘良。</p>
<p>一方：蓖麻子四十九粒，去殼去油，硃砂二錢，麝香二分共為末收磁器內，每年到五月五日、七月七日、九月九日，旦起擦兒手足心中，及胸背前後心上，擦三四年，出痘自稀。</p>
<p>一方：小兒初生用豬膽汁二三枚，傾盆遍身洗之，使其兒永不生瘡疥。</p>
<p><u>高氏《胎產方案》附保嬰訣終</u></p>

<h1>高氏胎產方案後序（原名《秘書》）</h1>
<p>且甚哉，治病之難莫難於治婦人之病矣！又莫難於治婦人胎前產後之病。同一傷寒也，若傷寒在胎前及傷寒在產後，不能執一方，以為治療。古人有言曰：「胎前以清熱安胎為主；產後以補氣養血為主；其所得之時疫，兼而治之。」況胎前有子懸、子煩、子癇、子腫、子氣、子滿、子淋、子鳴等症；產後有心痛、腰痛、腹痛、頭痛、發熱、大渴、泄瀉、尿血等症；既有一定之病症，既有一定之方藥。詳細辨明，按症施治，庶為良工矣。源攻婦科約有三十餘年矣，對於胎前產後各病苦無把握，時常臨症以後，雖有案而元方，即有方焉而用藥又恐不底確，倘魯莽施治，則人命危在旦夕，可不懼哉。近讀淑濂先生所著《胎產秘書》一種，論症詳明，治法完備。其有俾於婦人之病者，良非淺顯。源得藉此得，闢前日之夢寐，增後日之智識矣，是為序。</p>
<p>時在甲戌仲冬，百源氏再序於積善堂。</p>

<h1>讀高氏《胎產方案》贅言</h1>
<p>古來有明儒不明醫者，斷無明醫不明儒者，何則？以醫術本乎學術，要非執拗成性，不近人情者，所克何也。余師《胎產方案》全部分為四卷，胎前三十四症，臨產四症，產後四十七症，以及難產救治調護諸法，均系經驗心得，百治百效者。果能家家備此一部，按症用方，實度人之慈航，救世之活佛也。范文正公云：「不為良相，即為良醫，可為余師誦之。」</p>
<p><u>民國二十三年歲在甲戌九月既望。</u></p>
<p><u>清庠生受業李承寅（學海）甫，沐手謹識。</u></p>

<h1>《胎產方案》說</h1>
<p>《胎產方案》一書，余先嚴為便大眾也，而授之岳曰：「天下之人眾矣，不外勞心、勞力二種。醫者乃救人而使之安，與為民上者之官，同有勞心之責。且較之居官權能自操，要視學力何如耳。今願汝曹業農業讀，務求實學，學優則或官或醫，不致無業斯可耳。」光緒戊申夏，先嚴親教以刈麥並稷獲鋤等事，岳為之。而炎熱當午，不堪其苦，乃慨然曰：「身如在丹爐之煅煉，其疲乏也，如將軍戰陳之回壘。」自此乃學為醫，永不再事勞力矣。先嚴大悅，遂講演而複習之。民國初以《胎產秘書》改名為《方案》，而示之曰：「吾因事親病延醫難，而習其事《靈》、《素》、《難經》，各科咸備，臨症細揣，百不一失。惟《胎產》一科，恨無專門，而《達生》與各書之胎產，又略而不備。予乃集古之論，與己之方，擇其屢驗者而編之。汝開診後，經絡脈理，遵《靈》、《素》與嵩崖處方，依《金鑑》調方，依景岳婦科雜症，遵《綱目》至《胎產》一門，本此即可，有同好者抄錄之，多多益善。惜義淺文拙，不堪付梓耳。且異日開診，當有請即至，莫使作難，時時不忘安民主義，即勞心君子也，反是即非吾子。」岳即立應曰：「兒必盡心醫科，力除眾人痛苦，富貴非兒志也。」先嚴大悅，今因素者多，抄錄難，岳鉛印二百部，量力以濟世人，以答先嚴之意，如有心於此者，廣為流傳，當再付印以繼之，岳頓首。</p>
<p>民國二十三年歲在甲戌冬十一月，次男宗岳在依岱山房沐手謹識。</p>
<p>仲岱此說，醫以救人為急，仁也。而又時時不忘乃父孝也，本此心何事不成？況專心一致，能不成功耶？書已印出，效蓋有極，可賀可喜。</p>
<p>梅村識</p>
<p>民國二十三年，冬十一月。</p>
<p>高淑濂胎產方案</p>
<p>全書四冊</p>
<p>中華民國二十三年十二月出版</p>
<p>定價：一元二角</p>
<p>著作者　泰安高淑濂</p>
<p>校正者　韓梅村　李珠泉　高宗岳</p>
<p>校對者　劉鑾廷　高曉然　高宗峻　王宗海</p>
<p>印刷者　大陸書社</p>
<p>山東泰安大關街</p>
<p>發行者　大陸書社</p>
<p><u>贈《胎產方案》書壹百部</u></p>
<p>宗族戚友一體大鑒：</p>
<p>去年在大陸書社印有《胎產方案》貳百部。初定印時，約計全書不過八十張。斯後加頁一半，即名人贈字贈序等文，印成乃為壹百五十六張矣。印費當然再加數十元，然大陸經理李彼顏主持信用，一言出口，不再翻舌。宗岳即將全價交付外，留書於大陸一半，任其變價以補加張頁之資，並將版權送為大陸所有。但本書所印太少，願要者從速，由大陸購買者，價由大陸主持。若有仁壽贈送者，乃非賣品，系宗岳完全奉贈。恐有未知，特此敬布。</p>
<p>贈書地址：泰安西門裡仁壽書店</p>
<p>自民國二十四年四月一日起，贈完為止。</p>
<p><u>高宗岳啟</u></p>
