<header data-type="book">
<h1>鬱岡齋醫學筆麈</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王肯堂</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=3391">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>《鬱岡齋筆麈》明·王肯堂撰，《四庫全書》採藏之，其書目提要復甚稱之。嘗觀自序云，余幼而好博覽，九流百家，亡弗探也。遇會心處忻然至忘寢食，既寡交遊，無同好可與談者，時時札記以管城，用為談麈。蓋以天縱之才，益以力學，發為言論，宜爾獨具隻眼，排倒一切也。書凡十二卷，論醫學者佔十之三四，余讀而稱善，思所以介紹於同志，因囑錢子季寅節錄專冊，細加校讎，並張小目，釐為二卷，易其名曰《醫學筆麈》。夫王氏《六科準繩》集明以前醫學之大成，博採廣搜，幾家置一編，讀此將益嘆其見高識廣，得未曾有焉。至此書成於萬曆三十年壬寅，《準繩》成於萬年曆三十二年甲辰，為時僅二載，當是輯《準繩》時有所發而另存者，則更可與《準繩》相互證云。</p>
<p><u>丙寅八月上海秦之濟伯未甫記</u></p>

<h1>卷上</h1>

<h2>稀痘秘方</h2>
<p>姑蘇一寺僧，賣稀痘藥，服之神驗，王荊石相公，許以重利，欲傳其方，峻拒之。後以十金得之於其徒，乃玄參、菟絲子二味等分，蜜調服也。公欲廣其澤，見人即說，後亦罕驗，蓋秘方廣傳則不效，人莫喻其理。紫柏大師嘗問余，余對曰：眾生業力大，制方者之心力幾何，不能專之故也。師擊節歎賞。</p>

<h2>寒熱因用</h2>
<p>或問寒因熱用，熱因寒用，何謂也？曰：寒熱和而為平氣，寒熱離而為病氣，因用則是調劑寒熱也。</p>

<h2>讀本草法</h2>
<p>同年邵麟武問，欲學醫，須識藥性，欲識藥性，須讀本草乎？曰：然。讀本草有法，勿看其主治。麟武曰：不看主治，又何以知藥性也？曰：天豈為病而生藥哉，天非為病而生藥，則曰何藥可治何種病，皆舉一而廢百者耳。草本得氣之偏，人得氣之全，偏則病矣，以彼之偏，補我之偏，醫藥所由起也。讀本草者，驗其味，察其氣，觀其色，考其以何時苗，以何時華，以何時實，以何時萎，則知其稟何氣而生。凡見某病為何氣不足，即可以此療之矣。《靈樞經·邪客》篇，論不得臥者，因厥氣客於五臟六腑，則衛氣獨衛其外，行於陽不得入於陰，行於陽則陽氣盛，陽氣盛則陽煿滿，不得入於陰，陰氣虛，故目不瞑，治之以半夏湯。夏至而後一陰生，半夏茁其時，則知其稟一陰之氣而生也，所以能通行陰之道。五月陽氣尚盛，故生必三葉，其氣薄，為陽中之陰，故其引衛氣從陽入陰。又其味辛，能散陽蹻之滿，故飲之而陰陽通，能臥立至也。李明之治王善夫小便不通，漸成中滿，是無陰而陽氣不化也。凡利小便之藥，皆淡味，滲泄為陽，止是氣藥，陽中之陰，所以不效。隨處以稟北方寒水所化，大苦寒，氣味俱陰者黃柏、知母，桂為引用，為丸投之，溺出如湧泉，專眄成流。蓋此病惟是下焦真陰不足，故純用陰中之陰，不欲干涉陽分及上中二焦，故為丸，且服之多也。本草何嘗言半夏治不得臥，黃柏、知母利小便哉，則據主治而覓藥性，亦何異夫鑄舟而求劍者乎。麟武曰：善哉，未之前聞也。</p>

<h2>藥誤</h2>
<p>面浮跗腫，小便秘澀，未必成水也。服滲利之藥而不已，則水症成矣。胸滿腹膨，悒悒不快，未必成脹也，服破氣之藥而不已，則脹症成矣。咳嗽吐血，時時發熱，未必成瘵也，服四物、黃柏、知母之藥而不已，則瘵症成矣。氣滯膈塞，飲食不下，未必成膈也，服青、陳、枳、樸寬中之劑而不已，則膈症成矣，成則不可復藥。</p>

<h2>痰火</h2>
<p>痰火上壅，喘嗽發熱，足反冷者，服消痰降火藥必死，宜量其輕重而用人參，多至一兩少則三五錢，佐以桂、附，煎濃湯候冷飲之，立愈，韓懋所謂假對真也。然此症實由腎中真水不足，火不受制而上炎，桂、附火類也，下咽之初，得其冷性，暫解鬱，及至下焦，熱性始發，從其窟宅而招之，同氣相求，火必下降，自然之理也，然非人參君之則不能奏功。</p>

<h2>中風</h2>
<p>每見時師治中風，初用八味順氣散，多不得效，已而用二陳、四物加膽星、天麻之類，自謂穩當之極，可以久而奏功，而亦竟無一驗何也？蓋妄以南星、半夏為化痰之藥，當歸、川芎為生血之劑，而泥於成方，變通無法故也。正不知通血脈，助真元，非大劑人參不可，而有痰者，惟宜竹瀝少加薑汁佐之，不宜輕用燥劑。至於歸、地甘黏，能滯脾氣，使脾精不運，何以能愈癱緩。豈若人參出陽入陰，少則留，多則宣，無所不達哉，其能通血脈雖明載本草，人誰信之。里中一老醫，右手足廢，不能起於床者二年矣，人傳其不起，過數月遇諸塗，訊之曰：吾之病幾危矣，始服順氣行痰之藥，了無應驗，薄暮神志輒昏，度不可支，令家人煎進十全大補湯，即覺清明，遂日服之，數月能扶策而起，無何則又能捨策而步矣。經云：邪之所湊，其氣必虛。吾治其虛，不理其邪，而邪自去，吾所以獲全也，余曰有是哉，使進順氣疏風之藥不輟者，墓木拱矣。然此猶拘於成方，不能因病而變通，隨時而消息，故奏功稍遲，使吾為之，當不止是也。姑書之以俟明者採焉。</p>

<h2>痰</h2>
<p>人身無痰，痰者津液所聚也。五穀入於胃也，其糟粕、津液、宗氣，分為三隧，故氣積於胸中，出於喉嚨，以貫心肺而行呼吸焉。榮氣者泌其津液，注之於脈，化以為血，以榮四末，內注五臟六腑，以應刻數焉。衛氣者出其悍氣之慓疾，而先行於四末分肉皮膚之間而不休者也，晝行於陽，夜行於陰，常從足少陰之分間，行於五臟六腑，實則行，虛則聚，聚則為痰，散則還為津液氣血，初非經絡臟腑之中，別有邪氣穢物，號稱曰痰，以為身害，必去之而後已者也。余幼而喜唾痰，愈唾愈多，已而戒之，每喉間梗梗不可耐，輒呷白湯數口，咯出口中，用舌攪研令碎，因而漱之，百餘次津液滿口，即隨鼻中吸氣嚥下，以意送至丹田，默存少頃，咽間清泰矣。如未清即再漱再咽，以化盡為度。方咯出時，其味甚咸，漱久則甘，世人乃謂淤濁之物，無澄而復清之理，何其謬哉。吾嘗渡河矣，見舟人掬濁流而入之甕，摻入礬末數分，即時澄清，此可以悟治痰之法也。故上焦宗氣不足，則痰聚胸膈，喉間梗梗，鼻息氣短；中焦營氣不足，則血液為痰，或壅脈道，變幻不常；下焦衛氣不足，則勢不悍痰，液隨而滯四末分肉之間，麻木壅腫。治其本則補之宜先，先其標則化之有法，略露端倪，以需穎者之自悟云。如稠而不清，宜用澄之之法，散而不收，宜用攝之之法，下虛上溢，宜用復之之法，上壅下塞，宜用墜之之法。何謂澄之之法？如白礬有卻水之性，既能澄濁流，豈不足以清痰乎，然猶不可多用。至於杏仁亦能澄清，而濟水之性清勁，能穴地伏流，煮而為膠，最能引痰下膈，體此用之，所謂澄之之法也。何謂攝之之法？如大腸暴泄脫氣，及小便頻數者，益智仁一味，遂能收功，蓋有安三焦，調諸氣，攝涎唾而固滑脫之妙。故醫方每以治多唾者，專取其辛而能攝，非但溫胃寒而已，所謂攝之之法也。何謂復之之法？腎間真氣不能上升，則水火不交，水火不交，則氣不通，而津液不注於腎，敗濁而為痰，故用八味丸，地黃、山藥、山茱萸以補腎精，茯苓、澤瀉以利水道，肉桂、附子以潤腎燥。肉桂、附子熱燥之藥，何以能潤，曰：經不云乎，腎惡燥，急食辛以潤之，開腠理，致津液，通氣道，所謂復之之法也。何謂墜之之法？如痰涎聚於咽膈之間，為嗽為喘，為膈為噎，為眩為暈，大便或時秘而不通，宜用養正丹、靈砂丹重劑以引而下之，使不相併，所謂墜之之法也。至於寒者熱之，熱者寒之，微者送之，甚者從之，堅者削之，客者除之，勞者溫之，結者散之，留者行之，濕者燥之，燥者濡之，急者緩之，損者益之，逸者行之，驚者平之，薄之卻之，開之發之，見於《素問·至真要大論》者，應變不窮，尤為治痰之要法，在圓機之士，熟察而妙用之，不可一途而取也。若乃虛症有痰，勿理其痰，但治其虛，虛者既復，則氣血健暢，津液通流，何痰之有。今人乃謂補藥能滯氣而生痰，此聾聵之言，流害無窮矣。丹陽賀魯庵，年七十餘，膈間有痰，不快飲食，初無大害，就醫京口，投以越鞠丸、清氣化痰丸，胸次稍寬，日日吞之遂不輟口，年餘困頓不堪，僦舟來訪，問脈於余。則大肉已脫，二手脈如遊絲，太谿絕不至矣。見余有難色，因曰：吾亦自分必死，但膈間脹滿太甚，大便秘結不通，殊以為苦，但得稍寬，即瞑目無憾也。因強余疏方，以至親難辭教，用人參、白朮之類，大劑進之，少頃如廁，下積痰升餘，胸膈寬舒，更數日而死。夫二丸乃時師常用之藥，本欲舒郁，適增其痞，本欲清痰，反速其斃，豈不悖哉。明效若斯，而病家與醫，了無幡然悔悟懲創之色，豈宿業已深，大命垂絕，故天塞其哀，而使之決不可返也耶！不然，何不論於理，而甘就屠戮者之眾也。</p>

<h2>頭痛</h2>
<p>東垣云：高巔之上，惟風可到。故味之薄者，陰中之陽，自地昇天者也。所以頭痛皆用風藥治之，總其大體而言之也。然患痛人，血必不活，而風藥最能燥血，故有愈治而愈甚者，此其要尤在養血，不可不審也。一人寒月往返燕京，感受風寒，遂得頭痛，數月不愈。一切頭風藥無所不服，厥痛愈甚，肢體羸瘦，扶策踵門，求余方藥。余思此症明是外邪，緣何解散不效，語不云乎。治風先治血，血活風自滅，本因血虛而風寒入之，今又疏泄不已，烏乎！能愈也。又聞之痛則不通，通則不痛，故用當歸生血活血，用木通通利關竅血脈，而行當歸之力。問渠能酒乎，曰：能而且多，近為醫戒之，不敢飲。因令用斗酒，入二藥其中，浸三晝夜，重湯煮熟，乘熱飲之，至醉則去枕而臥，臥起其痛如失。所以用酒者，欲二藥之氣上升於頭也。至醉乃臥者，醉則浹肌膚，淪骨髓，藥力方到。臥則血有所歸，其神安也。有志活人者，推此用之，思過半矣。然有火鬱於上而痛者，經云：火淫所勝，民病頭痛。治以寒劑，宜酒芩、石膏之類治之。又不可泥於此法也。又有一方，用當歸、川芎、連翹、熟地各二錢，水煎六分，去渣，以龍腦薄荷二錢置碗底，將藥乘沸衝下，鼻吸其氣，俟溫即服，服即安臥，其效甚速。然亦為血虛者設耳。</p>

<h2>補精忌涼</h2>
<p>補精之藥，固忌溫熱，然以天道驗之，時非溫熱，則地氣不能升而為云，天氣不能降而為雨。人身之道，何莫異斯，然則腎雖寒補，實資溫助，故昔人以蓯蓉、巴戟、故紙、茴香之類，發揚腎氣，使陰陽交蒸而生精。知此理也，自丹溪出而黃柏、知母為補腎之藥，誤人多矣。夫黃柏、知母雖稟北方寒水之氣而生，然其性降而不升，殺而不生，暫用其寒，可以益水，久服其苦，反能助火，經不云乎，久而增氣，物化之常也，氣增而久，夭之由也。</p>

<h2>渴由血虛</h2>
<p>治渴必須益血，蓋血即津液所化，津液既少，其血必虛，故須益血。凡吐血之後，多能發渴，益知渴病生於血虛也。</p>

<h2>脾虛補腎</h2>
<p>今人只知脾胃虛則當補，補之不應則補其母，如是足矣，而不知更有妙處，補腎是也，脾土克腎水，不相為用，如何反補其所勝以滋肝木，曰：不然，此其妙正在相剋處也。五行以相剋為用，所以《尚書·大禹謨》說個水火金木土谷，惟修此聖人立言之妙，其說甚長，今且以水與土言之，水不得土，何處發生，何處安著，土不得水，卻是一個燥岔物事，如何生出萬物來。水土相滋，動植化生，此造化相剋之妙。而醫家所以謂脾為太陰濕土，濕之一字，分明土全賴水為用也，故曰補脾必先補腎。至於腎精不足，則又須補之以味，古人以謂補腎不若補脾，二言各有妙理，不可偏廢也。</p>

<h2>口糜</h2>
<p>經云：膀胱移熱於小腸，膈腸不便，上為口糜。宜以清涼之劑利小便，易老用五苓散、導赤散相合，服之神效。又云：少陽之復，火氣內發，上為口糜，則又當用苦寒之劑也。如二法不效，則宜加炮乾薑之類反佐之。</p>

<h2>身重宜補</h2>
<p>身重之症，時師止知燥濕，而不知補虛，《素問·示眾容論》篇歷言肝虛腎脾虛，皆令人體重煩冤，足知身重乃虛症也。宜用補中益氣湯、加減八味丸消息與之。</p>

<h2>五積</h2>
<p>治積之法，理氣為先，氣既升降，津液流暢，積聚何由而生。丹溪乃謂氣無形而不能作塊成聚，只以消痰破血為主，誤矣。天地間有形之物，每自無中生，何止積聚也。戴復庵以一味大七氣湯治一切積聚，知此道歟。肝積肥氣，用前湯煎熱待冷，卻以鐵器燒通紅，以藥淋之，乘熱服。肺積息賁，用前湯加桑白皮、半夏、杏仁各半錢。心積伏梁。用前湯加石菖蒲、半夏各半錢。脾積痞氣，用前湯下紅圓子。腎積奔豚，用前湯倍桂，加茴香、炒楝子肉各半錢。</p>

<h2>陰維病</h2>
<p>《難經》云：陰維為病，苦心痛。陰維行諸陰而主榮，榮為血，血屬心，故苦心痛也。潔古云：其治在足少陽三陰交，仲景太陰證則理中湯，少陰證則四逆湯，厥陰證則當歸四逆吳茱萸湯。</p>

<h2>氣疾求腎</h2>
<p>今人治一切氣疾，止知求之脾肺，而不知求之腎，所以鮮效。夫腎間動氣，為五臟六腑之本，十二經脈之根，呼吸之門，三焦之原，房勞過度，或稟受素弱，腎經不足，氣無管束，遂多鬱滯，是生諸疾，醫者以為是當理氣，枳、樸、烏藥、香附之類，集然前陳，而氣愈不可理矣。宣之泄之，以快藥下之，而人之死者已過半矣。於是醫之識見稍高者，以為脾虛不能運化精微之故，而眾事於補，然僅可以苟延歲月，而多至於因循蹉跎而不可救，此不知補腎之過也。凡氣藥內須兼用和血之藥佐之，蓋未有氣滯而血能和者，血不和則氣益滯矣。</p>

<h2>小便不利</h2>
<p>膀胱者，州都之官，津液藏焉，氣化則能出矣。何謂氣化，津液乃氣所化也。「經脈別論」云：飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。益譬之蒸物然，陽氣上薰，金甑遂為津而下滴，此脾氣熏蒸肺葉，所以遂能調水道而輸膀胱也。故小便不通之症，審系氣虛而水涸者，利之益甚，須以大劑人參，少佐升麻煎湯飲之。陽升陰降，是地氣上為云，天氣下為雨也，自然通利矣。丹溪嘗治一人傷寒，得汗熱退後脈尚洪，此洪脈作虛脈論，與人參、黃耆、白朮、炙甘草、當歸、芍藥、陳皮，數日其脈仍大，又小便不通，小腹下妨悶，頗為所苦，但仰臥則點滴而出，曰補藥服之未至，前藥內倍加黃耆、人參，大劑與服二日，小便方利。</p>

<h2>大便不通</h2>
<p>「金匱真言論」云：北方黑色，入通於腎，開竅於二陰。故腎陰虛則大小便難，宜以地黃、蓯蓉、車前、茯苓之屬，補真陰，利水道，少佐辛藥，開腠理，致津液而潤其燥，施之於老人尤宜。若大小便燥結之甚，求通不得，登廁用力太過，便仍不通，而氣被掙脫下注，肛門有時泄出清水，而裡急後重不可忍者，胸膈間梗梗作惡，乾嘔有聲，渴而索水，飲食不進，呻吟不絕，欲利之，則氣已下脫，命在須臾，再下即絕，欲固之，則溺與燥矢膨滿腹腸間，恐反增劇，欲升之，使氣自舉而穢物不為氣所結，自然通利，則嘔惡不堪，宜如何外。家姑年八十餘，嘗得此患，余惟用調氣利小便之藥，雖小獲效而不收全功，常慰之，令勿急性，後因不能忍，遽索末藥，利下數行，不以告余，自謂稍快矣。而脈忽數動一止，氣息奄奄，頹然床辱，余知真氣已泄，若不收攝，恐遂無救。急以生脈藥投之，數劑後結脈始退，因合益血潤腸丸與服，勸以勿求速效，勿服他藥，久之自有奇功。如言調理二閱月餘，而二便通調，四肢康勝如平時矣。向使圖目前之快，蔑探本之明，寧免於悔哉，便秘自是老人常事，蓋氣固而不泄，故能壽考，而一時難堪，輒躁擾而致疾，若求通潤之方，非益血而滋腎，烏乎可也。丸方雖為家姑設，而可以通行天下，故表而出之，以為孝子養親，仁人安老之一助云。</p>
<p><u>益血潤腸丸</u></p>
<p>熟地黃（六兩）　杏仁（炒，去皮尖）　枳殼（麩炒黃色）　麻仁（揀去殼令淨，殼反澀大便也。各三兩，已上三味俱杵膏）　橘紅（二兩五錢）　阿膠（炒）　肉蓯蓉（酥烹透，烘乾，一兩五錢）　蘇子（炒）　鎖陽（酥煮）　荊芥（各一兩）　末之，以前三味膏同杵千餘下，仍加煉蜜，丸如桐子大，每服五六十丸，空心白湯送下。</p>

<h2>腦病</h2>
<p>腦者髓之海也，髓不足則腦為之痛，宜茸珠丹之類治之，若用風藥，久之必死。</p>

<h2>淋濁</h2>
<p>外兄賀晉卿，因有不如意事，又當勞役之後，忽小腹急痛欲溺，溺中有白物如膿，並血而下，莖中急痛不可忍，正如滯下後重之狀，日數十行，更數醫不效，問方於余。余作汙血治，令以牛膝四兩，去蘆，酒浸一宿，長流水十二碗，煎至八碗，再入桃仁一兩去皮，炒紅花二錢五分，當歸梢一兩酒洗，赤芍藥一兩五錢，木通一兩，生甘草梢二錢五分，苧麻根二莖，同煎至二碗，去渣，入琥珀末二錢，麝香少許，分作四服，一日夜飲盡，勢減大半。按《素問·奇病論》云：病有癃者，一日數十溲，此不足也。今瘀血雖散，宜用地黃丸加菟絲、杜仲、益智仁、川牛膝之屬，補腎陰之不足，以杜復至。因循未及修治，遂不得全愈，或閉或一夜數十起，溺孔痛甚，竟服前丸及以補腎之藥入煎劑，調理而安。從兄爾祝得淋疾，日數十溲，略帶黃，服五苓散稍愈，因腹中未快，多服利藥，三五日後忽見血星，醫以八正散治之不應，索方於余。詢知其便後時有物如膿，小勞即發，診得六脈俱沉細，左尤甚，此中氣不足也。便後膿血，精內敗也。經云：中氣不足，則溲便為之變。宜補中益氣湯，加順氣之藥，以滋其陽；六味地黃丸疏內敗之精，以補其陰，更加五味子斂耗散，牛膝通血脈，終劑而安。此余初學醫時所錄，以用藥頗中肯綮，故存之。</p>

<h2>小便黃赤</h2>
<p>小便黃赤，有寒熱虛實之別。《素問》云：諸病水液渾濁，皆屬於熱。宜黃柏、知母之類治之，此熱症也。《脈經》云：尺澀足脛逆冷，小便赤。宜服附子四逆湯，此寒症也。又云：胃足陽明之脈盛，則身已前皆熱，其有餘於胃，則消穀善飢，溺色黃，宜降胃火。又云：肝熱病者，小便先黃，宜降肝火，此實症也。又云：肺手太陰之脈，氣虛則肩背寒痛，少氣不足以息，溺色變，宜補中益氣湯之類，以補肺氣。又云：冬脈者腎脈也，冬脈不及，則令人䏚清脊痛，小便變，宜地黃丸之類，以助腎脈，此虛症也。</p>

<h2>遺尿</h2>
<p>小便遺失，責在肺而不在腎，蓋肺者腎之上源，又其母也，上源治則下流約矣。《甲乙經》云：肺脈不及，則少氣不足以息卒遺失無度，故東垣謂宜安臥養氣，禁勞役，以黃耆、人參之類補之，不愈，當責有熱，加黃柏、生地。</p>

<h2>疝有補法</h2>
<p>朱丹溪於此道中，甚有發明，而臨病處方，又多以扶植元氣為主，孰意人遭厄運，其手書皆不傳，而傳於世者，皆為盲夫俗子，裁剪增續，疵謬實多。《纂要》一書，其行尤盛，凡丹溪長處，皆為刪去，甚可恨也。即如疝症一門，首載云，專主肝經，與腎經絕無相干，而不知世所患，由腎虛而致者甚多，肝乃腎之子，而前陰腎之竅也，欲補其肝，能無顧其母乎。而世俗執肝無補法之論，逢一疝症，輒謂肝實，過用克伐，死者多矣。今《纂要》中全不載一補法，時師既無自悟之明，又無他書足考，焉得而不誤也。按丹溪云：疝有挾虛而發者，其脈不甚沉緊，而大豁無力者是也，當以參、術為君，疏導藥佐之，何嘗無補法哉！張仲景治寒疝腹中痛，及脅痛裡急者，當歸生薑羊肉湯主之。《本草衍義》稱其無不應驗，豈非補肝之效乎！余每治病甚，氣上衝心危急者，以八味丸投之立應，又補腎之一驗也。又大便不通者，當利大便，如許叔微、羅謙甫皆用芫花是己；小便不通者，當利小便，如許叔微治宋荀甫以五苓散是已。今如《纂要》言不幹腎經，則五苓不當用，又言疝不可下，則芫花不當用，而所列者惟數種破氣之藥，苦辛雜收，寒熱無別，既不能補肝腎之真陰，又不能通利二竅，使邪有所泄，而徒耗其氣於冥冥之中，且日趨於危而不覺也，豈不悖哉！</p>

<h2>潰瘍</h2>
<p>一人生附骨疽，膿熟不能泄，潰而入腹，精神昏憒，粥藥不入，醫無所措手，延余治。余診之脈細如蛛絲，氣息奄奄欲絕，余曰：無傷也，可以鈹針刺其腹，膿大泄，然昏清稀泄，時若蟹吐沫。在法為透膜不治，或訊余。余又曰：無傷也，可治，參、耆、附子加厥陰行經之藥，大劑飲之，為制八味丸，丸成服之。食大進，日啖飯升餘，肉數臠，旬日而平，所以知可治者。潰瘍之脈洪實者死，徐細者生，今脈微細，形病相合，知其受補，故云可治也。所以刺其腹者，膿不泄有內攻之患，且按之而知其創深，即刺之無苦也。所以信其不透膜，即透膜無損者，無惡候也。所以服八味丸者，八味丸補腎，氣旺而上升，則胃口開而納食，故食大進也。泄膿既多，刀圭之藥，其何能濟，遷延遲久，且有他患，故進開胃之藥，使多食粱肉以補之，肌乃速生。此治潰瘍之要法也。</p>

<h2>青霞散方</h2>
<p>隆慶庚午，余自秋闈歸，則亡妹已病，蓋自七月病乳腫不散，八月用火針取膿，醫以十全大補湯與之，外敷鐵箍散不效，反加喘悶，九月產一女，潰勢益大，兩乳爛盡，延及胸腋，膿水稠黏，出膿幾六七升，略無斂勢，十一月始歸就醫。改用解毒和中平劑，外摻生肌散，龍骨、寒水石等劑，膿出不止，流濺所及，即腫泡潰膿，二旁紫黑，瘡口十數，胸前腋下，皆腫潰不可動側，其勢可畏，余謂產後毒氣乘虛而熾，宜多服黃耆，解毒補血，益氣生肌，而醫不敢用，十二月中旬後益甚，瘡口廿餘。諸藥盡試不效，始改用余藥。時膿穢黏滯，煎楮葉豬蹄湯沃之頓爽，乃制一方，名黃耆托裡湯，黃耆之甘溫以排膿益氣生肌為君，甘草補胃氣解毒，當歸身和血生血為臣，升麻、葛根、漏蘆為足陽明本經藥，及連翹、防風皆散結疏經，瓜蔞仁、黍黏子解毒去腫，皂角刺引至潰處，白芷入陽明敗膿長肌，又用川芎三分及肉桂炒柏為引用，每劑入酒一盞，煎送白玉霜丸，疏膿解毒。時膿水稠黏，方盛未已，不可遽用收澀之藥，理宜追之，乃制青霞散外摻，明日膿水頓稀，痛定穢解，始有向安之勢，至辛未新正，患處皆生新肉，有紫腫處，俱用蔥慰法，隨手消散，但近腋足少陽分，尚未斂，乃加柴胡一錢，青皮三分，及倍川芎，膿水將淨者，即用搜膿散摻之，元宵後遂全安。（白玉霜丸乃明礬末、雞子清為丸，每服一錢。）凡治癰疽，須審經絡部分，今所患正在足陽明之分，少侵足少陽經分，俗醫不復省別，一概用藥，藥無嚮導，終歸罔功，甚可嘆也！近有患之劇甚，如亡妹所苦者，一庠友就余求方，余以冗未及應，諸瘍醫拱手以待其斃，余甚傷焉，議且刊布其方，不忍自秘也。隆慶辛未九日記。</p>
<p><u>青霞散</u></p>
<p>治癰疽潰爛，膿多不斂，先用楮葉豬蹄湯洗過，以此敷之。</p>
<p>青黛（二錢）　乳香（一錢五分）　沒藥（一錢五分）　韶粉（一錢）　海螵蛸（一錢五分）　枯礬（一錢）　白蘞（一錢）　寒水石（一錢）　冰片（三分）　紅粉霜（一錢。各另研極細和勻，再研入）　杏仁（去皮尖，廿四個）　有死肉加白丁香（五分）　大癰疽爛疽甚腐多加銅綠（一錢五分）</p>
<p>此方專治潰瘍，因血熱肉腐，化而為膿，故用青黛涼血解毒，而使肉無腐為君，乳香、沒藥之活血止痛而消腫為臣，寒水石之寒而佐青黛以涼血，使肉不腐，枯礬之收澀排膿而追毒，韶粉、海螵蛸之收濕止膿汁之多而不燥，粉霜之拔毒，白蘞之斂創，冰片之透肌以為佐使，諸藥多燥，又假杏仁之油以潤之。此制方之意也。</p>

<h1>卷下</h1>

<h2>發熱</h2>
<p>發熱所因不同，當以兼症別之。外感風寒，必兼頭痛，項脊強等症；內傷飲食，必兼頭痛、吞酸噯腐等症。無諸兼症而發熱不止者，此必勞倦之後，或用心過度，而心火散溢於外故也，誤用汗下涼解之法不止，必死，最宜審之。今錄一二事於下，以為醫鑑。外兄虞文華病發熱，一醫審無身痛等症，知非外感，用平胃散加人參五分，投之而熱愈甚；又一醫至，診之曰，此人參之過也，亟汗之，汗而不解；又一醫至，診之曰，邪入里矣，急治涼膈散下之，煎成欲服，而余適至急止之。診得六脈皆洪大搏指，舉按有力，則笑而語之曰，此醫之所以誤也，用茯苓補心湯，加人參六錢，麥門冬三錢，酸棗仁一錢五分，投之，時不臥九日矣，服藥即大鼾，良久而蘇，病已退，診之脈頓微弱，余為治方，每用人參四錢，他皆酸棗仁、茯神、歸、朮、黃耆、麥門冬、川芎之類，令其多服勿輟，遂別去。數日以小便不利來扣余，令間服藥導赤散，明日熱復作，舌黑如墨，復延余診，脈復洪大如囊時，扣之，始知連日所服藥，皆減參三分之二，而導赤散中，一醫又加天花粉、芩、梔等藥，故病復作也。亟令用人參六錢，合前諸藥大劑投之，舌色始淡，熱始除，小便亦遂清利，愈後康健逾平時。使進涼膈之劑，逝久矣，藥可妄投哉！今人不解此理，至謂人參能助火發熱謬也。昔人謂甘能除大熱，蓋熱為心火，而心以咸補，以甘瀉，又甘能補血，血生則火有所依，甘能緩中，中緩則火不至妄行而自斂。況人參性能安神明，為手少陰經之正藥，固宜其清心降火，若此之神且速也。</p>

<h2>脅痛</h2>
<p>雲中秦文掌教平湖，與家兄同官，因勞患二脅滿痛，清晨並飢時尤甚，以書介家兄來求方。余知其肝虛，當子母兼補，令用黃耆、白朮、當歸、熟地、川芎、山茱萸、山藥、酸棗仁、柏子仁之類，仍用防風、細辛各少許，薑、棗煎服，仍囑家兄曰，勿示他醫，將大笑，恐口不得合也。無何而秦君書來謝云，服之不數劑而愈矣，客長安時，聞魏昆溟吏部之變，因投謁，忍飢歸而脅痛，無他苦也，而粗工以青皮、枳殼之類雜投之，遂至不起，籲可不鑑哉。</p>

<h2>白淫</h2>
<p>古方治白淫，皆用收澀溫補之劑，而時師株守丹溪書，概作濕熱處治，投黃柏、知母、豬苓、澤瀉之類，不復通變，腎無瀉法，利之不已，其害大矣。余尋常治此疾，純用人參、白朮、茯神、麥門冬、酸棗仁、益智仁之類，無不應者。新安汪機嘗治溲精，以人參為君，自一錢加至五錢，其病乃脫，知此理也。余家藏丹溪書，有云赤白濁即《靈樞》所謂中氣不足，溲便為之變是也。先須補中氣，使升舉之，而後分其臟腑氣血，赤白虛實以治，與夫其他邪熱所傷者，固在瀉熱補虛，設腎氣虛甚，或火亢熱極者，則不宜峻用寒涼之劑，必以反佐治之，要在權衡輕重而已。按此皆活法要語，率為纂集者刪去，而止存濕熱一條，流禍無窮，豈不痛哉。又丹溪高弟戴原禮云，如白濁甚，下澱如泥，稠黏如膠，頻逆而澀痛異常，此非熱淋，乃是精濁窒塞竅道而結，宜五苓妙香散，吞八味丸。嘗聞識者云，傷精白濁，須肉蓯蓉治之。又云：用大烏梅六枚，雄黃三分，研細同杵勻，丸如菜豆大，分三服，以烏梅湯咽之效。</p>

<h2>治法有五</h2>
<p>治病之法有五：曰和，曰取，曰從，曰折，曰屬。王太僕云：假如小寒之氣，溫以和之，大寒之氣，熱以取之，甚寒之氣，則下奪之，奪之不已，則逆折之，折之不盡，則求其屬以衰之。小熱之氣，涼以和之，大熱之氣，寒以取之，甚熱之氣，則汗發之，發之不已，則逆制之，制之不盡，則求其屬以衰之。今人不復辨此矣，惟滯下用下藥，猶存通因通用之意，而粗工習焉不察也。近代薛立齋善用塞因塞用法，遂大破丹溪舊套，以名於時，若求屬之法，則舉世迷焉，常熟嚴養翁相公春秋高而求助於厚味補藥，以致胃火久而益熾，服清胃散不效，如山梔、石膏、芩、連而益甚，以為涼之非也，疑其當補，聞余善用人參，因延余診而決之。才及門，則口中穢氣達於四室，向之欲噦，余謂此正清胃散症也，獨其熱甚，當用從治，而既失之，今且欲從而不可矣，當求其屬以衰之，用天門冬、麥門冬、生地黃、熟地黃、石斛、犀角、升麻、蘭香之類，大劑投之，數日而臭已止矣。經云：諸病寒之而熱者，取之陰，所謂求其屬也。火衰於戌，故峻補其陰而熱自已，後因不屏肉食，胃火復作，大便不利，目翳耳鳴，不能自忍，雜進涼劑，時或利之，遂至不起。嗟乎！苟知其熱，則涼之而已矣，則塗之人而皆可為盧扁，何事醫乎！</p>

<h2>目翳</h2>
<p>萬曆癸酉春，余與家兄應督學試，從宜興歸，則從子懋錕痘後，二目生翳，羞明特甚，窗牖幃幕，皆以衣被重重覆蔽，就明展二眼視之，則白膜已遍覆黑睛，淚如湧泉，嬰科、眼科，投藥不效，束手告技窮矣。余素不嫺於嬰科，莫知為計，家兄曰，女弟垂死之症，弟能生之，豈遂窮技。於是試精思之，余返書室，閉戶而思，目者清陽之所走也，而忽焉有翳膜，是濁陰犯之也，濁陰烏敢與陽光敵，故羞明特甚，吾得治法矣。乃以黃耆助清陽之氣為君，生地、當歸養目中真血為臣，羌活、獨活、防風、白芷、川芎、甘菊花、薄荷、荊芥升清陽，黃芩、豬膽汁、車前子、茯苓降濁陰為佐，仍間服瀉青丸，八劑而目開，徹幃幕，翳已去矣。時眼科所進點洗之藥，一切屏不用，止用橄欖核磨汁敷上脾而已。蓋嬰幼柔胞，點洗之藥，必有所傷故也。</p>

<h2>腹脹</h2>
<p>腹脹多是氣虛不斂，用辛散之藥反甚，宜以酸收之，芍藥、五味子之屬，少佐益智仁，以其能收攝三焦之氣也。朝寬暮急，用當歸為主，暮寬朝急用人參為主，朝暮俱急，二味並用。按之有痛處，乃瘀血也，加行血藥。經云：濁氣在上，則生牴脹，又云：下之則脹已，謂宜用沉降之藥，引濁氣之在上者而下之，非通利六腑之謂也。凡腫脹初起，痰多發喘，小便不利者，服濟生腎氣丸，無不效。</p>

<h2>口糜用乾薑</h2>
<p>邑侯許少薇患口糜，余謂非乾薑不能愈，公猶疑之，後竟從余言而愈。從子懋鋙亦患此，勢甚危急，熱甚惟欲飲冷，余令用人參、白朮、乾薑各二錢，茯苓、甘草各一錢，煎成冷服，日數服乃已。噫！此詎可與拘方者道也。</p>

<h2>陽病見陰脈</h2>
<p>余云衢太史，形氣充壯，飲啖兼人，辛卯季夏六月患熱病，肢體不甚熱，而間揚擲手足如躁擾狀，昏憒不知人事，時發一二語，不可了而非譫也，脈微細如欲絕，有謂是陰症，宜溫者，有謂當下者。時座師陸葵日先生與曾植齋、馮琢庵二太史皆取決於余，余謂是陽病見陰脈，在法為不治，然素稟如此，又值酷暑外爍，酒炙內炎，宜狂熱如焚，脈洪數有力，而此何為者，豈熱氣怫鬱不得伸而然耶！且不大便七日矣，姑以大柴胡湯下之。時大黃止用二錢，又熟煎，而太醫王電庵力爭，以為太少，不若用大承氣。余曰：如此脈症，豈宜峻下，待大柴胡不應，而後用調胃承氣，調胃承氣不應，而後用小承氣，以及大承氣，未晚也。已服藥大便即行，脈已出，手足溫矣。余謂電庵曰：設用大承氣，能免噬臍之悔哉。繼以黃連解毒湯數服而平。七月初遂與陸先生同典試南京，不復發矣。明年餘請告歸里，偶得劉河間《傷寒直格》讀之，中有云：蓄熱內甚，脈須疾數，以其極熱蓄甚，而脈道不利，反致脈沉細而欲絕。俗未明造化之理，反謂傳為寒極陰毒者，或始得之陽熱暴甚，而便有此證候者，或二感熱甚者。通宜解毒加大承氣湯下之，下後熱稍退而未愈者，黃連解毒湯調之，或微熱未除者，涼膈散調之。或失下熱極，以至身冷脈微而昏冒將死，若急下之，則殘陰暴絕而死。蓋陽氣後竭而然也，不下亦死。宜涼膈散或黃連解毒湯養陰退陽，積熱漸以宣散，則心胸轉暖，脈漸以生。然後撫卷而嘆曰：古人先得我心矣。余太史所患正失下熱極，以至身冷脈微，而昏冒欲絕者也，下與不下，大下與微下，死生在呼吸，間不容髮。嗚呼！可不慎哉，宜表而出之，以為世鑑。</p>

<h2>相火</h2>
<p>問：相火人皆能言之，而迄無定見，有謂心包絡、三焦為相火者，有謂右腎命門為相火者。夫腎陰也，右亦陰也，腎居右，陰之陰也。而以為火何哉？若以為心包絡、三焦，則包絡之位在上焦，三焦分布上中下，而何乃皆診於右尺也？答：相火專以心包絡得名，謂真心君主之官不用事，而包絡代之以行事，猶相也，治膻中，在玉堂下一寸六分，猶岩廊焉，三焦為之府，其位在寅，火所生也，而胎於子，腎之位也，一也。心系有二，一則上與肺連，一則自心入肺，二大葉間，曲折向後，並脊裡細絡相連，貫脊體，與腎相通，正當七節之間，所謂七節之傍，中有小心者也，二也。自乾坤交而六子行，則六子以所交之爻，或用互藏其宅，或用互為其根，而坎離獨得所交之中者以為用，故離火內陰而外陽，心藏屬之，坎水內陽而外陰，腎藏屬之。於是居於上下子午君火對化之位體，天地生成變化之元始，故坎中之陽，於子半以後而一陽生，分陰而出，至卯而平，至午而極，午半以後而一陰生，含陽而入，至酉而平，至子而極，靜極復動，而一陽復生。夫如是循環無端者，不唯應於歲月晝夜而已，其在呼吸之間亦然，《難經》所云，命門藏精系胞者，乃指相火輔於子位，對化君火之用在於此，猶輔午位君火之在膻中也，三也。問：坎中之陽動，何乃獨偏於右耶？答：經雲水火者陰陽之徵兆也，陰陽者天地之道，神明之府，血氣男女萬物之終始也，左右者陰陽之道路也。坎中之陽偏於右者，陰陽所行之道路固然耳。如上所用者，左升右旋，流行之路也。命門從右者五體生成，形質之道也，本左陽而右陰，氣陽而血陰，坎中之陽，火也氣也，坎體之陰，水也血也，腎坎居下焦，地道也，萬物皆生於地，長於地，故坎中之陽火，互從右之陰而上行，生脾土，脾土生肺金，坎體之陰水，互從左之陽而上行，生肝木，肝生心火，心肺居上焦，天道也。地氣生，至於天，其動已極，極則復靜，則天氣下降，故離體之陽，退入於地，專居右之陰部以藏精。離中之陰從肺降入於地，專居左之陽部以生水，地因夫天氣，所入施化之德，靜極復動，動則還復以相生也。於是居左心肝之陽臟，主司血，居右肺脾之陰臟，主司氣者，皆本地道互合陰陽而致之也。夫聖人論陰陽，有離有合，《內經》以腎為一臟者，用合體之坎而言也，以水火氣血各有其路而行者，用離體之坎而言也。此浦江趙以德之說也，明乎此，可以無疑於右腎之為相火矣。</p>

<h2>天有二火</h2>
<p>問：「天元紀大論」云：寒暑燥濕風火，天之陰陽也，三陰三陽上奉之，木火土金水，地之陰陽也，生長化收藏下應之，暑亦火也，何火獨有二乎？答：君主不用事，相代之，故火有二也，固也，當看陰陽二字，陽燧對日而得火，天之陽火也，龍雷之火，天之陰火也，鑽木擊石而得火也，地之陽火也，石油之火，地之陰火也。丙丁君火，人之陽火也，三焦、心包絡、命門相火，人之陰火也。陽火遇草而煤，得木而燔，可以濕伏，可以水滅；陰火不焚草木，而流金石，得濕愈焰，遇水益熾，以水折之，則光焰詣天，物窮方止，以火遂之，以灰撲之，則灼性自消，光焰自滅。故治陽火者，利用正治，陰火者利用從治，陽火者利用降治，陰火者利用升治，均之內虛火動也。李東垣主助陽，朱丹溪主助陰，各有攸當也。</p>

<h2>相火君火</h2>
<p>問：今虛損發熱者，皆言相火乘陰虛而動，至於補中益氣證，則未聞言相火也，如前所云，則勞倦所動乃相火，而虛所動乃君火乎？答：勞倦所傷之為相火，東垣明言之矣，曰脾胃氣衰，元氣不足，而心火獨盛，心火者陰火也，起於下焦，其繫系於心，心不主令，相火代之，相火下焦包絡之火，元氣之賊也。火與元氣不二立，一勝則一負，脾胃氣虛則下流於腎，陰火得以乘其土位，故氣高而喘，身熱而煩，其脈洪大而頭痛，或渴不止。然則以柴胡、升麻佐參、耆、歸、術，非特從陰位升出陽氣，行春生之令，乃是順其性而揚之，蓋治陰火之法也。若瘵之所損者精也，離中之一陰即坎也，坎中之一陽即離也，陽無體，以陰為體，陰虧則陽無所附，而不得不恣其炎上之性，以為嘔血、咳嗽、骨蒸之症矣，非質重味厚，陰中之陰者，安能固其陽根而斂之使返於宅乎！故地黃丸，所謂精不足者，補之以味也，補中益氣湯，所謂形不足者，溫之以氣也。問地黃丸藥耳，何為補之以味？曰：地黃之甘微苦，山藥之甘，山茱萸之酸，牡丹皮之苦辛，澤瀉之咸，茯苓之淡，以五味各入本臟用桂、附之辛開腠理，致津液，通氣道，輸而與之，非補之以味而何！何藥無氣，何藥無味，氣者天也，味者地也，溫熱者天之陽也，寒涼者天之陰也，陽則升，陰則降，辛甘者地之陽也，酸苦者地之陰也，陽則浮，陰則沉，有使氣者，有使味者，有氣味俱使者，有先使氣後使味者，有先使味後使氣者，不可不審者也。</p>

<h2>五味補瀉</h2>
<p>問：五味之補瀉五臟，其義何居？答：天地之氣不交，則造化幾乎息矣。故辛者散也，東方之氣散，宜辛而反酸，是震中有兌也。酸者斂也，西方之氣斂，宜酸而反辛，是兌中有震也。故酸入肝而補肺，辛入肺而補肝，是震兌互也。鹹入腎而補心，苦入心而補腎，是坎離互也。脾不主時，寄旺於四季，則守其本味而已矣。至其瀉也又不然，腎肝之各以本味為瀉，易知也，乃心脾獨異何耶，曰心君主官也，脾臟腑經絡之所從稟氣者也，故獨異也。君主之官，以所生之味為瀉，惡其泄氣也。脾納水穀，散精於臟腑，新新相因，故以生我之味為瀉，惡其休氣也，我王則生我者休故也。</p>

<h2>治肝補脾</h2>
<p>《金匱》首條問曰：上工治未病何也？師曰：夫治未病者，見肝之病，知肝傳脾，當先實脾，四季脾王不受邪，即勿補之。中工不曉相傳，見肝之病，不解實脾，唯治肝也。夫肝之病，補用酸，助用焦苦，益用甘味之藥調之。酸入肝，焦苦入心，甘入脾，脾能傷腎，腎氣微弱則水不行，水不行則心火氣盛。心火氣盛則傷肺，肺被傷則金氣不行，金氣不行則肝氣盛，故實脾則肝自愈，此治肝補脾之要妙也。肝虛則用此法，實則不在用之。經曰：實實虛虛，損不足，益有餘，是其義也。餘臟准此。上工治未病，不治已病，見《靈樞·逆順》篇。肝病實脾，乃七十七難之文，而仲景述之，補用酸云云，則仲景之辭也。嘗以問學者，不了其義，解《難經》者，亦復憒憒。若以肝病為肝虛，則何不補其腎母而補脾土，反生肺金以為之賊乎？若以肝病為肝實，則又與肝虛則用此法語相悖戾，且實又能傷腎，以致心火盛，金氣不行，而肝氣盛則肝病，何時已乎，此治肝補脾之要妙，乃起死回生之秘訣。而不熟讀《素》《難》，則仲景婆心，委之草莽而已。今不惜饒舌，博證而詳著之。《素問·玉機真藏論》曰：五臟相通，移皆有次，五臟有病，則各傳其所勝。不治，法三月若六月，若三日若六日，傳五臟而當死。又曰：風者百病之長也，今風寒客於人，使人毫毛畢直，皮膏閉而為熱，當是之時，可汗而發也。或痹不仁腫痛，當是之時，可湯熨及火灸刺而去之。弗治，病入舍於肺，名曰肺痹發咳上氣。弗治，肺即傳而行之肝，病名曰肝痹，一名曰厥，脅痛出食，當是之時，可按若刺耳。弗治，肝傳之脾，病名曰脾風，發癉，腹中熱，煩心出黃，當此之時，可按可藥可浴。弗治，脾傳之腎，病名曰疝瘕，少腹冤熱而痛，出白，一名曰蠱，當此之時，可按可藥。弗治，腎傳之心，病筋脈相引而急，病名曰瘛，當此之時，可灸可藥。弗治，滿十日，法當死。腎因傳之心，心即復反傳而行之肺，發寒熱，法當三歲死，此病之次也。然其卒發者，不必治於傳，或其傳化有不以次，不以次入者，憂恐悲喜怒，令不得以其次，故令人有大病矣。因而喜大虛則腎氣乘矣，怒則肝氣乘矣，悲則肺氣乘矣。恐則脾氣乘矣，憂則心氣乘矣，此其道也。故病有五，五五二十五變，及其傳化傳乘之名也。上風邪入表，蓋傳之緩者也。「標本病傳論」曰：夫病傳者，心病先心痛，一日而咳，（心火傳肺金。）三日脅支痛，（肺金傳肝木。）五日閉塞不通身痛體重，（肝木傳脾土。）三日不已，死，冬夜半，夏日中。肺病喘咳，三日而脅支滿痛，（肺金傳肝木。）一日身重體痛，（肝木傳脾土。）五日而脹，（傳胃。）十日不已，死，冬日入，夏日出。肝病頭目眩，脅支滿，三日體重身痛，（肝木傳脾土。）五日而脹，（傳胃。）三日腰脊少腹痛脛酸，（脾胃土傳腎水。）三日不已，死，冬日入，夏早食。脾病身痛體重，一日而脹，脾自傳胃。二日少腹腰脊痛脛酸，（脾土傳腎水。）三日背𦛗筋痛小便閉，（傳膀胱。）十日不已，死，冬人定，夏晏食。腎病少腹腰脊痛胻酸，三日背𦛗筋痛小便閉，（腎傳膀胱。）三日腹脹，（腎膀胱水傳小腸火。）三日兩脅支痛。（小腸傳心。）三日不已，死，冬大晨，夏晏晡。胃病脹滿，五日少腹腰脊痛胻酸，（胃土傳腎水。）三日背𦛗筋痛小便閉，（傳膀胱。）五日身體重，（膀胱水傳心火。）六日不已，死，冬夜半後，夏日昳。膀胱病小便閉，五日少腹脹腰脊胻酸，）膀胱自傳。）一日腹脹，（腎水傳小腸火。）二日身體痛，（小腸傳心。）二日不已，死，冬雞鳴，夏下哺。諸病以次相傳，如是者皆有死期，不可刺，間一臟止，及至三四臟者，乃可刺也。上《靈樞經》謂之大氣入臟，蓋傳之急者也。王太僕云：有緩傳者，有急傳者，緩者或一歲二歲三歲而死，其次或三月若六月而死，急者一日二日三日四日或五六日而死。樓全善云：王氏此言，甚能推廣經意，然不能驗日數者，但驗病之次傳，如心先病心痛，次傳於肺，或咳或喘，次傳於肝，或脅痛或頭眩，次傳於脾胃，或閉塞不通，或身痛體重，或脹或泄，次傳於腎、膀胱，或少腹腰脊痛脛酸，或背膂筋痛小便閉，如此者必死無疑，累驗有準。鄰人趙氏始病脅痛半載，次傳之脾，腹脹而死。又卜叔英嫂氏始肺病喘咳，次傳之肝，頭眩不寐，次傳之脾，腹脹而死。又楊白鹿師始脾病腹痛，次傳之膀胱，小便淋閉，次傳之心，胸痹痛，通身青脈而死，蓋心主血脈故也。五十三難曰：經言七傳者死，間臟者生，何謂也？然七傳者傳其所勝也，間藏者傳其子也。何以言之？假令心病傳於肺，肺傳於肝，肝傳於脾，脾傳於腎，腎傳於心，一臟不再傷，故言七傳者死也。間臟者傳其所生也。假令心病傳脾，脾傳肺，肺傳腎，腎傳肝，肝傳心，是母子自相傳，周而復始，如環之無端，故言生也。七傳者死，即《素》《靈》所言諸病以次相傳，皆有死期，不可刺者也。間臟者生，即《素》《靈》所言，間一臟及至三四臟，乃可刺者是也。然傳其所勝，不必皆歷七傳而後死，故樓全善以七字為次字之誤。「玉機真藏論」又云：五臟受氣於其所生，傳之於其所勝，氣舍於其所生，死於其所不勝，病之且死，必先傳行至其所不勝病乃死。此言氣之逆行也，故死。肝受氣於心，傳之於脾，氣舍於腎，至肺而死。心受氣於脾，傳之於肺，氣舍於肝，至腎而死。脾受氣於肺，傳之於腎，氣舍於心，至肝而死。肺受氣於腎，傳之於肝，氣舍於脾，至心而死。腎受氣於肝，傳之於心，氣舍於肺，至脾而死。此皆逆死也。一日一夜五分之，此所以占死生之早暮也。受氣謂受病氣也。通前觀之，乃知治肝補脾，正為大氣入臟立治法。故曰起死回生之秘訣也。邪正相為勝負，今正氣橫傾，邪氣伴衍，無與為敵，故曰大氣也。因正氣橫傾，故謂之虛，苟未至乎是，皆作實論也，故曰虛用此法，實不用也。本為實脾，使肝之邪不得傳於脾，卒之脾實而肝亦治，故歷推之。自脾能傷腎，以至於肝氣盛則肝自愈也。或曰，脾氣盛則水穀之氣盛，水穀之氣盛則五臟之精亦盛，而腎有所受而藏之。故曰補腎不如補脾，此何為言脾能傷腎乎！曰輕病緩治，可論一氣之相生，重病急治，唯論五行這相剋。孫兆，宋名醫也，虞部郎中汪奉老疾革，有子可升，當遺表奏蔭。召孫診之，孫以為不可治，可升曰：生且固難，如何可延三日，以待奏回。孫曰：郎中之患，肝氣將絕，脾土反勝，當後脾土大旺，肝氣乃絕，方今日辰巳間，當略瀉脾土，使不能勝肝，則木且未絕，三日後奏下，當日氣絕。若以一瀉相生之當論之，則瀉脾豈所以延生，亦豈所以扶肝乎，明者可以不言而悟也。曰病之初起，卒然而來，何以知其為大氣入臟，而用此法乎。曰以五診得之，諦視其邪正之分，數以定強弱勝負而知之。如肝病先從喘咳來，其為七傳，所不待言。若從心痛來，即防其傳脾，而預實之。緣五臟受氣於其所生，必傳之於其所勝故也。然則未至乎是者，當用何法乎？曰有正經自病，有五邪所傷，虛則補其母，實則瀉其子，東方實，西方虛，瀉南方，補北方，其法不一而足，經言之詳矣。</p>

<h2>麝臍</h2>
<p>藥市中唯麝臍易什而多偽，塵史言宜置諸懷中，以氣溫之，久而視之，手指按之柔軟者真也，堅實者偽也。歙人黃聖期為余言，嘗見有鬻麝臍人，華服浪遊多費，因規之曰，君之所業，勢在不豐，何過侈若是？其人曰：世之業藥，得子錢多無如某者，問其母錢，日以銀二銖易麝一銖，問其賣之直，曰亦以銀二銖，售麝一銖。然則何謂子錢耶？曰：吾以它物什之，而其香同，其色又同，雖老於藥市者，不能辨也。然則子何以辨之，其人吝不肯言，固問之，因密語曰：麝臍之內，悉一氣凝結，原無滓質，第口噙良久，泯化無跡者真也，有滓質不化者偽也。</p>
