<header data-type="book">
<h1>十劑表</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>包誠</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1866">公元1866年</data></dd></div>
<div><dt>品質</dt><dd>60%</dd></div>
</dl>
</header>

<h1>十劑表序</h1>
<p>兵為不祥之器取足以弭亂藥非授餐之常取足以療疾善弭亂者知彼知己善療疾者知病知藥其不知症者無論矣知症而不知藥如遣將非人適足致敗夫兵不過奇正奇正之變不可勝窮藥不過氣味氣味之變亦不可勝窮通四時五行之化察五臟六腑之宜辨百草辛酸苦甘鹹之味審人身喜怒悲憂恐之情故以治百病道精而效神也醫學矇昧各據門戶執古方不能治今病讀醫經不如多臨症之說不深求經方藥錄用意所在徒創異說以博名譽論說日繁醫學日晦故讀古人之書而察其理則知今之症辨古人之方而明其用則知今之藥然後察奇偶佐使之宜知氣味制化之妙變而通之神而明之眾品雜進不為多一味獨行不為少溫涼可以相使燥濕可以相濟輕重可以相維如身之使臂臂之使指夫豈粗解藥性率爾處方所能中病哉故一味有一味之性一氣有一氣之用合成一方則氣味殊而用亦遂異呂覽云夫草有莘有藟獨食之殺人合而食之則益壽非性改也制化之妙也予少遊山左受學於陽湖張宛鄰先生（名琦字翰風為館陶令十年循聲卓著著有素問釋義十卷）先生嘗取明劉氏云密本草述（潛江劉公名若金號云密以名進士官至司寇值明季喪亂社門高尚自號蠡園逸叟數十年精力皆萃於此書洋洋乎八十餘萬言名曰本草述）別擇精粗刪繁就簡為本草述錄六卷予讀之乃見藥物氣味之真而得古人主方制化之妙竊以為本經別錄諸書著其治而不言其理千金外臺之方詳所主而不審其由以故後學罕所會悟欲明制化之妙必先求所以制化之理又必分求其所專擅而後可合求其所通變爰就其書以徐之才十劑之說為表以明之庶幾求藥性者易於省覽而於處方治病亦不無小補焉</p>
<p><u>道光庚子年十一月朔安吳包誠</u></p>

<h1>十劑解</h1>
<p>宣劑者湧劑也素問曰高者因而越之木鬱則達之傷寒論曰大法春宜吐以病在上也儒門事親曰世人皆以宣為通劑不知十劑之中已有通劑以宣為泄劑不知十劑之中已有瀉劑宣者升而上之也以君召臣曰宣義或同凡邪氣在上可以搏而躍之者皆宜宣劑</p>
<p>通劑者流通之劑也通與瀉相類瀉惟下行通則兼旁行凡辛香流走之屬皆能通儒門事親曰數至圊而不得便宜通因通用湯液序例曰通可去滯故凡病之有氣無質留滯不去者皆宜通劑</p>
<p>補劑者補益之劑也素問曰因其衰而彰之形不足者溫之以氣精不足者補之以味又曰肝用辛補之心用鹹補之脾用甘補之肺用酸補之腎用苦補之八十一難曰陽氣不足陰氣有餘當先補其陽而後瀉其陰陰氣不足陽氣有餘當先補其陰而後瀉其陽千金方曰人生四十以後宜常服補劑以氣血衰弱也</p>
<p>瀉劑者泄瀉之謂即下劑也素問曰其下者引而竭之中滿者瀉之於內其實者散而瀉之又曰實則瀉之土鬱則奪之八十一難曰瀉南方火補北方水子能令母實母能令子虛儒門事親曰諸痛皆實痛隨利減湯液序例曰瀉可去閉凡病有氣有質閉塞鬱結者皆宜瀉劑</p>
<p>輕劑者輕揚發散之謂即汗劑也素問曰因其輕而揚之其有邪者漬形以為汗其在皮者汗而發之儒門事親曰邪客皮膚宜輕劑湯液序例曰輕可去實以其開發腠理使病外出也</p>
<p>重劑者重鎮之劑也體重而性沉者足以鎮壓亂逆儒門事親曰久病咳嗽涎潮於上形羸不可峻攻以重劑縋之湯液序例曰重可去怯以其有堅勁之力也</p>
<p>滑劑者滑利之劑也周禮曰以滑養竅鄭氏注曰凡諸滑物通利往來似竅儒門事親曰大便燥結小便淋閉皆宜滑劑凡病澀滯有不宜通與瀉者惟滑劑足以利之</p>
<p>澀劑者收澀之劑也素問曰心苦緩急食酸以收之肺欲收急食鹹以收之湯液序例曰澀以固脫凡散脫之症必酸澀之劑使之秘固而後發者可返散者可收</p>
<p>燥劑者燥烈之謂即去濕之劑也素問曰脾苦濕急食苦以燥之儒門事親曰積寒久冷若病濕者宜燥之凡病濕而不可以泄利除者非燥劑不為功</p>
<p>濕劑者柔潤之劑也與滑相類而專於滋養素問曰辛以潤之蓋辛能走氣氣能化液故也儒門事親曰人有枯涸皴竭之病不獨金化為然蓋有火以乘之非濕劑不能愈湯液序例曰濕可去枯故凡津虧血燥之症皆宜濕劑</p>

<h1>十劑表上</h1>

<h2>手太陰肺經</h2>
<p>宣</p>
<p>通　白前甘辛微溫入肺下氣治諸逆因感邪者　當歸辛溫入肺脾肝血分養血和血行血治氣血昏亂一切血病　白芷辛溫入胃肺大腸治頭痛</p>
<p>補　黃耆甘微溫入肺脾三焦腎命門益氣助三焦元陽　人參甘微苦溫入肺補元氣安精神生液瀉虛火　黨參甘溫入肺脾治同人參力遠不逮</p>
<p>瀉　石膏辛甘大寒入胃肺三焦瀉大熱　知母苦寒入肺腎胃瀉腎膀胱熱　黃連苦寒入肺心大腸膽胃肝瀉中焦積熱</p>
<p>輕　桔梗苦辛微溫入肺腎治咽喉頭目口鼻病散熱閉提氣血補內漏　前胡辛甘微寒入肺三焦脾胃散結下氣療心腹結氣鬲上實熱散寒熱邪氣</p>
<p>宣</p>
<p>通　及眉稜骨痛和氣活血去風逐濕　天南星苦溫有毒入脾肺治風痰堅積麻痹口噤諸病消腫散瘀　藿香辛甘微溫入脾肺流氣散六邪氣定嘔逆　蘇子辛溫入心肺胃下氣開結</p>
<p>補　百合甘平入肺心補中保肺除浮腫　薯蕷甘溫平入脾肺補氣養心氣　胡桃甘平溫入肺腎滋肺潤血脈補腎益命門利三焦止小便　茯苓甘淡</p>
<p>瀉　黃芩苦寒入肺大腸瀉熱　茅根甘寒入脾胃肺瀉肺胃伏熱止血　葶藶苦大寒入肺大腸膀胱行水逐積聚性猛利下行　梔子苦寒入心肺氣分瀉三焦</p>
<p>輕　防風辛甘溫入肝膀胱肺胃脾治上焦風邪散結　香薷辛微溫入胃脾心肺散金鬱治中暑霍亂瘧疾　薄荷辛涼入肺心包兼入肝清六陽會首散熱風清利頭目咽喉　蘇葉梗辛溫</p>
<p>宣</p>
<p>通　水蘇辛微溫入肺肝下氣辟惡　蘭草辛平入肺胃利水道除風調氣和營　赤芍苦入肝肺脾散瘀利濕熱　旋覆花鹹甘微溫入肺大腸散結氣除水消痰下氣　桑白皮甘辛</p>
<p>補　平入肺心膀胱脾和中益氣除濕理脾生津潤肺安心神秘精　蛤蚧鹹平入肺腎治久嗽咯血凝神聚氣</p>
<p>瀉　火除邪熱解鬱熱散毒風治五淋並治血病</p>
<p>輕　入心肺胃行氣達表通心利肺定喘消痰　甘菊花甘平入肺肝治諸風頭目疾散遊風補陰氣利血脈　牛蒡子辛平微涼入肺肝胃除風熱痰壅治咽喉頭面風病消斑疹　麻黃苦辛</p>
<p>宣</p>
<p>通　寒入肺治喘滿水腫利一切風水氣泄肺熱調中消痰開胃　款冬花辛甘溫入肺主咳逆上氣勞咳　刺蒺藜苦溫入肝肺下氣去脹滿破癥瘕惡血　射干辛苦微溫有毒入肺腎膽</p>
<p>補</p>
<p>瀉</p>
<p>輕　溫入肺膀胱心大腸開毛孔腠理髮汗　馬兜鈴苦辛寒入肺治肺熱痰結上氣　辛夷辛溫入肺胃膀胱治風頭腦痛面腫引齒痛鼻淵鼻瘡</p>
<p>宣</p>
<p>通　兼入肝脾散結氣邪逆行瘀利滿治喉痹　薏苡仁甘微寒入肺脾利濕泄水益脾　姜辛微溫入肺開胃止嘔吐消痰下氣通關節除風寒達明去穢惡　杏仁甘苦溫入肺治咳逆上氣</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　散結去風熱消痰潤腸　枳殼苦辛微酸寒入肺肝胃大腸瀉氣消痰滯寬胸治痢後重　檀香辛溫入肺腎胃散冷氣引脾氣上升理胸膈咽嗌間氣　紫菀苦辛</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>手</p>
<p>重　白石英甘溫入肺大腸定咳逆肺</p>
<p>溫入肺治咳逆上氣結氣　陳皮苦辛溫入脾肺理氣消痰和中　枇杷葉苦平入肺胃下氣清熱</p>
<p>解暑毒　滑</p>
<p>澀　礬石酸澀寒入腎肺肝能收陰</p>
<p>燥　丁香辛熱入肺胃腎溫脾胃虛</p>
<p>濕　露水甘平潤澤入肺滋陰</p>

<h2>太陰肺經</h2>
<p>重　癰</p>
<p>滑</p>
<p>澀　於至陽之中治痰熱解毒　白芨苦辛甘微寒入肺止肺血補肺傷功專收澀又有泄熱散結之用　白芍藥酸平入肝脾肺收陰氣安脾胃泄肝斂逆氣治血虛腹痛　五味子酸溫</p>
<p>燥　寒嘔逆腎氣奔豚</p>
<p>濕　沙參甘微苦微寒入肺肝脾養肝脾潤肺　貝母苦微寒入肺潤心肺滌熱消痰　麥門冬甘微寒入肺潤經清肺火益心氣止渴除虛熱復脈　梨甘微酸寒入心</p>
<p>重</p>
<p>滑</p>
<p>澀　入肺腎收斂肺氣益精補攝腎臟　訶黎勒苦酸澀溫入肺大腸斂肺實大腸治腎氣奔豚又能消痰下氣利咽喉通津液　五倍子苦酸平入脾肺斂肺降火化痰治久痢盜汗牙疳咽癰脫肛等症燥</p>
<p>濕　肺胃潤肺涼心消痰降火治卒暗風不語解丹石毒風熱毒　柿甘澀寒入脾肺潤心肺消痰去心熱肺痿治咳嗽反胃失血　柿霜甘寒性同略同柿餅專主清上焦熱　蒂主下氣</p>
<p>手</p>
<p>重　宣</p>
<p>滑　通　白芷見手太陰肺經　木通辛苦甘平入心包膀胱大</p>
<p>澀　百藥煎功同五倍子而宜上達　桑螵蛸鹹甘平入肺腎治傷中遺精陰痿疝瘕等症能固能行補</p>
<p>燥　瀉　地榆苦寒入肝腎胃大腸純陰之品專主下焦血病　黃連見手</p>
<p>濕　阿膠甘平入肺肝腎益陰氣潤燥化痰清肺調大腸治一切血病　輕　秦艽苦辛入胃大腸兼入腎肝療風濕無問久新利肢節</p>

<h2>陽明大腸經</h2>
<p>宣</p>
<p>通　腸通利九竅血脈關節　砂仁辛溫澀微鹹入脾胃腎大腸行氣醒脾開胃除脹引諸藥歸宿丹田旋覆花見手太陰肺經　連翹苦涼入膽三焦大腸心散結氣結熱</p>
<p>補</p>
<p>瀉　太陰肺經　黃芩見手太陰肺經　白頭翁　苦寒入大腸胃除熱逐瘀行毒　葶藶見手太陰肺經</p>
<p>大黃苦大寒入大腸胃下一切積聚三焦濕熱盪滌</p>
<p>輕　麻黃見手太陰肺經</p>
<p>宣　重</p>
<p>通　槐實苦酸鹹寒入大腸肝潤肝燥疏風導熱風眩欲倒並治口齒風大腸痔　槐花苦平治大腸熱五痔便血崩中　枳殼見手太陰肺經　滑</p>
<p>補　澀</p>
<p>瀉　腸胃推陳致新　桃花瀉大腸甚捷　檳榔苦辛溫澀入胃大腸破滯消積瀉胸中至高之氣峻直下行　燥</p>
<p>輕　濕</p>
<p>重　白石英見手太陰肺經</p>
<p>滑</p>
<p>澀　赤白石脂甘酸辛大溫入大腸腎三焦益精髓固脫　訶黎勒見手太陰肺經</p>
<p>燥　蒼朮苦溫入胃脾大腸小腸燥濕寬中強胃氣　蓽茇辛大溫入胃大腸除一切冷氣　肉豆蔻辛溫入手足陽明經溫中下氣固大腸治積冷心腹脹痛霍亂冷疰消宿食痰飲泄瀉滯</p>
<p>濕　大麻仁甘平入脾大腸潤五臟專利大腸風熱結燥補中益氣　郁李仁辛苦平入脾大腸潤燥治大腸澀滯不通利水並治大腹水腫</p>

<h2>足陽明胃經</h2>
<p>宣　綠礬酸澀入肝脾胃燥濕消痰</p>
<p>通　紫參苦微寒入肝胃散邪氣通血滯　白蘚鹹苦寒入肝脾胃通關利九竅血脈除濕熱黃疸風痹　白芷見手太陰肺經</p>
<p>補　白朮苦溫入胃脾肝腎益氣助土勝水補肝風虛　大棗甘溫入脾胃溫胃補脾和營衛生津液治心懸少氣</p>
<p>瀉　石膏見手太陰肺經　知母見手太陰肺經　地榆見手陽明大腸經　黃連見手太陰肺經　茅根見手</p>
<p>輕　秦艽見手陽明大腸經　前胡見手太陰肺經　防風見手太陰肺經　升麻辛苦溫入脾胃升清陽消遊風散本經風邪</p>
<p>宣</p>
<p>通　砂仁見手陽明大腸經　鬱金辛苦寒入心肝心包胃暢血中精微之化治一切血鬱之症　蘇子見手太陰肺經　蘭草見手太陰肺經　茵陳苦辛</p>
<p>補</p>
<p>瀉　太陰肺經　白頭翁見手陽明大腸經　蘆根甘寒入胃瀉客熱　枳實苦辛酸寒入脾胃治同枳殼而消磨驅逐之功遠勝　大黃見手陽明大腸經</p>
<p>輕　香薷見手太陰肺經　蘇葉根見手太陰肺經　牛蒡子見手太陰肺經　葛根甘辛平入胃升胃氣散胃熱生津液本經風熱止脅痛發疹痘　辛夷見手</p>
<p>宣</p>
<p>通　微寒入脾胃膀胱利小便通關節治風濕寒熱邪氣　豨薟苦生寒熟溫入肝脾胃生治熱䘌消腫毒熟治風治血　蒲公英甘苦微寒入肝腎胃化一切熱毒消腫散結主婦人乳疾</p>
<p>補</p>
<p>瀉　檳榔見手陽明大腸經　犀角酸苦鹹寒入胃解百毒瀉大熱入心一切熱症　雄黃辛苦溫入胃肝解風毒化瘀血殺蟲　胡黃連苦微寒入胃脾肝治骨蒸勞熱五心煩熱小兒</p>
<p>輕　太陰肺經</p>
<p>宣</p>
<p>通　石龍芮苦平入腎胃利關節治心腹邪水氣水生者佳陸生者有毒不可用　蒜辛溫有毒入脾胃通達走竅行諸氣解邪毒消水腫通陽歸陰　姜見手太陰肺經　蘹香子辛平入小腸膀胱胃心腎</p>
<p>補</p>
<p>瀉　潮熱及疳明目益肝膽</p>
<p>輕</p>
<p>宣　</p>
<p>通　暖丹田治冷氣少腹前陰諸病　枇杷葉見手太陰肺經　大腹皮辛微溫入脾胃下一切氣治冷熱氣攻心大腸蠱毒及諸壅逆脹悶　檀香見手太陰肺經　烏藥辛溫</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣　重</p>
<p>入胃腎除諸冷消食寬脹散症癖刺痛中惡中氣　厚朴苦溫入脾胃溫中散結氣治嘔吐霍亂　枳殼見手太陰肺經滑滑石甘寒入脾胃小腸滲濕利</p>
<p>補　澀</p>
<p>瀉　燥　蒼朮見手陽明大腸經</p>
<p>輕　濕　石斛甘微鹹平入胃腎養陰平</p>
<p>重　宣　綠礬見足</p>
<p>滑　水　通　狗脊甘苦</p>
<p>澀　補　黃耆見手</p>
<p>燥　蓽茇見手陽明大腸經　半夏辛溫有毒入脾胃腎功專燥濕消痰下氣開結　丁香見手太陰肺經　肉豆蔻辛溫見手陽明經　瀉　茅根見手</p>
<p>濕　胃氣除胃中虛熱清肺益脾　梨　見手太陰肺經　輕　防風見手</p>

<h2>足太陰脾經</h2>
<p>宣　陽明胃經</p>
<p>通　微溫入腎肝脾利關節通經脈血氣　白蘚見足陽明胃經　當歸見手太陰肺經　赤芍藥見手太陰肺經　砂仁見手陽明大腸經　薑黃辛苦</p>
<p>補　太陰肺經　黨參見手太陰胃經　葳蕤甘平入脾肝補中益氣潤心肺治風　白朮見足陽明胃經　補骨脂辛大溫入心包腎脾命門補元陽逐冷痹止腎</p>
<p>瀉　太陰肺經　枳實見足陽明胃經　京三稜苦辛溫入肝脾消積聚　胡黃連見足陽明經</p>
<p>輕　太陰肺經　升麻見足陽明胃經　香薷見手太陰肺經　木賊甘微苦溫入肝膽脾血分發汗解肌退翳膜散火鬱</p>
<p>宣</p>
<p>通　溫入脾肝理血中氣滯治風痹凝滯等症行腹脅肩背手臂　薷香見手太陰肺經　澤蘭苦微溫入肝脾破血利關節通九竅消腫　艾苦辛溫入脾肝腎溫下元利陰滯開結達氣逐冷祛濕治</p>
<p>補　泄　附子辛熱入肝脾腎心包三焦心補下焦陽虛脾虛濕盛制熟用　天雄性同附子力稍減能助精　菟絲子辛甘平入腎肝脾補不足益陰氣堅筋骨益精肝臟風虛腰膝病皆</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　女子帶漏暖子宮　茵陳見足陽明胃經　豨薟見足陽明胃經　天南星見手太陰肺經　射干見手太陰肺經　扁豆甘微寒入脾和中下氣益</p>
<p>補　治　飴糖甘大溫入脾補虛冷益中氣健脾潤肺消痰又能下惡血　薯蕷見手太陰肺經　大棗見足陽明胃經　龍眼甘平入心脾益脾開胃安</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　脾胃除濕熱消暑通利三焦　薏苡仁見手太陰肺經　蒜見足陽明胃經　陳皮　見手太陰肺經　大腹皮見足陽明胃經　吳茱萸辛溫有小毒入脾肝心溫</p>
<p>補　志寧心　蜀椒辛溫入心肝脾補命門通三焦溫中治寒冷殺蟲散濕鬱　桂甘辛熱入心腎肝脾補命門不足治一切沉寒痼冷通血脈溫脾胃導陽氣　茯苓見手太陰肺經</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　中開鬱除寒濕治濁陰不降厥氣上逆並衝脈為病逆氣裡急　沉香辛溫入肝脾腎調下去結氣治氣逆補命門　厚朴見足陽明胃經　蘇木甘鹹平入心肝脾血分治瘀血血氣壅滯</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>

<h2>足太陰脾經</h2>
<p>重</p>
<p>滑　滑石見足陽明胃經</p>
<p>澀　芍藥見手太陰肺經　芡實甘平澀入脾腎治同蓮子　南天燭苦平澀微酸入心脾腎強筋益氣力止瀉除睡久服不飢　五倍子見手太陰肺經</p>
<p>燥　蒼朮見足陽明胃經　附子辛大熱入肝脾腎心包三焦心祛臟腑一切沉寒痼冷生用　半夏見足陽明胃經　丁香見手太陰肺經</p>
<p>濕　沙參見手太陰肺經　大麻仁見手陽明大腸經　柿見手太陰肺經　郁李仁　見手陽明大腸經</p>

<h2>手少陰心經</h2>
<p>宣</p>
<p>通　丹參苦微寒入心腎肝通利關脈　鬱金見足陽明胃經　蘇子見手太陰肺經　連翹見手</p>
<p>補　百合見手太陰肺經　龍眼見足太陰脾經　蜀椒見足太陰脾經　桂見足太陰脾經　茯苓見手</p>
<p>瀉　伏龍肝辛溫入脾肝助土勝水　黃連見手太陰肺經　赤小豆甘平入心下水通小便散風熱毒去關節間熱通乳汁　梔子見手太陰肺經</p>
<p>輕　香薷見手太陰肺經　蘇葉梗見手太陰肺經　麻黃見手太陰肺經　燈心草甘淡平入心三焦降心火</p>
<p>宣</p>
<p>通　陽明大腸經　蘹香子見足陽明胃經　吳茱萸見足太陰脾經　乳香微溫入心治血伸筋定痛下氣治心氣疼痛風水毒腫內消托裡並難產　楝實酸苦</p>
<p>補　太陰肺經　豕心血能引藥入心經　鹿茸甘鹹溫入心肝腎峻補陰氣生精益髓治一切不足之症　熟地黃甘苦寒入心腎肝補五臟不足益陰生精血主肝腎填骨髓下元虛</p>
<p>瀉</p>
<p>輕　通氣燒灰吹喉痹</p>

<h2>手少陰心經</h2>
<p>宣　重</p>
<p>通　平入心小腸膀胱主熱厥心痛臍上下痛疝氣前陰諸症　蘇木見足太陰肺經　滑</p>
<p>補　弱　澀　南天燭見足太陰肺經</p>
<p>瀉　燥</p>
<p>輕　濕　天門冬苦甘大寒入心腎潤燥滋陰通腎氣保肺氣治營衛枯竭一切火炎病</p>
<p>重</p>
<p>滑</p>
<p>澀</p>
<p>燥</p>
<p>濕　梨見手太陰肺經　柏子仁甘平入肝腎心養心氣潤肝腎燥兼益氣補陰治驚悸風病血病　生地黃　</p>
<p>甘苦寒入心腎肝滋腎水真陰不足清虛熱潤燥一切陽亢之症　側柏葉苦溫澀治吐血便血女子</p>

<h2>手太陽小腸經</h2>
<p>宣</p>
<p>通　蘹香子見足陽明胃經　楝實見手少陰心經</p>
<p>補</p>
<p>瀉</p>
<p>輕　血崩補陰　羌活辛苦溫入小腸膀胱肝腎治骨節風濕搜肝風療諸痹　蒿本辛溫入小腸膀胱治太陽頭痛巔頂痛大寒犯腦及寒濕頭痛併入督脈</p>
<p>宣　重</p>
<p>通　滑　滑石見足陽明胃經　海金沙甘寒入小腸膀胱血分行水去濕治五淋解熱毒</p>
<p>澀</p>
<p>燥　蒼朮見足陽明胃經</p>
<p>輕蔓荊子辛溫微寒入小腸膀胱涼血利關節九竅治痹及風頭痛　濕</p>

<h2>足太陽膀胱經</h2>
<p>宣</p>
<p>通　木通見手太陽大腸經　茵陳見足陽明胃經　澤瀉鹹甘寒入膀胱腎逐濕利水泄腎火　蘹香子見足陽明胃經　楝實見少</p>
<p>補　茯苓見手太陰肺經</p>
<p>瀉　葶藶見手太陰肺經　黃柏苦寒入腎膀胱瀉膀胱相火五臟結熱補腎水不足堅精髓治下焦諸痿及濕熱骨蒸黃疸　瞿麥苦寒主諸癃結逐邪熱入</p>
<p>輕　羌活見手太陽小腸經　防風見手太陰肺經　蒿本見手太陽小腸經　蔓荊子見手太陽小腸經　辛夷見手太陰肺經</p>
<p>重　宣</p>
<p>通　豬苓甘平入膀胱腎開腠理利水道除濕通淋消腫利水諸劑莫疾於此　滑　海金沙見手太陽小腸經　通　狗脊見足</p>
<p>澀　補　黃耆見手</p>
<p>燥　膀胱性猛利下行　防己苦辛寒入膀胱治下焦濕熱通血滯　瀉　知母見手</p>
<p>濕　輕　桔梗見手</p>

<h2>足少陰腎經</h2>
<p>宣</p>
<p>通　太陰脾經　遠志苦溫入腎通心氣開鬱結益智定驚　丹參見手少陰心經　牡丹皮辛寒入心包肝腎通經脈行血中伏火結氣瀉陰胞中火　砂仁見足</p>
<p>補　太陰肺經　肉蓯蓉甘酸鹹入肝腎微溫強陰益精補中　白朮見足陽明胃經　巴戟天辛苦溫入肝腎益陽氣補精主大風邪氣治痿　淫羊藿甘溫入肝腎心包補下虛</p>
<p>瀉　太陰肺經　地榆見足陽明胃經　苦參苦寒入腎療時氣大熱狂邪行結熱毒風　龍膽草苦大寒入肝腎瀉肝膽實熱下焦濕火　黃柏見足太陽膀胱經</p>
<p>輕　太陰肺經　元參苦寒入腎除浮游之風火　秦艽見足陽明胃經　獨活甘苦辛微溫入腎治一切風氣寒濕痹　羌活見手太陽小腸經　細辛辛溫</p>
<p>宣</p>
<p>通　陽明胃經　艾見足太陰脾經　夏枯草苦辛寒入肝腎和血脈散結氣養陰破症散癭消腫　續斷苦微溫入肝膽宣通血脈利機關　牛膝苦酸溫入肝腎通經絡逐</p>
<p>補　治絕陽絕陰　補骨脂見足太陰脾經　沙苑甘溫入肝腎補腎明目益精　附子見足太陰脾經熟用　菟絲子見足太陰脾經　覆盆子甘辛</p>
<p>瀉　地骨皮甘苦寒入腎心瀉下焦虛熱陰胞中及肺中伏火治有汗骨蒸消渴</p>
<p>輕　入腎肝溫腎寒療一切風寒諸濕痹百節疼痛併入督脈治脊強　決明子鹹苦甘微寒入肝膽腎治肝熱風目病</p>
<p>宣</p>
<p>通　血氣主下部　車前甘寒入肝腎利水道去熱暑濕　蒲公英見足陽明胃經　射干見手太陰肺經　茴芋苦溫有毒入肝腎治諸關節風濕痹痛能補風</p>
<p>補　微溫入腎益氣續絕強陰健陽　何首烏甘微苦溫入肝腎益血氣精髓長筋骨治瘰癧癰腫風虛久瘧腰膝諸病　胡桃見手太陰肺經　桂見足太陰脾經　杜仲辛甘</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　虛為治風妙品　石龍芮見足陽明胃經　萆薢苦甘平入肝腎治寒濕痹病骨節間風小便數赤白濁莖中痛　澤瀉見足太陽膀胱經　石葦苦辛入腎治勞熱邪氣諸</p>
<p>補　溫入腎肝補中益精氣堅筋骨主腰膝痛及風虛　女貞子苦寒入腎強陰補精健腰膝明目黑髮枸杞子甘平入肝腎補精氣滋腎潤肺療肝風血虛治一切虛弱病　蛤蚧見手</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　淋利水道　黑豆甘平入腎通關脈下氣調中散五臟積結內寒祛風解毒　蘹香子見足陽明胃經　沉香見足太陰脾經　檀香見手太陰肺經</p>
<p>補　太陰肺經　龜板甘平入腎補陰氣續筋骨治血痢癥瘕血痹崩漏等症　鹿茸甘鹹溫入心肝腎峻補陰氣生精益髓治一切不足之症　瑣陽甘溫入腎補陰益精利大</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　烏藥見足陽明胃經　五加皮辛苦溫入肝腎專功風濕治腰膝痹逐瘀血兼能益氣治痿　豬苓見足太陽膀胱經　五靈脂甘溫入肝腎通利氣脈治一切血瘀病並治疳疾殺蟲</p>
<p>補　便治痿　熟地黃見手少陰心經　骨碎補苦溫入足少陰腎主骨破血止血補折骨耳鳴齒痛並能堅骨固牙益精髓去骨中毒氣</p>
<p>瀉</p>
<p>輕</p>
<p>重　磁石辛鹹微溫入肝腎養腎藏強骨氣鎮肝</p>
<p>滑　食鹽見手少陰心經　戎鹽功同食鹽稍勝</p>
<p>澀　赤白石脂見手陽明大腸經　礬石見手太陰肺經　五味子見手太陰肺經　罌粟殼酸澀微寒入腎收脫固氣止瀉痢脫肛遺精久</p>
<p>燥　生附子見足太陰脾經　半夏見足陽明胃經　丁香見手太陰肺經</p>
<p>濕　旱蓮草甘酸寒入肝腎純陰之品功專涼血止血益腎陰　天門冬見手少陰心經　石斛見足陽明胃經　柏子仁見手</p>
<p>重</p>
<p>滑</p>
<p>澀　嗽　芡實見足太陰脾經　山茱萸酸溫入肝腎強陰益精溫肝補腎安五臟止小便明目治腎虛耳聾　南天燭見足太陰脾經　桑螵蛸見手太陰肺經</p>
<p>燥</p>
<p>濕　少陰心經　阿膠見手太陰肺經　生地黃見手少陰心經　側柏葉見手少陰心經</p>
<p>附</p>
<p>重　宣</p>
<p>滑　通　蛇床子苦辛甘溫入三焦命門去</p>
<p>澀　龍骨甘平入腎肝固脫安魂鎮驚　牡蠣鹹平微寒入腎肝膽益腎固精收澀諸脫止虛熱煩軟堅化老痰積聚　補　黃耆見手太陰肺經</p>
<p>燥　瀉</p>
<p>濕　輕</p>

<h3>命門</h3>
<p>宣　重</p>
<p>通　濕達陽強陰暖水藏利關節治虛濕痹及女子下焦濕病又能補陰氣　滑</p>
<p>補　補骨脂見足太陰脾經　胡蘆巴苦大溫入命門治同補骨脂兼治疝　韭子辛甘溫補命門及肝蜀椒見足太陰脾經　桂見足太陰脾經　澀</p>
<p>瀉　燥</p>
<p>輕　濕</p>
<p>重　宣</p>
<p>滑　通　芎藭辛溫入肝膽心包氣分開</p>
<p>澀　補　淫羊藿見足少陰腎經</p>
<p>燥　石硫黃酸大熱入心包命門大毒治下元虛冷元氣將絕　仙茅　辛熱有毒入肝心包命門治一切風氣冷痹助陽　瀉　紫草苦寒入肝心包涼血活血</p>
<p>濕　輕　薄荷見手太陰肺經</p>

<h2>手厥陰心包經</h2>
<p>宣</p>
<p>通　郁行滯搜肝氣和血去瘀頭腦中風　牡丹皮見足少陰腎經　木通見手陽明大腸經　鬱金見足陽明胃經　茺蔚子辛甘微溫入肝心包通血脈行滯養肝治胎產</p>
<p>補　補骨脂見足少陰腎經　熟附子見足太陰脾經</p>
<p>瀉　利大腸瀉疹痘熱</p>
<p>輕</p>
<p>宣</p>
<p>通　諸病　葉治產後諸病　紅花辛溫入肝心包活血通經治產後血暈　虎杖苦微溫入肝心包行瘀散癥結風毒骨節間風解暑毒治諸淋　茜草甘鹹酸溫入肝心包血分</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣　重</p>
<p>通　治一切血滯之病血實者宜之　忍冬藤甘微寒入心包肝治風及一切濕氣解散熱毒瘡家要藥</p>
<p>滑</p>
<p>補　澀</p>
<p>瀉　燥　石硫黃見命門　仙茅見命門</p>
<p>輕　濕</p>

<h2>手少陽三焦經</h2>
<p>宣　重</p>
<p>通　香附甘苦微寒入肝三焦兼行十二經氣分利三焦解六郁去瘀除痰　蛇床子見命門　連翹見手太陽大腸經　滑</p>
<p>補　黃耆見手太陰肺經　熟附子見足太陰脾經　澀　赤白石脂</p>
<p>瀉　石膏見手太陰肺經　地榆見手陽明大腸經　燥　生附子見足</p>
<p>輕　前胡見手太陰肺經　燈心草見手少陰心經　濕</p>

<h2>足少陽膽經</h2>
<p>重　宣　石膽酸澀寒入膽吐風痰散積消水腫</p>
<p>滑　通　芎藭見手厥陰心包經　連翹見手太陽大腸經　射干見手太陰肺經　青皮苦辛</p>
<p>澀　見手陽明大腸經　補　酸棗仁甘酸平入肝膽補中益氣寧心志斂虛汗助陰氣治心煩不得眠</p>
<p>燥　太陰脾經　瀉　黃連見手太陰肺經　龍膽草見足少陰腎經瀉肝膽實熱</p>
<p>濕　輕　柴胡苦平入肝膽升陽散肝膽三焦包絡相火　青蒿苦寒入肝膽血分治勞熱骨蒸虛勞盜汗五心煩熱</p>
<p>宣　重　紫石英見手厥陰心包經　代赭石苦寒鎮虛入肝膽　宣　綠礬見足</p>
<p>通　溫入肝膽破肝膽氣積能發汗　滑　通　天麻辛平</p>
<p>補　澀　牡蠣見足少陰腎經　補　葳蕤見足</p>
<p>瀉　燥　瀉　地榆見手</p>
<p>輕　木賊見足太陰脾經　決明子見足少陰腎經　濕　輕　柴胡見足</p>

<h2>足厥陰肝經</h2>
<p>宣　陽明胃經　皂角辛鹹溫有小毒入肝搜風瀉氣通關節開痰涎散瘡腫風瘰治中風口噤急喉痹一切頭腦風風癇暈眩閉塞等症</p>
<p>通　入肝助陽氣通血脈利關竅療風虛　丹參見手少陰心經　紫參見足陽明胃經　延胡索苦微辛溫入肝活血化氣通經絡理脈外氣滯　白蘚見足陽明胃經</p>
<p>補　太陰脾經　肉蓯蓉見足少陰腎經　白朮見足陽明胃經　巴戟天見足少陰腎經　淫羊藿見手少陰心經　沙苑見足少陰腎經</p>
<p>瀉　陽明大腸經　龍膽草見足少陰腎經　紫草見手厥陰心包經　京三稜見足太陰脾經　蓬莪朮苦辛溫入肝治一切氣癖滯消結去積聚　藍實苦寒</p>
<p>輕　少陽膽經　秦艽見手陽明大腸經　羌活見手太陽小腸經　防風見手太陰肺經　細辛見足少陰腎經　荊芥辛溫入肝治風散熱通血</p>
<p>宣</p>
<p>通　當歸見手太陰肺經　芎藭見手厥陰心包經　赤芍藥見手太陰肺經　牡丹皮見足少陰腎經　薑黃見足太陰脾經　鬱金見手</p>
<p>補　熟附子見足太陰脾經　菟絲子見足太陰脾經　何首烏見足太陰脾經　蜀椒見足太陰脾經桂見足太陰脾經　杜仲見足少陰腎經</p>
<p>瀉　入肝解諸毒利五臟經絡中結氣　青黛鹹寒入肝解熱毒瀉肝收五臟鬱火治咽喉鼻舌口唇齒諸病　羚羊角鹹寒入肝定驚癇瀉一切熱毒惡風降肝火煩郁辟邪解毒明目　胡黃連見足</p>
<p>輕　脈止下衄諸血　薄荷見手太陰肺經　甘菊花見手太陰肺經　青蒿見足少陽膽經　牛蒡子見手太陰肺經　木賊見足太陰脾經</p>
<p>宣</p>
<p>通　少陰心經　香附見子少陽三焦經　水蘇見手太陰肺經　澤蘭見足太陰脾經　艾見足太陰脾經　茺蔚子見手厥陰心包經　夏枯草見足</p>
<p>補　酸棗仁見足少陽膽經　枸杞子見足少陰腎經　鱉甲鹹平入肝益陰氣治老瘧勞復產後陰脫去息肉余同龜板　鹿茸見足少陰腎經</p>
<p>瀉　陽明胃經　雄黃見足陽明胃經</p>
<p>輕　決明子見足少陽膽經　穀精草辛甘溫入肝治頭風痛盲翳　鉤藤甘苦平入肝平肝風治頭目眩暈小兒驚癇發斑疹</p>
<p>宣</p>
<p>通　少陰腎經　紅花見手厥陰心包經　續斷見足少陰腎經　豨薟見足陽明胃經　車前見足少陰腎經　刺蒺藜見手太陰肺經</p>
<p>補　熟地黃見手少陰心經</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　王不留行苦甘平入肝衝任通血脈利小便下乳汁治諸淋及風痹　虎杖見手厥陰心包經　蒲公英見足陽明胃經　菴閭子苦微溫入肝血分去五臟瘀血腹中水氣痹病</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　射干見手太陰肺經　白附子辛苦甘大溫有毒入肝治風虛能達陽於陰中主一切痹癇之因於風虛者　茴芋見足少陰腎經　萆薢見足少陰腎經</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　茜草見手厥陰心包經　忍冬藤見手厥陰心包經　蒲黃甘平入肝血分止血消瘀又治咽喉口舌病　韭辛溫澀入肝行氣行血　桃仁見手厥陰心包經</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　青皮見足少陽膽經　吳茱萸見足太陰脾經　沉香見足太陰脾經　沒藥苦平入肝舒筋膜通血脈治金瘡瘀血產後惡露心腹血氣痛　槐實見手</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>重　少陰腎經　代赭石見足少陽膽經　礞石甘鹹平入肝墜痰平逆</p>
<p>滑　行經絡為異</p>
<p>澀　太陰肺經　山茱萸見足少陰腎經　龍骨見足少陰腎經　牡蠣見足少陰腎經　花蕊石酸澀平入肝止金瘡血化瘀</p>
<p>燥　太陰脾經　伏龍肝見足太陰脾經</p>
<p>濕　少陰心經　阿膠見手太陰肺經　生地黃見手少陰心經　側柏葉苦溫澀治吐血便血女子血痛補陰</p>

<h1>十劑表下</h1>
<p>宣　逆流水性倒逆用煎吐劑良　陰陽水湧諸滯　銅青酸平吐風痰　甘草頭導毒行肝胃汙濁之血　人參蘆苦溫</p>
<p>通　百沸湯通陽行經絡　艾火通陽炙百病　燈火淬小兒驚風　火硝辛苦溫有毒散熱行結破積</p>
<p>補　甘草甘溫通入十二經緩正氣補脾胃炙用　粳米赤熱白涼晚白寒溫中益氣益腸胃通血脈　糯米甘溫溫中益氣暖脾胃止泄利</p>
<p>瀉　臘雪水甘冷瀉熱毒　急流水性峻速下達用煎下劑良　地漿甘寒瀉熱毒　浸藍水苦寒解毒</p>
<p>輕　立春後雨水得春生髮之氣用煎發散劑良　釜臍墨辛溫止血治咽喉口舌諸病　風化硝甘緩輕浮治上焦心肺痰熱</p>
<p>宣　吐痰飲　天名精甘寒有小毒治胸中結熱滯瘀吐痰遼喉痹口緊生用　常山苦寒有毒逐老痰積飲截瘧並治山嵐瘴氣　苗治同　藜蘆辛苦寒有毒吐膈上風痰</p>
<p>通　白薇苦鹹平利陰氣調血脈治風　木香辛溫調諸氣和胃行肝升降滯氣　劉寄奴苦溫下血脹補筋脈之傷　葈耳子甘苦溫治一切風痛暖腰膝</p>
<p>補　荔枝甘溫健氣通神益智散無形質之滯氣　核澀治疝　沒石子苦溫溫中益氣和血生精益衝任脈治陰痿毒瘡諸症　楮實甘寒助陽氣補虛勞壯筋</p>
<p>瀉　浙浙泔水瀉熱　黃土解諸藥毒　糞坑底泥瀉熱毒　蚯蚓泥瀉熱行濕　鉛粉辛涼消諸積聚磠砂鹹苦</p>
<p>輕　地膚子苦寒治頭目及皮膚中熱風　萍治暴熱身癢熱毒風熱瘡疹發汗勝於麻黃　馬勃辛平清肺散血解毒治疫大頭痛喉痹　淡豆豉苦寒一云溫性能升散化</p>
<p>宣　治痰飲風癇　喉痹等病　茶末　萊菔子辛甘平升散風痰生用　白梅鹹酸治風痰閉塞　瓜蒂苦寒有毒治水氣吐風痰　青魚膽苦寒吐喉痹點目消赤腫</p>
<p>通　鼠麴草甘溫治寒嗽大升肺氣　狼牙苦寒有毒治邪熱氣殺蟲　使君子甘溫殺蟲主小兒五泔小便白濁健脾胃　木鱉子甘溫有小毒治折傷結核痞消腫治惡瘡並寒濕鬱熱血病</p>
<p>補　骨健腰膝明目　茯神補心氣止驚悸治風眩心虛　鯽魚甘溫主胃虛不食溫中下氣止痢生搗散惡核腫毒　石首魚甘平開胃益氣主消食下痢腹脹</p>
<p>瀉　辛大熱大毒治鬱結積聚消化之力甚猛　寒水石辛鹹寒瀉五臟伏熱　芒硝鹹大寒瀉熱去積聚　元粉功同芒硝力稍遜　硼砂治上焦痰熱瀉積破結　甘草甘平</p>
<p>輕　氣調中治頭痛春夏寒熱時行熱疾　蔥白辛平通陽達表發汗　胡荽辛溫發痧疹痘瘡不出　荷葉生髮陽氣助脾胃　蒂安胎止痢　桂枝甘辛</p>
<p>宣　鱖魚膽苦寒吐竹木刺哽入喉及臟腑　蠍甘辛溫有毒卻風涎治諸風驚癇　稍專上行　蓖麻子甘辛平善收吸通關竅經絡偏風不遂並敷一切毒疽消腫拔毒火</p>
<p>通　紫葳鹹苦寒入血散結熱主熱毒風癥瘕血閉血膈遊風治產乳余疾　百部甘微溫主咳嗽上氣肺熱潤肺保肺殺蟲　通草甘淡寒利陰竅治五淋瀉肺　石南藤辛甘</p>
<p>補　頭中石魫治石淋　白鯗治同石首魚　鱓魚甘大溫補中益氣血療虛損逐十二風邪久痢腸漏腹中冷氣　鰻鱺魚甘平有毒益陰起陽暖腰膝治勞損傳屍疰腸</p>
<p>瀉　瀉火熱生用　薺苨甘寒瀉熱解毒　貫眾苦微寒有小毒瀉腹中邪熱諸毒軟堅闢瘟疫　苧麻甘寒治心鬲熱天行熱疾大渴大狂並能安胎　酸漿草苦寒治熱煩滿大小便澀</p>
<p>輕　熱調營血和肌表除肢節痛風散下焦蓄血皮膚風濕　檉柳甘鹹溫治痧疹熱毒不出發散神劑利小便　霜桑葉苦甘寒除寒熱和氣祛風暢血　枝養筋　淡竹葉辛平</p>
<p>宣　傷並女子胎衣不下子腸挺出多宜外用</p>
<p>通　溫主治風血除痹逐冷　絡石藤苦溫一云寒治喉腫急症利關節治癰腫及喉中有物塞　石菖蒲辛溫開心孔通九竅除心積　石胡荽辛溫通九竅解毒散目腫翳瘡腫塞鼻中翳自</p>
<p>補　屍風痹殺蟲　骨治蚊　真珠甘寒大益肝臟清心安魄明目去腎解痘毒主難產　烏骨雞甘平補虛勞一切虛損　雞卵清氣補血　鴨補虛除熱</p>
<p>瀉　大青甘微苦鹹大寒治一切時行熱毒　商陸根辛酸平赤者有毒直疏五臟散水氣治水腫疝瘕胸中邪氣喉痹不通用白者　甘遂苦甘大寒有毒泄水利痰破積聚直達水氣治</p>
<p>輕　寒涼心肺治熱狂煩悶頭風散熱毒風利水　竹茹止胃熱嘔吐等病清陽氣治女勞復　蟬蛻治頭目風熱發疹痘　蛇蛻甘平有毒治喉風退目翳消水舌白癜風</p>
<p>宣</p>
<p>通　落　地錦辛苦平通流血脈主破血散血　卷柏甘溫治五臟邪氣女子陰中寒熱痛癥瘕等症能入至陰以治陰之不得陽和而結者　刀豆溫中下氣利腸胃</p>
<p>補　和臟腑水道　鶉甘平補五臟益中積絕實筋骨止痢治鼓脹骨立穀食不下　雀卵酸溫強陽益精兼治帶下便溺疝瘕　白馬莖甘鹹平強志益氣長肌肉治傷中經脈陰不起</p>
<p>瀉　腹滿疝瘕　大戟苦寒有毒治十二惡水腹滿積聚惡血一切痰涎水濕為病　芫花辛溫有毒決水逐痰一切風痰邪氣病　續隨子辛溫有毒治水下積聚瀉一切惡滯物</p>
<p>輕　鼠糞甘微寒治男子女勞復陰易下死胎並治乳癰吹奶</p>
<p>宣</p>
<p>通　粟米鹹淡微寒去胃熱利小便　粱米同粟米　陳米鹹酸寬中消食利小便調胃　神麯甘辛溫下氣消滯除痰健脾胃　紅曲甘溫</p>
<p>補　牛甘溫補中益氣養脾胃　羊甘大熱補中益氣治一切虛勞寒冷之症　腎補腎氣　豕肚甘微溫補中益氣治脾虛　肝苦溫補肝明目　肺甘微</p>
<p>瀉　牽牛黑者勝甘辛熱治氣血濕熱三焦壅結開氣逐痰滯　澤漆葉苦微寒治大腹水氣四肢面目浮腫行水之善品　土茯苓甘淡平去風濕利骨節瀉惡瘡及汞粉銀硃毒</p>
<p>輕</p>
<p>宣</p>
<p>通　破血滯　麥芽鹹溫消食開胃和中下氣　穀芽甘溫消積之力稍遜麥芽　酒甘苦辛大熱有毒通血脈行藥勢散百邪　醋酸苦溫消諸毒散結除堅積　薤白辛苦</p>
<p>補　寒治肺虛咳嗽　腸甘微寒潤腸　狗鹹酸溫補胃氣壯陽益力　莖治萎　驢陰莖甘溫強陽壯筋肝熱目赤　鹿角膠專於補益勝於角而亞於茸</p>
<p>瀉　山豆根苦微甘寒解諸藥毒咽喉腫下諸蟲　黃藥子苦涼瀉火治一切瘡腫毒消癭　土瓜根苦寒瀉諸邪氣熱結治天行熱疾逐水行瘀　綠豆甘寒下氣消腫瀉熱解毒</p>
<p>輕</p>
<p>宣</p>
<p>通　溫滑溫中散結氣治胸痹　白芥子辛溫治胸膈痰冷利氣脅下及皮裡膜外之痰非此不達　萊菔子辛甘平下氣消食除脹止喘熟用　茄甘寒散血消腫寬腸　蒂治腸風下血</p>
<p>補　麋茸甘熱補陽氣治風冷　麋角治同茸差緩膏稍勝　髓補筋脈填髓　人發苦微溫補陰血消瘀治五癃關格　秋石鹹溫滋腎養丹田返本還</p>
<p>瀉　桃花瀉大腸甚捷　巴豆辛熱有毒導氣消積去臟腑停塞大積大滯一切壅塞之症性剛猛銳不可當　乾漆辛溫有毒消瘀血痞結瘕疝殺蟲　斑蝥辛寒</p>
<p>輕</p>
<p>宣</p>
<p>通　苦瓠苦寒主大水面目浮腫利石淋治鼻塞用瓤及子　冬瓜甘微寒治小腹水脹下氣利水　子利水開胃治結聚心經蘊熱　蕓薹辛溫</p>
<p>補　元歸根覆命安五臟潤三焦治骨蒸　紫河車甘鹹溫治一切虛損勞熱安心養血益氣補精</p>
<p>瀉　有毒治一切毒物破石癃血疝　水蛭鹹苦平有毒還惡血　虻蟲苦微寒有毒治同水蛭䗪蟲鹹寒有毒治心腹寒熱血積折傷　蟬鹹甘寒治驚癇夜啼下難產胞</p>
<p>輕</p>
<p>宣</p>
<p>通　一云涼治風遊丹腫　子行滯血破冷氣消腫散結治難產　山楂酸甘微溫消積結氣行一切滯橘核治疝　橘葉治同陳皮並消腫　畢澄茄辛溫</p>
<p>補</p>
<p>瀉　衣　螻蛄鹹寒有毒治水腫胞衣不下性甚急　蜈蚣辛溫有毒治破傷風驚癇去積聚惡血蠱毒屍疰等症　蚯蚓鹹寒治傷寒伏熱陽毒結胸溫病大熱天行諸</p>
<p>輕</p>
<p>宣</p>
<p>通　辛溫下氣消食暖脾胃止諸逆治一切冷氣痿症　藕節澀平消瘀血解熱毒　松脂苦甘溫除邪下氣治癰疽惡瘡疥疾風氣專行血中之風　騏驎竭甘鹹平治滯血諸痛內傷</p>
<p>補</p>
<p>瀉　熱通經絡祛風百頸者良　蟾蜍辛涼微毒治小兒疳積一切有蟲惡瘡破積　蠡魚甘寒治水下大水有殊功　膽治喉痹將死　田螺甘大寒下腹中積熱水氣</p>
<p>輕</p>
<p>宣</p>
<p>通　血聚金瘡折傷　龍腦香苦辛溫上入耳目顛頂下入腎骨利結散熱治喉痹諸塞　安息香辛苦平暖腎氣治心腹惡氣傳屍鬼疰邪氣血邪蠱毒　蘇合香甘溫辟惡去三蟲治瘟瘧</p>
<p>補</p>
<p>瀉　浮腫治噤口痢消渴　雞屎白微寒下氣利水治鼓脹中風風痹轉筋入腹　鴨血鹹冷下砒毒鹽滷毒達氣散結　膽星苦大寒下風痰奇功　牛黃苦涼益肝膽化痰清心利</p>
<p>輕</p>
<p>宣</p>
<p>通　癇　胡桐淚鹹苦大寒治濕熱齒痛風蟲牙痛骨槽風咽喉瘰癧　白膠香辛甘平活血止痛治瘡疽血病風痹等　海桐皮苦溫行經絡達血滯治風痹腿膝痠痛並手足</p>
<p>補</p>
<p>瀉　痰治中藏　豕膽苦寒清心涼肝下大便　人中黃苦寒瀉時行大熱解諸惡瘡毒　金汁治天行時熱新汁解諸毒　人尿鹹寒降火治勞熱熱狂並撲損瘀血產後敗血</p>
<p>輕</p>
<p>宣</p>
<p>通　走注　楝根皮苦微寒治遊風熱毒風疹殺蟲治消渴有蟲取白者用　蕪荑辛苦溫治風膚肢節中風殺蟲治症積　楮葉甘涼治風濕腫脹鼻衄疝濁癬</p>
<p>補</p>
<p>瀉　童子者佳　人中白主鼻衄傳屍勞熱　胞衣水辛涼治小兒丹毒諸熱毒天行熱病發狂發堅等症</p>
<p>輕</p>
<p>宣</p>
<p>通　白皮甘平治水腫入腹　紫荊苦平破宿血下五淋消腫解毒治喉痹經水瘀澀　柞木苦平性善下達治黃疸利濕熱　鬼羽箭苦寒治崩中下血腹滿殺</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　鬼毒蠱疰中惡腹痛產後血殺腹痛　神木治口眼喎斜毒風拘攣腳氣痹病　桑寄生苦平益血脈助筋骨功同川斷　雷丸苦寒治胃熱除皮中熱逐風殺蟲解蠱毒</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　露蜂房甘平有毒治驚癇瘛瘲寒熱邪氣癲鬼蠱疾及一切惡毒　殭蠶鹹辛微溫治急風喉痹散頭風痛風驚癇專能散結行經　蠶砂甘辛溫去風勝濕治瘀　蠐螬咸微</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　溫解血滯治惡血在脅下　蜣螂鹹寒有毒治驚癇疳積膈氣便閉下痢等症　蛙甘寒解毒利水消腫補虛損　白花蛇甘鹹溫有毒治中風及一切風病　烏蛇甘平</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　小毒治中風頑痹不仁風熱毒　蚺蛇膽甘苦寒有毒明目去翳治䘌血痢蠱毒小兒五痔　鯉魚甘平泊水腫腳滿　膽治目赤腫　魚鰾膠甘鹹平治難產赤白崩中</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　產後風搐破傷風精稀等症　蛤粉鹹平化痰治喘軟堅解結消水腫腫毒　蚌粉鹹寒治同蛤粉兼能治反胃　白螺螄殼治同蚌粉　蚶甘鹹平消</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　積聚即瓦楞子　雞內金治泄痢反胃尿血泄精崩帶　夜明砂辛寒治腹中血氣破積聚治目障翳　虎骨辛微熱治筋骨毒風　熊膽　苦寒開氣血通行經絡去</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>宣</p>
<p>通　翳　麝香辛溫通竅開經絡透肌骨性善走竄無所不至　蝟皮苦平有小毒治五痔陰蝕腸風反胃　大小薊甘溫治崩中下血一切血病瘀血作暈行而能補小薊兼治熱毒風</p>
<p>補</p>
<p>瀉</p>
<p>輕</p>
<p>重　金箔辛平生者有毒鎮精神益肺堅骨髓　銀箔治同金箔　赤銅屑苦平續筋骨　滑降香辛溫療折傷金瘡止血定痛　磨刀水利小便　針砂鹹平治腫滿泄熱　浮石鹹大寒化痰下氣治淋　甘草稍利小</p>
<p>澀　禹餘糧甘鹹平治咳逆及下焦陰中之邪　薜荔甘澀平壯陽道固精又能消腫止血　浮麥甘鹹</p>
<p>燥　東壁土甘溫勝濕　砒石辛酸大熱有毒治痰積　威靈仙苦甘溫治風濕通五臟治一切積聚病之有濕</p>
<p>濕　井華水宜煎養陰之劑　天花粉苦寒益津止消渴除腸胃痼熱身熱煩滿　胡麻甘平潤養五臟補氣去風</p>
<p>重　鉛甘寒鎮虛氣墜痰　鉛霜性同鉛專墜痰清熱　鉛丹辛微寒鎮逆墜痰　密陀僧鹹辛平墜痰鐵落辛平鎮肝忌鹽　丹砂甘微</p>
<p>滑　便達莖中　冬葵子甘寒滑治五癃利二便乳閉消水滑胎　嬰子粟甘平一作寒主行風氣逐邪熱丹石毒利二便　蜀葵性治同冬葵兼排膿血惡物　花治帶下目中淫火</p>
<p>澀　寒斂自汗盜汗除勞熱骨蒸　烏梅酸溫澀下氣調中收膈氣斂而能行　木瓜甘酸溫止吐瀉和血行氣去濕治筋諸病收而能行　銀杏甘苦平澀溫肺益氣定喘</p>
<p>燥　者　烏頭除寒濕散風邪破積聚　草烏頭苦辛大熱大毒破寒濕積聚冷痰頑風惡濕性燥烈宜制用　高良薑辛苦大溫治內冷腹痛溫中下氣凡冷癖冷痛皆治</p>
<p>濕　填精髓利二腸療虛傷中用黑者　蜂蜜甘平潤臟腑通大便秘益血脈　牛乳甘微寒補虛羸養心肺潤陽　牛髓甘溫補中填骨髓續絕通經脈</p>
<p>重　寒鎮精神安魂魄入火殺人宜生用　水銀辛寒有毒重墜下行抑痰逆殺蟲　靈砂甘溫養神安魂魄治上盛下虛　輕粉辛冷有毒下痰祛邪　元精石鹹寒</p>
<p>滑　子治同蜀葵　扁竹苦平殺蟲治黃疽諸淋　栝蔞實甘寒潤肺燥除熱滌痰寬胸及腸　海藻鹹寒軟堅行水治一切癭瘰結聚病　昆布鹹寒治同海藻而長於利</p>
<p>澀　嗽縮小便止白濁　蓮子甘平澀補中交心腎固精氣　須治同蓮子　椿樗苦微涼澀燥治赤白濁精滑夢泄溫氣下利血崩腸風下血　棕櫚皮苦澀平止血能使不歸經</p>
<p>燥　炮姜苦大熱守中溫脾胃治一切下焦寒濕產後血虛大熱沉寒痼冷之症　燒酒辛甘大熱大毒消冷積寒氣燥濕痰開鬱結　胡椒辛熱治寒冷大腸寒滑　松節苦溫</p>
<p>濕　羊乳補虛冷潤心肺　豕脂甘微寒潤肺利血脈　乳汁甘鹹涼榮五臟明目安神利關節澤皮膚潤肺血虛有熱者宜之　紅鉛鹹平治氣血衰弱痰火上升及經閉中風不語</p>
<p>重　或曰鹹溫至陰之品治心腹積聚來復正陽丹用之　琥珀甘平安五臟定魂魄化痰血明目磨翳療心痛癡邪清肺　龍齒清涼安魂魄治驚癇</p>
<p>滑　水　大麥平涼滑治消渴除熱寬胸下氣　蕎麥甘平寒降氣寬胸去積滯虛寒者犯之大脫元氣馬齒莧辛酸寒滑散血利腸消腫解毒</p>
<p>澀　絡之血胥得就正非尋常止血之品　金櫻子酸澀平澀精氣止脾泄　蜜蠟甘淡微溫止下痢膿血續絕補中益氣治孕婦胎動下血不止　蟲白蠟甘溫生肌止血定痛補虛續筋接骨</p>
<p>燥　治血中濕病百節久風風虛　乾薑辛溫一作大熱溫中治胸滿咳逆</p>
<p>濕　等症　月經衣治熱病勞復</p>
<p>重</p>
<p>滑　雞距子甘平利五臟解酒毒溫熱止渴去膈上熱與蜜同功　甘蔗甘溫利大腸助脾氣　竹瀝甘寒養陰滑痰滲經絡巾壅潤急燥之火　臚乳甘冷利治氣鬱解熱毒</p>
<p>澀　原蠶蛾鹹溫益精強陰止泄淋取雄者去翅足　鹿角霜治小大便數</p>
<p>燥</p>
<p>濕</p>
<p>重</p>
<p>滑　溺殺蟲治反胃　麻油甘微寒下三焦熱毒結熱滑利二腸</p>
<p>澀</p>
<p>燥</p>
<p>濕</p>

<h1>藥味別名</h1>
<p><u>凡藥有官名有俗名閱者每易淆混今特逐一分別</u></p>
<p>注俗名於官名之下以便查覽而免歧誤</p>
<p>伏龍肝（即灶心土）</p>
<p>銅青（一名銅綠）</p>
<p>磁石（一名吸鐵石）</p>
<p>戎鹽（即青鹽）</p>
<p>葳蕤（即玉竹）</p>
<p>紫參（一名牡蒙）</p>
<p>補骨脂（一名破故紙）</p>
<p>水蘇（即雞蘇）</p>
<p>茺蔚子（即益母草子）</p>
<p>百草霜（一名灶𥤮墨）</p>
<p>密陀僧（銀冶底灰）</p>
<p>石膽（即膽礬）</p>
<p>貫眾（即鳳尾草俗呼管仲）</p>
<p>淫羊藿（一名仙靈脾）</p>
<p>內豆蔻（一名肉果）</p>
<p>蓬莪朮（術音述一名廣朮）</p>
<p>旋覆花（葉名金沸草）</p>
<p>牛蒡子（一名鼠黏子又名大力子）</p>
<p>葈耳子（即蒼耳）</p>
<p>鼠麴草（一名佛耳）</p>
<p>瞿麥（俗名十姊妹一名南天竺用芷殼不用莖葉）</p>
<p>王不留行（一名剪金花禁宮花）</p>
<p>常山（苗名蜀漆）</p>
<p>續隨子（一名千金子土人呼為半枝蓮）</p>
<p>澤漆（即貓兒眼睛草）</p>
<p>茜草（一名過山龍）</p>
<p>石南藤（一名丁公藤）</p>
<p>絡石草（一名鬼繫腰）</p>
<p>昆布（一名綸布）</p>
<p>酸漿草（一名燈籠草）</p>
<p>決明子（此馬蹄決明子形如馬蹄也青葙子亦名決明功用遜此）</p>
<p>天名精（根名杜牛膝子名鶴蝨）</p>
<p>旱蓮草（即鱧腸草一名金陵草）</p>
<p>蒲公英（即黃花地丁）</p>
<p>藜蘆（一名鹿蔥）</p>
<p>茵芋（一作茵蕷）</p>
<p>紫葳（即凌霄花）</p>
<p>栝蔞根（即天花粉）</p>
<p>忍冬藤（花即金銀花一名左纏藤）</p>
<p>薜荔（一名木蓮一名木饅頭）</p>
<p>石胡荽（即鵝不食草）</p>
<p>大麻仁（一名火麻）</p>
<p>萊菔（即蘿蔔子）</p>
<p>薯蕷（即山藥）</p>
<p>雞距子（樹名枳棋）</p>
<p>南天燭（取莖葉搗汁浸米煮飯名青精飯）</p>
<p>白膠香（即楓香脂）</p>
<p>訶黎勒（即訶子）</p>
<p>楮實（即榖樹子）</p>
<p>螻蛄（俗名土狗即打火蟲）</p>
<p>靳蛇（即百花蛇）</p>
<p>骨碎補（俗名猴姜）</p>
<p>地錦（一名血見愁）</p>
<p>罌子粟（即御米）</p>
<p>蘹香子（即大茴香子）</p>
<p>蕓薹（即紫色苔萊）</p>
<p>龍腦香（即冰片）</p>
<p>騏驎竭（即血竭）</p>
<p>沒石子（一名無食子）</p>
<p>檉柳（即觀音柳）</p>
<p>水蛭（俗名螞蝗）</p>
<p>斑蝥（俗名斑貓）</p>
