<header data-type="book">
<h1>傅氏驗方秘方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>傅山</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
</header>

<h1>內科</h1>

<h2>健脾丸</h2>
<p>【編者按】據劉雪崖《仙儒外記》載：平定竇學周，高士也。傅青主數寓其家，嘗為製「健脾丸」，特神效，後太原衛生館取去。</p>
<p>太原衛生館出售「健脾丸」聞名晉中，療效卓著。解放後衛生館老主人去世後，後代改業，參加其他工作。本方係衛生館老主人傳授給山西省中醫研究所白清佐老大夫，臨床運用多年，實踐證明特效。現據白清佐老大夫轉傳，介紹如下：</p>
<p>小米鍋巴（烘乾，二兩）麵鍋巴（烘乾，二兩）長山藥（烘乾，二兩）黨參（八錢）白朮（炒，八錢）蓮子（去蕊，炒，八錢）薏苡仁（炒，八錢）穀芽（炒，八錢）麥芽（炒，八錢）焦山楂（八錢）草豆蔻（八錢）共為細末，煉蜜為丸，每服三錢。</p>
<p>【方解】</p>
<p>本方為健脾除濕、消食去積之劑，主治脾胃素虛，不思飲食，食物難消，精神萎靡，面黃消瘦，脾虛泄瀉等症。本方旨在健脾消積，補而不膩，消而不峻，補中有消，寓消於補，藥性和平王道，處方立法謹嚴，故長久服之，有利無弊。</p>
<p>方中以米鍋巴、麵鍋巴、長山藥為君，皆為日常食品，有健脾之功；白朮、蓮子、薏苡仁均為健脾除濕之妙品；據炮製原則，變「甘」、「淡」為「焦」、「香」，取中焦苦化化陽，有燥濕培土之能，香入脾土，俱沁脾磨運之功也。穀芽消米、麥芽消麵、山楂消肉食之積；更有黨參補中益氣，豆蔻溫脾健運，故食積脾困、或脾胃素虛者，得服此劑，自無不愈也。</p>

<h2>脾腎兩助丸</h2>
<p>【編者按】原太原市大寧堂藥店，自崇禎末年開設，大寧堂的創始人，和傅青主關係密切，本方為傅青主傳授秘方之一，功能健脾暖腎，主治身體虛弱，羸弱自汗，夢遺滑精，不思飲食。銷售多年，著稱於世。</p>
<p>或謂本方係舊有成方，非傅青主所創。經查對《驗方》中有「脾腎雙補丸」，《嵩崖尊生書方》中有「脾腎丸」，而其用藥，均與「脾腎兩助丸」不同。</p>
<p>現據大寧堂「配本」，將「脾腎兩助丸」用藥分量及製法介紹如下：</p>
<p>黨參（去蘆，十六兩四錢）白朮（土炒，四兩四錢）雞內金（土炒，四兩五錢）土元（去足，四兩五錢）川芎（二兩七錢）山藥（土炒，十八兩）黃耆（土炒，十八兩）白芍（土炒，十八兩）小茴香（淡鹽水炒，十八兩）熟地（三十四兩）山萸肉（蒸，十八兩）茯苓（九兩）黑杜仲（四兩六錢）枸杞（四兩六錢）破故紙（淡鹽水炒，四兩六錢）鎖陽（四兩六錢）菖蒲（四兩六錢）鬱金（四兩六錢）陳皮（四兩六錢）製半夏（四兩六錢）冬花（四兩六錢）麥冬（去心，四兩六錢）川貝母（去心，四兩六錢）二丑子（土炒，四兩六錢）牛膝（四兩六錢）蓯蓉（四兩六錢）炙甘草（四兩六錢）君子仁（二兩七錢）澤瀉（一兩八錢）當歸（土炒，二兩七錢）以上三十味，共計二百五十七兩九錢，研為細粉，煉蜜為丸，梧桐子大，每服三錢，日服二次，淡鹽水送下，飯後服。</p>
<p>【方解】</p>
<p>脾胃者，入納腐熟，「後天之本」也。腎者，生化之源，「先天之本」也。苟脾腎功能，一失正常，則百病叢生矣。本方功能培土建中，壯水益火，故主脾腎兩虛之證。蓋脾與胃為表裡，脾旺則胃宏其納受之能；腎與膀胱為表裡，腎強則州都彰，氣化則出也。且脾旺則散精於肺以生金，金旺則水得長生而益腎；土旺則能制水，水暢其流，則化氣而無寒中之變，此概言其補益脾腎之理也。至若脾腎兩虛之症，如不思飲食、食而不化、腹脹腸鳴、大便溏瀉、四肢清冷、面黃消瘦；或遺精、精冷、腰膝痠軟、下肢寒冷，肢體浮腫及五更瀉泄等症，並皆治之。</p>
<p>本方乃六君子湯、六味地黃湯、四物湯合力之加減也。方中黃耆、君子仁、雞內金、炒二丑、小茴香助六君補氣和胃健脾；枸杞、當歸、白芍佐六味以滋肝腎之陰；杜仲、故紙、蓯蓉、鎖陽溫補腎陽；復用菖蒲、鬱金開心舒氣以解鬱；牛膝、土元人血以行滯；貝母、冬花、麥冬滋肺陰而清金。雖名脾腎兩助，實則母子互因五臟兼補、氣血兼顧之劑，而其主旨則仍在於脾腎也。夫治病應求其本，脾腎乃生化之根，功能增強，生活力、抵抗力亦必增強，自能抵禦外邪，祛除百損。本方補陰而不膩滯，助陽而不辛烈，故常服久服而無弊端也。</p>

<h2>和合二仙丸</h2>
<p>【編者按】太原市大寧堂出售之和合丸和二仙丸，郝樹侯《太原史話》謂為太原特效藥之一，係傅青主所傳授。主治產婦和男子中風中寒，腰腿疼痛，手足麻木，或痿軟不能起床等症。現據大寧堂《配本》，將和合丸及二仙丸用藥分量及製法介紹如</p>

<h2>和合丸</h2>
<p>黑木耳（六十兩）蒼朮（十兩）生川烏（二兩）生草烏（三兩）生沒藥（二兩五錢）生乳香（二兩五錢）杜仲炭（二兩）牛膝（二兩　）</p>
<p>以上八味共計八十四兩，共研細粉，水泛為丸，每次服二錢，日服二次，白水送下。婦女先服二仙丸十二兩，一月後再服和合丸，至病愈為止。男用只服和合丸。忌白酒、蔥蒜、椒韭辛辣，孕婦忌服。</p>

<h2>二仙丸</h2>
<p>黑木耳（六十兩）蒼朮（米泔水製，十兩）生川烏（二兩）生草烏（二兩）杜仲炭（二兩）牛膝（二兩）升麻（二兩）神麯（二兩　）</p>
<p>以上八味共計八十二兩，製法、功能、主治、用法、用量同和合丸。</p>
<p>【方解】</p>
<p>和合丸和二仙丸，均為和血搜風、除濕祛寒之劑，專治婦女產後及男子中風中寒，腰腿疼痛，手足麻木，拘攣痿躄，行步困難，或左癱右瘓，不能下床等症。</p>
<p>按本草，黑木耳甘平有小毒，善於理血，主婦人月水不調，崩中帶下，癥瘕積聚，並主男女衄血瀉血、痔漏腸風等症，且能宣腸胃，和五臟，排毒氣，益氣血。古人云：「風、寒、濕三氣雜至合而為痹也。」又云：「治風先治血，血行風自滅。」本方重用木耳，取理血治風之意也；川烏、草烏大辛大熱，搜風散寒，攻堅積，祛寒痰，舒利關節；然其性峻烈，用之過量，常常引起嘔吐、抽麻等反應，故配以大量木耳，緩其急暴之性。蒼朮益氣除濕，則風、寒、濕、痹自無不愈之理，引用杜仲炭、牛膝，使藥力下達腰腎及下肢，故能治腰腿風寒濕痹，氣虛作麻，血瘀作木等症也。</p>
<p>和合丸中加乳香、沒藥，意在增強其活血行瘀、舒筋止痛之效。然婦女新產之後（或平日血虧體虛），氣血大虛，不宜驟用乳香、沒藥，故二仙丸中去乳香、沒藥而加升麻、神麯，意在升發脾胃，使脾胃健運氣血充足，然後改服和合丸也。</p>
<p>方中川烏、草烏大辛大熱而有毒，乳香、沒藥活血行瘀之力較迅，均不宜於孕婦，故孕婦忌服，使用者尤當提起注意。</p>

<h2>消利濕氣腫脹秘方</h2>
<p>【編者按】本方係山西省文物管理委員會所藏的《傅青主遺墨寶跡》中，傅青主手書的秘方，原名為「消利濕氣腫脹神效秘要方」。經山西省中醫研究所商得省文管會同意，曾在該所內部資料《中醫研究通訊》1962年第5期發表。</p>
<p>人參（去蘆）熟附子（製到）厚朴（去皮生薑製到）鱉甲（用奶酥油，即酥牛乳，炙到各一錢）好甜真桂心　用捲筒　雄雞矢白（焙研，各二錢）陳皮　海藻（洗去鹹鹽水，各五分）莫茱萸（生薑浸）乾大蝦蟆一個，用酥油炙黃了，去頭足腸垢，空心水煎熱服，不過三五劑即愈，平安。</p>
<p>【方解】</p>
<p>本方為傅青主先生治濕氣腫脹之經驗神效方，寒熱並用，攻補兼施，不偏不倚，具協調之妙，實王道之劑也。故對濕氣腫脹之疾，示以「平安」二字，宜放膽用之，不必多用顧忌也。至於對中醫所謂氣臌是否有效，尚有待臨床上之證明。</p>
<p>方中以蝦蟆為君，性味辛寒，除邪破症，善治堅血癰腫，更能利水氣，消通身腫脹（《驗方新編·臌脹浮腫》條下收載之驗方中，用蝦蟆者，凡四見）。鱉甲入肝脾，滋陰血而消痞症，亦為治臌脹之妙品。二味俱用酥炙者，則更具妙意。《本草述鉤元》論「酥」曰：「味甘，氣微寒。補五臟，益虛勞……利大小腸，能除腹內陳垢，又追毒氣發出毛孔間。」雞矢白性寒，通利二便善治心腹臌脹。莫茱萸、厚朴，溫通脾氣以消脹滿。然水濕之排出，除皮毛外，必賴膀胱和腎之作用，故用桂心化膀胱之氣，附子啟命門之火。更加人參葆和胃氣，坐鎮中宮。陳皮行氣，海藻行水軟堅以為引，水濕自能排出，濕氣腫脹無不消失矣。</p>

<h2>口眼歪斜中風痰症秘方</h2>
<p>【編者按】本方係傅青主所遺而由傅氏家藏，存晉祠文物保管所。原名為「（傅氏）家藏秘方，專治口眼歪斜，中風痰症」。</p>
<p>乾山藥（四錢）半夏（薑製，四錢）細辛根（遼東，一錢）膽南星（一錢）加生薑（去皮，五片），水二鍾，黃酒二鍾泡到，煎極滾服。</p>
<p>外治神效方：</p>
<p>生半夏、生南星等分為末，以小米湯沫調勻，左歪搽右，右歪塗左。</p>
<p>【方解】</p>
<p>本方為治脾濕痰阻，陽明之經急，致口眼歪斜之妙方也。</p>
<p>方中半夏和胃氣燥脾濕，消痰滿開痰結；山藥益氣補脾，脾健濕痰自化；膽星除痰清熱；細辛潤腎消飲；又得生薑宣通脾胃和解表裡；更有黃酒通行血脈、榮養肌膚，則濕痰自無留止之地矣。脾濕生痰，致陽明之經急，而口眼喎斜者，得此扶土燥濕，祛痰通竅，自可全愈矣。</p>
<p>半夏、南星為末外敷有消陰結、散血滯、消腫止痛之效，故用治口眼歪斜之中風症為妙也（按：此二味外貼。皮膚每起紅疹，不必疑懼，繼續貼用，決無害也）。</p>

<h2>噎膈反胃方</h2>
<p>【編者按】本方係蘇州市文物管理委員會所藏之傅青主手書藥方。原無方名及主治，照片曾刊《中醫研究通訊》1962年第3期，現據照片錄如下：</p>
<p>熟半夏（四兩）大白蘿蔔一個打碎，共煮成糊；人參（二兩）薑黃（一兩）射干（酒炒，一兩），共細末，用石腦油一半，牛沫涎一半為丸，梧子大，真好硃砂衣了，空心、晚飯後，生薑湯下七八十丸。</p>
<p>【方解】</p>
<p>按：《金匱》大半夏湯治噎膈、反胃吐食，方用人參、半夏，長流水入蜜揚二百四十遍，煎服。陳修園解本方曰：「張石頑云，膈咽之間，交通之氣不得降者，皆衝脈上行，逆氣所作也。衝脈不治，取之陽明，仲景以半夏降衝脈之逆，即以白蜜潤陽明之燥，加人參以生既亡之津液，用甘瀾水以降逆上之水液，古聖之經方，唯仲景知之。」</p>
<p>本方亦用半夏為君以降衝脈之逆，以石腦油代白蜜潤陽明之燥，加入參以生既亡之津液。先生更以射干、薑黃、白蘿蔔助半夏之力以降濁陰，射於更能利咽喉以消胃脘之癰，以其能消瘀血也。尤妙加牛涎，考諸本草，牛口涎治反胃嘔吐，水服二匙，終身不噎，亦助人參以生既亡之胃津也。然先生未講方義，此解未知符合先生之原意否。</p>
<p>附：牛口涎取法，取鹽麵一把，抹在牛舌上，口涎即下，以器盛之。或就牛回嚼時，急取其口中之草，以新汲水漬之，去草渣，用汁，亦得。</p>

<h1>婦科</h1>

<h2>臨產、產後神效經驗方</h2>
<p>【編者按】此兩方係北京太醫院劉氏世德堂刻傳，傅青主臨床證明之經驗方，存《傅青主遺墨寶跡》內，山西省文管會藏，曾刊於《中醫研究通訊》l962年第4期。</p>

<h2>臨產經驗要方</h2>
<p>川芎　熟地黃（各三錢）益母草（三錢）當歸身（酒浸透，五錢）元胡索（醋製）　香附米（醋炒，各一錢）枳殼（麩子炒，八分）生甘草（三分　）</p>
<p>共八味水泡三大茶鍾，煎一鍾，加黃酒少許調勻，溫服，渣再服效。</p>
<p>【方解】</p>
<p>臨產要方者，產時備急之劑，防難產也。若平素易產者，則無需服藥，順其自然，時至自下。若難產者，可用以催生。然世傳催生之方，藥味滑利峻猛，難期至善。臨產常用之劑，公推佛手散（當歸、川芎）為最良，此方即在佛手散基礎上加氣分藥，蓋取以氣帥血，氣行血隨之意，則無難產之患也。</p>
<p>方中用川芎、熟地、益母草，尤重用歸身為君，意在行氣活血，氣行血旺，猶河中水漲，舟行自利矣。然恐歸身、熟地補血滋膩，故方中又加元胡、香附、枳殼諸行氣之品而輕其分量。又引用黃酒以行藥力，取其輕靈活潑，運胎順產之意也。臨盆將產之時，得此潤澤流利之品，達生自順也。</p>

<h2>產後極效要方</h2>
<p>川芎　益母草（各三錢）熟地黃（二錢）玄胡索　香附米（俱用醋炒，各一錢）當歸（全，五錢）枳殼（麩炒，八分）生甘草（三分）生楂肉（一錢五分）澤蘭葉（八分　）</p>
<p>共十味，水泡三大茶鍾，煎一鍾，亦加上黃酒少許，調勻溫服，渣再服。用好糯酒效而有力。此二方已經驗效，最妙平穩。</p>
<p>【方解】</p>
<p>本方乃前臨產要方中加山楂肉、澤蘭葉也。產後氣血大虛，理宜用補，但恐惡露未盡，峻補須防壅滯，故於補血中而兼行瘀，則本標兼顧，統治道之全矣。產後少服本方一二劑，有去瘀生新之功，可防瘀血為患，自無瘀血攻痛、瘀血暈厥、惡露不行、血塊作痛之患矣。若產後腹痛、暈厥、狂亂，因瘀而致者，亦可使用本方。方中調氣行瘀之品雖多，但分量極輕，誠補中有瀉、威而不猛之劑也，故曰：「最妙平穩。」</p>
<p>方中用川芎、當歸、益母草，善生新血而行瘀滯；山楂肉、澤蘭、元胡、香附、枳殼，理氣和血，則去瘀生新之力更強。又有熟地補血，甘草和中，引加黃酒以行藥力，故為產後調理之良方也。</p>

<h2>血暈止述散</h2>
<p>【編者按】本方為大寧堂出售之成藥，主治產婦分娩後，餘血上衝，兩眼昏暗，耳鳴身熱，不省人事，係傅青主所傳秘方之一，聲譽素著，家喻戶曉，郝樹侯《太原史話》謂為太原市特效藥之一。現據大寧堂《配本》介紹如下：</p>
<p>紅娘（二兩）當歸（五錢）白芷（五錢）川芎（五錢）乳香（五錢）沒藥（五錢　）</p>
<p>共研細麵，清茶送下，每服三錢。</p>
<p>【方解】</p>
<p>本方行瘀血、通氣閉，上行頭面，清神明，故為產後餘血上衝、敗血搶心、目暗耳鳴、暈厥眩昏，不省人事之特效妙方也。本方雖為破血氣、行瘀滯之劑，然產後瘀血不盡，則百病叢生也。且用量較輕，每服三錢，乃穩妥平安之劑。經云：「有故無隕，亦無隕也。」有則受之，用得其宜，正合經旨，何可疑乎？</p>
<p>方中以紅娘（又名樗雞）為君，通血閉、行瘀血；乳香、沒藥行氣帥血；當歸、川芎去瘀生新；最妙在於白芷，蓋白芷專入陽明，陽明乃多氣多血之經，其脈營於面，凡血暈者皆血苑於上，逆於陽明之經，故用白芷單刀直入，且引諸藥上達頭面，以祛在上之瘀滯，暈厥自愈，神識自清矣。飲藥以清茶者，以其能清心寧神也。</p>

<h2>癸日丸和烏雞丸</h2>
<p>【編者按】本方為傅青主傳世的婦科成藥，藥名雖不相同，而所用藥品和主治則無差異，行銷三百年，著稱於世。原大濮府五福堂所售者名烏雞丸，原城隍廟街郭姓所售者名癸日丸。</p>
<p>川大黃（一兩五錢）當歸（三兩）紅花（三兩，以上三味俱用陳醋浸透）　巴豆（三兩，去油）</p>
<p>共為細末，煉蜜為丸，梧桐子大，每服三錢，白開水送下。</p>
<p>【方解】</p>
<p>本方為治產後瘀血腹痛、不思飲食及產後惡血不行所致之各種疾患，為迅速攻下之劑，祛瘀蕩實之功頗強，故於臨床上使用，必須審其確為瘀血積聚者方可用之。如非瘀血而屬虛寒之腹痛，不但無效，反而有害，不可不慎也。</p>
<p>婦女產後，惡露不行，瘀血留止，最易導致心腹攻痛、血暈、發狂等症。方中大黃入手足陽明，盪滌多氣多血之腑，攻瘀行滯，收釜底抽薪之效；紅花、當歸均為活血行瘀之品；三味俱用醋浸，則別具妙意。蓋醋入肝走血、和胃理氣，主消癰腫諸毒，除症塊堅積，散結氣及心腹中酸水痰飲，治婦人心痛血氣，併產後血暈。又得巴豆迅利者導氣消積，使惡血積滯一鼓而下，取速戰速決之意，非緩和之用也。一戰之後，積瘀得下，滯痞得行，脾胃調和，氣血流暢，自無疾苦矣。</p>

<h2>乳癰驗方</h2>
<p>【編者按】本方為傅青主驗方之一，流傳於西村一帶。白清佐老大夫在臨床上屢用屢效。《中醫研究通訊》1962年第6期，曾介紹其用本方治療乳癰經驗。傅青主所謂「諸瘡內托，尤愚所長」，本方即其驗證之一。</p>
<p>金銀花（八兩）燒酒（八兩　）</p>
<p>水煎服，輕者二付愈，重者三四付愈。</p>
<p>【方解】</p>
<p>金銀花味甘，氣微寒，主寒熱身腫，解散熱毒，為外科瘡腫之要藥。以其味甘而氣微寒，不傷胃氣，故大量用之而無流弊也。燒酒性善走，通行經絡，宣通血脈，行藥力，開鬱結。其性大熱，似與瘡腫不宜，然經煎熬之後，辛烈之氣已失大半，借其上騰之性，浮載藥力，使達上焦，故治乳癰尤宜也。</p>

<h2>白帶驗方</h2>
<p>【編者按】本方係西村一帶流傳之傅青主驗方，山西省中醫研究所白清佐老大夫運用於臨床，療效卓著，和平穩妥，簡便易行，誠良方也。</p>
<p>雞蛋（4個）蕎麥麵（四兩）將雞蛋打入麵內，在火上炒為老黃色，不要炒焦，然後研成細麵，早晚各服四錢。</p>
<p>若白帶而兼腹痛、腹脹者，用小茴香熬水為引；腹不痛不脹者，以鹽水為引。輕者一料即愈，重者三料全愈。</p>
<p>【方解】</p>
<p>語云：十女九帶，言其發病之多也。本方藥品簡單，易制易得，尤其在廣大農村最宜推行，且藥性和平，不寒不熱，有補正祛邪之功，無偏倚峻厲之弊，平淡中而顯神奇之方也。</p>
<p>《本草述鉤元》云：「蕎麥，味甘酸平，氣微寒。降氣寬腸，煉五臟滓穢，磨積滯，療白濁白帶，脾積泄瀉。」又論雞卵曰：「卵白像大，其氣清，其性微寒。卵黃像地，其氣渾，其性溫，故白能清氣，治伏熱，黃能補血，全卵則合而有之。」蕎麥治帶，雞蛋補虛，然二味均有寒性，與脾虛帶脈失約之白帶證不宜，故二味同炒，殺其寒性，既有健脾補虛之功，又有除濕止帶之效也。</p>
<p>按：服藥期間，忌食生甘草、大棗，服之令人脹滿。</p>

<h1>外科</h1>

<h2>頭上浸淫瘡膏</h2>
<p>【編者按】本方為徐維瞻傳，傅氏家藏秘方之一，存晉祠文物保管所，原名為「頭上浸淫一切瘡效膏」。</p>
<p>香油（一兩）黃蠟（三錢）官粉（三錢）白蘞（一錢）銅綠（三分）頭髮（一大摶）五倍子</p>
<p>先熬血餘，然後入蠟化之，再和諸藥為膏，外敷用。加大黃、乳香、雄黃更妙。生甘草、百部。</p>
<p>【方解】</p>
<p>本方為治浸淫瘡和一切瘡瘍之外敷藥膏。浸淫瘡初生，蔓延不止，瘙癢難忍，或流黃水，浸淫成片，所謂濕毒、濕疹、黃水瘡之類是也。本方辛寒酸收，有清熱解毒，除濕殺蟲之效，是為治療濕毒浸淫之妙劑也。</p>
<p>方中官粉即鉛粉，味甘辛，氣寒涼，善治惡瘡癰腫瘻爛、乾溼疥癬、瘡中出水等症；白蘞味苦辛微甘，氣微寒，散火毒，主治癰腫疽瘡，散結止痛；銅綠氣味酸平，有殺蟲之效，能治惡瘡、疳瘡。五倍子酸收除濕，血餘（即頭髮）苦溫，主大風厲瘡、濕瘡，並能引藥力深入髮根，故對頭上浸淫惡瘡有卓效也。</p>
<p>加大黃者，因能清熱解毒；乳香能生肌止痛；雄黃能除濕殺蟲；生甘草、百部有解毒、殺蟲、收斂之功也。</p>

<h2>濟生館特效藥</h2>
<p>【編者按】據郝樹侯《太原史話》載：太原市東米市衛濟生館出售之濟生膏、九龍膏、拔毒膏、如神丹四種外科成藥，為太原市之特效藥。濟生館係李光遠所創始，原籍山東，為「走方醫生」，為人豪邁。來太原後，結識了傅青主，幫助他開起濟生館來，為書濟生館額；井將出售成藥加以改進。「濟生膏」專治跌打損傷及無名腫毒等症；「九龍膏」專治七十二種疔毒；「拔毒膏」專治癰疽發背、瘰癧鼠瘡等症；「如神丹」是外敷藥，有去腐生肌功能。</p>
<p>濟生館四種外科成藥，雖然井非傅青主所創，但在改進上傅青主卻有很大幫助，特將濟生館秘方加以介紹，供外科臨床上參考。</p>

<h2>濟生膏</h2>
<p>紫荊皮（八錢）獨活（八錢）白芷（八錢）赤芍（八錢）菖蒲（八錢）川大黃　黃芩　當歸　桃仁　黃連　紅花　黃柏　蘇木　肉桂　防風　千金子　荊芥　牛子　羌活　麻黃　細辛　半夏　牙皂　烏藥　貝母　花粉　黃耆　銀花　連翹　山甲　柴胡　苦參　薑蠶　白附子　鱉甲　全蠍　草烏　天麻　大戟　胡麻　牛膝　防己　白芨　白蘞　海風藤　血餘　以上各三錢二分。蜈蚣（二條）蛇退（一條）蝟皮（三錢二分）槐枝　柳枝　上藥用大磨油四斤入鍋內熬至滴水成珠，藥枯過去渣。將鍋用爛紙擦淨，將油的數量稱準，再將油入鍋內。油熱，將飛過黃丹，用丹一兩，用油二兩，一手下丹，一手用槐柳枝不住攪勻，須要火大。奪下火，再下細藥：乳香（三錢二分）沒藥（三錢二分）血竭（二錢）雄黃（二錢）上藥研麵，先下此四味，再下後七味香藥：</p>
<p>麝香（三錢）沉香　降香　雲香　丁香　藿香　木香（各一兩五錢　）</p>
<p>上藥七味，共研細麵，入瓶內，將瓶口用黃蠟封上，每一料用細藥一兩，此七味，入鍋內攪勻，再下潮腦錢二。</p>
<p>【方解】</p>
<p>本方藥味雖多，而以祛風行瘀為主，解毒宣通為輔，故能治跌打損傷，男婦老幼中風、中濕、中寒之肢體痹痛，以及一切無名腫毒之症。</p>
<p>中風、中寒、中濕，邪阻經絡者，得諸經風藥，則可宣之散之；痹痛日久邪入血分者，或跌打損傷，瘀血留滯經絡者，得諸血藥，則能通之行之；諸邪鬱久不散，或鬱熱入血而發癰瘍者，得諸藥宣散之、通行之、寒折之，則瘀血邪毒自無留止之地，宿恙沉痼亦隨之而愈矣。</p>

<h2>拔毒膏</h2>
<p>當歸　赤芍　黃柏　生地　川大黃　花粉　皂刺　白芨　全蠍　白芷　木通　甘草　白蘞</p>
<p>共藥十三味各八錢，另血餘不拘多少。</p>
<p>上藥用大磨香油四斤，用文武火熬至滴水成珠，去渣，將鍋擦淨，將油再入鍋內，先下黃丹，用丹一兩，用油二兩，槐柳條攪勻，再下黃蠟二兩，須用火大。奪下火，再下細藥：</p>
<p>乳香　沒藥　血竭　兒茶　白降丹</p>
<p>共為細麵各八錢</p>
<p>【方解】</p>
<p>本方為癰瘍癤腫之外貼膏藥，有清熱解毒、涼血消腫之功，用於癰瘍癤腫初起，赤腫焮痛，七十二種瘡毒屬陽症者為宜。</p>
<p>瘡瘍癤腫多由經絡中毒熱蘊蓄而成，方中大黃、黃柏、兒茶、白蘞、花粉，均俱清熱解毒和除濕消腫之效；當歸、赤芍、生地活血除熱以和營；乳香、沒藥、血竭、血餘活血行瘀以定痛；全蠍、白降解瘡毒；白芷辛散宣散毒邪；木通導下清熱利濕；甘草清熱解毒調和諸藥；皂刺散腫潰堅；白芨生肌定痛。凡瘡瘍陽症，得此清熱和營、解毒消腫之劑，自無不宜。陰症癰瘍或日久致虛，瘡口黑紫坍陷者，不宜採用此膏。</p>

<h2>九龍膏</h2>
<p>巴豆（五錢）全蠍（五錢）甘草（五錢）當歸（五錢）赤芍（五錢）大黃（五錢）白芷（五錢）皂刺（五錢）白蘞（五錢）蜈蚣（十條　）</p>
<p>再下細藥：</p>
<p>乳香（五錢）沒藥（五錢）兒茶（五錢）血竭（三錢　）</p>
<p>本膏煉油製膏諸法與濟生膏、拔毒膏相同。</p>
<p>【方解】</p>
<p>此方亦為癰瘍外用膏藥，與拔毒膏為一陰一陽，拔毒膏涼解陽症熱毒，九龍膏辛熱解陰症寒毒。拔毒膏宜於癰瘍初起未潰之前，九龍膏則宜於潰後、腐肉不落、瘡口久不收斂者，以及癰疽發背、瘰癧鼠瘡等症。</p>
<p>方中巴豆味辛、性熱、有大毒，外用去腐生新拔毒；蜈蚣味辛、性溫、有毒、去惡血、殺三蟲、祛風解毒；白芷辛溫、宣解毒邪；以上三味皆辛熱之品，得大黃、白蘞、兒茶三味寒以制熱，使成協調之妙。歸、芍和血；乳、沒、血竭祛瘀；全蠍祛風解毒。本膏拔毒去腐、和血生肌而無過寒、過熱之害，是為外科之良方也。</p>

<h2>如神丹</h2>
<p>水銀（一兩）硃砂（五錢）雄黃（五錢）黑礬（五錢）白礬（二兩）火硝（四兩　）</p>
<p>用二礬一硝，兌正分量，不論斤稱，用銅鍋鐵搓炒化，先化成水，再炒成乾塊黃色，就不用炒。倒出銅鍋外，用兌臼搗成細麵。炒成此藥定要過年用。</p>
<p>上藥先將水銀、硃砂、雄黃三味研成麵，再將炒下的二礬一硝用四兩在一塊研麵，裝在罐內，將罐外抹上紙筋泥，口上用熟石膏細末醋調封固，用火焙乾，底上再上泥，再上木炭火升煉為妙。</p>
<p>【方解】</p>
<p>本方為拔毒去腐生肌之劑，治一切瘡瘍潰後，或瘡口堅硬肉黯紫黑者。</p>
<p>方中水銀、硃砂，雄黃三味均為解毒要藥，二礬去腐燥濕，火硝清熱解毒，諸藥合用，俱有解毒去腐之功，對於外瘍潰後，腐肉未去者，可用以去腐，腐去自能生新矣。</p>
<p>本方藥味與《金鑑外科》紅升丹相同，分量上稍有差異，煉製法也有差異。</p>

<h2>瘙癢驗方</h2>
<p>【編者按】本方為傅青主驗方之一，流傳於西村一帶，對各種瘙癢，用本方煎洗，確有卓效。陰戶癢者，熏洗亦效。山西省中醫研究所白清佐老大夫用本方治滴蟲性陰道炎，臨床證明，效果亦良好。</p>
<p>花椒（一兩）蘄艾（一兩）防風（一兩）老蔥（十根）水煎洗</p>
<p>【方解】</p>
<p>風濕鬱於皮膚，常發癢腫、風疹之疾。方中花椒、蘄艾除風冷逐濕痹；防風治三十六種風，除經絡中濕；大蔥宣通上下之陽氣，發散表邪。故毛竅閉塞、風濕鬱結者，得此宣散之湯洗之，腠理宣通，表邪自解，風濕癢腫則愈。</p>
<p>婦女陰癢帶下，多由濕鬱所致，故用本方熏洗，亦有卓效。</p>

<h2>燙火傷驗方</h2>
<p>【編者按】本方為西村一帶流傳傅青主驗方之一，白清佐老大夫臨床證明，本方有止疼、散熱、解毒作用，效果良好。</p>
<p>新石灰取油（用清水在盆內攪數百下，沉澱後，水面浮出一層，名石灰油），放在碟中，加上好香油，隨加隨攪，即成稠液，塗敷傷處。</p>
<p>【方解】</p>
<p>石灰能止金瘡血，生肌長肉，散血定痛。加香油調成藥膏。塗敷燙火傷，未潰者，可消腫定痛；潰而無皮者，能止血定痛、生肌長肉。香油調膏，塗敷傷面，可潤澤皮膚，減少痛苦，並能減少感染。</p>
<p>按：本方初見於《肘後方》用治燙火傷；《集簡方》用以治杖瘡腫痛。</p>
