<header data-type="book">
<h1>景景室醫槁雜存</h1>
</header>

<h1>氣化說</h1>
<p>混沌初開，氣分陰陽，天氣輕清，地氣重凝，人物亦感氣而生，三才並立。人類伊始，氣化之也，兩間既有人類，先由氣化，繼由形化，父精母血，子孳孫生，然必歷十閱月，備受四時陰陽之氣，而後免懷，是成胎全形，仍關氣化也。免懷而後，鼻受天之氣，口受地之味，其氣所化，宗氣、營、衛，分而為三。由是化津、化液、化精、化血，精復化氣，以奉養生身，《內經》所謂：「味歸形，形歸氣，氣歸精，精歸化，化生精，氣生形。」精化為氣者，是養生以盡天年，全恃氣化也。若夫植物、動物，莫不受大地陰陽之氣所化而生，與人受天地之氣所生而成，正復柑同，故以之治病，其中有息息相關之理焉。</p>

<h1>以藥治病關乎氣化說</h1>
<p>萬物並生於盈天地間，形形色色，無往而非四時陰陽之氣所感化而成，春為風氣、秋為燥氣、冬為寒氣、夏為熱氣、季夏為濕氣。而又風即是氣，氣之凝聚者曰風，風之和緩者曰氣，故書云：「大塊噫氣，其名曰風。」人亦天地間萬物之一，得春令之氣以生肝膽，得夏令之氣以生心小腸，得季夏之氣以生脾胃，得秋令之氣以生肺大腸，得冬令之氣以生腎膀胱。四時之氣，遞擅而全備，故胎必十月而始成。誕生以後，即吸受五氣，得其和平以養生，而又吸受五氣造乎偏頗以成病。病也者，不過寒熱有所偏頗，燥濕不得和平耳。天地間金石草木鳥獸魚蟲，亦得四時陰陽之氣以生，惟皆偏而不純，故取以為藥，乃偏以治偏之法，以寒氣之藥化病氣之熱，以熱氣之藥化病氣之寒，以燥氣之藥化病氣之濕，以濕氣之藥化病氣之燥，而又以升氣之藥提氣之下陷，以降氣之藥順氣之上衝，以散氣之藥達氣之裹結，以斂氣之藥收氣之不攝，是皆偏以治偏，俾病氣之偏者，仍歸於和平而不復偏。我中華用氣化以醫病，其道本法乎天氣地氣之變遷。病氣藥氣之制伏，是藥之所以能治病者，其原理本乎四時陰陽而來，乃貫徹大人一致之學，若離乎陰陽之氣化而言治病，視人如器物然，縱解剖極細，何能攸往咸宜哉？</p>

<h1>論人生體氣實分四種</h1>
<p>《禮記·月令》篇：「中央土，其蟲倮。」注曰：「人為倮蟲之長。」《素問·五常政大論》篇：「倮蟲靜。」注曰：「倮蟲謂人及蛤蟆之類。」蓋濕熱生蟲，人亦倮蟲之一，而為濕熱所生而成者矣。濕也，水也，陰液也，不類而類者也。熱也，火也，陽氣也，不類而類者也。是濕熱體氣平者無病，太過則病，偏勝亦病，其狀面色深黃，潤而有光，唇色紅紫而不枯燥，舌質紅，舌液多，舌苔厚膩而黃，或罩深黑色於上，大便時溏時結，而深黃氣臭，小便黃，此其據也。若濕從熱化，偏於燥熱之體氣，其狀，面色干蒼有光，唇色深紅，或紫而燥，舌質深紅，捫之糙，舌形瘦，舌涎少，舌苔色深黃而薄或帶紅，大便乾燥，色深黃氣臭，小便短赤，此其據也。若熱從濕化，偏於寒濕之體氣，其狀面色㿠白，或晦黃，唇色淡白，或帶淡黑，舌質淡，舌形胖，舌涎多，舌苔薄而潤，或罩淡黑色於上，大便溏薄，色淡黃氣腥腐，小便清長，此其據也。若燥熱而陰損及陽，寒濕而陽損及陰，則變為寒燥體氣，其狀面色痿白而發乾，唇色淡白而枯燥，舌質淡，捫之澀，舌形瘦，舌涎少，舌苔薄白而不潤，大便於結而色淡，氣不臭，小便清而短少，此其據也。惟其偏勝之能成病也，故必燥濕得中而為潤，寒熱得中而為溫，斯為無病。醫家必須於此四種體氣，先為辨別，蓋因嗽瘧瀉痢風勞鼓膈等等之為病，寒熱痛痹汗吐痙暈等等之為證，只能察邪之所在，屬何臟何腑，為血為氣，是經是絡，而不能別寒熱燥濕，以其盡能致病耳。或曰：「天有五氣，人身應之，子獨遺風何耶？」曰：「風即氣也，寒氣、熱氣、燥氣、濕氣，言四者而風包於中，風所以稱百病之長者，非謂風邪之獨劇，乃謂諸邪盡化氣而乘，故曰人在風中猶魚在水中，又曰人在氣交之中耳。」或曰：「信如子言，虛實可不分乎？」曰：「辨之者前賢有陰虛陽虛辨，氣虛多濕血虛有火辨諸作。茲姑勿論，即就上列四者言之，亦有可辨，濕熱者水火相等，陰陽互抱，氣液並足，平則無病。即因太過偏勝而致病，實症也。燥熱者，陽氣有餘，陰液不足，偏於陰虛也。寒濕者陰液有餘，陽氣不足，偏於陽虛也。寒燥者，陰液陽氣兩虛也。」或曰：「信如子言，不且以為濕即陰液，熱即陽氣乎？」曰：「試取譬之，守律之兵肆劫之匪，視其所為以變易，化為精微，壅為濕熱，亦視其所為以變易，初非二物，我故曰不類而類也。」或曰：「信如子方，表裡何以分乎？」曰：「表邪必有發熱惡寒，或更頭痛身痛見證，本無寒熱而忽患寒熱，本不頭痛身痛而忽患頭痛身痛，與內傷之時愈時發素有是疾者不同，知為外感。而欲知所感何邪，仍可於上四者辨之，天人相應，氣自感召，體寒者易感寒，體熱者易感熱，體燥者易感燥，體濕者易感濕，內外本相因也，再參時令，再參天氣，再參汗渴，病能遁情耶？」或曰：「然則世何以有病證錯雜，如寒包火、暑包寒、上熱下寒、下熱上寒、外燥內濕、內燥外濕、腎寒肝熱、木燥土濕者乎？」曰：「此其變也，僕舉其常者，先能知其常，乃能知其變。錯雜為病，於上所列四端，亦必錯雜互見，仍可於此不符合者而推詳之。不然，如四物湯、烏梅丸等之溫涼並用；清燥湯、虎潛丸等之潤燥並用，余豈不知也哉？此惟神而明之，乃能制是方，亦惟神而明之，始能用是方。初非寒熱混用、潤燥混用，與夫攻補混用、升降混用、斂散混用、滑澀混用、通塞混用者，所得而藉口，試取譬以明之，寒熱燥濕猶四方也，上列四種猶四隅也，孰多孰少猶路之或遠或近也，僕惟指點人以大道而已。大道之岐復有小道，則在人之就證詳求也。熱以治寒，寒以治熱。偏寒偏熱，歸之於溫。潤以治燥，燥以治濕。偏燥偏濕，歸之於潤。歸乎中，則病自愈。慎勿正治之法尚未明而反誇談從治也，誤藥而四者之中有一者，造乎其極，途窮路盡，病即休矣。」</p>
<p>陸成一曰：「論中引《內經》注蛤蟆之類，蛤非魚蝦，即今田中蝌蚪蟲，乃人精所化；蟆為田雞、蟾蜍，又為蝌蚪所化，故蟆又總稱為蛤蟆，與人本屬同類一氣所感應，故痘為先天之欲毒，楊梅瘡為後天之欲毒，兩病愈後，恐其餘毒未盡，用活蝌蚪十餘個，搗爛酒沖服，能將余痘余瘡再發一層，乃永無後患矣。</p>

<h1>論病有對待藥亦有對待</h1>
<p>有熱病即有寒病，有濕病即有燥病，以及表裡虛實，莫不對待，故無論何病，皆有寒熱燥濕、表裡虛實之異，執一書而謂道盡，於是，執一方而謂治無他法者，未能透澈至理者也。是以用藥之誤，每誤於病狀相同，同一肝風抽搐也，而虛甚與熱極異；同一肺勞咳嗽也，而濕盛與火灼異；同一胃虛不食也，而陽虧與陰虧異；同一腹滯作痛也，寒鬱與熱鬱異，以及血有寒瘀、熱瘀；便有陽秘陰秘，諸如此類，不勝枚舉。何以辨之，亦先辨諸體氣而已。餘論人生體氣實分四種，已載前篇，蓋天地之氣，不外寒熱燥濕，即人身應之，亦不外濕熱、燥熱、寒濕、寒燥四種，既有是病，即有是藥，病皆對待，藥亦皆對待，有辛溫解表之荊、防，即有辛涼解表之前、蒡；有甘溫重鎮之紫石英，即有甘寒重鎮之代赭石；有溫疏氣之木香、豆蔻，即有涼疏氣之鬱金、香附；有溫降氣之蘇子、沉香，即有涼降氣之白前、兜鈴；有溫補血之當歸、炙草，即有涼補血之生地、白芍；有溫破瘀之桃仁、紅花，即有涼破瘀之夜明砂、生卷柏；有寒症噎膈之高良薑、縮砂仁，即有熱症噎膈之青竹茹、代赭石；有涼消水腫之防己、赤小豆，即有溫消水腫之椒目、杉木片；有寒殺蟲之蕪荑、苦楝，即有溫殺蟲之榧子、川椒；有寒濕成痹之蒼朮、薑黃，即有濕熱成痹萆薢、防己；有子宮寒冷之蛇床、續斷，即有子宮瘀熱之豬𦚟、槐實；有寒濕疝氣之小茴香、天仙藤，即有濕熱疝氣之川楝子、海蛤粉；有熱症消渴之天花粉、地骨皮，即有寒症消渴之拘杞子、原蠶繭；有溫消食滯之神麯、山楂炭，即有涼消食滯之蕎麥、荸薺粉；有寒通大便之蘆薈硃砂丸，即有溫通大便之半夏硫黃丸；有潤通大便之郁李仁、海松子，即有燥通大便之皂莢實、丁香柄。諸如此類，亦不勝枚舉。更有專主一證之要藥，如肝腎虛寒腰痛用杜仲，肝腎虛熱腰痛用女貞；膀胱氣寒不化溺閉用肉桂，膀胱氣熱不化溺閉用知母；陽虛勞損脊痛用鹿角膠，陰虛勞損脊痛用豬脊髓；涼消乳癰用蒲公英，溫消乳癰用橘葉汁；涼殺勞蟲用天冬、百部、明月砂，溫殺勞蟲用水獺肝；涼定肝風用羚角，溫定肝風用肉桂；涼散內風用嫩鉤藤，溫散內風用明天麻；熱鬱發疹用蟬衣、牛蒡，寒鬱發疹用怪柳、棉紗；熱體嘔吐用竹茹、蘆根，寒體嘔吐用丁香、柿蒂；胃熱流涎用子苓，脾寒流涎用益智；陰虛眩暈用甘菊花、黑芝麻，陽虛眩暈用山茱萸、鹿角霜；溫熱腳氣用防己、赤小豆，寒濕腳氣用檳榔、杉木片；熱鬱脅痛用廣鬱金、川楝子，寒瘀脅痛用歸橫須、蘇子霜；虛寒陽痿用陽起石、鹿茸，虛熱陽痿用女貞實、石斛；熱體肝火鬱胃，困倦嗜臥，用生地、青黛，寒體脾濕自困，困倦嗜臥，用蒼朮、香芒，諸如此類，尚不勝枚舉。苟於體質辨別不明，即難免於混用。須知病同而原異，藥似而性非，辨別既明，則濕熱為痰用黃芩、膽星，燥熱為痰用花粉、竹瀝，寒濕有痰用陳皮、半夏，寒燥有痰用薑汁、白芥；腎經濕熱用黃柏、知母，腎經寒濕用茴香、附子，腎經燥熱用龜板、黑豆，腎經寒燥用蓯蓉、胡桃。試舉一證一臟以為例，余可類推。誠能自儆，知一不知二之弊，庶幾同一肝燥，不致以治寒燥之枸杞、當歸誤治溫燥；同一胃濕，不致以治寒濕之草果、肉蔻誤治濕熱乎。庶幾熱體胎動之黃芩、苧根，寒體胎動之艾葉、杜仲；熱體邪迷之硃砂、白微，寒體邪迷之龍齒、雄黃；熱體遺精之牡蠣、決明，寒體遺精之桑螵、益智；熱體崩漏之側柏、薊根，寒體崩漏之烏賊、禹糧；熱體通絡之絲瓜絡、竹瀝，寒體通絡之白芥子、乳香；熱體肺虛之沙參，寒體肺虛之人參；熱體心液虧之柏子仁、麥冬心，寒體心液虧之龍眼肉、炒棗仁，均不致混用乎。惟是此篇所舉，皆寒熱對待者，燥濕未備也，攻補、升降、滑澀、散斂、通塞更未及也，皆不可以混用者也。學者即是以一隅三反，取諸家本草而尋繹之，自能洞澈，夫何可依稀彷彿，剿襲成方，反咎方之無效也哉！</p>
<p>陸成一曰：「家君謂舉天下內因、外因、不內外因，萬有之病，莫不宜先辨體質以察病因，再就病因而酌用藥，則我不為成方拘。成方不過究其君臣佐使配合之法耳，學醫於胸無成方時，先究藥性，乃能進境，斯驅使草木無不如志矣。」</p>

<h1>慎重性命者鑑</h1>
<p>客有問於□溪老頑曰：「賢者不諱疾，風雨晦明之所襲，喜怒哀樂之所傷，人生不得免焉，至聖尚慎於疾，敢本『未達，不敢嘗，之旨，請將中西醫孰優孰劣，何去何從？為我指迷途。」老頑曰，凡事之能歷久而通行者，必有所挾持，中西醫之各有其長，毋庸贅言，然學有精粗，即藝有長短。余未嘗習西醫，聞人稱其長，簡便迅速，亦聞人論其短，虛實不分也。於中醫則寢饋於斯已三十餘年，今以所聞於治西醫者言之。治西醫者曰：「西醫尚解剖，信而有徵，中醫不能知。」異哉斯言！十二經八脈之起止、三焦之緩急厚薄、臟腑之堅脆大小、血液之清濁濃淡，大絡、孫絡之所貫，三百六十俞穴之所在，詳載於《內經》、《難經》、《甲乙經》諸書，我國何嘗無解剖學，若《靈樞》岐伯曰：「八尺之士，皮肉在此，外可度量，切循而得之，其死可剖解而視之。」是剖驗死屍古亦有行之者。治西醫者又曰：「西醫剖腹割脈，中醫無此技。」異哉斯言！俞跗、扁鵲、華元化者流，具有此藝，載諸史傳，我國何嘗無此術，但危險萬狀，用之者少，因不傳耳。治西醫者又曰：「西人以化學驗物產，礦質用廣，他質用狹，提其精華，制而為水、為粉、為油，能少許勝多許。」異哉斯言！昔神家以赭鞭試百草，即以器化驗藥性，迨研究更精，但於氣、味、形、色，生時產地上察之，無須乎器而已，知性質功用，是中藥早經化驗。古人知形骸之跡，未足以參神機之變動也，於是乎究氣化；古人知剖割之危殆，害多利少也，於是乎改湯液，漢魏醫家，猶多用礬石、砒石、鍾乳、輕粉、火硝、朴硝等品，後賢知金石性烈，於是乎多用草木，不得已始用礦質，其醫學進步為何如耶？其鄭重生命又何如耶？近來制煉藥品，太倉汪楨、上海李平書，購器設廠，用之屢著功效，中藥何嘗不如西制耶？彼所謂氫氣、氧氣、氮氣、碳氣者，即古說之寒氣、熱氣、濕氣、穢氣，不過異其名稱耳。彼以屢經試驗之峻厲品，簡便以治形式相同之症，猶我國走方之草藥治病耳，其善者亦只猶單方治病耳，有奇效者必有奇禍，其貽誤生命，目擊耳聞，難以縷指，乃流俗厭故喜新，樂趨便易，以兒戲生命，何其愚也。吾不怪世俗之崇西抑中，因其以耳為目，本無醫學知識也，我怪夫習歐學者，身廁醫界不辨精粗，但詡詡自大也。我不怪學西醫者崇西抑中，因其入主出奴，實未嘗明中醫之精粹也。吾怪夫習中醫者，目眩心搖，不咎己術未精，亦同聲誇耀他人，荒已田而不耘也。我不怪學中醫者推崇西醫，因其涉獵僅在方藥，未明天人一致之理，爰歆其藝術，自甘犧牲也。我怪夫偉大人物，舉國奉為圭臬者，未能明此中真相，而輕於發言也，蔡孑民《醫學通論》敘曰：「非精研泰西醫學者不能說明醫理，非精研泰西藥學者不能說明方劑。」我請為之轉一語曰：「非精研《內經》醫理者，不能知西醫之淺，非精研《本草》藥性者不能知西藥之峻。」張季直致閻百川書曰：「中醫主氣化，治虛證亦誠有獨至之處。」其所謂虛，專指勞損言乎？抑對於外症而泛指內症乎？吾請為之轉一語，曰：「西醫尚實驗，治外症亦偶有獨至之處，蓋外症有虛實，西醫長於治實，於陰疽、虛症百不治一，則亦僅得其半耳。」以蔡、張之賢而立論如斯，其學術固舉世推之，其醫學果深造耶？未能深造而輕於發言，不優蘇東坡之譽聖散子，致貽害三吳間民耶！一成方之害，尚且如此，矧舉國盡用呆板峻劑耶？世人信於其他學術，而並信其論醫，由是設西校、立醫院、用西藥，不且遍延吾國，其禍堪設想耶？就上列各端論之，彼之所誇耀於我國者，皆我國所本有，而為古人知厥流弊，早早廢棄者也。五運六氣之推遷、陰陽五行之生克、四時之遞旺、五方之異宜、環境之榮悴、執事之勞逸、素體之強弱、素性之舒郁、飲食起居之合宜與否，在在與診病有關，通天、地、人，始得為醫，故我國之醫，始可名曰「醫道」，彼之醫，僅得稱為醫術。請問當今，若楊如侯、趙蹈仁、張壽甫、裘吉生、何廉臣等諸君，其學溝通中西者，平心而論，我言果屬信口訾議否？其診寒熱之表，誠巧矣，能分表熱乎？裡熱乎？抑為陰寒太盛，逼陽外越之熱乎？其診脈表，誠巧矣，能知浮分數大，乃沉分無根乎？能知浮中無脈，乃沉分牢伏乎？其察喉頭、子宮之鏡，誠巧矣，能明因虛而病？因實而病乎？其聽肺部、腹部之筒，誠巧矣，能辨火炎作聲、風動作聲、水激作聲乎？器械雖精，未足全恃也。試舉數病以明之，最烈者霍亂轉筋，西醫名為「虎列拉」，謂患者腸生彎曲形桿菌，分重輕性、乾性、電擊性，治用消毒灌腸、生理鹽液注射，處方以多量甘汞、阿片等劑，寒用嗎啡針、樟腦精、白蘭地溫熱奮興藥；熱用冰塊、冰袋，有一定手續。其於寒宜溫里，熱宜達外，吐瀉止時，速宜進補，未之明也。此症屬熱者輕，易治，姑勿論，最重者為肝寒，非直走肝經之熟附子、吳茱萸、桂枝、細辛、木瓜不治。吐瀉後氣液井走，視其偏虛何在，非參、朮、草、歸、地、芍，佐以澀藥仍不治，西法補者僅恃鹽液，其他無聞也。霍亂症如是，他症亦復如是，其足恃乎？西法之最善者莫如牛痘，毒淺者無防，毒深者重發。前月，湘鄉信稱，已種牛痘者，為時氣引動復發，致成痘疫，竟無治法，在西醫必曰：「此疫也。」不知因乎牛痘泄毒之未盡也，不亦大可危哉！西醫之最善者又莫如產科，而身虛弱者胎近月而動，痛甚或下墜，不知升補以安之，惟用手術以出之，每致危殆，幸而得免，亦所傷實多，母致蓐勞，子致夭殤，比比也，不又大可危哉！然猶曰：「此理想之虛詞，非故事之實驗也。」請更徵諸報章所記載，無錫沈南軒，病腫脹，西醫用劫法，放水覺鬆，三放而不起；諸組云患癲疝，西醫割治去睪丸，潰爛日甚而死；李文華患血瘤，西醫割治，血如泉而立斃；侯星橋患癉瘧，西醫以藥水雞汁與之，邪陷神昏，復臥以桐油紙，浸以冷水中，漸淹然而逝；唐某得癃閉症，西醫通以銀絲尺許，尿血大暢，浹旬又癃，再通之，遂小便不禁，轉成損症；袁級侯婦，經行腹痛，用中將湯，久之面青白無榮，以利殞；尤某患氣臌，西醫於臍下通以管，出水如溺，復脹復通之，創處流血，人亦暈去，旋斃命。然猶曰：「此傳聞之或誤，非親見之多確也。」請更徵諸平素所閱歷，友人顧質卿，患項瘤，中醫曰：「皮中隱隱有紅縷，血瘤也，非痰瘤比，不可割，塗以消瘀散以化瘀，可縮小而不除根。」西醫索千金願包治，謂可立愈，奏刀下而立愈者立死矣，此與李文華相同者。友人江建霞患外感，咳嗽，西醫飲以止嗽水，留邪於肺，延勞而死。鄰人陳姓婦入入西醫院生產，未足月而試痛，醫以筒聽之，謂胎已隕，剖去可保母命，及剖出，胎能動，母未醒，竟致兩亡。侄孫欽文，自學西醫，患腸癰，其師剖割之，再剖而殞。何梅閣之甥某，熱病後轉虛，納少，余曰胃虛，西醫亦曰胃虛，入院調理，許一月全愈，日飲以雞汁、牛肉汁，余聞之曰：「殆矣！虛在胃陰不在胃陽，易以清豬肉汁、鴨汁則善矣。」未一月，熱復熾而歿。寧波王某，患暑症，熱盛汗多，西醫帽以冰，圍以冰，病者汗斂，自覺心煩不堪，急擲去，轉延余治，余以白虎天水合劑，加薄荷、香薷煎服，一劑愈。餘九女患膽郁，寒熱往來，服金雞納霜加劇，腰痛，西醫驗其溺，聽以筒，謂內有毒菌，非割決不治，余女不肯乃止。余自遠道星夜歸，飲以自蒸清肝通絡露，乃愈，愈後再以溺送原西醫驗化，則曰無病之溺也。請問毒菌復安在乎？據我所聞，病症藥劑以研究之袁前總統、蔡松坡即為西藥所誤，何當世無考察醒悟者耶？嗚呼！死者長已矣，生者其岌岌乎殆哉！我不行醫固無所謂同道嫉妒也，我亦徇親友請為病危篤者醫，固閱歷有素，始不禁大聲疾呼也，噫堯舜禹湯文武周召孔孟之道，何嘗不善，有治法，無治人耳，請問今日事事效法泰西，國已強否？民已安否？醫其小焉者，客聞之若聾若呆，昏昏欲睡，老頑錯愕而起曰：籲！</p>

<h1>治病不外陰陽</h1>
<p>治病不外乎陰陽二氣。劑者，齊也。陰陽貴劑以和平，言虛實者非言虛實也，一陰一陽也；言寒熱者非言寒熱也，一陰一陽也；言燥濕者非言燥濕也，一陰一陽也；言表裡者非言表裡也，一陰一陽也；言上下者非言上下也，一陰一陽也。人生清陽在上，濁陰在下，陽攝於陰，陰抱於陽。陰陽不和，濁陰上干陽位，清陽下墮陰分，以是成病，至陰陽反，作病斯重矣。十二經脈為津液流行之氣隧，皆直行流行，滯則津液結而為痰濁，十二血脈其血液隨經氣以流行，多斜行，多橫行，血行滯則留結而為瘀，亦一陰一陽也。衝脈為陽髓之海，任脈為陰髓之海，一勝則一負，亦一陰一陽也。學者宜於此三致意焉。氣為生氣，血為呆物，自可悟流通經氣之理矣。</p>

<h1>外感初起勿雜消導</h1>
<p>傅學淵外感多夾他證一則，載於《吳醫匯講》，其言曰：「凡外感病夾食者多，當思食為邪裹，散其邪，則食自下，若雜消導於發散中，不專達表，胃汁復傷，因而陷閉者有之。」細心考察，斯言誠然。今醫於小兒發熱表症，率犯此戒，以為諺云：兒病多以食起也。餘一外曾孫，患外感風溫，發熱出疹，延醫服藥，熱退疹消，而風邪反內陷於肝，索前方閱之，辛涼解表，藥並不錯，所惜摻入山楂炭、枳實兩味，以致通胃及肝，引邪入里。一侄孫，外感暑濕發熱，方中雜入楂炭、菔子，因而反增泄瀉，以致脾傷肝乘，幾瀕於危，再三補救，至今未能復元。實在病時未必夾食也；方病前之飲食水穀留胃未化者，因外感犯肺，肺氣亦失降，斯時胃氣呆鈍，即不欲食，胃濁上泛，舌苔漸厚，此非真正食滯，醫者須知此層道理，鄭重於「胃汁復傷，因而陷閉」兩語，禁用消導，則外邪一解，肺肅胃降，其留滯者自化而下矣。</p>

<h1>男子亦有天癸，天癸非即月經</h1>
<p>《經》云：「女子……二七而天癸至，任脈通，太衝脈盛，月事以時下。」又云：「男子……二八而腎氣盛，天癸至，精氣溢瀉。」天癸非即月經，甚為明瞭。蓋天癸乃天一之真水，七般靈物本屬同源，瀉出陰竅則為精，男女皆有之，《易》曰：「男女媾精，萬物化生。」又曰：「二五之精妙合而凝。」可以引證。沈堯封、俞東扶曾有論說，曰：「精血源頭，空無所指矣，男有男精，女有女精。」仍以精即天癸為是。</p>

<h1>男子亦有熱入皿室症</h1>
<p>汪訒庵謂，血室即衝脈，男女皆有之，在男子下血譫語，皆為熱入血室。</p>

<h1>男子亦有血風症</h1>
<p>王海藏生地黃連湯，治婦人血風症，去血過多，因而燥涸，循衣摸床，撮空閉目，揚手擲足，錯語失神，脈浮弦而虛。汪訒庵謂：「男子去血過多，亦有此證。」</p>

<h1>男子肌削氣急，猶女子風消息賁，又男子有血蠱症</h1>
<p>石子章患腹脹，肌日削，脈數，舌色乾紅，干嗆，氣急。王孟英曰：「此陰虛熱脹，誤服溫補，陰愈耗，絡愈痹，與女子風消息賁同。」張柳吟曰：「喻氏始言男子亦有血蠱證，可見男女雖別，而異中有同，同中有異，臨證者，不可膠柱以鼓瑟也。」</p>

<h1>男子亦有乳汁</h1>
<p>孫執中脅痛流乳汁，肝陽動也。（見《王孟英醫案》）元德秀男乳哺侄。（見《唐書》）</p>

<h1>男子有類似交腸症</h1>
<p>俞東扶曰：「金姓道，滑僕坐地，遂患矢氣，大便俱從前陰出，糞逼細如稻杆，余師金尚陶用補中益氣湯愈。未幾再發，仍用此湯，不效，溺行不帶糞，糞來不雜溺，痛苦莫名，大腸竟廢而不用。」王孟英謂：「此係氣錯妄行，先宜理氣。」懷抱奇曰：「交腸者，大腸與膀胱破裂也，必大腸所破之孔，與膀胱孔相對，始成此證。曾見一輿人，少腹生瘡，潰出大腸，而成此症。」愚按：交腸為大小便易位而出，此二案皆大便並歸前陰出，尚似是而非</p>

<h1>男子亦有陰吹症</h1>
<p>俞東扶治一舟人，蛔蟲從陽具出，尚活，三日出蛔五條，從此陰吹甚喧，投以補中益氣湯得愈。按：此陰吹，乃前陰出氣有聲，非後陰也。</p>

<h1>論腥紅熱</h1>
<p>朱莘耕同年之親戚張氏，死於腥紅熱者數人。後以詢余，並言現今此症甚多，中西醫治皆無效。考腥紅熱，余未見過，究其狀，大約斑疹之類。上年進京，蕭龍友君見訪，即詢此病治療法，云：「此病之異於尋常斑疹者，其猩紅色之斑點，盡發現於胸膈間，團聚一處。」余曰：「然則此中醫所謂赤鬲症也，亦名赤胸，載於我蘇戈氏所著《傷寒補天石方》，用防風通聖散。」隨後又函詢周小農君，南方諸醫遇此症作何治療？覆信謂：此症寒戰、身熱、頭痛、喉痛、頸項胸次現小紅疹，漸融成片。異於尋常斑疹者，兩頤口唇獨無。由於疫毒鬱結，前賢顧鳴盛用大連翹飲。繼復遇汪逢春君云：「此症愈者絕少，惟曾治某人，前醫用辛溫發散之劑，見其汗出而內熱仍熾，用沙參、羚羊角而愈。」因思蕭云：「點聚胸膈，明邪在肺也。」周云：「兩頤口唇獨無，明邪未入胃也。」夫疹出自肺，斑出自胃，今者本是疹而非斑，其漸融成片，內結之徵。其寒至於戰，感寒之徵。明系寒束於表、熱鬱於裡，純用寒涼逼邪內陷，固不足論；即照太陰溫病發疹治，用銀翹散等，不足以解外寒，宜乎無效；如用防風通聖散表裡三焦同治之劑，似病僅在肺，失之誅伐無過，然則大連翹飲為得當矣，如汪說而變通其藥，先以荊、防、蘇、薄、蔥、姜等發汗以解外寒，俟汗透，即繼以銀、翹、桑、蒡、竹葉，辛涼以散內熱，亦一妥善法也。</p>

<h1>氣亦有錯經妄行症</h1>
<p>張承溪曰：陳武塘子向患遺精，腎竅氣出如煙，時發時止，眠食漸減，形瘁骨痿，便艱而黑，用膽汁、大黃等苦寒藥導之，愈導愈秘，繼又胸膈如有物居之，腹則空虛，上則痞悶，每食少許，輒停留不下，服人參及滋陰疏快等劑不效，延余診治已經兩載，余曰：凡陽氣上絕，陰氣不得上交於陽，則為下脫，陰竅漏氣是也。陰氣下絕，陽氣不得下交於陰，則為上脫，耳中出氣是也。方家以失血之證為錯經妄行，而不知氣證亦有錯經妄行者。蓋腎納氣，過瀉成虛，則腎氣不能自納，遂錯行而妄漏。《經》云：「醉飽入房，五臟反復。」五臟部位寧有反復之理，正謂其氣錯亂也。今未能提其氣，復使歸經，所以時漏不止。漏則氣虛，氣虛於下，則痰結於上，故飲食難化而成鬱結痞滿之證，今用藥宜疏導鬱滯，不宜誤用滋陰；宜有提有降，合成疏通，不宜專用順氣，若認此為陰虧之證，遂謂虛不受補者不治，則大誤也，陰虛生內熱，豈有陰分大虧臥床年半而不發潮熱骨蒸者乎？滋陰之藥不惟無功，且於開胸膈、進飲食大有礙，今但使膈間日寬一日，穀氣日增一日，則陰不補而自補矣，起色可指日而待，煎方用蘇子、山楂、橘紅、半夏、茯苓、烏藥、香附、五穀蟲、升麻、柴胡、韭汁。</p>
<p>按：血錯妄行，人皆知之，氣錯妄行，人鮮知者，故特錄全文以拈出之。</p>

<h1>婦人亦有疝症</h1>
<p>戴人謂：「婦人亦有疝，凡血涸不月，少腹有塊等症皆是，要不離乎肝經為病。」愚按：昔賢本有腹中疝、睪丸疝之說，腹中攻擊作痛，控引上下，為腹中疝。然則婦人所患皆腹中疝耳。</p>

<h1>婦女亦有孤陽病</h1>
<p>王士乾室，花甲外，病嘔吐，服溫補藥因而津液涸竭，噦逆空嘔，不能納穀，便秘不行，診脈弦，知無胃氣，舌痿難伸，知氣液並竭。王孟英診之曰：「蘊隆蟲蟲，是女人亦有孤陽之病矣。」</p>

<h1>保胎當治其所以然</h1>
<p>王孟英治朱夫人屢患半產，服保胎藥無效。脈右寸滑大搏指，咳嗽，遂與清肺劑。人詰其故，曰：「胎之不固，或由元氣弱，或由病邪侵，不知其所以然而徒以保胎藥補之，適震動其胞系，速其胎墜而已。」楊素園曰：「凡病俱宜如此看，不可一概用補也。」錄此以告世之呆用滋補成方以安胎者。</p>

<h1>灸能傷陰，針不治虛</h1>
<p>王孟英曰：「灼艾之可以除百病者，謂可除寒濕凝滯，陽氣不能宣通之證，非謂內傷外感一切之病皆可灸以除之，故仲景有「微數之脈慎不可灸」之訓，正以艾火大能傷陰也。」楊素園曰：「此與以針治虛報者同一悖謬。」愚按：針亦有補法，如木旺侮土，則針瀉肝穴之氣，非真能補，以瀉為補耳。</p>

<h1>暑症似虛，濕溫脈亦似虛</h1>
<p>王孟英曰：「暑脈頗類乎虛，而痰阻於肺，呼吸不調，又與氣虛短促者相似。平昔雖虛，有病必先去病，況熱能傷氣，清暑熱即所以顧元氣也。愚按：濕溫症，脈亦無定，溫屬陽邪，濕屬陰邪。溫勝於濕，脈即大而數；濕勝於溫，脈即覺而濡，有一人而前後屢變者，沉濡之脈頗似遲而無力，醫疑為虛而欲進溫補，我曾屢遇之矣，實則以舌苔、二便，一辨之，自明瞭也。</p>

<h1>寒熱病切忌早通大使</h1>
<p>發熱惡寒，有內傷、外感之別。氣為衛之根，血為營之根，氣血兩虧，衛氣、營氣運行無力，此內傷寒熱之原因也。衛氣為外邪所遏，營氣因亦被郁，此外感寒熱之原因也。兩者皆無通大便而能愈之理。凡本無他病而忽患寒熱，多屬外感，雖外感有風、寒、暑、濕、燥之分，治法有發汗、溫經、涼解、寒散之異，總不外乎邪從外受仍從外達。又凡外邪之乘，必先犯肺衛，肺猶大門，胃猶中堂，大腸猶後門。肺胃相通，胃又與腸連屬，自肺而胃而腸，猶自戶而中堂而後門也，肺衛受邪，猶有賊掩門而入，理宜仍從大門驅之使出。肺主一身之氣，與大腸相表裡，肺既受邪，氣不清肅，大便必然不通，倘其時如通大便，外邪必然隨之內陷，寒熱因而見退，實非真愈，於是有結胸者，內陷於肺胃之間也，有夜熱者，內陷於肝；夜熱而又咳嗽者，肝邪仍還諸肺也。我去年來京疊遇此等症，詢之皆病初有寒熱，而早通大便之故，特□筆志之，以告世之明理者。</p>

<h1>藥能對證，雖和平品，大病亦可奏效</h1>
<p>王孟英治朱氏婦，郁損心脾，已哺寒，夜熱，寢汗，咽乾，咳嗽，脅痛，餐減，經少，肌削，神疲，且胃弱，畏藥，服即吐，用甘草、小麥、藕、紅棗煮湯，頻飲兩月愈。蓋藥必視胃力之能受與否，雖屬果品，味味對證而發，胃既能受，病亦可愈。何今醫家輒謂果子藥，不能治病哉？</p>

<h1>藥既對證，雖峻厲藥，急病不得不用</h1>
<p>王孟英曰：「既患駭人之病，必服駭人之藥，藥不瞑眩，厥疾不瘳。」按：此說須與前條對勘，各有至理。大約初起，病實、體實，不妨用此法以免遷延誤事。病危，雖知虛弱，而非此不救，則為背城借一之謀，有時亦不得不用此法。</p>

<h1>治療一致</h1>
<p>今之譽西醫者曰：「治療一致。」訾中醫者曰：「言人人殊。」夫病狀同而病原各各不同，何能見頭痛而概以一種治頭痛藥與之？見寒熱而概以一種治寒熱之劑療之？見咳嗽而概以一種治咳嗽之品用之？見泄瀉而概以一種治泄瀉之方服之？然中醫之所以言人人殊者，實亦由此而來。此實中醫之不善，何以言之？曰：病狀同而病原不同，貴乎於形、色、神、情、聲、息、脈、舌、二便等處，詳辨其原由，原由既得，自然言無不同，治亦一致，何致於言人人殊？使但泥於是何病狀用何方劑，僅論其病狀之同，不察其病原之異，治療於是乎多誤。究其弊之所從來，由於僅讀古人論虛寒諸書，其言亦有頭痛、寒熱、咳嗽、泄瀉等症，遇斯症遂無不以為虛寒矣；僅閱古人論實熱諸書，其言亦有頭痛、寒熱、咳嗽、泄瀉等症，遇斯症遂無不以為實熱矣。豈知為虛、為寒、為實、為熱，固不在頭痛、寒熱、咳嗽、泄瀉等病狀上辨耶！曩者宰濟陽時，歸孫氏長女在上海患厥，電報來告病狀，並求方法，因擬方，並囑延丁甘仁君，電覆之。外孫孫騰九延丁至開方畢，出余方對之，同者八味，不同者僅二、三味耳。上年返蘇，火車中遇實業銀行中友汪靈玉云：伊母病喘，請假歸杭，詢余方法，詳問之，告曰：「此腎氣不納之故，都氣丸症也。」為薦裘吉生君。嗣接汪函，內附裘方，則六味加乾薑、五味子，苟審證確鑿，則所見大略相同，治療自然一致。然而此所謂治療一致，固非執一藥水、守一藥針，以呆治一病者所得而假託，以一則泥其跡，一則究其原也，彼夫盈庭聚訟，言人人殊，而不一致者，殆亦功夫不無淺深耳。</p>

<h1>邪未盡而強止之害</h1>
<p>高若舟庶母患白痢，服附子理中湯，痢止而腹脹、痛、不食、不溺、噦逆、發熱、脈沉、數、滑。王孟英曰：「前此之止，非邪淨而止之止，乃邪得補而不行之止，邪氣止而不行，是以脹痛。」夫強止其痢，據截其瘧，猶產後妄澀其惡露也。世人但知惡露之宜通，而不知間有不可妄通者；但知瘧痢之當止，而不知邪未去而強止之，其害較不止為尤甚也。</p>
<p>按；強止之不可，不獨補也，升劑、澀劑俱在禁忌之列，補則更甚矣。</p>

<h1>邪未清不可補</h1>
<p>尤在涇曰：「《經》云：『邪之所湊，其氣必虛，留而不去，其病則實』。若非決而去之，而欲以補藥攻疾，非徒無效而已也。」</p>
<p>按：近今醫家，未嘗不讀《內經》，而多側重於「其氣必虛」四字，此不能獨怪醫家，良由病家信虛喜補，十人而九用補，則雖死不怨。未知補藥之害人，不亞於攻劑，但一則其害立見，一則其害難知耳，而醫生於是乎卸責矣。</p>

<h1>虛中有實，必先治實</h1>
<p>許叔微云：「疝病多因虛而得之，不可因虛而驟補，邪之所湊，其氣必虛，留而不去，其病則實，故必滌去所蓄之邪，然後補之。」我謂：「不獨疝也，凡病皆然。明曰虛矣，病苟未清，尚不可補，早用補者是關門養賊。」</p>

<h1>求嗣方法</h1>
<p>方書云：無子者用虎鼻懸門上一年，取熬作宵，與婦人飲，便生貴子，勿令婦知，知則不驗。按《內經》云，古之治病，惟其移精變氣，可祝由而已。其術流傳至今為符篆禁咒，湖南辰州人優為之，時有奇效。實則不但符咒也，蓋此等厭禳之法，皆假借乎天地萬物之氣，以治人之病氣，兩間之氣莫不感應，其以針砭藥劑之治病，亦屬以氣化氣，原理相同。今以虎鼻懸門，是取義人生於寅，虎屬寅，又屬陽；鼻復為全體始生之物之故；滿一年者，取其周遍四時，得氣全也。其法甚有意思。</p>

<h1>轉女為男外用法</h1>
<p>既知婦人有孕，不知其為男女也，而望子經濟綦切者，或疑是女胎，欲其轉而為男，考方書所載，用雄黃一兩，絳囊盛，帶婦人左臂，或繫腰下，百日去之。又方：萱草，即宜男草，妊婦佩之。又方：雄雞長尾拔三莖，置孕婦席下，勿令知之。以上三方，實皆移精變氣。古之遺法，勿以為毫無道理，疑而不信，試思古人何以重胎教，其子之智、愚、賢、不肖，於婦人妊娠後一舉一動、所見所聞，盡有關係。然則欲得賢子孫者，何嘗不可以人力勝天工耶？</p>

<h1>小兒陰囊過大外治法</h1>
<p>舊方云：新生小兒陰囊甚大，名曰胎疝。日後長成，恐變木疝，如過滿月後或一歲內，俟端午日午時，以腳盆盛熱水，安於中堂，隨抱小兒將陰囊放水內一浸，再將小兒在中堂門檻上一擱，其陰囊上之水印痕於檻，將艾火在檻上濕印處燒三次，其囊即收小如故，其效如神。</p>
<p>按：此亦移精變氣法也，類志於此。</p>

<h1>貼過外症之膏藥，生下小兒之胞衣，均須放高燥處</h1>
<p>聞諸外科云：凡治濕熱瘡癤癰疽外症之膏藥，用過後須貼於牆上高燥處，如在牆根，膏藥受潮濕，甚則黴爛，其舊瘡雖已全愈，必然重作痛癢。無他，氣相感應也。又，穩婆云：小兒胞衣裝瓶後，須擇高燥無人行處安埋，其胞衣爛時，小兒或皮膚稍生㾦瘰，不必醫治自愈，若埋在潮濕地方，瓶口又未紮緊，為螻蟻曝食，兒必生病，醫者治之不愈，莫名其故。若埋在行人朝夕走動處，必令小兒臥寐難安。無他，氣相感應也。銅山西崩，洛鐘東應，固有至理存乎其間，觀此兩條之所以能釀病，即可反觀而知移精變氣之所以能治病。</p>

<h1>答張耕龍問《內經》「秋傷於濕」、喻氏「秋傷於燥」之文</h1>
<p>問曰：「《內經》秋傷於濕，喻嘉言以為系長夏傷濕之訛，特製清燥救肺湯一方以治燥病，然與燥淫所勝，平以苦溫之旨不合。吳鞠通謂：「清燥救肺湯治燥之復氣，斷非治燥之勝氣。」不為無見，但《內經》六氣並舉，何以是處，只有風暑濕寒，而無燥之一氣，是否經文脫誤，抑或別含深意？」答曰：「六淫之氣實只有五，風、寒，暑、濕、燥而已，而五者無不從火化，是以名為六淫。燥濕二氣對待，喻氏之說，碻不可易，惟初秋暑氣未盡，病多燥熱，深秋涼氣日盛，病多寒燥，《內經》平以苦溫，指寒燥而言，故與喻氏方有異，僕謂治燥熱用涼潤，治寒燥用辛溫，辛以散外，潤以滋燥也，若內傷津液，精血之燥，別體質以用溫滋、涼滋，又不必用辛散之品，蓋同一辛也，而有達外、潤下之殊，又宜辨別。」</p>

<h1>答張耕龍問暑溫</h1>
<p>問曰：「吳鞠通以暑溫為病名，雷少逸亦有暑溫之說，《經》云：『先夏至日為病溫，後夏至日為病暑。』是溫也、暑也，二而一者也，吳氏以暑溫對待春溫、冬溫，其說有何所本？」答曰：「就字義而論，暑從日，從者，者有大義，其專訓為夏令大熱，引伸即為大熱之稱。暑之從日，猶寒之從仌，仌為古冰字，寒暑為對待字，是渾言之，暑即熱也，熱即暑也。溫為暑熱之輕者，暑為溫之重者，其病氣同，而氣之微甚異，即亦異於時氣之遞遷。冬溫者非時之氣，宜寒而反溫；春溫者交春風動，即屬風溫，或以寒包熱，當春溫。強欲析病名反致模糊，就春令時氣為寒為熱，病人體氣屬寒屬熱，一互勘之則為風溫，為寒包熱，自明白矣。鞠通、少逸均列暑溫症，蓋與暑濕症對待而言，實則暑溫尚是一氣，但分微甚。暑濕則為二氣，以濕重於長夏，所謂暑中有濕也，如亢旱之年，則但有暑而無濕矣。</p>

<h1>誤補之弊</h1>
<p>方氏女溏瀉十餘年，廣服培補無寸功，體豐極畏熱，脈不甚顯，隱隱然弦且滑。王孟英曰：「此肝強痰盛耳，病根深銅，不可再行妄補，今之醫者，每以漫無著落之虛字，括盡天下一切之病，動手輒補，舉國如狂，目擊心傷可勝浩嘆。且所謂虛者，不外乎陰與陽也，今肌肉不瘦，陰虛乎？冬不知寒，陽虛乎？只因久瀉，遂不察其脈證乎？不信，仍進補，忽吐瀉膠痰鬥余而亡。」</p>
<p>按：此一則錄王氏原文，以告世之信虛喜補者。</p>

<h1>滋膩之弊</h1>
<p>汪子與病暑，醫投熟地等藥，王孟英曰：「暑熱證必看邪到血分，始可議用生地，何初病即進熟地？豈僅知稟賦之虛，未睹外來之疾耶？昔賢治暑，但申表散溫補之戒，詎料今人更犯滋膩之辜，暑熱膠錮不啻如油入面，如漆投膠，將何法以挽回哉？」愚按：凡病初起，邪尚未清者，本有痰飲者、肝火素旺者，莫不忌投滋膩，不獨暑熱為然也。今病家無不自稱陰虛，醫家無不以二地、二冬、龜膠、阿膠為良藥，信手便投，奇極！又今人口中則稱陰虛，藥中則用人參，更為奇極！</p>

<h1>破傷寒</h1>
<p>破傷風人皆知之，破傷濕人或知之，仲聖於傷寒燒針，令其汗，針處被寒，核起而赤者必發奔豚，氣從少腹上衝心者，灸其核上各一壯，與桂枝加桂湯，此實破傷寒也。蓋膀胱主表，腎與膀胱相表裡，而為寒水之臟，故寒邪乘破傷處而襲入，即患奔豚，亦必其人素體下元陽虛，因相感召，而得此重症，推之金刃撲僕等乘破而受寒邪者，雖不必定見奔豚，亦定有惡寒發熱而急須溫經解表矣。</p>

<h1>論蕭鄂督辦吐血有可愈之方</h1>
<p>《晨報》載，鄂督辦蕭耀南體質素強，在民國十三年季春，偶因嘔氣，大吐血，得曹元森一藥而愈。近今因事焦急，一日方送客，行未數步而蹶，吐血數口，當晚延曹視脈，曹認為氣候乾燥所致，進以充分之涼劑，病勢益劇。越日，吳帥佩孚派醫生趙心如往視，見風邪內閉，勉具一方，謂已為藥所誤，勢頗不治。吳帥復派軍醫院長劉潤波往視，亦不敢下方。至舊曆除夕，病勢陡變，吐血不止，旋即暈去，急延德醫文德醫士至，言此肺結核症，以吐血過多，至血管破裂，勢將難治，無已，只有打針，始打一針得蘇，翌日，又打一針，流出多數黑水，延數小時而逝世。愚按：吐血一症，原因多端，出自何臟何腑，亦不一。從前既困嘔氣得病，現今又復因事焦爭，致舊恙復發，其為肝鬱不舒，鬱極而發，血隨氣走，上逆吐血，可想而知。繆仲醇《吐血三要論》云：「凡治吐血，宜降氣不宜降火，宜行血不宜止血，宜補肝不宜伐肝。」何謂宜降氣不宜降火也？氣有餘，便是火，氣降則火降，火降則氣不上升，血隨氣行，無濫出上竅之患矣，降火必用寒涼之劑，反傷胃氣，胃傷則不能統血，血愈不能歸經，今之療吐血者，大患有二：一則專用寒涼，如芩、連、山梔、青黛、柿餅灰、四物湯加知柏之類，往往傷脾作瀉，以致不救；一則專用人參，以致肺熱，使肺愈傷，咳逆愈甚也。宜以白芍、炙草制肝，米仁、山藥養脾，韭菜、蘇子、降香下氣，此屢試輒驗之方。何謂宜行血不宜止血也？血不循經絡者，氣逆上塞也，夫血熱則行，得寒則凝，故降氣行血，則血循經路，不求止而自止。若有意止血，則血凝，血凝則必發熱惡食，及胸脅痛病，日沉痼矣。何謂宜補肝不宜伐肝也？《經》曰：「五臟者，藏精氣而不瀉者也。」肝為將軍之官，主藏血。吐血者，肝失其職也，養肝則肝氣平，而血有所歸，伐之則肝虛不能藏血，血愈不止矣，觀此論正與蕭鄂督所患肝病吐血相符合，如用繆氏法治之，則蕭督之症，未嘗不可愈也。</p>

<h1>追論孫中山先生肝病亦有可愈之方</h1>
<p>前年孫中山先生來京後，忽患肝病，就各報登載研究，僕父子與吳甥霞赤，俱謂曾經西醫剖視，肝硬如木，目為難治之症，然就中華醫理而論，苟非肝癰即屬肝疽，均由懷抱不舒，鬱怒之氣團結而成。為癰為疽，有陰陽虛實之分，須辨明施治，有藥可救，並非百無一生之病。張耕龍、江雋侯、楊拜蘇諸群，謂西醫所剖視者未知是肝之本體發硬，抑肝之本體外另生有物發硬，如另生有物，則非癰即疽，如即肝之本體，則苟非肝脹即屬肝燥。脹則形質必大，燥則形質必小。一宜斂，一宜滋，又宜分別。葛廉夫君謂，就鄙人逐日之見聞，脈證互參，乃心血耗於上，腎水涸於下，肝失滋養，氣火不潛，火日炎上，所以交寅申而熱度增高也，加以立春後又逢庚辛，木火益張，而脾胃受賊，是以倦怠、食少、嗜臥，揆諸中醫之治理，養血滋水，運中潛陽，乃一定不易之療治。劉農伯、葉蔭棠兩君謂，肝癰、肝燥，易於療治，肝疽稍難，肝脹更難，葛君所論，乃肝燥治法。病雖四種，惟揆諸中國醫書皆有治療之方劑，即揆諸中國之醫案，皆有治療之成效。</p>
<p>愚按：如屬肝燥，則有舌糙、口乾、大便燥結等見證，可用魏玉橫一貫煎或瓜蔞散。如屬肝脹，則有目張、不能合、眼珠突出下垂見證，可用羌活湯。如屬肝癰，則有兩胠滿、臥則驚、不得小便，期門穴之上其肉微起，左脅皮上現紅紫色，舌青兼紫等見證，可用化肝消毒湯。如屬肝疽，則兩胠亦滿，期門穴處隱隱作痛，而肉不微起，脅皮如常，不紅紫，舌青而淡等見證，宜重用當歸、枸杞，稍佐乳香、沒藥。然則苟憑證以如法施治孫中山先生之症，亦未嘗不可愈也。</p>

<h1>瓜果能治犬病</h1>
<p>陳修園謂：「山藥為尋常服食之物，不能治大病。」張壽甫謂：「非也。若果不治大病，何以《金匱》治勞瘵有薯蕷丸。」嘗治一女，病喘大作，脈散亂如水上浮麻，不分至數，此將脫之候，急取生山藥兩許煮汁飲，喘定、脈斂，此一證也。楊古老治一士人，厭厭無聊，云：「熱證已極，氣血消爍，三年後當以疽死。」繼聞茅山道士醫術通神，往診亦云然。惟曰日吃好梨，如生梨已盡，取乾者泡湯食滓、飲汁，疾自當平，經歲病愈，此又一證也。蓋病至危殆，胃必困憊，凡藥盡能傷胃，胃先不喜，甚者不受藥，復何用？惟就胃之所悅，而合宜於病者，緩緩調之，病自轉機，以藥物、食物俱入胃，而後敷布耳，推之吳鞠通以梨、藕、蔗、西瓜、蘆根各汁救溫熱症液涸。王孟英名一味梨汁為天生甘露飲，以救肺液；一味西瓜為天生白虎湯以救胃液。張壽甫以一味生山藥治陰虛勞瘵及大便滑泄；以鮮藕、鮮茅根治虛勞痰中帶血；以紫衣胡桃肉、柿霜治肺腎兩虛之喘，均著有成效。蓋毗陰毗陽，有所毗而病，果瓜性雖和平，亦有所毗，以毗救毗，常食則氣積久，而病之毗者不毗矣。反是以觀，無病之人偏嗜一物，氣積久亦能成病，凡事莫不有反面對面也。</p>

<h1>論甜尿病</h1>
<p>西醫化驗病人小便，以辨別內病之若何，洵是良法，其驗得小便之甜者，目之曰：「甜尿病」，雖治法多端，而未得要領，迄不能療。江雋侯君云曾有西醫治之未愈，經中醫某，接診獲痊，西醫大以為奇，以重價購某醫方，某曰：「無他，用黃耆耳。」西醫用耆，煉水以治斯症，有愈者，仍有不愈者，復詰問某醫，醫曰：「黃耆系主要藥耳，其他須就病人之體質及見證之若何以為配合，未能預定，僅用此味宜乎其不效也。」余按：甜尿病，乃中醫消症之一，由中消而及下消，其尿乃甜，甜為土味，中虛之故，出諸溲溺則涉下焦矣。中醫辨病法，則見小便混濁，即令病人溺諸地上，或溺諸器，乘熱傾於地上，必擇有生蟻處，再察蟻如聚嘬，即為甜尿之據。其治法如食量勝於常日，旋食旋飢者，胃火過旺，用丹溪消渴方，或玉女煎，胃火已退，接服景岳新方，生朮、橘紅。其不思飲食者，則脾力已衰，用《本事方》之黃耆湯，或加烏梅於方內，一治胃、一治脾，而皆兼治下焦者也。某醫所用之方，亦即就許叔微方而化裁出之耳。</p>

<h1>痰飲用補初亦相安</h1>
<p>王孟英治胡秋谷令愛案曰：「痰飲為患，乍補每若相安。」余今拈出此語，並拈出下條，皆醫家所易忽而莫明其故者也。</p>

<h1>服寒熱藥皆能受，亦皆不應者，屬痰飲</h1>
<p>楊素園曰：「凡痰飲內盛之人，服寒熱藥皆如石投水，人皆以為稟賦之異，不知皆痰飲為患也。」按：汪某患久遺，余斷為濕熱釀為痰火，伊求神效，旋又易醫，計其先後歷醫不知凡幾。溫涼攻補備嘗之矣，不見效，亦不見壞，職此之故。</p>

<h1>病夾痰飲忌升散，忌涼滋，必先運樞機</h1>
<p>王孟英曰：「脘膈悶、苔膩、不渴、脈緩滑而上溢，是痰濕阻痹，既不可提表助其升逆，亦未宜涼潤礙其樞機。」愚按：今人一遇寒熱，便羌、防、柴、葛；一見溫熱便地、芍、二冬者，皆未詳察脈、舌者也。凡病多兼痰飲，能阻氣機，必先通運樞軸。肺為貯痰之器，肺又主一身之氣，孟英一生本領，專於肺經轉運氣機，醫案具在，學者最宜留意。</p>

<h1>治病宜先治其實</h1>
<p>尤在涇曰：「療病如溜衣，必去其垢汙，而後可以加漿飾。醫者，意也。請借是以為喻。按；古來治病，必邪盡而後進補，乃一定之法，亦一定之理。</p>

<h1>論疫</h1>
<p>尤在涇曰：「瘟疫病，近代諸家多與溫病同論，以其聲稱之同，與病形之似也。然歲運有「太過」、「不及」之殊，天時有恆雨、恆暘之異，是以疫癘之行亦有表裡、寒溫、熱濕之分，豈可以一概論哉？約而言之，計有三門，若其表裡俱病而盛於表者，則用東垣普濟消毒飲之法；若其病不在表又不在裡，而獨行中道者，則用吳又可達原飲之法；若其表熱既盛，里症復急，治表治里救療不及者，則用陶尚文三黃石膏湯之法，此瘟疫入手法門也。亦有邪氣獨盛於表，而里無熱症者，則活人敗毒散之治也；亦有寒濕獨行而病在肌皮胃膈者，則東坡聖散子之證也。合前三法共為五法。按《內經》分五行為五疫，可知五氣皆能成疫。今參尤說，益信疫非專屬熱病矣。</p>

<h1>治疫不必拘司天、在泉，亦非必屬熱病</h1>
<p>王孟英曰：「葉天士甘露消毒丹、神犀丹二方，為濕溫、暑疫最妥之方，一治氣分，一治營分，規模已具，即有兼證，可以通融，「司天」、「在泉」，不必拘泥。今歲奇荒，明年必有奇疫。愚按：五運、六氣，言其常理也，蔑其說而不信，不可；泥其說而固執，亦不可，凡遇疫症，要當察時令之久旱久雨、地處之近山近水，乃定風寒暑濕燥五氣，何氣獨勝、何氣夾雜、邪在何處，以施治療。蓋疫者，皆病也，仍即此五氣而加厲成穢毒之氣耳，亦非獨濕溫、暑邪能成疫也，須用聖散子者即寒濕成疫。近今白喉症即燥熱成疫可類推耳。自瘟疫連稱，遂若疫無不屬溫熱矣。</p>

<h1>女勞復、陰陽易、虛實有異</h1>
<p>段春木熱病後，女勞復，真陰涸竭，舌出而死。王孟英曰：「燒裩散、鼠矢湯，皆從足少陰以逐邪，不過熱邪襲入此經，所謂『陰陽易』是也。今少腹無絞痛之苦，原非他人之病易於我，真是女勞復，以致真陰枯涸，更將何藥以驟復真陰哉？然從此而女勞復與陰陽易，一虛一實，有定論，不致混合而談治矣。」按：兩病一虛一實，易誤治，故特拈出。</p>

<h1>邪阻氣視覺冷</h1>
<p>徐有堂室病痢，服溫補，痢出覺冷。王孟英曰：「滯下必夾身中有形之垢，治法最忌補澀，誤用之，邪得補而愈熾，垢被壅而愈塞，耗其真液之灌溉，阻其正氣之流行。液耗則出艱，氣阻則覺冷。大凡有形之邪，皆能阻氣機之周流，如痰盛於中，胸次覺冷；積滯於腑，臍下欲熨之類，皆非真冷。」王孟英云：「肺熱不降，涎沫內踞，胸中自覺一團冷氣，不可誤認為寒，宜宣化涎沫，沫開，肺熱自降。」魏玉橫按：邪熱鬱伏膈間，反覺冷氣上衝，辨諸脈，沉弦數六七至，苔黑舌強，溺多而點滴出濁，因用小柴胡、小陷胸合白虎湯。羅列於此，以備互參。若呂𣗪村治潘順之太史，心下冷如停井中泥，則屬寒濕，此係真冷。但一則停伏，一則衝動，有可辨別，且其他見證，亦必各異。</p>

<h1>晡熱夜熱有屬血瘀肺熱者</h1>
<p>楊素園曰：「日晡夜熱原有「肺熱」、「血瘀」兩候，斷非滋陰所能愈，況溫病後咳嗽夜熱，顯為遺邪在肺。」</p>
<p>愚按：今人一遇咳嗽夜熱，莫不作損症治，誤矣！</p>

<h1>外導大便不通法各有所宜</h1>
<p>豬膽導法：用豬膽汁和醋少許，灌入穀道。蜜煎導法：用蜂蜜熬如飴成條，摻皂角末納入穀道。此兩法人皆知之，而實有區別，濕熱病，濕從熱化而燥糞不下者，本由濕來，須用苦寒，故豬膽為宜。津液不足而大便燥結不下者，須用甘潤，故蜂蜜為宜。再有寒濕症大便秘者，用烏咸導法，以蜜鹽同煎，加入草烏末相合成挺，納入穀道，此王海藏方，實脫胎於仲景兩方而出，此惟寒秘病罕見，因而用之者較少，知之者亦鮮矣。</p>

<h1>外治小便不通法亦各有所宜</h1>
<p>熱症小便不通，用活田螺一枚，去殼，加鹽同搗爛，貼臍及臍下，此古方也。周小農君，加車前、蔥須更效。寒症小便不通，用連須蔥頭、川椒、麝香、搗餅貼臍。濕熱症小便不通，用豬膽連汁籠住陰頭，此古方也。周小農君用梔仁、食鹽二味佐入蒜肉，搗爛貼臍，兩方可一時同用，氣秘小便不通，用皂角、麝香末填臍，再用蔥白餅炒熱蓋之。溺積轉胞腹脹欲死，小便不通，在男子用蔥管吹鹽末入玉莖中，在婦人用豬脬吹脹，以鵝毛管安上插入陰孔，捻脬氣吹入，此亦古方也。蓋大便不通，雖經月無害，小便不通，曾不能以數日，此等良法，審症而治，不可不預為熟記。若關乎氣化之源而溺閉者，則非以上諸法之所能治療。</p>

<h1>坐導婦女少腹瘕塊方亦各有所宜</h1>
<p>《濟陰綱目》載坐導方甚多，然體質有水、土、木、火之殊，即瘕塊有寒、濕、燥、熱之別。余即其數方而酌定之，寒瘀、濕痰、冷積而成瘕者，用蜀椒、桂心、半夏、皂莢末。熱瘀、燥痰、熱結而成瘕者，用戎鹽、郁李仁、大黃、朴硝、瓜蔞霜、皂莢末。均盛以三寸絹袋納陰中，可隨意坐臥，而不可行走，如塊不在少腹而在大腹、腰脅，即藥力之所不及，勿用上法。</p>

<h1>藥性翻受胃變</h1>
<p>王孟英曰：蔗甘而涼，然甘味太重，生津之力有餘，涼性甚微，蕩熱之功不足。津虛熱不甚熾者最屬相宜，溫病後救液良藥，吾名之曰「天生復脈湯。」若濕熱痰火內盛者服之，如經火煉，則成糖，全失清涼本氣，喻氏所謂「翻受胃變」，從而化熱矣。枸杞子亦然。</p>
<p>愚按：我國治病專講氣化，其理極精，然必先審其何藥能化何氣，而後有效。如蔗之化熱，究因甘性多、涼性少，不足以抵病氣之故，若加入涼劑中同用，必不化熱也，猶之苦寒之劑所以化濕熱之病者。若病已濕從熱化，或本屬燥熱病，設猶過投、誤投，熱必苦先入心，其化以燥，其始為濕熱病，其終濕去熱熾，反化火而致劫陰，我屢見之矣。枸杞子則本系熱性，為溫滋肝液之品，不當與甘蔗同論，肝熱者忌用，勿惑於本草苦寒之說。</p>

<h1>疫症嗜睡</h1>
<p>《晨報》載，近日波蘭境內發生睡病，流行甚速，人民染此症者，已有五千餘名，醫界對之多束手無策，目下尚未救護一人云。</p>
<p>愚按：仲景《傷寒論》云：「少陰症，但欲寐，用四逆湯。」此屬重症。其外，脾胃受濕，則怠惰好睡，選用平胃散、五苓散、羌活勝濕湯等方。肝膽之火鬱於胃中，則困倦嗜臥，選用生棗仁湯，生地赤芍湯，青黛梔皮湯等方。以上兩證最為普通，又有偶見之谷勞病，由谷盛氣虛不能傳化，因而嘿嘿欲臥，用《肘後》麥芽椒薑湯。又有風溫初起，昏沉欲睡，用辛涼解表法。又有熱病已解，昏沉欲寐，此係液少神倦之故，不必服藥，但以飲食消息之。然則種種多屬喜睡，將於何處辨別其病原耶？曰：少陰症之但欲寐，其脈必尺寸俱沉、微、細。脾胃受濕之好睡，必時多雨露、地處卑窪，其人大多水土體質，身肥，大便素溏，舌滑，不欲飲。肝膽火鬱之嗜臥，多屬木火體質，身瘦長，口渴能飲，平素便結，舌糙唇紅。谷勞病之欲臥，其初由於飽食便臥，嗣後食畢輒肢重神倦，非臥不可。風溫症之欲睡，每在春暖多風時令，脈象浮洪，證見發熱有汗。熱病已解之欲寐，必身熱已退，脈亦靜，別無表裡證發現。現今報所登云有數千人之多，我故名之曰「疫」，疫者，眾人皆病之謂也，非病名也。但五氣皆能成疫，由於五運六氣之推遷，其加臨有所偏勝，人在氣交之中，無所逃遁，同一病也，而比戶皆同，非真能傳染也。其有不病者？體質之虛實不同，實者不病；體質之寒熱燥濕不同，疫屬燥熱，則寒濕之體不病；疫屬寒濕，則燥熱之體不病。今波蘭人病於春令，大略是風溫成疫，究竟未知是處天氣如何？地氣如何？並前兩年時令之旱澇寒熱復如何？故仍未能確定為何疫耳。</p>

<h1>論人身上生雉、雀、蝙蝠、蛤、蛇、龜、鱉等動物</h1>
<p>紀曉嵐《閱微草堂〔筆記〕》云：《宣室志》載，隴西李生，左乳患癰，一日癰潰，有雉自乳飛出，不知所之。《聞奇錄》載：崔堯村外甥李言吉，左目患瘤，剖之有黃雀鳴噪而去。其事皆不可以理解。扎閣學郎阿親見其親串家小婢，項上生瘡，瘡中出一白蝙蝠，知唐人記二事非虛，豈但六合之外存而不論哉。</p>
<p>愚按：人身而生動物，似乎奇異，實不足奇。蓋未就氣化一研究耳，凡患病生鳥類者，乃陽氣風邪所化。生蛇、蛤類者，乃陰氣濕邪所化。故雉生於乳，雀生於目，蝙蝠生於項。人身身半以上天氣主之，禽烏皆陽類，本乎天者親上也；蛤生於足，蛇與龜、鱉生於腹。人身身半以下，地氣主之，鱗介皆陰類，本乎地者親下也，凡此皆明乎五行之氣化者，始得知之，若不講五行，不究氣化，徒沾沾於某方某藥治某病，是形而下者謂之藝，目之曰「醫術」則可；形而上者謂之道，名之曰「醫道」則不可。</p>
<p>腹中生蛇、生龜、生鱉、足間生蛤，均見諸前賢醫案，想諸君稍事流覽者，必皆知之，故未詳載。</p>

<h1>同是肢痛不可屈伸，其病原正對峙</h1>
<p>王孟英治徐氏婦，四肢疼痛，不可屈伸，謂是暑熱入於隧絡。楊素園曰：「《吳天士醫驗錄》有寒中經絡，四肢疼痛，不可屈伸。」證與此正相對峙。按：吳天士書未見，其方亦不得而知，大致是川椒、桂枝、白芥子、天仙藤、片薑黃之類。孟英方則載於《王氏醫案》，可以查閱。即此可見，凡百病證，有寒即有熱，不能執一而論也，如一見四肢疼痛，不可屈伸，即錄一肢痛難動之舊方與之，不知病原相反，欲以療之，適以殺之。</p>

<h1>痘症或涼瀉或溫補宜隨證變通</h1>
<p>胡韻梅患頭疼、惡冷、嘔吐、肢冷，而舌絳、脈數。王孟英與清透藥，次日痘出，口渴不歇，便閉，不飢，火熱甚熾，一路清涼，自起發至落痂毫不雜一味溫升攻托之藥，而滿身密布形色粗紫、漿濃痂黑而愈。楊素園曰：「一小兒出痘自始至終，參、茸不輟於口，稍停藥即懨然不振。」正與上案相對待，可見用寒用熱，皆宜隨證變通，未可執一而論也。愚按：凡病皆然，寧獨痘乎？</p>

<h1>二至丸為滋皿清熱之劑</h1>
<p>汪訒庵《集解》云：「二至丸補腰膝、壯筋骨、強陰腎。」又云：「女貞甘平，旱蓮甘寒。」按：女貞隆冬不調，旱蓮味酸併入肝經，下焦血分虛熱良方也。</p>

<h1>扶桑丸為息風潤燥之劑</h1>
<p>汪訒庵《集解》扶桑丸注云：「除風濕、潤五臟。竊謂不然，考丸中桑葉息風，脂麻、白蜜潤燥，乃治肺腎風燥之劑。」又按：上二丸，皆補陰上品，而醫家多忽視。</p>

<h1>溫病傳手不傳足之誤</h1>
<p>王孟英曰：「昔人於溫證僅言逆傳，不言順傳，後世遂執定傷寒在足經、溫熱在手經。不知經絡貫串，豈容界限。喻氏謂：傷寒亦傳手經，但足經先受之耳。吾謂溫熱亦傳足經，但手經先受之耳。其所以手經先受者，肺主表，膀胱亦主表，而膀胱屬寒水，肺屬燥金，氣類之相感召，水流濕、火就燥，故寒邪必先傷膀胱，溫邪必先犯肺衛。</p>

<h1>重訂《□溪醫述十種》序</h1>
<p>僕初不知醫，外祖星階汪公、外舅子卿張公，並通岐黃學。一則遺書得讀，一則至論飫聞，僕之言醫，導源於是。然猶未深究也，嗣先母汪太淑人病痿，委頓於床者經年，延何鴻舫世丈治之，健行如常。叔和胞兄病痢，不食幾絕者經旬，又經何丈治之而瘳。當臨診時並曰：「前藥誤矣，危乎殆哉！」因請於丈曰：「誤藥險乎？」丈瞿然曰：「藥能生人，即能殺人，胡為不險？」僕思人不能不患病，病不能不延醫，醫而庸劣，豈非兒戲生命，其不可不自學醫也，審矣，並不可不求其精也，亦審矣。其時芳石族兄名噪於吳，趨往詢以學醫之法，兄教以多看書，勤抄錄，勿拘一家言，勿泥古而輕今，亦勿信今而蔑古，久自貫通。乃定體例，分類十有五，隨時纂改，並教四子、兩女分科學習，命之協同分纂，復以所錄就正於族叔文端公，公曰：「醫有專家，有名家，有大家，斯法極善，久而勿懈，異日可成大家。」歲月既更，屬稿漸多，以言非己出，述而不作，又世居□溪，因名曰《□溪醫述》，至於今已三十餘年，雖其間家居則治經小學，出仕則治政治學，而醫亦未嘗一日廢也。今去其未成書者五種，以書名《醫述》，又去其非述舊體例之景景醫話一種，而加入學醫便讀一種，實為十種。本為自學醫而設，推己及人，人獲是書，豈非閱一書而不啻閱百十種書，循序漸進，獲益良多乎？定其次序，一曰《學醫便讀》，一曰《外候答問》，一曰《病症辨異》，一曰《要藥選》，一曰《用藥禁忌書》，一曰《古今醫論選》，一曰《古今醫方選》，一曰《古今醫案選》，一曰《內服單方選》，一曰《外治單方選》。以上十種，惟《醫方選》稿成未刊，其《醫論選》、《內外單方》，則已刊行於滬讀，餘六種則為杭州三三社所刊，但皆草創之稿，因醫籍浩繁，纂之不盡，缺略滋多，未足以為完帙，且門類之分，先後之次，複雜之言，均未能悉心釐訂，不過存諸案頭，便於翻閱，教諸兒曹，略知門徑耳。乃見者以為便於習醫，爰先付諸梓民，今又刪其復，補其缺，重加修飾矣，現方繕寫成冊，擬籌資以再版。嗟夫！今世歐學盛行，因其種種科學之精而並信其醫術，日本已更張矣，我中國之推崇西醫亦已入則主之，對中醫反出則奴之矣。此不能怪世之信仰，須怪我習中醫者，於極精粹之學術不求深造，僅從師二三年，記方百十道，便爾懸壺，何草草也！須知人身，本稟陰陽五氣以生，有生後即藉陰陽五氣以養，而亦因陰陽五氣有所乖戾而病。所謂五氣者，就原素而言，則金、木、水、火、土也，就變動而言，則風、寒、濕、熱、燥也，且盈天地間，形形色色，無一不本於陰陽五氣，所以動物、植物，暨塊然無知之物，皆可名之曰「藥」，皆能治病，為其以氣化氣也。然則何氣為病、何氣能療，必當深究其源，使僅知頭痛醫頭、腳痛醫腳，泥一方、執一藥以應之，談何容易耶？吾為此書，衍岐黃之傳，去高談、化偏見，由淺入深，為中人以下說法，俾習中醫者，人人深造而進於良，斯治病無不全瘳。將見向之趨時而信仰西醫者，一覈實焉，而轉重乎中醫，夫何必辯駁費詞，闢其治療之謬哉。</p>

<h1>《學醫便讀》序</h1>
<p>有清一代，人材輩出，各種學術，若經學、小學、若算學、若弈，俱超越前古，醫學亦其一也。非今人之材力、聰明迥異乎古人，蓋創者恆難，繼者恆易。凡百學術，以愈研而愈精耳。醫藥之有歌賦，便於記誦，伊古流傳，其法至良，其意至美。脈則有王叔和《脈訣》等；藥則有雷□《藥性賦》等；方則有許叔微《百證歌》等；即清代陳修園、汪訒庵輩，亦多歌訣。而僕於脈象獨取江筆花《診脈歌》、費晉卿《脈法四言》、於舌形獨取吳坤安《察舌辨證歌》、於病證獨取張令韶《傷寒直解》、辨證於藥獨取雷福亭《藥賦新編》、於方獨取雷少逸《六十方法》、雷福亭《方歌》。別類者正以彼此互較，後勝於前，取其簡而明、賅而當也，所借辨別病症，僅有《張氏傷寒辨證》，未及雜病，尚嫌缺略，異日當取各書各症之辨證者，分類編歌以補之，學者循是以進，由淺及深，較諸先治《內》、《難》、《金匱》、《傷寒論》等書，致苦艱深，及墨守一家言，膠持偏見者，不且得門而入，弗誤岐趨哉。雖然，讀此編為先路之導，則可；讀此編而即以為能醫則不可，必進而求助喻、葉、徐、吳諸家，再進而求諸劉、張、朱、李諸家，當知其說之各有偏，復當知其說雖佩而亦有理，理本無窮，不可不信，亦不可偏信。由是，再進而讀《內》、《難》兩經，究運氣遞遷之理，推天人相應之原，知患病之悉關乎氣化，即悟治病之亦恃乎氣化，庶幾因委窮源，豁然貫通，以之治病，化乖戾之氣，盡返為和平之氣，自然圓機活相，頭頭是道，是在好學深思之士，有以深造而臻其極也。</p>

<h1>《外候答問》敘</h1>
<p>《小戴記》曰：「莫見乎隱，莫里乎微。」又曰：「其次致曲，曲能有誠。」病之生於人身以內，至隱也，至微也，而證之形於人身以外，灼然可見也，就其可見者而揣詳之，則隱者見、微者顯矣。所謂證者，證固證也，脈亦證也，舌亦證也，形、色、情形，無一非證也，凡可據以為外候者，比比皆是。夫治病如治獄，然詳辨證候，不猶蒐證物憑證人乎？開列醫案，不猶酌案情，判案語乎？審症而用某法某方，不猶用律乎？病情變幻，須某法變通，某方加減，不猶獄情變幻，須引例比例乎？惟是證同也，而原不同，知其一，不知其二，烏乎可？曰凡證之原因，有幾必備，知而勿遺，原既不同，究屬何因，又將恍惚而失據，烏乎可？曰參諸他證，凡診一病，互勘各候，合於此不合於彼，非是症也；合者多而不合者少，症則是矣，而所以不合之處，機即在是，思之思之，神鬼通之，此固非博通無窮之理不可，然未先知各候之種種原因，即欲索其理而末由。僕於是輯《外候答問》，俾學者先知證之各因，此致曲之道也，由是博學審間，慎思明辨，不且進臻於誠哉！</p>

<h1>《病症辨異》敘</h1>
<p>百病之有虛、實、寒、熱、燥、濕也，猶六合之有上、下、東、南、西、北也。虛病而實治之，寒病而熱治之，燥病而濕治之，豈非南轅北轍，愈治愈劇耶？故治病必自辨證始，先辨其表、里、經、絡、臟、腑，知病之在表、在裡、何經？何絡？某臟、某腑，然後於脈象、舌苔及他候參考。再辨其為虛、為實、為寒、為熱、為燥、為濕，或在一經，或兼他經，如是，庶得其真相。僕南遊閩浙、北走燕齊，以及湘鄂等處，見南醫多善治溫熱，北醫多善治傷寒，能會通者實鮮。且南醫遇神昏、譫語，無不以開心包為急，曰葉、吳所論也，一若是症決無胃實、肝熱、心虛等因者。北醫遇發熱無不以麻黃、桂枝從事，遇腫脹無不以腎氣從事，曰仲景之法也，一若發熱決無風溫、內傷等因，腫脹決無濕熱、積聚等因者。抑何執而不化也？僕舉此數症，以概其餘。際此輪舶火車，交通利便，天地之氣亦為之變遷，醫者幸勿泥於西北燥寒、東南濕熱，當就證論病，對病發藥，斯為善治。苟不辨證，症曷由明哉？閱古今方書，載以證辨症之說甚詳，似可毋庸贅言，然未有薈萃成書者，因粗具體例，命兒培初編輯足成之，名曰《病症辨異》，以為初學之資、臨症之助。逾期年漸成帙，同人謂有裨於醫家、病家，慫恿付梓，惟遺漏尚多，未足為完帙，姑付刊以為先路之導，倘得勤學者補苴掇拾，隨時補纂，跂予望之。</p>

<h1>《病症辨異》敘</h1>
<p>治病之道，當治其原因，不當治其表面。所謂表面者，若咳嗽也、腫脹也、瘧也、痢也，諸如此類，皆病之表面也。頭暈也、口渴也、腹痛也，納呆也，諸如此類，皆證之表面也。其實，則各病各證俱有其原因，或因於六淫外感，或因於七情內傷，或因素稟之偏於陰虧、偏於陽虧。未明其原因，第就表面觀之，泥用古方，不知基為虛症咳嗽、虛症腫脹也，而以實症咳嗽、實症腫脹之方治之；不知其為熱症瘧疾、熱症痢疾也，而以寒症瘧疾、寒症痢疾之方與之；不知其頭暈、口渴、腹痛、納呆之因於此也，而以頭暈、口渴、腹痛、納呆因於彼者之方療之，籠統論治，宜乎愈治而愈壞，不明醫理者，且謂我用某書某醫之古方，明明載治某病，不識何以不應而反劇。如此遂疑病本不治，而茫不自知其紕繆。究其所以紕繆之故，由乎未能辨證，試觀從前名醫，同一血崩也，證見氣滯，用醋炒香附炭；證見血瘀，用五靈脂炭；證見氣陷，用荊芥炭；證見血熱，用槐耳炭；證見血寒，用烏梅於薑炭；證見血脫，用棕櫚白礬炭。同一悶痘也，證見火閉，臥之以漆桌，證見氣閉，激之以發怒；證見寒閉，塗之以雞矢醴；證見血閉嘬之以蚊口，非辨明原因而同病異治哉？夫舌苔、脈象、神情、面色、飲食、大小便，皆辨證最緊要處，苟辨明原因，則治肺腎虛寒之咳嗽方，轉可移治肺腎虛寒之腫脹病；濕熱熏蒸之瘧疾方，反可移治濕熱熏蒸之痢疾，何則？其原因同耳。培初趨庭時，習聞家大人論說如此，並酌定《病症辨異》一書體例，命為纂輯。培初年幼學淺，隨侍濟垣，書亦不多，就案頭書，逐日分類抄錄，雖已成帙，缺略尚多，今欲付梓，殊為惶惑，家大人謂並非己作，梓亦何害？爰述庭訓而作此敘。</p>

<h1>《要藥選》序</h1>
<p>病同而原不同，既閱《病症辨異》，瞭然於胸中，而辨明其原。即一病有一病不易之主方，此僕所以輯《醫方選》也。然方傳自古，安有恰恰與病無一毫稍異者？設或病同原同，而有一二見證或不合者，必將成方加減而後可。一證有一證必用之藥，此僕所以又輯《要藥選》也，閱《禁忌書》而可知某藥之須去，閱此書而又可知某藥之宜加，參觀焉而處方自能得當。蓋所輯各種，本相輔而行，僕精具體例，命兒子培善，分纂《醫方選》，八女分纂《要藥選》，乃培善以學堂肄業，僅分余晷以輯書，未能竣事，乃命培初續纂，八女又於戊午十月于歸馮氏，因而輟業，不幸於己未閏七月初五日，以妊娠身重，肝鬱暴厥而亡，是書遂未曾完備，今又逾年餘矣。展閱遺冊，尚待補葺，姑先付諸梓民者，存其舊稿，俾不沒其辛勤，他日當命兒女增訂重印，以成完帙，與《醫方選》同版以行世也。臨穎之際，曷禁泫然。歲在庚申仲冬之月。</p>

<h1>《用藥禁忌書》敘</h1>
<p>《內經》曰：「勿虛虛，勿實實」，此二語可以包括一切禁忌諸說，所謂知其要者，一言而終也。然則胡為乎輯《用藥禁忌書》哉？曰：此為不知醫，及初學醫者而設也。不知醫、初學醫，則罔知何病，誤用何方，蹈虛虛之弊；何症誤投何藥，犯實實之危，併為粗諳醫藥，及病家檢方自醫者而設也。粗諳醫藥輩有三：或則師門錄方，略知概梗，集解歌訣，僅得皮毛，急於問世，未遑深造，寒熱瘧痢等病，亦能奏效，泊逢大症，束手無能。或則文人學士，兼涉岐黃，非《內》、《難》、《傷寒》、《金匱》等書，鄙夷而不讀，聆其議論，非不高超，洎乎治病處方，似是而非，毫釐千里，誤人性命。或則泥於一家言，未嘗博覽，或主景岳、或主立齋、或主石頑，或主修園、或主靈胎，或主鞠通、孟英，大都此皆巨帙，得此一編，以為道盡於是，不復更閱他書，便則便矣，其如諸書所論，各有所見，亦各有所偏；各有所得，亦各有所未知。學者知其一，不知其二，以病湊方，非以方治病，執一孔之見，應萬變之病。合其書者愈，不合其書則輕者重、重者死。非書誤人，人自誤耳。此三者，一失諸因陋、一失諸好高，一失諸偏信，其弊也則相若。至病家檢方自醫，見所載病證相同，便即照服，詎知病同而原不同，原同而虛實不同、寒熱不同，燥濕不同，執方書謬試，非徒無益，而又害之矣。須知藥性皆偏，既能生人，既能殺人，凡病俱有表裡、虛實、寒熱、燥濕、升降。表者，不可以里治；虛者，不可以實治；寒者，不可投以涼；熱者，不可投以溫；燥者，不可投以燥。濕者，不可投以潤；病上逆者，不可升；病下陷者，不可降。人身因偏而病生，藥也者偏以救偏，不求其本而亂試之可乎哉？用是不憚煩瑣，粗具體例，命兒子培良，分類纂輯，雖未能逐症逐藥而遍及之，然苟熟玩斯編，觸類旁通，則下筆立方，自憬然於藥之不容亂用。爰為之序其緣起如此。</p>

<h1>《用藥禁忌書》後敘</h1>
<p>培良承家學，學堂肄業之暇，兼治岐黃家言。家嚴輯《□溪醫述》多種，謂漏略滋多，命培良兄弟姊妹輩，踵而分任：補茸之禁忌書一種，由良補纂既成帙，略有所悟，爰綴數語於卷端，以明心得，請舉一二端，以申明之。藥之有所禁忌，不必內傷而誤作外感，實病而誤作虛症也。即同一血虛病人，皆知主以四物，然體熱忌歸、芎；體寒忌地、芍；泄瀉者忌歸之滑；肝陽者忌芎之升；痰多者忌地之膩；氣滯者忌芍之斂。同一氣虛病，人皆主以四君，然肝尚旺者忌參之溫；濕不盛者忌術之燥；溲清長者忌苓之滲；中痞滿者忌草之甘。用藥不細，尚有妨礙，推之各方，莫不皆然。其大相反之禁忌，人尚易知，其稍涉偏之禁忌，人所易忽，不知方中有一味之不合，為所牽制，即不能見效。是以古方即合於病情者，尚須核其中有無相礙之藥，加減用之。即就一人一病而論，亦有初、中、末三候，大概初病體實病實，宜用攻；病中半虛半實，宜攻補兼施；病末九虛一實，宜補中帶攻；病後邪盡，又宜補。有所宜，即有所忌，初病之方，禁施於後日，病後之藥，忌用於前時；其於病中、病末之攻多補少、攻少補多，最難斟酌盡善，畸輕畸重，即已犯戒。試觀仲聖桂枝加桂湯，及小承氣之與厚朴三物湯，皆藥味同而分量不同，便另立方名，其故可深長思也。古者名醫，每立一方，或汗、或下、必申其誡曰：「得汗，停後服。」「得便，停後服。」斯何等鄭重耶！然則合病之方藥，一味摻入而稍雜焉；分量失當，而偏重焉；中病連服，而過劑焉，尚有所禁忌，若是矧乎其與病徑庭者哉！雖然權衡恰當，談何容易，良亦不過心知其意耳。但能臨證時不顯犯禁戒，更參酌於虛實輕重之間而一再留意焉，庶亦不致草菅人命也夫。</p>

<h1>《□溪醫論選》序</h1>
<p>經學也，古文也、詩也、字也，皆以能成家數為尚，而醫獨不可，僕少專經小學，兼攻古文辭。於詩、字兩途，未嘗致力，而與當代名儒碩彥遊，竅聞緒論，亦略知梗概，漢學具有師承，古今家派別門分述者，每各守家法，罔敢異議。古文則唐有韓、柳；宋有歐、蘇；有清亦分桐城、陽湖兩派，學者刻意摹仿，不敢稍有出入。詩則唐之李、杜、王、孟，宋之範、陸、蘇、黃，後世學子其揣摩亦同於古文字，自秦漢魏晉以迄唐宋，體格各異，臨池者亦每專習一家，以求酷似。惟其有家法，是以能成名也，惟其無關乎性命，是以不妨獨成一家也。以論乎醫，若張仲景論傷寒、張子和論汗吐下、劉河間論火、李東垣論脾胃內傷、朱丹溪論陰虛、薛立齋論真陰真陽、高鼓峰論陰虛陽虛、吳又可論溫疫、喻嘉言論秋燥及非驚風、錢仲陽論痘火、陳文中論痘家虛寒、吳師朗論假虛損、績石論陽虛溫脾勿補火、陰虛清肺勿滋腎，葉天士、陳平伯論風溫、濕溫。其他，晉有王叔和，隋有巢元方，唐有孫思邈、王燾，宋有陳自明，金有張元素，元有王好古，明有戴思恭、李中梓、趙獻可、王肯堂、張介賓，清有黃元御、陳念祖、張路玉、汪昂、徐大椿、吳瑭、王士雄等，莫不著作宏富、裒然成帙，各為一家言，專就其書而論，非不娓娓動聽，具有至理。但醫理無盡，諸前賢所著述，皆發明一理，為救弊補偏而設，故詳於此者略於彼，然則彼皆非歟？曰：「皆是也。」惟後人專習一家，偏信一書，人者主之，出者奴之，知一而不知二，先入之見橫亙於胸，而不知化，便謂萬病治法莫不包括在內，不無謬耳。是以善閱書，則諸書皆有益，不善閱書，則諸書皆有害。《內經》云：「寒者熱之、溫者清之、衰者補之、強者瀉之。」斯為總括要旨，彼諸醫家，累千萬言，不過發明《內經》一端。須知病變無窮，宜攻則攻，宜補則補，宜寒則寒，宜熱則熱，安可先有成見而偏攻、偏補偏寒、偏熱以施治耶？故苟欲習醫，須博通各家言，於種種道理無不貫澈而後可。然醫籍夥矣，居則充棟、行則汗牛，學者不無望洋而嘆，僕是以不揣檮昧，命兒子培治，編選名論，隨時指示，有《醫論選》之作，不尚膚詞，專究精理。遴其論說確當者，分為三編，中編為有清一代醫家所論，後賢之說能括乎前賢，故先付手民，俾學者得是為先路之導，庶幾再觀他書，不致墨守一家言，有偏攻、偏補、偏寒、偏熱之弊，誤人性命而不自知，猶以為我固用某書某方者，而何以病竟不瘳也。噫嘻！</p>

<h1>《□溪醫方選》序</h1>
<p>此書以《醫方選》名，古今方均列入，故不曰古方、不曰今方，而僅曰「醫方」也。古今方何啻數萬，用不勝用，擇其合用習用者錄之，故曰「選」也。書中以類相從，然方書多以病症為類，而是書則大半以證為類，為便於查檢起見，且可互參證同而病不同之處，即可知病不同而藥亦不同之處，不致泥於何病何方，誤所施用耳。即對證之方，亦必有一二與現證不合，全在醫者之就證加減，斷無呆抄舊方之理。然其中仍有以臟腑病症分門者何也？則又為互相印證起見，總之，為習醫行醫者平日得以考覈異同，臨證得以查對引用而已矣。</p>

<h1>《□溪醫方選》序</h1>
<p>蘇東坡曰：「藥雖出於醫手，方多傳於古人。」古人業立方以傳後，而仍必待醫之擇用者，何哉？曰：同一病也，表裡分焉、寒熱異焉、燥濕別焉、虛實殊焉，醫者辨證未明，何能用方恰當，病非可以籠統治也。當今醫家，有專用仲景方者，有專用景岳方者，有用汪訒庵所集方者，有用陳修園方者，有用吳鞠通、王孟英方者，大致不離乎此數家為多，其他則罕見。</p>
<p>家君命舍弟培善編輯是書，因肄業學堂，半途而廢，覆命僕賡續成之，僕於諸家多所採取，亦有所不錄，而於其他各家，苟方之善者亦一一纂入，非誇博也，為其合於用也。總之，宗旨以每病之表裡、虛實、寒熱、燥濕之不同者，各選一二方以求其備，而尤於病之似同而異者，詳為旁註，比類連綴，俾醫家、病家知所去取。蓋用之而當，無方不善；用之不當，無方能效，其竅妙總在乎辨證，辨之明，斯用之當，自方方有效。今衷然成帙矣，將付梓民，爰述用方之法，以弁卷端。</p>

<h1>《□溪醫案選摘要》序</h1>
<p>《□溪醫案選》為《醫述》各種之一，前賢、時賢佳案甚多，就所見者僅輯其半，已卷帙浩繁，其未曾選者尚擬增；其已選而病症治法相同者又擬刪；其案中閒文冗句亦擬節，既非完帙，亦非定本，加以付印不貲，難於出版，茲奉嚴命，就已選各案，節錄要語，摘其病原、病狀，以為目復，抉諸賢得竅所在，摘要辨證以為注，更摘原方附以鄙見，為用藥之準則，名曰「摘要」。復由家君鑑定，約分門類，此連而觀，可以觸類旁通，按其姓名，又可檢閱原書，於此似同實異處研究，不啻群賢會講一堂，啟我智識也，此書或有裨於臨症乎。</p>

<h1>《□溪醫案選摘要》楔言</h1>
<p>醫究非仙，何以良醫獨燭照如神？無他，能四診互勘，抉其獨別處而得真相耳，故治病以辨證為要，辨症以辨證為先，症為全體，證屬一端，然必於望問聞切四者，先知種種見證之種種原因，匯列而互參，乃能知症之何屬。古今醫案，多就已明之症分門別類，未有將散見之證依類編次者，實則明此病之證，何理由，即可明他病之證，何理由，都可觸類旁通，如萬密齋治痘症身癢，而於《傷寒正理論》悟其故；張仲華治濕溫流入少陰發熱，而於《傷寒論》寒邪入少陰反發熱悟其故，諸如此類，可見理本觸處皆通，正不必膠柱鼓瑟，膈症必求諸膈門，瀉病必泥用瀉方也。知此證之因乎是，又知此證之因乎彼，更足以悟證同而原多不同，如昏譫之或由熱，或由濕，或由體虛不食之，或為積，或為痰，或為胃虛，諸如此類，非四診互勘，諸證環質，不能得其真諦。真諦既得，自能以此病之方移而治他病，亦不必刻舟求劍，痘症必檢諸痘門、嗽病必套用嗽方也。</p>
<p>前輯《外候答問》、《病症辨異》即本此旨，今將《醫案》重為選編而摘其要，非欲別開生面，但求可為臨證之助云爾，其有何證何因，為各案所無者，復參閱《外候》、《辨異》兩種，已大致全備。世有欲為良醫者乎？可於辨證上細心研究，毋徒記某方治某病為也。</p>

<h1>《醫論選》序</h1>
<p>醫理即在目前，一經指出，無人不知，假如夏令炎搞，揮扇、飲涼，此即「熱者寒之」之法也；冬日嚴寒，重裘，圍爐，此即「寒者熱之」之法也。腹飢納食，食後覺適，此即「虛者補之」之法也；內急欲便，便後覺爽，此即「實者瀉之」之法也。渴而飲，「燥者潤之」也；脹而溲，「濕者滲之」也，皆有形象可顯知者也，何以一遇病則不復以形象顯知者？辨別其虛實寒熱，而貿然混用方藥哉？夫藥所以能治病者，何故？曰：太極判而陰陽分，陰陽分而五行別，得陰陽五行之全者，為人；得陰陽五行之偏者，為物。天一生水而生腎，骨以立焉；水生木而有肝，筋以成焉；木生火而有心，絡以長焉；火生土而有脾，肌肉充焉；土生金而有肺，皮毛盛焉；金復生水，而生生不已，故賦形獨備，賦質獨敏，人為萬物之靈焉！若鳥獸魚蟲、草木金石諸物，僅得其偏，不能有是。上古聖人知其然，黃帝論《內經》，而入之所以生、所以死、所以病、所以療者，言之綦詳，而醫學顯，神農論《本草》，而物之若為溫、若為涼、若為補、若為瀉者，言之綦詳，而藥性明。論醫藥者此其權輿，後賢代作，互相闡發，足稱黃、農之功臣，惟充棟汗牛，書多矣；強詞奪理，說龐矣。無以選之，則不精，蓋病者為其有所偏也，以物療之，偏以救偏也。醫必究乎氣化，藥必究乎道地，其道直探造化之玄妙，而泄之，精且奧也。論說一偏，則用藥亦偏，非但不能以偏救偏，且將以偏濟偏，是猶炎熇而重裘圍爐；嚴冬而揮扇飲涼；腹肌而奪其食；內急而禁其便；渴而不許飲；脹而不許溲矣，是殺人利於刀劍矣，烏乎可！</p>

<h1>《醫論選》序</h1>
<p>自黃帝著《內經》而醫學顯；自神農作《本草》而藥性明，中華數千年來，醫究氣化何其精也！藥究道地何其慎也！可知《內經》論醫，《本草》論藥精矣！博矣！似無庸後人贅言，然古文奧遂，難卒讀，品物日出，不無發明，後賢論說，大有可取者在。因此，家君命伯兄有《醫論選》之舉。慨自互市而後，西醫西藥灌輸於內地，考其治法，重乎剖解，是跡象之學，考其藥物，類多是金石，是宜於壯體，與中醫中藥從氣化治療者，派別門分，而日新月盛，駸駸乎有喧賓奪主之虞。在矜奇好異者流，且薄己重人，鄙夷中醫中藥為不足道。嗚呼！未之深思也，果西優而中劣？理宜彼皆壽而我皆腸？何以橫覽列邦亦多夭札？反觀中國不少期頤耶？雖然泰西醫藥之所以能流行我國者，亦自有故，習中醫者略讀《藥性賦》、《湯頭歌訣》便爾懸壺，其傑出者亦只墨守一家言，未能貫通，以之治病，或愈、或不愈。售中藥者作偽欺人，固無足論，貨即不贗，而所產非佳品，所制不合法，亦失效力，非中華醫理之不精。習中醫者急於行道，故步自封，不復深造而臻於精，非中華藥物之不良，售中藥者，工於謀利，雜以枯窳，不復抉擇而求其良耳。然則欲保存國粹，非研究學說不可，欲研究學說，非精選善本不可，此書其圭臬乎？</p>

<h1>《□溪醫論選》跋</h1>
<p>僕夙耽典籍，泛覽無歸，嗣讀岐黃家言，覺博大精微，最裨實用，中年而後，觀政餘暇，一志於斯，卅餘年於茲矣。每手一編，輒朱圈墨勒，隱寓雌黃。丙辰季春，兒子培治，卸驗契所所長事，自贛來魯，閒無事，爰命取庋架書，據圈勒以定去取，匯選一編，他兒女復襄助討論之，今年孟夏選竣，適干青侄是翼來署，任編次之勞，仲夏寄滬付石印。心竹侄培勳，復就近任復校之勞，茲才印竣。僅僅一述而不作之書，書成之難，如是。然則樂觀厥成乎？曰：否！否！聞當今列強陰謀家，方肆其商戰，故智以亡人家國，簧鼓我當道。援東瀛例，廢中醫而用西醫，我不敢謂西醫一無所長也，我亦不能謂中醫一無所取也。剖解者徵諸實，粗跡可依；氣化者課諸虛，精蘊是究。俞跗、華佗諸術，赤丸、五石湯等方，皆我國所本有，何以至今不傳耶？則以害多利少，功不補患也。設令盡用西醫，勢必盡用西藥，我國所產藥，為貨材一大宗，非東瀛比，棄之已可惜，而西藥之輸入者歲將億萬計，其損失何可勝言。吸盡脂膏，不亡何待？我曰：以商戰亡人國者以此。嗟乎！袞袞諸公，即不為人民生命計，獨不為我國國計計乎？僕今者，我盡我心，仍汲汲焉印此書，為醫家精進謀，為病家生命謀，併為國粹保存謀。醉心歐學者得毋目笑存之耶，將來為高閣之束，為破瓶之復，為秦火之燔，為伏壁之藏，舉不暇計，及復綴數語於卷末，以寄感慨。</p>

<h1>《□溪醫論選》跋</h1>
<p>家君編選是書，命弟兄姊妹輩同參之，今者覆命各作序跋一道，敘述書中內容，且藉以觀我輩學識也。善謂大致要旨，一言以蔽之，曰：「辨症」，此外年幼學淺，莫能贊一詞，姑述一笑談以作結束可乎？</p>
<p>昔者，某名醫有兩徒，將出而懸壺，師曰：「何以應世？」其一曰：「我覺黃元御、陳修園輩之說長，將一應以溫補予之。」師曰：．「可。」其一曰：「我覺朱丹溪、王孟英等之說優，將一概以寒瀉投之。」師亦曰：「可。」或者疑之，師曰：「毋庸疑也。凡病莫不有虛實寒熱，是兩人者誤治個半，愈亦半也。」使但知病有虛實寒熱，而不知辨別症候，將虛其虛、實其實、寒其寒、熱其熱，不且盡為所誤焉？書此以發一噱。</p>
<p>陸永粲曰我弟述笑談一則，以作結束，我今更作一別解，曩與先姊詠提論立方之難，務使對病、對證，藥無一味之或偏，為主、為佐，數無一分之可易，乃效如桴鼓，安得今日中醫盡為不偏謂中之中醫，安得庸醫盡為不易謂庸之庸醫。斯何慮中醫之見廢？斯何慮庸醫之貽譏耶？</p>

<h1>《□溪醫論選》跋</h1>
<p>小子不敏，年十九矣，方肄業津門北洋大學校，未遑治醫。今夏暑假，省親於濟陽，祖孫父子天倫樂敘，怡怡如也。見大父命家君輯《醫論選》成，相與討論，謂天有五行，地有五方，人有五常。道之大原出於天，凡事凡物莫能出其範圍，醫亦一端，乃盡人以合天之學，其精蘊導源於五行，使言醫而可廢五行，亦將廢五常而為人，四體百骸猶是也，即得目之曰成人乎。又謂中醫之陋，即在於實驗，得一藥也，試之有驗，相率效之；得一方也，用之有驗，群焉取之，不知未究原理，則驗於此者，不驗於彼。古方流傳，本使後人作為法度，得以研究，今反以有古方而依稀仿用，豈非大誤。故藥必究諸《本草》，不在多，更不在僻，但能逐味澈其功用、弊害，如用人然，自任我驅使，無乎不當。然能用藥必先明病理，則《內經》尚矣，《內經》無偏說，所以難能可貴，但舉其大端，未逐症而論其變遷，故又當參觀後賢諸說。仲尼曰：「中人以上可以語上也；中人以下不可以語上也。」今以五行為無關醫理者，殆不可以語上者乎，今之以實驗為能盡醫事者，但僅可以語下者乎！</p>

<h1>《香岩徑》序</h1>
<p>我吳葉香岩先生，名桂，醫號天士，行醫五十餘年，名噪於大江南北，繼且通國皆知。相傳乃翁為兒科名手，本系家學淵源，學醫之初，又歷從十七師遊，盡得其所長，集眾長以為長，是以獨擅其長，只以診務匆忙，未遑著作，僅傳《景岳發揮》及《幼科要略》、《溫熱論》兩篇。其門弟子吳坤安著《傷寒指掌》，吳鞠通著《溫病條辨》兩書，所編並是先生醫案，然不足以儘先生之蘊也。華氏集《臨證指甫》，靈胎評之多毀語，實則徐君欲藉以自顯，語多失實。以後吳氏刊《三家醫案》，先生後嗣又刊《醫案存真》，近張氏又刊《徐批真本》。閱前後四書，其案語皆本《內經》及諸大家論說，其立方皆本仲聖暨諸賢，或徑用成方，或化裁而出之，學有根底，言皆翔實。或□先生為專尚纖巧，適相反矣。但其案，皆晚年之作，華氏所謂「其時延先生者，皆危篤重大之症，諸醫治之而不見效者。」鄙人察之，斯言誠然，考四書所載，輕病、時病，不過十之一耳，其他皆虛將延勞之損症，久必入營之絡病，愈難除根之宿疾，老已就衰之沉疴。想當年，先生診治，定然著手成春，何以知之？知於治法、處劑，迥異庸流，讀其案語，無非入理深談也。即或有一二難愈者，雖未卻病，亦必延年，從可懸斷。今僕承庭訓，為便於查閱起見，同霞赤表兄、膺一胞弟，就原書分證選編。夫一病何啻數證，如此編法，不免瑣碎支離，通人見之必然竊笑，然因端可以竟委，溯流可以尋源，往往於一飲食、便溺之微，一起居、動靜之細，一時令暑刻之間，似乎無關緊要，而病之真相，即於此露其端倪，我豈真欲捨本以逐末哉？其刪繁就簡，每方案僅列兩行，則以博覽《四庫》經籍者有提要法，辦理各署案牘者有摘由法，意猶是耳。書成，以較原書為易閱、易查，並易學步，即此可窺先生學術之門徑也，名之曰《香岩徑》。行遠必自邇、曲徑可通深，入奧境登高必自卑，捷徑可由直臍絕頂，倘玩索斯書，因是而詣造高深，則即名之曰「香岩境」也可，名之曰「香岩頂」也亦可。</p>

<h1>《香岩徑》序</h1>
<p>憶余少時聞父老閒談，多盛稱葉天士先生醫術如神，或曰：有難產，數日不下，值立秋，先生用桐葉煎服而立生。或曰：有少婦臨流浣衣，毫無病狀，先生令輿夫出不意，堅抱之，婦驚哭，掙不能脫，頃之，布痘滿身。或曰：「其外孫患悶痘不出，先生閉諸黴濕舊屋中，為蠅嘬蚊咬而痘發。或曰：有學徒素無病，飽食後適先生過肆前，欲試其術，從櫃中跳出，強先生診脈，畢，先生曰：「病不過半日，無可救。」咸大笑為妄，不知跳時腸為之裂，果逾時即殞。或曰有星家推算先生干支生命，一生有天醫星入宮。或曰張天師蒞蘇，肩輿過萬年橋，方拾級而登，遂命輿夫停步，逾刻乃行，人問其故，曰：「天醫星適由橋下過，故避之。」偵視，乃葉先生舟也。其名之噴噴於人口如此。比余中學畢業後，隨家君習醫數年，覺先生醫術之所以稱神，固自有在。初非鄉里所傳播稱道者，先生著述無多，《溫熱論》一篇膾炙人口，吳鞠通推闡其說於前，王孟英暢發其旨於後，於是，江浙間醫家多以治溫病名，獨武進孟河名醫輩出，並不專治溫症，由是，醫家有孟河派、葉派之分。鄙人察之，《條辨》一書，就三焦論治，尚是溫燥、濕溫並言。《經緯》一書，雖列仲景《濕溫篇》、薛生白《濕溫病篇》，而全書議論偏於溫熱傷陰立言，其治風溫、溫燥則可，對於濕溫治法實多疏漏，以致後學者承其謬誤，但知清涼滋潤，此可稱曰王孟英派。若葉先生不如是也，即先生《溫熱論》，亦濕溫、溫燥並言。其外，專著甚少，流傳者惟醫案，並不專治溫病，《指南存真》等可考也。其真能得葉派之傳者，厥有兩人，一曰青浦何書田先生，其《醫學妙諦》一書，初僅有歌訣，名曰《雜症歌括》，後選葉氏方案，條例於下，即取《葉案》高梅序文，「印名師之妙諦，開後學之法門」語，更以今名，以志景仰之意。一曰蓬萊張伯龍先生，在滬行醫，頗著盛名。其治病，每用葉方，每多應手，試閱《雪雅堂醫案》，有蹤可尋，實在葉派，反不自附於葉門，其意不欲借重於人耳。曩在京師桐鄉劉農伯孝廉與家君論葉氏方案之善，劉意囑家君選數百道為之疏證，以指導後學。家君辭以無此精力，繼而曰引申而暢其旨，有所不能，刪節而摘其要，或易為力，於是定此書體例，由愚弟兄輩任選纂編注之勞，仍由家君審定之，閱兩寒暑而成書，凡注中加以「辨諸」二字者，蓋即抉出葉先生所以知病之真相，其得竅在是。昔賢謂四診互參，不可缺一，又謂病須兼眾證，與舌、脈並審，不可專指一證為據，誠然誠然！是編不取共知之何病為類，轉以散見之諸證為類，欲使學者勿忽於偏端，毋略於細故，庶幾引一線以抽全繭，沿細流以以探星源。仍是眾證環質，搜索真據之法也。其用心亦復良苦。然而後來必有以瑣屑支離□之者，知我罪我，其惟《春秋》，所不暇計矣。</p>

<h1>《□溪內服單方選》《外治單方選》合序</h1>
<p>古今單方，何啻數方，僕數十年來，上自《千金》、《聖惠》，下及後醫著錄，與夫耳聞諸友朋者，隨時選擇，去其不甚效驗者，去其藥物冷僻不易覓者，去其藥物貴一時難致者，去其藥品峻厲，雖有效而有後患者，去其藥性太偏，不知醫人誤用有害者，分類編輯。大而調理、求嗣、補養、延年，小而蟲螫、火燙、物刺、食哽、急而暴中、短見、遇祟、中毒、緩而久痢、陰瘧、虛勞、痼症，亦幾無病不備，有藥皆靈矣。同人見之，以為窮鄉僻壤，旅行客居，得此一編，勝於誤延庸醫，爰先集資以付刊。</p>

<h1>書嚴癡孫《女科醫案選粹》後</h1>
<p>醫籍多矣，閱之不盡。僕是以有取各書作節要之想，且我所欲言，皆古人所已言，但能抉擇錄出，簡而且明，豈不誠善？敝處擬輯《醫案選》、《醫方選》兩種，知凡病無不有寒熱、燥濕、表裡、虛實之異也，故所定體例，於每病中之原因異者，無論症之常見、罕見，俱選一二方案，比類而觀，自能啟人智慧。女科書，罕純粹者，惟沈堯封《女科輯要》為佳，而其書即於不純粹之各書摘出，述而不作，條條精當，今嚴先生惠我《退思廬醫書》四種合刻，內有《女科醫案選粹》，讀之先得我心。試即其選以論之，同一經病也，葉香岩案，以膂脊常痛，入夜病劇，天曉安然，而辨知肝腎奇脈陰虛；陸養愚案，以脈沉弦而滑，右關尤甚，而辨知氣滯痰凝。王孟英案，以能食、便堅，痢不兼糞，先痢後乃汎愆，而辨知病由滯下；陸養愚案，以脈左盛於右，而辨知氣少血多、氣虛血瘀。又案，以四五鼓時其熱更甚，而辨知少陽鬱熱，氣衝塊升。葉香岩案，以久嗽、背寒、晨汗，而辨知郁傷肺脾之陽。汪石山案，以腹痛日重夜輕，而辨知陽虛。陸祖愚案，以脈來有力，服辛溫藥咽喉增痛，而辨知血虛有火。朱丹溪案，以詢得乘怒飲食起病，未閉時經黑，作吐，痞塞不食，而辨知怒火食積交併。俞子容案，以吐血體熱如炙，而辨知氣火上衝。沈堯封案，以醒時下體惡寒、憒時牽被斂衣，而辨知精血兩虧。此皆辨證為先，不泥於經不調、先期、後期、為速、為遲、經不止、經閉、經逆、經痛，而用通套方者。同一崩漏也，葉香岩案，以形瘦、膚干，畏冷，而辨知衝任陽虛而津枯。又案，以腹中熱、腰膝跗骨皆熱、久崩，而辨知衝任陰虛而液槁。沈堯封案，以日服人參、阿膠，崩反不止，而辨知血室蘊熱。孫文垣案，以心頭脹悶不快，而辨知濁痰凝滯。此亦辨證為先，不泥於暴崩、久崩、新漏、久漏，而用通套方者。同一妊娠也，盧不遠案，以脈兩尺滑搏，而辨知嘔吐之為惡阻。趙晴初案，以脈細弱之中有動滑象，而辨知有孕。陸肖愚案，以詢得病起於驚，而辨知氣亂痰湧，胎因上衝。陳良甫案，以舌色不青，而辨知胎尚無傷。喻嘉言案，以尺脈澀，肉色青腫，而辨知胎已久壞。徐靈胎案，以舌腫如蛋，色紫黑，而辨知毒火衝心，上聚於舌。顧曉瀾案，以脈弦滑，詢系口角鬱怒起病，而辨知氣鬱生火。繆宜亭案，以胎動，詢得未曾下血，而辨知邪在氣分。雷少逸案，以七月肺經司胎，音啞，而辨知燥氣侵肺。馬元儀案，以脈關尺沉細，下半徹冷，而辨知火衰土困。施笠澤案，以脈沉、滑、數，而辨知痰火相搏，關格屬實。此亦辨證為先，而不泥於惡阻、胎動、子懸、子淋等之通套方者。原書再有帶下、半產、難產、新產、產後各門，尚未條摘，隨後當再拈出。總之，辨證以治病，可即此悟彼，不必拘於某病，如是以推他病，亦復如是也。嚴先生此書，豈僅有功於女科哉？使醫家仿此體例，將古今醫案，均分門類輯之，而刪其證候不明者，不亦大有益於臨證耶？</p>

<h1>《靈素生理新論》序</h1>
<p>通天、地、人，始得稱儒；亦通天、地、人，始得稱醫。明小學、訓估，始得讀諸《經》、《史》《漢》而成宏儒，亦明小學、訓詁，始得讀《內》、《難》、《傷寒論》，而成大醫，醫豈易言哉？僕以醫之不可一日無，而必欲先通小學、訓估以成醫，勢必良醫絕跡於天下。因是，本致曲能誠之道，擇醫言之淺明確當者，酌定體例，命兒輩分類纂述，成《□溪醫述》各種，為由淺入深、循循善誘之計，今楊如侯君本天人一貫之學、究倉、許通假之文、釋秦漢古僻之訓，著《靈素生理新論》。將難讀之書，一旦而疏解詳明，並溝通中西學為一家，俾讀者心領神會，豈獨有功於岐黃？實亦有裨於醫家，並且間接活人，造大福於生命者，將恆河沙數。僕所纂書為未成材者言之，楊君書為已成材者言之。世之欲求深造，蓄心研究者乎，幸勿遽求高深，而置僕書於不顧也，亦勿僅安淺陋而置楊君書於不問也。僕與楊君均受知於黃漱蘭、王益吾兩夫子，是同門也。先後均肄業於南菁書院治經小學，是同學也。楊君籍泰興，僕籍吳縣，均隸蘇省，是同鄉也。豈僅同人政界、同嗜岐黃家言哉？一面未謀，神交千里矣。</p>

<h1>嚴癡孫君《金匱廣義》序</h1>
<p>我國醫書，最古者莫如《素問》、《靈樞》、《難經》、《傷寒論》、《金匱》。考《靈》、《素》本兩書，後人合併為一，而名《內經》。《傷寒雜病論》本一書，後人分析為二，而名《雜病論》為《金匱要略》。《內經》有後儒羼入之文；《本草》有方士妄添之語；仲景書經漢末離亂而有遺亡，經叔和編次而有增附，均非原書之舊。然精義奧理、病情物性、言之碻切極矣。愚嘗謂：讀古人書，於其不可解者，不必自作聰明，望文生訓，惟以闕疑為要，則信其所可信，自覺字字珠璣，可寶可貴，如能匯各書之注，而加以□訂，刪其非、存其是、闕其疑、正其訛、其文筆出以淺而明、簡而當，為後學津梁。中華醫學之勃興將於此預卜，今慈溪嚴君癡孫，有《金匱廣義》之作，實得我所同，然倘繼此而將《內經》、《本草》、《難經》、《傷寒論》，亦再匯諸家說而勒成一書，不禁跂予望之，至於是書之精要，有目者所共賞，不復贅。</p>

<h1>《惜分陰軒醫案》卷四序</h1>
<p>聿自倉公著有《診籍》，為醫案之權輿，方書言其常，醫案盡其變，習醫者之不可僅閱方書也明矣。蓋同一病也，病原異而方藥為之大異；同一病原也，見證異而方藥又為之小異。醫案則就所見之證幾端，而對證用藥，一一與之針鋒相對，是以效如桴鼓。辨證之法，先辨其臟、腑、經、絡、氣、血、表裡病邪之所在；再辨其風、寒、暑、濕、燥、火、痰、食、氣、瘀病邪之何屬；再辨其情志、嗜欲、病體之孰偏；再辨其形狀、神氣、聲音、舉止、視、聽、寢、息、病體之虛否？氣血陰陽虛復何在？邪正相較，誰勝誰負？以天下無純虛之症，亦無純實之症，虛指「正」言之，實指「邪」言之，惟虛實最不易辨也。今讀周君小農第四卷《醫案》，辨證詳審，試略舉數條，以概其餘。錢味青子案，證見丹痧、舌絳、苔糜也，辨知為溫邪爍營劫液，而用斛、芍、玳、犀。張贅卿母案，證見苔濁而干也，辨知為溫邪夾痰，而用半、枳、蔞、連。王秋肪案，證見口灼、煩悶也，辨知為伏暑內發，而用蒿、藿、益元。吳克明案，證見咳嗽，繼即轉瘧，以吐酸苦，苔厚膩罩灰也，辨知為伏邪內蘊、膜原夾有痰飲，而用半、貝、蔻、樸。張姓子案，證見頭痛、驟厥，掐穴知痛不能言也，辨知為腦疫，而用羚羊、蒿、菊。莊根壽室案，證見頭痛，脊強，不能轉側，牙灰，口渴飲冷，吐綠水也，辨知為疫邪入厥陰，而用熊、羚、貝、齒。張本案，證見渴飲、汗閉，左脈數盛也，辨知為暑毒內蘊，而用益元、紫雪。李記妻案，證見胸前脹滿也，辨知為肝胃氣逆，而用旋、赭、奇楠。惲姓子案，證見其氣逆、鼻扇，痰多、噁心也，辨知為風溫挾痰上湧肺脹，而用葶、苑、膏、杏。張培子案，證見其膚枯、體痿、便難、溲赤也，辨知為臟陰大傷、餘熱尚蒸，而用苓、斛、冬、地。管云泉母案，證見腹痛拒按、舌苔灰膩也，辨知為伏熱夾滯內蘊，而用清六導滯。朱龍新案，證見其腹熱當臍，震躍也，辨知為衝任伏熱，而用蒿、微、銀、連。高萬青弟案，證見其額、鼻驟冷、脈細、足冷也，辨知為傷食而厥，而用楂、曲、四磨。蔣子閒案，證見其音低，脈軟、神情頹唐也，辨知為癉瘧轉痢，速進米飲而用蒿、苓、香、連。肖程氏案，證見其唇燥、齒光、音微、舌乾紅也，辨知為氣液均虧，伏邪不達，而用沙、斛、粉、蒿。甄姓案，證見大寒壯熱、脈數、舌紅也，辨知邪熱為外寒束伏，而用滑、蘇、荊、萍。王婦案，證見妊痢純血也，辨知為伏熱夾風，而用荊、槐、柏、榆。莊姓子案，證見疹、斑、口穢也，辨知為積熱深沉，而用化斑、犀、玳。蔣珊案，證見溺赤、脈弱也，辨知為伏邪夾虛，而用蒿、斛、沙、參。高瑞笙女案，證見痧隱，沉睡，溫透不穩也，辨知為痧毒內攻，而用翹、蒡、犀、紅。李泉案，證見神迷、牙黑也，辨知為邪熱內伏，而用香鼓七液。張某室案，證見下午發熱、腹痛，由於經停後也，辨知為熱入血室，而用靈、蒲、延胡。厚昆子案，證見咳逆，詢得困驚而也，辨知為伏溫熱痰射肺，而用葦莖、雄、貝。吳森奎子案，證見白㾦枯燥、舌絳、齒黑、神昏不省也，辨知為暑厥，氣液己涸、邪熱內陷，而用沙、斛、麥、地。邵寶記女案，證見痧後咳喘、音啞也，辨知為痧火未清，而用葦、蟬、猴棗。培小姐案，證見身熱、沉迷、腹痛、瀉穢也，辨知為伏暑夾積，而用銀、連、紅、曲。陸成德案，證見渴飲、煩懊、愎痛拒按也，辨知為暑邪痰積，而用潤字、芩、連。程緒卿女案，證見身熱、足冷、赭頰、目淚也，辨知為將發痧疹，因寒因積，用檉、萍、潤字。高六婦案，證見嘔惡、煩悶、溲赤、神糊也，辨知為伏暑，夾氣兼夾下虛，而用蒿、苓、丹、芍。陳永安案，證見咳嗽力乏，咽有痰膩，辨知為肺窒有痰，而用蒼楓止嗽。袁福慶子案，證見腹脹、便、瀉、渴欲熱飲，詢得常宿池邊也，辨知為中下寒濕，而用蠶卷濟生。謝海昌案，證見頓嗽，根株不絕也，辨知為肺虛留邪，而用藥肺蒸露。陳阿根媳案，證見小產後暈厥、脈微、舌苔淡紅、麵灰白也，辨知為中寒，肝橫痙厥，而用麝、鴿、桂、珀。張余齡案，證見裡熱、盜汗、寅卯陽舉而痛、脈濡數、苔黃也，辨知為濕火下襲厥陰，而用薇、膽、丹、柏。鄒新之妻案，證見經停忽崩，腹尚有形，脈弦數、轟熱、嘔吐也，辨知為肝熱積聚於血室，而用楞、楝、楠、醜。陳女案，證見足弱、溲頻、經停、腹熱、便艱、形羸、面青、脈細、舌紅無苔也，辨知為陰涸虛熱，而用扶元河車。陸左案，證見肢軟、癢咳、溲黃、脈數、舌紅也，辨知為肺有蘊邪，而用瀉白葦莖，王佐卿妻案，證見身熱、脈濡、數，舌絳中剝、嘔吐、脘中有痞、撐脹也，辨知為積聚中宮，氣機陰隔，而用連、莪、玉樞。任衡伯案，證見肢倦、面浮、腹脹、遺泄、臍間動氣，脈左數右濡也，辨知為脾滯不運、肝有溫熱，而用莪、樸、連、柏。榮泉生案，證見足痿、手腫、左指屈而不伸、脈緊、腹痛也，辨知為濕毒傷人，而用雞鳴瀉心。魯梅軒案，證見口眼喎斜，左面筋躍動也，辨知為外風中陽明絡，而用羌、防、荊、葛。嚴君案，證見左半身厥、左足趾攣、頭脹、肢痠、脈弦大不斂、面紅、苔白、易怒、健忘也，辨知為火中風陽入絡，兼夾痰濁，而用丹、芍、黛蛤。張景福姊案，證見血後嘔吐、口苦、潮熱、不寐、脈細、軟、苔乾黑、質絳、轟灼、盜汗、肢顫也，辨知為陰血虛極、陽亢不潛，而用斛、芍、磁朱。秉禮妻案，證見產後不時腹痛，引及腰部、夜則轟熱、口燥也，辨知為病在奇經，營氣痹窒，而用鼠矢龍涎。李阿泉妻案，證見伏暑產後，熱喘、鼻扇也，辨知為風溫夾氣，而用苑、貝、奇楠。孫明琛妻案，證見瘧後頭暈、痰白、味酸、脈虛、苔剝、氣逆、不寐也，辨知為肝陽夾痰不降，虛而夾實，而用黛蛤、英、磁。袁敬之岳案，證見身熱、嘔惡、脘痛、脈弦急、苔薄黃、吐黃綠涎也，辨知為伏熱夾氣、樞機閉塞，而用連、丹、玉樞。查姓婦案，證見經阻，行則脘腹攻痛、身熱、口渴、形瘦、二便秘、脈伏也，辨知為肝火氣閉、血痹，而用龍、楠、雞、醜。吳臣笏妻案，證見寒熱三月、腹痛、脈弦數、熱勢如潮也，辨知為伏熱肝火併發，而用柴、丹、蒿、苓。丁翼青妻案，證見產後舌強、音低、頭暈、少寐、惡露通行、脈弦大、左甚也，辨知為血虛、內風上旋，而用歸、芍、杞、地。榮氏案，證見經阻三月，始崩、轉加腹痛、嘔、泄、肢厥、氣冷、麵灰、脈歇、汗淋也，辨知為血敗氣散陽飛，急進獨參湯，而用附、桂、萸、蠣。葉梅村案，證見因驚，癲症復發，肝膽脈洪大、苔黃也，辨知為濕盛膽木漂浮，而用連、半、貝、磁。周君醫案，撮其要者如此，苟非博學於平日，審問於臨時，慎思於診後，其何能明辨以晰哉！《借分陰軒醫案》三編，風行一時，醫家早奉為圭臬，今卷四成集，其又不脛而走，可想而知。燧忝屬同鄉，粗諳醫理，爰抉其奧窔，□筆而為之序。</p>

<h1>書《蘇州醫報》後</h1>
<p>愚父子前年在京，曾約同志刊行《存粹醫話》四冊，今三三社猶有出售者。夫發《醫報》以交換智識，洵為當今要務，故其論與我同者可以引申，與我異者不妨辯駁，但為學識上之詰問，不為意氣間之競爭，斯可矣。今讀此報，陳聯芳君發刊詞云，並是報以共同研究，進一解更有一解，真先得我心之言。陸志東君《西醫藥不適宜於中國論》，蓋即《內經》五方異宜之旨，就中國而論，尚且北地高寒、南方卑濕，患病因之而異，用藥亦因之而變，矧乎為遠隔重洋者乎。西藥多用礦質，在我華於周秦兩漢古方，流傳尚多金石，嗣後以性質悍戾，漸漸改良，多用草木，古籍具在，有可考也。日前汪袞甫由日本返里，談及日本近來以漢醫藥多效驗，大有重翻舊案之勢。陸仲一君駁廢中醫說□，中醫□廢，為能否治病，有無成績。斯言甚確，但我國之醫學醫理，極其博大精微，我國之醫生卻不能人人窺見其博大精微，是以為人治病，或愈或否，與西醫等。至謂不合科學，考中醫原理，本是合天地人為一貫之學，本是不知天時、不明地氣、不諳陰陽五行之遞嬗消息者，本不足與言醫。中醫本是哲學，《易》所謂形而上者謂之道也。西醫嘵嘵於科學，就其言而論，亦《易》所謂形而下者謂之藝也。我中醫之能否存在，在乎我醫生能否精進，如人人刻苦用功、高明者眾出，而治病則必愈，自然信仰人多，雖無在上之提倡，亦必不能廢棄，可以理斷之，潘叔衡君《商榷審定醫書》，謂可奉為圭臬者，惟《素問》、《靈樞》、《難經》、《本草》、及長沙諸書，是欲取法乎上；然魏晉唐宋以至有清諸賢之著述，皆有發明，皆不可不閱。王卓吾君謂《傷寒論》為感症全書，夫傷寒有五，即天地間四時遞嬗之五氣，膀胱主表，五氣傷人，盡從表入，膀胱為寒水之經，故曰「傷寒」。或謂溫熱之邪從口鼻入者，乃指穢濁鬱蒸之氣而言。實在手經、足經氣本貫串，豈能截分一身為二？溫熱之氣豈無傷於皮毛入於肌肉者乎？</p>

<h1>書薛季綱《服藥論》後</h1>
<p>薛君謂：「凡事有利必有弊，藥乃治病之品，用之不當，即有害身之禍。雖參、苓，非能補體，不過假人本有之氣而生長之。」此言極是！蓋藥性皆偏，不過能變化人之體氣何偏，使歸於中和，是以偏救偏之法。至於生氣、生血，仍人身體氣中和，臟腑自能相生，非藥即能生之，此以藥氣化病氣，我中醫氣化之說也。</p>

<h1>附薛君《服藥論》原文</h1>
<p>凡事有利必有弊，我道之用藥亦然。夫藥者，乃治病之品，固世界之寶也。第用之不當，即有害身之禍。莫云不當，即用之合病，實亦有傷正之患。患病服藥，猶戰場之討救無異，得救而覆敗北，亦猶投藥而復人亡；得救而奏凱歌，亦猶投藥而病痊愈。然病果全愈，而正氣已傷，其故何哉？蓋汗、吐、下諸法，盡人皆知為祛病傷正之藥，而鮮明乎參苓等屬，亦系乏身之品，參苓非真能補體，不過假人本有之氣而生長之，系損一長二之法也。若人之正氣已絕，雖有回生之劑，亦無起死之力矣。所以坡老云：「藥以治病，不可以養生；食以養生，不可以治病。」可見平人以食為寶，病人以服藥為要。若平人服藥，何啻漢之武帝，好武而徒傷賦庫耳！且醫哲每曰：「用藥如用兵，必當乃可。」故先賢云：「兵，凶器也，不得已而用之。」由此觀之，兩者相較，其理一也。是故孔子云：「某未達，不敢嘗。」有季康子深厚之誼而饋藥，尚若是之慎也，可笑世之富家，不問情由，不諸藥性，不察虛實，不明溫涼，但憑一紙仿單，謬服西藥之魚肝油、拍勒托種種物品，以為養生之法，豈不危哉？且夫一病必有一方，一物必治一病，豈有一藥而治多病者耶？此意揣想，若輩愚夫，誠恐享壽，故蒙外人之愚而促其夭乎，實乃可笑而又可嘆者也！更有一等中人，用江湖一派專以偽藥愚人，狂曰起死回生、返老還童，達者一見，即可知其為偽也。想人生既死，氣滯而血凝，脈道不行，豈有再生之理乎？人之生死，循環之數也，釋家雲南：「不生不滅，可見有生必有死，何能老而復童耶？」鄙人並非專敢偏見，實為民族之前途悲觀，不得已□足篇，胃警世之愚者，祈敏賢之士，勤為宣傳，以展我中華之民族，而免富者之痿弱，幸甚幸甚。</p>

<h1>書胡蕭梧君《說瘧疾》後</h1>
<p>胡君所說甚是，而猶未詳盡。考外感風寒暑濕燥五氣，盡能成瘧，而夏秋之交，成於先受暑邪，再加秋令寒涼風燥之氣外束者為多，故《內經·瘧論》亦以夏傷於暑為端，而附載他瘧。邵新甫於葉案後謂：「燥不為害，其說非是。」辨為何邪？大都在先寒後熱、先熱後寒、寒輕熱重、熱多寒少、熱己而寒、寒己而熱、寒熱並至分不清晰，及有汗、無汗、汗多、汗後熱解、得汗不解，並面色、舌苔、二便上別之。尤要察是年之雨暘寒懊奚若，又邪在何臟、何腑、或經或絡，須於病起四末、病起背脊、病先身痛、病先腰痛、病先神瞀、病先嘔惡，及在晝在夜，晝重夜重上別之，大致外感五氣，內應五臟，以臟氣亦分風寒濕熱燥五氣也。故陽虛體質，易受寒、燥、濕之陰邪；陰虛體質，易受暑與風之陽邪，或又錯綜雜受，更宜細細分辨。其他痰、食、瘴、鬼、虛、勞諸瘧，亦皆由此陰陽偏處、五氣偏勝而來，其理可一以貫之。方書謂瘧不離乎少陽，或又謂瘧不可用柴胡，皆一偏之見，總當視其病屬何邪，邪在何處，乃可立方處劑。</p>

<h1>附胡君《說瘧疾》原文</h1>
<p>《經》曰：「核瘧，皆生於風，瘧必先有核，而後成瘧，是以謂之核瘧。」但所謂生於風者，亦僅瘧之一種也，瘧之類甚多，受天空之風，先患頭疼，漸至成瘧，曰「風瘧」。受冬日之寒，更冒暑風以致成瘧，曰「溫瘧」，但患是症者必先熱而後寒，辨析之固自易易也。至受沐浴之水寒、夜月之風寒，先寒後熱，是曰「寒瘧」。但熱而不寒，常患嘔吐者，曰「癉瘧」。但寒而不熱、素患陽虛者，曰「牝瘧」。他若「濕瘧」，因襲濕而成。「食瘧」，因多食肥甘生冷之味。「瘴瘧」，感嶺南山嵐之毒，瘧之類如此。瘧之所由成者，一陰一陽相爭而不相和，邪氣舍於五臟，不能與衛氣並行，感之淺者同時而作，道近則行速；感之深者，間日而作，道遠則行遲也。受病之原因，既在風寒暑濕邪氣之所傷，醫治之道，自當各分經絡，表汗而發散之也已。</p>

<h1>書陸壽人《六淫說》後</h1>
<p>陸君謂：「六氣因人而異，邪之陰陽，隨人身之陰陽而變，如感暑邪，遇陰虛火旺之體，其邪即隨之而化燥、化火；遇陽虛濕勝之體，其邪即隨之而化濕、化寒。」此言極是。蓋外邪傷人，即因人體氣何虛，乘虛而入，復因人體氣何偏，乘偏而變。此天氣、地氣皆能變動人身之氣，而人身之氣，有偏亦即能變化所感之氣，此亦我中醫氣化之說也。陸群又謂：「風與火合，則化熱燥，屬陽；風與寒合，則化清燥，屬陰。」此言更是。蓋燥者，干也，五氣傷人，惟燥最烈，如其精少血衰、津枯液涸，不亡何待？其於時也為秋，其為氣也肅殺，安得謂燥不為害？自《內經》說「秋傷於燥」之文，而醫家之忽略燥病也久矣，如以氣化而言，則溫滋之品，用以化寒燥之氣；涼潤之品，用以化燥熱之氣，有一定不易者。</p>

<h1>附陸君《六淫說》原文</h1>
<p>六淫者，即天之六氣，風、寒、暑、濕、燥、火也。六氣各異，變化無窮。外感各病，悉從六氣陰陽之偏駁而致，如寒氣者為陰邪，傷人之陽；火氣者為陽邪，傷人之陰液；風為陰中之陽，風邪傷人在冬令，成傷寒病，如在春末夏初，天氣溫熱、即成風溫病矣。蓋風屬木，其母水，水性寒，其子火，火性熱，因冬時感發者，寒風也，帶水寒之母氣；春時即為解凍之溫風，夏初又為解慍之薰風，故兼火熱之子氣。又能兼燥、濕、暑三氣，故風者，五氣悉能兼之，為百病之長也，此邪隨時令陰陽而變也。暑為陽中之陰，蓋濕為陰邪，而與火合則名暑。大凡六氣，因人而變，如感暑邪者，遇陰虛火旺之體，其暑即隨火而化燥，邪歸營分為多，故暑邪從陽，上熏傷陰化燥，以致神昏、耳聾、舌絳、齦血；若在陽虛濕盛之體，則暑隨寒而化濕，邪傷氣分者為多，故濕邪從陰下潛而傷陽變濁，以致脘痞、嘔惡、肢冷、洞泄。此邪之陰陽隨人身之陰陽而變。蓋暴於烈日之中，暑不張蓋，此因暑熱而病矣，偏於手太陰肺，多屬熱邪。有貪涼、有飲冷，此因暑熱而病反是寒，夫貪涼則表寒、飲冷則裡寒，若貪涼而更兼飲冷，則表裡皆寒，其病在足太陽者身必無汗；在足太陰者腹必隱痛；表裡同病者，乃症之寒者也。此因暑而致病，濕本陰邪，亦有寒濕、濕熱之辨。寒濕者，蓋濕本陰邪，或值陰雨之日，或在陽虛之體。濕熱者，以其母屬火，蓋火生土，土主濕，或值暑濕交蒸之際，或在陰虛偏熱之人。或受於表，或受於裡，須分辨其寒濕、濕熱。風與火合，則化熱燥，屬陽；風與寒合則化清燥，屬陰。蓋物之焦乾者為熱燥，水之凍冷者為寒燥。或燥於表，或燥於裡，或燥於上，或燥於下，必辨寒燥、熱燥。火本陽邪，有天火、人火之分；君火、相火之別；真火、假火之辨。天火者，外感天時之火；人火者，炙爆燥熱之火。君火者，心中炎灼之火；相火者，肝、膽、包、焦龍雷之火。真火即為實火，假火乃為虛火，此陰火、陽火之所由以分也，是以陰陽變化，而成六氣之異也。</p>

<h1>書張如先《論九香蟲之功效》後</h1>
<p>張如先君論九香蟲之功效：「此蟲色青黑，入下焦肝腎，味鹹，入腎之力為多，性溫且香，故壯元陽而善走竄，有以之入春方者，是以論其功用。」誠如張君所言。論其弊病，則陰虧陽盛體質相火素旺者，雖見氣滯，不服為宜。</p>

<h1>附張君《論九香蟲之功效》原文</h1>
<p>考《本草》九香蟲，釋名：黑兜蟲。產於貴州永寧衛水河中，其味鹹溫，無毒，形大如小指，頭身如水龜，其色青黑。主治膈脘滯氣、脾腎虧損，壯元陽等症。攝生方中烏龍丸用以為群藥。近時滯氣方中，用此者寥若晨星，而以陳皮、枳殼、佛手、鬱金等類流通氣機者實居多數。要知九香蟲不但在胸脘脅肋疼痛方中用之佔優勝之地位，即噎與咳嗽之症，用之亦極有神效。因噎乃氣機被窒，用九香蟲佐以陳皮、枳殼、白前、鬱金等品，宣理氣分，漸能易治。若久咳不已，氣道不宣，胸脘痞滿，宣化無功，以此參加，亦見應手。此皆鄙人平日之實驗也，切恐湮沒其功效，故轉褒揚於刊末焉。</p>

<h1>答友問晦淫惑疾</h1>
<p>《左傳》云：「晦淫惑疾。」晦為陰霆之氣，或為迷惘之憂。《內經》謂：「重陽者狂，重陰者癲。」狂屬有餘，癲屬不足。來函所詢之病即惑疾也，亦即癲也。蓋病因除夕入廟而起，遂獨語自笑，若明若昧，非必真有邪祟，即此一團陰晦之邪，陽氣充足之人，雖觸之亦過而不留，心陽素虛之人，則著而成病，於是乎失心迷惑矣。昔喻嘉言、李冠仙兩人醫案中，曾詳載此病，余今師其意以擬方，用鹿角霜三錢、犀角一線、虎骨三錢（脛骨最佳，頭骨次之，爪又次之。）箭黃耆、高麗參、白歸身、甘杞子、炒棗仁、抱木茶神各一兩，明雄黃、白龍骨各七錢，甘草不拌炒遠志、桃奴各五錢。</p>
<p>以上各藥，均研細末，和均，每臨睡服一食匙，用酒一杯和調，高粱、紹酒皆可眼藥。一料已畢，後再察病情，欲速則不達，陸成一代答。</p>
