<header data-type="book">
<h1>醫醫十病</h1>
</header>
<p>古今名醫，卓然議論者代有其人。徐靈胎《諸病源流論》最為膾炙人口。今讀清代吳楚天士先生的「醫醫十病」，其論高妙與靈胎《諸病源流論》在伯仲之間。按吳楚字天士號畹庵，與徐靈胎、張璐玉為同時代人。乃吳昆侄孫，以醫名於順治、康熙年間。今陸續載出，以廣我等見聞。</p>
<h2>醫醫十病序言</h2>
<p>人有病，醫亦有病。欲醫人，先醫醫。人病不籍醫，安能去病？醫病不自醫，安能醫人？夫人病不醫，傷在性命；醫病不醫，傷在陰襲。性命傷，僅一身之害也；陰襲傷，乃子孫之害也。第人之為病，多在百骸；醫之為病，止在一心。心存濟人，則諸病不起；心專利己，則諸病叢生。約計之，其病有十。大都非冒昧，即妄誕；非殘忍，即貪鄙；非陷諛，即奸狡；非卑陋，即惡劣。種種病狀，皆根於心，皆根於舍人利己之心。不肖愧無越人術，徒深杞國憂。竊恐膏腴之入深，漫陳攻治之良劑。若不嫌苦口，不畏暝眩，而能細咀其味，猛吞其液，頓令蕩滌邪穢，遂而超脫塵凡。亦切廣救生靈，定然世受福報。又何必蠅營狗苟，病其心以邀名圖利，致造孽無己也哉！</p>
<p>畹庵　吳楚識</p>
<h2>一、醫醫不學無術之病：</h2>
<p>醫以生人，亦以殺人。夫醫所以生人也，而何以亦殺人？惟學則能生人，不學則適足殺人。蓋不學則無以廣其識，不學則無以明其理，不學不能得其精，不學則不能通其權、達其變，不學則不能正其訛、去其弊。如是則冒昧從事，其不至殺人也幾希矣！甚矣，業醫者不可以不學也。或曰：醫安有不學者哉？醫必有傳，或傳之於師，或傳之於祖若父，皆學也。抑知恃此以為學，其去學也遠矣！非謂其傳者不足為學，亦以所傳之不足盡所學也。彼僅恃其傾耳聽受之逸，必不復有心思研究之勞。且既守其一成不易之規，則必昧乎神明變化之理。一若岐伯、越人、倉西曆代諸賢聖，皆不如其師、其祖若父之足信從也；一若歷代賢聖垂訓之書，皆不如其師、其足若父之口語為足憑也。咦！如是而謂之學，其學可知，其醫可知矣。故善學者，不論有傳無傳，總非求得乎古昔聖賢之理不可也；欲深得乎古昔聖賢之理，則非多讀書不可也。自《靈》、《素》而下，以及於近代諸書，無不細心探討。而又參考互訂，就其旨歸；別其醇疵，辯其得失，棄其糟粕，取其精微，悉其源流，悟其奧義。夫然後識高理透，眼快心靈。凡遇一病，必認得准，拿得定，不為邪說所惑，不為假像所欺，不為俗說所撓；得心應手，實能起死回生，肉人白骨。以此言學，則真學也。學真而術自神矣。豈僅僅得之聽受之間，守其一成之規者，遂得謂之學哉？若僅恃此以為學，則必得其偏而失其全，得其淺而失其深，得其皮毛而失其神髓，得其俗套而失其真詮，甚且以訛傳訛，終莫知其非者。又且有一味世法，只教人行醫，不教人知醫者。但授以保名獲利之方，而於人之死生置之勿問；或示以不擔利害之法，而於病之緩急置而不言。而學醫者遂謂道在是矣。及其臨症施治，非隔靴搔癢，即傍皮切血，；非畫餅充饑，即鳩酒解渴。此術之不精，由學之不足也。此不學無術之病，所宜急醫者也。</p>
<h2>二、醫醫脈症罔辯之病：</h2>
<p>凡醫人用藥，須先認症，認症須先審脈。審脈明，斯認症真；認症真，斯用藥當。於以療病也，何難之有？然而難矣？凡有一症，即有一症之寒熱虛實。寒與熱相反，虛與實相懸。在兩人，則彼與此各不相同；即在一人，其前與後亦非一轍。苟不有以辯之，其能不倒行而逆施乎？然其為寒為熱、為虛為實，又不令人一望而知也。症之重者，大寒偏似熱，大熱偏似寒，大虛偏似實，大實偏似虛。若僅就其似者而藥之，殺人在反掌間。此症之不可不辯也。於何辯之？即於脈辯之。如傷寒脈浮、洪、數、緊，按之有力者，知其症為陽邪在表也；若沉而急數，重按有力者，知其症為陽邪入裏；若浮大滿指，按之如絲者，知其症為陰極似陽也。又如咳嗽一症，右寸脈浮數有力者，知其症為肺有實邪也；若浮軟或沉小者，知其症為肺氣空虛也。諸如此類，宜細心辯之。辯之至精，斯臨症無騎牆之見，用藥無相左之虞，而醫之能事畢矣。其奈近日醫家，決不言此，但曰某藥可治其病，某病當用某方。至問起所用某藥某方之症為寒為熱、為虛為實乎？則茫然罔辯也。其不能辨症者，由於不能辯脈也。甚矣，辯脈為尤要矣！奈何著名一世，遠近推重之醫，常屢告人曰：脈作不得准。嗚呼，噫嘻！脈作不得准，更有何者可作得准乎？從來症之疑似難決者，於脈決之。今反云脈作不得准，是全不知脈者也。即不知脈，又何能認症？故無怪其每以竹葉、石膏、治陰症，芩、連、梔子治胃寒。甚至脈以沉遲，尤云是火；脈已將絕，尤云不可補。總緣不知辯脈，遂令流毒至此。雖昔賢亦有從脈不從症，從症不從脈之論。抑知所謂不從者，正深於從也。如沉、細、遲、澀，乃陰寒脈也，而其症卻煩躁作渴，面赤身熱，若以此為熱症而清之則斃矣，惟補之溫之。不從其假熱之症，正從其真寒之症，而非真謂症有不必從者也。又如狂燥力雄，逾垣上牆，此火熱症也，而其脈卻沉伏入骨，若以此為陰脈而穩之則危矣，惟清之下之。不從其陰寒沉伏之脈，正從其熱極反伏之脈，而非之謂脈有不可從者也。總之，從其真，不從其假。不從者，其外貌；從者，其神髓。醫家苟不辯此，未有不顛倒錯亂，觸手乖張者，一劑之誤，命即隨之。此脈症罔辯之病，所宜急醫者也。</p>
<h2>三、醫醫輕忽人命之病：</h2>
<p>諺云：醫家有割股之心。若是，則醫之愛惜人命也至矣。安得有輕忽人命者哉！然觀於今而歎其言之不驗，或是古昔之言而於今不符也？如夏諺所云：遊豫休助。而孟子歎之曰：今也不然。則所謂醫有割股之心，亦尤夫夏時之諺也，今豈其然哉！若觀今時之醫，不惟無割股之心，若並無援手之意。病家殷勤延醫，竭心力，費資財，希冀醫能療疾以安生。而醫人若漠不相關，守定故智，以緩不切膚之藥，每味與以三、五、七分，否則與清涼反藥一劑，便懷利而去。絕不躊躇審顧，以期藥之得效，病之得生。迨緩藥漸死，或反藥立死，又絕無引咎之心，愧悔之意。異日他家延治，又復如是是真以人命為戲也。其殘忍慘刻，不較之屠人而尤加烈哉！推其故，皆原於傳授之訛，習俗之誤，利慾薰心之害。聞名醫之傳人曰：藥性勿厚，藥數勿重，氣薄劑輕，庶易於解手。是名教人以用藥不必中病矣。為之徒者，是忍視起死也，非輕乎人命而何？習俗之弊，尤為可笑。謹遵名醫妙決，謂病重切不可為人擔利害，只與輕輕數味，仍留原病還他。嗟嗟！延醫用藥，原為去病。若仍留病，何貴乎醫？既留病，則必不能留命。若留一輕病，必漸加重；若留一重病，必漸至死。還他者，聽其從容自死之謂也。可以生而必不救之生，本不死而欲坐待其死，其輕乎人命為何如？至於利欲之熏心，不待較而知之也。學醫之初，原欲籍此為謀生計耳，豈真是菩薩心，而欲以此救世哉？故見夫享虛名而得厚實者，必尤而效之。彼名醫一概用輕微，即學其一概用輕微；名醫一概用清降，即學其一概用清降。以為名醫之所以致富者在此，吾能學之致富足矣。若必舍此而別求真能活人之法，非愚則迂。所以愈遵輕藥易解之師傳，共安於留病還人之習尚。一任急來，我惟緩受。所以往往有可生之機，必不用切當之藥以相救；明明見相反之藥，一惟隨聲附和以妄投。只恐失一己之名利，遂不顧人之死生。此輕忽人命之病，所宜急醫者也。</p>
<h2>四、醫醫遵守時套之病：</h2>
<p>天下事，莫便於套，而亦莫害於套。醫而涉套，則至便而尤至害也。夫病人之醫，猶望歲也。誠能用藥切當，起死回生，以赴病家之望，豈非莫大之陰功。奈之何以寬容不切之套應之，使病輕致重，病重致死，寧不殺他人以造己孽乎？無如今之醫有不得不從事於套者，何也？有人焉，脫套用藥以治人，必相與誹謗之，讒間之，使病人不敢服其藥，使其道不得行而後快。若醫者果立志救人，不圖利己也，則固以道自重，不肯稍自貶屈，思所變計。無如業醫者，皆以利己為事也。欲利己，則必效他醫利己之法。欲效他醫利己之法，自不得不同流合污。從事於眾所共習之套，其套維何？其視病在影響之間，其議論為庸眾所共之，為婦人、女子所共曉；其用藥則不寒不熱，不補不瀉，又或寧寒無熱，寧瀉無補，氣薄味淡，而又所用無多，不憂暝眩。所以為時俗之所喜，為時流之所尚。斯能合乎時宜，入乎時派，且能趨時而得名，行時而獲利，故共推為時套。時哉，套乎！苟不遵而守之，何以享厚實而肥身家乎？如或不爾，即是背時之醫。欲認真治病救人，徒為他人爭死活，而不能為一己爭財利也，豈計之得哉？此醫之所以不得不遵守時套也。況時套之學，學也至易。不必費心思之勞，不必多研究之苦，不煩按脈切理，不顧生死利害，不待讀書講求，不待深究藥性、詳查病情，只學一二最易入俗之語。凡視一病，便云是火。或病人自以為虛，則云雖虛卻不可補；或云只宜平補，不可過補；或云只宜清補兼施，不可穩補。只此數語，便以投病人之機，動旁人之聽矣。而於藥則單擇輕飄無力，及清降損真者，共計不上三十餘種，便足橫行一世。凡治一病，即此三十種中，每種各少許，無論寒熱虛實、男婦老幼及輕淺危篤者，悉以此投之。正如戴寬大之帽，不必各合人頭。又如咀屠門之肉，何須真充人腹。至若參、耆、歸、朮等項，稍有益於元氣者，概行刪去不用。誠恐味厚之藥，一有不當，即縣弊端，招人指責，以致失名失利。不若輕清之味，微微用之，雖不見功，亦不即為害，而孰知其大害存焉。邪炙不能為之攻，正衰不能為之輔。甚至虛寒已極。尤云有火宜清；危篤已極，尤云平守勿急。由是病人命登鬼錄，而醫人則病入膏腴矣！此遵守時套之病，所宜急醫者也。</p>
<h2>五、醫醫藥似對症之病：</h2>
<p>甚哉：「似」之一字，為害非淺也。夫似則大遠則不似者矣！豈非其似者之猶勝於不似耶？抑知不似之害，人易知；似之為害，人不易知。孔子曰：「惡似而非」者，不惡其非，而惡其似而非，良有已也。蓋一於非，則人猶見其非，而非者可以改圖；似，則人將信其是而莫辯其非，而非者終不知返，此似而非之為害甚於不似而非之為害也。若醫之用藥，坐此病者不少矣。夫醫之權衡，在於用藥。藥之妙用，期於對症。在醫人用藥，安有不以為對症者哉？無如今之所謂對症者，正其不對症也。如人身有一病，即有一味藥對之；人身有十病，即有十味藥對之。逐味按之若無一味不對症也。識者從旁觀之，卻笑其無一味對症，何也？徒得其似故也。如發熱，則用柴胡、黃芩、羌活、干葛之類。似也，至其熱之為外感乎？為內傷乎？為陰虛、為中寒乎？不問也，但曰：此退熱對症之藥也。如頭痛，則用川芎、藁本、菊花、秦艽之類，似也。至其頭痛之為風寒乎？為血虛乎？為虛陽貫頂乎？陰症頭痛如破乎？不問也，但曰：此止痛對症之藥也。如腹脹，則用枳殼、大腹皮、厚朴、羅蔔子之類，似也。至其脹之為食滯乎？為脾虛乎？為寒凝氣結乎？陰水成鼓乎？不問也，但曰：此寬脹對症之藥也。又如口渴，則用麥冬、花粉、知母、石膏之類，似也。至其渴之為實熱乎？為虛炎乎？為陽邪入胃乎？為陰邪入腎乎？抑氣虛無津，腎水不上升乎？不問也，但曰：此治渴對症之藥也。如此之類，不勝枚舉。彼所謂對症者，大都類此耳。豈知古人用藥，中多變化，有似乎不對症而實對症者，不僅在形似之間也。其用藥之法，有如上病下取，下病上取者，若用上藥治上，下藥治下，則似而非矣；又有從陽治陰，從陰治陽者，若以陽藥治陽，陰藥之陰，則似而非矣；又有通因通用，塞因塞用者，若以通藥治塞，塞藥治通，則又似而非矣。此皆貌似而實非者也。如陽虎貌似孔子，若徒取其貌之似，則陽虎亦大聖人矣！孰知其為大奸大惡也乎？藥之似對症而實與症相反者，亦猶是也。無如業醫者，不求其真，但求其似。以真者人不知，似者人易曉。故一得其似，而醫人遂自負其明，病人遂深信其似，旁人無由見其誤，他醫亦莫得指其失。此「似」之一字，易於欺人，易於惑世，易於入俗，易於趨時，易於見售，易於盜名，易為人信而不為人疑，易為人喜而不為人畏。詎知其藥與病全無涉者，此一「似」；藥與病正相反者，此一「似」也；藥不能去病反增病者，此一「似」也』藥期以救命而適以送命者，此一「似」也。「似」之為害，可勝言哉！此藥似對症之病，所宜急醫者也。</p>
<h2>六、醫醫曲順人情之病：</h2>
<p>醫有為病人之喜近，為旁人所稱揚，為群醫所款洽，而實為醫人之大病者，曲順人情是也。病人何嘗知醫，遇病輒疑是風、是火；病人安知藥性，對醫自謂宜散、宜清。醫人欲得病人之歡心，不必果是而亦以為是，未必相宜而亦以為宜。其曲順病人之情有然也。或旁有鄰居親友來探問者，意念非不關切，醫理未必精通。然每每自負知醫，往往自出己見。但知病起何日，始於何因，，便相醫人擬為何症；未知病是真相，抑是假像，輕象醫人增減方藥。而醫人遂極口贊其高明，不敢自出主意。未舉方，先謙恭請教；即舉方，又依命增刪。其曲順旁人之清有然也。近醫以隨波逐浪為良法，以同流合污為趨時。前醫用藥有害，亦必不議其非；數醫議論未善，聞其言亦必附和為是。不求病家有實效，只顧眾醫無間言。
是以千病一方，千醫一例。無論緩急，總無敢異同。其曲順醫人之情，又有然也。夫其所以曲順病人之情，旁人之情，醫人之情者，何也？蓋醫人意欲取貲於病人，苟拂其情，則病人必謂是堅持獨見，不通商量，由是推而遠之，而主顧失矣；醫人欲籍吹噓於旁人，苟拂其情，則旁人皆議為偏執驕傲，不肯虛心，從茲望而卻步，不復為之薦舉矣；醫人更欲互相標榜於醫人，苟拂其情，則皆惡其攻人短，表己長，讒言布散，則聲名減而財利去矣。此所以不得不曲順人情也。然吾為醫計，果能學識高，道理明，而又認症真、用藥當，實能起沉屙、救危命，何妨特立獨行。每制一方，用一藥，如山嶽之不可動搖。依用則生，不依用則死。如或病人疑畏，亦必剖心瀝血，為之晰其疑、解其惑，使病人感悟，信服立效。在病人方稱感不已，旁人自嘆服不遑，醫人即懷嫉妒，亦無從肆其萋斐之言。將不求名而名自至，不求利而利自歸。又何必委屈周旋以圖主顧、希薦舉、避讒謗哉！無如醫人未必能具卓然之見也。惟無卓然之見，而又恐獲罪於人，失利於己，所以隨風倒舵，唯唯諾諾，阿諛順從，徒效妾婦之道，使人喜其謙和，忘乎司命之責，聽人受誤致死也。此曲順人情之病，所宜急醫者也。</p>
<h2>七、醫醫輕藥保名之病：</h2>
<p>曩常見病家危急之際，竭忱盡力，延請名醫。名醫用藥不效，又更一名醫。其方藥大都相似，皆係極輕浮無力者，每味三五分，合成一劑，共計不過三錢有零。以病不能除，命不能挽，心竊疑之，得非名醫不能用此種藥，非此種藥不能成其為名醫乎？乃親友多為之解曰：此名醫保名之妙用也。蓋其醫至今日，其名已成，其利以盈，更何所求？若復認真用性重之藥，設一有誤，豈不失名？所以只用輕輕數味，留其原病，不至醫壞，則無過可指，而其名乃得不損。余聞之，不禁歎曰：有是哉，名醫之無良一至此哉！病家延請之時，舉家仰望，竭力支持。藥貲之費幾多，酒席之費幾多，輿從工食之費幾多，其為費亦不輕矣。在素封之家，不難措辦；若寒儉之家非借貸即質典，總為救命計耳。而醫人於此，不一念及，只期保名以為己，不想竭力以救人，不亦忍乎？抑思病家費如許心力，費如許貲財，豈請爾來保名乎？或是人子憂其親，或是父母愛其子，哀痛迫切，跪拜求救。而名醫絕無矜憐之心，只照尋常故套，予以不痛不癢之藥少許，甚至有虛寒將絕之際，猶與以清潤數味而去。病家茫然不知，只以此藥出自名醫，便捧為拱壁，珍若靈丹，急急煎服。其病尚緩者，服之不見功，則越日又復迎請；其病勢甚急者，服之隨逝，則曰名醫自然不差，此藥何得殺人，當是數盡，命自難保耳。嗟嗟！不保病人之命，而獨保醫人之名，此心安可問哉？切名醫之計亦左矣。如果為名，則何不出其真實學問，審定病情，不可救則已，如可救則以重劑救之。況名醫久為人推服，用藥人必不疑。人所不敢用、不能用者，毅然用之，使病者起，危者安。人更嘖嘖稱之曰，真醫聖也，真藥王也，此真名不虛傳，高明迥出時流者也。豈不名益彰著，遠近播聞。又何待兢兢乎恐藥重有誤，以為保名計乎？若用藥有誤豈猶得為名醫乎？又豈不用藥以救命乃得保名，能用藥以救命反令失名乎？吾不能為之解也。或謂名醫亦非專為保名，故意不肯用藥。蓋其所習慣者，此種不痛不癢之法，原非有真問、真膽識，故不能用藥，不敢用藥耳。世俗素重其名，欲為回護，故以保名之說，曲為之解也。此論良然，然欲為其全無保名之念，則又不可。彼始之浪得其名者，此伎倆；後之終保其名者，仍此伎倆。曾見名醫嗔其子弟，偶用一二味厚之藥，輒痛叱之曰：用此味厚之藥，設一有誤，豈不喪名！若是則名醫實欲以此保名，而非他人代為之解也。嗚呼！但欲自保其名，而不念病勢之危急，人命之死生。良心喪盡，陰襲大傷。雖令陽受虛聲，竊恐陰遭譴罰；名縱得保，而其不能保者多矣。此輕藥保名之病，尤宜急醫者也。</p>
<h2>八、醫醫吝惜藥料之病：</h2>
<p>醫人用藥，有如用兵。兵不備，不能禦敵；藥不備，不能禦疾。不能禦敵則國危，不能禦疾則命危。醫故司命者也，凡禦疾之藥，無論貴賤，皆不可不備；備而善用之，善用之而又不吝不惜，乃可謂之良醫。良者，善也；良醫者，善於治病之謂也。又曰：良，良心也；醫有良心，不虛受人財，不忍傷人性命者也。若今之醫殊不然，藥性即取其至輕，藥料即取其至賤。惟是土產之物，每斤只值數分，每劑所值不過數文錢者，信手亂投；若藥料稍貴，每斤以兩計、以錢計者，概置不用。即或不得已而用，所用不過二三分。而此二三分，猶不出自囊中，必另使病家自備。若他藥雖貴無復有貴於人參者，且所用不過二三分，能值幾何，亦必另病人自備耶？在病家何能預備，勢必取之於市中。市人無療病之責，只有取利之方，每以假借之物充之。病家不知審擇，不辯真偽，增入劑中。其數既輕微，其質又低假，豈能應手奏效耶？不但此也，鄉落無藥肆之處，又須奔走道途，向他方採買，在病緩者，尤可緩圖；若病勢急者，不獨低假不靈，亦切時日難待，往往有謀得藥至，而人已不保者，此皆吝惜藥料之罪也。若醫果貧瘠，情有可原；乃有醫已致富，而仍然吝惜不肯少用者，此其心果何心也？余常與人曰：欲精醫術，先端心術。心術端則心存不忍，不忍自不貪，不貪自不吝。無問貴賤，凡當用之藥，必備而用之。即多用之，屢用之，而皆不惜。救一富貴人命，吾固無所虧；救一貧寒人命，吾固有所快。彼貧者於求藥無貲、求生無路之際，吾以藥生之，我所費無幾，而彼所生甚多，甯不快然於心乎？彼貧人即不能報，冥冥中必有代為報者，而況仁人君子之心，報與不報，具非所計也。此則真良醫也。真有良心而又善用藥以救人者也！如或不然忘其為活人術，而但以利為事，較鎦銖，爭毫末，一切假貴之藥，吝惜工本，概不備用，而使緩急莫濟，危困莫蘇，雖不失利，卻已失德。失利則失之東隅，旋收之桑榆；失德則不及其身，即及其子孫，良可畏也！此吝惜藥料之病，所宜急醫也者。</p>
<h2>九、醫醫妒忌讒謗之病：</h2>
<p>嘗讀《詩》至「巷伯」之章，有曰：取彼譖人，投畀豺豹。豺豹不食，投畀有北。有北不受，投畀有昊。因思《詩》三百篇，類皆溫厚和平之語，雖怨而不怒，獨此詩惡之深，怒之至，痛切言之，而絕無溫厚和平之氣，何也？良以彼譖人者，即妒忌讒謗之人也。以妒忌之心，肆讒謗之口，其為禍至烈，其為害至無窮也。斯人也，在朝則排斥忠良，在家則離間骨肉，處鄉里則黨邪攻正，處朋友則復雨翻云。或損人財物，或破人身家，或壞人行止。種種惡戾，其害無窮，然尤未即令人死。若在醫道中，其害直令人死，何也？從來學識高明者，心愈謙虛；學識卑陋者，心多妒忌。妒忌者，恐高明之醫功高而利厚，於己遂成冷淡生涯。故簧鼓其舌，顛倒是非，以惑亂人之聽聞，使病人不趨彼而趨此，則其利可奪。若是則不過為利見耳，何嘗欲令人死，而不知人之死實由之。余親見夫妒忌而讒謗者矣，窺病家有欲延某醫之意，彼即預為謗之，謂某醫切不可近，某醫之藥切不可嘗。言之醇切似是一片盛心，遂令病家畏而終止，而病由之漸深矣。迨病家既延某醫，則又謗之曰：雖取效於目前，必遺禍於後日。後日一復，不可復救。有明達者，不為所惑，得收全功；若愚昧者，聞而驚懼，改途易轍，使已成之功復敗，得救之命復傾。則是讒謗於未延醫之先者，阻病人求生之路也；讒謗於既延醫之際者，絕病人救死之藥也；讒謗於取效之後者，復令生者歸於必死之途而後已也。嗟嗟！彼即無活人之術，而又使病人無求生之路，無救命之藥，而歸於必死之途。其惡可勝誅哉？故曰：在醫道中直令人死，其害為猶大也。夫所以為此者，無非欲損人益己耳。究之在人未必損，而在己亦未必益。彼活人之功昭昭耳目，雖一二人謗毀之，其如千百人稱道之。即庸眾之流，一時為所惑，久之窺破伎倆，方將訕笑之，吐罵之。雖復巧言如簧，詎復聽之？徒然自喪其心，自作其孽，使人見而鄙之。其品益卑，其行益汙，穢惡腥聞，真為豺豹所不食，有北所不受也。獨不知有昊將何以處之耶？更有人焉，言甘如蜜，心毒如蠍。其妒忌之意隱而不彰；讒謗之言，曲而不覺。此不令人知其妒忌讒謗，而實深於妒忌讒謗者，均為詩人所深怒而欲取而投畀焉者也。此妒忌讒謗之病，更不可不醫者也。</p>
<h2>十、醫醫欺哄詐騙之病：</h2>
<p>醫之中有其品至下，其為病至深而莫可救者，欺哄詐騙是也。夫醫之為道，貴誠篤端方，奈之何有欺哄為事、詐騙為心者？原其人，道不足以活人，人皆棄之。門前冷落，衣食迫膚，百計圖利，利足不至，因而思一騙之之法。騙則不得不欺，不得不哄，不得不詐，是欺與哄與詐皆所以為騙之地也。患此病者，猶之癱癩癰疽，至穢至惡，人不常有，亦未嘗無。姑就目擊者言之：有病本輕淺，不藥亦將自愈者，若人故為兇惡之言，使病人畏死而求治之念切；又誇以舉世罔知，惟己獨能，使病人欣喜而仰賴之心專。由是議定厚貲，一藥而愈，便自居功，懷利而去。此雖計端，卻未殺人，其罪尤輕也。乃有病勢危急，旦夕就斃，神仙莫救者，諸醫盡辭，一醫獨任。力言包好，否則甘罰。病家喜出望外，不復惜財。騙財到手一劑而斃。此原是必死之人，猶非特殺，其顏雖厚，其罪尤可原也。若夫命介生死之交，全賴得當之藥以生之。而若人不識病情，不顧利害，動云保治。巧言蠱惑，議酬若干，先付其半；大言不慚，孟浪用藥，使可生者不生。此真騙其財而又殺其命者也。更有他醫服藥有效將漸次收功者，或已痊癒偶爾又復者，而若人巧說以奪之。或云前藥不可再服，再服必將有害；或云前藥補早，尚須清開，然後用補；或云服參太多，必將發作為害，亦以藥解之；或云前藥太溫補，致有火起，只宜清補兼施。百種簧口，使病人疑懼，頓令棄彼從此，去生就死。又暗使旁人吹噓，得財瓜分，共相誇獎，使病家深信而不疑，遂慨然先出財，後受藥。孰知藥與前醫相反，人即與世相違矣。此皆騙財殺命，罪不容誅者也。又有一種騙法，凡治一病即要病人合丸藥，以丸藥無從辨認，可任其欺哄故也。病人索方，則云此祖傳密妙，從不傳方；且多珍貴之物，即與方，亦無從覓藥，惟議價代制。富者索以數十金，貧者亦勒以七八金。得財到手，僅以錢數一斤藥應之。愚人多墜其術中，待悟破時人與財已兩亡矣。然後怨恨而吐罵之，有何益乎？又有一種以丸藥騙人者，不論病之輕重，只論藥之貴賤。定例上料幾兩，中料幾兩，下料幾兩。富人則鍩以用上料；貧人亦勸以用中料，必不能，亦必勒以用下料。世豈有富病恰當用貴料藥，貧病恰當用賤藥者乎？其如婦人女子，不明此理，多為所哄，遂多傷命。各種騙法，有身受而切恨者，有旁觀而竊笑者，而騙人之醫恬然不覺也。余非敢懸照孽鏡，預使奸惡無遁形；第願燃昏衢燈，欲使沉迷登覺路己而。極知此一種病，最為難醫，然非必不可醫。釋氏云：放下屠刀，立地成佛。乃知佛不難成，惟屠刀難放下耳。苟能刮骨滌腸，痛自攻治，放下欺哄詐騙之心，立便為端方誠篤之品。品高者道自高。能見重於人，必無虧於己。又何俟日夕勞勞，弄巧反成拙哉！妙藥妙方，和盤托出。如諱疾忌醫。不諒婆心，但嗔苦口，狂言吐罵，擲地咆哮。則當正告曰：人事昏亂，深入膏腴。縱有靈丹，不能下嚥矣！請辭。</p>
