<header data-type="book">
<h1>醫方歌括</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王泰林</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1897">公元1897年</data></dd></div>
</dl>
</header>

<h1>正文</h1>
<p>半夏秫米湯（《素問》）和胃，泄衛通營治不寐。不寐由於厥氣逆，陽不交陰理須匯。</p>
<p>防己地黃（湯　《金匱要略》）治獨語，桂枝甘草二防（防己防風）比。酒漬絞汁不用煎，加重地黃蒸汁濾。妄行獨語不肯休，二汁沖和服即止。生則散邪熟補虛，涼血疏風有精義。</p>
<p>梔豉大黃湯枳實，酒疸心中痛懊憹。谷疸茵陳（蒿）湯（前方去豆豉、枳實，加茵陳蒿。）主治，女勞硝（石）礬（石）散為功。</p>
<p>葶藶大棗瀉肺湯，肺癰不臥喘難當。不喘但咳胸皮錯，葦莖（湯　孫思邈《千金要方》）桃（仁）薏（苡仁）瓜瓣良。</p>
<p>奔豚湯治奔豚氣，四物（湯）柴胡（湯）合桂枝（湯），（三方相合）去桂（枝）去柴（胡）兼生地，煎加生葛李根皮。</p>
<p>先便後血黃土湯，術（白朮）附（子）芩（黃芩）甘（草）阿（膠）地黃。脾虛陽陷因生濕，肝血隨經注大腸。先血後便為近血，赤豆當歸散甚良。</p>
<p>白頭翁（湯）治熱下痢，黃連黃柏秦皮比。性寒味苦入下焦，堅陰止痢稱良劑。</p>
<p>仲景麥（門）冬湯人參，半夏粳米棗甘（草）臨。火逆上氣咽喉哽，從胃生津救燥呈。</p>
<p>侯氏黑散治中風，參（人參）苓（茯苓）姜（乾薑）桂（枝）術（白朮）歸（當歸）芎（川芎），細辛牡蠣防（風）芩（黃芩）桔（梗），礬石菊花用獨崇。冷食自能填空竅，嘉言極贊此方工。</p>
<p>風引湯治熱癱癇，二脂（赤白石脂）寒水（石）膏（石膏）滑（石）紫（石英），六般石藥共龍（骨）牡（蠣），姜（乾薑）桂（枝）大黃甘草使。風火交熾臟腑燔，諸藥難療此能治。（《金匱要略·中風篇》：「大人風引，少小驚癇瘛瘲，日數十發，醫所不能治者，此湯主之。」然亦猛劑，虛者宜審。）</p>
<p>鱉甲煎丸廿三味，桃仁承氣（湯）小柴胡（湯），去棗甘（草）加丹（皮）芍（藥）樸（厚朴），紫（葳）膠（阿膠）瞿麥石葦烏（扇），䗪（蟲）蜂（窩）蜣（螂）鼠（婦）葶藶子，瘧母吞之塊自無。（以上均《傷寒》、《金匱》方）</p>
<p>種子毓麟（丸）術（白朮）棉子，地（熟地）杞（子）沙苑（蒺藜）線魚鰾，補骨（脂）柏子（仁）仲（杜仲）桂（肉桂）膝（牛膝），楮實茯苓萆薢調。遺精去膝（牛膝）覆盆（子）加，五味（子）麥冬羊腎搗。男子媾精而得孕，功在陰陽神氣交。古來種子方雖多，妙合陰陽惟此高。</p>
<p>煉真（丸）術（蒼朮）柏（黃柏）瀉（澤瀉）參（人參）茯（苓），鹿茸鳳眼（草）淫羊藿，蛇床（子）五味（子）金鈴子，蓮鬚沉（香）茴（香）大腹皮，山藥糊丸鹽酒吞，膏粱無嗣宜丸服。</p>
<p>壯陽益陰安腎丸，（《太平惠民和劑局方》）蓯蓉山藥真沙苑，破故（紙）胡桃（肉）萆（薢）術（白朮）苓（茯苓），斛（石斛）烏（川烏）桂心巴戟纘。</p>
<p>聚精（丸）沙苑（蒺藜）黃魚鰾，少陽男人無子招。少陽男人不得子，宜用坎氣廿四條，熟地人參人乳汁，杞子酒釀白蜜調。</p>
<p>豬肚丸著劉松石，牡蠣白朮苦參益。豬為水畜肚屬土，厚胃泄水功偏捷。鹹寒清熱苦堅陰，甘溫健脾而勝濕。濕熱遺精用因靈，瘦勞服此亦肥白。</p>
<p>明目四神丸杞子，椒（川椒）茴（香）青鹽四般制。杞子明目補陰精，《千金》、《外臺》常服餌。復借椒（川椒）茴（香）以和陽，青鹽之潤和陰氣。晉三刪改為合宜，復入貞（女貞子）苓（茯苓）歸（當歸）菊（花）地（黃）。目有赤脈加沙苑（蒺藜），以備人之各去取。</p>
<p>地芝（丸　李東垣方）治目難近視，生地天冬菊花枳（殼）。定志丸（孫思邈《千金要方》）療遠視難，參（人參）苓（茯苓）菖（蒲）遠（志）硃砂使。不能遠視責無火，（目能近視，知其有水；不能遠視，責其無火。）不能近視責無水。（目能遠視，知其有火；不能近視，責其無水。）水宜補腎火補心，識此二方便得旨。</p>
<p>磁朱丸（孫思邈《千金要方》）用磁朱曲（神麯），明目還能聰耳聾。</p>
<p>益本滋腎丸知（母）柏（黃柏），腎虛目暗宜斯藥。黃柏滋腎加黃連，水衰陽盛心煩爍。單柏名為大補丸，足心熱而腰痛劇。或用四物（湯）或（用）四君（子湯），煎送隨人氣血弱。黃柏為末姜酒調，潛行散方痛風酌。</p>
<p>天真丹里沉香首，琥珀蘆巴巴戟湊，杜仲茴香補骨脂，萆薢牽牛及肉桂。或酒或鹽皆炒香，陽虛腫脹功能奏。陽虛腫脹證如何，囊腫如升腿如斗。臍腹痛冷按之堅，陽去濕至脹之咎。通陽逐濕脹自柔，名曰「天真」形不朽。</p>
<p>小腸氣痛喝起丸，青娥丸內加三種，茴香萆薢胡蘆巴，減去生薑蒜不用。</p>
<p>海藏生地黃連湯，四物（湯）芩（黃芩）連（黃連）梔子防（風）。血去過多因躁擾，撮空錯語血風嘗。</p>
<p>清燥救肺（湯）嘉言造，補出經方所未到。（《內經》無傷燥之門，古方無傷燥之治。）經霜桑葉枇杷葉，參（人參）麥（冬）杏（仁）麻（黃）阿（膠）石（膏）草（甘草）。胃為肺母燥傷金，甘寒養胃清金燥。內燥宜滋外燥清，外傷秋燥斯方好。</p>
<p>麥門冬飲（劉完素《宣明論方》）治膈消，知母人參花粉調，茯苓生地味（五味子）甘草（炙），葛根竹葉共煎燒。</p>
<p>神效散（許叔微《普濟本事方》）用鯽魚膽，浮石蛤粉蟬蛻邀。鹹寒止渴兼消水，立法更比前方超。</p>
<p>通腎湯方治解㑊，解㑊之病腎之責。菖蒲生地五加皮，羚羊（角）芍（藥）草（甘草）豬苓澤（瀉）。</p>
<p>《聖濟》茯神（湯）治煎厥，涼肝攝腎救陰精，羚羊（角）龍骨沙參味（五味子），遠志葳蕤酸棗仁。赤茯苓湯治薄厥，陳皮生薑麥冬桔（梗），人參檳榔赤芍藥，清肝平肝墜其逆。</p>
<p>《千金》茯神湯生地，玉竹門冬花粉知（母），小麥大棗淡竹葉，泄熱生津消渴宜。</p>
<p>竹葉黃耆（湯）是複方，四物（湯）竹葉石膏湯，加入黃芩去薑棗，氣血兩燥消渴嘗。血分燥熱地黃飲，氣分燥熱白虎湯。</p>
<p>蘆根湯（孫思邈《千金要方》）治病後噦，竹茹生薑粳米再。病後餘熱留上焦，甘寒益胃斯為貴。</p>
<p>久咳癰痿十味煎，（王燾《外臺秘要》）桑（白）皮地骨（皮）地黃鮮，竹（瀝）姜（生薑）麥（冬）葛（根）皆取汁，攙合牛酥棗蜜黏。臨臥取含津液咽，或但胡桃姜蜜研。</p>
<p>吐血咳嗽百花煎，生地（汁）阿膠柿（乾柿）杏（仁）研，牛乳胡桃姜藕汁，秦艽酒蜜棗相聯。</p>
<p>《寶鑑》人參蛤蚧散，貝母知母桑白皮，茯苓杏仁炙甘草，水寒久嗽咯喘宜。</p>
<p>膈熱咽痛利膈湯，牛蒡（子）甘（草）桔（梗）薄（荷）荊（芥）防（風），人參殭蠶各等分，辛涼輕散上焦方。</p>
<p>喉風骨哽無憂散，荊芥玄參川雅連，貫仲豆根茯（苓）砂（仁）草（甘草），滑（石）寒水（石）月石共研。</p>
<p>腎熱湯載《千金翼》，能治耳聾流膿血。磁（石）牡（蠣）芍（藥）甘（草）鮮地黃，麥冬術（白朮）草（甘草）加蔥白。</p>
<p>麥門冬湯粳米生，麥（冬）同薑汁炒煎成。火盡水溢高原位，腫滿喘浮煩渴尋。</p>
<p>琥珀茯苓（湯）療便數，五苓（散）六一（散）合煎斟。</p>
<p>葳蕤湯是清散劑，《活人》為治風溫制。白薇玉竹葛（根）羌（活）芎（川芎），麻黃甘（草）膏（石膏）馬兜（鈴）繼。</p>
<p>枇杷葉散（《太平惠民和劑局方》）陳（皮）樸（厚朴）丁（香），麥冬甘草白茅根，香薷木瓜姜煎服，伏暑煩渴嘔噦尊。</p>
<p>冷香飲子甘草多，附子陳皮姜草果。溫脾去渴通陰陽，霍亂躁煩脈伏可。</p>
<p>調中散用四君（子湯）全，歸（當歸）桂（心）乾薑五味（子）聯。上咳下泄心動掣，三焦不利病之詮。</p>
<p>白朮湯方治飧泄，厚朴當歸龍骨綴，煎加艾葉與生薑，溫固升清以調血。</p>
<p>鱉甲湯方治伏梁，地（黃）歸（當歸）柴（胡）芍（藥）桂（枝）乾薑，三稜大腹（皮）均研末，煎益生薑與木香。</p>
<p>《聖濟》龍骨建中湯，歸（當歸）芍（藥）參（人參）耆（黃耆）甘（草）遠（志）瀉（澤瀉）。冤熱腹痛出白液，肝風傳腎名疝瘕。</p>
<p>柏子仁（散）治腹筋急，辛潤通陽利氣方。防（風）枳（殼）歸（當歸）芎（川芎）細（辛）白朮，茯苓桂（枝）附（子）與檳榔。</p>
<p>脾癉口甜用蘭草，《內經》論治極精詳。膽癉惟有針刺法，後賢因制益膽湯，苦參參（人參）茯（苓）芩（黃芩）甘（草）桂（枝），苦補甘緩辛散方。</p>
<p>《外臺》茯苓飲參（人參）術（白朮），枳實生薑廣橘皮。胸有停痰因吐水，消痰行水必扶脾。</p>
<p>禹餘糧丸十八味，蛇含（石）針砂為主宰，莪（術）稜（三稜）歸（當歸）膝（牛膝）蔻（白豆蔻）芎（川芎）羌（活），白蒺（藜）青（皮）茯（苓）桂（心）附子，茴（香）木（香）乾薑蒸餅丸，水邪腫脹功效著。（此方治水，不用逐水之品，不蹈重虛之戒。）</p>
<p>小溫（中丸）六君（子湯）去人參，神麯苦參香附群，黃連針砂醋糊丸，陳皮生薑湯送餌。濕熱腫滿皆屬脾，土鬱奪之為正治。虛者加參（人參）樸（厚朴）去連（黃連），不失「溫中」之名義。</p>
<p>四獸飲用六君子（湯），烏梅草果薑棗佐。氣虛痰聚瘧不已，和四臟以補脾土。</p>
<p>補肝湯治寒厥痛，肉桂山萸柏子（仁）桃（仁），苓（茯苓）草（甘草）辛（細辛）防（風）兼大棗，辛潤溫通厥痛消。</p>
<p>熱厥心痛金鈴散，川楝（子）延胡（索）等分調。又有雪羹（湯）荸薺䖳（海䖳），肝經熱厥腹痛邀。</p>
<p>安胃湯用人參先，椒（川椒）梅（烏梅）枳實與姜連（黃連）。辛酸化肝甘和胃，肝化胃和痛嘔蠲。</p>
<p>更衣（丸）蘆薈砂（仁）麥冬，廣腸堅結便難通。結在腸頭非在腹，滋柔下奪並有功。此丸大苦通陰氣，陰氣通時堅結融。</p>
<p>人參散治午前熱，異功（散）逍遙（散）再加葛（乾葛）。午後發熱白朮湯，四君（子湯）柴（胡）澤（瀉）知（母）骨（地骨皮）地（生地）。</p>
<p>烏骨雞丸用八珍（湯），鱉甲青蒿酸棗仁，地骨（皮）丹皮杞（枸杞子）麥（冬）附（子），除蒸退熱善調經。</p>
<p>玉燭散乃重方義，四物湯合調（胃）承氣（湯）。經閉腹痛而善飢，通瘀泄熱斯無弊。</p>
<p>體肥不孕啟宮丸，二陳（湯）曲（神麯）術（白朮）附（香附）芎（川芎）攢。瘦胎飲用枳（殼）芩（黃芩）術（白朮），理氣消痰一例看。</p>
<p>《婦人良方》鉤藤湯，瘛瘲胎動服之康。桑葉參（人參）歸（當歸）桔（梗）茯神，或益芩（黃芩）梔（子）術（白朮）亦朗。</p>
<p>天仙藤散治子氣，香附陳（皮）甘（草）烏藥承，蘇葉木瓜姜作引，天仙藤即木香藤。</p>
<p>子腫《全生》白朮丸，五皮飲（桑白皮、陳橘皮、生薑皮、大腹皮、茯苓皮，加燈芯煎。）內去桑皮，（一方無桑白皮，有五加皮。）亦有不去桑皮者，鯉魚湯方亦相宜。（《千金》鯉魚湯，治妊娠遍身浮腫，胎間有水氣。白朮、茯苓、當歸、芍藥各三錢，橘皮一錢，生薑五片，活鯉魚一頭。先煮鯉魚至熟，澄清取汁內藥煎。）</p>
<p>子煩竹葉（湯）參（人參）茯苓，麥冬知母與黃芩。</p>
<p>子嗽紫菀（湯）天冬杏（仁），甘（草）桔（梗）竹茹桑白皮。</p>
<p>安營（散）參（人參）麥（冬）甘（草）歸（當歸）辛（細辛），燈草滑（石）通（草）治子淋。</p>
<p>地黃煎（孫思邈《千金要方》）用荊（瀝）竹瀝，酥姜地骨（皮）地黃汁，天冬參（人參）茯（苓）大黃梔（子），子風煩熱功堪立。</p>
<p>安胎飲用建蓮子，台州青苧白糯米。小產由傷肝腎脾，服此永無墮胎慮。</p>
<p>《千金》神造湯真妙，阿膠蟹爪生甘草，東流水煮葦薪炊，死胎可下生可保。</p>
<p>補脬飲用生黃絹，白丹皮根白芨片。服此藥時勿作聲，脬傷淋瀝真良驗。</p>
<p>丹溪朱氏參朮膏，參（人參）術（白朮）苓（茯苓）草（甘草）陳（皮）耆（黃耆）桃（仁）。產難胞損成淋瀝，煎用豬羊胞補胞。</p>
<p>回生丹用米醋熬，蘇木黑豆大黃膏，後入八珍（湯）兼失笑（散），山稜牛膝延胡桃，蒼（術）羌（活）青皮橘（紅）木香，附（香附）烏（藥）良薑乳沒邀，萸肉木瓜地榆炭，秋葵（子）益母（草）馬鞭苗。蜜搗陰乾熔蠟護，產難血暈奇功饒。</p>
<p>龍腦雞蘇（丸）清血熱，木通柴（胡）地（生地）先熬汁，更入連（黃連）膠（阿膠）與麥冬，參（人參）耆（黃耆）甘草蒲黃末。煉蜜為丸細嚼吞，崩淋咳衄皆相合。（血崩熱淋，咳血衄血，消渴口臭，氣分血分有熱，宜常服之。）</p>
<p>震靈（丹）餘糧（禹餘糧）赤石脂，石英（紫石英）代赭（石）朱（砂）沒（藥）乳（香）。陰不斂陽陽不歸，脫血之陰氣無附。下虛上盛喘厥危，瀉痢崩中血暈死。鎮厥固脫入下焦，丸時此藥宜堅細。</p>
<p>白薇湯方出《本事》，當歸甘草人參使。婦人平居忽如死，病名鬱冒急煎餌。</p>
<p>椿皮丸用白芍奎，黃柏良薑各炒灰。苦以堅陰澀收脫，瘦人帶下熱多推。</p>
<p>桃仁（湯）治䘌槐角子，艾葉大棗四般是。蟲蝕腸胃能殺人，此方治䘌出巢氏。</p>
<p>定癌散用兩頭尖，土楝（子）峰房各煅研。瘍毒根深在臟腑，乳癌非此不能痊。</p>
<p>抱龍丸方共有四，驚風隨證相參治。辰砂抱龍（丸）驚入心，金箔麝（香）雄（黃）膽（星）竺（天竺黃）是。秘傳拘龍（丸）治風痰，防（風）桔（梗）天麻鉤（藤）橘（紅）使，薄荷枳（殼）芍（白芍）陳（皮）膽星，貝母茯神蜜丸餌。牛黃抱龍（丸）肝受驚，熄風化痰鎮驚比，蠍（全蠍）蠶（殭蠶）琥珀赤茯苓，加入辰砂抱龍（丸）里。又有人參抱龍丸，飛金朱（砂）柏（子仁）膽南星，天竺（黃）檀香藥（芍藥）草（甘草）苓（茯苓），因虛發搐宜投此。</p>
<p>沉香天麻丸《寶鑑》，烏（川烏）附（黑附）甘（草）歸（當歸）羌（活）獨（活）防（風），半夏殭蠶益智子，慢驚發搐力能匡。</p>
<p>雄（黃）檳（榔丸）白礬治蟲痛，時作時止時輕重。</p>
<p>使君子丸檳榔星（天南星），蟲積勞黃腹蠱腫。喜食糖茶米土等，隨其所喜和丸送。</p>
<p>玉樞丹能萬病解，卻邪解毒是其長。五倍子與千金子，大戟山慈菇麝香。（一名紫金錠，又名萬病解毒丸，此秘藥中之第一方也。所治之證，與《本草》不甚相合，確有良驗，真不可思議。或加硃砂、雄黃各五錢，尤效。）</p>
<p>寒阻靈竅蘇合（香）丸，木（香）丁（香）沉（香）薰（陸香）麝（香）冰（片腦）安（息香），犀角硃砂香附術（白朮），原方尚有蓽（茇）砂（仁）檀（香）。</p>
<p>小活絡丹川（烏）草烏，膽星地龍乳（香）沒（藥）符。經絡夾痰並死血，酒丸吞下自能除。續骨丹加白附子，天麻木鱉（子）膝（牛膝）羌（活）朱（砂）。</p>
<p>大活絡丹五十味，四君（子湯）四物（湯）為首務。羌（活）防（風）辛（細辛）葛（根）桂（官桂）麻黃，麻（天麻）安（息香）木（香）丁（香）沉（香）藿（香）附（黑附），附（香附）蔻（白蔻）青（皮）烏（藥）血竭研，黃連大黃骨碎補，烏白花蛇蠶（殭蠶）蠍（全蠍）鼠（矢），牛黃冰（片腦）麝（香）犀（角）龜（板）虎（脛骨），貫仲玄參何首烏，小活絡丹內仍寓，除川烏芎（川芎）加黃芩，靈仙松脂足其數。（此方祛痰，風熱毒瘀入於經絡，非此不能達。）</p>
<p>神虛養真（丹）治癱瘓，四物（湯）天麻羌活纘。除麻（天麻）加防（風）名補肝（丸），便難眩暈風虛按。</p>
<p>桃仁紅花四物湯，臟血便秘瘀血將。更加竹瀝與薑汁，左偏不遂服之良。</p>
<p>牽正散治口眼歪，白附（子）殭蠶全蠍偕。外用蓖麻鱔血裱，改容膏亦治歪斜。（《醫方集解》改容膏方下云：蓖麻子一兩，冰片三分，共搗為膏，寒月加乾薑、附子各一錢。或用鱔魚血，或用蜣螂搗敷，亦良。蓋三物皆追風拔毒之品也。）</p>
<p>史國（公）藥酒治風痹，歸（當歸）術（白朮）羌（活）防（風）艽（秦艽）牛（膝）萆（薢），仲（杜仲）杞（子）虎（脛骨）鱉（甲）蠶（砂）蒼耳（子），松節茄根浸飲之。</p>
<p>嚴氏蠲痹（湯）治三氣，乘虛阻襲而為痹。羌（活）防（風）姜（片子薑黃）去三氣邪，歸（當歸）耆（黃耆）芍（藥）草（甘草）調營衛。</p>
<p>腳氣雞鳴散周氏，木瓜姜（生薑）橘（皮）吳茱萸，檳榔桔梗紫蘇葉，五更冷服腳氣除。</p>
<p>舒筋飲用片薑黃，歸（當歸）芍（白芍）桐皮甘（草）術（白朮）羌（活），沉香少許姜三片，氣血凝留臂痛匡。</p>
<p>死血作淋牛膝膏，酒浸牛膝當歸梢，桃仁生地赤芍藥，麝香琥珀研末調。</p>
