<header data-type="book">
<h1>增訂醫方歌訣</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王泰林</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1897">公元1897年</data></dd></div>
</dl>
</header>

<h1>補益之劑</h1>
<p>（此中間有錯字，因無副本可勘，暫仍其舊。）</p>
<p>麋茸丸（麋茸一兩，鹿茸亦可。）著許學士，（《普濟本事方》）羊腎（二對，用酒浸，煮爛去膜，研如泥）茴香（五錢）菟絲子，（一兩，研末。）不用剛燥用溫柔，腎虛寒濕腰痛美。（少陰寒濕腰痛，不用薑、朮、附燥劑，而用麋茸、羊腎溫柔，則不傷腎陰，俾真陽旺而邪自退，所謂正治之良圖。）小便失禁菟絲（子）丸，（嚴用和《濟生方》）蓯蓉麋茸並五味（子），雞（內）金附子桑螵蛸，升舉督脈護陽氣。失禁諸方多用澀，惟此獨得尋源計。然必佐以芳香品，入陰升陽乃克濟。入陰芳香是何類？杜仲茴香破故輩。（古方惟用固澀，或兼通太陽，究非尋源探本之法。蓋小便癃秘，則用附子等獨折太陽之氣化；若夫不約，則三焦俱澈矣，獨折太陽亦無益也，當舉督脈之陽，以保護諸陽之氣，故麋茸為必需之藥，然必佐以芳香入陰之品，乃能抵下焦而升陽，如茴香、杜仲、破故紙之類。）柴胡四物（湯　地、芎、歸、芍各一錢半。）參（人參）耆（黃耆）草（甘草），（各三錢。疏通少陽。一方有半夏三錢。）和衛調營達少陽，（參、耆、四物調其營衛，柴胡疏通少陽，非專於散風也。）日久虛勞有寒熱，脈沉而數最相當，（沉數為熱在裡，陰尚未虧，故用此調和營衛，漸以散其熱；若脈細而數，則當全用滋陰矣。）熱伏陰中午後熱，（熱發午後，營虛而陽陷入陰也。）此方庶可保安康。（鎮按：原方無黃耆有黃芩，但《蘭臺軌範》亦作黃耆，或有所本，今仍之。）又有虛勞夜間熱，四物二連湯當商。（四物湯加以黃連、胡黃連，治血虛五心煩熱，晝則明瞭，夜則發熱。）人參清肌散（許叔微《普濟本事方》）乾葛，四君（子湯）逍遙（散）小柴（胡湯）合。（三方合一，加入葛根。）邪熱流傳經絡中，痰嗽煩熱虛勞納。（喻嘉言曰：「此治邪熱淺在經絡，未深入臟腑，雖有柴、葛，全借參、術之力以達其邪，先補氣而後清解血中之熱，亦叔微一種苦心，可取為式。」）</p>

<h1>發汗之劑</h1>
<p>越脾湯越脾中氣，發汗生津涼散委，（越脾者，發脾之津氣而為汗，乃漸發汗於不發之中，是為涼散法也。）麻（黃）石（膏）甘草棗（大棗）生薑，《金匱》以之治風水，一身悉腫脈洪浮，浮為在表汗之美，按其證必渴而喘，不然麻（黃）石（膏）何堪師。（《金匱要略·水氣篇》云：「風水惡風，一身悉腫，脈浮不渴，續自汗出，無大熱，越脾湯主之。」按：此條原文，頗有舛錯，從來注者，多胡蘆提過。風水者，風中肌膚，津氣不行，一身暴腫，有似於水，故曰「風水」，其實非因於水也。故又云：「風水脈浮，里水脈沉」，便可見矣。蓋風為陽邪，肺、脾、胃三經受風熱之陽邪，閉郁其汗液而為病，必兼煩渴無汗易喘見象，與此湯清火而發汗之旨合符。《金匱》風水一門，證多錯雜，讀者自會之可耳。）又有越脾加朮湯，里水亡津渴者餌。（《金匱要略·水氣篇》云：「里水者，一身面目黃腫，其脈沉，小便不利，故令病水。假令小便自利，此亡津液，故令渴。越脾加朮湯主之。」按：風水脈浮當發汗，里水脈沉當分利，此正法也。而里水亦用發汗者，蓋小便自利，亡津口渴，里已無水，而水在皮中，既不能下利，惟有發汗一法，使從外解，故用此湯。但加白朮實脾勝水止渴，此權變之法也。）溫邪挾飲填肺中，為脹為喘加半（夏）治。（名越脾加半夏湯，《金匱》治肺脹，咳而上氣，其人喘，目如脫狀，脈浮大者，即越脾湯原方加半夏也。）浮而且大大為陽，散邪蠲飲辛寒利。（越脾散邪之力多，蠲飲之力少，故用半夏，輔其未逮。不用小青龍湯者，以脈且大，病屬陽邪，利辛寒不利辛熱也。）若夫桂枝（二）越脾（一湯）法，脈弱無陽勿輕試。（《傷寒論太陽篇》云：「太陽病，發熱惡寒，熱多寒少，脈微弱者，此無陽也，不可發汗，宜桂枝二越脾一湯。」柯韻伯《傷寒來蘇集》云：「仲景言不可發汗，則必不用麻黃；言無陽，是無胃脘之陽，亦不用石膏。古方多有名同而藥不同者，安可循名而不審其實也。此等脈證最多，宜用柴胡桂枝湯為恰當。」）無陽是亡陽分津，喻王二子說亦是。（「無陽」二字，仲景言之不一，後人置為闕疑，嘉言謂即亡津之通稱。王晉三曰：「無陽乃陽分亡津之謂，故用桂枝湯二分行陽，一分行陰。」其說亦是。）然必煩渴脈不微，熱多寒少乃克恃。（柯韻伯《傷寒來蘇集》云：「此湯可以治太陽陽明合病，熱多寒少而無汗者」，「然必兼見煩渴之證，脈雖不長大浮緩，而不微弱者宜之。」）甘草麻黃（湯）治里水，水從汗解斯方美，（《金匱要略·水氣病篇》云：「水病發其汗即已。」）麻（黃）得甘草入中焦，散水和脾厥有旨。（麻黃得甘草，引經入中焦，能散水和脾，取水穀之津為汗，深得厥旨。）脈沉小者屬少陰，溫固必須加附子，（名麻黃附子湯。《金匱要略·水氣病篇》云：「水之為病，其脈沉小屬少陰，宜此湯。」）不使麻黃入腎經，汗不傷陰水自已。（熟附溫腎固液，不使麻黃深入腎經，劫液為汗，則水去而汗不傷陰。）《水氣門》中三十五條，證多錯雜難摹揣。（《金匱·水氣門》中，共三十五條，有風水、皮水、里水、正水、黃汗，或有治法，或無治法，或言當下，或言當汗，錯雜難明。）揆其大旨兩言明，只在浮沉分表裡。足腫曰水面曰風，先後上下分彼此。（脈浮者風水，脈沉者里水；足先腫而後及於頭面者曰風水，頭面先腫而及於足者曰里水。腫者因風傷於上，上行及而下；濕傷於下，下行及而上也。）惡風無汗汗之宜，小便不利利之是。（此要訣也）脈沉雖寒必溫經，（水氣脈沉，當利小便；若兼惡風無汗之表證，亦當發汗，然必佐以固里溫經之藥，如麻黃、附子是也。）脈浮而下須兼使。（水氣脈浮，在表，當發其汗，使水氣從毛竅而出；若兼小便不利，法當利小便，使水氣從上而下，然必兼解其表，五苓散之屬是也。）三拗湯（《太平惠民和劑局方》）中用法拗，杏仁不去皮尖搗，麻黃留節甘草生，（麻黃留節，發中有收。杏仁留尖，取其發；連皮取其澀。甘草生用，補中有發也。）風寒喘嗽服之好。（治感冒風邪，鼻塞咳嗽痰多，胸滿氣短。）倉廩散治噤口痢，（下痢不欲食，名曰「噤口」，此乃胃中濕熱蘊蒸清道所致。）人參敗毒（散）加陳（倉）米。（人參敗毒散發濕熱之邪，升清化濁，加陳米充脾胃之氣。）或用人參與石蓮，煎湯灌呷亦能濟。（名人參石蓮湯）痢後大渴脾氣虛，單煎陳米湯（王肯堂《證治準繩》）可已。</p>

<h1>攻下之劑</h1>
<p>海蛤散（許叔微《普濟本事方》）治血結胸，（治婦人傷寒血結胸膈，痛不可近者。陶節庵曰：「傷寒血結胸膈，火甚吐衄未盡去，畜在上焦，胸腹痛硬，身熱嗽水不咽，喜妄如狂，大便血，小便利，名血結胸。」）滑石甘草（各一兩　海蛤亦用一兩）芒硝（五錢）通，為末（每服二錢）雞子清調下，泄熱通陰破結功。（此方鹹寒滑利，泄熱通陰，以破血結，為散取留胸中；雞子清調服，則不傷肺胃之陰，允為傷寒邪熱熾絡，血痹著上焦之良治。王海藏治血結胸，有桂枝紅花湯加海蛤、桃仁，原欲表裡上下一齊盡解之意，然總不如此方之妙。）結胸灸法（許叔微《普濟本事方》）誠良妙，巴豆（十四枚）黃連（大者七寸）和成膏，填入臍心用艾灸，腹中鳴響結胸消。（上藥為末，水調和，填入臍心，以艾灸其上，腹中有聲，其病去矣。不拘壯數，病退為度。才灸了，便以溫湯浸手帕拭之，恐生瘡也。此法穩妙，凡胸中病，俱可依此為治。）十棗湯（張仲景《金匱要略》）用芫（花）遂（甘遂）戟（大戟），（各等分，為末，大棗十枚煮湯煎藥。）峻攻水氣威靈赫，下利胸脅痞硬痛，汗出短氣乾嘔逆，（諸證皆水氣為患。仲景利水之方，種種不同，此其最峻者也。）積痰伏飲並蠲除，（痰飲皆水之化，水為火結則為痰，水為寒凝則為飲，治見《金匱要略·痰飲門》。）羸弱虛人勿輕擲。或益黃柏與大黃，小胃丹（朱震亨《丹溪心法》）治痰熱膈。（治老痰頑痰，壅塞胸膈，喘急氣粗，大便秘結。此方藥力甚猛，壯實人痰飲最宜，老弱均忌。）三一承氣（湯）節庵訂，大小調胃（承氣湯）三法乘。（治傷寒腹滿實痛，譫語下利，內熱不便，中風僵仆風癇。此方合三承氣湯為一，而重用甘草，攻補兼施，最得仲景之秘。）再加柴（胡）芩（黃芩）鐵鏽水，墜熱開結（名）六一承（氣湯）。黃龍湯治熱結利，（胃有燥屎，口渴而反下利清水，名熱結利，乃口飲湯而下滲也。）三一承氣（湯）人參增，當歸桔梗兼薑棗，陽明實證體虛徵。（年老氣血虛者，去芒硝。）《活人》（朱肱《傷寒類證活人書》）亦有黃龍湯，柴（胡）芩（黃芩）參（人參）草（甘草）四般稱。（小柴胡湯去半夏、薑、棗，治妊娠寒熱如瘧，產後傷風，病後勞復熱不解。）</p>

<h1>和解之劑</h1>
<p>桂枝湯（張仲景《傷寒論》）為和方祖，（桂枝湯和方之祖，故列於首也。）芍藥（三兩　桂枝亦用三兩）甘草（炙二兩）（姜（三兩）棗（十枚　水七升，煮減半，溫服。）羅。啜粥漬形充胃氣，（桂枝本不能發汗，故須助以熱粥，充胃氣以達於皮毛，是漬形為汗也。看此可知傷寒不禁食矣。）解肌出汗功能多。（桂枝和陽解肌，非若麻黃之專於發汗也。）太陽（中）風（傷）寒與瘧利，陽明脈遲悉可瘥。大凡發熱脈浮弱，惡風汗出效無過。（此桂枝湯總證，要訣著眼。）又有服（桂枝）湯反煩者，刺其風府（穴在項上入髮際）勿蹉跎。（此非誤治，因風邪凝結於太陽之要路，則藥力不能流通，故須刺之以泄經氣。）外未解而下為逆，（太陽病外證未解，不可下，下之為逆。此禁下總訣。）變證多端按法摩。清穀身疼先救里，（此誤下之證。邪在外而引之入陰，故清穀不化，陽氣下脫，可危。雖表證未除，而救里為急，宜四逆湯。）利止方從外解和。（清穀已止，疼痛未除，仍從表治，用桂枝湯。蓋凡病皆當先表后里，惟下利清穀，則以扶陽為急，而表證為緩也。）心痞（誤下邪入中焦）惡寒（表未解）先解表，表解（乃可）攻痞切莫訛。（宜大黃黃連瀉心湯，苦寒開降。）桂枝禁忌還須記，亡血虛家酒客疴。（桂枝辛熱，酒客、亡血家誤服，必吐膿血也。）太陽風瘧日再發，（非若少陽之瘧，一日一發。）桂（枝）二麻（黃）一湯誦哦。芍藥甘草湯平劑，（此亦桂枝變方，偏於營分，和平之劑也。）和營止（腹）痛功堪記，芍藥功專除汗煩，（桂枝湯能止汗，以其中有芍藥也。芍藥之功，在於除煩，煩止汗亦止，故《傷寒論》反煩、更煩、心悸而煩者，皆用白芍。）心煩腳攣陰虛使，（治傷寒脈浮，自汗出，小便數，心煩微惡寒，腳攣急，反與桂枝湯，欲攻其表，此誤也，得之便厥。諸證俱似桂枝，而心煩腳攣，是裡氣不和，陰氣欲失，故用白芍滋陰止煩，甘草緩急止痛。辨證必於同中異處著眼。）水瀉熱痢均可施，參加白朮（止瀉）黃芩耳。（清大腹熱也）又有芍（藥）甘（草）附子湯，汗後而反惡寒餌。（治發汗病不解，反惡寒者，亡陽之兆已見。芍藥安內，熟附攘外，甘草調和芍藥、附子從中斂戢真陽，則附子可招失散之陽，芍藥可收浮越之陰。此太陽、少陰方也。）苦酒（湯　張仲景《傷寒》）半夏（十四枚）雞子清，（雞子一枚去黃，納苦酒著雞子殼中，以雞子殼置刀環中，安火上令三沸，去渣，少少含咽之。不瘥，更作三劑。徐靈胎曰：「此等煮法，必有深意，疑即古所云禁方也。」）卻痰利竅出音聲，咽瘡難語由陰火，陰火清寧瘡自平。（此方治少陰水虧，不能上濟君火，而咽瘡語聲不出。瘡即疳蛾之類。半夏之辛滑，佐以雞子清之甘潤，有利竅通聲之功，無燥津涸液之慮。然半夏全賴苦酒攝入陰分，卻痰斂瘡，即陰火沸騰，亦可因苦酒而降矣，故以名方。）</p>
