<header data-type="book">
<h1>活幼口議</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>曾世榮</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1332">公元1332年</data></dd></div>
<div><dt>底本</dt><dd>北京大學圖書館掃描本（<a href="https://archive.org/details/02093410.cn">一</a>、<a href="https://archive.org/details/02093411.cn">二</a>、<a href="https://archive.org/details/02093412.cn">三</a>、<a href="https://archive.org/details/02093413.cn">四</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>世言醫病與醫國同一源流，國以新造之病為難攻，人以幼稚之疾為難療。新造之國，病在於人心之未孚，法制之未備，故事不厭乎議，如周人之於市，鄭人之於鄉校是已。幼稚之童，病在於氣血之未全，筋脈之未力，既不可以言語求，又未易以智巧索，諄論而復辯，且未足以究其萬分之一，況欲忌魚筌於紙上之塵，言其有簀筍而蟹蟛蜞者幾希奚？茲演翁口議之所由作也。翁質直而不華，雅朴而實辯，如議證、議藥、議諸氏之方，皆鑿鑿乎如老法吏之議刑辟，絲髮不可以動移。求之文理，誠若不足；索之義理，沛然有餘。鳳髓玉訣，政亦不容多遜也。或曰：輪人之輪，庖丁之牛，應之於手，得之於心，蓋非區區口耳所能造。今議以口為言，其視莫能教子，不見全牛之妙逕庭，蓋可知已。吁有是哉！使釋鑿而特以原本為第一議，曰乳哺，曰食忌，曰傷憐，不必議可也。然且以不絕於口，翁之此意，豈獨為醫工計哉？有能以幼幼為心，寶有其書，圭復其說，宛如省翁之耳提面命，將護于震夙之初，調理於生育之後，於其疾乎何憂？其或以豎子之梗為予告，亦將語之曰：翁有口議在，由是幼吾幼以及人之幼，挈而同歸壽域中，此翁之初心然也。然則是議也，又當求諸省翁之心。謹母曰：膝口說。</p>
<p><u>時歲在癸未梅月朔旦石峰熊槐書。</u></p>

<h1>總論</h1>
<p>按魏氏前序云：求之文理，誠若不足，茲則不敢妄喙，妒就議中述其切要，一二言之，譏者幸鑑。</p>

<h2>撮要</h2>
<p>一、兒在胞胎，必須飲食有常，起居自若，便神全氣和，胎氣常安，生子必偉。</p>
<p>一、懷娠之後，最忌食熱毒等物，庶兒孩降生，兒有臍突瘡癱等患。</p>
<p>一、乳母常須養其血，和其氣，樂以忘憂，使乳汁溫平，縱兒疾作，自安平過半矣。</p>
<p>一、嬰兒平常無病，不必服藥餌，恐遇疾不即為效。</p>
<p>一、初生兒必忌外客所觸，庶免致客忤熱，古人所以忌客一脯。</p>
<p>一、兒孩不宜食肉太早，傷及脾胃，免致蟲積疳積。</p>
<p>一、兒孩變蒸作熱，非謂其病，雖不藥自愈。</p>
<p>一、小兒受病在臍，有自愈者，故先賢惟理其臟，未言其腑。腑陽臟陰，如麻子一症，乃是腑病。</p>
<p>一、小兒顱囟未合，乃氣虛所致，勿視為尋常。</p>
<p>一、兒生，穀道無穿，多至不救。藥無速驗，必假物透以通之。</p>
<p>一、驚風發搐，手足不定執捉，恐風癇逆入經絡，廢害肢體。</p>
<p>一、小兒母容入神廟中，恐神情閃爍，必生怖畏。</p>
<p>一、小兒笑極與和，哭極與樂，睡思既濃，母使吐嚼。</p>
<p>一、兒患吐瀉，女吐男瀉，是為急症。吐瀉不止，脾虛風即生，急宜療之。</p>
<p>一、兒患瘡疹發驚，不可下驚藥，有熱不可用退熱藥，有汗不可止汗，或吐不可理吐，或下亦有可不可。</p>
<p>一、兒患鼻孔黑如煤，耳輪廊焦黑，目翻指甲黑作鴉聲，或吼叫數聲，及手尋父娘衣，皆無可治療。</p>
<p>一、藥忌腦、麝、膩粉、水銀，及用針艾，尤忌砒毒，皆不可輕用。</p>
<p>一、食忌甜成疳，飽傷，冷成積，肥生痰。如焦苦辛辣餿酸，恐毒，尤不可食。</p>

<h2>辨疑</h2>
<p>一、兒患陰癇，其脈浮數洪弦，是陰中之陽，非真陽也。</p>
<p>一、兒患慢驚，得脈數，呼吸粗大，是其症絕，非陽回也。</p>
<p>一、兒患豆疹作熱，非傷寒也，但看耳後有赤縷者是。</p>
<p>一、兒患身及張，非驚風也，或投寒涼藥亦愈，然非驚風所傳。</p>
<p>一、嬰兒聞響即掣跳者，非驚也，乃肺肝不足，而神有未安。</p>
<p>一、熱在筋脈亦發搐者，非真搐也，如或過劑，則變假為真。</p>
<p>一、議張氏方書，南人得病，不可以北人處方，自是南北異道，不可不辨也。</p>

<h2>補遺</h2>
<p>二卷云：三才之道，各得其九。上當有九，九者三字。</p>
<p>四卷云：不蔭心。上當有血字。</p>

<h2>正訛</h2>
<p>五卷云：預利利害，上利字當作知字。</p>
<p>十二卷：心氣不足而生之慚字，合當作漸字。</p>
<p>以上姑舉大概，余亦未能審於是非，揭之卷端，以俟今之省翁云。</p>

<h1>卷之一</h1>

<h2>議明至理序</h2>
<p>竊聞形端表正，周公測度之圭（音基）；意到心明，華氏扶持之旨。處方議幼，師傅至理為良；憑藥活人，學造精粹始妙。純乎其道者，惟籍專誠；違乎其議者，可行必用。夫人知其難，不知其所以難；究其學，未究其自然學。言之難者，莫過乎藥。備曉其意，參詳審察，以盡其善，然後可以知其難易之旨也。僕世居江南，叨參醫士，極意開陳管見，願彰海字同聲。雖然利鈍從人，畢竟因由有自。所著是書，悉議幼幼症候，誠為學者奧覽。一悟至理，無問不通，捨去褊隘之為，體取洞明之見，方行淺揭（音氣），宜探深淵，杲通神聖，以服眾情者，豈不韙歟！</p>

<h2>議明至理二十五篇</h2>

<h3>議原本</h3>
<p>議曰：古人有擇婦孕產之文，荊公著昭教育子之法，數篇利益，萬世規模，安得人人而尚之？世有君子小人之別，故當述陳利害，明智審詳而已。夫人立室安家，求嗣必純納婦，種子在賢旦德。然而婦乃賢淑，夫又質良，生男不肖者有之，非夫婦之失情，人倫失序，事有不備者，良由公始不能善䘏胚胎之氣，妯娌不興矜顧護愛之理。氣胎涵養，宜在沖和。沖和者，同其天地之寬量，應乎四時之運行。妊娠之間，懷育之次，但常令孕婦樂以忘憂，不作怖畏，亦無恐懼，飢食有常，起居自若，此乃以順其中而全其神，以和其氣而益其脈，是與調而助之，扶而補之，何患胎氣不安，生子不偉？所謂婦人之性，自未鄙窄，因由暴觸以動其氣，氣動則傷血，血傷則損脈，脈損則胎氣不固，胎氣不固，其子何宜？愛子者宜順保其胎氣，調婦者宜勻和其血脈，然後乃曰得其所哉！況夫人生清淨，與天地以同原；性稟真常，合陰陽而假質。母懷精血成形，夫抱氣神為子，何由聰慧？蓋為母性彌寬，所以智能；乃值父精廣愛，亦有鄉相。起自犁鋤，乃是室家相從，意同道合。至誠禮貌，怡然一婦一夫；淳謹憨勤，豈在多淫多欲？雖由拙見，亦有至理存乎中矣。</p>

<h3>議通變</h3>
<p>議曰：愚謂初生嬰孩，至於童稚，血氣柔弱，疾病危虛。夫疾之在急，不可倉皇；醫之欲安，豈可減裂？至於垣午則可行，有其巔憸則防蹶。醫學得中，務令勝善。良工進藥，藥用在人；通變為醫，醫行存志。志若通則醫不繁，機能變則藥不紊（音問，亂也）。通變者為奇，得志者為妙。古云：心通方學通。愚曰：志變作良醫。僕輒著此書，殊無文墨，但實雖則嘍嘍嗦嗦，其意乃欲使學者通變而已。通者，正理廣博，觸受咸知；變者，實明根源，開發胸臆。若只按古調理，今人處用平方，飲食坐臥不問，饑飽勞逸不使。然其天時地利，豈可不知？犬吠雞鳴，尤宜盡意。春夏秋冬，四時有正邪之令；吐利驚疳，五臟傳久暴之疾。所謂可以進則進，可以止則止，猶甚堪行即行，不堪行即轉（轉其意用，別當後議），是謂通變之道。聰慧之施，謀機策略，智度攻討，此乃兵家之權；殺罰為用，審察詳辨，診切視聽，此乃醫家之業。大只一切所為，皆由通變，惟有活人用功，過於兵法主治。在乎通而知其變，此乃良工用心規矩；疑其變且智不通，此乃庸夫用心操執。常運其通而知其變，見其症而知其病，生死預決，危困不戕，斯乃上工之謂；順逆相投，利害相混，何由而通？何因而變？斯乃下客之謂。嗟乎！幼孩易得候變，我即因其症與候而變治之；或輕或重而作，我亦隨其輕與重而理之。通變之道，如是而已。</p>

<h3>議難易</h3>
<p>議曰：天地陰陽，尚有盈虧；世人陰陽，自致順逆。失其調度者，邪正相干；違其安和者，患災相反。小兒一科，古人云：有異於常者為難。然長幼受疾，自是不同。所有難易之言者，非謂陰陽勝伏，非謂傳變差殊，非謂脈氣參差，非謂臟腑虛實。是以述其症者，悉謂之難；違其候者，總謂之易。無以難症而妄之謂之易，無以易候而妄謂之難。難易之功，不出至誠，窮理盡性，為得之矣。原夫醫學師範，性參古風，是必臆記諸家明文，旨歸要說，更須端的審察，輕重較量。兒觀兒幼傳變，又不可執殢於古意，亦不可濫恃於常情，搜羅盡善，究竟周旋，無一症一候留連於其間，方可謂十舉十全之妙道者耶！古人云：心中了了，指下難明。小兒方脈，指下易明，心用了了。其或不然，悉關蒙昧，才有生疏，前功俱喪。思之掌幼，童負利害，不可自逞寸能，何堪稱譽？家傳三世之業，未果彰名，蓋由滅裂用醫，倉皇太急，故有得失。鳴呼！既無深思遠慮，豈有廣見多聞？若求僥倖之功，必害平生之福。迂哉淺見，寧保無虞？性命相投，豈可視為容易？症候未明，萬毋勉強，學者幸詳察之。</p>

<h3>議參詳</h3>
<p>議曰：調理嬰孩一科，天下之難事也。且古從今著載，未詳其議。世有質能之士，未嘗廢業，蓋此等方脈之術也。然其參習至理，妙無它焉，所謂審察宛詳，按考備，既已實矣，不為虛設。夫苟瞑然取次，應急相投，致謬濫。噫！審者，審契表裏；察者，察實陰陽；究者，究竟臟腑；詳者，詳悉標本；按者，按明虛實；考者，考較輕重；推者，推評前後；備者，備準端的。入法千心，十全保命，口無泛語，意無濫思，脈無虛究，藥無虛發。凡有嬰兒，先以視之為上，聽聲為次，察脈又為次。旦嬰兒所受胎氣未充，其色白，其形萎，其氣怯，其聲濁，得顱囟（音蘆，音信，乃頂門也）固實，稍長不任變蒸。既於變蒸不備，則形體萎而不壯，情性不舒，疾病無特不有。初生之兒，所受胎氣充足，其色紫，其形緊，其氣壯，其聲清，焉得顱囟虛曠？稍長漸受變蒸，既而變蒸淌足，則體實形因，情寬性緩，疾病經年不仵。凡為醫工，專誠守業，毋浪遊，毋泛飲，毋傲恣，毋耽執，用之則專（專不以心浮泛），遣之則穩（令其絕疑），執而從機（行用以明機變），姦而致執（每依不可法則輕易），設意無太過，處性莫不及（切須究竟毋太過不及）。凡遇臨危赴急看候，一見使人愴然者，勿可徇眾而說，但如前八法明度而已。若也視之為常，聽之為妄，視聽不專，浮泛致亂，虛作實，冷作熱，表為裏，壅為通，如此倉皇，安得不有疏謬？今述總要，須當致謹參詳，乃謂成全日用善工者耶？</p>

<h3>議專業</h3>
<p>議曰：觀形看候，察色聽聲，宜究陰陽受於邪正，皆由一氣生成之本。一氣者，先天應運，造化鎡基，稟賦不常，故抱虛怯。孩童作疾，其在實實虛虛，損益得中，標本無恙，過與不及，以意逆之。凡為醫工，須知表裏，復審盈虧，不和則眾疾皆臨，稍順則四大悉正。世傳小方脈書八十餘家，究竟症候良方妙劑不過五十，然其傳變形容諸症，該千述萬，各顯其長，不得不錄。是故醫家明理，藥不繁勞，乃知至妙，廣博言章，欲使學者通變而已。太抵小兒得疾，所受無過驚積冷熱。療理不致散漫者，乃為上工；其候傳散，斯為下客。傳散者，驚即作癇，熱即成風，積成痞癖，虛作疳痢，冷致吐瀉，逆為嘔噦。其症泛泛，其醫𥉂𥉂，若不尋其源流，漸入江海，愈遠愈深，彌開彌大。上士治之未萌（不待傳變），中士治之已行（疾作它症），下士治之縱橫（或有得失），盲者治之崢嶸（無規法也）。用藥副之規矩，行道從之精專，嬰孩無隱疾之情，藥餌有反功之歎，勿致矜哀，乃招慶善矣。</p>

<h3>議審究</h3>
<p>議曰：幼幼方脈，在乎參審推詳，究竟盡善，深明其理，為得之矣。不以意竟為務，不以疑似為怯，不以未用試功，不以疏怠為向。每一症，無不審究古意及師授之因；每一候，無不察度準繩平善之理。所見至良，決定有路，無可疑者，方與投藥，庶無勉強肆臆之為。豈有傷大壞症之害？或有之，蓋其滅裂故也。初生之兒，審其胎氣少穩；斷乳之子，究其飲食傷脾；離母之孩，察其暑濕寒邪；非角髫童，覺其馳遂鬥力。勞則傷氣，動則傷神，役則傷形，飽即傷滯。毋有四意，醫工次焉。若也順事致敬，嬰孩何疾加之？一曰調護，謂調適其寒溫，護令不受邪觸。春不怯凍，秋不乘涼，夏知清冷，冬覺溫煥。二曰保持，謂保嬌情所欲，撮所經任之意。乳須及時，食無過劑，睡無令飫，戲勿令飢，坐臥起止，惟母當知。三曰撫育，謂幼則順其嬌癡，長則變其情忘，撫之乃常存其神而知其體，育之乃要其形而調其性。四曰鞠養，謂兒長成，宜鞠問之，毋令縱恣，毋令忽暴，毋令悖逆，毋令頑慢，四者窮理。蓋性縱恣，毋令忽暴，毋令悖逆，毋令頑慢，四者窮理盡性，可謂慈母之道。凡兒初生之後，出三日氣脈定，已脫臍風之難；過七日精神全，方離鎖肚之害；越百日腠理持，不致咳嗽之危；千日外胃氣正，不瀉青黑之咎。又亦有四焉：一曰和愛，二曰順敬，三曰謹訓，四曰寬責。和愛者，不恣兒男口腹；順敬者，不聽暴虐嬉戲；謹訓者，至誠禮貌相持；寬責者，忠怒丁寧舉喻。若加鞭笞呵叱，不惟驚恐怖畏，此之用狠，彼之亦愚。若也父子相尚，溫恭相順，斯為善矣。</p>

<h3>議同異</h3>
<p>議曰：合之則同，離之則異。水火之設，品物之聚，皆有同異，何可怪哉！火之為煙所鬱則不明，及其焰也，由煙而明之；水之為坎所壅則不流，其湍也，由坎以流之。萬物有品橐，出其境則異於常；人事有尊卑，合其道則異於眾。幼幼抱疾，不作傳變，古今皆知，言曰疳積吐利，及其更也，即作驚風痰熱，未為怪異，可以循其症候而療之，稍或變常，當審其輕重而理之。茲則世醫務學，莫執此端可否之意，以盡其善。殊不知疾作有同異之別，其所受之常曰同，所作不常曰異，前件八症候中，皆能傳之。俗流不知其所以傳作，即曰差異，其實因差異所致。當知所受在於傳變，欲以暴急之間，妄投丸散，冷熱相互，虛實相摧，表裏相隘，陰陽相反，亂於百脈，觸於五臟，迫於經絡，遏於榮衛，是故本症遁作它疾，所發不得其名，所療不審其理，攻劫無端，幸全性命，即其所受，乃謂怪異。積症之中，得疾差異甚多（差異者，是積等證候，所治不當，而傳反致，勿謂詫異所受哉也）。疳氣之疾，外候頗眾，其候但於積病壞症而與調理。疳氣亦然，詢其源則應其端，體其症則療其疾，是以丸散不良陳，疾病莫延久。凡兒所受異疾，蓋由失之明察，苟或成人，往往抱癈篤之疾者有矣。</p>

<h3>議根本</h3>
<p>議曰：夫人之生，以氣血為根本；人之命，以安樂為壽元。男即二八，衛氣方正；女即二七，榮血方行。天癸至時，其氣與血始然。父參年既未登，即曰小兒。然分形其名，已載自幼至長久。第言之，今之世法，男年十五，女年十三，乃通嫁娶。其道雖不應古，其理在乎通情。情動乎中，男破陽大早，則傷其精氣；女破陰大早，則傷其經脈。雖成胎孕，含育必虧。兒生傴僂，變蒸不備，體作侏儒。又或男子過於八八，女人過於七七，產誕嬰孩，何足為善？又或陰盛陽虧，陽盛陰虧。又或女因胎寒服藥，男以陰萎餌丹。如此為後，皆不足與議，非正論也。前賢著述，評較調理，未嘗與究其源，遠見分短夭利害。由斯復見男女長成疾抱，虛勞相繼而死者，人謂傳尸，或曰有鬼所致，或曰有蟲所作。愚謂不然。傳尸者，傳受骨肉氣血之尸也。乃是父精不足，母氣虛羸而得之，何更外有尸而可傳？有鬼致昧，有蟲為禍，前件意義，悉入其候。雖則男女長大，勿於勞瘵相承，但稟賦受氣，如花傷培，似木敗植，榮壯枯謝，各由根本所致。凡為人子，無能自知，況又恣妄於女年，忽爾氣虛脈脫，惟恨天命。病家堅忿藥之不良，無自責其根本不充，所以然也。</p>

<h1>卷之二</h1>

<h2>議虛實</h2>
<p>議曰：五行之為物，各有輕重虛實，得共之性，生乎堪任之地，資質自然固壯。金之至堅，隱生虛土，質輕色淡；火之至虛，猛發堅木，焰烈炎熾。土有固陷，水有盈涸，本有巖石數十年之秀實者，不得陽氣，亦萎有之。人之資質稟賦，父精氣，母血脈，渾樸胞胎，調攝鞠育，凡兒變蒸之後，其形可知。是以顱囟未合，筋骨柔弱；顱囟青筋，脈虛不榮；顱囟常玩，滑泄便便；顱囟睡起，風痰不止；顱囟久冷，吐利清青；顱囟虛軟，癲癇不免；顱囟匾闊，暴瀉易脫；顱囟喎長，風作即三；顱囟連額，驚風易得；顱囟未完，怕熱怯寒；顱囟緩收，怡氣不周；顱囟動數，神氣昏弱；顱囟寬大，受疾恐害。顱囟者，乃精神之門戶也，關竅之橐龠也，上下相貫，百會相通，七孔應透，五臟所籍，泥丸之宮，魂魄之穴，氣實則合，氣虛即開，良由長大，不可不合。醫者一見，當知其可否用藥。凡兒有顱囟未合，受病沉重者，慎勿將作尋常，矧思究竟，猶恐得共，何況瞑傑，妄投丸散。此示嬰兒，慮愚者有曰醫殺之說，曷不謹歟！</p>

<h2>議脈氣</h2>
<p>議曰：天地造化，萬物發萌之端，其來有漸，其根悉用，其名則常，其用則別。夫人之種性，所受胞胎，含宏隱密，生而未顯，長而能知，利鈍巧醇，良狼戾者未奐，言誨亦拙，有自然之理。血氣身體，假質於父母；痞泰苦樂，稟賦於天地。故天地生我，以資質相識；旦仁義在我，以古樸淳素。壽夭貧富，分之以時；賢愚貴賤，委之以命。惟心惟性，乃忠乃神，通違智慧之者，不可得而言之漸矣。其所言漸者久矣，知乎微妙之道，寄乎清淨之室。微妙之道，乃心脈之所生；清淨之室，係肺氣之所主。初誕牙兒，胃氣未全，其脈方行於大極。五臟之脈，心為元首，一月之內，未有可挺，雖形已具，且脈氣方與天地同參，血肉初共，人事相奪，真邪離合，猶如混沌初分，自此乃曰脈氣之漸矣，其脈初行太始，陰陽未諧，自囟之下，髮際之前，齊鋪三指，但按其冷熱，察其症候，斯可謂脈氣之生漸且微也，百日之外，脈氣行之大初，左右食指三節，側看縷紋，風氣隨所發作，輕重攻擊而生，至於五百七十四日之外，行於大素，於脈應動，於息有數，高骨之間，一指分三部，取之浮沉，察之緩數，可知冷熱虛實之理，千日之外，行之四方，游於五臟，外應䑏頰耳花準頭唇口眼目，五色隱顯，一氣盈虧，相生則平而善，相剋則凶而惡，及其危困，然後按之大衝，大衝之脈，在腳面曲陷之間，其脈定吉凶休復，應指順息，則可尚𤘾，指或逆散，可謂絕矣，幼幼脈氣，分之有五，深其究竟，其次察之症候輕重，審之表裏虛實，然後可以議藥，得不虛設，醫工之良也，試較優劣，而後知之。</p>

<h2>議投藥</h2>
<p>議曰：水有淺涸而可深，山有頹荒而可林，地有傾陷而可固，物有損益而可珍，藥有貴賤，人有尊卑，心存至理，追究弗迷。然其貴賤長幼嬰孩，所患疾病異端，傳變異症者，受氣稟賦，資質厚薄故也。由是根不固而體不備，氣不充而志不寧，貴者則驕多，賤者則勞盛，驕多即胚胎而得之，勞盛乃孕育而招之。凡兒氣受之不實，或芘蔭之有餘，月期過滿，或看承之有虧，所襲剛柔而然，猶抱虛實而已。從生成應有別，假造亦無違，察貴賤各體其根，較長幼皆循其理。凡療小兒，非以一體之謂，不可同常之見。所言投藥者，或用投之於簡（的也），投之久練（純熱也），投之窮研（精粹也），投之益後，投之勝前，良工用心之至，是謂投藥之專。若以重劑投於離（乳小也），或以峻藥投於貴（峻調嚴緊藥），直不可混淆而設，造次而施，合以通利者，審問扶而下之，當用益補者，察詳按而調之，孰謂恣妄之有耶？所謂不可攻擊者，曰虛、曰幼、曰嬌、曰重，不宜冒致者，曰久、曰閒（不言所受）、曰冗（用藥眾多）、曰競（爭與攻擊），復加之以母之情僻（執殢也），父之性急（愚憨也），子之意頑（不服藥也），病之候難（傳遇壞證），母之殢神，父之遣祟，如此人事，曷可勉強而與勞心枉究哉？不惟無補，而反無思，觀其病家情意相順，禮識相傾（看傾也），功歸於我，行著於先（叩依先嘗所行），是便信醫即愈，重藥即痊，用其湯劑得為之良者，誠在彼此，毋忽之之謂也。</p>

<h2>議下藥</h2>
<p>議曰：凡調理小兒，須先觀視氣色，察其症候。其或氣色有不正者（謂啼哭而致散亂），即憑察紋。診脈有不定者（謂久睡），即究症候。其或症有壞候作變（謂前人攻擊，有傷氣血，或傷臟腑），即選良妙方藥以主之。不及則無咎，切不可大過。若以意揣其疾，盲投其藥，深恐有乎得共。古云：醫者意也。審思前賢載述妙用無虞之意，文參詳父兄師長教誨指示取捨可否之意，又裁度自己曾經療治輕重量度斟酌成全之意，三者既備，可謂醫者意也。如此究竟，無不盡善。原夫醫家為用，憑藥以活人。所言下藥者，臨機輻湊是也。可以下即下，當下不下，其候少頃則過矣。不當下而下，其症反為它疾矣。下藥之法，慎勿躊躇，若也思慮可否之間，或反復再四，則疑在中。有疑切莫用藥，須當預察，無大過不及之議，即而定已，投之決效。非止利下之謂下，又非於投劑之謂下。下者有先有後，或先利而後補，或先補而後利，或先扶表次救裏，或先救裏後解表，如此者眾。舉隅而言之，用藥得其中，輕重得其所，是謂下藥。毋恣意，毋致緩，毋倉皇，毋競利，毋勉強，毋疑惑。或得或失，利害有之，利則僥倖以全其功，害則盡世不可言也。凡為醫士用藥，不可妄知，不容無知，不可執見，毋徇眾見。主醫裁藥，明識俱見，按脈對症，心無虧弊，道副自然，以應上古聖意，端的篇章，君臣問答，語言玄妙，至道而已。</p>

<h2>議行醫</h2>
<p>議曰：醫之為字，左七右八，乃言表裏。其下九晝，乃云九道。合之二十四，以按二十四氣。古人設意，義理深奧，垂象於天地之間，以應人倫之道，與其成人之夫為契論。獨小兒氣脈微弱，難以謂之醫。蓋是七表八裏未全，故云調理。愚曰：不然。曷不知其善用心者，則奇妙純粹在其中矣。茲說孰是？經云：醫者，意也。以意理之為得，擾之為失。得失之義，於人禍福。是以純粹之妙，良工之能。學者究備，行則盡心，可謂善術之道。凡見脈不若議症，議證不如識病，識病爭如藥對。小兒作疾，多是無事，歷家輕狂，所以有乎得失。如病人危薦，但需其藥，求速安愈。醫者要須得中，無有大過不及之害。所謂醫之為功，神聖工巧，明其標本；表裏陰陽，參其盈虧；經絡榮衛，察平升降；臟腑腸胃，審其盛衰。然後可以度其疾之輕重，較其方之優劣。行醫之功，譬如簧弩，發矢一視，決中十全。為工如此準繩，可謂醫者意也。若也覷睹僥幸，勿謂醫之良工為福使之然也。智者謂宜鑑戒，二者不可偏有。僕謂良魚福烏，醫士者乃醇乎醇者耶？</p>

<h2>議稟賦</h2>
<p>議曰：夫人皆知胞胎成形，產育具相，約以十個月滿足而生。究竟至理，即有二百七十日為定論。亙古自今，豈相間說？然而就中虛計，一月應數，大抵九九為上，八八次之，七七又次之。人生稟賦天地二儀之氣，會合三才之道，各得其九。三二十七，即二百七十日為正血，氣九充實，精神固平，為人具足相識，智性俱通。八八者，三才各得其八，三八二十四，即二百四十日生血氣，蔭之不及，精神有虧，為人拙謬鄙鈍，智意忘遺。七七者，三才各得其七，三七二十一，即二百一十日所受胎氣不足，為人狂愚無志，惡劣狼戾故也。其間或有大過不及之者，皆共其正數。大過即氣血蔭之有餘，不足則氣血養之無逮。夫人得中之道，以為純粹，陰陽得所，剛柔兼濟，氣血相和，百脈相順，所以生人心智益通，精神俱備，腑臟充實，形體固壯，醫者一觀嬰孩顱囟，斯可知之，未周之兒，顱囟固合睛丸（一作黑），神清口方，背厚骨粗，臀滿臍深，肚軟莖小，卵大齒細，發潤聲洪睡穩，此乃受氣充足，稟賦得中而益之，一周三歲之間，其囟尚大，其顱虛曠，額前作坑，口闊神露，胸高骨細，臀削臍突，髮黃齒疏，卵小莖大，氣促聲硬，皆由受氣不足，怯弱得之，驚悸易得，智性難通，父母愛惜，良工必憂，不以貧富貴賤之所生，但賢者當以告之，若也愚魯之人，寧不投藥，稍或藥刀不及，反言醫殺之，大凡初生孩子，少具精神者，良由夫婦之情未諧適，心未綢繆，且喜且驚，神不和脫，將來得其所宜，樂則情濃，動則情興，懼則情思，交則情極，深契其意，重美其心，生男必溫，生女必淑，斯可知淳和之至如此，是故醫家不可一概用藥，宜斟酌輕重，比附推詳，度究可否，不至恣妄，反為虛設，以成重害，參審得失之議，盡善盡美，應機而已。</p>

<h2>議。辨理</h2>
<p>議曰：古今天下同議者，貧富貴賤是也。所產男女，自幼及長，總曰小兒。然幼幼有牙兒、嬰兒、孩兒，長曰髫童、兆童、稚童，殊不究竟富貴之同，貧賤之辱。二者人情，間於中道，混而言之。蓋胞胎氣血之不同，故以辨之。貴者富者，風化同途；貧者賤者，門列一等。所以禮識相遠，日用致差，雖有少殊，宜審其偏正，（妾之子有任愛之者。）度其親疏。（抱繼之子，因人親生視之，乃為一等矣。）中等常情之家，禮識未虧，日用得過者，又有大過不及之議。夫人之運神發性，惟心不可役。心役則氣耗，氣耗則血衰，血衰則虛自此始。腎堂不寒而且憊，心室不足而旦虛。原夫精元假之，為胚為胞，為形為骸；胎質藉之，乃氣乃血，乃乳乃脈。貴富生子，順養撫育之有餘；貧賤生子，調攝固愛之不足。有餘者，大過之謂；不足者，不及之謂也。大過則傷之不節，不及則復之共時。不節共時，皆生病疾。寒暑冒之，或表或裏；冷熱攻之，或脾或胃。所謂審度測源，醫者必須知之。貴富之子，食之有傷於不精，寒之有傷於大燠，暑氣有傷於凡涼，泉流有傷於水冷，腸胃氣血柔而不剛使之然也。貧賤生子，食之有傷於不時，寒之有傷於凍餒，暑之有傷於煩躁，脾胃有傷於濕膩，水穀不分，腸胃氣血壯而不堅使之然也。父母不自貴受治，稟氣虛謬，況貴子懦弱者耶！是故胎氣不足，血脈蔭籍之有虧，良由男方剛情，興造次共。即兒生之後，牙嬰兒固同，將護有平，饑飽寒暑勞逸之不同。又於變蒸之時，有傷於氣血；及至立行之時，有傷於筋骨。由是撫養之共情，鞠育之不意，調度之不宜，將理之魚法，故易得其病。病易得虛，虛易得壞，壞易得失。貴富之子，疾之反是也。未寒先衣，未熱先涼，未食先飽（未至食時，餘食過膈），未眠先睡，睡之恣晏，食之過滿，寒之重衾，熱之就濕，故易得疾。疾之未虛，強食令之虛；脈氣未壞，強藥為之壞。學不究則不精，甲不專則不妙矣。若執之得法，妄之為要，殢乎丸散，不良智者，吁哉！</p>

<h2>議料理</h2>
<p>議曰：大凡人復處性愚魯，用心狠戾者，不可以學醫。師不擇善，禍難逃跡。其或秉志怯率，為性懦弱者，亦不可以言藥。素問有云：人如舟也，藥如水也，水能濟舟，亦能覆舟。一丸一散，對症盡善，起活危困，未足為奇。一有共利，壞症傷候，且過在爾，其智拙鈍，非殢藥也。學者讀預，究其純粹，施其精研，克效斯時，以副規矩，不可得而述者，醫之良工也。夫醫之用藥，將之用兵，古人亦有言矣。且如善醫明症，良將得策，藥能勝病，卒能守城。若也將無計策，醫共證候，病何以瘳？城何以固？今人皆知發藥，殊不究竟表裏臟腑、虛實冷熱、經絡榮衛，投之不當，反為它害，亦不可執用一方一藥。且大醫局四味理中丸、小柴胡湯之類，皆大人藥劑，所謂意到症見，藥無不驗。能者此理，症候方藥，諸家所載，無不應效。但究竟不到，有乎得共，盡由攻乎異端，涉獵繁雜，智性不專，事在狂簡，確實與言，更請思之。</p>

<h1>卷之三</h1>

<h2>議調理</h2>
<p>議曰：醫與調理，其意等差，參詳虛實之宜，究竟緩遠之理。若明疾之輕重，當察病之遠邇。為其所患，得變稍重，症候稍逆，直取其功而全其效者，醫之良工，可以扶持。循症解利，寬緩服藥，次第瘳愈，毋令加進，剋日安蘇，此乃善能調治。譬如水流就下，迸溜遲疾，澄則自清，深則自潤，狹則自湍，岸則自瀉，洄渦漩伏，灘瀨奔流者，乃自然而然，不可得使之然也。脈氣之流行，遇冷熱寒涼、風溫燥濕，亦由水之就坎也。調理謂疾作尚未傳變，氣行在乎怯弱，膊變即循其法度，怯弱即緩與扶持。是以調謂守節，理謂有序。節者無太過不及，序者已得其所宜，然後謂之理；無太過不及，可以謂之調。調者而有度，知度而在於形容；理者須可法，正法而全於規矩。譬之絲不及絡，頭不得梳，斯皆亂也。絡之取其條直，梳之析其通解，无毫髮之遺，有純復之慶者，誠謂調理之工也。夫苟以危而用急，見愈而用緩者，乃共度也。斟酌權衡，勿隘偏墜，先約其輕重，察其進退，藥與病勢相參，病與丸散相及，醫自意設，智與醫同，藥與疾諧，疾用藥等，用之無忽，何慮疾不瘳、病不愈哉？嗚呼！學者理幼，勿恃其自能，執其偏見，事有優長，須預學問，盡心而後已。</p>

<h2>議傷憐</h2>
<p>議曰：老矣！見孫長大方子，不惟驕恣之甚，復加愛惜，傷天不任用也。睡思既濃，猶令咀嚼。火閣既暖，猶令欲酌。臥蓋重衾，猶令衣著。撫拍顧愛，常衣裹作。（以手掌就衣服裹，拍背引風疾。）指物言蟲，驚因戲謔。莫覷廟識，心情閃爍。危坐放手，我笑渠惡。欲令喜笑，脅肋指鑿。門非仕宦，莫與扎腳。年不及時，莫常梳掠。表裏無恙，莫頻服藥。戲謔之物，不可恣樂。刀劍凶具，勿可與捉。莫近猿猴，（傷志也。）莫抱鴉雀。（損眼也。）抱男觀書，抱女觀作。（女工作也。）男方學行，勿令綽略。兒方學語，勿令揮霍。會坐莫久，腰背卸卻。行莫令早，筋骨柔弱。惡莫與顧，善可與學。順時調攝，自然安樂。雷鳴擊鼓，莫與掩耳。眠臥過時，須令早起。飲食飽飫，須當戒止。非時莫衣，常食莫美。羹蔬宜淡，滋味膿屎。夜莫停燈，晝莫說鬼。睡莫當風，坐莫近水。笑極與和，哭極與喜。智者當知，撫育至理。</p>

<h2>議食忌</h2>
<p>議曰：溥天之下，產育既同，將護之因，有所不同者，貧富之謂歟？然富與貴，飲食臥具，有益于兒母。貧賤又何以言之？古人有云：病不服藥，謂之中醫。正如此說。外護寒邪，內節飲食，審物順時，何疾之有？前云富與貴，傷其大過；貧與賤，用所不及。然不及之意，乃與中醫之言得其所哉！旦如變蒸之候，數至其時，溫熱有作，令兒漸固，舒展筋骨，生長百脈，和順經絡，自然之理，何必加藥？凡兒漸長，必漸飲食。東西南北，地產果瓜，田種秔稻，山有粟麥，野有蕨筍，魚有溪池，木有清濁。人之所生，隨土地之所宜，飲食亦隨其所有。南人不堪食北物，以麵為膳，以棗為蔬。北人何可食南物，以魚為菜，以詹為飯（詹，城米）。近海啖之鹹鹺，居山食之野味。北果多涼，南果多熱，東果多酸，西果多澀，豈宜多食？五臟六腑強納，疾病生焉。凡小兒心之有病，不可食鹹鹵；肺之有病，不宜食焦；若肝之有病，不宜食辛辣；脾之有病，不宜食餿酸；腎之有病，不宜食甘甜。蓋由助其它氣，而害於我也。蓮子雞頭，能通心氣。石榴餘甘，大澀腸胃。乾柿煮蔗，猶能益肺。蒸藕炊豆，於肝宜利。五味唯棗（五味子足），脾家可意。肺病忌食肥膩，鵝鴨魚蝦漁鹽羶腥鹹鹺之類。脾病忌食生冷甘甜包氣之物，謂饅頭包子餛飩鴨卵肚臟夾餅，皆包氣之物。心病忌食心血髓腎，雞羊炙膊燴炒煎炸木。肝病忌食肺頭肚豬雀油膩濕麵。應小兒不問有病無病，並不可與食腰子及肚髓心血，令患走馬疳候。蔥韭薤蒜荽蕌，亦不可與食，令兒心氣壅結，水竇不通，三焦虛，神情昏昧。飛禽瓦雀，不可與食，令兒生瘡癬瘑疥，煩躁遁悶。鮭鯗蝦蟹鰻鱔螺螄螃蜆之類，不可與食，令兒腸胃不禁，或泄或痢，或通或閉。食甜成疳，食飽傷氣，食冷成積，食酸損智，食苦耗神，食鹹閉氣，食肥生痰，食辣傷肺，食味淡薄，臟腑清氣，乃是愛其子，惜其兒，故與禁忌。若也恣與飽飫，重與滋味，乃是惜而不愛，憐之有傷，以至丁奚哺露，疾作無辜，救療無門，悔之不及。育子之家，當宜知之，理宜戒之。</p>

<h2>議責善</h2>
<p>議曰：信夫執術為醫，荷術至重，其或輕舉，有乎得共？稍共其理，如盲索途，事致疏虞。嗚呼！斷不復續，死不復生，哀哀之誠，誰為罹歎？當知醫家一門，上古聖賢，測天征道，詳氣四時，逆順陰陽，痞通表裏，然後察之五臟六腑，三焦百脈，究竟標本盈虧，參審絕生變動，代謝榮枯，流行注厥，如此知義，少契古風。然有僥倖、侮玩、狂暴、輕欺者眾矣。僥倖者，恃其時運以誇勝；侮玩者，以道之亨通而慢易；狂暴者，不能務本以從師；輕欺者，肆意妄執以為是。四者人事何掌，博古窮經，明心盡性者邪？醫之務業，其道有四，不可遺其一焉。行之惻憫，施之喬惠，存之周至，受之平等。惻憫者每務仁慈，消惠者常加愛護，周至者運用無虧，平等者勿論高下，如此推誠，稍入醫學之道。若也縱恣身心，嬉游妄作，及其訪問，臨時檢來，以齊規矩，斯乃自敗之端，殃積於後。野老數年江湖，抱街活人，親見同道，谷有耽僻，終不為良。或好籠浪，或貪傳奕，或綱或釣，或射或獵，或謳或飲，或歌或舞，佞游花衢，狂穿抑陌，或習弓弩，或縱鞚繮，或樂煙粉怪詞，或悅風情可意，此未用心不常，僻性詭異，濫禰醫士，得無訴乎？其實非詐，其用以證，凡百枉究，總涉狂佞。須知醫家者流，遵九道聊伸鑑誡，犯者貴已為幸，志在前賢聖哲，無時不習者，方可謂良醫受道之職也。杲能守之以道，分之以安，天地副焉，神明欽焉。</p>

<h2>議錢氏方</h2>
<p>議曰：晉朝有醫工錢氏（諱乙），設方用藥，明症識候，直究竟嬰孩臟腑，令熱表裏，虛實傳變，頓取其效，正所謂醫孩童之意，準繩法則之道如此。後世欲以及其議者，蓋闕如也。往往誦錢君之書，記錢君之藥，錢君之意旨，未之聞也。愚詳其意徑且直，其說勁旦銳，其方截而良，其用功而速，深違其要，廣操其言，萬世不可掩其妙，四方皆可遵其說。九八十一家者，谷述精通，莫若錢君智意，克效究竟，不勞再三，亦無中道而廢。門人閻公，編集未具，錢君心服想計，恢洪純粹，妙理希奇，紙筆不可得而錄者耶！時有高見之士，一悟錢君意旨，醫之與藥，規矩法度無以異。錢君運乎中，顯乎機，而自然造化者，莫之能語也。良工妙用，信乎野老之言，毋曰管見。後之學者，盡心討論，必有深著於胸次。且德義於人，揚名於後世之道，不亦宜乎！</p>

<h2>議王氏方</h2>
<p>議曰：小兒方書，世傳有三。王氏東漢作方論二十篇，今家寶是。其或大同小異，往往好事作德君子，刊施濟眾，就平增損者有之。大抵其言有序，自徵至著；其旨有皈，自隱至顯。話括周遍，事無繁述。參以數十名家，比較優劣，始知先生藥用淳和，方排繼續，考之而取其切，究之而效其疾，斟酌升降，以和為用，其意在調理盡善之最也。雖然，後學之士，治家之子，檢閱投餌，或有不當，毋至差，或致害其書，故得家寶之稱。夫良士用心，妙理活人，醫之與藥，猶若權衡。權衡者，法之一端也。參究均平，考較實論，循方以應脈，有條而不紊。王氏之書，乃幼幼方脈之規模，習小丸散，豈可遁此？如大人疾患，有叔和脈訣；考五行，有珞綠子命書；學六文，有火珠卦文；知貴賤，有人倫風鑒相法。如斯等術，皆名家所集，詳辯以為上首，冠諸妙義，得毋枉究？雖然，各有廣要篇章，終不遠越，而在總歸，非曰訓童發蒙之謂，垂老足欽，至妙之道也已。</p>

<h2>議張氏方</h2>
<p>議曰：宋朝徽宗太子壽王聰慧，幼時常發癇疾，諸大名醫莫之安愈。時有草沢醫士張渙，挾盝貨藥於都下，召之入內，用藥即效，官至翰林醫正。張氏北人也，留方五百有餘，逐病敘說，深參其要，近傳於世，目曰張氏妙選，四方士夫樂而用之。殊不知南人得病，以北人處方，自是道地相反，意議不同。所謂北人水氣多，南人瘟疫盛，地氣天時使之然也。北人水氣盛，盛則就濕，濕即與燥之；南人瘟疫盛，盛即作熱，熱宜發散，更加燥熱之藥，病熱傳作它症，藥既不宜，疾何能愈？夫幼童陰陽稍偏，表裏固同，臟腑怯弱，豈可以熱制冷，以涼止燥？其說症候，可以循簡述論，頗有優長。然其方藥，初使人疑之，次復惑之，或有不當，必與悔之，曰：南人用北人方藥，曷不知之？學者參究盡善，不必殢方。如前有云：意與醫同，藥與疾諧，方可投之。若也據乎云云而用之者，斯謂愚醫不無妄投其餌，在乎得失，須當審之，宜其察之。</p>

<h2>議幼幼新書</h2>
<p>議曰：調理嬰孩小兒，上古黃帝未有言著，鬼史區云謂小兒受疾，令是一門，故不加載。素問始自巫人，顱囟經篇章三舉，自後智者繼述本末，世傳諸家之善經進詳要旨症準繩之者，凡八十一家。近世湖南潭州周宅廣收其文，專入編集，目曰幼幼新書，四十冊，僅數十萬字，排列名方，似涉繁碎。猶如元帥要退伏兵，欲以一箭敗陣，乃定太平。彼時求選一夫善射，急於百萬軍眾，皆張弧矢以待，比較優劣，臨機對壘，就敵之勢不可得，而用之奇正，退其潛伏，猶豫再三，乃非良將者耶？臨時檢閱，審較可否，考其效驗，正由渴而掘井，鬥而鑄兵，不亦晚乎？學醫之士，若不究竟胸次，了了肘後，簡往直截，扶危之功。若也取次緩慢，智意不逮，彷徨之久，出不得已，肆意而設，自不知慚而且愧，有如馬服子強戰無不。孫子曰：上兵伐謀，可以比喻。良醫用藥，何異良將用兵？醫無智則不可行，將無謀則不道者，猶犬馬之夫，難與言其至理，曷能以知其道？若夫文武醫卜，農工商貿，行之以禮，務之以本，議其道者，無不貫之矣。執醫之士，不明是道，妄恣苟簡，必有利害於其間，斯乃何未之流？溫恭無佞，直節有規，方乃謂醫流之士，明道而見之，違理聰而門之。良由務學則開，聰開須知議，議知則專誠，誠專乃通往，往通則明道，道明則任用以副自然。所謂常山之蛇，擊其中則首尾俱應，醫之亦已。處用得中，無不應節，斯乃謂明道之理如此，宜乎究竟而已矣。</p>

<h1>卷之四</h1>

<h2>議初生牙兒症候序</h2>
<p>觀夫男女以正夫婦，遵乎德義，合乎陰陽，以運生成之理者，順乎天地之性，應乎四時之令，榮衛流通，潛虛得數。是故胞胎含蓄，血脈造化，豈能遜乎玄元綱紀哉！所以得其正數者，愚魯之為能；失其正數者，富貴以為⿱散心。皆涵養各由本質，故賦之有利鈍，稟之有虛實。賢哲明智，庸野鄙陋，皆共由之，斯可知矣。今之孕婦懷胎，保以為常，飲食不節，起居不宜，未誕之間，勞役眾。若男子視胎以為常，恣其所欲，任其所施，頻授觸穢。所以兒生之後，百脈致虛，三焦不順，關竅不通，榮衛不和者，初生之間，便作疾患，怪異多端，不可得而詳述。今舉二十有六症候，概而言之，智者察之，審其可否，比附與之療理，助其榮衛調順，經絡得宜而已。</p>

<h2>議初生牙兒症候二十六篇</h2>

<h3>議呵欠</h3>
<p>議曰：呵者，即張口而又合之。欠者，謂神不足，故名呵欠。非是疾病初生牙兒，多有此作，不足怪訝。錢氏有謂：呵欠遁悶，良由胎氣怯弱，榮血不壯，衛氣少順，即不蔭心。血不蔭心，則神不守。神不守，則呵欠遁悶，無他愧也。古方有朱砂蜜法，用煎人參湯調和飲之者，不若定志丸五七粒，麥門冬湯化開與服，至妙也。</p>

<h3>議伸舒</h3>
<p>議曰：伸者，突其胸堂，展其氣脈；舒者，引其頭頸，直其手足，努而作之，良久復作。初生牙兒，多有如此，亦非病也。良由母懷胎胞，起坐不得寬展，或將絹帛兜束肚皮，或係襠褲勒縛大緊，或臥已盤旋，或睡不轉側，是故偃傴胎囊，氣失舒暢，降生之後，自然如此。老傴知與挼揉，未知調之百脈，宜將五木湯浴之。功效。謂用桃、李、槐、椰、皂莢，各取枝煎湯，候溫與浴，仍與觀音散，少少與服，效且妙矣。</p>

<h3>議噴嚏</h3>
<p>議曰：肺之氣壅，腠理不通，外感寒邪，或已傷風，關竅閉塞，鬱鬱於中，及至噴嚏，方有少解，不能發散，漸入胸堂，逐生痰熱。痰熱既有，即加之咳嗽，輕則氣促短急，重則驚風搐搦。搐搦之利，若在初生，尚云不可，宜與消風散服之。咳嗽宜與金沸草散、人參羌活散，二藥皆和且順，雖則嫩弱，服之無恙。其劑溫純，化痰利膈，效之至矣。</p>

<h3>議臍突</h3>
<p>議曰：胎乃育形，臍乃根本，胎氣固則形體壯，肚臍深則根命長，受氣卒遺，形萎臍突。凡兒斷臍利益，漸長漸深，吻乳調和，愈固愈實，是血脈之相順，致形體之相資。初生之兒，有熱在胸堂，則頻頻伸引，呃呃作聲，努脹其氣，抑入根本之中，所以臍突腫赤，虛大可畏。無識之夫，將謂斷臍不利而使之然者，非也。臍斷不盈尺，一臘之內，隨其根蒂自腐，實者深之，弱者淺之，深淺之理，以其稟賦得之。此乃良由胎中母多驚悸，或因食熱毒之物有作，宜與大連翹飲子，其熱自散，其臍歸本，不必以藥敷之，恐毒傷入為害，醫工當知之矣。</p>

<h3>議夜啼</h3>
<p>議曰：王氏舉水鏡先生云：天蒼蒼，地王王，小見夜啼疏客堂。又云：啼而不哭是煩，哭而不啼是躁。無辜賦云：夜多啼而似祟。凡初生兒，日夜煩啼，真如有祟。或謂熱在心經，藥與疏利；或謂寒停臟腑，與服溫暖。醫者察而治之，乃善也。苦兒啼哭，胸堂仰突，首反張嘉燈者，心經有熱，宜疏利，服三黃丸，或洗心散加燈心、麥門冬子，良。若兒啼哭，頭低身曲，眼閉肚緊者，臟腑留寒，宜與溫之，胃風湯加黃耆煎，效。若不識燈候，但以蟬蛻二七枚全者，去大腳，為末，加朱砂一字，蜜調吻，立效。</p>

<h3>議口生瘡</h3>
<p>議曰：嬰孩口古生瘡，乃心脾受熱，流沫煩啼，盛則不乳，妙藥良方，已載於後。然牙兒吻乳之初，口內生白，煩躁駭人者，莫知其由，將謂神祟使之。究竟其理，母於未誕之月，恣飲酣酗，貪食肥膩，熱毒胎氣所受。其兒脫胎之後，所襲熱毒之氣，悉皆散出於表，舌系於心，唇干於脾，所言心脾熱是也。欲以下其氣，未可利臟腑，但以吳茱萸末，米醋調敷腳心，移夜即愈。藥性雖熱，能引熱就下，其功至良。又有心肺熱者，瘡潰頤顙，初作數點胭脂，紅漸散，斑駁如丹，加之身體有熱，連翹飲主之。但禁火氣，餘無恙矣。</p>

<h3>議身體熱</h3>
<p>議曰：嬰孩變蒸作熱，按法應期（三十二日方初變，又三十二日乃作蒸），所受相參，有造化之令者，脈氣得之煩助也，其或大過不及，所發變不應脈，蒸不順時，榮衛逆之流行，臟腑失之安益，胎氣蘊伏，誕降傷和，兒與母俱勞其神，脈洪身總受其熱，善調理者，循其法度，調而理之，法以度之，七日之內，初生胃弱，不必加餌，少頃即愈，法以父母各呵兒囟七遍，父先咒之曰：爾為吾兒，順適其宜，我精我氣，受夭弗迷，陰陽綱紀，聖力扶持，薄有違令，隨呵愈之，急急如律令，母復呵咒之曰：爾為吾子，胎氣充汝，我血我脈，母艱母阻，萬神唱生，有福為主，稍失調度，隨呵而愈，急急如律令，次煎蔥白玄參湯，或五木湯，候溫浴立效。</p>

<h3>議血眼</h3>
<p>議曰：胎氣充足，兒將分降，胞囊已破，先行清水，其兒既誕，血即送下。緣由胞氣頗澀，轉側差緩，其血壓瘀眶皆，遂致濺滲。盛則灌注其睛，不見瞳人；輕則外胞赤腫，上下爛眩。若投涼藥，必寒臟腑。宜與服生熟地黃湯，流行氣血。或用杏仁二枚，細嚼，乳汁三五匙，膩粉少許，蒸熟，以絹片包蘸頻點，功效。重盛者，加黃連、朴消最良。</p>

<h3>議卵腫</h3>
<p>議曰：外名膀胱，內通腎臟，一處承受，三經所傳。其外腎冷熱，皆由心氣主之。心經有熱，熱入小腸，或赤或白，或淋或澀；心經有寒，寒流膀胱，或秘或疝，或腫或光。凡兒初生，兩個石子俱大光浮，名曰卵腫；一邊差大，名曰偏墜。蓋由驚氣所行，傳受於中，或母懷孕，驚憂之氣不散，胞胎之間，兒亦受之，所以生下便有卵腫。外宜黑散敷之，內用清心順之。黑散者，用黃連、黃芩、大黃、黃柏等分，燒留性為末，豬膽汁同蜜調敷之，立效。清心以犀角地黃膏與服。若有熱，大連翹飲。宿夜安定，晨朝慶之。</p>

<h3>議蛆瘡</h3>
<p>議曰：初生牙兒，至於長大，三焦四體，五臟九竅，皆持全功，不作瘡疾。晉元因良婦善護胞胎，不貪淫慾，從已受胎，至於降生，更不交侵男女。實幸其兒氣血相參，榮衛相順，臟腑自和，皮膚自滑，一見兒孩肌膚頭面，斯可知之矣。嗚呼！為人起根，成自一點不淨之物，處母胎中，漸敷形狀，臨產之時，真智相投，以隨業力而生。其有匹夫匹婦，何以知其至理，恣心合意？即於臨產之月，尚行房事，以亂其氣，以傷其脈，以耗其神，以敗其血。兒生之後，遍身痍潰，滿頭瘡瘍，精神不爽，啼哭煩躁，並是胎內所受，以穢觸淨，以邪於正。賢士明公，不言而唯，愚魯鄙野，豈可告哉！謹書請鑑，切幸聽之。</p>

<h3>議鼻塞</h3>
<p>議曰：凡兒稟賦胎氣，充實三關九竅，五臟六腑，內外呼吸，上下貫通，流行百脈，正順三焦者，皆由所協無命自然之氣也。凡產牙兒，三朝五日，六晨一臘，忽然鼻塞吻乳，不能開口呼吸者，多是乳母安睡之時，不知持上兒子鼻中出息，吹著兒囟，或以水浴洗，用水溫冷，不避風邪，所以致兒鼻塞。宜與通關膏敷之，消風散服之。或有驚悸作熱，杜薄荷散與服。通關膏。用白殭蠶、豬牙皂角、荊芥、香附子、川芎、細辛等分為末。</p>

<h3>議耳聤耳</h3>
<p>議曰：凡兒胎氣不充實，關竅不通利，蓋由稟賦不足，胞養有虧，臟傷腎經。腎為根本，水之一數也，外應耳孔，或云水入耳，或曰乳汁入耳，較之即非。兒生氣脈根壯，臟腑固實，雖水及乳入耳，必不此作，自是氣不充、脈不實使之然也。兒無補腎之方，但清心肺而已。初生之兒而有作，尤甚重也，卒難療理。用藥敷糝少愈，愈而復發，至於過周。與服黃耆、白茯苓、人參、白芍藥、川當歸、熟地黃、甘草等分，作湯劑以固其內。內若固實，不必摻傳，亦自瘥愈。摻方：用壁上蜘蛛一枚，瓦上火乾，坯子、白礬、腦子、麝香各少許，同研令勻，雞羽引入自愈。</p>

<h3>議便血</h3>
<p>議曰：兒生七日之內，大小便有血出者，此由胎氣熱盛之所致也。母食濃酒、細麵、炙爆、醃鹹等，流入心肺，兒在胎內受之，熱毒亦傳心肺。且女子之臟，其熱即入於心，故小便有之；男子之臟，其熱即入於肺，故大便有之。血出淡淡，有似坯水，盛則其血加鮮。凡遇有此，不可它藥，盡以生地黃根研取自然汁五七匙、一二匙，蜜半匙，和勻，溫溫與服，移時安愈。男皆效，不請醫。甘露飲宜莫與服，不必地黃、黃。一無恙，勿自忘，投丸散，徒咎矣。</p>

<h1>卷之五</h1>

<h2>議發癰</h2>
<p>議曰：母患血熱，兒在胎中受之，其血亦熱。母氣壅，兒在胎中受之，亦壅。幼氣壅聚在經絡臟腑之間，積滯不散，毒氣相交，內不通利，即從外消。外無能消，其血與氣壅在一處，多是生皆膂或脊督脈，腫大如拳，紅赤似血。其兒本體是一塊腐血，又加生塊壅毒，卒未能消。醫有何法？若述之士，全不勞苦，以針矢熨柄，取次攻之，十不得一處。敷用朴硝、天南星、川當歸、秋芙蓉葉、黃蜀葵花、乳香、木鱉、無名異。其壅已熟，即研白丁香少許，津唾調敷綠豆大，良久破潰，膿血送出。宜先與服托裏排膿消毒散熱藥，宜用生甘草、栝萎根、苦梗、桔梗、北枳櫝、川當歸、綿頭漏蘆、錦紋大黃等分為末，服一錢七，煎熱與服，以利為度，克效萬一。不可荒亂，意欲速消，以惡毒草藥致咎難保，苦哉！</p>

<h2>議撮口</h2>
<p>議曰：兒患諸風疾，傳入惡候，至於撮口，病致危急。凡有腑風撮口、胎風撮口、鎖肚撮口、吊腸撮口、卵疝撮口，應病悉入成風，風入心脾，俱能發作。夫患在撮口者，皆由結滯於中，於及腸胃，閉不得通，氣不能化，腹中滿脹，肚上清筋，撮口不乳，證狀不急，若不速與利不，無因救療。醫工若將撮口以為常，則候傳入，豈可投藥應患？用以真珠天魔利之，才通疾去，氣和兒活，用者敬信而已。</p>

<h2>議合殼</h2>
<p>議曰：胎受已滿，產降必全，盡一氣而包養，開元竅以通連，在乎十月之中，形骸已具，分免片時之內，穀道無穿，所緣兒在胎中，七孔九竅，若不通利，如何四體百骸，而能生長，期由熱壅所致，肺經之極，結於肚口，閉兒不通，降生之後，無腹滋潤乾燥之合，若投寒涼之藥，愈閉不通，若不溫平之藥，而又不通，即是兒氣不順腸，日月虛澀，穀道乾燥，閉合可畏，方不詳載，藥無驗速，至於此等受，須當以物透而通之，金釵為上，玉簪次之，蘇合香丸，內入孔中，丸凡刺三寸許，屎出為快也，曾見肚門肉合，小便通利，大便至死無能通者，愚鄙燒火筋刺之，事出不得已，既然肉合，決無奇方，試以金玉重力剌之，尤勝火筋，智者別有妙法，請著其後，以濟哀若，宜哉。又有初生胎熱，一二日不通者，與服洗心散，以通為度，四順飲加荊芥煎亦良。</p>

<h2>議閉小便</h2>
<p>議曰：小腸乃心之府也，水竇流行，隨其氣而利之。心氣若壅，小便不通；心氣若冷，小便多灑（音謂，灑，斟稱也）；心氣若寒，小便多旋；心氣若熱，小便艱澀；心氣積熱，小便白赤（先赤而後白者是）。所言閉小便者，依謂下結，腹肚脹緊，膨滿不通，其結熱盛，用力努旋，點滴而出，乃是閉不通利，於心疼痛，精神昏悸。速用生大地龍數條，蜜少許，研敷莖卵，仍燒蠶蛻紙灰留性，朱砂、腦子、麝香同研，煎麥門冬、燈心湯，調與胙，移時見效。</p>

<h2>議盤腸</h2>
<p>議曰：氣和乃升降安樂之由也，氣逆則壅結疾病之致也。幼幼有患盤腸，非暴所得，元由氣鬱積久不散，榮壅衛結，五臟六腑無一舒暢，其氣乘虛發作，袞流上下，築隘子腸胃之間，有聲汩𨌠連連而設，如貓吐惡，視之不忍，何以所堪差乎一身，四大無主。又有吊腸一症，寒氣壅結，內不伸舒，雖不引氣鼓動臟腑，胸堂與臍上上吊促，躬曲傴僂，就忍疼痛。二候既作，駭醫驚眾，然俱氣所患，受發不同。盤腸宜以勻氣散加沉香煎服之，無不愈。吊腸當用真珠丸加以沉香、乳香，煎釣滕湯送下，微通即瘥。然後更與調氣，順助根本，方佳勝也。</p>

<h2>議咳嗽</h2>
<p>議曰：咳嗽屬肺經所主，肺主氣，外屬皮毛腠理。凡諸牙兒嬰兒，日夜切與保持，母令風吹腦囟背腠，致使肺受寒邪，咳嗽不已，作熱多痰。若被風吹，即曰感受，次弟傳之，五臟虛處，即任所入。蓋初生兒氣微，易得傳變，良由頓動五臟，有傷和氣，五臟不和，三焦不順，故有傳變。是以我生於一，腎水也，腎主虛邪；生我在五，脾土也，脾主食，吐逆虛痰，四肢唇口；我生於三，肝木也，肝主風，癲癇眼目；剋我即二，心火也，心主驚，恐悸頑涎，血脈䑏臉。甚嗽傳受，或吐逆，或痰涎，或厥冷，或恐悸，至眼目兩睢黑紫，如被物傷，成重發癇。古人云：久嗽成癇。謂藥力不及，候已傳過，難可調理，預當告之。</p>

<h2>議哯乳</h2>
<p>議曰：產婦血敗者當下，榮者化乳。血下不盡，母致其疾；乳有不調，兒招其病。凡兒吻其乳，有不到於胸堂，氣滯積隘，或冷或餿，故以哯出。或問之：無恙否？曰：不宜也。久哯令兒神困力乏，氣怯肌羸，脾家若虛，逐作癇疾，及至成疾，脾風定矣。初生與周晬之兒，胃氣未備，穀食未登，全藉吻乳，怏如無恙，自然臟腑充，百脈順，肌體壯，神氣清。幼幼失乳，如人絕食。食為根本，資養性命，豈可絕乎？乳幼本只柔弱，血氣輕微，臟腑淺薄，根基危脆，豈可失乎？乳之若失，乖繆甚多；乳之若絕，性命難保。其或母用性不順則氣血亂，氣血亂則乳汁不和，乳汁不和令兒哯逆，宜其速與尞理。若作尋常，必致害生。小沉香煎及鹽豉丸兼與服之，當欽其驗。乳母宜服藿香正氣散加枳、朮至良。</p>

<h2>議自汗</h2>
<p>議曰：血不榮則神不備，氣不衛則脈不充，理其血用和其氣，安其神用調其脈，陰陽均平，氣血相參，百脈順流，三焦五臟，自然以益其體。丸。生至周晬之兒，不可自汗，自汗即亡陽，亡陽即氣怯，氣怯即脈虛，脈虛即神散，神散即驚風作，驚風已作，搐搦施為，醫者失之，究竟血不氣不衛，作疾不輕，為害必大，禍生起於微，人事何不察，庸夫反笑之曰：自汗豈能成風癇耶，愚曰：渠莫知其所以然者，非我交也，舉此一端，虛以類之，智者應有誚云，觀其瀾而探其海，知其未須明其本，通變之士，審乎得失，是非不離乎中，栽度疏謹而後已，察禮幼自汗，切勿止之，方用白朮一分，小麥一撮，水煮令乾，去麥為末，煎黃耆湯調與服，以愈為良，若以止汗，反為閉氣作熱煩躁，所謂氣血相參，則汗自止矣。</p>

<h2>議自利</h2>
<p>議曰：自汗不利者，由血不榮，虛於表也。自利無汗者，由氣不衛，虛於裏也。其或有自利亦自汗者，榮衛俱虛也。凡為其人，止籍血榮氣衛，扶育身體。血既不榮，又氣不衛，裏外不相參，上下不升降，關竅不開通，經絡不調適，榮衛不循環，臟腑不充求。且醫工何以良餌，則性命何以保持？究竟在始，醇全幸之。良由水穀不分自利，腸胸怯弱自利，臟腑不和自利，冷熱相制自利，陰陽不調自利，榮衛不順自利。前件自利，皆由氣虛得之。初生幼幼，忽爾自利者，與順榮衛，平調陰陽，制其冷熱，和其臟腑，分其水穀，生其胃氣，則內外充實，何泄利有作？宜以參苓白朮散，加以車前、瞿麥、薑、棗同煎，更量虛實加減。</p>

<h2>議哭無聲</h2>
<p>議曰：鐘鴻聲大，闊遠流長，形處胞胎之中，受氣充足，水火兼濟，心腎不虧，耳目兩竅相通，大小二腸相佐，所以發聲清響洪亮者，根固本壯，稟賦充實，而自然之理也。初生啼哭，發聲不出，呃呃而作，鬱鬱而為，其或短靸上下，氣不相乘。醫與果訣云：此由胎氣不足，何更投藥？假使成人，父母不悅。吁哉！根本不壯，何須藥餌？如果木之萎，水奚宜也？古意速用父母呼呵，及以蔥熨，令聲發越。雖然妙理，奈緣目無根本，產子育兒，當知其義理哉！</p>

<h2>議視無情</h2>
<p>議曰：天地清朗，萬物咸明，一氣盈通，三元克備。人之受胎應數，降生之後，不以貧富，其子皆致精神全，氣脈壯，視聽欣嬉，取與喜怒。周晬之間，於人事情懷意旨，憮叱以知，其逆須方，可謂兒孩性識之本也。其或周晬已過，不認名，不猥親，常常煞顏蹙容，喎臉含啼，東喚西向，南呼北面，其坐若木，其臥若尸，其行即蹶，其立用棳，筋骨氣脈，柔怯虛弱，食不辭飽，渴不知飲。若也長成慵蠢，必有如此胎氣，於數不足者，難保千日。良方妙劑，不謂此設，醫宜察之，學宜究之。</p>

<h2>議反身張目上竄</h2>
<p>議曰：此等症候，係驚風惡逆所發。初生三五日之間，便有舉目上竄，將身反張。然其非疾所作，情實駭人。凡醫工必作驚風療之，其候非也。萬一所由，兒在胎中，受母飲食熱毒之氣，蘊在胸堂，誕下三日之前，宜與黃連去熱，膩粉散毒。古人預計利害，其又與人參朱蜜湯，皆清心肺。積毒既化，兒腹無恙。若不如此所生，個個反張上竄，或有無作之者。鄙婦不因食啖熱毒之物，何可怪哉！或投驚風涼藥亦愈。但項明其所以用藥，智者裁之。萬一不由驚風所傳，幸與詳悉。</p>

<h2>議乳失時哺不節</h2>
<p>議曰：物萌失之灌溉，長必萎焦；兒誕違之乳哺，壯必怯弱。大凡生成之理，合乎中道者，以應運化之宜也。夫人失乎正禮者，乃違玄元之數也。凡兒在胎，則和氣養之，食不及乳，乳飽即不食，無致劑也。雖食無乳，禍害生焉。是故乳不可失時，食不可不節。乳失時，兒不病自衰；食失節，兒無疾自怯。乳者，壯其肌膚；食者，厚其腸胃。所謂乳哺二周三歲，則益其體。今人未用奪其乳，入月恣肥甘，豈不致疾傷害，熟為吁嗟！</p>

<h1>卷之六</h1>

<h2>小兒形症訣歌</h2>
<p>初生牙兒一塊血，也無形症也無脈。有驚當知是胎驚，有熱當知是胎熱。三朝綳袍未知安，七日一臘古來說。臍風撮口老娘乖，鎖肚清筋唇口撮。又有因邪客忤兒，不乳一宵神自脫。只將妙藥保安康，良久牙兒命得活。若知難救命須臾，嫌兒指甲兼唇黑。女子初生小便血，正是胎中受熱得。男兒兩目閉不開，或患丹瘡俱熱極。目閉丹瘡消毒良，血出須用生地黃。又有初生便發延，或將向火或加綿。神情不穩目斜視，強直反張深可憐。醫人若作驚風錯，但只涼心便安樂。須宜以許地黃多，更加些蜜神仙藥。牙兒未周不識驚，忌他聲響不安寧。目內半周名襁褓，驚熱須當順變蒸。三十二日為一變，六十四日為一蒸，一十八次變蒸足，方有脈自寸口生。變蒸木足在面部，左眼大陽陰右處，眉稜上下俱是木，準是中宮鎮星土。耳間屬腎常土虛，唇口兩笑脾所居，面中䑏臉屬心火，惟有人中是肺都。五行相生重卻輕，若還相剋著工夫，順候易理逆難療，智不通兮性莫粗。心主驚兮肺主氣，肺主風兮脾主味，胃家不得冷無虛，吐瀉下止驚風至。自古皆言心主驚，五臟六腑有驚名，心驚血散氣不復，流入虛堂百病生。肺驚吃水肺喘細，乾嘔無時脾胃因，腎候咬牙盰搐眼，夜啼腸恐臉紅心。五心熱是脾招悸，面青下白膽生驚，若在三焦終作渴，或入膀胱卵痛聲。</p>

<h2>脈指訣歌</h2>
<p>小兒食指辨三關，男左女右一般看，皆知初氣中風候，末是命門易亦難。要知虎口氣絞脈，倒指看形分五色，黃紅安樂五臟和，紅紫依稀有損益。紫青傷食氣虛煩，青黑之時症候逆，忽然紽黑在其間，好手醫人心膽寒。若也直上到風關，粒米短長分兩端，如槍衝射驚風至，分作枝又有數般。面反裏順外為逆，順逆交連病已難，又頭長短猶可救，如此醫人子細看。男兒兩歲尚為嬰，三歲四歲幼為名，五六次第年少長，七齠八齓漸論情。九歲為黃十稚子，有病開隔辨其因，十一癇疾號癲風，疳病還同勞病攻。痞癖定為沉積候，退他潮熱不相同，初看掌心中有熱，便知身體熱相從。肚熱腳冷傷積實，腳熱額熱是感風，額冷腳熱驚所得，瘡疹發來耳後紅。小兒有積宜與塌，傷寒三種解為宜。食瀉之時須有積，冷瀉須用與溫脾。水瀉且與澀臟腑，先將殢腸散與之。孩兒無事忽大叫，不是驚風是天吊。大叫氣促長聲粗，誤吃熱毒悶心竅。急須吐下卻和脾，若將驚藥真堪笑。痢疾努氣眉頭皺，不努不皺腸有風。冷熱不調分赤白，脫肚因毒熱相攻。十二種痢何為惡？禁口刮（一作滑）腸大不同。孩兒有病不可下，不熱自汗兼自瀉。神困囟陷四肢冷，乾嘔氣虛神怯怕。吐蟲面白毛焦穗，疳氣潮熱食不化。鼻塞咳嗽及虛痰，脈細腸鳴煩躁訝。若將有積與疏通，下了之時必生詫。孩兒實熱下無妨，面赤晴紅氣壯強。脈大弦洪肚上熱，胙腮喉痛尿如湯。屎硬腹脹脅肋滿，四肢浮腫夜啼長。通體生瘡肚隱痛，下之必愈世為良。</p>

<h2>指下脈訣歌</h2>
<p>二三歲時看虎口，更加中指按高骨。浮即風生數主驚，係是癩癇洪作熱。沉細腹痛緩沉虛，瀉痢多由此脈初。微遲有積兼蟲盛，遲牆元來胃脘迂。四歲脈不在指端，一指高骨按虛實。五六袞轉尋三部，平正關上為準則。七八稍移指少許，九十次第分位取。十一十二也同看，十四十五三指睹。小兒有病脈不多，先定浮沉遲數（音朔）數（音所）。沉遲為陰浮數陽，更看面部屬何方。青色驚風白虛瀉，赤生痰熱黑難當。黃是脾家疳積作，醫人審度療何方。</p>

<h2>三脈五脈宜說</h2>
<p>凡看小兒初生至半晬之間有病，即與看額前、眉上、髮際下，以名、中、食三指輕手滿曲按之，兒頭在左舉右手，在右舉左手，食指為上，名指為下。若三指俱熱，感受寒邪，鼻塞氣粗。三指俱冷，臟寒吐瀉。若食中熱，上熱下冷。若名、中指熱，夾驚之候。若食指熱，胸堂不寬。若名指熱，</p>

<h2>乳食不和</h2>
<p>議曰：半晬以上，方可看虎口。周晬以上，看虎口兼一指脈。若五百七十四日變蒸滿足，只與看一指脈，以食指袞轉，分取三部。凡言三部者，非寸關赤，係小兒三部。面看氣色為一部，虎口紋脈二部，寸口一指脈三部。五脈者，上按額前，下診大衝，并前三部，謂之五脈。凡兒有患，不屬惡候，即不可與診大衝之脈，其脈定生死之要會也。其症候危惡，故當診之。不可看，恐污人情，傷於不任用矣。</p>

<h2>三關指紋要訣</h2>
<figure>
<img data-orig-src="urn:270:03788.jpg" alt="圖">
</figure>
<p>未關命門　中關風候　初關氣候</p>
<figure>
<img data-orig-src="urn:270:03789.jpg" alt="圖">
</figure>
<p>流珠形。主鬲熱，三焦不和，氣不調順，飲食慾吐，或瀉作熱，或腸鳴自利，煩躁啼哭。</p>
<figure>
<img data-orig-src="urn:270:03790.jpg" alt="圖">
</figure>
<p>環珠形。主氣不和，脾胃虛弱，飲食傷滯，心腹膨滿，作熱夾食，虛煩頓悶。</p>
<figure>
<img data-orig-src="urn:270:03791.jpg" alt="圖">
</figure>
<p>長珠形。主夾積傷滯，腹肚疼痛，或有寒熱，脅肋膨緊，食不剋化，或蟲動不安。</p>
<figure>
<img data-orig-src="urn:270:03792.jpg" alt="圖">
</figure>
<p>來蛇形。主中脘不和，積氣攻刺，飲食不下，疳氣欲傳，臟腑不寧，膨滿乾噦。</p>
<figure>
<img data-orig-src="urn:270:03793.jpg" alt="圖">
</figure>
<p>去蛇卷形。主脾虛，冷積泄瀉，或吐或渴，煩躁，氣粗喘息，飲食不化，神困多睡。</p>
<figure>
<img data-orig-src="urn:270:03794.jpg" alt="圖">
</figure>
<p>弓反。裏形。脈內感受寒邪，頭目昏重，心神驚悸，沉沉點點，倦怠昏閒，四肢稍冷，咳嗽多痰（小便赤色）。</p>
<figure>
<img data-orig-src="urn:270:03795.jpg" alt="圖">
</figure>
<p>弓反。外形。主痰熱，心神不寧，睡臥不穩，作熱夾驚夾食，風癇症候。</p>
<figure>
<img data-orig-src="urn:270:03796.jpg" alt="圖">
</figure>
<p>槍形。主邪熱，痰盛生風，神情恍惚，睡下安穩，欲發搐搦，驚風傳授。</p>
<figure>
<img data-orig-src="urn:270:03797.jpg" alt="圖">
</figure>
<p>魚骨形。主驚風痰熱，症候已定，可以截風化痰，利驚退熱，不作諸惡候。若已傳過，必作它症。</p>
<figure>
<img data-orig-src="urn:270:03798.jpg" alt="圖">
</figure>
<p>水字形。主驚積食積，膈熱煩躁，心神迷悶，夜啼，三焦不順，痰延壅盛，涎潮口噤，潮加搐搦。</p>
<figure>
<img data-orig-src="urn:270:03799.jpg" alt="圖">
</figure>
<p>針形。主心肺受熱，熱極主風，驚悸煩悶，沉沉默默，不食神困，四肢垂嚲，及驚風暴發（痰延壅盛，搐搦等候）。</p>
<figure>
<img data-orig-src="urn:270:03800.jpg" alt="圖">
</figure>
<p>透關射指面。主驚風痰熱四症皆聚，停在胸膈不能散。其候所受雖重，症順則可療。</p>
<figure>
<img data-orig-src="urn:270:03801.jpg" alt="圖">
</figure>
<p>透關射甲。主驚風惡候受驚，傳入經絡，風熱發生，併入八候，虛痰不下，危急惡症，難可療治。</p>

<h2>指紋脈訣說</h2>
<p>（脈有黃、紅、青、紫、黑色）</p>
<p>議曰：黃色無形者，即安樂脈也。紅若無形，亦安寧脈。有前件形者，即病之脈，次第而變。初作一點子，氣關多紅脈，至於風關，其色方變。紫色病已傳過，青色已受之極，黑色其病危急，純黑分明，不可療治。三歲以上，病重危急，指甲口鼻，多作黑色。蓋兒脈絕神困，症候惡逆，雖有妙藥良方，亦用孩童有命。</p>

<h2>議指紋脈總要</h2>
<p>議曰：消息指紋脈訣，考詳諸家所載，參較至理，其說不同。所以錢氏、王氏二家，文意並不該載，但只言論其症候而已。然而症候且幼幼之疾，若不定其指端說病，是何用意？僕留心頗，又其紋脈述之不繁，猶參諸家之善，前後所斷龜鑑，較其正理，醇孚醇故，不勞再三乃訣定。如此者，挺然微妙，曲全一家直指。明智之士，試更考之，必有益諸形容，毋曰管見可也。</p>

<h2>詳解紋脈</h2>
<p>議曰：流珠只一點子紅色，環珠其形差火，長珠其形圓長，以上非謂圈子，總皆紅脈貫氣之如此。來蛇即是長珠，散一頭大一頭尖，去蛇亦如此，乃分其上下，故曰來去。角弓反張其裏外，向裏為順，向外為逆，槍形直上，魚骨分開，水字即三脈並發，針形即過關一二粒米許，射甲命脈射外，透指命脈曲里。一十三位悉有輕重，元由一氣，自微至著，從漸至總，輕重參詳。前云五色者，曰黃、紅、紫、青、黑，由其病盛，色能加變，又博加進，即越黃紅之色，紅盛作紫，又有紅紫之色，紫盛作青，又有紫青之色，青盛作黑，又有青黑之色，至於純黑之色者，不可得而療治之也。</p>

<h1>卷之七</h1>

<h2>小兒面部氣色（并序）</h2>
<p>夫天地有儀，故稟賦生成相貌。男女方質，猶陰陽假合形軀。五體之中，面目彰乎氣色。五臟之內，神魂布以災祥。形究真邪，潛一氣而分部位。脈推隱顯，洞諸經以測源流。克伏侵臨，剛柔升降。生我我生，即凶中獲吉。克他他克，應順裏招殃。肝家無氣，常宜腎水澄清（謂有精神氣全）。肺準多光，必懼臉䑏火焰（凡人有火色主災，何況小兒）。唇紅作渴，頰赤饒驚。眉頭靄靄，父母寧憂。額上昏昏，醫工少樂。凡理嬰孩，先看面部。定氣察色，最為要也。良由內有疾而形於外，是以本位與地位一體，和悅易安。氣色其神色交參，病傳難療。先求逆順，次較盈虧。交侵臨入，不逃乎源。危篤死生，必知乎本。輒述於上，諸更推詳。舉一隅以類眾隅，請三索而還再索。妙在智遠，良用心通。醫工善理，所謂多智多謨。藥效方書，宜其廣知廣見。深求決定，取捨專誠。良師致力，不昧乎方。學者行醫，須盡其理。至誠一一，難以述之。務學惟精，得中為妙。</p>

<h2>五臟五色本立</h2>
<p>心主紅　脾主黃　肺主白　肝主青　腎主黑</p>

<h2>五行相生</h2>
<p>金生水　水生木　木生火　火生土　土生金</p>

<h2>五行相剋</h2>
<p>金剋木　木剋土　土剋水　水剋火　火剋金</p>
<p>五行本生相侵</p>
<p>心氣侵黃　脾氣侵白　肺氣侵黑　腎氣侵青　肝氣侵紅</p>

<h2>五臟生本相臨</h2>
<p>心氣臨青　脾氣臨紅　肺氣臨黃　腎氣臨白　肝氣臨黑</p>

<h2>五臟勝伏相交</h2>
<p>白色交心　黑色交脾　青色交肺　紅色交腎　黃色交肝</p>

<h2>五臟受敵剋入</h2>
<p>黑色入心　青色入脾　紅色入肺　黃色入腎　白色入肝</p>

<h2>五臟畏愛</h2>
<p>肺本辛金（畏丁火，愛己土）　腎本癸水（畏己土，愛辛金）　肝本乙木（畏辛金，愛癸水）　心本丁火（畏癸水，愛乙木）　脾本己土（畏己木，愛丁火）</p>

<h2>五臟子母生成</h2>
<p>肺（脾是母，腎是子）　腎（肺是母，肝是子）　肝（腎是母，心是子）　心（肝是母，脾是子）</p>

<h2>分定五位所屬</h2>
<figure>
<img data-orig-src="urn:270:03802.jpg" alt="心臟部位圖">
</figure>
<p>顴面臉頰心火所屬。氣池之下，法令之傍，食倉之上，高骨取之一寸二分，皆屬心之部位。</p>
<figure>
<img data-orig-src="urn:270:03803.jpg" alt="脾臟部位圖">
</figure>
<p>承漿之上，人中之下，法令之內，食倉之傍，其合即唇，其開即口，合即屬脾，開即屬心，四方二寸四分撮動之所，皆脾之部位。</p>
<figure>
<img data-orig-src="urn:270:03804.jpg" alt="肺臟部位圖">
</figure>
<p>準頭至山根兩孔並中梁，皆頭直下，年上壽上，裏外通息，皆屬肺之部位。</p>
<figure>
<img data-orig-src="urn:270:03805.jpg" alt="腎臟部位圖">
</figure>
<p>耳花及輪廊，文一山林頤，髮際兼地名，四維如海岸，皆屬腎之部位。</p>
<figure>
<img data-orig-src="urn:270:03806.jpg" alt="肝臟部位圖">
</figure>
<p>風池與正眉，氣池泡眥頭，上下眨動處，太陽及太陰，連及山根所，皆屬肝之部位。</p>
<figure>
<img data-orig-src="urn:270:03807.jpg" alt="命門部位圖">
</figure>
<p>天中與天庭，司空及印堂，額角方廣處，有病定存亡。青黑驚風惡，體和滑澤光，不可陷兼損，純黑病難當。青則甚憂急，昏黯亦堪傷，此是命門地，醫人鮮較量。</p>

<h2>五臟伏敵喜傷</h2>
<p>肺所伏者心，所敵者肝，所喜者辣，所傷者焦苦。二變七蒸之臟：和則喜懼氣爽，神清魄強。疾主喘滿咳嗽，傷風作熱，虛痰壅盛。</p>
<p>腎所伏者脾，所敵者心，所喜者鹹，所傷者甘甜。五變十蒸之臟：和主行坐嬉戲笑語。疾主崩砂黑齒，截齒咬牙，停耳膿汁。</p>
<p>肝所伏者肺，所敵者脾，所喜者酸，所傷者辛辣。初變六蒸之臟：和則魂神壯，意智生。疾主風孿搐搦，眼目腫赤疼痛。</p>
<p>心所伏者腎，所敵者肺，所喜者苦，所傷者鹹滷。三變八蒸之臟：和則情性悅樂。疾主驚癇恐悸，虛躁啼叫，譫語狂煩，涎流口角。</p>
<p>脾所伏者肝，所敵者腎，所喜者甜，所傷者酸釅。四變九蒸之臟：和則消穀氣，美飲食。疾主嘔噦，疳積虛痢，痞癖潮熱，不思乳食。</p>

<h2>面部氣色總現</h2>
<p>五位總作流波泛淀，隔牎照藍。青色者，驚積不散，欲發風候，其神彩觀覷不穩，上上下下，症變風生（此首一字闕字）。五位總作閃爍焰射，丹爐映火。紅色者，痰積壅盛，驚悸增進，其神彩視物不定，恍恍惚惚，候變驚速。</p>
<p>五位總作混袞泥漿，衣傳土牆。黃色者，食積症傷，欲作疳候，或痞癖有之，其神看顧散漫，昏昏沉沉，其候寒熱潮發，飲食不掀，氣粗短滿，困倦喜睡，嘔噦有之，瀉痢有之。</p>
<p>五位總作濈濈浮虛，野露入穀。白色者，肺氣不利，大腸滑泄，水穀不分，欲作吐利，其眸疑濁，失其精神，朦朦朧朧，性情不有，光滑全無，五臟少實，百脈多虛，或吐利之後，有類調補。</p>
<p>五位總作漫漫黯黯，塵灰彌覆。黑色者，傳不順症，變即逆候，表裏有虧，臟腑欲絕，其血不榮，其氣不衛，榮衛失序，經絡流注，凝滯於脈，為疾危惡，其神昏冒，沉沉默默者，為人不久也。</p>

<h2>五位分部定位</h2>

<h3>肺部所主</h3>
<p>鼻孔名。並竈尖處名準頭。眼尾名大小眥。中央坎埳名山根。若鼻孔黑如煤，即肺經焦。或作黑燥如墨者，即肺家絕，其候難治。鼻中赤癢，疳盛蛔長。或瀉白涕，腦寒困寐。或流清涕，傷風喜睡。肺熱鼻塞，因息吹得有妨。吻乳關竅閉阻，感風寒邪熱亦如此。鼻下生瘡，潰爛即疳。鼻中常臭，積熱為咎。</p>

<h3>腎部所主</h3>
<p>耳穴之前，名曰耳花，耳⿰舟立名輪，輪裏名廊。輪廊焦黑，腎家虛熱。其黑如炭，腎絕死旦。耳門生瘡，衛積非常。耳中膿出，腎熱疳極。臭名聤耳，膿汁不止。瘡癢如烈，其候虛熱。忽聽不聰，心腎氣壅。常作關關，熱氣上攻。或如蟲刮，榮虛衛熱。耳輪如冰，麻豆相侵。耳輪紅熱，傷寒是則。熱極內痛，腫氣相攻。清心涼膈，關竅通塞。兒孩兩腎，常虛無病。若有攻擊，使令無益。</p>

<h3>肝部所主</h3>
<p>眼睛有穴，內藏其神，外究五輪。眶䀭屬脾，熱即生眵。兩眥屬心，熱痛如針。勾屬肺家，熱赤生砂。黃屬肝臟，昏瞀翳障。中心瞳人，腎熱不明。兒孩眼目，痛即便哭。良方對治，更與忌毒。或患丹瘡，從裏為殃。經效良藥，速療無妨。眼本屬肝，怕熱怯寒。令有治法，拯理何難。眼忽連眨，驚風交雜。忽然竄視，驚風已至。肝絕定睛，或翻無神。瞳去中陷，十無一生。</p>

<h3>脾部所主</h3>
<p>唇即口門，語言之尊。舌居其中，飲食之宗。齒牙咀嚼，咽喉相約。牙質既剛，角宮羽商。嬰孩未定，唇口見病。上即人中，下乃承漿。上下四方，皆屬脾鄉。口內屬心，心脾有熱，舌瘡唇裂。三焦蘊熱，唇紅如血。淶紅重渴，輕即流沫。鵝口慕口木舌色，可以布設，未兆之功，可以預防也。</p>

<h1>卷之八</h1>

<h2>病症疑難序</h2>
<p>觀夫泰岱奚曲，累工混沌名山；川源取次，湍流盤旋到海。天地有自然之理，至哲無造化之功。醫究一門，道通千聖。小方脈者，乃眾科出倫議論之要也。凡為調理，先裁可否之宜；學習篇章，首察艱難之屬。誰知活人作德，我敬醫道通仙。陰陽昭然，行功獲矣。於戲！得師奧旨，未契全真；識性悟機，方為至妙。前賢著護，後學推誠。已述淵源，須窮確實。持燈晦夜，咨嗟擿植索途；捧寶暉晨，勇躍良工與鑑漢。輒剖疑難事目，聊陳管見因由。一十八章，幸希同志。詎堪品藻，非涉狂誣。試詳淺陋之言，必展恢洪之臆。一隅再舉，三復方欽。</p>

<h2>病症疑難一十八篇</h2>

<h3>一·逆症似順</h3>
<p>議曰：順逆有別，陰陽不均，症候相加，色脈致亂。惟是驚風發作，按脈察症以較之，陽候症脈俱得其陽，陽者順也；陰候症候俱得其陰，陰者逆也。陽候有陰脈者，其症欲傳；陰候得陽脈者，其症反是也。謂如急驚風乃是陽癇，得脈浮數洪弦，陽中之陽；又有得脈沉緩，陽中有陰。慢驚風乃是陰癇，得脈沉細遲弱，陰中之陰；又有得脈浮大，陰中有陽。所言逆症似順，乃謂陰中有陽，助陽不醒，回陽不生，其候偏虧。雖則陰中有陽，其陽非真脈，使疑二不可攻，理詳而知之，察其可否而後已。</p>

<h3>二·陰症反陽</h3>
<p>議曰：小兒傷寒，惟察表裏而理之，不以陰陽症候究竟者，蓋無關前關後之脈，所謂純陽之孩。合而言之，此說陰候者，慢驚是也。凡兒吐瀉，疾作慢驚，其候無反症。良由急驚傳來，已成陰癇，藥用寒涼；症入慢脾，藥用燥熱。其候反陽者，反從陽也。其脈愈盛，其症愈逆，故云反也。陰陽俱壞，實謂難治。醫工不知其所以，但見其搐搦，肆意退熱截風，良久卻不引搐，但只合眼聚痰，冥冥如播。症候有如此，何藥理之？請試較之。</p>

<h3>三·陰盛強（上聲）陽</h3>
<p>議曰：慢驚風候，謂之陰盛。又其欲絕之時，虛痰上攻，咽喉引氣，呼吸粗大，其脈浮數，其症強湯得之。醫工將謂陽回以得其所，宜與下痰。藥用太迅，痰涎即時隨藥而下，兒命即時隨藥而化。眾言醫殺之。愚曰：非也。謂渠無智不識症，絕而用之，雖不下藥，亦死之矣。</p>

<h3>四·虛極生熱</h3>
<p>議曰：疳候有作斯症，初發即謂疳氣，次第傳至疳極，是謂虛極之候。陰陽二氣不勻，上下氣不升降，榮衛兩虛，臟腑滑泄，豈可攻療？善醫疳者，隨順藥餌以助之，淡薄飲食以扶之，榮衛漸得均勻，氣脈方得升降。既而陰陽二氣已得調和，臟腑已勻充實，肌膚已自肥壯。醫工已知疳傳在虛候，名作疳極，遂與補氣藥服之，稍多反生大熱。所謂虛極勿補，熱盛煩渴，疾作疳勞，名曰丁奚，皆由藥助虛極生熱而致之也。</p>

<h3>五·冷久必寒</h3>
<p>議曰：症積已作，症候所傳，自是孩童飲食不化，氣滯中脘，再食停氣，復傷前積。積之為病，皆致其冷，冷之既久，脾胃虛怯，虛怯既存，陰陽相勝，寒熱間發，痞癖有加，脈氣無定。醫工不理陰陽，令其均平，但作痎瘧治之，或投砒，或投粉（膩粉也），利下太速，疾不去根，為患反重，難施和劑。良由利動臟腑，虛必入腹，發作煩躁，腹肚脹緊，氣喘短促，難以調治療理。此等症候，究心毋忽，保全是幸。</p>

<h3>六·熱多作燥</h3>
<p>議曰：熱分內外，身藉陰陽，一氣受邪，三焦致熱。三焦者，本質無狀，隱伏得名。所通五臟六腑，相干血脈皮毛。溫平由實，燥熱由虛。靜則為之一名，動則分之三所。上焦喉管至臆，中焦至於中脘，下焦至於丹田。以大拇指展中指作一握，自咽喉坎處分作三停，則知上中下三焦所寓也。溫極即熱，熱盛即燥，燥盛即焦寄於其中矣。大人患此，猶尚不可，況小兒三焦隱伏，熱多作熱，寒涼之藥，所投不堪，畢竟從長何劑調理？若不早療，疾作無辜。</p>

<h3>七·理實致虛</h3>
<p>議曰：虛則作疾，實亦是病。按實理虛，遣病去疾。內知其冷熱，外審其症候。三實兩虛，神不安居。三虛兩實，人有得。夫虛之為病，其候則速；實之為病，其候則緩。實未致害，虛即作禍迅矣。肝心脾肺腎子母相生。肺肝脾腎心，五臟相剋。且如脾胃經虛，嘔噦不食。又心氣不足，驚悸有作。所療子母俱虛，小便閉澀，利之可乎？所以知其內者，母虛靠子實，子虛籍母榮。其又肺家有熱，宜瀉之否？大腸滑利，宜溫之可？醫工但究母虛，理其子實。若攻其子，則母亦虛。所謂母能令子實，子能令母虛。脾病瀉心，理實致虛矣。</p>

<h3>八·利表傷裏</h3>
<p>議曰：傷寒豆疹，皆論表裏，二義不同，所受反是。傷寒所傳，從表入裏，豆疹所發，自裏出表，作熱形症，與傷寒頗似。病家不究輕重，所受相尚，與服升麻葛根湯，或過劑飲餌，其表已解，其汗不止，汗出稍多，裏虛作渴，且熱乘熱悉化，疹豆自然回出。所緣逐其熱，利其表，遍出雖多，疹亦不成，豆亦不是，比此小赤，自其熱力有限，裏外不相續，榮衛不加助，即於中道而廢，漸作黑陷，非食毒感風之咎，自是助發大過，失其自然之理，至死莫知其由，是謂利表傷裏故也。使良方妙劑，難以助平，哀哉！</p>

<h3>九·退熱作渴</h3>
<p>議曰：小兒發熱一症，與大人同。熱在三焦方渴，肺驚下利虛煩方渴，上盛下虛方渴，水火不相濟方渴，伏暑蘊熱方渴，津液燥竭方渴。渴症本無，但有其熱。熱在乎表，攻動其裏，裏自無熱，受之以虛，表熱傳裏，反致其渴。表裏俱虛，引飲入脾，頭面手足受濕，虛浮作腫。醫工下之，從增其病，宜與扶表救裏，庶幾有命，方得獲幸。疾症於此，死者多矣。</p>

<h3>十·療驚發風</h3>
<p>議曰：有痰者，必有熱隨之；有驚者，必有風繼之。利其驚，其風豈有？散其熱，即痰不生。此醫家者流，所得其宜，調理症候，截風定搐，以明其要也。如此常見豪貴家，才見孩童有熱，不問原因，便投驚藥，日輒數粒，月既積多，雖則驚悸不作，忪恐無妨。其兒所服寒涼藥多，脾胃虛弱，不吐即瀉，遂成慢風，更與驚藥，愈加其疾。調理醫工，當究其後，免負其重，禍害生焉。</p>

<h3>十一·風痰隱久</h3>
<p>議曰：風者肝主之，肝稍不和，則風所由縱。痰者脾受之，脾若不壯，則痰所曰盛。痰之與風，驚之與熱，四症互馳，則流行於經結之由，傳變它疾。所有風痰相襲，久而不化，隱在肝脾。所由飲食冷熱相干，故不自散。雖則療理，愈而復作，以至長成。且風痰常常在牙頰之間，吐茹無盡，生發有因。其風痰致病，或作齁䶎，或作喘息，或硬牙關，或腫頤頰，臨於肺則咳嗽，於乎心則恍惚。善術醫士，未能速與下其痰，恐風猖狂。若逐其風，又疑痰作梗。須是風痰並化，炒藥奇方，以徐以漸，減瘥可也。食不禁戒，服藥無功。若療風痰深意，究竟不可致緩，久則害發於疾，當宜察之。</p>

<h3>十二·驚熱無時</h3>
<p>議曰：因驚而得熱，其熱常發，不繫乎心，而屬乎血。更加氣血榮衛，毋得循環。驚熱時常發作，或生疥癬，或發瘡痍。熱來神困心虛，熱去唇焦口苦。呻吟求飲，恍惚患飢。兒孩受此艱辛，藥餌如何救療？人參、羌活，總不相關；蝎尾、當歸，有些巴鼻。更尋炒餌，病不於心，說道難醫，請誠著意。</p>

<h3>十三·恐悸喘息</h3>
<p>議曰：驚悸心屬，喘息得同而言否？愚曰：非心旺之。若心所受，其疾不作喘發。是知肝臟魂，肺臟鼻。魂魄不安，恐悸傷乎肝肺。肺受其驚而受其喘，須求水飲。肝受其驚，發喘細細。若張口大喘者，肝肺倛不利。鎮心安神，調氣定喘，必未盡善。當於損益魂魄丸散，瀉心補肝，立見功效。所述疑難，更請探頤，毋蹶高安。</p>

<h3>十四·食噎咳逆</h3>
<p>議曰：兒孩睡息，魂魄恬游，擊響高聲，傷乎其神，睡中不穩，乃心不寧。乳幼飢渴，飲食宜細，掇物觸志，傷乎其氣，令肺作噎，乾脾發噫。其氣逆不升降，其志分不伸舒，陰陽差忒，胸襟鬱悶。良久取氣發聲，含飯面黑，啼哭聲焦，輕則咳逆致躁，盛則咽塞不通。所受之後，常作咳逆者，良由食噎觸擊，悶挫關竅，宣通臟腑即不宜，升降榮衛乃利益。若不早治，咳逆於腸，終身致疾而難療矣。</p>

<h3>十五·令子無辜</h3>
<p>議曰：夫人所藉者，陰陽而生；所宜者，氣血而長。血氣不順，則五臟以違其和；陰陽不均，則百脈以亂其體。流之於表裏相參，注之於經絡致急。凡周晬乳兒，等閑捉舉，又更齊齒，身體檢束，頭目搖動，此乃陰陽有虧，榮衛失正，疾名猢猻禁，十二種無辜疾之一也。丹情不識，見之喜笑，復作體態以教令，如其然也。久而不已，愈加其遍次，非風痰之所攻，無驚熱之致作。當為舒其氣，調其脈，均其陰陽，適其灑淅（止解下息裏寒有作）。休言乳幼無妨，曾見父母慟哭。</p>

<h3>十六·受氣不足</h3>
<p>議曰：三才降氣，數成方謂為人；萬象論功，道合始知得志。胞胎既備，心定神全；血脈未充，骨萎髓薄。筋力藉乎骨髓，智謀出乎心神。為人恍惚者斯可知，多志者應由是。傴僂者乃如然，侏儒者必若此。不及數之重者，候存五軟；大過受之深者，身負五硬。由其肺、心、脾、肝、腎，所屬者氣、血、脈、筋、骨，所受者體、舌、臂、項、膝。其或有疾，於症候不及議者，往往無辜。無辜形骸，必定受氣不足，謂如五硬。五軟只許聞名，稍有求醫，難著方藥。後進執謂堪與療理者，野老付之一笑。</p>

<h3>十七·飯多傷氣</h3>
<p>議曰：幼幼未降，形處胞胎，藉母氣血滋蔭，由如養素。已誕之後，繼時吻之以乳。乳者，化其氣血，敷養肌膚，百脈流和，三焦頤順，身肢漸舒，骨力漸壯，三周所芘，一生為幸。其或母因產得疾，血竭氣耗，乳不成汁，當召奶子看顧。貧乏之家，食不繼口，奚能謀比？其乳少，其食多，不益兒體。其有不產之婦，抱幼繼宗，終夜號啼，惟飼飯食，初傷其氣，次傷其形，久傷其神，重傷其命。萎羸聲鞁，躁哭皮皺，項軟足垂，唇焦骨露，但見眼有晴先，將久氣散神敗。凡人生子，究乳為上，獨以穀食扶持，十士未保一二。抑服丸散堪笑，強為勉之，急假乳蔭，庶傳為人，死中半活矣。</p>

<h3>十八·臍中受熱</h3>
<p>議曰：初生未及蔭乳，洗罷便用斷臍，帶留一握，綿裹三重。受氣根全者，其臍自深；成胎數關者，其臍自突。臍者，受質之根也，為人之本也，形體之基也，元命之壽也。迭月之前，一臘之後，其兒臍紅高腫，不作水濕，亦無風候，但將胸堂仰起，呃呃作聲，闔家無見。責之皂嫗，有傷臍帶，致之非也。召愚一觀察，知心氣受之，胎熱與利，丁火少項，不展胸堂，呃聲遂止。越宿視之，臍根後本。醫工與傳及洗，總施謬妄，故書於楮，果其宜哉！謾舉頤以誚之云耳。</p>

<h1>卷之九</h1>

<h2>議胎中受病諸症序</h2>
<p>原夫胚胎血氣，本自調順，既成胎孕，有失將護，致使胎氣不安，轉動不常，冒觸根本，初生幼幼，邪正相干，易得其病。今述一十五篇，概而舉之，欲使智者察其已身所受輕重，所發逆順，調治可否，鞠育持令產婦，以正其神，養其血，和其氣，使乳汁溫平，兒得調順，雖有疾作，而自安平過半矣。重則減之為輕，輕則去疾之容易，勿謂輕之為重，重則候變而作禍矣。於戲！萬物之中，所尊貴者惟人，肖天地生成之道，故難值其安靜，猶體頤淳和之脈，把純素渾樸之懷，合清湛之淵源，納運成之臟腑。嗟乎！受胎無益於形，有傷加之以藥，誠在出不得已而致之。若在胎內失調，初生宜其和益，若在初生失理，則於襁褓之間而療之，順平而愈。若也受之，變蒸數足，其所患猶未除散，遂成宿疾，終身之咎也。其兒所受胎氣，不足為患，非傷肢害體者，並可與整，使其平復，獲幸之甚，良工盡心，斯為妙矣。</p>

<h2>議胎中受病諸症一十五篇</h2>

<h3>一·鬼胎</h3>
<p>議曰：婦人產育，有患鬼胎者，庸鄙謂婦人納鬼之氣而受之，實非也。鬼胎者，乃父精不足，母氣衰羸，滋育涵沫之不及，護愛安存之失調，方及七八個月以降生，又有過及十個月而生者。初產氣血虛羸，降誕艱難。所言鬼者，即胎氣怯弱，榮衛不充，致子萎削語。猶如果子結實之時，有所蔭藉，不到灌溉，為物褊小，其形猥衰，無有可愛，如此之謂胎氣陰萎。常與丸散扶挾，乳哺勻調，氣血充蔭，腸胃固壯，即保其靜善。蓋由受氣不足，稟賦不全，忽爾橫殤，非可惜耶！</p>

<h3>二·魃病</h3>
<p>議曰：小兒有患魃病者，非五臟傳變，亦非六腑所主也。緣兒生後，方且周晬，母復有孕，血氣所蔭，分之兩端，是故胚胎漸傷，乳汁成毒，虛邪相攻，兒吻致疾。斂率其氣，鬱傷其神魂，令兒疳虛尫羸，枯瘁煩躁，朝昏嘔噦，日夜不可得療理。但速與斷其乳，溫平胃氣，和順血脈，自然而愈。其有萎怯致痰，乃成無辜症候，何足怪訝者耶！</p>

<h3>三·胎氣</h3>
<p>議曰：初生牙兒，三朝之後，滿月之前，所受諸症，作疾輕重不同者，蓋由胎氣稟賦，有壯有弱，其母飲食，恣全饑飽，起止無忌，坐臥不擇，令兒得疾，不寒即熱，不虛即怯，熱乃作壅，寒乃作泄，虛則作驚，怯則作結，寒則溫之，熱則涼之，虛則壯榮，怯則益衛，驚用安神，結用微利，審詳用之，不必過劑。</p>

<h3>四·胎病</h3>
<p>議曰：牙兒胎病，謂月數將滿，母失護愛，或勞動氣血相干，或坐臥饑飽相役，或飲食冷熱相制，或恐怖血脈相亂，胎氣有傷，兒形無補。或因動土與工，或由營葺房臥，或移安居，或更薦席，雖不犯凶神惡殺，終干礙子體兒身。有因如此得疾者，乃成終身之患。重則損根廢枝，輕則拳攣跛躃。若也胎病，由氣之致患者，乃尚可療。或傳成風為疾者，斷不可醫。初生幼幼，有被於邪者，即時和順調理。大凡生長嬰孩，有如長江行舟，一向不值風濤波浪，方為穩當。何向胎氣不固，或生下作疾，所謂萌芽既傷，將來曷能榮茂矣。</p>

<h3>五·胎病作熱</h3>
<p>議曰：兒在胎中，母多驚悸，或因食熱毒之物，降生之後，兒多虛痰，氣急短滿，眼目眵淚，神困呵欠，不發神舒，呃呃作聲，大小便不利，或通利即有血水，盛則手常拳緊，腳常搐縮，眼常斜視，身常掣跳，皆由胎中受熱。宜速與服大連翹飲子，解散諸熱，次與服消風散，數服無恙。</p>

<h3>六·胎氣蘊熱</h3>
<p>議曰：兒在胎中，母多恙怒，鬱悶之情不散。又因胎氣燥濕，兒作艱難，母生驚悸，是致乳汁不和，兒吻成毒，故能作熱。令兒食即嘔吐，眼不定席，神不安穩，聞響即掣。苦不解蘊，毒熱和乾，久作無辜，成疾害生。先宜順氣，次服四順。若不安愈，蔥根必效。</p>

<h3>七·胎病風熱</h3>
<p>議曰：兒在胎中，母常喜食動風之物，熱毒流傳，致兒受之。隱在經絡，則手足拳攣；注入血脈，則肌體枯槁。其兒眼常喜羸，血不蔭心，神不守含，怯人怐物，視作定目。苦不早療，恍恍惚惚，形體雖長，情性垂拙。為人多荒，朝記久忘，雖久受病，不無生。蓋父母但知惜昔嬌姿，安養其無用之兒如此者。凡胎風服藥，至用貴細，若以常方，難言功效。</p>

<h3>八·胎病驚熱</h3>
<p>議曰：兒在胎中，母因驚悸，驚氣入胎，兒當受之。降生之後，其兒精神不爽，顏色虛白，初則溫溫有熱，其後頰赤饒驚，物動即恐，聲響即悸，若不綳抱安床，取次難為調適。既有胎驚，將傳胎風之候，產母謹謹忌食一切熱毒之物，若作尋常，畢竟難極。蓋是血脈柔弱，臟腑虛怯，不堪重劑，何可攻擊？是使智省怯懼有之苦也。輕受熱已自散，即於項上生癤，其大如拳，名曰驚氣，須當破之，而後合之。勿傳毒藥，恐壞肌傷體，不惟傷壞，深恐有害，及為無益，禍莫大焉。</p>

<h3>九·胎病。風痰</h3>
<p>議曰：兒在胎中，母喜食熱毒之物，熱即生風，脾肺不利，遂有風痰。雖不能損肢傷體，其痰與風相襲，痰多風不散，熱盛痰復生。且風與痰皆能令兒作熱，那堪更加暖被紅爐，母炙炙爆，醃藏動風之物，即時害生。藥非不驗，乳汁之咎也。如兒或患風痰，不必下截風化痰藥，但清心肺，涼膈，順利三焦，則自然安愈。亦忽可投大涼，恐寒臟腑。所宜者，以消風散吞下白丸子，至良。令小作丸。</p>

<h3>十·胎病結熱</h3>
<p>議曰：兒在胎中，母失調理，恣縱飲食，不加將護，蘊熱頗久，及至降生，熱氣隱蔽，傳入於裏，遂作閉結。其結由熱極得之，大便不通利，衝心腹脹，臍突撮口，努氣停鬱，急以三黃丸或四順七寶，以通為度，不必過劑，切不可下積丸子藥，不惟無益，恐反為害。</p>

<h3>十一·胎病寒邪</h3>
<p>議曰：兒在胎中，母因感受寒邪，熱氣煩蒸，傳入胎臟，兒當受之。及至降生，令兒關竅不通，精神昏濁，作熱加蒸，啼聲不響，號叫駭人。未知之者，將謂驚風，妄動臟腑，或妄鎮心。良由所受寒邪之氣，初只在表，久則傳裏，所謂邪氣以亂其真，故血脈皮毛皆不得其便，腠理所拘，邪不得解，變蒸有違，氣血致傷，煩躁益增，無能自暢。但與小柴胡湯，服之稍輕，次以人參羌活散。然胎中所受，未分表裏，既生蔭庇，當議和解，為之良也。</p>

<h3>十二·胎病。榮熱</h3>
<p>議曰：兒在胎中，母於食物充，喜啖薑瓜。古人有曰：修竈缺唇，食薑餘指。蓋薑性至熱，又是醃藏，攻及血脈，傳入經絡。輕則令兒偏體生蛆瘡、延熱、毒瘡、丹瘡之類，經年發作，或於頭額生核；重則發大癰癤，潰即爛壞皮膚，十死一生，何堪忍見。初生幼幼，毒氣加盛，肌內柔弱，参朮托裏，枸柏扶肌（抱即地骨皮是，柏即黃柏），常與清心，平調血脈。母慎其口，父抱令餒，醫工順理，與扶其危。</p>

<h3>十三·胎病衛熱</h3>
<p>議曰：兒在胎中，母傷和氣，饑飽勞役，神疲力倦多矣。其有不勞役者，即有憂愁思慮，役乎其中，動之真氣，攻之虛邪，於亂神魄，流入胎臟，兒乃受之。既生之後，兒常昏困，腹急氣粗，重則喘急，睡思不穩，狂啼煩哭，肌肉不滋，亦生瘡痍，熱發早晚，精神少具。良工正醫，平調臟腑，臟腑既正，熱目散止。</p>

<h3>十四·胎病臟寒</h3>
<p>議曰：兒在胎時，將順其月，母喜食諸生冷物過度，冷盛既寒，腸鳴泄利，時時有作。降人之後，其兒肚上青脈膨脹，虛緊之者，乃是虛氣入腹，呃呃作聲，日夜不禁。雖則漸長，終是臟腑陰陽二氣受不勻調。若不溫平分氣，長成痞結。陽結易治，冷結難醫。仍宜抑母服藥，庶得乳溫，令子調和，不至延病成害，為之歎也。</p>

<h3>十五·胎病潮熱</h3>
<p>議曰：兒在胎中，母曾發作子瘧，或是因患瘴氣，母或飲酒無厭，或是冒風傷暑，熱入經絡，有傷榮衛，母雖分免，以脫其難。兒襲其氣，陰陽不解，初生嫩弱，血氣不和，作熱潮來，先寒關緊，身體作顫。庸工未諳其理，即以艾炷灸之，經絡未全，用之枉究。醫士但與調中，均其陰陽二氣。若是肚緊，宜以全條蛇蛻末，醋炒令熱，手帕盛，繫肚臍上，即漸安樂。</p>

<h1>卷之十</h1>

<h2>十種症候發端</h2>

<h3>治法略序</h3>
<p>切聞天地之大，惟人之性蓋矣；物象之眾，惟人之志鑑矣。是故人為一物而靈於物，氣受一元而妙於元，惟智者為能明之。然其天地不陷乎人物之根，於是人物不迯乎天地之數。無情者悉由造化而生，有情者皆自交接而養。倘諳先王之道，君君、臣臣、父父、子子，成人人為後，達乎上古，參同天性，順合聖意。小人不知其所以，愚情反是，曷足與語哉！嗟乎！既為醫工，調理幼幼，誠為不易，須當裁度。幼幼稟賦形骸，有壯羸怯弱，於脈較之；涵蓄情性，有寬緩暴急，於神察之。輕清重濁，以氣定之；冷熱虛實，以色推之。若也形體不壯，神全則未為咎；色脈不充，氣固則無作恙。氣與神而有虧，藉乎丸散；脈共色以無補，宜乎療醫。氣壯即脈順，脈順即神全，神全即色正，色正即五臟安和，百脈調適矣。色脈若不正定，即與固其真氣，真氣若不和，則神不悅。神不悅，則形體何安。觀其脈，則知其氣。氣若不順，則形萎羸。察其氣，則知其神。神若不清，則氣濁亂。神者，五臟之主也。氣者，一身之權也。色者，虛實之表也。脈者，溥變之令也。脈之流行，不可不察。色之變易，不可不究。神之散漫，不可不療。氣之盛衰，不可不理。嬰孩五臟受虛，其面白，其氣怯，其神潰，其脈亂，其體尫羸。五臟受熱，其唇紅，其氣促，其神昏，其脈數，其體枯槁。五臟受實，其臉赤，其氣壅，其神劣，其脈浮，其體煩躁。五臟受冷，其準黃，其氣泄，其神困，其脈沉，其體嗜臥。所由冷熱虛實，傳受驚疳積痢。凡病按其標，則知其本。省其絕，則起其危。後進攻醫，但按圖說，執滯湯劑，不務實效。今著是書，乃述源流，不特贅贅，褊求一隅以別之。盡性考究，以羨補不足，益有餘故也。即非調弦膠柱，緣木求魚之謂歟。熟研其議，至理自明。輒搜難解之意，載留斯怢。好術之士，足知可法，以備闊略。後世有稱簡要，得無隱藏，當與智者鑑議，庶彰不朽云耳。</p>

<h4>一·急驚風候。</h4>
<p>醫云：陽癇也，手足搐搦，涎潮大熱。醫家下之，其所用藥，往往利以經粉，或水銀、巴豆，皆有毒等。既已蘇省之後，精神由尚昏沉，未快乳食者，或有餘熱，其候欲得安痊和平，只可用平穩藥調胃氣，不可直便與服燥熱藥。若與服之，其候復作，何可怪耶？</p>
<p>議曰：小見驚風之後，胃氣多虛，不食，沉沉默默，或瀉尚不止，只可助胃生氣，須以截風藥移在（平胃散）或（觀音散）中，謂用全蝎、天麻、殭蠶、白附、防風、羌活之類，生薑、棗子同煎，自然胃壯瀉止，諸風不作。雖則驚熱及搐搦皆去，其精神未爽，不可便謂無事。若用補藥助虛，乾薑、豆蔻、硫黃、附子之類，則熱復來，其候又發，非病不除。醫者妄謬，病家無見，亦不可不告。凡治急驚之候，正謂醫療，豈可據云調理之說？用藥乃在一時之久，若也寬緩，症候轉加深重。醫者既知當下，即可量其輕重，如病五六分，只下三四分許，隨通且利，熱去痰消，則病與症次第徐徐而減瘥。若不揣度，一概並蕩下之，大過傷害臟腑，疾傳陰症，乃作慢驚風候，豈可臨時生胃回陽？誠為枉究。既是醫工，莫不知之矣。</p>

<h4>二·慢驚風候。</h4>
<p>醫云：陰癇也。良由急驚用寒涼之藥太過，轉動深重，乃傳作慢驚。或因吐利不止而成慢驚，或因澡浴感風不解而作慢驚，或因風食二癇不治而變成慢驚，或因咳嗽下痰轉虛而成慢驚。因由甚眾，概而舉之，病家怕驚不怕瀉，良醫怕瀉不怕驚。其瀉不止，則驚風愈盛。若與治驚，更用寒涼之藥，且瀉轉多，病加進重矣。</p>
<p>議曰：小兒脾胃虛怯，方作吐瀉。其症有五：有熱吐、冷吐、虛吐、痰吐、食吐。所言熱吐者，謂母飲酒吃肥，炙爆醃藏，或冒風傷暑致熱，兒吻乳入胃，遂成熱吐。冷吐者，謂兒胃冷，加以宿冷之物與食即吐。虛吐者，其兒肌弱神困，疳積未消，胃堂久虛即吐。痰吐者，其兒胃氣本虛，復感寒邪，生痰作熱，留滯胸膈故吐。食吐者，其兒胃弱，飲食不節，強食傷脾，作熱袖困，吐後即逆。病家但知其吐，不明其所以吐，且吐兼瀉共作，名曰霍亂。其吐候又推輕重有五：初則乳自流出，謂之哯；哯之不已，即謂之吐；吐之不也，即作嘔；嘔之不已，即傳逆；逆之不已，即作噦（於月反）。自嘔逆噦，皆有出聲動氣。嘔者，口開而作；逆者，心胸上下氣逆鬱築；噦者，無物可出，即膈虛胃寒引氣，噦噦作聲。此等候惡，須更症變，即慢脾風。熱吐者，先去風痰；冷吐、虛吐，與生胃氣；痰吐，下卻其痰，次與（正氣）；食吐，宜與（塌氣）。豈可一概理之？吐瀉不止，脾虛風生，眼開慢驚，眼合慢脾。治之不當，更下驚藥，死不旋踵，豈可得而救療？兒分長幼，病察虛實。有吐瀉三五日發風者，有一日半日而發者。大抵女孩以吐為急，男以瀉為速。若氣虛暴瀉，暴吐才作便得之。惟有疳瀉，不成風候，水則患無辜症，終於虛乏矣。但滯腸止瀉為良，吐即生胃為正，截風之藥加而用之。凡驚藥及寒涼之藥，切不可用，亦不可用大熱藥。其候乃屬陰症，醫者裁之，勿佞為幸。</p>

<h4>三·小兒熱症。</h4>
<p>古分十種為總例，有驚熱、疳熱、風熱、潮熱、傷寒熱、瘧熱、積熱、丹熱、瘡疹熱、餘毒熱。</p>
<p>議曰：十種熱症，病各不同，已有觸類而作。潮熱者，即痞癖熱也，類近積熱症，先腹肚熱，腳冷者是。傷寒熱與瘡疹熱亦相類，且傷寒有三種，皆從表發入裏，且瘡疹隨五臟所受，從裏出表，故不同根。風熱與驚熱亦相近，疳熱與餘毒熱類。疳有五症，瘧有五候，皆由脾家陰陽不順，若驚熱盛，即風熱作。丹毒熱有數種，皆五臟熱毒所作，自上發下曰毒，自下發上曰丹，總名之曰丹毒，各隨輕重。人有一種，名曰龍帶，橫腰過肚上，或至胸前，相交者重，有如火燔，其候亦同丹。治病後餘毒熱，諸症皆有之，須適輕重，類諸症而調解，不可越前病用藥。如傷寒後有餘毒熱，即於傷寒調理不及而解，餘皆效之。大抵驚熱涼之，風熱化之，疳熱補之，潮熱散之，傷寒熱解之，瘧熱分之，積熱利之，丹熱消之，瘡疹熱順表之，諸症餘熱皆和之。此理雖則大概如是言，畢竟用之有理，乃為醫士善學。設有不遵其理者，斯可謂之管見之</p>

<h4>四·小兒積症。</h4>
<p>王氏有可治不可治，其說已載於家。寶議曰：古人有言不盡意者，非失言也。妙用奇功，不可得而著乎紙筆之聞。且學者初機，未可便得純粹，廣見多聞，性識開通，心智自然運出，然後可謂之醫者意也。此科最為難事，積症最為要緊。今病家將作尋常醫者，不至急切治之。若等閑病之有緩速，及至傳變，方覺困重。久務良工，信乎野老不虛云耳。東漢王氏不言疳與瀉及痢，即述症而已。所症治未病之病。凡小兒有自幼及長，不患驚風癇痙癲痙者有之矣，未聞無患積症者。謂五臟之所積名曰積，六腑之所聚名曰聚。且小兒只理五臟受病，故不有六聚候者何？腑屬陽，雖有疾不治而自愈。且胃屬腑，氣生以漸，乃脾主食，有疾當治之，臟屬陰，治之充難調治，四季有積，欲下之理，皆可用藥，但與究其虛實，然後利之，既有積氣，不能全實，量其輕重，故古人有挨積磨積消積化積，無下積之說，是知積之一症，不可直便獨下，若積虛極，先和脾調胃，令其充實，次與推下，若積症二三並作之者，可先下而急與調胃藥服之，稍用倒置，不免為它咎，乃計利害，所議積症作疾，無可與之安和，一味當下，斯為良法，有積不可安養，久則為它病矣，惟痞癖症，先宜定去寒熱，寒熱已去，方可挨下，以通為度，下之大過，反生重熱，雖有重熱，即不宜用涼藥，乃於調理胃氣藥與治之，充宜深究，無令得矣。</p>

<h1>卷之十一</h1>

<h2>小兒傷寒正受夾驚夾食</h2>
<p>議曰：正受傷寒，所由感受邪，冒冷脫著，傷於腠理，輕即傷風，重即壯熱頭痛，鼻塞流涕，斯乃正傷寒候。又有傷風、傷著、傷冷、傷濕，皆能作熱困乏，但不咳嗽。又有夾驚，因驚之時而又傷寒，故云夾驚傷寒。又有因食之時而感受寒邪，故曰夾食。大抵傷寒或有他症似積之類，切不可妄下，若下之太早，表裏俱虛，雖以調理，謂之壞症。大人壞症，由尚可藥，小兒壞症，救療無門，哀哉！凡傷寒有驚候，亦不可下驚藥餌，是夾驚症亦不可用驚藥。幼幼傷寒，只可表解，雖曰用表，不可令兒汗出，如王氏杜薄荷散、和劑方人參羌活散之類。名熱在裏，譫語鄭聲，於症當下者，只用散末藥，七寶洗心散、四順飲之類，不可用以丸子，或以取積藥下之，其熱不去，反成無辜。夾食者，於理用下，宜紫霜。凡下之，量其虛實而用，須究門先傷寒後夾食，或先夾食後傷寒。然傷寒夾食，乃在於食時之間，惟母覺知其先後，多是不覺。若知其理，以後受者而先調理，既不明其先後，即可表解以候裏症，有者方可與下，尤為善也。且下與表，二理不可並發，有乎得失。旦如家寶有云：三日前在表，三日後在裏，斯乃大概。約而言之，恐後人傳之不當，及為其害。凡傷寒在表即解，在裏即下，不可以日限為拘。其或有在表裏之間，亦宜和解。又不愈，小柴胡湯治之。又不愈，候傳裏下為良。（大者譫語，小即煩啼。）切不可意急取愈，宜在用心明究表裏。若也審察妄恣，用藥不當，吁哉！</p>

<h2>小兒有患驚、風、痰、熱四症，如何用藥？</h2>
<p>議曰：小兒有熱，熱盛生痰，痰盛生驚，驚盛作風，風盛發搐，又盛牙關緊急，又盛反張上竄。痰涎擁，牙關緊，風熱極，閉經絡，即作搐搦，涎壅胃口，悶亂不省，才入中脘，手足攣，是諸關竅不通，百脈凝滯。有退熱而愈者，有治驚而愈者，有截風而愈者，有化痰通關而愈者，皆是依症用藥，不可不究竟其所以受病。凡病在熱，不可妄治痰；病在驚，不可妄治風；病在痰，不可便治驚；病在風，不可便治搐。凡治小兒，病在驚，驚由痰熱得，只可退熱化痰，其驚自止；病在風，風由驚作，只可利驚化痰，其風自散；病在痰涎，急須退熱化痰，若也有搐，須用截風散驚，此乃謂醫工至妙之道。若以意急，雖治驚，痰不化，熱亦不退，驚如何自止？化其痰，熱若不退，風亦不散，痰如何去？是知不治之治，所以治之之謂歟！學者深可留心操志，於此一端，究竟無至得失，乃謂之醇全信道而已矣。</p>

<h2>小兒（泄瀉）除疳瀉為虛熱瀉，餘皆臟腑虛寒弱得之</h2>
<p>議曰：小兒臟寒腑冷，大腸不禁，總謂之瀉。分別輕重，究竟緩速，有溏、有泄、有滑、有利、有洞，五者不同，豈可一概而理之。溏者，糟粕不聚，由其尚濃，似瀉非瀉。泄者，無時而作，或出不知。利者，直射濺溜，氣從中脫。滑者，穀食直過，腸胃不化。洞者，頓然下之，如桶散潰，餘更不留。即知其兒臟寒腑冷，瀉之作疾，其來緩速輕重可知。凡兒瀉糞出青色者，蓋脾受肝經所制，肝屬乙木，能剋己土所勝之功，故現本質，由其臟之虛寒，非謂驚也。又瀉初黃，良久變青色，乃臟寒之微。又瀉藥物直過，尤為寒滑。凡虛滑三五次即困乏，若不急與溫其臟，調其胃，平順三焦，和正榮衛，不爾即慢驚。症候傳變如此之急，欲以止瀉藥次第理之，往往不及，惟務溫其臟腑，臟腑既溫，寒何能留於腸胃之間。或以熱藥頓止，則熱反為它疾，須先投殢腸藥，然後生胃正氣與服，切不可意急過劑，投之熱藥。稍或臟腑至虛寒，孩童困之，四肢厥冷者，是謂逆症，當用黑附子、白朮、乾薑，即量輕重而用。凡投熱藥，瀉止即痢作無疑。理瀉良方已著在後，請意度之為得，即妙矣。</p>

<h2>小兒（痢疾）醫云：五疳八痢</h2>
<p><u>究其理，種數多端，輕重不一，豈可定言。</u></p>
<p>議曰：痢者，利也。痢之為疾，無積不成，及至積化成痢，且脾胃亦虛，即不可更下。善痢者，生其胃，溫其脾，厚其腸，和其氣，無不愈也。若成痢疾，故不可下，下之反虛作渴，浮腫痞滿，脹急不食。亦未可便補，補則傷熱，能令脫肚不收。先與禁卻一切毒食之物，頻與生胃調氣。或赤或白，即是冷熱不調，或受暑致濕，即與分陰陽氣，利水穀道。若裏急，即與厚腸胃。腹肚痛，即與和順氣，溫臟腑。或純白者，乃積冷毒加之，即與挨去其毒，卻與溫其脾胃，其痢自止。凡痢疾能飲食，可以治之，妙藥調理，無不瘥愈。稍夫胃氣不能飲食，疾名禁口，有不食至死。又有毒氣侵胃口，亦不飲食。或患痢疾，因食毒物不見，腸頭鮮血頻滴，肛門寬大，深黑可畏，腹肚㽲痛，裏急後重，名曰刮腸，日夜頻並，飲食直過者，名曰滑腸，此三種痢疾，最為惡候，乃是二十二種中，皆能傳受而作此候，凡言小兒美飲食者，飲謂飲乳，食謂食飯，若病中能飲水漿，喜食果子魚肉之類者，亦助其虛，不能令臟腑充實，須是白棕子爛煮飯可矣，若以糍粿䊦黏膩，不堪脾胃之物，猶其增困，幼者吻乳，剋化漸安，五臟平和，六腑調貼，然後陰陽自均，氣脈自壯，丸散陽劑，不必抑之，或有餘毒，宜以順調緩助，不可攻擊，又有時氣作痢，熏習相染而成，而由天氣睛雨不常，陰濕之氣，冷熱相干，腸胃糟粕不聚，遂成其疾，腹肚㽲痛，裏急後重，他藥莫治者，宜與服。木香黃連地榆川當歸白芍藥治豆蔻為末，蒸烏梅肉丸，棗子湯下三五十丸，如麻子大。加減神</p>

<h2>小兒疳疾，其症數端，其候不同</h2>
<p><u>發作不常，治療不一，方論不等，該載不盡，輕重斟酌，隨宜設方。</u></p>
<p><u>加減審量，從長調治，必有可理者，良工順症而已。</u></p>
<p>議曰：疳者，甘也。疳因脾家有積，虛而所致。其積不下，後食黏膩甘甜、生冷炙爆之物，故得名曰疳。初作為疾，名曰疳氣。皆由飲食不節，生冷相投，積傷久滯不化而得之。久則疳氣傳於五臟，傳是名疳極候，又反傳名疳逆候。雖食不生肌肉，作渴煩躁，名疳虛候。時發潮熱，盜汗常有，名疳勞候。腹大喉細，手足無肉者，名丁奚候。自丁奚翻食吐蟲，虛熱來去，名曰哺露。十歲以下名曰疳，十歲以上名曰勞。治勞之理，悉不用疳藥，蓋疾作傳足非常。治疳之法，理其氣虛，其血弱，調令脈壯，消其蟲子，散去疳熱，和順三焦，詳而後已。無用急力攻治，亦無勉強投柏，只可循候而設，不得過劑。若冷藥易動臟腑，燥藥易損三焦，審察端的，丸散隨其輕重，故無得失之歎矣。</p>

<h2>小兒諸症悉皆著載方</h2>
<p><u>藥療理法度。惟有咳嗽一症，究莫能盡。月內牙兒難醫，百日嬰孩亦難。</u></p>
<p><u>調理。前人既有此言，豈不盡心究竟。若也輕易，有乎得失，學者當知之。</u></p>
<p>議曰：所言牙兒及嬰兒咳嗽難治之者，蓋為初生血氣微弱，五臟未充，肌體未固，應變蒸未周之兒，所感寒邪，攻及腠理，表裏相干，邪正相勝，陰陽未和，不可強生攻治。妄吐妄下，妄汗妄補，皆令兒疾轉盛，不惟無益，甚有傷害。幼幼咳嗽，乳母之過，丸散狼虎，醫人之罪。豈特牙兒及嬰兒難為調理，隱小兒有患咳嗽，未敢輕許，一二服藥，便見安樂。雖傷寒傷風，症候已歸平復，且咳嗽尚作，大抵究竟。小兒咳嗽，先有有無熱與痰，有熱在表，無熱傳過，或是未傳（近則未傳，遠則傳過），痰桐熱盛，痰壅即吐，宜服補肺散。人參茯苓麻黃白朮杏仁甘草阿膠蚵子地骨皮桑白皮桔梗有痰加半夏，風熱加防風、天麻，服之自然痰化熱散，咳嗽漸愈。未可直用粗澀藥，白礬、南星、石膏、雄、朱、砒、粉之類，宜先滋潤脾肺，次用王氏（金華散）少少時時與服，或以白丸子如雄、朱、腦子，隨大小作丸。凡兒患嗽，須究表裏，未可一向攻嗽。若用金石藥直入胃脘，乃成提脾風候，手足勾曲，又何所益？巴豆、輕粉、砒霜藥下之，腸胃不禁，須更成風，亦何所宜？只用溫平與表，順助其氣，滋潤肺經，和順三焦，其痰漸化，其熱自退，不必攻擊。所謂理嗽，宜且補氣化痰，益肺生胃，胃開氣壯，即嗽漸減，胃正即痰不生，肺滋即嗽不有。在乳毋當忌食，稍長父用安存，避風回滋，忌毒慎冷。然小兒氣弱，其嗽作熱，與夫大人一同，且用藥調理，實不同耳。又有時氣咳嗽，謂其天時冷熱不調，幼幼虛怯，受患者眾，其嗽日夜不輟，或吐或喘，痰熱壅盛，至重者利之即愈，謂用大黃、朴硝、枳實、陳皮、半夏、人參、厚朴、柴胡，心神煩悶，胸膈不快，方宜與服。無熱與痰，亦不可下。伏請鑑辨，毋致得失。</p>

<h1>卷之十二</h1>

<h2>議急慢驚風等症候總序</h2>
<p>驚者，總名也。嬰孩小兒，心氣不足，智志率伏，恍惚無定，神不守舍，怯人怕物，漸作怖畏，怖畏之盛，已作恐懼之多，乃抱怔忪，怔忪之久，則自惕愕，惕愕既有，瘛瘲已為，斯乃心氣不足而生之慚，但分輕重耳。又有心氣虛弱，暴觸作驚，更不由漸，即便面青唇白，視之定晴，目無所睹，聽之閧聵，耳無所聞，精神頓七，心智全失，及至良久收斂，且五臟六腑虛處，所受驚風而作疾，已述前議。然幼幼多因吻母不意之乳，耗其心氣，作驚以漸。凡小兒因水火所加者，悸也；自跌模所致者，恐也；人物之所觸者，愕也；惕惕不散，鬱鬱悶於胸堂者，怔忪也。是知積驚難散，由其不能自化，如恐恐悸悸者，蓋自能知之矣，不為積聚。且怖畏之誠，常在其中，無以自遣，偶因觸悶心神，其肝主風，其脾生痰，其肺作熱，其心發驚，四症相臨，重者先發。假如雷聲霹靂至，響不為咎者何？蓋聲相應，情無所加矣。惟有小兒在僻靜處，或神廟中，心存怖畏之時，忽被無知小人戲叫：鬼來！鬼來！且兒奔走無門，驚氣入心，若不速利其驚氣，少頃則指甲黑，唇口青，所受重害，不可得療理。自古及今，調理嬰孩，最為難事，悉皆憑藥取愈。且驚風至難也，慢驚又難也，慢脾候危難也。今摘述調理小兒至難者，症候前後，有所不堪療理，或古人未備其意，或己著於集，後人未明者，今與詳悉本末，開陳利害，指於迷塗，直徑可進，庶有益於學者胸次。務家。治產之夫，及仕宦子弟，易曉其理，幼幼陰陽，稍有偏側，遵而扶之，不至夭橫。暇日熟研，可補緩急。良士一觀，足知野老肺腑，意不藏機，亦無緣飾巧偽，更無妄諂隱情，直欲普濟，使嬰孩初生，自幼至長，有患無疏，受疾不害，懽價鼓腹，歌笑嬉娛。又母即無顰眉蹙頞憂苦之歎，怡然順事，不勞再三，快哉至誠，咸獲體焉。</p>

<h2>議急驚風症候</h2>
<p>議急驚風症候。上竄，反張，搐搦，口流痰涎，壯熱，並有之。其或有視左視右者，有僵有仆（僵，仰也，屬陽；仆，覆也，屬陰），舉握指，有裏有外。醫分男女，定陰陽順逆之理。有左右引搐，連及腳手，身體顫動，初則搐搦俱作，久而搐住只搦，有急有緩，但只肩動口瘛瘲。瘛瘲者，候之輕也，搐則盛也，搦又重也。反張，牙關緊急，喉中有涎，即是驚風候。如牙關不緊，口無痰涎，只反張搐搦上竄者，未可便作驚風候。蓋夾驚夾食，傷寒疹豆，或三焦蘊熱，五臟不宣，流入經絡，熱在筋脈，亦作搐搦。錢氏云：搐有真假，不言病也。前有云急驚量其分數者，是約熱之輕重而與利之。</p>
<p>議急驚若是正候，氣粗延潮，其症候猛緊，不只徐徐而來，搐即急促，唇口肩眼，眨引連並。俗諺云：急驚驚爺娘，慢驚驚樂王。然雖是說治之有法，輕重調理。</p>
<p>議急驚先當定搐。搐由風也，風由熱也，搐既已作，方可下熱退驚。熱若不退，驚亦不散不移，其時搐搦又作，所謂過街候，乃是醫家不明，才見搐定，便言安樂。僕謂急驚風難治有三：只有初驚時，其風癇發作，斟酌輕重，云風定搐隨而愈之，斯恐庸醫或常人熱見，妄便下之，既下了，諸症猶存者，一難治也。又其兒正搐，親人一向執捉，不令渠搐，且風癇不得縱恣，逆入經絡，藥力不及，雖病減瘧，根在血脈，或注經絡，二難治也。又兒患候有順有逆，順即易理，逆即難療。惟恐病延既久，不得良餌，症候傳變，越去元由，而作它症者，三難治也。</p>
<p>議治急驚風候。用藥非謂難也，專至審察病候，循其法度，不荒不佞，次第下藥，無不愈之理。多是病家倉皇，不求善醫，信乎山野庸鄙之言。病候延久，不無傳變，傳即症重，變即候惡，凡經二三乎醫藥不效，兒受困苦，無能安樂。士夫之家，收方錄症，一日兒病，症候危惡緊急，臨時以何方對治？告急無門，眾口嗸嗸，皆言有藥，不明端的，一向攻擊，信乎見識淺陋，擔負不起。有乎得失，用藥不及，則無妨事，可以療理，若也大過，即時害生。</p>
<p>議療嬰孩。豈可以藥有懼？技之大過或不及，由尚不可，況越症候，乃為枉冤。兒童雖分長幼，有患臟腑昏令怯弱，易冷易熱，易虛易實，若攻之相重，其不任彼藥，孰言疾不瘳，反為它害，曷不謹歟？今者議急慢驚風及慢脾風方藥，即是老漢指準，應備緩急，至要克效之者，待更軼可否之理。</p>
<p>議患驚風、痰、熱、癇、痙、痓、癲。此八種候，惟痓與痓少有識者，類同驚風發作之狀。痓，腳手冰冷；痙，舉身僵仆；癇、癲不殊，目瞪流涎，手足搐搦。十歲以下。常作驚風。即謂之癇。至十歲以上。所發則曰癲。</p>
<p>議驚風痰熱。已論在前。且驚與風。其痰與熱。各自有本。症候受病。急風為疾。四者並聚。有驚有風。有痰有熱。或因驚而有風。生痰作熱。或有熱而作驚。成風生痰。或積痰而發熱。熱盛生驚變風。或久有風候痰涎。常有因驚而發熱。調理嬰孩童稚。四者形症。一不可有。善明脈醫。上於暴作者。亦當知之。理驚截風。退熱化痰。久盛二者。醫風散熱。療痰鎮驚。四症相須。藥宜並理。古人處方。亦合此意。然學醫者。不可不究其源。遠若見候。將作尋常。用方輕忽。病無少安。症傳它候。不逆且惡。禍不旋踵。</p>
<p>議嬰孩急驚風候。便須先審察四症。四症之中。而作八候。八候者。一搐。二搦。三掣。四顫。五反。六引。七竄。八視。一搐者。臂肘搐縮。二搦者。十指開合。搦之不已。即成握拳。男子看大拇指。其指握在外為順。在裏為逆。女子反看之。三掣者。有膊搐掣。或連身跳起。四顫者。或手或腳。或頭或身。四體顫動。五反者。身首反張。六引者。以手有如挽弓狀。男左手直有曲為順。右直左曲為逆。女子反看之。七竄者。眼上竄覷高。男子上竄為順。下竄為逆。女子反看之。八視者。男子斜目視左為順。視右為逆。女子反看之。既有四症八候。次第隨生。若只去得驚風。且痰熱不散。未可言安。痰與熱聚。將來必致癇疾。所治之治，其痰與熱須察之，可下即下。痰熱既下，驚風未盡消去，則病依前又有發作。所言四症相須，不可留一。若理得驚風已定，隨便下了痰熱，且驚風不復有作，此理至為妙也。</p>
<p>議嬰孩有患在痰熱，未有驚風者，只可退熱化痰，不宜妄投驚風藥。何也？驚風之藥，其味多寒涼，經絡本自無事，稍有攻擊，透其痰熱，入於經絡，卻成風痰之疾，搐搦致之。</p>
<p>議嬰孩五臟經絡虛，即生風。既虛，所受且驚，自然而有作。驚風有作，八候次第而生，所謂兒童無病，不可與服攻擊所治之藥。</p>
<p>議嬰孩有小大，有壯弱；驚風發作有淺深，但輕重。大者加分劑，重者多與服數，乃合其理。</p>
<p>議嬰孩聞響即掣跳者，乃肝肺不足，魂魄不穩，故神有不安。即聞響掣跳者，非謂驚也，犀角地黃丸主之。又兒心氣虛怯，神不安定，連並掣跳者，宜與四君子湯加辰砂。脾胃氣壯，神魂俱清，自然不恐。</p>
<p>議嬰孩欲發驚風候，先神不定，顧左復右，覷上及下，或已定其晴，凝其神，恍恍惚惚，怕物懼人，不若常日嬉戲者，急當療之。如有熱，先退熱；有驚，散驚。熱退不生痰，驚散不作風，良久自然安定，神情和悅，氣脈舒暢。若待風變而理驚，痰盛而退熱，事由至緩，不若四症俱全，由可治療。</p>
<p>議嬰孩急驚風發搐，手足不可熱捉，及以手用力灸之，即傷經絡。經絡既傷，亦無所益，則廢肢害體。</p>
<p>議醫急驚風候，有大有小，有輕有重，有順有逆，有偏有正，詳審久暴，只第進藥。且病家無不倉皇驚恐，醫家須是正定，無自昏惑。</p>
<p>議急驚即曰用醫，其驚氣和平，方可調理。若以急驚之謂調理，事致緩也。慢醫准此消息。</p>
<p>議醫急驚，初用藥在我，則我醫症候，遵法度，參傳變，審緩緊治之。切不可信病家及左右人，說其所欲，稍順人情，有乎得失？主治在我，豈可妄信？致之荒繆，罪累誰耶？</p>
<p>議急驚初無痰而復痰盛，初有搐而復不搐者，此症所傳候之至盛，人少知之。蓋由初醫縱恣，病家不謹，經三五家用藥，或庸士所見不同，有太過不及之害，如此曷不謹歟？</p>
<p>議醫急驚，須量輕重下之，得其中為良。且驚風頓去，痰熱已化，不作復患，所下之藥稍多，巴霜膩粉為重，即傳慢候無疑。</p>
<p>議嬰孩有患風、痓風、痓風中等症候，皆上竄拳搐，號曰天吊，言載甚多。初無痰復有痰，初作搐復不搐，不拳身直，皆風之惡候，已是傳過。若作驚風，更與下之，為害必也。</p>
<p>議急驚欲下之理，須在急驚上竄，斜視反張，所作之時可下。若傳過或已搐定，少緩之間，未可直便緊下，有乎得失。</p>
<p>議急驚用藥，先與服截風定搐，次與下熱，熱去則無風，風散敗不搐。是知以藥之功在我意設，不至恣妄為咎，到此顯功，方知難易。</p>
<p>議急驚有上竄者，有搐有搦，有引有反，有區有仆，有叫者，有淚者，有痰涎潮盛，有溫壯發作，各隨四症輕重而受之。急驚截風定搐為要，風搐既定，諸症漸息。定搐須用通關（非搐鼻之謂通），截風乃用調絡。</p>
<p>議凡定上竄左視，乃於男女之順候忽反，是則逆也。人抵逆則難治，順則易理，不以逆症候為不可治。古人言難治，謂陰陽相反，症候乖生，須用審究其症，詳察其候，以意盡力致之，取效而弗瘳者，為之奈何。議世方有云治急慢驚風候者，言之失意。急驚乃陽癇，慢驚乃陰癇，正恐治陽作陰，治陰反陽，豈一藥以全兩症。又有云治陰陽二症，傷寒之說，能曉此理，可謂通變。</p>
<p>議急驚候至為要急，在於片時之間。若或羌殊，直有得失，一時所見，見其端的，用藥無疑，尚在疑情，未須投藥，藥發無疑，其意靜善，疑在未發藥之前，良具妙矣。</p>
<p>議急驚頭額心背元被灸了者，決定發癇，不可常藥。僕嘗謂風癇可灸，驚熱不可灸。蓋風與癇，痰涎壅盛，胃觸胸膛，昏亂迷悶，不能省知，心如所失，既灸著穴，痰化心開，即漸安愈。驚之與熱，心神常存，聞知被灸，忍痛不能，驚悸轉盛，其疾澀重，所以用艾在先，藥必未有益。</p>
<p>議驚風疾愈，未嘗見因發而活，每見老嫗鄙婦無術，只投艾炷，兒生三五日之間，便以艾燒之，不惟失穴，因痛增悸，經絡未全，如何愈病？智者消詳，不可枉冤。</p>
<p>議初生尚為腐血，三五七日有患吊腸鎖肚，世言八帶鎖匙相衝。愚曰：非也，容忤所致。初生氣弱，不任其邪，肚緊青筋，脅肋脹滿，氣促，禁口不乳，斯症但用真珠天風丸下之，才通即愈，屢救初生，無不獲安。若經患服藥得痊，長大皆肥壯重實，未詳其意，請較之。答曰：初生之兒，方離淤結，分降之後，偶被邪氣干亂，臟腑微怯，不受其觸，故作痰曰吊腸撮口鎖壯。乃以天麻丸推下惡毒，虛邪之氣悉去，血脈順得流行，臟腑和調充實，自然朋長氣壯，形神俱備，體質醇厚，誠為可愛。</p>
<p>議嬰孩又有臍風，因斷臍不如法，有傷臍帶，受濕秉風，由此成患。皆能撮口，乳食不下，膨脹青筋，腳直無力，只依臍風治法。</p>
<p>議發急驚風，吼叫兩三聲者，難治。心受驚觸，痛絕於內，乃傷其根本之謂。</p>
<p>議發急驚風，未投藥四症俱全，已服藥四肢腦嚲者，難治。</p>
<p>議急驚噴藥者，難治。又藥不下者，難治。</p>
<p>議急驚搐搦之後，四體俱軟者，難治。</p>
<p>議急驚發作之後，腳作擺跳者，難治。</p>
<p>議急驚搐後，目睛翻轉者，不可治。</p>
<p>議驚風搐搦已住，神情緩慢，手尋娘衣，或尋自身體者，亦不可治。</p>
<p>議驚風諸症候盡皆已住，但神情昏慢氣促者，未可保治。</p>
<p>議驚風症，俟已住，其兒拈物不舍，情性緩緩於中，非謂十全必有再發之理。如或再發，不可調治矣。</p>
<p>議急驚風，鼻中出血者，易治。口中出血者，難治。鼻中出血者，其熱已散，故易治。口中出血者，心血妄行，故難治。</p>
<p>議驚風，尿尿已遺者，難治。大小便閉者，易治。</p>

<h1>卷之十三</h1>

<h2>真珠天麻丸</h2>
<p>治急驚風，請量用之，以通為度。此方仍治吊腸、鎖肚、撮口，至為妙絕，功效無比。丸如麻子大，初生患者，三日三丸，五日五丸，七日七丸。加青黛，名青黛丸。</p>
<p>天南星（炮）天麻白附子（炮，各一分）膩粉（半分重）巴霜（一字）蕪荑（炒）全蝎（麵炒）滑石（各一分半）</p>
<p>上事治為末，水煮細麵糊丸，如大。每服一歲五丸，二歲十丸，大小加減，薄荷湯點茶清送下。</p>
<p>議曰：此方乃下驚風，又去痰熱，須先服截風定搐，次與下之，切不可以多利之，但通為度，宜其詢問前人，已未曾下，惟恐病家不曉此理，遂致疏失，若初醫在我，則當循症截風定搐，或朱蝎散，尚有痰熱，宜與下之，免作風候，且小兒被驚發風，胡不知先有熱在臟，若知有熱在臟，甚勿驚著，蓋熱盛即心氣虛，一驚觸心，心氣迸散，所以面青唇白，良久驚氣卻收，其或肝虛入肝，肺虛入肺，五臟六腑，皆由虛處，其驚氣自然投入，因而作疾，前歌亦載，然急驚之急，痰熱相觸，觸亂神情，氣脈互馳，經絡乘熱，熱即生風，風熱不散，筋吊脈縮，或搐或搦，或掣或引，各於輕重所適而然，善醫者，截風定搐，有熱與痰，隨而下之，其搐搦自定，拳攣自舒，吊縮自寬，風熱自散，何患氣不蘇省，神不和暢，直言至簡，良士當和之矣。</p>

<h2>卻風散</h2>
<p>治嬰孩小兒急驚風候，方作搐搦，熱盛涎潮，宜下之。</p>
<p>天南星（四枚，炮，去皮，為末）　巴豆四枚（出油如霜）　大半夏拾枚（用甘草水蒸熱，切，焙為細末）　白殭蠶（去絲，炒，一分）　金蝎（炒，二分，去尾）</p>
<p>上件和勻，每服一字許，煎金銀薄荷湯調下。</p>

<h2>揭風湯（所治在前）</h2>
<p>全蝎（去毒，麵炒，一分）　天南星（一兩，為末，水調作劑，包裹蝎，煨令赤色，蝎不用炒亦得）　天麻（一分）　朱砂（一分，令研）　輕粉（半分，重）　腦子（一字）　麝（一字）</p>
<p>上件為末，和勻。每服半分，煎金銀薄荷湯調，以通為度。</p>

<h2>青金丸</h2>
<p>治嬰孩小兒急驚風，痰涎壅盛欲下，去痰退熱。</p>
<p>巴霜（半兩已）　青黛（一分）　天南星（半兩，炮）　輕粉（一兩重）　滑石（二兩重）　全蝎（或外去毒，炒）</p>
<p>上為末，水煮麵糊為丸，麻子大。每一歲五丸，二歲七丸，三歲十丸，大小加減，用薄荷茶清送下，以通為度。</p>
<p>議曰：凡看小兒症候，不問長幼，目視指切，心究意到，醫權藥衡，準鑑疾之輕重，所謂斟酌對治，已遵其法，藥入腸胃，猶合符節者，上也。按睹之後，忖度方法，思惟料理，良久始達其源，用醫投藥者，次也。不體全功，何謂艱療？非四病之異端，乃謂究竟不若是。今議驚風之疾，有急有慢，鄙夫以搐急謂急，搐慢謂慢，斯說未當。古人言論陰陽癇者，是也。陽癇曰急驚，陰癇曰慢驚。陽癇頰赤體熱，唇紅脈數，牙關緊，口流涎。陰癇者，吐利作熱生風，不有陽症，惟有搐搦，畢竟脈來散緩，乃是陰候，無可疑。惟是陽症傳陰，陰盛陽虧，陰症作疾，速用扶裏。如急驚風候，陽盛陰虧，陰氣剛壯，當用下之，使陰陽二氣均平調，榮衛二脈和順，方乃可宜。前件方藥，輕則揭風，盛則劫風，重則青金，或以真珠丸，請詳而復已。其切察之輕重，審以湯劑，得中勝妙，莫令違也。若或怠緩，害加禍生，醫者主察，勿今致咎。</p>

<h2>截風丹</h2>
<p>治嬰孩小兒四症已作，八候未具者，速宜與脈。</p>
<p>金蝎（去毒，炒）　白殭蠶（去絲，炒）　天麻　白附子（炮）　天南星（炮，各一分）　朱砂（一兩）　赤腳蜈蚣（一條，酒炙酥）　麝（一字）</p>
<p>上為末，煉蜜為丸，雞頭實大。每服一二粒，煎金銀薄荷湯化下。</p>

<h2>定搐散</h2>
<p>治嬰孩小兒急驚，四症八候俱並作者，宜服。</p>
<p>天麻白附子（炮）　天南星（炮，各半兩）　蝎稍（炒，一分）　朱砂（一兩）　代赭石（一兩，煆，米醋浸七次）　雄黃（一兩）　乳香（一兩）　白花蛇頭（一分，酒炙）　腦（一字）　麝（一字）　赤腳蜈蚣（一條，酒炙）</p>
<p>上為細末，每服半錢，煎金銀薄荷湯調下，煉蜜如雞頭大亦佳。</p>
<p>議曰：搐症未作，痰熱壅盛，故生其風，風不自散，流入筋脈，又入經絡，遂發搐搦。定其搐搦，先用截風，風若不加，則搐搦自息矣。且搐搦已作，痰熱有盛，疾候傳極，其風不可得而截，搐不可得而定，由如遺漏，炎熾猛烈，難以摸減，如此患者，理宜下之，大抵陽癇用下乃良，陰癇何以加之，兒分長幼用藥，惟有發風作搐，大小皆然，風之為疾，猖獗衝突，乃五臟虛處受之，察之在證，療之未前，由驚而作，或痰與熱而為，察其源而定其疾者要也，有其風即發搐，有其搐即因風，風定搐，其議相續，今述截風散，不待搐搦，才覺風痰驚熱有作，便與服之，令不搐搦，故曰截風，既已搐搦並作，宜與定搐散禦之，禦之不散，與服暖金丹，其勢加重，即與下之，且下之法，醫家出不得已，而為劫風揭風青金三方，量其輕重，今人直便擬下，更不截風定搐之藥，得失之議，皆由忽遽昏惑，智者良工，幸宜考較。</p>

<h2>暖金丹</h2>
<p>治嬰孩小兒急驚，八候四症，未全脫去，尚存風熱痰涎，其驚風症候，欲再發作，宜服暖金丹。</p>
<p>天麻（一分）　白花蛇（炙，取肉二兩，如無，烏梢蛇代用）　全蝎（二十一個，麵炒）　蜈蚣（赤腳者二條，炙，去了毒）　白附子（炮，一分）　白殭蠶（二兩重，去絲，炒）　黑附子夾（三枚）　牛黃（一分，如無，以黃牛膽者代之加用）　天南星（炮，半兩）　辰砂（令研，半兩）　麝（一兩）</p>
<p>上為末，煉蜜為丸，如皂子大，煎金銀薄荷湯磨化下。</p>
<p>議曰：所患驚風痰熱四症，皆能搐竄斜視反張，惟是驚風作搐，名曰真搐，為其病受不傳，即作痰熱所發，或因傷寒等疾發作，總名假搐，為其更有傳變，其時親人倉皇，那堪醫者昏感，投藥不當發作，致久</p>

<h1>卷之十四</h1>

<h2>慢驚風傳變（治法截要）</h2>
<p>凡慢驚風候，若是急驚傳來，而尚陽症，其陽即虧，不必回陽。又不特治陽，只可截風調胃，均平陰陽，可冷可熱，可緩可急是也。若直便與服附子、硫黃之屬，使陽歸陽，又是急驚，學者理宜知之。既知陽症傳作陰症，即與服保命丹三二服，兼前牛黃清心丸子。其有四症，且八候稍緩，疾成陰癇者，即與服之。若已傳過，八候不作，四症尚在，只冥冥者，與服定命飲子。若腳手冰冷者，乃四逆候，方可回陽。次第眼合者，即傳作慢脾風候。其兒驚風，痰涎壅盛，搐搦不止，不可下者，宜與靈脂丸。其痰壅熱盛，口角自壅者，白羌丸功效。驚風搐搦，身體雖暖，風痰不化，宜服天南星丸。</p>
<p>議嬰孩所受此等症候，別無化疑者，只依下項用藥，無不蘇省，切不可延久。其陽易化，陰氣漸盈，藥力不及，使人難治。又不可一向連並服藥，每次一二服了，須審察症候緩緊，有無傳變。稍覺寬定，其藥放慢，或勢漸緊，宜以次第緊急藥與服，不可執殢一藥。又不可便換湯餌，連並與之。所謂察其輕重，審其進止而後已。今著妙方，不勞檢閱，修合如法，對症投治，克效萬一。</p>
<p>議慢驚。若是急驚傳來。是知前人不曾截風定搐。陽脫而傳陰。陰重陽虧。其風與熱。隨流縱入經絡。又有曾服大寒涼之藥過多。又有下積取瀉致作。又有臟腑虛寒。洞泄而為。其所受多端。已載前篇。</p>
<p>議理慢驚。當知陰癇之說。其症屬陰。臟寒氣虛。或尚泄瀉不止。且驚正作。多因無識之人。一向治驚。更不理瀉。藥用寒涼投之。令氣愈虛。泄瀉不止。陰症愈重。驚搐愈增。若用止瀉藥稍熱。八候復加。四症不退。慢驚雖曰難活。蓋醫亦不曾究竟。病作加進。深為重害。</p>
<p>議慢驚。當察之所視為要。眼睛昏定為重。竄視為重。四肢厥冷為重。晴定不眨為重。雖眨不左右顧亦重。汗出如流亦重。口面忽作黯黯色至重。感風搐搦。慢驚眼在半開半合之間。乃知陰氣所盛。傳入臟間。陽氣已虧。脾經屬陰。次第入脾。故言慢脾風候。</p>
<p>議醫慢驚。與急驚風候。自是不同。未可一向下定搐藥。急驚謂關竅不通。故以腦子麝香等藥。通利定其搐搦。慢風陰重陽虧。諸經已虛。不宜通關。又涼其臟。易作慢脾風。</p>
<p>議醫慢驚不可爭攻。急驚陽癇稍易理，慢驚陰症最難治。服藥已愈而尚虛之，未省三五日之間者有之，俗謂過街候。發無定論，不可輕易妄劑，投之攻擊，則前功俱喪。</p>
<p>議慢驚所治之理，須究問原因所發。若是急驚傳陰為慢驚者，乃陽癇所作陰癇也。當察陽症未純，其陰症用藥斟酌。如因泄瀉而作慢驚者，男兒為重；如因吐逆而作慢驚者，女子為重，即陽脫而陰盛。小兒有長幼之別，臟腑有虛實之分。有瀉三五次便成風候，乃由虛之盛也。或有二三日泄方成風候，或有五七日瀉不止而成候。暴瀉成風，由可速治，蓋回陽調中補氣之為易。若久瀉漸傳成風者，為虛為之，故難療理。</p>
<p>議嬰孩小兒洞泄成風，以補藥治之（宜用附子藥，臟寒洞泄當脈）。取瀉成風（因藥下積），宜以溫脾壯氣藥調之（宜服觀音全蝎散愈之）。有服寒涼藥成風（下藥太涼致冷，臟腑先寒，過涼藥吐瀉，即傳成風候），以助氣醒脾藥溫之（王氏大惺惺大喝起散與服之即效。若手足冷，回陽，宜朮附湯效。）陽癇傳作陰癇者，（急驚傳作慢驚風候。）以截風藥治之。（眼前方截風定搐親，若在前三者慢驚候，便以截風性性末為當。蓋由病自虛乏得之，所以云調補之理。）</p>
<p>議驚風症候，所以用藥不一，治療不等，由發作不同，故述在前。雖則四者之議，猶為大概，智者得之開發，詳其輕重可否之意而施設之。</p>
<p>議醫理。慢驚之候，其意在慢；治急驚之候，其意在急。何也？且急無過因熱生風作驚，跌撲作驚，他物觸之作驚。驚熱傳極，即變生風，搐搦等候，皆熱作來。若也順症，依法下之，諸候自息。然慢驚所作不常，當宜省察，用意子細，所以故宜消息為之慢也。不可倉皇恐懼，有乎得失，非失治躊躇，疑二之為慢也。又曰：慢驚無爭攻，蓋所療至為難事，無妄當何？</p>
<p>議醫。慢驚不可與語，無妨疏脫有之，無誠不謹亦有之，無見不明亦有之。又不可言難，恐於人事但存妙理，究竟深得法度者，投藥必愈。不曉於理，截度未良者，千萬無順人情投餌。既無可否之說，若或所見不到，即與善術者調治，庶不杜究。若也壞症傷候，必敗其德，實有勉強倉皇者耶？</p>

<h2>保命丹</h2>
<p>治嬰孩小兒急驚風候，傳慢驚，宜服保命丹良方。</p>
<p>白茯苓朱砂（令研）　白附子（炮）　牛黃（如無以製者加用之）　天南星（炮，各一兩）　全蝎（炒，半兩）　天麻（炒，一兩半）　甘草（炙，一兩）　硼砂（一兩）　腦　麝（各半字）</p>
<p>上為末，和勻，薄糊為丸，雞頭大。每服一丸，金銀薄荷湯化下。</p>
<p>議曰：此一方已述靈秘所治，急傳慢候，用之極良。其藥純和，卻驚安神，化痰定搐，功效非常。然急驚傳來，初入慢候，須較陰陽虧盈，乃為法則。陰盛陽虧，方謂陰癇；榮虛衛弱，方傳陰癇；心驚神散，方傳熱熱；經桑絡弱，方傳熱熱。癇之為病，四體不收，精神失守，百病於邪，五臟受虛，但隨四症而作八候，醫工當察標本理之。若也症傳候變，即入慢脾，十死一生，至為難事。請究所受療理，越於古意，或太過不及，總為虛哉！</p>

<h2>觀音全蝎散</h2>
<p>治嬰孩小兒，因吐而傳慢驚風候，宜服觀音全蝎散。</p>
<p>黃耆（一兩）　人參（一分）　木香（一兩）　炙草　石蓮肉（炒）　扁豆（炒）　白茯苓（各一兩）　白芷　全蝎　防風　羌活（各一兩）　天麻（二兩）</p>
<p>上為末。每服半錢、一錢，棗子半個，水一小盞，煎至半與服，不拘時候。慢脾尤宜服之。</p>
<p>議曰：觀音散，東漢王氏所著。調理嬰孩，清神固氣，補虛益脈，開胃止吐，醇乎醇善之善者耶！所緣用藥截風者何？正於危急之際，卻作兩餌役之，先與生其胃氣，次服截風定癇，如此療理，不惟迃曲致緩，又旦未能藥入脾胃之間，悟其至理，兩劑一行，或加白丸子末，以半和之，乃盡其妙。</p>

<h2>犀角散</h2>
<p>治嬰孩小兒因吐瀉神困力乏，欲傳作慢驚風候。</p>
<p>犀角（鎊，二兩）　白朮（二兩，水煮過）　甘草（半兩，炙）　陳皮（舊者良，去白，一分）</p>
<p>上為末，每服一錢，水小中盞，金銀薄荷同煎三五沸，通口無時。</p>
<p>議曰：此方治小兒因吐瀉神困力乏，欲發慢脾風候，正謂救急不可令緩。若已傳受，即風即熱，即痰即驚，交相致作，神散不定，上竄搐搦，悉由脾虛之所致也。脾經既虛，次第胃虛，其藥白朮、陳皮預理脾胃，犀角退熱去風，熱既不作，痰無發生，醒脾壯胃，風何得有？漸見蘇省，兼與醒脾散及既濟丹相間服，一向取愈為良。其方全不用逐風化痰之藥者，蓋是症候欲作慢驚，所以未宜先投緊藥，故用此方，謂之和劑。一正其脾氣，得無傳變，不勞療理，簡徑微妙，稽首智者作之，施功利益而已。</p>

<h2>醒脾散</h2>
<p>治嬰孩小兒吐瀉不止，痰作驚風，脾困昏沉，默不食，醒脾散方。</p>
<p>木香（炮，一兩）　全蝎（炒，半兩）　天麻（炒，一兩）　人參（一分）　白茯苓（一兩）　白朮（炒，一兩）　甘草（炙，一兩）　白殭蠶（炒，一兩）　白附子（炮，一兩）</p>
<p>上為末，每服半錢，大者加服，水少許，棗子同煎至五七沸，通口無時服。</p>
<p>議曰：此良方最為勝善，小兒吐瀉脾虛，作疾驚風，神困氣弱，沉沉默默，皆脾經虛乏，已成風痰並聚，故爾不醒，宜多與服，仍加既濟丹及觀音全蝎散俱良。其疾復有引掣搐搦，無與驚風丸散及腦麝寒涼等藥，其症愈惡，其候愈盛，不惟驚風未退，且痰熱助之，令兒疾作傳變。傳即慢脾，變即陰逆，慢脾猶載方藥，尚可理之，陰逆之候，何可醫治？陰逆者，陰謂陽氣欲絕，逆謂受症不順，不順欲絕，但增吁嗟，使人無所措手，醒脾良方，豈可隱匿？（真所謂活人飲子。）</p>

<h2>神保既濟丹</h2>
<p>治嬰孩小兒肚瀉，或已作風候，服之功效。</p>
<p>硫黃　焰硝　陳橘皮　青橘皮（並去白）　五靈脂（川者良）　半夏麯（炙、炒皆可）</p>
<p>上以等分硫、硝二味，和研令勻，一處用瓷器熔汁，傾出候冷，細研，旋入諸藥和勻。</p>
<p>上為末，秫米粉水煮糊為丸，如大。每二歲兒服二十丸，大者加之，並溫飯飲下，空心食前。此方均分陰陽二氣，多脈有益。</p>
<p>議曰：陰陽二氣不均，冷熱相制，驚風已作，搐搦已定，或陽虧陰盛，或陰虧陽盛，或驚風未散，吐瀉不止，或嘔逆，或發喘，或腳手漸冷，或眼目欲合，或服涼藥太多，或虛煩不定，或沉沉默默不省，或恍恍惚惚生驚，但胃氣未脫，速與服之。若是危急，不待作丸子，只以末溫飯飲調與服，以愈為度。若腳手冰冷者，服之立溫；未止者，服之立止。雖慢驚、慢脾、風候，並宜與服，仍加薄荷湯便尤良。智者明理，必加欽重；愚者蒙昧，必懷猶預。此方至良，少有知用，請敬而行之。</p>
<p>治嬰孩小兒吐瀉，脾胃虛弱，發作慢驚風候，搐搦不已，醫工截風不止，取痰不下，散熱不退，即驚不去，其症欲傳慢脾風候，宜服定命飲子。</p>
<p>半夏（口羊口者，半分）　天麻（一分）　甘草（炙）　白茯苓　白朮　老生薑（各二兩）</p>
<p>上件一處，用水一盞，於瓷器內煮令水乾，將半復天麻白朮茯苓切焙為細末，每服半錢或一盞，生薑棗子湯調與服，無時。</p>
<p>議曰：此方建脾化痰，去風散熱，功效如神，醫工少有知用，初學之士，只知有腦麝香爽者方用之，俗夫便言好藥，殊不知腦麝乃醫家出不得已用之，其物通利關竅，關閉塞，疏湊理，利骨節，其藥屬陰，能化於陽，只有急驚宜用，慢驚慢脾傷寒等患，悉宜禁止，其或疳痢藥用之，虛者亦禁，惟有痙痓癩癇，宜用定命飲子，屢經效驗，野老處定此方，其功造化，深智高明，往往欽誚，痰搦連並，脈息虛怯，不敢頓下者，宜與靈芝丸，若手足差冷，兼進回陽行醫用藥，至於此等症候，乃主治活傷之權也。</p>

<h1>卷之十五</h1>

<h2>慢脾風候（治法截要）</h2>
<p>議曰：慢脾風候，即是慢驚風所傳，元由吐瀉脾虛，驚與風傳入，故曰脾風。謂其脾家受風者，更逐風，無風可逐；若也逐驚，無驚可療。但有療涎，虛熱來去，兒病至此，所以難醫。蓋由症與候，驚與風，傳經已極，總歸虛處，惟脾所受，何故不曰胃風？胃屬陽，其病即傳陰臟，故無胃候。兒既尚有胃氣，可以一向生胃，兼與回陽，即漸蘇省。若更一向攻擊驚風，脾亦不受，而又傳散諸經，不可得而加藥。若見眼合，即是脾風，宜服下項藥：</p>
<p>議治慢脾風，乃是不得已而設，其疾危如燈無油，漸見昏滅。錢氏所用全液丹，又青州白丸子各半，細研和勻，飯飲、薄荷湯下一兩半兩許，此乃截風回陽。又一方，以四君子湯加黑附子末四分之二，腳手冰冷者，用和對半生薑、棗子煎與服。此萬古人用之，豈不同常？所較下項良方，亦盡世之善也。</p>
<p>議治慢驚、慢脾，須禁腦、麝、膩粉、水銀、粉霜之項，及寒涼動臟脂等，或以燥熱，俱不可用，只宜回陽醒脾湯使與服。</p>
<p>議慢脾風候。十個孩兒，有個以艾灸之，須當斟酌病候，有已來脈絕之理。若也一臟絕，即不可用藥，謂如眼無光，指甲黑，四肢垂嚲，五體俱冷，並不可勉強下藥。</p>
<p>議慢驚風候。至於痰涎在膈之時，諸臟皆虛，喉中聲如拽鋸，一二日之間不散，但只閉目，此乃虛之盛也。只是虛痰飽養其氣，未有所知之者，直便下去痰涎，其兒隨時化去，宜用下項妙沙丹服之乃良。</p>
<p>議嬰孩所患。急驚、慢驚、脾三者，皆由風痰所作，以漸傳及，未有初得病而便慢脾或急驚傳來，或即吐瀉而得久痢，其氣虛脫而得傷寒，表裏俱虛，傳入陰症，亦成慢候。久嗽成癇，亦傳慢候。霍亂吐利，亦傳慢候。脾困久睡，亦作慢候。吐血，亦傳慢候。蟲積衝心，亦傳慢候。肝風筋憊，亦傳慢候。大小便閉，亦作慢候。心虛煩躁，亦作慢候。煩渴引飲，亦傳慢候。腹肚㽲痛，亦傳慢候。睡裏咬牙，亦傳慢候。般日夜汗出，亦傳慢候。走馬疳急，亦傳慢候。諸丹毒，亦傳慢候。龍帶纏腰，亦傳慢候。膀胱吊疝，卵腫莖曲，亦傳慢候（莖曲，陰莖勾曲）。四體浮腫，亦傳慢候。以上小兒所患諸疾，皆能傳作慢驚風候，由慢驚乃傳作慢脾，脾氣既絕，胃氣已盡，無可得而治療故也。</p>
<p>議嬰孩五臟，易冷易熱，易虛易實，醫方並不治臍受病。曰：脾不病耳。曰：非也。小兒在腑，有疾自愈者有之，在臟不可不治。臟者陰屬，腑者陽屬，謂小兒先陰而後陽。又曰：小兒乃純陽之氣，在腑則順，在臟則逆，故前賢皆理其臟，未言治腑也。又腎一臟，常主虛，不可攻療。若有腎臟患，但清心肺，綠心與腎即既濟也，肺與腎乃子母也，無與腎藥及諸補藥。若治腎臟，即他病發生，故戒上不可療。</p>
<p>議嬰孩慢候，皆由臟虛陽虧陰盛。應小兒所患臟病，陽虛陰盛者，無不入慢候而斃。惟吐與瀉，痢與積，致入慢候，其症速也，虛又速也，宜用良方治法，循其次第，無不獲安。然其慢驚脾，無令速愈頓瘳之理，既和且平，更用調脾養胃，萬萬不可過劑用冷熱湯藥，若失之，即吁哉！</p>

<h3>白殭蠶圓</h3>
<p>治嬰孩小兒慢脾風候，痰涎潮盛不化，宜用白殭蠶圓良方。</p>
<p>製牛膽五味者（分）　白殭蠶（去絲，炒）　錢子　地鱉　五靈脂（川者）　全蝎（炒）　半夏末（各一分，用生薑汁浸）</p>
<p>上件為末，水煮半夏末，糊丸如麻子大。每服三十丸，煎金銀薄荷湯下。</p>
<p>議曰：脾家有風，乃虛所致，驚搐所由生也，疾涎是故作也。陰癇不暴，其實驗醫，若也意急，役之衝烈，愈見害重，誠為不可。所以禁卻腦廣，通利關竅之藥，悉無利益。治法所宜者，今選用妙方，頓以活人白殭蠶丸、一味去痰丸能哉。風既已傳八慢脾，則風痰混致，驚熱交臨，醫工看候，藥用當權，未敢決之可否。候未脫去陽者，直宜與服之。若陽虧陰盛，至危至急，候變非常，精神色脈駭於人情者，當服下項良方。</p>

<h3>附硫丸</h3>
<p>治嬰孩小兒慢脾風候。附硫丸散方。四肢冷厥，服之尤佳。</p>
<p>黑附子尖（二個，去皮，生用）　蝎梢（七個）　熟硫黃末（一兩）</p>
<p>上件為細末，生薑自然汁和丸，如綠豆大。每一歲二十丸，米飲下。</p>

<h3>黑附湯</h3>
<p>治慢脾痰盛，四肢逆冷，黑附湯方。</p>
<p>黑附子（炮，取末，二兩重）　白朮（一兩）　南星（炮，一兩）　甘草（炙，一兩）　半夏（一兩，湯洗七次）</p>
<p>上㕮咀，每服二兩，水小小盞，生薑三小片，棗一個，煎至半，去滓，通口以匙挑與服，所覺手足暖，其候漸省，藥即止之。</p>

<h3>辰砂膏</h3>
<p>治嬰孩小兒慢驚風，傳慢脾風候，有冷痰在鬲，潮作不散，此疾虛久，不可頓下，其兒搐緩，昏困至重者，宜服此方。</p>
<p>大黑附子（一個，八九兩重者，去皮臍，項上刻一孔，入給霜、硼砂各半兩，內在孔中，用附朮塞，燒灰存性）　天南星（炮，半兩）　蝎稍　羌活（各一兩）　朱砂</p>
<p>上為末，以朱砂和勻，煉蜜為丸，雞頭子大。每服一丸至兩丸，煎金銀薄荷湯，入酒三五滴，點化與服。</p>
<p>議曰：此三方皆用黑附子，直不可執謂性熱，兒在幼小，礙與服之。其兒患脾風，腳手冷者，有微有暴，審其輕重，輕即用湯，盛即以丸，重即以膏，服之皆效。須候手足暖，陽氣四，即為之快矣。既已溫暖，更以醒脾正胃藥兼服，除是慢驚傳入慢脾候，方可與服之。硫黃其功甚速，又且逐風化痰，醒脾正胃，溫暖臟腑，補益腸胃，奪命回陽，省活危困，至良至驗。切不可倉皇妄投丸散，或爾大過不及之特，則致咎於後，方宜學受，不至誣誕故也。</p>

<h3>七寶妙砂丹</h3>
<p>治嬰孩小兒慢驚風及慢脾候，神情昏困，鬲上有虛痰，不能得化。不可服巴豆、輕粉，恐動臟腑。只將神仙所留妙方與服，其痰須臾自下。良久，神情已定，眼目微開。漸與溫平藥調理胃氣，兼順理驚風藥與服，勿更攻擊。其方乃一文開元通寶銅錢，名七寶妙砂丹，錢樣見後。其錢背上下有兩月子，只有一個月子者不用。錢色淡黑，頗小諸錢。將錢頓鉄匙頭於炭火內燒，霎時四維上下各出黃白珠子，遍舷都是。捋出候冷，傾放茶盞中，入朱砂末少許，只作一服，煎金銀薄荷湯送下多枚。此錢準備緩急，或先燒成珠子收拾亦得。此方墜下小兒虛痰，別無它作症候者，用之乃保十全，功效無可疑訝。</p>
<figure>
<img data-orig-src="urn:270:03808.jpg" alt="錢樣圖">
</figure>
<p>議曰：調治嬰孩小兒慢脾風候，無過前件藥對症克效，須審慢脾已傳未傳之理。其兒眼開未合，尚在慢驚腳手不冷之時，未可便與回陽，且與七寶妙砂丹一二服。眼合沉困，陰症極盛者，方可與服回陽。凡服回陽醒脾湯劑，手足漸暖，仍與觀音全蝎散及醒脾</p>
<p>散兼服。九、慢脾風候最為惡證，只可前方調治。雖曰</p>
<p>緊急不得并雜，用之泛泛，不惟無益任勞，其功虛延。</p>
<p>其候，閒養其疾。此疾傳陰，陽重病盛，如燈光油，只見次第蛻去。若不助陽生胃，只知截風去驚，兒痰轉見增長。且兒陰症未至十分，與藥加其寒涼，攻得陰重陽虧，難以救療。若此共其陽氣隨陰而化，所謂制之在始，元在前藥醫慢脾風症候。如其所述，用藥由可救活。若鄙夫意見不同，難以省活。噓哉！</p>

<h2>癇疾症候</h2>
<p>上方具述多端，王氏著載有三：驚癇、風癇、食癇。風癇之疾，由於風熱而作；驚癇之疾，由於驚積而得；食癇由於食時而得其驚。三者發作，大抵相類。風癇有熱生痰；驚癇神魄散亂，恍惚無定；食癇因食而致驚，食未剋化，氣停關鬲之間，生痰致風，由風成癇。</p>
<p>議治風癇，先用化痰，寬利胸膈，開通關竅，安鎮心神，定其搐掣，然後與治風癇藥服之。</p>
<p>議治驚癇，先涼三焦，利驚去熱，安神定志，平調臟腑，濕化痰涎，然後與治驚癇服之。</p>
<p>議治食癇，先用推下關鬲，停積驚氣，次和順中脘，次安臟腑，然後與治癇藥服之。</p>
<p>議曰。驚之與癇。風之與熱。皆遍相襲。有熱必恐有風。有驚必懼成癇。治風先退其熱。治癇先用散驚。此乃至要之識。學者當明其理。所言癇之為疾。古述繁多。或云六畜。牛馬雞羊豬犬。其聲音相類。形體相尚。有若六畜之狀。故得其名。寶鑑載云一百二十種。其說大繁。其傳乃執。但是癇藥。無越三症。皆由所生。總而言之。不必煩求有誤。初機枉究。遂成艱學。如此一病。尚陳羅縷。向其驚風者乎。王氏蠲之。得其詳要。以合禮法。今則著書。特示良妙。截治至簡。庶幾所受。頓漸瘳愈。靡不快歟。學者深詳。必無枉冤。</p>
<p>治小兒食癇。先用真珠天麻丸推下。次服定癇妙藥。</p>
<p>治小兒風癇。先用化風丹去其風熱。次服定癇妙藥。</p>

<h3>化風丹</h3>
<p>法製黃牛膽（二兩）　羌活　獨活（各一兩）　天麻　防風　甘草　荊芥穗　人參　川芎</p>
<p>上為末，煉蜜為丸，如皂子大。每服一丸，薄荷湯化下服。</p>
<p>議曰：風之為病，其狀多端，皆由腠理疏弱，榮衛虛怯，經絡不順，關竅閉塞，其氣霾痊爵勃（音弗），其脈凝注。</p>
<p>有同天地晦冥，日月暈蝕，颷。暴發，與精神俱漬者，一身四體皆不我有，是謂風癇之至也。所謂化風，化其所受之風，不待久傳迅變。凡該五臟蘊熱，三焦作壅，速與流利，熱即風生，壅即風長，關竅不通，其風何能自散。若言化之，即順助之，其榮衛經絡順得流行。若也便與截風定搐，為已成癇，其風不散。若更攻擊，即衝任百脈雖不發作，畢竟隱伏，久而再發，無能去根，此方得名化風，不復加進矣。</p>
<h3>比金丹方</h3>
<p>人參　白茯苓　遠志（去心）　山藥　辰砂　天麻（各一分）　石菖蒲　川芎　甘草（炙，各一分）　天南星（炮，二兩，生薑汁製）　麝（一）</p>
<p>上為細末，煉蜜為丸，皂子大。每服一粒，煎金銀薄荷湯化下。</p>
<p>議曰：風行於四時，和順於內外，長養萬物，能生能敗，法令至周，惟風之德。夫人一身，亦同天地，順則和，逆則害。所發之風，由其虛而作，應其熱而生，有其痰與熱而發其驚，關竅不通，氣脈流注，遂有傳變於身為害，當用逐之。何向童稚幼雛，嫩嬌危脆，百病總歸於可，豈可取次疏怠。凡治風有法度，不可極力施功，若停待即須臾而更，倉皇即拙謬而失，深意審詳，隨其逆順以療之。襲逐在後，預追不及，聽載在前，猶化不盡者，正謂庸工醫之陋也。善治驚癇也，化其痰，和其氣，鎮心神，安魂魄，通關竅，順經絡，使其榮衛常順流行，調其臟腑長和充實，邪自和生，風從何入？雖有些小，自然而散。此癇由驚為疾，豈可見留？常令血脈充，肌膚壯，頭目清，精神備，飲食即，睡臥穩，寒暑知時，臟腑常固，其經絡自和，榮衛自順，比金之名，決定不壞，斯乃順調善攝而已。</p>

<h3>奪魂散</h3>
<p>治定癇良方奪魂散。</p>
<p>白殭蠶（去絲，炒令黃色，半兩）　蛇含石（燒紅，用米酣淬七八次，碾碎）　白附子（炮，各一分）　生銀　生金　牛黃（如無，以膽製，倍加用之）　鳥梢蛇頭（七八寸許，酒炙）　白茯苓　天麻（各二兩）　天南星（秤末一分，生薑汁浸一宿用）　半夏末（二兩，生薑汁浸一宿，各焙）　赤腳蜈蚣（一條，酒浸，炙令焦）　犀角（鎊，二兩）　腦子　麝</p>
<p>上為末，蒸棗肉為丸，如○大。每服十丸至十五丸、二十丸，煎金銀薄荷湯下，朱砂為衣。</p>
<p>議曰：癇之為疾，又是一種症候。若言驚風所傳，古人有謂食、風、驚三癇。若言不於驚風所傳，古云驚風三發便為癇。且癇為疾，痰熱壅盛，傳入經絡，塞於心肺，是致關竅不通，故作癇疾。發作有如驚風天吊，或因驚而生痰多，或因熱而作風盛，大小便不利，上下氣不通，心神悶亂。若因而復生，生而復死，沉沉默默，無由蘇省，忽爾氣透關竅，漸得開通，魂魄稍得安定。向後心被觸腦，氣不宣利，發作如前。是知癇之為疾，乃由虛痰冷涎，頑結子胸臆，驚風並聚於關鬲，常無精神，心致不寧，即存恍惚，療理不專，藥服不收，必自致害，何足怪者耶。奪魂散方，經效秘傳，修合如法，活神驗，豈非至寶之謂也。</p>

<h1>卷之十六</h1>

<h2>議十種熱症候</h2>
<p>醫云：熱有十種：驚熱、疳熱、風熱、潮熱、傷寒熱、瘧熱、積熱、丹熱、瘡疹熱、餘毒熱。</p>
<p>議曰：有驚熱，即有風熱。此言驚風熱，又有風卻熱，乃感風成病，類同傷寒熱。又傷寒熱，類同瘡疹熱。又瘡疹麻豆之後，有餘毒作熱。其傷寒後，亦有餘毒作熱。</p>
<p>議積熱，有同痞熱。發來潮作，又似瘧熱。綜曰潮熱，蓋發作有期。</p>
<p>議丹熱、疳熱，各自體之，不類諸症。今將得效所治諸熱良方，有四主治，分諸熱症，悉有功效，非特觸類而分之，乃是所療治其根本而已，無不應驗，更不兼他藥。只此四方克效，萬不失一，載列在下，請宜審察。投</p>
<p>藥，隨病瘳愈，神莫能冠。僕盡心討論，以其簡要，不憚煩勞，去此就彼，檢閱再三，猶若良將用兵，奇正敵冠，難有兇惡，必不能逃竄。其病候或有同異，其症候無過於折類為定，必不疏遠綜錯矣。嘗自恃退熱之理，秘不可傳，道由心悟，得之可謂醇乎醇，善之善者耶。</p>
<p>議類症諸熱。</p>
<p>議血熱。即遍體生瘡痍瘑疥瘙癢，及重發作丹毒龍帶之屬。</p>
<p>議骨熱。即外冷內熱，其病骨蒸候。</p>
<p>議實熱。即氣脈壯實，五臟六腑氣充，大便硬少，或閉不通。</p>
<p>議虛熱。三焦不順，五臟不和，欲作疳候，啼哭煩躁，夜出虛汗，或瀉痢後有熱。</p>
<p>議三焦熱。即上鬲虛煩作渴，頰赤驚悸，夜後啼哭，睡中譫語。</p>
<p>議五心熱。虛煩多驚，小便赤澀，睡不安穩，氣粗，或作瘛瘲。</p>
<p>議肝經熱。眼目赤腫疼痛，眵淚羞明，或筋脈拘急，有夾風痰。</p>
<p>議肺經熱。鼻塞生瘡，不聞香臭，或餘毒不散。</p>
<p>議胎熱。兒在胎中，受母飲食，榮衛不順，有餘毒之熱，發作眾疾，或從降生之後，常作熱症。</p>
<p>議傷寒後餘毒熱。雖曾解表，餘熱傳脈，或入經絡，久而不散。</p>
<p>議瘡疹餘毒熱。其兒所患瘡疹，不甚快速，有餘熱留滯在百脈之間。</p>
<p>議項上生核作熱，軟大微紅者，名驚氣。核小三五連連，長短相類雜者，乃餘毒熱，亦名驚癧。初生乳幼者，有患之。</p>
<p>議三焦蘊毒熱，上攻咽喉之外，名作腮熱。氣血凝滯，經終不行，熱毒攻注，故生癰癤。</p>
<p>議麻豆作熱，類似疹候。麻子乃腑受病，屬陽，故易調理。雖不服藥，亦能自愈。只恐吃毒冒風，為之逆也。</p>
<p>議溫氣熱。即是時氣溫熱相襲而成。小兒又令有時氣之溫，未經患瘡疹者，即重蒸。大小相傳，皆作是疾。</p>
<p>議小腸熱。心經不利，小便淋澀，或筒管內疼痛。</p>
<p>議胃熱。作氣口臭，或發嘔逆，不思飲食，亦由胃家虛熱得之。</p>
<p>議。脾熱。口若昏，因喜睡，因吃食毒物，積聚在脾不化，腳稍冰冷。</p>
<p>議。邪熱。肺經感受寒邪，陰陽二氣不正，痰涎咳嗽。</p>
<p>議。寒熱。謂先寒後熱，其狀如癨，乃虛中有積。凡兒患痞癖癥瘕，皆作寒熱潮發。</p>
<p>議。傷風熱。鼻聲重，頭痛腳熱，類如傷寒候。</p>
<p>議。傷暑熱。煩躁，引領頭目昏重，時正盛暑，或曾感冒。</p>
<p>議。榮衛。即血熱也。</p>
<p>議。衛熱。即氣熱。榮衛不順，即氣血不相參，虛之致也。</p>
<p>議。筋熱。咬指甲見血。</p>
<p>議。腎熱。病作崩砂，黑齒爛齦，以至走馬疳極候。</p>
<p>議。煩熱。即啼之不已。</p>
<p>議。躁熱。即哭之不已。皆由三焦不順，心中積熱，虛煩躁悶。</p>
<p>議。變蒸熱。只在五百七十四日之內，三十二日一變。六。</p>
<p>十四日一蒸。在其數發作者應也。</p>
<p>議大腸熱。乃是肺家有熱在裏。流入大腸。秘結不通。</p>
<p>議癮疹熱。乃是肺經有風在表。肺主皮毛。故生癮疹風。</p>
<p>議痰熱。因感風生痰。在上鬲久不化作熱。或在逆惡心。</p>
<p>議驚氣熱。良由小兒受驚。其驚氣不散。留在上鬲。無得自化。故作熱毒。攻在頤項之間。</p>
<p>議肚熱。即是積熱症。若加腳冷。當與下之。</p>
<p>議客忤熱。初生之兒。親戚外來。兒觸其邪。以亂其正。故作熱。</p>
<p>議癇熱。驚風不散。聚在經絡。或入臟腑。其候常發。不省人事。</p>
<p>議瘛瘲熱。亦驚之所受。入經未傳散。略作搐掣。</p>
<p>以上諸症受病治法。分類於後。</p>

<h2>分十種熱症附諸熱類</h2>
<p><u>驚熱</u></p>
<p>癇熱　驚氣熱　瘛瘲熱　客忤熱　五心熱<p><u>傷寒熱</u></p>
<p>傷風熱　傷暑熱　夾驚熱　夾食熱</p>
<p><u>疳熱</u></p>
<p>虛熱　煩躁熱　筋熱　骨熱　腎熱</p>
<p>以上並宜與服蔥根脫甲散。</p>
<p><u>風熱</u></p>
<p>痰熱　變蒸熱　肝熱　大腸熱　癮疹熱</p>
<p>並宜加麥門冬子去心煎。</p>
<p><u>丹熱</u></p>
<p>實熱　血熱　三焦熱　小腸熱　龍帶熱</p>
<p>並宜加大黃及燈心煎。</p>
<p><u>瘡疹熱</u></p>
<p>麻子熱　溫氣熱　已出症熱　未出症熱</p>
<p>並宜加紫草茸、川當歸同煎。</p>
<p><u>餘毒熱</u></p>
<p>胎熱　肺熱　傷寒後餘毒熱　瘡疹後餘毒熱</p>
<p>並宜加薄荷煎。</p>
<p>項上坐核作熱　作腮熱　癰癤毒熱</p>
<p>並宜加大黃、朴硝煎。</p>
<p>以上宜服大連翹飲子。（隨症加前件湯，便同前。）</p>
<p><u>潮熱</u></p>
<p>榮熱　衛熱　瘴氣　兩日一發　三日一發</p>
<p><u>積熱</u></p>
<p>脾熱　胃熱　痞癖熱　肚熱</p>
<p><u>癯熱</u></p>
<p>邪熱　寒熱　脾癯　鬼癯（夜發）　單瘧（熱）</p>
<p>以下宜服梨漿飲子。</p>
<p><u>八種虛痢作熱</u></p>
<p>吐熱　瀉熱　霍亂吐瀉熱</p>
<p>以上並宜服正氣丸、調胃散，用調助胃氣，不可以涼藥退熱，胃氣和，其熱自然而散，愈。</p>
<p>虛中積熱　腹痛積熱　蟲痛積熱</p>
<p>以上並推下積。</p>

<h3>脫甲散（亦名蔥根煎散）</h3>
<p>調理嬰孩小兒傷寒體熱，頭目昏沉，不思飲食，夾驚夾食，寒熱，大小便閉澀，或赤或白，煩躁作渴，冷汗妄流，夾積傷滯，膈滿脹急，青黃體瘦，日夜大熱，及療傷風傷暑，驚癇客忤，筋骨腎臟疳氣等熱，並宜服之。脫甲散良方。</p>
<p>柴胡（三兩，去蘆）　川當歸（淨洗，二兩）　龍膽草（三兩，去蘆）　白茯苓（二兩半）　人參（二兩）　知母（三兩）　甘草（炙，四兩）　川芎（二兩）　麻黃（二兩，去節，又根一兩，仲）</p>
<p>上件為細末。每服一大兩，水小小盞，入小蔥白連鬚一寸，同煎至半，溫服，不拘時候。</p>
<p>議曰：此方散熱，扶表救裏，表虛令汗不妄行，裏熱令氣不閉結，外即遍關，內即開渠，通關流行經絡，開渠不壅臟腑。然其知母、當歸順正陰陽，人參、甘草和益腸胃，柴胡、川芎敵去寒邪，茯苓、龍膽止汗生津，麻黃去節留根，功全表裏，蔥白連鬚出汗，效正盈虧，熱在表裏之間，施無不可，積傳鶩癇之候，用立見切。蔥根至良，號曰脫甲，奇妙述難盡議，書載易詳，但專誠用之，對症功效，率無見誚者耶。</p>

<h3>大連翹飲（治症在前）</h3>
<p>連翹　瞿麥穗　滑石　車前子　牛蒡子（炒）　紅芍藥（各一兩）　山梔　木通　川當歸　防風（各半兩）　黃芩（去心，一兩半）　柴胡（去蘆）　甘草（炙，各二兩）　荊芥穗（一兩半）　蟬蛻（去大腳，一兩）</p>
<p>上件一十五味㕮咀，每服一大兩水，小小盞湯，使在前。</p>
<p>議曰：此方解利心經邪熱，心與小腸受盛，小腸乃水竇，常宜通利，壅則結，滑則脫，熱則澀，盛則淋，平涼心經，三焦自順，不待疾作而解，症成而療者，疏怠</p>
<p>有之矣。一十五味加湯使在前，才覺蘊熱、客熱、寒</p>
<p>邪風邪，胃入肺經，心將受之，心不受觸，傳於小腸，或閉或澀，或赤或白，淋瀝不通，榮衛不順，壅之作疾，其發多端，以至鬲熱，眼目膻赤，唇口白瘡，津液不生，涕唾稠盛，雖在表裏，俱得其宜，驚風悉能散化，痰熱亦自消除，連翹之功，不虛設爾。</p>

<h3>梨漿飲（治症在前）</h3>
<p>青篙（取花頭，用童子小便浸一二次，日乾為度）　柴胡（去蘆）　人參　黃芩（去心）　前胡　秦艽（去土）　甘草（炙）</p>
<p>上木分㕮咀，每服一歲兒半兩，兩歲一兩匕，水小小盞，入生藕、生梨（梨條亦得）、薄荷二葉、生地黃一寸，同煎至半，去滓，通口空心食前服。兩滓並煎作一服。</p>
<p>議曰：此方治脾積寒熱，其狀如瘧，乃由脾氣陰陽相勝故也。其寒在先，陰勝於陽；其熱在後，陽勝陰。陰陽循之，經絡傳歸於本，依前復作，不越三日而止。重則頭痛嘔逆，久則二三歲不歇，左脅有塊。</p>
<p>小者如桃李，大者似壞堞，治法下去症積痞塊，自</p>
<p>消，然寒熱亦未能自解，宜先與服梨漿飲，連滓並三服，定去寒熱了，方可下積，問之，藥性寒涼，何以御之，答曰，所謂先寒後熱，猶陰陽勝伏，遁相更變，陰積陽虧，逆之致反，故寒極熱生，熱極陰作，反汗自汗，表有少解，氣聚復作，氣虛愈重，所服梨漿飲，以毒攻毒，藥用青蒿，以寒禦寒，其熱不有，寒必無加，自然藥與衛，陰與陽合，寒熱再潮，未之有也，和梨漿之功，妙哉絕倫，稍能知用，無不得安，若患三載，不過兩服，曾經十年，只以此方，妙用至純，使人欽歎而已。</p>

<h3>正氣調胃散</h3>
<p>治嬰孩小兒八種虛痢作熱，或吐或瀉，發熱霍亂，上下氣不復常，心虛煩悶，木作熱，並不可加用寒涼之藥，宜與服此方正氣調胃散，兼生熟飲子。如不納食，宜服參氣紫蘇飲子。正氣調胃散良方。</p>
<p>厚朴（一兩，生薑和皮二兩搗，壓在鉢中一二宿，常番轉取二日，乾，慢火炒）　半夏（一兩，洗去，浸七次）　白扁豆（炒）　藿香葉　陳皮（各一兩）　甘草（炙）　薏苡仁（炒，各半兩）　白茯苓　白朮</p>
<p>上為末。每服一錢匕，水小小盞，生薑二小片，棗子同煎。</p>
<p>議曰：吐瀉作熱，由其陰陽不順，邪正相干，臟腑不和，上吐下瀉。又有只吐而熱者，又只瀉而熱者，皆是運動真氣，上下不升降。又吐瀉俱作曰霍亂，其兒陰陽二氣不正，臟腑愈虛，且吐且瀉，加之盛也。不爾，風生作疾，候變即慢脾風。病家不知其理，醫工罔究其詳，古人不述其微，致後學必招利害。今知吐瀉疳痢，熱自裏虛發作，豈可解利其表。若也攻裏，由虛生虛，循此調理，可得其宜。大小一同，輕重盡善，至理之言，明智可鑑。</p>

<h2>議吐瀉詳症六法所治</h2>
<p>議曰：脾不和即胃不生，榮不足即氣不正。胃乃脾家之本，榮乃衛室之根，根本堅固，百虛不作，表裏充實，諸邪不入。治法服藥有六：合分水穀，即與五苓散服；合退暑氣，即與香薷散服之；合均陰陽，即與既濟丹服之；合溫脾胃氣，調順三焦，去濕，即與理中丸服之；合平正五臟氣，散虛溫中，即與正氣調胃散服之；合溫中脘，醒脾和胃，去虛助氣，開胃進食，即與分氣紫蘇飲服之。以上六症，用藥皆和，調順臟腑，且臟既溫亦和，既正且順，熱之一等，自然釋散。此示症候萬一，不可直便用寒涼藥退熱。若將熱藥止吐與瀉，攻發陰陽二氣差錯，致作風生，逐急醫風，又投涼藥，取次施為，皆為乖繆。由是吐瀉之熱，不可用以寒涼，或致反誤，利害應時矣。</p>

<h2>議潮熱有五</h2>
<p>一因傷寒之後，餘毒不解成潮熱，宜服脫甲散，兼小柴胡湯。</p>
<p>二因痞氣有塊，陰陽不均成潮熱，先服梨漿飲，次三稜煎丸。</p>
<p>三因症積食傷冷滯，脾胃不和成潮熱，先服脫甲，次拓氣下之，後調胃。</p>
<p>四因陰陽不和，臟腑虛怯成潮熱，或胃暑濕脾瘧成潮熱，單服煨薑散。</p>
<p>五因瘡疹後，餘毒不解成潮熱，宜服大連翹飲子，更與助胃氣。</p>
<p>議曰：潮熱謂熱來之有期，或一日一發，或兩日一發，或三日一發，不越三日，先寒後熱，正定來者易治，亂日者難理，疾起脾胃，即是瘧候，同出而異名，只有單熱潮發之作疳，長作勞，若症積傷冷，積滯痞氣，皆腳冷渾身熱，若有蟲積，其肚亦熱如火，凡兒有患腳冷肚熱者，便與下之，須量熱輕重，分數而利，有蟲多者取之，少則安之，取蟲宜在於春旺冬實之時，其或兒壯蟲盛，不拘此說。</p>

<h2>議痢熱</h2>
<p>凡小兒患痢之時未熱，久則氣虛，其臟腑虛極作熱，此屬惡候。才見痢候作熱，此兒臟腑虛弱，同於虛熱主治。其或三焦熱，引飲不歇，四肢浮腫者，理宜溫補臟腑，散除濕氣，喘則難治。凡痢熱、疳熱、吐瀉熱，並不可發散退熱，不任寒涼藥，但理其病源，調其臟腑，和其榮衛，主其胃氣，令進飲食。次與痢藥服之，參酌赤白多少，膿血相雜，裏急後重，用行血、厚腸胃、和中脘、溫臟腑，其熱自然退愈。凡兒患痢，不問輕重，悉禁葷腥、冷熱、炙爆、醃藏應毒之物。若恣口腹，愈而復作。若也求安，須用戒絕之矣。</p>
<p>議曰：幼幼患痢，悉由積毒而受，虛熱而發，三焦不和，五臟蘊伏，冷熱相攻，陰陽反逆，是以作疾，腸胃洞虛，所言正患之時，不熱稍愈，其體溫壯，眾莫能知，此等皆由勞其形，役其氣，食其毒，觸其臟，餘毒不化，所以作熱，隱伏於百脈經絡之間，與由歸本，若更逐抑，何得而安，所用正氣謂胃，智者默而唯然，疳痢之熱，安自內和，若和則上下氣相承，表裏相順，使飲食以自然而然，行坐以快樂而樂，是謂和矣，其或感眉垂首，桎腹操臍，撼體拘攣，焦唇煩躁，皆由不和也，所欲和者，食飼粳粟，藥餌參苓，蔥湯滌，臥避風濕，仍常以肛調胃散與服，雖疾無加，惟熱必愈，能禁能戒，且安且樂而已。</p>

<h2>議積症</h2>
<p>應諸家方書並不言盡者，蓋所患只因五臟受病，從陰成積。其脾主食，由食生冷果子，甘甜熱毒亦物，積在中脘不化，久而成疾，故名曰積。積之為患，有輕有重，其類多端，病候不一，豈可概舉。凡小兒有積熱，無不肚熱腳冷，要知輕重，但約肚熱為之分數。其肚有及七分脹，五分熱，亦有三五分脹，七八分熱者，盛則兩脅膨脹緊滿。既有此症，須審其候，方可服藥，庶不致誤矣。</p>
<p>議曰：固積病久，傳作腫脹。小兒腫脹之病，下項諸症，皆由積毒患不治，而漸變作症候，隨其輕重所發，是以不同。應小兒食肉太早，無不有積；因積不化，無不成疳；飽飫過度，無不氣脹；由脹受濕，無不發腫。頭面腳手虛浮者，濕在於脾，理脾去濕，隨手退愈。若腹肚脹腫光膨，盍急至於作喘，所謂乘虛入腹，與疾難醫，不可容易轉動臟腑，須究榮衛虛實。若虛及分數，先宜調中，理其固實，方可疏利。若理不能充實，則壞症虛敗，豈可轉動，不惟無益，恐涉深害。</p>

<h1>卷之十七</h1>

<h2>總論腫脹</h2>
<p>腫脹二症，此由虛中有積，久患失治，漸傳作症候，傳化多端，隨虛實，按輕重，察盛衰，審表裏主治，先固其本，後正其標，得無恙矣。</p>
<p><u>腫</u></p>
<p>受濕腫（腳手面目虛浮）　食毒氣腫（腹肚腎蠱脹急）　傷寒虛氣入腹腫　瀉痢虛氣入腹腫　氣虛腫　血虛腫　榮衛俱虛腫</p>
<p><u>脹</u></p>
<p>疳氣脹　疳極脹　疳積脹　氣積脹　痞氣脹　癖氣脹　症積脹　鎖肚脹急　上鬲脹　中脘脹　食傷膨脹　蛔蟲脹　脾氣脹　冷積脹　虛積脹</p>
<p>以上腫脹虛積，併當下之，用藥各有法度。</p>

<h2>議腫</h2>
<p>受濕腫。傷寒虛氣入腹。食毒氣腫。瀉痢虛氣入腹。</p>
<p>議曰：此四種所患，病不相同，皆由虛盛而得之。受濕，謂脾胃受濕冷，久不剋化，氣浮四肢，頭面皆腫。食毒氣，由脾胃傷之，冷積毒氣，停留胃脘，致虛入腹作種。傷寒，由下之大早，乘虛入腹作腫。瀉痢之久，脾氣亦虛，是以致腫。以上宜平調胃氣，補臟充實，方可去腫。先服四味理中丸，減半乾薑，加白朮、桑白皮同煎。傷寒虛腫，加枳實。作喘，加淡豆。瀉痢虛腫，服正氣調胃，胃氣既壯，以救生丹利之，其腫即退。再調補臟腑，用觀音散，良益固平復矣。</p>
<p>氣虛腫（亦名氣蠱）　血虛腫（亦名血蠱）　榮衛俱虛腫（亦名氣血蠱）</p>
<p>議曰：小兒所患腫脹一門，最為要急，前人少有究竟。然腫脹已作，皆由榮衛不順，臟腑怯弱，壅滯三焦，流注百脈，表裏俱虛，邪正相亂，所以致受。四大浮盛，腹肚膨滿，多由食毒得之，飲食得之，症傷得之，饑飽得之，積久不化，諸虛所入，故成斯病。病由虛得，或則妄亂通下，因虛致虛，根不能去，疾加已盛，是謂壞證危候。智者怯而為辭，庸者暴以攻擊，二醫不同，誠屬難治。原夫智者商之，謂商量斟酌輕重。良者審之，雖曰良工，由宜審其可否之意。疑者塌之，疑其病盛不可利，只宜與塌其氣。明者起之，明其虛實已定，良方起活，謹遵其理，始可調治。藥用至真，對症克效，即無恙矣。</p>
<p>以上先與服榮衛飲子，次服分氣飲子。</p>

<h3>榮衛飲子</h3>
<p>調補嬰孩氣血俱虛，榮衛不順，四肢頭面手足俱浮睡，以至喘急者，並宜服榮衛飲子良方。</p>
<p>川當歸　熟乾地黃（淨洗）　人參　白茯苓　川芎　白朮　甘草（炙）　白芍藥　枳殼（研，別製）　黃耆（蜜炙）　陳皮</p>
<p>上等分，㕮咀。每服二錢匕，水小盞，煎至半，去滓，通口，不拘時候。</p>
<p>議曰：榮者，血溫流行於脈；衛者，氣順調和於絡。是故榮行脈中，衛行脈外，陰陽相安，循環無正。自幼至長，不離呼吸，無少滯礙，其脈方調，其氣乃順。呼吸之間，脈不應息，氣有違滯，流注經絡，隱伏臟腑。虛熱則發癰疽背部，實熱則患瘡痍瘑疥。況其榮與衛，陰及陽，偏枯有作，易感寒邪，亦易致虛，百病皆由茲始，此方最良。雖兒幼小，並可與脈以肚其根。血榮氣衛，順且和矣；腑寒臟虛，溫且壯矣。盈虧自然而平，法弱自然而正，陰陽調均，氣脈充實，乃曰妙工。</p>

<h3>分氣飲子</h3>
<p>調理小兒腫脹作喘，氣短促急，坐臥不任，四體浮腫，飲食嘔逆，神困喜睡，宜服分氣飲子良方。</p>
<p>五味子　桔梗　白茯苓　甘草（炙）　陳橘皮　桑白皮　草果（去殼）　大腹皮　白朮　枳殼（去穰，切，炒）　川當歸　紫蘇　蘇子　半夏麯</p>
<p>上等分，㕮咀。每服二大錢匕，水小盞，生薑二小片，棗子半個，煎至半，去滓，通口，不拘時候。兼八味理中丸煎服。</p>
<p>以上宜用救生丹通利。</p>
<p>議曰：清濁無混，邪正不干。上焦得之清涼，下部受之溫暖。氣滯則少升降，血虛則多流注。雖是乳子，呼吸一息，其脈有至，徐徐應指，不違其數者，亦同大人流行，但隨小大受之短淺而已。若也留滯，其脈遲數，於病大過不及者，有作善主療治。鬱則分之，逆則順之，停則利之，滯則降之。調理之法，先宜以順其氣。大抵嬰孩氣順即易治，脈壯亦易理。證候梢傳，鬱逆停滯，當以先明，不待傳入而後究竟。此方分氣，預宜進益，與分水穀之分者不同為用。明者察之，致迂曲。</p>

<h3>大效神功救生丹</h3>
<p>治小兒氣虛喘息，四肢浮腫，腹肚脹急，衝滿脅肋，乍熱乍寒，或瀉或秘，皆由久停虛積，榮衛不順，宜用推去其惡毒之氣。神功救生丹良方。</p>
<p>雄黃（令研）　朱砂（各一分，令研）　巴豆（二十一粒，去殼）　乾薑（二錢）</p>
<p>上用水醋一盞，以巴薑就煮令乾，去薑不用，將巴出油，和推朱研勻，雪糕搜丸，如麻子大。每一歲三丸，並用酒浸赤為藥，以少許送下。</p>
<p>議曰：夫幼幼受疾，其來發端，無過驚風痰熱，疳積吐利而已。前賢眾多，述論症候，編者方藥，究竟推詳，各有確實奧見。其有無辜疳積，異作症候，著千篇集，或有罕見其症，未詳其理者，盡世難測難知，如龜胸決肋、猢猻禁是也。又復有壞症惡候，自服諸家丸散，輕重桐投，愈之不得全功，疾之加為他害，提脾風之類是也。悠悠既久，方法何宜？學醫之士，遇此等病，未嘗告辭而屈。若能此附，觸類調理，雖則未效，猶尚庶幾，多是肆臆，勉強而為，稍或得失，利害甚重。今議救生丹方，載譚氏所療無辜積</p>
<p>議，效驗至良。晚進後生，聞而知之，且驚且喜，蓋渠未嘗知用。若也參究，而又意到，即參功以副全功，然後乃謂神乎微乎，其妙至理。醫工於此等症候，須當至誠施設，活幼起孩，十舉十全，百發百中矣。</p>

<h2>議脹</h2>
<p>疳氣脹。疳極脹。疳積脹。氣積脹。</p>
<p>議曰：小兒患疳症候，皆由虛所傳積，乃為母積。既已作虛氣傳授，逐成疳疾。其名數種，皆漸所致，不可更與通利，尤加重候，即宜和益，消疳調氣。若尚有虛積，便白後重，當兼塌氣以去之。先與服神功保童丸，以至泄氣為快。既泄，虛氣即散（放臭屁是也），不傷其氣，功效至良。應患疳積，便利無度，大有功效。</p>

<h3>褐丸子</h3>
<p>治小兒陰陽不和，臟腑怯弱，乳食不消，心腹脹滿，嘔逆氣急，或腸鳴泄瀉頻並，腹中冷痛，食症乳癖，痃氣痞結，積聚腸胃，或秘或利，頭面腫滿，不思乳食。乃療五種疳氣，八種痢疾，飢肉消瘦，氣粗腹大，神色昏憒，情意不樂。常服散冷熱氣，調和臟腑，去疳積，止瀉痢，進乳食，生飢肉，悅顏色，功效非常，不能縷述。褐丸子良方。</p>
<p>蘿蔔子（二兩，微炒）　陳皮　青皮（去白，各一兩）　黑牽牛（一兩半，半生半炒爆尤佳）　京三稜（炮，一兩）　蓬莪朮（包兩）　胡椒（半兩）　木香（三分）</p>
<p>又一方，加胡黃連半兩，苦楝半兩，蘿蔔子只使一兩。</p>
<p>上為細末，麵糊為丸，麻子大。每服三五十丸，煎蘿蔔湯下。</p>
<p>議曰：症候不明，醫之過也；丸散不良，士之繆也。去醫裁藥，審證察候，猶若權衡，以究標本，醫藥純全之道。凡調理小兒雜病，須究疳證積候，乃五臟所</p>
<p>傳，及至變作他患，殊失源流，迷而不反，所以作疾。</p>
<p>此方最善寬腸下氣，散結去鬱，其疳與積，已作米作，順傳逆傳，並皆宜服，功蓋常方，大厚腸胃，充實臟腑，按症所療，無不剋效。京輦之下，作疳藥貨賣，名聞四方，活幼多數，今不隱藏，故述詳悉，請敬用之。</p>
<p>痞氣脹　癖氣脹　癥積脹</p>
<p>議曰：痞癖之氣，同根異名，作疾有塊，皆在左脅，男女亦同。然痞者陽症，癖者陰症，緣小兒脾胃不和，陰陽二氣交錯，冷熱相制，皆由積之所致。故先寒後熱，一如其虛，汗出則息。若先下卻其積，則熱往往不去，及增加重，而又作腫，虛滿頭面。凡兒有是疾，醫者不可輕易投砒治之。其砒有大毒，衝胃三焦，作渴引飲，水停在脾，脾屬四肢，亦作浮腫，重則致喘，煩躁虛悶，倦怠不安。砒之為藥，豈可妄投？宜先與服黎漿飲，加湯使如法，取令寒熱退，三五日了，卻與三稜丸，磨化積毒，以利為度，去其根本。若未通，更服。</p>

<h3>三稜煎丸</h3>
<p>治嬰孩小兒，食傷生冷黏膩熱毒等物，脾胃積滯，久不剋化，令兒肚熱腳冷，痞癖寒熱，及療癥瘕，中脘不和，膨脹上膈，氣壅心腹，不得宣通，所以作疾，此藥溫良，但是諸積滯食不化，並宜與服。三稜煎丸方。</p>
<p>京三稜　蓬莪朮（並炮，各半兩）　羌花（一分）　鱉甲（去裙，米醋炙令焦，半兩）　淡豆豉（二兩重）　巴豆（二十一粒，去殼）　川當歸（半兩）　杏仁（去皮尖，一分，令炒赤）</p>
<p>上前六味，一處以米醋一碗，煮令乾，仍就炒起，更細截，焙為末，次入當歸末，又入杏仁、巴淡豆和勻，水煮麵糊為丸，麻子大。每服二十丸，生薑湯下，大小加減服之。</p>
<p>議曰：此方亦名消痞丸，又名化積丸。其藥破氣行血，和脾開胃，應痞癖癥瘕，諸積氣滯，並皆療之。噫！調理嬰孩之法，預究脾胃之源。脾胃者，乃飲食之臟腑也。古云：人無根株，飲食為命。然飲食之物，有所宜，則穀氣消，血脈勻，則肌膚壯，精神爽；有所不利，則腸胃虛，肢體瘦，面目黃，疾病作。是以藥固臟腑，其胃氣和，即穀食自然留之；其脾胃壯，即穀食自然磨之。若飲食遲化，即氣弱；飲食不化，即氣虛。小兒服此，初安臟腑，次益肌膚，三焦既順，百脈俱調，效驗至良，醫痞第一。</p>

<h3>鎖肚脹急</h3>
<p>議曰：此一症候，兒在胞胎中無恙，只由初生七日內，有患觸受而成，急如水火，其作延久，漸見加重，以至肚上青筋撮口不乳，其候甚速，得名脹急。其兒感觸邪氣，入腹衝心，不能自化，遂變風候，及至成風，不可更投藥餌。雖然鎖肚撮口不乳，其色未變，精神未亂者，速便下藥，以通為度，方通便安，功效至聖，無可疑者。兒已獲安，吻乳如法，漸次氣肚肉重，歡悅可愛，宜服真珠天麻丸（方在前急驚證內）。</p>

<h3>附：初生鎖肚撮口施藥法說</h3>
<p>夫人才生下男女，忽有一症，男在三五七，女即二四六日，奇偶之有數，陰陽之顯道者，遂感客忤，邪正相干，令兒肚緊青筋，禁口不乳。此由客情外來，致襲其邪，陰陽不順，胃觸其正。（初生男女，氣脈未定，精神未全，不經邪氣，所以古人禁客一臘，遠其此禍。）邪謂淫欲交適，殺氣侵臨。（應非禮不正之屬，總皆邪屬。）上古醫家，著述繁雜，難窮至要，世俗雖有加文，理無灸法。（血氣方生，豈固經絡，若以艾炷，即為虛設。）既受此厄，越日移時，母泣父啼，痛心待斃，咸謂傷嗟，誰可與活。僕參執幼科，傳授四世，寅緣回祿之難，淬遜三紀。一日扣遇高明，深詰其妙，方藥秘傳，屢用獲處。嗚呼！天地生萬物，惟人尊貴，人能稽仰於天地之間，且天地豈特害於人，自是事在遇不遇之如此，稍有感傷悔怨，執滯於人情者多矣。僕輒行小惠，普濟初生，躬對神聰，選材修合。其或高下民戶生兒，有被此難，無問輕重，不拘早晚，施與良餌，決定保全，頓然蘇活，豈小補哉！</p>
<p>上膈脹　中浣脹　食傷膨脹</p>
<p>議曰：膈與浣上下相承，膨與脹輕重自別。脘受疾久則痞悶，膈作病停則鬱結。是和膈隱胸堂，脘臨脾胃。膈者，猶隔也，有如隔礙。脘者，猶管也，通即流利。二位皆由食傷宿冷，眠臥過時，停滯氣不順於三焦，怯弱脈虛傳於五臟，所謂脾不磨，食不化，胃不開，食無益，所以膨脹。若於膨脹之時，不與消利，遂致虛滿。又於虛滿不為疏補，其氣即攻中脘。又於中浣不化，即冒上膈。既在上膈為疾，必作形症，傳即為重，醫莫容易取愈。食傷膨張，宜服三稜煎丸。中脘痞脹，宜服王氏塌氣丸。上膈鬱脹，宜服大茱連丸。</p>

<h3>大茱連圓</h3>
<p>治小兒飲食過度，膨脹胸膈，上下氣不宣通，鬱滯迷悶，情思少樂，大則作喘，強食不化，作渴煩躁，坐臥不任，肢體倦怠，腹脅疼痛，宜服大茱萸丸良方。</p>
<p>蓬莪朮　京三稜（各一分，醋煮）　乾薑（炮）　青皮　陳皮（並去白）　木香　丁香（各二兩）　巴豆（二十一粒，去殼心膜，出油）　緣小細茱萸（二錢）</p>
<p>上為末，醋糊為丸，麻子大。每服七丸至十丸，大者加服，生薑棗子湯下。</p>
<p>議曰：痞鬱結注，所因脾胃飲食生冷黏膩，積氣不化，滯在胸膈，乃總名上曰三焦，下曰三浣，上下相貫，來去相侵，虛處所受，弱處所發，致疾乃因久不剋化，成害或由常不宣通，癥瘕痞癖，積之所由至，疳痢吐瀉，積之所因作。今用此方，大寬胸膈，平厚腸胃，正氣溫中，消疳磨積，能止吐瀉，進美飲食，藥有神功，尤宜察症。</p>

<h2>蛔蟲脹</h2>
<p>議曰：此症候作，與脾氣、冷積、虛積大抵相似。然小兒腹肚緊脹，天明吐津沫，要羹肉吃方少安，乃蛔蟲候。脾氣多噎逆，飲食不下，虛中有積，腹緊吊痛，冷積脹緊，膨滿心腹，不仕坐臥，兩脅心鬲上下攻刺疼痛，內蟲痛脹，先與下蟲丸殺蟲，其蟲困，次與水晶丸推下，餘症各與調胃藥服，卻推下積，宜服小兒沉香煎丸。</p>

<h3>小沉香煎丸</h3>
<p>乳香　沉香（各一錢）　肉豆蔻（一個，煨）　杏仁（一兩，炒）　百草霜（一分）　木香　丁香（各一兩）　巴豆（十四粒，出油如霜）</p>
<p>上為末，煮酒封頭，蠟和為丸，如綠豆大。每服三五丸，淡生薑湯迸下。應患肚痛不止，服之功效。常服以通為度。</p>
<p>議曰：此方乃感應丸加沉、乳二藥是也。療小兒虛中積症，症積疳疾，冷積食積，脾氣乳積，腸胃久虛，臟腑中脘不和，痞氣鬱結，或瀉或痢，或嘔或噦，腹肚疼痛，兒體虛羸，不堪動轉者，並與服之。其方此真珠丸等，取積大不同耳。只恐服此未能能通利，若也通利，誠為之幸。乃曾遂虛存實，和脾生胃之藥，功無加諸。</p>

<h3>下蟲丸</h3>
<p>治小兒多蛔蟲（亦名食蟲）　苗蟲（亦名疳蟲）　胃蟲（亦名血蟲）　並宜服下蟲丸方。</p>
<p>鶴蝨（炒，一兩）　光粉（炒，二兩）　膩粉（二大兩）　使君子（一百個，炒）　檳榔（一分，生）　龍牙根（一錢）　貫眾（子卯酉日採取者方驗，綠色者佳，二兩）　龍膽根（二錢）　苦楝根皮（酒炎，二錢）</p>
<p>上為細末，水煮麵為丸，如麻子大，每服三五十丸，空心食前甘草湯下，或以楮肉清汁羹與服尤妙。</p>
<p>議曰：小兒疳積蟲積，皆由食肉大早，脾胃本弱，受之不磨，症傷不化，何況更加肥膩冷硬之物，腸胃虛怯，肉積生蟲，只有三種：蛔、苗、胃也。蛔多，令兒喜食滋味內脯之物，腹肚緊脹，心胸膨滿。苗多，令兒清瘦神困，肚脹青筋，疳氣漸盛，腸鳴瀉臭，食即嘔噦。胃多，令兒喜食酒肉，食不生飢，常作困遁，嗔脹脅肋，煩躁迷悶，眠不安席。並宜服此，真蟲自化，盛用利下，仍須調胃和氣助之。</p>

<h1>卷之十八</h1>

<h2>小兒傷寒</h2>
<p>小兒傷寒症候。止議三種。乃為正要。有正受夾驚夾食。前述傷寒。並用脫甲散。其病既分三種。須當究論輕重。鼻塞小便赤。咳嗽關竅不通。壯熱麵紅。頭疼體重。渾身手足俱熱。</p>
<p>凡治小兒正受傷寒。及感寒邪傷風諸症。宜服人參羌活散。小便赤色。或心神不寧。病在表裏之間。或再復發。宜與小柴胡湯一二服。</p>
<p>凡治小兒夾驚傷寒。神困昏悸。頭疼氣粗。宜服王氏杜薄荷及消風散。</p>
<p>凡小兒夾食傷寒。即先與微利。次與脫甲散。或人參羌活散下之。紫霜丸為上。取微利為度。大抵小兒傷寒。不可重表。亦不重下。亦不可並發表下之理。今兒虛乏困重。即成壞症難療。</p>
<p>議曰：凡小兒傷寒，雖無多事，須是認症分明，應傷寒傷風，只可表，惟有夾食，宜用下之。凡夾食傷寒，腳微冷，似有積症相類，但此等傷寒，自是不同，不可不問，知其端的，然後次第進藥，仍丁寧病家，令避風濕，與忌生冷，勿令強力，無恣飽食，恐勞胃氣，其病再復。旦醫家調理，即須審度，無有是瘡疹盛時，及左右鄰舍，有無所患之者，若或有之，亦不妨事，但表解藥與服，不可妄投驚藥，餘無恙矣。惟有壞症，蓋由前人用藥不當，撥亂陰陽，故致為壞，或因觸受風邪，故致為壞，或因強力食毒，故致為壞，或用冷溫傷經絡，故致於為壞，壞則難極，治醫學宜乎疚心而已。凡小兒傷寒候，惟有咳嗽一症，不為容易，若有此症，宜服人參枳實湯，克效萬一，勿可攻擊，善醫者察之為良。</p>

<h3>大效人參枳實湯</h3>
<p>治嬰孩小兒傷寒，復氣不和順，喘急咳嗽，胸膈鬱塞，日夜煩悶，神困力乏，不思飲食，仍療虛痰煩滿，頭目昏暈，但是傷風感冷咳嗽，並宜服之。</p>
<p>枳實（四個，米泔浸，去穰，切，麩炒）　桑白皮　半夏（湯洗七八次，切，仍以參汁浸）　甘草（炙）　白茯苓　款冬花　五味子　阿膠（麩炒）　細辛（各半兩，去）　人參（一分）　麻黃（去節）　苦梗（各半兩）</p>
<p>上㕮咀，每服一小撮，水小盞，生薑三片，棗半個，烏梅少許，同煎至半，去滓，通口服，二滓並煎。</p>
<p>議曰：小兒傷寒作熱頭痛等症，或已發散退熱，或已化痰定喘，或已安神定志，或已開胃進食，兒孩平復，父母忘憂，喜之甚善。尚有一症，日夜咳嗽，多方不愈，良由元受邪氣入肺葉內，無能得出，不堪吐利，何由而安？凡兒傷寒後及感風咳嗽不愈者，宜服此方。湯使煎，煎如法，碗盛盞蓋，將口就吸，徐徐服之，不過三五次瘳痊。此方瀉肺補氣，寬膈化痰，滋潤五臟，和益三焦，不惟理嗽調中，更善。</p>

<h3>小兒驚熱風痰</h3>
<p>議曰：此名四症，已述前篇，兼載八候續之。今復舉驚熱，或並風痰未發，陰陽二癇之前，醫者即先與化痰御風，退熱利驚，如此遂病推究，不惟繁難，乃無法所治，是故艱於療理。若已向病，於症何憑？凡此回症相隨，不可攻其一也。利其驚則風縱，退其熱則痰壅，久尋茲理，未究盡善。忽一日省悟錢氏方宣風散，正為此等兒孩病，設有痰即壅，有熱即閉，有風即隘，有驚即悶，昏昏沉沉，輕藥不能散，重劑恐傷害，但與服疏風散（較之宣風，只欠一味），一服之間，風痰驚熱，悉皆消去，神情慶悅，四體和安。觀其此藥，似有狼虎困之，即和順。惟痰利驚，散風解熱，只與一服，不移其時，可見功效。嘗見醫工調治此等症候，多是疑惑，進退怯懼，若過其時，延其日，則候傳變，驚目驚作，風自風生，痰自痰壅，熱自熱聚，或急或慢，八候相從，反復傳變，遁互發越之時，不可得而進此藥。然疏風所療四症，相待如賊，方會極力一衝，盡便散敗，不致作害。及其聚而自散者，流入諸經，或絡或經或脈，故作搐搦引掣等候矣。</p>

<h3>大效疏風散</h3>
<p>治嬰孩小兒驚熱風痰四證，結聚於胸臆之間，令兒昏困沉重，關竅不通，諸脈氣閉，所以默默欲食不食，欲起不起，倦伏不知其症候者，但不經吐利，宜與服之，立見蘇省。大效疏風散良方。</p>
<p>錦紋大黃（緊實者，三兩重）　雞心檳榔（二重）　舊陳橘皮（去白，二兩）　朴硝（一兩）　黑牽牛（一分半，熟）</p>
<p>上五味為末，每二歲兒服半兩匕，三歲一兩匕，先用生蜜調就，次煎薄荷湯點與服，不拘時候。</p>
<p>議曰：風痰在上即吐，在下即瀉（諸鬲上下也），一服之間，決定安樂，未可便投他藥，恐相致誤。常人只和用腦子、麝香、參、苓、朮、附（香附子），無擔負之藥，似此四症，如何和順調理？</p>

<h2>疳疾症候方議</h2>
<p>議曰：五疳八痢，本經所載詳明。然究竟疳在五臟五病，故有五名。及其順逆相傳，變動臟腑，則病不循症候而作者，豈可以五疳為數，八痢為拘？疳者，始自於疳；痢者，起自於痢。疳以飲食不節，過傷脾胃；痢即脾胃虛弱，而受積毒。治疳之藥，理脾胃，溫中補氣，消疳煞蟲；治痢之藥，理腸胃，去濕調中，滋血和氣為上。</p>

<h3>大效使君檳榔丸</h3>
<p>治嬰孩小兒食肉太早，傷及脾胃，水穀不分，積滯不化，疾作疳氣等候，宜服大效使君檳榔良方。</p>
<p>肉豆蔻（兩個，炮）　檳榔（一個，生）　宣連　胡黃連　陳皮　青皮　川楝子肉（炒）　蕪荑（炒，去皮）　神麯　麥芽（並炒）　木香　夜明砂（炒，去土）　蘆薈　川芎（各一兩重）　麝（一字）</p>
<p>上為末，獖豬膽汁、薄荷為丸，如麻子大。每服三五十丸，溫飯飲下。</p>
<p>議曰：積是疳之母，所以有積不治，乃成疳候。又有治積不下，其積存而臟虛，成疳尤重。大抵小兒患疳，泄瀉無時，不作風候者何？惟疳瀉名熱瀉，其臟腑轉動有限，所以不成風候，雖瀉不風，亦轉它症。作渴虛熱，燥煩下痢，腫滿喘急，皆疳候虛症。古云：疳虛用補虛。是知疳之為疾，不可更利動臟腑。發作之初，名曰疳氣。腹大脹急，名曰疳虛。瀉痢頻並，名曰疳積。五心虛煩，名曰疳熱。毛焦髮穗，肚大青筋，好吃異物，名曰疳極（受病傳臟已極）。熱發往來，形體枯槁，面無神彩，肉無血色，名曰疳勞。手足細小，項長骨露，尻臀無肉，肚脹臍突，名曰丁奚。食加嘔噦，頭骨分開，作湯引飲，蟲從口出，名曰哺露。此皆疳候。</p>
<p>又因多食生冷，疳黏肥膩，積滯中脘不化，久亦成</p>
<p>疳。治疳之法，量候輕重，理其臟腑，和其中脘，順其三焦，使胃氣溫而納食，益脾丸壯以消化，則臟腑自然調貼，令氣脈與血脈相參，肚筋力與骨力俱健，神清氣爽，疳消蟲化，漸次安愈。若以藥攻之五臟，疏卻腸胃，下去積毒，取出蟲子，雖曰醫療，即非治法。蓋小兒臟腑虛則生蟲，虛則積滯，虛則疳羸，虛則脹滿，何更利下？若更轉動腸胃致虛，由虛成疳，疳虛症候乃作，無辜之孩難救矣。</p>

<h3>胡黃連丸</h3>
<p>治嬰孩小兒一切症候，及一切虛痢，他藥無功，此藥極效。胡黃連丸方。</p>
<p>胡黃連　蘆薈　草黃連　肉豆蔻（炮）　桂　人參　朱砂　麝（一字）　史君子（去殼）　木香　弔藤　龍齒　白茯苓（以上各一兩重）</p>
<p>上各生用，為細末，取獖豬膽兩枚，裂汁和末令勻，卻入袋內盛之，以繩札定，湯煮半日取出，切破袋子，更入莨宕子二兩重（微炒），黃丹（一兩重），二味別研如粉，入前藥和勻，搗五百杵為丸，如綠豆大。但是疳與痢，用粥飲下五七丸子，幼者三丸，不吃粥飲，乳頭令吻，能治一十二種疳痢及無辜者，功效非常。</p>
<p>議曰：疳之疾危，發由於漸，痢之覆逆，傳自於延（延久為逆），初見其輕，言之曰常，後知其重，告之無門，是以疳痢皆由積毒，嬌恣口腹，因虛以致虛，用害而傷害，醫工見有此等，自是憂疑，病家欲得便蘇，豈無性急，更（音耕）遷取活，展轉愈深，或疳極而膠下痢，或熱盛而加作渴，或煩躁四體虛浮，或飲食一時嘔吐，常方不能安愈，快劑恐越傷和，惟宜服此。</p>

<h3>肥肌丸</h3>
<p>治小兒一切疳氣，肌瘦體弱，神困力乏。常服殺蟲消疳，開胃進食。肥肌丸方。</p>
<p>黃連（一分，去鬚）　川楝子肉（各半兩，炒）　川芎（半兩）　陳皮　香附子（各一分，酒煮，炒乾）　木香（二兩）</p>
<p>上為末，水煮細麵糊為丸，麻子大。每服三五十丸，溫飯飲下。</p>
<p>議曰：驚疳積痢，各分症候用藥。今有小兒患疳虛困，又作痢疾，二候相加，最為惡重。疳痢並發，臟腑虛乏之極，熱毒差重，皆係積之久滯。雖曰係積，無積可療，乃虛受之。然謂其虛，補之不及，所見其症，不得良方，以何對治？雖獲其方，不審其候，亦難療也。良由脈與病同，藥與症對，醫工運功，扶而起之，必得安藥。胡黃連丸無以加，諸肥肌良方亦佐勝。</p>

<h3>蘭香散</h3>
<p>治小兒走馬疳，牙齒潰爛，以至崩砂出血，齒落，看蘭香散方。</p>
<p>輕粉（一兩，重）　蘭香子（一兩，末）　蜜陀僧（半兩，醋滓為末）</p>
<p>上研如粉，傳齒及齦上，立效。</p>
<p>議曰：嬰孩受病，症候多疳，良由氣鬱三焦，疳分五臟，內有腎經，常虛得疳，名之曰急，以馬走為喻，治療頗難。此等一症，初作口氣，名曰臭息；次第齒黑，名曰崩砂；盛則齦爛，名曰潰槽；又盛血出，名曰宣露；重則齒自脫落，名曰腐根。其根既腐，何由理之？嗟吁！豪家育子，哺以甘肥，腎堂受之虛熱，或緣母在難月，恣味珍羞，令兒所招，即非偶然而作。今將秘方述於後：</p>

<h3>又方：傳齒立效散</h3>
<p>鴨嘴膽礬（一兩，重匙上煆紅，研）　麝（少許）</p>
<p>上研勻。每以少許傳牙齒齦上。（又一方。用蟾酥一字。加麝和勻敷之。）</p>
<p>議曰。血之流行者榮也。氣之循環者衛也。變蒸足後。飲食之間。深恐有傷於榮衛。而作眾疾。其或氣傷於毒。血傷於熱。毒攻之虛臟所受。何臟為虛熱。蓋小兒腎之一臟。常主虛。不可令受熱毒。攻及腎臟。傷乎筋骨。惟齒受骨之餘氣。故先作疾。名曰走馬。非徐徐而作。所宜服藥。耳露飲。地黃膏。化毒丹。消毒飲。其外症以前行立效散及麝酥膏傳之。切忌與食熱毒之物。此疳不同常症。乃係無辜有作。醫宜深究保全為上。若用常方。難擬愈活。</p>

<h3>獨活飲子</h3>
<p>治腎疳臭。息候良方。</p>
<p>天麻　木香　獨活　防風　麝香（少許，細為末，研和入）</p>
<p>上各一兩重，為末。每服一兩匕，小者半兩，麥門冬熟水調下。</p>

<h3>三黃散</h3>
<p>治腎疳。崩砂候良方。</p>
<p>牛黃　大黃　生地黃　木香　青黛</p>
<p>上等分為末，每服一兩匕，熟水調服。</p>

<h3>人參散</h3>
<p>治腎潰槽候良方。</p>
<p>肉豆蔻（炮）　胡黃連　人參　杏仁（炒）　甘草（炙）</p>
<p>上等分為末，每服一兩匕，小者半兩，溫熟水調服。</p>

<h3>檳榔散</h3>
<p>治腎疳。宣露候良方。</p>
<p>木香　檳榔　人參　黃連　甘草（炙）</p>
<p>上等分為末，每服一兩，小者半兩，熟水調服。</p>

<h3>黃耆散</h3>
<p>治腎疳腐根候良方。</p>
<p>黃耆（蜜炙）　牛黃　人參　天麻　蝎（炒）　杏仁（炒）　白茯苓　川當歸　生地黃（洗）　熟乾地黃（洗）</p>
<p>上等分為末，每服小者半兩已，煎天門冬熟水調服（麥門冬亦得）。</p>

<h3>地骨皮散</h3>
<p>治腎疳，齦齶牙齒肉爛腐臭，鮮血常出良方。</p>
<p>生乾地黃（半兩）　真地骨皮　細辛（各一分）　五倍子（炒令黑，二兩重）</p>
<p>上為細末，每用少許敷之，頻與功效，吃不妨。</p>
<p>議曰：本經所載疳症有五，謂五臟所受，故得其名。今述腎疳一臟有五症候者，最為要急，不可同常。此疾具陳有五種候傳，迅疾可畏，乃知走馬之號不誣。初發之時，兒孩口臭，上干胃口，氣息臭爵；漸進損筋，齦肉生瘡，或腫或爛，其齒焦黑；又進從牙槽肉發作瘡皰，破潰膿爛；又進熱逼入脈，時時血出，其熱注久，牙齦腐壞，槽寬齒脫，六七歲孩落盡，不復更生，豈可治療？今以妙方，宜速與，隨其傳變而理，不待疾作而後藥也。</p>

<h2>痢疾症候方議</h2>

<h3>豆蔻散</h3>
<p>治嬰孩小兒腸胃虛弱，糟粕不聚，瀉痢不止，或赤或白，冷熱不調，日夜頻並，愈而又發，宜服殢腸豆蔻散良方。</p>
<p>肉豆蔻（一個，煨）　胡粉（炒，二兩）　龍骨（生，一兩）　白礬（枯，一兩）</p>
<p>上為末。每服一兩，溫飯飲調服，不拘時。薄糊圓，麻子大，五六十丸。議曰：胡粉，即真鉛粉也。以鉛法造，出韶州，名韶粉，定州名定粉，總名光粉。其性殢，故用之以殢其腸，令不虛滑。豆蔻溫臟之藥，安和腸胃。龍骨、白礬，澀腸止痢。所患腸虛滑下痢，日夜無度者，服之隨時痊瘥。應葷腥之物，醃藏之屬，悉與禁止。亦治秋間白痢，至效。</p>

<h3>生熟飲子</h3>
<p>治嬰孩小兒虛積痢，腹肚㽲痛，下痢裏急後重，日夜無度，宜服生熟飲子良方。</p>
<p>罌粟殼（大者四個，一半炙，此一味去盡內瓣，浮楞之者佳）　陳皮（二片，半炙）　甘草（二寸，半炙）　烏梅（二個，半煨）　淮棗（二個，半煨）　生薑（二塊，指大，半煨）　木香（一兩，作兩片，半煨）　訶子（二個，大者，半煨）　黑豆（六十粒，半炒）　黃耆（二寸，半炙）　白朮（二塊，指大，半煨）　川當歸（二寸，半煨）</p>
<p>上件各半生半熟，㕮咀和勻，每服參兩，水小盞，入瓷瓶內煮去半，濾滓，任意與服，至多勿慮。所有生黑豆，不要打破，只丸全同煎，效。</p>
<p>議曰：病有冷熱，藥有生熟；病有陰陽，藥有造化；病有虛實，藥有君臣。按君臣以理虛實，分生熟而均冷熱，治療主本之法也，平和腸胃之方也，順益三焦之功也，安調五臟之至也。陰陽既分，冷熱既散，腸胃既厚，三焦既益，五臟既順，良由藥有造化。且水穀自分，榮衛自正，糟粕自聚，飲食自納，其瀉與痢，何患不愈？生熟飲子之功，乃盡天下之妙，不可忽。</p>

<h3>神效雞青丸</h3>
<p>治嬰孩小兒一切痢疾，神效雞青丸良方。</p>
<p>木香（一兩）　土黃連（一分，去鬚）　肉豆蔻（一個，大者生）</p>
<p>上三味，先碾為粗末，取雞子青搜藥作餅，於慢火上炙過，令黃色變紅者，稍乾擘破，碾羅為末，白麵糊丸，麻子大。每服三五十丸，溫飯飲下。</p>
<p>議曰：木香、黃連，一陰一陽藥。木香善導水利氣脈，黃連厚腸胃，二味君臣相佐，陰陽相順，加之豆蔻溫和臟腑，止瀉痢，功效彌良。凡兒患瀉與痢，不問症候輕重，並宜攙先與服，不問臟腑冷熱，愈多愈效。然雞青為物有毒，是以毒氣引藥致效，若去此一味，其功不作矣。</p>

<h3>大效至聖千金飲子</h3>
<p>治小兒脾積虛痢，便下五色，先由嘔吐，後作泄瀉，臍腹㽲痛，脅肋脹滿，受濕虛鳴，膿血相雜，下如豆汁，亦如瘀血，日夜無度，食少肌羸，宜服大效至聖千金飲子良方。</p>
<p>綿黃耆（蜜炙）　甘草　陳皮　罌粟殼（炙）　木香　白芍藥　地榆　川當歸　枳殼（制，炒）　黑豆（炒）　烏梅　淮棗　白朮　訶子（炮，去核，秤）　黃連</p>
<p>上等分，㕮咀，每服二兩，水小盞，煎至半，去滓，通口與服。</p>
<p>議曰：臟腑虛中加燥，故患熱痢；或爾虛寒，乃患冷痢；或由暑氣，胃之水穀不分；或受濕氣臨之，腸胃有作；或因食毒傷脾肺；或因宿冷停積臟腑；或觸因表裏不解；或因冷熱相承；或因飲食過多；或因飢餒不及，多食醃藏，常啖魚鯗；或是母懷胞胎，恣其口膠，積之日久，氣不宣通，遂令疾患有加，發作無度，畢竟腸胃虛損，日夜呻吟，痢下頻並，宜服此方，效驗若神。</p>

<h3>大艾煎丸</h3>
<p>治小兒虛痢，作渴不止。大艾煎丸良方。</p>
<p>大艾葉（燒灰）　乾葛粉　胡粉（炒）　海螵蛸　龍齒</p>
<p>上仵等分為末，煉蜜丸，雞頭子大。每服一粒至二至，飯飲磨化。</p>
<p>議曰：下部既虛，無不作瀉。瀉之加虛，無不成痢。瀉痢轉虛，故有上盛。三焦不順，所以作渴。渴若不住，則瀉不止。痢不歇，又以止渴。其藥性涼，瀉痢尤重。此方兩獲全功，扶救痢疾，不致其虛，亦不致熱。</p>

<h3>白餅子</h3>
<p>治小兒秋痢，號曰毒痢，純下白膠，肚痛。白餅子良方。</p>
<p>北礬（枯白淨）　貳粉（一兩重）　白𮮄（半兩）　胡粉（炒，各一兩）</p>
<p>上件和勻，水搜作餅，如錢大。每服半餅，大者一餅，飯飲磨化。</p>
<p>議曰：秋氣金旺，則母虛矣。夏月火燥，則子困矣。夫人五臟六腑，乃循四時而行，故曰秋濕脾胃。若胃口有毒，禁閉不食，輕粉卻毒，次用豆蔻面與吃，兼雞青生熟飲間服，開胃醒脾乃愈。</p>

<h3>朮蔻𮮄</h3>
<p>治小兒禁口痢，一粒飯一吃，宜服術蔻面良方。</p>
<p>白朮（半兩）　肉豆蔻（炮，二枚）　木香（二兩重）</p>
<p>上為末，白麵二兩入藥，水搜作劑，切作條子，水煮令熟，用蔥白、生薑、鹽各少許，和汁滋味與之，看入多少，仍兼雞青丸服。</p>

<h3>香脯</h3>
<p>治小兒刮腸下痢，禁口不食，閉眼合口至重者，香脯妙方。</p>
<p>晶豬肉（一兩，薄批作一片）　膩粉（半兩重）</p>
<p>上將肉於炭火上慢炙，旋鋪膩粉令勻，炙令成脯，每以少許與吃。如未知吃，且放鼻頭，自然要吃。此方治胃口有毒，至奇至妙。</p>

<h2>疳熱症候方議</h2>
<p>議曰：小兒疳患，乃是五臟所受，積氣相傳。今議患疳，有患熱者，由其候虛之盛，積者乃疳之母，所有積不治，遂傳成疳。又有治積不下，其積存而臟虛，其疳傳而脈弱，臟腑傳過，經絡致受，由此作熱，症候尤重，雖不發作風痰，畢竟危困沉重。經云：疳熱症，謂勞形作渴，虛煩，頻嘔不食。下項良方，過其輕重而與服之，仍擇所當，勿可縱恣，誤致畢違，便計利害。</p>

<h3>人參散</h3>
<p>治小兒疳熱，虛煩作渴，不思飲食，四體沉重，服人參散良方。</p>
<p>人參　蓬莪朮　川當歸　龍膽草根　甘草（炙）　赤芍藥　白茯苓　枳殼（浸去穰，切作小片，用麩炒令赤色）</p>
<p>上等分為末，每服半兩，煎麥門冬湯調服，無時候。</p>

<h3>神妙宣氣丸</h3>
<p>治小兒疳熱久蒸，肌肉消瘦，形容惟悴，神情不樂，飲食雖多，不生肌肉，宜服此方，大有功效。神妙宣氣丸良方。</p>
<p>蓬莪朮（炮）　赤芍藥　川當歸　大黃（炮）　鱉甲（米醋炙，去裙焦為度）</p>
<p>上等分，為細末，水煮麵糊為丸，麻子大。一歲二十丸，熟水下，大小加減。</p>

<h3>蚵蚾丸</h3>
<p>治小兒患無辜疳，三焦虛熱，飲水不歇，下痢頻並，日夜無度，煩躁乾嘔，食入即吐。如此惡症，服常疳藥，分水穀，止煩渴，治下痢，進飲食，但無效者，宜用此方治之，隨藥取安。一服虛熱去，兩服煩渴止，三服瀉痢住，不過三服，諸症悉應，克效萬一。神聖秘蜜蚵蚾丸良方。</p>
<p>蟾蜍一枚，夏月取生活者，乃是溝渠中腹肚大，不能跳，又不能鳴者，身上多痱磊是也。</p>
<p>上取糞蟲一杓，放桶中，更以屎灌四維令乾，即留得其蟲，卻將蟾蜍打殺，頓在蟲上，任其蟲咀食，兩日間用新布作袋包裹，小麻繩繫，於急流中推一宿，明日取上滓，乾瓦上焙為末，入麝和勻，湯浸蒸餅丸，麻子大。每小者二十丸，大者三十丸，溫飯飲下。或用麥門冬子去心煎湯，空心食煎，日進二服，功效如神，宜至誠修合。</p>

<h1>卷之十九</h1>

<h2>泄瀉症候方儀</h2>
<p>議。小兒泄瀉傷積而作瀉者，初以補藥治不止之時，須當下去其積，推積才下，其瀉自止。下之宜與小沉香煎丸，理虛中積甚良，多與服之，或以小塌氣丸。又不下，更與三陵煎服之，切不可以宣轉藥，恐成滌蕩矣。積滯已下，與服調胃溫脾藥及既濟丹，此乃理積瀉。夏月暴瀉，由其臟寒虛，腸滑利泄，速與契聖丹。如滑不禁，進殢腸散，次與契聖既濟丹。若洞利，其瀉不常，發作駭人，速與殢腸。未子，次與朮附湯。稍與遲緩，其候必更。療瀉之理，豈可相待？病家無知，醫工當謹。</p>

<h3>殢腸散</h3>
<p>治嬰孩小兒腸胃虛寒，臟腑久冷，泄瀉不止，殢腸散良方。</p>
<p>真鉛粉（半兩，炒）　白石脂（二錢）　白礬（炻，二錢）　白龍骨（一錢）</p>
<p>上為末，每服半錢匕，大者一錢，溫飯飲調下，薄糊作小丸，多服效。</p>

<h3>契聖既濟丹</h3>
<p>治小兒陰盛陽虧，臟腑虛寒，泄瀉不止。契聖既濟丹良方。</p>
<p>熟地黃（一分）白礬半夏末（二錢，生薑汁浸半日，乾秤）</p>
<p>上為末，雪糕丸如麻子。每服三五十丸，溫飯飲下。</p>

<h3>朮附湯</h3>
<p>治小兒臟腑虛寒，泄瀉洞利，手足厥冷。朮附湯。</p>
<p>附子（半個，炮了者）　白朮（一分）　乾薑（二錢，炮）　甘草（一錢，炙）</p>
<p>上㕮咀，每服一錢，水小盞，煎至半，去滓與服，手足暖止之。須是洞世，手足冰冷，方可與服。</p>

<h2>小兒吐症方議</h2>
<p>所述症候在前，今具良方，乾復其症。又有風擁吐，即類痰吐治之；文氣吐，即類胃寒吐理之；驚吐，即類熱吐；積滯吐，即類冷吐；氣逆吐，即類食吐療之。</p>

<h3>八白飲</h3>
<p>治嬰孩小兒脾虛胃弱，膈有風痰，水穀入口，悉皆嘔噦，體羸氣乏，飲食不下，霍亂吐利，神情恍惚，心胸膨滿，中脘不和，八白飲方。</p>
<p>沉香　藿香葉　人參　草果　白川乾薑（炮）　半夏麯　白芍藥　白檳榔　白豆蔻　白茯苓　白朮　白扁豆（炒）　白芷</p>
<p>上件等分為末，瀉後復吐，或吐後復瀉。每服一錢，水小盞，生薑二小片，棗子半個，煎三五沸，通口，不拘時候。</p>

<h3>人參溫中丸</h3>
<p>治嬰孩小兒驚吐熱吐，心神悶亂，中脘不和，漸加恐悸，恍惚無定。人參溫中丸良方。</p>
<p>人參　白朮　白茯苓　半夏（湯洗七次）　陳皮　肉豆蔻（煨）</p>
<p>上等分為細末，蒸淮棗肉為丸，麻子大，朱砂為衣。藿香生薑湯三五十丸，不拘時候，多服勿慮。</p>

<h3>調中正胃散</h3>
<p>治嬰孩小兒中脘不和，冒氣不正，胃冷傷熱，吐逆煩悶，神困力乏，飲食不美，虛弱思睡，睡不安穩。調中正胃散。</p>
<p>良方（加木香名木香散）</p>
<p>藿香葉　白朮　人參　白茯苓　甘草（炙）　陳皮（去白）　山藥　白扁豆（炒）　半夏麯　川白薑</p>
<p>上等分為末，每服一錢，水小盞，生薑二小片，棗子半個，煎三二沸服。</p>

<h3>煨附丸</h3>
<p>治嬰孩小兒積滯吐，胸堂鬱結，中脘痞悶，氣不舒暢，聞穢嘔逆即吐，宜服煨附丸及溫中丸。煨附丸良方。</p>
<p>黑附子（二錢，末）　丁香（五個）</p>
<p>上以水搜附末，裹丁香，再用麵劑包，於糖灰中煨熟，去麵為末，生薑自然汁丸，如麻子大。每服三十丸，煎薑棗湯下。</p>

<h3>青金丹</h3>
<p>治小兒陰陽二氣不均，霍亂吐逆。青金丹良方。</p>
<p>水銀（一錢重）　硫黃</p>
<p>上和硑，令水銀不見星，只作墨色，取生薑汁作糊，丸麻子大。每服十丸至二十丸，用淡生薑湯下。</p>

<h3>豆蔻散</h3>
<p>治嬰孩小兒虛吐，飲食之間，便作嘔逆，蓋由脾寒，或哯無時，吐後暈悶，胸膛鬱結，上下氣逆，宜服豆蔻散及香朴丸。豆蔻散良方。</p>
<p>肉豆蔻（一個，煨）　木香　丁香　白朮　白茯苓　甘草（炙，各錢重）　藿香葉（一錢）</p>
<p>上為末，煎藿香棗子湯，調一錢半，服之必效，生薑湯亦得。</p>

<h3>半丁丸</h3>
<p>治嬰孩小兒痰吐風壅所致。或因感風，痰盛咳嗽，作熱煩悶，神不安穩，睡眠不寧，可進飲食。或欲飲食，食之即嘔。蓋由風痰在膈，飲食不下。先服半丁丸，次用正胃散及正氣溫中散。半丁丸良方。</p>
<p>半夏（半服者半兩，湯洗七次，為末）　丁香（一錢重，碾碎）</p>
<p>上將半夏末水搜作劑，包丁香，再以麵劑裹煨令熱，去麵為末，生薑自然汁丸，麻子大。每服三二十丸，淡生薑湯下。</p>

<h3>正氣丸</h3>
<p>治嬰孩小兒食傷症，冷逆不升降，嘔吐不已，胸膈留停，積滯不化，宜服塌氣丸。或一向只作乾嘔，噦聲頻作，宜服正氣丸。良方。</p>
<p>藿香葉　厚朴（生薑製）　陳皮　半夏麯（炙）　白朮　白茯苓（各一錢）　甘草（炙，二錢）　乾薑（一錢）　三稜（炮，二錢）</p>
<p>上為末，煉蜜為丸，如指大。每服一丸，生薑棗子湯化開與服。</p>

<h3>鹽豉丸</h3>
<p>治幼幼哯乳不上，宜服此立效，兼小沉香煎丸。鹽豉丸良方。</p>
<p>鹹豉（七粒，口內含去皮）　膩粉（一錢匕）</p>
<p>上研丸如麻子大，每服三丸至五丸，藿香湯下，乳頭吻亦得。</p>

<h2>渴症方儀</h2>
<p>議小兒渴症，一見唇紅如丹三五分者，即發三五分渴。若七八分紅者，即七八分作渴。其有發渴唇紅焦黑者，即久渴虛盛，疾加傳極，症候危篤故也。凡小兒有疳渴，引飲不歇，心肺虛熱，唇焦舌裂。有瀉渴者，肌體羸弱，神困力乏。有痢渴者，虛熱積臟，眉皺肚痛。有傷寒候發渴者，有痞癖虛煩，引飲不歇。俱在三焦不順，五臟蘊熱，煩躁昏悸，神情不樂。今分症所受主治用藥。</p>
<p>治小兒三焦虛煩作渴，引飲不歇，宜服三黃丸，如朴硝小許，重作小丸子，煎麥門冬飲下。</p>
<p>治小兒傷寒候發渴，唇口焦幹強燥盛者，竹葉石膏湯主之。</p>
<p>治小兒痞癖作渴不止，大黃灰餅子主之。</p>
<p>治小兒熱瀉作渴，五苓散如干葛主之。煩熱，香薷飲如黃連治之。小便澀閉，水竇不通，煎車前渴王之，用草前末，甘草炙，二味煎湯。</p>
<p>治小兒疳渴，蚋子麝香丸主之。</p>

<h2>喘急症候方儀</h2>
<p>小兒有困驚，暴觸心肺，氣虛發喘；有傷寒，肺氣壅盛發喘；有感風咳嗽，肺虛發喘；有因食鹹鹺，傷肺氣，發虛痰作喘；有食毒熱物，冒觸三焦，肝肺氣逆作喘。喘與氣急，同出異名，別之輕重，疾究兩端。喘即口開，隘於胸臆；氣急即取息短滿，心神迷悶；盛即如之。喘促不待傳變，宜速降下，寬中補肺，利膈化痰，固氣即愈。惟有驚喘暴急，心肺乾亂，停積不散，金火相剋，逆而不實，錯亂血脈，擊觸臟腑，速療乃瘳。緩即加重，重即傳變，變即八候有作。</p>

<h3>八味理中丸</h3>
<p>治小兒心肺不和，息數脈急，上下不升降，中膈痞滿，鬱隘胸臆，坐臥煩悶，神情不樂，飲食不下。八味理中丸方。</p>
<p>人參　甘草（炙）　白朮　乾薑　枳實（製炒）　白茯苓　五味子（去梗，桑白皮去赤皮）</p>
<p>上等分，為細末，煉蜜為丸，小指大。每服一丸，淡豆豉五粒，水小小盞，煎至半，去豉，通口服，無時。</p>

<h3>大效雄朱化痰定喘丸</h3>
<p>治小兒因驚發喘，逆觸心肺，暴急張口，虛煩神困。大效雄朱化痰定喘丸方。</p>
<p>雄黃　朱砂（各一錢，研）　蟬蛻　全蝎（炒）　地龍　白殭蠶　天南星　白附子（炮，各一分）　輕粉（半錢重）</p>
<p>上為末，麵糊為丸，麻子大。每服三十丸，薄荷茶清送下，食後服。</p>

<h3>又方：定喘飲子</h3>
<p>天麻　防風　羌活　甘草（炙）　人參　苦梗　白朮　川芎　半夏麯</p>
<p>上等分，㕮咀。每服二錢匕，水一小盞，入麥門冬子十四粒同煎，去滓，通口食後服。</p>

<h3>雄黃丹</h3>
<p>治小兒齁䶎，喘滿咳嗽，心胸煩悶，傷熱觸毒。雄黃丹良方。</p>
<p>雄黃　朱砂（各一錢，令研）　杏仁（十四粒，炒）　巴豆（七粒）　豉（淡者二十一粒）</p>
<p>杏、巴、豉三味，用米醋半盞，乾薑一片指大，煮令乾，研成膏，皂角一寸，蜜炙焦，先去子與皮，法制牛膽一分，同雄朱與杏膏研令細。</p>
<p>上和入杏膏，麵糊為丸，麻子大。每服一歲兒五丸，壯者七丸，三歲十丸，淡生薑湯下。</p>

<h1>卷之二十</h1>

<h2>瘡疹症候方議</h2>
<p>凡兒所患瘡疹、水豆、麻子、蚊丁、火皰等，諸家之說，或有異同。大抵此症出乎五臟，肺曰水皰，肝曰膿皰，心曰血皰，脾曰黃皰，腎曰黑子。小兒不問長幼，所出黑子陷者，最為惡候。或因風吹，或由觸毒，皮下隱隱出而不透，名黑陷子，死者多矣。良由服藥有誤，冷冰其內，毒不發出，為害甚重。凡瘡疹之疾，症有多端，其欲發出之時，或有作熱者，不作熱者，有驚，有掣者，有狂燥者，有叫哭者，有煩躁者，有自汗者，有譫語者，有呵欠者，有遁悶者，有神昏者，有嘔吐者，乃緣所發於五臟虛實之不同耳。或謂耳鼻腳梢中指冷為之驗者，屢究之，或中或否，今得至要妙訣。凡兒作熱，有如傷寒候，疑惑之間，不敢直謂者，但者耳後有紅脈赤縷，定是瘡疹症候，更無可疑。若發驚不可下驚藥，有熱不可退熱，有汗不可止汗，或吐不可理吐，但順其表，溫其中，自然而發出。或有首尾不可下，或曰首尾皆可下，眾疑謂之非說。愚曰：二家所說皆善也。且兒氣脈充實，宜微下之，恐作煩躁。若也氣虛，直不可下，恐瀉易脫。如欲利下，即用消毒飲子、七寶洗心散，或四順清涼飲一二服，以通為度。切不可用真珠丸及有巴粉之類，並宜禁之。如有熱煩躁，與順大連翹飲加紫草茸，功效但減黃芩。今人才見瘡疹已出未出，便與升麻葛根湯，其性頗寒，只宜少少與服。其或不當者，蓋用大過，反壞其表。凡服葛根湯，宜加白芍藥、糯米、人參、紫草茸、川當歸，功效甚良。</p>

<h2>議癥瘕痞癖</h2>
<p>癥（音真，又音呈）傷食得之，痛刺脅肋，心胸煩悶，飲食不下，吐逆惡心，久不醫治，漸成癥結，又曰食結。</p>
<p>瘕（音瑕，又音加）傷血得之，胸膈鬱悶，痛引少腹，時或攻築，上搶心胸，雖不阻食，肌肉不生，久而不治，漸成瘕結，又曰血結。</p>
<p>痞（音甫，又音匕，又音婢）傷氣得之，心腹膨脹，肚大脅滿，痛刺往來，注抂左肋，面黃肌瘦，倦怠無力，久而不治，漸在痞塊，又曰氣塊。</p>
<p>癖（音僻）傷積得之，其症如腸澼之疾，便利無度，滑不成糞，似痢非痢，似蟲非蟲，腹肚乾痛上築，心胸滿悶，久而不治，頑結不散，復結成塊，有類痞狀。</p>
<p>以上四症，皆作寒熱，有如瘧候一般，悉由傷及五臟，惟痞癖左脅肋塊，其氣結聚，男女皆在左脅曰症，大同小異。凡治寒熱，先以梨漿飲進一二服，退其寒熱，其寒熱已消去，三五日後，方可與服磨痞丸，即日日頻頻與服，癥瘕之疾，只與三稜丸，下去積毒，以通為度。</p>

<h3>人參蘿蔔飲</h3>
<p>治小兒痞癖，因食砒藥丸子，作渴煩躁，頭面浮腫，腹肚緊脹，喘促，坐臥不得，肌體羸瘦，困乏，寒熱尚在，宜服人參蘿蔔飲方。</p>
<p>白朮　苦梗　甘草（炙）　人參　麥門冬子（去心）</p>
<p>上等分為末，每服一大錢匕，取生蘿蔔汁半盞，煎至半，候冷與服。</p>

<h3>豆蔻草果飲子</h3>
<p>治小兒痞氣未解，重複取利，致之虛乏，腹肚㽲痛，不思飲食，面目虛浮，強食嘔吐，宜服此方。豆蔻草果飲子良方。</p>
<p>肉豆蔻（一個，煨）　草果　檳榔（各個）　綿黃耆（槌，蜜炙）　白茯苓　白芍藥　白朮　甘草　陳皮（各錢）　半夏麯（一錢）</p>
<p>上㕮咀，每服二錢匕，生薑三小片，烏梅半個，棗子一個，用藤紙包裹，蘸濕煨令香熟，去紙，用水小小盞煎至半，去滓，通口空心食前兩滓並煎，兼與小沉香煎丸服之，功效。</p>

<h2>眼患症候方議</h2>
<p>凡小兒患眼，皆由熱毒得之，方藥甚眾，惟有斑瘡眼患此疾，最為惡候。若有是疾，皆由兒病不謹口腹，或斑瘡方愈，便與食毒散熱，熱毒入肝腎之間，便作腫痛，羞明怕日，眵淚難開。毒者，謂其炙爆醃藏，油麵白卵，黃牛、母豬、米醋、鮭鯗、鮓醬、雞、羊、鵝、鴨、蝦、蟹、魚、鱉、腥、膻、鱔、鰻、飛禽包氣之屬，悉為斯咎。及至熱退痛止，睛中白翳已生，或一隻兩晴，隨其輕重得之，宜速與療。</p>

<h3>透關散</h3>
<p>治小兒斑瘡初作，眼患痛澀，羞明怕日，出淚頻多，或已覺漸成白翳子，宜用神效透關散良方。</p>

<h3>蓽澄茄（不拘不少）</h3>
<p>上為細末，每以少許吹入鼻中，於食後頻數吹之，諸症皆可用之。</p>

<h3>大效點明膏</h3>
<p>治斑瘡眼患，只在百日內，治之容易，久即氣定，難以療理。大效點明膏良方。</p>
<p>覆盆根（處處有史路傍柱，高五七尺者）</p>
<p>上掘取土中根，淨洗，搗取粉，澄濾令細，日乾。每用蜜和，以少許點白丁上，令其自消自散，日二三次點用。</p>

<h3>至妙立消膏</h3>
<p>治小兒眼患，初作粟醫、浮醫，或來或去，漸發差大，侵睛減明。至妙立消膏良方。</p>
<p>雪白食鹽（生研少許，須以淨器）</p>
<p>上以大燈心點鹽，輕手指定，浮醫就齪，凡三五次點見效。令子勿驚恐，不疼痛，亦不礙人，多投之勿慮，屢用克效。</p>

<h3>生乾地黃湯</h3>
<p>治小兒疳蝕眼患，閉合不開，羞明怕日，及至開眼，有如內障，朦朦失所，宜服生乾地黃湯方。</p>
<p>生乾地黃　熟乾地黃（各乙兩，並洗）　麥門冬子（去心，半兩）　川當歸（一分）　枳殼（米甘浸一宿，麩炒，秤一分）　杏仁（湯泡，去皮尖，麩炒令赤）　防風　甘草（炙）　赤芍藥（各一分）</p>
<p>上㕮咀，每服一大錢，水小小盞，以黑豆七粒，煎至黑豆熟，去滓，通口服。</p>

<h3>小防風湯</h3>
<p>治小兒熱毒眼患，小防風湯方。</p>
<p>大黃（蒸）　山梔子　甘草（炙）　赤芍藥　川當歸（洗）　防風　羌活</p>
<p>上等分，㕮咀，每服二大錢，水小小盞，煎至半，去滓，通口服，食後。</p>

<h3>小流氣飲</h3>
<p>治小兒風毒眼患，小流氣飲方。</p>
<p>蟬蛻（去大腳）　甘草（炙）　羌活　天麻　川當歸　赤芍藥　防風　大黃　腦薄荷　杏仁</p>
<p>上件等分㕮咀，每服大錢，水小小盞，煎至半，去滓，通口食後服。</p>

<h3>小菊花膏</h3>
<p>治小兒積毒眼患。小菊花膏良方。</p>
<p>黃連　黃芩　大黃　菊花　羌活　蒼朮（米泔浸）　荊芥穗　防風</p>
<p>上等分為末，煉蜜為膏，尾指大。每服一餅，細嚼，白湯下。</p>

<h3>總議。小兒眼患</h3>
<p>議曰：除疳蝕、斑瘡二症外，皆由五臟所積熱毒而作。又有胎內受氣，乘母所食，熱毒稍長，因毒相觸，忽作障瞑，不由腫赤熱毒積成其候者，此等決定難醫。若加寒涼之藥，壞害尤甚。若赤腫眵淚疼痛，醫膜謹謹與，忌其熱毒之物。清心涼肝，順氣行血，解熱散毒，認症瀉臟，常宜用四順清涼飲，隨風熱毒所發輕重，加藥與服。萬一克效，不必執殢方藥，指症攻療。蓋小兒無患氣眼，所患即與大人不同。至重者，謂赤腫等俱作，宜與利下，即便解散。若有瘀血，眼胞內外四維腫盛，即從鼻中取出敗血，立愈。既無氣眼，不作攀胬，雖有赤脈貫睛，亦是熱毒所致，即不可鉤鎌針割。凡當利下，並以大黃藥、洗心散之屬乃佳。</p>

<h2>治諸病雜方</h2>

<h3>石韋散</h3>
<p>治小兒熱淋、沙淋、石淋。石韋散方。</p>
<p>石韋（去尾）　海金沙　木通　滑石</p>
<p>上為末，水小盞，煎至半，通口服。</p>

<h3>桃紅丸</h3>
<p>治小兒齁䶎咳嗽，痰涎壅盛，或作喘急。桃紅丸良方。</p>
<p>天南星（乙分，炮）　白附子（炮）　川烏（炮，各分）　石膏（二錢，煨）　地龍（乙錢）　白礬（枯，乙兩）</p>
<p>上為末，自然薑汁搜丸，麻子大，朱砂為衣，令半紅半白。每服三、五十丸，淡生薑湯下。</p>

<h3>犀角地黃膏</h3>
<p>天門冬　麥門冬（各去心）　白茯苓　茯神　生地黃（各洗秤）　前胡　柴胡　人參　玄參　甘草（炙）　川芎　天麻　防風　羌活。</p>
<p>上等分為末，煆金墨一挺，留性，煉蜜丸○大，金箔為衣。每服一粒，薄荷湯化服。</p>

<h3>丹毒至效散</h3>
<p>治小兒一切丹毒，及龍帶發作。至效散方（先服消毒飲，次用敷之）</p>
<p>黃丹（一兩重）　朴硝（一兩重）　赤小豆（兩頭齊者，為末，半合）</p>
<p>上研令勻，井水調，以雞毛刷，立效。</p>

<h3>犀灰散</h3>
<p>治小兒心經虛熱，小便澀痛，筒管內疼不可忍者。犀灰散良方。</p>

<h3>蠶蛻紙（不拘多少）</h3>
<p>上燒留性，為末，入麝。每服半錢匕，燈心湯調。</p>

<h3>磁石散</h3>
<p>治小兒湯火傷。磁石散方。</p>
<p>景德鎮。瓷器（不拘多少）</p>
<p>上打碎，埋竈內，炭火鋪上，經一宿取出，放地上出火毒，碾為末，入黃丹水調，敷湯火傷處。</p>

<h3>茆根湯</h3>
<p>治小兒傷寒後有一症，忽然鼻中出血，五七歲以上至大人亦有此作，名紅汗，謂不魯解，表其汗出血，故縱鼻出者自解。茆根湯方。</p>
<p>生地黃汁　生蜜　酒（各小小盞）</p>
<p>茆根一握，搗煎汁如稠糖。</p>
<p>上共煎取一盞相和，溫服小小半盞，立效。</p>

<h3>治小兒心肺蘊熱，及心血妄行，鼻衄，出血不止良方</h3>
<p>上將故藤紙被一片作捻子，包麝燒熏入鼻，或吹入鼻中，又令患人吸呷尤佳。故藤紙被至舊亦得，或燒納小瓶中留性，每服二錢，入麝酒調服極妙。</p>

<h3>木舌金絲膏</h3>
<p>治小兒心脾受熱，唇口生瘡，仍治慕口（唇舌白）、鵝口（舌白）、重舌（舌下硬）、木舌（舌腫硬）。以上皆係心脾熱，並宜用下項藥敷腳心，次服連翹飲子，仍與金絲膏刷口內舌上，功效。</p>
<p>吳茱萸（不拘多少）</p>
<p>上為末，用釅米醋調塗腳心，更以紙貼糊黏敷之，立效。</p>
<p>又有重齶一證，於上齶令生一肉，如指大小，赤腫妨食及吻乳，斯由熱極而作，速宜下之。不爾，熱毒流咽喉，加其腫塞悶絕而蛻，宜服疏風散下之（方在前）。</p>

<h3>生肌散</h3>
<p>治小兒腳腫生瘡，及諸瘡口不合者。生肌散方。</p>
<p>真地骨皮　五倍子　甘草（各生）　黃蘖（炙）　黃連（炒）</p>
<p>上為細末，乾摻瘡上，以粗末用沸湯泡，蘸洗乾處，津液調敷。</p>

<h3>大效金絲膏無</h3>
<p>治小兒口瘡方。</p>
<p>黃丹（一錢）　生蜜（一兩）</p>
<p>上相和，深甌盛，甑內蒸令黑為度。每用少許，雞毛蘸刷口內。</p>

<h3>天南星圓</h3>
<p>治小兒痰多哮呷，喘急咳嗽，天南星圓方。</p>
<p>天南星（炮）　半夏（湯洗七次）　白礬（枯，各一錢）　雄黃（細研，一錢）</p>
<p>上為末，煎熬皂角膏為丸，入少許麵作糊，丸如麻子大。每服二三十丸，淡生薑湯送下。</p>

<h3>通關散</h3>
<p>治乳幼，被母鼻息吹著兒囟，令兒鼻塞，不能食乳。通關散良方。</p>
<p>香附子（炒，三分）　川芎（七分）　荊芥（四分）　白殭蠶（炒，三分）　細辛荃（二分）　豬牙皂角（一分）</p>
<p>上為末，取生蔥白去鬚，搗調藥，塗囟門上。</p>

<h3>秘敷頭痜瘡方</h3>
<p>吳茱萸鹽醃者佳，如無，以口鹽浸一二日。</p>
<p>上為末，釅末醋調，刷敷頭上。大人肩蛆瘡，用之立效。</p>

<h3>茱連丸</h3>
<p>治小兒夏月暴瀉，注下茱連丸方。</p>
<p>土黃連（去鬚）　吳茱萸（各一兩）　陳皮（半兩，去白）</p>
<p>上為末，水煮麵糊為丸，如麻子大。每服二十丸，飲下。</p>

<h3>摩風膏</h3>
<p>治小兒遍身疥瘙癢，摩風膏方。</p>
<p>苦參　歷青　蕪荑（炒）　黃蠟（各一錢）　巴豆（三粒，去殼）　輕粉（五○）　真麻油（半兩）　蝎（二立）</p>
<p>上同油煎至巴焦，濾去所煎物，入輕粉和勻，敷疥功效。</p>

<h3>薑黃散</h3>
<p>治小兒血淋方。</p>
<p>薑黃為末</p>
<p>上每服半錢，用紅酒調下，連二三服，以通為度。</p>

<h3>小牛黃丸</h3>
<p>治小兒膈熱，痰涎稠盛，心神不寧，睡不安穩，煩躁怔忪，四體作熱，宜與服之。但覺驚風痰熱，常服功效。</p>
<p>乾葛（截，炒，取末，一兩）　甘草（炙，一錢）　黃芩（去心與浮皮，一分）　防風（半兩）　麝（半字）　山梔子（半兩，去皮，取二）</p>
<p>上為細末，入麝和勻，如皂子大，煉蜜為丸。常服，薄荷湯化下。</p>

<h3>四聖湯（治二十一症）</h3>
<p>白朮　人參　白茯苓　甘草（炙）</p>
<p>治久吐胃寒。加石連子、木香、黃耆，名生胃散。</p>
<p>治嘔嘔噦噦不止。加白扁豆、薏苡仁（並炒）、藿香，名銀白散。</p>
<p>治胸膈煩悶，冷熱不調，痰涎咳嗽，不美飲食，日夜壯熱。加知莊、具莊、烏梅、乾薑，名寬中散。</p>
<p>治腹肚疼痛。加陳皮、青皮、棗子、生薑，名溫中散。</p>
<p>治夜啼煩躁，腹肚冷痛。加沉香、朱砂，名鎮心虧邪散。</p>
<p>治表裏虛弱，時氣作熱，欲傳疹候。加細辛、栝蔞，名惺惺散。</p>
<p>治脾寒胃熱，陰陽不順，溫壯常作。加滑石、地骨皮，名六神散。</p>
<p>治霍亂吐利，神不安穩。加藿香、丁香，名藿香散。</p>
<p>治脾胃虛弱，飲食不進。加製厚朴、陳皮等分，名平胃散。</p>
<p>治吐食，不納穀氣。加丁香、半夏麯，名益神散。</p>
<p>治脾胃久虛，不納食，頻吐，或瀉不止。加肉豆蔻、青皮、天台烏藥，名理中散。</p>
<p>治熱瀉，水穀不分。加瞿麥、車前子，名導赤散。</p>
<p>治虛熱寒躁，安神定志。加犀角、川芎，名安神散。</p>
<p>治心氣不足，神情恍惚。加石菖蒲、石蓮肉、石膏，名補心散。</p>
<p>治體熱夜啼，煩躁。加白附子、全蝎、膩粉，名清神散。</p>
<p>治脾虛肌瘦，神困，面無顏色，食不剋化，腸胃久寒，吐逆無時。加黑附子、枳殼、吳茱萸、麥櫱、細辛，名溫脾散。</p>
<p>治霍亂吐逆，或腸鳴自利，腹肚疼痛。加川白薑，名人參散。</p>
<p>治傷寒身熱，頭痛煩渴。加麻黃、乾葛、天麻、朱砂，名解肌散。</p>
<p>治心神不寧，驚悸，煩赤，瘈癡。加朱砂、羌活、防風、天麻，名鎮心散。</p>
<p>治脾胃虛弱，腹肚泄利，調中進食。加訶子、陳皮，名益黃散。</p>
<p>治虛積痢，腹肚痛，裏急頻並。加陳皮、罌粟殼，名調中散。</p>
<p>以上二十一症，所加藥味，並有詳載，集著其</p>
<p>善以顯其功，樂哉！契聖達理，豈可遁諸理。</p>

<h3>天麻散</h3>
<p>南星（半兩，水浸，春秋五日，冬七日，夏三日）　朱砂（一兩）　射香（一字，每一字杏仁湯調化下，人參湯亦可）</p>

<h1>丹波元胤跋</h1>
<p>二十卷，元曾榮世撰，見於焦竑國史經藉志。余家舊藏鈔本僅八卷，文理訛舛，殆不可句。弟茝庭嘗從朝鮮國醫方類聚中錄出成編。余謂是書所載，自其診視理療之法，以至于平素鞠養保攝、乳哺嬉戲，諄二乎議之甚詳，使懷抱中物免為朝菌夏蟲，其幼幼之心可謂篤矣。世榮又著有活幼心書，楊仲叔序稱衡邑遭災，連甍巨棟數千室俱煨爐，其書板有好事者納諸池中而得無恙，以為天心之使然，良有以也。乃若是書，亦當神物擁護者，不宜付於闕如之歎矣。後閱十餘年，今秋七月，叔父蒨園啓持竹洞後，人人見友雪所藏足本而被借，驚喜之餘，速錄一通以傳家。於是乎感世榮慈念之所存，果不至湮滅，而喜余前言之足以懲矣。記其顛末如上。</p>
<p><u>文政庚辰孟冬二十有二日，東都丹波元胤識於柳沜精盧。</u></p>
