<header data-type="book">
<h1>萬氏女科</h1>
<dl class="元資料">
<div><dt>年份</dt><dd><data value="1571">公元1571年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02093357.cn">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>裘氏原敘</h1>
<p>《萬氏婦人科》即楚黃羅邑萬密齋先生所著之《濟陰編》也。其書於婦人一道，自調經以迄產後，條分縷析，洞悉源委。雖窮鄉僻壤，罕遇良醫，但能別其句讀，明其意義，按方劑藥，亦可立起沉疴，真壽世之金科也。昔王念齋明府，尹吾西昌日，曾授梓官衙，後解組攜板以去，故江右傳布不廣。庚午鄉校，長兒君弼出其門，竊附淵源，幸有藏本。予鄉居多暇，為校訂重刊，用廣其傳，並紀其本末如此。</p>
<p><u>康熙甲午初冬上浣西昌七十老人裘琅玉聲氏題於世德堂</u></p>

<h1>郭氏新敘</h1>
<p>《萬氏女科》一書，膾炙人口，余聞之久而未及見。歲癸卯奉命出守西川，友人駱星齋攜一編示余。略觀數幅，字體荒謬，點劃錯訛，令人不能卒讀。余慨然曰：著是書者為羅田萬密齋，刊是書者為西昌裘玉聲，二君者皆學問淹通，精深醫理。書之傳將以濟人，非以害人也。大抵藍本久失，坊間目不識丁之賤工，率意翻刻，遂致魯魚豕亥，積漸相沿。噫嘻！差之毫釐，謬以千里，流傳蜀中，不知歷年幾何？誤盡蒼生，可勝嘆哉。因屬星齋考覈更正，然後重付剞劂。庚戌秋，星齋郵寄中州，始復加校讎，以授梓人。庶幾散布海內，期無負萬裘二君救世之苦心云爾。</p>
<p><u>咸豐辛亥濰縣郭夢齡小房氏序</u></p>

<h1>卷之一</h1>

<h2>立科大概</h2>
<p>夫男女者，均稟天地之氣以生。有生之後，男則氣血俱足，女則氣有餘而血不足也。至於受病，外感內傷之證，未嘗不同，但女則別有調經、胎前、產後之治，此所以更立一科也。調經專以理氣補心脾為主；胎前專以清熱補脾為主；產後專以大補氣血兼行滯為主。此婦人科調治之大略云。</p>

<h2>濟陰通玄賦</h2>
<p>概論八條。</p>
<p>陰陽異質，男女殊科，特立專門之證治，以救在室之沉疴。因其血之虧也，故調之必使流通；因其氣之盈也，故抑之不使郁遏。體本嬌柔，性最偏頗。肥白者多痰，瘦黑者多火。胃太過者氣結，養不足者血涸。專寵愛者，治合異乎孤冷；飫膏粱者，療莫同於藜藿。月事時下兮，如潮汐之應期；血海常滿兮，似江漢之流波；謂之無病，可以勿藥。或不及期而先來兮，氣有餘而血易虧；或過期而後來兮，氣不足而血本弱。花氣淡淡兮，由血室之水虛；桃浪紫色兮，被胞戶之火灼。經未行而腹痛兮，氣滯血澀而可調；經已行而腹痛兮，和氣養血而勿錯。或一月再行兮，邪火迫而氣血不藏；或數月而一行兮，元氣虧而生化不多。皆是損真之證，貴在調理之和。滿而不泄兮，為經閉、為血枯、為癥瘕；泄而不滿兮，為崩中、為帶下、為漏濁。常滿者惡其中滿，常泄者慮其氣脫。脈惟喜於芤澀，診切忌乎洪數。或隱忍而病盛兮，愚婦自速其亡；妄攻補而病增兮，庸醫反助其虐。</p>
<p>經候既調，男女可合，不出三日之期，宜盡應候之媾。乾闢坤闔，陽唱陰和。滴秋露於花枝兮，玉粒可結；鼓春風於桃浪兮，金鱗自躍。陰包陽兮，則丹桂發芽；陽包陰兮，則紅蓮吐萼。天地之大義，生民之本始，勿謂芻蕘之言，漫作詼諧之謔。</p>
<p>震風之喜有徵，妊娠之脈必確。尺數關滑而寸盛，陽搏陰別而雀躍。精神雖倦兮，桃腮更妍；飲食粗惡兮，天癸不落。無妨惡阻之害，所慎漏胎之濁。熱常要清，脾不可弱。熱不清兮而胎動不安，脾若虛兮而胎危易墮。惟以安胎為本，其餘雜證為末。斯先哲之格言，宜後人之守約。</p>
<p>子懸急痛而勿疑，子癇卒倒而可愕，子滿胎肥而氣壅，子瘧脾虛而氣弱。子煩子淋兮，胎熱所為；子腫子氣兮，胎水所作。子嗽子痢兮，病轉劇而胎損；傷寒傷食兮，痰若多而成惡。常慘常笑兮，肺氣結而非祟；暴啞不語兮，心血虛而勿藥。胎若肥而瘦胎速進，脈怕微而診脈休錯。</p>
<p>懷胎之後禁忌不可少犯，臨產之前戒慎乃為要約。預備藥物，審擇穩婆。禁譁去疑兮，恐產母之心動；居安守靜兮，令產母之氣和。兒身未轉兮，坐草不宜太早；胞漿既破兮，使力未可太過。或逆或橫兮，在穩婆之妙手；若遲若留兮，系催生之聖藥。</p>
<p>醫藥之系非輕，母子之命所託，差之毫釐，甚於水火。胎衣未下兮，取之有道；惡露未盡兮，去之勿過。血迷血暈兮，死生存乎呼吸；血脹血痛兮，攻擊戒乎揮霍。但以補虛為主，莫因他病而訛。藥喜甘溫兮，切忌苦寒；脈宜和緩兮，最嫌洪數。</p>
<p>惡阻各歸於臟腑，諸病若似於障魔。頭旋而常見黑花兮，乙木之病：聲啞而乍見鬼神兮，丁火之疴。臍下痛而或淋或秘兮，溝瀆塞於汙淤；腹中痛而或脹或腫兮，倉廩積乎陳莝。息逆而喘嗽不寧兮，因犯素天之氣；腰疼而俯仰不利兮，乃沖元海之波。煩熱兮，責其血去而陰虛；羸怯兮，知其蓐勞而氣弱。能詳察夫證候，斯可議乎方藥。</p>
<p>經候不調兮，烏雞可投；天癸或阻兮，蒼莎宜托。地黃補腎兼行，參朮養脾莫卻。三補涼血兮，專治崩中之藥；補中暖宮兮，能固帶下之脫。安胎胡連兮，在妊娠為最宜；瘦胎達生兮，視形證而休錯。黑神去惡露而可取胎衣，十全補虛羸而能除陰火。臨病審證兮，請觀設問之辭；舉一該百兮，勿訝立言之約。吐露靈府之珠璣，掣開醫門之鎖鑰。</p>

<h2>調經章</h2>
<p>（概論五條）</p>
<p>謹按經云：女子二七而天癸至，衝任滿盛，月事以時下，乃有子。故得其常候者為無病，不可妄投調經之劑。苟或不及期而經先行者，或過期而經後行者，或一月而經再行者，或數月而經一行者，或經閉不行者，或崩者，或漏下者，此皆失其常候，不可不調也。大抵調治之法，熱則清之，冷則溫之，虛則補之，滯則行之，滑則固之，下陷則舉之，對證施治，以平為期。如芩連梔柏，清經之藥也；丁桂姜附，溫經之藥也；參朮歸茯，補虛之藥也；川芎香附、青皮玄胡，行滯之藥也；牡蠣赤石脂、棕櫚炭側柏葉，固精之藥也；升麻柴胡、荊芥白芷，升舉之藥也。隨其證而用之，鮮有不效者矣。</p>
<p>婦人經候不調有三：一曰脾虛，二曰衝任損傷，三曰脂痰凝塞。治病之工，不可不審。</p>
<p>脾胃虛弱者，經曰：二陽之病發心脾，女子不月。夫二陽者，陽明胃也。胃主受納五穀，長養血氣，灌溉臟腑，流行經隧，乃水穀之海，血氣之母也。惟憂愁思慮則傷心，心氣受傷，脾氣失養，鬱結不通，腐化不行，胃雖能受，而所謂長養灌溉流行者，皆失其令矣。故脾胃虛弱，飲食減少，氣日漸耗，血日漸少。斯有血枯、經閉及血少、色淡、過期始行、數月一行之病。</p>
<p>衝任損傷者，經曰：氣以吹之，血以濡之。故氣行則血行，氣止則血止也。女子之性，執拗偏急，忿怒妒忌，以傷肝氣。肝為血海，衝任之系，衝任失守，血氣妄行也。又褚氏曰：女子血未行而強合以動其血，則他日有難名之疾。故女未及二七天癸之期，而男子強與之合，或於月事適來未斷之時，而男子縱欲不已，衝任內傷，血海不固。由斯二者，為崩為漏，有一月再行、不及期而行者矣。</p>
<p>脂痰凝塞者，蓋婦女之身，內而腸胃開通，無所阻塞，外而經隧流利，無所礙滯，則血氣和暢，經水應期。惟彼肥碩者，膏脂充滿，玄室之戶不開，挾痰者痰涎壅滯，血海之波不流。故有過期而經始行，或數月而經一行，及為濁為帶為經閉，為無子之病。</p>

<h3>不及期而經先行</h3>
<p>如德性溫和，素無他疾者，責其血盛，且有熱也。用：</p>
<p>歸身　川芎（各七分）　赤芍　生地　知母　麥冬　地骨皮（各一錢）　甘草（五分）</p>
<p>水煎，空心服。</p>
<p>如性急躁，多怒多妒者，責其氣血俱熱，且有郁也。用：</p>
<p>歸身　川芎　白芍（各一錢）　生地（七分）　條芩（炒）　黃連（炒）　香附（童便浸，炒，杵，各一錢）　生甘草（五分）</p>
<p>水煎服。</p>
<p>如形瘦素無他疾者，責其血熱也。用四物加芩連湯。四物內用赤芍，芩連俱炒各一錢，甘草生五分，水煎，食前服。兼服三補丸和之。</p>
<p><u>三補丸</u>　專治血熱。用：</p>
<p>黃芩　黃連　黃柏（各炒，各等分）</p>
<p>蜜丸，白湯下。</p>
<p>如形瘦素多疾且熱者，責其衝任內傷也。用：</p>
<p>歸身　白芍　熟地　人參　知母　麥冬（各一錢）　川芎（七分）　炙草（五分）</p>
<p>姜三棗二引，水煎，食前服。更宜常服地黃丸。</p>
<p><u>地黃丸</u>　治女子衝任損傷，及腎虛血枯、血少、血閉之證。</p>
<p>熟地（焙，八兩）　山藥（四兩）　山茱萸（去核，焙，四兩）　白茯（去皮，三兩）　牡丹皮（去木，三兩）　澤瀉（去毛，三兩）</p>
<p>蜜為丸，空心白湯下。</p>
<p>如曾誤服辛熱暖宮之藥，責其衝任伏火也。用：</p>
<p>歸身（一錢）　川芎（七分）　赤芍　生地（酒洗，各一錢）　黃柏（炒）　知母　木通（去皮，各一錢）　甘草（生五分）</p>
<p>水煎，食前服。更服三補丸和之。</p>
<p>如形肥多痰多郁者，責其血虛氣熱也。</p>
<p>歸身　川芎　生地（薑汁炒，各七分）　陳皮（去白）　半夏（滾水泡，各五分）　白茯　甘草（生各五分）　條芩（炒）　香附（童便浸，炒）　黃連（炒，各一錢）</p>
<p>姜引，水煎服。</p>

<h3>經過期後行</h3>
<p>如德性溫和，素無疾者，責其血虛少也，八物湯主之。</p>
<p>川芎　白芍　人參　白朮　茯苓　歸身（酒）　甘草（生，各等分）　生地（酒洗）　姜（三片）　棗（三枚去核）</p>
<p>水煎，食前服。</p>
<p>如性急躁，多怒多妒者，責其氣逆血少，八物湯加香附湯主之。前方加香附（童便浸炒）、青皮等分，水煎服。兼常服蒼莎丸以調之。</p>
<p><u>蒼莎丸</u>　和中開鬱。</p>
<p>蒼朮（米泔浸）　香附（童便浸一日夜，各三兩）　條芩（炒，一兩）</p>
<p>共末，湯浸蒸餅為丸，白湯下。</p>
<p>如形瘦素無他疾者，責其氣血俱不足也，用十全大補湯主之。此湯治氣血兩虛，脾胃不足。</p>
<p>人參　黃耆（蜜）　白朮　白茯　甘草（炙）　當歸（酒洗）　川芎　白芍（酒）　生地（酒洗，各一錢）　厚桂（五分）</p>
<p>薑棗引，煎服如前。</p>
<p>如形瘦食少，責其脾胃衰弱，氣血衰少也，用異功散加當歸川芎湯主之。此方專補脾胃，進飲食，養氣血。</p>
<p>人參　白朮　白茯　炙草　陳皮　歸身（酒洗）　川芎（各一錢）</p>
<p>薑棗引。兼服地黃丸。</p>
<p>如肥人及飲食過多之人，責其濕痰壅滯，軀肢迫寒也。用六君子加歸芎湯主之。</p>
<p>人參　白朮　茯苓　炙草　陳皮（去白）　半夏（湯泡七次）　歸身　川芎　香附（童便浸、炒，各一錢）</p>
<p>姜引。兼服蒼莎丸。</p>
<p>如素多疾者，責脾胃虛損，氣血失養也。用參朮大補丸、地黃丸。參朮大補丸即參苓白朮散加歸芎。</p>
<p>人參（五錢）　白朮　白茯　陳皮　蓮肉　歸身（各七錢半）　甘草（炙，三錢）　山藥（一兩）　砂仁　川芎　石菖蒲（各五錢）</p>
<p>共末，荷葉包米煮飯為丸。米飲下。</p>

<h3>一月而經再行</h3>
<p>如性急多怒氣者，責其傷肝以動衝任之脈，用四物加柴胡湯主之。</p>
<p>歸身　川芎　白芍　生地　柴胡　人參　條芩　甘草（生）　黃連</p>
<p>煎服。更宜常服補陰丸，以瀉衝任之火。</p>
<p><u>補陰丸</u></p>
<p>黃柏（炒）　知母（去皮，等分）</p>
<p>蜜丸。每服五十丸。</p>
<p>如曾服辛熱之藥者，用四物湯加黃柏知母湯及三補丸主之。</p>
<p>如曾傷衝任之脈者，用四物人參知母麥冬湯及地黃丸主之。</p>

<h3>數月而經一行</h3>
<p>瘦人，責其脾胃弱，氣血虛，用十全大補湯及地黃丸主之。</p>
<p>肥人，責其多痰兼氣血虛，用六君子加蒼莎導痰丸主之。</p>
<p>人參　川芎　半夏（泡，各七分）　甘草（五分）　白朮　白茯　陳皮（去白）　蒼朮（米泔水浸）　歸身　香附（童便炒）　枳殼（各一錢）</p>
<p><u>蒼莎導痰丸</u></p>
<p>蒼朮（泔水浸焙）　香附（童便浸，焙，各二兩）　陳皮（去白）　白茯（去皮，各一兩五錢）　枳殼（麩炒）　半夏（泡七次）　南星（炮、去皮）　炙草（各一兩）</p>
<p>生薑自然汁浸，蒸餅為丸，淡薑湯下。</p>

<h3>經行或前或後</h3>
<p>悉從虛治，加減八物湯主之。</p>
<p>人參　白朮　茯苓　歸身　川芎　白芍（酒炒）　炙草　陳皮　丹參　香附（童便浸）　牡丹皮（各一錢）</p>
<p>薑棗引。更宜常服丸藥。</p>
<p><u>烏雞丸</u>　此丸專治婦人脾胃虛弱，衝任損傷，血氣不足，經候不調，以致無子者，服之屢驗。</p>
<p>白烏骨雄雞一隻，要未鐓者，先以粳米養七日，勿令食蟲蟻野物，吊死，去毛去雜細，以一斤為率。用：生地、熟地、天冬、麥冬各二兩，放雞肚中，甜美醇酒十碗，以沙罐煮爛，取出，再用桑柴火上焙。去藥，更以余酒淹盡，焙至焦枯，研羅為末。再加杜仲（鹽水炒）二兩，人參、炙草、肉蓯蓉（酒洗）、破故紙（炒）、小茴（炒）各一兩，歸身、川芎、白朮、丹參、白茯各二兩，砂仁一兩，香附（醋浸三日，焙）四兩。</p>
<p>共研末，和上末，酒調麵糊為丸。每服五十丸，空心溫酒下，或米飲下。</p>

<h3>經期腹痛</h3>
<p>凡經水將行，腰脹腹痛者，此氣滯血實也，桃仁四物湯主之。</p>
<p>歸尾　川芎　赤芍　丹皮　香附（醋浸）　玄胡索（各一錢）　生地　紅花（各五分）　桃仁（二十五粒）</p>
<p>水煎，入桃泥在內傾出服。</p>
<p>如瘦人責其有火，加黃連、黃芩（炒）各一錢。</p>
<p>肥人責其有痰，加枳殼、蒼朮各一錢。</p>
<p>凡經水過後腹中痛者，此虛中有滯也，加減八物湯主之。</p>
<p>人參　白朮　茯苓　歸身　川芎　白芍　生地（各一錢）　甘草（炙）　木香（各五分）　青皮（七分）　香附（醋炒，一錢）</p>
<p>薑棗引。</p>

<h3>經水多少</h3>
<p>瘦人經水來少者，責其血虛少也，四物加人參湯主之。</p>
<p>人參　歸身　川芎　白芍　生地　香附（童便浸，炒）　炙草（各一錢）</p>
<p>薑棗引。</p>
<p>肥人經水來少者，責其痰礙經隧也，用二陳加芎歸湯主之。</p>
<p>陳皮　白茯　歸身　川芎　香附（童便浸炒）　枳殼（炒，各一錢）　半夏（泡七次，八分）　甘草（五分）　滑石（二分）</p>
<p>姜引。</p>
<p>凡經水來太多者，不問肥瘦，皆屬熱也，四物加芩連湯主之。</p>
<p>歸身　白芍（酒洗）　知母　條芩　黃連（各一錢）　川芎　生地（各五分）　黃柏（七分）</p>
<p>兼服三補丸。</p>

<h3>經水紫色淡色</h3>
<p>色紫者熱也，四物加香附黃連湯主之。</p>
<p>歸尾　川芎　赤芍　生地　香附（童便浸）　黃連（炒）　生草　牡丹皮（各一錢）</p>
<p>煎服。</p>
<p>色淡者虛也，八物湯主之。</p>
<p>人參　白朮　白茯　歸身　川芎　白芍　熟地　黃耆　香附（童便浸，各一錢）　炙草（五分）</p>
<p>薑棗引。更常服地黃丸。</p>
<p>以上各例調經之法，並宜於經候行時，連進十餘服，則下次經候自不愆矣。若丸藥，則宜常久服之，乃效。</p>

<h3>經閉不行</h3>
<p>婦人女子，經閉不行，其候有三：乃脾胃傷損，飲食減少，氣耗血枯而不行者，法當補其脾胃，養其氣血，以待氣充血生，經自行矣。不可妄用通經之劑，則中氣益損，陰血益干，致成癆瘵之疾而不可救。所謂索千金於乞丐，棰楚日加，徒斃其生而已。一則憂愁思慮，惱怒怨恨，氣鬱血滯，而經不行者，法當開鬱氣、行滯血而經自行。苟用補劑，則氣得補而益結，血益凝聚，致成癥瘕脹滿之疾，所謂養虎自遺患也。一則軀肢迫寒，痰涎壅滯，而經不行者，法當行氣導痰，使經得行。斯謂之良工矣。</p>
<p>如因脾胃傷損，血枯不行者，用加減補中益氣湯主之。</p>
<p>人參　白朮（各二分）　炙耆　柴胡（各七分）　炙草（五分）　歸身　白芍（酒洗）　川芎　陳皮（各七分）　神麯（炒）　麥芽（炒，各五分）</p>
<p>薑棗引。更宜服前參朮大補丸、烏雞丸，以經行為度。</p>
<p>如因氣鬱血閉不行者，用開鬱二陳湯主之。</p>
<p>陳皮　白茯苓　蒼朮　香附（童便浸）　川芎（各一錢）　半夏（泡，炒）　青皮　莪朮（煨）　檳榔（各七分）　甘草　木香（各五分）</p>
<p>姜引。更宜服四制香附丸，以經行為度，此丸乃婦人常用之要藥也。</p>
<p><u>四制香附丸</u></p>
<p>香附（一斤，淨，杵，分四制，酒、醋、鹽水、童便各浸三日，焙研）　天台烏藥（八兩）</p>
<p>共末，醋糊為丸，白湯下。</p>
<p>如因痰者，用前蒼莎導痰丸主之。更服上開鬱二陳湯，去莪朮，加枳殼一錢，服之。</p>
<p>有愆期未嫁之女，偏房失寵之妾，寡居之婦，庵院之尼，欲動而不能得遂，憾憤而不能得信，多有經閉之疾。含羞強忍，不欲人知，致成癆瘵之病，終不可救者，宜用四制香附丸、參朮大補丸，攻補兼行，庶幾可瘳。此七情之變，無以法治者也。</p>
<p>有經閉不行，骨蒸潮熱，脈虛者，增損八物柴胡湯主之。</p>
<p>人參　白茯（各一錢）　炙草（五分）　歸身　白芍（酒拌炒）　生地　麥冬　知母　北柴胡</p>
<p>有汗加地骨皮，無汗加牡丹皮各一錢，淡竹葉十五皮，煎服。</p>
<p>凡婦人血虛有熱者，皆可服之。如熱太甚，服此不平者，加黑乾薑一錢，神效。</p>
<p>有經閉發熱，咽燥唇乾，脈實者，用四物涼膈散主之。</p>
<p>歸身　川芎　赤芍　生地　黃芩（酒炒）　黃連（酒炒）　山梔（酒炒）　連翹　桔梗（各一錢）　生草　薄荷葉（各五分）　淡竹葉（十皮）</p>
<p>凡血實形盛，脈有力者，皆可服之。</p>

<h3>附：石瘕</h3>
<p>石瘕者，因行經之時，寒風自陰戶而入，客於胞門，以致經血凝聚，月信不行，其腹漸大，如孕子狀。婦人壯盛者，半年之後，小水長而消矣；若虛怯者，必成腫病。溫經湯主之。</p>
<p>歸身梢　川芎　赤芍　莪朮（煨）　人參（各一錢）　炙草（五分）　川牛膝　破故紙（炒，杵）　小茴（炒，各一錢）</p>
<p>薑棗引。更宜頻服香附丸。</p>

<h3>附：腸覃</h3>
<p>腸覃者，因經行之時，寒風自肛門而入，客於大腸，以致經血凝澀，月信雖行而血卻少，其腹漸大如孕子狀，為胎漏狀。壯盛婦人半年以後，氣盛而除，虛怯者必成脹病。桂枝桃仁湯主之。</p>
<p>桂枝　檳榔（各一錢五分）　白芍（酒炒）　生地（酒洗）　枳殼（麩炒，各一錢）　桃仁（二十五粒）　炙草（五分）</p>
<p>薑棗引，煎熟入桃泥，去渣服。更宜常服四制香附丸。</p>
<p>以上二證，載《靈樞經》內，人鮮知者，女科未載焉，特表而出之。</p>

<h2>崩漏章</h2>

<h3>崩</h3>
<p>婦人崩中之病，皆因中氣虛，不能收斂其血，加以積熱在裡，迫血妄行，故令經血暴下而成崩中。崩久不止，遂成下漏。叔和《脈訣》云：崩中日久為白帶，漏下時多腎水枯也。治有三法，初止血，次清熱，後補其虛，未有不痊者也。</p>
<p>凡婦人女子，初得崩中暴下之病者，宜用止血之劑，乃急則治其標也。四物湯調十灰散服之，以血止為度。</p>
<p><u>十灰散</u></p>
<p>藕節　蓮蓬　艾葉　棕櫚　大小薊根　側柏　乾薑　油發　乾漆</p>
<p>以上十味，各燒存性，為灰，等分，和勻，每服三錢。或用醋煮糯米粉為丸，每服百丸，不喜散者用之。血止即服清熱之劑，用涼血地黃湯主之。</p>
<p>生地　當歸（各一錢）　黃連　黃柏　知母　藁本　川芎　升麻（各五分）　柴胡　羌活　防風（各七分）　黃芩　炙草　細辛　荊芥穗　蔓荊子（各四分）　紅花（一分）</p>
<p>煎服。如血未盡，再吞十灰丸。</p>
<p>血已止，裡熱已除，宜用補中之劑，加味補中益氣湯主之。</p>
<p>炙耆　人參　白朮　陳皮　歸身　白芍（酒炒）　熟地（各一錢）　炙草　白茯　升麻　柴胡　知母　黃柏（炒，各五分）</p>
<p>薑棗引。更宜早服地黃丸，夕服參朮大補丸，以平為期。</p>

<h3>漏</h3>
<p>凡崩久成漏，連年不休者，此中氣下陷，下元不固也，宜用前加味補中益氣湯，兼服鹿角霜丸主之。</p>
<p><u>鹿角霜丸</u></p>
<p>鹿角霜　柏子仁（去殼，炒）　歸身　茯神　龍骨（煅）　阿膠（蛤粉炒成珠，各一兩）　川芎（七錢）　香附（醋炒，二兩）　炙草（五錢）　川續斷（兩半）</p>
<p>共末。山藥五兩，研作糊為丸。每服五十丸，空心溫酒下。</p>

<h3>附：經血妄行</h3>
<p>如經血妄行，或吐血、或唾血、或口內血腥，用前四物涼膈散加生韭自然汁服之。</p>

<h3>赤白帶下</h3>
<p>帶下之病，婦女多有之。赤者屬熱，兼虛兼火治之；白者屬濕，兼虛兼痰治之。年久不止者，以補脾胃為主，兼升提。大抵瘦人多火，肥人多痰，要知此候。</p>
<p>赤帶用前四物加芩連湯，再加升麻、丹皮主之，兼服三補丸。</p>
<p>白帶用加味六君子湯主之。</p>
<p>陳皮　半夏（泡）　蒼朮（米泔水浸）　人參（各一錢）　白朮（一錢五分）　白茯（一錢二分）　炙草（七分）　升麻　柴胡（各五分）</p>
<p>姜引。兼服蒼莎導痰丸。</p>
<p>帶久不止者，專以補虛為主，宜服十全大補湯去地黃，加陳皮、半夏、乾薑（炒）。更服參朮大補丸，以補脾胃之虛，及服補宮丸，以固下元之脫。</p>
<p><u>補宮丸</u></p>
<p>鹿角霜　白茯　白朮　白芍（酒炒）　白芷　牡蠣（煅，童便淬）　山藥　龍骨（煅）　赤石脂（各等分）　乾薑（炒，減半）</p>
<p>醋糊丸。空心米飲下。</p>

<h3>白濁、白淫、白帶辨證</h3>
<p>婦人常有白帶、白濁、白淫之疾，證既不同，治亦有別。白帶者，時常流出，清冷稠黏，此下元虛損證也，用上帶久不止之法治之。白濁者，隨小解而來，渾濁如泔，此胃中濁氣滲入膀胱也。加味二陳湯主之。</p>
<p>陳皮　半夏（泡）　白茯　白朮　蒼朮（泔水浸）　益智仁（鹽水炒，杵末，各一錢）　炙草（五分）　升麻　柴胡（七分）</p>
<p>姜引。</p>

<h3>附：遺白帶方</h3>
<p>酒煮白果三升，去心去膜，曬乾為末，每服二錢，白水下。</p>
<p>白淫者，常在小便之後而來，亦不多，此男精不攝，滑而自出，不須治即自愈。</p>
<p><u>溫經湯</u>　婦人行經之時，連服三劑，易能成孕。</p>
<p>陳皮　半夏　生地（各一錢）　歸身尾（二錢）　川芎　白芍　紅花　秦艽　烏藥（各八分）　香附（一錢半）　木通（三分）　青皮（七分）</p>
<p>姜引。水煎服。</p>

<h2>種子章</h2>
<p>十二條。</p>
<p>無男女，乾坤或幾乎息矣。男女配匹，所以廣嗣，厥系匪輕，勿謂無預於人事。生育者，必陽道強健而不衰，陰癸應候而不愆。陰陽交暢，精血合凝，而胎元易成矣。不然，陽衰不能下應乎陰，陰虧不能上從乎陽，陰陽乖離，是以無子。雖雲天命之有定，抑亦人事之未盡歟！</p>
<p>故種子者，男則清心寡慾，以養其精；女則平心定氣，以養其血；補之以藥餌，濟之以方術，是之謂人事之常盡也。何謂男貴清心寡慾？蓋形樂者易盈，志樂者易蕩。富貴之人，不知御神，則蕩必傾；不知御形，則盈必虧。此清心寡慾，為男子第一緊要也。何謂女貴平心定氣？蓋女子以身事人，而性多躁；以色悅人，而情多忌。稍不如意，即憂思怨怒矣。憂則氣結，思則氣鬱，怨則氣阻，怒則氣上。血隨氣行，氣逆血亦逆。此平心定氣，為女子第一緊要也。藥餌惟何？男子宜服地黃丸，以補左腎之陰；加杜仲、蓯蓉、巴戟、補骨脂、沉香，以補右腎之陽。女子宜服烏雞丸，以養其氣血，調其經候，斯為得理。若彼桂、附、丹石，動氣耗陽、損血消陰之劑，一切遠之。何謂濟之以方術？如種子之歌，《素女》之論是也，宜博求之。</p>
<p>女人無子，多因經候不調，藥餌之輔，尤不可緩。若不調其經候而與之合，徒用力於無用之地。此調經為女人種子緊要也。</p>
<p>如肥盛婦人，稟受甚厚，及恣於酒食之人，經水不調，不能成胎，謂之軀脂滿溢，閉塞子宮。宜行濕燥痰，用前蒼莎導痰丸、四制香附丸。</p>
<p>如瘦怯性急之人，經水不調，不能成胎，謂之子宮乾澀無血，不能攝受精氣。宜涼血降火，用地黃、三補丸調之。</p>
<p>如素有濁漏帶下之人，經水不調，不能成胎，謂之下元虛憊，不能聚血受精。宜補虛澀脫，用前烏雞丸、補宮丸調之。</p>
<p>種子歌云：三十時辰兩日半，二十八九君須算。落紅滿地是佳期，經水過時空霍亂。霍亂之時枉費工，樹頭樹底覓殘紅。管教芳花能結子，何愁丹桂不成叢。此蓋言經水未行之時，血海正滿，子宮未開，不能受精以成其孕。經水既行，則子宮開，血海淨，斯能受其精矣。然亦自經水初行之時，計算三十個時辰，足恰兩日半，欲種子貴當其時。故一日、二日、三日與之交，則多生男；四日、五日、六日與之交，則多生女。七日之後，子宮復閉，不必再交矣。</p>
<p>婦女陰質，取象於月。若自朔至望，經水行不失其候者，結胎易，生子多壽，以月光漸生，月輪漸滿也。若自望至晦，經水行或失其期者，胎難結，生子多夭，如月光漸消，月廓漸空也。此造化之理，可與懵者道之耶？</p>
<p>《素女》論中，男有三至，女有五至。如男至而女未至，玉體才交，瓊漿先吐，雖能下應乎陰，而陰不從也；如女至而男未至，則桃浪雖翻，玉露無滴，雖能上從乎陽，而陽不應也，所以無子。此氣至者，亦有先後男女之別。如陽精先至，陰血後參，則精開裹血而成女；陰血先至，陽精後沖，則血開裹精而成男。故卜書云：陰包陽則桂廷添秀，陽包陰則桃洞得仙。此之謂也。</p>
<p>何謂男有三至？蓋陰痿而不舉，肝氣未至也；舉而不堅，腎氣未至也；堅而不熱，心氣未至也。肝氣未至而強合則傷肝，其精流滴而不射；腎氣未至而強合則傷腎，其精散漫而不黏聚；心氣未至而強合則傷心，其精冷而不熱；此男子之所以無子，貴乎清心寡慾，以養肝腎心之氣也。何謂女有五至？蓋交感之時，面赤而熱，心氣至也；目中涎瀝，微睨視人，肝氣至也；嬌聲低語，口鼻氣喘，肺氣至也；伸舌吮唇，以身偎人，脾氣至也；玉戶開張，瓊液流出，腎氣至也。五氣皆至而與之合，則情洽意美，陽施陰受，有子之道也。</p>
<p>男女無疾，交會應期，三虛四忌，不可不避。三虛者，天地晦冥，日月薄蝕，雷電風雨，晦朔弦望，天之虛也；地震土陷，山崩水溢，地之虛也；憂怒悲恐，醉飽勞倦，人之虛也。犯此三虛，則交而不孕，孕而不育，疾病且生，為身之災也。四忌者：一忌本命正沖甲子庚申，滅沒休廢之日；二忌大寒、大暑、大醉、大飽之時；三忌日月星辰、寺觀壇廟、灶廁塚墓之處；四忌觸忤惱犯、罵詈擊搏之事。犯此四忌，不惟令人無子，且致夭也。</p>
<p>凡種子者，當應候之時，男服補腎益精之藥，女則調其飲食，淡其滋味，避其寒暑，至於夜半生氣乘旺之時，依上三至、五至、三虛、四忌行之，自然交而必孕，孕而必成矣。</p>

<h1>卷之二</h1>

<h2>胎前章</h2>

<h3>總論胎養</h3>
<p>十條。</p>
<p>婦人受胎之後，所當戒者，曰房事，曰飲食，曰七情，曰起居，曰禁忌，曰醫藥，須預先調養，不可少犯，以致傷胎難產，且子多疾，悔之無及。</p>
<p>古者婦人有孕，即居側室，不與夫接，所以產育無難，生子多賢，亦少疾病。今人不知禁忌，縱情恣欲，有觸動胎氣而墮者，有胎肥碩而難產者，有敗精凝裹而礙產者，有生子多疾、痘瘡稠密者，皆不禁房事故也。</p>
<p>婦人受胎之後，最宜調飲食，淡滋味，避寒暑，常得清純和平之氣，以養其胎，則胎元完固，生子無疾。今為婦者，喜啖辛酸煎炒肥甘生冷之物，不知禁口，所以脾胃受傷，胎則易墮；寒熱交雜，子亦多疾。況多食酸則傷肝，多食苦則傷心，多食甘則傷脾，多食辛則傷肺，多食鹹則傷腎，隨其食物，傷其臟氣，血氣筋骨失其所養，子病自此生矣。又如食兔肉則兒缺唇，食羊肉則兒多白睛，食犬肉則兒聲喑之類，皆有明驗，所宜禁者。不然，則兒之形體相貌，且有不備不全者矣。</p>
<p>古有胎教，凡視聽言動莫敢不正，喜怒哀樂莫敢不慎。故其子女多賢，此非賢母不能也。蓋過喜則傷心而氣散，怒則傷肝而氣上，思則傷脾而氣鬱，憂則傷肺而氣結，恐則傷腎而氣下。母氣既傷，子氣應之，未有不傷者也。其母傷則胎易墮，其子傷則臟氣不完，病此多矣。盲聾喑啞，癡呆癲癇，皆稟受不正之故也。婦人受胎之後，常宜行動往來，使血氣通流，百脈和暢，自無難產。若好逸惡勞，好靜惡動，貪臥養嬌，則氣停血滯，臨產多難。況行立坐臥之久，為筋骨肌膚之有傷，子在腹中，氣通於母，必有傷者。又勿登高，勿臨深，勿越險，勿負重，少有觸動，其胎必墮。</p>
<p>婦人懷胎，欲其生男賢，則令睹書史操弓矢；欲其生女美，則令觀鸞鳳牡丹。凡忌食之物，忌用之藥，不可輕犯。逐月胎神所佔之物，不可觸犯，以致墮胎。睡臥之處，要人護從，不可獨寢，邪氣易侵。虛險之處，不可往來，恐其墮跌。</p>
<p>妊娠在於清熱養血。條實黃芩為安胎聖藥，清熱故也，置水中取沉者為佳。俗人不知，以為害，而不收用。又謂溫經之藥，可養胎氣，誤人多矣。</p>
<p>養胎全在脾胃。譬之鐘懸於梁，梁軟則鐘下墜，梁斷則鐘下墮。故白朮補脾，為安胎要藥。胎中痛者，非縮砂不止，必擇連殼者捶碎用之。妊娠七個月以後，須用枳殼、大腹皮則易產，行氣開滯故也。</p>
<p>孕婦有疾，只以和胎安胎為本，所感外傷內傷之證，以末治之。</p>
<p>孕婦有疾，必擇其專門平日無失者用之。若未試之，醫有毒之藥，不可輕用，以貽後悔。又不可輕用針灸，以致墮胎。</p>

<h3>妊娠惡阻</h3>
<p>惡阻者，謂有胎氣噁心，阻其飲食也。其症顏色如故，脈息平和，但覺肢體沉重，頭目昏眩，擇食，惡聞食氣，好食酸鹹，甚者或作寒熱，心中憒悶，嘔吐痰水，胸膈煩滿，恍惚不能支持。輕者不服藥無妨，乃常病也。重者須少藥調之，恐傷胎氣，專主行痰，以二陳湯為主。但半夏有動胎之性，不可輕用。</p>
<p>肥人專主痰治，半夏茯苓湯主之。即二陳湯加砂仁也。</p>
<p>陳皮　半夏（湯泡七次，炒黃，各一錢半）　茯苓（一錢）　甘草（五分）　砂仁（八分）</p>
<p>薑棗引，烏梅半個。水煎，食遠服。再加白朮錢半，尤妙。又傳云：二陳湯加桂枝甚效。</p>
<p>瘦人兼痰兼熱治之，人參橘皮湯主之。</p>
<p>人參　陳皮　白朮（各一錢）　麥冬（七分）　甘草（五分）　厚朴（姜炒，錢半）　茯苓（錢半）</p>
<p>姜引，竹茹一團。水煎，食遠服。再加黃芩尤佳。</p>
<p>惡阻甚，不能食者，保生湯主之。</p>
<p>人參　甘草　砂仁（炒、研，各一錢）　白朮　香附（童便制）　烏梅　陳皮（各一錢五分）</p>
<p>姜引。水煎服。</p>

<h3>胎動不安</h3>
<p>如脾胃素弱，不能管束其胎，氣血素衰，不能滋養其胎，不以日月多少而常墮者，安胎飲主之，更服杜仲丸、胡連丸尤佳。</p>
<p><u>安胎飲</u></p>
<p>黃芩（條實）　白朮　人參　歸身　生地　陳皮　白芍（各一錢）　炙草（五分）　砂仁（連殼炒，捶碎，五分）</p>
<p>薑棗引，食前服。</p>
<p><u>杜仲丸</u>　治胎動不安，防其墮者，預宜服之。</p>
<p>杜仲（薑汁炒）　川續斷（酒洗，各二兩）</p>
<p>共末，煮，紅棗肉杵，和為丸。每服三十丸，米飲下。此方宜與胡連丸同服。</p>
<p><u>胡連丸</u>　安胎之聖藥也。</p>
<p>條芩（沉水者，四兩）　白朮（無油者，二兩）　蓮肉（去心，二兩）　砂仁（微炒，一兩）　炙草（一兩）</p>
<p>共末，山藥五兩，作糊為丸，米飲下。</p>
<p>二方一日二服，前服胡連丸，空心服杜仲丸。</p>
<p>如因房事過度，有觸動不安者，四物去川芎加砂仁、阿膠湯主之。</p>
<p>歸身　熟地　阿膠（炒，各一錢）　炙草　砂仁（炒，各五分）</p>
<p>竹茹水煎，調男子裩襠灰一錢服。忌房事，免致再墮。</p>
<p>如因七情觸動，胎氣不安者，加味四物湯主之。四物為主。</p>
<p>歸身　白芍　生地（酒洗，各一錢）　川芎（八分）</p>
<p>如因怒傷肝者，主胞絡，本方加黃芩一錢五分，人參、柴胡、甘草各一錢。</p>
<p>如因憂悲傷肺者，本方加黃芩、阿膠、蘇葉各一錢，五味十三粒，炙草五分。</p>
<p>如因恐傷腎者，主胞胎，本方加川續斷、黃柏（炒）、杜仲（炒）各一錢，五味十五粒，改用熟地。</p>
<p>如因思慮積久不解傷脾者，本方加白朮錢半，人參、陳皮、香附各一錢，炙草五分。</p>
<p>如因喜樂太過傷心者，本方加條芩、黃連、白朮、麥冬各一錢，炙草五分。</p>
<p>如因跌撲觸動者，安胎和氣飲主之。</p>
<p>歸身　白芍（各一錢）　白朮　黃芩　蘇葉（各一錢五分）　炙草　砂仁（各五分）</p>
<p>薑棗引。水煎，食前服。</p>
<p>如因犯胎神所佔方位，胎動不安者，用上安胎和氣飲主之。此上二證，並用安胎和氣飲，如見血動，即加阿膠、艾葉。</p>

<h3>妊娠漏胎</h3>
<p>漏胎者，謂既有孕而復血下也。女子之血，在上為乳汁，在下為經水。一朝有孕，而乳汁、經水俱不行者，聚於子宮以養胎也。今復漏下則是氣虛、血虛，胞中有熱，下元不固也。法當用四君子以補其氣，四物以補其血，黃芩、黃柏以清其熱，艾葉以止其血，杜仲、續斷以補下元之虛，未有不安者矣。增損八物湯主之。</p>
<p>人參　白朮　歸身　白芍　熟地　艾葉　條芩　黃柏　知母　阿膠　炙草（各等分）</p>
<p>薑棗引。水煎，食遠服。兼用杜仲丸。見上。</p>

<h3>妊娠傷寒</h3>
<p>妊娠傷寒，專以清熱和胎為主，各隨六經所見表裡之證治之。務宜謹慎，不可與常病傷寒同治，以致損胎，誤其母子性命也。此予家傳之秘，宜珍重之。</p>
<p>凡得傷寒，勿拘日數，但見惡寒、頭痛、發熱，即病邪在表也，宜用四味紫蘇和胎飲為主。</p>
<p>蘇葉　條芩　白朮（各一錢半）　甘草（一錢）</p>
<p>如惡寒、頭痛、項強、腰脊痛，此病在太陽經。本方加羌活、藁本、川芎、草風各一錢，連須蔥三莖，姜引。水煎熱服，以厚衣被蓋之，汗出而解。</p>
<p>如惡寒卻不發熱，只頭痛、鼻乾或項強，此病在陽明經也。本方加葛根、白芷、防風各一錢，蔥白三根，淡豆豉一撮。煎服，以汗而解。</p>
<p>如寒熱往來，頭眩，或嘔，或心下煩，或胸脅滿，此病在少陽經也。本方加柴胡、人參各一錢。嘔，加半夏七分；胸脅滿，加枳殼、桔梗各一錢；頭眩，加川芎一錢；薑棗引。</p>
<p>如發熱、惡寒、咳嗽甚者，此病在手太陰經也。本方加麻黃（去根節）、杏仁各一錢，蔥白三根，姜引。水煎，食後服，以汗而解。</p>
<p>如惡寒無熱，腹中疼痛，吐瀉不渴，手足逆冷者，此病在足太陰脾經也。本方加人參、乾薑（炙）、白芍（酒炒）各一錢，薑棗引。水煎，熱服。</p>
<p>如惡寒倦臥、發熱、手足冷者，此病在足少陰腎經也。本方加獨活、熟地、細辛各一錢，生薑、大棗引，熱服。</p>
<p>如惡寒、手足厥冷、唇口青，遍身痛如被杖，頭項頂痛者，此病在足厥陰經也。本方加歸身（酒洗）、吳茱萸（炒）、羌活、細辛各一錢，連須蔥白三根，姜引，熱服。</p>
<p>凡得傷寒，勿拘日數，但無惡寒，無頭痛，只發熱、口燥、咽乾而渴者，此病邪在裡。用黃龍湯為主，各隨所見之症加減治之。</p>
<p>柴胡　人參　甘草　黃芩（各一錢）</p>
<p>如發熱、口渴，小便不利者，此在手足太陽小腸膀胱腑病也。本方加白朮錢半，豬苓、澤瀉、赤茯、木通各一錢。</p>
<p>如其發熱大渴者，病在手足陽明胃與大腸也。本方加知母一錢，石膏（捶碎）二錢，淡竹葉十五皮，粳米一撮，煎服。</p>
<p>如大熱、大渴、躁煩，大便不通者，此病在足陽明胃腑也。本方去人參，加枳實（炒）、大黃（煨）、芒硝各一錢半，姜引。水煎，溫服，以利為度。</p>
<p>如發熱，口乾而渴，心煩不得眠者，或乾嘔者，此病在足少陽膽腑也。本方加麥冬、天花粉、山梔仁、酸棗仁各一錢，竹茹一大團。煎，去渣，再煎一沸服。</p>
<p>如發熱而渴，腹中痛，自利者，此病在足太陰脾經也。本方加白朮、白芍、阿膠（炒）、白茯各一錢，引薑棗三枚，食前服。</p>
<p>如發熱而渴，利下膿血，手足冷者，此病在足厥陰肝臟也。本方加歸身、白芍（酒炒）、白朮、白茯各一錢，烏梅一個，食前服。</p>
<p>凡傷寒瘥後，調理失宜，復發熱者，此勞復也。用黃龍湯加知母、麥冬各一錢，石膏（杵）二錢，淡竹葉十五皮，粳米一撮。煎服，以汗為度。</p>
<p>如因飲食失節，復發熱者，此食復也。四味紫蘇和胎飲加枳實（炒）、黃連（炒）、陳皮、神麯（炒），薑棗引。水煎，食遠服。更宜節省，免致內傷。</p>
<p>若天行時氣傳染者，只依上法，分六經表裡治之無失。或於初病之時，用敗毒散加和胎藥解之，亦是妙方。</p>
<p>人參　羌活　柴胡　前胡　白茯　甘草　川芎　桔梗　枳殼　黃芩　白朮　蘇葉　葛根　姜引　蔥白（三根）</p>
<p>水煎，熱服，蓋覆得汗而解。</p>
<p>凡病傷寒熱病不解，遍身發斑，赤如錦紋者，加味化斑湯主之。</p>
<p>人參　知母（各一錢）　石膏（二錢）　甘草　黃芩　梔子仁　生地（各一錢）　淡竹葉（二十皮）　豆豉（半合）</p>
<p>水煎，食遠服。</p>

<h3>妊娠中風</h3>
<p>太乙者，冬至日在坎，正北；立春日在艮，東北；春分日在震，正東；立夏日在巽，東南；夏至日在離，正南；立秋日在坤，西南；秋分日在兌，正西；立冬日在乾，西北。故太乙移宮之日，即八節日，天必應之以風雨。其風自此方而來為正風，不能傷人。如自沖方而來，謂之虛風，中人即病。中其皮毛經絡者，則發寒熱，頭項身體皆痛，或肌肉頑痹；中其筋骨者，則拘攣僵直；中其臟腑者，則卒倒昏悶，口眼喎斜，手足瘈瘲，口噤不語。孕婦得此，不可用常治中風之法，只以補虛安胎為本，兼用搜風之劑，增損八物湯主之。</p>
<p>八物內用，歸身、甘草炙，加黃芩、黃耆炙、羌活、防風、秦艽各一錢。</p>
<p>薑棗引。水煎，多服，以平為期。</p>

<h3>妊娠中暑</h3>
<p>凡盛暑時，中其暑熱之毒者，其症發熱而渴，自汗，精神昏憒，四肢倦怠少聘，清暑和胎飲主之。</p>
<p>黃耆（炙）　炙草　人參　白朮　黃芩　黃連　知母　麥冬（各一錢）　五味（十二粒）</p>
<p>煎服。</p>

<h3>妊娠中濕</h3>
<p>凡孕婦或早行感霧露之氣，或冒雨，或久居下濕之地，或大汗出取冷水浴之。其症發熱、骨節煩痛，身體重著，頭痛，鼻塞，黃芩白朮湯主之。</p>
<p>條芩　白朮（各五錢）　蘇葉（二錢五分）　姜（五片）</p>
<p>水煎服。</p>

<h3>妊娠咳嗽</h3>
<p>如初得之，惡風寒、發熱、鼻塞聲重，或鼻流清涕者，宜發散，加減參蘇飲主之。</p>
<p>人參　紫蘇　陳皮　白茯　甘草　桔梗　枳殼　前胡　黃芩（各一錢）</p>
<p>姜引，薄荷葉少許。水煎，食後服，得微汗而解。</p>
<p>久嗽不已，謂之子嗽，引動其氣，恐其墮胎，人參阿膠散主之。</p>
<p>人參　白朮　白茯　炙草　蘇葉　阿膠（炒）　桔梗（各等分）</p>
<p>水煎，食後服。</p>

<h3>妊娠瘧疾</h3>
<p>凡孕婦病瘧，不可輕用截藥，恐致損胎，柴胡知母湯主之。</p>
<p>柴胡（一錢半）　人參　黃芩　知母　白朮（各一錢）　甘草（五分）　歸身（一錢）</p>
<p>薑棗引。水煎，多服，以平為期。</p>
<p>如瘧久不退轉甚者，宜與截之，七聖散主之。經云有故無殞，此之謂也。</p>
<p>柴胡　黃芩　炙草　知母　常山（酒炒）　草果仁（一錢半）　烏梅（去核，三個）</p>
<p>水酒各半煎。臨發，五更服。宜露一宿，湯溫服。忌生冷、雞魚。</p>

<h3>妊娠霍亂</h3>
<p>其症心腹絞痛，上吐下瀉，用前四味紫蘇和胎飲加藿香葉、陳皮各一錢，砂仁（炒）五分，薑棗引，水煎。</p>

<h3>妊娠泄瀉</h3>
<p>凡孕婦泄瀉，以補中安胎為主，用四君子湯加白芍一錢。更分寒熱治之，如發熱而渴者為熱，本方加條芩一錢；不渴者為寒，本方加炒乾姜五分，並用烏梅一個為引，水煎服。</p>
<p>如渴瀉久不止者，用四君子湯加白芍（酒炒）、訶子肉、乾薑（炒）、烏梅（去核）二個，水煎，皆食前服。</p>
<p>如久瀉大渴者，人參白朮散主之。</p>
<p>人參　白朮　白茯　炙草（各一錢）　藿香（五分）　木香　乾薑（二錢五分）</p>
<p>作大劑，水煎，頻頻與之，以代湯水，效。</p>

<h3>妊娠痢疾</h3>
<p>凡孕婦痢疾，以清熱和胎、行氣養血為主。虛坐努力者，防其損胎，當歸黃芩芍藥湯主之。</p>
<p>當歸　白芍　黃芩　黃連　白朮　枳殼　白茯　陳皮　生地　甘草（生，各一錢）　木香（五分）　烏梅（一個）</p>
<p>水煎，空心服。</p>
<p>痢久不止，黃連阿膠湯主之。</p>
<p>黃連（炒）　阿膠（炒，各一錢）　木香（七分）　乾薑（炒，五分）　人參　白朮　白茯（各一錢）　炙草（五分）　烏梅（三個）</p>
<p>薑棗引。水煎，食前服。</p>

<h3>子懸</h3>
<p>孕婦五六個月以後，胎氣不和，上湊心腹，脹滿疼痛者，謂之子懸，紫蘇飲主之。</p>
<p>紫蘇　陳皮　大腹皮　川芎　白芍　歸身（各一錢）　人參（五分）　炙草（五分）　姜（五片）　蔥白（七寸）</p>
<p>水煎，食前服。</p>

<h3>子煩</h3>
<p>孕婦心驚膽怯，終日煩悶不安者，謂之子煩，人參麥冬散主之。</p>
<p>人參　茯苓　黃芩　麥冬　知母　炙草　生地（各等分）　竹茹（一大團）</p>
<p>水煎，食前服。</p>

<h3>子癇</h3>
<p>孕婦忽然眩暈卒倒，口噤不能言，狀如中風，須臾即醒，醒而復發，此名子癇。乃氣虛挾痰挾火證也，清神湯主之。</p>
<p>人參　白朮　白茯　白芍　炙耆　炙草　麥冬　歸身（各等分）</p>
<p>薑棗引。水煎，食遠服。兼服壽星丸。</p>
<p><u>琥珀壽星丸</u>　寧神定志，去風化痰。</p>
<p>天南星一斤（掘地作坑，深二尺，用炭火二十斤於坑內燒紅，去炭掃淨，用好酒五升澆之，將南星趁熱放坑內，用瓦盆急蓋定，以黃泥封固，經一宿取出，焙乾為末），入琥珀末一兩，硃砂末五錢，和勻，以生薑自然汁，煮麵糊熟，再入獖豬心血三個，攪勻，和末為丸，硃砂為衣。每服五十丸，人參煎湯下，日服三次，神效。</p>

<h3>子腫</h3>
<p>孕婦面目、身體、四肢浮腫者，此胎水泛溢，謂之子腫，加味五皮湯主之。</p>
<p>大腹皮　桑白皮（炒）　生薑皮　茯苓皮　白朮　紫蘇（莖葉，各一錢）</p>
<p>棗去核，引。水煎，服時以木香磨濃汁三匙，入內同服。</p>

<h3>子氣</h3>
<p>孕婦自六七個月以來，兩足腫大，行步艱難，腳指間有黃水出，此名子氣，亦多有之。不須醫治，至生子之後，其腫自消。甚者茯苓湯主之。</p>
<p>白茯苓　白朮　陳皮　香附　烏藥（各一錢）　炙草（五分）　紫蘇（五分）　木瓜（三片）</p>
<p>姜引。水煎，空心腹。</p>
<p>孕婦腹大有水氣者，亦名子腫，鯉魚湯主之。</p>
<p>白朮（三錢）　白茯苓（一錢半）　歸身　白芍（各一錢）　陳皮（五分）　活鯉魚（一個，煮汁一盞半，去魚）　加生薑（五片）</p>
<p>煎七分，空心服。</p>

<h3>子滿</h3>
<p>孕婦至七八個月，其胎長大，腹大腹滿，逼迫子戶，坐臥不安，謂之子滿，束胎飲主之。</p>
<p>白朮　黃芩　蘇葉　枳殼　大腹皮（各一錢半）　砂仁（和殼者略炒，五分）　炙草（三分）</p>
<p>姜引。水煎，空心服。</p>

<h3>子淋</h3>
<p>孕婦小便少又澀痛者，謂之子淋，加味火府湯主之。又治溺血。</p>
<p>木通　生地　條芩　甘草梢　麥冬　人參　赤芍（各一錢）　淡竹葉（十五皮）　燈心（四十九寸）</p>
<p>水煎，空心服。</p>

<h3>子鳴</h3>
<p>氣足時，子在腹中鳴者，謂之子鳴。此由母或欠身向高處取物，子在腹中失脫口中所含臍蒂，故啼。治法或令母作男子拜狀，或以豆擲地，令母拾之，子復含著則止矣。又方，以鼠窟門土，取大塊含之。</p>

<h3>妊娠傷食</h3>
<p>孕婦傷食，腹滿吞酸，噁心不喜食者，加味六君子湯主之。</p>
<p>人參（五分）　白朮　白茯（各一錢）　炙草（三分）　陳皮（一錢）　半夏曲（五分）　枳實（炒）　神麯（炒）　砂仁（炒，各五分）</p>
<p>姜引。水煎，食後服。</p>

<h3>妊娠頭痛</h3>
<p>因外感頭痛者，此虛也，加味芎歸湯主之。</p>
<p>川芎　當歸（各一錢半）　黃芩（酒炒）　白朮（各一錢）</p>
<p>細芽茶二錢為引，食後服。</p>

<h3>妊娠目鼻咽喉唇口諸病</h3>
<p>孕婦專以清熱為主，有熱病者，俱用東垣涼膈散，各隨其症加減主之。</p>
<p>黃芩　黃連　山梔仁（各酒炒）　連翹　桔梗　生草（各等分）　薄荷葉（少許）</p>
<p>目赤痛者，本方加當歸、川芎、羌活、防風、菊花各一錢，竹葉引。咽喉痛者，本方加牛蒡子（炒、杵碎）一錢。口舌生瘡者，只依本方姜引。鼻衄不止者，本方加當歸、生地各一錢，茅花一大團，生薑引。</p>

<h3>妊娠瘡毒</h3>
<p>孕婦多有病乳癰者，托裡解毒湯主之。</p>
<p>川芎　當歸　黃芩　白芷　連翹　天花粉　金銀花　甘草節（各一錢）　青皮（五分）　皂刺（七個）</p>
<p>如背上臀上生者，此陽明經也。本方去青皮，加升麻、葛根各一錢。</p>
<p>如胸前兩頰生者，此少陽經也。本方去白芷，加柴胡、膽草、梔仁（炒）各一錢。</p>
<p>如肩膊腋下生者，太陰經也。本方去青皮，加陳皮、桔梗、桑白皮、天冬各一錢。</p>
<p>如在胯內陰旁生者，厥陰經也。本方去白芷，倍加青皮。</p>
<p>如在手足掌內生者，少陰經也。本方去白芷、青皮、天花粉，加黃連、黃柏、木通各一錢。</p>
<p>凡治癰毒，要知九不治處，不可醫也。《經》云：一、伏兔（腳背）；二、腓腨（腳肚）；三、背（中脊）；四、五臟俞（挾脊兩旁）；五、項（對口凶）；六、胸；七、須；八、髭；九、頤。</p>

<h3>雜證</h3>
<p>二條。</p>
<p>孕婦忽然無故悲慘哭泣，狀若邪祟者，此臟躁症也，棗麥湯主之。</p>
<p>甘草（三兩）　小麥（一升）　大棗（十枚）</p>
<p>用水六升，煎三升，去渣，分三服，溫飲即效。</p>
<p>再服竹茹湯數服以和之。</p>
<p><u>竹茹湯：</u>　治孕婦心虛驚恐、臟躁悲泣。</p>
<p>人參　麥冬　茯苓　炙草（各一錢）　小麥（一合）　青竹茹（雞子大一團）　姜（三片）　棗（五枚）</p>
<p>水煎，食後服。</p>
<p>孕婦八九個月，忽然暴喑不語者，此少陰之脈下養乎胎，不能上榮於舌，十月生子之後自能言，非病也。不可服藥，勿信庸醫圖利。</p>

<h2>八月章</h2>
<p>凡孕婦至八九月，形盛胎肥腹大，坐臥不安者，防其難產，宜預服瘦胎丸。</p>
<p>枳殼（麩炒，四兩）　白朮　當歸　甘草（各二兩）　辰砂（為衣，蜜丸）</p>
<p>每服五十丸，食前白湯下。多服瘦胎滑胎，自然易產。</p>
<p>如胎氣本怯，不可服上瘦胎丸，欲防產難，達生散主之。</p>
<p>大腹皮（三錢）　人參　紫蘇（莖葉）　陳皮（各五分）　白朮　當歸（各一錢）　甘草（五分）　白芍（一錢）　枳殼（七分）　砂仁（五分）　青蔥（五根）</p>
<p>水煎，食前服，至十數帖，甚得力。</p>

<h3>難產</h3>
<p>七條。</p>
<p>一、妊娠以血為主，以氣為輔。氣行則血行，氣滯則血滯也。富貴之家，保愛孕婦，惟恐運動，任其坐臥，以致氣滯而不舒暢，血滯而不流通，胎不轉動，臨產因難，甚至悶絕。且如貧賤人，勤動勞苦，生育甚易，明可徵矣。難產之症，宜服前達生散去人參、白芍，加香附、烏藥各一錢。</p>
<p>二、孕婦至六七個月，胎形已全，不知禁忌，恣情交合，以致敗精瘀血聚於胞中，子大母小，臨產必難。何以驗之？兒子生下，頭上有白膜一片，滯膩如膠，俗呼戴白生者是也。此證宜服瘦胎丸，蓋因子大母小故也。</p>
<p>三、孕婦之家，或問命卜，妄談禍福，或禱鬼神，倉惶憂戚，使其孕婦常懷驚恐，喪神喪氣；又或臨產之時，大小慌亂，鬧雜往來，交頭接耳，言三語四，孕婦恐怖，以致產難。試觀不正之女，偷生之兒，既無產厄，子母俱全，可以理推。若此證必戒命卜，止祈禱，但令一二慣熟穩婆，在房扶持，一切閒人杜絕，更令言語寬慰，勿令驚疑。</p>
<p>四、孕婦臨產之時，自覺兒轉動，胞漿流出，腰腹痛甚，目中如火，手足俱冷，此正產也。若兒身未轉，胞漿未破，腹中陣痛，或作或止，此名弄產。穩婆粗率，便令努貢，用力太過，母力已乏，及至產時，無力轉運，以致產難。若此證，催生湯丸視其形症用之。</p>
<p>五、孕婦臨產之時，胞漿既破，兒身既轉，著力一送，兒即下矣。穩婆粗率，見其漿破，即令使力，兒身未轉，或轉未順，被母努貢，逼其快下，有逆產者，有橫產者，有側產者，極為凶危。若此證，惟穩婆之良，或可調護保全，非醫藥之力也。穩婆最忌粗率。</p>
<p>六、少婦初產，身體纖渺，子宮緊窄。當產之時，胞漿已破，兒欲奔出，卻被其母不耐痛苦，輾轉傾側，兩足不開，兒不得出。又有中年之婦，生育多者，氣弱血少。當產之時，胞破漿下，子宮乾澀，生理不滑，淹延數日。如此證，子母得全者鮮矣。天命使然，人力莫及。</p>
<p>七、產育之時，氣以行之，血以濡之，然後子宮滑溜，生理順易。蓋子猶魚也，胞漿猶水也，水行魚行，水止魚止。令產婦胞漿未破之先，不當用力而用力太過，胞漿既破之後，應當用力而力已乏，加以憂恐之甚，起臥之勞，氣閉血阻，漿乾水枯，所以產難，以催生湯丸救之。</p>

<h3>催生四法</h3>
<p>凡初生一二日間艱難者，只以加減五苓散主之。</p>
<p>豬苓　澤瀉　白朮　茯苓　桂　車前子　木通　枳殼　檳榔　甘草（各一錢）　滑石末（二錢）　燈心（四＋九寸）</p>
<p>長流水順取，煎服，連進，以子生為度。</p>
<p>如過二三日，人事強實，飲食能進者，此胞漿乾澀也，加味四物湯主之。</p>
<p>歸尾　川芎　赤芍　生地　桂　玄胡索　枳殼　香附　檳榔（各一錢）</p>
<p>取水煎服如上，調益元散三錢，以子生為度。</p>
<p>如過二三日，人事困頓，飲食少者，此中氣不足，不能運動其胎也，加味四君子湯主之。</p>
<p>人參　白朮　茯苓　炙草　歸尾　川芎　枳殼　香附　桂（各一錢）</p>
<p>取水煎法如上，檳榔磨木香濃汁各五七匙，入內同服。</p>
<p>如三四五日不產，或胎死腹中，何以驗之？觀其母之唇舌俱紅者，子母無事；唇青舌紅者，母死子活；唇紅舌青者，母活子死；唇舌俱青者，母子俱死。奪命丹主之。</p>
<p>蛇蛻（全者一條，新瓦上煅存性）　金銀箔（各七片）　大者母丁香（另研，五錢）　男子亂髮（燒灰，一錢）　馬嗚蛻（即蠶蛻，燒灰，一錢）　黑鉛（二錢五分）　水銀（七分）</p>
<p>先將鉛溶化，入水銀急炒，結成砂子，傾出別研，千里馬鼻（燒灰）七個。於靜室中修合，勿令婦人、雞犬見。各研為末，和勻，用獖豬心血為丸，如梧子大。每服二丸，長流水送下。如昏悶者，研細灌之，可以救得。</p>

<h3>臨產須知</h3>
<p>凡八條。</p>
<p>凡孕婦未產數日前，胎必墜下，小便頻數，此欲產也。慎重之家，於合用藥物、慣熟穩婆，宜預圖之，以備不虞。</p>
<p>其產婦合用之藥物，如催生湯丸、血暈藥物，須要預備。如干漆渣，又破漆器，產時燒之，使產母得聞其氣，無血暈之疾。又燒紅石放盆內，以好醋澆之，房中轉游數次，使產母常聞醋氣，亦無血暈。又取生韭菜一握，放有嘴瓦瓶中，以熱醋澆浸，塞其大口，以嘴向產母鼻嗅之，亦止血暈。又取無病童男小便五、六碗，淨器收貯，臨產之時，即溫一、二杯飲之，自無血暈。</p>
<p>產母房中，只令穩婆一、二人，謹閉門戶，勿使雜人往來，更禁人無事商問，大驚小怪。直待胞漿已動，兒身已轉，逼近子門，可以用力。當此之時，產母護痛，其身傾側，護生者不可抱束其腰，恐致損兒，但扶其肩膊，勿令困倒。</p>
<p>臨產時，如白蜜沸湯、薄粥美膳，常要齊具。如渴，則以白蜜半杯，溫湯化開飲之，以潤燥滑胎，令其易產。如飢，即以薄粥美膳食之，令其中氣不乏，自然易生。</p>
<p>如夏月盛暑之時，必用冷水灑掃房內，解其鬱蒸之氣。將四面窗牖大開，以薄紙帳遮之。使產母溫涼得宜，庶新血不妄行，以致血暈。</p>
<p>如冬月嚴寒之時，必於房中四處燃火，使和暖之氣如春，更要閉其戶牖，塞其穴隙，使邪氣莫入，庶免凍產及中風寒之疾。</p>
<p>臨產時，凡合用水火柴炭、鍋罐刀剪、麻繩線布，無一不備。臨產禁忌，如借地安床埋衣之方不用。</p>

<h1>卷之三</h1>

<h2>產後章</h2>
<p>產後專以補虛為主，其有他疾，以末冶之。今並催生之法，設為問答，以盡病源，以著治法。臨產之工，庶有所憑，司命之寄，亦可無負。</p>

<h3>難產</h3>
<p>問：難產者何也？曰：前章已備矣。多因產母倉皇，坐草太早，或胞漿雖破，兒身未轉，或轉未順，被母用力努貢，以致足先來者，謂之逆產；手先來者，謂之橫產；或漏其肩與耳與額者，謂之側產；或被臍帶纏絆，不得下者，謂之礙產。倉卒之間，二命所繫，不可無法，而隘為仁之術也。</p>

<h3>救逆產</h3>
<p>令其產母正身仰臥，務要定心定神，不可驚怪，卻求慣熟穩婆，剪去指甲，以香油潤手，將兒足輕輕送入，又再推上，兒身必轉直。待身轉頭正，然後服前催生之藥。渴則飲以蜜水，飢則食以薄粥。然後扶掖起身，用力一送，兒即生矣。此在穩婆之良，若粗率蠢人，不可用也。切不可使針刺足心及鹽塗之法，兒痛上奔，母命難存。</p>

<h3>救橫產</h3>
<p>法當如上前截云，仍將兒手輕輕送入，再推上，摸定兒肩，漸漸扶正，令頭順產門，後進催生之藥。飲食之物，一切如上。扶正兒即下矣，忌用針刺。</p>

<h3>救側產</h3>
<p>亦令母仰臥，法如上。穩婆用燈審視，或肩或額，偏左偏右，務得其實，以手法輕輕扶撥令正。仍服藥食如前法，起身用力，兒即下矣。</p>

<h3>救礙產</h3>
<p>令母仰臥，穩婆用燈審視，看臍帶絆著兒之何處，仔細以手法輕輕取脫。服藥食如前法，扶起用力一送，即下矣。</p>

<h3>盤腸生</h3>
<p>問盤腸生者何？曰：當產之時，母腸先出，盤露於外，子隨後生，生後而腸不即收，此謂盤腸生也，苦不忍見。蓋由平日氣虛，不能斂束，血熱易於流動，下元不固，關鍵不牢，致此苦惡。救治之法，於子下衣來之後，卻令產母仰臥，穩婆先將母腸溫水洗淨惹帶之物，然後托起，輕輕送入，推而上之，卻令產母兩足挾緊穀道，其腸自收上也。或取蓖麻子四十九粒，去殼，搗爛，敷在頂心，待腸收盡而急去之，次也。或用冷水和醋，令人噴面，一噴一收，以漸收之，又其次也。欲免其苦者，宜於此後無孕時，多服地黃丸，加五味子一兩、桂一兩，以固下元之關鍵。及有孕時，多服胡連丸，加人參一兩以補氣，又服三補丸以涼血。如滑胎瘦胎之藥，不可輕服。於八月之時，再服八物湯，加訶子、瞿麥、粟殼，連服十餘劑庶可免矣。</p>

<h3>產子氣絕不啼</h3>
<p>問云：云者何？曰：子欲下時，母護其疼，傴僂傾側，兩足不開，扭挾兒頭，氣不得伸，故生下悶絕不啼，謂之寤生。救法待胎衣來，切勿斷臍，急取小鍋燒水，以胎衣置湯中，頻頻用水洗臍帶，須臾氣暖入腹，兒氣即回，而啼聲發出矣。若倉卒斷其臍帶不可救矣。</p>

<h3>子死腹中</h3>
<p>問云：云者何？曰：兒當欲下之時，被母護疼，兩足不開，夾其頭而死者；或因產母掙挫忍耐，當直之人不善扶掖，緊抱其腰，以致傷胎而死者；或因產難，胞漿已干，生路漸塞，子不得出，氣閉而死者；或因生路不順，若逆側等證，穩婆蠢厲，用手莽撞，反傷其子而死者；或被臍帶纏頸，氣絕而死者。其候但觀其母，口青、手指青、臍下冷、口中有臭氣者，子死腹中的矣。急用加味五苓散、奪命丹，取去死胎，以保其母，穩婆善取者尤妙。如母唇面俱青，則難救矣。</p>

<h3>胎衣不下</h3>
<p>問云：云者何？曰：或因產母力乏，氣不轉運，或因血少乾澀，或因子宮空虛，吸貼而不下者，急服加味五苓散甚快。若倉卒無藥，可尋路上破草鞋一隻，近陰處輕系臍帶數道令下。務宜仔細緊束系定，然後斷其臍帶，洗兒收養。產母任其坐臥行立，胎衣自下。有過旬日而爛下者，屢試有驗。若不斷帶，使子氣貫入衣中，衣轉浮脹而不得出矣。天寒之時，猶不便於子也，惟慣熟穩婆善取胎衣者，甚不勞力。</p>

<h3>產後血暈</h3>
<p>問云：云者何？曰：新產婦昏眩卒倒，不省人事，口噤氣冷，謂之血暈。此惡候也，不可救者多。若誤作暗風，庸醫殺之耳。蓋由坐草之時，不知用前防血暈等方，所以有此。其證有二，當分治之。有如血來太多，卒然昏僕者，此血氣兩虛也，急用韭醋嗅法，以待其醒，清魂散主之。</p>
<p>澤蘭葉　人參（各一錢）　荊芥穗　川芎　歸身（各二錢）　炙草（八分）</p>
<p>酒水各一盞，煎一盞，入童便一鍾，同服。</p>
<p>如血去少，惡露未盡，腹中有痛而昏眩者，同上法令醒，黑神散主之。</p>
<p>黑豆（炒，一合）　熟地　當歸　桂（去皮）　乾薑（炮）　炙草　白芍（酒炒）　生蒲黃（各二錢）</p>
<p>酒水各一盞，入童便一鍾服。</p>

<h3>產後子宮脫出</h3>
<p>問云：云者何？曰：其人素虛，產時用力努貢太過，以致脫出，自不能收也，宜用補中益氣湯主之，外用洗法。</p>
<p>荊芥穗　藿香葉　臭椿木根白皮（等分）</p>
<p>銼碎，煎水，無時洗之，子宮即入。</p>

<h3>產後乍見鬼神</h3>
<p>問云：云者何？曰：心主血，血去太多，心神恍惚，睡夢不安，言語失度，如見鬼神。俗醫不知，呼為邪祟，誤人多矣。茯神散主之。</p>
<p>茯神　柏子仁　遠志　人參　當歸（酒洗）　生地（酒洗）　炙草（各一錢）　桂心（五分）　獖豬心（一個）</p>
<p>法如上煎服，調辰砂一錢，食後服。</p>
<p>如心下脹悶，煩躁昏亂，狂言妄語，如見鬼神者，此敗血停積，上干於心，心不受觸，便成此證，芎歸瀉心湯主之。</p>
<p>歸梢　川芎　玄胡索　蒲黃　牡丹皮（各一錢）　桂心（七分）</p>
<p>水煎，調五靈脂（另研末）一錢，食後服。</p>

<h3>產後心痛</h3>
<p>問云：云者何？曰：心者血之主，其人宿寒內伏，因產大虛寒，持於血，血凝不行，上衝心之絡脈，故心痛也。但以大岩蜜湯治之，寒去則血脈行而經絡通，心痛自止。若誤以為敗血，攻之則虛與寒益甚，漸傳心之正經，變為真心痛而死矣。</p>
<p>生地（酒洗）　歸身（酒洗）　獨活　吳茱萸（炒）　白芍（酒炒）　乾薑（炮）　炙草　桂心　小草（即遠志苗，各一錢）　細辛（五分）</p>
<p>水煎，熱服。</p>

<h3>產後腹脹滿悶、嘔吐噁心</h3>
<p>問云：云者何？曰：敗血散於脾胃，脾受則不能運化津液，而成腹脹，胃受則不能受水穀而生嘔逆。若以尋常脹嘔之劑治之，則藥不對證，反增其病，宜用抵聖湯主之。</p>
<p>赤芍　半夏（湯泡）　澤蘭葉　陳皮（去白）　人參（各二錢）　炙草（一錢）　生薑（焙，五分）</p>
<p>水煎服。</p>
<p>亦有傷食而腹脹嘔逆者，以脈辨之。因於血則脈弦澀，不惡食而嘔多血腥；因於食則脈弦滑，惡食而嘔多食臭。加味平胃散主之。</p>
<p>蒼朮（泔水浸，焙）　厚朴（姜炒）　陳皮　香附（醋炒）　人參（各二錢）　炙草　生薑（焙，各五分）　神麯（炒，一錢）</p>
<p>水煎，熱服。或用睍睆丸亦佳。</p>
<p><u>睍睆丸：</u></p>
<p>良薑（炒）　薑黃（炒）　蓽澄茄　陳皮（去白）　莪朮（煨）　三稜（煨）　人參（各等分）</p>
<p>共為末，蘿蔔漫火煮熟，研為末，和藥，將余汁打粬糊為丸，蘿蔔湯下。</p>
<p><u>加味六君子湯</u>　治產後傷食，嘔吐腹脹滿。</p>
<p>人參（五分）　白朮（七分）　陳皮（一錢）　半夏（泡，七分）　白茯（二分）　炙草（三分）　枳實（麩炒，五分）　山楂（五分）　薑黃（二分）</p>
<p>姜三片引。水煎，食遠服。</p>

<h3>產後口乾痞悶</h3>
<p>問云：云者何？曰：由血氣太虛，中氣未足，食麵太早，脾胃不能消化，面毒結聚於胃，上熏胸中，是以有此症也。慎勿下之，睍睆丸主之。</p>
<p>若其人臟氣本虛，宿夾積冷，胸腹脹痛，嘔吐噁心，飲食減少。亦因新產血氣暴虛，風冷乘之，以致寒邪內勝，宿疾益加，吳茱萸湯主之。</p>
<p>吳茱萸（炒，一錢半）　桔梗　乾薑（炒）　炙草　半夏　細辛　當歸（酒）　白茯苓　桂心　陳皮</p>
<p>生薑引。水煎，熱服。</p>
<p>若因胎衣未下，惡露不來，肚腹脹大，繃急如鼓，嘔吐黃水，多帶腥臭，加喘者死。</p>
<p>若因產後多疾，妄投湯丸，重虛其內，肌肉消削，精神疲睏，血少氣乏，乾嘔者死。</p>

<h3>產後咳嗽</h3>
<p>問云：云者何？曰：產後多因惡露上攻，流入肺經，乃成咳嗽。其症胸膈脹悶，宜服二母湯主之。</p>
<p>知母　貝母　白茯苓　人參（各一錢）　杏仁　桃仁（各二錢）</p>
<p>水煎，食後溫服。</p>
<p>又曰：肺主氣，氣為衛，所以充皮毛，密腠理也。產後氣虛衛虛，皮毛不充，腠理不密，風寒襲之，先入於肺，亦成咳嗽。其症發熱、惡寒，鼻塞後重，或多噴嚏，鼻流清涕，旋覆花湯主之。</p>
<p>旋覆花　赤芍　前胡　半夏　荊芥穗　甘草　白茯苓　五味　麻黃（去根節）　杏仁（各等分）</p>
<p>姜五，棗三引。煎服同前。有汗者，去麻黃加桂枝。</p>
<p>如咳久不止，涕唾稠黏，加味甘桔湯主之。</p>
<p>甘草　桔梗　款冬　貝母　前胡　枳殼　白茯苓　五味　麥冬（各等分）　淡竹葉（十五皮）</p>
<p>煎服同前。</p>
<p>如產後吃鹽太早者，難治。</p>

<h3>產後喉中氣急喘促</h3>
<p>問云：云者何？曰：榮者血也，衛者氣也，內水流通，榮衛相隨。產後血下過多，榮血暴竭，衛氣無主，獨聚肺中，故令喘也。此名孤陽絕陰，最為難治，急取鞋底炙熱，於小腹上下熨之，次取奪命丹主之。</p>
<p>附子（炮，去皮臍，半兩）　牡丹皮（去木）　乾漆渣（炒煙盡，各一兩）</p>
<p>共末，用釅醋一升，大黃末一兩同熬成膏，和末為丸，梧子大。每服五十丸，溫酒下。</p>
<p>又問，產後血入於肺，面赤發喘欲死者，參蘇飲主之。</p>
<p>人參（末，一兩）　蘇木（二兩）　水（三盞）</p>
<p>煎一盞（去木），人參末隨時加減服，效難盡述。</p>

<h3>產後腰痛</h3>
<p>問云：云者何？曰：女人之腎，胞脈所繫，產後下血過多則胞脈虛，脈虛則腎氣虛，腎主腰，故令腰疼，利腎地黃湯主之。其症隱隱痛。</p>
<p>熟地黃　歸身（酒）　杜仲（鹽水炒焦）　獨活　桂心　續斷（各一錢）　生薑（三片）　棗（二枚）</p>
<p>水煎，空心服。</p>
<p>又曰：敗血流入腎經，帶脈阻塞，有腰痛者，其症脹痛如刺，時作時止，手不可近，加味復元通氣散主之。</p>
<p>歸身（酒）　川芎　小茴（炒）　破故紙（炒，捶）　玄胡　牛膝　桂心（各一錢）　丹皮（一錢）</p>
<p>水煎，木香五分，磨水和之，更調乳香、沒藥末各五分服。</p>
<p>有因產時起伏䦛䦟，挫閃腎氣及帶脈者，亦或腰疼，用上散方。</p>

<h3>產後遍身疼痛</h3>
<p>問云：云者何？曰：產時骨節開張，血脈流散，元氣衰弱，則經絡肉分之間，血多凝滯，骨節不利，筋脈不舒，故腰背不能轉側，手足不能屈伸而痛也。勿作風寒用汗之劑，宜趁痛散主之。</p>
<p>當歸（酒、全用）　桂　白朮　牛膝（酒浸）　黃耆　獨活　生薑（各一錢）　炙草　薤白（各五分）</p>
<p>水煎服。</p>
<p>又有因新產氣虛，久坐多語，運動用力，遂致頭目昏眩，四肢疼痛，寒熱如瘧，自汗，名曰蓐勞。勿作傷寒，誤投汗劑，白茯苓散主之。</p>
<p>白茯苓　歸身　川芎　桂心　白芍（酒炒）　黃耆（炙）　人參　熟地（各一錢）　獖豬腰子（一對，去脂膜，切片）</p>
<p>煎湯一盞，去腎，姜三片，棗二枚引，同藥煎服。</p>
<p>予按蓐勞之證，或因臨產之時，生理不順，憂恐思慮，內傷其神，輾轉䦛䦟，外勞其形，內外俱傷，形神皆瘁；或因新產之後，氣血未復，飲食未充，起居無度，語言不止，調攝失宜，情欲失禁，外感風寒，內傷飲食，漸成羸疲，百病俱作。苟非良工妙劑，鮮有不成癆瘵而斃者。必宜常服十全大補湯。又早用地黃丸加歸身、牛膝、肉蓯蓉（去甲酒洗）、五味、柏子仁各二兩；日服人參白朮散，作丸服之，常煮腰子粥以助之，大效。</p>
<p>腰子粥煮法：取獖豬腰子一對，去脂膜薄切如柳葉大，用鹽酒拌合一時，水三盞，粳米三合，瓦罐煮粥，入蔥、花椒末，調和得宜，食之。</p>

<h3>產後腹痛</h3>
<p>問云：云者何？曰：女人之血，未有胎時，則為經水，經水不來則病；產時則為惡露，惡露不來則病。故產婦中氣多虛，不能行血，血斯凝滯，或閉而不來，或來而不盡，敗血入腹，故為腹痛，乍作乍止，其痛如刺，手不可近，黑神散主之。蓋敗血隨其所止之處，無不成病。</p>
<p>或產後血虛，外受風冷之氣，內傷寒冷之物，以致腹痛者，得人按摩略止，或熱物熨之略止者是也。當歸建中湯主之。</p>
<p>歸身（酒洗）　白芍（酒炒）　桂心　炙草（各二錢）　生薑（五片）　大棗（三枚）</p>
<p>水煎，入飴湯三匙，攪勻，熱服。</p>
<p>或小腹痛者，臍下胞胎所繫之處，血之所聚也，產後血去不盡，即成痛症。其症無時刺痛，痛則有形，須臾痛止，又不見形。黑神散主之。</p>
<p><u>黑神散</u></p>
<p>熟地黃　蒲黃（炒）　當歸　乾薑（煨）　桂心　白芍藥　甘草（各四兩）　黑豆（炒、去皮，半升）</p>
<p>上為細末，每服二錢，好酒、童便各半盞，同煎服。</p>
<p>又有因產時寒氣客於子門，入於小腹，或坐臥不謹，使風冷之氣乘虛而入，此寒疝也，但不作脹，且無形影為異。金鈴子散主之。</p>
<p>川楝子（去核）　小茴（炒）　破骨脂　桂心　木香（汁，各一錢）</p>
<p>姜引，水煎，入木香汁，食前熱服。</p>

<h3>產後兒枕痛</h3>
<p>問云：云者何？曰：腹中有塊，上下時動，痛不可忍，此由產前聚血，產後氣虛，惡露未盡，新血與故血相搏而痛，俗謂之兒枕痛，即血瘕之類也。當歸玄胡索湯主之。</p>
<p>當歸（身尾酒洗）　玄胡索（各一錢半）　五靈脂　蒲黃（各一錢）　赤芍　桂心（各七分）　紅花（五分）</p>
<p>酒水各一盞，煎一盞，入童便一杯，同服。</p>
<p><u>又羊肉湯</u>　通治上腹痛、小腹痛、兒枕痛之神方也，專治虛羸。</p>
<p>精羊肉（四兩）　當歸（酒洗）　川芎（各五錢）　生薑（一兩）　水（十盞）</p>
<p>煎三盞，分四服。</p>

<h3>產後頭痛</h3>
<p>問云：云者何？曰：人身之中，氣為陽，血為陰，陰陽和暢斯無病。蓋產後去血過多，陰氣已虧，陽氣失守。頭者諸陽之會，上湊於頭，故為頭痛。但補其陰血，則陽氣得從，而頭痛自止。芎歸湯主之。</p>
<p>川芎當歸（用酒洗，各五錢）　蔥白（連須，五根）　生薑（焙乾，五片）</p>
<p>水煎，食後服。</p>
<p>又有敗血停留子宮厥陰之位，其脈上貫頂巔，作頂巔痛者，黑神散主之。</p>

<h3>產後發熱</h3>
<p>問云：云者何？曰：產後血虛則陰虛，陰虛生內熱。其症心胸煩滿，呼吸短氣，頭痛悶亂，晡時轉甚，與大病後虛煩相似，人參當歸散主之。</p>
<p>人參　歸身（酒洗）　熟地　桂（去皮）　白芍（酒炒，各一錢半）　麥冬（去心，一錢）　水（二盞）</p>
<p>先以粳米一合，淡竹葉十片，煎至一盞，去米葉，入藥並棗三枚，煎七分，溫服。熱甚加炒姜一錢。</p>
<p>產後大熱，必用乾薑，何也？曰：此非有餘之熱，乃陰虛生內熱也，故以補陰藥大劑服之。且乾薑能入肺和肺氣，入肝引血藥生血。然不可獨用，必與補陰藥同用。此造化自然之妙，惟天下至神，可以語此。</p>

<h3>產後乍寒乍熱似瘧</h3>
<p>問云：云者何？曰：敗血未盡，陰陽不和，皆能發寒熱也。何以別之？曰：敗血為病，則小腹刺痛，此為異耳。故敗血未盡者，以去滯為主；陰陽不和者，以補虛為主，若作瘧治，誤矣。</p>
<p>問：敗血不盡，乍寒乍熱者何？曰：敗血留滯，則經脈皆閉，榮衛不通，閉於榮則血甚而寒，閉於衛則陽甚而熱，榮衛俱閉，則寒熱交作，榮衛氣行則即解矣。惟黑神散、卷荷散為去血之要藥也。</p>
<p><u>卷荷散</u></p>
<p>初出卷荷（焙乾）　紅花　歸尾　蒲黃　牡丹皮（各一錢）　生地（一錢）　生薑（三片）　童便（一碗）</p>
<p>水煎，熱服。</p>
<p>問：陰陽不和，乍寒乍熱者何？曰：產後氣血虧損，陰陽俱虛。陰虛則陽勝而熱，陽虛則陰勝而寒，陰陽俱虛，則乍寒乍熱。增損四物湯主之。</p>
<p>歸身（酒洗）　白芍（酒洗）　川芎　乾薑（炒焦黑）　人參（各一錢）　炙草（五分）　姜（三片）　棗（三枚）</p>
<p>水煎服。寒多熱少者，加桂一錢；熱多寒少者，加柴胡一錢，乾薑減半；煩渴者，加知母、麥冬各一錢；食少者，加陳皮、白朮各一錢；虛倦甚者，加黃耆（蜜炙）一錢。</p>
<p>問：似瘧真瘧，何以別之？曰：似瘧寒不凜凜，熱不蒸蒸，發作無時，亦不甚苦，此正氣虛而無邪者也。真瘧者，寒則湯火不能御，熱則冰水不能解，發作有時，煩苦困頓，此正氣虛而邪氣相搏者也。</p>

<h3>產後瘧疾</h3>
<p>問云：云者何？曰：氣血俱虛，榮衛不固，脾胃未復，或外感風寒，內傷飲食，皆能成瘧。又有胎前病瘧，產後未愈者。產後之瘧，最難調理，只以補虛扶正為主，正氣勝則邪氣自退，不可輕用截藥，重虛正氣，為害甚大，增損柴胡四物湯主之。</p>
<p>北柴胡　人參　半夏　炙草　歸身（酒洗）　川芎　乾薑　桂　姜（三片）　棗（三枚）</p>
<p>水煎，不拘時服。久瘧加黃耆（蜜炙）、鱉甲（醋炙）各一錢。</p>

<h3>產後渴</h3>
<p>問云：云者何？曰：胃者水穀之海，津液之府也。產後去血甚多，津液內耗，胃氣暴虛，頓生內熱，故口燥咽乾而渴也。加人參麥冬湯主之。</p>
<p>人參　麥冬　生地　瓜蔞根　炙草（各二錢）</p>
<p>先取淡竹葉十片，粳米一合，煎湯一盞，去米葉，加生薑三片，棗二枚，煎七分，溫服。</p>

<h3>產後汗出不止兼變證</h3>
<p>問云：云者何？曰：血為榮，行乎脈中；氣為衛，行乎脈外，相須為守者也。產後去血過多，榮血不足，衛氣失守，不能斂皮毛，固腠理，故汗泄而易出也。宜急止之，恐風寒乘虛而入，變生他症，宜麻黃根湯主之。</p>
<p>歸身（酒洗）　黃耆（蜜炙）　麻黃根　人參　炙草（一錢半）　牡蠣（煅，另研）</p>
<p>水二盞，以浮麥一合，煮至一盞，去麥，入藥，再煎至七分，調牡蠣粉二錢，服之。</p>
<p>如眩暈汗出者，此名冒汗，虛極也。急用：</p>
<p>黃耆（炙）　人參　炙草（各二錢）　附子（制，一錢）</p>
<p>水煎，斡開口灌之。大抵此危症，多不可救。</p>
<p>如汗不止，風邪乘之，忽然悶倒，口眼喎斜，手足攣曲，如角弓反張者，此痓病也。急用：</p>
<p>桂枝　葛根　白芍　炙草　炙耆　歸身（各二錢）　熟附（五分）</p>
<p>斡開口灌之。此亦危症，不治者多。</p>

<h3>產後中風</h3>
<p>問云：云者何？曰：產後正氣暴虛，百節開張，風邪易入，調理失宜，風即中之，不省人事，口自蠕動，手足攣曲，身如角弓，此風外中者也，愈風湯主之。</p>
<p>羌活　防風　當歸（酒洗）　川芎　白芍（酒炒）　桂　黃耆　天麻　秦艽（各二錢）</p>
<p>薑棗引。水煎，熱服。</p>
<p>又曰：諸風振掉，皆屬肝木。肝為血海，胞之主也。產後去血過多，肝氣暴虛，內則不能養神，外則不能養筋，以致神昏氣少，汗出膚冷，眩暈卒倒，手足瘈瘲，此肝虛生風，風自內生者也。用當歸建中湯加黃耆、人參各一錢，熟附五分，薑棗引，不用飴湯。</p>
<p>如痰迷心竅，神氣不清，恍惚昏眩者，用琥珀壽星丸，人參煎湯下。</p>

<h3>產後傷寒</h3>
<p>問云：云者何？曰：氣血俱虛，榮衛不守，起居失節，調養失宜，傷於風則衛受之，傷於寒則榮受之，而成傷寒也，只以補虛為主，隨證以末治之。</p>
<p><u>五物湯</u></p>
<p>人參　歸身　川芎　白芍（酒炒）　炙草（等分）　姜（三片）</p>
<p>蔥白三根引。水煎服。</p>
<p>有汗曰傷風，本方加桂枝、防風；無汗曰傷寒，本方加麻黃、蘇葉；寒熱往來，本方加柴胡；頭痛本方加藁本、細辛；遍身痛本方加羌活、蒼朮；但熱不惡寒，本方加柴胡、葛根；發熱而渴本方加知母、麥冬、淡竹葉。</p>

<h3>產後霍亂吐瀉</h3>
<p>問云：云者何？曰：脾胃者，氣血之本也。產後血去氣損，脾胃亦虛，風冷易乘，飲食易傷，少失調理，即有霍亂、心腹絞痛、手足逆冷、吐瀉並作。加味理中湯主之。</p>
<p>人參　白朮　炙草　乾薑（炮）　陳皮　藿香　厚朴（薑汁炒）　生薑（焙，五片）</p>
<p>水煎，溫服無時。</p>

<h3>產後泄瀉</h3>
<p>問云：云者何？曰：產後中氣虛損，寒邪易侵，若失調理，外傷風寒，內傷生冷，以致脾胃疼痛，泄瀉不止，理中湯主之。如泄不止者再加肉豆蔻（麵包煨），共末，蜜丸，米飲下。</p>

<h3>產後痢疾</h3>
<p>問云：云者何？曰：濕多成泄，暴注下迫，皆屬於熱。赤白痢者，乃濕熱所為也。故赤者屬熱，自小腸而來；白者屬濕，從大腸而來。俗云：赤為熱，白為寒，非也。無積不成痢，蓋由產母平日不肯忌口，傷於飲食，停滯於中，以及中氣虛損，不能調理，宿積發動而為痢也。亦有因子下之時，說腹中空虛，縱食雞蛋與雞之類以補虛，殊不知食飲自倍，脾胃乃傷，脾胃氣弱，難以克化，停滯而成痢也。務宜詳審斟酌，以施治法，庶不誤人矣。</p>
<p>如果新產之時，飲食過傷者，其症腹中脹痛，裡急窘迫，身熱口渴，六脈數實，宜下之。加味小承氣湯主之。</p>
<p>枳實（麩炒）　厚朴（姜炒，各二錢）　大黃（酒炒，二錢五分）　檳榔（一錢半）　炙草（一錢）　生薑（三片）</p>
<p>水煎，熱服。以快便為度，中病即止。後用四君子湯加陳皮和之。</p>
<p>如新產後未有所傷，其症其脈與上卻同者，此宿食為病也，宜消而去之，枳實湯主之。</p>
<p>枳實（麩炒）　木香　炙草（各一錢）　厚朴（薑製，二錢）　檳榔（一錢五分）　生薑（三片）</p>
<p>水煎服。快利為度，後以四君子湯加陳皮和之。</p>
<p>如無新舊食積，下痢赤白，腹痛窘迫，脈沉數者，此虛痢也。宜行氣和血為主，當歸芍藥湯主之。</p>
<p>歸身　白芍（酒）　人參　白茯（各一錢）　炙草　木香（各五分）　枳殼（炒，七分）　黑乾薑（二分）　陳皮（一錢）　烏梅（一個）</p>
<p>水煎，食前服。</p>
<p>如久痢不止者，此氣虛血少，腸滑不禁也，宜四君子湯加白芍、烏梅、罌粟殼、大棗主之。</p>
<p>又有產後惡露不下，以致敗血滲入大腸而利鮮血者，腹中刺痛，里不急、後不重是也。用：</p>
<p>枳殼（麩炒，一錢半）　荊芥穗（略炒，二錢五分）</p>
<p>水煎服，神效。</p>

<h3>產後大便閉澀不通</h3>
<p>問云：云者何？曰：人身之中，腐化糟粕，運行腸胃者，氣也；滋養津液，溉溝瀆者，血也，產後氣虛而不運，故糟粕壅滯而不行，血虛而不潤，故溝瀆乾澀而不流，大便不通，乃虛秘也。不可誤用下劑，反加閉澀，宜潤燥湯主之。</p>
<p>人參　甘草（各五分）　歸身梢　生地　枳殼（各一錢）　火麻仁（去殼捶碎，二錢）　桃仁泥（二錢）　檳榔（磨汁，五分）</p>
<p>先將上六味煎，後入桃泥末二錢，入檳榔汁服。</p>
<p><u>更用蘇麻粥</u></p>
<p>真蘇子（一合）　火麻子（三合）</p>
<p>共擂爛，以水一盞，濾汁，又擂取汁，渣盡為度。用汁和粳米煮粥食之，甚效。老人虛秘，尤宜常用。</p>

<h3>產後小便不通或短少</h3>
<p>問云：云者何？曰：膀胱者，州都之官，津液藏焉，氣化則能出矣。產後氣虛，不能運化流通津液，故使小便不通，雖通而亦短少也。勿作淋秘，輕用滲利之藥，其氣益虛，病亦甚，宜加味四君子湯主之。</p>
<p>人參　白朮　白茯　炙草　麥冬　車前子（各一錢）　桂心（五分）　姜（三片）</p>
<p>水煎，食前服。</p>
<p>又有惡露不來，敗血停滯，閉塞水瀆，小便不通，其症小腹脹滿刺痛，乍寒乍熱，煩悶不安，加味五苓散主之。</p>
<p>豬苓　澤瀉　白朮　茯苓　桂（各一錢）　桃仁　紅花（各二錢）</p>
<p>水煎服。</p>

<h3>產後淋</h3>
<p>問云：云者何？曰：此亦血去陰虛生內熱證也。蓋腎為至陰，主行水道，去血過多，真陰虧損，一水不足，二火更甚，故生內熱，小便成淋而澀痛也，加味導赤散主之。</p>
<p>生地　赤芍　木通（去皮）　甘草梢　麥冬（去心）　黃柏　知母　桂心（各一錢）　燈心（四十七寸）</p>
<p>水煎，調益元散二錢服。</p>
<p>問：前言小便不通，後言淋閟，二證何別？曰：不通者屬氣虛不通，淋屬內熱澀痛，以此別之。</p>

<h3>產後尿血</h3>
<p>問云：云者何？曰：小腹痛者，乃敗血流入膀胱，小腹不痛，但尿時澀痛者，乃內熱也。並用小薊湯主之。</p>
<p>小薊根　生地　赤芍　木通　蒲黃　甘草（梢）　淡竹葉（各一錢）　滑石（二錢）　燈心（四十九寸）</p>
<p>水煎。敗血加歸梢、紅花各一錢，兼內熱加黃芩、麥冬各一錢。</p>

<h3>產後小便數及遺尿不禁</h3>
<p>問云：云者何？曰：下焦如瀆，所以主瀦泄也。產後氣血虛脫，溝瀆決裂，瀦蓄不固，水泉不止，故數而遺也。下者舉之，脫者澀之，宜用升陽調元湯合桑螵蛸散主之。</p>
<p>人參　黃耆（炙）　炙草　升麻　益智子（去殼、炒，各一錢五分）</p>
<p>薑棗引。水煎，調桑螵蛸散服。</p>
<p>真桑螵蛸　白龍骨（煅）　牡蠣（左顧者，煅，各等分）</p>
<p>細研末，每服三錢，入湯調服。</p>
<p>又有產前穩婆用手誤犯胞破者，以致小便不禁，宜用參朮湯主之。</p>
<p>人參（二錢半）　白朮（二錢）　桃仁　陳皮　白茯苓（各一錢）　炙耆（一錢五分）　炙草（五分）</p>
<p>豬胞或羊胞一個，洗淨，水二盞，煮至一盞，去胞，入藥，煎七分，食前多服乃佳。</p>

<h3>產後咳逆</h3>
<p>問云：云者何？曰：此氣從胃中出，上衝賁門，吃忒而作聲也。有胃氣虛寒者；有中氣不足，衝任之火直犯清道而上者；有飲水過多，水停而逆者；有大小便閉，下焦不通，其氣上逆者；有胃絕者。大約產後咳逆，乃胃虛氣寒證也。加味理中湯主之。</p>
<p>人參　白朮　炙草　乾薑（炮）　陳皮（各一錢）　丁香（五分）　乾柿蒂（二錢）</p>
<p>水煎服。有熱去丁香，加竹茹二錢。</p>
<p>如虛羸太甚，飲食減少，咳逆者，胃絕也，難治。</p>

<h3>產後浮腫</h3>
<p>問云：云者何？曰：新產之後，敗血不盡，乘虛流入經絡，與氣相雜，凝滯不行，腐化為水，故令四肢浮腫，乍寒乍熱。勿作水氣治之，輕用滲利之劑。但服調經湯，使氣血流行，其腫自消，調經湯主之。</p>
<p>歸身（酒洗）　赤芍　牡丹皮　桂心　赤茯苓　炙草　陳皮（各一錢）　細辛　乾薑（炒，各五分）</p>
<p>姜引，水煎服。</p>
<p>又有產後虛弱，腠理不密，調理失宜，外受風濕，面目虛浮，四肢腫者，加味五皮湯主之。</p>
<p>桑白皮　陳皮　生薑皮　茯苓皮　大腹皮　漢防己　枳殼（炒）　豬苓　炙草</p>
<p>姜引，水煎服。</p>

<h3>產後惡露不止</h3>
<p>問云：云者何？曰：產後衝任損傷，氣血虛憊，舊血未盡，新血不斂，相併而下，日久不止，漸成虛勞。當大補氣血，使舊血得行，新血得生。不可輕用固澀之劑，使敗血凝聚，變為癥瘕，反成終身之害，十全大補湯主之。如小腹刺痛者，四物湯加玄胡索、蒲黃（炒）、乾薑（炒）主之。</p>

<h3>產後惡露不下</h3>
<p>問云：云者何？曰：此有二證，治各不同。或因子宮素冷，停滯不行者，黑神散主之。此必小腹脹滿刺痛無時也。或因脾胃素弱，中氣本虛，敗血亦少，氣乏血阻，不能盡下。其症乍痛乍止，痛亦不甚，加減八珍湯主之。</p>
<p>人參　白朮　白茯　炙草　歸身　川芎　赤芍　熟地　玄胡　香附</p>
<p>薑棗引，水煎，食前服。</p>

<h3>產後眼見黑花昏眩</h3>
<p>問云：云者何？曰：惡露未盡，敗血流入肝經，肝經開竅於目，故眼見黑花。諸風振掉，皆屬肝木，故為昏眩。用前清魂散加牡丹皮一錢，煎服如前。</p>

<h3>產後脅痛</h3>
<p>問云：云者何？曰：此亦敗血流入肝經，厥陰之脈，循行脅肋，故為脅痛。證有虛實，宜分治之，不可誤也。如脅下脹，手不可按，是瘀血也，宜去其血，芎歸瀉肝湯主之。</p>
<p>歸尾　川芎　青皮　枳殼　香附（便浸）　紅花　桃仁（各二錢）</p>
<p>水煎，入童便一鍾，酒一鍾服。</p>
<p>如脅下痛，喜人按，其氣閃動肋骨，狀若奔豚者，此去血太多，肝臟虛也。當歸地黃湯主之。</p>
<p>歸身　白芍　熟地（俱酒洗）　人參　甘草　陳皮　桂（各錢半）</p>
<p>薑棗引，水煎。</p>

<h3>產後不語</h3>
<p>問云：云者何？曰：人心有七孔三毛。產後虛弱，敗血停積，閉於心竅，神志不能明瞭，故多昏瞶。又心氣通於舌，心氣閉則舌強不語。七珍散主之。</p>
<p>人參　石菖蒲　生地　川芎（各一錢）　細辛（三錢）　防風（五分）　辰砂（研，五分）</p>
<p>水煎，調辰砂，食後服。</p>
<p>又有語言不清，含糊蹇澀者，蓋心主血，血去太多，心血虛弱，舌乃心之苗，其血不能上榮於舌，萎縮卷短，語之不出也。加味參麥散主之。</p>
<p>人參　麥冬　歸身　生地　炙草　石菖蒲（各一錢）　五味子（十三粒）　獖豬心（一個，劈開）</p>
<p>水二盞，煮至一盞半，去心入藥，煎七分，食後服。又治怔忡有效。</p>

<h3>產後暴崩</h3>
<p>問云：云者何？曰：產後衝任已傷，氣血未復；或恣欲勞動胞脈；或食辛熱鼓動相火；或因惡露未盡，固澀太速，以致停留。一旦復行，須要詳審。先用四物湯倍加芎歸，再加人參，作大劑服之，扶其正氣，然後隨其所傷，加減調治。</p>
<p>因於房勞者，本方加黃耆、炙草、阿膠（炒）、艾葉同服。</p>
<p>因於辛熱者，本方加白朮、白茯、甘草、黃連（炒）。</p>
<p>因於劫澀者，本方加香附、桃仁。</p>
<p>崩久不止，只用本方調十灰散服之。蓋崩本非輕病，產婦得之，是謂重虛，尤不可忽也。</p>

<h3>產後瘕塊</h3>
<p>問云：云者何？曰：此惡露不盡之害也。蓋由新產惡露不來；或來不盡；或產婦畏藥，雖有痛苦，強忍不言；或主人與醫堅執產後虛補之說，不可輕用去血之藥；以致敗血停留，久而不散，結聚成塊，依附子宮，妨礙月水，阻絕嗣息，夭其天年。欲治此者，必用丸藥以漸磨之，非湯散旬日之力。</p>
<p>熟地（二兩）　香附（醋製，四兩）　山茱萸（去核，二兩）　牡丹皮（去木，一兩五錢）　桂（一兩）　歸身（二兩）　川芎（二兩）　三稜（醋煮煨，一兩）　莪朮（醋煮煨，一兩）　九肋鱉甲（去肋，醋炙枯，一兩）　桃仁（另研，一兩）　五靈脂（一兩五錢）　玄胡素（炒）　破故紙（炒，各一兩）　木香（一兩）</p>
<p>蜜丸。每空心服五十丸，白朮陳皮湯下。</p>
<p>此證惟坐馬丹方見效如神。瓦楞子破瘕聖藥也。萬氏未注此一方，或者因方駭眾，故不注耶。</p>

<h3>產後玉戶不斂</h3>
<p>問云：云者何？曰：女子初產，身體纖柔，胞戶窄小，子出不快，乃致拆裂，漸次潰爛，日久不斂。宜內服十全大補湯，外又用敷藥。</p>
<p>白芨　白龍骨　訶子肉　爛蜂殼　黃柏（炒，等分）</p>
<p>為細末。先用野紫蘇煎洗，拭乾，以此藥搽之，即效。又烏龜殼入干夜合草於內塞滿，燒煙燻之自合。</p>

<h3>產後乳汁不通</h3>
<p>問云：云者何？曰：或初產之婦，則乳方長，乳脈未行；或產多之婦，則氣血虛弱，乳汁短少。並用加味四物湯。</p>
<p>歸身　人參　川芎　赤芍　生地　桔梗　甘草　麥冬　白芷（各一錢）</p>
<p>如因乳汁不行，身體壯熱，胸膈脹悶，頭目昏眩者，加木通、滑石末，水煎，食後服。更煮豬蹄湯食之，則乳汁自行。豬蹄一對，洗淨，煮爛，入蔥調和，並汁食之。又云：要入香油，炒穿山甲，共煮，去甲食之才好。</p>

<h1>附錄</h1>

<h2>回生丹並論</h2>
<p>何集庵曰：回生丹，保產之仙藥也。數年前有修合施人者，臨產服一丸，坦然快便，不覺其功。但聞製藥時，必先齋戒，虔心發願普濟，然後擇一靜室，如法遵行。同學馬禹琛，又在吳門制六百餘丸，蒙以十丸見贈，余歸即隨手與人。癸丑冬日，有一難產者，子死腹中，余聞而急簡笥中，尚有一丸，送與服之，死胎立下，母命獲全，人咸驚歎。余遂發心，即日修制廣施。迄今丙辰，業已四載，其間產中艱難諸症，無不立效。但此方不知始自何人，遍簡方書，唯《萬病回春》有之。記云：長葛孫奎臺經驗，較余所傳之方尚有所缺。製法湯引亦未講明。余特為詳述之，列方於下：</p>
<p><u>回生丹</u></p>
<p>錦紋大黃（一斤，為末）　蘇木（三兩，打碎，用河水五碗煎汁，三碗聽用）　大黑豆（三升，水浸，取殼，用絹袋盛殼同豆煮熟，去豆不用，將殼曬乾，其汁留用）　紅花（三兩，炒黃色，入好酒四碗，煎三五滾，去渣存汁聽用）　米醋（九斤，陳者佳）</p>
<p>將大黃末一斤，入淨鍋，下米醋三斤，文火熬之，以長木箸不住手攪之成膏，再加醋三斤熬之，又加醋三斤，次第加畢。然後加黑豆汁三碗，再熬。次下蘇木汁，次下紅花汁，熬成大黃膏。取瓦盆盛之，大黃鍋粑亦剷下，入後藥同磨。</p>
<p>人參（二兩）　當歸（一兩，酒洗）　川芎（一兩，酒洗）　香附（一兩，醋炒）　玄胡索（一兩，醋炙）　蒼朮（一兩，米泔浸，炒）　蒲黃（一兩，隔紙炒）　茯苓（一兩）　桃仁（一兩，去皮尖、油）　川牛膝（五錢，酒洗）　甘草（五錢，炙）　地榆（五錢，酒洗）　川羌活（五錢）　廣橘紅（五錢）　白芍藥（五錢，酒炒）　木瓜（三錢）　青皮（三錢，去穰，炒）　白朮（三錢，米泔浸炒）　烏藥（二兩半，去皮）　良薑（四錢）　木香（四錢）　乳香（二錢）　沒藥（二錢）　益母草（二兩）　馬鞭草（五錢）　秋葵子（二錢）　熟地（一兩）　三稜（五錢，醋浸，逗紙裹煨）　五靈脂（五錢，醋煮化，焙乾，研細）　山茱萸肉（五錢，酒浸濕，搗爛，入藥酒）</p>
<p>上三十味，並煎黑豆殼，共曬乾為末，入石臼內，下大黃膏拌勻，再下煉熟蜜一斤，共搗千杵，取起為丸。每丸重二錢七八分，靜室陰乾，須二十餘日，不可日曬，不可火烘，干後只重二錢有零，溶蠟護之，所謂蠟丸也。用時去蠟殼，調服其湯。又各有所宜，開列於下：</p>
<p>—　臨產用參湯服一丸，則分娩全不費力，如無參，用淡淡炒鹽湯。論曰：凡胎己成，子食母血，足月血成塊，謂之兒枕。將產，兒枕先破，血裹其子，故難產。服此丹，逐去敗血，須臾自生。橫生、逆產同治。亦有因氣血虛損難治者，宜多服人參。</p>
<p>—　子死腹中，因產母染病所致，用車前子一錢煎湯，調服一丸或二丸至三丸，無不下者；若因血下太早，子死，用人參、車前子各一錢，煎湯服。如無參，用陳酒少許，煎車前湯。</p>
<p>—　胎衣不下，用炒鹽少許泡湯，調服一丸或二三丸，即下。</p>
<p>—　產畢血暈，用薄荷湯，調服一丸，即醒。</p>
<p>以上四條，乃臨產緊要關頭，一時即有名醫，措手不及，起死回生，此丹必須預備。</p>
<p>—　產後三日，血氣未定，還走五臟，奔充於肝，血暈，起止不得，眼見黑花，以滾水調服此丹，即愈。</p>
<p>—　產後七日，氣血未定，因食物與血結聚胸中，口乾、心悶、煩渴，滾水下此丹愈。</p>
<p>—　產後虛羸，血入於心肺，熱入於脾胃，寒熱似瘧，實非瘧也，滾水服此丹愈。</p>
<p>—　產後敗血，走注五臟，轉滿四肢，停留化為浮腫，渴而四肢覺寒，乃血腫非水腫也，服此丹愈。</p>
<p>—　產後敗血熱極，心中煩躁，言語癲狂，非風邪也，滾水服此丹愈。</p>
<p>—　產後敗血，流入心孔，閉塞失音，用甘菊花三分，桔梗三分，煎湯，調服。</p>
<p>—　產未滿月，誤食酸寒堅硬之物，與物相搏，流入大腸，不得克化，泄痢膿血，用山楂煎湯調服。</p>
<p>—　生產時，百節開張，血入經絡，停留日久，虛脹痠疼，非濕證也，用蘇梗三分，煎湯，調服此丹愈。</p>
<p>—　產後月中，飲食不得應時，兼致怒氣，余血流入小腸，閉塞水道，小便澀結，溺血似雞肝，用木通四分煎湯，調服此丹。又或流入大腸，閉卻肛門，大便澀難，有瘀而成塊如雞肝者，用廣皮三分，煎湯調服此丹。</p>
<p>—　產後惡露未淨，飲食寒熱不得調和，以致崩漏，形如肝色，潮熱煩悶，背膊拘急，用白朮三分，廣皮二分，煎湯，兼用調服。</p>
<p>—　產後敗血入五臟六腑，並走肌膚四肢，面黃口乾，鼻中流血，遍身斑點，危症也，陳酒化服此丹，可愈。</p>
<p>—　產後小便澀，大便閉，乍寒乍熱，如醉如癡，滾水調服此丹。</p>
<p>以上十三條，皆產後敗血為害也，故此丹最有奇功。至產後一切異症，醫所不識，人所未經，但服此丹，無不立安。一丸未應，二丸、三丸必效無疑。</p>
<p>胎前常服此丹，壯氣養胎，滋陰順產，調和五臟，平理陰陽，更為神妙。室女經閉，月水不調眾疾，並效。</p>

<h2>調經種玉湯</h2>
<p>當歸身（八錢）　川芎（四錢）　熟地（一兩）　香附（六錢，炒）　白芍（六錢，酒炒）　茯苓（四錢）　陳皮（三錢）　吳茱萸（三錢）　丹皮（三錢）　玄胡索（三錢）</p>
<p>若過期而經水色淡者，血虛有寒也，加官桂、炮薑、熟艾各一錢；若先期三五日，色紫者，血虛有熱也，加條芩三錢，銼，四帖，生薑三片，水碗半，煎至一碗，空心溫服。渣再煎，臨臥時服。經至之日服起，一日一服，藥完經止，即當入房，必成孕矣。縱未成孕，經當對期，俟期來再服，最效。</p>
<p>歌曰：歸芎熟地香附芍，茱萸苓陳丹皮索。</p>

<h2>產前治法</h2>
<p>產前之證，俱照各門治之，惟有子懸、胎漏、胎動最難。更可畏者，是橫生倒養，不可不急講也。子懸之症，乃胎熱而子不安，身欲起立於胞中，故若懸起之象，其實非子能懸掛也。若作氣盛，下之立死矣。用：</p>
<p>人參（二錢）　白朮（五錢）　茯苓（二錢）　白芍（五錢）　黃芩（三錢）　杜仲（二錢）　熟地（一兩）　生地（三錢）　歸身（二錢）</p>
<p>此方全是利腰臍之聖藥，少加黃芩清之，則胎得寒，而子自定，況方中滋補有餘，而寒涼不足。蓋胎繫於腰臍之間，而胞又結於任沖之際，今藥皆直入於內經之中，則深根固蒂，子即欲動而不能，況又有清子之藥，有不泰然於下者乎？</p>
<p>漏胎乃氣血不足之故，急宜以峻補之方。用：</p>
<p>人參（二錢）　白朮（五錢）　杜仲（二錢）　枸杞（一錢）　山藥（二錢）　歸身（一錢）　茯苓（一錢）　熟地（五錢）　麥冬（二錢）　北五味（五分）　萸肉（二錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>此方不寒不熱，安胎之聖藥也，凡有胎不安者，此方安之，神效。胎之動也，由於男女之癲狂，今補其氣血，自然鎮定，又何至漏胎哉。</p>
<p>胎動，即漏胎之兆，亦以此方治之，無不神效。</p>
<p>難產，如橫生倒養，此死亡頃刻也。若無急救之法，何以成醫之聖。然而胎之不順，由於氣血之虧，氣血既虧，子亦無力，往往不能轉順頭，遂至先以手出，或先腳下矣。倘手足先出，急以針刺兒之手足，則必驚而縮入。急用：</p>
<p>人參（一兩）　歸身（三兩）　川芎（二兩）　紅花（三錢）</p>
<p>速灌之，少頃則兒頭直而到門矣。倘久而不順，再將前藥服之，不可止也。若兒頭既已到門，久而不下，此交骨不開之故。速用：</p>
<p>柞木枝（一兩）　歸身（二兩）　川芎（一兩）　人參（一兩）</p>
<p>煎湯服。</p>
<p>少頃，必然一聲響亮，兒即生矣。倘兒頭不下，萬萬不可用柞木枝。蓋此味專開交骨，兒未回頭，而產門先開，亦死之道。故必須兒頭到門，而後可用此方也。此產前之法，必當熟悉於胸中，而後臨產不致倉皇。</p>

<h2>小產治法</h2>
<p>小產雖無大產之虛，而氣血亦大傷矣，宜急補之，則日後坐胎，不致再有崩漏。方用：</p>
<p>人參（五錢）　茯苓（三錢）　熟地（一兩）　杜仲（二錢）　炮姜（五分）　白朮（五錢）</p>
<p>水煎服。</p>
<p>此方乃補氣補血之聖方，胞動而下，必損帶脈，補其氣血，則帶脈損處可以重生，他日受孕，不致有再損之虞也。</p>

<h2>治胎動方</h2>
<p>白朮（一兩）　熟地（一兩）</p>
<p>水煎服。</p>
<p>此方妙在用白朮以利腰臍，用熟地以固根本，藥品少而功用專，所以取效神也。此方可以救貧乏之人，名黑白安胎散。</p>

<h2>治胎漏方</h2>
<p>白朮（五錢）　熟地（一兩）　三七根（末三錢）</p>
<p>水煎服。</p>
<p>此方妙在三七根，乃止血神品，故奏效如響，名止漏絕神丹。</p>

<h2>治產難方</h2>
<p>難產婦人之常，但難產非兒之橫逆，實母之氣衰，以致兒身不能迴轉，於是手先出而足先墮矣。但見此等生法，口中念：「無上至聖化生佛」百遍，兒之手足即便縮入。急用：</p>
<p>人參（一兩）　附子（一錢）　歸身（二兩）　川芎（五錢）　黃耆（一兩）</p>
<p>煎湯與之，兒身即順，立刻產下。蓋參耆補氣，歸芎補血，氣血既足，兒易舒展，何必服催生之丸哉！倘不補氣血，而用催生墮胎之藥，必致轉利轉虛，不殺母即殺子矣。</p>

<h2>又治產難方</h2>
<p>如胞漿已破，血來許久而不生者，皆因血氣乾枯所致。急宜用：</p>
<p>歸身（四兩）　川芎（一兩）　益母草（二兩）　人參（一兩）</p>
<p>濃煎湯，頻頻與之，自無不下。如貧不能得許多參，即數錢亦可，或重用黃耆代之亦可。如用黃耆，必須三四兩，再加附子一錢。橫生逆產俱可治。</p>

<h2>佛手散</h2>
<p>治六七個月後，因事跌磕傷胎，或子死腹中，疼痛不已，口噤昏悶，或心腹飽滿，血上衝心者，服之，生胎即安，死胎即下。又治橫生、倒產及產後腹痛、發熱、頭痛。逐敗血，生新血，能除諸疾。</p>
<p>當歸（五錢）　川芎（三錢）</p>
<p>水七分，酒三分，同煎七分。</p>
<p>如橫生倒產，子死腹中者，加黑馬料豆一合，炒焦熟，乘熱淬入水中，加童便一半煎服，少刻再服。</p>

<h2>加味芎歸湯</h2>
<p>百試百驗，萬叫萬靈，真神方也。此方必兒頭到門，方可服。</p>
<p>當歸（一兩）　川芎（七錢）　龜板（手大一片，醋炙研末）　婦人頭髮（如雞蛋大，瓦上焙存性）</p>
<p>水二碗，煎一碗服。如人行五里即生，死胎亦下。</p>
<p>薛云：交骨不開者，陰氣虛也，用此方如神。又云：上舍某之妻，產門不開，兩日未生，服此方一劑，即時而產。上舍傳，此方用之者無不驗。</p>

<h2>保產神效方</h2>
<p>未產能安，臨產能催，偶傷胎氣，腰疼腹痛，甚至見紅不止，勢欲小產，危急之際，一服即愈，再服全安。臨產時交骨不開，橫生逆產，或子在腹中，命在垂危，服之奇效。</p>
<p>全當歸（酒洗，一錢五分）　真川芎（一錢五分）　紫厚朴（薑汁炒，七分）　菟絲子（酒泡，一錢半）　川貝母（去心淨，一錢，煎好，方和入）　枳殼（麩皮炒，六分）　川羌活（六分）　荊芥穗（八分）　黃耆（蜜炙，八分）　蘄艾（醋炙，五分）　甘草（炙，五分）　白芍藥（酒炒，一錢二分，冬用一錢）　生薑（三片）</p>
<p>水兩鍾，煎八分，渣水一鍾，煎六分，產前空心預服二劑，臨產隨時熱服。此乃仙授奇方，慎勿以庸醫加減其分兩。</p>

<h2>產後治法</h2>
<p>產後之病，不可枚舉，總以補氣補血為主。產後往往血暈，頭痛，身熱，腹疼，或手足逆而轉筋，或心脅滿而吐嘔，風邪入而變陰寒，或涼氣侵而直為厥逆，皆死亡定於旦夕，而危急亂於須臾也。此時若作外證治之，藥下喉即變證莫測矣，可不慎歟！方用：</p>
<p>人參（五錢）　白朮（五錢）　熟地（一兩）　歸身（二兩）　川芎（一兩）　荊芥末（炒黑色，二錢）</p>
<p>此方為主，有風感之，加柴胡八分；有寒入之，加附子一錢；肉桂一錢，其餘諸證俱不可亂加。以此方服之，無不神效，但可或減分兩而不可去取藥味。蓋產婦一身之血，盡行崩下，皮膚腠理，如紙之薄，邪原易入，然亦易出也。故於大劑補正之中，略加祛邪之藥，少黏氣味，邪則走出於軀殼之外，焉可照平常無病之人，慮其邪之難散，而重用逐邪之方也。方中妙在純是補氣補血之品，全不顧邪，盡在補正，正氣既盛，邪氣自遁。況方中原有荊芥之妙劑，不特引氣血各歸經絡，亦能引邪氣各出皮毛。此方之所以真奇妙也。惟有兒枕痛，手按之少痛者，宜加入山楂十粒，桃仁五個可也。一劑即去之，余藥萬不可輕用增入也。或問熟地三日內可用否？曰：一日何嘗不可用也。</p>

<h2>產後聖方</h2>
<p>人參（三錢）　歸身（一兩）　川芎（五錢）　荊芥末（一錢，炒黑）　益母草（二錢）</p>
<p>水煎服。</p>
<p>有風加柴胡五分，有寒加肉桂一錢，血不淨加山楂十粒，血暈加炮姜五分，鼻中衄血加麥冬二錢，夜熱加地骨皮一錢，有食加山楂五粒、穀芽一錢，有痰加白芥子五分，余斷斷不可侵入。此方純補氣血而不治表，所以為妙，屢治產後，無不神效。</p>

<h2>又產後聖方</h2>
<p>產後最宜服參，但貧者不易得，今酌定一方代之。</p>
<p>黃耆（八錢，蜜炙）　白朮（三錢）　歸身（三錢）　茯苓（一錢）　熟地（四錢）　炙草（一錢）　益母草（二錢）　淮牛膝（一錢）　炮姜（一錢）</p>
<p>如自汗、眼花、視小為大，是將脫也，宜服參附湯。</p>
<p>人參（一兩）　附子（一錢或二錢、三錢）</p>
<p>參不可得，則前方黃耆可加至二兩，更加附子一錢。</p>
<p>臨產宜服獨參湯，參不可得，則前方去牛膝、炮姜，加滑石末二錢，產自易。此方屆月即可服。</p>

<h2>治乳腫硬方</h2>
<p>產後諸證悉屬虛，惟乳腫硬發熱，則暫宜疏滯，訂方如下：</p>
<p>漏蘆　瓜蔞　橘葉　甘草節（各一錢）　青皮　通草（各八分）　蒲公英　金銀花（各二錢）</p>
<p>二劑即產，不可多服。</p>

<h2>小兒開口良方</h2>
<p>穿山甲（一片）　防風（二錢）　甘草（五分）</p>
<p>煎汁極濃，磨穿山甲二三匙，開口，余搽乳頭上。二日後小兒大便出黑屎為驗，可免終身一切驚風。屢試屢驗。小兒開口，最忌金黑黃連，切不可用。</p>

<h2>小兒免麻痘方</h2>
<p>俟小兒臍帶落下，以新瓦二片，上下各一片，將臍帶挾在中間，焙成炭，存性，務宜勤視，總以煙盡為度。取出用碗覆地上，去火氣，一時取起。戥稱，如臍炭重一分，外用辰砂五釐，同臍炭放乳缽內研成細末，另用當歸一錢，防風一錢，煎流水二三匙，調前末，與小兒服盡為度。三日後小兒通身發出沸瘡樣，脫去皮膚，即驗。終身可免麻痘，縱出亦必稀。</p>

<h2>又稀痘神驗方</h2>
<p>大麻子（去殼取肉揀肥白者，三十六粒）　硃砂（一錢，另研極細末，須選紅劈砂為妙）　真麝香（五釐）</p>
<p>上將硃砂、麝香二味，共為細末，然後入大麻三味，共研一處，極細成膏子。於五月五日午時，搽小兒頭頂上、前心窩、後背心、兩手心、兩足心、兩胯灣、並兩脅窩、兩腿灣，共一十三處。俱要搽到，勿使藥有餘剩，如錢大，搽後不可洗動，待其自落。本年搽過一次，出痘數粒；次年端午節午時再搽一次，出痘一、二粒；再次年端陽午時，又搽一次，痘永不出。如未過一周小兒，於七月七日、九月九日，亦依前法搽之，更妙。傳方之家，已十六代不出痘，有益無損，誠寶赤之靈丹也，宜留心預備之。</p>
