<header data-type="book">
<h1>六因條辨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陸子賢</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1868">公元1868年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第七冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521057">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>六因條辨序</h1>
<p>夫醫之道難言哉，民生之體質不同，地土之氣候攸殊，即人之致病也亦各有異。苟不神明乎陰陽表裡之蘊，升降變化之原而出之，無當也。況時症諸門，關人性命尤速，其可率爾操觚以誤人乎。然欲求勿誤人，則莫如求諸書，邇者醫書林立，即時症一門，自仲聖而下，代有專書，不勝枚舉。然於脈象病原用藥加減，而分門別類，縷晰條陳，覽之使人一目瞭然者蓋鮮。吾崇道光年間，有陸子賢先生者，素精此道，潛心玩索。臨症數十年，考古賢之方書，參今人之病情，深入顯出，融會貫通。其所以濟世救人者，功德蓋不可勝量。因取平生閱見時症之名目，而總論之，條辨之。證以古說，附以己見，而顏之曰：六因條辨。總目分十有四，條辨則百有八十，其於脈象病原用藥加減，或一症之先後傳變，或藥味之寒熱溫涼，靡不斟酌盡善，因時制宜。真所謂醫書中之分門別類，縷晰條陳者矣。是以本邑人士，奉於圭臬，傳鈔殆遍，不過未公諸天下同好耳。今歲丙午陸君繹堂先生亦精是道，與子賢先生有薪傳之誼，謀欲付梓行世，以公諸同好。因攜是書以屬序於予，予愧不敏，素未熟諳此道，無以仰贊高深，然繹堂先生忠厚士也，難於拂所請。故不揆檮昧，略贅膚語，以弁諸簡端云爾。</p>
<p><u>時光緒三十二年歲次丙午陽月中瀚同邑優廩生王祖曾撰於循善堂之雙桂軒。</u></p>

<h1>序</h1>
<p>嘗觀仲景《傷寒》《金匱》雜病，包蘊靡遺，良法大備。經王叔和編次之餘，改頭換面，茫乎無垠，學者何由以入。迨後英賢繼起，如朱奉議劉河間、張易州輩，皆各抒所見，自成一家言，然未知盡合仲景之旨否也。即有善者，猶耳目口鼻之各立門戶，而不能兼賅，人第知通三才為儒，而不知不通三才尤不可為醫。醫也者，非上窮天紀，中極人才，下究地宜，豈能入岐伯之室，登仲景之堂乎。自縉紳先生以方術視醫，而醫道之凌夷久矣。且方書汗牛充棟，言之當，固濟世之慈航。倘有差池，所以誤天下蒼生者，良非細故也。是非深得於心，而幾經閱歷，幾番增損，奚敢筆之於書。吾友陸君子賢，好古博學，上自靈素，下及百家，搜討有年。所著《六因條辨》，簡而明，約而賅，大書以提其綱，分注以詳其用。其中經絡臟腑，營衛氣血，並用藥準繩，靡不由淺入深，曲盡其奧。學者誠能遂條細勘，潛心體認，將見大年廣蔭，實有裨於斯道，（予）故喜而為數言以弁諸簡端，不識子賢以（予）言為有當否。</p>
<p><u>同治七年五月上浣世弟潁川豫庭氏其順拜題</u></p>

<h1>卷上</h1>

<h2>春溫辨論</h2>
<p>嘗按《內經》：冬傷於寒，春必病溫。又云：冬不藏精，春必病溫。語雖二致，理實一貫，所重在藏精而已矣。蓋冬主藏，腎亦主藏，人能體冬之藏陽而藏精，則人不自傷於寒，寒豈遽傷乎人哉。故四氣調神篇曰：逆冬氣者腎病，奉生者少。逆春氣者肝病，奉長者少。逆夏氣者心病，奉收者少。逆秋氣者肺病，奉藏者少。彼以春起論，而歸本奉藏，可知奉時之藏以藏精，則四時生長收藏，於五臟各司一氣，交相遞運，無偏無勝，而順一歲之氣候也。若煩勞多欲之人，陽氣疏泄，陰水先虧，時令之邪，易於湊襲，所謂至虛之處，便是客邪之處也。況春為歲首，冬為歲末，春之發生，賴冬之封藏。觀夫諸陰在上，一陽在下。其時天氣嚴寒，而井水反溫，及諸陽在上，一陰在下，其時天氣炎熱，而井水反涼，是陰陽消長，天地闔闢之機也。人生一小天地，苟能順天時而固密，則腎氣內充，命門三焦之陽氣，足以固腠理而護皮毛。雖當春令升泄之時，而我身之真氣，內外彌淪，不隨升令之泄而告匱。縱有寒邪，安能內侵？晉·王叔和云：寒毒藏於肌膚，至春而變為溫，至夏而變為熱。以致後人翻駁，何不云，腎精不藏之人，至春易病溫，至夏易病熱，便能深入理譚矣。即《內經》冬傷於寒，春必病溫之句，注家咸謂冬令閉藏，寒毒伏於腎中，病不即發，至春陽氣大泄，內伏之寒邪，隨升令而外達。後賢錢天來，已大非其說矣，謂冬傷於寒者，乃冬傷寒水之臟，即冬不藏精之互詞，何得以寒邪誤解耶。夫寒為殺厲之氣，中人即病，非比暑濕之邪，能伏處身中。況腎為生命之本，所關最大，安有寒邪內入，相安無事，直待春時始發之理。由此推之，顯系溫之為病，由腎精之不藏矣。蓋腎既失藏，坎水先虧，少陽之少火，悉化為壯火，與春時之溫氣，互相交熾。然亦必因外感微寒，而能引動。故初起亦似傷寒之頭痛身疼，發熱惡寒，較諸傷寒，則傳變尤速，而於幼稚者為甚，以體屬純陽，陽與陽合，其感尤易，甚而化癍化痘，為驚為厥者也。然此溫字，又與瘟疫不同，瘟疫乃不正之戾氣，四時皆有，而此溫乃獨發於春，故名春溫。至於治法，總宜辛涼清解，預顧陰液，大忌辛溫升散，鼓動風陽，苟能臨症制宜，對症發藥，庶不愧為司命矣。故不揣譾陋，列為條辨，同道君子，知我罪我，其在斯乎。</p>

<h2>春溫條辨第一</h2>
<p>春溫初起，頭痛身疼，無汗惡寒，發熱目赤，口渴舌白，脈浮數，此溫邪襲衛。宜用薄荷、大力、黃芩、杏仁、甘草、桑葉、連翹、葛根等味，涼辛解表也。</p>
<p>溫邪初起，無異傷寒。仲景謂口渴則為溫症，不渴則為傷寒，是千古隻眼也。蓋傷寒必先太陽，而後陽明少陽。以太陽經脈最長，由睛明穴，上額交巔絡腦循項，挾脊抵腰入膕，行身之背，至足跟而終，故見證，必惡寒發熱，頭痛項強，腰痛足酸。而陽明則在太陽之次，其經起於面，挾鼻上額循目眶行身之前，至足內踝而終，故見證必目痛鼻乾，不得臥。而少陽則又在陽明之次，其經起於目銳眥，上頭角，絡耳中，循胸肋，行身之側，至足外跟而終，故見證必胸脅痛而耳聾，寒熱嘔而口苦。至傳入三陰，始太陰，則口燥咽乾，腹滿便瀉，以其經脈循腹繞嗌入口故也。繼少陰，則咽痛舌乾，身熱下利，以其經脈入腹循喉嚨，挾舌本故也。終厥陰，則舌卷囊縮，四肢逆冷，以其經脈循少腹，繞陰器，《傷寒例》中論之最詳。若春溫則木火熾乎中，微寒襲乎外，病起之時，憎寒壯熱，雖與三陽傷寒相類，而口乾舌燥則異。良由先感溫邪，後再感寒，被引而發，故初起必頭痛身疼，惡寒發熱，與太陽傷寒，似乎相同。雖宜表散，而目赤口渴，熱自內蒸，必兼清涼，故用薄荷、大力、桑葉、葛根、解表、黃芩、甘草、杏仁、連翹清裡。無汗加蔥白、淡豉以助之，咳嗽加枇杷葉以泄之。惟羌活為太陽表藥，葛根為陽明表藥，柴胡為少陽表藥，今頭痛身疼，不用羌活，而用葛根者，以陽明為太陽之次，邪既在表，先用葛根、薄荷、大力、桑葉協力透表，以斷太陽入陽明之路也。不然傳入陽明，則或氣或血，為疹為斑，變幻恐無已時焉。</p>

<h2>春溫條辨第二</h2>
<p>春溫汗出，微惡寒，頭額痛，發熱口渴，脈弦長，此溫邪在氣。宜用杏仁、薄荷、連翹、葛根、大力、蔞皮、黑梔、桑葉、枇杷葉等味，輕苦微辛，以清氣分也。</p>
<p>凡溫症，猶傷寒初起，亦先傷陽經，而後傳變。然傷寒以六經見證為主，迨傳變，而後更分營衛、氣血，溫熱則以營衛氣血為主。勢已成，而後兼分六經見證，何也？傷寒先太陽，次陽明少陽，以次相傳而後入陰。溫熱，則太陽之後，便傳變無窮。若不先將營衛氣血，分晰辨明，則茫無畔岸，何可措手？故種福堂《溫熱論》云：溫邪上受，首先犯肺，逆傳心胞。又云：衛之後方言氣，營之後方言血，聆此以權衡營衛氣血，最為切要，乃既汗後，微惡寒，發熱額痛，口渴脈長。此邪在陽明之表，衛外之邪既散，氣分之熱未清，欲傳之象已著。故用葛根、薄荷、桑葉、大力、枇杷葉開泄透表，連翹、黑梔、蔞皮、杏仁宣清肺氣，使衛分氣分之邪兩解，不致傳入陽明之腑，而為斑黃狂妄也已。</p>

<h2>春溫條辨第三</h2>
<p>春溫汗後，頭不痛，身熱不惡寒，舌漸黃，咳囔脅痛，脈弦數，此溫邪犯肺。宜用杏仁、象貝、沙參、桑葉、薄荷、蔞皮、連翹、兒苓、枇杷葉等味，輕揚宣肺也。</p>
<p>肺位最高，其象空虛，外徹衛表，內司氣化，溫邪初起，首先犯肺。肺主氣，其合皮毛，皮毛者即衛表也。故溫邪之始，亦有頭不痛，而僅見凜凜惡寒者。今汗後頭不痛，不惡寒，是皮毛表邪，已透己泄。而惟身熱舌黃，脈弦或數，是內熱未清，兼咳脅痛，邪尚在肺，若不宣泄，必致傳陷。故用沙參、桑葉、杏仁、象貝、薄荷、連翹、兒苓、枇杷葉，取氣輕質薄之品，恰到肺位為度，非敢過清過表，而反致纏綿焉。</p>

<h2>春溫條辨第四</h2>
<p>春溫汗多，頭仍痛，而煩熱口渴，舌黃脈洪，此邪在陽明氣分。宜用白虎湯，加葛根、連翹、元參、杏仁等味，清氣化熱也。</p>
<p>前條汗後，頭額痛，發熱，脈弦長，乃陽明經病，自宜透表。今汗多，則表邪已解，反煩熱口渴，舌黃脈洪，則邪不在經，而傳及氣分，非表散所能退。故用白虎湯之石膏、知母、連翹、元參清肺胃，杏仁、葛根透經邪，甘草、粳米養胃津。特葛根為陽明經病主藥，石膏為陽明氣熱主藥，犀角為陽明血熱主藥，邪既在氣，仍兼經藥者，以冀由氣轉經，由經達表，仍從汗泄耳。</p>

<h2>春溫條辨第五</h2>
<p>春溫煩熱口渴，舌黃尖絳，昏譫脈洪，此陽明氣血燔蒸。宜用玉女煎，加連翹、元參、鮮石斛、鮮菖蒲、青竹葉等味，兩清氣血也。</p>
<p>上條煩熱口渴，舌黃脈洪，乃陽明氣熱，例宜清氣。此乃舌黃尖絳，神昏譫語，血分已熱，心營被灼，非兩清之，病必不解。故用玉女煎之石膏、知母以清氣，生地、元參以涼血，連翹、菖蒲、竹葉以清心營，甘草、粳米、石斛以養胃陰。庶不熱灼津傷，而成痙厥為要。</p>

<h2>春溫條辨第六</h2>
<p>春溫熱不解，舌赤尖絳，神昏譫妄，口渴脈數，斑疹隱隱，此熱傳心營。宜用鮮生地、鮮石斛、鮮玉竹、元參心、連翹心、鮮菖蒲、竹葉。將延血分，故以生地、元參涼血，連翹、玉竹，清熱，菖蒲、竹葉清營，牛黃丸等味清營透邪也。</p>
<p>上條舌黃尖絳，譫語脈洪，乃氣熱傳營。此條舌赤尖絳，神昏脈數，熱已入營，牛黃丸，宣竅，不致入血成痙，便是回生之兆。</p>

<h2>春溫條辨第七</h2>
<p>春溫舌絳或黑，譫妄煩躁，神昏脈促，斑疹紫黑，此熱入血分。宜用犀角地黃湯，加元參心、連翹心、鮮石斛、鮮菖蒲、紫草、至寶丹等味，涼血清熱也。</p>
<p>上條神昏舌絳，斑疹脈數，熱在心營。此條舌絳焦黑，昏譫妄笑，脈促斑紫，熱傳血分。古稱斑色紫為胃熱，黑則胃爛。邪在心胞，則妄笑。心主血，心熱則血熱，血熱則斑黑。舌為心苗，心熱則舌焦。斯非大劑涼血破瘀，則斑疹難化。須藉犀角、生地、赤芍、丹皮涼血，元參、連翹、菖蒲、至寶清心。倘得斑紅神爽，庶可望治，然亦九死一生之候。若見症如前，而或便閉腹硬，舌黑焦黃，可與涼膈散下之，俾大便一通，邪熱頓祛，則病勢霍然矣。</p>

<h2>春溫條辨第八</h2>
<p>春溫煩熱消渴，神迷如寐，舌卷囊縮，肢逆昏厥，此熱陷厥陰，真陰欲涸。宜用犀角、羚角、生地、元參、連翹、天冬、麥冬、牡蠣、阿膠、鉤藤、鮮菖蒲等味，清絡熄風也。</p>
<p>按仲景《傷寒》厥陰條云：煩熱消渴，氣上撞心，飢不欲食。今兼神昏舌卷，津液消耗，且厥陰為至陰之臟，有入無出。仲景所謂，熱深厥亦深，熱微厥亦微，厥少熱多。是為病解，厥多熱少，病漸入深，其肢冷昏厥，勢所必至。況厥陰肝脈，上循咽舌，下繞陰器，故為病必舌卷囊縮。斯時邪深正竭，勉用犀角、羚角、生地、元參以清營絡，天冬、麥冬以壯水，阿膠、牡蠣以潛陽，鉤藤、菖蒲以熄風，俾陰充陽潛，熱退神清，始有生機，然亦百中圖一而已。</p>

<h2>春溫條辨第九</h2>
<p>春溫舌黑神昏，煩躁咬牙，手足振顫，時或抽搐，此熱極風生，已成痙厥。宜用東洋參、鮮生地、元參心、連翹心、鮮石斛、羚角、鉤藤、石決明、白芍、鮮菖蒲等味，扶正熄風也。</p>
<p>神昏舌黑，煩躁不安，陽津陰液俱耗。陰虧則陽乏交戀少陽木火，變為壯火，化出內風，肆橫旋擾，內逼神明，外竄經脈。故手足振動，抽搐咬牙。然此亦有虛實之分，其虛者，陰陽風動，熱走胃絡，固宜清之補之。其實者，熱結在腑，腸胃擁塞，便閉口噤，又宜攻之疏之。其間虛實，大相徑庭，若勿辨明，貽害無窮。茲云：手足振顫，咬牙切齒，一似齧物，兼之神昏舌黑，虛象昭然。故用生地、元參、連翹、石斛、白芍以養陰清熱，羚角、石決明、鉤藤、菖蒲以清絡熄風，東洋參以扶補正氣，庶幾可保萬一焉。</p>

<h2>春溫條辨第十</h2>
<p>春溫熱渴不已，舌光色絳，心悸神迷，此熱傷胃陰。宜用復脈湯，去薑桂，加地骨皮、鮮石斛、牡蠣、白芍等味，甘涼養陰也。</p>
<p>舌絳而光，是無苔也。煩熱消渴，胃津涸也。更兼心悸神迷，營液亦耗。若不養陰，必致痙厥。非藉復脈之生地、鮮斛、麥冬、甘草以養胃陰，阿膠、牡蠣、白芍以滋肝陰，則恐陽動風生，難免昏痙之變。</p>

<h2>春溫條辨第十一</h2>
<p>春溫經旬不解，舌乾紫晦，煩熱消渴，神迷脈數，此肝腎陰傷。宜用人參固本湯，加阿膠、牡蠣、鮮石斛、鮮菖蒲、廣鬱金等味，涼肝滋腎也。</p>
<p>上條舌絳神迷，熱渴不已，胃津營液俱耗，宜用甘寒。此條舌乾紫晦，神迷脈數，是肝腎陰傷。宜與鹹寒，故用二冬、二地以壯水，阿膠、牡蠣以柔肝，甘草、石斛以養胃，菖蒲、鬱金以宣竅，毋使陽升陽動，而變痙厥焉。</p>

<h2>春溫條辨第十二</h2>
<p>春溫面晦肢冷，心腹熱甚，舌卷囊縮，神迷如寐，默不思飲，此邪伏厥陰。宜用吳又可三甲散，加柴胡梢、殭蠶、川芎、桃仁、丹皮、鬱金、鮮菖蒲等味，升泄陰邪也。</p>
<p>邪伏厥陰，漫無泄越，氣血沉混，陽反如陰，所以面反青晦，肢反逆冷，心腹反熱，舌卷囊縮。此邪深入絡，清濁混淆，以致清陽矇蔽，如醉如癡，機竅不靈，默默如寐，與飲則飲，不與亦不思，一如脫症也。斯時權衡，既非清涼可解，又非溫燥所宜。惟仿吳氏三甲散法，用醋炒鱉甲、土炒山甲、酒浸地鱉蟲以搜剔厥陰隱伏之邪，更兼柴胡、川芎、殭蠶以升發少陽清陽之氣，桃仁、丹皮以破血，鬱金、菖蒲以清心，服後苟得肢溫面赤，語出思食，反覺煩擾欠安，則邪得升泄之意，而病有轉化之機矣。</p>

<h2>春溫條辨第十三</h2>
<p>春溫頭痛，發熱惡寒，煩躁神昏，舌白尖赤，此邪著表裡。宜用杏仁、薄荷、蔞皮、連翹、橘紅、羚角、淡豉、桑葉、鬱金、菖蒲等味，表裡兩解也。</p>
<p>凡頭痛發熱，無汗惡寒，乃溫邪初襲肺衛之間，而兼煩躁神昏，舌白尖赤，則有已犯心營之界矣。若僅與開泄，則表邪雖解，而營熱難清。故用杏仁、薄荷、桑葉、淡豉以疏衛，連翹、羚角、蔞皮、鬱金、菖蒲以清營，此為泄衛透營之法，俾表裡之邪有兩解，而無傳陷也。</p>

<h2>春溫條辨第十四</h2>
<p>春溫惡寒發熱，頭痛身疼，而忽大汗不止，或吐或瀉，肢冷脈微，神昏煩躁，此陽證變陰。宜用十四味大建中湯，陰陽兩顧也。</p>
<p>頭痛身疼，發熱惡寒，本系表證，因服升散太過，或被覆強逼。而忽大汗不止，或大吐大瀉，遂致肢冷脈微，神昏煩躁，乃表邪盡泄，陽氣隨脫，反為陰症。非用十四味大建中湯之陰陽並補，則危在頃刻矣。是非溫症正病，乃因病致變之險候也。</p>

<h2>春溫條辨第十五</h2>
<p>春溫頭痛發熱，心煩多嘔，咳逆胸悶，將發痧疹。宜用薄荷、大力、杏仁、連翹、淡豉、黑梔、枳殼、桔梗、生薑、竹茹等味，清泄肺胃也。</p>
<p>頭痛發熱，邪初在表，心煩咳嘔，胸悶不舒，則涉及肺胃矣。夫肺熱則化疹，胃熱則化斑，若不開泄，勢必入營。故用薄荷、大力、淡豉、杏仁疏泄表邪，連翹、黑梔清泄內熱；枳殼、桔梗開提胸膈；生薑、竹茹和胃理痰，使膈上之痰，俱得宣化，則肺胃之氣熱自清，而邪無留停之患，若此用法，庶無偏弊焉。</p>

<h2>春溫條辨第十六</h2>
<p>春溫頭痛身熱，惡寒無汗，胸悶泄瀉，此表邪傳裡。宜用黃芩湯，加葛根、薄荷、杏仁、厚朴、赤苓、澤瀉等味，通泄三焦也。</p>
<p>頭痛身熱，無汗惡寒，邪尚在表，理宜汗解，或加胸悶泄瀉，是邪不外泄，反從內走，若不分清，恐成痞結。故仿仲景三陽合病，協熱下利之例。用黃芩湯者，藉黃芩之苦寒清熱，白芍、甘草之甘酸化陰，加葛根、薄荷以透表，杏仁、厚朴以疏脾，赤苓、澤瀉以分利，俾表裡三焦之邪，一齊分解，得一擊百中之義焉。</p>

<h2>春溫條辨第十七</h2>
<p>春溫發熱惡寒，脘痛拒按，舌黃便閉，嘔惡脈滑，此溫邪挾積。宜用保和丸，加藿香、薄荷、淡豉、黑梔等味，消食透邪也。</p>
<p>東垣云：脘痛舌黃便閉，右關脈滑，痛而拒按，此為食積。若兼惡寒發熱，且欲嘔惡，是挾溫邪。宜與兩解，故用保和丸以消導，加藿香、薄荷、淡豉、黑梔以疏泄也。</p>

<h2>春溫條辨第十八</h2>
<p>春溫惡寒發熱，頭痛無汗，頸頷核腫，牙關不宣，此溫邪時毒。主以荊防敗毒散，再按經加減，以疏風熱可也。</p>
<p>凡時毒初起，亦必發熱頭痛，惡寒無汗，無溫邪彷彿，但頸間核腫，名為時毒。須要辨明結在何經，而施主治。凡腫在頷下者，屬陽明，以升麻、葛根為主。在耳下者，屬少陽，以柴胡、黃芩為主。在頸項者，屬太陽，以羌活、獨活為主。此係風熱上壅，蘊結而成，故用荊防、薄荷以疏風熱，枳殼、桔梗以開上焦，羌獨升葛柴芩，為三陽經消風化邪之主藥。臨症時，再能按經加減，則症無不痊矣。</p>

<h2>春溫條辨第十九</h2>
<p>春溫頭痛，惡寒發熱，面赤目紅，咳逆嚏涕，咽痛口渴，此麻疹也。宜用薄荷、大力、荊芥、杏仁、蟬衣、桔梗、甘草、連翹、馬勃、射干等味，疏風透疹也。</p>
<p>風溫犯肺，熱壅上焦，故初起面目俱赤，咳涕咽疼，皆手太陰見證。今頭痛惡寒，發熱無汗，是邪踞衛分，腠理不開，郁化斑疹，若不疏散，恐其內陷。故用薄荷、荊芥、蟬衣、大力以祛風，連翹、桔梗、馬勃、射干以清熱，使斑疹透露，不致傳入心營，而變神昏之險。</p>

<h2>春溫條辨第二十</h2>
<p>春溫汗多，不惡寒，反惡熱，口渴煩悶，舌黃脈洪，此邪傳陽明氣分。宜用大劑白虎湯，直清陽明也。</p>
<p>發熱而微兼惡寒，目痛額疼，不得臥，此屬陽明經病。宜用葛根湯，辛涼解肌。若不惡寒而反惡熱，口渴，舌黃，脈洪大，此屬陽明氣熱。宜用大劑白虎湯，辛寒清胃。如無汗，而舌淡黃者，不可用也。若舌黑尖絳，神昏譫語，煩熱脈數，此屬陽明血熱，又宜犀角地黃湯，涼血透邪也。若舌雖焦黑，而苔見老黃，此屬陽明腑熱，以涼膈散下之。總之，此皆陽明證，而有經病腑病血病氣病之殊，俱當按證施治，不得絲毫混淆，而夭人性命，可不慎歟。</p>

<h2>春溫條辨第二十一</h2>
<p>春溫不惡寒，反惡熱，煩躁神昏，斑黃譫妄，舌黃焦黑，揚手擲足，逾垣上屋，此陽明腑熱。宜用大劑白虎湯，加犀角、連翹、元參、人中黃、竹葉。若大便閉結，頻轉矢氣者，更加大黃元明粉，緩攻清熱也。</p>
<p>上條陽明氣熱，民宜白虎湯，以清氣分。此條昏譫便閉，舌色焦黃，斑黃狂亂，乃熱結胃腑，非清涼可解。故用大劑白虎，合犀角、人中黃、元參、連翹以兩清氣血，兼大黃、元明粉，以緩逐其瘀。俾大腑一通，則邪熱頓解，而狂妄皆平焉。仲景云：大便閉而轉矢氣者，有燥矢也。其腹必硬痛，若腹雖硬痛，而下利稀水者，此熱結旁流，仍宜攻之。勿以大便既泄，而徘徊莫進，醫者詳之。</p>

<h2>春溫條辨第二十二</h2>
<p>春溫經旬不解，神昏狂妄，舌絳焦黑，斑紫或黑，煩躁難禁，此熱陷血瘀。宜用犀角地黃湯，加紫草、元參、連翹、廣鬱金、鮮菖蒲、紫雪丹等味，涼血化斑也。</p>
<p>熱傳陽明不解，必致入血，熱與血瘀，非清涼可退。必藉犀角、生地、元參、連翹之涼血。又佐赤芍、桃仁、紫草之破血，鬱金、菖蒲之宣竅，紫雪、竹葉之清心，務得神清舌潤，斑轉紅活，方有生機。然斑色紫黑，胃熱已極，若見煩躁，則內閉外脫之勢已成，其危可立而待也。雖欲逆挽天機，恐亦聊盡人工而已。</p>

<h2>春溫條辨第二十三</h2>
<p>春溫熱不解，少腹硬痛，小便自利，大便黑色，昏譫犯妄，此蓄血也。宜用犀角、生地、桃仁、丹皮、赤芍、歸尾、靈脂、柴胡、黃芩等味，甚者加大黃、䗪蟲，破瘀逐邪也。</p>
<p>上條熱陷血瘀，此條熱與血結。仲景云：小便自利，大便黑色，晝則明瞭，夜則譫語，此蓄血症也。熱既入血，非破不解。故仿犀角地黃湯，加歸尾、桃仁、靈脂、䗪蟲、大黃破血逐邪。俾瘀血破，而邪熱透，則犯妄之形自息也。按仲景論，蓄血有太陽不解，而由腑及血，用桃仁承氣湯。有陽明不解，而由氣及血，用犀角地黃湯。甚者，俱用抵當湯逐之。今溫邪蓄血，必從陽明入血者居多，故用犀角地黃湯清之。陶氏用小柴胡湯，加歸尾、山楂、桃仁、丹皮，以有寒熱往來涉及少陽者。且熱既入血，非升泄不能解也。</p>

<h2>春溫條辨第二十四</h2>
<p>春溫婦女，往來寒熱，經水適來，病發適斷，晝明夜昏，此熱入血室。宜用小柴胡湯去半夏，加歸尾、桃仁、山楂、丹皮、赤芍、廣鬱金、鮮菖蒲等味，破瘀透邪也。</p>
<p>仲景云：婦女傷寒，經水適來，熱則適斷，寒熱往來，晝則明瞭，夜則譫語，此熱入血室，當刺期門穴。此穴在脅下，肝之絡也。血室者，血海也。考《內經》衝脈為血海，又心主血，脾統血，肝藏血，凡婦女經水，貯於衝脈，必由肝脾心三臟之統攝而能蓄泄有常。今熱由少陽傳入血海，則瘀滯不行。血屬陰，夜亦屬陰。凡入衛氣，晝則行陽，夜則行陰。故入血之邪，至夜則劇。陶氏仿小柴胡湯，升泄少陽，加歸尾、桃仁、赤芍、丹皮、山楂涼血祛瘀，兼鬱金、菖蒲宣竅透邪，甚者加大黃、䗪蟲逐之。總之，臨症之識，不外氣血營衛，陰陽表裡，用藥之要，得中寒熱溫涼汗吐下和而已也。</p>

<h2>春溫條辨第二十五</h2>
<p>春溫表證未解，大便忽瀉，胸脘痞滿，按之不痛，舌黃脈滑，此邪陷成痞。宜用瀉心湯，苦降辛通也。</p>
<p>仲景論痞，都因誤下，邪陷而成，今表證未解，而忽加泄瀉，與誤下之意相同，以致表邪乘虛陷入，勢欲下泄。奈其人胃氣尚強，與熱相抗，而邪難直泄。因而阻遏心下，蘊結不散，遂致有形，按之不痛。斯時表之則邪難外越，攻之則邪不下走。故仲景用瀉心湯，得芩連之苦寒泄熱，半夏之辛溫通陽，枳實之苦燥破結，虛者合人參之甘溫扶正。名為瀉心，非瀉心也，乃瀉心下之痞滿耳。</p>

<h2>春溫條辨第二十六</h2>
<p>春溫吐瀉已多，舌光干赤，呃逆不食，脈軟神疲，此胃陰大傷。宜用橘皮竹茹湯，和胃養津，呃不止，用代赭旋覆花湯，通胃鎮逆也。</p>
<p>吐瀉既多，胃氣大傷，所謂大吐傷陽，大瀉傷陰也。若舌既乾紅而無苔膩，鏡面之象已成，胃津消耗已竭矣。加之呃逆不食，胃失沖和，肝邪橫逆，侮其所勝。故用橘皮、半夏、黨參、甘草和胃氣，通陽明。麥冬、竹茹、粳米、白芍養胃陰，制厥陰。若呃再不止，更加代赭石、旋覆花以鎮其逆。倘胃津消乏，舌不生苔，加烏梅、木瓜、蔗汁、蘆根汁、薑汁，俾胃中之陰陽兩協其和，則呃無不止也。此皆所論熱劫胃陰之證，更有舌淡無熱，肢冷脈軟，乃胃中陽虛，陰濁上泛，後天坤陽大敗。古稱土敗則其聲噦，噦即呃也。胃陽既困，氣失宣化，若非辛通，陽何由復，即以代赭旋覆花湯，加淡附、吳萸薑汁，少入川連二三分。俾苦寒之味，引陽入陰，不致為陰所拒，而辛熱藥性，得以斬關直入。猶仲景白通湯中，加人尿豬膽之意也。然呃逆之症，陽虛者多，治呃之法，用涼者少。更有肝火上衝，胃氣失降，而致呃逆者，其氣必從少腹上衝咽喉，而軋軋連聲，勢甚雄壯，脈弦目赤，消渴易飢，又宜當歸龍薈丸，大苦大寒之直泄厥陰也。</p>

<h2>春溫條辨第二十七</h2>
<p>春溫諸恙悉平，不飢不食，舌乾無苔，此胃陰大傷。宜用《金匱》麥門冬湯，加烏梅、木瓜、穀芽、金柑皮等味，甘酸化陰也。</p>
<p>病後不飢不食，舌乾無苔，乃熱傷胃陰，胃氣不復也。然胃為陽，土非柔莫濟，故用黨參、麥冬、甘草、茯神之甘以養胃，烏梅、木瓜之酸以制肝，且得甘酸化陰，甲己化土之義。更兼半夏穀芽，辛溫通陽，使胃可醒，而食可進也。</p>

<h2>春溫條辨第二十八</h2>
<p>春溫病退，舌淡脈微，不飢不食，泛泛欲嘔，此胃陽大傷。宜用六君子湯，加白蔻吳茱萸汁等味，溫補胃陽也。</p>
<p>上條舌赤無苔，不飢不食，傷及胃陰，宜用甘酸柔潤，以濟其陰。此條舌淡脈微，不飢不食，傷及胃陽，宜用甘溫剛燥，以扶其陽。此胃中之陰陽偏損，不可不辨，醫者慎之。</p>

<h2>春溫條辨第二十九</h2>
<p>春溫發熱惡寒，喘逆脅痛，此邪滯肺絡。宜用《金匱》旋覆花湯，加蘇子、橘絡、杏仁、鬱金、川貝、枳殼、桔梗等味，開肺和絡也。</p>
<p>發熱惡寒者，表邪未散。喘逆脅痛者，肺氣壅遏。若不宣通，恐延痿癰纏綿，故用旋覆新絳橘絡以通絡氣，蘇子、杏仁、川貝以降肺氣，枳殼、桔梗、枇杷葉以開上焦之氣，使邪從上散，不致傳變為妙。</p>

<h2>春溫條辨第三十</h2>
<p>春溫熱不解，咳逆脅痛，痰中帶血，此肺絡內傷。用《金匱》旋覆花湯，加歸鬚、柏仁、降香、蘇子、沙參、甜杏、川貝、枇杷葉等味，清肺通絡也。</p>
<p>上條發熱惡寒脅痛，乃邪在表，而阻及肺氣，此條煩熱脅痛痰血，為邪在裡，而傷及肺絡。必得氣血兩通，庶可病解。故宜旋覆、新絳、歸鬚、柏仁以和血絡，蘇子、降香以通氣滯，沙參、杏仁、川貝、枇杷葉以清肺熱，方為妥帖。</p>

<h2>論傷暑中暑中熱辨誤</h2>
<p>嘗考仲景《金匱》，有中暍，而無中暑。後賢諸書有中暑，而無中暍。或以中暑即傷暑，或以中暍即中熱，或以傷暑即傷寒，議論紛紛，終無實指。賴張潔古出而云：靜而得之為傷暑，去而得之為中暑。此二語，頗為中竊。但於動靜之間，雖如指掌，而中傷之義，尚未縷析，猶恐難啟後蒙。蓋冬令風寒，原有中傷之異，而復間暑熱，豈無傷中之分。夫寒有傷寒中寒之路，大凡傷於陽經在表，則為傷寒，中於陰經在裡，則為中寒。冬令如斯，夏間果無待言矣。凡人於盛暑之時，納涼廣廈，避暑深陰，陽為陰遏，腠理閉塞。俄而無汗，頭痛身疼，惡寒發熱，胸悶嘔惡，此即靜而得之為傷暑也。更有暑熱相逼，好食生冷，不禁房欲，遂致腎陽內歉，腠理不密，寒涼暑濕，乘虛直入。頃刻胸腹悶痛，肢逆汗冷，吐瀉交作，此無論動靜，而即為中暑也。若此則冬有傷寒，即夏有傷暑，冬有中寒，即夏有中暑也明矣。至於夏暑炎蒸，赤日傍午，或躬視荒野，或力竭長途，元氣既虛，暴烈復逼，登時昏倒，人事不知，此即動而得之為中熱也明矣。蓋暑症之來路有三，而治暑之例法非一，若由此而擴充之。庶讀書乏問津之嘆，而臨症無歧路之迷。予所以不揣譾陋，將傷暑、中暑、中熱，無為條辨，以便逐一參考。至於錯綜融會，運用之妙，存乎其人也。</p>

<h2>傷暑條辨第一</h2>
<p>傷暑初起，無汗惡寒，頭痛身熱，渴不引飲，舌白嘔惡，此邪初襲衛。宜用香薷飲，加杏仁、薄荷、通草、豆卷、連翹、大力、絲瓜葉等味，汗解可也。</p>
<p>暑必挾濕，先傷氣分，凡人靜坐納涼，暑風乘襲，肌表因之。陽被陰遏，腠理閉郁，發為頭痛身熱，惡寒無汗等症。矧濕蘊化熱，勢漸燎原，胃液不升則口渴，濕邪內蘊則不引飲，肺氣失宣則煩而欲嘔。兼之舌白苔膩，脈形緩大，無非挾濕而然。治用香薷者，體輕浮而性溫泄，乃夏令之麻黃，善於走表。加杏仁宣肺，薄荷、大力祛風，連翹、豆卷、通草泄濕清熱，是邪在衛分，宜先汗解者，杜其傳裡之患矣。</p>

<h2>傷暑條辨第二</h2>
<p>傷暑既汗，頭痛雖減，熱仍不解，舌白漸黃，脈洪口渴，此邪不汗解，熱延氣分。宜用白虎湯，加杏仁、通草、連翹、淡竹葉、枇杷葉。若頭痛未止，再加葛根、薄荷，清涼解散也。</p>
<p>此承上條，既發汗而熱不解，則衛外之邪，漸傳氣分，故頭痛減，而舌轉黃，至脈洪口渴，則氣熱盛也。用白虎湯直清陽明氣分。如頭額仍痛，外邪未盡，必加葛根、薄荷，走表祛風，以頭為清陽，非風藥不能到也。</p>

<h2>傷暑條辨第三</h2>
<p>傷暑不惡寒而發熱，身痛嘔吐，溺赤便瀉，此邪布三焦，上下交證。宜用六一散合黃芩湯，加杏仁、厚朴、赤苓、豆卷、粉葛根、連翹等味，清泄三焦也。</p>
<p>此與前條同是上焦之病，而溺赤便瀉，則已傳布三焦。又與《傷寒論》中，三陽合病下利之義同。蓋既汗不解，清氣分亦不解，則邪無出路，必致下傳而為瀉也。故仿六一散合黃芩湯，加杏仁、葛根、厚朴、連翹、赤苓、豆卷，俾三焦表裡之邪一齊盡解，庶為周至爾。</p>

<h2>傷暑條辨第四</h2>
<p>傷暑汗出，身不大熱，而舌黃膩，煩悶欲嘔，此邪踞肺胃，留戀不解。宜用黃連溫膽湯，苦降辛通，為流動之品，仍冀汗解也。</p>
<p>此條汗出，而不大熱，是衛分之邪既解，但舌黃欲嘔，又為邪阻肺胃，氣分未清。用溫膽湯，辛以通陽，加黃連，苦以降逆，不用甘酸膩濁，恐留連不楚耳。</p>

<h2>傷暑條辨第五</h2>
<p>傷暑六七日脈洪而數，口渴，舌乾苔紅，此熱劫胃津，氣血燔蒸。宜用玉女煎，加鮮石斛、花粉、麥冬、梨汁、蔗漿等味，兩清氣血也。</p>
<p>上條表邪解，而餘邪逗留，此條表邪傳裡，由氣及血，亢陽偏燎，消爍津液，所以口渴舌乾，色紅少苔，濕盡化熱，兼之脈洪數，而煩渴喜飲，其亢熱不獨在氣，而兼在血矣。故用玉女煎，兩清氣血，加花粉、石斛、麥冬、梨汁、蔗漿，甘寒生津，不致舌黑神昏為要。</p>

<h2>傷暑條辨第六</h2>
<p>傷暑熱甚，口渴，舌黃尖絳，斑疹隱隱，神昏譫語，此氣分不解，而熱漸入營。宜用沙參、連翹、元參、桑葉、甜杏仁、花粉、鮮生地、羚羊角、鮮石斛、鮮菖蒲、廣鬱金、牛黃丸，芳香宣竅，為心營肺衛兩清之也。</p>
<p>此條氣分不解，漸入營分者，以肺主氣，心主血，故口渴舌黃為氣熱，尖絳昏譫斑現，為營分受灼，若不兩清，病必不解。故用沙參、連翹、元參、花粉、石斛清氣熱，鮮生地、羚角、菖蒲、鬱金、牛黃丸以透營邪也。</p>

<h2>傷暑條辨第七</h2>
<p>傷暑舌黃漸黑，尖絳底赤，神昏煩躁，斑疹透露，目赤齒枯，此邪既入營，氣分猶熾。宜用犀角地黃湯，加元參、人中黃、鮮菖蒲、鮮石斛、青竹葉、牛黃丸等味，清營透邪也。</p>
<p>上條氣熱傳營，此條營既受邪氣猶未清。故舌黑尖絳底赤，仍帶黃苔，薄而乾裂，甚至昏譫斑現，目赤齒枯，營分之熱已極。非藉犀角地黃湯涼血，合元參中黃化斑，菖蒲、竹葉清心，牛黃丸芳香入絡，能清營熱，而兼透邪，若舌黑尖絳，黃苔厚燥，此為有地之黑，乃熱結胃腑，又宜涼膈散下之。</p>

<h2>傷暑條辨第八</h2>
<p>傷暑旬余，熱仍不解，舌絳焦黑，斑色或紫或黑，神昏妄笑，此熱熾血分，津枯邪滯。宜用犀角地黃湯，加羚羊角、元參心、連翹心、鮮石斛、人中黃、鮮菖蒲、紫草、紅花、至寶丹等味，涼血透斑也。</p>
<p>此言營熱不解，而延入血分。故舌絳焦黑，血既被蒸，失於榮灌，則斑色或紫或黑。且心主血，心熱則血熱，血熱則昏譫妄笑。故用犀角地黃湯，合紫草、紅花行血清熱，兼至寶丹芳香入絡，以透內邪。若再不解，病必危矣，此舌黑而鮮絳者宜之，為無地之黑也。</p>

<h2>傷暑條辨第九</h2>
<p>傷暑熱甚，舌焦神昏，譫語妄笑，尋衣摸床，撮空理線，此邪盛正虛。宜用人參固本湯，加牡蠣、白芍、元參、鮮石斛、鮮菖蒲、羚角、鉤藤等味，扶正透邪也。此言營血熱熾，故舌黑昏譫，熱極傷陰，真元失守，故尋衣摸床，撮空理線，乃將危之兆。近世以尋衣摸床，撮空理線，為心胞熱極。不知此乃腎陰大傷，水不濟火，陽化內風，旋擾不息，有水火未濟之象。宜用人參、二地、二冬、甘草、牡蠣、白芍填陰濟陽，羚角、鉤藤清絡熄風，庶幾可保萬一焉。</p>

<h2>傷暑條辨第十</h2>
<p>傷暑日多，舌黃焦黑，大便閉結，少腹硬痛，轉矢氣者，此有燥矢也。宜用小承氣湯，加元明粉、鮮石斛、元參心、鮮菖蒲、生首烏等味，化內結而保胃津也。</p>
<p>舌赤苔黃，而兼焦黑，一如沉香色者，斯為有地之黑，熱爍既多，津枯邪滯，既難汗解，又難涼世。且便閉腹硬，時轉矢氣。此仲景所云：轉矢氣者，有燥糞也，急以小承氣。合元明粉、生首烏，仿仲景急下存津，既不傷胃，又能化結，誠為至當。</p>

<h2>傷暑條辨第十一</h2>
<p>傷暑曾經吐瀉，舌黃而膩，胸膈不爽，此陽邪內陷，將成痞結。宜用半夏瀉心湯，苦降辛通，毋使成結也。</p>
<p>按仲景《傷寒》例云：痞氣每因表邪未盡，遽行攻下，以致陽邪乘虛內陷，結於胸下。既不能下泄，又不能上散，上下欠通，陰陽互結，心下有形，按之不痛，名曰痞氣。今暑濕之邪，初起雖與傷寒不同，然其吐瀉邪陷而成痞則一也。故用芩連苦寒降熱，姜夏辛溫通陽，俾熱泄陽通，使痞不攻自散矣。</p>

<h2>傷暑條辨第十二</h2>
<p>傷暑胸間痹痛，氣逆如阻，此結胸也。宜用小陷胸湯，加枳殼、桔梗、甘遂、鬱金等味，滌痰開結也。</p>
<p>凡結胸之症，必因其人中氣素虛，濁痰復盛，又感暑濁，交相互結，胸間因而作痛。宜用甘遂、半夏、瓜蔞以滌濁痰，佐入黃連、枳桔，泄熱開胸也。</p>

<h2>傷暑條辨第十三</h2>
<p>傷暑瘀熱不解，胸肋板痛，此血結胸也。宜用桂枝、紅花、瓜蔞、鬱金、桃仁、赤芍、海蛤等味，消而且散。若少腹硬痛，小便自利，大便黑色，此蓄血也。宜用桃仁承氣湯祛瘀逐邪也。</p>
<p>前二條痞與結胸，皆言熱結在氣，此條結胸與蓄血，皆言熱結在血。其結在胸者，仿海藏桂枝紅花湯，加瓜蔞、桃仁、海蛤為表裡並消。若結在少腹者，用桃仁承氣湯，為上下分消。仲景謂蓄血者，必小便自利，大便黑色。若小便不利者，乃熱結膀胱，非血結也。以此辨諸，最為明驗，學者詳之。</p>

<h2>傷暑條辨第十四</h2>
<p>傷暑熱久不解，神迷如寐，舌紅少津，飢不欲食，脈數無神，此熱傷胃陰，津不肯復。宜用復脈湯，去薑桂，加地骨皮、鮮石斛、鮮穀芽等味，養胃和陰，以待一陰來復也。</p>
<p>此言熱久傷陰，胃津大損，故舌乾紅，而神疲多寐，餘熱消爍，則易飢，胃陰被傷，則不欲食。用復脈湯養陰，石斛、穀芽養胃，俾熱去津還，而胃納自旺也。</p>

<h2>傷暑條辨第十五</h2>
<p>傷暑熱久，查不知飢，舌乾或赤或黑，而無苔膩，此鏡面舌也。以熱劫胃津，氣不化液。宜用西洋參、麥冬、藿山斛、知母、白芍、木瓜、建蓮肉、鮮穀芽、甘草等味，甘酸化陰也。</p>
<p>凡熱病之後，舌乾赤而光潔無苔者，此名鏡面舌，無論病樣如何，總宜滋陰為主。若黑而干赤無苔，此為無地之黑，乃陰傷液涸，急宜甘涼補陰。故用洋參、甘草、麥冬、穀芽，合白芍、木瓜，甘酸化陰，即甲己化土之義也。若見焦黑，熱勢尤甚，宜加生地知母，柔陰和陽。法雖如斯，而神機變化，則存乎其人焉。</p>

<h2>傷暑條辨第十六</h2>
<p>傷暑日多，身無大熱，脈軟神疲，默默如寐，喚之略應，並不煩躁，此邪正混淆，濕濁矇蔽，清補兩難。惟用鮮藿香葉、鮮稻葉、鮮荷葉、鮮佩蘭葉、鮮菖蒲、白蔻仁、益元散等味，辛涼清解，以化餘邪也。</p>
<p>身不大熱，脈軟神疲，乃病退之象。但默默如寐，喚亦不蘇，與飲則飲，不與不索。此餘邪蒙繞三焦，清陽不得舒轉，清之則損其陽，補之則助其濕，最為兩難。惟宜藿香、葉稻葉、佩蘭葉、荷葉、菖蒲，俱用鮮者。取其質輕氣薄，芳香驅濁，更加白蔻仁、益元散，通陽宣氣，俾正不傷而濕可祛也。</p>

<h2>傷暑條辨第十七</h2>
<p>傷暑汗多身熱，經旬不解，胸腹發出白㾦，狀如水晶粒，此濕邪化熱，氣液外泄。急宜洋參、連翹、甜杏、花粉、骨皮、銀花、麥冬、綠豆殼、鮮荷葉等味，清養氣液也。</p>
<p>身熱汗多，而病不肯解，正氣已虛，又見白㾦，是氣液外泄。不可再用疏散，以傷其氣。惟宜洋參、麥冬、銀花、綠豆殼清養氣液，而又兼化邪也。若舌紅少津，而食不甘味，即以復脈湯，去薑桂，養陰益氣。更有舌淡少苔，而胃不加納，當以六君子湯，加牡蠣、白芍，扶胃斂陰，勿因見㾦而躊躇莫進。近時醫輩，都以治痧之法治㾦，不知痧為太陰風熱，斑為陽明火毒，其初見隱隱，固宜清之透之。若已見點粒，即宜解之化之。尚不敢恣意透泄，以虛其內，而恐邪陷莫救也。至白㾦乃氣液外泄之候，若既現而再行疏泄透汗，其不致氣脫而斃者幾殺矣。予見知醫之輩，不惟青年淺見者，蹈此流弊，即皓首老成者，尚難覷破此關，故並及之，以質諸高明，為是否耶。</p>

<h2>傷暑條辨第十八</h2>
<p>傷暑解後，胸脘不爽，舌淡不渴，脈緩不飢，此濕去陽傷。宜用六君子去朮，加蔻殼、檀香、粳米、姜渣、益智、麥芽等味，扶胃運陽也。</p>
<p>此熱勢雖解，而陽已受傷，故胸脘不爽，舌淡不渴也。蓋脈已和緩，則無熱可知，而猶不飢不食，乃胃陽被傷，失運行之機。故用六君子合蔻殼、姜渣、檀香，斡旋坤陽。去白朮者，恐致壅滯耳。</p>

<h2>傷暑條辨第十九</h2>
<p>傷暑初起，惡寒發熱，咳逆氣喘，此素有痰飲，復挾暑穢。宜用溫膽湯，合蘇子降氣湯，清暑化痰也。</p>
<p>凡有痰飲，陽氣必虛，加以暑穢乘襲，則痰動氣升，肺失清降，故喘咳並作。用溫膽湯以逐飲，蘇子以降氣，俾痰開氣順，則暑邪不攻自走矣。</p>

<h2>傷暑條辨第二十</h2>
<p>傷暑發熱咳喘，胸肋刺痛，痰中帶血，此暑熱壅滯，激傷肺絡。宜用葦莖湯，加沙參川貝、新絳、旋覆花、杏仁等味，清肺和絡也。</p>
<p>前條暑熱動飲，此條暑熱動血，故胸肋刺痛，咳痰帶血。用葦莖湯，加旋覆、新絳、沙參、杏仁、川貝，兩清手太陰氣血也。</p>

<h2>傷暑條辨第二十一</h2>
<p>傷暑發熱頭痛，泄瀉不止，此肺邪下迫。宜用黃芩湯，加葛根、豆卷、二苓、澤瀉等味，清肺利濕也。</p>
<p>發熱頭痛，邪尚在表，而泄瀉頻頻者，乃肺邪不解，下傳大腸。因肺與大腸相為表裡，原是一臟一腑也。蓋邪既不能外解，勢必直趨大腸，而為瀉利，即仲景《傷寒》例中，三陽合病，協熱下利之義。故用黃芩之苦寒清肺，甘芍之甘苦斂脾。其頭痛者，加葛根以解表邪，合二苓、豆卷、澤瀉分利膀胱也。</p>

<h2>傷暑條辨第二十二</h2>
<p>傷暑熱不解，先瀉後痢者，此腑邪傳臟，熱積氣滯。宜用潔古芍藥湯，加杏仁、厚朴、山楂等味。若轉紅者，為病進，更加當歸、桃仁、地榆清氣和血也。此言表邪已解，而瀉漸轉痢，是邪既入內，而腑邪傳臟，最為凶兆。故用潔古芍藥湯，藉芩連之苦寒，以清濕熱，檳木之辛溫，以通氣滯，合歸芍和血，楂樸破積。若轉紅痢，乃氣已轉血，更加桃仁地榆，和營止血。所謂和其血，而痢自止，調其氣，而後重除焉。</p>

<h2>傷暑條辨第二十三</h2>
<p>傷暑熱不解，脘悶嘔惡便瀉，舌白罩灰，此胃陽不足，濕濁阻遏。宜用生薑、半夏、厚朴、通草、六一散，通陽泄濁。熱甚者，加黃芩、黃連，苦寒清熱也。</p>
<p>此言中陽不振，暑穢內結，上嘔下瀉，胸脘痞悶。例宜生薑、半夏、厚朴辛溫通陽，通草、六一淡滲泄濁。但舌白罩灰，發熱煩躁，又為熱邪內伏，加芩連，苦寒泄熱，俾邪熱解而胃陽復，則濕濁自祛也。</p>

<h2>傷暑條辨第二十四</h2>
<p>傷暑身有大熱，而汗多口渴，舌黃神疲氣喘，脈大而虛，此氣虛挾暑。宜用清暑益氣湯，加熟石膏、鮮荷葉，扶正卻邪也。</p>
<p>暑必傷氣，故汗多，熱則傷津，故口渴，證類白虎。而舌不甚赤，苔帶微黃，脈似洪而虛軟無力，乃虛中挾暑。非若熱傳陽明之汗多口渴，舌赤苔黃，脈洪有力者可比。兼之神疲肢倦，氣逆煩躁，正《內經》所謂脈虛身熱，得之傷暑是也。用東垣清暑益氣湯者，藉參蓍術甘補中州，麥冬、五味生津液，合升、葛升陽，苓、澤泄濕，神麯、青皮疏脾氣，石膏、黃柏清內熱。此為升降疏補，表裡上下，一齊分消之意，勿以藥味之多而妄為增減，用得其宜，效如桴鼓也。</p>

<h2>傷暑條辨第二十五</h2>
<p>傷暑身無大熱，汗多神疲，嗜臥不食，舌黃溺赤，此暑濕傷陽。宜用清暑益氣湯，益氣利濕也。</p>
<p>上條虛中挾暑，身熱汗多，故升降疏補之中，少雜苦寒，以清內熱。此條暑濕傷陽，無熱汗多，故不加清涼之味，再損中陽也。</p>

<h2>傷暑條辨第二十六</h2>
<p>傷暑日多，病仍不解，朝涼暮熱，舌黃尖赤，口渴汗多，夜或昏評，此熱傷陰分，邪逗營中。宜用玉女煎，加人參、元參、骨皮、柴胡、荷葉、青蒿、鮮菖蒲等味，育陰清營也。</p>
<p>暑熱不解，而致朝涼暮熱，此名潮熱。狀雖如瘧，卻無寒戰，如潮之不愆其期，故名。甚至舌尖赤，而夜則昏譫，乃熱傷陰液，邪逗營中，午後則衛氣行陰，陰邪用事，所伏餘熱，乘時而動。故用玉女煎之石膏、知母清氣分，生地、元參滋血分，青蒿、荷葉、柴胡透里邪也。</p>

<h2>中暑條辨第一</h2>
<p>中暑頭脹，惡寒身熱，胸腹滿悶，欲吐不吐，欲瀉不瀉，煩悶難安，此暑濁中胃。宜用食鹽一撮，童便調服，用指探吐，以宣上焦也。</p>
<p>凡中暑穢，必先入胃，胃氣阻遏，升降失宣，致不得吐瀉，而煩悶不安，此屬閉症，非吐不解。故用食鹽一撮，放鍋刀上燒紅，衝入童便一杯調服，以指探吐。蓋吐中即有發散之意也。況食鹽、童便性皆鹹寒下降，才下咽而隨即探吐，使邪仍從上散。吐後稍平，即以梔豉湯，加杏仁、厚朴、扁豆和之。若吐瀉不止者，即用藿香正氣散，祛穢化邪也。</p>

<h2>中暑條辨第二</h2>
<p>中暑發熱，心下似煩，洋洋欲嘔，此暑侵上焦，肺胃不知。宜用蘇葉、藿香葉、白蔻殼、人中白等味，宣通肺氣也。</p>
<p>古稱有聲無物謂之嘔，有物無聲謂之吐。然嘔則在脾，吐則在胃。更有軋軋連聲似噫氣而短促者，謂噦，病亦在胃，即呃逆是也，乃胃敗之象。《內經》所謂土敗，則其聲噦也。又軋軋連聲似呃逆而緩長者，則謂噫，病在肝，即噫氣是也。今邪狂上焦，未盡傳胃，而洋洋欲嘔，乃肺氣不和。故用蘇葉、藿香葉、白芷、蔻殼，辛香輕薄，恰到肺位。兼用人中白者，因暑本濁邪，以濁攻濁也。</p>

<h2>中暑條辨第三</h2>
<p>中暑吐瀉並作，吐既止而瀉不止者，宜胃苓湯泄之。若瀉止而吐不止者，宜黃連溫膽湯和之。</p>
<p>既吐且瀉，邪已分布，今吐止而瀉不止，為上焦既清，而邪趨於下，用五苓以分泄，合平胃以驅濕。若瀉止而吐猶未止，乃邪在中焦，用黃連溫膽湯。若降辛通，勿使邪結中焦，而成痞脹為要。</p>

<h2>中暑條辨第四</h2>
<p>中暑吐瀉不止，漸致肢厥汗冷，甚而轉筋麻木。初起宜六和湯，甚則四逆湯，加吳萸、木瓜、薑汁、炒川連等味，溫胃制肝也。</p>
<p>凡暑中在脾，秋髮則發瘧痢，驟發則為霍亂，今吐瀉不止，而致四肢厥逆，汗冷氣衰，陽津陰液俱涸，氣血營衛皆傷，霎時形肉頓癟，轉筋麻痹，皆氣血不能運達四末，急宜大劑峻補中陽，仍兼和榮益氣，以冀吐瀉止。而肢溫汗斂，即是回陽之兆，若再疏泄，則投石下井矣。至於嘔吐頻頻，藥難下咽，陰盛於內，陽藥拒格，故用四逆湯，加吳萸、木瓜、平肝斂液。更用薑汁炒川連三四分，另煎取汁一杯，滴入藥內飲之。俾以類相招，不致嘔出，此即仲景白通湯中，加人尿、豬膽汁之意也。再按轉筋霍亂，年來屢見，甚至如疫一般，同時並染。雖系人間病象，究亦天時所侵。蓋大江以南，地卑氣濕，其沿江瀕海，霧露潮濕，甚於別處，故濕邪為患，四時多有，山嵐瘴氣，夏秋益倍。苟其人正氣素虛，暑穢濕濁乘虛犯之。必由口鼻直趨中道，勿然胸腹悶痛，煩亂不安，且不得吐瀉，此屬閉症，宜與探吐。更有胸腹滿悶，即時吐瀉，甚至頻頻，而肢冷汗多，形肉頓癟，且轉筋麻木，此屬脫症，宜用溫補。蓋既吐且瀉，水穀傾囊，冷汗不止，氣液外泄。致身中陽津陰液俱涸，氣血營衛皆損，無以榮養筋脈，自然肢節拘攣，麻痹不仁並至矣。此時急宜大補，以附子理中湯溫理中陽，合吳萸、木瓜舒筋泄肝，或以為梅安胃丸，去黃柏，倍用參附，亦對症之良方。余遇是症，每用此湯，屢獲奇效，較之四逆理中湯，更為合宜。</p>

<h2>中暑條辨第五</h2>
<p>中暑吐瀉，四肢逆冷，吐蛔者，用為梅安胃丸，肝胃兩和也。</p>
<p>按仲景謂蛔厥無陽症。又厥陰篇云：氣上撞心，飢不欲食，食則吐蛔者，亦由中陽大損，厥濁上泛而然，故蛔乃平人皆有。惟胃氣調和，不得上湧，且狂不犯厥陰，亦不上出，茲因吐瀉已多，四肢厥冷，中焦陽氣大傷，厥濁乘虛上泛，故蛔自吐出。凡厥陰為病，必錯雜不一，用藥亦難純粹。故用黃連之苦寒降其逆，梅芍之酸寒制其肝，又合椒姜之辛辣驅其陰濁，參歸桂附之甘溫溫補真陽也。</p>

<h2>中暑條辨第六</h2>
<p>中暑吐瀉後，汗多肢冷，舌潤而黑，並不渴飲，此水極如火。宜用回陽救急湯，驅陰復陽也。</p>
<p>此條全以辨舌為要，不可以舌黑而遽為熱極。蓋凡黑而焦者，果火極如水，今吐瀉之後，汗多肢冷，陰症昭然，況雖黑而潤，並不渴飲，的是水極如火。系陰盛既劇，一線之陽，杳杳欲脫，非藉六君子湯補中州，兼姜附歸桂，助陽驅陰，其不致危殆者幾希矣。</p>

<h2>中暑條辨第七</h2>
<p>中暑吐瀉後，身反熱，舌焦赤無苔，口渴不欲食，此邪去陰傷。宜用金匱麥門冬湯，加白芍、烏梅、穀芽、荷葉等味，兩濟其陰也。</p>
<p>吐瀉傷陰，故身反熱，舌乾赤無苔，口渴不欲食，皆胃津大傷，不得化液上升。且胃為陽土，非柔莫濟。故用金匱麥門冬湯合烏梅、白芍之酸，穀米之甘，化陰和陽也。</p>

<h2>中暑條辨第八</h2>
<p>中暑之後，舌淡不渴，身痛，脈軟，不食，此邪去陽傷。宜用黃耆五物湯，加麥芽、穀芽、木瓜、藿香等味，甘溫扶陽也。</p>
<p>上條邪去陰傷，治以甘酸。此條邪去陽傷，主以甘溫。況身痛脈軟，表陽亦傷。故用黃耆五物，合藿香、益智、麥芽、穀芽，甘溫之味，固表扶陽，庶為合例。</p>

<h2>中暑條辨第九</h2>
<p>中暑惡寒發熱，肢節痠疼，頭痛頸強，此暑風襲表，防發痙。宜用桂枝、杏仁、黃耆、防風、蒺藜、鉤藤、海風藤、桑葉、防己、地龍等味，祛風宣絡也。</p>
<p>夏間暑炎，汗多氣泄，風邪易襲，以致頭痛項強，惡寒發熱，骨節不和，乃虛中挾風。故宜桂枝、黃耆固表，防、杏、二藤、地龍、桑葉祛風，俾表和風熄，則不致延為痙厥之患。夫痙者，仲景原有剛痙、柔痙之異，猶恐後人虛實難明，故以有汗、無汗為辨。然愚意言之，無汗惡寒發熱，頭項強痛，手足抽搐，角弓反張，此風自外來，即無汗為剛痙也。更有吐瀉之後，或產後血虛，或熱極傷津，汗多液虧，而身熱口噤，頭搖直視，抽搐反張，斯風自內作，即有汗為柔痙也。是則風有內外，病有虛實，外來者，宜散宜清，內作者，宜柔宜補，宜清宜散者，用小續命湯加減，宜柔宜補者，用復脈湯加減。此為治痙之權衡，明理者裁之。</p>

<h2>中暑條辨第十</h2>
<p>中暑過汗，肢冷脈微，息淹神疲，狀如欲脫，小便黃赤，此濕留氣脫。宜用歸蓍建中湯，加赤苓、車前、滑石、萆薢等味，護陽利濕也。</p>
<p>汗多肢冷脈微，神倦，氣脫之象已著，但小便黃赤，則濕熱內蘊之形昭然。故用歸蓍建中護陽氣，合車前、赤苓、滑石、萆薢清濕熱，庶得邪正兩清之妙。若一路扶補，則濕熱翕盛，慎之可也。</p>

<h2>中暑條辨第十一</h2>
<p>中暑汗之清之，旬外不解，漸致神迷，默默不知飲食，面反淡，肢反冷，脈微如絲，身僵如死，此邪入厥陰，與血沉混。宜用吳又可三甲散，加柴胡、殭蠶、廣鬱金、鮮菖蒲、連翹心、元參心、紫雪丹等味，從血透表也。</p>
<p>此邪熱入絡，與血混淆，非清涼攻瀉可解。故宜土炒山甲、醋炒鱉甲、酒浸地鱉蟲，俾潛竄入絡，以攻隱伏之邪。合柴胡、殭蠶、紫雪丹疏透宣泄，由內達表，用得其宜，可救萬一，否則幾無法矣。</p>

<h2>中熱條辨第一</h2>
<p>中熱卒然昏倒，人事不知，口角流涎，目閉手撒，此熱冒心神，陰不上承。宜用大蒜數枚，打爛取汁，和醋灌之。並移置涼處，即蘇。宜用洋參、麥冬、蓮子、竹葉、鮮菖蒲、遠志、黃連、益元散等味，清心安神也。</p>
<p>凡夏暑炎蒸，經營擔荷，樸樸長途，赤日停午，暴烈酷逼，卒然昏倒，不知人事，目閉手撒者，此不可即以涼水灌之，恐致熱氣攻心而死。宜用大蒜數枚，打爛取汁，和醋灌下，再移置涼處，以手掬道上熱土，圍於臍之四旁，令人溺尿於臍中即蘇，蘇後宜清心安神，將洋參麥蓮菖遠，黃連竹葉益元散，服之神清即愈。</p>

<h2>中熱條辨第二</h2>
<p>中熱卒倒，語言不清，心神恍惚，此《內經》所謂煎厥。宜用天王補心丹，加龍齒、牡蠣，鎮神攝陰也。</p>
<p>凡暑熱之際，忽然昏倒，語言不清，心神恍惚，狀如中風，正《內經》煩勞則張，精絕闢積於夏，令人煎厥之謂。宜用補心丹清心，合龍齒、牡蠣鎮神，不致內閉外脫，庶幾可望有成。</p>

<h2>中熱條辨第三</h2>
<p>中熱脈大，身熱，口渴汗多，此熱傷元氣。宜用人參白虎湯，甘寒養正也。</p>
<p>凡身雖大熱，而不惡寒，口渴汗多，脈形洪大，此東垣所謂脈虛身熱，為傷暑也。用白虎湯之石膏、知母清胃熱，參、甘、粳米養胃津，則不致燔灼傷陰矣。</p>

<h2>中熱條辨第四</h2>
<p>中熱後，神雖清，而懶言倦臥，朝涼暮熱，夜則譫語，此熱留膽中，營液被灼。宜用清骨散，加鮮菖蒲、廣鬱金、益元散等味，清營卻熱也。</p>
<p>中熱之後，倦臥懶言，乃病退之象，但朝涼暮熱，夜則譫妄，是餘熱逗留，營絡被灼。故用清骨散，清營卻熱，兼菖蒲、鬱金、益元散，宣竅除邪，庶為合法。</p>

<h2>中熱條辨第五</h2>
<p>中熱後，舌絳芒刺，腐點如疳，寐則譫語，醒則神清，此熱毒蘊結，營絡未清。宜用導赤散，加犀角、綠豆殼、人中白、鮮菖蒲、辰砂、燈草等味，清營解毒也。此條與前條相似，惟兼舌絳腐疳芒刺，乃餘熱化毒，蘊結心胞。故用導赤散，加犀角、燈草、綠豆殼、人中白、菖蒲、辰砂清心解毒，勿致熱毒蔓延，變生腐蝕之累為妙。</p>

<h2>中熱條辨第六</h2>
<p>中熱神清，能食便閉，目瞑不寐，而多驚惕，此熱留膽絡，營衛失度。宜用秫米半夏湯，加羚角、丹皮、薑汁炒棗仁、酒浸郁李仁、豬膽、丹皮、龍齒、蒺藜等味，清膽熱而下肝系也。</p>
<p>能食神清，病退之象，溺赤便閉，目瞑驚惕，乃熱延膽絡，肝系橫急。《靈樞》所謂衛氣行陽二十五度，行陰亦二十五度，一日一夜，周於一身。又云：衛氣行陽則寤，行陰則寤，乃但行於陽，則陽蹻盛，而不得入於陰，則陰氣衰。故寤而不寤，目瞑驚惕不寧，因膽熱肝橫，胃失沖和，營衛失度。仿《內經》秫米半夏，和胃氣之升降，棗仁、郁李、龍齒下肝系以鎮驚，羚角、豬膽、丹皮清膽熱，而泄火風為妙。</p>

<h2>中熱條辨第七</h2>
<p>中熱汗大泄，口大渴，身大熱，氣喘神倦，脈虛且大，並不鼓指，此熱傷氣分，陰不戀陽。宜用人參、黃蓍、白朮、麥冬、五味、地骨皮、甘草、生地、牡蠣、白芍等味，甘溫除熱也。</p>
<p>汗多口渴，身熱氣喘，神倦脈大，既非外感之形，又無內傷之象，顯系熱傷氣分，陰乏戀交，陽遂上冒。仿東垣甘溫能除大熱，故用人參、黃蓍、白朮、甘草甘溫益氣，生地、牡蠣、五味、白芍鹹寒固陰，俾陰交固，而大命回於頃刻焉。</p>

<h2>中熱條辨第八</h2>
<p>中熱汗大出，口大渴，心中惡熱，肢冷脈微，神疲倦臥，時或煩躁，此因熱傷陽，陰失交戀，氣脫之候將至。宜用十四味大建中湯，護陽攝陰也。</p>
<p>上條脫證未現，此條脫形既著。故肢冷脈微，若更煩躁，是立危矣。故用十全大補加附子、麥冬、蓯蓉，陰陽並補，庶幾樞紐復續，而轉危為安也。</p>

<h1>卷中</h1>

<h2>伏暑辨論</h2>
<p>嘗觀醫書林立，並無伏暑之名，惟已任編，有秋時晚發，以感證之法治之一語，因著伏暑之稱。蓋人於盛暑之際，汗泄氣疏，百節弛張，設或有隙，邪乘虛入。《內經》所謂至虛之處，便是容邪之處也。又云：春傷於風，夏必飧泄；夏傷於暑，秋必發瘧；秋傷於燥，冬生咳嗽；冬傷於寒，春必病溫。可知四時伏氣，皆能為病，即伏寒、伏風、伏燥，皆可與伏暑立名主病，故春溫為冬令之伏寒，腸風為春令之伏風，瘧痢為夏間之伏暑，咳嗽為秋天之伏燥，以類而推，古人治病立法，良有以也。惜後人習焉不察，漫不關心耳。（予）若心斯道，廿載虛名，何敢妄為議論，特前賢既啟其端，後人未窮其旨，聊為引仲，以備葑菲之遺。庶可測伏暑之有由名，且不但可測伏暑之有由名，更可測伏暑之有由病，而有由治焉矣。</p>

<h2>伏暑條辨第一</h2>
<p>伏暑秋髮，頭痛無汗，惡寒發熱，身痛，胸腹滿悶，或吐或瀉，此新感外邪，引動伏暑。宜用香薷飲，合正氣散，表裡兩和也。</p>
<p>此伏暑之提綱，凡夏間伏暑，因遇秋令姜愴之寒，襲於腠理，致內邪亦為引動。故無汗頭痛身疼，發熱惡寒，系新感之見證，病尚在表，胸腹滿悶，吐瀉交作，系伏暑之發動，病涉在裡。大凡看法，須辨明新感與伏邪，何有可無，孰輕孰重。故用香薷飲合正氣散者。藉香薷、藿香、蘇葉、芷、桔之苦辛走表，而散新邪，夏、樸、陳皮、大腹、神麯之辛溫理中，而疏伏邪，則內外通徹，邪自疏泄矣。</p>

<h2>伏暑條辨第二</h2>
<p>伏暑微惡寒，發熱，嘔惡，泄瀉，脘悶舌白，此伏邪內動。宜用藿香正氣散，疏滯利濕也。</p>
<p>此發明伏邪之異於新邪，既無頭痛身疼，則表邪甚微，而惡寒發熱，脘悶吐瀉，為伏邪發動，並無新邪勾引也明矣。非藉藿、樸、蘇葉、白芷、陳、腹、夏、曲，以祛穢疏泄，則恐邪無泄越，蔓延傳變焉。</p>

<h2>伏暑條辨第三</h2>
<p>伏暑熱不解，咳逆欲嘔，煩悶泄瀉，此伏邪瀰漫三焦。宜用蘇子降氣湯，合六一散加通草、赤苓等味，通泄三焦也。</p>
<p>此言熱不解，而伏邪傳變，逗留肺胃，則咳而欲嘔，盤踞中焦，則脘悶不舒。奔迫下趨，則泄瀉無度，是邪既瀰漫三焦，上下交爭。故用蘇子降氣宣肺胃，六一、通、苓分水道，則上下三焦，得一齊通泄，不致留邪變患為妙。</p>

<h2>伏暑條辨第四</h2>
<p>伏暑熱漸甚，咳逆不眠，胸脅刺痛，痰多舌白，此痰滯肺絡，肺氣失降。宜用旋覆花、新絳、枳殼、桔梗、桑皮、薏仁、蘇子、降香、枇杷葉、蘆根、滑石等味，降氣通絡也。</p>
<p>上條熱不解，而傳布三焦，此條熱不解，而邪與痰冱，阻滯肺絡。若不通調，恐致痿癰纏綿。故用金匱旋覆花湯，藉新絳、青蔥，一通氣分，二通血絡，再兼枳、桔、桑皮、蘇子、降香，開肺降氣，苡仁、枇杷葉、蘆根、滑石甘淡之味，清熱泄濕也。</p>

<h2>伏暑條辨第五</h2>
<p>伏暑發熱，喘不得臥，痰嘶胸板，此暑滯肺絡。宜用葶藶大棗湯，合六一散，枇杷葉等味，徹清肺飲也。</p>
<p>上條脅痛痰多而咳，此條胸板痰嘶而喘，病甚深於咳矣。雖喘有虛實之分，治有肺腎之異，今由伏暴內發，身熱胸板痰嘶，其候舌必黃膩，脈必滑數，溺必黃赤，體必豐盛，斯為肺實。故宜葶藶苦寒以瀉肺熱，然古人猶恐損胃，合大棗之甘以緩之。得漸馴以除上焦之飲。凡用葶藶而不用大棗者，未識仲景之心法也。再兼六一、枇杷葉，清氣利濕也。</p>

<h2>伏暑條辨第六</h2>
<p>伏暑惡寒發熱，乍有乍無，或輕或重，如瘧非瘧，舌白脈大，此暑必挾濕，薰蒸黏膩之邪，伏於肺胃。宜用溫膽湯，加杏仁、通草、青蒿、黃芩等味，通胃泄邪也。</p>
<p>凡伏暑濕，亦有輕重之分，其重者，勢難延緩，乘時竊發，其輕者，直至露冷氣肅，金飈颯爽，陽氣漸收，腠理漸閉。所伏之邪，遂無隙可容，然後發出，其見證如瘧非瘧，或有微寒，或單發熱，但無六經之可辨，無表裡之可分。其舌白，其脈大者，正虛濕盛也明矣。若不從中驅泄，必致變成瘧患，故用溫膽湯通胃腑，加杏仁、通草清肺泄濕，黃芩、青蒿清氣泄肝，則邪可盡解也。</p>

<h2>伏暑條辨第七</h2>
<p>伏暑熱甚，煩躁昏譫，至夜裡甚，舌燥脈數，此邪傳入里。宜用沙參、甜杏仁、花粉、川貝、桑葉、細生地、鮮菖蒲、連翹、益元散等味，兩清營衛也。</p>
<p>此言伏邪不解，漸化為熱也。煩躁昏譫，夜則尤甚，乃由衛入營，從陽轉陰。故舌必漸燥，脈必漸數，邪既入里，徒清表分，無益於事，惟用沙參、杏仁、川貝、花粉、生地、桑葉、連翹、菖蒲、益元散清氣涼血，不致傳陷入血，可免昏痙之變。</p>

<h2>伏暑條辨第八</h2>
<p>伏暑煩熱，舌赤神昏譫妄，此邪已入營。宜用玉女煎，加羚角、元參、沙參、鮮石斛、鮮菖蒲、牛黃丸等味，清營透邪也。</p>
<p>上條將欲傳營，此條已傳營分，故熱而煩亂，舌赤昏譫，非用玉女煎之生地、石膏、知母、麥冬、沙參、元參、菖蒲、鬱金、牛黃丸清營透邪，必致熱陷入血，而成痙厥之險焉。</p>

<h2>伏暑條辨第九</h2>
<p>伏暑舌焦，尖絳昏譫，妄笑脈促，斑紫，肢體振顫，此邪已入血，熱動風生。宜用犀角地黃湯，加元參心、連翹心、鮮石斛、鮮菖蒲、紫草、竹葉、至寶丹等味，涼血化邪也。</p>
<p>凡營熱不解，必致入血，舌黑尖絳，斑紫昏譫，血熱已極，熱極則陰損陽亢，風由振動，故肢體顫搖，將欲變痙。必用犀角、生地、丹皮、赤芍、紫草涼血清熱，合連翹、元參、菖蒲、石斛化斑養津，兼竹葉、至寶清心鎮神不致痙厥，便為佳兆。</p>

<h2>伏暑條辨第十</h2>
<p>伏暑婦女，舌絳口渴，脈數而澀，經水適來適斷，寒熱如瘧，晝則明瞭，夜則譫語，此熱入血室。宜用小柴胡湯，加山楂、歸尾、赤芍、桃仁、丹皮等味，破血透邪也。</p>
<p>凡熱入血室，《金匱》論之最詳。血室者，即血海也，本屬衝脈，隸於陽明。《內經》所謂沖為血海，任主胞胎。又謂：衝脈起於中極底，循少腹，上至胸中而散；任脈亦起於中極底，循毛際繞陰器，入少腹，上環口唇，榮於髭鬚。故婦女無須者，以任脈之血下泄，不能上榮於口唇也。督脈亦由中極，挾腰循脊，上至巔頂，此沖督任三脈，皆會於下極，而分行於背腹。故督脈行於身之背，任脈行於身之腹，衝脈行於背腹之中。其天癸盈餘，諸路之血，皆貯於血海。而能蓄泄有常者，以任脈為之擔任，督脈為之總督，帶脈為之收束，更有陽維、陰維，維持陰陽於身之前後，陽蹻陰蹻，蹺健機關於身之左右。故能蓄則有度，泄則有期，與月盈虧，循序流行，不失其常，謂之為經。若血海無權，任督失司，則或崩漏無休，或蓄結不行，至於血之蓄泄，或寒或熱，皆能為患。故傷寒蓄血，六經皆有，不獨膀胱與胸腹間也。蓋凡風寒暑濕之來，必先陽經，而後他傳。陽經者，在表在衛，在氣，漸傳於血。故婦女之病，有值經水適來，病發適斷者，因熱與血冱，反不得行也。如太陽初起之頭痛發熱，惡寒無汗，便有鼻衄肌衄，此太陽經之邪乾血分也。宜以開泄透汗，不可因見血而遽用寒涼，反成血結胸等證。若少腹硬痛，小便自利，大便黑色，身熱煩躁，譫語如狂，此太陽腑病，而蓄血膀胱也。仲景先師，恐後人誤認熱結膀胱，故以小便不利者為熱結，小便自利者為蓄血。例用桃仁承氣湯，一解太陽，一破瘀血。又陽明初起之目痛鼻乾，不得臥，而致鼻衄吐血，此陽明經之邪乾血分也，宜以兩清氣血，不可因汗少而更大發之。如少腹硬痛，小便自利，上為結胸，或吐血，下為腹痛，或便血，身熱犯妄，狀如神附，此陽明腑病，而蓄血衝脈也。宜用犀角地黃湯，一清陽明，一祛瘀血。又少陽之額痛脅痛，寒熱耳聾，嘔苦，而致鼻衄咳血，此少陽經之邪乾血分也，宜以小柴胡湯，清泄膽絡，不可因見血而妄投滋膩。如有少腹痛，小便自利，大便黑色，晝則明瞭，夜則譫語，寒熱如瘧，此少陽腑病，而蓄血肝絡也，宜用陶氏小柴胡湯，加生地、歸尾、桃仁、山楂、丹皮，一清少陽，一破瘀血。以上皆論三陽經之經病腑病，蓄血見證也。至熱邪傳入三陰，則少陰心主血，太陰脾統血，厥陰肝藏血，邪既入血，則熱與血凝，勢難清化，必致舌絳神昏，晝明夜劇，狀如邪祟。宜用犀角地黃湯，加鬱金菖蒲，甚則腹痛便黑，仲景用抵當湯，以攻熱破瘀，庶幾可以兩解矣。然此症不特婦女，即男子亦有諸。至於治法，大約相等，以蓄血一症，概用小柴胡加破血之品，如或不應，視為無法，竟置束手，醫者咎焉，願有鑑於是者。（予）於道光十九年春，有舵工張姓者，自三月間溫病愈後，飲食如常，惟腰間作痛，始疑病後腎虛，投以補腎，其痛益甚。轉邀外科，認為腎俞發，而投陽和湯數劑，病仍不減，且無腫形，其痛每甚於午後，劇於戌亥，呼號不絕，直至天明，其痛若失。一月以來，無所不至，而痛仍不減。比時閱喻氏《醫門法律》，至《寓意草》中，有病腰痛，將成僂廢一案。嘉言謂熱邪逗留太陽經脈，與血凝滯，結於腰間，即用桃仁承氣數服而安。讀之恍然大悟，如法投治，果獲痛愈。此太陽經，血結之一證也。後有外甥範姓者，濕溫病後，亦腰痛異常，曾服補腎不應，（予）即用安桂、桃仁、山甲、歸鬚、旋覆、新絳等味，二劑頓愈。此可見為醫者，必旁搜博採，以廣見聞，則勿貽管窺之誚矣。</p>

<h2>伏暑條辨第十一</h2>
<p>伏暑但熱無寒，一日一發，口乾舌赤，汗多脈數，此名癉瘧。宜用玉女煎，加沙參、竹葉等味，甘涼養陰也。</p>
<p>此《內經》所謂陰氣先傷，陽氣獨發，但熱無寒，是名癉瘧。喻嘉言主以甘涼養陰一法，深造仲景之堂矣。</p>

<h2>伏暑條辨第十二</h2>
<p>伏暑微寒多熱，頭痛身疼，煩冤欲嘔，此名溫瘧。宜用桂枝白虎湯，加杏仁、厚朴等味，清肺透邪也。</p>
<p>此《內經》所謂寒少熱多，煩冤欲嘔，骨節疼痛，是名溫瘧。宜用石膏、知母清肺胃，甘草、粳米養胃津，加桂枝引肺邪以達皮毛。其本方下自注云：一劑知，二劑已。由此推之，仲景原有白虎加桂枝以止溫瘧，至景岳加葛根則名葛根白虎，加柴胡則名柴胡白虎，以治陽明少陽二經之瘧，亦深得仲景心法也。</p>

<h2>伏暑條辨第十三</h2>
<p>伏暑但寒無熱，一日一發，汗令舌白，脈虛溺赤，此名牝瘧。宜用桂枝湯合柴胡湯，扶陽止瘧也。</p>
<p>凡瘧來但寒無熱，汗冷舌白，陽虛之象昭然，故名牝瘧，牝者陰之謂也。其用桂枝湯以護陽，柴胡湯以止瘧，亦得仲景之妙義焉。</p>

<h2>伏暑條辨第十四</h2>
<p>伏暑先寒後熱，汗出則解，逾時再寒，舌白脈弦，此名陰瘧。宜用小柴胡湯，加草果、知母、烏梅、杏仁、蜀漆等味，兩清太陰少陽也。</p>
<p>凡瘧來先寒戰而後發熱者，因陰與陽爭，陰勝則寒，陽與陰爭，陽勝則熱。令逾時而再寒者，其陰邪未泄，陽氣未和，且舌白脈弦，乃陰盛之狀，亦名陰瘧。宜用柴胡、黃芩泄少陽，合半夏、甘草、草果、烏梅、知母、蜀漆溫太陰，俾少陽太陰之邪兩清，則瘧自止矣。</p>

<h2>伏暑條辨第十五</h2>
<p>伏暑成瘧，每日一發，過一日，則遲一時，十二經絡循環無休，此名鬼瘧。宜用桂枝湯合柴胡湯，加龍骨、牡蠣扶正卻邪也。</p>
<p>此言瘧發，過一日，則遲一時，轉輾循環，無有休息，斯邪不在臟腑，而在經絡。故其發必由營衛循行，周流不息。而名鬼瘧者，以日遲一時，刻無參差，如有神附故也。宜用桂枝湯合柴胡湯，護陽泄邪，仍兼龍骨牡蠣，鎮神卻邪，毋使邪盛正虛，而遷延歲月也。</p>

<h2>伏暑條辨第十六</h2>
<p>伏暑瘧髮間日，或早或晚，脘脹脈弦，舌淡便溏，此太陰瘧也。宜用清脾飲，加鱉甲、青蒿、神麯等味，溫脾理邪也。</p>
<p>凡瘧邪之來，必由四末以擾中宮，發雖間日，脘脹脈弦，舌淡便溏。是脾陽大傷，木乘所勝，將延腫滿。故用白朮、厚朴、半夏、茯苓、陳皮、神麯、草果溫太陰，兼柴胡、青皮、鱉甲清厥陰也。</p>

<h2>伏暑條辨第十七</h2>
<p>伏暑三日一瘧，或臨夜分，面黃食減，腹膨便溏，脈弦，此厥陰瘧也。宜用吳又可三甲散合清脾飲，理脾疏肝也。</p>
<p>瘧已成三，更值暮夜，是邪伏三陰，最為深邃，雖屬肝邪，久必傷脾。若見面黃食減，腹脹便溏，乃脾受其所不勝，而正氣傷也。若不扶脾，必滋脹滿，故用清脾飲，理脾疏肝，合吳氏三甲散，以搜逐隱伏之邪，則脾元漸復，肝邪漸泄，瘧不攻自止矣。</p>

<h2>伏暑條辨第十八</h2>
<p>伏暑瘧久纏綿，邪無出路，肋下結瘕，此名瘧母。宜用鱉甲飲子、鱉甲煎丸，消痞治瘧也。</p>
<p>此言瘧邪，深伏厥陰，結瘕肋下，是為瘧母，以肋乃少陽膽經所歷之處，瘧邪初犯，必由少陽漸傳厥陰，久必入絡，遂與痰氣交凝，凝聚成形。非用鱉甲、地鱉蟲、殭蠶、山甲之飛昇走降，貫竄經絡，則恐不能搜剔幽隱，升泄潛踞。又兼柴胡、川芎、歸鬚、射干、桃仁，為升降疏泄。四法具備，則邪無可容，勢必越出耳。以上諸條，都因伏暑而成，故兼收之。學者當更以瘧症門，兼參之可也。</p>

<h2>伏暑條辨第十九</h2>
<p>伏暑痢積，色白腹痛，裡急後重，舌白嘔惡，此邪伏脾胃。宜用藿香正氣散，加山楂、木香、檳榔、車前等味，理脾逐濕也。</p>
<p>凡暑伏募原，外感客邪而發者，名為瘧症，內傷生冷而成者，名為痢疾。先賢所謂暑邪在脾，不瘧則痢，不痢則瘧。今痢下白積，而兼腹痛，舌白嘔惡，乃冷濕傷脾。雖有裡急後重，先宜理氣分消。故用正氣散，加山楂、木香、檳榔、車前溫脾理濕，分利膀胱，使不釀延血分，而轉成赤痢焉。</p>

<h2>伏暑條辨第二十</h2>
<p>伏暑痢積，色赤腹痛，裡急後重，此由氣傷血。宜用潔古芍藥湯，調氣和血也。</p>
<p>上條痢下白積，專傷氣分，只宜理氣，此條痢已轉赤，傷及血分，非但理氣可效。故用潔古芍藥湯，藉芩、連苦寒清裡熱，檳、木辛溫通氣滯，歸、芍、桃仁和營止血，大黃、肉桂溫通積滯。所謂和其血，而痢自止，調其氣，而後重除焉。再按痢者，古稱滯下，又名腸澼。都由夏秋之間，暑濕傷脾，阻遏氣機，蒸逼蘊釀，而致氣不宣化，邪無出路，奔迫大腑，而黏結滯下也。故初起便兼腸脂濁垢交結而下，不拘赤白，總有裡急後重腹痛下垂之患。然腹痛之中，務要辨明虛實，其痛隨便減者為實，宜通之。如痛不隨便減者為虛，宜補之。裡急之狀，亦有虛實，以欲痢之時，腹先如垂，故名裡急。其急隨痢減者為實，宜疏通為主。如急不隨痢減者為虛，宜固補為先。後重之狀，亦有虛實，以痢後不爽，肛門如墜，故名後重。其實者因邪火窘迫，宜苦寒以清之。如虛者以液枯氣陷，宜甘溫以補之。學者當於氣血虛實之間，謗審其的，溫清補瀉之法，用得其宜，靈機活潑，在乎其人耳。</p>

<h2>伏暑條辨第二十一</h2>
<p>伏暑痢兼赤白，腹痛窘迫，聞谷欲嘔，此名噤口。宜用生薑瀉心湯，加石蓮肉、烏梅、白芍等味，苦辛泄降也。</p>
<p>凡痢稱噤口，最為險候，俗言吃勿死的瀉痢信然也。然亦有虛實之分，如痢色清淡，口不甚渴，舌白脈軟，身無大熱，而食入嘔惡，此屬虛寒。宜用瀉心湯之姜連苦辛通降，參草甘溫養胃，加梅芍酸收制肝，石蓮苦寒堅陰，且得苦辛甘酸之味，而無拒格之患。若痢色濃穢，舌黃口渴，脈滑或數，發熱痛甚，而聞谷欲嘔，此屬實熱，宜用芩連苦寒以降其逆，白芍、秦皮以和其肝，山楂、厚朴以疏其滯，大黃、芒硝以攻其積，車前、赤苓以分水道，則積滯祛，而邪火退，其痢自止。</p>

<h2>伏暑條辨第二十二</h2>
<p>伏暑痢兼五色，腹痛裡急，不食神疲脈弦，此名五色痢。宜用東垣補中益氣湯，加禹糧石、白芍、茯苓、澤瀉等味，升清泄濁也。</p>
<p>凡痢兼五色，病涉五臟矣。而食減脈弦，胃虛之象益著。故用補中益氣湯，以升清陽，加茯苓、澤瀉以降濕濁，禹糧石以止瀉痢，使陽升陰降，而痢可止焉。</p>

<h2>伏暑條辨第二十三</h2>
<p>伏暑痢赤轉白，漸變為瀉，此臟邪轉腑。宜用真人養臟湯，溫澀止痢也。痢赤轉白，又變為瀉，此由臟轉腑，從重轉輕，將愈之兆，並無積滯，故用真人養臟湯，澀腸止瀉，斯為的當。</p>

<h2>伏暑條辨第二十四</h2>
<p>伏暑痢久不止，肛脫腹垂，腰痠足痿，食入作脹，此脾腎兩傷，氣虛下陷。宜用景岳補陰益氣煎，加杜仲、菟絲等味，升陽攝陰也。</p>
<p>痢雖脾病，久必傷腎，今肛垂腰痠足痿，食入作脹，系腎虛不攝，脾虧不運。若不兩顧，病難向愈。故用景岳補陰益氣煎之，參蓍術甘以健脾，熟地、山藥、歸身、杜仲以補腎，兼升麻、柴胡以升清陽之氣，俾陽升陰攝，而痢自止矣。</p>

<h2>伏暑條辨第二十五</h2>
<p>伏暑痢久，或止或作，色雜不一，面黃腹脹，此名休息痢。宜用繆仲淳脾腎雙補丸，兼補二天也。</p>
<p>痢久面黃腹脹，已見脾虛之象。若仍或作或止，不特脾虛氣陷，腎臟亦少攝納之權，非用仲淳之脾腎雙補丸，兼補先後二天，則脾腎日虧，痢無已時也。</p>

<h2>伏暑條辨第二十六</h2>
<p>伏暑痢赤，身熱口渴，腹痛窘迫，肛門如火，脈數弦滑，此濕火奔迫，宜用白頭翁湯，苦味堅陰也。</p>
<p>此條熱迫下注，邪火消爍，故腹痛下墜，窘迫無度，常如裡急之狀，且肛門如烙，而身熱口渴，脈得滑數。若非白頭翁湯之苦以堅陰，寒以清熱，則痢必不止。如熱甚者，再加大黃以滌之。若熱不甚。而脈虛數，舌乾少津，咽燥口乾，乃陰虛火熾，宜用黃連阿膠湯，養陰清熱為要。</p>

<h2>伏暑條辨第二十七</h2>
<p>伏暑痢色如凍，雜以水穀，肛垂裡急，隨食隨痢，完穀不化，此直腸痢也。宜用赤石脂、禹糧石、炮薑、粳米，共研粉調服，兼補中益氣湯，堵截陽明也。</p>
<p>凡痢初起，必先傷脾，而後及腎。故古人治痢，雖先辨明暑濕之在氣在血，而後施治，必以脾腎兩臟為主。今痢色如凍，而雜有水穀，虛寒之狀已著，更兼肛垂裡急，完穀不化，此脾腎失固，關閘乙撒的是直腸之險。《內經》云腎者胃之關也，開竅於二陰。腎真失固，則胃關不守，致食入於胃，不及腐化而仍完穀。若非砥柱中流，截堵閘道，則痢何以休，仿仲景少隊下痢之桃花湯，合禹糧石，澀腸堵胃，毋使直下。庶得運化如常，而出納有度，再兼補中益氣以扶土升陽，得清氣上升。庶善會《內經》濁氣在上，則生䐜脹，清氣在下，則生飧泄之旨矣。再按仲景論瀉痢，有寒而下利清穀者，因釜中無火，不能熟腐五穀，固屬虛寒。又有熱甚而亦完穀不化者，雖云邪熱不殺穀，據（愚）意言之，究系胃關失守，攝納無權。（予）所閱是證，秘系身熱口乾，舌赤少津，脈數無力，虛熱者居多。大抵陰虧陽動，化生內風，縱橫擾亂，清濁混淆，總屬虛象，並非邪熱。故每用胃關煎加赤石禹糧，以固澀之，往往收功。更有肢冷脈虛，面慘舌淡，此屬虛寒，用桃花湯，加人參、附子以溫補之。亦可奏效，要之完穀直腸之病，雖有陰陽寒熱之分，然寒固屬虛，熱亦不外乎虛也。若云邪熱不殺穀，數廿年閱歷以來，未可準信，故辨及之。以俟明眼定裁。</p>

<h2>伏暑條辨第二十八</h2>
<p>伏暑痢下赤白，奔迫無度，痛隨痢減，舌黃脈緊，此寒凝氣滯。宜用當歸、白芍、黃連、木香、山楂、厚朴、大黃、附子等味，溫通理氣也。</p>
<p>上條言熱，此條言寒，且痛隨痢減，奔迫後重，日夜無度，脈緊舌黃，乃寒濕黏滯，蘊蒸阻遏，而致腸胃失宣也。考《內經》五臟者，主藏而不泄，六腑者，主通而不滯。此大腸與胃，皆手足陽明之腑，又為水穀之海，主傳導化物者也。蓋因寒濕蘊釀，氣道阻遏，致腹痛裡急，數圊不爽。例宜宣通疏化，使氣極運則濕濁走，而病可霍然矣。再按古人謂暴崩暴痢，宜溫宜補，久崩久痢，宜清宜通，要非暴崩暴痢，總宜溫補，久崩久痢，總宜清通。究在臨症時，細心謗審，隨症用藥，不可執一。即下痢一證，固宜疏通，然有寒通溫通之異。如脈症屬熱屬實，原以苦寒通利。若脈症屬寒屬虛，又宜甘溫固補。倘寒中挾實，仿附子大黃湯，溫而且通。若熱而兼虛，仿黃連阿膠湯，清而且補。如虛中挾積，仿人參芍藥湯，通而且補。若虛中挾滯，仿景岳通解散，清疏帶補。以上諸條，苟能參互考訂，潛心玩味，庶無膠柱鼓瑟，涉海問津之患矣。近世以積滯二字，為痢症之通稱，（予）意積者屬實，由無形而釀為有形。滯者屬虛，本運氣而凝為滯氣，要不可以積滯二字，混稱為實，故並及之。以質諸高明，為是為否，當有能辨之者。</p>

<h2>秋燥辨論</h2>
<p>嘗觀《內經》、《金匱》，及後賢諸書，所論六淫之病，因於四時。故冬有傷寒，春有溫症，夏有暑濕，惟秋令燥氣，則並未論及。迨喻嘉言先生，著有秋燥一症，誠為另開手眼。然仲景先師，非無卓識而遺漏也。其散見諸條之內者，如《金匱》但熱無寒之癉瘧，寒少熱多之溫瘧，及《內經》脾癉消渴，而為風發，傷寒燒針發狂，而為風溫。皆用甘涼濡潤，清肅肺胃等法，非燥火而何。（予）三十餘年，閱歷以來，留心斯症，都因秋令太溫，兩澤愆期，風陽化燥，鼓盪寰宇，以致消爍之勢，乘虛襲肺，肺失清肅。則洒洒惡寒，翕翕發熱，鼻鳴乾燥，咳逆衄血，舌赤齒枯，諸症叢生。蓋犯是症者，必由稟賦陰虧，亢陽偏盛，或形瘦身長，或色蒼少澤。稟乎木火之質者，比比皆然。是則水流濕，火就燥，以類相招，其感甚易。況陽有餘，便是火，火必從燥，先傷肺金。故每現之症，多是肺熱為幻，喻嘉言所著清燥湯，但取甘寒養陰，辛涼清肺，真對症之良方，濟世之慈航焉。</p>

<h2>秋燥條辨第一</h2>
<p>秋燥初起，頭脹無汗，洒洒惡寒，翕翕發熱，鼻鳴乾燥，舌白少津，此燥熱傷氣，邪尚在表。宜用蔞皮、沙參、甜杏、桔梗、桑葉、連翹、鬱金、薄荷、鮮荷葉、枇杷葉、西瓜翠衣等味，辛涼透解也。</p>
<p>此條乃燥症之提綱，凡秋燥之來，必由秋陽太暴，致陽氣化風，風又化燥，燥必化火，先傷肺金。苟其人真陰不足，木火偏燃，不覺類從就燥。其初起也，先襲皮毛，後乃入肺，故必洒洒惡寒，翕翕發熱，鼻乾息鳴，所見無非燥熱之狀。然此症不與傷寒同例，亦與溫熱迥異。切不可辛溫升陽，而助其燥氣，又不可過於寒涼，而遏其肺氣。故宜沙參、甜杏、連翹、桔梗清肺熱，合鬱金、薄荷、荷葉、枇杷葉疏腠理，俾肺得清肅，而燥化自清，不致蔓延為幻。</p>

<h2>秋燥條辨第二</h2>
<p>秋燥汗出，不惡寒，而但發熱，咳痰不爽，鼻衄口乾，舌白轉黃，此邪熱傷肺。宜用沙參、花粉、地骨皮、知母、甜杏、玉竹、元參、甘草、連翹、枇杷葉、西瓜翠衣等味，清肺泄熱也。</p>
<p>上條無汗惡寒，例宜透解，此條汗出不惡寒，而但發熱，乃邪不肯解而漸傳乎肺。故咳痰舌黃，鼻衄已現，熱逼肺營之狀，必用沙參、花粉、骨皮、杏仁、知母、玉竹、元參、連翹、清肺金而解熱邪也。</p>

<h2>秋燥條辨第三</h2>
<p>秋燥熱不解，舌赤黃燥，嗆咳胸痛，朝涼暮熱，此肺熱傳營。宜用沙參、麥冬、鮮石斛、鮮生地、桑葉、甜杏、川貝、花粉、連翹等味，清營卻熱也。</p>
<p>此言熱不解，而舌赤心黃少津，是邪漸入營，肺猶未清，故嗆咳胸痛，朝涼暮熱，入絡之形已著。不得不藉沙參、麥冬、斛地、杏貝、花粉、連翹，兩清氣血也。</p>

<h2>秋燥條辨第四</h2>
<p>秋燥煩熱口渴，舌赤無苔，夜則熱甚，咳唾痰血，此熱傷肺絡。宜用喻氏清燥湯，育陰清熱也。</p>
<p>此條熱既入絡，傷及氣血，故煩熱夜甚，口渴舌赤，咳痰帶血。若非喻氏清燥湯中之沙參、麥冬、甜杏、川貝、桑葉、石羔清氣分，兼生地、阿膠滋血液，則恐邪難泄越，而滋蔓難圓焉。</p>

<h2>秋燥條辨第五</h2>
<p>秋燥經旬不解，舌絳焦黑，神昏譫妄，斑疹累累，此熱入血分。宜用犀角地黃湯，加鮮石斛、元參心、連翹心、鮮菖蒲、青竹葉、牛黃丸等味，清絡宣竅也。此條營熱不解，必致入血，舌絳焦黑，昏譫煩亂，斑疹俱現，此血熱甚也。故用犀角、生地、丹皮、赤芍、元參、連翹，皆涼血清熱之品，又兼菖蒲、竹葉、牛黃丸，芳香宣竅逐穢也。</p>

<h2>秋燥條辨第六</h2>
<p>秋燥舌黑，昏譫妄笑，斑色紫黑，便閉腹脹，頻轉矢氣，此熱結在腑。宜用生首烏、鮮生地、鮮石斛、大黃、元明粉甘草等味逐邪養正也。</p>
<p>上條熱入血分，而用涼血清熱。此條血熱不解，瘀結在腑，其舌黑，昏譫雖同，但少腹脹而便閉，轉矢氣者，斷非清涼可解。故用首烏、生地、石斛、甘草保養真陰，兼大黃、元明粉攻滌熱邪，既不傷正又能逐邪，庶為兩全。</p>

<h2>秋燥條辨第七</h2>
<p>秋燥犯肺，其人素有咳血，更加身熱頭汗，舌赤脈數，嗆咳益劇，此熱逼動血。宜用葦莖湯，加西瓜翠衣、杏仁、川貝、鮮荷葉、沙參、地骨皮等味，兩清太陰氣血也。</p>
<p>素有咳血，肺氣已傷，加以身熱頭汗，舌赤脈數嗆咳，是外來之燥火，消爍肺金而致動血。故用葦莖、桃仁、冬瓜仁、薏仁、杏仁、川貝、沙參、西瓜翠衣、地骨皮清肺通絡，如再不止，以清燥湯育陰清金，方為妥貼。</p>

<h2>秋燥條辨第八</h2>
<p>秋燥犯肺，其人陰分素虧，加以身熱汗多氣喘，脈洪無力，此燥火刑金。宜用玉女煎加地骨皮、百合、麥冬、五味、西洋參等味，清金滋水也。</p>
<p>此言素稟陰虧，木火易炎，更加身熱汗多，氣喘脈洪，燥熱之狀甚熾。故用玉女煎滋養腎陰，又清肺熱，俾肺得清肅，而能生水，水得滋養，而能制火焉。</p>

<h2>秋燥條辨第九</h2>
<p>秋燥汗出不解，口大渴，日晡發熱，清晨則涼，狀雖如瘧，而無寒戰，此癉瘧也。宜用西參、生地、麥冬、石膏、知母、花粉、青蒿、甘草、粳米等味，甘寒養陰也。</p>
<p>按《金匱》云：陰氣先傷，陽氣獨發，但熱無寒，是名癉瘧。主以飲食消息之，而並未注方。至喻嘉言，悟出甘涼濡潤，以養胃陰之義，與飲食消息之意恰合。故用人參白虎湯甘寒養正，又佐花粉、青蒿清金泄木，為法中之法焉。</p>

<h2>秋燥條辨第十</h2>
<p>秋燥汗多不解，每臨午後，寒微熱甚，煩悶欲嘔，舌赤脈洪，此溫瘧也。宜用桂枝白虎湯加杏仁、厚朴，嘔則加半夏茯苓等味，兩清表裡也。</p>
<p>按《金匱》云：微寒多熱，煩悶欲嘔，骨節疼痛，是名溫瘧。用桂枝白虎湯，其方下自注云：一劑知，二劑已。蓋言汗多則表邪既微，故寒少，煩嘔，則內燥已甚，故熱多，是病在肺之表裡。用白虎以清內熱，合桂枝引邪出表，加杏樸疏通內滯，半夏變和陰陽，所謂一劑知，則已知其確中病情，二劑已，則病必霍然矣。</p>

<h2>秋燥條辨第十一</h2>
<p>秋燥日久不解，誤補邪留，消爍肺金，咳痰濃濁，甚唾膿血，胸間版痛，此肺痿也。宜用葦莖湯，加瓜蔞、杏仁、桑皮、桔梗、百合、川貝等味，清肺祛濁也。</p>
<p>凡燥熱之症，重則果易辨明，輕則淹淹發熱，喉燥咳逆。若語認陰虛而投滋補，則邪無出路，逗留肺內，炎炎薰灼。肺陰日損，以致咳唾濁痰，斷出膿血，與肺癰似是而非，故《金匱》稱為肺痿。蓋癰則屬實，痿則屬虛，故用葦莖湯，合瓜蔞、杏、貝、桑、桔、百合，宣通肺氣，以化其瘀腐敗濁，俾肺熱得清，呼吸無阻，而病可漸瘳也。</p>

<h2>冬溫溫毒辨論</h2>
<p>嘗考軒岐《靈》《素》，及仲景《傷寒雜病》《金匱玉函》諸書，有傷寒而無冬溫。迨南醫輩出，始著其名，其症之由，皆因冬令溫燠，陽失潛藏，甚至冰霜不見，桃李舒葩，而乾坤之氣，遂有闢而無闔矣。人生一小天地，天地既有闢而無闔，則人身之氣化亦有泄而無藏矣。是故冬應寒而反溫者，即為恆燠之咎徵，人或正氣有虧，則邪尤易感，以致頭痛無汗，發熱惡寒，與傷寒彷彿，但口渴脈數，鼻乾氣燥，則與傷寒有異。甚則為痧為斑為痘，皆此類也。更有陰虧陽亢之體，陰氣暴絕，陽邪獨發。初起便目赤齒枯，舌絳口渴，斑如錦紋，神昏咽痛，脈弦數促，此名溫毒，即《傷寒》例中陽毒症也。較諸冬溫更上一層，為感症中之最險者。故名為毒，而惟幼稚為甚者。蓋以體屬純陽，陽與陽合，以類相招，其感尤速。凡遇此症。即宜辛涼清解，甘寒養陰，估以解毒，可免萬一。若再溫表，猶抱薪救火，定遭熱斃。故大江以南，地卑氣濕，潮濕霧露皆能致病，況冬失其令，尚易感溫，其真傷寒者。廿無一二，間有證類太陽，而頭痛身疼，發熱惡寒，只須辛涼清解，得汗即愈，究因地暖氣疏，易感易散，非若此方地寒氣剛，可概以真傷寒法治之也。</p>

<h2>冬溫條辨第一</h2>
<p>冬溫初起，頭痛無汗，惡寒發熱，口渴鼻乾脈數，此溫邪在表。宜用薄荷、大力、荊芥、連翹、桑葉、淡豉、蔞皮、杏仁、葛根、枇杷葉等味，辛涼汗解也。</p>
<p>無汗頭痛，惡寒發熱，原與傷寒無異，但口渴鼻乾，脈數氣燥，則有不同。蓋傷寒邪在於表，理宜溫散，冬溫邪伏於內，理宜清泄。非用薄荷、荊芥、桑葉、淡豉、葛根苦辛泄表，連翹、蔞皮、杏仁、枇杷葉辛涼清內，則不能表裡兩清，必致傳變無窮矣。</p>

<h2>冬溫條辨第二</h2>
<p>冬溫汗出，頭雖不痛，熱仍未解，而咳嗽口渴舌燥，此邪不汗解，漸傳氣分。宜用桑葉、沙參、甜杏、象貝、連翹、桔梗、蔞皮、甘草、大力、枇杷葉等味，清氣透邪也。</p>
<p>上條無汗頭痛，邪尚在表，理宜開泄，此條汗出熱不解，是表邪已散，而猶口渴舌燥咳嗽，乃邪不汗解，漸傳氣分。故用桑葉、沙參、杏仁、象貝、連翹、蔞皮、桔梗輕苦微辛，但清氣分，仍從表解也。</p>

<h2>冬溫條辨第三</h2>
<p>冬溫汗後，不惡寒，反惡熱，煩悶口渴，舌赤苔黃，嗆咳脅痛，此邪傳在肺。宜用沙參、甜杏、花粉、連翹、桑皮、黑梔、鬱金、枇杷葉等味，清肺化邪也。</p>
<p>汗後不惡寒，是表邪已解矣，而反惡熱，煩悶口渴，舌赤苔黃，乃里熱已甚，尚見嗆咳，邪猶在肺。故用沙參、杏仁、連翹、花粉、黑梔、桑皮、枇杷葉，一派清涼之味，以清肺氣也。</p>

<h2>冬溫條辨第四</h2>
<p>冬溫煩熱不解，口渴舌黃尖赤，脈洪或數，此邪傳陽明氣分。宜用白虎湯，加杏仁、沙參、桑葉、連翹等味，清胃透邪也。</p>
<p>肺邪不解，而致口渴，舌黃尖赤，脈洪而數，此邪已到陽明氣分。夫陽明者胃也。凡肺邪不解，必傳於胃。然陽明亦得氣血之分。今口渴脈洪，舌苔帶黃，是為氣熱。故用石膏知母，合沙參、連翹直清陽明，甘草、粳米、甜杏、桑葉甘涼養津。若見舌絳或黑，煩熱口渴，神昏妄笑，是為血分。宜用犀角地黃湯涼之。當與仲景《傷寒》例中，陽明經病腑病，氣分血分，逐一辨明，方可下手，否則如涉海問津矣。</p>

<h2>冬溫條辨第五</h2>
<p>冬溫煩熱神昏，舌赤苔黃，口渴咳嗽，斑疹脈數，此邪在肺胃。宜用沙參、連翹、元參、石膏、甜杏、川貝、桑葉、大力、人中黃、牛黃丸等味，清氣透斑也。</p>
<p>熱漸傳營，神昏口渴，咳嗽斑疹，是邪在肺胃之間，非從氣分清解，則斑疹難透。夫斑為陽明熱毒，疹為太陰風熱，斑疹俱見，二經受病。故用沙參、連翹、元參、石膏、甜杏、川貝、大力、中黃清氣熱，兼牛黃丸，芳香宣竅也。</p>

<h2>冬溫條辨第六</h2>
<p>冬溫熱甚，煩躁口渴，舌絳苔黃，神昏譫語，斑疹隱約，此邪熱傳營。宜用羚羊角、連翹、元參、沙參、鮮生地、鮮石斛、鮮菖蒲、廣鬱金、石膏、牛黃丸、青竹葉等味，清營轉氣也。</p>
<p>熱不解而煩躁口渴，舌絳苔黃，裡熱已甚，更兼神昏譫妄，斑疹隱約，乃邪已入營。若再不解，必延入血。故用羚羊角、連翹、元參、沙參、鮮生地、石斛、鮮菖蒲兩清氣血。佐以牛黃丸，芳香宣竅，使其從營轉氣，由氣達表，尚可一汗而解。凡舌苔黃白，間雜浮膩，尖雖鮮絳，神雖昏譫，總為氣熱未清，不可專涼血分，恐致氣分之邪無由出路，徒增險態。設不得已，惟宜兩清之可也。</p>

<h2>冬溫條辨第七</h2>
<p>冬溫煩熱，舌絳神昏，譫妄，斑紫或黑，脈數或促，此邪入血分。宜用犀角地黃湯，加鮮石斛、元參心、連翹心、人中黃、廣鬱金、鮮菖蒲、至寶丹、青竹葉等味，涼血透邪也。</p>
<p>上條舌絳苔黃，斑疹隱約，雖已神昏，邪尚在營，此條舌絳而焦，斑紫而黑，神昏譫妄，是邪已入血，非涼血清熱，則萬無生理。故用犀角、生地、丹皮、赤芍、合元參、連翹、中黃、石斛、菖蒲涼血破瘀，兼至寶丹，芳香逐邪。若再不解，則邪無泄越，症必危矣。</p>

<h2>冬溫條辨第八</h2>
<p>冬溫煩熱，舌絳而干，斑疹顯透，神迷妄笑，尋衣摸床，手足振顫，此陰傷風動。宜用炙甘草湯，去薑桂，加牡蠣、鮮石斛、鮮菖蒲等味，養陰卻熱也。</p>
<p>熱不解，而舌乾色絳，斑已透而神迷妄笑，乃熱極陰傷，陽動化風，故尋衣摸床，手足搖動。若非毓陰和陽，恐難挽回造化。必藉參、甘、膠、地、麥冬、牡蠣、菖蒲、石斛扶正養陰，則液返津回，肝陰內復，而風陽自熄焉。</p>

<h2>冬溫條辨第九</h2>
<p>冬溫初起，舌遽干，神便昏，煩熱脈數，或吐或瀉，此邪盛正虛。宜用《金匱》麥門冬湯，加桑葉、地骨皮、鮮石斛、鮮菖蒲、鮮稻根等味，甘涼養胃。倘吐瀉傷陽，無熱神迷多寐，脈軟不食，宜用人參溫膽湯，甘溫和胃也。</p>
<p>凡病初起，便見舌乾神昏，乃正虛邪盛，不克支持，最為險候。若煩熱舌乾，胃陰更損。故用麥冬、法夏、西參、甘草、粳米、桑葉、骨皮、石斛，甘涼濡潤，以醒胃氣。倘吐瀉傷陽，而神迷如寐，脈軟無熱，乃傷及胃陽，宜用溫膽和胃，人參養正為妙。</p>

<h2>冬溫條辨第十</h2>
<p>冬溫舌黃乾燥，煩躁昏譫，脈弦或伏，便閉腹硬，轉矢氣者，此熱結在腑。宜用鮮生地、生首烏、鮮石斛、大黃、元明粉等味，微下存陰也。</p>
<p>冬溫按法調治，而病不肯解。舌赤黃帶焦，或如沉香色，此應下之候。更兼腹硬，頻轉矢氣，即仲景所謂轉矢氣者，有燥糞也。仿調胃承氣，合生地、石斛、首烏，既能祛結，又能養陰也。</p>

<h2>溫毒條辨第一</h2>
<p>溫毒初起，煩熱惡寒，口渴舌赤，鼻乾氣燥，咽痛脈數，此邪襲氣分。宜用薄荷、連翹、羚角、桑葉、大力、鮮石斛、沙參、杏仁、桔梗、甘草等味，辛涼透泄也。</p>
<p>溫毒之起，蓋因先伏溫邪，後再感溫，兩溫相灼，即無風寒感召，而其病亦能作也。然溫上加溫，病中添病，其熱尤熾，較之冬溫更緊一層。故一起便發煩躁，微兼惡寒。夫表裡俱熱，則口渴舌赤，熱邪上壅，則咽痛鼻乾。斯邪在氣分，宜用薄荷、大力祛風，沙參、桑葉清熱，連翹、羚角化熱毒，甘草、桔梗利咽喉。慎勿辛溫助熱，灼傷津液，反滋傳變也。</p>

<h2>溫毒條辨第二</h2>
<p>溫毒汗出熱甚，面紅唇燥齒枯，舌赤口渴，脈數神昏，此邪留營分。宜用鮮生地、羚角、鮮石斛、玄參、銀花、桑葉、石膏、鮮菖蒲、青竹葉等味，兩清營衛也。</p>
<p>汗出熱甚，面紅齒枯，舌赤脈數，神志漸昏，乃邪欲入營。故仿玉女煎法，兩清心營肺衛，佐以解毒為要。</p>

<h2>溫毒條辨第三</h2>
<p>溫毒神昏舌絳，丹疹如錦，煩躁咽痛，鼻煤齒枯，脈數而促，此邪郁內外。宜用犀角地黃湯，加元參、連翹、人中黃、蟬衣、青竹葉、薄荷、牛黃丸等味，涼血清熱也。</p>
<p>丹疹咽痛，邪尚在肺，神昏舌絳，邪又犯營，若不清營透邪，病何由解？況鼻煤脈促，陰液大傷，血分被灼，痙厥之變近在目前。故用犀角、生地、丹皮、赤芍涼血，玄參、連翹、人中黃透斑，薄荷、蟬衣透表，牛黃、竹青清心，俾營熱轉氣，以達肌表，則斑可化矣。</p>

<h2>溫毒條辨第四</h2>
<p>溫毒煩躁，神昏舌赤，斑疹紫黑，脈促模糊，便閉或瀉稀水。此邪瘀血分，漫無泄越。宜用犀角大黃湯，加元參心、連翹心、紫草、赤芍、鮮菖蒲、紫雪丹等味，涼血祛瘀也。</p>
<p>前條氣血兼病，此條熱與血瘀，非徒涼血清熱可解。若勿用犀角、生地涼血，大黃逐滌，黃連清心，升麻透斑，元參、連翹化斑，紫草、赤芍行血，紫雪丹清心化毒，俾氣血上下一齊分消，否則邪無出路，而勢必危矣。再按便閉腹硬，原宜攻下，然亦有下利稀水，而臭穢異常，少腹仍兼硬痛，此仲景所謂協熱下利，又謂熱結旁流。蓋因燥矢堅凝，穢水旁流，水雖下而結矢未下，仍宜調胃承氣湯攻之，倘得結矢一下，旁流自止，毋謂大便既泄，而禁用攻法，學者詳之。</p>

<h1>卷下</h1>

<h2>傷濕辨論</h2>
<p>夫濕乃重濁之邪，其傷人也最廣。考《難經》《金匱》，有傷濕、中濕、風濕、濕溫之名，殆傷則傷其表。表者，乃陽明之表，肌肉也，四肢也。中則中其內，內者，乃太陰之內，脾陰也，濕土也。故傷表則肢節必痛，中里則脘腹必悶。及濕與風搏，而周身痛楚，濕與熱合，而煩悶熱蒸，都甚於夏秋。蓋江南地卑氣濕，沿江瀕海，霧露風潮，較別處尤甚，且易感染。故醫者，亦不務傷寒，專事濕溫，然比之傷寒，尤為瑣屑，更難調治。所謂能醫大江南之病者，思過半矣，矧其症，不獨夏秋，四時兼有。其濕之盛者，猶有微熱惡寒，身痛舌白，胸痞溺赤等症可憑。若濕之微者，依然外無痛楚，內不煩擾，但覺倦怠嗜臥，脈證暖弱，一如虛損。斯候也，誤補之則濕遽化熱而病反增劇，誤消之則濕留正損而更覺難堪。又要分別陽濕陰濕，陽濕者，胃熱恆多，即為濕熱；陰濕者，脾陽必衰，即為濕寒。更審其傷內傷外，傷內者脾土必虛，《內經》所謂卑隘之土，易於聚濕，胸腹必滿，氣機必滯。傷外者，陽氣必虧，河間所謂表虛之體，易於著濕，肢體必重，關節必痛。傷內者，理脾為主，傷外者，宣氣為先。陽濕者，主以苦辛，陰濕者，主以苦溫，俱當以淡滲佐之。苟能明其陰陽，分其內外，臨機應變，神而明之，庶不愧為醫中之司命焉。</p>

<h2>傷濕條辨第一</h2>
<p>傷濕初起，無汗惡寒，發熱頭痛，身重肢節痛楚，舌白脈緩，此陽濕傷表。宜用羌活、防風、薄荷、大力、杏仁、厚朴、豆卷、通草、赤苓、薏仁等味，祛風利濕也。</p>
<p>此言陽濕傷表。陽濕者，即濕溫也。凡人坐臥濕地，披著汗衣，皆能為患。蓋其重濁薰蒸之氣，阻遏衛陽，則惡寒而無汗。閉塞腠理，則發熱而身重。且陽明者胃也，中州之土也。其主肌肉，又主四肢。濕邪襲之，則經氣不宣，關節欠利，而致頭痛身疼。斯時之脈緩而且大，皆為濕熱薰蒸而然。須知濕為土余，非風不勝。故用羌活、防風、薄荷、大力祛風走表，杏仁、厚朴苦溫理脾，豆卷、薏仁、赤苓、通草淡滲利濕。正合《內經》濕淫於內，治以苦溫，佐以淡滲之旨也。</p>

<h2>傷濕條辨第二</h2>
<p>傷濕汗多，頭額不痛，而肢節欠利，渴不引飲，身熱脈大，此濕漸化熱。宜用杏仁、厚朴、連翹、黃芩、豆卷、滑石、通草、蘆根、鮮荷葉、枇杷葉等味，利濕清熱也。</p>
<p>上條無汗頭痛，濕襲衛陽之表。仲景云：濕家忌汗，汗之則變痙者，為傷陰也。所以垂訓後人，不可過於升散，以傷陰液為誡。此條既汗而頭不痛，是表邪已泄，而濕猶未化。所以肢節仍痛，濕從熱化，則液不升而口渴。熱被濕蘊，則氣不清，不喜引飲。脈漸大者，燎原之勢漸熾也。須用杏仁、厚朴苦溫理脾，連翹、黃芩苦寒清熱，仍兼豆卷、滑石、通草、蘆根甘淡滲濕，荷葉、枇杷葉辛涼清氣。俾濕化熱清，陰液不傷，庶無熱陷昏譫之險耳。</p>

<h2>傷濕條辨第三</h2>
<p>傷濕肢節不和，舌苔漸黃，口渴喜飲，溺赤煩冤，此濕遏熱蒸。宜用葛根、花粉、黃芩、木通、杏仁、厚朴、滑石、豆卷、蘆根、淡竹葉等味，清肺理濕也。</p>
<p>上條濕熱參半，故宜苦辛涼解。此條熱甚於濕，漸灼肺津，勢等燎原，所以肢節欠利，口渴舌黃，煩蒸溺赤，身中陰液皆被消爍。豈可再雜溫燥，以傷氣液。只宜葛根、花粉清上焦，黃芩、木通宣經遂，杏仁、厚朴運脾氣，滑石、蘆根、豆卷、竹葉甘涼淡滲，以清氣分，庶不致陰傷風動也。</p>

<h2>傷濕條辨第四</h2>
<p>傷濕煩蒸身痛，舌黃尖絳，脈大而洪，此陽明氣熱。宜用蒼朮白虎湯，加連翹、元參、杏仁、通草、蘆根、滑石等味，清氣化熱也。</p>
<p>上條熱甚於濕，濕尚留連。故清涼淡滲之中，少雜苦溫以運脾陽。此條濕漸化熱，熱甚於濕，傳入陽明，則蒸熱煩躁，逼犯心營，則舌尖漸絳，脈漸洪大。此邪在陽明，將欲入營。故用白虎湯，加元參、連翹以清氣熱，合滑石、蘆根、通草甘涼淡滲，以驅濕熱。仍用蒼朮者，以身尚疼痛，余濕未盡耳。</p>

<h2>傷濕條辨第五</h2>
<p>傷濕熱不解，舌黃鮮絳，神昏譫語，脈大而數，此氣血燔蒸，熱陷心營。宜用玉女煎，加連翹心、元參心、鮮石斛、鮮菖蒲、青竹葉、牛黃丸等味，兩清氣血也。</p>
<p>此條濕盡化熱，氣血俱病也。熱在氣分，則舌黃，既灼血分，則鮮絳，及燎於心營，則神昏譫妄。故用玉女煎之生地涼血，石膏清氣，知母、石斛養胃陰，連翹、元參清內熱，菖蒲、竹葉清心，牛黃丸宣竅。務得氣爽神清，不使熱爍津耗，而成痙厥為要。</p>

<h2>傷濕條辨第六</h2>
<p>傷濕身熱，煩躁舌絳而黑，神昏譫妄，斑疹隱隱，脈數而促，此熱陷入血。宜用犀角地黃湯，加元參心、連翹心、鮮石斛、鮮菖蒲、人中黃、青竹葉、至寶丹等味，涼血化斑也。</p>
<p>上條氣血兩燔，此條熱陷入血，致舌絳而黑。心主血，心熱則譫妄，血熱則斑現，熱極則脈促。凡脈見數促，其熱已極，脈經謂漸退則生，漸進則死。非藉犀角地黃湯涼血，合連翹、元參清熱，石斛、人中黃化斑，菖蒲竹葉清心，兼至寶丹芳香逐穢，恐難速效，然亦已險焉。</p>

<h2>傷濕條辨第七</h2>
<p>傷濕惡寒發熱，肢體重痛，胸膈滿悶，或嘔或瀉，脈浮而緩，此濕傷表裡。宜用杏仁、厚朴、橘紅、香薷、薄荷、藿香、豆卷、澤瀉、通草等味，兩清表裡也。</p>
<p>凡濕傷於表，則惡寒發熱，身重而痛，傷於內，則嘔惡泄瀉，脘滿而悶，脈見浮緩者，表裡俱病也。故宜香薷、薄荷透表，橘紅、厚朴溫中，杏仁、藿香宣上焦，豆卷、澤瀉泄下焦。使三焦表裡之邪，一齊分清，則濕邪不攻自走矣。</p>

<h2>傷濕條辨第八</h2>
<p>傷濕惡寒微熱，舌白不渴，肢節酸楚，胸脘滿悶，脈緩而小，此陰濕傷內。宜用藿香正氣散，加豆卷、通草等味，溫脾利濕也。</p>
<p>此條陰濕傷陽，必由煩冗過度，氣弱陽衰，時令之濕，得以乘之。初起雖惡寒而不甚發熱，舌白不渴，濕壅中焦，則瀰漫上下，所以胸脘不舒，肢節酸楚並見矣。故用正氣散中之藿樸陳苓溫脾陽，術曲蘇夏宣脾氣，加豆卷、通草理濕氣。俾脾陽得運三焦宣暢，則重濁之邪，由此俱化矣。</p>

<h2>傷濕條辨第九</h2>
<p>傷濕舌白肢冷，脘痛欲嘔，脈弦而小，此冷濕傷脾。宜用理中湯去朮，加半夏、益智、吳萸、附子等味，扶陽泄濕也。</p>
<p>上條脾陽內虛，濕自外侵，此條脾陽不足，濕自內壅。故並無寒熱身疼，但見脘痛肢冷，舌白脈緩。若非辛溫健脾，濕何由解。故用理中湯以運中陽，去朮則恐其壅滯，加半夏、益智則通陽，吳萸則泄濁，寒甚者再加附子溫之。</p>

<h2>傷濕條辨第十</h2>
<p>傷濕發熱微寒，舌黃溺赤，口渴不食，身倦脈大，汗多氣泛，此陽濕傷胃。宜用鮮佩蘭、鮮藿香、鮮石斛、鮮荷葉、六一散、蘆根、淡竹葉等味，理濕清熱也。</p>
<p>前條陰濕傷脾，例宜溫散。此條陽濕傷胃，必由多食煎炙，恣情酒色，致陰虛胃熱。更值暑濕之令，內外燔蒸，故外無頭痛身疼，內無嘔惡胸悶，但見發熱，而略似惡寒。直至舌黃溺赤，口渴不食，勢已燎原，兼之身倦脈大，汗多氣泛，皆陰虛陽亢之候。故用佩蘭、荷葉、藿香、石斛，俱取鮮者。得氣輕力薄以卻熱邪，猶恐拘留不解，再兼六一、蘆根、竹葉，清之利之。此法既不傷正，又能祛邪，舍此而投滋膩，恐反增劇矣。</p>

<h2>傷濕條辨第十一</h2>
<p>傷濕肢體倦怠，嗜臥不食，舌膩便溏，脈虛無力，此氣虛挾濕。宜用東垣清暑益氣湯，升清降濁也。</p>
<p>凡人中氣素餒，濕邪易蘊，至夏則大氣開泄，不克支持，忽而肢體倦怠，嗜臥不食。經云：傷於濕，則身重不舉。又云：脾病則臉澀，嗜臥。且舌膩便溏，脈虛無力，皆脾衰濕盛之證。故用參、耆、朮、甘補中州，葛根、升麻升清陽，茯苓、澤瀉降濁陰，神麯、麥芽疏脾氣。兼之麥冬清心，五味斂肺，合升降疏補俱備，而併力補土，又能清熱斂液者也。此東垣先師化裁製方之妙，豈流俗所能測哉。</p>

<h2>傷濕條辨第十二</h2>
<p>傷濕頭重，倦臥懶言，煩熱汗多，口渴溺赤，脈洪，此濕熱傷氣。宜用清暑益氣湯，加熟石膏、知母、鮮荷葉等味，益氣清熱也。</p>
<p>《內經》云：傷於濕，則頭似蒙，首如裹。又云：言遲則氣虛。今頭重懶言，更兼煩熱汗多，氣虛之象昭然矣。況液不升則口渴，濕內蘊則溺赤。故用清暑益氣湯大補中州，加熟石膏、知母、鮮荷葉大清氣熱。然須細察精詳，慎勿輕忽以誤人也可。</p>

<h2>傷濕條辨第十三</h2>
<p>傷濕身倦嗜臥，目黃溲黃，此脾虛濕蘊，將成谷疸。宜用茵陳、茅朮、厚朴、薏仁、赤苓、車前、神麯、穀芽等味，運脾理濕也。</p>
<p>脾氣內虛，則身倦嗜臥，濕蘊中焦，則目溲俱黃。斯濕熱與穀氣薰蒸，蘊釀，必成黃疸。故用茅朮、厚朴、赤苓、薏仁健脾，神麯、穀芽疏脾，車前、茵陳分利膀胱，俾脾氣健運，則濕熱自化也。</p>

<h2>傷濕條辨第十四</h2>
<p>傷濕目黃，身倦便溏，溺赤，腹膨跗腫，此脾虛濕氾，將成腫滿。宜用小溫中丸，加茵陳、車前子等味，補土逐濕也。</p>
<p>上條目黃溲黃，濕蘊熱蒸，必成黃疸。此條目黃便溏，腹膨跗腫，濕盛化水，漬於肌內，必成浮腫。用小溫中丸，苦溫理脾，加車前、茵陳分利膀胱，猶開支河以通水道之理也。</p>

<h2>暴感風寒論</h2>
<p>嘗考《內經》九宮八風等論，風有八方，位分八卦，故冬至後，風從乾方來者為正風，主長養萬物。從別方來者，謂之偏風，逆面來者，謂之賊風，主傷害萬物。是則立冬後風從北，立春後風從東，立夏後風從南，立秋後風從西，皆為正風。若不從其位，而反逆面來者，謂之賊風，不惟傷物，且易侵人。倘正氣有虧，風必乘虛而襲，忽而頭痛惡寒，鼻塞聲重，咳逆痰多，但始終在肺，異於傷寒之壯熱傳變耳。蓋寒必傷於冬，暑必傷於夏，瘧痢見於秋，溫熱見於春，此四時之氣，各隨其令而見之。惟暴感風寒，雖盛暑炎蒸，長幼同居，久病臥床者，俱能染諸。故古人稱為寒疫也。良以風必兼寒，先傷乎肺，肺氣閉塞，則鼻息不利，聲不顯揚，但留連在肺，薰蒸熔鍊，直至痰濃涕厚，鼻通氣宣，庶得漸解。故治法只宜苦辛溫解，以宣肺氣，不可過於寒涼，而致壅遏上焦，邪留肺底，變成損怯，醫者慎之。</p>

<h2>傷風條辨第一</h2>
<p>傷風頭痛惡寒，鼻塞聲重，嚏涕無汗，此暴感寒疫。宜用蘇葉、白芷、前胡、桑皮、桔梗、薄荷、橘紅、枳殼等味，苦辛溫解也。</p>
<p>風必兼寒，先傷乎肺，肺臟空虛，形如懸磬，風寒觸之。則清肅不行，而氣不宣化。故鼻塞聲重。其頭痛惡寒無汗者，以太陽為肺之外衛。暴感之狀，雖與傷寒相同，但始終在肺，並無傳變為異。故《內經》所謂，中於項，則下太陽，中於面，則下陽明，中於頰，則下少陽也。初起宜蘇葉、白芷、薄荷、前胡辛以泄其衛，桑皮、橘紅、枳殼、桔梗苦以降其逆。正《內經》所謂，肺苦氣上逆，即食苦以泄之也。</p>

<h2>傷風條辨第二</h2>
<p>傷風汗出，頭痛已減，猶然鼻塞聲重，咳嗽多痰，此寒邪襲肺。宜用蘇梗、前胡、杏仁、象貝、桑皮、地骨皮、橘皮、枇杷葉等味，宣肺透邪也。</p>
<p>此風邪已散，寒氣猶留，若非疏散，恐生他患。故以蘇梗、前胡、杏仁降氣，桑皮、地骨瀉肺，橘皮、象貝消痰，枇杷葉清氣。是邪在上焦，藥用輕浮，恰到肺位也。宜矣。</p>

<h2>傷風條辨第三</h2>
<p>傷風鼻氣重濁，喘逆痰嘶，胸肋板痛，此寒與飲結，內阻肺絡。宜用蘇子、前胡、桑皮、杏仁、橘紅、半夏、茯苓、旋覆花、枇杷葉等味，降氣撤飲也。</p>
<p>鼻塞重濁，肺失清肅，喘咳胸板，宿飲內結。夫飲為陰邪，因寒則動，內阻肺絡，外襲皮毛。苟非內撤飲邪，外疏風寒，則何可兩解。故宜蘇子、前胡、桑皮、杏仁開肺降逆，法半夏、茯苓、旋覆花、橘紅滌飲和胃，俾肺氣開而寒飲化，則病漸解也。</p>

<h2>傷風條辨第四</h2>
<p>傷風鼻塞聲重，頭痛目疼，鼻流穢水，此風邪入腦。宜用辛夷散，加杏仁、桑皮、苦丁茶等味，清肺泄熱也。</p>
<p>肺懸上焦，氣稟清肅，為五臟之長，相傳之官，治節出焉。風為陽邪，性亦輕虛，專傷上焦。《內經》所謂清邪中上也。蓋邪既中上，必先入肺，肺被邪侵，則薰蒸化火，上乘入腦，消爍腦脂。從鼻而下，化為穢涕，非從清肺等藥，可解者也。須藉辛夷、藁本、白芷、防風、升麻者以輕浮上升，而能搜剔風熱也，更佐杏仁、桑皮以瀉肺熱，木通、苦丁茶以利胃濕，則聲可清，而腦可撤也。</p>

<h2>傷風條辨第五</h2>
<p>傷風咳不止，肋痛痰血，鼻息欠利，此熱逼動絡。宜用葦莖湯，合旋覆花湯，加蘇子、地骨皮、枇杷葉等味，降氣和絡也。</p>
<p>風寒入肺，久必化熱。肺氣不清，則鼻息欠利，熱逼肺絡，則咳痰帶血。此時不可以見血，而遽投滋補，誤延損怯之途。最宜葦莖、地骨以清熱，薏仁、蔞皮以潤肺，蘇子、旋覆花以降氣，新絳、桃仁以和血，俾氣血兩清，而無過偏之弊。</p>

<h2>傷風條辨第六</h2>
<p>傷風咳劇，欲嘔，鼻不聞臭，此肺邪傳胃。宜用瀉白散，合小半夏湯，加陳皮、茯苓、粳米等味，清肺和胃也。</p>
<p>傷風雖解，遺邪未盡，必傳於胃，故咳而欲嘔，《內經》所謂胃咳也。且鼻不聞臭，肺猶未清，故用桑皮、地骨、杏仁清肺，半夏、茯苓、橘皮、生薑、通胃，甘草、粳米兩和肺胃之陰也。</p>

<h2>傷風條辨第七</h2>
<p>傷風頭痛，發熱惡寒，咳痰帶血。而忽加喘促汗淋，脈虛如數者，其人腎陰素虧，而正不勝邪也。宜用熟地、茯神、麥冬、桑葉、杏仁、川貝、地骨皮、鮮玉竹、牛膝、車前、枇杷葉、青鉛等味，鎮逆化邪也。</p>
<p>凡情欲不節，則腎水先虧，操勞過度，則陽氣疏泄。若再感風，則正不勝任。故初起雖有頭痛發熱惡寒之表證，勿而大汗淋漓，遂致陽隨汗泄，腎真亦越，呼吸氣促，將脫之兆已著。斯時縱有微邪，難與疏散。急宜熟地、茯神填下焦，麥冬、玉竹清虛熱，杏仁、川貝肅肺氣，車前、牛膝驅下焦之濁飲，桑葉、地骨泄上焦之餘邪。再審其邪已盡泄，則用黃耆、五味斂之。氣逆不返，更加青鉛鎮之。至汗多氣喘，脈軟肢冷，表症既無，乃氣脫之候也，即於前藥中去桑葉、枇杷葉，加五味、黃耆、淡附、牡蠣，大劑頻進，或可挽回也。喻嘉言《寓意草》中，傷風亦有戴陽之症，則先得我心之同然也。</p>

<h2>風溫辨論</h2>
<p>夫風者天之陽氣，溫者天之熱氣。若非其時而見之，即為戾氣，人或染之，即為病氣。都由冬春久暖，雨澤愆期，風陽化燥，鼓盪寰宇。而人於氣交之中，素稟陰虧者，最易湊襲。故風溫一證，良由先伏溫邪，後再感風，風與溫合，是為風溫。然溫則應火，風則應木，二氣相煽，化為壯火，動輒傷肺。故其見證，必面赤舌乾，身熱神迷，鼻鼾多寐，默默不語，不思飲食，卻與中風相似。過一二日後，神志反清，語言反出，似乎欲解。但口渴喜飲，舌乾煩熱，較甚者何也，以風由外解，而熱自內蒸也。故初起即宜外疏風邪，內清溫熱，須步步照顧陰液，毋泛泛治風而已，倘治失其宜，傳變最速，較諸溫熱則尤險也。</p>

<h2>風溫條辨第一</h2>
<p>風溫初起，面赤口燥，身熱神迷，鼻鼾多寐，不語不食，此風熱上蒙。宜用葳蕤、知母、麥冬、桑葉、薄荷、沙參、杏仁、鮮菖蒲、廣鬱金、青竹葉等味，疏風清熱也。</p>
<p>風與溫合，化為壯火。壯火食氣，必傷肺金，故初起面赤拂鬱，鼻息如鼾。熱犯少陰，則神迷多寐。猶仲景所謂少陰症，但欲寐之意相彷彿也。至默默不語，不思飲食，皆系風熱混擾，清陽矇蔽。在幼稚為甚者，以體屬純陽，易於引風。故用桑葉、薄荷疏風邪，杏仁、玉竹、沙參、麥冬、知母清溫熱，毋使傳變為要。</p>

<h2>風溫條辨第二</h2>
<p>風溫咽痛，神昏，煩躁，目赤，舌絳，丹疹，脈促模糊，此風熱內閉。宜用犀角地黃湯，加羚羊角、鮮石斛、元參心、連翹心、鮮菖蒲、銀花、金汁、薄荷、蟬衣、牛黃丸等味，表裡兩清也。</p>
<p>神迷舌絳，脈促模糊，乃熱邪內逼，虛靈矇蔽，更兼咽痛丹疹，煩躁不安。則內閉之險已極，倘痙厥一至，事難為矣。故用犀角、羚角清營絡，生地、丹皮滋血熱，連翹、元參、麥冬、石斛養胃津，銀花、金汁解毒，薄荷、蟬衣祛風，更兼菖蒲、牛黃丸芳香宣竅，俾表裡氣血，得以雙清雙解，而轉危為安也。</p>

<h2>風溫條辨第三</h2>
<p>風溫一二日後，神反清，語反出，舌黃口渴，煩熱脈洪，此溫邪內蒸。宜用白虎湯，加沙參、麥冬、杏仁、鮮玉竹、鮮石斛、連翹等味，清氣透邪也。</p>
<p>初起神迷語蹇，狀如中風，過一二日後，反覺神清語出，是風邪外泄，並非中厥。若仍口渴舌黃，燔熱脈洪，乃溫熱內燔。邪尚在氣，宜用白虎湯，合杏仁、玉竹、石斛、連翹、沙參、麥冬，一派甘寒之味，以清陽明氣熱為妙。</p>

<h2>風溫條辨第四</h2>
<p>風溫舌黃尖絳，神昏煩躁，目赤齒枯，此氣血燔蒸。宜用玉女煎，加元參、連翹、人中黃、牛黃丸等味，兩清氣血也。</p>
<p>目赤齒枯，神昏煩躁，邪已入血。故舌尖色絳，但苔仍帶黃，氣熱未盡，未可專涼血分，恐滋膩難清。務得玉女煎，合連翹、元參兩清氣血，人中黃、牛黃丸清營透邪，庶無遺漏之弊。</p>

<h2>風溫條辨第五</h2>
<p>風溫舌絳乾焦，神清脈數，而熱不肯解，此熱劫胃陰。宜用復脈湯去薑桂，加鮮斛、白芍、地骨皮、梨汁、蔗漿等味，甘涼養陰也。</p>
<p>神清脈數，病退之象，然熱不解，而舌絳焦黑，並無苔膩，是為無地之黑。乃熱灼傷陰，胃津消爍，非甘涼濡潤，充養胃陰，則熱何以清。故用復脈湯。去薑桂者，恐增熱耳，加蔗梨者，助甘寒焉。若舌苔黃而焦黑，或老黃如沉香色者，此為有地之黑。因熱瘀在腑，宿垢未清，大便閉結，皆宜下之。即用大黃、元明粉、生首烏、鮮生地、鮮石斛、鮮稻根等味，養陰攻熱，不必過慮。近時醫輩，一見攻下，不問應否，眾口交咻，咸為詫異，此不過沽名盜利，以圖虛聲。殊不知仲景先師，汗吐下和溫清補瀉，皆有一定之理。又有急下微下，先攻後攻之戒。故命後人云，有是症，投是藥，方為良醫。若恐招是惹非，有是症而不敢投是藥，以致因循貽誤，坐失機宜，豈得謂之良哉。</p>

<h2>斑痧疹瘰辨論（丹㾦附）</h2>
<p>夫痧即是疹，疹即是痧，本屬一類，因各處稱名不同耳。如吳地稱為痧子，浙人稱為瘄子，川陝稱為疹子，山東稱為麻子是也。古人論斑為陽明熱毒，點大而色鮮，疹為太陰風熱，點細而色紅，瘰為脾肺濕熱，連片而紅腫。更有丹者。心肺火毒，遍體紅暈，而兼斑疹也。㾦者，肺胃濕熱，粒如水晶，不甚稠密也。然考諸方書，斑也，疹也，丹也，瘰也。不外心脾肺胃之熱毒，或斑中兼疹，疹中兼丹，丹中兼瘰，總無一種獨發之理。然疹與瘰發，則搔癢無度，每兼腹痛。惟㾦系肺胃濕熱，只在氣分，蒸逼隨汁外泄而成，本屬氣虛，理宜清氣。近時醫輩，竟以治痧之法治㾦，謬之甚焉。殊不知斑痧疹瘰，皆由風熱濕火蘊鬱而成，非發不愈，故用疏透。至㾦則濕從熱化，氣隨汗泄，故宜清氣。若見㾦而更以疏泄透汗，則氣液外泄，熱勢反增。曾見汗泄一次，㾦發一身，醫為未盡，再汗再㾦，一汗一㾦，漫延無已，竟有不死不休之弊。籲醫說有理，病聽欣然，一旦氣脫，亦不過付之數與命，誰言醫之咎耶。總之，斑宜清化，勿宜提透，痧宜透泄，勿宜補氣，瘰宜清泄，勿宜壅遏，丹宜化毒，勿宜溫散，㾦宜清氣，勿宜疏散，斯為治法之大要。至於經常權變，神而明之，存乎其神焉。</p>

<h2>斑疹條辨第一</h2>
<p>斑疹初起，惡寒發熱，頭痛口渴，咳嗽嚏涕，目赤脈數，此麻疹也。宜用薄荷、大力、荊芥、連翹、杏仁、前胡、枇杷葉、赤檉柳等味，辛涼疏透也。</p>
<p>斑為陽明熱毒，疹為太陰風熱，總屬溫熱所化，發泄於外。其初起也，腠理不宣則惡寒，陽邪在表則頭痛，熱自內蒸則口渴，邪干肺位則咳涕，當其未見點時，先宜疏透。故用薄荷、荊芥、大力疏風泄汗，連翹、杏仁、前胡清宣氣分，枇杷葉、赤檉柳輕揚達表，冀其汗泄胰開，斑疹速透，毋使傳變為要。</p>

<h2>斑疹條辨第二</h2>
<p>斑疹汗泄，頭不痛不惡寒，身熱口渴，咽痛目赤，斑疹隱隱。宜用薄荷、牛蒡、連翹、黑梔、杏仁、射干、馬勃、桔梗、甘草、玄參等味，苦辛清解也。</p>
<p>上條斑疹未見，而發熱惡寒。此條斑疹既見，汗泄而頭不痛不惡寒。是腠理已開，外邪已泄，但口渴咽痛目赤。乃里邪未解，熱仍鬱蒸，不可過散，宜以清解。故用薄荷、桔梗、杏仁、牛蒡透泄，連翹、元參、黑梔清火，馬勃、射干、甘草宣上焦也。</p>

<h2>斑疹條辨第三</h2>
<p>斑疹煩熱口渴，咽痛齒枯，舌黃尖絳，斑疹透露。宜用白虎湯，加連翹、元參、杏仁、射干、大青等味，清氣化斑也。</p>
<p>前條斑疹隱隱，尚宜疏泄。此條斑疹透露，而煩熱口渴，舌黃尖赤。乃邪漸傳裡，熱不肯解，涼非疏泄透表所能奏效。故宜白虎湯，直清陽明氣分，合連翹、元參化斑，杏仁、射干清上，大青解毒，庶免邪陷入營，神昏痙厥之慮也。</p>

<h2>斑疹條辨第四</h2>
<p>斑疹煩熱神昏，舌黃尖絳，夜則譫妄，斑疹並透，此熱漸入營。宜用玉女煎，加元參、連翹、人中黃、鮮石斛、鮮菖蒲、青竹葉等味，清營轉氣也。</p>
<p>上條在氣，此條入營。蓋斑疹已透，而熱猶未清，更兼神昏夜譫，舌黃尖絳，入營之狀昭然。故宜玉女煎，兩清氣血，合連翹、元參化斑，石斛養胃，人中黃解毒，菖蒲、竹葉清營，使其從營轉氣，由氣達表，不致入血為妙。</p>

<h2>斑疹條辨第五</h2>
<p>斑疹舌絳而黑，神昏譫語，煩躁妄笑，此熱入心胞。宜用玉女煎，加犀角、元參心、連翹心、鮮菖蒲、牛黃丸等味，清營透斑也。</p>
<p>上條熱入營絡，此條熱入心胞，漸延血分。夫營與心胞，似為一症，實則營淺心深，卻有層次之分《溫熱論》，所謂衛之後方言氣，營之後方言血，此為的辨。故心主血，心熱則血熱，血熱則神昏妄笑，舌絳而焦，非藉白虎清氣，生地涼血，犀角、元參、連翹化斑，菖蒲清竅，則熱何由解，斑何由化耶。</p>

<h2>斑疹條辨第六</h2>
<p>斑疹舌黑尖絳，神昏妄笑，揚手擲足，尋衣摸床，此熱入血分。宜用犀角地黃湯，加元參、連翹、鮮石斛、鮮菖蒲、青竹葉、牛黃丸、人中黃、人參等味，涼血化斑也。</p>
<p>斑疹既透，煩熱更甚。至舌黑尖絳，神昏妄笑，乃熱已入血。陰傷風動，揚手擲足，尋衣摸床，正虛不能勝邪，將厥之兆也。急宜犀角地黃湯涼血，元參、連翹、石斛清熱，人參扶正，菖蒲、竹葉清心，人中黃化斑解毒，牛黃丸宣竅逐穢，庶濟危險於萬一耳。</p>

<h2>斑疹條辨第七</h2>
<p>斑疹舌黑昏譫，斑紫或黑，手足振顫，此血熱已極，內閉外脫。宜用固本湯，加犀角、元參、紫草、人中黃、至實丹等味，養陰化斑也。</p>
<p>舌黑昏譫，斑色紫黑，是血絡熱甚，津枯液涸矣。更兼手足振搖，內風旋動，乃正不勝邪，神不自持。若非養陰扶正，涼血化斑，則危在頃刻。然舌黑鬚要分別，有地無地，若黑而兼黃，底赤尖絳，斯屬有地之黑，為津枯邪滯。若脈證尚強，法宜攻下，如黑而光赤，並無黃底，此為無地之黑，乃熱灼津枯。若然脈證屬虛，法宜滋陰。至斑色紫黑，亦要分別虛實。若黑而邊紅鮮潤，根腳不散，乃邪火抑鬱，宜透宜攻。如黑而邊散，枯晦不顯，乃津液涸竭，元氣已敗，萬無生理。必欲用藥，宜滋宜補，務在臨症時，細心體認，對症處方，庶不愧為司命矣。</p>

<h2>斑疹條辨第八</h2>
<p>斑疹紫黑，神昏煩躁，舌黑短縮，便閉脈促，此血熱瘀滯。宜用犀角地黃湯，加紫草、山甲、人中黃、元明粉、大黃等味，逐瘀化斑也。</p>
<p>斑色紫黑，光潤不散，固系邪火鬱伏，更加神昏煩躁，舌黑短縮，便閉脈促，此血熱瘀滯，邪無泄越，必從內化，猶可挽回。故宜犀角地黃湯，加山甲、紫草涼血破瘀。兼人中黃、元明粉、大黃攻熱逐邪。若得斑色轉紅，舌黑頓化，便是迴天之兆。如黑而枯晦，根點不斂，此天真幾盡，涼難力挽。無已，勉用犀角地黃湯，加人參、附子大劑服之，以聊盡人工而已。</p>

<h2>斑疹條辨第九</h2>
<p>斑疹既退，咳嗽聲低，熱熾舌赤少苔，此痧熱逗留，肺胃陰傷。宜用沙參、花粉、甜杏、地骨皮、川貝、生甘草、桑白皮、綠豆殼、枇杷葉等味，清肺養胃也。</p>
<p>肺胃為斑疹往來之路，茲病退熱熾，咳聲不揚，舌赤少苔。是餘熱逗留，消爍肺胃。故用炒參、杏仁、川貝、桑皮、地骨皮、枇杷葉，一派清肺潤津，合綠豆殼、生甘草、粳米養胃解毒，毋使熱留肺底，釀成癆瘵，最宜慎之。</p>

<h2>斑疹條辨第十</h2>
<p>斑疹之後，頸頷核腫，牙關不宣，寒熱脈數，此痧毒壅結。宜用藍根、馬勃、元參、連翹、銀花、桔梗、殭蠶、土貝母、甘草、夏枯草等味，軟堅化毒也。</p>
<p>斑疹雖退，熱結上焦，其腫核在額下者，屬陽明，在耳下者屬少陽，在頸項者屬太陽。總由三陽熱壅，風毒上攻，以致牙關不宣，而成時毒。故用苦辛泄降，清解上焦，又須按經旋治，以圖速解，則不致延成潰破之累矣。</p>

<h2>斑疹條辨第十一</h2>
<p>斑疹未現，頸頷熱腫，延及頭面，皮腫色赤，此大頭溫也。宜用東垣普濟消毒飲，苦辛化解也。</p>
<p>凡大頭溫初發，必先惡寒，煩熱頭痛口渴，頸面赤腫，延及滿頭。然須分經辨證，其腫在耳下及面頰者屬少陽，腫在面膛及鼻額者屬陽明，腫在頭頂及頸項者屬太陽。亦有滿頭俱腫者，為三陽合病，古稱大頭瘟。親戚不相訪問，恐其傳染。東垣制普濟消毒飲，最為的當。其用芩連苦寒降火，升柴辛涼升陽。猶恐芩連之苦寒，直入腸胃，俱用酒炒，藉以上行，且合升降之機，而成不易之法。更兼薄荷、大力祛風，連翹、元參清熱，藍根、馬勃解毒，桔梗、甘草載之上行，殭蠶引之入絡。觀此方大有巧手，非深於仲聖之心法者，不能臻此妙境也。</p>

<h2>疹瘰條辨第十二</h2>
<p>疹瘰發熱，惡寒，胸悶腹痛，煩熱欲嘔，此邪郁肺胃。宜用杏仁、桔梗、枳殼、鬱金、淡豆豉、黑山梔、薄荷、大力、蒼耳、連翹等味，輕揚宣肺也。</p>
<p>疹為肺經風熱，瘰為胃中濕熱。故疹粒細而如蚊跡，現於皮面，瘰粒大而如錢樣，附於肌肉，以肺主皮毛，胃主肌肉也。初起必先胸膈滿悶，腹中絞痛。此由風熱壅遏，氣機不宣，甚而嘔吐不休，然疹瘰而得吐瀉，正郁遏之邪，得以疏泄，不必止之。故用杏仁、鬱金、枳殼、桔梗關上焦、山梔、淡豉祛鬱積，薄荷、大力祛風，連翹、蒼耳化熱，則邪透而瘰自解焉。</p>

<h2>疹瘰條辨第十三</h2>
<p>疹瘰或隱或現，瘙癢無度，此風熱內蒸。宜用薄荷、大力、黃連、黃芩、荊芥、防風、蟬衣、丹皮、連翹、黑山梔、杏仁、地膚子等味，清熱祛風也。</p>
<p>疹瘰既現，時或隱伏，遍身搔癢，良由風熱蘊結，氣血不清。故用酒炒芩連，合連翹黑梔清火，薄荷、大力、防風、荊芥祛風，蟬衣、丹皮、杏仁、地膚兩清氣血，則熱清而疹自化焉。</p>

<h2>白㾦條辨第十四</h2>
<p>白㾦未見，發熱身痛，面色晦滯，舌苔點膩，胸脘不爽，嘔惡便溏，脈大而緩，此濕熱蘊蒸。宜用黃連溫膽湯，加杏仁、蔞皮、通草、豆卷等味，通泄三焦也。</p>
<p>㾦之初發，必由濕熱化蒸，氣分不清。蓋濕必阻氣，熱亦傷氣，濕既化熱，薰蒸肺胃。其邪自胃達肺，由肺出表，從汗而泄，則粒似細粟，色似水晶。故東南濕熱之地，最多白㾦，西北風燥之區，每盛斑疹。考古醫書，只有斑疹，而無白㾦。惟近世南醫輩出，始得論及，然亦略而不備。殊不知大江以南，地卑氣濕，每至夏秋暑穢薰蒸之際，但覺身熱不已，面色晦滯，舌色膩濁此即濕熱之狀，有諸內則形諸外也。且濕乃重濁之邪，熱為薰蒸之氣，先傷氣分，最易化熱。故胸腹必悶，脈大必緩，矧嘔惡便溏，皆邪布三焦，氣化失清之證。故用半夏、茯苓流通中脘，加杏仁、蔞皮宣豁上焦，通草、豆卷滲利下焦，合黃連、枳實泄滿，竹茹、陳皮理氣，俾三焦氣機得宣，則濕熱之邪，藉以分消也。</p>

<h2>白㾦條辨第十五</h2>
<p>白㾦既見，隨汗出沒，舌赤少苔，脈數，不飢不食，經旬不退，此胃虛邪戀。宜用佩蘭葉、穀芽、杏仁、霍山斛、麥冬、川貝、豆卷、通草、枇杷葉、藿香葉等味，輕清宣氣也。</p>
<p>上條白㾦未見，理宜疏泄。此條白㾦既見，隨汗出沒，舌赤少苔，胃津消乏，正氣已虛矣。且不飢不食，胃氣未和，至經旬而熱不解，陰液亦枯矣。斯時補之則邪愈逗留，疏之則正氣消耗。惟宜杏仁、川貝、枇杷葉清肺氣，麥冬、霍斛、穀芽養胃氣，佩蘭、藿香化濁氣，豆卷、通草泄濕氣，合輕清之品，以宣餘邪。不可偏疏偏補，反致病去元傷也。</p>

<h2>白㾦條辨第十六</h2>
<p>白㾦已多，大熱不退，口渴不食，時作鄭聲，脈大無力，此氣虛液耗。宜用黃耆、黨參、甘草、麥冬、白芍、細生地、川石斛、地骨皮、佩蘭葉、左牡蠣、鮮荷葉等味，益氣養陰也。</p>
<p>㾦已見多，熱猶不退，口渴不食，乃陽津陰液俱傷。更兼語聲如重，脈大無力，此元神大傷。不克自持故用參、耆、甘草益氣液，牡蠣、地、芍固營液，麥冬、石斛祛虛熱，佩蘭、荷葉化餘邪，務得陰陽並固，不致延為虛脫。勿謂㾦猶未盡，禁用固補，而投疏泄，致誤人性命也。</p>

<h2>白㾦條辨第十七</h2>
<p>白㾦汗多，㾦密，脈虛肢冷，神情恍惚，此氣液外脫。宜用黃耆、白朮、附子、當歸、白芍、甘草、麥冬、五味、龍骨、牡蠣、遠志、酸棗仁等味，甘溫斂攝也。</p>
<p>㾦出已多，汗亦不少，脈虛無神，四肢逆冷，乃陽氣外脫之象。兼之神情恍惚，夢寐驚惕，心腎失交，神難守舍，此內外將脫，陰陽並越，《內經》所謂陰陽偏則病，離則死也。斯死生交關之候，急宜耆、朮、甘、附補氣，當歸、白芍養血，麥冬、五味斂液，龍骨、牡蠣、遠志、酸棗鎮神，使精氣神不致越脫，即挽回造化之機也。</p>

<h2>痧脹擬似辨</h2>
<p>夫我崇俗，所謂麻痧者，是果有諸。蓋東南方地卑氣濕，或嶺南氣暖，沿江瀕海，霧露颶潮，較別處尤甚。每交夏令，天之暑熱一動，地之濕濁自騰。故山嵐海瘴陰霾晦蔽之邪，乘時竅發。人在此蒸淫熱逼之中，正氣有虧，則邪觸自口鼻直據膜原。夫膜原者胃絡也。前吳又可制達原飲一方，即此意也。蓋邪既內伏，乘時發動，先覺胸腹脹悶，懊憹似痛，欲吐不吐，欲瀉不瀉。此暑濕穢濁，阻遏中脘，致陽明氣機壅塞，脈絡俱閉，四肢麻木，甚至筋攣拘急。此屬痧脹，實系閉症，即方書所謂絞腸痧乾霍亂是也。此與吐瀉後，轉筋麻木，冷汗陽脫之症，相去徑庭，用藥亦有霄壤之殊。夫脫正宜溫宜補，閉症宜疏宜通，而其倉猝危險，大約相等。若痧脹不得吐瀉，而懊憹悶亂異常，以致脈伏肢冷，甚則麻木拘攣，此陽症似陰，閉症似脫。例宜宣通，但以梔豉湯服下，以指深吐。俾氣機得宣，邪能泄越，即可向愈。考方書有燒紅食鹽，童便調服，得吐而愈者，試之極驗。或用白礬含化，覺味甜如冰糖者，痧脹無疑。即任意嚥下，澀口得吐亦愈。若已經吐瀉者，氣已宣通，不可再用，徒傷胃氣。如或胃中仍有不和，腹中煩滿，惡逆不食，猶恐餘邪未盡，更以藿香正氣散和之。亦可全愈，故近俗所謂麻痧者，即此是也。若云冷麻痧者，殊屬可笑。並有莽鹵之醫，竟不顧名思義，妄認為痧。而以疏泄解表之藥，施於陽氣欲脫之候，定不為投井下石乎，草菅人命，莫此為甚，謹之戒之。</p>

<h2>陰症辨論</h2>
<p>夫冷麻痧之名，我崇俗流傳已久。（予）自道光十八年始出臨症，雖有其名，卻未見其症。當時難以稽考，迫二十六年秋間，此症大行。但見一派陰寒，並無縱毫痧穢。其初病也，必先脘腹脹痛，繼而吐瀉大作，頻頻不已。遂致形肉頓癟，目陷肢厥，煩躁不安，甚至手足拘攣，轉筋麻木，六脈俱絕，魄汗淋漓，間有面目俱赤，大渴引飲，而手足必冷，外似陽症，實屬陰盛。從此細閱病狀，兼考方書。自《靈》《素》以下，古聖先賢，並未有冷麻痧之名目。而今之遇是症者，竟以痧為治，方中大加發表透泄等味，請以病名思之。既稱冷麻，又謂之痧，世間豈有不發熱之痧乎。此三字名義，殊屬矛質。若再依樣葫蘆，妄投藥石，不察之甚也。其在俗口流傳之訛，固無足怪，而醫者亦以訛傳訛，不識此病為何病，將何所措手，而起死回生耶。因其四肢麻冷，而謂之冷麻痧，因其筋攣肢強，而謂之吊腳痧，眾口紛傳，全無實指。爰稽仲景《傷寒例》，謂之直中陰經，《金匱》雜病篇，謂之陰症，方書所謂轉筋霍亂是也。夫霍亂者，揮霍變化，偶起一時，若吐瀉不已，而危變叢生，頓成莫救。其病必起於勞碌傷陽，色欲不節之人。夫勞碌者，脾陽必傷，色欲者，命陽必敗。天時陰寒濕晦之邪，自易乘隙侵入也。至於用藥大略，遠寒用熱，驅陰復陽，庶可扶危扶顛。考仲景《傷寒》《金匱》雜病，雖有精義，而鮮推闡。惟喻昌先師獨造仲景之堂，而窺其美富闡發陰症，尤擅其長，惜後人習焉不察耳。竊見近時此症不少，每有旦發夕死，夕發旦死，用藥或誤，何謂醫以濟世耶。然有見其面赤目赤，而誤以為陽症，大渴引飲，而誤以為陽症，小便澀少，而誤以為陽症，六脈俱絕，而誤以為陽症，脈伏陰躁，擾亂不寧，而誤以為陽熱煩躁，斯時遂以辛熱藥味，不能奏功。而妄投寒涼，豈知投以寒涼，有必死無救者也。（予）是以不揣譾陋，弄斧班門，謹將喻氏陰症八難，略加詮註。明知良工苦心，疇者諒之。然巨眼慧心，明察有真，互相發明。俾雜病之旨，人人共曉，不致貽誤於將來，詎非生民之厚幸也夫。</p>

<h2>陰症八難</h2>
<p>夫寒中少陰，行其嚴令，埋沒微陽，肌膚凍裂，無汗而喪神守。急用附子乾薑，加蔥白以散寒，加豬膽汁引入陰分。然恐藥力不勝，熨蔥灼艾，內外協攻，乃足以破其堅凝，少緩須臾，必無及矣。此一難也。</p>
<p>少陰者腎臟也，凡寒中少陰，必由腎真大虛，陽無捍衛，猶城郭不堅，守護無備，賊必乘虛而入。故天地之陰霾晦塞，非離照當空，何能掃清氛霧。人或中之，先犯太陰，繼及少陰，又侵厥陰，遂致吐瀉肢冷，目陷直視，煩躁脈絕，肌肉頓癟，手足麻木，筋急拘變，甚而舌卷囊縮，三陰經之絕症，並現。於此用藥，最宜分別。非藉附子、乾薑之辛雄性烈，何以驅逐陰氛，而挽復陽光，《內經》所謂益火之源，以消陰翳也。再加蔥白以通陽散寒，加豬膽汁引入陰分，恐熱性下咽，陰寒拒格，難以直入，或仍吐出也。若無膽汁，即以川連代之。則辛熱藥性，得以入陰回陽。如欲嘔吐，更用生薑汁蜆殼許調入藥內服之，最為捷妙。倘少腹凝痛，亦是厥陰氣滯，外用蔥熨艾灸等法，立可見效。</p>
<p>若其人真陽素擾，腠理素疏，陰盛於內，逼其陽亡於外。魄汗淋漓，脊項強硬，此孤陽欲脫。用附子乾薑豬膽汁，即不可加蔥及熨灼。恐過於疏散，氣隨汗脫，而陽無由內返矣。宜撲止其汗，更加固護腠理，不爾，恐其陽復越。此二難也。</p>
<p>房欲不節者，真陽必擾，勞碌過度者，腠理必疏，陰寒一盛於內，逼其真陽越脫於外，以致大汗淋漓，喘逆煩躁，太陽之經氣，少陰之臟氣，皆欲懸絕。故脊項強硬，目竄直視，此時宜用附子、乾薑、豬膽汁，入陰回陽，而汗多陽越，即不可加蔥熨艾灼等法。夫蔥性主散，致恐氣隨汗脫。所存一線微陽，無由內返，急宜撲止其汗，用牡蠣、五倍、麻黃根，碾細撲之，更加固護腠理。如黃耆、桂枝、五味、甘草等味，大封大固，使真陽不致外脫，猶回騎返幟，得安軍壘也。</p>
<p>前用附子乾薑，以勝陰復陽者，猶取飛騎突入重圍，搴旗樹幟，使既散之陽，望幟急趨，頃之復合耳。不知此義者，重增藥味，和合成湯，反牽制其雄烈之勢，而致迂緩無功。此三難也。</p>
<p>其次前藥中，即須加當歸、肉桂，兼理其營，以寒邪中入，必先傷營血故也，不爾藥偏於衛，勿及於營。與病卻不相當，邪不盡服，必非勝算。此四難也。</p>
<p>其次前藥中，即須加人參甘草，調元轉餉，收功幃幄。不爾附姜之猛直，將犯上無算矣。此五難也。</p>
<p>用前藥二三劑後，覺運動頗輕，神情頗悅，真陽來復之狀，始得顯著。更加黃耆、白朮、五味、白芍，大隊陰陽平補，不可歇手。蓋重陰見睨，浪子初歸，斯時搖搖靡定，不為善後，必墮前功。此六難也。</p>
<p>用郡隊之藥，以培陰護陽，其人即素有熱痰，已從陰邪而變寒。至此無形之陰寒雖散，而有形之寒痰阻塞竅隧者，無由遽轉為熱。蓋乾薑、附子固可勿施，牛黃、竹瀝斷不可用。若因其素有熱痰，而妄投寒劑，則陰復用事，陽即躁擾，必墮前功。此七難也。</p>
<p>此言陰陽平補之後，陽雖回覆，而陰已受傷。其人即素有熱痰，得陰寒之病，而已化為寒，其寒雖去，而痰仍在。即有咳逆煩渴，舌赤喜飲，慎勿遽投寒涼，亦勿再服姜附。宜用《金匱》麥門冬湯，加烏梅、白芍合甘酸化陰，和胃生津，協合陰陽之法。</p>
<p>前用平補後，已示鎖兵牧馬，偃武崇文之意。茲後縱有頑痰留積經絡，但宜甘寒助氣開導，不宜辛辣，助熱壅塞。蓋辛熱在始，先不得已而用其毒，何喜功生事，徒令病去藥存，轉生他患，漫無寧宇。此八難也。</p>
<p>以上八則，喻昌先師所論陰症病形，並用藥次序，皆井井有條，頭頭是道，非深得仲聖心法之妙，烏能語至理哉。</p>
<p>（予）按陰症，六脈已絕，本為必死之候。若服四逆回陽等藥，而病機漸轉，脈漸轉續，斯為陰邪漸退，陽氣漸復，病雖未全，已成有望。若其脈忽見洪大，沉候無神，此名暴出，最屬不宜。更兼胸腹不爽，氣逆不平，或泄瀉未止，是乃必死之候。如欲用藥，勉以大劑參附，或景岳附子理陰煎，加茯苓、五味，俾命門所存一線之陽，不致奔越。服後倘得脈靜氣平，腹寬嗜寐，便有生機。否則雖有神丹，莫可挽回。然此不惟陰症如是，即一切雜症，但見脈絕肢冷之後，而脈忽然暴出暑，切宜細審，勿以脈既續，而視為無事，醫者詳之。又有傷寒初起，亦脈先伏而後顯出者，其形反要洪大浮滑，方為合例。若細小短澀者，均非所宜也。何則伏而後顯，與絕而後暑出者不同。蓋凡伏脈，必尺澤中實而有肉，以手按之，推筋著骨而乃得見。此因邪氣鬱遏，脈絡失宣，而致內伏，若是絕脈，必尺澤中空而無肉。輕手按之，即著筋骨，全無肉氣，此因氣脫血竭，脈不通流，而致斷絕。故辨脈之伏與絕，總以尺澤中有肉無肉分之。最為的當，亦勿錯誤。</p>
<p>凡人房欲之後，少腹作痛，俗謂之風，其實即陰症也。蓋男女交媾，恣情縱欲，此正精氣大泄，元海頓空。急宜屏息斂氣，把守關元，則龍窟雖空，相火尚強，寒猶可御。若仍心旌搖洋，情幟迷煽，不克自禁，致令身中陽氣百節弛張，則寒邪乘隙而入也。凡寒自下而受者，先犯厥陰，繼及少陰，又侵太陰。自上而受者，先犯太陰，繼及少陰，又侵厥陰。失厥陰者肝也，其經循毛際，繞陰器入少腹，布脅貫膈，循喉絡舌，故寒邪入之，肝絡遂滯，氣結不行，以致少腹㽲痛，痛引陰中，攻及胸脘，口吐涎沫，四肢逆冷，指甲青晦，身如被杖，甚至舌出數寸而死，死後肢體皆青。不識者竟以風名之。風本東方甲乙本，其色青，因之訛以傳訛，都謂之風。實系寒中厥陰為病也。蓋厥陰為三陰之裡，五臟中至深至極之處，每有旦發夕死，夕發旦死者。至於用藥大略，原有姜附之辛熱，大劑服下，可以祛寒復陽。然邪深入厥陰，又非一味辛熱所能霍然者也。務在苦以泄濁，辛以通陽，庶可驟效。（予）遇是症，每用當歸四逆湯，復入川楝、小茴、薤白、兩頭尖，一服即愈。俟痛止，再宜姜附苓甘，少佐苦辛調理而安。如少腹痛甚，恐藥力不勝，外以蔥熨艾灸，頃刻見效。若治非其法，遷延時日，誤人性命，顧不鉅哉。</p>
