<header data-type="book">
<h1>靈藥秘方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>師成子</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1718">公元1718年</data></dd></div>
</dl>
</header>

<h1>方序（上殘）</h1>
<p>廢也但古今來方士口口相傳不肯輕泄故世醫所得不過紅升白降數方而已此靈藥秘方一卷多至四十餘翻其中奇方秘論皆世醫之所未聞康熙初年有蒲東方士師成千者不詳其為何人余於乾隆己亥偶遊廣陵市中獲醫方一卷乃師成子手書也讀其自序言壺中賣藥不過欲廣益世人為三千功行之助而秘惜過甚方中分兩皆為隱語以一兩為奇兩三錢為仁淺之預惟恐人知余細玩得其意而改正焉因嘆此書有裨於世而知之者絕少癸卯夏五來遊漢皋以示汪生圮公圮公欣然為付諸剞氏又輯同人屢驗之方為一卷附諸後以廣其傳其利濟之心有足多者因弁言於簡端</p>
<p><u>天都方成培仰松氏題</u></p>

<h1>原序</h1>

<h1>靈藥秘方卷之上</h1>

<h2>靈藥總論</h2>
<p>靈者先天一氣凝結於中神明變化不測之謂也古人云有七十二般爐火二　十四品服食諸凡五金八石舉皆一一採而用之者誠有以見夫草根樹皮之藥不靈而金石煆煉之藥斯靈也奈何世人不察徒知靈藥之名而不知靈藥之實無論不能以廣微元奧即有間執一方亦必泥軌一病以為古人用藥不過如是更不復求靈藥之外更有加滅靈藥之中復有轉換而謬成已見以痼終身噫此特謂之死藥耳何靈之有尤可恨者既不聞靈藥之名又不習靈藥之事而妄調金石煉煆之不可輕服而病者遂緣以深信而不疑是以寧滅其身而無悟者皆斯言害之也殊不知古人立方必勝後人金石煆煉之不可服古人何苦多列品類以吳後人玉導石髓劉安餘膏何莫非金石煆煉而長房思邈諸公未嘗以此見誚也可見靈之功在會用與不會用而會用奧不會用在傳之傳染病富故他方俱按味而求而靈藥必須過手而得蓋雖小丹作用而實系大丹之頭腦因心制宜變幻莫測真如游龍之不可捉摸學者豈可因其金石煆煉而忽諸</p>

<h2>靈藥十例</h2>
<p>一對口他人但知鹽泥封口認為以鹽水和泥殊不知是二而一一而二者也如藥人罐先以鹽塊研碎以滾水沖之再以鹽水和薄泥蓋盞不必用紙條以泥塗盞遍合上加粱纏緊上放炭火即以筆蘸鹽水一轉一轉掃上約指厚再以薄泥封上齊盞遍永不定失石羔石脂俱非</p>
<p>二固底藥少底猶可薄固藥多必須泥罐時分外厚些打一鐵□兜住罐底上至半罐有兩環勾上上橫粱梁尾以鐵絲向下纏數套再以小釘撚上務緊為度即以小釘縷住塗泥絲上</p>
<p>三辨水銀汞人謂水銀即汞不識水銀系市中所售者是也而汞乃硃砂中所取者凡靈藥俱當用汞用水銀者取其便也然水銀亦有攙鉛於中者白色者佳青色者有疵</p>
<p>四取汞用陽城罐一個下鑽一小孔另用罐一個著水地下掘一坑罐口齊上以鑽孔罐頓上合縫處封固罐內用稻草燒灰存性鋪底以硃砂輕輕放上封固擦盞至半枝香去水以炭炙下共用三香俱要文火火約半罐便住　五辨土倭硫靈藥中所用俱是倭硫系外邦所產微紅者是今俱用土硫性烈有損如必不得已而用亦有死硫法切不可用生硫</p>
<p>六制硫土硫不拘多少打如豆大先用黃泥水煮一日二用醋煮一日三用側柏葉水煮一日四用浮萍水煮一日五用青苔水煮一日六用蘿蔔水煮一日七用豆腐漿煮一日八用豬大腸頭水煮一日九用鴨子湯水煮一日</p>
<p>七打法世傳升降二料足矣未知有過橋打法兩罐並立中有橋梁通氣有重胎打法有兩罐橫放串打法有一罐之中先升後降打法有一罐之中先降後升打法有一罐之中隔作三四層打法種種法則不能枚舉姑存其概</p>
<p>八火候升藥擦盞降藥不擦盞此其常也亦有升藥不擦但觀其中之藥性何如火有俱用文火到底俱用武火到底有文中之丈武中之武到底有半罐有矇頭內外俱紅者等等不一在運用之妙耳</p>
<p>九顏色升者紅降者白夫人而知無庸議有升而白者黑者人所罕見有青者有加針者色固不同聊舉一二以見爐中造化不可思議</p>
<p>十制靈藥誠不可輕用火性太燥當知製法其法不論服食與外敷先用黃泥煮一二天又用大白蘿蔔取空放藥入內水煮一二天又置土中埋七天又放井中離水尺許懸七天再以綠豆水甘草水各煮一天佩於人身半個月其效更大若外敷藥不必如此只以甘草煮足矣白降藥依法制去竟不大痛甚是奇事</p>
<p>右靈藥之中細委曲折頗多難以開載特拈數項以見全功斯固親切過手所傳並參以獨得之秘非真正得手者不能領此也五氣朝元丹（此丹利丸藥中服）</p>
<p>倭硫四錢二分南鉛七錢五分北鉛一兩雌黃三錢雄黃三兩右先以北鉛化開再以南鉛化開投入一處化勻打成如陽城罐底大大燈盞式先放一個仰於罐中後以硫雄雌三黃為末放上再以一罐覆之然後封固打文火兩炷香武火一炷半香俟盞中水滾以小米置盞內待米沉底即好二轉可加硫雄雌各二錢三轉以至九轉俱加硫雌雄各一錢取藥聽憑內外丸散中每筋加此靈藥三錢和服諸藥皆靈如一轉亦可用但無九轉者佳</p>
<p>九轉靈砂丹（此丹單服或加入丸中主化痰）硃砂八兩倭硫一兩五錢</p>
<p>右先將滴酷煮硃砂一二時辰取起以倭硫末炒砂頻頻添硫入炒砂黑為度入罐封固擦盞三文兩武約水十二盞為度冷取藥括下再以硫炒砂黑為度加起火以酷噴之研未入罐仍以前打罐中藥底研末蓋面封固打火五炷香如此打去至五轉俱是一樣至六轉以醋煮砂不用硫炒入罐仍以渣蓋面不用大罐只用小罐上約空三指封固還打五炷香上用棉花浸水放盞上冷取藥看有無汞珠如有珠仍用硫炒其醋煮轉轉如是至七轉先從上打半炷香慢慢退火不可見風從下再打五炷香看罐口有無氣味如無竟不用棉花浸水候冷取藥再煮再打照前七次降打七炷香為度九轉九炷香五文五武取藥磁罐收貯封固每用釐毫入口立能化痰凡丸藥中俱可量入神效</p>
<p>二方系瀋陽正然老師所秘誠靈藥也</p>

<h2>第一方　陽七腎散</h2>
<p>黑鉛（七錢）　汞一兩　土硫二錢</p>
<p>右先將黑鉛化開入汞冷定研細同土硫末入鍋內慢炒作青筋頭色硫不必多加外用明礬（一兩）火硝（九錢）皂礬（八分）食鹽（七錢）共研入鍋炒乾帶紅色取起同上藥共研帶青色入罐如法封固打火三文一武武火擦盞四炷香冷定取出靠盞藥如鶴頂色或人生藥研末炒乾又合研入罐照前升打火候更妙</p>

<h2>第二方　陰六賢散</h2>
<p>即前陽七賢散內中去土硫不用其製法分兩火候加藥悉照前法凡陰毒不痛者須六賢散陽毒不痛者用七賢散此二藥內症可服外毒腐肉可敷但外敷只釐許而內服不過一二分為止須依治例用之</p>
<p>一凡遇毒瘡先須究其陰陽先與前散一二分量人壯實用之極能護心不致大害</p>
<p>一再配回生散或三分或四分共研末煉蜜為丸加乳香沒藥血竭為衣服之免噁心吐逆泄瀉等症</p>
<p>藥用紫草煎湯送下亦可如病重噁心惡寒欲彼吐紲更加一服即吐瀉矣</p>
<p>一凡治惡疔則藥加穿山甲殭蠶峰房角剌蟬退防風銀花荊芥羌活歸尾桑皮連翹陳皮</p>
<p>一上部加桔梗頭上加川芎藁本</p>
<p>一下部加牛膝木瓜等分防風為使四法通之寒熱行之加減量人</p>
<p>一瘡瘍倘傷寒冒風不能進飲食陳皮紫樸蒼朮銀花防風荊芥甘草歸尾連翹等分上下部同前加服</p>
<p>一心經燥加黃連黃柏知母</p>
<p>一肺經面赤喘促加黃耆</p>
<p>一脾經胃太陽熱加大黃芒硝</p>
<p>一少陽膽症加石菖蒲蔞仁</p>
<p>一肝經加龍膽草甘菊黃柏芍藥</p>
<p>一凡一切瘡毒痛者只須回生散加六賢散依後六門法治之</p>
<p>一外點諸頑瘡惡毒腐肉作膿亦用並楊梅結毒不必問其新久淺深因時制宜用之萬無五失</p>
<p>回生散（腫毒初起用主發散）</p>
<p>番木鱉淨末四兩用水泡透去皮淨咀片少用麻油炒紫黃色以透為度研細川山甲（一兩）　麻油炒透瓜兒血竭（五錢）　炙乳香（三錢）　去油淨沒藥（三錢）去油淨</p>
<p>右共為細末勻收固每服三分至五分止切不可多用預囑病者倘量麻發戰切勿驚疑一時性過即安服時忌風若煉蜜為丸可加六賢散以乳沒血竭為衣服後麻戰飲熱酒或薑湯一鍾即止此藥與前六賢散並用之乃治外之要藥也凡治外症須分六門治往先痛而後腫者氣瘍形也先</p>
<p>腫而後痛者形傷氣也喜怒風氣熱傷氣故先痛也寒傷形故先腫陰陽應象此其理也素問論之無過血症體熱氣疲體涼精病虛神病弱陰病頑陽病痛癰疽腫毒瘡癤魚口便毒騎襠諸症皆血熱妄行之故故火病回生散主之加痛極或熱甚外加六賢散主之</p>
<p>一治一切惡毒初起者本藥（三分）　加川山甲殭蠶末各（一錢）　蔥湯下</p>
<p>一治偏正頭風麻木不仁等症本藥（三分）　加鬧楊花酒炒（半分）　殭蠶（一分）　好酒下取醉　一治風氣遍身疼痛四肢走注指腫攣急腰膝足腿痠痛麻木等症本藥三分上部加桂枝薄荷姜活下部加牛膝木瓜四肢俱痛加感靈仙川烏草烏炮</p>
<p>各一分共研末每服好酒送下盡醉一渾身疥癩皮膚俱爛本藥三分加白芷荊芥末各五分好酒送下盡醉</p>
<p>一中風癱瘓手足偏枯及麻風皮毛脫落口眼歪斜遍身瘋癩不知痛癢本藥一兩加鬧楊花火酒製草烏炮各（一錢五分）　天麻殭蠶各（三分）　共研勻每服（五分）　加麝香少許好酒送下取醉大汗為度</p>
<p>一楊梅瘡不拘遠近本藥（三分）　加牙皂銀花等分煎湯送下出大汗外用消風敗毒散不數日愈</p>
<p>一楊梅癬牛皮癬頑瘡疥癩久遠不瘥本藥配白癬皮各等分每服（五分）</p>

<h2>第三方　飛龍奪命丹（兼治內外症主敗毒）</h2>
<p>元精石白礬皂礬　火硝各（二兩）　硼砂　滷砂各（三錢）右六味共研人鍋炒老黃色取起加汞（二兩）　硃砂雄黃各五錢入罐封固如前火候冷定開取升藥又加生藥人罐打火四炷香藥俱同前但分兩不同汞砂雄硼滷分兩俱照前惟元精石皂白礬各（一兩）　硝（一兩五錢）　照前炒研細入罐封固火候俱同前冷取升藥又加硝皂白礬各七錢明雄一錢共研打火同前取出升藥又照前配打火三炷香乃內外科之聖藥也</p>
<p>一瘡瘍兼膈食翻胃吐逆等症用本藥（三錢）　加沉香木香各（一錢）　白蔻仁丁香各（五錢）　糊丸綠豆大淡薑湯下一丸日進三服</p>
<p>一中滿臌脹水腫等症本藥（二錢）　加沉香木香各（一錢五分）　土狗（三枚）　炙去頭足糊丸綠豆大每日空心用白商陸砂仁湯下三丸以平為止次用調理之齊</p>
<p>一九種心痛腹中冷氣久不效者本藥（三錢）　加乾薑良薑大椒各（一錢）　或末或丸川椒湯下或砂仁湯下三分日三次</p>
<p>一風寒濕氣流滯經絡筋骨疼痛本藥（三錢）　加乳香沒藥去油各（三錢）　鴉片硃砂砂各（五分）　如無真鴉片以麝香少許代之好酒糊丸桐子大每服一丸用酒下日三次病久者先服黃金散取汗</p>
<p>一婦人月經不行瘀血作痛或癥瘕痞塊本藥量加班毛紅娘子用米同炒去頭足每服八釐空心紅花酒下日三次以行為度虛弱者去班紅單取米用一治外科諸般腫毒本藥血竭各（三錢）　蟬酥（五分）　麝香（三分）　糊丸桐子大每服</p>
<p>一丸酒下按上下部服之日三次一治痰核馬疔結核等症本藥（三錢）　膽星半夏貝母各（一錢五分）　麝查（二分）　滑破加乳香沒藥去油各（一錢）　糊丸桐子大每服一丸日三次一楊梅結毒不拘遠近本藥硃砂各（三錢）　雄黃銀硃各（一錢）　黃臘為丸桐子大每服一丸土茯苓湯下一下疳蛀杆不拘遠近本藥硃砂雄黃各（一錢）　乳香沒藥去油血竭龍骨各（一錢）　為末摻之雨量　一褶邊濕毒泡瘡久不收口者本藥乳香沒藥去油各一錢冰片三分黃白二蠟化入麻油少許熬膏貼之</p>
<p>一喉風十八症本藥五釐好醋調勻滴入喉中吐去痰涎即效破爛者苦茶調敷牙疽口疳皆治</p>
<p>一諾風癬頑癬牛皮血癬本藥量加白砒土硫黃為末或醋或油調敷</p>

<h2>第四方</h2>
<p>即前第一方藥味同惟打火盞內用水取升藥照前第三方加助藥之法打火三次每用藥研極細糕糊丸麻仁大每空心用人參湯或棗湯下一二十丸</p>
<p>一瘡遇內症痰涎壅塞上盛下虛有升無降吐逆咳嗽痰火喘急膈食翻胃嘔吐等症陳皮湯下</p>
<p>一翻胃膈食吐逆飽嘈丁香本香湯下</p>
<p>一虛損欲成勞怯生薑烏梅湯下</p>
<p>一偏正頭風痛久不愈川芎蔥湯下</p>
<p>一心腹腫脹腿膝痠痛蓬朮湯下</p>
<p>一陰虛盜汗小便過多元陽不足牡蠣湯下</p>
<p>一男女氣血不和小腹急痛桃仁湯下</p>
<p>一濕氣腳氣痠痛木瓜湯下</p>
<p>一遺精淋獨白茯苓牡蠣湯下</p>
<p>一陰症厥冷吐逆不下生薑湯下</p>
<p>一失心癡呆神不守舍辰砂湯下</p>
<p>一五疝昏厥不醒生薑湯下</p>

<h2>第五方</h2>
<p>節前第二方藥味同惟打火三轉後可月引藥專治外症取本藥雄黃硃砂各一兩乳香沒藥去油各（二錢）　當歸白芷槐花各（二兩）　加痛加丁香（二錢）　等分為末老米糊丸桐子大聽用</p>
<p>一凡楊梅瘡漏發背凜癧等惡瘡每服以牙皂一根土茯苓四兩煎湯初十日進五丸中十日進六丸後十日進七丸服後如寒熱乃毒氣出也不必驚疑</p>

<h2>第六方</h2>
<p>水銀　枯礬　火硝各（一兩二錢）　硼砂　滷砂各（一錢二分）右藥光共炒為細末入罐封固打火三炷香加爐甘石（一兩二錢）　共研入罐再打火一炷杳半取出童便拌藥共炒攤地上如此炒攤七次復為末入罐封固打火一炷香半取出埋地內一日夜再為末加乳香沒藥去油各（一錢二分）　又將童便拌曬加硃砂六分過篩研細磁缸收固每服土茯苓牙皂煎湯下</p>
<p>一此散用法俱照前六賢散主治醫例其效更神</p>

<h2>第七方　白雪丹</h2>
<p>鹽　礬　硝皂礬各（二兩五錢）</p>
<p>右共研入鍋炒九分干加汞（二兩）　硃砂（五錢）　共研無星帶青色入包灑瓶內按緊上用布如瓶口大蓋住再用黃泥靠瓶遍周圍按緊中留一孔依瓶口大俟泥干再用夏布一塊扎瓶口用陽城罐一個將藥罐對口扎定封固如法再用大磁盆一個盛水在內將前藥瓶倒立空罐底立水盆內其盆上用磚如法隔之先將罐內藥圈記何處止其火亦止到藥邊為度或過藥一指亦可藥出上罐入下罐即過分火候其功效同猛火亦可先文後武共三炷香火足冷定取起下罐內有水不可橫浸入水濕了上罐口藥開罐取出其藥松白色為妙然不松白亦可用</p>
<p>一此丹治一切腫毒出膿用之拔毒去其膿血未出膿者用之點起泡自破出水再用藥紙貼之自干而愈</p>
<p>治未破者用陳醋少許調點如膿潰爛者可用六賢散摻之若誤上白雪丹</p>
<p>痛不可忍亦敷六賢散藥紙貼之</p>

<h2>第八方　藥紙</h2>
<p>杭州高白油紙一百張生甘草八兩</p>
<p>先以淨水十五碗入甘草煎至六七碗去渣再煎至三四碗濃將紙分作四塊入鍋塊塊見汁煮乾為度取起㫰干收好聽用</p>
<p>一凡點白雪丹泡破出水後用此紙照泡大小針刺白孔津濕貼之刺眼以便出水候自愈脫</p>
<p>白雪丹犯膏藥其口更開更爛貼此藥紙最妙</p>

<h2>第九方　白粉霜</h2>
<p>硼砂八錢火硝明礬各（三兩）　甘草（一兩）</p>
<p>右先將前三味共研再用甘草煎濃汁煮乾次用水銀輕粉各（一兩五錢）　共研無星入罐對固打火三炷香擦盞冷定取升藥每（一兩）　加血竭（三錢）　乳勻</p>
<p>收固聽用</p>
<p>一此霜兼治內外證大人止服一分三釐小兒止可服七釐須分上下部引藥</p>
<p>送下</p>
<p>以上九方一氣呵成加減火候可悉照其例固有缺一不可者</p>
<p>三花聚頂丹</p>
<p>明礬（一兩六錢）　白硝（一兩四錢）　水銀（一兩）</p>
<p>右三味如法封固文武火五炷香擦盞冷定開罐取藥配用極能去腐生肌退管</p>
<p>生肌散　前靈藥四錢沒藥乳香　兒茶俱去油各（二錢）　珍珠（一錢）或加冰片人參更妙</p>
<p>右共為細末摻瘡上去腐生新其應如響</p>
<p>真元會臺丹</p>
<p>皂礬　白礬　水銀　火硝　食鹽各（二兩）</p>
<p>右共研勻結胎封固文武火五灶香降足冷定開罐取底下降藥制過配用</p>
<p>仙靈白雪餅</p>
<p>前制降藥（一兩）　熟滑石水飛（二錢）</p>
<p>右二味用山茨菇末滾水打糊和成小餅量瘡大小掐用些二方立能去毒根不致走散</p>
<p>天月閒來丹</p>
<p>焰硝（六錢）　白礬（四錢）　水銀　食鹽各（二兩）　黑礬（二兩六錢）　右共為細末研至水銀不見星為度結胎封固文武火三炷香降足取底下</p>
<p>降藥制過配用</p>
<p>如遇楊結毒可將此藥川麵糊丸如麥米大初服二丸次二丸又次四丸每早晚熱黃酒下視牙齦腫爛即止其瘡痂自落神效</p>
<p>回生丹</p>
<p>真蟾酥　血竭各（二錢）　乳香沒藥俱去油胡黃連各（一錢）　天月閒來丹（六分）　輕粉（六分）　麝香　硃砂　冰片各（四分）</p>
<p>右共為細末生蟾酥為丸如黍米大每服一丸蔥白煎湯送下發汗避風加瘡走遍身發腫昏迷不省仍用三丸研為末蔥白煎湯灌下其腫立消真起死圓生之聖藥也</p>
<p>發背疔瘡雙蛾對口方</p>
<p>蟾酥（一錢）　雄黃　硃砂各（四分）　血竭　輕粉各（六分）　粉霜（五分）　冰片（五分）　乳香　沒藥　麝香各（三分）</p>
<p>右共為細末丸如菜子大硃砂為衣每服三丸喉蛾舌上噙化發寒用蔥白好酒送下</p>
<p>百毒瘡陽物爛下可保重生方</p>
<p>紅紛霜（一兩）　牛黃　鍾乳粉各（五錢）</p>
<p>右共為末如陽物爛加婦人初行經紅布棍襠燒灰五分如百毒爛者用粉霜一兩加洗過皂布燒灰一兩如鼻爛加壯實人修下腳皮三錢研細摻之效難盡述</p>
<p>梅花點舌丹（此丹治上部初起惡毒）</p>
<p>硃砂雄黃乳香沒藥血竭　硼砂　葶藶各（一錢）　沉香　牛黃蟾酥　白靈藥　冰片各（五分）　麝香　珍珠　熊膽各（三分）</p>
<p>右共乳極細酒和為丸如萊菔子大金箔為衣烘乾封固加男胎乳尤炒服用蔥白酒送下三五丸量毒之微甚加減取醉</p>
<p>十寶丹（此丹配靈藥治諸症詳見後條）牛黃（五分）　冰片（三分五釐）　歸尾　阿魏各（一錢）　白芷　丁香　乳香明雄各（三錢）　槐花（一錢二分）　沒藥（二錢）　右為末加後藥（五錢）　磁罐收用</p>
<p>大保減巢丹此丹系靈藥</p>
<p>汞（一兩五錢）　火硝（一兩三錢）　明礬鹽各（一兩）　硼砂（三錢）</p>
<p>文武火三炷香升用</p>
<p>打靈砒法</p>
<p>白砒四兩先用綠豆水甘草水煮乾</p>
<p>右人罐封固打火三炷香取出配前二料米飲調丸綠豆大每服五丸日三服隨引用</p>
<p>一毒在腹用丹（一錢五分）　砒（一分五釐）　川芎藁本白芷瓜蔞湯下</p>
<p>一毒在鼻丹（二錢）　砒（一分五釐）　花粉共丸山梔川芎煎湯下</p>
<p>一毒在耳丹砒分兩照前花粉共丸川芎石菖蒲湯下</p>
<p>一毒在喉丹砒分兩照前花粉共丸川芎湯下</p>
<p>一毒在背丹砒分兩照前花紛五錢共丸川芎柴胡湯下</p>
<p>一毒在腰上下兩脅丹（四錢）　重日（五錢）　砒（二分半）　牡蠣煆（一錢）　人參（五分）　共丸黃耆牛膝花粉煎湯熱送下</p>
<p>一毒在腿丹（五錢）　砒（二分半）　花粉（三錢）　防己（五錢）　共丸木瓜牛膝苡仁湯下</p>
<p>一毒在腳底丹（六錢）　砒（三分半）　花粉沉香各（五錢）　共丸木瓜牛膝湯下</p>
<p>一毒在下疳丹（三錢）　砒（一分半）　牛膝豬苓湯下</p>
<p>一婦人並陰內上下年久爛見骨者手足不能伸屈丹（八錢）　砒（三分半）　花椒（三錢）　共丸牛膝湯下</p>
<p>一陰囊作癢抓破流水不幹丹（四錢）　砒（一分半）　地膚子牛膝蒼朮湯下</p>
<p>一魚口丹（三錢）　砒（一分半）　牛膝牙皂湯下一筋骨疼痛遍身紅腫不能行走不論遠近丹（八錢）　砒（二分）　牛膝槐花湯下一遍身作癢水腫風瘡為血熱風丹（五錢）　砒（一分半）　花粉（五錢）　為丸牛膝川芎款冬花湯下一癬毒痘毒丹（五錢）　砒（一分半）　花粉（五錢）　共丸牛膝苦參湯下一瘰癧穿爛日久不愈丹（六錢）　砒（二分）　半舊疏璃底共丸夏枯草昆布海藻滑石花粉瓜蔞湯下一濕痰流注潰爛日久不愈丹（五錢）　砒（二分）　半川芎白芷牛膝湯下一發背癰疽疔瘡腫毒丹（三錢）　砒（一分）　蟾酥（二分）　共丸川芎白芷山甲湯下一毒在腦頂爛見骨者丹（一錢五分）　砒（一分半）　川芎藁本湯下</p>
<p>以上諸症須用活法看人老幼虛實新久輕重淺深重者不過一月輕者不過半月收功若虛者加入參黃氏白朮茯苓補之如虛人服之必發寒熱喉痛頭眩是藥所致切勿疑忌停一二日再服可也切忌酒色煎炒五辛發味服藥先用五丸至七丸為止日進三服加黍米大</p>
<p>柱下遺佩丹一名老君丹</p>
<p>汞　食鹽各（一兩）　火硝　明礬　皂礬各（二兩）</p>
<p>右共研勻結胎封固升三炷香一文二武冷定取出升藥配後群藥用如升藥（三錢）外加蜈蚣酒炙全蠍酒炙殭蠶炒防風曬荊芥曬川山甲土炒三七炙硃砂雄黃乳香沒藥各（一錢五分）合前藥為丸硃砂為衣或花粉為衣</p>
<p>每日清晨空心服七釐陳酒送下重者土茯苓蕩下四十九日內忌羊肉生冷等發味如若口破綠豆煎湯常嗽口停三兩日再服能治瘰癧未潰已潰</p>
<p>楊梅結毒癰疽等惡瘡輕則十服重則一月愈驗如桴鼓靈藥秘方卷上終</p>

<h1>靈藥秘方卷之下</h1>

<h2>神仙一剪梅</h2>
<p>無為真人流傳乃濟世之神方也專治五經痰火久咳氣喘不止吐血紫痰紅色諸藥不效難療之症此藥一進血自歸經三服見效七服除根</p>

<h3>陽丹法</h3>
<p>鉛　汞　硼砂　明礬各（一兩）　火硝（二兩）</p>
<p>右先將鉛化開入汞攪勻冷定研碎再入後三昧研勻入罐封固打火三炷香開取盞上靈藥</p>

<h3>陰丹法</h3>
<p>汞（三兩）　硫黃（八錢）</p>
<p>右共研為末入杓內炒硬傾地下冷取起再研入罐封固打火三炷香取蓋</p>
<p>下藥配用</p>
<p>配法陽丹（二錢）　陰丹（八錢）　再陰丹（二錢）　陽丹（八錢）　共配（二兩）　聽用入沒藥</p>
<p>加藥方</p>
<p>辰砂　胡連　青黛　綠豆紛　白糖各（一兩）　沉香　海粉　天竺黃　兒茶　冰片各（三錢）　熊膽　麝香　牛黃各（五錢）</p>
<p>右共為細末再用嫩滑石（一兩）磨濃汁調丸如桐子大每服三五顆照後各經病症用藥煎湯送下　一心經受病吐血成片鮮紅者是用遠志肉甘草湯煮白茯苓乳汁浸過石連子棗仁炒研甘草煎湯送下五七丸</p>
<p>一肝經受病吐血或紫檀色者是用膽草甘草煎煮過柴胡炒白芍青皮甘草</p>
<p>煎湯送下七丸　一脾經受病吐痰稠黏不斷帶血絲者是用青皮陳皮白朮土炒甘草煎湯送</p>
<p>下七丸　一肺經受病吐痰黃白色作血腥者是用知母貝母杏仁去皮尖桑白皮蜜炙甘草煎湯下七丸</p>
<p>一腎經受病吐痰成塊如魚凍者是用知母乳汁浸炒五味子枸杞子黃柏鹽</p>
<p>水炒甘草煎湯送下五七丸</p>
<p>以上諸方系山西超師金陵佴先生二人所授</p>
<p>實實丹此藥能治各症配藥方</p>
<p>乳香　沒藥　雄黃　丁香　硃砂　輕粉各一錢　當蹄　白芷　槐花各（三錢）</p>
<p>右共為細末聽配靈藥如毒在上加升麻在下加牛膝木瓜隨症引用內中加牛黃更妙靈藥方</p>
<p>制白砒　制土硫各（四兩）</p>
<p>右共細末入罐封固打火四炷香取盞上藥如琥珀色者佳黃象用約有</p>
<p>靈藥（六七錢）米糊為丸重（二三釐）遇病隨引加減</p>
<p>一肺經面赤喘促加黃耆</p>
<p>一脾經胃大腸熱加大黃芒硝</p>
<p>一少陽膽症加石菖蒲蔞仁</p>
<p>一肝經加龍膽草甘菊黃柏芍藥</p>
<p>一凡一切瘡毒痛者只須回生散加六腎散依後六門法治之</p>
<p>一外點諾頑瘡惡毒腐肉作膿亦用並楊梅結毒不必問其新久淺深同時制</p>
<p>宜月之萬無一失</p>
<p>回生散腫毒初起用主發散</p>
<p>番木鱉淨末四兩用水泡透去皮淨咀片少用麻油炒紫黃色以脆為度研細川山甲一兩麻油妙脆瓜兒血竭五錢炙乳香三錢去油淨沒藥三錢去油淨</p>
<p>右共為細末研勻收固每服三分至五分止切不可多用預囑病者倘暈麻發戰切勿驚疑一時性過即安服時忌風若煉蜜為丸可加六賢散以乳沒血竭為衣服後麻戰飲熱酒或美湯一鍾即止此藥與前六腎散並用之乃治內外症之要藥也凡治外症須分六門治法先痛而後腫者氣傷形也先腫而後痛者形傷氣也喜怒傷氣熱傷氣故先痛也寒傷形暑傷形故先腫陰陽應象此其理也素問論之無過血症體熱氣症體涼精病虛神病弱陰病頑陽病痹</p>
<p>一治毒氣流入太腸痔漏久治不愈並流注惡症用靈藥一分加至二分日二服白湯或酒下</p>
<p>一楊梅結毒在頭上者寶丹（一錢五分）　重者（三錢）　靈藥（五釐）　川芎藁本各（二錢）　皂角（一枚）　煎湯服</p>
<p>一結毒在面上者寶丹（一錢五分）　靈藥（一分）　川芎（二分）　土茯苓（四兩）　煎湯食後服</p>
<p>一結毒在日鼻者寶丹（二錢）　靈藥（一分）　桂枝川芎各（二錢）　土茯苓（四兩）煎湯食遠服</p>
<p>一結毒在腳上及腳底者寶丹（一兩）　靈藥（三分）　天花粉（一兩二錢）　沉香（五錢）　共為細末丸粟米大日進三服每次（一錢）　土茯苓湯空心下</p>
<p>一結毒在兩耳者寶丹（一錢五分）　重者（二錢）　靈藥（一分）　天花粉（一兩）　川芎（三錢）　共研細為丸每服三分土茯苓湯下</p>
<p>一赭毒在兩臂者寶丹（三錢）　靈藥（五釐）　柴胡川芎土茯苓湯下</p>
<p>一結毒在腰脅者寶丹（四錢）　加重（五錢）　靈藥（一分）　若臭爛甚者再加靈藥（一分）　花粉一兩杜仲牛膝各（三錢）　為丸每服（五分）　土茯苓皂角小麥煎湯下日三服</p>
<p>一赭毒在兩腿者寶丹（三錢）　靈藥（一分）　牛膝（三錢）　天花粉（五錢）　土茯苓（四兩）　煎湯食前服</p>
<p>一結毒在小便上者寶丹（五錢）　靈藥（二分）　牡蠣煆（一錢）　白朮（一兩）　人參（二錢）　土</p>
<p>荻苓（三兩）　共為細末蜜丸綠豆大每服（一錢）　土茯苓（四錢五分）　牛膝（三錢）　花粉（五錢）　煎湯空心下</p>
<p>以上結毒諸症看人虛實如虛者皆可量加入參黃耆白朮煎湯補之</p>
<p>一治癰疽發背毒爛不愈寶丹（四錢）　靈藥（一分）　蟾酥（三分）　為末蜜丸蘿蔔子大</p>
<p>每服六七分日三服海藻昆布夏枯草煎湯下</p>
<p>一治疳瘡實丹（三錢）　靈藥（一分）　滑石（一兩）　為丸每服（三錢）　牛膝（一兩）　土茯苓（三兩）　皂角（一枚）　煎湯空心服之</p>
<p>一治串癧不愈寶丹（六錢）　靈藥（一分）　天花粉滑石各（一兩）　為末米糊丸如菜子大每服（五分）　海藻昆布夏枯草煎湯食後服日三次</p>
<p>一治陰囊空爛寶丹（四錢）　靈藥（一分）　滑石（一兩）　米糊為丸牛膝（三錢）土茯苓（四兩）皂角（一枚）煎湯空心服</p>
<p>一治身腫紅色有風瘡熱瘡者寶丹（三錢）　靈藥（一分二釐）　牛膝（三錢）　土茯苓（四兩）　皂角（一枚）　煎湯食遠服</p>
<p>一治遍身筋骨疼痛坐臥不安行走不得遠年者寶丹（五錢五分）　靈藥（一分五釐）　牛膝（三錢）　獨活（二兩）　土茯苓（四兩）　共為末丸綠豆大每服（一錢）　皂角煎湯下</p>
<p>一治遠年臁瘡寶丹（五錢）　靈藥（一分五釐）　牛膝（三錢）　木瓜（一兩二錢）　共為末蜜丸每服（五分）　土茯苓（四兩）　皂角（一枚）　煎湯下日三服</p>
<p>一治咽喉腫毒寶丹（二錢）　靈藥一分天花粉桔梗射干山豆根各（三錢）為末蜜丸每服（一錢）　土荻苓（三兩）　煎湯送下日三服</p>
<p>一治婦人玉門腫痛或下膀胱手足不能動寶丹（五錢）　靈藥（一分五釐）　滑石（一兩）牛膝（三錢）　為末米糊丸每服（一錢）　土茯苓（四兩）　皂角（一枚）　煎湯送下日三服</p>
<p>萬寶丹　端治臌膈等症</p>
<p>水銀　密陀僧　白礬　食鹽炒　火硝各（一兩）　明雄黃（五錢）　硃砂（五錢）滁州青磁器打碎研細（二兩）</p>
<p>右先將水銀磁末共研不見星次下陀僧再研再下礬鹽硝雄砂共研勻入陽城罐內封日升三炷香取出靈藥　二轉加法取前靈藥又加水銀（一兩）研不見星又下火硝鹽礬各（一兩）明雄硃砂各（五錢）研勻聽用再取出山鉛（四兩）打薄剪碎放陽城罐底上再放藥末在土封固打三炷香取靈藥配後藥川　配藥法每前藥（一錢）用牛黃狗寶（五分）珍珠琥珀直殭蠶糯米炒全蠍酒洗去頭足糯米炒沉香川貝毒硼砂硃砂雄黃明粉木香川連吳茱萸煮川芎白芥子蘿蔔子以上各（一錢）巴豆仁甘草水煮去油（五分）麝香三分牙皂八分炒金跟箔各三十張五倍子一個打一孔入大黃末填滿塞緊入多年瓦便壺內封口火煆侯冷取五倍子大黃為末與前諸藥和勻用小竹刮青煎汁打糊為丸蘿蔔子大硃砂為衣初服三分五釐用雄鼠糞煎湯下以後只用竹青煎湯微加薑汁服</p>
<p>鬱金至寶起危散拔死靈丹專治五癆七傷極重極危一切惡症青礞石硃砂雄精明礬　磁石醋淬三次南鉛北鉛雌黃各二兩</p>
<p>右八味於五月午日用陽城罐封固升打五炷香冷取靈藥袋盛埋東方淨土內四十兒日取起另配沒藥配藥法沉香木香乳香沒藥鬱金熊膽牛黃訶子各一錢狗寶冰片各五分乳細研勻每靈藥七釐配沒藥三釐米糊成丸金箔為衣服時用蜜水化開忌鐵器如服此藥病愈後稍覺火氣用後煎方</p>
<p>煎藥方</p>
<p>黃芩　黃柏　知母　生地　白茯苓各（一錢）　甘草（五分）　梔子　陳皮各（八分）　右八味白水煎空心服</p>
<p>九轉靈丹</p>
<p>統治四時傷寒五癆七傷中風痰喘隔食瘧痢痰嗽男婦諸般病症極其靈效靈砂　石菖蒲（一寸九節）者佳各（一兩）　生礬（九錢）　制辰砂　制雄黃各（五錢）</p>
<p>以上俱為細末棗肉杵爛為丸如粟米大金箔為衣陰乾收固此藥能問精添髓壯顏補虛每服二十丸棗湯下老人服之精神不損百病不生終無隔食之患及多尿溺亦無遺精白濁勞瘵盜汗等症婦人服之無崩漏赤白帶下之病按本方又云此丹服之百痛皆除欲求長生終日安樂者每晨空心棗湯下十丸此真方士荒唐之說不足信培謂無病之人斷不可服也</p>
<p>制汞法</p>
<p>先將硫黃入鍋熔化以益母草煎濃汁投硫入汁中七次取硫用出山北鉛化開投硫在內此鉛面上化開遂取出入益母草汁中數次以硫不腥臭為度去鉛不用只用硫黃佐汞煽炒成青筋頭子短汞十兩制硫二兩五錢煸畢入罐打火五炷香取出聽用將取出靈砂每兩制硫一錢照前再煽打至第七回靈砂每拾兩梨硫九錢八回用八錢九回用七錢此九轉之度也</p>
<p>制砂法每硃砂一兩用黃蠟五錢同入鍋內熬化微火半灶香復以武火熬蠟干將紙點火放鍋內灼盡吹去蠟灰取砂用以砂紫色為度　制雄黃法</p>
<p>用防已數兩煎汁入明雄黃煮乾　制硫黃法</p>
<p>以前靈砂制硃砂用青布做二小袋將二味分盛袋中採寶劍金星草生於松樹上者如劍有明星多煎汁二袋懸胎煮至硫黃白色為度（按金星草能去硫毒培意以黃山雲霧草代之功似更勝也）　小九轉靈丹</p>
<p>前制靈砂蘆蒼各一兩前制硃砂洛陽花各五錢</p>
<p>右共為細末用小銅鍋人蜜少許候花開上用盞蓋之蜜熟即丸如綠豆大</p>
<p>金箔為衣隨症照後引下立刻見效萬無一失</p>
<p>一男子遺精白濁每清晨燈心蓮肉湯下三丸</p>
<p>一小兒急驚木香研細末薑汁竹茹湯調勻化下三丸以痰降為度</p>
<p>一小兒急慢驚人參白朮當歸陳膽星半夏竹瀝薑汁化工三丸</p>
<p>一老人中風防風通聖散煎湯送下三丸如類中虛症獨參湯下</p>
<p>一結胸大小柴胡湯下三丸</p>
<p>一傷寒有汗者桂枝湯下三丸</p>
<p>一陰症附子人參肉桂炮薑湯下三丸或五丸</p>
<p>一痰嗽半夏茯苓湯下三丸</p>
<p>一痰喘當歸竹瀝湯下三丸虛喘加入參</p>
<p>一腳氣防風當歸木瓜牛膝羌活秦艽湯下三丸</p>
<p>一麻木不仁黃耆天麻湯下三丸</p>
<p>一諸般疼痛乳香沒藥湯下三丸</p>
<p>一黃疸炒山梔茵陳湯下三丸</p>
<p>一諸蟲積桃仁楝樹根煎湯下三丸（楝樹根要掘取向南者佳朝北者不可用能傷人）</p>
<p>一耳病耳聾耳痛黃柏生地石菖蒲湯下三丸</p>
<p>一口破及痛爛等症山豆根黃芩骨皮湯下三丸</p>
<p>一三焦煩熱作渴人參白朮麥冬知母湯下三丸</p>
<p>一赤淋白帶二陳湯下三丸</p>
<p>一諸般腫毒人參麝香湯下三丸（按腫毒症似不宜服此丹若陰毒不紅腫不知痛者則可用）</p>
<p>一癲症蜈蚣乳香沒藥湯下三丸</p>
<p>一痢疾好陳酒送下三丸</p>
<p>一瘧疾生薑湯送下三丸</p>
<p>一中風不語握拳咬牙閉目不省人事者人參黃耆白朮附子各五分川烏四分甘草少許竹瀝薑汁三匙大棗枚煎湯灌之俟甦醒後再用竹瀝薑汁湯下三丸</p>
<p>一中風不醒服前藥後更進三丸再用順氣散數劑相其虛實調理即愈</p>
<p>釣瀝丹　治瘰癧未潰內中有實核者</p>
<p>食鹽　明礬　硝各（一兩）　汞（五錢）　皂礬春夏錢秋（二錢三分）冬（二錢五分）</p>
<p>右稱准入罐結胎爐內熏蒸炷香然後加升火炷香冷定取盞底藥黃米飯研丸粟米大陰乾收固臨用不拘何膏藥以一丸貼之天寒五日一換暑天三百一換內核自然脫出後即將七仙丹輕輕拂之燃後以生肌散一兩加七寶丹（一錢五分）和勻每用些須摻上以膏藥貼之漸漸生肌自滿</p>
<p>釣癧褪管生肌丹此丹專取癧子</p>
<p>硝　鹽　礬　汞各（三錢）　皂礬（五分）　硇砂　金鼎砒各（一錢）</p>
<p>右共乳細入罐封固升取靈藥蜜丸綠豆大不拘何膏藥護之管核即從此出破爛者加蟾酥少許不痛連生四五個者不必俱貼只貼一個眾癧即從此出出盡上生肌散七仙丹愈</p>
<p>痔漏退管生肌丹此丹專治痔漏</p>
<p>鉛（一斤）　石黃（四兩）　硫黃（一兩）　汞（二兩）　硃砂（三兩）</p>
<p>右人罐封固升打文武火各三炷香開取靈藥棗肉為丸每服六釐空心土荻苓湯下忌煎炒</p>
<p>又方</p>
<p>元精石（一錢五分）硃砂明雄　膽礬各（三錢）　枯礬（八錢）　硫黃（四錢）汞　石黃各（五錢）</p>
<p>右八味共研不見星入罐封固水盞打火五炷香三文二武開取靈藥配後末藥用　末藥方</p>
<p>番木鱉去皮香油炒黃脆冰片　蜣螂　龜板各（二錢）　川連　珍珠戴過油舊者豆腐煮用　全蠍去足酒洗　象牙各（三錢）　人牙煆存性　川山甲炒各（一錢六分）　蜈蚣去頭足三條</p>
<p>以上依制共研極細入前靈藥（二錢四分）再乳勻外用上好淨黃蠟（八兩）入皮碗坐竹筒上置鍋內隔水墩至蠟化將藥陸續投入象箸攪勻丸如棗核大每顆約重（三分）為則看症輕重少則一粒多則五粒空心黃酒下忌房事煎炒炙傳之物先以地榆苦參煎湯熏洗數日然後服藥其瘡將瘥以輕粉藥珠為末摻之</p>
<p>荔奴丹此丹專治楊梅結毒並治大麻風神效</p>
<p>人言二分水銀三錢火硝皂礬明礬各六錢雄黃一錢銅綠五分食鹽一兩二錢</p>
<p>右為細末研不見星川銀罐七八個將藥分貯罐內約有二四分深放風爐上文火熔化結胎先要將各罐口磨平俱覆於銅盆上外用水一大盆座銅盆於上加炭火勿露罐先文後武一炷香即退火取藥當時飯研為丸如黍米大每服一丸或二丸龍眼肉包住外加豆腐皮裹之鹽湯吞下餓一日藥行遍身方可飲食此方不損元氣並治大麻風如神服藥後大便要在空地深坑之處以厚土掩之勿令毒氣傳人</p>
<p>一點消神方統治一切大小瘡毒初起百發百中</p>
<p>鹽　礬　硝　皂礬　汞各（四兩）　砒（四錢）</p>
<p>右共研不見星入罐微火結胎用木棍築實冷定覆於碗上碗底放水盆一個磚一塊放碗罐於磚上加水至碗底八分另以大磚隔往砌百眼爐上火下火看火到底即遏火冷定取藥收固治毒時以米醋少許燈草蘸點患處毒小可點二三點起出一二個白泡即消毒大者多點幾點或多點幾次亦無不俏如遇頑陰之毒服奪命丹一服點之亦無不收功</p>
<p>七仙丹一名七寶丹專治去腐肉配生肌散用</p>
<p>鹽　礬　硝　汞　皂礬各（一兩）　鵝管石　硃砂各（三錢）</p>
<p>右共研細末入罐封問升三炷香冷定取藥用</p>
<p>生肌散此散生肌退管配靈藥用每（一兩）配七仙丹（一錢五分）和勻每用些須摻上膏掩漸自生肌</p>
<p>乳香　沒藥　兒茶　輕粉　石脂　龍骨　白蠟　硃砂　海螵峭　川貝自然銅煆</p>
<p>右等分研細如面收用遇潰爛者先將米泔水洗淨以此藥輕輕拂上膏藥貼之久患成漏者以膏藥捻成條子蘸此散插入漏處退管生肌如毒重不效須用前釣癧丹釣去壘塊之後方可用此收功</p>
<p>紅粉霜丹</p>
<p>火硝　枯礬　硼砂　水銀　皂礬煆各一兩</p>
<p>右共為細末入罐內燒酒拌勻炒至黃色再入硃砂五錢雄黃三錢封口打火文武三炷香約有靈藥一雨配硃砂一兩乳勻用絹包好貼體帶一月再人瓶收固每服五匣不可多用車前子煎湯下此藥能治大人小兒一切風</p>
<p>痰諸效不效此丹入口有回生之功</p>
<p>以上諸方系陝西楊先生所授　痔漏大靈藥</p>
<p>鵝管石三錢　明礬　雌黃　雄黃　鉛礦石　倭硫黃　出山黑鉛熔傾地上打如紙薄切作細絲　各五錢辰硃砂（一兩）　青鹽　青礞石　芸香取黑色者用各（二錢）</p>
<p>右共為細末川大陽城罐一個先護好盛藥封固上火約香一炷再以熟石羔周身護到文武火共五灶香取靈藥收貯每服三釐加後潤腸散七分和勻棗肉或米飲為丸豆腐皮裹服空心白滾湯或陳火酒送下</p>
<p>潤腸散</p>
<p>朴硝一斤童便雨碗拌入鍋內炒乾雄豬大腸頭尺許晾取半乾</p>
<p>右將硝研末入腸內不拘多少以塞為度兩頭線紮緊略曬片時入鍋內炒焦黃色研為細末配前靈藥服外以紙然蘸藥插入管中</p>
<p>三山拱岳丹　此丹退管去惡生新</p>
<p>硝（一兩六錢）　水銀　明礬　各（一兩）右共研入鍋碗差泥封升一炷香取藥收用化管用新米飯打條插患處退管丸</p>
<p>露蜂房（十個）　鱉一個重（十五兩）　煆　野豬尾　繭退　人指甲　鳳凰衣蟬退各（四兩）　牛黃（三錢）</p>
<p>右藥除牛黃俱要酒洗各煆成末麵糊為丸每服（三錢）空心酒下量人虛實用</p>
<p>鴻蒙交盼丹　端治楊梅結毒神效</p>
<p>火硝二兩五錢　食鹽　明礬　皂礬　各二兩　水銀一兩　硼砂三錢雄黃一錢　硃砂一錢</p>
<p>右先以明礬打豆大入陽城罐內後以諸藥為末入內封固炭火漸加不過半罐而止升三炷香冷定取藥白色者佳每藥五分配槐花炒末四錢米糊</p>
<p>丸勻作四十服土茯苓湯下忌茶醋發味</p>
<p>橘並流芳丹　此丹專去瘀肉</p>
<p>水銀　火硝　明礬　皂礬　各二兩　鹽一兩</p>
<p>右共為末結胎入銀罐內覆瓦缽中綿紙固濟外用細干黃土打碎蓋寸許</p>
<p>露銀罐底加炭燒三炷香取起聽用有爛肉之功</p>
<p>二轉杏林丹鹽　礬　皂礬　硝　汞各一兩</p>
<p>右共研入罐升打三炷香取藥加入明雄硃砂硫黃各五錢硼砂（三錢）硇砂一錢研勻人罐再打五炷香取藥配入乳香沒藥兒茶血竭各一錢麝香一</p>
<p>分五釐棗肉為丸綠豆大收固用</p>
<p>凡痔漏服十丸小兒痞塊服（三丸）腫毒楊梅服（五丸）俱黃酒下如搽一切瘡毒取藥（一兩）入草烏末（一錢）豬膽汁調搽或鵝膽亦可</p>
<p>黃靈藥　此生肌長肉仙方也</p>
<p>鉛九錢汞雄黃各（一雨）　火硝（三兩）　枯礬（二兩）　硃砂（四錢）</p>
<p>右先將鉛化開同話味為末入罐封固升打三炷香擦盞火足冷定取藥每藥（一錢）加乳香沒藥海嫖蛸水煮珍珠各（五分）血竭象皮煆各（四分）兒茶（三錢）輕粉赤石脂煆龍骨煆各（三分）黃柏文蛤殼煆各（二分）甘草六分冰片（五釐）麝香（二釐）共為細末乳勻收固聽用</p>
<p>萬應靈丹　此丹初起拔毒甚妙</p>
<p>青鹽　水銀各（五錢）　皂礬（一兩）　鉛（二錢五分）　火硝（一兩二錢五分）　白礬（一兩五錢）　硼砂　白毗　雄黃各（一錢五分）</p>
<p>右先將鉛化開入水銀和勻待冷同各味研細末用磁罐一個將生薑遍擦罐外火烘又擦八九次為度將藥三分之一入罐火上頓熱滾候乾枯些又加上照此頓法去候乾枯色紅為度將罐口覆在磁盆內鹽泥封固罐口周圍用灰堆齊罐底於罐底上放炭火四五塊待一炷香盡又去灰火隨移下些三灶香盡去些灰將炭火移下些候一灶香為止取靈藥收用其藥雪白者佳煉時罐盆外須放砧擱水浸著藥方下降</p>
<p>一治疔瘡用銀針刺一孔醋調靈丹三四毫點上外用膏藥貼之一夜全消對口諸毒俱照此法初起一二日日上藥三次</p>
<p>一遇發背癰疽根盤大者用靈丹（二分）貝母末（一錢）細茶滷半杯調勻新筆藥從外根掃圈至內以藥盡為度過一二時根盤上火熱疼痛即將冷水洗去另用膏藥貼之過一夜揭看有一毛孔即有一黃泡用銀針逐一挑去黃水即愈</p>
<p>雲和化育丹此丹生肌</p>
<p>倉硝（二兩）　陀僧　枯礬　水銀各（一兩）</p>
<p>右先將硝陀礬為末和勻放粗磁碗內中按一窟以水銀放窟中用小碗蓋上鹽泥封固碗底上放水濕草一團將磚壓紙上再以大鐵釘三個架擱粗碗外造百眼爐打火以濕紙焦枯為度開取靈藥用甘草湯浸過再曬乾收用</p>
<p>膽礬　硃砂　雄黃　明礬　磁石　水銀各（一兩）　或加硝（一兩）更佳</p>
<p>右共研勻入罐封固打火三灶香開取靈藥聽用此藥能治一切腫毒去瘀</p>
<p>生新其效如神或加入外科諸藥中用之亦妙</p>
<p>千金白雪丹</p>
<p>汞　鹽各（二兩）　硝（五兩）　明礬（六兩）　皂礬（四兩）　黑鉛一兩　白砒　雄黃各（六錢）　硇砂研末　硼砂炒末各（一錢）</p>
<p>右先將黑鉛化開入汞研碎再將鹽礬硝皂入鍋炒（六分）干鉛汞硇硼砒雄共研不見星裝入罐內築實降三炷香為度取出靈藥每兩配入真蟾酥一錢乳勻收固每用少許點毒頂上未成者立即消散已成者即起頭迫膿而愈如治漏用麻黃煎膏作條子插入管內靈餅子</p>
<p>水銀　青鹽各（一兩）　鉛（五錢）　雄黃　金頂砒　硼砂　硃砂各（三錢）　硝（二兩五錢）　皂礬（二兩五錢）　明礬（三兩）</p>
<p>右共為細末入罐封固打火三灶香冷取靈藥每靈藥七分配蝸牛殼煆末（二分）再以面（一分）為糊做成小餅用膏藥蓋貼提毒如神</p>
<p>鍊金頂砒法</p>
<p>白砒（二兩）　鉛（八兩）或（一斤）更妙</p>
<p>先將鉛入罐內炭火煆化再投砒於鉛之上煉至煙盡為度取起冷定打開金頂砒結在鉛面上取下聽用煙起時宜遠避之</p>
