<header data-type="book">
<h1>《內經》運氣表</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陸懋修</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1884">公元1884年</data></dd></div>
</dl>
</header>

<h1>《內經》運氣表</h1>
<p>運氣之學，非圖不明。前人注《內經》者，每於義難曉處，間輔以圖，宋劉溫舒《素問入式運氣論奧》為圖二十有九。明張介賓分經為類，謂之《類經》，為圖四十有八，附以論說，致為詳贍。惟圖說愈夥，卒業愈難，且有不能圖而宜於表者。余故易圖為表，但期於民病之因乎氣交，及氣交之所以為治，便於檢查而止。故不取多焉，作十三表。</p>

<h2>五氣經天表第一</h2>
<p>《內經·五運行大論》引《太始天元冊》文，五氣之經天，以著五行之合化。蓋謂上有五色之分，下臨十干之地，而合十化五，以各司其年者，即此合化之五行，非泛論五行之本氣。不達乎此，則知甲乙之為木，而不知其為土與金。知丙丁之為火，而不知其為水與木。知壬癸之為水，而不知其為木與火。知戊與辛之為土為金，而不知其為火與水。況十干之分陰分陽者，且逐年而遞嬗耶？故欲明五行之為運，必先推五運之所自焉。黅天之氣，經於心尾己分。</p>
<p>黅天之色黃，其氣土。心尾在甲度，而經中土己分，故甲己合而化土。甲，陽土也；己，陰土也。其在五音則為太宮、少宮也。</p>
<p>素天之氣，經於亢氐昴畢。素天之色白，其氣金。亢氐在乙度，而經昴畢庚度，故乙庚合而化金。乙，陰金也；庚，陽金也。其在五音則為少商、太商也。</p>
<p>元天之氣，經於張翼婁胃。元天之色黑，其氣水。張翼在丙度，而經婁胃辛度，故丙辛合而化水。丙，陽　水　也；辛，陰　水　也。其在五音則為太羽、少羽也。蒼天之氣，經於危室柳鬼。蒼天之色青，其氣木。危室在壬度，而經柳鬼丁度，故丁壬合而化木。丁，陰　木　也；壬，陽　木　也。其在五音則為少角、太角也。丹天之氣，經於牛女戊分。丹天之色赤，其氣火。牛女在癸度，而經中土戊分，故戊癸合而化火。戊，陽　火　也；癸，陰　火　也。其在五音則為太徵、少徵也。</p>

<h2>五行化為六氣表第二</h2>
<p>五行，木、火、土、金、水也。六氣，風、熱、濕、火、燥、寒，為六經之本氣也。天之五氣加臨地之五行。五氣在天，暑分火、熱而為六；五行在地，火分君、相亦為六。人在氣交之中，不能離此六氣。氣得其常，謂之經氣；有變眚則為病。風、濕、燥、寒，各居其一，而惟火有二，故病亦因火者多，此人身不可有之火，即人身不可無之火也。然不可無之火不病也，火而變為病人之火，則所以治此火者，自有道矣。苟不言六經之本氣，而但言手足之六經，幾何不以病始太陽者，謂其病獨在於膀胱、小腸乎？經曰：治病必求於本，此之謂也。而與《靈樞》「經脈」、「經別」、「經水」三篇有不同也。</p>
<p>木　為風氣。厥陰風木應之。入通於肝、包絡。</p>
<p>火　為暑氣，又為熱。少陰君火應之。入通於心。</p>
<p>土　為濕氣。太陰濕土應之。入通於脾。</p>
<p>火　為火氣。少陽相火應之。入通於膽、三焦。</p>
<p>金　為燥氣。陽明燥金應之。入通於肺、胃、大腸。</p>
<p>水　為寒氣。太陽寒水應之。入通於腎、膀胱、小腸。</p>

<h2>五運合五音太少相生表第三</h2>
<p>凡數，以少羽為一，少徵為二，少角為三，少商為四，少宮為五，太羽為六，太徵為七，太角為八，太商為九，此五音太少之原也。而以之論五行之化運，則以宮、商、羽、角、徵為次，如土為宮，金為商，水為羽、木為角，火為徵是也。以之論五運之陰陽，則以角、徵、宮、商、羽為次，如陽木為太角，陰木為少角，陽火為太徵，陰火為少徵，陽土為太宮，陰土為少宮，陽金為太商，陰金為少商，陽水為太羽，陰水為少羽是也。以之論五行之中運，則亦以宮、商、羽、角、徵為次，如甲己土之皆為宮，乙庚金之皆為商，丙辛水之皆為羽，丁壬木之皆為角，戊癸火之皆為徵是也。以之論年年不動之主運，則亦以角、徵、宮、商、羽為次，如陽年太角為初運，少徵為二運，太宮為三運，少商為四運，太羽為終運。陰年少角為初運，太徵為二運，少宮為三運，太商為四運，少羽為終運是也。以之論逐年加臨之客運，則即以當年之中運為初運，而仍以主運之太、少為次，如初運太角，二運少徵，三運太宮，四運少商，終運太羽。又如初運太徵，二運少宮，三運太商，四運少羽，終運則不為太角而為少角者是也。此五運司年，及初、終五步主客之大概也。</p>
<p>五運合五音太少相生表第三</p>

<h2>司天在泉左右間氣表第四</h2>
<p>六氣者，厥陰風木、少陰君火、太陰濕土、少陽相火、陽明燥金、太陽寒水之氣也。司天在上，在泉在下。歲半以上司天主之，歲半以下在泉主之。六年而一周遍，實三年而一環轉。故於六年見風火，而三年又見火風。於六年見火燥，而三年又見燥火。於六年見濕寒，而三年又見寒濕。遂以成風、熱、濕、火、燥、寒之六氣焉。間氣者，左右之道路。天左間居地右之上，天右間居地左之上。泉左間居天右之下，泉右間居天左之下，而初、終六氣隨之。故「六元正紀」曰：厥陰之政，初氣陽明為右之下，四氣少陰為左之上也。欲知上下左右之位，而以掌指輪之，則中指尖為司天，根為在泉。食指尖為天左，根為地右。無名指尖為天右，根為地左者，其如示諸斯乎。</p>
<p>厥陰司天　左少陰，右太陽　少陽在泉　左陽明，右太陰　是為風火司　巳亥十年</p>
<p>少陰司天　左太陰，右厥陰　陽明在泉　左太陽，右少陽　是為火燥司　子午十年</p>
<p>太陰司天　左少陽，右少陰　太陽在泉　左厥陰，右陽明　是為濕寒司　丑未十年</p>
<p>少陽司天　左陽明，右太陰　厥陰在泉　左少陰，右太陽　是為火風司　寅申十年</p>
<p>陽明司天　左太陽，右少陽　少陰在泉　左太陰，右厥陰　是為燥火司　卯酉十年</p>
<p>太陽司天　左厥陰，右陽明　太陰在泉　左少陽，右少陰　是為寒濕司　辰戌十年</p>

<h2>陰陽五行中運年表第五</h2>
<p>六十年之中運，以合化之五行為紀，而以在天之十干分陰陽焉，又以五音之太、少分有餘不足焉。經曰：有餘而往，不足隨之；不足而往，有餘從之，而太過、不及分焉。甲、丙、戊、庚、壬，陽年為太過；乙、丁、己、辛、癸，陰年為不及。而太過、不及仍以五行之合化者分焉。土太過曰敦阜，不及曰卑監。金太過曰堅成，不及曰從革。水太過曰漫衍，不及曰涸流。木太過曰發生，不及曰委和。火太過曰赫曦，不及曰伏明。其於中運之太過而得天地之制，不及而得天地之助，則宮為正宮，商為正商，羽為正羽，角為正角，徵為正徵。而曰備化、曰審平、曰敷和、曰升明、曰靜順者，是無過不及，而為平氣也。</p>
<p>陰陽五行中運年表第五</p>

<h2>六政六紀上中下年表第六</h2>
<p>每年司天主天令，位在上。司地主地化，位在下。而以歲運運行乎其中，故曰中運以司天論之。君火、相火、寒水，常為陽年司天。風木、濕土、燥金，常為陰年司天。而中運之陰陽隨之，故但記逐年之司天，即可知逐年之中運焉。逐年司天曰厥、少、太、少、陽、太，前人每就地盤定位。以掌指輪之，於四指之根左行亥、子、醜、寅，四指之尖右行巳、午、未、申，而卯、辰上行於寅巳之指，酉戌下行於申亥之指，以定三陰於亥位為厥，子位為少，醜位為太。三陽於寅位為少，卯位為陽，辰位為太。從巳至戌，重見如前。故但以巳亥起厥，四言為訣，而逐年司天之位，一指其掌而瞭如矣。</p>
<p>六政六紀上中下年表第六</p>

<h2>客氣加臨主氣年表第七</h2>
<p>客氣以厥、少、太、少、陽、太為步，逐年遞遷者也。主氣以厥、少、少、太、陽、太為步，常年不動者也。客主之初氣，皆始於地左，惟主氣常年以厥陰為初氣，而客氣則以逐年司天之前二位為初氣，此客主之所以有加臨也。若六步之位而亦以指掌輪之，則中指尖為三氣，根為終氣，即司天在泉之位也。無名指根為初氣，尖為二氣，即泉左天右之位也。食指尖為四氣，根為五氣，即天左泉右之位也。以初氣起地之左間一語為訣，而客主六步皆可推矣。向之言初終六氣者，每以大寒為始，從二分、二至前後析之。惟是疏解《內經》之義，當即證以《內經》之文。考「六元正紀」本篇，帝問六氣主時，客氣加臨之應，而岐伯對以行有次、止有位，常以正月朔日平旦視之，睹其位而知其所在，則客主之氣皆當以正月之朔為始，而以一年十二月分之為最合。錢塘高土宗世栻嘗言之，是可從也。或以為司天之交替與六氣之初終，即以二十四氣論之，亦當始於立春，必不始於大寒，則揆諸「六節臟象」篇所云：及其至也，皆歸始春之旨，說亦可從。至有謂當從曆元，始於冬至子之半者，則其言似太迂矣。</p>
<p>客氣加臨主氣年表第七</p>

<h2>五運齊化兼化表第八</h2>
<p>凡陽年以中運五太為太過，陰年以中運五少為不及。其太過也，則為我旺，我旺則勝我者畏我之盛，而反齊其化矣。如太宮土運，勝土之木反齊土化。太商金運，勝金之火反齊金化。太羽水運，勝水之土反齊水化。太角木運，勝木之金反齊木化。太徵火運，勝火之水反齊火化。此即經所謂：畏其旺，反同其化也。其不及，則為我弱，我弱則勝我者乘我之衰而來兼其化矣。如少宮土運，勝土之木來兼土化。少商金運，勝金之火來兼金化。少羽水運，勝水之土來兼水化。少宮土運，勝土之木來兼土化。少角木運，勝木之金來兼木化。少徵火運，勝火之水來兼火化。此即經所謂：乘其弱，來同其化也。齊，謂以我化彼，兼謂以彼化我也。</p>
<p>五運齊化兼化表第八</p>

<h2>天符歲會年表第九</h2>
<p>天符者，中運與司天相應也，故曰應天為天符。如丁巳年木運上應風木司天之類。凡十二年。</p>
<p>歲會者，中運與年支相值也，故曰承歲為歲直。如丁卯年木運承木支之類。凡八年。</p>
<p>太乙天符者，運氣、天氣、歲氣三者皆合，故曰三合為治。如戊午年火運火支，又見君火。乙酉年金運金支，又見燥金。己丑、己未年土運土支，又見濕土之類。凡四年。</p>
<p>同天符、同歲會者，中運與在泉符、會而分，陽年之太過者為同天符，陰年之不及者為同歲會。如甲辰年，陽土運，太陰在泉。辛丑年，陰水運，太陽在泉之類。各六年。</p>
<p>上天符十二年，歲會八年，太乙天符四年，同天符、同歲會各六年，共為三十六年。惟太乙之四年，已在天符十二年中，歲會之八年，亦有四年在天符中。故「六元正紀」只言二十四歲，蓋謂天符十二年，同天符、同歲會亦合十二年，不數太乙之天符及歲會之同於天符者各四年耳。天符為執法，歲會為行令，太乙天符為貴人。病之中貴人者重，中執法者亦重，中行令者為輕。「六元紀」曰：知迎知隨，氣可與期。此之謂也。</p>
<p>天符歲會年表第九</p>

<h2>運氣中上順逆年表第十</h2>
<p>「五運行大論」曰：氣有相得者，有不相得者。其相得則為順化，如木臨火運，火臨土運，土臨金運，金臨水運，水臨木運，司天生運也。六十年中，有此十二年之順化。不相得則為天刑，如木臨土運，土臨水運，水臨火運，火臨金運，金臨木運，是司天克運也。六十年中，有此十二年之天刑。其有氣雖相得，而以母居子下，謂之小逆，如火運遇土，木運遇火，水運遇木，金運遇水，土運遇金，是運生司天也。六十年中，有此十二年之小逆。其有氣本不相得，而又子居父上，謂之不和，如木運遇土，火運遇金，土運遇水，金運遇木，水運遇火，是運克司天也。六十年中，有此十二年之不和。若夫中運與司天同行，則為平氣，如巳亥之丁年，丑未之己年，卯酉之乙年，辰戌之丙年，子午、寅申之戊年。此即應天曰天符之十二年，而六十年之為運周矣。</p>
<p>運氣中上順逆年表第十</p>

<h2>六元本標中氣治法表第十一</h2>
<p>經以火、燥、寒、風、熱、濕六元為本，以少、陽、太、厥、少、太六經為標，以臟腑表裡之互相為絡見於本標之中者為中氣。故火為少陽本氣，而少陽為氣之標。燥為陽明本氣，而陽明為氣之標。寒為太陽本氣，而太陽為氣之標。風為厥陰本氣，而厥陰為氣之標。熱為少陰本氣，而少陰為氣之標。濕為太陰本氣，而太陰為氣之標。本者，六元也。標者，六經也。六元為六經之本始，六經即六元所標著。經恐人即以標為本，失其治要，故不曰標之氣，而曰氣之標。明乎治之所重在氣之本始，不在氣所標著也。前人另求標氣，轉謂經未明言標義。若以原文「氣之標也」之「也」字，一作「耳」字解，則盡得之矣。至於中氣之治，獨在陽明與厥陰兩經者，熟玩經文，當於火濕之分，別有理會也。</p>
<p>六元本標中氣治法表第十一</p>

<h2>五行勝復表第十二</h2>
<p>諺云：木、火、土、金、水，五行周而復始，互相生。金、水、木、火、土，五賊周而復始，互相剋。一若五行之只可有生，不可有克者。然而非克不生，經所以言亢害承製，制則生化也。夫欲知五行之生克，必先明五臟之子母。如腎為肝母，心為肝子；肝為心母，脾為心子；心為脾母，肺為脾子；脾為肺母，腎為肺子；肺為腎母，肝為腎子己不務德，而侮其所勝，則所勝之子來復母仇。所勝妄行，則己受其侮，而所生之子亦往復之，此太過、不及之所以皆有勝而有復也。因兩存之，為實則瀉子之治，並附以子失母蔭亦來復者，兼以明虛則補母之義焉。</p>
<p>五行勝復表第十二</p>

<h2>司天在泉勝復補瀉合表第十三</h2>
<p>人謂《素問》為無方之書，余謂《素問》即有方之始。運氣七篇不名一藥，而六味之酸、苦、辛、甘、咸、淡，四氣之寒、熱、溫、涼，取以入各臟而分補瀉者，皆藥也，即皆方也。後人所賴，以知何味何氣治何等病者，蓋即此無方之書也。乃至今日而人皆曰此是古書，不治今病，於是而今人之所謂補非即古人所謂補矣，今人之所謂瀉非即古人所謂瀉矣。古有以溫補涼瀉、熱補寒瀉者，即有以涼補溫瀉、寒補熱瀉者。其於味也亦然。豈是見寒即為瀉，見溫即為補乎？亦豈見甘即為補，見苦即為瀉乎？今之以苦寒伐胃，甘寒益腎為辭者，非特於宜瀉者不敢瀉，且敢於宜補者而反瀉之。五臟苦欲之不講，遂並氣味補瀉之無別，而曰即可以治病也，余未之敢信焉。今以七篇中勝復之治，匯而輯之，歸於易簡。而於「六元正紀」自甲子至癸亥，所載藥食宜者，及其他之與此略同者不更贅焉，所以避繁複也。</p>
<p>厥陰風化</p>
<p>司天　平以辛涼，佐以苦甘，以甘緩之，酸瀉之。</p>
<p>清勝　治以酸溫，佐以甘苦。</p>
<p>在泉　治以辛涼，佐以苦甘，以甘緩之，辛散之。</p>
<p>清勝　治以酸溫，佐以苦甘，以辛平之。</p>
<p>厥陰客　以辛補之，酸瀉之，甘緩之。</p>
<p>木之主　其瀉以酸，補以辛。</p>
<p>厥陰勝　治以甘清，佐以苦辛，以酸瀉之。</p>
<p>厥陰復　治以酸寒，佐以甘辛，以酸瀉之，甘緩之。</p>
<p>少陰熱化</p>
<p>司天　平以鹹寒，佐以苦甘，以酸收之。</p>
<p>寒勝　治以甘溫，佐以苦酸辛。</p>
<p>在泉　治以鹹寒，佐以甘苦，以酸收之，苦發之。</p>
<p>寒勝　治以甘熱，佐以苦辛，以鹹平之。</p>
<p>少陰客　以咸補之，甘瀉之，酸收之。</p>
<p>火之主　其瀉以甘，補以咸。</p>
<p>少陰勝　治以辛寒，佐以苦鹹，以甘瀉之。</p>
<p>少陰復　治以鹹寒，佐以苦辛，以甘瀉之，以酸收之，辛苦發之，咸軟之。</p>
<p>太陰濕化</p>
<p>司天　平以苦熱，佐以酸辛，以苦燥之，淡泄之。</p>
<p>濕上甚而為熱　治以苦溫，佐以甘辛，以汗為故而止。</p>
<p>熱勝　治以苦寒，佐以苦酸。</p>
<p>在泉　治以苦熱，佐以酸淡，以苦燥之，淡泄之。　熱勝　治以苦冷，佐以鹹甘，以苦平之。　太陰客　以甘補之，苦瀉之，甘緩之。</p>
<p>土之主　其瀉以苦，補以甘。</p>
<p>太陰勝　治以咸熱，佐以辛甘，以苦瀉之。</p>
<p>太陰復　治以苦熱，佐以酸辛，以苦瀉之、燥之、泄之。</p>
<p>少陽火化</p>
<p>司天　平以酸冷，佐以苦甘，以酸收之，</p>
<p>苦發之，酸復之。</p>
<p>寒勝　治以甘熱，佐以苦辛。</p>
<p>在泉　治以鹹冷，佐以苦辛，以酸收之，苦發之。</p>
<p>寒勝　治以甘熱，佐以苦辛，以鹹平之。</p>
<p>少陽客　以咸補之，甘瀉之，咸軟之。　火之主　其瀉以甘，補以咸。</p>
<p>少陽勝　治以辛寒，佐以甘鹹，以甘瀉之。</p>
<p>少陽復　治以鹹冷，佐以苦辛，以咸軟之，酸收之，辛苦發之。</p>
<p>陽明燥化　司天　平以苦溫，佐以酸辛，以苦下之。</p>
<p>熱勝　治以辛寒，佐以苦甘。</p>
<p>在泉　治以苦溫，佐以甘辛，以苦下之。</p>
<p>熱勝　治以平寒，佐以苦甘，以酸平之。</p>
<p>陽明客　以酸補之，辛瀉之，苦泄之。</p>
<p>金之主　其瀉以辛，補以酸。</p>
<p>陽明勝　治以酸溫，佐以辛甘，以苦泄之。</p>
<p>陽明覆治以辛溫，佐以苦甘，以苦泄之、下之，酸補之。</p>
<p>太陽寒化</p>
<p>司天　平以辛熱，佐以甘苦，以咸瀉之。</p>
<p>熱勝　治以鹹冷，佐以苦辛。</p>
<p>在泉　治以甘熱，佐以苦辛，以咸瀉之，辛潤之，苦堅之。</p>
<p>熱勝　治以鹹冷，佐以甘辛，以苦平之。</p>
<p>太陽客　以苦補之，咸瀉之，苦堅之，辛潤之。</p>
<p>水之主　其瀉以咸，補以苦。</p>
<p>太陽勝　治以甘熱，佐以辛酸，以咸瀉之。</p>
<p>太陽復　治以咸熱，佐以甘辛，以苦堅之。</p>
