<header data-type="book">
<h1>脈經</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王叔和</dd></div>
<div><dt>朝代</dt><dd>晉</dd></div>
<div><dt>底本</dt><dd>電子文本整理自行政院中醫藥委員會94年文本CM038</dd></div>
</dl>
</header>
<h2>脈經卷之一</h2>
<p>脈形狀指下祕訣第一
平脈早晏法第二
分別三關境界脈候所主第三
辨尺寸陰陽榮衛度數第四
平脈視人大小長短男女逆順法第五
持脈輕重法第六
兩手六脈所主五藏六腑陰陽逆順第七
辨腑藏病脈陰陽大法第八
辨脈陰陽大法第九
平虛實第十
縱橫逆順伏匿脈第十一
辨災怪恐怖雜脈第十二
遲疾短長雜脈第十三
平人得病所起脈第十四
診病將差難已脈第十五</p>
<h3>脈形狀指下祕訣第一（二十四種）</h3>
<p>浮脈、舉之有餘，按之不足。（浮於手下）芤脈、浮大而軟，按之中央空、兩邊實。
（一曰，手下無，兩傍有）洪脈、極大，在指下。（一曰，浮而大）滑脈、
往來前卻流利展轉，替替然，與數相似。（一曰浮中如有力，一曰漉漉如欲脫）數脈、
去來促急。（一曰一息六七至，數者進之名）促脈、來去數，時一止，復來。弦脈、
舉之無有，按之如弓弦狀。（一曰如張弓弦，按之不移，又曰浮緊為弦）緊脈、
數如切繩狀。（一曰如轉索之無常）沈脈、舉之不足，按之有餘。
（一曰重按之乃得）伏脈、極重指按之，著骨乃得。（一曰手下裁動，一曰按之不足、
舉之無有，一曰關上沈不出，名曰伏）革脈、有似沈伏，實大而長微弦。（千金翼，
以革為牢）實脈、大而長微強，按之隱指，愊愊然。
（一曰沈浮皆得）微脈、極細而軟，或欲絕，若有若無。（一曰小也，一曰手下快，
一曰浮而薄，一曰按之如欲盡）濇脈、細而遲、往來難、且散，或一止復來。
（一曰浮而短，一曰短而止，或日散也）細脈、小大於微、常有，但細耳。
軟脈、極軟而浮細。（一曰按之無有，舉之有餘，一曰小而軟，軟亦作濡，曰濡者，
如帛衣在水中，輕手相得）弱脈、極軟而沈細，按之欲絕指下。（一曰按之乃得，
舉之無有）虛脈、遲大而軟，按之不足，隱指、豁豁然空。散脈、大而散，
散者氣實血虛，有表無裏。緩脈、去來亦遲，小駛於遲。（一曰浮大而軟，
陰與陽同等）遲脈、呼吸三至，去來極遲。（一曰舉之不足，按之盡牢，
一曰按之盡牢，舉之無有）結脈、往來緩、時一止，復來。（按之來緩、時一止者，
名結陽，初來動止，更來小數，不能自還，舉之則動，
名結陰）代脈、來數中止、不能自還，因而復動，脈結者生，代者死。
動脈、見於關上，無頭尾，大如豆，厥厥然動搖。（傷寒論云，陰陽相搏，名曰動，
陽動則汗出，陰動則發熱形冷惡寒，數脈見於關上，上下無頭尾，如豆大，
厥厥動搖者，名曰動）浮與芤相類，（與洪相類）弦與緊相類，革與實相類，
（千金翼云，牢與實相類）滑與數相類，沈與伏相類，微與濇相類軟與弱相類，
緩與遲相類。</p>
<h3>平脈早晏法第二</h3>
<p>黃帝問曰，夫診脈常以平旦，何也，岐伯對曰，平旦者、陰氣未動，陽氣未散，
飲食未進，經脈未盛，絡脈調勻，血氣未亂，故乃可診，過此、非也，（千金同，
素問太素云，有過之脈）切脈動靜而視精明，察五色，觀五藏有餘不足，六腑強弱，
形之盛衰，以此參伍、決死生之分。</p>
<h3>分別三關境界脈候所主第三</h3>
<p>從魚際至高骨，（其骨自高）卻行一寸，其中名曰寸口，從寸至尺，名曰尺澤，
故曰尺寸，寸後尺前名曰關，陽出陰入，以關為界，陽出三分，陰入三分，
故曰三陰三陽，陽生於尺動於寸，陰生於寸動於尺，寸主射上焦、出頭及皮毛竟手，
關主射中焦、腹及腰，尺主射下焦、少腹至足。</p>
<h3>辨尺寸陰陽榮衛度數第四</h3>
<p>夫十二經皆有動脈，獨取寸口以決五藏六腑死生吉凶之候者、何謂也，
然寸口者、脈之大會，手太陰之動脈也，人一呼，脈行三寸，一吸，脈行三寸，
呼吸定息，脈行六寸，人一日一夜，凡一萬三千五百息，脈行五十度，周於身，
漏水下百刻，榮衛行陽二十五度，行陰亦二十五度，為一周，
（晬時也）故五十度而復會於手太陰，太陰者寸口也，即五臟六腑之所終始，
故取法於寸口。脈有尺寸，何謂也，然尺寸者脈之大會要也，從關至尺，是尺內，
陰之所治也，從關至魚際，是寸口內，陽之所治也，故分寸為尺，分尺為寸，
故陰得尺內一寸，陽得寸內九分，尺寸終始，一寸九分，故曰尺寸也。
脈有太過有不及，有陰陽相乘，有覆有溢，有關有格，何謂也，然關之前者，
陽之動也，脈當見九分而浮，過者法曰太過，減者、法曰不及，遂上魚為溢，
為外關內格，此陰乘之脈也，關之後者、陰之動也，脈當見一寸而沈，
過者、法曰太過，減者、法曰不及，遂入尺為覆，為內關外格，此陽乘之脈，
故曰覆、溢、是真藏之脈也，人不病自死。</p>
<h3>平脈視人大小長短男女逆順法第五</h3>
<p>凡診脈當視其人大小長短、及性氣緩急，脈之遲速大小長短，皆如其人形性者則吉，
反之者則為逆也，脈三部大都欲等，只如小人婦人細人脈小軟，小兒四五歲脈，
呼吸八至，細數者吉。〔千金翼云，人大而脈細，人細而脈大，人樂而脈實，
人苦而脈虛，性急而脈緩，性緩而脈躁，人壯而脈細，人羸而脈大，此皆為逆，
逆則難治，反此為順，順則易治，凡婦人脈常欲濡弱於丈夫，小兒四五歲者脈自駛疾，
呼吸八至也，男左大為順，女右大為順，肥人脈沈，瘦人脈浮〕</p>
<h3>持脈輕重法第六</h3>
<p>脈有輕重，何謂也，然初持脈，如三菽之重，與皮毛相得者，肺部也，（菽者小豆，
言脈輕如三小豆之重，呂氏作大豆，皮手之間者，肺氣所行，
故言肺部也）如六菽之重，與血脈相得者，心部也，（心主血、脈、次於肺，
如六豆之重）如九菽之重，與肌肉相得者，脾部也，（脾在中央主肌肉，故次心，
如九豆之重）如十二菽之重，與筋平者，肝部也，（肝主筋，又在脾下，
故次之）按之至骨、舉之來疾者，腎部也，腎主骨，其脈沈至骨）故曰輕重也。</p>
<h3>兩手六脈所主五藏六腑陰陽逆順第七</h3>
<p>脈法讚云，肝心出左，脾肺出右，腎與命門，俱出尺部，魂魄穀神，皆見寸口，
左主司官，右主司府，左大順男，右大順女，關前一分，人命之主，左為人迎，
右為氣口，神門訣斷，兩在關後，人無二脈，病死不愈，諸經損減，各隨其部，
察按陰陽，誰與先後，（千金云，三陰三陽，誰先誰後）陰病治官，陽病治府，
奇邪所舍，如何捕取，審而知者，鍼入病愈。心部，在左手關前寸口，是也，
即手少陰經也，與手太陽為表裏，以小腸合為府，合於上焦，名曰神庭，
在龜尾（一作鳩尾）下五分。肝部，在左手關上，是也，足厥陰經也，
與足少陽為表裏，以膽合為府，合於中焦，名曰胞門，（一作少陽）在大倉左右三寸。
腎部，在左手關後尺中，是也，足少陰經也，與足太陽為表裏，以膀胱合為府，
合於下焦，在關元左。肺部，在右手關前寸口，是也，手太陰經也，與手陽明為表裏，
以大腸合為府，合於上焦，名呼吸之府，在雲門。脾部，在右手關上，是也，
足太陰經也，與足陽明為表裏，以胃合為府，合於中焦脾胃之間，名曰章門，
在季肋前一寸半。腎部，在右手關後尺中，是也，足少陰經也，與足太陽為表裏，
以膀胱合為府，合於下焦，在關元右，左屬腎，右為子戶，名曰三焦。</p>
<h3>辨藏腑病脈陰陽大法第八</h3>
<p>脈何以知藏腑之病也，然數者腑也，遲者藏也，數即有熱，遲即生寒，諸陽為熱，
諸陰為寒，故別知藏腑之病也。（腑者陽，故其脈數，藏者陰，故其脈遲，陽行遲，
病則數，陰行疾，病則遲）脈來浮大者，此為肺脈也，脈來沈滑，堅如石，腎脈也，
脈來如弓弦者，肝脈也，脈來疾去遲，心脈也，脈來當見而不見為病，
病有淺深但當知如何受邪。</p>
<h3>辨脈陰陽大法第九</h3>
<p>脈有陰陽之法，何謂也，然呼出、心與肺，吸入、腎與肝，呼吸之間，脾受穀味也，
其脈在中，浮者陽也，沈者陰也，故曰陰陽。心肺俱浮，何以別之，然浮而大散者，
心也，浮而短濇者，肺也，腎肝俱沈，何以別之，然牢而長者，肝也，
按之耎舉指來實者，腎也，脾者中州，故其脈在中，（千金翼云，遲緩而長者，
脾也）是陰陽之脈也。脈有陽盛陰虛，陰盛陽虛，何謂也，然浮之損小，沈之實大，
故曰陰盛陽虛，沈之損小，浮之實大，
故曰陽盛陰虛是陰陽虛實之意也（陽脈見寸口浮而實大，今輕手浮之，更損減而小，
故言陽虛，重手按之，反更實大而沈，故言陰實）。經言脈有一陰一陽，一陰二陽，
一陰三陽，有一陽一陰，一陽二陰，一陽三陰，如此言之，
寸口有六脈俱動耶然經言如此者，非有六脈俱動也，謂浮沈長短滑濇也，浮者陽也，
滑者陽也，長者陽也，沈者陰也，濇者陰也，短者陰也，所以言一陰一陽者，
謂脈來沈而滑也，一陰二陽者，謂脈來沈滑而長也，一陰三陽者，謂脈來浮滑而長，
時一沈也，所以言一陽一陰者，謂脈來浮而濇也，一陽二陰者，謂脈來長而沈濇也，
一陽三陰者，謂脈來沈濇而短，時一浮也，各以其經所在，名病之逆順也。
凡脈大為陽，浮為陽，數為陽，動為陽，長為陽，滑為陽，沈為陰，濇為陰，弱為陰，
弦為陰，短為陰，微為陰，是為三陰三陽也，陽病見陰脈者，反也，主死，
陰病見陽脈者，順也，主生，關前為陽，關後為陰，陽數則吐血，陰微則下利，
（○林億校千金方，引，作陰濇即下血）陽弦則頭痛，陰弦則腹痛，陽微則發汗，
陰微則自下，陽數口生瘡，陰數加微，必惡寒而煩撓不得眠也，陰附陽則狂，
陽附陰則癲，得陽屬腑，得陰屬臟，無陽則厥，無陰則嘔，陽微則不能呼，
陰微則不能吸，呼吸不足，胸中短氣，依此陰陽以察病也。寸口脈浮大而疾者，
名曰陽中之陽，病苦煩滿，身熱，頭痛，腹中熱。寸口脈沈細者，名曰陽中之陰，
病苦悲傷不樂，惡聞人聲，少氣，時汗出，陰氣不通，臂不能舉。尺脈沈細者，
名曰陰中之陰，病苦兩脛酸疼，不能久立，陰氣衰，小便餘瀝，陰下濕癢。
尺脈滑而浮大者，名曰陰中之陽，病苦小腹痛滿，不能溺，溺即陰中痛，大便亦然。
尺脈牢而長，關上無有，此為陰干陽，其人苦兩脛重，少腹引腰痛。寸口脈壯大，
尺中無有，此為陽干陰，其人苦腰背痛，陰中傷（○按千金方無中字）足脛寒。
夫風傷陽，寒傷陰，陽病順陰，陰病逆陽，陽病易治，陰病難治，在腸胃之間，
以藥和之，若在經脈之間，鍼灸病已。</p>
<h3>平虛實第十</h3>
<p>人有三虛三實，何謂也，然有脈之虛實，有病之虛實，有診之虛實，脈之虛實者，
脈來耎者為虛，牢者為實，病之虛實者，出者為虛，入者為實，言者為虛，
不言者為實，緩者為虛，急者為實，診之虛實者，癢者為虛，痛者為實，外痛內快，
為外實內虛，內痛外快，為內實外虛，故曰虛實也。問曰，何謂虛實，答曰，
邪氣盛則實，精氣奪則虛，何謂重實，所謂重實者，言大熱病，氣熱脈滿，是謂重實，
問曰，經絡俱實如何，何以治之，答曰，經絡皆實，是寸脈急而尺緩也，當俱治之，
故曰滑則順，濇則逆，夫虛實者皆從其物類始五藏，骨肉滑利，可以長久。</p>
<h3>從橫逆順伏匿脈第十一</h3>
<p>問曰，脈有相乘，有從有橫，有逆有順，何謂也，師曰，水行乘火，金行乘木，
名曰從，火行乘水，木行乘金，名曰橫，水行乘金，火行乘木，名曰逆，金行乘水，
木行乘火，名曰順。經言脈有伏匿者，伏匿於何藏而言伏匿也，
然謂陰陽更相乘更相伏也，脈居陰部，反見陽脈者，為陽乘陰也，脈雖時沈濇而短，
此陽中伏陰也，脈居陽部，反見陰脈者，為陰乘陽也，脈雖時浮滑而長，
此為陰中伏陽也，重陰者癲，重陽者狂，脫陽者見鬼，脫陰者目盲。</p>
<h3>辨災怪恐怖雜脈第十二</h3>
<p>問曰，脈有殘賊何謂，師曰，脈有弦，有緊，有濇，有滑，有浮，有沈，
此六脈為殘賊，能與諸經作病。問曰，嘗為人所難，緊脈何所從而來，師曰，
假令亡汗若吐，肺中寒故令緊，假令欬者，坐飲冷水，故令緊，假令下利者，
以胃中虛冷，故令緊也。問曰，翕奄沈名曰滑，何謂，師曰，沈、為純陰，
翕、為正陽，陰陽和合，故脈滑也。問曰，脈有災怪何謂，師曰，假令人病脈得太陽，
脈與病形證相應，因為作湯，比還，送湯之時，病者因反吐若下利，病腹中痛，
因問言我前來脈時，不見此證，今反變異，故是名為災怪，因問何緣作此吐利，答曰，
或有先服藥，今發作，故為災怪也。問曰，人病恐怖，其脈何類，師曰，脈形如循絲，
累累然，其面白脫色。問曰，人媿者，其脈何等類，師曰，其脈自浮而弱，
面形乍白乍赤。問曰，人不飲其脈何類，師曰，其脈自濇，而脣口乾燥也。
言遲者風也，搖頭言者其裏痛也，行遲者其表彊也，坐而伏者短氣也，
坐而下一膝者必腰痛裏實，護腹如懷卵者必心痛。師持脈、病人欠者無病也，
脈之因呻者無病也，（一曰呻者病也）假令向壁臥，聞師到，不驚起，而目盻視，
（一云反面仰視）若三言三止，脈之咽唾，此為詐病，假令脈自和處言，此病太重，
當須服吐下藥，針灸數十百處，乃愈。</p>
<h3>遲疾短長雜脈法第十三</h3>
<p>黃帝問曰，余聞胃氣手少陽，三焦，四時五行脈法，夫人言脈有三陰三陽，知病存亡，
脈外以知內，尺寸大小，願聞之，岐伯曰，寸口之中，外別浮沈，前後左右，
虛實死生之要，皆見寸口之中，脈從前來者為實邪，從後來者為虛邪，
從所不勝來者為賊邪，從所勝來者為微邪，自病（一作得）者為正邪，外結者病癰腫，
內結者病疝瘕也，間來而急者，病正在心、癥氣也，脈來疾者為風也，
脈來滑者為病食也，脈來滑躁者病有熱也，脈來澀者為病寒濕也，脈逆順之道，
不與眾謀。師曰，夫呼者脈之頭也，初持之來疾去遲，此為出疾入遲，為內虛外實，
初持脈來遲去疾，此為出遲入疾，為內實外虛也，脈數則在府，遲則在藏，脈長而弦，
病在肝，（扁鵲云病出於肝）脈小血少，病在心，（扁鵲云脈大而洪，
病出於心）脈下堅上虛，病在脾胃，（扁鵲云病出於脾胃）脈滑（一作澀）而微浮，
病在肺，（扁鵲云病出於肺）脈大而堅，病在腎，（扁鵲云小而緊）脈滑者多血少氣，
脈澀，少血多氣脈大者血氣俱多，又云，脈來大而堅者血氣俱實，脈小者血氣俱少，
又云，脈來細而微者血氣俱虛，沈細滑疾者熱，遲緊者寒，（又云洪數滑疾為熱，
濇遲沈細為寒）脈盛滑緊者病在外熱，脈小實而緊者病在內冷，脈小弱而濇謂之久病，
脈滑而疾者謂之新病，脈滑，其人外熱，風走刺，有飲，難治，脈沈而緊，上焦有熱，
下寒得冷，即便下，脈沈而細，下焦有寒，小便數，時苦絞痛，下利重，
脈浮緊且滑直者，外熱內冷，不得大小便，脈洪大緊急，病速進在外，苦頭發熱癰腫，
脈細小緊急，病速進在中，寒為疝瘕積聚，腹中刺痛，脈沈重而直前絕者，
其病血在腸間，脈沈重而中散者，因寒食成瘕，脈直前而中散絕者，病消渴，
（一云病浸淫痛）脈沈重，前不至寸口，徘徊絕者，病在肌肉遁尸，脈左轉而沈重者，
氣癥陽在胸中，（○按陽字誤，千金方作傷）脈右轉出不至寸口者，內有肉癥，
脈累累如貫珠不前至，有風寒在大腸，伏留不去，脈累累中止不至，寸口輭者，
結熱在小腸膜中，伏留不去，脈直前左右彈者，病在血脈中胚血也，脈後而左右彈者，
病在筋骨中也，脈前大後小，即頭痛目眩，脈前小後大，即胸滿短氣，上部有脈，
下部無脈，其人當吐，不吐者死，上部無脈，下部有脈，雖困無所苦，
夫脈者血之府也，長則氣治，短則氣病，數則煩心，大則病進，上盛則氣高，
下盛則氣脹，代則氣衰，細則氣少，（太素，細作滑）濇則心痛，渾渾革革至如涌泉，
病進而危，弊弊綽綽，其去如絃絕者死，短而急者病在上，長而緩者病在下，
沈而絃急者病在內，浮而洪大者病在外，脈實者病在內，脈虛者病在外，在上為表，
在下為裏，浮為在表，沈為在裏。</p>
<h3>平人得病所起第十四</h3>
<p>何以知春得病，無肝脈也，無心脈、夏得病，無肺脈，秋得病，無腎脈，冬得病，
無脾脈、四季之月得病。假令肝病者，西行，若食雞肉得之，當以秋時發，
得病以庚辛日也，家有腥死女子見之以明要為災，不者若感金銀物得之，
（○袁校本云明要二字疑誤）。假令脾病，東行，若食雉兔肉，及諸木果實得之，
不者當以春時發，得病以甲乙日也。假令心病，北行，若食豚魚得之，
不者當以冬時發，得病以壬癸日也。假令肺病，南行，若食馬肉及麞鹿肉得之，不者，
當以夏時發，得病以丙丁日也。假令腎病，中央，若食牛肉及諸土中物得之，
不者當以長夏時發，得病以戊己日也。假令得王脈，當於縣官家得之。假令得相脈，
當於嫁娶家得之，或相慶賀家得之。假令得胎脈，當於產乳家得之。假令得囚脈，
當於囚徒家得之。假令得休脈，其人素有宿病，不治自愈。假令得死脈，
當於死喪家感傷得之。何以知人露臥得病，陽中有陰也。何以知人夏月得病，
諸陽入陰也。何以知人食飲中毒，浮之無陽，微細之不可知也，但有陰脈，來疾去疾，
此相為水氣之毒也，脈遲者食乾物得之。</p>
<h3>診病將差難已脈第十五</h3>
<p>問曰，假令病人欲差，脈而知愈，何以別之，師曰，寸關尺，大小遲疾浮沈同等，
雖有寒熱不解者，此脈陰陽為平復，當自愈。人病，其寸口之脈與人迎之脈，
大小及浮沈等者，病難已。</p>
<h2>脈經卷之二</h2>
<p>平三關陰陽二十四氣脈第一
平人迎神門氣口前後脈第二
平三關病候并治宜第三
平奇經八脈病第四（入脈為病，不在十二經，故以繫此卷之末）</p>
<h3>平三關陰陽二十四氣脈第一</h3>
<p>左手關前寸口陽絕者，無小腸脈也，苦臍痹，小腹中有疝瘕，王月即冷上搶心，
刺手心主經，治陰，心主在掌後橫理中。（即太陵穴也）左手關前寸口陽實者，
小腸實也，苦心下急痹，（一作急痛）小腸有熱，小便赤黃，刺手太陽經，治陽，
（一作手少陽者非）太陽在手小指外側本節陷中。
（即後谿穴也）左手關前寸口陰絕者，無心脈也，苦心下毒痛，
（○按千金方毒作熱）掌中熱，時時善嘔，口中傷爛，刺手太陽經，治陽。
左手關前寸口陰實者，心實也，苦心下有水氣，憂恚發之，刺手心主經治陰。
左手關上陽絕者，無膽脈也，苦膝疼，口中苦，眯目，善畏如見鬼狀，多驚少力，
刺足厥陰經，治陰，在足大指間，（即行間穴也）或刺三毛中。左手關上陽實者，
膽實也，苦腹中實不安，（○按千金方無實字）身軀習習也，刺足少經，治陽，
在足上第二指本節後一寸。（第二指當云小指次指，即臨泣穴也）左手關上陰絕者，
無肝脈也，苦癃，遺溺難言，脅下有邪氣，善吐，刺足少陽經，治陽。
左手關上陰實者，肝實也，苦肉中痛動，善轉筋，刺足厥陰經，治陰。
左手關後尺中陽絕者，無膀胱脈也，苦逆冷，婦人月使不調，王月則閉，男子失精，
尿有餘瀝，刺足少陰經，治陰，在足內踝下動脈。
（即太谿穴也）左手關後尺中陽實者，膀胱實也，苦逆冷，脇下有邪氣，相引痛，
刺足太陽經，治陽，在足小指外側本節後陷中。（即束骨穴也）左手關後尺中陰絕者，
無腎脈也，苦足下熱，兩髀裏急，精氣竭，少勞倦所致，刺足太陽經，治陽。
左手關後尺中陰實者，腎實也，苦恍惚健忘，目視䀮䀮，耳聾悵悵善鳴，刺足少陰經，
治陰。右手關前寸口陽絕者，無大腸脈也，苦少氣，心下有水氣，立秋節即欬，
刺手太陰經，治陰，在魚際間。（即太淵穴也）右手關前寸口陽實者，大腸實也，
苦腸中切痛，如錐刀所刺，無休息時，刺手陽明經，治陽，在手腕中。
（即陽谿穴也）右手關前寸口陰絕者，無肺脈也，苦短氣欬逆，喉中寒，
（○按千金方作塞）噫逆，刺手陽明經，治陽。右手關前寸口陰實者，肺實也，
苦少氣，胸中滿，彭彭與肩相引，刺手太陰經，治陰。右手關上陽絕者，無胃脈也，
苦吞酸頭痛，胃中有冷，刺足太陰經，治陰，在足大指本節後一寸。
（即公孫穴也）右手關上陽實者，胃實也，苦腸中伏伏，（一作愊愊）不思食物，
得食不能消，刺足陽明經，治陽，在足上動脈。（即衝陽穴也）右手關上陰絕者，
無脾脈也，苦少氣下利，腹滿身重，四胑不欲動，善嘔，刺足陽明經，治陽。
右手關上陰實者，脾實也，苦腸中伏伏如堅狀，大便難，刺足太陰經，治陰。
右手關後尺中陽絕者，無子戶脈也，苦足逆寒絕產，帶下，無子，陰中寒，
刺足少陰經，治陰。右手關後尺中陽實者，膀胱實也，苦少腹滿，引腰痛，
刺足太陽經，治陽。右手關後尺中陰絕者，無腎脈也，苦足逆冷上搶，胸痛，
夢入水見鬼，善厭寐，黑色物來掩人上，刺足太陽經，治陽。右手關後尺中陰實者，
腎實也，苦骨疼腰脊痛，內寒熱，刺足少陰經，治陰。</p>
<h3>平人迎神門氣口前後脈第二</h3>
<p>心實
左手寸口人迎以前脈陰實者，手厥陰經也，病苦閉，大便不利，腹滿，四肢重，
身熱，苦胃脹，刺三里。（○按千金方無末六字）
心虛
左手寸口人迎以前脈陰虛者，手厥陰經也，病苦悸恐不樂，心腹痛，難以言，
心如寒，狀恍惚。
小腸實
左手寸口人迎以前脈陽實者，手太陽經也，病苦身熱，熱來去，汗出，
（一作汗不出）而煩，心中滿，身重，口中生瘡。
小腸虛
左手寸口人迎以前脈陽虛者，手太陽經也，病苦顱際偏頭痛，耳頰痛。
心小腸俱實
左手寸口人迎以前脈陰陽俱實者，手少陰與太陽經俱實也，病苦頭痛，身熱，
大便難，心腹煩滿不得臥，以胃氣不轉，水穀實也。
心小腸俱虛
左手寸口人迎以前脈陰陽俱虛者，手少陰與太陽經俱虛也，苦洞泄，苦寒少氣，
四肢寒，腸澼。
肝實
左手關上脈陰實者，足厥陰經也，病苦心下堅滿，常兩脇痛，自忿忿如怒狀。
肝虛
左手關上脈陰虛者，足厥陰經也，病苦脇下堅，寒熱，腹滿不欲飲食，腹脹，
悒悒不樂，婦人月經不利，腰腹痛。
膽實
左手關上脈陽實者，足少陽經也，病苦腹中氣滿，飲食不下，咽乾，頭重痛，
洒洒惡寒，脇痛。
膽虛
左手關上脈陽虛者，足少陽經也，病苦眩、厥、痿，足、指不能搖，躄坐不能起，
僵仆，目黃失精䀮䀮。
肝膽俱實
左手關上脈陰陽俱實者，足厥陰與少陽經俱實也，病苦胃脹嘔逆，食不消。
肝膽俱虛
左手關上脈陰陽俱虛者，足厥陰與少陽經俱虛也，病苦恍惚，尸厥不知人，妄見少氣，
不能言，時時自驚。
腎實
左手尺中神門以後脈陰實者，足少陰經也，病苦膀胱脹閉，少腹與腰脊相引痛。
〔○按原本此下又有一條云，左手尺中神門以後脈陰實者，足少陰經也，病苦舌燥，
咽腫，心煩，嗌乾，胸脅時痛，喘咳汗出，小腹脹滿，腰背強急，體重骨熱，
小便赤黃，好怒好忘，足下熱疼，四肢黑，耳聾，檢前後文並止一條，
不應腎實獨分為二，詳此條本千金文，林億校千金方，引脈傳寫已久，
誤以為原文而并刊之耳，今刪去〕
腎虛
左手尺中神門以後脈陰虛者，足少陰經也，病苦心中悶，下重，足腫不可以按地。
膀胱實
左手尺中神門以後脈陽實者，足太陽經也，病苦逆滿，腰中痛不可俛仰，勞也。
膀胱虛
左手尺中神門以後脈陽虛者，足太陽經也，病苦腳中筋急，腹中痛，引腰背，
不可屈伸，轉筋，惡風，偏枯腰痛，外踝後痛。
腎膀胱俱實
左手尺中神門以後脈陰陽俱實者，足少陰與太陽經俱實也，病苦脊彊，反折戴眼，
氣上搶心，脊痛不能自反側。
腎膀胱俱虛
左手尺中神門以後脈陰陽俱虛者，足少陰與太陽經俱虛也，病苦小便利，心痛背寒，
時時少腹滿。
肺實
右手寸口氣口以前脈陰實者，手太陰經也，病苦肺脹，汗出若露，上氣喘逆，
咽中塞如欲嘔狀。
肺虛
右手寸口氣口以前脈陰虛者，手太陰經也，病苦少氣不足以息，嗌乾不朝津液。
大腸實
右手寸口氣口以前脈陽實者，手陽明經也，病苦腹滿善喘欬，面赤身熱，
咽喉中如核狀。
大腸虛
右手寸口氣口以前脈陽虛者，手陽明經也，病苦胸中喘，腸鳴虛渴、脣口乾，目急、善
驚、泄白。
肺大腸俱實
右手寸口氣口以前脈陰陽俱實者，手太陰與陽明經俱實也，病苦頭痛目眩，驚狂，
喉痹痛，手臂捲，脣吻不收。（○袁校本云，捲一作睠）
肺大腸俱虛
右手寸口氣口以前脈陰陽俱虛者，手太陰與陽明經俱虛也，病苦耳鳴嘈嘈，
時妄見光明，情中不樂，或如恐怖。
脾實
右手關上脈陰實者，足太陰經也，病苦足寒，脛熱腹脹滿，煩擾，不得臥。
脾虛
右手關上脈陰虛者，足太陰經也，病苦泄注，腹滿氣逆，霍亂嘔吐，黃疸，
心煩不得臥，腸鳴。
胃實
右手關上脈陽實者，足陽明經也，病苦腹中堅痛而熱，（千金作病苦頭痛）汗不出，
如溫瘧，脣口乾善噦，乳癰，缺盆腋下腫痛。
胃虛
右手關上脈陽虛者，足陽明經也，病苦脛寒不得臥，惡寒洒洒，目急，腹中痛，
虛鳴，（外臺作耳虛鴨）時寒時熱，脣口乾，面目浮腫。
脾胃俱實
右手關上脈陰陽俱實者，足太陰與陽明經俱實也，病苦脾脹腹堅，搶脇下痛，
胃氣不轉，大便難，時反泄利，腹中痛上衝肺肝，動五藏，立喘鳴，多驚，身熱，
汗不出，喉痹，精少。
脾胃俱虛
右手關上脈陰陽俱虛者，足太陰與陽明經俱虛也，病苦胃中如空狀，少氣不足以息，
四逆寒，泄注不已。
腎實
右手尺中神門以後脈陰實者，足少陰經也，病苦痹，身熱心痛，脊脇相引痛，
足逆熱煩。
腎虛
右手尺中神門以後脈陰虛者，足少陰經也，病苦足脛小弱，惡風寒，脈代絕時不至，
足寒，上重下輕，行不可以按地，少腹脹滿，上搶胸脇，痛引肋下。
膀胱實
右手尺中神門以後脈陽實者，足太陽經也，病苦轉胞，不得小便，頭眩痛煩滿，
脊背強。
膀胱虛
右手尺中神門以後脈陽虛者，足太陽經也，病苦肌肉振動，腳中筋急，
耳聾忽忽不聞，惡風，颼颼作聲。
腎膀胱俱實
右手尺中神門以後脈陰陽俱實者，足少陰與太陽經俱實也，病苦癲疾，
頭重與目相引痛厥，欲起走，反眼大風，多汗。
腎膀胱俱虛
右手尺中神門以後脈陰陽俱虛者，足少陰與太陽經俱虛也，病苦心痛，
若下重不自收篡反出，時時苦洞泄，寒中泄，腎心俱痛。（一說云腎有左右，
膀胱無二，今用當以左腎合膀胱，右腎合三焦）</p>
<h3>平三關病候并治宜第三</h3>
<p>寸口脈浮，中風發熱頭痛，宜服桂枝湯，葛根湯，針風池風府，向火炙身，摩治風膏，
覆令汗出。寸口脈緊，苦頭痛骨肉疼，是傷寒，宜服麻黃湯，發汗，針眉衝顳顬，
摩治傷寒膏。寸口脈微，苦寒為衂，宜服五味子湯，摩茱萸膏，令汗出。寸口脈數，
即為吐，以有熱在胃管，熏胸中，宜服藥吐之，及針胃管，服除熱湯，
若是傷寒七八日至十日，熱在中，煩滿渴者，宜服用知母湯。寸口脈緩，皮膚不仁，
風寒在肌肉，宜服防風湯，以藥薄熨之，摩以風膏，灸諸治風穴。寸口脈滑，陽實，
胸中壅滿，吐逆，宜服前胡湯，針太陽巨闕瀉之。寸口脈絃，心下愊愊，微頭痛，
心下有水氣，宜服甘遂丸，針期門瀉之。寸口脈弱，陽虛，自汗出而短氣，
宜服茯苓湯，內補散，適飲食消息勿極勞，針胃管補之。寸口脈澀，是胃氣不足，
宜服乾地黃湯，自養，調和飲食，針三里補之。（三里一作胃管）寸口脈芤，
吐血微芤者，衂血空虛，血去故也，宜服竹皮湯，黃土湯，灸膻中。寸口脈伏，
胸中逆氣，噎塞不通，是胃中冷氣上衝心胸，宜服前胡湯，大三建丸，針巨闕上管，
灸膻中。寸口脈沈，胸中引脇痛，胸中有水氣，宜服澤漆湯，針巨闕瀉之。寸口脈濡，
陽氣弱，自汗出，是虛損病，宜服乾地黃湯，薯蕷丸，內補散，牡蠣散，并粉，
針太衝補之。寸口脈遲，上焦有寒，心痛咽酸，吐酸水，宜服附子湯，生薑湯，
茱萸丸，調和飲食以煖之。寸口脈實，即生熱在脾肺，嘔逆氣塞虛，即生寒在脾胃，
食不消化，有熱，即宜服竹葉湯，葛根湯，有寒，即宜服茱萸丸，生薑湯。寸口脈細，
發熱嘔吐，（○按原本嘔作吸，依千金方改）宜服黃芩龍膽湯，吐不止，
宜服橘皮桔梗湯，灸中府。寸口脈洪大，胸脇滿，宜服生薑湯，白薇丸，
亦可紫菀湯下之，針上管、期門、章門。右上部寸口十七條關脈浮，腹滿不欲食，
浮為虛滿，宜服平胃丸，茯苓湯，生薑前胡湯，針胃管，先瀉後補之。關脈緊，
心下苦滿急痛脈緊者為實，宜服茱萸當歸湯，又大黃湯、兩治之，良，針巨闕下管，
瀉之。（千金云服茱萸當歸湯，又加大黃二兩，佳）關脈微，胃中冷，心下拘急，
宜服附子湯，生薑湯，附子丸，針巨闕補之。關脈數，胃中有客熱，宜服知母丸，
除熱湯，針巨闕上管瀉之。關脈緩，其人不欲食，此胃氣不調，脾氣不足，
宜服平胃丸，補肺湯，針章門補之。關脈滑，胃中有熱，滑為熱實，以氣滿故不欲食，
食即吐逆，宜服紫菀湯下之，大平胃丸，針胃管瀉之。（千金云宜服朴消麻黃湯，
平胃丸）關脈絃，胃中有寒，心下厥逆，此以胃氣虛故爾，宜服茱萸湯，溫調飲食，
針胃管補之。關脈弱胃氣虛，胃中有客熱，脈弱為虛熱作病，其說云有熱不可大攻之，
熱去則寒起止，宜服竹葉湯，針胃管補之。關脈濇，血氣逆冷，脈濇為血虛，
以中焦有微熱，宜服乾地黃湯，內補散，針足太衝上補之。關脈芤，大便去血數升者，
以膈腧傷故也，宜服生地黃，并生竹皮湯，灸膈腧，若重下去血者，針關元，甚者，
宜服龍骨丸，必愈。關脈伏中膲有水氣溏泄，宜服水銀丸，針關元利小便，溏泄便止。
關脈沈，心下有冷氣，苦滿吞酸，宜服白薇茯苓丸，附子湯，針胃管補之。關脈濡，
苦虛冷，脾氣弱，重下病，宜服赤石脂湯，女萎丸，針關元補之。關脈遲，胃中寒，
宜服桂枝丸，茱萸湯，針胃管補之。關脈實，胃中痛，宜服梔子湯，茱萸烏頭丸，
針胃管補之。關脈牢，脾胃氣塞，盛熱，即腹滿響響，宜服紫菀丸，瀉脾丸，
針灸胃管瀉之。關脈細，脾胃虛腹滿，宜服生薑茱萸蜀椒湯白薇丸，針灸三管。
關脈洪，胃中熱，必煩滿，宜服平胃丸，針胃管，先瀉後補之。
右中部關脈十八條尺脈浮，下熱風，小便難，宜瞿麥湯，滑石散，針橫骨關元，瀉之。
尺脈緊，臍下痛，宜服當歸湯，灸天樞，針關元補之。尺脈微，厥逆，小腹中拘急，
有寒氣，宜服小建中湯，（一本更有四順湯）針氣海。尺脈數，惡寒，臍下熱痛，
小便赤黃，宜服雞子湯白魚散，針橫骨瀉之。尺脈緩，腳弱下腫，小便難，有餘瀝，
宜服滑石湯，瞿麥散，針橫骨瀉之。尺脈滑，血氣實，婦人經脈不利，男子溺血，
宜服朴消煎，大黃湯下，去經血，針關元瀉之。尺脈絃，小腹疼，小腹及腳中拘急，
宜服建中湯，當歸湯、針氣海瀉之。尺脈弱，陽氣少，（○按千金方無陽字）發熱，
骨煩，宜服前胡湯，乾地黃湯，茯苓湯，針關元補之。尺脈濇，足脛逆冷，小便赤，
宜服附子四逆湯，針足太衝補之。尺脈芤，下焦虛，小便去血，宜服竹皮生地黃湯，
灸丹田關元，亦針補之。尺脈伏，小腹痛，癥疝，水穀不化，宜服大平胃丸，桔梗丸，
針關元補之。（桔梗丸，一云結腸丸）尺脈沈，腰背痛，宜服腎氣丸，針京門補之。
尺脈濡，苦小便難（千金云腳不收，風痹），宜服瞿麥湯，白魚散，針關元瀉之。
尺脈遲，下焦有寒，宜服桂枝丸，針氣海關元補之。尺脈實，小腹痛，小便不禁，
宜服當歸湯，加大黃一兩，以利大便，針關元補之，止小便。尺脈牢，腹滿，陰中急，
宜服葶藶子茱萸丸，針丹田，關元，中極。右下部尺脈十六條</p>
<h3>平奇經八脈病第四</h3>
<p>脈有奇經八脈者何謂也，然有陽維、陰維，有陽蹻、陰蹻，有衝、有督、有任、有帶、
之脈，凡此八脈者，皆不拘於經，故曰奇經八脈也，經有十二，絡有十五，凡二十七，
氣相隨上下，何獨不拘於經也，然聖人圖設溝渠，通利水道，以備不虞，天雨降下，
溝渠溢滿，霶霈妄行，當此之時，聖人不能復圖也，此絡脈流溢，諸經不能復拘也。
奇經八脈者，既不拘於十二經，皆何起何繫也，然陽維者起於諸陽之會，
陰維者起於諸陰之交，陽維陰維者，維絡于身，溢畜不能環流溉灌諸經者也，
陽蹻者起於跟中，循外踝而上行入風池，陰蹻者亦起於跟中，循內踝而上行至咽喉，
交貫衝脈，衝脈者起於關元，循腹裏，直上至咽喉中，（一云衝脈者，起於氣衝，
並陽明之經，夾臍上行，至胸中而散也）督脈者起於下極之輸，並於脊裏，循背，
上至風府，衝脈者陰脈之海也，督脈者陽脈之海也，任脈者起於胞門子戶，
夾臍上行至胸中，（一云任脈者，起於中極之下以上毛際，循腹裏，上關元，
至喉咽）帶脈者，起於季肋，迴身一周，此八者皆不繫於十二經，故曰奇經八脈者也。
奇經之為病何如，然陽維維於陽，陰維維於陰，陰陽不能相維，悵然失志，
容容不能自收持，（悵然者，其人驚，即維脈緩，緩則令身不能自收持，
即失志善忘恍惚也）陽維為病，苦寒熱，陰維為病苦心痛，（陽維為衛，衛為寒熱，
陰維為榮，榮為血，血者主心，故心痛也）陰蹻為病，陽緩而陰急，（陰蹻在內踝，
病即其脈急，當從內踝以上急，外踝以上緩）陽蹻為病，陰緩而陽急，（陽蹻在外踝，
病，即其脈急，其人當從外踝以上急，內踝以上緩）衝之為病，逆氣而裏急，
（衝脈從關元至喉咽故其為病，逆氣而裏急）督之為病，脊彊而厥，（督脈在脊，
病即其脈急，故令脊彊也）任之為病，其內苦結，男子為七疝，女子為瘕聚，
（任脈起於胞門子戶，故其病結，為七疝瘕聚）帶之為病，苦腹滿，
腰容容若坐水中狀，（帶脈者，回帶人之身體，病即其脈緩，
故令腰容容也）此奇經八脈之為病也。診得陽維脈浮者，蹔起目眩，陽盛實，苦肩息，
洒洒如寒。診得陰維脈沈大而實者，苦胸中痛，脇下支滿心痛。
診得陰維如貫珠者男子兩脇實，腰中痛，女子陰中痛，如有瘡狀。
診得帶脈左右遶臍腹腰脊痛，衝陰股也。兩手脈，浮之俱有陽，沈之俱有陰，
陰陽皆實盛者，此為衝督之脈也，衝督之脈者，十二經之道路也，衝督用事，
則十二經不復朝於寸口，其人皆苦恍惚狂癡，不者，必當由豫有兩心也。
兩手陽脈浮而細微，綿綿不可知，俱有陰脈，亦復細綿綿，此為陰蹻陽蹻之脈也，
此家曾有病鬼魅風死，苦恍惚亡人為禍也。診得陽蹻病拘急，陰蹻病緩。尺寸俱浮，
直上直下，此為督脈，腰背彊痛，不得俛仰，大人癲病，小人風癎。脈來中央浮，
直上下痛者，（○按痛字未詳，奇經考，引作動，蓋以意改）督脈也，動。
苦、腰背膝寒，大人癲，小兒癇也，灸頂上三丸。（正當頂上）尺寸脈俱牢，
（一作芤）直上直下，此為衝脈，胸中有寒疝也。脈來中央堅實，徑至關者，衝脈也，
動、苦、少腹痛，上搶心，有瘕疝，絕孕，遺失溺，脇支滿煩也。橫寸口邊丸丸，
此為任脈，苦腹中有氣如指，上搶心，不得俛仰，拘急。脈來緊細實長至關者，
任脈也，動、苦、少腹繞臍下引橫骨陰中切痛，取臍下三寸。</p>
<h2>脈經卷之三</h2>
<p>肝膽部第一
心小腸部第二
脾胃部第三
肺大腸部第四
腎膀胱部第五</p>
<h3>肝膽部第一</h3>
<p>肝象木（肝於五行象木）與膽合為府（膽為清淨之府）其經，足厥陰，
（厥陰肝脈）與足少陽為表裏，（少陽膽脈也，藏陰府陽，故為表裏）其脈絃，
（絃、肝脈之大形也）其相冬三月（冬水王，木相）王、春三月，
廢、夏三月（夏、火王，木廢）囚、季夏六月，（季夏、土王木囚）死、秋三月，
（秋、金，王木死）其王日甲乙，王時平旦日出，（並木也）其困日戊己，
困時食時日昳，（並土也）其死日庚辛，死時晡時日入，
（並金也）其神魂（肝之所藏者魂）其主色，其養筋，
（肝氣所養者筋）其候目（肝候出目，故肝實則目赤）其聲呼，其色青，其臭臊，
（月令云其臭羶）其液泣，（泣出肝）其味酸，其宜苦，（苦火味也）其惡辛，
（辛、金味）肝俞在背第九椎，募在期門，（直兩乳下二肋端）膽俞在背第十椎，
募在日月。（穴在期門下五分）右新撰（並出素問諸經，昔人撰集，或混雜相涉，
煩而難了，今抄事要，分別五藏，各為一部）冬至之後，得甲子，
少陽起於夜半肝家王，（冬至者歲終之節，甲子日者，陰陽更始之數也，少陽膽也，
膽者木也，生於水，故起夜半，其氣常微少，故言少陽云夜半，
子者水也）肝者、東方木，（肝與膽為藏府，故主東方，應木行也）萬物始生，
其氣來耎而弱，寬而虛，（春少陽氣溫和耎弱，故萬物自生焉）故脈為絃，
（肝氣養於筋，故其脈絃，強亦法木體強也）耎即不可發汗，弱即不可下，寬者開，
開者通，通者利，故名曰寬而虛，（言少陽始起尚耎弱，人榮衛腠理開通，
發即汗出不止，不可下，下之而泄利不禁，故言寬虛通利也）春以胃氣為本，
不可犯也（胃者土也，萬物稟土而生，胃亦養五藏，故肝王以胃氣為本也，
不可犯者不可傷也）。
右四時經
黃帝問曰，春脈如絃，何如而絃，岐伯曰，春脈肝也，東方木也，萬物之所以始生也，
故其氣來濡弱輕虛而滑，端直以長故曰絃，反此者病，黃帝曰，何如而反，岐伯曰，
其氣來實而強，此為太過，病在外，其氣來不實而微，此為不及，病在中，黃帝曰，
春脈太過與不及，其病皆何如，岐伯曰，太過則令人善忘，
（忘當作怒）忽忽眩冒而癲疾，不及則令人胸脇痛引背，下則兩脇胠滿，黃帝曰善。
肝脈來濡弱，招招如揭竿末梢曰平，（巢原云，綽綽如按琴瑟之絃，如揭長竿，
曰平）春以胃氣為本，肝脈來盈實而滑，如循長竿，曰肝病，肝脈來急而益勁，
如新張弓絃，曰肝死。真肝脈至，中外急，如循刀刃責責然，（巢原云，
賾賾然）如按琴瑟絃，色青白不澤，毛折乃死。春胃微絃曰平，絃多胃少曰肝病，
但絃無胃曰死，有胃而毛曰秋病，毛甚曰今病。肝藏血，血舍魂，悲哀動中則傷魂，
魂傷則狂妄不精，不敢正當人，（不精不敢正當人，一作其精不守，
令人陰縮）陰縮而筋攣，兩脇骨不舉，毛悴色夭，死于秋。春肝木王，其脈絃細而長，
名日平脈也，反得浮濇而短者，（千金云微澀而短）是肺之乘肝，金之刻木，
為賊邪大逆，十死不治，（一本云日月年數至三，忌庚辛）反得洪大而散者，
（千金云浮大而洪）是心之乘肝，子之扶母為實邪，雖病自愈，反得沈濡而滑者，
是腎之乘肝，母之歸子，為虛邪，雖病易治，反得大而緩者，是脾之乘肝，
土之陵木為微邪，雖病即差，肝脈來濯濯如倚竿，如琴瑟之絃，再至曰平，
三至曰離經病，四至脫精，五至死，六至命盡，足厥陰脈也。肝脈急甚為惡言，
微急為肥氣，在脇下若覆杯，緩甚為善嘔，微緩為水瘕痹，大甚為內癰善嘔衂，
微大為肝痹陰縮，（○按陰字原脫，今依甲乙經補）欬引少腹，小甚為多飲，
微小為消癉，滑甚為癲疝，微滑為遺溺，濇甚為淡飲，微濇為瘈瘲攣筋。足厥陰氣絕，
則筋縮，引卵與舌，厥陰者肝脈也，肝者筋之合也，筋者聚於陰器，而脈絡於舌本，
故脈弗營則筋縮急，筋縮急則引舌與卵，故脣青舌卷卵縮，則筋先死，
庚篤辛死金勝木也。肝死藏，浮之脈弱，按之中如索不來，或曲如蛇行者、死。
右素問鍼經、張仲景。</p>
<h3>心小腸部第二</h3>
<p>心象火，與小腸合為府，（小腸為受盛之府也）其經，手少陰，（手少陰，
心脈也）與手太陽為表裏，（手太陽，小腸脉也）其脈洪，
（洪、心脈之大形）其相春三月（木王火相）王，夏三月，廢，季夏六月，囚，
秋三月（金王，火囚）死，冬三月，（水王，火死）其王日丙丁，王時禺中日中，
其困日，庚辛，困時，晡時，日入，其死日，壬癸，死時，人定夜半，其藏神，
（心之所藏者神也）其主臭，其養血，（心氣所養者血）其候舌，其聲言，
（言由心出，故主言）其色赤，其臭焦，其液汗，其味苦，其宜甘，
（甘、脾味也）其惡醎，（醎、腎味也）心俞在背第五椎，（或云第七椎）募在巨闕，
（在心下一寸）小腸俞在背第十八椎，募在關元。（臍下三寸）
右新撰
心者南方火，（心主血，其色赤，故以夏王於南方，應火行）萬物洪盛，垂枝布葉，
皆下垂如曲，故名曰鉤，（心王之時，太陽用事，故草木茂盛，枝葉布舒，皆下垂曲，
故謂之鉤也）心脈，洪大而長，洪則衛氣實，實則氣無從出，（脉洪者衛氣實，
實則腠理密，密則氣無從出）大則榮氣萌，萌洪相薄，可以發汗，故名曰長，
（榮者血也，萌當為明字之誤耳，血王、故明且大也，榮明衛實，當須發動，
通其津液也）長洪相得，即引水漿溉灌經絡，津液皮膚，（夏熱陽氣盛，
故其人引水漿，潤灌肌膚，以養皮毛，猶草木須雨澤以長枝葉）太陽洪大皆是母軀，
幸得戊己，用牢根株，（太陽夏火，春木為其母，陽得春始生，名曰少陽，到夏洪盛，
名曰太陽，故言是母軀也，戊己土也，土為火子，火王即土相，
故用牢根株也）陽氣上出，汗見於頭，五月枯䓸，胞中空虛，醫反下之，此為重虛也，
（月當為內，䓸當為乾，枯燥也，皆字誤耳，內字似月，由來遠矣，遂以傳焉，
人頭者諸陽之會，夏時飲水漿、上出為汗，先從頭流於身軀，以實其表，是以五內乾，
枯燥，則胞中空虛，津液少也，胞者膀胱，津液之府也，愚醫不曉，故反下之，
令車虛也）脈浮有表無裏，陽無所使（陽盛脈浮，宜發其汗而反下之，損於陰氣，
陽為表，陰為裏，經言陽為陰使，陰為陽守，相須而行，脈浮故無裏也，治之錯逆，
故令陰陽離別，不能復相朝使）不但危身，并中其母。（言下之不但傷心，并復中肝）
右四時經
黃帝問曰，夏脈如鉤，何如而鉤，岐伯曰，夏脈心也，南方火也，萬物之所以盛長也，
故其氣來盛去衰，故曰鉤，反此者病，黃帝曰，何如而反，岐伯曰，其氣來盛去亦盛，
此謂太過，病在外，其來不盛去反盛，此謂不及，病在中，黃帝曰，夏脈太過，
與不及，其病皆何如，岐伯曰，太過、則令人身熱而膚痛為浸淫，不及、則令人煩心，
上見欬唾，下為氣泄，帝曰善。心脈來，累累如連珠，如循琅玕，曰平，
夏以胃氣為本，心脈來，喘喘（甲乙作累累）連屬，其中微曲，曰心病，心脈來，
前曲後居如操帶鉤，曰心死。真心脈至，堅而摶，如循薏苡子，累累然，其色赤黑，
不澤，毛折，乃死。夏胃微鉤曰平，鉤多胃少曰心病，但鉤無胃曰死，
有胃而石曰冬病，石甚曰今病。心藏脈，脈舍神，怵惕思慮則傷神，神傷則恐懼自失，
破䐃脫肉，毛悴色夭，死于冬。夏心火王，其脈洪大而散，
（千金作浮大而洪）名曰平脈，反得沈濡而滑者，是腎之乘心，水之刻火為賊邪，
大逆，十死不治，（一本云日月年數至二，忌壬癸）反得大而緩者，是脾之乘心，
子之扶母，為實邪，雖病自愈，反得絃細而長者，是肝之乘心，母之歸子，為虛邪，
雖病易治，反得浮，（千金浮作微）濇而短者，是肺之乘心，金之陵火，為微邪，
雖病即差。心脈來，累累如貫珠滑利，再至曰平，三至曰離經病，四至脫精，五至死，
六至命盡，手少陰脈也。心脈急甚為瘈瘲，微急為心痛引背，食不下緩甚為狂笑，
微緩為伏梁，在心下上下行，時唾血，大甚為喉介，微大為心痹，引背善淚出，
小甚為善噦，微小為消癉，滑甚為善渴，微滑為心疝引臍小腹鳴，濇甚為瘖，
微濇為血溢維厥，耳鳴癲疾。手少陰氣絕，則脈不通少陰者心脈也，
心者脈之合也脈不通則血不流，血不流則髮色不澤，故其面黑如漆柴者，血先死，
壬篤癸死，水勝火也。心死藏，浮之脈實如豆麻擊手，按之益躁疾者，死。
右素問鍼經張仲景</p>
<h3>脾胃部第三</h3>
<p>脾象土，與胃合為府（胃為水穀之府），其經足太陰（太陰、脾之脈也），
與足陽明為表裏，（陽明胃脈）其脈緩（緩、脾脈之大形也），其相，
夏三月（火王土相），王，季夏六月，廢，秋三月，囚，冬三月，死，春三月其王日，
戊己，王時，食時，日昳，困日，壬癸，困時，人定夜半，其死日，甲乙，
死時平旦日出（並木時也），其神意，其主味，其養肉，其候口，其聲歌，其色黃，
其臭香，其液涎，其味甘，其宜辛，其惡酸，脾愈在背第十一椎，
募在章門（季肋端是），胃俞在背第十二椎，募在太倉。
右新撰
脾者土也，敦而福，敦者厚也，萬物眾色不同（脾主水穀，其氣微弱，水穀不化，
脾為土行，王於季夏，土性敦厚，育養萬物，當此之時，草木備具，枝葉茂盛，
種類眾多，或青黃赤白黑，色各不同矣），故名曰德，福者廣也（土生養萬物，
當此之時，脾則同稟諸藏，故其德為廣大，○按正文德原本誤作得，又脫也字，
並依千金方補正）萬物懸根住莖，其葉在巔，蜎蜚蠕動，蚑蠷喘息，
皆蒙土恩（懸根住莖，草木之類也，其次則蠛蚋幾微之蟲，因陰陽氣，變化而生者也，
喘息、有血脈之類也，言普天之下，草木昆蟲，無不被蒙土之恩福也），德則為緩，
恩則為遲，故令太陰脈緩而遲，尺寸不同（太陰脾也，言脾王之時，脉緩而遲，
尺寸不同者，尺遲而寸緩也），酸醎苦辛，大（一作太）沙（一作涉，
一作妙）而生互行其時，而以各行，皆不群行，盡可常服〔肝酸，腎醎，心苦，
肺辛濇，皆四藏之味也，脾主調和五味，以稟四藏，四藏受味於脾，脾王之時，
其脈沙，（一作涉，一作妙）達於肌肉之中，互行人身軀，乃復各行，隨其四肢，
使其氣周匝，榮諸藏府，以養皮毛，皆不群行，至一處也，故言盡可常服也〕，
土寒則溫，土熱則涼（冬陽氣在下，土中溫煖，夏陰氣在下，土中清涼，脾氣亦然），
土有一子，名之曰金，懷挾抱之，不離其身，金乃畏火，恐熱來熏，遂棄其母，
逃歸水中，水自金子，而藏火神，閉門塞戶，內外不通（此謂冬時也，陽氣在中，
陽為火行，金性畏火，故恐熏之，金歸水中，而避火也，母子相得益盛，閉塞不通者，
言水氣充實，金在水中，此為強固，火無復得往刻之者，神密之類也），土亡其子，
其氣衰微，水為洋溢，浸漬為池（一作其地），走擊皮膚，面目浮腫，
歸於四胑（此為脾之衰，損土以防水，今土弱而水強，故水得陵之而妄行），
愚醫見水，直往下之，虛脾空胃，水遂居之，肺為喘浮（脾胃已病，宜扶養其氣，
通利水道，愚醫不曉而往下之，此為重傷水氣，遂更陵之，上侵胸中，肺得水而浮，
故言喘浮），肝反畏肺，故下沈沒（肺金肝木，此為相刻，肺浮則實必復刻肝，
故畏之沈沒於下），下有荊棘，恐傷其身，避在一邊，以為水流（荊棘木之類，
肝為木，今沒在下，則為荊棘，其身脾也，脾為土，土畏木，是以避在下一邊，
避木也，水流者水之流路也，土本刻水，而今微弱，又復觸木無復制水，
故水得流行），心衰則伏肝微則沈，故令脈伏而沈（心火肝木，火則畏水，而木畏金，
金水相得，其氣則實，刻於肝心，故令二藏衰微，脈為沈伏也），工醫來占，
因轉孔穴，利其溲便，遂通水道，甘液下流，亭其陰陽，喘息則微，汗出正流，
肝著其根，心氣因起，陽行四胑，肺氣亭亭，喘息則安（轉孔穴者，諸藏之榮井，
轉治使順，甘液脾之津液，亭其陰陽，得復其常所，故榮衛開通，水氣消除，
肝得還著其根株，肝心為母子，肝著則心氣得起，肺氣平調，故言亭亭，
此為端好之類），腎為安聲，其味為醎（肺主聲，腎為其子，助於肺，故言安聲，
醎、腎味也）倚坐母敗，洿臭如腥（金為水母，而歸水中，此為母往從子，脾氣反虛，
五藏由此相刻，賊倚倒致敗宅，洿臭而腥，故云然也），土得其子則成為山，
金得其母名曰邱矣。</p>
<p>右四時經
黃帝問曰，四時之序，逆順之變異也，然脾脈獨何主，岐伯曰，脾者土也，
孤藏以灌四旁者也，曰，然則脾善惡可得見乎，曰，善者不可得見，惡者可見，曰，
惡者何如，曰其來如水之流者，此謂太過，病在外，如鳥之喙，此謂不及，病在中，
太過則令人四肢沈重不舉，其不及則令人九竅壅塞不通，名曰重強。脾脈來，
而和柔相離，如雞足踐地曰平，長夏以胃氣為本，脾脈來，實而盈數如雞舉足，
曰脾病，脾脈來，堅兌如烏之喙，如鳥之距，如屋之漏，如水之溜曰脾死。真脾脈至，
弱而乍疎乍散（一作數），色青黃不澤，毛折，乃死。長夏胃微濡弱曰平，
弱多胃少曰脾病，但代無胃曰死，濡弱有石曰冬病，石甚曰今病。脾藏榮，榮舍意，
愁憂不解則傷意，意傷則悶亂，四胑不舉，毛悴色夭，死于春。六月季夏建未，
坤未之間土之位，脾王之時，其脈大，阿阿而緩，名曰平脈，反得絃細而長者，
是肝之乘脾，木之刻土，為賊邪，大逆，十死不治，反得浮（千金浮作微），
濇而短者，是肺之乘脾，子之扶母，為實邪，雖病自愈，
反得洪大而散者（千金作浮大而洪），是心之乘脾，母之歸子，為虛邪，雖病易治，
反得沈濡而滑者，腎之乘脾，水之陵土，為微邪，雖病即差。
脾脈萇萇而弱（千金萇萇作長長），來疎去數，再至曰平，三至曰離經病，四至脫精，
五至死，六至命盡，足太陰脈也。脾脈急甚為瘈瘲，微急為膈中滿，食飲入而還出，
後沃沫，緩甚為痿厥，微緩為風痿，四肢不用，心慧然若無病，大甚為擊仆，
微大為痞氣裹大膿血在腸胃之外，小甚為寒熱，微小為消癉，滑甚為㿗癃，
微滑為蟲毒、蚘腸鳴熱，濇甚為腸㿗，微濇為內潰，多下膿血也。足太陰氣絕，
則脈不營其口脣，口脣者肌肉之本也，脈不營則肌肉濡，肌肉濡則人中滿，
人中滿則脣反，脣反者肉先死，甲篤乙死，木勝土也。脾死藏，
浮之脈大緩（一作堅），按之中如覆杯，絜絜狀如搖者死。
（一作漐漐狀如炙肉）右素問鍼經張仲景</p>
<h3>肺大腸部第四</h3>
<p>肺象金，與大腸合為府（大腸為傳導之府也），其經手太陰（手太陰，肺脈也），
與手陽明為表裏（手陽明大腸脈也），其脈浮（浮、肺脈之大形也），其相，
季夏六月（季夏土王金相），其王，秋三月，
廢、冬三月、囚、春三月、死、夏三月（夏、火王企死），其王日庚辛，
王時晡時日入，其困日、甲乙，困時、平旦日出，其死日，丙丁、死時、禺中日中，
其神魄，其主聲，其養皮毛，其候鼻，其聲哭，其色白，其臭腥，其液涕，其味辛，
其宜醎，其惡苦，肺俞在背第三椎（或云第五椎也），募在中府（直兩乳上二肋間），
大腸俞在背第十六椎，募在天樞。（俠臍旁，各一寸半）</p>
<p>右新撰
肺者西方金、萬物之所終（金性剛，故王西方，割斷萬物，萬物是以皆終於秋也），
宿葉落柯，萋萋枝條，其杌然獨在（○按千金方無其字），
其脈為微浮毛（○按千金方無毛字），衛氣遲（萋萋者零落之貌也，
言草木宿葉、得秋隨風而落，但有枝條杌然獨在，此時陽氣則遲，脈為虛微如毛也），
榮氣數數則在上，遲則在下，故名曰毛（諸陽脈數，諸陰脈遲，榮為陰不應數，
反言榮氣數，陰得秋節而昇，轉在陽位，故一時數而在上也，此時陰始用事，
陽即下藏，其氣反遲，是以肺脈數散如毛也），陽當陷而不陷，陰當昇而不昇，
為邪所中（陰陽交易，則不以時定，一氣感激，故為風寒所中），陽中邪則捲，
陰中邪則緊，捲則惡寒，緊則為慄，寒慄相薄，故名曰瘧弱則發熱，
浮乃來出（捲者其人Ａ捲也，緊者脉緊也，此謂初中風寒之時，脈緊、其人則寒，
寒止而脉更微弱，弱則其人發熱，熱止則脈浮，浮者瘧解，王脉出也）旦中旦發，
暮中暮發（言瘧發，皆隨其初中風邪之時也）藏有遠近，脈有遲疾，周有度數，
行有漏刻（藏謂人五藏，肝心脾肺腎也，心肺在膈上，呼則其氣出，是為近，呼為陽，
其脈疾，腎肝在膈下，吸則其氣入，是為遠也，吸為陰，其脈遲，度數謂經脈之長短，
周身行者，榮衛之行也，行陰陽各二十五度為一周也，以應漏下百刻也），
遲在上傷毛采，數在下傷下焦，中焦，有惡則見，有善則匿（秋則陽氣遲，陰氣數，
遲當在下，數當在上，隨節變，故言傷毛采也，人之皮毛，肺氣所行，下焦在臍下，
陰之所治也，其脈應遲，今反數，故言傷下焦，中焦脾也，其平善之時脈常自不見，
衰乃見耳，故云有惡則見也），陽氣下陷，陰氣則溫（言陽氣下陷，溫養諸藏），
陽反在下，陰反在巔，故名曰長而且留。（陰陽交代，各順時節，人血脈和平，
言可長留竟一時）</p>
<p>右四時經
黃帝問曰，秋脈如浮，何如而浮，岐伯對曰，秋脈肺也，西方金也，
萬物之所以收成也，故其氣來，輕虛而浮，其氣來急去散，故曰浮，
反此者病黃帝曰何如而反，岐伯曰，其氣來，毛而中央堅，兩旁虛，此謂太過，
病在外，其氣來，毛而微，此謂不及，病在中，黃帝曰秋脈太過與不及其病何如，
岐伯曰，太過、則令人氣逆而背痛溫溫然（內經，溫溫作慍慍），不及、則令人喘，
呼吸少氣而欬，上氣見血下聞病音。肺脈來，厭厭聶聶如落榆莢，曰肺平，
秋以胃氣為本（難經云厭厭聶聶如循榆葉，曰春平脈，藹藹如車蓋，按之益大，
曰秋平脈），肺脈來，不上不下，如循雞羽，曰肺病（巢源無不字），肺脈來，
如物之浮，如風吹毛，曰肺死。真肺脈至，大而虛，如以毛羽中人，膚色赤白不澤，
毛折乃死。秋胃微毛曰平，毛多胃少曰肺病，但毛無胃曰死，毛而有絃曰春病，
絃甚曰今病。肺藏氣，氣舍魄，喜樂無極則傷魄，魄傷則狂，狂者意不存人，皮革焦，
毛悴色夭，死于夏。秋金肺王，其脈浮（千金浮作微），濇而短曰平脈，
反得洪大而散者（千金作浮大而洪），是心之乘肺，火之刻金，為賊邪，大逆，
十死不治（一本云，日月年數至四，忌丙丁），反得沈濇而滑者，是腎之乘肺，
子之扶母，為實邪，雖病自愈，反得大而緩者，是脾之乘肺，母之歸子，為虛邪，
雖病易治，反得絃細而長者，是肝之乘肺，木之陵金，為微邪，雖病即差。肺脈來，
汎汎輕如微風吹鳥背上毛，再至曰平，三至曰離經病，四至脫精，五至死，六至命盡，
手太陰脈也，肺脈急甚為癲疾，微急為肺寒熱，怠惰，欬唾血，引腰背胸，
苦鼻息肉不通，緩甚為多汗，微緩為痿偏風（一作漏風），頭以下汗出不可止，
大甚為脛腫，微大為肺痹，引胸背起腰內，小甚為飱泄，微小為消癉，滑甚為息賁，
上氣，微滑為上下出血，濇甚為嘔血，微濇為鼠瘻，在頸支掖之間，下不勝其上，
其能喜酸（○按此其字，甲乙經作甚），手太陰氣絕，則皮毛焦，
太陰者行氣溫皮毛者也，氣弗營則皮毛焦，皮毛焦則津液去，津液去則皮節傷，
皮節傷者則爪（爪字一作皮），枯毛折，毛折者則氣（氣字一作毛），先死，
丙丁篤死，火勝金也。肺死藏，浮之虛，按之弱如蔥葉，下無根者死。
右素問鍼經張仲景</p>
<h3>腎膀胱部第五</h3>
<p>腎象水，與膀胱合為府（膀胱為津液之府），其經足少陰（足少陰腎脈也），
與足太陽為表裏（足太陽、膀胱脈也），其脈沈（沈，腎脈之大形也），其相，
秋三月（秋金王水相），其王，冬三月，廢、春三月，囚、夏三月，其死、季夏六月，
其王日壬癸，王時人定夜半，其困日丙丁，困時禺中日中，其死日戊己，
死時食時日昳，其神志（腎之所藏者志也）其主液，其養骨，其候耳，其聲呻，
其色黑，其臭腐，其液唾，其味醎，其宜酸，其惡甘，腎俞在背第十四椎，募在京門，
膀胱俞在第十九椎，募在中極（橫骨上一寸，在臍下五寸前陷者中）。
右新撰
腎者北方水，萬物之所藏（冬則北方用事，王在三時之後，腎在四藏之下，
故王北方也，萬物春生，夏長，秋收，冬藏），百蟲伏蟄（冬伏蟄不食之蟲，
言有百種也），陽氣下陷，陰氣上升，陽氣中出，陰氣烈為霜，遂不上升，化為雪霜，
猛獸伏蟄，蜾蟲匿藏（陽氣下陷者，謂降於土中也，其氣猶越而昇出，陰氣在上，
寒盛，陽氣雖昇出，而不能自致，因而化作霜雪，或謂陽氣中出，是十月，則霜降，
猛獸伏蟄者，蓋謂龍蛇冬時而潛處，蜾蟲無毛甲者，得寒皆伏蟄，逐陽氣，所在如此，
避冰霜自溫養也），其脈為沈，沈為陰在裏，不可發汗，發則蜾蟲出，
見其霜雪（陽氣在下，故冬脈沈，溫養於藏府，此為裏實而表虛，復從外發其汗，
此為逆治，非其法也，猶百蟲伏蟄之時，而反出土，見冰霜，必死不疑，逆治者死，
此之謂也）陰氣在表，陽氣在藏，慎不可下，下之者傷睥，
脾土弱則水氣妄行（陽氣在下，溫養諸藏，故不可下也，下之既損於陽氣，
而脾胃復傷，土以防水，而今反傷之，故令水得盈溢而妄行也），
下之者（○按千金方無此三字），如魚出水，蛾入湯（言治病逆則殺人，如魚出水，
蛾入湯火之中，即死），重客在裏，慎不可熏，熏之逆客，
其息則喘（重客者猶陽氣也，重者尊重之貌也，陽位尊，處於上，今一時在下，
非其常所，故言客也，熏謂燒針，及以湯火之輩，熏發其汗，如此則客熱從外入，
與陽氣相薄，是為逆也，氣上熏胸中，故令喘息），無持客熱，令口爛瘡（無持者，
無以湯火發熏其汗也，熏之則火氣入裏為客熱，故令其口生瘡），陰脈且解，
血散不通，正陽遂厥，陰不往從（血行脈中，氣行脈外，五十周而復會，
如環之無端也，血為陰，氣為陽相須而行，發其汗，使陰陽離，則脈為解散，
血不得通，厥者逆也，謂陽氣逆而不復相朝使，治病失所，故陰陽錯逆，可不慎耶），
客熱狂入，內為結胸（陰陽錯亂，外熱狂入，留結胸中也），脾氣遂弱，
清溲痢通（脾主水穀，而氣微弱，水穀不化，下痢不息，清者廁也，溲從水道出，
而反清，溲者，是謂下痢至廁也）。
右四時經
黃帝問曰，冬脈如營，何如而營，岐伯對曰，冬脈腎也，北方水也，萬物之所以合藏，
故其氣來沈而搏（甲乙作濡），故曰營，反此者病，黃帝曰，何如而反，岐伯曰，
其氣來如彈石者，此為太過，病在外，其去如數者，此謂不及，病在中，黃帝曰，
冬脈太過與不及，其病皆如何，岐伯曰，太過、則令人解㑊，脊脈痛，而少氣，
不欲言，不及、則令人心懸如病飢，䏚中 清，脊中痛，小腹滿，小便黃赤。腎脈來，
喘喘累累如鉤，按之而堅，曰腎平，冬以胃氣為本，腎脈來，如引葛，按之益堅，
曰腎病，腎脈來，發如奪索，辟辟如彈石，曰腎死。真腎脈至搏而絕，如以指彈石，
辟辟然，其色黃黑不澤，毛折，乃死。冬胃微石曰平，石多胃少曰腎病，
但石無胃曰死，石而有鉤曰夏病，鉤甚曰今病（凡人以水穀為本，故人絕水穀則死，
脈無胃氣亦死，所謂無胃氣者，但得真藏脈，不得胃氣也，所謂脈不得胃氣者，
肝不弦，腎不石也）。腎藏精，精舍志，盛怒而不止則傷志，志傷則善忘其前言，
腰脊痛，不可以俛仰屈伸，毛悴色夭，死於季夏，冬腎水王，其脈沈濡而滑曰平，
脈反得大而緩者，是脾之乘腎，土之刻水，為賊邪，大逆，
十死不治（一本云日月年數至一，忌戊己），反得絃細而長者，是肝之乘腎，
子之扶母，為實邪，雖病自愈，反得浮（千金作微），濇而短者，是肺之乘腎，
母之歸子，為虛邪，雖病易治，反得洪大而散者（千金作浮大而洪），是心之乘腎，
火之陵水，為微邪雖病即差。腎脈沈細而緊再至曰平，三至曰離經病，四至脫精，
五至死，六至命盡，足少陰脈也。腎脈急甚為骨痿癲疾，微急為奔豚，沈厥，足不收，
不得前後，緩甚為折脊，微緩為洞下，洞下者食不化，入咽還出，大甚為陰痿，
微大為石水，起臍下以至小腹、腫垂垂然上至胃管、死，不治，小甚為洞泄，
微小為消癉，滑甚為癃㿗，微滑為骨痿，坐不能起，目無所見，視見黑花，
濇甚為大癰，微濇為不月水，沈痔。足少陰氣絕則骨枯，少陰者冬脈也，
伏行而濡骨髓者也，故骨不濡，則肉不能著骨也，骨肉不相親則肉濡而卻，肉濡而卻，
故齒長而垢（難經垢字作枯），髮無澤髮無澤者骨先死戊篤己死，土勝水也。腎死藏，
浮之堅，按之亂如轉丸益下入尺中者、死。右素問鍼經張仲景</p>
<h2>脈經卷之四</h2>
<p>辨三部九候脈證第一
平雜病脈第二
診五藏六府氣絕證候第三
診四時相反脈第四
診損至脈第五
診脈動止投數疎數死期年月第六
診百病死生訣第七
診三部虛實決死生第八</p>
<h3>辨三部九候脈證第一</h3>
<p>經言所謂三部者，寸關尺也，九候者，每部中有天地人也，上部主候，從胸以上至頭，
中部主候，從膈以下至氣街，下部主候，從氣街以下至足，浮沈，牢結，遲疾，滑濇，
各自異名，分理察之，勿怠觀變，所以別三部九候，知病之所起，審而明之，
針灸亦然也，故先候脈寸中（寸中、一作十中於九），浮在皮膚，沈細在裏，
昭昭天道，可得長久，上部之候，牢結沈滑，有積氣在膀胱，微細而弱，
臥引裏急頭痛，欬嗽逆氣上下，心膈上有熱者，口乾渴燥，病從寸口邪入上者，
名曰解，脈來至狀如琴絃，苦少腹痛，女子經月不利，孔竅生瘡，男子病痔，
左右脇下有瘡，上部不通者，苦少腹痛，腸鳴，寸口中虛弱者，傷氣，氣不足，
大如桃李實，苦痹也，寸口直上者，逆虛也，如浮虛者，泄利也，中部脈結者，
腹中積聚，若在膀胱，兩脇下有熱，脈浮而大，風從胃管入，水脹乾嘔，心下澹澹，
如有桃李核，胃中有寒時，苦煩痛，不食，食即心痛，胃脹支滿，膈上積，
脇下有熱時，寒熱，淋露，脈橫出上者，脇氣在膀胱，病即著右橫關入寸口中者，
膈中不通，喉中咽難，剌關元，入少陰，下部脈者，其脈來至浮大者脾也，
與風集合時，上頭痛引腰背，小滑者厥也，足下熱煩滿逆，上搶心上至喉中，
狀如惡肉，脾傷也，病少腹下，在膝諸骨節間，寒清不可屈伸，脈急如弦者，筋急，
足攣結者，四肢重，從尺，邪入陽明者，寒熱也，大風，邪入少陰，女子漏白下赤，
男子溺血，陰痿不起，引少腹疼。人有三百六十脈，法三百六十日，三部者寸關尺也，
尺脈為陰，陰脈常沈而遲，寸關為陽，陽脈俱浮而速，氣出為動，入為息，
故陽脈六息七息十三投，陰脈八息七息十五投，此其脈也，二十八脈相逐上下，
一脈不來，知疾所苦，尺勝治下，寸勝治上，尺寸俱平治中央，臍以上陽也，法於天，
臍以下陰也，法於地，臍為中關，頭為天，足為地，有表無裏，邪之所止得鬼病，
何謂有表無裏，寸尺為表，關為裏，兩頭有脈，關中絕不至也，尺脈上不至關為陰絕，
寸脈下不至關為陽絕，陰絕而陽微，死不治，三部脈或至或不至，冷氣在胃中，
故令脈不通也，上部有脈，下部無脈，其人當吐，不吐者死，上部無脈，下部有脈，
雖困無所苦，所以然者，譬如人之有尺，樹之有根（○按譬如二字，似當在有尺下，
然難經文與此同，則其誤已久，袁校本，改尺為足謬甚），雖枝葉枯槁，根本將自生，
木有根本，即自有氣，故知不死也，寸口脈平而死者何也，然諸十二經脈者，
皆係於生氣之原，所謂生氣之原者，非謂十二經之根本也（○按難經無非字），
謂腎間動氣也，此五藏六府之本，十二經之根，呼吸之門，三焦之原，
一名守邪之神也，故氣者人根本也，根絕則莖枯矣，寸口脈平而死者，
生氣獨絕於內也（腎間動氣，謂左為腎，右為命門，命門者精神之所舍，
原氣之所係也，一名守邪之神，以命門之神，固守邪氣，不得妄入，入即死矣，
此腎氣先絕於內，其人便死，其脈不復反得動氣也）。岐伯曰形盛脈細，
少氣不足以息者、死，形瘦脈大，胸中多氣者，死，形氣相得者生，參伍不調者病，
三部九候皆相失者、死，上下左右之脈相應如參舂者、病甚，
上下左右相失不可數者死，中部之脈雖獨調，與眾藏相失者、死，
中部之候相減者、死，目內陷者、死，黃帝曰，冬陰夏陽柰何，岐伯曰，
九候之脈、皆沈細懸絕者、為陰，主冬，故以夜半死盛躁喘數者為陽、主夏，
故以日中死，是故寒熱者平旦死，熱中及熱病者日中死，病風者以日夕死，
病水者以夜半死，其脈乍數乍疎、乍遲乍疾者，以日乘四季死，形肉已脫，九候雖調，
猶死，七診雖見，九候皆順者、不死，所言不死者，風氣之病，及經月之病，
似七診之病而非也，故言不死，若有七診之病，其脈候亦敗者，死矣，必發噦噫，
必審問其所始病，與今之所方病，而后各切循其脈，視其經絡浮沈，以上下逆順循之，
其脈疾者不病，其脈遲者病，脈不往來者死，皮膚著者死。兩手脈結上部者濡，
結中部者緩，結三里者豆起，弱反在關，濡反在巔，微在其上，濇反在下，
微即陽氣不足，沾熱汗出，濇即無血，厥而且寒。黃帝問曰，余每欲視色持脈，
獨調其尺，以言其病，從外知內為之柰何，岐伯對曰，審其尺之緩急小大滑澀，
肉之堅脆，而病形變定矣，調之何如，對曰，脈急者，尺之皮膚亦急，脈緩者，
尺之皮膚亦緩，脈小者，尺之皮膚減而少，脈大者，尺之皮膚亦大，脈滑者，
尺之皮膚亦滑，脈濇者尺之皮膚亦濇，凡此六變，有微有甚，故善調尺者，不待於寸，
善調脈者，不待於色，能參合行之、可為上工，尺膚滑以淖澤者風也，
尺內弱解㑊（○按甲乙經內作肉），安臥脫肉者寒熱也，尺膚濇者風痹也，
尺膚麤如枯魚之鱗者水淡飲也，尺膚熱甚脈盛躁者病溫也，其脈盛而滑者汗且出，
尺膚寒甚脈小（一作急）者泄少氣，尺膚烜然（烜然甲乙作熱炙人手），
先熱後寒者寒熱也，尺膚先寒久持之而熱者亦寒熱也，尺烜然熱、人迎大者，當奪血，
尺緊、人迎脈小，甚則少氣（○按林億校甲乙經引脈經云，尺緊於人迎者少氣），
色白有加者立死，肘所獨熱者腰以上熱，肘前獨熱者膺前熱，肘後獨熱者肩背熱，
肘後廉以下三四寸熱者（○按原本廉誤麤，又脫熱者二字，並依甲乙經補正），
腸中有蟲，手所獨熱者腰以上熱，臂中獨熱者腰腹熱，掌中熱者腹中熱，
掌中寒者腹中寒，魚上白肉有青血脈者胃中有寒。諸浮諸沈，諸滑諸澀，諸弦諸緊，
若在寸口，膈以上病，若在關上，胃以下病，若在尺中，腎以下病。寸口脈滑而遲，
不沈不浮，不長不短，為無病，左右同法。寸口太過與不及，寸口之脈中手短者，
曰頭痛，中手長者，曰足脛痛，中手促上擊者，曰肩背痛。寸口脈浮而盛者，病在外。
寸口脈沈而堅者，病在中。寸口脈沈而弱者，曰寒熱（一作氣，又作中），及疝瘕，
小腹痛。寸口脈沈而弱，髮必墮落。寸口脈沈而緊，苦心下有寒，時痛，有積聚。
寸口脈沈，胸中短氣。寸口脈沈而喘者，寒熱。寸口脈但實者，心勞。寸口脈緊或浮，
膈上有寒，肺下有水氣。脈緊而長過寸口者，注病。脈緊上寸口者，
中風風頭痛亦知之（千金翼云亦為傷寒頭痛）。脈弦上寸口者，宿食，降者頭痛。
脈來過寸入魚際者，遺尿。脈出魚際，逆氣喘息。寸口脈潎潎如羹上肥，陽氣微，
連連如蜘蛛絲，陰氣衰。寸口脈偏絕則臂偏不遂，其人兩手俱絕者不可治。
兩手前部陽絕者，苦心下寒毒，喙中熱。關上脈浮而大，風在胃中，張口肩息，
心下澹澹，食欲嘔。關上脈微浮，積熱在胃中，嘔吐蚘蟲，心健忘。
關上脈滑而小大不勻（千金云必吐逆），是為病方欲進，不出一二日，復欲發動，
其人欲多飲，飲即注利，如利止者生，不止者死。關上脈緊而滑者，蚘動。
關上脈澀而堅，大而實按之不減，有力，為中膲實，有伏結在脾肺氣塞，
實熱在胃中（澀脈與有力反，今並言者，浮之澀大，按之堅實，故言有力也）。
關上脈襜襜大而尺寸細者，其人必心腹冷積，癥瘕結聚，欲熱飲食。
關上脈時來時去乍大乍小乍疎乍數者，胃中寒熱，羸劣不欲飲食，如瘧狀。尺脈浮者，
客陽在下膲。尺脈細微，溏泄下冷利。尺脈弱寸強，胃絡脈傷。尺脈虛小者，足脛寒，
痿痹，腳疼。尺脈澀，下血下利多汗（素問又云尺溢脈滑，謂之多汗）。尺脈滑而疾，
為血虛。尺脈沈而滑者，寸白蟲。尺脈細而急者，筋攣痹不能行。尺脈麤常熱者，
謂之熱中，腰胯疼，小便赤熱。尺脈偏滑疾，面赤如醉，外熱則病。</p>
<h3>平雜病脈第二</h3>
<p>滑、為實為下（又為陽氣衰），數、為虛為熱，浮、為風為虛，動、為痛為驚，
沈、為水為實（又為鬼疰），弱、為虛為悸，遲、則為寒，濇、則少血，緩則為虛，
洪、則為氣（一作熱），緊、則為寒，弦數、為瘧。瘧脈自弦，弦數、多熱，
弦遲、多寒，微、則為虛，代散、則死，弦為痛痹（一作浮為風疰），偏弦、為飲，
雙弦、則脇下拘急而痛，其人嗇嗇惡寒，脈大、寒熱在中。伏者、霍亂。
安臥脈盛、謂之脫血。凡亡汗，肺中寒，飲冷水，欬嗽，下利，胃中虛冷，此等，
其脈並緊。浮而大者、風。浮而大者、中風頭重鼻塞。浮而緩皮膚不仁、風寒入肌肉。
滑而浮散者、攤緩風。滑者、鬼疰。澀而緊、痹病。浮洪大長者、風眩癲疾。
大堅疾者、癲病。弦而鉤，脇下如刀刺狀如蜚尸，至困、不死。緊而急者、遁尸。
洪大者，傷寒熱病。浮洪大者、傷寒，秋吉，春成病。浮而滑者，宿食。浮滑而疾者，
食不消，脾不磨。短疾而滑，酒病。浮而細滑，傷飲。遲而濇，中寒有癥結。駛而緊，
積聚有擊痛。弦急，疝瘕小腹痛，又為癖病（一作痹病）。遲而滑者、脹。盛而緊，
曰脹。弦小者，寒澼。沈而弦者，懸飲內痛。弦數，有寒飲，冬夏難治。緊而滑者，
吐逆。小弱而濇，胃反。遲而緩者，有寒。微而緊者，有寒。沈而遲，腹藏有冷病。
微弱者，有寒少氣。實緊，胃中有寒，苦不能食，時時利者，難治（一作時時嘔，
稽留，難治）。滑數，心下結，熱盛。滑疾，胃中有熱。緩而滑，曰熱中。
沈（一作浮）而急，病傷寒暴發虛熱。浮而絕者氣。辟大而滑，中有短氣。浮短者，
其人肺傷，諸氣微少，不過一年，死，法當嗽也。浮（○按千金方作沈）而數，中水，
冬不治愈。短而數，心痛心煩。弦而緊，脇痛藏傷，有瘀血（一作有寒血）。沈而滑，
為下重，亦為背膂痛。脈來細而滑，按之能虛，因急持直者僵仆從高墮下，病在內。
微浮，秋吉，冬成病。微數雖甚，不成病不可勞。浮滑疾緊者，以合百病，久易愈。
陽邪來，見浮洪。陰邪來，見沈細。水穀來，見堅實。脈來乍大乍小乍長乍短者，
為祟。脈來洪大嫋嫋者，社祟。脈來沈沈澤澤四肢不仁而重，土祟。脈與肌肉相得，
久持之至者可下之。弦小緊者，可下之。緊而數，寒熱俱發，必下乃愈。弦遲者，
宜溫藥。緊數者，可發其汗。</p>
<h3>診五藏六府氣絕證候第三</h3>
<p>病人肝絕，八日死，何以知之，面青但欲伏眠，目視而不見人，
汗（一作泣）出如水不止（一日，二日死）。病人膽絕七日死，何以知之，眉為之傾。
病人筋絕九日死，何以知之，手足爪甲青，呼罵不休（一日，八日死）。
病人心絕一日死，何以知之，肩息，回視，立死（一日，目亭亭，二日死）。
病人腸（一曰小腸）絕，六日死，何以知之，髮直如乾麻，不得屈伸，自汗不止。
病人脾絕，十二日死，何以知之，口冷足腫，腹熱，臚脹，泄利不覺，
出無時度（一日，五日死）。病人胃絕，五日死，何以知之，脊痛，腰中重，
不可反覆（一曰，腓腸平，九日死）。病人肉絕，六日死，何以知之，耳乾舌皆腫，
溺血，大便赤泄（一曰足腫九日死）。病人肺絕三日死，何以知之，
口張但氣出而不還（一曰鼻口虛張，短氣）。病人大腸絕不治，何以知之，泄利無度，
利絕則死。病人腎絕四日死，何以知之，齒為暴枯，面為正黑，目中黃色，腰中欲折，
自汗出如流水（一曰人中平，七日死）。病人骨絕，齒黃落，十日死。諸浮脈無根者，
皆死（巳上五藏六腑為根也）。</p>
<h3>診四時相反脈證第四</h3>
<p>春三月木王，肝脈治當先至，心脈次之，肺脈次之，腎脈次之，此為四時王相順脈也，
到六月土王，脾脈當先至，而反不至，反得腎脈，此為腎反脾也，七十日死，
何謂腎反脾，夏火王，心脈當先至，肺脈次之，而反得腎脈，是謂腎反脾，
期五月六月，忌丙丁。脾反肝，三十日死，何謂脾反肝，春、肝脈當先至，而反不至，
脾脈先至，是謂脾反肝，期正月二月，忌甲乙。腎反肝，三歲死，何謂腎反肝，
春、肝脈當先至，而反不至，腎脈先至，是謂腎反肝也，期七月八月，忌庚辛。
腎反心，二歲死，何謂腎反心，夏、心脈當先至，而反不至，腎脈先至，
是謂腎反心也，期六月，忌戊己。〔臣億等按，千金云，此中不論肺金之氣，
疎略未諭，指南又推五行，亦頗顛倒，待別求錄上〕</p>
<h3>診損至脈第五</h3>
<p>脈有損至，何謂也，然至之脈，一呼再至曰平，三至曰離經，四至曰奪精，五至曰死，
六至曰命絕，此至之脈也，何謂損，一呼一至曰離經，二呼一至曰奪精，
三呼一至曰死，四呼一至曰命絕，此損之脈也，至脈從下上，損脈從上下也，
損脈之為病柰何，然一損，損於皮毛，皮聚而毛落，二損，損於血脈，血脈虛少，
不能榮於五藏六腑也，三損，損於肌肉，肌肉消瘦，食飲不為肌膚，四損，損於筋，
筋緩不能自收持，五損，損於骨，骨痿不能起於床，反此者至於收病也，從上下者，
骨痿不能起於床者死，從下上者，皮聚而毛落者死，治損之法柰何，
然損其肺者益其氣，損其心者調其榮衛，損其脾者調其飲食，適其寒溫，損其肝者，
緩其中，損其腎者，益其精氣，此治損之法也，脈有一呼再至，一吸再至，一呼三至，
一吸三至，一呼四至，一吸四至，一呼五至，一吸五至，一呼六至，一吸六至，
一呼一至，一吸一至，再呼一至，再吸一至，呼吸再至，脈來如此，何以別知其病也，
然脈來一呼再至，一吸再至，不大不小，曰平，一呼三至，一吸三至，為適得其病，
前大後小，即頭痛目眩前小後大，即胸滿短氣，一呼四至，一吸四至，病適欲甚，
脈洪大者苦煩滿，沈細者腹中痛，滑者傷熱，濇者中霧露，一呼五至，一吸五至，
其人當困，沈細即夜加，浮大即晝加，不大小，雖困可治，其有大小者，為難治，
一呼六至，一吸六至，為十死脈也，沈細夜死，浮大晝死，一呼一至，一吸一至，
名曰損，人雖能行，猶當（一作猶未）著床，所以然者，血氣皆不足故也，再呼一至，
再吸一至，名曰無魂，無魂者當死也，人雖能行，名曰行尸。扁鵲曰，
脈一出一入曰平，再出一入少陰，三出一入太陰，四出一入厥陰，再入一出少陽，
三入一出陽明，四入一出太陽，脈出者為陽，入者為陰，故人一呼而脈再動，
氣行三寸，一吸而脈再動，氣行三寸，呼吸定息，脈五動，一呼一吸為一息，
氣行六寸，人十息，脈五十動，氣行六尺，二十息，脈百動，為一備之氣，以應四時，
天有三百六十五，日人有三百六十五節，晝夜漏下水百刻，一備之氣，脈行丈二尺，
一日一夜，行於十二辰，氣行盡，則周遍於身，與天道相合，故曰平，平者無病也，
一陰一陽是也，脈再動為一至，再至而緊即奪氣，一刻百三十五息，
十刻千三百五十息，百刻萬三千五百息，二刻為一度，一度氣行一周身，晝夜五十度，
脈三至者離經，一呼而脈三動，氣行四寸半，人一息脈七動，氣行九寸，
十息脈七十動，氣行九尺，一備之氣，脈百四十動，氣行一丈八尺，一周於身，
氣過百八十度，故曰離經，離經者病，一陰二陽是也，三至而緊則奪血，
脈四至則奪精，一呼而脈四動，氣行六寸，人一息，脈九動，氣行尺二寸，人十息，
脈九十動，氣行一丈二尺，一備之氣，脈百八十動，氣行二丈四尺，一周於身，
氣過三百六十度，再遍於身，不及五節，一時之氣而重至，諸脈浮濇者，
五藏無精難治，一陰三陽是也，四至而緊，則奪形，脈五至者死，一呼而脈五動，
氣行六寸半（當行七寸半），人一息，脈十一動，氣行尺三寸（當行尺五寸），
人十息，脈百一十動，氣行丈三尺（當行丈五尺），一備之氣，脈二百二十動，
氣行二丈六尺（當行三尺）一周於身、三百六十五節，氣行過五百四十度，再周於身，
過百七十度，一節之氣，而至此，氣浮濇，經行血氣竭盡，不守於中，五藏痿痟，
精神散亡，脈五至而緊，則死，三陰（一作二）三陽是也，（○按依上文推之，
當云一陰四陽），雖五，猶末如之何也，脈一損一乘者，人一呼而脈一動，
人一息而脈再動，氣行三寸，十息脈二十動，氣行三尺，一備之氣，脈四十動，
氣行六尺，不及周身，百八十節，氣短不能周遍於身，苦少氣身體懈惰矣，脈再損者，
人一息而脈一動，氣行一寸五分，人十息脈十動，氣行尺五寸，一備之氣，脈二十動，
氣行三尺，不及周身、二百節，疑（疑字本注，誤入正文）氣血盡經中不能及，
故曰離經，血去不在其處，小大便皆血也，脈三損者，人一息復一呼而脈一動，
十息脈七動，氣行尺五寸（當行尺五分），一備之氣，脈十四動，
氣行三尺一寸（當行二尺一寸），不及周身、二百九十七節，故曰爭，氣行血留，
不能相與俱微，氣閉實則胸滿藏枯，而爭於中，其氣不朝，血凝於中死矣，脈四損者，
再息而脈一動，人十息，脈五動，氣行七寸半，一備之氣，脈十動，氣行尺五寸，
不及周身三百一十五節，故曰亡血，亡血者、亡失其度，身羸疲，皮裹骨，
故氣血俱盡，五藏失神，其死明矣，脈五損者，人再息復一呼而脈一動，人十息，
脈四動，氣行六寸，一備之氣，脈八動，氣行尺二寸，不及周身三百二十四節，
故曰絕，絕者氣急不下床，口氣寒，脈俱絕死矣。岐伯曰，脈失四時者為至啟，
至啟者為損至之脈也，損之為言，少陰主骨為重，此志損也飲食衰減，肌肉消者，
是意損也，身安臥，臥不便利，耳目不明，是魂損也，呼吸不相通，五色不華，
是魄損也，四肢皆見脈為亂，是神損也，大損三十歲，中損二十歲，下損十歲，
損各以春夏秋冬，平人人長脈短者，是大損，三十歲，人短脈長者，是中損，二十歲，
手足皆細，是下損，十歲，失精氣者一歲而損，男子左脈短，右脈長，是為陽損，
半歲，女子右脈短左脈長，是為陰損，半歲，春脈當得肝脈，反得脾肺之脈損，
夏脈當得心脈，反得腎肺之脈損，秋脈當得肺脈，反得肝心之脈損，冬脈當得腎脈，
反得心脾之脈損，當審切寸口之脈，知絕不絕，前後去為絕，掌上相擊，堅如彈石，
為上脈虛盡，下脈尚有，是為有胃氣（上脈盡，下脈堅如彈石，為有胃氣），
上下脈皆盡者死，不絕不消者皆生，是損脈也，至之為言，言語音深遠視憒憒，
是志之至也，身體粗大，飲食暴多，是意之至也，語言妄見，手足相引，是魂之至也，
蘢蔥華色，是魄之至也，脈微小不相應，吸呼自大，是神之至也，是至脈之法也，
死生相應，病各得其氣者生，十得其半也，黃帝曰善。</p>
<h3>診脈動止投數疎數死期年月第六</h3>
<p>脈一動一止，二日死（一經云一日死），二動一止，三日死，三動一止，四日死，
或五日死，四動一止，六日死，五動一止，五日死，或七日死，六動一止，八日死，
七動一止，九日死，八動一止，十日死，九動一止，九日死，
又云十一日死（一經云十三日死，若立春日死），十動一止，立夏死（一經云，
立春死），十一動一止，夏至死（一經云立夏死，一經云立秋死），十二十三動一止，
立秋死（一經云，立冬死）十四十五動一止，立冬死（一經云，立夏死），
二十動一止，一歲死，若立秋死，二十一動一止，二歲死，二十五動一止，
立冬死（一經云一歲死，或二歲死），三十動一止，二歲若三歲死，三十五動一止，
三歲死，四十動一止，四歲死，五十動一止，五歲死，不滿五十動一止，五歲死。
脈來五十投而不止者，五藏皆受氣，即無病（千金方云，五行氣畢，陰陽數同，
榮衛出入，經脈流通，晝夜百刻，五德相生），脈來四十投而一止者，一藏無氣，
卻後四歲，春草生而死，脈來三十投而一止者，二藏無氣，卻後三歲麥熟而死，
脈來二十投而一止者，三藏無氣，卻後二歲桑椹赤而死，脈來十投而一止者，
四藏無氣，歲中死，得節不動，出清明日死，遠不出穀雨死矣，脈來五動而一止者，
五藏無氣，卻後五日死。脈一來而久住者，宿病在心主中治，脈二來而久住者，
病在肝支中治，脈三來而久住者，病在脾下中治，脈四來而久住者，病在腎間中治，
脈五來而久住者，病在肺支中治，五脈病虛，羸人得此者死，所以然者，藥不得而治，
針不得而及，盛人可治，氣全故也。</p>
<h3>診百病死生訣第七</h3>
<p>診傷寒熱盛，脈浮大者生，沈小者死。傷寒已得汗，脈沈小者生，浮大者死。溫病，
三四日以下不得汗，脈大疾者生，脈細小難得者死不治。溫病，穰穰大熱，
其脈細小者死（千金穰穰作時行）。溫病下利腹中痛甚者，死不治。溫病，汗不出，
出不至足者死，厥逆汗出，脈堅強急者生，虛緩者死。溫病二三日，身體熱，腹滿，
頭痛，食飲如故，脈直而疾者，八日死，四五日，頭痛腹滿而吐，脈來細強，
十二日死，八九日頭不疼，身不痛，目不赤，色不變，而反利，脈來牒牒，
按之不彈手時大，心下堅，十七日死。熱病，
七八日脈不軟（一作喘）不散（一作數）者，當瘖，瘖後三日，溫汗不出者，
死（○按千金方，溫作若）。熱病，七八日，其脈微細，小便不利，加暴口燥脈代，
舌焦乾黑者死。熱病未得汗，脈盛躁疾，得汗者生，不得汗者難差。熱病已得汗，
脈靜安者生，脈躁者難治。熱病已得汗，常大熱不去者，亦死（大一作專）。
熱病已得汗，熱未去，脈微躁者，慎不得刺治。熱病發熱熱甚者，其脈陰陽皆竭，
慎勿刺，不汗出必下利。診人被風不仁痿蹶，其脈虛者生，緊急疾者死。診癲病，
虛則可治，實則死。癲疾，脈實堅者生，脈沈細小者死。癲疾，脈搏大滑者，
久久自已，其脈沈小急實，不可治，小堅急亦不可療。診頭痛目痛，
久視無所見者死（久視一作卒視）。診人心腹積聚，其脈堅強急者生，虛弱者死，
又實強者生，沈者死，其脈大，腹大脹，四肢逆冷，其人脈形長者死，腹脹滿，便血，
脈大時絕，極下血，脈小疾者死。心腹痛，痛不得息，脈細小遲者生，堅大疾者死。
腸澼便血，身熱則死，寒則生。腸澼下白沫，脈沈則生，浮則死。腸澼下膿血，
脈懸絕則死，滑大則生。腸澼之屬，身熱，脈不懸絕，滑大者生，懸濇者死，
以藏期之。腸澼下膿血脈沈小流連者生，數疾且大有熱者死。腸澼筋攣，
其脈小細安靜者生，浮大緊者死。洞洩食不化，不得留，下膿血脈微小遲者生，
緊急者死。洩注，脈緩時小結者生，浮大數者死。𧏾蝕陰疰，其脈虛小者生，
緊急者死。欬嗽脈沈緊者死，浮直者生，浮軟者生，小沈伏匿者死。欬嗽羸瘦，
脈形堅大者死。欬嗽脫形發熱，脈小堅急者死，肌瘦下（一本云不）脫形，
熱不去者死。欬而嘔，腹脹且洩，其脈弦急欲絕者死。吐血衂血，脈滑小弱者生，
實大者死。汗出若衂，其脈小滑者生，大躁者死。吐血，脈緊強者死，滑者生。
吐血而欬上氣，其脈數，有熱不得臥者死。上氣脈數者死，謂其形損故也。
上氣喘息低昂其脈滑手足溫者生，脈澀四肢寒者死。上氣面浮腫肩息，其脈大不可治，
加利必死（一作又甚）。上氣注液，其脈虛寧寧伏匿者生，堅強者死。寒氣上攻，
脈實而順滑者生，實而逆澀則死（太素云，寒氣暴上，脈滿實何如，曰，實而滑則生，
實而逆則死矣，其形盡滿何如，曰，舉形盡滿者，脈急大堅，尺滿而不應，
如是者順則生，逆則死，何謂順則生逆則死，曰，所謂順者手足溫也，
謂逆者手足寒也）。痟癉，脈實大，病久可治，脈懸小堅急，病久不可治。消渴，
脈數大者生，細小浮短者死。消渴，脈沈小者生，實堅大者死。水病，脈洪大者治，
微細者不可治。水病脹閉，其脈浮大軟者生，沈細虛小者死。水病，腹大如皷，
脈實者生，虛者死。卒中惡，吐血數升，脈沈數細者死，浮大疾快者生。卒中惡，
腹大，四肢滿，脈大而緩者生，緊大而浮者死，緊細而微者亦生。病瘡，
腰脊強急、瘈瘲者，皆不可治。寒熱瘈瘲，其脈代絕者死。金瘡血出太多，
其脈虛細者生，數實大者死。金瘡出血，脈沈小者生，浮大者死。斫瘡出血，一二石，
脈來大，二十日死。斫刺俱有病多少血出不自止斷者，其血止，脈來大者七日死，
滑細者生。從高頓仆，內有血，腹脹滿，其脈堅強者生，小弱者死。人為百藥所中傷，
脈浮澀而疾者生，微細者死，洪大而遲者生（千金遲作速）。人病甚而脈不調者，
難差。人病甚而脈洪者易差。人內外俱虛，身體冷而汗出，微嘔而煩擾，手足厥逆，
體不得安靜者死。脈實滿，手足寒，頭熱，春秋生，冬夏死。老人脈微，
陽羸陰強者生，脈焱大加息（一作如急）者死，陰弱陽強，脈至而代，
奇（一作寄）月而死。尺脈濇而堅，為血實氣虛也，其發病腹痛，逆滿氣上行，
此為婦人胞中絕傷，有惡血，久成結瘕，得病以冬時，黍穄赤而死，尺脈細而微者，
血氣俱不足，細而來有力者，是穀氣不充，病得節輒動，棗葉生而死，此病秋時得之。
左手寸口脈偏動，乍大乍小不齊，從寸口至關，關至尺，三部之位，處處動搖，
各異不同，其人病，仲夏得之，此脈桃花落而死（花一作葉）。右手寸口脈偏沈伏，
乍小乍大，朝來浮大，暮夜沈伏，浮大即太過，上出魚際，沈伏即下不至關中，
往來無常時，時復來者，榆葉枯落而死（葉一作莢）。右手尺部脈三十動一止，
有頃更還，二十動一止，乍動乍疎，連連相因，不與息數相應，其人雖食穀猶不愈，
蘩草生而死。左手尺部脈四十動而一止，止而復來，來逆如循直木，如循張弓弦，
絙絙然如兩人共引一索，至立冬死（千金作至立春而死）。</p>
<h3>診三部脈虛實決死生第八</h3>
<p>三部脈調而和者生。三部脈廢者死。三部脈虛，其人長病得之死，虛而濇，長病亦死，
虛而滑亦死，虛而緩亦死，虛而弦急，癲病亦死。三部脈實而大，長病得之死，
實而滑，長病得之生，卒病得之死，實而緩亦生，實而緊亦生實而緊急，癲癇可治。
三部脈強，非稱其人病，便死。三部脈羸，非其人（一作脈）得之死。三部脈麄，
長病得之死，卒病得之生。三部脈細而軟，長病得之生，細而數亦生，微而緊亦生。
三部脈大而數，長病得之生，卒病得之死。三部脈微而伏，長病得之死。
三部脈軟（一作濡），長病得之，不治自愈，治之死，卒病得之生。三部脈浮而結，
長病得之死，浮而滑，長病亦死，浮而數，長病風、得之生，卒病，得之死。
三部脈芤，長病得之生，卒病得之死。三部脈弦而數，長病得之生，卒病得之死。
三部脈革，長病得之死，卒病得之生。三部脈堅而數如銀釵股，蠱毒病必死，數而軟，
蠱毒病得之生。三部脈潎潎如羹上肥，長病得之死，卒病得之生。
三部脈連連如蜘蛛絲，長病得之死，卒病得之生。三部脈如霹靂，長病得之死，
三十日死。三部脈如弓弦，長病得之死。三部脈累累如貫珠長病得之死。
三部脈如水淹然流，長病不治自愈，治之反死（一云如水流者，長病三十日死，
如水不流者，長病不治自愈）。三部脈如屋漏，長病十日死（千金云十四日死）。
三部脈如雀啄長病七日死。三部脈如釜中湯沸，朝得暮死，夜半得，日中死，日中得，
夜半死。三部脈急，切腹間病、及婉轉腹痛針上下差。</p>
<h2>脈經卷之五</h2>
<p>張仲景論脈第一
扁鵲陰陽脈法第二
扁鵲脈法第三
扁鵲華陀察聲色要訣第四
扁鵲診諸反逆死脈要訣第五</p>
<h3>張仲景論脈第一</h3>
<p>問曰，脈有三部，陰陽相乘，榮衛氣血，在人體躬（千金作而行人躬），呼吸出入，
上下於中，因息遊布，津液流通，隨時動作，傚象形容，春弦秋浮，冬沈夏洪，
察色觀脈，大小不同，一時之間，變無經常，尺寸參差，或短或長，上下乖錯，
或存或亡，病輒改易，進退低昂，心迷意惑，動失紀綱，願為縷陳，令得分明。師曰，
子之所問，道之根源，脈有三部，尺寸及關榮衛流行，不失衡銓，腎沈心洪，
肺浮肝弦，此自經常，不失銖分，出入升降，漏刻周旋，水下二刻，脈一周身，
旋復寸口，虛實見焉，變化相乘，陰陽相干，風則浮虛，寒則緊弦，沈潛水滀，
支飲急弦，動弦為痛，數洪熱煩，設有不應，知變所緣，三部不同，病各異端，
太過可怪，不及亦然，邪不空見，中必有奸，審察表裏，三焦別分，知邪所舍，
消息診看，料度腑藏獨見若神，為子條記傳與賢人。</p>
<h3>扁鵲陰陽脈法第二</h3>
<p>脈平旦曰太陽，日中曰陽明，晡時曰少陽，黃昏曰少陰，夜半曰太陰，雞鳴曰厥陰，
是三陰三陽時也，少陽之脈，乍小乍大，乍長乍短，動搖六分，王十一月甲子夜半，
正月二月甲子王。太陽之脈洪大以長，其來浮於筋上，動搖九分，三月四月甲子王。
陽明之脈，浮大以短，動搖三分，大前小後，狀如科斗，其至跳，五月六月甲子王。
少陰之脈緊細，動搖六分，王五月甲子日中，七月八月甲子王。太陰之脈，緊細以長，
乘於筋上，動搖九分，九月十月甲子王。厥陰之脈，沈短以緊，動搖三分，
十一月十二月甲子王。厥陰之脈，急弦，動搖至六分以上，病遲脈寒，少腹痛引腰，
形喘者死，脈緩者可治，刺足厥陰，入五分。（○袁校本云，
遲脈二字疑衍）少陽之脈，乍短乍長，乍小乍大，動搖至六分以上，病頭痛，脇下滿，
嘔可治，擾即死（一作傴可治，偃即死），刺兩季肋端，足少陽也，入七分。
陽明之脈，洪大以浮，其來滑而跳，大前細後，狀如科斗，動搖至三分以上，病眩，
頭痛，腹滿痛，嘔可治，擾即死，刺臍上四寸，臍下三寸，各六分。從二月至八月，
陽脈在表，從八月至正月，陽脈在裏，附陽脈強，附陰脈弱，至即驚，實則痸瘲，
細而沈，不痸瘲即泄，泄即煩，煩即渴，渴即腹滿，滿即擾，擾即腸澼，澼即脈代，
乍至乍不至，大而沈即欬，欬即上氣，上氣甚則肩息，肩息甚則口舌血出，
血出甚即鼻血出。變出寸口陰陽表裏，以互相乘如風有道，陰脈乘陽也，寸口中，
前後溢者行風，寸口中，外實內不滿者，三風四溫寸口者勞風，勞風者，大病亦發，
駛行汗出亦發，耎風者上下微微扶骨，是其診也，
表緩腹內急者耎風也猥雷實夾者飄風從陰趨陽者風邪一來調一來速鬼邪也，
陰緩陽急者，表有風來入藏也，陰急者風已抱陽入腹，上逯逯下宛宛，不能至陽，
流飲也，上下血微，陰強者為漏癖，陽強者酒癖也，傴偷不過微反陽，澹漿也，
陰扶骨絕者，從寸口前頓趨於陰汗水也，來調四布者，欲病水也，陰脈不偷，陽脈傷，
復少津，寸口中後大前兌至陽而實者，癖食，小過陽，一分者七日癖二分者十日癖，
三分者十五日癖，四分者二十日癖，四分中伏不過者半歲癖，敦敦不至胃陰一分，
飲餔餌癖也，外勾者，久癖也，內卷者，十日以還，外強內弱者，裹大核也，
并浮而弦者，汁核并浮緊而數如沈病暑食粥（一作微），有內緊而伏，麥飯若餅，
寸口脈倚陽緊細以微，瓜菜皮也，若倚如緊，薺藏菜也，賾賾無數生肉癖也，
附陽者炙肉癖也，小倚生浮大如故，生麥豆也。</p>
<h3>扁鵲脈法第三</h3>
<p>扁鵲曰，人一息脈二至，謂平脈，體形無苦，人一息，脈三至，謂病脈，一息四至，
謂痹者脫脈氣，其眼睛青者死，人一息脈五至以上，死不可治也入都（一作聲），
息病脈來，動取極五至，病有六七至也。扁鵲曰，平和之氣，不緩不急，不滑不濇，
不存不亡，不短不長，不俛不仰，不縱不橫，此謂平脈，
腎（一作緊）受如此（一作剛），身無苦也。扁鵲曰，脈氣弦急，病在肝，少食多厭，
裏急多言，頭眩目痛，腹滿筋攣，癲疾上氣，少腹積堅，時時唾血，咽喉中乾，
相疾之法，視色聽聲，觀病之所在，候脈要訣，豈不微乎，脈浮如數無熱者風也，
若浮如數而有熱者氣也，脈洪大者，又兩乳房動脈復數，加有寒熱，此傷寒病也，
若羸長病，如脈浮溢寸口復有微熱此疰氣病也，如復欬又多熱，乍劇乍差，難治也，
又療無劇者易差，不欬者易治也。</p>
<h3>扁鵲華陀察聲色要訣第四</h3>
<p>病人五藏已奪，神明不守，聲嘶者死。病人循衣縫譫言者，不可治。病人陰陽俱絕，
掣衣掇空，妄言者死。病人妄言錯亂，及不能語者，不治，熱病者可治。
病人陰陽俱絕，失音不能言者，三日半，死。病人兩目眥有黃色起者，其病方愈。
病人面黃目青者不死，青如草滋，死。病人面黃目赤者，不死，赤如衃血死。
病人面黃目白者不死，白如枯骨死。病人面黃目黑者不死，黑如炲，死。
病人面目俱等者，不死。病人面黑目青者，不死。病人面青目白者死。
病人面黑目白者不死（○按千金方無此句，疑衍文也，下云病人面黑目白者八日死）。
病人面赤目青者六日死。病人面黃目青者，九日必死，是謂亂經，飲酒當風，
邪入胃經，膽氣妄泄，目則為青，雖有天救，不可復生。病人面赤目白者，十日死，
憂恚思慮，心氣內索，面色反好，急求棺槨。病人面白目黑者死，此謂榮華已去，
血脈空索。病人面黑目白者八日死，腎氣內傷，病因留積。病人面青目黃者，五日死。
病人著床，心痛短氣，脾竭內傷，百日復愈，能起徬徨，因坐於地，其立倚床，
能治此者，可謂神良。病人面無精光，若土色不受飲食者，四日死。病人目無精光，
及牙齒黑色者，不治。病人耳目鼻口有黑色起入於口者，必死。病人耳目及顴頰赤者，
死在五日中。病人黑色出於額上髮際，下直鼻脊兩顴上者，亦死在五日中。
病人黑氣出天中，下至年上顴上者死（千金翼云天中，當鼻直上至髮際，
年上在鼻上兩目間）。病人及健人，黑色若白色起入目及鼻口，死在三日中。
病人及健人，面忽如馬肝色，望之如青近之如黑者死。病人面黑，目直視，惡風者死。
病人面黑脣青者死。病人面青脣黑者死。病人面黑，兩脇下滿，不能自轉反者死。
病人目回回直視，肩息者，一日死。病人頭目久痛，卒視無所見者死。病人陰結陽絕，
目精脫，恍惚者死。病人陰陽絕竭，目眶陷者死。病人目系傾者，七日死。
病人口如魚口不能復閉，而氣出多不反者死。病人口張者三日死。病人脣青，人中反，
三日死。病人脣反，人中滿者死。病人脣口忽乾者，不治。病人脣腫齒焦者死。
病人陰陽俱竭，其齒如熟小豆，其脈駛者死（千金方駛作躁）。病人齒忽變黑者，
十三日死。病人舌卷卵縮者，必死。病人汗出不流，舌卷黑者死。病人髮直者，
十五日死。病人髮如乾麻，善怒者、死。病人髮與眉衝起者、死。病人爪甲青者死。
病人爪甲白者、不治。病人手足爪甲下肉黑者、八日死。病人榮衛竭絕，
面浮腫者、死。病人卒腫，其面蒼黑者、死。病人手掌腫無文者、死。
病人臍腫反出者、死。病人陰囊莖俱腫者死。病人脈絕，口張足腫，五日死。
病人足趺腫，嘔吐頭重者死。病人足趺上腫，兩膝大如斗者、十日死。病人臥，
遺屎不覺者死。病人尸臭者，不可治。肝病皮白肺之日庚辛、死。心病目黑，
腎之日壬癸、死。脾病脣青，肝之日甲乙、死。肺病頰赤目腫，心之日丙丁、死。
腎病面腫脣黃，脾之日戊己、死。青欲如蒼璧之澤，不欲如藍，赤欲如帛裹朱，
不欲如赭，白欲如鵝羽，不欲如鹽，黑欲如重漆，不欲如炭，黃欲如羅裹雄黃，
不欲如黃土。目色赤者病在心，白在肺，黑在腎，黃在脾，青在肝，
黃色、不可名者病胸中。診目病，赤脈從上下者太陽病也，從下上者陽明病也，
從外入內者少陽病也。診寒熱瘰癧，目中有赤脈從上下至瞳子，見一脈一歲死，
見一脈半，一歲半死，見二脈，二歲死，見二脈半，二歲半死，見三脈，三歲死。
診齲齒痛，按其陽明之脈來有過者，獨熱、在右、右熱，在左、左熱，在上、上熱，
在下、下熱。診血者脈多赤多熱，多青多痛，多黑為久痹，多赤多黑多青皆見者，
寒熱身痛，面色微黃，齒垢黃，爪甲上黃，黃疸也，安臥小便黃赤（○按原本小作少，
又脫便字，並依甲乙經補正），脈小而濇者不嗜食。</p>
<h3>扁鵲診諸反逆死脈要訣第五</h3>
<p>扁鵲曰，夫相死脈之氣，如群鳥之聚，一馬之馭系，水交馳之狀，如懸石之落，
出筋之上，藏筋之下，堅關之裏不在榮衛，伺候，交射，不可知也。脈病人不病，
脈來如屋漏雀啄者死（屋漏者，其來既絕而止，時時復起，而不相連屬也，雀啄者，
脈來甚數，而疾絕止復頓來也），又經言得病七八日，
脈如屋漏雀啄者死（脈彈人手如黍米也），脈來如彈石，去如解索者、死（彈石者，
辟辟急也，解索者動數而隨散亂，無復次緒也），脈困病人脈如蝦之游，
如魚之翔者死（蝦遊者，苒苒而起，尋復退沒不知所在，久乃復起，
起輒遲而沒去速者，是也，魚翔者，似魚不行，而但掉尾動，頭身搖而久住者，
是也），脈如懸薄卷索者死脈如轉豆者死，脈如偃刀者死，脈涌涌不去者死，
脈忽去忽來暫止復來者死，脈中侈者死，脈分絕者死（上下分散也）。
脈有表無裏者死，經名曰結，去即死何謂結，脈在指下如麻子動搖，屬腎，名曰結，
去死近也。脈五來一止不復增減者死，經名曰代，何謂代，脈五來一止也，
脈七來是人一息，半時，不復增減，亦名曰代，正死不疑。經曰，病或有死，
或有不治自愈，或有連年月而不已，其死生存亡，可切脈而知之耶，然可具知也，
設病者若閉目不欲見人者，脈當得肝脈弦急而長，反得肺脈浮短而濇者，死也，
病若開目而渴，心下牢者，脈當得緊實而數，反得沈滑而微者，死病若吐血復鼽衂者，
脈當得沈細，而反浮大牢者死，病若譫言妄語，身當有熱，脈當洪大，而反手足四逆，
脈反沈細微者死，病若大腹而洩，脈當細微而澀，反得緊大而滑者死，此之謂也。
經言形脈與病相反者死，柰何，然病若頭痛目痛，脈反短濇者死，病若腹痛，
脈反浮大而長者死，病若腹滿而喘，脈反滑利而沈者死，病若四肢厥逆，
脈反浮大而短者死，病若耳聾，脈反浮大而濇者死（千金翼云，脈大者生，
沈遲細者難治），病若目䀮䀮，脈反大而緩者死。左有病而右痛，右有病而左痛，
下有病而上痛，上有病而下痛，此為逆，逆者死，逆者死，不可治。脈來沈之絕濡，
浮之不止，推手者，半月死（一作半日）。脈來微細而絕者人病，當死。
人病脈不病者生，脈病人不病者死。人病尸厥，呼之不應，脈絕者死。
脈當大反小者死。肥人脈細小如絲欲絕者死。羸人，得躁脈者死。人身澀，
而脈來往滑者死。人身滑，而脈來往澀者死。人身小而脈來往大者死。人身短，
而脈來往長者死。人身長，而脈來往短者死。人身大，而脈來往小者死（○按此錯簡，
當在人身小條後，千金方尚不誤）。尺脈不應寸，時如馳，半日死（千金云，
尺脈上應寸口太遲者，半日死）。肝脾俱至，則穀不化，肝多，即死。肺肝俱至，
則癰疽，四肢重，肺多，即死。心肺俱至，則痹，消渴，懈怠，心多，即死。
腎心俱至則難以言，九竅不通，四肢不舉，腎多，即死。脾腎俱至，則五藏敗壞，
脾多，即死。肝心俱至，則熱甚，痸瘲汗不出，妄見邪。肝腎俱至，則疝瘕，少腹痛，
婦人月使不來。肝滿腎滿肺滿皆實，則為腫，肺之雍，喘而兩胠滿，肝雍，兩胠滿，
臥則驚，不得小便，腎雍，腳下至少腹滿，脛有大小，髀胻大跛，
易偏枯（雍與癰通）。心脈滿大，癇痸筋攣。肝脈小急，癇痸筋攣。
肝脈騖暴有所驚駭，脈不至，若瘖，不治自已。腎脈小急，肝脈小急，心脈小急不鼓，
皆為瘕。腎肝并沈，為石水，并浮，為風水，并虛為死，并小弦欲驚。腎脈大急沈，
肝脈大急沈，皆為疝。心脈搏滑急，為心疝。肺脈沈搏，為肺疝。脾脈外鼓沈為腸澼，
久自已。肝脈小緩，為腸澼，易治。腎脈小搏沈，為腸澼，下血，
血溫身熱者死（○按此血字原脫，今依素問四十八補），心肝澼，亦下血，
二藏同病者，可治，其脈小沈濇者，為腸澼，其身熱者死，熱見七日死。胃脈沈鼓濇，
胃外鼓大，心脈小，腎急，皆膈偏枯，男子發左，女子發右，不瘖舌轉可治，
三十日起，其順者瘖，三歲起，年不滿二十者，三歲死。脈至而搏，血衂身有熱者死。
脈來如懸鉤，浮為熱。脈至如喘，名曰氣厥，氣厥者不知與人言（素問甲乙作暴厥）。
脈至如數，使人暴驚，三四日自已。脈至浮合，
浮合如數一息十至以上（○按原本誤重十至二字，今依素問四十八刪），
是為經氣予不足也，微見，九十日死。脈至如火新然，是心精之予奪也，草乾而死。
脈至如散葉，是肝氣予虛也，木葉落而死（木葉落，作棗華）。脈至如省客，
省客者脈塞而鼓，是腎氣予不足也，懸去棗華而死。脈至如泥丸，是胃精予不足也，
榆莢落而死（素問莢作葉）。脈至如橫格，是膽氣予不足也，禾熟而死。脈至如弦縷，
是胞精予不足也，病善言，下霜而死，不言可治。脈至如交漆，交漆者左右旁至也，
微見，四十日死（甲乙作交棘）。脈至如涌泉，浮鼓肌中，是太陽氣予不足也，
少氣味，韭英而死。脈至如委土（素問作頹土）之狀，按之不得，是肌氣予不足也，
五色先見黑白，壘（一作藟）發死。脈至如懸雍，懸雍者浮揣，切之益大，
是十二俞之予不足也，水凝而死。脈至如偃刀，偃刀者浮之小急也，
按之堅大急五藏菀熱寒熱獨併於腎也，如此，其人不得坐，立春而死（菀鬱通）。
脈至如丸滑，不直手，不直手者，按之不可得也，是大腸氣予不足也，棗葉生而死。
脈至如舂者，令人善恐，不欲坐臥行立常聽，是小腸氣予不足也，季秋而死。問曰，
嘗以春二月中，脈一病人，其脈反沈，師記言到秋當死，其病反愈，到七月復病，
因往脈之，其脈續沈，復記言至冬死，問曰，二月中得沈脈，何以故處之至秋死也，
師曰，二月之時，其脈自當濡弱而弦，得沈脈，到秋自沈，脈見浮即死，
故知到秋當死也，七月之時，脈復得沈，何以處之至冬當死，師曰，沈脈屬腎，
真藏脈也，非時妄見，經言王相囚死，冬脈本王脈，不再見，故知至冬當死也，
然後至冬復病，正以冬至日死，故知為諦，華佗傚此。</p>
<h2>脈經卷之六</h2>
<p>肝足厥陰經病證第一
膽足少陽經病證第二
心手少陰經病證第三
小腸手太陽經病證第四
脾足太陰經病證第五
胃足陽明經病證第六
肺手太陰經病證第七
大腸手陽明經病證第八
腎足少陰經病證第九
膀胱足太陽經病證第十
三膲手少陽經病證第十一</p>
<h3>肝足厥陰經病證第一</h3>
<p>肝氣虛則恐，實則怒，肝氣虛則夢見園苑生草，得其時則夢伏樹下不敢起，
肝氣盛則夢怒，厥氣客於肝，則夢山林樹木，病在肝，平旦慧，下晡甚，夜半靜。
病先發於肝者，頭目眩，脇痛肢滿，一日之脾，閉塞不通，身痛體重，
二日之胃而腹脹，三日之腎，少腹腰脊痛，脛痠，十日不已、死，冬日入，夏早食。
肝脈搏堅而長，色不青，當病墜墮，若搏，因血在脇下，令人喘逆，若耎而散，
其色澤者，當病溢飲，溢飲者渴，暴多飲，而溢（一作易）入肌皮腸胃之外也，
肝脈沈之而急，浮之亦然苦脇下痛有氣支滿引少腹而痛，時小便難，苦目眩頭痛，
腰背痛，足為逆寒，時癃，女人月使不來，時無時有，得之少時有所墜墮。
青脈之至也，長而左右彈，診曰有積氣在心下支胠，名曰肝痹，得之寒濕，與疝同法，
腰痛足清頭痛。肝中風者，頭目瞤，兩脇痛，行常傴，令人嗜甘如阻婦狀，肝中寒者，
其人洗洗惡寒，翕翕發熱，面翕然赤，漐漐有汗，胸中煩熱，肝中寒者，
其人兩臂不舉舌本（又作大）燥，善太息，胸中痛，不得轉側，時時盜汗，
欬、食已吐其汁。肝主胸中喘，怒罵，其脈沈胸中，必窒，欲令人推按之，有熱，
鼻窒。凡有所墜墮，惡血留內，若有所大怒，氣上而不能下，積於左脇下則傷肝，
肝傷者其人脫肉，又臥口欲得張，時時手足青，目瞑瞳人痛，此為肝藏傷所致也。
肝脹者，脇下滿而痛引少腹，肝水者其人腹大，不能自轉側，而脇下腹中痛，
時時津液微生，小便續通。肺乘肝即為癰腫，心乘肝，必吐利。肝著者，其病人，
常欲蹈其胸上，先未苦時，但欲飲熱。肝之積，名曰肥氣，在左脇下，如覆杯，
有頭足如龜鼈狀，久久不愈，發欬逆痎瘧，連歲月不已，以季夏戊巳日得之，何也，
肺病傳肝，肝當傳脾，脾適以季夏王，王者不受邪，肝復欲還肺，
肺不肯受因留結為積，故知肥氣，以季夏得之。肝病其色青，手足拘急，脇下苦滿，
或時眩冒，其脈弦長，此為可治，宜服防風竹瀝湯，秦艽散，春當刺大敦，夏刺行間，
冬刺曲泉，皆補之，季夏刺太衝，秋刺中郄，皆瀉之，又當灸期門百壯，
皆第九椎五十壯。肝病者必兩脇下痛引小腹，令人善怒，虛則目䀮䀮，無所見，
耳無所聞，善恐，如人將捕之，若欲治之，當取其經足厥陰，與少陽氣逆，則頭目痛，
耳聾不聰，頰腫取血者（血者，謂有血之穴）。邪在肝則兩脇中痛，寒中惡血在內胻，
善瘈，節時腫，取之行間以引脇下，補三里以溫胃中，取血脈以散惡血，
取耳間青脈以去其瘈。足厥陰之脈，起於大指聚毛之際，上循足趺上廉，去內踝一寸，
上踝八寸，交出太陰之後，上膕，內廉，循股，入陰毛中，環陰器，抵少腹，俠胃，
屬肝，絡膽，上貫膈，布脇肋，循喉嚨之後，上入頏顙，連目系，上出額，
與督脈會於巔，其支者，從目系，下頰裏，環脣內，其支者，復從肝別貫膈，
上注肺中，是動則病腰痛，不可以俛仰，丈夫㿗疝，婦人小腹，腫甚則嗌乾面塵，
脫色，是主肝所生病者，胸滿嘔逆洞泄，狐疝遺溺閉癃，盛者，則寸口大一倍於人迎，
虛者，則寸口反小於人迎也。足厥陰之別，名曰蠡溝，去內踝上五寸，別走少陽，
其別者循經上睪，結於莖，其病氣逆，則睪腫卒疝，實則挺長，熱虛則暴癢，
取之所別。肝病，胸滿脇脹，善恚怒，叫呼，身體有熱，而復惡寒，四肢不舉，
面目白，身體滑，其脉當弦長而急，今反短濇，其色當青，而反白者，此是金之刻木，
為大逆，十死不治。</p>
<h3>膽足少陽經病證第二</h3>
<p>膽病者善太息，口苦，嘔宿汁，心澹澹恐，如人將之捕之，嗌中介介然數唾，
候在足少陽之本末，亦視其脈之陷下者灸之（○按原本視作見，今依甲乙經改），
其寒熱，刺陽陵泉。善嘔有苦汁，長太息，心中澹澹善悲，恐如人將捕之，邪在膽，
逆在胃，膽液泄則口苦（○按原本脫泄字，今依甲乙經補），胃氣逆則嘔苦汁，
故曰嘔膽，刺三里以下，胃氣逆，刺足少陽，血絡以閉膽，卻調其虛實以去其邪。
膽脹者，脇下痛脹，口苦，太息。厥氣客於膽，則夢鬬訟。足少陽之脈，起於目兌眥，
上抵頭角，下耳後，循頸行，手少陽之脈，前至肩上，卻交手少陽之後，入缺盆，
其支者從耳後、入、耳中、出、走耳前，至兌眥後，其支者別兌眥，
下大迎合手少陽於䪼（一本云，別兌眥上迎手少陽於巔），下加頰車，下頸，
合缺盆以下胸中，貫膈、絡肝、屬膽、循脇裏，出氣街，遶毛際，橫入髀厭中，
其直者從缺盆下腋，循胸中，過季脇，下合髀厭中以下，循髀陽，出膝外廉，
下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足趺上，出小指次指之端，
其支者趺上入大指之間，循大指岐內出，其端還貫入爪甲，出三毛，是動則病口苦，
善太息，心脇痛，不能反側，則面微塵，體無膏澤，足外反熱，是為陽厥，
是主骨所生病者，頭角痛，額痛，目兌眥痛，缺盆中腫痛，腋下腫痛，馬刀挾癭，
汗出振寒瘧，胸中脇肋髀膝，外至胻絕骨，外踝前，及諸節，皆痛，小指次指不用，
盛者，則人迎大一倍於寸口，虛者，則人迎反小於寸口也。</p>
<h3>心手少陰經病證第三</h3>
<p>心氣虛則悲不已，實則笑不休，心氣虛則夢救火，陽物，得其時則夢燔灼，
心氣盛則夢喜笑及恐畏，厥氣客於心，則夢邱山煙火。病在心，日中慧，夜半甚，
平旦靜。病先發於心者心痛，一日之肺，喘欬，三日之肝，脇痛支滿，五日之脾，
閉塞不通，身痛體重，三日不已，死，冬夜半，夏日中。心脈搏堅而長，
當病舌卷不能言，其耎而散者，當病消渴，自已，心脈沈之小而緊，浮之不喘，
苦心下聚氣而痛，食不下，喜咽唾，時手足熱，煩滿，時忘不樂，喜太息，得之憂思。
赤脈之至也，喘而堅，診曰有積氣在中，時害於食，名曰心痹，得之外疾，
思慮而心虛，故邪從之。心脈急，名曰心疝，少腹當有形，其以心為牡藏，
小腸為之使，故少腹當有形。邪哭使魂魄不安者，血氣少也，血氣少者，屬於心，
心氣虛者，其人即畏（一作衰），合目欲眠，夢遠行，而精神離散，魂魄妄行，
陰氣衰者即為癲，陽氣衰者即為狂，五藏者魂魄之宅舍，精神之所依託也，
魂魄飛揚者，其五藏空虛也，即邪神居之，神靈所使，鬼而下之，脈短而微，
其藏不足，則魂魄不安，魂屬於肝，魄屬於肺，肺主津液即為涕泣，肺氣衰者，
即為泣出，肝氣衰者，魂不安，肝主善怒其聲呼。心中風者，翕翕發熱不能起，
心中飢而欲食，食則嘔，心中寒者，其人病心如噉蒜狀，劇者心痛徹背，背痛徹心，
如蟲注，其脈浮者，自吐乃愈。愁憂思慮則傷心，心傷則苦驚喜忘善怒，
心傷者其人勞倦，即頭面赤而下重，心中痛徹背，自發煩熱，當臍跳手，其脈弦，
此為心藏傷所致也。心脹者煩心短氣，臥不安，心水者，其人身體，
重（一作腫）而少氣，不得臥，煩而躁，其陰大腫。腎乘心必癃。真心痛，
手足清至節，心痛甚，旦發夕死，夕發旦死。心腹痛，懊憹發作，腫聚往來上下行，
痛有休作，心腹中熱，苦渴、涎出、是蚘咬也，以手聚而堅持之，毋令得移，
以大針刺之，久持之，蟲不動，乃出針腸中，有蟲蚘咬，皆不可取以小針。心之積，
名曰伏梁，起於臍上，上至心，大如臂，久久不愈，病煩心，心痛，以秋庚辛日得之，
何也，腎病傳心，心當傳肺，肺適以秋王，王者不受邪，心復欲還腎，腎不肯受，
因留結為積，故知伏梁，以秋得之。心病，其色赤，心痛，短氣，手掌煩熱，
或啼笑罵詈，悲思愁慮，面赤身熱，其脈實大而數，此為可治，春當刺中衝，
夏刺勞宮，季夏刺太陵，皆補之，秋刺間使，冬刺曲澤，皆瀉之（此是手厥陰，
心包絡經），又當灸巨闕五十壯，背第五椎百壯。心病者，胸內痛，脇支滿，
兩脇下痛，膺背，肩甲間痛，兩臂內痛，虛則胸腹大脇下與腰背相引而痛，
取其經手少陰，太陽，舌下血者，其變病，刺郄中血者。邪在心則病，心痛善悲，
時眩仆，視有餘不足而調之，其輸。黃帝曰手少陰之脈獨無輸何也，
岐伯曰少陰者心脈也，心者五臟六腑之大主也，心為帝王精神之所舍，其藏堅固，
邪不能客，客之則傷心，心傷則神去，神去則身死矣，故諸邪在於心者，
皆在心之包絡，包絡也者心主之脈也，故少陰無輸焉，少陰無輸心不病乎，
對曰其外經，腑病藏不病，故獨取其經於掌後兌骨之端也。手心主之脈起於胸中，
出屬心包，下膈，歷絡三膲，其支者，循胸出脇下腋三寸，上抵腋，
下循臑內行太陰少陰之間，入肘中，下臂，行兩筋之間，入掌中，循中指出其端，
其支者，別掌中循小指次指出其端，是動則病手心熱肘臂攣急，腋腫，甚則胸脇支滿，
心中澹澹大動，面赤目黃，善笑不休，是主脈所生病者，煩心，心痛，
掌中熱盛者則寸口大一倍於人迎，虛則寸口反小於人迎也。手心主之別，名曰內關，
去腕二寸，出於兩筋間，循經以上，繫於心包絡心系，氣實則心痛，虛則為煩心，
取之兩筋間。心病，煩悶少氣大熱，熱上盪心，嘔吐欬逆，狂語，汗出如珠，
身體厥冷，其脈當浮，今反沈濡而滑，其色當赤而反黑者，此是水之刻火，為大逆，
十死不治。</p>
<h3>小腸手太陽經病證第四</h3>
<p>小腸病者，小腹痛，腰脊控睪而痛，時窘之，復耳前熱，若寒甚，獨肩上熱，
及手小指次指之間熱，若脈陷者，此其候也。小腹控睪引腰脊，上衝心，
邪在小腸也（○按此三字原脫，今依甲乙補），小腸者連睪系，屬於脊，貫肝肺，
絡心系，氣盛則厥逆，上衝腸胃，動肝肺，散於肓，結於厭（一作齊），
故取之肓原以散之，刺太陰以與之，取厥陰以下之，取巨虛下廉以去之，
按其所過之經以調之。小腸有寒，其人下重，便膿血，有熱，必痔，小腸有宿食，
常暮發熱，明日復止，小腸脹者，小腹䐜脹引腹而痛，厥氣客於小腸，則夢聚邑街衢。
手太陽之脈，起於小指之端，循手外側，上腕，出踝中，直上，循臂骨，下廉，
出肘內側，兩骨之間，上循臑外，後廉，出肩解，繞肩甲，交肩上，入缺盆，向腋，
絡心循咽，下膈，抵胃，屬小腸，其支者，從缺盆循頸上頰，至目兌眥，卻入耳中，
其支者，別頰，上䪼，抵鼻，至目內眥，斜絡於顴，是動則病嗌痛，頷腫不可以顧，
肩似拔，臑似折，是主液所生病者，耳聾，目黃，頰頷腫，
頸肩、臑、肘、臂外後廉痛，盛者則人迎大再倍於寸口，虛者則人迎反小於寸口也。</p>
<h3>脾足太陰經病證第五</h3>
<p>脾氣虛，則四肢不用，五藏不安，實，則腹脹，涇溲不利，脾氣虛則夢飲食不足，
得其時，則夢築垣蓋屋，脾氣盛，則夢歌樂，體重，手足不舉，厥氣客於脾，
則夢丘陵大澤，壞屋風雨。病在脾，日昳慧，平旦甚，日中持，下晡靜。病先發於脾，
閉塞不通，身痛體重，一日之胃，而腹脹，二日之腎，小腹腰脊痛，脛痠，
三日之膀胱，背𦛗筋痛，小便閉，十日不已，死冬人定夏晏食。脾脈搏堅而長，
其色黃，當病少氣，其耎而散色不澤者，當病足骭腫，若水狀，脾脈，沈之而濡，
浮之而虛，苦腹脹煩滿，胃中有熱，不嗜食，食而不化，大便難，四肢苦痹，時不仁，
得之房內，月使不來，來而頻併。黃脈之至也，大而虛，有積氣在腹中，
有厥氣名曰厥疝，女子同法，得之疾使四肢，汗出，當風。寸口脈弦而滑，弦則為痛，
滑則為實，痛即為急，實即為踊，痛踊相搏，即胸脇搶急。趺陽脈浮而澀，
浮即胃氣微，澀即脾氣衰，微衰相搏，即呼吸不得，此為脾家失度。寸口脈雙緊，
即為入，其氣不出，無表有裏，心下痞堅。趺陽脈微而澀，微即無胃氣，澀即傷脾，
寒在於膈而反下之，寒積不消，胃微脾傷，穀氣不行，食已自噫，寒在胸膈，
上虛下實，穀氣不通，為秘塞之病。寸口脈緩而遲，緩則為陽，其氣長，遲則為陰，
榮氣促，榮衛俱和，剛柔相得，三膲相承，其氣必強。趺陽脈滑而緊，滑即胃氣實，
緊即脾氣傷，得食而不消者，此脾不治也，能食而腹不滿，此為胃氣有餘，
腹滿而不能食，心下如飢，此為胃氣不行，心氣虛也，得食而滿者，此為脾氣不治。
脾中風者，翕翕發熱，形如醉人，腹中煩重，皮肉瞤瞤而短氣也。凡有所擊仆，
若醉飽入房，汗出當風，則傷脾，脾傷則中氣，陰陽離別，陽不從陰，
故以三分候死生。脾氣弱，病利下白，腸垢，大便堅不能更衣，汗出不止，
名曰脾氣弱，或五液注下青黃赤白黑。病人鼻下平者，胃病也，微赤者病發癰，
微黑者有熱，青者有寒，白者不治，脣黑者胃先病，微燥而渴者可治，不渴者不可治，
臍反出者，此為脾先落（一云先終）。脾脹者善噦，四肢急，體重不能衣，脾水者，
其人腹大，四肢苦重，津液不生，但苦少氣，小便難。趺陽脈浮而澀，浮則胃氣強，
澀則小便數，浮澀相搏，大便則堅，其脾為約，脾約者，其人大便堅，小便利，
而反不渴。凡人病脈已解，而反暮微煩者，人見病者差安，而強與穀，脾胃氣尚弱，
不能消穀，故令微煩，損穀則愈。脾之疾，名曰痞氣，在胃管，覆大如盤，久久不愈，
病四肢不收，黃癉，食飲不為肌膚，以冬壬癸日得之，何也，肝病傳脾，脾當傳腎，
腎適以冬王，王者不受邪，脾復欲還肝，肝不肯受，因留結為積，故知痞氣，
以冬得之。脾病，其色黃，飲食不消，腹苦脹滿，體重節痛，大便不利，
其脈微緩而長，此為可治，宜服平胃丸，瀉脾丸，茱萸丸，附子湯春當刺隱白，
冬刺陰陵泉，皆瀉之，夏刺大都季夏刺公孫，秋刺商丘，皆補之，又當灸章門，
五十壯，背第十一椎，百壯。脾病者必身重苦饑，足痿不收（素問作善飢，肉痿，
足不收），行善瘈，腳下痛，虛則腹脹，腸鳴，溏泄，食不化，取其經足太陰，陽明，
少陰血者，邪在脾胃，則肌肉痛，陽氣有餘，陰氣不足，則熱中，善飢，陽氣不足，
陰氣有餘，則寒中，腸鳴，腹痛，陰陽俱有餘，若俱不足，則有寒有熱，皆調其三里。
足太陰之脈，起於大指之端，循指內側白肉際過核骨後，上內踝前廉上腨，
內循胻骨後，交出厥陰之前，上循膝股內，前廉入腹，
屬脾、絡胃、上膈、俠咽、連舌本、散舌下，其支者，復從胃別上膈，注心中，
是動則病舌本強，食則嘔（一作吐），胃管痛，腹脹善噫，得後與氣則快然衰，
身體皆重，是主脾所生病者，舌本痛、體不能動搖、食不下、煩心、心下急痛、
寒瘧、溏瘕泄、水閉、黃疸、好臥不能食肉、脣青、強立、股膝內痛、厥、
足大指不用，盛者則寸口大三倍於人迎，虛者則寸口反小於人迎也。足太陰之別，
名曰公孫，去本節後一寸，別走陽明，其別者入絡腸胃，厥氣上逆，則霍亂，
實則腹中切痛，虛則鼓脹，取之所別。脾病、其色黃體青，失溲、直視、脣反張、
爪甲青，飲食吐逆，體重節痛，四肢不舉，其脈當浮大而緩，今反弦急，其色當黃，
今反青，此是木之刻土，為大逆，十死不治。</p>
<h3>胃足陽明經病證第六</h3>
<p>胃病者，腹脹，胃管當心而痛，上支兩脇膈咽不通飲食不下，取三里。飲食不下，
膈塞不通，邪在胃管，在上管則抑而刺之，在下管則散而去之。胃脈搏堅而長，
其色赤，當病折髀，其耎而散者，當病食痺，髀痛，胃中有癖食冷物者，痛不能食，
食熱則能食，胃脹者，腹滿胃管痛，鼻聞焦臭妨於食，大便難。診得胃脈病形何如，
曰胃實則脹，虛則洩。病先發於胃脹滿，五日之腎，小腹腰脊痛，脛痠，三日之膀胱，
背𦛗筋痛，小便閉，五日上之脾，閉塞不通，身痛體重（靈樞云上之心），
六日不已死，冬夜半後，夏日昳（六日，一作三日）。脈浮而芤，浮則為陽，
芤則為陰，浮芤相搏，胃氣生熱，其陽則絕。趺陽脈浮者，胃氣虛也，趺陽脈浮大者，
此胃家微虛煩，圊必日再行，芤而有胃氣者，脈浮之大而耎，
微按之芤故知芤而有胃氣也趺陽脈數者，胃中有熱，即消穀引食，趺陽脈濇者，
胃中有寒，水穀不化，趺陽脈麤麤而浮者，其病難治，趺陽脈浮遲者，故久病，
趺陽脈虛則遺溺，實則失氣。動作頭痛，重熱氣朝者屬胃。厥氣客於胃，則夢飲食。
足陽明之脈，起於鼻，交頞中，旁約太陽之脈，下循鼻外，入上齒中，還出俠口，
環脣下，交承漿，卻循頤後下廉，出大迎，循頰車，上耳前過客主人，循髮際，
至額顱，其支者，從大迎前下人迎，循喉嚨入缺盆、下膈、屬胃、絡脾，其直者，
從缺盆下乳內廉，下俠臍入氣街中，其支者，起胃下口，循腹裏，下至氣街中，而合，
以下髀關抵伏菟，下入膝臏中，下循胻外廉，下足跗，入中指內間，其支者，
下膝三寸，而別以下入中指外間，其支者別跗上入大指間，出其端，
是動則病悽悽然振寒，善伸，數欠，顏黑，病至則惡人與火，聞木音則惕然而驚，
心動，欲獨閉戶牖而處，甚則欲上高而歌，棄衣而走，賁響腹脹，
是為骭（一作䯒）厥，是主血（血一作胃）所生病者，
狂瘧（一作瘈）溫淫、汗出、鼽衂、口喎、脣緊、頸腫、喉痹、大腹水腫膝臏痛，
循膺乳街（○按甲乙經街上有氣字），股，伏菟骭外廉，足跗上皆痛，中指不用，
氣盛則身以前皆熱，其有餘於胃，則消穀善飢，溺色黃，氣不足則身以前皆寒慄，
胃中寒，則脹滿，盛者則人迎大三倍於寸口，虛者則人迎反小於寸口也。</p>
<h3>肺手太陰經病證第七</h3>
<p>肺氣虛，則鼻息利少氣實則喘喝胸憑仰息，肺氣虛，則夢見白物，見人斬血藉藉，
得其時，則夢見兵戰，肺氣盛，則夢恐懼哭泣，厥氣客于肺，
則夢飛揚見金鐵之器奇物。病在肺，下晡慧，日中甚，夜半靜。病先發於肺喘咳，
三日之肝，脇痛支滿，一日之脾，閉塞不通，身痛體重，五日之胃，腹脹，十日不已，
死，冬日入，夏日出。肺脈搏堅而長，當病吐血，其濡而散者，
當病漏汗（漏一作灌），至今不復散發，肺脈沈之而數，浮之而喘，苦洗洗，
寒熱腹滿，腸中熱（肺以小腸為腑），小便赤，肩背痛，從腰已上汗出，得之房內，
汗出當風。白，脈之至也，喘而浮大，上虛下實，驚，有積氣在胸中，
喘而虛名曰肺痹，寒熱，得之，因醉而使內也。肺中風者，口燥而喘，身運而重，
冒而腫脹，肺中寒者，其人吐濁涕。形寒寒飲則傷肺，以其兩寒相感中外皆傷，
故氣逆而上行，肺傷者，其人勞倦則欬唾血，其脈細緊浮數，皆吐血，此為操擾嗔怒，
得之肺傷氣擁所致。肺脹者，虛而滿喘欬逆倚息，目如脫狀，其脈浮，肺水者，
其人身體重，而小便難，時時大便鴨溏。肝乘肺必作虛。脈輭而弱，弱反在關，
耎反在顛，浮反在上，弱反在下，浮則為陽，弱則血不足，必弱為虛，浮弱自別，
浮則自出，弱則為入，浮則為出不入，此為有表無裏，弱則為入不出，此為無表有裏，
陽出極汗，齊腰而還此為無表有裏，故名曰厥陽，在當汗出不汗出。趺陽脈浮緩，
少陽微緊，微為血虛，緊為微寒，此為鼠乳，其病屬肺。肺之積名曰息賁，在右脇下，
覆大如杯，久久不愈，病洒洒寒熱氣逆喘欬，發肺癰，以春甲乙日得之，何也，
心病傳肺，肺當傳肝，肝適以春王，王者不受邪，肺復欲還心，心不肯受，
因留結為積故知息賁，以春得之，肺病，其色白，身體但寒無熱，時時欬，其脈微遲，
為可治，宜服五味子，大補肺湯，瀉肺散，春當刺少商夏刺魚際，皆瀉之，
季夏刺大淵，秋刺經渠，冬刺尺澤，皆補之又當灸膻中，百壯，背第三椎，二十五壯。
肺病者，必喘欬逆氣肩息，背痛，汗出，尻陰股膝攣，髀腨胻足皆痛，虛則少氣，
不能報息，耳聾嗌乾，取其經手太陰，足太陽，之外，厥陰內，少陰血者。邪在肺，
則皮膚痛，發寒熱，上氣，氣喘汗出，欬，動肩背，取之膺中，外輸背第三椎之傍，
以手痛按之，快然，乃刺之取之缺盆中，以越之。手太陰之脈起於中膲，下絡大腸，
還循胃口，上膈屬肺，從肺系橫出腋下，下循臑內，行少陰心主之前，下肘中，
后循臂內上骨下廉，入寸口，上魚循魚際出大指之端，其支者，從腕後直次指內廉，
出其端，是動則病肺脹滿，膨膨而喘咳，缺盆中痛，甚則交兩手而瞀，是為臂厥，
是主肺所生病者，欬，上氣，喘喝，煩心胸滿，臑臂內前廉痛，掌中熱氣盛，
有餘則肩背痛，風汗出，小便數而欠，氣虛，則肩背痛，寒，少氣不足以息，
溺色變卒遺失無度，盛者則寸口大三倍於人迎，虛者則寸口反小於人迎也。
手太陰之別，名曰列缺，起於腋下（一云腕上）分間，別走陽明，其別者，
並太陰之經，直入掌中，散入於魚際，其實則手兌掌起，虛則欠㰦，小便遺數，
取之去腕一寸半。肺病身當有熱，欬嗽短氣，唾出膿血，其脈當短澀，今反浮大，
其色當白而反赤者，此是火之刻金，為大逆，十死不治。</p>
<h3>大腸手陽明經病證第八</h3>
<p>大腸病者，腸中切痛而鳴濯濯，冬日重感于寒，則泄，當臍而痛，不能久立，
與胃同候，取巨虛上廉，腸中雷鳴，氣上衝胸，喘不能久立，邪在大腸，刺肓之原，
巨虛，上廉，三里。大腸有寒，騖溏有熱，便腸垢，大腸有宿食，寒慄，
發熱有時如瘧狀大腸脹者，腸鳴而痛，寒則泄食不化。厥氣客於大腸則夢田野。
手陽明之脈起於大指次指之端，外側，循指上廉出合谷，兩骨之間，上入兩筋之中，
循臂上廉上入肘，外廉，循臑外前廉，上肩，出髃骨之前，廉上出柱骨之會上，
下入缺盆絡肺下膈，屬大腸，其支者從缺盆直入上頸貫頰入下齒縫中，
還出俠口交人中，左之右，右之左，上俠鼻孔，是動，則病齒痛䪼腫，
是主津所生病者，目黃口乾，鼽衂喉痹，肩前臑痛，大指次指痛不用，氣盛有餘，
則當脈所過者熱腫，虛則寒慄，不復，盛者則人迎大三倍於寸口，
虛者則人迎反小於寸口也。</p>
<h3>腎足少陰經病證第九</h3>
<p>腎氣虛則厥逆，實則脹滿，四肢正黑，腎氣虛，則夢見舟船，溺人，得其時，
夢伏水中，若有畏怖，腎氣盛，則夢腰脊兩解不相屬，厥氣客於腎則夢臨淵，
沒居水中。病在腎，夜半慧，日乘四季甚，下晡靜。病先發於腎，小腹腰脊痛，脛痠，
三日之膀胱，背𦛗筋痛，小便閉，二日上之心，心痛，三日之小腸，脹，四日不已死，
冬大食，夏晏晡。腎脈搏堅而長，其色黃而赤，當病折腰，其耎而散者，當病少血，
腎脈沈之大而堅，浮之大而緊，苦手足骨腫厥，而陰不興，腰脊痛，小腹腫，
心下有水氣，時脹閉，時泄，得之浴水中，身未乾，而合房內，及勞倦發之。
黑脈之至也，上堅而大，有積氣在小腹與陰，名曰腎痹，得之沐浴，清水而臥。
凡有所用力舉重，若入房過度，汗出如浴水，則傷腎。腎脹者腹滿引背，
央央然腰髀痛，腎水者，其人腹大臍腫，腰重痛不得溺，陰下濕如牛鼻，頭汗，
其足逆寒，大便反堅。腎著之為病，從腰以下冷，腰重如帶五千錢，腎著之病，
其人身體重，腰中冷如水狀（一作如水洗狀，一作如坐水中，形如水狀），反不渴，
小便自利，食飲如故，是其證也，病屬下膲，從身勞汗出，衣裏冷濕，故久久得之。
腎之積名曰奔豚，發於小腹，上至心，下如豚，奔走之狀，上下無時，久久不愈，
病喘逆，骨痿少氣，以夏丙丁日得之，何也，脾病傳腎，腎當傳心，心適以夏王，
王者不受邪，腎復欲還脾，脾不肯受，因留結為積，故知奔豚，以夏得之。
水流夜疾何以故，師曰土休，故流疾而有聲，人亦應之，人夜臥則脾不動搖，
脈為之數疾也。腎病，其色黑，其氣虛弱吸吸少氣，兩耳苦聾腰痛，
時時失精飲食減少，膝以下清，其脈沈滑而遲，此為可治，宜服內補散，建中湯，
腎氣丸，地黃煎，春當刺湧泉，秋刺伏留，冬刺陰谷，皆補之，夏刺然谷，
季夏刺大溪，皆瀉之，又當灸京門五十壯，背第十四椎百壯。腎病者必腹大脛腫痛，
喘欬，身重，寢汗出，憎風，虛即胸中痛，大腹小腹痛，清厥，意不樂，取其經，
足少陰，太陽血者。邪在腎，則骨痛陰痹，陰痹者按之而不得，腹脹，腰痛，大便難，
肩背頸項強痛，時眩，取之湧泉，崑崙，視有血者，盡取之。足少陰之脈，
起於小指之下，斜趣足心出然骨之下，循內踝之後，別入跟中，以上腨內，
出膕中內廉，上股內後廉，貫脊，屬腎，絡膀胱，其直者從腎上貫肝膈，入肺中，
循喉嚨俠舌本，其支者，從肺出絡心，注胸中，是動，則病飢而不欲食，
面黑如炭色（一作地色），欬唾，則有血，喉鳴而喘，坐而欲起，目䀮䀮無所見，
心懸若飢狀，氣不足，則善恐，心惕惕若人將捕之，是為腎厥（一作痿），
是主腎所生病者，口熱舌乾，咽腫上氣，嗌乾及痛煩心心痛，
黃疸腸澼、脊股內後廉痛痿厥，嗜臥，足下熱而痛，灸則強食而生害（一作肉），
緩帶被髮，大杖重履而步，盛者，則寸口大再倍於人迎，虛者，則寸口反小於人迎也。
足少陰之別，名曰大鍾，當踝後繞跟，別走太陽，其別者，並經上走於心包，
下貫腰脊，其病，氣逆則煩悶，實則閉癃，虛則腰痛，取之所別。腎病手足逆冷，
面赤目黃，小便不禁，骨節煩疼，少腹結痛，氣衝於心，其脈當沈細而滑，今反浮大，
其色當黑，而反黃，此是土之刻水，為大逆，十死不治。</p>
<h3>膀胱足太陽經病證第十</h3>
<p>膀胱病者，少腹偏腫而痛，以手按之，則欲小便而不得，肩上熱，若脈陷，
足小指外側，及脛踝後皆熱，若脈陷者，取委中。膀胱脹者，小腹滿而氣癃。
病先發於膀胱者，背𦛗筋痛，小便閉，五日之腎，少腹腰脊痛，脛痠，一日之小腸，
脹，一日之脾，閉塞不通，身痛體重，二日不已，死，冬雞鳴，夏下晡（一云日夕）。
厥氣客於膀胱，則夢遊行。足太陽之脈起於目內眥，上額，交巔上，其支者，
從巔至耳上角，其直者從巔入，絡腦，還出，別下項，循肩膊內俠脊，抵腰中，
入循膂，絡腎，屬膀胱，其支者從腰中下會於後陰，下貫臀，入膕中其支者，
從膊內左右，別下貫髖（一作胛），過髀樞，循髀外後廉，下合膕中，以下貫腨內，
出外踝之後，循京骨，至小指外側，是動，則病衝頭痛，目似脫，項似拔，
脊痛腰似折，髀不可以曲，膕如結，腨如裂，是為踝厥，是主筋所生病者，
痔瘧狂巔疾，頭腦頂痛，目黃淚出，鼽衂，項背腰尻膕腳皆痛，小指不用，
盛者則人迎大再倍於寸口，虛者則人迎反小於寸口也。</p>
<h3>三膲手少陽經病證第十一</h3>
<p>三膲病者，腹脹氣滿，小腹尤堅，不得小便，窘急，溢出為水，留則為脹，
候在足太陽之外，大絡，在太陽少陽之間，亦見於脈，取委陽，少腹病腫不得小便，
邪在三膲，約取太陽大絡視其結脈與厥陰小絡，結，而血者腫，上及胃管，取三里。
三膲脹者，氣滿於皮膚，殼殼然而堅，不疼。熱在上膲，因欬為肺痿，熱在中膲，
因腹堅，熱在下膲，因溺血，手少陽之脈，起於小指次指之端，上出兩指之間，
循手表腕出臂外兩骨之間，上貫肘，循臑外上肩，而交出足少陽之後，入缺盆，
交膻中，散絡心包，下膈，偏屬三膲，其支者從膻中上出缺盆，上項，
俠耳後直上出耳上角，以屈下額（一作頞），至䪼，其支者，從耳後入耳中，
出走耳前，過客主人前，交頰，至目兌眥，是動則病耳聾，煇煇焞焞，嗌腫喉痹，
是主氣所生病者汗出目兌眥痛，頰腫，耳後肩臑肘臂外皆痛小指次指不用，
盛者則人迎大一倍於寸口，虛者則人迎反小於寸口也。</p>
<h2>脈經卷之七</h2>
<p>病不可發汗證第一
病可發汗證第二
病發汗以後證第三
病不可吐證第四
病可吐證第五
病不可下證第六
病可下證第七
病發汗吐下以後證第八
病可溫證第九
病不可灸證第十
病可灸證第十一
病不可刺證第十二
病可刺證第十三
病不可水證第十四
病可水證第十五
病不可火證第十六
病可火證第十七
熱病陰陽交并少陰厥逆陰陽竭盡生死證第十八
重實重虛陰陽相附生死證第十九
熱病生死期日證第二十
熱病十逆死日證第二十一
熱病五藏氣絕死日證第二十二
熱病至脈死日證第二十三
熱病損脈死日證第二十四</p>
<h3>病不可發汗證第一</h3>
<p>少陰病脈細沈數，病為在裏，不可發其汗。脈浮而緊，法當身體疼痛，當以汗解，
假令尺中脈遲者，不可發其汗，何以知，然此為榮氣不足，血微少，故也。
少陰病脈微（一作濡而微弱），不可發其汗，無陽故也。脈濡而弱弱反在關，
濡反在顛，微反在上，澀反在下，微則陽氣不足，澀則無血，陽氣反微，
中風汗出而反躁煩，澀則無血，厥而且寒，陽微發汗，躁不得眠。動氣在右，
不可發汗，發汗則衂而渴，心苦煩，飲即吐水。動氣在左，不可發汗，發汗則頭眩，
汗不止，筋惕肉瞤。動氣在上，不可發汗，發汗則氣上衝，正在心端。動氣在下，
不可發汗，發汗則無汗，心中大煩，骨節苦疼，目運惡寒，食即反吐，
穀不得前（一云穀不消化）。咽中閉塞，不可發汗，發汗則吐血，氣微絕，手足逆冷，
欲得踡臥，不能自溫。諸脈數動微弱，並不可發汗，發汗則大便難，
腹中乾（一云小便難，胞中乾），胃燥而煩，其形相象，根本異源。脈濡而弱，
弱反在關，濡反在顛，弦反在上，微反在下，弦為陽運，微為陰寒，上實下虛，
意欲得溫，微弦為虛，不可發汗，發汗則寒慄不能自還，欬者則劇，數吐涎沫，
咽中必乾，小便不利，心中飢煩，晬時而發，其形似瘧，有寒無熱，虛而寒慄，
欬而發汗，踡而苦滿（滿一作心痛），腹中復堅。厥不可發汗，發汗則聲亂咽嘶，
舌痿，穀不得前。諸逆發汗，微者難愈，劇者言亂，睛眩者死，命將難全。
太陽病得之八九日，如瘧狀，發熱而惡寒，熱多寒少，其人不嘔、清便、續自可，
一日再三發，其脈微而惡寒。此為陰陽俱虛，不可復發汗也。太陽病發熱惡寒，
熱多寒少，脈微弱則無陽也，不可復發其汗。咽乾燥者，不可發汗。亡血家，
不可攻其表，汗出而寒，慄而振。衂家，不可攻其表，汗出必額陷，脈上促急而緊，
直視而不能眴，不得眠。汗家，重發其汗，必恍惚心亂，小便已，陰疼，
可與禹餘糧丸。淋家不可發汗，發其汗，必便血。瘡家，雖身疼痛，不可攻其表，
汗出則痓（一作痙，下同）。冬時，發其汗，必吐利口中爛，生瘡。下利清穀，
不可攻其表，汗出必脹滿。欬而小便利，若失小便，不可攻其表，汗出則厥逆冷，
汗出多堅發其汗亦堅。傷寒一二日至四五日厥者，必發熱前厥者後必熱，
厥深者熱亦深厥微者熱亦微，厥應下之，而反發其汗，必口傷爛赤。
病人脈數數為有熱，當消穀引食，反吐者，醫發其汗，陽微，膈氣虛，脈則為數數，
為客陽，不能消穀，胃中虛冷，故令吐也。傷寒四五日，其脈沈，煩而喘滿，脈沈者，
病為在裏，反發其汗，津液越出，大便為難，表虛裏實，久則譫語。
傷寒頭痛翕翕發熱，形象中風，常微汗出，又自嘔者，
下之益煩心懊憹如飢發汗則致痓，身強難以屈伸，熏之則發黃，不得小便，
久則發欬唾。太陽病，發其汗，因致痓。傷寒脈弦細，頭痛而反發熱，此屬少陽，
少陽不可發其汗。太陽與少陽併病，頭項強痛或眩冒，時如結胸，心下痞堅者，
不可發其汗。少陰病，欬而下利譫語者，此被火氣劫，故也，小便必難，
以強責少陰汗也。少陰病，但厥無汗，而強發之，必動其血，未知從何道出，
或從口鼻，或從目出者，是為下厥上竭，為難治。傷寒有五，
皆熱病之類也（○按袁本此下有其形相象，根本異源，二句），同病異名，同脈異經，
病雖俱傷於風，其人自有固疾，則不得同法，其人素傷於風，因復傷於熱，風熱相薄，
則發風溫，四肢不收，頭痛身熱，常汗出不解，治在少陰，厥陰，不可發汗，汗出，
譫言獨語，內煩，燥擾不得臥，善驚，目亂無精，治之復發其汗，如此者醫殺之也。
傷寒濕溫，其人常傷於濕，因而中暍濕熱相薄，則發濕溫，病苦兩脛逆冷，腹滿，
叉胸，頭目痛苦，妄言，治在足太陰，不可發汗，汗出必不能言，耳聾，不知痛所在，
身青，面色變，名曰重暍，如此者醫殺之也（右二首，出醫律）。</p>
<h3>病可發汗證第二</h3>
<p>大法，春夏宜發汗。凡發汗欲令手足皆周，至、漐漐一時間，益佳，但不欲如水流離，
若病不解，當重發汗，汗多則亡陽，陽虛不得重發汗也。凡服湯藥發汗，中病便止，
不必盡劑也。凡云可發汗，而無湯者，丸散亦可用，要以汗出為解，然不如湯隨證良。
太陽病外證未解，其脈浮弱，當以汗解，宜桂枝湯。太陽病脈浮而數者，可發其汗，
屬桂枝湯證。陽明病脈遲，汗出多，微惡寒，表為未解，可發其汗，屬桂枝湯證。
夫病脈浮大，問病者言便堅耳，設利者為虛，大逆，堅為實，汗出而解，何以故，
脈浮，當以汗解。傷寒，其脈不弦緊而弱，弱者必渴，被火必譫語，弱者發熱，脈浮，
解之，當汗出，愈。病者煩熱，汗出即解，復如瘧狀，日晡所發熱，此屬陽明，
脈浮虛者，當發其汗，屬桂枝湯證。病常自汗出，此為榮氣和，榮氣和而外不解，
此衛不和也，榮行脈中，為陰，主內，衛行脈外，為陽，主外，復發其汗，衛和則愈，
屬桂枝湯證。病人藏無他病，時發熱，自汗出而不愈，此衛氣不和也，
先其時發汗則愈屬桂枝湯證。脈浮而緊，浮則為風，緊則為寒，風則傷衛，寒則傷榮，
榮衛俱病，骨節煩疼，可發其汗，宜麻黃湯。太陽病不解，熱結膀胱，其人如狂，
血必自下，下者即愈，其外未解者，尚末可攻，當先解其外，屬桂枝湯證。太陽病，
下之微喘者，表未解，故也，屬桂枝加厚朴杏子湯證。傷寒病脈浮緊，不發其汗，
因衂，屬麻黃湯證。陽明病，脈浮無汗，其人必喘，發其汗則愈，屬痲黃湯證。
太陰病，脈浮者可，發其汗，屬桂枝湯證。太陽病脈浮緊，無汗，而發熱其身疼痛，
八九日不解，表，候續在此當發其汗，服湯微除，發煩目瞑，劇者必衂，衂乃解，
所以然者，陽氣重故也，屬麻黃湯證。脈浮者，病在表，可發其汗，
屬桂枝湯證（一云麻黃湯）。傷寒不大便六七日，頭痛有熱，與承氣湯，
其大便反青（一作小便清），此為不在裏，故在表也，當發其汗頭痛者必衂，
屬桂枝湯證。下利後，身體疼痛，清便自調，急當救表，宜桂枝湯。太陽病頭痛發熱，
汗出惡風，若惡寒，屬桂枝湯證。太陽中風，陽浮而陰濡弱，浮者熱自發，
濡弱者汗自出，嗇嗇惡寒，淅淅惡風，翕翕發熱，鼻鳴，乾嘔，屬桂枝湯證。
太陽病發熱汗出，此為榮弱衛強，故使汗出，欲救邪風，屬桂枝湯證。
太陽病下之氣上撞，可與桂枝湯，不撞，不可與之。太陽病初服桂枝湯，
而反煩不解者，法當先刺風池風府，卻與桂枝湯，則愈。燒鍼令其汗，鍼處被寒，
核起而赤者，必發賁豚，氣從少腹上撞心者灸其核上一壯，與桂枝加桂湯。
太陽病項背強几几，反汗出惡風，屬桂枝加葛根湯。太陽病項背強，几几，無汗惡風，
屬葛根湯。太陽與陽明合病，而自利不嘔者，屬葛根湯證。太陽與陽明合病，不下利，
但嘔，屬葛根加半夏湯。太陽病桂枝證，醫反下之，遂利不止，其脈促者，表未解，
喘而汗出，屬葛根黃芩黃連湯。太陽病頭痛發熱，身體疼，腰痛，骨節疼痛，惡風，
無汗而喘，屬麻黃湯證。太陽與陽明合病，喘而胸滿，不可下也，屬麻黃湯證。
太陽中風，脈浮緊，發熱惡寒身體疼痛，不汗出，而煩躁頭痛，屬大青龍湯，脈微弱，
汗出惡風，不可服之，服之則厥，筋惕肉瞤，此為逆也。傷寒脈浮緩，其身不疼，
但重，乍有輕時，無少陰證者，大青龍湯發之。傷寒表不解，心下有水氣，乾嘔，
發熱，而欬，或渴，或利，或噎，或小便不利，小腹滿，或微喘，屬小青龍湯。
傷寒心下有水氣，欬而微喘，發熱不渴，服湯已而渴者，此寒去，為欲解，
屬小青龍湯證。陽明中風，脈弦浮大而短氣，腹都滿，脇下及心痛，久按之，
氣不通（一作按之不痛），鼻乾不得汗，嗜臥，一身及目悉黃，小便難，有潮熱，
時時噦，耳前後腫，刺之小差，外不解，病過十日，脈續浮，與小柴胡湯，
但浮無餘證，與麻黃湯，不溺，腹滿，加噦，不治。太陽病十日，以去，脈浮細嗜臥，
此為外解，設胸滿脇痛，與小柴胡湯，脈浮者，屬麻黃湯證。中風往來寒熱，
傷寒五六日以後，胸脇苦滿，嘿嘿不欲飲食，煩心喜嘔，或胸中煩而不嘔，或渴，
或腹中痛，或脇下痞堅，或心中悸，小便不利，或不渴，外有微熱，或欬者，
屬小柴胡湯。傷寒四五日，身體熱，惡風，頸項強，脇下滿，手足溫而渴，
屬小柴胡湯證。傷寒六七日發熱，微惡寒，支節煩疼，微嘔，心下支結，外證未去者，
屬柴胡桂枝湯。少陰病得之二三日，麻黃附子甘草湯微發汗，
以二三日無裏證（○按裏字原脫，今依傷寒論補），故微發汗也。脈浮，小便不利，
微熱消渴，與五苓散，利小便，發汗。</p>
<h3>病發汗以後證第三</h3>
<p>二陽併病太陽初得病時，發其汗，汗先出，復不徹，因轉屬陽明，續自微汗出，
不惡寒，若太陽證不罷，不可下，下之為逆，如此者，可小發其汗，
設面色緣緣正赤者陽氣怫鬱在表，當解之，熏之，若發汗不大徹，不足言，陽氣怫鬱，
不得越，當汗而不汗，其人躁煩，不知痛處，乍在腹中，乍在四肢，按之不可得，
其人短氣，但坐汗出而不徹故也，更發其汗，即愈，何以知其汗不徹，脈澀，
故以知之。未持脈時，病人叉手自冒心，師因教試令欬，而不即欬者，
此必兩耳無所聞也，所以然者，重發其汗，虛故也。發汗後，飲水多者，必喘，
以水灌之，亦喘。發汗後，水藥不得入口為逆，若更發其汗，必吐下不止。
陽明病本自汗出，醫復重發其汗，病已差，其人微煩，不了了，此大便堅也，
以亡津液，胃中乾燥，故令其堅，當問小便日幾行，若本日三四行，今日再行者，
必知大便不久出，今為小便數少，津液當還入胃中，故知必當大便也。發汗多，
又復發其汗，此為亡陽，若譫語脉短者死，脈自和者不死。傷寒發其汗，身目為黃，
所以然者，寒濕相搏，在裏不解，故也。病人有寒，復發其汗，胃中冷，必吐蚘。
太陽病發其汗，遂漏而不止，其人惡風，小便難，四肢微急，難以屈伸，
屬桂枝加附子湯。服桂枝湯，大汗出，若脈但洪大，與桂枝湯，若其形如瘧，
一日再三發，汗出便解，屬桂枝二麻黃一湯。服桂枝湯，大汗出，大煩，渴不解，
若脈洪大，屬白虎湯。傷寒脈浮自汗出，小便數，頗復（仲景頗復字作心煩），
微惡寒，而腳攣急，反與桂枝湯，欲攻其表，得之便厥，咽乾煩躁，吐逆，
當作甘草乾薑湯，以復其陽，厥愈足溫，更作芍藥甘草湯與之，其腳即伸，
而胃氣不和，譫語，可與承氣湯，重發其汗，復加燒針者，屬四逆湯。傷寒發汗已解，
半日許復煩，其脈浮數，可復發其汗，屬桂枝湯。發汗後身體疼痛，
其脈沈遲屬桂枝加芍藥生薑人參湯。發汗後不可更行桂枝湯，汗出而喘，無大熱，
可以麻黃杏子甘草石膏湯。發汗過多以後，其人叉手自冒心，心下悸，而欲得按之，
屬桂枝甘草湯。發汗後，其人臍下悸，欲作賁豚，屬茯苓桂枝甘草大棗湯。
發汗後腹脹滿，屬厚朴生薑半夏甘草人參湯。發其汗不解，而反惡寒者，虛、故也，
屬芍藥甘草附子湯，不惡寒但熱者，實也，當和其胃氣，宜小承氣湯。太陽病發汗，
若大汗出，胃中燥煩不得眠，其人欲飲水，當稍飲之，令胃中和則愈。發汗已，
脈浮而數，復煩渴者，屬五苓散。傷寒汗出而渴，屬五苓散證，不渴，屬茯苓甘草湯。
太陽病發其汗，汗出不解，其人發熱，心下悸，頭眩，身瞤而動，振振欲擗地，
屬元武湯。傷寒汗出解之後，胃中不和，心下痞堅，乾噫，食臭，脇下有水氣，
腹中雷鳴而利屬生薑瀉心湯。傷寒發熱，汗出不解後，心中痞堅，嘔而下利，
屬大柴胡湯。太陽病三日，發其汗不解，蒸蒸發熱者，屬於胃也，屬承氣湯。
大汗出熱不去，內拘急，四肢疼，下利，厥逆而惡寒，屬四逆湯。發汗多亡陽，
譫語者，不可下，與柴胡桂枝湯，和其榮衛，以通津液後自愈。</p>
<h3>病不可吐證第四</h3>
<p>太陽病當惡寒而發熱，今自汗出，反不惡寒，發熱，關上脈細，而數，此醫吐之過也，
若得病一日二日吐之。腹中飢，口不能食，三日四日吐之，不喜糜粥，欲食冷食，
朝食暮吐，此醫吐之所致也，此為小逆。太陽病吐之者，但太陽當惡寒，今反不惡寒，
不欲近衣，此為吐之內煩也。少陰病，飲食入則吐，心中溫溫欲吐，復不能吐，
始得之，手足寒，脈弦遲，此胸中實，不可下，若膈上有寒飲，乾嘔者，不可吐，
當溫之。諸四逆厥者不可吐之，虛家亦然。</p>
<h3>病可吐證第五</h3>
<p>大法春宜吐。凡服湯吐中病便止，不必盡劑也。病如桂枝證，其頭不痛，項不強，
寸口脈微浮，胸中痞堅，氣上撞咽喉不得息此為胸有寒，當吐之。病胸上諸實，
胸中鬱鬱而痛，不能食，欲使人按之，而反有濁唾，下利日十餘行，其脈反遲，
寸口微滑，此可吐之，吐之，利即止。少陰病飲食入則吐，心中溫溫欲吐，復不能吐，
當遂吐之。宿食在上管當吐之。病者手足厥冷，脈乍繄，邪結在胸中，心下滿而煩，
飢不能食，病在胸中，當吐之。</p>
<h3>病不可下證第六</h3>
<p>脈濡而弱，弱反在關，濡反在顛，微反在上，澀反在下，微則陽氣不足，澀則無血，
陽氣反微，中風汗出，而反躁煩，澀則無血，厥而且寒，陽微不可下，
下之則心下痞堅。動氣在右，不可下，下之則津液內竭，咽燥鼻乾，頭眩心悸。
動氣在左，不可下，下之則腹裏拘急，食不下，動氣反劇，身雖有熱，臥反欲踡。
動氣在上，不可下，下之則掌握熱煩，身浮熱，冷汗自泄（○按吳本熱冷二字互易，
與傷寒論合），欲水自灌。動氣在下，不可下，下之則腹滿，卒起頭眩，
食則下清穀心下痞堅。咽中閉塞不可下，下之則上輕下重，水漿不下，臥則欲踡，
身體急痛，復下利，日十數行。諸外實不可下，下之則發微熱，亡脈則厥，當臍握熱。
諸虛不可下，下之則渴，引水者易愈，惡水者劇。脈濡而弱弱反在關，濡反在顛，
弦反在上，微反在下，弦為陽運，微為陰寒，上實下虛，意欲得溫，微弦為虛，
虛者不可下，微則為欬，欬則吐涎沫，下之欬則止而利不休𦙞中如蟲齧粥，入則出，
小便不利兩脇拘急，喘息為難，頸背相牽，臂則不仁，極寒反汗出，軀冷，
若冰眼睛不慧，語言不休，穀氣多入，則為除中，口雖欲言，舌不得前。脈濡而弱，
弱反在關，濡反在顛，浮反在上，數反在下，浮為陽虛，數為無血，浮則為虛，
數則生熱，浮則為虛，自汗而惡寒，數則為痛，振而寒慄，微弱在關，胸下為急，
喘滿汗流（○案吳本無滿字，流字，與傷寒論合），不得呼吸，呼吸之中，痛在於脇，
振寒相搏，其形如瘧，醫反下之，令脈急數，發熱狂走，見鬼恍惚（○按吳本無此二，
與傷寒論合），心下為痞，小便淋瀝，少腹甚堅，小便血出。脈濡而緊，
濡、則陽氣微，緊、則榮中寒，陽微，衛中風，發熱而惡寒，榮緊，胃氣冷，微嘔，
心內煩，醫以為大熱，解肌而發汗，亡陽，虛煩燥，心下苦痞堅，表裏俱虛竭，
卒起而頭眩，客熱在皮膚，悵怏不得眠，不知胃氣冷緊，寒在關元，技巧無所施，
汲水灌其身，客熱應時罷，慄慄而振寒，重被而覆之，汗出而冒顛，體惕而又振，
小便為微難，寒氣因水發，清穀不容間，嘔變反腸出，顛倒不得安，手足為微逆，
身冷而內煩，遲欲從後救，安可復追還。脈浮而大，浮為氣實，大為血虛，
血虛為無陰，孤陽獨下陰部，小便難，胞中虛，今反小便利，而大汗出，法衛家當微，
今反更實，津液四射，榮竭血盡，虛煩不眠（○按吳本虛作千，
傷寒論云乾煩而不得眠），血薄肉消，而成暴液，醫復以毒藥攻其胃此為重虛，
客陽去，有期，必下如污泥而死。趺陽脈遲而緩，胃氣如經也，趺陽脈浮而數，
浮則傷胃，數則動脾，此非本病，醫特下之所為也，榮衛內陷，其數先微，脈反但浮，
其人必大便堅氣噫而除，何以言之，脾脈本緩，今數脈動脾，其數先微，
故知脾氣不治、大便堅、氣噫而除，今脈反浮，其數改微，邪氣獨留心中，則飢，
邪熱不殺穀，潮熱發渴，數脈當遲緩脈，因前後度數如前（仲景前字作法），
病者則飢，數脈不時，則生惡瘡。脈數者，久數不止、止則邪結，正氣不能復，
正氣卻結於藏，故邪氣浮之，與皮毛相得，脈數者不可下，下之必煩，利不止。
少陰病脈微，不可發其汗，無陽故也，陽已虛，尺中弱澀者，復不可下之。脈浮大，
應發其汗，醫反下之，此為大逆。脈浮而大，心下反堅，有熱，屬藏者攻之，
不令發汗，屬腑者不令溲數，溲數則大便堅，汗多則熱愈，汗少則便難，
脈遲尚未可攻。二陽併病，太陽初得病時，發其汗，汗先出，復不徹，因轉屬陽明，
欲自汗出，不惡寒，若太陽證不罷，不可下，下之為逆。結胸證，其脈浮大，不可下，
下之即死。太陽與陽明合病，喘而胸滿，不可下之。太陽與少陽併病，心下痞堅，
頸項強而眩，勿下之。諸四逆厥者，不可下之，虛家亦然。病欲吐者，不可下之。
太陽病有外證未解，不可下，下之為逆。病發於陽，而反下之，熱入，因作結胸，
發於陰，而反下之，因作痞。脈浮緊而下之（○按原本句首衍痞字，緊誤作堅，
並依傷寒論刪正），緊反入裏，因作痞，夫病陽多者熱，下之則堅，本虛攻其熱必噦，
無陽，陰強而堅，下之，必清穀而腹滿。太陰之為病，腹滿而吐，食不下，下之益甚，
腹時自痛，胸下結堅。厥陰之為病，消渴，氣上撞心中疼，熱，飢而不欲食，
甚者則欲吐，下之不肯止。少陰病，其人飲食入則吐，心中溫溫，欲吐復不能吐，
始得之，手足寒脈弦遲，此胸中實，不可下也。傷寒五六日不結胸，腹濡，
脈虛復厥者，不可下，下之亡血死。傷寒發熱，但頭痛，微汗出，發其汗，則不識人，
熏之則喘，不得小便，心腹滿，下之則短氣而腹滿，小便難，頭痛背強，
加溫針則必衂。傷寒其脈陰陽俱緊，惡寒發熱，則脈欲厥，厥者脈初來大，漸漸小，
更來漸大，是其候也，惡寒甚者，翕翕汗出，喉中痛，熱多者目赤，睛不慧，
醫復發之，咽中則傷，若復下之，則兩目閉，寒多清穀，熱多便膿血，熏之則發黃，
熨之則咽燥，小便利者可救，難者必危殆。傷寒發熱，口中勃勃氣出，頭痛目黃，
衂不可制，貪水者必嘔，惡水者厥，下之，咽中生瘡，
假令手足溫者下之（○按吳本無此二字，與傷寒論合），下重，便膿血，頭痛，
目黃者，下之目閉，貪水者下之，其脈必厥，其聲嚶，咽喉塞，
發其汗則戰慄陰陽俱虛，惡水者下之，裏冷不嗜食，大便完穀出，發其汗，口中傷，
舌上胎滑，煩躁，脈數實，不大便，六七日，後必便血，復發其汗，小便即自利。
得病二三日，脈弱，無太陽柴胡症，而煩躁心下堅，至四日雖能食，以承氣湯少與，
微和之，令小安，至六日，與承氣湯一升，不大便，六七日，小便少者，雖不大便，
但頭堅後溏，未定成其堅，攻之必溏，當須小便利定堅，乃可攻之。
藏結無陽症寒而不熱（傷寒論云不往來寒熱）其人反靜舌上胎滑者，不可攻也。
傷寒嘔多，雖有陽明症，不可攻之。陽明病潮熱，微堅者，可與承氣湯，不堅，
不可與，若不大便六七日，恐有燥屎，欲知之法，可少與小承氣湯，腹中轉失氣者，
此為有燥屎，乃可攻之，若不轉失氣者，此但頭堅後溏，不可攻之，
攻之必腹滿不能食，欲飲水者即噦其後發熱者，必復堅，以小承氣湯和之，
若不轉失氣者，慎不可攻之。陽明病，身合色赤者，不可攻也，必發熱色黃者，
小便不利也。陽明病當心下堅滿，不可攻之，攻之遂利不止者死，止者愈。
陽明病自汗出，若發其汗，小便自利，此為內竭，雖堅不可攻之，當須自欲大便，
宜蜜煎導而通之，若土瓜根，及豬膽汁，皆可以導。下利其脈浮大，此為虛，
以強下之，故也，設脈浮革，因爾腸鳴，屬當歸四逆湯。</p>
<h3>病可下證第七</h3>
<p>大法秋宜下。凡可下者，以湯勝丸散，中病便止，不必盡三服。陽明病發熱汗多者，
急下之，屬大柴胡湯。少陰病，得之二三日，口燥咽乾者，急下之，屬承氣湯。
少陰病六七日，腹滿不大便者，急下之，屬承氣湯證。少陰病，下利清水色青者，
心下必痛，口乾燥者，可下之，屬大柴胡湯，承氣湯證。下利，三部脈皆平，
按其心下堅者，可下之，屬承氣湯證。陽明與少陽合病，而利，脈不負者為順，
負者失也，互相刻賊為負，滑而數者，有宿食，當下之，屬大柴胡承氣湯證。
傷寒後脈沈沈為內實（玉函云脈沈實，沈實者下之），下之解，屬大柴胡湯證。
傷寒六七日，目中不了了，睛不和，無表裏證，大便難，微熱者，此為實，急下之，
屬大柴胡湯，承氣湯證。太陽病未解，其脈陰陽俱停，必先振，汗出解，但陽微者，
先汗之而解，但陰微者，先下之而解，屬大柴胡湯證（陰微一作尺實）。脈雙弦遲，
心下堅，脈大而緊者，陽中有陰，可下之，屬承氣湯證。結胸者，項亦強，如柔痓狀，
下之即和。病者無表裏證，發熱七八日，雖脈浮數，可下之，屬大柴胡湯證。
太陽病六七日，表證續在，其脈微沈，反不結胸，其人發狂，此熱在下膲，
少腹當堅而滿，小便自利者，下血乃愈，所以然者，以太陽隨經，瘀熱在裏，故也，
屬抵當湯。太陽病身黃，其脈沈結，少腹堅，小便不利，為無血，小便自利，
其人如狂者，血證諦，屬抵當湯證。傷寒有熱，而少腹滿，應小便不利而反利者，
此為血，當下之，屬抵當丸證。陽明病發熱而汗出，此為熱越不能發黃，但頭汗出，
其身無有，齊頸而還，小便不利，渴飲水漿，此為瘀熱在裏，身必發黃，屬茵陳蒿湯。
陽明證，其人喜忘，必有畜血，所以然者，本有久瘀血，故令喜忘，雖堅，大便必黑，
屬抵當湯證。汗出而譫語者，有燥屎在胃中，此風也，過經乃可下之，下之若早，
語言亂，以表虛裏實故也，下之則愈，屬大柴胡湯，承氣湯證。病者煩熱，汗出即解，
復如瘧狀，日晡所發者屬陽明，脈實者，當下之，屬大柴胡湯承氣湯證。陽明病，
譫語有潮熱，而反不能食者，必有燥屎，五六枚，若能食者，但堅耳，屬承氣湯證。
太陽中風，下利嘔逆，表解乃可攻之，其人漐漐汗出，發作有時，頭痛，心下痞，堅，
滿引脇下痛，嘔則短氣，汗出不惡寒，此為表解裏未和，屬十棗湯證。太陽病不解，
熱結膀胱，其人如狂，血自下，下之即愈，其外未解，尚未可攻，當先解其外，外解，
小腹急結者，乃可攻之，屬桃人承氣湯。傷寒七八日，身黃如橘，小便不利，
少腹微滿，屬茵陳蒿湯證。傷寒十餘日，熱結在裏，復往來寒熱，屬大柴胡湯證。
但結胸無大熱，此為水結在胸脇，頭微汗出，與大陷胸湯。傷寒六七日，結胸，熱實，
其脈沈緊，心下痛，按之如石堅，與大陷胸湯。陽明病，其人汗多，津液外出，
胃中燥，大便必堅，堅者必譫語，屬承氣湯證。陽明病，不吐下而心煩者，
可與承氣湯。陽明病，其脈遲，雖汗出而不惡寒，其體必重，短氣，腹滿而喘有潮熱，
如此者其外為解，可攻其裏，若手足濈然汗出者，此大便已堅，屬承氣湯，其熱不潮，
未可與承氣湯，若腹滿大而不大便者，屬小承氣湯，微和胃氣，勿令至大下。陽明病，
譫語發潮熱，其脈滑疾，如此者屬承氣湯，因與承氣湯一升，腹中轉失氣者，
復與一升，如不轉失氣者，勿更與之，明日又不大便，脈反微澀者，此為裏虛，
為難治，不可更與承氣湯。二陽併病，太陽證罷，但發潮熱，手足漐漐汗出，大便難，
而譫語者，下之愈，屬承氣湯證。病人小便不利，大便乍難乍易，時有微熱，
喘冒不能臥者，有燥屎也，屬承氣湯證。</p>
<h3>病發汗吐下以後證第八</h3>
<p>師曰病人脈微而澀者，此為醫所病也，大發其汗，又數大下之，其人亡血，病當惡寒，
而發熱無休止時，夏月盛熱，而欲著複衣，冬月盛寒，而欲裸其體，所以然者，
陽微即惡寒、陰弱即發熱，醫發其汗，使陽氣微又大下之、令陰氣弱，五月之時，
陽氣在表，胃中虛冷，以陽氣內微，不能勝冷，故欲著複衣十一月之時，陽氣在裏，
胃中煩熱，以陰氣內弱，不能勝熱，故欲裸其體，又陰脈遲澀，故知亡血。
太陽病三日，已發其汗，吐下溫鍼而不解，此為壞病桂枝復不中與也，觀其脈證，
知犯何逆，隨證而治之，脈浮數，法當汗出而愈，而下之，則身體重，心悸，
不可發其汗，當自汗出而解，所以然者，尺中脈微，此裏虛須表裏實，津液和，
即自汗出，愈。凡病若發汗，若吐若下，若亡血無津液，而陰陽自和者，必自愈。
大下後發汗，其人小便不利此亡津液勿治，其小便利必自愈。下以後復發其汗，
必振寒，又其脈微細，所以然者，內外俱虛故也。太陽病先下而不愈，因復發其汗，
表裏俱虛，其人因冒，冒家當汗出自愈，所以然者，汗出表和，故也，表和，
然後下之。得病六七日，脈遲浮弱，惡風寒，手足溫，醫再三下之，
不能多（多一作食），其人脇下滿，面目及身黃，頸項強，小便難，與柴胡湯後，
必下重，本渴飲水而嘔柴胡湯不復中與也，食穀者噦。太陽病二三日，終不能臥，
但欲起者，心下必結，其脈微弱者，此本寒也，而反下之，利止者必結胸，未止者，
四五日，復重下之，此挾熱利也。太陽病，下之其脈促，不結胸者，此為欲解，
其脈浮者，必結胸，其脈緊者，必咽痛，其脈弦者，必兩脇拘急，其脈細而數者，
頭痛未止，其脈沈而緊者，必欲嘔，其脈沈而滑者，挾熱利，其脈浮而滑者，必下血。
太陽少陽併病，而反下之、成結胸，心下堅，下利不復止，水漿不肯下，其人必心煩。
脈浮緊而下之，緊反入裏，則作痞按之自濡，但氣痞耳。傷寒吐下，發汗，虛煩，
脈甚微八九日心下痞堅，脇下痛，氣上衝咽喉，眩冒，經脈動惕者，久而成痿。
陽明病不能食，下之不解，其人不能食，攻其熱必噦，所以然者，胃中虛冷故也。
陽明病，脈遲食難用飽，飽即發煩頭眩者，必小便難，此欲作穀疸，雖下之，
其腹滿如故耳，所以然者脈遲故也。太陽病，寸緩關浮尺弱，其人發熱而汗出，
復惡寒不嘔，但心下痞者，此為醫下之也。傷寒大吐大下之，極虛復極汗者，
其人外氣怫鬱，復與之水以發其汗，因得噦，所以然者，胃中寒冷故也。吐下發汗後，
其人脈平而小煩者，以新虛不勝穀氣，故也。太陽病醫發其汗，遂發熱而惡寒，
復下之，則心下痞，此表裏俱虛，陰陽氣併竭，無陽則陰獨，復加火鍼，因而煩，
面色青黃，膚瞤，如此者為難治，今色微黃，手足溫者，易愈。服桂枝湯下之，
頭項強痛，翕翕發熱，無汗，心下滿，微痛，小便不利，屬桂枝去桂加茯苓朮湯。
太陽病先發其汗，不解而下之，其脈浮者，不愈，浮為在外，而反下之，故令不愈，
今脈浮故在外，當解其外則愈，屬桂枝湯，下以後，復發其汗者，則晝日煩躁不眠，
夜而安靜，不嘔不渴，而無表證，其脈沈微，身無大熱，屬乾薑附子湯。
傷寒吐下發汗後，心下逆滿，氣上撞胸，起即頭眩，其脈沈緊發汗即動經，身為振搖，
屬茯苓桂枝朮甘草湯。發汗吐下以後，不解，煩躁，屬茯苓四逆湯。傷寒發汗吐下後，
虛煩不得眠，劇者反復顛倒，心中懊憹，屬梔子湯，若少氣，梔子甘草湯，若嘔，
梔子生薑湯，若腹滿，梔子厚朴湯。發汗，若下之，煩熱，胸中塞者，屬梔子湯證。
太陽病過經十餘日，心下溫溫欲吐，而胸中痛，大便反溏，其腹微滿，鬱鬱微煩，
先時自極吐下者，與承氣湯，不爾者不可與，欲嘔，胸中痛微溏，此非柴胡湯證，
以嘔故，知極吐下也。太陽病，重發其汗，而復下之，不大便五六日，舌上燥而渴，
日晡所，小有潮熱從心下至少腹堅滿而痛，不可近，屬大陷胸湯。傷寒五六日，
其人已發汗，而復下之，胸脇滿微結，小便不利，渴而不嘔，但頭汗出，
往來寒熱心煩，此為未解，屬柴胡桂枝乾薑湯。傷寒汗出若吐下解後，心下痞堅，
噫氣不除者，屬旋覆代赭湯。大下以後，不可更行桂枝湯，汗出而喘無大熱，
可以麻黃杏子甘草石膏湯。傷寒大下後，復發其汗，心下痞，惡寒者，表未解也，
不可攻其痞，當先解表，表解乃攻其痞，解表屬桂枝湯，攻痞屬大黃黃連瀉心湯。
傷寒吐下後七八日不解，熱結在裏，表裏俱熱，時時惡風，大渴，舌上乾燥而煩，
欲飲水數升，屬白虎湯。傷寒吐下後未解，不大便五六日至十餘日，
其人日晡所發潮熱，不惡寒，獨語，如見鬼神之狀，若劇者，發則不識人，循衣妄撮，
怵惕不安，微喘直視，脈絃者生，澀者死，微者但發熱譫語，屬承氣湯，
若下者勿復服，三陽合病，腹滿身重，難以轉側，口不仁，面垢譫語，遺溺，
發汗則譫語，下之則額上生汗，手足厥冷，自汗，屬白虎湯證。陽明病，其脈浮緊，
咽乾口苦，腹滿而喘，發熱汗出，而不惡寒，反偏惡熱，其身體重，發其汗即燥，
心憒憒而反譫語，加溫針必怵惕，又煩躁不得眠，下之即胃中空虛，客氣動膈，
心中懊憹，舌上胎者，屬梔子湯證。陽明病下之，其外有熱，手足溫不結胸，
心中懊憹，苦饑不能食，但頭汗出，屬梔子湯證。陽明病下之，心中懊憹而煩，
胃中有燥屎者可攻，其人腹微滿，頭堅後溏者，不可下之，有燥屎者，屬承氣湯證。
太陽病，吐下發汗後微煩，小便數，大便因堅，可與小承氣湯和之則愈。
大汗若大下而厥冷者，屬四逆湯證。太陽病下之，其脈促胸滿者，屬桂枝去芍藥湯，
若微寒，屬桂枝去芍藥加附子湯。傷寒五六日大下之，身熱不去，心中結痛者，
未欲解也，屬梔子湯證。傷寒下後，煩而腹滿，臥起不安，屬梔子厚朴湯。
傷寒醫以丸藥大下之，身熱不去，微煩，屬梔子乾薑湯。傷寒醫下之，續得下利，
清穀不止，身體疼痛，急當救裏，身體疼痛，清便自調，急當救表，救裏宜四逆湯，
救表宜桂枝湯。太陽病過經十餘日，反再三下之，後四五日，柴胡證續在，
先與小柴胡湯，嘔止小安（嘔止小安，一云嘔不止，心下急），其人鬱鬱微煩者，
為未解，與大柴胡湯下之，則愈。傷寒十三日不解，胸脇滿而嘔，日晡所發潮熱，
而微利，此本當柴胡湯下之，不得利，今反利者，故知醫以丸藥下之，非其治也，
潮熱者實也，先再服小柴胡湯以解其外，後屬柴胡加芒硝湯。傷寒十三日過經，
而譫語，內有熱也，當以湯下之，小便利者，大便當堅，而反利，其脈調和者，
知醫以丸藥下之，非其治也，自利者其脈當微厥，今反和者，此為內實，屬承氣湯證。
傷寒八九日下之，胸滿煩驚，小便不利，譫語，一身不可轉側，屬柴胡加龍骨牡蠣湯。
火逆下之，因燒鍼煩躁，屬桂枝甘草龍骨牡蠣湯。太陽病脈浮而動，數，浮則為風，
數則為熱，動則為痛，數則為虛，頭痛發熱，微盜汗出，而反惡寒，其表未解，
醫反下之，動數則遲，頭痛即眩（一云膈內拒痛），胃中空虛，客氣動膈，短氣躁煩，
心中懊憹，陽氣內陷，心下因堅，則為結胸，屬大陷胸湯，若不結胸，但頭汗出，
其餘無有，齊頸而還，小便不利，身必發黃，屬柴胡梔子湯（○按吳本無此句，
與傷寒論合）。傷寒五六日嘔而發熱，柴胡湯證具，而以佗藥下之，柴胡證仍在，
復與柴胡湯，此雖已下，不為逆也，必蒸蒸而振，卻發熱，汗出而解，
若心下滿而堅痛者，此為結胸，屬大陷胸湯，若但滿而不痛者，
此為痞柴胡復不中與也，屬半夏瀉心湯。本以下之，故心下痞，與之瀉心，其痞不解，
其人渴而口燥，小便不利者，屬五苓散（一方言忍之一日乃愈）。傷寒中風，
醫反下之，其人下利日數十行，穀不化，腹中雷鳴，心下痞堅而滿，乾嘔而煩，
不能得安，醫見心下痞為病不盡，復重下之，其痞益甚，此非結熱，但胃中虛，
客氣上逆，故使之堅，屬甘草瀉心湯。傷寒服湯藥而下利不止，心下痞堅，
服瀉心湯已後，以佗藥下之，利不止，醫以理中與之，利益甚，理中理中膲，
此利在下膲，屬赤石脂禹餘糧湯，若不止者，當利其小便。太陽病，外證未除，
而數下之，遂挾熱而利，不止，心下痞堅，表裏不解，屬桂枝人參湯。傷寒吐後，
腹滿者，與承氣湯。病者無表裏證，發熱七八日，脈雖浮數者，可下之，假令下已，
脈數不解，今熱則消穀喜飢，至六七日不大便者，有瘀血，屬抵當湯，若脈數不解，
而不止，必失血，便膿血。太陽病醫反下之，因腹滿時痛，為屬太陰，
屬桂枝加芍藥湯。大實痛，屬桂枝加大黃湯。傷寒六七日，其人大下後，脈沈遲，
手足厥逆，下部脈不至，咽喉不利，唾膿血，泄利不止，為難治，屬麻黃升麻湯。
傷寒本自寒下，醫復吐下之，寒格，更遂吐（一本作更逆吐下），食入即出，
屬乾薑黃芩黃連人參湯。</p>
<h3>病可溫證第九</h3>
<p>大法，冬宜服溫熱藥，及灸。師曰病發熱頭痛，脈反沈，若不差，身體更疼痛，
當救其裏，宜溫藥四逆湯。下利腹滿身體疼痛，先溫其裏，宜四逆湯。
自利不渴者屬太陰，其藏有寒故也，當溫之，宜四逆輩。少陰病，
其人飲食入則吐心中溫溫欲吐，復不能吐，始得之，手足寒，脈弦遲，若膈上有寒飲，
乾嘔者，不可吐，當溫之，宜四逆湯。少陰病脈沈者，急當溫之，宜四逆湯。
下利欲食者，就當溫之。下利脈遲緊，為痛未欲止，當溫之，得冷者，滿而便腸垢。
下利其脈浮大，此為虛，以強下之故也，設脈浮革，因爾腸鳴，當溫之，
宜當歸四逆湯。少陰病下利脈微澀者，即嘔，汗出必數，更衣反少，當溫之。傷寒，
醫下之，續得下利，清穀不止，身體疼痛，急當救裏，宜溫之以四逆湯。</p>
<h3>病不可灸證第十</h3>
<p>微數之脈，慎不可灸，因火為邪，則為煩逆，追虛逐實，血散脈中，火氣雖微，
內攻有力，焦骨傷筋，血，難復也，脈浮當以汗解，而反灸之，邪無從去，因火而盛，
病從腰以下，必當重而痹，此為火逆，若欲自解當先煩煩乃有汗，隨汗而解，
何以知之，脈浮，故知汗出當解。脈浮，熱甚而灸之，此為實，實以虛治，因火而動，
咽燥必吐血。</p>
<h3>病可灸證第十一</h3>
<p>燒鍼令其汗，鍼處，被寒，核起而赤者，必發賁豚，氣從少腹上撞者，灸其核上一壯，
與桂枝加桂湯。少陰病得之一二日，口中和，其背惡寒者，當灸之。少陰病，
其人吐利，手足不逆，反發熱，不死，脈不足者，灸其少陰七壯。
少陰病下利脈微澀者，即嘔，汗出必數，更衣反少，當溫其上，
灸之（一云灸厥陰可五七壯）。諸下利皆可灸足大都五壯（一云七壯），商邱，
陰陵泉，皆三壯。下利手足厥無脈，灸之不溫，反微喘者死，少陰負，趺陽者為順也。
傷寒六七日，其脈微，手足厥，煩躁，灸其厥陰，厥不還者，死。傷寒脈促，
手足厥逆，可灸之，為可灸少陰厥陰，主四逆。</p>
<h3>病不可刺證第十二</h3>
<p>大怒無刺（大一作新），已刺無怒（已一作新），新內無刺，已刺無內，
大勞無刺（大一作新），已刺無勞，大醉無刺，已刺無醉，大飽無刺，已刺無飽，
大飢無刺，已刺無飢，大渴無刺，已刺無渴，無刺，大驚，無刺熇熇之熱，
無刺漉漉之汗，無刺渾渾之脈，身熱甚，陰陽皆爭者，勿刺也，其可刺者急取之，
不汗則洩，所謂勿刺者，有死徵也，無刺病與脈相逆者，上工刺未生，其次刺未盛，
其次刺已衰，粗工逆此，謂之伐形（出九卷）。</p>
<h3>病可刺證第十三</h3>
<p>太陽病頭痛至七日，自當愈，其經竟，故也，若欲作再經者，當鍼足陽明，使經不傳，
則愈。太陽病初服桂枝湯，而反煩不解者，當先刺風池風府，乃卻與桂枝湯，則愈。
傷寒腹滿而譫語，寸口脈浮而緊者，此為肝乘脾，名縱，當刺期門。傷寒發熱，
嗇嗇惡寒，其人大渴，欲飲酢漿者，其腹必滿，而自汗出，小便利，其病欲解，
此為肝乘肺，名曰橫，當刺期門。陽明病下血而譫語，此為熱入血室，但頭汗出者，
當刺期門，隨其實而瀉之，濈然汗出者，則愈。婦人中風發熱惡寒，經水適來，
得之七八日，熱除，脈遲，身涼，胸脇下滿，如結胸狀，其人譫語，此為熱入血室，
當刺期門，隨其虛實而取之（平病云，熱入血室，無犯胃氣，及上二膲，與此相反，
豈謂藥不謂針耶）。太陽與少陽併病頭痛，頸項強而眩，時如結胸，心下痞堅，
當刺大杼第一間，肺輸、肝輸、慎不可發汗，發汗則譫語，譫語則脈弦，
譫語五日不止，當刺期門。少陰病下利，便膿血者，可刺。婦人傷寒懷身，
腹滿不得小便，加從腰以下重，如有水氣狀，懷身七月，太陰當養不養，此心氣實，
當刺，寫勞宮及關元，小便利，則愈。傷寒喉痹，刺手少陰，少陰在腕，
當小指後動脈，是也，針入三分，補之。問曰病有汗出，而身熱煩滿，
煩滿不為汗解者何，對曰汗出而身熱者風也，汗出而煩滿不解者厥也，病名曰風厥也，
太陽主氣，故先受邪，少陰與為表裏也，得熱則上從之，從之則厥，治之表裏，刺之，
飲之湯。熱病三日，氣口靜，人迎躁者，取之諸陽，五十九刺，以瀉其熱，而出其汗，
實其陰以補其不足，所謂五十九刺者，兩手外內側各三，凡十二痏，五指間各一，
凡八痏，足亦如是，頭入髮一寸傍三分各三，凡六痏，更入髮三寸邊各五，凡十痏，
耳前後口下項中各一，凡六痏，顛上一，顖會一，髮際一，廉泉一，風池二，
天柱二（○按顖會以下，原本並脫去，今依靈樞二十三補正）。熱病先膚痛，
窒鼻充面，取之皮，以第一鍼，五十九，苛菌為軫（一云苛軫），鼻，索皮於肺，
不得索之火，火心也。熱病嗌乾，多飲善驚，臥不能安，取之膚肉，以第六針五十九，
目眥赤，索肉於脾，不得索之木，木肝也。熱病而胸脇痛，手足躁，取之筋間，
以第四針，針於四達（一作逆），筋辟目浸，索筋於肝，不得索之金，金肺也。
熱病數驚，瘈瘲，而強，取之脈，以第四針急瀉有餘者，癲疾，毛髮去，
索血（一作脈）於心，不得索之水，水腎也。熱病身重骨痛，耳聾，而好瞑，取之骨，
以第四針五十九，骨病食齧牙齒，耳清（○按甲乙經云骨病不食齧齒，耳青赤，
靈樞無赤字，餘並同，疑此文誤），索骨於腎，不得索之土，土脾也。熱病先身檣，
傍㪍（傍㪍大素作倚），煩悶、乾、脣嗌，取之以第一鍼五十九，膚脹口乾寒汗。
熱病頭痛，攝（攝一作顳顬），目，脈緊，善衂，厥熱也，取之以第三針，
視有餘不足，寒熱病。熱病體重，腸中熱，取之以第四針，於其輸，及下諸指間，
索氣於胃，絡得氣也。熱病俠臍，痛急，胸脇支滿，取之涌泉，與太陽，
陽明（一云陰陵泉），以第四針，針嗌裏。熱病而汗且出，及脈順，
可汗者（○按原本及誤反，依甲乙經改），取之魚際，大淵，大都大白，瀉之則熱去，
補之則汗出，汗出太甚者，取踝上橫文以止之（○按甲乙經文作脈）。熱病七日八日，
脈口動喘而眩者，急刺之，汗且自出，淺刺手大指間。熱病先胸脇痛，手足躁，
刺足少陽，補手太陰，病甚為五十九刺。熱病先手臂痛，刺手陽明，太陰，而汗出止。
熱病始於頭首者，刺項太陽，而汗出，止。熱病先身重，骨痛、耳聾、目瞑刺足少陰，
病甚為五十九刺（一云刺少陽）。熱病先眩冒而熱，胸脇滿，刺足少陰少陽。
熱病始足脛者，先取足陽明，而汗出。</p>
<h3>病不可水證第十四</h3>
<p>發汗後，飲水多者必喘，以水灌之，亦喘。傷寒大吐大下之，極虛復極汗者，
其人外氣怫鬱，復與之水以發其汗，因得噦，所以然者，胃中寒冷故也。陽明病，
潮熱，微堅，可與承氣湯，不堅，勿與之，若不大便，六七日，恐有燥屎，欲知之，
法可與小承氣湯若腹中不轉失氣者，此為但頭堅後溏，不可攻之，攻之必腹滿不能食，
欲飲水者即噦。陽明病若胃中虛冷，其人不能食，飲水即噦。下利其脈浮大，此為虛，
以強下之故也，設脈浮革，因爾腸鳴，當溫之，與水即噦。病在陽當以汗解，
而反以水噀之，若灌之，其熱卻不得去，益煩，皮上粟起，意欲飲水，反不渴，
宜文蛤散，若不差，與五苓散，若寒實結胸無熱證者，與三物小陷胸湯，白散亦可，
身熱皮粟不解，欲引衣自覆，若以水噀之洗之，益令熱卻不得出，當汗而不汗，即煩，
假令汗出已，腹中痛，與芍藥三兩，如上法。寸口脈浮大，醫反下之，此為大逆，
浮即無血，大即為寒，寒氣相搏，即為腸鳴，醫乃不知，而反飲水，令汗大出，
水得寒氣，冷必相搏，其人即䭇。寸口脈濡而弱，濡即惡寒，弱即發熱，濡弱相搏，
藏氣衰微，胸中苦煩，此非結熱，而反薄居水漬布，冷銚貼之，陽氣遂微，
諸府無所依，陰脈凝聚，結在心下而不肯移，胃中虛冷，水穀不化，小便縱通，
復不能多，微則可救，聚寒心下，當奈何也。</p>
<h3>病可水證第十五</h3>
<p>太陽病發汗後，若大汗出，胃中乾燥，煩不得眠，其人欲飲水，當稍飲之，令胃中和，
則愈。厥陰病，渴欲飲水者，與水飲之，即愈。太陽病，寸口緩，關上小浮，尺中弱，
其人發熱而汗出，復惡寒，不嘔，但心下痞者，此為醫下之也，若不下，
其人復不惡寒而渴者，為轉屬陽明，小便數者，大便即堅，不更衣十日無所苦也，
欲飲水者但與之，當以法救渴，宜五苓散。寸口脈洪而大，數而滑，洪大則榮氣長，
滑數則胃氣實，榮長則陽盛，怫鬱不得出身，胃實則堅，難大便，則乾燥，三膲閉塞，
津液不通，醫發其汗，陽盛不周，復重下之，胃燥熱畜，大便遂擯，小便不利，
榮衛相搏，心煩發熱，兩眼如火，鼻乾面赤舌燥齒黃焦，故大渴，過經成壞病，
針藥所不能制，與水灌枯槁，陽氣微散，身寒，溫衣覆汗出，表裏通，然其病即除，
形脈多不同，此愈，非法治，但醫所當慎，妄犯，傷榮衛。霍亂而頭痛發熱，
身體疼痛，熱多，欲飲水，屬五苓散。嘔吐而病在膈上，後必思水者，急與豬苓散，
飲之水，亦得也。</p>
<h3>病不可火證第十六</h3>
<p>太陽中風，以火劫，發其汗，邪風被火熱，血氣流泆，失其常度，兩陽相熏灼，
其身發黃，陽盛則欲衂，陰虛小便難，陰陽俱虛竭，身體則枯燥，但頭汗出，
齊頸而還，腹滿而微喘，口乾咽爛，或不大便，久則譫語，
甚者至噦（○按原本此二字誤作多蔡，今依傷寒論改），手足躁擾，循衣摸床，
小便利者，其人可治。太陽病醫發其汗，遂發熱而惡寒，復下之，則心下痞，
此表裏俱虛，陰陽氣併竭，無陽則陰獨，復加火針，因而煩，面色青黃，膚瞤，
如此者為難治，今色微黃，手足溫者愈。傷寒加溫鍼，必驚。陽脈浮，陰脈弱，
則血虛，血虛則筋惕，其脈沈者，榮氣微也，其脈浮，而汗出如流珠者，衛氣衰也，
榮氣微，加燒針，血留不行，更發熱而躁煩也。傷寒脈浮，而醫以火迫劫之，亡陽，
驚狂，起臥不安，屬桂枝去芍藥加蜀漆牡蠣龍骨救逆湯。問曰得病十五十六日，
身體黃，下利，狂欲走，師脈之，言當下清血如豚肝，乃愈，後如師言，何以知之，
師曰寸口脈，陽浮陰濡弱，陽浮則為風，陰濡弱為少血，浮虛受風，少血發熱，
惡寒洒淅，項強頭眩，醫加火熏鬱令汗出，惡寒遂甚，客熱因火而發，怫鬱蒸肌膚，
身目為黃，小便微難，短氣，從鼻出血，而復下之，胃無津液，泄利遂不止，
熱瘀在膀胱，畜結成積聚，狀如豚肝，當下未下，心亂迷憒，狂走，赴水不能自制，
畜血若去，目明心了，此皆醫所為，無他禍患，微輕得愈，極者不治。
傷寒其脈不弦緊而弱者，必渴，被火，必譫言，弱者發熱，脈浮解之，當汗出，愈。
太陽病以火熏之，不得汗，其人必躁，到經不解，必有清血。陽明病被火，
額上微汗出，而小便不利，必發黃。陽明病其脈浮緊咽乾，口苦，腹滿而喘，
發熱汗出而不惡寒，反偏惡熱，其身體重，發其汗則躁，心憒憒而反譫語，
加溫針必怵惕，又煩躁不得眠。少陰病欬而下利譫語，是為被火氣劫故也，小便必難，
為強責少陰汗也。太陽病二日而燒瓦熨其背，大汗出，火氣入胃，胃中竭燥，
必發譫語，十餘日振而反汗出者，此為欲解，其汗從腰以下不得汗，其人欲小便，
反不得嘔，欲失溲，足下惡風，大便堅者，小便當數而反不數，
及多便已其頭卓然而痛，其人足心必熱，穀氣下流，故也。</p>
<h3>病可火證第十七</h3>
<p>下利穀道中痛，當溫之以火，宜熬末鹽熨之，一方灸枳實熨之。</p>
<h3>熱病陰陽交并少陰厥逆陰陽竭盡生死證第十八</h3>
<p>問曰溫病汗出輒復熱，而脈躁疾不為汗衰，狂言不能食，病名為何，對曰名曰陰陽交，
交者死，人所以汗出者，生於穀，穀生於精，今邪氣交爭於骨肉而得汗者，
是邪卻而精勝精勝則當能食而不復熱，熱者邪氣也，汗者精氣也，
今汗出而輒復熱者邪勝也，不能食者精無裨也，汗出而熱留者，壽可立而傾也，
夫汗出而脈尚躁盛者死，今脈不與汗相應，此不勝其病也，狂言者是失志，失志者死，
此有三死不見一生，雖愈必死。熱病已得汗，而脈尚躁盛，
此陰脈之極也（○按原本陰誤作陽，依甲乙經改），死，其得汗而脈靜者生也。
熱病脈尚躁盛而不得汗者，此陽脈之極也，死，脈躁盛，得汗者生也。
熱病已得汗而脈尚躁，喘且復熱，勿膚刺，喘甚者死。熱病陰陽交者死。
熱病煩已而汗，脈當靜。太陽病脈反躁盛者，是陰陽交，死，復得汗，脈靜者生。
熱病陰陽交者，熱煩身燥，太陰寸口脈兩衝尚躁盛，是陰陽交，死，得汗脈靜者生。
熱病陽進陰退，頭獨汗出，死，陰進陽退，腰以下至足汗出，亦死，陰陽俱進，
汗出已，熱如故，亦死，陰陽俱退，汗出已，寒慄不止，鼻口氣冷，
亦死（以上熱病陰陽交部）。熱病所謂并陰者，熱病已得汗，因得泄，是謂并陰，
故治（一作活），熱病所謂并陽者，熱病已得汗，脈尚躁盛，大熱，汗出，雖不汗出，
若衂，是謂并陽，故治（以上熱病并陰陽部）。少陰病惡寒，踡而利，手足逆者，
不治。少陰病下利止，而眩，時時自冒者死。少陰病，其人吐利躁逆者死。
少陰病四逆惡寒而踡，其脈不至，其人不煩而躁者、死。少陰病六七日，
其人息高者、死。少陰病脈微細沈，但欲臥，汗出不煩，自欲吐，五六日自利，
復煩躁，不得臥寐者、死。少陰病下利，若利止，惡寒而踡，手足溫者、可治。
少陰病惡寒而踡，時時自煩，欲去其衣被者、可治。少陰病下利不止，厥逆無脈，
乾嘔煩，服湯藥，其脈暴出者死，微細者生（以上少陰部）。傷寒六七日，其脈微，
手足厥，煩躁，灸其厥陰，厥不還者、死。傷寒下利厥逆，躁不能臥者、死。
傷寒發熱下利，至厥不止者死。傷寒厥逆六七日不利，便發熱而利者生，其人汗出，
利不止者、死（○按傷寒論云便發熱而利，其人汗出不止者死），但有陰無陽，故也。
傷寒五六日不結胸，腹濡脈虛復厥者，不可下，下之亡血死，傷寒發熱而厥，
七日下利者為難治（以上厥逆部）。熱病不知所痛，不能自收，口乾，陽熱甚，
陰頗有寒者，熱在髓，死、不治。熱病在腎，令人渴，口乾舌焦黃赤，晝夜欲飲不止，
腹大而脹，尚不厭飲，目無精光，死、不治。脾傷即中風，陰陽氣別離，陰不從陽，
故以三分候其死生（○按此條已見前卷第五篇中，而文小異，姑依原本存之）。
傷寒欬逆上氣，其脈散者死，謂其人形損故也。傷寒下利日十餘行，
其人脈反實者、死。病者脇下素有痞，而下在臍傍，痛引少腹，入陰俠陰筋，
此為藏結、死。夫實則譫語虛則鄭聲，鄭聲者重語是也，
直視譫語喘滿者、死若下利者、亦死。結胸證悉具，而躁者、死。吐舌下卷者死，
唾如膠者難解，舌頭四邊，徐有津液，此為欲解，病者至經上脣有色，脈自和，
為欲解，色急者未解（以上陰陽竭盡部）。</p>
<h3>重實重虛陰陽相附生死證第十九</h3>
<p>問曰何謂虛實，對曰邪氣盛則實，精氣奪則虛，重實者肉有熱病，氣熱脈滿，
是謂重實，問曰經絡俱實何如，對曰經絡皆實，是寸脈急而尺脈緩也，皆當俱治，
故曰滑則順，濇則逆，夫虛實者皆從其物類治，五藏骨肉滑利可以長久，寒氣暴上，
脈滿實，實而滑，順則生，實而濇，逆則死，形盡滿，脈急，大堅，尺滿而不應，
順則生，逆則死，所謂順者手足溫，所謂逆者手足寒也。問曰何謂重虛，
對曰脈虛氣虛尺虛，是謂重虛，所謂氣虛者言無常也，尺虛者行步尫然也，
脈虛者不象陰也如此者滑則生，濇則死，氣虛者肺虛也，氣逆者足寒也，非其時則生，
當其時則死，餘藏皆如此也，脈實滿，手足寒頭熱者，春秋則生，冬夏則死，
脈浮而濇，濇而身有熱者、死，絡氣不足，經氣有餘，脈熱而尺寒，秋冬為逆，
春夏為順，經虛絡滿者，尺熱滿而脈寒濇（按脈字原脫，依素問二十八補），春夏死，
秋冬生，絡滿經虛，灸陰刺陽，經滿絡虛，刺陰灸陽。問曰秋冬無極陰，春夏無極陽，
何謂也，對曰無極陽者，春夏無數虛陽明，陽明虛則狂，無極陰者，秋冬無數虛太陰，
太陰虛則死（以上重實重虛部）。熱病所謂陽附陰者，腰以下至足熱，腰以上寒，
陰氣下爭，還心腹滿者死，所謂陰附陽者，腰以上至頭熱，腰以下寒，陽氣上爭，
還得汗者生（以上陰陽相附部）。</p>
<h3>熱病生死期日證第二十</h3>
<p>太陽之脈，色榮顴骨，熱病也，榮未夭，曰今且得汗，待時自已，與厥陰脈爭見者，
死期不過三日，其熱病氣內連腎，少陽之脈色榮頰前，熱病也，榮未夭，曰今且得汗，
待時自已，與少陰脈爭見者，死期不過三日。熱病七八日脈微小，病者溲血口中乾，
一日半而死，脈代者，一日死。熱病七八日，脈不躁，喘不數，後三日中有汗，
三日不汗，四日死，未曾汗，勿膚刺（膚一作庸）。熱病三四日，脈不喘，其動均者，
身雖煩熱，今自得汗，生，傳曰始府入藏，終陰復還陽，故得汗。熱病七八日脈不喘，
其動均者、生，微熱在陽不入陰，今自汗也。熱病七八日脈不喘，動數均者，病當瘖，
期三日，不得汗，四日死。熱病身面盡黃而腫，心熱口乾，舌卷，焦黃黑，身麻臭，
伏毒傷肺中脾者、死。熱病瘈瘲狂言，不得汗，瘈瘲不已，伏毒傷肝中膽者死。
熱病汗不出，出不至足，嘔膽吐血，善驚，不得臥，伏毒在肝腑足少陽者、死。</p>
<h3>熱病十逆死日證第二十一</h3>
<p>熱病腹滿䐜脹，身熱者，不得大小便，脈濇小疾，一逆見、死。熱病腸鳴腹滿，
四肢清泄注，脈浮大而洪不已，二逆見、死。熱病大衂不止，腹中痛，
脈浮大絕喘而短氣，三逆見、死。熱病嘔且便血奪形肉，身熱甚，脈絕動疾，
四逆見、死。熱病欬喘悸眩，身熱，脈小疾，奪形肉，五逆見、死。
熱病腹大而脹四肢清，奪形肉，短氣，六逆見，一旬內、死。熱病腹脹便血，
脈大時時小絕，汗出而喘，口乾舌焦，視不見人，七逆見，一旬、死。熱病身熱甚，
脈轉小，欬而便血，目眶陷，妄言，手循衣縫，口乾，躁擾不得臥，八逆見、一時死。
熱病瘈瘲，狂走不能食，腹滿，胸痛引腰臍背，嘔血，九逆見，一時死。熱病嘔血，
喘欬，煩滿，身黃，其腹鼓脹，泄不止，脈絕，十逆見，一時死。</p>
<h3>熱病五藏氣絕死日證第二十二</h3>
<p>熱病肺氣絕，喘逆，欬唾血，手足腹腫，面黃，振慄不能言語，死，魄與皮毛俱去，
故肺先死，丙日篤，丁日死。熱病脾氣絕，頭痛，嘔，宿汁不得食，嘔逆，吐血，
水漿不得入，狂言譫語，腹大滿，四肢不收，意不樂，死，脈與肉氣俱去，故脾先死，
甲日篤，乙日死。熱病心主氣絕，煩滿，骨痛（一作瘈），嗌腫不可咽，欲欬不能欬，
歌哭而笑，死，神與榮脈俱去，故心先死，壬日篤，癸日死。熱病，肝氣絕，僵仆，
足不安地，嘔血，恐懼，洒淅惡寒，血妄出，遺屎溺，死，魂與筋血俱去，故肝先死，
庚日篤，辛日死。熱病腎氣絕，喘悸吐逆，踵疽尻癰，目視不明，骨痛短氣，
喘滿汗出如珠，死精與骨髓俱去，故腎先死，戊日篤，巳日死。外見瞳子青小，
爪甲枯，髮墮，身澀，齒挺而垢，人皮面厚塵黑，欬而唾血，渴欲數飲，大滿，
此五藏絕表病也。</p>
<h3>熱病至脈死日證第二十三</h3>
<p>熱病脈四至三日死，脈四至者，平人一至，病人脈四至也。熱病脈五至，一日死，
時一大至，半日死，忽忽悶亂者、死。熱病脈六至半日死，忽忽疾大至，有頃死。</p>
<h3>熱病損脈死日證第二十四</h3>
<p>熱病脈四損，三日死，所謂四損者，平人四至，病人脈一至，名曰四損。熱病脈五損，
一日死，所謂五損者，平人五至，病人脈一至，名曰五損。熱病脈六損，一時死，
所謂六損者，平人六至，病人脈一至，名曰六損，若絕不至，或久乃至，
立死（○此下吳本又有一條云，治傷寒形證，所宜進退，晉王叔和集仲景評脈要論，
按袁本無此條，疑非脈經原文）。</p>
<h2>脈經卷之八</h2>
<p>平卒尸厥脈證第一
平痓濕暍脈證第二
平陽毒陰毒百合狐惑脈證第三
平霍亂轉筋脈證第四
平中風歷節脈證第五
平血痹虛勞脈證第六
平消渴小便利淋脈證第七
平水氣黃汗氣分脈證第八
平黃疸寒熱瘧脈證第九
平胸痹心痛短氣賁豚脈證第十
平腹滿寒疝宿食脈證第十一
平五藏積聚脈證第十二
平驚悸衂吐下血胸滿瘀血脈證第十三
平嘔噦下痢脈證第十四
平肺痿肺癰欬逆上氣淡飲脈證第十五
平癰腫腸癰金瘡侵淫脈證第十六</p>
<h3>平卒尸厥脈證第一</h3>
<p>寸口沈大而滑，沈則為實，滑則為氣，實氣相搏，血氣入於藏即死（○按此文有脫誤，
千金方云，沈即為血實，滑即為氣實，血氣相搏，入藏即死），入於腑即愈，
此為卒厥不知人脣青身冷，為入藏即死，如身溫和汗自出為入腑而復，自愈。</p>
<h3>平痓濕暍脈證第二</h3>
<p>太陽病，發熱無汗而反惡寒者，名剛痓。太陽病，發熱汗出而不惡寒者，
名柔痓（一云惡寒）。太陽病，發熱其脈沈而細者，為痓。太陽病，
發其汗因致痓（論云發其汗太多，因致痓）。病者身熱足寒，頸項強急，惡寒，
時、頭熱，面赤，目脈赤，獨頭動搖者、為痓（論云獨頭面搖、卒口噤、背反張者，
痓病也）。太陽病，無汗而小便反少，氣上衝胸，口噤不得語欲作剛痓，葛根湯主之。
剛痓為病，胸滿口噤，臥不著席，腳攣急，其人必齘齒，可與大承氣湯。
痓病發其汗已，其脈浛浛如蛇暴，腹脹大者，為欲解，脈如故，
反伏弦者、必痓（一云痓脈出欲巳）。痓脈來，按之築築而弦，直上下行。痓家，
其脈伏堅，直上下。夫風病下之則痓，復發其汗，必拘急。太陽病其證備，
身體強几几然，脈沈遲，此為痓，栝蔞桂枝湯主之。痓病有灸瘡，難療。
瘡家雖身疼痛，不可發其汗，汗出則痓。太陽病關節疼煩，脈沈而緩者，
為中濕（論云中濕為濕痹，濕痹之候，其人小便不利，大便反快，但當利其小便）。
病者一身盡疼（一云疼煩），發熱，日晡即劇此為風濕，
汗出所致也（論云此病傷於汗出當風，或久傷取冷所致）。濕家之為病，一身盡疼，
發熱，而身色似熏黃也。濕家之為病，其人但頭汗出、而背強，欲得被覆向火，
若下之蚤、則噦，或胸滿小便利（一云不利），舌上如胎，此為丹田有熱，胸上有寒，
渴欲飲而不能飲，則口燥也。濕家下之，額上汗出，微喘，
小便利（一云不利）者、死，若下利不止者，亦死。問曰風濕相搏，身體疼痛，
法當汗出而解，值天陰雨不止，師云此可發汗，而其病不愈者，何也，答曰發其汗，
汗大出者，但風氣去，濕氣續在，是故不愈，若治風濕者發其汗，
微微似欲出汗者則風濕俱去也。濕家身煩疼，可與麻黃湯，加朮四兩，發其汗為宜，
慎不可以火攻之。風濕脈浮，身重，汗出，惡風者，防己湯主之。
病人喘頭疼鼻塞而煩，其脈大，自能飲食，腹中和，無病，病在頭中寒濕，故鼻塞，
內藥鼻中即愈（論云濕家病身疼痛發熱，面黃而喘，頭痛鼻窒而煩）。傷寒八九日，
風濕相搏，身體疼痛不能自轉側，不嘔不渴，脈浮虛而澀者，
桂枝附子湯主之若其人大便鞭，小便自利者，朮附子湯主之。風濕相搏，骨節疼煩，
掣痛，不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風，不欲去衣，或身微腫者，
甘草附子湯主之。太陽中熱，暍、是也，其人汗出惡寒，身熱而渴也，白虎湯主之。
太陽中暍，身熱疼重，而脈微弱，此以夏月傷冷水，水行皮膚中所致也，瓜蒂湯主之。
太陽中暍，發熱惡寒，身重而疼痛，其脈弦細芤遲，小便已，洒洒然毛聳，手足厥冷，
小有勞，身熱，口前開板齒燥（○按傷寒論，前開二字倒），若發其汗，惡寒則甚，
加溫針，則發熱益甚，數下之，淋復甚。</p>
<h3>平陽毒陰毒百合狐惑脈證第三</h3>
<p>陽毒為病，身重腰背痛，煩悶不安，狂言，或走或見鬼，或吐血下痢，其脈浮大數，
面赤，斑斑如錦文，咽喉痛，唾膿血，五日可治，至七日不可治也，有傷寒一二日，
便成陽毒，或服藥，吐下後變成陽毒，升麻湯主之。陰毒為病，身重背強，腹中絞痛，
咽喉不利，毒氣攻心，心下堅強，短氣不得息，嘔逆，脣青面黑，四肢厥冷，
其脈沈細緊數，身如被打，五六日可治，至七日不可治也，或傷寒初病一二日，
便結成陰毒，或服藥六七日以上至十日，變成陰毒，甘草湯主之。百合之為病，
其狀常默默，欲臥復不能臥，或如強健人，欲得出行而復不能行，意欲得食復不能食，
或有美時，或有不用，聞飲食臭時，如寒無寒，如熱無熱，朝至口苦，小便赤黃，
身形如和，其脈微數，百脈一宗悉病，各隨證治之。百合病見於陰者以陽法救之，
見於陽者以陰法救之，見陽攻陰，復發其汗，此為逆，其病難治，見陰攻陽，
乃復下之，此亦為逆，其病難治（千金方云見在於陰，而攻其陽，則陰不得解也，
復發其汗為逆也，見在於陽，而攻其陰，則陽不得解也，復下之，其病不愈）。
狐惑為病，其氣如傷寒，默默欲眠，目不得閉，臥起不安，蝕於喉為惑，蝕於陰為狐，
狐惑之病，並不欲飲食，聞食臭，其面目乍赤乍白乍黑，其毒蝕於上者則聲喝，
其毒蝕於下部者則咽乾，蝕於上部，瀉心湯主之，蝕於下部，苦參湯淹洗之，
食於肛者，雄黃熏之（喝一作嗄）。其人脈數無熱，微煩，默默欲臥，汗出，
初得三四日，目赤如鳩眼，得之七八日，目四眥黃黑，若能食者，膿已成也，
赤小豆當歸散主之。病人或從呼吸上蝕其咽，或從下膲蝕其肛，陰，蝕上為惑，
蝕下為狐，狐惑病者，豬苓散主之。</p>
<h3>平霍亂轉筋脈證第四</h3>
<p>問曰病有霍亂者何，師曰嘔吐而利，此為霍亂。問曰病者發熱頭痛，身體疼，
惡寒而復吐利，當屬何病，師曰當為霍亂，霍亂吐利止而復發熱也傷寒其脈微澀，
本是霍亂，今是傷寒，卻四五日至陰經上，轉入陰，必吐利。轉筋為病，其人臂腳直，
脈上下行微弦，轉筋入腹，雞屎白散主之。</p>
<h3>平中風歷節脈證第五</h3>
<p>夫風之為病，當半身不遂，或但臂不遂者，此為痹，脈微而數，中風使然。
頭痛脈滑者，中風，風脈虛弱也。寸口脈浮而緊，緊則為寒，浮則為虛，虛寒相搏，
邪在皮膚，浮者血虛，絡脈空虛，賊邪不瀉，或左或右，邪氣反緩，正氣則急，
正氣引邪，喎僻不遂，邪在於絡，肌膚不仁，邪在於經，則重不勝，邪入於腑，
則不識人邪入於藏，舌即難言，口吐淤涎（○按金匱要略無淤字）。寸口脈遲而緩，
遲則為寒，緩則為虛，榮緩則為亡血，衛遲則為中風，邪氣中經，則身癢而癮𤺋，
心氣不足，邪氣入中，則胸滿而短氣。趺陽脈浮而滑，滑則穀氣實，浮則汗自出。
少陰脈浮而弱，弱則血不足，浮則為風，風血相搏，則疼痛如掣。盛人脈濇小，短氣，
自汗出，歷節疼，不可屈伸，此皆飲酒汗出當風所致也。寸口脈沈而弱，沈則主骨，
弱則主筋，沈則為腎，弱則為肝，汗出入水中，如水傷心，歷節黃，汗出，
故曰歷節也。味酸則傷筋，筋傷則緩，名曰泄，鹹則傷骨，骨傷則痿，名曰枯，
枯泄相搏，名曰斷泄，榮氣不通，衛不獨行，榮衛俱微，三膲無所御，四屬斷絕，
身體羸瘦，獨足腫大，黃汗出脛冷，假令發熱，便為歷節也，
病歷節疼痛不可屈伸烏頭湯主之。諸肢節疼痛，身體魁瘰（○按金匱作尫羸），
腳腫如脫，頭眩，短氣，溫溫欲吐，桂枝芍藥知母湯主之。</p>
<h3>平血痹虛勞脈證第六</h3>
<p>問曰血痹從何得之，師曰夫尊榮人，骨弱肌膚盛，重因疲勞，汗出，臥不時動搖，
加被微風，遂得之，形如風狀（巢原云其狀如被微風所吹），但以脈自微濇，
在寸口關上小緊，宜鍼，引陽氣令脈和，緊去則愈。血痹，陰陽俱微，寸口關上微，
尺中小緊，外證，身體不仁如風狀，黃芪桂五物湯主之。男子平人脈大為勞，
極虛亦為勞。男子勞之為病，其脈浮大，手足煩熱，春夏劇，秋冬差，陰寒精自出，
足酸削不能行，少陰虛滿。人年五十六十，其病脈大者痹，俠背行，苦腸鳴，
馬刀俠癭者，皆為勞得之。男子平人脈虛弱細微者，喜盜汗出也。男子面色薄者，
主渴及亡血，卒喘悸，其脈浮者，裏虛也。男子脈虛沈弦，無寒熱，短氣裏急，
小便不利，面色白，時時目瞑，此人喜衂，少腹滿，此為勞使之然。男子脈微弱而澀，
為無子，精氣清冷。夫失精家，少腹弦急，陰頭寒，目眶痛（一云目眩），髮落，
脈極虛，芤遲，為清穀，亡血失精。脈得諸芤動微緊，男子失精，女子夢交通，
桂枝加龍骨牡蠣湯主之。脈沈小遲，名脫氣，其人疾行則喘喝，手足逆寒，腹滿，
甚則溏泄，食不消化也。脈弦而大，弦則為減，大則為芤，減則為寒，芤則為虛，
寒虛相搏，此名為革，婦人則半產漏下，男子則亡血失精。</p>
<h3>平消渴小便利淋脈證第七</h3>
<p>師曰厥陰之為病消渴，氣上衝心，心中疼熱，飢而不欲食，食即吐，下之不肯止。
寸口脈浮而遲，浮則為虛，遲則為勞，虛則衛氣不足，遲則榮氣竭，趺陽脈浮而數，
浮則為氣，數則消穀而緊（要略，緊作大堅），氣盛則溲數，溲數則緊（要略作堅），
緊數相搏，則為消渴。男子消渴，小便反多，以飲一斗小便一斗，腎氣丸主之。
師曰熱在（一作結）下膲，則溺血，亦令人淋閉不通，淋之為病，小便如粟狀，
少腹弦急，痛引臍中。寸口脈細而數，數則為熱，細則為寒，數為強吐，趺陽脈數，
胃中有熱，則消穀引食，大便必堅，小便則數，少陰脈數婦人則陰中生瘡，
男子則氣淋。淋家不可發汗，發汗則必便血。</p>
<h3>平水氣黃汗氣分脈證第八</h3>
<p>師曰病有風水，有皮水，有正水，有石水，有黃汗，風水其脈自浮，外證骨節疼痛，
其人惡風，皮水其脈亦浮，外證跗腫，按之沒指，不惡風，其腹如鼓（如鼓一作如故，
不滿），不渴，當發其汗，正水其脈沈遲，外證自喘，石水其脈自沈，外證腹滿不喘，
黃汗其脈沈遲，身體發熱，胸滿四肢頭面腫，久不愈，必致癰膿。脈浮而洪，
浮則為風，洪則為氣，風氣相搏，風強則為癮𤺋，身體為癢，癢為泄風，久為痂癩，
氣強則為水，難以俛仰，風氣相擊，身體洪腫，汗出乃愈，惡風則虛，此為風水，
不惡風者，小便通利，上膲有寒，其口多涎，此為黃汗。寸口脈沈滑者，中有水氣，
面目腫大，有熱，名曰風水，視人之目，裹上微擁，如新臥起狀，其頸脈動，時時欬，
按其手足上，陷而不起者，風水太陽病脈浮而緊，法當骨節疼痛，而反不痛，
身體反重而酸，其人不渴，汗出即愈，此為風水，惡寒者，此為極虛發汗得之，
渴而不惡寒者，此為皮水，身腫而冷，狀如周痹，胸中窒不能食，反聚痛，暮躁不眠，
此為黃汗，痛在骨節欬而喘不渴者，此為脾脹，其形如腫，發汗即愈，
然諸病此者渴而下利，小便數者，皆不可發汗。風水其脈浮，浮為在表，其人能食，
頭痛汗出，表無他病，病者言但下重，故從腰以上其和，腰以下當腫及陰，難以屈伸，
防己黃耆湯主之（一云風水脈浮身重汗出惡風者，防己黃耆湯主之）。風水惡風，
一身悉腫，脈浮不渴，續自汗出，而無大熱者，越婢湯主之。
師曰裏水者一身面目洪腫，其脈沈，小便不利，故令病水，假如小便自利，亡津液，
故令渴也，越婢加朮湯主之（一云皮水其脈沈，頭面浮腫，小便不利，故令病水，
假如小便自利亡津液，故令渴也）。皮水之為病，四肢腫，水氣在皮膚中，
四肢聶聶動者，防己茯苓湯主之。趺陽脈當伏，今反緊，本自有寒，疝瘕，腹中痛，
醫反下之，下之則胸滿短氣。趺陽脈當伏，今反數，本自有熱，消穀（一作消渴），
小便數，今反不利，此欲作水。寸口脈浮而遲，浮脈熱，遲脈潛，熱潛相搏，名曰沈，
趺陽脈浮而數，浮脈熱，數脈止，熱止相搏，名曰伏，沈伏相搏，名曰水，
沈則絡脈虛，伏則小便難，虛難相搏，水走皮膚，則為水矣。寸口脈弦而緊，
弦則衛氣不行，衛氣不行，則惡寒，水不沾流，走在腸間。少陰脈緊而沈，緊則為痛，
沈則為水，小便即難，師曰脈得諸沈者當責有水，身體腫重，水病，脈出者死。
夫水病人，目下有臥蠶，面目鮮澤，脈伏，其人消渴，病水，腹大，小便不利，
其脈沈絕者，有水，可下之。問曰病下利後渴，飲水，小便不利，腹滿陰腫者何也，
答曰此法當病水，若小便自利，及汗出者，自當愈。水之為病，其脈沈小屬少陰，
浮者為風，無水虛脹者為氣水，發其汗即已，沈者與附子麻黃湯，浮者與杏子湯。
心水者，其身重而少氣、不得臥，煩而躁，其陰大腫。肝水者，
其腹大不能自轉側脇下腹中痛，時時津液微生，小便續通。肺水者，其身腫，小便難，
時時鴨溏。脾水者，其腹大，四肢苦重，津液不生，但苦少氣，小便難。腎水者，
其腹大臍腫，腰痛不得溺，陰下濕，如牛鼻上汗，其足逆冷，
面皮瘦（一云大便反堅）。師曰諸有水者，腰以下腫，當利小便，腰以上腫，當發汗，
乃愈，師曰寸口脈、沈而遲，沈則為水，遲則為寒，寒水相搏，趺陽脈伏，水穀不化，
脾氣衰則騖溏，胃氣衰則身腫，少陽脈卑，少陰脈細，男子則小便不利，
婦人則經水不通，經為血，血不利，則為水，名曰血分（一云水分）。問曰病者若水，
面目身體四肢皆腫，小便不利師脈之不言水，反言胸中痛，氣上衝咽，狀如炙肉，
當微欬喘審如師言其脈何類，師曰寸口脈沈而緊，沈為水，緊為寒，沈緊相搏，
結在關元，始時當微，年盛不覺，陽衰之後，榮衛相干，陽損陰盛，結寒微動，
緊氣上衝，咽喉塞噎，脇上急痛，醫以為留，飲而大下之，氣擊不去，其病不除，
後重吐之，胃家虛煩咽燥欲飲水，小便不利，水穀不化，面目手足浮腫，
又與葶藶丸下水，當時如小差，食飲過度，腫復如前，胸脇苦痛，象若奔豚，
其水揚溢，則浮欬喘逆當先攻擊衝氣令止，乃治欬，欬止，其喘自差，先治新病，
病當在後。黃汗之病，身體洪腫（一作重）發熱，汗出而渴（而渴一作不渴），
狀如風水，汗沾衣，色正黃如蘗汁，其脈自沈。問曰黃汗之病從何得之，
師曰以汗出入水中浴，水從汗孔入，得之，黃耆芍藥桂枝苦酒湯主之。黃汗之病，
兩脛自冷，假令發熱，此屬歷節，食已汗出，又身常暮臥，盜汗出者，此榮氣也，
若汗出已，反發熱者，久久其身必甲錯，發熱不止者必生惡瘡，若身重，汗出已，
輒輕者，久久必身瞤，瞤則胸中痛，又從腰以上必汗出，下無汗，腰寬馳痛，
如有物在皮中狀，劇者不能食，身疼重，煩躁，小便不利，此為黃汗，
桂枝加黃耆湯主之。寸口脈遲而濇，遲則為寒，濇為血不足，趺陽脈微而遲，
微則為氣，遲則為寒，寒氣不足，則手足逆冷，手足逆冷則榮衛不利，榮衛不利，
則腹滿脇鳴相逐，氣轉膀胱，榮衛俱勞，陽氣不通則身冷，陰氣不通則骨疼，
陽氣前通則惡寒，陰氣前通則痹不仁，陰陽相得，其氣乃行，大氣一轉，其氣乃散，
實則失氣，虛則遺溺，名曰氣分。氣分，心下堅，大如盤，邊如旋杯，水飲所作，
桂枝去，芍藥加麻黃細辛附子湯主之。心下堅大如盤，邊如旋盤，水飲所作，
枳實朮湯主之。</p>
<h3>平黃疸寒熱瘧脈證第九</h3>
<p>凡黃候寸口脈，近掌無脈，口鼻冷，並不可治。脈沈，渴欲飲水，小便不利者，
皆發黃。腹滿，舌痿，黃，躁不得睡，屬黃家。師曰病黃疸，發熱煩喘，胸滿口燥者，
以發病時火劫其汗，兩熱所得，然黃家所得從濕得之，一身盡發熱而黃，肚熱，
熱在裏，當下之。師曰黃疸之病，當以十八日為期，治之十日以上為差，反劇為難治。
又曰疸而渴者，其疸難治，疸而不渴者，其疸可治，發於陰部，其人必嘔，發於陽部，
其人振寒而發熱也。師曰諸病黃家，但利其小便，假令脈浮，當以汗解之，
宜桂枝加黃耆湯，又男子黃，小便自利，當與小建中湯。黃疸腹滿，小便不利而赤，
自汗出，此為表和裏實，當下之，宜大黃黃蘗梔子芒消湯。黃疸病小便色不變，
欲自利，腹滿而喘，不可除熱，熱除必噦，噦者，小半夏湯主之。夫病酒黃疸，
必小便不利，其候，心中熱，足下熱，是其證也。心中懊憹而熱，不能食，時欲吐，
名曰酒疸。酒黃疸者，或無熱，靖言了了，腹滿欲吐，鼻燥，其脈浮者，先吐之，
沈弦者先下之。酒疸，心中熱欲嘔者，吐之即愈。酒疸，黃色，心下結實而煩。
酒疸下之，久久為黑疸，目青面黑，心中如噉蒜虀狀，大便正黑，皮膚爪之不仁，
其脈浮弱，雖黑微黃，故知之。寸口脈微而弱，微則惡寒，弱則發熱，當發不發，
骨節疼痛，當煩不煩，而極汗出，趺陽脈緩而遲，胃氣反強，少陰脈微，微則傷精，
陰氣寒冷，少陰不足，穀氣反強，飽則煩滿，滿則發熱，客熱消穀，發已復飢，
熱則腹滿，微則傷精，穀強則瘦，名曰穀寒熱。陽明病脈遲者，食難用飽，
飽則發煩頭眩者，必小便難，此欲作穀疸，雖下之，腹滿如故，所以然者，脈遲故也。
師曰寸口脈浮而緩，浮則為風，緩則為痹，痹非中風，四肢苦煩，脾色必黃，
瘀熱以行。趺陽脈緊而數，數則為熱，熱則消穀，緊則為寒，食即滿也，
尺脈浮為傷腎，趺陽脈緊為傷脾，風寒相搏，食穀則眩，穀氣不消，胃中苦濁，
濁氣下流，小便不通，陰被其寒，熱流膀胱，身體盡黃，名曰穀疸。額上黑，微汗出，
手足中熱，薄暮則發，膀胱急，小便自利，名曰女勞疸，腹如水狀，不治。黃家，
日晡所發熱而反惡寒，此為女勞得之，膀胱急，少腹滿，身盡黃，額上黑，足下熱，
因作黑疸，其腹脹如水狀，大便必黑，時溏，此女勞之病，非水也，腹滿不可治，
消石礬石散主之。夫瘧脈自弦也，弦數者多熱，弦遲者多寒，弦小緊者可下之，
弦遲者可溫藥，若脈緊數者，可發汗鍼灸之，浮大者可吐之，脈弦數者風發也，
以飲食消息止之。瘧病結為癥瘕，名曰瘧母，鼈甲煎丸主之。瘧但見熱者，溫瘧也，
其脈平，身無寒，但熱，骨節疼煩，時嘔，朝發暮解，暮發朝解，名曰溫瘧，
白虎加桂枝湯主之。瘧多寒者，牡瘧也，蜀漆散主之。</p>
<h3>平胸痹心痛短氣賁豚脈證第十</h3>
<p>師曰夫脈當取太過與不及，陽微陰弦，則胸痹而痛，所以然者責其極虛也，
今陽虛知在上膲，所以胸痹心痛者，以其脈陰弦故也。胸痹之病，喘息欬唾，胸背痛，
短氣，寸口脈沈而遲，關上小緊數者，栝蔞薤白白酒湯主之。平人無寒熱，
短氣不足以息者，實也。賁豚病者從小腹起，上衝咽喉，發作時欲死復止，皆從驚得，
其氣上衝胸腹痛，及往來寒熱，賁豚湯主之。師曰病有賁豚，有吐膿，有驚怖，
有火邪，此四部病皆從驚發得之。</p>
<h3>平腹滿寒疝宿食脈證第十一</h3>
<p>趺陽脈微弦，法當腹滿，不滿者必下部閉塞，大便難，兩胠（一云腳）疼痛，
此虛寒從下上也，當以溫藥服之。病者腹滿，按之不痛，為虛，痛者為實，可下之，
舌黃未下者，下之，黃自去。腹滿時減，減復如故，此為寒，當與溫藥。
趺陽脈緊而浮，緊則為痛，浮則為虛，虛則腸鳴，緊則堅滿。脈雙弦而遲者，
必心下堅，脈大而緊者，陽中有陰也，可下之，病腹中滿，痛為實，當下之。
腹滿不減減不足言，當下之。病腹滿，發熱數十日，脈浮而數，飲食如故，
厚朴三物湯主之，腹滿痛，厚朴七物湯主之。寸口脈遲而緩，遲則為寒，緩則為氣，
氣寒相搏，轉絞而痛。寸口脈遲而澀，遲為寒，澀為無血。夫中寒家喜欠，
其人清涕出，發熱色和者，善嚏。中寒，其人下利以裏虛也，欲嚏不能，
此人肚中寒（一作痛）。夫瘦人繞臍痛，必有風冷，穀氣不行，而反下之，其氣必衝，
不衝者心下則痞。寸口脈弦者，則脇下拘急而痛，其人嗇嗇惡寒也。寸口脈浮而滑，
頭中痛。趺陽脈緩而遲，緩則為寒，遲則為虛，虛寒相搏，則欲食溫，假令食冷，
則咽痛。寸口脈微，尺中緊而澀，緊則為寒，微則為虛，澀則血不足，
故知發汗而復下之也，緊在中央，知寒尚在，此本寒氣，何為發汗復下之耶。
夫脈浮而緊，乃弦，狀如弓弦，按之不移，脈數弦者，當下其寒，脇下偏痛，
其脈緊弦，此寒也，以溫藥下之宜大黃附子湯。寸口脈弦而緊，弦則衛氣不行，
衛氣不行，則惡寒，緊則不欲食，弦緊相搏，則為寒疝。趺陽脈浮而遲，浮則為風虛，
遲則為寒疝，寒疝繞臍痛，若發則自汗出，手足厥寒，其脈沈弦者，大烏頭湯主之。
問曰人病有宿食，何以別之，師曰寸口脈浮大，按之反澀，尺中亦微而澀，
故知有宿食。寸口脈緊如轉索，左右無常者，有宿食。寸口脈緊，即頭痛風寒，
或腹中有宿食不化。脈滑而數者實也，有宿食，當下之。下痢不欲食者，有宿食，
當下之。大下後六七日不大便，煩不解，腹滿痛，此有燥屎也，所以然者，
本有宿食故也。宿食在上管，當吐之。</p>
<h3>平五藏積聚脈證第十二</h3>
<p>問曰病有積，有聚，有繫氣（繫一作穀，下同），何謂也，師曰積者藏病也，終不移，
聚者腑病也，發作有時，展轉痛移，為可治，繫氣者脇下痛，按之則愈，
愈復發為繫氣，夫病已愈不得復發，今病復發，即為繫氣也。諸積大法，
脈來細而附骨者，乃積也（細一作結），寸口積在胸中，微出寸口，積在喉中，
關上積在臍傍，上關上，積在心下，微下，關，積在少腹，尺，積在氣街，脈出在左，
積在左，脈出在右，積在右，脈兩出，積在中央，各以其部處之。診得肺積脈浮而毛，
按之辟易，脇下氣逆，背相引痛，少氣，善忘，目瞑，皮膚寒，秋差夏劇，
主皮中時痛，如蝨緣之狀，甚者如針刺，時癢，其色白。診得心積脈沈而芤，
上下無常處，病胸滿悸，腹中熱，面赤嗌乾，心煩，掌中熱，甚即唾血，主身瘈瘲，
主血厥，夏差冬劇，其色赤。診得脾積，脈浮大而長，飢則減，飽則見，ａ起與穀爭，
減心下累累，如桃李，起見於外，腹滿嘔泄，腸鳴，四肢重，足脛腫，厥不能臥，
是主肌肉損其色黃。診得肝積脈弦而細，兩脇下痛，邪走心下，足腫寒，脇痛引小腹，
男子積疝，女子瘕淋，身無膏澤，喜轉筋，爪甲枯黑，春差秋劇，其色青。
診得腎積脈沈而急，苦脊與腰相引痛，飢則見，飽則減，少腹裏急，口乾，咽腫，
傷爛，目䀮䀮，骨中寒，主髓厥，善忘，其色黑。寸口脈沈而橫者，
脇下及腹中有橫積痛，其脈弦，腹中急痛，腰背痛相引，腹中有寒，疝，瘕。
脈弦緊而微細者癥也，夫寒痹癥瘕積聚之脈，皆弦緊，若在心下，即寸弦緊，在胃管，
即關弦緊，在臍下，即尺弦緊（一曰關脈弦長，有積在臍左右上下也）。又脈癥法，
左手脈橫，癥在左，右手脈橫，癥在右，脈頭大者在上，頭小者在下。又法，
橫脈見左積在右，見右積在左，偏得洪實而滑，亦為積，弦緊亦為積，為寒痹，
為疝痛。內有積不見脈，難治，見一脈相應，為易治，諸不相應，為不治，左手脈大，
右手脈小，上病在左脅，下病在左足，右手脈大，左手脈小，上病在右脇，
下病在右足。脈弦而伏者，腹中有癥不可轉也，必死不治。脈來細而沈，時直者，
身有癰腫，若腹中有伏梁。脈來小沈而實者，胃中有積聚，不下食，食即吐。</p>
<h3>平驚悸衂吐下血胸滿瘀血脈證第十三</h3>
<p>寸口脈動而弱，動則為驚，弱則為悸。趺陽脈微而浮，浮則胃氣虛，微則不能食，
此恐懼之脈，憂迫所作也，驚生病者其脈止而復來，
其人目睛不了了（○按吳本云其人目睛不轉，不能呼氣）。寸口脈緊，趺陽脈浮，
胃氣則虛，寸口脈緊，寒之實也，寒在上膲，胸中必滿而噫，胃氣虛者，趺陽脈浮，
少陽脈緊，心下必悸，何以言之，寒水相搏，二氣相爭，是以悸。
脈得諸澀濡弱為亡血。寸口脈弦而大，弦則為減，大則為芤，減則為寒，芤則為虛，
寒虛相搏，此名為革，婦人則半產漏下，男子則亡血。亡血家不可攻其表，
汗出則寒慄而振。問曰病衂連日不止，其脈何類，師曰脈來輕輕在肌肉，
尺中自溢（一云尺脈浮），目睛暈黃，衂必未止，暈黃去，目睛慧了知衂今止。
師曰從春至夏，發衂者，太陽，從秋至冬，發衂者，陽明。寸口脈微弱，尺脈澀，
弱則發熱，澀為無血，其人必厥，微嘔，夫厥當眩不眩，而反頭痛，痛為實，
下虛上實，必衂也。太陽脈大而浮，必衂吐血。病人面無血色，無寒熱，脈沈弦者，
衂也。衂家不可發其汗，汗出必額上促急而緊，直視而不能眴，不得眠。脈浮弱，
手按之絕者，下血，煩欬者必吐血。寸口脈微而弱，氣血俱虛，男子則吐血，
女子則下血，嘔吐，汗出者為可。趺陽脈微而弱，春以胃氣為本，吐利者為可，不者，
此為有水氣，其腹必滿，小便則難。病人身熱，脈小絕者，吐血，若下血，婦人亡經，
此為寒，脈遲者，胸上有寒，噫氣喜唾。脈有手陽趺陽少陰脈皆微，其人不吐，
下必亡血。脈沈為在裏，榮衛內結，胸滿必吐血。男子盛大，其脈手陽微，趺陽亦微，
獨少陰浮大，必便血而失精，設言淋者，當小便不利。趺陽脈弦，必腸痔下血。
病人胸滿，脣痿，舌青，口燥，其人但欲漱水，不欲咽，無寒熱，脈微大來遲，
腹不滿，其人言我滿，為有瘀血，當出汗，不出，內結亦為瘀血，病者如熱狀，煩滿，
口乾燥而渴，其脈反無熱，此為陰伏，是瘀血也，當下之。下血，先見血，後見便，
此近血也，先見便，後見血，此遠血也。</p>
<h3>平嘔吐噦下痢脈證第十四</h3>
<p>嘔而脈弱，小便復利，身有微熱，見厥者，難治。趺陽脈浮者，胃氣虛，寒氣在上，
暖氣在下，二氣相爭，但出不入，其人即嘔而不得食，恐怖而死，寬緩即差。
夫嘔家有癰膿者，不可治嘔，膿盡，自愈。先嘔卻渴者，此為欲解，先渴卻嘔者，
為水停心下，此屬飲家，嘔家本渴，今反不渴者，以心下有支飲也。問曰病人脈數，
數為熱，當消穀引食，而反吐者何也，師曰以發其汗，令陽微，膈氣虛，脈乃數，
數為客熱，不能消穀，胃中虛冷，故吐也。陽緊陰數，其人食已即吐，
陽浮而數亦為吐。寸緊尺澀，其人胸滿不能食而吐，吐止者為下之，故不能食，
設言未止者此為胃反，故尺為之微澀也。寸口脈緊而芤，緊則為寒，芤則為虛，
虛寒相搏，脈為陰結而遲，其人則噎，關上脈數，其人則吐。脈弦者虛也，胃氣無餘，
朝食暮吐，變為胃反，寒在於上，醫反下之，今脈反弦，故名曰虛。趺陽脈微而澀，
微則下利，澀則吐逆，穀不得入也。寸口脈微而數，微則無氣，無氣則榮虛，
榮虛則血不足，血不足則胸中冷，趺陽脈浮而澀，浮則為虛，澀則傷脾，脾傷則不磨，
朝食暮吐，暮食朝吐，宿穀不化，名曰胃反，脈緊而澀，其病難治。夫吐家，
脈來形狀如新臥起。病人欲吐者，不可下之。嘔吐而病在膈上，後思水者，解，
急與之，思水者，豬苓散主之，噦而腹滿，視其前後，知何部不利、利之即愈。
夫六腑氣絕於外者，手足寒，上氣，腳縮，五臟氣絕於內者，下利不禁，
下甚者手足不仁。下利脈沈弦者，下重，其脈大者，為未止，脈微弱數者，為欲自止，
雖發熱不死。脈滑，按之虛絕者，其人必下利。下利有微熱，其人渴，脈弱者，
今自愈。下利脈數，若微發熱，汗自出者，自愈，設脈復緊，為未解。
下利寸脈反浮數，尺中自澀，其人必清膿血。下利手足厥無脈，灸之不溫，若脈不還，
反微喘者死。少陰負趺陽者為順也。下利脈數而浮（一作渴）者，今自愈，設不差，
其人必清膿血，以有熱故也。下利後，脈絕，手足厥冷，晬時脈還，手足溫者生，
脈不還者死。下利脈反弦，發熱身汗者，自愈。下利氣者，當利其小便。下利清穀，
不可攻其表，汗出必脹滿，其藏寒者，當溫之。下利脈沈而遲，其人面少赤，
身有微熱（千金方連下文）。下利清穀必鬱冒，汗出而解其人微厥，所以然者，
其面戴陽，下虛故也。下利腹脹滿，身體疼痛，先溫其裏，乃攻其表。
下利脈遲而滑者實也，利未欲止，當下之。下利脈反滑者，當有所去，下，乃愈。
下利差，至其年月日時復發，此為病不盡，當復下之。下利而譫語者，為有燥屎也，
宜下之。下利而腹痛滿，為寒實，當下之。下利腹中堅者，當下之。下利後更煩，
按其心下濡者，為虛煩也。下利後，脈三部皆平，按其心下堅者，可下之。
下利脈浮大者，虛也，以強下之，故也，設脈浮革，因爾腸鳴，當溫之。病者痿黃，
躁而不渴，胃中寒實，而下利不止者，死。夫風寒下者不可下之，下之後，
心下堅痛脈遲者，為寒，但當溫之，脈沈緊，下之亦然，脈大浮弦，下之當已。</p>
<h3>平肺痿肺癰欬逆上氣淡飲脈證第十五</h3>
<p>問曰熱在上膲者，因欬為肺痿，肺痿之病，從何得之，師曰或從汗出，或從嘔吐，
或從消渴，小便利數，或從便難數被駛藥，下利，重亡津液，故得之。寸口脈不出，
而反發汗，陽脈早索，陰脈不澀，三膲蜘躕，入而不出，陰脈不澀，身體反冷，
其內反煩多吐脣燥，小便反難，此為肺痿傷於津液，便如爛瓜，亦如豚腦，但坐發汗，
故也。肺痿其人欲欬不得欬，欬則出乾沫，久久，小便不利，甚則脈浮弱。
肺痿吐涎沫而不欬者，其人不渴，必遺溺，小便數，所以然者以上虛不能制下也，
此為肺中冷，必眩，多涎唾，甘草乾薑湯以溫其藏。師曰肺痿欬唾，
咽燥欲飲水者自愈，自張口者短氣也，欬而口中自有津液，舌上胎滑，此為浮寒，
非肺痿也。問曰寸口脈數，其人欬，口中反有濁唾涎沫者，何也，師曰此為肺痿之病，
若口中辟辟燥，欬則胸中隱隱痛，脈反滑數，此為肺癰，欬唾膿血，脈數虛者，
為肺痿，脈數實者為肺癰。問曰病欬逆，脈之何以知此為肺癰，當有膿血，吐之則死，
後竟吐膿死，其脈何類，師曰寸口脈微而數，微則為風，數則為熱，微則汗出，
數則惡寒、風中於衛，呼氣不入，熱過於榮，吸而不出，風傷皮毛，熱傷血脈，
風舍於肺，其人則欬，口乾喘滿，咽燥不渴，多唾濁沫，時時振寒，熱之所過，
血為凝滯，蓄結癰膿，吐如米粥，始萌可救，膿成則死。欬而胸滿振寒，脈數，
咽乾不渴，時時出濁唾腥臭，久久，吐膿如粳米粥者，為肺癰，桔梗湯主之。
肺癰胸滿脹，一身面目浮腫，鼻塞，清涕出，不聞香臭酸辛，欬逆上氣，喘鳴迫塞，
葶藶大棗瀉肺湯主之。寸口脈數，趺陽脈緊，寒熱相搏，故振寒而欬，趺陽脈浮緩，
胃氣如經，此為肺癰。問曰振寒發熱，寸口脈滑而數，其人飲食起居如故，
此為癰腫病，醫反不知，而以傷寒治之，應不愈也，何以知有膿，膿之所在，
何以別知其處師曰假令膿在胸中者為肺癰，其人脈數，欬唾有膿血，
設膿未成其脈自緊數，緊去但數，膿為已成也。夫病吐血喘欬上氣，其脈數，有熱，
不得臥者死。上氣面浮腫肩息，其脈浮大，不治，又加利，尤甚。
上氣躁而喘者屬肺脹，欲作風水，發汗則愈（一云欬而上氣肺脹，其脈沈，
心下有水氣也，要略千金外疐，沈作浮）。夫酒客欬者，必致吐血，
此坐極飲過度所致也。欬家脈弦為有水，可與十棗湯下之。欬而脈浮，
其人不欬不食如是四十日乃已（一云三十日）。欬而時發熱，脈卒弦者，非虛也，
此為胸中寒實所致也，當吐之。欬家其脈弦，欲行吐藥，當相人強弱而無熱，
乃可吐之其脈沈者，不可發汗。久欬數歲，其脈弱者可治，實大數者不可治，
其脈虛者必苦冒，其人本有支飲在胸中故也，治屬飲家。問曰夫飲有四何謂也，
師曰有淡飲（一云留飲），有懸飲，有溢飲，有支飲，
問曰四飲何以為異師曰其人素盛今瘦，水走腸間，瀝瀝有聲，謂之淡飲，
飲後水流在脇下，欬唾引痛，謂之懸飲，飲水流行，歸於四肢，當汗出而不汗出，
身體疼重，謂之溢飲，欬逆倚息，短氣不得臥，其形如腫，謂之支飲。
留飲者脇下痛引缺盆，欬嗽轉甚（一云輒巳）。胸中有留飲，其人短氣而渴，
四肢歷節痛，其脈沈者，有留飲，夫心下有留飲，其人背寒，冷大如手。病者脈伏，
其人欲自利，利者反快，雖利，心下續堅滿，此為留飲欲去，故也，甘遂半夏湯主之。
病淡飲者，當以溫藥和之。心下有淡飲，胸脇支滿，目眩，甘草（草一作遂）湯主之。
病溢飲者當發其汗，小青龍湯主之。支飲亦喘而不能臥，加短氣，其脈平也。
膈間支飲，其人喘滿，心下痞堅，面色黧黑，其脈沈緊，得之數十日，醫吐下之不愈，
木防己湯主之。心下有支飲，其人苦冒眩，澤瀉湯主之。嘔家本渴，渴者為欲解，
今反不渴，心下有支飲故也，小半夏湯主之。夫有支飲家欬煩，胸中痛者，不卒死，
至一百日，或一歲，可與十棗湯。膈上有病，滿，喘，欬，吐，發則寒熱，背痛，
腰疼，目泣自出（目泣自出，一作目眩），其人振振身瞤，劇，必有伏飲。
夫病人飲水多，必暴喘滿，凡食少飲多，心下水停，甚者則悸，微者短氣。
脈雙弦者寒也，皆大下後喜虛，脈偏弦者飲也，肺飲不弦，但喜喘短氣。
病人一臂不遂，時復轉移在一臂，其脈沈細，非風也，必有飲在上膲，
其脈虛者為微勞，榮衛氣不周，故也，久久自差（一云冬自差）。腹滿，口若乾燥，
此腸間有水氣也，防己椒目葶藶大黃丸主之。假令瘦人臍下悸，吐涎沫而癲眩者，
水也，五苓散主之。先渴卻嘔，為水停心下，此屬飲家，半夏加茯苓湯主之。水在心，
心下堅築短氣，惡水不欲飲，水在肺，吐涎沫欲飲水，水在脾，少氣身重，水在肝，
脇下支滿，嚏而痛，水在腎，心下悸。</p>
<h3>平癰腫腸癰金瘡侵淫脈證第十六</h3>
<p>脈數身無熱，內有癰也（一云腹無積聚，身無熱，脈數，此為腸有膿，
薏苡附子敗醬湯主之）。諸浮數脈，應當發熱，而反洒淅惡寒，若有痛處當發其癰。
脈微而遲，必發熱，弱而數，為振寒，當發癰腫。脈浮而數，身體無熱，其形嘿嘿，
胸中微躁，不知痛之所在，此人當發癰腫。脈滑而數，數則為熱，滑則為實，
滑則主榮，數則主衛，榮衛相逢，則結為癰，熱之所過，則為膿也。
師曰諸癰腫欲知有膿與無膿，以手掩腫上，熱者為有膿，不熱者為無膿。
問曰官羽林婦病，醫脈之，何以知婦人腸中有膿，為下之則愈，師曰寸口脈滑而數，
滑則為實，數則為熱，滑則為榮，數則為衛，衛數下降，榮滑上升，榮衛相干，
血為濁敗，少腹痞堅，小便或澀，或時汗出，或復惡寒，膿為已成，設脈遲緊，
聚為瘀血，下之則愈。腸癰之為病，其身體甲錯，腹皮急，按之濡如腫狀。
腸癰者少腹腫，按之則痛小便數如淋，時時發熱，自汗出，復惡寒，其脈遲緊者，
膿未成，可下之，當有血，脈洪數者，膿已成，不可下也，大黃牡丹湯主之。
問曰寸口脈微而澀，法當亡血，若從出，設不汗者云何，答曰若身有瘡，被刀器所傷，
亡血故也。侵淫瘡從口起流向四肢者可治，汗四肢流來入口者，不可治。</p>
<h2>脈經卷之九</h2>
<p>平妊娠分別男女將產諸證第一
平妊娠胎動血分水分吐下腹痛證第二
平產後諸病鬱冒中風發熱煩嘔下利證第三
平帶下絕產無子亡血居經證第四
平鬱冒五崩漏下經閉不利腹中諸病證第五
平咽中如有炙腐喜悲熱入血室腹滿證第六
平陰中寒轉胞陰吹陰生瘡脫下證第七
平婦人病生死證第八
平小兒雜病證第九</p>
<h3>平妊娠分別男女將產諸證第一</h3>
<p>脈平而虛者，乳子法也，經云陰搏陽別，謂之有子，此是血氣和調，陽施陰化也，
診其手少陰脈動甚者，妊子也，少陰，心脈也，心主血脈，又腎名胞門子戶，
尺中腎脈也，尺中之脈，按之不絕，法妊娠也，三部脈沈浮正等，按之無絕者，
有娠也，妊娠初時，寸微小，呼吸五至，三月而尺數也，脈滑疾，重，以手按之散者，
胎已三月也，脈重手按之不散，但疾不滑者，五月也。婦人妊娠四月，欲知男女法，
左疾為男，右疾為女，俱疾為生二子。又法得太陰脈為男，得太陽脈為女，太陰脈沈，
太陽脈浮。又法左手沈實為男，右手浮大為女，左右手俱沈實，猥生二男，
左右手俱浮大，猥生二女。又法尺脈左偏大為男，右偏大為女，左右俱大產二子，
大者如實狀。又法左右尺俱浮，為產二男，不爾則女作男生，左右尺俱沈，為產二女，
不爾則男作女生也。又法遣妊娠人面南行，還復呼之，左迴首者是男，
右迴首者是女也。又法看上圊時，夫從後急呼之，左回首是男，右回首是女也。
又法婦人妊娠，其夫左乳房有核是男，右乳房有核是女也。婦人懷妊離經，其脈浮，
設腹痛引腰脊，為今欲生也，但離經者，不病也。又法婦人欲生，其脈離經，
半夜覺（○按千金方有痛字），日中則生也。</p>
<h3>平妊娠胎動血分水分吐下腹痛證第二</h3>
<p>婦人懷胎，一月之時，足厥陰脈養，二月，足少陽脈養，三月，手心主脈養，四月，
手少陽脈養，五月，足太陰脈養，六月，足陽明脈養，七月，手太陰脈養，八月，
手陽明脈養，九月，足少陰脈養，十月，足太陽脈養，諸陰陽各養三十日，活兒，
手太陽少陰不養者，下主月水，上為浮汁，活兒養母，懷娠者不可灸刺其經必墮胎。
婦人懷娠，三月而渴，其脈反遲者，欲為水分，復腹痛者，必墮胎。脈浮汗出者必閉，
其脈數者必發癰膿，五月六月，脈數者必向壞，脈緊者必胞漏，脈遲者必腹滿而喘，
脈浮者必水壞為腫。問曰有一婦人年二十所，其脈浮數，發熱嘔欬，時下利，不欲食，
脈復浮，經水絕，何也，師曰法當有娠，何以故，此虛家法當微弱，而反浮數，
此為戴陽，陰陽和合，法當有娠，到立秋，熱當自去何以知，然數則為熱，熱者是火，
火是木之子，死於未，未為六月位，土王，火休廢，陰氣生，秋節氣至，火氣當罷，
熱自除去，其病即愈，師曰乳後三月有所見，後三月來，脈無所見，此便是軀，
有兒者護之，恐病利也，何以故，懷身陽氣內養，乳中虛冷，故令兒利。婦人懷娠，
六月七月，脈弦發熱，其胎踰腹，腹痛惡寒，寒者小腹如扇之狀，所以然者，
子藏開故也，當以附子湯溫其藏。婦人妊娠七月，脈實大牢強者生，沈細者死。
婦人妊娠八月，脈實大牢強弦緊者生，沈細者死。婦人懷軀六月七月，暴下斗餘水，
其胎必倚而墮，此非時，孤漿預下故也。師曰寸口脈洪而濇，洪則為氣，濇則為血，
氣動丹田，其形即溫，濇在於下，胎冷若冰，陽氣胎活，陰氣必終，欲別陰陽，
其下必殭，假令陽終，畜然若杯。問曰婦人妊娠病，師脈之，何以知此婦人雙胎，
其一獨死，其一獨生，而為下其死者，其病即愈，然後竟免軀，其脈何類何以別之，
師曰寸口脈衛氣平調，榮氣緩舒，陽施陰化，精盛有餘，陰陽俱盛，故知雙軀，
今少陰微緊，血即濁凝，經養不周，胎則偏夭，小腹冷滿，膝臏疼痛，腰重起難，
此為血痹，若不早去，害母失胎。師曰婦人有胎腹痛，其人不安，若胎病不長，
欲知生死，今人摸之如覆杯者則男，如肘頭參差起者女也，冷在何面，冷者為死，
溫者為生。師曰婦人有漏下者，有半生後，因續下血都不絕者，有妊娠下血者，
假令妊娠腹中痛，為胞漏（一作阻），膠艾湯主之。婦人妊娠，經斷三月，而得漏下，
下血，四十日不止，胎欲動，在於臍上，此為妊娠六月動者，前三月經水利時胎也，
下血者，後斷三月衃也，所以下血不止者，其癥不去故也，當下其癥，宜桂枝茯苓丸。
問曰婦人病，經水斷一二月，而反經來，今脈反微澀，何也，師曰此前月中若當下利，
故令妨經，利止，月經當自下，此非軀也。婦人經自斷而有軀，其脈反弦，
恐其後必大下，不成軀也。婦人懷軀七月，而不可知，時時衂血而轉筋者，此為軀也，
衂時嚏而動者，非軀也。脈來近去遠，故曰反以為有軀而反斷，此為有陽無陰故也。
婦人經月下但為微少，師脈之，反言有軀，其後審然，其脈何類，何以別之，
師曰寸口脈陰陽俱平，榮衛調和，按之滑，浮之則輕，陽明少陰，各如經法，
身反洒淅，不欲食飲，頭痛心亂，嘔噦欲吐，呼則微數，吸則不驚，陽多氣溢，
陰滑氣盛，滑則多實，六經養成，所以月見，陰見陽精，汁凝胞散，散者損墮，
設復陽盛雙妊二胎，今陽不足，故令激經也。婦人妊娠，小便難飲如故，
當歸貝母苦參丸主之。婦人妊娠有水氣，身重，小便不利，洒洒惡寒，起即頭眩，
葵子茯苓散主之。婦人妊娠，宜服當歸散，即易產，無疾苦。
師曰有一婦人來診（一作脈），自道經斷不來，師言一月為衃，二月為血，
三月為居經，是定作軀也，或為血積，譬如雞乳子，熱者為祿，
寒者多濁且當須後月復來，經當入月幾日來，假令以七日所來，
因言且須後月十日所來相問，設其主復來者，因脈之，脈反沈而濇，因問曾經半生，
若漏下亡血者，定為有軀，其人言實有是，宜當護之，今經微弱，恐復不安，
設言當奈何，當為合藥治之。師曰有一婦人來診，自道經斷，脈之，師曰一月血為閉，
二月若有若無，三月為血積，譬如雞伏子，中寒即濁，中熱即祿，欲令胎壽，
當治其母，俠寒懷子，命不壽也，譬如雞伏子，試取雞一毛拔去，覆子不遍，
中寒者濁，今夫人有軀，少腹寒，手掌反逆，奈何得有軀，婦人因言當奈何，
師曰當與溫經湯，設與夫家俱來者有軀，與父母家俱來者，當言寒多，久不作軀。
師曰有一婦人來診，因言陰陽俱和調，陽氣長，陰氣短，但出不入，去近來遠，
故曰反以為有軀，偏反血斷，斷來幾日，假令審實者，因言急當治，恐經復下，
設令宮中人，若寡婦無夫，曾夜夢寐交通邪氣，或懷久作癥瘕，急當治下，服二湯，
設復不愈，因言髮湯當中，下胎而反不下，此何等意邪，
可使且將視赤烏（一作赤馬），師曰若宮里張氏不差，復來相問。
〔臣億等詳此文理脫誤不屬，無本可校，以示爾疑，餘皆倣此〕師曰脈婦人得平脈，
陰脈小弱，其人渴不能食，無寒熱，名為軀，桂枝主之，法六十日當有娠，
設有醫治逆者，卻一月加吐下者，則絕之，方在傷寒中。婦人脈平而虛者，乳子法也，
平而微者實奄續法也，而反微濇，其人不亡血下利而反甚，其脈虛，
但坐乳大兒及乳小兒，此自其常，不能令甚虛竭，病與亡血虛等，必眩冒而短氣也。
師曰有一婦人好裝衣，來診而得脈濇，因問曾乳子下利，乃當得此脈耳，
曾半生漏下者可，設不者經斷三月六月，設乳子漏下可為奄續，斷小兒勿乳，須利止，
復來相問脈之。師曰寸口脈微遲，尺微於寸，寸遲為寒，在上膲，但當吐耳，
今尺反虛，復為強下之，如此發胸滿而痛者，必吐血少腹痛，腰脊痛者，必下血。
師曰寸口脈微而弱，氣血俱虛，若下血嘔吐汗出者可，不者趺陽脈微而弱，
春以胃氣為本，吐利者可，不者此為水氣，其腹必滿，小便則難。婦人常嘔吐而胃反，
若常喘（一作多唾），其經又斷，設來者必少。師曰有一婦人年六十所，經水常自下，
設久得病利，少腹堅滿者為難治。師曰有一婦人來診，言經水少不如前者何也，
師曰曾更下利，若汗出，小便利者可，何以故，師曰亡其津液，故令經水少，
設經下反多於前者，當所苦困，當言恐大便難，身無復汗也，師曰寸口脈沈而遲，
沈則為水，遲則為寒，寒水相搏，趺陽脈伏，水穀不化脾氣衰則鶩溏，
胃氣衰則身體腫，少陽脈卑，少陰脈細，男子則小便不利，婦人則經水不通，經為血，
血不利則為水，名曰血分（一作水分）。師曰寸口脈沈而數，數則為出，沈則為入，
出則為陽實，入則為陰結，趺陽脈微而弦，微則無胃氣，弦則不得息，少陰脈沈而滑，
沈則為在裏，滑則為實，沈滑相搏血結胞門，其藏不瀉，經絡不通，名曰血分。
問曰病有血分何謂也，師曰經水前斷，後病水，名曰血分，此病為難治。
問曰病有水分何謂也，師曰先病水，後經水斷，名曰水分，此病易治，何以故，去水，
其經自當下也。脈濡而弱，弱反在關，濡反在顛，遲在上，緊在下，遲則為寒，
名曰渾，陽濁則濕，名曰霧，緊則陰氣慄，脈反濡弱，濡則中濕，弱則中寒，
寒濕相持，名曰痹，腰脊骨節苦煩，肌為不仁，此當為痹，而反懷軀，遲歸經，
體重以下，腳為胕腫，按之沒指，腰冷不仁，此為水懷，喘則倚息，小便不通，
緊脈為嘔血氣無餘，此為水分，榮衛，乖亡，此為非軀。</p>
<h3>平產後諸病鬱冒中風發熱煩嘔下利證第三</h3>
<p>問曰新產婦人有三病，一者病痓（亦作痙），二者病鬱冒，三者大便難，何謂也，
師曰新產亡血，虛多汗出，喜中風，故令病痓，何故鬱冒，師曰亡血，復汗，寒多，
故令鬱冒，何故大便難，師曰亡津液，胃燥，故大便難，產婦鬱冒，其脈微弱，
嘔不能食，大便反堅，但頭汗出，所以然者，血虛而厥，厥而必冒，冒家欲解，
必大汗出，以血虛下厥，孤陽上出，故但頭汗出，所以生婦喜汗出者，亡陰血虛，
陽氣獨盛，故當汗出，陰陽乃復，所以便堅者，嘔不能食也，小柴胡湯主之，
病解能食，七八日而更發熱者，此為胃熱氣實，承氣湯主之，方在傷寒中。
婦人產得風，續之，數十日不解，頭微痛，惡寒，時時有熱，心下堅，乾嘔，汗出，
雖久，陽旦證續在可與陽旦，方在傷寒中，桂枝是也。婦人產後中風發熱，面正赤，
喘而頭痛，竹葉湯主之。婦人產後，腹中㽲痛，可與當歸羊肉湯。師曰產婦腹痛，
煩滿不得臥，法當枳實芍藥散主之，假令不愈者，此為腹中有乾血著臍下，
與下瘀血湯，婦人產後七八日，無太陽證，少腹堅痛，此惡露不盡，
不大便四五日趺陽脈微，實再倍，其人發熱，日晡所煩躁者，不能食，譫語，
利之則愈，宜承氣湯，以熱在裏，結在膀胱也，方在傷寒中。婦人產中虛，煩亂嘔逆，
安中益氣，竹皮大丸主之。婦人熱利重下，新產虛極，
白頭翁加甘草湯主之（千金方又加阿膠）。</p>
<h3>平帶下絕產無子亡血居經證第四</h3>
<p>師曰婦人帶下，六極之病，脈浮則為腸鳴腹滿，緊則為腹中痛，數則為陰中癢，
洪則生瘡，弦則陰疼掣痛。師曰帶下有三門，一曰胞門，二曰龍門，三曰玉門，
已產屬胞門，未產屬龍門，未嫁女屬玉門。問曰未出門女有三病，
何謂也師曰一病者經水初下，陰中熱，或有當風，或有扇者，二病者，
或有以寒水洗之，三病者或見丹下，驚怖得病，屬帶下。師曰婦人帶下九實中事，
假令得鼠乳之病，劇易當劇，有期，當庚辛為期，餘皆倣此。問曰有一婦人年五十所，
病，但苦背痛，時時腹中痛，少食多厭，喜䐜脹，其脈陽微關尺小緊，形脈不相應，
願知所說，師曰當問病者飲食何如，假令病者言我不欲飲食，聞穀氣臭者，
病為在上膲，假令病者言我少多為欲食，不食亦可，病為在中膲，
假令病者言我自飲食如故，病為在下膲，為病屬帶下，當以帶下治之。
婦人帶下經水不利，少腹滿痛，經一月再見，土瓜根散主之，婦人帶下脈浮，惡寒，
漏下者，不治。師曰有一婦人將一女子，年十五所來診，言女子年十四時經水自下，
今經反斷其母言恐怖，師曰言此女為是夫人親女非耶，若親女者當相為說之，
婦人因答曰自是女爾，師曰所以問者無他，夫人年十四時亦以經水下，
所以斷此為避年勿恠，後當自下。婦人少腹冷惡寒久，年少者得之，此為無子，
年大者得之絕產。師曰脈微弱而澀，年少得此為無子，中年得此為絕產。
師曰少陰脈浮而緊，緊則疝瘕腹中痛，半產而墮傷，浮則亡血，絕產，惡寒。
師曰肥人脈細，胞有寒，故令少子，其色黃者，胸上有寒。
婦人少腹䃂（音袞）磊（力罪切），轉痛而復自解，發作無常，經反斷，
膀胱中結堅急痛，下引陰中氣街者，久必兩脇拘急。問曰婦人年五十所，病下利，
數十日不止，暮則發熱，少腹裏急痛，腹滿，手掌熱，脣口乾燥，何也，
師曰此病屬帶下，何以故，曾經半產，瘀血在少腹中，不去何以知之，其證脣口乾燥，
故知之，當與溫經湯。問曰婦人病下利，而經水反斷者何也，師曰但當止利，
經自當下，勿怪，所以利不止而經斷者，但下利亡津液，故經斷，利止，
津液復經自當下。婦人血下，咽乾而不渴，其經必斷，此榮不足，本自有微寒，
故不引飲，渴而引飲者，津液得通，榮衛自和，其經必復下。師曰寸口脈微而濇，
微則衛氣不足，濇則血氣無餘，衛不足，其息短，其形燥，血不足，其形逆，
榮衛俱虛，言語謬誤，趺陽脈微而濇，微則胃氣虛，虛則短氣，咽燥而口苦，胃熱，
濇則失液，少陰脈微而遲，微則無經，遲則陰中寒，濇則血不來，此為居經，
三月一來。師曰脈微血氣俱虛，年少者亡血也，乳子下利為可，不此為居經，
三月一來。問曰婦人妊娠三月，師脈之，言此婦人非軀，今月經當下，其脈何類，
何以別之，師曰寸口脈，衛浮而大，榮反而弱，浮大則氣強，反弱則少血，孤陽獨呼，
陰不能吸，二氣不停，衛降榮竭，陰為積寒，陽為聚熱，陽盛不潤，經絡不足，
陰虛陽往（一作實），故令少血，時發洒淅，咽燥汗出，或溲稠數，多唾涎沫，
此令重虛，津液漏泄，故知非軀，畜煩滿洫，月稟一經，三月一來，陰盛則瀉，
名曰居經。問曰婦人年五十所，一朝而清血，二三日不止，何以治之，
師曰此婦人前絕生，經水不下，今反清血，此為居經，不須治，當自止，
經水下常五日止者，五日愈。婦人月經一月再來者，經來，其脈欲自如常，而反微，
不利不汗出者，其經二月必來。</p>
<h3>平鬱冒五崩漏下經閉不利腹中諸病證第五</h3>
<p>問曰婦人病經水適下，而發其汗，則鬱冒不知人，何也，師曰經水下故為裏虛，
而發其汗，為表復虛，此為表裏俱虛故令鬱冒也。問曰婦人病如癲疾鬱冒，
一日二十餘發，師脈之，反言帶下，皆如師言，其脈何類，何以別之，
師曰寸口脈濡而緊，濡則陽氣微，緊則榮中寒，陽微衛氣虛，血竭凝寒，陰陽不和，
邪氣舍於榮衛，疾（疾一作候）起少年時，經水來，以合房室，移時過度，
精感命門開，經下血虛，百脈皆張，中極感陽動，微風激成，寒，因虛舍榮衛，
冷積於丹田，發動上衝，奔在胸膈，津液掩口入，涎唾涌溢出，眩冒，狀如厥，
氣衝髀，裏熱，粗醫名為癲，灸之因大劇，問曰婦人病苦氣上衝胸，眩冒，吐涎沫，
髀裏氣衝熱，師脈之不名帶下，其脈何類，何以別之，師曰寸口脈沈而微，
沈則衛氣伏，微則榮氣絕，陽伏則為疹，陰絕則亡血，病當小便不利津液閉塞，
今反小便通，微汗出沈變為寒，欬逆嘔沫，其肺成痿，津液竭少，亡血損經絡，
因寒為血厥，手足苦痹，氣從丹田起，上至胸脇，沈寒怫鬱於上，胸中窒塞，
氣歷陽部，面翕如醉，形體似肥，此乃浮虛，醫反下之，長針，復重虛榮衛，
久發眩冒，故知為血厥也。問曰五崩何等類，師曰白崩者形如涕，赤崩者形如絳，津，
黃崩者形如爛瓜，青崩者形如藍色，黑崩者形如衃血也。師曰有一婦人來脈，
反得微濇，法當吐，若下利而言不，因言夫人年幾何，夫人年七七四十九，經水當斷，
反至今不止，以故致此虛也。寸口脈弦而大，弦則為減，大則為芤，減則為寒，
芤則為虛，寒虛相搏，脈則為革，婦人則半產漏下，旋覆花湯主之。婦人陷經漏下，
黑不解，膠薑湯主之。婦人經水不利，抵當湯主之，方在傷寒中。婦人經水閉不利，
藏堅僻不止，中有乾血，下白物，礬石丸主之。婦人腹中諸疾痛，
當歸芍藥散主之（一云治懷妊腹中痛）。婦人腹中痛，小建中湯主之，
方在傷寒中（一云腹中痛，小便利，理中湯主之）。</p>
<h3>平咽中如有炙腐喜悲熱入血室腹滿證第六</h3>
<p>婦人咽中如有炙腐狀（○按金匱腐作臠），半夏厚朴湯主之。婦人藏燥，喜悲傷，
欲哭，象如神靈所作，數欠，甘草小麥湯主之。婦人中風發熱惡寒，經水適來，
得之七八日熱除，脈遲身涼，胸膈下滿如結胸狀，其人譫語，此為熱入血室當刺期門，
隨其虛實而取之。婦人中風七八日，續有寒熱，發作有時，經水適斷者，
此為熱入血室，其血必結，故使如瘧狀，發作有時，小柴胡湯主之，方在傷寒中。
婦人傷寒發熱，經水適來，晝日了了，暮則譫語，如見鬼狀，此為熱入血室，
無犯胃氣，若上二膲，必當自愈（二膲字疑，○按上二膲者，上中二焦也，
何疑之有）。陽明病下血而譫語，此為熱入血室，但頭汗出者，當刺期門，
隨其實而寫之，濈然汗出者則愈。婦人少腹滿，如敦敦狀（要略云滿而熱，
○按今本要略與脈經同），小便微難，而不渴，生後（生後字疑）者，此為水與血并，
結在血室，大黃甘遂湯主之。</p>
<h3>平陰中寒轉胞陰吹陰生瘡脫下證第七</h3>
<p>婦人陰寒，溫中坐藥，蛇床子散主之。婦人著坐藥，強下其經，目眶為痛，
足跟難以踐地，心中狀如懸。問曰有一婦人病飲食如故，煩熱不得臥，
而反倚息者何也，師曰得病轉胞不得溺也，何以故，師曰此人故肌盛，頭舉身滿，
今反羸瘦，頭舉中空（一作減），胞系了戾，故致此病，但利小便則愈，宜服腎氣丸，
以中有茯苓故也，方在虛勞中。師曰脈得浮緊，法當身軀疼痛，設不痛者，當射云何，
因當射言若腸中痛，腹中鳴，欬者，因失便，婦人得此脈者，法當陰吹，
師曰寸口脈浮而弱，浮則為虛，弱則為血，浮則短氣，弱則有熱，而自汗出，
趺陽脈浮而濇，浮則氣滿，濇則有寒，喜噫吞酸，其氣而下少腹則寒，少陰脈弱而微，
微則少血，弱則生風，微弱相搏，陰中惡寒，胃氣下泄，吹而正喧。師曰胃氣下泄，
吹而正暄，此穀氣之實也，膏髮導之。少陰脈滑而數者，陰中則生瘡。
少陰脈數則氣淋，陰中生瘡。婦人陰中蝕，瘡爛，狼牙湯洗之。婦人藏腫如瓜，
陰中疼引腰痛者，杏仁湯主之。少陰脈弦者，白腸必挻核。少陰脈浮而動，浮則為虛，
動則為痛，婦人則脫下。</p>
<h3>平婦人病生死證第八</h3>
<p>診婦人漏血下赤白，日下血數升，脈急疾者死，遲者生。診婦人漏下赤白不止，
脈小虛滑者生，大緊實數者死。診婦人新生乳子，脈沈小滑者生，實大堅弦急者死。
診婦人疝瘕積聚，脈弦急者生，虛弱小者死。診婦人新生乳子，因得熱病，其脈弦小，
四肢溫者生，寒清者死。診婦生產，因中風傷寒熱病喘鳴而肩息，脈實大浮緩者生，
小急者死。診婦人生產之後，寸口脈焱疾不調者死，沈微附骨不絕者生。
金瘡在陰處出血不絕，陰脈不能至陽者死，接陽而復出者生。</p>
<h3>平小兒雜病證第九</h3>
<p>小兒脈呼吸八至者平，九至者傷，十至者困。診小兒脈法多雀鬬，要以三部脈為主，
若緊為風癇，沈者乳不消，弦急者客忤氣。小兒是其日數應變蒸之時，
身熱而脈亂汗不出，不欲食，食輒吐哯者，脈亂無苦也。小兒脈沈而數者，骨間有熱，
欲以腹按冷清也。小兒大便赤，青瓣，飱洩，脈小，手足寒，難已，脈小，手足溫，
易已。小兒病困，汗出如珠，著身不流者死。小兒病，其頭毛皆上逆者，必死，
耳間青脈起者，瘈痛。小兒病而囟陷，入其口，脣乾，目皮反，口中出氣冷，
足與頭相抵，臥不舉身，手足四肢垂，其臥正直如得縳，其掌中冷皆死，
至十日不可復治之。</p>
<h2>脈經卷之十</h2>
<p>手檢圖二十一部〔○袁校本云凡五十六條，首言十二經脈，次言奇經八脈，
次言三部二十四種脈，未見所謂手檢圖者，豈經原有圖，今不傳耶，宋林億云，
世之傳授，其別有三，有以隋巢元方時行病源，為第十卷者，有以第五卷分上下卷，
而撮諸篇之文，別增篇目者，今則除去重復，補其脫漏，其篇第亦頗改易，
仍舊為一十卷，則知此卷經文傳疑已久，億雖補正脫漏，而所謂手檢圖二十一部者，
直據舊目、無從深考耳〕。經言肺者人之五藏華蓋也，上以應天解，理萬物，
主行精氣，法五行（○按奇經考引有應字），四時，知五味，寸口之中，陰陽交會，
中有五部，前後左右各有所主，上下中央，分為九道，浮沈結散，知邪所在，
其道奈何，岐伯曰脈大而弱者，氣實血虛也，脈大而長者，病在下，候，
浮直上下交通者，陽脈也，堅在腎，急在肝，實在肺，前如外者足太陽也，
中央如外者足陽明也，後如外者足少陽也，中央直前者手少陰也，
中央直中者手心主也，中央直後者手太陰也，前如內者足厥陰也，
中央如內者足太陰也，後如內者足少陰也，前部左右彈者陽蹻也，
中部左右彈者帶脈也，後部左右彈者陰蹻也，從少陽之厥陰者陰維也，
從少陰之太陽者陽維也，來大時小者陰絡也，來小時大者陽絡也。前如外者足太陽也，
動苦頭項腰痛，浮為風，濇為寒，熱緊為宿食。前如外者足太陽也，動苦目眩，
頭頸項腰背強痛也，男子陰下濕，女子月水不利，少腹痛引命門，陰中痛，子藏閉，
浮為風，濇為寒血，滑為勞熱，緊為宿食，針入九分卻至六分。中央如外者足陽明也，
動苦頭痛面赤微滑，苦大利便不利，腸鳴，不能食，足脛痹。中央如外者足陽明也，
動苦頭痛面赤，熱浮微滑，苦大便不利，喜氣滿，滑者為飲，濇為嗜臥，腸鳴，
不能食，足胻痹，針入九分卻至六分。後如外者足少陽也，動苦腰背胻股節痛。
後如外者足少陽也，浮為氣濇，濇為風，血急為轉筋，弦為勞，
針入九分卻至六分（以上足三陽脉六條）。前如內者足厥陰也，動苦少腹痛，
月經不利，子藏閉。前如內者足厥陰也，動苦少腹痛，與腰和連，大便不利，小便難，
莖中痛，女子月水不利，陰中寒，子戶壅絕內，少腹急，男子疝氣，兩丸上入淋也，
針入六分，卻至三分。中央如內者足太陰也，動苦胃中痛，食不下，欬唾有血，
足脛寒，少氣，身重，從腰上狀如居水中。中央如內者足太陰也，動苦腹滿，
上管有寒，食不下，病以飲食得之，沈濇者，苦身重四肢不動，食不化，煩滿不能臥，
足脛痛苦寒，時欬，血泄利黃，針入六分卻至三分。
後如內者足少陰也動苦少腹痛與心相引，背痛，淋從高墮下傷於內，小便血。
後如內者足少陰也，動苦少腹痛與心相引，背病，淋，從高墮下，傷於尻內，
便血裏急，月水來，上搶心，胸脇滿，拘急，股裏急也，針入六分，
卻至三分（以上足三陰脈六條）。前部左右彈者陽蹻也，動苦腰背痛，微濇為風癇，
取陽蹻。前部左右彈者，陽蹻也，動苦腰痛癲癇，
惡風、偏枯、僵仆、羊鳴、𢂽痹、皮膚身體強（一作淫痹），直取陽蹻，
在外踝上三寸直絕骨是。中部左右彈者帶脈也，動苦少腹痛引命門，女子月水不來，
絕繼復下止，陰辟寒，令人無子，男子苦少腹拘急，或失精也。後部左右彈者陰蹻也，
動苦癲癇，寒熱，皮膚強（一作淫痹）。後部左右彈者陰蹻也，
動苦少腹痛裏急腰及髖窌下相連陰中痛，男子陰疝，
女子漏下不止（以上陰蹻陽蹻帶脈五條）。中央直前者手少陰也，動苦心痛微堅，
腹脇急，實堅者為感忤，純虛者為下利，腸鳴，滑者為有娠，女子陰中癢痛，
痛出玉門上一分前。中央直中者手心主也，動苦心痛面赤，食苦咽多，喜怒，微浮者，
苦悲傷恍惚不樂也，濇為心下寒，沈為恐怖，如人捕之狀也，時寒熱有血氣。
中央直後者手太陰也，動苦欬逆氣不得息，浮為內風，緊濇者胸中有積熱，時欬血也，
有沈熱（以上手三陰脈三條），從少陰斜至太陽，是陽維也，動苦肌肉痹癢。
從少陰斜至太陽，是陽維也動苦癲僵仆，羊鳴，手足相引，甚者失音不能言，癲疾，
直取客主人兩陽維脈，在外踝絕骨下二寸。從少陽斜至厥陰，是陰維也，
動苦癲癇僵仆羊鳴。從少陽斜至厥陰，是陰維也，動苦僵仆失音，肌肉淫癢，痹，
汗出惡風。脈來暫大暫小是陰絡也（一作結），動苦肉痹，塵時自發，身洗洗也。
脈來暫小暫大者，是陽絡也（一作結），動苦皮膚痛，下部不仁，
汗出而寒也（以上陽維陰維陽絡陰絡脈六條）。肺脈之來也，如循榆葉曰平，
如風吹毛曰病，狀如連珠者死，期、丙丁、日，禺中、日中。
心脈之來也如反笋莞大曰平，如連珠曰病，前曲後居，如帶鉤者死，期、壬癸、日，
人定、夜半。肝脈之來也搏而若曰平，如張新弓弦曰病，如雞踐地者死，期、庚辛，
日、晡時、日入。脾脈之來也，阿阿如緩曰平，來如雞舉足曰病，
如鳥之啄如水之漏者死，期、甲乙、日，平旦日出。腎脈之來也，微細以長，
來如彈石曰病，去如解索者死，期、戊巳，日、食時，日昳，黃昏，
雞鳴（以上平五藏脈五條）。寸口中脈躁，竟、尺關中無脈，躁、陽干陰也，
動苦腰背腹痛，陰中若傷，足寒，刺足太陽少陰，直絕骨入九分，灸太陰五壯。
尺中脈堅實，竟尺寸口無脈，應，陰干陽也，動苦兩脛腰重，少腹痛，癲疾，
刺足太陰踝上三寸，針入五分，又灸太陽陽蹻，在足外踝上三寸，直絕骨、是也。
寸口脈緊直至魚際下，小按之，如持維干（一作雞毛）狀，其病腸鳴，足痹，痛酸，
腹滿不能食，得之寒濕，刺陽維，在外踝上三寸間也，入五分，
此脈出魚（一作原）際。寸口脈沈著骨，反仰其手乃得之，此腎脈也，動苦少腹痛，
腰體酸，癲疾，刺腎俞，入七分，又刺陰維，入五分，初持寸口中脈如細堅狀，
久按之大而深，動苦心下有寒，胸脇苦痛，陰中痛，不欲近丈夫也，此陰逆，刺期門，
入六分又刺腎俞，入五分，可灸胃管七壯。初持寸口中脈，如躁狀，洪大，
久按之細而堅牢，動苦腰腹相引痛，以下至足胻重也，不能食，刺腎俞，入四分，
至五分亦可，灸胃管七壯。尺寸俱沈，但有關上脈，苦寒心下痛。尺寸俱沈，
關上無有者，苦心下喘。尺寸俱數，有熱，俱遲，有寒。尺寸俱微、厥，血氣不足，
其人少氣。尺寸俱濡弱，發熱，惡寒，汗出（一云內慍熱，手足逆，冷汗出）。
寸口沈，胸中痛引背（一云短氣），關上沈，心痛，上吞酸，尺中沈，引背痛。
寸口伏，胸中有逆氣，關上伏，有水氣，泄溏，尺中伏，水穀不消。寸口弦，
胃中拘急（一作心下愊愊），關上弦，胃中有寒，心下拘急，尺中弦，少腹臍下拘急。
寸口緊，頭痛，逆氣，關上緊，心下痛，尺中緊，臍下少腹痛。寸口濇，無陽少氣，
關上濇，無血，厥冷，尺中濇，無陰，厥冷。寸口微，無陽，外寒，關上微，
中實（一作胃虛），能食，故裏急（一作無胃氣），尺中微，無陰，厥冷，腹中拘急。
寸口滑，胸滿、逆、關上滑，中實，逆，尺中，滑，下利少氣。寸口數，即吐，
關上數，胃中有熱，尺中數，惡寒，小便赤黃。寸口實，即生熱，虛，即生寒，
關上實，即痛，虛，即脹滿，尺中實，即小便難，少腹牢痛，虛，即閉澀。寸口芤，
吐血，微芤，衂血，關上芤，胃中虛，尺中芤，下血，微芤，小便血。寸口浮，
其人中風發熱頭痛，關上浮，腹痛，心下滿，尺中浮，小便難。寸口遲，上膲有寒，
關上遲，胃有寒，尺中遲，下膲有寒，背痛。寸口濡，陽弱，自汗出，關上濡，下重，
尺中濡，少血發熱惡寒。寸弱，陽氣少，關弱，無胃氣，尺弱，少血（以上雜言，
三部，二十四種，脈）。</p>
