<header data-type="book">
<h1>外科方外奇方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>凌奐</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1893">公元1893年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第八冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521058">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>今之論醫者曰。中醫善治內證。西醫長於外科。詢其何以知其然也。則曰。西醫精解剖斷截湔洗。目為常事耳。是言也。謂目下之中醫則可。謂古昔之中醫則不可。蓋古之醫師類多解此。扁鵲華佗。尤其著者。試讀山西醫學雜誌。（纂輯中西解剖病理）一通。當知吾言之非妄。然斯妙法神技。何為不傳至今日而與西人頡頏耶。曰守秘而已。</p>
<p>余謂中醫之日漸陵替。西醫之月異日新。其因雖有種種。而守秘與公開。實為至大之原。蓋學理以研究而愈明。方劑以試用而的知。設有新理長方。惟知自秘。不肯公布。微特不能更有發明。即此一端。亦必終歸湮沒。吾國醫界。不明乎此。以致古醫麻醉刳剝之術。失傳於後世。反使西醫後進。矜炫其法。撫今思昔。能毋慨歟。為今之計。亟宜開誠布公。相互研求。一掃向日守秘之惡習。則中華醫學。庶有豸乎。</p>
<p>凌師曉五。有清吳郡之名醫也。學問淵博。精驗宏富。家藏醫書。奚啻萬卷。胥熟讀精思。捨短取長。故為人治病。輒多奇效。惜冗於診務。乏暇著述。所作僅數種耳。《醫學薪傳》。《飼鶴亭集方》。已由哲嗣合刊流傳。尚有《方外奇方》。《凌臨靈方》。《本草害利》等書。未付剞劂。今歲裘公有三三醫書之創刊。圭思中醫外科之見拙於人。長由外科佳籍鮮于流通所致。奚將凌師方外奇方一書。商諸裘公。編入印行。並綴數語。以告世醫。至本書所列各方。實淩氏一生經驗之所萃。用者自知其妙無待不佞之喋喋也。</p>
<p><u>民國十三祀四月。沈仲圭謹序。</u></p>

<h1>重刻序</h1>
<p>世人對於中西醫學之評判。輒謂西醫擅外科。中醫精內病。按之實際。西醫診療內病。固多特過中醫之處。中醫對於外科。詎無捷效良方。以內外科疾患衡量中西醫學之高下。實至無據之談也。今就簡冊所載。撮述數事。以明中醫確有愈外症之經驗效方焉。冷廬醫話卷五云。「同邑鄭拙言學博。性喜單方。言其經驗最靈者有四。道光壬寅年。館樂平汪軍門家。糞門前。腎囊後。起一堅塊。漸覺疼痛。虛寒虛熱時作。案頭有同壽錄。檢一方云。『跨馬癰初起。用甘草五錢。酒水各一碗。煎服。』如方服之。塊漸軟。次日略出清水。不數日全愈。」（圭按跨馬癰即懸癰。喜多春香城亦認粉甘草膏為此症良藥。）毛達可便易經驗集纏喉風秘方條下云。「常熟趙氏祖傳纏喉風藥甚效。而方極秘惜。一日。趙氏子與友章甘飲。詢其方不答。酒次。趙喉間痛不可忍。乃大聲曰。『為求豬牙皂角來。』來則細搗。以醋調入喉五匙。嗽痰大吐。痛立止。余藥塗頸上。干則易之。其乳蛾即破而愈。後章傳人頗眾。」（圭按皂角治喉風。李氏綱目亦極言其效。）梅氏驗方新編天虛我生弁言云。「先慈每年必以芙蓉花浸鹽滷中。明年夏日。小兒有患瘡節者。敷之立愈。又以初生之鼠。漬菜油中。患湯火傷者。得此立止其痛。又於梅雨時捕集蜒蝣。與梅子同醃。遇喉症輒應手而愈。予皆親身所曾實驗者也」　南京醫學報第五期包蘅村曰。「咸豐十一年及同治二年。先父行醫香港。是時港埠未闢。居民猶鮮。風俗強悍。不受法律。且好食禾蟲。以故下流社會之人。每患疔毒。一患疔毒。又不肯忌葷。故走黃之症獨多。先父每以芭蕉根搗汁。令冷飲之。雖遍體走黃者。無不愈。」上舉四例。雖病之輕重不同。而收效之速則一。且余所述。僅四事耳。若博稽方書。類夫此項之紀載與良方。正難屈指而計。詎醫籍所記。盡皆子虛烏有耶。故余以為中醫外科之治療。除器械、消毒、手術外。其餘方藥。正不讓泰西醫術也。仲圭少習內科於王香岩夫子。讀書之暇。錄有方外奇方。凌臨靈方。醫學體用等書。業由吉生先生採入三三醫書行世。乃者。上海世界書局輯印珍本醫書集成。宣揚國粹。良足欽佩。仲圭寢饋此道。垂二十年。深信中醫之效方妙藥。不至廢棄。故於本書重版之日。再抒其管見。以就正世之賢達焉。</p>
<p><u>民國二十五年四月下浣。杭州沈仲圭敘於糧道山。</u></p>

<h1>卷一</h1>

<h2>升降部</h2>
<p>大紅升　辰州大劈砂（五錢）　明雄黃（五錢）　水銀（一兩）　火硝（四兩）　白礬（一兩）　皂礬（六錢）　先將二礬、火硝研碎。入大銅杓內。加火酒一杯燉化。一干即起研細。另將汞、朱、雄研細至不見星為度。再入硝礬末研勻。先將陽城罐用紙筋泥。搪指厚陰乾。常輕輕撲之。不使生裂紋。搪泥罐子泥亦可用。如有裂紋。以罐子泥補之極干。再曬無裂紋。方入前藥在內。罐口以鐵油盞蓋定。加鐵梁。盞上下用鐵⿱台水鐵絲紮緊。用綿紙捻條護密周圍塞罐口縫間。外用熟石羔細末。醋調封固盞上。加炭火二塊。使盞熱罐口封固易干也。用大釘三根。釘放地下。將罐下放釘上。罐底下置壑大炭火一塊。外砌百眼爐。升三炷香。第一炷香。惟用底火如火大則汞先飛上。二炷香用大半罐火。以筆蘸水擦盡。三炷香火平罐口。用扇扇之。頻用水擦盡。弗令乾。干則汞先飛上。三炷香完去火。冷定開看。方氣足盞上。約六七錢。刮下研細。瓷罐盛用。再預以鹽滷汁調罐子稀泥。用筆蘸泥水。埽罐口周圍勿令泄氣。蓋恐有綠煙起。汞走也。綠煙一走。即無用矣。此丹治一切瘡瘍潰後。拔毒去腐。生肌長肉。瘡口堅硬。肉黯紫黑。用丹少許。雞翎埽上。立刻紅活。瘍醫若無紅白二丹。決難立刻取效。</p>
<p>大白升　水銀　枯皂礬　焰硝　食鹽（各一兩）　共研至水銀不見星為度。入陽城罐內。口上一鐵油盞蓋之。鐵絲紮緊。鐵盞四圍。用白綿絲條箝緊。外用鹽五兩。光粉和泥搗勻擦罐。入百眼爐內。初用文火一炷香。盞上常以微水潤之。至三炷香。用武火完為度。俟冷定打開。取升在盞上色白者。刮下研細盛用。此丹可服可敷。如瘡口有黃水用此。無水用紅粉霜。</p>
<p>一方加硼砂、黃丹、硃砂、膽礬、雄黃。</p>
<p>附封罐口神膠方　破砂罐末　草鞋灰　黃泥　傾銀藥末　燒鹽粽子各一兩。共研細末。用鹽滷調和膠丹。入乳缽擂細。用抿子挑封罐口。</p>
<p>小紅升　真水銀（二兩）　淨明礬（二兩）　提淨火硝（二兩）　上三味搗和研勻。安鐵耳鍋內。蓋以高深宮碗。居中平穩。用煨石膏研細。揪滿碗𪣟。用圍平鍋口封好。放於風爐上。以先文後武之火。煉三炷香為度。過夜待冷。以刀刮去封口石膏。輕輕𫼘抹碗𪣟。將碗揭起。用小刀刮下升丹。或綠或黃或紅。各自貯開。瓷瓶盛之。聽用。顏色雖殊。功效則一。陳一年者。出盡火氣。愈陳愈佳。此藥治一切瘡瘍疔腫癤各毒。初起出膿時。用此摻瘡口。自能呼膿拔毒。外用膏藥蓋之。如膿腐去淨者。另用生肌長肉粉霜。如男子腎囊。女子乳頭。及眼珠上下兩角。或生瘡毒。切勿用此丹。恐受水銀之氣。受患莫測。慎之。</p>
<p>六仙升丹　水銀（三兩）　火硝（三兩）　明礬（五兩）　東丹（四兩）　輕粉（六錢）　皂礬（一兩五錢）。如紅升法。</p>
<p>白降丹。（即夏冰對配丹。）　水銀　淨火硝　白礬　皂礬　炒白鹽（各九錢）　上五味共研至不見水銀星為度。盛於新大傾銀罐內。以微火熔化。火急則水銀上升走爐。須用烰炭為妙。熬至罐上無白煙起。再以竹木枝撥之。無藥屑撥起為度。則藥吸於罐底。謂之結胎。胎成用大木盆一個盛水。水內置淨鐵火盆一個。以水盆內水。及鐵盆之半腰為度。然後將前結就之胎。連罐覆於鐵盆內之居中。以鹽滷和黃土封固罐口。勿令出氣。出氣即走爐。再用淨灰鋪於鐵盆內。灰及罐腰。將灰按平。不可搖動藥罐。恐傷封口。即要走爐。鋪灰畢。取燒紅慄炭。攢圍罐底。用扇微扇。煉一炷香。謂之文火。再略重扇。煉一炷香。謂之武火。炭隨少隨添。勿令間斷。而見罐底。再煉一炷香即退火。待次日盆炭冷定。用帚埽去盆灰。並將封口上去淨。開罐鐵盆內所有白霜。即謂之丹。將瓷瓶收貯待用。愈陳愈佳。其罐內原胎。研摻癬瘡神效。若恐胎結不老。罐覆盆內。一遇火煉。胎落鐵盆。便無丹降。亦為走爐。一法用鐵絲扎作三腳小架。頂爐內撐住丹胎。最為穩妥。此丹如遇癰疽發背毒。一切惡毒。用一釐許。以津唾調點毒頂上。以膏藥蓋之。次日毒根盡拔於毒頂上。頂上結成黑肉一塊。三四日即脫落。再用升藥敷此。即收功。此丹用蒸粉糕。以水少潤。共和極勻為細條。曬乾收竹筒內。各為錠子。凡毒成管。即約量管之深淺。插入錠子。上蓋膏藥。次日擠膿。如此一二次。其管即化為膿。管盡再上升藥數次。即收功。此丹比升丹功速十倍。但性最烈。點毒甚痛。法用生半夏對攙。再加冰片少許。一方加辰砂（二錢）　雄黃（二錢）　硼砂（五錢）　水銀用（一兩）。餘四味。各用一兩五錢。</p>
<p>大白降　水銀（一兩）　青鹽（二兩）　皂礬（二兩）　火硝（二兩五錢）　滷砂（三錢）　雄黃（三錢）　辰砂（三錢）　白砒（五分）　明礬（二兩）　</p>
<p>上藥共研勻。放陽城罐內。微火煨乾後。如前法降三炷香。候冷取藥不可被生人雞犬衝破。此丹凡腫毒未成名件者。用醋調點患處頭上。看毒大小。如桐子大疱起。毒即消。若已成不肯穿者。亦用此丸。將膏藥貼頭上。半日即穿。</p>
<p>小白降　水銀　火硝　生礬（各五分）　食鹽（二分）　上共研末。入傾銀罐內。放炭火上。文火煎滾。滾至邊上起焦黃色。候至滿面俱焦黃米色為度。將罐離火候冷。再用圓正擂盆一個。裹面須揀光細者。將銀罐連藥輕輕倒合在擂盆內。罐口與擂盆縫間。須用綿紙條墨水潤濕。加鹽泥封固。然後將擂盆坐於大水盆中。罐底先加文火。用扇扇之。先文後武。煆至五寸線香為度。退去炭火候冷。先埽去罐口外鹽泥。然後開罐取降於擂盆底內之藥。藥色以潔白如霜者為上。若青黃黑色。不可用。或以銀簪腳。與磨亮刀頭。略沾微唾。蘸藥在上。即刻起鏽者為佳。用時用新綿花蘸藥。敲些許於膏藥上。比升藥更要少些。貼後兩杯熱茶時。即發痛。半日即止。毒重者。每日一換膏。毒輕者。貼兩三日亦不妨。若貼大腫毒上膏。先放些麝香、阿魏。然後上此藥少許貼之。若要做咬頭膏藥代針丸。將麵糊以竹片拌和做成細條。切作芝麻粒大小。放膏心中對腫頭貼之。此藥不可沾在指頭上。沾則要疼痛發疱退皮。此藥陳久者。少痛。性和緩。卻要多用些。如第一次降完。藥色不白。可將罐內之藥刮淨。此藥無所用處。只將降於擂盆底內之藥刮出。另將水銀、火硝、生礬各五分。食鹽二分。並將擂盆內降不透之藥。與四味一併研和。從新再入銀罐。照依前法降之。此藥若一次降不如法。不妨兩次三次連降。即降至十數次方能降好。計算已有水銀五錢在內矣。每次只將銀罐刷淨。或另換新罐。每次只要用水銀、火硝、生礬各五分。食鹽二分。直降到好方止。初起煎時。須要火候得法。若火候不及。則罐中結胎尚嫩。水銀尚活。倒合轉來。非連胎墜入擂盆底內。即活水銀先流入擂盆底中。若火候太過。結胎太老。非水銀先已飛去。即有降不下之病。總以結胎不嫩不老為度。用烰炭火最得法。凡瘡毒已穿破。用水煉降藥法。新煉出白降丹研細。用元色緞五寸。將降藥篩勻緞上。卷緊以麻線捆紮極緊放瓦銚內。清水煮約一伏時內。換水三次。將緞先取起掛風處陰乾。然後打開以雞翎埽下。收貯瓷瓶用之。並不痛楚。</p>
<p>一降　水銀（六錢）　硃砂（二錢）　雄黃（二錢）　硼砂（二錢）　甘草水煮硝（一兩）　綠豆煮白砒（一錢）　青鹽（三錢）　制明礬（一兩）　食鹽（一兩）　共研末。用陽城罐裝藥在內。用火熔化結硬。再將新茶杯合在罐口上。四圍泥固。用銅杓一個。邊上畫後天八卦圖。內放水六七分。將茶杯放在水內。陽城罐底朝上。四面以瓦合好。上放梗炭。文武火煉三炷香為度。去火候冷開看。茶杯內藥。有七八錢重。刮下研末。同二降再煉。</p>
<p>二降　水銀（一錢）　硃砂（一錢）　雄黃（一錢五分）　硼砂（二錢五分）　火硝（一兩二錢）　明礬（二兩）　皂礬（二兩）　食鹽（一兩二錢）　同前煉過藥。共和為末。同前煉法。煉完再同後煉。</p>
<p>三降　硼砂（二錢）　青黛（四錢）　白砒（一錢五分）　水銀（六錢）　明礬（六錢）　同前煉過丹藥共研極細。同前丹煉三降。靈丹俱已煉成。其色雪白。勿見鐵器研細。加冰片（五釐）　蟾酥（五釐）　共研極細。瓷罐收貯。勿令出氣。凡遇痔漏癧塊。將成藥線插在毒內。治一切腫毒。及發背癰疽癧塊痔漏等毒。以去腐生新。立刻見效。</p>
<p>五色靈藥　食鹽（五錢）　黑鉛（六錢）　枯皂礬　枯白礬　水銀　火硝（各二兩）　先將鹽、鉛二味熔化。入水銀結成砂子。再入二礬、火硝同炒乾研細。入鉛、汞再研。以不見星為度。入罐內鹽泥固濟封口。打三炷香。不可太過。又及一宿。取出視之。其白如雪。約有二兩。為火候得中之靈藥。如要色紫者。加硫黃（五錢）　要黃者。加明雄黃（五錢）　要紅者。用黑鉛（九錢）　水銀（一兩）　枯白礬（二兩）　火硝（三兩）　辰砂（四錢）　明雄黃（三錢）　升煉火候。俱如前法。凡升打靈藥。硝要炒燥。礬要煆枯。一方用燒酒煮乾炒燥。方研入罐。一法凡打出靈藥。倍加石膏和勻。復入新罐內。打一炷香。用之不痛。此五色靈藥。治癰疽諸瘡已潰。余腐不盡。新肉不生。撒之最妙。</p>
<p>升打靈藥固罐法　用陽城罐。將罐熇熱。搗大蒜於罐外遍擦之。再熇再擦。如是三四次。再以姜醋入罐內蕩之煮之。以干為度。次用黃土二分、煤炭二分。以馬毛與鹽水。合之固罐。一指厚陰乾。裂縫再固。必要完固聽用。</p>
<p>升打靈藥封口法　入藥畢。蓋鐵盞。用鐵絲⿱台水畢。用石膏、無名異等分。食鹽減半。俱煆過為極細末。醋調成膏。次加炭火二三塊於盞內。外熱以筆蘸藥。周圍搽之。隨干隨搽。以口平為率。一用石膏、生白礬、食鹽等分為末。水調搽之。如前。</p>
<p>金蟾化管丸　水銀（三錢）　明雄黃（一兩）　以二斤火酒漸煮添。酒盡為度。共乳細。用紙包好。取大蝦蟆將藥包入於肚內。去腸只留肝肺。以線縫好。再用銀硝（一兩）　白礬（一兩）　研勻。入陽城罐內。加水半茶鍾。放火上熬令枯乾。罐底取放地上。再納蝦蟆於內。鐵盞蓋好。將鹽泥固濟。升文火二炷香。中火一炷香。武火一炷香。冷定開看盞上靈藥。刮下研細。用蟾酥乳化為丸。如芥子大。陰乾。凡一切諸漏有管者。雖彎曲之處。用一丸放膏藥上。對管口自入到底方回。嫩管自化。老管自退。七日見效。如未全退。再用一丸。無不除根。</p>

<h2>圍藥部</h2>
<p>離宮錠　真蟾酥（三錢）　血竭（三錢）　膽礬（三錢）　硃砂（三錢）　陳金墨（一兩）　麝香（一錢五分）　各研為細末和勻。火酒化蟾酥糊成錠。如筋粗寸長。曬乾清茶研敷。治一切無名腫毒。</p>
<p>坎宮錠　陳金墨（三錢）　熊膽（三錢）　胡連（三錢）　牛黃（三錢）　冰片（一錢）　麝香（五分）　或加木香少許。京墨（一兩）　胡連（二錢）　牛黃（五分）　冰片（七分）　麝香（五分）　共研細末。用豬膽汁。加生薑大黃。水浸取汁。釅醋水少許和成錠。冷水磨搽。治陽毒紅腫赤遊丹。</p>
<p>蟾酥錠　蟾酥二錢火酒化　金腳蜈蚣（一條）　膽礬（一錢）　乳香（一錢）　雄黃（二錢）　麝香（一錢）　沒藥（一錢）　銅青（一錢）　冰片（五分）　寒水石（二錢）　血竭（一錢）　大蝸牛（二十一個）　共制末。蝸牛搗作錠。每用米醋磨搽。或用辰砂、金箔為衣更妙。治陰症疔瘡。</p>
<p>紫金錠　當門子三錢。一方（五錢四分）　川五倍（一兩）。一方（六錢）　塊辰砂（四錢）。一方（六錢）　紅芽大戟（一兩五錢）。一方（六兩）　千金子霜（一兩）。一方（五兩）　山茨菇（二兩）。一方（六兩）　雄精（三錢）。一方（一兩）　上藥共為細末。糯米飲搗成錠。每重一錢。用冷水腐化內服外敷。能治陰陽諸症。無不見效。一方加草河車六兩。</p>
<p>驅毒散　白芨（一兩六錢）　紫花地丁（八錢）　烏骨雞骨（一兩煆）　硃砂（一錢）　雄黃末（一錢）　輕粉（一錢）　五倍子（二錢炒黃）　大黃（二錢）　牙皂（八分）　上藥共為末。以醋調敷。凡毒生於骨節之間。能使移上移下。無殘症之患。</p>
<p>銀箍散　草烏　生南星　乳香　生半夏　五倍子　沒藥　陳綠豆粉　共為末。酒調搽。能治陰症。</p>
<p>金箍散　赤小豆（一兩）　番木鱉（二兩）　白芨（五錢）　芙蓉葉（二兩）　白蘞（五錢）　生大黃（五錢）　黃柏（五錢）　共為末。蔥蜜調塗。治陽症。</p>
<p>又方　鳳仙花子　大黃　五倍子（各十兩）　人中白（一兩五錢）。如無用皮硝代　陳小粉十三兩炒黃　為末醋調。</p>
<p>鐵箍散　干芙蓉葉（五錢）　薑黃（五錢）　白芨（五錢）　五倍子（五錢）　白蘞（五錢）　生大黃（一兩）　蟹殼（五斤）　陳小粉（一兩炒黃）　共為細末　米醋和成錠。臨用醋磨搽。治一切毒未潰者。</p>
<p>白圍藥　天花粉（三兩）　生南星（四兩）　生半夏（四兩）　一法又白蘞（一兩）　白芨（一兩）　白芥子（二兩）　為細末。用酸醋調塗。治一切痰毒最效驗。</p>
<p>抑陰散　川五倍（五錢）　肉桂（三錢）　麝香（三分）　川鬱金（一錢五分）　生南星（一錢五分）　共為末。薑蔥搗汁。調敷治陽毒。</p>
<p>如意金黃散　天花粉（十兩）　川黃柏（五兩）　薑黃（五兩）　白芷（五兩）　廣陳皮（二兩）　甘草（二兩）　蒼朮（二兩）　南星（二兩）　厚朴（二兩）　石菖蒲（二兩）　川鬱金（二兩）　生半夏（二兩）　共為細末。或醋、或蜜、或水、或蔥汁水調敷。治癰疽發背。諸般疔腫。跌打損傷。濕痰流注。大頭時腫。漆瘡火丹。濕熱天疱。肌膚赤腫。乾溼腳氣。婦女乳癰。小兒丹毒。外科一切頑惡腫毒。無不應驗。</p>
<p>一筆消　雄黃（二兩）　麝香（三兩）　真藤黃（一兩）　人中白（五錢）　辰砂（二錢）　蟾酥（一兩）　白芨（二錢）　白蘞（二錢）　共為細末。用廣膠三錢。熟化和成錠。治癰疽發背。五疔毒瘡。對口搭手。諸般惡瘡。及一切無名腫毒初起者。用醋磨搽患處。立消如神。</p>
<p>陰症癰瘍圍藥　紅藥子四兩。如無用黃藥子代。白芨（一兩五錢）　黑狗下頦一個。煆存性。白蘞（一兩五錢）　豌豆粉（三錢）　冰片（三錢）　乳香（六錢去油）　硃砂（三錢）　雄黃（三錢）　各為細末。和勻醋蜜調敷。四圍用極滾熱醋蘸調。並可服。治外勢平而不起。色黑黯其痛在肉裡者。</p>
<p>如意散　生南星　生大黃　生半夏　朴硝　共為末。薑汁調治痰毒。滷水圍藥。麝香（一錢）　沒藥　雄黃　血竭（各三錢）　蟾酥（一錢）　五倍子（一兩）　麻黃（五錢）　上多用蕎麥干灰。淋濃汁七八碗。文武火煎至二三碗之數。以前藥研極細末。候冷下之。復煎二三沸。瓷罐藏之。若遇瘡毒。用新筆蘸汁周圍塗之。則一切惡瘡腫痛自消。</p>
<p>一筆消　大黃（二兩）　藤黃（一兩）　明礬（五錢）　蟾酥（五錢酒炒）　麝香（二錢）　乳香　沒藥（各二錢）　上用蝸牛搗成錠。醋磨圈圍。</p>
<p>又方　用雄黃（一兩）　膽礬（一兩）　月石（一兩）　銅青（一兩）　皮硝（一兩）　草烏（一兩）　去大黃明礬、乳香沒藥。</p>
<p>蝌蚪拔毒散　寒水石　淨皮硝　川大黃等分。研極細末。蝌蚪不拘多少。裝甏內。埋入地中三月。自化成水。每蝌蚪水一大碗。入前藥末各二兩。陰乾。再研勻收瓷罐內。用時水調敷。治一切無名大毒。火毒瘟毒神效。</p>
<p>一筆鉤　天南星（一兩）　生半夏（一兩）　白芨（一兩）　生大黃（四兩）　冰片（一錢）　共為末。用雄豬膽汁和成錠子。</p>
<p>北京鹽水錠　馬牙硝一斤　入鐵鍋內烈火燒成水。次下皂礬末（一兩）　次下黃丹（一兩）　硃砂（七錢）　雄黃（一錢）。共攪極勻。傾光平石上凝硬收用。</p>
<p>一、一切腫毒疥癬。蛇蠍蜘蛛蜈蚣咬傷。夏月毒蚊蝨咬傷。腫瘍疼痛。用醋磨或水磨。</p>
<p>一、口舌生瘡。乳蛾喉風咽痛。用一粒。口內噙化。</p>
<p>一、九種心痛。點眼角三次即愈。牙痛含於患處。</p>
<p>一、暴發風眼火眼。及老年眼沿赤爛。以滾水化入杯內。洗之皆良。</p>
<p>一、牛馬有病。以點眼角。</p>
<p>大鐵箍散　生大黃（二錢）　蒼朮（一錢）　芙蓉葉（二錢）　薑黃（二錢）　天花粉　川柏（各二錢）　白芷（一錢）　川羌活（二錢）　毛茨菇（二錢）　川烏（一錢）　乳香（一錢去油）　陳皮（一錢）　沒藥（一錢去油）　南星（一錢）　雄黃（一錢）　厚朴（一錢）　冰片（一分）　麝香（一分）　共為極細末。凡遇皮無二色者。是為陰毒。蔥汁和蜜調敷。漫腫無頭。用陳黃酒米醋和敷。紅赤腫痛發熱。用清茶調敷。</p>
<p>金不換仙方　枳殼（三錢六分）　白醜　黑醜（各一兩）　甘遂（三錢）　麝香（一錢）　甘草（五分）　共為極細末。摻少許於膏藥上貼之。治百種無名腫毒。立刻止痛。未成即消。已成即潰。</p>
<p>立消散　雄黃（一兩五錢）　炒甲片（三兩）　生軍（五兩）　芙蓉葉（五錢）　炒五倍子（五兩）　共為細末。醋調塗患處。</p>
<p>立馬消　川斑蝥（去翅足米粉炒）　全蠍尾（各十個漂淡）　蜈蚣（三條）　乳香　沒藥（各四分）　蟾酥（三分）　火酒浸化。再研成膏。用冰片（二分）　麝香（二分）　為極細末。麻黃四錢。熬膏為丸如桐子大。辰砂為衣。曬乾密貯。治發背癰疽腫毒。每用一丸。勢大者。用二三丸研細摻於膏藥上貼之。如瘡未破。以熱手摸百餘下。次日即消。如瘡已破。先以薄綿紙蓋上。再將膏藥貼之神效。</p>
<p>家秘金箍散　當門子（一兩）　大梅片（一兩）　飛黃丹（一兩）　紅銀硃（一兩）　共研極細極勻。收貯玻璃瓶中。切勿泄氣。臨用。用淨羊毛筆蘸灑膏上貼之。治一切結腫。成餅成核。即刻消散。</p>

<h2>內消部</h2>
<p>梅花點舌丹　西黃（一錢）　月石（一錢）　熊膽（三分）　血竭（一錢去油）　乳香（一錢五分去油）　沒藥（一錢五分）　珍珠（四分）　蟾酥（一錢）　葶藶（一錢）　麝香（三分）　冰片（五分）　沉香（五錢）　雄黃（一錢）　上共為細末。以人乳將酥化開和丸。再加辰砂（一錢）　金箔為衣。每重三分。或三四釐。曬三日收貯瓷瓶聽用。每臨臥時。溫酒送服一二丸。可消一切無名腫毒。疔瘡初起。一方中加白花一錢二分。</p>
<p>飛龍奪命丹　真蟾酥（一錢）　去油乳香（一錢）　銅綠（一錢）　輕粉（一錢）　膽礬（一錢）　血竭（一錢）　辰砂（一錢）　明礬（一錢）　雄黃（一錢）　冰片（三分）　麝香（三分）　共研細末。同大蝸牛二十個。搗勻和丸如綠豆大。每服七丸。或九丸。或十一丸。用蔥白三五寸。病人自嚼吐於手心。包藥在內。用溫酒和蔥送下。如人行五里汗出為度。無汗再用蔥研爛。裹藥服之。治一切疔腫惡瘡。癰疽初起時。黑陷不痛。或麻木不仁。毒氣內攻。嘔吐昏憒之症。一方蟾酥丸。加蜈蚣（兩條）　一方前方加蜈蚣（一錢）　穿山甲（一錢）　寒水石（三錢）　殭蠶（一錢）　全蠍（一錢）　角刺（三分）　紅信（二分）</p>
<p>一粒珠　金穿山甲（一隻重二十四兩。分四足。一足用米醋炙。一足用松花湯炙。一足用麻油炙。一足用真蘇合油炙黃用。）　真西黃（三錢）　鏡劈砂（四錢）　真廉珠（三錢水飛）　麝香（四錢）　大梅片（四錢）　明雄黃（四錢）　杜蟾酥（一錢二分火酒化）　</p>
<p>上藥擇吉日法制。和研極細末。以蟾酥化入再加蘇合油拌搗千遍至光亮為度。為丸每重五分。曬乾用臘殼護。耑治一切無名腫毒癰疽發背等症。每服一丸。將人乳化開。陳黃酒沖服。暖臥避風。兼治小兒驚風。每丸均分二次。用純鉤、橘紅煎湯送下。</p>
<p>五香追毒丸　老君須　母丁香（不見火）　苦丁香（即香瓜蒂）　去油乳香　去油沒藥　巴豆霜　廣木香　炒黑牛蒡子　上沉香　血竭　辰砂　蟾酥（火酒另化）　上各等分。共為細末。將所化蟾酥。加陳蜜和丸如芡實大。辰砂為衣。每服一丸或二丸。空心食前紹酒化服。瀉二三次後。用冷粥補之。毒即消。治癰疽一切無名腫毒。初起壯實者宜之。兼去疔瘡毒定痛如神。</p>
<p>寸金丹　麝香（一分）　乳香　烏金石（即石炭）　輕分　雄黃　狗寶　沒藥（各一錢）　蟾酥（二錢）　粉霜　黃蠟（各三錢）　硼砂（五錢）　鯉魚膽　狗膽（各二個陰乾）　金頭蜈蚣（七條。全用焙用）　頭生男兒乳（一合）　上為細末。以黃蠟乳汁。熬膏和丸如綠豆大。大小兒丸如芥子大。每服一丸。重者加至三丸。以白丁香七粒研爛。新汲水調送。暖蓋得汗為度。三次即愈。治極重腫毒癰疽疔瘡。四肢壯熱。沉重者。即噤口不開。撬開化三丸灌下神效。</p>
<p>皂礬丸　牙皂（三錢）。切碎炒研細末。白礬（三錢生研）　真乾蟾酥（一兩）　切片火酒化和丸如綠豆大。麝香三分和入。每服一丸。以蔥白裹藥。黃酒送服。勢重者。每日服二次。此藥每次止可服一粒。如服二粒。恐致嘔吐。慎之慎之。治大毒初起。疔瘡走黃。黑陷昏憒嘔惡之症。</p>
<p>青龍丸　番木鱉（四兩）米泔浸三日。刮去皮毛。切片曬燥。麻油炒透。炒甲片（一兩二錢）　白殭蠶（一兩二錢）。炒斷絲。共為細末。黃米飯搗和。為丸如桐子大。每服五分。量人虛實酌減。臨臥時按部位。用引經藥。煎湯送下。蓋暖睡勿冒風。如冒覺周身麻木。抽掣發抖。不必驚慌。過片刻即安。治一切疔瘡腫毒。並跌僕閃胸。傷筋攣痛。貼骨癰疽。男婦大小頸項瘰癧。及乳串結核。痰凝氣滯。硬塊成毒。小兒痘後癰疽初起者。一二服即消。已成膿者。服之自能出毒。不必咬頭開刀。誠外科第一妙方也。頭面。用羌活（五分）　川芎（五分）　煎湯送下。肩背。用角刺尖五分。兩臂。用桂枝五分。胸腹。用枳殼五分。兩肋。用柴胡五分。腰間。用杜仲五分。兩足膝。用牛膝五分。木瓜五分。咽頸。用桔梗五分。甘草五分。跌僕攣筋。用紅花五分。當歸五分。黃酒煎湯送下。</p>
<p>紫霞丹　犀黃（四分）　雄黃（二錢）　大黃（四錢）　天竺黃（四錢）　藤黃（二錢）。九曬去酸味。冰片（四分）　兒茶（二錢）　參三七（四錢）　血竭（二錢）　乳香（四錢去油）　沒藥（四錢去油）　麝香（四分）　阿魏一錢用蜜化。夏布收去渣。除乳香、沒藥、藤黃、阿魏外。余皆忌火。秤准各末和勻。再研極細。以阿魏蒸好。和蜜搗極勻為丸。每服重四分。專治癰疽發背。破傷風。疔瘡無名腫毒。跌打損傷。小兒驚風等症。用紹酒調服。忌生冷。孕婦戒投。</p>
<p>七釐散　大赤練蛇一條。燒灰存性。研極細末。勿犯鐵器。米糊為丸。如芥子大。治一切無名腫毒。諸藥不效者。每服七粒。重者加十四粒。若平陷不痛楚者。加薑黃、藤黃研細醋調搽之。即能奏效。孕婦忌投。</p>
<p>九龍丹　木香　乳香　沒藥　兒茶　血竭　去油巴豆（各等分）　共為極細末。生蜜調成一塊。瓷盒收貯。用時旋丸如豌豆大。治癰毒、魚口、便毒、橫痃。初起未成膿者。每服九丸。空心熱酒送。瀉四五次後。服薄粥一碗。其瀉即止。如腫甚者。間日再送一服。其毒自消。</p>
<p>龜蠟丹　血龜板一大個。用下半爿。烘熱。用白蠟漸漸摻上。板自炙枯。放泥地上出火氣。研細黃酒調服至醉。暖蓋取汗即愈。治一切無名腫毒。對口、發背、流注、癰疽、疔瘡等症。</p>
<p>八聖散　天蟲（二錢）　蜈蚣（八錢）　斑蝥（去翅足）　穿山甲（炒）　巴豆霜（各四錢）　乳香（一錢五分）　沒藥（一錢五分）　共為末。凡魚口、便毒重者。每服一錢。輕者每服六分。酒下二服自效。</p>
<p>五虎下西川　炙鱉甲（一兩）　蜈蚣（二十條。瓦上焙）　全蠍（一兩）　土炒天蟲（一兩）　生軍（二兩）　共為末。凡無名腫毒痰症。每服一錢。小兒每服黃酒送下。無不應效。</p>

<h2>內護部</h2>
<p>護膜蠟礬丸　白明礬（四兩。研細）　黃蠟（二兩）　辰砂（六錢。水飛）　或加蔥花四兩更炒。先將黃蠟熔化。待稍冷。入礬末、辰砂不住手攪勻。加煉白蜜七八錢和勻。眾手丸如梧子。如蠟凝不能丸。以滾水燉之。凡護膜防毒內攻。如未破即消。已破即合。每服三四十丸。白湯送下。或酒送亦可。一日之中。服一百粒方有功。始終如一。服過半斤。必萬全矣。病已愈。服之亦佳。</p>
<p>琥珀蠟礬丸　黃蠟（一兩）　明礬（一兩二錢）　雄黃（二錢二分）　琥珀（一錢）　辰砂（一錢）　一方加白蜜。先將葡萄肉十枚。同蠟打如泥。加諸藥末搗和為丸。珀末、辰砂為衣。凡護膜化毒。每服一錢。食後白湯下。</p>
<p>護心散　生綠豆衣（一兩五錢）　甘草節（一兩）　琥珀同燈心研。乳香　辰砂　雄黃（各一錢）　共為末。凡預防毒氣內陷。每服一錢。空心酒下。</p>

<h1>卷二</h1>

<h2>化毒部</h2>
<p>無敵丹　桑柴灰汁　茄杆灰汁　礦灰汁（各一斗）　三汁熬調和勻。名三仙膏。亦可點癰疽之稍輕者。再用鹼水熬膏一兩。加入後開各藥末。則成全方。每三仙丹五兩。配蟾酥（三錢五分。酒化）　明礬　火硝（各三錢）　牛黃　麝香（各一錢）　冰片　珍珠　硼砂　雄黃　輕粉　乳香（各一錢）　人乳浸銅綠　硃砂（各一錢五分）　各研極細末和勻再碾數千下。將前膏加入攪得極勻。收瓷罐內。罐須小口。以烏金紙塞口。封以黃蠟。勿令一毫泄氣。遇毒取少許。搽其頂。干則以米醋和蜜少許潤之。其血黑色。或毒水爆出。即時鬆解。切不可著好肉上。或用蕎麥麵調。若遇疔瘡加鐵鏽一分。研如飛塵和入。多搽其正頂。過宿其根爛出。內服紫金錠。若是癰疽。再服蠟礬丸。及托裡解毒之劑。此藥癰疽對口。疔瘡發背。一切無名腫毒。有奪命之功。難以盡述。</p>
<p>惡瘡錠子　白砒（一錢）　麝香（五分）　歸尾（五分）　五味（五分）　蟾酥（一錢）　草烏（一錢）　輕粉（二錢）　川烏（一錢）　月石（五分）　血竭（一錢）　全蠍（二隻）　硼砂（一錢）　銅綠（五分）　銀硃（五分）　雄黃（五分）　共為極細末。用人乳化蟾酥拌成錠子。如大麥冬樣。一分錠作兩段。治二人。將瘡用針刺破見血。納入藥粒。用紙貼上。內成膿去藥。洗淨為度。</p>
<p>萬應針頭丸　麝香（二錢）　血竭（三錢）　輕粉（三錢）　蟾酥（三錢）　硼砂（三錢）　大梅片（一錢）　金頭赤足蜈蚣（一條）　共為末煉蜜丸。凡一切癰疽。生於胸背。毒大欲死。向其頭上用針撬破去血。以藥一黍米大。放瘡口內。用紙花吐津周圍濕之。貼瘡罨定。頃刻可愈。</p>
<p>化腐紫霞膏　輕粉（三錢）　蓖麻仁（三錢研）　血竭（二錢）　巴豆霜（五錢）　金頂砒（五錢）　螺螄肉水（二錢）　潮腦（一錢）　共研勻罐貯。凡發背已成。瘀肉不腐。及不作膿者。又諸瘡內有膿。外不穿者。俱用此膏。不腐爛者自腐。不潰者自潰。其功甚於烏金膏。及碧霞錠子。臨用以麻油調搽頑硬肉上。以綿紙蓋之。或以膏藥貼之亦可。</p>
<p>元珠膏　本鱉子肉（十四個）　斑蝥（八十個）　柳枝（四十九寸）　驢蹄甲片（三錢）　草烏（一錢）　麻油（二兩）　上藥浸油內七日。用文火炸枯去渣。入巴豆仁三個煎至黑。傾於缽內研如泥。加麝香一分。攪勻。入罐內。凡腫瘍將潰。搽之膿從毛孔吸出。已開刀者。用指護送孔內。膿腐立刻能化。</p>
<p>隔皮取膿法　驢蹄皮（一兩）。炒為末。砂炒蕎麥麵（一兩）　草烏（四錢。刮去皮。研末）　食鹽（五錢）　共研細。水糊作薄餅丸。上炙微黃。再研細。以醋攤白紙上貼患處。其膿水從毛孔而出。蓋以粗紙。摻濕再換。水盡紙燥腫即消。或患毒深遠。刀難直取。並患者懼開刀。候膿熟時。用此法最宜。如不從毛竅出者。其擦藥之處。剩一洞。自為出膿。</p>

<h2>點頭部</h2>
<p>代刀丸　白丁香（一錢）　蓖麻仁（一錢）　生白砒（三分）　共研為丸如黍米大。凡一切腫毒。內腫已成。懼開刀者。用一粒放患頂。外以膏封之。次日即能破頭。</p>
<p>又方　斑蝥（二十個）　巴豆（四十粒）　共為末和丸。如胡椒大。每用一丸放患頂上膏封。</p>
<p>萬應代針膏　硼砂（一錢五分）　血竭（一錢五分）　輕粉（一錢五分）　蟾酥（五分）　連頭蜈蚣（一條炙）　麝香（一分）　冰片（少許）　雄黃（一錢）　共為末。用好蜜和成膏。凡一切惡疽生於胸背。毒大欲死者。用小針將頭撥破。以藥搽上一粒。膏封過夜。次早即破膿。</p>
<p>咬頭膏　銅青　松香　乳香　沒藥　杏仁　生木鱉粉　蓖麻仁（各等分）　巴豆（不去油加倍）　搗成膏。每兩膏內加白砒（一分）　搗勻。臨用。取綠豆大一粒。放患頂。用膏藥蓋之。潰後即揭下洗淨。換貼另藥。凡胎前產後忌用。</p>
<p>替針丸　川烏　草烏　五靈脂（各二錢）　輕粉（一分）　粉霜（一分）　斑蝥（二十個去翅足）　巴豆（二十個去皮）　上先將二烏、靈脂為末研勻。次入輕粉、粉霜研勻後。入巴豆、斑蝥。以水調和為錠子。</p>

<h2>拔毒部</h2>
<p>十面埋伏散　麝香（一錢）　蜈蚣（十條）　炙甲片（五錢）　乳香　沒藥（各六錢。去油）　蟬衣（六錢）　銀硃（四錢）　殭蠶（八錢。炒斷絲）　全蠍（五錢。漂淡）　帶子蜂房（六錢。焙燥）　一切癰毒用之。自能拔毒收功。</p>
<p>九龍丹　斑蝥（五分。去頭足糯米炒黃）　乳香　沒藥（各三分。去油）　雄黃（二分）　血竭（一分）　麝香（一分五釐）　冰片（七釐）　元胡（五釐）　元參（五釐）　共為極細末摻之。拔毒生肌化腐。</p>
<p>附吊藥　真蟾酥（火酒化）　雄黃　明礬　紫石英　硫黃各等分　共為末。用好酒調一日。次日作條。</p>
<p>八仙丹　蜈蚣（五條全用）　全蠍（五隻。全用漂淡）　阿魏（三錢）　殭蠶（二錢。炒斷絲）　炙甲片（二錢）　血餘炭（二錢）　乳香　沒藥（各二錢。去油）　血竭（二錢）　輕粉（二錢）　大梅片（三分）　兒茶（二錢）　麝香（三分。浮肉不去）　加巴豆霜（一錢）　如生肌拔毒。則以原方用。</p>
<p>八將擒王散　蜈蚣（去頭足）　炒甲片　漂全蠍　蟬衣去頭足（各四錢）　炒殭蠶　炒蛇蛻（各二錢）　生五倍子（一兩）。另研極細末。麝香（一錢）　雄黃（五錢。水飛）　共為細末。疔毒忌用。</p>
<p>太白九轉還元丹　南星　白芷　半夏　花粉　川烏（酒浸去皮）　川貝母（各三錢）　草烏（三錢去皮尖）　麝香（一錢）　山茨菇（五錢。去毛）　真磁石（五錢）　上俱生曬為末摻。勿令出氣。治一切癰毒。未成即消。已成即潰。已潰即收功。</p>
<p>八將丹　川文蛤（一兩六錢去毛）　乳香　沒藥（各三錢去油）　雄黃（三錢）　蜈蚣（七條酒洗瓦上焙）　全蠍（七個漂勿焙）　炙蟬衣（七隻）　炙甲片（七錢）　共研末摻。治一切癰疽。惟疔毒不宜用。</p>
<p>犀黃拔毒散　真正頂犀黃（五分）　明乳香（一錢）　淨沒藥（一錢）　豆瓣斑蝥（一錢）　原麝（五分）　共制細末摻。治癰疽發背。腐肉難化。勢垂危者。立刻見效。此包氏之家藏方也。</p>

<h2>去腐部</h2>
<p>黑靈丹　大巴豆（十六兩）　蓖麻子（五錢）　俱不可去殼。安石臼內捶勻。候天晴之日。將風爐放露天。上用鐵鍋以櫪炭火。用長柄剷刀炒焦黑。無白油可末為度。研極細末。凡一切頑惡毒。升丹所不能提出者。用此丹摻之神效。</p>
<p>黃靈丹　生白礬（六錢）　枯白礬（三錢）　腰黃（一錢）　共為極細末罐貯。勿使有塵雜內。凡一切毒臭腐死肉不去。摻之自能生新肉。若新肉上摻之。要片刻。一見膿水濕氣。其痛即止。如肉腐作痛。先將金花散摻好肉上。再用此丹摻腐上。自不疼痛。或用粉作條子亦可。</p>

<h2>止痛部</h2>
<p>醉仙丹　川烏　草烏　乳香　沒藥（去油）　木鱉子仁。法用豆腐（一塊）　將鱉入其中。瓦上煆至腐枯。取出去皮毛　白酒藥　鴉片（各一錢）　木香（五分）　共為細末。火酒法丸。如彈子大。每重七分。　凡癰疽瘡毒。值內托藥化毒之時。痛不可當。酒送一丸。即能止痛。</p>
<p>動刀針外敷麻藥　川烏　草烏　細辛　南星　半夏　蟾酥（各等分）　共為細末。用好酒燉熟調搽。待麻木不知痛癢時。方可下手。</p>
<p>內服大麻藥　香白芷　川芎　製半夏　木鱉肉　紫金皮　大茴香　牙皂　臺烏藥　當歸（各二兩）　木香（五分不見火）　生川烏　生草烏（各一兩）　共為末。每服一錢。好酒調下。待麻不知疼痛。方可下手。若人昏沉。用鹽水灌之。</p>

<h2>生肌收口部</h2>
<p>十寶散　白龍骨（三錢）　真象皮（三錢）　漂海螵蛸（一錢五分）　赤石脂（五錢）　乳香（二錢五分去油）　沒藥（二錢五分去油）　血竭（三錢）　兒茶（一錢五分）　麝香（二分）　冰片（二分五釐）　共研細末。用以收口生肌。</p>
<p>又方　赤石脂（一兩煆）　冰片（三錢）　煆龍骨（三錢）　血竭　兒茶（各二錢）　琥珀（一錢。燈心同研）　乳香　沒藥（各一錢去油）　真象皮（三錢）　廉珠（一錢）　</p>
<p>白雲丹　輕白爐甘石（一兩。將傾銀罐內。煆至通紅。傾好醋內淬七次為度）　輕粉（一錢）　白蠟（二錢）　冰片（一分）</p>
<p>赤云丹　輕白爐甘石（一兩）　黃連汁（煆淬七次）　大梅片（三錢）　水飛辰砂（八錢）</p>
<p>又方　木香（三錢不見火）　水飛黃丹（五錢）　枯礬（五錢）　輕粉（二錢）　共為細末。用豬膽汁拌勻曬乾。再研細摻之神效。</p>
<p>生肌散　辰砂（二錢）　血竭（二錢）　海螵蛸（三錢）　川貝（三錢）　輕粉（二錢）　冰片（五分）　龍骨（三錢）　寒水石（五錢。煆。研細末。）可代大升。</p>
<p>又方　煨嫩石膏（二兩）　飛滑石（二兩）　白龍骨（二兩）　枯礬（五錢）　海螵蛸（二兩）　鉛粉（五錢）　干胭脂（五錢）　密陀僧（五錢）　研細末用。如無膿水。摻之微作疼。</p>
<p>又方　赤石脂（六兩）　輕白爐甘石（三兩）　二味用防風、荊芥、黃芩、黃連、黃柏、連翹、銀花、羌活、甘草（等分煎濃湯。煆紅淬汁內九次）　嫩石膏（三兩。冬煨夏生為末。）　甘草（水飛浸）　白龍骨（二兩煆。用童便淬七次用）　冰片（一錢）　粉口兒茶（一兩）　輕粉（三兩）　川連（一錢五分）　共為細末。</p>
<p>又方　川文蛤（二錢炒）　乳香（去油）　沒藥（各一錢）　枯礬（五分）</p>
<p>又方　黃靈藥（四錢）　乳香　沒藥　兒茶（各二錢）　珍珠（一錢同腐制）　共為細末。</p>
<p>又方　煆龍骨　海螵蛸　乳香　沒藥　象皮（銼末或炙）　血竭　輕粉（各一錢）　赤石脂（二錢）　冰片（三分）　珍珠（六分）　同腐制。研至無聲。麝香少許。共為細末用。</p>
<p>又方　兒茶　白龍骨（各一錢）　輕粉　滑石（各五分）　冰片（五釐）　共為細末用神效。</p>
<p>八寶丹　乳香　沒藥　血竭　輕粉（各二錢）　兒茶　白龍骨　鉛粉（各一錢）　大梅片（五分）　或加白占（二錢）　赤石脂（三錢）　兒脂骨（一錢）　用之更妙。</p>
<p>生肌五寶丹　制甘石（一兩）　珍珠（五錢）　輕粉（三錢）　琥珀（二錢）　冰片（二分）</p>
<p>生肌七寶丹　沒藥　乳香（各五分）　鉛粉（三錢）　桃丹（三錢）　辰砂（三分）　六仙紅升（五分）　川貝（三錢去心）用於乳癤最妙。</p>
<p>八寶丹　人參　犀黃（各五錢）　輕粉　白龍骨（各一兩）　廉珠　真象皮（各八錢炙）　上冰片（二錢）　</p>
<p>又方　珍珠乳細　犀黃（各五錢）　象皮（銼末）　琥珀（同燈心研）　煆龍骨　輕粉（各一兩五錢）　輕白爐甘石（三兩。用童便、米醋、黃連汁煆淬各三次）　冰片（三錢）　</p>
<p>生肌定痛散　生石膏（一兩為末）　甘草（水飛）　辰砂（三錢飛）　冰片（二分）　月石（五錢）</p>
<p>一方　去辰砂。入輕粉（五錢）　共研末。用以化腐生肌定痛。</p>
<p>神效生肌散　煨石膏（四錢）　赤石脂　乳香　沒藥　輕粉　煆龍骨（各二錢）　血竭（一錢）　兒茶（一錢五分）　冰片（五分）　紅升丹（五錢）</p>
<p>神妙生肌散　乳香　沒藥（各二錢。二味燈心同研）　兒茶　血竭　海螵蛸　赤石脂（各一錢）　輕粉（三分）　龜板　鱉甲（各一錢炒）　月石（二錢）　水銀（一錢）　黑鉛（一錢）　先將鉛、水銀同煎化。另將前藥研末。入鉛汞於其中。再研極細末。凡癰疽發背。諸般瘡毒。潰爛疼痛者。摻之神效。初起者。加黃桐一錢。作癢者。加白芷一錢。</p>
<p>九一丹　紅升丹（一錢）　煨石膏（九錢）　研勻摻之。能生肌收口。然須浮肉去淨。方可用此。</p>
<p>珍珠散　又名奇效八寶丹　珍珠母即大蚌殼。須露天之左顧者半爿刮去背後黑衣。火上煆研細。入後藥研。爐甘石（三兩）　黃連（二錢煎汁煆淬七次用）　血竭（三錢）　兒茶（一兩）　煨石膏（三兩）　赤石脂（三兩煆）　陳年絲吐渣（一兩。煆存性）　大梅片（臨用時。每五錢用一分。）</p>
<p>珍珠十寶散　爐甘石　黃連　當歸（煎濃汁。煆淨九次。用淨末（八兩）　珍珠母（一錢煆淨）　琥珀（淨末七分）　龍骨（煆水飛淨四分）　血竭（二分）　赤石脂（煆水飛淨四分）　辰砂（水飛淨五分）　鐘乳石（甘草湯制一伏時。水飛淨六分）　象皮（焙乳為末五分）　冰片（每藥一錢。加入二分）　研細摻。生肌長肉。</p>
<p>生肌紅玉丹　炒黃丹（二錢）　煆龍骨（二錢）　煨石膏（三錢）　共研細摻。</p>
<p>鯽魚散　一尾。不落水去腸用之。羯羊糞傾滿魚腹為度。將炭火烘焦存性。凡背疽大潰。臟腑僅隔一膜。候膿少欲收時。為細末。大有神效。兼治一切潰瘍生肌收功。</p>
<p>又方　川連（二錢）　陀僧（五錢）　胭脂（二錢）　綠豆粉（二錢）　雄黃　輕粉（各一錢）</p>
<p>十寶丹　去油乳香粉（一錢五分）　去油沒藥（一錢五分）　血竭（一錢五分）　辰砂（一錢五分）　粉口兒茶（一錢五分）　制甘石（二兩）　赤石脂（二兩）　小梅片（一分五釐）　煨石膏（二兩）　共研極細末摻之。能生肌長肉。收功神效。</p>

<h2>去管部</h2>
<p>上品錠子　紅礬（一兩五錢）　乳香　沒藥　辰砂（飛各三錢）　牛黃（五分五釐）　硼砂（一錢四分。生熟各半）　白信（一兩。煆淨黑煙為度。）　治漏管大症。</p>
<p>中品錠子　白礬（一兩八錢五分）　沒藥　乳香（各五錢五分）　辰砂（五錢）　牛黃（四分五釐）　硼砂（一錢。生熟對品）　金信（一兩五錢。煆淨黑煙為度）　治翻花癭瘤等症。</p>
<p>下品錠子　治疔瘡發背等症。再礬（三兩二錢）　乳香（六錢）　沒藥（五錢）　辰砂（三錢飛）　牛黃（四分五釐）　硼砂（一錢。生熟各半）　白信（三兩。煆淨黑煙。半月取起可用）　上各依法制用。麵糊和勻。捻成錠子。看痔漏大小深淺插入錠。如肉內黑色。勿上生肌散。只待黑肉落盡。方可上。若瘡無頭。太乙膏一個。加用後各藥黏一粒貼之。白礬（二兩）　乳香（三錢二分）　沒藥（三錢七分）　辰砂（四分）　牛黃（五分）　薑黃（二錢五分。須酌用）　白丁香（一錢五分）　巴豆（三錢二分去淨油）　共為末。或吐沫調瘡。一日三次。瘡破插上前錠子。</p>
<p>三品一條槍　明礬（二兩）　白信（一兩五錢）　二味共研極細。入小罐內。炭火煆紅。青煙已淨。旋起白煙片時。待上下紅徹。住火取罐。傾地上。宿一夜取出。約其末一兩。配入　雄黃（二錢四分）　乳香（一錢二分）　共研極細。厚糊調稠。搓成線香式。陰乾。凡以上三品之症。遇有孔者。插入孔內。無孔者。先用針放孔竅。早晚插藥二條。插至三日後孔大。每插十餘條。插至七日。患孔藥條滿足。住後所患四邊。自盡裂開大縫。候至十四日前後。疔核瘰癧。痔漏諸管。自然落下。隨用湯洗膏貼用藥。</p>
<p>拔管方　紫硇砂（四分）　蜣螂（五分）　紅升丹（四分）　冰片（四分）　共研細末吹入。</p>
<p>消漏管方　大蜣螂（一個陰乾）　冰片（三釐）　共研細。以紙捻蘸末入孔內。漸漸生肌肉。藥自退出即愈。並治多骨疽。多骨退出即愈。</p>
<p>去瘡疽中多骨法　烏骨雞腳脛骨（一對）　白砒研細實骨肉。鹽泥固濟。火煆通紅。去泥研末摻之。或以飯丸如粟米大納入。</p>
<p>蜣龍丸　韭菜地上地龍（一斤。以酒洗去泥。瓦上炙乾為末）　蜣螂蟲（八個。炙乾為末）　刺蝟皮連刺（五錢。炙為末）　真象牙屑（一兩。另為細末）　穿山甲（一兩。麻油炒黃細末用）　上共和勻再研。煉蜜為丸如桐子大。凡一切遠年瘡毒成管。膿水時流。不收口者。大人每服八分。小兒每服五分。開水送下。服藥未完。其管自能逐節推出。以剪去敗管。藥畢管自退盡。即可收功。忌口百日。</p>
<p>八將擒王丸　帶子蜂房（三錢）　象牙屑（五錢）　殭蠶（三錢）　蟬蛻（三錢）　全蠍（一對）　木香（三錢）　乳香（三錢）　沒藥（二錢）　上共為細末。以黃佔八兩滾化熬過。入藥末攪勻。傾水中取出為丸如棗仁大。凡一切癰疽發背瘡痔成漏。每服一丸。空心滾酒送下。連服三日。待其藥從滿口透出。隔一日再服一丸。至第五日。再服一丸神效。</p>
<p>漏管內消丸　刺蝟皮（炙）　真象皮（各五錢）　甘草節（鱉血拌炒燥。一兩）　小赤豆（曬。二兩）　赤芍（炒。一兩）　松花（焙。一兩）　炙甲片（二錢）　象牙屑（曬。二兩）　黃明膠（蛤粉炒。二兩）　金銀花（炒。七錢）　共為細末。以米仁磨粉。水煎漿糊丸如桐子大。每錢半滾水送下。</p>
<p>退管神方　陳年廢琉璃底（廟內者三錢。麩炒透研細末）　辰砂（一錢。水飛另研）　人指甲（一錢。麩炒研）　蟬衣（一錢五分炒研）　去油乳香（八分）　去油沒藥（八分）　象牙末（一錢另研）　枯礬（八分研末）　共和勻。用黃佔三錢滾化。入藥攪勻。乘熱為丸。如綠豆大。無論遠近成管。初服十粒。逐日漸加一粒。加至十六粒為止。以無灰酒送下。如患上身者。加川芎（六分）　下身者。加入牛膝（六分）　遠年者。一料必愈　近年者。半服收功。忌蔥百日。</p>
<p>拔管丸　炒生地（四兩）　炒槐米（二兩）　炙蝟皮（二張）　象牙屑（四兩）　酒歸身（二兩）　炒黃耆（二兩）　廣膠（二兩。土炒成膠）　穿山甲（一兩二錢土炒）　共為末。沙糖烊為丸。如梧子大。每服三錢。晨起燈心湯下。此方驗過。年久生數管者。服兩料必愈。服藥時。須善節養。愈後撿制。好飲火酒尤宜戒之。</p>
<p>化管萬應條子　砂蝨（三分）　大升吊（七分）　共研極細末。米糕搗勻。搓條如線香式。</p>
<p>收胬黑龍丹　大熟地（切片烘乾炒枯研細一兩）　烏梅肉（三錢炒炭為末）　凡惡瘡疽毒。生於筋窠之間。擠膿太重。胬肉突出。久不收縮。此乃傷氣脈使然。不可用降蝕腐化。用此藥不過三五收功。</p>
<p>拔管神方　白信（一兩）　鵝管石（一兩）　生明白礬（一兩）　飛淨明雄黃（一兩）　薄荷水（三錢）　法先將雄黃一半。鋪底。次將四味放中。再用雄黃蓋頂。煉如升丹法。煉成後約六七錢。再加冰片（三分）　薄荷（六分）　沒藥（三錢去油。和勻）　臨用以豬棕黏白茹果成線。曬乾入納患處。每日一次。三四次後。自能拔出。再用收功神效。</p>

<h2>膏藥部</h2>
<p>三妙膏　紫荊皮（二兩）　獨活（二兩）　白芷（二兩）　赤芍（二兩）　石菖蒲（二兩）　紅花　羌活　烏梅　川黃柏　大黃　麻黃　真貝母　肉桂　細辛　黃耆　片芩　當歸　防風　半夏　連翹　桃仁　續隨子　荊芥　牙皂　柴胡　苦參　全蠍　牛膝　漢防己　真川連　天蟲　蝟皮　大戟　天花粉　良薑　鱉甲　草烏　牛蒡子（各五錢）　血餘　甲片　白附子　海風藤（各五錢）　蛇蛻（一條）　蜈蚣（三條）　共藥四十四味。咀切片。用香麻油（二百兩）　入大鍋內。浸七日夜。再入桃柳槐葉枝（各二兩）　每段一寸。慢火熬至藥黑枯。濾去渣。將鍋拭淨以密絹仍濾。入鍋務要清潔為美。再用文火熬油至滴水成珠。拱起不散。大約淨油一斤　配上好漂黃丹八兩炒。以一手持柳木棍。攪不住手。一手下丹。待勻自然成膏。入預製研細末藥。乳香　沒藥（各去油八錢）　血竭　雄黃（各五錢）　四味另研。先入攪勻。再入香珍十味。木香　沉香　降香　楓香　藿香　麝香　母丁香　真珠　冰片（各一錢）　共研極細末　徐徐添入攪勻。再入潮腦（五錢）　成膏收用。凡毒貼之。未成即消。已成即潰。已潰即斂。故名。</p>
<p>萬應清涼膏　木鱉　蓖麻子　當歸　生地　苦參　蒼耳子（各二兩）　生大黃　黃芩　黃柏　赤芍　元參　天花粉　桃仁　白芷　角刺（各一兩）　穿山甲　直殭蠶　全蠍　黃蜂房（各五錢）　甘草（八錢）　槐枝（二兩）　蝦蟆（十四隻）　用麻油（七斤）　入前藥浸。春五夏三。秋七冬十日。入鍋熬藥枯之。去渣濾淨。復入鍋內。武火熬至滴水成珠為度。秤淨油一斤。入炒黃鉛粉八兩。研細。徐徐攪入。俟白煙起。傾井水內七日。出火氣。攤貼。治外科一切大小疽毒。能提毒生肌長肉。其效如神。</p>
<p>治一切無名腫毒膏藥　川柏（三兩）　白芷（二兩四錢）　當歸（二兩四錢）　蓖麻子（一兩二錢）　去油乳香（三兩）　去油沒藥（三兩）　生地（二兩四錢）　全蠍（九十隻）　馬錢子切片（四十二個）　蟬衣（一兩八錢）　蛇蛻（六條）　男子發（一大團）　用赤芍（四斤）　另研細收膏。不老不嫩。浸水內出火氣。攤貼。無論紅腫已成未成。（七條）俱效。此方自京都得來。</p>
<p>神效千捶膏　土木鱉子（五個去殼）　白嫩松香（四兩。揀淨）　銅綠（一錢。研細）　明乳香（二錢）　沒藥（二錢）　蓖麻子肉（七錢）　巴豆肉（五粒）　白杏仁（一錢）　安石臼內。搗三十餘下即收膏。浸涼水中。臨時隨瘡大小。用手捻成薄片貼上。瘡用絹蓋之。治瘡瘍疔毒。初起即消。並治瘰癧連根拔出。大人臁瘡。小兒善貢頭俱妙。</p>
<p>會通靈應膏　元參（一兩）　馬錢子（二兩）　蓖麻子（五錢去殼）　五倍子（五錢）　杏仁（二兩）　蛇蛻（三錢）　帶子蜂房（五錢）　男子發（一團）　麻油（一斤四兩）　如法熬膏。</p>
<p>千捶綠雲膏　麻油（三兩）　以蓖麻子仁（四十九粒）　安麻油內炸枯揀去渣。用麻油。蔥制松香（八兩）　大豬膽汁（三個）　銅綠（二兩。研末）　先將松脂放銅杓內爐火上滾化。乃下麻油、銅綠、豬膽汁熬勻。搗千餘下。再烘烊傾入水。用手扯拔百餘遍。愈拔其色愈綠。貯瓦罐內蓋好聽用。以油紙攤貼瘡。能吸膿拔毒。消腫定痛。如遇善貢頭。用細布攤貼一次。其膿自能拔淨。不必再換。</p>
<p>生肌玉紅膏　當歸（二兩）　白芷（五錢）　紫草（二錢）　甘草（一兩二錢）　白占（二兩。研細）　輕粉（四錢研細）　用麻油（一斤）　將前藥浸七日。煎至藥枯濾去渣。將藥再熬至滴水成珠。下白占攪勻。次下血竭待冷。再下輕粉待成膏。蓋好。凡一切癰疽發背。對口大毒。腐去孔深。見膈膜者。此膏填塞瘡口。自能生肌長肉收口。為外科聖藥。</p>
<p>拔疔紅膏　上血標（水飛。一錢）　蓖麻子仁（二錢）　松香（五錢）　黃丹（一錢）　輕粉（五分）　共搗成膏。凡一切無名腫毒。將疔頭用銀針挑破。用膏一小團。安膏藥上。居中貼之。疔即拔出。或畏疼不挑破亦可。</p>
<p>拔疔黑膏　松香（二兩）。先用桑柴灰汁。入鍋內同煮爛取出。納冷水中。少時再同灰湯煮。煮後再納水中。至松香色如玉為度。白占（一兩。研末）　乳香（三錢。去油研末）　黃占（一兩。研末）　沒藥（三錢。去油研）　銅綠（五錢研）　真百草霜（五錢。研細。）須要野山人家將鍋底刮後專燒茅草柴取爛煤灰。麻油（六錢）　擇吉淨室修合。忌婦人雞犬及孝服人見。用桑柴火煎。先將麻油入鍋滾。次下松香末候稍滾。三下白占末候稍滾。四下黃占末候稍滾。五下乳香末候稍滾。六下沒藥末候稍滾。七下銅綠末候稍滾。八下百草霜末滾過數次。於鍋冷透。搓成條子。瓷器內蠟封口。臨用時以龍眼核大一粒。呵軟貼患處。如疔毒一帖即咬住不放。若非疔毒。則屢貼屢落。此能立刻止疔毒痛。次日即愈。貼後忌腥辣沸湯熱食豆腐生冷煎炒茄子黃瓜酒面發物蔥蒜飲酒行房。又忌冷水洗。及大麻花。已走黃者。一服必愈。真妙方也。</p>
<p>又方　松香六兩。以白布一方包浸童便中。每五六日一換。浸至一月取出。用蔥湯於石罐內。將松香煮之極透而軟。放冷水如掛粉狀。細細握捏。仍令其硬。再還原湯中煮軟。煮後再捏如前法。令其色白如粉者。用蓖麻子肉。二兩去油　千金霜。二兩去油淨　乳香　沒藥。各去油七錢　桃仁。一兩五錢去皮尖　銅青　靈磁石。各一兩五錢。火煆通紅。醋淬七次　以上各揀道地。多辦分兩。如法制好。秤准分兩。先將蓖麻子肉桃仁搗爛如泥。次將五味入搗成膏。後入松香等搗成團。盛瓷器內。上口封好放在地。每用不可見火。以津液潤軟攤藍布上貼。先將銀針挑破疔頭。患痛不挑亦可。以一丸可治二三人。</p>
<p>發背膏　去油乳香　去油沒藥　血竭　兒茶　鉛粉　黃丹。九炒九淘　紅銀硃漂（各四兩）　銅綠（三錢）　共研至無聲為度。用時隨症大小。取夾油連史紙一塊。以針多刺小孔。每張准秤藥末五錢。真麻油調攤紙上。再用油紙一塊蓋之。周圍用線縫好。貼患處。用軟絹紮緊。過三日將膏揭開。濃煎蔥湯洗淨。軟絹拭乾。將膏翻過。再用針如前刺小孔貼之。至重者用兩張。</p>
<p>鯽魚膏　大蝦蟆（七個）　活烏背鯽魚（十二兩）　麻油（二斤）　文武火熬枯去藥渣。再熬至滴水成珠離火。再入輕粉（四兩）　鉛粉（十二兩）　攪成膏收藏。臨用攤貼。</p>
<p>白膏藥　淨巴豆油（十三兩）　淨蓖麻肉（十二兩）　香油（三斤）　蝦蟆（五隻。口內各銜男子發一團）　活鯽魚（十尾）　先將巴豆蓖麻肉浸油內三日。再入蝦蟆浸一宿。臨熬入鯽魚共炸枯濾去渣。再熬至滴水成珠離火。傾淨鍋內。加鉛粉二斤半炒黃研細。乳香（五錢。研末）　攪成膏。凡諸瘡腫毒。潰破流膿。攤貼。</p>
<p>京都硇砂膏　鮮桃柳桑槐枝（各五尺）　紅山梔（八十個）　頭髮（一兩二錢）　炙甲片（六錢）　象皮（六錢）　以麻油（四斤）　炸枯去渣。再熬至滴水成珠。加入飛黃丹一斤半。攪成膏。再入真硇砂（三錢）　血竭（一錢）　兒茶（二錢）　三味另研末。共攪極勻出火氣。凡除疔瘡外。一切惡瘡癰疽發背。攤貼能去腐消堅。並諸般瘡癤痰核硬塊。其勢成者。亦能大化為小。</p>
<p>九香膏　白芨（一兩）　丁香（五錢）　白芷（一兩）　乳香　沒藥（各一兩。去油　辰砂三錢）　麝香（五分）　冰片（一錢）　為極細末。用前清涼膏油（一斤四兩）　滾化和勻。凡一切癰疽發背瘡毒。量毒大小。以包柿漆銀粉紙攤貼。未成即消。已成即潰。已潰即拔毒收功。</p>
<p>巴鯽膏　巴豆肉（五錢）　鬧羊花（二兩）　番木鱉（五錢。切碎）　川烏（五錢。切片）　草烏（五錢。切片）　蓖麻肉（三兩）　穿山甲（二兩）　商陸（一兩。切）　漏蘆（一兩）　蒼耳子（四兩）　全當歸（二兩）　元參（二兩）　白芨（五錢）　白蘞（二兩）　大黃（三兩）　黃牛爪（一兩）　兩頭尖（三兩）　豬甲爪（一兩）　蝦蟆干（二兩。掛死者）　大羊角（三隻）　大鯽魚（一對）　用麻油（五斤）　浸。春五、夏三、秋七、冬十日。候日數畢。入鍋內。桑柴火熬至藥枯。用絹濾淨渣。將油再入鍋內。慢火熬沸。漸入飛淨血丹（二十四兩）　以槐柳條。不住手攪。待滴水成珠。將鍋掇下。取水盆相穩。攪至煙淨。再入上安桂（四錢）　乳香末（四錢）　沒藥末（四錢）　輕粉末　好芸香末（各四錢）　各漸入攪勻。傾入水內。以柳棍摟成塊。再換冷水。將膏作數十團。用壇水浸埋地下退火毒。凡小癤大癰。用細紙攤貼。</p>
<p>大土膏　大黃（二兩）　香附（七錢）　生地（一兩）　蓖麻子（二兩）　木鱉子（一兩）　五倍子（七錢）　大戟（八錢）　甘遂（七錢）　芫花（七錢）　肉桂（八錢）　川連（五錢）　麻黃（八錢）　三稜（一兩）　杏仁（七錢）　蓬莪朮（八錢）　檳榔　全蠍　穿山甲　草烏　獨活　細辛　防風　厚朴　元參　天花粉　桃仁　皂角　川烏　巴豆　羌活　白芷（各八錢）　當歸（一兩五錢）　川柏（八錢）　枳實（八錢）　蛇蛻（五錢）　蜈蚣（五錢）　用真香油六斤　浸。五日熬去渣。至滴水成珠。加密陀僧（四兩）　飛黃丹（二斤四兩）　熬至不老不嫩。收貯埋地下三日出火毒。凡一切外症。並肝胃氣。隨時攤貼。治法另有引單。熬膏時。須要虔誠。切忌汙穢。及婦人雞犬之類。</p>
<p>白膏藥　爐甘石（一兩）先用黃芩、黃連、黃柏。以童便濾汁。將甘石傾銀罐內。煆通紅淬九次。水龍骨（一兩）　去油乳香　去油沒藥（各五錢）　川連（五錢）　煆龍骨（五錢）　宮粉（一兩）　麝香（五分）　冰片（一錢）　真輕粉（三錢）　黃占（三兩）　白占（一兩）　共為細末。用公豬油（四兩）　先熬去渣。入二占滾化略冷。然後入藥末攪成膏。若硬加香油些些。凡一切夏月瘡毒不收口。並傷筋。手瘡臁瘡。攤貼神效。</p>
<p>陽和解凝膏　香油（十斤。生用）　入鮮大力子根葉梗全用（三斤）　活白鳳仙梗（四兩）　同煎枯去渣。次日入當歸　肉桂　附子　桂枝　大黃　官桂　川烏　地龍　殭蠶　赤芍　白芷　白蘞　白芨（各二兩）　川芎（四錢）　防風　荊芥　木香　陳皮　香椽　川斷　五靈脂（各一兩）　候煎枯濾去渣。隔一宿油冷後。見過斤兩。每油一斤。入炒透淘丹（七兩）　攪勻以文武火熬至滴水成珠。不黏指為度。離火取乳香末二兩去油　沒藥末二兩去油　蘇合油（四兩）　麝香一兩研細。入膏內。攪勻。半月後。即可攤貼。凡一切腐爛陰疽凍瘡。貼一夜全消。潰者三張全愈。如瘧疾貼背亦妙。</p>
<p>烏龍膏　當歸　白芨　連翹　蟬衣　大紅（各二兩）　羌活　獨活　川烏　草烏（各一兩）　細生地　血餘　大黃　淨銀花　番木鱉（各四兩）　麻黃（一兩五錢）　澤蘭（五錢）　全蠍（二兩）　炒甲片（二兩）　蝦蟆（五十隻）　瞎地鱉蛇（兩條）　大蜈蚣（百條）三毒俱要活　麻油（五斤）　桐油（八兩）　桃、柳、桑枝（各三十段。每長三寸）　姜（八兩）　蔥（八兩）　法先將枝熬枯取出。令丐者將瞎地鱉蛇。活放入鍋。急將鍋蓋撳住。至蛇不動時。再入蝦蟆。後將前藥穿山甲蜈蚣全蠍等熬至藥枯黑濾去渣。將鍋抹淨。再以密絹濾油入鍋。用文武火熬至滴水成珠離火。再入上好洋丹三斤。一手下丹。一手揚硬木棍。不住手攪勻成膏。再入乳香　沒藥（各三錢去油）　麝香　冰片（各五錢）　四味預另研和勻。徐徐摻入。攪極勻成膏。收貯出火毒。凡癰疽發背。對口搭手。一切無名腫毒。惡瘡。貼之未成即消。已成即潰。可以不假升丹之力。而能去腐止痛。拔毒收功。</p>
<p>不二膏　金石斛（十六兩。去根）　乳香（四兩八錢。去油）　川貝（十六兩。去心）　沒藥（四兩八錢。去油）　明天麻（六兩八錢）　粉草（六兩四錢）　巴豆肉（五兩四錢。去油）　用大麻油（十二斤）　浸數日。煎時下以活雄鯽魚（兩尾）　煎枯去渣存油。另用鉛粉炒黃研細（二斤）　篩下收膏。凡痰症癧串乳癤。一切無名腫毒。貼之神效。如乳癤未潰者。少加潮腦於膏上。</p>
<p>仙授神效藥紙　端午蘄艾（四五斤）。煎濃汁去渣。入粒子紅花（四兩）　煎一炷香。再入去油乳香（去油）　沒藥（各八兩。研細末）　煎一炷香。再入真象皮末（四兩）　煎一炷香。加入牛皮膠二斤　煎至膠化汁黏為度。用羊毫排筆蘸藥汁。搽刷大紅紙上陰乾。凡狗咬蟲蟊蛇傷。並跌打破皮。及一切爛膀癤。用津唾潤軟貼之。速能奏效。真神方也。</p>
<p>巴豆油膏　巴豆（三兩）　用麻油煎片時。勿令枯。再用綿料紙滾盡外面油。以擂盆打自然油。用夏布絞出。加入輕粉（三分）　拌勻瓷瓶收貯。勿令出氣。凡發背癰疽疔瘡等症。看患大小。以油照樣塗抹膏藥上貼之。日換三次。</p>
<p>加味太乙膏　肉桂　白芷　當歸　元參　赤芍　大黃（各二兩）　土木鱉子（二兩）　血餘（一兩）　真阿魏（二錢）切片滾化。去油乳香末　沒藥末（各五錢）　槐枝　柳枝（各百段）　東丹（四兩）　真麻油（十斤）　如法熬煉後。加輕粉（四錢。研細）　收膏。凡癰疽發背。一切惡瘡濕痰流注。筋骨疼痛。跌僕損傷。遺精白帶等症。貼之神效。</p>
<p>簡易玉紅膏　真香油（二十兩。火上熬滾）　下淨頭髮（五錢）。渣令淨。雞子（十個）。打破黃白攪勻。徐入油內。熬枯去渣。下黃占（五兩）　化開離火。再入飛丹（五兩）　攪勻之。用能生肌收功。止痛拔毒。</p>
<p>爛腿夾紙膏　梅片（四分）　煆甘石（一兩二錢）　輕粉（五錢）　白占（三兩五錢）　菜油（一斤）。夏天用　先將菜油煎滾。再入白占化開。再將藥三味同煎。</p>

<h1>卷三</h1>

<h2>疔瘡部</h2>
<p>立馬回疔丹　金腳信（五分）　蟾酥　血竭　辰砂　沒藥（各五分）　輕粉　冰片　麝香（各二分半）　共為極細末。用草烏頭煎汁和勻作細條。能治一切疔瘡疔毒。走黃險症。</p>
<p>又方。去血竭、沒藥、冰片。加硼砂、白丁香、蜈蚣、乳香末、雄黃末。</p>
<p>拔疔毒方　硇砂　白礬　硃砂　食鹽（各三錢）　擇丁日午時。先將礬、鹽二味。放鐵鏽刀頭上煆干。共研極細。罐貯聽用。</p>
<p>散疔丸　蟾酥　明礬（各三錢）　殭蠶　辰砂（各一錢半）　牛黃　冰片（各一錢）　麝香（七分）　共為極細末。用煉白黃占。滾化稍冷定。入前藥末。和丸如麻子大。每服七分　蔥頭白酒送下。取微汗為度。</p>
<p>拔疔丹　蜣螂（一個去頭翅）　硇砂（五分）　白信（五分）　共搗為丸如椒子大。先以三稜針刺瘡約深幾許。將此丹納入。以頂針捺下。須臾大痛。皆變黃水而出。然後以野菊花。不拘根葉搗汁一盞。和酒服之。連進三服。盡醉為度。再以人中黃為丸。日日服。用好酒送下全愈。</p>
<p>疔瘡走黃丸　雄黃　生軍　巴豆肉（去心皮。各等分）　共搗如泥。以飛面陳醋煮糊為丸。如鳳仙子大。重者每服二十三丸。輕者每服二十一丸。放舌上。熱水服送下。服後打噎為愈。如瀉更妙。三五次後。米湯水下止之。如不省人事。以二十三丸。水化灌之。此方去雄黃。加川鬱金少許。治纏喉急痹。並濕痰流注。楊梅初起。</p>
<p>疔毒秘丸　人指甲（不拘多少炒黃研細）　麝香（一分）　便壺底（一匙）共研勻。和丸如米大。</p>
<p>又方　加耳垢、齒垢、腳爪更妙。</p>
<p>保生錠子　巴豆肉（四十九粒。連殼文武火炒研）　硼砂（二錢）　輕粉（半大匣）　金頂砒（二錢）　雄黃（二錢）　麝香（一錢）　共為極細末。用黃占（五錢）　熔開。將藥和成錠子。冷水浸少時取出。旋丸捏作餅子。如錢眼大。將瘡頭撥開。安一餅子頂上膏蓋。能治疔瘡背疽瘰癧。一切惡瘡。</p>
<p>回疔散　土蜂窠（帶子。一兩）　蛇蛻（一條）　泥固火煆存性。研極細末。能治走黃危症。白湯送服二錢。或酒送亦可。少刻大痛。痛則許救。毒化黃水。痛止令活。</p>
<p>五香散　丁香（四分）　木香　乳香　沉香（各四分）　麝香（五釐）　腰黃（六分）　共研。好醋調。須於端午日午時合之。或天德吉日亦可。用針挑破瘡頭將醋一點。用藥少許。安膏藥上貼之。能治疔瘡赤黃危急。二三日即愈。</p>
<p>人龍散　蛔蟲（熯燥。一錢）　如無用五穀蟲代。白礬（三分）　蟾酥（三分）火酒化。共調勻搽之。治翻唇疔毒。少刻疔破。流毒水即愈。</p>
<p>拔疔散　硇砂　白丁香　輕粉　蜈蚣（各一錢）　全蠍　麝香（各二錢）　金頂砒（六分）　共為極細末。取蟾酥一錢火酒化。同搗和丸。如芥子大。帶長。以便插入疔孔。</p>
<p>又方　麝香　血竭　乳香　沒藥　靈磁石　冰片　蒼耳子蟲　瓦上炙淨油。各等分。研細末貼。</p>
<p>急治疔瘡神效方　乳香　沒藥（各六分）　赤芍（二錢）　元參（一錢）　冰片　麝香（各六分）　龍虎鬥（五錢。即青小蛇。與壁虎。鬥死者。）　如無以斑蝥（六錢）　糯米同炒黃去米研。全蠍（六個。去頭足）　立馬回疔丹代之。共研極細末。收貯勿泄氣。臨用摻膏藥上貼之。自能穿破。候擠出血根即愈。真神方也。</p>

<h2>喉症部</h2>
<p>金余散　此方凌府備用。照分不可增減。人指甲（五分。煆）　鵝管石（三分。煆）　真腰黃（二分）　硼砂（三分。漂）　大梅片（一分）　殭蠶（二分。炒斷絲）　共研至無聲為度。吹之能治爛喉痧。及緊喉風。</p>
<p>冰硼散　龍腦、薄荷（一錢。烘燥為末）　硼砂（一錢。漂）　人中白（八分）　川連（生末。八分）　青黛（五分）　元明粉（五分）　九制陳膽星（五分）　山豆根（八分）　大梅片（二分）　共研極細末吹之。能治一切咽喉各症。</p>
<p>冰硼散金鑰匙方　火硝（一錢五分）　白月石（五分）　冰片（三釐）　研細吹之。能治咽喉諸症。雙單乳蛾。</p>
<p>又方　冰片（五分）　月石（五錢）　元明粉（五錢）　辰砂（六分）</p>
<p>七寶散　西牛黃（五分）　真廉珠（三錢）　大梅片（二分）　真象牙屑（三錢。焙黃）　淨真青黛（六錢）　人指甲（五分。男用女。女用男）　壁喜窠（四五個。多多益善。板上不用）　共乳無聲為度。吹之。能治喉痧。一切喉風急症。</p>
<p>珠黃散　珍珠　犀牛黃（各一分）　青魚膽（一錢。真者陰乾）　大冰片　麝香（各一分）　共研無聲。不可泄氣。吹之能治咽喉十八症。</p>
<p>吹喉散　青黛　龍腦薄荷（各八分）　飛淨雄黃（三分）　粉口兒茶（五分）　大梅片（一分）　月石（三分）　珍珠（三分）　犀黃（一分五釐）　研極細末。罐貯勿泄氣。吹之能治咽喉十八症。</p>
<p>吹喉散　珍珠末（二錢）　青黛（三錢）　犀黃（一錢）　月石（三錢）　麝香（二分五釐）　兒茶（二錢）　梅片（三錢）　血竭（三錢）　熊膽（三錢）　山豆根（八錢）　去油乳香（三錢）　沒藥（三錢）　共為細末吹。</p>
<p>小清涼散　犀黃（四分）　粉口兒茶（一錢）　龍腦薄荷尖（四分）　青黛（五錢）　月石（二錢）　元明粉（一錢）　人中白（三錢。煆）　生珠（一錢。乳細）　大梅片（一錢）　共為極細末吹之。能治咽喉十八症。</p>
<p>清涼散　宋半夏末（一錢）　龍腦薄荷尖末（一錢）　桔梗末（一錢）　生大黃末（一錢）　漂芒硝（一錢）　漂月石（一錢）　珠母粉（二錢）　青黛（一錢）　冰片（三分）　雄精　炒天蟲末　射干未（各一錢）　山豆根末（一錢）　元參末（一錢）　粉草末（一錢）　枯礬（一錢）　青果核（十個。煆存性）　威靈仙末（一錢）　九制膽星（一錢）　共研勻吹之。能治咽喉十八症。</p>
<p>寶珠丹　白硼砂（二錢）　川連（一錢二分）　番木鱉（去殼。麻油炸松）　黃柏　青黛（水飛）　薄荷尖　水飛雄黃　人中白（煆）　兒茶　膽礬　血竭　冰片（各五分）　燈心灰（三分）　共為細末。收貯勿泄氣。吹之能治咽喉及口疳。</p>
<p>人中白散　此方凌府備用。應驗如神。真青黛　月石（各一錢）　龍腦薄荷末（五分）　人中白（一錢）　梅片（二分）　粉口兒茶（一錢）　元明粉（五分）　馬屁勃（五分）　研吹能治咽喉口舌諸症。或加犀黃（三分）　珍珠（五分）　其效更速。</p>
<p>咽喉急症異功散　斑蝥去翅足。同米炒黃去米。取淨末（四錢）　血竭（六分）　沒藥（六分）　全蠍　元參（各六分）　麝香（三分）　冰片（三分）　共為細末。收貯勿令出氣。不論爛喉痧、喉風、喉痹、雙單乳蛾。用膏藥一張。取藥如黃豆大。貼項間。左貼左。右貼右。中貼中。至三四時即起疱。用針挑破即愈。險症起疱更速也。</p>
<p>玉鑰匙　月片（五錢）　牙硝（一兩五錢）　炒天蟲（一錢）　冰片（三分）　共為末吹之。能治風熱喉痹。及纏喉風症。</p>
<p>紫袍散　真石青　青黛　辰砂　月石（各一兩）　膽礬煆　人中白　元明粉（各五錢）　山豆根（二錢）　共為末。能治咽喉十八症。</p>
<p>冰梅丸　南星生用（二十五個。切片子）　鮮大半夏（十五個。切片）　皂角去弦（四兩）　白礬　食鹽　防風　朴硝（各四兩）　桔梗（二兩）　大半熟青梅（百個）。先將硝、鹽水。浸一周時。然後將各藥研碎入水拌。再將梅子置水中。其水過梅子為度。浸七日取出曬乾。再入水中浸透。再曬乾。如是以水乾為度。收貯瓷器中。起霜為妙。每含口中。咽其汁而痰自出。能治咽喉十八症。一梅可治三人。不可輕棄。</p>
<p>霹靂錠　牙皂（一百四十個。火煨）　延胡索（二兩。生曬研）　飛青黛（六分）　麝香（一錢）　共為細末。水和成錠。每重二三分。日乾收貯。勿令泄氣。不論喉風喉痹風。雙單乳蛾。斑痧。小兒驚風諸險症。立即奏效。如遇牙關緊閉。即從鼻孔灌入。藥下即開。每服一錠。重者加服。小錠磨汁沖服。真神方也。</p>
<p>仙露梅　大青梅子（三斤）　青鹽（四兩）　食鹽（二兩）　活蝸牛（四十個。杵爛）　共拌勻隔一夜。以後日曬夜收。鹽盡為度。瓷器收貯。每取肉少許含咽。能治咽喉大症。垂危者立愈。</p>
<p>喉風吊痰方　紫菀　牙硝　等分為末含之。</p>
<p>又方　用七葉一枝梅。陰乾研細吹。如新鮮搗乾用根磨汁塗。能消無名腫毒。</p>
<p>喉癬吹藥方　哺胎雞蛋殼（一錢。連衣燒灰存性）　兒茶（五分）　橄欖核（五分）　犀牛黃（五分）　廉珠（五分）　人乳粉（五分）。銀瓢制。明雄黃（五分）　真梅片（三分）　樟冰片不可誤用。切囑。共研極細末吹患處。</p>

<h2>諸瘡部</h2>
<p>一抹光　上白豬板油（一斤。去膜）　麻黃（四兩。去根節）　木鱉肉（四個）　全斑蝥（四隻）　明礬（三錢）　大楓子肉（四十個）　先將豬油放瓦罐內。文武火熔化。宜先入水半杯於罐中。恐罐燒破。以夏布作袋。將麻黃袋於其中。以線扎口。放油內。先要蘆根數條放罐底。煎半枝香為度。取出。再將斑蝥木鱉袋入原袋中扎口。仍煎半枝香取出瀝乾。將大楓子敲碎同明礬入油內略煎。掇放地上一夜。取油搽擦。</p>
<p>又方　麻黃（三兩。去根）　小磨麻油（二兩）　同入銅鍋內熬黑撈去渣。將油瀝清後。入鍋內熬熱。投入白蠟（二兩。研末）　黃蠟（二兩。切碎）　攪勻離火。再入研細硫黃（一兩二錢）　炒花椒（六錢）　生明礬（六錢）　枯白礬（八錢）　炒甘草（四錢）　調成膏。隔宿取出搽擦。</p>
<p>又方　熟豬油（一碗）　麻油（一兩）　川椒（二錢）　同熬去渣。再投研細之硫黃（五錢）　樟腦（三錢）　血竭（三錢）　輕粉（一錢）　明礬（二錢）　攪成膏擦。</p>
<p>膿窠癢瘡方　枯礬（一兩）　川椒（三錢）　硫黃（三錢）　豬毛灰（二錢）　共研細末。豬油調搽。一方加丁香一錢。</p>
<p>又方　大楓肉（五錢）　油核桃肉（五錢）　信（五分）　水銀（一錢）　桕油燭三文一枝　先將楓、桃二肉。搗如泥。次入水銀、燭。研至不見星。再入信末和勻。分作六丸。每日臥時用一丸。將絹包裹在心窩擂烊為度。手不可摸穢物。擂至五日。停一日。至第七日再擂藥一次。次早胸前必發細瘰。以手摩之微痛。當日即愈。甚者用一料。七日全愈。永不再發。</p>
<p>又方　煙膠　蛇床子　血竭　黃丹　輕粉　大楓子　硫黃　樟腦　水銀　如膿窠瘡不用。蜈蚣。</p>
<p>一切瘡疥方　樟腦（一錢）　蜈蚣（兩條）　冰片（五分）　大楓肉（二錢）　豬板油（一兩）　白礬（二錢）　雄黃（二錢）　白砒（二錢）　共搗勻搽。</p>
<p>陸定圃先生方　廚房倒掛灰塵（三錢。煆伏地氣）　松香　茴香　花椒　枯礬　煆硫黃　癲蝦蟆　蒼朮　白芷　硃砂（各一錢）　共研細末。用雞子一個。中挖小孔。灌藥其中。紙封口。置幽火中燉熟。輕去其殼存衣。再用生豬油和藥搗爛。葛布包。時擦癢處。其效如神。</p>
<p>疥瘡剪草散　蛇床子（三錢）　寒水石（二前）　蕪荑（二錢）　剪草（一錢）　吳茱萸　枯礬　黃柏（各一錢）　蒼朮（五分）　厚朴（五分）　明雄黃（五分）　輕粉（一錢）　共為末。香油調敷。專治癬疥等症。</p>
<p>一掃光　輕粉（五錢）　樟腦（五錢）　大楓肉（一錢三分）　雄黃（一錢三分）　蛇床子（二錢五分）　苦參（二錢五分）　蕪荑（二錢五分）　硫黃（一錢三分）　枯礬（三錢）　川椒（一錢三分）　共為細末。豬油調搽。</p>
<p>又方　胡椒（一錢）　雄黃（二錢）　枯礬（二錢）　生礬（一錢）　硫黃（二錢）　樟腦（一錢）　共為末。用大楓子油。或豬板油調搽。能治痛癢膿窠肥瘡。</p>
<p>又方　苦參（一兩六錢）　雄黃末（一兩六錢）　煙膠（三兩）　枯礬　木鱉子　川椒　大楓子　蛇床子　樟腦　硫黃　明礬　水銀　輕粉（各二兩）　白信（五錢）　熱豬油調搽。能治一切多癢少疼。乾溼諸瘡。</p>
<p>又方　水銀　輕粉　潮腦（各一錢）　大楓子肉（十個）　杏仁（一粒去皮尖）　蛇床子（一錢）　共研末。用桕燭油調勻搽擦。乾疥腫癢神效。</p>
<p>又方　白胡椒殼　枯礬　豬油同搗擦。</p>
<p>又方　大楓油　水銀　明礬　燭油共搗勻搽。名殺癢散。</p>
<p>又方　用白茅藤汁。擦之。</p>
<p>又方　鍾莧菜。煎湯浴之。</p>
<p>又方　山芥菜。煎湯浴之。</p>
<p>又方　用千里馬更妙。</p>
<p>又方　雞子黃（七個）　人發（一團）　熬油調赤石脂末搽之。</p>
<p>三仙丹　雄黃（一錢）　胡椒（八分）　硫黃（一錢）　共研細末。香油調過一夜。取油調擦。能治膿窠瘡疥。</p>
<p>又方　加升底。名四仙丹。治同。</p>
<p>疥瘡搽藥方　白薇（三錢）　白芷（二錢）　炒花椒（二錢）　細茶葉（二錢）　寒水石（二錢）　大黃（五錢）　明礬（五錢）　蛇床子（一錢）　雄黃（一錢）　百部（二錢）　潮腦（一錢）　共為細末。用生臘豬油。和勻搗爛擦。</p>
<p>仙拈散　寒水石（三兩）　飛滑石（三兩。二味同研）　蛇床子（四兩）　炙鱉甲（五兩）　地膚子（四兩）　東白薇（四兩）　香白芷（三兩）　大黃（五兩）　白蘚皮（三錢）　百部（三兩）　樟腦（二兩）　研極細末。麻油調搽。能治男女遠年風濕。皮瘡。寒濕浸淫。流水發癢。搔之疼痛。兩腿肌膚黑腫。似潰非潰。時或烘熱麻木等症。</p>
<p>膿窠瘡方　黃柏片（二錢）　硫黃（一錢五分）　雄黃　煨石膏　海螵蛸（各二錢）　輕粉（五分）　共為細末。麻油調搽。</p>
<p>膿窠瘡疥　蜈蚣　全蠍　雄黃　明礬　綠柳樹根　真潮腦　白砒　花椒　豬油　共搗勻以火紙捲成筒。燒取油。搽之神效。</p>
<p>癢瘡初起方　五倍子大者（一斤。逐個鑽一小孔）　綠礬（不拘多少。裝五倍子滿為度）　二味用粗紙包好。火灰中煨存性研細。每藥（二兩）　配入大楓子肉（一兩）　小升底（一兩）　共研極細　以豬板油搗擦。或用麻油亦可。</p>
<p>瘡疥方　大楓子肉（三錢）　蛇床子（一錢）　花椒（一錢）　雄黃（三錢）　樟腦（一分）　硫黃（五錢）　明礬（一錢）　水銀（四錢）　醃豬油（七錢）　研和搽之。</p>
<p>卷瘡散　松香（一錢）　水銀（二錢）　硫黃（二錢）　枯礬（二錢）　樟腦（一錢）　松香水銀先研。再同餘三味。用麻油和成丸。每取此丸。在脈上㨰揩。凡一切痛癢諸瘡。自能痊愈。</p>
<p>又方　用大楓子油（二兩）　蛇床子（二兩）　淡底　川椒　雄黃　枯礬　樟腦（各一兩）　狗油搗成丸。</p>
<p>一切瘡疥膿窠痛癢諸瘡方　大赤練蛇頭（一個。瓦上煆存性）　蜈蚣（三條）　枯礬（一錢五分）　砒（一錢）　大楓子（十個）　川椒（一錢五分）　雄黃（一錢五分）　白蠟（一錢）以上先研細和勻。醃豬油三兩。肚上全網油二張。燭油不拘多少。法用銀封紙一張。將藥末同醃豬油燭油共搗勻在內。再將豬網油包在外。如作筒式。鐵箝夾好。火上燒著。下置瓷瓶。承其油待凝取擦。</p>
<p>又方　蜈蚣（二十條）　全蠍（十個）　大楓子（七個）　蛇床子（五個）　輕粉（一錢）　水銀（一錢）　斑蝥（五個）　麻黃（二錢）　雄黃（三錢）　明礬（二錢）　花椒（一錢）　茶葉（一撮）　共研極細末。生豬油調擦。</p>
<p>癢瘡神墨　土硫黃（一斤）　東丹　水銀　白信　白礬（各一兩）　共為末。鍋內同熔化勻。傾淨青石上。結成罐片。香油磨搽。揚州妙積寺僧。做成錠如鼠屎。計重一錢。每價紋銀五分。即此方也。</p>
<p>一上散　蛇床子（一兩。炒）　貫眾（一兩）　白膠香（一兩）　寒水石（一兩）　枯礬（五錢）　川黃連（五錢）　雄黃（三錢五分）　硫黃（三錢）　吳茱萸（三錢）　斑蝥（十四個去足翅）　共為末。臘豬油。或香油調擦。先以蒼耳煎湯洗去痂。掌中擦藥令熱。鼻中嗅二三次。擦之能治疥癬痛癢瘡。</p>
<p>賽金黃　硫黃（四兩五錢）　白砒（一兩）　火硝（二兩）　明礬（五錢）　雄黃（一錢五分）　樟腦（一錢五分）　共研為細末　入銅杓內慢火熔化攪勻。以醋噴地。然後傾藥於地。如澆湯狀。結成一片收貯。膿窠癢痛瘡。用香油或豬油磨搽。癬瘡先以土大黃打爛擦破。用火酒搽擦。能效。</p>
<p>水銀膏　大楓子肉（一兩）　杏仁（一兩去尖皮）　輕粉（二錢）　水銀（二錢）　枯礬（五錢）　共為末。用桕油（三兩）　調搽。凡芥癬爛風等瘡。三日即愈。如加雄黃更妙。</p>
<p>一擦無蹤　上血竭（一錢）　硫黃（五分）　腰黃（五分）　明礬（五分）　共為細末。用青布卷藥作筒。浸真菜油內令透。箝火上燒著。瓷盆盛油待凝取擦。能治疥癬肥瘡。</p>
<p>合掌散　硫黃（一兩）　鐵鏽（一錢）　紅砒（六分）　共研極細如面。取蔥汁調和之。搽入大碗內。勿使厚薄。以碗覆瓦上為度。取艾置碗下熏藥至干。敲碗內與碗同聲為度。取藥研細。能治癩疥陰囊癢。藥一錢。敷數次全愈。</p>
<p>椒礬散　白占（一錢）　桕油燭（一對）　明礬（一錢）　川椒（一錢）　水銀（一錢）　共研搽擦。能治諸瘡。</p>
<p>掃盡曹家百萬兵　大楓子肉（二兩）　枯礬（四兩）　樟腦（三錢）　蛇蛻五分燒存性　蜂房五個燒存性　共為末。入桕油（四兩）　水銀（五錢）　同搗成膏。能治膿窠黃水癢痛疥癬諸瘡。</p>
<p>疥靈丹　硫黃　水銀（各一錢）　油核桃肉（一兩）　生豬板油（一兩）　共搗如泥。聞臭及擦患處。能治疥瘡。</p>
<p>二妙丹　吳茱萸（焙）　硫黃（等分）　研末。凡膿疥間雜者。人手心合掌摩擦。每日二次。三四日全愈。</p>
<p>五虎下西川　大楓肉末　蛇床子末（各五錢）　枯礬末（一錢）　水銀（二錢）　白鍋（一錢）　先將鍋化開。次入水銀。再入三味。柏油或桕油。搗極勻搽瘡宜幹些。臘豬油搗亦可。能治血風癬蟲。坐板疥癩諸瘡。</p>
<p>不傳妙方　綠柳樹根皮　川椒　二味等分炒燥。取淨末（四兩）　枯礬（一兩）　全蠍（五隻。焙）　共為細末。豬板油調搽。</p>
<p>松黃散　專治腿上濕瘡　雄黃（六錢）　川柏（一兩五錢）　炒蛇床子（一兩）　炒川椒　輕粉　水銀（各二錢共末）　密陀僧（四兩）　硫黃（三錢）　明礬（一錢二分）　煙膠（九錢）　松香（一兩三錢）研末。法用蔥三兩搗汁拌。熬烊入陰水內取起。再拌入水取起。三次為度。共研極細。專治腿上濕瘡。紅紫流水奇癢。久不得愈。並治一切疥癬諸瘡。濕瘡用桐油調敷。諸瘡用木鱉子煎菜油調搽。如膿窠瘡。方中去水銀。</p>
<p>又方　黃丹（一兩。水飛炒紫）　鉛粉（一兩）　白龍骨（一兩。煆）　松香（一兩二錢）　如前法制。共為細末。麻油調敷。專治肥瘡生髮中　黃水瘡生周身　坐板瘡生臀上等症。</p>
<p>二妙散　茅山蒼朮（一斤）　川黃柏（一斤）　共炒存性研末。麻油調。治濕風爛瘡。</p>
<p>清涼散　輕粉　杭粉　蛤粉（各一錢）　青黛（五分）　煨石膏（三錢）　六一散（三錢）　共研細末。天疱瘡。用絲瓜汁調搽。或葉亦可。發火丹。用火丹草搗汁調搽。余濕火瘡等。俱用麻油調搽。</p>
<p>附慢驚吊心窩法　胡椒（七粒）　生梔子（七個）　蔥白頭（七個）　白散面（一撮）　上各研和勻。用雞蛋白（半個）調攤青布上。貼小孩心窩。日夜取去。有青布黑色即愈。如不愈。再照前法貼之。</p>

<h1>卷四</h1>

<h2>臁瘡部</h2>
<p>夾紙膏　冰片（二分）　麝香（一分）　銅綠（五分）　輕粉（五分）　水銀（二分）　共研至不見水銀星為度。再用黃占（五錢）　雄黃豬板油（一兩）　共熬勻。入前藥搗成膏。隔紙攤貼好。多刺針孔貼之。</p>
<p>又方　龍骨（四錢）　銅青（八錢）　制甘石（六錢。黃連汁淬）　黃柏（六錢）　制茅朮（六錢）　左牡蠣（二兩。）煆　鉛粉（八錢）　黃丹（八錢）　冰片（二分）　生豬板油搗成膏。</p>
<p>又方　龍骨（五錢）　沒藥（二錢去油）　明礬（一錢）　象皮（河泥炒）如無可不用。冰片（一錢）　石膏（五錢。男人不用）　制甘石（三錢）　共為細末　用豬油熬熱搗成膏。隔紙攤貼。用布綁緊。</p>
<p>又方　去油乳香（三錢）　銅青（八錢）　冰片（一分）　黃占（三錢）　白占（三錢）　各為細末。先將菜油（四兩）　雞蛋四枚　同熬枯去渣。將二占熔入。次入乳青二味。後入冰片傾候冷　攪成膏。罐貯勿令泄氣。隔紙攤貼。膏藥之外。須綿花裹腳布包好。亦不可泄氣。兩周時一換。如不收口。用生肌散摻之。凡一切遠年近時爛腿。十日之內。包好。永不再發。</p>
<p>又方　雞子黃（二十個）。同男子發熬取油。約半杯。麻油一酒杯同發熬。白占　黃占（各一兩五錢）　血餘炭（一錢。為末）　輕粉（一錢。為末）　先將麻油熬清。投入黃、白二占離火。攪不住手。加入雞子油再攪。待稍冷。下餘三味和成膏。</p>
<p>又方　桐油（二兩）　白占（四兩）　兒茶　輕粉　松香（各二錢）　銅青（一錢）　冰片（三分）　先將桐油白占略熬。不可太老。再下余藥調成膏。舊傘紙做夾紙膏貼。多刺針孔。三日一換。須先用當歸、蒼朮煎湯洗淨患處。然後貼膏。所貼過之膏。不可棄露天。</p>
<p>又方　海螵蛸　頭髮灰　水龍骨。即舊船底石灰　輕粉等分　桐油調做夾紙膏貼之。</p>
<p>又方　兒茶　黃丹　胡粉　水龍骨　粉霜　龍骨　白蠟　黃柏　豬膽汁炙　共為末。豬油搗成膏。</p>
<p>隔紙膏　明礬　胡椒　川椒　皮硝　准鹽磚用火煆透　白占等分　共為細末。用青油燭調油紙上貼之。須令忍痛。</p>
<p>又方　先將麻油（三兩）　煉穿山甲（一錢煆末）　再下白占（五錢五分）　化勻　又下煆陀僧（末五分）　飛黃丹（一錢）。和勻取起。臨用以油紙攤上。夾紙一層。多刺針孔。先用楝樹根煎湯洗淨患處。然後貼上。外用薄絹一層紮緊。十日即愈。如爛腳亦可將前法洗淨。貼之數日即愈。</p>
<p>又方　龜板炙研　醋煆爐甘石（各三錢）　輕粉（二錢）　冰片（三分）　共研細末　用麻油（半酒杯）　銅杓內熬滾。再入黃（佔二錢）　熔化。離火待凝。入前藥末攪勻。先以蔥椒甘草湯洗淨患處。油紙做夾紙攤貼。</p>
<p>白玉膏　白龍骨　煨石膏　制甘石　鉛粉（等分）　豬油成膏。</p>
<p>又方。人中白（一錢五分）　寒水（石一錢）　冰片（五釐）　枯礬（八分）　赤石脂（一錢）。白者更妙另煆　海螵蛸（一錢）　白占（三分）　麻油（五錢）　先將麻油熬清　次下占熔化。後下余藥攪成膏。</p>
<p>又方。爐甘石（一兩火煆）。豬膽汁（淬七日）　海螵蛸（一錢）　白占（五錢）　枯礬（一錢或五六分）。多則作痛　用豬板油搗成膏。</p>
<p>又方　乳香　沒藥（各去油）　象皮（各五錢為末）　白占（五錢）　鉛粉（研細）　黃占　密陀僧（各二兩為末）　輕粉（四錢）　上上真桐油（一斤）　入銅鍋內熬至無沫澄清。先入陀僧末攪勻取起。入二占濃化攪勻。俟油溫放入五種藥末攪勻。以大綿紙攤上陰乾。隨瘡大小剪貼。遠年定效。</p>
<p>金華散　煨石膏（八兩）　生石膏（八兩）　飛血丹（一兩）　共為細末。乾者香油調敷。濕者乾摻。專治男女新久爛腿臁瘡。及一切癰癤瘡毒用之。且能去腐生肌。</p>
<p>臁瘡拔毒方　瀝青（四兩）　礬紅（二兩）　共為細末。香油調搽。須忍痛則瘡內出其毒。可拔毒水盡。再用收口藥。並治坐板流膿瘡。</p>
<p>臁瘡收口方　冰片（三分）　石決明（二錢煆）　川連（一錢）　血竭（五分）　琥珀末（一錢）　寒水石（三錢煆）　乳香（一錢去油）　黃柏（末五錢）　共為細末。如癢甚者。加飛礬（五分）　凡毒盡後瘡不起。邊肉有紅色。先將溫苦茶洗一次。敷藥一次。不數日收口。並治諸毒瘡不斂。</p>
<p>臁瘡阡張膏　香油（四飯碗）　亂頭髮（四兩）　杉木皮（三兩燒灰研末）　白占（二兩）　麝香（五分研細）　先將香油熬將熟。入發熬化。次下杉木灰白占熔化。後將余藥投入滾化攪勻。以阡張紙入油內收盡為度。貼三日翻一面。七日全愈。無論遠近爛見骨者。半月收功。</p>
<p>臁瘡收口方　象皮（七錢）　血竭（二錢）　龍骨（五錢）　冰片（一錢）　乳香（二錢）　沒藥（二錢）　海螵蛸（一錢）　共為細末摻。</p>
<p>爛腿臁瘡方　象皮　八寶丹　冰片　爐甘石各等分　共研細。先以蔥湯。洗淨患處。然後摻藥。</p>
<p>誓不傳方　荊芥（一兩）　防風（一兩）　川柏（一兩）　陀僧（五錢）　銅綠（五錢）　共為細末。先用水銀（三錢）　蓖麻子（十粒）。同研至不見星為度。用桐油煎數沸。入前藥。用油紙看瘡大小攤膏摺好刺孔千下。用米泔洗淨患處貼之。一日換一轉。收膏擦淨。不拘遠近爛腿。數次即效。</p>
<p>獨聖散　水龍骨炒乾為末。麻油調敷。治臁瘡。並治婦人裙鞭瘡恙。</p>

<h2>癬瘡部</h2>
<p>秘製癬瘡藥靈丹　鮮白槿皮（一兩二錢）　土槿皮（六錢）　白芨（四兩）　冬朮（六錢）　斑蝥（一錢）　檳榔（四錢）　大楓子油（四錢）　川椒（三錢）　番木鱉（四錢）　共為粗末。好滴花燒酒浸一月。取酒搽擦。專治風濕內郁陽分。變生癬癩汗斑。並治腳縫濕癢。一切風濕遠年坐板癢瘡等症。其效如神。</p>
<p>又方　生大黃　皮硝　荔枝核　等分為末。米醋調搽。牛皮頑癬。加舊牛皮灰。銅錢癬。加古錢灰　荷葉癬。加荷葉灰。</p>
<p>又方　土槿皮（二錢）　雄黃　檳榔（各一錢）　斑蝥（四隻）　輕粉（一分五釐）　樟冰（一分）　各研細。火酒浸搽。</p>
<p>遍身頑癬　川槿皮（一兩）　牙皂（五錢）　大楓子肉（三錢）　米醋（一碗）　共煎至半碗。去渣澄清。入明礬（五錢）研細　皮硝五錢研細　又煎至一小杯。和入土大黃根自然汁一小杯　先以穿山甲刮微破。將筆蘸搽。數日即愈。</p>
<p>癬藥酒　海風藤　土大黃根　白果肉（各五錢）　白芷　白芨（各三錢）　檳榔（五錢）　斑蝥（七隻）　鮮金錢松根皮（一兩）。雄黃（三錢）　滴花燒酒（半斤）　浸藥七日後。凡遠年牛皮蛇皮。一切頑陰癬。以酒搽患處。五七遍自愈。</p>
<p>又方。槿樹皮（一錢）　生南星（五錢）　檳榔（一錢）　樟腦（五分）　番木鱉（五分）　蟾酥（三分）　斑蝥（三隻）　用火酒浸擦。</p>
<p>治癬神效方　硫黃（五兩）　紅礬（四兩）　火酒（四兩）　先將硫黃入銅杓內化開。用酒煮乾。與紅礬同研細末。米醋調搽。或先用穿山甲刮微破。</p>
<p>一楊梅癬　前藥加粉霜（四分）。如前法擦　一狗疥癬　前藥加入木鱉（三分）　一牛皮癬　前藥加白砒（四分）　一頑癬　前藥加輕粉（二錢）　一乳癬　前藥加松香（二錢）　一荷葉癬　前藥加枯礬（二錢）　一雞皮癬　前藥加輕粉（二錢）　同大黃搗爛。以麻布包之。蘸前藥擦之。一白風癬　前藥加藥皮硝（二錢）。</p>
<p>又方　白芨　白蘞　檳榔　土槿皮（各二錢）　輕粉（一錢）　火酒浸擦。</p>
<p>又方　松樹根皮（四兩）　海桐皮　白蘚皮　白檳榔　雷丸（各三兩）　斑蝥（四十九）。下身加倍　共為末。醋水對調。隔一夜用筆蘸搽。一日三次。七日全愈。</p>
<p>又方　土大黃根（三錢）　蚯蚓糞（三錢）　雷公藤（五分）　大楓子肉（一錢五分）　防風（一錢五分）　山槿皮（三錢）　共為末。陳醋調搽。</p>

<h2>痔瘡部</h2>
<p>外痔搽藥　頂大五倍子（十個。鑽孔去子）　金頭蜈蚣（三條。碎）　兒茶（研。一兩五錢）　將二味裝入倍子內。用銀紙封固。瓦上煆以青煙盡。取起研末。配熊膽（一錢）　冰片（五分）　再研極細。先用皮硝泡湯洗痔後。以豬汁調搽。</p>
<p>追管丸　薑汁炒胡黃連（一兩）　炙刺蝟皮（一兩）　當門子（二分）　共為末。飯和丸如麻子大。每服一錢。食前酒下。專治痔漏不拘遠近。服後管內膿水反多。是藥力到也。膿水追盡。服後消管丸自能奏效。不必疑忌。</p>
<p>消管丸　胡黃連（二兩。炒）　炒甲片（一兩）　石決明（一兩。煆）　炒槐米（一兩）　各取淨末秤准和勻。煉蜜丸如麻子大。每服一錢。早晚二次米湯下。至重者四十日全愈。再服完善丸。如四邊瘡口有硬肉突出。可加蠶繭二十個。炒研和入藥內。</p>
<p>閉管丸（即完善丸。）　夏枯草（十兩）　連翹殼（五兩）　甘草節（五錢）　金銀花（四兩）　共炒為末　淨銀花（一斤）煎濃汁和丸。如綠豆大。每服三錢。空心淡鹽湯下。若起漏三五年。兩服全愈。一二年者。一料即愈。</p>
<p>外痔搽藥　寒水石（四兩）。研極細末。大蜒蚰（百個。同搗極爛陰乾。再搗千餘下如香灰樣收貯。臨用。每末二錢）　配冰片（一分）和勻以蚌水調搽。或豬膽汁攙入真麻油亦可。初起者。半月愈。年久者。一月斷根。若痔內出血。配入蒲黃三四分。外洗用瓦花枳殼煎湯。</p>
<p>治痔神棗散　頂大南棗（一枚。去核）　真銅綠（須銅上刮下者。不拘多少。）　鱉頭（一個。煮取淨骨打碎）　將銅綠鱉骨填滿棗內。將棗合緊線扎。煆存性為末。先將秋海棠根葉煎湯洗瘡。後用清水調敷。</p>
<p>洗痔極效方　蔥白（十個）　瓦花（一兩）　馬牙莧（五錢）　皮硝（五錢）　五倍子（五錢）　槐花（五錢）　茄根（五個）　花椒（五錢）　煎湯頻洗。</p>
<p>又方　爛石榴（三隻）　五倍子（五錢）　烏梅（七個）　槐米（五錢）　地骨皮（五錢）　煎湯。</p>
<p>痔漏插藥　百草霜　黃連（各二錢五分）　冰片（五分）　麝香（五分）　旱蓮草頭（炒）　蜣螂蟲（各五錢）　螞蝗（五條。瓦上炒焦）　研細為末。丸如粟米大。納入管內。三日後。管即化出。用輕粉　乳香　麝香　韶粉　東丹　血竭末　摻之收功。</p>
<p>痔瘡化管方　田雞皮炙灰　血餘炭　黃明膠牡蠣拌炒　研末。每朝三錢沖服。</p>
<p>痔漏插藥　小茴香（一兩）　白芷（三兩）　白礬（一兩）　研細。銅杓內熔成餅。再入炭火上煆令煙盡。取出出火毒。為細末。用麵糊成條。插入漏內。直透至痛處為止。每日三次。七日為止。十餘日結痂而愈。如結只一孔。十日全愈。</p>
<p>洗痔瘡方　遍地香　過冬青　鳳尾草　各一種俱要鮮　煎湯熏洗二三次。即好。如無鮮者。乾者亦可。</p>
<p>痔漏精方　烏梅肉（半斤）　韭菜地蚯蚓（七條。瓦上焙燥）　陳倉老米（八合）　研細飲和丸。夜露早收。每晨開水下。每服三錢。不論久遠一料除根。</p>
<p>枯痔散　明礬（一兩）　白砒（三錢）　共研細。入陽城罐內。外圍炭火煉至煙起。煙即砒毒。人不可聞。俟煙盡礬枯去炭。次日取研至無聲為度。四圍搽之。不可使藥流入中孔。致令大痛。</p>
<p>神散元珍丹　明礬煆熟存性不碎。如綠豆大。以桂圓肉包之。日服一粒。雖重症服之百日斷根。治痔以手搓之。</p>
<p>又方　透明白礬（一斤。搗如豆大）　入罐內。如前法煉至礬笑罐外而枯。其頂如痔形者。即靈藥成也。出火毒研極細。或頂大雪梅片一二釐。取津吐調於手心。搽痔上。不可多搽。再取竹白衣作膏藥式糊痔上。數次即愈。其靈藥底可合一切藥。</p>
<p>又方　紅砒不拘多少。瓦上煆至白煙盡為度。飛白礬（各一錢）　烏梅肉（二錢，燒存性）　共研極細。用時以津吐濕手。指蘸藥於痔頭痔身搓捻。一日二次。初敷不腫。五六日出臭。如出盡。其痔乾枯。此藥不用。一方加白靈丹五分。</p>
<p>靈秘丹藥　片腦（一分）　朴硝（五分）　熊膽（二分）　蝸牛（一兩）　螺肉（一兩）　橄欖炭（五錢）　搗爛水浸一夜。取水並藥敷痔上。</p>
<p>胎元七味丸　頭胎男子臍帶（三個。瓦上焙存性）　陳棕炭（七錢）　京牛黃（三分）　槐米（二錢）　刺蝟皮（三錢）　象皮（四錢）　地榆（三錢）　共研酥油糯米糊丸。如蠶豆大。每服七丸。空心白滾湯下。專治痔漏。三日化管。七日平滿。血清膿止。十日除根。</p>
<p>眼痔　用五倍子燒灰。麻油調搽。</p>

<h2>口牙部</h2>
<p>牙疳方　川柏（三錢）　寒水石（三錢）　黃丹（一錢）　千層蚌殼（一錢）　人中白（三錢）　梅冰片（一分）　共研細末。</p>
<p>牙疳回疳散　真人中白（五分。煆）　陳蠶繭（二錢五分。煆存性）　五倍子（一錢。打碎去蠱）　制明礬法。用整五倍子一錢。內裝明礬一錢。煆枯研細末用。川連末（五分）　蘆薈末（五分）　犀牛黃（三分）　青黛（五分）　冰片（四分）　蟢子窠（十七個。煆存性）　共為細末。先用河蚌煎湯漱口。用少許吹之。</p>
<p>砒棗散　紅棗（三枚。法每個去核）入紅砒黃豆大（一粒）　紮好炭火上煆盡白煙為度。出火氣。共為細末。再入之以人中白（煆。五分）　冰片（五釐）　蘆薈（三分）　共為細末擦之。專治走馬牙疳。</p>
<p>人龍散　戌腹糧即狗屎中骨頭。瓦上煆存性。為末。每一錢加冰片少許敷之。能治牙疳之疾。</p>
<p>又方　人龍瓦上焙　為研極細末。加青黛冰片少許和搽。治同。</p>
<p>龍虛止疳散　屋上白貓屎　煨石膏等分。研末加入蛔蟲一條炙灰。冰片少許。共研極細吹之。專治痘後牙疳。極凶危者。及走馬牙疳。吹之神效。再服清火解毒之劑。</p>
<p>又方　綠礬（一錢炒紅）　煨石膏（三錢）　兒茶（一錢）　月石（一錢）　人中白（一錢）　冰片（二分）　人中黃（一錢）　研細吹之立效。</p>
<p>牙痛方　薄荷尖（五分）　蓽茇（五分）　月石（三分）　黃丹（五分）　梅片（三分）　樟腦（五分）　青鹽（五分）　骨碎補（去毛皮曬乾。五分）　麝香（一分）　共為細末擦。</p>
<p>又方　生石膏（一錢）　細辛（一錢）　兒茶（五分）　川連（一錢）　冰片（二分）　共為極細末。擦之。無論實火虛火。蟲蛀疼痛。俱可以治。如虛疼加人參末三分。蟲蛆加樟腦五分。</p>
<p>牙痛方　蟾酥（一錢。陳酒化透）　五靈脂（一錢）　麝香（一錢）　研和為丸。均丸二百粒。新零綢包。絲線扎固。裝瓷瓶內。每遇風火蟲疼牙痛。取一丸咬於患處。丸化自愈。</p>
<p>牙痛方　蓽茇（一錢）　川椒（五分）　石膏（五分）　青鹽（四分）　共為細末。點於痛處立止。</p>
<p>一笑散　初平方去火硝。加蓽茇等分。青鹽　火硝　硼砂　樟腦　各等分　研細擦之。立止牙痛。</p>
<p>牙痛一笑散　火硝（一錢）　元明粉　生石膏　黃柏（各五分）　全蠍茶洗炙研　青鹽　月石　雄黃（各三分）　真蟾酥（五分）　冰片（二分）　共研細末搽擦。</p>
<p>玉帶膏　煆白龍骨（五錢）　用生梔子仁（三錢）　生川柏（五錢）　生黃芩（五錢）　銅鍋內熬汁。煮乾龍骨為度。取出為末。再用鉛粉（五錢）　麝香（三分）　並煮好龍骨。同研細入碗內。加黃占（一兩）　坐滾湯中熟化拌勻。用重連史紙鋪火爐蓋上。將藥刷在紙上。剪成碎條。臥時貼在患處。次早起時取出。有黑色可驗。專治牙痛。</p>
<p>哭來笑去方　潮腦　川椒（去目。各五錢）　用粗碗一隻。椒鋪碗底。樟腦蓋面。上覆一碗。鹽泥固濟。火上升二炷香。取出為末。每用一二釐擦之。專治牙痛。至重者二次即效。</p>
<p>去牙痛方　雄活鯽魚一尾。約四五兩重。破開去腸不落水。用白信六錢為末。填入魚腹。待其肉爛。去砒不用肉。用淨魚骨曬乾為末。每用些些。安於患牙齦上。膏蓋一時許自落。</p>
<p>柳華散　川柏末　真青黛　人中白　蒲黃等分　為細末摻之。此方能治口舌爛久不愈。如去人中白、蒲黃。名華雲散。加枯礬、五倍子炒等分。治牙痛。</p>
<p>赴筵散　北細辛　黃芩　黃柏　黃連　乾薑　山梔子等分　共研細末。或加冰片少許。擦之。專治口瘡。</p>
<p>牙痛方　濂珠（一分）　硃砂（一分）　斑蝥二錢。去羽頭尾　上三味研細末。用少許放膏上。貼痛牙外面。切勿貼口內。</p>

<h2>鼻耳部</h2>
<p>鼻淵方（即腦漏）　蟾酥　龍骨　石首魚腦煆　共為細末吹之。或加辛夷　冰片各少許。</p>
<p>又方　上血珀　真廣藿香葉等分　研細吹之。</p>
<p>又方　白石脂一味研細吹之。內服補中益氣湯。或六味丸。</p>
<p>又方　攪朱漆綿兜（一兩）　白鴿子翎。去硬管。捲入綿內（一兩）　同煆存性。每灰（一錢）　加片腦（七釐）　共研末吹之。</p>
<p>鼻衂方　真石青　藜蘆　膽礬等分　共研細末。少許吹之。</p>
<p>赤鼻方　硫黃入布袋內。用豆腐泔制三次。淨重（一兩）　輕粉　陀僧　白芷（各一錢）　白礬（五分）　共研末。唾搽。晚則搽。日則洗。自能奏功。</p>
<p>聤耳方　橘皮燒存性　血餘炭　龍骨　江魚牙等分　加冰片少許　研細吹之。</p>
<p>紅綿散　煆龍骨　枯礬（各三錢）　海螵蛸　胭脂（各一錢燒灰）　飛丹（二錢）　冰片（三分）　共為細末。先以綿紙攪去膿後吹之。專治聤耳出膿。</p>
<p>斫傷腦衣方　用南棗核仁。焙燥研末吹之。</p>
<p>腦漏臭涕方　用五穀蟲（焙）　赤石脂等分。研細嗅之。</p>
<p>附　混元一氣丹方　荊芥穗（一錢）　鬼箭羽（一錢）　香白芷（一錢）　公丁香（一錢）　川鬱金（三錢）　北細辛（一錢五分）　蘇合香（一錢）　寒食麵（二錢）　西香薷（一錢五分）　廣藿香（三錢）　降真香（三錢）　紅靈丹（三分）　上各研細。將寒食麵煎湯泛丸。如粟米大。將紅靈丹三分為衣。每服五分。</p>
<p>治牙蟲風牙疼痛方　此方屢試神效　大梅片（五分）　飛辰砂（五分）　馬牙硝（二錢）　月石（二錢）　共研細末。擦痛甚效。</p>

<h2>腳部</h2>
<p>青螺散　真銅青　六一散等分　共為細末摻。專治腳痔腳疰。</p>
<p>陰濕腳瘡久爛方　銅青　膽礬（各五分）　飛黃丹（二錢）　密陀僧　輕粉　煨石膏（各一錢）　共為末。臨臥摻上。痛一夕即結痂。或有癢處。毒水不幹。又摻上。癢極摻之。</p>
<p>爛腳丫方　月石　滑石（各三錢）　龍骨　川柏（各二錢）　百部（二錢）　陳茶葉（六錢）　共為末。臨用加冰片一分敷之。</p>
<p>又方　用陳茶葉　陳黃泥磚。共末摻之。</p>
<p>爛腿方　輕粉（一錢漂淨）　銅綠（一錢漂淨）　海螵蛸（四錢）　赤石脂（一兩）　滑石（四錢）　東丹（一錢。漂）　上藥研細過篩。麻油敷患處。</p>

<h2>補遺</h2>
<p>小兒肺風痰喘方　雪裡青。即過冬青草。搗取汁調天竹黃一二錢服之。</p>
<p>又方　用白茄子磨水服之。</p>
<p>小兒胎瘡方　苦參（一兩。研細）　用母發（一團）　雞子黃（十個）　熬出油。調入候凝抹之。</p>
<p>小兒頭上諸瘡方（名一抹全）　藜蘆　蛇床　飛黃丹（各一錢六分）　硫黃　白礬　赤石脂　五倍子　川柏（各一錢五分）　輕粉（五分）　共研末。豬油調敷。或清油亦可。</p>
<p>小兒胎癩方　明礬（五錢）　松香（五錢）　蔥頭（七枝）　飯鍋上同燉熱。待冷研細。加入東丹（三錢）　冰片（三分）　用麻油調敷。</p>
<p>小兒白頹方　用炮長藥油調。先以米泔腐泔洗後。敷一二次即愈。</p>
<p>又方　用鯚魚骨煆研敷。</p>
<p>又方　用豬腳爪殼。煆研油調搽。</p>
<p>柏葉散　石柏末（一錢五分）　輕粉（一錢）　雄黃（一錢）　青黛（二錢）　滑石（一錢）　寒水石（二錢。煆）　銀硃（一錢五分）　辰砂（五分）　鉛粉（二錢）　側柏葉末（一錢）　共為細末。絲瓜葉汁調搽。治天疱瘡。</p>
<p>天疱瘡方　明雄黃（五分）　川柏（三分。研末）　陀僧（六分）　女人撲面粉（五分）　石膏（八分）　共為末。絲瓜汁麻油調搽。二三次即愈。</p>
<p>妙靈丹　白芷（四兩。炒黑研末）　圓眼核（四兩。炒黑存性。）研末和勻。乾者香油調搽。濕者乾摻。專治濕爛蛇瘡。</p>
<p>一擦無蹤　臭硫黃（三錢）　雞子（兩個）　用真香油一酒鍾入鍋內。將雞子放鍋內。同熬取油。以雞子兩面焦黃色為度。取出食之。將硫黃末放鍋內。令熬數滾。隨手攪勻。候冷取起。調搽瘡上甚效。已經試過。三五日。即全愈。永無再發之理。</p>
<p>不二散　密陀僧（三錢）　硫黃（一兩）　草烏（三錢）　紅砒（一錢）　共為細末。米醋調搽。專治汗斑。</p>
<p>又方　硫黃　明礬　雄黃　白附子　海金沙　密陀僧　共研末。薑汁調搽。或用醋亦可。一年者。去皮一次。十年者。去皮十次。擦後勿當風。勿行房扇扇。</p>
<p>湯火瘡方　生大黃　川柏　當歸等分　好酒炒炭研末。麻油調搽。或加之以地榆炭。</p>
<p>又方　赤石脂　寒水石　大黃　川柏等（各一兩）　蒲黃（二兩）　紅丹（五錢）。為末麻油調敷。</p>
<p>又方　豬毛炭　輕粉少許　硼砂少許　研勻麻油調敷。且無疤痕。</p>
<p>又方　地榆炭研末。麻油調敷。</p>
<p>又方　無毛胎鼠。菜油浸之。愈久愈佳。取油搽之。</p>
<p>螵蛸散　海螵蛸（五錢）　五倍子炒焦　枯礬　兒茶　黃丹　赤石脂　密陀僧　鉛粉（各二錢）　共為末。濕者乾摻。乾者柏油調搽。專治黃水流膿瘡。陸定圃先生方。膿窠類屢久不痊。此方甚效。</p>
<p>又方。麝香（一釐半）　硫黃（二釐半）　白蘞（五分）　白芨（五分）　密陀僧（一錢）　腰黃（二分半）　白芷（五分）　生附子（一錢五分）　各生為末。和勻以生白附生薑汁搗成餅擦之。專治白點風汗斑等症。</p>
<p>紫蘇散　六一散（四錢）　紫蘇葉（一錢五分）　兒茶（一錢）　赤石脂（二錢）共為細末。先以紫蘇紫背浮萍煎湯重洗。然後敷之。專治陰囊爛。名繡球風。</p>
<p>又方　用鉛粉研細。生桐油調搽。</p>
<p>珠母散　陳蚌殼（煆）　兒茶　輕粉　飛滑石　人中白（各二錢煆）　煆龍骨　枯礬（各一錢）　冰片（三分）　共研末。專治婦人陰癢。甚者令人發熱如勞。先以雞肝。或豬肝切作長條。蒸熟插入陰戶。過一夜次早取出。如此二三次。癢減蟲淨。然後用麻油調搽。</p>
<p>坐板瘡　飛滑石　生大黃　人中白　密陀僧等分　共研細摻患處。</p>
<p>肺風瘡　蜈蚣（一條焙）　雄黃（一錢）　硫黃（一錢）　共為細末。夏月用白茄子搗汁調搽。冬月用桕油杵膏搽之。臨臥搽上。次早洗去。半月全愈。</p>
<p>纏腰火丹方　挑瞎蛇頭上眼。用坑缸上舊箍炙炭為末。麻油調搽。</p>
<p>又方　蛇蛻燒存性。坑廁上浮泥同研。用童便調敷。</p>
<p>金甲散　穿山甲（一隻。全者）　生漆（一斤）　每日將山甲漆數次。漆完用瓦器將山甲炙灰。如病人要頭身先好。即服川山甲頭身起（一錢）　足先好。即服穿山甲足四隻起。對陳酒服完即愈。如山甲有一不全。病人亦缺一不全。為專治大麻風仙方。</p>
<p>地耳散　地踏菜曬乾為末。豬油調敷。治湯泡傷。</p>
<p>又方　泡過爛茶葉藏甏內。取抹並治火傷。</p>
<p>又方　秋葵花手未捏過。浸麻油。如遇湯火傷者。取油搽之。</p>
<p>黃水禿瘡方　嫩松黃蔥制過（二兩）　黃丹（一兩）　無名異（一錢）　炒鉛粉（一錢）　輕粉（三分）　共研末。先以米泔洗淨患處。用香油調敷。</p>
<p>𤺪⿸疒貢頭方　用化銅舊罐研細末。加輕粉　冰片少許　香油調搽神效　手足雞眼方　用大蜈蚣幹一對炙　研細摻膏藥上貼之。一周時即化黃水。</p>
<p>又方　蜈蚣（一錢）　硇砂（一錢）　白礬少許　用麻油浸。埋地下一日。取出點之。</p>
<p>凍瘃方　白芨研末　用蘿蔔一個挖空。入桕油於內蒸透。取油調搽。</p>
<p>又方　舊泥盒燒灰。研細。油調搽。</p>
<p>凍瘡湯火瘡方　用煆瓦楞子研極細末。加冰片少許。麻油調敷。</p>
<p>天蛇頭方　用豬膽一枚。入全蜈蚣一條研末。雄黃少許。套上即瘥。羊鬚瘡方　旋覆花（一錢。焙）　舊綿絮胎（一兩。燒存性）　共研末麻油調搽。</p>
<p>損傷方　當歸（二錢）　丁香（五分）　枳殼（二錢）　川芎（二錢）　辰砂（五分）　沉香（一錢）　乳香（二錢）　木香（二錢）　蘇木（二錢）　川烏（五分）　桂枝（二錢）　牛膝（二錢）　血竭（一錢五分）　肉桂（一錢）　杜仲（二錢）　麝香（三分）　參三七（一錢）　草烏（五分）　共研細末和勻。用好酒沖服。</p>
<p>懸梁死急救法　吊死者切不可剪斷繩帶。先用軟泥將人糞門封好。若女子封好陰戶糞門兩處。將人慢慢放下落地。用細辛（一分）　牙皂（一分）　共研極細末。用蔥管吹入鼻中。候其喉中有聲。此藥吹完。再用九死還魂草（三錢）　飛淨真辰砂（一錢）　將水煎濃。吹耳鼻候其面紅。再用生薑汁一杯飲下。蓋被出汗。再服米泔水一杯即愈。</p>
<p>九龍神咒丹　專治跌打瘋氣立效神方。累試累愈。川烏（三錢）　草烏（三錢）　硃砂（二錢）　硼砂（六分）　梅片（二分）　原香（二分）　丁香（二分）　硫黃（六分）　以上八味。各研極細末。用黃表紙硃筆書九龍字符九張。用銅鍋一隻洗淨。用新布三塊揩乾。又備新竹板一片。炒藥用的。先將爐炭加好聽用。將鍋先焚龍字符一張。再燒龍字符一張亦焚在鍋內。將川烏放下。再燒龍字符一張。將草烏放下炒。余皆仿此。次第龍字符藥味均炒。至硫黃入鍋溶化。即倒干瓷盆內。薄薄攤開。均分作三四盆候冷。冰成片塊。瓷瓶收貯。切勿泄氣。如遇患病。用筷一隻頻點。點至痛處。用老薑一薄片。姜上置藥一塊。如黃豆大。用明火燒藥。燃著忍痛。候藥性燒盡為度。再點仍燒。以不痛為止即愈。試驗無算。用硃筆書龍字樣。一口氣書一張。不可二口氣。為要為要。</p>
<p>桃花散（即刀傷藥。）　千年石灰（二兩）　生大黃（六錢）　共炒黃同研極細末。敷患處即效。</p>
<p>瘋氣藥酒方　鑽地風　宣木瓜　漢防己　秦艽　野桑梗　川羌活　粒紅花　千年健　當歸　以上九味各四錢。加南棗二十枚　冰糖（二兩）　陳酒（四斤）　外用大瓦瓶一隻。將藥連酒浸入瓶內。對口隔水煮滾。點一炷香。緩緩再滾。香盡藥好。每日清晨。隨量飲之。再滾二次。如不見效。再服一劑即愈。</p>
<p>下疳方　橄欖灰（四錢）　大梅片（二分）　紅小升（四錢）　如自生用菜油調敷。斫喪用麻油調。無論乾溼。先須干撒一次。再調塗如法。</p>
<p>武定侯府方　治楊梅結毒瘡　輕粉（一錢）　杏仁（三十粒去皮）　雄黃（一錢半）　冰片（少許）　共為末。先以甘草湯洗淨。用雄豬膽汁。調藥搽上。二三日即愈。百發百中。</p>
<p>赤白瀉痢神方　干桑椹（三兩）　雄精（一兩五錢）　赤白沙糖（各三兩）　砂仁（三兩）　上藥研細。用囫圇荸薺（三斤）　原燒酒（三斤）浸入大沙鍋內。蓋好不泄氣。用菜油燈心文火煎滾收貯。臨服荸薺一枚即愈。即此藥渣藥酒服之。亦無不愈。其效如神。</p>
<p>廣瘡方　輕粉（三錢）　大黑棗（二十枚）　法將大棗去核。輕粉研細。同河泥少許。嵌入棗內。用厚麵糊裹。勿可泄氣。炭火炙成炭。每服兩棗。分三日。用黃酒化送。</p>
<p>神驗化毒五虎丹　炙牛角　炙羊角　炙甲片（各二錢）　角刺（三錢）　生大黃（十二兩）　法以牛羊甲片三味。濕紙包煨焦。取淨末。同角刺大黃淨末研勻。每服五錢。弱者三錢。紹酒送下。候瀉。宜於空地上。利完將土掩之。恐惡氣害人。間二日再一服。甚者不過三服神效。後服珠黃十寶丹以愈為度。結毒亦效。</p>
<p>珠黃十寶丹　滴乳石（人乳煆）　真琥珀　乳香（去油）　沒藥（去油）　辰砂（水飛）　山茨菇（各三錢）　敗龜板（炙）　雄黃（各四錢）　犀角　珍珠（各一錢）　真正人中黃（五錢）　當門子（五分）　各取淨末秤准。共為極細末。山藥打糊為丸。如桐子大。辰砂為衣。專治一切廣瘡。楊梅結毒。下疳潰爛。小兒胎毒。分一月服完即愈。甚者再服一料必愈。功勝五寶丹。以上三方。即治楊梅瘡方。</p>
<p>玉樞丹方　毛慈菇（二兩。曬）　紅芽大戟（一兩五錢。炒）　千金子霜（一兩）　冰片（三錢）　文蛤（二兩。去垢曬）　雄黃（三錢）　飛辰砂（三錢）　麝香（三錢）　草河車（一兩五錢。曬）　山豆根（一兩。炒）　丁香（三兩。曬）　燈草炭（一錢）　以上藥各研末和勻。糯米飯打成錠曬乾。收貯重出。</p>
<p>絕癇丹　治顛仆眼直。口吐痰沫。或作羊鳴。不省人事。此因驚恐得之。硝煆礞石（五錢）　天竹黃（六錢）　當門子（二分）　煨明天麻（三錢）　辰州硃砂（三錢）　蛇含石（五錢。醋煆）　陳膽星（四錢）　法半夏（八錢）　等分為末。以薑汁（五錢）　竹瀝（二兩）　和於蜜中。煉熟杵丸。如龍眼大。童便磨服半丸立止。服三一丸全愈。蛇蛻（四分。煆淨）　綠礬（二分）　犀黃（四分）　石膏（三錢煨）　紫草（二錢）　川連（一錢）　蜂窠（一錢。煆淨）　紫荊皮（一錢五分）　上味同研細末。用馬蘭汁調藥塗於患處。</p>
