<header data-type="book">
<h1>臨證一得方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>朱費元</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
</header>

<h1>序</h1>
<p>嗚呼，醫道之不明於世也，久矣。豈獨瘍科然者，而於瘍科為尤甚。病之者，既視為膚毛之事，不加深察；醫之者，亦不究厥由來，略知一二，聊復爾爾。何怪流毒靡已，枉死載途也乎！求有討論而悉其源，臨證而得其效者，卒不數覯。吾邑從事斯而實由讀書閱歷，本心得以立言啟後者，厥惟杏村朱先生。先生賦謙和造詣深遠，性不泥古、不好奇，以元氣為根本，以刀針為末務。所著《瘍醫論》一篇，《一得方》四卷，啟《靈樞》之秘，生面獨開，宏胞與之懷，婆心一片，宜其得心應手，持危扶顛，迄今猶遐邇爭頌也。今令似平莊先生持以請序於予，翻閱再過，覺方論精切，實堪發聾振聵，壽世福民，益信人言之不我欺也。彼豆塞耳者，烏足以語此？予酷嗜醫，只以公車南北，有志未逮。讀是書，此心不覺怦然復動，乃命男駿寶執贄修弟子禮，侍立門牆，獲窺美富，誠能探論以立體，究方以妙用。廣其傳而活人濟世，亦儒者不為良相即作良醫之意云爾。余雖不文，亦樂得而為之序，並囑駿寶持呈平莊先生，區區管見未足以抒傾慕之誠也。其以余言為所見之相同否。</p>
<p><u>時道光十九年三月既望</u></p>
<p><u>愚侄倪皋琴航氏叩首謹撰</u></p>

<h1>序</h1>
<p>先君子杏村公，幼讀後擬耕以養親，而文園抱病動輒患瘍，就附近諸醫罔效，因遍貫方書，精求博考。不數年得其奧，而虛懷若谷，不敢自用師心，因訪遊汪孝先生之門，學宗王道技斥霸功，遂得不傳之秘，繇是學益進名益高。從遊者濟濟盈門，求治者源源接踵。其治證也，循經分絡、察色辨脈，於七情六氣，陰陽表裡，寒熱虛實，無不縷析條分，辨證立方，對病發藥。臨證之暇日與及門諸弟子講解淵微，究極義理，且謂：疾醫、瘍醫，古者雖各有專門，實二而一者也。未聞弗明乎內而可以制勝於外者。著《瘍醫探源論》，諄切訓海，泄靈蘭之秘，啟後學之心輝也。趨庭聆訓，有忝承先，爰集遺方，並敘顛末，以公同好學者，苟能深思好學，觸類引伸，明其意於法中，神其意於法外，亦未始非濟世之一助焉。</p>
<p><u>時道光十五年歲次乙未一陽</u></p>
<p><u>上澣男士輝百拜謹敘</u></p>

<h1>引</h1>
<p>前擬探源論大致已瞭然矣，而猶慮業是者有醫藥之誤。爰命兒輩分類集方約有若干。顏之曰「一得」。此皆本前論以施治應手輒效者也。或曰：「子之門舐丹者踵相接，何止一得乎？」應之曰：「余質愚魯，『一得』，義取諸此。且得者謂得於心也，一者舉此可以隅反也。亦何必不謂之『一得』哉？」</p>
<p><u>時道光十年歲次庚寅九月古</u></p>
<p><u>由拳朱費元手泐</u></p>

<h1>傳</h1>
<p>君諱費元，字懷剛。青浦朱氏居東北鄉崧子里，父德基生四子。君序最長，早歲失恃，事繼母崔誠敬備至，崔亦忘其非已出也，既任家督，為諸季授室。榰柱門戶。業漸落，因從汪孝先生習醫，尤殫心瘍科。瘍科俗稱易習，人多輕之。君獨窮探閫奧，究陰陽之變，責氣候體質寒熱虛實之異同，與夫方書服食之要，而折衷往哲。製藥劑倍恪不吝資不責償貧窶，故治輒應手取效。所居濱岑涇，艤棹常滿，深概俗工治瘍鹵莽，作《瘍醫探源論》，大致謂人賴元氣以生，視病者亦必視元氣存亡決生死。俗謂「瘍醫外證，輕用刀針致戕」，不知外證半由內證，元氣先虧，毒氣隨熾，雖觸毒浸淫，間由傳染，然邪之所湊真氣必虛，遂以刀針泄其元氣，是猶援溺於井而下石也。東垣立疏通、托裡、和營衛三法。未成者疏通自潰；已成者托裡自潰；已潰者營衛和則自斂。縱肌肉腐敗，苟得元氣鼓舞，易敗亦易治。至針砭熨炙，古有其法，世久失傳。部位稍差，立致損殞。是以名家方論動色相戒。間有刀針奏效者，大多輕淺之證，即不用刀針亦自能潰能斂，總不如內服外敷、保元托毒之為急務。論共千五百餘言，委曲詳盡，類發前人所未發，足為外科圭臬。然君雖以治瘍名，求診者多傷寒雜證，知理固內外一貫也。憂尤肫摯樂善酬幣所入，輒分潤族戚。值歲飢，里有鬻婦者，嘗助資完之。所著《臨證一得》四卷，子若孫皆業儒兼能世其學。贊曰：余與君累世交契，村居相距四五里，故知君醫術獨深。蓋誠求濟人迥異庸俗之所治，而不欲以方脈自囿者也。乃余癸巳歸自閩，聞君作古，國工殂謝，良足悲忌，夙喜所為《探源論》，因傳君志行為，撮敘於篇。</p>
<p><u>時道光十有三年歲在癸巳辜月同里</u></p>
<p><u>姻世侄陸我嵩拜撰</u></p>

<h1>卷一　首部</h1>

<h2>聤耳</h2>
<p>（案1）耳乃腎之外竅，肝膽兩經並絡於此。今流脂作痛、內外腫脹，乃聤耳症也。身發熱，脈見數，外潰，是恐治先在標。</p>
<p>柴胡梢　北沙參　川石斛　白夕利　貝母　羚羊角　煅石決　白茯苓　活磁石　青鉛　焦夏曲　焦梔皮　荷葉邊</p>
<p>（案2）聤耳流脂腫脹，勢當未定。</p>
<p>炒殭蠶　鉤藤　荊芥　玉桔梗　焦夏曲　燕竹葉　西芍藥　連翹　滑石　京貝母　羚羊角</p>
<p>（案3）肝膽火幟，繞面浮腫，外挾風邪故也。先宜祛風熄火，冀其膿利痛緩，再商滋降培本。</p>
<p>炒殭蠶　羚羊角　桔梗　焦夏曲　青蔥管　鉤藤　柴胡梢　象貝母　薄荷　冬桑葉　生茜草</p>
<p>（案4）耳痛流脂不爽，脈軟，畏寒，此風火相搏，已成聤耳之候，久防成漏。</p>
<p>柴胡梢　炒殭蠶　青皮　焦夏曲　玉桔梗　青蔥　北細辛　薄荷葉　鉤藤　池菊花　生甘草</p>
<p>復　聤耳不避風邪，腫及咽喉，牙關緊急祛風散邪為治。</p>
<p>炒殭蠶　荊芥　杏仁　牛蒡子　嫩鉤藤　蔓荊子　玉桔梗　貝母　橘紅　羚羊片　石決明　淡黃芩　加白茅根</p>
<p>（案5）少陽襲風，復感暑毒，繞耳紅腫，脈數，身熱，勢防遊走。</p>
<p>羚羊角　桔梗　連翹　藿香　大力子　焦夏曲　六一散　蟬衣　貝母　赤芍　蒼耳子　杜蘇葉</p>
<p>復　腫退痛減，膿流未止，脈弦，法當滋降，然平情和性為妙。</p>
<p>洋參　炒元地　穭豆衣　煅磁石　荷蒂　丹皮　炒白芍　煅牡蠣　炒懷膝</p>
<p>（案6）聤耳腫塞作痛，流膿延今二旬，腫痛更甚，有內外交穿之慮，清肝祛風主之。</p>
<p>柴胡　羚羊角　石決明　殭蠶　牛膝　蔓荊子　貝母　夏枯草　蒼耳子　鉤藤　磁石　荷邊　加九節石菖蒲</p>
<p>（案7）陽明積熱，少陽虛火內熾，耳內流脂經久，痛引半頭，脈形細數，虛風上冒之候。</p>
<p>殭蠶　鉤藤　石決明　蔓荊子　山梔　荷邊　羚片　磁石　甘菊花　新會皮　澤瀉覆　熄風平肝法。</p>
<p>沙苑子　懷牛膝　石決明　洋青鉛　炒白芍　女貞子　云茯神　料豆衣　沉香片</p>

<h2>耳菌</h2>
<p>（案8）耳菌內外交穿，腫痛腐爛，脈細數，內虛之症，姑先治標。</p>
<p>川連　殭蠶　煅石決　焦夏曲　黃芩　甘菊花　桑葉　象貝　炒川柏　生首烏　山梔　生茜草</p>
<p>復　膿脂未止，肉翻色老，若非久藥靜養，難以奏績。</p>
<p>原生地　天冬　丹皮　石決明　川石斛　炒歸身　炒澤瀉　知母　白芍　蛤粉炒清阿膠</p>

<h2>耳痔</h2>
<p>（案9）耳痔潰久流膿，靜養為妙。</p>
<p>石決明　活磁石　蔓荊子　冬桑葉　鉤藤　羚羊角　炒澤瀉　炒黃芩　鮮荷邊　貝母</p>

<h2>耳癰</h2>
<p>（案10）耳竅生癰，膿潰未清，痛勢未定，清下主之。</p>
<p>北沙參　青防風　象貝母　炒焦　半夏曲　羚羊角　香青蒿　焦山梔　嘉定天花粉　老鉤藤　大天冬　福澤瀉</p>

<h2>聽會疽</h2>
<p>（案11）泄瀉腹緊緻脾虛內熱，熱則生痰，結於聽會，作脹不一，左邊尤甚。納減，形枯，延怯最易。</p>
<p>炙鱉甲　蛤粉　山楂　石決明　生冬朮　香青蒿　山藥　殭蠶　海浮石　鹽水炒竹茹茅慈姑</p>

<h2>漏睛瘡</h2>
<p>（案12）漏睛瘡已經二月餘矣，脈來沉細，非靜養多藥不為功。</p>
<p>焦山梔　焦米仁　黃芩　白蒺藜　六一散　牡丹皮　福澤瀉　殭蠶　羚羊角　焦夏曲</p>

<h2>顴疽</h2>
<p>（案13）顴疽已退，其根未除仍守前法。</p>
<p>炒殭蠶　焦夏曲　廣陳皮　熟葛根　甘菊花　羚羊角　象貝母　福澤瀉　二原地　香白芷　石決明　西赤芍</p>
<p>復　形色未平，究系胃家濕火未靖，再防反復。</p>
<p>中生地　懷牛膝　炒知母　湖丹皮　新會皮　車前子　石決明　黑玄參　焦米仁　生石膏</p>

<h2>顴疔</h2>
<p>（案14）顴疔內外腫脹。</p>
<p>炒殭蠶　玉桔梗　元明粉　羚羊片　赤茯苓　象貝母　甘中黃　焦米仁　塊滑石</p>
<p>復　腫勢依然，身熱，畏寒，內潰方妥。</p>
<p>炒殭蠶　羚羊角　西赤芍　車前　赤苓　茅根　焦夏曲　象貝母　玄明粉　桔梗　山梔</p>

<h2>鼻痔</h2>
<p>（案15）鼻痔經年漸大，時發時減，頭疼，脈細，治在肝肺兩經，切勿妄行剪割。</p>
<p>石決明　羚羊角　炒知母　細沙參　大天冬　嫩鉤藤　冬桑葉　炒澤瀉　黑山梔　蔓荊子　蒼耳子　荷葉蒂</p>
<p>（案16）鼻孔流脂，頭暈做脹，進祛風理肺一法。</p>
<p>光杏仁　冬桑葉　青防風　川羌活　辛夷花　玉桔梗　北沙參　蔓荊子　塊滑石　菊花　陳皮</p>
<p>（案17）風濕熱三者郁肺，上蒙清竅，此鼻痔之所由成也。腫脹氣窒，脈數，舌黃，非明證與。進以清肅法。</p>
<p>羚羊角　烏犀角　炒黃芩　黑山梔　益元散　炒牛蒡　北沙參　辛夷花　蒼耳子　燕竹葉　赤茯苓　冬桑葉　麥冬肉</p>
<p>（案18）肺蘊不清，肝火熾盛，鼻紅，脈數，非淺恙也。</p>
<p>北沙參　肥知母　湖丹皮　西洋參　人中白（煅）　麥冬肉　肥玉竹　小生地　大天冬　血餘炭　制首烏　湘蓮肉</p>

<h2>鼻淵</h2>
<p>（案19）鼻淵延久，內外結蓋，蟲蝕所致。</p>
<p>龍膽草　桑白皮　川黃連　臭蕪荑　塊滑石　嫩苦參　蒼耳子　香白芷　上白及　淡竹葉　百部</p>

<h2>鼻疳</h2>
<p>（案20）心肺蘊熱挾濕上壅，致成鼻疳，延久屢發，脈形左軟右數，清蘊化濕為先。</p>
<p>天門冬　烏犀角　光杏仁　澤瀉　百部　人中黃　羚羊角　炒黃芩　肥知母　米仁　蛤殼　淡竹葉</p>
<p>復　疳患稍減，血涕亦定，惟頭眩胸痛，重則咯血，脈來右數左沉，此肝鬱火升，肺失清降之職也。</p>
<p>西洋參　牡丹皮　羚羊角　天門冬　石決明　麥冬肉　活磁石　鮮石斛　雲茯苓　中生地　炙龜板　甘杞子　乾荷葉</p>
<p>（案21）鼻疳發勢未定，蓋鼻為肺之外候，濕熱蘊結，其機窒塞，即成是症，清蘊化濕之外無他策也。</p>
<p>真川連　桑白皮　淨連翹　炒澤瀉　潤元參　天門冬（去心）　甘中黃　川黃柏　淡黃芩　二元地　茅根肉　黑山梔　羚羊角</p>
<p>（案22）肺熱受風，瘡痍從面布身，經年生蔓，脈虛，便燥，未易杜根。</p>
<p>桑白皮　烏犀角　蒼耳子　炒黃芩　六一散　羚羊片　地骨皮　粉丹皮　赤茯苓　火麻仁　炒知母　綠豆皮</p>

<h2>口疳</h2>
<p>（案23）口中發熱，脈形弦數，此係陽亢上熱下虛之候。</p>
<p>川石斛　黑山梔　制首烏　穭豆衣　生甘草　西洋參　粉丹皮　赤茯苓　乾荷葉蒂　活水蘆根　石決明　炒白芍　煅磁石</p>

<h2>口糜</h2>
<p>（案24）心脾蘊熱上蒸，口舌腐爛，畏寒，脈數，竊恐延久咽喉為重。</p>
<p>烏犀角　人中黃　炒米仁　赤苓　焦車前　茅根　羚羊角　冬桑葉　光杏仁　象貝　淡竹葉</p>
<p>（案25）口糜延化乾板，入喉難治。</p>
<p>烏犀角　鮮石斛　廣橘紅　純鉤藤　焦車前　羚羊角　人中黃　飛滑石　片通草　茅根肉</p>
<p>復　腐爛如故，勢頗利害。</p>
<p>烏犀角　鮮石斛　人中黃　滑石　山梔　淡竹葉　羚羊角　淡黃芩　京貝母　赤苓　澤瀉　茅根肉</p>
<p>（案26）始發牙義，延及咽喉，腫痛雖微而舌邊上下爛點密布，胸中懊惱，脈數，系風陽之邪感入肺脾，內火不越之候。</p>
<p>荊芥穗　焦山梔　草鬱金　童木通　粉甘草　南薄荷　塊滑石　焦車前　西洋參　鮮蘆根　羚羊角　玉桔梗　白蔻殼</p>
<p>（案27）舌疳藥後已減，因耽延失治，復發腐點，切勿輕治。</p>
<p>羚羊片　人中黃　焦車前　新會皮　赤芍　米仁　象貝母　焦黃柏　炒殭蠶　澤瀉　炒麥芽　茅根</p>
<p>（案28）久病糜腐及喉，氣粗，足冷，身熱，便溏，擬益元湯。</p>
<p>制附片　五味子　莧麥冬　童便　真川連　肥知母　生甘草</p>
<p>又複方</p>
<p>大原地　懷山藥　五味子　白茯苓　炒萸肉　牡丹皮　安肉桂　炒澤瀉</p>
<p>（案29）鬱火結痰，外感時毒，蓮花舌內外腫脹、寒熱鋒銳之侯。</p>
<p>牛蒡子　羚羊角　茅慈姑　象貝母　化州橘紅　炒殭蠶　海浮石　天竺黃　嫩鉤藤　鹽水炒竹茹</p>
<p>復　去竺黃、毛慈姑、貝母、羚羊，加杏仁、馬勃、前胡。</p>

<h2>重舌</h2>
<p>（案30）重舌不畏寒。</p>
<p>小川連　炒殭蠶　黑梔子　生甘草　荊芥穗　南薄荷　連翹殼　玉桔梗</p>
<p>復　去川連，加生石膏。</p>
<p>（案31）舌衄不止，脈象洪數，涼血清心。</p>
<p>烏犀角　羚羊角　天冬肉　煅中白　山梔　中黃　鮮生地　鮮石斛　湖丹皮　炒黃芩　赤苓　竹葉</p>

<h2>上齶癰</h2>
<p>（案32）上齶生癰，脹滿頑硬，不易即潰，元虛痰結為患。</p>
<p>光杏仁　海浮石　炙甲片　炒殭蠶　馬勃　元明粉　象貝母　茅慈姑　淨蟬衣　竹二青　百藥煎　車前子</p>
<p>復　脹勢漸退而舌掉不靈，仍進清火化痰之品。</p>
<p>煨葛根　海浮石　人中黃　象貝母　茅慈姑　淨連翹　福澤瀉　光杏仁　黑元參　肥知母　炒殭蠶　竹青</p>
<p>（案33）太陰鬱火上攻，上齶癰復發，清潤為治。</p>
<p>羚羊角　西赤芍　光杏仁　福澤瀉　丹皮　蘆根　黑元參　人中黃　象貝母　焦車前　黃芩　麥冬肉　海浮石　淡蛤粉合六君子湯　真川貝　廣橘紅</p>

<h2>痰包</h2>
<p>（案34）上齶痰包已經三載，脈形細小，恐難奏績。時邪鬱熱，發疳未定。</p>
<p>鮮生地　淡竹葉　羚羊角　炒黃芩　赤茯苓　鮮石斛　人中黃　大力子　粉丹皮　福澤瀉　象貝母　烏犀角</p>

<h2>牙疳</h2>
<p>（案35）牙疳未定，兼外感風邪，牙義腫脹不利，痛引咽喉，清化施治。</p>
<p>粉葛根　炒殭蠶　大力子　黃芩　滑石　知母　羚羊角　玉桔梗　人中黃　象貝　澤瀉</p>
<p>複方</p>
<p>烏犀角　鮮石斛　西赤芍　殭蠶　澤瀉　蘆根　鮮生地　人中黃　象貝　黃芩　川柏（炒）</p>
<p>再復　去赤芍，加青麟丸、淡竹葉。</p>
<p>（案36）斑後生疳，身熱煩躁。</p>
<p>烏犀角　潞黨參　羚羊角　連翹　象貝　天竺黃　鮮生地　生石膏　人中黃　杏仁　竹葉</p>
<p>（案37）鬱熱牙疳，寒熱不遽定也。</p>
<p>羚羊角　鮮生地　人中黃　淡竹葉　赤芍　象貝　生石膏　塊滑石　淡黃芩　焦車前　茅根肉</p>
<p>初復　去黃芩、滑石、石膏、加犀角、殭蠶、豬苓、通草。</p>
<p>二復　去車前、豬苓、通草、殭蠶、赤芍，加丹皮、知母、元武版、懷山藥、土茯苓、焦川柏</p>
<p>三複　溢血，加人中白。</p>

<h2>青腿牙疳</h2>
<p>（案38）青腿牙疳南方罕見，危症也。</p>
<p>烏犀角　人中黃　羚羊角　茅根肉　粉丹皮　鮮生地　青秧葉　川貝母　金銀花　淨連翹</p>
<p>複方</p>
<p>烏犀角　鮮生地　羚羊角　懷牛膝　活水蘆根　西洋參　鮮石斛　天花粉　人中黃　茅柴根肉</p>

<h2>走馬疳</h2>
<p>（案39）走馬牙疳腐爛齒落，脈數，身熱，穿腮不治。</p>
<p>⿰旁刂犀角　象貝母　焦山梔　人中黃　滑石　羚羊角　赤茯苓　鮮石斛　焦米仁　車前　粉丹皮　鮮生地　馬勃花</p>
<p>（案40）病後蘊熱不清，發為走馬疳，惡腐內嵌，甚非佳兆。</p>
<p>塊滑石　象貝母　新會皮　炒米仁　焦車前　生甘草　赤茯苓　黑豬苓　淡竹葉</p>
<p>復　加蘆薈。</p>

<h2>鳳眉疽</h2>
<p>（案41）太陽少陽積熱受風，鳳眉疽潰孔深無膿，不易收斂。</p>
<p>生西耆　炒殭蠶　焦夏曲　炒米仁　羚羊角　北沙參　象貝母　冬桑葉　黑梔子　石決明　香青蒿</p>
<p>（案42）血虧襲風，引動肝風，上行清竅，口眼喎斜，淚出，脈數，宗治風先治血之意，但不可蠻補。</p>
<p>西綿耆　全當歸　左秦艽　川羌活　明天麻　炒殭蠶　炒川芎　淡全蠍　嫩鉤藤　荊芥穗</p>
<p>（案43）複方加防風、蒼耳子、奎白芍。</p>
<p>口眼喎斜明系營衛兩虧、內風煽動，診得脈弦而滑，是風必夾痰也。先擬祛風化痰，後投滋補，但非旦夕所能奏效。</p>
<p>天南星　白附子　煨天麻　光杏仁　絲瓜絡　老鉤藤　漂全蠍　炒殭蠶　炒白芍　乾荷蒂　竹瀝</p>

<h2>鬱火結毒</h2>
<p>（案44）陽明氣虛，肝火上越，上齶腐爛，深潭處骨雖出而膿毒未盡，此乃鬱火結毒也。時值丙火司權，甚防溢血。脈象弦，寸部尤甚，調理之要惟在養性怡情、戒葷遠酒以收效。</p>
<p>羚羊角　石決明　川貝母　雲茯苓　炒橘核　赤丹參　懷牛膝　柏子仁　冬雙葉</p>
<p>另服珠黃散：珍珠粉、西黃片、黃連末、川貝粉、人中白。</p>
<p>吹末藥：川連、青黛、月石、烏梅炭、金果炭、寒水石、燈草灰。</p>
<p>（案45）喜飲蘊毒，脾胃受之，上越清竅，時癢時腫，防成鬱火結毒，最難收效，急宜掃除一切俗煩是囑。</p>
<p>羚羊角　葛花　白蒺藜　地骨皮　鮮藕汁　焦梔子　桔梗　片花粉　石決明　活蘆根</p>
<p>複方</p>
<p>大原地　石決明　鉤藤　茯苓　炙龜板　竹捲心　炒懷牛膝　柏子仁　石斛　沙參　料豆皮</p>
<p>（案46）鬱火結毒，由肝陽偏盛真陰無附所致，形色不喜，秋冬金水尚可支持，交春夏木火，防翻花溢血是重。</p>
<p>枳椇子　柏子仁　𪼥珠粉沖服片通草　橄欖核　北沙參　天花粉　川貝粉　湘蓮子　枇杷葉</p>
<p>複方去柏子仁、通草、蓮肉，加牛膝、料豆皮、茯神、桑葉。</p>
<p>（案47）心肝胃三經火鬱遏而不宣，舌本腐爛，非尋常疳患可比。若加翻花出血則入瘡怯一途，宜節勞靜養，慎毋欲速。</p>
<p>赤丹參　羚羊角　遠志炭　湘蓮肉　辰砂拌茯神　柏子仁　川貝母　炒蒲黃　人中黃　活水蘆根</p>
<p>（案48）結毒內翻外潰，擬養營安神。</p>
<p>杜阿膠　懷山藥　赤丹參　懷牛膝　紋銀　北沙參　制首烏　遠志肉　白茯苓　荷蒂</p>
<p>（案49）喉嚨鬱火結毒，鼻漏併發，清化主治。</p>
<p>羚羊角　麥冬肉　辛夷　天冬肉　天花粉　鮮生地　炙龜板　赤苓　石決明　人中黃</p>

<h2>繭唇</h2>
<p>（案50）繭唇風紅腫，清涼主之。</p>
<p>烏犀角　麥冬肉　桑白皮　白蒺藜　甘菊花　羚羊角　炒黃芩　建連翹　淨蟬衣</p>

<h2>唇風</h2>
<p>（案51）唇風時發，乾裂起蓋，脾熱肺燥故也。</p>
<p>桑白皮　天冬肉　肥知母　炙紫菀　赤茯苓　白蒺藜　黑玄參　肥玉竹　香青蒿　炒米仁</p>

<h2>唇疳</h2>
<p>（案52）唇疳。</p>
<p>香犀角　人中黃　天冬　金銀花　黑玄參　蘆根　羚羊角　小生地　麥冬　白蒺藜　淡竹葉</p>

<h2>牙義發</h2>
<p>（案53）牙義發，延及咽喉，關竅不利，脈數，畏寒，邪在表也。</p>
<p>荊芥穗　元精石　老鉤藤　安玉桂　粉甘草　薄荷葉　炒殭蠶　象貝母　原生地　玉桔梗　粉葛根　活磁石</p>
<p>（案54）少陽有虧，虛火上炎，復感風腸，牙義屢發三載，內外交腫，脈數無力，進以化邪熄風法。</p>
<p>粉葛根　元精石　象貝　丹皮　茯苓　炒萸肉　羚羊角　煅磁石　桔梗　新會　澤瀉　茅柴根</p>
<p>（案55）牙義發，屢發屢腫痛寒熱。</p>
<p>黃防風　羚羊角　炒殭蠶　北細辛　焦車前　荊芥穗　嫩鉤藤　象貝母　炒澤瀉　香白芷　薄荷葉　活磁石</p>
<p>復　滋陰熄火法。</p>
<p>原生地　粉丹皮　石決明　天冬肉　甘池菊　元精石　炒萸肉　老鉤藤　炒白芍　焦車前　煅磁石　炒澤瀉　炒懷膝</p>
<p>（案56）牙義發，針潰流脂，內外交腫，痛及咽喉，脈來滑數，有穿腮之慮。</p>
<p>炒殭蠶　羚羊角　元明粉　玉桔梗　焦車前　象貝母　元精石　赤茯苓　焦米仁　茆根肉　粉葛根　煅磁石</p>
<p>（案57）少陰虛火上亢，牙義不利，延久不熄，腫痛口碎，治從清化。</p>
<p>二原地　羚角片　丹皮　澤瀉　炒川柏　象貝　煅磁石　元精石　車前　懷牛膝　石決明　青鹽</p>

<h2>牙癰</h2>
<p>（案58）牙癰，膿未透徹，乃陽明之火盛，清降主之。</p>
<p>煨石膏　人中黃　炒知母　炒澤瀉　廣陳皮　羚羊角　炒黃芩　象貝母　焦車前　茅根肉</p>
<p>（案59）牙齦惡腐雖脫，舌邊潰爛延蔓流涎，氣穢面腫，翼其腫退，腐盡化定為幸。</p>
<p>烏犀角　羚羊角　湖丹皮　塊滑石　鮮蘆根　鮮生地　生石膏　淨連翹　赤茯苓　茅根肉　鮮石斛　人中黃　京川貝　淡竹葉</p>
<p>（案60）肝腎不足，相火上炎，牙齦紅腫，不易杜根。</p>
<p>原生地　牡丹皮　吸鐵石　旱蓮草　胡桃肉（鹽水炒）　懷山藥　山萸肉　車前子　青鹽　懷牛膝（鹽水炒）　甘枸子　元精石</p>
<p>（案61）少陰不足，虛火上炎，齦腮癢痛，入必作熱如火燎，脈細無力，潤下主治。</p>
<p>淮熟地　女貞子　元精石　炒澤瀉　胡桃肉　枸杞子　山萸肉　懷牛膝　淡秋石　肥知母</p>

<h2>牙漏</h2>
<p>（案62）牙漏作痛出血，乃陽明實而少陰虧也。投劑稍減，脈仍細數，依方加減。</p>
<p>鮮石斛　石決明　焦米仁　料豆衣　焦山梔　炒川柏　炒黃芩　炒澤瀉　赤茯苓　活蘆根</p>
<p>（案63）牙漏延久，脈弦少神，宜培養之。</p>
<p>淮熟地　女貞子　白茯神　沙苑子　牡蠣　淮山藥　料豆衣　芡實　旱蓮草　蛀湘蓮</p>
<p>（案64）食甘蛀齒成為牙漏，久有多骨。</p>
<p>鮮石斛　麥冬肉　骨碎補　制首烏　申姜　鮮生地　粉丹皮　旱蓮草　生甘草</p>
<p>（案65）陰虛不能制陽，血乘火越，此齒衄所由來也。脈弦，治在陽明。</p>
<p>人參條　鮮石斛　炒丹皮　焦薏仁　炒阿膠　烏犀角　參三七　炒白芍　旱蓮草　茅根肉</p>

<h2>牙宣</h2>
<p>（案66）少陰不足，陽明有餘，牙宣經年。</p>
<p>生地黃　天冬肉　懷山藥　麥門冬　炙元武版　粉丹皮　炒知母　山萸肉　懷牛膝　熟女貞子　潤玄參　旱蓮草</p>

<h2>骨槽</h2>
<p>（案67）少陰虛虛實實之火上炎，復感暑邪，咽痛，牙床紅腫痠疼，關竅禁閉，成骨槽風之重候也。</p>
<p>炒殭蠶　煅磁石　羚羊角　老鉤藤　炒秦艽　玉桔梗　生茜草　安肉桂　赤茯苓　焦車前　元明精　茅根肉</p>
<p>復　骨槽風稍退，脈數而細，擬壯水制火歸源之法。</p>
<p>生地黃　粉丹皮　活磁石　甘杞子　太陰元精石　山茱萸　淮山藥　刺蒺藜　荷葉蒂焦山梔　白茯苓　新會皮　安玉桂</p>
<p>（案68）骨槽夾時毒，致內二關外二頤頑硬，按脈數而無力，臭涎，舌白，誠非淺恙。</p>
<p>粉葛根　大力子　荊芥穗　薄荷葉　桔梗　茅根　淡豆豉　炒殭蠶　青防風　馬勃　甘草</p>
<p>（案69）肝腎火浮，齒痛齦腫，口不能張，內腐氣腥，此即骨槽風之漸也。</p>
<p>石決明　活磁石　元精石　焦車前　炒澤瀉　老鉤藤　淡秋石　懷牛膝　人中黃　生地洋青鉛</p>
<p>復　骨槽旁實稍鬆動最難收斂。</p>
<p>原生地　制首烏　粉丹皮　煅牡蠣　煅石決　炒白芍　潞黨參　新會皮　遠志肉　酸棗仁　炙鱉甲</p>
<p>再復　骨槽已潰頭孔不一。</p>
<p>生西耆　生地黃　甘人中黃　炒懷膝　鮮石斛　象貝母　福澤瀉</p>
<p>焦車前子　新會皮　炒黃芩　煅磁石　乾荷蒂　焦半夏曲</p>
<p>三複　外腫已束，但內腐潭深，勢難速斂。</p>
<p>炒殭蠶　羚羊角　飛青黛　鹽新會　鮮生地　象貝母　飛滑石　鹽澤瀉　黑玄參　人中黃　天花粉　茅根肉</p>
<p>（案70）診脈虛而無力，風痰兼時毒腫脹，半月漸痛，牙義不利，防延骨槽。</p>
<p>粉葛根　海浮石　牛蒡子　毛慈姑　九孔石決明　炒殭蠶　羚羊角　荊芥穗　西赤芍　鹽水炒新會　天竺黃　象貝母</p>
<p>（案71）骨槽由風邪乘虛所致腫脹，勢防腐爛。</p>
<p>炒殭蠶　桑白皮　焦車前　老鉤藤　九孔石決明　象貝母　海浮石　淨蟬衣　甘池菊　茅根肉　蒼耳子廣橘紅</p>
<p>（案72）腎為水臟而主骨，水旺足以涵木，火無自生。腎水虧則肝木鬱而火易浮，此不時齒痛之所由致也。痛久火無由熄致成骨槽重症，自三月起內潰峻嶒，外堅如石穿孔通連舌底，血沫常流，飲食難進，脈得左弱右弦，此陰元大損、鬱火凝結之象。姑擬煎末兩方聊盡鄙意，未敢定卜有效耳。</p>
<p>秋石炒元地　鹽水炒黃柏　炙龜甲　鮮石斛　太陰元精石　鹽水炒知母　煅中白　川貝母　九制何首烏　鹽水炒懷膝　人中黃　淡珠菜</p>
<p>珠黃散方。</p>
<p>珍珠粉　飛辰砂　銀粉霜　人中黃　廣黃光　飛滑石　飛青黛</p>
<p>（案73）骨槽癰已成，內膿不清，最難於收斂。</p>
<p>生西耆　片花粉　焦米仁　象貝母　蘆根　赤丹參　炒殭蠶　炒澤瀉　生牡蠣　茅根　新會皮　人中黃　焦夏曲</p>
<p>復　孔深旁實淹纏之象。</p>
<p>制首烏　煅牡蠣　象貝　遠志　茅根　羚羊角　天冬肉　殭蠶　黃芩　澤瀉</p>

<h2>鬢疽</h2>
<p>（案74）鬢疽延大潰腐無膿，脈弦，畏寒溢血是恐。</p>
<p>生西耆　象貝母　羚羊片　遠志　夏曲　澤瀉　赤丹參　炒殭蠶　老鉤藤　磁石　黃芩</p>
<p>復　加荷葉邊、夏枯草。</p>

<h1>卷二　咽喉頸項部</h1>

<h2>爛喉</h2>
<p>（案1）時毒爛喉發丹如豆喘逆之虞。</p>
<p>人中黃　茅慈姑　赤茯苓　淡黃芩　海浮石　羚羊片　象貝母　塊滑石　炒殭蠶　炒澤瀉　大力子　光杏仁</p>
<p>復　犀角地黃湯　珠黃散</p>
<p>再復　腐脫紅腫不退，清潤主之。</p>
<p>鮮石斛　光杏仁　黑玄參　焦車前　麥冬　連翹　炒澤瀉　海浮石　赤茯苓　川貝母　茅根</p>
<p>（案2）時感爛喉，曾延喉科診治，微散即清，以致深潭腐板內嵌。</p>
<p>飲食八日不進，乃延余診治，因思失表之症仍當疏散方。</p>
<p>用淡豆豉一兩合六味湯兼珠黃散服之，微汗。腐脫，再用清化而安。</p>

<h2>咽痛喉風</h2>
<p>（案3）鎖喉風閉塞腫漫，脈數浮滑，危急之症。</p>
<p>炒殭蠶　象貝母　光杏仁　海浮石　玉桔梗　大力子　天竺黃　淨蟬衣　茅慈姑　西赤芍　荊芥穗</p>
<p>（案4）風熱咽痛關腫，左脈模糊，將成喉風重患，頗為風險。</p>
<p>生甘草　炒殭蠶　連翹　荊芥　炙甲片　活蘆根　玉桔梗　炒牛蒡　鉤藤　薄荷　益元散　陳茶葉</p>
<p>（案5）酒毒喉風來勢頗急。</p>
<p>粉葛根　光杏仁　桔梗　荊芥　炒殭蠶淡竹葉　雞距子　粉甘草　象貝　黃芩　鮮石斛　茅根肉</p>
<p>（案6）喉痛頭疼，身熱足酸，脈數，此係時邪為祟，防發痧疹。</p>
<p>大力子　淡豆豉　桔梗　甘草　焦楂肉　白殭蠶　粉葛根　薄荷　荊芥　青蔥</p>
<p>（案7）咽痛帶干，關紅不腫，舌根紅珠累累，脈象細小，乃虛實之火上炎，靜養是囑。</p>
<p>桔梗　生草　橘白　茯苓塊　炒柴胡　炒枳殼　杏仁　款冬　薄荷　炒歸身　荷葉蒂</p>
<p>（案8）寒熱咽痛瀉泄腹痛，暑傷肺胃也。</p>
<p>小黃連　陳全蔞　土藿香　赤茯苓　澤瀉　車前　淡黃芩　杏仁泥　六一散　粉葛根　茅根</p>
<p>（案9）咽痛關紅，惡寒盜汗，脈細，衛虛火動之象。</p>
<p>北沙參　西綿耆　冬桑葉　赤茯苓　貝母　茅根　黑玄參　炒米仁　粉丹皮　福澤瀉　新會</p>
<p>（案10）虛火咽痛，舌珠咽哽，靜養為熄火之要。</p>
<p>北沙參　天冬肉　川貝母　白百合　石決明　光杏仁　麥冬肉　冬桑葉　黑玄參　車前子　茅柴根</p>
<p>複方</p>
<p>制洋參　炒萸肉　甘杞子　桑葉　煅石決　鹽牛膝　炒生地　淮山藥　磁石　乾荷蒂</p>

<h2>乳蛾</h2>
<p>（案11）乳蛾身熱，脈象帶數，著寒所致。</p>
<p>粉葛根　炒殭蠶　老鉤藤　南薄荷　荊芥穗　生茜草　玉桔梗　光杏仁　焦車前　青蔥</p>
<p>（案12）乳蛾淡白。</p>
<p>杏仁　象貝　殭蠶　葛根　澤瀉　蛤粉　茅根　桑葉　山楂　浮石　新會　黃芩　桔梗</p>
<p>（案13）陰虧陽亢喉蛾屢發，進以壯水制火之法，但未易脫根耳。</p>
<p>生地　西洋參　車前　茯神　山藥　粉丹皮　麥冬肉　澤瀉　女貞　牛膝　料豆衣　石決明（煅）</p>
<p>（案14）咽痛，內外關紅腫，勢成喉癰。</p>
<p>炒殭蠶　赤芍　牛蒡子　杏仁霜　片花粉　川貝母　連翹　海浮石　莧麥冬　茅根</p>
<p>（案15）時時由口鼻吸受，先傷太陽，喉癰腫脹，當辛涼清上與之。</p>
<p>淨蟬衣　光杏仁　炒殭蠶　象貝母　杜藿香　西赤芍　玉桔梗　廣橘紅　淨連翹　南薄荷</p>

<h2>喉癰</h2>
<p>（案16）喉癰形色頗頑，未易即潰。</p>
<p>人中黃　桔梗　毛慈姑　象貝母　純鉤鉤　片花粉　杏仁　潤元參　廣橘紅　茅根肉</p>
<p>復　去人中黃、桔梗、橘紅、鉤藤、花粉，加入炙甲片、赤芍藥、連翹、陳全蔞、川石斛。</p>
<p>再復　加羚羊片。</p>

<h2>捧喉癰</h2>
<p>（案17）捧喉癰，痰涎膠固，氣塞口糜，脈代神疲，惡款已現，難卜無妨。</p>
<p>炒殭蠶　嫩柴胡　杜蘇子　廣橘紅　童便　川貝母　炒栝樓　杏心酪　馬勃　竹瀝</p>

<h2>飛揚喉</h2>
<p>（案18）喉痛復發，紅腫疊起，名曰飛揚，勢防腐爛。</p>
<p>荊芥穗　殭蠶　象貝母　連翹　毛慈姑　天花粉　粉葛根　赤芍　人中黃　杏仁　茅根肉</p>
<p>（案19）咽喉哽塞，脈滑而數，此氣阻痰凝，症名梅核氣，噎嗝之漸也。</p>
<p>南沙參　廣橘紅　制香附　焦山梔　橘葉　川貝母　海浮石　川鬱金　沉香曲　宋製半夏　白蔻殼　竹二青</p>
<p>（案20）肝鬱犯胃，曾經嘔逆，現咽乾齒浮，痛引頭間，耳鳴少寐，已成梅核氣。脈來浮大，久延成為喉痹。姑擬一方，未敢決效。</p>
<p>煅磁石　天冬　沙參　鉤藤（鹽水炒）　杏仁　鹽炒牛膝　煅石決　鬱金　玄參　元地（鹽水炒）　蘇梗　鹽炒澤瀉</p>
<p>又方</p>
<p>沉香汁炒熟地　鹽水炒白芍　代赭石　炒橘核　鹽水炒懷牛膝　鹽水炒新會　全福花乾荷蒂　砂仁拌潞黨　鹽水炒香附　嫩鉤藤　酸棗仁</p>
<p>（案21）咽喉乾燥，脈象細數，明繫上盛下虛，陰虧陽亢，法宜壯水以制陽光，並珍惜保養是囑。</p>
<p>大生地　牡丹皮　新會皮　薏苡仁　左牡蠣　淮山藥　焦黃柏　炒澤瀉　雲茯苓　女貞子　麥冬肉　胡桃肉　蛤粉炒阿膠</p>

<h2>喉痹</h2>
<p>（案22）勞傷，腎乏津液不能上承，腰痛，喉痹，緩則治本，此其候也。</p>
<p>鹽熟地　枸杞子　北沙參　淮牛膝　萆薢　澤瀉　女貞子　菟絲子　黑玄參　肥知母　胡桃　新會</p>
<p>（案23）少陰不足，喉中覺癢，是囑喉痹。</p>
<p>制香附　北沙參　安玉桂　太陰元精石　川鬱金　炒知母　焦車前　鹽水炒元地　炒澤瀉　遠志炭　炒懷膝</p>
<p>（案24）喉痹已減，誠屬佳兆，但體質嬌弱，後未可，必宜保養王道以冀土根。</p>
<p>北沙參　黑玄參　鮮生地　海浮石　麥芽　茆根　炒麥冬　炒車前　赤茯苓　福澤瀉　橘白</p>
<p>（案25）經曰：「一陰一陽，結為喉痹」，怯症之根也。入春增劇，是慮法惟壯水以制火，得水火既濟，自然浪靜風恬。其根難拔耳，擬方備參，未議再候明眼裁定。</p>
<p>西洋參　女貞子　莧麥冬　湘蓮肉　辰硃砂拌茯神　燕窩　元生地　炙鱉甲　淮牛膝　甘杞子　天冬肉　活磁石　潤元參　穭豆衣</p>
<p>（案26）勞頓傷氣，氣鬱火升，咽燥不潤，胃膈不舒，先宜清養，莫因久恙而投膩補。</p>
<p>水制香附　全瓜蔞　海浮石　沙參　新會　澤瀉　沉水香屑　蘇梗汁　石決明　麥冬　蔻殼</p>
<p>（案27）喉痹，時發粒如貫珠，咳嗆氣噎，難施膩補，清養主之。</p>
<p>北沙參　杜蘇子　柿霜　青鹽　童便　川貝母　枇杷葉　蔞霜　竹瀝</p>
<p>複方</p>
<p>燕窩屑　麥冬肉　柏子仁　橄欖核　柿霜　白茯苓　川貝母　白藥煎　竹二青</p>

<h2>喉癬</h2>
<p>（案28）木火刑金，沖激會厭，糜爛成癬，咳嗆，脈得弦數，勢屬燃眉。</p>
<p>冬桑葉　川貝母　杏仁泥　炒蘇子　枇杷葉　炒蔞仁　嫩鉤鉤　玉桔梗　官燕屑　麥冬肉</p>
<p>（案29）癬生於喉，陰虧火升所致，骨蒸，脈如有積重難返之勢。</p>
<p>川石斛　川貝母　瓜蔞仁　料豆衣　枇杷葉　北沙參　甜杏仁　馬勃　橄欖汁</p>

<h2>喉瘤</h2>
<p>（案30）喉瘤，今將半載，日漸脹大，脈沉而滑，善自調養，庶可延日。</p>
<p>北沙參　海浮石　光杏心　炙鱉甲　生蛤殼　白殭蠶　新會皮　石決明　赤茯苓　川貝母　竹二青</p>

<h2>谷賊</h2>
<p>（案31）情志抑鬱，火盛爍金，津液因之化痰，脈弦，時嗆，谷賊症也。非若喉痹、喉癬之患，養志服藥，勿重為幸。</p>
<p>⿰旁刂羚羊角　川貝母　冬桑葉　炒蘇子　鮮枇杷葉　天竺黃　海浮石　石決明　秋月石　光杏仁　竹瀝</p>

<h2>猛疽</h2>
<p>（案32）風火相搏，喉間腫脹，勢成猛疽，切勿玩視。</p>
<p>炒殭蠶　大力子　光杏仁　化橘紅　黃防風　鉤藤鉤　象貝母　嫩前胡</p>

<h2>腦疽</h2>
<p>（案33）臟腑乖違，蘊毒內熾，發為腦疽。紅暈呆腫，形勢平塌，脈象弦數，冀得高潰為佳。</p>
<p>生西耆　象貝母　紫丹參　焦夏曲　焦車前　潞黨參　新會皮　上川連　生茜草　甘菊花　赤茯苓　竹筍尖</p>
<p>復　腦疽，頭漸腐流脂無膿，胸悶欲吐，舌白胖，脈弦數右關尤大，濕蘊交蒸之象。尚未定勢，未敢輕許無妨。</p>
<p>生西耆　法半夏　廣陳皮　赤茯苓　醋煅鹿角尖　瓜蔞皮　炒米仁　江枳殼　象貝母　筍尖　茄蒂</p>
<p>再復　腐肉未脫，脈象細軟，補正為先。</p>
<p>潞黨參　遠志炭　象貝母　新會皮　忍冬花　生西耆　川石斛　雲茯苓　歸身炭　焦米仁　乾荷蒂　炒紅棗</p>
<p>（案34）腦疽形色散漫，沿皮發泡，堅硬流水，毒未化膿也。正在關節，調治得宜為要。</p>
<p>西赤芍　焦夏曲　生西耆　杜藿香　炒牛蒡　土貝母　炒殭蠶　紫丹參　淨蟬衣　益元散　制小樸　赤茯苓　家菊葉</p>
<p>（案35）平素操勞過度，脾胃致虧。今偏腦疽二旬已過關節，色頑不腐，脈細神疲，勢將內險，況當盛暑乎。擬養胃安神一法，冀其轉機再商調治。</p>
<p>人參條　白扁豆　雲茯苓　鮮荷葉　益元散　鮮石斛　新會皮　遠志肉　生穀芽　谷露（代水煎）</p>
<p>（案36）偏腦疽初發，旁腫呆實，脈軟惡寒，但年高氣衰恐不能蒸達。</p>
<p>川羌活　赤芍藥　炒川芎　象貝母　全當歸　青防風　赤茯苓　蒼耳子　焦夏曲　池菊花</p>
<p>復　年高氣弱衰形勢不盛，全憑調治得宜。</p>
<p>川芎　丹參　炮薑炭　遠志炭　象貝母　生西耆　焦夏曲　雲茯苓　蒼耳子　六一散　鮮荷葉</p>
<p>（案37）太陽濕熱，頭瘡潰化不一，勢成腦疽。</p>
<p>淨蟬衣　豬苓　滑石　丹參　大貝母　炒殭蠶　蒼耳子　赤芍　陳皮　黃耆　半夏曲</p>
<p>（案38）對口疽起發六七日，堅硬色紫若魚臍，膿脂未得，按脈滑短，殊為危險。</p>
<p>炮薑炭　炒蒼耳　炒當歸　新會皮　象貝　山梔　炒川芎　鹿角（醋煅）　遠志炭　焦夏曲　西耆</p>
<p>（案39）對口癤內疊無膿，根株堅實，脈象滑軟，氣不充也。防其內陷。</p>
<p>西耆　土藿香　焦夏曲　炙桂枝　赤芍　澤瀉　丹參　六一散　象貝母　炒蒼耳　豬苓</p>
<p>（案40）爍腦疽漫腫化大，殊屬險惡。</p>
<p>益元散　大力子　丹參　殭蠶　杜藿香　江枳殼　炒夏曲　象貝母　赤芍　小樸　蒼耳子</p>
<p>復　膿腐雖得，旁腫紅暈，營分鬱熱所致，清化主之。</p>
<p>象貝母　六一散　生地　白芍　白蒺藜　湖丹皮　羚羊角　黃耆　夏曲　金銀花</p>
<p>（案41）侵腦疽堅硬紅腫大痛，脈弦，舌光，陰虧火旺故也。</p>
<p>小川連　川芎　象貝　六一散　生西耆　赤茯苓　淡黃芩　丹參　炮姜　焦夏曲　廣藿香</p>
<p>復　得膿稍松，旁實未化，但本病消渴，脈形舌色如昨，非清潤不可。</p>
<p>羚羊角　生棗仁　生西耆　生草　焦夏曲　麥冬肉　遠志肉　赤丹參　知母　鮮石斛</p>

<h2>頸疽</h2>
<p>（案42）頸疽，紅暈略退，惟膿清皮厚，脈來滑數，此乃酒色傷脾，不易生肌。</p>
<p>炒白朮　炒白芍　川石斛　焦夏曲　赤苓　焦茅朮　生西耆　新會皮　福澤瀉　焦米仁</p>

<h2>項疽</h2>
<p>（案43）項疽腫脹。</p>
<p>炒殭蠶　蒼耳子　鉤藤　澤瀉　炒白朮　青防風　象貝母　焦夏曲　羌活　橘紅　炒秦艽</p>
<p>復　潰腐紅暈，去橘紅、鉤子、羌活，加西耆、丹參、山楂、黃芩。</p>
<p>再復　膿爽余腫未退，氣虛襲風所致，去黃芩、白芍、殭蠶、山楂、蒼耳，加生桑皮、花粉、遠志、米仁、川石斛。</p>

<h2>馬刀</h2>
<p>（案44）孀居氣鬱，郁痰凝結，成為馬刀。雖屬不甚，而操勞感暑，寒熱，仨定納穀未旺，以和中舒郁進之。</p>
<p>法半夏　白茯苓　蔻殼　扁豆　制香附　沉香曲　新會皮　杜蘇子　澤瀉　神麯　焦白芍　夏枯草</p>
<p>（案45）馬刀瘡生兩耳後，堅硬如石，痛引頭項，已潰出血不止，脈弦，逆症也。先擬止血一法。</p>
<p>參三七　炒荊芥　炒黑丹皮　炒焦白芍　茅根　茜草根　歸身炭　炒黑丹參　炒焦荷葉</p>

<h2>瘰癧</h2>
<p>（案46）瘰癧難消，內熱盜汗，脈數，頭疼，切勿玩視。</p>
<p>海浮石　薄荷葉　毛慈姑　桔梗　山梔　兩頭光　老鉤藤　石決明　炒柴胡　丹皮　新會</p>
<p>復　瘰癧稍松</p>
<p>沙參　石決明　海浮石　遠志　蛤粉　左秦艽　白芍　橘紅　香青蒿　丹皮　牡蠣　夏枯草</p>
<p>（案47）風癘，身熱，脈數而躁，胸中滿悶，頭疼舌粗，暑邪外感故也。防其吐瀉。</p>
<p>薑汁炒山梔　柴胡　薄荷　炒蔞全新會皮　薑製半夏　鉤藤　赤苓　生茜草　飛滑石</p>
<p>（案48）風癧，脈數，化邪通絡參消痰。</p>
<p>荊芥　薄荷　海浮石　炒殭蠶　天竺黃　生茜草　鉤藤　蛤殼　炒柴胡　玉桔梗</p>
<p>（案49）陰虧陽旺，濁痰凝結，瘰癧所由成也。近加風疳，痛癢並作，延漫津脂，亦因腠理不固，風邪易襲耳。脈弦帶數，交春木令司權，防重，理宜靜養保重以圖緩效。</p>
<p>羚羊角　白蒺藜　九孔石決　飛青黛　象貝母　秦艽肉　金銀花　夏枯草花　玉桔梗</p>
<p>又方</p>
<p>西洋參　川貝母　制首烏　肥玉竹　牡蠣　茯苓　清阿膠　地骨皮　燕窩屑　羚羊角　夏枯草花</p>
<p>（案50）骨蒸內熱，近怯顯然。今瘰癧貫串，診脈弦數，丙火當權，定必走竄據理進藥膩補非宜。</p>
<p>銀柴胡　連翹　金石斛　地骨皮　左牡蠣　炙鱉甲　新會　全福花　夏枯草　紫菜</p>
<p>（案51）肝腎陰虧，骨蒸肌熱，上結瘰癧，下泄陰精，職是故也。幸不咳嗆，脈象亦和，擬用扶本攝精，庶幾陰足則自然熱退，正旺則痰亦自平，不致延入癧癆，惟王道無近功耳。若論刀針掐法，焉能濟事？仍候審裁。</p>
<p>制首烏　潞黨參　杜阿膠　女貞子　線魚　膠珠　川貝母　白茯神　淮山藥　左牡蠣　北沙參</p>
<p>復　去阿膠、沙參、川貝、女貞，加柴胡、元武版、沙苑、玉竹、芡實、金櫻子、湘蓮、童便，數劑後可加料丸服。</p>

<h2>挾癭</h2>
<p>（案52）腎水虧於下，相火浮於上，少陽虛痰凝結，不實不疼，經今半載，曾小潰即斂，而根株如故。脈形沉數細軟，加之咳嗽力疲，症名挾癭。勿希速效。</p>
<p>熟地黃　制香附　川貝　天冬　全福花　淡珠菜　炒白芍　炒歸身　阿膠　蛤粉　夏枯草　牛膝</p>
<p>復　扶元參化痰。</p>
<p>制首烏　宋半夏　光杏心　莧紫菀　老鉤鉤　肥玉竹　鹽新會　生蛤殼　大沙參　白殭蠶　生西耆　干百合</p>

<h2>風痰</h2>
<p>（案53）風痰兼時毒，頭面漫腫。</p>
<p>炒殭蠶　大力子　羚羊片　冬桑葉　塊滑石　蒼耳子　西赤芍　蟬蛻　焦夏曲　象貝母　家菊花</p>
<p>（案54）風痰堅實不痛旬余，診脈弦數，消散難矣。</p>
<p>柴胡　前胡　石決明　磁石　羚羊角　竹茹　殭蠶　夏曲　毛慈姑　鉤藤　象貝母　荷邊</p>
<p>（案55）風痰綿軟。</p>
<p>炒殭蠶　海浮石　廣橘紅　鉤藤　竹二青半夏曲　京三稜　生蛤殼　制膽星　象貝母</p>

<h2>時毒</h2>
<p>（案56）少陽陽明地位風痰頑硬，身熱脈數，腫勢漸大，乃挾時毒使然，舌黃膩，治從疏邪軟堅法。</p>
<p>羚羊角　法半夏　鉤藤　炒殭蠶　大力子　杏心　毛慈姑　新會皮　菊花　海浮石　生蛤殼　川貝</p>
<p>（案57）時毒齦腐，勢頗鋒銳。</p>
<p>黃芩　赤芍　人中黃　殭蠶　天花粉　茅根　連翹　象貝　羚羊角　滑石　半夏曲</p>
<p>（案58）少陽時毒，頑硬作痛，痛引耳竅咽喉，身熱鼻衄，脈緊，風溫內蘊之候。</p>
<p>羌活　桑葉　海浮石　炒殭蠶　鉤藤鉤　燕竹葉　荊芥　赤芍　毛慈姑　大貝母　廣橘紅</p>
<p>（案59）時毒兜腮漫腫堅實，身熱而脈數，勢必成潰。</p>
<p>連翹　京貝母　焦夏曲　桔梗　羚羊角　竹茹　殭蠶　人中黃　毛慈姑　杏酪　西赤芍　茅根</p>
<p>復</p>
<p>桑白皮　殭蠶　蒼耳　黃芩　淨蟬衣　白蒺藜　羚羊角　西赤芍　連翹　夏曲　象貝塊　滑石</p>
<p>再復　已潰</p>
<p>沙參　粉丹皮　殭蠶　羚羊角　天竺黃　象貝母　麥冬　夏枯草　蛤殼　薄荷葉　石決明　竹二青</p>

<h2>玉枕疽</h2>
<p>（案60）臟腑乖違，陰陽不和，以致毒聚膀胱，發為玉枕疽，形色平滯，況年逾花甲，氣血衰憋，托毒殊難。擬方服後，再觀動靜。</p>
<p>何首烏　忍冬花　玉桔梗　石決明　筍尖　象貝母　生茜草　遠志肉（炒）　西赤芍　夏曲</p>
<p>復　投劑小效，但審脈察形皆非高年所宜，身熱發癢塊，亦明系血衰毒勝所致，支撐殊非易易，再擬清蘊化毒，冀得效靈為妙。</p>
<p>烏犀角　炒焦半夏曲　金銀花　丹參　天花粉　何首烏　辰砂拌　茯神　甘中黃　象貝　黑豬苓　片通草</p>

<h1>卷三　上下身內癰部</h1>

<h2>蜂窠疽</h2>
<p>（案1）蜂巢疽，紅暈旁實未膿。</p>
<p>西赤芍　金銀花　焦夏曲　生西耆　淡黃芩　赤丹參　象貝母　焦山楂　羚羊角　六一散</p>
<p>復　頭潰得脂而漫腫化，勢不遽定也。紅暈開，大勢防毒陷，慎之。</p>
<p>烏犀角　黃芩　草一金　香附　益元散　象貝　羚羊角　赤芍　焦夏曲　陳皮　赤丹參</p>
<p>再復　化腐未定，脈細神疲，元虛兆矣。未許風波恬息。</p>
<p>生西耆　杜藿香　新會　象貝　焦蔞皮　益元散　焦山梔　丹參　夏曲　羚羊片</p>
<p>三複</p>
<p>潞黨參　炮薑炭　杜藿香　新會皮　象貝母　生西耆　羚羊片　炒歸身　福澤瀉　赤丹參　焦夏曲</p>

<h2>發背</h2>
<p>（案2）上背發雖腐膿，非純陽可知，進以補托回陽之法，冀有轉機。</p>
<p>生西耆　赤丹參　象貝母　廣陳皮　焦夏曲　炒歸身　炒川芎　赤茯苓　廣藿香　鹿角霜</p>
<p>（案3）背疽腫而實虛不可知矣，脈細，寒熱，紅暈流脂，胃滿舌白，勢必猖獗，補正卻邪以冀潮平風正。</p>
<p>潞黨參　赤丹參　茯苓　川石斛　炒荊芥　生西耆　土貝母　新會　炒歸身　焦夏曲　陽春砂仁</p>
<p>（案4）貴體肥胖，氣虛痰多顯然可見，加之鬱怒不舒，胃肝並病，發為背疽。漫腫無膿堅硬，身重，診脈弦滑，與純陽之症迥別，正在猖獗，未卜無妨。</p>
<p>潞黨參　縮砂仁　鹿角片　焦遠志　沉香片　安玉桂　制附片　焦夏曲　新會皮　皂角針　白蔻殼</p>
<p>復　膿脂漸得，疆界亦分，惟納減便溏，舌白脈滑，尚在中流，再松為妥，仍守前法。</p>
<p>生西耆　炒歸身　制附片　炒扁豆　焦夏曲　鹿角片　潞黨參　生白芍　云茯神　新會皮　生甘草　西砂仁</p>
<p>（案5）暑濕內蘊，發為背疽。紅暈作痛，堅實無膿，進以托化，冀其轉旋。</p>
<p>制小樸　西耆　京川貝　丹參　淡黃芩　益元散　廣藿香　赤苓　福澤瀉　陳皮　半夏曲</p>
<p>復　紅暈尤甚，膿腐不來，托裡化毒之外無他術也。</p>
<p>生西耆　補骨脂　焦米仁　陳全蔞　象貝母　紫丹參　炒荊芥　川石斛　焦夏曲　赤茯苓</p>
<p>（案6）下背發位近腎俞，紅暈開大，平塌漫腫，只流清水，身熱而脈象模糊，此陰陽參半，內本有虧之候也。先擬化毒，冀得不增惡疑為本。</p>
<p>制小樸　西赤芍　生杜仲　赤茯苓　焦夏曲　香青蒿　六一散　杜藿香　赤丹參　象貝母　淡子芩</p>
<p>復　背發內潰盈尺，潰膿甚少，色紫氣腥，險途未出。</p>
<p>赤丹參　提潞黨　焦白朮　川石斛　新會皮　生西耆　炒歸身　焦米仁　浙貝母　焦夏曲　福澤瀉</p>
<p>（案7）中背疽膿出甚少，惡腐未脫，何恃不恐？姑擬托化，冀得內潰膿流為佳。</p>
<p>潞黨參　赤丹參　浙貝母　新會皮　赤苓　生綿耆　鹿角尖　炒川芎　炒白朮　炒歸身　紅棗　炮薑炭</p>
<p>復　腐脫新生頗為佳兆，而納少神疲顯系中虛未復，仍以補托進之。</p>
<p>潞黨參　生西耆　甘杞子　炒白芍　新會皮　炒歸身　炒白朮　粉萆薢　白茯神　淡蓯蓉　厚杜仲</p>
<p>（案8）背疽毒雖腐化，而寒熱不時，舌乾納少，中虛顯見，陰因下陷也。補中益氣東垣之成法可遵。</p>
<p>老山高麗　軟柴胡　金石斛　雲茯苓　甜新會　生大有耆　炙升麻　炒麥冬　料豆衣　廣橘白　酒炒歸身　鮮荷葉</p>

<h2>背搭</h2>
<p>（案9）背搭紅暈未潰，畏寒脈軟，托化為先。</p>
<p>生西耆　京赤芍　米仁　焦夏曲　生茜草　浙貝母　塊滑石　新會　淡子芩　燕竹葉</p>
<p>（案10）腎俞發，腐脫溢血，脈細，納少，善自珍重調攝，化定血止為佳。</p>
<p>潞黨參　制冬朮　枸杞子　川杜仲　焦山楂　炙西耆　炒澤瀉　菟絲子　川石斛　新會皮　白雲神　炒白芍　鹽水炒胡桃肉</p>

<h2>腰疽</h2>
<p>（案11）腰疽，漫腫不紅痛不歸頂，脈滑少力氣，陽有虧之候，最不易潰。</p>
<p>生西耆　炒川芎　丹參　半夏　廣陳皮　川杜仲　煅鹿角　炒川斷　杞子　茯神　浙貝母　胡桃肉</p>
<p>（案12）腰間疼痛徹環跳及腿，不時變發，舌胖，脈數少力，是屬中虛痰滯，不易杜根。</p>
<p>北沙參　廣藿香　桑椹子　厚杜仲　炒金狗脊　遠志肉　川石斛　制首烏　雲茯苓　大功勞</p>
<p>（案13）腰疽，頭不高聳，根株散漫，色腐脂積，勢頗險惡，乃陰多陽少之症，全賴胃氣旺而膿腐多，庶無變遷之惡患。</p>
<p>何首烏　夏曲　金銀花　生穀芽　皂角針　生西耆　丹參　新會皮　生茜草　砂仁末</p>
<p>復　證象如前，毒陷，是恐正在危險之際，勉擬一方，一覘動情。</p>
<p>生西耆　杞子　炙遠志　制首烏　花粉片　潞黨參　茯神　新會皮　麥冬（去心）　象貝母　西砂末</p>

<h2>纏腰火丹</h2>
<p>（案14）纏腰火丹已經泡潰，延漫未止，加之忍痛，氣滯脈絡不舒，清蘊兼理氣。</p>
<p>淡黃芩　元參　草鬱金　制香附　全蔞皮　桑白皮　白芷　金銀花　六一散　左秦艽</p>

<h2>禽疽</h2>
<p>（案15）臟腑一有乖違即陰陽不和，致多偏勝，濕痰易凝，況乎年高營衛兩虧，今背腫，幾處狀如被傷之象，脈形滑，木痛，毒最易陷，慎勿藐視。</p>
<p>制小樸　焦米仁　牡蠣　黑豬苓　赤苓　半夏曲　金銀花　遠志　白茯苓　棗皮</p>
<p>復　禽疽腐爛，脈來洪數，毒火內熾，難卜無妨。</p>
<p>人中黃　赤丹參　焦遠志　焦米仁　金銀花　天花粉　煅石決　棗皮　黑豬苓　焦夏曲</p>

<h2>肺癰</h2>
<p>（案16）咳久傷肺，肺熱成潰，已成內癰。</p>
<p>羚羊片　金沸草　杏仁　海浮石　麥冬　干百合　陳全蔞　炙鱉甲　白芨　廣橘白　銀杏</p>
<p>（案17）肺癰久潰，咳嗆仍然，而嘔痰帶紅，脈數無力，延痿之象。</p>
<p>冬桑葉　杏仁　橘白　紫菀　生蛤粉　炙鱉甲　真貝母　沙參　茯神　羚片　麥冬肉　茆根肉</p>
<p>復　咳嗆稍減</p>
<p>潞黨參　麥冬　蛤粉　五味子　干百合　湖丹皮　生西耆　玄參　紫菀　廣橘白　地骨皮　鮮枇杷葉</p>
<p>（案18）久嗽成痿，近加寒熱，肋痛氣喘顴紅，脈數，勢防虛脫。</p>
<p>大熟地　川貝　麥冬　炒懷牛膝　蛤粉　海浮石　西洋參　紫菀　云神　白花百合　蔞皮　金沸草</p>
<p>（案19）肺痿，咳嗽臭痰俱減，脘脹亦鬆，惟脈數堅大未盡平和，仍擬保肺化痰，勿食辛辣腥膻，尚可緩以圖功。</p>
<p>北沙參　干百合　茯苓　白芨　冬瓜仁　炙鱉甲　淡天冬　炙紫菀　橘白　川貝　生蛤粉　石決明　銀杏</p>

<h2>胃疽</h2>
<p>（案20）氣鬱瘀滯復加寒熱傷脾，積形顯然，氣升刺痛，此胃疽已成也。但元虛脈軟，不能潰則危。</p>
<p>香青蒿　煨草果　黃芩　炒全蔞　制香附　焦山楂　杜蘇梗　蛤粉　炙紫菀　炙鱉甲　加全福花</p>
<p>（案21）胃內疽，依然咳嗆引痛，總難支載。</p>
<p>炒全蔞　北沙參　紫菀　香青蒿　焦麥芽　青皮　薤白頭　麥冬肉　蛤粉　炙鱉甲　金沸草</p>
<p>（案22）痢久傷中，積瘀氣滯，致成胃疽。堅實作痛，已經匝月，脈弦右滑，消之不易。</p>
<p>焦全蔞　焦白朮　廣鬱金　六神麯　焦白芍　制香附　焦枳殼　沉香片　煨草果　瓦楞子　新絳屑　全福花</p>

<h2>肚癰</h2>
<p>（案23）症屬肚癰，脈形弦數，系痰食傷三者為祟。納食作脹，是一徵也。殊為難理。</p>
<p>製厚朴　焦六曲　焦山楂　煨草果　蛤粉　米仁　炒枳殼　炒麥芽　老蘇梗　瓦楞子　牡蠣　赤苓　加荷葉炭</p>
<p>復　身熱脈數，勢在蒸膿。倘若吐瀉交作，恐難支持。</p>
<p>炒全蔞　制小樸　焦夏曲　山楂肉　砂仁末　薤白頭　老蘇梗　新會皮　炒麥芽　生茜草</p>
<p>（案24）肚癰，咳嗽氣逆加以身熱，脈象見數，正不敵邪，深為可慮，但瘀滯不為盡驅，專籍參朮諸補品以冀平安，竊恐養賊貽害，斷乎不可！</p>
<p>炒全蔞　光杏仁　炙紫菀　荊芥　砂仁生草　薤白頭　桑白皮　全福花　六神麯　麥芽</p>
<p>復　生西耆　川石斛　焦夏曲　荊芥穗　紫菀茸　炒歸身　紫丹參　新會皮　生蛤粉　焦山楂</p>

<h2>膻中疽</h2>
<p>（案25）臟腑不和，七情抑鬱，毒火凝結，膻中生疽，腫痛未膿，尚非定勢。</p>
<p>羚羊片　淡黃芩　西赤芍　廣鬱金　焦夏曲　建連翹　六一散　制香附　赤丹參　赤茯苓　鮮竹葉</p>

<h2>大腹癰</h2>
<p>（案26）損傷瘀積，久患腹痛，糞紅，今大腹凝結攻痛，按其部位內應大腸，脈形細數，成癰之慮。</p>
<p>川楝子　焦楂肉　大腹絨　薤白頭　宣木瓜　炮薑炭　焦麥芽　炒栝樓　福澤瀉　炒青皮　西赤芍</p>

<h2>腸癰</h2>
<p>（案27）腸癰高腫作痛，外發將潰，仿孫真人丹皮大黃湯，意參以托裡。</p>
<p>粉丹皮　穿山甲　炒川芎　廣陳皮　焦穀芽　生西耆　赤丹參　淡海藻　蘄艾絨　川石斛　炒栝樓</p>

<h2>少腹癰</h2>
<p>（案28）勞頓傷氣，氣滯血凝，少腹攻痛，按之堅實，腸癰將成也。先宜溫通，蓋通則不痛耳。</p>
<p>上肉桂　焦枳殼　薤白頭　全蔞　赤苓　焦山楂　白檀香　萆桃仁　炒秦艽　赤芍　神麯</p>
<p>（案29）少腹攻痛如拳，按之堅實，脈旺身熱，將成小腹癰之候，進以疏通法。</p>
<p>官桂　遠志　粉丹皮　赤苓　西赤芍　薤白　米仁　白檀香　秦艽　焦山楂　杜蘇梗</p>
<p>復　生西耆　澤瀉　上官桂　白檀香　赤芍藥　赤丹參　豬苓　全福花　薤白頭　鐵鑰匙</p>
<p>（案30）勞頓氣滯受寒，腹痛攻鳴，便結，脈象沉細，勢成腸癰。</p>
<p>薑汁炒川連　軟柴胡　炒栝樓　青皮　小茴香　上官桂　金鈴子　大腹皮　烏藥　焦山楂　薤白頭　荔子核</p>
<p>（案31）縮腳小腸癰，筋弛腰疼，引及環跳，脈形甚數，由勞傷所致。</p>
<p>羚羊角　安肉桂　威靈仙　炒秦艽　全福花　焦山楂　歸鬚　香獨活　西赤芍　六神麯　白檀香　忍冬花</p>
<p>復　安玉桂　威靈仙　全福花　焦山楂　絲瓜絡　川楝子　白檀香　炒歸鬚　六神麯　野地蔥</p>
<p>（案32）腸癰溢血，膿水時流，脈來細數，兩尺無神，往來晡熱，延怯堪虞。</p>
<p>鮮石斛　北沙參　揀麥冬　焦米仁　茯苓　青苗葉　炒扁豆　冬桑葉　炙紫菀　粉丹皮　新會</p>
<p>（案33）小腸癰內潰，膿水不止，寒熱作痛，便艱納減，脾腎兩虧，殊為制肘。</p>
<p>潞黨參　大腹皮　生穀芽　煨草果　茴香　焦白朮　冬瓜皮　焦瓜蔞　甘杞子　川楝　白芍</p>
<p>（案34）產後元虛，垢瘀留滯，少腹時覺緩痛，內癰兆也。</p>
<p>制香附　上官桂　小茴香　焦山楂　青皮　炒柴胡　薤白頭　炒歸尾　臺烏藥　半夏　栝樓</p>
<p>（案35）產後勞頓瘀滯成漏，失調延久，肝腎並虧，腹痛有形。</p>
<p>炒延胡　厚杜仲　炒青皮　紫石英　炒川芎　炮薑炭　川桂枝　蘄艾絨　全當歸　茺蔚子　菟絲子　湖丹皮</p>
<p>（案36）產經匝月，二便不通，結塊作痛，瘀滯為祟也。</p>
<p>五靈脂　炒元胡　焦南楂　炒牛膝　海浮石　制香附　澤蘭葉　炒歸尾　制乳香　牛皮膠　加真西琥珀</p>
<p>（案37）大腹癰，紅腫堅實，托裡主之。</p>
<p>生西耆　羚羊片　大腹皮　六一散　焦夏曲　赤丹參　象貝母　淡黃芩　花粉片　炒全蔞</p>
<p>（案38）少腹堅塊不動不變，而藥後腿骱筋脈漸覺有力，脈軟左弦，仍議清絡壯筋參化痰主治。</p>
<p>羚羊角　煅牡蠣　狗脊　桑寄生　焦白芍　生蛤粉　北沙參　炙鱉甲　杜仲　五加皮　大功勞　川石斛</p>
<p>（案39）少腹疽，紅暈堅實，腐爛堪虞。</p>
<p>羚羊角　土貝母　連翹　焦山楂　赤茯苓　陳皮　制小樸　廣藿香　赤芍　大腹皮　六一散　黃芩</p>

<h2>膀胱疽</h2>
<p>（案40）暑濕交感。發為膀胱疽，不高散漫，恐有毒邪內陷之險。</p>
<p>焦夏曲　赤茯苓　廣藿梗　六一散　生茜草　土貝母　金銀花　元紅花　炒青皮　竹筍尖</p>

<h2>乳岩</h2>
<p>（案41）厥陰氣滯，郁痰留絡，左乳結核四載，堅實著骨，其色變紫，膚裂脂流，時出血水，此癖症成岩，元虛脈數，日漸加重之勢。宜開鬱解怒，俾得帶疾延年已為幸事。</p>
<p>蛤粉炒阿膠　北沙參　料豆衣　炙鱉甲　羚羊角　夏枯草　炒白芍　天冬肉　九孔石決明　炒菟絲　粉丹皮　山萸肉</p>
<p>（案42）情懷抑鬱，木不條達，致左乳結核，兩月，日大，岩之漸也。胃滿腰楚，溲澀，脈大，雖肝木受病而氣鬱土亦受困，消散極難。苟非怡情養志，難保無虞。</p>
<p>制香附　廣鬱金　沉香曲　臺烏藥　炒柴胡　炒栝樓　廣橘核　炙鱉甲　大腹皮　六神麯　川黃連　全福花　加陽春砂仁</p>
<p>（案43）核雖小而便泄腹痛，此陽亢陰弱、臟腑不和，照前方加減。</p>
<p>制香附　大腹皮　焦白朮　薤白頭　煨草果　炒蔞皮　焦冬朮　焦麥芽　瓦楞子　廣藿香</p>
<p>（案44）肝血素虧，剛陽內郁，氣結痰凝，日久高疊色紫，已屬岩象。曾經潰孔溢血，今兩脈數弦大，若加肉翻再溢鮮血，恐非藥石所能奏效者也。勉擬柔肝養營，是否有當即候高明裁酌。</p>
<p>大元地　天門冬　鹽水炒純鉤藤　山萸肉　生白芍　石決明　蛤粉拌炒阿膠　北沙參　粉丹皮　羚羊角　鹽水炒懷牛膝</p>
<p>（案45）兩乳結核絕不紅腫，而按之痠疼，脈數而弦，非旦夕所能奏效者也。</p>
<p>炒歸身　川貝母　山楂核　牡蠣　夏枯草　兩頭光　炒白芍　新會皮　干橘核　阿膠　制香附</p>

<h2>乳吹</h2>
<p>（案46）內以風，乃胎氣所致。蓋懷孕四月，陽明司胎，而乳房屬胃故也。宜安胎氣為主，不可專做外症調治，斯為得之。</p>
<p>炒青皮　炒枳殼　大腹皮　花粉片　嫩前胡　新會皮　玉桔梗　炒柴胡　老蘇梗　象貝母</p>

<h2>乳癰</h2>
<p>（案47）乳癰初起，化瘀主治</p>
<p>瓜蔞仁　炒香附　象貝母　廣陳皮　廣木香　生麥芽　廣鬱金　建連翹　金銀花　花粉片　加活水蘆根</p>
<p>復　加石決明、羚羊角</p>
<p>（案48）產後營虛，乳癰腐化不定，身熱，食少便泄，脈數，法當清養。</p>
<p>生西耆　川石斛　焦遠志　新會皮　炒穀芽　炒白朮　炒白芍　羚羊角　白扁豆　焦夏曲　厚杜仲　制香附</p>
<p>（案49）新產哺勞，復加勞動忍傷脈絡，右乳旁根流痰腫脹，已非退熱。</p>
<p>炒柴胡　青防風　炒青皮　制香附　炒秦艽　半夏曲　廣鬱金　焦白芍　全福花　炒川芎　瓦楞子</p>
<p>（案50）傷絡受寒，痰凝結塊，脹及乳囊，寒熱，難圖消散。</p>
<p>炒柴胡　炒秦艽　楂核　全栝樓　香附　炒枳殼　半夏曲　川芎　全福花　荊芥　蔥管</p>

<h2>下疳</h2>
<p>（案51）濕熱下注，莖痛流脂，恐成疳症。</p>
<p>粉萆薢　黃芩　赤茯苓　炒秦艽　焦白朮　粉豬苓　澤瀉　海桐皮　西赤芍　香白芷</p>
<p>（案52）濕熱成疳，莖痛無膿，法當分利。</p>
<p>淡子芩　福澤瀉　赤苓　片通草　粉萆薢　羚羊角　塊滑石　豬苓　土貝母　軟柴胡</p>
<p>（案53）莖管作痛潰腐，非尋常疳患可比，宜耐心靜養，庶不貽無窮之害。</p>
<p>金銀花　人中黃　赤苓　土茯苓　燈心　萹蓄草　龍膽草　滑石　粉萆薢</p>
<p>（案54）下疳由中毒所致，恐深入臟腑，是重議進養陰化毒法。</p>
<p>生首烏　小生地　金銀花　龍膽草　鮮土茯苓　石決明　粉丹皮　六一散　赤茯苓</p>
<p>每朝清晨淡鹽湯調服珍珠粉四分、琥珀末五分。</p>
<p>復　誤服毒藥，引火上升，有穿鼻爛唇難理之勢。</p>
<p>烏犀角　鮮生地　人中黃　土茯苓　黑山梔　羚羊角　元武版　懷牛膝　金銀花</p>
<p>再復　加鹽水炒黃柏、知母以清龍雷之火。</p>

<h2>陰疳</h2>
<p>（案55）毒瘡久染，白濁之後小便滴瀝，身熱，脈數，當用滋腎丸，參入升麻、柴胡、琥珀屑。遺毒致成疳，頗為利害，議用二黃法，以小腸火腑，心熱下遺，非苦不能入心而通小腸也。</p>
<p>真川連　淡黃芩　蘆薈　六一散　焦苡仁　川黃柏　烏犀角　赤苓　金銀花　石決明</p>

<h2>螺蝦纏</h2>
<p>（案56）濕熱下注，氣化不宣，外觸毒邪，致成螺蝦纏，痛癢並作，勢防腐爛。</p>
<p>桑白皮　香白芷　淡黃芩　車前子　甘草梢　滑石　玉桔梗　白通草　淡竹葉　土貝母　豬苓</p>
<p>（案57）螺蝦纏愈後，渾身發腫，便溏溲少，脈沉細短，舌白且膩，風濕乘脾之候，理中化濕。</p>
<p>桑白皮　赤苓皮　新會皮　焦茅朮　粉萆薢　扁豆衣　大腹皮　栝樓皮　杜蘇梗　漢防己　青防風　加生薑皮</p>

<h2>肛癰</h2>
<p>（案58）肛旁癰雖系濕熱為患，究因先天不足，水不潤金，肺陽下陷大腸，致潰久不斂。恐延內熱，咳嗆成怯最易。</p>
<p>北沙參　杏仁霜　天冬肉　炙紫菀　煅牡蠣　炙鱉甲　海浮石　懷山藥　粉萆薢　白芡實</p>
<p>（案59）肛癰已潰，肉凸流脂，按脈虛數，納減，乃中虛濕陷，未決奏功。</p>
<p>潞黨參　元武版　京川貝　焦遠志　加真西琥珀　制首烏　生西耆　新會皮　炒柴胡　象牙屑　川石斛　炒子芩　福澤瀉　炙升麻</p>
<p>（案60）肛癰潰久，眼細根深，時作旁脹，加之胃痞作痛，氣怯不舒，舌黃少液，咽痛且干，脈象弦細，乃水不涵木，木來侮土而虛陽上亢，濕熱下注，漏怯之成勢所必致。</p>
<p>炙元武版　炒歸身　煅牡蠣　炒菟絲子　麥冬肉　元生地　炒白芍　煅決明　炒茺蔚子</p>
<p>（案61）肛癰延久，老膿成管，化頭滋蔓不一，診脈滑數，真水弱而濕蘊不清，患難體弗事霸術於貴體方宜。</p>
<p>二原地　南沙參　粉萆薢　黃芩　懷山藥　米仁　元武版　湖丹皮　海浮石　天冬　象牙屑</p>

<h2>肛漏</h2>
<p>（案62）咳久失血，肺絡內傷，移注大腸，肛門成癰。肺與大腸相為表裡。今觀症若是，非明徵乎？但患由內致，久必成漏生管。剪割掛線，雖有其法，未敢輕信。治惟益陰以制陽，使火不上亢，紅將自止而咳亦自平矣。然後依次調理，盡善不怠。既免延怯於當前，可冀收功於後日，孰輕孰重願足下自權之耳。</p>
<p>制何首烏　石決明　北沙參　赤丹參　焦苡仁　炙元武版　川貝母　栝樓仁　側柏葉　赤茯苓</p>
<p>（案63）肛癰腫脹。　羚羊角　淡黃芩　炙升麻　生西耆　丹皮　陳皮　川萆薢　福澤瀉　炒川芎　炙鱉甲　槐米</p>
<p>（案64）肺主氣，咳久傷絡未由宣泄，由臟及腑，肛患穿潰，幸脈象尚和，未見細數，急宜珍重，庶不致延入怯門。若論刀針諸法，敬謝不敏，竊恐非徒無益，反致弄巧成拙耳。戒之，慎之。</p>
<p>北沙參　川石斛　冬桑葉　廣橘白　炙龜板　光杏仁　川貝母　炙紫菀　麥冬肉　石決明　炒蔞仁</p>
<p>復　加制首烏、懷熟地，去杏仁、桑葉。</p>

<h2>沿肛結毒</h2>
<p>（案65）濕毒交併，沿肛腐爛，時癢時痛，不易脫體。</p>
<p>土茯苓　生首烏　嫩苦參　元武板　焦苡仁　烏犀角　金銀花　白蘚皮　生茜草　白蒺藜</p>

<h2>痔漏</h2>
<p>（案66）中虛濕熱，下陷成痔，脈弦數，久則生管成漏，擬化濕補中。</p>
<p>潞黨參　焦茅朮　炙升麻　生西耆　焦米仁　焦白朮　炒川柏　粉萆薢　象貝母　炒青皮</p>
<p>（案67）痔漏經久，脂水常流，津液因之漸耗。雖起由濕熱，實則三陰內虧，真元不固，肝陽得以擾動，脈形虛弦，此其徵也。宜耐性調治，冀得帶疾延年，不增乾咳諸款已為幸事。勿事霸圖，免致變端蜂起。</p>
<p>提潞黨　玄武板　赤丹參　煅石決　焦苡仁　西洋參　制首烏　粉丹皮　浙貝母　粉萆薢　生西耆　白雲苓</p>
<p>復　生洋參　女貞子　煅牡蠣　粉萆薢湖丹皮　潞黨參　川石斛　制首烏　象牙屑　湘蓮肉　元武板　花粉片</p>
<p>（案68）肝腎內虧，濕邪因之下注。痔瘍經久成漏，化頭肉凸，經庸手剪割復戕元氣，咳嗽內熱，已成瘡怯，難保無妨。</p>
<p>北沙參　金石斛　生穀芽　生於術　穭豆皮　莧麥冬　云茯神　廣橘白　生西耆　福澤瀉</p>
<p>（案69）營衛兩虧治宜填補</p>
<p>潞黨參　大熟地　制冬朮　沙苑子　懷山藥　生西耆　杜阿膠　炙升麻　肥玉竹　炙甘草</p>

<h2>臟毒</h2>
<p>（案70）臟毒由濕熱下注而成。</p>
<p>炒蔞仁　忍冬藤花　粉萆薢　土貝母　石決明　火麻仁　松子仁　甘草梢　制首烏　通天草</p>
<p>復　加⿰旁刂羚羊角</p>
<p>（案71）陰虧者必陽旺，木火刑金致傷肺絡，宜其上迫吐紅下注成毒。蓋肺氣下墜大腸無所發泄而成斯疾也。蒂固根深之症非同膚淺。</p>
<p>北沙參　莧麥冬　西洋參　赤丹參　蛤粉　炒阿膠　制首烏　石決明　川石斛　鮮藕汁　炙玄武板</p>
<p>（案72）勞頓受寒，寒戰身熱，挾濕下注，睪丸腫脹，痛及內股，脈數弦硬，嗆咳舌白，節勞，多藥以消之。</p>
<p>炒柴胡　赤茯苓　川楝子　小茴香　細石斛　霜桑葉　炙紫菀　地膚子　炒秦艽　砂仁殼　半夏曲　加荔子核</p>
<p>復　腫減脹痛未除。</p>
<p>炒柴胡　赤茯苓　廣木香　粉萆薢　炒秦艽　福澤瀉　炒青皮　焦楂核　地膚子　加荔子核</p>

<h2>囊癰</h2>
<p>（案73）囊癰潰後，腫脹未消。</p>
<p>炒柴胡　赤苓　生四耆　新會皮　焦楂核　大腹皮　炙升麻　萆薢　焦白芍　炒橘核　湖丹皮</p>
<p>（案74）塞濕下陷，腎囊腫痛，寒熱，舌白脈數，腐爛脫殼，是重。</p>
<p>川楝子　粉萆薢　焦楂核　香青蒿　黃芩　澤瀉　炒青皮　炒撫芎　軟柴胡　炙鱉甲　滑石</p>
<p>復　筋大稍減，偏墜未松，從平肝法。</p>
<p>炒金鈴子　炒白芍　炒川柏　酸棗仁　荔子核　炒軟柴胡　炒秦艽　焦遠志　煅牡蠣　生草梢　炙玄武板　加湘蓮肉、芡實</p>
<p>（案75）肝腎內虧，寒濕外襲，囊癰延久成漏，脈形虛軟，治從顧本為宜。</p>
<p>制首烏　金石斛　赤茯苓　焦米仁　厚杜仲　煅牡蠣　料豆衣　建澤瀉　炒白芍　白蓮肉</p>
<p>復　加潞黨參</p>
<p>（案76）囊癰紅腫作痛，殊難消散。　羚羊角　軟柴胡　焦楂核　江枳殼　赤苓　萆薢　金鈴子　炒青皮　嫩鉤藤　干橘葉　新會</p>
<p>（案77）疝之為病，肝腎虧也。宜溫補化濕，庶不成瘍。</p>
<p>安玉桂　鹿角霜　廣橘核　臺烏藥　淡蓯蓉　懷熟地　甘杞子　全福花　淡海藻　吳茱萸　葫蘆巴　粉萆薢</p>

<h2>繡球風</h2>
<p>（案78）血燥積熱，腎囊膚裂出血，瘙癢難支，症名繡球風，和營潤燥主之。</p>
<p>白歸身　制首烏　柏子仁　苦杏仁　地膚子　中生地　嫩苦參　白蘚皮　單桃仁　威靈仙　豨薟草</p>

<h2>跨馬癰</h2>
<p>（案79）肝腎並虧，濕痰交滯，便濁囊脹，後房結為痰核，已成跨馬癰。</p>
<p>粉萆薢　土貝母　海浮石　羚羊尖　阿膠（蛤粉炒）　左牡蠣　淡黃芩　炒川白　焦楂核　淡竹葉</p>
<p>復　已潰無膿，勢必腐化。</p>
<p>軟柴胡　赤茯苓　黃芩　羚羊角　澤瀉（鹽水炒）　粉萆薢　生西耆　廣皮　土貝母　焦楂核</p>

<h2>懸癰</h2>
<p>（案80）屏翳穴，一名會陰穴，為任脈經首穴也。今三陰虧損，外兼濕熱，成為懸癰。宜節勞靜養，庶得稍瘳，先以化濕主治。</p>
<p>生首烏　黃芩　忍冬花　炒川芎　鹽水炒澤瀉　土貝母　赤苓　甘草節　天花粉</p>
<p>（案81）海底結實經久，勿作輕視致延成漏。</p>
<p>羚羊角　萆薢　天花粉　柴胡　赤芍　滑石　土貝母　豬苓　焦夏曲　獨活　黃芩　銀花</p>

<h2>臀癰</h2>
<p>（案82）臀中結核漸大，脈象左手細小右手細數，素來頓，目前咯血，姑從養血化痰為治。</p>
<p>大沙參　茜草根　白茯苓　炒秦艽　羚羊角　漂海粉　大麥冬　西洋參　生蛤粉　炒白芍　熟石膏</p>

<h2>雷龍疽</h2>
<p>（案83）勞傷氣陷，濕熱隨之，雷龍疽。服藥雖不見功，但治不可驟。</p>
<p>川黃柏　炙升麻　粉豬苓　焦苡仁　片通草　龍膽草　柴胡　赤茯苓　淡竹葉　粉萆薢　生茜草　金銀花</p>

<h2>橫痃</h2>
<p>（案84）橫痃疽，由敗精流滯所致，惡寒，脈旺，勢將蒸膿。</p>
<p>穿山甲　生西耆　土貝母　炒秦艽　川楝子　山楂肉　荊芥穗　炒青皮　新會皮　青蔥管</p>
<p>復　將潰內實。</p>
<p>生西耆　山楂核　青皮　海浮石　夏曲　大腹皮　赤丹參　左牡蠣　象貝　六一散　全福花　杜仲</p>
<p>再復　已潰流膿。去丹參、牡蠣、青皮，加丹皮、細石斛、紅棗。</p>

<h2>魚口便毒</h2>
<p>（案85）厥陰受寒，濕痰凝滯，魚口疽將潰，腎囊亦脹，防大痛厥逆。</p>
<p>生西耆　荔子核　焦楂核　炒黃芩　炙遠志　焦夏曲　宣木瓜　廣橘核　海浮石　炒黨參</p>
<p>（案86）瘀積兼濕注，魚口疽屢發，毋視瘡瘍外症不究其源。</p>
<p>焦茅朮　土貝母　元紅花　粉萆薢　炙玄武板　炒白朮　炒黃芩　粉豬苓　左牡蠣　炙黑升麻</p>

<h1>卷四　手足發無定處部</h1>

<h2>漏肩風</h2>
<p>（案1）高年血枯有火，兼之蘊濕，肩臂疼痛，經針灸後，瘡痍延蔓，結痂不脫，清營潤燥主之。</p>
<p>二原地　丹皮　羚羊　知母　五加皮　生杜仲　潤元參　天冬　桑白　麥冬　炒菟絲</p>
<p>（案2）營虛風入脈絡，肩痛筋攣漸重。</p>
<p>黃防己　生西耆　威靈仙　獨活　五加皮　歸身　細桂枝　厚杜仲　羚羊角　秦艽　桑椹子</p>
<p>（案3）漏肩風久痛。</p>
<p>白歸身　炙桂枝　五加皮　制首烏　威靈仙　炒川芎　青防己　川羌活　片薑黃　生杜仲　炒秦艽</p>

<h2>肩疽</h2>
<p>（案4）肩疽已潰。</p>
<p>炒歸身　杜仲　生西耆　秦艽　焦苡仁　桑椹子　炒白芍　夏曲　川石斛　川斷　甜陳皮</p>

<h2>臑疽</h2>
<p>（案5）傷絡感邪，臑疽腫硬，身熱，勢頗厲害，清散兼施主之。</p>
<p>羚羊角　西赤芍　川芎　青皮　秦艽　焦夏曲　荊芥穗　淡黃芩　花粉　枳殼　象貝</p>
<p>（案6）太陰脈絡受寒，寒熱發為　疽，腫痛痙攣，消散非易。</p>
<p>炒柴胡　象貝　嫩鉤藤　川芎　黃芩　海浮石　羚羊片　花粉　炒秦艽　杜仲　夏曲　桑寄生　絲瓜絡</p>
<p>復　腫減作痛，去川芎、鉤藤、柴胡，加大力子全福花、新會皮。</p>

<h2>腋癰</h2>
<p>（案7）腋癰已成。</p>
<p>象貝母　羚羊片　秦艽　赤丹參　六一散　半夏曲　花粉片　陳皮　建連翹</p>

<h2>兌疽</h2>
<p>（案8）兌疽紅腫發泡，防有潰爛出血之虞。</p>
<p>羚羊角　大力子　炒秦艽　象貝母　淡黃芩　淨連翹　半夏曲　西赤芍　香白芷　絲瓜絡</p>
<p>復　得膿腫退，和營舒絡為治。</p>
<p>秦艽　桑椹子　黃芩　赤苓　花粉片　焦半夏曲　生耆　象貝母　米仁　新會　炒赤芍</p>

<h2>鵝掌風</h2>
<p>（案9）血燥受風，掌心白斑色枯且癢，鵝掌風最難脫體。</p>
<p>制首烏　麥冬　刺蒺藜　小生地　松毛　炒歸身　知母　嫩苦參　炙甘草　胡麻</p>
<p>（案10）脾肺陰液枯耗發為鵝掌風。</p>
<p>肥玉竹　小生地　羚羊角　黃芩　白蒺藜　白芍　黑玄參　麥冬肉　淨連翹　米仁　炒歸身</p>

<h2>薹疽</h2>
<p>（案11）心脾蘊熱不化，薹疽堅實大痛，寒熱，脈數，防穿掌是重。</p>
<p>羚羊角　象貝　赤丹參　六一散　夏曲　秦艽　連翹殼　赤芍　杜藿香　燕竹葉　黃芩</p>

<h2>手背發</h2>
<p>（案12）手背發由觸毒所致，驟泡潰漫腫不守，木痛無膿，身熱，脈旺，年近杖鄉，大非所宜。</p>
<p>香白芷　土貝母　淡黃芩　塊滑石　金銀花　赤丹參　人中黃　焦夏曲　全栝樓　羚羊角　西赤芍　生茜草</p>
<p>另研珍珠、西黃沖服各三分。</p>
<p>復　紅暈腫勢略減，腐化疆界未分，幸脈靜身涼，無虞毒陷。</p>
<p>羚羊角　象貝母　焦遠志　赤苓　新會皮　白朮　淡黃芩　赤丹參　焦夏曲　澤瀉　生綿耆</p>
<p>（案13）手背發紫黑漫腫。</p>
<p>真川連　廣藿梗　丹參　茯苓　金銀花　生耆　半夏曲　京川貝　赤芍　滑石　炒全蔞</p>

<h2>虎口疽</h2>
<p>（案14）右手合谷穴生疽，木痛，漸大，色紫，按是經系大腸所屬，濕熱居多，消散法治之。</p>
<p>炒川連　羌活　西赤芍　香白芷　焦夏曲　炒黃芩　甘草　炒秦艽　塊赤苓　廣陳皮</p>

<h2>蜣螂疽</h2>
<p>（案15）本體素虛，濕痰易於凝滯。今手指骨節腫硬木痛，難以伸屈，考之方書，名曰螳螂疽。潰後每流膿水，最易延勞。治之之法，益氣為本，參以化濕消痰除之，調理冀得消散為幸。</p>
<p>潞黨參　象貝母　廣陳皮　生甘草　炒秦艽　炒白朮　宋半夏　白茯苓　制香附　細石斛</p>

<h2>環跳疽</h2>
<p>（案16）寒濕伏絡，郁久化熱，環跳堅實漫腫，消之為幸。</p>
<p>炒柴胡　法半夏　香獨活　枳殼　赤芍　六一散　羚羊角　威靈仙　炒秦艽　花粉　萆薢</p>

<h2>坐痱瘡</h2>
<p>（案17）坐痱瘡延化，渾身㾦瘰密布，瘙癢難堪，此血燥生風兼挾外風所致。</p>
<p>桑白皮　蒼耳子　赤苓　陳皮　細石斛　枇杷葉　羚羊角　歸身炭　赤芍　米仁　生甘草</p>
<p>復　丹皮　羚羊角　蒼耳子　凌霄花　生薑皮　白芍　刺蒺藜　焦米仁　赤苓皮</p>

<h2>股陰陽疽</h2>
<p>（案18）血燥生風，兩腿發為梅花式樣，議服五實散。股陽疽由傷絡所致，身熱脈旺，勢將內潰，治宜托化。</p>
<p>赤丹參　全當歸　生西耆　廣木香　金銀花　焦夏曲　炒秦艽　象貝　焦枳殼　炙甲片　生茜草　炒桑枝</p>
<p>復　生西耆　潞黨參　黃芩　羚羊角　秦艽　貝母　生杜仲　川石斛　萆薢　焦夏曲　新會</p>
<p>（案19）股陽生疽，大勢難退。</p>
<p>川芎　炒枳殼　威靈仙　桑椹子　生西耆　赤芍　宣木瓜　炒秦艽　土貝母　赤丹參</p>
<p>（案20）勞力受邪，股陰疽腫脹，加之寒熱鼻衄，胸悶不舒，內外兼科之症，法從兩顧。</p>
<p>制小樸　羚羊角　黃芩　範志曲　秦艽　六一散　杜藿香　象貝母　赤芍　海浮石　豬苓</p>
<p>（案21）傷絡內股結痰，堅硬漸痛，脈象現粗，成疽候也。</p>
<p>炒柴胡　香獨活　土貝母　宣木瓜　半夏金銀花　西赤芍　炒秦艽　桑寄生　羚羊角　枳殼　花粉</p>
<p>（案22）股陰疽雖潰，而橫痃又發，堅硬痛引小腹，重候也。</p>
<p>軟柴胡　川楝子　青皮　通草　焦山楂　絲瓜絡　炙甲片　海浮石　青蒿　半夏　大貝母</p>

<h2>腿癰</h2>
<p>（案23）腿癰頑硬，筋弛。</p>
<p>全當歸　炒秦艽　防風　威靈仙　赤苓　生西耆　元紅花　生杜仲　獨活　土貝母　西赤芍</p>
<p>（案24）忍傷絡墜身熱成癰。</p>
<p>生西耆　赤丹參　新會　獨活　雲苓　絲瓜絡　半夏曲　防風　荊芥　炒秦艽</p>

<h2>委中毒</h2>
<p>（案25）中氣素虛，復傷脈絡，膀胱濕熱下注委中，筋脹作痛，朝緩暮盛，治以補中養血兼舒絡。</p>
<p>潞黨參　炙升麻　炒川芎　桑椹子　羚羊片　萆薢　炒柴胡　炒歸身　五加皮　宣木瓜　半夏曲</p>

<h2>伏兔疽</h2>
<p>（案26）痛，左腰結塊，經久漸大，堅硬拈骨，木痛漫腫，重按痠疼，此伏兔疽也。陰虛內挾濕痰之候，實為險症。冀得正膿，庶有生機，議方即呈前治商服。</p>
<p>懷熟地　懷牛膝　煅牡蠣　粉萆薢　廣陳皮　生草　安玉桂　鹿角膠　炮薑炭　炒杜仲　法半夏</p>

<h2>膝蓋癰</h2>
<p>（案27）膝蓋癰潰久，只流脂水絕無正膿，蘊濕未清也。</p>
<p>生西耆　炒白朮　萆薢　土貝母　豬苓　新會皮　香白芷　宣木瓜　防風　炒秦艽　滑石</p>

<h2>鶴膝風</h2>
<p>（案28）血虛失於營養，絡痹濕瘀右膝，痠疼伸縮不能自如，是為鶴膝風。脈弦而緩，非旦夕所能奏效者也。先擬通絡化濕為治。</p>
<p>炒當歸　宣木瓜　焦米仁　萆薢　鉤藤　煅石決　制首烏　炒秦艽　羚羊角　陳皮　赤苓</p>
<p>復　制首烏　炒歸身　炙龜板　宣木瓜　焦米仁　厚杜仲　炒阿膠　炒牛膝　炒桑枝　松毛</p>
<p>再復　加熟地、人參、麥冬、川柏，作膠法。</p>

<h2>魚肚疽</h2>
<p>（案29）魚肚疽，氣血兩虧，漫腫不潰，脈數，畏寒身熱，補托為先。急於用針徒遭苦楚也耳。</p>
<p>生西耆　炒白朮　桑椹子　秦艽　杞子　新會皮　炒歸身　炒川芎　焦白芍　杜仲　柴胡</p>
<p>（案30）魚肚疽腫退膿多，惟內實未化，法當清補參化濕。</p>
<p>生西耆　大原地　焦白芍　萆薢　桑椹子　新會皮　制洋參　湖丹皮　炒秦艽　杜仲　炒歸身</p>

<h2>臁瘡</h2>
<p>（案31）濕乘血虛挾熱下注，臁瘡生化不定，內凸作痛，保本並治。</p>
<p>炒生地　新會　防己　炙升麻　遠志　大豆黃卷　炒歸身　生耆　棗仁　赤茯苓　磁石</p>
<p>（案32）臁瘡腐化雖定，色老脂多，元氣是虧，防延腹疾難理。</p>
<p>砂仁炒黨參　赤小豆　懷山藥　粉萆薢　焦白芍　九制何首烏　大腹皮　煅牡蠣　炒歸身　炒栝樓　大有綿西耆　炒麥冬</p>
<p>（案33）臁瘡形色不堪，腹脹日大，脾虛而濕陷之候也，鬆動為要。</p>
<p>炒冬朮　炒黨參　大腹皮　防風　新會　萆薢　焦茅朮　甘杞子　巴戟天　防己　赤芍</p>
<p>（案34）腳瘡復發，腫脹泡潰流脂，暑濕外受也。</p>
<p>防風　杜藿香　赤苓　白芷　地丁草　粉豬苓　萆薢　焦茅朮　滑石　防己　金銀花</p>

<h2>三里發</h2>
<p>（案35）三里發穿潰，月餘虛腫不退，兼病伏邪，脈來虛數，內熱延怯堪虞。</p>
<p>制首烏　北沙參　川石斛　青蒿　山藥　煅牡蠣　炙鱉甲　穭豆衣　生杜仲　萆薢　澤瀉</p>

<h2>內踝疽</h2>
<p>（案36）內踝疽始由針潰，又被刀傷，致腐爛流血，月餘不定未決奏。</p>
<p>原生地　丹皮　萆薢　防己　炒白朮　大豆黃卷　焦白芍　赤苓　秦艽　西耆　炒黃芩　海桐皮</p>
<p>（案37）戳傷足跗，感受熱毒，連踝腫痛不能省力，腐爛色紫，尚非定勢。</p>
<p>西赤芍　淡黃芩　金銀花　羚羊角　香白芷　土貝母．焦夏曲　六一散　地丁草　赤茯苓</p>
<p>（案38）營虛絡痹，濕邪下注足跗，痠疼腫脹，失治成膿，針潰延久，化頭不一，氣穢乃濕熱傷營之候。</p>
<p>制首烏　粉丹皮　牡蠣　升麻　川石斛　菟絲子　炙鱉甲　炙玄武板　白朮　萆薢　生西耆　金毛狗</p>
<p>（案39）操勞之體摩傷足跟，被針，腫脹腐爛不堪。</p>
<p>赤丹參　赤芍　六一散　焦夏曲　粉萆薢　土貝母　黃芩　金銀花　羚羊尖　粉豬苓</p>
<p>（案40）遠步傷絡，踝腫痠痛延及足跟，但蹄屬交脈會陰，非易痊之候。</p>
<p>柴胡　升麻　黨參　白朮　鎖陽　萆薢　五加皮　杞子　漢防己　桑椹子　歸身炭</p>

<h2>牛程蹇</h2>
<p>（案41）足跟麻木作痛腫脹內潰，是為牛程蹇，穿不易斂。</p>
<p>炒川芎　土貝母　半夏曲　羚羊片　廣陳皮　炒秦艽　西赤芍　桑椹子　焦米仁　粉萆薢</p>
<p>（案42）陽蹻氣滯，濕傷脈絡，足跟及跗腫痛，諸指麻木，治先理濕養營，參以滋腎升中之品。</p>
<p>焦米仁　炒杜仲　防己　甘杞子　鎖陽　炙升麻　炒歸身　炒白朮　防風　煅牡蠣　萆薢</p>

<h2>漏蹄風</h2>
<p>（案43）牛程蹇穿久不斂，成漏蹄風。</p>
<p>象貝母　羚羊角　防風　赤丹參　粉萆薢　湖丹皮　炒歸身　防己　赤茯苓　福澤瀉</p>
<p>復　潞黨參　焦米仁　炙升麻　海桐皮　天門冬　炒白朮　炒歸身　新會皮　川石斛　川萆薢</p>

<h2>脫疽</h2>
<p>（案44）臟腑蘊毒，銷鑠陰液，成為脫疽，疼痛腐爛，色紫氣穢，醫者目為凍瘡，殊屬可笑。但此症五敗一現，百無一生，古法雖有割切，未敢妄施，勉擬一方以俟賢者。</p>
<p>真川連　川黃柏　生甘草　金銀花　炒川芎　淡黃芩　赤丹參　炒歸身　焦夏曲</p>

<h2>嵌甲疽</h2>
<p>（案45）嵌甲疽乃不內外因之症，腫實流脂，原無妨礙，惟不易痊耳。</p>
<p>生西耆　赤苓　金銀花　秦艽　新會皮　熟葛根　米仁　炒當歸　萆薢　紅棗子</p>
<p>（案46）甲疽津脂，濕熱未清，加之勞步食羶，腐爛溢血不止，防血枯成脫，是重。</p>
<p>生首烏　羚羊角　赤丹參　金銀花　中白豬苓　粉丹皮　象貝母　玄武板　淡黃芩　甘草</p>
<p>（案47）濕熱下注足，掌發泡流脂，仿瀉脾法。</p>
<p>焦茅朮　香白芷　生茜草　片通草　焦米仁　青防風　淡黃芩　飛滑石　黑山梔</p>

<h2>田螺泡</h2>
<p>（案48）足了腐爛，臭水津脂，名曰田螺泡。不外乎濕熱為患，燥濕參化毒。</p>
<p>焦茅朮　生米仁　白蘚皮　金銀花　陳皮　香白芷　生茜草　宣木瓜　黑豬苓</p>

<h2>石疽</h2>
<p>（案49）肝腎內虧，虛火因之上越，凝結耳傍，日漸長大，堅實著骨，已經半載，此上石疽也。脈來沉數，已非退勢，潰則溢血難理，全在拋卻世務事，宜耐心調養，庶可延年。</p>
<p>鹽水炒柴胡　淡海藻　炒歸身　羚羊角　光鱉甲　何首烏　漂淨淡海粉　肥知母　煅石決　焦白芍　夏枯草</p>
<p>復　頑硬高凸，耳根刺痛，上引於頭，乃虛火鬱結不熄，脈弦，舌黃，有積重難返之勢。</p>
<p>元生地　煅石決明　羚羊角　川貝母　福澤瀉　鹽水炒柴胡　煅磁石　純鉤藤　粉丹皮　炒山茱萸　甘菊花　荷葉蒂</p>
<p>另沖服珠粉、西黃。</p>
<p>（案50）衛任不充，情志抑鬱，郁痰凝結，中石疽頑硬，脈滯神疲，雖未穿潰，痼疾已成，善自調養，勿致增劇為幸。</p>
<p>炒歸身　桔梗　沉香片　焦白芍　海浮石　牡蠣　川貝母　新會　干橘葉　白茯苓　羚羊角</p>
<p>復　投劑後病機如前，須滌除煩惱，即未脫體亦可去十中之一二，藥餌以純正和平為貴。</p>
<p>川鬱金　川貝母　白雲神　煅牡蠣　赤丹參　制香附　焦遠志　夏枯草　炒白芍</p>
<p>（案51）下石疽日漸開大，皆由惱怒傷肝所致，醫久不泄，釀成斯疾。穿潰在即，必流血水，能愈之者蓋亦罕矣。</p>
<p>生鱉甲　夏枯草　焦夏曲　赤丹參　白雲苓　炒白芍　川貝母　煅石決　左牡蠣　干橘葉</p>

<h2>翻花瘡</h2>
<p>（案52）翻花瘡，藥石雖不見功，條理自不可懈。</p>
<p>制香附　黑山梔　湘蓮肉　炒歸身　沉香　炒熟地　大天冬　左牡蠣　生綿耆　炒白芍　西洋參　酸棗仁　川貝母　煅石決</p>

<h2>濕淫</h2>
<p>（案53）營虛肝燥，素性又剛，翻花瘡時流鮮血，日漸翻大，議用薛氏八味逍遙散加元地、天冬、阿膠。濕淫延久遍體，切忌水洗。</p>
<p>焦茅朮　白蘚皮　塊滑石　炒黃柏　青苗葉　赤苓　桑皮　凌霄花　地膚子　法半夏　白蒺藜　冬桑葉　米仁</p>
<p>複方　去半夏，加犀角。</p>
<p>（案54）濕淫發於兩足，清肌養營主之。</p>
<p>元生地　生西耆　穭豆衣　炒白芍　首烏　歸身　羚羊角　甘杞子　大天冬　粉丹皮　棗仁　麥冬</p>
<p>（案55）風淫復感暑毒，渾身密布，燥癢難支，惡寒，脈旺，正當沖焰。</p>
<p>羚羊角　滑石　冬桑葉　金銀花　赤苓　烏犀角　甘草　杜藿香　蒼耳子　青苗葉</p>
<p>（案56）髮際風淫遊走，痂脂大癢，清化兼治。</p>
<p>蒼耳子　青防風　真川連　白蘚皮　羚羊片　白蒺藜　生首烏　土茯苓　車前子　荷葉邊</p>
<p>復　去防風蒼耳，加赤苓、土貝母、鮮生地。風淫兼風毒，紅腫發泡，防腫甚腐爛。</p>
<p>生桑皮　六一散　元參　連翹　殭蠶　炒大力子　土貝母　炒黃芩　羚片　赤芍　蟬衣</p>

<h2>濕火</h2>
<p>附濕火方</p>
<p>黨參　毛術　黃芩　防己　升麻　海桐皮　白朮　萆薢　米仁　防風　豆卷</p>

<h2>癬</h2>
<p>（案57）濕癬時發，延蔓津脂，躁癢，未許脫然無累。</p>
<p>地膚子　嫩苦參　白蘚皮　桑皮　蒼耳子　海桐皮　香白芷　炒川柏　滑石　青防風</p>

<h2>疥瘡</h2>
<p>（案58）疥瘡滋蔓，囊殼龜頭腐爛而痛，治宜燥濕清肌，徐徐調理，庶幾可冀脫體。</p>
<p>中生地　苦參　桑白皮　黃芩　歸身　生米仁　大天冬　川柏　制首烏　白朮　滑石　地膚子</p>
<p>（案59）濕疥已脫大半。</p>
<p>細生地　苦參　粉萆薢　海桐皮　桑皮　制首烏　淡黃芩　黃柏　蒼耳子　黑玄參　滑石　地膚子</p>
<p>（案60）疥瘡渾身，下體尤甚，清肌燥濕之外無他術也。</p>
<p>荊芥　茅朮　豬苓　黃柏　焦白芍　蒼耳子　絡石藤　陳皮　赤苓　羚羊　生草　金銀花　焦米仁</p>

<h2>風濕</h2>
<p>（案61）風濕下受濕，蓋膝痠疼，脛腫作癢，防成痼疾。</p>
<p>青防風　地膚子　海風藤　羚羊角　白蒺藜　肥知母　海桐皮　大沙參　細桂枝　左牡蠣</p>
<p>（案62）風濕侵入血分，四肢麻木，風陣屢發，腹痛惡心，是肝風內動也。</p>
<p>泡茱萸　青防風　威靈仙　桑皮　首烏　豨薟草　細桂枝　炒秦艽　海風藤　牛蒡　蒼耳</p>
<p>（案63）油風延蔓</p>
<p>烏犀角　羚羊片　煨天麻　防風　天門冬　桑皮　蒼耳子　炒淡芩　地膚子　苦參　白芷　滑石</p>
<p>（案64）肺熱受風兼之血燥，涼血祛風進之。</p>
<p>細生地　丹皮　炒殭蠶　羚羊　白蒺藜　桑皮　蒼耳子　黃芩　生米仁　麥冬　杜阿膠　澤瀉</p>

<h2>風毒</h2>
<p>（案65）風毒復發腫癢，進以瀉白法。</p>
<p>生桑皮　羚角　殭蠶　白蒺藜　桔梗　蟬蛻　製大黃　炒知母　蒼耳　象貝　建連翹　赤苓　生草　荷葉邊</p>
<p>（案66）疫毒，渾身紫點青暈，鼻衄滿口發泡，溢血腐爛，身熱，脈大，勢殊危篤。</p>
<p>烏犀角　鮮生地　丹皮　赤苓　六一散　車前子　羚羊角　黑山梔　黃芩　茅根　淡竹葉</p>
<p>（案67）濕毒外發，渾身紅暈，腫痛發泡，寒熱未清，舌乾脈數，潰爛堪虞。</p>
<p>羚片　殭蠶　赤苓　桑皮　牛蒡　白芷　家菊花　連翹　赤芍　蒼耳　象貝　滑石　黃芩　淡竹葉</p>
<p>（案68）葡萄疫，齒衄脈數，清化為主。</p>
<p>鮮生地　山梔　象貝　元參　牛蒡子　鮮竹葉　羚羊尖　丹皮　黃芩　赤苓　煅中白　茅柴根</p>

<h2>疔瘡門</h2>
<p>（案69）眉梢生疔漫腫，畏寒，脈弦而遲，祛風化毒主治。</p>
<p>炒殭蠶　蒼耳子　夏曲　赤芍　桔梗　草河車　象貝母　羚羊角　生草　生耆　蟬衣</p>
<p>（案70）鼻孔火焰疔，根堅已軟，紅暈蔓腫繞面，身熱畏寒，診脈弦數，乃脾胃蘊熱上蒸，風邪外走，有毒陷之虞。</p>
<p>羚羊片　荊芥　象貝　桔梗　蒼耳子　甘池菊　蟬衣　殭蠶　赤芍　焦夏曲</p>
<p>復　烏犀角　炒殭蠶　川連　赤芍　桑皮　燕竹葉　羚羊片　象貝母　連翹　黃芩　赤苓</p>
<p>再復　去犀角、川連，加知母、麥冬。</p>
<p>（案71）黃鼓疔，外感暑風所致。</p>
<p>廣藿香　羚片　象貝　焦夏曲　玉桔梗　六一散　殭蠶　赤芍　建連翹　菊葉花</p>
<p>（案72）暑毒生疔，失治延化無膿成紫燕重候。</p>
<p>赤丹參　益元散　生西耆　新會皮　半夏曲　羚羊片　金銀花　元參　象貝　赤苓　黃芩</p>
<p>（案73）白刃疔，發泡漫腫，乃肺家毒火所致，易於腐爛，未可輕視。</p>
<p>赤芍　象貝母　桑白皮　枳殼　桔梗　黑山梔　連翹　炒知母　地丁草　鮮竹葉</p>
<p>（案74）芝麻疔，延竄不定，加之咽痛，正在發勢，何恃而不恐乎？</p>
<p>川連　羚羊　桔梗　夏曲　六一散　家菊葉　連翹　赤芍　貝母　蒼耳　淨蟬衣　燕竹葉</p>
<p>復　去赤芍，加桑白皮。</p>
<p>再復　去川連、連翹，加犀角。</p>
<p>（案75）虎口（即合谷穴）生疔，濕熱為患也。身熱，潰爛未決遽定。</p>
<p>生西耆　川石斛　土貝母　紫地丁　焦夏曲　赤茯苓　焦米仁　金銀花　新會皮　炒秦艽　粉萆薢　炒全蔞</p>
<p>（案76）鎖口疔內腐無膿，走黃之兆。</p>
<p>羚羊角　人中黃　川貝　蒼耳子　赤丹參　竹葉　鮮石斛　玄明粉　橘絡　淡黃芩　焦山楂</p>
<p>（案77）手背爛疔延化將定而色老膿清，收斂不易。</p>
<p>焦毛術　生西耆　赤苓　丹參　象貝　六一散　炒白朮　炒歸身　陳皮　黃芩　米仁</p>
<p>復　去毛朮、白朮、丹參、歸身、貝母，加生地、丹皮、麥冬、澤瀉、夏曲。</p>
<p>（案78）蛀節疔漫腫疼痛。</p>
<p>羚羊角　地丁　白芷　銀花　秦艽　建連翹　滑石　赤苓　貝母　黃芩</p>
<p>（案79）中指截節疔，症屬胞絡經代君行事，心火不越，火毒妄動而發。現在嘔惡拒納，毒邪不化也。</p>
<p>連翹　土貝母　杜藿香　枳殼　砂仁拌炒潞黨　夏曲　廣陳皮　制小樸　丹參　柿蒂</p>
<p>（案80）觸毒兼摩傷，蛇腹疔腫脹。</p>
<p>香白芷　土貝母　羚羊角　滑石　夏曲　炒秦艽　西赤苓　赤丹參　黃芩　連翹</p>
<p>（案81）脾氣下陷，濕亦隨之，魚肚腐化流脂，名曰羊油疔，法當和脾化濕。</p>
<p>潞黨　廣陳皮　益元散　二原地　丹皮　粉萆薢　白朮　炙升麻　漢防己　福澤瀉　半夏</p>
<p>（案82）脫靴疔，由戳傷所致，紅暈不守，延爛津脂，勢防腐深毒陷。</p>
<p>生西耆　黨參　土貝母　夏曲　豬苓　赤丹參　羚片　粉萆薢　陳皮　防風</p>
<p>復　加金銀花、地丁草、炒黃芩。</p>
<p>（案83）左腿爛疔，起自去夏，收斂如錢，目前復化，臭脂黑腐，時流血水，穢氣飛揚，此太陽濕火挾脾濕下注，難卜全斂，勿急收功緻增腹脹。</p>
<p>赤茯苓　紫菀耳　川石斛　金銀花　赤丹參　焦米仁　巴戟天　玄武板　甘杞子</p>
<p>服藥後，延他醫用收功藥而愈，即覺腹中有痞，大便溏薄，後致不治。</p>
<p>（案84）爛疔統足，浮腫潰爛，形惡納減，毒陷之候。</p>
<p>細石斛　生耆皮　北沙參　遠志肉　炒丹參　金銀花　炒丹皮　赤茯苓　炒蔞皮　大豆卷</p>
<p>復　納增腫退。</p>
<p>細石斛　生西耆　炒赤丹參　炒歸身　遠志　赤茯苓　炒丹皮　土炒白朮　北沙參　銀花　加白茅根</p>

<h2>流痰</h2>
<p>（案85）英年嬌弱，積成內傷，腹痛延有三載。今左腰痛又四月，咳嗆頻增，是為流痰重候，成則損脊可虞。</p>
<p>北沙參　甘杞子　白雲苓　桑椹子　金沸草　橘葉　炙紫菀　巴戟天　川石斛　生杜仲　川貝母</p>
<p>（案86）素有咳嗆，時作時止，近加身熱，脈形弦遲，右腰腎俞生髮流痰，治宜兩顧培補，庶於病機有當。</p>
<p>潞黨參　細石斛　西耆　沙參　蔞仁　冬桑葉　云茯神　生杜仲　新會　遠志　橘葉</p>
<p>（案87）太陽經流痰腫痛，脈形細小，姑與消補方。</p>
<p>姜半夏　白茯苓　丹參　獨活　生西耆　天花粉　新會皮　川石斛　秦艽　土貝母　威靈仙　桑寄生</p>
<p>（案88）肩膊作痛已經半載，日前加劇，脈數而弦，此絡痹痰凝，郁久化熱使然。</p>
<p>羚羊角　秦艽　赤苓　北沙參　木通　童桑枝　全福花　川斷　遠志　片薑黃　荷葉</p>
<p>（案89）流痰生於右腕，骱腫痠疼，議溫通法。</p>
<p>桂枝木　炒杜仲　元紅花　制乳香　秦艽　桑枝　姜半夏　全當歸　北沙參　制沒藥　木香</p>
<p>（案90）流痰已潰，孔細膿清，咳嗆氣怯，殊為危險。</p>
<p>生西耆　川石斛　五味子　川貝　阿膠（蛤粉炒）　紅棗　新會　焦遠志　炒白芍　山藥　穭豆皮</p>
<p>復　症情如昨，脈來沉細，虛脫之兆。</p>
<p>西洋參　生耆　川石斛　茯苓　紫菀　炙款冬　莧麥冬　蛤粉　廣橘白　川貝　米仁　茅柴根</p>
<p>（案91）內熱盜汗，真陰虧而表不固也。筋骨痠疼，營虛不能養筋也。況複流脂不止，津液日耗，危險之候。擬方以消息之。</p>
<p>制首烏　生耆　杜仲　懷膝　桑寄生　粉萆薢　玄武板　狗脊　川斷　菟絲　補骨脂　胡桃肉　加乳汁炒絡石藤</p>
<p>（案92）縮腳流痰，由肝腎內損、瘀精凝滯為患，一誤於針，再誤於藥，纏綿不已，化頭肉翻，津枯成怯，顯然非辛溫所能奏效。</p>
<p>生西耆　海浮石　制首烏　杜仲　夏曲　煅牡蠣　炙鱉甲　桑椹子　山藥　萆薢</p>
<p>（案93）傷絡著寒痰凝。</p>
<p>炒柴胡　川獨活　炒川芎　宣木瓜　法半夏　黃防風　西赤芍　粉萆薢　炒銀花</p>
<p>（案94）努力傷絡，髀骱疼痛，漸腫內熱，成則為流痰。</p>
<p>香青蒿　金毛狗　全福花　羚羊　杜仲　胡桃肉　炙鱉甲　天花粉　新絳屑　象貝　全蔞　制香附</p>
<p>（案95）流痰腐未盡脫，新肉高脹，時流血水，未易痊斂。</p>
<p>潞黨參　炒丹皮　炙元武板　丹參　制首烏　紅棗　炒元地　炒歸身　側柏葉　白朮　炒黃芩</p>
<p>（案96）元虛努力，腎俞流痰堅實平塌亦不大痛，消之殊非易。</p>
<p>炒柴胡　金狗脊　炒牛膝　炒菟絲　煅牡蠣　生杜仲　全福花　炒川斷　五加皮　炒胡桃</p>
<p>復　懷熟地　杜仲　蛤粉　乳香　炒胡桃肉　補骨脂　安玉桂　菟絲　牛膝　狗脊　煅左牡蠣</p>
<p>（案97）虛損流痰，筋弛作痛，此絡火內熾也。成退均難。</p>
<p>制首烏　北沙參　川石斛　厚杜仲　料豆衣　炙鱉甲　香青蒿　生西耆　煅牡蠣　胡桃肉（鹽水炒）</p>
<p>復　投劑已減，仍守前法。</p>
<p>川石斛　厚杜仲　左牡蠣　丹皮　鹽水炒胡桃　制首烏　料豆衣　二元地　羚皮　十大功勞</p>
<p>（案98）損傷氣滯，血餘痰凝，左腰漫腫，按之已屬成勢，得起高速潰，庶不反劇。</p>
<p>羚羊角　生杜仲　杜蘇梗　炙鱉甲　白芥子　全福花　象貝母　生蛤粉　新絳屑　天花粉</p>

<h2>流注</h2>
<p>（案99）暑風久伏，發為流注，內熱，脈疾而舌腫，此心火上炎，勿藥焉得可喜？</p>
<p>連翹　西赤芍　北沙參　益元散　炒蔞皮　羚片　廣藿香　海浮石　香青蒿　焦夏曲</p>
<p>（案100）暑毒流注，再防生髮。</p>
<p>益元散　光杏仁　天花粉　焦夏曲　粉豬苓　杜藿香　赤茯苓　福澤瀉　粉萆薢　炙鱉甲</p>
<p>（案101）本體嬌弱，痛甚傷陰，不能熟潰，但流注已濃，氣虛無疑，擬用補托。</p>
<p>生西耆　炙鱉甲　炒香附　丹參　新會　金毛狗　潞黨參　細石斛　川芎　炒歸身　炒青皮　杜仲</p>
<p>（案102）流注散漫，撳之軟陷無膿，此元虛而痰凝滯也。亟宜補益。</p>
<p>黨參　茯苓　半夏　生西耆　焦白芍　煅牡蠣　白朮　新會　杜仲　甘杞子　川石斛　炙甘草</p>
<p>（案103）症屬陰分不足，筋攣骨痿，虛損之重候也。填補，其可緩也。</p>
<p>懷熟地　生杜仲　川石斛　左牡蠣　制首烏　菟絲餅　麥冬肉　刀豆子　金狗脊　懷牛膝　穭豆衣　胡桃肉</p>

<h2>痘毒</h2>
<p>（案104）痘後虛熱，余蘊入絡，皆由先天不足以致右肘發為流痰。已經針潰，呆腫不退，非徒化毒托膿可愈，清蘊壯筋。</p>
<p>北沙參　西耆皮　狗脊　制首烏　青蒿　羚片　炙鱉甲　料豆衣　杜仲　川石斛　天冬　白芍</p>
<p>（案105）痘毒結痰已經半月，寒熱腫脹，根株不束，元虛顯然，成則非輕。</p>
<p>炒殭蠶　天竺黃　鉤藤　花粉　海浮石　毛茹菰　川貝母　人中黃　杏仁　洋參　羚羊片</p>
<p>（案106）痘後腮下結毒堅實，身熱多汗，痰湧舌餂，疑症已現險候。</p>
<p>川貝母　海浮石　毛時茹　青黛　前胡　竹二青　天竺黃　橘絡　羚羊角　鉤藤　赤芍</p>
<p>（案107）天花後腎元不足，天柱骨痿，轉側覺痛，內熱自汗，骸下虛痰微脹，脈形細而無力且數，姑從益腎和陰法，但未敢定決奏效耳。</p>
<p>懷熟地　山茱萸　炙鱉甲　杜仲　粉豆衣　牛膝　甘杞子　淮山藥　菟絲餅　狗脊　煅牡蠣</p>
<p>復　骨痿已松，痰核結實。</p>
<p>北沙參　嫩鉤藤　毛時茹　焦白芍　全福花　天冬肉　天竺黃　海浮石　炙鱉甲　夏枯草</p>

<h2>燙傷</h2>
<p>（案108）天花毒蘊內蒸，牙疳溢血腐爛，進以犀角地黃湯。滾湯燙傷，身熱，脈數模糊，咳嗆氣逆，乃挾春溫之候。</p>
<p>炒蘇子　光杏仁　玉桔梗　大力子　炒全蔞　焦夏曲　生甘草　桑白皮　赤茯苓　青蔥管</p>
<p>復　作潰色紫流脂，身熱脈旺，內陷之險，擬用托裡化邪，希圖萬一。</p>
<p>羚羊角　潞黨參　焦遠志　新會皮　生甘草　金銀花　白茯神　象貝母　荷葉　生西耆　鮮石斛　醋煅鹿角尖</p>

<h2>蛇纏瘡</h2>
<p>（案109）蛇纏瘡化勢非定，紅暈開大，勢將腐爛。</p>
<p>牛蒡子　蒼耳子　黃芩　象貝母　金銀花　赤芍　桑白皮　粉豬苓　白芷　羚羊角　黑元參</p>
<p>復　腐爛，白脂紅暈散漫，尚非佳境。</p>
<p>炒白朮　元參　天冬肉　生西耆　人中黃　炒歸身　生地　炒知母　塊滑石　法半夏</p>

<h2>暑毒</h2>
<p>（案110）暑毒受風，腫脹生蔓，宜清暑化毒。</p>
<p>桑白皮　炒天蟲　赤芍　象貝母　黃芩　焦夏曲　蒼耳子　羚羊角　連翹　六一散　蟬蛻　赤茯苓</p>
<p>復　加烏犀角、菊花葉。</p>
<p>（案111）暑濕兼觸毒，發泡紅腫，勢在猖獗。</p>
<p>香白芷　西赤芍　淡黃芩　杜藿香　金銀花　建連翹　左秦艽　六一散　土貝母　地丁草</p>
<p>（案112）暑風入肺，始由腰間發泡，形如火丹，繼則四肢遍滿，痛癢並作，即丹毒之重候也。</p>
<p>青防風　桑白皮　土貝母　香白芷　蒼耳子　羚羊角　六一散　炒蔞皮　青蒿　連翹殼</p>

<h2>丹毒</h2>
<p>（案113）丹毒腐化深潭，渾身延竄，乃幼體脾肺兩虛，溫邪乘之而入，壯熱神呆，咳嗆氣上，毒將內陷矣。</p>
<p>烏犀角　鮮石斛　象貝　炒殭蠶　人中黃　茅根　羚羊片　西赤芍　丹參　光杏仁　燕竹葉</p>

<h2>大頭瘟　蝦蟆瘟</h2>
<p>附大頭瘟、蝦蟆瘟兩方：</p>
<p>（案114）初由太陽小癤，感受風邪，滿面浮腫，是為大頭瘟症，防遊走不定。</p>
<p>炒殭蠶　象貝母　生桑皮　連翹　赤芍　大力子　蒼耳子　羚羊角　滑石　蟬衣</p>
<p>（案115）溫邪吸入肺胃，腮脹三四日，繼做咽痛，腫及頸項，此蝦蟆瘟也。勢不劇定。</p>
<p>炒牛蒡　炒黃芩　毛時茹　羚片　桑皮　茅柴根　炒殭蠶　黑玄參　天花粉　象貝母　杏仁</p>

<h2>狐尿刺</h2>
<p>（案116）狐尿刺兩膊，驟作泡潰，延蔓不定，勢有鋒險。</p>
<p>真川連　防風　羚羊片　六一散　赤茯苓　淡黃芩　連翹　地膚子　桑白皮　生米仁</p>
<p>復　紅暈紫泡，壯熱大痛，有昏潰毒陷之虞，擬方再覘動靜。</p>
<p>烏犀角　鮮生地　黃芩　桑皮　六一散　竹葉　羚羊角　湖丹皮　赤苓　連翹　土貝母</p>

<h1>附錄</h1>

<h2>瘍醫探源論</h2>
<p>人之所賴以生者，元氣也。存則生，亡則死，亦大彰明，較著者矣。故視病之生死，必視元氣之存亡，則百不失一。至於疾病之際，又貴有以保全之。寒熱攻補，一不得其道，即臟腑受傷，邪易入，氣無附而傷矣。是人之一身，何處不宜保護？何藥可以輕嘗？而顧謂瘍科外證可以刀針亂試致戕元氣乎哉？況乎外證之生，半由內病，如癰疽、發背、流注、流痰、瘰癧、乳岩等證，或由元氣先虧，毒氣因之內熾致成外候，或毒氣內攻有損元氣。不勝枚舉！雖觸毒浸淫等，間有外致。然邪之所湊，其氣必虛。未有正氣未虧，而邪毒能禍者也。若正已虛而復用刀針以泄其元氣，是猶救人於井而下之以石也。可乎？否乎？或曰：「膿熟不針，將毒氣內陷腐化深大奈何？」余曰：「此東垣李先生所以設疏通、托裡、和營衛三法也。未成者，疏通自消；已潰者，和營益衛以生新；斂口已成，則托裡主之。托裡者，托其氣，以使毒外達而潰。蓋人之一身氣血周流，日夜靡已。氣虛失於運行，是以濕痰凝滯血瘀留頓，肌肉壞腐成為膿脂。進以前法而肌之未腐得者，氣行血和，自然無恙；肌之已壞者，得氣之鼓舞易腐亦易潰，又何慮內陷深大之有耶？誠如子意設毒盛攻心，子將針其心耶？抑或臟腑生癰，子將針其臟腑耶？」或曰：「托裡之法，謹聞命矣。敢問針砭烙灸古有其法，然則，方書所載盡屬非與？」余曰：「是何言與？聖賢垂法，自有妙用。無如真傳久失，罕得其似，而世俗徒襲其貌耳。求經所謂如橫弩起，如發機經氣，已至慎守勿失淺深。在志遠近若一，如臨深淵，如手握虎，神無營於眾物者，誰耶？即有手法似古而不能神在秋毫，猶恐鮮效。若盡違古法隨手一下，漫不經意，欲奏效功於旦夕，嘎嘎乎乎難之矣！況瘍之輕者，用刀針而生，即不用刀針而亦生；重者，用刀針而死，反不若不用刀針而亦死之，於心稍安也，且用刀針而死，或者不用刀針而未必死也。」</p>
<p>《御製金鑑》一書中表《外科心法》雖引用刀針之處即復不少，然於脫疽則云：古法在內則割，在骨則切。而必戒以病者情願死生付之度外，方可行之。明乎割切之難，必有功也。勇疽用針，流紫黑血而死耳，發若開出紫鮮血而凶。瘰癧、重齶、臍癰、喉瘤等禁針，疔瘡、敦疽等禁灸伏兔，肝癰、指疔禁針灸委中，癭瘤、乳岩翻花等不可誤有傷損，流血昏脫，立見危殆。書中諸如此類言難盡述並，不憚煩言，再三痛戒，何訓者諄諄，而聽者藐藐耶！即有一二可開者，只屬輕淺之證，縱不用刀針亦能潰能斂。從可知內服外治之為急務也，內服如護心、托裡、化膿、長肉諸丸，揀選虔制；外治如升降、圍點、拔毒、呼膿、生肌、斂口、收脂、殺蟲、止血、止痛諸膏，洗熨等方皆不可少。然必以和平純正已試已驗者隨證施治，不可同流合汙，非刀即針，魯莽從事，只圖利己不顧損人；又不可偶得方書，執為秘本，以人試藥，視人命為兒戲。至煎劑之方，必量人之外感內因、表裡虛實、寒熱陰陽、經絡臟腑強弱之不同，或內外兼科之證，或內證因外證而生，外證由內證而致，果能於此潛心體認，而望問聞切斟酌行之，雖不用刀針，而勝刀針多矣。或曰：「如先生言，刀針誠無益於事也。」余曰：「非徒無益而又害之，其弊可勝道哉？夫瘍生臀、腿平坦之處而又淺小，膿熟尚無甚害，若元氣虛損，或素有內病，根盤深大，膿未灌足，驟加針刺，虛者大膿大血，氣亦隨脫，實者負痛哀號，一時暈厥。即不然，略泄清膿或流血水，僵肉峻嶒，化頭不一，遷延時日，誰階之厲？萬甚至一，或不慎，或損內膜，或傷筋脈，重則殞命傷身，輕則壞手損足。」言念及此，不禁太息痛恨也。夫患者之欲開，不過冀其痛止愈速，不知欲止反劇，欲速不達，甚而如前諸弊叢生，靜言思之，人亦何樂而為此乎？蓋瘡之成退，隨元氣為轉移，旺則正能敵邪而毒自散；衰則毒反盛而不退，並難膿難潰。治之之法要，惟守東垣成法，為上氣旺而膿自成耳。如釀酒然，必草蓋蓋之上，下四圍復柴以輔之，使氣不一毫宣泄，而後熏蒸糜爛，至於日至之時，佳釀乃成。假使從中去蓋泄氣，即為傷風凍漿，氣滃味酸，遂成敗物。外科之妄用刀針者亦猶是耳。可不畏者，可不戒哉？吾見今之業是者，動以刀針為事，不辨證之寒熱虛實、經絡臟腑，亦不問瘡之大小深淺、輕重生熟，到手便開，倘若偶然幸中，自鳴得手，詆同道為無能。以古方為無據，日殺數人而不悟，終身害人而不知。嗚呼！可哀也已。余也，夙稟師承，遊心典籍已卅餘載，然臨證必竭謀盡智，謹慎小心，汲汲以保元為首務。及遇艱難重症，奇怪瘡瘍，又必推賢讓能，俾施治無誤，以資考鏡，猶恐不學無術，枉死良多。余非敢執於一偏，謂刀針之必無益也。謂無善用刀針之人，而致多貽誤，反不若不用刀針之尚不失為王道也。不揣庸妄，用敷厥詞質諸大雅，未知有補高深於萬一否。」</p>

<h2>讀《瘍醫探源論》記</h2>
<p>《瘍醫探源論》者，先大父杏村公所作以訓及門與。先君子，平莊公者也。公，字懷剛。醫名遠震，乘舟駕車，勞勞罔暇日，夕無倦容。年六十有五，積勞成病，卒於道光十二年之冬。時虞年十五，寅年十三，均束髮就傅。回憶朝暮出入庭幃，公雖年逾花甲，猶手不釋卷；讀書得間，即以遍示及門，口講指畫，更以妄用刀針為戒，此《探源論》之所由作也。</p>
<p>先君子躬稟庭訓，纘承先緒。適虞等弱冠後，侍診案右，即命讀《內科》、《內經》、《金匱》、《傷寒》，歷代名賢著述諸書為入門，繼授外科等書與《探源論》，使之潛心考究，並以不背前人為囑。今虞等又五旬外矣，生平診治無善可繼，惟—本先人不違心法，可告泉壤而已。願子孫暨諸同學本內科治外證，以祖訓為師資，繼繼續續永安勿替，庶幾貽誤無多，夭枉自少，而先大父之流澤孔長矣。幸甚。</p>
<p><u>時同治十一年壬申小春月</u></p>
<p><u>中浣孫男樂虞寅夏謹志</u></p>

<h2>論疔瘡對口發背治法</h2>
<p>疔瘡一症，按《金鑑》所謂五臟疔如白刃黃鼓，火焰紫燕黑壓等名者，系臟絕之惡症。千中罕見，見影已屬不治。豈用刀所能挽救者乎？惟紅絲疔曾有用砭一法。如果有紅絲遊走，竄入胃腹者，不得已而用之。如世人嘗患之所謂疔者，在頭面唇鼻之處，不過風熱暑濕所致；在手足無非摩傷觸毒而成，原無大害。無如世人患此，輒曰疔瘡。出了頭，其力大於牛，必須用刀出毒，而醫者亦以誤必須用刀挑斷疔根，並砭其四圍。每見唇面被針之後，刀孔襲風，惡血凝滯，腫漫毒散，神昏內陷以致不治者居多。手足被針之後，腫痛更甚，肉突膿無，甚則脹潰交穿，延成脫節損骱，害難盡述。大凡唇面疔瘡誤被砭刺，刀孔襲風，焮腫散漫，如壯熱而脈形數，實熱如火燎，按之烙手者，毒尚向外，或可挽回，急用犀角、黃連等湯，或合大承氣湯，並服珠黃散。疊進數劑，間有生者。若冷如水石、神昏語懶，或狂言譫語者，毒已內陷，百無一生。對口、發背二症，近世粗工往往用刀剖割惡肉，自誇於法。不知此二症生於氣質壯盛之體，無非風濕熱三因。症本屬陽，半月可得正膿，一月中腐脫生新矣。何必用刀？若患於氣血兩虧之體，瘡勢平塌黯然而屬陰者，速進溫補托毒尚可冀其回陽。若經剖割極形，元氣更泄，毒從內陷，禍不旋踵矣。</p>
<p>瘍醫之名昉於《周禮》，爾時以塚宰領其職，誠慎且重也。自後代醫入方技，視醫漸輕而視瘍更輕。豈知濟世壽民，孰有重於此乎？　先大父杏村公邃於醫學，於瘍更傷，著有《瘍醫探源論》，尋流溯源，真躬奧竅，集方四卷，良藥利病，悉神效也。憶嬉戲時，四方求診，門庭若市。先大父於及門論治幾無餘暇。嗣父時泰公勤學，早世未及繼業。大父幾為喪明，及禮束髮受書，粗知文理，命嗣醫業，侍案側二三載，而大父倏歸道山，哀痛莫可言。既禮與先叔父平莊公同參醫，而禮以短視為嫌，仍復攻書應試。詎知維摩善病，名卒未就，丹溪心法不克承先紫陽家聲，乃思裕後青璮，一席訓兒成名，亦聊以慰　先靈於冥漠耳。今者駒光迅速，馬齒加長，回首當年，猶有餘憾，爰撰蕪詞，謹志簡末。</p>
<p>時同治六年歲在丁卯嘉平之望後三日孫禮堂謹敘</p>
<p>先曾祖杏村公業瘍醫而兼大方者也，學邃名噪。百里外咸來求治，不事刀針而隨症擬方，得心應手，頗有回春之譽。著有《探源論》及《一得方》，秘泄靈蘭，術通仙杏。探其源，直括叔夜。養生之論，得其一即是盧循續命之湯。視時輩學醫而人費者，誠有間矣。竊思　先曾祖施治如神，當時有十全之目，自署其方曰《一得》，何其謙歟？繼而思之，謙則受益，自以一得所以十全，此中殆有深意存焉。業是者，誠即此論與方而尋繹之，揣摩之，當笑外治諸法為末學膚受矣。庭訓遞承籍擴充管見，心傳用續道在守文，手澤如親，功歸繩武，家學淵源，詎敢數典而忘哉？</p>
<p><u>飛熊</u></p>
<p><u>時同治十二年壬申一陽月下浣曾孫鵬翱百拜謹跋</u></p>
<p><u>鴻翰</u></p>

<h2>外科應用經驗要方</h2>

<h3>膏藥類</h3>
<p>加味太乙膏　治一切外症瘡瘍。遺精白帶則貼臍下，腸癰丸服。</p>
<p>白芷（二兩）　當歸（二兩）　赤芍（二兩）　玄參（二兩）　肉桂（二兩）　沒藥（三錢，制）　大黃（二兩）　木鱉（二兩）　輕粉（四錢，研細）　生地（二兩）　阿魏（三錢，切片）　乳香（五錢，制）　血餘（一兩）　黃丹（四十兩，水飛）　柳枝（百寸）　槐枝（百寸）</p>
<p>將白芷、當歸、赤芍、元參、肉桂、大黃、木鱉、生地、槐柳枝用麻油五斤，將藥浸入，春五天，夏三，秋七，冬十，入鍋內煎至藥枯，濾去藥渣，將血餘投入，熬至血餘浮起，撈去，將黃丹徐徐投入。先發青，後至白煙，氣味芳香，其膏已成，住火。將膏滴入水中以試老嫩。老加熟油，嫩加黃丹。候煙盡，將鍋掇下，方下阿魏散，膏上化盡，再下乳香、沒藥，輕粉攪勻，傾入水中，隨時攤貼。</p>
<p>硃砂千錘膏　治癰疽等。末成即消，已潰者亦能去腐拔毒。</p>
<p>制松香（十二兩，研細）　制沒藥（一兩，研細）　麝香（一錢）　樟腦（二兩）　制乳香（一兩，研細）　蓖麻子（三兩，去殼）　冰片（一錢）　血標銀珠（二兩五錢）</p>
<p>上藥先將松香末入蓖麻子肉內同打，極勻後入乳香、沒藥同打，再入麝香、冰片、樟腦，打千錘，再入銀珠打千餘下，極勻成膏，磁器收貯，隔湯燉烊，攤貼。孕婦忌用。</p>
<p>白膏藥　治無名腫毒，胎毒，黃水瘡及濕瘡無皮。功能拔毒生肌。</p>
<p>上爐甘石四兩，能浮水者佳。炭火內煅五炷香，久研細，攤地上，拔去火毒。用生豬油和勻，搗熔攤貼。</p>
<p>金黃散　治疔瘡發背對口等及一切瘡瘍。凡紅瘡者皆可敷之。</p>
<p>生大黃（八兩）　薑黃（三兩）　當歸（一兩）　白芷（三兩）　川烏（一兩）　白蘞（一兩）　半夏（一分）　天花粉（五兩）　黃柏（三兩）　川樸（一兩）　甘草（一兩）　草烏（一兩）　白及（一分）　南星（一分）</p>
<p>日中曬燥，共研為細末，用蜜水調敷。若瘡不紅腫，症由寒濕所致。狀類陰疽者，輕者沖和膏；重者回陽玉龍膏。</p>

<h3>敷藥類即上</h3>
<p>回陽玉龍膏　治一切陰疽絕不紅腫，肌膚冰冷，及寒濕流絡，流痰，流注，筋攣，骨痿並鶴膝風等。凡症屬陰寒者宜之。</p>
<p>肉桂（五錢）　乾薑（二兩）　赤芍（二兩）　白芷（一兩半）　南星（一兩）　草烏（三兩）</p>
<p>共為細末，用熱酒調敷患處，或醋、酒、蜜合和調之。</p>
<p>沖和膏　治流痰流注，風濕麻痹，寒濕流經等。</p>
<p>紫荊皮（五兩）　獨活（三兩）　赤芍（二兩）　白芷（一兩）　石菖蒲（一兩五錢）</p>
<p>共為細末，用陳酒燉熟，加蜜少許，調敷患處。</p>
<p>蝌蚪散　治無名大毒。一切火毒瘟毒紅腫焮熟者皆可用之。</p>
<p>生大黃（八兩）　寒水石（八兩）　朴硝（十兩）</p>
<p>以上三味為末，和勻，用木鱉子三兩切片浸生水中，拌入，二三次將硝飛出，至紫色為度。用冷濃茶浸透，以雞毛掃患處。</p>
<p>一掃光　治疥瘡、瘡禿、頑癬及一切多癢少痛者，用菜油調敷。</p>
<p>硫磺（一錢）　蒼朮（三錢）　腰黃（一錢）　風子肉（三錢）　黃柏（三錢）　明礬（一兩）　煙膠（二錢）　花椒（二錢）　枯礬（一錢五分）　蛇床子（三錢）　苦參（二錢）</p>
<p>青蛤散　治黃水瘡等。共為細末。</p>
<p>青黛（八分）　蛤粉（煅，一兩）　黃柏（五錢）　熟石膏（一兩）　輕粉（一錢）　濕龍散　治濕火臁瘡紅腫頑癢者，用紅江油調敷。</p>
<p>黃柏（八兩）　茅朮（八兩）　白芷（八兩）　花椒（二兩）　地膚子（二兩）　蛇床子（三兩）　鶴蝨（二兩）</p>
<p>移山過海散　治毒生致命之處，用移於無害部位。</p>
<p>雄黃　小麥麩　新鮮曲蟮屎</p>
<p>共為末，用好醋調敷於致命處半邊，自能移於不致命處。</p>

<h3>丸藥類</h3>
<p>梅花點舌丹　治疔瘡、發背、對口及咽喉等。每服一丸，口中含化。</p>
<p>西黃（三錢）　熊膽（一錢）　冰片（一錢）　葶藶子（二錢，炒）　珍珠（三錢）　麝香（一錢）　沉香（一錢）　梅花葩（二錢）　腰黃（一錢）　血竭（一錢）　蟾酥（二錢，人乳化）　明月石（二錢）</p>
<p>以上各味共為細末，然後將人乳化蟾酥，傾入，和勻。手捏為丸如梧桐子大，用金箔為衣，日中曬乾，瓷瓶收貯。</p>
<p>飛龍奪命丹　治疔瘡發背對口等疽。每服十丸，孕婦忌服。</p>
<p>麝香（三錢）　蟾酥（四錢，酒化）　腰黃（四錢）　寒水石（四錢，煅）　膽礬　血竭（二錢）　蜈蚣（二錢炙）　銅綠（二錢）　制乳香（三錢）　輕粉（二錢）　蝸牛（四十二個）　枯礬（二錢）　制沒藥（三錢）</p>
<p>各味共為細末，同酒化蟾酥，和勻，嫌干，加陳酒少許，手發為丸如菜子大，外用硃砂為衣。</p>
<p>小金丹　治流注、流痰、瘰癧、痰核、乳岩及一切陰疽初起，服之即能消散，內有五靈脂，不可與人參、高麗、黨參同日服。</p>
<p>麝香（一錢）　五靈脂（兩半）　制沒藥（七錢半）　白膠香（一兩半）　地龍干（一兩半）　草烏（一兩半）　制乳香（七錢半）　制木鱉（一兩半）　白歸身（七錢半）　京墨（一錢二分）</p>
<p>用糯米粉一兩二錢，煎稠，和入各藥末，搗千錘，為丸如梧桐子大，曬乾，聽用。每服一丸，陳酒沖服，下部空心服，上部臨睡服。</p>
<p>琥珀護膜丸　治癰疽等。毒氣不能外出，恐傷內膜。</p>
<p>琥珀（一錢，研細）　白礬（一兩）　腰黃（一錢二分）　黃臘（一兩）　硃砂（一錢，研）　白蜜（二錢）</p>
<p>先將臘、蜜入銅勺內，溶化後入各藥末，攪和，離火，候臘稍凝，急作為丸如菜子大，硃砂為衣。每服三十丸，白湯送下。</p>
<p>萬靈丹　治流痰流注，寒濕流絡走注，痠疼等症。孕婦忌服。</p>
<p>茅朮（一兩）　防風（二錢）　草烏（一錢）　赤芍（二錢）　新會（一錢半）　宣木瓜（二錢）　麻黃（一錢半）　獨活（二錢）　萆薢（一錢半）　秦艽（一錢半）　川芎（一錢半）　五加皮（三錢）　桂枝（一錢半）　寄生（三錢）　當歸（二錢）　半夏（一錢半）　牛膝（一錢半）　地龍（一錢）　川石斛（三錢）　甘草（二錢）　乳香（一錢）　沒藥（一錢）　紅花（一錢）　絲瓜絡（三錢）</p>
<p>共為細末，水泛為丸，每服一錢半。</p>

<h3>拔毒類</h3>
<p>咬頭代刀丸　治內膿已成，在難於用刀之處，用一丸，放瘡上，用膏蓋之，自能破潰。</p>
<p>銅綠（一錢）　腰黃（五分）　制松香（一錢）　制沒藥（一錢）　巴豆肉（二錢）　輕粉（五分）　血竭（一錢）　制乳香（一錢）　蓖麻子（一錢）</p>
<p>搗成膏，為丸如綠豆大。</p>
<p>三仙丹　專能拔毒去腐。若膿腐已盡之後，即用白靈以生肌。</p>
<p>水銀（一兩）　明礬（一兩，研）　火硝（一兩，研）</p>
<p>三味同入鐵小鍋內，用大碗一隻罩藥在內，周圍用棉紙條將鹽滷浸淫以封碗口，務要封得一毫不能走氣為佳。周圍略鋪礬末，再用針砂鋪封碗門四圍，放炭火上燒煉，碗底上放花衣芒少許以驗火候，燒至花衣芒略有焦黃色，即便掇下離火，候冷，打開，其藥升在碗上，用小刀剷下。其色有黃有紅，放濕地拔去火毒，研細，聽用，此藥愈陳愈妙。如膿腐多，藥宜重，少則腐肉難除；膿腐少，藥宜輕，多則反致腐爛好肉，以增疼痛。</p>
<p>八將散　專治發背。背搭頑腐不脫者宜之。功能去腐拔毒。</p>
<p>穿山甲（五錢）　蜈蚣（五條）　蟬蛻（一錢）　麝香（五分）　五倍子（三錢）　全蠍（十隻）　腰黃（一錢）　冰片（五分）</p>
<p>以上山甲、蜈蚣、全蠍、五倍子，瓦上同煅，蟬衣略煅，共為細末，凡一切惡腐不脫者皆可用之。</p>
<p>清肌定痛散　治諸瘡紅腫焮熱有腐者宜之。</p>
<p>硼砂（五錢）　硃砂（三錢）　冰片（五分）　生石膏（一兩）</p>
<p>研末，用甘草水飛五六次，共為細末摻瘡上。</p>
<p>白靈生肌散　治膿腐已盡，新肉將生。用此即能生肌收口。</p>
<p>珍珠粉（一錢）　煨石膏（一兩）　輕粉（一錢）</p>
<p>共研細末。</p>
<p>散事散　即珍事散　治諸瘡，腐肉已盡，新肉已生，用此收肌口。</p>
<p>海螵蛸（三錢）　煅龍骨（錢半）　血竭（八分）</p>
<p>共研細末。</p>
<p>烏金散　治渚瘡新肉已生而努力凸出不肯收斂者宜之。生肌類以上以下同是。</p>
<p>烏梅肉（三錢）</p>
<p>瓦上煅成炭，研為細末，加冰片二分。</p>

<h3>去管類</h3>
<p>三品一條槍　治諸瘡生管及螻蛄癤。將條插管中，用膏藥蓋之。</p>
<p>白砒（四錢）　生石膏（四錢）</p>
<p>共為末，和勻，用飯作條。</p>
<p>五龍條　治諸瘡生管。插管中，其管自脫。</p>
<p>蜣螂灰（二錢）　烏梅灰（一錢）　薑炭灰（一錢）</p>
<p>為末，用白及水作條。</p>

<h3>牙疳類</h3>
<p>金棗丹　治走馬牙疳。</p>
<p>白砒一兩，敲碎，嵌大棗肉，炙成炭，研細，加冰片，用之。</p>
<p>牙疳朱黃散　治一切牙疳。</p>
<p>生珠粉（三分）　川連末（四分）　甘中黃（五分）　硼砂（一錢半）　煨石膏（七分）　廣黃光（三分）　人中白（二分）　飛滑石（一錢）　冰片（四分）　西瓜霜（八分）</p>
<p>柳花散　治一切牙疳腐爛。</p>
<p>黃連灰（二錢）　煅中黃白（各五錢）　硼砂（四錢）　青黛（二錢）　冰片（一錢）</p>
<p>冰硼散　治牙疳咽痛及小兒雪口等疳。</p>
<p>冰片（五分）　硃砂（五分）　元明粉（五錢）　硼砂（五錢）</p>

<h3>咽喉類</h3>
<p>金不換　治一切咽痛喉風。</p>
<p>西瓜霜（四錢）　硼砂（二錢）　黃柏末（二錢）　梅花葩（二錢）　元明粉（四錢）　腰黃（二錢）　甘中黃（二錢）　大泥片（五分）</p>
<p>咽喉珠黃散</p>
<p>生𪼥珠（二分）　元明粉（九分）　煅中白（三分）　川貝粉（一錢半）　青礞石（八分）　上廣光（四分）　西瓜霜（三錢）　梅花葩（四分）　海浮石（五分）　西月石（八分）</p>

<h3>雜方</h3>
<p>夾膏方　治新舊臁瘡。</p>
<p>銅綠（三錢）　康青（二錢）　膽礬（一錢）　白占（二兩）　黃丹（一兩）</p>
<p>研和勻用菜油敷成膏，攤油紙，夾層刺孔，貼患處。</p>
<p>臁瘡方</p>
<p>銅綠（一兩）　鋁粉（一兩）　兒茶（一兩）　桃丹（一兩）　輕粉（一錢）　蚌灰（三兩）</p>
<p>用潔蚌放生礬於內，濕紙包煨。共研細末，用麻油調，攤紙上貼之。</p>
<p>爛腳方</p>
<p>白占（一兩）　銅綠（一錢半）　鋁粉（二兩）　桃丹（六錢）　冰片（四分）</p>
<p>共研細末，摻患處，用紙紮之。</p>
<p>以上所載膏、丹、丸、散諸方，半出吾師朱若愚夫子傳授。其中參入各方系謙平日臨證時採擇古方之藥味平穩，素稱神效，（間有分兩等不合時宜者，略加變易）用之有效者，方始入選。古方不下萬千，茲擇外科之常用者，神而明之，已是應有盡有矣。</p>
<p><u>光緒五年歲次己卯巧月益之蔡謙吉志於環綠小舍之南窗下</u></p>
