<header data-type="book">
<h1>評註產科心法</h1>
</header>

<h1>小引</h1>
<p>庚申歲，友人攜慈善家印送《產科心法》見贈。其書於胎前產後證治靡不備具，且簡而賅，約而括，誠臨證之導師，治療之繩墨。瀏覽已，久思以公諸於世，乃倩越友三三醫報社主任裘吉生先生刊印流通，餉我同人，未必無小補云爾。</p>
<p><u>民國十二年夏六月邗江漱石生徐召南伯英識於拯黎</u></p>

<h1>續印《產科心法》之緣起</h1>
<p>清光緒己丑孟冬，拙荊產後五日，面赤氣喘，醫者目為外邪，用麻杏甘膏、大青龍湯治之。服後大汗數日，竟成不治。閱二年辛卯，偶在親戚家獲睹《種子產科心法》一書。其於胎前產後按症立方，頗為簡要，且悉麻黃為產後禁忌之藥，因借錄之。自後家內凡遇胎產見症，照方服藥，無不獲效如神，誠胎產之金針，醫家之寶筏也。近緣刻本罕見，借閱抄本者日多，碩果僅存，殊堪為慮。用是付印以利己而利人，其庶幾汪樸齋先生一片救世婆心，得以垂諸久遠云。</p>
<p><u>民國七年三月鶴城成榮澤謹識</u></p>

<h1>李序</h1>
<p>汪樸齋先生《產科心法》一書，向只有鈔本，予與弟侄捐資刻之以公諸世。自胎前臨產以及產後一切調治之法，無不曲折精到，犁然畢具。而開卷一門，則為種子方法。夫有萬物然後有男女，有男女然後有夫婦，有夫婦然後有父子。生育一事，乃天地自然之理，而必求種子方法，不幾涉於人為乎？不知此蓋為艱於子嗣者言也。顧艱於子嗣者，或因祖宗德澤衰微，或因夫婦命宮剋制，或因本身體薄精虛，雖理數難知，大率不離乎此三者近是。是則求種子者，道有存乎其先者矣。其一宜積德。古來勸善之書甚夥，予獨愛漢昭烈帝「勿以小善而不為，勿以惡小而為之」二語。夫小善必為，則大者可知矣。然善之大者，必有大經濟、大力量，而尤必有大機緣，遇者蓋少。至於小善，則人生一日之間，自朝至暮，一出一入，一言一動，罔不有善之可積。所謂德，無論陰不陰，只遇著善端，便勿錯過是也。善必自倫紀之地積起，乃為有本。推而至於濟人，又推而至於利物。積者，積也。日積月累，以小成大，而善量於是乎充矣。為善必先去惡。惡之大者，人皆知其傷天理、損陰隲，固不為也。至於小者，人每忽之。不知惡無論大小，一念之微，一事之細，苟有傷天地之和，即宜戒之慎之。大要總在去刻薄，從忠厚，務使方寸之內慈愛惻怛，無非一團生生之機，行之久久，自可扶祖宗之德澤，挽命宮之剋制，而承先啟後之道在是矣。其一在節欲。夫外遇之邪淫，正人所不為，至妻妾之間，亦宜有節。節者，制也。不知節，而以有限之精神，供不已之淫欲。譬如激川之流而水必涸，蕩家之產而用必窮。延嗣經云：元精耗竭，欲熾神疲，若此類者，欲求其種子，焉可得乎？惟能節欲，則精神充足，志氣清明，生子必然康強壽考，聰明端秀。語云：寡欲者多男，貪淫者無後，是欲之不可不節也明矣。予觀樸齋先生是書，於種子一門特揭明云，其法先宜積德存陰隲，可見積德為種子之本。至精薄體虛之人，則有五子種玉丹一方，以補填精髓。然與其精既竭而藉藥餌以補填之，何如節之而使不竭之為得乎？即或稟受怯弱，本質虛羸，然惟能節欲，而後藥力之滋補乃有效耳。予故因刻是書，而復為申論之如右。或有謂予曰：子之論是矣，而尚未得嗣何也？予曰：古人所謂行年五十，而知四十九年之非者是也。</p>
<p><u>嘉慶九年歲在甲子季秋上浣二日石門李超恆識</u></p>

<h1>原序</h1>
<p>蓋醫之一道，為司命之司，原非容易，但能存心濟人，博考群書，臨症體察，以人性命為重，雖未能有聖賢之學，而虛實寒熱、表裡陰陽辨釋明白，用藥得當，自不致於誤人。而產科一症，尤宜謹慎守法。略一錯誤，則胎不保，甚至產母亦傷，能無怨乎？至於產後，總屬氣血空虛，丹溪先生云：雖有他症，以末治之。此誠千古格言，自當遵前賢制方選用，斷不可以杜撰誤人。如無憂散、佛手散、生化湯之類，千古不磨，毋庸苟且。每見今人，醫產全不合法，一味杜撰好奇，名為生化，實非生化之意。設遇體厚者，僥倖得愈。體薄者，禍必立至。至於產後汗出，須防元陽外越；泄瀉，即防中氣下脫；喘急，更防惡露上逆。此皆產後極忌之處。而產後發熱，常有之也。緣下元空虛，陰虛生內熱，只須四物湯加童便，熱即退也。間有瘀血不行者，有經風者，有停滯者，有蒸乳者，各審其因而藥之。風感者用歸芎，補血之中加黑荊芥一味足矣。蓋產時體虛，百節開張，腠理不固，易入易出，若表其汗，則元陽外越，未有不死者也。其停滯者，只於理脾之藥加穀芽、陳皮可矣。蓋脾虛則不運化，宜用陽藥以助脾溫胃，即運化矣。須知產後有邪，總宜補中兼消，未有消而不補之理。有等初學無傳之輩，放膽竟用柴、芩、羌、防、山楂、神麯之劑，以治傷寒之病，忘卻產後之身，至輕者變重，重者即死，誤人不淺，真可畏怕也。況中風症乃血虛者多，《內經》謂治風先治血，血行風自滅。張景岳先生師其意，發有非風之論，此皆醫平人而言，尚謹慎如此，而況產後肝血空虛，虛生內風，更可知矣。夫天地有好生之德，吾儕寧不慎重於斯，而以人性命為兒戲哉？予每見而憐焉。因《產科心法》纂選成書，此吾數十年來用之效驗，悟於心而應於手，且簡而不繁。俾產家觀之為準繩，則性命得以安痊。醫家一有準繩，則舉手無錯誤矣。噫！圓通之士，始可與言斯道耶。</p>
<p><u>乾隆四十五年歲次庚子仲春月休寧樸齋汪喆纂並序</u></p>

<h1>蔡序</h1>
<p>天地之大德曰生，而胎產一事，則天地以其生生之德寄之於人，於以繁生齒而廣絪縕之化者也。顧其間或多難產，以致莫救。是生也而殺之，豈天地生生本意哉？亦由調攝、醫治、人事失其宜耳矣。新安汪樸齋先生，以岐黃名家，凡經診治者雖垂斃亦多能救之。大江南北，推為盧扁。復出所著《產科心法》一書，別為四：曰種子，曰胎前，曰臨產，曰產後。條分縷析，提要鉤元。其中依症附方，率皆中正和平，削去峻猛之品。觀其自序云，云蓋竭數十年研究之力用之取效，悟於心而應於手者，非剽取方書掇拾成說者可比。信乎，救世之婆心，而產科家之寶筏也。予友周君芾庭得是書于山左，攜至京師朋好轉相鈔錄，郵寄梓里。甲子孟夏李君固葊見而喜之，謂其精要詳明，可補《產科機要》、《救產全書》、《達生篇》諸書所未備，是宜公之於世，爰率其本宗弟侄捐資付之剞劂氏。予惟是書成於乾隆庚子歲，顧止有鈔本，流傳未廣，歷今二十有五年，始得諸君子刊而行之，而樸齋先生救世之婆心，乃以廣布於天下。從此家有其書，舉所謂調攝醫治之方，燦然具在上者，融會而貫通之，固可以窺產科之精蘊。次者按症取方，墨守其說而用之，亦不致入於歧誤，將見子有螽斯之慶，母無拆副之災，而天地生生之心，因以快然無憾焉。然則作者刊者，厥功均偉矣哉。</p>
<p><u>嘉慶甲子仲秋月上浣二日石門蔡德淳序並書告</u></p>

<h1>上集</h1>

<h2>種子門</h2>

<h3>種子方法</h3>
<p>聖書云：不孝有三，無後為大。蓋為人子者，以宗祧為大事。大凡年輕之人，精力強壯，原不難於生子。獨恐其不安靜，常多隨受隨落。至於男女體薄，而艱於子嗣者，延至四十之外，尚未得子，寧不心慌？其五六旬者，更不待言也。如欲得子，試聽吾言，依法行事，生男生女，其權原在自手，頗有應驗，豈可視為戲談，而至自誤無後耶。</p>
<p>其法先宜積德存陰隲，再自量男人本體如何。大凡難得子者，病有四件。其一氣不足。臨事必不能遠射，不射則精不入子宮，精不入子宮，孕從何來？且氣旺則能生精，氣虛則精必少。其二精薄。血虛則精必薄，薄而不凝結，何能成孕？其三不戀場。設遇房事，未及入門，精已泄，或既入門，未戰數合即出矣。子宮尚未啟門迎接，女興方起，男興已盡，將何物以結胎？其四精寒。精既寒冷，投入必不凝結。蓋陰陽交合，必陽精熱，陰戶暖，二人相火併旺，性志合於一處，一交一受，自能成胎。如春暖則萬物發生，冬冷則萬物消索，此天地陰陽自然之理也。人有前四者之病，故艱於子嗣矣。然四者之病，吾惟一方加減，自可盡其妙用，不比他書多方繁衍。久服吾藥，病自去而子必得也。又如女人惟以經期月准，無不受孕，只恐體薄血不旺，乃可娶妾以生，為老陽得配少陰之象。或者服藥卻其病，病去經調，縱不葉吉，吾亦以一方加減而盡其妙。天下娶婦不生子者，皆男人之體不足，非婦人之罪也。男女既無病矣，何不即生，自是不知種法。今總髮於後，請細玩之，定當生多子。</p>

<h3>種子歌</h3>
<p>三十時辰兩日半，二十八九君須算，落紅滿地是佳期，金水過時空霍亂。空霍亂兮枉施工，樹頭樹底覓殘紅，要知落花先結果，何愁桂子不成叢。此詩古書皆有，但未詳解，予特為之發明。蓋三十時辰本是兩日半，但從經行之時記之，在三十個時辰之外，即可端正行事。三十時辰之內，切勿亂動，動則婦人作病，故白二十八九君須算。言尚未過三十時辰，不宜行房事耳。落紅滿地是佳期，言已過三十之外，不必待其紅盡，即當種子矣。則四十時亦可。人每待其紅盡而後交合，則子宮已閉，或未閉而受孕者，定是女胎。故下文明言曰，金水過時空霍亂，空霍亂兮枉施工，樹頭樹底覓殘紅。此發明必帶殘紅未盡時，精入尚有殘紅，包裹而成孕，紅盡則子宮空虛，多難停流。只惟年壯血旺婦女，或者新血立至，然必是女胎，何也？予曰：此即血沖精，精被衝開，血反入內，合成離卦之象也。人之成胎，不過精血二物，一刻間而凝結。交至極樂之候，精泄之時，已成胎、未成胎，男女自有知覺之妙，俱在心神精氣共到之候。若耳聽別處，則不成胎矣。何也？以其心神不到之故也。詩之後聯云，要知落花先結子，何愁桂子不成叢，亦言不必待盡之意。試看荷花、鳳仙、石榴，一切結果之花，花瓣未盡落而中心先已結子矣。然其訣仍宜於半夜後交子時，陽分種子定是男兒。且夫婦睡至半夜，均得溫暖，氣血和勻。斯時交合，隱得麟兒。若再過婦人行經，在月半前更妙。予常以種法傳人，多得子矣。應驗如神。</p>
<p>予得子甚遲，因遍搜經書，窮究其理。醫多濟人，貧者助以藥資，買物放生，掩埋暴露骸骨。雖未能為陰功，或者亦可小補，因而依法連生三子，此皆天之所佑，然亦事在人為，莫謂五十無兒，以置之度外。至於胎前產後，均性命之相關，每遇診視之時，無不潛心細察，所有悟得之秘，惟願同人共知。將見無子者，有子產難者，不難，則吾一片婆心，概有補於世矣。</p>
<p><u>男服補天五子種玉丹</u></p>
<p>男人之精，即血化補。天者乾也，乾為天天一生水，補血添精之義。體不足而有四者之病，可統治之。加減於後，藥無間斷。</p>
<p>大原生地（八兩，清水洗刷淨，入瓦罐中水煮一晝夜，再蒸曬九次，焙乾）　山萸肉（四兩，酒拌炒）　淮山藥（四兩，乳拌蒸曬）　丹皮（三兩，酒炒）　塊雲苓（三兩，乳拌蒸曬）　澤瀉（三兩，鹽水炒）　當歸身（四兩，酒炒）　淮牛膝（二兩，炒）　杜仲（二兩，鹽水炒）　川續斷（二兩，鹽水炒）　枸杞子（四兩，酒拌蒸炒）　五味子（二兩，炒）　女貞子（三兩，鹽水蒸炒）　車前子（二兩，炒）　覆盆子（三兩，鹽水洗曬炒）　外用紫河車一具，甘草煎水浸洗淨，挑去血筋，煮爛打，或焙乾，炒磨。</p>
<p>以上共為末，煉蜜為丸。每晨淡鹽湯服四五錢，久服自能生精益腎。如有別故，照後加入，自必得子。</p>
<p>一如氣不足精不射者，加蜜炙黃耆十兩，熬膏（如有力之家，加人參一兩更妙）。</p>
<p>一如精薄或精少，加大米魚肚四兩，用蛤粉炒，鹿角膠（二三兩，蛤粉炒），豬脊筋十條（取出汁來，拌入茯苓內，蒸曬焙乾）。</p>
<p>一臨事易泄者，加鹿角霜（三兩，生研和入），釵石斛（三兩，炒），人參（一兩，焙），麥冬（二兩，炒）。</p>
<p>一如體熱，加地骨皮（二兩），蓮鬚（二兩），牡蠣粉（二兩），金櫻子熬膏代蜜。</p>
<p>一如精冷體寒之人，加桂肉（一兩，去皮研入），巴戟天（二兩，炒），鹿角膠（四兩，蛤粉炒），破故紙（四兩，鹽水炒，或加用鹿茸一對制。）</p>
<p>一勞心之人，心血耗散，常至臨事不舉，此心虧血少，非腎火虧也。本方加桂圓肉（四兩，蒸），棗仁（四兩，炒），茯神（四兩，炒），人參、當歸、柏子仁、益智仁等一派補心之藥，均可加入。自然君火生旺，君火一動，相火必隨之，未有心不動而腎舉事者也。世人每謂相火不旺而陽痿，服附子、鹿茸、海狗腎、硫黃、鹿鞭，一派大熱之藥，甚有靠此熱藥以縱欲，不知熱性猛烈，反消耗其精血，即太極之謂陽生陰死，火旺水枯，日後必生異毒，血海易於枯槁，莫可制也。富貴之人，往往如此，慎之慎之。</p>
<p><u>女服益母勝金丹</u></p>
<p>婦人以調經為主，其外肝經之病最多。肝氣鬱結，每多胃脘痛肋脹，甚至癥瘕腹痛則經為之阻，或受孕而易於小產。另有女科方法，和肝養血為先。他症一去，再服此丸，待經絡調暢，即可受胎。或用此丸，照後加減，亦多效驗。</p>
<p>大生地（四兩，水煮半熟，加酒一大碗再煮，收干，蒸曬打入）　當歸（四兩，酒拌，曬乾，炒）　白芍藥（三兩，酒炒）　淮牛膝（二兩，炒）　川芎（一兩五錢，酒炒）　茺蔚子（三兩，炒）　杜仲（三兩，鹽水炒）　白朮（四兩，土炒）　丹參（四兩，酒炒）　香附米（四兩，醋、酒、薑汁、鹽水各拌一兩，飯上蒸，再曬乾炒。）</p>
<p>以上共為末和勻，另用益母草八兩，水熬成膏一碗，加煉蜜為丸，桐子大。每晨開水吞四五錢，空心服，或兩料合一料，以便接濟。如有他故，照後加減。</p>
<p>一如素有腹脹，妨礙飲食，或以生地易熟地，或以制首烏易去熟地。</p>
<p>一經未及期而行，或色紫血熱也。加丹皮、生地、條芩。</p>
<p>一經過期而後行，或色淡血寒也。加肉桂、紫石英。</p>
<p>一臨期腹痛，名曰痛經，乃血中之氣滯不調。加延胡索、廣陳皮。</p>
<p>一或肝氣不和，或多怒，加廣木香、白豆蔻。</p>
<p>一脾胃不足，體本虛弱，加人參、茯苓、山藥，血去多亦然。</p>
<p>一素來多白帶者，加白扁豆、苡仁米、阿膠，加人參、茯苓亦可。然帶有五色，宜細辨之。大概只知為白帶，而白中略有青色，即為青帶，宜加木香，或少加柴胡。略有黃色，則加茯苓、陳皮、薑、棗。略有淡紅色，則為赤帶，方中加赤苓、丹皮、生地，略有黑色，加車前子、胡蘆巴以溫腎。</p>
<p>此皆發於五臟，所以隨各臟之色，而總歸於帶脈而出，是以謂之帶。有從濕熱而化，有從寒濕而化。大抵體實者帶少，雖云婦人十個九帶，究竟有一臟之不足，或思傷脾，怒傷肝，欲傷腎，或氣鬱則濕熱生，而清濁相混，以致帶脈不清，任脈不暢，故帶下也。若白物下多，亦令人成勞成損，不可不早治，補益脾腎之氣血。又有一種白淫，與男人之白濁同，乃出自骨髓，令人面黃無力，骨軟少神，皆房欲勞傷，妄想夢交，而得心旌搖動而來多者，名曰淋。輕則六味地黃湯可治，重者陣陣如水之來，必用人參黑歸脾湯加牡蠣粉、金櫻子兜澀之藥治之，不然必經水斷而成損症也。有腹中硬塊，有時疼痛，此瘕氣也，宜調肝為主。又有陰疝，宜加川楝子、荔枝核。</p>
<p><u>濟坤大造丸</u></p>
<p>此朱丹溪先生之方，治氣血本弱，不能攝元成孕，或頻墜胎，及生子不壽。成孕後，虛熱自汗，食少帶多，並宜服之。益氣血，補子宮，種子神方，或服前方，使經期已調，隨服此方一料。</p>
<p>紫河車（一具，制如前）　人參（一兩，切片焙乾，研細和入）　天冬（去心）　麥冬（去心）　當歸　淮牛膝　山藥（各一兩）　熟地（四兩）　杜仲（薑汁同鹽炒）　黃柏　五味子（各五錢）　</p>
<p>如虛弱多汗，加黃耆（二兩，蜜炙），地骨皮，知母（各一兩）。</p>
<p>如脾胃虛，常大便溏瀉，加白朮（二兩），蓮子（二兩，俱炒）。</p>
<p>如少睡驚悸者，血少也。加炒棗仁、桂元肉（各二兩）。</p>

<h2>胎前門</h2>

<h3>胎產醫法總論</h3>
<p>是書為胎產家便覽。既為胎產，必先種子，而後有孕，乃始用安胎。胎前保得十月滿足，方用臨產。產後諸樣病情，治法用藥，以保母子兩全，斯作者之心事畢矣。然胎產之書，前哲注刻均行於世。而書多者太繁衍，簡者缺略未備，又有託名翻刻，致失真原，久後流傳，以訛傳誤，難保無危。如薛立齋之良方善矣，而產後發痙一症用小續命湯，此方為中風而用，其中麻黃、防風、黃芩之類，何堪與產後之人服耶？雖自陳明後續云，前方與服不已，則轉用十全大補。予恐前藥過喉，雖有十全，已無補於事矣。再丹溪《胎產秘書》一本，乃周衡山刻行，善事也。集中雲已失作者姓氏，可知借丹溪之名。方中用生化湯，凡一切孕婦，月月可服，此言大誤蒼生。蓋生化湯為產後去瘀生新之意，其中黑薑、桃仁，豈可施於懷孕婦人？安得不胎熱血行，立見其小產者乎？再以當歸、川芎，用少則養血，用多則行血，故產後為必用之藥，於理甚明。故吾知非二公之作，真偽可辨矣。外《達生篇》，臨產備用善本，為產家之必要。惜乎胎前產後，俱未備載，得一缺二。今吾書於《達生》並胎產前後方藥齊備，將峻險之藥削除，取乎穩當，不致誤事，用治胎產，無餘蘊矣。然病有變化莫測，而運用之妙，存乎其人臨症消息增減可矣。</p>

<h4>診孕脈心法</h4>
<p>經曰：陰搏陽別，是為孕脈。又曰：手少陰脈動甚者，孕也，或謂流利雀啄之脈，孕數月之象也。予每診之，亦有不然。惟見兩關滑而流利，知是孕也。或問：何以現在兩關？予曰：兩關者，肝脾之部位。蓋肝藏血，脾統血，血不流行於經，乃凝成而為孕，所以現於兩關，滑而和勻，最為有準。此前人所未發之秘旨。或問：閉經之脈，亦於關乎？予曰：經閉之脈必澀滯，亦不定於兩關。葉孕之脈必滑利，是一定在兩關。初孕之時，常見兩尺沉伏之狀，此予數十年來悟得之秘，今著之於書，以為準繩。再以其人病，脈不病並與前賢論參考，則庶幾臨診無錯矣。</p>

<h4>診脈定男女心法</h4>
<p>古人謂左寸為陽，脈浮大者為男。右寸為陰，脈沉實者為女。兩寸皆大，主雙男。兩寸實，主雙女。予常診大而旺者多女，沉靜而兩手和勻，定生男兒。其兩手脈，偏於左大者男，旺於右手者女，此又易於辨也。然又有其人平素之脈，本屬六陽六陰，又不可以大小辨也。只在細察其情。左尺實者是男，右尺實者是女也。其雙胎之脈，大抵兩手均大而旺，又何獨在寸脈一部而然？要知前人只以論理而不能盡形於筆端。診者當於心領神會，體察其人之厚薄，血氣之旺衰，斯得之矣，又有血旺之人未及月而孕脈現。血不足之人，二月尚未見孕脈，此亦本體之厚薄耳。</p>

<h3>驗胎之法</h3>
<p>婦人經期不來已過四五十日，或偶見紅而少，或脈不應指，疑似之間，以此驗之。用川芎為細末，煎艾水調，空心服二錢。腹內覺微動則是孕，不動者非也。或以外象參看，如見食，不喜食或噁心而吐，或體倦欲臥，雖體質平常，孕脈不現，只要六脈調和，亦當是孕。此即是人病脈不病，但與養血安胎之藥數劑，孕脈自現矣。</p>
<p><u>安胃定胎散</u></p>
<p>白朮（一錢）　陳皮（七分）　砂仁（五分）　茯苓（一錢）　當歸身（八分）　藿香（三分）　老薑（一片）　炒米（二錢）　水煎服。如噁心而吐痰者，加製半夏五分。</p>

<h3>孕婦忌食</h3>
<p>（既受孕矣，則當慎之）</p>
<p>如眼前之雞子、雄雞、糯米、生薑等物，古書皆云宜忌。此家常食物，難以盡戒，但雞子、糯米有補益之功，又何必戒？而雞肉同糯米共食，令子生寸白蟲。豆醬與藿香同食，主墜胎。鱔魚同田雞共食，生兒必啞。而田雞、蝦蟆為之倮蟲，與人同形，男女皆不宜食。世間食物頗多，又何必食此蟲？且男人食之，精滑少子。女人食之，生子不壽。況且殺田雞時，其物抱頭而鳴，聲如孩啼，聞之可慘。賣田雞之人，多屬無後。以此觀之，可戒。食騾馬肉延月難產，食蟹每多橫生，食兔肉兒必缺唇，食雄雞生兒多哭，食鯉兒生疳瘡，食野獸兒生怪疾，多食火炙煎炒之物，兒必多生瘡毒。鴨子與桑椹同食，令兒心寒腹痛，皆有應驗，切須禁忌。總之，孕婦宜清淨，宜小勞，宜買物放生，不宜看戲，勿觀異物，勿致動怒勿戲謔，勿妄想。飲食只可家常菜飯，行路不宜急，下步不宜重，勿攀高拾物，勿輕狂負重。知字者常視經書，則生子自然聰明清秀而多壽。</p>

<h3>藥忌</h3>
<p>娠妊在腹，如懷藏寶。服藥所忌防其傷胎。醫家舉筆，留神不可孟浪草率。吾師程鍾齡先生，同葉其秦先生編成歌句，俾後人易於誦記。予略為之增補。此外，仍有信砒、水銀、斑蝥、水蛭、蛇蛻、蜈蚣，一切毒物，雖非恆用之品，或遇生毒別故，皆宜留心避之。</p>
<p><u>歌曰</u></p>
<p>烏頭附子與天雄，牛黃巴豆並桃仁，芒硝大黃牡丹桂，牛膝藜蘆茅茜根，槐角紅花及皂角，三稜莪朮薏苡仁，乾漆䕡茹瞿麥穗，半夏南星通草同，乾薑大蒜馬刀豆，延胡常山麝莫聞，黑醜檳榔同蘇木，傷胎之藥避其凶。</p>
<p>此中有安胎止嘔，不得不用半夏者，必用開水泡洗三次，以去燥烈之性，嘔止即去。有熱病閉結，傷寒傳經入腑而必欲大黃者，有中寒於陰，必欲薑桂者。《內經》曰：有故無殞，亦無殞也。衰其大半而止。此即有病則病當之，乃從權也。然必不得已而用之，不可過劑。而用藥中，亦必有顧胎之味。予意總之胎前有病症，重在保胎；產後有病症，重在溫補。此至穩至當之理。</p>
<p>產後有病，重在溫補，乃云至穩至當之理。試問：仲景云產後有三病，一者病痓，二者病鬱冒，三者大便難，此三證乃血虛火旺，津液不足，亦可以溫補治之乎？吾嘗謂立言不慎，實貽害於蒼生，此類是也。（徐評）</p>

<h3>惡阻</h3>
<p>（孕婦嘔吐，名曰惡阻，非謂經阻而言）</p>
<p>娠妊之際，經不行。濁氣凝滯，上干清道，或中脘停痰，胸膈滿悶，眩暈嘔吐，或倦臥無力，而不喜食；或一時覺大病之象，或過時而全無病；此所謂孕婦多怪病，實非病也，名惡阻。方用二陳湯加枳殼炒，砂仁研去殼，以安胃化痰。若脾氣虛，用六君子湯加紫蘇梗（五分），枳殼（五分，炒），砂仁（五分，炒），香附（八分），加薑棗煎服。其半夏必用姜水泡洗三次。若與人參同用更穩。惡阻之症，雖屬尋常，然嘔多不食，氣必上逆，逆則防沖，動心包，孕婦有礙，急宜安胎調胃。</p>
<p><u>二陳湯</u></p>
<p>製半夏（一錢，泡）　廣陳皮（七分）　白茯苓（一錢二分）　炙甘草（五分）　本方加人參（八分），白朮（一錢），即六君子湯。俱宜加薑棗煎服。</p>

<h3>胎動不安</h3>
<p>胎動各有所因，或怒動肝火，或起居不慎，或跌撲閃動，及房事動擾，則胎不安。孕婦腰痛發熱，不食不眠。方用安胎飲主之各有加減法。設若不安之甚，防其胎傷於內，須驗其舌，與面色相配。如面赤舌青，知胎已傷。面青舌赤，母傷子存。面舌俱赤，兩無妨。面舌俱青，兩命亡。如產婦口吐白沫，唇口色青者，立死難保。娠妊者，切宜慎養。</p>
<p><u>安胎飲</u></p>
<p>大熟地（三錢）　歸身（一錢）　白芍（一錢，酒炒）　炙草（五分）　艾葉（五分）　砂仁（五分，研）　白茯苓（一錢五分）　川芎（三分）　白朮（一錢，土炒）　阿膠（一錢）</p>
<p>水煎服。</p>
<p>胎動，有因寒因熱、因虛因實之分，豈可概從溫補為事。（徐語）</p>
<p>若起居不慎，房事擾動者，加人參（一錢），杜仲（二錢），川斷（一錢），桑寄生（二錢），真者為佳。如無力用參，即加蜜炙黃耆（三錢）。若怒動肝火，本方加柴胡（三分），黑梔（八分）。若脾虛氣滯者，除熟地，加人參（五分），陳皮（五分），白扁豆（二錢，炒）。若跌撲傷動，另用當歸（一錢五分），川芎（五分），青木香（一錢），桑寄生（二三錢）（此物極能安胎，最妙，惟恐不真）。若感風寒相搏，須按各經以祛之。輕者於本方除熟地加蘇梗一錢，此味能寬胎氣，去脹滿，且安胎。或加青苧三錢。大凡子煩諸症，皆可加入。更有氣虛胎下陷者，另用補中益氣湯，以升舉胎元則安。大抵體弱之人，安胎飲內皆宜加人參，即合成膠艾八珍湯。</p>
<p><u>補中益氣湯</u></p>
<p>炙黃耆（二錢）　於朮（一錢，土炒）　陳皮（五分）　歸身（一錢）　柴胡（三分，蜜炙）　升麻（三分，蜜炙）　炙草（五分）　加薑棗煎服。</p>
<p><u>保胎丸</u></p>
<p>此即家訒庵先生托胎丸，予加當歸配成君臣佐使四味，名保胎丸，極有效驗，即名千金保孕方。</p>
<p>杜仲（八兩，用糯米粥湯拌，蒸曬乾炒）　山藥（六兩，炒另磨留粉二兩，打糊為丸）　川斷（四兩，鹽水炒）　當歸（二兩，酒炒）</p>
<p>即用山藥粉打糊為丸。亦有用棗肉打為丸，不拘時，開水送下四錢。凡有孕者，即合服之。服過七個足月可止，此方物省而功大，永無小產之患。且產後多乳病，貧者宜傳此方與服，價廉不費。雖受外感，亦勿間斷。如見有小產者，即傳此方，其效如神。</p>

<h3>漏胎</h3>
<p>婦人之經血，一有孕時，即蓄之以養胎。至產後，則變乳以養子，此天地生人自然之妙。倘孕婦忽然見紅，名曰漏胎，急宜服藥保之，毋致血瀝多而胎不保也。</p>
<p>若因風熱動血者，即用四物湯，送下防風黃芩丸（二錢），一日兩三服。若因怒動肝火者，用逍遙散加黑山梔（一錢），條芩（五分）。若血虛妄走者，用四物湯加茯苓神、阿膠（各一錢），艾葉（五分），蓮子（十粒）。若脾虛不能攝血者，用歸脾湯加膠、艾、蓮子。若氣虛下陷者，亦用補中益氣湯。若去血大多，即用八珍湯大補之，然必要人參，即同血脫益氣一體耳。百問曰：胎息未實，勞力觸犯，或食毒物，或房勞驚恐，令子宮虛滑，經血淋瀝，敗血湊心，子母難保，此急症也，速大補之。</p>
<p>敗血湊心，多是氣逆之故，宜急順其氣，速降其瘀，所謂急則治其標也。乃云速大補之。若補氣乎，則氣愈壅逆。補血乎，則敗血。將何以處治？斯誠亂道之語，誤人之言，不待辨而自明矣。（徐評）</p>
<p>《產集》曰：肝經有風，下非胎血，宜服防風黃芩丸。此實症也。</p>
<p>《千金方》曰：娠妊下血不止，名曰漏胞。胞干便死，急用生地八兩，以清酒三升，煮減半，絞去滓服，此亦急症也。</p>
<p>有等妊娠，紅漏不多，精神如故，六脈和平，此兒小血盛有餘症也，醫者望而知之。</p>
<p><u>四物湯</u></p>
<p>大生地（三錢）　當歸（一錢）　白芍（一錢二分）　川芎（三分）</p>
<p>加絲綿燒灰（五分），水煎服。</p>
<p><u>防風黃芩丸</u></p>
<p>青條芩（一兩，醋炒黑色）　防風（一兩，炒）</p>
<p>共二味為末，酒糊為丸，米湯下。</p>
<p><u>逍遙散</u></p>
<p>當歸身（一錢）　白芍（一錢）　白朮（一錢五分）　柴胡（三分）　炙甘草（五分）　茯神（一錢五分）</p>
<p>水煎服。</p>
<p><u>歸脾湯</u></p>
<p>人參（一錢）　白朮（一錢五分，土炒）　黃耆（二錢，蜜炙）　歸身（一錢五分）　炙草（五分）　茯神（二錢）　棗仁（一錢五分，炒）　遠志（五分）　廣木香（五分）　桂元肉（五枚）</p>
<p>加薑棗，水煎。</p>
<p><u>八珍湯</u></p>
<p>人參（二錢）　白朮（三錢）　茯苓（二錢）　甘草（五分）　熟地（五錢）　歸身（一錢五分）　白芍（一錢）　川芎（五分）</p>
<p>加薑棗煎服。</p>
<p><u>補中益氣湯</u>（見前胎動）。</p>

<h3>半產</h3>
<p>有孕，須防三五七月。蓋孕三月，胎火初動，常令心煩悶亂。四五月，受少陰君火以養精。六七月，受少陽相火以養氣。稍有氣血不足之體，則胎墜矣。巢氏曰：受胎在腹，七日一變，至三月屬心，五月屬脾，七月屬肺，皆屬五臟。臟陰虧而易墜。如初一月屬肝，怒則墜。每洗下體，竅開亦墜。房事不謹，亦墜。即前文所謂隨受隨落也，大半皆如此，人所不覺耳。大凡胎氣，腹痛者常事，而腰痛者切須防也。急宜服藥，補腎安胎，不可不早言之。至紅一漏，只可十保其三，宜服安胎飲，重用熟地，或加人參、桑寄生。但小產重於大產。蓋大產乃瓜熟蒂落，天生自然。小產必有所由，驚動而下，乃生斷其蒂。胎之胞附於帶脈，帶又環繫於腰，是以腰痛帶脫，胞胎即下矣。預服保胎丸，則無患矣。</p>
<p>小產後，即如大產相似治之。若去血多者，即可服人參、熟地，而當歸宜重用，亦是去瘀生新之意。有虛寒之甚者，宜加附子、阿膠。</p>

<h3>子煩</h3>
<p>子煩症，心煩悶亂，說不出之難過，此君相二火，翕聚以養胎，火盛內熱致煩也，宜用淡竹葉湯主之。若氣滯痰凝而悶者，用二陳湯加白朮、黃芩、蘇梗、枳殼。若脾虛胃弱，食少嘔吐者，用六君子湯，或加香砂以安之。但子煩之症，不善調攝則胎動不安，須防小產之患。又有吐久氣逆，胃元大虛，不能進飲食，恐致產母氣脫，故初即要降火，繼即安胃進食，此一定也。</p>
<p><u>淡竹葉湯</u></p>
<p>淡竹葉（十片，洗）　黃芩（一錢）　知母（一錢）　麥冬（一錢五分，去心）　茯苓（二錢）</p>
<p>水煎服。</p>
<p><u>二陳湯</u>（見前惡阻）</p>
<p><u>六君子湯</u>（同見前）</p>
<p>如加香附（一錢），砂仁（五分）　即香砂六君子湯。</p>

<h3>子懸</h3>
<p>子懸乃胎氣上逼，緊塞於胸次之間，脹滿疼痛是也。有寒火之分，有肝氣，有停飲，有火盛。心悶絕而死者，方用紫蘇飲連進以救之。</p>
<p><u>紫蘇飲</u></p>
<p>紫蘇梗　歸身（各一錢）　白芍　炙草（各五分）　川芎（三分）　人參（六分）　大腹皮（八分，黑豆水洗）　砂仁（三分，去殼）</p>
<p>以上各味外加姜（一片），蔥白（一寸），煎服。</p>

<h3>子眩</h3>
<p>子眩，為氣逆暈厥，並用紫蘇飲。然有脾虛夾痰，用六君子湯加天麻五分。若脾不甚虛，獨頑痰閉塞者，用二陳湯加竹瀝、薑汁。虛實之間，宜察辨之。如不合法，即防胎落。大約肝經氣逆者多，予常用紫蘇飲加枳殼、鉤藤而安。</p>
<p><u>紫蘇飲</u>（見前）</p>
<p><u>六君子湯</u>（見前惡阻）</p>
<p><u>二陳湯</u>（見前惡阻）</p>

<h3>子癇</h3>
<p>（又曰子冒）</p>
<p>孕婦血虛，風邪入肝，忽然昏冒不知，須臾則醒，過時復發，久則變痙。痙即口噤搐搦，背腰反張，如兒童發驚之狀，方用羚羊角散定之。若怒動肝火，佐以逍遙散加人參五分。若引動胎氣逆上，佐以紫蘇飲。兼脾虛夾痰者，佐以六君子湯。或因中寒而發者，宜理中湯加防風、鉤藤。此症宜速治，若頻發無休，不但胎孕驟下，抑或血隨渙散，母命難保。如胎下，急大溫補氣血為要，方可得保母命，遲恐難以挽回。</p>
<p><u>羚羊角散</u></p>
<p>羚羊角　獨活　當歸（各一錢）　川芎（三分）　人參（八分）　茯神（一錢五分）　桑寄生（二錢）　鉤藤（三錢）　防風（七分）　甘草（五分）</p>
<p>加姜或竹瀝，煎服。</p>
<p><u>理中湯</u></p>
<p>白朮（二錢）　炙草（五分）　乾薑（一兩）</p>
<p>水煎服，或加人參更妙。</p>
<p><u>逍遙散</u>　<u>紫蘇飲</u>　<u>六君子湯</u>（俱見前）</p>

<h3>子腫</h3>
<p>（又名子氣、子滿、胎水）</p>
<p>妊娠婦人，常有面目腿足腫脹，故有各腫之名，其實皆由脾土不足以傳化水穀之濕，而胞胎壅遏，膀胱不化，水泛橫流，致肺氣不降而喘息，小便淋漓不利，古方用鯉魚湯、葵茯湯、白朮散，皆有妙處。予每用五皮飲，如水腫之治，亦多驗。蓋一體水症也，此方簡而易，不已再用鯉魚湯，惟參朮不宜早補，補則填塞不通，總宜利濕為先。如體厚者，或輕而小便利者，亦可不必治，待生子後而自消矣。此皆以體而言，不致脹滿難過。</p>
<p><u>鯉魚湯</u></p>
<p>白朮（四兩）　生薑（一兩）　茯苓（四兩）　當歸（二兩）　白芍（二兩）　鯉魚（一尾重斤）</p>
<p>先以水煮鯉魚取汁，澄清，以汁煎藥，分五次服。</p>
<p><u>葵茯湯</u></p>
<p>冬葵子（半斤，炒）　茯苓（三兩）</p>
<p>共為末，每米飲湯，服三錢。</p>
<p><u>白朮散</u></p>
<p>土炒白朮（一錢五分）　茯苓（一錢五分）　澤瀉（八分）　陳皮（五分）　姜皮（五分）　大腹皮（一錢二分）　木香（三分）</p>
<p>原方無分兩。</p>
<p><u>加味五皮飲</u></p>
<p>桑白皮（一錢五分）　大腹皮（一錢五分，此味只可治胎腫，常見治水腫者，服之愈大，須慎用）　茯苓皮（一錢五分）　新會皮（一錢五分）　紫蘇梗（一錢五分）　車前子（一錢五分）　老薑皮（八分）　五加皮（一錢五分）</p>
<p>二三劑後再加白朮、茯苓，消去大半，然後再用六君子湯，補其脾氣，亦宜食淡，淡以滲利也。</p>

<h3>子嗆</h3>
<p>（又名子嗽）</p>
<p>娠妊數月，胎熱沖肺金，常有咳嗽者，宜用瀉白散加黃芩、蘇梗、川貝主之。如感風熱，再加荊芥、桔梗、甘草。毋任咳嗽傷肺，至成產勞。又不可用溫散之味，如羌活、麻黃、桂枝之類，反傷肺而助火，恐胎熱上逼，莫可療也。如前藥之不愈，可服六味地黃湯，為至穩之法。</p>
<p>既感受風熱，而云可服六味地黃湯，是直將外邪膩住，錮蔽不出，為後勞病基礎。噫，可慨也夫？（徐評）</p>
<p><u>瀉白散</u></p>
<p>桑白皮（二錢）　地骨皮（三錢）　</p>
<p>二味煎服。</p>
<p><u>六味地黃湯</u></p>
<p>熟地（三錢）　萸肉（一錢）　茯苓（一錢）　山藥（二錢）　澤瀉（八分）　麥冬（一錢五分，此味代丹皮）</p>
<p>水煎，空心服。</p>

<h3>子鳴</h3>
<p>孕婦腹內出聲，乃小兒腹內啼也。此由胞中疙瘩，兒常含於口中以吮血。偶然孕婦攀高拾物，脫出兒口，因而啼鳴。急令孕婦曲腰就地片時，如拾物狀，啼即止矣。或服四物湯加白朮、茯神二劑，胎氣安固。然必孕六七個月者有之。</p>

<h3>子喑</h3>
<p>娠妊至八九月忽然不語，謂之子喑。不必驚慌，但以飲食調養，可不必服藥。此胞胎繫於腎，腎脈貫舌本，待分娩自能言也。如不放心，可服四物湯加茯神、遠志。亦有即能言者，妄投雜藥，反恐有誤。</p>

<h3>子淋</h3>
<p>腎開竅於二陰，與膀胱為表裡。熱則小便淋漓，甚者心煩悶亂，用子淋散主之。如腎虛熱，不能司化，用六味湯加車前子，或加知柏治之。又有安樂散、葵子湯，皆可選用。</p>
<p><u>子淋散</u></p>
<p>茯苓　麥冬　木通　甘草　大腹皮　淡竹葉</p>
<p>水煎服。</p>
<p><u>安樂散</u></p>
<p>人參　麥冬　歸身　甘草　通草　滑石　細辛　燈心（各五分）</p>
<p>水煎服。</p>
<p><u>葵子湯</u></p>
<p>冬葵子　滑石　木通（各等分），加蔥白七寸，水煎服。</p>

<h3>小便不通</h3>
<p>（又名轉胞）</p>
<p>此症不比淋，淋乃頻數，為子淋。不通則點點滴滴，甚至點滴不能下，症重於子淋矣。此胎墜於下胞系被壓，故名轉胞。其禍最速，如不急治，即濁汙上逆，上吐清水，如關格者，可不危乎。升舉胎氣，朱丹溪先生用補中益氣湯，服下隨探吐之，大有義理。吾師鍾齡先生用茯苓升麻湯，每效如神。古方有用四物湯加黃芩、澤瀉，此治輕者而用也。又張仲景先生治轉胞，方用八味湯。乃下焦偶感虛寒，胎氣陰冷，密水斷流，得暖則陽氣宣通矣。又有一症，為孤陽無陰，不能化氣者，宜補其陰，古方滋腎丸是也。吾師用六味湯加車前、牛膝，亦多收功。斯二症一陰一陽，水火之分，極宜深究，不可錯誤。當診其脈之遲數，察其人喜冷喜熱，合而辨之，庶不誤人。</p>
<p><u>補中益氣湯</u>（見前）　四物湯見前）　六味湯見前）</p>
<p><u>茯苓升麻湯</u></p>
<p>白茯苓（五錢）　赤茯苓（五錢）　升麻（一錢五分）　當歸（二錢）　川芎（一錢）　苧根（三錢）</p>
<p>急流水煎服。</p>
<p><u>八味湯</u>（即六味湯加桂附）</p>
<p>熟地（三錢）　萸肉（一錢）　山藥（一錢五分）　茯苓（一錢）　澤瀉（八分）　麥冬（一錢，代丹皮）　肉桂（三分）</p>
<p>製附子（三分，此二味胎中慎用）</p>
<p>水煎涼服。</p>
<p><u>滋腎丸</u></p>
<p>黃柏（一兩，炒）　知母（一兩，蒸炒）　肉桂（一錢，去淨皮研）</p>
<p>蜜丸，開水下五錢。</p>

<h3>孕悲</h3>
<p>孕婦無故悲泣，為臟躁也。用大棗湯，或竹茹湯治之，自愈。</p>
<p><u>大棗湯</u></p>
<p>小麥（三兩）　甘草（三兩）　大黑棗（十枚）</p>
<p>水六碗，煎三碗，分三四次服。</p>
<p><u>淡竹茹湯</u></p>
<p>人參（一錢）　茯苓（一錢）　半夏（五分，泡）　麥冬（五錢）　甘草（五分）　竹茹（一錢五分）</p>
<p>加棗姜，煎服。（此方心虛、虛煩、驚悸，皆可治。）</p>

<h3>尿血</h3>
<p>（加味逍遙散，見下集乳癰門）</p>
<p>孕婦血尿，不必驚慌，方用續斷湯。或膠地湯。如怒動肝火，用加味逍遙散。若食火炙熱物，用加味清胃散。有血熱流滯於脬，即為血淋，用葵子一升，研細，水煮二升，分三次服。</p>
<p><u>清胃散</u></p>
<p>黃連　生地　連翹　升麻　麥冬</p>
<p><u>續斷湯</u></p>
<p>川續斷（五錢）　赤芍藥（五錢）　生地（一錢）　當歸（五錢）</p>
<p>共為末，每空心，蔥白煎湯調服二錢。</p>
<p><u>膠地丸</u></p>
<p>阿膠（二兩，蛤粉炒為末）　大生地（二兩，酒蒸熟杵膏）</p>
<p>二味為丸，如桐子大每服七十丸，空心米飲下。此方極穩且補血，如急時，每樣二錢，水煎服。</p>

<h3>乳泣</h3>
<p>有孕在腹，乳自出，名曰乳泣。泣多，恐生子難養，緣內血不足以養胎也。乃氣血虛弱，不能統攝，多服八珍湯以助其血，子遂能育，所謂醫有贊育之功。</p>
<p><u>八珍湯</u>（見前胎漏）</p>

<h3>胎不長</h3>
<p>婦人月經不行，已六七個月，從前月事准，今又無病，腹不見大，脈見微滑，但不甚旺，此胎不長也。是以常有十二三個月而生者，此產母血氣不旺，法當助其血氣，補其脾胃，即胎長腹大而生。補脾用五味異功散，培血用八珍湯。如有別疾，隨症加減。《集驗方》用鯉魚尺許，煮食其汁，胎能長。《指掌方》用黃耆湯、白朮丸，皆能長胎，均助脾胃、補衝任之法。</p>
<p><u>五味異功散</u>（即六君子除半夏）</p>
<p>人參　白朮　茯苓　甘草　陳皮</p>
<p>加薑棗煎服。（此方除陳皮加四物湯，即八珍湯）</p>
<p><u>黃耆湯</u></p>
<p>黃耆　白朮　茯苓　麥冬　人參　陳皮　甘草</p>
<p>薑棗煎服。</p>
<p><u>白朮丸</u></p>
<p>白朮　當歸　阿膠　地黃　川芎　牡蠣　川椒</p>
<p>蜜為丸。</p>

<h3>熱病防損胎</h3>
<p>（解毒湯：黃芩、黃連、黃柏、梔子）</p>
<p>孕婦或感傷寒，或染時令火症，燒熱昏昏不退，急用涼藥清解，以保其胎，如三黃、解毒、芩、連、羚羊，惟犀角傷胎之物，不宜用。如不解，至胎損腹中，不得下，孕婦昏憒，斯時極難著手，須驗產母之舌。如面赤舌青，其子已損，急用平胃散加朴硝，服下立出。但死胎不得不下，下之又恐氣隨下脫，不下又難保產母。倘面青舌赤，及面舌俱青而口吐白沫者皆兩命難存，不可為也。設遇胎下面轉赤，尚有一息之存，隨即以參耆歸地救之，間可活十中一二。</p>
<p>熱入血分，不用犀角。經曰：有故無殞，亦無殞也。第不可過劑耳。</p>
<p><u>平胃散</u></p>
<p>蒼朮（二錢）　厚朴（一錢五分）　陳皮（一錢五分）　甘草（八分）</p>
<p>加朴硝（五錢）　煎服。又方：獨用朴硝三四錢，童便一盅和熱酒調服，即下。但下後即如產後溫補，若仍作熱症醫，即錯矣。</p>
<p>熱病傷胎，下後即用溫補，是促其母死耳。（徐評）</p>

<h3>娠妊傷寒</h3>
<p>凡遇傷寒必保胎，莫與尋常一樣猜，最穩只宜香蘇飲，分經加味變通來。</p>
<p><u>香蘇飲</u></p>
<p>香附　紫蘇　陳皮　甘草　砂仁</p>
<p>如太陽經加防風，荊芥，秦艽，陽明經加葛根、知母，少陽經加柴胡、黃芩、人參。</p>

<h3>瘧疾</h3>
<p>（即是少陽症，邪在半表半裡之間）</p>
<p>此症乍寒乍熱，過時神清。有一日一發者，有隔日一發者，始則亦宜香蘇飲表之。如待寒熱分明，始用小柴胡湯和解之，切勿早用柴胡。若汗多宜加人參，如熱盛寒少而有汗，可加石膏、知母以涼散退熱，勿致熱傷胎氣，早為留意。</p>
<p><u>小柴胡湯</u></p>
<p>柴胡　人參　茯苓　陳皮　甘草</p>

<h3>泄瀉</h3>
<p>感寒濕者水瀉，食生冷而不化者溏瀉，皆用神朮散以治之。</p>
<p><u>神朮散</u></p>
<p>製蒼朮（一錢五分）　厚朴（八分，炒）　陳皮（八分）　甘草（五分）　藿香（一錢）　砂仁（五分）</p>
<p>加姜一片煎服（或加茯苓大腹皮）。</p>

<h3>痢疾</h3>
<p>瀉輕而痢重，痢則裡急後重，下痢紅白，稠黏臭穢，此積物與熱結聚腸胃，氣閉不通，宿滯不去。不愈，初宜葛芍湯，次用消積，再用香連丸。總以能食者輕，食減者重，絕食噤口者死。</p>
<p><u>葛芍湯</u></p>
<p>葛根（二錢）　赤芍藥（三錢）　廣皮（一錢五分）　苦參（一錢）　陳茶葉（二錢）</p>
<p>煎服。不已，再加山楂（三錢，炒），神麯（一錢，炒），或檳榔（五分）。</p>
<p><u>香連丸</u></p>
<p>廣木香（一兩，焙）　川黃連（五錢，焙）</p>
<p>神麯和為丸，每服二錢，米飲湯下。止後隨服生地四物湯，以調血分。</p>

<h3>鬼胎</h3>
<p>人之臟腑安和，心正無思，精神健旺，氣血充實，安得有妖魅之邪乘之？惟體本柔弱，精神或亂，或獨居靜室而多驚疑，則邪氣交侵而受，或夢與鬼交，而成經閉腹大，正如懷子一般。但其婦必面色青黃不澤，脈細澀，或大或小，兩手兩樣。變更無定，或作寒熱之狀，攢眉不樂之形，此由肝脾憤郁之氣，非胎也。治用雄黃丸攻之，而以各經見症之藥輔助元氣。前賢又有斬鬼丹，極妙之用，消去，隨服桂附八味，或服六君子湯、歸脾湯，以補正心脾，自無他患。虞氏曰：此肝腎相火，發為白淫，流入子宮，結為此胎，是本婦之精結，非真有鬼交也。</p>
<p>古人論鬼胎云，皆由其人陽氣不足，此語誠然。蓋陽衰失其沖和之令，致陰氣凝聚，宛若胎形，陰氣愈凝，其腹愈大。用藥振其陽氣，其胎即化為烏有。或不治，待其人陽氣自旺，其胎亦消。曾見一婦，懷妊日久而不產，一日大便出氣，而皤皤大腹，竟因是而消，此即鬼胎者也。（徐評）</p>
<p><u>雄黃丸</u></p>
<p>明雄黃　鬼臼　丹砂（水飛，各五錢）　延胡索（七錢）　麝香（一錢）　半夏（一兩，姜炒）　川芎（七錢）</p>
<p>共為末，蜜丸，空心服三十丸。</p>
<p><u>斬鬼丹</u></p>
<p>吳茱萸　川芎　秦艽　柴胡　芫花（醋煮）　殭蠶　巴豆霜　巴戟天</p>
<p>蜜丸，酒下七丸出惡物愈。</p>
<p><u>桂附八味</u>（見前小便不通）　六君子見前乳泣異功散加半夏）　歸脾湯見前胎漏）。</p>

<h3>吐血</h3>
<p>孕婦吐血，或因感風熱者，必咳嗽。嗽久見血，用香蘇飲加黃芩、象貝，以清散風，去咳止血，必不吐也。或胎熱胃火上衝而吐者，但用安胎飲加黃芩、麥冬，其生地只用小者，胎涼血自歸原。或因食煎炒炙煿之物，致胃火上逆而吐血者，用清胃散去丹皮加麥冬、黃芩主之。若本體虛弱，素有血症者，用六味地黃湯加地骨皮、釵石斛、麥冬、牛膝，其虛火自安。</p>
<p><u>安胎飲</u>（見胎動）　<u>六味地黃湯</u>（見前）</p>
<p>（加味）　香蘇飲</p>
<p>蘇葉（一錢）　香附（八分）　陳皮（七分）　甘草（五分）　荊芥（八分）　蔓荊子（一錢五分）　秦艽（一錢二分）　川芎（三分）　防風（五分）</p>
<p>水煎服。</p>
<p><u>清胃散加減</u></p>
<p>生地（三錢）　連翹（一錢二分）　黃連（三分）　麥冬（二錢）　黃芩（五分）　象貝（一錢）</p>
<p>煎服。</p>

<h3>便血</h3>
<p>孕婦大便見血，亦是血熱妄行。大凡血症，上行為逆，下行為順，宜服生地四物湯加麥冬、槐米、赤芍、甘草主之。如系臟毒，加金銀花必自愈。</p>

<h3>大便燥結</h3>
<p>孕在腹中，總有胎熱。大便燥者多，切勿臨圊用力努掙，多有因此而小產者，為用力努傷胎氣，致兒隨下，亦有掙傷胞衣而墜下者。蓋胎被氣迫下，氣愈迫而大便愈難出，只宜服生地四物湯加松子、黑芝麻，或麥冬、栝蔞，並以菜油或生麻油沖湯飲之，皆以潤腸之意。而大黃滑利之藥，皆忌服。</p>

<h3>孤漿</h3>
<p>娠婦六七個月，暴下黃汁水，或如膠或如豆汁，多者升許，名曰孤漿，並非產也。然每每胎動腹痛，皆氣血元虛，若認為產，心慌神張，則胎必依而墜矣。急服黃耆糯米湯可保胎，服。人參者更妙。方用黃耆六兩，糯米半升，水七升，煮汁三升，分作四服，日三夜一，盡服完為妙。</p>

<h3>誤服傷胎之藥</h3>
<p>薛立齋曰：妊婦誤服毒藥胎動不安者，急服甘草、黑豆、淡竹葉，濃煎以解之。予謂毒藥者，即《內經》婦人身重，毒之如何。此必有他病，而用胎中所忌之藥，致胎動也，非真有信砒毒耳。</p>
<p>《素·六元正紀大論》曰：婦人重身，毒之何如？曰：有故無殞，亦無殞也。蓋藥所以去其病，病去則胎自安。雖大毒之藥，何傷胎之有哉！苟藥不中病，雖通草、滑石等平淡之藥，亦足以傷其胎。是醫者之過，非藥之過也。若汪氏之說，全失經文之旨矣。（徐評）</p>
<p>淡竹葉欠妥。若誤服熱藥致胎動者，綠豆汁飲之最妙。（徐評）</p>

<h3>心痛</h3>
<p>《大全》曰：娠妊心痛，乃風邪痰飲交結。予謂肝氣不暢者多。若傷於絡，則乍作乍安，名曰厥痛。若胎動下血，乃傷觸子臟也，用安胎飲或火龍散、手拈散。輕者一味砂仁湯，使氣調自安。若果真心痛，指甲青，朝發暮死，夕發旦死，無能為力。然此症懷孕者少，蓋心真痛為寒冷入心，水克心，火滅也。而懷妊者必有胎熱，當之不致寒水上凌於心。</p>
<p>心者君主之官，端拱無為，豈能為痛，痛者，乃肝胃之氣不暢，或風邪痰飲交結之故也。（徐評）</p>
<p><u>火龍散</u></p>
<p>川楝子　茴香（各一錢）　艾葉（一錢五分，鹽水炒）</p>
<p>煎服。</p>
<p><u>手拈散</u></p>
<p>延胡索（五分）　五靈脂　草果　乳香　沒藥（各一錢）</p>
<p>共為末，每服一錢。</p>

<h3>胸腹痛</h3>
<p>張仲景曰：懷孕腹痛，當歸芍藥散治之。此益氣血也。然或有宿痰，或風冷觸犯，或氣或食，統以香附、砂仁、蘇梗、生薑四味極穩。</p>
<p><u>當歸芍藥散</u></p>
<p>當歸　白芍　茯苓　白朮　澤瀉　川芎</p>
<p>水煎服。或為末，每服二錢。</p>

<h3>腰痛</h3>
<p>大凡腰痛皆屬腎虛，在妊中最宜急治。蓋胞胎繫於帶脈，帶脫則胞下墜矣。古方用青娥散治之，予常以熟地、杜仲合保胎丸多效。</p>
<p><u>青娥丸</u></p>
<p>杜仲（四兩，姜炒）　補骨脂（一兩，鹽炒）　核桃肉（二兩）</p>
<p>為末蜜丸，酒下。</p>

<h3>痰臌似胎案</h3>
<p>昔於庚辰歲，海寧萬家渡金姓，娶妻十載未孕，忽月事過期，長安醫者謂之孕，遂以熟地阿膠苓朮之類補安。延至十月，尚不見產。腹日大，婦日病，及至十五月，人不起床，食不過喉，腹大異常。偶一腹痛，即腸鳴如踏水車之響，門外俱聞其聲。危急之甚，斯時喆因朱敷文、吳大成兄相請在彼，邀往診之。其人已奄奄一息，諸醫袖手待斃。有曰鬼胎，曰經阻。予診之，六脈滑大無倫，按之堅實，乃曰非孕也，此痰臌也。由思多傷脾，脾不為胃行其津液而化痰。初誤為孕，服滋膩寒涼之藥，致痰不行，積久而成斯症。若不攻之，必無生理。隨用二陳湯加南星、厚朴、檳榔、三稜、莪朮、桂、姜，二三劑即下行，病家恐致痢，急復請。視脈稍和，所下者赭色成塊，挑開內白色。予曰：此血裹痰也。即於前方加大黃、礞石。又數劑，日下二三十行，腹漸消而進糜粥矣。十日後，轉用薑桂六君子湯、枳實理中丸、煎丸並進，而病人起矣。眾皆敬服。彼時若再姑息不攻，安得不脹死？所以藥貴得當，何妨破格用之？以救此垂危之人，因存是案以備後人之用。</p>
<p>喆讀吳菱山先生辨疑書中治一婦，乃痰飲血癥症，為前醫作胎之誤，與此症相似。</p>
<p>滑本胎脈，若至滑大無倫，按之堅實，非胎之脈明矣。奈何諸醫之不悟也。見所下赭色，而痰裹於內，即於前方又加大黃攻瘀，礞石攻痰，此所謂隨機應變不泥於方也。</p>

<h1>下集</h1>

<h2>臨產門</h2>

<h3>臨產事宜方論</h3>
<p>大凡婦人生子，乃天地造化，皆自然之理，不必心慌驚怕，切勿性急坐草，總宜忍痛，為第一要訣。蓋胎至十月滿足，兒身轉動，常有試痛，並未正產，只宜服保胎無憂散一二劑。多有服此藥而孕復安，隔十日半月始產者，切勿略覺腹痛，即呼收生穩婆。此等人每一進門，極其性急，若候半日，即便動手。或被挖破胎胞，水即流出，誤事者眾。或兒身未轉，性急坐草，用力太早，每每倒生、橫生傷胞壞事，其禍大矣。且待瓜熟蒂落，如大富大貴之子，自有好時辰下地，何必人力為之？只在忍痛自耐，如可食即食粥以助力，可臥則靜臥以養神，必要坐直眠直立直，使兒易於轉身，切勿因腹痛而鞠腰按摩。其穩婆不過待兒出腹，托按結臍等事用之，名曰接生。未有在腹中能為力者也。或早喚來，令其遠坐以待生，不可令其動手探摸。房中宜靜，不可喧鬧。傍人不可交頭接耳，免使產婦心疑。面前不可多人，不過本家一二攙扶者。如夏月炎熱，人多更熱，恐俾產婦受熱氣。冬月天寒，房中宜置火盆，不可被凍。直待腰腹痛一陣緊一陣，漸漸痛急，有似大小便俱出之狀，是其時也。斯時坐盆，背後用有力婦人抱住，稍一用力，兒即出矣。如或來遲，再用穩婆看漿水血水俱到，兒身扶正，無物牽絆，或煎佛手散與服，活胎助血，若系交骨不開，即進加味歸芎散。若血水去多，胞中子腸乾澀，隨服八珍湯即生。此數藥宜預備在家，切不可妄用催生等藥。有等老產婦，腸中寬展，兒易轉身，常有腰腹一痛，即時生下，絕不費力。此皆平時小勞，臨產瓜熟，天生自然，並無難事，此概以初產者而言也。既產矣，不必問是男是女。猶恐望子之切，一或生女，防致氣惱，惱則產後多病。產時與人參湯飲之，貧者桂圓湯亦好，但不可移動。服湯之後，然後輕輕扶上床，床上須將被絮新墊枕之，勿使低頭眠，恐瘀血不得下行。隨與溫粥食之，夜間用老成婦人伴眠，日間房中亦宜作伴，蓋產婦心虛易驚。室內宜靜，俾安睡養神，外人來者不許入房。次日即服生化湯一二劑，去瘀生新，則產後無病。宜避風、少言語、戒氣惱。食清粥水泡飯，七日後煮白鯗魚淡食，十日後煮爛老母雞，二十日食火腿，或燒爛豬肚，滿月方食鮮肉。三五日間不可梳頭，如要洗面，只可令人繞手巾揩之，切勿用力勞動，恐致蓐勞之患。如此謹慎調護，則終身少病。茲或產後有故，該服之方列明於後，各審其因而藥之，不可錯誤。緣產科雖前人頗多方書，未免太繁，皆博而難約。吾故揀其要者，簡而易者，書中以是病附是方，使用方者一目瞭然。</p>
<p><u>保胎無憂散</u></p>
<p>此方孕婦於八九個月先服一二劑，臨月再服二三劑。若月分雖足，腹中似痛，總宜服此藥，則易產，並可以免產後余患。若未及時痛者，服則即安，可稱古之仙方。</p>
<p>生黃耆（一錢五分）　當歸（一錢五分）　川芎（八分）　白芍（八分，酒炒）　甘草（五分）　羌活　厚朴（薑汁炒）　枳殼（麩炒）　艾葉（各五分）　大腹皮（五分，此予加者）　荊芥穗（六分）　菟絲子（一錢五分）　川貝母（一錢）</p>
<p>以上十三味，加老薑二片，水煎服。</p>
<p>此方全用撐法。當歸、白芍養血活血者也，厚朴去瘀血者也。用之撐開血脈，俾惡露不致填塞。羌活、荊芥疏通太陽，將背後一撐。太陽經脈最長，太陽治則諸經皆治。枳殼疏理結氣，將面前一撐，俾胎氣斂抑而無阻滯之虞。艾葉溫暖子宮，撐動子宮則胞胎靈動。貝母、菟絲最能滑胎順氣，將胎氣全體一撐，大具天然活潑之趣矣。加黃耆撐扶元氣，元氣旺則轉動有力也。生薑通神明去穢惡，散寒止嘔，所以撐扶正氣而安胃氣。甘草協和諸藥，俾左宜右有，而全其撐法之神也。（徐評）</p>
<p><u>佛手散</u></p>
<p>當歸（四錢）　川芎（一錢二分）</p>
<p>水煎，酒沖服。</p>
<p>臨產催生，無過此方之妙。大抵漿水未行宜無憂散，胞水已破或延時不生，必用佛手散。若去血太多恐血瀝乾，兒難以轉身，方用八珍，大補氣血以助生機，萬無一失。</p>
<p><u>八珍湯</u></p>
<p>人參（一錢）　白朮（一錢，土炒）　茯苓（一錢）　炙草（三分）　熟地（三錢）　當歸（五錢）　白芍（一錢）　川芎（一錢）</p>
<p>加薑棗，水煎服。或加丹參（三錢），乳香（五分），益母草（二錢）。冬月寒天加炮姜（一錢）。若嘔者，生薑、砂仁。如胎上逼，加淮牛膝（三錢）。</p>
<p><u>加味歸芎湯</u>（治交骨不開如神）</p>
<p>當歸（五錢）　川芎（二錢，體虛者減半）　自敗龜板（三錢，或灼過者。）</p>
<p>亦可用童便炙婦人頭髮一握（肥皂煎水洗淨燒灰存性）。水煎服下片時，交骨即開。</p>
<p>此方用者少。蓋交骨不開，有鎖骨者，有血虛不能運達者，令穩婆以麻油調滑石粉塗入產門內，或以兩指緩緩撐開。更有冬寒受冷不開者，急以熱湯傾盆內熏之，得暖即開，皆宜速治，勿致傷胎。</p>

<h3>倒生</h3>
<p>兒未轉身，產母用力太早，令兒腳被努出。當令產母安然仰臥，以穩婆之手輕輕推入，候兒自順。若良久不生，著穩婆手入產戶，就一邊撥兒轉順產門，乃服佛手散催之，俟頭正頂對，努力即下。</p>

<h3>橫生</h3>
<p>產有橫生，緣兒身方，轉用力太急，逼令兒身不正。著產母仰臥，令穩婆輕推兒順，直以中指探兒肩，勿令臍帶扳住，兒頭對正，用佛手散即生。</p>
<p><u>佛手散</u>（見前）。</p>

<h3>盤腸生</h3>
<p>（附：暑產、凍產）</p>
<p>產有盤腸，臨產子腸先出，然後生子，如腸帶出，時以極潔淨不破損之漆器盛，隨用蓖麻子四十九粒，研爛，塗產母頭頂上，腸即收進。即用熱水洗去蓖麻子。如腸已干，磨刀水少許溫潤之，再以地理家好磁石煎服之，即收上。又方：用麻油蘸火紙燃點，燈吹熄，以此煙燻產母鼻中，腸即收，此方甚善。</p>
<p>又有暑產。在盛暑之月，熱氣蒸逼產母，頭昏面赤。用井水一盆，安於床邊，以收暑氣。倘有涼風雨時，亦宜閉門避之。</p>
<p>有凍產者，言冬天嚴寒氣血凝滯，致兒不下，此害最深，宜身背向火，下身溫暖，血始流通，兒易生下。蓋腹痛時，宜緩待而坐盆，時宜速下，遲防誤事。急服佛手散與催生之藥，察情詳理，速與兒出。</p>
<p><u>催生如神散</u></p>
<p>百草霜（即鍋底煙煤。此物因恐血去多，紅見黑即止之意，產後勿用）。白芷（不見火）</p>
<p>二物等分為末，每服三錢，用童便米醋和如膏，沸湯調服，或酒加童便熱服。</p>
<p><u>神寢丸</u></p>
<p>明滴乳香（五錢，另研）　枳殼（一兩，炒）</p>
<p>二味為末，煉蜜丸桐子大，溫酒服三十丸。</p>
<p><u>催生散</u></p>
<p>黃蜀葵子（半合，研爛）</p>
<p>以酒濾去渣溫服。</p>
<p>催生之方甚多，難以修合者如兔腦丸之類，一時無覓處。然予亦未用，只以佛手散用者，多已應驗。今略備三方，取易者用。葉氏有母死子存不能出者，用水銀如彈子大，格口灌入喉口，捧起令下，一食頃，又捧令起，子即出矣。因注於此，備而不用。</p>

<h3>附難產案</h3>
<p>昔龐安治產七日不下，諸治莫效。龐令其家作湯，溫其腰腹，自以手上下與之拊摩，孕婦覺腸痛甚，少間生一子。問其故曰：兒已出胞，因手執母腸不能出，我為隔腹捫兒手針之，無他術也。視兒右手虎口，果有針痕。</p>
<p>又婦坐草早恐懼氣結不下。蓋恐則氣結而精神怯，上焦閉，下焦腹脹，用紫蘇飲即產。</p>
<p>滑伯仁治七日不產且食少，用涼粥一盂，搗楓葉煎湯調飲，旋產（楓葉，先生者先落，後生者後落，是用意也）。</p>
<p>吳菱山見產三日不下，以車前子為君，冬葵子為臣，枳殼、白芷為佐，服下立產。高賓治劉姓之婦，產不出而死矣。臨殮經過，見容貌不似死者，因問其故。斯時天正嚴寒異常，知是凍產，必由血冷凝滯不行，即令用紅花濃煎湯，綿醮乘滾盦於腹上，再用熱湯燒暖而蘇，蘇隨生下一子安全。</p>
<p>樸治錢氏婦產難，用佛手散加炮姜，再用薛立齋法，取路旁草鞋一雙，取鼻絡小繩燒灰，酒調和入，片時即產下一男。又治許衛中妻產難，三四日不能下，穩婆欲用折胎之法。予曰：不可。設胎未傷而用刀，必負痛上衝於心，豈不兩命俱喪？縱使胎死，不下，予自有藥下之。乃令穩婆出。隨用佛手散加炮姜二錢，厚朴一錢，煎服。時初更，至半夜而生下。胎雖穩婆動手所傷，而產母無恙。此亦冬寒血冷之故，得溫而出，以保全產母。又於勝元五日產不下，用四物湯加倍進之，不應。因思胞水濾干，再進八珍湯助其氣血，更煎湯熏洗陰戶而生。此皆在浙時，略記之餘惟用保胎無憂散，及佛手散應驗者多，不及多載。諸書催生奇方頗多，緣方愈多而用心者愈亂，可不必繁載。至於安產婦臥房，雖有其說，然不必盡信。思小戶之家，無處可移，俱要生子。至於符訣催生之法，皆非正道，亦不載也。</p>

<h2>產後門</h2>
<p>既產畢，或未動，與參湯服過，或未下地，先已服參，乃與開水一杯，扶上床，以被褥靠住，閉目靜坐。如有汗出，隨用硬炭燒紅，澆上米醋一小碗，使酸味衝入口鼻，以收斂精神。或床前燒舊漆器，少頃，食白米薄粥一小碗。數日內勿梳洗，切忌勞動。間有胞衣不下者。依法行之。</p>

<h3>胞衣不下</h3>
<p>胞衣不下，最關利害。或孕中食煎炒，或臨產氣力憊，皆不能出。宜於剪臍時，用苧線系定，不可即剪，服以歸芎湯即佛手散，自下。如血入胞衣之中，脹大不能下，以致心悶脹痛喘急者，速用失笑丸三錢，清酒吞下。如不應，再用花蕊石散二錢，或牛膝散亦可，血散脹消，其胞即下。如不急取，恐瘀血上升，有傷產母之患。是以失笑丸，花蕊石散，產科必有預備，以防急用。</p>
<p>胞衣不下，用盤腸生證中蓖麻子法，貼於足心，下即洗去。否則，連腸俱出。倘腸出，可移貼頭頂即收。（徐評）</p>
<p><u>失笑丸</u></p>
<p>薄黃（略炒）　五靈脂（洗去泥，略炒）</p>
<p>二味等分，用米飲丸，淡鹽水吞二三錢（此方治兒枕痛，亦必用之方）。</p>
<p><u>花蕊石散</u></p>
<p>好花蕊石（一斤細研篩淨）　上色硫黃（四兩，研細）</p>
<p>二味和勻，分四次煉。先用好羊腎罐煉。無疤損者，用黃泥周身塗之，陰乾，曬至裂縫即補好，恐進火氣，走出內中丹藥。方將二藥裝入，再用瓦汕盞頭一個，仰蓋口上，用紙泥封固口縫，待乾，用細鐵線上下四圍紮好，如此四罐共已齊備，用大砂盆一個，中安大針釘三枚，品字好安且平，將罐安放釘上，周圍硬炭文武火煉。大香三炷退去火，不可動。次日已冷，然後取出藥研細，將裝入瓷瓶內，收貯備用。此藥十年五載收，陳不妨。每服二錢，熱酒童便調下，瘀血化水而下。如不應，再進可也。此藥不但產後用，若有跌打損傷，積瘀腹內，疼痛難忍者，酒服極妙，大有活人性命之功，醫家不可缺此。產後敗血暈迷，或胞衣脹急，不省人事但心頭溫者，灌下即蘇，亦是起死回生之法。然煉此藥不易，如火候文武不勻，罐口封不如式，硫黃性最猛烈，每致放炮，人宜防備。且藥性俱走無用矣。</p>
<p><u>牛膝散</u></p>
<p>淮牛膝　川芎　蒲黃（微炒）　丹皮（各二錢）　當歸（一兩五錢）　肉桂（四錢）</p>
<p>共為末，每服水調五錢。薛氏云：胞衣不下，則腹脹，急用此藥加朴硝合服，自能腐化而下，緩則不救。一方用灶下土四錢，醋調納臍中絆定，煎生甘草湯半盞，或加醋，飲之立下。一方用產母舊鞋底，烘熱熨小腹，上下數次即下。</p>
<p>一方：產婦自發含口中，作嘔狀即下。古方奪命丹、黑龍丹，然不如花蕊石散之極妙。</p>

<h3>玉門不閉</h3>
<p>產門不閉乃氣血大虛也。先用生化湯一二劑，隨進八珍湯補之。如不應，用十全大補湯溫補之，自閉無恙。</p>
<p><u>間或難產者，被穩婆手指撐傷，致產門破損疼痛，即可用花蕊石散少許，摻於傷處，自然漸愈。</u>　生化湯</p>
<p>當歸（四錢）　川芎（一錢五分）　黑姜（一錢，夏天用五分）　桃仁（十粒，去尖研，雙仁者不用）　益母草（二錢）</p>
<p>水煎溫服，或加茯神、甘草（看人用）。此仙方也。以生物化育之義，產後必用之方。凡新產，次日則當服二三劑，自然去瘀生新，產後無病。或有他故，再按各症治之。世俗每謂山楂去痛，不知是消胃之物，切不可用。</p>
<p>生化湯者，化瘀生新之義也。蓋此五味相合，各有生新化瘀之能，不獨當歸能生血，桃仁、益母能攻瘀也。若謂產後必用之方，我則不敢深信。何則？蓋此方一派辛溫，假使陽盛熱盛之體，亦用此方，豈非如火上之沃油乎？（徐評）</p>
<p><u>八珍湯</u>（見前臨產加黃耆肉桂即十全大補湯）</p>

<h3>心慌自汗</h3>
<p>產後心慌自汗，宜用歸薑棗湯，並醋炭熏法。</p>
<p><u>歸薑棗湯</u></p>
<p>當歸（四錢）　黑炮姜（一錢）　炒棗仁（二錢）</p>
<p>加黑棗水煎服。若服後自汗不止，心慌無主，恐防暈脫，可加人參（一錢），熟附子（五分），顧其根本，仍用醋炭熏之，以收神氣，汗自止。此內外並治之妙法。其人參，在初產原不便用，然虛脫之象，不得不用，只要重用當歸，則瘀血不得停留，不礙事也。人皆狐疑不敢用，是不知製法，用之不得當，自然誤事。若遇氣虛脾弱，汗出泄瀉，嘔吐不食等候，非人參、附子將何以救之。經謂血脫益氣，虛極生寒，必以十全大補，方可成功。</p>

<h3>血暈</h3>
<p>張仲景先生云：產後鬱冒，為血虛而厥也。其脈微弱，嘔不食，大便堅，頭汗出，此血虛於下，孤陽上冒，防其脫也，宜大補之。李東垣曰：陰血暴亡，心神無依，致昏冒。朱丹溪曰：氣血俱虛，痰火泛上而暈。吾師鍾齡先生，曾用人參兩許，加炮薑、附子以救之。予亦救多人，用參耆歸地並進而起，附案於尾卷。</p>
<p>大抵脾虛痰厥，頭眩而嘔者，用六君子湯加炮姜。若瘀血不行，腹痛拒按者，服佛手散下失笑丸。此為半虛，余皆太虛。如面白眼合，口張手撒，足冷鼻寒，皆宜十全大補。若一味退縮，不急峻補，則人已去遠矣，後悔何及？</p>
<p><u>六君子湯</u></p>
<p>人參（一錢）　白朮（土炒，一錢五分）　茯苓（二錢，茯神亦可）　甘草（五分，炙）　陳皮（七分）　半夏（一錢，薑製）</p>
<p>加薑棗煎服。</p>
<p><u>十全大補湯</u>　<u>佛手散</u>　<u>失笑丸</u>（俱見前）。</p>

<h3>惡露不下</h3>
<p>產後診視，必先問臨產瘀血多與少，有與無。此物關係不少，眼前則防發熱也，腹痛也，小便被阻也。甚有積成內癰之患，久後變成癥塊，積致血臌，豈不大有干係焉？如瘀血不行，必以生化湯多服，自然流通。如兼腹脹，佐以失笑丸。如感冒，下部受寒，加肉桂（生化湯見前）。</p>

<h3>產後血崩</h3>
<p>其惡露不可不行，又不可多行。崩者，乃如水之流，此症最重。總屬榮氣空虛，不能攝血歸經，以歸脾湯主之，為正治也。然又有怒傷肝者，于歸脾湯加炒黑山梔（一錢），阿膠（二錢），艾葉（酒炒，五分），柴胡（二分），或服補中益氣湯。又方有瑞蓮散，止崩妙劑。重者，參附湯加阿茯地補之。</p>
<p><u>瑞蓮散</u></p>
<p>湖蓮子（百粒）　棕櫚灰　當歸（各一兩）　川芎（五錢）　鯉魚麟（燒灰七錢）　炮薑炭（五錢）</p>
<p>共為末，酒調二錢，二服自止。</p>
<p><u>歸脾湯</u></p>
<p>人參（一錢，虛人三五錢）　炙黃耆（二錢）　甘草（五分）　歸身（一錢五分）　茯神（三錢）　棗仁（二錢，炒）　白朮（二錢，土炒），桂圓肉（五枚）</p>
<p>加薑棗煎服。</p>
<p><u>補中益氣湯</u></p>
<p>黃耆（二錢五分，蜜炙）　白朮（一錢，土炒）　歸身（一錢五分）　人參（一錢）　柴胡（三分，蜜炙）　升麻（三分蜜炙）　炙草（五分）　陳皮（七分）</p>
<p>加薑棗煎服。</p>
<p><u>參附湯</u>（平時崩症，亦當參以此理）</p>
<p>人參（三錢）　熟附子（一錢）</p>
<p>水煎服。體虛之甚者，加熟地（一兩），茯神（二錢），阿膠（三錢），艾葉（五分），大劑補之，方能成功，遲則防脫。貧者以黃耆兩許代參。</p>

<h3>子宮不收</h3>
<p>臨產努力太過，致子宮不收，及陰戶下挺無收，小便淋漓，但用補中益氣湯，頻頻服之，外洗寸金散。</p>
<p>朱丹溪云：有產婦下物如手帕者，有出肉線一條者。</p>
<p>薛立齋曰：子宮有損落一片者，皆氣血虛脫所致，但服參耆升提之藥自愈。此非腸胃之比，無礙也，血肉原可自長。</p>
<p><u>寸金散</u></p>
<p>紫梢花　葫蘆巴　蛇床子　樟腦（各一錢）</p>
<p>四味水煎，熏洗。</p>
<p>一方用香油抹子宮上，以牙皂末吹鼻中，取嚏，時縮上（茲與盤腸產參看。）</p>
<p><u>補中益氣湯</u>（見前）</p>

<h3>腸中癢</h3>
<p>產後腸癢，因血去多，或調理失宜，氣血兩虧。王景泰法，用針線袋安產婦臥褥下，勿令人見。一法，取箭鋒及鏃安臥席下，勿令婦知。或以食鹽熬熱，布袋包熨臍上，癢自止；或服四物湯，滋養自安。</p>
<p><u>四物湯</u></p>
<p>大熟地（三錢）　當歸（二錢）　白芍（一錢炒）　川芎（五分）</p>
<p>水煎服。</p>

<h3>產後不語</h3>
<p>此症因心腎虛而不交，脾虛不能運動食本。縱有微邪，皆由元氣不足所致。右方七珍散，其中菖蒲、細辛、防風須酌用，如果因風邪閉之，則暫服一劑，再察其病源、兼症治之。若思慮傷脾，倦怠食少者，服歸脾湯。若氣血兩虛，內熱者，用八珍湯。若脾虛生痰，嘔啞少食者，用六君子湯。或水虧生熱，面赤火浮者，用六味地黃湯。如法按經調理自然易愈。倘妄行祛風攻痰，或用香散之藥，則去之遠矣。</p>
<p><u>七珍散</u></p>
<p>生地（一兩）　川芎（五錢）　石菖蒲（五錢）　細辛（一錢）　防風（五錢）　辰砂（五錢，研飛過）　人參（五錢）</p>
<p>共末，每服二錢，薄荷湯調下。</p>
<p><u>歸脾湯</u>（見血崩）　<u>八珍湯</u>（見臨產）　<u>六君子湯</u>（見血暈）。</p>
<p><u>六味地黃湯</u></p>
<p>大熟地（三錢）　山萸肉（二錢）　淮山藥（二錢）　牡丹皮（一錢）　茯苓（一錢五分）　澤瀉（一錢）</p>
<p>水煎服。</p>

<h3>產後發熱</h3>
<p>產婦發熱，緣因血虛，宜四物湯加黑姜，苦溫治之，則熱自退。如不應，更加童便少許沖服，熱自然退。但童便性寒，不可多用。又有脾虛傷食，皆能發熱。又有胃虛發熱者，法當調其飲食，理其脾胃，用五味異功散補之。如傷食，加神麯、穀芽。更有躁熱，面目赤色，煩渴引飲，其派洪大，重按全無，此虛極假熱也，宜服耆歸補血湯，重者用十全大補湯，或再加附子，收其浮散之陽，熱必自退。若誤醫風熱，一用涼散之藥，無不立見危殆，豈非醫殺之乎？</p>

<h3>乍寒乍熱（與發熱合參）</h3>
<p>郭稽中雲：產後乍寒乍熱者，多有之，不可以作瘧治。概系榮衛空虛，陰陽不和，或敗血為害，或脾胃之虛。此言極見明理，胡業醫者之不察。大凡風寒發熱，晝夜不退，宜於生化湯中加黑荊芥一味，足可驅邪。蓋產後體虛，百節開張，腠理不固，易受易出，此小賊也，不比傷寒之用刀兵驅盜耳。如血虛與傷食，則日晡發熱，清晨必退，二症雖相似，其中仍有分辨。傷食者，必噯腐吞酸，胸膈滿悶，穀芽陳皮湯頻飲可愈；其血虛者，則無前項等象，只可用四物湯加炮姜，可退。</p>
<p>若嘔吐不利，腹痛食少，脈沉細而遲者，或浮大而空，宜理中湯溫補之。寒熱虛實，若不辨明，安能無誤？予觀浙地，每必守定鉤藤、秦艽，或略作寒熱，即用柴胡，此皆非產後人之可當也。予亦淺學，焉敢談人之過，不過守前賢之訓，或可免妄死者告冤也。</p>
<p><u>四物湯</u>（見腸癢）　五味異功散即六君子除半夏，載血暈）　十全大補見玉門不閉）。</p>
<p><u>黃耆補血湯</u></p>
<p>嫩黃耆（一兩）　當歸（三錢）</p>
<p>水煎服。</p>
<p><u>生化湯</u>（見前）　<u>理中湯</u>（載後腹痛）</p>
<p><u>清魂散</u></p>
<p>荊芥穗（一錢炒黑色）　當歸（五錢）</p>
<p>作一服為末，生薑湯調下，或加川芎（一錢），煎服亦可（此方退風，並驚風搐搦俱妙）。</p>

<h3>蒸乳</h3>
<p>乳必使呼通，如不通，必乳腫，作寒熱之狀，此非前症，為乳所阻耳。宜用香附、栝蔞、通草、橘葉煎服，其藥渣煎洗。如不自乳子者，只煎炒麥芽三錢熏洗，乳退熱亦退。</p>
<p>此證不服藥，過二三日自愈。（徐評）</p>

<h3>乳少</h3>
<p>產後憑乳以養兒。乳少者，皆因氣血不足。然酒雖引血生乳，宜用淡酒，或衝開水、油湯中飲。若多飲及飲好酒，每致少乳。藥服黃耆補血湯加山藥極妙，或以蝦斤許煎淡酒去蝦飲。</p>
<p><u>黃耆補血湯</u>（見前，加山藥三五錢）</p>

<h3>乳癰</h3>
<p>（乳內吹外吹）</p>
<p>婦人乳疾，必發寒熱。兒在腹中，七八個月乳忽紅腫，名曰內吹。產後有硬塊者，或乳不通，宿乳積成，或被子含口中乳氣貫入，名為外吹。俱防生癰，宜服栝蔞散，外敷香附餅自可消散。又有婦人肝氣鬱怒者，並用前方加柴胡（三分），白芍（一錢俱酒炒），橘葉（十片）煎服，以早為消散，或服逍遙散亦可。</p>
<p><u>栝蔞散</u></p>
<p>栝蔞（一個敲碎）　明乳香（二錢）</p>
<p>水煎，沖酒服。</p>
<p><u>香附餅</u></p>
<p>香附（四兩，炒為末）　麝香（三分）</p>
<p>二味共為末，另用蒲公英（二兩），銀花（三錢）。</p>
<p>酒煮去渣，以此藥酒調香附末燉熱，敷患處，內服栝蔞散，自可消散。予常令煎麥芽、橘葉水洗乳，亦妙。</p>
<p><u>逍遙散</u></p>
<p>當歸（二錢）　白芍（一錢，炒）　柴胡（三分，酒略炒）　茯苓（一錢五分）　白朮（一錢，炒）　甘草（五分，炙）　薄荷（五分）　加姜（二片）</p>
<p>煎服此方，加丹皮、炒黑山梔，名加味逍遙散，平肝火也。</p>

<h3>產後心腹諸痛</h3>
<p>心腹痛各有不同，有瘀血凝結，有飲食停滯者，有風冷客進者，《指掌》分為各類，未免煩衍。吾總歸一門，大抵初痛總宜服生化湯，去瘀生新，二三劑，當有痛即止矣。如或瘀積小腹不散，轉側若刀錐刺痛者，手不可按，痛而不移者，用失笑丸主之，佐花蕊石散二錢，瘀行痛止。如感風寒者，必口鼻氣冷。停食者，必吞酸滿悶。二此者俱用二香散主之。若中氣虛寒，腹中冷痛，必喜熱物熨之，喜手按而痛稍緩，用理中湯加肉桂溫之。如小腹氣從下逆，沖而上痛，連心腹者，忽聚忽散，此皆瘕氣也，另用橘核丸主之。如小腹有塊，手不可按者，瘀血壅滯，名曰兒枕痛，並用失笑丸。若瘀不散，久防生腸癰，即於後編查看，審細治之。</p>
<p><u>生化湯</u>（見前玉門不閉或加肉桂）　失笑丸見前包衣不下）　花蕊石散見前）。</p>
<p><u>二香散</u></p>
<p>香附（二錢）　廣木香（一錢）　砂仁（五分）　陳皮（五分）　炙草（五分）　炮姜（一錢）　生薑（一片）</p>
<p>水煎服。</p>
<p><u>理中湯</u></p>
<p>白朮（二錢）　炙草（七分）　乾薑（一錢）　人參（一錢）</p>
<p>煎服。有加附子，名附子理中湯。</p>
<p><u>橘核丸</u></p>
<p>橘核（鹽酒炒，二兩）　小茴香　川楝子（煨去肉）　桃仁（炒去皮尖，雙仁不用）　香附　山楂核（炒）</p>
<p>以上各一兩為末，紅花、廣木香各（五錢）為末，神麯（三兩），打糊為丸，每服三錢，開水下。</p>

<h3>腹內癰</h3>
<p>產後積瘀，每生內癰，人所罕識。其流腿股而生者，外出毒也。此外科可治，然無大害。積於內而生大小腸癰者，內科產科之事也，不可不知。往往穿臍而出，或內爛斷腸而死者，人只知為腹痛而死，而不知腸癰之為害。予治愈者多人，因著於編以補發前人之所未發，並使後之產科知之以救人耳。其症當按其腹內痛處，有硬塊在臍邊，按之愈痛者是也。若硬塊堅，未成膿也。尺脈必不數。日夜痛無休歇，方用牡丹皮散，服數劑必散。如尺脈已數，按之塊稍軟，內必腸鳴，二便不甚流利，間或痛一止，少頃又痛，此癰已成，膿毒無出路。小腸癰必穿臍而出，勢已危矣。以大劑人參補之，或可十中救一。然性命雖保，而終身亦不能生育矣。倘不知治法，則尿從臍出，必死無救。其大腸癰者，便難出，治不如法，或不與出毒，毒必爛腸，腸傷必瀉，上不飲食而嘔惡，口中有一股濁穢之氣，此腸爛穿必死。予治驗有案，附於卷尾。</p>
<p>若瘀流腿股或腰臀，則痛如錐刺，手不可近，亦防生疽，宜服桃仁湯早散之。腸癰初起，小腹痛，小便不利，六脈微緩，不作寒熱者輕。若已成，小腹堅硬而腫，六脈洪數者險。或尺部獨數，可治。潰後腥臭，不進食不受補者，不治也。初服丹皮散，不消，再進桃仁湯或薏苡仁湯。如不消去，以排膿湯。如未穿，與陳皮葵根湯即穿。膿出後，仍在微痛，予制海浮湯三服，毒未盡者則去，已盡者易於收口。三服後，即宜服四物、八珍、十全大補等湯補之。不然，毒雖去內尚虛，防有食少、面黃、盜汗、無力、神倦、不寐一派虛象出矣。並忌房事年餘，食物、氣惱俱宜謹慎。</p>
<p><u>千金牡丹皮散</u></p>
<p>丹皮　苡仁　茯苓　生黃耆　生甘草　桃仁　白芷（以上各一錢）　當歸（三錢）　川芎（一錢）　官桂（五分）　木香（三分）　人參（一錢，無力者以黨參五六錢代之）</p>
<p>水二碗，食前煎服。</p>
<p><u>苡仁湯</u></p>
<p>苡仁　栝蔞仁（各三錢）　丹皮　白芍（各一錢）　桃仁（二錢去皮尖研）</p>
<p>水煎，空心服。</p>
<p><u>排膿湯</u></p>
<p>生黃耆（三錢）　當歸（三錢）　銀花　川芎　甲片（炒敲碎）　栝蔞仁　白芷（各一錢）　甘草（五分）</p>
<p>水煎空心服。</p>
<p><u>陳皮葵根湯</u></p>
<p>廣皮（二錢）　生黃耆（五錢）　當歸（二錢）　皂角（二錢）　蜀葵花根（一兩，切片）</p>
<p>水三碗，酒一杯煎，分二次服。</p>
<p><u>海浮湯</u></p>
<p>明乳香（二錢）　沒藥　浙貝　茯苓（各一錢五分）　生黃耆（三錢酒炒）　炙草（五分）</p>
<p>水煎服。</p>
<p><u>四物湯</u>（見前）　<u>八珍湯</u>（見前，加黃耆、肉桂即十全大補湯）。</p>

<h3>呃逆</h3>
<p>此症，乃傷寒失下症有之，今產婦脾胃虛，或食熱物，冷熱相摶亦有之，或寒凝於中。寒者用丁香、肉桂，熱者橘皮竹茹湯加柿蒂主之，或灸期門穴自止也。</p>
<p><u>橘皮竹茹湯</u></p>
<p>廣皮（二錢）　竹茹（一錢）　甘草（五分）</p>
<p>薑棗引煎服，或香附一錢。</p>

<h3>產後身痛</h3>
<p>一身痛者，因產時百節開張，血脈空虛，不能榮養筋骨也。又有敗血乘虛流注於經絡致痛。大意按之痛者，非風寒則瘀滯。若按之不痛，喜附熱者，虛寒也。如血不足以流通者，四物湯加黑薑、桃仁、紅花、澤蘭，補兼運行。如或喜按畏寒者，用四物湯加人參、白朮、黑姜，補養自安。有外感風寒，則發寒熱而頭身痛，或鼻塞口出火氣，斯為外感，用古拜散加歸、芎、黑薑、秦艽以溫散。如散後痛未盡止，乃氣血虛致榮衛未和，用八珍湯補之，此散後補之大法也。</p>
<p><u>古拜散</u></p>
<p>荊芥穗一味，炒黑為末，生薑湯調下一二錢，量人虛實用。　本方加當歸即清魂散，更穩。此方產後受風，筋脈引急，或搐抽口噤，或昏憒不省人事，頭身痛，發寒熱。果是風者，一二劑即愈。蓋產後空虛之人，又何必羌、防、柴、葛之重表耶？如破船重載，焉得不沉。</p>
<p><u>四物湯</u>（見前）　<u>八珍湯</u>（見前）。</p>

<h3>產後腰痛</h3>
<p>產後未有不傷腎者，腰痛皆是腎虛，當用六味地黃湯加杜仲、續斷、肉桂，或食豬腰子補之。又有腎中之氣不足者，用八珍湯加杜仲、續斷、肉桂大補。又或風冷客於下部，必上連脊背，下連腿膝，乃用獨活寄生湯，甚加附子以溫散。然只可服一二劑，不可多服。痛稍可，隨用前方補之。予制清腰湯服之，頗當。</p>
<p><u>六味湯</u>（見前不語症）　<u>八珍湯</u>（見前臨產門）。</p>
<p><u>獨活寄生湯</u></p>
<p>當歸（三錢）　獨活（三分）　桑寄生（一錢）　秦艽（五分）　茯苓（一錢）　牛膝（一錢）　甘草（三分）　威靈仙（一錢）　細辛（二分）　肉桂（五分，或官桂一錢）　狗脊（一錢五分）</p>
<p>姜二片，水煎服。</p>
<p><u>清腰湯</u></p>
<p>黑料豆（五錢）　狗脊（一錢）　寄生（一錢）　川斷（一錢）　杜仲（二錢）　肉桂（五分）　丹參（一錢）</p>
<p>加青鹽二分，水煎服。</p>

<h3>產後驚悸</h3>
<p>心慌驚悸或目不轉睛，語言健忘，此由心血空虛，神不守舍，當補心神為主。安神定志丸、歸脾湯並進，或佐以訒庵養心湯，其諸症自愈。</p>
<p><u>安神定志丸</u></p>
<p>茯神　茯苓　遠志　人參（各一兩）　石菖蒲　龍齒（煅各五錢）</p>
<p>為末，蜜丸桐子大，辰砂為衣，每服二錢，開水下。</p>
<p><u>歸脾湯</u>（見前血崩）。</p>
<p><u>養心湯</u></p>
<p>人參　炙黃耆　茯神　茯苓　夏曲（各一錢）　當歸（二錢）　川芎　遠志　柏子仁（去油，各五分）　肉桂　炙甘草（各三分）　五味子（二分）</p>
<p>水煎服。</p>

<h3>產後發痙</h3>
<p>產婦汗多發痙，俗謂產後驚風，實非風也。乃肝血空虛，不能榮筋，以至手足抽搐，有似中風之狀。更有口噤咬牙，角弓反張，此氣血大虛之惡候。若非十全大補加附子，將何以救之？或先用古拜散配歸芎服之，再服大補湯，自可成功。《薛氏案》與《女科指掌》俱云小續命湯，此必刻書之人補入者，不然二公亦何荒唐至此耶？不思小續命湯是仲景《傷寒論》中風症也，用之以疏風，豈可用醫產後之人乎？無論醫者錯，而書亦有錯，所以謂之得訣，回來好看書。且中風一症，氣血虛者多得之。經謂治風先治血，張景岳有非風之論，尚宜補血以驅風，而況產婦血虛明矣。葉天士治中風醫案內，惟一人用桂枝、羌活尚配黃耆、附子溫補而行，其餘悉皆用補，何曾以風治？乃曰肝虛動內風，正是明理高論，合乎經旨者也。</p>
<p><u>古拜散</u>（見前身痛）　<u>十全湯</u>（見前玉門不閉）。</p>

<h3>產後顛狂</h3>
<p>產後顛症，狂言譫語，或乍見鬼神，甚有不避親疏，不知羞恥者，其間有血虛神不守舍者，有敗血未盡誤補而然者，有心脾本虛，妄思妄想致心神不寧者。治法用安神定志丸倍人參加歸芎主之，佐以歸脾湯。予制定神湯，每用取效，此皆安神補虛之意也。蓋初知瘀未清，早用失笑丸、花蕊散逐去敗瘀，則新血自生，安有顛狂之變？此為姑息錯治者成耳。病久名曰失心症，有綿延數載者，治法惟白金丸，真妙也。</p>
<p><u>定神湯</u></p>
<p>人參（一錢）　熟地（三錢）　當歸（二錢）　茯神（二錢）　附子（五分）　肉桂（三分）　澤蘭（三錢）　鬱金（一錢）　龍齒（八分）　橘紅（八分）</p>
<p>用生鐵秤砣燒紅，淬水煎服。</p>
<p><u>失笑散</u>　<u>花蕊散</u>（見前胞衣不下）。</p>
<p><u>白金丸</u>（經驗方曰：婦人失心，病狂驚憂，痰結血於心絡竅者，服之神效，屢用奇驗）</p>
<p>真川鬱金（七兩）　明礬（三兩）</p>
<p>二味為末，薄糊疊法為丸，每服五十丸，開水下。一方用薄荷湯為丸。</p>
<p><u>安神定志丸</u>　<u>歸脾湯</u>（俱見前）。</p>
<p><u>琥珀地黃丸</u></p>
<p>此方治產後偶感，惡露斬然不行，憎寒發熱，狀如瘧疾，晝明白夜譫語，即與熱入血室同，皆血分病，用此丸極妙，若攻痰則誤矣。</p>
<p>琥珀（另研）　延胡索（糯米炒）　當歸（各一兩）　蒲黃（二兩，炒）　生地（一斤，搗爛絞汁，以汁浸生薑渣曬乾）　生薑（一斤，搗爛絞汁，以汁浸生地渣曬乾）　共為末，煉蜜為丸，彈子大，開水化下一丸。</p>
<p>又一方治敗血上衝，發熱狂言脈虛大者。</p>
<p>生地　丹皮　荷葉各（二錢）</p>
<p>調真蒲黃末（二錢），生用。</p>

<h3>蓐勞</h3>
<p>產後氣血空虛，真元未復，一有勞動則寒熱交作，食少不寐，頭目並四肢脹痛，或日輕夜重，或一日好一日歹，變症不一，名曰蓐勞，最難治。大凡陽虛則惡寒，陰虛則惡熱，清陽不升則頭目痛，血不足以榮養則四肢痹痛，宜用八珍湯補之。若脾虛食少，嘔惡多痰，用六君子湯加炮姜以溫中宮，諸症自可全退，然非參不可。若一見前症，寒熱表散則失之遠所矣。以初產數日不可梳頭洗面，勞動者也。因其骨節尚未鬥准，筋脈易以損傷，不可因體健而大意也。常有纏綿難愈，日久成癆，或致廢疾者。如體本堅實，安得有此故，又當別論。</p>
<p><u>八珍湯</u>　<u>六君子湯</u>（俱見前）。</p>
<p>《指掌》有白茯苓湯、羊肉湯等方，皆治蓐勞之病用者，亦甚有理，因此附於後，以備擇用。</p>
<p><u>白茯苓散</u></p>
<p>茯苓（二兩）　人參　炙黃耆　當歸　川芎　白芍（酒炒）　熟地　桂心（各五錢）</p>
<p>以上八味共為末。用豬腰一對，去油膜淨，姜三片，棗二枚，水煎。薑棗腰取水碗半，去渣，入前藥末五錢，再煎服。</p>
<p><u>仲景羊肉湯</u></p>
<p>精羊肉（一斤）　當歸（五兩）　黃耆（四兩）　生薑（三兩）</p>
<p>水八升，先煮羊肉、生薑，取汁五升，入歸耆再煎，減至三升，每日服七合。</p>
<p><u>人參鱉甲散</u></p>
<p>人參（五錢）　鱉甲（炙一兩）　淮牛膝　炙黃耆　茯苓　桑寄生　當歸　桂心　白芍（炒）　桃仁　川斷　甘草　熟地　麥冬（各五錢）</p>
<p>共為末和勻，另用豬腰一對，去膜淨，加姜（三片），棗（二枚），水（三碗），煮取湯一大碗，入前藥末（三錢），又加蔥白（一寸），烏梅（三個），荊芥（三分），再煎，溫服。日日如此，以服完藥末即愈。</p>

<h3>喘促</h3>
<p>新產氣急喘促，因榮血暴竭，衛氣無依，名曰孤陽，極險危之症，急用六味地黃湯加人參以益其陰。若脾肺虛者，用四君子湯加當歸、黑姜以益其陽。如見自汗厥冷，再加附子。又有假熱喘促而多汗者，用十全大補湯加附子，大劑重用，方可救耳。最怕喘急，吊引瘀血上來，一入於肺，則鼻衄出，乃肺欲絕矣。入於心則昏憒無知，心欲絕矣。如外感嗽喘，或素有痰哮症者，則無妨，用四君子湯加蘇梗、陳皮、炮薑、歸、芎治愈。</p>
<p><u>六味湯</u>（見前不語）　四君子湯見前血暈，即六君子除半夏、陳皮）　十全大補湯見前）。</p>

<h3>鼻中起黑煤</h3>
<p>產後有病，或汗多，或急喘發熱，俱要留意。看鼻尖黃明者生。若鼻尖青，環口黑色，鼻內起煙煤者，皆是絕敗之候。如喘急，用二味參蘇飲，或可速救敗絕。張景岳云：氣不能升降，乃元海無根，虧損肺腎而喘，及至鼻煤唇黑，氣將脫也。急服真元飲救之，此大法也。</p>
<p>鼻起煙煤，乃真陰涸竭，金水兩臟將絕之徵，十難救一。</p>
<p><u>參蘇飲</u></p>
<p>人參（一兩）　蘇木（三錢，杵細）</p>
<p>水煎服。如厥冷自汗，加熟附子（二三錢）。</p>
<p><u>貞元飲</u></p>
<p>大熟地（三兩）　當歸（三錢）　炙草（一錢）</p>
<p>陰寒足冷，加肉桂（一錢），或加炮薑、人參（各三錢），水煎頻服。</p>

<h3>產後舌黑舌枯</h3>
<p>凡產婦妄投冷散，致舌黑而枯，或光紅無底，皆危症也。有汗出多，或童便用多，而未顧其心腎者均有之。蓋舌乃心之苗，腎之本也。如黑而帶潤色，尚可挽回。六味湯重用熟地，加人參、炮姜主之。若舌乾黑而枯且渴者，為血液已亡，不可為也。斯時惟有獨參湯兩許，頻頻灌之，或可十中救一。若無力用參，亦無益。此症腎氣已竭，不便用桂附剛烈之物以熬煎，惟人參能救氣於無何有之鄉。且陽能生陰，又生津液，庶望回春。此症初產十日內見者多，不然必是汗多亡陽，下虛亡陰。譬如痢疾見舌枯，或光如紅緞而乾渴者，皆在不治，即下虛亡陰也。</p>
<p><u>獨參湯</u></p>
<p>用好熟人參（一兩），燉成一碗，或加五味子（一錢），頻頻灌入，或人參（五錢），大熟地（二兩），名為兩儀膏，煎服亦妙。</p>
<p><u>六味湯</u>（見前不語）。</p>

<h3>產後咳嗽治法</h3>
<p>產後輕咳者，肺虛也。用生化湯加北沙參，或酒炒黃耆，如聲重咳不止者，風也，或虛火上衝也。風則於生化湯中加黑荊芥穗，火則生化湯中除黑姜加炒麥冬。又有冬月寒氣衝肺致咳，用黑姜，更加生薑自止。但肺為嬌臟，不可久延，而致瘀血吊起。或久嗽傷肺，而致吐血入損。總之肺經之藥，勿用剛燥，宜從滋潤陰則無誤矣。凡肺經之藥，補用沙參、黃耆，清用貝母、杏仁，散用荊芥、桔杏梗，涼用桑皮、白芍，皆一定不易。更有用參、朮、苓、草補脾者，為虛則補其母也。有用熟地、阿膠者補腎，是補其子也。使之金水相生之理，此嗽久防損，必以補土補水，子母相生，亦一定也。不但治產為然，平人咳嗽，皆以此法為準繩，學者當明此理。</p>
<p>產後咳嗽，多因腠理不固，易招外邪，當隨虛實寒熱表裡論治，若生化湯，非治咳之方，奈何不論風、火，但以此方加減，誠不知其義何居也？（徐評）</p>

<h2>樸齋治驗案</h2>
<p>產後腸脹，惟胞未下者有之，生兒後自收。予族弟媳產下時，腹已收，至次曰忽然腹大如鼓，較之產前更甚，脹悶難安，氣急促，諸醫無措，命在旦夕。予適遠出而歸，急請視之。腹大且堅，二便不通。病家謂未產日食物多停滯耳，予曰：非也。脈軟而澀，知無食也。必產時被冷風入於子宮，致瘀血凝於內。用生化湯加肉桂（一錢），煎好，即以煎藥吞失笑丸（三錢），又調花蕊散（三錢），進二劑而腹減半，再用生化湯倍黑姜服數劑而安。此症若不憑脈詳察，依其言而用消食者，則誤矣。因存是案，以記之。又族侄媳產後發疹，遂延醫治，乃痘科也。曰：此出瘄麻。竟用桔梗、荊、防發之，兩日忽作喘汗熱悶，幾乎欲絕，乃請予視脈，見寸大尺空，按之且遲。予曰：此非瘄麻也。緣下部虛寒，其無根失守之火，浮游於上，發虛疹加蚊跡，隱隱於皮膚之內。且新產才七朝，豈堪任此涼散？以其痘科不知產症耳。急進十全大補湯加附子，而汗止喘定，二劑後易八珍湯，半月後與六味而痊。此症設被壞事，只雲中麻發不出而死，亦無怨其錯者，是以醫家寧可推出以讓知者治，不可貪而誤人性命也。海寧俞婦腹孕三子，俱不育。臨產時穩婆見衣胞出其半，而以手拖之下，傷其帶脈，致腹痛。縮一足不能伸，已經一月，痛楚難臥。予視之曰：此吊腳腸癰也。脈已數，知毒熟矣。乃用黃耆、皂角、甲片、陳皮、當歸，加葵根酒水煎服。次日下膿數碗而安。武林有本家，其婦人產後腹痛，諸藥罔效。延予診視，知生腸癰，本家不信，復請他醫。又半月而痛愈甚，食亦不進，二便不利。予見尺部脈已數，曰此癰已成膿矣。前者與消而不服我藥，今既已熟當出膿矣。如再遲延，恐傷臟而莫及也。遂如案之藥加葵根與服，下膿，腹痛漸減，隨服參、耆、地、歸補之，續用四物湯、八珍補月餘而起。有陳姓妻住小粉牆，產後小便不通，脹痛難安。予曰：瘀阻膀胱，氣不化也。與生化湯加肉桂、澤蘭服之，夜半得小便但未暢，次日復用六味湯吞失笑丸，小便大通而痊。有吳姓在席曰：何未服利劑而通？前醫用車前、木通、四苓而反愈閉何也？予曰：見病，治病未知源頭，何益之有？許姓婦，吾族侄女也。昔產後發寒熱，醫者始進鉤藤、荊芥不效，繼用柴胡湯熱愈甚，面赤而鼻出血矣。乃延予。視曰：此血虛症，用柴胡致血上衝，誤矣，若再劑必死，急用四物湯加牛膝、茯神而鼻血止，轉用八珍湯加黑姜而熱退，後以耆歸地術補之而愈。又後產蓐勞，肩生一毒，亦予治愈。今生產已無病矣。然產前皆予調補得宜，是以產俱平安而不覺也。</p>
<p>又伊侄媳，亦予侄女，產後驚風，時癸巳歲，適予在浙，請治。予曰：肝風內動，又感外邪而然也。今熱不退而汗多，手足搐抽，已成痙厥。此外解而內虛為重，隨用歸芎加黑荊芥少許，外用醋炭熏之，汗漸少，即進薑桂四物湯而熱退，次日轉用八珍湯加肉桂數劑而愈。吳大文夫人產後腹脹，小便不流利。予診脈遲軟，知寒結衝任，二脈氣滯不宣，用五味異功散加附子（一錢），數劑而安。常山許思載翁孫媳，孕五月，醫者謂經阻，而用紅花、桃仁、香附、益母行血藥，夜半血崩。予適在西街，扣門請治，隨往視之，形脈俱脫，不知人事，即用人參（二錢），炙耆（一兩），阿膠（二錢），熟地（八錢），附子（一錢），煎好灌入，至五更脈出人蘇，袴內見胞胎，方知服藥錯誤而小產，斯時若遲延不敢峻補，安能有命？杭城項理問夫人小產崩脫，諸醫不敢舉方，乃請予視診之。已無脈，胸膈滿悶，氣促汗出，危急之際。予制加味兩儀湯，人參（二錢），熟地（一兩），阿膠（三錢），艾葉（一錢），附子（一錢），炙耆（一兩），當歸（三錢）。速令煎服，本家畏補，服半帖，氣仍悶促，復問於予。予曰：急與服之。隨復再進，胸悶頓舒，呼吸調勻，脈亦續至。次早又進原方，適前醫至，仍不敢用藥。及見予方，沉吟良久，乃曰：脈脫氣促，度其必死。先生膽大，用此大補，吾不敢也。予曰：此即《內經》所謂塞因塞用也。緣氣不歸原，下不納氣，致浮於上。又即下虛上實，血既亡矣。陽無所附，若非大補，少頃脫去，無可救矣。焉得回生？諸醫不勝佩服。</p>

<h3>附：種子方</h3>
<p><u>調經種玉湯</u></p>
<p>凡婦人無子，多因七情所感，致使氣盛血衰，經水不調，或先或後，或淡或紫，如血塊，或崩漏帶下，或肚腹疼痛，或子宮虛冷，不能受胎，宜進此湯。</p>
<p>當歸（酒洗四錢）　川芎（四錢）　吳茱萸（泡，四錢）　陳皮（三錢）　白茯苓（三錢）　香附（三錢，制）　延胡索（三錢）　丹皮（三錢）　乾薑（炒二錢）　熟地（六錢）　官桂（二錢）　熟艾（二錢）　白芍（一錢）</p>
<p>若過期而經水色淡者，宜用桂、薑、艾。如先期三五日者，而經色紫，方中去桂、薑、艾，加條芩一錢。右銼四劑，生薑三片，水煎，空心溫服。渣再煎服待經至之日服起，一日一劑，過三十時之外，則當交媾，必成孕矣。若不成孕，而經期必准。</p>
<p>蔣示吉曰：凡人經盡種子之後，最宜將息。勿怒勿勞，勿舉動，勿遠行，勿沐浴，勿復行房事以擾其子宮，宜多服養肝、平氣、清熱、養血、補脾之品，胎自固矣。予家四金匱丸出自秘府，實有挽回造化之功，屢用屢驗，調經種子如神。</p>
<p><u>四金匱丸</u></p>
<p>香附（六兩，用黃柏、山梔各三兩同浸炒）　川芎（四兩）　續斷（四兩）　白朮（四兩）　茯苓（四兩）　當歸（四兩）　山藥（四兩）　白芍（四兩，俱酒洗炒）　青皮（四兩，炒）　砂仁（四兩，炒）　白薇（四兩，酒洗）　條芩（四兩，酒炒）　生地（四兩，酒洗）</p>
<p>共為末，山藥、淡醋湯糊為丸，醋湯下。蓋條芩、白朮安胎聖藥，且力能清下焦實火，火去則陰自足，一增其利，一去其害，又何小產之慮乎？</p>
<p><u>安胎萬全神應湯</u></p>
<p>治胎孕三月前後，或經怒，或行走蹶跌，以致胎傷，腹痛腰疼，一服即安。雖見血，一二日未離宮者，猶可安之。倘先經三四五個月，已半產者，及到月分，略覺腰骨酸脹，一服即安，數服萬全矣。</p>
<p>當歸（一錢）　熟地（八分，薑汁製）　白朮（一錢）　黃芩（一錢）　川芎（一錢）　白芍（七分，炒）　白茯苓（七分）　炙黃耆（七分）　杜仲（七分）　阿膠珠（七粒）</p>
<p>如胸前作脹，加紫蘇（六分），陳皮（六分），下帶或紅加地榆（一錢），艾（七分）。見血加川續斷（一錢），糯米百粒。水煎，空心溫服。</p>
