<header data-type="book">
<h1>傅青主男科重編考釋</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王道平</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1863">公元1863年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>世傳先生字不如詩，詩不如畫，畫不如醫，醫不如人。先生之高遠，固不可以區區之醫見也。而先生有所著《性史》、《十三經字區》、《周易偶釋》、《周禮音辨條》、《春秋人名韻、地名韻》、《兩漢人名韻》等書，不概見於世，雖欲言先生之高，莫之由也。今讀先生之傳，想先生之為人，豈非所謂天子不得臣，諸侯不得友者歟？</p>
<p>先生有《女科》傳於世，平嘗遵治家人婦女，無一不效。嘗語人曰：「先生《女科》，神乎神矣。惜未有《男科》傳焉。」或謂：「子不聞諺乎？能治十男子，不治一女人，女科難，男科易，故有傳有不傳耳。」似也，而心疑之。癸亥（同治二年、公元1863年）秋，有邦定羅公，持先生《男科》、《小兒科》以相示，平見而奇之，究其所從來。羅曰：「道光初年，余家刻印先生《女科》，是時平定州孫毓芝先生，為余家西席，由平定州攜至舍下，余抄之，藏笥已四十餘年矣。今有鄉人生產，胞衣不下，求方於余。余搜《女科》而得此，因子好《女科》，而特為相示。」平受而讀之，讀而抄之，且欲板之。奈心餘力欠，遲遲者久之。是冬十月，有寶翰羅公、正南王公、書銘安公、敦友羅公，亦善此書，於是各捐板資於親友，以共成其事。願仁人君子，勿視此為易易。</p>
<p>先生此書，只言病之形，不論病之脈，明白顯易，使人一望，而即知其病是寒是熱，屬實屬虛，真深入而顯出，似易而實難也，非深精脈理，不能為此。先生蓋精於岐黃，而通以儒義，不囿於叔和、丹溪之言，而獨有所見。探古人未探之本，傳古人未傳之妙，實大有益於人世，能救死於呼吸間也。</p>
<p>平本才疏學淺，見小識寡，不足為先生序，且不敢為先生序。而今竟序之者，蓋十一月二十三日，己詣平邑古陶書院求序於松龕徐大人，而徐大人赴省公幹。梓人索序，而待觀者又欲亟成其書，無奈序之，亦不過序其稿之所由來，板之所由成耳。世有能文之士，棄此而重為之序，是所至禱。</p>
<p><u>同治二年十二月康衢王道平識</u></p>

<h1>序</h1>
<p>天倪子慨，夫子輿氏之言曰：窮則獨善其身，達則兼善天下。古今有志之士，窮者千萬，達者十百，其有兼善天下之志，而無兼善天下之柄者，不知凡幾矣。若夫無兼善天下之柄，而行兼善天下之志者，莫醫若也。醫之中，有良醫，有庸醫。良醫者，紹先聖之心源，即為民命之主宰也，其培養元氣，是猶良相之治國也。庸醫者，究義理而未精，向市廛而鬻術，其貽害眾生，亦猶庸臣之誤國也。嗚呼！治國者寥寥，誤國者滔滔，此有心人所以痛心疾首者耳。傅青主先生，具悲天憫人之懷抱，仁民愛物之念，生當喪亂，篤志隱淪，徒以醫傳於世。先生之遇亦可悲矣，然先生兼善天下之志更可見矣。《女科》一書，久已流傳，同治間湖北崇文書局刊行。雜證二卷，因《女科》之行，別曰《男科》，向聞之而未見也。今年春，枝江張正甫明經以舊刊本見示，天倪子受而讀之，覺條分縷晰，意簡言賅；不以脈理之深奧而晦目，不以證治之微茫而侈口；病立一案，案列一方，持此可以救世，可以傳世，誠良相之典型，治國之模範也，因校而刊之。願鄉國市裡，戶藏一編，不為庸醫所誤，使吾民共登仁壽之域。為先生廣其傳，為先生行其志，是窮者而有達者之權也，不亦深快幸哉！</p>
<p><u>光緒七年歲在重光大荒落陽月江都郭鍾岳序</u></p>

<h1>明生員傅先生山傳</h1>
<p>傅先生名山，字青主，一字公他，陽曲人。祖霖，官山東、遼海參議。父之謨，明經授徒，號離垢先生。山生而穎異，讀書十行並下，過目輒能成誦。年十四，督學文太清拔入庠。繼文者，袁臨候先生繼咸也，一見深器之，准食餼。檄取讀書三立書院時，時以道學相期許，山益發憤下帷。袁每云：「山，文誠佳，恨未脫山林氣耳。」崇禎丙子，繼咸為直指張孫振誣詆下獄。山徒步走千里外，伏闕訟冤。孫振怒，大索山，山敝衣襤褸，轉徙自匿，百折不回，繼咸冤得白。當是時，山義聲聞天下。後繼咸官南方，數召山，山終不往。</p>
<p>國朝定鼎，自九江執繼咸北上，山乃潛入都，密候繼咸起居。繼咸見殺，山收其遺藁而歸。山性至孝，父之謨病篤，朝夕稽顙於神，願以身代。旬日父愈，人謂孝通神明不異。黔婁云：執親喪，哀毀特甚，苫塊水飲，不茹疏果。友愛諸季，先人遺產，弟蕩費強半，終身無怨色。弟歿，撫遺孤過於己子。失偶時年二十七，子眉甫五齡，旁無妾媵，」誓不復娶。於裡黨姻戚，竭力賙其緩急，為人分別有讓，恭儉下人。與人言：依於忠孝，謀事要於誠實。蓋其敦厚彝倫，根本自然，非有強也。自李自成犯京師，明莊烈皇帝殉國，山遂絕意進取，棄青衿為黃冠，號石道人。蘀衣草履，時遨遊於平定、祁汾間，所至有墨痕筆跡。工詩賦，善古文詞，臨池得二王神理，該博古今典籍，百家諸子，靡不淹貫。大叩大鳴，小叩小鳴，復自托繪事寫意，曲盡其妙。精岐黃術，邃於脈理，而時通以儒義，不拘拘於叔和、丹溪之言。踵門求醫者戶常滿，貴賤一視之。家故饒，至是漸益窶，安貧樂道泊如也。屋舍田園，多為細人竊據，概置不問。康熙戊午，詔舉博學宏詞，廷臣交章薦山，山堅以老病辭。當事者立迫就道，道稱股病不能行，肩輿舁入都，臥旅邸不赴試。滿漢王公九卿、賢士大夫，下逮馬醫夏畦、市井細民，莫不重山行義，就見者羅溢其門，子眉送迎常不及。山但欹倚榻上言：「衰老不可為禮」。諸貴人益以此重山，弗之怪也。明年三月，吏部驗病入告，奉旨，傅山文學素著，念其年邁，特授內閣中書，著地方官存問，遂得放歸。歸愈澹泊，自甘僻居遠村，不入城府。然欽其名者益眾，率紆道往見，冀得一面為榮。又六年卒，遠近會葬者，數千百人。山所著有《性史》、《十三經字區》、《周易偶釋》、《周禮音辨條》、《春秋人名韻、地名韻》、《兩漢人名韻》等書。</p>
<p>嵇禮齋曰：昔者嘗怪先生值堯舜之世，篤志高尚，懇辭徵闢，何其果也。及讀漢史，見周黨、王霸之為人，初不辱於新莽，建武復辟，連徵不起，乃知士各有志。先生蓋有道而隱者也，彼誠見夫有明末季，上下交徵利，卒滅亡於寇盜之手，固己心寄夫長林豐草矣，寧復以青紫為榮耶？至若義白知己之冤，其賢於世之平居師友相親慕，臨難揹負，不一引手救，漠然若不相識者，亦遠矣。古云：民生於三，事之如一，惟其所在則致死焉。先生真無愧哉！</p>
<p>贊曰：於惟先生，得聖之清；訟冤奔訃，蒙難不驚。辭榮卻聘，先民是程，功在名教，百世景行。</p>

<h2>鐵城寄傅青主</h2>
<p>（附禮二首　附錄《霜紅龕集》）</p>
<p>獨子同憂患，於今乃別離，乾坤留古道，生死見心知。貫械還余草，傳燈不以詩，悠悠千載業，努力慰相思。</p>
<p>江州求死不得，至今只得為其從容者。聞黃冠入山養母，甚善，甚善！此時不可一步出山也。有詩一冊付曲沃錫珽，屬致門下藏之山中矣。可到未？（乙酉冬季）</p>
<p>前詩到未？若未到門下，不可往取，可屬西河曹孝廉碩公緩頰取之，必藏之門下。所目今著《經觀》、《史觀》二書，《經觀》薄就矣，《史觀》尚未竟，不知能終竟此業否？晉士惟門下知我甚深，不遠蓋棺，斷不敢負門下之知，使異日羞稱袁繼咸為友生也。</p>
<p><u>丙寅初秋宜春袁繼咸袁山</u></p>

<h2>傅山父子</h2>
<p>（原載《池北偶談》）</p>
<p>傅山，字青主，一字公之他，太原人。母夢老比丘而生，生復不啼。一瞽僧至門云：「既來，何必不啼？」乃啼。六歲食黃精，不樂穀食，強之，乃復食。讀十三經、諸子史，如宿通者。崇禎十年，袁臨候繼咸，督學山西，為巡按御史張孫振誣劾被逮。山橐饘左右，伏闕上書，白其冤。諭德馬君常世奇，作山右二義士傳（謂山與汾陽薛宗周），比之裴瑜、魏劭。亂後，夢天帝賜黃冠衲衣，遂為道士裝。醫術入神，有司以醫見則見，不然不見也。康熙戊午，徵聘至京師，以老病辭。己未，與范陽杜樾，俱授內閣中書舍人歸里。山工八分隸及金石篆刻，畫入逸品。子眉，字壽髦，亦工畫，作古賦數十篇。常鬻藥四方，兒子共輓車，暮抵逆旅，輒篝燈課讀經史騷賦選諸書，詰旦成誦，乃行；否即與杖。</p>

<h1>初病治法門</h1>
<p>（初治者，首先宜以此治之也。初病傷風，即以傷風治之；初病傷寒，即以傷寒治之；初病傷食，即以傷食治之也。）凡病初起之時，用藥原易奏功。無如世人看不清症，用藥錯亂，往往變症蜂起。苟看病清，用藥當，何變症之有？</p>

<h2>外感</h2>
<p>人病外感發熱，必先散其邪氣，邪退而後補正，則正氣、不為邪所傷，方用外感發熱方：</p>
<p>柴胡（一錢）　荊芥（一錢）　半夏（一錢）　黃芩（一錢）　甘草（一錢）</p>
<p>水煎服，則邪散而身涼。蓋四時不正之氣，來犯人身，必然由皮毛而入營衛，故用柴胡、荊芥先散皮毛之邪，邪既先散，安得入內？又有半夏以祛痰，使邪不得挾痰以作祟；又有黃苓以清火，使邪不得挾火以作殃；又有甘草調和諸藥，是以邪散而無傷於正氣也。若內傷之發熱，則不可用此方。</p>

<h2>傷風</h2>
<p>傷風之症，必然頭痛身疼，咳嗽痰多，鼻流清水，切其脈必浮，方用：</p>
<p>柴胡（一錢）　荊芥（一錢）　防風（一錢）　黃芩（一錢）　半夏（一錢）　甘草（一錢）</p>
<p>水煎服，一劑即止，不必再劑也。</p>

<h2>傷寒</h2>
<p>傷寒初起，鼻塞目痛，項強頭痛，切其脈必浮緊。此傷寒也，方用:</p>
<p>桂枝（一錢）　甘草（一錢）　陳皮（一錢）　乾葛（一錢）</p>
<p>水煎服，一劑而愈。</p>

<h2>發汗</h2>
<p>邪居腠理之間，必須用汗藥以泄之，方用：</p>
<p>荊芥（一錢）　防風（一錢）　甘草（一錢）　桔梗（一錢）　蘇葉（一錢）　白朮（五錢）　茯苓（三錢）　陳皮（五錢）</p>
<p>水煎服。此方妙在以白朮為君。蓋人之脾胃健，而後皮毛、腠理，始得開闔自如。白朮健脾去濕，而邪已難存，況有荊、防、蘇、桔以表散之乎？</p>

<h2>扶正散邪</h2>
<p>此專治正氣虛，而邪氣入之者，如頭痛發熱、凡脈右寸口大於左寸口者，急以此方投之，無不痊愈。方用扶正散邪湯：</p>
<p>人參（一錢）　柴胡（三錢）　半夏（一錢）　甘草（一錢）　茯苓（三錢）　白朮（三錢）</p>
<p>水煎服。</p>

<h2>傷食</h2>
<p>如傷食，必心中飽悶，見食必惡，食之轉痛也。方用:</p>
<p>白朮（一錢）　茯苓（一錢）　枳殼（一錢）　山楂（二十粒）　穀芽（二錢）　麥芽（二錢）　神麯（五錢）　半夏（一錢）　砂仁（三粒）　甘草（五分）</p>
<p>水煎服，一劑快，二劑愈。</p>

<h2>傷暑</h2>
<p>如傷暑，必然頭暈、口渴、惡熱，甚者痰多、身熱、氣喘，方用：</p>
<p>青蒿（一兩）　香薷（三錢）　白朮（五錢）　陳皮（一錢）　茯苓（三錢）　甘草（一錢）</p>
<p>水煎服。有人參加一錢，無亦可，一劑愈。</p>

<h2>燥症</h2>
<p>燥病初起，咽乾口燥，不吐痰，乾咳嗽不已，面目紅色，不畏風吹是也。方用：</p>
<p>麥冬（五錢）　元參（五錢）　桔梗（三錢）　甘草（一錢）　花粉（一錢）　百部（八分）</p>
<p>水煎服。</p>

<h1>傷寒門</h1>

<h2>結胸</h2>
<p>此乃傷寒之變症也。傷寒火邪正熾，不可急與飲食。飲食而成此症者，方用：</p>
<p>栝蔞（一枚捶碎）　甘草（一錢）</p>
<p>水煎服。</p>
<p>夫栝萎乃結胸之聖藥，平常人服之，必至心如遺落，令病人服之，不畏其虛乎？不知結胸之症，是食在胸中，非大黃、枳殼、檳榔、厚朴所能祛逐，必得栝萎始得推盪開脾，少加甘草以和之，不至十分猛烈也。</p>

<h2>大滿</h2>
<p>此邪在上焦壅塞而不得散也。方用：</p>
<p>栝萎（一個搗碎）　枳殼（三錢）　半夏（一錢）　梔子（三錢）　天花粉（三錢）　陳皮（三錢）　厚朴（一錢五分）　甘草（一錢）</p>
<p>水煎服。</p>
<p>此方之妙，全在用栝蔞能祛胸膈之食，而消上焦之痰，況又佐以枳殼、天粉，同是消痰之聖藥；又有厚朴、半夏，以清胃口之痰；尤妙在甘草，使群藥留中而不速下，則邪不能久存，自然散矣。</p>

<h2>循衣攝空</h2>
<p>此症非大實，則大虛，當審其因，察其脈，參其症，而分黑白矣。</p>
<p>實而便秘者，大承氣湯。虛而便滑者，獨參湯。厥逆者，加附子。</p>

<h1>寒熱真假辨門</h1>

<h2>真熱症</h2>
<p>真熱症：口乾極而呼水，舌燥極而開裂生刺，喉痛日夜不已，大熱烙手而無汗也。方用：</p>
<p>麻黃（三錢）　當歸（五錢）　黃連（三錢）　黃芩（三錢）　生石膏（三錢）　知母（三錢）　半夏（三錢）　枳殼（二錢）　甘草（一錢）</p>
<p>水煎服，一劑輕，二劑愈。</p>

<h2>真寒症</h2>
<p>真寒症：手足寒，久而不回。色變青紫，身戰不已，口噤出聲而不可禁也。方用：</p>
<p>附子（三錢）　肉桂（一錢）　乾薑（一錢）　白朮（五錢）　人參（一兩）</p>
<p>水煎服，急救之。此乃真中寒邪，腎火避出軀殼之外，而陰邪之氣直犯心宮，心君不守，肝氣無依，乃發戰發噤，手足現青色。然則用桂、附、乾薑逐其寒邪足矣，何用參、術，即用何至多加？蓋元陽飛越，只一線之氣未絕，純用桂附、乾薑一派辛辣之藥，邪雖外逐而正氣垂絕，若不多加參、術，何以反正氣於若存若亡之際哉？</p>

<h2>假熱症</h2>
<p>假熱症:口雖渴而不甚，舌雖干而不燥，即燥而無芒刺紋裂也。方用：</p>
<p>黃連（三錢）　當歸（三錢）　白芍（三錢）　半夏（三錢）　茯苓（三錢）　柴胡（二錢）　梔子（二錢）　枳殼（一錢）　菖蒲（三分）</p>
<p>水煎服。此方妙在用黃連入心宮，佐以梔子，提刀直入，無邪不散；柴胡、白芍，又塞敵運糧之道；半夏、枳殼，斬殺黨余。中原既定，四隅不戰而歸。然火勢居中，非用之得法，則賊勢彌張，依然復入，又如菖蒲之辛熱，乘熱飲之，則熱喜熱，不致相反而更相濟也。</p>

<h2>假寒症</h2>
<p>假寒症：手足冰冷，而有時溫和；厥逆身戰，亦未太甚；有時而安，有時而搐是也。方用：</p>
<p>附子（一錢）　肉桂（一錢）　人參（三錢）　白朮（五錢）　豬膽汁（半個）　苦菜汁（三匙）</p>
<p>先將水二碗煎藥，熟後以藥並器，放冷水中激涼，再入膽汁，菜汁調勻，一氣服之。方中全是熱藥，倘服不如法，必然虛火上衝，將藥吐出。必熱藥涼服，已足順其性，況下行又有二汁之苦，以騙其假道之防也哉。</p>

<h2>真熱假寒</h2>
<p>如人身外冰冷，身內火熾，發寒發熱，戰慄不已，此真熱反現假寒之象以欺人也。法當用三黃湯加石膏、生薑，趁熱飲之。再用井水以撲其心，至二、三十次，內熱自止，而外之戰慄亦若失矣。後用元參、麥冬、白芍各二兩，煎湯與服，任其恣飲，後不再甚矣。</p>

<h2>真寒假熱</h2>
<p>如人下部冰冷，上部大熱，渴欲飲水，下喉即吐，乃真寒反現假熱之象以欺人也。法當用八味湯大劑，探涼與服。再令一強有力者，以手擦其足心，如火之熱，不熱不已，以大熱為度。後用吳茱萸一兩、附子一錢，共為末，麝香三分，以少許白麵入之，打糊作膏，貼在足心之中。少頃，必熟睡，醒來，下部身熱，而上部之火息矣。</p>

<h2>上熱下寒</h2>
<p>此症上焦火盛，吐痰如湧泉，面赤喉痛，上身不欲蓋衣，而下身冰涼，此上假熱而下真寒也。方用：</p>
<p>熟地（半斤）　山萸（四兩）　丹皮（三兩）　茯苓（三兩）　澤瀉（三兩）　附子（一個）　肉桂（一兩）　麥冬（一兩）　五味子（一兩）</p>
<p>水十碗，煎至三碗，探冷與服。二渣再用水三碗，煎一碗，一氣服之，立刻安靜，此上病下治法也。</p>

<h2>乍熱乍寒</h2>
<p>病有灑淅惡寒，而後發熱者，蓋陰脈不足，陽往從之；陽脈不足，陰往乘之。何謂陽不足？寸脈微，名曰陽不足。陰氣上入於陽中，則惡寒也。何謂陰不足？尺脈弱，名曰陰不足。陽氣下陷陰中，則發熱也。</p>
<p>凡治寒熱，用柴胡升陽氣，使不陷於陰中，則不熱也。用黃芩降陰氣，使不升入陽中，則不寒也。</p>

<h1>火症門</h1>

<h2>火症</h2>
<p>火症初起，必大渴引渴，身有斑點，或身熱如焚，或發狂亂語，方用:</p>
<p>生石膏（三錢）　元參（一兩）　麥冬（一兩）　甘草（三錢）　升麻（三錢）　知母（三錢）　半夏（三錢）　竹葉（百片）</p>
<p>水煎服，一、二劑可止可安，三劑愈，不必四劑也。（以下據《石室秘錄》初治法「發明」補）：〔若初起之時，火勢少衰，減半與之。乘其火勢初起，胃氣未衰，急用此方以止遏之，則火自然驟減而不為害矣。方即竹葉石膏湯，妙在加入元參、麥冬數兩，使石膏不為主帥，而反為稗將，聽麥冬、元參之差遣，則止去火而不損胃中之陰。又妙加入升麻引其外出而不能入，止祛火而不損腎水，所以奏功如神也。倘疑升麻太多而少減之，轉不能奏功之捷，予所以又戒世人之不知用升麻者〕。（按：《石室秘錄》中麥冬為三兩，元參為一兩。此方論在《男科》及《方論》中均無，疑係傅氏晚年所改）。</p>

<h2>瀉火</h2>
<p>瀉火湯總方：</p>
<p>梔子（三錢）　白芍（五錢）　丹皮（三錢）　元參（三錢）　甘草（一錢）</p>
<p>水煎服。心火加黃連一錢；胃火加生石膏三錢；腎火加黃柏、知母各一錢；肺火加黃芩一錢；大腸火加地榆一錢；小腸火加天冬、麥冬各一錢；膀胱火加澤瀉三錢。治火何獨治肝經？蓋肝屬木，最易生火。肝火散，則諸經之火俱散。但散火必須有下泄之藥，而使火之有出路也，則得矣。</p>
<p>按：白芍、丹皮、梔子、甘草，不但有清火作用，且有利尿作用，使火從小便利之。</p>

<h2>火越</h2>
<p>此乃胃火與肝火，共騰而外越，不為丹毒，即為痧疹，非他火也。方用：</p>
<p>元參（一兩）　乾葛（三兩）　升麻（三錢）　青蒿（三錢）　黃耆（三錢）</p>
<p>水煎服。此方妙在用青蒿，肝、胃之火俱平。又佐以群藥重劑，而火安有不滅者乎？治小兒亦效。</p>

<h2>火丹</h2>
<p>治火丹神方：</p>
<p>絲瓜子（一兩）　柴胡（一錢）　元參（一兩）　升麻（一錢）　當歸（五錢）</p>
<p>水煎服。小兒服之亦效。</p>

<h2>消食病</h2>
<p>火盛之症，火渴引飲，呼水自救，朝食即飢，或夜食不止，方用：</p>
<p>元參（一兩）　麥冬（五錢）　生地（三錢）　竹葉（三十片）　菊花（二錢）　白芥子（二錢）　丹皮（二錢）　陳皮（五分）</p>
<p>水煎服。</p>

<h2>痿症</h2>
<p>不能起床，已成廢人者，此乃火盛內熾，腎水熬干矣。治法宜降胃火而補腎水，方用降補湯：</p>
<p>熟地（一兩）　元參（一兩）　麥冬（一兩）　甘菊花（五錢）　生地（五錢）　車前子（二錢）　人參（三錢）　沙參（五錢）　地骨皮（五錢）</p>
<p>水煎服。</p>

<h2>又痿症</h2>
<p>人有兩足無力，不能立起，而口又健飯，少飢即頭面皆熱，咳嗽不已，此亦痿症，方用起痿至神湯：</p>
<p>熟地（一兩）　元參（一兩）　山藥（一兩）　甘菊花（一兩）　當歸（五錢）　白芍（五錢）　人參（五錢）　神麯（二錢）　白芥子（三錢）</p>
<p>水煎服，三十劑愈。</p>

<h1>濕症門</h1>

<h2>傷濕</h2>
<p>如傷濕，必然惡濕，小便短赤，方用：</p>
<p>澤瀉（三錢）　豬苓（三錢）　肉桂（五分）　茯苓（五錢）　白朮（五錢）　車前子（一錢）　柴胡（一錢）　半夏（一錢）</p>
<p>水煎服，一劑愈。</p>

<h2>黃膽病</h2>
<p>此症外感之濕易治，內傷之濕難療。外感者，利水則愈。若內傷之濕，瀉水則氣消，發汗則精泄，必健脾行氣而後可也。方用：</p>
<p>白朮（一兩）　茯苓（一兩）　薏仁（一兩）　茵陳（三錢）　黑梔（三錢）　陳皮（五分）</p>
<p>水煎服。</p>
<p>此方治內傷之濕，不治外感之濕。若欲多服，去梔子。</p>

<h2>癉症</h2>
<p>此症雖因風寒濕而來，亦因身中元氣之虛，邪始得乘虛而入。倘攻邪而不補正，則難愈矣。今於補正之中，佐以祛風寒濕之品，而癉症失，方用：</p>
<p>白朮（五錢）　人參（三錢）　茯苓（一兩）　柴胡（一錢）　附子（一錢）　半夏（一錢）　陳皮（一錢）</p>
<p>水煎服。</p>

<h2>腳氣</h2>
<p>今人以五苓散去濕，亦是正理，然不能上升其氣而盡去其濕也。必須提其氣，而水乃散也。方用：</p>
<p>黃耆（一兩）　人參（三錢）　白朮（三錢）　茯苓（三錢）　薏仁（五錢）　芡實（五錢）　肉桂（一錢）　白芍（五錢）　半夏（二錢）　防風（一錢）　柴胡（一錢）　陳皮（五分）</p>
<p>水煎服。</p>
<p>此方乃去濕之聖藥。防風用於黃耆之中，足以提氣而去濕。又助之柴胡舒氣，氣升則水散。且有白朮、茯苓、薏仁、芡實，俱是去濕之品，有不神效者乎？</p>
<p>凡有濕者，均可以此方治之。</p>

<h1>鬱結門</h1>

<h2>開鬱</h2>
<p>如人頭痛身熱，傷風咳嗽，或心不爽，而鬱氣蘊於中懷；或氣不舒，而怒氣留於脅下；斷不可用補藥，方用：</p>
<p>當歸（三錢）　白芍（五錢）　柴胡（一錢）　白朮（二錢）　甘草（一錢）　丹皮（一錢）　薄荷（一錢）　半夏（二錢）　枳殼（一錢）</p>
<p>水煎服。</p>
<p>頭痛，加川芎一錢；目痛，加蒺莉一錢、甘菊花一錢；鼻塞，加蘇葉一錢；喉痛，加桔梗二錢；肩背痛，加枳殼一錢、羌活二錢；兩手痛，加薑黃或桂枝一錢；兩脅痛，倍柴胡、白芍；胸痛，加枳殼一錢；腹痛不可按者，加大黃二錢；按之而不痛者，加肉桂一錢。</p>

<h2>舒肝</h2>
<p>治肝氣方：</p>
<p>當歸（二錢）　白芍（錢二分酒炒）　焦白朮（錢五分）　茯苓（錢五分）　柴胡（八分醋炒）　生甘草（五分）　丹皮（一錢）　黑山梔（一錢）　炮姜（三分）</p>
<p>水煎服。</p>

<h2>關格</h2>
<p>怒氣傷肝，而肝氣衝於胃口之間，腎氣不得上行，肺氣不得下達，而成此症，以開鬱為主，方用：</p>
<p>白芍（三錢）　柴胡（一錢）　鬱金（一錢）　荊芥（一錢）　蘇子（一錢）　白芥子（一錢）　甘草（五分）　茯苓（一錢）　花粉（一錢）</p>
<p>水煎服。</p>
<p>此方妙在平常，而有至理。蓋肝氣之郁，必用柴、芍以舒之。然過多則必阻而不納，方中以此二味為君，而佐以鬱金之寒散，芥子之去痰，天花粉之散結，甘草之和中，茯苓之去濕，氣味和平，委婉易入，不爭不戰、相愛相親，自能到門而疑關，不致扣關而堅壁也。</p>
<p><u>又方：</u></p>
<p>用陰陽水各一碗，加鹽一攝，打百餘下起泡，飲之即吐而愈。凡上焦有痰，欲吐而不能吐者，飲之立吐。</p>
<p><u>又方：</u></p>
<p>用生半夏為末，水丸，綠豆大，入鼻孔中，則必嚏噴不已，用水飲之立止。通治中風不語，及中惡、中鬼等症俱妙。</p>

<h1>脾胃病門</h1>

<h2>辨脾胃症</h2>
<p>凡人能食而不能化者，乃胃不病而脾病也，當宜補脾。而補脾尤宜補腎中之火，蓋腎火能生脾土也。</p>
<p>凡人不能食，食之而安然者，乃胃病而非脾病也，不可補腎中之火，當補心中之火，蓋心火能生胃土也。</p>
<p>世人一見不飲食，動曰脾胃病，殊不知胃之虛寒責之心，脾之虛寒責之腎，不可不辨也。</p>

<h2>氣虛胃虛</h2>
<p>凡人病氣虛者，乃身體羸弱，飲食不進，或大便溏泄，小便艱澀。方用：</p>
<p>人參（一兩）　白朮（五錢）　茯苓（三錢）　甘草（一錢）　陳皮（一錢）　澤瀉（三錢）　車前子（一錢）</p>
<p>水煎服。</p>
<p>此方用人參為君者，開其胃氣也。蓋胃為腎之關，關門不開，則上之飲食不能進，下之糟粕不能化，必用人參以養胃土，茯苓、車前以分消水氣也。〔且胃之性最喜溫和而不喜濕，濕者必上壅而嘔、下積而泄矣。今順土之性而溫補之，則飲食自進、而大小便安其位矣。〕</p>
<p>或服此方而未愈，兼服八味丸，最能實大腸而利膀胱也。</p>

<h2>氣虛飲食不消</h2>
<p>飲食入胃，必須胃氣充足，始能化糟粕而生津液。今飲食不消，氣虛故也。方用:</p>
<p>人參（二錢）　白朮（三錢）　茯苓（三錢）　甘草（三錢）　陳皮（五分）　神麯（五分）　黃耆（三錢）　麥芽（五分）　山楂（五粒）　炮姜（一錢）</p>
<p>水煎服。</p>
<p>傷麵食，加蘿蔔子。有痰，加半夏、白芥子各一錢。咳嗽，加蘇子一錢、桔梗二錢。傷風，加柴胡二錢。夜臥不安，加炒棗仁二錢。胸中微痛，加枳殼五分。</p>
<p>方內純是開胃之品，又恐消食難消，更加消導之味，則飲食化而津液生矣。</p>

<h2>倒飽中滿</h2>
<p>氣虛不能食，食則倒滿。</p>
<p>人參（一錢）　白朮（二錢）　茯苓（三錢）　甘草（一錢）　陳皮（三分）　山藥（三錢）　蘿蔔子（一錢）　薏仁（五錢）　芡實（五錢）</p>
<p>水煎服。</p>
<p>下喉雖則微脹，入腹漸覺爽快。</p>

<h2>胃氣虛寒</h2>
<p>心腎兼補，治脾胃兩虛者固效矣。若單是胃之虛寒，自宜獨治心之為妙。方用：</p>
<p>人參（一兩）　白朮（三兩）　茯神（三兩）　山藥（四兩）　半夏（三兩）　菖蒲（五錢）　遠志（一兩）　白芍（二兩）　棗仁（五錢）　蓮子（三兩）　白芥子（四錢）　良薑（五錢）　附子（三錢）</p>
<p>蜜丸，每日滾水送下三錢。</p>
<p>〔此方補心火併疏肝氣，內加附子、良薑，以助火熱之氣，心火足，自然生胃土；胃土足，飲食自然能進而無害矣。〕</p>

<h2>健脾丸</h2>
<p>炒白朮（二兩半）　蓮子（二兩半）　炒山藥（二兩半）　山楂（二兩半）　芡實（一兩）　茯苓（一兩）</p>
<p>以上六味，俱飯上蒸曬兩次，加神麯五錢，白芍五錢，白色大米蟲五錢，陳皮二錢，澤瀉二錢，蜜丸，空心米飲送下二、三錢，宜常服。</p>
<p>如瘦極成疳，加蘆薈三錢、杜仲二錢。如泄瀉，加白果煨三錢。如內熱口乾，大便結，加黃連二錢姜炒。如潮熱，加柴胡三錢。如骨蒸，加地骨皮五錢。如有蟲，加使君子三錢。如肚腹脹大。大便閉塞，腸鳴作響，加檳榔五分、木香一錢。</p>

<h2>大健脾丸方</h2>
<p>焦白朮（三兩）　人參（一兩）　扁豆（一兩）　蓮子（一兩半）　茯苓（一兩半）　山藥（一兩）　芡實　（二兩半）　陳皮（二兩）　神麯（二兩）　山楂（二兩）　薏苡仁（三兩）　麥芽（一兩半）　黃連（三兩半）　澤瀉（四錢）　藿香（五錢）　桔梗（五錢）　炙甘草（五錢）　白荳蔻（四錢）</p>
<p>蜜丸，每日早晚米飲送下。</p>

<h1>臟治法門</h1>
<p>臟治者，五臟中有病而治之者也。臟有五，治法惟三：脾肺同一治，腎肝同一治，心腎同一治也。</p>

<h2>肺脾雙虧</h2>
<p>（肺氣之傷，必補脾氣；脾氣既傷，肺氣亦困；故補肺必須補脾，補脾必須補肺也。）如人咳嗽不已，吐瀉不已，此肺脾之傷也。人以為咳嗽宜治肺，吐瀉宜治脾。殊不知咳嗽由於脾氣之衰，斡旋之令不行，則上為咳嗽矣。吐瀉由於肺氣之弱，肅清之令不行，則上吐而下瀉矣。方用：</p>
<p>人參（一錢）　麥冬（三錢）　茯苓（三錢）　柴胡（一錢）　神麯（五分）　車前子（一錢）　薏苡仁（一錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>此方乃治肺、治脾之藥，合而用之，咳嗽、喘病之盡除，嘔吐、瀉症之各去，所謂一方而兩用之也。</p>

<h2>腎肝兩虛</h2>
<p>腎肝同治者，腎水虧不能滋肝木，則肝木抑鬱而不舒，必有兩脅飽悶之症。肝木鬱不能生腎中之火，則腎水日寒，必有腰背難於俯仰之症。〔故補肝必須補腎中之水；補腎中之水又不可不補肝木。倘補肝而不補腎，則脅痛何以頓除？補腎而不補肝，則腰脊何以立愈？〕方用：</p>
<p>熟地（一兩）　山萸（五錢）　當歸（五錢）　白芍（五錢）　柴胡（二錢）　肉桂（一錢）</p>
<p>水煎服。</p>
<p>此方熟地、山萸，補腎之藥；當歸、白芍、柴胡、肉桂，補肝之品。既云平肝補腎，似乎用藥不宜有輕重，今補肝之品多於補腎者何也？蓋腎為肝之母，肝又為命門之母也，豈有肝木旺而不生命門之火者哉？〔命門是一身主宰，當生五臟之氣，不宜為五臟所生。然而五臟疊為生克，肝既是木，豈有木不能生命門之火乎？此有至理存焉，願世人勿驚為創說奇聞，而疑為不可執之以治病也。〕</p>

<h2>心腎不交</h2>
<p>腎,水臟也。心，火臟也。是心、腎二經為仇敵，似乎不宜牽連而一治之。不知心，腎雖相剋而實相須，無心之火則成死灰，無腎之水則成冰炭。心必得腎氣以滋養，腎必得心火而溫暖。如人驚惕不安，夢遺精泄，豈非心腎不交乎？人以驚惕不安為心之病，我以為腎之病；人以夢遺精泄為腎之病，我以為心之病。非顛倒也，實有至理焉。方用：</p>
<p>熟地（五兩）　山萸（三兩）　山藥（三兩）　人參（三兩）　白朮（五兩）　芡實（五兩）　茯神（三兩）　菖蒲（一兩）　炒棗仁（三兩）　遠志（一兩）　五味子（一兩）　麥冬（三兩）　柏子仁（三兩）</p>
<p>蜜丸，早晚溫水送下五錢。</p>
<p>此方之妙，治腎之藥少於治心之味。蓋心君寧靜，腎氣自安，腎氣既安，何至心動？此治心正所以治腎，而治腎正所以治心也，所謂心腎相依。</p>

<h1>兩病同治門</h1>

<h2>便血又尿血</h2>
<p>血分前後，便血出於後陰，尿血出於前陰，最難調治，然總之出血於下也。方用：</p>
<p>生地黃（一兩）　地榆（五錢）</p>
<p>水煎服，二症俱愈。</p>
<p>蓋大小便雖各有經絡，而其源同，因膀胱之熱而來也。生地、地榆俱能清膀胱之熱，一方而兩用之，蓋分之中又有合也。</p>

<h2>腰痛又頭痛</h2>
<p>腰痛又頭痛，上下相殊也，如何治之？治腰乎、治頭乎？誰知是腎氣不通乎？蓋腎氣上通於腦，而腦氣下達於腎，上下雖殊，而氣實相通。法當用溫補之藥，以大益其腎中之陰，則上下之氣通矣。方用：</p>
<p>熟地（一兩）　杜仲（五錢）　麥冬（五錢）　北五味（二錢）</p>
<p>水煎服，一劑即愈。</p>
<p>方內熟地、杜仲，腎中之藥也，腰痛是其專功。今並頭痛而亦愈者，何也？蓋頭痛乃腎氣不上達之故，用熟地補腎之味，則腎氣旺而上通於腦，故腰不痛而頭亦不痛矣。〔閤中有分，分中又有合也〕。</p>

<h2>遺精又健忘</h2>
<p>遺精，下病也。健忘，上病也。何以分治之而咸當乎？方用：</p>
<p>人參（三兩）　蓮鬚（二兩）　芡實（三兩）　熟地（五兩）　山藥（四兩）　麥冬（三兩）　五味子（一兩）　生棗仁（三兩）　遠志（一兩）　石菖蒲（一兩）　當歸（三兩）　山萸（三兩）　柏子仁（一兩）</p>
<p>蜜丸，每日服五錢，白水下。</p>
<p>〔此方乃治健忘之方，何以治遺精而亦效耶？蓋遺精本是腎水之虛，而實本於心頭之痛。今補其心君，則玉關不必閉而自閉矣，所謂「一舉而兩得」。此閤中之分，實有殊功也〕。</p>

<h2>泄瀉又吞酸</h2>
<p>泄瀉者，寒也。吞酸者，火也。似乎寒熱殊而治法宜異矣。不知吞酸雖熱，由於肝氣之鬱結；泄瀉雖寒，由於肝木之克脾。苟一方以治木鬱，又一方以培脾土，土必大崩，木必大雕矣。不若一方而兩治之為愈也。方用：</p>
<p>柴胡（一錢）　白芍（五錢）　茯苓（三錢）　陳皮（五分）　車前子（一錢）　神麯（五分）　甘草（五分）</p>
<p>水煎服。</p>
<p>〔此方之奇絕，在白芍之妙。蓋白芍乃肝經之藥，最善〕舒肝木之郁，木鬱一舒，上不克胃，而下不克脾。方中又有茯苓、車前子以分消水濕之氣，則水盡從小便出，何有餘水以吞酸，剩汁以泄瀉哉？〔況又有半夏、神麯之消痰化粕，此一（合也）治而有分治之功，世人未盡知也。〕</p>

<h2>中氣又中痰</h2>
<p>中氣、中痰，雖然中之異，而實皆中於氣之虛也。氣虛自然多痰，痰多必然耗氣，雖分而實合耳。方用：</p>
<p>人參（一兩）　半夏（三錢）　南星（三錢）　茯苓（三錢）　附子（一錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>蓋人參原是氣分之神劑，而亦消痰之妙藥；半夏、南星雖是逐痰之神品，而亦扶氣之正藥；附子、甘草，一仁一勇，相濟而成，〔用之於三味之中，扶正必致祛邪，蕩痰必然益氣，分合而無分合之形，奇絕而有神化之妙，又不可不知也〕。</p>

<h1>上病下治、下病上治門</h1>

<h2>病在上而求諸下</h2>
<p>頭痛、目痛、耳紅、腮腫，一切上焦等症，除清涼發散正治外，人即束手無策，而不知更有三法：</p>
<p>如大便結，脈沉實者，用酒蒸大黃三錢，微下之，此名斧底抽薪之法。</p>
<p>如大便泄，脈沉，足冷者，宜六味地黃湯加牛膝、車前、肉桂；足冷甚者，加熟附子。是冷極於下，迫其浮火上升也。此名導龍入海之法。</p>
<p>大便如常，脈無力者，用車前子、牛膝行之下行，此名引火歸源之法也。</p>

<h2>病在下而求諸上</h2>
<p>凡治下焦病，用藥不效者，須從上治之：</p>
<p>如足痛、足腫，無力軟弱，膝瘡紅腫，用木瓜、薏仁、牛膝、防己、黃柏、蒼朮之品不效者，定是中氣下陷，濕熱下流，用補中益氣湯升提之。</p>
<p>如足軟不能行而能食，名曰痿症，宜清肺熱。</p>
<p>如治泄瀉，用實脾利水之劑不效者，亦用補中益氣湯去當歸，加炮薑、蒼朮；脈遲，加肉蔻、故紙。</p>
<p>如尿血，用涼血利水藥不效，用清心蓮子飲。若清心不止，再加升麻。</p>
<p>如治便血，用止澀之藥不效，或兼泄瀉，須察其脈，如右關微、或數大無力，是脾虛不攝血，宜六君子湯加炮姜。若右關沉緊，是飲食傷脾，不能攝血，加沉香二分。右寸洪數，是實熱在肺，宜清肺，用麥冬、花粉、元參、枯芩、桔梗、五味子、枳殼等味。</p>

<h1>虛勞門</h1>

<h2>勞症虛損辨</h2>
<p>二症外相似，而治法實不同。虛損者，陰陽兩虛也。勞症者，陰虛陽亢也。故虛損可用溫補；若勞症則忌溫補而用清補也。</p>
<p>兩症辨法，不必憑脈，但看人著復衣，此著單衣者，為勞症。人著單衣，此著復衣者，為虛損。勞症，骨蒸而熱；虛損，榮衛虛而熱也。</p>

<h2>過勞</h2>
<p>凡人過勞，脈必浮大不倫，〔按之無力〕，若不安閒作息，必有吐血之症。法當滋補，方用：</p>
<p>人參（三兩）　白朮（五兩）　茯苓（三兩）　熟地（五兩）　山萸（四兩）　當歸（八兩）　白芍（五兩）　黃耆（五兩）　麥冬（三兩）　五味子（三兩）　砂仁（五錢）　陳皮（五錢）　神麯（一兩）　</p>
<p>共為末，煉蜜為丸，每日早晚各服五錢。</p>
<p>〔此方乃補氣、補血、補精之妙品也。有斡旋之力，可以久服滋人，不致有偏勝之禍也。〕</p>

<h2>未成勞而將成勞</h2>
<p>〔人有虛勞，未成勞瘵之症，〕而將成勞者，方用：</p>
<p>熟地（一兩）　地骨皮（五錢）　人參（五錢）　麥冬（五錢）　白朮（一錢）　山藥（三錢）　白芥子（三錢）　五味子（三分）</p>
<p>水煎服。</p>
<p>凡人右寸脈大於左寸脈，即內傷之症。不論左右關尺脈如何，以此方投之效驗。</p>

<h2>勞病</h2>
<p>勞病既成，最難治者，蓋必有勞蟲生之，以食人之氣血也。若徒補其氣血，而不入殺蟲之品，則飲食入胃，只蔭蟲而不生氣血也。若但只殺蟲而不補氣血，則五臟盡傷，又何有生理哉？惟於大補之中，加入殺蟲之藥，則元氣既全，真陽未散，蟲死而身安矣。方用：</p>
<p>人參（三兩）　熟地（八兩）　何首烏（八兩）　地慄粉（八兩）　鱉甲（一斤）　神麯（五兩）　麥冬（五兩）　桑葉（八兩）　白薇（三兩）　山藥（一斤）</p>
<p>為末，將山藥末打成糊，為丸，每日白滾水送下五錢，半年，蟲俱從大便中出矣。</p>

<h2>久虛緩補</h2>
<p>久虛之人，氣息奄奄，無不曰宜急治矣。不知氣血大虛，驟加大補之劑，力量難任，必致胃口轉膨脹，不如緩緩清補之也。方用:</p>
<p>當歸（一錢）　白芍（二錢）　茯苓（一錢）　白朮（五分）　人參（三分）　山藥（一錢）　陳皮（三分）　麥芽（三分）　炮姜（三分）　棗仁（五分）　甘草（三分）</p>
<p>水煎服。</p>
<p>此方妙在以白芍為君，引參朮入肝為佐，小小使令，徐徐奏功，使脾氣漸實，胃口漸開，然後再用純補之劑，先宜緩補之也。</p>

<h2>補氣</h2>
<p>右手脈大，氣分之傷也。用補氣丸：</p>
<p>人參（三兩）　黃耆（三兩）　茯苓（四兩）　白朮（八兩）　白芍（三兩）　陳皮（一兩）　炙草（八錢）　麥冬（三兩）　五味子（一兩）　遠志（一兩）　白芥子（一兩）</p>
<p>蜜丸，早服五錢，白水下。</p>

<h2>補血</h2>
<p>左手脈大，血分之勞也。方用補血丸：</p>
<p>熟地（八兩）　白芍（八兩）　當歸（四兩）　山萸（四兩）　麥冬（三兩）　五味子（一兩）　砂仁（五錢）　生棗仁（一兩）　白芥子（一兩）　肉桂（五錢）</p>
<p>蜜丸，晚服一兩，白水下。</p>
<p>如血熱者，去肉桂加地骨皮五錢。</p>

<h2>血虛面色黃瘦</h2>
<p>出汗盜汗，夜臥常醒，不能潤色以養筋是也。血虛自當補血，舍四物湯又何求耶？今不用四物湯，用：</p>
<p>熟地（一兩）　麥冬（三錢）　當歸（五錢）　桑葉（十片）　枸杞（三錢）　茜草（一錢）</p>
<p>水煎服。</p>
<p>此方妙在用桑葉補陰而生血，又妙在加茜草血得活而益生，況又濟之歸、地、麥、杞大劑以共生之，〔則血足而色潤筋舒也。〕</p>

<h2>氣血兩虛</h2>
<p>飲食不進，形容枯槁，補其氣而血益燥；補其血而氣益餒；助胃氣而盜汗難止，補血脈而胸膈阻滯。法當氣血同治，方用：</p>
<p>人參（一錢）　白朮（一錢）　茯苓（二錢）　甘草（八分）　陳皮（五分）　當歸（二錢）　熟地（三錢）　川芎（一錢）　白芍（三錢）　神麯（五分）　麥冬（五錢）　穀芽（一錢）</p>
<p>水煎服。</p>
<p>此方氣血雙補，與八珍湯同功，而勝於八珍湯者，妙在補中有調和之法耳。</p>

<h2>陽虛下陷</h2>
<p>凡人因飢飽勞役，內傷正氣，以致氣乃下行，脾胃不能克化，飲食不能運化，往往變成勞瘵。</p>
<p>若疑飲食不進，為脾胃之火，肉黍之積，輕則砂仁，枳殼、山楂、麥芽之類，重則大黃、芒硝、牽牛、巴豆之品，紛然雜進，必致膨悶而漸成勞矣。倘先以提升之藥治之，何至於成勞？方用：</p>
<p>人參（一錢）　柴胡（一錢）　陳皮（一錢）　甘草（一錢）　黃耆（三錢）　當歸（三錢）　白朮（三錢）　升麻（五分）</p>
<p>水煎服。</p>
<p>凡人右手寸脈，大於左手寸脈，即內傷之症，不論左、右關、尺脈如何，以此方投之，無不神效。</p>
<p>〔此方即補中益氣湯，而增定其輕重也。此方之妙，妙在用柴胡、升麻二味，雜於參、耆、歸、術之中，以提升其至陽之氣，不使下陷陰分之間。尤妙在加甘草、陳皮於補中解紛，則補者不致另補，而升者不致偏隋，所以下口安然，奏功如響耳。〕</p>

<h2>陰虛下陷</h2>
<p>凡人陰虛脾泄，歲久不止，或食而不化，或化而溏泄，方用：</p>
<p>熟地（五錢）　山萸（五錢）　白朮（一兩）　山藥（三錢）　茯苓（三錢）　五味子（一錢）　車前子（一錢）　肉桂（一錢）　升麻（三分）</p>
<p>水煎晚服。</p>
<p>此方純是補陰之藥，且有升麻以提陰中之氣，〔陰氣升而泄自止。〕乃又有溫濕之品，以暖命門而健脾土，何致再溏泄哉？〔此乃補升陰氣之湯也。〕</p>

<h2>陰虛火動夜熱晝寒</h2>
<p>此腎水虛兼感寒，或腎水虧竭，夜熱晝寒，若認作陽症治之，則口渴而熱益熾，必致消盡陰水，吐痰如絮，咳嗽不已，聲啞聲嘶，變成勞瘵。法當峻補其陰，則陰水足而火自消，骨髓泰然矣。方用：</p>
<p>熟地（一兩）　地骨皮（三錢）　山萸（五錢）　元參（三錢）　沙參（五錢）　麥冬（五錢）　五味子（三錢）　白芥子（一錢）　芡實（五錢）　桑葉（七片）　丹皮（一錢）　車前子（一錢）</p>
<p>水煎服。</p>
<p>此方陰虛火動者神效。〔妙在全國純陰之品，直進腎宮，滋其匱乏，則焦急之形，不上焰於口舌、皮毛之際。又加元參、地骨皮、沙參、丹皮之品，少清其骨髓中之內熱，自然陰長陽消，不治陽而自安也。〕</p>

<h2>陰寒無火</h2>
<p>若陰寒無火者，方用：</p>
<p>肉桂（一錢）　附子（一錢）　熟地（一兩）　山萸（四錢）　白朮（三錢）　人參（三錢）　柴胡（五分）</p>
<p>水煎服。</p>
<p>〔此方之妙，用桂、附祛寒之藥，加之於熟地補陰之內，使陽得陰而有制，不至奔越沸騰。少加柴胡數分，則陰邪自散矣。況腎中之火，必得水而後生，以此水非邪水，乃真水也。邪水可以犯心而立死，真水可以救心而長延。蓋陽根於陰，而真陰腎水，實為君、相二火之母也。此方中加熟地、山萸，正是此意。恐人未知，故又表而出之。〕</p>
<p>〔以上〕二方，治陰之中即有以治陽，而治陽之中即藏於補陰也。</p>

<h2>亡陽</h2>
<p>如人汗出不已，此亡陽，氣欲散也，故必以補為斂之為得也。方用：</p>
<p>人參（一兩）　黃耆（一兩）　當歸（一兩）　麥冬（三錢）　五味子（一錢）　桑葉（五片）　炒棗仁（一錢）</p>
<p>水煎服。</p>
<p>〔此方之妙，全在用參、歸以補氣，用山、萸五味以斂氣，則補足以濟斂之功，而斂足以滋補之益。況又有桑葉收汗之妙品，調停於補斂之中，不偏於斂，亦不偏於補也。〕</p>

<h2>內傷發熱</h2>
<p>人病發熱，有外感，有內傷。外感必先散其邪氣，邪氣退而後補正氣，正不為邪所傷也。若內傷之發熱，方用：</p>
<p>柴胡（一錢）　當歸（一錢）　白芍（二錢）　梔子（一錢）　花粉（二錢）　陳皮（一錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>此方凡肝木鬱者，用一劑即快，〔治內傷初起者神效。〕</p>

<h2>日重夜輕</h2>
<p>病重於日間，而發寒發熱，較夜尤重，此症必須從天未明而先截之。方用：</p>
<p>人參（一錢）　白朮（五錢）　陳皮（一錢）　青皮（一錢）　柴胡（三錢）　當歸（三錢）　黃耆（五錢）　甘草（一錢）　枳殼（一錢）　乾薑（五分）　半夏（一錢）</p>
<p>水煎服。</p>
<p><u>又方：</u></p>
<p>人參（一錢）　陳皮（一錢）　甘草（一錢）　白朮（五錢）　柴胡（二錢）　熟地（一兩）　白芥子（一錢）</p>
<p>水煎服。</p>

<h2>夜重日輕</h2>
<p>病重於夜間，而發寒發熱，或寒少熱多，或熱多寒少，一到天明便覺清爽，一到黃昏即覺沉重，此陰氣虛甚也。方用：</p>
<p>熟地（一兩）　山萸（四錢）　當歸（三錢）　白芍（三錢）　柴胡（三錢）　陳皮（一錢）　鱉甲（五錢）　茯苓（五錢）　麥冬（三錢）　五味子（一錢）　白芥子（三錢）　生何首烏（三錢）</p>
<p>水煎服。</p>
<p>此方妙在用鱉甲，乃至陰之物，逢陰則入，遇陽則轉；生何首烏直入陰經，且亦攻邪；白芥子去痰又不耗真陰之氣，有不奏功者乎？但必須黃昏時服，則陰氣固而邪氣不敢入也。</p>

<h2>陰邪兼陽邪</h2>
<p>此症亦發於夜間，發寒發熱，無異純陰邪氣之症，但少少煩燥耳，不若陰症之常靜也。法當於補陰之中，少加陽藥一、二味，使陽長陰消，自然奏功如響矣。方用：</p>
<p>熟地（一兩）　山萸（四錢）　當歸（三錢）　鱉甲（五錢）　人參（二錢）　白朮（三錢）　茯苓（五錢）　麥冬（三錢）　五味子（一錢）　柴胡（二錢）　陳皮（一錢）　白芥子（三錢）　生何首烏（三錢）</p>
<p>水煎服。</p>

<h2>精滑夢遺</h2>
<p>此病人以為腎虛也，不獨腎病也，而亦心病也，宜心腎兼治。方用：</p>
<p>熟地（五兩）　山萸（四兩）　山藥（四兩）　人參（三兩）　茯苓（三兩）　白朮（四兩）　麥冬（三兩）　五味子（一兩）　肉桂（一兩）　附子（二錢）　遠志（一兩）　炒棗仁（一兩）　肉蓯蓉（三兩）　補骨脂（一兩）　巴戟天（三兩）　柏子仁（一兩）　杜仲（一兩）　砂仁（五錢）　鹿茸（一兩）　紫河東（一副）　白芍（二兩）</p>
<p>蜜丸，早晚白水送下五錢。</p>
<p>此方用熟地、山藥、山萸之類，補腎也。巴戟、蓯蓉、附子、鹿茸，補腎中之火也，可以已矣。而又必加入人參、茯苓、柏子仁、麥冬、遠志、棗仁者，何也？蓋腎中之火虛，由於心中之火虛也。徒補腎火而不補心火，則反增上焦枯渴。故欲補腎火，乃必須補心火，則水火相濟也。</p>

<h2>夜夢遺精</h2>
<p>此症由於腎水耗竭，上不能通於心，中不能潤於肝，下不能生於脾，以致玉關不閉，無夢且遺。法當補腎，而少佐以益心、益肝、益脾之品，方用：</p>
<p>熟地（一兩）　山萸（四錢）　白朮（五錢）　茯苓（三錢）　茯神（二錢）　當歸（三錢）　白芍（三錢）　薏仁（三錢）　五味子（一錢）　生棗仁（三錢）　白芥子（一錢）　肉桂（五分）　黃連（五分）</p>
<p>水煎服，一劑止，十劑不犯。</p>
<p>此方妙在五臟兼補，而使心腎兩交，自然魂魄寧而精竅閉矣。</p>

<h2>滋陰補水</h2>
<p>方用大滋陰補水丸：</p>
<p>大熟地（六兩）　炒山藥（三兩）　沙參（三兩）　茯神（三兩）　炒棗仁（三兩）　蒺藜（三兩）　麥冬（三兩）　蓮鬚（二兩）　阿膠（三兩）　牡蠣（四兩）　丹參（二兩）　敗龜板（四兩）　菟絲子（二兩）　遠志肉（錢半）　甘草（六錢）　桂元肉（一百二十個）</p>
<p>焙乾為末，煉蜜為丸，梧子大，〔每日服三十丸，米飲送下〕。</p>
<p><u>又方</u></p>
<p>魚膘一兩，搗碎，蛤粉炒，沙苑蒺藜酒洗炒，全當歸各四兩，牛膝三兩，枸杞子三兩，為末，蜜丸，〔每服黃酒送二、三錢〕。</p>

<h1>厥症門</h1>

<h2>寒、熱厥辨</h2>
<p>寒厥者，手足必青，飲水必吐，腹必痛，喜火熨之。</p>
<p>若熱厥，手足雖寒而不青紫，飲水不吐，熨則腹必痛。不可不辨也。</p>

<h2>熱厥</h2>
<p>一時手足厥逆，痛不可忍，人以為四肢、手足之風症也，不知乃心中熱蒸，外不能泄，故四肢手足則寒，而胸腹皮熱如火。方用：</p>
<p>柴胡（三錢）　當歸（二錢）　荊芥（一錢）　黃連（二錢）　炒梔子（二錢）　半夏（一錢）　枳殼（一錢）</p>
<p>水煎服，二劑愈。</p>
<p>〔蓋厥症多是火病，厥之甚則熱之甚也。故舒其內熱，而四肢手足自溫矣。方中妙在用柴胡為君，諸寒涼之藥，直入心、肝之內，又不凝滯於胸膈之間。蓋柴胡能散半表半裡之邪，又善淺祛鬱悶之氣，故不治四肢手足，而專治其心胸也。〕</p>
<p><u>又方：</u></p>
<p>白芍（一兩）　炒梔子（三錢）　陳皮（一錢）　柴胡（一錢）　天花粉（二錢）</p>
<p>水煎服。</p>
<p>此方以白芍為君，取其入肝而平木也。</p>

<h2>寒厥</h2>
<p>〔厥症雖多是火，然亦有非火厥者，乃直中陰經也。陰寒直入於腎宮，則必挾腎水上犯心君之火，若不急用大熱之藥，急救心君，則危亡頃刻。〕方用：</p>
<p>人參（三錢）　白朮（一兩）　附子（一錢）　肉桂（一錢）　吳茱萸（一錢）</p>
<p>水煎服。</p>

<h2>屍厥</h2>
<p>〔如人死厥，不省人事，中風不語，或中邪卒倒，此等之病，乃邪氣中之，痰迷心竅也。怪病多起於痰，不必驚惶，治其痰而病自愈。然而「邪之所湊，其氣必虛」，用祛痰之藥加入於補正之中，則病去如掃，死者重生。雖同是中邪，乃有陽邪、陰邪之分。〕</p>

<h2>陽邪屍厥</h2>
<p>此症乃痰厥，方用：</p>
<p>人參（三錢）　白朮（五錢）　茯苓（三錢）　半夏（三錢）　南星（三錢）　白芥子（一錢）　附子（五分）　生薑（一塊，搗汁）水、酒各一半，煎服。</p>
<p>屍厥又方：</p>
<p>蒼朮三兩，水煎灌之必吐，吐後即愈。蓋蒼朮陽藥，善能祛風，故有奇效。凡見鬼神用之更效。</p>

<h2>陰邪屍厥</h2>
<p>此症乃氣虛也，方用：</p>
<p>人參（一兩）　白朮（五錢）　茯苓（五錢）　半夏（五錢）　陳皮（五分）　菖蒲（一錢）</p>
<p>水煎服。</p>
<p>按：《方論》、《男科》中均無，據《石室秘錄》「死治法」補。此方乃六君子湯去甘草、加菖蒲之變方也。</p>

<h2>厥症</h2>
<p>人有忽然發厥，閉目撒手，喉中有聲，有一日死者，有二、三日死者。此厥多犯神明，然亦素有痰氣而發也。治宜攻痰而開心竅，方用起迷湯：</p>
<p>人參（五錢）　半夏（五錢）　菖蒲（二錢）　菟絲子（一兩）　茯神（三錢）　皂夾（一錢）　生薑（一錢）　甘草（三分）</p>
<p>水煎服。</p>

<h2>氣虛猝倒</h2>
<p>凡人猝然昏倒，迷而不悟，喉中有痰，人以為風也，誰知是氣虛乎？若作風治，未有不死者。蓋因平日不慎女色，精虧以致氣虛，又加不慎起居，而有似乎風者，其實非風也。方用：</p>
<p>人參（一兩）　黃耆（一兩）　白朮（一兩）　茯苓（五錢）　半夏（三錢）　白芥子（三錢）　菖蒲（二錢）　附子（一錢）</p>
<p>水煎服。</p>
<p>此方補氣而不治風，消痰而不耗氣，一劑神定，二劑痰清，三劑痊愈。</p>

<h2>陰虛猝倒</h2>
<p>此症有腎中之水虛，而不上交於心者；又有肝氣燥，不能生心之火者；此皆陰虛，而能令人猝倒者也。方用再蘇丹：</p>
<p>熟地（二兩）　山萸（一兩）　元參（一兩）　柴胡（一錢）　麥冬（一兩）　五味子（一兩）　茯苓（一兩）　菖蒲（一錢）　白芥子（三錢）</p>
<p>水煎服。</p>
<p>此方補腎水，滋肺氣，安心通竅，瀉火散痰，實有神功。一方茯苓為五錢，十劑可愈。</p>

<h2>陽虛猝倒</h2>
<p>人有心中火虛，不能下交於腎而猝倒者，陽虛也。方用全生湯：</p>
<p>人參（一兩）　白朮（一兩）　茯神（五錢）　甘草（一錢）　生半夏（三錢）　生棗仁（一兩）　附子（三錢）</p>
<p>水煎服。</p>
<p>藥下喉則痰靜而氣出矣。連服數劑，則安然如故。</p>

<h2>胃熱猝倒</h2>
<p>又有胃熱，不能安心之火而猝倒者，亦陽虛也。方用：</p>
<p>人參（一兩）　元參（一兩）　生石膏（五錢）　天花粉（五錢）　麥冬（三錢）　菖蒲（一錢）</p>
<p>水煎服。</p>
<p>一劑心定，二劑火清，三劑痊愈。</p>

<h2>腎虛猝倒</h2>
<p>人有口渴索飲，眼紅氣喘，心脈洪大，舌不能言，不可作氣虛治，此乃腎虛之極，不能上滋於心，心火亢極，自焚悶亂，遂致身倒，有如中風也。法當補腎，而佐以清火之藥，方用水火兩治湯：</p>
<p>熟地（一兩）　山萸（五錢）　當歸（一兩）　生地（五錢）　元參（一兩）　麥冬（五錢）　五味子（三錢）　茯神（五錢）　黃連（三錢）　白芥子（三錢）</p>
<p>水煎服，連服數劑而愈。</p>

<h2>大怒猝倒</h2>
<p>人有大怒跳躍，忽然臥地，兩臂抽搦，口眼歪邪，左目緊閉，此乃肝火血虛，內熱生風之症，當用八珍湯加丹皮、鉤藤、山梔。</p>
<p>若小便自遺，左關脈弦、洪而數，此肝火血燥，用六味（地黃）湯加鉤藤、麥冬、五味子、川芎、當歸。愈後須改用補中益氣湯，加丹皮、山梔、鉤藤，多服。</p>
<p>如婦人得此症，服逍遙散加鉤藤及六味地黃丸，最效。</p>

<h2>中風不語</h2>
<p>凡人跌倒昏迷，或自臥而跌在床下，〔或中風不語者，〕，此皆正氣虛而痰邪犯之也，〔似宜治邪為是。然而「邪之所湊，其氣必虛」，急宜固其正氣，而少佐以祛痰之藥，〕方用三生飲：</p>
<p>人參（一兩）　生半夏（三錢）　生南星（三錢）　生附子（一個）</p>
<p>水煎，急灌之。</p>
<p>此症又有因腎虛而得之者。夫腎主藏精，立下焦地道之生育，沖、任二脈系焉。二脈與腎之大絡，同出於腎之下，起於胞胎之中，其衝脈因稱胞絡，為經脈之海，遂名海焉。衝脈之上行者，滲諸陽，灌諸經；下行者，滲諸陰，灌諸絡，而溫肌肉，別經絡，結於跗。</p>
<p>因腎虛，而腎絡與胞內絕，不通於上則瘖，腎脈不上循喉嚨挾舌本，則不能言。二絡不通於下，則痱厥矣。六用地黃引子：</p>
<p>熟地（一兩）　巴捷（一兩）　山萸（一兩）　茯苓（一兩）　麥冬（一兩）　五味子（五錢）　石斛（六錢）　肉蓯蓉（一兩）　菖蒲（五錢）　附子（五錢）　肉桂（三錢）　加薄荷、薑、棗。</p>
<p>水煎服。</p>

<h2>口眼歪邪</h2>
<p>此症人多治木、治金固是，而不知胃土之為尤切。當治胃土，且有經、脈之分。</p>
<p>經云：「足陽明之經，急則口目為僻，眥急不能視」，此胃土之經為歪邪也。又云：「足陽明之脈，挾口環唇，口歪唇邪」，此胃土之脈為歪邪也。</p>
<p>二者治法，皆當用：</p>
<p>黃耆　當歸　人參　白芍　甘草　桂枝　升麻　葛根　秦艽　白芷　防風　黃柏　蘇木　紅花</p>
<p>水、酒各半煎，微熱服。如初起有外感者，加蔥白三莖同煎，取微汗自愈。</p>

<h2>又口眼歪斜</h2>
<p>〔人病口眼歪斜，人以為胃中之痰，不知非也。〕乃心中虛極，不能運於口目之間，輕則歪斜，重則不語。方用：</p>
<p>人參（三錢）　白朮（五錢）　茯苓（三錢）　甘草（一錢）　當歸（一兩）　白芍（三錢）　菖蒲（三錢）　肉桂（二錢）</p>
<p>水煎服。</p>
<p>一劑少愈，二劑痊愈。〔此方之妙，全不去祛風祛邪，一味補正，而歪斜自愈矣。〕</p>

<h2>半身不遂</h2>
<p>此症宜於心、胃而調理之。蓋心為天真。神機開發之本；胃是後腑，充大真氣之標。標本相得，則心膈開之，膻中、氣海，所留宗氣盈溢，分布五臟、三焦，上下中外，無不周遍。</p>
<p>若標本相失，則不能致其氣於氣海，而宗氣散矣。故分布不周於經脈則偏枯；不周於五臟則瘖。即此言之，未有不因真氣不周而病者也。</p>
<p>法宜用黃耆為君，參歸、白芍為臣，防風、桂枝、鉤藤、竹瀝、薑汁、韭汁、葛汁、梨汁、乳汁為佐使，治之而愈。</p>
<p>若雜投烏附、羌活之類，以涸榮而耗衛，如此死者，是醫殺之也。</p>

<h2>半身不遂口眼歪邪</h2>
<p>方用：</p>
<p>人參（五錢）　白朮（五錢）　當歸（五錢）　黃耆（一兩）　半夏（三錢）　乾葛（三錢）　桂枝（錢半）　紅花（二錢）　甘草（一錢）　水（二樽）　姜（三片）　棗（二枚）</p>
<p>煎服。</p>
<p>此症人多以風藥治之，殊不見功。此藥調理氣血、故無不效。</p>

<h2>癇症</h2>
<p>〔羊癲之症〕，忽然臥倒，作羊馬之聲，口中吐痰如湧者，乃痰迷心竅也。蓋因寒而成，感寒則發也。方用：</p>
<p>人參（三錢）　白朮（一兩）　茯神（五錢）　山藥（三錢）　薏仁（五錢）　肉桂（一錢）　附子（一錢）　半夏（三錢）</p>
<p>水煎服。</p>
<p>（此方助其正氣以生心血，又加桂附以祛寒邪；加半夏以消痰，逐去其水，自然氣回而癲止也。一劑痊愈，永不再發，幸珍視之。）</p>
<p><u>又方：</u></p>
<p>人參（一兩）　茯神（一兩）　白朮（五錢）　半夏（一錢）　南星（一錢）　附子（一錢）　柴胡（一錢）　菖蒲（三分）</p>
<p>水煎服。</p>
<p>此本治寒狂之方，治癇亦佳。</p>
<p><u>又方：</u></p>
<p>人參（三兩）　白朮（五兩）　甘草（一兩）　陳皮（三錢）　生南星（一兩）　半夏（一兩）　附子（一錢）</p>
<p>蜜丸，須病發前服之，則永不再發矣。〔蓋健其胃氣，自不生痰。況又佐之祛痰斬關之將，以此方治之自愈。〕</p>

<h1>癲狂門</h1>

<h2>癲狂</h2>
<p>此症多生於脾胃之虛寒，飲食入胃，不變精而變痰，痰迷心竅，遂成癲狂。苟徒治痰而不補氣，未有不速之死者也。方用：</p>
<p>人參（五錢）　白芥子（五錢）　白朮（一兩）　半夏（三錢）　陳皮（二錢）　肉桂（一錢）　乾薑（一錢）　甘草（五分）　菖蒲（五分）</p>
<p>水煎服。</p>
<p>如女人得此症，去肉桂，加白芍一兩、柴胡二錢、黑梔子一錢，治之最神效。</p>

<h2>發狂見鬼</h2>
<p>〔凡人有病發狂見鬼，此正氣虛而邪氣犯之也，似宜正治邪氣為是。然而「邪之所湊，其氣心虛」，不治其虛，安問其餘？此所以急宜因其正氣，而少佐以祛寒祛邪之藥為妙。〕方用：</p>
<p>人參（一兩）　白朮（一兩）　半夏（三錢）　天南星（三錢）　附子（一錢）</p>
<p>水煎服。</p>
<p>〔發狂見鬼，明是虛而痰中之，用半夏、南星、附子以祛痰，不用人參、白朮之多，何以並駕齊驅而成功載？此方之妙，不特發狂見鬼，而治中風不語，卒倒不知人，亦神妙之極。蓋氣虛而後始中痰也。〕</p>

<h2>發狂不見鬼</h2>
<p>此症是內熱之症，方用：</p>
<p>人參（三錢）　白芍（三錢）　半夏（三錢）　南星（二錢）　白芥子（一錢）　陳皮（一錢）　黃連（二錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>〔此方妙在用黃連，蓋厥深熱益深，去其熱則厥自定。黃連入心，引諸補心之味，同群共濟，或補或瀉，中正之意也。〕</p>

<h2>熱狂</h2>
<p>此症有因傷寒得之者，一時之狂也，可用白虎湯以瀉其火。更有終年狂而不愈者，或拿刀殺人，或詈罵人，不認兒女，見水大喜，見食大惡，此心氣之虛，而熱邪乘之，痰氣侵之也，方用化狂湯：</p>
<p>人參（一兩）　白朮（一兩）　茯神（一兩）　附子（一分）　半夏（三錢）　菟絲子（三錢）　菖蒲（三錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>一劑狂定。此方妙在補心、脾、胃三經，化其痰而不去瀉火。蓋瀉火則心氣益傷，而痰涎益盛，狂何以止乎？尤妙微用附子，引補心消痰之品，直入心中，則氣易補而痰易消，又何用瀉火之多事哉？</p>

<h2>寒狂</h2>
<p>凡發狂罵人，不口渴，索引與水不飲者，寒症之狂也。此必氣鬱不舒，怒氣未泄，其人平日定懦弱不振耳。〔治之法，宜祛痰為主，而佐以補氣之藥，〕方用：</p>
<p>人參（一兩）　白朮（五錢）　茯神（一兩）　半夏（一錢）　南星（一錢）　附子（一兩）　柴胡（一錢）　菖蒲（三分）</p>
<p>水煎服。</p>
<p>（此方之妙，全在補氣，而不十分祛痰，寒症發寒，與癇症同治，加入附子以消其寒氣，菖蒲引藥入心經，自然下喉熟睡，病如失矣。方中再加柴胡，以舒其木旺之鬱氣，尤易奏功耳。）</p>

<h1>怔忡驚悸門</h1>

<h2>怔忡不寐</h2>
<p>〔心經之病，怔忡不寐，乃心血少也。〕方用：</p>
<p>人參（三錢）　丹皮（二錢）　茯神（三錢）　麥冬（三錢）　五味子（一錢）　當歸（三錢）　生棗仁（五錢）　熟棗仁（五錢）　菖蒲（一錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>此方妙在用生、熟棗仁〔各五錢〕，生使其日間不臥，熟使其夜間不醒；又以補心之藥為佐，而怔忡安矣。</p>

<h2>心驚不安夜臥不睡</h2>
<p>〔人非心不能寧靜致遠，非腎不能作強生育。故補心即當補腎，補腎即當補心，是二經乃一身之主宰，臟腑之根本也。故人病心驚不安，或夜臥不睡者，人以為心病也，誰知非心病，乃腎病也。然則欲安心者先治腎，欲治腎者當治心。〕方用：</p>
<p>人參（三兩）　茯苓（三兩）　茯神（三兩）　遠志（二兩）　生棗仁（一兩）　熟地（三兩）　山萸（三兩）　當歸（三兩）　菖蒲（三錢）　黃連（五錢）　肉桂（五錢）　白芥子（一兩）　麥冬（三兩）　砂仁（五錢）</p>
<p>蜜丸，每日送下五錢，湯，酒俱可。</p>
<p>此方治心驚不安與不寐耳，用人參、茯神、當歸、麥冬足矣。即為火起不寐，亦不過加黃連足矣。何以反用熟地、山萸補腎之藥，又加肉桂以助火？不知人之驚恐者，乃腎氣不入於心也；不寐者，乃心氣不歸於腎也。今用熟地，山萸補腎，則腎氣可上通於心矣。肉桂以補命門之火，則腎氣既溫，相火有權，〔則心氣下行〕，君火相得，自然上下同心，君臣合德矣。</p>
<p>然補腎固是，而亦不可徒補其腎也。亦有肝氣不上於心易成此症者，如果有之，宜再加白芍二兩，以兼補肝木，斯心泰然矣。</p>

<h2>恐怕症</h2>
<p>夫人夜臥交睫，則夢爭鬥，負敗恐怕之狀難以形容〔者〕，人以為心病也，誰知是肝病乎？蓋肝藏魂，肝血虛則魂失養，故交睫則若魘，乃肝膽虛怯，故負恐維多，此非竣補，不克奏功。而草木之品，不堪任重，乃以酒化鹿角膠，空心服之可痊。蓋鹿角膠峻補精血，血旺則神自安矣。</p>

<h2>神氣不寧</h2>
<p>人有神氣不寧，每臥則魂飛揚，覺身在床而魂離體也，驚悖多魘，通夕無寐，人以為心病也，誰知是肝經受邪乎？蓋肝氣一虛，邪氣襲之，肝藏魂則魂無依，是以魂飛揚而若離體也。</p>
<p>此症當用珍珠母為君，龍齒佐之。珍珠母入肝為第一，龍齒與肝同類也。龍齒、虎睛，令人例以為鎮心之藥，不知龍齒安魂，虎睛定魄也。東方蒼龍，木也，屬肝而藏魂，西方白虎，金也，屬肺而藏魄。龍能變化，故魂遊而不定；虎能專靜，故魄止而有守。</p>
<p>是以治魄不寧，宜虎睛；治魂飛揚。宜龍齒；藥各有當也。</p>

<h1>痰嗽門</h1>

<h2>治痰之法</h2>
<p>古人所立治痰之法，皆是治痰之標，而不能治痰之本也。如二陳湯上中下久暫之痰皆治之，而其實無實效也。今立三方，痰病總不出其範圍也。</p>

<h2>初病之痰</h2>
<p>傷風、咳嗽、吐痰是也。方用：</p>
<p>半夏（一錢）　陳皮（一錢）　天花粉（一錢）　茯苓（一錢）　蘇子（一錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>二劑而痰可消矣。此方去上焦之痰，上焦之痰，原在胃中而不在肺，去其胃中之痰，而肺金自然清肅，又何至火之上升哉？</p>

<h2>已病之痰</h2>
<p>必觀其色之白與黃而辨之：黃者，火將退也。白者，火正熾也。正熾者，用寒涼之品，將退者，用祛逐之味。今一方而俱治，方用：</p>
<p>白朮（三錢）　茯苓（五錢）　陳皮（一錢）　甘草（一錢）　白芥子（三錢）　枳殼（五分）</p>
<p>水煎服。</p>
<p>有火加梔子，無火不必加也。此方健脾去濕，治痰在中焦者也。</p>
<p><u>又方：</u></p>
<p>白朮（五錢）　茯苓（五錢）　薏仁（五錢）　陳皮（一錢）　天花粉（二錢）　益智仁（三分）　人參（三分）</p>
<p>水煎服。</p>
<p>有火加黃芩一錢，無火加乾薑耶、甘草二分。此方健脾去濕而不耗氣，二劑而痰自消也。</p>

<h2>久病之痰</h2>
<p>久病之痰，切不可作脾濕生痰論之。蓋久病不愈，未有不因腎水虧損者也。非腎水泛上為痰，即腎火沸騰為痰。當補腎以祛逐之，方用：</p>
<p>熟地（一兩）　山萸（五錢）　薏仁（一兩）　山藥（五錢）　芡實（五錢）麥冬（五錢）　五味子（三錢）　茯苓（三錢）　車前子（一錢）　益智仁（二錢）</p>
<p>水煎服。</p>
<p>此治水泛為痰之聖藥也。若火沸為痰者，加肉桂一錢。此方補腎去濕而化痰，水入腎宮，自變為真精而不化痰矣。此治下焦有痰之法也。</p>
<p><u>又方：</u></p>
<p>久病之痰，方用六味地黃湯加麥冬、五味子，實有奇功。無火加附子、肉桂可耳。</p>

<h2>滯痰</h2>
<p>夫痰之滯，乃氣之滯也。苟不補氣而惟去其痰，未見痰去而病消也。方用：</p>
<p>人參（一錢）　白朮（二錢）　茯苓（三錢）　陳皮（一錢）　白芥子（一錢）　花粉（一錢）　蘇子（八分）　豆蔻（三粒）</p>
<p>水煎服。</p>
<p>〔此方之妙，在於治痰之中而理其氣。氣順則痰活，氣順則濕流而痰不生矣。此氣治之宜知。〕</p>

<h2>濕痰</h2>
<p>〔氣虛痰多之症，本是濕也。而〕治痰之法，不可徒去其濕，必以補氣為先，而佐以化痰之品，乃克有效。方用：</p>
<p>人參（三錢）　茯苓（三錢）　薏仁（五錢）　半夏（三錢）　陳皮（一錢）　神麯（一錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>此方之中用神麯，人多不識其意，謂神麯乃消食之聖藥，非化痰之神品也。殊不知痰之積聚稠黏，甚不易化，惟用神麯以發之，則積聚稠黏開矣。繼之以半夏、陳皮，可以奏功。雖然有半夏、陳皮消痰。不多用人參，則痰何從消？有人參以助氣，又有薏仁，茯苓能健脾去濕，濕去而痰亦去矣。</p>

<h2>寒痰</h2>
<p>人有氣虛而痰寒者，即用前方加肉桂三錢、乾薑五分足矣。</p>

<h2>熱痰</h2>
<p>人有氣虛痰熱者，方用：</p>
<p>麥冬（二錢）　白芍（二錢）　花粉（一錢）　甘草（一錢）　陳皮（一錢）　白芥子（一錢）　茯苓（二錢）　神麯（三分）　當歸（三錢）</p>
<p>水煎服。</p>
<p>〔此方之妙，妙在不燥而又是補氣之劑，潤以化痰，痰去而氣自足矣。〕。</p>

<h2>火痰</h2>
<p>此症方用痰火神丸：</p>
<p>大黃（五兩）　陳皮（一兩）　焦白朮（二兩）　前胡（二兩）　枳殼（二兩）　山楂（二兩）　甘草（四錢）　半夏（二兩）　天花粉（二兩）</p>
<p>製半夏法：生薑自然汁泡之，三次用姜三兩取汁，滾水半碗入半夏內，一次泡七天，取出焙乾。共為細末，老米煮粥，搗爛為丸，每服二、三錢。</p>

<h2>老痰</h2>
<p>凡疾在胸膈不化者，為老疾也。方用：</p>
<p>白芥子（五錢）　白芍（三錢）　薏仁（五錢）　柴胡（一錢）　茯苓（三錢）　陳皮（三分）　丹皮（二錢）　甘草（一錢）　花粉（八分）</p>
<p>水煎服。</p>
<p>此方妙在白芥子為君，薏仁、白芍為臣，柴胡、花粉為佐，使老痰無處可藏，（自然漸漸消化，十劑而老痰無不消矣）</p>

<h2>頑痰</h2>
<p>痰成塊而塞咽喉者，為頑痰也。方用：</p>
<p>貝母（三錢）　半夏（三錢）　茯苓（三錢）　白朮（三錢）　神麯（三錢）　甘草（一錢）　桔梗（三錢）　白礬（一錢）　紫菀（二錢）</p>
<p>水煎服。</p>
<p>此方妙在貝母、半夏同用，一燥一濕，使痰無處藏避。又有白礬以消塊，梗、菀去邪，甘草調中，有不奏功〔如響〕者乎？</p>

<h2>水泛為痰</h2>
<p>腎中之水，有火則安，無火則泛。倘人過於入房，則水去而火亦去，久之則水虛而火亦虛；水無可藏之地，則上泛而為痰矣。治之法，欲抑水之下降，必先使火之下溫，當於補腎水之中，加火熱之藥，使水足以制火，而火足以暖水，則水火有既濟之道，自不上泛為痰矣。方用：</p>
<p>熟地（一兩）　山萸（五錢）　肉桂（二錢）　五味子（一錢）　牛膝（三錢）</p>
<p>水煎服。</p>
<p>一劑而痰下行，二劑而痰無不消矣。</p>
<p><u>又方：</u></p>
<p>凡人久有痰而不愈，用豬肺一個，蘿蔔子五錢，研碎，白芥子一兩，五味調和，飯鍋蒸熟，飯後頓服一個即愈。此乃治上焦之痰，湯藥不愈者，最神效。</p>

<h2>濕嗽</h2>
<p>秋傷於濕，若用烏梅、米殼，斷乎不效。方用：</p>
<p>白朮（三錢）　陳皮（一錢）　當歸（一錢）　甘草（一錢）　枳殼（一錢）　桔梗（一錢）</p>
<p>水煎服。</p>
<p>三劑安然矣。冬咳皆秋傷於濕也，豈可拘於受寒乎？</p>

<h2>久嗽</h2>
<p>〔久嗽者，人無不以為邪之聚也。日日用發散之劑而不效者，乃氣散故耳。氣散矣而仍用散藥，無怪乎經年累月而不效也。法當用收斂之藥一、二味以見功也。方用：〕</p>
<p>人參（五錢）　白芍（三錢）　生棗仁（一錢）　五味子（一錢）　白芥子（一錢）　蘇子（一錢）　麥冬（五錢）　益智仁（五分）</p>
<p>水煎服。</p>
<p>二劑後，服六味地黃丸加麥冬三兩、五味子一兩，服之不再發，否則不能保其不發也。</p>

<h2>久嗽</h2>
<p>治久嗽，不論老少，神效。方用：</p>
<p>烏梅（五錢）　栝蔞仁（五錢）　杏仁（一錢）　硼砂（一錢）　人參（一錢）　（童便浸）　五味子（一錢）　寒水石（一錢）　胡桃仁（一錢）　薄荷（五分）　甘草（五分）　貝母（三兩）</p>
<p>蜜丸，櫻桃大，淨綿包之，口中噙化。虛勞未曾失血，脈未數者，均可用之，不過十粒即見效，二十粒愈。</p>

<h2>又久嗽</h2>
<p>人參、當歸、細茶各一錢，水煎，連渣嚼盡，一、二服即愈。</p>

<h2>肺嗽兼補腎</h2>
<p>肺嗽之症，本是肺虛，其補肺也明矣，奈何兼亦腎乎？蓋肺經之氣，夜必歸於腎。若肺金為心火所傷，必求救於其子，子若力量不足，將何以救其母哉？方用：</p>
<p>熟地（一兩）　麥冬（一兩）　山萸（四錢）　元參（五錢）　蘇子（一錢）　牛膝（一錢）　沙參（三錢）　天冬（一錢）　紫菀（五分）</p>
<p>水煎服。</p>
<p>〔此方之妙，全在竣補腎水，而少清肺金，則子盛於母，而母仇可報也。況又有祛邪之品，用之得宜，全不耗散肺金，外邪退舍，不敢重犯，此肺腎同治之法也。〕</p>

<h1>喘症門</h1>

<h2>氣治法</h2>
<p>氣虛、氣實，不可不平之也。氣實者，非氣實乃正氣虛而邪氣實也。法當用補氣之藥，而加祛逐之品，則正氣足而邪氣消矣。方用：</p>
<p>人參（一錢）　白朮（一錢）　甘草（一錢）　麻黃（一錢）　半夏（一錢）　柴胡（三錢）　白芍（三錢）</p>
<p>水煎服。</p>
<p>推而廣之，治氣非一條也。氣滔：補中益氣湯可用；氣衰：六君子湯可採；氣寒：人參白朮附子湯可施；氣虛：則用四君湯；氣鬱：則用歸脾湯；氣熱：則用生脈散；氣喘：則用獨參湯；氣動：則用二陳湯加人參，氣塞：則用射干湯；氣逆：則用逍遙散。</p>
<p>氣虛則羸弱，氣實則壯盛。氣虛用前方，氣實用另一方：</p>
<p>枳殼（五分）　白朮（一錢）　陳皮（五分）　茯苓（三錢）　甘草（一錢）　柴胡（一錢）　白芍（二錢）　梔子（一錢）　山楂（十個）</p>
<p>水煎服。</p>

<h2>氣喘</h2>
<p>凡人氣喘而上者，人以為氣有餘也，殊不知氣盛當作氣虛看，有餘認作不足看。若認作肺氣之盛，而錯用蘇葉、桔梗、百部、山豆根之類，則去生遠矣。方用：</p>
<p>人參（一兩）　牛膝（三錢）　熟地（五錢）　山萸（四錢）　枸杞（一錢）　麥冬（五錢）　五味子（一錢）　胡桃肉（三個）　生薑（五片）</p>
<p>水煎服。</p>
<p>此方不治肺，而正所以治肺也。或疑人參乃健脾之藥，既宜補腎，則不宜多用人參。不知腎水大虛，一時不能遽生，非急補其氣，則元陽一錢，必且斷絕。況人參少用則泛上，多用即下行。妙在用人參兩許，使下達病源，補氣以生腎水。方中熟地、山萸之類，同氣相求，直入命門，又何患其多哉？若病重之人，尤宜多加，一兩尚欠少也。</p>
<p>但喘有初起之喘，有久病之喘。初起之喘多實邪，久病之喘多氣虛。實邪喘者必抬肩，氣虛喘者微微氣急耳。</p>
<p>此方治久病之喘方也。若初病之喘，四磨，四七湯，一劑即止。蓋喘不獨肺氣虛，而腎水〔亦〕竭也。</p>

<h2>氣短</h2>
<p>此症似喘而實非喘也，若作實喘治之，則立死矣。蓋氣短乃腎氣虛耗，氣衝於上焦，壅塞於肺經，症似有餘而實為不足也。方用：</p>
<p>人參（二兩）　麥冬（五錢）　五味子（二錢）　牛膝（三錢）　熟地（一兩）　山萸（三錢）　破故紙（三錢）　枸杞（三錢）　胡桃肉（三個）</p>
<p>水煎服。</p>
<p>三劑氣平而喘定矣。此方妙在用人參之多，能下達氣原，挽回於無何有之鄉。其餘純是補肺、補腎之品，子母相求，水氣自旺，則火氣自安於故宅，不上衝於咽門，此治氣短之妙法也。</p>

<h2>實喘</h2>
<p>凡實喘之症，氣大急，喉中必作聲，肩必抬起，此症若重而實輕也。方用：</p>
<p>黃芩（二錢）　麥冬（三錢）　柴胡（一錢）　蘇葉（一錢）　烏藥（一錢）　半夏（一錢）　山豆根（一錢）　甘草（五分）</p>
<p>水煎服。</p>
<p>一劑喘定，不必再劑也。</p>

<h2>虛喘</h2>
<p>此症氣少息而喉無聲，肩不抬也。此乃腎氣大虛，脾氣又復將絕，故奔沖而上，欲絕未絕也。方用救絕止喘湯：</p>
<p>人參（一兩）　熟地（一兩）　山萸（三錢）　牛膝（一錢）　麥冬（五錢）　五味子（一錢）　白芥子（一錢）</p>
<p>水煎服。</p>

<h2>抬肩大喘</h2>
<p>人忽感風邪，寒入於肺，以致喘急、肩抬氣逆，痰吐不出，身不能臥，方用：</p>
<p>柴胡（二錢）　茯苓（二錢）　麥冬（二錢）　桔梗（二錢）　當歸（二錢）　黃芩（一錢）　射干（一錢）　半夏（一錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>此方妙在用柴胡、射干、桔梗，以發舒肺金之氣，用半夏以去痰，用黃芩以去火。但外感寒邪，內必變為熱症，故用黃芩以清解之。然徒用黃芩，雖曰清火，轉足以抑遏其火氣，而火未必伏也。有柴胡、射干、桔梗一派辛散之品，則足以消火滅邪矣。</p>

<h2>腎寒氣喘</h2>
<p>凡人氣喘〔而〕不能臥，吐痰如湧泉者，舌不燥而喘不止，一臥即喘，此非外感之寒邪，乃腎中之寒氣也。蓋腎中無火，則水無所養，乃泛上而為痰，方用六味地黃湯加肉桂、附子、大劑飲之。蓋人之臥，必肺氣與腎氣相安，而居河車之路，平安而無奔越也。</p>

<h2>腎火扶肝上衝</h2>
<p>凡人腎火之逆，扶肝氣而上衝，以致作喘，甚有吐紅粉痰者，此〔乃〕腎火炎上以燒肺金，肺熱不能克肝，而龍雷之火升騰矣。龍雷火，相火也。方用：</p>
<p>地骨皮（一兩）　沙參（一兩）　丹參（三錢）　麥冬（五錢）　白芍（五錢）　白芥子（二錢）　桔梗（五分）　甘草（三分）</p>
<p>水煎服。</p>
<p>此方妙在地骨皮清骨髓中之火，沙參、丹皮以養陰，白芍平肝，麥冬清肺，甘草、桔梗引入肺經，則痰喘除而氣喘定矣。</p>

<h2>喘嗽</h2>
<p>人有喘而嗽者，人以為氣虛而有風痰也，誰知是氣虛不能歸源於腎，而肝木挾之作，祟乎？法當峻補其腎，少助以引火之品，則氣自歸源於腎，而喘嗽自止矣。方用：</p>
<p>人參（一兩）　熟地（二兩）　麥冬（五錢）　五味子（一錢）　牛膝（一錢）　枸杞（一錢）　菟絲子（一錢）　茯苓（三錢）　白朮（一錢）</p>
<p>水煎服。</p>
<p>連服幾劑，必有奇功。倘以四磨、四七湯治之，必不效矣。</p>

<h2>假熱氣喘吐痰</h2>
<p>人有假熱氣喘吐痰者，人以為熱，而非熱也，乃下元寒極，逼其火而上喘也。此最危急之症，苟不急補其腎與命門之火，則一線之微，必然斷絕。方用：</p>
<p>熟地（四兩）　山藥（三兩）　麥冬（三兩）　五味子（一兩）　牛膝（一兩）　附子（一錢）　肉桂（一錢）</p>
<p>水煎冷服，一劑而愈。</p>

<h2>貞元飲</h2>
<p>喘而脈微澀者：</p>
<p>熟地（三兩）　當歸（七錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>婦人多有此症。</p>

<h1>吐血及血門</h1>

<h2>論治血宜順性</h2>
<p>凡人出血，乃血病不肯歸經，或上或下，或四肢皮毛，各處出血者是也。血循經絡，外行於皮毛，中行於臟腑，內行於筋骨，上行於頭月、兩手，下行於二便、兩足、一臍，固身無非血路，一不歸經，自然各處妄行，有孔則鑽，有洞則泄，甚者嘔吐，或見於皮毛，或出於齒縫，或滲於臍腹，或露於二便，皆宜順其性而引之歸經。方用：</p>
<p>熟地（五錢）　生地（五錢）　當歸（三錢）　白芍（三錢）　川芎（一錢）　黑荊芥（一錢）　茜草（一錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>此方即加味四物湯，妙在用茜草、〔荊芥〕，引血歸經，〔不拂亂其性，則血自歸經，各不相犯矣。〕。</p>

<h2>陽症吐血</h2>
<p>凡人感傷暑氣，忽然吐血盈盆，人以為陰虛也，不知陰虛吐血與陽虛不同。</p>
<p>陰虛吐血者，人安靜，不似陽虛之燥動不寧也。</p>
<p>陽虛必大熱作渴，欲飲涼水，舌必有刺，不似陰虛之口不渴而舌滑也。法當清胃火，不必止血也。方用：</p>
<p>生石膏（三錢）　青蒿（五錢）　香薷（三錢）　荊芥（一錢）　當歸（三錢）　人參（三錢）</p>
<p>水煎服。</p>
<p>此方乃陽症吐血之神劑也。方中雖有解暑之味，然而補正多於解暑，去香薷一味，實可通治〔諸陽症之吐血也。〕但此方止可用一、二劑，即宜改用六味地黃湯，〔以滋其陰水，水足則陽火自消耳。〕</p>

<h2>血不歸經吐血</h2>
<p>此症吐血，人以為火盛，用涼藥以瀉火，乃火愈盛而血愈多；或用止血之品仍不效〔者〕，誰知是血不歸經乎？治法當用補氣之藥，而佐以引血歸經之味，不止血而自止矣。方用：</p>
<p>人參（五錢）　當歸（一兩）　炒丹皮（三錢）　炒荊芥（三錢）</p>
<p>水煎服。</p>
<p>一劑而血無不止者。此方妙在不專補血，而反去補氣以補血；尤妙在不去止血，而去行血以止血。蓋血逢寒則凝結而不行，逢散則歸經而不逆，救死於呼吸之際，實大有奇功。</p>

<h2>大怒吐血</h2>
<p>有大怒後吐血，或傾盆而出，或沖口而來，一時昏暈，死在頃刻也。以止血治之，則氣悶而不安；以補血治之，則胸滿而不受；有變症蜂起而死者，不可不治之得法也。方用解血平氣湯，</p>
<p>白芍（二兩）　當歸（二兩）　炒荊芥（三錢）　黑梔子（三錢）　柴胡（八分）　紅花（二錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>一劑而氣平舒，二劑而血止息，三劑而病大愈。蓋怒傷肝，不能平其氣，以致吐血。若不先舒氣而遽止血，則愈激動肝木之氣，必氣愈旺而血愈吐矣。方中芍藥為多用之品，平肝而又舒氣；荊芥、柴胡，皆引血歸經之品；當歸，紅花，生新去舊；安有不愈者哉？</p>

<h2>肺經吐血</h2>
<p>六味地黃湯加麥冬、五味子，最能補腎滋肝，木得其養，則有可藏之經而不外泄，血症最宜服之。</p>
<p>據《石室秘錄》「血治法」錄如下：</p>
<p>〔血病最忌寒涼之品，寒則凝滯而不行，難以歸經。六味地黃丸、湯，妙在不寒不熱，補腎水以滋肝木，肝木得養，則血有可藏之經，自然不致外泄，何至上吐？方用六味地黃湯加麥冬、五味子：〕</p>
<p>熟地（五錢）　山萸（三錢）　山藥（二錢）　丹皮（三錢）　澤瀉（二錢）　茯苓（二錢）　麥冬（三錢）　五味子（一錢）</p>
<p>水煎服。</p>
<p>六味地黃湯得麥、味二味，又能清補肺金，使毛皮得養，毛孔堅固，則血難外越。肺金不幹，下且足以克肝，而肝木畏金之克，又何至上犯於肺耶？故血症最宜用此方，久服三年不吐，始慶重生，否則尚在生死之間也。</p>

<h2>吐白血</h2>
<p>血未有不紅者，何以名「白血」？不知久病之人，吐痰皆白沫，乃白血也。白沫何以名白血？以其狀似蟹涎，無敗痰存其中，實血而非痰也。若將所吐沫，露於星光之下，一夜必變紅矣。此沫出於腎，而腎火沸騰於咽喉，不得不吐之者也。雖是白沫，而實腎中之精，豈特血而已哉？苟不速治，則白沫變為綠痰，無可如何矣。方用：</p>
<p>熟地（一兩）　山萸（五錢）　山藥（五錢）　丹皮（二錢）　茯苓（五錢）　澤瀉（二錢）　麥冬（一兩）　五味子（一錢）</p>
<p>水煎服，日日服之。</p>

<h2>三黑神奇飲</h2>
<p>丹皮（七分炒黑）　梔子（五分炒黑）　真蒲黃（一錢二分，炒黑）　川芎（一錢，酒洗）　生地（一錢，酒洗）　貝母（一錢）　陳皮（七分）</p>
<p>水二樽，童便、藕汁各半樽，煎服。此方治吐血，神效無比，二劑止。</p>

<h2>急救吐血</h2>
<p>吐血不止，救急方用：</p>
<p>青柏葉（一把）　乾薑（三片）　阿膠（一挺）</p>
<p>共三味，水二碗，煎一碗服。</p>
<p><u>又方：</u></p>
<p>就用吐出血塊，炒黑為末，每服三人，以麥冬湯調服。</p>
<p><u>又方：</u></p>
<p>以古金墨磨汁，同蘿蔔汁飲之。</p>
<p><u>又方：</u></p>
<p>痰帶血絲，童便、竹瀝止之。（《男科》中無）</p>
<p><u>又方：</u></p>
<p>茜草根末二、三錢，童便煎服。</p>
<p><u>又方：</u></p>
<p>吐血不止，藕汁加童便良。</p>
<p><u>又方：</u></p>
<p>大蘇葉根，搗汁溫服。</p>

<h2>衄血</h2>
<p>鼻血欲死，亂髮燒灰，水服方寸七，仍吹之。</p>
<p><u>又方：</u></p>
<p>刀削指甲末，吹之即止。</p>

<h1>嘔吐門</h1>

<h2>反胃大吐</h2>
<p>大吐之症，舌有芒刺，雙目紅腫，人以為熱也，誰知是腎水之方乎？蓋脾胃必借腎水而滋潤之，腎水一虧，則胃之火沸騰而上，以致目紅而舌芒刺也。但此症時燥時靜，時欲飲水，及水到又不欲飲，即強飲之，亦不甚快，此乃上假熱而下真寒也，宜六味地黃湯加桂、附，水煎，冷服。</p>
<p>〔此方可治上假熱而下真寒者，無不神妙奏功，大吐之症宜之耳。〕</p>
<p>外治法：</p>
<p>先以手擦其足心，使極熱時，然後用附子一個煎湯，用鵝翎掃之，隨干隨掃，少頃亦不吐矣。後以六味地黃湯大劑飲之，即安然也。或服逍遙散加黃連，亦立止也。</p>
<p>無如世醫以雜藥妄投而成噎膈矣，方用：</p>
<p>熟地（二兩）　山萸（一兩）　當歸（五錢）　元參（一兩）　牛膝（三錢）　白芥子（三錢）</p>
<p>水煎服。</p>
<p>蓋腎水不足，則大腸必干而細，飲食入胃，不能下行，故反而上吐矣。</p>

<h2>寒邪犯腎大吐</h2>
<p>寒邪入腎宮，將脾胃之水，挾之盡出，手足厥逆，少腹痛不可忍，以熱物熨之少快，否則寒冷欲死。不知者以為胃病，而乃腎病也。方用：</p>
<p>附子（一個）　白朮（四兩）　肉桂（一錢）　乾薑（三錢）　人參（三兩）</p>
<p>水煎服。</p>
<p>下喉便覺吐定，煎渣再服，則安然如故矣。〔蓋腎水養人，何能克心以死人？惟陰寒邪氣，直入腎宮，則腎火外避，而諸邪挾眾，逆犯心君，則不寧矣。所以必用附子、肉桂、乾薑，一派辛辣之熱藥，而不必多用人參以定變，使諸藥遍列分部，無非春溫之氣，自然寒邪散而吐止矣。〕</p>

<h2>腎虛嘔吐</h2>
<p>嘔吐之症，人以為胃虛也，誰知是由於腎虛乎？故治吐不效，未窺見病之根也。方用：</p>
<p>人參（三錢）　白朮（五錢）　薏仁（五錢）　芡實（五錢）　砂仁（五粒）　吳茱萸（五分）</p>
<p>水煎服。</p>
<p>〔此方似乎治脾胃之藥，不知皆治腎之味。方中取人參救胃之外，其餘藥品，俱入腎經，而不止留在脾也。腎火生脾，脾土生胃，胃氣一轉，嘔吐自平，此治胃而用治腎之法，人知之乎？〕</p>

<h2>脾虛胃吐</h2>
<p>胃吐由於脾虛，脾氣不下行，自必上反而嘔，補脾則胃安。方用：</p>
<p>人參（三錢）　茯苓（三錢）　白朮（五錢）　甘草（一錢）　肉桂（一錢）　神麯（一錢）　半夏（一錢）　砂仁（三粒）</p>
<p>水煎服。</p>
<p>此方治胃病以補脾土者，何也？蓋胃為腎之關，關門之沸騰，由於關中之潰亂，然則欲使關外之安靜，必先使關中之安寧。況用砂仁、半夏、神麯等味，全是止吐之品，有不奏功如神者乎？此脾胃雙補法也。</p>

<h2>腎寒吐瀉</h2>
<p>腎寒吐瀉，由於心寒胃弱，嘔吐不已，食久而出是也。下利不已，五更時痛瀉三、五次者是也。此症人以為脾胃之寒，服脾胃藥而不效者，何也？蓋胃為腎之關，脾為腎之海。胃氣弱，不補命門之火，則心包甚寒，何以生胃土而消穀食？脾氣弱，不補命門之火，則下焦虛寒，何以化糟粕而生精微？故補脾胃莫急於補腎也。方用：</p>
<p>熟地（三兩）　山萸（二兩）　茯苓（三兩）　人參（三兩）　山藥（四兩）　附子（一兩）　肉桂（一兩）　五味子（一兩）　吳茱萸（五錢）</p>
<p>蜜丸，每日空心服五錢。</p>
<p>〔此方之妙，全在用腎藥居多，而脾胃藥居少。尤妙在用熱溫之藥，於補腎、補土之中，則火足而土健，誰知水足而生火乎？此種議論，舉世未聞，豈徒託空言以示奇乎？實有至理存焉。試之無不效奏頃刻，願世人加意此妙法也。〕</p>

<h2>火吐</h2>
<p>此症若降火，則由脾而入於大腸，必變為便血之症，方用清火止瀉湯：</p>
<p>茯苓（一兩）　人參（二錢）　砂仁（三粒）　黃連（三錢）</p>
<p>水煎服。</p>

<h2>寒吐</h2>
<p>此症若降寒，則又引入腎，而流於膀胱，必變為遺尿之症，法宜散寒止吐，方用止嘔散寒湯：</p>
<p>白朮（二兩）　人參（五錢）　附子（一錢）　乾薑（一錢）　丁香（五分）</p>
<p>水煎服。</p>
<p>此方散寒而用補脾之品，則寒不能上越，而亦不得下行，勢不得不從臍出也。</p>

<h2>反胃</h2>
<p>人有食入而即出者，乃腎水虛不能潤喉，故喉燥而即出也。方用：</p>
<p>熟地（二兩）　山萸（五錢）　山藥（一兩）　丹皮（三錢）　茯苓（五錢）　澤瀉（三錢）　麥冬（五錢）　五味子（一錢）</p>
<p>水煎服。</p>

<h2>反胃</h2>
<p>又有食久而反出者，乃腎火虛不能溫脾，故脾寒而反出也。方用：</p>
<p>熟地（二兩）　山萸（一兩）　山藥（六錢）　丹皮（三錢）　茯苓（三錢）　澤瀉（三錢）　附子（三錢）　肉桂（三錢）</p>
<p>水煎服。</p>

<h1>臌症門</h1>

<h2>水臌</h2>
<p>此症滿身皆腫，按之如泥者是也。若不急救，水流四肢，不得從膀胱而出，則為死症矣。方用決流湯：</p>
<p>黑醜（二錢）　甘遂（二錢）　肉桂（一兩）　車前子（一兩）</p>
<p>水煎服。</p>
<p>一劑而水流鬥余，二劑而痊愈，斷不可與三劑也，與三劑反殺之矣。蓋牽牛、甘遂，最善利水，又加之肉桂、車前子，引水以入膀胱，利水而不走氣，不使牛、遂之過猛也。二劑之後，須用五苓散調理二劑，再以六君子湯補脾可也。更須忌食鹽三月，犯之則不救矣。</p>

<h2>氣臌</h2>
<p>此症乃氣虛作腫，似水而非水也，但按之不如泥耳。必先從腳面上腫起，後漸腫至身上，於是頭面皆腫者有之，此之謂之氣臌。宜於健脾行氣之中，加利水之品。若以水臌治之，是速之死也。方用：</p>
<p>白朮（一兩）　茯苓（一兩）　人參（一錢）　甘草（一分）　山藥（五錢）　肉桂（一分）　蘿蔔子（一錢）　枳殼（五分）　薏仁（一兩）　車前子（一錢）　神麯（一錢）</p>
<p>水煎服。</p>
<p>初服若覺有礙，久之自有大功，不過三十劑而痊愈矣。忌食鹽三月，秋石亦忌。</p>

<h2>蟲臌</h2>
<p>此症小腹作痛，四肢浮腫而未甚，面色紅而有白點，如蟲食之狀，眼下無臥蠶微腫之形，是之謂之血臌，方用消蟲神奇丹：</p>
<p>雷丸（三錢）　當歸（一兩）　鱉甲（一兩）　地慄粉（一兩）　神麯（三錢）　茯苓（三錢）　車前子（五錢）　白礬（三錢）</p>
<p>水煎服。</p>
<p>一劑下蟲無數，二劑蟲盡出而臌消，不必三劑。但病好後必須用六君子湯去甘草調理。</p>

<h2>血臌</h2>
<p>此症或因跌閃而瘀血不散，或因憂鬱而結血不行，或因風邪而蓄血不散，留在腹中，致成血臌。飲食入胃，不變精血，反去助邪，久則脹，脹則成臌矣。倘以治水法逐之，而症非水，徒傷元氣。倘以治氣法治之，而症非氣，徒增飽滿。方用逐瘀蕩穢湯：</p>
<p>水蛭（炒萸為末，三錢）　當歸（二兩）　雷丸（三錢）　白芍（三錢）　紅花（三錢）　枳殼（三錢）　牛膝（三錢）　桃仁（四十粒）</p>
<p>水煎服。</p>
<p>一劑血盡而愈，切勿與二劑，當改用四物湯調理。於補血內加白朮、茯苓、人參，補元氣而利水，自然痊愈，否則恐成乾枯之症。</p>
<p>辨血臌，惟腹脹如臌，而四肢手足並無脹意也。</p>

<h1>水症門</h1>

<h2>水腫</h2>
<p>此症土不能剋水也。方用：</p>
<p>牽牛（三錢）　甘遂（三錢）</p>
<p>水煎服。</p>
<p>〔一服則大瀉水斗余，腫脹消盡，此則直奪其水勢，而土得其平成也。……第服此二味之後，切不可食鹽，一食鹽則前病重犯，不可救矣。〕</p>
<p>此症治法雖多，獨此方奇效。其次，雞屎醴亦效，雞屎醴治血臌尤效。〔然雞屎醴終不若此二味之神。蓋雞屎醴有毒，而此無毒也。〕</p>
<p>一說前方用牛、遂各三錢，過於竣猛，不如用一錢，病去不傷本，不消再進，不失中和之道。</p>

<h2>呃逆</h2>
<p>此症乃水氣凌心包也。心包為水氣所凌，呃逆不止，號召五臟之氣，救水氣之犯心也。治法當利濕分水，而呃逆自除也。方用止呃湯：</p>
<p>茯神（一兩）　薏仁（一兩）　芡實（五錢）　丁香（五錢）　蒼朮（三錢）　白朮（三錢）　人參（三錢）　法半夏（一錢）　陳皮（一錢）　吳茱萸（三分）</p>
<p>水煎服，二劑愈。</p>

<h2>水結膀胱</h2>
<p>此症目突口張，足腫氣喘，人以為不治之症也。〔殊〕不知膀胱與腎為表裡，膀胱之開合，腎司其權也。故通其腎氣，而膀胱自通矣。方用通腎消水湯：</p>
<p>熟地（一兩）　山萸（錢半）　山藥（一兩）　薏仁（一兩）　茯神（五錢）　車前子（三錢）　肉桂（一錢）　牛膝（一錢）</p>
<p>水煎服。</p>

<h1>泄瀉門</h1>

<h2>火瀉寒瀉辨</h2>
<p>〔大泄之症，有火瀉，有寒瀉，然則將何以辨之？熱與痛耳。</p>
<p>火瀉者，口必渴，舌必燥，甚則生刺也。胎必黃，或灰黑色，腹必痛而手不能按也。</p>
<p>若寒瀉者，口不渴，即渴亦不喜飲水，舌胎必白滑而不燥，腹痛喜手按，不按則苦是也。〕</p>

<h2>火瀉</h2>
<p>火瀉，完穀不化，飲食下喉即吐，日夜有泄數十次，甚至百次者，人皆知其熱也。然而熱之生也，何故？生於腎中之水衰，不能制火，使胃土關門不能守於上下，所以直進而直出也。論其勢之急迫，似乎宜治其標。然治其標，而不能使火之驟降，必須急補腎中之水，使火有可居之地，而後不至於上騰，方用：</p>
<p>熟地（三兩）　山萸（一兩）　白芍（三兩）　茯苓（一兩）　車前子（一兩）　甘草（一兩）　肉桂（三分）</p>
<p>水煎服。</p>
<p>此方乃補腎之藥，非止瀉之品，然而止瀉之妙，捷如桴鼓。〔蓋腎水一生，腎火即降，頃刻應驗，非好為奇談，而乃據實理也。若正作胃虛有火治之，未嘗無功，不若此方之捷也。〕</p>

<h2>瀉甚</h2>
<p>有一日瀉五、六十行者，傾腸而出，完穀不化，糞門腫痛，如火之熱，苟無以救之，必致立亡。方用截瀉湯：</p>
<p>薏仁（二兩）　白芍（二兩）　山藥（一兩）　車前子（一兩）　茯苓（五錢）　澤膝（二錢）　黃連（五錢）　人參（三錢）　甘草（二錢）　肉桂（三分）</p>
<p>水煎服。</p>

<h2>水瀉</h2>
<p>水瀉，〔乃脾氣不溫，〕方用：</p>
<p>白朮（一兩）　車前子（五錢）</p>
<p>水煎服。</p>
<p>此方補腎健脾，利水去濕，治瀉神效。〔白朮、車前子，利腰臍而消水氣。然而白朮亦能健脾，脾健水濕自能分消，不必借重車前子。車前子能通竅而安臟氣，亦不止分消水濕巳也。臟安則水濕之氣自消，各有專能，又能分助，所以奏功如神耳。〕</p>

<h2>水瀉</h2>
<p>此症乃純是下清水，非言下痢也。痢無止法，豈瀉水亦無止法乎？故人患水瀉者，急宜止遏，方用：</p>
<p>白朮（五錢）　茯苓（三錢）　車前子（一錢）　五味子（一錢）　生棗仁（一錢）　吳茱萸（五分）</p>
<p>水煎服。</p>
<p>〔此方止藥少於補藥，健脾去濕，水性分消，不收而自收也。〕</p>

<h2>脾瀉</h2>
<p>治脾瀉，方用：</p>
<p>上黨參（四錢）　焦白朮（二錢）　茯苓（二錢）　甘草（六分）　陳皮（八分）　砂仁（五分）　白扁豆（二錢）　薏仁（三錢）　穀芽（三錢）　蓮子肉（七個）</p>
<p>水煎服。</p>
<p><u>又方：</u></p>
<p>又治脾泄散，方用：</p>
<p>焦白朮（四兩）　茯苓（三兩）　甘草（一兩）　陳皮（一兩）　砂仁（七錢）　白扁豆（三兩）　薏仁（四兩）　穀芽（三兩）　蓮子肉（四兩）</p>
<p>共為細末，每早服四錢，米湯或開水下。每服一錢，加人參末半分。如不用人參，則原方加上黨參四兩。</p>

<h1>痢疾門</h1>

<h2>火邪內傷辨</h2>
<p>此辨痢疾之血色也。火邪之血，色必鮮紅，脈必洪緩，口必渴而飲冷水，小便必澀而赤濁。</p>
<p>內傷之血，色不鮮而暗紫，或微紅淡白，脈必細而遲，或浮澀而空，口不渴，即渴而喜飲熱湯；小便不赤不澀，即赤而不熱不濁，此訣也。</p>

<h2>血痢</h2>
<p>〔血痢者，乃肝經來克脾土也。雖因脾土之濕，又加暑熱暗侵，瓜果內傷所致。然終因肝木太旺無制，凌脾土而然也。滋肝而平木，肝木得養，不來下克脾土，則土亦得養，而血痢自痊矣。〕</p>
<p>〔血痢有腹痛，不痛之分：痛者，乃火也；不痛者，乃寒也。〕。</p>

<h2>血痢腹痛</h2>
<p>血痢腹痛者，火也。方用：</p>
<p>歸尾（一兩）　白芍（一兩）　黃連（三錢）　枳殼（二錢）　木香（二錢）　蘿蔔子（二錢）　甘草（一錢）</p>
<p>水煎服。</p>

<h2>血痢腹不痛</h2>
<p>血痢腹不痛者，寒也。方用：</p>
<p>當歸（三錢）　白芍（三錢）　檳榔（一錢）　枳殼（一錢）　蘿蔔子（一錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>前方治壯實之人，火邪挾濕者。此方治寒痢腹不痛者〔血痢雖有痛、不痛之分，其實火邪，而挾濕氣也。論理二方俱可通用，而分痛、不痛，乃慎之也。二方出入減，各為神效，正不必畏首畏尾，一用之於痛，一用之於不痛也。蓋火邪滯濕氣於腸脾之際，不得奔下，未有不裡急而後重也。妙在用當歸、白芍而利之，則火邪利於直下，不止平肝木而救脾土也。〕</p>

<h2>紅白痢疾</h2>
<p>此症感濕熱而成，紅白相見，如膿如血，至危至急者也。苟用涼藥止血，熱藥攻邪，俱非善治之法。方用：</p>
<p>當歸（二兩）　白芍（二兩）　檳榔（二錢）　枳殼（二錢）　廣木香（一錢）　蘿蔔子（一錢）　甘草（二錢）　滑石（三錢）</p>
<p>水煎服。</p>
<p>一、二劑收功。此方妙在用歸、芍二兩之多，則肝血有餘，不去克脾土，自然大腸有傳送之功。加之枳殼、檳榔、蘿蔔子，俱逐穢去積之品，尤能於補中用攻。而滑石、甘草、木香，調達於遲速之間，不疾不緩，使瘀滯盡下也。其餘些小痢疾，只用減半治之，無不奏功。此方不論紅白痢疾，痛與不痛，服之皆神效。</p>
<p><u>又方：</u></p>
<p>當歸（一兩）　黃芩（七錢）　蒼朮（一錢）　厚朴（一錢）　陳皮（一錢）　大腹皮（一錢）</p>
<p>水二樽，煎一樽，頓服。</p>

<h2>內傷血痢</h2>
<p>更有內傷勞倦，與中氣虛寒之人，脾不攝血而成血痢，當用理中湯加木香、肉桂；或用補中益利湯加熟地、炒黑乾薑，治之而始愈也。</p>

<h2>久瀉血痢</h2>
<p>經驗久瀉血痢，小腹作痛，神效方：</p>
<p>秋梨（四兩）　生薑（五錢）　趨樹根皮（一兩）</p>
<p>共搗爛，夏布擰汁水，空心服之，立愈。</p>

<h2>中暑痢疾</h2>
<p>夏日中暑，紅白痢疾，方用：</p>
<p>焦山楂（五錢）　紅糖（五錢）　白糖（五錢）　白蘿蔔（一個）　藿香（錢半）</p>
<p>水煎服。</p>
<p>若為白痢，用紅糖一兩，若為紅痢，用白糖一兩。〔若為紅白痢，即用上方〕。</p>

<h1>大小便門</h1>

<h2>大便不通</h2>
<p>〔大便秘結者〕，人以為大腸燥甚也，誰知是肺氣燥乎？蓋肺燥則清肅之氣，不能下行於大腸，而腎經之水，僅足以自顧，又何能旁流以潤涸哉？方用：</p>
<p>熟地（三兩）　元參（三兩）　升麻（三錢）　牛乳（一碗）　火麻仁（一錢）</p>
<p>水二碗，煎六分，將牛乳同調服之，一、二劑必大便通矣。〔此方之妙，全不在潤大腸而補腎，尤妙不止補腎，而且補肺；更妙不正補肺，而且升肺。〕蓋大腸居於下流，最難獨治，必須從腎〔經〕以潤之，從肺〔經〕以清之，啟其下竅，則上竅自然流動通利矣。此下病上治之法也。</p>

<h2>實症大便不通</h2>
<p>〔大便不通，亦多實症，上方乃治虛症之方耳。此方治實症，實有奇效。方用〕：</p>
<p>大黃（五錢）　歸尾（一兩）　升麻（五分）　蜜（半杯）</p>
<p>水煎服。</p>
<p>此方大黃泄利，當歸以潤之，仍以為君，雖泄而不至十分猛烈，不致有亡陰之弊。況有升麻以提之，則泄中有留，又何必過慮哉？</p>

<h2>虛症大便不通</h2>
<p>〔凡久病之後，大便一月不通者，不必性急，止補其真陰，使精足自生血，血足以潤腸，大便自出，不可視為報本之病，而速其愈也。〕方用：</p>
<p>熟地（一兩）　元參（一兩）　當歸（一兩）　川芎（五錢）　桃仁（十粒）　火麻仁（一錢）　大黃（一錢）　紅花（三分）　蜜（半杯）</p>
<p>水煎服。</p>
<p>〔此方妙在用熟地、元參、當歸以生陰血，少加麻仁、大黃以潤腸下行，此正末治其閉結，而不急急以通之也。〕</p>

<h2>小便不通</h2>
<p>〔小便不通，乃膀胱之病〕，膀胱之氣化不行，小便即不能出。小便閉塞，治膀胱之經而已矣，然而治法全不在治膀胱也。方用：</p>
<p>人參（三錢）　蓮子（三錢）　茯苓（三錢）　甘草（一錢）　肉桂（一錢）　白果（二錢）　車前子（一錢）　王不留（一錢）</p>
<p>水煎服。</p>
<p>此方妙在用人參、肉桂。蓋膀胱必得氣化而始出。氣化者何？心胞絡之氣也。〔膀胱必得心包絡之氣下行，而水路始能出。〕既用參、桂，而氣化行矣，尤妙在用白果，人多不識此意。白果通任、督之脈，又走膀胱，（引參、桂之氣，直奔於膀胱之中），況車前子，王不留盡是下泄之藥，服之而前陰有不利者乎？</p>

<h2>腎虛小便不通</h2>
<p>小便不通，方用：</p>
<p>熟地（一兩）　山萸（四錢）　丹皮（一錢）　山藥（一錢）　肉桂（一錢）　車前子（一錢）　澤瀉（一錢）　茯苓（二錢）</p>
<p>此方〔即七味地黃湯〕，妙在不去通小便，而專治腎水。腎中有水，而膀胱之氣自行矣。蓋膀胱之開合，腎司其權也。</p>

<h2>大小便不通</h2>
<p>方用：</p>
<p>頭髮燒灰研末，用三指一捻，入熱水半碗，飲之立通。</p>
<p><u>又方：</u></p>
<p>蜜一茶杯，皮硝一兩，大黃一錢，黃酒一杯，煎一處，溫服甚效。</p>
<p>按：上二方，《方論》、《男科》、《石室秘錄》均同。皮硝用一兩，慎之。</p>

<h2>尿方</h2>
<p>為風寒濕氣傷者，用此方：</p>
<p>小茴香二兩，用上好真酒（即二鍋頭燒酒）一大碗，豬尿泡一個，將茴香（微炒）、真酒裝入泡內，將口控（捆）好，砂鍋內用水上火煮，以酒盡為度，取出曬於研末，每服三錢，紅糖水沖服。</p>
<p>又方：因人事過多傷者，用此方：</p>
<p>川軍三錢研末，用雞子一個，包入泥內，上火燒之，以熟為度，去皮、黃，將川軍末與雞白共為一處和丸，梧子大，每服二錢，真酒送下。連造三次，服完痊愈矣。</p>
<p><u>又方：</u></p>
<p>川軍三錢，牡蠣三錢，芡實三錢，共為細末，用雞清和丸，梧子大，每服三錢，開水送下，分三日用，服完即愈。</p>
<p><u>又方：</u></p>
<p>用八味丸原方，加白果七個，水煎服，三、五服即愈。</p>

<h1>痛疼門</h1>

<h2>論諸痛治肝</h2>
<p>〔凡人〕手痛，足痛，心腹痛，一身而眾處皆痛，將何以治？治肝為主。蓋肝氣一舒，諸痛自愈。不可頭痛救頭，足痛救足也。方用：</p>
<p>當歸（二錢）　白芍（五錢）　柴胡（一錢）　茯苓（五錢）　蒼朮（二錢）　甘草（一錢）　薏仁（五錢）　梔子（一錢）　陳皮（一錢）</p>
<p>水煎服。</p>
<p>此方逍遙散之變方也，舒肝而又去濕，去火，治一經而諸經無不愈也。</p>

<h2>肩背痛</h2>
<p><u>兩臂肩膊痛</u></p>
<p>〔臂與肩膊痛，〕乃手經之病，肝氣之郁也。方用：</p>
<p>當歸（三兩）　白芍（三兩）　柴胡（五錢）　陳皮（五錢）　白芥子（三錢）　羌活（三錢）　半夏（三錢）　秦艽（三錢）　附子（一錢）</p>
<p>水六碗，煎沸，取汁一碗，入黃酒服之，一醉而愈。</p>
<p>此方妙在用白芍為君以平肝〔舒〕木，不來侵克脾胃之氣，而羌活、柴胡又善去風，直走手經之上；秦艽亦是風藥，而兼附子攻邪，邪自退出；半夏、陳皮、白芥子祛痰聖藥；風邪去而痰不留；更得附子無經不達，而其痛如失也，〔自然一醉而愈〕。</p>
<p><u>背骨痛</u></p>
<p>此症乃腎水虛耗，不能上潤於腦，則河車之路，乾澀而難行，故作痛也。方用：</p>
<p>熟地（一兩）　山萸（四錢）　黃耆（一兩）　白朮（五錢）　茯苓（三錢）　麥冬（二錢）　五味子（一錢）　防風（五分）　附子（一分）</p>
<p>水煎服。</p>
<p>（二劑膀胱之水道通，而背脊之痛亦失矣。）此方補氣補水，去濕去風，潤筋滋骨，何痛之不愈哉？</p>
<p><u>胸背手足頸項腰膝痛</u></p>
<p>筋骨牽引，坐臥不得，時時走易不定，此是痰涎伏在心膈上下，或令人頭痛，夜間喉中如鋸聲，口流涎唾，手足重，腿冷。但用控涎丹，不足十劑，其疾如失矣。</p>

<h2>脅痛</h2>
<p><u>脅痛</u></p>
<p>此乃肝病也，故治脅痛者，必須平肝，平肝必須補腎，腎水足而肝氣有養，不治脅痛而脅痛自平也。方用肝腎兼資湯：</p>
<p>熟地（一兩）　山萸（五錢）　當歸（一兩）　白芍（二兩）　白芥子（三錢）　黑梔子（一錢）　甘草（三錢）</p>
<p>水煎服。</p>
<p><u>左脅痛</u></p>
<p>左脅痛，肝經受邪也。方用：</p>
<p>黃連（三錢，吳茱萸炒）　柴胡（一錢）　青皮（一錢）　桃仁泥（一錢）　枳殼（一錢）　當歸（一錢）　川芎（八分）　紅花（五分）</p>
<p>水煎食遠服。</p>
<p>有痰加陳皮、半夏。</p>
<p><u>右脅痛</u></p>
<p>右脅痛，邪入肺經也。方用：</p>
<p>片薑黃（二錢）　枳殼（二錢）　桂心（二分）　陳皮（五分）　半夏（五分）　炙草（五分）</p>
<p>水煎服。</p>
<p><u>左右脅俱痛</u></p>
<p>〔左右脅俱痛者〕，方用：</p>
<p>柴胡　青皮　當歸　川芎　白芍　龍膽草　枳殼　香附　砂仁　甘草　木香</p>
<p>姜水煎服。（原缺分量）</p>
<p><u>兩脅走注痛</u></p>
<p>兩脅走注痛而有聲者，痰也。二陳湯（陳皮、半夏、茯苓、甘草）去甘草，加：</p>
<p>枳殼　砂仁　木香　青皮　蒼朮　香附　茴香</p>
<p>水煎服。（原缺分量）</p>
<p><u>兩脅有塊痛</u></p>
<p>左肋有塊作，是死血也。右脅有塊作痛；是食積也。遍身作痛，筋骨尤甚，不能伸屈，口乾目赤，頭眩痰壅，胸膈不利，小便短赤，夜間殊甚。又遍身作癢如蟲行，人以為風也，而不知肝、腎氣虛而熱也，用六味地黃湯（熟地、山萸、丹皮、山藥、茯苓、澤瀉）加梔子，柴胡，是乃正治也。三劑後見效。</p>
<p><u>脅痛身熱</u></p>
<p>脅痛身熱者，勞也。用補中益氣湯（人參、白朮、陳皮、柴胡、升麻、當歸、黃耆、甘草）加川芎、白芍、青皮、砂仁、枳殼、茴香，去黃耆，水煎服。（原缺分量）</p>
<p><u>脅痛咳嗽</u></p>
<p>咳嗽氣急，脈滑敉者，痰結痛也。方用：</p>
<p>栝蔞仁　枳殼　白芥子　青皮　茴香</p>
<p>水煎服。（原缺分量）</p>

<h2>心腹痛</h2>
<p><u>心痛辨</u></p>
<p>心痛之症有二，一則寒邪侵心而痛，一則火氣焚心而痛。</p>
<p>寒氣侵心者，手足反溫；火氣焚心者，手足反涼；以此辨之最得矣。心不可使痛，或寒、或火，皆衝心包耳。</p>
<p><u>寒痛</u></p>
<p><u>寒痛方用：</u></p>
<p>良薑（三錢）　肉桂（一錢）　白朮（三錢）　草烏（一錢）　貫仲（三錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p><u>熱痛</u></p>
<p><u>熱痛方用：</u></p>
<p>炒梔子（三錢）　白芍（五錢）　柴胡（一錢）　半夏（一錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p><u>心口痛</u></p>
<p>〔此症方用〕：</p>
<p>大棗（一個，去皮核）　胡椒（七個）</p>
<p>共搗爛和勻，米湯送下即愈。</p>
<p><u>又方：</u></p>
<p>一個烏枚兩個棗，七個杏仁一塊搗，男酒女醋送下去，不害心痛直到老。</p>
<p><u>久病心痛</u></p>
<p>〔心痛，人以為病在心也。不知〕心乃神明之君，一毫邪不可干犯，犯則立死。〔人病心痛〕，終年累月而不愈者，〔非心痛也〕，乃邪犯心包絡也。但邪有寒熱之辨：〔寒邪之犯〕必惡寒，見水如仇讎，火慰之則快。方用：</p>
<p>蒼朮（二錢）　白朮（五錢）　當歸（一兩）　肉桂（一錢）　良薑（一錢）</p>
<p>水煎服。</p>
<p>〔此寒邪犯包絡之方也。〕</p>
<p>〔更有熱邪來犯包絡者，熱邪之犯〕，見水喜悅，手按之而轉痛也。方用：</p>
<p>白芍（一兩）　炒梔子（三錢）　當歸（三錢）　生地（五錢）　陳皮（八分）　甘草（一錢）</p>
<p>水煎服。</p>
<p>寒熱二症，皆責之於肝也。肝屬木，心屬火，木衰不能生火，則包絡寒矣，是宜補肝而邪自退。若包絡之熱，亦由於肝經之熱也，瀉其肝木，而火自消矣。</p>
<p><u>火結腹痛</u></p>
<p>人有腹中痛不可忍，按之愈痛，口渴，飲以涼水，則痛少止，少傾，依然大痛，此火結在大小腸也。若不急治，一時氣絕，方用定痛如神湯：</p>
<p>梔子（三錢）　白芍（五錢）　茯苓（一兩）　蒼朮（三錢）　大黃（一錢）　厚朴（一錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p>此方舒肝經之氣，利膀胱之水，瀉火逐瘀。</p>
<p><u>冷氣腹痛</u></p>
<p>冷氣心腹痛，方用火龍丹：</p>
<p>硫黃（一兩，醋製）　胡椒（一錢）　白礬（四錢）</p>
<p>醋打蕎麥麵為丸，桐子大，每日服二十五丸，米湯下。</p>
<p><u>痞塊腹痛</u></p>
<p>腹中有痞塊，一時發作而痛，不可手按者，方用：</p>
<p>枳實（一兩）　白朮（二兩）　馬糞（五錢）</p>
<p>炒焦酒煎服。</p>
<p>〔蓋馬糞最能安痛，又不傷氣，且能逐邪而化物，況又與枳實同用，則積塊日消，然而徒消其積，未免恐傷脾陰，又佐以白朮二兩，大健其脾氣，則馬糞與枳實，可以施其祛蕩之功，此墮治之妙法也。</p>
<p><u>胃氣痛</u></p>
<p>人病不能飲食；或能飲食而不消化，作痛作滿，或兼上吐下瀉，此肝木來克脾土也。〔平其肝木，則脾胃之土得養，而前症俱愈矣。〕方用：</p>
<p>當歸（二錢）　白芍（三錢）　柴胡（二錢）　茯苓（三錢）　白朮（三錢）　甘草（一錢）　白芥子（一錢）</p>
<p>水煎服。</p>
<p>有火加梔子二錢，無火加肉桂二錢，有食加山楂三錢；傷米食加枳殼一錢、麥芽一錢；有痰加半夏一錢。（方中雖有白朮、茯苓，乃脾胃之品，然其性亦能入肝。白芍、當歸、柴胡，則純是肝經之正藥，有此三味直入肝經，則各藥無不盡入肝以平木，木平則脾胃之土安然，遂有食則化食，有痰則祛痰，有火則散火，有寒則去寒，有不功效立奏者乎？此右病而左治之一法也。）</p>
<p><u>食生冷心脾痛</u></p>
<p>治食生冷心脾痛，方用：</p>
<p>用陳吳茱萸五、六十粒，水一大盞，煎取汁去滓，入平胃散三錢，再煎熱服。</p>

<h2>腰腿痛</h2>
<p><u>濕氣腰痛</u></p>
<p>腰痛而不能俯者，濕氣也。方用：</p>
<p>柴胡（一錢）　澤瀉（一錢）　豬苓（一錢）　防己（二錢）　白朮（五錢）肉桂（三分）　白芥子（一錢）　山藥（三錢）　甘草（五分）</p>
<p>水煎服。</p>
<p>此方妙在入腎而去濕，不是入腎而補水，初痛者，一二劑可以奏功。日久者，必多服為妙。</p>
<p><u>風寒腰痛</u></p>
<p>腰痛而不直者，風寒也。方用逍遙散加防己二錢，一劑可愈。若日久者，當加杜仲一兩，改用白朮二錢，酒煎服，十劑即愈。</p>
<p><u>腎虛腰痛</u></p>
<p>腎經之病，如腰之痛，方用：</p>
<p>熟地（三兩）　白朮（三兩）　胡桃仁（二錢）　杜仲（一兩，鹽水炒）　破故紙（一兩，鹽水炒）</p>
<p>蜜丸，每日空心白水送下一兩，服完自愈。如未痊愈，再服一料可愈。</p>
<p><u>又方</u></p>
<p>腎虛腰痛，方用：</p>
<p>杜仲酒浸透，炙乾為末，無灰酒調下。每服一、二錢。</p>
<p><u>脾濕腰痛</u></p>
<p>凡痛不止者，腎經之病，乃脾濕之故。方用：</p>
<p>白朮（四兩）　薏仁（三兩）　芡實（二兩）</p>
<p>水六碗，煎一碗，一氣飲之。</p>
<p>此方治夢遺之症，亦神效。</p>
<p>〔此方之妙，在用白朮以去腰臍之濕氣，而薏仁，芡實又為去濕之味，濕去而腰臍自利，自無痛楚矣。〕</p>
<p><u>腰腿筋骨痛</u></p>
<p>此症方用養血湯：</p>
<p>當歸（一錢）　生地（一錢）　肉桂（一錢）　牛膝（一錢）　杜仲（一錢）　破故紙（一錢）　茯苓（一錢）　防風（一錢）　山萸（二錢）　土茯苓（二錢）　核桃仁（二個）　川芎（五分）　甘草（三分）</p>
<p>水酒煎服。</p>
<p><u>腰痛足亦痛</u></p>
<p>腰痛，足亦痛，方用：</p>
<p>黃耆（半斤）　防風（五錢）　茯苓（五錢）　薏仁（五錢）　杜仲（一兩）　車前子（三錢）　肉桂（一錢）</p>
<p>水十碗，煎二碗，入黃酒內，〔一醉而愈。以上皆風入四肢、頭上、背間、腰以下也。借黃酒一味，無經不達，弘其藥味，而直入病中也。此所謂完全治法也。〕</p>
<p>腰足痛，明系是腎虛而氣衰，〔不能運動〕，更加之濕，自必作楚。〔此方〕妙在不補腎而單益氣，蓋氣足則血生，血生則邪退。又助之茯苓、薏仁、車前之類去濕，去濕而血活矣。況又有杜仲之健腎，肉桂之溫腎，防風之盪風乎？〔相畏而相使，相佐而相成，必然之理也。〕</p>
<p><u>寒濕腿痛</u></p>
<p>此症身不離床褥，傴僂之狀可掬，乃寒濕之氣侵也。方用：</p>
<p>白朮（五錢）　芡實（三錢）　茯苓（一兩）　蓽薢（一兩）　肉桂（一錢）　杜仲（三錢）　薏仁（二兩）</p>
<p>水煎服。</p>
<p>日日服之，不必改方，久之自奏大功。</p>
<p>〔此方之妙，妙在薏仁能入骨而去水，加芡實健脾以去濕，不使濕以增濕，而牛膝、蓽薢又是最利雙足之品；且加肉桂引經，直入骨中，濕有不去，痛有不止者乎？〕</p>
<p><u>傷風腿痛</u></p>
<p>〔此症〕方用：</p>
<p>蒜瓣（三錢）　荊芥（三錢）　防風（三錢）　紅花（三錢）　地骨皮（三錢）　川烏（三錢）　草烏（三錢）　乳香（三錢）　沒藥（三錢）</p>
<p>透骨草錢半煎湯洗畢，火干，覆被見汗即愈。如未效，再洗二、三次。</p>
<p><u>腰腿痛</u></p>
<p>〔此症〕方用木耳丸：</p>
<p>萵苣子（四兩）　枸杞子（四兩）　白木耳（半斤）　蜜丸（每服二錢）。</p>
<p>此方《方論》有，《男科》無。</p>

<h2>手足痛</h2>
<p>〔手足之痛者，人以為脾經之熱，不知非脾熱也，乃肝木之鬱結也。散其鬱氣，則手足之痛自去矣。〕方用逍遙散加：</p>
<p>梔子（三錢）　半夏（二錢）　白芥子（二錢）</p>
<p>水煎服。</p>
<p>二劑其痛如失。蓋肝木作祟，脾氣不敢當其鋒，氣散於四肢，結而不伸，所以作楚。今一旦平其肝氣，則脾氣自舒矣。〔脾氣舒而痛在手足，有不盡除者乎？〕</p>
<p><u>足弱</u></p>
<p>此病不能步履，人以為腎水之虛，誰知由於氣虛而不能運動乎？方用補中益氣湯加：</p>
<p>牛膝（三錢）　石斛（五錢）　黃耆（一兩）　人參（三錢）</p>
<p>水煎服。</p>
<p>〔三劑即足生力，四劑可以步履矣。蓋人參、耆朮，皆補氣之聖藥，而牛膝、石斛，亦健足之神劑，所以用之而歷成也。〕</p>
<p><u>筋縮</u></p>
<p>凡人一身之筋脈，不可有病，病則筋縮而身痛，脈澀而體重矣。然筋之舒在於血和，而脈之平則於氣足。故治筋必須先治血，而治脈必須先補氣。人若筋急拳縮，傴僂而不能立，俯仰而不能直者，皆筋病也。方用：</p>
<p>當歸（一兩）　白芍（五錢）　薏仁（五錢）　生地（五錢）　元參（五錢）　柴胡（一錢）</p>
<p>水煎服。</p>
<p>此方奇在用柴胡一味，入於補血藥中，蓋血虧則筋病，用補血藥以治筋宜矣，何以又用柴胡以散之？不知肝為筋之主，筋乃肝之餘，肝氣不順，筋自縮急，〔甚而傴僂〕，今用柴胡以舒散之，鬱氣既除，而又濟之大劑補血之品，則筋自得其養〔而寬，筋寬則諸症悉愈矣。〕</p>

<h1>麻木門</h1>

<h2>麻木</h2>
<p>凡麻木是濕痰死血也，用四物湯加陳皮、半夏、茯苓、白芥子、桃仁、紅花、甘草，水煎服，入竹瀝、薑汁服。</p>

<h2>手麻木</h2>
<p>此乃氣虛而寒濕中之，如其不治，三年後必中大風。方用：</p>
<p>人參（二錢）　白朮（五錢）　黃耆（五錢）　防風（五分）　陳皮（五分）桂枝（五分）　甘草（一錢）</p>
<p>水煎服。</p>
<p>〔方中黃耆、人參、白朮，俱補氣去濕之藥；防風乃去風之品，必得桂枝始能入於手經也。經絡既清，自能奏功也。〕</p>

<h2>十指麻木</h2>
<p>十指皆麻，面目失色，此亦氣虛也。治以補中益氣湯加木香、麥冬、香附、羌活、烏藥，防風，水煎服，三劑可愈。</p>

<h2>手足麻木</h2>
<p>〔雙足麻木，不能履地；雙手麻木，不能執物是也。〕方用四物湯加：</p>
<p>人參、白朮、茯苓、陳皮、半夏、桂枝、柴胡、羌活、防風、秦艽、牛膝、炙草、薑棗引，水煎服，四劑愈。</p>

<h2>腿麻木</h2>
<p>凡腿麻木沉重，方用導氣湯：</p>
<p>黃耆（二錢）　甘草（錢半）　青皮（一錢）　升麻（五分）　柴胡（五分）　歸尾（五分）　澤瀉（五分）　陳皮（八分）　紅花（少許）　五味子（三十粒）</p>
<p>水煎溫服，甚效。</p>

<h2>兩手麻木困倦嗜臥</h2>
<p>兩手麻木，四肢困倦，怠惰嗜臥，此乃熱作元氣也。方用人參益氣湯：</p>
<p>人參（一錢）　黃耆（二錢）　甘草（一錢）　炙草（五分）　柴胡（七分）　白芍（七分）　升麻（五分）　五味子（卅粒）　生薑（三片）　大棗（二枚）</p>
<p>水煎溫服。</p>

<h2>渾身麻木</h2>
<p>凡人渾身麻木不仁，兩目羞明怕日，眼澀難開，視物昏花，睛痛亦治，方用神效黃耆湯：</p>
<p>黃耆（一錢）　陳皮（五分）　人參（八分）　白芍（一錢）　蔓荊子（二分）　炙甘草（四分）</p>
<p>水煎服，如有熱，加黃柏三分。</p>

<h2>麻木痛</h2>
<p>風寒濕三氣合而成病，客於皮膚肌肉之間，或痛、或麻木，方用：</p>
<p>牛皮膠（二兩）　南星（五錢）　薑汁（半碗）</p>
<p>共熬膏，攤貼，再用熱鞋底熨之。加羌活、乳香、沒藥更妙。</p>

<h1>濁淋門</h1>

<h2>二濁五淋辨</h2>
<p>濁、淋二症，俱小便赤也。濁多虛，淋多實，淋痛、濁不痛為異耳。濁、淋俱屬熱症，大約屬濕痰下陷及脫精所致。惟其有痛，大約縱淫欲火動，強留敗精而然，不可混治。</p>

<h2>淋症</h2>
<p>〔此症〕方用五淋散：</p>
<p>淡竹葉（二錢）　赤茯苓（一錢）　芥穗（一錢）　車前子（五錢）　燈心（一錢）</p>
<p>水煎服。</p>

<h2>濁症</h2>
<p>〔此症〕方用清心蓮子飲：</p>
<p>石蓮子（二錢半）　人參（二錢半）　黃耆（一錢半）　地骨皮（一錢半）　車前子（一錢半）　赤茯苓（二錢）　黃芩（一錢半）　麥冬（一錢半）　甘草（五分）</p>
<p>水煎服。</p>

<h1>腎病門</h1>

<h2>陽強不倒</h2>
<p>此虛火炎上，而肺金之氣不能下行故耳。若用黃柏、知母，煎湯飲之，立時消散。然自倒之後，終年不能重振、是亦苦也。方用：</p>
<p>元參（三兩）　麥冬（三兩）　肉桂（三分）</p>
<p>水煎服。</p>
<p>此方妙在元參以瀉腎中之火，肉桂入其宅，麥冬助肺金之氣，清肅下行，以生腎水，水足則火自息矣，不求倒而自倒也。</p>

<h2>陽痿不舉</h2>
<p>陽痿而不振者，乃平日過於琢削，日泄其腎中之水，而腎中之火，亦日消也。蓋水去而火亦去，必然之理。如一家人口，廚下無水，何以為炊？必有水而後取柴炭以煮飯，不則空鐺也。方用：</p>
<p>熟地（一兩）　山萸（四錢）　遠志（一錢）　巴戟（一錢）　肉蓯蓉（一錢）　杜仲（一錢）　肉桂（二錢）　茯神（二錢）　人參（三錢）　枸杞（三錢）　白朮（五錢）</p>
<p>水煎服。</p>
<p>〔一劑起，二劑強，三劑妙。此方用熟地於補水之中則火起，而不愁炎燒之禍，自然煮湯可飲，煮米可食，斷不致焦釜沸干，或虞爆碎也。〕</p>

<h2>疝氣</h2>
<p>此症方用去鈴丸：</p>
<p>生薑一斤，將薑汁入茴香內浸一宿，入青鹽二兩，和勻，同炒研為米，酒糊為丸，每服三十丸，溫酒或米飲送下。</p>

<h2>腎子痛</h2>
<p>腎子大痛，方用：</p>
<p>澤瀉（一錢）　陳皮（一錢）　赤茯苓（一錢）　丹皮（五分）　小茴香（五分）　枳殼（五分）　蒼朮（五分）　山楂（四分）　蘇梗（四分）</p>
<p>薑、水煎服。</p>
<p><u>又方</u></p>
<p>酒炒大茴香、酒炒小茴香、赤石脂（煅）、廣木香，各等分，研末和勻，烏梅肉搗爛為丸，如梧子大，空心每服十五丸，蔥、酒湯送下，立效。</p>

<h2>偏墜</h2>
<p>此症方用：</p>
<p>小茴香、豬苓等分，微炒為末，空心鹽水沖服（原缺分量）。</p>
<p>又熱鹽熨，甚神效。</p>

<h1>雜方</h1>

<h2>統治諸瘡</h2>
<p>方用：</p>
<p>天花粉（五錢）　生甘草（二兩）　金銀花（四兩）　蒲公英（二兩）　當歸（二兩）</p>
<p>水煎服。</p>
<p>二劑痊愈。此方消毒，大有奇功，諸癰諸疽，不論部位，皆治之。〔金銀花能內消瘡毒，然非多用，則力輕難以成功。生甘草一味，已足解毒，況又用之於金銀花內，益足以散邪而益正，蒲公英陽明經藥也，且能散結逐邪；天花粉消痰聖藥；當歸活血，是其專功，今血活而癰自愈。此方之所以奇而肆也。〕</p>

<h2>瘡毒</h2>
<p>〔治小瘡毒，如神，方用：〕</p>
<p>金銀花（一兩）　當歸（一兩）　蒲公英（一兩）　荊芥（一錢）　連翹（一錢）　甘草（三錢）</p>
<p>水煎服。</p>
<p>〔一劑輕，二劑消，三劑愈。此明治之妙法，人亦宜知之，不可忽也。頭上瘡最不可用升藥，切忌切忌！下病宜升，而上病不宜升也。頭上瘡最宜用降火之藥。〕</p>

<h2>頭面上瘡</h2>
<p>治頭面上瘡，方用：</p>
<p>金銀花（二兩）　當歸（一兩）　川芎（五錢）　桔梗（三錢）　蒲公英（三錢）　黃芩（一錢）　甘草（五錢）</p>
<p>水煎服。</p>
<p>二劑全消。治頭面上瘡，不可用升提之藥，最宜用降火之藥，切記之。</p>

<h2>黃水瘡</h2>
<p>〔凡毒水流入何處，即生大水泡瘡，名為黃水瘡，手少動之即破，此熱毒鬱於皮毛也，當以湯洗之即愈。方用：〕</p>
<p>雄黃（五錢）　防風（五錢）</p>
<p>〔二味用水十碗，煎數沸，去滓取汁，洗瘡上即愈。〕</p>

<h2>身上手足瘡疽</h2>
<p>身上手足之瘡疽，方用：</p>
<p>金銀花（三錢）　當歸（一兩）　蒲公英（三錢）　天花粉（五錢）　甘草（三錢）　芙蓉葉（七片，如無葉，用根三錢）</p>
<p>水煎服。</p>

<h2>腿上濕瘡</h2>
<p>治腿上濕瘡方：</p>
<p>榆條（一兩）　椿條（一兩）　桑條（一兩）　槐條（一兩）　荊芥（一兩）　當歸（一兩）　蔥胡（一攝）　蒜瓣（一攝）　川椒（一撮）　水十碗，煎五碗洗。洗後，敷以銀杏散：</p>
<p>銀硃（一兩）　杏仁（五錢）　京粉（五錢）　研細末。</p>

<h2>疥瘡</h2>
<p>〔皮毛治法者，感輕之症，病未深入營衛，從皮毛上治之也。如疥瘡、黃水瘡、痱瘡，此等之症，不必用湯藥。疥瘡用：〕</p>
<p>大楓子（三錢）　人言（一錢）　核桃仁（三錢）　水銀（一錢）</p>
<p>研為細末，搗為六丸，晚間於心窩上，用一丸以手旋轉之，一夜一丸。病輕者用三、四丸即愈，病重者再配一料可愈。</p>

<h2>陰虛雙蛾</h2>
<p>陰虛雙蛾，方用：</p>
<p>附子（一錢），鹽水炒，每用一片，含口中，後以六味地黃湯，大劑飲之。</p>
<p>外治法：</p>
<p>引火下行，用附子一個為末，醋調，貼湧泉穴。或吳茱萸一兩、白麵五錢，水調，貼湧泉穴。急針刺少高，則咽喉有一線之路矣。</p>

<h2>洗眼仙方</h2>
<p>防風（五分）　硼砂（一釐）　膽礬（二釐半）</p>
<p>同煎水洗之立愈。</p>

<h2>洗眼奇方</h2>
<p>方出《道藏》，不論瞽目、犯土、雲霧、風眼、火眼、昏花，久洗自明。〔方〕用：</p>
<p>皮硝（六錢）　桑白皮（一兩）</p>
<p>水煎。</p>
<p>每遇日期，熱洗數十次。正月初五、二月初二、三月初三、四月初九、五月初五、六月初四、七月初三、八月初十、九月十二、十月十二，十一月初四、十二月初四。</p>
<p>以上吉星日子，乃通光明也。其方千金不易，屢用屢效。</p>

<h2>明目補腎方</h2>
<p>小紅棗（十二枚，冷水洗淨去核）　甘枸杞（三錢）　馬料豆（四錢）</p>
<p>水二碗，煎一碗，早晨空心連湯共食之。</p>

<h2>飲砒毒</h2>
<p>用生甘草三兩，（水煎湯），加羊血半碗，和勻飲之，立吐而愈。若飲之不吐，速用：</p>
<p>大黃（二兩）　甘草（五錢）　白礬（一兩）　當歸（三兩）</p>
<p>水煎湯數碗飲之，立時大吐即生。</p>

<h2>破傷風</h2>
<p>破傷風，方用：</p>
<p>蟬退（蛻）去淨頭足，為末五錢，用好酒一碗，煎滾，入末調勻，服之立效。</p>

<h2>喉閉</h2>
<p>治喉閉方：</p>
<p>用梧桐子一、二十粒，研細，少加醋，服下痰去自愈。</p>

<h2>瘋狗咬傷</h2>
<p>方用：</p>
<p>手指甲焙黃為末，黃酒沖服，發汗即愈。忌房事百日。</p>

<h2>時行瘟病</h2>
<p>急治時行瘟病，方用：</p>
<p>藿香（二錢）　紫蘇（錢半）　蒼朮（錢半）　赤茯苓（三錢）　白芷（一錢）　陳皮（錢半）　姜川樸（一錢）　姜半夏（錢半）　碎烏梅（四個）　檳榔（一錢）　桔梗（一錢）　引加生薑（三片）　大棗三枚，水三杯，</p>
<p>煎一杯，溫服。</p>

<h2>人馬平安散</h2>
<p>明雄黃（一錢）　硃砂（一錢）　冰片（一分三釐）　麝香（一分五釐）</p>
<p>共為細末，瓷瓶收貯。</p>
<p>治男女大小心口臌悶，水瀉痢疾，心腹痛疼等症。用骨簪，男點左眼，女點右眼，點之即愈。兼治牛馬豬羊等畜。</p>

<h2>五子衍宗丸</h2>
<p>男服此藥，添精補髓，疏利腎氣，不問下焦虛實寒熱，服之自能和平：舊稱古今第一種子方。有能世世服此藥，子孫蕃衍。</p>
<p>枸杞子（八兩）　菟絲子（八兩）　車前子（二兩）　五味子（二兩）　覆盆子（四兩）</p>
<p>上藥俱選地道精新者，焙曬乾，共為細末，煉蜜為丸，梧桐子大，每空心服九十丸，上床時服五十丸，白湯或鹽湯送下；冬月用溫酒送下。</p>

<h2>百子附歸丸</h2>
<p>女服此藥，調經養血，安胎順氣。不問胎前產後，經事參差，有餘不足諸症，悉皆治之，殊益胎嗣。此本太僕吏鮑璧，台州人，其妻三十年不育，忽經事不至者十月，腹臌大無病，皆謂妊娠，一日忽產惡物盈桷，視之皆敗痰積血。後服此方，不期年生一子。張云：彼嘗以此二方（即上方及此方）與人，服無不應者。</p>
<p>阿膠（二兩）　蘄艾（二兩）　當歸（二兩）　川芎（二兩）　白芍（二兩）　熟地（二兩）　香附（二兩）</p>
<p>杵成米粒樣，水、醋各浸一宿，曬，焙乾為十二兩，研為細末。用大陳石榴一枚，連皮搗碎，東流水（即河水）三升熬，去滓，麵糊為丸，梧子大，每服百丸，空心陳醋點湯下。</p>

<h2>手汗</h2>
<p>〔人有手汗出者〕，洗法用：</p>
<p>黃耆（一兩）　葛根（一兩）　荊芥（三錢）　防風（三錢）</p>
<p>水煎湯一盆，熱熏而溫洗，三次即無汗，〔神方也〕。</p>

<h2>瘧疾</h2>
<p>瘧疾方用遇仙丹：</p>
<p>生大黃（六兩）　檳榔（三兩）　三稜（三兩）　莪朮（三兩）　黑醜（三兩）　白醜（三兩）　木香（二兩）　甘草（一兩）</p>
<p>共為細末，水丸，櫻桃大。</p>
<p>如遇發日，清晨溫水化下三、四丸，藥行後以溫米飯補之。忌腥冷、蕎麵等物。孕婦勿服。</p>

<h1>女科雜方</h1>
<p>先生本有《女科》傳世，此數條《女科》未載，故存之。為保持《方論》、《男科》原貌，故應保留之。</p>

<h2>白帶</h2>
<p>產前無帶也，有則難產之兆。即幸而順生，產後必有血暈之事，方用：黑豆三合，水三碗，煎湯二碗，入白果十個，紅棗十個，再煎一碗，入：</p>
<p>熟地（一兩）　山萸（四錢）　山藥（四錢）　丹皮（二錢）　茯苓（三錢）　澤瀉（二錢）　薏仁（四錢）</p>
<p>再加水二碗煎服。</p>
<p>一劑止，二劑永不白矣。亦通治婦人白帶無不神效。</p>

<h2>血崩</h2>
<p>歸身（一錢）　生地錢（二分）　蒲黃（三分）　地榆（三分）　丹皮（五分）　木通（五分）　焦白朮（一錢）　桔紅（七分）　香附（五分）　三七根（五分）　生薑（三片）　黃酒（一樽）　水（一樽）</p>
<p>煎九分，空心服。</p>

<h2>子懸</h2>
<p>此乃胎熱，子身不安，欲立起於胞中，故若懸起之象。若作氣盛治之，立死矣。方用：</p>
<p>人參（二錢）　白朮（五錢）　茯苓（二錢）　黃芩（三錢）　白芍（五錢）　當歸（二錢）　熟地（一兩）　生地（二錢）　杜仲（一錢）</p>
<p>水煎服。</p>
<p>此皆利腰臍之聖藥，少加黃芩，則胎寒而自定矣。</p>

<h2>胎漏胎動</h2>
<p>此兩症俱氣血不足之故，方用：</p>
<p>人參（二錢）　白朮（五錢）　茯苓（一錢）　甘草（一錢）　熟地（五錢）　山萸（二錢）　山藥（二錢）　當歸（一錢）　杜仲（一錢）　枸杞子（一錢）　麥冬（二錢）　五味子（五分）</p>
<p>水煎服。</p>
<p>此方不寒不熱，安胎之聖藥也。胎動為熱，不動為寒。</p>

<h2>產門瘡，</h2>
<p>方用：</p>
<p>炒黃柏（三錢）　蚯蚓糞（三錢）　白薇（三錢）　乳香（三錢）　鉛粉（三錢）　潮腦（三錢）　輕粉（五分）　冰片（五分）　兒茶（二錢）　麝香（三分）</p>
<p>共為細末調勻擦瘡</p>
<p>此方通治諸瘡亦可，治產門瘡最效。</p>

<h2>產門痛癢</h2>
<p>產門非痛即癢，下方可以兼治：</p>
<p>當歸（一兩）　白芍（五錢）　柴胡（一錢）　茯苓（五錢）　梔子（三錢）　楝樹根（五分）</p>
<p>水煎服。</p>

<h2>橫生倒養</h2>
<p>氣血之虧也，氣血既虧，子亦無力，不能轉身而出，遂先出手足，必以針刺之，痛而縮入，急用：</p>
<p>人參（一兩）　當歸（三兩）　川芎（二兩）　紅花（三錢）</p>
<p>煎湯灌之。</p>

<h2>產後治法</h2>
<p>產後以補氣血為主，方用：</p>
<p>人參（三錢）　當歸（一兩）　川芎（五錢）　黑荊芥（一錢）　益母草（一錢）</p>
<p>水煎服。</p>
<p>有風，加柴胡五分：有寒，加肉桂五分；血不淨，加山楂十粒；血暈，加炮姜五分；衄血，加麥冬二錢；夜熱，加地骨皮五分；有食，加穀芽、山楂；有痰，少加白芥子。余不必胡加。</p>

<h2>產婦氣喘腹痛</h2>
<p>此症少陰受其寒邪，而在內之真陽，必逼越於上焦，上假熱而下真寒也，方用平喘祛寒湯：</p>
<p>人參（三錢）　麥冬（三錢）　白朮（五錢）　肉桂（二錢）　吳茱萸（一錢）</p>
<p>水煎服。</p>
<p>一劑喘定，二劑痛止，必微涼頓服。</p>

<h2>產後大喘大汗</h2>
<p>此乃邪入於陽明，寒變為熱，故大喘大汗。平人得此病，當用白虎湯，而產婦氣血大虛，何可乎？方用補虛降火湯：</p>
<p>麥冬（一兩）　人參（五錢）　元參（五錢）　桑葉（十四片）　蘇子（五分）</p>
<p>水煎服。</p>
<p>此方以麥冬、人參補氣，元參降火，桑葉止汗，蘇子定喘，助正而不攻邪，邪退而不損正，實有奇功也。</p>

<h2>產婦嘔吐下痢</h2>
<p>此腎水泛溢，因腎水之衰也。急用補陽之藥入於補陰之中，引火歸源，水自下行矣。方用：</p>
<p>熟地（一兩）　山萸（五錢）　人參（五錢）　白朮（一兩）　茯苓（一兩）車前子（一錢）　附子（一錢）　肉桂（三分）</p>
<p>水煎服。</p>

<h2>產後亡陽發狂</h2>
<p>大抵亡陽之症，用藥汗止，便有生機，宜先止汗，而後定狂，方用收汗湯：</p>
<p>人參（三兩）　桑葉（三十片）　麥冬（二兩）　元參（一兩）　青蒿（五錢）</p>
<p>水煎服。</p>
<p>一劑汗止，二劑狂定。後改用人參，麥冬、五味子、當歸、川芎調理。此方衹可救亡陽之急症，一時權宜之計，二劑後，必須改用他方。</p>

<h2>乳痛</h2>
<p>治乳痛，方用：</p>
<p>生半夏一個研末，蔥白一寸，搗為泥，用絹包之，左乳痛，塞入右鼻孔內；右乳痛，塞入左鼻孔內。（《方論》中有，《男科》中無）。</p>

<h2>附益丸</h2>
<p>婦人常服卻病方：</p>
<p>香附一斤（童便浸透），水洗淨，露一宿，曬乾，再如此三次，用益母草十二兩烘乾，共為細末。再用香附四兩，艾葉一兩煮汁，加醋大半，糊丸梧子大，每日服百丸，空心下。</p>
<p>此方能治婦人百病，生育之功如神。胎前產後俱服，神妙無比，而功效倍常，仙方也。</p>

<h1>小兒科</h1>

<h2>小兒色</h2>
<p>以鼻之上，眼之間辨之。色紅者，心熱也；紅筋橫、直現於山根者，皆心熱也。色紫者，心熱之甚，而肺亦熱也。色青者，肝有風也；青筋橫現、直現者，皆肝熱也；直者風上行，橫者風下行也。色黑者，風甚而肺中有寒。色白者，肺中有痰。色黃者，脾胃虛而作瀉。現其色，而病可知矣。</p>

<h2>小兒脈</h2>
<p>大人看脈於寸、關、尺，小兒不然，但看其數不數而已。數甚則熱，不甚則寒也。數之中浮者，風也。沉者，寒也。緩者，濕也。澀者，邪也。滑者，痰也。有止歇者，痛也。如此而已，余不必談。</p>

<h2>三關</h2>
<p>小兒虎口風、氣、命三關，紫屬熱，紅屬寒，青屬驚風，白屬疳。風關為輕，氣關為重，若至命門，則難治矣。</p>

<h2>小兒氣色</h2>
<p>山根之上，有青筋直現者，乃肝熱也。方用：</p>
<p>柴胡（三分）　白芍（一錢）　當歸（五分）　半夏（三分）　白朮（五分）　茯苓（一錢）　山楂（三粒）　甘草（一分）</p>
<p>水煎服。</p>
<p>有青筋橫現者，亦肝熱也。但直者風上行，橫者風下行，亦用前方，加柴胡五分，麥芽一錢，乾薑一分，水煎服。</p>
<p>有紅筋直現者，心熱也，亦用前方，加黃連一分，麥芽五分，去半夏加桑白皮、天花粉各二分，水煎服。</p>
<p>有紅筋斜現者，心熱也，亦用前方，加黃連二分。熱積於胸中者，不可用半夏，用桑白皮、花粉可也。</p>
<p>又有黃筋現於山根者，不論橫直，總是脾胃之症，或吐瀉，或腹痛，或不思食，方用：</p>
<p>白朮（五分）　茯苓（五分）　陳皮（三分）　人參（二分）　神麯（一分）　甘草（一分）　麥芽（二分）　淡竹葉（七片）</p>
<p>水煎服。</p>
<p>有痰者，加半夏一分、白芥子三分。如口渴有熱者，加麥冬三分、黃芩一分。有寒者，加乾薑一分。吐者，加白豆蔻一粒。瀉者，加豬苓五分。腹痛而按之大叫者，食也，加大黃三分、枳實一分。按之不號叫者，寒也，加乾薑三分。如身發熱者，不可用此方。</p>

<h2>發熱</h2>
<p>不拘早晚發熱，俱用萬全湯，神效：</p>
<p>柴胡（三分）　白芍（一錢）　當歸（五分）　白朮（三分）　茯苓（二分）　甘草（一分）　山楂（三粒）　黃芩（三分）　蘇葉（一分）　麥冬（一錢）　神麯（三分）</p>
<p>水煎服。</p>
<p>冬加麻黃一分，夏加石膏三分，春加青蒿三分，秋加桔梗三分。有食加枳殼三分，有痰加白芥子三分，吐者加白豆蔻一粒，瀉者加豬苓一錢。小兒諸症，不過如此，不可作驚風治之。如其有驚風，加人參五分，其效如神。</p>
<p><u>又方：</u></p>
<p>凡潮熱。積熱、瘧熱、乃脾積寒熱，俱當用姜梨引。</p>
<p>柴胡　人參　黃芩　前胡　秦艽　甘草　各一分　青蒿（童便浸，曬乾，一分）　生地（一寸）　薄荷（二葉）生梨、或生藕一片</p>
<p>水煎熱，甚效。</p>

<h2>感冒風寒</h2>
<p>柴胡（五分）　白朮（一錢）　茯苓（三分）　陳皮（二分）　當歸（八分）　白芍（一錢）　半夏（三分）　炙草（三分）　水煎熱服。</p>

<h2>痢疾</h2>
<p>方用：</p>
<p>當歸（一錢）　黃連（二分）　白芍（一錢）　枳殼（五分）　檳榔（五分）　甘草（三分）</p>
<p>水煎熱服。</p>
<p>紅痢倍黃連，白痢加澤瀉三分，腹痛倍甘草、白芍，小便赤加木通三分，下如豆汁加白朮一錢，傷食加山楂、麥芽各三分，氣虛加人參三分。</p>

<h2>瘧疾</h2>
<p>方用：</p>
<p>柴胡（六分）　白朮（一錢）　茯苓（一錢）　當歸（一錢）　白芍（錢半）　半夏（五分）　青皮（五分）　厚朴（五分）</p>
<p>水煎露一宿，再溫與服。</p>
<p>熱多者，加人參、黃耆各五分；寒多者，加乾薑三分；痰多者，加白芥子一錢；夜發燒者，加何首烏、熟地各二錢；日發熱者，不用加；腹痛者，加檳榔三分。</p>

<h2>咳嗽</h2>
<p>方用：</p>
<p>蘇葉（五分）　桔梗（一錢）　甘草（一錢）</p>
<p>水煎熱服，有痰加白芥子八分。</p>

<h2>驚風</h2>
<p>世人動曰驚風，誰知小兒驚則有之，而風則無。小兒純陽之體，不當有風，而狀若有風者，蓋小兒陽旺則內熱，內熱則生風，是非外來之風，乃內出之風也。內風作外風治，是速之死也。方用清火散風湯：</p>
<p>白朮（三分）　茯苓（二錢）　陳皮（一分）　梔子（三分）　甘草（一分）　白芍（一錢）　半夏（一分）　柴胡（五分）</p>
<p>水煎服。</p>
<p>此方健脾、平肝之聖藥，肝平則火散，健脾則風止，斷不可以風藥表散之也。</p>
<p>又方：</p>
<p>驚風皆由於氣虛，宜用壓風湯：</p>
<p>人參（五分）　白朮（五分）　甘草（三分）　茯神（一錢）　半夏（三分）　陳皮（一分）　神麯（五分）　砂仁（一粒）　丹砂（三分）</p>
<p>水煎服。治慢驚風加黃耆。</p>
<p>又方：</p>
<p>治驚風抽掣經驗方。</p>
<p>全蠍（一個）　黃連（一錢）　硃砂（一錢）　生薑（少許）</p>
<p>共研細末，調勻，喂小兒口內，任其自咽，其效如神。</p>

<h2>急驚風</h2>
<p>急驚風：三、六、九日一切風俱治方：</p>
<p>膽南星、雄黃、硃砂、人參、茯苓、天竺黃、鉤藤、牛黃、麝香、鬱金、柴胡、青皮、甘草。</p>
<p>為細末，煉蜜丸，如綠豆大，真金一張為衣，陰乾，句泄氣，薄荷湯磨服。</p>

<h2>疳症</h2>
<p>此症脾熱而因乎心熱也，遂至（同致）口中流涎。若不平其心火，則脾更旺，濕熱上蒸，而口涎不能止也。方用：</p>
<p>蘆薈（一錢）　黃連（三分）　薄荷（三分）　茯苓（二錢）　桑白皮（一錢）　半夏（五分）　甘草（一分）</p>
<p>水煎服。</p>
<p>此心脾兩清之聖藥也。引熱下行，而疳自去矣。</p>
<p><u>又方：</u></p>
<p>女人尿桶中白（火煅研末，一錢），銅綠（二分），麝香（一分），共研為細末，搽齒齦上，最奇效。</p>

<h2>疳症流水口爛</h2>
<p>小兒口疳，流水口爛方：</p>
<p>黃柏（二錢）　人參（一錢），共為細末，敷口內，一日三次，三次即愈。</p>
<p>此方用黃柏去火，人參健脾，大人用之，亦最效。</p>

<h2>疳症瀉痢眼障神效方</h2>
<p>石決明（醋煅，一兩）　蘆薈（五錢）　甘草（三錢）　川芎（五錢）　白蒺藜（五錢）　菊花（四錢）　胡黃連（五錢）　五靈脂（五錢）　細辛（五錢）　穀精草（五錢）</p>
<p>共研細末，豬苓去筋，搗爛為丸，如米大，每服二十丸，不拘時，米湯送下。</p>

<h2>吐</h2>
<p>此症雖胃之弱，亦脾氣之虛。小兒恣意飽食，不能消化，久之上衝於胃口而吐也。方用止吐速效方：</p>
<p>人參（一錢）　砂仁（一粒）　白朮（五分）　茯苓（二錢）　陳皮（二分）　半夏（一分）　乾薑（一分）　麥芽（五分）　山楂（三粒）</p>
<p>水煎服。夏加黃連、冬加乾薑各三分，無不愈。此六君子變方。</p>

<h2>泄瀉</h2>
<p><u>熱泄方：</u></p>
<p>小兒身如火熱，口渴舌燥，喜冷飲而不喜熱湯，方用瀉火止泄湯：</p>
<p>車前子（二錢）　茯苓（一錢）　白芍（一錢）　黃連（三分）　澤瀉（五分）　豬苓（三分）　麥芽（一錢）　枳殼（二分）</p>
<p>水煎服。</p>
<p><u>寒瀉方：</u></p>
<p>此症必腹而喜手按摩，口不渴而舌滑，喜熱飲而不喜冷，方用散寒止瀉方：</p>
<p>人參（一錢）　白朮（一錢）　茯苓（二錢）　肉桂（二分）　甘草（一分）　乾薑（二分）　砂仁（一粒）　神麯（五分）</p>
<p>水煎服。</p>

<h2>小兒吐乳方</h2>
<p>白豆蔻（七粒）　砂仁（七粒）　生、炙甘草（各二錢）　共研細末，頻擦口中，任其嚥下，奇效。</p>

<h2>不食乳</h2>
<p>不食乳，心熱也，蔥煎乳汁，令小兒服之亦妙，不若用黃連三分，煎湯一分，灌小兒數匙，即食乳矣，神效。</p>

<h2>臍汁不幹</h2>
<p>治臍汁不幹方：</p>
<p>用車前子炒焦，研為細末，敷之即干。</p>

<h2>肚臍突出</h2>
<p>小兒肚臍突出半寸許，此氣旺不收也。若不急按之，往往變為弓角反張。方用：</p>
<p>茯苓（一錢）　車前子（一錢）　甘草（三分）　陳皮（三分）　通草（三分，無通草用燈心一攝）煎湯飲之，一劑即愈。</p>

<h2>便蟲</h2>
<p><u>小兒便蟲方：</u></p>
<p>榧子（五個，去殼）　甘草（三分）　為末，米飯為丸，</p>
<p>服二次，則蟲化為水矣。</p>
<p><u>又蟲積方：</u></p>
<p>使君子（十個，去殼炒）　檳榔　甘草（各一錢）　榧子（十個，去殼）</p>
<p>共為末，米飯為丸，梧桐子大，每服十丸。二日蟲出，五日即愈。</p>

<h2>治寸白蟲方</h2>
<p>百部根（五錢）　檳榔（五錢）</p>
<p>水煎服，一劑蟲全下。</p>
<p><u>又方：</u></p>
<p>飛羅白麵製半夏，生白礬各三錢，共為細末，水滴成丸，分三日服，開水服，蟲化為水。大人照方十倍閤眼。</p>

<h2>火丹</h2>
<p>治火丹神方：</p>
<p>絲瓜子（一兩）　柴胡（一錢）　元參（一兩）　升麻（一錢）　當歸（五錢）</p>
<p>水煎服。</p>
<p><u>又方：</u></p>
<p>升麻（三錢）　元參（一兩）　乾葛（三兩）　青蒿（三錢）　黃耆（三錢）</p>
<p>水煎服。</p>
<p>此症乃胃火與肝經之火，共騰而外越，不為丹毒，即發疹也。方中用青蒿甚炒，肝、脾兩經之火俱平；又佐以群藥重劑，而火安有不滅者乎？</p>

<h2>胎毒</h2>
<p>小兒洗胎毒方：</p>
<p>荊芥（五錢）　蒲公英（五錢）　甘草（五錢）　槐條（二十寸）　蔥須（一撮）花椒（三錢）　艾葉（一錢）　水一砂鍋，煎洗。</p>
<p><u>胎毒肥瘡方:</u></p>
<p>花椒（三錢）　白芷（三錢）　黃柏（三錢）　鉛粉（三錢）　枯礬（三錢）</p>
<p>共為細末，麻油調敷，甚效。</p>

<h2>口瘡</h2>
<p><u>小兒紅白口瘡外治方：</u></p>
<p>蕊仁（五分，去油）　硃砂（五分）　冰片（一分）　共為末，熟棗三枚（去核），和一處，攤烏青布上，貼腳心處。去藥時若干者，用無根水排藥。此方效，愈兒多矣。</p>
<p><u>又方：</u></p>
<p>烏棓子（一錢）　冰片（少許）</p>
<p>共研細末，吹之，速效。（按：烏棓子即五倍子）</p>
<p><u>又方：</u></p>
<p>人中白（煅）</p>
<p>研細末，吹之，神效。</p>

<h2>夜啼</h2>
<p>小兒夜啼不止，狀如鬼祟方：</p>
<p>蟬蛻（後半，四個為末）　硃砂（二分，水區）　薄荷（四分）</p>
<p>水煎，酒數滴調服，立止。</p>
<p><u>又方：</u></p>
<p>烏棓子（五倍子）焙研，唾津和餅，填臍內，立止，甚效。</p>

<h2>尿血</h2>
<p>周歲小兒尿血方：</p>
<p>大甘草（一兩二錢）　水六碗煎二碗，服完即愈。</p>

<h2>寒積食積</h2>
<p>治腹痛寒積食積方：</p>
<p>生薑（一兩）　柿蒂（七個）　砂仁（五粒）　山楂（五錢）　干蘿蔔（一個）　紅糖（一兩）　大棗（二枚）</p>
<p>水煎服，兩次服。</p>
