<header data-type="book">
<h1>費繩甫先生醫案</h1>
</header>

<h1>一、經絡病</h1>
<p>（案1）肝陽上亢之勢已平，肺氣下降，嗆咳、鼻塞、痰多、口乾皆退，肢節作痛較前大減，尚未全止。濕痰入絡，榮衛交阻。脈來沉滑。宜宗前法進治。</p>
<p>甜川貝（三錢）　瓜蔞皮（三錢）　生苡仁（三錢）　川萆薢（三錢）　光杏仁（三錢）　南沙參（四錢）　杭甘菊（三錢）　生甘草（五分）　地膚子（三錢）　鮮竹茹（二錢）　川石斛（三錢）　茯苓皮（三錢）　甜瓜子（三錢）　絲瓜絡（三錢）　橘絡（二錢）　桑枝（一尺）</p>
<p>（案2）肝陽升騰無制，挾素蘊之濕痰流竄節絡，榮衛不能通行。右手無名、小指麻木作脹，脈來沉弦而滑。治宜清肝化濕，消痰通絡。</p>
<p>甜川貝（三錢）　瓜蔞皮（三錢）　川石斛（三錢）　薄橘紅（八分）　生苡仁（三錢）　茯苓皮（三錢）　南沙參（四錢）　陳橘絡（一錢）　冬瓜子（三錢）　甜杏仁（三錢）　鮮竹茹（一錢）　桑枝（一尺）</p>
<p>（案3）經謂「肝主筋」，肝陽升騰無制，挾濕痰熱流竄節絡，筋絡縮短，手足肩臂作痛、浮腫，內熱煩躁，齒痛苔黃，胸脘不舒，飲食少進，腹脹且硬。濕火痰熱充塞三焦，流行之氣皆阻。脈來沉弦而滑。脈症皆實，可用下奪之法，誠恐年高，氣虛難支，擬養陰清火，化濕豁痰。</p>
<p>羚羊角（五分）　甜川貝（三錢）　瓜蔞皮（三錢）　生苡仁（三錢）　海浮石（三錢）　川萆薢（三錢）　南沙參（四錢）　川石斛（三錢）　薄橘紅（一錢）　炙內金（三錢）　竹瀝（二兩）</p>
<p>（案4）濕痰流竄節絡，榮衛不能通行。左肩臂痠痛，手指麻木，納穀無多，動則氣疾。濕痰阻胃，宣布無權。脈來沉弦而滑。治宜化痰通絡，兼以和胃。</p>
<p>薄橘紅（一錢）　製半夏（一錢半）　海浮石（三錢）　瓜蔞仁（三錢）　嫩桑枝（三錢）　光杏仁（三錢）　生苡仁（三錢）　赤茯苓（三錢）　紫蘇子（一錢半）　甜瓜子（三錢）　地膚子（三錢）　五加皮（二錢）　生熟穀芽（各四錢）</p>
<p>（案5）陰血久虛，肝陽上亢，挾濕痰阻塞包絡，胃氣宣布無權。脘悶氣鬱，目淚時下，肢節麻木陰酸，胸腹作脹，頭眩欲跌，脈來沉弦而滑。治宜化濕消痰，清肝和胃。</p>
<p>吉林參鬚（五分）　云茯神（二錢）　左牡蠣（四錢）　黑料豆（三錢）　川楝肉（一錢半）　薄橘紅（一錢）　製半夏（一錢半）　川貝母（二錢）　海浮石（三錢）　直殭蠶（二錢）　鉤鉤（一錢半）　鮮竹茹（一錢）</p>
<p>（案6）胸脘痞悶、氣短頭眩、手指麻木已退，肝陽漸平，胃氣宣布。惟腎陰久虧，攝納無權，遺精眼花，見色流精，小溲甚多，不能靜坐，脈弦之象稍減，沉細如常。宜宗前法進治。</p>
<p>吉林參鬚（五分）　西洋參（一錢）　生白芍（一錢半）　女貞子（三錢）　白蓮鬚（一錢）　生杜仲（三錢）　黑料豆（三錢）　廣皮白（五分）　剪芡實（三錢）　炙內金（三錢）　大麥冬（二錢）　荷葉（一角）</p>
<p>（案7）肝陽上升，挾素蘊之濕痰，阻塞胃氣，宣布無權，脘悶作惡，嘔吐黃水，飲食少進，肢節麻木作痛，濕痰漸化，榮衛交阻。脈來沉弦而滑。治宜清肝化痰，調和衛氣。</p>
<p>薄橘紅（一錢）　製半夏（一錢半）　象貝母（三錢）　冬桑葉（一錢）　江枳實（一錢）　赤茯苓（三錢）　冬瓜子（三錢）　生苡仁（三錢）　炒竹茹（一錢）　連翹殼（八分）　生熟穀芽（各四錢）</p>
<p>（案8）《經》謂「肝主筋」，肝陽升騰之勢漸平。筋絡痠痛、內熱口乾較前已減，尚未盡退，嗆咳日久，頭眩眼花，肺陰久虛，清肅無權，脈來弦細。治宜清肅肺氣，兼治肝陽。</p>
<p>北沙參（四錢）　女貞子（三錢）　生白芍（一錢半）　生甘草（五分）　生杜仲（三錢）　川貝母（三錢）　鮮竹茹（一錢）　生穀芽（三錢）　甜杏仁（三錢）　桑枝（三尺）</p>
<p>（案9）陰血久虛，肝陽升騰無制，上灼胃陰，胃失降令。脘悶腹痛，內熱口乾，頭眩且疼，肢節痠痛，腰痠帶下，脈來弦細而數。治宜養血清肝，兼和胃氣。</p>
<p>大白芍（一錢半）　左牡蠣（四錢）　川楝肉（一錢半）　宣木瓜（一錢半）　生熟穀芽（各四錢）　大麥冬（三錢）　西洋參（一錢半）　川石斛（三錢）　杭菊花（三錢）　鮮竹茹（一錢）　瓜蔞根（三錢）　薄橘紅（五分）　生杜仲（三錢）　冬瓜子（四錢）　銀杏肉（十粒）</p>
<p>（案10）脾腎久虛，中無砥柱之權，下少生髮之氣，肝陽上升，挾濕痰流竄節絡，榮衛不能通行。左手臂麻木，上及頭面，嗆咳氣喘，痰阻肺氣已著，脈來細弦。治宜益腎清肝，運脾化痰。</p>
<p>黑料豆（三錢）　女貞子（三錢）　生杜仲（三錢）　生白芍（一錢半）　生甘草（五分）　北沙參（四錢）　川貝母（三錢）　瓜蔞皮（三錢）　薄橘紅（八分）　冬瓜子（四錢）　白茯苓（三錢）　甜杏仁（三錢）</p>
<p>（案11）肝陽升騰之勢已緩，肺金清肅之令下行。嗆咳鼻塞、痰多口乾、肢節作痛較前已減，尚未盡退，濕痰入絡，榮衛不能通行。脈弦略退，沉滑仍然。宜宗前法進治。</p>
<p>象貝母（三錢）　瓜蔞皮（三錢）　川萆薢（三錢）　黑山梔（一錢半）　鮮竹茹（一錢半）　川石斛（三錢）　地膚子（三錢）　淡豆豉（三錢）　茯苓皮（三錢）　桑枝（一尺）　甜瓜子（三錢）　陳橘絡（三錢）　絲瓜絡（一錢半）　光杏仁（三錢）</p>
<p>（案12）《經》謂「脾主四肢」，脾胃久虛，濕熱下注。腿足暮腫朝消，右手臂麻木，大便溏泄，甚則嗆咳、口乾，濕熱痰上阻肺氣，脈來細弦。宜健脾化濕，消痰肅肺。</p>
<p>潞黨參（三錢）　南沙參（四錢）　連皮苓（四錢）　生白芍（一錢半）　絲瓜絡（一錢半）　生白朮（一錢）　生杜仲（三錢）　川續斷（二錢）　薄橘紅（一錢）　生熟穀芽（各四錢）　大貝母（三錢）　薏苡仁（三錢）　地膚子（三錢）　冬瓜子（四錢）　鮮竹茹（八分）</p>

<h1>二、濕熱</h1>
<p>（案1）濕熱無從宣泄，上阻清道，肺金清肅之令不能下行。嗆咳喉痛，牽引胸腹，有如帶束，頭面、頸項起顆結塊，脈來細弦而數。清化濕熱，兼肅肺氣頗合，宜宗前法進治。</p>
<p>南沙參（四錢）　京元參（一錢半）　鮮生地（三錢）　瓜蔞皮（三錢）　鮮竹茹（一錢）　茯苓皮（三錢）　光杏仁（三錢）　甜川貝（三錢）　生穀芽（三錢）　燈芯（三尺）　天花粉（三錢）　地膚子（三錢）　冬瓜子皮（各三錢）　生草（五分）</p>
<p>（案2）濕熱生蟲。常有寸白蟲隨大便而下，或不大便，從肛門而出，脈來細緩。陰液已虛，濕熱內蘊，已可概見。治宜清化濕熱，並益陰清肝法。</p>
<p>茯苓皮（四錢）　南沙參（四錢）　川石斛（三錢）　大雷丸（三錢）　使君子（三錢）　雞內金（三錢）　陳鶴蝨（三錢）　冬瓜子（四錢）　象貝母（三錢）　陳廣皮（一錢）　桑枝（一尺）</p>
<p>（案3）《經》謂「肺合皮毛」，肺有濕熱，散布分肉之間。體熱咳嗽，肌膚起顆作癢，破碎，略有脂水，即易結痂。濕熱里達表，最是佳徵，必須令濕熱盡透於外，肺氣清肅下行。脈來浮滑。治宜清化濕熱，兼肅肺氣。</p>
<p>茯苓皮（三錢）　地膚子（三錢）　冬瓜子（三錢）　川石斛（三錢）　生甘草（五分）　大力子（一錢半）　大杏仁（三錢）　冬桑葉（一錢半）　杭甘菊（二錢）　天花粉（三錢）　瓜蔞皮（三錢）　黑山梔（一錢半）　生穀芽（三錢）</p>
<p>（案4）脾土久虛，運化無權，濕熱淆亂清濁，升降失常。胸腹脹痛，大便泄瀉帶紅，內熱口乾，小溲不利，納穀無多，脈來沉細而弦。治宜健脾化濕，兼和胃氣。</p>
<p>高麗參（一錢）　南沙參（四錢）　焦白朮（一錢）　生甘草（五分）　赤茯苓（三錢）　生白芍（一錢半）　黃耆皮（一錢半）　川石斛（三錢）　冬瓜子（四錢）　陳廣皮（一錢）　生熟穀芽（各四錢）　荷葉（一角）</p>
<p>（案5）濕熱下注，膀胱氣化無權，小溲莖中作痛，甚則白濁時下。濕熱必須清化，投補太早，禁錮濕熱，無從宣泄，蘊結於中。脈來沉細。治宜清化濕熱，兼養陰調氣法。</p>
<p>川萆薢（一錢半）　黑山梔（一錢半）　肥知母（一錢）　南沙參（四錢）　生草（五分）　桑枝（一尺）　白茯苓（四錢）　川石斛（三錢）　冬瓜子（四錢）　川楝肉（一錢半）　銀杏肉（十粒）</p>
<p>（案6）肝陽升騰之勢漸平，肺金肅清之令下行。嗆咳、內熱、口乾、自汗較前已減，惟遺精便血，小溲渾濁。腎陰久虛，封藏不固，濕熱下注，銷鑠榮陰，脈來沉細。治宜益腎化濕清肝。</p>
<p>黑料豆（三錢）　女貞子（三錢）　北沙參（四錢）　川石斛（三錢）　鮮竹茹（一錢）　炒槐米（二錢）　生甘草（五分）　川貝母（二錢）　瓜蔞皮（三錢）　荷葉（一角）　光杏仁（三錢）　冬瓜子（四錢）　杭菊花（一錢半）　生穀芽（四錢）</p>

<h1>三、濕痰</h1>
<p>（案1）脾胃久虛，中無砥柱之權，下少生髮之氣，肝陽上升，挾素蘊之濕痰，耗氣灼陰，流灌失職。內熱口乾，頭眩神倦，脈來細弦。治宜脾腎並補，清肝化痰。</p>
<p>高麗參（一錢）　西洋參（一錢半）　大白芍（一錢半）　粉甘草（五分）　冬瓜子（四錢）　黑料豆（三錢）　生杜仲（三錢）　冬青子（三錢）　大麥冬（三錢）　生熟穀芽（各四錢）　白茯苓（三錢）　川石斛（三錢）　川貝母（三錢）　薄橘紅（三錢）　紅棗（五枚）</p>
<p>（案2）本案重出，見「經絡病」（案1）。</p>
<p>（案3）胸腹作痛已止，大便亦調，濕痰漸化，胃氣通降。惟脾土未健，運化失職。腹脹賁響，夜寐不酣，脈來沉細。治宜健脾滲濕，兼和胃氣。</p>
<p>南沙參（四錢）　云茯神（三錢）　大白芍（一錢半）　冬瓜子皮（各三錢）　川石斛（三錢）　酒炒黃連（一分）　淡吳萸（一分）　陳廣皮（一錢）　金香附（一錢半）　白蔻殼（八分）　粉甘草（五分）　生熟穀芽（各四錢）</p>
<p>（案4）本案重出，見「經絡病」（案2）。</p>
<p>（案5）大便通暢，濕熱下泄，胃氣宣布，胸腹較舒，嘔吐亦止。惟納穀運化不速，腿足軟弱無力，脾失運化之權，腎少生髮之氣，脈弦已減，沉細如常。宜宗前法進治。</p>
<p>吉林參鬚（五分）　江枳實（一錢）　陳廣皮（一錢）　製半夏（一錢半）　鮮竹茹（一錢）　生熟穀芽（各四錢）　宣木瓜（一錢半）　大白芍（一錢半）　生杜仲（二錢）　生甘草（五分）　冬瓜子（四錢）　北沙參（四錢）　佩蘭葉（一錢）　左牡蠣（四錢）　炙內金（二錢）</p>
<p>（案6）濕痰上阻肺絡，肺氣不降，腎氣不納。嗆咳氣疾，舉發無常，甚則喉際痰聲漉漉，寢食俱廢，抱恙多年，根深蒂固。脈來弦滑。治宜滲濕消痰，兼肅肺氣。</p>
<p>化橘紅（一錢）　製半夏（一錢半）　紫蘇子（二錢）　海浮石（三錢）　全當歸（二錢）　瓜蔞仁（三錢）　甜杏仁（三錢）　炙紫菀（一錢）　赤茯苓（三錢）　苡仁（三錢）　南棗（三枚）</p>
<p>（案7）本案重出，見「經絡病」（案4）。</p>
<p>（案8）脾土不運，積濕生痰，阻塞胃氣，不能下降。胸脘痞悶不舒，飲食少進，不易消化，苔黃，神倦，四肢無力，脈來沉細而滑。治宜健脾化食，消痰和胃。</p>
<p>陳廣皮（一錢）　製半夏（一錢半）　川貝母（三錢）　白茯苓（三錢）　江枳殼（一錢半）　南沙參（四錢）　炙內金（二錢）　冬瓜子（四錢）　佩蘭葉（一錢半）　姜竹茹（一錢）　生熟穀芽（各四錢）</p>
<p>（案9）濕痰漸化，胃氣流行，胸脘皆舒，嘔吐已止，大便通暢。惟精神萎頓，腿足軟弱無力，脾腎久虛，中無砥柱之權，下少生髮之氣，脈來沉細。宜宗前法，更進一籌。</p>
<p>高麗參（一錢）　西洋參（一錢）　大白芍（一錢半）　陳廣皮（一錢）　黑料豆（二錢）　左牡蠣（四錢）　焦苡仁（二錢）　生熟穀芽（各四錢）　佩蘭葉（一錢半）　冬瓜子（四錢）　生杜仲（三錢）　紅棗（五枚）</p>
<p>（案10）本案重出，見「經絡病」（案7）。</p>
<p>（案11）濕痰漸化，氣機宣布，胸腹漸舒，尚未通暢，內熱口乾，頭眩目赤，納穀運化不速，脾腎久虛，肝陽上亢，耗氣灼陰，流灌失職，脈來沉弦。宜宗前法進治。</p>
<p>杭甘菊（二錢）　京元參（一錢半）　茯苓皮（四錢）　車前子（二錢）　燈芯（三尺）　瓜蔞皮（三錢）　冬瓜子（四錢）　牡丹皮（二錢）　冬桑葉（一錢半）　淡竹茹（一錢半）　川石斛（三錢）　炙內金（三錢）　川貝母（三錢）</p>
<p>（案12）肝氣上升，克脾犯胃，土受木製，運化無權，積濕生痰，阻塞氣機。胸脅作痛，受寒咳嗽，濕痰凝結已著，脈來細弦，居經不行，已經四載。治宜養血潤肝，扶土化痰。</p>
<p>北沙參（四錢）　大白芍（一錢半）　金鈴子（一錢半）　左牡蠣（四錢）　瓜蔞皮（三錢）　川石斛（三錢）　薄橘紅（八分）　冬瓜仁（四錢）　冬青子（三錢）　白茯苓（三錢）　甜杏仁（三錢）　生穀芽（四錢）</p>
<p>（案13）脾腎久虛，中失運化之權，下少生髮之氣，積濕生痰，阻塞氣機。胸腹脹痛賁響，大便或溏或結，便後帶血，脈來細弦。治宜化濕消痰，宣通氣機。</p>
<p>陳廣皮（一錢）　製半夏（一錢半）　赤茯苓（二錢）　金香附（一錢半）　生熟穀芽（各四錢）　蓽澄茄（一錢半）　全當歸（二錢）　冬瓜子（四錢）　烏藥（一錢）　陳香櫞皮（一錢）</p>
<p>（案14）脾腎久虛，中失運化之權，下少生髮之氣，積濕生痰，阻塞胃氣，不能下降。胸腹脅肋脹痛，納穀無多，脈來細弦。治宜滲濕化痰，兼和胃氣。</p>
<p>陳廣皮（一錢）　製半夏（一錢半）　赤茯苓（三錢）　南沙參（四錢）　酒黃連（一分）　淡吳萸（一分）　大白芍（一錢半）　左牡蠣（四錢）　川楝肉（一錢半）　宣木瓜（一錢半）　冬瓜子皮（各三錢）　生熟穀芽（各四錢）</p>
<p>（案15）納穀無多，不易消化，口乾破碎，腿足怯冷，大便溏薄，每日二三行。腎氣久虛，肝陽上升，濕痰阻塞，胃氣宣布無權，脈來沉細而弦。益腎清肝，化痰和胃頗合，宗前法進治。</p>
<p>吉林參鬚（五分）　北沙參（四錢）　白茯苓（二錢）　粉甘草（五分）　生熟穀芽（各四錢）　益智仁（一錢半）　生杜仲（三錢）　白芍藥（一錢半）　茅蒼朮（黑芝麻拌蒸，一錢半）　大棗（二枚）　薄橘紅（一錢）　生苡仁（三錢）　冬瓜子（四錢）　甜川貝（三錢）</p>
<p>（案16）濕痰漸化，胃氣下降，胸脘較舒，大便亦調。惟腹內結塊，咯痰，覺冷，納穀無多。脾土久虛，運化無權，脈弦已減，沉細仍然。宜宗前法進治。</p>
<p>吉林參鬚（八分）　赤茯苓（二錢）　焦茅朮（二錢）　粉甘草（五分）　大棗（三枚）　金香附（一錢半）　老幹姜（五分）　陳廣皮（一錢）　製半夏（一錢半）　厚朴花（八分）　生熟穀芽（各四錢）　連殼蔻（八分）　冬瓜子（四錢）</p>
<p>（案17）脾土久虛，運化無權，積濕生痰，阻塞肺氣，清肅之氣不能下行。嗆咳氣喘，脘悶鼻塞，甚則喉際痰聲漉漉，寢食俱廢，脈來沉弦而滑。治宜健脾滲濕，化痰肅肺。</p>
<p>全當歸（二錢）　赤茯苓（二錢）　生苡仁（三錢）　薄橘紅（一錢）　光杏仁（三錢）　製半夏（一錢半）　萊菔子（二錢）　白芥子（一錢）　紫蘇子（一錢半）　冬瓜子（四錢）　炙紫菀（一錢）　大貝母（三錢）　瓜蔞皮（三錢）　海浮石（三錢）　淡豆豉（一錢半）</p>
<p>（案18）脾土久虛，運化無權，積濕無從宣泄，蘊結於中，阻塞胃氣，宣布失職。胸腹不舒，納穀無多，大便溏薄，脈來沉細而弦。治宜健脾化濕，兼和胃氣。</p>
<p>吉林參鬚（八分）　赤苓（三錢）　焦茅朮（一錢半）　粉草（五分）　冬瓜子（四錢）　陳廣皮（一錢）　制夏（一錢半）　厚朴花（五分）　大棗（二枚）　連殼蔻（八分）　生熟穀芽（各四錢）</p>
<p>（案19）（痰熱）內熱口乾，頭眩作痛，眼花痰多，飲食少進，脾失運化之權，腎少生髮之氣，肝陽上升，挾痰熱銷鑠津液，脈來細弦而數。治宜益腎清肝，運脾化痰。</p>
<p>冬青子（三錢）　北沙參（四錢）　大白芍（一錢半）　川石斛（三錢）　冬瓜子（四錢）　川楝肉（一錢半）　川貝母（三錢）　甜杏仁（三錢）　瓜蔞皮（三錢）　杭菊花（三錢）　生杜仲（三錢）　廣皮白（五分）　忍冬藤（三錢）　生熟穀芽（各四錢）</p>
<p>（案20）本案重出，見「濕熱」（案3）。</p>

<h1>四、咳</h1>
<p>（案1）（咳兼遺泄）本案重出，見「濕熱」（案6）。</p>
<p>（案2）（咳兼濕痰入絡）　本案重出，見「經絡病」（案1）。</p>
<p>（案3）（咳兼濕瘡）濕熱無從宣泄，肺金清肅之令不能下行。嗆咳喉痛，牽引胸腹，有如帶束，頭面、頸項、手臂起顆結塊，脈來細弦而數。清化濕熱，兼肅肺氣頗合，宜宗前法進治。</p>
<p>南沙參（四錢）　京元參（一錢半）　鮮生地（三錢）　生甘草（五分）　生穀芽（三錢）　茯苓皮（三錢）　光杏仁（三錢）　甜川貝（三錢）　瓜蔞皮（三錢）　鮮竹茹（一錢）　川石斛（三錢）　天花粉（三錢）　地膚子（三錢）　冬瓜子皮（各三錢）　燈芯（三尺）</p>
<p>（案4）（外感）飲食不節，兼受風邪，肺不清肅，胃不宣通。嗆咳又作，鼻塞頭痛，胸腹賁響，食入疼脹，脈來浮弦而滑。治宜泄邪肅肺，導滯和胃。</p>
<p>淨蟬衣（一錢半）　杭菊花（三錢）　生甘草（五分）　瓜蔞皮（三錢）　光杏仁（三錢）　炙內金（三錢）　生熟穀芽（各三錢）　川石斛（三錢）　冬瓜子（三錢）　廣皮白（五分）　天花粉（三錢）　鮮竹茹（三錢）</p>
<p>（案5）（咳兼濕瘡）本案重出，見「濕熱」（案3）。</p>
<p>（案6）（咳兼痰喘）本案重出，見「濕痰」（案6）。</p>
<p>（案7）（咳兼血）肺金清肅之令下行，嗆咳口乾、咯血內熱、苔黃耳鳴皆退。惟神昏發厥，肢節抽掣，腎陰久虛，水不涵木，肝陽化火，挾痰熱上阻包絡，神明無主，脈來弦滑。治宜益腎清肝，兼化痰熱。</p>
<p>北沙參（四錢）　大麥冬（二錢）　黑料豆（三錢）　甜川貝（三錢）　鉤鉤（二錢）　云茯神（三錢）　花龍齒（二錢）　川石斛（二錢）　鮮竹茹（一錢）　青鉛（一兩）　生枳殼（一錢）　炙殭蠶（二錢）　生牡蠣（四錢）　上沉香（二分）</p>
<p>（案8）（咳兼脘痛）肝陽升騰之勢漸平，肺氣肅降，脘痛已止，嗆咳、內熱、口乾、腰痠漸退，惟頭眩心悸，小溲頻數。腎陰久虛，下失封藏之固。脈弦略遲，沉細如常。宜宗前法進治。</p>
<p>北沙參（四錢）　女貞子（三錢）　川斷（二錢）　生草（五分）　生杜仲（三錢）　荷葉（一角）　黑料豆（三錢）　生芍藥（一錢半）　廣皮白（五分）　川石斛（三錢）　鮮竹茹（一錢）</p>
<p>（案9）（咳兼疝）肝陽上升，挾濕痰阻塞肺胃，宣布無權。嗆咳，脘悶，飲食少進，疝氣偏墜於右，睪丸脹大作痛，肺郁不舒已可概見，脈來弦滑。治宜清肝化痰，肅肺和胃。</p>
<p>冬桑葉（一錢半）　淡豆豉（二錢）　嫩桔梗（一錢半）　冬瓜子（三錢）　川石斛（三錢）　炒竹茹（一錢）　薄橘紅（一錢）　炙內金（二錢）　白茯苓（三錢）　生甘草（五分）　生熟穀芽（各四錢）</p>
<p>（案10）（外感）肺腎陰虛，濕熱下注，膀胱氣化無權。屢次遺精，溲前帶濁，感冒逡，清肅無權，間或嗆咳，脈弦已退，風邪外解。治宜益腎化濕，兼清肺氣。</p>
<p>淡豆豉（三錢）　黑山梔（二錢）　女貞子（三錢）　川貝母（三錢）　生穀芽（四錢）　瓜蔞子（三錢）　川楝肉（一錢半）　川石斛（三錢）　冬瓜子（四錢）　忍冬藤（三錢）</p>
<p>（案11）（咳兼筋絡）本案重出，見「經絡病」（案8）。</p>
<p>（案12）（乾血咳）居經不行已三閱月，嗆咳內熱，口渴引飲，飲食少進。肝鬱化火，銷鑠肺胃陰液，肺失清肅之權，胃少衝和之氣。脈來弦細軟，入夜神迷譫語，乾血癆症已成。姑擬育陰制陽。</p>
<p>北沙參（三錢）　大麥冬（三錢）　生甘草（五分）　左牡蠣（四錢）　女貞子（三錢）　甜杏仁（三錢）　川石斛（四錢）　瓜蔞皮（四錢）　南沙參（四錢）　南楂炭（三錢）　鮮竹茹（一錢半）　天花粉（三錢）　川貝母（三錢）　炙內金（三錢）　生白芍（一錢半）　藕節（一枚）</p>
<p>（案13）（初診，乾血勞咳）陰血久虛，肝陽升騰無制，銷鑠肺陰，金受火刑，清肅無權。嗆咳，內熱，口乾，頭眩，臥難著右。居經不行已三閱月，脈來弦細而數。勢已入損，治宜養血清肝，兼肅肺氣。</p>
<p>冬青子（三錢）　生白芍（一錢半）　甜杏仁（三錢）　左牡蠣（四錢）　北沙參（四錢）　生甘草（五分）　甜川貝（三錢）　瓜蔞皮（三錢）　川石斛（三錢）　冬瓜子（四錢）</p>
<p>（案14）（復診，乾血勞咳）肝陽升騰之勢漸平，胃氣下降，內熱、口乾較前已減。惟嗆咳，頭眩，臥難著右，居經不行已三月，肺陰久虛，清肅無權，脈弦略退，細數如常。宜宗前法進治。</p>
<p>女貞子（三錢）　生白芍（一錢半）　生甘草（五分）　北沙參（四錢）　鮮竹茹（一錢）　川貝母（三錢）　瓜蔞皮（三錢）　甜杏仁（三錢）　生穀芽（四錢）　冬瓜子（四錢）　廣皮白（五分）　黑料豆（三錢）　川石斛（三錢）</p>
<p>（案15）（咳兼血）肝陽上亢之勢漸平，脾有復振之權。痰帶血絲已止，內熱、氣急、大便溏薄均減，尚未盡退，嗆咳作惡。肺腎陰虛已極，胃氣宣布無權，脈弦略退，沉細如常。宜宗前法進治。</p>
<p>北沙參（四錢）　生白芍（一錢半）　生甘草（五分）　白茯苓（四錢）　蓮子（十粒）　生懷藥（三錢）　黑料豆（三錢）　生杜仲（三錢）　川貝母（三錢）　川石斛（三錢）　廣皮白（三錢）　冬瓜子（四錢）　生熟穀芽（各四錢）</p>
<p>（案16）（咳兼衄）肝陽升騰之勢已緩，肺金清肅之令下行，內熱、口乾、衄血已止，納穀不易消化、嗆咳、氣急皆減，尚未盡退。肺腎陰虛，攝納無權，脈來沉細。宜宗前法進治。</p>
<p>女貞子（三錢）　生白芍（一錢半）　生甘草（五分）　北沙參（四錢）　川石斛（三錢）　瓜蔞皮（三錢）　川貝母（三錢）　冬瓜子（四錢）　大生地（三錢）　生穀芽（四錢）　雞內金（三錢）　甜杏仁（三錢）　廣皮白（八分）　毛燕（三錢，絹包，煎湯代水）</p>
<p>（案17）（咳兼濕痰入絡，兼喘）本案重出，見「經絡病」（案10）。</p>
<p>（案18）（咳兼胸脅痛）本案重出，見「濕痰」（案12）。</p>
<p>（案19）（咳牽胸背）肝陽升騰之勢漸平，津液宣布，內熱、苔黃膩皆退。惟嗆咳氣急，牽引胸背不舒，肢節痠痛，夜寐不酣。肺陰久虛，清肅無權，脈弦略退，沉細如常。宜宗前法進治。</p>
<p>大白芍（一錢半）　生草（五分）　女貞子（三錢）　生杜仲（三錢）　生穀芽（三錢）　雲茯苓（二錢）　北沙參（四錢）　甜川貝（三錢）　瓜蔞皮（三錢）　鮮竹茹（一錢）　川石斛（三錢）　黑料豆（三錢）　冬瓜子（四錢）　甜杏仁（三錢）　生梨（五片）</p>
<p>（案20）（外感）風邪外解，氣機流行，發熱較前大減，尚未盡退。咳嗽氣急，甚則鼻扇。餘邪未清，挾痰熱銷鑠津液，肺氣肅降無權。脈來弦滑。治宜生金肅肺，兼泄餘邪。</p>
<p>川石斛（三錢）　生甘草（五分）　淡豆豉（三錢）　黑山梔（一錢半）　廣皮白（五分）　川貝母（三錢）　瓜蔞皮（三錢）　天花粉（三錢）　南沙參（四錢）　鮮竹茹（一錢半）　光杏仁（三錢）　冬瓜子（四錢）　生穀芽（四錢）　白茯苓（三錢）</p>
<p>（案21）（外感）風熱留戀氣分，肺失清肅之權。發熱咳嗽，不思飲食，大便不暢。肺與大腸相表裡，臟氣不和則府氣不宣，脈來浮弦。治宜生津泄邪，兼肅肺氣。</p>
<p>淨蟬衣（一錢）　薄荷葉（一錢）　生甘草（五分）　川石斛（三錢）　瓜蔞皮（三錢）　大貝母（三錢）　光杏仁（三錢）　冬瓜仁（三錢）　天花粉（三錢）　生穀芽（四錢）　鮮竹茹（三錢）</p>
<p>（案22）（咳兼血）《經》謂「形寒飲冷則傷肺」。前月初著寒，咳嗽延今月餘，咳嗽雖減，肺陰受傷，絡血上溢，內熱口乾，脈來弦細而數。勢已入損，治宜清養肺陰，兼化痰熱。</p>
<p>京元參（一錢）　北沙參（四錢）　女貞子（四錢）　生熟穀芽（各四錢）　生甘草（五分）　生白芍（一錢半）　甜川貝（二錢）　冬蟲夏草（五分）　川石斛（三錢）　瓜蔞皮（四錢）　鮮生地（四錢）</p>
<p>改方：加甜杏仁（三錢）、燈芯（三尺）</p>
<p>（案23）（咳兼鼻血）嗆咳氣急、鼻塞有血較前已減，肺金清肅之令下行。惟乍寒乍熱，脘悶咯血，大便不暢。痰熱銷鑠胃陰，胃氣宣布無權，脈來沉滑。治宜清化痰熱，肅肺和胃。</p>
<p>川貝母（三錢）　瓜蔞皮（三錢）　南沙參（四錢）　牡丹皮（一錢半）　杭菊花（二錢）　川石斛（三錢）　京元參（一錢）　生甘草（五分）　光杏仁（三錢）　冬瓜子（四錢）　生穀芽（四錢）　鮮竹茹（一錢半）　白茅根（去心，二錢）　生梨（五片）</p>
<p><u>膏滋方</u></p>
<p>吉林參鬚（二兩，另煎）　北沙參（八兩）　大生地（六兩）　女貞子（六兩）　廣皮白（二兩）　生白芍（三兩）　生甘草（一兩）　大玉竹（六兩）　甜川貝（六兩）　懷山藥（四兩）　瓜蔞皮（六兩）　川石斛（六兩）　云茯神（四兩）　元參心（二兩）　甜杏仁（六兩）　冬瓜子（八兩）　生穀芽（八兩）　燈芯（卅尺）</p>
<p>上藥煎三次取汁，冰糖一斤收膏。</p>
<p>（案24）（咳兼血）血分之熱已清，早起咯血已止，飲食加增，胃氣流行。惟肺陰尚虛，清肅無權，嗆咳氣急雖減，而未盡退，脈來緩滑。治宜清養肺陰，兼化痰熱。</p>
<p>大玉竹（二錢）　北沙參（四錢）　生甘草（五分）　川貝母（三錢）　瓜蔞皮（三錢）　川石斛（三錢）　天花粉（三錢）　冬瓜子（四錢）　生穀芽（四錢）　廣皮白（五分）　鮮竹茹（一錢）</p>
<p>（案25）（咳兼痔）陰血久虛，肝陽上升，消灼肺胃陰液，氣機肅降無權。嗆咳，內熱，口乾，脘悶，喉際作梗，頭眩神倦，痰味熱腥，痔瘡下血。濕熱內蘊已著，脈來細數。治宜清肝和胃，肅肺化濕。</p>
<p>冬青子（三錢）　鮮生地（八錢）　南沙參（四錢）　炒槐米（三錢）　地榆炭（一錢半）　川貝母（三錢）　瓜蔞皮（三錢）　川石斛（三錢）　鮮竹茹（一錢）　冬瓜子（四錢）　生穀芽（四錢）　甜杏仁（三錢）　忍冬藤（三錢）</p>
<p>（案26）（咳兼濕痰入絡）本案重出，見「經絡病」（案11）。</p>
<p>（案27）（咳兼喘）濕痰漸化，肺金清肅之令下行，嗆咳氣喘未發。惟飲食過多不易消化，胸脘氣覺不舒。脾土未健，運化無權，脈來沉細。治宜甘溫運脾，化痰肅肺。</p>
<p>吉林參鬚（八分）　全當歸（二錢）　生苡仁（三錢）　生杜仲（三錢）　香櫞皮（一錢）　黑料豆（三錢）　薄橘紅（一錢）　製半夏（一錢半）　江枳實（一錢）　海浮石（三錢）　瓜蔞皮（三錢）　川貝母（三錢）　六神麯（三錢）　甜杏仁（三錢）　紫蘇子（一錢半）　炙紫菀（一錢半）　冬瓜子（三錢）</p>

<h1>五、外感</h1>
<p>（案1）本案重出，見「咳」（案4）。</p>
<p>（案2）外感風邪，化熱灼津，肺失清肅，發熱已經三候未解，日輕夜重，每逢子時其熱更熾，交寅方覺輕減。近日大便泄瀉，肺邪下迫大腸，傳道失職，津液愈傷，氣失所養，中無砥柱，肌肉消瘦，面浮肢腫，苔白不渴，脈來細弱。邪少虛多，脫象已著，姑擬生津，兼泄邪法以望轉機。</p>
<p>別直參（一錢）　茅蒼朮（一錢）　川桂枝（八分）　生白芍（一錢半）　生甘草（五分）　陳廣皮（一錢）　老蘇梗（三錢）　赤茯苓（二錢）　青防風（一錢）　生熟穀芽（各四錢）　姜半夏（一錢半）</p>
<p>（案3）外感風邪，挾食滯淆亂清濁，升降失常。大便泄瀉，少腹作痛，頭眩且脹，口乾苔白，脈來弦細。虛體受邪，必以祛邪為先，外解風寒，內消食滯，清濁自分，邪退正安，河間治法不外乎此。治宜泄邪消食，升清降濁。</p>
<p>老蘇梗（一錢半）　嫩桔梗（一錢）　粉葛根（二錢）　生草（五分）　六神麯（四錢）　江枳殼（一錢）　赤茯苓（二錢）　冬瓜子（四錢）　川通草（五分）　車前子（二錢）　川石斛（三錢）　香連丸（一錢）　生熟穀芽（各四錢）　荷葉（一角）</p>
<p>（案4）進泄邪消食、升清降濁法，發熱已退，邪從外泄。惟內陷腸胃之邪，因體虛氣弱，難以外透，挾食滯耗氣灼營，泄瀉轉為痢疾，紅白俱下，少腹作痛，舌苔白膩，口不作干，脈來弦細。脈症細參，正虛邪陷，非養正透邪，下痢安有止期？症勢非可輕視。治宜補散兼行，佐以消導。</p>
<p>嫩桔梗（一錢）　粉葛根（二錢）　荊芥穗（一錢）　青防風（一錢）　荷葉（一角）　吉林參鬚（一錢）　生白朮（一錢）　生甘草（五分）　茅蒼朮（一錢）　赤茯苓（二錢）　焦山楂（三錢）　六神麯（三錢）　江枳殼（一錢）　大腹皮（二錢）　陳廣皮（一錢）</p>
<p>（案5）濕熱已化，清升濁降，下痢已止，大便雖溏頗暢。前日惡寒發熱，風邪乘虛而入，遏抑營衛，內熱口乾，餘邪未清，胃失降令，脈來弦滑。治宜清餘邪，甘潤和胃。</p>
<p>淡豆豉（三錢）　黑山梔（二錢）　川石斛（三錢）　赤苓（三錢）　冬瓜子（四錢）　生甘草（五分）　大貝母（三錢）　廣皮白（八分）　生熟穀芽（各四錢）　鮮荷梗（五寸）</p>
<p>（案6）感受風寒，挾素蘊之濕痰，阻塞氣機，肺不清肅，胃不宣通。脘悶腹痛，二便不甚通利，嘔吐痰水，肢節陰酸，神倦力乏，脈來浮弦。治宜泄邪化痰，肅肺和胃。</p>
<p>老蘇梗（三錢）　冬桑葉（一錢半）　酒川連（二分）　淡吳萸（二分）　冬瓜子（四錢）　薄橘紅（八分）　淡竹茹（一錢半）　荷梗（一尺）　白茯苓（三錢）　光杏仁（三錢）　生熟穀芽（各四錢）</p>
<p>（案7）本案重出，見「咳」（案21）。</p>
<p>（案8）風邪外解，榮衛流行，惡寒發熱已退。惟知飢少納，頭昏神倦。胃氣未和，宣布無權，調和胃氣，不外甘平。脈來細弱。治宜甘平養胃。</p>
<p>人參鬚（五分）　北沙參（四錢）　大白芍（一錢半）　粉甘草（五分）　白茯苓（三錢）　女貞子（三錢）　甜川貝（三錢）　瓜蔞皮（三錢）　薄橘紅（八分）　冬瓜子（四錢）　生熟穀芽（各四錢）　紅棗（五枚）</p>
<p>（案9）外感風寒，肺失清肅之權。惡寒咳嗽，小溲色黃，胸脘不舒，納穀無多。濕痰阻胃，氣不通降，脈來浮弦。治宜泄邪肅肺，化痰和胃。</p>
<p>光杏仁（三錢）　老蘇梗（三錢）　粉甘草（五分）　茯苓皮（三錢）　淨蟬衣（一錢半）　大貝母（三錢）　薄橘紅（一錢）　冬瓜子（四錢）　生熟穀芽（各四錢）　川通草（五分）　荷葉（一角）</p>

<h1>六、頭眩痛</h1>
<p>（案1）本案重出，見「濕痰」（案1）。</p>
<p>（案2）脾腎久虛，肝陽上升，挾痰耗氣灼榮，流灌失職。內熱口乾，苔膩頭眩，胸腹結塊作痛。氣聚則凝，氣散則平，病在無形之氣，不在有形之血。脈來弦細。治宜益腎清肝，運脾化痰。</p>
<p>生白芍（一錢半）　左牡蠣（四錢）　宣木瓜（一錢半）　川楝肉（一錢半）　川石斛（三錢）　北沙參（四錢）　冬瓜子（四錢）　瓜蔞皮（三錢）　生草（五分）　生熟穀芽（各四錢）　廣皮白（五分）　酒川連（二分）　淡吳萸（二分）　鮮竹茹（一錢）　金香附（一錢半）</p>
<p>（案3）《經》謂「諸風掉眩，皆屬於肝」，又謂「肝開竅於目」。頭眩作痛偏左，時常眼花，肝陽上升，挾痰灼陰，痰熱蘊結已著，勞動口乾，陰虛陽盛，脈來沉弦而滑。治宜益腎清肝，兼化痰熱。</p>
<p>女貞子（三錢）　生白芍（一錢半）　生甘草（五分）　川貝母（三錢）　川石斛（三錢）　大麥冬（三錢）　瓜蔞根（三錢）　杭甘菊（二錢）　黑料豆（三錢）　北沙參（四錢）　鮮竹茹（一錢）　生熟穀芽（各四錢）</p>
<p>（案4）本案重出，見「咳」（案8）。</p>
<p>（案5）本案重出，見「經絡病」（案5）。</p>
<p>（案6）本案重出，見「經絡病」（案6）。</p>
<p>（案7）肝當衝脈，衝任隸於陽明，榮血久虛，肝陽上灼胃陰，衝任失司。月事愆期，胸腹脹痛，納穀不易消化，嘔吐頭眩，脈來弦細。養血清肝，頗為合度，宜宗前法更進一籌。</p>
<p>陳廣皮（一錢）　製半夏（一錢半）　川楝肉（一錢半）　生白芍（一錢半）　生熟穀芽（各四錢）　女貞子（三錢）　宣木瓜（一錢半）　炙內金（二錢）　炒竹茹（一錢）　左牡蠣（四錢）　金香附（一錢半）　小胡麻（二錢）　吉林參鬚（八分）　北沙參（四錢）　紅棗（五枚）</p>
<p>（案8）榮血久虛，肝陽上亢，銷灼胃陰，胃失降令。胸脘不舒，內熱口乾，甚則頭眩，居經不行已三閱月，脈來沉弦而滑。治宜養血清肝，兼和胃氣。</p>
<p>北沙參（四錢）　女貞子（三錢）　川貝母（三錢）　生甘草（五分）　廣皮白（五分）　川石斛（三錢）　雲茯苓（三錢）　冬瓜子（四錢）　大麥冬（二錢）　鉤藤鉤（一錢半）　生熟穀芽（各四錢）</p>
<p>（案9）本案重出，見「經絡病」（案9）。</p>
<p>（案10）陰血久虛，肝陽升騰無制，胃失降令。胸腹脹痛，納穀無多，內熱口乾，苔膩頭眩，月事不調，脈來沉細而弦。治宜養血清肝，兼和胃氣。</p>
<p>生白芍（一錢半）　左牡蠣（四錢）　川楝肉（一錢半）　宣木瓜（一錢半）　川石斛（三錢）　北沙參（四錢）　陳廣皮（一錢）　雞內金（三錢）　小胡麻（二錢）　白茯苓（三錢）　冬瓜子皮（各四錢）　生熟穀芽（各四錢）</p>
<p>（案11）本案重出，見「濕痰」（案11）。</p>
<p>（案12）陰血內損，不能濡潤諸經，頭眩目燥，脘悶腹脹，神疲力乏，腿足陰酸，肝陽升騰無制，銷灼胃陰，胃失降令，脈來沉細而弦。治宜培補陰血，兼潛肝陽。</p>
<p>南沙參（四錢）　生白芍（一錢半）　大生地（四錢）　生杜仲（三錢）　生草（五分）　大麥冬（三錢）　黑料豆（三錢）　女貞子（三錢）　川貝母（三錢）　燈芯（三尺）　冬桑葉（一錢半）　冬瓜子（四錢）　川石斛（三錢）　生熟穀芽（各四錢）</p>
<p>（案13）榮血久虛，肝陽上亢，銷鑠胃陰，胃失降令。胸腹作痛，內熱口乾，甚則頭眩。調胃必先平肝，木火不升，胃氣自降。脈來沉弦而滑。治宜養血平肝，兼和胃氣。</p>
<p>大白芍（一錢半）　左牡蠣（四錢）　川楝肉（一錢半）　宣木瓜（一錢半）　川石斛（三錢）　北沙參（四錢）　金香附（一錢半）　大麥冬（三錢）　陳廣皮（一錢）　冬瓜子（四錢）　生熟穀芽（各四錢）</p>
<p>（案14）陰血內損，肝陽升騰無制，挾痰熱上阻清道。頭眩欲跌，內熱口乾。《經》謂「諸風掉眩，皆屬於肝」，肝為剛藏，非柔不和。脈來細弦而滑。治宜養陰清肝，兼化痰熱。</p>
<p>川貝母（三錢）　瓜蔞皮（三錢）　女貞子（三錢）　左牡蠣（四錢）　黑料豆（三錢）　南沙參（三錢）　大麥冬（三錢）　川石斛（三錢）　薄橘紅（八分）　鮮竹茹（一錢）　雲茯苓（二錢）　鉤鉤（一錢半）　荸薺（五枚）</p>
<p>（案15）脾腎久虛，中無砥柱之權，下少生髮之氣，積濕生痰，積痰生熱，銷鑠肺陰。鼻塞頭痛，內熱口乾，脈來虛弦。治宜益腎運脾，化痰肅肺。</p>
<p>冬青子（三錢）　杭菊花（三錢）　南沙參（四錢）　生甘草（五分）　象貝母（三錢）　瓜蔞皮（三錢）　金石斛（三錢）　冬瓜子仁（四錢）　茯苓皮（三錢）　鮮竹茹（一錢半）　廣皮白（五分）　荷葉邊（八分）</p>
<p>（案16）榮血久虛，肝陽上升，銷鑠胃陰，胃氣宣布無權。胸脘不舒，納穀不易消化，大便溏泄，心悸內熱，頭眩，苔膩，髮際起塊結痂，脈來細弦。治宜養血清肝，兼和胃氣。</p>
<p>吉林參鬚（五分）　北沙參（四錢）　大麥冬（三錢）　白茯苓（三錢）　大白芍（一錢半）　生甘草（五分）　川石斛（三錢）　炙內金（二錢）　地膚子（二錢）　冬瓜子（四錢）　薄橘紅（八分）　生熟穀芽（各四錢）　紅棗（五枚）</p>
<p>（案17）肝當衝脈，衝任隸於陽明，肝陽上灼胃陰，衝任失司，帶脈約束無權，月事淋漓，白帶時下，乳脹，內熱口乾，頭眩，腹痛作惡，納穀無多，屢發喉痹，紅腫痛，脈來細弦而數。治宜養血清肝，兼益胃陰。</p>
<p>生白芍（一錢半）　女貞子（三錢）　川楝肉（一錢半）　生甘草（五分）　廣皮白（五分）　西洋參（一錢）　京元參（一錢）　鮮生地（四錢）　白茯苓（三錢）　蓮子（十粒）　川石斛（三錢）　冬瓜子（四錢）　生穀芽（四錢）　鮮竹茹（一錢）</p>

<h1>七、吐血</h1>
<p>（案1）肺有蘊熱，耗氣灼榮，絡血上溢。今早咯血，口乾不欲多飲。痰為熱遏，無從宣泄，清肅無權，已可概見。脈來弦細。治宜化痰清熱，兼肅肺氣。</p>
<p>京元參（一錢）　牡丹皮（一錢半）　鮮竹茹（一錢）　冬瓜子（四錢）　白茅根（去心，二錢）　川石斛（三錢）　川貝母（二錢）　瓜蔞皮（三錢）</p>
<p>（案2）胸腹作痛，牽引腰背，納穀無多，吐血而痛不減。病不在血而在氣，肝陽上升，挾濕痰阻塞胃氣，宣布無權。脈來弦細。治宜養血清肝，化痰和胃頗合，宜宗前法進治。</p>
<p>生白芍（一錢半）　全當歸（二錢）　吉林參鬚（五分）　白茯苓（三錢）　生甘草（五分）　陳廣皮（一錢）　製半夏（一錢半）　生杜仲（三錢）　枸杞子（三錢）　金香附（一錢半）　蓽澄茄（一錢半）　補骨脂（一錢）　生熟穀芽（各四錢）</p>
<p>（案3）肝陽升騰之勢漸平，津液宣布。日晡凜寒肌熱已退，每早痰內帶血雖減未止。脾腎久虛，痰熱灼陰耗氣。脈來沉細。治宜脾腎並培，清化痰熱。</p>
<p>西洋參（一錢半）　京元參（一錢半）　大鮮生地（各三錢）　冬青子（三錢）　生白芍（一錢半）　生甘草（五分）　左牡蠣（四錢）　鮮竹茹（一錢）　甜川貝（三錢）　瓜蔞皮（三錢）　川石斛（三錢）　天花粉（三錢）　生穀芽（四錢）　冬瓜子（四錢）　冬蟲草（五分）　梨（五片）</p>
<p>（案4）本案重出，見「咳」（案22）。</p>

<h1>八、衄</h1>
<p>（案1）《經》謂「腎藏精」，又謂「肺開竅於鼻」，腎陰久虛，封藏不固。屢次遺精，鼻塞且衄。氣逆痰多，肝陽上灼肺陰，清肅無權。脈來沉弦而滑。治宜益腎清肝，化痰肅肺。</p>
<p>冬青子（三錢）　南沙參（四錢）　生甘草（五分）　杭菊花（二錢）　川石斛（三錢）　京元參（一錢）　瓜蔞皮（三錢）　冬瓜仁（三錢）　鮮竹茹（一錢）　廣皮白（五分）　生穀芽（四錢）　燈芯（三尺）</p>
<p>膏方：加北沙參（四錢）　黑料豆（三錢）</p>
<p>（案2）內熱、鼻衄皆退，肺金清肅之令下行。惟脾土未健，積濕阻胃，宣布無權。肚腹作痛，即欲大便，納穀無多，脈來細弦。治宜健脾化濕，兼和胃氣。</p>
<p>吉林參鬚（五分）　南沙參（四錢）　川石斛（三錢）　白茯苓（二錢）　六神麯（三錢）　大白芍（一錢半）　川楝肉（一錢半）　炙內金（三錢）　生甘草（五分）　南楂炭（三錢）　陳廣皮（一錢）　冬瓜子（四錢）　生熟穀芽（各四錢）</p>

<h1>九、嘔吐</h1>
<p>（案1）本案重出，見「濕痰」（案9）。</p>
<p>（案2）本案重出，見「經絡病」（案7）。</p>
<p>（案3）風邪外解，榮衛流行。惡寒發熱已止，胸脅作痛、嘔吐清水雖減，未盡退，痰阻喉際，咯不易出，居經不行已三閱月。濕痰阻胃，宣布無權。脈弦略退，沉滑如常。宜宗前法進治。</p>
<p>酒炒川連（二分）　淡吳萸（二分）　薄橘紅（一錢）　製半夏（一錢半）　淡竹茹（一錢）　金香附（一錢半）　光杏仁（三錢）　冬瓜子（四錢）　赤茯苓（三錢）　白蔻殼（一錢）　生熟穀芽（各四錢）</p>
<p>（案4）本案重出，見「頭眩痛」（案7）。</p>
<p>（案5）本案重出，見「外感」（案6）。</p>

<h1>十、胸脘痛腹痛</h1>
<p>（案1）本案重出，見「濕痰」（案3）。</p>
<p>（案2）本案重出，見「咳」（案4）。</p>
<p>（案3）本案重出，見「經絡病」（案3）。</p>
<p>（案4）本案重出，見「濕痰」（案5）。</p>
<p>（案5）肝鬱氣逆，胃失降令。胸脘脹痛。舉發無常，甚則口多涎沫。調胃必先平肝，木能條達，胃自宣通。脈來沉弦。治宜養血柔肝，兼和胃。</p>
<p>陳廣皮（一錢）　製半夏（一錢半）　臺烏藥（一錢）　蓽澄茄（一錢）　金香附（一錢半）　淡吳萸（二分）　大白芍（一錢半）　生甘草（五分）　冬瓜子（四錢）　赤茯苓（三錢）　生熟穀芽（各四錢）　煨姜（二片）　紅棗（五枚）</p>
<p>（案6）本案重出，見「濕熱」（案4）。</p>
<p>（案7）肝氣上升，挾素蘊之濕痰，阻塞胃氣，宣布無權。胸腹脹痛，腰腿陰酸，頭眩口乾，腿足破皮，時有脂水，月事愆期，脈來弦細。治宜調肝化濕，消痰和胃。</p>
<p>生白芍（一錢半）　左牡蠣（四錢）　宣木瓜（一錢半）　冬瓜子皮（各三錢）　小胡麻（二錢）　連皮苓（四錢）　北沙參（四錢）　川石斛（三錢）　生熟穀芽（各四錢）　雞內金（二錢）　陳廣皮（一錢）　川萆薢（三錢）　地膚子（三錢）　川楝肉（一錢半）</p>
<p>（案8）本案重出，見「吐血」（案2）。</p>
<p>（案9）本案重出，見「頭眩痛」（案2）。</p>
<p>（案10）本案重出，見「嘔吐」（案3）。</p>
<p>（案11）本案重出，見「頭眩痛」（案7）。</p>
<p>（案12）本案重出，見「經絡病」（案9）。</p>
<p>（案13）本案重出，見「頭眩痛」（案10）。</p>
<p>（案14）木火升騰無制，挾素蘊之濕痰，阻塞氣機，宣布無權。胸腹作痛，心悸，內熱口乾，頭眩，赤白帶下，甚則腰痠，脈來細弦而數。治宜養陰清火，兼化濕熱。</p>
<p>南沙參（四錢）　大麥冬（三錢）　柏子仁（二錢）　酒黃連（二分）　淡吳萸（二分）　女貞子（三錢）　生白芍（一錢半）　剪芡實（三錢）　川黃柏（五分）　生杜仲（三錢）　薄橘紅（八分）　車前子（二錢）　生熟穀芽（各四錢）　銀杏肉（十粒）</p>
<p>（案15）本案重出，見「外感」（案6）。</p>
<p>（案16）本案重出，見「頭眩痛」（案13）。</p>
<p>（案17）本案重出，見「濕痰」（案12）。</p>
<p>（案18）本案重出，見「濕痰」（案13）。</p>
<p>（案19）榮血久虛，肝氣上升犯胃，陽明宣布無權。胸腹作痛，牽引腰背，納穀無多，脈來沉弦而滑。久延有噎膈之虞，治宜養血調肝，兼和胃氣。</p>
<p>大白芍（一錢半）　左牡蠣（四錢）　宣木瓜（一錢半）　川楝子（一錢半）　廣陳皮（一錢）　製半夏（一錢半）　酒黃連（一分）　淡吳萸（一分）　白茯苓（三錢）　北沙參（四錢）　冬瓜子（四錢）　生熟穀芽（各四錢）</p>
<p>（案20）本案重出，見「濕痰」（案14）。</p>
<p>（案21）恙由傷風咳嗽而起，久咳傷肺，清肅無權，濕熱無從宣泄，上蒸清道。嗆咳牽引胸腹作痛，頭面、頸項、手臂起顆結塊，濕熱為病已著，脈來弦細而數。治宜清化濕熱，兼肅肺氣。</p>
<p>南沙參（四錢）　京元參（一錢）　生甘草（五分）　鮮生地（四錢）　茯苓皮（四錢）　地膚子（三錢）　冬瓜子（四錢）　甜川貝（三錢）　瓜蔞皮（三錢）　川石斛（三錢）　生穀芽（四錢）　鮮竹茹（二錢）　燈芯（三尺）</p>
<p>（案22）陰血久虛，肝陽上升，銷鑠胃陰，胃失降令。胸腹脹痛，結塊甚多，懊憹嘔吐，內熱口乾，頭眩驚惕，脈來沉細而弦。治宜養血清肝，調和胃氣。</p>
<p>吉林參鬚（五分）　西洋參（一錢）　大麥冬（三錢）　大白芍（一錢半）　左牡蠣（四錢）　川楝肉（一錢半）　花龍齒（二錢）　川石斛（三錢）　甜川貝（二錢）　薄橘紅（八分）　冬瓜子皮（各四錢）　鮮竹茹（一錢）　生熟穀芽（各四錢）</p>

<h1>十一、情志</h1>
<p>（案1）抑鬱傷肝，火升無制，挾痰銷鑠心營，神魂飛越，入夜尤甚。夜不成寐，喜笑囈語，坐立偏倚。《經》謂：神傷則恐懼自失，魂傷則不正當人。脈來沉細而弦。治宜清火化痰，鎮魂安神。</p>
<p>北沙參（四錢）　大麥冬（三錢）　云茯神（二錢）　左牡蠣（四錢）　花龍齒（二錢）　炙鱉甲（四錢）　羚羊角（五分）　犀角尖（五分）　甜川貝（三錢）　薄橘紅（一錢）　陳膽星（五分）　鮮竹瀝（二兩）　生草（五分）　燈芯（三尺）</p>
<p>（案2）肝陽上亢，挾濕痰矇蔽包絡，神明無主，如浮雲蔽日，雖照無光。神識乍清乍昧，時常喜笑，夜不成寐，包絡受病已無疑義。大便燥結，必須五六日一行，或肌熱，或手足心內熱，無非痰火灼陰見症，辛涼清熱未免耗氣傷津。脈來弦滑。清通神明，降火消痰頗為合度，宜宗前法，更進一籌。</p>
<p>北沙參（四錢）　京元參（一錢）　云茯神（二錢）　細木通（一錢）　薄橘紅（一錢）　川貝母（二錢）　天竺黃（五分）　陳膽星（五分）　瓜蔞皮（三錢）　江枳殼（一錢）　鮮竹茹（一錢）　鉤藤鉤（一錢半）　荸薺（五枚）　甜杏仁（三錢）　川黃連（一分）　牛黃末（過服，五釐）</p>
<p>（案3）外邪不從外泄，自肺內陷包絡，神明出入之竅皆閉。牙關緊強，神昏不語，戴眼肢掣，肝風鼓動，脈象模糊，危在旦夕。昨夜嘔吐，便通，邪仍不解，交陰更甚平日，陰虛火旺，已可概見。姑擬芳香宣竅，豁痰生津法，聊盡人事，以待天眷。</p>
<p>紫雪丹（五分）　川貝母（三錢）　川石斛（三錢）　鉤鉤（一錢半）　生甘草（五分）　生穀芽（四錢）　淡竹瀝（二兩）</p>
<p>（案4）本案重出，見「咳」（案7）。</p>
<p>（案5）本案重出，見「咳」（案8）。</p>
<p>（案6）水不涵木，肝陽升騰無制，挾素蘊之痰熱，上阻包絡，心不自主。神思恍惚，疑慮驚恐，時常健忘，脈來沉弦而滑。抱恙日久，根蒂已深。治宜清通神明，調肝化痰。</p>
<p>大丹參（三錢）　大麥冬（二錢）　天竺黃（五分）　云茯神（二錢）　川黃連（酒炒，一分）　細木通（酒炒，一錢）　薄橘紅（五分）　海浮石（三錢）　鮮竹茹（一錢半）　瓜蔞皮（三錢）　川貝母（三錢）　荸薺（去皮，打，五枚）</p>
<p>（案7）本案重出，見「頭眩痛」（案5）。</p>
<p>（案8）肝火上升，挾胃中痰熱矇蔽包絡，神明無主，如浮雲蔽日，雖照無光。神識迷昧，語言無次，時帶喜笑，脈來沉細而弦。抱恙多年，根深蒂固。治宜清通神明，降火化痰。</p>
<p>北沙參（四錢）　京元參（一錢）　川黃連（一分）　細木通（一錢）　云茯神（一錢）　天竺黃（五分）　鮮竹茹（一錢）　薄橘紅（一錢）　瓜蔞皮（三錢）　川貝母（二錢）　天花粉（三錢）　川石斛（三錢）　陳膽星（五分）　江枳殼（一錢）　大麥冬（三錢）　荸薺（打碎，五枚）　鉤藤鉤（一錢半）</p>

<h1>十二、心悸</h1>
<p>（案1）本案重出，見「咳」（案8）。</p>
<p>（案2）本案重出，見「頭眩痛」（案16）。</p>

<h1>十三、不寐</h1>
<p>（案1）陰血久虛，肝陽上升，挾素蘊之濕熱，銷鑠胃陰心營，心腎不交。夜寐不酣，喉痛目燥，牙關流血，作惡欲吐，腰痠帶下，下體起顆作癢，脈來細弦而數。治宜養陰清肝，化濕和胃。</p>
<p>京元參（一錢）　北沙參（四錢）　鮮生地（四錢）　小麥冬（三錢）　鮮竹茹（一錢）　云茯神（三錢）　女貞子（三錢）　川楝肉（一錢半）　甜川貝（三錢）　冬瓜子（四錢）　川石斛（三錢）　瓜蔞根（三錢）　川黃柏（五分）　車前子（二錢）　生穀芽（四錢）　真珠粉（五釐）　牛黃末（五釐，同過服）</p>
<p>（案2）濕痰漸化，胃氣下降，胸腹脹痛較前已減。惟大便溏泄，每日五六次，納穀無多，夜寐不酣，脾土未健，運化失職，脈弦略退，沉細仍然。治宜健脾化濕，兼和胃氣。</p>
<p>南沙參（三錢）　赤茯苓（三錢）　大白芍（一錢半）　生甘草（五分）　酒黃連（一分）　淡吳萸（一分）　陳廣皮（一錢）　冬瓜子皮（各四錢）　嫩桔梗（一錢）　生枳殼（一錢）　生熟穀芽（各四錢）</p>

<h1>十四、喘哮</h1>
<p>（案1）濕痰漸化，肺氣下降，喘哮較前已減，而舉發無定。喉際痰聲漉漉，寢食俱廢。脾腎久虛，攝納無權。脈弦略退，沉滑仍然。宜宗前法進治。</p>
<p>吉林參鬚（五分）　全當歸（二錢）　白茯苓（三錢）　生苡仁（三錢）　薄橘紅（一錢）　製半夏（一錢半）　甜川貝（三錢）　全瓜蔞（三錢）　海浮石（三錢）　紫蘇子（一錢半）　甜杏仁（三錢）　冬瓜子（四錢）　炙紫菀（一錢）　生杜仲（三錢）　款冬花（一錢半）</p>

<h1>十五、肺腎病</h1>
<p>（案1）本案重出，見「衄」（案1）。</p>

<h1>十六、失音</h1>
<p>（案1）《經》謂「肺屬金，主聲音」，水不涵木，肝陽上爍肺陰，清肅無權，失音已經半載。向來遺精，耳鳴氣急。腎陰久虛，封藏不固。脈來沉細而弦。勢已入損，治宜益腎清肝，化痰養肺。</p>
<p>女貞子（三錢）　黑料豆（三錢）　石菖蒲（二錢）　北沙參（四錢）　瓜蔞皮（三錢）　生甘草（五分）　川石斛（三錢）　川貝母（三錢）　荷葉梗（並用）</p>
<p>（案2）《經》謂「肺屬金，主聲音」，肝火上升，銷鑠肺陰，清肅無權。嗆咳音喑，咽喉紅痛，入夜內熱，脈來弦數。勢已成損，姑擬益腎清肝，養肺消痰。</p>
<p>南沙參（四錢）　生甘草（五分）　大貝母（三錢）　京元參（二錢）　瓜蔞皮（二錢）　冬瓜子（三錢）　廣皮白（八分）　女貞子（三錢）　毛燕（三錢，絹包煎湯代水）</p>

<h1>十七、咽喉</h1>
<p>（案1）肝陽上升之勢已平，津液宣布，咽喉白腐、齒浮且痛、手足心內熱皆退，痰熱雖化而未盡淨，脈弦已減，沉滑如常。治宜清化痰熱，兼育陰制陽法。</p>
<p>南沙參（四錢）　京元參（一錢）　鮮生地（四錢）　冬青子（三錢）　牡丹皮（一錢半）　生甘草（五分）　杭菊花（一錢半）　甜川貝（三錢）　瓜蔞皮（三錢）　川石斛（三錢）　天花粉（二錢）　冬瓜子（四錢）　生穀芽（四錢）　鮮竹茹（一錢）　荸薺（五枚）</p>
<p>（案2）本案重出，見「不寐」（案1）。</p>
<p>（案3）陰血久虛，肝陽升騰無制，挾痰熱銷鑠胃陰，津液宣布無權。蒂丁色紅作痛，喉起紅顆，頭眩且疼，內熱口乾，脈來細弦而數。治宜養陰清肝，化痰和胃。</p>
<p>南沙參（四錢）　京元參（一錢）　大麥冬（三錢）　瓜蔞皮（三錢）　牡丹皮（一錢半）　杭菊花（一錢半）　甜川貝（三錢）　生穀芽（四錢）　川石斛（三錢）　冬瓜子（三錢）　鮮生地（三錢）　捲心竹葉（二錢）　燈芯（三尺）　荸薺（去皮，五枚）</p>
<p>（案4）本案重出，見「頭眩痛」（案17）。</p>

<h1>十八、泄瀉</h1>
<p>（案1）本案重出，見「外感」（案3）。</p>
<p>（案2）本案重出，見「濕熱」（案4）。</p>

<h1>十九、痢疾</h1>
<p>（案1）本案重出，見「外感」（案4）。</p>
<p>（案2）本案重出，見「外感」（案5）。</p>
<p>止痢良方</p>
<p>川石斛（三錢）　生甘草（三分）　赤茯苓（三錢）　冬桑葉（一錢）　冬瓜子（四錢）　川通草（五分）　陳廣皮（五分）　車前子（二錢）　生熟穀芽（各四錢）　荷葉（一角）</p>
<p>渴者去陳皮，不渴者去石斛</p>
<p>止嘔痢方</p>
<p>廣藿香（三錢）　廣木香（五分）　生甘草（五分）　酒川連（五分）　酒黃芩（一錢）　車前子（二錢）　細木通（酒炒，一錢）　鮮荷葉（一角）</p>
<p>（案3）赤白下痢，肚腹作痛，裡急後重，惡寒發熱，淆亂清濁，升降失常，頭痛口渴，飲食不思。暑濕內蘊，風邪外襲。治宜表裡兼解。</p>
<p>青防風（一錢半）　黑荊芥（一錢半）　粉葛根（三錢）　嫩桔梗（一錢）　江枳殼（一錢）　淡黃芩（一錢）　細木通（一錢）　六神麯（四錢）　焦山楂（三錢）　京赤芍（一錢半）　香連丸（一錢）　六一散（三錢）　荷葉（一角）</p>
<p>（案4）恙由下痢而起，迄今三月，大便仍帶紅，氣覺下墜，口乾苔膩。脾虛弱，濕熱蘊結，脈弦細。治宜益氣培脾，兼化濕熱。</p>
<p>吉林參鬚（一錢）　北沙參（四錢）　白茯苓（二錢）　生白朮（一錢）　茅蒼朮（一錢半）　川石斛（三錢）　薄橘紅（一錢）　川楝肉（一錢半）　冬瓜子（四錢）　大白芍（一錢半）　生甘草（五分）　生熟穀芽（各四錢）　紅棗（五枚）</p>

<h1>二十、脫肛</h1>
<p>（案1）脫肛作痛，時常帶血。脾土久虛，中無砥柱，濕熱下注，銷鑠營陰，腎陰更虧，肝陽上升，挾濕痰阻氣。胸脘不舒，內熱口乾，脈來沉細而弦。治宜益腎清肝。</p>
<p>北沙參（四錢）　冬瓜子（三錢）　赤茯苓（二錢）　大麥冬（三錢）　炒槐米（三錢）　川石斛（三錢）　川楝肉（切，一錢半）　冬青子（四錢）　生穀芽（四錢）　薄橘紅（七分）　生杜仲（三錢）　忍冬藤（三錢）</p>
<p>改方：加西洋參（一錢）　黑料豆（三錢）</p>

<h1>二十一、痔瘡</h1>
<p>（案1）本案重出，見「咳」（案25）。</p>

<h1>二十二、疝</h1>
<p>（案1）本案重出，見「咳」（案9）。</p>

<h1>二十三、遺精</h1>
<p>（案1）本案重出，見「濕熱」（案6）。</p>
<p>（案2）本案重出，見「衄」（案1）。</p>
<p>（案3）本案重出，見「經絡病」（案6）。</p>
<p>（案4）本案重出，見「咳」（案10）。</p>
<p>（案5）本案重出，見「失音」（案1）。</p>
<p>（案6）《經》謂「腎藏精」，屢次遺精，腎陰久虛，封藏不固，已可概見。勞力傷脾，中無砥柱，精神萎頓，四肢無力，脈來沉細而弦。治宜脾腎並補，兼固精氣。</p>
<p>吉林參鬚（五分）　西洋參（一錢）　大麥冬（三錢）　左牡蠣（四錢）　女貞子（三錢）　大白芍（一錢半）　川石斛（三錢）　生甘草（五分）　陳廣皮（一錢）　冬瓜子（四錢）　生熟穀芽（各四錢）　荷葉（一角）</p>
<p>（案7）肝陽疏泄之勢漸平，下元封藏已固，遺精已止，內熱、盜汗均退。惟間或口乾，勞動氣急，腎陰尚虛，氣不收納。《經》謂「損其腎者益其精」，脈來細緩。治宜補腎益氣，兼清肝陽。</p>
<p>西洋參（二錢）　大麥冬（三錢）　上沉香（二分）　大生地（三錢）　生杜仲（三錢）　左牡蠣（四錢）　花龍齒（二錢）　冬青子（三錢）　生白芍（一錢半）　川石斛（三錢）　生甘草（五分）　薄橘紅（八分）　佩蘭葉（一錢）　冬瓜子（四錢）　生熟穀芽（各四錢）　蓮子（去心，十粒）</p>
<p>（案8）脾腎久虛，中無砥柱之權，下失封藏之固，屢次遺精，胸腹作脹，嗆咳氣急。積濕生痰，阻塞肺胃，氣不通降，脈來弦滑。治宜脾腎並培，兼化濕痰。</p>
<p>冬青子（二錢）　大白芍（一錢半）　左牡蠣（四錢）　生杜仲（三錢）　大貝母（三錢）　瓜蔞皮（三錢）　南沙參（四錢）　薄橘紅（八分）　冬瓜子（四錢）　甜杏仁（三錢）　炙內金（三錢）　生熟穀芽（各四錢）</p>

<h1>二十四、白濁</h1>
<p>（案1）餐飯已加，入夜能寐，尚未酣暢，流濁已經匝月，莖中作癢，牽引後陰，覺熱，小溲短數，間或咳嗽。腎陰久虛，濕熱內蘊，氣化無權。脈來弦細。宜宗前法進治。</p>
<p>冬青子（三錢）　川楝肉（一錢半）　川石斛（三錢）　黑山梔（一錢半）　云茯神（二錢）　南沙參（四錢）　瓜蔞根（四錢）　淡豆豉（三錢）　瓜蔞皮（三錢）　大貝母（三錢）　冬瓜子（四錢）　生穀芽（四錢）　廣皮白（五分）　鮮竹茹（一錢）　銀杏肉（十粒）</p>

<h1>二十五、蟲</h1>
<p>（案1）本案重出，見「濕熱」（案2）。</p>

<h1>二十六、費繩甫先生驗方</h1>
<p>（平湖馮氏服愈傳來）</p>
<p>腰為腎府，腎虛腰痛，頭痛眼花，內熱口乾，腿足陰酸，木少水涵，肝陽上亢，挾痰銷鑠肺陰，清肅無權，間或嗆咳，脈來沉弦而滑。治宜益腎清肝，兼化濕痰（服廿帖，四月廿九日）。</p>
<p>黑料豆（三錢）　女貞子（三錢）　生杜仲（三錢）　生白芍（一錢半）　生甘草（五分）　北沙參（四錢）　杭菊花（一錢半）　甜川貝（三錢）　川石斛（三錢）　瓜蔞根（三錢）　冬瓜子（四錢）　廣皮白（八分）　桑枝（三錢）</p>
<p>肝陽升騰之勢漸平，內熱口乾較前已減，腰痛、咳嗆、腿足陰酸雖減未止，大小便時懍寒，甚則頭痛。肺腎陰虛，痰熱蘊結。脈弦略退，細滑仍然。宜宗前法進治（五月廿七，服三十帖）。</p>
<p>生白芍（一錢半）　生甘草（五分）　女貞子（三錢）　生杜仲（三錢）　燕窩根（一錢半）　京元參（三錢）　北沙參（四錢）　鮮生地（四錢）　杭菊花（一錢半）　甜川貝（三錢）　川石斛（三錢）　瓜蔞根（三錢）　冬瓜子（四錢）　桑枝（三錢）　生穀芽（四錢）</p>
<p>肝陽升騰之勢已緩，肺金清肅之令下行，嗆咳已止。惟內熱口乾，頭眩目痛，遺精腰痠，胸腹不舒。脾腎久虛，痰熱耗氣灼陰，流灌失職，脈來緩滑。宜宗前法，更進一籌（九月十八日）。</p>
<p>西洋參（一錢）　女貞子（三錢）　生白芍（一錢半）　生杜仲（三錢）　鮮竹茹（一錢）　牡丹皮（一錢半）　杭菊花（一錢半）　剪芡實（二錢）　甜川貝（三錢）　廣皮白（八分）　川石斛（三錢）　天花粉（三錢）　冬瓜子（四錢）　生穀芽（四錢）　蓮子（去心，十粒）</p>
<p>馮氏云：服此方數十帖後而身體復原，時年廿五歲也。</p>

<h1>二十七、費伯雄先生驗方</h1>
<p>尤學周云：婦人咳嗽，潮熱，納穀不香，癆象已見。經血尚未閉止者，費伯雄先生有一治驗方，余曾用之，屢試屢驗。此方來源乃吾邑王植卿夫人，患骨蒸勞病一年有餘，遍請名醫診治，迄無效驗，改延先生，前後共服二十餘劑，病即霍然。其案語及處方，並錄如下。</p>
<p>第一方：血虧脾弱，寒阻氣分。胸腹屢悶，內熱日甚，頭目重著，肢節痠疼。治宜祛寒理氣。</p>
<p>酒全歸（二錢）　連皮苓（三錢）　絲瓜絡（酒炒，三錢）　大丹參（二錢）　懷牛膝（酒炒，二錢）　牡丹皮（二錢）　青蒿子（焙，三錢）　生穀芽（三錢）　羌獨活（酒炒，各一錢）　甜瓜子（炒研，三錢）　功勞葉露（一兩，沖服）</p>
<p>第二方：肝氣漸舒，寒邪已透。內熱，肢酸減半。惟血虧脾弱，脘悶頭暈，夜半體燥，節絡痠軟，尚宜養血柔肝，兼培脾土。</p>
<p>前方去二活、苓、橘，加川芎（一錢）、蛤粉（四錢）、川貝、石斛（各三錢）、竹茹（八分）</p>

<h1>費繩甫先生女科要略</h1>

<h2>一、總論</h2>
<p>女子之病與男子同，所異者，經帶以及胎前、產後耳。先哲謂：「經血超前屬熱，落後屬寒。」此是定論，然亦有屬血虛者，不可不知。每逢經行而少腹作痛，是血欲行，為氣所阻，治必養血兼調氣。如經後腹痛，血虛無疑，補血為主。凡崩漏症，前人皆指暴崩非熱，久崩非寒。暴崩必兼益氣攝血，久崩必養陰清火。帶下症不外陰虛火旺而兼濕熱，然亦有肝鬱脾虛者。帶有五色，須分別治之。脈左寸動滑，有搖擺之狀者，懷孕也。月事當行不行，而有仍行者，蔭胎之血有餘，惟身體結實者如此，行之二三月，漸少而止。初受孕而嘔者，氣血初凝，胃失宣布；或妊娠已七八月而嘔吐者，此胃氣虛也，宜用參麥湯，補之即愈。每逢三月小產者，心陽搏腎，治必壯陽制水，兼固胎元。凡胎前外感，古用四物湯保胎，最為誤事，外感必開泄，而反以滋膩血藥，引邪入血，致肝風內動，母亡而子安能保乎？胎氣強弱，全在母氣安危，開泄邪熱，令母氣安和，正所保胎，舍此別無良法。產後以去瘀為第一義，倘瘀血不去，停積於中，少腹作痛，甚則有「三沖」之患，沖肺則氣喘，沖胃則嘔吐，衝心則神昏發厥，速以醋炭熏之，氣從鼻入，其人即蘇。葉天士謂：產後百脈皆虛，最多空竇，況身體素虛者，行血不宜太過，恐損真元。陰液虛者，養血行血；陽氣虛者，益氣去瘀。產後宜溫之，謬說！斷不可！可從臨症斟酌，絲絲入扣，則從應各當矣。</p>

<h2>二、行經</h2>
<p>月事超前，內熱口乾，火旺血熱也。治宜養陰清火。</p>
<p>川石斛（三錢）　南沙參（四錢）　大麥冬（三錢）　鮮生地（三錢）　牡丹皮（二錢）　生白芍（一錢半）　生甘草（五分）　女貞子（三錢）　天花粉（三錢）　生穀芽（四錢）　甘蔗（一兩，劈碎同煎）</p>
<p>月事超前，或一月數見，淋漓日久，火旺血虛也。治宜清火養血。</p>
<p>女貞子（三錢）　旱蓮草（一錢半）　西洋參（一錢）　大麥冬（三錢）　川石斛（三錢）　大生地（四錢）　薄橘紅（一錢）　龍眼肉（二枚）</p>
<p>月事超前，少腹作痛，內熱口乾。血虛火旺，氣鬱不舒也。治宜育陰制陽，條達肝氣。</p>
<p>炙生地（三錢）　全當歸（二錢）　大白芍（一錢半）　川芎藭（八分）　天麥冬（各三錢）　川黃柏（一錢）　阿膠珠（一錢半）　炒丹皮（二錢）　青蒿梗（一錢半）　地骨皮（三錢）　金香附（一錢半）　軟柴胡（醋炒，三分）　粉草（五分）　紅棗（五枚）</p>
<p>經水落後，腹痛作脹，氣滯血凝。治宜溫通。</p>
<p>全當歸（二錢）　大丹參（二錢）　金香附（一錢半）　廣艾絨（一錢）　紅棗（五枚）　製半夏（一錢半）　川厚朴（八分）　煨木香（五分）　大砂仁（一錢）　煨姜（二片）</p>
<p>經血愆期，內熱口乾，心悸神眩，此血虛也。治宜培養陰血。</p>
<p>北沙參（四錢）　大麥冬（三錢）　大白芍（一錢半）　川石斛（三錢）　冬瓜子（四錢）　柏子仁（二錢）　左牡蠣（四錢）　女貞子（三錢）　黑料豆（三錢）　龍眼肉（三枚）</p>
<p>經血愆期，少腹作痛，血欲行，為氣所阻也。治宜養血調氣。</p>
<p>全當歸（二錢）　大丹參（二錢）　金香附（一錢半）　臺烏藥（一錢半）　陳廣皮（一錢）　製半夏（一錢半）　大砂仁（一錢）　紅棗（五枚）</p>
<p>經阻不行，或三月，或五月，少腹或脹或痛，瘀血凝結也。治宜行瘀。</p>
<p>左牡蠣（四錢）　小胡麻（三錢）　南楂炭（三錢）　大丹參（二錢）　金香附（一錢）　全當歸（二錢）　陳廣皮（一錢）　淨紅花（五分）　延胡索（一錢）　砂仁殼（五分）　藕節（一枚）</p>
<p>經阻不行，少腹並不脹痛，心悸頭眩，內熱肢酸，此氣液虛也。治宜益氣養陰。</p>
<p>吉林參鬚（五分）　西洋參（一錢半）　大麥冬（三錢）　生白芍（一錢半）　生杜仲（二錢）　左牡蠣（四錢）　女貞子（三錢）　川石斛（三錢）　陳廣皮（一錢）　龍眼肉（三枚）</p>

<h2>三、崩漏</h2>
<p>暴崩淋漓，心悸，頭暈欲厥，此氣不能攝血。治宜益氣統血歸經。</p>
<p>高麗參（一錢）　炙生地（三錢）　全當歸（二錢）　大白芍（一錢半）　阿膠珠（一錢半）　粉甘草（五分）　綿黃耆（三錢）　陳廣皮（一錢）　大棗（三枚）</p>
<p>崩漏，淋漓日久，內熱口乾，心悸頭眩，腰痛肢酸，陰血久虛，火旺灼營。治宜補陰清火。</p>
<p>炙生地（三錢）　女貞子（三錢）　旱蓮草（一錢半）　西洋參（一錢半）　大麥冬（三錢）　阿膠珠（一錢半）　生杜仲（三錢）　黑山梔（一錢半）　川石斛（三錢）　陳廣皮（一錢）　吉林參鬚（五分）　龍眼肉（五枚）</p>
<p>崩漏不止，宜用綠升麻，即陰虛火旺，有肝氣者，亦宜用三四分，並與肝藥生白芍同用，白芍約用一錢半至二錢。如老年婦人，可用陳棕炭煎湯飲服，崩漏即止。</p>
<p>久崩久漏，內熱心悸，面色萎黃，唇口刮白，氣血皆虛。治宜氣血並補。</p>
<p>別直參（一錢）　黃耆皮（一錢半）　粉甘草（五分）　炙生地（三錢）　女貞子（三錢）　旱蓮草（一錢半）　阿膠珠（一錢半）　西洋參（一錢半）　大麥冬（三錢）　陳廣皮（一錢）　生杜仲（三錢）　南棗（五枚）</p>

<h2>四、帶下</h2>
<p>白帶時下，肝陽挾濕熱灼陰，帶脈不固。治宜清肝化濕。</p>
<p>大白芍（一錢半）　生甘草（五分）　白茯苓（三錢）　燕窩根（二錢）　黑料豆（三錢）　南沙參（四錢）　川石斛（三錢）　冬瓜子（四錢）　女貞子（三錢）　銀杏（十粒）</p>
<p>白帶時下，肝鬱脾虛，積濕侵帶。治宜條達肝氣，健脾化濕。</p>
<p>吉林參鬚（八分）　白茯苓（三錢）　大白芍（一錢半）　大白朮（一錢）　粉甘草（五分）　川芎藭（八分）　焦茅朮（一錢）　黑芥穗（八分）　大棗（五枚）</p>
<p>黃帶時下，任脈有火，挾濕熱灼陰，帶脈不固。治宜清火化濕。</p>
<p>川黃柏（酒炒，一錢）　車前子（二錢）　懷山藥（三錢）　剪芡實（三錢）　川石斛（三錢）　大麥冬（三錢）　女貞子（三錢）　黑料豆（三錢）　銀杏肉（十粒）</p>
<p>赤帶時下，陰血久虛，肝陽灼陰。治宜補血清肝。</p>
<p>炙生地（三錢）　全當歸（二錢）　大白芍（一錢半）　阿膠珠（一錢半）　黑料豆（三錢）　川黃柏（一錢）　粉甘草（五分）　白茯苓（二錢）　陳廣皮（一錢）　天麥冬（各三錢）　紅棗（五枚）</p>
<p>青帶時下，如綠豆汁，腥穢異常，肝鬱化火灼陰，帶脈約束無權。治宜清肝。</p>
<p>軟柴胡（醋炒，三分）　黑山梔（一錢半）　生白芍（一錢半）　生甘草（五分）　鮮竹茹（一錢）　白茯苓（二錢）　冬瓜子（四錢）　川石斛（三錢）　綿茵陳（二錢）　陳廣皮（一錢）</p>
<p>黑帶時下，臭穢異常，腹痛陰腫，小溲莖中作痛，面赤內熱，口渴引飲，命門、三焦、膀胱、胃火交煽。治宜瀉火。</p>
<p>酒黃連（一錢）　酒大黃（三錢）　黑山梔（一錢半）　生石膏（八錢）　肥知母（一錢半）　大麥冬（三錢）　川石斛（一錢半）　白茯苓（三錢）　生甘草（五分）　生白朮（三錢）　車前子（三錢）　鮮蘆根（去節，二兩）</p>

<h2>五、胎前</h2>
<p>懷孕月餘，內熱嘔吐，胎初結成，胃失宣布，左寸脈動滑，有搖擺之狀。治宜苦降辛通。</p>
<p>酒黃連（一分）　淡吳萸（一分）　南沙參（四錢）　川石斛（三錢）　陳廣皮（八分）</p>
<p>懷孕六七月，嘔吐不止者，胃氣虛也。治宜補胃。</p>
<p>人參鬚（八分）　大麥冬（三錢）　粉甘草（五分）　北沙參（四錢）　淮小麥（三錢）　陳廣皮（一錢）　川石斛（三錢）　南棗（五枚）</p>
<p>懷孕每逢三月即小產者，心陽搏腎。治宜清心益腎。</p>
<p>真坎炁（一錢半）　大生地（三錢）　大麥冬（三錢）　西洋參（一錢）　生甘草（五分）　陳廣皮（八分）　荷葉（一角）</p>
<p>胎前咳嗽，經久不愈，肺陰虛而留邪未盡，倘延至產後仍咳，必成損症。治宜泄邪養肺。</p>
<p>杭菊花（三錢）　川貝母（二錢）　瓜蔞皮（三錢）　川石斛（三錢）　天花粉（三錢）　生甘草（五分）　廣皮白（五分）</p>
<p>懷孕腹脹，面浮足腫。水濕停留，無從宣泄。治宜化濕行水。若通利太過，如苡仁、大腹皮等，誠恐墮胎，不可不防。</p>
<p>連皮苓（四錢）　冬瓜子皮（各四錢）　地膚子（三錢）　五加皮（二錢）　陳廣皮（一錢）　漢防己（一錢）　姜皮（五分）</p>
<p>妊娠至九月而語音忽喑，此胎氣下迫，產後即痊，無庸調治。如因傾跌，或持重物，胎動下紅，治宜升補。看血多鮮紅，胎當可保；若血多帶紫，其胎必墮，救亦無用。</p>
<p>吉林參（一錢）　大麥冬（三錢）　粉甘草（五分）　炙升麻（三分）　廣陳皮（八分）　大生地（三錢）　紅棗（五枚）</p>
<p>妊娠至七八月，小溲忽閉，此胎氣壓胞，宜升舉之。</p>
<p>潞黨參（三錢）　綿黃耆（三錢）　炙甘草（五分）　炙升麻（三分）　大生地（三錢）　軟柴胡（三分）　全當歸（二錢）　陳廣皮（一錢）　白朮（一錢）　白茯苓（三錢）</p>
<p>妊娠感冒，必須開泄外邪，邪退正安，正所以保胎。若用補藥保胎，而不顧外邪，則邪無出路，勢必深入，母危而子終不保。胎元全賴母氣安和，母受外邪，邪去則母子俱安。</p>
<p>妊娠外感風寒，惡寒發熱，苔白，頭痛，口不作干。治宜溫散。</p>
<p>青防風（一錢半）　老蘇梗（三錢）　生甘草（五分）　淨蟬衣（一錢半）　陳廣皮（一錢）　蔥白（二錢）</p>
<p>妊娠外感風熱，發熱頭痛，口乾苔黃，小溲甚赤。治宜清解。</p>
<p>牛蒡子（一錢半）　薄荷葉（一錢）　淨蟬衣（一錢半）　冬桑葉（一錢）　生甘草（五分）　冬瓜子（四錢）　生穀芽（四錢）　鮮竹茹（三錢）</p>

<h2>六、順胎</h2>
<p>順胎之劑莫如「保產無憂散」（俗名「宮中十二味」），載《醫學心悟·妊娠門》，至六七月服此方二三劑最妙。若陰虛之質，照方加南沙參四錢、大麥冬三錢、川石斛三錢。</p>
<p>保產無憂方：此方懷妊後，每月服一二劑，臨月再服三二劑；若月份雖足，腹中似痛，總宜服此方，庶易產，並可免產後余患；若未及時而痛者，服之即安，真仙方也！若兒已離母體，下咽即死，斷不可誤服！慎之，慎之！</p>
<p>黃耆（蜜炙，八分）　當歸（一錢半）　川芎（八分）　白芍（一錢，酒炒，夏用一錢半）　炙草（五分）　羌活（五分）　厚朴（薑汁炒，七分）　枳殼（麩炒，六分）　蘄艾（五分）　荊芥穗（八分）　菟絲子（一錢半）　川貝（一錢）　姜（一片）　《產科心法》加大腹皮五分。</p>

<h2>七、臨產</h2>
<p>臨產腹痛，須服「催生散」。</p>
<p>全當歸（二錢）　川芎藭（八分）　生龜板（四錢）　血餘炭（五分）</p>
<p>臨產腹痛難忍，身體素虛者，宜大補氣血，作增水行舟之計。</p>
<p>潞黨參（三錢）　綿黃耆（四錢）　炙生地（八錢）　炙甘草（五分）　全當歸（二錢）　大白芍（一錢半）　川芎藭（八分）　川貝母（三錢）　菟絲子（三錢）　生龜板（四錢）　白茯苓（三錢）　車前子（三錢）　白蔻殼（八分）　大白朮（一錢）　薄橘紅（一錢）　紅棗（五枚）</p>
<p>此方連服三劑，其胎自能順流而下，且母子俱安，妙不可言（按：此方系百發百中之方）。</p>
<p>交骨不開</p>
<p>臨產交骨不開，用新鮮青魚膽搗爛塗，即開。</p>
<p>胞衣不下</p>
<p>小兒已產，胞衣不下，誠恐上騰，貽害非淺，穩婆能以兩指伸進拉下最妙。如用藥，須和榮導下。</p>
<p>全當歸（二錢）　大丹參（三錢）　金香附（一錢半）　南楂炭（三錢）　蓮房（一個）　六一散（三錢）　</p>
<p>共煎湯調服。</p>

<h2>八、產後</h2>
<p>產後血暈，用醋炭熏之，其氣自鼻而入即蘇。產後腹痛，此瘀血阻氣。治宜和營行瘀。</p>
<p>全當歸（二錢）　大丹參（三錢）　金香附（一錢半）　川芎藭（八分）　南楂炭（三錢）　桃仁泥（八分）</p>
<p>產後嘔吐不止，此熱血沖胃也。治宜行瘀和胃。</p>
<p>陳廣皮（一錢）　製半夏（一錢半）　大丹參（二錢）　金香附（一錢半）　南楂炭（三錢）　蘇木屑（五分）</p>
<p>產後咳嗽不止，胸悶氣喘，此血熱沖肺也。治宜行瘀肅肺。</p>
<p>大杏仁（三錢）　桃仁泥（八分）　南楂炭（三錢）　全當歸（二錢）　大丹參（二錢）　降香（五分）</p>
<p>產後神昏欲厥，此熱血衝心也，最危難救，姑擬行瘀清心一法。</p>
<p>琥珀屑（過服，五分）　大丹參（三錢）　云茯神（三錢）　桃仁泥（一錢）　淨紅花（五分）　南楂炭（三錢）　降香屑（五分）</p>
<p>附《醫醇剩義》治三沖法。</p>
<p>沖胃：去惡平胃散。</p>
<p>當歸（一錢）　川芎（一錢）　桃仁（一錢）　炮姜（五分）　楂炭（二錢）　廣皮（一錢）　茅朮（一錢）　厚朴（一錢）　木香（五分）　砂仁（一錢）　蘇木（三分）　降香（五分）</p>
<p>沖肺：去惡清肺湯。</p>
<p>當歸（二錢）　川芎（一錢）　桃仁（一錢）　炮姜（五分）　楂炭（三錢）　延胡（一錢）　蘇子（二錢）　桑皮（三錢）　橘紅（二錢）　貝母（二錢）　蘇木（三分）　降香（五分）</p>
<p>童便一杯沖服。</p>
<p>衝心：去惡衝心湯。</p>
<p>當歸（二錢）　川芎（一錢）　桃仁（一錢半）　炮姜（六分）　楂炭（三錢）　延胡（一錢）　琥珀（一錢）　生熟蒲黃（各六分）　丹參（三錢）　牛膝（二錢）　蘇木（三分）　降香（五分）　燈芯（三尺）</p>
<p>按：先生不喜產後用溫之法，故與《醫醇剩義》略有區別，然大體則同也。</p>
<p>產後惡露不多，少腹作痛，心悸頭暈，汗多欲脫，此氣血皆虛，而停瘀不下。治宜通補兼施。</p>
<p>吉林參（一錢）　蘇木屑（五分）　全當歸（二錢）　南楂炭（三錢）　大丹參（二錢）　金香附（一錢半）　紅棗（五枚）</p>
<p>產後惡露暢行，心悸，頭暈眼花，汗多，驚惕不安，此血虛也。治宜和營。</p>
<p>炒棗仁（二錢）　全當歸（二錢）　柏子仁（二錢）　粉甘草（五分）　浮小麥（五錢）　陳廣皮（一錢）　花龍齒（二錢）</p>
<p>產後乳汁甚少，用通草煨豬蹄，每日服之，乳汁自多。</p>
<p>產後僱人乳子，自嫌乳汁撐脹難受，用炒麥芽二兩煎服，乳汁即無（按：妙方）。</p>
<p>產後泄瀉，脾虛濕蘊。治宜健脾化濕。</p>
<p>大白朮（一錢）　川厚朴（八分）　白茯苓（二錢）　陳廣皮（一錢）　冬瓜子（四錢）　粉甘草（五分）　大棗（二枚）</p>
<p>產後面浮足腫，胸腹作脹，此氣血皆虛，治宜氣血並補。</p>
<p>潞黨參（三錢）　白茯苓（二錢）　大白朮（一錢）　粉甘草（五分）　炙生地（三錢）　全當歸（二錢）　大白芍（一錢半）　陳廣皮（一錢）　大棗（三枚）</p>
<p>產後因驚恐，或受鬱悶，瘀血上阻包絡而成癲症。治宜通絡行瘀。</p>
<p>大丹參（三錢）　琥珀屑（過服，三分）　淨紅花（五分）　云茯神（三錢）　䗪蟲（二枚）</p>
<p>產後氣血皆虧，最多空竇，外邪易入，感冒風寒，惡寒發熱，頭痛苔白，口不作渴。治宜溫散。</p>
<p>黑荊芥（一錢半）　淨蟬衣（一錢半）　粉甘草（五分）　光杏仁（三錢）　老蘇梗（一錢）　全當歸（二錢）</p>
<p>產後發熱口乾，苔黃頭痛。此風熱侵肺。</p>
<p>大力子（一錢半）　淨蟬衣（一錢半）　薄荷葉（一錢）　冬桑葉（一錢）　生甘草（五分）</p>
<p>產後去瘀太過，或半月，或一月，下血淋瀝不止，此血虛也。治宜益氣攝血。</p>
<p>吉林參鬚（八分）　西洋參（一錢）　女貞子（三錢）　大麥冬（三錢）　旱蓮草（一錢半）　陳廣皮（一錢）　生甘草（五分）　紅棗（五枚）</p>

<h2>九、女子雜症</h2>
<p>（案1）女子最多肝鬱，肝氣上升犯胃，胸腹作痛，嘔吐食少。治宜調肝和胃。</p>
<p>全當歸（二錢）　大丹參（二錢）　金香附（一錢半）　臺烏藥（一錢半）　細青皮（一錢）　陳廣皮（一錢）　製半夏（一錢半）　小厚朴（八分）　大砂仁（一錢）　焦穀芽（四錢）　白檀香（五分）</p>
<p>（案2）胸腹作痛，內熱口乾，此肝陽上灼胃陰，胃失降令。治宜酸苦泄肝，甘涼養胃。</p>
<p>大白芍（一錢半）　左牡蠣（四錢）　川楝子（一錢半）　宣木瓜（一錢半）　酒炒黃連（一分）　淡吳萸（一分）　北沙參（四錢）　川石斛（三錢）　陳廣皮（一錢）　冬瓜子（四錢）　生熟穀芽（各四錢）</p>
<p>肝氣方：</p>
<p>南沙參（四錢）　黑料豆（三錢）　陳廣皮（一錢）　連殼蔻（八分）　雲茯苓（二錢）　冬瓜子（四錢）　佛手柑（一錢）　懷山藥（三錢）　生白芍（一錢半）　生甘草（五分）　生熟穀芽（各四錢）</p>
<p>止痢良方：</p>
<p>川石斛（三錢）　生甘草（三分）　赤茯苓（三錢）　冬桑葉（一錢半）　冬瓜子（四錢）　川通草（五分）　生熟穀芽（各四錢）　陳廣皮（五分）　車前子（二錢）　鮮荷葉（一角）</p>
<p>如渴者去陳皮；不渴者去石斛</p>
<p>本方重出，見「痢疾」（案2）下。</p>
<p>又止嘔痢方：本方重出，見「痢疾」（案2）下。</p>
<p>治便溏熱癤：</p>
<p>川石斛（三錢）　六一散（三錢）　赤茯苓（三錢）　冬桑葉（一錢半）　鮮荷葉（一角）　冬瓜子（四錢）　川通草（五分）　大腹皮（一錢半）　甘菊花（二錢）　生熟穀芽（各四錢）</p>
<p>（案3）本案重出，見「痢疾」（案4）。</p>
<p>丸方：</p>
<p>吉林參鬚（一兩五錢）　北沙參（烘研，六兩）　雲茯苓（烘研，四兩）　大白朮（土炒，一兩五錢）　川楝肉（炒，一兩五錢）　茅蒼朮（烘研，五兩）　大白芍（烘，二兩）　炙甘草（一兩）　薄橘紅（烘研，二兩）　川貝母（去心，研，六兩）　依法取末。</p>
<p>川石斛（四兩）　冬瓜子（八兩）　生熟穀芽（各八兩）　大黑棗（八兩）</p>
<p>煎湯泛丸，每服三錢，開水送下。</p>
<p>（案4）本案重出，見「痢疾」（案3）。</p>
<p>（案5）霍亂暑濕內蘊，淆亂清濁，霍亂吐瀉，發熱頭暈，胸腹作痛，腿足轉筋，舌苔黃白。治宜和中解表。</p>
<p>廣藿香（一錢）　老蘇梗（一錢半）　荊芥穗（一錢）　陳廣皮（一錢）　焦茅朮（一錢）　小厚朴（一錢）　酒黃連（二分）　淡吳萸（二分）　宣木瓜（一錢半）　大腹皮（一錢半）　淡豆豉（三錢）　川楝肉（一錢半）</p>

<h2>十、小兒</h2>
<p>（案1）邪熱入里，三焦火盛，引動肝風上擾，肢掣發厥，發熱口乾，苔黃溲赤。症屬急驚風。治宜生津清熱，兼熄肝風。</p>
<p>天花粉（三錢）　川貝母（三錢）　酒黃芩（一錢）　黑山梔（一錢半）　冬桑葉（一錢半）　淨連翹（一錢半）　鮮竹茹（一錢半）　蘆根（二兩）　薄荷葉（一錢）　生甘草（五分）　羚羊角（一錢）</p>
<p>（案2）木旺剋土，肌熱泄瀉，肢掣發厥，舌色淡紅，症屬慢驚。治宜抑木扶土。</p>
<p>潞黨參（三錢）　赤茯苓（二錢）　生白朮（一錢）　生甘草（五分）　陳廣皮（一錢）　生白芍（一錢半）　炮姜（一錢）　大棗（三枚）</p>

<h2>十一、外症</h2>
<p>（案1）先天腎虛，後天脾弱，中失運化之權，下少生髮之氣，濕痰阻氣，凝結成塊，脈來沉弦。治宜益腎健脾，化痰理氣。</p>
<p>左牡蠣（四錢）　甜川貝（二錢）　臺參鬚（五分）　地膚子（三錢）　女貞子（三錢）　薄橘紅（一錢）　京赤芍（一錢）　連皮苓（四錢）　冬瓜子（四錢）　六神麯（三錢）　生熟穀芽（各三錢）　陳香櫞皮（一錢）　桑枝（一尺）</p>
<p>（案2）脾腎久虛，肝陽太旺，挾濕熱耗氣灼榮，腎囊時流脂水、血水，少腹惡寒，濕熱生痰，阻塞氣機已著，脈來沉細而弦。治宜益腎清肝，健脾化濕。</p>
<p>臺參鬚（八分）　南沙參（四錢）　生杜仲（三錢）　赤茯苓（二錢）　陳香櫞皮（一錢）　京赤芍（一錢）　金鈴子（一錢半）　山楂子（三錢）　冬瓜子（三錢）　地膚子（三錢）　陳廣皮（一錢）　法半夏（一錢半）　甜川貝（二錢）　生熟穀芽（各四錢）</p>

<h3>（一）目疾</h3>
<p>（案1）目為肝竅，瞳神屬腎，得血而後能視，腎陰肝血俱虧，精華不能上注，左目散光，右目作痛，陽升無制，挾熱痰銷鑠營陰，脈來沉弦。治宜清肝益腎，兼化痰熱。</p>
<p>北沙參（四錢）　川石斛（三錢）　女貞子（三錢）　黑料豆（三錢）　杭菊花（二錢）　夏枯草（二錢）　生甘草（五分）　天花粉（二錢）　甜川貝（三錢）　瓜蔞皮（三錢）　鮮竹茹（一錢）　甜杏仁（三錢）</p>
<p>（案2）目為肝竅，瞳神屬腎，得血而能視，營血久虛，木火升騰無制，銷鑠營陰，左目散光，視物不甚清楚，咯血鼻衄，內熱口乾，脈來沉弦。治宜清肝明目發光。</p>
<p>冬青子（三錢）　黑料豆（三錢）　北沙參（四錢）　川石斛（三錢）　甜川貝（三錢）　鮮竹茹（一錢）　生穀芽（四錢）　生甘草（五分）　大麥冬（三錢）　冬瓜子（四錢）　荸薺（五枚）</p>
<p>害眼方：</p>
<p>酒木通（一錢）　牡丹皮（一錢半）　赤茯苓（二錢）　京赤芍（一錢）　冬桑葉（一錢）　甘菊花（二錢）　生甘草（五分）　大貝母（三錢）　黑山梔（一錢半）　鮮竹茹（一錢半）　燈心（三尺）　鮮荷梗（一尺）</p>

<h3>（二）濕瘡</h3>
<p>（案1）本案重出，見「濕熱」（案1），本案處方多「川石斛三錢」一味。</p>
<p>（案2）本案重出，見「濕熱」（案3），本案處方多「象貝母三錢」一味。</p>
<p>（案3）本案重出，見「胸脘痛腹痛」（案7）。</p>
<p>（案4）肌膚起顆成片，破碎時流脂水，腿足內熱，暮腫朝消，濕熱外發，下行自尋出路，脈來弦滑。抱恙多年，根深蒂固。治宜氣血兩清，緩緩圖功。</p>
<p>南沙參（四錢）　京元參（一錢）　天麥冬（一錢半三錢）　鮮生地（五錢）　大玉竹（三錢）　女貞子（三錢）　牡丹皮（一錢半）　仙遺糧（三錢）　甜川貝（三錢）　天花粉（三錢）　梧桐花（三錢）　川黃柏（一錢）　光杏仁（三錢）　鮮竹茹（一錢）　川石斛（三錢）　冬瓜子（四錢）　生穀芽（四錢）　鉤藤鉤（一錢半）　犀角尖（磨沖，一分）　牛黃（研，過服，五釐）</p>

<h3>（三）瘰癧</h3>
<p>（案1）肝陽升騰之勢漸平，津液宣布，內熱口乾較前已減。惟頸生瘰癧，偏右腋下又結痰核，脾腎久虛，痰熱蘊結，耗氣灼陰，脈弦略退，沉滑如常。宜宗前法進治。</p>
<p>西洋參（烘，三兩）　大麥冬（炒，六兩）　甜川貝（去心，六兩）　瓜蔞皮（炒，六兩）　白礬（研，三錢）　糯米粉（八兩）　白茯苓（烘，四兩）　冬青子（六兩）　薄橘紅（一兩）　依法取末。</p>
<p>川石斛（六兩）　鮮竹茹（三兩）　荸薺（打碎，十二兩）</p>
<p>煎湯泛丸，每服三錢，開水送下。</p>

<h2>十二、白帶</h2>
<p>（案1）肝陽上亢之勢漸平，肺氣肅降，內熱口乾、脘悶腹脹均已輕減，腿足暮腫朝消，月事愆期，白帶時下，甚則怯冷手震。陰血久虛，濕痰阻胃，脈來弦細。宜宗前法進治。</p>
<p>連皮苓（四錢）　冬瓜子皮（各四錢）　地膚子（三錢）　川石斛（三錢）　北沙參（四錢）　大麥冬（三錢）　川楝肉（切，一錢半）　川貝母（三錢）　瓜蔞皮（三錢）　廣皮白（五分）　甜杏仁（三錢）　生熟穀芽（各四錢）　燈心（三尺）</p>
<p>（案2）本案重出，見「胸脘痛腹痛」（案12）。</p>
<p>（案3）陰血久虛，肝陽上灼胃陰，衝任失司，帶脈約束無權，血崩成塊，帶下甚多，心悸內熱，頭眩眼花，肢節痠痛，腿足浮腫，脈來沉細而弦。治宜養血清肝，兼和胃氣。</p>
<p>常服方：</p>
<p>吉林參鬚（八分）　西洋參（一錢半）　大麥冬（三錢）　大生地（四錢）　阿膠珠（一錢）　女貞子（三錢）　旱蓮草（一錢）　生杜仲（三錢）　剪芡實（三錢）　懷山藥（三錢）　川石斛（三錢）　川黃柏（五分）　陳廣皮（一錢）　生甘草（五分）　燕窩根（一錢半）　生熟穀芽（各四錢）　銀杏肉（十粒）</p>
<p>臨時方：</p>
<p>吉林參鬚（八分）　西洋參（一錢半）　大麥冬（三錢）　大生地（三錢）　阿膠珠（一錢）　生甘草（五分）　川石斛（三錢）　生杜仲（三錢）　陳廣皮（五分）　黑料豆（三錢）　龍眼肉（五枚）</p>
<p>（案4）本案重出，見「胸脘痛腹痛」（案14）。</p>
<p>（案5）氣血皆虛，中無砥柱，肝陽升騰無制，銷鑠肺胃陰液，知飢少納，心悸，內熱口乾，頭眩，帶下腰痛，帶脈約束無權，脈來細弦。治宜益氣補陰，兼清肝陽。</p>
<p>吉林參鬚（五分）　北沙參（四錢）　柏子仁（二錢）　生杜仲（三錢）　女貞子（三錢）　大白芍（一錢半）　懷山藥（二錢）　黃柏（五分）　粉甘草（五分）　車前子（二錢）　剪芡實（三錢）　陳廣皮（八分）　冬瓜子（四錢）　川石斛（三錢）　生熟穀芽（各四錢）　銀杏肉（十粒）</p>
<p>（案6）脾土久虛，濕熱阻胃，氣失降令，脘痛腹脹，內熱口乾，頭痛眼花，腰痠帶下。陰血內損，木火升騰無制，銷鑠津液，脈來細弦而數。治宜健脾化濕，兼益陰制陽法。</p>
<p>大白芍（一錢半）　左牡蠣（四錢）　川楝肉（一錢半）　宣木瓜（二錢）　西洋參（一錢）　大麥冬（三錢）　瓜蔞皮（三錢）　廣皮白（一錢）　冬瓜子（四錢）　鮮竹茹（一錢）　云茯神（三錢）　炙內金（二錢）　銀杏（十粒）</p>
<p>（案7）本案重出，見「不寐」（案1）。</p>
<p>（案8）本案重出，見「頭眩痛」（案17）。</p>
