<header data-type="book">
<h1>標幽賦</h1>
<dl class="元資料">
<div><dt>出處</dt><dd>針經指南</dd></div>
<div><dt>底本</dt><dd>知音五版《針灸學》</dd></div>
<div><dt>品質</dt><dd>90%</dd></div>
<div hidden><dt>版式</dt><dd>今版</dd></div>
</dl>
</header>

<p>拯救之法，妙用者針。<br>
察歲時於天道，定形氣於予心。<br>
春夏瘦而刺淺，秋冬肥而刺深。<br>
不窮經絡陰陽，多逢刺禁；既論臟腑虛實，須向經尋。<br>
原夫起自中焦，水初下漏，太陰為始，至厥陰而方終；穴出雲門，抵期門而最後。<br>
正經十二，別絡走三百餘支，正側仰伏，氣血有六百餘候。<br>
手足三陽，手走頭而頭走足；手足三陰，足走腹而胸走手。</p>
<p>要識迎隨，須明逆順。況夫陰陽氣血，多少為最，<br>
厥陰太陽，少氣多血；太陰少陰，少血多氣；<br>
而又氣多血少者，少陽之分；氣盛血多者，陽明之位。<br>
先詳多少之宜，次察應至之氣，<br>
輕滑慢而未來，沉澀緊而已至。<br>
既至也，量寒熱而留疾；未至也，據虛實而候氣。<br>
氣之至也，如魚吞鈎餌之浮沉；氣未至也，如閑處幽堂之深邃。<br>
氣速至而速效，氣遲至而不治。</p>
<p>觀夫九針之法，豪針最微，七星上應，眾穴主持。<br>
本形金也，有蠲邪扶正之道；短長水也，有決凝開滯之機。<br>
定刺象木，或斜或正；口藏比火，進陽補羸。<br>
循機捫塞以象土，實應五行而可知。<br>
然是三寸六分，包含妙理，雖細楨於毫髮，同貫多岐。<br>
可平五臟之寒熱，能調六腑之虛實。<br>
拘攣閉塞，遣八邪而去矣；寒熱痹痛，開四關而已之。</p>
<p>凡刺者，使本神朝而後入；既刺也，使本神定而氣隨。<br>
神不朝而勿刺，神已定而可施。<br>
定腳處，取氣血為主意；下手處，認水木是根基<span data-rev="校"><small class="雙行夾注">《大成》注：「…水者，母也。 木者，子也。是水能生木也…」</small></span><br>
天地人三才也，湧泉同璇璣百會；上中下三部也，大包與天樞地機。<br>
陽蹻陽維並督帶，主肩背腰腿在表之病；陰蹻陰維任衝脈，去心腹脇肋在裏之凝。<br>
二陵二蹻二交，似續而交五大；兩間兩商兩井，相依而別兩支。</p>
<p>大抵取穴之法，必有分寸，先審自意，次觀肉分。<br>
或伸屈而得之，或平直而安定。<br>
在陽部筋骨之側，陷下為真；在陰分郄膕之間，動脈相應。<br>
取五穴，用一穴而必端；取三經，用一經而可正。<br>
頭部與肩部詳分，督脈與任脈易定。<br>
明標與本，論刺深刺淺之經；住痛移疼，取相交相貫之徑。<br>
豈不聞臟腑病，而求門海俞募之微；經絡滯，而求原別交會之道。<br>
更窮四根三結，依標本而刺無不痊；但用八法五門，分主客而針無不效。<br>
八脈始終連八會，本是紀綱；十二經絡十二原，是為樞要。<br>
一日取六十六穴之法，方見幽微，一時取一十二經之原，始知要妙。</p>
<p>原夫補瀉之法，非呼吸而在手指；速效之功，要交正而識本經。<br>
交經繆刺，左有病而右畔取；瀉絡遠針，頭有病而腳上針。<br>
巨刺與繆刺各異，微針與妙刺相通。<br>
觀部分，而知經絡之虛實，視沉浮，而辨臟腑之寒溫。<br>
且夫先令針耀，而慮針損；次藏口內，而欲針溫。<br>
目無外視，手如握虎；心無內慕，如待貴人。<br>
左手重而多按，欲令氣散；右手輕而徐入，不痛之因。<br>
空心恐怯，直立側而多暈；背目沉掐，坐臥平而沒昏。</p>
<p>推於十干十變，知孔穴之開闔；論其五行五臟，察日時之旺衰。<br>
伏如橫弩，應若發機。<br>
陰交陽別而定血暈，陰蹻陽維而下胎衣。<br>
痹厥偏枯，迎隨俾經絡接續；漏崩帶下，溫補使氣血依歸。<br>
靜以久留，停針待之。<br>
必準者，取照海治喉中之閉塞；端的處，用大鍾治心內之呆痴。<br>
大抵疼痛實瀉，麻癢虛補；體重節痛而俞居，心下痞滿而井主。<br>
心脹咽痛，針太衝而必除；脾冷胃疼，瀉公孫而立愈。<br>
胸滿腹痛刺內關，脇疼肋痛針飛虎。<br>
筋攣骨痛而補魂門，體熱勞嗽而瀉魄戶。<br>
頭風頭痛，刺申脈與金門；眼癢眼疼，瀉光明與地五。<br>
瀉陰郄止盜汗，治小兒骨蒸；刺偏歷利小便，醫大人水蠱。<br>
中風環跳而宜刺，虛損天樞而可取。</p>
<p>由是午前卯後，太陰生而疾溫；離左酉南，月朔死而速冷。<br>
循捫彈弩<span data-rev="校"><small class="雙行夾注">或作「努」、「怒」</small></span>，留吸母而堅長；爪下伸提，疾呼子而噓短。<br>
動退空歇，迎奪右而瀉涼；推內進搓，隨濟左而補暖。</p>
<p>慎之！大患危疾，色脈不順而莫針；寒熱風陰，飢飽醉勞而切忌。<br>
望不補而晦不瀉，弦不奪而朔不濟；<br>
精其心而窮其法，無灸艾而壞其皮；<br>
正其理而求其原，免投針而失其位。<br>
避灸處而加四肢，四十有九；禁刺處而除六腧，二十有二。</p>
<p>抑又聞高皇抱疾未瘥，李氏刺巨闕而後蘇；太子暴死為厥，越人針維會而復醒。<br>
肩井曲池，甄權刺臂痛而復射；懸鍾環跳，華佗刺躄足而立行。<br>
秋夫針腰俞，而鬼免沉痾，王纂針交俞，而妖精立出。<br>
取肝俞與命門，使瞽士視秋毫之末；刺少陽與交別，俾聾夫聽夏蚋之聲。</p>
<p>嗟夫！去聖逾<span data-rev="校"><small class="雙行夾注">或作「愈」</small></span>遠，此道漸墜。<br>
或不得意而散其學，或愆其能而犯禁忌。<br>
愚庸智淺，難契於玄言。至道淵深，得之者有幾？<br>
偶述斯言，不敢示明達者焉，庶幾乎童蒙之心啟。</p>
