<header data-type="book">
<h1>肘後歌</h1>
<dl class="元資料">
<div><dt>品質</dt><dd>90%</dd></div>
<div hidden><dt>版式</dt><dd>今版</dd></div>
</dl>
</header>

<p>頭面之疾針至陰，腿腳有疾風府尋，心胸有疾少府瀉，臍腹有病曲泉針。<br>
肩背諸疾中渚下，腰膝強痛交信憑，脇肋腿痛後谿妙，股膝腫起瀉太衝。<br>
陰核發來如升大，百會妙穴真可駭。頂心頭痛眼不開，湧泉下針定安泰。<br>
鶴膝腫勞難移步，尺澤能舒筋骨疼，更有一穴曲池妙，根尋源流可調停；<br>
其患若要便安愈，加以風府可用針。更有手臂拘攣急，尺澤剌深去不仁，<br>
腰背若患攣急風，曲池一寸五分攻。五痔原因熱血作，承山須下病無蹤，<br>
哮喘發來寢不得，豐隆剌入三分<span data-rev="校"><small class="雙行夾注">一作「三寸」</small></span>深，狂言盜汗如見鬼，惺惺間使便下針。<br>
骨寒隨冷火來燒，靈道妙穴分明記。雍疾寒熱真可畏，須知虛實可用意；<br>
間使宜透支溝中，大椎七壯合聖治；連日頻頻發不休，金門深剌七分是。<br>
瘧疾三日得一發，先寒後熱無他語，寒多熱少取復溜，熱多寒少用間使。<br>
或患傷寒熱未收，牙關風壅藥難投，項強反張目直視，金針用意列缺求。<br>
傷寒四肢厥逆冷，脈氣無時仔細尋，神奇妙穴真有二，復溜寸半順骨行。<br>
四肢回還脈氣浮，須曉陰陽倒換求，寒則須補絕骨是，熱則絕骨瀉無憂；<br>
脈若浮洪當瀉解，沉細之時補便瘳。百合傷寒最難醫，妙法神針用意推，<br>
口噤眼合藥不下，合谷一針效甚奇。狐惑傷寒滿口瘡，須下黃連犀角湯。<br>
蟲在臟腑食肌肉，須要神針刺地倉。傷寒腹痛蟲尋食，吐蚘烏梅可難攻，<br>
十日九日必定死，中脘回還胃氣通。傷寒痞氣結胸中，兩目昏黃汗不通，<br>
湧泉妙穴三分許，速使周身汗自通。傷寒痞結脇積痛，宜用期門見深功，<br>
當汗不汗合谷瀉，自汗發黃復溜憑。飛虎一穴通痞氣，祛風引氣使安寧，<br>
剛柔二痙最乖張，口噤眼合面紅妝，熱血流入心肺腑，須要金針刺少商。<br>
中滿如何去得根，陰包如刺效如神，不論老幼依法用，須教患者便抬身。<br>
打撲傷損破傷風，先於痛處下針攻，後向承山立作效，甄權留下意無窮。<br>
腰腿疼痛十年春，應針不了便惺惺，大都引氣探根本，服藥尋方枉費金。<br>
腳膝經年痛不休，內外踝邊用意求，穴號崑崙并呂細，應時消散即時瘳。<br>
風痹痿厥如何治，大杼曲泉真是妙，兩足兩脇滿難伸，飛虎針灸七分到，<br>
腰軟如何去得根，神妙委中立見效。</p>
