<header data-type="book">
<h1>醫辨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王肯堂</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1602">公元1602年</data></dd></div>
<div><dt>底本</dt><dd>正德06年刊本（<a href="https://www.digital.archives.go.jp/file/1212103">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>予嘗搜索先考橘軒翁平生抄錄，得王肯堂醫論摘鈔數十葉，讀之，其中頗多要語良方，但憾未見全書。頃書坊人攜來一書請序，題曰《王宇泰醫辨》，未知何人所撰。蓋熟讀二書，節取其精要，以備未讀二書者之省覽，可見其用心之仁且勤矣。夫王氏之著《準繩》也，就戴復庵《要訣》而推衍增益之，古今方法莫不該載焉。傾群方之淵海，集治法之大成，學者不可不讀焉。然簡帙巨大，恐窮鄉僻邑難容易購得貯蓄，且得此抄本而讀焉，則不勞多日涉獵，亦足以了大意矣。顧夫讀書之法豈在多哉，須得其要耳；苟得其要，則引伸觸長，可以臨機應變矣。不然汗牛充棟，亦何益於治？此學者所當知也。</p>
<p><u>正德丙申季春日松岡恕庵成章序</u></p>

<h1>卷之上</h1>

<h2>中風</h2>
<p>經云：暴病卒死，皆屬於火。注云：火性速疾故也。然初治之藥，不寒而溫、不降而升，甚者從治也。俗有中風、中氣、中食、中寒、中暑、中濕、中惡之別。但見卒然仆倒，昏不知人，或痰涎塞壅，咽喉作聲，或口眼喎斜，手足癱瘓，或半身不遂，或六脈沉伏，或指下浮盛者，並可用麻油、薑汁、竹瀝調蘇合香丸。如口噤，抉開灌之，或用三生飲一兩，加人參一兩，煎成入竹瀝二三杯、薑汁少許；如抉不開，不可進藥，急以生半夏為末吹入鼻中，或用細辛、皂角、菖蒲為末吹入，得嚏則蘇。此可以驗其受病深淺，則知其可治不可治。若口開、手撒、遺尿者，虛極而陽暴脫也，速用大料參、耆接補之，及臍下大艾灸之。蓋心是天真神機開發之本；胃是穀氣充大真氣之標，標本相得，則胸膈間之膻中氣海所留宗氣盈溢，分布四臟三焦，上、中、下無不周遍。若標本相失，則不能致其氣於氣海，而宗氣散矣。故分布不周於經脈則偏枯，不周於五臟則喑。</p>
<p>有元氣素弱，或過於勞役，或傷於嗜欲，而卒然厥僕，狀類中風者，手必散，口必開，非大劑參耆用至斤許，豈能回元氣於無何有之鄉哉。亦有不僕而但舌強語澀，痰壅，口眼喎斜，肢體不遂者，作中風治必殆，以六君子湯加諸汁治之。</p>
<p>有熱盛生風而為卒僕偏枯者，以麻、桂、烏、附投之則殆，當以河間法治之。《紺珠經》云：以火為本，以風為標。心火暴甚，腎水必衰。肺金既摧，肝木自旺。治法先以降心火為主，或清心湯，或瀉心湯，大作劑料服之，心火降則肝木自平矣。次以防風通聖散汗之，或大便閉塞者，三化湯下之。內邪已除，外邪已盡，當以羌活愈風湯常服之，宣其氣血，導其經絡，病自已矣。或舌蹇不語者，轉舌膏或活命金丹以治之，此聖人心法也。或有中風便牙關緊急，漿粥不入，急以三一承氣湯灌於鼻中，待藥下則口自開矣，然後按法治之。《寶鑑》云：凡人初覺大指、次指麻木不仁或不用者，三年內有中風之疾也。宜先服愈風湯、天麻丸各一料，此治未病之法也。薛己云：預防之理，當養氣血，節飲食，戒七情，遠幃幕可也。若服前方以預防，適所以招風取中也。</p>
<p>卒僕偏枯之症雖有多因，未有不因真氣不周而病者，故黃耆為必用之君藥，防風為必用之臣藥，黃耆助真氣者也，防風載黃耆助真氣以周於身者也，亦有治風功焉。許胤宗治王太后中風口噤，煎二藥熏之而愈，況服之乎。</p>
<p>多怒加羚羊角；渴加葛根汁、秦艽；口噤、口喎亦加秦艽；恍惚錯語加茯神、遠志；不得睡加炒酸棗仁；不能言加竹瀝、荊瀝、梨汁、陳醬汁、生葛汁、人乳汁；內熱加梨汁、人乳、生地黃汁；痰多加竹瀝、荊瀝，少佐以薑汁。予每治此症，用諸計以收奇功，為其行經絡、滲分肉，捷於湯、散故也。</p>
<p>中風將發預防之：黃耆（蜜炙）五錢，防風一錢五分，人參一錢五分，橘紅一錢，當歸身（酒洗）二錢五分，木通二錢五分，山梔一錢，甘草五分，紅花三分。</p>
<p>脾胃虛弱，語言無力，再加人參二錢，乾山藥一錢五分，薏苡仁二錢，白朮一錢。內熱加山梔至二錢，仍多啖消梨妙；渴加麥門冬二錢五分，五味子五分；眩暈加明天麻一錢；痰多而暈更加旋覆花五分；腳膝麻痹無力，加杜仲（薑汁炒去絲）、牛膝（酒浸）、石斛（酒浸）各一錢五分；夜臥不安，或多驚恐，心神不寧，加酸棗仁（炒香熟）、茯神各一錢五分。</p>
<p>上用水二鍾，煎至一鍾，入竹瀝一杯、梨汁一杯，加薑汁一匙，溫服無時。</p>
<p>中風將發之前，未有不內熱者，熱極生風，子能令母實，故先輩謂以火為本，以風為標。治法先以降心火為主，心火既降，肝木自平矣，此實則泄其子之法也。若作風治，而以辛熱之藥疏之者，固貽害不小，而調氣一法亦百無一驗，明者更精思之。</p>
<p>《太平廣記》載：唐梁新見一朝士，診之曰：風痰已深，請速歸去。其朝士復見鄜州馬醫趙鄂，乃復診之，言疾危，與梁說同矣。曰：只有一法，請官人試吃消梨，不限多少。咀齕不及絞汁而飲，到家旬日，惟吃消梨頓爽矣。此亦降火除熱之驗也。</p>
<p>每見時師初用八味順氣散多不得效，已而用二陳、四物加膽星、天麻之類，自謂穩當之極，可以久而奏功，而亦竟無一驗，何也？蓋妄以南星、半夏為化痰之藥，當歸、川芎為生血之劑，而泥於成方，變通無法故也。正不知通血脈、助真元非大劑人參不可。而有痰者惟宜竹瀝，少加薑汁佐之，不宜輕用燥劑。至於歸、地，甘黏能滯脾氣，使脾精不運，何以能愈癱緩？豈若人參出陽入陰，少則留而多則宣，無所不達哉。其能通血脈，雖明載《本草》，誰信之？</p>
<p>里中一老醫，右手足廢，不起於床者二年矣。人傳其不起。過數月，遇諸塗，訊之。曰：吾之病幾危矣。始服順氣行痰之藥，了無應驗，薄暮神志輒昏，度不可支，令家人煎進十全大補湯，即覺清明，遂日服之，浹數月能扶策而起，無何則又能捨策而步矣。經云：邪之所湊，其氣必虛。吾治其虛，不理其邪而邪自去，吾所以獲全也。余曰：有是哉。使進順氣疏風之藥不輟者，墓木拱矣。然此猶拘於成方，不能因病而變通，隨時而消息，故奏功稍遲。使吾早為之，當不止是也。姑書之以俟明者採焉。</p>
<p>凡卒中之時，不可驚惶搬攪，只掐其人中，徐徐以藥灌之。</p>
<p>遺尿，濃煎參耆湯，少加益智子，頻啜之。</p>
<p>失音不語，竹瀝、荊瀝、大梨汁各三杯，生葛汁、人乳汁各二杯，陳醬汁半杯，和勻，隔湯頓溫服。</p>
<p>風邪中人，六脈多沉伏，亦有脈隨氣奔，指下洪盛者。浮遲吉，堅大急疾凶。浮遲為寒，虛大為暑，不當暑則為虛。浮澀為濕。浮大為風，浮數無熱亦為風。微而數，浮而緊，沉而遲，皆氣中。風應人迎，氣應氣口。洪大為火，滑為痰。或浮而滑、沉而滑、微而虛者，皆虛與痰。</p>
<p>更當察時月氣候及其人之起居，參以顯症而定病之主名，以施治療。</p>

<h2>虛勞</h2>
<p>《玄珠》云：五行六氣，水特五之一耳。一水既虧，豈能勝五火哉，虛勞等證蜂起矣。其體虛者，最易感於邪氣，當先和解，微利微下之，從其緩而治之，次則調之。醫者不知邪氣加於身而未除，便行補劑，邪氣得補，遂入經絡，至死不悟。如此誤者，何啻千萬，良可悲哉。夫涼劑能養水清火，熱劑能燥水補火，理易明也。勞為熱證明矣，還可補乎？惟無邪、無熱、無積之人，脈舉按無力而弱者，方可補之，又必察其胃中及右腎二火虧而用之。心虛，則動悸，恍惚，憂煩，少色，舌強，宜養榮湯、琥珀定神丸之類以益其心血。脾虛，面黃肌瘦，吐利清冷，腹脹腸鳴，四肢無力，飲食不進，宜快胃湯、進食丸之類以調其飲食。肝虛，目昏，筋脈拘攣，面青，恐懼，如人將捕之狀，宜牛膝益中湯、虎骨丹之類以養助其筋脈。肺虛，呼吸少氣，喘乏咳嗽，嗌乾，宜枳實湯加人參、黃耆、阿膠、蘇子以調其氣。腎虛，腰、背、膝厥逆而痛，神昏耳鳴，小便頻數，精漏，宜八味丸加五味、鹿茸，去附子，用山藥等丸以生其精。</p>
<p>《證治要訣》云：五勞皆因不量才力，勉強云為，憂思過度，嗜欲無節，或病失調將，積久成勞。其證頭旋眼暈，身疼腳弱，心怯氣短，自汗盜汗，或發寒熱，或五心常熱，或往來潮熱，或骨蒸作熱，夜多惡夢，晝少精神，耳內蟬鳴，口中無味，飲食減少，此皆勞傷之證也。五臟雖皆有勞，心腎為多。心主血，腎主精，精竭血燥則勞生焉。治勞之法，當以調心補腎為先，不當用峻烈之劑，惟當溫養滋補以久取效。天雄、附子之類投之，適足以發其虛陽，緣內無精血，不足當此猛劑。然不可因有熱，純用甜冷之藥，以傷其胃氣。獨用熱藥者，猶釜中無水而進火也。過用冷藥者，猶釜下無火而添水也。非徒無益，而又害之。宜十全大補湯，或雙和散，或養榮湯、七珍散、樂令建中湯，皆可選用，間進雙補丸。</p>
<p>有重陰覆其陽，火不得伸，或洒洒惡寒，或志意不樂，或脈弦數，四肢、五心煩熱者，火鬱湯、柴胡升麻湯。病去即已，不可過劑。服寒涼藥證雖大減，脈反加數者，陽郁也，宜升，宜補火，忌寒涼，犯之必死。</p>
<p>丹溪論勞瘵主乎陰虛者，蓋自子至巳屬陽，自午至亥屬陰，陰虛則熱在午後子前。寤屬陽，寐屬陰，陰虛則汗從寐時盜出也。升屬陽，降屬陰，陰虛則氣不降，氣不降則痰涎上逆而連綿吐出不絕也。脈浮屬陽，沉屬陰，陰虛則浮之洪大，沉之空虛也。此皆陰虛之證，用四物湯加黃柏、知母主之。然世醫遵用治疾，乃百無一效者，何哉？蓋陰既虛矣，火必上炎，而川芎、當歸皆味辛，氣大溫，非滋虛降火之藥。又川芎上竄，尤非虛炎短乏者所宜。地黃泥膈，非胃弱、食少、痰多者所宜。黃柏、知母苦辛大寒，雖曰滋陰，其實燥而損血；雖曰降火，其實苦先入心，久而增氣，反能助火，至其敗胃，所不待言。用藥如此，焉能奏功也。予每用薏苡仁、百合、天門冬、麥門冬、桑根白皮、地骨皮、牡丹皮、枇杷葉、五味子、酸棗仁之屬，佐以生地汁、藕汁、乳汁、童子小便等。如咳嗽則多用桑皮、枇杷葉；有痰則增貝母；有血則多用薏苡仁、百合，增阿膠；熱盛則多用地骨皮；食少則用薏苡仁至七八錢，而麥門冬常為之主，以保肺金而滋生化之源，無不應手而效。蓋諸藥皆稟燥降收之氣，氣之薄者，為陽中之陰，氣薄則發泄。辛甘淡平，寒涼是也，以施於陰虛火動之症，猶當溽暑伊鬱之時，而商飈颯然，倏動則炎歊如失矣，與治暑熱用白虎湯同意。然彼是外感，外感為有餘，故用寒沉藏之藥而後能補其偏。此是內傷，內傷為不足，但用燥降收之劑而已得其平矣，此用藥之權衡也。</p>
<p>虛勞之疾，百脈空虛，非黏膩之物填之不能實也。精血枯涸，非滋濕之物濡之不能潤也。宜用人參、黃耆、地黃、天麥門冬、枸杞子、五味子之屬各煎膏，另用青蒿以童便熬膏，及生地汁、白蓮藕汁、人乳汁、薄荷汁隔湯煉過，酌定多少，並麋角膠、霞天膏合和成劑，每用數匙，湯化服之。如欲行瘀血，加入醋製大黃末子、玄明粉、桃仁泥、韭汁之屬；欲止血，加入京墨之屬；欲行痰，加入竹瀝之屬；欲降火，加入童便之屬。</p>
<p>凡虛勞之證，大抵心下引脅俱疼。蓋滯血不消，新血無以養之也，尤宜用膏子加韭汁、桃仁泥。</p>
<p>呼吸少氣，懶言語，無力動作，目無精光，面色㿠白，皆兼氣虛，用麥門冬、人參各三錢，橘紅、桔梗、炙甘草各半兩，五味子二十一粒，為極細末，水浸油餅為丸，如雞頭子大。每服一丸，細嚼，津唾嚥下，名補氣丸。</p>
<p>氣虛則生脈散，不言白朮。血虛則三才丸，不言四物。</p>
<p>大略前言薏苡仁之屬治肺虛，後言參耆地黃膏子之類治腎虛，蓋肝心屬陽，肺腎屬陰，陰虛則肺腎虛矣。故補肺腎即是補陰，非四物、黃柏、知母之謂也。</p>
<p>當以脾腎二臟為要，何以言之？腎乃系元氣者也，脾乃養形體者也。經曰：形不足，溫之以氣者也。謂真氣有少火之溫，以生育形體。然此火不可使之熱，熱則壯，壯則反耗真氣也。候其火之壯少，皆在兩腎間。經又曰：精不足，補之以味。五味入胃，各從所喜之臟而歸之，以生津液、輸納於腎者。若五味一有過節，反成其臟有餘，勝克之禍起矣。候其五味之寒熱，初有脾胃，次在其所歸之臟。即當補其不足，瀉其有餘，謹守精氣，調其陰陽，使神內藏。夫如是，則天樞開發而胃和脈生，故榮衛以周於內外，無不被滋養而病愈矣。</p>
<p>勞疾久而嗽血，咽疼，無聲，此為自下傳上；若不嗽不疼，久而溺濁脫精，此為自上傳下，皆死證也。</p>
<p>骨蒸之極，聲嗄咽痛，面黧，脈躁，汗出如珠，喘之氣促，出而無入，毛焦唇反，皆死證也。</p>
<p>又：骨肉相失，聲散嘔血，陽事不禁，晝涼夜熱者，死。</p>
<p>秘方：治虛症有火，服參、耆則作喘嗽，服歸、地則少飲食，服降火滋陰之藥則反削元氣而火又不降，宜用此方。甘枸杞、石斛（酒蒸，多用）、麥門冬（去心，多用）、天門冬、乾山藥（以上五味皆補虛藥而帶涼者，又不滯脾氣，以治虛症有火者絕妙）、山茱萸、酸棗仁（炒研，多用）、薏苡仁、白茯苓。若咳嗽，宜用五味子十餘粒，乾薑二三分，薄荷四五分，忌桑皮、杏仁、蘇子降氣等藥。若發躁，宜倍用收斂之藥，攝火歸源，忌用知母、黃柏苦寒之藥，犯之則躁愈甚矣。</p>

<h2>發熱</h2>
<p>楊仁齋云：凡壯熱，煩躁，用柴胡、黃芩、大黃解利之。其熱乍輕而不退，盍用黃芩、川芎、甘草、烏梅作劑，或用黃連、生地黃、赤茯苓同煎，臨熟入燈心一捻主之，其效亦速。蓋川芎、生地黃皆能調血，心血一調，其熱自退。</p>
<p>肌熱燥熱，目赤面紅，煩渴引飲，日夜不息，脈浮大而虛，重按全無，為血虛發熱症，似白虎，唯脈不長實為辨也。誤服白虎必危，宜當歸二錢，黃耆一兩，水煎服。</p>
<p>有腎虛火不歸經，遊行於外而發熱者，煩歇引飲，面目俱赤，遍舌生刺，兩唇黑裂，喉間如煙火上衝，兩足心如烙，痰涎壅盛，喘急，脈洪大而數無倫次，按之微弱者是也，宜十全大補湯吞八味丸。或問：燥熱如此，復投桂、附，不為以火濟火乎？曰：心包絡相火，附於右尺命門，男子以藏精，女子以系胞，因嗜欲竭之而火無所附，故厥而上炎。桂、附與火同氣也，而其味辛，能開腠理，致津液，通氣道，據其窟宅而招之，同氣相求，火必下降矣。且火從腎出者，是水中之火也。火可以水折，而水中之火不可以水折，故巴蜀有火井焉，得水則熾，得火則熄，則桂、附者，固治相火之正藥歟。</p>
<p>其人脈澀，必有漱水之症，必有嘔惡痰涎之證，必有兩腳厥冷之證，亦必有小腹結急之證，或唾紅，或鼻衄，此皆滯血作熱之明驗也。用藥不止於柴胡、黃芩，當以川芎、白芷、桃仁、五靈脂、甘草佐之。大便秘結者，於中更加大黃、濃蜜，使滯血一通，黑物流利，則熱不復作。</p>
<p>仲景有三物黃芩湯，治婦人四肢煩熱。</p>
<p>脈浮大而無力為虛，沉細而有力為實，沉細或數者死。病熱有火者生，心脈洪是也；無火者死，沉細是也。浮而澀，澀而身有熱者死。熱而脈靜者難治。脈盛，汗出不解者死；脈虛，熱不止者死；脈弱，四肢厥，不欲見人，食不入，利下不止者死。</p>

<h2>不能食</h2>
<p>許學士云：有人全不進食，服補脾藥皆不效，予授二神丸，服之頓能進食。此病不可全作脾氣治。蓋腎氣怯弱，真元衰削，是以不能消化飲食。譬之鼎釜之中置諸水穀，下無火力，終日米不熟，其何能化？黃魯直嘗記：服菟絲子，淘淨酒浸，曝乾，日挑數匙，以酒下之，十日外飲啖，如湯沃雪。亦知此理也。</p>
<p>今按治法，虛則補其母。不能食者，戊己虛也。火乃土之母，故以破故紙補腎為癸水，以肉豆蔻厚腸胃為戊土，戊癸化火，同為補土母之藥也。楊仁齋云：脾腎之氣交通，則水穀自然克化。《瑞竹堂方》謂：二神丸雖兼補脾胃，但無斡旋，往往常加木香以順其氣，使之斡旋空虛倉廩，倉廩空虛則能受物，屢用見效，其殆使之交通之力歟。</p>
<p>嚴用和云：人之有生不善攝養，房勞過度，真陽衰虛，坎水不溫，不能上蒸脾土，沖和失布，中州不運，是致飲食不進，胸膈痞塞，或不食而脹滿，或食而不消，大腑溏泄。古人云：補腎不如補脾。予謂：補脾不如補腎。腎氣若壯，丹田火盛，上蒸脾土，脾土溫和，中焦自治，膈開能食矣。</p>
<p>薛新甫云：予嘗病脾胃，服補劑及針灸脾俞等穴不應，幾殆。吾鄉盧丹谷先生令予服八味丸，飲食果進，三料而平。予兄年逾四十，貌豐氣弱，遇風則眩，勞則口舌生瘡，胸常有痰，目常赤澀，又一人脾虛發腫，皆以八味丸而愈。按此皆補腎之驗。</p>
<p>楊仁齋醫學恐當在丹溪之右。有云：脾腎之氣交通，則水穀自然克化。其見亦及此。</p>

<h2>諸氣</h2>
<p>經云：諸痛皆因於氣。百病皆生於氣。怒則氣上，喜則氣緩，悲則氣消，恐則氣下，寒則氣收，熱則氣泄，驚則氣亂，勞則氣耗，思則氣結，九氣不同也。</p>
<p>氣無補法，世俗之言也。以其為病痞悶壅塞，似難於補。不思正氣虛者，不能運行，邪滯著而不出，所以為病。經曰：壯者氣行則愈，怯者著而成病。苟或氣怯不用補法，氣何由行？氣屬陽，無寒之理。上升之氣覺惡寒者，亢則害，承乃制也。</p>
<p>氣有餘便是火。冷生氣者，高陽生之，謬言也。自覺冷氣自下而上者，非真冷也。蓋上升之氣自肝而出，中挾相火，自下而上，其熱為甚，火極似水，陽亢陰微也。</p>
<p>按：河間論氣為陽，而主輕微，諸所動亂、勞傷，乃陽火之化。神狂、氣亂，而病熱矣。又云：五志過極皆為火也。而其治法獨得言外之意，凡見喜、怒、悲、恐、思之證，皆以平心火為主。至於勞者傷於動。動便陽驚者，駭於心，心便屬火，二者必以平心火為主。俗醫不達此者，遂有寒涼之謗。</p>
<p>脈滑者，多血少氣。澀者，少血多氣。大者，血氣俱多。小者，血氣俱少。下手脈沉，便知是氣，其或沉滑，氣兼痰飲。</p>
<p>脈弦軟，或虛大、虛滑、微弱，飲食不節，勞傷過度，精神倦怠，四肢困乏，法當補益。</p>
<p>脈結澀，或沉弦急疾，收斂四肢，腹脅、腰胯間牽引疼痛，不能轉側，皆由七情鬱滯，挫閃傷損。謹察病原，隨證疏導。</p>

<h2>水腫</h2>
<p>許學士云：臍腹、四肢悉腫者，為水。但腹脹，四肢不甚腫，為蠱，蠱即脹也。然脹亦有頭面、手足盡腫者，大抵先頭足腫，後腹大者，水也；先腹大，後四肢腫者，脹也。</p>
<p>仲景法：諸有水者，腰以下腫，當利小便；腰已上腫，當發汗乃愈。防己黃耆湯、防己茯苓湯、蒲灰散（已上利小便）、越婢湯、越婢加朮湯、甘草麻黃湯、麻黃附子湯、杏子湯（已上發汗）。</p>
<p>腫病不一，或遍身腫，或四肢腫，面腫腳腫，皆謂之水氣。然有陽水，有陰水，並可先用五皮飲，或除濕湯加木瓜、腹皮各半錢，如未效，繼以四磨飲兼吞桂黃丸，仍用赤小豆粥佐之。</p>
<p>有脾肺虛弱不能通調水道者，宜用補中益氣湯補脾肺，六味丸補腎。有心火克肺金，不能生腎水，以致小便不利而成水證者，用人參平肺散以治肺，滋陰丸以滋小便。</p>
<p>若腎經陰虧，虛火爍肺金而小便不生者，用六味地黃丸以補腎水，用補中益氣湯以培脾土，肺脾腎之氣交通，則水穀自然克化。二經既虛，漸成水脹，又誤用行氣分利之藥，以致小便不利，喘急痰盛，已成蠱證，宜加減金匱腎氣丸主之。</p>
<p>《資生經》云：水腫惟得針水分，若針餘穴，水盡即死。然灸水分則有效，乃為要穴也。有里醫與李生治水腫，以藥飲之不效。一日忽為灸水分與氣海穴，翼早觀其面如削矣。信乎，水分之能治水腫也。</p>
<p>鯉魚一頭，重一斤已上者，煮熟取汁，和冬瓜、蔥白作羹食之。</p>
<p>水病，脈洪大者可治，微細者不可治。又云：浮大輕者生，沉細虛小者死。又云：實者生，虛者死。</p>

<h2>脹滿</h2>
<p>仲景云：脹滿，按之不痛為虛，痛者為實，可下之。腹脹時減，復如故，此為寒，當與溫藥。</p>
<p>有因積聚相攻，或疼或脹者，初用七氣消聚散。日久元氣虛、脾胃弱而脹者，參朮健脾湯少佐消導藥。</p>
<p>瘀蓄死血而脹，腹皮上見青紫筋，小水反利，脈芤澀，婦人多有此疾。先以桃仁承氣湯，勢重者抵當湯。如虛人不可下者，且以當歸活血散調治。</p>
<p>大病後，飲食失調，脾胃受傷，運化且難而生脹者，先以化滯調中湯，次以參苓白朮散。瀉利後，並過服通利藥，以致脾胃太弱而脹，專以補脾為主。若瀉痢未止，間用胃風湯。經久患泄瀉，晝夜不止，乃氣脫也，宜用益智子煎濃湯服，立愈。</p>
<p>嘉定沈氏子年十八，患胸腹身面俱脹滿，醫治半月不效。診其脈，六部皆不出也。於是用紫蘇、桔梗之類，煎服一盞，胸有微汗，再服則身盡汗，其六部和平之脈皆出，一二日其證悉平。</p>
<p>一男子三十餘歲，胸腹脹大，發煩躁渴，面赤不得臥而足冷，予以其人素飲酒，必酒後入內，奪於所用，精氣溢下，邪氣因從之上逆，則陰氣在上，故為䐜脹。其上焦之陽因下逆之邪所迫，壅塞於上，故發煩躁。此因邪從上下而盛於上者也，於是用吳茱萸、附子、人參輩以退陰逆，水冷飲之，以解上焦之浮熱。入咽覺胸中頓爽，少時腹中氣喘如牛吼，泄氣五七次，明日其證愈矣。</p>
<p>脹，脈浮大洪實者易治，沉細微弱者難治。脹或兼身熱，或兼如瘧狀，皆不可治，累驗。</p>

<h2>積聚</h2>
<p>肝之積，名曰肥氣，在左脅下，如覆杯，有頭足，久不愈，令人嘔逆，或兩脅痛牽引小腹，足寒轉筋，久則如瘧，宜大七氣湯煎熟待冷卻，以鐵器燒通紅，以藥淋之，乘熱服，兼吞肥氣丸。</p>
<p>肺之積，名曰息賁，在右脅下，大如覆杯，氣逆背痛，或少氣喜忘，目瞑，膚寒，皮中時痛如蝨喙針刺，久則咳喘，宜大七氣湯加桑白皮、半夏、杏仁各半錢，兼吞息賁丸。</p>
<p>心之積，名曰伏梁，起臍上，大如臂，上至心下，久不愈，令人病煩，心腹熱，咽乾，甚則吐血，宜大七氣湯加石菖蒲、半夏各半錢，兼吞伏梁丸。</p>
<p>脾之積，名曰痞氣，在胃脘，大如覆杯，痞塞不通，背痛心疼，飢減飽見，腹滿吐泄，久則四肢不收，發黃疸，飲食不為肌膚，足腫肉消，宜大七氣湯下紅丸子，兼吞痞氣丸。</p>
<p>腎之積，名曰賁豚，發於少腹，上至心，若豚狀，或下或上，無時，飢見飽減，小腹急，腰痛，口乾目昏，骨冷，久不已，令人喘逆，骨痿少氣，宜大七氣湯倍桂加茴香、炒楝子肉各半錢，兼吞奔豚丸。</p>
<p>磨積之藥，必用補氣血藥相兼服之，積消及半即止。若純用之致死，乃醫殺之也。</p>
<p>凡攻病之藥，皆是傷氣損血，故經曰：大毒治病，十去其五；小毒治病，十去其七，不得過也。</p>
<p>治積之法，理氣為先。氣既升降，津液流暢，積聚何由而生？丹溪乃謂：氣無形而不能作塊成聚，只一消痰破血為主，誤矣。夫天地間有形之物每自無中生，何止積聚也。戴復庵以一味大七氣湯治一切積聚，其知此道歟。</p>

<h2>痰飲</h2>
<p>經曰：飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行，安有所謂痰者哉。痰之生，由於脾氣不足，不能致精於肺，而淤以成焉者也。故治痰先補脾，脾復健運之常，而痰自化矣。然停積既久，如溝渠壅遏淹久，則倒流逆上，瘀濁臭穢，無所不有，若不疏決溝渠，而欲澄治已壅之水而使之清，無是理也。</p>
<p>龐安常有言：人身無倒上之痰，天下無逆流之水，故善治痰者，不治痰而治氣，氣順則一身之津液亦隨氣而順矣。並宜蘇子降氣湯、導痰湯各半帖和煎。或小半夏茯苓湯加枳實、木香各半錢，吞五套丸。或以五套丸料，依分兩作飲子煎服亦好。</p>
<p>有陰血不足，陰火上逆，肺受火侮，不得清肅下行，由是津液凝濁生痰不生血者，此則當以潤劑，如門冬、地黃、枸杞子之屬滋其陰，使上逆之火得返其宅而息焉，而痰自清矣。投以二陳，立見其殆。</p>
<p>腎虛不能納氣歸原，出而不納則積，積而不散則痰生焉，八味丸主之。</p>
<p>脈來細滑或緩，痰涎清薄，身體倦怠，手足痠軟，此脾虛挾濕，六君子湯，或補中益氣加半夏、茯苓。</p>
<p>脈來結澀，胸膈不利，或作刺痛，此挾氣鬱，宜七氣湯、越鞠丸。</p>
<p>有人坐處率吐痰涎滿地，其痰不甚稠黏，只是沫多。此氣虛不能攝涎，不可用利藥，宜六君子湯加益智仁一錢攝之。</p>
<p>丹陽賀魯庵，年七十餘，膈間有痰不快，飲食少思，初無大害，就醫京口，投以越鞠丸、清氣化痰丸，胸次稍寬，日日吞之，遂不輟口，年餘困頓不堪，僦舟來就予診治，則大肉已脫，兩手脈如遊絲，太谿絕不至矣。見予有難色，因曰：吾亦自分必死，但膈間脹不可忍，大便秘結不通，誠為寬須臾，即死瞑目矣。固強予疏方，以至親難辭，教用大劑人參、白朮煎湯進之，少頃如廁，下積痰數升，胸膈寬舒，更數日而歿。</p>
<p>通用海藏五飲湯、局方倍術丸。若乃虛症有痰，勿理其痰，但治其虛，虛者既復，則氣血健暢，津液流通，何痰之有？今人乃謂補藥能滯氣而生痰，此聾聵之言，流害無窮矣。</p>

<h2>咳嗽</h2>
<p>咳謂無痰而有聲，肺氣傷而不清也。嗽謂無聲而有痰，脾濕動而為痰也。咳嗽是有痰而有聲，蓋因傷於肺氣而咳，動於脾濕，因咳而為嗽也。經言：臟腑皆有咳嗽。咳嗽屬肺，何為臟腑皆有之？蓋咳嗽為病，有自外而入者，有自內而發者。風寒暑濕外也，七情飢飽內也。風寒暑濕先自皮毛而入，皮毛者，肺之合，故雖外邪欲傳臟腑，亦必先從其合而為嗽，此自外而入者也。七情飢飽內有所傷，則邪氣上逆，肺為氣出入之道，故五臟之邪上蒸於肺而為嗽，此自內而發者也。然風寒暑濕有不為嗽者，蓋所感者重，徑傷臟腑，不留於皮毛。七情亦有不為嗽者，蓋病尚淺，止在本臟，未即上攻。所以傷寒以有嗽為輕，而七情飢飽之嗽，久而後見，治法當審脈證、三因。若外因邪氣，止當發散，又須原其虛實，冷熱。若內因七情，則隨其部經，在於氣口脈相應，當以順氣為先，下痰次之。有停飲而咳，又須消化之方，不可用烏梅、罌粟酸澀之藥。其寒邪未除，亦不可便用補藥。尤忌憂思過度，房室勞傷，遂成瘵疾，宜養脾生肺也。</p>
<p>薛新甫云：春月風寒所傷，咳嗽聲重，頭疼，用金沸草散。咳嗽聲重，身熱頭痛，用局方消風散。蓋肺主皮毛，肺氣虛則腠理不密，風邪易入，治法當解表兼實肺氣。肺有火則腠理不閉，風邪外乘，治宜解表兼清肺火，邪退即止。若數行解散，則重亡津液，邪蘊而為肺疽、肺痿矣。故凡肺受邪不能輸化，而小便短少，皮膚漸腫，咳嗽日增者，宜用六君子湯以補脾肺，六味丸以滋腎水。夏月喘急而嗽，面赤潮熱，其脈洪大者，黃連解毒湯。躁而咳，梔子湯。咳唾有血，麥門冬湯。俱吞六味丸，壯水之主以制陽光，而保肺金。秋月咳而身熱，自汗口乾，便赤，脈虛而洪者，白虎湯。身熱而煩，氣高而短，心下痞滿，四肢困倦，精神短少者，香薷飲。若病邪既去，宜用補中益氣湯加乾山藥、五味子以養元氣，柴胡、升麻各二分以升生氣。冬月風寒外感，形氣、病氣俱實者，宜華蓋散、加減麻黃湯，所謂從表而入，自表而出。若形氣、病氣俱虛者，宜補其元氣，而佐以解表之藥，若專於解表，則肺氣益虛，腠理益疏，外邪乘虛易入，而其病愈難治矣。</p>
<p>《衍義》云：有婦人患肺熱久嗽，身如炙，飢瘦，將成肺勞。以枇杷葉、木通、款冬花、紫菀、杏仁、桑白皮各等分，大黃減半，各如常制治訖，同為末，蜜丸如櫻桃大。食後、夜臥各含化一丸，未終劑而愈。</p>
<p>一男子五十餘歲，病傷寒咳嗽，喉中聲如齁，與獨參湯一服而齁聲餘，至二三帖咳嗽亦漸退，凡服二三斤，病始全愈。</p>
<p>診：浮為風，緊為寒，數為熱，細為濕，浮緊則虛寒，沉數則實熱，弦澀則少血，洪滑則多痰，澀為房勞。右關濡傷脾，左關弦短傷肝，浮短傷肺。久嗽脈弱者可治，實大數者死。上氣，喘息低昂，脈滑，手足溫者生；脈澀，四肢寒者死。咳嗽，羸瘦，脈形堅大者死。咳嗽，脈沉緊者死；浮直者生，浮軟者生；小沉伏匿者死。咳而嘔，腹滿，泄，弦急欲絕者死。</p>

<h2>喘</h2>
<p>喘者，促促氣急，喝喝息數，張口抬肩，搖身擷肚。短氣者，呼吸雖數而不能接續，似喘而不搖肩，似呻吟而無痛，呼吸雖急而無痰聲。逆氣者，但氣上而奔急，肺壅而不下。宜詳辨之。</p>
<p>仲景云：膈間支飲，其人喘滿，心下痞堅，面色黧黑，其脈沉緊，得之數十日，醫吐之不愈，木防己湯主之。虛者即愈，實者三日復發。與不愈者，宜木防己湯去石膏加茯苓芒硝湯主之。支飲不得息，葶藶大棗瀉肺湯主之。</p>
<p>云岐云：四七湯治痰涎咽喉中，上氣喘逆，甚效。</p>
<p>人參半夏丸，化痰定喘。樓全善云：予平日用此方治久喘，未發時服此丸，已發時用沉香滾痰丸微下，累效。</p>
<p>樓全善云：凡下痰定喘諸方，施之形實有痰者神效。若陰虛而脈浮大，按之澀者，不可下，下之，必反劇而死。</p>
<p>初虞世云：火喘用白虎湯加瓜蔞仁、枳殼、黃芩，神效。</p>
<p>經云：歲火太過，炎暑流行，肺金受邪，民病少氣咳喘。又，熱淫所勝，病寒熱喘咳。宜以人參、麥門冬、五味子救肺，童便、炒黃柏、知母降火。</p>
<p>平居則氣平和，行動則氣促而喘者，此衝脈之火，用滋腎丸。</p>
<p>仲景云：火逆上氣，咽喉不利，止逆下氣，麥門冬湯主之。</p>
<p>東垣云：肺脹膨膨而喘咳，胸膈滿，壅盛而上奔者，予隨證用藥方中多加五味子，人參次之，麥門冬又次之，黃連少許。如甚則交兩手而瞀者，真氣大虛也。若氣短加黃耆、五味子、人參；氣盛去五味子、人參，加黃芩、荊芥穗，冬月去荊芥穗，加草豆蔻仁。</p>
<p>《本草》治咳嗽上氣喘急，以人參一味為末，雞子清投新水調下一錢。昔有二人同走，一含人參，一不含，俱走三五里許，其不含者大喘，含者氣息自如，此乃人參之力也。</p>
<p>樓全善治一婦人，五十餘歲，素有痰嗽，忽一日大喘，痰出如泉，身汗如油，脈浮而洪，似命絕之狀，速用麥門冬四錢、人參二錢、五味子一錢五分，煎服一帖，喘定汗止，三帖後痰亦漸少，再與前方內加瓜蔞仁一錢五分，白朮、當歸、芍藥、黃芩各一錢，服二十餘帖而安。此實麥門冬、五味子、人參之功也。如自汗兼腹滿，脈沉實而喘者，裡實也，宜下之。</p>
<p>有陰虛挾痰喘者，四物湯加枳殼、半夏，補陰降火。愚謂歸、地泥膈生痰，枳、半燥泄傷陰，不如用天門冬、桑皮、貝母、馬兜鈴、地骨皮、麥門冬、枇杷葉之屬。</p>
<p>人參平肺散，治心火刑肺，傳為肺痿，咳嗽喘嘔，痰涎壅盛，胸膈痞悶，咽嗌不利。</p>
<p>參蘇溫肺湯，治形寒飲冷則傷肺，喘，煩心胸滿，短氣不能宣暢。</p>
<p>調中益氣湯加減法：如秋冬月，胃脈四道為衝脈所逆，並脅下少陽脈二道而反上行，病名曰厥逆，其證氣上衝咽不得息，而喘息有音不得臥，加茱萸五分或一錢，湯洗去苦，觀厥氣多少而用之。如夏月有此證，為大熱也。蓋此證隨四時為寒熱溫涼，宜以酒黃連、酒黃柏、酒知母各等分，為細末，熟湯丸如桐子大。每服二百丸，白湯送下，空心服，仍多飲熱湯，服畢少時，便以美膳壓之，使不得胃中停留，直至下元，以瀉衝脈之邪也。</p>
<p>胃絡不和，喘出於陽明之氣逆。陽明之氣下行，今逆而上行，古人以通利為戒，如分氣紫蘇飲、指迷七氣湯加半夏，二陳湯加縮砂，施之為當。</p>
<p>真元耗損，喘生於腎氣之上奔。真元虛憊，腎氣不得歸元，固有以金石鎮墜，助陽接陰而愈者，然亦不可峻驟，且先與安腎丸、八味丸輩，否則人參煎湯，下養正丹主之。</p>
<p>肺虛則少氣而喘。經云：秋脈者，肺也。秋脈不及則喘，呼吸少氣而咳。上氣見血，下聞病音，其治法則門冬、五味、人參之屬是也。</p>
<p>《素問·逆調論》：夫不得臥，臥則喘者，是水氣之客也。夫水者，循津液而流也。腎者水藏，主津液，主臥與喘也。東垣云：病人不得眠，眠則喘者，水氣逆行，上乘於肺，肺得水而浮，使氣不流通，其脈沉大，宜神秘湯主之。</p>
<p>《素問·逆調論》：不得臥而息有音，是陽道之逆也。足三陽者下行，今逆而上行，故息有音也。陽明者胃脈也。胃者六腑之海，其氣亦下行。陽明逆，不得從其道，故不得臥也。《下經》曰：胃不和則臥不安，此之謂也。</p>
<p>上氣，而浮腫，肩息，脈浮大者危；脈滑，手足溫者生；脈澀，四脈寒者死。</p>

<h2>頭痛</h2>
<p>蓋頭象天，三陽、六腑清陽之氣皆會於此，三陰、五臟精華之血亦皆注於此。於是天氣所發六淫之邪，人氣所變五賊之逆，皆能相害。或蔽覆其清陽，或瘀塞其經絡，因與其氣相薄，鬱而成熱則脈滿，滿則痛。若邪氣稽留，則脈亦滿，而氣血亂，故痛甚，是痛皆為實也。若寒濕所侵，雖真氣虛，不與相薄成熱，然其邪客於脈外則血泣脈塞，寒則脈縮卷緊急，外引小絡而痛，得溫則痛止，是痛為虛也。如因風木痛者，則抽掣惡風，或有汗而痛。因暑熱痛者，或有汗，或無汗，則皆惡熱而痛。因濕而痛者，則頭重而痛，遇天陰尤甚。因痰飲而痛者，亦頭昏重而痛，憒憒欲吐。因寒而痛者，細急惡寒而痛。各與本臟所屬，風寒濕熱之氣兼為之狀而痛。更有氣虛而痛者，遇勞則痛甚，其脈大。有血虛而痛者，善驚惕，其脈芤。用是病形分之，更兼所見證察之，無不得之矣。</p>
<p>氣血俱虛頭痛者，於調中益氣湯加川芎、蔓荊子、細辛、其效如神。</p>
<p>當歸、川芎、連翹、熟苄各二錢，水煎去渣，入龍腦薄荷末二錢，乘沸泡之，鼻吸其氣，候溫即服，服即安臥，效（血虛頭痛）。</p>
<p>東垣選奇湯，治眉骨痛不可忍，效。</p>

<h2>腹痛</h2>
<p>綿綿痛而無增減，欲得熱手按，及喜熱食，其脈遲者，寒也。當用香砂理中湯，或治中湯、小建中湯、五積散等藥。若冷痛用溫藥不效，痛愈甚，大便不甚通，當微利之，用藿香正氣散，每服加官桂、木香、枳殼各半錢，吞下來復丹，或用蘇感丸。不利，則量虛實用神保丸。</p>
<p>時痛時止，熱手按而不散，其脈洪大而數者，熱也。宜二陳平胃散炒芩、連，或四順清涼飲、黃連解毒湯、神芎丸、金花丸之類。若腹中常覺有熱而痛，此為積熱，宜調胃承氣湯。</p>
<p>感暑而痛，或泄利並作，其脈必虛豁，宜十味香薷飲、六和湯。</p>
<p>感濕而痛，小便不利，大便溏泄，其脈必細，宜胃苓湯。</p>
<p>痰積作痛，或時眩運，或嘔冷涎，或下白積，或小便不利，或得辛辣熱湯則暫止，其脈必滑，宜二陳加行氣之劑，及星半安中湯。</p>
<p>食積作痛，痛甚欲大便，利後痛減，其脈必弦或沉滑，宜二陳平胃加山楂、神麯、麥芽、砂仁、草果，溫中丸、枳朮丸、保和丸、木香檳榔丸之類。</p>
<p>酒積腹痛，用三稜、蓬朮、香附、官桂、蒼朮、厚朴、陳皮、甘草、茯苓、木香、檳榔主之。多年敗田螺殼，煅存性，加三倍於木香檳榔丸中，更加山茵陳等分，其效甚速。</p>
<p>氣滯作痛，痛則腹脹，其脈必沉，宜木香順氣散。</p>
<p>死血作痛，痛有常處而不移，其脈必澀或芤，宜桃仁承氣湯。虛者加歸、地蜜丸服，以緩除之，或用牡丹皮、江西紅曲、麥芽、香附、川通草、穿山甲、番降香、紅花、蘇木、山楂、玄胡索、桃仁泥，酒、童便各一鍾，煎至一鍾，入韭汁服。</p>
<p>七情內結，或寒氣外攻，積聚堅牢如杯，心腹絞痛，不能飲食，時發時止，發即欲死，宜七氣湯。</p>
<p>腹痛有作止者，有塊耕起往來者，吐清水者，皆是蟲痛。或以雞汁吞萬應丸下之，或以椒湯吞烏梅丸安之。</p>
<p>脈多細小緊急，滑為痰，弦為食，陰弦或緊，或尺緊而實，或伏者，可下。細小遲者生，堅大疾者，數而緊者，浮大而長者死。痛而喘，臍下或大痛，人中黑色者，不治。</p>

<h2>脅痛</h2>
<p>仲景云：脅下偏痛，發熱，其脈弦緊，此寒也。以溫藥下之，宜大黃附子湯。</p>
<p>房勞過多，腎虛羸怯之人，胸膈之間多有隱隱微痛，此腎虛不能約氣，氣虛不能生血之故。氣與血猶水也，盛則流暢，少則壅滯。故氣血不虛則不滯。既虛則鮮有不滯者，所以作痛。宜用破故紙之類補腎，當歸之類和血。若作尋常脅痛治，即殆矣。</p>
<p>《九靈山房集》云：里鍾姓者一男子，病脅痛，眾醫以為癰也。投諸香、薑、桂之屬益甚。項彥章診其脈告曰：此腎邪病，法當先溫利而後竭之，投神保丸，下黑溲痛止，即令更服神芎丸。或疑其太過，彥章曰：向用神保丸，以腎邪透膜，非全蠍不能引導，然巴豆性熱，非得芒硝、大黃盪滌之，後遇熱必再作，乃大泄數出病已。彥章所以知男子之病者，以陽脈弦，陰脈微澀。弦者，痛也。澀者，腎邪有餘也。腎邪上薄於脅不能下，且腎方惡燥，今以燥熱發之，非得利不愈。經曰：痛隨利減。殆謂此也。</p>
<p>雲中秦文山掌教平湖，與家兄同官，每患脅痛，遇勞、忍餓則發，介家兄書來求方，予為處以人參、黃耆、白朮、當歸、川芎、地黃、牛膝、木瓜、山茱萸、石斛、薏苡仁、酸棗仁、柏子仁、桃仁之屬，令常服之。後來謝云：自服藥後，積久之疾，一朝而愈，不復發矣。聞魏昆溟吏部亦以勞餓得脅痛，無大病也。而醫者投以枳殼、青皮破氣之藥，痛愈甚，不數日而殞。予故著之以為世戒。</p>

<h2>腰痛</h2>
<p>有風，有濕，有寒，有熱，有挫閃，有瘀血，有滯氣，有痰積，皆標也。腎虛其本也。風傷腎而痛，其脈必帶浮，或左或右，痛無常處，牽引兩足，宜五積散，每服加防風半錢，全蠍三個。小續命湯、獨活寄生湯皆可選用，（三因方小續命湯加炒去皮桃仁，治風腰痛最妙），仍吞三仙丹。杜仲，薑汁炒，研末，每一錢溫酒調，空心服，治腎氣腰痛，兼治風冷為患，名杜仲酒。《三因》又有牛膝酒，治腎傷風毒，攻刺腰痛不可忍者。</p>
<p>傷濕而痛，如坐水中，蓋腎屬水，久坐水濕處，或為雨露所著，雨水相得，以致腰痛，其脈必帶緩，遇天陰或久坐必發，身體必帶沉重，宜滲濕湯主之。不效，宜腎著湯，或生附湯。</p>
<p>風濕腰痛，獨活寄生湯。</p>
<p>寒濕腰痛，五積散加桃仁、川芎，肉桂湯，麻黃蒼朮湯，並摩腰膏。</p>
<p>濕熱腰痛，蒼朮湯、獨活湯、羌活湯。東垣云：如身重腰沉沉然，乃經中有濕熱也。於羌活勝濕湯中加黃柏一錢，附子五分，蒼朮二錢。</p>
<p>感寒而痛者，腰間如冰，其脈必緊，見熱則減，見寒則增，宜五積散去桔梗，加吳茱萸半錢，或姜附湯加辣桂、杜仲，外用摩腰膏。</p>
<p>傷熱而痛者，脈必洪數而滑，發渴便閉，宜甘豆湯加續斷、天麻，間服敗毒散。</p>
<p>若因閃挫，或攧撲傷損而痛者，宜乳香趁痛散，及黑神散，和復元通氣散，酒調下。不效，則必有惡血停滯，宜先用酒調下蘇合香丸，仍以五積散加桃仁、大黃、蘇木各一錢，當歸倍原數。若因勞役負重而痛，宜和氣飲，或普賢正氣散，或十補湯下青娥丸。</p>
<p>瘀血為病，其脈必澀，轉側若錐刀之刺，大便黑，小便赤黃或黑，日輕夜重，名瀝血腰痛，宜調榮活絡飲，或桃仁酒調黑神散，或四物湯加桃仁、紅花之類。丹溪用補陰丸中加桃仁、紅花主之。</p>
<p>氣滯而痛，其脈必沉，宜人參順氣散，或烏藥順氣散加五加皮、木香，入少甘草煎湯調下。</p>
<p>痰注而痛，其脈必滑或伏，宜二陳湯加南星、香附、烏藥、枳殼主之。</p>
<p>大抵諸腰痛，皆起腎虛，既挾邪氣，則須除其邪。如無外邪積滯而自痛，則惟補腎而已。腰肢痿弱，身體疲倦，腳膝痠軟，脈或洪或細而皆無力，痛亦攸攸隱隱而不甚，是其候也。亦分寒熱二證。脈細而無力，怯怯短氣，小便清利，是為陽虛，宜腎氣丸、茴香丸、鹿茸、羊腎之屬，或以大建中湯加川椒十粒，吞下腰腎丸，及生料鹿茸丸之類。仍以茴香，炒研末，破開豬腰子作薄片，勿令斷，層層摻藥末，水紙裹，煨熟，細嚼、酒咽。此皆所以補陽之不足也，其脈洪而無力，小便黃赤，虛火時炎，是謂陰虛。東垣所謂：膏粱之人，久服湯藥，醉以入房，損其真氣，則腎氣熱，腎氣熱則腰脊痛而不能舉，久則髓減骨枯，發為骨痿，宜六味丸、滋腎丸、封髓丹、補陰丸之類。以補陰之不足也。</p>
<p>楊仁齋云：經云腰者腎之府，轉搖不能，腎將憊矣。審如是，則病在少陰，必究其受病之源而處之為得。雖然宗筋聚於陰器，肝者腎之同系也。五臟皆取氣於谷，脾者腎之倉廩也。鬱怒傷肝則諸筋縱弛，憂思傷脾則胃氣不行，二者又能為腰痛之寇，故並及之。鬱怒傷肝，發為腰痛，宜調肝散主之。憂思傷脾，發為腰痛，宜沉香降氣湯和調氣散，薑棗煎主之。</p>
<p>煨腎丸，治肝腎損及脾損，穀不化，腰痛不起者，神效。</p>
<p>又有沮挫失志傷腎而痛者，和劑七氣湯，多加白茯苓，少加乳香、沉香主之。</p>
<p>瘧、痢後腰痛，及婦人月經後腰痛，俱屬虛，宜補。於補氣血藥中加杜仲、側柏葉主之。</p>
<p>丹溪云：久腰痛，必用官桂開之方止，腹脅痛亦然。橘香丸，治腰痛經久不瘥，亦用官桂開之之意也。</p>

<h2>心痛、胃脘痛</h2>
<p>或問：丹溪言心痛即胃脘痛，然乎？曰：心與胃各一臟，其病形不同。因胃脘痛處在心下，故有當心而痛之名，豈胃脘痛即心痛者哉！歷代方論將二者混同，敘於一門，誤自此始。</p>
<p>仲景云：按之心下滿痛者，此為實也。當下之，宜大柴胡湯。凡脈堅實，不大便，腹滿不可按，並可承氣湯下之。</p>
<p>死血作痛，脈必澀，作時飲湯水下或作呃，壯人用桃仁承氣湯下，弱人用歸尾、川芎、牡丹皮、蘇木、紅花、玄胡索、桂心、桃仁泥、赤曲、番降香、通草、大麥芽、穿山甲之屬，煎成入童便、酒、韭汁，大劑飲之，或失笑散。</p>
<p>又有病人氣血虛損，及素作勞、羸弱之人患心痛者，皆虛痛也，有服大補之劑而愈者，不可不知。</p>
<p>病人舊有酒積、食積、痰積在胃脘、一遇觸犯，便作疼痛。挾風寒，參蘇飲加薑、蔥；挾怒氣，二陳加青皮、香附、薑汁炒黃連；挾飲食，二陳加炒山梔、曲糵、草果、山楂；挾火熱者，二陳加枳實、厚朴、薑汁炒黃連、山梔，加減越鞠丸，川芎、蒼朮、香附、神麯、貝母、炒梔子、砂仁、草果，參酌脈病施治。</p>

<h2>耳</h2>
<p>秘傳降氣湯加石菖蒲，治氣壅耳聾，大有神效。</p>

<h2>鼻</h2>
<p><u>鼻塞</u>　孫氏姑，鼻塞不聞香臭有年矣，後因他疾，友人繆仲淳為處方，每服用桑白皮至七八錢，服久而鼻塞忽通。</p>
<p><u>鼻淵</u>　謂鼻出濁涕也。樓全善治一中年男子，右鼻管流濁涕，有穢氣，脈弦小，右寸滑，左寸澀。先灸上星、三里、合谷，次以酒芩二兩，蒼朮、半夏各一兩，辛夷、細辛、川芎、白芷、石膏、人參、葛根各半兩，分七帖服之全愈。此乃濕熱痰積之證也。</p>
<p>孫一奎云：嘗以防風通聖散，除硝、黃，其滑石、石膏減半，倍加辛夷花，先服三五帖，再用此為丸，每服七十丸，早晚白湯吞，服半斤則瘳矣。</p>
<p><u>鼻瘜肉</u>　《韓氏醫通》云：貴人鼻中肉贅，臭不可近，痛不可搖，束手待斃。予但以白礬末，加硇砂少許吹其上，頃之化水而消，與勝濕湯加瀉白散二帖愈。此厚味擁濕熱蒸於肺門，如雨霽之地突生芝菌也。</p>

<h2>口</h2>
<p><u>口糜</u>　《內經》云：膀胱移熱於小腸，膈腸不便，上為口糜。東垣云：好飲酒人多有此疾。易老用五苓散、導赤散相合服之，神效。</p>
<p><u>口瘡</u>　服涼藥不愈者，此酒色過度，勞役不睡，舌上光滑而無皮，或因憂思損傷中氣，虛火泛上無制，用理中湯，甚者加附子或官桂噙之。</p>
<p><u>口臭</u>　常熟嚴文靖公，年逾七十，未斷房室，口服溫補之藥無算，兼以人參煮粥，蓯蓉作羹，致滋胃熱，滿口糜爛，牙齒動搖，口氣臭穢，殆不可近，屢進寒涼清胃之藥不效，有欲用薑、桂反佐者，請決於予，予曰：用之必大劇。主用加減甘露飲，八劑而平。</p>

<h2>齒</h2>
<p><u>牙痛</u>　用清涼藥便痛甚者，從治之，用蓽茇、川椒、薄荷、荊芥、細辛、樟腦、青鹽為末，擦牙上。</p>
<p><u>牙疼</u>　以平胃散入梅花片腦少許，研勻擦之，立效。</p>

<h2>舌</h2>
<p>曾有舌上病瘡，久蝕成穴，累服涼劑不效，後有教服黑錫丹，遂得漸愈。此亦下虛故上盛也。</p>
<p>又有舌無故常自痹者，不可作風治，由心血不足，理中湯加當歸服之。</p>

<h2>咽喉</h2>
<p>急喉痹，有聲如鼾，有如痰在喉響者，此為肺絕之候，速宜參膏救之，用薑汁、竹瀝放開服。如未得參膏，或先煎獨參湯救之，服早者十全七八，次則十全四五，遲則十不全一也。</p>
<p>針法治喉閉，刺少商出血，立愈。孫兆治文潞公喉腫，刺之，嘔出膿血升餘而愈。樓全善治一男子喉痹，於太谿穴刺出黑血半盞而愈。由是言之，喉痹以惡血不散故也。凡治此疾，暴者必先發散，發散不愈，次取痰，取痰不愈，次去汙血也。</p>

<h2>目</h2>
<p>若赤眼久而不愈，用諸眼藥無效者，早起以蘇子降氣湯下黑錫丹，日中以酒調黑神散，臨睡以消風散下三黃丸。此數藥，不獨治久赤，諸眼疾皆治之。</p>
<p>目赤腫痛，人知降火而不知活血，所以不得力。只用四物湯內，地黃用生，芍藥用赤，加酒蒸大黃、赤茯苓、薄荷葉治之，甚妙。此戴復庵法。</p>
<p>許學士云：《素問》曰：久視傷血。血主肝，故勤書則傷肝，主目昏，肝傷則自生風，熱氣上騰致目昏，亦不可專服補藥，但服益血鎮肝明目藥自愈。</p>
<p>《九靈山房集》云：元末四明有呂復，別號滄洲翁，深於醫道，臨川道士蕭云泉眼中視物皆倒植，請治於復，復問其因。蕭曰：某嘗大醉，盡吐所飲酒，熟睡至天明，遂得此病。復切其脈，左關浮促，即告之曰：嘗傷酒大吐時上焦反覆，致倒其膽腑，故視物皆倒植。此不內外因而致內傷者也，法當復吐以正其膽。遂以藜蘆、瓜蒂為粗末，用水煎之，使平旦頓服，以吐為度，吐畢視物如常。</p>
<p>蓋目主氣血，盛則玄府得利，出入升降而明，虛則玄府無以出入升降而昏，此則必用參耆、四物等劑助氣血運行而明也。</p>

<h1>卷之中</h1>

<h2>傷飲食</h2>
<p>大抵氣口脈緊盛者，宜下；尺脈絕者，宜吐。經曰：氣口脈盛傷於食，心胃滿而口無味。</p>
<p>口與氣口同，口曰坤者，口乃脾之候，故胃傷而氣口緊盛。夫傷有多少，有輕重。如氣口一盛，得脈六至，則傷於厥陰，乃傷之輕也，枳朮丸之類主之。氣口二盛，脈得七至，則傷於少陰，乃傷之重也，雄黃聖餅子、木香檳榔丸、枳殼丸之類主之。氣口三盛，脈得八至、九至，則傷太陰，填塞悶亂，則心胃大痛，備急丸、神保丸、消積丸之類主之。兀兀欲吐不已，俗呼食迷風是也。經曰：上部有脈，下部無脈，其人當吐不吐者死，瓜蒂散主之，如不能吐，是無治也。經曰：其高者，因而越之。此之謂也。或曰：盛食填塞，胸中痞亂，兩寸脈當用事，今反兩尺脈不見，其理安在？曰：胸中有食，是木鬱，宜達，故探吐之。食者物也，物者坤土也，是足太陰之號也。胸中者肺也，為物所塞。肺者手太陰金也，金主殺伐，與坤土俱在手上而旺於天。金能剋木，故肝木發生之氣伏於地下，非木鬱而何？吐去上焦陰土之物，木得舒暢則鬱結去矣。食塞於上，脈絕於下，若不明天地之道，無由達此至理。水火者，陰陽之徵兆，天地之別名也，故獨陽不生，獨陰不長。天之用在於地下，則萬物生長；地之用在於天上，則萬物收藏，此乃天地交而萬物通也。此天地相根之道也。故陽火之根本於地下，陰水之源本於天上，故曰水出高源。故人五臟主有形之物，物者陰也，陰者水也，右三部脈主之，偏見於寸口。食塞於上，是絕五臟之源，源絕則水不下流，兩尺脈之絕，此其理也，何疑之有？然必視所傷之物冷熱，隨證加減。如傷冷物一分、熱物二分，則用寒藥二停、熱藥一停，隨時消息。經云：必先歲氣，無伐天和。此之謂也。</p>
<p>既有三陰可下之法，亦必有三陰可補之法，故曰內傷三陰可用溫劑。若飲冷內傷，雖云損胃，未知色脈各在何經？若面色青黑，脈浮沉不一，弦而弱者，傷在厥陰。若面色紅赤，脈浮沉不一，細而微者，傷在少陰。若面色黃潔，脈浮沉不一，緩而遲者，傷在太陰也。傷在厥陰肝之經，當歸四逆湯加吳茱萸生薑湯之類主之。傷在少陰腎之經，通脈四逆湯主之。傷在太陰脾之經，理中丸湯主之，大便軟者宜湯，結者宜丸。</p>
<p>凡諸脾脈微洪，傷苦澀物，經曰：咸勝苦。微弦，傷冷硬物，經云：溫以克之。微澀，傷辛辣物，經云：苦勝辛。微滑，傷腥咸物，經云：甘勝咸。弦緊，傷酸硬物，經云：辛勝酸。洪緩，傷甜爛物，經云：酸勝甘。微遲，傷冷痰、積聚、惡物，溫胃化痰。單伏，主物不消化，曲糵、三稜、廣朮之類。浮洪而數，皆中酒，葛根、陳皮、茯苓。傷食作瀉不止，於應服藥中加肉豆蔻、益智仁以收固之。</p>
<p>按：酒之為物，氣熱而質濕。飲之而昏醉狂易者，熱也，宜以汗去之。既酲，則熱去而濕留止，宜利小便而已，二者宜酌而用之，大抵葛花解醒湯備矣。</p>
<p>飲食過多，脹痞不下，尋常率以破氣之藥投之，是食物既傷於前，藥劑又攻之於後，脾氣安得而健暢也。須以平補之藥為主，佐以他藥一升一降，使脾腎交通而水火既濟，自然腐化矣。</p>

<h2>中寒</h2>
<p>中寒之證，身體強直，口噤不語，或四肢戰掉，或洒洒惡寒，或翕翕發熱，或卒然眩暈，身無汗者，此寒毒所中也。其異於傷寒何也？曰：傷寒發熱，而中寒不發熱也。仲景於傷寒詳之，而中寒不成熱者未之及，何也？曰：陽動陰靜，動則變生，靜則不變。寒雖陰邪，既鬱而成熱，遂從乎陽動，傳變不一，靡有定方，故極推其所主之病，不得不詳也。其不成熱者，則是邪中於陰形之中，一定而移，不移則不變，不變則止在所中寒處而生病，是故略而不必詳也。治之先用酒調蘇合香丸，輕則五積散加香附一錢、麝香少許；重則用姜附湯。若人漸蘇，身體回暖，稍能言語，須更問其別有何證。寒脈遲緊，挾氣帶洪，攻刺作痛，附子理中湯加木香半錢。挾風帶浮，眩暈不仁，加防風一錢。挾濕帶濡，腫滿疼痛，加白朮一錢。筋脈牽急，加木瓜一錢。肢節疼痛，加桂一錢。亦可灸丹田穴，以多為妙。大抵中在皮膚則為浮，中在肉則為苛，為重，為聚液分裂而痛，或痛在四肢，或痛在胸脅，或痛在脛背，或痛在小腹引睪，或經脈引注臟腑之膜原為心腹痛，或注連於臟腑則痛死不知人。中於筋骨為筋攣骨痛，屈伸不利。中入六腑五臟，則仲景述在《金匱要略》中。所以肺中寒者，吐濁涕。肝中寒者，兩臂不能舉，舌本燥，喜太息，胸中痛而不得轉側，則吐而汗出也。心中寒者，其人苦心中如啖蒜狀，劇者心痛徹背，背痛徹心，如蟲注，其脈浮者，自吐乃愈。不言脾腎二臟中寒者，缺文也。然所謂中臟者，乃中五臟所居畔界之郭，內阻隔其經，臟氣不得出入故病，真中臟則死矣。</p>

<h2>傷暑</h2>
<p>傷暑與熱病外證相似，但熱病脈盛，中暑脈虛，以此別之。又有濕溫與中暑同，但身涼不渴為異耳。</p>
<p>《此事難知》傷暑有二：動而傷暑，心火大盛，肺氣全虧，故身脈洪大。動而火勝者，熱傷氣也，辛苦人多得之，白虎加人參湯。靜而傷暑，火勝金位，肺氣出表，故惡寒、脈沉疾。靜而濕盛者，身體重也，安樂之人多受之，白虎加蒼朮湯。</p>
<p>暑先入心者，心屬南方離火，各從其類。小腸為心之府，利心經，暑毒使由小腸中出。五苓散利小便，為治暑上劑也。</p>
<p>傷暑而大汗不止甚，真元耗散，宜急收其汗，生料五苓散倍桂，加黃耆如術之數。</p>
<p>六七月之間濕令大行，子能令母實而熱旺。濕熱相合而刑庚大腸，故用寒涼以救之。燥金受濕熱之邪，絕寒水生化之源，源絕則腎虧，痿厥之病大作，腰以下痿軟，癱瘓不能動矣。步行不正，兩足欹側，以清燥湯主之。</p>

<h2>傷濕</h2>
<p>濕有天之濕，霧露雨是也。天本乎氣，故先中表之榮衛。有地之濕，水泥是也。地本乎形，故先傷皮肉、筋骨、血脈。有飲食之濕，酒水乳酪之類是也，胃為水穀之海，故傷於脾胃。有汗液之濕，汗液亦氣也，止感於外。有人氣之濕，太陰濕土之所化也，乃動於中。治天之濕，當同司天法，濕上甚而熱者，平以苦溫，佐以甘辛，以汗為效而止。如《金匱要略》諸條謂風濕相搏，身上疼痛者是也。治地之濕，當同在泉法，濕淫於內，治以苦熱，佐以酸淡，以苦燥之，以淡泄之。治飲食之濕，在中奪之，在上吐之，在下引而竭之。汗液之濕，同司天者治。雖人氣屬太陰脾土所化之濕者，在氣交之分也，與前四治有同有異。何者？土兼四氣，寒熱溫涼，升降浮沉，備在其中。脾胃者，陰陽異位，更實更虛，更逆更從，是故陽盛則木勝，合為風濕；至陽盛則火勝，合為濕熱；陰盛則金勝，合為燥濕；至陰盛則水勝，合為陰濕。為兼四氣，故淫泆上下中外，無處不到。大率在上則病嘔吐、頭重、胸滿，在外則身重、腫，在下則足脛跗腫，在中腹脹、中滿痞塞，當分上下中外而治，隨其所兼寒熱溫涼以為佐使。至若因乘克，以致脾虛津積而成濕者，則先治勝克之邪。或脾胃本自虛而生濕者，則用補虛為主。或鬱熱而成濕者，則以發熱為要。或脾胃之濕淫泆流於四臟、筋骨、皮肉、血脈之間者，大概濕主乎否塞，以致所受之臟澀不得通疏，本臟之病因而發焉。其筋骨、皮肉、血脈受之，則發為痿痹，緩弱痛重，不任為用。所治之藥各有所入，能入於此者，不能入於彼，且濕淫為病，《內經》所論疊出於各篇，《本草》治濕，亦不一而見，凡切於治功者，便是要藥。今丹溪書乃止歸重蒼朮一味，豈理也哉！</p>

<h2>傷勞倦</h2>
<p>蓋人受水穀之氣以生，所謂清氣、營氣、運氣、衛氣、春升之氣，皆胃氣之別名也。夫胃氣為水穀之海，飲食入胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行，合於四時五臟陰陽，揆度以為常也。若陰陽失節，寒溫不適，脾胃乃傷。喜怒憂恐，損耗元氣。脾胃氣衰，元氣不足，而心火獨盛。心火者，陰火也，起於下焦，其繫系於心，心不主令，相火代之。相火，包絡之火，元氣之賊也。火與元氣不兩立，一勝則一負。脾胃氣虛則下流，肝腎陰火得以乘其土位，故脾證始得則氣高而喘，身熱而煩，其脈洪大而頭痛，或渴不止，其皮膚不任風寒而生寒熱。蓋陰火上衝則氣高喘而煩熱，為頭痛，為渴而脈洪。脾胃之氣下流，使穀氣不得升浮，是春生之令不行，則無陽以護其榮衛，使不任風寒，乃生寒熱，此皆脾胃之氣不足所致也。然與外感風寒之證頗同而實異，內傷脾胃，乃傷其氣；外感風寒，乃傷其形。傷其外則有餘，有餘者瀉之；傷其內則不足，不足者補之。汗之、下之、吐之、克之之類，皆瀉也；溫之、和之、調之、養之之類，皆補也。內傷不足之病，苟誤認作外感有餘之證，而反瀉之，則虛其虛也。實實虛虛，如此死者，醫殺之耳。然則奈何？為當以辛甘溫劑補其中而升其陽，甘寒以瀉其火則愈矣。經曰：勞者溫之，損者溫之。又曰：溫能除大熱，大忌苦寒之藥損其脾胃，今立補中益氣湯主之。</p>
<p>大抵治飲食勞倦所得之病，乃虛勞七損證也，當用溫平、甘多辛少之藥治之，是其本法也。如時上見寒熱病四時也，又或將理不如法，或酒食過多，或辛熱之食作病，或寒冷之食作病，或居大熱大寒之處益其病，當臨時制宜，暫用大寒大熱治法而取效。此從權也，不可以得效之故而久用之，必致夭橫矣。</p>

<h2>泄瀉</h2>
<p>丹溪云：有濕，有氣虛、火、痰、食積。戴復庵云：瀉水，腹不痛者，濕也。飲食入胃，輒後之，完穀不化者，氣虛也。腹痛，瀉水，腸鳴，痛一陣瀉一陣者，火也。或瀉或不瀉，或多或少者，痰也。腹痛甚而瀉，瀉後痛減者，食積也。</p>
<p>理中湯治泄瀉，加橘紅、茯苓各一兩，名補中湯，若溏泄不已者，於補中湯內加附子一兩，不喜飲食，水穀不化者，再加砂仁一兩，共成八味。</p>
<p>濕瀉，脈濡細，乃太陰經脾土受濕，泄水虛滑，身重微滿，不知穀味，口不渴，久雨泉溢河溢，或運氣濕土司令之時，多有此疾。宜除濕湯吞戊己丸，佐以胃苓湯，重者朮附湯。</p>
<p>濕兼寒瀉，《內經》曰：濕勝則濡泄。《甲乙經》云：寒氣客於下焦，傳為濡泄。夫脾者，五臟之至陰，其性惡寒濕。今寒濕之氣內容於脾，故不能裨助胃氣腐熟水穀，致清濁不分，水入腸間，虛莫能制，故洞泄如水，隨氣而下，謂之濡泄。法當除濕利小便也，治之以對金飲子。</p>
<p>濕兼熱瀉，益元散、參萸丸。</p>
<p>寒瀉，脈沉細或弦遲，身冷，口不渴，小便清白，或腹中綿綿作疼，宜理中湯、附子溫中湯、漿水散。</p>
<p>暴泄如水，周身汗出，一身盡冷，脈沉而弱，氣少而不能語，甚者加吐，此謂緊病，宜以漿水散治之。</p>
<p>戴云：寒瀉，寒氣在腹，攻刺作痛，洞下清水，腹內雷鳴，米飲不化者，理中湯或附子補中湯，吞大已寒丸，或附子桂香丸。畏食者，八味丸。元是冷瀉，因瀉而煩躁引飲，轉飲轉瀉者，參附湯、連理湯。</p>
<p>熱瀉，脈數疾或洪大，口乾燥，身多動，音聲響亮，暴注下迫，益元散加芩、連、燈心、淡竹葉之屬。</p>
<p>泄而身熱，小便不利，口渴者，益元、五苓，若火多，四苓加木通、黃芩。</p>
<p>戴云：熱瀉，糞色赤黃，彈響作疼，糞門焦痛，糞出穀道猶如湯熱，煩渴，小便不利，宜五苓散吞香連丸。</p>
<p>玉龍丸，治一切伏暑泄瀉神效。</p>
<p>氣瀉，腸鳴氣走，胸膈痞悶，腹急而痛，瀉則腹下稍可，須臾又急，亦有腹急氣塞而不通者，此由中脘停滯，氣不流轉，水穀不分所致。戴法用大七香丸，入米煎服。久而不愈者，五膈寬中散吞震靈丹，仍佐以米飲調香附末。</p>
<p>氣虛瀉，用四君子湯加曲糵、升、柴，吞二神加木香丸。</p>
<p>傷食瀉，因飲食過多，脾胃之氣不足以運化而瀉。其人必噫氣如敗卵臭，宜治中湯加砂仁半錢，曲糵枳朮丸，或七香丸、紅丸子雜服。食積腹痛而瀉，不可遽用治中兜住，宜先用消導推蕩之藥。或因食一物過傷而瀉，後復食之即瀉者，以脾為所傷未復而然，宜大建脾湯（寒者可用），仍燒所傷之物存性，為末，三五錢重調服。</p>
<p>痰瀉，二陳湯、海石、青黛、黃芩、神麯、薑汁、竹瀝為丸，每服三五十丸。少者必用吐法，吐之方愈。</p>
<p>因傷於酒，每晨起必瀉者，宜理中湯加乾葛，吞酒煮黃連丸，或葛花解酲湯吞之。</p>
<p>有人每五更將天明時必溏利一次，有人云：此名腎泄，服五味子散頓愈。有人久泄，早必泄一二行，泄後便輕快，脈滑而少弱，先與厚朴和中丸五十丸，大下之後，以白朮為君，枳殼、半夏、茯苓為臣，厚朴、炙甘草、芩、連、川芎、滑石為佐，吳茱萸十餘粒為使，生薑煎服，十餘帖而愈。</p>
<p>二神丸合五味子散名為四神丸，治瀉尤妙。</p>
<p>小便不利而泄，若津液偏滲於大腸，大便瀉而小便少者，用胃苓散分利之。若陰陽已分而小便短少，此脾肺氣虛不能生水也，宜補中益氣湯加麥門、五味。陰火上炎而小便赤少，此肺氣受傷不能生水也，用六味地黃丸加麥門、五味。腎經陰虛，陽無所生，而小便短少者，用滋腎丸、腎氣丸。腎經陽虛，陰無所化，而小便短少者，用益氣湯、六味丸。若誤用滲泄分利，復傷陽氣，陰無所生，而小便益不利，則腫脹之證作而疾危矣。</p>
<p>泄而口渴引飲，此為津液內亡，用錢氏白朮散或補中益氣湯。腎水不足之人患泄，或過服分利之劑而渴者，加減八味丸。失治，必變小便不利、水腫、脹滿等危證矣。</p>
<p>趙以德云：昔聞先生言泄瀉之病，其類多端，得於六淫、五邪、飲食所傷之外，復有雜合之邪，似難執法而治。乃見先生治氣暴脫而虛，頓瀉，不知人，口眼俱閉，呼吸微甚，殆欲絕者，急灸氣海，飲人參膏十餘斤而愈。治陰虛而腎不能司禁固之權者，峻補其腎。治積痰在肺，致其所合大腸之氣不固者，湧出上焦之痰，則肺氣下降，而大腸之虛自復矣。治憂思太過，脾氣結而不能升舉，陷入下焦而成泄瀉者，開其鬱結，補其脾胃，使穀氣升發也。凡此之類，不可枚舉。因問：先生治病何其神也？先生曰：無他，圓機活法，具在《內經》，熟之自得矣。</p>
<p>滑瀉。東垣云：中焦氣弱，脾胃受寒冷，大便滑泄，腹中雷鳴，或因誤下，末傳寒中，復遇時寒，四肢厥逆，心胃絞痛，冷汗不止，此腎之脾胃虛也，沉香溫胃丸治之。薛氏曰：前證若脾胃虛寒下陷者，用補中益氣湯加木香、肉豆蔻、補骨脂。若脾氣虛寒不禁者，用六君子湯加炮薑、肉桂。若命門火衰，脾土虛寒者，用八味丸。若脾腎氣血俱虛者，用十全大補湯送四神丸。若大便滑利，小便閉澀，或肢體漸腫，喘嗽唾痰，為脾腎虧損，宜金匱加減腎氣丸。</p>
<p>因傷面而瀉者，養胃湯加萊菔子（炒、研）一錢，痛者更加木香五分，瀉甚者去藿香，加炮姜如其數。</p>
<p>瀉已愈，至明年此月日時復發者，有積故也。脾主信，故至期復發。熱積，大承氣湯。寒積，感應丸。虛者，以保和丸加三稜、蓬朮之屬投之。</p>
<p>脈細，皮寒氣少，泄利前後飲食不入，此謂五虛不治，若用參朮膏早救之，亦有生者。</p>
<p>下利後脈絕，手足厥冷，晬時脈還，手足溫者生，脈不還者死。</p>
<p>下利，手足厥冷無脈者，灸之不溫，若脈不還，反微喘者死。</p>
<p>泄注，脈緩時小結者生，浮大數者死。</p>

<h2>滯下（即痢疾）</h2>
<p>古以赤為熱，白為冷。至金河間、李東垣始非之。劉謂：諸痢皆由乎熱，而以赤屬之心火，黃屬之脾土，白屬之肺金，青屬肝木，黑乃熱之極而反兼腎水之化。其諸瀉利皆兼於濕，濕主於痞，以致怫鬱氣不得宣通，濕熱甚於腸胃之中，因以成腸胃之燥，故里急後重，小便赤澀。謂治諸痢，莫若以辛苦寒藥而治，或微加辛熱佐之。辛能開鬱，苦能燥濕，寒能勝熱，使氣宣平而已。行血則便血自愈，調氣則後重自除。</p>
<p>李從脾胃病者而論，則曰：上逆於肺為白，下傳於陰為赤。《衛生寶鑑》因謂：太陰主瀉，傳於少陰為痢。由泄亡津液而火就燥，腎惡燥，居下焦血分也，其受邪者，故便膿血。然亦赤黃為熱，青白為寒。丹溪謂：滯下，因火熱下迫而致裡急後重，用劉氏之治濕熱，李氏之保脾土，更復一一較量氣血虛實以施治。三家皆發前代之未發，而舉其要也。予嘗因是而研究之，自其五色分五臟者言，則可見濕熱之中具有五邪之相挾。自其上逆下傳氣血者言，則可見五臟六腑、十二經脈之氣血，諸邪皆得傷之而為痢之赤白。本自其濕熱為病者言，則可見由來致成濕熱之故非一端。自其分痢有虛實者言，則可見凡在痢病者中所有之證，如煩躁者，咽乾舌黑者，噦噫後重者，腹痛者，脹滿者，腳痛腫弱之類，悉有虛實之殊。是故予於痢證，直斷之種種為邪入胃以成濕熱，經臟受傷，其氣傷則病於肺，血傷則傳於心，心肺者，氣血之主也，氣血所行之方既病，安得不歸所主之臟乎？而大小腸者，心肺之合也，出納水穀，糟粕傳輸之官。胃乃大小腸之總司，又是五臟六腑、十二經脈稟氣之海。苟有內外之邪，凡損傷於經臟者，或移其邪入胃，胃屬土，濕之化，胃受邪則濕氣不化，怫鬱而成濕熱矣。或心肺移氣血之病，傳之於合，大腸獨受其病，則氣凝注而成白痢，小腸獨受其病，則血凝注而成赤痢，大小腸通受其病，則赤白相混而下。胃之濕熱，淫於大小腸者亦如之，其色兼黃。若色之黑者有二，如色之焦黑，此極熱兼水化之黑也；如黑之光若漆者，此瘀血也。或曰：治利以腸胃，世人所守之法也。今乃復求其初感之邪，與初受之經，將何為哉？曰：病在腸胃者，是其標也。所感之邪與初受之經者，是其本也。且《內經》於治標本，各有所宜，施之先後，況所傳變之法，又與傷寒表裡無異，何可不求之乎？豈止此而已，至若腸胃自感而病，亦當以邪正分，或正氣先虛而受邪，或因邪而致虛，則以先者為本，後者為標。與夫積之新舊亦如之。舊積者，停食、結痰所化之積也；新積者，舊積去後而氣血怫鬱所生者也。舊積當先下之，新積則不宜下，其故何哉？蓋腸胃之腐熟水穀，轉輸糟粕者，皆榮衛灑陳六腑之功。今腸胃有邪，則榮衛運行至此，其機為之阻，不能施化，故衛氣鬱而不舒，榮血泣而不行，於是飲食、結痰停於胃，糟粕留於腸，與所鬱氣泣血之積，相挾成滯下病矣。如是者，必當下之，以通壅塞，利榮衛之行。至於升降仍不行，衛氣復郁，榮血復泣，又成新積，故病如初。若是者，不必求邪以治，但理衛氣以開通腠理，和榮血以調順陰陽，陰陽調，腠理開，則升降之道行，其積不治而自消矣。然而舊積亦有不可下者，先因榮衛之虛，不能轉輸其食積，必當先補榮衛，資腸胃之真氣充溢，然後下之，庶無失矣。予數見俗方，惟守十數方治利，不過攻之、澀之而已矣，安知攻病之藥，皆是耗氣損血之劑，用之不已，甚至於氣散血亡，五臟空虛，精憊神去而死。其固澀之，又皆足以增其氣鬱血泣之病，轉生腹脹，下為足腫，上為喘呼，諸疾作焉。世人之法，何足守乎！</p>
<p>《玄珠》云：下痢赤白，腹滿脹痛，裡急，上渴引飲，小水赤澀，此積滯也。宜泄其熱，中用清腸丸、導氣丸，推其積滯而利自止矣。凡治積聚之證，輕則溫而利之，清腸丸是也；重者天真散、舟車丸下之，下後勿便補之。其或力倦，自覺氣少，惡食，此為挾虛證，宜加白朮、當歸身尾，甚者加人參。若又十分重者，止用此藥加陳皮補之，虛回而痢自止矣。</p>

<h2>大便不通</h2>
<p>《金匱真言論》云：北方黑色，入通於腎，開竅於二陰，故腎陰虛則小大便難，宜以地黃、蓯蓉、車前、茯苓之屬，補真陰、利水道，少佐辛藥開腠理、致津液而潤其燥，施之於老人尤宜。若大小便燥結之甚，求通不得，登廁用力太過，便仍不通，而氣被掙脫，下注肛門，有時泄出清水，而裡急後重不可忍者，胸膈間梗梗作惡，乾嘔有聲，渴而索水，飲食不進，呻吟不絕。欲利之則氣已下脫，命在須臾，再下即絕。欲固之則溺與燥矢膨滿腹腸間，恐反增劇。欲升之使氣自舉，而穢物不為氣所結，自然通利，則嘔惡不堪，宜如何處？家姑年八十餘，嘗得此患，予惟用調氣、利小便之藥，雖小獲效，不收全功。嘗慰之令勿急性，後因不能食，遽索末藥，利下數行，不以告予，自謂稍快矣。而脈忽數動一止，氣息奄奄，頹然床褥。予知真氣已泄，若不收攝，恐遂無救，急以生脈藥投之，數劑後結脈始退。因合益血潤腸丸與服，勸以勿求速效，勿服他藥，久之自有奇功。如言調理兩月餘，而二便通調，四肢康勝矣。便秘自是老人常事，俗以為後門固，壽考之徵，而一時難堪，輒躁擾而致疾。予所處方，不犯大黃，可以久服，故表而出之。</p>
<p>益血潤腸丸：熟地黃六兩，杏仁（炒，去皮尖）、麻仁各三兩，以上三味俱杵膏。枳殼（麩炒）、橘紅各二兩五錢，阿膠（炒）、肉蓯蓉各一兩半，蘇子、荊芥各一兩，當歸三兩，末之，以前三味膏同杵千餘下，仍加煉蜜，丸如桐子大，每服五六十丸，空心白湯下。</p>
<p>大法云：大便秘，服神芎丸。大便不通，小便反利，不知燥濕之過，本大腸少津液，以寒燥之藥治之，是以轉燥，少服則不濟，多服則亡血，所以不通。若用四物、麻子、杏仁之類則可。經云：燥則為枯，濕劑所以潤之。</p>

<h2>小便不通</h2>
<p>或問：以吐法通小便，方論中未嘗有之，理將安在？曰：取其氣化而已。何則？《內經》謂：三焦者，決瀆之官，水道出焉。膀胱者，州都之官，津液藏焉，氣化則能出矣。故上中下三焦之氣，有一不化，則不得如決瀆之水而出矣。豈獨下焦膀胱氣塞而已哉。上焦肺者，主行榮衛，通調水道，下輸膀胱，而腎之合足三焦，下輸又上連肺，此豈非小便從上焦之氣化者乎？張仲景有言：衛氣行則小便宣通。其義亦在是矣。《內經》又謂：脾病則九竅不通。小便不利，是其一也。此豈非小便從中焦之氣化者乎？由是而言之，三焦所傷之邪不一，氣之變化無窮，故當隨處治邪行水，求其氣化，亦無窮也。然而大要在乎陰陽無相偏負，然後氣得以化。若「方盛衰論」曰：至陰虛，天氣絕，至陽盛，地氣不足。夫腎肝在下，地道也。心肺在上，天道也。脾胃居中，氣交之分也。故天之陽絕而不交於地者，尚且白露不下，況人同乎天，其在上之陽不交於陰，則在下之陰無以為化，而水道其能出乎！東垣引《八十一難經》謂：有陰陽相乘，有覆有溢，而為內關，不得小便者。有或在下之陰虛，在上之陽盛，不務其德而乘之，致腎氣之不化者，必瀉其陽而舉之，則陰可得而平也。若此條所敘之證，皆用吐法，蓋因氣道閉塞，升降不前者而用耳，何嘗舍眾法而獨施是哉？丹溪嘗曰：吾以吐法通小便，譬如滴水之器，上竅閉則下竅無以自通，必上竅開而下竅之水出焉。予嘗推是開竅之法，用之多驗，姑書一二證以明之。甲午秋，治一婦人，年五十，初患小便澀，醫以八正散等劑，展轉小便不通，身如芒刺加於體。予以所感霖淫雨濕，邪尚在表，因用蒼朮為君，附子佐之，發其表，一服即汗，小便即時便通。又治馬參政父，年八旬，初患小便短澀，因服藥分利太過，遂致閉塞，涓滴不出。予以飲食太過，傷其胃氣，陷於下焦，用補中益氣湯，一服小便通。因先多利藥，損其腎氣，遂致通後遺尿，一夜不止，急補其腎，然後已。凡醫之治是證，未有不用泄利之劑者，安能顧其腎氣之虛哉！表而出之，以為世戒。</p>
<p>大抵小腹痛脹如覆碗者為實，亦分在氣在血。氣壅塞於下者，木香流氣飲。血汙於下者，桃仁煎、代抵當丸、牛膝膏。</p>

<h2>淋</h2>
<p>小便淋，莖中痛不可忍，相引脅下痛，宜參苓琥珀湯。</p>
<p>有小便難澀如淋，不痛而癢者，虛證也。宜八味丸、生料鹿茸丸之類。若因思慮過度致淋，宜歸脾湯，或辰砂妙香散，吞威喜丸，或妙香散和五苓散。</p>
<p>石首魚腦骨十個，火煅滑石二錢，琥珀三分，俱為細末，每服一錢，空心，煎木通湯調下。</p>

<h2>遺精</h2>
<p>丹溪書分夢遺、精滑為二門。蓋夢與鬼交為夢遺，不因夢感而自遺者為精滑，然總之為遺精也。其治法無二，故合之。</p>
<p>葉氏云：遺滑之證，予累見人多作腎虛，而用補澀之藥無效，殊不知此因脾胃濕熱所乘，飲酒、厚味、痰火之人多有此疾。腎雖藏精，其精本於脾胃，飲食生化而輸於腎。若脾胃受傷，濕熱內郁，使中氣淆而不清，則所輸皆濁氣，邪火擾動，水不得而安靜，故遺滑也。治以蒼白二陳湯加黃檗、升麻、柴胡，俾清氣升，濁氣降，而脾胃健運，則遺滑自止矣。其有欲心太熾，思想無窮而致者，當從心治，心清則神寧，而火不妄起，宜遠志丸、茯神湯。房勞無度致腎虛者，必兼見怯弱等證，方可用補腎藥。故治有多端，須當審察，不可偏作腎虛治也。</p>
<p>趙以德治鄭叔魯，二十餘歲，攻舉子業，讀書夜至四鼓猶未已，遂發此病，臥間玉莖但著被與腿，便夢交接脫精，懸空則不夢，飲食日減，倦怠少氣。此用心太過，二火俱起，夜不得睡，血不歸肝、腎水不足，火乘陰虛入客下焦，鼓其精房，則精不得聚藏而欲走，因玉莖著物，猶厥氣客之，故作接內之夢。於是上補心安神，中調脾胃升舉其陽，下用益精、生陰、固陽之劑，不三月而病安矣。</p>
<p>醫家大法曰：嘗治脫真不止者，以澀劑收止之，則不能收、不能止，不若瀉心火；若瀉心火不能止之，不若用升陽之劑，加風藥之類止之。非此能止之也，舉其氣，上而不下也。</p>

<h2>赤白濁</h2>
<p>溺與精所出之道不同，淋病在溺道，故《綱目》列之肝膽部。濁病在精道，故《綱目》列之腎、膀胱部。今患濁者，雖便時莖中如刀割火灼而溺自清，唯竅端時有穢物如瘡膿、目眵淋漓不斷，初與便溺不相混濫，猶河中之濟焉，至易辨也。每見時醫以淋法治之，五苓、八正雜投不已而增劇者，不可勝數。予每正之，而其餘尚難以戶說也。蓋由精敗而腐者什九，由濕熱流注與虛者什一。</p>

<h2>疝</h2>
<p>男子、婦女疝氣，臍下冷痛，相引腰胯而痛，宜當歸四逆湯。</p>
<p>丹溪治內郁之濕熱，煎方：枳實九粒（炒），桃仁十四個（炒），山梔仁九個（炒），吳茱萸七粒（炒），山楂四粒（炒），生薑如指大。上六味，同入擂盆擂細，取順流水一鍾，入瓶內煎至微沸，帶渣服。如濕勝㿗疝者，加荔枝核；如痛甚者，加鹽炒大茴香二錢；如痛處可按者，加薄桂少許。丸方：山梔二兩（炒），山楂四兩（炒），枳實（炒）、茴香（炒）各二兩，柴胡、牡丹皮、八角茴香各一兩（炒），桃仁、茱萸（炒）各半兩，末之，酒糊丸，空心鹽湯下五六十丸。陽明受濕熱，傳入大腸，發熱惡寒，小腹連毛際間悶痛不可忍，用梔子仁（炒）、桃仁（炒）、枳實（炒）、山楂各等分。同研細，入生薑汁半合，用水一小鐘，燙起煎令沸，熱服之。一方加茱萸。</p>
<p>丹溪云：疝有挾虛而發者，其脈不甚沉緊，而大豁無力者是也。然其痛亦輕，唯覺重墜牽引耳。當以參、術為君，疏導藥佐之。蓋疏導藥即桃仁、山楂、枳實、梔仁、茱萸、川楝、玄胡索、丁香、木香之類是也。</p>
<p>不問何證，皆可用生料五積散，每服一兩，入鹽炒吳茱萸、茴香各一錢，生薑三片，蔥白五寸煎，空心熱服。</p>
<p>樓全善治謝人妻，小腹疼痛，小便不通，先艾灸三陰交，以茴香、丁香、青皮、檳榔、桂、茱萸、玄胡索、山楂、枳實，又倍用黃檗煎服，愈。</p>

<h2>脫肛</h2>
<p>寒者，以香附子、荊芥等分，煎湯洗之。熱者，以五倍子、朴硝煎湯洗之。亦用木賊燒灰，不令煙盡，入麝香少許，大便了，貼少許。或以五倍子末攤紙上貼肛，緩緩揉入。</p>
<p>大腸熱甚與腸風者，涼血清腸散。</p>
<p>瀉痢後大腸氣虛，肛門脫出，不腫不痛，屬氣血虛，宜補氣血為主。赤腫有痛，宜涼血祛風為主。補氣血，八珍湯、十全散。涼血，生地、赤芍、槐花、槐角、黃栝蔞、雞冠花。疏風，防風、羌活、荊芥。</p>
<p>生鐵三斤，水一斗，煮取五升，出鐵，以汁洗。內服磁石散。</p>

<h2>痔</h2>
<p>薛新甫云：初起焮痛、便秘，或小便不利者，宜清熱涼血，潤燥疏風。若氣血虛而寒涼傷損者，調養脾胃，滋補陰精。若破而久不愈，多成痔漏，有穿臀、穿陰、穿腸者，宜養元氣、補陰精為主。大便秘澀或作痛者，潤燥除濕。肛門下墜或作痛者，瀉火除濕。墜腫痛或作癢者，祛風勝濕。腫痛、小便澀滯者，清肝導濕。若有患痔而兼疝，患疝而兼下疳，皆屬肝腎不足之變症，但用地黃丸、益氣湯以滋化源為善。若專服寒涼治火者，無不致禍。</p>

<h2>痞</h2>
<p>或問：痞屬何臟？邪屬何氣？曰：嘗考之《內經》，有陽明之復，心痛痞滿者。注：以清甚於內，熱鬱於外。太陽之復，心胃生寒，心痛痞悶者。注：以心氣內燔。備化之紀，病痞；卑監之紀，留滿痞塞；太陰所至，為積飲、痞膈。注：皆以陰勝陽也。由是觀之，則是受病之臟者，心與脾也。因而怫鬱壅塞不通為痞者，火與濕也。其論致病所由之邪，則不可一言而盡。天氣之六淫外感，人氣之五邪相乘，陰陽之偏負，飲食、七情之過節，皆足以亂其火土之氣。蓋心，陽火也，主血。脾，陰土也，主濕。凡傷其陽，則火怫鬱而血凝，傷其陰，則土壅塞而濕聚，二臟之病，相去不離方寸間，至於陰陽之分，施治之法，便不可同也。何則？《金匱要略·水病篇》謂：心下堅大如盤，邊如旋杯，水飲所作者，二條同是語也。但一條之上有氣分二字，用桂枝去芍藥加麻黃附子細辛湯，治為水寒之邪閉結，氣海之陽不布，榮衛不行。一條用枳朮湯，為中焦水停土壅故也。又「胸痹篇」云：胸痹，心下痞留，氣結在胸，胸滿，脅下逆搶心，枳實薤白桂枝湯主之，人參湯亦主之。一證列二方，原其意，蓋是留氣結在胸為重者，便須補中。又：心中痞，諸逆心懸痛，桂枝生薑枳實湯主之。《傷寒論》中有謂：病人手足厥冷，脈作緊，邪結在胸中者，當吐之。脈浮大，心下反硬，有熱屬臟者，下之。茲二者為不汗、下而痞滿，從其邪有高下，故吐下之不同。若經汗下而心下痞，則以諸瀉心湯。大抵痞與結胸，同是滿硬，但結胸則湧治，豈非仲景治痞亦在心脾二臟，從火土之陰陽者歟，各適其宜而治。高者越之，下者竭之，上氣不足推而揚之，下氣不足溫而行之。高者抑之，下者舉之，郁者開之，結者解之，寒者熱之，熱者寒之，虛則補，實則瀉，隨機應變以為治。</p>
<p>若酒積雜病，下之大過，亦作痞滿，宜升提胃氣，以血藥兼之。</p>
<p>脾胃弱而轉運不調為痞，宜四君子湯。傷於勞倦者，補中益氣湯，大病後元氣未復而痞者，亦宜之。</p>
<p>脈之右關多弦，弦而遲者，必心下堅，此肝木克脾上，鬱結涎閉於臟腑，氣不舒則痞，木香順氣湯。</p>
<p>海藏云：治痞獨益中州脾土，以血藥治之，其法無以加矣。</p>

<h2>瘧</h2>
<p>予弱冠遊鄉校時，校師蔣先生之內，患牝瘧身痛，逾月不瘥，困甚。時予初知醫，延予診治，告以醫欲用薑、附溫之。予曰：溽暑未衰，明系熱邪，安得寒而溫之。經云：陽並於陰，則陰實而陽虛，陽明虛則寒慄鼓頷也。醫陽虛則腰背、頭項痛，三陽俱虛則陰氣勝，陰氣勝則骨寒而痛。寒生於內，故中外皆寒，此所云寒，乃陰陽交爭互作之寒，非真寒也，豈得用桂、附溫之？乃處一方，以柴胡、升麻、葛根、羌活、防風補三陽之虛（升之也，何曰補？曰：虛亦非真虛，以陷入陰分而謂之虛，故升之即補矣），以桃仁、紅花引入陰分，而取陽以出還於陽分，以豬苓分隔之，使不復下陷，一劑而病良已。</p>
<p>外祖母虞太孺人，年八十餘，夏患瘧，諸舅以年高不堪，懼其再發，議欲截之。予曰：欲一劑而已，亦甚易，何必截乎！乃用柴胡、升麻、葛根、羌活、防風之甘辛氣清以升陽氣，使離於陰而寒自已；以知母、石膏、黃芩之苦甘寒引陰氣下降，使離於陽而熱自已，以豬苓之淡滲分利陰陽，使不得交併；以穿山甲引之，以甘草和之，果一劑而止。</p>
<p>瘧發已多遍，諸藥未效，度無外邪，及虛人患瘧者，以人參、生薑各一兩煎湯，於發前二時，或發日五更，連進二服，無不愈者。愈後亦易康復，不煩調將。近因人參價高，難用濟貧，以白朮代之，夜發則用當歸，亦莫不應手而愈。</p>
<p>大法：先熱後寒者，小柴胡湯；先寒後熱者，小柴胡加桂枝湯；多熱、但熱者，白虎加桂枝湯。多寒、但寒者，柴胡桂薑湯。此以瘧之寒熱多少定治法也。若多寒而但有寒者，其脈或洪實，或滑，當作實熱治之，若便用桂枝，誤也。如或多熱而但有熱者，其脈或空虛，或微弱，當作虛寒治之，若便用白虎，亦誤也。所以欲學者，必先問其寒熱多少，又診脈以參之，百無一失矣。</p>
<p>仲景云：瘧脈自弦，弦數者多熱，弦遲者多寒，弦小緊者可下之，弦遲者可溫之，弦緊者可發汗及針灸也，浮大者可吐之，弦數者風疾發也，飲食消息止之。</p>
<p>凡寒熱發作，有期者，瘧也；無期者，諸病也。</p>
<p>仲景、易老治瘧法晰矣，然用之外因暑邪，病在盛熱之時為宜，若深秋悽清之候，與七情、痰食諸傷，未可泥也。</p>

<h2>嘔吐</h2>
<p>《金匱方》：諸嘔吐，谷不得下者，小半夏湯主之。又云：嘔家本渴，渴者為欲解，今反不渴，心下有支飲故也，小半夏湯主之。用半夏一升，生薑半斤，水七升，煮取一升半，分溫再服。又云：卒嘔吐，心下痞，有水眩悸者，小半夏加茯苓湯主之。即前方加茯苓四兩也。然則生薑、半夏固通治嘔吐之正劑矣，然東垣云：辛藥生薑之類治嘔吐，但治上焦氣壅表實之病。若胃虛穀氣不行，胸中閉塞而嘔者，唯宜益胃推揚穀氣而已，勿作表實用辛藥瀉之。故服小半夏湯不愈者，服大半夏湯立愈，此仲景心法也。</p>
<p>寒而嘔吐，則喜熱惡寒，四肢悽清，或先覺咽酸，脈弱小而滑，因胃虛傷寒飲食，或傷寒汗下過多，胃中虛冷所致，當以剛壯溫之。宜二陳湯加丁香十粒，或理中湯加枳實半錢，或丁香吳茱萸湯、藿香安胃散、鐵刷湯，不效則溫中湯，甚則附子理中湯，或治中湯加丁香，並須冷服。蓋冷遇冷則相入，庶不吐出。（羅謙甫云：諸藥不愈者，紅豆丸神效。）</p>
<p>曾有患人用附子理中湯、四逆湯加丁香，到口即吐，後去乾薑，只參、附加丁、木二香，煎熟，更磨入沉香，立吐定。蓋虛寒痰氣凝結，丁、附既溫，佐以沉、木香則通，乾薑、白朮則泥耳。</p>
<p>熱嘔，食少則出，喜冷惡熱，煩躁引飲，脈數而洪，宜二陳湯加黃連、炒梔子、枇杷葉、竹茹、乾葛、生薑，入蘆根汁服。</p>
<p>《金匱方》：嘔而發熱者，小柴胡湯主之。</p>
<p>《金匱方》：心胸中有停痰、宿水，自吐出水後，心胸間虛，氣滿不能食，茯苓飲主之。能消痰氣，令能食。又云：渴欲飲水，水入則吐者，名曰水逆，五苓散主之。</p>
<p>仲景以吐蛔為胃中冷之故，則成蛔厥，宜理中湯加炒川椒五粒、檳榔半錢，吞烏梅丸。</p>

<h2>胃反（即膈噎）</h2>
<p>瘀血在膈間，阻礙氣道而成者居多，以代抵當丸作芥子大，取三錢，去枕仰臥，細細嚥之，令其搜逐停積，至天明利下惡物，卻好將息自愈。</p>
<p>治反胃，用新汲水一大碗，留半碗，將半碗水內細細澆香油，鋪滿水面上，然後將益元散一帖，輕輕鋪滿香油麵上，須臾自然沉水底，此即陰陽升降之道也。用匙攪勻服，卻將所留水半碗燙藥碗漱口令淨。吐既止，卻進末子涼膈散通其大小便，未效，再進一帖益元及涼膈即效也。此方極驗。</p>
<p>童便（降火），竹瀝（行痰），韭汁（行血），人乳汁、牛乳汁（補虛潤燥），蘆根汁（止嘔），茅根汁（涼血），薑汁（佐竹瀝行痰），甘蔗汁（和胃），驢尿（殺蟲），仍入燒酒、米醋、蜜各少許和勻，隔湯燉溫服。</p>
<p>自制　通腸丸　大黃（酒浸）、滑石（飛研）各二兩，陳皮（去白）、厚朴（薑製）各一兩半，人參、當歸、貫眾（去毛）、乾漆（炒煙盡）各一兩，木香、檳榔各七錢半，三稜（煨）、蓬朮（煨）、川芎、薄荷、玄明粉、雄黃、桃仁泥、甘草各五錢，俱各另取細末，用竹瀝、童便、韭汁、人乳、驢尿、蘆根汁、茅根汁、甘蔗汁、燒酒、米醋、蜜各二杯，薑汁一杯，隔湯煮濃，和丸如芥子大。每服三錢，去枕仰臥，唾津嚥下，通利止後服。服此丸及前諸汁後，得藥不反，切不可便與粥飯及諸飲食，每日用人參五錢，陳皮二錢，作湯細啜，以扶胃氣，覺稍安，漸漸加人參，旬日半月間，方可小試陳倉米飲及糜粥。倉廩未固，不宜便貯米穀，常見即食粥飯者，遂致不救。</p>
<p>李絳療反胃嘔吐無常，粥飲入口即吐，困倦無力垂死者，以上黨人參三大兩，劈破，水一大升，煮取四合，熱頓服。</p>
<p>服耗氣藥過多，中氣不運而致者，當補氣而使自運，補氣運脾湯。</p>
<p>或痰飲阻滯而脈結澀者，二陳湯入竹瀝、薑汁。</p>
<p>有因火逆衝上，食不得入，其脈洪大有力而數者，滋陰清膈散加枇杷葉二錢、蘆根一兩。</p>
<p>痰多，食飲才下便為痰涎裹住不得下者，以來復丹控其痰涎。自制滌痰丸：半夏曲、枯礬、皂角（火炙，刮去皮弦子）、玄明粉、白茯苓、枳殼各等分，霞天膏和丸。</p>
<p>有因脾胃陽火內衰，其脈沉微而遲者，以辛香之藥溫其氣，卻宜丁沉透膈湯、五膈寬中散、嘉禾散之類，仍以益陰之藥佐之。</p>
<p>診：沉緩而無力，或大而弱，為氣虛。數而無力，或澀小，為血虛。數而有力為熱。寸關沉，或伏，或大而滑數，是痰。寸關脈沉而澀，是氣。年高病人，元氣敗壞，手足寒冷，糞如羊矢，沫大出者，皆不治。</p>

<h2>霍亂</h2>
<p>或間：霍亂病，亦復有他論者乎？曰：嘗考之《內經》，有太陰所至，為中滿、霍亂、吐下。有土鬱之發，民病嘔吐、霍亂、注下（上濕土霍亂，即仲景五苓散、理中丸之類）。有歲土不及，風乃大行，民病霍亂、飧泄（上土虛風勝霍亂，即羅謙甫桂苓白朮散之類）。有熱至則身熱、霍亂、吐下（上熱霍亂，即《活人書》香藿散之類）。《靈樞》有足太陰之別，名曰公孫，去本節後一寸，別走陽明。其別者，入絡腸胃。厥氣上逆則霍亂，實則腸中切痛，虛則蠱脹，取之所別。有清氣在陰，濁氣在陽，營氣順脈，衛氣逆行，清濁相干，亂於腸胃，則為霍亂。取之足太陰、陽明不下，取之三里。巢氏因此一條乃云：霍亂者，由陰陽清濁二氣相干，亂於腸胃間，因遇飲食而變，發則心腹絞痛。挾風而實者，自發熱，頭痛，體疼。虛者，但心腹痛而已。亦有因飲酒食肉腥膾生冷過度，居處不節，或露臥濕地，或當風取涼，風冷之氣歸於三焦，傳於脾胃，水穀不化，皆成霍亂。自巢氏之說行，後世守之以為法，無復知《內經》諸條者矣。至劉河間乃云吐下霍亂。三焦為水穀傳化之道路，熱氣甚則傳化失常，而吐瀉霍亂，炎性躁動故也。世俗止謂是停食者，誤也。轉筋者，亦是脾胃土衰，肝木自甚，熱氣燥爍於筋，則筋攣而痛，亦非寒也。張戴人則以風濕暍三氣合而為邪。蓋脾胃濕土為風木所克，鬱則熱乃發，發則心火炎上故嘔吐，嘔吐者暍也。脾濕下注故注泄，注泄者濕也，風急甚故筋轉，轉筋者風也。可謂善推病情者乎。王海藏亦謂：風濕熱外至，生冷物內加，內外合病者，此條殆似之矣。凡治病，當從《內經》隨宜施治，安可執一端而已哉。然則此病當以何為要？曰：脾胃之濕為本，諸邪感動者為病之由。然其間脾胃為虛有實，邪有陰陽相干之孰甚，皆宜消息處治。至若《明理論》謂：傷寒吐利者，由邪氣所傷。霍亂吐利者，由飲食所傷。其有兼傷寒之邪，內外不和者，加之頭痛、發熱而吐利者，是霍亂傷寒也。原仲景之意，豈必在飲食始為是病，彼於寒邪傳入中焦，胃氣因之不和，陰陽否隔者，安得不有以致之乎！不然，何以用理中、四逆等湯治之。</p>
<p>《保命集》云：凡霍亂，慎勿與粟米粥，湯入胃即死。如吐瀉已多，欲住之後，宜以稀粥漸漸補養，以遲為妙。</p>
<p>霍亂並諸吐瀉後，胸膈高起，痞塞欲絕，理中湯加枳實半錢，茯苓半錢。若枳實理中湯吐瀉已愈，而力怯、精神未復者，十補散。</p>
<p>診：霍亂，遍身轉筋，肚痛，四肢厥冷欲絕者，其脈洪大易治，脈微、囊縮、舌卷不治。</p>
<p>霍亂之後，陽氣已脫，或遺尿而不知，或氣少而不語，或膏汗如珠，或大躁欲入水，或四肢不收，皆不可治也。</p>
<p>乾霍亂，忽然心腹脹滿攪痛，欲吐不吐，欲瀉不瀉，燥亂憒憒無奈，俗名攪腸沙者是也。</p>
<p>丹溪云：吐提其氣，最是良法。吐中兼有發散之義。有用解散者，不用涼藥，但二陳湯加川芎、蒼朮、防風、白芷。</p>

<h2>呃逆</h2>
<p>呃逆，即《內經》所謂噦也。或曰：成無己、許學士固以噦為呃逆，然東垣、海藏又以噦為乾嘔，陳無擇又以噦名咳逆，諸論不同。今子獨取成、許二家之說，何也？曰：噦義具在《內經》，顧諸家不察耳。按《靈樞·雜病》篇末云：噦，以草刺鼻，噴嚏而已；無息而疾迎引之立已；大驚之，亦可已。詳此經文三法，正乃治呃逆之法。按呃逆用紙捻刺鼻便嚏，嚏則呃逆立止；或閉口，鼻氣使之無息，亦立已；或作冤盜賊大驚駭之，亦已。此予所以取成、許二家之論，噦為呃逆，為得經旨也。若以噦為乾嘔，設使乾嘔之人，或使之嚏，或使之無息，或使之大驚，其乾嘔能立已乎？噦非乾嘔也明矣。若以噦名咳逆，按《內經·生氣通天論》曰：秋傷於濕，上逆而咳。「陰陽應象論」曰：秋傷於濕，冬生咳嗽。以此論之，則咳逆為咳嗽無疑，以春夏冬三時比例自見。孫真人《千金》曰：咳逆者嗽也，本自明白，後人不知何以將咳逆誤作呃逆，失之遠矣。</p>
<p>劉宗厚曰：呃逆一證，有虛有實，有火有痰，有水氣，不可專作寒論。蓋傷寒發汗、吐、下之後，與瀉利日久，及大病後、婦人產後有此者，脾胃氣血大虛之故也。若平人食入太速而氣噎，或飲水喜笑錯喉而氣搶，或因痰水停隔心中，或因暴怒氣逆痰厥，或傷寒病失下而有此者，則皆屬實也。夫水性潤下，火性炎上，今其氣自下衝上，非火而何？大抵治法，虛則補之，虛中須分寒熱。如因汗、吐、下後誤服寒涼過多，當以溫補之。如脾胃陰虛，火逆上衝，當以平補之。挾熱者，涼而補之。若夫實者，如傷寒失下，地道不通，因而呃逆，當以寒下之。如痰飲停蓄，或暴怒氣逆痰厥，此等必形氣俱實，別無惡候，皆隨其邪之所在，湧之泄之，清之利之也。</p>
<p>治呃逆，於臍下關元灸七壯立愈，累驗。</p>
<p>又方，男左女右，乳下黑盡處一韭葉許灸三壯，甚者二七壯。</p>

<h2>面痛</h2>
<p>面痛皆屬火。蓋諸陽之會，皆在於面，而火陽類也。心者，生之本，神之變，其華在面，而心君火也。暴痛多實，久痛多虛。高者抑之，郁者開之。血熱者涼血，氣虛者補氣。不可專以苦寒瀉火為事。</p>
<p>老母年七十餘，累歲患頰車痛，每多言傷氣、不寐傷神則大發，發之劇則上連頭，下至喉，內及牙齦，皆如針刺火灼，不可手觸。乃至口不得開，言語、飲食並廢，自覺火光如閃電，尋常涎唾稠黏，如絲不斷，每勞與餓則甚，得臥與食則稍安。知其虛也，始以清胃散、犀角升麻湯、人參白虎湯、羌活勝濕湯加黃芩、甘、桔皆不效，後改用參、耆、白朮、芎、歸、升、柴、甘、桔之類，稍佐以芩、梔、連翹、黍黏，空腹進之，而食遠則加服加減甘露飲，始漸安。第老人性躁，不耐閒，勞與多言時有之，不能除去病根，然發亦稀少，即發亦不如往歲之劇矣。</p>
<p>從子鋙因喪子鬱結，復多餌鹿角膠諸種子藥，或於食後、臨臥輒進之，以至積成胃熱，遂患面痛，如老母證。服清胃散、甘露飲，大加石膏過當，而見虛證，又服參、耆等補藥過當，而復見火證。門人施生以越鞠加山梔、連翹、貝母、橘紅之屬，開其鬱結，而始向安。</p>

<h2>腳氣</h2>
<p>腳氣之名，起自後代，其頑麻腫痛者，則經所謂痹厥也。痿軟不收者，則經所謂痿厥也。其衝心者，則經所謂厥逆也。</p>
<p>凡腳氣之候，或見食嘔吐，憎聞食臭，或有腹痛下利，或大小便閉澀不通，或胸中衝悸，不欲見光明，或精神昏憒，或喜迷忘，語言錯亂，或壯熱頭痛，或身體極冷疼煩，或覺轉筋，或腫或不腫，或䏶腿頑痹，或時緩縱不隨，或復百節攣急，或小腹不仁，引皆腳氣狀貌也。</p>
<p>方書以腫者為濕腳氣，不腫者為乾腳氣。</p>
<p>不問久近、乾溼及屬何經，並可用除濕湯加木瓜、檳榔、白芷各半錢，或芎芷香蘇散加赤芍藥、萆薢各半錢，仍吞木瓜丸。</p>
<p>腳氣衝心，丹溪用四物湯加炒檗、以附子末津調傅湧泉穴，以艾灸，泄引其熱下行。金匱八味丸，治腳氣上攻入少腹不仁。已上虛者宜之。檳榔為末，童便調服三脘散、大腹子散、桑白皮散、薏苡仁散，已上實者宜之。</p>
<p>腳氣，上氣喘息，紫蘇葉三兩，桑白皮（銼、炒）二兩，前胡（去蘆）一兩。㕮咀，每服八錢，水二盞半，檳榔二枚，杏仁（去皮尖）二十枚，生薑五片，煎至一盞，溫服無時。腳氣喘急，此係入腹，宜蘇子降氣湯，仍佐以養正丹或四磨飲。</p>
<p>腳氣，嘔逆噁心，宜八味平胃散加木瓜一錢，胃食者，宜生料平胃散加木瓜一錢。二證並可用半夏散、橘皮湯。</p>
<p>小便不通，用生料五苓散一帖，除濕湯一帖，加木瓜二錢重，分二服。</p>
<p>大便不通，羌活導滯湯。</p>
<p>大小便俱不通，檳榔丸，或五苓散和復元通氣散。</p>
<p>發熱不退者，敗毒散加木瓜一錢，或用敗毒散、五積散各半帖和勻，名交加散，更加木瓜一錢。</p>
<p>若久履濕，而得兩腳或腫或瘡，五苓散或和氣飲，加木瓜、蘿蔔子各半錢，大黃一錢。</p>
<p>腳氣日久，腳脛枯細，或寒或熱，或疼或癢，或一腳偏患軟弱嚲曳，狀如偏風者，宜小續命湯加木瓜，或獨活寄生湯、附子八味湯，吞活絡丹、虎骨四斤丸。</p>
<p>腳心痛者，宜大聖散二錢重，入木瓜末一錢，豆淋酒調，仍用川椒、香白芷、草烏煎湯洗。</p>
<p>腳氣隱痛，行步艱辛，用平胃散加赤曲同煎服最妙，雞鳴散亦佳。</p>
<p>診：脈浮弦為虛，濡細為濕，洪數為熱，遲澀為寒，微滑為虛，牢堅為實。浮為表，沉為里，沉弦為風，沉緊為寒，沉細為濕，沉數為熱。結因氣，散因憂，緊因怒，細因悲。入心則恍惚謬妄，嘔吐，食不入，眠不安，脈左寸乍大、乍小、乍無者不治。入腎則腰腳皆腫，小便不通，呻吟，口額黑，沖胸而喘，左尺絕者不治。</p>
<p>但見心下急，氣喘不停，或自汗數出，或乍寒乍熱，其脈促短而數，嘔吐不止者死。</p>

<h2>著痹（即麻木）</h2>
<p>《原病式》列麻證，在六氣、燥金、諸澀條下釋之。曰：物得濕則滑澤，干則澀滯，麻猶澀也。由水液聚少而燥澀，氣行壅滯而不得滑澤通行，氣強攻衝而為麻也。俗方治麻病，多用烏、附者，令氣行之暴甚，以故轉麻，因之衝開道路以得通利而麻愈也。然六氣不必一氣獨為病，氣有相兼，若亡液為燥，或麻木無熱證，即當此法。或風熱勝濕為燥，因而病麻，則宜以退風散熱、活血養液、潤燥通氣之涼藥調之。東垣則曰：麻者氣之虛也。真氣虛弱，不能流通，填塞經絡，四肢俱虛，故生麻木不仁。或在手，或在足，或通身皮膚盡麻者，皆以黃耆、人參、白朮、甘草、五味、芍藥、當歸、升麻、柴胡之類，隨時令所兼之氣出入為方，但補其虛，全不用攻衝之劑。竊詳劉、李二公，生同時，居同地，無世運方土之異宜，何乃凡病遽有補攻之別如此？蓋因悟入聖人之道不同。劉以人稟天賦本無虧欠，因邪入攪亂其氣而後成病，所以攻邪為要，邪退則正氣自安。李以人之真氣榮養百骸，周於性命，凡真氣失調，少有所虧，則五邪、六淫便得乘間而入，所以補正為要，正復則邪氣自卻。今宜酌量二公之法，當攻當補，從中調治，無執泥其說。</p>
<p>渾身麻木不仁，或左或右半身麻木，或面或頭或手臂或腳腿麻木不仁，並神效黃耆湯。</p>
<p>丹溪曰：手麻是氣虛，木是濕痰、死血。十指麻木，胃中有濕痰、死血。氣虛者，補中益氣湯，或四君子湯加黃耆、天麻、麥門冬、川歸。濕痰者，二陳湯加蒼、白朮，少佐附子行經。死血者，四物湯加桃仁、紅花、韭汁。</p>
<p>大理少卿韓珠泉，遍身麻痹，不能舉動，求治於予，予以神效黃耆湯方加減授之，用耆一兩二錢，參、芍各六錢，他稱是。一服減半，彼欲速效，遂並二劑為一服之，旬日而病如失矣。予以元氣初復，宜靜以養之，完固而後可出。渠不能從，盛夏遽出見朝謁客，勞頓累日，偶從朝房出，上馬忽欲墜僕，從者扶至陳虛舟比部寓，邀予視之，予辭不治，數日而歿。嗚呼！行百里者，半於九十，可不戒哉！</p>

<h1>卷之下</h1>

<h2>諸見血證</h2>
<p>《攖寧生卮言》云：古人言諸見血非寒證，皆以血為熱迫，遂至妄行，然皆復有所挾也。或挾風，或挾濕，或挾氣，又有因藥石而發者，其本皆熱。上、中、下治，各有所宜。在上則梔子、黃芩、黃連、芍藥、犀角、蒲黃，而濟以生地黃、牡丹皮之類。胃血，古人有胃風湯，正是以陽明火邪為風所扇，而血為之動，中間有桂，取其能伐木也。若蒼朮、地榆、白芍藥之類，而濟以火劑。大腸血，以手陽明火邪為風為濕也，治以火劑、風劑，風能勝濕也。如黃連、黃芩、芍藥、檗皮、荊芥、防風、羌活之類，兼用雞冠花，則又述類之義也。</p>
<p>血溢、血泄、諸蓄妄證，其始也，予率以桃仁、大黃行血破瘀之劑折其銳氣，而後區別治之。雖往往獲中，然猶不得其所以然也。後來四明遇故人蘇伊舉，間論諸家術，伊舉曰：吾鄉有善醫者，每治失血蓄妄，必先以快藥下之。或問：失血復下，虛何以當？則曰：血既妄行，迷失故道，不去蓄利瘀，則以妄為常，曷以御之，且去者自去，生者自生，何虛之有？予聞之愕然，曰：名言也。昔者之疑，今釋然矣。</p>
<p>婦人之於血也，經水蓄而為胞胎，則蓄者自蓄，生者自生；及其產育為惡露，則去者自去，生者自生；其醞而為乳，則無復下，滿而為月矣。失血為血家妄逆，產婦為婦人常事，其去其生則一也。失血家須用下劑破血，蓋施之於蓄妄之初，亡血虛家不可下，蓋戒之於亡失之後。</p>
<p>驚而動血者屬心，怒而動血者屬肝，憂而動血者屬肺，思而動血者屬脾，勞而動血者屬腎。</p>
<p>《九靈山房集》云：湖心寺僧履師，偶搔膕中疥，自出血汩汩如湧泉，竟日不止，瘍醫治療不效。邀呂元膺往視時，已困極，無氣可語，及待其脈，惟尺脈如蛛絲，他部皆無，即告之曰：夫脈，血氣之先也，今血妄溢，故榮氣暴衰，然兩尺尚可按，惟當益榮以瀉其陰。乃作四神湯加荊芥穗、防風，不間晨夜並進，明日脈漸出，更服十全大補湯十劑，遂痊。</p>
<p>《仁齋直指》云：血遇熱則宣流，故止血多用涼藥，然亦有氣虛挾寒，陰陽不相為守，榮氣虛散，血亦錯行，所謂陽虛陰必走是耳。外證必有虛冷之狀，法當溫中，使血自歸於經絡，可用理中湯加南木香，或局方七氣湯加川芎，或甘草乾薑湯，其效甚著。又有飲食傷胃，或胃虛不能傳化，其氣逆上，亦令吐衄，木香理中湯、甘草乾薑湯。</p>
<p>診：脫血而脈實者難治。病若吐血復鼽衄，脈當沉細，反浮大而牢者死。吐血、衄血，脈滑弱小者生，實大者死。汗出若衄，其脈滑小者生，大躁者死。嘔血，胸滿引痛，脈小而疾者逆也。脈至而搏，血衄，身熱者死。吐血，咳逆上氣，其脈數而有熱，不得臥者死。諸見血，身熱脈大者難治，難治者，邪勝也。身涼脈靜者易治，易治者，正氣復也。衄血者，若但頭汗出，身無汗，及汗出不至足者死。血溢上行，或唾、或嘔、或吐，皆凶也。若變而下行為惡。利者，順也。血上行為逆，其治難，下行為順，其治易。故仲景云：畜血證下血者，當自愈。若無病之人，忽然下利者，其病進也。今病血證，上行而復下行惡，利者其邪欲去，是知吉也。</p>

<h2>鼻衄出血</h2>
<p>血衄不愈，以三稜針於氣街穴出血，更用五味子十粒，麥門冬、當歸、黃耆、生地、人參各一錢，水煎，空心熱服。</p>
<p>曾病衄，後血因舊路，一月或三四衄，又有洗面而衄，日以為常，此即水不通借路之意。並宜止衄散，茅花煎湯調下，或四物湯加石菖蒲、阿膠、蒲黃各半錢，煎熟，調火煅石膏末一匙頭許，兼進養正丹。前諸證服藥不效，大衄不止者，養正丹多服，仍佐以蘇子降氣湯，使血隨氣下。</p>

<h2>舌衄</h2>
<p>舌上忽出血如線，用槐花炒，研末，摻以麥門冬煎湯，調妙香散。</p>

<h2>齒衄</h2>
<p>《醫旨緒餘》云：有侄女十歲，因毀齒動搖，以苧麻摘之，血出不止，一日夜積十一盆，用末藥止其處，少頃復從口出。診其脈，皆洪大有力。以三製大黃末二錢，枳殼湯少加童便調下，去黑糞數塊，其血頓止。一男子每齒根出血盈盆，一月一發，百藥不效，知其人好飲，投前劑一服而安。一老嫗患此，一發五七日，日約升餘，投前劑亦安。所下皆有黑糞，是知此疾多陽明熱盛所致。緣沖、任二脈皆附陽明，陽明一經氣血俱多，故一發如潮湧，急則治其標，故投以釜底抽薪之法，應手而愈。要知腎虛血出者，其血必點滴而出，齒亦攸攸而疼，必不如此之暴且甚也。</p>

<h2>耳衄</h2>
<p>耳中出血，以龍骨吹之即止，左關脈弦洪，柴胡清肝散。尺脈或躁或弱，六味地黃丸。</p>

<h2>吐血</h2>
<p>夫口鼻出血，皆繫上盛下虛，有升無降，血隨氣上，越出上竅。法當順其氣，氣降則血歸經矣，宜蘇子降氣湯加人參、阿膠各一錢，下養正丹。</p>
<p>亦有氣虛不能攝血者，其脈必微弱虛軟，精神疲憊，宜獨參湯，或人參飲子、團參丸。</p>
<p>上膈壅熱吐血，脈洪大弦長，按之有力，精神不倦，或覺胸中滿痛，或血是紫黑塊者，用生地黃、赤芍、當歸、牡丹皮、荊芥、阿膠、滑石、大黃、玄明粉、桃仁泥之屬，從大便導之，此釜底抽薪法也。</p>
<p>血從下出者順，從上出者逆。一應血上溢之證，苟非脾虛泄瀉，羸瘦不禁者，皆當以大黃醋製，和生地黃汁，及桃仁泥、牡丹皮之屬，引入血分，使血下行以轉逆而為順，此妙法也。不知此，而日從事於芩、連、梔、檗之屬，輔四物而行之，使氣血俱傷，脾胃兩敗。今醫治血證，百豈有一生者耶。</p>
<p>血既下行之後，用薏苡仁（多用）、百合、麥門冬、鮮地骨皮。嗽、渴加枇杷葉、五味子、桑根白皮，有痰加貝母，皆氣薄味淡，西方兌金之本藥，因其衰而減之，自不再發，於虛勞證為尤宜。</p>
<p>急欲止之，用血餘灰二錢，以白湯化阿膠二錢，入童便、生藕汁、刺薊汁、生地黃汁各一杯，仍用好墨磨濃黑，頓溫服。</p>
<p>吐血人多發渴，名為血渴，十全大補湯，或黃耆、人參、五味子、地黃、麥門冬、葛根、枇杷葉，量胃氣虛實用之。</p>

<h2>咳嗽血</h2>
<p>或問：咳血止從肺出，他無可言耶？曰：肺不獨咳血，而亦唾血。蓋肺主氣，氣逆為咳。腎主水，水化液為唾。腎脈上入肺，循喉嚨、俠舌本。其支者，從肺出絡心，注胸中。故二臟相連，病則俱病，於是皆有咳、唾血也。亦有可分別者，涎唾中有少血散漫者，此腎從相火炎上之血也。若血如紅縷在痰中，咳而出者，此肺絡受熱傷之血也，其病難已。若咳白血，必死。白血，淺紅色，似肉似肺也。然肝亦唾血，肝藏血，肺藏氣，肝血不藏，亂氣自兩脅逆上，唾而出之。《內經》有血枯證，先唾血，為氣竭傷肝也。</p>

<h2>咯血</h2>
<p>咯血，不嗽而咯出血也。咯與唾少異，唾出於氣，上無所阻；咯出於痰，氣鬱於喉嚨之下，滯不得出，咯而乃出。求其所屬之臟，咯、唾同出於腎也。治咯血之方，宜用童便、青黛，以瀉手足少陽三焦與膽所合之相火，而薑汁為佐，用四物、地黃、牛膝輩，以補腎陰安其血也。</p>
<p>《攖寧生卮言》云：咯血為病最重，且難治者，以肺手太陰之經，氣多血少。又：肺者金象，為清肅之臟，金為火所制，迫而上行，以為咯血，逆之甚矣。上氣見血，下聞病音，謂喘而咯血，且咳嗽也。</p>

<h2>溲血</h2>
<p>大抵溲血、淋血、便血三者，雖以前後陰所出之竅血有不同，然於受病則一也，故治分標本亦一也。其散血、止血之藥，無越於數十品之間，惟引導、佐使，各走其鄉者少異耳。</p>
<p>先與生料五苓散和四物湯，若服藥不效，其人素病於色者，此屬虛證，宜五苓散和膠艾湯，吞鹿茸丸。或八味地黃丸，或鹿角膠丸，或辰砂妙香散和五苓散，吞二項丸子。若小便自清，後有數點血者，五苓散加赤芍藥一錢。亦有如砂石而色紅，卻無石淋之痛，亦屬虛證。宜五苓散和膠艾湯，或五苓散和辰砂妙香散，吞鹿茸丸、八味丸、鹿角膠丸。</p>

<h2>下血</h2>
<p>血之在身，有陰有陽，陽者順氣而行，循流脈中，調和五臟，灑陳六腑，如是者謂之榮血也。陰者居於絡脈，專守臟腑，滋養神氣，濡潤筋骨。若其臟感內外之邪，傷則或循經之陽血至其傷處，為邪氣所阻，漏泄經外，或居絡之陰血，因著留之邪，僻裂而出，則皆滲入腸胃而泄矣。世俗每見下血，率以腸風名之，不知風乃六淫中之一耳。或風有從腸胃經脈而入客者，或肝經風木之邪內乘於腸胃者，則可謂之腸風。若其他不因風邪而腸胃受火熱二淫，與寒、燥、濕怫鬱其氣，乃飲食用力過度，傷其陰絡之血者，亦謂之腸風，可乎？許學士謂：下清血色鮮者，腸風也。血濁而色暗者，臟毒也。肛門射如血線者，脈痔也。然腸風挾濕者，亦下如豆汁及紫黑瘀血，不必盡鮮，正當以久暫為別耳，然要之皆俗名也。世醫編書者，或以瀉血為腸風，或分瀉血與腸風、臟毒為二門，皆非也。</p>
<p>先血而後便，此近血也。由手陽明隨經下行，滲入大腸，傳於廣腸而下者也。赤小豆當歸散主之。</p>
<p>先便而後血，此遠血也，由足陽明隨經入胃，淫溢而下者也。黃土湯主之。</p>

<h2>蓄血</h2>
<p>夫人飲食起居一失其宜，皆能使血瘀滯不行，故百病由汙血者多，而醫書分門類，症有七氣而無畜血，予故增著之。</p>
<p>衄血，畜血上焦。心下手不可近，畜血中焦。臍腹小腫大痛，畜血下焦。三焦畜血，脈俱在左手中。畜血上焦，活人犀角地黃湯。畜血中焦，仲景桃仁承氣湯。畜血下焦，仲景抵當湯、韓氏地黃湯、生漆湯。</p>
<p>如牙齒等蝕，數年不愈，當作陽明畜血治之，以桃仁承氣湯，細末，煉蜜丸桐子大，服之。好飲者多有此疾，屢服有效。</p>

<h2>痙</h2>
<p>痙（《說文》：強直也。而無痓字。《廣韻》：痓，惡也，非強直明矣。作痓者誤，今正之。）</p>
<p>《金匱》云：病者身熱足寒，頸項強急，惡寒，時頭熱、面赤、目赤，獨頭動搖，卒口噤，背反張者，痙病也（《活人書》云：外證發熱惡寒，與傷寒相似，但其脈沉遲弦細，而項背反張為異耳。）</p>
<p>太陽病，發熱無汗，反惡寒者，名曰剛痙。</p>
<p>太陽病，發熱汗出而不惡寒，名曰柔痙。</p>
<p>太陽病，其證備，身體強𠘧𠘧，然脈反沉遲，此為痙，栝蔞桂枝湯主之。</p>
<p>太陽病，無汗而小便反少，氣上衝胸，口噤不得語，欲作剛痙，葛根湯主之。</p>
<p>剛痙為病，胸滿口噤，臥不著席，腳攣急，必齘齒，可與大承氣湯（此陽明經藥也。陽明總宗筋，以風寒濕熱之邪入於胃中，津液不行，宗筋無所養，故急宜此湯下濕熱，行津液。故《宣明》云：痙病，目直口噤，背強如弓臥搖動，手足搐搦，宜三一承氣湯下之，亦此意也。然非察證之明，的有實熱者，亦不可輕用也）。</p>
<p>丹溪云：大率與癇相似，比癇為甚。蓋因氣血大虛，挾痰、挾火而成。藥宜人參、竹瀝之類，不可用鳳藥。</p>
<p>一男子二十餘歲，患痘瘡，靨謝後，忽患口噤不開，四肢強直不能屈，時或達臍腹痛一陣，則冷汗如雨，痛定則汗止，時作時止，其脈急，弦緊而急。此因勞倦傷血，山居多風寒乘虛而感。又因痘瘡，其血愈虛。當用辛溫養血，辛涼散風，遂用當歸身、芍藥為君，川芎、青皮、鉤藤為臣，白朮、陳皮、甘草為佐，桂枝、木香、黃連為使，更加紅花少許，煎十二帖而安。</p>
<p>薛新甫云：痙病，因傷寒汗下過度，與產婦、潰瘍等病，及因克伐之劑，傷損氣血而變。若金衰木旺，先用瀉青丸，後用異功散。腎水虛，用六味丸。肝火旺，先用加味小柴胡湯，次用加味四物湯。發熱，用加味逍遙散。若木侮脾土，用補中益氣加芍藥、山梔。脾經鬱結，用加味歸脾湯。脾土濕熱，用三一承氣湯。大凡病後氣血虛弱，用參、術濃煎，佐以薑汁、竹瀝，時時用之。如不應，用十全大補湯；更不應，急加附子，或用參附湯，緩則不救。</p>
<p>虞摶治一婦人，年三十餘，身形瘦弱，月經後忽發痙，口噤，手足攣縮，角弓反張，此去血過多，風邪乘虛而入。用四物湯加防風、羌活、荊芥，少加附子行經，二帖病減半，六帖病全安。</p>

<h2>眩暈</h2>
<p>眩謂眼黑眩也，運如運轉之運，世謂之頭旋是也。</p>
<p>凡有過節，即隨其所動，經臟之氣而妄起，因名曰厥陽之火。厥陽之火有五，謂之五邪。五邪之變，遂勝克之病作。又或腎水不足，或精血傷敗，不能制其五陽之火獨光，或中土虛衰，不能提防下氣之逆，則龍雷之火得以震動於巔。諸火上至於頭，重則搏擊為痛，輕則旋轉為眩運矣。</p>
<p>或曰：治諸邪當何如？曰：夫火因動而起，但各從其所動之因而治之。因實熱而動者，治其熱。因邪搏擊而動者，治其邪。因厥逆逼上者，下治所厥之邪。因陰虛而起者，補其陰，抑其陽，按而收之。因陽虛而氣浮上者，則補其陽，斂其浮游之氣。因五志而動者，各安其臟氣以平之。因鬱而發者，治其所郁之邪，開之、發之。因精血不足者補之，不已，則求其屬以衰之。因勝克而動者，從盛衰之氣而補瀉之。中氣虛衰而動者，補其土以安之。上焦清明之氣虛，不能主持而動者，亦當補中焦之穀氣，推而揚之。因五臟六腑上注之精氣不足而動者，察其何者之虛而補之。如是雖不專治其火，而火自息矣。凡治百病之由火而生者皆然，非唯掉眩而已。</p>
<p>《內經》論眩，皆屬肝木，屬上虛。丹溪論眩，主於補虛、治痰、降火。仲景治眩，亦以痰飲為先也。</p>

<h2>癲狂癇</h2>
<p>《素問》止言癲而不及癇。《靈樞》乃有癇瘛、癇厥之名。諸書有言癲狂者，有言癲癇者，有言風癇者，有言驚癇者，有分癲癇為二門者，迄無定論。究其獨言癲者，祖《素問》也。言癲癇、言癲狂者，祖《靈樞》也。要之癲、癇、狂大相徑庭，非名殊而實一之謂也。《靈樞》雖編癲狂為一門，而形證兩具，取治異途，較之於癇，又不侔矣。徐嗣伯云：大人曰癲，小兒曰癇，亦不然也。《素問》謂癲為母腹中受驚所致，今乃曰小兒無癲可乎？癇病，大人每每有之，婦人尤多。今據經文，分辨於後。</p>
<p>癲者，或狂或愚，或歌或笑，或悲或泣，如醉如癡，言語有頭無尾，穢潔不知，積年累月不愈，俗呼心風。此志願高大而不遂所欲者多有之。</p>
<p>狂者，病之發時猖狂剛暴，如傷寒陽明大實發狂，罵詈不避親疏，甚則登高而歌，棄衣而走，逾垣上屋，非力所能，或與人語所未嘗見之事，如有邪依附者是也。</p>
<p>癇病，發則昏不知人，眩仆倒地，不省高下，甚而瘛瘲抽掣，目上視，或口眼喎斜，或口作六畜之聲。</p>
<p>癲病，俗謂之失心風。多因抑鬱不遂，侘傺無聊而成，精神恍惚，言語錯亂，喜怒不常，有狂之意，不如狂之甚。狂者暴病，癲則久病也。宜星香散加石菖蒲、人參各半錢，和竹瀝、薑汁，下壽星丸。或以湧劑湧去痰涎後，服寧神之劑。</p>
<p>癇病與卒中、痙病相同，但癇病僕時口中作聲，將醒時吐涎沫，醒後又復發，有連日發者，有一日三五發者。中風、中寒、中暑之類，則僕時無聲，醒時無涎沫，醒後不復再發。痙病雖亦時發時止，然身強直反張如弓，不如癇之身軟，或如豬、犬、牛、羊之鳴也。</p>

<h2>煩躁</h2>
<p>成氏曰：煩為擾亂而煩，躁為憤激而躁。合而言之，煩躁為熱也。折而言之，煩，陽也；躁，陰也，煩為熱之輕者，躁為熱之甚者。</p>
<p>先賢治煩躁俱作，有屬熱者，有屬寒者。治獨煩不躁者，多屬熱。唯悸而煩者，為虛寒。治獨躁不煩者，多屬寒，唯火邪者為熱。蓋煩者，心中煩、胸中煩，為內熱也。躁者，身體、手足躁擾，或裸體不欲近衣，或欲在井中，為外熱也。內熱者，有本之熱，故多屬熱。外熱者，多是無根之火，故屬寒也。</p>
<p>內外俱虛，身體冷而汗出，微嘔而煩擾，手足厥逆，體不得安靜者，死。</p>
<p>熱病七八日，其脈微細，小便不利，加暴口燥、脈代、舌焦乾黑者，死。</p>
<p>大法津液去多，五內枯燥而煩者，八珍湯加竹葉、酸棗仁、麥門冬。</p>
<p>榮血不足，陽勝陰微而煩者，人參、生地黃、麥門冬、地骨皮、白芍藥、竹茹之屬，或人參養榮湯下硃砂安神丸。</p>
<p>腎水下竭，心火上炎而煩者，竹葉石膏湯下滋腎丸。</p>
<p>產、痘、滯下後虛煩，為血液耗散，心神不守，危矣！宜猛進獨參湯。</p>
<p>煩而小便不利，五苓散。</p>
<p>心中蘊熱而煩，清心蓮子飲。</p>
<p>煩而嘔，不喜食，陳皮湯。</p>

<h2>驚悸恐</h2>
<p>或問：驚、悸、怔忡、恐怖之別？曰：悸，即怔忡也。怔忡者，本無所驚，自心動而不寧。驚者，因外有所觸而卒動。張子和云：驚者為自不知故也，恐者為自知也。蓋驚者聞響即驚，恐者自知，如人將捕之狀，及不能獨自坐臥，必須人為伴侶，方不恐懼，或夜必用燈照，無燈燭亦恐懼者是也。</p>
<p>人之所主者心，心之所養者血，心血一虛，神氣失守，失守則舍空，舍空而痰入客之，此驚悸之所由發也。或耳聞大聲，目擊異物，遇險臨危，觸事喪志，心為之忤，使人有惕惕之狀，是則為驚。心虛而停水，則胸中滲漉，虛氣流動，水既上乘，心火惡之，心不自安，使人有怏怏之狀，或築築然動，是則為悸。驚者與之豁痰定驚之劑，悸者與之逐水消飲之劑。所謂扶虛，調養心血、和平心氣而已。若一切以剛燥從事，或者心火自炎，又有熱生風之證。</p>
<p>心膽虛怯，觸事易驚，或夢寐不祥，遂致心驚膽懾，氣鬱生涎，涎與氣摶，變生諸證，或短氣悸乏，或復自汗者，並溫膽湯主之。嘔則以人參代竹茹。</p>
<p>丹溪云：怔忡，大概屬血虛與痰。有慮便動者，屬虛，時作時止者，痰因火動。瘦人多是血虛，肥人多是痰飲。真覺也跳者是血少，宜四物、安神之類。</p>
<p>久思所愛，觸事不意，虛耗真血，心血不足，遂成怔忡，宜養榮湯。</p>
<p>有失志者，由所求不遂，或過誤自咎，懼恨嗟嘆不已，獨語書空，若有所失，宜溫膽湯去竹茹加人參、柏子仁各一錢，下定志丸，仍佐以酒調辰砂妙香散。</p>
<p>有痞塞不飲食，心中常有所歉，愛處暗地，或倚門後，見人則驚避，似失志狀，此為卑惵之病，以血不足故耳，宜人參養榮湯。脾胃不足者，穀神嘉禾散加當歸、黃耆各半錢。</p>

<h2>健忘</h2>
<p>思慮過度，病在心脾，宜歸脾湯，有痰加竹瀝。</p>
<p>有因精神短少者，人參養榮湯、小定志丸、寧志膏。</p>
<p>有因痰迷心竅者，導痰湯下壽星丸，或加味茯苓湯。</p>
<p>心火不降，腎水不升，神志不定，事多健忘，宜朱雀丸。</p>

<h2>汗</h2>
<p>凡眠熟而汗出，醒則倏收者，曰盜汗，亦曰寢汗。不分寤寐，不由發表而自然汗出者，曰自汗。若勞後因動汗出，非自汗也。</p>
<p>陰虛陽必湊，故發熱自汗，當歸六黃湯加地骨皮。</p>
<p>陽虛陰必乘，故發厥自汗，黃耆建中湯，甚者加附子，或耆附湯。</p>
<p>滑伯仁治一婦，暑月身冷自汗，口乾煩躁，欲臥泥水中，脈浮而數，按之豁然虛散。曰：《素問》云：脈至而從，按之不鼓，諸陽皆然，此為陰盛格陽。得之飲食生冷，坐臥當風，以真武湯冷飲之，一進汗止，再進躁去，三進全安。</p>
<p>有痰證冷汗自出者，宜七氣湯或理氣降痰湯，痰去則汗自止。</p>
<p>火氣上蒸胃中之濕，亦能作汗，可用涼膈散。</p>
<p>有氣不順而自汗不止，須理氣使榮衛調和，小建中湯加木香。</p>
<p>若服諸藥欲止汗固表而並無效驗，藥愈澀而汗愈不收止，可理心血。蓋汗乃心之液，心無所養，不能攝血，故溢而為汗，宜大補黃耆湯加酸棗仁。有微熱者，更加石斛，兼下靈砂丹。</p>
<p>汗出如膠之黏，如珠之凝，及淋漓如雨，揩拭不逮者，難治。</p>
<p>戴復庵用黃耆建中湯加浮麥少許煎，黃耆六一湯，或玉屏風散。</p>
<p>補中益氣湯治內傷氣虛自汗，如脈洪大，心火炎上者，加五味子、麥門冬、黃連各一錢，如左關脈浮弦，自汗，挾風邪也，加桂枝五分，白芍藥一錢。如一切虛損之證自汗不休者，加麻黃根、浮小麥。虛陽甚者加附子，但升麻、柴胡俱用蜜水炒。尺脈虛大者加炒黃檗、知母、熟地黃。</p>
<p>當歸六黃湯，治盜汗之聖藥。</p>

<h2>喑</h2>
<p>喑者，邪入陰部也。經云：邪搏陰則為喑。又云：邪入於陰，搏則為喑。然有二證，一曰舌喑，乃中風舌不轉運之類是也。一曰喉喑，乃勞嗽失音之類是也。蓋舌喑但舌本不能轉運言語，而喉咽音聲則如故也。喉喑但喉中聲嘶，而舌本則能轉運言語也。</p>
<p>樓全善云：人舌短，言語不辨，乃痰涎閉塞舌本之脈而然。嘗治一中年男子，傷寒身熱，師與傷寒藥五帖，日後變神昏而喑，遂作體虛有痰治之，人參五錢，黃耆、白朮、當歸、陳皮各一錢，煎湯，入竹瀝、薑汁飲之。十二日其舌始能語得一字，又服之半月，舌漸能轉運言語，熱除而瘥。蓋足少陰脈挾舌本，脾足太陰之脈連舌本，手少陰別系舌本，故此三脈虛則痰涎乘虛閉塞其脈道，而舌不能轉運言語也。若此三脈亡血，則舌無血營養而喑。經云：刺足少陰脈重虛出血，為舌難以言。又云：刺舌下中脈太過，血出不止為喑。治當以前方加補血藥也。又嘗治一男子五十餘歲，嗜酒，吐血桶許後不食，舌不能語，但渴飲水，脈略數。與歸、芎、芍、地各一兩，朮、參各二兩，陳皮一兩半，甘草二錢，入竹瀝、童便、薑汁，至二十餘帖能言。若此三脈風熱中之，則其脈弛縱，故舌亦弛縱不能轉運而喑。風寒客之，則其脈縮急，故舌強、舌卷而喑。治在中風半身不收求之也。</p>
<p>樓全善治一男子四十九歲，久病痰嗽，忽一日感風寒，食酒肉，遂厥氣走喉，病暴喑。與灸足陽明、豐隆二穴各三壯，足少陰、照海穴各一壯，其聲立出。信哉，聖經之言也。仍用黃芩降火為君，杏仁、陳皮、桔梗瀉厥氣為臣，訶子泄逆，甘草和元氣為佐，服之良愈。</p>

<h2>消癉</h2>
<p>渴而多飲為上消（經謂：膈消）。消穀善肌為中消（經謂：消中）。渴而便數有膏為下消（經謂：腎消）。</p>
<p>上消者，上焦受病。「逆調論」云；心移熱於肺，傳為膈消是也。舌上赤裂，大渴引飲，少食，大便如常，小便清利，知其燥在上焦，治宜流濕潤燥，以白虎加人參湯主之。</p>
<p>能食而渴為實熱，人參、石膏，加減地骨皮散。</p>
<p>不能食而渴為虛熱，白朮散、門冬飲子。</p>
<p>小便不利而渴，知內有熱也，五苓散、豬苓散泄之。</p>
<p>小便自利而渴，知內有燥也，甘露飲、門冬飲潤之。</p>
<p>大便不利而渴，止渴潤燥湯。</p>
<p>中消者，胃也，渴而多飲，善食而瘦，自汗，大便硬，小便頻數赤黃，熱能消穀，知熱在中焦也，宜下之，以調胃承氣湯，又三黃丸主之。</p>
<p>下消者，病在下焦，初發為膏淋，謂淋下如膏油之狀，至病成，煩躁引飲，面色黧黑，形瘦而耳焦，小便濁而有脂液，治宜養血以分其清濁而自愈矣，以六味地黃丸主之。</p>
<p>益火之源以消陰翳，則便溺有節（八味丸）。</p>
<p>壯水之主以制陽光，則渴飲不思（六味丸）。</p>
<p>消渴後成水氣，方書雖有紫蘇湯、瞿麥湯、葶藶丸，皆克泄之劑，不若五皮飲送濟生腎氣丸，及東垣中滿分消諸方為妥。</p>
<p>診：心脈微小為消癉，滑甚為善渴（滑者，陽氣勝）。肺、肝、脾腎脈微小，皆為消癉。心脈軟而散者，當消渴自已。脈實大，病久可治。懸小堅，病久不可治。數大者生。細小、浮短者死。</p>

<h2>黃疸</h2>
<p>大法宜利小便、除濕熱。脈浮，腹中和，宜汗。脈浮，心中熱，腹滿欲吐者，宜吐。脈沉，心中懊憹或熱痛，腹滿，小便不利而赤，自汗出，宜下。脈不浮不沉微弦，腹痛而嘔，宜和解。脈沉細無力，身冷而黃，或自汗泄利，小便清白，為陰黃，宜溫。男子黃，大便自利，宜補。飢飽勞役，內傷中州，變寒病生黃，非外感而得，宜補。</p>
<p>治疸須分新久，新病初起，即當消導攻滲，如茵陳五苓散、胃苓飲、茯苓滲濕湯之類，無不效者。久病又當變法也，脾胃受傷日久，則氣血虛弱，必用補劑，如參朮健脾湯、當歸秦艽散，使正氣盛則邪氣退，庶可收功。若口淡怔忡，耳鳴，腳軟，或微寒熱，小便赤白濁，又當作虛治，宜養榮湯或四君子湯吞八味丸。五味子、附子者，皆可用。不可過用涼劑強通小便，恐腎水枯竭，久而面黑黃色，不可治矣。然有元氣素弱，避滲利之害，過服滋補，以致濕熱愈增者，又不可拘於久病調補之例也。</p>
<p>疸病，渴者難治。不渴者，可治。脈洪大，大便利而渴者死。脈微小，小便利，不渴者生。疸毒入腹，喘滿者危。凡年壯氣實，脈來洪大者易愈。年衰氣虛，脈來微澀者難瘥。年過五十，因房勞、飲酒，七情不遂而得，額黑嘔穢，大便自利，手足寒冷，飲食不進，肢體倦怠，服建中、理中，滲濕諸藥不效者，不可為也。</p>

<h2>癘風</h2>
<p>《素問·脈要精微論》曰：脈風成為癘。「風論」曰：風寒客於脈而不去，名曰癘風。癘風者，榮衛熱胕，其氣不清，故使鼻柱壞而色敗，皮膚瘍潰。又謂：風氣與大陽俱入，行諸脈俞，散諸分肉之間，與衛氣相干，其道不利，故使肌肉膹䐜而有瘍，衛氣有所凝而不行，故其肉有不仁也。「長刺節論」曰：大風骨節重，鬚眉墮，名曰大風。刺肌肉為故，汗出百日。王注：以泄衛氣之怫熱。刺骨髓，汗出百日。王注：以泄榮氣之怫熱。二百日。鬚眉生而止。《靈樞》曰：癘風者，數刺其腫上，已刺，以銳針，針其處，按出其惡氣，腫盡乃止。常食方食，毋食他食。今觀經之論治，分榮衛者如此，若古方雖多，但混瀉其風熱於榮衛，又無先後之分，至東垣、丹溪始分之。《治法機要》云：先樺皮散，從少至多，服五七日，灸承漿穴七壯，灸瘡愈，再灸再愈，三灸之後，服二聖散泄熱，祛血之風邪，戒房室，三年病愈。此先治其衛，後治其榮也。《試效方》治段庫使用補氣瀉榮湯，此治榮多於治衛也。丹溪云：須分在上在下。在上者，以醉仙散，取臭惡血於齒縫中出；在下者，以通天再造散，取惡物、蛔蟲於穀道中出。所出雖有上下道路之異，然皆不外於陽明一經而已。看其疙瘩，上先見，在上體多者，病在上也。下先見，在下體多者，病在下也。上下同得者，病在上覆在下也。陽明主胃與大腸，無物不受。此風之入人也，氣受之在上多，血受之在下多，血氣俱受者，上下皆多。自非醫者神手，病者鐵心，罕有免者。夫氣為陽為衛，血為陰為榮，身半已上，陽先受之，身半已下，陰先受之。是故再造散治其病在陰者，用皂角刺出風毒於榮血中。肝主血，惡血留止，其屬肝也。蟲亦生於厥陰，風木所化，必用是治其臟氣，殺蟲為主，以大黃引入腸胃榮血之分，利出瘀惡蟲物，醉仙散治其病在陽者，用鼠黏子出風毒遍身惡瘡，胡麻逐風，補肺潤皮膚，蒺藜主惡血，身體風癢，通鼻氣，防風治諸風，栝蔞根治瘀血，消熱胕腫，枸杞消風熱，散瘡毒，蔓荊子主賊風，苦參治熱毒風，皮肌煩躁生瘡，赤癩眉脫，八味藥治功固至矣，然必銀粉為使。銀粉乃是下膈通大腸之要劑，所以用其驅諸藥入陽明經，開其風熱怫鬱痞隔，逐出惡風臭穢之毒，殺所生之蟲，循經上行至牙齒軟薄之分，而出其臭毒之涎水。服此藥若有傷於齒，則以黃連末揩之，或先固濟以解銀粉之毒。銀粉在醉仙散有奪旗斬將之功，遂成此方妙用，非他方可企及，故丹溪取二方分用之，如破敵之先鋒。至於餘邪未除者，但調和榮衛藥中少加驅逐劑耳。</p>
<p>薛新甫以邪之所湊，其氣必虛，世醫治癘，止知攻邪，而不知補虛，非徒無益，而又害之，故作《癘瘍機要》三卷。循其法，雖不能去病，亦可以延天年，無夭枉之患。</p>

<h2>破傷風</h2>
<p>夫風者，百病之始也，清淨則腠理閉拒，雖有大風苛毒，莫之能害。諸瘡不瘥，榮衛虛，肌肉不生，瘡眼不合，而風邪入之，為破傷風之候。亦有因瘡熱鬱結，多著白痂，瘡口閉塞，氣難宣通，故熱甚而生風者。先辨瘡口，干無汁者，中風也；邊自出黃水者，中水也，並欲作痙，急治之。</p>
<p>東垣云：破傷風者，通於表裡，分別陰陽，同傷寒證治。人知有發表，不知有攻裡、和解。夫脈浮而無力，太陽也，在表宜汗。脈長而有力，陽明也，在裡宜下。脈浮而弦小者，少陽也，半在表半在裡，宜和解。明此三法，而治不中病者，未之有也（此但云三陽，不及三陰者，蓋風邪在三陽經，便宜按法早治而愈，若得傳入三陰，其證已危，或腹滿自利，口燥嗌乾，舌卷卵縮，皆無生理，故置而勿論也）。</p>

<h2>瘛瘲</h2>
<p>瘛者，筋脈拘急也；瘲者，筋脈張縱也，俗謂之搐是也。</p>
<p>《原病式》云：諸熱瞀瘛，皆屬於火。熱勝風搏，並於經絡，風主動而不寧，風火相乘，是以熱瞀瘛生矣。治法：祛風滌熱之劑，折其火熱，瞀瘛可立愈。若妄加灼艾，或飲以發表之劑，則死不旋踵矣。</p>
<p>產後瘛瘲：經云：肝主筋而藏血。蓋肝氣為陽為火，肝血為陰為水，前證因產後陰血去多，陽火熾盛，筋無所養而然耳。故癰疽膿水過多，金瘡出血過甚，則陽隨陰散，亦多致此。治法當用加味逍遙散或八珍散加丹皮、鉤藤以生陰血，則陽火自退，諸證自愈。如不應，當用四君、芎、歸、丹皮、鉤藤以補脾土。蓋血生於至陰，至陰者，脾土也。故小兒吐瀉之後，脾胃虧損，亦多患之，乃虛象也。無風可逐，無痰可消。若屬陽氣脫陷者，用補中益氣加薑、桂，陽氣虛敗者，用十全大補加桂、附，亦有復生者。此等證候，若肢體惡寒，脈微細者，此為真狀。若脈浮大，發熱煩渴，此為假象，唯當固本為善。無力抽搐，戴眼反折，汗出如珠者，皆不治。</p>

<h2>顫振</h2>
<p>顫，搖也；振，動也。筋脈約束不佳，而莫能任持，風之象也。</p>
<p>氣虛而振，參朮湯補之。心虛而振，補心丸養之。挾痰，導痰湯加竹瀝。老人戰振，宜定振丸。</p>

<h2>攣</h2>
<p>《內經》言：攣皆屬肝，肝主身之筋故也。又，陽明之復，甚則入肝，驚駭、筋攣。又，脾移寒於肝，癰腫、筋攣。有熱，有寒，有虛，有實。</p>
<p>灸筋急不能行，內踝筋急，灸內踝四十壯；外踝筋急，灸外踝三十壯，立愈。</p>

<h2>痛痹（即痛風）</h2>
<p>有風，有濕，有痰，有火，有血虛，有瘀血。診其脈浮者，風也。緩細者，濕也。滑者，痰也。洪大者，火也。芤者，血虛也。澀者，瘀血也。</p>
<p>因於風者，加減小續命湯，或烏藥順氣散去乾薑，加羌活、防風。</p>
<p>因於濕者，遇陰雨即發，身體沉重，宜除濕蠲痛湯，佐以竹瀝、薑汁，或大橘皮湯。傷濕而兼感風寒者，汗出身重，惡風，喘滿，骨節煩疼，狀如歷節風，臍下連腳冷痹，不能屈伸，宜防己黃耆湯或五痹湯。</p>
<p>因痰者，玉隱君豁痰湯，二陳湯加薑汁、竹瀝，甚者控涎丹。</p>
<p>因火者，潛行散加竹瀝。</p>
<p>因濕熱者，二妙散。</p>
<p>因於血虛者，四物蒼朮各半湯，吞活血丹。</p>
<p>因瘀血者，芎、歸、桃仁、紅花、水蛭，入麝香少許。</p>
<p>上部痛，羌活、桂枝、桔梗、威靈仙。</p>
<p>下部痛，牛膝、防己、木通、黃檗。</p>
<p>上部腫痛，五積散、烏藥順氣散加薑、蔥煎，發其汗。</p>
<p>下部腫痛，五苓、八正、大橘皮湯加燈心、竹葉，利小便。</p>
<p>若腫痛而大便不通者，大柴胡湯、防風通聖散主之。</p>

<h2>痿</h2>
<p>痿者，手足痿軟而無力，百節緩縱而不收也。</p>
<p>丹溪云：痿屬濕熱，有濕痰者，有氣虛者，有血虛者，有食積妨礙不降者，有死血者。</p>
<p>濕熱，東垣健步丸加黃檗、蒼朮、黃芩、或清燥湯。濕痰，二陳加蒼朮、黃檗之類，入竹瀝、薑汁。血虛，四物湯加蒼朮、黃檗，下補陰丸。氣虛，四君子湯加蒼朮、黃檗。氣血俱虛，十全大補湯。食積，木香檳榔丸。死血，桃仁、紅花、蓬朮、歸梢、赤芍藥之類。痿病，食積妨礙不得降者，亦有死血者，俱宜下之。</p>
<p>按：丹溪以《難經》瀉南補北之法摘為治痿之方，亦是舉其例耳，若胃口不開，飲食少進者，當以芳香辛溫之劑進之，不可拘於此例，宜藿香養胃湯主之。況依《內經》當分五臟。</p>

<h2>惡寒</h2>
<p>經曰：惡寒戰慄，皆屬於熱。又曰：戰慄，如喪神守，皆屬於火。惡寒者，雖當炎月，若遇風霜，重綿在身，如覺凜凜；戰慄，如喪神守，惡寒之甚也。《原病式》曰：病熱證而反覺自冷，此為病熱，實非寒也。或曰：往往見有服熱藥而愈者何也？曰：病熱之人，其氣炎上，郁為痰飲，抑遇清道，陰氣不升，病熱尤甚。積痰得熱，亦為暫退，熱勢助邪，其病益深。或曰：寒勢如此，誰敢以寒涼藥與之，非殺而何？曰：古人遇戰慄，有以大承氣湯下燥糞而愈者。惡寒、戰慄，明是熱證，但有虛實之分耳。</p>
<p>有衛氣虛衰，不能實表、溫分肉而惡寒者，丹溪用參、耆之類，甚者加附子少許，以行參、耆之氣是也。</p>
<p>上焦不通，則陽氣抑遏，而皮膚分肉無以溫之，故寒慄。東垣升陽益胃湯，用升發之劑開發上焦，以伸陽明出外溫之也。丹溪吐出濕痰，亦開發上焦，使陽氣隨吐升發出外溫之也，故寒慄皆愈。</p>
<p>背惡寒是痰飲。仲景云：心下有留飲，其人背惡寒，冷如冰。治法，茯苓丸之類是也。</p>

<h2>潮熱</h2>
<p>潮熱有作有止，若潮水之來，不失其時，一日一發。若日三五發、即是發熱，非潮熱也。有虛有實，惟傷寒日晡發熱乃胃實，別無虛證。其餘有潮熱者，當審其虛實，若大便堅澀，喜冷畏熱，心下愊然，睡臥不著，此皆氣盛，所謂實而潮熱者也。輕宜參蘇飲，重則小柴胡湯。</p>
<p>若氣消乏，精神憔悴，飲食減少，日漸尪羸，雖病暫去，而五心常有餘熱，此屬虛證。宜茯苓補心湯、十全大補湯、養榮湯之類。病後欠調理者，八珍散主之。</p>
<p>有潮熱似虛，胸膈痞塞，背心疼痛，服補藥不效者，此乃飲證隨氣而潮，故熱隨飲而亦潮，宜於痰飲門求之。</p>

<h2>厥</h2>
<p>寒厥，表熱裡寒，下利清穀，食入即吐，脈沉伏，手足冷，四逆湯主之。</p>
<p>熱厥，腹滿身重，難以轉側，面垢，譫語，遺溺，厥冷自汗，脈沉滑，白虎湯主之。</p>
<p>熱厥，手足熱而遊赤，宜升陽泄火湯。</p>
<p>若大便結實，大柴胡湯主之。</p>
<p>寒厥，手足冷，以附子理中湯。</p>
<p>指尖冷，謂之清，理中湯主之。</p>
<p>厥有涎潮，如拽鋸聲在咽中，為痰厥。先用瓜蒂散，或稀涎散，或人參蘆煎湯探吐，隨用導痰湯，多加竹瀝，少加薑汁。暴怒氣逆而昏運者，為氣厥，宜八味順氣散，或調氣散，或四七湯。手足搐搦為風厥，宜小續命湯。因酒而得為酒厥，宜二陳湯加乾葛、青皮，或葛花解酲湯。</p>

<h2>郁</h2>
<p><u>氣鬱湯</u>　治因求謀不遂，或橫逆之來，或貧窘所迫，或暴怒所傷，或悲哀所致，或思念太過，皆為氣鬱，其狀胸滿脅痛、脈沉而澀者是也。香附（童便浸一宿，焙乾，杵去毛，為粗末）三錢，蒼朮、橘紅、製半夏各一錢半，貝母（去心）、白茯苓、撫芎、紫蘇葉（自汗則用子）、山梔仁（炒）各一錢，甘草、木香、檳榔各五分，生薑五片，煎。如胸脅作痛，此有血滯也，宜參血鬱湯治之。</p>
<p><u>濕鬱湯</u>　治因雨露所襲，或嵐氣所侵，或坐臥濕地，或汗出衣衫，皆為濕鬱，其狀身重而痛，倦怠嗜臥，遇陰寒則發，脈沉而細緩者是也。蒼朮三錢，白朮、香附、橘紅、厚朴（薑汁炒）、半夏（制）、白茯苓、撫芎、羌活、獨活各一錢，甘草五分，生薑五片，水煎。</p>
<p><u>血鬱湯</u>　凡七情鬱結，盛怒叫呼，或起居失宜，或挫閃致瘀，一應飢飽、勞役，皆能致血鬱。其脈沉澀而芤，其體、胸脅常有痛如針刺者是也。香附（童便制）二錢，牡丹皮、赤曲、川通草、穿山甲、降真香、蘇木、山楂肉、大麥芽（炒、研）各一錢，紅花七分，水、酒各一半煎，去滓，入桃仁（去皮）泥七分，韭汁半盞，和勻，通口服。</p>
<p><u>熱鬱湯</u>　有陰虛而得之者，有胃虛食冷物抑遏陽氣於脾土中而得之者，其治法皆見發熱條中。此則治夫非陰虛，非陽陷，亦不發熱，而常自蒸蒸不解者也。連翹四錢，薄荷葉、黃芩各一錢五分，山梔仁二錢，麥門冬（去心）三錢，甘草五分，鬱金一錢，瓜蔞皮穰二錢，竹葉七片，煎。問：何不用蒼朮、香附、撫芎？曰：火就燥，燥藥皆能助火，故不用也。</p>
<p>痰鬱於痰飲門求之，食鬱於傷食門求之，故不著方。</p>

<h2>雜類</h2>
<p>嘗治傷寒病未平復犯房室，命在須臾，用獨參湯調燒褌散。凡服參一二斤餘得愈者，三四人。信哉，用藥不可執一也。</p>
<p>余嘗治一刻字工人，新婚，冬月冒寒，表證悉具，令以人參、紫蘇莖、葉各一兩，煎湯飲之，汗出而愈。一孕婦，春夏之交患溫病，頭痛發熱，不惡寒而渴，未及療治，胎墮去，血無算，昏眩欲絕，余令以麥門冬斤許，入淡竹葉、香豉，頻頻飲之，亦汗出而愈，蓋用勞復法治之。得此活法，則於治是病庶幾可十全矣。</p>
<p>余每治傷寒、溫熱等證為庸醫妄汗、誤下已成壞病，死在旦夕者，以人參一二兩，用童子小便煎之，水浸冰冷，飲之立起。</p>
<p>治傷寒黑斑。曾治一人，傷寒七八日，因服涼藥太過，遂變身涼，手足厥冷，通身黑斑，惟心頭溫暖，乃伏火也。診其六脈沉細，昏沉不知人事，亦不能語言，狀似屍厥，遂用人參三白湯加熟附子半枚，乾薑二錢，水二鍾，煎一鍾，與之服下，待一時許，斑色漸紅，手足漸暖而甦醒（人參三白湯：白朮、白茯苓、白芍藥、人參，生薑三片，大棗二枚。若脈沉、足冷，加附子半枚。上水煎）。</p>
<p>萬　痘瘡，主治解表、和中、解毒三法也。解表兼發散之義，使邪氣盡出於外，不使留伏於中，如防風、白芷、荊芥穗、升麻、葛根、柴胡、桂枝之屬。和中專主脾胃，兼助血氣，使裡氣常實，血氣不虧，助養痘瘡而待其成，不致癢塌倒陷，如黃耆、人參、白芍藥、當歸、木香、陳皮之屬。解毒只瀉火、涼血、清氣，使毒邪有制，不為正害，如山豆根、大力子、紫草、連翹、芩、連、梔子之屬。</p>
<p>萬　世俗謂幾日發熱，幾日出形，幾日起發，幾日作漿，幾日收靨，此大略之言耳。痘有疏密，毒有微甚，人有虛實，豈可一切拘以日數？如瘡本疏者，其毒微，其人中氣實，又能食，自然易出易靨，固不待於旬日者。如瘡本密者，其毒甚，其人中氣實，又能食，榮衛調和，內外無諸傷犯，至十二三日可以刻期收靨也。若其人中氣虛，食少或內外曾有傷犯，或遇氣候乖變，因而難靨。豈可必拘以日數哉！</p>
<p>萬　不知虛實者，不可以為工。經曰：無虛虛，無實實，虛實之分不可不知也。經曰：必先度其形之肥瘠，以調其氣之虛實。此以形體別虛實也。又曰：谷盛氣盛，谷虛氣虛。此以飲食別虛實也。又曰：脈實血實，脈虛血虛。此以脈別虛實也。又曰：邪氣盛則實，精氣奪則虛。此以邪正別虛實也。大抵實者邪氣實也，虛者正氣虛也。經曰：邪之所湊，其氣必虛。留而不去，其病則實是也。又曰：五實死者，謂邪氣之實也；五虛死者，謂正氣之虛也（凡人診同）。瘡痘之證，其人形體肥健，飲食能多，六脈洪實，素無疾病，大便如常，瘡色紅潤者，此表裡正氣俱實也，不須服藥。若形體羸怯，素多疾病，飲食減少，六脈微弱，吐利頻頻，瘡色淡嫩者，此表裡正氣俱虛也，陳氏溫補之法可用。如瘡勢太盛，焮腫痛脹，大熱不退，煩渴昏睡，大小便秘，此表裡邪氣俱實也，錢氏涼瀉之法可用。如瘡本稠密，焮發紅活，吐利不食者，此表實裡虛也，於補湯中加解毒藥。如瘡色淡白，發不透滿，大小便秘，浩飲大嚼者，此裡實表虛也，於解利中加發藥。又如瘡痛者，邪氣實也，當活血以開其鬱。若痛如刀剜，悶亂大叫者，勿治。瘡癢者，正氣虛也。當補氣以燥其濕。如爬搔不定，破爛皮脫者，勿治。灰白者，氣虛也，參、耆之功為大。乾燥者，血虛也，歸、芎之力宜多。虛則補之，實則瀉之，中病即已，無過其制，此治之權衡也。若本實而反補之，則毒氣彌盛，或為潰爛，或為癰腫，或為目病，或為咽瘡，或為失血，皆補之過也。如本虛而反瀉之，則正氣益虛，或為吐、為利、為厥逆，皆瀉之過也。經云：毋致邪，毋失正，絕人長命，其此之謂歟。</p>
<p>凡物得其平則靜，失其平則動。經曰：陽氣者，靜則養神，柔則養筋。又曰：陰氣者，靜則神藏，躁則消亡。夫患痘者，陰陽俱病，息欲其勻，語欲其少，寐欲其定，寤欲其寧，飢則索食，渴則少飲，觸其瘡則吟，拂其欲則鳴，此平人之候。神清氣定，謂之靜而吉也。如呻者，身有苦也。自語者，神不清也。喘粗者，內熱也。腸鳴者，泄也。坐臥不定者，心煩也。啼叫不止者，痛也。搖頭者，風也。指欲搔者，癢也。咽物難者，咽痛也。咬牙者，心肝熱也。若悶亂躁擾，譫妄昏眩，如見鬼狀，搖頭扭項，手舞足擲，目睛上翻，寒戰咬牙，語音不出，則皆死候矣。如病向靜，忽作擾動者，異也，以法求之。如瘡色變，無他候者，此戾氣所觸也；如瘡色不變，又無他證，此必有因，但俟自定。其有目瞑息微，四肢僵直，口噤瘡壞，昏睡不醒者，此真氣將脫、魂魄欲離之兆，又不可作靜診也。</p>
<p>或云：痘瘡之候，無以脈診，言形色可辨也。謂之形者，痘之形也。故尖圓堅厚，始出之形；發榮滋長，欲壯之形；飽滿充足，成漿之形；斂束完固，收靨之形。與大豆、豌豆、綠豆相似者，皆正形也。或平或陷，形之變也。如初出時空如蠶種之蛻，隱如蚊蚤之跡，薄如麩片，密如針頭，若熱之疿、寒之慄者，不能起發而死。黏聚模糊，肌肉虛浮，溶軟嫩薄，皮膚潰爛者，不能收靨而死。謂之色者，痘之色也。喜鮮明而惡昏黯，喜潤澤而惡乾枯，喜蒼蠟而惡嬌嫩。紅不欲焰，焰則易破；白不欲灰，灰則難靨。由紅而白，白而黃，黃而黑者，此出形、起發、成漿、結痂之正色也。出形而帶紫，起發而灰白，此色之變。能辨痘之形色，可知死生之期。</p>
<p>先賢看痘有四：曰根，曰窠，曰腳，曰地。用是以驗吉凶、斷死生，不易之法也。何謂窠？中透而起頂者是也。何謂根？外圈而紅者是也。即圈之紅否，而其中之虛實與痘毒之淺深可見矣。即窠之起否，而根之淺深、毛血之盈虧可定矣。所謂腳、地，則本乎根窠之圓混、痘子之稀密也。紅暈之外謂之腳，彼此顆粒界限分明，不散不離者，此痘腳明淨也。空隙之處便謂之地，彼此顆粒不相連綴者，此地面明淨也。根欲其活，窠欲其起，腳欲其固，地欲其寬，四者俱順，痘雖密無慮矣。</p>
<p>圓者氣之形也，氣盛則痘窠必圓滿周淨。暈者血之形也，血盛則痘窠必光明紅活。氣虛則頂陷，氣散則塌阻，或有氣虛極而不塌陷者，乃火載之，雖見圓滿，實空殼如泡然也。血虛則暈淡，血憊則暈枯，根必散，或有血虛極面猶紅色者，乃火上浮，雖見圈暈，實枯槁而不潤澤也。</p>
<p>痘色之明暗，繫於血氣之虛實。如色之紅者，痘初出也。白者，毒未解也。黃者，毒將解也；干黃者，毒盡解也。灰白者，氣衰而血不附也。紫者，毒盛而血滯也。黑者，熱極而兼水化也。焦褐者，氣血枯也。紅變白，白變黃者，順而生；紅變紫，紫變黑者，逆而死。</p>
<p>初驗之時，以紅紙蘸清油燃火照之，驗其生意有無。又以手揩摩面頰，如紅色隨手轉白，隨白轉紅，謂之血活，生意在矣。如揩之不白，舉之不紅，是為血枯，縱疏不治。又看目睛，神光瞭然，口唇尖上紅活如常，無燥白之色發，乃為吉證，萬無憂也。</p>
<p>發熱輕則毒氣輕，則報痘亦輕。發熱重則毒氣重，故報痘亦重。輕者不必言治，重者宜先解表，涼血解毒次之，及痘既出，便當溫補氣血，以助其成漿、收靨，失此不治，六日之後無能為矣。審之慎之。</p>
<p>庚午，余自秋闈歸，則亡妹已病。蓋自七月乳腫痛不散，八月用火針取膿，醫以十全大補湯與之，外敷鐵箍散，不效，反加喘悶。九月產一女，潰勢益大，兩乳房爛盡，延及胸腋，膿水稠黏，出膿幾六七升，略無斂勢。十一月始歸就醫，醫改用解毒和中平劑，外摻生肌散、龍骨、寒水石等劑，膿出不止，流濺所及即腫泡潰膿，兩旁紫黑，瘡口十數，胸前、腋下皆腫潰，不可動側，其勢可畏。余謂：產後毒氣乘虛而熾，宜多服黃耆解毒補血、益氣生肌。而醫鑑前弊，不敢用。十二月中旬後益甚，瘡口廿餘，諸藥盡試不效，始改用余藥。時膿穢黏滯，煎楮葉豬蹄湯沃之頓爽，乃制一方，名黃耆托裡湯，黃耆甘溫以排膿、益氣、生肌為君；甘草補胃氣、解毒，當歸身和血生血為臣；升麻、葛根、漏蘆為足陽明本經藥，及連翹、防風皆散結疏經，瓜蔞仁、黍黏子解毒去腫，皂角刺引至潰處，白芷入陽明敗膿長肌，又用川芎三分及肉桂、炒柏為引用，每劑入酒一盞煎，送白玉霜丸疏膿解毒。時膿水稠黏，方盛未已，不可遽用龍骨等藥，理宜追之，乃制青霞散外摻，明日膿水頓稀，痛定穢解，始有向安之勢。至辛未新正，患處皆生新肉，有紫腫處俱用蔥熨法，隨手消散，但近腋足少陽分尚未斂。乃加柴胡一錢、青皮三分，及倍川芎，膿水已盡者，即用戴糝散摻之。至元宵後，遂全妥。凡治癰疽，須審經絡部分，今所患正在足陽明之分，少侵足少陽經分，俗醫不復審別，一概用藥，藥無嚮導，終歸罔功，甚可嘆也。近有患之劇甚如亡妹所苦者，一庠友就余求方，余以冗未及應，諸瘍醫卒拱手以待斃，余甚傷之，議刊布其方，不忍自秘也。隆慶辛未九日記。</p>
<p><u>青霞散</u>　治癰疽潰爛、膿多、不斂。先用楮葉豬蹄湯洗過，以此敷之。</p>
<p>青黛二錢，乳香一錢五分，沒藥一錢五分，韶粉一錢，海螵蛸一錢五分，枯礬一錢，白蘞一錢，寒水石一錢，冰片三分，紅粉霜（另研極細，和勻，再研入）一錢，杏仁（去皮尖）廿四個。</p>
<p>有死肉加白丁香五分；大癰疽爛甚腐多，加銅綠一錢五分。此方專治潰瘍因血熱肉腐化而為膿，故用青黛涼血解毒而使肉無腐為君；乳香、沒藥活血止痛而消腫為臣；寒水石之寒，佐青黛以涼血肉使不腐，枯礬之收澀，排膿而追毒，韶粉、海螵蛸之收濕，止膿汗之多而不燥，粉霜之拔毒，白蘞之斂創，冰片之透肌，以為佐使，諸藥多燥，又假杏仁之油以潤之，此制方之旨也。</p>
<p>大抵治法，有是病投是藥，豈可狐疑而誤治哉。且夾陰傷寒，先因欲事，伏陰於內，卻又著寒，內外皆陰。陰氣獨盛，則陽氣以衰，故脈沉而足冷也，必須急用人參健脈以益元氣為主，佐以附子溫腎經，散寒邪，以退陰而回陽也。若舍此二味不用，將何以救之哉。</p>
<p>發熱如傷寒，而其人有所從高墜下攧撲損傷，或盛怒叫呼，無何而病，小便自利，口不甚渴，按心下或脅下或臍腹間有痛處，或至手不可近者，畜血也。勞逸、飢飽、七情、房室所傷皆能瘀血，不止一途。友人繆仲淳，每服滋補丸藥，多至數兩，忽發熱不已，投涼解之藥有加無損，沉困之極，殆將不支，余用畜血法治之，方烹煎次，仲淳聞其氣，曰：一何香也？飲已而熱退，明日下黑糞鬥許而安。</p>

<h2>拾遺（編成而有遺者萃此）</h2>
<p>循衣、撮空、摸床多是大虛之候，不問雜病、傷寒，以大補之劑投之，多有得生者。大抵此證，非大實即大虛，當審其因、察其脈、參其證而分若黑白矣。實而便秘，大承氣瀉之；虛而便滑，獨參湯補之，厥逆者加附子。</p>
<p><u>資生丸</u>　健脾開胃，消食止瀉，調和臟腑，滋養榮衛。余初識繆仲淳時，見袖中出彈丸咀嚼，問之，曰：此得之秘傳，飢者服之即飽，飽者食之即飢。因疏其方，余大善之而頗不信其消食之功。已於醉飽後頓服二丸，徑投枕臥，夙興了無停滯，始信此方之神也。先恭簡年高脾弱，食少痰多，餘齡葆攝，全賴此方，因特附著於此，與世共之。</p>
<p>白朮（米泔水浸，用山黃土拌蒸九次，曬九次，去土，切片，焙乾）三兩，人參（去蘆，人乳浸透，飯鍋上蒸熟）三兩，白茯苓（去粗皮，水飛去筋膜，人乳拌，飯鍋上蒸，曬乾）一兩五錢，橘紅、山楂肉（蒸）、神麯（炒）各二兩，川黃連（薑汁炒）、白豆蔻仁（微炒）、澤瀉（去毛，炒）各三錢半，桔梗（米泔浸，炒）、真藿香（洗）、甘草（蜜炙，去皮）各五錢，白扁豆（炒，去殼）、蓮肉（去心）各一兩，薏苡仁（淘淨、炒）三兩，乾山藥（炒）、麥芽面（炒）、芡實（淨肉，炒）各一兩五錢。末之，煉蜜丸，每丸二錢重，每服一丸，醉飽後二丸，細嚼，淡薑湯下。</p>
<p>有腎氣不循故道，氣逆挾脊而上，致肩背作痛，宜和氣飲加鹽炒小茴香半錢、炒川椒十粒。或看書、對奕久坐而致脊背疼者，補中益氣湯或八物湯加黃耆。</p>
<p>臂為風、寒、濕所搏，或飲液流入，或因提挈重物，皆致臂痛。有腫者，有不腫者，除飲證外，其餘諸痛並可五積散及烏藥順氣散，或蠲痹湯。外有血虛不榮於筋而致臂痛，宜蠲痹湯、四物湯各半帖，和勻煎服。</p>
<p>活血丹與四物蒼朮各半湯相表裡，治遍身骨節疼痛如神。</p>
<p>《金匱》：下利，譫語者，有燥屎故也，小承氣湯主之。</p>
<p>仲景云：下利、便膿血者，桃花湯主之。丹溪云：桃花湯主病，屬下焦血虛且寒，非乾薑之溫，石脂之澀且重不能止血，用粳米之甘引入腸胃。</p>
<p>仲景法：下利清穀，裡寒外熱，汗出而厥者，通脈四逆湯主之。</p>
<p>痢疾，不納食，或湯藥入口隨即吐出者，俗名噤口，有因邪留，胃氣伏而不宣，脾氣澀而不布，故嘔逆而食不得入者；有陽氣不足，胃中宿食因之未消，則噫而食卒不下者；有肝乘脾胃，發嘔，飲食不入，縱入亦反出者；有水飲所停，氣急而嘔，谷不得入者；有火氣炎熾內格，嘔逆而食不得入者；有胃氣虛冷，食入反出者；有胃中邪熱不欲食者；有脾胃虛弱不欲食者；有穢積在下，惡氣熏蒸而嘔逆，食不得入者，當各從其所因以為治。</p>
<p>按：卒僕暴厥之證，不論男子、婦人，是風，是寒，是氣，是食，是痰，是濕，但要分得閉與脫二證明白。如牙關緊閉，兩手握固，即是閉證，宜蘇合香丸、三生飲之類開之；若口開手撒，即是脫證，宜用大劑黃耆、人參煎濃湯灌之，雖曰在法不治，亦十救五六。若誤服蘇合香丸之類，即不可救矣。蓋斬關奪門之藥原為閉證設，若施之脫證，是人既入井而又下之石也。</p>
<p>大抵驚悸、健忘、怔忡、失志、心風、不寐皆是膽涎沃心，以致心氣不足，若用涼心之劑太過，則心火愈微，痰涎愈盛，病愈不減，惟當以理痰氣為第一義，導痰湯加石菖蒲半錢。</p>
<p>膀胱者，州都之官，津液藏焉，氣化則能出矣。何謂氣化？津液乃氣所化也。「經脈別論」云：飲入於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。蓋譬之蒸物然，湯氣上熏，釜甑遂有液而下滴，此脾氣熏蒸肺葉，所以遂能調水道而輸膀胱也。故小便不通之症，審系氣虛而水涸者，利之益甚，須以大劑人參少佐升麻煎湯飲之，則陽升陰降，是地氣上為云，天氣下為雨也，自然通利矣。</p>
<p>外兄賀晉卿，因有不如意事，又當勞役之後，忽小腹急痛欲溺，溺中有白物如膿並血而下，莖中急痛不可忍，正如滯下後重之狀，日數十行。更數醫不效，問方於余，余作汗血治之。以牛膝四兩（去蘆）酒浸一宿，長流水十二碗煎至八碗，再入桃仁一兩（去皮尖，炒）、紅花二錢五分、當歸梢一兩（酒浸）、赤芍藥一兩五錢，木通一兩，生甘草二錢五分，苧麻根二莖，同煎至二碗，去渣，入琥珀末二錢、麝香少許，分作四服，一日夜飲盡，勢減大半。按：《素問·奇病論》云：病有癃者，一日數十溲，此不足也。今瘀血雖散，宜用地黃丸加菟絲子、杜仲、益智仁、牛膝之屬補腎陰之不足，以杜復至。因循未及修治，遂不得全愈。或閉，或一夜數十起，溺訖痛甚，逕服前丸及以補腎之藥入煎劑調理而安。</p>
<p>嘔血：宜降氣，不宜降火。</p>
<p>水曰潤下，火曰炎上，引其氣而使之下，即以水剋火之理，是降氣即所以降火也。若用苦寒之藥以降火，火萬無降理。蓋炎上作苦，苦先入心，故芩、連之苦本助火入心經之藥。而名為降火者，徒以其寒耳，寒能凝血，苦能傷胃，是非但不能抑上升之氣而使之平，行橫溢之血而使之歸源，害且有不可勝言也，可不戒哉。</p>
<p>宜行血，不宜止血。</p>
<p>凡嘔血之症，其始也未有不病胸脅痛者。蓋由平日起居失節致血停，淤之久，不能歸源，滿而溢焉，遂發為嘔，殆非一日之積矣。使其流行宣暢，散行百脈，又何嘔血之有？故凡治嘔血之症，必須用行血之藥宣其餘滯而推陳以致新焉。血既流行，胃脘清楚，自不出矣。是行之乃所以止之也。醫往往拘泥犀角地黃湯等，過於涼血，雖間或止之，其後常患胸脅大痛、腫滿等症，以致不起。蓋血得涼則陳者不行，新者不生，淤物愈積而真元愈削故也，況血不可止，而強欲止之得乎！</p>
<p>宜補肝，不宜伐肝。</p>
<p>肝藏血，血陰物也，陰難成而易虧。又，肝為東方木，於時為春，為發生之臟，宜滋養而不宜克伐。先醫謂：肝無補法。大謬論也。失血之後，肝臟空虛汲汲焉，實之不暇，而敢以纖毫平肝之藥伐之哉！往往見有治疝脹諸症，謂為肝火有餘，而用平肝之藥，以致爪青、囊縮而不起者，則肝之不可伐也亦明矣。</p>
<p><u>噙化丸</u>（自制方）：清肺止嗽，定喘化痰。</p>
<p>薄荷葉四兩，桑白皮、天門冬（去心）、麥門冬（去心）、知母（去皮毛）、百部、貝母（去心）、柿霜各二兩，枇杷葉（去毛，蜜炙）、訶子肉、阿膠、橘紅、紫菀、款冬花各一兩半，栝蔞仁（去油）、栝蔞皮瓤、黃芩、杏仁（炒，去皮尖、油，取淨霜）、白茯苓，玄明粉、鉛白霜、桔梗各一兩，旋覆花、馬兜鈴、五味子各七錢半，硼砂五錢、冰片一錢（非真者勿用）。上為極細末，梨膏為丸，如無梨膏，則以白蜜、竹瀝、梨汁熬至滴水不散為度，丸如龍眼大，噙化一丸。</p>
<p><u>正德六年（丙申）五月吉辰川勝七郎兵衛板</u></p>

<h1>跋王宇泰醫辨</h1>
<p>王太史《證治準繩》並《醫論辨》，諸症明且盡矣。予嘗反復二書之餘，抄纂精確詳明，尤切於治療者，名曰《王宇泰醫辨》。凡上、中、下三卷，乃以繕寫，元祿壬申陽復之日成焉。</p>
<p><u>伊東大業綱</u></p>
