<header data-type="book">
<h1>新編診脈須知</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>吳洪</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd>江戶抄本（<a href="https://www.digital.archives.go.jp/file/1079655">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>
