<header data-type="book">
<h1>客窗偶談</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈明宗</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1693">公元1693年</data></dd></div>
</dl>
</header>

<h1>正文</h1>
<p>門人問曰：「世人皆以十二經絡，五臟六腑現證，為治法準繩，先生以為然否？」</p>
<p>曰：此以人身臟腑言之則是，但人之一呼一吸，貫通天地之氣，若未與天地人相參，則不足以為良工。使以膚見礙於胸中，臨證豈免虛虛實實之誤？爾輩青眸炯炯，意氣雄雄，務以群書博覽，深究軒岐仲景，與天地人三才合化，則神機在我，法眼天開，用之無窮，至於無方可執，無法可憑，千蹊萬徑，終屬自己權衡，圓融變化，才是仁術，子若疑團未破，試以三才合化言之，不惟臟腑而已，然醫學不明人身臟腑，應乎天時地理，五運六氣，則不知五臟有太過不及，陰陽有升降，五行有相生相剋，反生反克，顛倒施治之妙用也。即如子午少陰君火司天屬熱，土運濕氣太過，陽明燥涼在泉。初氣厥陰風木，二氣少陰火熱，三氣少陽相火，四氣太陰主濕，五氣陽明主涼，六氣太陽主寒，是為主氣。若初見太陽，二見厥陰，三見少陰，四見太陰，五見少陽，六見陽明，乃為客氣加臨，而風寒暑濕燥火不一，故《素問·六元正紀大論》謂厥陰所至為裡急，支痛，緛戾，脅痛，嘔泄；少陰所至為瘍疹身熱，為驚惑惡寒戰慄，譫妄，衄衊，語笑；太陰所至為積飲痞隔，為畜飲中滿，霍亂吐下，為重胕腫；少陽所至為嚏嘔瘡瘍，驚躁瞀昧暴病，為喉痹耳鳴，嘔湧為暴注，瞤瘛暴死；陽明所至為浮虛，為鼽尻陰股膝髀腨䯒足病，為皴揭，鼽嚏；太陽所至為屈伸不利，腰痛，為寢汗，痙，為流泄禁止，此乃六氣見病之常也。運有歲木太過，風氣流行，脾土受邪，民病飧泄，食減，體重煩冤，腸鳴腹支滿，上應歲星。歲火太過，炎暑流行，肺金受邪，民病瘧，少氣咳喘，血溢血泄注下，咽燥耳聾，中熱，肩背熱，上應熒惑星。歲土太過，雨濕流行，腎水受邪，民病腹痛，清厥意不樂，體重煩冤，上應鎮星（鎮音填）。歲金太過，燥氣流行，肝木受邪，民病兩脅下少腹痛，目赤痛，眥瘍，耳無所聞，肅殺而甚，則體重煩冤，胸痛引背，兩脅滿，且痛引少腹，上應太白星。歲水太過，寒氣流行，邪害心火，民病身熱，煩心躁悸，陰厥上下中寒，譫妄，心痛，寒氣早至，上應辰星。歲木不及，燥乃大行，生氣失應，草木晚榮，民病中清，胠脅痛，少腹痛，腸鳴溏泄，涼雨時至，上應太白星。歲火不及，寒乃大行，民病胸中痛，脅支滿，兩脅痛，膺背肩脾間及兩臂內痛，鬱冒朦昧，心痛暴瘖，胸腹大，脅下與腰背相引而痛，甚則屈不能伸，髖髀如別，上應熒惑辰星。歲土不及，風乃大行，民病飧泄，霍亂，體重腹痛，筋骨繇復，肌肉瞤酸，善怒，藏氣舉事，蟄蟲早附，咸病塞中，上應歲星、鎮星。歲金不及，炎火乃行，民病肩背瞀重，鼽嚏，血便注下，收氣乃後，上應太白星。歲水不及，濕乃大行，民病腹滿身重，濡泄，寒瘍流水，腰股痛發，膕腨股膝不便，煩冤足痿，清厥，腳下痛，甚則胕腫，藏氣不政，腎氣不衡，上應辰星。此乃六氣五運太過不及所至，必有之病，須以二十四氣節候，占之早晏，如立春初候，東風解凍，二候蟄蟲始振，三候魚陟負冰，余皆仿此，若時至而物不應，謂之來氣不及，時未至而物先應，謂之來氣有餘，故謂在天為玄，在人為道，在地為化，化生五味，道生智，玄生神，神在天為風，在地為木；在天為熱，在地為火；在天為濕，在地為土，在天為燥，在地為金，在天為寒，在地為水；在天為氣，在地成形，形氣相感，而化生萬物，是為六元。而治病必當明此太過不及，以應人身臟腑經絡受邪現證，則為醫師把柄，若混然不辨，而以寒熱溫涼燥濕，皆謂傷寒，則全失經旨矣。故仲景謂六淫之邪，入於經絡，皆見頭痛項腰脊臂腳掣痛，謂之陽病十八；若入臟腑，即顯咳上氣喘，吵咽腸鳴，脹滿心痛拘急，謂之陰病十八。若在內傷，陽盛則陰病，陰盛則陽病，氣盛則血病，血盛則氣病，至理相隨，纖毫不爽。故昔賢以良相比良醫，而相以燮理陰陽治天下，醫以燮理陰陽治一身，然相操生殺之權，醫秉安危之任，務必燮理陰陽則調和遍體，否則動罹百損氣血乖違，夭人長命。故欲求醫學之明，須合三才，則能燮理陰陽，醫事乃畢，非惟經絡臟腑而已。</p>
<p>客曰：「冬至四十五日，陽氣微上，陰氣微下，夏至四十五日，陰氣微上，陽氣微下，陰陽有時，與脈為期，願子釋之。」</p>
<p>蓋聞洪荒未判，黑白混為一體，名曰無極，無極動而太極生，太極生兩儀，而分四象、八卦，至於六十四卦成三百八十四爻變，以至無窮無極之變化，皆歸一而已矣。夫太極動而清濁分，清濁既分，則清氣上升而為天，日用星辰麗乎中，風寒暑濕燥火行於內；濁氣下降而成地，則江山土石成於地，木火土金水化於中，陰陽行役於其間，謂萬物之外，六合之內，天地之應。而冬至四十五日，陽氣微上，陰氣微下，此陰陽上下者，乃指地面為界也，然冬至居於坎子而陽生，為來歲之綱，陰極而主退，乃一線陽機蠢動於九泉，為一陽生於群陰之下而主進，即《易》之復卦也。群陰用事，月行北陸，高懸中天，日行南陸，低近於海岳，故嚴寒冰雪發於子醜兩月。而陽氣微上，俟冬至四十五日者，乃指立春節也，當以復卦觀之，冬至則一陽初動於五陰之下，漸次而升，所以老陽數九，九日方升一位，則當五九四十五日，陽氣始出於地界。而陽用事，陽氣從東漸出於地，陰氣從西漸入於地，所謂陽氣微上，陰氣微下。至於春分，則陰陽平半，溫煦始行，漸至熱極，至夏至而陰垢矣，即彼春之暖為夏之暑也，然夏至居於離午，為今歲之半，陽極而主退，乃一線之陰微動於九泉，為一陰生於元陽之下而主進，即《易》之垢卦也，純陽用事，日行北陸，高麗中天，月行南陸，低近海岳，大熱炎暑，爍石流金，發於未申兩月，而陰氣微上，俟四十五日立秋者何耶？蓋一陰初垢五陽之下，以從老陽九數而退一位，則當五九四十五日，陰氣用事，乃陽氣從西漸入於地，陰氣從東漸出於地，謂陰氣微上，陽氣微下矣。蓋復卦從陽而進，垢卦從陽而退，不從陰數而退者，乃陰隨陽轉，尊陽而不尊陰也。至於秋分，則陰陽平半，金風始動，微涼生而至寒極，至冬至而陽復，即彼秋之忿，為冬之怒也，當以太極觀之，而黑白中分，頭尖尾大可見冬至陰退而陽進，夏至陽退而陰進，陰陽出入，循環無端，乃陰根乎陽，陽根乎陰，陰陽相抱而不離，故陰陽日月行乎天地之間，則天人同化，所以夏至應離火，在人應心而主熱，坎水內潛，則井水寒，而脈應浮，如魚之遊在波，泛泛乎萬物之有餘；冬至則應坎水，在人合腎而主寒，離火內潛，則井水暖，脈應沉而下膚，蟄蟲周密，乃陰陽進退規矩權衡，故謂陰陽有時，與脈為期，而司天運氣，太過不及仿此類推，即知陰陽升降進退，而察症治病，則纖毫不爽也。</p>
<p>客問：「地氣上為云，天氣下為雨，雨出地氣，云出天氣，願子釋之。」《易》曰：大哉乾元，萬物資始，至哉坤元，萬物資生，乃順承天。蓋天地者，萬物之首也，雲雨者，天地所統之物也。升降者，天地陰陽之性用也，然天有蒼天、丹天、素天、玄天、黅天之五氣，而應木火土金水之五運，運行於地，六氣環周於天也。夫天之氣，地之運，陰陽升降，即具在其中矣。是故天氣從高而降，萬物應之，則化生無窮，地氣從下而起，晴空得之，則白雲彌岫，日麗穹蒼，此乃天地交泰，陰陽升降之恆。然天有太過，有不及，否泰之變，隨時而應，故天氣不足，則鬱而不伸，地氣從之，濁陰加於天上，即地氣上為云矣，因地氣升，則水亦隨之於上，故經謂太陰司天，水則上從，黑氣反用，云奔雨府，然地濁之陰既加於天，則天清之陽，必有勝復而降，水隨天氣，化為滂沱，寒雨數至，即天氣下為雨也。蓋水居湖海，誠同地濁上升於天，必隨天氣下降，故為雨出地氣，而云騰霄漢，霧滿圓區，是因天氣不足，地氣上從而化，故為云出天氣也。蓋三才同化，而人應之，既飲食入胃，上輸於脾，脾氣散精，上輸於肺，即地氣上而為云也；通調水道，下輸膀胱，乃天氣下為雨矣。若應乎病，即濁氣在上，則生䐜脹，清氣在下，則生飧泄，從此悟治民病，則移凶換吉，轉否為泰，無不易易耳。</p>
<p>客問：「今治四時傷寒者，一二日之間，太陽表證，首以九味羌活、香蘇十神，次以柴葛解肌。五六日間，輒以小柴和涼膈治之，口稱是遵仲景之法，窈有疑焉，願子釋之。」</p>
<p>予駭曰：此問前人未之有也，自仲景以下，發明傷寒諸書甚廣，皆不明六經傳變，屬寒屬熱概以雜湯調治四時，豈仲景之旨乎？夫六經之旨，惟長沙一人而已，後賢未達其奧，不知四時有四時之經，六氣有六氣之證，四時有四時之治，若以冬月治傷寒之法混治四時六氣，以四時六氣湯法混治冬月傷寒，乃違仲景之法，何為法遵仲景耶？蓋四時之病，務明六氣為綱，十二經為緯，次窺傳變，治始有功。經謂無失天信，謹察病機，四時為宜，而四時傷寒，不過混稱其名，減有風寒暑濕燥火六氣之別，豈可一概謂之傷寒乎？如夏秋經絡在手，春冬經絡在足，俗醫不分經有手足，邪有寒熱，以方法顛倒逆施，誅伐無過，豈不致微者篤，而篤者死耶？經謂人之傷於寒也，則為病熱，熱雖甚不死者，乃冬月足經之論。仲景有麻、桂、承氣等湯，法度森森，今人反謂古方難用，置之不論，致病危篤而死。嗚呼，傷寒有法，尚且變為無法，何況春夏溫熱，先賢未經闡法，能免後人聵聵者乎？即如河間發明熱病，欲用苦寒，而病情經絡仍然不離冬月傷寒足經立論，是亦不足尚矣。蓋春夏感冒，皆由君相火令，經屬手少陰少陽；秋冬寒涼之氣，經屬足三陰三陽，以此觀之，是有天地兩分，詎可漫然不察乎？昔賢著傷寒方書甚多，悉屬依樣葫蘆不少，以溫熱之病，亦謂傷寒。惟仲景條例，雖為傷寒立論，誠該四時表裡陰陽虛實，無所不明，所以讀仲景書，能治傷寒，即能治溫熱，但後人不能明其微旨，概謂傷寒，非惟不能圓融變化，是猶舟子不識風帆，動罹覆溺也。更欲究明《素》、《難》、《靈樞》要旨，感冒六淫傳變之法，但有時令主客之分，而主氣春夏為溫熱，秋冬為寒涼，次以客氣緯之，若時氣入臟，即當隨時令治之，則風寒暑濕燥火之邪，治始有歸矣。客曰：「如是之辨，六淫之邪誠各有歸，然六淫之邪，必由太陽而入，豈可舍太陽而從他經治乎？」答曰：有子一間，治四時感冒，更益彰著，但初感之邪，是從太陽皮毛而入，人咸知之，但不知邪入太陽，遂有當令經絡臟腑應接其邪而病，故不可竟攻太陽，如冬月正傷寒，而無他經應接，只在膀胱本經，所以羈留三五七日，經氣復而即解，若氣未復，或傳陰傳陽，是未可定，因其司令故也。設在春月，風邪入於太陽，肝即應接而去，所以不病太陽，而病厥陰，故但發熱目弦，嘔吐胸脅脹滿，胃脘當心而痛，少腹拘急，脈弦。若初夏，君火心包應接而病，遂顯身熱頭弦，或疼或不疼，甚則煩躁譫言，喜笑不休，或發癮疹，手厥陰等證。若夏時，相火應接，微覺惡風，頭眩微疼，發熱自汗，甚則心煩斑疹，右手脈大，三焦手少陽為病，乃為溫熱病也。若在長夏，則脾土應之。在秋則肺金應之。冬時嚴寒感入太陽，膀胱本經自病，故惡寒發熱，頭疼腰脊強痛，無汗脈浮而緊，所以仲景立麻桂諸湯，示人治傷寒表裡陰陽，發表解肌諸法而為規矩，以此推治溫熱病，則無過差，但用藥有甘熱辛涼之別也。</p>
<p>客曰：「風寒之邪，是屬陰陽矣，然不識寒邪入於皮膚經絡，血脈肌肉之中，亦可變為熱乎？請求明之。」</p>
<p>曰：此理早已顯著於《靈》、《素》、仲景諸書，奈人不察耳。蓋風傷衛證，原因陽氣開泄，以陽從陽，故顯發熱自汗脈緩，若寒傷榮證，肌竅閉塞，身熱無汗脈緊，此病風寒之常也，然或傷寒自汗淋漓者，此非邪氣之變，乃人身陽虛之變證也。而邪之本性，則風為陽邪，善行數變，是不待言，寒為陰邪，冰凝氣血，何能變耶？使寒能變熱，則當肌體自如，何致在表則發熱惡寒，身體疼痛，在裡則有胸滿、腹痛、下利諸病乎？要知寒邪感入人身經絡，郁遏肌表之陽，則為惡寒身熱，抑鬱臟腑之陽，則為狂言譫語，胸滿腹脹，狀雖似變而實不變也，奈昧者不明，認寒變熱，豈不謬乎？試觀仲景治風寒兩傷，於麻黃湯中加石膏，為大青龍湯，寒熱並用者，取麻黃去寒，石膏去風，用梔子乾薑湯治身熱不去，微煩者，以乾薑治入胸中之寒，梔子吐去標化之熱，觀此義則外感風寒不變，可瞭然矣。即如冬寒藏於骨髓，郁遏臟腑之氣，而隨春升陽氣外發，則為溫熱病，若寒變為熱，其寒早已消釋，更有何邪至春發為溫熱病乎？夫寒邪始入之陽，遏郁正氣，故顯心煩口渴，若遇其人腎陽素虧，寒邪傳入陰經，以陰從陰，陰邪彌盛，陽證退而陡顯手足厥冷，下利自汗，虛寒之陰證，可見在陽不變，故傳陰經即顯陰證，使在三陽已變為熱，豈有入陰而復變為寒乎？俗謂陽證變陰而死者，蓋因不明斯理也。</p>

<h2>辨天地六氣標本</h2>
<p>《素問·天元紀大論》曰：在天為玄，玄生神，而神即風熱濕燥寒之氣，故謂神在天為風，在地為木，以下四句失一「神」字也。在天為熱，在地為火，在天為濕，在地為土，在天為燥，在地為金，在天為寒，在地為水，此乃以在天之氣為本，在地化生木火土金水，在人應之於手足三陰三陽而為標。但標之裡，即為中氣，故《素問·六微旨大論》云：少陽之上，火氣治之，火氣在天屬陽為本，少陽在地為標，標本同為陽，故從火之本治，此明治熱以寒也。即手少陽與厥阻為表裡，故取手厥陰在中，而為中氣，陽明之上，燥氣治之，此明治涼以溫也。燥氣在天屬陰為本，陽明在地為標，而陽明與太陰為表裡，本陰標陽不同，故取手太陰涼為中風而治也，太陽之上，寒氣治之，此明治寒以熱也。寒氣在天屬陰為本，太陽在地屬陽為標，與足少陰為表裡，中見少陰為中氣，標本不同，或從本寒，或從標陽之治也。厥陰之上，風氣治之，此明治溫以涼也。風氣在天屬陽為本，厥陰在地屬陰為標，標本不同，故取足少陽溫為中氣而治也，少陰之上，熱氣治之，此明治熱以寒也。熱氣在天屬陽為本，少陰在地陰氣為標，標本不同，治則或從標陰，或從本熱，中見手太陽為中風也，太陰之上，濕氣治之，此明治濕以溫也。濕陰在天為本，太陰在地屬陰為標，標本皆同，治則從濕為本而取足陽明為中氣也，然取中氣者，因寒熱陰陽不同，所以捨天之本，捨地之標，取中見之氣為治，故治手陽明，乃燥氣在天為本，陽明在地為標，本燥標陽，無可走治，而取天之下，地之上中氣，手太陰之涼氣而治，足厥陰風氣在天為本，厥陰在地為標，風與陰，標本不同，無可定治，故取中氣是少陽之溫氣主治。昔人注《內經》，論及標本者，皆以手陽明之燥，反取足太陰之濕，足厥陰之風，反取手少陽之火，然手足司令不同，豈為上中下三合，若標本不明，治證則失，故引本經而證之。」</p>
<p>客曰：「四時傷寒，嘗有陽證陰脈而死者，何也？」</p>
<p>曰：病發於表，頭疼身熱，脈浮而緊，為陽證陽脈，若見沉弱而遲，即為陽證陰脈，此因陽虛，內真寒而外假熱，治當從脈不從證，經謂：脈證相反是也，仲景謂病發熱頭痛，脈反沉，若不差，身體疼痛，當救其里，宜四逆湯。又少陰病，始得之，反發熱，脈沉者，以麻黃附子細辛湯，人皆知之。今之俗流，見脈浮小細軟，亦為陽證陰脈，妄投姜附，其中大有差別矣，然浮小細軟，乃為陽中之陰，非真陽虛，而脈見微弱沉遲之比，因素稟血氣不足，故脈似陰，若果是陰證，脈必沉遲，當以薑桂附子，是無疑議，若浮小細軟，脈不沉遲，是屬營虛，則當補養營血為主。仲景謂榮氣不足，不可發汗，先用建中，後用發表，東垣用補中益氣加散表之藥是也，奈何俗醫不察陰陽之別，一概混稱陽證陰脈，大劑薑桂附子，助陽劫陰，而脈愈細，河間所謂竭絕殘陰而死者，不知凡幾？嗟乎，道聽途說，偏用熱藥之流，悟耶？否耶？</p>
<p>客謂：「王太僕云：龍火得濕而焰，遇水而燔，不知其性，以水折之，適足以光焰詣天，物窮方止，識其性者，反常之理，以火逐之，則燔灼自消，焰火撲滅，余見方士遵之，或有愈者，有病變蜂起而死者，何耶？願子釋之。」</p>
<p>答曰：前賢以虛陽上泛，是比諸病甚者，外現假象而言，故當從治之法，然虛者得其益，若實者，臟腑重添烈火，不死何待？蓋外感證，如仲景謂下利清穀，裡寒外熱，手足逆冷，脈微欲絕，身反不惡寒，其人面赤色，乃腎中真陽虛而陰盛，寒邪傳入腎中，以陰從陰，逼其微陽上越，內真寒而外假熱，故用通脈四逆熱劑而從治，必見手足逆冷，脈沉遲細為的。若二三日心中煩不得臥者，乃腎中陰虛，風邪傳入腎中，以陽從陽，陽實之症，故用黃連阿膠寒劑救陰而逆治，必見脈沉而數，手足熱而燥渴為的，然皆龍火為病，惟分虛實為主也。若內傷腎陽，脾腎俱虛，而作水腫，水泛為痰諸證，亦必脈沉遲細，手足微冷，則當熱劑補陽，故王太僕謂益火之源，以消陰翳。若腎中真陰虛極，水不攝火，火無所歸，即現喉爛聲嘶，咳逆喘急，雖亦龍火上焰，與虛陽上浮不同，此因水枯陰竭，陽失陰而浮者，非補陰何以收散亡之氣？故有壯水之主，以鎮陽光之別。然外感陽盛風熱為病，必當知柏芩連，而瀉實火，陽虛陰盛，寒逼陽浮是當姜附以火逐之，是無餘議。若內傷陽盛陰虛，即當地黃、枸杞，補陰而配陽；若陽虛陰盛，是當補陽而消陰翳，此四法亙古無移。況《素問》六氣君相同治，皆以鹹冷，虛則反之，當用溫熱從治矣。蓋凡五臟，皆有從治，非獨龍火為然，經旨明如日月，今人混用姜附，居然名家，詎知誤人不淺，盍遵其經，及守仲景諸法乎？只因王氏立言欠明虛實為訓，惟曰火逐，以使後人買櫝還珠，不辨脈證真假虛實妄治，是以因藥而死者居多矣。嘗見脈浮數大，無前脈證亦認陽虛，妄治而死者，更不知凡幾也？余謂龍火惟分虛實之治，是無過差，則醫之能事畢矣。客曰：「善。」</p>
<p>客曰：「人犯房勞而感風寒，謂之陰證傷寒，徑投姜附，得無疑乎？」</p>
<p>答曰：舉世類皆謂之，予獨不然。經云：水火者，陰陽之徵兆也，天地賴此水火陰陽即能生長收藏，化生萬物，人體賴此充身澤毛，虛邪賊風皆不能害，然陰陽即水火，寄於兩腎，但左腎屬陰主寒水，右腎屬陽主熱水，而右腎且通膀眈，一為生髮之源，一為閉藏之主，水火兩平，氣血營衛皆和，不惟無病，而且身體強健，壽算遐齡。若醉以入房，以欲竭其精，以耗散其真，使不虧於火，即虧於水，陰陽偏盛，血氣乖離矣。若虧於火者，卒遇嚴寒凜冽之氣，乘虛感入腎間，即病四肢厥冷，畏寒發熱，腹疼泄利，面赤戴陽，躁急心煩，脈微沉遲無力，或豁大空虛浮數，按之不鼓，此因陽虛受寒，陰寒彌盛，必須姜附四逆，救陽為主者，人皆識之。然有不傷於陽，而傷於陰者，一遇虛邪賊風，感入腎間，即病身熱似火燎，口渴躁煩，經謂是人陰氣虛，陽氣盛，少水不能制盛火，而陽獨治，逢風而如炙如火者是也、必以大劑六味地黃湯，先滋其陰，以俾真陰不絕，然後束表，始為合法。醫不明此，僅聽病人口藉，遂為陽虛陰證，亂投姜附熱劑，耗竭真陰，致使陽狂躁亂而死者，不知几几矣。及遇真陽虛而發熱，內真寒而外假熱者，反投苦寒，遂致四肢厥冷，陽脫而死，亦不知几几也，業醫者，當深察之。</p>
<p>客曰：「骨蒸內熱，皆屬相火是否？</p>
<p>曰：雖屬相火，必達淵源則可，若不識起病之源，但知以牡丹、地骨分治有汗無汗之骨蒸，隔靴瘙癢，竟若天淵。要知相火之旺，必因腎水虛衰，失水浸灌，骨髓空虛，火陷骨中，則蒸熱不已，但其源有二，若心包相火以挾肝氣入骨蒸熱，則無汗；若手少陽相火入骨蒸熱，其機開泄外發，則當有汗，即《脈經》謂之陽陷入陰，精血弱是也。世用壯丹皮者，氣味辛涼色赤，清發手足厥陰之火，而地骨皮味甘氣寒，皮能走表，乃平少陽之火，後人不明經絡，而用養陰退陽，惟以牡丹皮治無汗，地骨皮治有汗，車載斗量，全無一效，是皆昧其調和營衛，生心血，養腎水，以制陽光之旨，但賴二味清熱，並用苦寒，不惟無益，反取敗矣。</p>
<p>客曰：「東垣《脾胃論》云：飲食不節則胃病，形體勞役則脾病。胃病短氣精神少怯，而生大熱，顯火上行，獨燎其面；脾病則四肢怠惰，嗜臥不收，大便泄瀉，據此則當補脾胃，是無疑乎？」</p>
<p>曰：東垣因虛立論，果當補之，但脾虛補脾，胃虛補胃，人咸知之，然脾胃既虛，必因母氣失陰，又當補其母。蓋因脾土相火生之，胃土心火生之，故胃虛則當補心，而生戊土。若脾虛，當補腎中真陽，而生已土，所以有補脾不如補腎之說。若腎水不足，又當補後天脾胃營血，有形之質，以濟腎水，故有補腎不如補脾之說。後人不解，內有土生水，水生土，互濟之妙，但說補脾不如補腎，補腎不如補脾，徒讀其書，泛然用藥，故不效也，東垣但以虛言，不可概論，倘遇小邪入里，邪氣壅逆為病，又當瀉之，慎毋膠柱鼓瑟。</p>
<p>客曰：「情志虛勞之病，治法頗多，終無一效何也？不可明之。」</p>
<p>曰：此說甚繁，聊舉大綱，以求教政。夫情志虛勞之病，乃非外邪所致，皆從自心，勞傷血氣而得。經謂非針藥之可療，必先反己，而去其情欲，然後求人之藥草，庶能愈病。昔神農製藥，不過驅邪，補虛瀉實，豈能挽回人之情欲也哉？世人皆由不知七損八益之道，四時調神之法，荒淫酒色，違逆天時，病從內生也，蓋六合之內，萬物之外，一切塵緣，皆從自心起見，故我心生，則天地萬物皆生，我心滅，則天地萬物皆滅。《道德經》云：無名為天地之始，有名為萬物之母，人與天地相參，所以天之生，地之化，入之運用，正天得一以清，地得一以寧，人得一以靈，三才互相併化於其間也。夫人稟天地陰陽剛柔之氣而生，若得剛柔相濟中和之氣者，為人聰明忠孝，寬緩和平。情欲不能牽縛，喜怒妄念，而不自生，若稟陰陽偏勝殺厲之氣者，為人愚頑怪癖，強暴姦凶，嗜欲不節，觸處皆成荊棘，大地盡屬無明。但人得偏氣而生者多，所以罔識立命之根，自生顛倒，心生喜怒，以致臟腑應而成病。苟能守意如城，諸妄現前，自能化為清涼之境，即此為靜則生陰，鎮攝陽光，調和五臟病妄。從來是故動靜起居，在乎心用，心清則火降，血氣安寧，心動則火起，擾亂氣血，必使心神氣血和作一團，無見無餘，自然而然，則心廣體胖。若以恬憺虛無視為怪癖邪侈，房欲喜怒反為日用尋常之事，致傷臟腑，而成尪羸之軀。古人謂喜起於心，心臟應之；怒起於心，肝臟應之；憂起於心，肺臟應之；思起於心，脾臟應之；恐起於心，腎臟應之。至於恚勞動靜，無不由心而起，所以各應臟腑氣血，而受其病也。夫心為一身之主，包含天地，內統五行，無為而治，日應萬機，不偏不倚，寂然不動，感而遂通，故《楞嚴經》云：性體真空，性空真體，地水火風，隨心動處而生，一加穿鑿，則身受傷。故至聖謂，至中和，天地位焉，萬物盲焉，乃體用皆同，動靜一如，為修身立命之正法眼藏，若違斯理，無有不成病者。即如天氣正，則人民皆安，生育萬物，天氣不正，人民皆病，火荒饑饉，無所不至。所以在人心正，則臟腑安和，氣血宣流，心不正，則無明頓起，氣血乖離，傾吐咳嗽之疾，接踵而至。《洞神經》云：寵辱不驚，肝木自寧；動靜以敬，必火自定；調息寡言，肺金自全；飲食有節，脾土不泄；恬憺無欲，腎水自足。《詩》謂：關睢樂而不淫，哀而不傷，事不過節，則無疾病。故得斯病者，貴在恰情逸性，善惡雙消，則能保全生命，設將已病，委託醫師，認為消災釋病，仗諸草木，奉為復元之品，情欲不屏，迷戀酒色，病日傾危，此乃自趨死徑，何關醫無良法也！若為醫者，必告至明至理，使病者身心降服，賓主相投，治始有功。設病者，我慢輕心，自不勉力降伏身心，病勢增危，以致不救，奈何？或醫者，不明至理，亂投藥食，佞口飾人，希冀僥倖，只圖財利，苟且應命，不加勸慰，惟有逢迎遷就病者，以致危殆，此貪幸無恥之流，莫逃乎罪也。予七情虛勞之病，經歷三十餘年，百中難保其一，痛切憂心，夢寐之間，神思恍悟，聖人之教千言萬語，諄諄致囑，修身卻病良方，皆出自心，不從他得。經云「恬憺虛無，真氣從之，精神內守，病安從來？」為無為之事，樂恬憺之能，從欲快志於虛無之守，則壽命無窮，與天地終。余少得斯疾而虔修聖賢之教，清心寡慾，調養性情，謝絕世緣，諸恙漸愈如得鍾離老祖九轉之還丹，服藥便是普門大士楊枝之甘露，此聖人不治已病而治未病之妙法，若然不悟聖言，惟有捐命而已。</p>
<p>客曰：「今人皆喜甘熱溫補，而惡苦寒，是何義歟？」</p>
<p>曰：若因外感致病，必當治熱以寒，治寒以熱，治溫以涼，治涼以溫，乃為正治。故經有肝苦急，木喜柔和，急食甘以緩之，然肝木盛而必剋土，故用甘補脾而緩肝急；心苦緩，心為一身之主，緩則散慢不收，故急食酸以收之，乃收心熱之不及也：脾苦濕，土喜潤而惡濕，故急食苦以燥之，乃燥脾濕之邪也；肺苦氣上逆，金性收降，故急食苦以泄之，乃泄肺氣之實也；腎苦燥，水喜滋澤，故急食辛以潤之，乃潤腎水之枯涸，此隨臟性之逆順也。又曰，肝欲散，急食辛以散之，辛補酸泄，辛去邪，從其性而為補，酸斂氣，逆其性乃為瀉也；心欲軟，急食鹹以耎之，咸補甘瀉，咸屬水而瀉火，故為補，甘抑其陽，乃為泄也；脾欲緩，急食甘以緩之，苦瀉甘補，苦燥去濕為泄，甘益其緩，乃為補也；肺欲收，急食酸以收之，酸補辛瀉，酸從其性，則為補，辛散逆其性，則為瀉也；腎欲堅，急食苦以堅之，苦補咸泄，苦燥賊邪則為補，咸軟其堅，即為瀉也。此由邪實則瀉，正虛則補，故謂虛者補之，實者瀉之，寒者熱之，熱者寒之。或見寒以寒，見熱以熱，乃為從治，是非一概施行。今之庸俗，未曾深究聖經賢傳，博覽群書，道聽途說，妄謂遵從仲景、東垣立劑，溫補王道，而病者聽信佞才，甘受其毒，竟不知人之陰陽氣血，以平為貴，此猶人之兩目，金屑雖貴，落眼即成翳疾，或有陰勝者，果宜桂、附、乾薑、鹿茸之類；陽勝者，只宜甘涼，以滋陰水，即地黃、枸杞、知母、麥冬之類。若氣虛者，人參、黃耆、炙草、白朮之類；血虛者，當歸、白芍、四物之類，此為補藥之正也。</p>
<p>客又曰：「世以陽生陰長，必以補陽為主。」曰：此出膠柱鼓瑟之流，非通《靈》、《素》圓變之論也。蓋陽生陰長者，經言無病之體，天地春秋升降，自然之道，而人應之，肝心肺腎，生化收藏之理，何曾講論病體、藥力能為之事？豈不聞無代化、無違時，必養必和，待其來復耶。余見陰虛之病已成，陰陽先已偏勝，俗流不明至理，妄投佳附，大辛大熱，劫絕其陰而死者，不知其幾乎。更有不才，而以大熱毒藥，合成興陽澀精之藥，假名種子丸、丹，逢迎富貴，希圖財利，而世人聞之，樂意從事，嗚呼！有子未生，即發熱毒而身先殞滅，縱生子女，非遊丹，即痘疹而死。若求嗣者，惟宜恬憺虛無，清心寡慾，至期交姤，則不服螽斯丸，而螽斯必自至也。</p>
<p>客問：「四時疫病，咸謂異氣所傷而致，未識寒耶熱耶？請明示之。」</p>
<p>答曰：軒岐倉扁，並無異氣之說，今得此問，可破千百世之訛矣。蓋疫者，乃沿街合巷，或一村一鄉，坊隅之間，長幼俱病，證現皆同，乃為疫病，《說文》謂之民皆疾也。是因風寒暑濕燥火，客氣流行於方隅，而人應之，則病皆相似。若夏月而值太陽客寒加臨，則病寒疫，冬月而值少陽客火加臨，則病冬溫，其餘風濕燥暑四氣加臨，則當隨其何氣，便為何疫也。奈後人不辨屬寒屬熱，混稱異氣雜氣，又謂不從經絡臟腑而入，是從口鼻入於募原，而用達原飲治之，蓋口鼻膜原，必竟是屬臟氣所司，即如蛤蟆疙瘩、瓜穰、軟腳、大頭諸瘟，小兒痘瘡痧疹，皆有臟腑經絡氣血所屬，乃凡有血氣者，莫不尊親，豈有漢不收，而秦不管之地耶？且謂積於募原，而浮於某經，即顯某經之證，此乃冬感至春發病，疫病豈有此發？即雲浮起，若邪未浮於經，伏於膜原，是無病狀可稽，何以先知是疫，遂用達原飲而治之乎？蓋疫病乃總名，迅速感發，而六淫皆可致疫，故《內經》六氣主客，惟有君相二火，為茶癘溫癘，即是疫病也。余故著《溫熱病論》，立柴芎香豉湯、香豉散火湯，表裡二方，適值康熙庚申，二三四五月，君相二氣之間，疫癘盛行，以治數千人，而得皆愈，所以疫邪屬熱，本當清熱，兼補其虛則善，此為疫病明本之論，其餘標證，當參諸家方書，是無失矣，</p>
<p>客曰：「四十九難，有五邪所傷，即肝主色、心主臭、脾主味、肺主聲、腎主濕，五邪為病，然入心為赤、入脾為香、入肺為辛、入腎為呻、入心為汗，較《內經》肝青、肺白、心赤、脾黃、腎黑，與聲之笑、哭、呼、歌、呻，味之甘、酸、苦、辛、咸，臭之焦、腥、臊、香、腐，寒邪之傷腎、濕邪之傷脾，而《難經》主一「入」字，全不相侔，願問其解。」</p>
<p>曰：此五論乃越人示後學，察症治病之心髓，今人草草讀過，良可嘆惜。蓋以心肝脾肺腎，而主色臭味聲濕，互位相乘，五變現證，是出《內經》，五五二十五陽，顛倒五行之旨，推廣發明，繹為五色、五臭、五味、五聲、五液，傳變現證，脈體具備，神機妙化，千占無人道及，惟張潔古，深得其奧，增廣其文，合為五五二十五傳之法，精義極矣，誠能熟味此篇，則業醫之事，思過半矣。若徒讀其文，不思其意，有何益哉？</p>
<p>客問：「四十九難曰：有正經自病，有五邪所傷，何以別之？然言憂愁思慮則傷心；形寒飲冷則傷肺；恚怒氣逆，上而不下，則傷肝；飲食勞倦則傷脾；入坐濕地強力入水，則傷腎，乃正經自病也。」</p>
<p>注曰：諸經之因，各屬經絡臟腑，比如憂愁皆從心起，故傷於心。肺燥屬涼形寒飲冷以寒從寒，肺即應之，故傷於肺。恚怒乃起於心，而肝應之，怒為肝志，故傷於肝。飲食入口，脾胃受之，營衛所出，以溉五臟六腑，一有不節，則脾氣當之，故傷於脾。脾主濕土，腎主寒水，雖然土能剋水，因水濕同類，故坐濕地而腎受之，則傷於腎。此五邪各從其類所傷，不從他經傳乘，故為正經自病。</p>
<p>客曰：「何謂五邪？然有中風，有傷暑，有飲食勞倦，有傷寒，有中濕，此之謂五邪。」</p>
<p>注曰：此天地六淫之邪，傷人臟腑，故為五邪，然飲食勞倦，雖非天地之邪氣，乃因飲食失節，傷損脾胃，不能充濟諸經臟腑，以致五邪乘虛感入諸經為病，故謂飲食勞倦，雖不言邪，而邪在其中矣。</p>
<p>客曰：「假令心病，何以知中風得之？然其色當赤，何以言之？肝主色，自入為青，入心為赤，入脾為黃，入肺為白，入腎為黑，肝為心邪，故知當赤色也，其病身熱，脅下滿痛，其脈浮大而弦？」</p>
<p>注曰：風氣通於肝，肝受風邪，而傳於心，母邪溢子，從後來者，謂之虛邪是也。然肝屬風木而主色者，何也？蓋風氣屬陽，而主生髮變動，所以主色，若無風邪入肝，則色不現，非風木之邪入於他臟，則他臟之色不現，而肝邪傳至他臟，則現他臟之色。凡在病中，而見面部五色，病人眼見五色，吐下之五色，或喜五色，惡五色，故青黃赤白黑皆屬肝邪所致。故在本臟，謂之自入為青，而入心為赤，入脾為黃，入肺為白，入腎為黑。此乃肝風入心，而心受病，故現赤色，為得之中風，風火相待，故病身熱，本邪從肝而來，故脅下滿痛，其脈浮大，而弦浮大屬心之風火，弦屬肝邪傳心，其色必應青而帶赤，餘臟之病與色仿此。</p>
<p>客曰：「何以知傷暑得之？然當惡臭，何以言之？心主臭，自入為焦臭，入脾為香臭，入肝為臊臭，入腎為腐臭，入肺為腥臭，故知心病傷暑得之也，當惡臭，其病身熱，而煩心痛，其脈浮大而散？」</p>
<p>注曰：心屬暑熱，暑亦屬熱，以熱從熱，故心臟受暑，謂之正邪自病，然心屬火，其中有無形炎焰之氣，故主臭，臭者氣也，心自受病，故當惡臭，若在本臟，即為焦臭，傳於脾為香臭，入肝為臊，入腎為腐，入肺為腥。凡病喜五臭，惡五臭，吐下之五臭，故香臊焦腐腥，皆從心邪乘來所致，而心邪自病，則惡焦臭矣，其煩心痛，脈浮大而散，皆本經病脈證也。</p>
<p>客曰：「何以知飲食勞倦得之？然喜苦味也，虛為不欲食，實為欲食，何以言之脾主味，入肝為酸，入心為苦，入肺為辛，入腎為咸，自入為甘，故知脾邪入心，為喜苦味也，其病身熱，體重嗜臥，四肢不收，其脈浮大而緩？」</p>
<p>注曰：心病由飲食勞倦得之，即從前來者，謂之實邪是也，蓋凡飲食入胃，而胃為倉廩之官，五味出焉，故飲食勞倦，所以主味，心病得之，飲食勞倦，則喜苦味，凡病喜五味，惡五味，嘔吐之五味，故甘酸苦辛鹹，皆屬飲食勞倦脾邪所致，虛則氣弱，故不飲食，實則邪熱消穀，故欲飲食，若傳於肝為酸，入心為苦，入肺為辛，入腎為咸，自入為甘，此脾邪入心，或因脾致虛心臟而致心病，故喜苦味也，其病身熱為心受病；體重嗜臥，四肢不收，為脾病，其脈浮大主心，緩主脾也。</p>
<p>客曰：「何以知傷寒得之？然當譫言妄語，何以言之？肺主聲，入肝為呼，入心為言，入脾為歌，入腎為呻，自入為哭，故知肺邪為譫言妄語也，其病身熱，洒洒惡寒，甚則喘咳，其脈浮大而澀？」</p>
<p>注曰：此言傷寒者，即仲景謂大邪中表，邪從皮毛受，而傳裡為病，乃從前來者，實邪是也，形寒飲冷，先傷肺之皮毛，傳至於心，而心主語，肺主聲，心為神明之主，肺邪傳心，神明躁亂，而肺聲隨心所轉，故發譫言妄語。但入肝為呼，入心為言，入脾為歌，入腎為呻，自入為哭，凡病聞五聲，喜五聲，惡五聲，故呼言歌呻哭皆是肺受燥寒所致，故此肺邪入心，合為譫言妄語，其身發熱，即心病；洒洒惡寒，乃肺病，甚則入肺而為喘咳，其脈浮大屬心，澀屬肺也。</p>
<p>客曰：「何以知中濕得之？然當喜汗出不可止，何以言之？腎主濕，入肝為泣，入心為汗，入脾為涎，入肺為涕，自入為唾，故知腎邪入心，為汗不可止也，其病身熱，小腹痛，足脛寒而逆，其脈沉濡而大？」</p>
<p>注曰：心病得之中濕，乃謂從所不勝來者，賊邪是也，蓋心主陽熱，濕主陰邪，水濕同類，濕淫所勝，腎受濕邪，濕寒交盛，上逆凌心，心陽不守，心液外越，故汗出不可止也，然不可止者，乃言不可止心之汗，宜逐腎邪之謂耳。蓋腎濕之邪，傳於五臟，隨其他臟而變，故入心為汗，入脾為涎，入肺為涕，自入為唾，要知吐五液，少五液，而汗涎涕唾液，皆屬腎邪所致，故此邪入心為汗，其病身熱，為心病；小腹痛，足脛寒而逆，為腎病，沉濡為腎脈，大為心脈也。</p>
<p>按此五條，闡明《靈》《素》二十五陽，五行顛倒，察病傳變神化之機，乃越人呼吸相通，軒歧一貫之理，若讀此五篇，則八十一難皆明，然述八十一難，猶探爻以作《易》，讀三百篇而賦《離騷》之意，乃上古先賢，哀憫後世蒼生之至，故業軒歧之道，必先登扁鵲之堂，則思過半矣。</p>

<h1>跋</h1>
<p>意穩見夫子診證濟世，嘗懷未足，慮醫之正學久湮，紕繆日多，是以弗憚苦心，取仲景書於應酬之暇，乘皓月以參詳，或簧燈以殘漏，提海蕙等，而兼閱注述。撰有《溫熱病論》、《虛勞內傷》、《天元樞法》、《傷寒辭潔》、《坤儀髓要》、《客窗偶談》、《治證神機雜病》等書一百餘卷，統曰《醫徵》，誠軒歧之正學，濟世之津梁也。茲先以仲景傷寒、金匱、溫熱、內傷四書屬蕙等校讎付梓，蕙弗獲以無能辭，受而讀其所注，蓋非頓明心地，深透軒歧之理者莫能及也，即如注《金匱》之治未病，發明時今之虛實陽病陰病之十八，即以六淫、營衛而分之，陰毒辨非虛寒百合、邪流臟腑、婦人諸病，皆為血海受邪，一源而出，傷寒之病機流伏，以厥陰之木邪臨土而厥，互明六經之生克，與夫創發《內經》之《溫熱病論》，此皆仲景以後諸賢未能道者矣。夫子悉啟其秘，真為造物以生人，其有益於後世不淺，豈僅為軒歧、仲景之功臣而已哉？孔子《春秋》成，遊、夏不能贊一辭，吾師注成，蕙亦奚敢贅言？但以身任錄正，故述梗概，以冀同志者黽勉而深造焉。</p>
<p><u>廣陵門生李蕙拜跋</u></p>
