<header data-type="book">
<h1>新刻華佗內照圖</h1>
<dl class="元資料">
<div><dt>作者</dt><dd><data value="華佗">華佗</data>撰，<data value="胡文煥">胡文煥</data>校正</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd>明萬曆刊本（<a href="https://www.digital.archives.go.jp/file/1079601">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>
