<header data-type="book">
<h1>珍珠囊藥性賦</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>張元素</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>底本</dt><dd>清乾隆間（1736－1795）鈔本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=0b989c0da97641d9909f616f7a8bc50afDcyNDg20&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>上卷</h1>

<h2>寒性</h2>
<p>諸藥識性，此類最寒。犀角解乎心熱，羚羊清乎肺肝。澤瀉利水通淋而補陰不足，海藻散癭破氣而治疝何難。聞知菊花能明目而清頭風，射干療咽閉而消癰毒。薏苡理腳氣而除風濕，藕節消瘀血而止吐衄。瓜蔞子下氣潤肺喘兮又且寬中，車前子止瀉利小便兮尤能明目。是以黃柏瘡用，兜鈴嗽醫。地骨皮有退熱除蒸之效，薄荷葉宜消風清腫之施。寬中下氣枳殼緩而枳實速也，療肌解表乾葛先而柴胡次之。百部治肺熱咳嗽可止，梔子涼心腎鼻血最宜。玄參治結熱毒癰，清利咽膈；升麻消風熱腫毒，發散瘡痍。嘗聞膩粉抑肺而斂肛門，金箔鎮心而安魂魄。茵陳主黃疸而利水，瞿麥治熱淋之有血。朴硝通大腸，破血而療痰癖；石膏墜頭疼，解肌而消煩渴。前胡除內外之痰實，滑石利六腑之滯結。天門冬止嗽，補血冷而潤肝心；麥門冬清心，解煩渴而除肺熱。又聞治虛煩除噦嘔，須用竹茹；通秘結導瘀血，必資大黃。宣黃連治冷熱之痢，又厚腸胃而止瀉；淫羊藿療風寒之痹，用補陰虛而助陽。茅根止血與吐衄，石葦通淋於小腸。熟地黃補虛而且療虛損，生地黃宣血更醫眼瘡。赤芍藥破血而療腹疼，煩熱亦解；白芍藥補虛而生新血，退熱尤良。若乃消腫滿逐水於牽牛，除毒熱殺蟲於貫眾。金鈴子治疝氣而補精血，萱草根治五淋而消乳腫。側柏葉治血崩漏之疾，香附子理血氣婦人之用。地膚子利膀胱，可洗皮膚之風；山豆根解熱毒，能止咽喉之痛。白鮮皮去風治筋弱而療足頑痹，旋覆花明目治頭痛而消痰嗽壅。又況荊芥穗清頭目便血，疏風散瘡之用；瓜蔞根療黃疸毒壅消渴，解痰之憂。地榆療崩漏，止血止痢；昆布破疝氣，散癭散瘤。療傷寒，解虛煩，淡竹葉之功倍；除結氣，破瘀血，牡丹皮之用同。知母止嗽而骨蒸退，牡蠣澀精而虛汗收。貝母消痰止嗽咳而利心肺，桔梗下氣利胸膈而治咽喉。若夫黃芩治諸熱，兼主五淋；槐花治腸風，亦痊痔痢。常山理痰結而治溫瘧，葶藶瀉肺喘而通水氣。此六十六種，藥性之寒，又當考《圖經》以博其所治，觀夫方書以參其所用焉，其庶幾矣。</p>

<h2>熱性</h2>
<p>藥有溫熱，又當審詳。欲溫中以蓽撥，用發散以生薑。五味子止嗽痰，且滋腎水；膃肭臍療癆瘵，更壯元陽。原夫川芎祛風濕，補血清頭；續斷治崩漏，益筋強腳。麻黃表汗以療咳嗽，韭子助陽而醫白濁。川烏破積，有消痰治風痹之功；天雄散寒，為去濕助精陽之藥。觀夫川椒達下，乾薑暖中。葫蘆巴治膚冷之疝氣，生卷柏破癥瘕而血通。白朮消痰壅，溫胃，兼止吐瀉；菖蒲開心氣，散冷，更治耳聾。丁香快脾胃而止吐逆，良薑止心氣痛之攻衝。肉蓯蓉填精益腎，石硫黃暖胃驅蟲。胡椒主去痰而除冷，秦椒主攻痛而治風。吳茱萸療心腹之冷氣，靈砂定心臟之怔忡。夫散腎冷，助脾胃，須蓽澄茄；療心疼，破積聚，用蓬莪朮。縮砂止吐瀉、安胎，化酒食之劑；附子療膚寒、翻胃，壯元陽之力。白豆蔻治冷瀉，療癰止痛於乳香；紅豆蔻止吐酸，消血殺蟲於乾漆。豈不知鹿茸生精血，腰脊崩漏之均補：虎骨壯筋骨，寒濕毒風之並怯。檀香定霍亂，而心氣之疼愈；鹿角秘精髓，而腰脊之痛除。消腫益血於米醋，下氣散寒於紫蘇。扁豆助脾，則酒有行藥破血之用；麝香開竅，則蔥為通中發汗之需。嘗觀五靈脂治崩漏，理血氣之刺痛；麒麟竭止血出，療金瘡之折傷。鹿茸壯陽以助腎，當歸補虛而養血。烏賊止帶下，且除崩漏目翳；鹿角膠住血崩，能補虛羸勞絕。白花蛇治癱瘓，除風癢之癩疹；烏稍蛇療不仁，去瘡瘍之風熱。《圖經》云烏藥有治冷氣之理，禹餘糧乃療崩漏之因。巴豆利痰水，能破積熱；獨活療諸風，不論久新。山茱萸治頭暈遺精之藥，白石英醫咳嗽吐膿之人。厚朴溫胃而去嘔脹，消痰亦驗；肉桂行血而療心痛，止汗如神。是則鯽魚有溫胃之功，代赭乃鎮肝之劑。沉香下氣補腎，定霍亂之心疼；橘皮開胃去痰，導壅滯之逆氣。此六十二種藥性之熱又當博本草而取治焉。</p>

<h2>溫性</h2>
<p>溫藥總括，醫家素諳。木香理乎氣滯，半夏主於風痰。蒼朮治目盲，燥脾治濕宜用；蘿蔔去膨脹，下氣制面尤堪。況夫鍾乳粉補肺氣，兼療腎虛；青鹽治腹疼，且滋腎水。山藥而腰濕能醫，阿膠而痢嗽皆止。赤石脂治精濁而止瀉，兼補崩中；陽起石暖子宮以壯陽，更療陰痿。誠以紫菀治嗽，防風祛風。蒼耳子透腦涕止；威靈仙宣風氣通。細辛去頭風，止嗽而療齒痛；艾葉治崩漏，安胎而醫痢紅。羌活明目驅風，除筋攣腫痛；白芷止崩治腫，療痔漏瘡癰。若乃紅藍花通經，治產後惡血之餘；劉寄奴散血，療湯火金瘡之苦。減風濕之痛則茵芋葉，療折傷之症則骨碎補。藿香葉辟惡氣而定霍亂，草果仁溫脾胃而止嘔吐。巴戟天治陰疝白濁，補腎尤滋；玄胡索理氣痛血凝，調經有助。嘗聞款冬花潤肺，去痰嗽以定喘；肉豆蔻溫中，止霍亂而助脾。撫芎定經絡之痛，何首烏治瘡疥之資。薑黃能下氣，破惡血之積；防己宜消腫，去風濕之施。藁本除風，主婦人陰痛之用；仙茅益腎，扶元氣虛弱之衰。乃曰破故紙溫腎，補精髓與勞傷；宣木瓜入肝，療腳氣並水腫。杏仁潤肺燥止嗽之劑，茴香治疝氣腎疼之用。訶子生津止渴，兼療滑泄之疴；秦艽攻風逐水，又除肢節之痛。檳榔豁痰而逐水，殺寸白蟲；杜仲益腎而添精，去腰膝重。當知紫石英療驚悸崩中之疾，橘核仁治腰痛疝氣之瘨。金櫻子兮澀遺精，紫蘇子兮下氣涎。淡豆豉發傷寒之表，大小薊除諸血之鮮。益智安神，治小便之澀數；麻仁潤肺，利六腑之燥堅。抑又聞補虛弱，排膿瘡，莫若黃耆；強腰腳，壯筋骨，無如狗脊。菟絲子補腎以明目，馬藺花治疝而有功。此五十四種藥性之溫，更宜參《圖經》而默識也。</p>

<h2>平性</h2>
<p>詳論藥品，平和性存。以硇砂而去積，用龍齒以安魂。青皮快膈除膨脹，且利脾胃；芡實益精治白濁，兼補真元。原夫木賊草去目翳，崩漏亦醫；花蕊石治金瘡，血行則卻。決明和肝氣，治眼之劑；天麻主脾濕，祛風之藥。甘草和諸藥而解百毒，蓋以性平；石斛平胃氣而補腎虛，更醫腳弱。觀夫商陸治腫，覆盆益精。琥珀安神而散血，硃砂鎮心而有靈。牛膝強足補精，兼療腰痛；龍骨止汗住濕，更治血崩。甘松理風氣而痛止，蒺藜療風瘡而目明。人參潤肺寧心，開脾助胃；蒲黃止崩治衄，消瘀調經。豈不以南星醒脾，去驚風痰吐之憂；三稜破積，除血塊氣滯之症。沒石主泄瀉而神效，皂角治風痰而響應。桑螵蛸療遺精之泄，鴨頭血醫水腫之盛。蛤蚧治勞嗽，牛蒡子疏風壅之痰；全蠍主風癱，酸棗仁去怔忡之病。嘗聞桑寄生益血安胎，且止腰痛；大腹子去膨下氣，亦令胃和。小草、遠志俱有寧心之妙；木通、朱苓，尤為利水之多。蓮肉有清心醒脾之用，沒藥乃治瘡散血之科。郁李仁潤腸宣水，去浮腫之疾；茯神寧神益智，除驚悸之疴。白茯苓補虛勞，多在心脾之有準；赤茯苓破結血，獨利水道以無過。因知麥芽有助脾化食之功，小麥止汗養心之力。白附子去面風之遊走，大腹皮治水腫之泛溢。椿根白皮主瀉血，桑根白皮主喘息。桃仁破瘀血，兼治腰疼；神麯健脾胃，而進飲食。五加皮堅筋骨以立行，柏子仁養心神而有益。抑又聞安息香辟惡，且止心腹之痛；冬瓜仁醒脾，實為飲食之資。殭蠶治諸風之喉閉，百合斂肺勞之嗽痿。赤小豆解熱毒，瘡腫宜用；枇杷葉下逆氣，噦嘔可醫。連翹排瘡膿與腫毒，石楠葉利筋骨與毛皮。穀芽養脾，阿魏除邪氣而破積；紫河車補血，大棗和藥性以開脾。然而鱉甲治勞瘧，兼破癥瘕；龜甲堅筋骨，更療崩疾。烏梅主便血瘧痢之用，竹瀝治中風聲音之失。此六十八種平和之藥，更宜參本草希求其詳焉。</p>

<h2>諸品藥性陰陽論</h2>
<p>夫藥有寒熱溫涼之性，酸苦辛鹹甘淡之味，升降浮沉之能，互相氣味厚薄不同，輕重不等，寒熱相雜，陰陽相混。或氣一而味殊，或味同而氣異。總而言之，不可混說；分而言之，各有所能。本乎天者，親上；本乎地者，親下。輕清成像，重濁成形。清陽發腠理，濁陰走五臟。清中清者，榮養於神；濁中濁者，堅強骨髓。辛甘發散為陽，酸苦湧泄為陰。氣為陽，氣厚為陽中之陽，氣薄為陽中之陰。氣薄則發泄，氣厚則發熱。味為陰，味厚為陰中之陰，味薄為陰中之陽。味薄則通，味厚則泄。升降浮沉之理，胸中豁然而貫通矣。人徒知藥之神者，乃藥之力也，殊不知乃用藥者之力也。人徒知辨真偽識藥之為難，殊不知分陰陽用藥之為尤難也。</p>

<h2>藥性升降浮沉補瀉法</h2>
<p>足厥陰肝、足少陽膽，味辛補酸瀉，氣溫補涼瀉。</p>
<p>手少陰心，味鹹補甘瀉，氣熱補寒瀉。</p>
<p>手太陽小腸，味鹹補甘瀉，氣熱補寒瀉。</p>
<p>足太陰脾、足陽明胃，味甘補苦瀉，氣溫涼寒熱補，瀉各從所宜。</p>
<p>手太陰肺、手陽明大腸，味酸補辛瀉，氣涼補溫瀉。</p>
<p>足少陰腎、足太陽膀胱，味苦補咸瀉，氣寒補熱瀉。</p>
<p>五臟更相平也。一臟不平則病，故曰：安穀則昌，絕谷則亡。仲景云：水入於經，其血乃成；谷入於胃，脈道乃行。故血不可不養，衛不可不溫。血溫衛和，榮衛將行，常有天命矣。</p>

<h2>諸臟五欲</h2>
<p>肝欲散，急食辛以散之，以辛補之，以酸瀉之。</p>
<p>心欲軟，急食鹹以軟之，以咸補之，以甘瀉之。</p>
<p>脾欲緩，急食甘以緩之，以甘補之，以苦瀉之。</p>
<p>肺欲收，急食酸以收之，以酸補之，以辛瀉之。</p>
<p>腎欲堅，急食苦以堅之，以苦補之，以咸瀉之。</p>

<h2>諸臟五苦</h2>
<p>肝苦急，急食苦以緩之。</p>
<p>脾苦濕，急食苦以燥之。</p>
<p>心苦緩，急食酸以收之。</p>
<p>腎苦燥，急食辛以潤之。</p>
<p>肺苦氣上，急食苦以泄之。（開腠理，致津液，通其氣也。）</p>

<h2>五嗅湊五臟例</h2>
<p>臊氣入肝，腥氣入肺，香氣入脾，焦氣入心，腐氣入腎。</p>

<h2>五行五色五味五走五臟主禁例</h2>
<p>東方之木，其色青，其味酸，其臟肝。肝主筋，木曰曲直，作酸，酸走肝。筋病，人無多食酸。</p>
<p>南方之火，其色赤，其味苦，其髒心。心主血，火曰炎上，作苦，苦走心。血病，人無多食苦。</p>
<p>西方之金，其色白，其味辛，其臟肺。肺生氣，金曰從革，作辛，辛走肺。氣病，人無多食辛。</p>
<p>中央之土，其色黃，其味甘，其臟脾。脾主肉，土曰稼穡，作甘，甘走脾。肉病，人無多食甘。</p>
<p>北方之水，其色黑，其味鹹，其臟腎。腎主骨，水曰潤下，作咸，咸走腎。骨病，人無多食鹹。</p>

<h2>手足三陽表裡引經主治例</h2>
<p>太陽（足膀胱　手小腸）　上羌活　下黃柏</p>
<p>少陰（足腎　手心）　知母　黃連</p>
<p>少陽（足膽　手三焦）　上柴胡　下青皮</p>
<p>厥陰（足肝　手胞絡）　青皮　柴胡</p>
<p>陽明（足胃　手大腸）　上升麻、白芷　下石膏</p>
<p>太陰（足脾　手肺）　白芷　桔梗</p>

<h2>諸藥瀉諸經之火邪</h2>
<p>黃連瀉心火，梔子、黃芩瀉肺火，白芍瀉肝火，柴胡、黃連瀉肝、膽火，知母瀉腎火，木通瀉小腸火，黃芩瀉大腸火，柴胡、黃芩瀉三焦火，黃柏瀉膀胱火。</p>

<h2>諸藥相反例</h2>
<p>甘草反大戟、芫花、甘遂、海藻；</p>
<p>烏頭反半夏、瓜蔞、貝母、白及、白蘞；</p>
<p>藜蘆反細辛、芍藥、人參、沙參、苦參、丹參。</p>

<h2>五臟補瀉主治例</h2>
<p>肝虛者，陳皮、生薑之類補之。虛則補其母，腎者肝之母也，以熟地黃、黃柏補之，如無他證，錢氏地黃丸主之。實則白芍藥瀉之，如無他證，錢氏瀉青丸主之。實則瀉其子，以甘草瀉心，心者肝之子也。</p>
<p>心虛者，炒鹽補之。虛則補其母，肝者心之母也，以生薑補肝，如無他證，錢氏安神丸主之。實則甘草瀉之，如無他證，錢氏方中重則瀉心湯，輕則導赤散。</p>
<p>脾虛者，甘草、大棗之類補之。實則黃連、枳實瀉之，如無他證，錢氏益黃散主之。虛則補其母，心乃脾之母，以炒鹽補心。實則瀉其子，肺乃脾之子，以桑白皮瀉肺。</p>
<p>肺虛者，五味子補之。實則桑白皮瀉之，如無他證，錢氏阿膠散主之。虛則補其母，脾乃肺之母，以甘草、大棗補脾。實則瀉其子，腎者肺之子，以澤瀉瀉腎。</p>
<p>腎虛者，熟地黃、黃柏補之。腎無實，不可瀉，錢氏止有補腎地黃丸，無瀉腎藥。虛則補其母，肺乃腎之母，以五味子補肺。</p>
<p>已上五臟補瀉，《素問·藏氣法時論》備言之矣，欲究其詳，看本論。</p>

<h2>用藥凡例</h2>
<p>頭角痛用川芎，血枯亦用。巔頂痛須用藁本。遍身肢節痛須用羌活，風濕亦用。</p>
<p>腹中痛，須用白芍、厚朴。臍下痛，須用黃柏、青皮。心下痛，須用吳茱萸。胃脘痛，須用草豆蔻。</p>
<p>脅下痛，須用柴胡。日晡潮熱、寒熱往來亦用。</p>
<p>莖中痛，須用生甘草梢。氣刺痛，須用枳殼。血刺痛，須用當歸。心下痞，須用枳實。</p>
<p>胸中寒痞，用去白陳皮。腹中窄，用蒼朮。</p>
<p>破血須用桃仁，活血須用當歸，補血須用川芎，調血須用玄胡索。補元氣，須用人參。</p>
<p>調諸氣，須用木香。破滯氣，用枳殼、青皮。</p>
<p>肌表熱，須用黃芩，去痰亦用。去痰，用半夏。</p>
<p>去風痰，須用南星。諸虛熱，須用黃耆，盜汗亦用。</p>
<p>脾胃受濕用白朮，去痰亦用。</p>
<p>下焦濕腫，用漢防己、草龍膽。</p>
<p>中焦濕熱用黃連，下焦濕熱用芩。</p>
<p>煩渴，用白茯苓、葛根，嗽者用五味子。</p>
<p>咳有聲無痰者，用生薑、杏仁、防風；咳有聲有痰者，用半夏、枳殼、防風。</p>
<p>喘者，須用阿膠、天門冬、麥門冬。</p>
<p>諸泄瀉，須用白芍、白朮。</p>
<p>諸水泄，用白朮、白茯苓、澤瀉。</p>
<p>諸痢疾，須用當歸、白芍。</p>
<p>上部見血用防風；中部見血用黃連；下部見血用地榆。</p>
<p>眼暴發，須用當歸、黃連、防風。</p>
<p>眼久昏暗，用熟地黃、當歸、細辛。</p>
<p>解利傷風，用防風為君，白朮、甘草為佐；解利傷寒，甘草為君，防風、白朮為佐。</p>
<p>凡諸風，須用防風、天麻。</p>
<p>諸瘡瘍，須用黃柏、知母為君，連翹、黃芩為佐。</p>
<p>小便不利，須用黃柏、知母為君，茯苓、澤瀉為佐。</p>
<p>瘧疾，須用柴胡為君，隨所發之時、所屬經部分，以升經藥導之。</p>
<p>以上諸藥，此大略言之，以為處方之階。欲究其精於指掌，《珍珠囊》中求之。</p>

<h2>諸品藥性主治指掌</h2>
<p><u>羌活</u>　味苦、甘、平。性微溫，無毒。升也，陰中之陽也。其用有五：散肌表八風之邪，利周身百節之痛，排巨陽肉腐之疽，除新舊風濕之證，乃手足太陽表裡引經藥也。</p>
<p><u>升麻</u>　味苦、平。性微寒，無毒。升也，陰中之陽也。其用有四：引蔥白散手陽明之風邪，引石膏止足陽明之齒痛，引諸藥遊行四經，升陽氣於至陰之下，因名之曰升麻。</p>
<p><u>柴胡</u>　味苦、平。性微寒，無毒。升也，陰中之陽也。其用有四：左右兩旁脅下痛，日晡潮熱往來生，在臟調經內主血，在肌主氣上行經，手足少陽表裡四經。</p>
<p><u>白芷</u>　味辛。性溫，無毒。升也，陽也。其用有四：去頭面皮膚之風，除皮膚燥癢之痹，止足陽明頭痛之邪，為手太陰引經之劑。</p>
<p><u>防風</u>　味甘、辛。性溫，無毒。升也，陽也。其用有二：以氣味能瀉肺，以體用通療諸風。</p>
<p><u>當歸</u>　味甘、辛。性溫，無毒。可升可降，陽也。其用有四：頭止血而上行，身養血而中守，稍破血而下流，全活血而不走。</p>
<p><u>獨活</u>　味苦、甘、平。性微溫，無毒。升也，陰中之陽也。其用有三：諸風掉眩、頸項難伸，風寒濕痹、兩足不用，及為足少陰之引經。</p>
<p><u>木香</u>　味苦、辛。性微溫，無毒。降也，陰也。其用有二：調諸氣不可無，泄肺氣不可缺。</p>
<p><u>檳榔</u>　味苦、辛。性溫，無毒。降也，陰也。其用有二，墜諸藥性若鐵石，治後重驗如奔馬。</p>
<p><u>吳茱萸</u>　味苦、辛。性熱，有小毒。可升可降，陽也。其用有四：咽隘寒氣噎塞而不通，胸中冷氣閉塞而不利，脾胃停冷腹痛而不任，心氣刺痛成陣而不止。</p>
<p><u>藿香葉</u>　味甘。性溫，無毒。可升可降，陽也。其用有二：開胃口，能進飲食；止霍亂，仍除嘔逆。</p>
<p><u>川芎</u>　味辛。性溫，無毒。升也，陽也。其用有二：上行頭角助清陽之氣止痛；下行血海養新生之血調經。</p>
<p><u>黃連</u>　味苦。性寒，無毒。沉也，陰也。其用有四：瀉心火，消心下痞滿之壯；主腸澼，除腸中混雜之紅；治目疾暴發宜用；療瘡瘍首尾俱同。</p>
<p><u>黃芩</u>　味苦、平。性寒，無毒。可升可降，陰也。其用有四：中枯而飄者，瀉肺火消痰利氣；細實而堅者，瀉大腸火養陰退陽；中枯而飄者，除寒濕留熱於肌表；細實而堅者，滋化源退熱於膀胱。</p>
<p><u>大黃</u>　味苦。性寒，無毒。其性沉而不浮；其用走而不守。奪土鬱而無壅滯，定禍亂而致太平，名之曰將軍。</p>
<p><u>黃柏</u>　味苦。性寒，無毒。沉也，陰也。其用有五：瀉下焦隱伏之龍火；安上焦虛噦之蛔蟲；臍下痛，單制而能除；腎不足，生用而能補；痿厥，除濕藥不可缺。</p>
<p><u>玄明粉</u>　味辛、甘、酸。性微溫，無毒。沉也，陰也。其用有二：去胃中之實熱，蕩腸中之宿垢，其妙不可盡述。大抵用此而代盆硝也。</p>
<p><u>白朮</u>　味甘。性溫，無毒。可升可降，陽也。其用有四：利水道，有除濕之功；強脾胃，有進食之效；佐黃芩，有安胎之能；君枳實，有消痞之妙。</p>
<p><u>人參</u>　味甘。性溫，無毒。升也，陽也。其用有三：止渴生津液，和中益元氣。肺寒則可，肺熱還傷肺。</p>
<p><u>黃耆</u>　味甘。性溫，無毒。升也，陽也。其用有四：溫肉分而實腠理，益元氣而補三焦，內托陰症之瘡瘍，外固表虛之盜汗。</p>
<p><u>甘草</u>　味甘、平。無毒。生之則寒，炙之則溫。生則分身梢而瀉火；炙則健脾胃而和中。解百毒而有效，助諸藥而無爭。以其甘能緩急，故有國老之稱。</p>
<p><u>半夏</u>　味辛、平。生寒、熟溫，有毒。降也，陽也。其用有四：除濕，化痰涎，大和脾胃氣，痰厥及頭疼，非此莫能治。</p>
<p><u>陳皮</u>　味辛、苦。性溫，無毒。可升可降，陽中之陰也。其用有二：留白補胃和中，去白者消痰泄氣。</p>
<p><u>青皮</u>　味苦。性寒，無毒。沉也，陰也。其用有四：破滯氣，愈低而愈效；削堅積，愈下而愈良。引諸藥至厥陰之分，下飲食入太陰之倉。</p>
<p><u>枳殼</u>　味苦、酸。性微寒，無毒。沉也，陰也。其用有四：消心下痞塞之痰，泄腹中滯塞之氣，推胃中隔宿之食，削腹內連年之積。</p>
<p><u>枳實</u>　味苦、酸。性微寒，無毒。沉也，陰也。其用有四：消胸中之虛痞，逐心下之停水，化日久之稠痰，削年深之堅積。</p>
<p><u>桔梗</u>　味苦。性寒，微溫，有小毒。升也，陰中之陽也。其用有四：止咽痛兼除鼻塞，利隔氣仍治肺癰。一為諸藥之舟楫，一為肺部之引經。</p>
<p><u>知母</u>　味苦。性寒，無毒。沉也，陰中之陰也。其用有四：瀉無根之腎火，療有汗之骨蒸，止虛勞之陽勝，滋化源陰之生。</p>
<p><u>藁本</u>　味苦、辛。性微溫，無毒。升也，陰中之陽也。其用有二：大寒，氣客於巨陽之經，苦頭痛，流於巔頂之上，非此味不除。</p>
<p><u>生地黃</u>　味甘、苦。性寒，無毒。沉也，陰也。其用有四：涼心火之血熱，瀉脾土之濕熱，止鼻中之衄熱，除五心之煩熱。</p>
<p><u>熟地黃</u>　味甘、苦。性溫，無毒。沉也，陰也。其用有四：活血氣封填骨髓，滋腎水補益真陰。傷寒後脛股最痛，新產後臍腹難禁。</p>
<p><u>五味子</u>　味酸。性溫，無毒。降也，陰也。其用有四：滋腎經不足之水，收肺氣耗散之金。除煩熱，生津止渴；補虛勞，益氣強陰。</p>
<p><u>川烏</u>　味辛。性熱，有毒。浮也，陽中之陽也。其用有二：散諸風之寒邪，破諸積之冷痛。</p>
<p><u>白芍</u>　藥味酸、平。性寒，有小毒。可升可降，陰也。其用有四：扶陽氣，大除腹痛；收陰氣，徙健脾經。墮其胎，能逐其血；損其肝，能緩其中。</p>
<p><u>白茯苓</u>　味苦、淡。性溫，無毒。降也，陽中之陰也。其用有六：利竅而除濕，益氣而和中，小便多而能止，大便結而能通，心驚悸而能保，津液少而能生。白者入壬癸，赤者入丙丁。</p>
<p><u>澤瀉</u>　味甘、咸。性寒，無毒。降也。陽中之陰也。其用有四：去胞垢而生新水，退陰汗而止虛煩。主小便淋澀仙藥，療水病濕腫靈丹。</p>
<p><u>薄荷葉</u>　味辛。性涼，無毒。升也，陽也。其用有二：清利六陽之會首，祛除諸熱之風邪。</p>
<p><u>麻黃</u>　味苦、甘。性溫，無毒。升也，陰中之陽也。其用有二：其形中空，散寒邪而發表；其節中閉，止盜汗而固虛。</p>
<p><u>厚朴</u>　味苦、辛。性溫，無毒。可升可降，陰中之陽也。其用有二：苦能下氣，去實滿而消腹脹；溫能益氣，除濕滿散結調中。</p>
<p><u>杏仁</u>　味苦、甘。性溫，有毒。可升可降，陰中之陽也。其用有二：利胸中氣逆而喘促，潤大腸氣秘而難便。</p>
<p><u>巴豆</u>　味辛。性熱，有大毒。浮也，陽中之陽也。其用有二：削堅積，蕩臟腑之沉寒；通閉塞，利水穀之道路。斬關奪門之將，不可輕用。</p>
<p><u>黑附子</u>　味辛。性熱，有大毒。浮也，陽中之陽也。其性浮而不沉，其用走而不息。除六腑之沉寒，補三陽之厥逆。</p>
<p><u>蒼朮</u>　氣味主治與白朮同，補中除濕力不及白，寬中發汗功過於白。</p>
<p><u>秦艽</u>　味苦、辛、平。性微溫，無毒。可升可降，陰中之陽也。其用有二：除四肢風濕若懈，療遍體黃疸如金。</p>
<p><u>白殭蠶</u>　味酸、辛、平。性微溫，無毒。升也，陰中之陰也。其用有二：去皮膚風動如蟲行，主面部䵟生如漆點。</p>
<p><u>白豆蔻</u>　味辛。性溫，無毒。升也，陽也。其用有四：破肺中滯氣，退目中雲氣，散胸中冷氣，補上焦元氣。</p>
<p><u>地榆</u>　味苦、甘、酸。性微寒，無毒。沉也，陰也。其用有二：主下部積熱之血痢，止下焦不禁之月經。</p>
<p><u>連翹</u>　味苦、平。性微寒，無毒。升也，陰也。其用有二：瀉諸經之客熱，散諸腫之瘡瘍。</p>
<p><u>阿膠</u>　味甘、平。性微溫，無毒。降也，陽也。其用有四：保肺益金之氣，止嗽蠲咳之膿，補虛安妊之胎，治痿強骨之力。</p>
<p><u>桃仁</u>　味苦、甘、平。性寒，無毒。降也，陰也。其用有二：潤大腸血秘之便難，破大腸久蓄之血結。</p>
<p><u>生薑</u>　味辛。性溫，無毒。升也，陽也。其用有四：製半夏有解毒之功，佐大棗有厚腸之益。溫經散表邪之風，益氣止翻胃之噦。</p>
<p><u>石膏</u>　味辛、甘。性大寒，無毒。沉也，陰也。其用有二：制火邪，清肺氣，仲景有白虎之名；除胃熱，奪甘食，易老云大寒之劑。</p>
<p><u>桂</u>　味辛。性熱，有毒。浮也，陽中之陽也。氣之薄者，桂枝也；氣之厚者，肉桂也。氣薄則發泄，桂枝上行而發表；氣厚則發熱，肉桂下行而補腎，此天地親上親下之道也。</p>
<p><u>細辛</u>　味辛。性溫，無毒。升也，陽也。其用有二：止少陰合病之首痛，散三陽數變之風邪。</p>
<p><u>梔子</u>　味苦。性大寒，無毒。沉也，陰也。其用有三，療心中懊憹顛倒而不得眠，治臍下血滯小例而不得利。易老去：輕飄而眾肺色，赤而象火，又能瀉肺中之火。</p>
<p><u>葛根</u>　味甘、平。性寒，無毒。可升可降，陽中之陰也。其用有四：發傷寒之表邪，止胃虛之消渴，解中酒之奇毒，治往來之溫瘧。</p>
<p><u>瓜蔞根</u>　味苦。性寒，無毒。沉也，陰也。其用有二：止渴退寒熱，補虛通月經。</p>
<p><u>豬苓</u>　味淡、甘、平。性溫，無毒。降也，陽中之陰也。其用有二：除濕腫體用兼備，利小水氣味俱長。</p>
<p><u>乾薑</u>　生則味辛，炮則味苦。可升可降，陽也。其用有二：生則逐寒邪而發表，炮則除胃冷而守中。</p>
<p><u>草龍膽</u>　味苦。性寒，無毒。沉也，陰也。其用有二：退肝經之邪熱，除下焦之濕腫。</p>
<p><u>蘇木</u>　味苦、咸、平。性寒，無毒。可升可降，陰也。其用有二。破瘡瘍死血，非此無功；除產後敗血，有此立驗。</p>
<p><u>杜仲</u>　味辛、甘平。性溫，無毒。降也，陽也。其用有二：強志壯筋骨，滋腎止腰疼。酥炙去其絲，功效如神應。</p>
<p><u>天門冬</u>　味苦、平。性大寒，無毒。升也，陰也。其用有二：保肺氣不被熱擾，定喘促陡得康寧。</p>
<p><u>麥門冬</u>　味苦、平。性寒，無毒。降也，陽中之陰也。其用有四：退肺中隱伏之火，生肺中不足之金，止燥渴陰得其養，補虛勞熱不能侵。</p>
<p><u>木通</u>　味甘、平。性寒，無毒。降也，陽中之陰也。其用有二：瀉小腸火積而不散，利小便熱閉而不通。瀉小腸火，無他藥可比；利小便閉，與琥珀同功。</p>
<p><u>地骨皮</u>　味苦、平。性寒，無毒。升也，陰也。其用有二：療在表無定之風邪，主傳屍有汗之骨蒸。</p>
<p><u>桑白皮</u>　味甘。性寒，無毒。可升可降，陽中之陰也。其用有二：益元氣不足而補中虛，瀉肺氣有餘而止咳嗽。</p>
<p><u>甘菊花</u>　味苦、甘、平。性微寒，無毒。可升可降，陰中之陽也。其用有二，散八風上注之頭眩，止兩目欲脫之淚出。</p>
<p><u>紅花</u>　味辛。性溫，無毒。陽也，其用有四：逐腹中惡血，而補血虛之血；除產後敗血，而止血暈之暈。</p>
<p><u>赤石脂</u>　味甘、酸。性溫，無毒。降也，陽中之陰也。其用有二：固腸胃有收斂之能，下胎衣無推蕩之峻。</p>
<p><u>通草</u>　味甘、平。性微寒，無毒。降也，陽中之陰也。其用有二：陰竅澀而不利，水腫閉而不行。澀閉兩俱立驗，因有通草之名。</p>
<p><u>烏梅</u>　味酸、平。性溫，無毒。可升可降，陰也。其用有二：收肺氣，除煩止渴；主泄痢，調胃和中。</p>
<p><u>川椒</u>　味辛。大熱，有毒。浮也，陽中之陽也。其用有二：用之於上，退兩目之臀膜；用之於下，除六腑之沉寒。</p>
<p><u>萎蕤</u>　味甘、平。性溫，無毒。降也，陽中之陰也。其用有四：風淫四末不用，淚出兩目皆爛，男子濕注腰疼，女子面注黑䵟，皆能療治。</p>
<p><u>秦皮</u>　味苦。性寒，無毒。沉也，陰也。其用有四：風寒邪合濕成痹，青白色幻翳遮晴。女子崩中帶下，小兒風熱癇驚。</p>
<p><u>白頭翁</u>　味苦。性溫，無毒。可升可降，陰中之陽也。其用有四：敷男子陰疝偏腫，治小兒頭禿膻腥。鼻衄血無此不效，痢赤毒有此獲功。</p>
<p><u>牡蠣</u>　味鹹、平。性寒，無毒。可升可降，陰也。其用有四：男子夢寐遺精，女子赤白崩中，榮衛往來虛熱，便滑大小腸同。</p>
<p><u>乾漆</u>　味辛、平。性溫，有毒。降也，陽中之陰也。其用有二：削年深堅結之沉積，破日久秘結之瘀血。</p>
<p><u>南星</u>　味甘、辛。性溫，有毒。可升可降，陰中之陽也。其用有二：墜中風不省之痰毒，主破傷如屍之身強。</p>
<p><u>商陸</u>　味酸、辛、平。性寒，有毒。降也，陽中之陰也。其味酸辛，其形類人；其用療水，其效如神。</p>
<p><u>葶藶</u>　味苦。性寒，無毒。沉也，陰中之陰也。其用有四：除遍身之浮腫，逐膀胱之留熱，定肺氣之喘促，療積飲之痰厥。</p>
<p><u>海藻</u>　味苦、咸。性寒，無毒。沉也，陰中之陰也。其用有二：利水道，通閉結之便；泄水氣，消遍身之腫。</p>
<p><u>竹葉</u>　味苦、辛、平。性寒，無毒。可升可降，陽中之陰也。其用有二：除新舊風邪之煩熱，止喘促氣勝之上衝。</p>
<p><u>蔥白</u>　味辛。性溫，無毒。升也，陽也。其用有二：散傷風陽明頭痛之邪，止傷寒陽明下利之苦。</p>
<p><u>天麻</u>　味辛、平。性溫，無毒。降也，陽也。其用有四：療大人風熱頭眩，治小兒風癇驚悸，卻諸風麻痹不仁，主癱瘓語言不遂。</p>
<p><u>大棗</u>　味甘。性溫，無毒。降也，陽也。其用有二：助脈強神，大和脾胃。</p>
<p><u>葳靈仙</u>　味苦。性溫，無毒。可升可降，陰中之陽也。其用有四：推腹中新舊之滯，消胸中痰唾之痞，散苛𤸜皮膚之風，利冷疼腰膝之氣。</p>
<p><u>鼠黏子</u>　味辛、平，性微寒，無毒。降也，陽也。其用有四：主風濕癮疹盈肌，退風熱咽喉不利，散諸種瘡瘍之毒，利凝滯腰膝之氣。</p>
<p><u>草豆蔻</u>　味辛。性寒，無毒。浮也，陽也。其用有二：去脾胃積滯之寒邪，止心腹新舊之疼痛。</p>
<p><u>玄胡索</u>　味苦、辛。性溫，無毒。可升可降，陰中之陽也。其用有二：活精血，療產後之疾；調月水，主胎前之證。</p>

<h2>用藥法象</h2>
<p>天有陰陽，風寒暑濕燥火，三陰三陽上奉之。溫涼寒熱，四氣是也。溫熱者，天之陽也；寒涼者，天之陰也。此乃天之陰陽也。</p>
<p>地有陰陽，金木水火土，生長化收藏，下應之。辛甘淡酸苦鹹，五味是也。辛甘淡者，地之陽也；酸苦鹹者，地之陰也。此乃地之陰陽也。</p>
<p>陰中有陽，陽中有陰。</p>
<p>平旦至日中，天之陽，陽中之陽也；</p>
<p>日中至黃昏，天之陽，陽中之陰也。</p>
<p>合夜至雞鳴，天之陰，陰中之陰也；</p>
<p>雞鳴至平旦，天之陰，陰中之陽也。</p>
<p>故人亦應之。人身之陰陽，外為陽，內為陰；背為陽，腹為陰；臟為陽，腑為陰；心、肝、脾、肺、腎五臟為陰，膽、胃、大腸、小腸、膀胱、三焦六腑為陽。所以知陽中之陰，陰中之陽者，何也？如冬病在陰，夏病在陽，春病在陰，秋病在陽，知其所在，則施針藥也。</p>
<p>背為陽，陽中之陽，心也。背為陽，陽中之陰，肺也。腹為陰，陰中之陰，腎也。腹為陰，陰中之陰，脾也。</p>
<p>此皆陰陽表裡、內外雌雄相輸應也。</p>

<h2>四時用藥法</h2>
<p>不問所病或溫、或涼、或熱、或寒，如春時有疾，於所用藥內加清涼風藥；夏月有疾，加大寒之藥；秋月有疾，加溫氣藥；冬月有疾，加大熱藥，是不絕生化之源也。錢仲陽治小兒深得此理。《內經》曰：必先歲氣，無伐天和，是為至治。又曰：無違時，無伐化。又曰：無伐生生之氣。此皆常道用藥之法。若反其常道而變生異證矣，則當從權施治。</p>

<h2>用藥九散</h2>
<p>仲景云：銼如麻豆大與㕮咀同，取清汁循其經絡。故治至高之病加酒以煎，去濕加生薑，補元氣以大棗，發散風邪、寒邪以蔥白。膈上痰以細末者，不循經絡，止去脾胃上痰及臟腑之疾。氣味厚者，白湯調服；氣味薄者，煎以和滓服。去下部之疾者，其丸極大而光；中焦之疾者，次之；上焦者，極小。稠麵糊，取之遲化，直至下焦，或酒，或醋，取其收散之意也。犯半夏、南星，或欲去濕者，以生薑汁、稀麵糊，取其易化。水浸宿蒸餅為丸及滴水為丸者，又易化也。煉蜜為丸者，取遲化而氣循經絡也。蠟丸者，取其遲化而旋旋施功矣。大抵湯者蕩也，去久病用之；散者散也，去急病用之；丸者緩也，徐緩而治之也。</p>

<h2>用藥身根梢法</h2>
<p>凡根之在土者，中半已上氣脈上行，以生苗者為根；中半已下者，氣脈下行，入土以為梢。病在中焦、上焦者用根，下焦者用梢，則根升而梢降也。</p>

<h1>下卷</h1>

<h2>玉石部</h2>
<p>藥能治病，醫乃傳方。當明藥品貴賤良毒之異，須嘗氣味酸鹹苦辣辛甘。</p>
<p>切以金、銀、珠玉之貴，白堊、石灰之賤。藥性之良則丹砂、鍾乳，氣毒則信石、硇砂。至於五味，酸入腎，苦入心，辛入肺，甘入脾，辣則有溫、涼、寒、熱之異。</p>
<p>功力有急緩，性職有溫涼。</p>
<p>且如朴硝之性急，若煎作芒硝，性乃緩慢矣。</p>
<p>本草之作，肇始炎皇。</p>
<p>肇始也，炎皇、神農氏也。本草之為書，由神農嘗百草，二日而七十毒，始與醫藥相救，謂之本草。</p>
<p>未言草木之品彙，且提玉石之紀綱。</p>
<p>仿《本草圖經》以玉石部為先，而草木之品次之。</p>
<p>金屑、玉屑、辰砂、石床，能驅邪而逼鬼祟，可定魄而制癲狂，止渴除煩，安鎮靈臺，明眼目。</p>
<p>金屑，味辛、平。有毒。處處有之。梁益寧州最多出。水砂中得屑，謂之生金。若不煉服之，殺人。玉屑，味甘、平。無毒。生藍田。丹砂，一名硃砂。味甘，微寒，無毒。惟辰州者最勝，故謂之辰砂。生深山石崖間。穴地數十尺，始見其苗，乃白石耳，謂之硃砂。床即石床也，砂生石床上。亦有淘土石中得之，非生於石者。又按本草，石床自有本條。味甘，溫，無毒。謂鍾乳水下凝積，生如筍狀，漸長，久與上乳相接為柱，出鍾乳堂中，謂之石床。人心謂之靈臺。金屑、玉屑、辰砂、石床四品之性，主治相同，皆可依《圖經》法煉服，食則延年不老。</p>
<p>生銀屑，鎮驚安五臟。鍾乳粉，補虛而助陽。</p>
<p>銀屑，味辛、平。有毒。生銀屑當取見成銀薄以水銀銷之為泥，合硝石及鹽研為</p>
<p>粉，燒出水銀，淘去鹽石，為粉極細用。石鐘乳，味甘。溫，無毒。道州者最佳。須煉服之，不然使人病淋。治咳嗽，行乳</p>
<p>道，補髓添精，強陰道，益肺家。</p>
<p>代赭石，能墮胎而可攻崩漏。伏龍肝，治產難而吐血尤良。</p>
<p>代赭石，用火煅、醋淬七遍，研水飛。味甘、寒。無毒，出代州。其色赤，故名代赭石。養血氣，強精，辟邪。畏天雄、附子。伏龍肝，灶中土也。味辛。微溫，微毒。消癰腫，催生下胞，止血崩。</p>
<p>雲母，補勞傷兼明目。水銀，除疥蟲與瘡瘍。</p>
<p>雲母石，味甘、平。無毒。安五臟，堅肌止痢。《局方》有法煎雲母膏，專治癰疽惡毒等瘡。水銀即朱。朱液能消化金銀，使成泥。味辛。寒，有毒，一名汞。</p>
<p>畏磁石。難產可用催生。</p>
<p>治風喉，理鼻息，功全礬石；止漏下，破癥結，用禹餘糧。</p>
<p>礬石，味酸。寒，無毒。出晉州者佳。化痰止痢，攻陰蝕諸瘡漏。煉過謂之枯礬，亦可生用。禹餘糧，用火煉、醋淬七次，搗細，水飛。味甘。寒平，無毒。出潞州。形如鵝鴨卵，外有殼重疊者，是其中有黃。細末如蒲黃者，謂之石中黃。</p>
<p>朴硝開積聚，化停痰，煎作芒硝功卻緩；硝石止躁煩，除熱毒，煉之須掃地邊霜。</p>
<p>朴硝，味苦、辛。大寒，無毒。生益州。初採掃得，一煎而成，故曰朴硝。再取朴硝淋汁煉之，有細芒者，謂之芒硝。專治傷寒。硝石，味辛、苦。寒，無毒。即掃地霜淋汁煉成者。</p>
<p>打破瞳人，得空青而依然復舊，胎宮乏孕，紫石英再弄之璋。</p>
<p>空青，味甘、酸。寒，無毒。生於有銅處。銅精氣熏則生。今信州時有之。其腹中空，破之有漿者，絕難得。大者如雞子，小者如豆子，治眼翳醫障為最要。又有曾青同出處，色理亦無異，但其形累累色未相似，其中則不空，與空青功效不相上下。紫石英，味辛。溫，無毒。專治女子風寒在子宮，絕孕，十年無子服之。白石英治風濕痹，安魂魄，強陰道，黃赤黑色皆不入藥。</p>
<p>熱渴急求寒水石，壯陽須索石硫黃。</p>
<p>寒水石，一名凝水石。味甘。寒，無毒。出汾州及邯鄲。即鹽之精也。治火燒、丹毒，能解巴豆毒。畏地榆。硫黃，味酸。溫，大熱，有毒。出廣州。治疥蟲䘌瘡，堅筋，療老人風秘。</p>
<p>腎臟既衰，煉磁石而強陽道；膀膀不利，炒食鹽以熨臍旁。</p>
<p>磁石，味辛、咸。寒，無毒。有鐵處則生。惡牡丹，畏黃石脂。能吸鐵。補益勞傷，兼治耳聾。食鹽，味鹹。溫，無毒。解州者勝。治霍亂，癖痰可用，吐之。</p>
<p>水銀飛煉成輕粉，殺諸疥癬，善治兒疳；石灰風化方為勝，不堪服食，可療金瘡。</p>
<p>輕粉即水銀。粉，味辛。冷，無毒。畏磁石，忌一切血。風化石灰，五月五日採百草搗汁調，煉過石灰末，作團陰乾。專治金瘡、刀斧傷處，不堪入藥。</p>
<p>石膏發汗解肌，去風寒熱；滑石除煩止渴，快利小腸。</p>
<p>石膏，味甘、辛。大寒，無毒。與方解石相類，須用細理雪白者為真。治頭痛，解肌發汗。黃色者服之使人淋。滑石，味甘寒，無毒。用白色軟嫩者佳。能益精除熱，療女人產難。</p>
<p>殺三蟲，破癥結，胡粉一名粉錫；斂金瘡，淘眼暗，銅青銅綠競無雙。</p>
<p>胡粉，一名粉錫，一名定粉，俗名光粉，即今化鉛所作婦人容面者。味辛、寒，無毒。銅青、銅綠，以醋沃銅上即生，乃銅之精華也。微有毒，不入藥湯。</p>
<p>吐痰抵痔蜜陀僧，兼抹點斑隨手沒；生肌止痛無名異，折傷可理並金傷。</p>
<p>蜜陀僧，即練銀爐底也。味酸、辛。有毒。無名異，味甘、平。無毒。金，謂刀斧所傷也。</p>
<p>硼砂攻喉痹，止嗽消痰真有理；膽礬除熱毒，諸癇痰氣盡消詳。</p>
<p>硼砂，一名蓬砂。味甘、辛。暖，無毒。出南番者色重褐，其味和，其效速。出西戎者，其色白，其味雜，其功緩，不堪入藥，作金銀銲藥用之。膽礬，《圖經》作石膽，味酸，辛。寒，有毒。信州有之。生於銅坑中，採得煎煉而成。消熱毒，療諸風癱瘓，可吐風痰。</p>
<p>伏火靈砂，闢鬼邪，安魂魄，明目鎮心通血脈；藏泥白堊，除泄痢，破癥瘕，澀精止漏又為良。</p>
<p>靈砂，一名二氣砂，用水銀一兩，硫黃六銖，研細二味，先同炒作青砂色後，入水火既濟爐中，抽之如束針紋者成就也。惡磁石，畏酸水。白堊即白善土，味苦、辛。溫，無毒。處處有之，採無時。</p>
<p>石燕治淋催難產，黑鉛安鎮熨蛇創。</p>
<p>石燕，產零陵州。形似蠟，其實石也。性涼，無毒。女人產難，兩手各握一枚，胎立出。黑鉛，味甘。無毒。有銀坑處皆有。粉錫、胡粉、光粉，皆化鉛所作。又鉛白霜，以鉛雜水銀煉作片，置醋甕中密封，經久成霜，謂之鉛白霜。性急於也，創傷也。</p>
<p>黃丹乃是熬鉛作，生肌止痛，礬石特生非常熱，養就丹房。</p>
<p>黃丹，《圖經》作鉛丹，又名號丹。用時炒令赤色，研細。味辛。微溫，無毒。止吐逆，發癲癇，敷金瘡良。礬石，俗呼鎮風石。味辛、甘。大熱，有毒。嚴寒置水中，令水不冰。性堅硬而拒火，燒之一日夜方解散。攻擊積聚痼冷之病最良，須真者，必取鶴巢中團卵而助暖氣者方真，乃修真煉丹之藥品。</p>
<p>血暈昏迷，法煉廣生花蕊石；折傷排膿，火煉醋淬自然銅。</p>
<p>花蕊石，出陝州閿鄉縣。性至堅硬，保金瘡止血。《局方》以硫黃合和花蕊石，如法煉成，專治產後血暈，去惡血。自然銅，味辛、平。無毒。出銅處有之。形方而大小不等，似銅，實石也。不從礦煉，自然而生，故曰自然銅也。</p>
<p>硇砂能破癥瘕積聚，若還生用爛心腸；信石會吐膈內風痰，倘中其毒促人亡。</p>
<p>硇砂，味鹹、苦。辛溫，有毒。能消五金八石，腐人腸胃，生服之化人心為血。信石，《圖經》名砒霜。信州者佳，故名信石。味苦、酸。有大毒。主諸瘧。風痰在胸膈可作吐藥用，不宜多服，能傷人命。若誤中硇砂、砒霜二毒，急宜冷水研綠豆汁飲之可解。</p>
<p>梁上塵，消軟癤，通喉噎，橫生立產；井泉石，性寒涼，攻火熱，除翳神方。</p>
<p>梁上塵，一名烏龍尾。性微寒。無毒。凡使，須去煙火。遠高堂、佛殿上者，拂下篩過用。井泉石，性大寒。無毒。處處有之，以饒陽郡者為勝。得菊花、梔子最良。</p>
<p>疔痼冷，止頭疼，無遺太陰玄精石；安心志，制癲狂，誰知鐵粉和鐵漿。</p>
<p>玄精石，出解州解縣，今解池積鹽倉中，亦有之。其色青白，龜背者良。味鹹。溫，無毒。鐵，味甘。無毒。取鐵浸之，經久色青沫出可染皂者為鐵漿，治癲狂；鐵拍作片段，置醋糟中，積久生衣刮取者為胤鐵粉，安心志。</p>
<p>雄黃能殺虺蛇毒，妊娠佩帶轉生男子。煉之，久服，自身輕。要生女子，佩帶雌黃。</p>
<p>雄黃、雌黃，同山所生。山向陽處生雄黃，山陰有金處金精熏則生雌黃。婦人覺有孕，以雄黃一兩絳囊盛帶之，可轉女為男；以雌黃半兩素囊盛帶之，則轉男為女。雌黃煉服久則輕身，可入仙家。</p>
<p>備金石之品味，治病得以推詳。</p>

<h2>草部上</h2>
<p>觀夫天生庶民，地生百草，人生不無札瘥之常，以致病於壽夭。草有治病之功，用何花苗實腦。</p>
<p>蒸眾也，實子腦根。</p>
<p>菖蒲，開心明耳目，去濕痹風寒；菊花，消散濕痹風，主頭眩痛攪。</p>
<p>菖蒲，一名昌陽。須用生石磧上一寸九節者良。味辛。溫，無毒。菊花，味苦、甘，平，無毒。主胸中煩熱，明目聰耳。</p>
<p>治渴補虛安五臟，快覓人參；溫中解毒性平和，無如國老。</p>
<p>人參，一曰人葠，味甘。微寒，微溫，無毒。反藜蘆。甘草，味甘平。無毒。主解百毒，為眾藥之王，故號國老。反大戟、芫花。</p>
<p>白朮益脾，止瀉嘔，若動氣不宜；蒼朮平胃，壓山嵐，用米泔浸炒。</p>
<p>白朮，味甘、辛。無毒。主風寒濕痹，益脾胃，補虛勞，消腫。傷寒有動氣者不宜服。蒼朮用米泔浸一宿，換泔浸，炒乾去　皮。味苦、甘、辛。無毒。治傷寒痹痛，溫瘧可發散。</p>
<p>生地黃，能行血兼止吐衄折傷；熟地黃，能補血重治虛勞焦躁。</p>
<p>生地黃大寒，亦治產後血攻心及女人經水閉絕。熟地黃，淨洗酒浸，蒸三、兩次，焙乾。味甘、溫。無毒。熟乾則溫補，生干則平宣。熟者止崩漏，安魂魄，治驚悸，補內傷。</p>
<p>天門冬鎮心，止吐血衄血，性冷而能補大虛；麥門冬解渴，開結益心腸，勞熱可除煩可保。</p>
<p>天門冬，味苦、甘、平。大寒，無毒。悅人顏色。麥門冬，味甘、平。微寒，無毒。二味並抽去心，焙乾用。</p>
<p>地膚子、車前子，除熱去風明眼目，能令膀胱水穀分；菟絲子、巴戟天，添精補髓主延年，解去腰疼誠有效。</p>
<p>地膚子即落帚子。味苦。寒，無毒。車前子，味甘、咸。寒，無毒。能滑胎止瀉利。菟絲子，味辛、平。無毒。水洗，澄去砂土，酒浸一宿，蒸過，乘熱杵成膏。焙乾，再入藥，方可研成末。巴戟天，須用連珠者，去心，酒浸焙乾。味辛、甘。微溫，無毒。除風，強力強筋，治夢與鬼交。</p>
<p>牛膝補虛攣膝痛，月經若閉亦能通；柴胡去熱治勞傷，主療傷寒功力到。</p>
<p>牛膝為君，味苦、酸、平。無毒。柴胡，味苦、平、辛。微寒，無毒。治濕痹拘攣，可用煎湯浴之。下氣，消痰、止嗽、傷寒為要藥。</p>
<p>草決明，瀉肝熱，明目驅風兼貼鼻洪；草龍膽，益肝虛，驚惕無憂疳蟲可掃。</p>
<p>草決明，味鹹、苦、甘、平。微寒，無毒。草龍膽，味苦。寒，無毒。益肝明目最治疸。</p>
<p>庵䕡子，性苦寒，風寒濕痹水氣皆寬；茵陳篙，性苦冷，時氣發黃淋難可導。</p>
<p>庵䕡，處處有之。味苦。微寒，無毒。久服輕身明目。茵陳蒿，味苦、平。微寒，無毒。治淋難，小便秘澀不通也。</p>
<p>遠志葉名小草，堪收夢裡遺精。黃精俗字山姜，久服延年不老。</p>
<p>遠志用去骨，以甘草湯浸煮，炒乾。味苦。溫，無毒。苗名小草，一似麻黃，但無節。能令生智慧，定心驚。黃精，俗字山姜。味甘、平。無毒。然與鉤吻相似，但一善一惡，要仔細辨認，切勿誤用。鉤吻則傷人至死，謂之鉤吻。</p>
<p>北五味，補虛下氣，止嗽強筋；南木香，止痢健脾，氣疼是寶。</p>
<p>五味子，味酸、甘、咸、苦、辛，故名五味。性溫，無毒。止渴消酒毒。木香，形如枯骨者佳，不見火。味辛。溫，無毒。去膀胱冷氣，除癥瘕，止瀉痢。</p>
<p>金瘡止血，王不留行是名剪金花；風疹赤丹，本草景天即是慎火草。</p>
<p>王不留行，味苦、平。無毒。可催生產，利月經。景天，味苦、酸、平。無毒。主勞煩大熱瘡，女人漏下用花良。</p>
<p>絡石，治癰瘡，消熱毒，苗似龍鱗；川芎，醫頭痛，主筋攣，形如雀腦。</p>
<p>絡石為君，即石鱗，又名龍鱗薛荔。味苦。溫，微寒，無毒。畏貝母、菖蒲。川芎，一名芎藭。明目，瘡家止痛。味辛。</p>
<p>溫，無毒。蘼蕪即其苗也。白芷為之使。</p>
<p>金釵石斛，能使元陽壯，腰疼膝痛並皆驅；鬼臉升麻，用解百毒消，疹痘斑瘡寧可效。</p>
<p>石斛草，味苦、平。無毒。入腎，壯陽平胃氣。升麻，味苦，平。微寒，無毒。能解一切毒，除熱去風，為傷寒時氣之要也。</p>
<p>煙塵續斷，安胎產，療金瘡，逮不可遲；染絳茜根，理風寒，止吐血，須宜乎早。</p>
<p>續斷，味苦、辛。微溫，無毒。最能接骨，因名續斷。茜根，一作蒨，即今染絳，茜草根也。味苦。性微寒。解中蠱毒。</p>
<p>虺床、蛇床同一種，治風濕癢及陰瘡；羌活、獨活本來同，頭痛筋攣風氣撓。</p>
<p>虺床即蛇床，味苦、辛、甘平。無毒。羌活、獨活本同類，但紫色而節密者為羌活；黃色而作塊者為獨活。味苦、甘、平。微溫，無毒。</p>
<p>細辛、薯蕷，能溫中下氣，仍主腦腰疼；薏苡、萎蕤，治痹弱筋攣，並風濕之悼。</p>
<p>細辛，味辛。溫，無毒。主拘攣風痹，明目破痿，治婦人血閉。薯蕷，俗名山藥。味甘、溫、平。無毒。補心氣不足，鎮心神。薏苡仁，味甘。寒，無毒。主肺氣、肺癰。萎蕤，葉似黃精，味甘平。無毒。切勿誤用鉤吻則傷人。</p>
<p>止渴補虛收盜汗，黃耆奏不小之功；消癰散腫有高能，忍冬是至賤之草。</p>
<p>黃耆，味甘。微溫，無毒。主虛勞，強筋，治耳聾，止痛排膿。忍冬草，即鷺鷥藤，又名金銀花。其蔓左纏亦名左纏藤。味甘。溫，無毒。今處處有之。</p>
<p>澤瀉會除諸般瀉，弭渴疏淋；防風主治一切風，仍蠲頭痛。</p>
<p>澤瀉，味甘、咸、寒。無毒。止泄精，逐膀胱水，多服令人眼病。防風，味甘、辛。溫，無毒，能解附子毒，明目止汗療崩。</p>
<p>蒺藜，陰痛煎湯，頭痛酒煎。蒲黃，行血用生，止血用炒。</p>
<p>蒺藜，味甘、辛。溫，微寒，無毒。破血催生，若風瘡陰瘡煎湯作浴，頭痛煎酒服。蒲黃，味甘、平。無毒。生則味滑，炒熟則味澀。</p>
<p>蓯蓉，扶女子陰絕，與男子陽絕，補陰養腎，生自馬精；黃連，理丈夫諸熱，劫小兒疳熱，止痢厚腸，貴稱鷹爪。</p>
<p>肉蓯蓉，味甘、酸、咸。微溫，無毒。言是馬精落地所生。生時似肉，作羹補虛最佳。黃連，味苦。寒，無毒。點眼可除熱，更治消中、口瘡良。</p>
<p>漏蘆，行乳汁，消瘰癧腸風；丹參，補胎氣，利月經可吉。</p>
<p>漏蘆，味苦、咸。寒無毒。醫瘡瘍療眼，理損傷續筋骨。丹參，味苦。微寒，無毒。除積聚，破癥瘕，益氣去煩滿。一名赤參。</p>
<p>更分佐使君臣，是曰神聖功巧。</p>
<p>望而知之謂神，聞而知之謂聖，問而知之謂功，切而知之謂巧。察而知之，是為醫家之四知。</p>

<h2>草部中</h2>
<p>抑又聞芍藥苦平，赤者破血通經，而白者可安胎止痛；辛姜大熱，生則嘔家聖藥，而乾者除霍亂心疼。</p>
<p>芍藥為臣，味苦、酸、平。微寒，有小毒。惡石斛、芒硝，畏硝石，反藜蘆。芍有赤、白二種。白者補虛止汗，赤者除熱明目。姜為使，有生用，有乾用。乾者味辛溫，大熱無毒。溫中止血，逐痹風濕。生者味辛微溫，無毒，處處有之。用熱即去皮用，冷即留皮發散。傷寒下氣，嘔家最為聖藥。</p>
<p>葛根止渴解醉，發散傷寒消熱毒；瞿麥開通關格，宣癃墮子更催生。</p>
<p>葛根，味甘、寒。無毒。瞿麥只用實，殼不用。莖葉味苦寒，無毒。</p>
<p>栝樓曰天瓜實，治乳癰，根可止渴；蒼耳即葈耳子，能明目，葉解風纏。</p>
<p>栝樓根名天花粉，味苦。寒，無毒。即瓜蔞。蒼耳味甘，溫，有小毒。今處處有之。主攣痹濕風寒。</p>
<p>玄參攻喉痛，苦參攻腸風，並可消痹，破癥結；貝母人面瘡，知母潤心肺，皆能止嗽理傷寒。</p>
<p>玄參即山麻，苦、咸。微寒，無毒。今處處有之。除風熱，明眼目。苦參，味苦。寒，無毒。殺疳蟲，治瘡腫。貝母，味辛、苦、平。微寒，無毒。專治腿膝生人面瘡。知母，味苦。寒，無毒。除熱止渴。</p>
<p>白薇本消淋露，更治風狂，併除溫瘧。白芷能除血崩，專攻頭痛，排膿瘡邊。</p>
<p>白薇，味苦、咸、平。大寒，無毒。如蔥管者佳。白芷，味辛。溫，無毒。專治蛇咬。白芷末摻咬處，或搗白芷汁浸傷處。</p>
<p>當歸主補血虛勞，止血用頭，破血用尾；麻黃髮散攻頭痛，發汗用莖，止汗用根。</p>
<p>當歸酒浸焙，味苦、辛。溫無毒。麻黃味苦、溫，無毒。</p>
<p>大薊功同小薊，治癰腫血崩吐衄；小青不如大青，療傷寒熱毒時行。</p>
<p>大薊、小薊，味苦溫，今處處有之。大青、小青，味苦，大寒，無毒，處處有之。古方只用大青。</p>
<p>京三稜、蓬莪朮，破血消癥，寧心脾腹痛；白豆蔻、蓽澄茄，溫脾健胃，能消食寬膨。</p>
<p>三稜味苦、平。無毒。莪朮又曰莪茂，味苦、平。溫，無毒。白豆蔻，味辛，大溫。</p>
<p>蓽澄茄，味辛。溫，無毒。</p>
<p>鬱金勝似薑黃，行經下氣；川芎貴乎藁本，頭痛皆痊。</p>
<p>鬱金須用蜀中者，如蟬肚者佳。味苦、辛。寒，無毒，薑黃說在下文。川芎解見在草上部，芎藭下。藁本，俗曰土芎，味辛。微溫，寒，無毒。主風入四肢，畏青葙子。</p>
<p>前胡、柴胡，功無優劣，通醫熱病，主療傷寒。</p>
<p>前胡，味苦。微寒，無毒。下氣消痰，推陳致新，安胎止嗽。柴胡見本草上部。</p>
<p>薑黃烈似鬱金功，下氣消癰，通經破血；蓽撥味如良薑辣，轉筋霍亂，心疼連巔（巔即頭頂也）。</p>
<p>薑黃，處處有之。味辛、苦。大寒，無毒。鬱金解見前。蓽撥，味辛。大溫，無毒。溫中下氣。高良薑，味辛，溫，大熱，無毒。</p>
<p>剪草入疥瘡之藥，王瓜導乳汁之泉。</p>
<p>剪草，味苦、平，無毒。婺州產者最良。根名白藥，治金瘡。古方以剪草末蜜和，九蒸曬成膏，可醫一切失血。王瓜，一名土瓜，一名落鴉瓜。結子如彈丸，生青，熟赤色，可啖。閩人俗謂之毛桃。其根止渴散癰除疸，消癥下血。</p>
<p>通草原來即木通，治淋退疽。蠡實一名馬藺子，去濕醫崩。</p>
<p>通草，味辛、甘、平。無毒。除寒熱，出音聲，治耳聾。馬藺子，味苦、平。溫，無毒。去風寒濕痹，除胃熱喉痹。</p>
<p>百合寧心，可除咳痰有血；秦艽治疸，時行勞熱猶能。</p>
<p>百合，味甘、平。無毒。除熱咳，攻發背瘡癰，消脹，利大小便。秦艽，味苦平。微溫，無毒。消浮腫，利小便。</p>
<p>黃芩解熱通淋，女子崩因熱者；紫菀化痰定喘，嗽而唾有紅涎。</p>
<p>黃芩，味苦、平。大寒，無毒。治黃疸，止痢，女子血崩本性熱者良，虛寒者不可用。紫菀茸，味苦、辛。溫，無毒。補虛止渴，安五臟，通結氣，掃胸中紅涎，痰中有血膿也。</p>
<p>澤蘭行損傷之血，紫草制痘疹之偏。</p>
<p>澤蘭，味苦、甘。微溫，無毒。消四肢浮腫，攻癰腫排膿。紫草，味苦。寒，無毒。通九竅，退腫通淋。</p>
<p>石韋透膀胱小便，防己治風熱拘攣。</p>
<p>石韋，味苦、甘、平。無毒。去熱除邪，用刷去毛，不然令人咳嗽不已。防已味辛、苦、平。溫，無毒。治水腫風腫，退產止嗽。</p>
<p>肉豆蔻，補脾治痢，猶調冷瀉；款冬花，洗肝明目，勞嗽宜遵。</p>
<p>肉豆蔻用麵裹炮熟。味辛。溫，無毒。解酒消食調中，兼治霍亂。款冬花，味辛、甘。溫，無毒。定喘消痰。</p>
<p>淫羊藿，即仙靈脾，補腎虛，與陽絕不起；補骨脂，名破故紙，扶腎冷，絕夢泄精殘。</p>
<p>淫羊藿，味辛。寒，無毒。主治冷風勞氣。補骨脂味辛。大溫，無毒。主血氣勞傷。</p>
<p>禁驚熱，殺疳蟲，蘆薈俗呼為象膽；解風纏，宣痘毒，牛蒡原來號鼠黏。</p>
<p>蘆薈味苦。寒無毒。以其味苦名象膽。主癲癇瘡痔。牛蒡名惡實，又名鼠黏。明目消瘡毒，手足筋攣。味辛平。處處有之。</p>
<p>海藻海帶一般，疝氣癭瘤同有效；水萍雖分三種，熱風癮疹並權衡。</p>
<p>海藻，洗去鹹味，焙乾用。味苦、咸。寒，無毒。水萍有三種，止渴，治火瘡，通小便，消水氣。味辛、咸。寒，無毒。</p>
<p>艾葉可生可熟，漏血安胎嘔吐衄紅還可止；阿魏有真有假，殺蟲破積傳屍亦可保天年。</p>
<p>艾葉處處有之。味苦。溫，無毒。生者治下痢，止嘔血取汁用之。熟者治漏血，可為丸，灸百病。阿魏，味辛、平。無毒。難得真者，氣極臭而能止臭氣。</p>
<p>敗醬婦人產後用，酸漿催產易為生。</p>
<p>敗醬，味苦、咸、平。無毒。因作敗腐豆漿氣故名。敗醬，陳良甫作《婦人良方》說是苦薺菜。仲景方治腸癰。酸漿味酸，平。寒，無毒。今處處有之，即酸漿草也。主熱除煩，通淋止崩。產難、胎不下者，若吞其實即生。</p>
<p>茴香治霍亂轉筋，更通腎氣；昆布消癭瘤結硬，水腫為先。</p>
<p>茴香一名懷香子，味辛、平。無毒。開胃調中得酒良。昆布，味成、酸。性冷、寒，無毒。與海藻同科，治癭瘤。</p>
<p>百部除肺熱久年勞嗽，天麻逐諸風濕痹拘攣。</p>
<p>百部，味苦。微寒，無毒。治疥癬去風。天麻味辛、平。無毒。益氣強筋。苗名赤箭。</p>
<p>牡丹可行經下血，地榆止血痢宜然。</p>
<p>牡丹，味辛、苦。寒，無毒。止痛除邪氣，療驚癇中風，續筋補骨破癰膿。地榆，味苦、甘、酸。微寒，無毒。惡麥門冬。止痛排膿，治金瘡女人帶下良。</p>
<p>香附、縮砂，消食化氣，暖胃溫脾，皆婦人要藥；狗脊、萆薢，扶老補虛，腰疼腳弱，與濕痹牽纏。</p>
<p>香附子即莎草根，味甘。微寒，無毒。處處有之。縮砂，去皮取仁用，味辛。溫，無毒。止瀉痢，炒過除妊婦腹痛。狗脊，味苦、甘平。微溫，無毒。萆薢須用川者，味苦、甘、平。無毒。</p>
<p>紅花本能行血，白鮮瘡疥利便。</p>
<p>紅花，本草作紅藍花，味辛。溫，無毒。主產後血暈、昏迷，可作胭脂，治小兒聤耳。白鮮皮，味苦、咸。寒，無毒。除疽通淋，主瘋癱，手足不舉，女人經水不通及陰痛。</p>
<p>風寒濕痹，腎冷與遺精，當知石龍芮；勞熱骨蒸，兼兒疳驚痢，須用胡黃連。</p>
<p>石龍芮，味苦、平。無毒。畏蛇退、茱萸。平胃氣，主關節不通。胡黃連，味苦、平。無毒。折斷起煙塵者是。</p>
<p>白茅花能止吐衄血，玄胡索可截腹心疼。</p>
<p>白茅根，味甘。寒，無毒。處處有之。通血除煩渴，治淋利小便。花，止吐衄血。茅針搗敷金瘡良。玄胡索味辛。溫，無毒。治女人月水不下，行腎氣。</p>
<p>甘松青浴體令香，專辟惡氣；使君子乃醫蟲藥，疳瀉如仙。</p>
<p>甘松，味甘。溫，無毒。下氣，治心腹痛。使君子，用熱灰中和殼炮去皮殼，取肉用。味甘。溫，無毒。因郭使君用此故名之。</p>
<p>斯乃稱為中品，是藥性鉤玄。</p>

<h2>草部下</h2>
<p>因知性甘大熱，附子、烏雄可回陽而逐冷，祛風濕而建中。</p>
<p>附子，團圓平坐重一兩已上者佳。主心腹冷痛，攻咳逆，破癥結，墮胎止痢，除風寒濕痹，強陰道。烏頭與附子同種，以原種之母為烏頭。破積除寒濕及中風邪惡風，墮胎，攻腹痛，消積飲。天雄似附子但廣，身長三四寸許，有須，性烈一如烏、附。逐痹除風助陽。附子烏雄味並辛，甘溫太熱有毒。出三建，故名三建。</p>
<p>半夏，止吐去痰，有毒必須薑製；大黃，通腸滌熱，快駿因號將軍。</p>
<p>半夏，味辛、平。生微寒，熟溫，並有毒。五月夏至生，故名半夏。健脾止嘔去痰涎。熟令人下，生令人吐，須用須用合生姜和煎方制其毒。大黃，味苦。寒，無毒。黃芩為之使，無所畏。宣氣消癰，除結熱，通瘀血，蕩燥屎，推舊致新，性至快。</p>
<p>木賊青葙，開眼翳；羊蹄、鶴蝨，殺三蟲。</p>
<p>木賊，味甘、微苦。無毒。攻積塊、腸風、下痢，止女人赤白崩帶。青葙子，味苦。微寒，無毒。即白雞冠花子。主皮膚熱，瀉肝熱，去風除瘙癢，殺蟲。羊蹄，俗呼為禿菜根。味苦。寒，無毒。攻疥癬，治女人陰蝕、瘡痔，殺諸蟲。鶴蝨，味苦、平。有毒，即杴草。主蛔蟲咬心痛。</p>
<p>與甘草相刑，甘遂能消腫破癥，大戟通利水道，兼除蟲毒；與烏頭相反，白蘞治腸風癰腫，白及破癰疽，併合跟皸。</p>
<p>甘遂、大戟，味並苦、甘、寒。有毒。治病之功，不相上下，故並反甘草。白蘞與白及，味並苦、甘平。無毒。同反烏頭，療疾大同小異。</p>
<p>風攻皮膚羊躑躅，熱止嗽喘馬兜鈴。</p>
<p>羊躑躅，味辛。有毒。羊誤食其苗葉則躑躅而死，故名之。消蟲毒，攻諸痹賊風。馬兜鈴，味甘。寒，無毒。治肺熱咳嗽喘促，兼瘻瘡血痔。其根名土木香，又曰青木香，結子如鈴狀，故名兜鈴。</p>
<p>劉寄奴，破血行經，金瘡最妙；續隨子，消癥蕩滯，蟲毒尤攻。</p>
<p>劉寄奴，味苦，溫。治湯火傷及金瘡最妙。因劉裕小名寄奴，取此草以療金瘡，得劉裕名寄奴。續隨子即聯步，味辛。溫，有毒。最治蛇傷。</p>
<p>祛風逐痰白附子，刮磨腸垢白頭翁。</p>
<p>白附子，味甘、平。溫，無毒。能行藥勢，主心疼腹痛。白頭翁，處處有之，謂之老公須。根有白茸，故名之。仲景以此專治溫瘧，又治金瘡衄血。</p>
<p>何首烏，久服延年，可消瘡腫；骨碎補，折傷克效，及耳鳴聾。</p>
<p>首烏，味苦澀。微溫，無毒。昔有老人姓何，見藤夜交，遂採其根食之，白髮變黑，因此名之。骨碎補，味苦。溫，無毒。一名猴孫姜。根生綠樹上，能補骨碎折傷因名之。</p>
<p>瀉肺消痰，下水去浮葶藶子；通經散腫，開喉明目射干功。</p>
<p>葶藶子，味辛、苦。寒，無毒。處處有，好生道旁。有甜、苦二種。射干，味苦、平。微溫，無毒。一名烏扇，俗曰仙人掌。</p>
<p>常山吐涎截瘧，莨菪止搐欄風。</p>
<p>常山，味苦、辛。有毒。形如雞骨者良，苗名蜀漆。莨菪子，處處有之。味苦、辛。有毒。一名天仙子。雖云有毒，得甘草、升麻即解。</p>
<p>連翹，除心熱，破癭瘤，堪行月水；桔梗，瀉肺癰，清喉痛，止嗽寬胸。</p>
<p>連翹，味苦、平。無毒。分大、小二種。利小便，專治癰疽發背。桔梗，味辛、苦。微溫，有小毒。又有一種名苦梗，藥性相同。</p>
<p>海金砂，用日中收，攻傷寒熱病；殼精草，從田中採，破翳膜遮晴。</p>
<p>海金砂，俗名竹園菜，處處有之。收金法以紙襯之，日中曬，以杖擊之其杖葉，自然有砂落紙上，旋收之。專利小便，得蓬砂、梔子、馬牙硝最良。穀精草，一名鼓槌革，又曰戴星草，生田中。味辛。溫，無毒。治咽喉痹，止齒痛。</p>
<p>紫河車，即蚤休，癰瘡至聖；商陸根，名樟柳，退腫之宗。</p>
<p>紫河車名金線重樓，味苦。微寒，無毒。</p>
<p>主治癲癇驚熱。商陸，味辛、酸、平。有毒。種分赤、白。白者，消水腫，根如人形者有神。赤者不入藥。</p>
<p>藜蘆為瘡疥之藥，貫眾殺寸白諸蟲。</p>
<p>藜蘆，味辛、甘。寒，有毒。俗名山棕，反細辛、芍藥。可吐風痰，不入藥湯，專主疥蝨瘡瘍。貫眾，味苦。微寒，有毒。治金瘡，破癥結，止鼻紅。</p>
<p>草蒿，一本作青蒿，滅骨蒸勞熱；旋覆花，草名金沸，鈍痰嗽之鋒</p>
<p>草蒿，味苦。寒，無毒。處處有之。根、苗子、葉，皆入藥，各自使用。用子勿用葉，用枝勿用根，四者若同用則成病。得童子小便浸之用良，亦可煎水洗瘡除疥風。旋覆花，味鹹、甘。溫，微冷。利痰，有小毒。通膀胱水去風濕，止嘔。</p>
<p>蓖麻子，善主催生，搗膏敷腳版；威靈仙，能消骨鯁，熬汁灌喉嚨。</p>
<p>蓖麻子，味甘、辛。有小毒。瘡癢研榨油搽敷，水癥研服良。威靈仙，味甘。溫，無毒。主宣氣去冷，消痰療折傷，治諸風。</p>
<p>馬鞭草能通月水不行，破癥瘕之癖；葫蘆巴好補元陽腎冷，蠲疝氣之癃。</p>
<p>馬鞭草，味甘、苦。寒，有小毒。其草穗類鞭梢，因名之，俗謂之鐵掃帚。治濕慝陰瘡。葫蘆巴，得茴香、桃仁同用，逐膀胱疝氣；得硫黃、附子同用，專補腎經。</p>
<p>萱草治淋，孕帶其花生男子；燈心去尿，燒灰善止夜啼童。</p>
<p>萱草，一名鹿蔥。味甘。性涼而無毒，處處有之。孕婦佩帶其花即生男子，因名宜男草。燈心處處有之，破傷處搗敷最良。</p>
<p>山豆根，療咽病頭瘡五痔；金沸草，治丹毒發背諸癰。</p>
<p>山豆根，味甘。寒，無毒。消腫毒，止熱咳。金星草，至冬時則背有黃星點成行。</p>
<p>味苦。寒，無毒。解硫黃毒。</p>
<p>狼毒驅九種心痛，狶薟掃除風濕痹。</p>
<p>狼毒，味辛、平。有大寒。陸而沉水者良。主咳逆，治蟲毒蟲疽瘰癧。狶薟即火炊草，味苦。寒，有小毒，頗似鶴蝨。昔有知州張泳，嘗經進此方治諸風。</p>
<p>夏枯草，最治頭瘡，瘰癧癭瘤同可覓；天南星，專能下氣，風痰腦痛止怔忡。</p>
<p>夏枯草，至夏即枯，故名之。味苦。寒，無毒。天南星，處處有之。味苦、辛。有毒。散血墮胎，消癰腫。</p>
<p>退腫消風牽牛子第一，諸瘡解毒山慈菇最良。</p>
<p>牽牛子，用炒過。味苦。寒有毒，處處有之。下氣通腸，利大小便，墮胎，專治腰疼腳痛。山慈菇，名兒燈檠，一名金燈花，瘡腫癰疽瘰癧消毒良。</p>
<p>仙茅伸風者之腳掌，補虛堅骨；苧根涼小兒之丹毒，安護胎宮。</p>
<p>仙茅，味辛。溫，無毒。治虛勞，逐冷氣，益陽堅骨，生長精神。苧根，補血安胎，止渴兼小兒丹毒。</p>
<p>茵芋理寒熱似瘧，屋遊斷齒衄之縱。</p>
<p>茵芋，味苦。溫，有毒。止心腹痛，通關節，主風寒濕痹。屋遊，即瓦上青苔。味苦。寒，無毒。逐膀胱水，止皮膚寒熱。</p>

<h2>木部</h2>
<p>豈不以勞傷須桂肉，斂汗用桂枝，俱可行經破癖，炒過免墮胎兒。</p>
<p>桂味甘、辛。大熱，有小毒。得人參、熟地黃、紫石英良，畏生蔥。</p>
<p>五痔腸風稱槐角，瘡瘍殺疥羨松枝。</p>
<p>槐角實，味酸鹹。寒，無毒。今處處有之。除熱氣，主火燒瘡；皮，灌漱風疳齒。松脂，味苦、甘。溫，無毒。處處有之。道家服餌，輕身延年。松實，味甘。溫，無毒。可供果品。葉與根白皮，味苦。溫，無毒。主辟穀不飢。松節，溫漬酒，治歷節風。</p>
<p>柏葉止衄吐崩帶，安臟鎮驚，去殼取仁於柏子；枸杞益陽明目，退虛勞寒熱，須用其根地骨皮。</p>
<p>柏葉，味苦。微溫，無毒。四時各依方面採，陰乾用。柏白皮，主火燒爛瘡。枸杞子，味苦。寒，根大寒，子微寒，無毒。處處有，惟泉州出者佳。</p>
<p>茯苓，有赤、白二種。赤者，通利小便，白者可補虛定悸。乾漆，有生、熟兩般。生則損人腸胃，炒熟通月水愆期。</p>
<p>茯苓，味甘、平。無毒。多年松根之氣熏所生。有赤、白二種，併除寒熱，止渴消痰。而赤者專主利小便，分水穀；白者專補虛定悸。乾漆，味辛。溫有毒。須炒熟用則無毒。去癥續骨，殺蟲，除心氣血痛。</p>
<p>茯神則健志收驚，開心益智；琥珀則鎮心定魄，淋病偏宜。</p>
<p>茯神即茯苓抱根所生者，用須去心中木。味甘、平。無毒。多益心脾主風虛。琥珀，味甘、平。無毒。是松脂入地中多年則化成。</p>
<p>職掌虛煩斂汗，必須酸棗；性行通利，消浮當用榆皮。</p>
<p>酸棗仁，味酸、平。無毒。安五臟，除風氣痹，能堅骨補中，寧心志。榆皮，味甘、平。無毒。性滑，通行大小便，消浮腫，治小兒白禿，下婦人胎元。</p>
<p>攻目赤，清頭風，堅齒輕身蔓荊子；斂金瘡，除腰痛，治風桑上寄生枝。</p>
<p>蔓荊子，味苦、辛。微寒，溫，無毒。通關竅，去寸白蟲，除筋骨中寒熱。桑寄生，一名寓木。味苦、甘、平。無毒。並治崩中，補內傷，胎前產後皆宜用。</p>
<p>瀉痢有功訶梨勒，同名訶子；頭眩鼻塞木筆花，乃是辛夷。</p>
<p>訶子，味苦。溫，無毒。開冒進食，消痰，治崩漏及腸風下血，兼主奔豚冷氣。辛夷，味辛。溫，無毒。處處有之，南人謂之迎春木。久服輕身柰老。二月開花，色白帶紫，花落無子，至夏復開花，初出如筆，故北人呼為木筆花。主頭眩鼻塞最良。</p>
<p>烏藥主寬膨順氣，沒藥主拆，跌金瘡，血氣相攻，諸疼共理：秦椒能明目通喉，蜀椒能澀精療癖，溫中下氣，風痹同醫。</p>
<p>烏藥，味辛。溫，無毒。處處有之，惟天台產者為勝，俗名旁箕。主心腹痛，補中益氣，攻翻胃，利小便。沒藥，味苦、平。無毒。按徐表《南州記》生波斯國，是彼處松脂也。破血止痛，為產後最宜，推陳致新，理內傷良。秦椒，味辛。溫，生溫，熟寒，有毒。攻腹痛，治風邪，溫中除痹，醋煎灌漱牙疼。蜀椒，去閉口者。味辛。溫，大熱，有毒。出成都。逐冷風。核名椒目，利水道。</p>
<p>牙痛乳癰求莽草，腸風崩帶索棕櫚。</p>
<p>莽草為臣，性有毒，味辛溫。善開喉痹，理諸瘡瘰癧。棕櫚性平，無毒。止痢養血，消鼻紅，用燒存性入藥。</p>
<p>巴豆破結宣腸，理心膨水脹；芫花消浮逐水，擊瘤痔當知。</p>
<p>巴豆，味辛。溫，生溫，熟寒，有毒。生巴郡，故名巴豆。性急通利，因名江子。用去皮、心、膜及油，然後用。畏大黃、黃連。芫花，味辛、苦，溫，有小毒。治咳逆喉鳴痰唾，腰腹心痛。</p>
<p>木鱉治瘡瘍腰痛有準，雷丸殺三蟲寸白無疑。</p>
<p>木鱉子生形似鱉，故名之，味甘。溫，無毒。治乳癰，肛門腫兼折傷。雷丸，味苦、咸。寒，有小毒。白者良，赤者有毒，能殺人。</p>
<p>養腎除風石南葉，漱牙洗目海桐皮。</p>
<p>石南葉，味辛、苦、平。有毒。利皮毛筋骨病。海桐皮，味苦、平。無毒。主痢，除疥蝨，治痹痛風。</p>
<p>牡荊子酒擂敷乳腫，郁李仁蕩浮腫四肢。</p>
<p>牡荊子，味苦。溫，無毒。即黃荊，今官司作笞杖行刑者，處處有之。主頭風目眩。郁李仁，味酸、平。無毒。俗名唐棣。通關格，去浮腫，根皮治齒痛風蛀。</p>
<p>密蒙花總皆眼科之要領，蘇方木專調產後之血迷。</p>
<p>密蒙花，味甘、平。微寒，無毒。蘇方木，味甘、鹹平。無毒。專能破血消癰及撲損。</p>
<p>楮實補虛明眼目，葉洗疹風，樹漿塗癬疥；竹皮刮下止嘔吐，葉解煩躁，燒瀝御風痰。</p>
<p>楮實，味甘。寒，無毒。主塗水腫及陰痿不起。竹皮多種，取皮止嘔吐者，南人呼為江南竹。味辛、平、甘。寒，無毒。肉薄，今人取作行瀝者，又謂之淡竹。其葉解煩除咳逆。今方中用淡竹葉又是一種，叢小葉柔，微有毛，其根生子如麥門冬。</p>
<p>樗白皮止痢斷疳，葉汁洗瘡除疥蝨；胡桐淚殺風牙蛀，膨脹滿吐堪施。</p>
<p>樗白皮與椿白皮性同良，但樗木臭，椿木香，味苦有毒。樗木根葉俱良，南北皆有之。兩木最為無異，俗呼作虎目樹。胡桐淚，味鹹。寒，無毒。形似黃礬，得水便消，如硝石也。</p>
<p>結胸散痞寬膨逐水調風宜枳殼；煩悶通淋解熱赤眸黃疸用山梔。</p>
<p>枳殼，以小緊實少穰者為枳實。味苦、酸。微寒，無毒。能攻痔痿消癥癖。山梔子，味苦。寒，無毒。生於山間者為山梔，人家園囿種時者為黃梔，形肥壯可染物用。方中用山梔，形緊小者入藥。</p>
<p>檳榔攻腳氣，殺三蟲，宣通臟腑；厚朴乃溫中，除霍亂，膨脹堪治。</p>
<p>檳榔，味辛，溫，無毒。生海南，向日曰檳榔，形尖如雞心者良；向陰曰大腹子，平坐如饅頭。檳榔下氣除風，宣利臟腑，攻逐水消痰破結。厚朴去粗皮，薑汁炒過，味苦，溫，無毒。須川中厚有紫油者佳。通經下氣厚腸胃，消穀食，安腹中長蟲。</p>
<p>豬苓消渴利漩，治傷寒中暑；龍腦清頭明目，主驚搐小兒。</p>
<p>豬苓，味甘、苦。平。無毒。生土底，皮黑作塊似豬糞，故名之。治咳瘧，消腫，利水，止遺精。龍腦，味辛、苦。微寒，一云溫平，無毒。其香透腦，攻耳聾，消風氣，通九竅，即梅花片腦。若服餌過多至一兩許，則身冷如醉，氣絕，而非中毒，益性寒故也。</p>
<p>明目涼肝解熱毋遺黃柏，磨癥下乳行經休缺紫葳。</p>
<p>黃柏，《圖經》名黃蘖，味苦。寒，無毒。除血痢，去黃疸，治癰瘡，祛脾胃熱，治女子熱崩。紫葳花，一名凌霄花，味鹹。微寒，無毒。處處有之。治風熱痛及癇證。</p>
<p>杜仲堅筋補損傷，兼主腎虛腰脊痛；衛茅殺鬼決經閉，陰人崩帶也能醫。</p>
<p>杜仲，味辛、甘、平。無毒。折斷如銀絲，用薑汁和，炒去絲用。除風冷，強心志。衛矛即鬼箭羽，味苦。寒，無毒。攻腹痛，破癥結。</p>
<p>癰腫癥瘤憑虎杖，殺蟲砥痔問蕪荑。</p>
<p>虎杖俗名班杖。根微溫，味甘、平。無毒。治傷損，消瘡毒。蕪荑，味辛、平。無毒。逐冷除心痛，兼治皮膚骨節風，殺疥蟲，治癬，攻腸風。</p>
<p>蕤仁搗膏，點眼科最除熱赤；皂莢為末，搐鼻嚏應釋妖迷。</p>
<p>蕤仁核，味甘。溫，微寒，無毒。通結氣鼻洪。皂莢，味辛、咸。溫，有小毒。亦有數種，長一尺半尺者，惟如豬牙者良。消痰除嗽，散腫痛，去頭風。</p>
<p>沒石子治痢生肌，染烏黑髭發；益智子澀精氣，止小便多遺。</p>
<p>沒石子即無食子，味苦。溫，無毒。出西番，用有竅者良。治陰瘡陰汗。益智子，味辛。溫，無毒。安神定志，故謂之益智。</p>
<p>川楝子號金鈴，冷氣膀胱能作主；五倍子名文塔，腸風五痔效端殊。</p>
<p>川楝子，味苦。寒，有小毒。今處處有之，但蜀川者為良。根皮最殺蛇蟲。五倍子，味酸、平。無毒。除齒䘌及瘡膿，亦可洗眼去風熱。</p>
<p>吳茱萸下氣消痰，提轉筋霍亂；山茱萸添精補腎，治風痹無疑。</p>
<p>吳茱萸，味辛。溫大熱，有小毒。今處處有之。除咳逆，逐邪風，主腳氣攻心。山茱萸，一名石棗，味酸、平。微溫，無毒。療耳聾，調女人月水。</p>
<p>桑白皮瀉肺補虛益氣，大腹皮通腸健胃開脾。</p>
<p>桑白皮，味甘。寒，無毒。即桑樹根皮。利水道，消浮腫，殺寸白蟲。大腹皮，即檳榔大腹子之皮。微溫，無毒。專下氣分冷熱，攻心痛。</p>
<p>金櫻子、冬青子，養精益腎，輕身調和五臟；蘇合香、安息香，辟惡去蟲，殺鬼蠱毒消除。</p>
<p>金櫻子，味酸、澀、平。無毒。採實搗汁熬膏，久服輕身柰老。冬青子又名女貞實。味苦、平。無毒。治病與金櫻子同功。蘇合香，味甘。溫，無毒。香油能辟惡除溫瘧，久服令人不生夢。安息香，味辛、苦、平。無毒。辟邪暖腎止遺泄。</p>
<p>秦皮洗眼磨昏，男子添精，婦人收帶下；黃藥通喉豁痹，蛇傷取效，醫馬是神樞。</p>
<p>秦皮，味苦。寒，無毒。治風寒濕痹。黃藥，味苦、平。無毒。治惡腫。</p>
<p>苦菜主頭疼，痢生腹痛同姜煎服；鉤藤蠲瘛瘲，兒生客忤勝禱神祗。</p>
<p>苦菜即茶茗，味甘、苦。微寒，無毒。除痰下氣，消宿食。鉤藤，味甘、平。微寒，無毒。其形如鉤，故得名。舒筋活血。</p>
<p>止痛生肌麒麟竭，舒筋展痹五加皮。</p>
<p>麒麟竭，一名血竭，味鹹、平。無毒。除血暈。五加皮，味辛、苦。溫，微寒，無毒。治風寒濕痹，止心痛，益精神通疝氣，治陰瘡。小兒幼小不能行，服之良。</p>
<p>丁香下氣溫中，能益脾止吐；沉香調中順氣，療痛絞心歧。</p>
<p>丁香，味辛。溫，無毒。散腫除風毒，更治齒痛風牙。沉香，味辛。溫，無毒。療腫，除風去水，止霍亂轉筋，壯元陽，辟惡氣。</p>
<p>檀香、藿香，止霍亂吐嘔，痛連心風；乳香、楓香，專消風止痛，瘡毒流離。</p>
<p>檀香，熱，無毒。消風腫腎氣攻心。藿香，味辛，微溫。去惡消腫，治吐逆。乳香，味辛。熱，微毒。辟惡除邪，補精益腎，治諸瘡攻血氣。楓香即白膠香，是楓脂也。治癮疹、風瘙齒痛，去虛浮水氣。味辛、平。微有毒。</p>
<p>竺黃理天吊，止驚風，更會清心明目；胡椒能下氣，逐風冷，兼除霍亂昏迷。</p>
<p>天竺黃，味甘。寒，無毒。生天竺國，故名。胡椒，味辛。微溫，無毒。去痰止痢，卒患心腹痛。</p>
<p>此木部之藥性，為後學之繩規。繩規為方圓之器也。</p>

<h2>人部</h2>
<p>看方猶看律，意在精詳；用藥如用兵，機毋輕發。草木之性既陳，人物尤宜立決。</p>
<p>律，法度也，齊之以刑。用藥猶將兵，謂醫者乃人之司命。</p>
<p>天靈蓋，最主傳屍，久病虛，熱蒸在骨。</p>
<p>天靈蓋，乃死人頂骨十字解者。此骨是天生天賜，蓋壓一身之骨節。陽人用陰，陰人用陽。味鹹、平。無毒。主傳屍、鬼疰人。</p>
<p>熱病及陽毒發狂，當求人糞汁；打撲損傷並新產，快索童男溺。</p>
<p>人糞汁，一名人中黃，性寒，無毒。專治天行大熱，勞氣骨蒸，燒末水調服。解諸毒，為末湯調。治熱病發狂，絞糞汁飲之。童男溺，童子小便也，女子者不宜用。主寒熱虛勞，頭疼濕氣。</p>
<p>乳汁有點眼之功，裩襠救陰陽之易。</p>
<p>婦人乳汁，味甘、平。無毒。能安五臟，</p>
<p>悅皮膚。昔張倉嘗服，享壽百餘歲。《衍義》云：乳汁治眼之功何多？蓋人心主血，肝臟血，肝受血則能視。婦人之血，上為乳汁，下為月水，用以治目，不亦宜乎？裩襠即裩之當陰處，割取方圓六七　寸許，燒為末用。男子病新差而婦人與之交，則男病陰易；女人病新差而男子與之交，則女病陽易，小腹絞痛，攣手足，目中生花，頭重不能舉，若不急治則死。男子病用婦人裩襠，女人病用男子裩襠，</p>
<p>以水調服。</p>
<p>調諸淋，破瘀血，亂髮原來即血餘；止唾衄，理肺痿，溺垢便是人中白。</p>
<p>血餘，乃常人亂髮燒灰，味苦。微溫，無毒。治癰疽及轉胞。人中白，即尿桶中澄底垢積之結白者，火上燒灰，最治緊唇及勞熱傳屍。</p>
<p>《圖經》、《衍義》無虛醫者，可知端的。</p>

<h2>禽獸部</h2>
<p>蓋言走者屬獸，飛者屬禽。</p>
<p>禽屬陽，身輕，故能飛而上；獸屬陰，身重，惟能走不能上飛。</p>
<p>鹿角，煎膠補瘦羸，又安胎止痛；麝香，辟邪而通竅，安客忤驚癇。</p>
<p>鹿角，味苦、辛。依法煎煉成膠及霜入藥用，止泄精遺尿。麝香，味辛。溫，無毒。攻風產墮胎，救產難。</p>
<p>定魄安魂牛黃，治風癇驚熱；生肌止汗龍骨，攻泄痢遺精。</p>
<p>牛黃，味苦、平。有小毒。除狂躁，治天行。龍骨，味甘、平。微寒，無毒。治女子崩，止小便遺瀝，療陰瘡。龍齒，鎮驚治顛癇。</p>
<p>牛乳補諸虛，益氣通腸須求羊酪；獺肝開熱脹，傳屍勞嗽有驗堪應。</p>
<p>牛乳，味微寒，性平無毒，止渴。獺肝為君，味辛。溫，有毒。凡人素有冷氣虛膨者，此二味皆不宜服。</p>
<p>象牙出肉中之刺，熊膽醫痔痢之靈。</p>
<p>象牙，味甘、平。無毒。生煮汁飲之利小便；燒末止遺尿；磨屑敷肉中刺。凡骨鯁者，磨水服即下，更祛勞熱止風癇。熊膽，味苦，寒，無毒，然難分真偽。取一粟許滴水中，一道如線不散者為真。治天行熱疸諸疳。惡防風、地黃。</p>
<p>羚羊角明目祛風，可保驚狂心錯亂；膃肭臍溫中補腎，何憂夢與鬼交情。</p>
<p>羚羊角，味鹹、苦。寒，無毒。可活胎易產，益氣安心，辟邪。膃肭臍，味鹹。性熱，無毒。主驚癇，消宿血，除痃癖氣。</p>
<p>阿膠止血安胎，兼除嗽利；犀角涼心解毒，殺鬼聞名。</p>
<p>阿膠，味苦、微溫，無毒。出阿縣城北，井水煮取。烏驢皮以阿井水煎成膠為真，須用一片鹿角同煎方成膠，不爾不成也。養肝虛勞極，止四肢痠疼。犀角，味苦、酸、咸。寒，無毒。驅風明目，除心熱狂言，又治時行疫癘。</p>
<p>鹿茸益氣補虛，男伐泄精，女徵崩漏；虎骨驅邪辟惡，男安風毒，女保胎驚。</p>
<p>鹿茸用茄形連頂骨者。味甘、酸。溫，無毒；一云味苦、辛。虎骨，性平，味辛。微熱，無毒。治惡瘡及風痹拘攣。</p>
<p>兔頭骨主頭疼，和髓燒灰，催產難；牛角腮治崩帶，燒灰入藥效如神。</p>
<p>兔頭骨，味甘、平。寒，無毒。治頭昏痛。兔骨治熱中消渴。肉不可多食，損人陽氣。孕婦食兔肉，生子缺唇。不可合雞肉，同生姜食。牛角腮，味苦、甘。無毒。消血閉便血，攻冷痢。</p>
<p>瓦雀，肉則益氣，卵則強陰，白丁香可潰癰療目；雄雞，烏者補中，赤者止血，黃䏶胵止遺尿難禁。</p>
<p>瓦雀肉，味甘。溫，無毒。雀糞直立者名白丁香。雄雞肉，微溫，無毒。烏者補中止痛；赤者止血治崩。諸雄雞膽，微寒。</p>
<p>主目不明；心主五邪；血主損傷；肪主耳聾；腸主小便數不禁；肝及左翅手，主陰痿不起；冠血能行乳汁。</p>
<p>蝙蝠經名伏翼，能開黑暗青瞑。</p>
<p>蝙蝠經名伏翼，味鹹。無毒。主淋，目昏，久服則忘憂。糞名夜明砂，可治疳。</p>
<p>藥是伐病之斤，醫乃人之司命。</p>

<h2>蟲魚部</h2>
<p>抑又聞蠢者為蟲，潛者為魚，堪行入藥，貴賤何拘。</p>
<p>蠢，動也；潛，澄藏也。</p>
<p>全蠍有毒須當去，能透耳聾，療諸風驚搐；斑貓熟炒不宜生，通淋墮孕，宣瘰癧之疵。</p>
<p>全蠍宜緊小者佳。味甘、辛。須去毒方可用。斑貓去足翅，以米同炒至米黃色，去米。生用即令人吐瀉。味辛。寒，有大毒。</p>
<p>消水氣，去癭瘤，無如海蛤；安心志，磨翳障，大喜珍珠。</p>
<p>海蛤，味苦、咸、平。無毒。治浮腫，除咳逆，定喘消煩。珍珠，味苦、咸、平。無毒。出廣州。主潤澤皮膚，悅人顏色，綿包塞耳可治聾。</p>
<p>水蛭吮癰疽，通經破血；田螺去目熱，反胃堪除。</p>
<p>水蛭即馬蝗蜞。生水中名水蛭；生草中名草蛭；生泥中名泥蛭，並能著人及牛馬股脛間咂血。用之當用水蛭小者佳。此物極難死，加火炙經年，得水猶可活。若用之，須火炒令黃極熟，不爾入人腹，生子為害。田螺，性大寒，無毒，不可多食。其肉敷熱瘡，殼主翻胃，汁能醒酒止渴，須用田中取者佳。</p>
<p>鼠婦通月閉，利便癃，仲景將來醫久瘧；䗪蟲破堅癥，磨血積，傷寒方內不曾無。</p>
<p>鼠婦，味酸。溫，無毒。生人家地上，處處有之。䗪蟲名土鱉，味鹹。寒，有毒。處處有之。</p>
<p>搜瘛瘲驚風，明目催生稱蛇蛻；正喎斜口眼，墮胎點翳捉衣魚。</p>
<p>蛇蛻，味鹹、苦、平。無毒。主纏喉風，攻頭瘡瘰癧。衣魚，味鹹。溫，無毒。今處處有之。衣中乃少，多在書卷中。小兒淋閉以摩臍及小腹即溺通，仍可摩瘡。</p>
<p>出箭頭入肉，醫附骨鼠瘻，蜣螂便是推車客；補打撲損傷，療兒疳昏眼，蝦蟆本草即蟾蜍。</p>
<p>蜣螂，味鹹。寒，有毒。療兒驚瘛風癇，臨用當炙過，勿置水中，令人吐，入藥去足翅。蝦蟆肉，味辛。寒，有毒。主邪氣堅瘕，惡瘡鼠癧。</p>
<p>殺伏屍鬼疰三蟲，地龍俗名蚯蚓；止風賊斜喎脫肛，蝸牛本是蛞蝓。</p>
<p>地龍，味苦。無毒。須用白頸者良。傷寒狂熱須咽汁，治痢消丹毒用糞。蝸牛俗名蜞螺，處處有之，生沙石垣籬下濕處。亦治背疽，用涎塗抹。</p>
<p>蠐螬點眼翳雜科，割金瘡出肉中刺；蛤蚧傳屍堪止嗽，兼補肺邪鬼咸驅。</p>
<p>蠐螬，味鹹甘。有毒。處處有之。以背行反快於腳，即諸朽木中蠹蟲，但潔白者佳。蛤蚧一名守宮，功力在尾，稍人捕之即自咬斷其尾，用以法取之。行常一雌一雄相隨，入藥亦當用雌雄相隨則良。</p>
<p>牡蠣固漏血遺精，補虛止汗；虹蟲破癥瘕血積，經閉通渠。</p>
<p>牡蠣，味鹹、平。微寒，無毒。主瘧疾寒熱，除驚恐。虻蟲，味苦。微寒，有毒，咂牛馬背血出。用炒，除足翅，方可入藥。</p>
<p>鰻鱺魚退勞熱骨蒸，殺蟲愈痔；石龍子除熱淋止血，蜥蜴殊途。</p>
<p>鰻鱺魚，味甘，有毒。處處有之。雖毒而能補五臟虛損，消項腮白駁風熱，肉薰蚊則滅。石龍子與蜥蜴、蝘蜒蠑螈守宮五種相形。</p>
<p>烏賊魚是海螵蛸，退翳殺蟲，治崩攻痢；鯪鯉為穿山甲，堪醫疥癬，鬼魅遭鋤。</p>
<p>烏賊魚骨，味鹹。微溫，無毒。療陰瘡，治耳聾。其血似墨，能吸波潠墨以混水，所以自衛。有八足聚生口旁，浮泛於水面。鳥見謂其必死，欲啄之，則聚足抱鳥拖入水中食之，故曰賊魚。穿山甲，性涼，有毒。主邪驚治痹。</p>
<p>勞熱骨蒸尊鱉甲，脫肛狐臭尚蜘蛛。</p>
<p>鱉甲，味鹹、平。無毒，處處有之。治崩療瘧，主癥瘕痃癖。不可與雞子同食，合莧菜食傷人。蜘蛛，性冷，無毒，處處有之。然多種身有毛刺，及五色並薄小者，並不可用。瘰癧背瘡，炷牙兼治，口斜喎僻喜忘者取網著衣領中。</p>
<p>蟬蛻消風，斷小兒夜哭之鬼；蝟皮主痔，捷腸風下血之徒。</p>
<p>蟬退，味鹹、甘。寒，無毒。亦治婦人產難，小兒驚癇。蝟皮，味苦、甘。無毒。治疝氣陰蝕瘡。</p>
<p>鯉魚寬胎脹骨，止赤白之崩，膽抹青盲赤目；蟹主熱結胸黃，能化漆為水，血燒集鼠招𪕐。</p>
<p>鯉魚，味苦、甘。寒，無毒。止渴消腫，腹有癥瘕之人不可食。蟹，味鹹。寒，有毒。爪能破血墮胎。</p>
<p>鯽魚治腸風下血，宜作鱠，又宜作羹，治痢無分赤白；蛙能補損祛勞，一種水雞為羹饌，專補產婦之虛。</p>
<p>鯽，味甘、溫，無毒。燒灰治諸瘡，補胃和中。蛙噤味甘、寒，無毒。殺疰邪。</p>
<p>蜈蚣開小兒口噤，墮孕婦之胎，制諸蛇毒；土狗，摧產難之生，罨肉中之刺，退腫須臾。</p>
<p>蜈蚣，味辛。溫，有毒。不堪入藥湯，殺三蟲。入藥當熟炒，生則令人吐瀉。土狗即螻蛄，味鹹。寒，無毒。處處有之。下腫，利大小便，解毒潰癰。</p>
<p>石決明瀉肝，黑障青盲終可決；桑螵蛸補腎，泄精遺溺竟無虞。</p>
<p>石決明，味鹹、平。涼，無毒。除肺經風熱。桑螵蛸，味鹹、甘、平。無毒。即螳螂子也。用炒黃色，不爾令人泄瀉。</p>
<p>原蠶蛾主泄精，好強陰道；白殭蠶治諸風，口噤難呼。</p>
<p>蠶蛾，雄者有小毒，炒去翅、足，補腎。療血風、痹風、癮疹，用蠶砂。殭蠶，炒去絲、嘴，味鹹、平、辛，無毒。療驚癇崩漏病，又除口噤及喉風。</p>
<p>白花蛇主諸風濕痹，拘攣兼疥癩；五靈脂行經閉昏迷，產婦早來沾。</p>
<p>白花蛇與烏梢，味甘、咸。溫，有毒。主諸風喎斜口眼，並治大風瘡。五靈脂，即寒號蟲糞也，治腸風並冷氣，炒之治崩。</p>
<p>著意要行斯道，潛心細下工夫。</p>

<h2>果品部</h2>
<p>且如果品數端亦分優劣。</p>
<p>以果品言之，如柿有數種，紅者只可生啖，烏者可焙乾入藥，用其蒂功力且優，白者力薄而功力劣。</p>
<p>入藥當知判反忌宜，性情要辨苦甘冷熱。</p>
<p>大棗與生蔥相刑，不宜合食。烏梅與黃精相反，常食黃精者，不可食梅。實如桃仁、杏仁，忌用雙仁者，有毒殺人。安石榴，味酸者宜入藥用，苦甘者不宜多食，損人齒，傷人肺。又如橘味辛溫，柚味苦冷，棗味甘熱，柿味甘寒之類。</p>
<p>橘皮則下氣寬中，消痰止嗽，更可止嘔定吐；大棗則養脾扶胃，助藥成功，又可補氣調脈。</p>
<p>陳皮，味辛。溫，無毒。主溫脾。青者，破積聚。大棗，味甘、平。無毒。</p>
<p>雞頭實為芡實，輕身長志，好止腰疼；覆盆子是蓬虆，益氣強陰，養精最烈。</p>
<p>芡實，味甘、平。無毒。補中治痹，煎和金櫻實最益人。覆盆子，味酸、平、咸。處處有之。補中，調和臟腑，治風虛損。</p>
<p>柿干止痢澀腸，生宜解酒渴止噦，須教用蒂良；梨實除煩引飲，漿可療風痰乳婦，金瘡如仇賊。</p>
<p>柿干，味甘、寒。無毒。最潤喉通耳鼻。梨，味甘、微酸。寒，無毒。可止嗽，不宜多食，成冷痢。乳婦及金瘡猶不可食。</p>
<p>橄欖止渴生津，口唇乾燥研敷核中仁；石榴舒筋止痢，去腹中蟲根皮煎汁啜。</p>
<p>橄欖，味酸、甘。溫，無毒。消酒毒。安石榴，味甘、酸。無毒。殼入藥，治筋攣腳痛，攻痢良。</p>
<p>藕實止痢，補心垣，節除嘔衄，葉堪止渴安胎；桃仁通經破癥結，乃輟腰疼，花主下利膿血。</p>
<p>藕，味甘、平。寒，無毒。處處有之。桃仁，去皮尖，味苦、甘、平。無毒。其花通利小便。</p>
<p>杏仁不用雙仁，通腸潤肺治咳清音，烏梅即是梅實，止嗽化痰痢中莫缺。</p>
<p>杏仁，去皮、尖及雙仁者，味酸、甘。無毒。治驚癇腹痹及產乳金瘡。烏梅，味酸、平。無毒。下氣調中，止渴，治骨蒸勞熱。</p>
<p>宣木瓜治霍亂轉筋，調理腳氣，濕痹伸舒，枇杷葉能止嘔和胃，專掃肺風，功全口渴。</p>
<p>木瓜，酸。溫，無毒。消腫強筋骨，止渴並腳氣攻心。枇杷葉，用布拭去毛，炙用。味苦、平。無毒。主肺風。</p>
<p>胡桃肉，肥肌潤肉，撲傷和酒研來嘗；草果仁，益氣溫中，好伴常山攻瘧發。</p>
<p>胡桃肉，味甘、平。無毒。去痔瘡，消瘰癧。草果仁，味辛。溫，無毒。溫脾胃，消宿食，解酒毒，攻冷氣。</p>
<p>若能熟此作筌諦，可洗下工之陋拙。</p>

<h2>米穀部</h2>
<p>精明米穀，豆麥粟麻，雖民生之日用，充藥料於醫家。</p>
<p>谷入脾，豆入腎，麥肝，粟肺，麻入心。</p>
<p>粳米溫中和胃，秫米能解漆瘡，止渴除煩須陳倉米；黃豆殺鬼辟邪，黑豆乃堪入藥，若問黃卷便是豆芽。</p>
<p>粳米，味甘。溫，無毒。即常人所食之米。其種數多，不可盡識。主除煩斷痢。豆，黑白二種，惟黑者入藥，白者不用。味甘、平。無毒。炒熟入藥。</p>
<p>祛胃熱，養腎虛，通利小腸粟米；可長生，填精髓，巨勝子即胡麻。</p>
<p>粟，味鹹。微寒，無毒。治消中。巨勝子，久服之可長生不老，利大小腸，堅筋快產，主心驚。味甘、平。無毒。處處有，即黑麻子。</p>
<p>赤小豆消水腫虛浮，研塗癰疽消熱毒；白扁豆治筋轉霍亂，葉敷蛇蟲咬最佳。</p>
<p>赤小豆，炒過用。味甘、酸、平。無毒。治消渴，攻腳氣。白扁豆，味甘。微寒，無毒。消暑解毒，下氣和中。</p>
<p>小麥止汗養肝，堪除燥熱；大麥主飢消渴，長胃榮華。</p>
<p>大、小麥，味甘。微寒，無毒。</p>
<p>麥蘖入藥湯，真個溫中，可知消食麥麩；若調醋敷撲，損處愈後無瑕。</p>
<p>麥蘖，麥芽也，麩皮也。</p>
<p>去丹風解一切之毒，霍亂吐翻，取粉於綠豆；除浮疸吐一切痰涎，閉胸膈病，摘蒂於甜瓜。</p>
<p>綠豆，甘寒。無毒。除熱氣，止頭疼目暗。甜瓜，味苦。寒，有毒。處處有之。蒂入藥。瓜有赤、白二種，入藥當用赤者。</p>
<p>言之有準，用之無差。</p>

<h2>菜蔬部</h2>
<p>既已言之五穀，又當取用菜蔬。蔥主頭疼堪發散，通大小腸，白可安胎止痛；韭專補腎益元陽，溫中下氣，子收夢中精遺。</p>
<p>蔥，味辛。溫，無毒。韭，味辛，微酸。溫，無毒。蔥、韭皆不可多食，昏人精神，又不可與蜜同食。</p>
<p>搗汁止頭疼，喘嗽風痰萊菔子；酒煎噴痘體，自然紅潤說胡荽。</p>
<p>萊菔即蘿蔔也。味辛、甘。無毒。根腦及嫩葉常人作生菜食之，熟啖消食和中，下氣去痰，癖肥健人。胡荽，味辛。溫，微毒。消穀通心竅，補五臟不足，利大一小便，辟邪。</p>
<p>白冬瓜劫躁煩止渴，白芥子寬胸膈痰拘。</p>
<p>冬瓜，味甘。微寒，無毒。治淋利小便，解熱散癰，除小腸熱醒脾。用子中仁尤良。白芥，味辛。溫，無毒。青、白、紫數種，唯白芥子粗大色白者入藥。除冷氣，攻反胃，治上氣。</p>
<p>婦人產難好催生，滑臟利泄冬葵子；霍亂轉筋心腹痛，減煩卻暑羨香薷。</p>
<p>冬葵子，味甘。寒，無毒。處處有之。其子是秋種，覆養經冬，至春作子，故謂之冬葵子。除寒熱，治疳用根。香薷，味辛。微溫，無毒。下氣除煩熱，消腫止渴。</p>
<p>發病生蟲又敗陽便是蕓薹菜，生瘡長痼精神損少吃水茄兒。</p>
<p>蕓薹萊，味辛。溫，有毒，不宜多食，敗損陽氣，生腹中長蟲。主破癥瘕，通血，除丹毒，消乳癰。茄子，有紫，白二種。味甘寒，性冷，不宜多食。茄根煎湯漬凍瘡，蒂燒灰治腸風。</p>
<p>婦人惡血能令下，濕痹筋攣取豆芽黃卷；瘡疥傷寒最得宜，血風血暈向荊芥假蘇。</p>
<p>大豆黃卷，以黑豆大者為芽蘖，生便曬乾，名黃卷。入藥用。味甘、平。無毒。荊芥即假蘇，味辛溫，無毒。下氣除勞，兼治頭痛。</p>
<p>馬齒莧散血敷瘡敷大丹，殺蟲磨翳；草蘩蔞發背瘡瘍丹風起，爛搗堪塗。</p>
<p>馬齒莧處處有之。味酸寒，微毒。止渴攻血痢，磨眼翳，利便難。草蘩蔞，味酸、平，無毒，名雞腸菜。</p>
<p>消痰定喘寬膨當求蘇葉，風氣頭疼發散功要薄荷。</p>
<p>紫蘇，味辛，溫，無毒。葉下紫色而氣香者佳。消痰下氣開胃用葉；風氣頭疼發散用莖；寬喘急治咳嗽用子。薄荷，味辛、苦，溫，無毒。發汗消食寬脹，除霍亂，傷寒可發散。</p>
<p>飴糖斂汗，建中補虛羸不小；神麯養脾，進食使胃氣有餘。</p>
<p>飴糖，味甘。微溫，無毒。以糯米煮，候冷，入麥芽，澄清，再熬成飴糖，以淨器盛貯，夏天澄沉井中，免令酸。諸米可作飴，惟糯米者入藥，止渴消痰治嗽。神麯，味甘。大暖。消宿食下氣。</p>
<p>調理產人去瘀生新猶用醋，通行血脈助添藥勢酒同途。</p>
<p>醋，一名苦酒，治癰除癥，消癰退腫。酒味苦、甘、無。大熱，有毒。辟惡除邪破癥結。</p>
<p>香豉本食中之物，醫傷寒切不可無。淡豆政，味苦寒，無毒。治頭疼，發汗，止痢解煩熱。以酒浸爛搗，患腳人敷之良。</p>
<p>不揣愚衷而作賦，是為藥性之斤銖。</p>
<p>揣，量度也。</p>
