<header data-type="book">
<h1>古今醫鑑（初刊本）</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>龔信</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1576">公元1576年</data></dd></div>
<div><dt>底本</dt><dd>《新刊古今醫鑑》，明萬曆間金陵書林周曰校刻本（<a href="https://lccn.loc.gov/2014514557">美國國會圖書館藏本</a>）</dd></div>
</dl>
</header>
