<header data-type="book">
<h1>潛齋簡效方（附醫話）</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王士雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1851">公元1851年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://archive.org/details/02093260.cn">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>古名臣大儒，往往喜錄單方，以關生民疾苦；而世之醫者，每為卑鄙不足道，何識量之不廣哉？王君孟英謂一藥治病，即古之奇方。蓋一病原有一藥主治，識之既真，何須多品。第病有可以常理測者，夫婦與知；其不可常理測者，雖聖亦有所不能盡。是以病機隱幻，固非良手不為功；而病情奇怪，有非單方不能治。在昔歐公暴痢幾絕，乞藥於牛醫；李防禦治嗽拜官，得方於下走，誠醫理之難窮，而藥之不可以貴賤為優劣也。即今道光間，吾杭皇甫心安，家有狐能治病，以仙目之。樂懷谷女，方襁褓，忽啼不止，拍之則愈啼，解衣視背，見繡針微露其緒，而針已全沒，多醫治之，雜以藥敷，肉潰而針終不出。狐令以磁石吸瘡口，理極是也，而亦罔效。延至百日，忽賣酒家聞之，曰易耳，第以銀杏仁去衣心杵爛，菜油浸良久，取油滴瘡孔中即出，移時果針透瘡口，而針則已彎，蓋強拍入之也。夫以狐而仙者，豈智有不逮哉？乃不為磁石引而為銀杏透，真理之不可測矣。由此推之，一病必有一藥主治，洵非虛語。而單方之不可忽也，益信。因出《願體醫話》一冊。《願體集》為康熙時史搢臣先生著，其醫話亦皆切於濟世，而救五絕諸法，尤較他書詳備，向為孟英舅氏俞君珍藏。孟英復以魏柳洲《續名醫類案》中按語、單方合而成帙，末附自採簡效諸方，付之梓，其成厥舅志，固已足多，而所言一以生民疾苦為心，勿私其藝，抑亦王君識量之不可及也已。</p>
<p><u>咸豐三年癸丑仲冬杭州趙夢齡</u></p>
<p>士雄學識淺陋，所錄《簡效方》一卷，皆簡易而有效驗之方也。然見聞不廣，未敢質當世。而張孝子養之，蔣君敬堂、連君書樵，屢引史搢臣先生施藥不如施方之話相勖，遂不揆譾佇，附梓於史、魏良方之後。惟四方博雅咸以利濟為懷，傳播秘方諒不吝教，如荷匡余未逮，隨時皆可續登，跂予望之虛左以俟。</p>
<p><u>癸丑長至日自記</u></p>

<h1>頭風</h1>
<p>治頭風　蓖麻仁、乳香，研塗患處，立愈。</p>
<p>天南星一個，艾五錢，煎湯熏之。</p>
<p>痛久欲失明者，川烏（去皮）、細辛、防風、蠍梢等分研細，薑汁調貼患處。若眉目牽引不正，貼太陽穴。</p>

<h1>面皺</h1>
<p>面上皺路　大豬蹄四枚，洗淨，煮如膠，臥時用塗面上，次早以漿水洗去，半月後面皮細潔如童子。</p>

<h1>肺癰</h1>
<p>肺癰　冬月醃芥菜滷，貯壇封埋土中，年久則清淡如水，略無鹹味，飲之甚效。或和淡腐漿服。</p>
<p>蕺草，俗名魚腥草，水煮，不住口食之甚效。</p>
<p>金絲荷葉草搗汁，同生白酒數飲立效。</p>
<p>橘葉搗汁服，吐出膿血即愈。</p>
<p>經霜黃菊葉，絞汁冷服。亦治腸癰。</p>
<p>立秋後擇粗大絲瓜藤或南瓜藤，掘起根三四寸，剪斷插瓶中，其汁滴貯瓶內，封埋土中，年久愈佳。兼治喉蛾哮喘。</p>
<p>柘黃，即柘樹上蕈，厚大而色黃者，用井水磨服，以愈為度。或用鯉魚重四兩者一尾，去腸，勿見水，入貝母末二錢，縫好，童溺半碗浸之，重湯煮至睛出，去鱗骨，食之甚效。</p>

<h1>痰哮</h1>
<p>痰哮　浸濕海帶四兩煎湯，調飴糖服。</p>
<p>淡豆腐漿，每晨飲之。（兼治黃疸。）</p>
<p>漂淡陳海蛇煎湯，生蘆菔搗汁和服。兼治諸痰證。</p>

<h1>喉疹</h1>
<p>爛喉時疹　錫類散：象牙屑（焙）、廉珠各三分，飛青黛六分，梅花冰片三釐，壁錢（俗名喜子窠）二十個（用泥壁上者，勿用木板上者），西牛黃、人手指甲（男病用女，女病用男）各五釐，共研極細粉，吹患處，雖瀕死者可救。兼治乳蛾、牙疳、舌腐等證，甚效。</p>
<p>蘆菔菜於初冬攤於屋瓦上，或掛樹枝上，任其風吹日曬，雨洗霜凌，直至立春前一日收下，懸掛檐下有風無日處，陳久愈佳，煎濃湯服。</p>
<p>冬春二季，每晚食生蘆菔數片，可以免患喉證。或以橄欖、蘆菔常煮湯代茶飲，亦妙。</p>

<h1>口鼻病</h1>
<p>口舌糜爛　大紅薔薇葉焙燥，研末搽之，冬月用根。重舌用不蛀牙皂四五挺，去核炙焦，荊芥穗二錢，共為細末，米醋調塗即消。</p>
<p>舌脹滿口　生蒲黃搽上即愈。舌衄，以黑蒲黃末糝之。或以辰砂一錢，伏龍肝二錢，鴨子清調服。</p>
<p>舌脹出口　冰片一錢研敷。</p>
<p>舌出不收　辰砂末敷之。或暗擲碗盞於地，聞聲即能驚人。</p>
<p>唇衄不止　栗子一個，連殼燒灰，硫黃等分，研末和敷。</p>
<p>煙管戳傷咽喉　以龍眼核去黑皮，焙搗極細，用筆管吹患處，即定疼止血，居家者此藥須預備。凡小兒頭面磕撲、銅鐵戳傷諸患，亦以此敷之，愈後無瘢，仍生毛髮。</p>
<p>風寒鼻淵　蒼耳子、辛夷花各三錢煎服。</p>
<p>風熱鼻淵　絲瓜藤近根三五寸數株，曬燥，燒存性為末，每一錢，陳酒下。</p>
<p>久吃蘭香菸成鼻淵者　白鯗脊骨燒煙燻洗之。</p>
<p>年久鼻淵　煩勞則發者，名曰腦漏，宜瓊玉膏、固本丸、六味丸、三才封髓丹之類，久服自效。</p>
<p>諸物塞入鼻中而不能出者　緊掩兩耳，緊閉其口，不使通氣，以筆管吹其無物鼻孔，則所入之物自出。</p>
<p>諸物吸入肺管而不能出者　無藥可治，喘急而死，大概小兒或有此患，然不必驚慌，但捉兒兩足使倒懸，則所入之物一咳即出。</p>
<p>肺風瘡　酒磨鹿角尖濃塗，久之自愈。</p>
<p>雀斑　鹿角燒灰，豬油調搽。</p>
<p>白附子生研，臥時以豆腐擦洗後，雞子清調塗。</p>
<p>鼻衄不止　以本人鼻血紙捻蘸之，右衄者點左眼角，左衄者點右眼角，左右並衄者，點兩眼角內，立效。或以梔子炭研末，吹入鼻中立愈。</p>

<h1>耳目病</h1>
<p>耳暴聾　木香研末，酒浸一宿，以酒滴耳中，少頃倒出，三次即愈。</p>
<p>白蒺藜炒去刺為末，蜜丸服。</p>
<p>靈磁石豆大者一塊，同穿山甲煅研末，棉裹塞耳中，口含生鐵一塊，覺耳中如風雨聲，即通。</p>
<p>耳衄　龍骨末吹之，又炒黑蒲黃研末吹之，亦敷舌衄。</p>
<p>耳聤　血餘一錢，冰片七釐，研勻吹之。</p>
<p>耳爛　燈心、陳皮各一錢燒灰，加冰片一分研吹。</p>
<p>頭風損目　以大川貝母一粒，白胡椒七粒，共研末，蔥白汁丸如柏子大，以膏藥蓋貼太陽穴，目可重明。</p>
<p>赤眼　黃丹白蜜調貼太陽穴，止痛如神。</p>
<p>田中潔淨柔泥，搓丸撳扁貼兩眼皮，一夜兩丸，立效。如睡熟候醒方換。</p>
<p>芙蓉葉末，水和貼太陽穴。</p>
<p>芒硝、荊芥穗泡湯溫洗。</p>
<p>黃連為末，雞子清調勻，左眼貼左足心，右眼貼右足心。</p>
<p>目翳　胡桃肉、鳧茈、柿餅等分搗烊，開水調服。</p>
<p>目星　樟腦、東丹等分研細，瓷器封貯，左目吹右鼻，棉塞之，隔宿即退。右目仿此。</p>
<p>白蒺藜三錢水煎，日洗三次效。</p>
<p>目障　鵝兒不食草、川芎、青黛各等分為末，搐鼻取嚏。遠年者亦效。</p>
<p>望江青，又名天脂麻一兩，羊肝一具，同豆腐煮食。</p>
<p>小兒疳氣攻目　雞肝一具，不落水，竹刀切片，用牡蠣粉八分，飛辰砂少許，拌勻糝入，飯鍋上蒸熟食之，如此十次，翳障退淨，當時忌食茶湯油膩。</p>
<p>煙油入目　如將他物洗之，愈洗愈疼，甚至損瞎，須用亂髮緩緩揉之自愈。</p>
<p>天絲入目　頭垢點入眼內即出。又方：雄雞冠血滴入眼內，少頃看有紅絲，將燈心捲去；或用好墨磨濃塗眼內，看有黑絲，亦用燈心捲去。</p>
<p>白礬水一碗，將舌舔之，有絲入水即愈。或以筆管吹其礬水，泡起濺目，絲亦能出。</p>
<p>塵芒入目　生藕洗搗，棉裹滴汁入目中即出也。</p>
<p>石灰擦眼　山梔子煎濃汁，不住手洗一二時辰，痛即止。或用活五穀蟲淘淨，搗攤油紙上，用布紮好，七日不可動，藥自落，目無恙。</p>
<p>眼角出血　槐花炒焦煎服。</p>
<p>損目破睛　牛口涎每日點兩次，須要避風，黑睛破者亦瘳。</p>
<p>青盲　用二蠶砂三斗，曬燥，每晨服三四錢，淡鹽湯下。</p>
<p>眼堂成漏　凡眼下生癤，出膿流水不幹，日久成漏，諸藥不效，以柿餅去皮取肉杵爛，塗旬日愈。</p>
<p>眼癬　用銀杏葉泡湯，少加枯礬末，溫洗漸愈，奇效。</p>

<h1>牙病</h1>
<p>牙疼　經霜西瓜皮燒灰，敷患處牙縫內，立效。</p>
<p>黑山梔、桑葉泡濃湯熱漱，不痛乃止。</p>
<p>兒茶貼患處，流出風涎自愈，不可嚥下。</p>
<p>石膏火煨熟八兩，白蒺藜去刺四兩，為極細末，頻擦之立愈。每日用之，可免此患。</p>
<p>蓽撥一錢，川椒五分，石膏三錢，青鹽四分，共研細，點患處立愈。</p>
<p>青鹽、蓬砂、火硝、樟腦各一錢，研末擦之。</p>
<p>馬蘭頭葉、水溝或水缸內青苔共杵爛，以棉卷之，左痛塞左耳，右亦然。</p>
<p>牙衄　絲瓜藤炙灰擦之立止。或用絲瓜絡亦可，酒調下，兼治腸紅。</p>
<p>草決明煎湯，含之即止。</p>
<p>馬蘭頭杵爛，塞患處立止。</p>
<p>槐花炒為末，搽之。</p>

<h1>瘰癧</h1>
<p>瘰癧（俗名癧𤶱）　用天明精五六枝同𩺀魚煮熟，但飲其汁，數次自愈。</p>
<p>羚羊角燒灰研細，雞卵清和塗，兼治斑毒。</p>
<p>豬膽汁，以胭脂邊一方滲透，懸風處吹乾，剪貼患處。</p>
<p>豆腐泔水一桶，慢熬成膏，頻頻塗之。</p>
<p>三桑葉曬乾為末，赤沙糖調服數兩自愈。</p>
<p>南星、半夏等分為末，米醋或雞子清調敷。黃柏為末，豬油調塗。</p>
<p>活𩺀魚一尾，生山藥如魚長一段，白糖三錢，杵爛塗之。</p>
<p>土貝母研末，陳米調醋敷。</p>
<p>牛皮膠一兩水熬化，入土貝母末五錢，攤油紙貼之。</p>
<p>佛前舊羊角燈底，焙存性研末，麻油調敷。</p>
<p>田中螞蟥杵爛，圍之即散。</p>
<p>活蠍一隻，麻油一盞，浸三日取起，曬乾為末，以鵝毛蘸油搽上。初起者為癧母，每日多搽幾次，三五日即愈。</p>
<p>已潰者用牛皮油靴底燒灰，麻油調敷。</p>
<p>麵糊作餅，貼於先潰之處，再用小砂壺二把，俱盛燒酒煎滾，去酒以熱壺口復於餅上熏之，一壺冷，又易一壺，如此數次，將毒拔盡則愈。熏後用豬膽汁熬成膏貼之。</p>
<p>破爛多年不愈，延及胸脅，臭穢難聞，雖十數載之頑證，可用新石灰一塊，滴水化開成粉，以生桐油調勻，乾溼得中，先用蔥椒湯洗淨瘡口，塗數日即愈。</p>
<p>牛皮膠四兩，牡蠣粉拌炒成珠去粉，土貝母八兩，共研末，水法丸如綠豆大，早晚用昆布、海藻各一錢五分煎湯，吞下三錢，不論已破、未破均效。</p>

<h1>乳病</h1>
<p>乳岩　土貝母五錢，煎服，數日可消。已破者加胡桃膈、銀花、連翹各三錢，酒水煎服。潰爛已久者，用雄鼠糞、經霜土楝子（不用川楝）、露蜂房各三錢，俱煅存性，各取淨末和勻，每服三錢酒下，間二日一服，即止痛收口。</p>
<p>乳癖　白芷、雄鼠糞等分，曝乾為末，好酒調服，必多飲取，一醺睡而愈。</p>
<p>活𩺀魚一尾，鮮山藥如魚長者一段，共搗爛敷患處，以紙蓋之立愈。</p>
<p>陳皮炒為末，黑糖調和，開水送三錢，七日而愈。</p>
<p>蒲公英一兩，銀花二兩，酒水各一碗，煎半碗，加酒一小杯服之，一醺可愈。</p>
<p>乳吹　砂仁去殼五分，冬葵子八分，共研末，以蒲公英五錢，栝蔞仁三錢，煎湯調服，數日即愈。</p>
<p>穿山甲三片，炒橘紅二錢，水煎和酒服，立愈。</p>
<p>甘菊花根葉杵爛，酒釀沖服，渣敷患處，立效。</p>
<p>乳頭破爛　龜板炙研末，加冰片研勻，麻油調搽。</p>
<p>寶珠茶花焙研末，麻油調敷。內服治諸血證。</p>

<h1>婦女諸病</h1>
<p>陰癢　雞肝或豬肝煮熟，切一長條，插入陰戶內，過一夜，次早取出，數次乃愈。</p>
<p>陰腫　羌活、防風煎湯熏洗。</p>
<p>蔥白研膏，入乳香末拌勻，敷患處。</p>
<p>陰寬　肥皂子浸去黑皮，用其白肉，加白及、五倍子、蛇床子、石榴皮、甘松、山柰、龍骨煎濃湯，日日熏洗，寬而冷者加石硫黃煎。</p>
<p>陰挺　飛礬六兩，桃仁一兩，五味子、雄黃各五錢，銅綠四錢，末之，煉蜜丸，每重四錢，即以方內雄黃為衣，坐入玉門即愈，甚者不過二次。</p>
<p>陰瘡　陳蚌殼煅、兒茶、輕粉、飛滑石、人中白煅各三錢，枯礬、龍骨煅各一錢，冰片三分，共研，麻油調搽。</p>
<p>陰爛　煅牡蠣、飛滑石各三錢，陳蚌殼煅二錢，入中白煅一錢，龍骨煅錢半，冰片二分，共研末，糝之。</p>
<p>房後陰痛　地榆煮酒服。</p>
<p>陰傷出血　五倍子研末糝之；或加血餘、黃連、白礬灰亦妙；或以青布燒灰、血餘等分研敷之。</p>
<p>蛇床子研末，綿裹納陰中，立效。</p>
<p>小便不通　生白礬末五釐入臍，以一指甲水滴之。</p>
<p>皂角煎湯洗陰戶。</p>
<p>淋滯淫濁　屬於濕熱者，淡豆腐漿調六一散服，亦治男子淋濁。屬於陰虛火動者，以生雞子打散，淡腐漿沖服，亦治勞嗽咳血。帶脈虛而不攝者，海螵蛸粉、魚鰾煮爛搗丸梧子大，吞服自愈。</p>
<p>血崩不止　淡腐漿一碗，韭菜汁半碗，和勻空心服。</p>
<p>棉花子，童便浸一宿為末，每一錢，側柏葉湯下極效。兼治勞嗽吐血。</p>
<p>調經種子保胎丸　白茯苓二兩，白朮土炒、條芩酒炒、香附童便炒、延胡醋炒、紅花隔紙焙乾、益母草淨葉各一兩，真沒藥三錢，瓦上焙乾去油，共研細，蜜丸梧子大，每日七丸，白湯下。汛愆者服之自調，不孕者服之即娠，胎動者服之即安，胎滑者服之自固。若胎動者，每日可服三五次；胎滑者，有孕即宜配合，每日服之勿斷，自然無事，亦且易生，但每次七丸為則，不可多服一丸，至囑。</p>
<p>慣於三月小產，諸藥不效者日以梅梗三五條（綠萼梅樹上者尤良），煎濃湯飲，復飲龍眼湯甚驗。</p>
<p>南瓜蒂頻煎，渴服。</p>
<p>催生　用荷瓣一張，上書一個人字，嚼而吞之立產。</p>
<p>車前子四錢，冬葵子三錢，炒枳殼二錢，白芷一錢，多日不下者，可煎而服之。</p>
<p>六一散催生最妙，兼下死胎，並治熱產惡露不行。</p>
<p>胎澀不下　用鮮豬肉三斤，煎清湯，吹去浮油，恣飲即產。</p>
<p>生牛膝一兩，酒浸杵爛，以龍眼肉六兩煎濃汁，沖牛膝酒內，服之即產。</p>
<p>過月難產　用舊絹篩羅底一個，捲筒燒碗內，白湯下即產。</p>
<p>盤腸生以生半夏搐鼻中，腸自收。</p>
<p>橫生　以益母草一兩，酒煎濃汁，和童便一大盞服。</p>
<p>諸般難產　用陳麥稈，露天者尤妙，一兩洗淨，剪寸段，煎湯服極效。</p>
<p>產下子腸帶出　切勿剪斷，致傷母命，以枳殼煎湯熏洗即收。</p>
<p>胞衣不下　生雞子清一枚，吞之即下。</p>
<p>鮮荷葉濃煎服良；或用伏龍肝末，醋調納臍中。</p>
<p>死胎不下　蓖麻仁三粒，巴豆仁四粒，麝香二分，同研成餅，貼產門上交骨，其胎立下。即好胎至足月臨盆，久而不下之難產，亦可貼而即產。但勿用之稍早，恐有揠苗之害也。</p>
<p>伏龍肝一兩研細，甘草湯調服冷飲，能解諸般中毒。</p>
<p>產後小便不通　陳皮一兩為末，溫酒下二錢。</p>
<p>產後暈絕　生半夏末冷水和丸如豆大，納鼻中，灌以熱童溺，薰以炭醋立蘇。</p>
<p>產後虛弱　豆腐漿一碗，衝入打散生雞子一枚，再加豆腐皮一張，龍眼肉十四枚，白沙糖一兩，同滾透，五更空心服。蓋產後失調，往往延成勞損，而貧戶醫藥無資，富家每為藥誤，特採此方，甘平和緩，補血滋陰，貧富皆宜，允為妙劑。</p>

<h1>小兒諸病</h1>
<p>小兒初生　以豬膽汁一枚入湯浴，永不生瘡。</p>
<p>初生無皮　泥地上臥一宿即生，冬月以白米粉燥撲之，候皮生乃止。</p>
<p>小兒開口，不宜太早，須生下一周時，以大黃、黃連、生甘草等分，泡汁飲數匙，然後吃乳。</p>
<p>初生小兒白膜裹舌，或遍舌根　可用指甲刮破令血出，以燒礬末半綠豆許敷之，若不刮破，其兒必啞。</p>
<p>初生小兒兩目紅腫赤爛不開　以蚯蚓泥杵塗囟門，干則易之，三次必愈。</p>
<p>生南星、生大黃等分為末，醋調塗兒兩足心，雖月外亦可用。</p>
<p>初生驚風欲死　硃砂磨新汲水塗手足心。</p>
<p>初生小兒便秘　一味生大黃泡濃汁飲之。小便不通者，用清明插檐朝南楊柳枝煎湯服。亦治大人溺閉。</p>
<p>遊風　伏龍肝為末，雞子清和塗，干則易之。如治浸淫瘡，以豬脂和敷。</p>
<p>胎毒、胎瘡　胭脂、膽礬、黃柏、東丹等分研末，菜油調搽。</p>
<p>水邊桕樹根白皮曬研，入雄黃末少許，生油調搽。</p>
<p>稀痘法　生黃豆、生綠豆、生白扁豆（或黑豆亦可）、生甘草、銀花等分，常煮湯代茶飲。</p>
<p>橄欖核七個打碎去仁，曬乾研極細末，不可見火，勿沾生水，再用玉蝶梅花二十一朵去蒂，加淨白蜜二茶匙，共搗濃，交春分時與兒食之，永不出痘，即出亦不過三粒。</p>
<p>菾菜（俗作甜菜，即葵菜，一名滑菜，一名莙薘，一名女菜，性滑可浣油膩），煮而供蔬食妙。</p>
<p>小兒能食，即以乾柿飯上蒸透，嚼飯飼之，能稀痘，並免疳、瀉諸疾。</p>
<p>免痘法　淨銀花一斤，生曬研末，淨白蜜丸如龍眼大，日日與兒服之，可不出痘，甚驗。</p>
<p>蓖麻仁三十六粒，辰砂一錢，研爛，再入麝香當門子五釐研勻，於端午日午時塗小兒百會穴暨心、背、兩腋、曲池、委中、手足心凡十三處。余在宜黃見越人王望沂少府云：其家用此法，已數世不出痘矣。</p>
<p>凡居窮鄉僻壤，值嬰兒發痘，不能迎醫者，須於微發熱時，用手蘸真麻油摩其背脊，下至尻骨，如此數次，其熱自退。</p>
<p>痘疹不出，以及悶痘不發，毒脹滿者此係急證，用青蔗漿頻服，則痘立起，其寒散解毒之功，勝白鴿、蚯蚓多矣。</p>
<p>痘發不出，頭面腫脹，氣喘垂危者勁十足　用大蔥頭杵爛，放在大銅盆內，上用木架架之，再以大被單罩蓋停當，大人抱定小兒睡在上面，然後將沸湯衝入蔥盆內，熱氣熏蒸，候稍溫即抱出，切不可露一絲之風，直待汗乾即差。</p>
<p>悶痧　分開頂門，有紅筋、紅瘰，挑破即出。</p>
<p>痧疹咽喉腫痛　不拘初起回後，用苦參三錢，白殭蠶二錢，研細吹入。</p>
<p>痘出眼內　新象牙磨水，滴眼內即退。</p>
<p>兒生母中指上，刺血一點，滴入眼內即退。</p>
<p>痘瘡潰爛　用青茶葉滾水略泡，攤於草紙上，以絹蓋之，臥兒於上，任其展轉即痂。</p>
<p>痘爛生疽　以柳葉鋪而臥之，蛆盡出。</p>
<p>痘毒　泡過茶葉曬乾為末，五倍子等分，雞子清調敷。</p>
<p>又法：生黃豆口中嚼爛塗之，不必留頭，數次即消，極效。</p>
<p>痘疔　青蔗渣曬乾，真香油點燒成灰，以津液調勻，銀簪挑破，點之立效。</p>
<p>諸疳　南天竹煎湯頻服。</p>
<p>蟑螂去頭、足、翅，焙乾與食，疳愈則不要食此矣。</p>
<p>使君子肉二錢，雷丸，檳榔各一錢，黑醜頭末五分，俱生曬研末，每服三分，以雞卵一枚打破空頭，內藥紙封，飯上蒸熟食之，藥完病痊。</p>
<p>積滯　海蜇、鳧茈常煮食之，兼治大人痰哮，及肝乘胃痛。浸燒酒飲，能消大人胸中痞塊。又紹興青腐乳作下飯，能消疳積，治腹脹身黃。</p>
<p>驚風　鉤藤鉤、甘草各五分，水煎服。</p>
<p>驚風　人手指甲長寸外者，煎湯服。</p>
<p>開通元寶錢，以水磨服少許，神效。（俗讀開元通寶者非。）</p>
<p>按：俗謂驚風者，即火動風生之瘛瘲也。金能制木，可息內風。國朝康熙通寶錢，熙字作正楷從𦣞，不仿帖體從⿰丨𦣞作熈者，乃平西藏時熔藏中佛相所鑄，故世謂之羅漢錢，銅色如金，俗又呼為金錢，愚民往往私毀，改為首飾，酷似真金，蓋其鑄佛之時，多雜金寶於銅內也，入藥更勝，遠駕開通元寶之上。</p>
<p>小兒瘧疾不能服藥　以黃丹五錢，生礬三錢，胡椒二錢五分，麝香五釐，共末，好醋調敷男左女右手心，絹包手掌，藥熱汗出而愈，一方可效三人。未曾食谷之兒，久瘧不已，濃煎冰糖湯服，神效。</p>
<p>小兒久瀉，身熱最危，以炒黑松花一錢，炒紅曲二錢，共研，分二服，白糖湯調下。</p>
<p>暑風　取淨黃土鋪地上，以芭蕉葉為薦，臥兒於上，飲以益元散，鮮竹葉湯調</p>
<p>小兒體弱，夏月最多此證，切勿誤認為驚，妄投峻藥。</p>
<p>癇證　俗呼羊癲風，用經霜老茶葉一兩，明礬五錢為細末，水法丸，辰砂為衣，每三錢開水下，三服全愈。</p>
<p>又方用二陳湯加青皮、丹皮、石菖蒲、辰砂為劑，甚效。</p>

<h1>拘攣</h1>
<p>手足拘攣　用草本水楊柳，酒煎服。</p>

<h1>鬼箭</h1>
<p>鬼箭風　用野苧麻、天南星同搗敷。</p>

<h1>魅惑</h1>
<p>狐魅　以珠蘭花根搗爛塗陰上。但此花根有毒，勿入藥服，狐沾之即死也。</p>
<p>邪氣蠱惑　以鱉甲、蒼朮燒之即安。又麝香一二兩佩之良。</p>

<h1>二陰諸病</h1>
<p>便毒　以棉地榆四兩，穿山甲二片土炒，白酒三碗，煎一碗，空心服，雖有膿者亦愈。</p>
<p>全蠍、貫眾、生礬等分為末，空心調服一錢。</p>
<p>棉地榆四兩，生甘草、銀花各一兩，白芷三錢，皂角刺二錢五分，水二碗，煎減半，空心服。</p>
<p>胡桃二個，連殼杵碎，澤蘭、白及、松羅茶各三錢，井水、河水各一碗，煎取四分，和酒服，一劑知，二三劑愈。蔣附治驗。</p>
<p>陰囊腫痛　蔥白、乳香搗爛塗之。</p>
<p>硼砂一分，水研塗之。</p>
<p>棉子仁煎湯洗之。</p>
<p>萬年青根搗汁，熱酒沖服。</p>
<p>腎囊風　雞子黃炒出油搽之。</p>
<p>陰囊濕腫　紫蘇、紫背浮萍各一兩，水煎熏洗。</p>
<p>囊瘡作爛　六一散四錢，赤石脂二錢，紫蘇一錢五分，兒茶一錢，共為末，糝之。</p>
<p>腎囊皮爛　龜板炙存性，研入冰片少許，麻油調塗即愈。</p>
<p>囊癰初起　以獨核肥皂數個，用乳香四兩裝入，外將濕草紙包煅，火須先文後武，以煙盡為度，出火氣研末，每服一錢五分，三服即愈。</p>
<p>疝氣　乾荷葉蒂二十一個，炒焦，海金砂三分，好酒一碗，煎一滾，乘熱服，以醉為度，即愈。</p>
<p>雞子殼燒灰為末，空心溫酒下，二服即愈。</p>
<p>牛蒡子根葉搗爛絞汁，和好酒服之，覆被出汗，永不再發。</p>
<p>精滑善遺，牽轉白牛法最妙。其法：不拘布帛，做一小兜，將外腎兜起，拴在腰後褲帶之上，此病自免。道家謂之張果老倒騎驢。或以刺蝟皮焙研，黃酒調，早服。</p>
<p>又靈雪丹：甘草、薄荷、甘遂、樟腦、蘇葉、陽起石各三錢，共研末，碗盛紙餬口，細錐紙上密刺小孔，另用碟覆碗上，碗邊寬餘半指，黑豆麵固濟，砂鍋底鋪粗砂，加水，坐碗砂上，出水一寸，炭火煮五炷香，水耗常添熱水，香完，俟水冷取出，入研細麝香少許，人乳浸化蟾蜍少許，蔥涕官粉煉蜜為丸，綠豆大，瓷瓶封收。用時以唾津在掌上研半丸，塗玉麈頭上，一時麈頂酥麻，便是藥力透徹。凡遺泄不止勢在危急者，先煉此丹保固腎精，於日落時研塗，即能秘精一夜不泄，再用湯丸調治。</p>
<p>老年夜多旋溺　晚食糯米糍即效，若溺時玉莖痛而仍頻數不赤者，生黃耆一兩，甘草二錢煎服，甚者日二服即愈。</p>
<p>下疳　先以大小薊、地骨皮煎湯洗淨，再用黃柏、黃芩、官粉、珍珠、冰片研細敷之，立效。</p>
<p>橄欖燒存性，白螺螄殼古泥牆上者，浸去泥醋煅各一錢，研末，加冰片一分研勻，麻油調搽，濕者糝之。須先用甘草花椒湯洗。</p>
<p>鮮小薊、鮮地骨皮各五兩，煎濃汁浸之，極痛者不數日而愈。</p>
<p>鮮豨薟草葉貼之。</p>
<p>黃花薔薇葉焙研糝之。</p>
<p>橄欖燒灰，研細末糝之。</p>
<p>二便不通　皂角末、蔥白連須加麝香二分，蜜少許，杵貼臍下至毛際，再以韭地蚯蚓泥搗，和水澄清飲之尤妙。</p>
<p>坐板瘡　松香五錢，雄黃一錢五分，研細和勻，以棉紙包裹拈成條，臘月豬脂浸透，點火燒著，取滴下油搽之，立效。</p>
<p>藤黃搗碎，糝在雄豬網油之上，以青布一長條卷緊，線扎，浸菜油內一夜取出，火燃取滴下油，以杯承之，埋土中一宿去火氣，塗上即愈。</p>
<p>甘蔗皮燒存性研，麻油調搽。</p>
<p>臀癰　芙蓉葉（曬研）、胡椒（焙研）各二錢，野苧根一兩，蔥頭七個，酒糟兩許，共杵爛，加米醋和敷即消。</p>
<p>脫肛　萬年青連根煎湯洗，用五倍子末敷之，或先以麻油潤之，再用風菱殼煎湯洗之。鱉頭煅存性研，加冰片，糝之立收。</p>
<p>腸風痔血　棉花子炒黃黑色，去殼為末，陳米濃汁加黑沙糖，丸如梧子大，每晨開水送三錢，服三斤斷根。</p>
<p>生豆腐渣，鍋內炒燥為末，每服三錢，白砂糖湯下，日三次，遠年垂危者亦效。</p>
<p>瓜子殼一味，煎濃湯服立愈，兼治吐血。</p>
<p>鴉膽子即苦參子，已試取囫圇仁，每七粒以龍眼肉包之，每服三包，白湯下，重者日三服。忌葷酒，戒鴨肉。兼治休息久痢極效。</p>
<p>柿餅煅存性研，再以煮爛柿餅杵和丸，如梧子大，仍以柿餅湯下，久服神效，王道法也。</p>
<p>久瀉不痊　生蔥杵爛，入黃丹為丸，如豆大，填臍中，外以膏藥封之。</p>
<p>陳火腿煅存性研，鍋心飯焦各三錢，炒松花一錢，米糊丸，參湯下。</p>
<p>痢疾肛門腫脹如痔狀　冰片研細，乳調搽。或以木鱉子、五倍子共研調敷。</p>

<h1>臁瘡</h1>
<p>臁瘡　白蘆菔打爛貼患處瘡口上，一日一換，三日毒血去盡，再用松香一兩，杏仁三十粒（去皮尖），細黃丹八錢，輕粉五錢，舊羊角燈底（火焙為末）三錢，共研極細，麻油調搽，一日一換，數日即痊。</p>
<p>蔥鹽湯洗淨拭乾，馬勃粉敷之良。</p>
<p>黃蠟、白蠟、輕粉、韶粉、乳香等分為末，臘月豬板油、麻油各半化勻，調前藥攤薄油紙貼之。兼治血風瘡之久不結痂者。</p>
<p>先以鹽湯淋洗，用帛拭乾，後以白糖霜津唾塗敷。</p>
<p>生豆腐渣捏成餅，如瘡之大小，先用清茶洗淨，絹帛拭乾，然後貼上，以帛束之，一日一換，瘡漸小，肉漸平而愈。亦可貼腳蛀，但勿落生水。</p>
<p>龜板炙、爐甘石煅各三錢，輕粉二錢，冰片一二分，共研細末，麻油半杯，銅銚內熬滾，入白蠟、黃蠟各二錢溶化，離火將凝，入前藥末攪勻攤油紙貼患處，以蔥椒甘草湯洗，一日一換。</p>
<p>鹿角灰、乳香末研勻，清油調敷。（用清涼藥不效者宜之。）</p>
<p>柿葉燒存性，同川椒研末搽之。</p>
<p>生豆腐渣、柿餅同搗爛貼患處，以帛束之，立效。</p>
<p>黃牛矢曬燥煅黑四兩，煙膠末一兩，共研，少加冰片、香油調搽。蔣附治驗。</p>

<h1>腳氣（附纏足方）</h1>
<p>腳氣，俗呼流火　以大張海蛇皮包之，干則易。</p>
<p>生煤炭研極細，醋調塗之。</p>
<p>朴硝、大黃、寒水石、牙皂為末，雞子清調敷。</p>
<p>人中黃研細，芭蕉根汁調塗。</p>
<p>蘆菔煎湯洗之，仍以蘆菔曬乾為末，鋪襪內。</p>
<p>馬前子一個，以粗碗底磨水，用雞毛掃遍，日掃五七次立效。兼治痔瘡。</p>
<p>不論男女，濯足宜頻，濯時水中宜加入鹽滷一盞，終身用之，可免一切足疾。以滷能去風火濕熱垢濁，而潤皮膚，舒筋骨，真妙法也。</p>
<p>女子纏足，究不知始自何人，袁簡齋先生謂濫觴於李後主，乃於《續齊諧》中雲：其矯揉造作，毒流天下後世，是以永墮泥犁之獄，誠深惡而痛恨之也。然余見北齊刁玉奴《云峰山四疏》內有「規奴雙趾，持之而生憐之」句，則南北朝已有纏足之風。袁又云：俗有火化其父母之骸以為孝者，遂有裹小其女子之足以為慈者，敗俗傷風，事同一例，無如相沿成俗，雖我朝之仁政不能革其陋習，良可嘆也。不得已採李瀕湖《本草綱目》內閨閣事宜一方於此帙，聊紓玉趾之疼，易效蓮鉤之式，不致呼號慘切，免其戕賊成癆。惟願仁人廣為傳播，用經屢效，洵是神方。桑根白皮四錢，肥皂子浸去黑皮二錢，杏仁一錢，水五碗，新瓶煎至三碗，入朴硝五錢，乳香一錢，封口煎烊，置足於上，先熏後洗，三日一作，十餘次後，軟若束棉也。束時以羅細生白礬末少加白洋糖糝之，每於洗足湯中入鹽滷一杯，不生足疾，且無⿰皮嗇繭之患，皆閨閫中秘方也。</p>
<p>纏足生瘡　用甘草湯淨洗，以荊芥燒灰研細，蔥白汁調搽。</p>

<h1>癬</h1>
<p>諸癬　龍眼核醋磨塗之。</p>
<p>大黃、藤黃、雄黃、硫黃、薑黃等分為細末，菜油調塗患處。兼治腳上雞眼。</p>
<p>吃髮癬　煨石膏末糖調塗之；藜蘆、龍膽草浸油搽發，或加秋葵花尤妙。</p>
<p>鵝掌癬　豆腐泔水日日頻洗。</p>
<p>牛皮癬　桃樹根白皮同膽礬杵爛敷。</p>

<h1>癜</h1>
<p>紫白癜風　蘆菔汁調生礬末三錢，先以布擦損塗之。</p>

<h1>瘤</h1>
<p>瘤贅　用甘草煎膏，筆塗瘤之四圍，塗三次，另用芫花、大戟、甘遂等分為末醋調，別以筆搽瘤上，勿近甘草，次日即縮小，又以甘草膏塗其外暈三次，再搽三末於其中，自然漸焦矣。</p>
<p>血瘤初起　以薄棉花剪如瘤子一塊，在雞子清內浸濕貼之，略干，仍以筆蘸雞子清潤之勿斷，四五日即消盡。</p>

<h1>痣</h1>
<p>血痣潰血，涓涓不絕，諸藥不能止，用五靈脂為末，糝上即愈。</p>

<h1>大衄</h1>
<p>九竅及髮根出血，不因服毒者，名大衄血，乃極虛欲脫之證。急取泉水一桶，燒酒一斤，扶病人坐定，裸其腿，以燒酒淋之，俾酒從踝下，即滴入水桶內，淋訖，將其腿浸入桶中，其血即止，亟令壯年乳婦以乳哺之，再用遼東紅旗海參（他處者亦可，用力較小耳）一斤，切片焙為末，每三錢調服，日三次。蓋海參能生百脈之血，諸補藥之所不能及也。</p>

<h1>禿瘡</h1>
<p>禿瘡　紫蔗皮煅存性研末，香油調搽。</p>
<p>舊羊角燈底，瓦上煅存性研，麻油調搽。</p>
<p>鮮蠶豆搗如泥塗之，干即易，三五次即愈。無鮮豆，以乾者水泡搗之亦可。</p>
<p>海螵蛸二兩，輕粉一兩，松香三兩，共研細，油調搽。</p>

<h1>腋癰</h1>
<p>腋癰腰疽　用糯米飯乘熱入鹽塊、蔥管少許，杵極爛如膏，貼患處即消。</p>

<h1>多骨疽</h1>
<p>多骨疽　白花芙蓉葉（曬乾）、大黃、五倍子各一兩，藤黃、生礬各三錢，麝香、冰片各三分，共為末。米醋調如厚糊，塗其四圍，留中一頭如豆大，以醋用鵝翎掃之，若不掃，則無效。一日夜即內消，並治一切癰疽，敷之並效。</p>

<h1>惡瘡</h1>
<p>一切惡瘡無名腫毒　用生豆腐渣於砂鍋內焙熱，看紅腫處大小，量作餅子貼之，冷即易，以愈為度。</p>
<p>獨核肥皂、生芋艿各一個，蔥白七個，同搗爛敷之，干即易，過一周時，未成者即散，已成者略出膿即愈。</p>
<p>煙管中油，塗之立散。兼治蠱膈，用油紙攤貼。</p>
<p>野苧根搗汁，醇酒和服，渣敷患處，露頭，蓋被出汗，即出膿水而愈，雖發背對口亦可治。</p>
<p>大芋頭生杵爛敷之。</p>
<p>龍眼核為末，水調塗之。</p>
<p>大黃五錢，木鱉土炒三錢，共研細末，醋調圍之。</p>
<p>老菱殼燒存性，油調塗。</p>
<p>白礬末，熱水調塗。</p>
<p>臘月煉淨豬板油一斤，入白蠟半斤化勻，再下好樟腦四兩，攪勻，瓷器收藏，勿令出氣。患處先以蔥白、花椒、甘草、豬蹄湯洗淨，用無灰棉紙攤膏貼之。並治湯火傷及臁瘡濕毒久不愈者，神效無比。</p>
<p>泡過茶葉杵如泥敷之，干則以茶汁潤濕抹去，再換五六次即愈。兼治蛇咬及火燒成瘡。</p>
<p>腳發背初起　甘草、鹽滷煎湯洗即消。</p>
<p>諸瘡潰爛不愈　木耳焙乾研末，白砂糖等分，用溫水調敷縛之，神效。</p>

<h1>移毒法</h1>
<p>移毒法　以藤黃、銀硃等分，醋和敷毒之半圈，即移他處出毒。</p>

<h1>退胬法</h1>
<p>胬肉不退　硫黃研細末，敷上即退，再用泡過茶葉五錢，烏梅三個，燒存性，共研敷之，即收口。</p>

<h1>消管法</h1>
<p>褪管法　人手指甲（炙黃）、象牙屑、穿山甲（炙黃），各研細，乳香，沒藥（俱炙），硃砂（水飛）、舊羊角燈底（須十年外者，打碎），炒為極細末，各三錢，合勻再研，以黃蠟化和丸如椒大，初服五丸，次服六丸，逐日加一丸，服至十日，到十一日每日減一丸，退至五丸，再逐日加一丸，加至十四丸，仍從五丸服起，周而復始，每日空心陳酒下，管漸褪出，褪盡為度。</p>

<h1>殺蟲法</h1>
<p>一切癰疽金瘡破爛生蛆，諸藥不效者，用海參切片焙燥研敷，蛆皆化黃水流出，再用生肌藥收口即愈。</p>

<h1>腋氣</h1>
<p>⿰羊昷羝，腋氣也，俗名狐臭，又曰肋腥臭，一作體氣。用大田螺一個，巴豆仁一粒，膽礬一豆許，麝香少許。先將螺以水養三日，吐去泥土，揭起靨入藥於內，用線栓住，放瓷碗內，次日化成水。凡用須五更時，將藥水以手自抹其兩腋下，不住手抹藥，直待腹中欲瀉卻住手，要揀深遠無人到處空地內出大便，黑糞極臭，是其驗也，以厚土蓋之，勿令人知。如不盡，再抹之，又去大便，次用枯礬一兩，蛤粉五錢，樟腦一錢，研細擦之，以去病根。</p>
<p>精豬肉兩大片，以甘遂末一兩拌之，五更時挾腋下，至天明，以生甘草一兩煎湯飲之，良久瀉出穢物，須棄野地中，恐氣傳人也，五次即愈，虛弱者間日為之。</p>

<h1>杖丹</h1>
<p>預備夾棍方　用肥皂子水浸透，去外黑皮，用里白肉並仁杵如泥，如明日用事，今晚以此敷之，上至腳臁脡一節，下至腳底板心，並指甲內處處敷勻，不可有一毫空隙處，用油紙包之，外用裹腳纏足，其藥與皮肉一樣，顏色不變，雖遭冤抑，略無妨礙，出來時以黃豆漿溫溫洗之，其豆漿須預先一日將豆泡爛磨漿候著用，神哉方也。</p>
<p>夾棍傷　一出衙門，即用熱童便一盆，將足浸之，如便冷，預燒紅磚二塊，淬之即熱，直浸至童便面上浮起白油，其傷盡出矣，不𭼊不⿸疒貢。再用肥皂搗如泥，雞卵清和塗傷處，以草紙包，裹腳縛緊，一夜不可動即瘥。</p>
<p>又方　豬油四兩，胡椒照人一歲一粒，搗爛敷上紮好，勿洗去，並勿解動，一夜亦瘥。</p>
<p>夾傷骨未碎者，土牛膝搗敷；骨碎者，土鱉蟲同活蟹搗敷。</p>
<p>夾桚杖傷，死血鬱結，疼痛壞爛，命在頃刻，用麝香一分，冰片三分，乳香、沒藥各一錢五分，樟腦二錢，輕粉、血竭各三錢，共研極細後，將黃蠟一兩，豬板油一兩二錢同化，調藥成膏，貼患處，晝夜流出惡水，即時甦醒。</p>
<p>杖丹　生豆腐、鳳仙花連根葉同杵爛，打出敷上，干則再易，三日全愈。</p>
<p>桑椹二三斗，入瓶內，麻布扎口，放陰處臭爛，過霜後取出，榨去渣，以小瓶收貯清汁，搽上即止痛，二次立瘥。</p>
<p>綠豆粉炒研，以雞蛋清和塗止痛。</p>
<p>玉簪花，手搓熟，貼杖破處即瘥。嫩荷葉貼亦妙。</p>
<p>鳳仙花葉杵如泥，塗腫破處，干則易，一夜血散而愈。冬春須預收乾者研末，水和塗之。</p>
<p>大黃、滑石、赤石脂等分研細，茶湯洗淨糝之。</p>
<p>如受杖後，以蔥頭煮湯揩洗，再將松香四兩溶化，又將蔥一握搗爛，入松香內攪勻，攤一膏藥貼患處，外以棉帛掩上扎定，五六日愈。</p>
<p>杖傷出蛆　真麻油澆之。</p>
<p>杖丹長肉　臘月豬油一斤，黃連四兩，熬至黃連轉焦色，去渣，入白蠟、黃蠟各二兩收之，敷患上，帛紮緊自愈。</p>
<p>血竭、白蠟各一錢，硃砂、輕粉各二錢，研粉糝之，二日即平。</p>
<p>杖癬　細茶二錢，輕粉、乳香、象牙末各一錢，水銀、木香各五分，麝香少許為細粉，雞子黃、蠟羊油調搽。</p>

<h1>閃朒</h1>
<p>諸閃朒，或打傷不出血，但有青紫內傷者　先以蔥白杵爛炒熟，將痛處擦遍，隨用生大黃研末，薑汁調塗，儘量飲以好酒，雖三月半年者悉效。</p>
<p>閃腰　木香一錢，麝香三分，共研細，右痛吹入左鼻，左痛吹右鼻，令病手上下之。</p>
<p>閃頸朒腰　硼砂研粉，以骨簪蘸唾沾粉點兩目，淚出即松，三點全愈。</p>
<p>攣閃傷筋，結核腫痛，若使成毒，最難治療，初覺急用火酒燉溫，手蘸輕拍患處數百下，隨以韭菜杵爛，罨一周時，次日再拍再奄，以瘥為度，極效。初拍覺疼，宜忍之，拍久則不疼矣。</p>
<p>臂膊脫骱　生地黃搗如泥，攤紙上，糝以木香末一層，再鋪地黃泥一層，貼患處。</p>

<h1>瞽目</h1>
<p>瞽目重明法　淨皮硝六錢，鮮桑根白皮二兩，以新砂罐河水煎透，傾出澄清，溫涼洗之，少頃又洗，每月止洗一次，日期列下。每日須自早至晚洗十餘遍，且須齋戒清心靜養，勿動嗔怒，勿食韭蒜昏神之物，勿犯穢濁，焚香向東洗一年，病深者洗三年，一切目疾皆效。洗眼日期：</p>
<p>正月初五　二月初二　三月初三　四月初九</p>
<p>五月初五　六月初四　七月初三　八月初十</p>
<p>九月十二　十月十二　十一月初四　十二月初四</p>
<p>閏月照前。按世俗誤用桑葉洗眼，甚至損目，方中所用乃桑根白皮，切勿誤傳為桑葉也。</p>

<h1>肝胃腹痛</h1>
<p>肝胃久痛，諸藥不效，或腹有癥瘕，此方皆驗，名梅花丸，孕婦慎用。</p>
<p>綠萼梅蕊三兩，滑石七兩，丹皮四兩，制香附二兩，甘松、蓬莪朮各五錢，茯苓三錢五分，人參或用參鬚亦可，否則用真潞黨參、嫩黃耆、砂仁、益智仁各三錢，遠志肉二錢五分，山藥、木香各一錢五分，桔梗一錢，甘草七分。凡十六味，共研細末，白蜜十二兩搗丸，如龍眼大，白蠟封固，每服一丸，開水調下。此方傳自維揚，吾鄉沈月枝封翁幕於姑蘇時，患心腹久痛，諸藥罔瘳，得此而愈，遂照方配合施送，服者多效。今高芝檢先生家踵其事，求藥者日益廣，但用藥甚奇，其分兩之多寡，亦難測識，謹附錄之，以質博雅。</p>
<p>腹痛　紅棗二枚，巴豆三粒，同杵爛，裹縛臍上，立止。</p>

<h1>截瘧膏</h1>
<p>截瘧膏　硃砂、胡椒各一兩，研極細無聲，瓷瓶密貯，瘧久者用暖臍膏一張，挑藥末一茶匙於膏藥中央，勿令四眼見，對臍緊貼，瘧止勿揭，聽其自落神效。孕婦忌之。</p>

<h1>藥酒方</h1>
<p>愈風酒　陳海蜇（十二兩），馬料豆、嫩桑枝、松針（杵爛，各四兩），醇酒七斤，封浸煮炷香。</p>
<p>喇嘛酒　治半身不遂，風痹麻木。</p>
<p>胡桃肉、龍眼肉各四兩，杞子、首烏、熟地各一兩，白朮、當歸、川芎、牛膝、杜仲、白芍、豨薟草、茯苓、丹皮各五錢，砂仁、烏藥各二錢五分。以上用絹袋盛之，入瓷瓶內，浸醇酒五斤，隔水燉濃候冷，加滴花燒酒十五斤，封貯七日可飲矣。</p>
<p>宮方定風酒　補血息風，甚有奇效。余於辛丑年視伊協揆之證得證方，凡患虛風病者，飲之輒愈，且藥味平和，衰年者頻服，極有裨益而無流弊，真妙方也。但飲貴微醺，不可過恣耳。</p>
<p>天冬、麥冬、生地、熟地、川芎、五加皮、牛膝、秦艽各五錢，川桂枝三錢，絹袋盛之，汾酒二十斤，淨白蜜、赤沙糖、陳米醋各一斤，攪勻，浸以瓷壇，豆腐皮封口，壓以巨磚，安水鍋內蒸三炷香，取起埋土中七日可飲矣。</p>
<p>清和酒　不能斷飲之人可用此法，庶幾飲而無弊焉。</p>
<p>直生地八兩，天冬四兩，銀花八兩，生豬脂一斤，生綠豆一升，耿柿餅一斤切碎，汾酒二十斤，密封浸之，一月後可飲，久藏不壞。</p>
<p>按：酒性熱而火酒尤烈，故浸酒方忌用辛竄之品，以助其虐，而世人往往犯之，殊不合制，惟此四方用藥深有精義，洵為可法，他如神仙、百益、百歲之類，徒有美名而功不補患，幸勿為其所愚也。</p>

<h1>灸火論</h1>
<p>灸火先當辨證論　汪省之曰：《素》、《難》諸書，皆言陽氣陷下者，脈沉遲也。脈證俱見寒在外者，冬月陰寒大旺，陽明陷入陰水之中者，並宜灸之。設脈浮者，陽氣散於肌表者，皆不宜灸。丹溪亦曰：夏月陽氣盡浮於表，今醫灼艾多在夏月，寧不犯火逆之戒乎？或者因火而生熱脹、發黃、腰痹、咽燥、唾血者往往有之，尚不知為火逆所致，寧甘心於命運所遭，悲夫！經曰：春夏養陽。以火養陽，安有是理？論而至是，雖愚亦當有知者焉。又《夷堅志》趙三翁云：世人但知灼艾而不知點穴，又不審虛實，徒受楚痛，耗損營液。有冷疾者，使其仰臥，揉艾遍鋪腹上，若五、六、七月間，就屋上開穴，取日光照射，自然氣透臍腹；如冬春，可用熨斗盛灰火慢熨之，皆以患者鼻聞濃艾氣為度，宿苛自去。按此名天灸，功勝灼焫。藥筒火針亦宜慎用。《仁術志》有論，宜參。</p>

<h1>癆病說附方</h1>
<p>癆病之因非一，總緣情志不舒，所謂七情不損，五勞不成者，真至言也。然有藥治病，無藥移情，故《素問》云：二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，其傳為息奔者，死不治。蓋二陽者，陽明也。陽明為多氣多血之經，衝脈隸於此，苟心之隱曲不伸，脾為思慮所困，則鬱火內燔，營液暗爍，陽明漸涸，衝脈乃衰，血耗風生，汛愆肌削，勢必君相二火升騰，氣逆奔迫而死也。俗謂之乾血癆，惟室女、尼姑、婢女最多患此，孟子曰：女子生而願為之有家，誠以飲食男女，人之大欲存焉，奈何為人父母與主人者之不曲體人情也。若能稱家有無，不攀富貴，遂其所願，嫁不失時，何至玉折蘭摧，噬臍莫及耶？而富貴之家，逸居無教，輒以小說演義諸書，為解悶消閒之事，佳人才子，誘掖成癆，尤易易也。婢女雖非我生，尤當曲加憐憫，忍心久錮，決裂堪虞！更有鄉愚為人所誑，每將幼女送入空門，拂性遠情，慘同桎梏，良可悼也！世人不察，但疑今人元氣日薄，故多勞損，不知古今元氣不甚相殊，七十古來稀，匪由今日始，而人多癆病，實系乎茲。惟望有覺世牖民之責者，嚴禁傳奇小說，毋許鄉民幼年出家，庶可肉白骨於香閨，濟紅顏於壽域，洵造無涯之陰德，豈徒有關於風化而已哉！</p>
<p>虛癆欲火　甘梨汁、胡桃肉研各一斤，芽茶五兩，懷生地、當歸末各六錢，熬至滴水成珠，入雞子清一枚，貯瓷器內，封口勿令出氣，冷水浸去火毒，每晨服一匙。</p>

<h1>慎疾法</h1>
<p>飢飽勞逸皆能致疾，而飽、暖二字，尤為釀病之原。故神農氏播谷之餘，即收藥味，有熊氏垂裳之際，聿著方書，周公贊《易》，於頤卦以慎言語、節飲食二者為養身之切務，古樂府云：晚飯少吃口，活到九十九。放翁詩云：多壽只緣餐飯少。釋氏有過午不食之戒。《寓意草》亦極言少食為養脾之妙法，諺有之曰：禍從口出，病從口入。蓋肥甘過度，每發癰疽，酒肉充腸，必滋穢濁，熏蒸為火，凝聚成痰，汨沒性靈，變生疾病。凡遇時疫流行之際，更為召疾之媒，苟臟腑清虛，素甘淡泊，氣機不為濁壅，邪氣不能逼留，雖感六淫，易於解散，惟內濁既甚，疫氣易招，同類相求，如膠入漆，治之費力，死者恆多，慎疾之人，毋貪口腹。至於勞逸之論，莫詳於魯敬姜。勞力者恆享太平，逸惰者常多疾疚，後人無識，改為飢飽勞役，不但文理不通，亦且僅知有勞傷之病，而不知有逸欲之病矣。噫！此溫補之門所以日開，而炎黃之道所以日晦歟，抑何陋哉！</p>

<h1>治疫方</h1>
<p>闢疫方　以枇杷葉拭去毛，淨鍋炒香，錫瓶收貯，泡湯常飲，取其芳香不燥，不為穢濁所侵，能免夏秋一切時病。若別藥，恐滋流弊，方名雖美，概弗輕試。而薄滋味，遠酒色，尤為先務。外以諸葛行軍散搐鼻，可闢屍穢惡氣。食井中宜入白礬、雄黃。水缸內以菖蒲根浸之。室內頻用大黃焚之。此外皆屬異端，不必惑也。</p>
<p>普濟解疫丹　治濕溫時疫之主方也。《六元正紀》五運分步，春分後交二運火旺，天乃漸熱；芒種後交三運土旺，地乃漸濕。濕熱之氣上騰，烈日之暑下爍，人在氣交之中，受其蒸淫，邪由口鼻皮毛而入，留而不去，乃成溫熱暑疫之病，則為發熱倦怠，胸悶腹脹，肢痠咽腫，斑疹身黃，頤腫口渴，溺赤便秘，吐瀉瘧痢，淋濁瘡瘍等證。但看病人舌苔淡白，或厚膩，或干黃者，是暑濕熱疫之邪尚在氣分，悉以此丹治之立效，醫家臨證亦當准此化裁，自可十全為上。方用飛滑石十五兩，茵陳十一兩，淡黃芩十兩，石菖蒲六兩，貝母、木通各五兩，藿香、連翹、射干、薄荷葉、白豆蔻各四兩。凡十一味，不可加減，生曬研細末，每服三錢，開水調下，日二次，或以神麯糊丸如彈子大，開水化服亦可。</p>
<p>神犀丹　專治溫熱暑疫諸病，邪不即解，耗液傷營，逆傳內陷，痙厥昏狂，譫語發斑等證。但看病人舌色干光，或紫絳，或圓硬，或黑苔，皆以此丹救之。若初病即覺神情躁亂而舌赤口乾者，是溫暑直入營分，酷熱之時，陰虛之體及新產婦人最易患此。急須用此，多可挽回。切勿拘泥日數，誤投別藥以僨事也。兼治痘麻毒重，夾帶紫斑，及麻痘後餘毒內熾，口糜咽腐，目赤神煩，瘛瘲等證。但溫暑直入之證，告危甚速，竟有延醫不及之憾，況方中犀角鎊而煎之，味極難出，磨則需時，緩不及待，亦且價昂，非貧苦人所能猝辦，惟望濟世為懷者，預將此丹配合施送，則患者易於得藥，救活必多，貧人亦可重生，豈非陰德？更望存心之藥鋪誠合出售，僅取工本，獨於此丹不取利，亦不費錢之功德也。方用烏犀尖（磨汁）、石菖蒲、黃芩各六兩，直生地（冷水洗淨浸透搗絞汁）、銀花（如有鮮者搗汁用尤良）各一斤，糞清、連翹各十兩，板蘭根九兩，淡豆豉八兩，元參七兩，紫草、花粉各四兩。凡十二味，不可加減，生曬研細，以犀角、地黃汁、糞清和搗為丸，切勿加蜜。銀花如有鮮者，亦絞汁和入，如汁少難丸，可將淡豆豉煮爛。如無糞清，可用人中黃四兩研入；如無板藍根，以飛淨青黛代之。每丸重三錢，用涼開水調服。小兒用半丸。</p>
<p>玉樞丹　一名解毒萬病丹，俗名紫金錠。治諸中毒、諸癰疽、五絕、時疫、喉風、障氣、水土不服、蛇犬蟲傷、屍疰鬼胎、顛狂驚忤、百般惡證。山慈菇去皮洗淨焙，川文蛤即五倍子，槌破洗刮內桴，千金子淨霜各二兩，紅芽大戟洗焙一兩，麝香三錢，各研細和勻，糯米粥為劑，每料分四十粒，於辰日淨室中木臼中杵數百下，再加硃砂、雄黃各五錢，名紫金片，尤良。</p>

<h1>解鴉片</h1>
<p>鴉片者，云用噶喇吧鴉土所造，故又謂之土。或作阿片、亞片者，音之轉也。產自外洋倭國，故曰洋菸，又曰倭煙，彼處名為「合甫融」。而有烏土、白皮、紅皮三種，烏土為上，彼處稱為「公班」，故有烏煙之名。內有罌粟花之脂漿，芙蓉、葵花云亦可造，台州、福建亦有所產，故有阿芙蓉、葵漿、臺漿、建漿等號。京師稱曰大煙，所以別於尋常菸草也。溫臺人稱曰菸酒，言其能如酒之醉人也。俗謂之掗騙煙，不僅諧聲也，蓋彼外國法禁甚嚴，無一人敢吸此煙者，專掗賣於中國，而騙銀易土，蠱惑愚人。緣此煙吸入，頃刻能遍一身，諸藥無其迅速，氣主宣升，精神隨以上湧，升提日久，根蒂日虛，煙癮日深，銀錢日少，必至傾家、廢業、絕嗣、喪身而後已。五十年來天下之蒙其害者，人所共聞。王子壽所謂挾無形之酖毒，爍九州之膏血，開尾閭之大壑，蕩四民之筐篋者是也。故余目之為妖煙，云其性甚熱，最爍陰津，妄人誤以為寒，余於《回春錄》中曾詳辨之。其生土與未經火煉之煙膏，毒性尤烈，服之昏躁氣絕，甚至殺人，惟濃煎甘草汁，或金汁，可以解之。生南瓜搗汁服亦良。同酒服者難救，同醋服者尤不易救。火上煉過者毒較緩，向不吸此者，誤服亦能殺人，粳米加水搗絞濃汁可救。吸菸醉者，陳豆醬泡湯解之。醬油泡湯亦可。吸菸成癮者，用甘草一味熬膏，調入煙中，吸食二三日，即漸不欲吸矣。方簡價廉又不損人，且無後患，極深之痛一月可斷，但必痛悔堅心，無不神效。並望廣為傳播，俾海內煙癮全除，豈非大幸。又凡煙癮戒斷一二年內，多食南瓜，永無後患。</p>

<h1>勸醫說三則</h1>
<p>勸醫說　黃退奄曰：每見有名醫家，不數年間，必獲厚貲，其間實緣得當而愈人者固多，僥倖而得者亦復不少。宜修合良藥以施貧苦，疏財帛以行利人利物之事，則天亦原其情而賜其福也。莫謂我道勝人，分應坐享，求田問舍，以傳子孫，墓木未拱，已有貲產廢棄者比比也。何如早行善事，以為綿遠之計耶？</p>
<p>《曲禮》云：醫不三世，不服其藥。俗以世業相承為解，實不然也。《橘旁雜著》言：醫必父而子，子而孫，如是則其業精，始服其藥。若傳至曾玄，更為名醫矣。其間賢者不待言，其不肖者奈何？因其世業而安心服其藥，設為所誤，生死攸關，雖愚者不為也。況醫道通乎仙道，遠數十百年，偶出一豪傑之士，聰明好學，貫微徹幽，然其上世並非醫者，舍是人而必求所謂三世者，有是理乎？漢儒謂：《神農本草》《黃帝素問》《玄女脈訣》為三世醫書，醫必讀之，方為有本之學也。梁芷林中丞云：古之醫師，必通於三世之書，一曰《神農本草》，二曰《靈樞針灸》，三曰《素問脈訣》。《脈訣》可以察證，《針灸》所以去疾，《本草》所以辨藥，非是三者不可以言醫，註疏甚明。若必云三世相承，然後可服其藥，將祖、父二世行醫，終無服其藥者矣。又沈歸愚《葉香岩傳》云：先生臨沒誡其子曰：醫可為而不可為，必天資敏悟，又讀萬卷書，而後可借術以濟世，不然鮮有不殺人者，是以藥餌為刀刃也。吾死，子孫慎毋輕言醫。嗚呼！可謂達且仁矣。噫！今之藉祖父聲名，而不學無術者可不鑑哉？</p>
<p>為醫者，非博極群書不可。第有學無識，雖博而不知反約，則書不為我用，我反為書所縛矣。泥古者愚，其與不學無術者相去幾何哉？故柯氏有讀書無眼，遂致病人無命之嘆。夫人非書不通，猶人非飯不活也。然食而化，雖少吃亦長精神；食而不化，雖多吃徒增疾病。所以讀書要識力，始能有用，吃飯要健運，始能有益。奈毫無識力之人，狃於如菜作齏之語，涉獵一書，即爾懸壺應世，且自誇曰儒理，喻氏所謂業醫者愈眾，而醫學愈荒，醫品愈陋，不求道之明，但求道之行。此猶勉強吃飯，縱不停食而即死，亦為善食而形消。黃玉揪比諸酷吏蝗螟，良不誣也。更有文理全無，止記幾個成方，遂傳衣缽而世其家業，草菅人命，恬不為羞，尤可鄙矣。語云：用藥如用兵。善用兵者，岳忠武以八百人破楊麼十萬，不善用兵者，趙括以二十萬人受坑於長平。噫！是非才、學、識三長兼具之豪傑，斷不可以為醫也。父兄之為子弟擇術者，尚其察諸。</p>

<h1>穩婆說</h1>
<p>穩婆說　按難產自古有之，莊公寤生，載於《左傳》，故先生如達，不坼不副，詩人以為異徵。然先生難而後生易，理之常也，晚嫁者尤可必焉。第亦有雖晚嫁而初產不難者；非晚嫁而初產雖易，繼產反難者；或頻產皆易，間有一次為難者；有一生所產皆易，一生所產皆難者。此或由稟賦之不齊，或由人事之所召，未可以一例論也。諺云十個孩兒十樣生，洵至言也。但得兒身順下，縱稽時日，不必驚惶，安心靜俟可耳。會稽施圃生茂才誕時，其母產十三日而始下，母子皆無恙。世俗不知此理，稍覺不易，先自慌張。近有凶惡穩婆，隨身攜帶凶器，故為恫嚇，使人不得不從其策，要取重酬，操刃臠生，索謝去後，產母旋以告殞者有之，從此成病者有之，奈貿貿者不知墮其術中，翻豔稱其手法，忍心害理，慘莫慘於此矣。設果胎不能下，自有因證圖治諸方，即胎死腹中，亦有可下之藥，自古方書，未聞有臠割之刑，加諸投生之嬰兒者。惟騾形之女，交骨如環，不能開坼者，俗名鎖子骨，能受孕而不能娩，如懷妊，必以產厄亡，此乃異稟，千萬人中不得其一二者。如尋常可開之交骨，斷無不能娩之理也。方書五種不孕之所謂螺者，即騾字之訛也，蓋驢馬交而生騾，純牝無牡，其交骨如環無瑞，不交不孕，稟乎純陰，性極馴良，而善走勝於驢馬，然亦馬之屬也。故《易》曰坤為馬，行地無疆，利牝馬之貞，皆取象於此之謂也。人賦此形而不能安其貞，則厄於娩矣。施秋濤室兩次難產，一女一子，並遭臠割，聞余說，方疑其室之騾形也。而適有孕，臨月產一男，竟無恙，始悟前此受穩婆之愚而噬臍莫及也。</p>

<h1>救荒法</h1>
<p>救荒法　按邱文莊公曰：荒歲之民，桂薪玉粒，吸水餐霞，牂羊墳首，水靜星光。業藝者技無所施，營運者貨無所售；典質則富室無財，舉貨則上戶乏力；魚蝦螺蚌，索取已竭；草根木子，掘取又空。面皆飢色，身似鬼形。棄男鬻女，忍割心腸。乞之不足，又顧而他。輾轉號呼，曳衰匍匐。氣息奄奄，須臾不保。或垂亡於茅舍，或積屍於道途。當此之時，非用方術，難以度此厄。然救飢辟穀之方，貴乎簡易，而荒誕不經之藥，流弊反多。茲以平淡而有效驗者錄之，幸勿哂其譾陋也。</p>
<p>馬料豆淘，蒸極透曬乾，如是三次，九次更妙。為粉，柿餅煮爛去蒂核，與豆等分搗丸如雞子大。每服一丸，不用湯水，細嚼以津液嚥下，既能耐飢，且又滋補脾腎，更可任吃粥飯，遠行攜帶，亦可代糧。</p>
<p>黃豆七斗，脂麻三斗，水淘淨即蒸，不可久浸，恐減其力。蒸過即曬，曬乾去殼，再蒸再曬，共三次。搗極熟，丸如胡桃大。每服一丸，可三日不飢。此方所費不多，一料可濟萬人。</p>
<p>糯米一斗淘淨，百蒸百曬為末，每食以開水調之，服至一月，可以一年不飢。</p>
<p>脂麻、糯米各三升，紅棗肉三斤，焙燥磨末，蜜丸彈子大，每一丸，白湯下，可耐一日飢，久服不餓。</p>
<p>守山糧　有心有力者，宜預為製造，以備荒歉。用堅實蘆菔（不拘紅白）洗淨蒸熟，俟半乾搗爛，再以糯米舂白浸透，蒸飯搗如糊，二物等分合杵勻，泥竹壁上待其自干，愈久愈堅，不蛀不爛。如遇荒年，鑿下掌大一塊，可煮成稀粥一大鍋，食之耐飢。或做成土坯式砌牆亦可。以上諸方，價廉物易，諸無所忌，別無所損，既平淡而又神妙，惟願仁人廣為傳播焉。</p>
<p>又周臺公曰：兵荒有警，每每開倉發賑，此自是良有司事，而賑之無法，則好胥作弊，百姓不能沾其實恩。若聽其糶買，則豪右冒充窮戶，糴歸私倉，貧民不能蒙其實惠，此從來積弊也。宜擇各坊寬敞寺觀，照僧家施粥例，先令本坊窮戶預報花名，造成一冊，約計人數若干，每日應用米若干，煮為脫粟，聽其就食，男女有班，都圖有界。越坊覓食者誅，男女混亂者誅，庶幾粒粒皆果貧民之腹，官府又無浪費之擾，其稍能自存者，又恥來隨眾就食，較之聽民糴買，滋弊萬端，大相懸絕。夫貧民得食，則反側潛銷，而富家豪族，皆可藉手安枕矣。按：道光己酉年，浙省大水奇荒，吾杭紳富捐貲，開設粥廠數十所，僅取半值，貧民賴以存活，閭閻得以安堵。今年春，粵匪滋事，江南失守，吾杭貧民失業，洶洶欲逞，亦賴粥廠以安，此等善舉，洵堪垂法於後世也。臺公又曰：兵荒交警，貧富百姓，自宜有無相通，然而不肯捐助分文者，無非欲保其貲財，而與妻子共享富貴也。不知飢寒百姓，死亡切身，甘心應賊，導為摽掠，則洞房曲室，非己所有，賊得焚之；朱提白鏹，非己所有，賊得卷之；粉白黛綠，嬌妻美妾，非己所有，賊得淫之；牽衣執袂，桂子蘭孫，非己所有，賊得戟之。肢體髮膚，並非己有，刀俎惟賊，截解惟賊；祖宗邱塞，並非己有，發掘惟賊，剖戮惟賊，皆由不能散財之故耳。余所以苦口勸輸者，正為富貴之家保全性命，豈區區勸有餘補不足已哉，按：富貴二字，不易享受，須以學問識見駕馭之，用所不當用，則為敗家子；用其所當用，不作守財虜。苟不知此，徒積金錢為子孫計，則多藏厚亡，悔何及耶？臺公藥石之言，的是富貴保全性命之簡效良方也。</p>

<h1>救火策</h1>
<p>救火要策　凡人煙稠密之地，最慮火患，專恃取水近便，庶易潑救。然亢旱之時，河井榦涸，苟非預籌注水之法，將何以杜剝廬之災？乾隆間，揚州余君觀德創設水倉，法美意良，洵善策也。其法：凡人煙稠密，距河稍遠之區，買屋基一所，前設門楹，榜曰：「水倉」，中為大院，置大缸百十隻，滿貯以水，（嚴冬慮缸凍裂，每缸內入以粗松柴一根，另用稻稈結為缸蓋冒之，）復置水桶百十隻，水龍數具，外鐍以鎖，設有火患，開取救滅，極為簡易。附錄此帙，冀各處仿而行之。吾杭素多火患，雖有官水缸之設，不但缸少而貯水不多，且無扃閉，居民傾潑土苴，久則缸碎而水無存矣。亟宜效法，是所望也。至泰西水法所論水庫及作井造次諸法，無不精妙，茲不備載。</p>

<h1>續</h1>

<h2>寡欲說</h2>
<p>寡欲說　沈芊綠雲：男女居室，雖生人之大倫，為聖王所不能禁，然必行之有節，則陰陽和而孕育易。若淫欲無度，則精傷氣餒，神散血枯，由是而潮熱、而骨蒸、而枯槁、而羸瘦、而尪怯，變生種種，年壽日促矣。若夫豔冶當前，姣嬈在側，情投意洽，頓起淫心，因而云雨綢繆，真精施泄，雖此身殆斃，有所勿顧；即不然，或蓬婆相對，村醜相臨，未免有情，因諧魚水，甚至三妻四妾，居室纏綿，衾枕言歡，匪朝伊夕，更有捐茲閨閣，戀彼龍陽，有美孌童，心如膠漆，要皆實有其事，確有其人，興之所到，情之所鍾，所謂一旦相依，誰能遣此者。獨可異者，既無彼美，終鮮狂且，形不必其相遇，目不必其相接，忽然而心動，忽然而火熾，獨居無偶，宛如有女同衾，握手為歡，不啻伊人在御，直身頓足，筋脈都搖，而且火則屏而上炎，精則罄而就下，其為傷損，較之實有其事，確有其人者，為尤甚焉矣。則其精氣神有不歸於竭者哉！（所以婚嫁貴及時也。）余惺齋云：周慎齋謂酒是邪陽，色亦邪陽，邪陽勝則正陽衰，誠至言也。凡人逞欲，藉酒為助，自覺陽強可喜，不知仍靠命門真陽作主，欲既遂而邪陽息，真陽始寧。欲火頻起頻息，真陽必漸用漸衰。或欲起而勿遂其欲，似與真陽無損，然如燈火本明，而於燈下另添一火以逼之，此火漸旺，則燈火漸滅，理更可悟。（凡服壯陽熱藥皆同此理。）尊生者，總以泊然不起欲火為妙也。</p>

<h2>杜癆方</h2>
<p>杜癆方　專治骨蒸癆熱，羸弱神疲，腰脊痠疼，四肢痿軟，遺精吐血，咳逆嗽痰，一切陰虛火動之證，輕者二、三料全愈，重者四、五料除根。若先天不足之人，不論男女，未病先服，漸可強壯，常服更妙。以其性味中和，久任亦無偏勝之弊，屢收奇效，勿以平淡而忽之。方用：</p>
<p>枇杷葉五十六片，刷去毛，鮮者尤良。咳甚者加多，不咳勿用；</p>
<p>紅蓮子四兩，不去心皮；</p>
<p>梨二枚，大而味甘者良，去心皮，切片；</p>
<p>大棗八兩，同煮熟後，去皮；</p>
<p>煉白蜜一兩，便燥多加，溏瀉勿用。</p>
<p>先將枇杷葉放沙鍋內，甜水煎極透去渣，以絹瀝取清汁，後將果、蜜同拌，入鍋鋪平，以枇杷葉汁淹之，不咳者但以甜水淹之，蓋好煮半炷香，翻轉再煮半炷香，收瓷罐內，每日隨意溫熱，連汁食之，冬月可多制，夏須逐日製小料也。</p>
<p>咳嗽多痰，加真川貝母一兩，研極細，起鍋時加入，滾一二沸即收。</p>
<p>吐血，加藕節搗汁同煮。</p>

<h1>成方弊</h1>
<p>成方弊　執一定之成方治萬人之活病，厥弊大矣。昔東坡先生誤信聖散子而作序流傳，後人被其害者，不可勝紀。《續醫說》載宏治癸丑，吳中大疫，邑侯孫磬修合聖散子，遍施街衢，服者十無一生，原孫侯之意本欲活人，殊不知方中有附子、麻黃、良薑、萸、蔻、藿香等藥，皆性味燥熱，反助火邪，殺人利於刀劍也。奈今人偏信乩士之言，請鸞定方，合藥施送，往往亦蹈此弊。孔子曰：好仁不好學。其此之謂乎？故是編於解疫、神犀二方外不多錄者，固由疏漏，亦敬慎之意也。蓋外治單方，凡效驗者，亟當傳布，若內證則病異其因，人殊其體，投劑極宜詳審，設非王道之方，平和之藥，斷勿輕信妄傳，誤人性命。苟廣此說以告人，亦仁者之一端也。若夫世俗相沿，如外感之五虎湯，瘧疾之柴胡薑棗湯，臨盆之催生丹，產後之生化湯，麻疹之西河柳（此物性同麻黃，故繆氏每與石膏並用，殊有奇功，若獨用則大誤也）、櫻桃核，痘科外科之桑蟲、蜈蚣之類，皆人受其害而習焉未察者。更有飽暖之家，無病服藥，如六味丸、八味丸、全鹿丸、歸脾、十全及壯陽種子等方，滋弊尤深，不勝縷述，聊引其概，智者慎之。</p>

<h1>辨《指南》十六條</h1>
<p>徐洄溪所批葉案，頗有可議處，如雲肝為剛臟，未知何出？余謂肺稟堅金之性，而體反虛浮；肝稟柔木之性，而體反沉實，故肺養其嬌，易遭侵克，肝憑其悍，每肆欺凌，是以肺稱嬌臟，肝為剛臟。</p>
<p>批青果汁法丸為杜撰　余按古方丸劑多用蜜，為其味同甘草，有協和諸藥之功，不拘何證，似可通融，且質黏易於凝合，遂相習成風，千篇一律，而不知蜜之為言密也，密者秘也，固也。故蜂王出入，滾成珠團，醞釀之所，不容人窺，何秘如之！蓄奇香者以蜜養之，而其氣不泄，鼎俎家蒸玉面貍與黃雀，必先塗以蜜，雖沸爍而其膏不走，固之道也。且味純甘而性極緩，故惟峻藥欲其緩，脾藥欲其守者，始為合法。否則欲補下者有戀中之弊，欲運中者有鈍膩之偏，欲宣經隧者嫌固，欲開沉錮者嫌秘，自當各因其用而隨時制宜也。青果即橄欖，色青而味酸微甘，用於此證，則清膽息風，蠲痰充液，莫云杜撰，深有巧思，觸類而通，慎毋泥古。</p>
<p>批陰傷及陽為古無此語　余曰即下損及中之謂耳。</p>
<p>批肝陽吸其腎陰為無此病證　余謂肝陽熾而暗吸腎陰，猶之乎鐙炷大則膏易竭，子盜母氣，理所必然。患此者多，可云無此病證耶？</p>
<p>批海參、淡菜為開後人亂道之弊　余謂海參肖男陽，功並蓯蓉；淡菜類女陰，性同烏鰂。古方雖未採用，而鮑魚、雀卵，《素問》已作濫觴，但氣味腥咸，非胃所喜，況究為食品，宜充虛人之饌，入藥力甚緩，而海參更有釀痰滑利之弊，中虛少運者勿食也。</p>
<p>批下損過中難治，為非越人語　余按此即《難經》論至脈從上下之謂也。雖語不如是，而義則同。</p>
<p>批王先生即晉三　余謂殊無的據。又按晉三著《古方選注》於雍正九年，葉氏暨其高弟陸禹川、吳正功為之校讎，而香岩沒於乾隆十年。或謂葉氏曾從晉三學，則洄溪何以不言？而《選注》中亦無門人之稱。合諸書觀之，則晉三於葉氏為前輩耳，非師生也。</p>
<p>批噫即呃逆，病者最忌　噯為飽食氣，非病也，何可併為一證　余按噫，於其切，音醫，痛傷之聲；又於介切，飽食息也。《莊子》大塊噫氣，俗作暖，編書者以噫、噯名篇，於義實贅。昧者讀噫為如字，固不足論，徐氏誤作二證，殊失考也，況噫有不因飽食而作者，亦病也。仲聖立旋覆代赭湯治病後噫氣。徐氏誤噫為噦，謂即呃逆，蓋此湯原可推廣而用。凡嘔吐呃逆之屬中虛寒飲為病者，皆可治也。余嘗以治噫氣頻年者數人，投之輒愈，益見徐氏之僅泥為飽食氣者為末當也。</p>
<p>批肺痹門所列喘咳諸病謂非經義　余按《內經》以秋遇此者為皮痹，皮痹不已，復感於邪，內舍於肺。所謂痹者，各以其時，重感於風寒濕之氣也。又云：肺痹者，煩滿喘而嘔。蓋痹音秘，閉塞不通之謂也。外感之邪，初著於皮毛，漸舍於肺，則治節不行而為煩滿喘嘔也。雖經言風寒濕三氣雜至，合而為痹，而暑燥二氣亦何嘗不侵肺而為痹乎？所以病機之諸氣膹郁，諸痿喘嘔，喻氏謂即「生氣通天論」秋傷於燥之註腳，則喘咳氣逆之隸於肺痹，亦不為謬。惟前列腸痹門，乃便閉之治從開上者。考之經文，腸痹者，數飲而出不得，中氣喘爭，時發飧泄。注：謂腸痹者，兼大小腸而言。腸間病痹，則下焦之氣不化，故雖數飲而水不得出，水不出則本末俱病，故與中氣喘爭；蓋其清濁不分，故時發飧泄。然則腸痹者，乃小溲不通而大便滑泄，上兼喘渴之病也。編書者以腸痹與大便閉同類，殊乖經旨。</p>
<p>批呃門謂仲景治此以旋覆代赭湯為主方　余按病深者其聲噦。《說文》：「噦，氣啎也」。《玉篇》：「逆氣也，即俗云呃忒也」。洄溪誤以為噫，智者之一失也。又謂病者所最忌，是但知下虛沖逆，吸氣不入之呃矣。然實證亦有之，痰阻清陽者宜開，胃火上衝者宜清，肝氣怫鬱者宜疏，府氣秘塞者宜通，即平人亦有偶患者，但啜熱飲或取嚏即愈，豈可專借重一旋覆代赭湯哉？</p>
<p>批此編獨闕傷寒一門　余按香岩有評點《陶氏全生集》一書，嘗引其大父紫帆先生暨乃翁陽生先生、令兄又凡先生諸議論，則其家學淵源，於《傷寒論》、《金匱要略》二書必深討究，所以仲聖諸方，咸能隨證化裁。第傷寒者，外感之總稱也。惟其明乎傷寒之理，始能達乎傷寒之變。變者何？溫也，熱也，暑也，濕也，四者在《難經》皆謂之傷寒。仲聖因之而著論，而治法懸殊，後人不解，遂將四時之感，一以麻黃、桂枝等法施之，自詡恪遵聖法，其如與病刺謬何？間有一二明哲，識為溫證，奈為「傷寒」二字束縛，左枝右梧，不能別開生面，獨葉氏悟超象外，善體病情，世之所謂傷寒，大率皆為溫熱，一掃從前錮習，如撥雲霧而見青天，從劉氏之三焦，分深淺於營衛，當變而變，其相傳者心也；當變而不變，其拘守者跡也。然則善學仲聖者，莫如香岩矣。</p>
<p>批龍薈通便不如脾約丸　余謂蘆薈入煎劑，固非所宜，若龍薈丸大泄風陽，直折肝膽二經逆升之火，頗有妙用，與脾約證大有分別，何可相提並論耶？</p>
<p>批省頭草為蘭乃葉氏之臆說　余按蘭為何蘭，古無所考，寇宗奭、朱丹溪皆以為山蘭，李東璧引眾說以譏之，而據方虛谷之說是謂省頭草。後此修本草者服其淹博，無不遵之。雖劉氏述盧氏《乘雅》、倪氏《匯言》，皆稱善本，亦無異議。惟汪訒庵頗疑町畦賤品，不副雅名。洄溪之論，諒亦本此，豈可謂為香岩之臆見乎？道光間，武進鄒潤安《本經續疏》，始辨定為山蘭葉。余謂山蘭葉以清逸勝，功並竹茹；省頭草以猛烈勝，略同草蔻，臨證施用，各有所宜也。</p>
<p>批瘧門不以小柴胡為主方是背仲聖　余謂瘧不離乎少陽，小柴胡湯是專方，今古相傳，誰不知之。然此但論傷寒之正瘧也，若溫熱暑濕之邪，雖已化瘧，總當以感證之法治之，邵新甫言之詳矣。設拘守其跡，不知變通，而執死法以限生人，惡足以言醫耶？</p>
<p>批熱入血室不用柴胡湯為視之如仇云云　余謂溫熱病熱入血室，不與傷寒同例，《女科輯要》內堯封治驗可證。徐氏之論虛癆也，力辨建中不可輕試，蓋誠知古今病證之有同異矣，豈亦視之如仇，專與相背，抑曾誤用抱疚，而畏之如虎乎？</p>
<p>《友漁齋醫話》云：香岩論溫暑，雖宗河間，而用方工細，可謂青出於蘭。但欲讀其書者，須先將仲景以下諸家之說，用過功夫，然後探究葉氏方意所從來，庶不為無根之萍也。《古今醫案》云：《指南》全部，亦僅數年之醫案，豈足概葉氏之一生。自刊行以來，沾溉後學，被其惠者良多，而枵腹之輩，又藉此書易於剿襲，每遇一證，即鈔其詞句之精華，及藥方之纖巧而平穩者，錄以應酬，竟可懸壺。無論大部醫書，畏如望洋，即小部醫書亦束之高閣，惟奉《指南》，樂其簡便，而不知學之日益淺陋也。嗟乎！豈《指南》誤人耶？抑人誤《指南》耶？</p>

<h2>論《續名醫類案》</h2>
<p>魏氏《續類案》提要病其蕪雜潦草，如腳門載張文定患腳疾，道人與綠豆兩粒而愈一條，謂斷非常食之綠豆。余按此特綠豆下脫一「大」字耳。蓋言得藥如綠豆大兩粒。與蟲門浦南人一案，正相似也。然究不知其為何藥。如腫脹門邱汝誠案，目門周漢卿案之類，共有十餘條，皆不必選者。至於語怪，不止「接首回生」也。如邪祟門金劍鋒子、蔡石戶、章安鎮諸案，及元載挑酒魔、蓬頭驅癆蟲之類，皆可從刪，重出之案，亦有十餘條。且有自注未選入而仍編入者。其脫簡舛訛，尤難僕數。而附載己案，多不註明，直至三十六卷產後顛狂條，始標姓字。況卷首無序無目，顯為草創之初稿，而未經刪定之書也。余悉點出，併為補目，楊素園大令意欲付梓，而為時事所阻，爰附其略於此，以俟大雅教我。</p>

<h2>《溫熱經緯》論暑略</h2>
<p>余纂《溫熱經緯》一書，詳辨溫熱暑濕之異於正傷寒。因古人但以寒為肅殺之氣，而於暑熱甚略也。然嚴寒易御，酷暑難消，熱地如爐，傷人最速。按徐後山《柳崖外編》云：乾隆甲子五六月間，都城大暑，冰至五百文一斤，熱死者無算，九門出櫬，日至千餘。又余師愚《疫疹一得》云：乾隆戊子、丙午、壬子、癸丑等年，暑疫流行，率用大劑石膏，救全不少。紀文達公云：乾隆癸丑，京師大疫，以景岳法治者多死，以又可法治者亦不驗。馮星實姬人呼吸將絕，桐城醫士投大劑石膏藥，應手而痊，踵其法者，活人無算，蓋即師愚也。道光間，毗陵莊制亭重刻其書，余已採入《經緯》而卷帙稍繁，未能授梓，且辨證處方非精於醫者不可，今附暑疫大略於通俗方書，庶世人咸知暑患之烈，而醫家治疫亦勿徒守又可之法為至當也。若王予中《太史白田集》內謂承氣、白虎，孰非為即病之傷寒設，豈可以治溫暑？噫！太史雖深究於理學，殆未深究於醫學乎？至石膏辨云：目擊受石膏之害者甚多，深以繆仲淳、袁體庵為不可法，是亦書生之見也。夫停食不消，因而致死者多矣，豈可歸罪於五穀，以為神農、后稷作俑，而令天下之人辟穀耶？況物性中和，莫如谷矣，而霍亂痧脹，一口米湯下咽，即難救治。故一病有一病之宜忌，不可舍病而但以藥之純駁為良毒也。補偏救弊，隨時而中，貴於醫者之識病耳。先議病，後議藥，中病即是良藥。況石膏無毒，甘淡而寒，善解暑火燥熱無形之氣，凡大熱、大渴、大汗之證，不能捨此以圖功。若兼胸悶腹脹者，須加辛通開泄之品以佐之。第讀書以明理，明理以致用，苟食而不化，則粗庸偏謬，貽害無窮，非獨石膏為然矣。搢紳先生博覽之餘，往往涉獵岐黃家言，或筆之於書，或參贊戚友之病，世人因信其知儒，遂並信其知醫，孰知紙上談兵，誤人不淺，呂晚村是其尤者也。安得如徐洄溪者，一一而砭之哉？</p>
<p>又按：《內經》云：在天為熱，在地為火，其性為暑。又云：歲火太過，炎暑流行。蓋暑為日氣，其字從日，曰炎暑，曰酷暑，皆指烈日之氣而言也。夏至後有小暑、大暑，冬至後有小寒、大寒，是暑即熱也，寒即冷也。故寒字從「冫」，「冫」為水氣，陰陽對待，乃大地間顯明易知之事，並無深微難測之理，而從來歧說偏多，誤人不淺。更有調停其說者，強以動靜分之。夫動靜惟人，豈能使天上之暑氣隨人而判別乎？又有妄合濕熱二氣為暑者，則亢旱之年河井皆涸，禾苗枯槁，濕氣全無，可以謂之非暑耶？況濕無定位，分旺四季，暑與濕固易兼感，而風濕寒濕無不可兼。若云濕與熱合，始名為暑，然則合於風，合於寒，又將何名乎？且二氣兼感者多矣，如風與寒最易合，而仲聖嚴分桂枝、麻黃之異治，豈暑與濕而可不為分別哉？故治暑者須知暑為火熱之邪，然必審其有無兼濕，而隨證用藥，庶不誤人。</p>

<h2>急暑證治（附方三則）</h2>
<p>急暑證　中暑昏迷，病名暑厥，多在旱亢酷熱之時，因吸受暑毒，直入心包營分耳。蓋暑為火邪，心為火臟，同氣相求，不比別邪必由他經傳入也，故告危極速，往往不及延醫診治。世人但知為痧，夫痧者，即客邪驟入，阻塞其氣血流行之道也。阻塞經氣腑氣者為淺，阻塞臟氣者為深。惟暑為陽邪，直犯神明之臟，殺人最烈，而諸般治痧丹丸，類多燥烈之藥，（皆治貪涼飲冷過度，而寒濕為病者之方也，）設誤服之，如火益熱，以致死後渾身青紫，或發斑，或口鼻流血，（凡小兒、產婦患此者，俗皆誤作驚風治之，無不枉死，）聞之慘然，今將救治方法，備錄於此，惟藥品珍貴，購覓匪易，若好善之家，依方預為修合，則病者易於得藥，貧人亦可重生，功莫大焉。外則用銀針刺病人曲池（臂灣）、委中（膝灣）去毒血，再將其口撐開，看舌底有黑筋三股，男左女右，用竹箸嵌瓷鋒，刺出惡血一點。（更將其發解散，細看如有赤發，急拔去之；再看其背上，如有發毛數莖，必盡撥之。宜臥清涼之地，忌飲薑湯、米湯及一切熱湯。）若其舌苔或黃或白者，急以行軍散，或紅靈丹灌之立蘇；如舌色紫絳或苔黑者，暑毒更重也，急以紫雪灌之；灌後不甚爽慧者，營分暑熱未清也，再灌之，或以神犀丹繼之亦可。（口渴用生藕汁及清童便飲之，或以竹葉、綠豆等湯涼飲。）</p>
<p>行軍散　治暑熱直中，頭目眩暈，昏不知人，心腹痞滿，絞腸痧脹，及山嵐障厲，道途穢惡，一切不正之氣，涼水調服三五分。兼治口瘡喉痛，並點治眼目風熱翳障，搐鼻能闢疫癘之邪。</p>
<p>西牛黃　麝香當門子　真珠　梅花冰片　蓬砂（各一錢）　明雄黃（八錢，水飛）　火硝（三分）　飛真金（二十頁）　各藥另碾，俱令極細如粉，再合研和勻，瓷瓶密貯，以蠟封之。</p>
<p>絳雪（一名八寶紅靈丹）　治證如前。</p>
<p>辰砂（水飛）　馬牙硝（各一兩）　明雄黃（水飛）　蓬砂（各六錢）　煅礞石（四錢）　梅花冰片　麝香當門子（各三錢）　飛真金（五十頁）　上藥擇吉日，乾淨室中各研極細末，瓷瓶收貯，熔蠟封口，勿使泄氣。每服一分，涼開水灌下，小兒減半。</p>
<p>紫雪　治暑火溫熱、障疫毒厲諸邪，直犯心經猝死，及溫瘧煩熱發斑，狂易叫走，五屍五疰，痧脹穢毒，心腹㽲痛，急黃蠱毒，鬼魅驚癰，麻痘火閉，口舌生瘡，一切邪火、毒火，穿經入臟，蘊伏深沉，無藥可治之證。</p>
<p>黃金（百兩）　寒水石　磁石　石膏　滑石（各三斤）　以上並搗碎，用水一斤，煮至四斗，去滓，入下藥：羚羊角屑　犀角屑　青木香　沉香（各五斤）　丁香（一兩，洄溪云可用二兩）　元參　升麻（各一斤）　炙甘草（八兩）　以上入前藥汁中再煮，取一斗五升，去渣，入下藥：朴硝（十斤）　硝石（四斤，洄溪云二硝宜用十分之一）　二味入前藥汁中，微火上煎，柳木篦攪不住手，候有七升，投在木盆中半日，欲凝入下藥：麝香當門子（一兩二錢五分）　硃砂（三兩）　二味入前藥中，攪調令勻，瓷器收藏，藥成霜雪紫色，須密貯勿令泄氣，每服一錢，小兒減半，新汲水調灌。（徐洄溪云：方中黃金如用飛金萬頁研入尤妙。）以上三方，藥甚珍貴，初不敢選入《簡效》，然暑邪直犯心包，非此芳香逐穢、清熱通竅之方，不能奏績，且非處處可買、人人能購之藥，特詳載之，以便心存利濟者之易於修合也。</p>

<h2>夏月傷寒略</h2>
<p>夏月傷寒者，因畏熱而浴冷臥風，或冰瓜過啖所致也，乃暑月之陰濕證，非病暑也。輕者香薷、正氣、平胃、五苓等藥，重者大順、冷香等方，譬如避火而溺於水，拯者但可云出之於水，不可云出之於陰火也。昔羅謙甫治商參政與完顏小將軍二案，但用熱藥，俱不名曰暑病。又吳球治暑月遠行人案，直曰中寒。（三案皆載《名醫類案》。）蓋恐後世誤以熱藥治暑，故特舉病因以稱之，可謂名正言順矣。昧者猶不深究，妄立陰暑之名，眩惑後人。若謂夏月傷寒為陰暑，則冬月之紅爐暖閣、羔酒狐裘而患火證者，將謂之陽寒矣。夫寒暑者，乃天地一定之陰陽，不容淆混。惟司命之士，須知隆冬有熱病，盛夏有寒病，用藥皆當諦審其脈證，庶無倒行逆施之害也。</p>

<h2>瘰癧乳岩疔瘡秘方</h2>
<p>楊素園大令曰：瘰癧、乳岩二證，最稱難治，余購得一秘方，屢經試驗，付潛齋刊以傳世。方用丹雄雞金骨一副（生取），千里奔（即驢馬騾修下蹄甲也，五錢），紫降香（五兩），當歸、生甘草（各一錢），槐樹皮（三十寸）。上六味，以雞骨入麻油鍋內，微火煎枯，入後藥，亦用微火煎枯，去渣，二油一丹收成膏，浸冷水中，拔去火氣，不論已破未破，量大小貼之，以愈為度。又一治面疔方甚簡效：活𩺀魚一尾，杵爛，入研細辰砂拌勻，圍之火即漸散，漸微漸小，其疔自拔，百試百中。</p>

<h2>治流注方</h2>
<p>徐洄溪云：流注乃寒痰為風邪所引，竄入經絡為毒也。余治多人，悉以大活絡丹愈之，舍此別無對證之方矣。（按：大活絡丹即俗稱再造丸者是也。其但用二烏、乳、沒、膽星、地龍、六味者名小活絡丹，毒烈異常，慎勿使用，切記！切記！）</p>

<h2>圍藥二方</h2>
<p>吳慎庵云：洄溪以外科獨擅，凡毒初起，欲其不大，故首重圍藥，而方秘不傳。余訪求既久，得其最珍重者二方，一曰束毒圍，用玉精炭（即蜒蚰煅存性）、生大黃（各四兩），五倍子、白及（各三兩），生半夏、白蘞（各二兩），百草霜、礬紅、生南星、陳小粉（炒）草烏（各一兩）、熊膽（一錢）。共研末，以廣膠（化烊）、鮮芙蓉葉（絞汁）、醋量和搗成錠。治熱毒癰瘍發於陽分，盤硬外疼，色紅蔓腫者，醋磨濃塗四圍，空頭；一曰疔圍，專治疔瘡初起，根腳不收，堅硬發麻，用生南星、生半夏、五倍子、磁石（煅）、陳小粉（炒，各一兩），明礬、生軍（各二兩），東丹（六錢），鐵鏽、瓷粉（各五錢），雄黃、蟾酥（焙，各四錢），熊膽（二錢），白梅肉（一兩四錢）。共為末，豬膽汁打錠。</p>

<h2>刺痧法</h2>
<p>吾鄉管榮棠，樂善人也，好施藥。嘗曰痧邪深入血分，必用刺法以泄其熱而通其絡。曩遇桐鄉八十老人張德祥者，善治痧，數十年來生死決其針下，百不失一。凡針入而肌肉凝閉者，必不得生。然其所刺部位，不僅《玉衡》書所言之十處，惜世罕知，囑余錄入《醫話》，以便窮鄉僻壤皆得按證而施救療也。凡痧證頭暈者刺素髎，（穴在鼻柱上端準頭，針入一寸；）頭痛者刺風府，（穴在項後入髮際一寸，大筋內宛宛中，針入一寸；）偏痛者刺風池，（穴在耳後顳顬後，腦空下發際陷中，針入一寸；）腹痛而吐者刺上脘，（穴在臍上五寸，針入一寸；）腹痛而瀉者刺下脘，（穴在臍上二寸，針入一寸；）腹痛而欲吐不吐，欲瀉不瀉者刺中脘，（穴在臍上四寸，針入一寸即愈。）以上三穴，用手極力提起其皮而刺。以上諸穴並不出血。手瘛者刺商陽，（穴在手次指內側去爪甲如韭葉，出血立已。）足吊者刺厲兌，（穴在足次指之端去爪甲如韭葉，出血而已。）刺承筋，（穴在脛後足跟上七寸，出血立已。）刺承山，（穴在腿肚下分肉間，出血立已。）然此穴非精明者不易取，宜慎刺；牙關緊閉者刺人迎。（穴在結喉兩旁一寸五分，大動脈應手處，刺之立開。）</p>
