<header data-type="book">
<h1>痘治理辨</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>汪機</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1531">公元1531年</data></dd></div>
<div><dt>底本</dt><dd>明嘉靖間（1522－1566）新安汪氏刊本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=41e5e636fdf74af398e21f03a9cff2bbfDcyMjM00&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>嘉靖庚寅冬，有非時之暖，痘災盛行，而死者過半，予甚憫焉！於是探索群書，見有論治痘瘡者，纂為一編，以備倉卒易為檢閱，免致臨病而荒忙失措也。世之治痘者，多宗錢氏之論，或用陳氏之方，二家互有得失，罔獲萬全。予心若有所未慊者，而既獲睹浙之桂岩魏先生《博愛心鑑》，其論一本於太極，其治皆出於特見，誠哉度越乎前人而超邁乎等夷者也！予昔之所未慊者，茲皆豁然而慊於心矣！何其幸哉！所論痘瘡皆由於淫火之毒，只此一語，便見其造理之真到也。蓋男女交感，罔不縱情恣欲而扇動五藏厥陽之火。五藏之精血，已自孕有火毒於焉，施化以成男女之形，則兒之五藏百骸非火毒所潛伏。火與元氣不容兩立，殆必待時而發耳。所以多感異氣而發者，淫欲之火亦異氣也。以異感異，譬猶火就燥、水就濕，同類相召，寧弗應乎？予今所輯，以諸家所論列之於前，而以魏君之說辯之於後，庶得以為全書，而凡諸說之同異，得失亦皆瞭然，不復為其所惑矣！書成，因名之曰《痘治理辨》。刊梨廣布，嘉與四方共之，按法施治，庶或免死於非命也，豈忍私之於一家云？</p>
<p><u>嘉靖辛卯十一月長至日新安祁門汪機省之序</u></p>

<h1>題石山痘治理辨</h1>
<p>治小兒方書，余閱之多矣。獨治痘瘡者，卒欲一得焉未也。友人陳惟宜時遊石山先生門，因過之，而以先生所纂曰《痘治理辨》者以示余，且曰：將梓以廣其傳。余披再三，其前列諸家說，而以浙之桂岩魏先生之說辨之於後。撮觀桂岩之說所謂小兒痘瘡皆原男女淫毒所蒸者，實獨見邃理之言。石山先生蚤以文學名，而於百家諸書日不釋手，以求其至理所在，宜其有取於桂岩之說與其方而旨哉。斯《辨》無復辨也。時患小兒痘瘡者，誠於先生之所取者而效法焉，吾以天下以痘為殤者寡矣。且梓以廣其傳，亦庶乎夫子少懷之意也。宜題諸首。時。</p>
<p><u>時嘉靖甲午六月念六日邑人輝山胡希紹書</u></p>

<h1>痘治理辨</h1>

<h2>一、原痘</h2>
<p>魏氏曰：痘者，豆也，象其形而名之也。順其形則順，逆其形則逆，以見前人命名之義有在矣。蓋痘之為證，根於精血之初，而成於淫火之後。男女交媾，無欲不行，無火不動。欲因火生，火因欲熾，精行血就，何莫而非火之所為？且二五妙合，精血鎔治，而成藏府、皮毛、筋骨之形。夫形既成，而火即以中乎眾體，無象無臭，人可得而測耶？毒中必發，特俟其時耳。俟時而發，必假氣血，故痘毒非氣弗領，非血弗載。使氣不盛，則何能逐其毒；血不榮，則何能任其毒？氣血領載之功不前，又烏乎能解？又若痘有稀稠，乃受火有淺深，而其吉凶生死亦皆於此焉分。或遇天行時氣擊動而發者，蓋天地之沴氣與人身之遺毒，同一橐鑰，相感而動，如水流濕、火就燥、云從龍、風從虎之義，而又人之真氣與客氣不容並立故也。予常愍其克害生靈，非天之設，非火之罪，誠父母之過也，明者鑑之。</p>

<h2>二、預防痘疹</h2>
<p>或遇天氣溫熱，恐發痘疹，用犀角、玳瑁二味磨汁服，或用茜草煎汁與消之。未發者令內消；已發者亦能解利，使毒氣不致太盛。</p>
<p>冬月應寒而反溫暖，前人推度，至春陽氣發生，與冬之伏熱相搏，必生痘疹。故於冬月見兒頭髮豎直，飲食似減，此伏熱之兆，便宜預服油劑或升麻湯、三豆飲子、消毒飲子以防之。又云：或有伏熱痘疹未出，四肢微熱，飲食似減，或時額多微熱，宜服生油劑最佳。</p>
<p>《外臺》方云：時行溫暖，便服油劑。</p>
<p>一法：七八月間，收葫蘆蔓，連根留置。十二月三十夜，取蔓絲煎湯浴兒，終身不發痘疹。</p>
<p>一法：取絲瓜近蒂三寸，連皮子燒灰存性，為末，砂糖拌，干吃，入硃砂末尤妙。預服之，多者令少，重者令輕。</p>
<p>一說：用硃砂太早，恐瘡入目。</p>
<p>辨曰：人傳有藥預投兒，服則終身不出痘疹，豈理也哉？痘中於有生之初，寂然不動，感而遂通，此得人身之大造化也。人有三佰六十五骨，應期變蒸諸骨十有三次，五藏六府始能濬通；脈絡行運氣血於身。其蒸熱之時，藏府無不振動；變易之際，經絡無不疏通。又或有傷寒、風熱而泄六陽等汗，諸瘡、癰腫、丹毒，一身之間無不發泄。其痘毒尚不能解，又何藥可以解此毒耶？雖東垣救苦散亦何益於是哉！</p>

<h2>三、痘疹當辟惡氣</h2>
<p>仲景云：痘疹未生之間，宜辟惡氣。著人守門，勿令外人說房，恐有觸犯其中。縱得安者，亦必瘢痕。經年黑色，宜燒乳香，最闢諸惡氣。蓋榮衛遇香則行，遇臭則止故也。腋下狐臭氣、房中淫液氣、遠行勞汗氣、溝糞濁惡氣、婦人經候氣、諸血腥臭氣、硫黃蚊煙氣、吹滅燈燭氣、誤燒頭髮氣、柴煙魚骨氣、蔥蒜韭薤氣、煎炒油煙氣、醉酒葷腥氣，麝香臊穢氣，（射酒兒吃發出，兒聞瘡畜入。）已上皆不可犯，令兒變動，蓋親歷驗也。或曰：田舍小兒犯之，都無變動者。</p>
<p>痘疹正出之時，必資穀氣以養其內，謹避風寒以護其外。若乳哺虧少，邪氣侵襲，為患不淺。能食童子，毋令失飢過飽、觸冒穢汙，房中多掛胡荽，以酒噴之，燒蒼朮、乳檀、降香，使榮衛得香運行甚速，無瘡爛成片、變黑陷伏、臭爛刮痛悶亂之患。</p>
<p>辨曰：世有生人香臭、經水、邪祟而犯之說，甚為不經。但所禁者，煎煿炒油煙，恐傷咽喉，致有不安，然亦無害耳。醫不解理，強以辛燥惡毒發泄中氣之劑投之，痘必隨起隨陷，治者見之不悟己非，反言觸犯，嗚呼！愚哉！予治痘不使內虛，故恆無變易之患，是雖觸冒，庸何傷哉？</p>
<p>又有避風寒、常溫暖之說，此實得治痘之要旨。如痘發之際，不拘四時，要得和暖如春，使其氣血調暢，毒可自釋。慎勿以野處船居者為比，彼則自小風寒經煉，略加遮蔽，則亦和暖矣。</p>

<h2>四、諸熱失治變為瘡疹</h2>
<p>凡傷寒、傷風、傷食、風熱等症，均是熱也。醫者慮熱不解，將為痘疹，早為防備，乃良工也。（預防隨其虛實，或汗，或下，或解毒也。）且如發熱如瘧狀，熱作有時者，潮熱；發熱倍能飲食，唇紅面赤，大小便秘，脅下有汗者，風熱；面赤，鼻流清涕，手足煩躁，自汗惡風，左額有青筋紋者，傷風熱；手足指微冷，面青色慘，耳鼻冷，惡寒無汗，煩躁，左額有青紋者，傷寒熱；眼胞腫，右額有青筋，頭熱，壯熱胸滿，不食腹脹者，食積熱；額正中髮際有青紋，下至眉心，手掌心有汗，面青紅，獨處不安，時發驚悕，手絡微動似驚惕者，驚熱；發熱多渴，渴則瀉者，疳熱；發熱，唇上下汗出，唇中間起一白泡，及耳陰皆冷者，變蒸熱；變蒸之中，偶有時行寒疫者，則耳與陰反熱，此異氣熱也；發熱而皮膚或赤色，熱痛時時驚叫者，丹熱；發熱目閉，面色赤者，胎熱。</p>
<p>且此諸症皆熱也。熱毒蘊於肌中，失於治療，皆可變為痘疹。故傷寒失治，則有胃爛發班；冬溫失治，則有溫毒發班。由此而知，痘疹發熱之初，若能疏散，則不致熱鬱而成痘疹矣。</p>
<p>痘疹發熱則耳冷、鼽冷、咳嗽，又兼五藏見痘為異也。痘疹為內實而生熱毒，由兒在母腹中所受，非若內虛而感外寒之比。蓋古方論云風熱傷胎，生兒口禁；風冷傷胎，生兒躽啼。納汙則為血癖，胎弱則為諸癇，積驚而夜啼，蘊熱而班毒。以此觀之，子之痘疹在母腹中蘊熱毒也，非若一歲中有異氣及暴時疫之比。</p>
<p>痘疹多隨天氣而蒸出，緣兒在母腹中，食穢而成蘊熱，卻能隨天氣非時之暖而蒸出。如冬月應寒而反熱，謂之冬溫，亦有隨春氣暄暖而出者，有因他病發熱而蒸出者，此皆發熱於外，所蘊熱毒隨之出於肌中為痘疹。醫者不能防備，見其熱而攻其熱，殊不知因他病蒸發，而其中有瘡疹痘存焉。方書云：瘡疹與他症相似，疑似之間，宜升麻湯；及已髮結痂疕，亦宜服解利之藥；正患瘡疹並稟受怯弱者，皆不宜用，可用獨聖散、荊芥散、安班散。紅子湯、快班散、如聖散、調中散、犀角湯、化毒湯、紫草木通湯、牛蒡散、紅綿散、消毒散、控心散、奪命散、黃耆散皆可選用。</p>
<p>五太尉因墜鞦韆發驚搐，醫以發熱治之不愈。錢曰：本急驚，後生大熱，當先下其熱，以大黃丸。茲乃用玉露散、惺惺丸加牛黃、腦麝解之，不愈，至三日肌膚尚熱。錢曰：更二日不愈，必發痘疹，蓋熱不能出也。他醫初用發散二三，引熱入表，表熱而痘生。其初驚時，當用利驚丸下之，而與發散，乃逆也。後二日果痘出，以必勝散治之，七日而愈。（驚邪亦異氣也。）</p>
<p>辨曰：痘必感天之乖戾然後而發，而解如磁石引針、琥珀拾芥，以其性類之相感。若或以磁石感芥，琥珀應針，則不能矣。痘之解，必假其氣血，氣血弱而不能製毒，又必籍藥物氣味補益匡扶之力，非謂藥能解是毒也。</p>
<p>又曰：痘毒之火，實陰陽相亢而中。與天之沴氣，（如冬暖、夏寒，乃陰陽之偏氣。痘亦中陰陽之偏氣。）同其軌轍，莫不因時感動而發。猶鏡之取火，鏡中火雖在焉，使無日之晶光相射，則何能發也？是故治痘之要，必須加治於氣血。然氣在內而外不及，則血載毒出為外剝；氣在外而內不續，則血載毒入為內攻。即陽道虛，陰泩從之；陰道虛，陽泩從之之義。非保元湯姜補氣血之過，則不能施其功妙，故用人參以固元，內實則能續衛氣之不足；黃耆以補表，外實則能益其元氣於有餘，而又以桂制其血。血在內，引而出之則氣從內入；血在外，引而入之則氣從外出。而參耆非桂之逐血引導則不能樹其功，桂亦非甘草平和氣血則不能緒其條理，雖則隨其土地所宜，以他藥攻之，終不能出乎四品君臣之要劑也。</p>
<p>錢氏曰：十太尉病痘疹。其父曰，疹未出，屬何藏府？錢曰，胎在腹六十日已成形，食母穢液入兒五藏；食至十月，滿兒胃脘；至生之時，口有不潔，產母以手拭淨，則無疾病。俗以寅連汁壓下臍糞及涎穢，此亦母之不潔，餘氣入藏中。本先因微寒入（因外感微寒，激內之穢熱。）而成，瘡疹未出，五藏皆見病症。內一藏受穢多者乃出瘡疹。初欲病時，先呵欠頓悶，（肝。）時發驚搐，（心。）手足冷，乍涼乍熱，多睡，（脾。）面頰燥；咳嗽噴嚏，（肺。）此五藏症見也，惟腎無候，以在府下不能食穢故也。凡瘡疹，乃五藏毒，若出歸一症，則汗水泡、肺膿泡、心班、脾疹，惟腎不食穢毒而無。瘡毒黑者屬腎，由不慎風冷而不飽內虛也，用抱龍丸數服而愈。以其別無他候，故未發出則見五藏症也，已出則歸一藏矣。</p>
<p>小兒初生，口中惡血，以棉裹指拭之。兒吞惡血，在胸膈者吐，以甘草；惡血入腹中，利以黃連綠豆粉。</p>
<p>《千金》論云：小兒初生，灌生地黃汁數蜆殼而下黑糞，則無痘疹矣。此皆防微杜漸以疏利為良也，何嘗拘於臨發熱時而後利之耶？</p>
<p>辯曰：前人謂痘出之由，言小兒初生時口含胎血，嚥下至於腎經，以致如此。予謂：兒在胞中，氣團於內，血護於外，內外堅固，風氣不通，惟臍帶中隨母呼吸，而水穀之氣窨入兒腹，即胞漿是也，以此長養兒體。如血走漏，其胎不成，或有墮胎者，此則損傷胎血故也。及至降生，根蒂脫於左腎，母氣始離而授於子氣，即從丹田湧出，兒之口鼻鬱悶，不禁頭於體，故從下踴躍而出也，豈有兒含胎血之理？間有降生之際，母血太盛，灌入口鼻者有之。縱使胎血灌入口鼻而嚥下，腸胃開乳之後，亦必從大便而出矣，又豈有進入腎經之事乎？且腎有二：一為腎，一為命門，皆繫於筋之盡處、權骨兩傍，初無門路通腎。況血本有形之餘物，亦母形之餘，何由含兒之口嚥下入腎，藏畜至一歲及六七歲而後始發為毒？且初生兒未經變蒸，一塊氣血，天一生水，故始生三十二日一變生癸，又三十二日一變生壬，凡六十四日氣血始通，表裡配合，足少陰、太陽二經始能用事，其胎血又豈能久留於腹，傳入於腎經哉？誠為不通之說。</p>
<p>又曰：淫者，欲之溢也；火者，欲之極也。夫自男女交媾，恣情肆欲，火熾淫生，縱其烈熾，火毒已遺於精血間矣！精血成孕，藏府、皮毛、筋骨，要皆此火之突然，寧不因時隨勢而發？故曰：痘之所在，皆淫火之所在也。（又曰男女一陰一陽，各盡其道，乃得乾坤之理而成其孕，則不失天地生物之節，豈有淫火於骨肉哉？豈由食母之穢液哉？又豈藥之所能潛消哉？）男子陽盛，淫火起於氣；女子陰盛，淫火動於血。氣盛而稠者，陽毒也；血盛而稠者，陰毒也。陽毒易治，陰毒難理。於此可見，淫火遺患之不細矣！</p>
<p>錢氏曰：瘡疹乃五藏毒。若出歸一證，則肝水泡、肺膿泡、心班、脾疹，惟腎不食穢毒而無瘡毒。</p>
<p>寅卯辰時潮熱，屬肝，當出水泡。（肝之液為淚，淚出如水，其色微青而小。）巳午未時潮熱，屬心，當出班瘡。（色赤而小，以心主血。）申酉戌時潮熱，屬肺，當出膿泡。（肺之液為涕，涕濁如膿，其色微白而大。）亥子丑時潮熱，當出疹子。（色赤黃而淡，以脾裹血。）獨腎無瘡。</p>
<p>辨曰：痘毒出於五藏，而非獨一藏。前人言五藏各主一色，斯言謬矣！然五色固有之，而又不載各藏，治法但用辛熱解毒發散之劑，若此不過攻毒動氣之術耳！痘果可以如此一例治之哉？須察形色之淺深，辨邪正之善惡，治必固真氣以勝其毒，斯為可也。予曾試驗無失。如此者，豈有顛沛之理哉？</p>
<p>機按：水泡，今俗謂之水疥。膿泡，今俗謂之膿疥。疹者，今俗謂之胎麻。每兒常發三、五次，必待痘後乃止。班者，如蚊蚤所齧紅痕也，亦有發丹熛者。此皆兒所常患也。若痘，則始出皆血泡，血泡變膿泡，濃泡結痂疕而愈。未嘗見其備見四症，而後歸於一症也。</p>
<p>錢氏曰：瘡疹初欲出時，五藏皆見病證，先呵欠頓悶，肝也；時發驚搐，心也；手足冷，多睡，乍涼乍熱，脾也；面赤、痰嗽、噴嚏，肺也；惟腎在下，不受穢濁，獨無其症。腎之平候，耳與尻（尾骶骨。）俱冷也。耳、尻屬腎、屬水，又居臍下，若瘡黑陷，耳、尻反熱，乃變壞歸腎，其症為逆。</p>
<p>辨曰：痘出則各經俱動，豈有腎不相干？錢氏、陳氏所論變黑歸腎，此皆過於理也。使能究之，又何致血載毒逆經而出之理？此以保元湯加芎、桂補提其氣，氣旺則諸毒自發，黑者亦將轉而為黃，此乃王道之大也！於嘗留心於此，屢試屢驗，世醫不明其理，竟用峻利致使氣血愈虧，反因治而難救矣！</p>
<p>錢氏曰：一大王瘡疹，錢留抱龍丸三服，又招李醫以藥下之，其疹稠密。錢見驚曰，若非轉下，則為逆病。（恐是原無大熱，不應疹出稠密，若因轉下，則脾胃氣虛，不能運行其熱，故熱鬱而疹發稠密也。）王曰，李已下之。錢曰，瘡疹始出，未有他症，不可下也，但用平和藥，頻與乳食，勿傷風冷可也。如瘡疹三日不出，或出不快已，則微發之；（指身熱不退兼疹不出言。）微發不出，即加藥；（如升麻葛根湯發之，不出，即用分兩加重。）加藥不退，即大發之。（加藥身熱不退，再用麻黃、黃芩等而大發之。）如大發後，身涼脈平無症者，乃瘡本稀，不可更發也。有大熱，則當利小便；（大發之後，尚有大熱，則利小便。）小熱者，當解毒。若出快，勿發勿下，止用抱龍丸治之。瘡痂若起，能食者，大黃丸下之，（指熱尚在言。）一二行即止。今先下一日，瘡疹未能出盡而稠密甚，則難治也。縱得安，其病有三：一疥，二癰，三目赤。經三日黑陷，錢曰：幸不發寒而病未困也。遂用百祥丸，以牛李膏為助，各一大服，至五日瘡復紅活，七日而愈。蓋黑者歸腎也，腎旺勝脾，土不剋水，故脾虛寒戰，（腎旺也。）則難治。所用百祥丸以瀉膀胱之府，府若不實，藏自不盛也。不瀉腎者，腎主虛不受瀉，故二服不效，則加寒而死。</p>
<p>機按：黑陷，初由誤下所致。後復用下法者，正如傷寒下早，邪入於府，復用下法之類也。</p>

<h2>五、痘症與傷寒相似</h2>
<p>大抵痘之初症，與傷寒相似。發熱煩躁、臉赤唇紅、身痛頭疼、乍寒乍熱、噴嚏、呵欠、痰涎，傷寒症候類有之。（此痘疹常候也。）或竄眼、驚搐、噤牙，如風之狀，或口舌、咽喉、腹痛，或煩躁、狂悶、昏睡，或自汗，或下利，或發熱，或不發熱。（此常候之中又兼有此症。）</p>
<p>朱氏曰：痘疹症狀雖與傷寒相似，痘疹治法實與傷寒不同。傷寒所傳，從表入里；痘疹所發，從里出表。蓋毒根於裡，若下之，則內氣一虛，毒不能出而返入焉，由是土不勝水，黑陷者有之。毒發於表，若汗之，則榮衛一虛，重令開泄，轉增瘡爛，由是風邪乘間，變症者有之。汗下二說，古人深戒。</p>
<p>傷寒與瘡熱相混，頭疼，發熱惡寒，鼻流清涕，左額有青紫紋者，感寒也。蓋感寒在表，寒極生熱，熱則瘡疹隨出。若不去其寒，則瘡疹不能出，故表症身熱而喘，宜微汗和解之。里症腹脹，大便秘，小便赤，宜微利之。煩躁渴甚者，但利其小便，胸滿食不下者，宜吐之。皆是去感寒伏熱邪氣也。但用藥不可令太過，太過於表，則為班爛口傷爛赤；過於下，則為痞悶，為內陷，為下膿血。緣有瘡疹隨出，故用藥非感寒之比。</p>
<p>凡覺身熱，症似傷寒，若未經痘疹，疑似未明，且先與惺惺散或人參羌活散。一說：未發、已發，並與參蘇飲為當。痘瘡始作，身熱似傷寒，口與耳少冷，腳冷，或腹痛者，知是痘矣，當大便秘，腮頰赤。若大便自利，面青，手足冷，宜溫之。若藏府如常或秘者，可用蟬蛻散、樺皮湯、發灰飲、兔肉醬、兔毛煎湯浴之。</p>
<p>痘疹初覺似傷寒，面與四肢俱赤，壯熱頭疼，腰背痛，足冷，眼睛或黃或赤，脈多洪數，絕大不定，大便秘，小便赤，雖是痘疹未攻皮毛穴出者，可服疏利毒氣之藥。若痘瘡已結皮毛穴間，微微自出，即不可疏利也。</p>

<h2>六、傷風、傷寒變為痘疹，是汗下失時之過</h2>
<p>辨曰：痘之發，必動於血，血動必犯氣位而熱生矣，是氣血有礙百脈而然也。夫血載毒奔行氣分而出，斯毒有定位，人身之經絡亦必由此而虛耗錯亂矣。蓋經絡者，乃氣血之道路也，故見影后六日，氣血向外傳府，痘必七日發足。又六日，氣血向內傳藏，痘必七日歸結。為因藏府受傷，脈絡自然清理，非謂痘之能傳於經也。痘亦借氣血傳足之餘潤而發而解，何哉？傳府氣血從外生，氣亦向外，痘至七日而發；傳藏氣血從內生，氣乃歸服，痘至十四日而斂，此其天地消長之道也。或痘出毒盛，氣血弱而不能濟其危，將何以實其虛耗哉？故經絡無傳，兒之生命不保七日。內傳外，外不足則內攻而死。又七日傳外，足則傳內，內不足則外剝而死。於此足以見氣血虧而不能勝其所勝，痘之傳變如此，慎不可作傷寒治。先賢謂痘症似傷寒，必有所在，後之醫者，為此而誤多矣，蓋以不明似之義也。</p>

<h2>七、治痘疹汗下宜忌</h2>

<h3>首尾俱不可下</h3>
<p>首尾俱不可下及溫暖蓋覆，不令通風，皆前人所論。其曰：首不可下者，為班未見於表，下則邪氣不得伸越，此脈症有表而無里，故禁首不可下也。尾不可下者，為班毒已見於外，內無根蒂，大便不實，無一切里症，下之則班氣逆陷，故禁尾不可下也。覆蓋不令通風，以其班未出，或身表冷而惡寒，或天令寒而霜冷，故令蓋覆。若班已出，身熱天暄何必蓋覆？</p>
<p>大抵前人之言，隨時應變，以其所可者言之，後人不知其義，故持常而不知變也。噫！首尾俱不可下者，以其始終藏府元無凝滯也，若有一切里症及大便結者，安得不下？溫暖蓋覆，以其發在冬時也，若發在夏，班雖未出，亦不用於此矣。</p>

<h3>可下</h3>
<p>班點未出，內外熱盛，毒在藏府，宜微下之。又曰：痘瘡出定，大便不通，膿汁不幹，亦可下之。由此觀之，當下者，在病之始未出之前及已結痂疕之後，不可於正出之時下之也。</p>
<p>機按：後條痘出太盛，喘促腹滿，小便赤，手足心並腋下有汗，或亂言妄語，大便不通，宜小承氣湯。是正出之時，亦有下者。</p>
<p>熱盛痘瘡未見，乃可疏利，是痘未形見，間毒在藏府，宜預下之。</p>
<p>痘已出足，而結膿窠，尚有熱症見者，當利大小便，此恐里有餘毒未盡，因而生疾故也。</p>

<h3>疏利與轉下不同</h3>
<p>痘瘡屬血熱，轉下屬穀氣。蓋班毒未出，則宜疏散熱毒，導引快利，使無壅遏，何嘗以轉下為法？況疏利與轉下大異。疏利者，如三豆飲子油劑、生地黃茜根紫草湯、升麻湯之類，此皆用於痘疹未發之前也。轉下之法，因瘡疹外熱，藏府受熱，內外皆熱，遂令正患痘疹之中，大便秘，裡急後重，小便赤澀，腹滿而喘，渴飲水漿，手掌心並腋下汗出，譫語妄言，能食，不結痂疕，此是胃中谷氣、痘疹熱毒蒸蘊之甚，方可令大便調過一二次，使里無壅遏之患而已。然亦不可過利，使內虛而瘡陷下也。</p>
<p>班未出前，內有熱症，可下者則下之。若班已出及結痂疕之後，或毒氣在藏，則宣利之；毒氣在肌膚，則疏散之。二者須適其宜也。</p>

<h3>不可下</h3>
<p>大便數日不通，熱蓄血聚，壅遏不行。熱必增劇，不得已則下之。大便既如常，有大熱症者，但利其小便，則雖熱亦不能為害矣。</p>
<p>大便濡泄用下藥而愈者，百中無一。雖或有之，是食積或冷熱不和互相為害，但半補半利，去其食積，分其冷熱，此非正下者也。</p>

<h3>已下不宜再下</h3>
<p>瘡疹未見，已曾利之。今瘡疹始出，則內無壅滯，縱有亦已輕矣。若有熱者，但解毒則熱亦庶幾焉，再利是重虛也，五藏不可再傷。</p>

<h3>小便清不可下</h3>
<p>此無裡熱也。大便堅、小便數，不可用承氣湯，是津液已行於小便，但用麻仁脾約丸可也。大便硬、小便少者，未可攻，此津液當還入胃中，大便自利也。陽明病，自汗出，或發汗、小便自利者，不可下，此表裡皆亡津液也。</p>
<p>古人治病，未有不從飲食、大小便自外而知里也。</p>

<h3>首尾不可汗下</h3>
<p>痘疹症候雖與傷寒相似，治法實與傷寒不同。傷寒從表入里，痘瘡從里出表。蓋毒根於裡，若下之，則內氣一虛，毒不能出，變黑歸腎，身寒耳骫反熱，眼合肚脹，其痘黑陷者有之。（黑陷不特因下，或脾土本虛，不能勝水，故用百祥丸以泄其水。）毒發於表，若汗之，則榮衛一虛，重令開泄，轉增瘡爛，由是風邪乘間，變症者有之。汗下二說，古人深戒。</p>
<p>表實當汗，裡實當下，要當隨時應變。察其兒之勇怯，觀其胃之虛實，審其大小便之通秘，宜汗則汗，宜下則下。當汗不汗，則表熱不解，而瘡有難出陷伏之患；當下不下，則內熱不除，而瘡有變黑歸腎之厄。故汗下二法，須當詳審。</p>

<h3>可汗</h3>
<p>痘疹未出，發熱之初，非微汗，則表不解。其症令人身熱頭痛、鼻塞、咽喉不利、咳嗽、目赤、毛焦、皮膚緊而脈數，此皆熱極為瘡疹，雖順而毒亦不輕，宜微汗解散，則痘出亦輕，如水解散、控心散、麻黃湯等主之。如班已出，切勿用此，有用發散，隨汗為白珠子。有出小紅點，亦由汗而毒氣隨散，不可不知。痘瘡發熱身疼，是時行寒熱，所感未能解也，宜麻黃湯、水解散以解肌，汗出寒熱自已，瘡疹無阻。</p>

<h3>不可汗</h3>
<p>痘稀不可表，但看所蘊熱毒之微盛耳。且痘出雖少，以足心有者為出齊，不可表也。出齊而成血泡，或結膿泡，或水泡，或至痂疕者，皆不可表也。若本稀而強表之，則為班爛，為倒靨，為虛脫，為中寒，為虛熱。</p>
<p>按：此言結膿窠及結痂疕之時，皆不宜汗。別條又謂正患痘疹，遇暴寒所折，膚腠閉密，寒氣結聚，以致膿窠不結痂疕者；或遇暑氣大作，與瘡熱並遏，以致膿窠不結者，若清便自調，知其在表不在裡，當微發散如升麻葛根湯、參蘇飲之類。是結膿窠之時，亦有用表散者，惟當視其症之可汗不可汗，不可以結膿窠痂疕為拘也。</p>

<h3>大小二便不可不通</h3>
<p>凡治痘疹，大小二便不可不通。一或閉焉，則腸胃壅塞，脈絡凝滯，毒氣無從而發泄，眼閉聲啞，肌肉黧黑，不旋踵而告變矣。或小兒氣實煩躁、熱熾、大便秘結，與犀角地黃湯或人參敗毒散。又紫草飲，多服亦能利之。大便秘結，內煩外熱者，小柴胡加枳殼最當，或少與四順清涼飲。</p>
<p>一說大便不通，少與大黃，尤宜仔細斟酌用之。有大便自利，所下黃黑，則毒氣已減，不必多與湯劑，或少與化毒湯，不用亦可。</p>

<h3>大便不通非一症</h3>
<p>所下大結實如慄塊者，風秘也。煩躁引飲，大便秘，小便赤，手掌心、腋下有汗者，熱秘也。嘔吐清水，不能食，面青而瘦者，冷秘也。久病不能乳食，腹不脹，不裡急後重，日夜不大便者，虛秘也。</p>

<h3>嬰兒有疾服藥，但與乳母服之為要法</h3>
<p>嬰兒有疾服藥，但與乳母服之為要法。藥必流入於乳，令兒飲之，免其慓悍毒烈熏蒸藏府。察其病中能食，不大便後重，手掌心、腋下有汗，當令大便如常；或心熱啼哭，小便不通，心神不安，當利其小便。但將此藥與乳母服之，是亦嬰兒服之也。</p>

<h2>八、痘疹發熱</h2>
<p>小兒有病發熱，日數稍久，便當預防為瘡疹。蓋熱不解，而熱毒運於肌中，變為痘疹故也。</p>
<p>方其發熱之初，急須表散，使毒氣出府，則成細疹矣，要在一晝夜熱退為佳。若不表散，毒氣入藏，則成痘矣，如傷寒失於解表，熱鬱而發班毒是也。非微汗，則表不解，乃痘瘡未出、表熱鬱實之時也；非微利，則里不解，在紅點未見、裡熱郁實之時也。若於痘瘡正出未收之際妄汗，則成班爛；妄下，則成陷伏矣。</p>
<p>大熱未見紅點，胃熱潮作，氣粗腹脹，大小便秘，煩渴譫語，脈沉滑而數，此裡熱大盛，宜微下之，則內無壅滯，痘將自出。</p>
<p>熱甚，與升麻葛根湯、人參敗毒散。葛根、紫蘇皆解肌藥。</p>
<p>才覺傷風身熱，未明是瘡不是瘡，便宜發散，用升麻湯。大熱、面赤、氣粗或大小便利，此里無熱，乃表熱未解，宜發散之。</p>
<p>壯熱日夜不退者，劇。痘疹未見，能食者，升麻湯。糞結燥渴者，四物湯合升麻湯加紫草或石膏。不能食，大小便如常，補中益氣湯。</p>
<p>身熱熾盛，則痘出愈難，乃血氣為熱壅閉，毒氣彌盛故也。大便閉、小便如血，此裡熱實也。身上破裂，或生癰疱，此表毒盛也。皆由不善解利之過。宜小柴胡加生地黃、犀角地黃湯，重者四順飲，選而用之。</p>
<p>凡熱不可驟遏，但輕解之。（如升麻、葛根、紫蘇之類。）若無熱，則又不能發。用藥發瘡，當以漸熱，數日瘡疹不出，誠可慮也。欲大發之，懼其瘡本稀，而成班爛、成倒靨；不發，又無以散毒熱，故錢氏論始以微發之，微發之不出即加藥，加藥不出則大發之，大發之後或出不多，或無瘡疹，脈息和平，則瘡疹本稀，不可更發。此皆用藥有漸，可謂善醫者也。熱氣衝心，譫語妄言，宜硃砂、參、苓之類。蒸於肝，則搐搦，狀如驚癇，宜防風、羌活、天麻、金蠍、南星之類。蒸於脾，則腹脹、渴水、目腫、大便秘，宜枳殼、橘、曲、山梔、地黃之類。蒸於肺，則喘急、渴水、咳嗽、鼻乾，宜桑白皮、馬兜鈴、半夏之類。毒氣歸腎，黑靨倒入者，急用豬尾膏、活血散。熱而實者，身熱，大便秘，小便赤澀，脈洪數，或沉大滑數，煩躁悶亂，痰壅，喜居冷處，手足心熱，手心、腋下有汗，吐利而渴，口氣熱，咽燥口乾，喘粗氣急，目睛黃赤，睡中驚悸，譫語昏甚，咳嗽痰盛，面赤頭痛，狂渴汗出，燥渴引飲，身熱腹脹，氣促，手足冷，咽膈壅塞，喉嚨腫痛，治宜清熱解毒。</p>
<p>冷而虛者，壯熱不渴，面青目白，睛不黃赤，懶倦昏睡，大小便利，惡冷，吐瀉，乳食不進或不化，腹脹，自汗，精神慢，氣冷，此宜甘溫之劑。</p>
<p>身熱脈遲　脈數為熱，脈遲為寒，此最驗也。數熱屬府，遲寒屬藏。今瘡在表屬府，而外發熱脈反遲，屬藏而為寒，是脈不應病，陽病而得陰脈也。宜溫之，以活血散、當歸散、人齒散之類。若藏寒下利脈遲者，宜甘草乾薑湯、豆乳散之類。其脈遲者，是胃氣虛冷、榮衛不足故也。</p>
<p>一人年十七，發熱而昏倦甚，脈大似數，與參、耆、歸、朮、陳皮大料濃煎。飲二十貼，痘出。又二十貼，膿泡成，身無全膚。或欲用陳氏本方。予曰：但虛無寒。又與前方，至六十貼而安。至正甲申正月春暖，邑間痘疫率用陳氏方，死者百餘。雖曰天數，吾恐人事亦或未之盡也。</p>
<p>辨曰：如初熱時，或微或盛，三二日身涼，見痘作三四次而出，又尖紅光澤，飲食如常，此其順也。順者不煩，治而自愈。初熱時，或驚悸不寧，或作寒熱，或吐瀉，或腹痛甚者，迷亂不省人事，或悶亂喘急，或連熱齊出，色不光潤，此其逆也。逆者，實則解散，虛則補益。如氣得其圓，血得其附，鮮明潤澤，雖密可治。（此言逆中或有氣員血附，尚可治也。）使其氣也不員，血也不附，紫泡黑陷者，雖稀不治。（此言逆中更兼紫泡黑陷，決不治。）治是者豈可忽諸！</p>
<p>升麻湯方云未發、已發皆可服。夫未發之意，為末見紅點之前可服也，已發之意，為已結痂疕之後可服也。今人執以已發、未發皆可服，曾不知稟氣厚者則庶幾，稟氣薄者為害不淺，遂遲速失度，致於陷伏者多矣！何謂稟氣厚？能食，唇紅頰赤，渴水，睡中譫語，或時啼哭，又遇天氣暄熱，易生痘疹，逐時以少藥疏利心肺，使熱毒皆散，縱有痘疹亦輕矣。何謂稟氣怯？內無蘊熱，雖天氣暄熱，尚面青、大小便如常無熱者，則不可輕用。　又云未能辨認，間可服之。是未見班點之前服之，能消諸蘊熱，而解毒於未然，令內消也。班點已見而服之，反使寒弱出遲，為寒中，為陷伏，所稟弱者最為大害。</p>
<p>丹溪曰：但見紅點，便忌升麻葛根湯，恐發得表虛也。玳瑁湯，治未出內消、已出解利並出得太盛者最良。硃砂膏，治痘已出、未出皆可服，多者可減、少者可無，硃砂為末，蜜水調服。</p>
<p>辨曰：有已出、未出之際，投以硃砂，言能解是毒也。噫！砂非獨用之物，性能鎮心氣而下行，大泄元氣。心乃氣血之主，俾心氣不振，榮衛勢弱，痘必變而失色。予多見蹈此難而不救，又非服食誤俗之可比，則何有解毒致稀之說哉？世用寒涼者不足語其治也，用溫熱者庶乎近理。錢、陳之下，皆不得其門而入，烏足與語治法之肯綮歟？</p>
<p>機按：痘之發熱，必觀小兒勇怯，若形色蒼實，大便閉澀，飲食能進，表實無汗或大熱晝夜不解，煩躁，脈促喘滿者，宜升麻葛根湯，微汗以解之。若大便二三日不通，則利大便；小便赤澀，則利小便。若形色怯弱，大小便通利，飲食少進，或表虛自汗而大熱晝夜不解者，又宜從補中益氣湯消息，或仿丹溪前例以解其虛熱。大便不利，或四物合四君子，多加紫草；小便不利，或四君子、四物合導赤散，庶免妄汗、妄下之失。</p>
<p>辨曰：痘之寒熱，多主於內虛，何則未出一二日間而發者為實？此氣血與毒火相攻，氣血旺而不受邪觸故也。已發之後（指痘發後。）而發者，（指發熱也。）則為虛矣。發於毒盛者，為邪勝；（指二三日間。）發於毒少者，為虛極；（指痘出後。）發於結痂之後者，為餘毒。或用毒藥太過，元氣虛損者，為大逆。或七日前後而獨熱者，為痘蒸氣血，氣血與毒俱盛之過也。（此當專抑其毒。或和解湯，或清涼飲。）或十四日後而獨熱者，亦為餘毒，易治。又有七日前後而毒寒者，為氣血損而獨火內郁，亦毒盛之過也，難治。（此當專補氣血，如保元湯之類。）凡治此者，實則發散，以清其氣道；虛則補益，以固其真元。實以升麻、和解二湯主之，虛以保元或加桂主之。虛不可驟用大熱、大寒之劑，亦不可發散太過，誠恐真元一損，無復有可回之理矣！予治痘用藥，縱則縱，固則固，不使氣血少傷，縱毒入門，如穀神響應之速也！</p>
<p>又曰：夫痘之毒，非熱不能發；痘之出，非熱不能損。惟氣血二者之間得乎中道，斯為美矣。苟有當熱而反不熱者，有不當熱而反熱者，是皆逆之道也。當熱者，毒未出之前，宜大熱以逐其毒，非熱何能達表？當熱反不熱者，毒未出之際，惟只頭溫足冷則不能盡發其毒，致毒反攻其內。此皆氣血盛衰之使然也。不當熱者，毒既出，宜表裡和平，長養氣血，以助毒成漿也。反熱者，毒始出，熱盛則氣血煎熬，往來不寧，不能拘收其毒，毒無出路，甚則氣泄血失之患，皆即此而立見矣。何以知其熱之盛也？（指毒始出，熱盛。）但觀氣粗麵赤，耳⿰鼻丸反熱，耳骫之間平時冷處，今皆熱者，是其症也。然毒未出之不熱，與毒既出而大熱，治宜俱以保元湯加桂，助氣血以逐其毒。（此治反不然者。）前實以升麻湯，虛以和解湯，（此治反大熱者。）以意加減，調平氣血，尚何功之不收哉？</p>

<h2>九、痘出日數</h2>
<p>發熱二日三日，方見微微欲出，如粟米、如豌豆大，似水珠，光澤明淨者極佳。</p>
<p>四日五日，痘出大小不等，根窠紅，光澤明淨者輕。如稠密，或泄瀉、或頂陷、或灰白者重。</p>
<p>六日七日，痘瘡肥紅光澤者輕，如身溫氣促，口乾腹脹，足指冷者重。</p>
<p>八日九日，痘瘡長足，肥滿蒼蠟者輕，如寒戰悶亂，腹脹煩渴，氣急咬牙者至重。</p>
<p>十日十一日，痘瘡當靨，痘痂欲結而愈也。</p>
<p>前人謂小兒虛實不等，不可拘以日數。有熱三日而成班，六七日而生班者，至十餘日而生班者。但足上有班為出齊，出齊之後長成血泡，血泡七日當結膿窠。苟或血泡之中尚有紅班點相夾而生，則又不可拘以日數，待其皆作血泡為齊。血泡七日結膿窠，此乃榮衛調和，內外無諸感冒，方能如期。且如血泡正作之際，遇天冷寒暑燥溫風不節，氣候異宜，因而遲速失序，亦不可拘以日數，但以紅點皆為血泡日為齊。若出血泡七日，病人氣虛尚有紅點，未能皆成血泡者，為毒氣彌盛而不斂，急用豬尾膏，則隨時結痂疕矣。</p>

<h2>十、形證輕重</h2>
<p>重者　一齊並出，密如蠶種，稠密無縫，身溫腹脹，頭溫足冷，皮膚色赤，吐利，五內七孔面目皆有瘡，內黑點或如茱萸，外白內黑灰白色。</p>
<p>半輕半重　外黑內赤，痘瘡夾疹。</p>
<p>輕變重　痘出妄汗、妄下，誤服升麻湯、大黃等藥，不忌口，過飽、失飢，食生冷，飲酒多，信巫不信醫，犯房室，犯穢觸。</p>
<p>輕者　作三四次出，大小不一等，頭面胸腹稀少，眼中無肥滿光澤，裡外肥紅，根窠紅。</p>
<p>順候　春夏為順，先發搐而後發瘡者生。飲食如故，大小便如常，先發熱，熱歇出痘。</p>
<p>逆候　秋冬為逆，春膿泡，（金剋木。）夏黑陷（水剋火。）秋班，（火剋金。）冬疹。土剋水，便血，乳食不化者死。（脾虛。）正出吐利，風攻頤頷，唇腫硬，或胸高突，面腫鼻陷，目閉咬牙，或鼻有黑氣，肌肉黑，面色青黑或因吐利，內虛陷伏；已出妄汗，而成班爛。或冒風，邪成倒靨，（不起發也。）泄瀉不食，瘡成餅搭，燥渴，小便澀，聲啞，臭爛不可近，瘡盡爬破，目閉黑暗，矇昧無魂，頭面腫，足冷至膝，不時努氣，（如用力大便狀。）瘡與肉色不分。已出，身熱、足熱不解，已出，煩躁悶亂。（熱氣復入歸心，心火自焚，用導赤散合白虎或可救。）差後驚搐，飲藥錯喉。（氣逆逐藥之鼻出也。）遍身瘡黑，痘瘡焦黑，其瘡青紫變壞歸腎。</p>
<p>惡候　痘出而復不出，或大泄而渴，此因痘出而服冷藥逼勢，毒在肺中，故煩躁迷悶，不食或大小便難，皆惡候也。已出，譫語不止，瘡帶白膿者，其毒輕，或紫黑色隱隱在肌肉裡者，其毒重。甚者五藏咽喉內有瘡，其瘡不大小兼便澀出血而痛，黑靨不生膿者，死。或見痞以藥解利，而痘反沒者，死。（宜急溫之乃愈。）</p>
<p>瘡作白泡，忽然伏入藏府，漸變紫黑，無膿，日夜煩悶啼哭，其症尤惡。服化毒散，其毒從手足心出乃差。此是五死一生之候。便血瘡爛無膿者死。</p>
<p>目閉腹脹，口中作爛肉臭者不治。大小便秘，目閉聲啞，肌肉黑者，死。又有胃熱，發黃狀如橘色，下利者，死。</p>
<p>痘瘡可畏　不食名渴，（渴飲不食，益黃散、白朮散。）戛齒噤牙，（能令陷伏，是腎虛也。）增寒困倦，（令瘡陷入，是脾虛也。）煩躁體熱，（搖頭者欲生風。）吐逆瀉泄，（食不化而出，並痘後大便膿血。）瘡作黑陷，（內無膿血，或作黑泡，或生瘡跡作黑孔，死。）大小便澀，（三黃丸。）癰塊壅腫，（痘毒變疳，口臭蝕唇，口鼻牙落者死。）喘急痰盛，聲啞氣噎，（或正出或痘後有此症者多死。）咽藥食腸中鳴者死。</p>
<p>已上俱是危症，首尾可畏也。除此之外，皆不妨內犯其一二者。若飲食如舊，雖困重，醫治有可生之理。如飲食減平日之半者，死。飲食如舊，內犯其三四者亦死。</p>
<p>痘瘡不治症　咽物時時噎，喉中搶錯聲。痰喘頭有汗，腹脹氣虛鳴。痘瘡欲出先青黑，半在皮膚帶紫色。昏沉默默又增寒，困頓冥冥都不食。心煩涎盛瀉膿頻，體熱喘粗癰腫極。渴吐戛牙時發戰，毒灌咽喉聲啞咽。</p>
<p>《全生方》云：一病未已，一病復生，五行勝復相乘，其人必死。</p>
<p>痘瘡五不治　癢塌，寒戰，咬牙，渴不止，喘渴不寧；頂陷腹脹，頭溫足冷，悶亂飲水，氣促泄瀉煩渴，皆難治。遍身腫毒大如雞子，紫黑髮喘，忽瀉鮮血，或如死雞肝，或如黑豆汁。唇青黑縮，咽喉腫閉，口舌生黑白色瘡，腹脹如鼓，氣喘煩躁，大熱發渴。鼻內瘡紫黑色，瘡出後通身忽腫如冬瓜，氣喘急促，兩耳口鼻俱黑，四肢逆冷，項忽出大汗，手足身體俱冷如冰，腎丸黑縮，口吐腥臭氣。皮外風面色青黑，手足搐搦，直視吐涎不醒作鴉聲，手反被外風胃悶，喉中涎響，目閉多睡，頭汗如珠，一向大熱，煩躁喘急，服諸藥熱不退。</p>
<p>已上諸症多主危殆。</p>

<h2>十一、痘疹當分輕重治之</h2>
<p>病深藥淺不能去病，病淺藥深真氣受弊。觀其外黑裡白者輕，外黑裡赤者微重，外白里黑大重。青乾黑陷、昏睡、汗出不止、煩躁熱渴、驚啼腹脹、大小便閉者困也；瘡中黑點如針孔者劇。又有風邪搏於皮膚，熱不得泄，瘡變為癮疹，皮膚瘙養者輕，內先蘊熱，外被風邪，瘀血則赤班亦深，甚者五內七竅皆有瘡。</p>
<p>用藥之法，輕者宜勻氣，令其自出。半輕半重者，宜解毒，毒散則輕也。重者宜利小便。大重勢劇者，當隨症慘泄。熱氣衝心，譫言妄語，宜硃砂、參、苓之類。</p>
<p>蒸於肝，則搐搦，狀如驚癇，宜防風、羌活、天麻、全蠍、南星之類。蒸於脾，則腹脹、渴水、目腫大、便秘，宜枳殼散、橘麯、山梔、地黃之類。蒸於肺，則喘急、渴水、咳嗽、鼻乾，宜桑白皮、馬兜鈴、半夏之類。毒氣歸腎，黑靨倒入者，急用豬尾膏、活血散。惟傷風傷寒變為痘疹，是汗下失時之過。</p>
<p>辨曰：余當究痘出之理，血先至而氣後也。血載毒出，至表會氣，氣交於血，血會於氣，氣尊於中，血附於外，痘始形焉，氣始令焉，血聽制焉，於此足見氣血有君臣濟會之道。然而氣血負毒出一步，則內虛一步，氣血負毒一日，則內耗一日。痘有陷塌攻剝之患而不可救，實出於陽氣消礫，有如缸油盡而燈燼不明，田水竭而禾苗不秀，是任位者不能順聽命之情故耳！於此可見氣血交會之難，何況投以發泄之劑而至內備虛耗乎！然則如之何？必須保元湯以保氣血，保氣血以保生靈，猶國家之固邦本。余故得補益之旨之久矣。又推及四時順者，是毒聽命於榮衛也，四時逆者，是榮衛聽命於毒也，又何春夏為順，秋冬為逆哉？余知久雨亢陽則難於痘也，其時陰濕，則天地之氣阨寒，人之氣阨寒；其時旱暵，則天地之氣散逸，人之氣亦散逸，氣血因而自病，則不能成痘之功也。務必加以溫暖，則陰濕自解，暵旱自和。解則抑氣伸焉，和則逸氣收焉。誠能變理人身之氣，何患痘之不痊乎？前人謂重變輕，輕變重之症，雖能之之，不能格之，余嘗究其自矣。重變輕，是任位之盡道也。痘初出雖密，氣血豐盛不失負載交會之情，是任位者任之，致聽命者聽之矣。輕變重，是聽命之不忠也。痘初出雖稀，氣血衰離有失負載交會之情，是聽命者任之，致任位者不得任矣。審其榮衛之弱而變者，則必有陷塌之患。前人又謂大小不一等痘，今人呼為茱萸，妄立名色，非止一端，考諸方書，亦無此說。余嘗推及大小者，是血載毒挾氣而馳，有若噴唾雜然。而散大者如珠，小者如粟，此理必然，厥痘始終不能離乎痘之形色，無乃出於氣血造化之機乎？</p>
<p>壞症不治　譫語，狂煩，恍惚昏沉，崩塌倒陷，寒熱，不灌漿。</p>
<p>辨曰：痘有壞症，而世無可治之術，蓋氣血不得任其所任、位其所位，致使人身錯縱經行之道矣。且人身有一小天地，氣血有君臣之道。五內百脈無非氣血所有，榮衛相生，如魚有水，使氣和於上，血附於下，尊卑之道不失，五內百脈固若金水湯，又何崩塌倒陷之有？如氣弱而不剛，血逆而不順，痘之君臣各失其政，尚何人之五內有可全之理？予審氣血虧盈之妙理調之變之，夫豈有壞之之患哉？治痘不可使血過於氣何也？蓋痘之崩陷，是血過於盈也，不能充滿光澤，是氣過於虧也。虧則血盈之勢愈昌，必載毒上犯陽位於皮肉之間，不發不解，作寒作熱，外剝百脈而不固，內攻五藏而不及。譫語無常，狂煩不定，實因氣之虧損而陷於陰，一任血之所為矣。亦或有妄施散泄之劑，致傷元氣者，或有益血過多，致衛氣反虧者，或峻投涼藥，致氣寒伏者，或肆用熱毒，致氣散逸者，或用以毒攻毒之法，致中氣不守者，或因原患肝有餘、腎不足、脾常怯之症者，或醫不能詳究調燮，而成此症者，一皆氣之虧甚，不能流行五內百脈，以護其神，陰陽反覆，誠血之過惡也。至此欲求其生，而強之以藥，可謂不識大體者矣。觀斯症，恍恍惚惚有若醉者，欲飲不飲，貪嗜之心無厭；昏昏沉沉有如飢者，欲食不食，貪饕之心猶存。此乃魂先散而魄未盡之狀，何以得生？</p>
<p>痘瘡分人清濁，就形氣上分勇怯，又須分氣虛、血虛。</p>
<p>爐灰白者、靜者、怯者作寒看；焮發者、燥者、勇者作熱看。氣虛者，四君子加解毒藥；血虛者，四物湯加解毒藥。</p>
<p>酒炒芩連，名解毒藥。犀角大解痘毒。劉氏曰：犀角消毒發瘡神效。鼠黏子、連翹、山楂、甘草此四味乃始終必用之藥。紫草能導大便，使瘡發出而輕。糯米能解毒發瘡。辰砂制胎毒。絲瓜連皮子燒存性，為末，湯調，發痘瘡最妙，或加紫草、甘草。</p>
<p>調解　活血調氣、安表和中，輕清消毒、溫涼之劑，二者得兼而已。溫如當歸、黃耆、木香輩，涼如前胡、乾葛、升麻輩，佐以川芎、芍藥、枳殼、桔梗、羌活、木通、紫草、甘草之屬，則可以調適矣。</p>
<p>色淡者宜助血藥，歸、芎、酒、芍之類，或加紅花。白者屬氣虛，補氣為主；黑者屬血熱，涼血為主；中黑陷而外白，並起得遲者，則相兼而治。</p>
<p>初出之時，色白者便用大補氣血，參、耆、歸、朮、芎、芍、升麻、葛根、甘草、木香、丁香。大便泄者，加訶子、肉豆蔻。</p>
<p>吐泄食少為裡虛，用前大補氣血藥。不吐泄能食為裡實，裡實而補，則結⿸疒邕毒。紅活綻突為表實，（不藥可也。）更用實表藥，則潰爛，不結痂疕。灰白者屬表虛陷伏，倒靨亦表虛，或用燒人屎，蜜水調服。（機按：陷伏即倒靨，血泡既成，當結膿泡，卻乃平塌，不肯灌膿突起。）將欲成就卻紫色者屬熱，用涼藥解其毒，升麻、葛根、連翹、桔梗、芩、連、桂枝之類，甚者犀角。</p>
<p>將靨時金白色如豆殼者，蓋因初譫語、煩躁、狂渴飲水多者，則後來靨不齊，俗呼倒靨。但服實表之藥，消息大小二便，大便秘利大便，小便澀利小便。古人謂紅點已見之時，紅泡既成之際，蓋謂此時熱氣盡出於表，內藏無陽而里已虛，故嚴加告誡，切莫汗下並投涼藥。殊不知當比屬熱症者多，屬寒症者少，若有煩躁、悶亂、懊憹、顛倒、足熱、面赤、唇乾、鼻燥、狂渴引飲，於此不急投以涼藥則昏悶，死在旦夕。大便實者，雖大黃亦無忌焉！若屬於虛者，其症多靜，雖從緩治，可漸而安。</p>
<p>王氏曰：痘疹屬虛寒者，延正至十數日後方死，屬毒盛，轉紫色者，不過七八日。蓋痘是胎毒，自內出外，二三日方出齊。毒氣尚在內，出至六日則當盡發於表，七八九日成膿而結痂矣。若毒氣不能盡出，過六日毒反內入藏府，故須於六日已前，毒氣該出之時，急服涼血解毒之藥以驅出之。六日以後醫無及矣，故其死最急。若虛弱毒氣少者，只是氣血不足，不能灌膿成就，故綿延日久而後死，此虛實輕重之分也。</p>
<p>近時痘方多用陳文中木香散、異功散。殊不知彼立方時，為運氣寒水司天，又值時令嚴冬大寒，為因寒氣鬱遏，痘瘡不得紅綻，故用辛熱之劑發其壅鬱。今不分時令，一概施治，誤人多矣。時值溫熱，山野農家貧賤之人，其或偶中也。</p>
<p>王氏曰：痘瘡虛怯淡白色癢塌者，此屬虛寒，用陳氏方者率得生。然氣血虛則送毒氣不出，及不能成就，故陳氏方亦千載秘訣也。溫補之法既行，而解毒之旨遂隱。若發熱壯盛、齊勇紅紫躁癢者，此屬熱毒，急宜涼血解毒。概用陳氏溫補，多不救矣。</p>
<p>辨曰：宋錢氏仲陽，所立小兒一科之鼻祖，而繼之者，陳氏文中也。二家治法之精，後世莫加焉。雖然，錢氏治痘用百祥丸，則過於治矣，後人不得其旨，未免致折傷之陋。陳氏用異功散亦過於治矣，且太陰肺經氣以之為主焉，痘得氣負之力而能外解，何得反用木香，令其肺氣蕩泄，則烏乎有製毒之功？又，用丁香、附子大熱之劑，人之氣血既弱，而徒以熱攻之，是猶鐺中無水，更加以薪，則湯氣又安得而上蒸以腐熱其物哉？或者錢、陳之法多利於西北土厚風銛之地，氣受必堅，體稟必厚，用此必中。已上皆未可為傳世之要劑，東南諸家或有宗而用之者，是亦不知痘之理也。</p>
<p>初出之時，須看胸前。若稠密者，急宜消毒飲加黃芩（酒炒）、山楂、紫草，減食加人參。</p>
<p>已出者，疏則無毒，密則有毒，宜涼藥解之。</p>
<p>王氏曰：痘多者是毒氣多，便宜解毒。且多則恐氣血周貫不足，隨後亦宜兼補藥以助成膿血，先當少與化毒湯或絲瓜散。</p>

<h2>十二、痘疹治法</h2>

<h3>痘瘡初出</h3>
<p>辨曰：人非氣血不成形，氣血非水穀不長養，故人之身，根乎內者曰神機，根乎外者曰氣血。氣血者，神機之充；神機者，氣血之帥，二者旋相交養，此其生生之道者焉。然天地之元氣大而難虧，否而易泰，吾人之元氣薄而易壞，剝而難復，此不易之理，故人之性命惟系乎補之何如耳？且痘毒客於百骸，必賴氣血剋制之力，始得存乎生命。痘毒之發，奔馳脈絡間，血不縱其毒承載上行，氣分不容其毒拘領逐散肌表，斯毒於元氣無妨矣！是以毒苟既盛，使血氣足以領載，則正能勝邪。氣血一敗，則邪反勝正，中氣於焉不固，神機於焉不守，神門於焉不禁，血無氣領，毒反內攻。嗚呼！元氣至此，直一線耳。苟非保元湯內固外護，毒之為害，烏可勝言？予嘗痛峻藥者，峻藥多熱毒，其性趫猛，其氣燥烈。（如異功散類。）兒服之後，蒐藏搗府，一時駕毒並氣血沖達肌表，雖得快於一時，殊不知寇盜雖出，內備已虛，寧可保其寇不復入乎？將見氣血受害，真元愈耗，一快之後，百悔並來，兒不死也何待？愚故曰：治痘宜補者，即王者專行王道也，雖若迂緩，而自有益於久遠。治痘用攻者，即伯者務行伯道，雖暫快利，而必無補於治道也。</p>
<p>驗唇口可知痘吉凶　口疳，肺⿸疒邕。唇口者與五內相通，能辨五味，為飲食節送之門戶也。故血氣之盛衰、受毒之淺深，觀於此，足可以知內症之吉凶矣。痘未出時，宜紅活如常，不宜燥烈乾紅。如見黃白赤紫而不潤澤者，或見氣粗熱盛、舌白至唇濕處而胃爛者，是皆不治之症矣。</p>
<p>又如唇上痘出相連，諸痘未漿，而此痘先已黃熟，則其毒內攻已成，使毒亦難成漿者，尤為不治之症矣。間有氣血下陷，毒攻唇口，糜爛成疳。疳雖成矣，若得黃白膿水出者，此又差可治也。又有色如干醬，其肉臭爛，一日爛一分，則二日爛一寸，名曰走馬疳者，世無可治之方矣。若彼痘未褪謝，連唇口結乾紅渣滓、頰紅唇紫之症，此乃欲成肺癰，治以解其毒、清其肺熱，此宜解毒湯加陳皮、歸、芍、桔梗、黃連，甚則大連翹飲。若又轉加痰喘作嗽，以參蘇飲主之。醫者工巧，而此亦可治。</p>
<p>調解　痘瘡初欲出時，身熱，鼻尖冷、呵欠、咳嗽、面赤，方是痘出之候，宜服升麻葛根湯加山楂、鼠黏子，或鼠黏子湯、惺惺散、紫草飲子解利之。其瘡稀疏而易愈，此則里不至冷，大便不至利，氣實者可用之。（若痘已出，尚有小熱，小便不利者，八正散、導赤散。）出後或嗽吐，食赤茯苓湯。</p>
<p>發表　痘疹皆因內熱與外熱相合，隨榮衛運於肌膚而成痘疹。夫外熱者，或感風感寒，風熱驚熱，皆外邪而生熱，失治於治療，邪氣實，實則生熱，故為外熱也。是故或感風寒，閉塞腠理，而痘疹不出。或出紅點或血泡，其肌膚青白，而惡寒，鼻流清涕，耳與陰皆熱，宜與表散，如正氣、惺惺散、活血散、紅錦散、紫草湯，皆表散藥也。</p>
<p>身熱煩躁、氣喘脈促、不見班點、其熱未退者，以麻黃等湯發之；若已出班點，則止後服。</p>
<p>攻裡　痘疹未出，胃熱溫壯，氣粗腹脹，大小便赤澀，睡中驚悸，煩渴口乾，脈沉大滑數，比是毒盛而不能泄，宜利毒丸下之。里無滯氣，榮衛升降，痘自出矣。</p>
<p>溫里　痘毒正盛，因煩熱而食生冷，或服涼藥過度，以致或吐或瀉、腹痛不食，宜與溫里。如理中丸、益黃散、五積散、治中湯之類，皆溫里藥也。</p>
<p>或稟受弱，脾胃怯，或食冷，令兒手足逆冷，脈息遲細，大便溏，小便清者，炮乾薑、炙甘草湯，豆蔻、丁香、參朮丸可選用之，此溫里令自出也。或以胡荽酒灑之，葡萄酒飲之，又火煅人齒散酒調服之。此皆內虛自利陷伏者可用之。</p>
<p>醫者不明裡寒不能運出，法當溫之而反發表；或外寒所伏不能發出，法當表之而反攻裡，此皆醫殺之也。</p>
<p>解毒　痘瘡不出，亦有瘟毒而不出者，以地黃、雄黃飲之，不可過多，多則反有損。</p>

<h3>痘疹出遲</h3>
<p>調解　一半血泡，一半尚是紅點，此毒氣發越未透，必不能乳。若大便如常者，宜四聖散、絲瓜散或理中湯。</p>
<p>發表　蓋小兒熱毒在內，又遇冬溫，或春夏暄暖，內外皆熱，郁發腠理，遂為痘疹。始出先為紅點，當此或遇天氣大寒，肌膚閉密，毒氣反伏而不出，則身涼內燥、面青而煩，或譫言妄語，宜用解肌表出之。藥如紫草散、猴黎酒，以瘡毒未甚出也，發散如活血散之類。</p>
<p>溫里　有紅點方出於外，或內虛，或食冷，或投冷藥宣泄，致令藏府虛冷，不食自利，亦復陷而不出，宜用溫里之藥，如活血散、益黃散、參朮丸之類。</p>
<p>有因下利，四肢厥逆，腹脹，咳逆，此由裡寒氣不能出故也。急宜薑、附、理中等藥溫之，否則胃氣裡虛，恐內陷也。</p>
<p>攻裡　半出半未出，大便不通，喘急，腹脹，煩躁，大渴，譫語狂妄，氣粗口熱，稟賦壯實，其脈沉實者，乃里熱彌盛。且微利之四順飲。否則毒氣太盛，昏悶而死。</p>
<p>半出半不出，此毒氣半在裡而不出盡故也。或盛出，大便不通，小便赤澀，喘粗腹脹，唇乾口燥，引飲譫語者，當急下之，此由毒氣彌盛而內外皆熱。若大便裡急後重，當令大便潤過則內不燥，自不裡急後重矣。腹不脹者，且利其小便。</p>
<p>或謂當下，恐毒氣復入；或謂當溫，宜助胃陽運出。大抵用藥，或冷或熱、或補或攻，隨症輕重，以救一時之急，不可拘以常法，又不可藥劑太過。</p>

<h3>痘出未透</h3>
<p>宜四君子湯加黃耆、紫草、糯米。元醫曰：百病不可損其胃氣。故多用四君子、糯米等以助胃氣。</p>
<p>調解　出遲者，宜活血散、人牙散以發之。發之班未出者，乳香、豬心血丸。出而不盡透者，以豬血、麝香塗手足心、唇上，最為要妙。或以紫草散、蛻殼散，隨寒熱虛實投之。</p>
<p>有班點見齊，血包結起遲者，若便秘、渴而腹脹，宜勻氣解毒，甚熱者宜利小便。有正患痘疹，中遇暑氣大作，或煩渴咽痛，或喘滿作渴，此乃暑熱與瘡熱並遏，壅滯而出不快，宜白虎湯、荊芥散。有大小便秘，氣壅遏而出不快，宜紫草木通散。有痘疹發而不出者，鉤藤紫草散。有氣澀出不快者，滑石散。（取活竅也。）氣虛，蛻齒散、活血散。有傷寒不語，瘡疹不出，幹人糞散。有瘟毒既發，痘疹不出者，地黃豆豉散。</p>
<p>發表　有遇天氣暴寒，膚腠閉密，寒氣結聚，而出不快，宜麻黃、正氣之類。</p>
<p>疏利　有紅班點出，日數未盡，（以足底有班為出齊。）其內實而肌熱者，宜疏利之。痘出未透，心煩狂躁，氣喘，妄語或見鬼者，此熱盛也，宜龍腦膏。有痘出太盛，內外熱氣壅遏，血蓄結聚，令兒能食，腹脹不大便，煩躁而渴，手掌心有汗，喘滿而出不快，此由毒氣與心火貫注，無陰氣以斂之也，宜乳香豬血膏。</p>
<p>溫里　痘疹隱隱不出，熱蒸而為痘疹，使內虛而無熱以應之，故痘疹雖見，則外無壅盛之氣而不得泄，內又無由復入，當此其人面青惡寒，肌肉慢而不入，精神昏倦，令瘡似出而不得出者，內虛寒也。或身熱面赤，大便利，小便清，有此症者，但溫中，進食，則榮衛自復，其痘隨多少而出矣。若見瘡疹出遲，不能溫里，卻用發散，豈知內無陽氣相應，更發陽氣外出，故瘡色白，此為虛脫而益危殆。</p>
<p>血泡出甚，亦令內虛，虛而自利者，宜溫里。泄甚者，至於薑、附、硫黃亦可用。有瘡中煩躁，飲冷過多，使胃冷，無以運行榮衛，致中滿而出不快，宜理中湯、薑黃散、活血散。</p>

<h3>痘疹不出</h3>
<p>調解　有榮衛虛不能出者，惡寒，面青白，肌膚慢，似出不出者是也。當和榮衛，如活血散之類。有誤服表藥過多，遍身成一片謂之班爛者，宜安養之，如六神、七珍散、內補散、雙和湯。暑天胃熱煩渴，昏迷，瘡出不快者，白虎湯，或五苓散去桂加辰砂，用生地黃、車前草、麥門冬煎湯調下。</p>
<p>班點已見血泡。期七日而結膿泡。今一半尚為班點，未全為血泡者，緣瘡疹遇冬溫或春月陽氣乍暄，小兒為暴熱運行，內熱出外，天之暴熱一退，（大抵四時寒暑從漸而深，其非節之氣來暴而去速也。）小兒外盛而裡虛，裡虛則無陽以應瘡疹，故出遲，令半為班點、半為血泡。當此必不能乳，大便如常，小便清白，宜用半溫里、半發表之藥，如紫草、蟬蛻、芍藥、葡萄酒以表之，活血散、人牙散以溫之。小兒氣血虛弱，或風邪穢毒沖觸，使痘毒陷伏不出，出而不勻，宜內托散，內托瘡毒使之盡出，易收易靨。痘疹已出不能遍勻，前人治法透肌解毒而已。使氣無壅遏，則自然出勻，用必勝散、快毒丹令出快；紫草飲、胡荽酒自然勻順。</p>
<p>解表能為力　有已出被風所感不能出，或發熱，或狂言，或風搐，或遍身青紫紋，此當發散，如惺惺散、殭蠶散。正出之時，被天氣寒冷所折，毒氣反伏而不出者，其症精神昏冒，面青發熱，或譫言妄語，宜解肌表出之藥，如活血散調解發散。參蘇飲治外為風寒所折，內為飲食所傷，內氣壅遏，大小便閉者。若出不快，清便自調，知其在表不在裡，當微發散，宜升麻葛根湯加味、四聖散、紫草飲子、紫草木香湯、紫草木通湯或快班散、絲瓜湯。</p>
<p>解表攻裡　瘡疹伏內不必出，頭痛惡寒，身有大熱，口鼻熱，咽乾痛，口頰生瘡，兩目如火，耳尖手足指冷，脈洪大，作渴，面赤心逆熱，口臭，此是伏陷之候，先當去熱毒邪氣，用大黃煮湯盪滌其表熱，表熱散則諸疾皆愈。昧者用巴豆、水銀、輕粉，但能去藏中驚涎積熱而已，無去表熱之理，反傷藏也。</p>
<p>溫里　有胃虛不出者，或吐或瀉，不食可見也，宜溫之，理中湯或異功散。有已出而服涼藥生冷，致內虛沉伏不出者，令瘡黑靨潮熱、啼哭；或白色腹脹，口氣目閉，四肢微厥者是也，宜人齒散、理中湯。有正出盛服涼心藥，沉伏在裡，發寒戰靨伏者，宜丁香、豆蔻、薑、桂、當歸、附子。有本虛少用藥大發之，出得正盛，忽然氣脫者，此里本虛也，如丹砂、養氣、理中、益黃之類。內虛甚則生寒，寒則大便或溏或泄，宜理中、益黃、丁香、豆蔻之類以溫里。里溫與肌膚相應，血氣溫深，方能蒸出不陷伏矣。</p>
<p>薰解　有出甚被穢氣熏觸，則成血片，宜胡荽酒燒乳香。</p>
<p>論口大熱、紅點未見之時，此內外熱毒蘊蓄也，或發表，或攻裡，隨症治之。班點已見，血泡將成，此陽氣盡出於表，內藏胃氣已虛矣。不可發表，不可攻裡，大熱宜利小便，小熱宜解毒。發表則成班爛，攻裡則內愈虛，瘡毒乘虛入里，變黑陷伏者有之。膿泡既成，已結痂疕，此毒氣出盡，熱氣已寒，若有他症，或發表，或攻裡，隨症治之。</p>
<p>辨曰：夫痘，內毒所感也，風寒外邪所感也。若痘出不快，蓋因風寒橫塞阻絕，無路可出故也。痘未發之初，以升麻湯、和解湯量輕重治之，既出之後不解，（痘不起發，或熱不退。）以保元湯加薑、桂主之。及至行漿之次又未解，（不灌膿，及熱不退。）當以保元湯加薑、桂，連服二次於前，乃以水楊湯暖沃於後，此湯大能滌去風寒，內外相攻，風寒易去，痘毒豈有不發之理？不可峻下、解散、發泄之劑，皆傷氣血交會之機，故毒內攻多不救也。</p>
<p>俗謂以毒攻毒。</p>
<p>辨曰：痘之發，系乎氣血也尚矣。苟氣血盛，則能歸附成漿而毒可解。若氣血弱，則無所乘負其毒而毒難痊，所以有內剝不起，有起而不員混，有員混而不成漿，有頂陷而不起發之惡症，是皆氣血而不自任故也。但人不悟其理，以蟲魚腥膻毛血牙骨鱗角等毒藥投之，發其中氣，以毒攻毒，理難並勝。痘雖不得已而出，少頃中氣歸復，氣血不外旺矣。藥氣少歇，則其毒反攻於內，其勢較烈，再將何法以治哉？即此可見氣血有乘載之效，用藥有王道之大也。間有百數兒中稍得一者，特其兒之氣血本厚耳，豈可以一例行之乎？</p>

<h3>痘出太盛</h3>
<p>調解　牛蒡甘草散，一發便密如蠶種者，合輕其表而涼其內，連翹升麻湯。痘出，太盛，面黃，大便黑色，煩喘躁渴，或腹脹者，此由當汗不得汗，內畜瘀血，宜犀角地黃湯。痘出太盛，躁渴者，甘草散，未出者亦可服。出太盛者，人參敗毒散、犀角地黃湯。</p>
<p>一說人參敗毒散泄氣藥也，犀角地黃湯涼血藥也，氣壯者固宜泄氣，怯者又須詳審；血熱者固宜涼血，若血虛胃弱又須斟酌。</p>
<p>痘出太盛，有因毒氣太盛，失於解利；瘡中吐衄，致瘡太盛，其害尤速，宜抱龍丸、生犀汁、小柴胡湯加紫草、糯米、生薑煎服。</p>
<p>一發便密如針頭，形勢重者合輕其表而涼其內，連翹升麻湯。</p>
<p>發表　痘出太盛，煩喘甚者，麻黃黃芩湯。痘出太盛，煩喘咽痛而嗽者，麻黃湯入麝香尤妙。班點已發密重，微喘，欲飲水者，有熱也，用去風藥微發下之。</p>
<p>攻裡場　痘出太盛，喘促腹滿，小便赤，手足心並腋下有汗，或亂言妄語，大便不通，宜四順飲、小承氣湯。下後諸症悉退，不可再下。</p>
<p>辨曰：淫火逆順，（必使道心為主，人心聽命謂之順。若恣情肆欲，縱其火毒謂之逆。）毒受淺深，則痘之稀稠可見矣。蓋稀如匝豆，則毒不能勝其氣血，雖不治，其邪自解。間有氣血弱，而為風寒所侵、泄瀉所陷、毒藥所傷者，亦有可死之理焉。（痘雖稀而犯此數者，亦須補其□氣，不治亦死。）稠如綴粟，則氣血不能勝其毒，其毒反勝，火動生風，鼓舞血氣，血氣柔弱，則無以當其邪，表裡為之不順，榮衛為之不調，十二經絡百脈七竅皆為之壅塞，如此豈得而療乎？間有血氣勝其毒者，其形員淨不連，其色紅活不滯，（痘雖稠，若形員不連，紅活不滯，尚可治也。）大如保元湯連進數服，防其倒陷損爛癢塌，斯為要法。</p>
<p>氣血虧盈　辨曰：痘之為症，不可使氣血之有虧盈也。蓋氣體天而常親乎上，血體地而常親乎下。氣有生血之功，血無益氣之理。是故氣不可虧，虧則陽會不及，而痘之員暈之形不成；血不可盈，盈則陰乘陽位，而痘之倒陷之禍立至。如此者，則交會不足，外剝內攻之大害不復有可拯矣。治道必須益氣之虧，引血而入，血入氣盈，盈則能制血之有血餘，可以保合天和也。</p>

<h3>陷伏倒靨</h3>
<p>內虛不能盡出者為陷伏，外被風寒所逼，或穢氣所觸，不得出者為倒靨，必有症相雜。紅點見至數日而反不出此者，此為毒氣陷伏，其症危也。</p>
<p>調解場　毒氣入藏不出者，腦子豬血酒。瘡子反入，抵聖丸、救生散、玳瑁散、化班散，皆治熱毒盛毒氣倒靨者，非治裡虛吐泄不食而倒靨者。有因煩躁惡熱掀揭衣被，或值天寒為冷氣所侵，或為乳食所傷，致瘡陷如，石色白冰硬，宜不換金正氣散。調解散陷、陷伏倒靨、或煩躁大渴、或大小便閉、痘不起脹者，人牙散、活血散。痘瘡正出，內外毒氣壅遏，毒氣復入於裡者，當解毒，宜犀角湯類。陷入者，加味四聖散，更以胡荽酒厚傅，其身、薄傅其足，噴其衣服，並以厚綿蓋之。若猶未也，獨聖散入麝香老酒調劑，或用木香煎湯調。血泡出至七日，當結濃窠痂疕，今七日尚為血泡，不結膿窠，此由毒氣內外貫注，血熱相摶，必復入心，昏悶而斃。蓋血泡是毒氣正盛，陽熱內外彌滿，無陰以收之，急以豬尾膏涼心血，使陰氣感之，必隨時結痂而愈矣。</p>
<p>紫金散、如聖散、蟬蛻甘草散、豬血乳香丸、木星飲、紫草膏、開花蘿蔔煎汁，服此皆治倒陷，可選用之。（有盛實者，毒氣貫注，咽中閉塞，大便堅秘，小便如血，是郁毒不散反攻藏府，故使凸而不起，謂之倒靨。若有此症，豬尾膏、化班湯、犀角地黃湯、犀角玳瑁湯可選用之，則鬱毒散，瘡自出矣。）</p>
<p>古人以硃砂、腦麝、豬心血等涼心之藥治瘡，是治其毒氣已出之後，心熱毒氣倍常則用之也，非治裡虛陷伏、外感風寒倒靨而用之也。如結膿窠痂疕，內外有感冒而生病者，此觸犯之過，治之無異於前紅班時用藥也。</p>
<p>重解　瘡疹正盛，內外無寒熱虛實症候，而瘡不出者，此由不能禁忌，觸冒穢氣房室，則痘不出。毒氣入心，昏悶而死，此亦倒靨者也。瘡出後觸之，令瘡黑爛痛如刀刮。瘡痕經年黑色，宜奪命膏。</p>
<p>發表場　瘡疹正出，坐臥當風，風寒摶於肌膚，必發熱、惡寒、頭痛、鼻流清涕，宜辛溫藥表散寒邪。失此不治，則榮衛受寒不解，加寒戰、喘悶，而為倒靨。毒氣內外有所感冒陷伏者，急以麻黃湯主之，白花蛇散、橄欖核煮水服之，無不立愈。外被風寒所襲，使肌膚閉密，氣血盛實與風寒相摶於肌膚，必身疼、四肢微厥、大小便閉、班點不長，或黑色、或身生青紫瘡疹，此為倒靨，宜溫肌發散風寒，如紫草、蟬蛻、陳皮、葡萄、人齒、殭蠶、荷葉之類。溫散寒邪，熱氣復行，瘡自出矣。紅點至足為出齊，毒氣方出盡也。紅點漸長，如豆起於肌皮之上，乃成血泡，血泡七日當結膿窠痂疕。於此或外被風寒所襲，為倒靨，或胃虛吐泄而陷伏者，亦如前法治之。</p>
<p>攻裡　有內實皮厚肉密難出，毒氣不得宣泄，至於硝黃、龍膽、乾葛、大青、梔子、木通、石膏而平安者，此皆隨時變通，不可執泥。</p>
<p>溫里　始為班點，毒氣蒸蘊，內外皆熱，數日熱甚，蘊班毒於肌竅，出於皮膚，或胃虛而不能副榮衛者，雖出而覆沒。班暈白色或黑色，此內虛無血氣以應之，其人必不能食，或大便自利，小便不赤而青，或倦或𠰠，四肢微厥，宜用辛溫之藥令其胃暖，榮衛復溫，自然出矣，如理中湯、活血散、人齒散之類。吐利甚者，薑、附、硫、桂亦可用。有冷氣入胃冰伏，致令毒氣倒進里者，宜溫之，胃愛散類。內虛不能出者謂之陷伏，必出而後沒，瘡點白色或黑，其瘡不發，形見小點，淡紅微白，或白而微黃，其人必不能食，大便自利，或吐或厥，急宜救里，理中湯、異功散、豆蔻丸。痘疹熱發在表，而里多虛，若結膿痂，必先得裡實，則外方不陷伏，且有稟氣弱而內虛冷，痘疹出時大便自利，懼其伏陷，至於服薑、附、硫黃、豆蔻、鍾乳、桂等，以助之而平安者。稟受氣怯，因病食少，以致脾胃虛弱，因虛生寒，因下利，因利而內虛冷，急用進飲食、固藏府藥以溫之，則食進手足溫，痘當自出矣。或者謂瘡是熱，不敢用溫藥，遂致倒靨者有矣。</p>

<h3>痘瘡黑色</h3>
<p>辨曰：五色者，五行之精華也。正則光而明，衰則慘而暗，五藏榮枯於此可見矣。故痘毒之出於藏，惟利乎明，不利乎暗。光明者氣血王也，慘暗者氣血衰也，氣位旺而血得其令，氣位衰而血被其囚，血非氣則毒不收，氣非血則毒不化，信乎！痘毒必血氣而後可以終始其功。且夫色之紅者，毒始出也；白者，毒未解也，黃者，毒將解也；干黃者，毒盡解也，灰白者，血衰而氣滯也；黑者，毒滯而血乾也；焦褐者，氣血枯也；如紅變白，白變黃者生。紅變紫，紫變黑者，死之兆也。且毒出於五藏，而非獨一藏。前人言五藏各主一色，斯言謬矣。嘗究錢氏、陳氏所論，變黑歸腎，此皆過於理也。然五色固有之，而又不載各藏，治法但用辛熱解毒發泄之劑，若此不過攻毒動氣之術耳，痘果可以如一例治之哉？須察形色之淺深，辨邪正之善惡，治必固氣以勝其毒，斯為可也。子曾試驗無失。如此者，（豈有顛沛之理哉？此係察也。）</p>
<p>調解五藏蘊熱出於肌膚，熱毒汗漫，心熱壅搐而不收，使外不得作膿結痂，內不得毒氣消散，宜用涼藥解毒、利小便，令毒氣漸消則愈，失此不治則倒靨矣。黑陷、項強、腹脹、直視、發搐、喘急，一切惡候宜周天散、無比散。楊氏曰：獨聖散，雖遍身黑而欲絕，亦令暫蘇而瘡紅也，但目閉無魂者，不治。毒盛黑色者，山梔子湯、宣毒膏。黑瘡惡候，無比散、倍金散、硃砂散、人齒、豬血散。黑陷甚者，亦用燒人屎。</p>
<p>遍身青紫紋，乃熱邪蒸發，或為暴寒折之，外寒與內熱相拒而不得入，內熱為外寒所閉而不得出。毒氣壅於肌皮，其痘如痣，或青或紫，年壯肌肉厚密亦有此症，宜透肌散之類。又方，紫貝荷葉、（霜後貼冰者佳。）直殭蠶、（炒去系。）鼠黏子，（炒。）等分為末，研胡荽汁酒和一錢米飲亦可。</p>
<p>痘瘡黑色如蚊蚤所齧，痘瘡色活則如丹砂、如雞冠。若毒氣暴出，瘀熱摶之，則毒凝血滯變成黑靨，其症最惡。若大小便秘，喘急煩躁，腹脹，宜山梔湯、宣毒膏。毒氣內攻，紫黑色者宜豶豬尾血調腦子佳。又曰，黑陷二種，因氣虛而毒氣不能盡出者，酒炒黃耆、酒紫草、人參。</p>
<p>熏解　因觸犯黑色，奪命丹。穢氣熏觸，使欲出者不能出，已出者班爛成片，甚則瘡黑陷伏，加以臭爛如刀剜，悶亂而死，急宜燒乳香、以胡荽酒噀床帳，仍掛胡荽以辟惡毒，蟬蛻膏、闢穢丹。</p>
<p>疏利　熱毒入里黑陷者，因瘡出不透，心煩狂躁，氣喘，妄言如見鬼神，大小便秘，渴而能食，此症為實，宜豬尾膏利之。</p>
<p>攻裡場　瘡乾黑陷，身不大熱，大小便澀，是熱在內，大黃湯下宣風散。若身表大熱者，表症未罷，不宜下。寒戰噤牙，或身黃腫紫，急用百祥丸下之。</p>
<p>黑陷者，變壞歸腎也，由蘊毒至重。大小便閉腹脹，其瘡黑紫干陷不結痂疕，錢氏以百祥丸下之。然此太峻，當以宣風散代之，為末，蜜湯調下。先黑糞，次褐糞，便服四君子湯，良久，糞黃，瘡自發出。瘡不黑，謹勿下。下後身溫欲飲水者可活，如寒戰身冷汗出、水穀不消、耳尻反熱者，死。</p>
<p>辨曰：宋錢氏仲陽，所立小兒一科之鼻祖，治痘用百祥丸，則過於治矣。後人不得其旨，未免致折傷之弊。</p>
<p>有曰痘屬陽，以火用事，其瘡青紫變黑，耳尻反熱，乃水勝土虧，其症為逆。下後身溫欲飲水者，乃土旺水退，故可治也。仍復寒戰身冷，耳尻反熱，由水邪太盛，土氣已敗，雖泄亦不能去也。泄後溫脾，四君子加陳皮、厚朴、木香、丁香、乾薑為妙，雖然瘡黑本為危症，治之有方，亦有幸而生者矣。</p>
<p>大抵黑陷發寒者為重，不寒者輕。發寒者乃脾土弱，為腎水所勝，若先溫土以制腎水，決無黑陷發寒之理。</p>
<p>溫里　妄下成黑陷者，由痘根毒在裡，妄下則毒氣深入，土不勝水而成黑陷。往往此症必先寒戰咬牙，醫者早為之所，故曰與其救痘瘡於黑陷之後，莫若保脾土於未黑之先。土旺勝水，決無黑陷矣。楊氏曰：痘瘡發於肌肉，陽明胃氣主之，脾土一溫，胃氣隨暢，獨不可消已泄之腎乎，此錢氏不刊之秘旨也。黑陷、大便自利、腹脹者，乃虛寒也，當溫之，不可下。</p>
<p>黑陷而泄膿血、痂疕能食者為順，此必舊服脾藥，脾土不衰，毒入腹而泄出也。水穀不消及乳不化者為逆。</p>
<p>辨曰：陷有五，蓋陽始會氣至血附，根窠既立，而中陷者，為因元氣不足，不能續其後而然也。蓋陰血雖有附氣之功，而陽氣使無製毒之力，以致陷而不滿，生生之意絕矣。且陷有五：一曰黑陷，二曰血陷，三曰紫陷，四曰白陷，五曰灰陷。黑陷者，為初出少稀，後出加密，陽會陰之次，陽氣弱不能續，其初出血無氣養，故枯萎而黑陷也。血陷者，血盛於氣，氣弱不能拘領其毒，久則變而為紫陷也。紫陷者，為氣愈虛，血無氣，畜毒之盛，負載不前，血亦為之難去也。白陷者，為氣不足，久則變而為灰陷也。灰陷者，氣血衰敗而不榮也。此等之陷，一皆氣之虧損使然。如折奇花，少頃生氣既絕，則憔悴不榮矣。噫！毒縱狼戾肆虐有生之正氣，非藥之靈慧神功，孰能裨補乾坤之大？奈何灰紫二陷，俱從自吉向凶傳變而來，則難於施治矣。</p>

<h3>痘疔變黑</h3>
<p>痘內有灰黑色陷頂者，有瘡獨大者，有瘡內臭氣者，或黑疔綿者，皆名痘疔。以絳針撥開瘡口，及其瘡血吐碗水中，紅者可治，黑者難。醫用生珍珠為細末，豌豆、頭髮各燒灰，濕胭脂生用，四味和為一處，銀簪撥開瘡口，將藥點入即變紅活，多致獲安。</p>
<p>辨曰：痘初出有黑點子，世皆謂之班疔。痘而有此，則不能宣發諸毒，往往以針刺之，納藥於中，以待其發，此亦劫術矣。亦有渾身黑點者，前人謂之變黑歸腎，予謂非也。蓋血載毒上參陽位，陽不足陰往棄之故也。又血與氣交而不偶，不能復歸本位，為因元氣虛弱，不能續其衛氣以制其血，乃自失其政而然。且血順氣而蓄，氣不能蓄血，亦為之不榮，故致枯萎而黑，此亦理之必然也。凡痘初出稀少，後更加密，則氣亦因之而弱，不能助其初出者，血無領袖，一旦壅寒，幾何而不枯耶？然痘出則各經俱動，豈有腎不相干？毒既歸腎，便能究之，又何有血載毒逆經而出之理？此以保元湯加芎、桂補提其氣，氣旺則諸毒自發，黑者亦將轉而為黃，此乃王道之大也！予嘗留心於此，屢試屢驗。世醫不明其理，竟以針刺，致使氣血愈泄，反因治而難救，雖父母不知其可哀也夫。</p>
<p>又曰：九日後發疔。疔，釘也，毒參陽位，聚而自成窠穴也。蓋氣分弱而血分不密，其毒性不能自散，故聚結而成其形。如氣固血盛，則毒受制歸附，豈有是耶？結於四肢，或小或大，不近藏府，雖抵穿筋骨者，易治。若結於頭而腹背逼近於內者，其勢必致穿藏府，難治。如不穿者，急治。治不可加峻，以保元湯加牛蒡子、當歸、荊芥，助氣逐毒，待毒液滿自釋也。</p>

<h3>癢塌者於形色脈上分虛實</h3>
<p>實則脈有力氣壯，虛則脈無力氣怯。實癢如大便不通，以大黃寒涼之藥下其結糞。如輕者，用蜂蜜水調滑石末，以羽瘡上。</p>
<p>辨曰：陽分氣居之地，陰分者血居之地，陽氣弱則陷於陰，陰氣盛則乘於陽。氣少虛則血進步，血少虛則氣下凌。此必然之理也。癢塌者，蓋因血上行氣分，血味鹹醃螫皮肉爬破血流之故也。然氣愈虛而愈癢，癢之甚必氣陷而毒倒塌矣。嘗以保元湯倍加黃耆以助表，少芍藥以制血，則癢自止矣。或有食毒物而發中氣，致津液外行，發為水泡、血泡，氣勢虛甚，水遺肉理澀滯難行，不能進退，作癢不已，爬穿皮肉如湯火泡者，此乃不治之症矣。余治痘固里，未嘗待血氣失政，何癢塌之有？</p>

<h2>十三、痘疹兼證治法</h2>

<h3>自汗</h3>
<p>初起時自汗不妨，蓋濕熱薰蒸而然也。</p>

<h3>吐瀉</h3>
<p>凡顯痘疹，若自吐瀉，慎勿亂治而多吉，謂邪氣上下出也。</p>
<p>吐瀉當分冷熱　緣熱毒方作之際，必煩渴躁熱引飲，或當風寒坐臥，冷氣入胃，故胃冷則吐，脾冷則瀉，脾胃皆虛則不食也。宜治中、益黃等，以吐利止為度，此屬冷也。</p>
<p>熱吐者，手掌心並腋下熱而濈濈有汗、發渴、臉赤、飲冷未能言渴者，則飲乳不休，乳滿胸臆不能消化，吐出則射，吐了又急欲乳，是熱吐也。若用燥藥，則熱極生風，害人多矣。熱泄者，小便赤澀而渴，口燥咽乾，宜用五苓散、竹葉半夏湯。</p>

<h3>泄瀉</h3>
<p>瘡疹泄，多內耗津液氣血不榮，其瘡雖是起發，亦不靨。若身溫腹脹，咬牙喘渴者，難治。緣水穀去多，津液枯竭而欲飲水不止者，蕩散真氣，故多死也。速與木香散，或異功散。</p>

<h3>下利嘔逆者</h3>
<p>下利嘔逆者，須兼他症視之。兼有熱症者，當作熱治，宜五苓散輩；寒者，木香理中湯、甘草乾薑湯。</p>
<p>痘發作時，或藏氣虛脫，或傷冷藥，內虛毒入大腸，泄如豆汁，或便膿血，或下黑汁顴，顴赤如錢，口內臭氣，唇焦目閉，其瘡內陷加腹脹者，必死。急用溫中，使大便固秘，瘡紅活，亦死中求生也，理中湯、豆蔻丸。</p>

<h3>吐瀉陷伏</h3>
<p>二者俱見，為表裡俱虛，宜大補氣血。</p>
<p>一兒六歲，出痘身熱，微渴自利，或教用木香散，加丁香十粒。予曰：出遲固因自利而氣弱，然察其所下皆臭滯，蓋因熱蒸而下，恐未必寒，急止之。已服一貼。與黃連解毒湯加白朮解之，近十貼利止，痘亦出。其後肌常微熱，手足生⿸疒邕，又與涼劑補之，一月而安。</p>

<h3>驚搐</h3>
<p>小兒平居安樂，素無驚症，忽然發搐，但無涎潮，不惡風惟惡熱者，痘疹也。蓋毒氣始作，未形見之間，忽然發搐，乃毒氣自心經而出，痘疹必輕。若無兼見重症，不須服藥。</p>
<p>痘疹本熱，熱能動心，理之自然。夫心火熱，則肺金受克，不能制肝。肝風旺，則脾土受克於中，上下氣不循環，五行之氣無以相制，故心獨大熱。氣擊動心神，必神不安則發驚，當此宜泄肝、利小便。泄肝則風去，利小便則熱除，風熱既定，驚自愈矣。人治大熱則利小便，熱雖甚不能蘊蓄而為驚，若以寒涼損心胃藥以冷之，則其氣斂，瘡何由出？況中焦既冷，上焦熱愈不降，其熱尤甚。常見小兒患此，誤投寒藥至死者，臨終則遍身班出，遂致不救。</p>
<p>《素問》云痘瘡出於心，驚搐亦出於心。痘疹毒氣始作，心火太盛，則生風，風則驚搐，熱氣蒸盛，所以為驚搐、為煩躁、為痛癢。瘡瘍數症，心所生者無一不備。如始者毒氣蘊於心藏，則驚悸搐，此症似驚風，用藥當作瘡疹防備之。大抵瘡疹必兼他症相雜，如咳嗽痰涎，心神驚悸，煩躁𠰠吐，唇紅頰赤，煩渴，耳冷足冷，脈數，舌白，有此數症。醫者不察，若作驚風治之，而用銀粉、腦麝、青黛、硃砂、硝石等涼藥投之，則心一涼而肌斂，伏何由運出？</p>
<p>小兒忽然發驚，必是痘疹。毒氣內盛，但以發散毒氣，如惺惺散、消毒散、紅綿散、升麻湯，兼以快氣、利小便、祛風等藥與服，雖未即效，亦不至敗事。待其熱氣出泄於肌膚，心氣亦自定矣！如有風寒與內熱相摶而驚者，則各見其症治之，亦如前法，但加勻氣藥為妙。</p>
<p>痘疹未出，毒氣內逼，目瞪上竄，啼叫如驚風者，此瘡欲出之候。誤認作驚治之，必毒氣內畜而熱不泄，亦乃死候。</p>

<h3>咽喉腫痛</h3>
<p>由心胃有熱，大腸秘結，熱毒上攻，咽乾腫痛，兼口舌生瘡、齒齦浮腫、牙齒動搖，身熱能食者，宜甘露飲、如聖湯。欲涼去痰，消毒散。心煩者，鼠黏子湯。冬月老幼服之，春夏不生瘡瘍。喉痹，水漿不下，紫雪主之。</p>
<p>聲音不出，口頰生瘡，煩悶，潮熱面赤者，紫河車散。若身壯熱，大便堅實，或口舌生瘡，咽喉腫痛，皆瘡之餘毒未盡，宜四味射干、鼠黏子湯。</p>
<p>痘疹已出，熱滯咽喉，生瘡懊悶，氣喘煩渴，多睡，精神昏塞者，透肌散。</p>
<p>已上諸症，須藏府有熱者方可服之。如上焦有熱，小便清，大便溏，是藏府無熱，別以清上、溫下兼服，不可一概治也。</p>

<h3>喘滿氣壅</h3>
<p>麻黃黃芩湯。</p>

<h3>胸腹脹滿</h3>
<p>枳殼桔梗湯，二陳加枳殼湯。</p>

<h3>痘出腹脹</h3>
<p>由毒氣已出而未盡，又正熱，或外傷於寒而內傷於冷也。大抵痘瘡正作，熱毒既盛，必生煩渴，或飲冷過多，或妄投涼藥，熱為冷所擊，欲出不能，冷熱相拒，毒不發泄，故令腹脹，甚者氣喘發厥。瘡瘢白無血色或變黑色，多致不救。急用溫中之藥，則冷氣散而腹脹消矣。如傷冷者，必不能食，大小便利，時時下氣，腹中虛鳴，宜理中湯、異功散。</p>
<p>毒氣陷伏入里者，則痘疹出遲，毒氣倒靨，亦令腹脹，宜用溫平解毒快氣之劑，如人齒散、活血散之類。蓋毒氣伏入者，必有熱症相雜，或渴，或煩躁，或大小便秘澀，或啼哭不止，則陷伏黑靨症中俱備矣。</p>
<p>腹脹目閉，口中如爛肉臭者，不治。</p>
<p>身熱煩渴，腹滿而喘，大小便澀，面赤悶絕，大吐者，當利小便。不差者，宣風散下之。</p>

<h3>痘疹面青</h3>
<p>痘疹面黃體倦者，脾也；面青多怒者，肝也；喘嚏面浮而白者，肺也；面黑善恐而欠、耳骫手足厥者，腎也；煩躁面赤者，心也。此五藏有五色，常與寸口尺內相應。其不相應者，病也。今痘疹屬心，心主血，痘以血為主，面赤身熱、煩躁驚悸，乃心之形症，為順。今反面青，乃色病不相應，其症為逆，更當察其外症以提防之。熱者必生風，大小便秘而燥渴也，宜消風散；虛者必下利不食，四肢厥也，宜理中湯、異功散。</p>
<p>涕唾稠黏，身熱鼻乾，大便如常，小便黃赤，宜十六味人參清涼散。</p>
<p>身體壯熱，經日不除，別無他症，宜六味柴胡麥門冬散，熱退住服。不愈，七味人參白朮散。</p>

<h3>腹中硬痛</h3>
<p>痘疹始發，腹中有塊而痛，若手足稍冷、尻陰冷者，是痘疹症，不可作食積下之。前人論腹痛有虛有實：腸鳴自利者為虛、為冷，脹滿不大便者為實、為熱。是知肢冷腹痛、大便自利、蜷臥惡寒是冷痛也，今身熱肢冷、腹痛、大便不通，蓋熱毒在裡，則熱甚而發厥。伏熱深，而痘瘡不能出，宜以蟬蛻末水煎服之，已出者亦服無害。毒氣得泄，則四肢溫暖，腹痛自止矣。</p>
<p>一女傷寒，但腹痛甚，日夜啼哭，手足厥冷，漸至危殆。此時天時痘災，吾疑或是痘症，遂取生豬血，急用腦麝和灌，一服得睡。須臾，痘出而安。若非此方則夭橫矣！</p>
<p>又方，化毒散。若便血瘡壞無膿者，死。</p>

<h2>十四、痘後諸證治法</h2>
<p>痘後解利須觀虛實，（解利是治有餘毒者。無毒者，但當隨宜安養之。）熱者必大便難，咽乾而渴，面赤而煩，小便或赤，有熱症者方可解利。餘熱溫壯，齒齦宣腫，牙疼不能嚼物，面赤而黃，或煩，甘露飲子、槐花散。肝藏餘毒不解，叫怒不能睡臥者，調肝散。恐瘡入目，淨心散。</p>
<p>稟受怯弱，膿血瘡痂，大虛榮衛，坐立戰搖，大便不秘，小便不赤，無諸熱症者，宜胃愛散、七寶散、雙和散之類，以安養之。候乳食如故，不畏風寒，肌膚稍實，稍有餘毒，宜少少與解利藥可也。</p>
<p>痘後身熱，大便難，小便澀，能食而渴，宜四順飲、升麻湯。小便赤澀，黃芩散。胃中有熱，胸中有邪氣而嘔，面赤而渴，大便秘或如常、或下利色黃者，黃連散。煩喘，小便不利，燈心湯、槐花散。發渴飲水，下血不止，消毒散、薄荷湯調下黃耆散、牛蒡子散。大便下血，疼痛，消毒飲熱留胃經，嘔吐下利，小柴胡加黃連、山梔、生地黃。</p>
<p>痘瘡餘熱在中，口舌生瘡，下部亦有瘡或下膿血，宜黃連散、三黃熟艾湯。喉痛並嗽不已者，麻黃湯加麝香服。大便不通，熱攻藏府，眼並咽嚨腫塞，口舌壞爛者，以如聖湯、紫河車散、紫雪之類選用之。咽乾，甘桔湯。口瘡牙腫，甘露飲。</p>

<h3>嘔吐</h3>
<p>胃主納食，痘後嘔逆，是有邪氣相干，故使氣逆而吐也。熱吐者，心煩作渴，小便赤澀，手足心熱，面赤，居處喜冷，引飲成痰，膈中縱能食乳，聚滿吐出如射，又食又吐，脈洪數者，此熱吐也，宜黃芩散、五苓散、人參竹葉湯、石膏湯加陳皮、薑黃汁服。冷吐者，不渴，飲食與乳隨吃隨吐不化，面青白，手足冷，大小便利。此冷吐也，宜理中湯、益黃散。</p>

<h3>發搐</h3>
<p>痛癢、瘡瘍、煩躁、驚悸、喜笑皆出於心。五藏蘊熱為瘡，熱則生風，當其未出，心火生肝風，令兒發搐。今痘出後又發搐者，是餘毒未解，故動肝風而發搐也，宜導赤散、化毒丹、消毒飲、柴胡湯、三白湯之類，散熱退風而已。一症，心熱留滯不去，熱盛生風，風火相摶，其人喉中痰響，目上視，面赤引飲，居處喜冷，宜柴胡湯加生地黃、抱龍丸輩。一症，痘後胃弱，多食不能克化，謂之食蒸發搐，其人必面黃潮熱，大便酸臭，秘泄不調，或吐利腹痛，或脹有積，宜紫霜丸下之。大便秘硬，四順飲。</p>

<h3>痘後又發痘疹</h3>
<p>比初稍輕，此亦餘毒未盡，皆失解利之故，毒氣留滯敗熱於肌間也。解利亦當隨虛實而用藥，一概妄投涼劑，氣虛者反為大害。不渴面青，飲食少，大便不秘，體瘦無力，皆虛症也，此則不可利。</p>

<h3>熱毒攻目</h3>
<p>夫熱則生風，由火盛制金，不能平木。肝竅於目，木勝肝旺，則心火炎上而衝於目，故痘疹之始，最宜防備。使之視井，欲其觀深視遠，得感陰氣，則自運於目。搽胭脂，則欲涼散毒，服鼠黏、荊芥、防風去其風，敷白芥子末十兩足心，則瘡不入眼，使神水不被風毒熱壅之害，得免睛脹凹凸、聲喑之憂，皆消目疾於未然也。</p>

<h3>痘瘡入目</h3>
<p>心熱生肝風，肝主目，熱毒沖之，故為目患，宜涼肝丸、密蒙花散服之，秦皮散洗之。瘡出正盛，不令入目，調肝散。入目成翳，瓜蔞散，用大黃散貼之。入目痛楚，浮萍散。入目昏暗，金花散。瘡入目里侵睛，樺皮散。赤脈侵睛，羚羊角丸。生翳者，撥雲散。翳障不見光明，蟬花散、威靈仙散。風熱攻目者，井泉散。或食毒物，睛突出外者，仙靈皮散。暴出腫痛，苧麻子散。患半年、一年餘者，蟬蛻散。</p>
<p>痘疹初出，欲使不入耳目，可噴胡荽酒於耳目邊，或以黃柏末水調敷兩目。又抱兒令自投菜豆七粒於井中，皆令痘不入目也。亦忌食醬醋五味、牛雞鵝鴨並雞鴨卵及煮卵，令氣襲目。但令食淡，不能淡者宜入少鹽。</p>

<h3>痘後目翳</h3>
<p>此毒氣自里而達外，治宜活血解毒而已。活血不至於熱，解毒不至於涼，得其血活毒散則睛不壅、血不鬱而免凹凸損陷之患矣，似非點藥可取效也。蓋點藥非毒則冷，必相攻擊，反以為害，古人所不取也。</p>
<p>痘瘡蘊非常之熱，郁發肌腠，蒸之為痘疹。順其熱，則出而毒散，但過於熱則又損目，抑之以涼，則為陷伏黑靨。故善使陽不至虧盈，陰不至潛伏，調適中和而已。苟為不然，陽勝則熱盛而生風，肝應於木，無不害目者；陰勝則土無燥氣，腎水反勝，為黑靨陷伏，則夭傷者多矣！</p>

<h3>痘疹護眼</h3>
<p>多用胭脂塗，不如錢氏黃柏膏好，從耳前、眼皮面上並塗，日三五度。若用之早，則頭面無痘；用之遲，縱使出亦稀。通聖散，治痘入目生翳。白菊花、綠豆皮、穀精草去根各五錢，為末，每服一錢，米泔一盞同乾柿一枚煎，候米泔盡，只吃乾柿，一日三服，食後。一方，加豬肝煮，食肝。</p>
<p>又方：將浮萍以竹篩盛水盆上曬乾，為末，隨兒大小每服一、二錢。以羊肝半具，木石器內擂爛，投水半盞，濾取肝汁，調服，食後。</p>
<p>痘瘡傷眼，必用山梔、決明、赤芍、歸尾、芩、連、防風、連翹、升麻、桔梗作小劑末，調服。</p>
<p>如眼無光，過百日後血氣復自明。痘瘡發熱時，便用牛蒡子為末，貼囟門，可免眼疾。</p>

<h3>痘後忽遍身青紫、瘛瘲、口噤、痰響</h3>
<p>蓋痘瘡方愈，氣血虛弱，由節令八方不正之風中之故也，宜蟬蛻一錢、薑汁、薄荷汁入酒數滴，湯調服，連進二三服，得汗或作癮疹，神效。</p>

<h3>肌肉破裂，便血，癰癤，大小便不通</h3>
<p>此皆熱毒之氣壅盛，毒在腸中，則血滲入腸為便血。毒壅肢絡不行，為癰癤、為肌肉破裂。若令大便利、小便通，則無此患矣。宜犀角地黃湯、升麻湯、白虎湯、紫雪。便血，牛黃散之類選用。</p>

<h3>便膿血</h3>
<p>此痘後餘毒不解，熱入於胃，故令便血。日夜無度，腹痛啼叫，宜牛黃散。有渾身壯熱，下利黃赤膿血者，薤白散或胃風湯尤佳。小便赤而煩，導赤散或犀角地黃湯。</p>

<h3>熱瀉者</h3>
<p>渴水、心煩、小便赤、手掌心汗，宜利小便，五苓散去桂。</p>

<h3>冷秘者</h3>
<p>胸滿，吐清涎，不能食，面青瘦，其症少，又非暴病。</p>

<h3>痘後大小便秘或便膿血</h3>
<p>此由痘後失於解利，以致熱並小腸，則小便不通；熱並大腸，則大便秘結，重則便血。如前後不通，宜四順飲。利小便，五苓散、導赤散。便血，犀角地黃湯、黃連解毒湯、三黃丸。</p>

<h3>咳嗽脅痛飲食不下</h3>
<p>痘後咳嗽者，由陽不降、心火克肺金也。脅之左右，陰陽之道路、氣之並行處。今脅痛，是氣不能升降也。飲食不下者，蓋呼吸升降之間，脾受穀味，今氣不能升降，則脾不能運磨水穀。此宜解毒，毒去則真氣自育矣。宜赤茯苓湯導心火、利小腸；小柴胡湯治咳嗽、脅痛；二和散調順陰陽則自愈矣。一方，小柴胡湯加牡蠣、五味子、桔梗、枳殼、赤茯苓。</p>

<h3>痘後煩渴</h3>
<p>由心胃邪熱尚存也，宜五苓散、竹葉石膏湯。</p>

<h3>痘後癰癤</h3>
<p>蓋因痘瘡既平失於解利，餘毒大盛，內不得入於藏府，外不得出於皮膚，聚而不散，輕則結為癰癤，重則頭項、胸背、手足肢節赤腫而成癰毒。未成膿，宜小柴胡湯倍加生地黃、消毒飲之類。多是實毒血熱所成，分上下用藥，一日不可緩。已成膿，必用涼血為主，赤芍藥、甘草節、連翹、桔梗，上引用升麻、葛根，下引用檳榔、牛膝，助以貝母、忍冬藤、白芷、瓜蔞之類。陳氏謂：因飲水過多，濕傷脾胃以致肌肉虛、津液衰少、榮衛澀滯、氣血凝結，故身生癰腫，此主寒濕。而言所治，亦木香散類。</p>
<p>機按：癰已成膿，宜早決之，遲則膿卻內攻，反生變症。</p>
<p>一說結疕之後見有癰毒，便以消毒散、升麻湯、五香散、連翹散、犀角地黃湯皆可選用。</p>
<p>有稟受怯弱，痘後面青，不能飲食，大小便自利，肌體怠倦無熱者，且與平調藥安養之，令其裡實。如大便秘，發渴，咳嗽，驚叫，小便澀，可用前諸方解利之。</p>

<h3>結核癰腫</h3>
<p>熱毒藏於肌膚，榮衛為之壅遏則結核腫癤。咽膈不利，痰涎壅塞或為㾦㿔，發於頸項、手足、肢節間，甚則為癰毒，亦令人咽膈不利，痰涎壅塞，咽乾眼赤，腮項焮腫，宜消毒散、小柴胡湯最驗。癰癤出膿不止，體虛煩熱，頭痛昏悶者，黃耆散。大便秘，大黃散。</p>

<h3>癰毒赤腫初生者</h3>
<p>燒雞毛水傅；醋調伏龍肝傅；地松胡荽傅；地龍糞新水傅；雞清調赤小豆末傅；馬齒莧、龍葵葉、雞腸草、芸臺葉、景天葉皆可搗傅；赤腫不散無頭出者，馬鞭草傅。</p>

<h3>痘風</h3>
<p>分氣血虛實，以日子守之，多帶氣血不足。虛則黃耆為君，助以生血、活血之劑，略佐以風藥；實則白芍、黃芩為君，佐以白芷、連翹、續斷之類。若屬寒，陳氏方亦可用。</p>

<h3>煩渴胸滿</h3>
<p>痘瘡將愈，來熱雖退，尚有餘熱在裡故也。此皆失於解利，熱毒不散所致。宜黃連散、燈心散、黃芩散、甘露散，皆可選用。</p>

<h3>疳蝕瘡毒</h3>
<p>痘瘡已靨未愈之間，五藏未實，肌肉尚虛，血氣未得平復，急被風邪摶於膚腠，故津液澀滯而成疳蝕瘡也。宜雄黃散、綿蜜散。久而不愈，潰骨傷筋，以致殺人。</p>

<h3>牙疳</h3>
<p>痘後亡津液，生疳蝕齒齦。侵唇連口鼻，齒落還傷生。</p>
<p>辨曰：痘後餘熱者，本虛熱也。蓋痘毒一解，則陰陽二分因而俱虛，所謂火從虛發之義。然其熱多發於午後，但觀兩臉赤色，乃其症也。蓋虛盛則發熱，熱盛則譫語、狂煩，若有此症，不可作熱治。即此虛陽動作亦必為之強陽，前後以保元湯加黃連，甚則大連翹飲主之。切忌妄加他藥，以致壞症，而不可治矣。此等痘症最惡，預為調理，否則日久或疳勞，或眼目疳蝕，咽啞，風搐筋牽，睡露白睛，走馬牙疳，諸疾皆自此始矣。</p>

<h2>十五、保元湯制旨</h2>
<p>制保元湯者，有自來矣。予初時習痘一科，初視驗吉凶，人云有眼力，猶今之村叟老嫗，涉歷過多，而能辨生死者也。雖則有得於毫末，而所以之故，不知從何而來，從何而可，茅塞猶存。及觀錢氏、陳氏二家之說不一，各執己見立方，或寒或熱，或補或下，有所不同。每見人用此者，多被折傷。然不知治各有旨，又不知治各有時。嗚呼！惟人之生命為重，然因求其生而反得其死，因不敢效，尤掩卷而不習。</p>
<p>及逾數年，予子丙患痘，少稀，熱極不發。起發迎醫，朱汝明觀之，曰：內虛故也。用四君子湯加黃耆、紫草一二服，痘發足而解。後鄰里盛行，遂竊前方投施，貧難屢驗，漸得其間虛實之旨。自揣不盡其術，恐陷於人。且得汝明先生之方與他法雖殊，但過密盛者則不能成漿，乾渴枯萎，而死者有之。因自咎不精之罪，卻乃深究其義，忘廢寢食，一夕枕上蘧蘧然有得予心。</p>
<p>蓋白朮燥濕，茯苓淡滲其水，故濕蒸之氣不行而使然也。譬之鐺中湯，氣上行則無物不腐矣。後用減去，應手如響，始得氣血虧盈之理。然又患其藥性太緩，發之不盛，恐越七日向表之限，乃加官桂以助其力，如東垣用補劑加薑、附之義也。而又得君臣佐使之法，用之年久，發無不中矣。予制此方，如登太行，履劍閣，歷此險患，不知其幾虛驚矣！故以參、耆、甘草三品之神劑加贈保元，以其功能起死也。則東垣所用去虛火之聖藥，今用之以治痘，暗合其旨。百世之下，繼斯道於痘科，誠先生濟世之心不泯矣。予又非汝明先生之傳，亦何得而至此？汝明，字敞名也。</p>

<h2>十六、痘疹辨識</h2>

<h3>痘疹不同</h3>
<p>痘瘡與膚疹有淺深之分，府屬陽，有熱則易出，是以名膚疹。膚疹一出，便如沸瘡細泡出於皮膚之上，一出而便沒。以言膚疹在肌，其所受氣淺，故易出也。藏為陰，有熱則難出，其為痘瘡在肌肉、血脈間，必先出紅斑而漸起如痘，故名痘瘡，其所受氣深以難出也。暴熱而便出者，必膚疹；久熱而難出者，必痘瘡。疹自表而出於府則輕，痘自里出於藏則重。痘早晨渾身微熱，午後大熱，眼睛黃色，兩脅下吸吸然動，甚則發如驚風。身有大熱，手足逆冷，此病屬藏，以獨勝散發之，以和平生津液藥潤之。此是痘瘡，切不可投涼藥，恐水入大腸而痘不出，則泄下如赤豆汁，及朝出暮靨，或腮頰赤色如掌大，口內臭氣，唇焦，目閉，腹脹。此是痘毒入里，由用利藥。里毒陷入腸中，或便膿，或便赤汁，此皆死候。</p>
<p>疹則早晨微熱，午後亦大熱，眼白赤色而不黃，手足冷而吐逆，此屬府，為疹，治法與治痘瘡同。楊氏曰：赤疹遇清涼而後消，白疹遇溫暖而後減。</p>

<h3>夾疹</h3>
<p>辨曰：疹之毒與痘之毒不同，蓋痘毒出於藏，疹毒出於府。然皆中於有生之淫火，故其症雖異，而其原則同。爰孕成之初，先有藏而後有府，藏乃積受之地，府乃傳送之所。藏屬陰，故其受毒為最深；府屬陽，故其受毒如差淺。況疹毒受於運化之間，是以其症之發也輕而易解，若有不解，乃為內實而外中風寒之盛也。夫解痘疹之法，痘當從外，疹當從內，此不易之常法。如妊婦發疹，熱極不易退，內實之故也，必下其胎，胎下，疹則隨熱內解而愈。惟痘之發觸於天行時氣，疹之發中於時氣風寒，本非尋常併發者，或有並行齊發之症，此則所謂兩感矣。愚謂痘出之際，毒趍百竅，被風寒封固腠理，兼氣血壯盛，濕蒸火熾，擊動府毒，而故並出，是皆不順之候。如痘稀疏，可以升麻湯解之。疹散痘出，其熱自利，則痘之輕重治止用乎常法。若痘太盛，其疹雖解，殊不知氣血已受虧於前矣。誠恐內氣弱，血不能收斂其毒，尚未可議其有生。其症雖危，亦宜用保元湯以期生，此所謂蟲食木、木盡蟲亦死也。</p>

<h2>十七、痘疹變症</h2>

<h3>班爛</h3>
<p>病當發散而不發散，則毒氣閉塞，胸滿喘促，悶亂不知人；不當發散而強發散，則熱毒隨陽出於肌竅，皆為班瘡。肌肉如爛，故名班爛。治宜調脾進食，令大便不秘、不利，養榮衛以生肌解毒，則無目赤、咽痛、口瘡、吐衄等症。解之不至於冷，調養不至於熱，最為良法。</p>
<p>班爛發膿痛甚者　干黃土，羅為細末，敷之。輕者，芒硝、豬膽汁調塗瘡上。勿令動觸，直候結疕自落，不通臥席者，用麥麩簟臥將息最佳。有因發表過多，致令陽氣在外，內虛生寒，藏府自利，以致班爛，急當救里，如理中湯之類，瘡當自愈。</p>

<h3>班疹</h3>
<p>冬月溫暖而溫毒發班疹如錦文者，又有冬月觸寒毒至春始發病，初在表，或已發汗或未發汗，表症未罷而毒不散，故發班，以黑膏主之。又有冬月溫暖，人感乖戾非節之氣，冬未即發，至春或被寒折，毒不得泄，遇天暄暖，毒氣始發，則肌膚班爛、癮疹如錦文，咳嗽，心悶，嘔吐清汁，葛根橘皮湯主之。醫者不辨，作胃寒治之，轉加悶亂，狀若驚癇，遂生他疾。楊氏曰：毒氣入胃令人發班。其症昏瞶，關前脈大，多見於胸腹，輕則如疹子，重則如錦紋，紅者易治，黑者難治。</p>

<h3>疱瘡</h3>
<p>傷寒熱每在表，不能作汗，或當汗而不得汗，暴熱灼於肌膚，故發班疹、泡瘡。其泡色白，瘡白頭瘭漿戴白膿者，輕；若紫色隱隱在肌肉裡者，甚重。此乃傷寒發泡，小兒肌肉嬌嫩，多病此也。</p>

<h3>夾班班爛</h3>
<p>辨曰：班者，乃血之餘也，苟血太過而氣不及，則衛氣疏缺不能密護脈絡，而致太過之血夾毒上浮矣。然則夾毒而出，非熱前熬血分，烏得有是症耶？陳氏所謂班疹者，非也。夫痘毒隨藏而出，其發之勢，殆如火藥最為迅疾，然血亦乘其勢而發為班也。如痘毒起齊，內必虛矣，內虛則班從內解。不解，以升麻湯加歸、芍主之。又有結痂後而發者，餘毒熱盛，煎熬肉分，其班必爛。此以解毒湯加歸、芍、防風，盛則用大連翹飲。爛處以生肌散敷之，宜無不瘳矣。若夾毒初出，色赤如火，乃毒滯不能宣發之故，當以四順清涼飲。一服，如大便去一二次，而班或退，則血附氣位，則以四君子加黃耆、薑、棗進之。如大便不止，可加肉豆蔻即止。務須預先煎藥，伺其班退血附與服，防其損陷，斯謂用藥得用兵之道。</p>

<h3>不結膿窠</h3>
<p>痘瘡大熱，則皮熱脈實，大小便不利，心熱燥渴，氣滿而喘，能食者，此裡熱盛也。恐生他病，宜利小便，使心火有所導引，熱亦自退，不必用冷藥也，宜五苓散去桂。其小熱不解則成大熱，小熱而利小便則損氣，但宜解毒而已。如玳瑁湯、消毒飲、四聖散、獨勝散、安班散、如聖散、紫草湯、犀角飲，此雖不利小便，其熱亦不能為害矣。</p>
<p>一說，忌升麻湯、葛根湯、四順飲、硝黃峻利之劑。</p>
<p>瘡疹伏熱在胃，則中有所隔，上則心火不能降，故小便赤；下則陰氣不能升，故心腹脹滿。董氏用紫草散發出其毒，胃中熱散自然冰釋。</p>
<p>大熱利小便，小熱但解毒，此出錢氏。謂大發表，熱仍不退敵，有利小便、解毒之法。未經發表，而用此法，恐失錢氏意也。</p>
<p>血泡既成，當結膿窠。而不結者，乃內外熱極，毒氣散漫，無陰氣以斂之。古方用宣風散導之，磨生犀汁解之，或用砂糖湯調飲之。</p>
<p>大小便閉澀，津液燥而渴，氣喘能食，脈實，不結膿窠痂疕，恐生別症，宜利小便，使心火有所導引，熱亦自退，宜五苓散去桂。若能食而喘，腹脹，妄語，大便秘，宜四順飲微利之。</p>
<p>痘出太盛為血泡，血泡七日不結膿窠痂疕者，由毒氣盛而內外貫注。若不速解，毒氣復入為倒靨，宜豬尾膏。看脈與外症審諦，方可下之。若能食而喘，發渴，腹脹，昏睡譫語，不大便者，承氣湯、川黃散下之。若發熱作渴，面赤悶亂，大小便澀，或大吐者，當利其小便，宜通關散。痘已出定，大便不通，瘡出膿汁不幹，牛黃丹。</p>
<p>辨曰：痘至行漿之次而不含漿者，當以保元湯加薑、桂，連服二次於前，乃以水楊湯暖沃於後。此湯火能滌去風寒，內外相攻，風寒易去，痘毒豈有不發之理？不可峻用解散發泄之劑，皆傷氣血交會之機，致毒內攻，多不救也。</p>
<p>結膿窠後脈尚洪數，能食，大小便秘，此里蘊熱毒，宜微解之。</p>
<p>不結膿窠，固有熱毒熾盛，亦有氣血虛少，察其形症虛實以為補泄為允當，瘡壞無膿者死。</p>

<h3>不結痂疕</h3>
<p>痘因熱而出，又因熱甚不結痂疕，是以內外蒸郁，無陰氣以斂之故也。古人以宣風散導之，以生犀散解之，使熱不壅脹，必結痂疕矣！</p>
<p>血泡六七日當結痂疕。而不結者，此是毒氣盛實，內外貫注故也。宜用豬尾膏。曾進一服，隨時結痂疕，神速特異。因思人遇天氣寒暄不時，脫著衣服，必先呷冷水三口，則不感冒。是心涼則膚腠秘密，風寒不能侵也。用豬尾膏者，以心屬火而燥，居於上焦，又加蘊熱毒氣並於心藏，則毒氣內外貫注，古人用豬尾血，以血歸心，引龍腦以涼之，而行榮衛，榮衛遇香則行，遇臭則止故也。</p>
<p>痘瘡發如膿窠，不肯作靨者，調砂糖水與之。多是爬了瘡子成一片去，後來結瘢不好，此瘡作膿窠，毒氣已定而用之，庶不為目害？瘡未出盡，切不可用。蓋瘡初發而食甜物，如棗柿糖蜜，必使瘡入目也。</p>
<p>熱毒蘊而不散，不結痂疕，如大小便不通，欲以藥下者，須是微覺腹脹而喘，按之腹微實，手掌心並腋下有汗。此有熱毒燥糞在裡，宜下之，川黃散。</p>
<p>膿泡不結痂疕者，毒氣已出在表，但解餘毒而已。此是正痘瘡症，無諸內外邪氣所感者也。</p>

<h3>瘡痂不焦</h3>
<p>是內熱之氣薰於皮中，故痂不焦也。宜宣風散導之，或生犀磨汁解之。</p>

<h3>瘡疕不落</h3>
<p>明膠散，班未出，瀉下，已出者內消。黃明膠慢火炙為末，溫酒調服必勝膏，馬齒莧汁用煅成豬脂、白蜜調煎成膏，塗之。</p>

<h3>痘痂起倍能食</h3>
<p>蓋痘既出於表則裡虛，當食少，今能食而里不虛，為有熱。本方用大黃丸下之，亦須看脈為外症然後用。若大小便秘、喘滿、面赤、胃悶者，則宜四順飲下之，恐胃熱不去為口臭、疤瘡。如無別熱毒，不必下也。</p>
<p>痘痂起，胃虛不能食者，宜調脾胃。</p>

<h3>瘢痕</h3>
<p>若十三日痘痂已落，瘡瘢猶黯，或凹或凸，肌肉尚嫩，不可澡洗。忌食炙煿五辛，恐熱毒熏於肝膈，眼生翳脹，為兒終身之患，宜二味穀精草散。</p>
<p>痘瘡既作，其血肉為膿痂，肌尚嫩未實，恐惡氣有犯，房中可燒乳香，掛胡荽，闢一切穢氣。或坐臥當風，則成瘢癬。若膿泡出，燒牛糞灰貼，則速愈無瘢。若膿汁不幹而能食者，時與葡萄食之，為其能利小便，又令出快如穗之義。鼻塞，則摩頭以通之；榮衛不和，洗浴以利之；肌理空疏，粉末以蜜之，此皆外治之法也。</p>
<p>欲無瘢痕，在結膿痂時，不可早爬去之。出見風早，則為癮疹，肌膚凹凸，宜硼砂散酒調服，密陀僧水研塗，蒺藜散，胡粉散，鷹屎白散，馬齒莧散，豬𦚠散，羊𦚠鸕鷀散，升麻水豆散，黃柏散，白蜜、𩩅髓等，青金散皆可。</p>
<p>痘瘢凹凸：在結膿未成干疕爬去之，不成疤痕矣。</p>
<p>辨症　不須治，惟眼目紅腫、泄瀉不已二者，宜用心焉。</p>
<p>辨曰：痘之為症，五藏百骸無不振動，氣血無不虛弱，如無雜症相仍，尤宜戒其峻治。治其雜症，無拘日限。痘則發於前七日，結於後七日，前後以十四日為限。治者毋得急治其標，而遂緩治其本。故雜症一寸，則痘症落後一丈，雜症未痊，痘已先斃矣！治痘不可違限，有如此者。且痘之毒不解，則一病不去，痘毒一解，則百病自痊。醫之妙訣正在乎本上用力，何在於一標哉？雖初出，有眼目紅腫而毒入於睛者，固宜治之，恐其睛突瞳陷也。有瀉泄不已者，亦宜治之，恐其倒陷損塌也，況治泄多用淡滲燥澀之劑，若用之過，則津液竭而血道閉矣。治目多用發散涼血之劑，使用之峻，則氣血弱而毒倒陷矣。用藥者如用兵，其勝敗之機不意料哉。古人所謂出於不得已而用之，是誠良法也。</p>

<h3>便膿血</h3>
<p>胃爛便血，有內外感冒失於治療，遂至此者。其症最惡，急用犀角地黃湯、甘草散以散之。散之漸蘇，瘡出者活，神昏胃悶者死。伏熱在胃，腹脹便赤者，四聖散。痘瘡正出，下利黃赤膿血，身熱大渴，乃毒入腸，宜解其毒，使瘡出也，薤白湯、三黃熟艾湯加糯米、甘草、紫草，水煎服。</p>
<p>痘瘡當出而不出，由毒氣當散而不散。蓋心主血而營於血，瘡疹不出，毒氣壅瘀於裡，則為便血黑色，故神昏倦而不醒。其症最惡，蛻殼散、犀角地黃湯。</p>
<p>失血發泡，鼻血口血，大小便血，瘡癤出血，發為水泡，哽氣，呵欠噴嚏，腹內雷鳴，便氣下泄。</p>
<p>辨曰：痘之發惟在氣，不可弱，亦不宜太盛，太盛則恐傷其血。其血之失也，由氣盛攻毒，為風邪閉塞清道，熱盛火熾，而氣與毒相挾交爭，血不能勝，以致錯經妄道，渙散無統，是皆氣盛於血也。然則血之妄行，有從口出，有從鼻出，有從大小便出，有從陽瘡而出，未發痘先已有瘡癤，有從痘毒而出，悉皆不治。間有從鼻出者得生，何也？蓋為氣盛逐血，血載毒奔行周身，傳注督脈射關而出，不犯其內，故無害也。至如口出及大小便出多死，何也？蓋因有犯於內而內有所傷也。若陽瘡痘毒間出者，則為走泄，走泄多肉分空虛，毒無定位故也。及至發為泡者，乃氣有餘而血不足，故雖載毒，終不能上附於氣，使氣分獨盛，有過本位，致津液隨氣呼吸，上極毒出之竇，而發為水泡。凡氣之過於盛者，則噎哽氣也，其所振所作，如風之撓物，無所不及，無處不入。七日前若作於膈，則呵欠、噴嚏，其氣漸泄，其痘不能起發員混，七日後若入於腹則如雷鳴，甚則飲水亦鳴，或便氣下泄，其痘尤不能成漿，此皆氣之所為。如此發泡者，以保元湯加白朮、山楂，少潤水氣下行，以平其氣。治氣之法，寧可補其不足，不可虧其有餘。蓋血弱一時不能補益，故補氣之功易，補血之功難。蓋氣無形，血有形，血非五穀滋味精益，其何能生化耶？若過於益，則又載毒從溢，反為大逆矣！治者更能安其氣位，何患血之不歸附哉？</p>

<h3>咬牙</h3>
<p>咬牙，齒稿也，乃血氣不營也。方書多作熱治，須兼他症參之。咬牙喘渴者難治，緣水穀去多。津液枯渴，而欲水不止者，蕩散真氣，故多死也。速與木香散、異功散。</p>

<h3>寒戰鬥牙</h3>
<p>寒戰鬥牙、譫語狂煩、尋衣撮縫、不省人事、閉目無魂。</p>
<p>辨曰：夫寒戰者，陰凝於陽。陽分虛，則陰入氣道，而𣯶⿺毛象作寒，不待疏而自戰也。鬥牙者，陽陷於陰。陰分虛，則陽入血道，而兩齒相銼作聲，不待力而自鬥也。七日前見寒戰者，表虛也；鬥牙者，內虛也。七日後見寒戰者，氣虛極也；鬥牙者，血虛極也。氣虛者，以保元湯加桂，以溫陽分；血虛者，補元湯加芎、歸，以益陰分。有獨寒戰者，有獨鬥牙者，以一體治之。</p>
<p>又有不省人事、閉目無魂者，譫語狂煩、尋衣摸縫、鬥牙不已者，此皆氣血將盡，毒伏於表之故也。若此，特有一縷不絕之氣而已，而求欲生，如覆水而欲再收，胡可得哉？</p>

<h3>喑聲不出</h3>
<p>喑聲不出，口頰生瘡，煩悶潮熱，面赤者，紫河車散。</p>
<p>痘已出，而聲喑不出，形氣俱病，當清其肺。宜涼膈散去硝黃。</p>

<h3>咽啞水嗆、痰唾稠黏</h3>
<p>辨曰：心之氣舉擊出於肺而為聲，其喉之竅若管籥：古代通風鼓火器上的管子。焉，金受火制之使然也。痘之發，氣拘血載奔行四肢百脈，因風邪沮塞腠理，痰唾稠黏有礙氣道，其毒不能盡行於肌表，故成咽啞。咽啞者，痘出氣喉，初甚細小，不覺此已微露其機，或用甘桔湯預防。及其肌表之痘成漿，內亦成漿，其毒壅盛，則氣出管籥窄狹，所以氣舉擊出之，聲不清也。不清者，肺金之受害也。水嗆者，毒壅會厭門也。然是門飲食所進之處，如飲湯水，則毒礙其門，不易進納，而乃溢入氣喉。氣喉者，不受物之處，故發為嗆也。或進穀食而不嗆者，蓋食有渣，自能有其門，而非如水之溢，不犯氣道故也。七日前聲啞、咽嗆併為逆症，七日之後而有者，不待醫而自愈，外痘結痂，豈有內之不痊哉？故先宜用甘桔湯服於已發、未發之前，蓋所以清其氣道，不使毒之有犯。此預治之法，世不可去，若待症成而治之，可謂不通矣。</p>

<h3>面目預腫</h3>
<p>面目預腫，七日後腫者不治之。</p>
<p>辨曰：其痘起發五六日之際，有面目先腫光亮者，是陽乘陰分，毒不能發也。何則？血乃氣之本，血有不足，根本已失去矣。氣乃血之標，將見虛陽動作，其氣妄行肉分，區區不足之血，亦何能乘載其毒而出耶？七日之後，傳經已足，氣退毒陷，陰陽各失其政，尚何可治之有哉？治者不可不預為之，調攝氣血以保重之。至此而欲強之以藥，是亦求全於毀也。</p>

<h3>渴</h3>
<p>有腹脹渴者，有瀉渴者，有足指冷渴者，有驚悸渴者，有身濕渴者，有身熱面色㿠白渴者，有寒戰渴不止者，有氣急咬牙渴者，有飲水轉渴不已者。陳氏謂：已上症皆非熱，乃脾胃虛，津液衰少，故燥而渴也，宜木香散多加下桂。其中亦有熱者，須兼他症參之，庶不致誤。</p>
<p>辨曰：三焦者，水穀之道路也。津液者，又氣之精化，而流通三焦，以制火者也。渴者，為氣弱而津液枯竭也。夫火非虛不發，發而不解，則津液不能上行以制火，火乃炎上，熏灼心脾，肆其虛焰。是以為之下陷，華池為之乾涸，故發為渴。雖飲水至鬥，亦莫能濟。譬如沸釜，徒以水制沸，而不去其薪，又何能止其沸哉？此宜大補元氣，以保元湯主之。渴甚者，加麥冬、五味；再不止，以參苓白朮散，一二服必止。不可視如泛常，致有癢塌之患也。亦有陰虛火動而發渴也，斯為難療。蓋陰虛者，血虛也，血虛不能峻補，與氣大有不同。氣無形，血有形，無形者有神，卒能旺於斯，須有形者無神，須當養於平素。故氣虛可以補藥彌之，血若一虛，則痘瘡止有十四日之限耳！尚何可以卒補而易旺哉？此所以為難治也。此固難治，但六味地黃丸加肉桂、五味，乃治血虛作渴之聖藥，用此亦或有中。</p>

<h3>煩躁</h3>
<p>心經有熱則煩躁，脾少津液則口燥咽乾而渴。痘瘡已出、未出，皆宜用甘草散。心煩發渴，大便不通，小便澀者，通關散。煩而喘悶，燈草湯。虛煩發躁而渴，五苓散、酒蒸黃連丸，皆要藥也，宜擇用之。夏月大熱夾暑，煩躁熱渴，大便秘，小便赤，白虎加人參湯。</p>
<p>作膿泡而躁。蓋心者，主瘡瘍、主煩燥。當其作膿，毒氣已出，未得靜盡，毒氣應心而煩躁。作血泡而煩躁，此熱毒欲散未散之際，但解熱毒而已。宜用黑豆煎湯，放溫，徐徐飲之。</p>
<p>煩躁睡臥不安，身熱悸動者，宜清心利小便。若表不解，身熱煩躁，睡臥不安者，宜水解散。大便秘結煩躁不得眠者，必腹脹，手掌心並腋下有汗，宜麻仁丸，或煎黑豆湯，徐徐飲之。甚者，青黛散以水調服。津液枯少，虛煩之氣晝夜不得眠者，酸棗仁湯。</p>
<p>痰實壯熱，胸中煩悶，大便堅實，臥則喘急，宜五味前胡枳殼湯。有小渴，六味人參麥門冬散。</p>
<p>瘡出狂叫喘呼者，乃藏府熱盛而無津液也，無陰氣以和之，致令陽毒獨盛，故如此耳，宜竹葉石膏湯。更看大小便何部不利，利之則愈。解熱毒，犀角地黃湯、抱龍丸；利大便，四順飲；利小便，導赤散去桂、五苓散。</p>

<h3>晝夜啼哭</h3>
<p>小兒蘊熱毒為瘡疹，因外未得出，內不得散，則神不安以致然耳。當此察其蘊毒在表在裡，若發熱，渴水，面赤，小便赤，宜微表令出可也。若外無熱，大便秘，腹脹滿者，當令大便通，則無壅滯之氣。榮衛通行，神魂泰然，瘡痘亦出快矣。或以為心熱為聚痰，不乳而用下藥、涼藥，反生多疾。</p>

<h3>不乳</h3>
<p>不乳，或吐或利，面青，目睛青黑色者為虛寒，宜溫之。</p>
<p>大小便如常，面赤而壅，或渴，或睡中驚，或咬牙，目白睛黃或赤，氣喘身熱，此實熱中滿不乳也。</p>

<h3>目睛露白</h3>
<p>目日睛露白，無魂者不治，不省人事者亦不治。</p>
<p>辨曰：元氣者，先天之氣，元命之主也。衛氣者，後天之氣，生命之主也。治痘必須察毒之淺深，審衛氣之厚薄而施治之，則無不當。蓋先氣為衛氣之母，母余必益其子，子必賴穀氣之餘以養其母，然後元氣得以固守人身，衛氣得以長養氣血，非生化化上合天地，然所謂目睛露白者，蓋由元氣虛損，督脈縮促至睛上吊。此非痘毒之故，惟為毒去之後，衛氣受虧，不能顧其母故也。治者多謂之風，誠為謬矣。無魂者不治，失意志而不省人事者亦不治。失意志即不省人事，但只露睛而無他症者，宜保元湯加陳黃米主之。蓋人參固元，黃耆固衛，黃米又助胃氣以益其衛，衛壯則能助其真元，斯其症可療也。惟七日睛露者，毒上未解，母氣即離，子必凋弊，其難治也必矣。</p>

<h2>十八、心鑑真言</h2>
<p>夫治痘，以血氣為本。故曰氣血者，治痘之心鑑。蓋氣居中，君道也，血附外，臣道也。氣正道尊，而能員，（陽性能員，氣之正也。）能拘，（不使血散。）能含，（待時而發。）能光澤，（氣足，津液外旺也。）能逐，（不使毒勝也。）能黃，（功用包終始也。）能解。（氣正，毒自解也。）血正順道，而能附，（附其氣也。（能載，（載其毒也。）能制，（制其毒也。）能斂，（斂其毒也。）能紅舌，（和也。）能釋。（解其毒也。）此氣血各得其職也。氣失其政，則為熱，為陷，為癢，為戰，為塌，為吐，為瀉，為狂煩，為白，為失色。血失其政，則為寒，為壅，為滯，為譫語，為紫，為黑，為褐。此氣血各失其職也。若氣不足則毒內攻，若血不足則毒外剝。治氣過於益則泡，治血過於益則班，此又治者之失於變理也。譬之帷幄之眉，運籌決勝，其運用之妙，存乎一心。苟不以心鑑為證，何以措其手足？竊怪庸醫往往誤殺赤子，假若一人害一兒，以天下計，則日害萬者有之。尚有知者加功於予之心鑑，假如一人活一兒，以天下計則日活萬者有之。嗚呼！盡信書不如無書，惟醫尤其難著。書其術，庶乎有益於人，苟不書其術，則必誤於人矣。予敢以予言為治痘之心鑑。</p>

<h2>十九、加減藥味品性製法</h2>
<p>凡觀症用藥，必先量兒厚薄、病熱淺深，預將主方簇起，然後加則加、減則減。加則不可過於本方。減則不可失於本方。不然，脫去本真，則不合制方伐病之旨矣！予因以己意加減合宜慣熟之劑，並前後禁止、常用、暫用相便之法俱例於後，以告行道者謹之。且牛刀之技在熟，輪梓之功在心，亦人之機變何如。雖吾之子不能盡吾之術，不足與議，但憫生之心切切，自有不能已者也。</p>
<p>正品　人參，味甘，氣溫，升也，陽也，能益元氣而和中，生津液而止渴，治痘之聖藥，非此莫能保固元氣之大本也。取金井玉闌者佳。每用三錢至五錢，旋銼片用。</p>
<p>黃耆，味甘，氣溫，升也，陽也，能固元氣而益腎，溫分肉而實肌。治痘用此，賴其里托外負，宜行王道，非此勿言治。取箭竿綿軟不油者佳。每服五錢至七錢，旋銼。十日後痘發足未收，蜜炙用。</p>
<p>甘草，味甘平，氣微溫，陽也，能解諸毒而泄火，健脾胃而和中。治痘，賴以分理陰陽，佐正君臣之道也。內堅實者佳。每用七分至一錢，寒則炙，熱則生，常用。</p>
<p>加品　官桂，味辛熱，浮也，陽中之陽，能祛風邪而實腠理，和榮衛以固肌表。治痘，以其氣輕浮，鼓舞上行，能開榮血，黃耆藉其力以達於表也。取不厚不薄者佳。每服五分至七分，夏月三分至二分，去柤皮切片，七日後不用。</p>
<p>川芎，味辛，氣溫和也，陽也，能助清氣而升頭角，佐參、耆以助元陽。治痘，暫為引導上行之使。取雀腦者佳。每用五分至七分，蒸潤切片。七日後漿行足，不用。</p>
<p>當歸，味甘辛，氣溫，可升可降，陽也，治各有條，能生血、止血、活血、養血。治痘，賴以助血歸附氣位，必加芍藥以佐之，恐其活血流動，毒無定位。宜身大者佳。每用一錢至二錢，酒洗銼片，焙乾暫用。</p>
<p>茯苓，味甘淡，性溫，降也，陽中之陰也，能利竅而除濕，止渴而生津。治痘，不可過用，惟泄渴不斂而發水泡者不禁。宜堅白大者佳。每服二錢至一錢，切薄片暫用。</p>
<p>白朮，味甘，氣溫，可升可降，陽也，能利水道而除濕，益脾胃而退熱。治痘，不宜過多，非泄痢發水泡者，不加；漿毒溢盛不結痂者，多加不禁。宜細白堅者佳。每用一錢至二錢，洗去土，切片焙乾暫用。</p>
<p>芍藥，味酸平，性寒，可升可降，陰也，能健脾氣而補表，止腹痛而收陰。治痘，血散不歸，賴以收之而附氣也，痘解不斂，賴以收之而成功也。宜白大者佳。每用七分至一錢，銼片，七日前少用，七日後不禁。</p>
<p>紫草，味苦，氣寒，能補中氣而制諸邪，行痘毒而利九竅，不可過用。宜紫茸染手者佳。每用七分至一錢，去土，以手斷為米粒大，五日後不用。</p>
<p>陳皮，味苦辛，氣溫，可升可降，陽也，能和中而益脾，消痰而泄氣。治痘，專以痰涎壅盛者，氣盛發泡者加之，不可過多。宜紅薄者佳。每用一錢至七分，浸洗去白，挫碎，焙乾暫用。</p>
<p>五味子，味辛苦鹹，氣溫，陰中之陽，能降煩熱，止渴生津，補肺氣滋陰益腎。治痘專止渴，不可無。宜北粗大潤黑者佳。每用十四粒至七粒，酒洗，焙乾暫用。</p>
<p>麥門冬，味苦甘平，氣微寒，陽中微陰，能清肺火而止渴，補心氣而生脈。治痘，專止渴，清肺不可缺。宜肥白者佳。每用十二粒至七粒，酒浸去心，焙乾暫用。</p>
<p>木香，味苦辛，氣微溫，降也，陰中之陽，能調氣而破堅，和胃而闢毒。治痘，平氣止泄，不可過用。宜如枯骨、黏牙者佳。每用五分至三分，旋銼暫用。</p>
<p>肉豆蔻，味辛，氣溫，能止霍亂而溫中，治積冷而止泄。宜員大堅實者佳。治痘，瀉痢並水泄，加此一時救急之味也。每用五分至三分，麵包煨熟，去面銼碎暫用。</p>
<p>鼠黏子，味辛，氣溫平，能潤肺而散氣，利咽而退腫。治痘，專解餘毒，不可缺。宜飽滿新者佳。每用二錢至一錢五分，微炒，四日後暫用。</p>
<p>荊芥穗，味辛平，氣溫，陰中之陽，能除風熱而消毒，清肌表而利咽。治痘，專退壅腫而解餘熱，不可無。宜穗不宜莖，香鮮者佳。每服二錢至一錢五分，洗淨銼，十四日後暫用。</p>
<p>黃連，味苦，氣寒，下也，陰中之陽，能泄心火而散痞，燥胃濕而厚腸。治痘專，退餘熱，毒解之後，臉赤潮熱，不可缺。宜堅如金者佳。每用七分至三分，銼碎酒炒，十四日後暫用。</p>
<p>山楂子，味甘酸，氣溫平，陰中之陽，能寬氣消食，益脾去垢。治痘，專平氣，解利參、耆之滯，間用可也。宜赤大不蛀者佳。每用二錢至一錢，浸，去核銼碎，焙乾微炒，十日後用。</p>
<p>糯米，味甘，氣溫，升也，陽也。治痘，專溫脾胃之中氣，不使毒內攻，制紫草之餘寒，不使味傷胃。宜粗大曬乾白者佳。每服不過五十粒，暫用。</p>
<p>陳黃米，味甘，氣溫，升也，陽也。治痘，專扶穀氣以助衛氣，益其真氣而和胃氣。宜多年倉庾中香黃者佳。每用不過百粒至五十粒，暫用。</p>
<p>生薑，味辛，氣溫，升也，陽也，能止嘔和中，助陽發表。治痘不可缺，以其功能助參之用也。宜老而生者佳。每用三片至一片，以意加減，常用。乾者不用。</p>
<p>以上加減一十九味，各分常用、暫用；七日前、七日後宜用之劑。告諸治者臨時對症，加入主方，不可過多滿意，以亂陰陽之王政。若去十九味而加之，實害氣血之鳥喙也。予立治痘之法，但固元氣為本。氣固本立，則毒不能外剝內攻，何必深求異舉以害其正？然則固氣之要，非王道中之品藥，孰敢當之。</p>
<p><u>保元湯</u></p>
<p>人參（二錢）　黃耆（三錢）　甘草（一錢）</p>
<p>用水鍾半，姜一片，煎至五分，不拘時服。</p>
<p>保元湯，即東垣所制黃耆湯，見《蘭室秘藏》。小兒方不越參、耆、甘草而已。此藥性味甘溫，專補中氣而能泄火，故虛火非此不去也。借之治痘，以人參為君，黃耆為臣，甘草為佐，上下相濟，治雖異而道則同。制方之義何其妙歟！予嘗討其藥性之功，用黃耆能固表，人參能固內，甘草能解毒，今用以治痘，令其內固外護、扶陽助氣，則氣於焉而旺，血於焉而附，氣血無恙，斯一身之真元可以保合而無壞亂矣！區區痘毒藉此領載，則何難出之有哉？惟其有回生起死之功，有轉危就安之力，予故僭改為保元湯也。或云氣血與毒本同一途，何專理氣而不理血？是亦一偏之說也。然痘之一症與他症不同，症出陰分，先動其血，以血本盛，故能載毒。使血一弱，則毒何能以自出哉？雖然，氣者又所以領載其血也，若氣少餒則血亦無憑藉，彼毒又將何從而載行於氣分耶？故治痘當先治氣，此不易之常也。又云血弱不能載毒，奈何？曰：毒譬則貨也，血譬則船也，貨若船敗也，何以能負載耶？可見血虛則內虛，內虛則痘不得出。血虛非倉卒可補，故付之無可，奈何？又不觀妊婦出痘，熱甚毒壅，其胎必落，落則血去氣陷，毒復歸內，寧逭其生歟？此證血虛之驗。或曰：白朮、茯苓亦能益氣，世多用之，今不加入，何也？曰：苓、術雖益氣，而性皆利燥，淡滲通利水道之劑，苟或用之，則津液隨水而下，其濕潤生息之氣不行於上，譬之地氣不蒸、天氣不降，尚何有天澤以救其物哉？由是三焦為之枯燥，氣脈為之壅塞，漿毒為之不行，毒遺皮內間，外剝之患其可復救乎？或曰：桂辛物也，痘出，已熱之極矣，今更用此，誠恐重實之症生矣。曰：是知桂雖辛，而不知辛能發散，且如毒壅於皮肉間與脈絡之處，苟非此劑推動其毒，而毒能自散耶？況此藥又能扶陽益氣，充達周體、翊助參、耆之力而成傳功也！夫我所謂治痘當固元氣者何也？譬之用兵，惟求主將無恙而已。若主將不能勝任，則其本先已搖矣，雖有戈甲糧草，將安施耶？故曰：保元湯者，治痘之要劑，用兵之要道也。</p>
<p><u>水楊湯</u>　專治痘出陷頂，漿滯不行，或為風寒久克者。如初出及收斂時或癢塌破損者，俱不宜。水楊柳五斤，淨洗，春冬用枝，秋夏用枝葉，銼碎，取長流水一大釜，煎六七沸，先將三分中一分置浴盆內，手試不甚熱，亦不可太溫，先服宜用湯藥，然後浴洗，患者漸漸添湯，不可太冷，浴洗久許，乃以紬紙捻燈照之，累累然有起勢，陷處暈暈有繇，此漿影也，漿必滿足。如不滿，又浴如前法。若力弱者，只浴洗頭面手足可也。若不赤體，不厭其多洗，少壯亦然。燈照如無起勢，氣血敗則津液枯矣，可以輟洗。</p>
<p>痘毒不能行漿，乃陰陽二分，氣澀血滯，腠理固密，精雖盛不易疏通，所以有是患也。須以水楊湯浴洗，待其閉塞之處暖氣透逼、發泄和暢、鬱蒸氣血，斯其漿可易成也。浴洗之間，燈影之下觀其痘，不覺隨手而發，功效豈淺淺哉？且服藥不過助氣血以成功耳，然藥力差緩，頗難頓而達其手足面目，若服藥後而更以此湯沃之，其藥藉此升提，可不充豁萬竅，安得為風寒所阻而致構成大患耶？且洗之法，必添湯久沃，使其暖透骨肉、通理內外，斯毒氣隨暖氣而發，行漿貫滿，豈不如反掌也耶？披風寒，尚可得而中乎？嘗行醫村落，見一老嫗抱患痘小兒以此湯沃之，其痘頂陷，初未漿足，至次日，又往觀之，則漿行已滿矣。至家數里，轉行轉悟，其理遂得。殆即黃鐘一動而凍蟄啟戶，東風一遂吹而堅冰解腹。始雖二物，竟則同一春也。及觀群書皆無此法，其後以是行之，百發百中，遂著為外治之法，傳告於世，少補救急之一助云。</p>
<p><u>升麻葛根湯</u>　古方，三日前後用。</p>
<p>升麻　葛根　芍藥　甘草</p>
<p>上用水鍾半，生薑三片，煎至五分。</p>
<p><u>和解湯</u>　古方，三日前後用。</p>
<p>升麻　葛根　芍藥　甘草　人參　川芎　防風　羌活</p>
<p>上用水鍾半，生薑三片，煎至五分。</p>
<p><u>四順清涼飲</u>　古方，七日前用。</p>
<p>大黃　當歸　芍藥　甘草</p>
<p>上用水一鍾，煎至五分。</p>
<p><u>解毒湯</u>　古方，十四日前後用。</p>
<p>荊芥　甘草　鼠黏　子</p>
<p>上用水鍾半，姜一片，煎至五分。</p>
<p><u>大連翹飲</u>　古方，十四日後用。</p>
<p>連翹　梔子　當歸　芍藥　防風　荊芥　鼠黏子　滑石　車前子　瞿麥　蟬蛻　木通　柴胡　黃芩　甘草</p>
<p>上用水鍾半，姜一片，煎至五分。</p>
<p><u>參蘇飲</u>　古方，十四日前後用。</p>
<p>紫蘇　人參　半夏　茯苓　陳皮　甘草　前胡　桔梗　枳殼　乾葛</p>
<p>上用水鍾半，生薑二片，煎至五分。</p>
<p><u>四君子湯</u>　古方，不拘日例。</p>
<p>人參　白朮　茯苓　甘草</p>
<p>上煎法同前。</p>
<p><u>生脈散</u>　古方，不拘日例。</p>
<p>人參　麥門冬　北五味</p>
<p>上煎湯，當茶服之。止煩渴。</p>
<p><u>甘桔湯</u>　古方，不拘日例。</p>
<p>甘草　桔梗</p>
<p>上煎如前法。</p>
<p><u>參茯白朮散</u>　古方，不拘日例。</p>
<p>人參　白朮　茯苓　甘草　藿香　木香　乾葛</p>
<p>上煎如前法。</p>
<p><u>四苓湯</u>　古方，止水瀉。</p>
<p>豬苓　澤瀉　白朮　茯苓</p>
<p>上用水一鍾，煎至四分，不拘時服。</p>
<p><u>白螺散</u>　專治痘瘡不收。</p>
<p>白螺殼不拘多少，古牆上取，去土洗淨，火煅存性，為極細末，瘡濕乾摻為妙。</p>
<p><u>金華散</u>　專治痘後肥瘡、疳瘡、疥癬，能收水、涼肌解毒。</p>
<p>黃丹　黃柏　黃耆　黃連　大黃　輕粉　麝香</p>
<p>上細末，濕瘡乾摻，燥瘡用臘豬油熬化調敷。</p>
<p><u>生肌散</u>　專治疳蝕不斂，並痘後膿血雜流不收等瘡。</p>
<p>地骨皮　黃連　五味子　甘草　黃柏</p>
<p>上細末，乾摻瘡上。</p>
<p>已上諸品名方，乃前人所制，治各有條，今刪入痘科，協助保元以收圖治非常之效。是以升麻葛根湯、和解湯、四順清涼飲有開濟之能，故用之於保元之前；解毒湯、大連翹飲、參蘇飲有治平之能，故用之於保元之後；四君子湯、生脈散、甘桔湯、參苓白朮散、四苓湯有贊相之能，故雜用之於保和之間。蓋諸名方，雖世用功多克濟，但不能獨用於痘科，予取之不過翊運保全以濟陰陽虧盈之變。是故治痘用藥之要，始出之前，宜開和解之門；既出之後，當塞走泄之路。痂落已後，清涼漸進；毒去已盡，補益宜疏。如此者，不得不錄以備危難，其他雖有奇方異味，疊見諸氏之書，似不合人身氣血中和之道，錄之何益？</p>

<h2>二十、順逆險三痘</h2>
<p>夫痘有順逆險三者，古無有也，愚意妄立之名，何則？順者，吉之象也；逆者，凶之象也；險者，悔吝之象也。治痘而執此三者，於以觀形色、驗吉凶，將無施而不當矣。蓋痘之一症，始於見影，終見結痂，九十日之間而已。苟非三者，察形色之善惡，定性命之吉凶，尚有以決生死，人將治所不當治，不治所當治，妄投湯劑，被其在死者多矣。是故吉不必治，治則反凶；凶不勞治，治則無益；至如險者，則宜治矣，治之則可以轉危就安。予視痘三十年，見其順者多，逆者少，惟險者介乎其間。要之，氣血有厚薄之不一也。夫氣血盛，斯毒易解，氣血損則毒難愈。惟氣血少弱者，雖毒不能頓解，然生意未始不固乎其中，故必加以補益、扶持之功，斯其悔吝無不平矣！</p>

<h2>二十一、痘出形症、日期、順逆險治例圖</h2>
<p>醫家之法，有望聞問切四者，所以審其症之由也。惟痘利乎觀其形色淺深，始終悉於此乎備矣！且痘出乎淫火，淫火，人身之精華妄動之異名也，以氣血而中，以氣血而守，以氣血而發，以氣血而解，信非氣血不能始終也。治者要當留心於其間，如有他法，吾所不知也。今以初出至痂落，日斯形症吉凶之象也，參以順、逆、險三法為則，以明可治、不可治之症。畫為圖式，凡圈內白者<img class="字" src="_files/001.png" alt="￼">，氣也；圈外黑者<img class="字" src="_files/002.png" alt="￼">，血也；圈內之圈者<img class="字" src="_files/003.png" alt="￼">，陷也；圈外黑散者<img class="字" src="_files/004.png" alt="￼">，血不附也；圈內黑圈者<img class="字" src="_files/005.png" alt="￼">，血乾也。以次開列於後，以備三法之階梯，而圈下復著定形辨色。症有體用之分，投劑取功治有折中之妙，其體用之應變，折中效順而有數存焉，學者又不可不留心於此。</p>
<figure>
<img data-orig-src="urn:270:10675.jpg" alt="始出圖">
</figure>
<p>一二日初出之象，如慄，於口鼻腮耳、年壽之間，先發三兩點，淡紅潤色者，順之兆也。順者不治自愈，為氣得其正，血得其行，其毒不得妄行肆其瘧也。於天庭、司空、太陽、印堂、方廣之處先發者，逆之兆也。逆者不治，為氣澀血滯，致毒妄參陽位，無以當其勢。雖稠而紅潤澤，成個者，險也。險者，毒雖犯上，其氣血未離憂虞之象，未要加治，俟其氣血交會之後，以保元陽，加桂主之。謹防氣泄血散，將無逮也。若陰始交陽之際，陽交陰會之初，憂虞之象未可加治，恐其藥性紊亂氣血交會之機，若氣始定位，血初歸附，吉凶得失由此生焉。苟失其正則宜治矣，不然恐其氣血虧弱，毒必內攻，業是者當加調變，氣尊血附，乾坤道濟，足以見陰陽治化，收其全功矣。</p>
<figure>
<img data-orig-src="urn:270:10676.jpg" alt="員混圖">
</figure>
<p>二三日根窠員混，氣之沖滿也。氣之沖滿，血必歸附，為順。順者不治自愈，為氣血得其道也。根窠無暈，氣離血散為逆。逆者，氣血交會不足，致毒乘機而犯內也。根窠雖員而頂陷者，血亦難聚，為險。險者，為氣弱不能領袖其血也，以保元湯加芎、桂，豈有不痊者哉！</p>
<figure>
<img data-orig-src="urn:270:10677.jpg" alt="形色圖">
</figure>
<p>四五日，觀痘勢之形色，則知氣血之壯弱、受毒之淺深，此治法之大要也。其形尖員光澤、大小不一等，氣和血就順也。順者，自愈，為氣歸血附，各得其道而毒自釋。其形綿密如蠶種，黑陷乾紅紫泡者，逆也。逆而不治，為氣血相離、縱毒內攻也。其形根窠雖起，色不光潔，生意猶在險也。險而治，為氣弱血盛，勢雖挾毒犯上，然得交會分明，用保元湯加，芍藥、桂、米助衛制榮，斯為調攝之妙。</p>
<figure>
<img data-orig-src="urn:270:10678.jpg" alt="起發圖">
</figure>
<p>五六日，氣盛血榮於內，則發揚於外為順。順者，自愈，為氣血豐厚，毒受制也。氣雖旺而血不歸附，其色灰陷或紫陷，或發為水泡、癢塌為逆，逆者不治，為氣弱血衰，致毒下陷而外剝也。氣雖旺，血不歸附，不厚其色，光白不榮為險。險者，易治，為氣盈血弱，不及歸附。用保元湯加木香、歸、芎助血歸附氣位，以全中和之道也。</p>
<figure>
<img data-orig-src="urn:270:10679.jpg" alt="漿行圖">
</figure>
<p>五六日，氣盈血附，其毒自化，化則成漿，順也。順者，不治自愈，為氣血得中，其毒自解也。氣陷血衰，其毒內伏，伏則不成漿，逆也。逆者，不治，為氣血相離，不能製毒而外剝也。氣交不旺，血雖歸附不能成漿，險也。險者須急治之，為氣血少寒，不能振作。急投保元湯加桂、米助其成漿而收濟惠之功也。</p>
<figure>
<img data-orig-src="urn:270:10680.jpg" alt="漿足圖">
</figure>
<p>七八日，氣旺血附，其毒化漿，順也。順則不煩治而自愈，為氣旺拘血化毒之故也。氣血乖離，其毒不化漿，逆也。逆則難治，為氣血不及，不能振作以制其毒。以發疤、發疔者可生、外剝內傷者必死。其氣血少，緩毒雖化而漿不滿，險也。險則可治，為氣血有礙，不能大振，以保元湯加桂、米發揚助漿，斯可以保全矣。</p>
<figure>
<img data-orig-src="urn:270:10681.jpg" alt="漿老圖">
</figure>
<p>八九日，漿足氣血之功成矣。氣血功成，生命定矣！如無他症，順而也已。漿不足者，氣血盡矣，氣血盡而大命臨之，逆也。漿不沖滿，血附線血氣弱而險也，以保元湯加薑、米以助其氣而駕其血，斯漿成也。</p>
<figure>
<img data-orig-src="urn:270:10682.jpg" alt="血盡圖">
</figure>
<p>十一、二日，血盡毒解，氣調漿足，此生生自然之理也，為順。或血淡而漿薄，或血凝而漿滯，以見氣虧而毒不解為逆。血盡漿足、濕潤不斂者，內虛也，為險。以保元湯加苓、術，助其收斂而結痂也。</p>
<figure>
<img data-orig-src="urn:270:10683.jpg" alt="結痂圖">
</figure>
<p>十三、四日，氣血歸本，毒既殄滅，漿老結痂，順也。毒未脫形，諸邪並作，雖云結痂，此其逆也。毒雖盡解，漿老結痂之際或有雜症相仍，以保元湯隨症加減，不可峻用寒涼、大熱之劑，恐致內損之患也。</p>
<figure>
<img data-orig-src="urn:270:10684.jpg" alt="還元圖">
</figure>
<p>十四、五、六日，氣血功成，痂落而無他症，順之徵也。痂未易落，寒戰咬牙，譫語狂煩，疔腫作者，無可生路，逆之兆也。痂落、潮熱、唇紅、口渴不食者，險之勢也。以四君子加陳皮、山楂、黃連，渴甚加參苓白朮散。不解以大連翹飲去黃芩，病去之後，多有內損或餘毒未解，此則尤難治也。</p>
<p><u>氣血獨勝受傷圖</u></p>
<p>痘之初發，陰陽交會不得其一，則諸惡症生矣！蓋氣血不能勝毒，甚至滅亡，得其生者，百有一焉！予嘗闖其痘之惡症，七日前後為陷、為泡、為疤、為疔、為癢塌、為倒陷。如此者，有因毒勝而不治，有因毒勝而自痊，難於知識療理。惟其陽毒內潰，萌藥於表裡，受傷之初，又非血氣能勝其所勝而救其危也。故另立治法圖式開陳於後，尚冀治是者當加慎密。</p>
<figure>
<img data-orig-src="urn:270:10685.jpg" alt="頂陷圖">
</figure>
<p>七日前後五陷者，氣不足也，氣不足不能收血而毒不能成漿，蓋氣不勝毒故也。七日前後見此，宜治以保元湯加芎、桂、糯米，溫胃助氣，又以水楊湯沃洗之。血不榮加歸至十一、三日，方漿足者亦有之。如血氣光澤有起勢者，亦不可過於治也，深恐滿而過盛，反瘧百骸。或血如死灰，漿不滿足，其血雖附，不榮而兼內症者，不可保矣。</p>
<figure>
<img data-orig-src="urn:270:10686.jpg" alt="倒陷圖">
</figure>
<p>七日前後倒陷者，氣血衰也。七日後根窠發足，勢行之次，因瀉氣陷毒即隨氣血而反陷也。如血不走，歸附鮮明，護衛之力猶在，治必有可拯之理。其血不顧亦必挾毒攻內，禍復起於蕭牆，豈可救乎？急以保元湯加參、朮、肉豆蔻；渴以參苓白朮散。人有峻用發泄毒劑致傷元氣，而氣血隨毒氣反陷伏者有之，用予保元湯豈有是哉？</p>
<figure>
<img data-orig-src="urn:270:10687.jpg" alt="陽毒圖">
</figure>
<p>七日前陽毒者，凡瘡也，或瘡未痊，及初結瘢處，肉分必虛，毒受氣血相擊，周流百脈，必趨虛處而出也。蓋陽瘡陰毒，混雜一堂，反勝諸毒而名之也。其毒濕潤者，為氣血俱盛而諸毒易成漿也；其毒枯燥乾紅，氣血俱弱，毒與諸瘡相抗而俱不成漿也，治法同。彼頂陷如枯，轉潤紅變白，其漿自溢於此，可見治者之功效也。</p>
<figure>
<img data-orig-src="urn:270:10688.jpg" alt="癰毒圖">
</figure>
<p>七日後發疤者，陽毒也。痘之毒，並聚一處而假其名也。蓋氣血不能拘收乘載其毒，使氣弱血盛、陽分空虛，血則載毒傳注四肢合處。合者，海也，曲池、委中是也。毒不成漿，七日前後發者，宜縱之，發其毒並從此而出也。若治其毒，必隨痘而散，內攻藏府秘無可生之理。如痘毒已解，血氣豐盛，宜解散其餘毒。以保元湯加解毒湯為妙。</p>
<figure>
<img data-orig-src="urn:270:10689.jpg" alt="疔毒圖">
</figure>
<p>九日後發疔。毒參陽位，聚而自成窠穴也。蓋氣位弱而血分不密，其毒性不能自散放，聚結而成其形，如氣固血盛則毒受制歸附，豈有是耶？結於四股，或小或大，不近藏府，雖抵穿筋骨者易治；結於頭面、腹背，逼於內者，其勢必攻穿藏府，難治。不穿者急治，治不可加峻，以保元湯加牛蒡子、當歸、荊芥助氣逐毒，待毒液滿自釋也。</p>
<figure>
<img data-orig-src="urn:270:10690.jpg" alt="內潰圖">
</figure>
<p>七日前內潰者，胃爛也。蓋因風寒所中，腠理固密，陰陽二分壅塞不通，其毒內攻。氣既不能拘血，血又不能載毒，藏府之間，毒火炮熾則潰而成膿，口舌皆白，是其驗也。如此克害生靈，何其慘毒！識者知痘毒未出之時，或有風寒阻塞，氣粗熱盛，身必戰動，腹肚急疼，謹此患以和解湯、升麻湯逐散寒邪，開泄腠理縱毒而出，豈有是症者哉！</p>

<h1>痘治附方</h1>
<p>附方總一百五十三道，皆前諸論中之所載也。以魏君所定十六方觀之，則一百五十三方似皆無所用矣。今猶附之篇末，意欲輯為全書。有論無方，非所以廣見聞也，且臨症施治，亦有便於檢閱，免致為其所惑焉。</p>
<p><u>一、初生服生地黃汁</u>　仲景云：孩兒初生下時，用生地黃汁點在兒口中，即下黑糞，終身不害痘疹。</p>
<p><u>二</u>　、冬溫服生油劑　小兒藏府伏於熱毒，未成瘡疹，四肢微覺有熱，食物似減，頭髮干立，或時額多微熱，用生油一小盞，以溫水一小盞，旋傾入油盞內，以杖子打攪，水盡更打，令勻如蜜即止。夜臥時，百日一晬至三歲，每服二蜆殼；五歲至七歲，三蜆殼；八歲至十五歲，服半合。大人一合至二合，量大小增減。服後良久，令臥少時，服三五服，大小便利，四肢熱退，瘡痘不生也。但瘡痘已出不可服，惟服和平藥解其大熱，慮熱毒太盛也。</p>
<p><u>三、冬溫服三豆飲子</u>　凡有時行瘟毒，天行瘡痘者，宜預服之。</p>
<p>黑豆　綠豆　赤小豆（各半升）　甘草（一兩）　用水九升，煮豆熟為度，逐日空心任意飲之。七日後，瘡必發快。冬月溫暖，小兒必發瘡痘，宜預服之。</p>
<p><u>四、茜根汁</u>　治時行瘟毒，痘瘡正發。預煎汁入酒飲之，則不患瘡痘，累用甚應。</p>
<p>本草云：茜味苦，治一切血病、痔瘻、癰癤、排膿。</p>
<p><u>五、葛根散</u>　治天行熱氣。欲發痘瘡，壯熱作疼，宜此解肌出汗。</p>
<p>葛根場　麻黃（各一兩）　石膏（二兩）　黃芩　芍藥　桂枝　甘草（各半兩）　上為粗末，每服四錢。水一盞煎至半盞，溫服，取少汗。若先自汗者。去麻黃。</p>
<p><u>六、樺皮湯</u>　治傷寒、時氣、豌豆瘡毒。</p>
<p>樺皮銼，水煎，溫服取汗。樺皮味苦平，無毒，治肌熱、黃疸、時熱、毒瘡、癰腫及乳癰初作腫硬。</p>
<p><u>七、必勝散</u>　治瘡泡出，未能勻遍。此藥透肌解毒，或未及利而瘡毒已先發，宜此服之。牛蒡子不限多少，炒熱，杵細末，每服一錢。入荊芥二穗，水一盞，同煎至七分，溫服。如瘡疹已出，服尤妙。《本草》牛蒡子通十二經，則瘡疹出齊無阻矣！又云：癰未破，服一枚能出癰頭，故出而未透勻者宜之。</p>
<p><u>八、涼驚丸</u>　治瘡疹，五藏皆見，木勝土、木歸心，預防發癇。</p>
<p>龍膽草場　防風　青黛（各三錢）　鉤藤（二錢）　牛黃　麝香（各一）　黃連（五分）　龍腦（一錢）</p>
<p>上同研末，麵糊丸如粟米大，每服三五丸至一二十丸，煎金銀湯送下，溫服。</p>
<p><u>九、栝蔞散</u>　治癍生於心。心生熱，熱生風，風屬肝，二藏相搏，風火相爭，故發搐也。用此瀉心肝，補其母。</p>
<p>栝蔞根　白甘遂（各二錢）　上同慢火炒焦黃，研勻，每服一字，煎射香薄荷湯調下，無時。</p>
<p><u>十、升麻湯</u>　治大人小兒時氣、瘟疫、頭痛、足冷、脈數、發熱、肢體煩疼及瘡疹疑貳之間，或未經解利而瘡毒已發。又云瘡疹大便如常者，並宜服之。升麻苦寒無毒，主解百毒，瘡痘亦毒也。葛根性平，治消渴大熱，解肌發表，開腠理，治頭痛。大抵瘡疹是蘊熱毒，葛根解熱，升麻去毒，且二藥皆治伏熱動心、恍惚、驚悸、煩躁。芍藥治時行寒熱又活血，俾使瘡疹易出又利小便。瘡疹有大熱者，利小便也，用甘草調和之。且瘡疹渴燥甚者，亦用炙甘草。四者為治瘡疹之要藥也，是瘡疹服之則毒減而愈矣！若傷風、傷寒、傷食、驚搐兼患痘疹而稟氣怯者，皆發虛熱而非實熱。若服之，反以為害。但有壯熱、面青、目白睛不黃赤、大便不秘、小便清者，皆不可服，里無蘊熱故也。此治瘡未發前、瘡愈之後服之消毒，非正出時服。升麻、葛根、芍藥、甘草等分為粗末，每服二錢，水一盞煎至半盞，去滓，溫服，無時。亦可為細末，湯調服。身心煩熱則溫服，寒多則熱服。</p>
<p><u>十一、惺惺散</u>　大抵渾身壯熱，必由風熱、瘡疹、傷寒、時氣，且先與此也。其頭痛、目澀、鼻流清涕者用細辛；喘粗者用桔梗、人參；多睡者用茯苓。恐傷寒、時氣，胃氣弱者用白朮；風熱瘡疹用栝蔞根。栝蔞根苦寒，治身熱煩滿大熱，除腸中痼熱、燥渴熱而胸痹不下乳，皆攻其熱也，故非裡寒者可用。裡寒者，身雖大熱，不渴，大便反利，小便不赤，面青目白，睛不黃赤，其中雖有白朮之溫，終非虛熱者所宜。人之藏府，寒則寒藥先效，熱藥未必能制之；熱則熱藥先效，寒藥亦莫能制之，此勢之自然也。用藥豈得不辨表裡冷熱？小兒傷風壯熱，當先服此，大效。如壯熱未退，切不可與通利大便及涼藥，恐是瘡疹，反有誤矣！若桔梗　細辛　人參　甘草（炙）　栝蔞根　白茯苓　白朮（各等分）　為細末，每服一錢，水一盞，薄荷二葉，同煎至三分，去柤，溫服。要和氣，人姜煎服，無時。身雖壯熱，大便自利者不可服。</p>
<p><u>十二、荊芥散</u>　治麻子兼瘙癢或癮疹。大便自過，用荊芥少許，研爛，以新井水將帛濾過，入麻油一滴打勻，令飲之，便不悶亂。麻痘已出，用黃蠟煎牛皮膠，水飲則安。荊芥治血風。麻子是疹子，常言風瘙癮疹皆出於皮膚，其毒輕而浮，用麻油取其滑竅，黃蠟煎牛膠，水滋血行榮衛，榮衛既順，麻疹出矣。一方，加薄荷。</p>
<p><u>十三、羌活散</u>　解熱散毒，治風壅欲作痘疹者。</p>
<p>羌活　獨活　川芎　桔梗　蟬退　前胡　柴胡　地骨皮　甘草（炙（　栝蔞　天麻（炙（　荊芥　防風（各等分）　為細末，每服一錢，水三分盞，薄荷三葉，煎至二分，溫服。量大小，加減藥水。</p>
<p>此治風、治寒、治驚下疾，涼脾，治血熱、透肌。但屬實熱，無不治之。或稟受弱、脾胃弱、里無熱者，不可輕用。</p>
<p><u>十四、奪命散</u>　瘡疹已發、未發並宜服之。出痘疹，熱毒勢甚者服之。解蘊熱，利小便，痘疹初發氣盛亦宜服。</p>
<p>升麻、糯米、甘草、紫草（各半兩）　木通（二錢半）　上銼為散，每服一大錢。水七分煎四分，去滓，溫服。</p>
<p><u>十五、牛蒡散</u>　涼風解毒。小兒冬有非即之暖，及春月天氣暄暖，或肥甘之過，或重衣溫厚，傷皮膚，害血脈，瘡瘍發黃，致生多疾，宜常預服之。</p>
<p>牛蒡子炒，為末，水煎一盞，服之。</p>
<p><u>十六、葛根橘皮湯</u>　治冬溫未即病，春被積寒所折，不得發，至夏熱，其寒得解，冬溫始發，肌肉班爛，癮疹如錦紋而咳，心悶，但嘔吐清汁。葛根　橘皮（去白）　杏仁（去皮尖）　知母　黃芩　麻黃（去節）　甘草（炙，各等分）　銼散，每服炒三錢。水一盞同煎半盞，去滓，溫服，無時。</p>
<p><u>十七、薄荷散</u>　小兒稟受雄實，才覺是瘡，若毒氣甚者宜服之。</p>
<p>薄荷葉（一兩）　麻黃（去節）　甘草（炙，半兩）　為細末，每服三錢，水一中盞、棗二枚、姜三片同煎至六分，去柤，日三兩次，溫服。此方服之汗出，即服調中散。服後若作寒熱，脈反遲者，進脫齒散以溫之。詳此非下藥也，實者服之未必安，虛者服之必危殆。</p>
<p><u>十八、獨聖散</u>（又名牛蒡殭蠶散。）小兒發瘡，早微熱，晚大熱，目黃，脅動，手冷；發甚如驚者。牛蒡子（半兩）　白殭蠶（一分）　為粗末，每服一大錢。水六分盞，紫草二七寸，同煎至四分盞，連進三服，其痘便出。牛蒡子出癰、透肌；白殭蠶治遍身癮疹、疼痛成瘡。為末酒調服之，立瘥。紫草能利竅，瘡疹無虛寒症者，服之立出。</p>
<p><u>十九、抱龍丸</u>　治小兒一切風熱、中暑、驚悸、瘡疹欲出、多睡、咳嗽痰盛、面赤、手足冷、溫壯、睡中驚搐不寧、脈洪數、頭痛。南星（取里白者為末，用臘月黃牛膽汁和為劑，卻入膽中，令乾，再為末，半斤。（勁十足　天竺黃（二兩）　硃砂（二錢，研水飛）　雄黃（半兩，水飛）　麝香（一錢）　牛黃（一字）　同研極細，滴水和丸，如雞頭實大。二歲兒，竹葉薄荷湯化下一丸，無時。錢氏云：因驚而生熱，用藥發散，熱入於表，故表熱而生班，宜服之。</p>
<p><u>紫草膏</u>　治麻痘不快。紫草　白附子（各一錢）　麻黃（去節）　甘草（各二錢）　全蠍（十個）　殭蠶（十個，炒）　為末，用蜜一兩、酒半盞，入紫草煎數沸，旋旋和入前藥，丸如皂子，每服一粒，用紫草煎湯化下，續用黃耆散調治，此上等藥也。紫草膏治瘡痘，兼此藥治驚癇風疾，又治瘡痘出不快。如瘡初症似傷風。傷寒、驚風，疑貳之間服之，皆有主治，不至敗事，醫家常蓄為妙。</p>
<p><u>二十、紅綿散</u>（一名天麻散。）天麻　荊芥（各一分）　麻黃（去節）　甘草（炙，各二錢）　全蠍（七個全者）　為末，每服一錢。水半盞，薄荷二葉，酒四五滴，煎二三沸，帶熱服之。如疹未出，再進一服，相次又進一服。若是傷風，服亦不妨。大抵身有大熱，面赤氣粗，無汗，為表未解也，可服之。此藥以天麻、麻黃為主治，有汗不得服麻黃，腠理已開不宜便發汗也。若有汗而熱者，則惺惺散為和解之藥。故仲景論表症，有發汗者，有和解者，有調和榮衛者。今有汗而熱，則和解為宜。如虛而熱者，則宜調榮衛，如和中散之類是也。此藥荊芥主寒熱、鼠瘻、瘰癧、生瘡，下瘀血；天麻治諸毒惡氣、皮膚壅滿、熱毒癰腫；全蠍治諸風癮疹、筋脈諸風、小兒驚風。其荊芥、天麻、全蠍皆性平，治瘡理血，故宜於瘡痘也。</p>
<p><u>二十一、五積散</u>　治傷寒寒疫、內傷生冷者。瘡痘本蘊熱毒，小兒熱盛，渴則飲冷，熱則當風，致被風寒所伏，寒熱相搏，面青發熱，心煩，自利，宜此散。其內外寒毒，然後熱氣上行，或汗，或瘡痘，或癮疹，皆愈矣！方見寒門。</p>
<p><u>二十二、麻黃湯</u>　主瘡疹煩喘甚者。麻黃（去節）　杏仁（去皮尖）　甘草　桑白皮（蜜炙）　上銼為散，每藥一錢，用水七分盞，同煎至四分盞，去柤，溫服。若脈數、熱未退者，入竹瀝少許。咽喉痛或嗽者，煎熟，入麝香少許服。</p>
<p><u>二十三、紫草飲子</u>　治小兒瘡疹三四日隱隱在肌膚而未出，及瘡出遲。蓋紫草通水道，去心腹邪氣，內除積熱，又能利竅，使瘡易出。紫草（二兩）細銼，以百沸湯一大盞沃，以物合定，勿令泄氣，量兒大小，溫溫服，雖瘡出亦輕。</p>
<p><u>二十四、發灰飲</u>　治班瘡豌豆。古方以亂髮治下腫、骨疽、小兒熱瘡、痰熱、諸般血病。發木血之餘，今治諸血症，從其類也。頭髮燒灰存性，飲調服之。</p>
<p><u>二十五、牛蒡甘草散</u>　治麻痘初作，服此則稀。牛蒡子（麩炒，一兩）　甘草（炙，一錢）　為細末，每服一字或二字，胡荽煎湯調服，無時。</p>
<p><u>二十六、兔肉醬</u>　用臘月兔肉作醬食，去痘瘡。兔肉平寒涼血故也。兼臘兔毛煎湯洗痘瘡，及兔毛傅良。兔腦主凍瘡，兔骨醋磨傅久疥，兔毛灰主炙瘡。兔頭皮主鬼疰毒氣在皮膚如針刺者，又主鼠瘻。已上兔之所主，皆治皮膚瘡瘍。蓋兔肉多食，令人色痿，損陽事，絕血脈，此亦涼血散熱故也。</p>
<p><u>二十七、安班散</u>　此為涼血解毒、生肌、寬腸、導熱、利小便、快膈藥也。瘡痘有熱無寒者，可服之。升麻、赤茯苓、羌活、黃耆、人參、桔梗（炒）、枳殼（麩炒）、甘草（各等分）　為細末，每服一錢。水七分盞，紫草、薄荷少許，同煎至四分盞，溫服。量兒大小增減。</p>
<p><u>二十八、蘿蔔湯</u>　用開花蘿蔔煎汁，時時飲之。開花取其欲出之義。蘿蔔治嗽定喘、下氣消脹、解毒、解渴、解面毒，皆勻氣消壅藥也。氣勻則瘡疹出快矣！</p>
<p><u>二十九、紅子湯</u>　平調瘡疹。紅花子、紫草茸（各一兩）　麻黃（去節）　升麻（各半兩）　為細末，每服半錢，煎薄荷湯，入酒一滴調下。此用麻黃表毒氣令出，升麻解蘊毒，紫草滑竅，紅花子，《本草》治天行瘡不出，吞數粒即出，故用之。</p>
<p><u>三十、快班散</u>　此用貫眾，味微寒，主腹中諸熱邪毒、患痘、煩渴、咽燥、喘急、大便閉、小便赤澀、口乾目赤，皆裡熱也，宜服之。如無裡熱反為害矣！若當服不服亦為害也。貫眾、赤芍藥（各一兩）　甘草（炙）　升、枳殼（麩炒，各半兩）　為細末，每服一錢。水一盞，竹葉七片，煎至五分盞，去滓溫服。量大小與之。</p>
<p><u>三十一、甘草散</u>　治瘡未出，及已出躁渴者。大甘草不以多少，炙為末，每服一錢或二錢。水一盞煎至六分，去滓溫服，無時呷之，以解利熱毒。瘡出遲者常服紫草飲子。可針兩腕硯子骨間，男左女右取之，或灸一壯，亦助發。瘡痘毒氣已發，不必用。</p>
<p><u>三十二、紫草如聖散</u>　瘡痘初出，急服。吃乳嬰兒與乳母兼服；四五歲外，只令兒服之。紫草（二兩）　陳皮（去白，一兩）　為細末，每服一錢，水一小盞，入蔥白五寸，煎至五分盞，去柤溫服，量兒大小服之。夫瘡疹，氣勻則出快。紫草滑竅，去心腹邪氣；陳皮快氣；蔥白髮散，開泄腠理也。</p>
<p><u>三十三、化毒湯</u>　治痘疹已出、未出。紫草、升麻，甘草（炙，各半兩）　銼如麻豆大，水二盞，煎糯米五十粒，煎至一盞，去柤放溫，分作數服。此方名為化毒，至於主治無不切要。痘瘡欲出，渾身壯熱，不思飲食，服此一貼即內消。已有一兩顆出，即解其半。若令出則自頭焦，只三服，差。瘡疹無他病相兼者，無不愈。又在人稟受虛實不同，感風寒食驚不一。仲景云：正患傷寒，如其人有故疾發動，則兼以故疾藥攻之。《活人書》云：傷寒病中又感異氣，乃時令寒暑燥溫風不節，脈息與少陽相異，證候與傷寒不同，當隨宜以法治之，不可泥於一曲也。此藥但能化實熱之毒，若稟虛而浮熱伏冷者，皆當調適，以平為期。</p>
<p><u>三十四、調中散</u>　白茯苓、紫河車、人參、甘草（炙，等分）　為細末，每服二錢，水一盞，生薑二片，棗二枚，煎至六分，去柤，作兩、三次溫服。</p>
<p><u>三十五、紫草木通湯</u>　木通、紫草、人參、茯苓、糯米（各一兩）　甘草（炙，半兩）　為粗末，每炒四錢，水一盞半，煎至一盞，分溫三服。痘瘡熱甚則出，而心主熱，熱甚則小便赤澀，其熱蘊蓄而生病，此以木通導心火，糯米歸脾土。心清則不生他病，脾平則五藏自安也。</p>
<p><u>三十六、如聖湯</u>　治瘡痘毒攻，咽喉腫痛。桔梗（炒）　甘草（炙）　牛蒡子（各一兩）　麥門冬（去心半兩）　為細末，每服二錢。沸湯點，細細呷服，入竹葉煎尤妙。</p>
<p><u>三十七、蟬退甘草湯</u>　發痘疹。大蟬退（二十一個去尖）、甘草（一錢半），用水半碗煎至一小盞，旋服之，已驗。</p>
<p><u>三十八、紫草枳殼湯</u>　治瘡出不快倒靨。紫草、木通、甘草（炙）、枳殼（麩炒等分）　為粗末，每服二錢，水一小盞，煎至半盞，去滓溫服。大抵壅瘀則榮衛不行，令出不快則倒靨。用枳殼寬腸；木通利小便；紫草滑竅。治蘊蓄邪氣，皆令易出，大小便秘澀者，無不可用。</p>
<p><u>三十九、當歸散</u>　初濕瘡痘，便驚狂，身熱，汗出，不增寒，不惡風，脈洪數者當下之。痘未發前宜服。當歸（一兩）　甘草（炙，二錢）　為細末，每服二錢，水一中盞，豆豉十粒，煎至半盞，去滓，量兒大小服，以利為度，逐日冷，吃甘草汁。三歲已下、一歲已上加減服之。</p>
<p><u>四十、快毒丹</u>　瘡疹氣勻則出快。蓋血與氣相隨，內有邪熱則血妄行，使氣不勻，宜服。瘡出亦可服。牽牛（黑者，略炒）　木香（各一分）　肉豆蔻（半兩）　青皮（一兩，半生半熟）　搗羅細末，滴水，丸如黍米大，每服七粒或十粒，濃煎紫草蔥白湯下，乳前服，量大小加減。</p>
<p><u>四十一、胡荽酒</u>　治瘡已發、未發。蓋心主瘡瘍，主煩躁，主驚悸，主痛癢。胡荽味辛，能通心竅，而通之則瘡易出。若大便利者，紫草、胡荽皆未可用。紫草性寒，胡荽利大腸故也。宜先溫藏府如常，痘疹未退可用。胡荽（三兩）細切，以酒二大盞煎沸，沃胡葵，以物合定，不令泄氣。候冷去滓，從頂、面頰、眼目、背膂、兩腳、胸腹微微塗之，令遍，惟面勿塗。錢氏用好酒二盞煎一兩，沸入胡荽四兩再煎。又云：病人左右、上下常令有胡荽氣，令闢汗氣、惡氣及外人穢觸，使瘡痘出快。既不可受風冷，然亦不可臃遏，常令衣服得中。</p>
<p><u>四十二、葡萄酒</u>　葡萄甘平，利小便。取穗，出快之義。研酒飲之。</p>
<p><u>四十三、辟惡氣</u>　痘疹未出之間，房中宜燒蒼朮、豬甲二物，以辟惡氣。父母宜戒色欲，令人守門，勿使外人入房。觸犯則痘難出，或觸犯而病上喘。面青黃者猶輕，因此犯而死者不少。</p>
<p><u>四十四、燒乳香</u>　瘡痘正發，忌諸臭穢惡氣，以逆榮衛，恐陷伏倒靨也。房中常燒乳，香不絕，可去惡氣。</p>
<p><u>四十五、黃土散</u>　痘瘡已出，不可發表，表虛更增班爛。若發膿痛甚者，用乾淨黃土，羅為細末傅之，仍數數食蜜為妙。</p>
<p><u>四十六、芒硝豬膽汁</u>　治瘡班爛。因表太過，一手一足、面腦腹背各為一片，瘡相似，令人不忍觀之。用芒硝、豬膽汁調塗瘡上，勿令動觸，直候疕落。有瘡濃汁不通，臥席宜麥麩簟，臥將息為妙。</p>
<p><u>四十七、黑牛糞</u>　治膿泡出，煅黑牛糞貼之，令速愈而無瘢痕。已出未平，忌勞力、狐臭人薰觸。未愈不可當風，當風則成瘡瘢。</p>
<p><u>四十八、黃柏膏</u>　欲用胡荽酒噴時，先用此方塗面上，然後噴四肢。大人、小兒愛護面目，悉宜用之。黃柏（一兩）　甘草（四兩，生）　綠豆粉（兩半）　搗羅細末，以生麻油調如薄膏，從耳前眼唇並厚塗三五遍。早用塗面，面無瘡痘；塗遲，縱有瘡痘亦少。</p>
<p><u>四十九、白芥子散</u>　治痘，令不入目。白芥子為末，水調傅腳心，引熱歸下，則瘡不入目矣！</p>
<p><u>五十、爛肉汁</u>　治痘瘡。用爛肉汁洗之，干傅亦得。</p>
<p><u>五十一、蟬蛻散</u>　治痘疹。身熱似傷寒，只耳尖、腳稍冷，或腹痛，大便秘者是痘疹也。用蟬蛻二十一個，洗去泥，為末，水一盞，慢火煎至半盞，去滓，量兒大小溫服，服三、五次。不是痘亦無害，欲痘發出加甘草一錢半，煎一盞，旋旋服，累效。小兒伏所蘊熱毒，蟬蛻鹹寒可以制之。況有感暴風寒，作熱客於表者，蟬蛻亦治風毒充於皮膚，瘙癢不止。驚癇夜啼、癲疾、寒熱、驚悸皆宜用之。</p>
<p><u>五十二、猴梨酒</u>　治痘出不快。猴梨子（五個，又名山楂子）。酒煎，入水浸服，痘瘡即出。</p>
<p><u>五十三、麻黃紫草湯</u>　治痘不出。麻黃（去節）　人參（各一分）　杏仁（七枚，去皮尖）　為粗末，每服二錢。水二盞，紫草五寸，煎至一盞，去柤，分四服，作二日服，未可，服諸藥。</p>
<p><u>五十四、水解散</u>　治瘡出不快、煩躁不得眠，或出而身體尚熱者。大黃、黃芩、桂心、甘草（炙）　芍藥（各二錢）　麻黃（去節，四兩）　為末，患者以生熟湯浴訖，暖水調下二錢，相次二服，得汗利便差。強實人服二方寸，七氣實者亦用，三伏中亦宜用之。若去大黃，則春夏通用。凡人飲酒，食瓜果，多以生熟湯浸身，皆為酒及瓜氣味，此用浴身，亦欲出其毒也。</p>
<p><u>五十五、玄參升麻湯</u>　治傷風、傷寒、風熱，驚食等。熱運於肌，或汗或下後，毒氣不散，表虛里實，熱發於外。故身班如錦紋，甚則煩躁譫語，兼治喉閉腫痛。玄參、升麻、甘草（炙等分）　銼如麻豆，每抄三錢。水一小盞，煎至半盞，去柤，溫服，無時。</p>
<p><u>五十六、麻黃黃芩湯</u>　治痘出不快、煩躁不得眠。麻黃（去節一兩）　黃芩、赤芍（各半兩）　甘草（炙）　官桂（去皮，各一分）　為細末，每服二錢。暖水調，日三服。兼治天行熱氣、痘瘡不快、煩躁昏憒，或痘出身尚熱疼。</p>
<p><u>五十七、升麻黃芩湯</u>　升麻、黃芩、乾葛、芍藥（各三錢）　甘草炙（錢半）　銼如麻豆，每服二錢，水一中盞，煎至六分，去滓溫服。治時行、瘡出不快、煩躁不得眠者，加木香半錢。</p>
<p><u>五十八、葛根散</u>　治天行熱毒氣，欲發瘡痘，作熱甚疼者，宜此解肌出汗。葛根、麻黃（各一兩）　石膏（二兩）　黃芩、芍藥、桂枝、甘草（各半兩）　為粗末，每服四錢。水一盞，煎至半盞，去柤，溫服，無時。自出汗者去麻黃。</p>
<p><u>五十九、四順散</u>　治瘡痘四五日不大便，瘡又盛出，卻喘粗氣，急腹脹，小便赤澀宜此。大黃、甘草（炙）　芍藥、當歸（各等分）　為粗末，每服抄三錢，水一盞，煎至六分，去滓溫服，無時。若得氣通不喘，腹不脹，止服。初覺有赤點，大便如常，小便赤澀，用此通利，令出快也！若色紅而快，不須通也。</p>
<p><u>六十、利毒丸</u>　治痘瘡欲出，胃熱發溫，壯氣粗滿，大小便赤澀，睡中驚，煩渴，口舌乾，手足微冷，多睡，時嗽涎實，脈沉大滑數，便宜服此。大黃（半兩）　膩粉、大青（各一錢）　龍腦、硃砂（各錢半）　檳榔、生牽牛、黃芩、青黛（各錢半）　上為細末，麵糊丸如黃米大，二歲服八丸，生薑蜜水下。不動再服，量兒大小、虛實加減。</p>
<p><u>六十一、紫霜丸</u>　治夾食、頭疼、壯熱。腹脹為夾食，方見《和劑》方。</p>
<p><u>六十二、消毒散</u>　治痘瘡已出、未能勻透，毒氣壅遏，出不快。壯熱狂躁、咽膈壅塞、睡臥不安、大便秘澀及大人上膈壅熱、咽嚨腫痛、胸膈不利。加防風，名鼠黏子湯。牛蒡子（炒，六兩）　甘草（炙，二兩）　荊芥（一兩）　為粗末，每服一錢，水七分盞，煎至四分，去滓，食後臨臥。服此治大便秘澀，是治裡熱也。牛蒡子辛平性涼，治風腫。暴飧熱肉，生風，咽喉、四肢風腫。解丹石毒，能透肌出瘡，為痘疹所宜。大便利，不可服。</p>
<p><u>六十三、化班散</u>　加知母，名石膏知母化毒散。石膏（紙裹煨，令透，或用泥瓦燒之，取出去火毒為末。切）　知母（等分）　為末，熱水調下一字，或調塗唇上，去頭痛、除昏，發泄瘡子，治小兒瘡班，此二方極妙，後方恐大涼。</p>
<p><u>六十四、地黃雄黃飲</u>　治瘟毒發班。瘡痘出不快者，乃冬應寒反熱，或被積寒暴發，熱毒不得宣泄，令身班如錦文。心悶咳，但嘔清汁，葛根、桔皮、地黃雄黃飲。淡豆豉、地黃（各四兩）　以豬脂一斤和勻，露一宿，煎三分減去一分，去滓，下雄黃末一錢　麝香半錢攪勻，量兒大小服，過多反有所損。</p>
<p><u>六十五、犀解散</u>　治瘡疹不惡寒，煩躁多渴，小便赤澀，或赤班點。犀角（鎊）甘草（炙，各半兩）　防風（二兩）　黃芩（半兩）　為粗末，每服抄三錢，水一盞，煎至七分，去滓，溫服，無時。</p>
<p><u>六十六、紫河車散</u>　治班瘡毒氣不解，攻咽喉，聲音不出，舌頰生瘡，遏逆煩悶，潮熱面赤。紫河車、茜根、貫眾（各三錢）　芍藥　甘草（炙，各半兩）　為粗末，每服一錢，水七分盞，生薑一片，煎至四分，去滓溫服。一方用牛蒡子。</p>
<p><u>六十七、玳瑁湯</u>　治時行痘瘡及赤瘡疹子。未發令內消；已發解利毒，令不太盛。生玳瑁、生犀各以冷水濃磨汁二合，同攪令勻，每服半合，微溫，一日四五服為佳。又云：毒氣內攻，紫黑色，出不快，用玳瑁水磨濃汁一合，入豶豬心血，二皂子大，以紫草濃煎湯，都作一服，服之。二藥微寒，用治熱毒，知其無失。且主瘟疫盅瘴、解百毒、通血脈、消前邊腫，用解蘊毒宜哉！</p>
<p><u>六十八、白虎湯</u>　治痘疱、麩瘡、斑瘡、赤黑出不快，及瘡毒餘熱，並溫熱病暑，中氣煩躁熱渴，大便秘，小便赤，四時天氣大熱，及冬月天氣大溫，則可服之。石膏（四兩）　知母（兩半）　甘草（炙三分）　人參（半兩）　為粗末，每服抄三錢，水一小盞，粳米二十粒，煎至半盞，去柤，溫服無時。此藥治中暑及痘瘡，天氣大熱與肌熱、心熱相應，煩躁狂亂，渴水，發黃，鼻衄，吐血，便血，淋秘。夏月痘瘡煩躁加麥門冬、竹葉，名竹葉湯。</p>
<p><u>六十九、人參竹葉湯</u>　治夏月壯熱、煩躁、心煩、乾渴、心神不寧、痰壅嘔逆，及瘡後餘毒、小便赤澀，成赤班，兼治中暑虛煩。</p>
<p>半夏（湯泡洗七次）　人參、當歸、淡竹葉、天門冬（去心，各等分）</p>
<p>為粗末，每服抄二錢。水一小盞，姜三片，煎至半盞，去滓，溫服，無時。瘡痘不惡寒但煩躁，小便赤澀，多渴，成赤班點者，宜之。</p>
<p><u>七十、三物散</u>　治瘡痘毒氣少，倒伏不出，大小便利。生地黃（炒）　地黃（炒）　硃砂（另研，一兩）　為細末，每服一字，煎胡荽，酒少許，同溫湯調下。</p>
<p><u>七十一、青黛散</u>　治瘡未作膿，痛甚，心膈煩躁，睡臥不安，宜服。用波斯青黛如棗核大，以水調服。一方用磨刀水調。</p>
<p><u>七十二、野通散</u>　治痘出不快，並傷寒不語。干野人糞（炭火煅為灰）　片腦、麝香（各少許）　為細末，每服一錢。新汲水，入蜜調下。野人，獼猴也，黃色，尾長面赤，糞治蜘蛛咬瘡，此治痘疹出快明矣！若人家養者，肉及屎違其本真，不用。蜘蛛咬瘡久而不愈，其絲延蔓遍身，用雄黃、青黛、麝香水調，以蜘蛛試之，則化為水，果驗。</p>
<p><u>七十三、無比散</u>　治痘出不快及黑瘡子、一切惡候。</p>
<p>硃砂（一兩）　牛黃、片腦、麝香、膩粉（各一分）　上同研細，小兒一字，大人半錢，水銀少許，入小獖豬尾血二三滴，新汲水少許調服。若得寧睡，然後下如爛魚腸、葡萄穗及臭涎惡物即安。小兒用乳汁數滴尤妙。</p>
<p>古人論症處方，罔有不效。須是藥病相對，則一下咽而病去；若不相對，下咽則死也。如傷寒有用硝黃而愈者，有用薑、附、硫、桂、著艾而愈者，此合用而用之也。設若合用涼而反用熱，合用熱而反用寒，豈不下咽則死矣！無比散治痘瘡熱毒太盛，壅瘀榮衛不行，外不得泄，內不得通。毒氣在裡，外則瘡疹黑色，內則有腹滿喘急，譫語昏困，大小便不通者，宜服之也。此有其毒，則用其藥，固無不效。設或痘瘡黑靨，里無腹脹喘急，譫語昏困，大便如常或反利，則此藥不可用矣！常言對症用藥是也。一士夫子弟八歲患痘黑靨，診其胃脈太弱。言平時胃弱不能進食，今痘黑靨，醫用升麻湯、羌活散，藏府日夜數次米穀不化，後用溫藏府藥，更不止而卒。故下藥先審病之虛實、寒熱，豈可見黑靨一概便投涼劑，寧不誤人！</p>
<p><u>七十四、黑痘湯</u>　治瘡，痘未作膿，心膈躁，睡不安。用黑豆煮汁，徐徐溫服之。</p>
<p><u>七十五、透肌散</u>　治症與三十三化毒湯同。</p>
<p><u>七十六、黃連散</u>　治痘瘡，毒氣上衝口舌，並下部有瘡而熱者。黃連（一兩，去毛）　為末，每服一錢，水一盞，煎至五分，去滓，服無時。量大小、虛實與服。痘瘡初發，亦宜服之。</p>
<p><u>七十七、通關散</u>　治班瘡水痘，心悶煩躁、發渴、小便赤澀、口舌生瘡，通心經，利小便。山梔子、大黃（炒各一分）　木通、瞿麥、甘草（炙）、　車前子（炒）　茯苓、人參、滑石（各三分）　萹蓄（半兩）　為細末，每服一字。二、三歲者，水半盞，燈心煎至三分。稟受弱者，五苓散、導赤散、人參白朮散亦得。</p>
<p><u>七十八、紫雪</u>　治大人、小兒一切熱毒，胃熱發班，消痘、疱麩疹，及傷寒胃熱發班，並驚癇涎厥，走馬急疳，熱疳，黃瘦，喉痹，及瘡痘毒攻咽喉，水令不下。黃金（一百兩）　寒水石、石膏（各三斤）　犀角、羚羊角（各兩）　玄參（一斤）　沉香、木香、丁香、甘草（兩）　升麻（六兩）　用水五斗，煮金至三斗，去金，入諸藥再煎至一斗，濾去柤，投好芒硝二斤半，微火煎，柳篦不住手攪。候微凝，入盆中，更入硃砂、麝香末各三兩，急攪，候凝，冷貯密器中，勿令見風。每服一錢，溫水化下。小兒半錢或一字。咽喉危急，捻少許乾嚥之。</p>
<p><u>七十九、竹葉湯</u>　治痘疹不惡寒，但煩躁，小便赤澀，多渴，成赤班點者，宜此與犀角散。石膏（四兩）　知母（二餞）　麥門冬（去心）　甘草（炙，各一兩）　為粗末，每服抄二錢，水一盞，竹葉一握，煎至半盞，去柤，溫服，無時。</p>
<p><u>八十、導赤散</u>　治痘疹心經蘊熱，睡臥不寧，煩躁，小便不利，面赤多渴。貪乳者，渴也。人參、木通、麥門冬（去心）　生地黃、甘草（炙，等分）　為粗末，每服抄二錢，水一小盞，煎至半盞，去柤，溫服，無時。</p>
<p><u>八十一、救生散</u>　治膿疱惡候，危困陷下，黑陷。此藥治熱毒倒入藏府者，不得已用之。獖豬血（臘月以新磁瓶盛掛，當風陰乾）場　馬牙硝（各一兩）　硃砂、牛黃、片腦、麝香（各一錢）　同研極細，每服一字，新汲水調下。大便下惡物，瘡轉紅色為度。不過再服，神驗。</p>
<p><u>八十二、犀角湯</u>　又名調肝散。治痘疹及赤瘡子。犀角（鎊）　大黃（炒）　鉤藤、桑白皮（蜜炙）　甘草（炙）　麻黃（去節，一兩）　龍膽（半錢）　石膏、栝蔞、黃耆（炙，各半兩）　為粗末，每服一錢，水一小盞，煎至四分，去柤溫服。量兒大小加減服。瘡子退後，濃磨犀角水塗之更良。錢氏亦用此藥治痘疹太盛，令不入目。此治風盛氣實，心肝血熱，津液內燥，大便不通，毒氣上盛，表熱未散也。大黃、瓜蔞治內燥；鉤藤、龍膽治風血熱；桑白皮、石膏治上焦熱；麻黃、黃耆散肌熱；犀角、甘草解毒熱。大抵用藥貴乎與病相主，則病去而正氣自復，否則反為大害。如犀角散自非大便數日不通，喘急悶亂，煩躁譫語，豈可用乎？恐藥病不相主也。</p>
<p><u>八十三、牛黃散</u>　治痘疹陽毒入胃，日夜便血，腹痛啼哭。牛黃（一分）　鬱金（一兩）　為細末，每服半錢，以漿水半盞，煎至三分，去滓溫服。量兒大小增減，日二服。</p>
<p><u>八十四、玉露散</u>　治暑月痘疹，煩躁熱渴。寒水石（半兩，軟而微青黑，中有細紋者是）。　甘草（一錢，生用）　方解石（堅白有牆壁，手不可折者是，如無以石膏代，堅白似石膏，敲之叚叚皆方者是，半兩）　同為細末，每服一字或半錢、一錢，食後，溫湯調下。</p>
<p><u>八十五、犀角飲子</u>　解熱毒，去風疹。犀角、甘草（炙，各半兩）　防風（二兩）　黃芩（一兩）　為粗末，每服五錢，水一小盞，煎至半盞，去滓，溫服，無時。</p>
<p><u>八十六、犀角地黃湯</u>　《活人書》云：傷寒及瘟病，應發汗而不發汗，致鼻衄、吐血不盡，內有瘀血，面黃、大便黑，此主消化瘀血，兼治痘疹太盛。犀角（一兩）　生地黃（半斤）　芍藥（三分）　牡丹皮（一兩）　銼如麻豆，每服五錢。水一盞半，煎取一盞，有熱如狂者，加黃芩（二兩）。其人脈大來遲，腹不滿自言滿者，為無熱，不用黃芩。</p>
<p><u>八十七、豬毛膏</u>　又名龍腦膏。治痘瘡初作，未能出透及已出盡，內外熱毒，貫注血泡，如豆在於肌皮，不結痂疕，二者皆用之。且瘡疹蘊伏，毒熱欲出而未能透，則熱甚動心，心煩，狂躁妄語，或見鬼神，此皆心熱也。蓋心榮於血，血熱則瘀，瘀則色敗。未出者，則為鬼瘡子，一出而便黑也。已出者為黑靨。大抵痘瘡自紅班成血疱，血疱五七日結膿窠。至七日不結膿窠者，此是毒氣彌滿，恐復入里。古人用龍腦涼心血、行榮衛。用豬心血者，以心歸心；豬尾血者，取其常動欲散外也。況有狂躁煩悶，未省者那，以溫酒化下，欲散而行榮衛也，皆治熱毒太盛者。間有虛而陷伏者亦用之，誤人多矣！又有當用一字卻用一錢，熱少不能當之，亦反為害。如合用一字者，且與半字，如復寒渴甚，當與水一斗。且與五升，正此意也。既有心經熱兼有他虛寒症見者，又不可輕服。如吐瀉人發熱煩渴，小便赤，則不可全作寒治；煩躁人大便自利，小便清則不可全作熱治。在醫者，兩審不致偏局可也。</p>
<p>上用片腦半字許，研細，旋滴豬心血和丸，以紫草湯化下。煩躁狂悶未省者，以溫酒浸服。錢氏用豬尾血，其意皆通。</p>
<p><u>八十八、控心散</u>　班疹一服而出。全蠍（二十四個，炒）　麻黃（去節）　雄黃（各一分）　為細末，每服一錢，胡荽煎，酒調下。蠍治癮疹、中風半身不遂，口眼斜、語澀抽掣，此能透諸筋脈。雄黃主惡瘡疽痔，透百節，治疥瘍，並痘疹毒氣不出也。麻黃解肌泄邪惡氣，消赤黑班毒。三藥治痘當出而不出者。若自然出者，不須服也。</p>
<p><u>八十九、獨味麻黃湯</u>　治倒靨。用麻黃三十寸，去節，蜜拌炒，香紫色為度。水一盞，煎五六分服。</p>
<p>一人得此方後，知兗州仙源縣有工筆李用之子，班瘡倒靨已至危困，投此一服便出，其應如神。未至胃爛便血者，皆可治也。</p>
<p><u>九十、南金散</u>　治痘已出而復隱，其勢甚危，諸藥不效者，萬無一失。紫背荷葉（霜後貼水紫色者）　白殭蠶（直者炒，去絲）　為細末，每服一錢，小兒半錢。研胡荽汁和酒下，米飲亦得。在處印貼，施人全活者眾。有用龍腦、人齒，卒難得之，惟此無毒效速。</p>
<p><u>九十一、滑石散</u>　治瘡痘出遲，恐瘀壅黑色，膈上煩熱多渴，小便赤澀，面青氣粗，大便不利。此藥滑竅，令瘡出快。滑石、甘草（炙，各等分）　為細末，每服一錢。雞子清、酒各少許，調服。</p>
<p><u>九十二、橄欖核水</u>　治瘡倒靨。橄欖核，中截斷，水磨少許，服立發。</p>
<p><u>九十三、快毒丹</u>　治痘疹。氣勻即出快，蓋血與氣相隨，內有邪熱則血妄，便氣不勻，大抵痘瘡氣快自勻，痘疹出亦宜服。黑豆（炒）　木香（各一分）　肉豆蔻（半兩，麩裹煨）　青皮（一兩，半生半熟）　為細末，滴水丸如黍米大，每服七丸至十丸。濃煎紫草，蔥白湯下，乳前服。量兒大小加減。</p>
<p><u>九十四、紅粉丹</u>　治藏府熱，瘡出不勻。龍腦（一錢），坯子胭脂、天竺黃、硃砂（各一兩）　南星（臘月釀牛膽中，百日陰乾，一兩）　為細末，煉蜜和丸如雞頭實大。每服一丸，煎人參湯化下。</p>
<p><u>九十五、乳香豬血膏</u>　治班痘不發。乳香研細，豬心血丸如櫻桃大。每服一丸，用水磨化下。</p>
<p><u>九十六、紫金散</u>　治瘡痘倒靨，及出不快。紫草、蛇退（炒焦）　牛蒡子（炒，各半兩）　為粗末，每服一錢，水七分盞，煎至四分，去滓，溫服，無時。蛇退治一切惡瘡，十年不愈者，用之良，故也。</p>
<p><u>九十七、鉤藤紫草散</u>　發瘡疹，令出快。鉤藤鉤子、紫草茸（等分）　為細末，每服一字或半錢，溫酒調下，無時。紫草滑竅，利小便，散十二經毒氣。鉤藤治小兒寒熱、十二驚癇。蓋瘡瘍煩躁痛癢，皆出於心。驚癇，心病也。瘡瘍亦心所主，故用之。</p>
<p><u>九十八、麝香豬血丸</u>　治痘疹，出不透。旋取豬心血，調麝香少許，塗兩手心並塗些少口唇上即無，極驗。</p>
<p><u>九十九、木星飲子</u>　治瘡疹不出及出不快。硃砂（一分）　鬱金（半兩）　為細末，每服一字或二字。量大小入片腦少許，以新汲水茶腳少許調勻，然後刺豬尾，血滴三點入藥汁，令服。不過一、二時辰，瘡出紅活，神效。鬱金辛寒，主血積，下氣生肌，止血，破惡血、尿血、金瘡。今痘疹出於心，由於熱也。硃砂微寒，治熱安。心熱有蘊蓄，則壅瘀而不出。用鬱金下氣消惡血，則無壅瘀而出不遲矣！</p>
<p><u>一百、四聖散（又名紫草散）湯</u>　治痘出不快及倒靨。紫草、木通、甘草（炙）　枳殼（麩炒）　黃耆（切焙，等分）　為粗末，每服一錢，水一中盞，煎六分，去柤溫服。（內紫草發散；黃耆止痛、解毒生肌；枳殼治腹脹，令大小腸不秘，氣通導心熱而利小便；以甘草和之，古人用藥有至理焉。）</p>
<p><u>一百一、脫殼散</u>　取雞哺出殼，於新瓦上焙乾去膜，取殼研如粉。若痘疹倒靨，不出。或便血糞黑、頭瘡昏腫，用酒調一字，塗兒唇上，令舐；或以調酒塗風池穴上、心前，或以熱湯調一字服。</p>
<p><u>一百二、山梔子湯</u>　治麩疹及班毒。毒盛黑色，狀如蚊蚤所齧者。山梔仁、白蘚皮、赤芍藥、升麻（各一兩）　寒水石、甘草（炙，各半兩）　為粗末，每服一錢。水八分盞，入紫草、薄荷少許，煎至五分。去柤溫服。</p>
<p><u>一百三、化毒散</u>　鬱金（一枚）　甘草（炙，一分）　用水半碗，煎令水乾。去甘草，將鬱金切片，令乾為末。用腦子半錢，研勻入豬血，研成稀膏，煎薄荷湯化下一錢。不過一服，毒氣從手足心出，乃差。此五死一生之症，若便血、瘡壞無膿者，不治。一法：蟬脫末一錢，好腦子一皂角子大，大豬心血三皂子大，和作膏。熱酒浸紫草，令溫化，下移時當發大熱，瘡毒頓出，然後依症調治。</p>
<p><u>一百四、宣毒膏</u>　治毒盛，痘瘡已出不快、倒靨，急服此藥，曾經大效。獖豬尾血（臘八日取一升新瓦器盛）　硃砂、乳香（各一兩）　甘草、馬牙硝（各半兩）　片腦、麝香　同為細末，豬心血拌勻，用竹筒一個，留底節，盡入諸藥。在內用紙數重系定，掛大糞缸粱上，至清明日取出，暴乾，更入腦、麝各一錢，研勻，滴水丸如皂角子大。煎人參湯化下一丸，毒盛痘瘡黑靨服之，痘轉紅活綻突，神驗。</p>
<p><u>一百五、百祥丸</u>　瘡疹黑陷、耳尻反熱者，為逆，用百祥丸、牛李膏各三服。又云：紫黑干陷者，百祥丸下之；不黑者，謹勿下。黑者，無問何時，十難救一。或寒戰噤牙，或耳黃腫紫，急以百祥丸下之。下之復惡寒，身冷汗出，耳骫反熱者，死。身溫欲飲水者，可治。又云：黑陷不發寒者，病未困，宜百祥丸，以牛李膏為助，各一大服，五日瘡復紅活，血潤而愈。紅芽大戟不以多少，陰乾，漿水煮軟，去骨曬乾，復入汁中煮，汁盡焙乾為末，水丸如粟大，每服一二十丸。研赤，芝麻湯下。無時，吐利同。</p>
<p><u>一百六、牛李膏</u>（又名必勝膏）　治倒靨。又云：已出未出快者，宜紫草散、玳瑁散之類。重者，牛李膏。又云：痘疹毒氣不散，出不快，及解犯黑色者，宜用之。牛李七八月結實，黑圓成穗，採黑熟者，盆內研汁，絹濾去滓，銀石器盛，慢火熬成膏，磁器收，常令透風，每服一皂角子大。煎杏膠化，如人行二十里，再進一服，瘡疹自然紅色，毒氣亦慢。此藥神妙，一切瘡出不快並可服。無生者，市肆乾者為末，水熬代用。</p>
<p>董汲幼年病瘡，見皮膚下不出，及出不快，及紫黑干陷，惡症，極危，父母不忍見之。遇錢乙，下此藥得安。因懇求真方，遂傳於世。但收採失時亦無全效，九月後收取，濾汁成膏，每膏二兩，研入麝香半錢，用不津器貯。或用桃膠（半兩）　牛李子（一兩，炒）　為粗末，每服一錢。水七分盞，煎至四分，去滓，溫服。治療亦同。</p>
<p><u>一百七、倍金散</u>　治瘡痘倒靨黑色。鼠黏子（炒，二兩）　山楂子（連核一兩）　減枤葉（一兩）　為粗末，每服一錢，水一盞，入荊芥穗、紫草十根，煎至四分，去柤溫服。</p>
<p><u>一百八、抵聖丸</u>　治班瘡不出反入。取十二月老鴉，左翅不計多少，風中令乾，辰日燒為灰。用中等獖豬嘴上刺血，丸如雞頭實大，每服一丸，取獖豬尾血少許，溫水同化下。未效，二三時間再一服。</p>
<p><u>一百九、溫生蟲散</u>　治倒靨。取濕生蟲，不計多少，炒乾為末，酒調下一字。</p>
<p><u>一百十、白花蛇散</u>　治痘瘡倒靨。白花蛇（連骨一兩，火炙令乾，勿焦）　大丁香（二十一枚）　為細末，每服一錢，小兒半錢，以水解淡酒調下。如黑靨者服之，移時重紅如聖。</p>
<p><u>一百十一、敗毒牛黃丹</u>　瘡子出定，大便不通、瘡中不幹。真大黃、大黃（各一兩）　粉霜、珍珠（各一兩）　同研勻煉蜜，丸如黍米大，每服十粒，煎人參湯下。量兒大小加減。</p>
<p><u>一百十二、大黃丸</u>　瘡痂起而能食，用此下之。錢氏曰：未可以能食為有熱而便下，須兼他症參看，瘡痂起而能食，食而腹滿，不大便，喘急，昏甚譫語者，方可下。下藥但使去熱毒，不為瘡害也。若因能食一症便下之，則不穩，蓋熱氣未深故也。如傷寒發厥，須在六七日後，蓋氣深方能發厥。厥而下之，表裡皆解。大黃（一兩，酒浸蒸熟）　甘草（炙，一分）　川芎（半兩）　黑牽牛（半生半熟，各一分）　為末，糯米糊丸，如麻子大。每服量兒大小，蜜湯下，以溏利為度。</p>
<p><u>一百十三、川黃散</u>　治麩疹，及班瘡，大便不通。大黃（銼，微炒）　川芎（各一兩）　甘草（炙）　黃芩、枳殼（炒，各半兩）　為粗末，每服一錢。水一小盞，紫草少許，煎至半小盞，去滓，溫服，無時。痘瘡大便不通，不為大害，不可便下，須看大便欲通而不得通，腹脹滿，心胃悶，喘急面赤，睡中譫語，有此諸症方可下之。有諸熱症，大便如常，此又不可下，熱在表故也。當與小柴胡湯、五苓散。又看熱氣淺深，藥當隨熱淺深而多少之可也。</p>
<p><u>一百十四、大承氣湯</u>　治昏甚譫語、妄言、大便不通、腹脹、手心腋下有汗、目睛黃赤、喘急者。厚朴（八兩）　大黃（四兩）　枳實（一兩，麩炒）　為粗末，每服五錢。水半盞，煎至二分，入芒硝一字，去滓，溫服無時。</p>
<p><u>一百十五、益黃散</u>　治胃冷嘔吐，脾虛泄瀉，或因瘡煩躁、渴水、飲冷過多致傷脾胃。丁香、訶子（煨）　青皮（去瓤）　陳皮（去白）　木香（各一分）</p>
<p>為細末，每服一錢。水半盞，煎至三分盞，去滓，溫服無時。</p>
<p><u>一百十六、參朮丸</u>　治脾胃傷冷，外熱裡寒，不思飲食，身常壯熱，大便或溏色白，或患痘疹，身有大熱，因食冷物，或冷藥過度，或瀉，或腹脹，或瘡出瘢白無血色，此由裡寒，脾胃伏冷，榮衛不行，致令毒氣內伏不出。服之，其瘡瘢白無血色者，則從四周紅暈，再作膿結痂而愈。人參、白朮、乾薑（炮）　甘草（炙，各一分）　為細末，米糕泡糊，丸如麻子大，每服百餘丸，溫水或米飲吞下，食前。</p>
<p>仲景治傷寒：輕者用理中湯；重者用四逆湯，此足陽明胃經而感寒邪。胃乃中州之府，故曰理中，以辛甘發散為陽而退寒邪也。或煉蜜丸之，曰理中丸，蜜甘入脾，嚼下便化於中焦。今參朮丸以粳米糕丸者，取其難化，服在胃中，滲漉漸化，則中焦得暖，脾胃嘉燥，其熱自歸此所以能治熱也。</p>
<p><u>一百十七、二和散</u>　治瘡疹，並傷寒冷熱不和，陰陽痞結，氣不升降。服之調榮衛、和冷熱、升降氣、消食快氣。藿香葉、香附子（炒，去毛，等分）　為細末，每服抄一字，溫水調下，無時。</p>
<p><u>一百十八、六神散</u>　治脾胃虛弱、津液燥少、內虛不食、身發虛熱。人參、白朮、茯苓、甘草（炙）　白扁豆（炒）　黃耆（蜜炒，等分）　為細末，每服抄二錢。水半盞，生薑一片，棗一枚，煎至三分，去滓，溫服，無時。身熱甚者，加烏梅少許，煎服。</p>
<p><u>一百十九、治中湯</u>　治痘作，時熱渴，或飲冷水，或食寒物，嘔吐下利，不食，身雖熱、其中寒。人參、白朮、乾薑（炮）　甘草　青皮　陳皮（去白，等分）　為細末，每服一錢，水半盞，煎至三分，去滓，溫服，無時。量大小加減。</p>
<p><u>一百二十、胃風湯</u>　症候並方見集驗方。</p>
<p><u>一百二十一、干寒甘草湯</u>　治瘡疹，服冷藥太過、咳嗽、手足冷、脈遲、自利、嘔吐不食。乾薑（炮）　甘草（炙，各四錢）　銼為散，水一升二合，煎至四合，去滓溫服。</p>
<p><u>一百二十二、胃愛欲</u>　調理脾胃。吐瀉、班瘡末出，醫者不識形症，便將冷藥冰卻瘡疹，致令內伏不出。將此調理。如無汗，用控心散發之；後下羌活散、胃愛散。糯米（一兩）　干淡木瓜（三分）　甘草（一分）　丁香（十六個，炒）　藿香葉　紫蘇葉（各一分）　同研為細末，每服一錢或半錢，煎粟半棗子湯調下。</p>
<p><u>一百二十三、勻氣湯</u>　取餘毒後調理。桔梗（洗，干、五兩）　甘草（炙，二兩）　白乾薑（一分）　縮砂　陳皮（去白）　茴香（洗，各一兩）　為細末，每服半錢或一錢，用霜木瓜或紫草鹽煎湯調下。</p>
<p><u>一百二十四、豆乳散</u>　治痘疹間偶滑泄不止，甚者宜服。肉豆蔻（一枚）　乳香（一豆大）　為細末，米飲調下。</p>
<p><u>一百二十五、姜附湯</u>　治痘半出、半不出，或出盛時卻下利，肢厥嘔逆，腹脹吃噫，急與理丸、四逆、姜附湯之類。不須疑，已試驗也。大便自利、腹脹者，是熱毒被冷所搐，不能出則為下利。其毒小，得出則為腹脹，當此以理中丸、四逆、姜附等溫之，則利止，熱毒復出，脹自消，瘡亦自出矣！又有痘疹半出或不出，或出盛時大便不通，小便赤澀，喘粗腹脹，唇齒乾，口燥渴引飲，譫語者，當急下之。此是毒氣壅瘀，欲出而出不辦，故腹脹。下之，熱毒散、榮衛伸，則里脹消、外瘡出，合溫、合下，皆得其宜。若下膿血而腹脹者，又非此症，宜南金散、乳香豬血膏、理中丸、姜附湯之類。</p>
<p><u>一百二十六、七珍散</u>　調胃進食，滋養榮衛。人參　白朮　茯苓　山藥　黃耆（蜜炙）　甘草（炙）　白扁豆（炒，各等分）　為細末，每服抄二錢，水一盞，姜三片，棗一枚，煎至六分盞，連滓溫服，無時。加粟米，名八珍散。昔人患不食，諸藥不效，用此數日，飲食大進。脾土居中，燥濕皆非所宜，但得其中，則水升火降，脾受穀味矣！</p>
<p><u>一百二十七、薤白湯</u>　治痘疹下利黃赤、膿血及身熱。薤白（切半盞）　豆豉（一盞）　山梔子（十枚）　水五盞，煎薤白爛為度，去滓，量大小服。解去惡積也。</p>
<p><u>一百二十八、活血散</u>　認是瘡症不出，或出遲，或倒靨。白芍葉（炒）　為細末，溫酒調服。如欲止痛，用溫熱水調服，此調榮衛藥也。大抵痘疹氣勻則出快，榮衛無阻則氣行矣！芍藥主時行寒熱，消癰腫，則治瘡疹矣！經云：足得血行；目得血明；手得血握。《活人書》云：感寒，脈大尺弱，兩足拘攣，為下焦血少，用白芍藥六兩、甘草半兩煎湯三服，遂腳伸能行，此亦活血行榮衛也。</p>
<p><u>一百二十九、人齒散</u>　治瘡疹，已出不快、既出倒靨、瘡疹作熱、脈反遲，或攻皮膚而出遲，或面額赤，脈不洪大，或服涼藥過多，血澀氣弱而出不快，隱隱在皮膚間。以酒調服之。錢乙治瘡疹倒靨，入麝香，酒調服之尤佳，或加赤小豆七粒、薄荷酒調服之。若黑色者，名鬼瘡子，用獖豬血調下二錢，移時再服。用人齒脫落者，磁瓶固濟，大火煅，令通赤，候冷取出為末，薄荷酒調服半錢。良久脈平毒散，瘡如粟米而出，此為發出瘡疹之藥。昔有患瘡疹已出而稍遲，遂用正氣散加白芍藥，又用胡荽酒、猴黎酒。尚出遲，渠家謂藥太緩，夜來自燒人齒五枚，酒調服之，一身瘡疹盡出。予聞大駭，再診其脈已微，觀腦後並兩腳盡白色，是榮衛弱、毒氣少而藥力太過，陽氣少而無以應接，故無血色也。陽氣盡出於外則裡寒，寒氣成濕，濕必濡瀉，急以二氣丹為小丸，服至半兩，水瀉二日方止。又服內補散治瘡痘，痘成班爛，遍體成片，將息月餘方愈，此因人齒散表過故也。如傷寒發汗，須看榮衛之淺深；瘡疹表出，須看蘊熱之多少。若蘊熱少而用藥過，則為班爛；故已出未快者，宜活血散、猴黎酒、葡萄酒之類；既出而倒靨與稟受弱者，須人齒散，則藥病合宜而相當也。不爾則病輕藥重，反以為累。後人不究毒氣輕重，一概用藥，因此夭橫者多矣！人齒治乳癰破腫出箭鏃，則表瘡疹宜矣！若誤用，早為班爛、為虛脫、為重寒，不可不知。前云服人齒散，脈微而瘡色白，為外陽微也，濡瀉為內陰盛也。先用二氣丹，後尚濡泄，若用之遲，豈不虛脫？又有田舍及市井小兒患痘，行走當風，狂服硝黃，無害者，恐富貴之稟，非負荷者比，各隨宜而治。</p>
<p><u>一百三十、內補散</u>　治正患痘中，或感外寒、或內傷生冷、或服涼藥過多，因生吐瀉，脾虛血澀，痘疹遲遲不出，肌瘦而無血色。宜內服調脾胃藥，外服此方滋養血氣，瘡毒得出。</p>
<p>人參　黃耆　白芷　當歸　肉桂　桔梗（炒）　川芎　木香　甘草（炙）　防風　厚朴（薑製）　阿膠（炒珠）　橘皮（去白，等分）　為細末，每服一錢，入酒二匙，溫湯浸，調服無時。王子建云：仲景論症多而用藥少，男子詳而婦人略，此亦不考也。若使仲景存日，其方有餘用矣！蓋無壞病也。今醫治病，惟利是圖，動輒差誤。後賢處方，皆是救其差誤，故方愈多耳！治瘡用內補散，亦救其差誤也。俗云：瘡是熱，每見藥稍溫，便以為誤。殊不知傷寒是傷於寒，間用硝黃、升麻、知母之類，此皆救一時不及，不可偏執，使緩急療病，以致敗事。</p>
<p><u>一百三十一、赤茯苓湯</u>　治痘出後，咳逆脅痛，不下食，脅痛者，由病後毒氣混亂，阻於升降。左右為陰陽之道路，氣之所行處。今氣滯為脅痛，以枳殼寬腸下氣，令氣順，脅不痛也。大青、梔子去蘊熱，升麻解毒，赤茯苓導心火、利小腸，使熱不傷於肺，則咳逆自平耳！</p>
<p>赤茯苓　甘草（炙）　大青　升麻　枳殼（麩炒，各半兩）　梔子（一分）　為粗末，每服一錢，水一小盞，入苦竹葉七片，豆豉三十粒，煎至五分盞，去滓，分為三服，日三四服。量大小以意加減。</p>
<p><u>一百三十二、小柴胡湯</u>　治發熱甚而嘔者。</p>
<p>柴胡　人參　黃芩（各三兩）　甘草（炙）　半夏（各二兩半，湯泡七次）　為粗末，每服三錢，水一盞，姜二片，棗一枚，煎至半盞，去滓溫服。咳嗽加五味子；頭熱發熱、肢節疼，四味升麻湯；大便不通，四順飲；大便自利，黃黑色者，此毒亦有所出，不必廣服湯劑。大便自然通，瘡亦稀少而快利，只與四味升麻湯、荊芥散，不可以溫藥助之。下利甚者，卻與少溫之。</p>
<p><u>一百三十三、大青四物湯</u>　治熱病十日已上，發汗，及吐利後熱不除，身上班出。</p>
<p>大青（四兩）　豆豉（八合）　阿膠　甘草（炙，各一兩）　銼如麻豆，每服抄五錢，煎至六分，去滓，炮阿膠令化服。</p>
<p><u>一百三十四、砂糖水</u>　瘡作膿窠，是毒氣盡出在肌，但未結靨。調砂糖水與，則瘡干。若服，血泡未成膿泡，乃毒未出盡，便與砂糖水，損目者多矣！不特此也，糖、蜜、棗、柿即瘡入目，及煮鵝、鴨、雞、卵，兒聞卵氣，目中即生翳膜，更不可食也。滅瘢，瘡子將欲干時，須與掐去痂，令血出，定無瘢。若從他，干定隱有瘢也。</p>
<p>　一百三十五、藍根散　板藍根（一兩）　甘草（炙，三分）　銼為細末，每服半錢或一錢，取雄雞冠血三兩點，溫酒少許，調下食後。</p>
<p><u>一百三十六、甘露飲</u>　解胃熱。痘瘡已發後，餘熱溫壯，齒齦宣腫，牙痛不能嚼物，飢而不欲食，煩熱面黃，及病後瘡疱。乳母俱可服。</p>
<p>甘草　山茵陳　石斛　枳殼（麩炒）　枇杷葉　黃芩　生地黃　麥門冬（去心等分）　為粗末，每服抄二錢，水一盞，煎至八分，食後溫服。（牙齒動搖，牙齦腫熱，含漱並服。）</p>
<p><u>一百三十七、槐花散</u>　治班瘡，餘熱不退。赤小豆　槐花（各炒二錢）　麝香（少許）　為細末，每服半錢，蜜湯調，服無時。</p>
<p><u>一百三十八、淨心散</u>　治痘出欲盡，便服之。如入眼，即自退。蛇脫（一條，燒灰）　皂角（不蛀者十莖，燒灰）　為細末，每服一錢，小兒半錢，熱水調下，加甘草半錢，生用。</p>
<p><u>一百三十九、青金丹</u>　治瘡疹病後，取下餘毒。滑石子　白丁香（研過）　天南星　青黛（細羅）　輕粉　水銀（各二錢，先以鉛二錢，銅銚熔化，便入水銀拌和，瀉地冷用）　上川巴豆（去皮心膜，七十三片，無缺損者，用井水浸一宿，懸當風吹乾，爛研）　上藥和勻，軟飯丸如梧桐子大，巴豆不去油，依形症用湯使。傷寒後取積痰，煎蔥白湯下。疳蟲，牛肉汁下。驚風，肚中緊硬、面青黑，金銀、薄荷、蔥白湯下。因傷著肚中及腹皮上，微熱，腹脹，夜間作熱，似疳又不是疳，面青黃色，眼微黃，腹中有積，用皂子二七粒，灰內煨過，水一盞，煎至半盞，送下。有積，作瀉，魚鮓湯下。氣積，炒茴香湯下。周歲，十四丸；二歲，十八丸；七歲，二十四丸；看大小加減。須是四更初天明通下積來，盡時可依形症用藥補之。臨服，恐先吐下涎來，不妨。</p>
<p><u>一百四十、黃芩散</u>　治瘡出盡，恐毒入目，極妙。黃芩、山梔子、黃丹（等分）　細末，牛蒡子葉取汁，調塗頂門。</p>
<p><u>一百四十一、燈心湯</u>　治痘後煩喘，小便不利。燈心（一把）　鱉甲（醋煮黃，二兩）　銼散，每服一兩，水八合，煎取四分服。量大小加減。</p>
<p><u>一百四十二、黃耆散</u>　治壯熱不退，涼肌膚散熱。黃耆場　柴胡　乾葛　甘草（炙，各等分）　為末，每服一錢，薄荷三葉，水半盞，煎至三分，約三呷，潔心服之。發熱頻，日未退，恐是瘡疹，量其虛實用之。</p>
<p><u>一百四十三、硃砂膏</u>　治驚積，驚熱，病後可常服。硃砂（半兩）　硼砂　馬牙硝（各三分）　珍珠（末一錢）　玄明粉（二錢，已上並研）　片腦　麝香（各一錢）　各為末，一處拌和，用好蜜煉成膏。諸般驚，用藥一黃豆大，金銀薄荷湯少許化下。如遍身潮熱，甘草煎湯化下。一月內小兒不通下藥，用乳調塗乳上，令兒吮之。</p>
<p><u>一百四十四、宣風散</u>　治身熱煩渴，腹滿而喘，大小便赤澀，面赤，霍亂。若大吐，當利小便，不吐者宜此。檳榔（二個）　陳皮（去白）　甘草（炙，各半兩）　黑牽牛（四兩，半生半炒）　為細末。三兩歲，蜜湯調下半錢；已上者一錢，食前服。</p>
<p><u>一百四十五、甘桔湯</u>　治痘疹，咽喉疼痛生瘡。桔梗（二兩，米泔水浸一宿，焙乾用）。　甘草（炙，二兩）　為細末，每服二大錢，水一盞，煎至五分，食後溫服，如肺熱，手撏眉目鼻面，加阿膠半片，炒過，同煎至五分服。</p>
<p><u>一百四十六、定命硃砂散</u>　治痘疹毒氣不出，或出後乾黑色，服此發出毒氣，瘡當細紅而出也。硃砂（半兩）　生龍腦　滴乳　馬牙硝（四味，各研）　甘草（炙，各二錢）　五味研勻，用臘月新獖豬血半升，同研。取青竹筒二尺，留兩節，開一頭作竅子，注藥在內，黃臘塞竅，油絹裹封，勿令泄氣，埋地中一百五十日，取出水洗，掛風中四十九日，劈開取藥，研末，每服半錢，新汲水下。</p>
<p><u>一百四十七、鼠黏子湯</u>　即消毒散加防風，治療相同，主痘出太盛。</p>
<p><u>一百四十八、班瘡入眼</u>　牛蒡子　人參（各二兩）　同研細末，每服二錢，糯米薄粥調下，神效。不可具述。</p>
<p><u>一百四十九、乾葛雞頭湯</u>　治瘡出不快，既出不正色。取粉乾葛為細末，每服三錢，用雄雞頭一個，搗爛入葛末。用水二鍾，煎至一鍾，去柤，服。其驗如神。</p>
<p><u>一百五十、人參清膈散</u>　人參　柴胡　當歸　芍藥　知母　桑白皮（蜜炙）　黃耆（蜜炙）　白朮　紫菀（去土）　茯苓　石膏　滑石　地骨皮（各七錢半）　上銼水煎，食遠溫服。</p>
<p><u>一百五十一、六味人參麥門冬散</u>　麥門冬（一兩，去心）　人參觀　白朮　甘草　陳皮（去白）　厚朴（薑汁炒，各兩半）　㕮咀水煎，溫服，無時。</p>
<p><u>一百五十二、七味人參白朮散</u>　即錢氏白朮散。</p>
<p><u>一百五十三、敗草散</u>　乃蓋屋或蓋牆多年爛草，取其多經霜雪雨露，感天地陰陽之氣，善解痘毒。不以多少，曬乾或焙乾，為極細末，若瘡汁不幹，黏衣惹席，濕爛不能轉動，可用二三升攤席上，任其睡臥為妙。</p>
