<header data-type="book">
<h1>醫病簡要</h1>
</header>

<h1>序</h1>
<p>張君畹先生家住紹城洗馬池　讀書時喜學醫博覽群書迨中年求診輒效由親戚而遍及陌路著手成春一時膾炙人口憶余兄弟苕齡時患病就醫爾時見張公興　先父傾蓋談心視其白髮童顏髮長盈尺年近古稀此後不復再見其哲嗣山先生克紹薪傳雖不及乃父之聲名廣遠亦頗有妥當名譽昕夕過後今年秋其賢孫睛豈兄前年同河南迴來出其乃祖手著簡要並附醫案兩卷凡傷寒溫邪風溫熱人血室痢疾瘧疾伏暑等證分門別類細閱一遍愛不釋手其議論別有會心衷諸古而不泥古俾後學一日瞭然補前賢所未備益後學於無窮爰名其書曰醫病簡要恨不醵資付諸梨棗以傳後世茲先述其得是書之緣起云爾</p>
<p><u>民國貳年臘月　後學包越瑚謹撰時年五十有六歲</u></p>

<h1>舌苔</h1>
<p>張氏醫通內有傷寒舌　圖形議論頗詳盡然予見又有碧滑厚苔者倉橋陳姓年六十二胸痛粒食必吐患經三月脈弦小用丁沉透膈散加參朮令早起煎紅外藥先服二煎食少許覺欲吐立服頭煎得不吐則此法次第用之午亥蓋以藥如鉗食以藥三月後碧苔　去三餐皆食　凡傷寒溫邪或七日解或十四日解或二十一日解全馮舌定暑症或上焦或中下焦或三焦均感或五日解或十日解或十五日解亦以舌可定得其核不失遲早合脈即死期亦不爽遲早　又凡夏至後之濕邪與少陽經之暑濕症其舌必中黃四圍白皆滑又有冬春問身熱骨不痛頭不痛舌淨脈沉弦小臥床不能支張氏醫通謂為小陰症須用黃著建中湯甚或用四逆法者予會經見為疏著歸建中皆以為非後竟以時手不觀舌而用承氣再邀求救為不能治</p>

<h1>傷寒</h1>
<p>咸豐辛酉秋予至陽嘉龍孫治暑濕彼地有時醫概用承氣加以括蔞兩許滾痰丸枳實帶其死孫紹翁云沿海人經病則不服藥若重病經吾翁必十五日始愈或不愈反不若彼之一劑危雨劑死之免醫藥費床褥債也則作福亦是無窮吾於是順天者之昌也　陝西人串傷寒喜溫通巴豆丸河南人大黃可用至兩許川連不能服一錢此總戎河南人帶兵足跡遍天下本府山會藥相等新嵊能服麻黃蕭諸喜溫補以地近杭省習氣相蘇杭人柴胡厚朴不能過一錢蘇人不服大黃以金汁代之　凡醫十三科全者名全書或專論傷寒者名六書如靈胎六書等類或以中風列首以風為百病之長也又以傷寒列首雜病次以仲景為醫之祖傷寒為一集雜病金匱要略為一集也　予前實外感內傷治法方藥名曰醫針於傷寒頭緒頗繁令人眩瞀將以六經分說不使稍混因病中止俟集成就正芘先呈治</p>

<h1>案數則</h1>
<p>陶姓年七十外王鴻軒先生之母舅也正月初水瀉無度神憒不能起立論脈空大是傷寒直中太陰以附子理中而愈　</p>
<p>香粉衖愈策兄十一月渠店夥屠越兄邀論身熱舌黃喉乾齒浮脈浮大患經五六日予知為陽明症甫論華其家已延以傷寒名者至爾時戚友趨擁人論開小柴胡雜以消遵蓋此人只有小柴胡達原小承氣不論四時六氣舌苔有無黃白皆此其新人耳目者枳殼枳實麻子仁大黃滾痰丸厚朴神麯五穀蟲蔞仁出人加減而已予因言此屬陽明胃經當用葛根湯對曰不特陽明連太陽亦有於方末加葛根一錢五分予不覺噴飯次日則用蔞仁枳殼十二三日病不去乃邀予治其陽明經仍在不傳府為疏葛根湯兩劑身即涼</p>
<p>會稽明府耿修翁乃弟十一月水瀉經痙厥神呆不省人事脈沉弦小舌淨身不熱已服過消遵多多予謂此直中太陰未罷而傳厥陰用理中合人參吳茱萸湯一劑水瀉止痙厥神呆如故次日再診脈浮弦小身熱有微汗自由　厥陰轉出少陽當用小柴胡領邪外出兩劑神清痙去大便暢解正七日云</p>
<p>類傷寒中腳氣惟廣東福建多患此有死者紹地惟餘姚百官會稽東鬥一路有之俗名大腳風發作則有寒熱其病由於濕熱若初起以防已湯加蒼朮牡蠣澤瀉治之可也方書腳氣人腹者死會見痛至少腹而死者</p>

<h1>溫邪</h1>
<p>道光已酉三四月城鄉溫邪盛行予以吳氏條辨法頗效錦鱗橋範閤家病三十餘人並其戚被染者經予一手治愈爾時書夜赴救往往枵腹後事致感染閤家幸予預製紫雪丹無論人我均效緣邪每犯心宮則危見機早用為要次年庚戊溫邪尤盛以連歲太潦平地水高數尺五穀不登遂致奇荒荒年以後必有溫疫也於是益信又可飽腹不病之說遂不復染</p>
<p>昌安街董五月病溫五六日舌鮮紅呃逆脈沉小弦數神昏口舌燥不飯水予謂邪在血分將發斑也用玉女煎石膏加至一兩麥冬五錢根生地一兩犀角一錢五分磨沖羚角三錢復大青以托斑柿蒂以除呃兩劑癍出神清</p>
<p>府橋泥水匠鍾大成舌鮮紅呃逆脈洪數面紅氣盛是邪在心肺上焦黃苓湯加大力甘桔根生地一兩生石膏二兩麥冬五錢　角羚羊角柿蒂兩劑呃除身涼</p>
<p>營橋丁發頤大如馬刀喉赤腫痛舌黃厚脈數大說疫所謂疙瘩瘟也病經十飯日由於失下普濟消毒以人中黃易甘草加製大黃五錢不應加至八錢大圊血而解（黃苓　黃連　陳皮　甘草　元參　連翹　板藍根　牛蒡　薄荷　殭蠶　升麻　柴胡　桔梗　馬勃　或加人參　便閉加大黃）</p>
<p>孫府孫病十餘日舌白薄脈浮數所服初則達原繼則承氣余謂此屬上焦症誤用中焦故不效用辛涼法加生石膏羚角大汗而愈</p>
<p>教場沿高病溫多日舌白薄神昏迷口不渴脈伏小予謂邪在上焦將谷作汗須領邪外出黃苓湯加薄荷大力羚角石膏甘桔一劑次日大汗大渴飲水無度胸腹脹滿小便不通用白虎湯加瓜蔞皮一兩帶皮茯一兩一劑小溲如注而解（石膏　知母　甘草　粳米）</p>
<p>杜元享舌黃厚周身發黃胸痛拒按氣喘不能臥而坐自述病前多食厚味黃苓湯合調胃承氣加厚朴三錢枳實二錢川連二錢綿茵陳梔子三劑大便暢解黃去身涼</p>
<p>範可齊四月問上焦溫邪用辛涼法戰汗體冷如冰人不能支又可所謂　體厥也診脈靜小余囑其家勿驚擾疏沙參麥冬根生地花粉等滋肺而愈蓋書以汗後脈如蛇者死若沉部似有似無亦當死又云脈不為汗下減者死上城隍廟道士溫邪舌黃脈沉小無力予謂明日當戰汗脈太弱恐戰而不得汗也次日果作戰不汗而死</p>
<p>螺螄橋一人前一日診脈沉小予謂明日當戰汗若驚厥切勿　擾次日汗後奄奄一息脈靜小疏大劑滋肺湯甫出門其家又延一有名者至以予藥為補用承氣湯服之即死</p>
<p>又治一人黃昏大躁書去衣服忽作冷穿衣蓋被複大戰如作瘧狀至天明大　</p>
<p>雪亮也城鄉各鎮尤而效之不過達原一飯承氣一湯復以消遵逐　</p>
<p>穢不分四時百病概謂傷寒無論老幼強弱均用此法無論與黃白無不攻消於是人人知醫個個插嘴其術愈卑其業愈賤孔子云小道必有可觀今則小之欲無觀之沒有故有志者遁而之他萬不習醫而醫乃絕</p>

<h1>風溫</h1>
<p>道光年間錢友三三月間患風溫十餘日始邀予舌乾紅起縐按之無液與喉唇皆燥難妨不寐身灼熱無汗咳痰不出脈小數予謂此屬上焦症由過服消遵發散所致用根生地兩許元參麥冬玉竹沙參丹皮桑葉蔗漐七八劑而愈同治甲子二月偏門謝患風溫十餘日身熱舌鮮紅咳痰不出嘔吐不得食脈浮洪大是邪在上焦誤服小承氣與調胃承氣正合傷寒論不應下而下之致成結胸用瀉心湯用生薑瀉心湯先除其嘔繼用黃苓葳蕤等湯加減而愈</p>
<p>倉橋孔小山先生乙丑冬季年八十四患風溫多日身熱無汗舌黑口齒燥甚大便水瀉脈洪大是其本色蓋高年未有脈不洪大為六陽者也閱所服是葶藶蘇子等瀉肺雜以消遵致邪陷下焦故不得汗不得汗則身不得涼今津液已涸當救其陰用黃芩湯復以增液湯瀉止再以葳蕤湯得汗身涼</p>
<p>治一孩三歲二月問辰刻身熱嗜臥呼喚不醒至黃昏惟聞喉間痰聲壅</p>
<p>塞水漐　不入予以馬勃一兩以病起勃然故用勃然而興之藥碎為小　塊紗包鐵物壓煎又以箸掉以手揉緣輕浮之物不易煎汁耳煎數大碗將孩抱起仰天灌一瓢聞喉中聲尤響逾時向地傾之又灌又傾二更後喉忽開大叫乃醒天明不出汗身涼竟不服藥</p>
<p>又治世侄範定甫甫周歲三月患風溫越五十日氣絕委諸地尚溫又抱子予診脈小數虎口紋紫細直透三關舌黑燥其祖母開方以逢藥食必吐絕　</p>
<p>食已一月予問不食何以活云見碗必欲飯水瀉水耳因思藥之如茶水者必不吐於是以病久氣虛用燕窩一兩以代元參麥冬羚角竹葉以代川連黑櫓豆一兩以代地黃茯通草以通小溲皆無藥氣味者恣飯之三日舌黑為黃溲通瀉差再三日竟愈食粥飯至今抱子多多</p>
<p>水滿營馮樸園姻兄二月間在諸暨幕中身熱咳喘病如伏寒路間又感風雨至家則諸盤絡制痛失紅脈弦數舌黃薄是肺衛心營皆感然營較衛為重當</p>
<p>先治其紅用根生地一兩麥冬銀花羚角山茶花絲瓜絡元參赤芍丹桑兩劑紅正再以涼解衛分風熱身涼而愈</p>
<p>乙丑十一月朱石翁年七十三身熱咳嗽左脅大痛脈弦右尤弦且大謂是為風溫夾肝症怕失紅耳次日果失紅用葳蕤湯減去麻黃石膏加羚角丹桑元參麥復以牡蠣柴胡梢龜甲降香蘇子赤芍又令以藕汁代茶水調養即愈</p>

<h1>熱人血室</h1>
<p>道光庚戊六月水澄巷王元通一婦患溫邪六七日適逢經至予為道賀即用前法其本家有知醫者謂通經當用溫藥改為炮姜紅花等劑經即停叫鄭煩躁一夜即死</p>
<p>範姓一室女父母皆亡患暑熱予治一日予診脈兩手綿洪而兩尺尤大疑天癸至詢工婦出人三次答以無事予以暑熱太盛用白虎湯至晚痙厥始知其經果至因室女怕羞囑其勿說遂致不救</p>
<p>同治壬戊避難鄉間有一婦患疫八日經至又四日邀治速用前法詎鄉間赴市較遠藥未入口而經已停遂至神昏不語痙厥不治毛姓一婦孕八個月霜降後患伏暑黃昏寒熱似瘧非瘧無物不嘔是上是焦</p>
<p>症其陽之不通以禁用滑石故也然日用厚朴藿梗更多醫嘔總不除後予以喻氏進退法一劑嘔止即告辭以極於上者必反於下一產即為棘手病家再三囑治用安胎清暑法不彌月而產產後母子均吉惟惡露點滴則無予思病經一月今欲求其血是迫饑民而征斂也理當加本求利於是以丹參八錢當婦三錢川芎二錢再加沙苑子一兩以代地黃經血大至服十劑惡露已淨黃昏熱又作予謂是極於下必反於上也用薄荷滑石辛涼解肺而愈</p>
<p>世交張魯對六兄醫學高明凡戚友中病至棘手瞎至立法即愈一嬡尚在室患溫邪多日不愈邀治舌黑燥神呆脈滯大予認為邪人心包當用犀角地黃魯翁對以業已服過或劑輕之故再議以大劑不應予又診問工婦病口曾經走經否對以十餘日上至服主人藥予知其必不用醫通法也於是以舌黑為津液之涸腎水之乾耳聾者水不上升也神昏者精不上交於心也兩腿不能自移衣服著肌肉即大叫痛者為血分之虧也用吳氏溫病條辨下焦篇中復脈湯加減內大熟地用至八錢炙甘草用至六錢魯翁嫌手筆太重予謂其書謂甘草不應加至一兩曾經得效多人竟用之一劑即知魯翁竟以此湯日進不過十餘日全愈予即以溫病條辨轉贈緣此書京城所刻吳鞠通與世伯胡水云先生交好今下灶胡心享明府水云先生之令嗣也蒙其屢次贈今甯波有翻刻者後晤魯翁云曾經以書內大定風珠治血崩得效此媛適陽嘉龍孫寶號七月間患暑濕致小產經血不下魯翁自診後又邀予魯翁此次手　筆亦不輕當婦用至七錢予謂究屬性溫不如易以丹參一兩且產由暑熱逼下須用涼劑若不以涼即熱人血室矣加以丹皮梔子六一散木通等竟霍然風溫發疹紹興謂之瘄蘇人謂痧葉氏謂之肺邪發在冬春用溫邪法夏秋用暑濕法皆涼肺祛風惟怕脹悶大便不解若大便水瀉不必服藥即用藥如</p>
<p>櫻桃核綿絲綿西湖柳皆無用焉同治丙寅三月餘全家病瘄皆輕不服藥有二女病亦輕病中經皆至絕不為意一女尚無恙一女後此經斷越兩月氣喘面脹書夜坐始詢其故服黑錫丹錢氣平能臥面腫亦消然大便水瀉考張氏醫通謂之腎喘水瀉者不治藶用藥竟無效此二女絕頂聰明職書義尤孝友愛敬一字明之一字全之全之次年出嫁以予病危割臂痊余又明年患病易簀時見瘡痕始悉女本同胞三尚有長姊字圓之十五歲時割臂療予出以理詰稽會城隍纖示一啄一飯莫非前定然則窮通修短俱屬前定予觀唐代叢書謂佛氏上應鬼宿鬼明亮佛道昌明於是晤天地間三教鼎立缺一不可以儒教治人以佛教漢道教治非人非鬼之妖怪且以晤命數所定即倉公扁鵲亦無益也</p>
<p>西郭陳永茂頗職醫之善否予每治其家婦女病中經至即愈今予孝病不為治去秋有患暑而經至頗記金言遵醫者以熱後血泄法乃茫然仍用厚朴枳蔞復以炒芍即不治</p>

<h1>痢</h1>
<p>予治清涼橋沈下績血舌黃脈弦大用當婦赤芍黃芩甘草木得川連川楝子炒小茴酒延胡柏子仁兩三劑血中又有蚘於前方去甘草茴加川椒炭鳥梅肉臺鳥藥兩劑乃血中見糞終以肝法得愈</p>
<p>錦鱗橋毛婦患痢舌黃口渴痛在臍上下有脾痢法杏仁厚朴枳殼銀花炭香連丸陳皮至第七日脈沉實用制軍枳實攻之詎病家申刻即睡所議方每於次日始服第八日服下藥則小腹大痛予謂是轉人肝經藥在病後也再以當歸黃芩湯合金鈴子散加柏子仁炒小茴香又七日乃愈是先脾後肝也</p>
<p>保佑橋秋患痢五日邀診脈弦細寒熱往來脅腹痛閱所服痢疾套方故無效用小柴胡湯合當歸黃芩湯香連丸七日即愈</p>
<p>東昌坊梁所患必是肝痢所服不分肝脾之套方已至呃逆舌苔雪花予診脈弦小如絲是肝陰大傷之候用大生地進歸芍阿膠淮藥補其肝縮砂牡蠣降其逆旋覆花除其呃出人調補十餘日而愈</p>
<p>山陰吏書陳步云患痢多日所服皆消遵攻痢等藥舌雪花呃逆不食脈兩尺獨大餘弦小此久痢傷及肝賢也用熟地龜板歸芍阿膠補其肝腎姜五味炙甘陳皮調其胃以胃為賢之關仿胃關煎法也復以刀豆除其呃十餘劑愈保佑橋酒店忘其姓男人年二十餘痢一月診時氣息奄奄脈沉虛小側臥不敢動一動則肛門稀水即出舌鮮紅光潔是腎陰大傷必攻擊過分所致用熟地肉桂五味龜板復以炮姜粳米赤石脂等桃花湯多劑始愈</p>
<p>予祖基本江南遷紹二百餘年即居此與劉姓為鄰懷川世叔五六世交好也患休息痢四載日四五行解出甚難多轉失氣痢即隨出如漐色紫其休時糞如筆管商治於予謂須春分前後治之至期診脈弦滯大予謂濕熱未淨傷及氣分用漢防已焦茅朮川連茯芩澤瀉祛其濕熱廣木香縮砂陳皮利其氣文黨參一兩以升麻一錢煎濃汁浸烘黨參升補其氣七帖其病如失由是凡城鄉患休者每約至春分治愈頗多又松林張年四十餘歲患休息痢兩年是傷及肝分者用當歸黃芩湯合香連丸加制香附縮砂舒肝而愈</p>
<p>又松林薛四兄作官江西患休息痢已兩載秋時歸里求治於予予以治須春分現恐湯藥不能效當用丸緩治之法用川連一兩臺鳥藥一兩五錢焦茅朮三兩廣木香一兩五錢澤瀉一兩五錢淡黃芩一兩五錢研末米飯為丸每服五錢服七兩餘痢亦愈緣渠痢中夾紅為濕熱之在肝者</p>
<p>孕身患痢治之極難古人有五禁三審者審身之熱否胎之動否腰之痛否一禁檳榔厚朴破其氣氣破胎下也二禁制軍破其血血破胎下也三禁滑石通草通其核核通胎下也四禁茯苓澤瀉利其水利水必傷陰胎不保也五禁人參升麻兜塞其氣痢愈滯通順撞心也法當涼血利氣難頭山周七月</p>
<p>孕身患痢皋諸醫無效予予以前法二劑即愈病家以方示講醫皆云非痢疾方何以得愈噫正惟非痢疾方乃所以治孕身之痢也幼科周七香兄其兩媳孕身同時患痢予以前法皆兩劑愈予友朱殼堂寒士也用如君孕八個月患痢雖不犯大黃檳榔然皆厚朴枳殼蔞仁麻仁通套藥並非遵古治孕痢法黃錯邀余治正在腰腹大痛勢欲作產谷堂手足無措予診脈浮大而舌淨今胎動一產即母子皆傷因憶景岳全書內有治孕痢欲產用當歸補血法用蜜炙綿著一兩炒當歸三錢炒糯米一合幸藥鋪不遠予為之搧火速煎下咽逾時痛止再診關尺尚大恐五更乃產令再一劑五更服之次日午刻谷堂至稱醫為仙五更果大痛下咽痛止能此方為妙又服一劑矣予謂中病即過劑即屬兜塞此痢胎前不能愈矣果產復大作水瀉又邀予予以痢為水瀉將愈母須診授以五苓散即愈</p>
<p>大云橋周二十三歲其家前門緊對任氏後門患痢惡任氏專以攻奪延姚姓治之姚則不分肝脾概以當歸白芍黃芩治之治十日不愈不得已邀任氏以脾治法又十日更甚始邀予時正九月初也予診脈弦大舌白浮面灰色喉痛口渴其瀉出頗多予以病在上焦肺與大腸表裹用肺分濕熱法喉痛舌黑雖去而痢總不愈日邀治治總不得其核一日病甚危臥床少腹中有塊頂起喜人以厚棉褥用力按住而糞乃下且多旁人告予其囊縮人少腹此時房內聚集婦女不避生人予見床側有裝飾如新婦狀者詢系保人其母雲系病者之續室三月間娶八月初六在店中病初七日歸初八日重予日夜陪予云初七夜汝未必陪也乃不答於是知病不謹故囊縮為肝擄用大熟地八錢吳茱萸一錢肉桂五味龜板歸身淮藥二劑塊隱瀉大差再以脾腎法而愈</p>
<p>侄屠患痢服大黃藥病甚其父邀予予曰令郎左脅下素有塊若誤服大黃必便紫血為不治是犯仲師之禁也對曰血卻不見此診正大痢血矣予即辭其父再三求予雲鬚另請高明予參末議可耳後服人參多劑終於不臺仲師所謂臍上下左右有動氣者不可汗不可下也</p>
<p>西郭陳患痢就有名無實服茯苓澤瀉米仁等藥痢尤甚蓋痢則禁小溲也予診脈弦舌黃薄痛在右腰肋此肝痢也用當歸白芍黃芩甘草川楝子炒小茴酒延胡香連丸兩劑即愈凡瀉之似痢非痢者盲醫每認為痢用通痢套藥即病家亦認為痢至死不司大可嘆也</p>
<p>向橋朱述患痢多日服藥多劑不效予診時聽腹中有響聲詢晌幾時起述初起即有予云痢無晌聲若一晌痢即愈此非痢也其家以糞有五色詰予為非予云晌者風也凡腸風下血風木乘脾皆作晌此痛在臍上下痛晌即瀉症名風木乘脾也以仲景建中湯白芍五錢為君當歸桂枝甘草為藥木瓜為梅轉之二劑痛瀉大差三劑乃愈</p>
<p>傳林傳婦患痢三日予診脈滯大舌苔黃厚口不甚渴予詢解出如漿然有時有塊否對曰此溏瀉也之一用胃苓湯而愈</p>
<p>周七香之母年望八十九月間患痢已服過時手藥矣予診六脈洪大逾分凡高年之脈皆洪大也舌白浮而灰色口不渴述病未起時食蟹予以謂蟹傷脾胃也用枳朮丸法復入紫蘇以消蟹責兩劑其病如失</p>
<p>俗言吃不殺痢疾張氏云痢能食者脾病胃不病治之易愈耳總須忌口本草</p>
<p>匯言云瀉病食鴨則成痢痢食鴨難治予治姚家埭方嫗八月初患痢愈囑勿食鴨愈月誤食復痢其家人囑再邀予病者畏予笑其饕而止遂不治予見方書云夏時少吃瓜果秋時可免痢後遇酷暑飯前後過食西瓜致成似痢非痢解出急滯不爽糞如鴿蛋色紅日六七行諸藥不效患至兩年嗣以茅朮川連歸芍烏藥澤瀉廣木香砂仁米飯為丸服七兩而愈忌口若懸河半載後食鴨致周身化脹服麻黃生石膏人五苓散而愈</p>

<h1>暑伏暑</h1>
<p>予治府幕杭人陳翁年六十餘前一日在暑中行走次日身熱大汗昏蒙不省人事脈弦數舌鮮紅是暑熱直中心包用犀角地黃湯益元麥冬銀花再加紫雪三分兩劑霍然</p>
<p>治松林薛婦年三十餘暑月手足麻木瘈瘲不能起立立即倒俗醫謂之搖帶頭痧諸藥不效予診弦小名醫論云暑濕入肝則麻木用生地歸身阿膠木瓜刺蒺藜滑石服之即效是暑濕直中肝經也</p>
<p>又蓮河橋馬婦八月間患伏邪久亦手足麻木瘈瘲舌淨鮮紅亦以此湯愈是暑濕傳入肝經也又平水金婦年三十餘壬戊九月間在松林往診病由八月間身熱咳嗽因避難不能服藥至是則瘈瘲神昏脈弦身微熱而咳嗽尚有予謂是暑濕由肺傳心入肝當先後肝心退出仍歸肺分則淨若可用薄荷杏仁桑葉等則身可涼也於是以生地歸身剌蒺藜麥冬益元木瓜銀花連翹石菖薄數劑瘈瘲除神清而身反大熱咳痰再用辛涼合領邪外出法乃愈</p>
<p>予六十九歲七月十三日先嘔腹晌痛大瀉瀉出如痰甚多兩足麻木拘攣不能開所貯來復丹霹靂散正氣丸自覺於症不符不因記袁子才時集患此薛一瓢令服木瓜湯即愈遂恣飯之漸愈葉云扶虛進參附張石頑先生云暑症誤</p>
<p>藥皆有救法誤服附子為難解會見有下咽即者予救葉協臺諸法不效然治會稽明府范公之封翁八有間轉盤用大順散參附薑桂得效大抵治病須辨別確切也　表之汗不易撤撤通也會見八月間患頭如破服各表藥無效一朝大汗即痙厥不治是犯仲景之戒蓋病屬伏暑上焦當用薄荷絲瓜葉竹葉淡豆豉蔥頭以柴胡葛根　活等殺之也又見陰虛人七月間服小柴胡三四劑大汗如浴不救城鄉醫者治暑無不以小紫胡湯每至久纏不已即用法諸恙悉解而引人少陽之賊反寒熱不去予仍用柴胡截之反致人詰詎知即仲景附子瀉心湯治誤碼率下結胸內有大廣喻氏治酒病仍用酒引解鈴仍用繫鈴人也予治吳又軒在嘉興府幕患上焦症頭痛身熱無汗口燥海鹽廩生朱案云用吳氏條辨法辛微苦字句書法均妙而藥乃甜杏甘草秦艽與案不符歸家予用葉法應候乃解　攻之便易溏瀉蓋遵河間法至七八日自能溏瀉為濕邪自化（是得藥暑濕分開濕後下化之候）可接用通溲藥為開支河之法予遇久患暑濕六七十日誤攻大便似痢非痢用葉法即得暢解譬如群小成聚一見君子漸散也　過清則支冷嘔惡邪經化火烏得不以羚角川連清之當中病即止過劑則支冷嘔惡洞瀉為不治予會仿丹溪噤口痢法以遼參人瀉心湯治嘔惡以遼參人扶脾藥救洞瀉往往無效大抵遼參無真進者耳抑雖真亦不治耶至誤服承氣傷脾及胃作瀉舌雪花不食有用參朮炮姜得愈者又治胡姓服承氣後大瀉舌鮮紅脫液口燥欲裂為腎陰之傷仿甘露法二地二冬肉桂茯苓生米仁滑石石斛瀉止津回又治富合盛伏暑盲醫誤下瀉水舌鮮紅脈弦小促呃後少腹起晌而緩為傷及肝腎覆以不治其父下跪磕頭求予擬胡姓得效方適盲醫又至被留合商彼診華告予謂食未淨予曰烏知其有食曰若食淨身當涼不故知其淨予曰子食飯必有食</p>
<p>何以身不熱彼所病者暑濕也非食也養人者食也病也子何以不治殺人之暑濕而治養人之食彼不能說以呃逆為肝氣關旋覆湯而散嗚呼醫若是亦生人之大不幸也然而臣六竟如市也則為不可解之事嗣病家又邀一醫以犀角地黃湯下咽即死亦一盲也此二人若照醫門法律當人無閒地獄又八月間治松林老幕師薛樸堂先生之孫盲醫先生已有方予不知也診脈數舌黑燥口渴作瀉身熱有汗予案云此屬伏暑濕邪已化之候而肺液胃津先涸當增液通溲若誤作挾熱下利便非治暑濕法和則根生地生白芍麥冬生米仁生穀芽地骨皮效力元散通草等藥樸堂並不知醫以與彼之青麟丸蔞仁麻子仁枳殼大異因曰天下醫只一理何冰炭若是請問攻瀉何意以彼之不會立案也彼云急下存溲緣不早攻故致舌黑今攻之或可救也又問夫子何為予曰予意在案請觀案可也彼云能開方何以不能說予曰子所言是傷寒論此所患是暑濕症丹溪先生云暑濕後無大便攻瀉之理譬如弄名案情罪輕重不等豈皆耶傳曰山有木工則度之賓有禮防則擇之主人擇之可耳樸堂先生以予言為長服予方四五劑即愈　又治西郭嘉余典內一婦伏邪誤碼率服大黃致危予以葉法多日治愈身涼能食或食後傾囊吐出吐後仍食間數日又吐予用仲景炮姜甘草湯一劑即止蓋炮蓋三錢炙甘四錢以大黃之傷其胃也　過燥則唇齒燥裂藥以蒼朮為最厚朴半夏次之川連苦以燥亦甚米仁滑石茯苓雖燥不裂上焦症易於化燥患久須重用根生地兩許多劑救其津液方可得汗通溲予治三財殿前朱石翁患伏暑五六十日不汗不涼不食不便用根生地兩許佐以麥冬元參多劑始得汗得㾦且大解而身涼能食若遇陰津素虧之人舌淨光潔者尤忌燥藥蓋伏暑患在秋時正當燥令豈可過劑耶又蒼朮本草謂其濬血凡婦女經後即遇水瀉萬勿加用用必液涸雖大劑增液不可救（元參一兩生地八錢麥冬五錢名曰增液湯凡遇風溫溫熱溫疫之陰虛不得便者服三四劑大便暢解身亦涼若用承氣反致液涸難救）暑濕發㾦者多夾風者亦發疹托疹大力子蟬退晚蠶沙森防己等類予會於六月間遇發斑者大便心瀉往往不治當時不過一二人並非沿門合境則非瘟疫可知致今尚示解其何故　暑症最忌指尖怕冷其人陽氣必虛最易洞瀉用藥不可有慎　暑濕有化脹都當遵內經脹起於上焦而甚於下焦者當先治其下焦而後治其上焦治上焦麻黃湯治下焦五苓散然予試驗當改雲鬚始治其上焦而終治其下焦若用麻黃必重用生石膏為大青天龍越婢等法以麻黃性溫于都未符也此予之心得治愈頗多又漢覆船山俞六十外年紀伏暑化脹已用余不能行走不能食用張子和桂苓甘露二十餘劑愈又富陽醫者為姓自述在軍營當差受暑化脹年餘自服金匱腎氣不效慕名求治予曰金匱腎氣治腎脹於病不符暑在焦當用張子和桂苓甘露飯所謂桂苓者古法肉桂一錢五分泡濃汁滲入茯苓片六錢曬乾入煎為君每劑如是始效耳乃揖謝曰不差不差而合好而去未知其究竟愈否第無論何脹切須忌口葷沒曲食尤忌鹹味可母忌然不可過咸耳　又暑濕有夾瘡瘍者治朱詠泉世侄八月間患暑而濕邪尤重溏瀉肛間患瘡考金鑑云名鶴口疽但治其濕瘡當先愈用生茅朮生冬朮豬苓茯苓等果瘡先結閘而後身涼　伏暑有兩腿脹脹浮大疫重不便行走者須用木防己石膏澤瀉炙桑皮桑須自於桑根上掘取藥鋪皆身上剝皮非下焦藥故無效又滿身患暑濕爛瘡用根生地兩許羚角連翹川連地骨皮六一散茯苓皮晚蠶沙木防己澤瀉通草竹葉不過十劑愈　予友某文理絕通醫名亦有其家中有患暑久而未愈邀治診脈合症是上焦予曰治之某日必愈是逢每五日為一假之期也用葉法果至期解嘆以為奇殊不知渠確遵準繩治暑用六經法葉案未經目也故予集醫緘一書各病以一專長者為主以眾說匯之如傷寒以仲景六經法遵柯　伯說諸溫邪以河間法遵張喻吳葉論及吳氏條辨肝胃陽虛遵丹溪暑濕風溫遵葉氏諸疝遵張子和儒門事視書吐血遵絞氏廣筆記古人各有專長吾輩幸生古人之後當統觀而效法之若坐井觀天曰天在是天豈盡於是哉惜於風溫溫熱瘟疫諸說被人攫去惟余吐血一篇嗣以病止假我數年若得成功再當奉正</p>
<p>又葉氏云若有所夾又是須變通予治夾經夾產業於溫邪熱人血室等及之矣至治朱石翁郎十餘歲時九月間患伏暑已十四日邀診脈弦大寒熱不分明是陽尚未通為失治云此症變幻有不可言者用開提中焦法分離其暑濕一劑大流鼻衄以鮮生地羚角知母元參麥冬山查花等而解肺分陰陽則大瀉瀉出黑如墨葉八水則鮮血也予曰肺與大腸相表裹仍屬肺分暑毒鬱熱前法加減復以通溲乃胸痛嘔蛔用椒梅飲川連多而姜甚少嘔止睪丸縮人小腹作痛囊腫仰臥不能動動則腰背痛不可忍是即葉氏所謂易虛易實之體病久屬虛以張子和治疝法補以生地阿膠再進虎潛丸法無如藥肆虎骨無真者終成㿗疝予孩年㿗疝為終身之累須於長髮時以虎潛丸合當歸生薑羊肉湯可斷根會經治愈多多乃正在避亂不及服至今二十餘歲不常舉發若有真虎脛骨多劑尚可為也　暑濕解期以候為期每五日為一候非若傷寒溫邪之七日為期也如第四日有涼汗則第五日解第十四日有涼汗則第十五日解如無涼汗又須一候矣若治四五六十日外之暑濕每逢第五日或第十日解解之先一日必有涼汗素有治暑薄名會倆不過如是可謂純盜虛聲</p>

<h1>瘄</h1>
<p>紹興謂之瘄子蘇州謂之沙子其實皆風感肺分葉天士先生云即屬風感肺分與發疹治法一樣耳當按四時法治之在冬令發瘄當用冬溫法夏時用暑風法秋時用秋燥法春時用風溫法則當用辛涼法甘寒法薄荷連翹炒大力子桔梗生甘苦杏仁麥冬石膏知母玉竹沙參細生地象貝橘紅金銀花酒黃芩冬桑葉或大便作瀉加淡滲法則生米仁茯苓又炒銀花最妙或火盛則羚角犀角丹皮焦梔子或用葉湯白虎湯夏秋用冬春斷不可用　桂枝白虎竹葉石膏湯或又加蔗漿梨皮各因其輕重而用之　又用入心營則犀角地黃湯加紫雪或至寶丹大抵初起大便水瀉者不必服藥大便燥結不通謂之悶瘄最危俗法用西湖柳性熱溫病條辨大忌之也至棉絲線櫻桃核不知出於何書兒科用之可笑也　道光發卯間五月考時考客患瘄兒科用桂枝無不鼻衄予用辛涼合甘寒無不即愈而竟不用西湖柳可見葉法不誤人　又若初見怕冷加荊芥可（荊芥性溫怕冷是寒）有寒邪故可用余每用白寇殼以軀殼藥去殼寒也　若初起作嘔大力子易於作嘔用之嘔更甚然內經在上者因而越之風痰嘔出瘄疹出透矣何妙如之若怕其嘔加白蔻仁八分即不嘔　又本草大便瀉者大力子禁用以大力子能作瀉也然瘄子出瀉者不藥可愈愈瀉愈妙又瘄後水瀉亦不礙用甘寒復以淡滲加銀花炭最妙誤用溫熱乃參朮危最怕吐血</p>
