<header data-type="book">
<h1>鍥王氏秘傳圖註八十一難經評林捷徑統宗</h1>
<dl class="元資料">
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1599">公元1599年</data></dd></div>
<div><dt>底本</dt><dd>明萬曆二十七年劉朝琯安正堂刊合併脉訣難經太素評林之一（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀003457–003458）</dd></div>
</dl>
</header>
