<header data-type="book">
<h1>傳信適用方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>吳彥夔</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=351">浙江大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>治諸風</h2>
<p><u>大聖一粒金丹，又名保命金丹</u></p>
<p>治男子婦人一切諸風，氣血俱虛，陰陽偏廢，卒暴中風，僵仆昏塞，涎潮搐搦，不省人事，失音舌強，手足嚲曳，口眼喎斜；或癱瘓偏枯，半身不遂，語言蹇澀，舉止錯亂，四肢麻痹，及治癲癇倒僕，目瞑不開，涎盛作聲；或角弓反張，目睛直視，口噤悶絕，牙關緊急。並治風搏於陽經，目眩頭痛，耳作蟬鳴，皮膚瞤搐，頻欠喜睡，項強拘急，不能回顧，及腎臟風虛，腳膝疼痛，步履艱難，偏風流注，一邊屈伸不得，此藥無問久新並能治之。</p>
<p>黑附子（生，去皮臍）　川烏頭（如上）　白附子　五靈脂（各一兩）　白殭蠶（炒）　白蒺藜（炒，一兩）　白礬（枯，一兩）　硃砂（別研，半兩）　沒藥（半兩）　麝香（一錢，研）　乳香（半兩，研）　全蠍（半兩，碎亦可用）</p>
<p>上將諸藥和得所，以井花水磨細墨半兩，滴水和圓如彈子大，窨干，金箔為衣。每服一粒，用生薑一兩，去皮細擦，取自然汁，將藥圓於薑汁內磨，化盡為度，用無灰酒一盞溫服，量病人酒性多少，更吃溫酒一二升，投之以助藥力，次用衣被蓋覆便臥，汗出為效。疾勢輕者，每服半圓，不拘時候。如有風疾，常服補益五臟，固密真元，通流關節，祛逐風邪，壯筋續骨，大有神效。</p>
<p><u>治癇疾</u></p>
<p>凌霄花</p>
<p>上一味為細末，每服三錢，溫酒調下，空心服。每服藥時，解開頭髮，用木梳不住手梳，以冷水一大碗在側，含水口中，水溫即換，以碗水盡即住梳，如此服四十九日，永絕根本，不論受病淺深皆愈，仍百無所忌。興國司法姜濤嘗服有效。</p>
<p><u>溫腦散</u></p>
<p>治頭風。（隆興李醫傳。）</p>
<p>川芎（二兩）　天麻　川烏（炮，去皮尖，碎銼，炒黃。各一兩）</p>
<p>上為細末，每服二錢，茶調下，薄荷茶尤佳。</p>
<p><u>乳香益經圓</u></p>
<p>治男子婦人體虛氣弱，寒濕相搏，半身不遂，手足麻痹，行步少力，骨節煩疼，足脛浮腫，皮膚不仁，腳膝常冷，狀若風吹；或時作熱，漸成腳氣，腳膝生瘡，痛癢不仁。又治肝腎不足，經絡留滯，筋脈緩弱，舉動皆難，四肢攣急，不可屈伸，臂痛遊走，或左或右，風毒攻疰，乍差乍發，肩背相引，腰膝大痛，風痹嚲曳，血脈不周，閃肭打撲內傷，筋骨痛不可忍，男子疝氣，膀胱上下奔沖，婦人月水不調，多作腹痛。常服活血脈，止疼痛，補虛損，壯筋骨。（樊防禦秘方。）</p>
<p>天台烏藥　威靈仙（酒浸）　京萆薢　茴香（炒）　陳皮（黑豆煮）　川楝子肉（各一兩半）　草烏（七錢，銼炒）　五靈脂（半兩）　乳香（半兩，別研）　黑牽牛（取粉八錢）</p>
<p>上為細末，卻入乳香拌勻，醋糊為圓如梧桐子大，每服三十圓，溫酒下，空心食前。</p>
<p><u>太一丹</u></p>
<p>治諸風及癱瘓偏風，手足頑麻，肢節緩弱，骨肉疼痛。並治頭風，偏正頭痛，項頸拘急，頭旋目運，嘔吐痰水；或耳鳴聾，風痰上盛，及療傷風，傷寒頭痛不可忍者，並宜服之。常服消風化痰，清頭目，利胸膈。</p>
<p>川芎　川烏（去皮尖）　草烏（去皮尖）　白芷　白附子　黑附子（去皮臍）　細辛（去葉，洗）　半夏（洗）　天南星（洗）　天麻</p>
<p>上等分，並生用細末。如藥二十兩即入面二十兩白者，同拌勻，滴水和圓如彈子大，日中曬乾，每服一粒，茶酒任嚼下，荊芥薄荷茶亦得。如傷風傷寒頭目昏疼，用生蔥白一莖同嚼，熱茶清送下，不計時候，此藥予家常合用之，甚效。</p>
<p><u>治麻痹妙方</u></p>
<p>用四味理中湯加防風、天麻，等分同煎，甚佳。或去白朮加附子，尤妙。</p>
<p>治頭目旋暈，吐逆。蓋胃冷生痰，致有此疾。累用有效。</p>
<p><u>止逆湯</u></p>
<p>川乾薑（二兩，炮）　甘草（一兩，炙赤色）</p>
<p>上二味㕮咀為粗末，每服四五錢，用水二盞煎至八分，食前熱服。</p>
<p><u>赤茯苓散</u></p>
<p>治陰陽俱虛，經絡凝澀，氣血不和。身體疼痛，背膊勞倦，手足無力，並宜服之。</p>
<p>赤茯苓（去黑皮，三分）　當歸（去苗，洗切，焙乾，三分）　木香（半兩）　桂心（去粗皮，不見火，三分）　白朮（一兩）　枳殼（麩炒，去穰，半兩）　赤芍藥（一兩）　柴胡（去苗，洗，半兩）　黃耆（半兩，炙）　鱉甲（醋炙，去裙，三分）　五味子（揀淨，半兩）　桔梗（銼炒，半兩）　芎藭（半兩）　橘紅（半兩）　甘草（半兩，炒）</p>
<p>上十五味同為粗散，每服四錢，水一盞半，生薑五片，煎至八分，去滓通口服，無時。</p>
<p><u>治中風涎盛，不省人事人參訶子散</u>　李武仲傳云：得之張魏公家</p>
<p>人參　訶子（青白者，炮，去核）　甘草</p>
<p>上件各等分，為細末，每服二錢，白沸湯點服。如卒中風痰壅，不省人事，急投此藥，神效無比，即便省也。</p>
<p><u>治中濕癱瘓無異中風聖功散</u></p>
<p>上用五積散一兩，卻入細研，真麝香二錢同煎服，更多愈妙。（李武仲傳云：得之李與幾。）</p>
<p><u>治風熱上攻，頭目昏眩及療偏正頭疼一品圓</u></p>
<p>大香附子（去皮毛，用水煮時久，細切焙乾）</p>
<p>上為細末，煉蜜圓如彈子大，每服一圓，水一盞，煎至八分，通口服。婦人用醋湯煎。</p>
<p><u>治丈夫婦人中風氣痺</u></p>
<p>其疾作之初，切不可以治風瞑眩之藥與服，若大段有涎，即略與不損氣者下涎藥才定，如手足緩弱不遂，即便與此藥服。</p>
<p>南木香（好者一大分，洗銼，焙乾，為細末）</p>
<p>上先取好瓜蔞一個，取子及穰，去皮，將子與穰各研極細，用無灰酒一大盞投之，攪勻，用生絹絞取汁，如此研絞三兩次，酒醲無味乃止，於銀石器內煎三兩，沸調木香末，帶熱服，令人按摩病處良久，就病處臥，移時自能舉動矣。此方乃大溈山和尚傳。大溈雲氣行則風行，氣逆則風聚。甚者不過三五服，大有神驗。</p>

<h2>治感風中暑</h2>
<p><u>和解散</u></p>
<p>治感寒表裡未辨，頭痛惡心，發熱煩疼，不進飲食。常服正氣，除寒邪，闢瘟疫。不問老少皆可服。（黃鼎臣傳。）</p>
<p>蒼朮（洗淨，四兩）　厚朴（制）　桔梗（去蘆，各四兩）　藿香葉　前胡（洗，去蘆）　柴胡（洗，去蘆）　當歸（洗）　赤芍藥（各二兩）　川芎　陳皮（去穰，炒）　甘草（炙）　神麯（炒）　麥糵（炒）　赤茯苓（各四兩）　半夏曲（二兩）</p>
<p>上粗末，每服四錢，水一盞半，姜三片，棗一個，煎七分，去滓服，不拘時候。</p>
<p><u>蔥術散</u></p>
<p>不問陰陽二證，染患淺深，凡時行瘟疫及尋常風吹雨霎，頭目昏重，四體熱倦，行步少力，骨節疼痛，悉皆治之。</p>
<p>蒼朮（洗淨，一斤）　蔥（連根鬚，洗淨，一斤）　麻黃（不去節，四兩）　甘草（二兩，炙）</p>
<p>上將蔥、術入臼中杵，令蔥涎相入盆中，堅捺令熱，冬間半月，春夏五七日，取出，鍋中炒蔥葉過焦，逐旋篩出，以術干為度，次入麻黃、甘草為末，每服二錢，水一盞，姜三片，棗一個，煎七分，去滓熱服。如要出汗，連進二三服，以衣蓋之。常服解諸勞倦，行路緩急最為先務。</p>
<p><u>參苓散</u></p>
<p>解傷寒，治百節疼。一切虛勞氣疾，並宜服之。（何伯應傳。）</p>
<p>人參（二兩）　茯苓（一兩）　白朮（二十兩，銼細）　桔梗（十兩，去蘆）　橘紅（六兩）　香白芷（三兩）　芍藥（一兩）　當歸（二兩，去蘆頭）　川芎（一兩半）　半夏（一兩，湯泡七遍）　厚朴（二兩，去皮，生薑汁製）　官桂（去皮，春夏三兩，秋冬四兩）　枳殼（四兩，麩炒令黃，同桂摏為末）　乾薑（春夏一兩半，秋冬二兩）　麻黃（去根節，春夏二兩，秋冬三兩）　甘草（三兩）</p>
<p>上件一十六味各淨洗焙乾，除芎桂、枳殼別杵外，諸藥同為粗末，分作六分，於大鐵鍋內以文武火炒，令微赤黃為度，不可令焦，須是勻，取出以淨紙襯，安板床上候冷，勿令侵塵土，入前枳殼、官桂、川芎和勻，杵為細末，每服一錢，水一盞，生薑三片，蔥二寸，同煎七分，通口服，不拘時候。</p>
<p><u>治感寒傷風鼻塞頭痛及時行瘟疫，老幼皆可服之香芎散</u></p>
<p>香附子（炒，去皮，六兩）　川芎　香白芷　甘草（炙。已上各二兩）　藿香葉（四兩）　石膏研（如粉，三兩）</p>
<p>上同為細末，每服一大錢，熱茶調下，不計時候。</p>
<p><u>傷寒瘟疫差後禁忌</u>（龐安時論）</p>
<p>飲酒合陰陽，復病必死。生鱠、煮麵、酒、韭、蕈、鱔、蓴、豆粉、犬羊肉腸血、生果、油肥之類，食之皆發熱黃下利，不救。諸勞動皆致復，尚可治。女勞多死。</p>
<p><u>御愛姜蘇圓</u></p>
<p>治中暑心惡，頭疼煩躁，生津止渴。（沈德之樞密傳。）</p>
<p>紫蘇葉（揀淨，五兩）　烏梅肉（切炒，二兩）　甘草（生，三分）　桂（去粗皮，半兩）　香薷葉（揀淨，半兩）　生薑（洗切，焙乾，一分）　木瓜（二兩乾者，如生，去皮穰，切焙）　檀香（半兩，銼切）</p>
<p>上為末，煉蜜為圓如櫻桃大，每服一圓，細嚼，熟水送下，不以時。</p>
<p><u>水瓢圓</u></p>
<p>解暑毒，除煩躁，生津止渴。</p>
<p>烏梅肉（銼炒，二兩）　甘草（一兩，炙）　乾木瓜（一兩）　青鹽（一兩，研細後入）　檀香（半兩，銼屑）　人參（半兩，去蘆）　白茯苓（半兩，去黑皮）　麝香（半兩，研後入）</p>
<p>上為細末，入青鹽、麝香拌勻，煉蜜為圓，每一兩分作二十圓，冷水或熱水嚼一二圓。</p>
<p><u>秦艽散</u></p>
<p>治中暑。</p>
<p>秦艽（去土）　當歸（去蘆）　桔梗　黃連（去須）　烏梅（去核）　甘草（炙）　青皮（去穰）　柴胡（去蘆）　乾薑（炮）　芍藥</p>
<p>上件等分，為細末，解暑，濃煎燈心湯下；心痛，煎菖蒲湯下；瀉痢，米飲下。常服，熟水下；骨熱，地骨皮湯下二錢。</p>
<p><u>治中暑甚妙</u>（張魏公行軍時常用）</p>
<p>上等重羅細面一味，以薑汁及水合成餅子，暴乾，卻碾末收之，每用二三錢，新汲水調服。</p>
<p><u>治中暑迷悶欲死</u></p>
<p>上取蒜一瓣生嚼，以新水送下；或不能嚼，水研灌之，立可救。熱死人，切勿便與冷水及臥冷地，正如凍死人須先與冷水，若遽近火，即死。</p>
<p><u>治夏月大熱、因飢中暑暈倒昏塞者</u></p>
<p>急煎米飲，徐徐灌之，候漸省，只與大順散及溫氣藥服。或大燥吐，悶亂不止，急取本人汗頭巾或頭髮，挪汁一盞，入青黛一錢調灌，須臾，吐出惡毒涎水，定省，後以溫粥飲投之即愈。</p>
<p><u>解暑毒黑散子</u></p>
<p>不蛀皂角，不拘多少，燒煙絕，以盆合，秤四兩甘草，一兩炙為末，新汲水調下一錢，甚者加一錢。</p>
<p>一方，只用皂角燒成炭，末之，用水調，甚效。蓋中暑人痰塞關竅，皂角能疏利去痰故也。</p>
<p><u>神仙截傷寒四季加減百解散</u></p>
<p>夫四時有不常之氣傷人為病，外客肌膚腠理，搏於榮衛，由飢飽勞役損於五臟六腑；或由憂愁思慮，居處不常，非節之氣因茲觸冒。病發四百四種，變疾於千七百四十五證，遂編類成《巢氏病源》，計五十卷，又有八方居民所食鄉土風俗氣候異證奇疾，不載。數內外其間，唯難治者，傷寒一門，非雜病之比，五種不同，六經各異，陰陽傳受，日數淺深，藥劑溫涼，用有先後，況不識法者乎？差之毫釐，輕者危殆，變證百出，無復紀律，擾擾萬緒起矣。且傷寒一家，二百七十五證，四百一十五道方書，一日太陽，二日陽明，三日少陽，四日太陰，五日少陰，六日厥陰，六月六經俱足，隨其輕重以吐汗下和解之，始末不出六七日之間，當必取差，傷寒唯兩感一證不治，其餘證候雖感異氣，能消息之，無不愈者，又豈可妄投湯劑耶？病是陽症，陽實則譫語，無可疑者，病家未諳，多用生牢祈祭神廟，妄信邪巫，加以符禁，親戚杜門，絕人往來問候，務在邀永，況傷寒六經之病，傳受只有六日之期，動經旬月，誤致夭傷，不可勝計，豈不痛哉？今傳受神仙截傷寒四季加減百解散，無問陰陽二證，其間所用藥味，各隨經絡治病，如傷寒在表未傳入經，發熱惡寒，腰脊強痛，連進二服，汗出而愈；若已傳經絡，胸滿氣逆，肢體煩痛，目睛痛，耳聾，口燥咽乾，或渴不渴，手足自溫，或肢厥自利，或不自利，小便反快，連服之，則調中順氣，祛逐寒邪；如首會感風，風傷腠理，頭痛項強表重，傷風增寒頭痛，鼻流清涕，咳嗽涎痰，及風濕相搏，關節煩痛，一身盡重，加之惡風，時自汗出，此藥大能調順三焦，扶表救里，溫潤肺經，正四時之氣，升降陰陽，進美飲食，和解發散，涼汗清肌，退熱固表，則止九種自汗；不問傷風、傷寒、中暑、中暍、食蒸、頭痛、氣逆、胸滿、失飢、吐逆、眩暈，及已經汗之不解、下之不當、吐不中病，兼此藥清而不涼，溫而不壅，無問老人、虛人、大人、小兒、婦人、妊婦亦等宜服，專一連進，無不取效。春常服，免瘟疫之疾；夏常服，不中暑暍；秋服，無瘡痢之疾；冬服不感寒毒。真神仙衛生之妙藥也！功效不可盡述。李武仲傳云：得之洪帥呂殿撰。</p>
<p>柴胡（去蘆頭並土）　升麻　乾葛　白芍藥　白朮　防風（去苗）　甘草（炙）　羌活　獨活　藁本（去）　半夏（湯洗七次，薑汁浸）　蒼朮（米泔水浸，麩炒）　人參（去蘆）　藿香（去梗。已上各修事了秤一秤。）</p>
<p>立春已後不加減；立夏已後，一料加柴胡一分，赤茯苓、當歸各半兩；立秋已後減柴胡一分不用，當歸、赤茯苓各半兩，只加麻黃去節半兩，乾薑、炮官桂各一分；立冬已後並無加減。</p>
<p>上件同為細末，每服三錢，水一盞半，生薑三大片，棗子二個，煎至一盞，去滓熱服，不拘時候並進二服。如要表散，加白蔥三寸，淡豉三十粒，煎服，衣被蓋覆，汗出而愈。</p>
<p><u>治初感傷寒頭痛發熱小解五毒散</u>（李武仲傳云：得之王德全二方。）</p>
<p>山茵陳（二兩，去根，焙）　麻黃（二兩，去根節）　蒼朮（二兩半，米泔浸過一宿，切焙）　石膏（半兩，火煅）</p>
<p>上為細末，每服二大錢，熱蔥茶調下。</p>
<p><u>治傷寒、疫氣羌活散</u></p>
<p>羌活（一兩，洗，切，焙）　防風（洗，切，焙）　牡丹皮（洗，切，焙）　川芎（洗，切，焙）　當歸（去蘆，洗，切，焙）　甘草（微炙。五味各半兩）</p>
<p>上為銼散，每服二錢，水一盞，姜三片，煎至八分，去滓溫服，不拘時候。</p>
<p><u>治三日傷寒</u>（仙授散李仲武傳云：得之陳庭藻。）</p>
<p>蒼朮（四兩，米泔浸一夕，洗淨秤）　麻黃（四兩，去節秤）　香附子（四兩，去皮毛秤）　杏仁（二兩，去皮尖，麩炒，別研）　甘草（二兩，生用）</p>
<p>上為細末，每服三錢，白湯調下，如人行五里間進三服，服訖避風。如一服便有汗，即不必再進。米元暉云：此乃呂先生弟子陸先生方，醫愈翟伯壽六弟子，元道人傳元暉於三茅山。</p>

<h2>治氣疾及心痛</h2>
<p><u>三倍圓</u></p>
<p>療氣不升降結痞。</p>
<p>木香（一兩，炒）　青橘皮（二兩，炒）　半夏（洗，四兩，薑汁製）</p>
<p>上為末，姜糊圓如桐子大，每服二三十圓，米飲下，食後。兼治因風咳嗽及小兒暴嗽。</p>
<p><u>九氣湯</u></p>
<p>治諸般氣疾，久服舒暢經絡。</p>
<p>香附子（炒，去皮）　甘草（一兩，炙）　薑黃（一分）　甘松（一分）　山藥（半兩）　木香（半錢）　蓬朮（一錢，炒）　縮砂仁（半兩）</p>
<p>上為細末，每服二錢，入鹽，沸湯點服，不計時候。一方加益智仁一分。</p>
<p><u>治心腹攢痛</u></p>
<p>高良薑　桂等分</p>
<p>上為細末，糯米飲調下，白湯亦得，極效。</p>
<p><u>御府五辛寬膈湯</u>（沈得之樞密傳）</p>
<p>揀丁香　檀香　桔梗（銼，炒）　陳皮（去白。已上四味各一兩）　縮砂仁（炒）　川乾薑（炮）　甘草（炒。各三兩）　白鹽（二兩半，炒，別研入）</p>
<p>上為細末，入鹽，令勻，每服二錢，沸湯點下。</p>
<p><u>治心疼</u></p>
<p>五靈脂不計多少，為末，用一錢，以酒、醋各一茶腳許，同熬如稠餳，別以好酒解調下，立愈。</p>
<p><u>治心痛將死</u></p>
<p>用乾漆為末，每服一錢，入水一盞，煎至半盞，次入醋半盞，調勻，頓服之。</p>
<p><u>治一切心痛灸法</u></p>
<p>每盛發時，於足心亂紋中，以麥粒大艾炷灸三壯，男左女右。</p>
<p><u>治一切氣痛</u></p>
<p>延胡索不拘多少，每服二錢，熱酒調下，甚者不過再服。</p>
<p><u>治婦人心疼</u></p>
<p>荔枝核燒灰存性，為末，溫淡醋調下。</p>
<p><u>治醋心</u></p>
<p>爛嚼胡桃，以乾薑湯下，立效。或只嚼胡桃，或只吃乾薑湯，亦可治。</p>
<p><u>治心痛</u></p>
<p>良薑不拘多少，用木臼杵為末，只羅取細末去粗者，以久陳米入酒、醋和水煮，令爛，於沙盆內研成膏，取出，和前件末，再入臼內杵二三十杵，為圓桐子大，丈夫橘皮生薑湯，女人醋湯、當歸湯下三十圓。</p>

<h2>治脾胃（積聚附）</h2>
<p><u>秦綾錦家二十四味養脾圓</u></p>
<p>治風冷寒濕邪氣，腹脹痞滿刺痛，腸鳴泄瀉，吐逆吞酸，羸弱困怠無力，不思飲食。一切脾胃之疾並治之。黃子耕傳。</p>
<p>丁香　沉香　木香（各一錢半）　附子（六錢半，炮，去皮臍秤）　陳皮（去白）　大腹皮　神麯（炒。各半兩）　白朮　大麥糵（炒）　肉桂（去皮，不見火，各一兩半）　厚朴（去皮，薑製，三兩）　訶子（炮，去核，一兩三錢）　人參（去蘆）　茯苓（各四錢）　縮砂仁（八錢）　蓽澄茄　白附子（炮）　高良薑（油炒）　紅豆（去紅皮）　胡椒（炒）　蓽茇　甘草（炙）　川薑（炮，各二錢）　生薑（十四兩，切作片子，焙乾）</p>
<p>上為細末，煉蜜為圓如彈子大，食前細嚼，沸湯下。</p>
<p><u>扶老強中圓</u></p>
<p>久服溫暖五臟，大建脾胃，充實肌體，安養真氣，通和血脈，能愈眾疾，逐宿食，除痰飲，散滯積，消脹滿，破癥結，化水穀，補中壯氣，令人喜食。</p>
<p>神麯（銼碎，炒，二十兩）　大麥蘖（炒，十兩）　吳茱萸（洗，炒，五兩）　乾薑（炮，五兩）</p>
<p>上件藥為細末，煉蜜圓如梧桐子大，每服一百粒，不拘時候，任湯使下，只用白糊圓亦得，臨時加減圓數。又一方，加烏梅肉銼炒，陳皮去白五兩。</p>
<p><u>健脾湯</u></p>
<p>大益脾胃，消痰，進飲食，早出冒冷，及酒病尤宜服。</p>
<p>生薑（一斤，洗，和皮切，入干瓷盆內，以鹽四兩淹一宿，日中拌曬，以鹽汁盡為度）　草豆蔻仁（焙）　甘草（炙）　陳皮（去白）　神麯（炒）　麥糵（炒，勿焦。各二兩）</p>
<p>上為細末，白湯點服，空心食前。</p>
<p><u>助胃膏</u></p>
<p>大壯脾胃及治噁心吐嘔，不思飲食，泄瀉等疾。</p>
<p>人參　丁香　甘草（炙）　白茯苓　白朮（已上各半兩）　肉豆蔻（四個，麵煨）　山藥（一兩）　白豆蔻（十四個，去皮）　木香（二錢）　縮砂（二十四個，去皮）</p>
<p>上為細末，煉蜜圓彈子大，食前白湯下，小兒尤宜服。</p>
<p><u>法制檳榔</u></p>
<p>治酒食過度，胸膈膨滿，口吐清水，一切積滯。（洪子和傳。）</p>
<p>雞心檳榔（一兩，切作細塊）　白豆蔻（取仁，一兩）　縮砂（取仁，一兩）　揀丁香（一兩，切作細條）　粉草（一兩，切作細塊）　生薑（半斤，切作細條）　鹽（二兩）　真陳橘皮（半斤，去白，切作細條）</p>
<p>上件同河水兩碗浸一宿，次日用慢火砂鍋內煮乾，焙乾，入新瓶收。每服一撮，細嚼酒下，為細末，湯點亦可。</p>
<p><u>延年草</u></p>
<p>邢和璞真人常服，安神導氣，消酒食，益脾胃，老人小兒皆可服。昭陵每食後嚼數片，神安體健，賜呂申公劉斯立，秘之，名延年草。昭陵亦賜魏公。（廖提刑蘧傳。）</p>
<p>青皮（一斤，湯浸三日，各三換，候苦味去盡，然後去穰，切作指面大方片子）　甘草（六兩，銼秤，炙）　上等白鹽花（五兩，再淋煎用，須要雪白）　新舶上茴草（四兩）</p>
<p>上用甜水一斗，同藥入銀鍋內熬，不住手攪，勿令著底，置密器中收，不得走氣，候水盡取出，慢火炒令乾，不得有焦氣，選勤謹者一人專一掌之，去甘草、茴香不用，只收貯青皮。如傷生冷及果實蔬菜之類，即嚼數片，氣通即無恙，常服一兩片極佳。以其尤宜老人，邢和璞所以名萬年草，斯立又以延年草目之也。</p>
<p><u>治膨脹、飲食不消、至晚不欲飲食</u>（洪子和傳）</p>
<p>用橘皮煎圓三十圓、感應圓七圓煎紫蘇橘皮湯下。</p>
<p><u>厚朴煎圓</u></p>
<p>孫兆嘗云：補腎不如補脾，脾胃氣壯則能飲食，飲食既進能主榮衛，榮衛既旺滋養骨髓、保精益血，是以《素問》云：精不足，補之以味；形不足，補之以氣。具方於後。</p>
<p>梓州厚朴（半斤，去皮了秤，銼作大指面大。）卻用生薑半斤，同水五升於銀器內煮，水盡卻去生薑不用，將厚朴焙乾。</p>
<p>川薑四兩（銼作指面大，用甘草四兩槌碎，用水一斗銀器內煮，水盡去甘草，焙乾川薑）　舶上茴香（二兩，炒）　附子二兩（炮製，去皮尖臍）　川椒（一兩，去子炒，用瓦出汗）</p>
<p>上件厚朴等為細末，煮棗肉為劑（如棗肉不和，卻用面清糊少許，）　入臼內杵千百下，圓如桐子大，每服五六十圓，空心米湯下。此藥溫中降氣，化痰進食，極有遠效。</p>
<p><u>大丁香煮散</u></p>
<p>治脾臟伏冷，胃脘受寒，胸膈痞悶，心腹刺痛，痰逆噁心，寒嗽中滿，臟腑虛滑，飲食減少，番胃吐逆，四肢逆冷，但是沉寒痼冷，無問舊新，功效不可具述。</p>
<p>丁香　黑附子（炮，去皮臍秤）　乾薑（炮）　良薑（銼）　益智子（去皮）　青皮（去白）　陳皮（去白）　甘草（炙。已上八味修事了，各一兩）　胡椒（半兩）</p>
<p>上搗為細末，不羅拌勻，每服二錢，水一盞，生薑三片，鹽一捻，同煎七分，食前空心服，滓再用水煎，日三兩服，病退即止。</p>
<p><u>聚香羊肉圓</u></p>
<p>治脾元久虛，胸膈噎塞，嘔逆噁心，痰逆，腹肚疼痛，臟腑泄瀉，兩脅脹悶，腹內虛鳴，飲食不進，面無顏色，漸成虛羸，精神不爽，四肢乏力，口苦舌乾。老人久不思食，尤宜服之。南雄韋守能幹傳。</p>
<p>木香（濕紙裹，微炮，銼碎，半兩）　丁香（去梗，半兩，不見火）　白豆蔻（去殼，半兩）　紅豆（炒，半兩）　肉豆蔻（濕紙裹炮，銼碎，半兩）　胡椒（炒，半兩）　附子（炮裂，沸湯泡，去臍，銼，半兩）　蓽茇（炒，半兩）　乾薑（銼，炒，洗淨，半兩）　訶子肉（炮，去核，半兩）　高良薑（去蘆，銼碎，洗，焙，半兩）　陳皮（湯泡，去白，焙乾，半兩）　草果子（去殼並皮，半兩）　厚朴（去粗皮，以生薑杵碎，半兩，並厚朴半兩淹一宿，炒令色黃）　肉蓯蓉（酒浸一宿，微炙，切片，一兩）　鹿茸（去皮毛，劈片，酥炙令紫黃色，洗淨，一兩）　縮砂仁（三兩）　精羊肉（去筋膜，淨取二斤，成片薄批，鹽、酒、蔥各少許，淹兩時辰，沸湯綽過，取出壓干，研如松脯，焙乾入）</p>
<p>上為細末，別用神麯研為細末，做熟糊圓如梧桐子大，候乾。每服六十粒，米飲、溫酒任便吞下，食前服。</p>
<p><u>七寶湯</u></p>
<p>治脾元虛弱，腸鳴腹痛，臟氣不和，四肢疼酸，心虛忡畏，胸膈不利，可美飲食。</p>
<p>附子（大者，炮裂，湯泡，去皮臍，銼碎，四兩）　人參（去蘆，洗淨，切片，焙，二兩）　乾山藥（去黑皮，一兩）　白朮（去蘆，洗淨，銼，焙，一兩半）　乾薑（川者，炮裂，洗淨，銼炮，一兩）　木香（濕紙裹炮，銼碎，一兩）　肉豆蔻（炮裂，洗淨，銼碎，一兩）</p>
<p>上七味為細末，和勻，每服二錢，水一盞，生薑五片，棗子二個，煎七分，食前服。</p>

<h2>治瘴瘧</h2>
<p><u>七聖散</u></p>
<p>治山嵐瘴瘧，寒暑往來，或兩日三日一發，累治不效者。</p>
<p>雞骨川常山（銼）　製厚朴（各一兩）　草豆蔻（去皮）　肉豆蔻（各二兩）　烏梅（七個）　白檳榔（半兩）　甘草（半兩，炙）</p>
<p>上為粗末，每服二錢，水一盞，煎七分。臨發前冷飲，去滓熱服，即吐亦即瘥。</p>
<p><u>五獸飲</u></p>
<p>治脾瘧疾。</p>
<p>草果子（七個，連皮銼碎）　生薑（五塊如大指大，銼碎）　大棗子（十個，去核切）　烏梅（大者七個，小者十個，槌碎，不用仁核）　人參（五寸，銼碎）　厚朴（半兩，薑製）　陳皮（全者五個，不去白）　甘草（五寸，銼碎）</p>
<p>上件八味銼細，分作五裹，每裹入鹽三指一撮，拌勻，如法包裹，水濕，卻火內煨十分香熟，取出，每包水一碗，同煎至六分，分作二服，去滓，通口服之一服，然後又溫動一服服之，無不效者，甚妙。</p>
<p><u>治諸瘧十棗湯</u></p>
<p>以多年陳橘皮，不拘多少，略去白，焙乾，卻以生薑自然汁浸之過二指已上，用銀石器重湯慢火熬干，取出切，焙乾，碾為細末，預以隔年肥棗十枚，用水盞半煎至一中盞，早晨暖棗湯熱，調藥末三大錢頓服，不拘老少、孕婦皆可用服，藥後剝棗熱吃。</p>
<p><u>金不換正氣散</u></p>
<p>常服進飲食，調榮衛，正氣逐冷，闢山嵐瘴氣。治陰陽不和，往來寒熱，諸般瘧疾解利，四時傷寒；治五種隔氣，噁心，痰逆，或吐或瀉，冒冷傷食，脾胃虛弱，悉宜服之。</p>
<p>藿香（去沙土、枝梗）　半夏（湯泡洗七次）　甘草（炒）　陳皮（去白）　厚朴（去粗皮，薑製）　草果子（煨，去皮）　蒼朮（米泔浸一宿）　白茯苓　白朮　神麯（炒）</p>
<p>上並等分，為粗末，每服四錢，水一盞半，生薑五片，棗一枚，同煎至七分，去滓放溫服，不拘時候。</p>

<h2>治痰嗽</h2>
<p><u>寧肺湯</u></p>
<p>治咳嗽喘急，不問久新，悉皆療治。（黃鼎臣傳。）</p>
<p>罌房（半兩，去枝梗，銼，蜜炒黃脆）　五味子（去枝梗，半兩）　烏梅（去核，四兩）</p>
<p>上為粗末，每服四錢，水一盞半，生薑三片，同煎至七分，去滓後服。</p>
<p><u>清膈散</u></p>
<p>治痰嗽，發散肺寒。</p>
<p>麻黃（一兩，去節）　阿膠（一兩，炒）　罌粟殼（一兩，蜜炙）　烏梅肉（一兩）　杏仁（半兩，去皮尖）</p>
<p>上為細末，每服二錢，水一盞，煎七分，去滓溫服，臨臥。</p>
<p><u>導痰湯</u></p>
<p>治痰厥，頭昏暈。（清虛皇甫坦傳。）</p>
<p>半夏（四兩，湯洗七次）　天南星（一兩，細切，薑汁浸）　枳實（去穰，一兩）　橘紅（一兩）　赤茯苓（一兩）</p>
<p>上為粗末，每服三大錢，水兩盞，姜十片，煎至一盞，去滓溫服，食後。</p>
<p><u>治痰</u>　葉錫丞相傳</p>
<p>附子（一兩）　半夏（半兩，洗）</p>
<p>上㕮咀，分三服，水二盞，姜二十片，煎八分服，空心。一方，去半夏，用南星半兩，名南附湯，一料作四服，煎煮同，更加少木香，亦妙。</p>
<p><u>款冬花膏</u></p>
<p>溫益肺氣，止嗽。</p>
<p>人參　白朮　款冬花（去梗）　川薑（炮）　鍾乳粉</p>
<p>上各半兩，為細末，煉蜜圓，每兩十圓，每服一圓，米飲下，食前。</p>
<p><u>治一切嗽，定喘補肺化痰阿膠散</u></p>
<p>阿膠（一兩炒）　紫團參（一兩）　半夏（湯洗七遍，同生姜杵，作餅子一兩）　鱉甲（半兩，刮洗淨，醋煮黃）　甘草（半兩，炙）</p>
<p>上為細末，每服二錢，水一盞，姜二片，煎七分，通口服。如勞咳盛，加薤白一寸，同煎熟，先嚼薤，次呷藥。</p>
<p><u>治痰人參化痰圓</u>（朱季益傳）</p>
<p>半夏大者切作四破，先以湯浸七遍，卻用蘿蔔切作大片，拌勻，用水慢火煮，直候嘗其味不襲人方止焙乾，去蘿蔔不用，入人參，等分，為末，水浸蒸餅，圓如桐子大，食後薑湯下。</p>
<p><u>小半夏飲</u></p>
<p>治痰嗽甚效。</p>
<p>半夏（湯洗七遍）　白茯苓　陳皮（洗，去白）　甘草（炙）</p>
<p>上等分，㕮咀，每服三錢，水一盞半，姜四片，煎至七分溫服，不拘時候。</p>
<p><u>定喘治嗽沉香散</u>（趙山甫傳）</p>
<p>好沉香（半兩）　阿膠（半兩，蚌粉炒成珠）　結實人參（一兩）　桑白皮（揀一兩，微炒，氣虛人減半）　陳皮（半兩）　紫蘇子（半兩）　甘草（炙，一分）</p>
<p>上為細末，每服二錢，生薑三片，水一大盞，煎至七分，去滓通口服，元方只以棗湯調下。</p>
<p><u>治諸般嗽喘</u>（洪子和傳）</p>
<p>罌粟殼（十個大者，用新瓦一片，細拍碎，於瓦上炒黃）　大白梅（五個，湯浸三五次去鹽味）</p>
<p>上件用生薑五片，棗二個，水二盞，煎至一盞，去滓臨臥服，留滓天明再煎服。</p>

<h2>治吐逆（反胃附）</h2>
<p><u>止吐逆</u></p>
<p>半夏（十枚大者，洗）　丁香（百粒）　胡椒（百粒）</p>
<p>上為細末，薑汁糊末如棗核形，每服用棗一枚，去核內藥在內，濕紙裹煨熱，去紙細嚼，米飲下，不拘時候。</p>
<p><u>又方</u></p>
<p>丁香　木香　白朮　半夏　乾薑</p>
<p>上等分，為末，薑汁糊圓桐子大，每服三二十圓，米飲下，食前。</p>
<p><u>治因食冷物凝滯胃間、嘔吐不止丁香圓</u></p>
<p>大丁香（半兩）　木香（三錢）　胡椒（三錢）　藿香（三錢）　乾薑（二錢）　甘草（三錢）　肉桂（二錢）</p>
<p>上為末，蒸餅糊圓綠豆大，焙乾，時時干嚼下，不必飲湯水，水入則愈吐。如覺痿弱，更加附子隨意。（何仲顏傳。）</p>
<p><u>治反胃</u>（洪子和傳）</p>
<p>川薑如錢切，麻油煎過，為末，用軟柿蘸服。</p>

<h2>治泄瀉下痢</h2>
<p><u>遇仙立效飲子</u></p>
<p>治諸般惡痢，或赤，或白，或膿血相雜，裡急後重，臍腹絞痛，或下五色，或如魚腦，日夜無度，或噤口不食，諸藥不效者，悉能療之，不問老幼虛弱產婦皆可服。（李兩府宅印施。）</p>
<p>御米殼（四兩，擇淨，炒黃秤）　川當歸（四兩，去皮秤）　甘草（二兩，炒）　赤芍藥　酸石榴皮　地榆（各一兩）</p>
<p>上六味粗末，每服三大錢，水一盞半，煎七分，去滓，空心食前溫服。小兒量大小加減，忌生冷油膩魚腥。</p>
<p><u>治痢如聖飲</u>（嚴仲和傳）</p>
<p>雞心檳榔（半兩）　大腹子（半兩）　甘草（半兩，炙）　地榆（半兩）　陳橘皮（三錢，去白）</p>
<p>上為粗末，每半兩作一服，水一盞半，紫蘇莖舊者一二寸，煎至一盞，空心食前熱服，留滓再煎。如痢止，不必多服，屢試皆效。</p>
<p>\地榆散</p>
<p>治五色痢。裡急後重，痛不可忍者，並皆治之。</p>
<p>地榆（二兩，炒）　御米殼（四兩，蜜炒）　陳皮（一兩，浸洗，去白）　藿香（一兩，洗，去土）　黃連（一兩）　甘草（一兩，炙）　蒼朮（一兩，米泔水浸三日，炒）</p>
<p>上為粗末，每服二錢，水一大盞，煎至八分，去滓通口服，並二服滓再煎作一服，共三服，無不取效。</p>
<p><u>御愛圓</u></p>
<p>治榮衛氣虛，風邪進襲臟腑之間。值腸胃虛弱，糟粕不聚，便利赤白，或作膿血，臍腹疼痛，心胸痞滿，裡急後重，煩滿渴逆，脅肋脹悶，腸內虛鳴，四肢倦乏，不進飲食，並宜服之。（黃鼎臣傳。）</p>
<p>御米殼（四兩，以蜜炒黃紫焦色）　干蒸餅（切如骰子塊，以蜜炒焦色）</p>
<p>上為細末，煉蜜為圓如雞子黃大，每服一粒，水一盞，煎化為度，熱服，不拘時候。</p>
<p><u>肉豆蔻散</u></p>
<p>治赤白痢如神。</p>
<p>訶子（四個）　木香（一錢）　肉豆蔻（用麵煨香熱，去面，只用肉豆蔻）</p>
<p>上為細末，每服二錢，陳米飲調下，空心食前，日進三服。</p>
<p><u>草果飲</u></p>
<p>主腸胃冷熱不和，下痢赤白，及伏熱泄瀉，臟毒便血，悉治之。兼主脾胃。（南華主憎元椿傳。）</p>
<p>草果子　甘草　地榆　枳殼（去穰，麩炒）</p>
<p>上等分粗末，每服二錢，用水一盞半，煨姜一塊拍碎，同煎七分，去滓服，不拘時候。</p>
<p><u>肉豆蔻散</u></p>
<p>治赤白痢無藥可治者，其效如神。</p>
<p>肉豆蔻（切片，炒黃）　罌粟殼（搗碎，用蜜拌勻，炒令黃黑）　甘草（銼，炒黃黑色）　乾生薑（切細，炒黃黑）</p>
<p>上等分為末，每服六錢。如赤多，加炙黃甘草一寸；若白多，加炒生薑一塊同煎。用水須二大盞，煎至一盞半，通口服，不計時候。兩服滓再煎作一服。</p>
<p><u>治大人小兒吐瀉</u></p>
<p>訶子（一兩）　藿香（一兩）　肉豆蔻（二兩）</p>
<p>上為末，蜜圓，隨大小，米飲化下。</p>
<p><u>木瓜萬補圓</u></p>
<p>治脾胃久虛，大腸積冷，下痢白膿；或腸滑不固，久服諸藥未效，服之神驗。產前產後皆可服，立效。（劉好古所處方，但季良傳。）</p>
<p>人參（一兩半）　白朮（一兩）　陽起石（一兩，火煅，細研）　肉蓯蓉（二兩，淨洗，酒浸一宿，切焙）　肉桂（一兩，去皮）　縮砂仁（一兩）　赤石脂（一兩）　肉豆蔻（一兩，麵裹煨熟）　當歸（一兩半，切焙）　鍾乳粉（一兩）　草豆蔻（一兩半，去皮，焙）　沉香（一兩）　地榆（半兩）　蓽茇（一兩，牛乳半盞，慢火煎乾，焙）　白姜（一兩，炮）　茴香（一兩，炒）　大麥糵（半兩，炒）　神麯（半兩，炒）　丁香（一兩）　厚朴（一兩，去皮，薑製）　乳香（一兩半）　白茯苓（一兩）　罌粟殼（和米者二十枚，炙）　大附子（一個七錢。已上者，炮，去皮臍）　嫩茄茸（一兩半，酥炙微黃）</p>
<p>上件為末，入別研者，勻，以木瓜去穰蒸爛，同藥末搗和得所，圓如桐子大，曬乾。每服三十圓，空心食前米飲下，並頻加至五七十圓。</p>
<p><u>治噤口痢敗毒散</u></p>
<p>入倉米五六十粒同煎，一服取效。</p>
<p><u>神效痢藥乳香散</u></p>
<p>白梅（一兩，燒灰）　棗子（一兩，燒灰）　罌慄殼（一兩，燒灰）　訶子（半兩，燒灰）</p>
<p>上為細末，每服一二錢，水一小盞，乳香黑豆大一塊，同煎至七分，不拘時候溫服。</p>
<p><u>妙應湯</u></p>
<p>治大人小兒赤白痢。</p>
<p>罌粟殼（七個，擘破，一半生用，一半用蜜塗炙微黃）　烏梅（三個，連核）　甘草（七小寸，一半生，一半炙）　大棗（七個，擘破）　生薑（七大片）　薤白（二十一莖粗大者，小者倍之）</p>
<p>上為銼散，都作一服，用水二大碗，煎至一碗，去滓得一碗，稍熱服，不計時候，分作三服，小兒量大小加減，服之神效。</p>
<p><u>治血痢不止</u></p>
<p>地榆淨洗，曝乾，為細末，每服二錢，摻在羊血上，火炙熟爛嚼，米飲下。如不吃葷，即以捻頭煎湯調下。</p>
<p><u>治暑月膿血痢晝夜頻並不止腹痛不可忍者</u></p>
<p>楮藥二七枚，生用，將焰火燒為黑灰，淹梅水少許，以冷水解破調服。</p>
<p><u>治痢萬金散</u>（累試神效）</p>
<p>罌粟殼（一兩，赤痢蜜炙，白痢淡炙，赤白半蜜炙）　陳皮（半兩，淨洗，去白。赤痢焙乾，白炙，赤白者相半）　甘草（三錢半，如前）</p>
<p>上為粗末，每服四錢，百沸湯一盞泡，急用厚紙三兩重密蓋，勿令透氣，候兩頓飯久，去滓服，再以滓用沸湯七分盞浸。血多，入烏梅，不搥碎，同浸，一服神驗。切忌生冷魚腥。</p>
<p><u>必效飲子</u></p>
<p>治赤白痢，不問老幼並治之。（王景明傳。）</p>
<p>罌殼（二錢半）　木香（二錢半）　甘草（二錢，炙）　地榆（二錢）</p>
<p>上為末，每服二錢，米飲調下。</p>
<p><u>大瀉腹痛</u>（李氏治證，吳守景先傳）</p>
<p>有人每日早起，須大瀉一行，或時腹痛，或不痛，空心服熱藥亦無效。後有智者察之，令於晚食前，更進熱藥，遂獲稍安，常服竟無恙。蓋暖藥雖要平旦空腹，至晚藥力已過，一夜陰氣何以敵之？於晚間再進熱藥，則一夜暖藥在腹，遂可以勝陰氣。凡治冷疾皆如此。</p>
<p>又有人久患瀉泄，以暖藥補脾及分利小水百種治之，不愈。醫候之心脈獨弱，以益心氣兼補脾藥服之，遂安。蓋心火也脾土也，火生土，脾之旺賴火之燥，心氣不足則火不燥，脾土受濕，故令瀉泄。今益心補脾而又能去濕，豈有不效者乎？</p>
<p>又有一種泄瀉，作冷、作積、作心氣不足治之，及服硫黃、附子甚多，皆無效，因服火蘞圓而愈，此腸胃有風冷也。胃風湯兼服暖藥亦佳。</p>
<p>又有一種痰毒瀉兼吐，服痰毒藥下之而愈。</p>
<p>又有一種脾泄瀉，服太山老李炙肝散而愈，乃白朮、白芷、桔梗、白芍藥四味也。</p>
<p><u>暑月破腹</u></p>
<p>一曰傷暑；二曰傷冷物，食瓜果、飲水之類；三曰夏季心火旺，心經熱，則小水不利，行大腸，謂之水穀不分。傷暑而瀉者，心躁頭痛作渴，宜服香藿散、烏金散。傷冷物而瀉、腹痛水瀉、穀食不化，宜服暖藥，如附子及理中圓、二氣丹、正元丹、紫蘇子圓之類。水穀不分者，宜服大順散、五苓散，此二藥專分清濁，暑月多此疾，故人多用之。凡瀉不可急以熱藥止之，恐成痢。</p>
<p><u>痢有赤白</u></p>
<p>凡人患痢，不問赤白，脈小身涼者易安，脈大身熱者難差。患痢未有不腹痛者，皆緣有積也。暑積及熱積多患赤痢，冷積多患白痢，亦有腸胃有風而患赤痢者，有冷熱不調而患赤白痢。暑積痢及熱痢可用黃連阿膠圓，又綿煎散加滑石；白痢用駐車圓、感應圓之類；冷熱不調用戊己圓、巴豆圓、黃圓子之類。綿煎散入滑石，治赤痢極有功。又有豆飲子加減亦有功，治諸般痢用之每有效。官局靈砂丹亦甚奇。此數藥自夏及秋皆不可闕也。</p>
<p><u>痢有赤白</u></p>
<p>有人久患痢疾，赤白兼下，或純白，或赤，百藥不愈者，病久服藥已多，治痢多用毒藥後，擊得臟氣不和，所以難愈，史載之用輕清和氣藥與之，遂安，後來屢用有驗。其方用罌粟殼蜜炙、人參、白朮、白茯苓、川芎、甘草炙、黃耆等分，為細末，每二錢，薑棗水一盞，烏梅半個，煎至八分，溫服，不計時候。</p>

<h2>補益</h2>
<p><u>沉香鹿茸圓</u></p>
<p>補益下元，滋養真氣，明目駐顏，治諸虛不足，久服大有神效。（曾慶祖傳。）</p>
<p>沉香（一兩）　大附子（炮，去皮臍，二兩）　鹿茸（燎去毛，酥炙三兩）　蓯蓉（洗，酒浸，四兩）　菟絲子（洗淨，酒浸，五兩）　熟地黃（淨洗，酒浸，焙乾，六兩）</p>
<p>上件藥六味搗羅為細末，煉蜜為圓如梧桐子大，每服三五十圓，空心食前用溫酒吞下。</p>
<p><u>愈山人鎮心丹</u></p>
<p>黃耆（五兩，炙）　熟乾地黃（二兩半，洗）　五味子（二兩半，去枝梗）　柏子仁（二兩半，令研）　遠志（二兩半，去心秤）　白茯神（五兩，去木）　酸棗仁（五兩，去皮，炒秤）　硃砂（三兩，別研為衣）</p>
<p>上為細末，煉蜜為圓如梧桐子大，以硃砂為衣。此藥性平涼，無毒，善安鎮神臟，補養心氣。專治驚憂思慮過傷，心氣不足，怔忡盜汗，亂夢失精，卒暴心痛，中風不語，風癇癲狂，客忤不省，悲哭無常，色脫神瘁，飛屍鬼疰，恍惚驚悸，吐血便血，虛勞羸瘦，病後虛煩，不得眠睡，產前安胎，產後補虛，極有大功，種種心疾悉皆主之。恍惚驚悸，怔忡不止，煎人參茯神湯下；盜汗不止，參麩湯下；亂夢失精，人參龍骨湯下；卒暴心亂，乳香湯下；肌熱虛煩，麥門冬湯下；吐血，人參湯下；大便下血，當歸地榆湯下；小便尿血，赤茯苓湯下；中風不語，薄荷牛黃湯下；風癇涎潮，防風湯下三十圓；常服，溫酒或人參湯下。此藥神效不可具述，常服安神鎮心，益壽延年。</p>
<p><u>增減定志圓</u></p>
<p>養心腎，安魂魄，滋元氣，益聰明。凡健忘差謬，夢寐不寧，怔忡恍惚，精神昏眊，並宜服之。</p>
<p>鹿茸（半兩，酥炙）　遠志（一兩，去心炒）　菖蒲（炒）　茯神（炒）　酸棗仁（炒）　乾地黃（炒）　當歸（五味各一兩，炒）　人參（炒）　白朮（各一兩，炒）　麝香（一分，研入）</p>
<p>上為末，煉蜜圓如梧桐子大，硃砂為衣，三十圓人參湯下。</p>
<p><u>太上混元丹</u></p>
<p>河車者，天地之先，陰陽之祖，乾坤之橐籥，鉛汞之匡廓，胚渾將兆，九九數足，我則載而成之，故為之河車，《歷驗篇》中名曰混沌皮，蓋亦生天地陰陽之始，為七十二丹之首。高土垂慈，始開端緒，《太上》云：若欲長生，當修所生。人之所生，實滋於此，所以成功靈應非金石草木夜露曉霜之所比倫。修真之士，服之不輟，誠足以還本元。補益之道，真得其真。（韓伯成傳。）</p>
<p>紫河車一具，用少婦首生男子者良，帶子全（用東流水洗斷血脈即止，入無灰酒三升，椒一大合，同入砂石瓷器內，慢火煮，候酒欲盡去火，候冷取出，不用椒，只將河車入大沙盆內，用大木槌研如泥，攤晾裛汁，入藥下項）</p>
<p>沉香（半兩）　人參（一兩）　白茯苓（二兩）　蓯蓉（一兩）　乳香（半兩）　麝香（少許）</p>
<p>上為細末，入河車攪勻，可圓即圓如梧桐子大，真硃砂為衣，每服四五十圓，空心溫酒下。</p>
<p><u>十全散</u></p>
<p>補諸虛不足，養榮衛，三焦五臟六腑沖和清快。</p>
<p>人參（去蘆）　白朮　白芍藥　白茯苓　黃耆　大芎　干熟地黃　當歸（去蘆尾）　桂（去皮）　甘草（炒，各等分）</p>
<p>上㕮咀，每服三錢，姜三片，棗二個，擘破，水一盞半，煎八分，不拘時候，去滓溫服。</p>
<p><u>八味圓問難</u>　但季良傳</p>
<p>或問溫，杲曰：八味圓。李兵部云：久服可為地仙。今老者服之而腹痛，少者服之而發瘡，或小便頻數，或小便結澀，或眼昏，或精滑瀉，其何故哉？杲曰：是八物修事失制度，非方之罪。今貨地黃以綠礬、豆豉浸蒸，欲其易干也，地黃性本涼，加以礬、豉性冷，此老人所以腹痛；附子多是重三四錢，此是漏籃側子，大熱有毒，此少者所以發瘡；小便頻數，澤瀉生也；小便結澀者，山茱萸不去核也。今具八味修事如後：地黃生者，去土投水中，浮者為天黃，中者為人黃，沉者為地黃，先將地黃蒸良久，天黃人黃搗汁，取蒸地黃投其汁中，候冷，如此者三，曝乾，以酒浸一宿，蒸，曝乾；山藥，竹刀刮去皮，布巾揩淨，切作片子，向皂角刺上曝乾；茯苓為末，水飛過，掠去筋膜，曝乾；澤瀉，研成塊子，酒浸一宿，略蒸；山茱萸，溫水浸良久，取肉去核，每一斤得肉二兩許；黑附子，緊實重七錢者，銚內以熱灰炮裂，去皮臍；牡丹皮，去心及粗皮，以酒浸三宿；桂，削去外粗皮，不可焙。八味同於石臼中搗為末，不可犯銅氣。如是修合，服之而仙，復何疑哉？（久服去附子，揀淨五味子代之。）</p>
<p><u>煎附子法</u>　蜀人王季遠傳</p>
<p>生大附子一個，重九錢以上者，生，去皮臍，切片，槌碎亦得，用水三大碗，入晉棗十枚，生薑切二兩，炭火銀石器煎，別用水一盞，遇沸即以水旋旋點之，點盡水，煎至一大盞為度，取滓，再用水二盞煎至一盞，同前一盞共用沉香磨一錢，青鹽一錢，再煎沸即止，放溫，分作兩次服，服畢以蒸餅壓之，再溫第二服，止用重湯溫，不可再煎也。</p>
<p><u>酒煎附子四神丹</u></p>
<p>治一切虛冷之疾，升降陰陽，順正祛邪，消風冷痰涎，散結伏滯氣，通利關節，破瘀敗凝澀奔沖失經之血，接助真氣，生續脈息，補腎經不足，利膀胱小腸，秘精固氣，定喘止逆，壓煩躁，養胃氣，療五臟虧損，下虛上雍，胸中痰飲，臍腹冷積，奔豚氣衝上下循環攻刺疼痛，脾寒冷汗，中風痿痺，精神昏亂，霍亂吐瀉，手足逆冷，陰毒傷寒，四肢厥逆，形寒惡風，向暗睡臥，乍靜乍亂，婦人產後諸疾，血氣逆潮，迷悶欲絕，赤白帶下，崩漏不止，應久新諸病，未能辨別虛實冷熱證候，用藥未效，悉宜此藥，分勻陰陽氣正，便遂安和。（至不得已，詳證乃服。）</p>
<p>水窟雄黃　雌黃　辰砂　透明硫黃</p>
<p>上四物各半斤，並別研，水飛過，滲干，再同研勻，用蜜水相和令潤，緊球作一球，惟緊為妙，次用雞清磨濃墨，塗薄紙作崑崙紙，表裡俱塗，厚塗為妙，裹前藥三重，再以濃墨塗之，候乾，用燒藥合子一個，（無大合子即分作兩處裹盛，）先以牡丹根皮燒煙燻合子，令釅煙氣黑黃色，入所裹藥在內，約留離合子口下及一指，以醋調臘茶作餅子蓋定，與合子口縫平，用赤石脂泥固濟合子，用合蓋子蓋之，令嚴，卻用紙筋鹽泥通裹合子，固濟約厚一寸，放令極干，如有紋，以水再泥補，勿令有縫，候乾，看有縫再補之，入灰泥頂二寸灰，每日卯酉以四兩熟火如裝香法養十四日取出，地面上用醋灰把定，炭五斤圍，一煅於淨室中，不令婦人雞犬孝子見，候火冷取出，丹藥吹去草灰，令淨。（一法，初用炭火燒熱，次加少火燒，令通赤，常約令火五斤以來，漸漸添火氣，小卻添至斤以來，照顧勿令炭厚薄不一，可添至三秤，去火漸令冷，入在地坑內，深一尺已上，用好黃土蓋之，候三日取去，打破合子取藥細研，）研三日如粉，若只如此，便用糯糊圓，即伏火四神丹也，約三十兩末別入下項藥，故曰四神附子煎。</p>
<p>胡椒（末）　蓽茇（末。各七兩）　真赤石脂（末，三兩）　好官桂心（末，六兩）　附子（及七錢已上者，炮，去皮臍，取末十二兩，以好法酒一斗熬至三升，然後入附子末為糊，和前藥）</p>
<p>上圓如雞頭肉大，留少酒膏，恐藥干。候乾。輕病每服一粒，重病二粒至三粒，米飲湯下，空心食前，溫酒、鹽湯亦得。小兒吐瀉慢驚，研一粒，米飲灌下。如有固冷陳寒，宜常久服餌。如病安愈，不得多服。如覺熱渴，即加木香、桂末一錢，同和服之。趙丞相云：此方得之國醫李安仁，安仁云此藥比之四神丹，尤為有造化也。</p>
<p><u>神仙養氣丹</u></p>
<p>補虛養五臟，接氣助真陽。治男子五勞七傷，腎氣冷憊，精耗髓竭，耳鳴目眩，腰膝冷痛，小便頻數，怔忡健忘，神思不樂；婦人血海虛冷，臍腹㽲痛，經脈愆期，赤白帶下，久無子孕，雖孕不成，及治脾胃虛弱，浮腫氣滿，全不思食，腸鳴切痛，大便滑泄；新病差後，氣短力微，真氣不復，形容憔悴，但是虛冷並皆治之。此是煅煉，非火力僭燥既濟心腎之功，速有神效。（沈德器傳。）</p>
<p>代赭石（一斤，火煅赤，醋淬十數遍）　紫石英　禹餘糧（各半斤，火煅赤，米醋淬數遍）　赤石脂（半斤，不須醋淬）</p>
<p>四味研為細末，水飛極細，入坩堝內封口，鹽泥固濟，候乾，用炭三十斤煅，火盡為度，再研細如粉。</p>
<p>天雄（炮製，去皮臍）　附子（炮，去皮臍）　肉豆蔻（濕麵裹，炮香去面）　丁香　沉香　胡椒　破故紙（炒香）　乳香（別研入）　沒藥（別研入）　鍾乳粉（別入已上十味，各一兩。一方去丁香、胡椒，入當歸、血蠍，亦等分）</p>
<p>上為細末，和勻，用粽子入少湯研開，搜藥為圓如雞頭肉大，或差小亦可，每服三四粒，虛甚者服一二十粒，空心溫酒、溫湯下。</p>
<p><u>既濟丹</u></p>
<p>治諸虛不足，膀胱腎經痼敗，陰陽不交致生多病。凡水欲升而沃心，火欲降而溫腎，如是則坎離既濟，陰陽協和，火不炎而神自清，水不濟而精自固。久服秘精補益，永無膏淋白濁遺精之患，神效非一，難以具述。</p>
<p>辰砂（一兩）　附子（六錢以上重四個，生去皮臍，各切下頂，剜空心中，安硃砂在內，以前頂子蓋定，用線扎）　木瓜（大者二個，去皮穰，切開頂，入硃砂、附子四個在內，以木瓜元頂子蓋之，線扎定，爛蒸訖，取出附子切作片，焙乾為末，辰砂別研細，木瓜研如膏，若得宣木瓜為妙）　鹿茸（二兩，作片，酥炙）　當歸（洗，焙，秤一兩）　遠志（二兩，去心，焙乾秤）　菟絲子（水淘，酒浸，爛研成膏，焙乾為末，秤一兩半）　柏子仁（別研，一兩）　沉香（一兩）　杜仲（去粗皮，一兩半，酒浸一宿）　巴戟（去心，秤一兩）　肉蓯蓉（切細，酒浸一宿，焙乾，一兩）　黃耆（蜜炙，秤一兩）　五味子（去皮，秤一兩半）　牛膝（去苗，銼，酒浸，干秤一兩）　石斛（去苗，酒浸一宿，干，一兩）</p>
<p>上件同為細末，用茯神、乾山藥各一兩為細末，酒煮作糊，同木瓜膏及前件藥末搜和為圓如梧桐子大，每服五十圓，空心米飲下，溫酒或菖蒲鹽湯皆可。</p>

<h2>治眼目耳鼻</h2>
<p><u>六一圓</u></p>
<p>明目，養血，補氣。（蘇連叟傳三方。）</p>
<p>七錢附子兩隻（炮，去皮臍尖，取肉一兩）　當歸（去蘆尾，取身，切片曬乾，取淨肉六兩）</p>
<p>上為細末，蜜圓梧桐子大，每服三五十圓，溫酒、鹽湯下，食前。</p>
<p><u>三仙圓</u></p>
<p>明目。</p>
<p>甘菊花（一兩）　蒼朮（米泔浸，去油）　椒紅（各二兩）</p>
<p>上為末，酒糊圓桐子大，每服三五十粒，食前茶酒下。</p>
<p><u>枸杞煎</u></p>
<p>生取枸杞自然汁，銀石器熬成膏，入白茯苓末、白沙蜜、黃蠟少許，每服一匙，溫酒、鹽湯化下。</p>
<p><u>四聖圓</u></p>
<p>治遠年近日風赤翳膜攀晴倒睫等眼疾。（四種皆得之晁子止侍郎。）</p>
<p>川黎椒（去合口者並黑子，不須去白，自羅不下，於土銚內煅令得所，鋪紙一張於地上，頓椒出火毒）　熟乾地黃　枸杞子　荊芥穗</p>
<p>上件等分，為細末，煉白沙蜜為圓如梧桐子大，每服十圓至二十圓，空心鹽湯下。</p>
<p><u>補肝明目</u></p>
<p>羊子肝（批開，新瓦器內曝乾）　蓼子仁（半升）　草決明子（四兩）</p>
<p>上為末，酒糊圓如梧桐子大，每服三十圓，食前米飲下。</p>
<p><u>治眼</u></p>
<p>去昏澀、益明快。</p>
<p>生熟地黃（各二兩）　椒（一兩）</p>
<p>上為末，蜜圓梧桐子大，每服二十圓，空心鹽湯下。</p>
<p><u>治赤眼</u>（周光亨傳）</p>
<p>用四物湯，每服加熟大黃一塊如粟子大者同煎服，食後。</p>
<p><u>明目</u>（黃公友傳云：得之沈元鼎丞相。）</p>
<p>用車前草自然汁調朴硝末，臨睡塗眼胞上，來早洗去。</p>
<p>又一方，用密陀僧一錢細研，蜜一兩，入瓷瓶，用新柳枝塞瓶中，用油單密封，用黑豆七八升鐺內煮，以豆熟為度，去豆點眼。</p>
<p><u>椒紅圓眼藥</u></p>
<p>王醫師方，服藥旬日，黑花併除。（羅孟弼傳。）</p>
<p>地黃（二斤，洗淨，焙乾）　川椒（一斤，去合口並目，焙乾）　蒼朮（三斤，米泔浸三日，焙乾）</p>
<p>上藥揀淨，搗為細末，麵糊為圓梧桐子大，每服三十圓，食前溫酒或鹽湯下，日二服。</p>
<p><u>治他物傷目睛疼痛不可忍者</u></p>
<p>黃牛尿以少許點眼中，立效。</p>
<p><u>治聤耳</u></p>
<p>青橘皮燒灰研為末，用棉裹如雞頭大，塞耳中，日三四易。</p>
<p><u>治鼻衄</u>　趙判官師沔傳</p>
<p>蒲黃水調下。</p>
<p>又方，飛、羅面二錢，鹽一錢，新水調下。</p>

<h2>口齒咽喉（烏髭方附）</h2>
<p><u>治大人小兒口瘡</u></p>
<p>杏仁去皮尖，爛研，入輕粉成膏，口中嚼，閉口少時灌漱，用冷水漱，吐出，取下爛肉便安，勿嚥下。</p>
<p>又方，醋調茱萸末，塗腳心。天南星末亦可。男左女右。</p>
<p>又方（治虛熱上攻口瘡），附子一個，炮，去皮臍，切片，水兩大碗，煎至一小碗，入沉香末二錢，再略煎，候冷服，空心，早晨先服黑錫丹百粒。大要治虛熱上攻者，一方用四味黃耆建中湯煎，放冷服，亦妙。</p>
<p>又方，用五倍子為末，摻瘡上。</p>
<p>又方，密陀僧研細，以生蜜丸彈子大，含化。</p>
<p><u>地黃散歌</u>　出僧文塋汀江野錄</p>
<p>豬牙皂角及生薑，西國升麻熟地黃，木律旱連槐角子，細辛荷葉要相當（荷葉取心用），青鹽等分同燒煅，研殺將來使最良，擦齒牢牙髭鬢黑，誰知人世有仙方。</p>
<p><u>勝金散</u></p>
<p>治腎熱上蒸，牙齦浮腫，牙齒疼痛；或腎元虛冷，牙齒搖動；或赤腫痛風，牙蟲牙，並皆治之。</p>
<p>老生薑（十兩，切作如錢薄，攤箕內，令水縮；次用砒霜一錢重，細研，拌姜錢，令勻，留少許砒放熔銀坩沙鍋子內，砒拌生薑於上，按令緊，用新瓦一片蓋鍋口，烈炭火煅令煙盡，傾於盎內，盞子合定存性，要成黑炭，不可白卻）　蓽茇（二錢）　全蠍（二錢，去肚內腸屎並毒）　華陰細辛（二錢，味辛如椒者）　胡椒（二錢）</p>
<p>上四味焙乾，薑炭亦為細末，拌勻，每用，手指點少許如黑豆大揩牙齦上，閉口，候有涎沫即吐去，立效。此方乃宜黃醫者以此為業，甚所秘惜，李元佐得之以傳但季良云。</p>
<p><u>治牙疼極效</u>（南華椿老傳）</p>
<p>川百藥煎（半兩）　雄黃（二錢）　延胡索（三錢）</p>
<p>上為細末，先用爛研生薑揩牙，搜盡，涎嗽去，卻用此藥揩之，嚥下亦可。如牙腫牽連頭面，用此即差。</p>
<p>又方（萬正淳傳）</p>
<p>巴豆（一粒，不去皮膜）　川椒（少許，約三十粒）</p>
<p>上先碾椒入，巴豆為末，飯為圓如綠豆大，以綿裹，安蚛牙空中，立效。</p>
<p>又方</p>
<p>黃連　黃檗　大黃</p>
<p>上為末，生薑自然汁，如梧桐子大捻作餅，陰乾，貼在痛處。</p>
<p><u>一點雪</u></p>
<p>治喉閉喉腫。（陶贊仲傳。）</p>
<p>焰硝（三兩，研細如粉）　白礬（溶，飛過，秤一兩）</p>
<p>上二味拌勻，以一錢摻口中，口噤不開者，用半錢入於小竹筒內吹在鼻中，如口內血出，即用新水嗽之，忌熱面。</p>
<p><u>一捻金</u></p>
<p>治咽喉。</p>
<p>銅綠　黃檗　香白芷（各等分）</p>
<p>上為極細末，入麝香少許，每一字，以筆管吹入喉中。</p>
<p><u>治喉閉</u></p>
<p>生礬末吹入喉中。</p>
<p><u>通關散</u></p>
<p>治一切咽喉危疾。</p>
<p>盆硝　甘草　蒲黃　白殭蠶　青黛（已上並等分，生用）</p>
<p>上為細末，每用一字，乾摻在舌上，津咽。</p>
<p><u>一捻金散</u></p>
<p>治喉閉欲死方及治咽喉痛。（何仲顏傳。）</p>
<p>全蠍（微炒）　鬱金　白殭蠶（去絲頭，炒）　甘草（炙，已上，各半兩）　地龍（八錢重）</p>
<p>上為細末，每服少許，乾摻舌根，不數次立愈。</p>
<p><u>治喉閉、咽喉塞、喘息不通、須臾欲絕神驗</u></p>
<p>絡石草（一名石薜荔）二兩，水一升，煎取一大碗，去滓細細吃，須臾即通。</p>
<p><u>治喉閉如聖散</u></p>
<p>白殭蠶　天南星（並生用）</p>
<p>上等分，為末，以生薑自然汁調一字許，用筆筒灌在喉中，立效，仍咬乾薑一皂子大引涎出。</p>
<p><u>治咽喉中結核不通、水食危困欲死者大效百靈圓</u></p>
<p>上用釜底百草霜，不拘多少，研細，蜜和為圓龍眼大，每一圓，新汲水化開灌下，甚者不過三圓即愈。</p>
<p><u>治喉閉腫腮、涎結成核、走馬纏喉、諸風欲死者黃金散</u></p>
<p>大黃　鬱金　天南星　宣連　蠍（已上各半兩）　巴豆（別研，二錢半）</p>
<p>上除巴豆，余為末入，和勻，壯者一錢，老少者半錢，生薑蜜水調下。此藥有毒，須量人氣血虛實加減服。凡服此藥，以瀉為度。</p>
<p><u>凡咽閉，忌以手掏摘破，或即時再結，愈甚；或成宿疾，時時仍發</u></p>
<p>如急喉閉，未有藥，先用漆筋二隻燒，令有煙，含口中，不得出氣，候煙搶著，發嗽即破，然後次用別藥。又，先飲生油，令氣通，候合他藥。又，巴豆一個，微煨過，去皮，用綿裹，安耳或鼻中，如瘡破即除去。又，白殭蠶直者為末，生薑自然汁調下一二錢，大妙。又，桔梗、甘草各一兩銼，用水一盞煎數沸服，有膿出即愈。又，濃煮桂汁服一盞，亦可末桂著舌下，漸咽之。又，含雞屎白。又，含升麻。又，急拔頂心發數莖。</p>
<p><u>治喉閉纏喉風百藥不效，疾勢危甚，死在須臾，用此便蘇，再能生人</u></p>
<p>不蛀皂角兩挺，以水一大盞許，挼濃汁濾去滓，對入生麻油，攪勻，每服一盞，強令服之，未吐，再一服，有病者先用它藥，不效即急用此藥。</p>
<p><u>治咽喉痛</u></p>
<p>百藥煎（去黑皮）　硼砂　甘草　白礬（生）</p>
<p>上等分，為細末，每服一錢，食後米飲調，細細呷之。</p>
<p><u>王醫師法</u></p>
<p>生蘿蔔切作片，冬月臨臥時吃三兩片，可無咽喉之患。</p>
<p><u>治重舌口中涎出</u></p>
<p>用蒲黃傅舌上。</p>
<p><u>治氣虛牙疼及風蚌牙為虛氣所攻而發者</u></p>
<p>予昔患此，歷試諸藥不驗，里中黃醫教予用骨碎補二兩（細銼，炒黑，為末），乳香一錢（研細入），和勻，揩牙根，良久漱之，遂愈。</p>
<p><u>治新久風牙疼腫不可忍逡巡散</u>（李武仲傳）</p>
<p>高良薑（一塊，約二寸許）　干全蠍（一枚，瓦上焙乾）</p>
<p>上件藥為細末，以手指蘸藥如齒藥用，須擦令熱透，須臾吐，得少涎，以鹽湯嗽，大效。</p>
<p><u>治牙疼不可忍者</u>（鄧尉謙之傳）</p>
<p>乳香（一錢）　胡桃（一分）　蓽茇（一分）　附子皮尖（一錢）　蠍梢（半錢）</p>
<p>上件藥為細末，擦牙痛處少時，用荊芥湯嗽過。</p>
<p><u>烏髭鬢方</u>（程子正傳）</p>
<p>烏賊魚骨　韶粉　黃丹　哈蛤粉　密陀僧（五味各等分，研細）　輕粉（少許）　石灰（少許）</p>
<p>上件藥一處和勻，湯調稀稠得所，篦子塗髭鬢上，用荷葉包貼。荷葉先於熱湯內漂過，髭鬢亦須先淨洗，方可塗藥。</p>

<h2>治腳氣</h2>
<p><u>中嶽湯</u></p>
<p>治濕氣，腿腳赤腫疼痛，及胸膈痞滿，氣不升降，遍身疼痛，並治腳氣。</p>
<p>赤芍藥（六兩）　甘草（半兩，炙）</p>
<p>上為㕮咀，每服半兩，水二大盞，煎八分一盞，去滓服，不拘時候。</p>
<p><u>五香圓</u></p>
<p>治乾溼腳氣，風毒腫弱，遇發寒慄，不欲飲食，行立不得神效方。（賈彥澤傳。）</p>
<p>乳香（二錢，炒令溶，候冷研細）　木香（二錢，生用，不見火）　沉香（二錢，生用）　楓香（一分，水煮過，研細）　麝香（半錢，別研，同楓乳後入）　沒藥（二錢，酒浸少時，研成膏子入糊）　天麻（二錢，酒浸訖，銼碎）　白附子（一兩，酒浸少時，銼）　乾蠍（一兩，用火燒地令紅，將醋潑地上，覆定一時去毒）　川烏（一兩，酒浸一宿，炮裂，去皮尖，取半兩）　草烏（半兩，酒浸一宿，炮製，去皮尖，取一分）　白花蛇（去皮骨，取肉一兩，酒浸，炙令赤色）　烏蛇（一兩，如前制）　地龍（一兩，炒，去土，取半兩）　大附子（一分，炮製，去皮尖秤）　蟬蛻（二錢，用鹽水浸少時，焙乾）　白蒺藜（一兩，去尖）　麒麟竭（二錢，別研）　無名異（二錢，同自然銅醋炒訖研）　自然銅（二錢，醋炒，乾研）　硃砂（二錢，別研為衣）</p>
<p>上為末，酒糊為圓如梧桐子大，硃砂為衣，每服十五或二十圓，溫酒或木瓜湯下，食前，甚者三兩服即止。</p>
<p><u>木瓜丹</u></p>
<p>治腳膝疼重，不能遠行久立。常服補腎氣，調血脈。（左康叔傳。）</p>
<p>宣州木瓜一個，杜木瓜大者亦可用，取去穰隔，切出蓋子，用好熟艾填在木瓜內，須滿實，卻用蓋子覆之，竹杖簽定，飯甑上蒸爛，入羌活一兩，獨活二兩，附子半兩，炮，同為末，先杵木瓜令爛，次下藥末，搗成膏子，圓如梧桐子大，食前溫酒或鹽湯下三五十粒。</p>
<p><u>治腳氣</u></p>
<p>大木瓜（一個取成甕子，小者二個）　全蠍（一兩）　白牽牛　黑牽牛（各半兩，半生半熟）　破故紙（半兩，半生半熟）</p>
<p>上為末，內木瓜中，九蒸九曝，研爛為圓，炒茴香，鹽酒下，每服三十圓，食前。</p>
<p><u>木瓜圓</u></p>
<p>治腳氣。（陶茂安傳二方。）</p>
<p>牛膝（細切）　綿黃耆（細切）　肉蓯蓉（薄切。已上三味，各用無灰酒浸，夏月七日，冬月十四日，如要急用，將慢火量煮）　何首烏（去皮，銼碎）　天麻（切。已上五味，各五兩）　萆薢（洗，切）　狗脊（去毛，細銼）　京續斷（去蘆，銼碎）　青鹽（各二兩）</p>
<p>上都為末，用大木瓜二個，各去皮穰，每個取成一合子，將青鹽分作兩分，每個入一分在內，於飯上蒸令熟，研爛，圓前藥如木瓜圓，不就，即將所浸藥酒打麵糊添圓，每服三十圓，空心溫酒下。無忌。圓如梧桐子大。</p>
<p>又方</p>
<p>肉蓯蓉（好酒焙乾，淨洗）　川牛膝（去苗，洗，焙乾）　木瓜（乾者，已上各銼碎，用酒三升，入瓶內，密縛，春五日取出，急用沸湯漉過，焙為末）　枸杞子（揀淨，洗）　黃耆（洗，塗蜜炙）　真虎骨（酒浸，炙黃）　青鹽（二兩，別研。已上各二兩）</p>
<p>上件都拌勻，將前項浸藥酒，入面作糊，為圓如梧桐子大，焙乾，每服三五十圓，溫酒、白湯空心食前吞下。</p>

<h1>卷下</h1>

<h2>治癰疽瘡疥</h2>

<h3>張元輔方一宗七道</h3>
<p><u>地黃圓</u></p>
<p>常服令人終身不患發背。</p>
<p>熟乾地黃（五兩）　蓯蓉（酒浸）　天門冬　石斛　當歸　防風　白茯苓　川芎（各三兩）　遠志　黃耆　甘草（炙）　芍藥（各二兩）　人參　細辛　巴戟（各一兩）</p>
<p>上為細末，煉蜜圓如梧桐子大，每服三十圓，荊芥湯下。</p>
<p><u>萬靈圓</u></p>
<p>治發背腫痛，托裡定疼。</p>
<p>羌活　薄荷葉（各三兩）　川芎　玄參　地榆　麻黃（去節）　防風　天麻　吳白芷　白殭蠶　牛蒡子（炒）　蔓荊子　旋覆花　荊芥穗（各二兩）　甘菊（三兩）　何首烏（四兩）　大川烏（生，四兩）　甘草（四兩半，炙）　蟬蛻（去足，半兩）</p>
<p>上細末，煉蜜為圓彈子大，細嚼一彈，茶酒送下。</p>
<p><u>沒藥圓</u></p>
<p>治發背，活經絡，生肌肉。</p>
<p>大川烏（生）　當歸　赤芍藥　蘇木（銼，炒）　木鱉仁　五靈脂（炒）　羌活　獨活　穿山甲（蛤粉炒脆，各二兩）　沒藥　乳香（別研，各一兩）</p>
<p>上細末，酒煮麵糊為圓如梧桐子大，溫酒下三十圓。</p>
<p><u>涼血護肌膏</u></p>
<p>南星（生末，八兩）　雄黃（一兩，別研）　白礬（生末，四兩）</p>
<p>上細勻，用生地黃汁調塗四圍。</p>
<p><u>萬靈膏</u></p>
<p>用淨鐺一隻，下清油八兩，婦人油發一兩，炭火熬令焦盡，下側柏枝一兩，瀝青一兩，卷柏一兩，太平白芷一兩，當歸一兩，木鱉肉切片一兩，松枝香一兩，熬令紫，用楊柳枝不住手攪，焦即銼。頭熬前藥紫色，以綿兩重濾去滓，再熬油滾，下白膠香一兩，次下沒藥一兩，次下乳香一兩，並逐旋半錢徐下，次下黃丹一兩，剪刀草末一兩，慢火熬為膏，滴成珠子就也，用新汲井水浸去火毒，先以蔥鹽湯洗瘡，次用軟帛火炙，攤上，不得留孔貼之。剪刀草乃田中野茨菰也。</p>
<p><u>羚羊角散</u></p>
<p>內消發背。</p>
<p>穿山甲（四兩，蛤粉炒脆）　甘草（炙）　當歸（各二兩）</p>
<p>上為細末，炮甘草根浸酒調下二錢。</p>
<p><u>瓜蔞散</u></p>
<p>內消惡肉，生好肉。</p>
<p>黃耆（四兩，銼）　皂角刺（八兩紅者，拍碎，銼）　甘草（六兩）　牛膝（二兩）　黃瓜蔞（十個，銼）</p>
<p>上用蜜一斤旋入鐺內，炒至紫色，見風吹脆為末，有滓再炒為末，酒調下二錢。</p>
<p>上方七道里張元輔用之如神，由此致富，然秘藏此方，人莫傳者。余少時目擊其事，後凡三十年始得之於章明叔，蓋其徒，云拙奄老人題。</p>

<h3>李溫如方一宗六道</h3>
<p>李溫如八行，家寶秘療發背藥方，不以傳人，其子秉彝客於新吳大姓羅氏，一日出謁，偶忘封鏁書篋，為諸生竊取其方錄之，秉彝歸，為之出涕。蓋其父子以此方救人之死甚多，深不欲傳也，其用藥次第如後。</p>
<p><u>初覺瘡發時先服通關散</u>（門氏載此藥，治發背內潰及諸惡毒衝心嘔逆見信效方。）</p>
<p>綠豆末（二錢）　乳香末（一錢）</p>
<p>上二味和勻，井花水調服，微利為妙。</p>
<p><u>次用藥試發瘡可治不可治</u></p>
<p>白礬（一兩）　天南星（一兩）</p>
<p>上為末，以冷水和勻，傅腫處，留出瘡口，仍以筆畫泥瘡暈，若藥力勝，則腫消皮皺，此為易治；若腫處皮急暈開，即難治。</p>
<p><u>次服赤小豆</u></p>
<p>上用赤小豆半升，不去皮，生為末，每用一兩匙，以冷水調下，連並服盡，如未退再服半升，取口鼻大便出血為度，服豆末時不可吃飯。</p>
<p><u>次服四味散</u></p>
<p>石上薜荔（二兩）　地榆（一兩）　甘草節（一兩）　當歸（一兩）</p>
<p>上為末，溫酒調下三錢。</p>
<p><u>次服</u></p>
<p>膨脝葉（三斤）　罔谷刺葉（一斤）</p>
<p>上二味旋採，勿令婦人、雞犬見，碓臼內舂爛，每用一碗許，以酒一盞浸，去滓溫服，仍以藥滓罨瘡。</p>
<p><u>次用斂瘡口生肌散</u></p>
<p>木香　檳榔　黃連（洗，去須）</p>
<p>上三味等分，淨器碾，羅為末，時以傅瘡，若瘡潰爛，傅了更以常用膏藥或云母膏貼定，聽膿水自出，若用此藥傅後瘡口未便斂，白及末、輕粉各少許勻傅，即有速效。</p>

<h3>門資欽錄元立方一宗四道</h3>
<p>壽州霍丘醫瘡人元立治瘡甚有聲，元符己卯，予侍先子，將漕江東舟次壽州，予因累月食雞卵數十枚，暴得咽喉腫塞及頸赤腫硬，下連心胸如鐵石，日夕號叫，喉中水米不通壅塞，將死，召醫者視之，云：此喉癰也，泛泛藥恐無益。因言：可招元立治之，必愈。先子夜遣介，兩日往還數百里，召立至，用藥數服得效，報之頗厚，立感激。予自傅治發背方四首，皆累用有奇功，今錄於下。</p>
<p><u>治發背腦疽一切惡瘡，當先用托裡藥，使毒氣皆出。一醉膏</u>（凡初覺發背癰疽等，即多服用大黃、甘草等藥，極疏轉以行道毒氣，次用此藥。）</p>
<p>大甘草（半兩，為粗末）　沒藥（一分，研）　瓜蔞（一個大者，去皮）</p>
<p>上三物用無灰酒三升煮至一升，放溫，頓服之。如一服不盡，分三兩服，連服盡。</p>
<p><u>次用收暈白玉膏</u>（切忌用冷藥外貼，必逼毒氣入內殺人。）</p>
<p>杏仁（二十一粒，去皮尖，研）　川椒（四十九粒，去目為末）　清芝麻油（一兩）　酒臘（半兩白者）</p>
<p>上同熬至紫黑，新綿濾過，用無灰薄紙看瘡大小剪作梳樣，攤藥在上，於瘡暈盡處向兩邊圍繞貼之，候暈漸收近里，即別煎差小者再攤藥圍貼暈，又收，即又再移近里貼，仍頻換，候暈已收見瘡根腳或瘡口，即用此方。（專貼大惡瘡，毒氣方盛，不可以藥當上貼，恐趕散毒氣、瘡益大。此藥能收暈見瘡，其法大妙。）</p>
<p><u>暈收見瘡，次用檳榔散</u></p>
<p>雞心檳榔（半兩）　川黃連（去須，半兩）　川山甲（大者十片，燒灰存性）</p>
<p>上同為細末，先用好臘茶清掃過瘡，厚傅瘡上，日三五次，以膿出為知。（如見瘡口後，用此藥數次了，可更用乳香膏。）</p>
<p><u>膿已出用生肌散</u></p>
<p>黃狗腦蓋骨（二兩，燒灰存性。此極難得，須預收）　膩粉（一錢）　桑白皮末（一兩）</p>
<p>上同為細末，用生油調塗瘡上。</p>
<p>以上四方是一宗。元立自云，少年時初得此方，救十餘人後，忽自病背瘡，自信其藥，乃以此四藥自治，得愈。袒背示予，瘢痕猶盈尺也。予在汝州時，梁縣吏人侯昱孝母病背瘡，予用此治之愈。</p>

<h3>泰山石刻一宗七道</h3>
<p><u>專治發背方，神妙不可具言</u></p>
<p>上初覺或做瘡，用牛皮膠熬令稀稠得所，如藥花，攤在毛頭紙上，於初覺處或有做瘡處貼；次用軟布帕子二條，於釅米醋內煮令熱，漉出，互相於膠紙上乘熱蒸熨，不可令布帕冷，（布帕二條不可都齊漉出，常留一條在醋內煮，候蒸熨得一條冷，卻於醋內取熱布蒸熨，冷布卻入醋內煮，庶幾常得熱布替換，熨蒸即易見效。）若瘡癢時，乃是藥攻其病，須忍癢不住蒸熨，直候膿出將盡，即濃煎貫眾湯，候溫，洗去膠紙，次日復看，瘡中尚有膿出，即是未效，卻再如前，將膠紙鋪於瘡上，用熱醋布依舊蒸熨，追令膿盡，然後卻用貫眾煎湯，如前洗去膠紙，次日後依前更看，若尚有膿，又如前法蒸熨，雖連數日蒸熨不妨，但要瘡中膿盡，瘡成干掩為度，然後用生肌紅玉散摻在瘡上，即以萬金膏貼，（每日一上或兩上。）</p>
<p><u>專治諸般惡瘡萬金膏</u></p>
<p>黃連　黃柏　黃芩　白及　白蘞　龍骨　當歸　厚朴　川芎　沒藥　槐枝　柳枝　鱉甲　苦參　香白芷　木鱉子　草烏頭　豬牙皂角　烏賊魚骨（已上各一分）　乳香（一錢）　黃丹（一兩半）　清麻油（四兩，冬月用半斤）</p>
<p>上件藥除下黃丹，將諸藥油內慢火煎得油色紫赤，濾去藥材不用，入黃丹在油內，（先用黃丹一半在油內，）不住手攪，煎得色似黑，更入一半黃丹，不住手攪，只是用慢火熬得紫色，滴在水上不散，捻不黏手，然後更入黃丹少許，再熬，如捻著硬時，卻更入油少許，但不黏手，是成也。如常膏藥攤在紙花上，看瘡大小敷貼。</p>
<p><u>治熱毒腫硬難消者瘡腫白鶴散</u></p>
<p>寒水石（軟者二兩。燒不爆散者乃是寒水石，燒爆裂、散者即是石膏，不可用）</p>
<p>上用炭火燒寒水石通赤，細研，冷水調少許在瘡高處，後用萬金膏貼，每日一上，用此藥後便軟作瘡頭兒，更用七聖散掃膏藥周迴腫處，藥干即更掃。</p>
<p><u>回瘡化惡肉止痛生肌麝香散</u></p>
<p>寒水石（三兩，用炭火燒通赤，入膩粉半錢、麝香一字同研）</p>
<p>上如瘡口內有紫惡肉時，更乾摻少許在惡肉處，後用萬金膏貼，每日一上（如瘡內膿多，每日兩上。）　</p>
<p><u>治疳瘡發背麝香圓</u></p>
<p>麝香（半錢）　輕粉（半錢）　定粉（半錢）　粉霜（一字半）　巴豆（三個大好者，去皮，研）　白丁香（四十二個，揀直者）</p>
<p>上先研粉霜、麝香，且裹起，令研巴豆細，卻合諸藥更同研，極細為度。如疳瘡深有眼子，用水和作挺子，任在瘡口內，後用萬金膏貼，每日一上，如膿多兩上，如患惡瘡發背、魚眼丁瘡，有紫惡肉，只做散子干散在惡肉上，後用萬金膏貼，每日一上或再上，且少摻藥，如不痛，更加此藥。</p>
<p><u>生肌止痛合瘡口生好肉時用此紅玉散</u></p>
<p>寒水石（二兩，炭火燒通赤，候冷即細研）　黃丹（半兩）</p>
<p>上二味同研細，乾摻在瘡內，後用萬金膏貼，每日一上或兩上。</p>
<p><u>消熱毒赤腫疼痛不可忍七聖散</u></p>
<p>黃芩（一兩，去黑皮並心）　大黃（一分）　白滑石（四兩）</p>
<p>上為末，用冷水調，掃腫赤疼處，如干即更掃。</p>
<p>上瘡藥方一宗，士大夫家多有之，括蒼何氏始編刻於經驗方。或云，此方舊有以刻之太山石壁者。</p>

<h3>周子明提點傳一宗八道</h3>
<p><u>治五發：發腦髮鬢發眉發頤發背癰疽瘭痼癌一宗藥保不死方</u></p>
<p><u>才覺寒熱瘡己現，發渴即是其證，先用車螯散</u></p>
<p>紫背大車螯（一名車娥也，每個用草先札定，上用鹽泥固濟日乾，簇火煅之，候通紅半時辰許，離火候冷，手取敲去泥，以器皿合，在淨地上出火毒半日許，令碾羅為細末，沙合收）　甘草（炙，碾為末）　輕粉</p>
<p>上每服抄車螯二錢末，甘草末一錢，輕粉末半錢，溫麥門冬，熱水調下，五更初服，至日出時候大便不痛，下青綠苔或如黑煤，惡物下也。</p>
<p><u>次用</u></p>
<p>一生黃土細研末半錢許，入蒜三瓣，細爛搗，捉薄作三餅子，不拘大小，坐於瘡頭上，用伏道熟艾灸之百壯，少歇，與飲食吃，再灸之三五十壯也（每艾炷五十枚，換餅子一個。）</p>
<p><u>次用六一湯托藥</u></p>
<p>真綿黃耆（箭竿者是也，木耆不堪，誤人，秤六兩以刀擗開揭薄，用白沙蜜不酸者一兩，微入水少許調解，則易塗蘸，候搓勻，灸之紫色，候冷銼碎，不碾羅）　橫紋甘草（炙，一兩，細銼）</p>
<p>上拌勻，每服炒五錢，水一盞，煎至七分服之，日三服，夜二服。</p>
<p><u>次服瓜蔞湯</u></p>
<p>瓜蔞（一個，去皮，將穰與子銼碎）　沒藥（一分，研）　甘草（半兩，生銼）</p>
<p>上三味，用無灰酒三升煎至一升，分三服溫餌。</p>
<p><u>次用治癰疽等腫壞消毒去惡肉豬蹄湯</u></p>
<p>香白芷　甘草　獨活　露蜂房　黃芩　赤芍藥　當歸</p>
<p>上先將獖豬前蹄兩隻用白水煮軟，將汁分兩次澄清，去上面油花下面滓肉，每用藥半兩投入汁中，再煎五七沸，濾去滓，以故帛蘸藥湯中，薄揩瘡上，死肉惡血隨洗而下，以干故帛拭乾，輕竅減痛，仍避風，忌人口氣吹之，有胡臭人不得入宅，貓犬亦忌，月候人不令入房。</p>
<p><u>次用洗藥</u></p>
<p>散風邪，生好肉。</p>
<p>芎藭（銼）　白蒺藜子（搗，去尖）　防風（銼）</p>
<p>上等分，為細末，每用抄一匙，頭煎令沸氣上對瘡，候通手，以帕子揩洗之。（前藥一次換，後藥兩次易，二藥相間洗。）</p>
<p><u>凡瘡破有頭，便用洗藥洗訖，便用薄貼傅之薄貼，謂膏藥也。太上無比靈應神異膏</u></p>
<p>露蜂房（一兩，銼碎）　地蛻皮（半兩，細剪）　玄參（半兩，細銼）　真綿黃耆（三分，細銼）　真杏仁（一兩，去皮尖，略搗破）　黃丹（五兩，虢州者佳）　童兒童女（亂髮淨洗，日子，如雞子大）</p>
<p>上先用真麻油不用菜子油一斤入鐺，便下發慢火熬，候發消盡，次入杏仁，濾去滓，再入鐺，入余藥熬，候焦黃再濾去滓，次入黃丹，候變色，以新柳木篦子攪五千攪，滴入水中，看軟硬得所，然後傾淨瓷罐子，如尚未硬，更攪三百攪也，攤用如常。（日換兩次，夜換一次。）</p>
<p><u>疽發人貼雲母膏痛如刀割，不可不審，不可不知也。亦不得用生肌藥，只貼膏藥自然斂合。如醫治後時為庸醫藥罨，或刀割傷風重者，兼以五香連翹湯</u></p>
<p>木香　麝香　乳香　沉香　藿香　連翹</p>
<p>上等分，為細末，每服二錢，水一盞，煎至七分，放溫，服無時，瘡四邊以金箔先用，津液次點之也。</p>
<p><u>乳香膏</u></p>
<p>治諸惡瘡丹腫，能收瘡根聚膿止痛。</p>
<p>沒藥（一分，細研）　通明乳香（一分，水外浸，乳缽細研）　真麝香（半錢，別研）　膩粉（一分）　黃蠟（二錢）　蓖麻子（一兩）</p>
<p>上六件同研極勻，為膏，用無灰薄紙攤藥貼上，留眼子出膿，日三四次換。（本在元立一宗方後。）</p>
<p><u>化毒排膿內補十味散</u></p>
<p>治一切癰疽瘡，癤未成者速散，已成者速潰，敗膿自出，不犯刀仗，服藥後疼痛頓減，此其常試之效也。如奶癰腸癰及其它腫毒，皆嘗治愈。此方歙縣丞胡權得之於異人，徽州有石刻及洪景《盧夷堅志》所載甚詳，茲不復錄。</p>
<p>人參（去蘆）　當歸（酒浸）　芎藭　防風　厚朴（制）　桔梗　白芷　桂（去粗皮，不見火）　甘草（炒）　黃耆（蜜浸。一方加黃瓜蔞一兩，去皮秤）</p>
<p>上十味選藥貴精，皆取淨，曬焙極燥方秤，人參、當歸、黃耆各二兩，余各一兩，為細末，每服自三錢加至六錢，熱酒調下，日夜連進數服，以多為妙，至瘡口合更服為佳，所以補前損絕後患也。不能飲者，間以木香湯調服，但不若酒力之勝耳。</p>
<p><u>治發背，已發未結成，已結成未潰</u></p>
<p>用牛皮膠二兩、酒二升、生甘草一寸同煮，候牛皮膠溶化，放溫，令病者徐徐飲盡，如未結成即消，已結成則易潰也，已潰則易差，如未效，再用必效。</p>
<p><u>治發背癰疽一切毒瘡</u></p>
<p>臘月干桑葉。</p>
<p>上不拘多少，碾為細末，以新汲水調塗瘡上，如瘡有膿血，即乾摻用之，如瘡在腳膝間，傅藥了，用帛子裹之，神效不可具言。</p>
<p><u>撮軟癤</u></p>
<p>覆盆子葉（微炒，油調，紙花貼）</p>
<p>又方，五倍子（炒，油調，如上用。）</p>

<h2>治瘡疥丹毒一切雜瘡</h2>
<p><u>魏伯虎瘡藥方</u></p>
<p>《內經》云：諸痛癢瘡皆屬於心。心受風熱則血脈凝滯而成瘡，風多熱少即癢，熱多風少即痛，風熱相半即癢痛，皆因大病後風熱毒不曾宣利，畜於血脈，遍身生惡瘡，兩腳尤甚，或攻刺疼痛，或晚間增寒，欲作膿水，每蓋即熱痛，不蓋即疼痛，宜服此藥。</p>
<p>烏蛇（一條大而細尾梢長者，去頭尾三寸長，截作數劑，用極好酒浸三宿，去刺骨皮，取好淨肉，慢火焙乾）　玄參（去蘆頭）　苦參（去木，取皮）　地骨皮（去木，淨洗）　白蒺藜（炒以新磚二口，磨去刺）　甘草（細切，炒今黃色）　防風（去蘆，淨洗）　白殭蠶（炒斷絲）　乾蠍（以米炒，令米微黃為度）　川芎（淨洗。已上各半兩）　草烏（半斤肉，白者以黑豆一升水煮，令草烏都黑，惟心中一點白為度，薄切焙，一兩）　黑牽牛（半生半炒，以二兩取一兩末）　枳殼（去穰，薄切，麩炒一兩）</p>
<p>上件一十三味為細末，煉蜜搜成劑，入石臼中搗百十下，圓如梧桐子大，每服二十至三十圓，溫酒吞下，不拘時候，日進三服，以利則減，不利則加服。</p>
<p><u>又方</u></p>
<p>柿樹皮（燒煙欲盡，以碗蓋滅火，研一兩）　荷葉（如前法燒灰，取一兩）　草烏（去皮尖，半兩）　硫黃（半兩）　黃連（半兩，去須）　黃檗（半兩，去粗皮）　胡椒（半兩）　白蕪荑（半兩，研）　細辛（半兩）　苦參（半兩）　白礬（生研，三錢）　雄黃（細研，半兩）　輕粉（一錢）</p>
<p>上件一十三味搗為細末，和令勻，濕瘡乾摻，干瘡用烏臼油或酥或油臘調塗，夜間以手掌多擦藥，有癢處即以手掌拂之。</p>
<p><u>治熱毒風瘡四聖圓</u>（興國候醫恭傳四方）</p>
<p>何首烏（一兩）　蔓荊子（一兩）　苦參（一兩）　荊芥穗（一兩）</p>
<p>上件四味生為細末，用酒糊為圓如梧桐子大，每服二十圓至三十圓，溫酒送下。</p>
<p><u>貼瘡烏金散</u></p>
<p>用鯽魚一個可重六兩者，去腸，用柏葉研細入在魚腹內，用紙裹數重，次用黃泥固濟，煅令存性，候冷，碾成細末，入輕粉一分同勻。如瘡干，用麻油調；瘡濕乾用。</p>
<p><u>又方</u></p>
<p>撫芎不拘多少，煅過，入輕粉，用麻油調塗，如瘡濕乾摻。</p>
<p><u>洗瘡</u></p>
<p>苦參　荊芥　防風　露蜂房　木鱉子　白殭蠶　五倍子　地骨皮　桑白皮</p>
<p>上件各等分，煎洗瘡處。</p>
<p><u>治肷瘡累年不效</u></p>
<p>鯽魚一枚，用麻油煎魚焦為度，去魚只留油調藥；穿山甲不拘多少，鹽泥固濟，候乾，火煅存性，為末，入輕粉、麝香少許，研勻。先以鹽湯洗瘡，卻用前件油調藥塗之。</p>
<p><u>治濕瘡</u></p>
<p>芸臺葉或用子搗汁塗。</p>
<p>又方，用臘茶調麻油塗。</p>
<p><u>治一切惡癬並瘡</u></p>
<p>用茄子花為末，乾用油調塗，濕乾摻之。</p>
<p><u>癮疹入腹亦殺人</u></p>
<p>蠶沙二盞，水二盞，煮一碗洗。又，鹽湯洗了，以蓼子挼傅之。又，枳殼銼，煎湯洗。又，牛膝末酒調二三錢服。又，蕪菁子末酒調服。</p>
<p><u>治一切丹毒</u></p>
<p>川芒硝細研為末，以水調塗。生地黃搗汁塗。五葉草爛搗傅，或為末、以水調塗。浮萍草爛搗傅。芭蕉根搗自然汁塗。灶中黃土以水調塗。川大黃搗羅為末，以水調塗。皆可擇而用之。</p>
<p><u>治夏月抓破皮膚成瘡</u></p>
<p>胡桃一個，燒灰，入蛤粉、白礬少許。</p>
<p>上研細，油調塗。</p>
<p><u>治癬妙方</u></p>
<p>川烏　香白芷　蟬蛻（已上各半兩）　全蠍（一分）</p>
<p>上四味為細末，用羊蹄根自然汁煉蜜為圓如梧桐子大，每服二十圓。先安排熟酒一盞，去浴堂內解卸衣服了，以羊蹄根一枝取自然汁滴在盞內，嚥下藥，便用熱湯澡洗，卻用羊蹄根代皂角擦之，出浴令汗乾，便不見癬。</p>
<p><u>治疥癆</u>（但季良傳）</p>
<p>豬膏煉油，石灰細羅，二味以意度多少，一處銚內炒，以干為度，先鋪紙在地，卻傾所煉豬膏、石灰於其上，用盆蓋之，出火毒一夜，碾為末細擦。</p>
<p><u>治小兒浸淫瘡</u>（周元亨傳）</p>
<p>韶粉　蛤粉（等分）　輕粉（少許）</p>
<p>上研勻，以臘月豬脂調塗。</p>
<p><u>治夏月痱子</u></p>
<p>棗葉乾為末，和葛粉裛之，亦治熱瘤。</p>
<p>又方，兼治汗漬腋下赤腫。</p>
<p>霜和蛤粉傅之，立差。冬月瓦木上，以雞羽掃取，收瓷瓶中，或只用雪水亦佳。又一方，加滑石、綠豆粉，同和勻，無雪水則用新汲水調塗，或曬乾撲之。</p>
<p><u>治瘰癧已破者</u></p>
<p>羯羊糞焙乾為末，用油調塗，如瘡濕，止乾摻。</p>

<h2>治傷折、金傷、破傷風</h2>
<p><u>治打撲傷損接骨如神方</u>（桂漢士傳）</p>
<p>川烏　草烏　白姜　半夏　南星　桂（去粗皮）</p>
<p>上件等分為末，取生薑自然汁並釅醋各半，調上件藥稀稠得所，就綿上攤勻裹痛處，如干再將醋並薑汁潤，如藥落再換，或傷折甚者，用藥了，以杉木片子夾定。此藥用後止疼，然後服藥。</p>
<p>服藥：</p>
<p>當歸（去蘆，焙乾秤）　乳香（細研）</p>
<p>上等分為末，每服二三錢，酒調下。</p>
<p><u>應痛散</u></p>
<p>治身體偏痛兼無力，宣通經絡，使血氣和暢。</p>
<p>延胡索（炒）　當歸（去蘆）　桂心（去皮，取肉。各等分）</p>
<p>上揀好藥材為細末，以酒調下，不拘時候，每服三錢或四五錢，量病重如何用藥多少，頻進飲酒，亦隨人量，以知為度，尋常閃著筋力挫氣疼痛，一服即效。</p>
<p><u>治刀斧所傷打撲傷損，大能止血生肌定痛</u></p>
<p>用好降真香，不拘多少，碾為細末，臨用時量大小貼瘡口，乾摻便乾，不疼如神，亦不作膿水。兼治發背惡瘡等疾，洗去膿水乾貼。（降真須用結實色深者。）</p>
<p><u>打撲傷損</u>（姜帥傳）</p>
<p>牡蠣火煅數次，為細末，濃煎，蘇木酒調下四五錢。如傷損上體，則食後服；傷損下體，則食前服。（李武仲云：只以降真，用無灰酒濃煎服，極妙應，被傷折皆宜用之。）</p>
<p><u>治破傷風</u></p>
<p>黃明膠燒存性，調二錢，以好酒調之。</p>
<p><u>治破傷風身體浮腫，甚者口噤舌強狀如中風獨聖散</u></p>
<p>用魚鰾燒過存性，不拘多少，細研，每服二錢，濃煎，蘇木酒調下，兩服立效。魚鰾乃木匠用作膠者，倉促無蘇木，只以溫酒調亦可，入少麝香尤妙。</p>
<p><u>治刀斧湯火所傷、蛇蠍犬鼠所咬、疥癬等瘡備急百靈膏</u></p>
<p>上於五月五日絕早出門，望東去採百草，不拘多少，惟不得回顧採取，滿意方回，入杵臼內爛搗如泥，量藥多少，以意入石灰，和勻，取出拍成膏，日中曝乾，遇要用時，旋取拈碎如法用。刀斧傷干傅，取血止為度；湯火傷，冷水調開塗傅；蛇蠍太鼠咬傷，先以溫水洗，以津液調傅；疥瘡先爪損，以藥末干傅；乾溼癬，以醋調傅之。其效如神。</p>
<p><u>破傷風瘡口作白痂，無血者殺人最急。治之方</u></p>
<p>雄雀糞直者是，研細，熱酒調半錢服。</p>
<p><u>破傷風牙關緊噤</u></p>
<p>草烏頭去皮，防風為末，雄黃別研等分，每服一字，熱酒調灌之。亦治洗頭風噤了牙關者。如破傷風，身體強硬，更用天南星二兩，防風一兩為末，先以熱小便洗瘡，貼之，有紫汗出效。</p>
<p><u>縫金創腸出者</u></p>
<p>桑白皮作線縫之，更以熱雞血塗上。唐安金藏。剖腹用此法便愈。</p>

<h2>小腸氣、淋疾、痔漏、便血、秘澀等疾</h2>
<p><u>治小腸氣灸法</u></p>
<p>俯臥，用艾炷如黑豆大灸足第二指第二節三壯，偏墜左即灸右足，右即灸左足，其效如神。（但季良傳。）</p>
<p><u>專治五淋</u></p>
<p>皆腎虛所致，雖病久，服之必愈。</p>
<p>琥珀（一分，生，細研）　澤瀉（一分，生）　石燕子（半兩，生，研極細）　海金沙（半兩）　葵菜子（一分）</p>
<p>上為細末，每服三錢，用新取桑白皮濃煎湯調下，食前空心，日進三服。如淋退，可便服八味圓補之。忌炙煿房事熱酒酸物等，應下膏血砂石肉淋。脹悶者服之如神。每疾作，飲食不下嘔吐者服之尤妙。（王稚川傳。）</p>
<p><u>治砂石淋極疼痛者</u></p>
<p>海浮石為末，每服一錢，熱酒服下。</p>
<p><u>治內痔枳殼圓</u></p>
<p>用好厚枳殼，不拘多少，去穰細切，麩炒黃色，為末，每末一兩入胡桃肉一個，研勻，以蜜圓如彈子大，空心細嚼一圓，米飲或溫酒下，兼用井花水淋洗。</p>
<p><u>白金散治久新痔痛如神</u>　黃鼎臣傳</p>
<p>海螵蛸（去粗皮，不拘多少）</p>
<p>上為細末，每用二三錢，生麻油調成膏，以鵝翎拂上。</p>
<p><u>痔藥方如神</u>　朱周卿傳</p>
<p>連翹　枳殼（麩炒）</p>
<p>上等分，為粗末，煎熱熏溫洗。</p>
<p><u>治下血</u></p>
<p>用柏葉不拘多少，焙乾為末，米飲調下。</p>
<p><u>枳殼飲</u></p>
<p>治老人大便風秘不通，塞澀妨悶，或用蜜導之類不能通者，並治之。</p>
<p>枳殼水浸，去穰，麩炒為粗末，每服一大錢，入阿膠二片，生薑五斤，蔥白五莖，水一大盞，煎至六分，去滓，入蜜少許，空心溫服。次用蔥白十莖，爛研塗臍心中，卻以手巾蘸蔥湯，自內腎腰間浴熨至小腹下，少頃氣透即通。</p>
<p><u>犀灰散</u></p>
<p>治五種腸風瀉血下痢。糞前有血號外痔，糞後有血號內痔，大腸不收號脫肛，穀道四面有弩肉如奶號鼠奶，頭上有孔號漏。此藥並皆治之。</p>
<p>黃牛角䚡（一個，銼）　蛇蛻（一條全者）　豬牙皂角（五鋌）　穿山甲（一處七十鱗，銼）</p>
<p>上四味同入瓷瓶內，黃泥封固，候乾，先以小火燒，令煙出，方用大火煅，令通赤為度，候冷取出，研為細末，每服二錢，用胡桃肉一個，取四分中一分，爛研，同藥用溫酒調服，臨臥服，來日辰時再服，取出惡物，永除根本。</p>
<p><u>三茱圓</u></p>
<p>治小腸氣痛。</p>
<p>山石吳茱萸（各一兩）　金鈴子取肉並皮（一兩）　青皮（去穰）　舶上茴香　馬蘭（三味各一兩）</p>
<p>上七味，逐味於銀銚內炒令香，為末，酒糊圓如梧桐子大，每疾作，鹽酒下三五十圓，久年不差，五七服可除根本。</p>
<p><u>治多酒腸風瀉血及熱瀉血至多，鮮血箭出如紅線者</u></p>
<p>好實黃連三兩，淨洗日乾，分為三分，一分銼作半寸截，入陳米一兩，微炒紫黃色；一分亦銼作截，以手炒熱為度；一分生。同焙為細末，研，粟米粥和，杵數百杵，圓梧桐子大，每服五十圓，空心溫陳米飲吞下，一服立效。如急速不及制，只用生黃連為末，依法用之，二服抵一服功。此方治血痢水瀉，百發百中。</p>
<p><u>走馬寸金丸</u></p>
<p>治男子下元虛冷，真陽怯弱，肝腎客寒，小腸氣痛牽引脅肋，繞臍㽲痛不可忍者。手足厥冷，多出冷汗，不能屈伸，面色青黃，時發時止，立有神效。（鄧尉傳云：湯樞得之王知省。）</p>
<p>玄胡索　川當歸（銼）　舶上茴香　川楝子（各一兩）　干全蠍（三個以上，並炒令紫色）　南木香（半兩，不炒）</p>
<p>上件並碾為細末，米醋糊圓桐子大，每服二三十圓，空心鹽酒下，久患服一月可去根。</p>
<p><u>治五淋</u>　李武仲傳云：得之王維先醫師。</p>
<p>真定器（火煅，存性，研為細末，一兩）　生熟地黃末（各一兩）</p>
<p>上每抄定器末一錢，地黃末各半錢，煎木通湯調下，不拘時候，神效。</p>

<h2>治雜病</h2>
<p><u>療寸白蟲，不拘遠年，神效聖功散</u></p>
<p>南木香　檳榔（等分）</p>
<p>上為細末，濃米飲調三錢許，黎明空心先熟嚼炙豬肉之屬，只咽汁，吐去滓，便服藥，辰巳間蟲下，其疾永除。此方簡易如是而取效神速，諸名醫未知有此。用之屢驗。</p>
<p><u>治十種水氣紫金膏</u>（趙判官師沔傳）</p>
<p>蛇含石（二兩，用炭一秤，蛇含石用新鐵銚盛，卻入炭中煅通紅，用米醋二升，傾蛇含石入醋內）　針砂（五兩，用水淘淨，焙乾，用米醋二升同餘糧於砂鍋內煮乾為度，卻再入鐵銚內，於炭中煅通紅，取出令冷，吹去灰，細研全無砂聲）　禹餘糧（三兩）　赤石脂（一兩，細研，旋入）　木香（一兩，切作片子，懷干）　肉豆蔻（一兩，濕紙裹炮香熟）　川白姜（一兩，炮）　川芎（一兩）　白茯苓（一兩）　羌活（一兩，去蘆頭）　當歸（一兩，去蘆頭，切片子，酒浸一宿）　杜茴香（一兩，炒香）　白蒺藜（一兩）　川附子（一隻重七錢者，去皮尖）　三稜（一兩，炮）　青皮（一兩，去穰）　陳皮（一兩，去穰）　牛膝（一兩，切，酒浸一宿）　官桂（一兩，懷干）　蓬朮（一兩，炮）</p>
<p>上件炮干為末，用無鹽蒸餅湯泡為糊，和圓如梧桐子大，每服三十圓至五十圓，溫酒吞下，空心食前。如不能飲酒，白湯亦得。忌鹽三月，房室一年。患人若介甲，眼黑，臍凸，肚皮光、有青筋起，或灸，並不可下藥。</p>
<p>患人所食之物：</p>
<p>精豬肉　肚尖　肚子　白魚　銀魚　鱸魚　白菘菜（只用蔥、椒、醋食，切不宜用鹽，除此外別食並不可食）</p>
<p><u>治嵌甲</u></p>
<p>以乳香摻之，大妙。（血蠍尤佳。）</p>
<p><u>又欲去甲者</u></p>
<p>用綿逐旋攖入甲內，漸漸添之，靸起，次用剪子去之。</p>
<p><u>治肌衄乃腿上血出</u></p>
<p>用胎髮燒作灰，填之即止。</p>
<p><u>治腋氣</u></p>
<p>生薑不拘多少，濕紙裹煨過爛，研如泥，擦腋下，立效。</p>
<p><u>又方</u></p>
<p>白礬（火煅，取干為度，研一錢）　輕粉（半錢）</p>
<p>上二味和令勻，時干揩腋下，神效。</p>
<p><u>陰瘡</u></p>
<p>臘茶　五倍子（等分）　膩粉（少許）</p>
<p>上傅之。</p>
<p><u>治腳爛丫</u></p>
<p>竹蛀屑　氈燒灰　紅棗（燒，存性）　韶粉　黃丹　白礬（飛）</p>
<p>上等分，為末，摻之。</p>
<p>又方，以退鵝掌皮曬乾，燒存性，為末摻之。</p>
<p><u>治人挫喉氣不來</u></p>
<p>急以冷水灌之，立效。</p>
<p><u>治刀傷及竹木刺血出</u></p>
<p>急以自己小便淋洗三兩次，立止，不妨入水。</p>
<p><u>醉香寶屑</u></p>
<p>能寬中化痰，治嘔吐噁心，解酲，醉後雅宜隨意服之。</p>
<p>陳皮（四兩）　縮砂（四兩）　紅豆（一兩六錢）　甘草（二兩四錢）　生薑（一斤。以上並㕮咀）　鹽（一兩）　丁香（一錢，銼）　白豆蔻仁（一兩，碎）　巴豆（八粒，不去皮殼，用鐵線串定）</p>
<p>九味同用水煮，焙乾，去巴豆不用。</p>
<p><u>遇春仙方</u></p>
<p>丁香沉檀麝一錢，更兼香附半錢先，飲時少許投一內，席上春風正遇仙。</p>
<p><u>人適宅方</u></p>
<p>不伏水土，故鞋底下土，刮取末，和水服之。</p>
<p><u>專治吐酒</u>　鄧尉謙之傳二方</p>
<p>桑樹上木耳，以新瓦焙乾，為末，糯米飲調服之。</p>
<p><u>治惡指</u></p>
<p>爛嚼黑豆，傅之。</p>
<p><u>止夜起方</u></p>
<p>益智二十個，和皮銼碎，用水一碗煎至六分，臨臥熱服。</p>
<p>又方，胡桃慢火炮熟，溫酒同嚼，臨臥下。</p>

<h2>治婦人眾疾</h2>
<p><u>治婦人經寒月閉，湛濁無時，血滯四肢，或時結痛，子宮久冷，諸虛不足，並宜服此。益血溫補，調經養氣，思進飲食，大效琥珀散</u>　王稚川傳</p>
<p>琥珀（半兩，不見火）　南木香（半兩，紙裹煨熟）　血蠍（半兩，不見火）　延胡索（半兩）　川當歸（一兩）　川芎（半兩，不見火）　肉桂（半兩，不見火）　赤芍藥（半兩）　荊芥穗（半兩）　枳殼（一兩，溫湯浸，去穰，麥麩炒黃色）　生地黃（二兩，用生薑一兩切，同炒黃干）</p>
<p>上為細末，每二錢，用溫麝香紅花酒調下，空心，日午各服。</p>
<p><u>治婦人偏頭痛</u></p>
<p>香附子炒去毛，末之，每服二三錢，建茶調下。</p>
<p><u>露華湯</u></p>
<p>治婦人赤白帶下，神妙。</p>
<p>干蓮房（隔年者良）</p>
<p>上為細末，每服二錢，以麝香米飲下，空心食前，日三服，不數日見效，去麝即不效，切勿減去。</p>
<p><u>治孕婦風秘大便不通</u></p>
<p>川當歸（酒浸）　枳殼（去穰，炒）　甘草（炙。以上各一兩）　川芎（半兩）</p>
<p>上件為末，每服二錢，水一大盞，煎至七分，去滓，空心午食前服，忌動風物，如未通，加少防風，通即不用。</p>
<p><u>治產難等方</u>（慶育集所論及集驗方所載甚詳，可參用之。）</p>
<p>一、滑胎。榆白皮為末，每服一錢，空心白湯調下，自入月每日三服，令易產，兒生下藥皆塗身上。</p>
<p>一、催生並死胎不下。蓖麻子三個，巴豆四個研細，入麝香少許，貼臍心上，須臾間便下。</p>
<p>一、難產方。黃蜀葵子二十一粒，細研熱酒調下；或只以蜀葵花為末，每服二錢，熱湯放溫調下，並進三服亦佳。</p>
<p>一、難產，三兩日不生。以蠶種紙半張燒灰，熟水調下。（系已出蠶種紙，亦名馬明月。）</p>
<p>一、治橫生逆生。灸產婦上腳右指尖頭如麥粒大三壯，立產。</p>
<p>又方，蛇蛻皮燒灰，酒調二錢，面東服。</p>
<p>又方，鹽塗兒足底，急去之。</p>
<p>又，車前子末酒調服二錢。</p>
<p>一、妊娠煩悶，胎熱，臥睡不得並腹中痛及難產，知母新白者焙乾為末，煉蜜圓如小彈子大，每服一圓，溫酒調下。</p>
<p>一、妊娠偶因所觸或墜高傷打，致胎動不安，腹中痛不可忍者，縮砂不以多少，和皮炒，令熱透，去皮為細末，每服二錢，熱酒調下，胎即安，神效。</p>
<p>一、胎動，日夜叫呼，口噤唇青及下痢不止者。熟艾一兩，酒五盞，煮四盞去滓，再煎至二盞服，口閉者灌之。亦治腰痛下血。</p>
<p>一、胎動及下血、心腹脹者。當歸二兩，川芎一兩，為粗末，水四盞，酒五盞，煎至五盞，分三服，若胎未死即安，已死即便下。</p>
<p>一、產後血暈。五靈脂炒，令煙盡，為細末，溫酒調下一錢，童子小便尤佳。</p>
<p>又方，乾荷葉為細末，每服一錢，溫酒調下。</p>
<p>又方，生半夏為末一大豆許，吹鼻中。</p>
<p>又方，紅花或蘇枋木酒水濃煎汁飲。</p>
<p>一、產後中風，眼上視，四肢搐搦。荊芥穗為末，每服二錢，溫酒調下。如不飲酒，只濃煎湯服。</p>
<p><u>治婦人產後發狂</u></p>
<p>每用，大香附子去須皮，淨，為細末，每用二錢，入研極細；真辰砂末一錢，以燒通紅秤，磓，浸。好酒調藥服之，神妙。</p>
<p><u>催生靈符</u></p>
<p>治一切產難橫逆。於端午日以露水或雨飛好硃砂，至誠書龍字，勿令筆畫連接，每臨產時即旋圓一字，以溫水吞下，隨男左女右持符出，是驗，然須直候腰作陣痛上草欲產時方服，不可太早。（甲子庚申日亦可書。）</p>
<p><u>治產婦渴疾神效</u>（杜仲文傳）</p>
<p>縮砂皮不拘多少，煎湯百沸，候通口飲之，不過一盞，渴疾自止。</p>
<p><u>芎藭湯</u></p>
<p>治婦人產後血迷，血暈及失血過多，虛懸瞀悶。</p>
<p>當歸（切洗，焙乾）　川芎（各等分）</p>
<p>上為粗末，或銼如麻豆尤佳，每服五錢，水二盞，慢火煎至一盞，去滓溫服。如熱悶，冷吃亦得。若婦人胎產危惡，用半兩作一劑，以水二盞，酒一盞，慢火煎至一盞半，溫服，一切不順自然安過。</p>
<p><u>治產後噁心</u></p>
<p>白朮（一分）　生薑（減半）</p>
<p>上並咬咀，水一盞，煎至七分，溫服，神效。</p>
<p><u>治婦人奶癰痛甚無比散</u></p>
<p>上用蛇蛻皮燒灰一錢，炒甘草末半錢，同和暖酒下。如破，用生油調塗。</p>

<h2>治小兒眾疾</h2>
<p><u>烏蛇圓</u></p>
<p>治小兒慢驚風。（徐成和需傳。）</p>
<p>烏蛇（一兩，酒浸一宿）　天漿子（三十個，去殼）　天麻（半兩）　乾蠍（一分）　天南星（半兩，炮）　白附子（半兩）　川附子（一兩，炮）　防風（半兩）　半夏（半兩，洗七次用）</p>
<p>以上並酒浸七日，焙乾為細末，入後藥。</p>
<p>牛黃　硃砂　麝香　雄黃（以上各一錢）</p>
<p>上並研膩，以糯粥圓如黃米大，每服十圓，不計時候，煎荊芥湯下，以風搐止為度。</p>
<p><u>治小兒因驚中風，角弓反張及慢脾風追風散</u>（南華椿老傳三方）</p>
<p>全蠍（一個）　母丁香（二個）　瓜蒂（七枚）　赤小豆（四十九粒）</p>
<p>上為細末，小大加減一字許，米飲調灌之，吐出風涎方可治，然後服後藥。</p>
<p><u>天麻圓</u></p>
<p>天麻（一錢）　白附子（一錢）　大附子（炮，去皮臍，一錢）　赤腳蜈蚣（一錢）　白花蛇項肉（一錢）　羌活（一錢）　麻黃（半兩，捶碎，水煎，去滓熬成膏）</p>
<p>上為末，以麻黃膏搜為圓如梧桐子大，每服一圓，薄荷湯酒磨化，嚥下立愈。</p>
<p><u>治小兒急慢驚風</u></p>
<p>天南星（一個）　全蠍（一個）</p>
<p>上為末，用父母津唾調膏，稀稠得所，塗囟上，看顖大小塗之，移時驚住，不須塗之；若未住，再塗之。</p>
<p><u>治慢驚風</u></p>
<p>附子（炮，去皮、尖、臍）</p>
<p>上用半個，切片，用生薑三片，丁香五粒，水一盞半，煎半盞灌之，令睡，醒來安樂，神妙。急切無丁香亦可。</p>
<p><u>人參膏</u></p>
<p>治小兒泄瀉，煩渴，嘔逆。（但季良傳。）</p>
<p>人參（一兩）　白朮（半兩）　丁香（半兩）　藿香（半兩）　白扁豆（一分）</p>
<p>上為細末，蜜圓如綠豆或麥粒大，量兒大小，以生薑湯下五七圓至十圓。</p>
<p><u>益中湯</u></p>
<p>治小兒嘔吐泄痢。</p>
<p>丁香（半兩）　草果子（三枚，去皮炒）　人參（半兩）　青皮（半兩）　訶黎勒（一分）　桂心（一分）</p>
<p>上為細末，每服半錢或一錢，米飲調下。</p>
<p><u>益胃湯</u></p>
<p>治小兒胃虛身熱，嘔吐不止。</p>
<p>丁香　人參　桂心　阿膠</p>
<p>上各等分，為細末，每服一錢，水六分盞，生薑三片，同煎至四分，溫服。</p>
<p><u>人參豆蔻散</u></p>
<p>治小兒霍亂煩渴。</p>
<p>藿香葉（一兩）　肉豆蔻（一兩）　甘草（一分）　白扁豆（半兩）　人參（半兩）</p>
<p>上為細末，每服一錢，水六分，入生薑二片，煎至四分，溫服。</p>
<p><u>治小兒驚瀉不定</u></p>
<p>蠍梢（七個）　胡椒（四十九粒）</p>
<p>上為細末，每服半錢，荊芥湯調下。</p>
<p><u>三和散</u></p>
<p>治小兒吐利，津液燥少。</p>
<p>茯苓（一錢）　烏梅肉（半錢）　木瓜（半錢）</p>
<p>上為細末，每服半錢，水半盞，煎至三分，溫服。</p>
<p><u>肥兒圓</u></p>
<p>治小兒五疳八痢，陰陽氣不順，虛痞腹脹，嘔逆，腹痛瀉痢。消化乳癖積聚，肥肌退，面黃瘦，殺蟲，安蛔蟲，進飲食。此藥應有小兒瘠疳病累服藥未效者，不問虛實便與數服，即安。（荊南候醫傳。）</p>
<p>檳榔（用面劑裹，煨熟，去面銼焙）　陳皮（洗，去白）　青皮（洗，去白）　胡黃連　宣連（去須，銼碎，微炒）　白蕪荑（炒，去扇）　史君子（煨，去皮）　肉豆蔻（如檳榔法煨）　人參（去蘆）　夜明砂（微炒）　赤芍藥　龍膽草（洗淨，銼炒）</p>
<p>上十二味各等分，為末，薄麵糊為圓如蘿蔔子大，每服三五十圓，用紫蘇木瓜湯調下，瀉痢米飲下，不計時候，日二三服。</p>
<p>姑熟李氏《小兒保生要方》三卷，其論議治療之法甚詳審，兼有錢氏所未及言者，予家常用之，無不取效，今摭其間論證及八方附見於此。</p>
<p><u>常用硃砂膏</u></p>
<p>安神，鎮驚心，去痰退熱。</p>
<p>人參　茯神　防風　山藥　甘草（炙）　黃耆（蜜炙）　麥門冬（去心。以上各半兩）　硃砂（六錢，研）　麝香（半字）</p>
<p>上為細末，研勻，煉蜜圓如櫻桃大，金箔為衣，每服半粒或一粒，薄荷湯化下，不拘時。</p>
<p><u>歡喜散</u></p>
<p>治小兒感外風，發熱頭痛，無汗惡風；或些小溫熱，鼻塞，清涕，淚出，嚏噴，並皆治之。</p>
<p>防風　人參　甘草（炙）　天麻　前胡（以上各二錢半）　細辛（一錢半）　柴胡（一錢半）　白茯苓（二錢）　桔梗（二錢）　枳殼（去白，麩炒，秤二錢半）　川芎（三錢）</p>
<p>上為細末，每服三錢，周歲以上炒一錢匕，水六分盞，薄荷兩葉同煎三兩沸，通口服，不拘時，更量力加減。</p>
<p><u>惺惺散</u></p>
<p>治小兒時行溫壯及傷風發熱應表證未解者，悉主之。亦見和劑方。</p>
<p>桔梗　細辛　人參　甘草（炙）　白茯苓　瓜蔞根　白朮（各等分）</p>
<p>上為細末，每服一錢匕，用水一小盞，入薄荷三葉同煎至四分，溫服，不拘時。</p>
<p><u>六神散</u></p>
<p>治小兒胃氣不和，表裡俱虛，臟腑冷瀉，不欲飲食；及治因身熱服藥既表解後再發熱者，蓋氣不歸元而陽浮於外故耳，此非熱證也，當用此藥加粳米煎和，其胃氣歸內，身體自涼。如治胃冷及冷瀉，即加附子；治風證，加天麻；治痢，加罌粟殼同煎服之。</p>
<p>人參　白茯苓　乾山藥　白朮　白扁豆　甘草（炙）</p>
<p>上六味等分，為細末，每服一大錢，水半盞，棗一個，生薑二片，同煎至三分，通口服。</p>
<p>小兒青糞者，冷也，亦是肝克脾之證也。肝屬木，其色青；脾屬土，其色黃。糞黃者，脾家之本色也。若脾受肝克，則其糞青。肝木主風，宜早治之；不爾，成脾風，發癇也。然所謂青糞，才下便青。若初下時黃，良久乃青，小兒安樂者，皆然不可認為青糞也。可服白附子圓、羌活膏。</p>
<p><u>白附子圓</u></p>
<p>治小兒青糞及吐而有冷證多者。</p>
<p>白附子（一分，為末）　蠍梢（一分，為末）　舶上硫黃（半兩，細研）　半夏（半兩，生為細末，用生薑自然汁和成劑，拍作小錢大餅子，沸湯內下，候煮熟，不麻人為度，取起研成膠）</p>
<p>上將前三味一處研勻，入在半夏膠內，和得所，干即添湯，圓如蘿蔔子大，每服三五十粒，米湯或乳汁下。</p>
<p><u>羌活膏</u></p>
<p>治小兒胃虛、吐瀉、生風。</p>
<p>羌活　天麻　防風（各半兩）　人參　茯苓　全蠍酒（炒）　桂（各一分）　硃砂（一錢，研）　水銀（一錢）　硫黃（一錢。以上二味同研如泥）</p>
<p>上先將八味為細末，入水銀、硫黃研勻，煉蜜為膏，每服一匙匙大，用荊芥薄荷湯化下，食前服，更量度加減。</p>
<p>小兒暑月多吐瀉，其證不一，宜詳審，用藥不可差謬。有伏暑吐瀉者，小水必不利，宜服五苓散、香薷散。有傷食吐瀉者，其吐及糞皆有酸臭氣，宜服感應圓。三方易知，今不復載。瀉多日，口唇白，及糞色亦白，及瀉糞頗多者，因而成冷也，宜以前方六神散每二錢匕加附子末一錢匕，煎作三四服，以防變癇也。若肚大，瀉色白者，疳瀉也，宜服官局六神圓。瀉者不可急以熱藥止之，若以熱藥止之，便變成痢。凡病痢者，皆因有積，赤痢，熱積也；白痢，冷積也；赤白痢，冷熱不調積也；赤多白少者，熱多而冷少也；白多赤少者，冷多熱少也。</p>
<p><u>治赤白痢御米飲子</u></p>
<p>罌粟殼（半兩）　人參（一分）　厚朴（一兩，去粗皮，銼，薑汁燒熟）　白茯苓（半兩）　乾薑（一分，炮）　烏梅（三個，連核用）　甘草（半兩，炙）</p>
<p>上為粗末，每用五錢匕，水一盞半，生薑三片，棗一個，同煎至一盞，去滓溫服，量兒大小分作數服。若赤多者，加黑豆三十粒同煎。</p>
<p><u>治小兒吐瀉初定當服醒脾散</u></p>
<p>天南星（沸湯浸洗七遍）</p>
<p>上一味為細末，一歲兒每服半錢匕，以河水七分盞，冬瓜子七粒，同煎至二分，溫服，不拘時候。</p>

<h2>治湯火蟲蛇所傷、骨鯁竹刺等</h2>
<p><u>治湯火傷</u>（段邦政傳）</p>
<p>用紫桑椹子搗爛，收之以塗傷處，如葉乾，入臘月水浸之。一方云，桑椹黑者盛瓶罐中自化，取汁塗之。</p>
<p>又方，芭蕉水雞翎掃之。</p>
<p>又，以柿膠雞翎掃之（乃柿油也。）</p>
<p>又，豆醬塗。</p>
<p>又，只以好酒浸洗傷處，良久痛止。</p>
<p>凡湯火傷，方出多門。如醋磨大黃等方，試輒不驗，此方有自頂至踵為熱油所中者，急以治之，隨手無纖悉所苦，其間有一點如星許偶塗傅不到，輒起紅泡糜爛，經月不差，以此知此方神效也。用熔金銀坩堝子，唯是出火次數多者為上，才被傷，即以冷水急於石上磨汁，重重塗傅，不見赤痕即止，次日任其自干脫剝，是驗。</p>
<p>凡被火傷，即向火炙，雖極痛，強忍一食頃即不痛，勿以冷物搨之，熱氣不出，爛人筋也。</p>
<p><u>治毒蛇咬人至死</u></p>
<p>只用香白芷一味為細末，濃煎麥門冬湯，調三錢溫服之，如氣未絕，無有不活者。若所傷不多，只以辣母藤挼傅之。</p>
<p>又方，以酒調雄黃末傅之。皆效。急切未有麥門冬，白湯亦可。</p>
<p><u>蛇、蠍、蜈蚣等傷</u></p>
<p>生鐵石上水磨汁塗。蛇傷，吳茱萸為末，酒調服一盞，油調半錢塗瘡上。</p>
<p>又，搗地榆汁飲並塗瘡。</p>
<p>又，搗小蒜汁飲，滓傅瘡。</p>
<p>又，死蜈蚣燒末，唾調塗瘡。</p>
<p><u>治蜈蚣咬</u></p>
<p>以蜒蚰一條塗咬處，痛立止。</p>
<p>又方，以雞血塗之，亦效。</p>
<p><u>治蜈蚣咬傷痛者</u></p>
<p>急爛研巴豆肉一粒，胭脂膏子少許，調勻塗之，立愈。</p>
<p><u>治小兒百蟲入耳</u></p>
<p>用桃葉塞耳，立愈。</p>
<p><u>治蜒蚰入耳</u></p>
<p>桃葉絞汁，滴入患人耳內，不一茶時愈。</p>
<p><u>治百蟲入耳</u></p>
<p>以雞冠血滴入耳內即出。</p>
<p>又方，以燈草蘸麻油入耳內釣出。</p>
<p><u>治蜈蚣蜒蚰入耳</u></p>
<p>並以米醋滴之，即出。</p>
<p><u>百蟲入耳</u></p>
<p>以好酒少許灌耳中，起行。</p>
<p>又，閉氣令人以筆管吹一耳。</p>
<p>又，車釭脂傅耳孔四邊，自出。</p>
<p><u>蜈蚣入耳</u></p>
<p>樹葉裹鹽炙熱，以掩其耳。</p>
<p>又，炙豬肉令香，掩耳即出。</p>
<p><u>蟻入耳</u></p>
<p>炙豬脂香物，安在耳孔邊，即出。</p>
<p><u>治諸獸傷</u></p>
<p>馬咬，用獨顆栗子燒灰貼。鼠咬，用麝香唾調塗。貓咬，用薄荷汁塗。狗咬傷、涎入瘡令人昏悶者，浸椒水調𦬣草末塗。豬咬，松脂溶作餅子貼；又，屋⿰巾盡中泥塗。</p>
<p><u>治驢涎馬汗入瘡</u></p>
<p>遠志去心為末，用酒調塗。</p>
<p>又，頭垢和壁土貼。</p>
<p>又，烏梅肉、白梅肉、黃丹等分為末，以唾調塗。</p>
<p>又，飲淡豆豉汁一碗。</p>
<p>又，干冬瓜燒灰，淨洗瘡口，擦藥在內。</p>
<p><u>治惡犬咬人</u></p>
<p>以地榆為末，傅咬處，立差。</p>
<p>又方，以乾薑末傅之，亦妙。</p>
<p><u>治曲蚓吹</u></p>
<p>用老茶研末，調塗之，立差。</p>
<p><u>治蜘蛛瘡</u></p>
<p>木韭根新者同雄黃研，塗之。</p>
<p><u>治蜂螯蟢咬</u></p>
<p>以芋頭上汁塗之，立差。薄荷塗之亦效。</p>
<p>又方，頭垢唾擦亦治蠍螯。</p>
<p>又，蒼耳挼汁塗之，亦效。</p>
<p><u>治驢馬汗入人肌肉</u></p>
<p>用驢子鬃燒灰，挑破所入汗處，見血，用燒者灰生麻油調塗之。</p>
<p><u>治竹木之類物鯁喉中</u></p>
<p>貫眾杵末，煎湯呷，立下。</p>
<p><u>治小兒誤吞錢</u></p>
<p>用炭燒通紅，急搗為末，米飲調下。亦治誤吞針釘等物，連進數服乃驗。</p>
<p>又方，濃煎艾湯一二盞。</p>
<p>又，餳頓服半斤。</p>
<p><u>治魚骨鯁</u></p>
<p>只取大慄殼燒為細末，熟水調下。</p>
<p><u>誤吞針釘叫子魚骨雜物</u></p>
<p>多食肥羊脂肉及諸肥肉，必自裹出。</p>
<p><u>治湯火燒</u></p>
<p>用柏葉爛搗傅之。</p>
<p><u>治大人小兒魚骨刺在喉中不下痛楚者</u></p>
<p>用舊魚網一小片燒成灰，研細，煎乳香湯調下，溫服，甚者並三兩服。</p>
<p>孫真人云：見一切毒螯之物，不得起噁心向之，亦不得殺，若輒殺之，後必遭螯，治亦難差。</p>
<p><u>治犬咬止痛不作腫</u></p>
<p>嚼杏仁塗，效。（一方，先以油洗傷處，卻以炒杏仁末傅。）</p>

<h2>解諸毒救危死</h2>
<p><u>解毒藥</u></p>
<p>白殭蠶身直者，火上焙黃色，放地少時，於臼中搗為末，每服一錢，用酒、醋、水三般同為一盞，煎至七分，溫服，可者吐出，甚者下之。</p>
<p><u>治中一切藥毒</u></p>
<p>淡豉、蔥、麥門冬各一握，水一碗，煎一盞服。</p>
<p><u>解五毒救命散</u></p>
<p>凡中毒者，先嚼白礬一塊，味如蜜，乃中毒也。用白礬一匙，建茶二匙，為末，新水半碗調，不過兩服，良久噁心，吐出，效。</p>
<p><u>解百藥毒</u></p>
<p>出了蠶子者蠶紙燒灰研細，每服一錢，冷水調下，頻服取差，雖面青脈絕腹脹吐血，服之立活。亦治牛馬誤吃花蜘蛛脹欲死者，每用兩大匙，水調灌之，下喉必效。</p>
<p><u>解諸食毒</u></p>
<p>生韭汁服一二盞。又，頭垢如棗核大，吞之。酒毒遍身黃腫者，五靈脂一兩為末，入麝香少許，研勻，飯圓小豆大，每服十圓，米飲下。</p>
<p><u>解諸藥毒</u></p>
<p>以黑豆煮令熟，多飲其汁，無黑豆，豉亦可用之。</p>
<p><u>解諸藥毒</u></p>
<p>白扁豆不拘多少，為細末，用水或溫湯調下。嘗有人以此解砒毒，神效。亦能解鴆毒。</p>
<p><u>解百毒</u></p>
<p>甘草能解百毒，為眾藥之長。孫思邈論云：有人中烏頭、巴豆毒，甘草入腹即定。方稱大豆解百藥毒，嘗試之，不效，乃加甘草為甘豆湯，其驗更速。凡飲食，先取甘草一寸，炙熟嚼咽汁，若中毒，隨即吐出。</p>
<p><u>治飲酒中毒</u></p>
<p>上煮大黑豆一升，取汁二三升服之，立吐立愈。</p>
<p><u>救療急難五絕方</u></p>
<p>五絕：一曰自縊，二曰牆壁壓，三曰溺水，四曰魘魅，五曰難產。凡五絕皆用。</p>
<p>上用半夏一兩為末，細篩，以水搜和，為圓如豆粒大，每用，一粒置鼻中，立活，雖經一日而心溫者亦可救。</p>
<p><u>凡中熱死不可便與冷物，多死。救之方</u></p>
<p>取道中熱土多積心下，又眾人噓其心令暖，又取屋上熱瓦熨心下，又令病人仰臥，以熱土壅臍上，令人尿之，臍中溫即愈。土冷別換。</p>
<p>又方，上用地黃汁一盞溫熱灌之。</p>
<p>又，乾薑、橘皮、甘草煎湯，少少與之。暑月遠行，嘗吃少麻糝，即不中暑；嚼少生蔥，解熱渴。</p>
<p><u>治落水死方</u></p>
<p>上掘地作坑，以熱灰數斗置坑中，令死人覆臥其上，濕透灰，又易之，半日即活。灰亦不可太熱，冷即更易為妙。</p>
<p><u>治夏月行路暍死方</u></p>
<p>上不得置死人在陰涼處及不得冷水灌，唯得置日中，或令近火，以熱湯灌之即活。</p>
<p><u>凡自縊死，從早至夜，雖已冷，必可治；從夜至早，稍難。若心下溫，一日以上猶可救</u></p>
<p>款款抱解，不得截繩放臥，令一人踏其兩肩，以手拔其發，常令緊；一人以手擦胸上，散動之；一人摩搦臂足，屈伸之。若已僵，但漸漸強屈之及按其腹，如此一飯久即氣從口出，得呼吸眼開，勿苦勞動，可以少官桂湯及粥清與之，令潤喉咽，更令兩人以筆管吹其耳中，尤好。若依此救，無不得活。</p>
<p>又方，緊用手罨其口，勿令透氣，兩時許，氣急即活。</p>
<p>又，皂角、細辛等分為末，如大豆許吹兩鼻中。</p>
<p><u>治溺水死者灸法</u></p>
<p>急解本人衣服，臍中炙百壯；或倒懸病人，挑去臍中垢；或吹兩耳中；或綿包皂角末內下部。《外臺》云：雖溺死一宿者，以皂角綿裹內下部，須臾出水即活。</p>
<p>又方，屈死人兩腳著人肩上，以死人背貼生人背擔走，吐出水即活。</p>
<p>又，熬熱沙覆死人面，上下著沙，只留出口鼻耳，沙冷濕，換之。</p>
<p>又，倒懸，以好酒半盞灌鼻中及下部，或以醋半盞灌鼻中，亦得。</p>
<p><u>中熱死方</u></p>
<p>汗頭巾湯浸洗汁服。又有二方見中暑門。</p>
<p>冬月凍倒人，急與冷水一兩口，扶在溫暖處，不得與熱湯熱物，亦不得近火，如已僵，用草荐卷定，外用繩三道緊扎定，兩人兩頭往來滾三五百滾如捍氈狀，自活，且與溫米飲吃，漸近微火，候半日以上，方可漸食熱物近猛火，如便與熱物及向火，必死。雪泥中行便近火，腳指隨落。</p>
<p><u>凍死人已救活，宜與此藥一兩服</u></p>
<p>生薑（一兩，和皮銼碎）　陳橘皮（不去白，一兩，銼碎）</p>
<p>上共用水三盞，煎至一盞半，放溫與服，不可冷，不可熱。</p>
<p><u>凡卒死，或先疾病及臥間忽然而絕，皆是中惡。救之方</u></p>
<p>用蔥黃心，於男左女右鼻中刺入，深六七寸，令目中血出即活。</p>
<p>又，綿浸好酒半盞，手按令汁入鼻中，並捉手足勿令驚。</p>
<p>又，視上唇裡弦有如黍米粒，以針挑破。</p>
<p>又，皂角或生半夏末如大豆許吹兩鼻中。</p>
<p><u>客忤者，中惡之類，多於道路在外得之，令人心腹絞痛脹滿、氣衝心胸，不即治，殺人</u></p>
<p>好墨為末，水調二錢服。</p>
<p>又，銅或瓦器盛湯，著肚上轉移溫之，稍冷即不用，衣襯湯，冷，別換。</p>
<p>又，鹽二錢，水三盞，煎一盞，分二服，得吐即愈。</p>
<p><u>中惡客忤卒死，鬼擊亦相類，為治可通用之</u></p>
<p>搗生菖蒲根，取汁一盞灌之。</p>
<p><u>鬼擊之狀，卒著如刀刺，胸脅腹內絞急切痛，不可按摩，或吐血下血衄血</u></p>
<p>熱艾如拳大，水五盞，煮三盞，頓服。</p>
<p>又，好酒一盞灌鼻中。</p>
<p>又，鹽一盞和攪令服並以冷水潠之，吐即差。</p>
<p>又，蓬莪朮酒研服一盞。</p>
<p><u>凡魘死，不得著燈火照，亦不得近前，急喚多殺人</u></p>
<p>但痛咬其足跟及足拇指甲邊，並多唾其面，即活。</p>
<p>又，皂角末如大豆許吹兩鼻中，得嚏則氣通，三四日猶可救。</p>
<p>又，蘆管吹兩耳，並取病人發二七莖，捻作繩刺鼻中。</p>
<p>又，炙足大指聚毛中三七壯。</p>
<p>又，鹽湯灌之。</p>
<p><u>夏月不可淘井，多致殺人</u></p>
<p>宜先以雞毛放井中試之，如搖動，不肯便下，是有毒氣，不可入。古塚亦然。五月七月尤甚。如已中毒，以水潠其面，並含水調雄黃末一二錢服。</p>
<p><u>轉筋入腹痛欲死者</u></p>
<p>使四人捉手足，灸臍左邊二寸十四壯。</p>
<p>又，生薑一兩擘碎，酒五盞，煮濃頓服。</p>
<p>又，醋煮衣絮，令徹溫，裹轉筋處。</p>
<p>又，濃煮鹽湯通手，浸手足洗胸脅間。</p>
<p><u>解中毒及能治挑生毒</u>　夏鹽場舜臣傳</p>
<p>一日之毒中人，即席狂亂，五內如刀攪割，不逾時而死。此一種最急，然亦易治。但以人頭垢用水調，或洗頭巾水灌之，吐出即解。</p>
<p>二日之毒中人，半日乃發，其候精神昏惑，腸胃攪刺，霍亂吐瀉，經夕而卒。以遠人處茆根下淨黃土攪冷水灌之乃解。</p>
<p>三日之後毒中人，似稍緩，今凶人多有之被中者，頗難知。其初，覺噁心，減食；既毒發，大概類傷寒候，肢節疼倦，或作寒熱，多唾，皮膚習習，痺覺如針芒刺人，又如被蜂蠆螯痛，至甚者麻啞而死。此毒中人亦不過兩日後發，只取田中蟛蜞三二十枚，淨洗作燴食之，臨臥復碎蟛蜞十數枚，冷水投之，天明瀉解。</p>

<h2>諸湯</h2>
<p><u>近侍湯</u></p>
<p>丁香（一兩）　桂（去粗皮，半兩）　甘草（銼，一兩半）　縮砂仁（四兩）　鹽（三兩）　麝香（一錢，研後入）</p>
<p>上先將鹽炒令乾，次入縮砂、甘草，慢火炒黃色，承熱用淨器先入一半在底，次下丁香在中，又以一半蓋之，蜜封口，候冷入桂，急碾為細末，卻入麝香同拌勻，瓷合盛窨三五日，每服一錢，沸湯點之。</p>
<p><u>八神湯</u></p>
<p>神麯（三兩，搗碎，略炒）　大麥糵（三兩，搗碎，略炒）　甘草（三兩，炙）　草果子（四兩，煨，去皮）　橘紅（一兩）　丁香（三錢，不焙）　胡椒（三錢）　粟米（一兩，炒熟）</p>
<p>上為細末，入鹽點服。</p>
<p><u>洞庭湯</u></p>
<p>陳皮（四兩）　檀香（半兩）　甘草（一兩）</p>
<p>上為細末，入鹽點服。</p>
<p><u>清中湯</u></p>
<p>大菖蒲（刮去皮，秤一斤，切片子，入鹽四兩，和勻，入姜）　人參（一兩，去蘆）　生薑（不去皮，細切以上同淹，夏一宿，冬三宿，取出日乾，黃其色得）　桔梗（四兩，去蘆）　甘草（二兩，微炙）</p>
<p>上為末，不入鹽點。去暑毒疫氣。菖蒲非石上者，乃是水中河邊採取。</p>
<p><u>快氣湯</u></p>
<p>生薑（一斤，切作片子，以鹽二兩淹二宿，焙乾）　神麯（三兩）　白朮（二兩）　橘皮（二兩，不去白，淨洗）　京三稜（半兩，炮）　蓬莪朮（半兩）　甘草（二兩半，炒）　大麥糵（二兩，炒）　草豆蔻（一個，煨，去皮，不得用多）</p>
<p>上為細末，每服一錢，入鹽湯點服。</p>
<p>又方</p>
<p>香附子（一兩）　木香（半兩）　甘草（半兩，炒）　縮砂（半兩）</p>
<p>上為細末，每服一錢，入鹽湯點服。</p>
<p><u>半夏湯</u>　呂彥能傳</p>
<p>半夏（先以水煮透軟，焙乾為末，薑汁和作餅子，焙乾）　甘草（炙）　杏仁（去皮尖）　茯苓（去皮）　上等分為末，入鹽點服。</p>
<p><u>爽氣湯</u></p>
<p>白朮（一兩）　縮砂仁（四兩，炒）　龍腦薄荷（去土，秤一錢）　甘草（一兩半，炙）　上為細末，入鹽點服。</p>
<p><u>棖湯</u></p>
<p>棖翅（四兩）　甘草（一兩）　檀香（一分）　白鹽（一兩）</p>
<p>上一處為末點服，入龍腦少許尤奇。</p>
<p><u>棖面法</u></p>
<p>上用大香棖十個蒸餅十個，先將蒸餅焙乾為細末，次將棖子去穰爛研如泥，入蒸餅末搗勻，以圈子打成曲餅子，慢火焙乾。</p>
<p>又方</p>
<p>能溫中調氣。</p>
<p>大香棖（十個）　甘草（四兩，別為末）　白檀香（半兩）　乾淨白鹽（四兩）　生薑（三兩，切作片，別置一處）　白梅肉（半兩，別切作薄片）</p>
<p>上將棖子切開，去子，切作薄片，入甘草末、生薑片子，三物一處和勻，用微火焙令半乾，次入白梅肉片子，再和勻，添火焙令極干，方入檀香，一處為末，入鹽和勻，瓷器收，勿令見風。凡入藥味次第須依本法，上焙須寬緩著意，勿令傷火。</p>
<p><u>木瓜湯</u></p>
<p>木瓜（生，去皮穰，薄切片子，秤三斤）　生薑（洗淨，薄切片子，秤一斤半）　甘草（生用，細銼碎，秤一斤）　鹽（篩，揀令淨，秤一斤二兩）</p>
<p>上同入鹽內拌勻，罨一宿後，於日中曬，不住攪轉，候水脈盡，慢火焙乾，急碾為細末，入垍器貯之，每服二錢，白湯點服。</p>
<p><u>六犯豆蔻湯</u></p>
<p>生薑（一斤，切片，曬乾）　草果（半斤，去殼並白皮）　甘草（四兩，炒）</p>
<p>只如此，名豆蔻湯（入鹽點）。用鹽二兩，不曬，生薑淹一夕，成末，三倍湯。添縮砂與甘草，同四神湯。添胡椒半兩，名五順湯。添蓽茇半兩，成六和湯。添半夏二兩，名七氣湯。上為末，入鹽，如常服。</p>
<p><u>御府五辛寬膈湯</u>（方見氣疾門）</p>

<h2>夏子益治奇疾方三十八道</h2>
<p>唐與義刊印於上饒。其間一二證昔嘗見有病之者，皆莫知所以治療之法，今得子益之方，敢以附此書之末，用廣其傳。</p>
<p><u>第一</u></p>
<p>頂上生瘡如櫻桃大，有五色，瘡破即項皮斷，上連發捲去，下去足脫之，乃為肉人疾。初見此瘡，治但逐日飲牛乳，自消。</p>
<p><u>第二</u></p>
<p>人發寒熱不止，經數日後，四肢堅如石，以物擊之似鐘磬，日漸瘦惡。治以茱萸、木香等煎湯，飲五日，可解愈。</p>
<p><u>第三</u></p>
<p>大腸頭出寸余，痛苦，直候乾，自退落，又出，名為截腸病。若腸盡乃不治矣，但初覺截余寸，治用油一盞，以臀坐之，飲大麻子汁數升愈。</p>
<p><u>第四</u></p>
<p>口鼻中腥臭水流，以碗盛之，有鐵色蝦魚如鯁米大，走躍不住，以手捉之即化為水，此肉壞矣。治用任饌，食雞月餘，可補完矣。</p>
<p><u>第五</u></p>
<p>兩足心凸如腫，上面生黑色豆瘡，硬似丁子釘了，履地不得，脛骨生碎眼，髓流出，身發寒顫，唯思飲酒，此是肝腎氣冷熱相吞。治用炮川烏頭末傅之，煎韭子湯，服一盞愈。</p>
<p><u>第六</u></p>
<p>凡腹脹經久，忽泄瀉數升，晝夜不止，服藥不驗，乃為氣脫。治用益智子煎濃湯飲之，立愈。</p>
<p><u>第七</u></p>
<p>四肢節脫，但有皮連，不能舉動，名曰筋解。治以酒浸黃蘆三兩，取出焙乾為末，每服二錢，酒調下，服盡則安。</p>
<p><u>第八</u></p>
<p>玉柯硬不痿，精流無歇，時時如針刺，捏之則脆碎，乃為腎滿漏疾。治用韭子、破故紙各一兩，末，服三錢，水一盞，煎至六分吃，每日三次飲之，愈即住服。</p>
<p><u>第九</u></p>
<p>咽喉間生肉，層層相疊，五色，漸漸腫起，不痛，多日乃有竅子，臭氣自出，遂退飲食。治用橘葉煎湯，吃五盞愈。</p>
<p><u>第十</u></p>
<p>腹脹如鐵石，臍中水出，旋變作步缺蟲之狀，繞身匝啄，癢痛難忍，撥掃不盡。治用濃煎蒼朮湯浴之，別用麝香以水調服痊。</p>
<p><u>第十一</u></p>
<p>眼前常見諸般禽蟲飛走，以手捉之則無有，乃肝膽經為疾。治用酸棗仁、羌活、元明粉、青桐子花各一兩為末，每服二錢，水一大盞，煎至七分和滓飲，逐日三服。</p>
<p><u>第十二</u></p>
<p>大腸蟲出百十丈不斷，斷之復生，行坐不得。治服鶴蝨末水調五錢，服之自愈。</p>
<p><u>第十三</u></p>
<p>眼睛垂出至鼻如黑角色，痛不可忍，或時時大便血出，名曰肝脹。治用煎羌活汁，服數盞自愈。</p>
<p><u>第十四</u></p>
<p>腹中有物作聲，隨人語言。治用板藍汁一盞，分五服。一日又見小說名曰應聲蟲，當服雷丸蟲自愈。</p>
<p><u>第十五</u></p>
<p>有飲油四五升方始快意，長得吃則安，不爾則病，此是發入胃被氣血裹了化為蟲也。治用雄黃半兩為末，水調服，蟲自出，如蠱，出活者置於油中，逡巡間自耗。</p>
<p><u>第十六</u></p>
<p>臥於床，四肢不能動，只進得飲食，好大言，說吃物謂之失，說物妄溉病。治：如說食豬肉時，便云你吃豬肉一頓，病者聞之即喜，遂置肉令病人見，臨吃卻不與吃，此乃失他物望也，當自睡，口中涎出便愈。</p>
<p><u>第十七</u></p>
<p>手十指節斷壞，唯有筋連，無節肉，蟲出如燈心粗，長數尺，遍身綠毛卷，多名曰血餘。治以茯苓、胡黃連煎湯，飲兩盞愈。</p>
<p><u>第十八</u></p>
<p>遍身忽皮底混混如波浪聲，癢不可忍，抓之肉血出，亦不能解，謂之氣奔。治以人參、苦杖、青鹽、白朮、細辛各一兩，為末作一服，水二碗，煎十數沸，去滓飲盡便愈。</p>
<p><u>第十九</u></p>
<p>白人渾黑，見物依舊，毛髮直如鐵條，雖能飲食，不語，如大醉，名曰血潰。治之用五靈脂二錢為末，酒調下。</p>
<p><u>第二十</u></p>
<p>因著灸訖，火痂便退落，瘡內鮮肉片子飛如蝶狀騰空去了，手捉壞痛不可忍，是血肉俱熱。治用大黃、朴硝各半兩為末，水調下，微利即愈。</p>
<p><u>第二十一</u></p>
<p>每至臨臥，渾身蝨出約至五升，隨手血肉俱壞，每宿漸多，癢痛不可名狀，唯吃水，臥在床上，晝夜號哭，舌尖出血不止，身齒俱黑，唇動鼻開。治之但飲鹽醋湯十數盞即愈。</p>
<p><u>第二十二</u></p>
<p>眼赤鼻張大喘，渾身生斑，毛髮起如銅鐵，蓋胃中熱毒氣結於下焦。治用白礬、滑石各一兩為末，都作一服，水三碗煎，去半，冷，不住飲，候盡乃安。</p>
<p><u>第二十三</u></p>
<p>有蟲如蟹，走於皮下，作聲如小兒啼，為筋肉之化。治用雷丸、雄黃各一兩為末，摻在豬肉一片上炙熟，吃盡自安。</p>
<p><u>第二十四</u></p>
<p>手足甲忽然長，倒生刺肉如錐，痛不可忍。治只便吃葵菜自愈。</p>
<p><u>第二十五</u></p>
<p>鼻中毛出，晝夜可長五尺，漸漸粗圓如繩，痛不可忍，雖忍痛摘去莖，即復更生，此由食豬羊血過多生。治用乳石、硇砂各一兩為末，以飯圓如桐子大，空心臨臥各一服，水下五十粒，自然退落。</p>
<p><u>第二十六</u></p>
<p>面上及遍身生瘡，似貓兒眼，有光彩，無膿血，但痛癢不常，飲食減少，久則透腔，名曰寒光疾。治多吃魚、雞、蔥、韭自愈。</p>
<p><u>第二十七</u></p>
<p>肋破腸出，息穢多，急以油抹腸，卻送入，煎人參、枸杞湯淋之，皮自合矣，吃羊腎粥十日愈。</p>
<p><u>第二十八</u></p>
<p>口鼻中氣出，盤旋不散，凝如黑蓋色，過十日則漸漸至肩胸，與肉相連，堅勝金石鐵，無由飲食，此多因瘧後得也。治煎澤瀉湯，日飲三盞，連服五日愈。</p>
<p><u>第二十九</u></p>
<p>婦人月信出，皆為禽獸之狀以傷人。治先將綿塞陰戶，只頓服沒藥一兩，余作圓散，可服，即時止。</p>
<p><u>第三十</u></p>
<p>遍身忽然肉出如錐，既癢且痛，不能飲食，此名血住。若不速治，必潰而膿出。治以赤皮蔥燒灰淋洗，吃豉湯三盞自安矣。</p>
<p><u>第三十一</u></p>
<p>眉毛搖動，目不能視、交睫，喚之不應，但能飲食，有經日不交者。治用蒜三兩取汁，酒調下，立愈。</p>
<p><u>第三十二</u></p>
<p>毛竅非一次齊血出，不出，皮脹膨膨如鼓，須臾眼鼻口被氣脹合，此名血溢。治飲生薑水二盞，自安。</p>
<p><u>第三十三</u></p>
<p>忽氣上喘不能語，口中汁似脂如流吐逆，齒皆搖動，氣出轉大則悶絕，蘇復如是，名曰傷寒並熱霍亂。治用大黃、人參末各半兩，水三盞，煎至一盞，熱去滓，一服盡。</p>
<p><u>第三十四</u></p>
<p>口內生肉球，臭惡，自己惡見，有根線長五寸余，釵股吐球出以飲食了，卻吞其線，以手輕捏，痛徹於心，力困不可言。治用吃水調麝一錢，三宿驗。</p>
<p><u>第三十五</u></p>
<p>渾身生燎泡如甘棠梨，每個破出水，內有石一片如指甲面大，泡復生，抽盡肌膚肉則不可治。急用荊三稜、蓬莪朮各五兩，分三服，酒調下。</p>
<p><u>第三十六</u></p>
<p>頭面發熱有光色，他人手近之如火燒。治用蒜汁半兩，酒調下，吐出蛇狀，遂安。</p>
<p><u>第三十七</u></p>
<p>人自覺自形，作兩人並臥，不別真假，不語問亦無對，乃是離魂。治用辰砂、人參、茯苓濃煎湯服之，真者氣爽，假者化矣。</p>
<p><u>第三十八</u></p>
<p>牙齒逐日長，漸漸脹開，口難為飲食，蓋髓溢所致。只服白朮愈。</p>
