<header data-type="book">
<h1>大小諸證方論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>傅青主</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1673">公元1673年</data></dd></div>
<div><dt>底本</dt><dd>太邑友文堂刻本《傅青主男科》（清同冶癸亥（二年，1863年）瑞祥仁刻本）</dd></div>
</dl>
</header>

<h1>大小諸證方論序</h1>
<p>古之時，庸醫殺人。今之時，庸醫不殺人亦不活人，使其人在不死不活之間，其病日深，而猝至於死。夫藥有君臣，人有強弱，有君臣則用有多少，有強弱則劑有半倍；多則專，專則效速；倍則厚，厚則力深。今日之用藥者，大抵雜泛而均停，既見之不明，而又治之不勇，病所以不能愈也。</p>
<p>予友傅青主先生，學問淵博，精實純萃，而又隱於醫。手著《女科》一卷、《小兒科》一卷、《男婦雜症》一卷，翻閱其書，分門別類，無症不備，無方不全，治一病必發明受病之因，用一藥必指示用藥之故，曲折詳盡，誠衛生之善道，救死之良方也。</p>
<p>昔陸宣公晚年居家，尤留心於醫，聞有秘方，必手自抄錄。范文正公嘗曰：「吾不能為良相，必為良醫。」夫二公為一代名臣，豐功偉業，照人耳目，而於醫學皆三致意焉，則其心之切於救人可知矣。然求之後人，能如二公之存心者益寡。</p>
<p>考《唐書》許允宗言：「古之上醫，惟是別脈，脈既精別，然後識病。夫病之與藥，有正相當者，惟須單用一味，直攻彼病，藥力既純，病即立愈。今人不能別脈，莫識病源，以情臆度，多安藥味，譬之於獵，未知兔所，多發人馬，空地遮圍，冀有一人獲之，術亦疏矣。假令一藥，偶然當病，他藥相制，氣勢不行，所以難差（瘥），諒由於是。」是集精於方藥，理明詞簡，即令不知醫之人讀之，亦瞭如指掌，誠醫林不可不有之書。而先生著書之心，亦猶陸、範二公之心，其意之切於救人者，豈有異歟？是為序。</p>
<p><u>康熙癸丑仲秋東吳顧炎武拜序</u></p>

<h1>傅青主先生秘傳小兒科方論</h1>

<h2>〔小兒色〕</h2>
<p>以鼻之上、眼之間辨之。色紅者，心熱也；紅筋橫、直現於山根〔者〕，皆心熱也。色紫者，心熱之甚，而肺亦熱也。色青者，肝有風也；青筋橫現、直現者，皆肝熱也；直者風上行，橫者風下行也。色黑者，風甚而肺中有寒。色白者，肺中有痰。色黃者，脾胃虛而作瀉。觀其色，而病可知〔矣〕。</p>

<h2>小兒脈</h2>
<p>大人看脈於寸、關、尺，小兒不然，但看其數不數而已。數甚則熱，不甚則寒也。數之中浮者，風也；沉者，寒也；緩者，濕也；澀者，邪也；滑者，痰也；有止歇者，痛也。如此而已，余不必談。</p>

<h2>三關</h2>
<p>小兒虎口風、氣、命三關，紫屬熱，紅屬寒，青屬驚風，白屬疳。風關為輕，氣關為重，若至命關，則難治矣。</p>

<h2>小兒氣色</h2>
<p>山根之上，有青筋直現者，乃肝熱也，方用：</p>
<p>柴胡（三分）　白芍（一錢）　當歸（五分）　半夏（三分）　白朮（五分）　茯苓（一錢）　山楂（三粒）　甘草（一分）　水煎服</p>
<p>有青筋橫現者，亦肝熱也。但直者風上行，橫者風下行，亦用前方，加柴胡五分，麥芽一錢，乾薑一分，水煎服。</p>
<p>有紅筋直現者，心熱也，亦用前方，加黃連一分，麥冬五分，去半夏加桑白皮、天花粉各二分，〔水〕煎服。</p>
<p>有紅筋斜現者，亦心熱也，亦用前方，加黃連二分。熱積〔《石室秘錄》中《小兒科》（以下簡稱《石室兒科》）作熱極〕於胸中者，不可用半夏，用桑白皮、花粉可也。</p>
<p>又有黃筋現於山根者，不論橫直，總是脾胃之症，或吐瀉，或腹痛，〔或〕不思食，方用：</p>
<p>白朮（五分）　茯苓（五分）　陳皮（二分）　人參（二分）　神麯（一分）　甘草（一分）　麥芽（二分）　淡竹葉（七片）　水煎服</p>
<p>有痰〔者〕，加半夏一分、白芥子三分。如口渴有熱者，加麥冬三分、黃芩一分。有寒者，加乾薑一分。吐者，加白豆蔻一粒。瀉者，加豬苓五分。腹痛而按之大叫者，食也，加大黃三分、枳實一分。按之不號叫者，寒也，加乾薑三分。如身發熱者，不可用此方。</p>

<h2>小兒發熱方</h2>
<p>不拘早晚發熱，俱用萬全湯，神效：</p>
<p>柴胡（三分）　白芍（一錢）　當歸（五分）　白朮（三分）　茯苓（二分）　甘草（一分）　山楂（三粒）　黃芩（三分）　蘇葉（一分）　麥冬（一錢）　神麯（三分）　水煎服</p>
<p>冬加麻黃一分，夏加石膏三分，春加青蒿三分，秋加桔梗三分。有食加枳殼三分，有痰加白芥子三分，吐者加白豆蔻一粒，瀉者加豬苓一錢。小兒諸症，不過如此，不可作驚風治之。如其有驚風，加人參五分，其效如神。</p>
<p>又方：凡潮熱、積熱、瘧熱，乃脾積寒熱，俱當用姜梨引。</p>
<p>柴胡　人參　黃芩　前胡　秦艽　甘草　（各一分）　青　蒿（童便浸，曬乾，一分）　生地（一寸）　薄荷（二葉）　（或生梨、生藕一片）　水煎服，甚效。</p>

<h2>小兒感冒風寒方</h2>
<p>柴胡（五分）　白朮（一錢）　茯苓（三分）　陳皮（二分）　當歸（八分）　白芍（一錢）　半夏（三分）　炙草（三分）　水煎熱服</p>

<h2>小兒痢疾方</h2>
<p>當歸（一錢）　黃連（二分）　白芍（一錢）　枳殼（五分）　檳榔（五分）　甘草（三分）　水煎熱服</p>
<p>紅痢倍黃連，白痢加澤瀉三分，腹痛倍甘草、加白芍，小便赤加木通三分，下如豆汁加白朮一錢，傷食加山楂、麥芽各三分，氣虛加人參三分。</p>

<h2>小兒瘧疾方</h2>
<p>柴胡（六分）　白朮（一錢）　茯苓（一錢）　歸身（一錢）　白芍（錢半）　半夏（五分）　青皮（五分）　厚朴（五分）　水煎，露一宿，再溫與服。</p>
<p>熱多者，加人參、黃耆各五分；寒多者，加乾薑三分；痰多者，加白芥子一錢；夜發熱者，加何首烏、熟地各二錢；日發熱者，不用加；腹痛者，加檳榔三分。</p>

<h2>小兒咳嗽方</h2>
<p>蘇葉（五分）　桔梗（一錢）　甘草（一錢）　水煎熱服</p>
<p>有痰加白芥子八分。</p>

<h2>小兒驚風方</h2>
<p>世人動曰驚風，誰知小兒驚則有之，而風則無。小兒純陽之體，不當有風，而狀〔若〕有風者，蓋小兒陽旺則內熱，內熱則生風，是非外來之風，乃內出之風也。內風作外風治，是速之死也。方用清火散風湯：</p>
<p>白朮（三分）　茯苓（二錢）　陳皮（一分）　梔子（三分）　甘草（一分）　白芍（一錢）　半夏（一分）　柴胡（五分）　水煎服</p>
<p>此方健脾平肝之聖藥，肝平則火散，健脾則風止，斷不可以風藥表散之也。</p>

<h3>又方</h3>
<p>驚風皆由於氣虛，宜用壓風湯：</p>
<p>人參（五分）　白朮（五分）　甘草（三分）　茯神（一錢）　半夏（三分）　神麯（五分）　砂仁（一粒）　陳皮（一分）　丹砂（三分）　水煎服，治慢驚風加黃耆</p>

<h3>又方</h3>
<p>治驚風抽掣經驗方：</p>
<p>全蠍（一個）　黃連（一錢）　硃砂（一錢）　姜（少許）三味共研細末，調勻，喂小兒口內，任其自咽，其效如神。</p>

<h2>〔急驚風方〕</h2>
<p>〔急驚風、三六九日一切風俱治方：</p>
<p>膽南星、雄黃、硃砂、人參、茯苓、天竺黃、鉤藤、牛黃、麝香、鬱金、柴胡、青皮、甘草，為細末，煉膏為丸，如綠豆大，真金一張為衣，陰乾，勿泄氣，薄荷湯磨服。〕</p>

<h2>小兒疳症方</h2>
<p>此症脾熱而因手心熱也，遂至口中流涎。若不平其心火，則脾火更旺，濕熱上蒸，而口涎不能止也。方用：</p>
<p>蘆薈（一錢）　黃連（三分）　薄荷（三分）　茯苓（二錢）　桑白皮（一錢）　半夏（五分）　甘草（一分）　水煎服</p>
<p>此心脾兩清之聖藥也，行熱下行，而疳自去矣。</p>

<h3>又方</h3>
<p>女人尿桶中白（火煅研末一錢），銅綠（二分），麝香（一分），共研為細末，搽齒齦上，最奇效。</p>

<h2>流口水爛方</h2>
<p>小兒口疳流水口爛神方：</p>
<p>黃柏（二錢）　人參（一錢）　共為〔細〕末，敷口內，一日三次，三日即愈。</p>
<p>此方用黃柏去火，人參健土（脾），大人用之，亦最效。</p>

<h2>小兒疳症瀉痢眼障神效方</h2>
<p>石決明（醋煅一兩）　蘆薈（五錢）　甘草（三錢）　川芎（五錢）　白蒺藜（五錢）　菊花（四錢）胡黃連（五錢）　五靈脂（五錢）　細　辛（五錢）　穀精草（五錢）　共研細末，豬苓去筋，搗爛為丸，如米大，每〔服〕二十丸，不拘時，米湯送下。</p>

<h2>止吐方</h2>
<p>此症雖胃氣之弱，亦脾氣之虛。小兒恣意飽食，不能消化，久之上衝於胃口而吐也。用止吐速效方：</p>
<p>人參（一錢）　砂仁（一粒）　白朮（五分）　茯苓（二錢）　陳皮（二分）　半夏（一分）　乾薑（一分）　麥芽（五分）　山楂（三粒）　水煎服</p>
<p>夏加黃連、冬加乾薑各三分，無不愈，此六君子變方。</p>

<h2>泄瀉方</h2>

<h3>〔熱瀉方〕</h3>
<p>小兒身如火熱，口渴舌燥，善冷飲而不喜熱湯，用瀉火止瀉湯：</p>
<p>車前子（二錢）　茯苓（一錢）　白芍（一錢）　黃連（三分）　澤瀉（五分）　豬苓（三分）　麥芽（一錢）　枳殼（二分）　水煎服</p>

<h3>寒瀉方</h3>
<p>此症必腹痛而喜手按摩，口不渴而舌滑，喜熱飲而不喜冷，湯（方）用散寒止瀉湯：</p>
<p>人參（一錢）　白朮（一錢）　茯苓（二錢）　肉桂（二分）　甘草（一分）　乾薑（二分）　砂仁（一粒）　神麯（五分）　水煎服</p>

<h2>小兒吐乳方</h2>
<p>白豆蔻（七粒）　砂仁（七粒）　生炙甘草（各二錢）　共研細末，頻擦口中，任其嚥下，奇效。</p>

<h2>治小兒不食乳方</h2>
<p>不食乳，心熱也，蔥煎乳汁，令小兒服之亦妙，不若用黃連三分，煎湯一分，灌小兒數匙，即食乳矣，神效。</p>

<h2>臍汁不幹方</h2>
<p>治臍汁不幹方：用車前子炒焦為細末，敷之即干。</p>

<h2>〔小兒肚臍突出方〕</h2>
<p>〔小兒肚臍突出半寸許，此氣旺不收也，若不急按之，往往變為角弓反張。方用：</p>
<p>茯苓（一錢）　車前子（一錢）　甘草（三分）　陳皮（三分）　通草（三分）　（無通草用燈心一撮）煎湯飲之，一劑即愈，神方也。〕</p>

<h2>治蟲方</h2>

<h3>小兒便蟲方</h3>
<p>榧子（五個去殼）　甘草（三分）　〔為末，米飯為丸〕，服二次，則蟲化為水〔矣〕。</p>

<h3>又蟲積方</h3>
<p>使君子（十個。去殼炒）　檳榔　甘草（各一錢）　榧子（十個，去殼）共為末，米飯為丸，梧桐子大，每服十丸，二日蟲出，五日即愈。</p>

<h3>治寸白蟲方</h3>
<p>百部根（五錢）　檳榔（五錢）　水煎〔服〕，一劑蟲全下。</p>

<h3>又方</h3>
<p>飛羅白麵製半夏　生白礬（各三錢）　共為細末，水滴成丸，分三日服，開水服，蟲化為水。大人照方十倍合服。</p>

<h2>〔火丹方〕</h2>

<h3>治火丹神方</h3>
<p>絲瓜子（一兩）　柴胡（一錢）　元參（一兩）　升麻（一錢）　當歸（五錢）　水煎服</p>

<h3>又方</h3>
<p>升麻（三錢）　元參（一兩）　乾葛（三兩）　青蒿（三錢）　黃耆（三錢）　水煎服</p>
<p>此症乃胃火與肝經之火，共騰而外越，不為丹毒，即發疹也。方在（中）用青蒿甚妙，肝脾兩經之火俱平。又佐以群藥重劑，而火安有不滅者乎？</p>

<h2>〔胎毒方〕</h2>

<h3>小兒洗胎毒方</h3>
<p>荊芥（五錢）　蒲公英（五錢）　甘草（五錢）　槐條（二十寸）　蔥須（一撮）　花椒（三錢）　艾葉（一撮）　水一砂鍋煎洗</p>

<h3>胎毒肥瘡方</h3>
<p>花椒（三錢）　白芷（三錢）　黃柏（三錢）　鉛粉（三錢）　枯礬（三錢）　共為細末，麻油調敷，甚效。</p>

<h2>〔口瘡方〕</h2>

<h3>小兒紅白口瘡外治方</h3>
<p>蕊仁（五分，去油）　硃砂（五分）　冰片（一分）　共為末，熟棗（三枚　去核），和一處，攤烏青布上，貼腳心處。去藥〔時〕若干者，用無根水排藥。此方效，愈兒多矣。</p>

<h3>又方</h3>
<p>五倍子（一錢）　冰片（少許），共研細末，吹之，速效。</p>

<h3>又方</h3>
<p>人中白（煅）　研細末，吹之，神效。</p>

<h2>〔夜啼方〕</h2>

<h3>小兒夜啼不止，狀如鬼祟方</h3>
<p>蟬蛻（後半，四個為末）　硃砂（二分，水飛）　薄荷（四分）　〔水〕煎，酒數滴調服，立止。</p>

<h3>又方</h3>
<p>五倍子焙研，唾津和立餅，填臍內，立止，甚效。</p>

<h2>〔尿血方〕</h2>

<h3>周歲小兒尿血方</h3>
<p>大甘草（一兩二錢）　水（六升煎二碗）　服完即愈。</p>

<h2>〔寒積食積方〕</h2>

<h3>治腹痛寒積食積方</h3>
<p>生薑（一兩）　柿蒂（七個）　砂仁（五粒）　山楂（五錢）　干蘿蔔（一撮）　紅糖（一兩）　大棗（二枚）　〔水〕煎服，分兩次服。</p>

<h2>附錄</h2>

<h3>《石室秘錄》卷五岐天師兒科治法</h3>
<p>天師曰：兒科得其要，無難治。今傳一法門，使萬世小兒，盡登仁壽，法在先看氣色，後看脈。小兒有痰，其顏色必鮮豔，以鼻之上、眼之中間、中正精明穴上辨之：色紅者，心熱也；紅筋橫、直現於山根〔者〕，皆（亦）心熱也。色紫者，心熱之甚，而肺亦熱也。色青者，肝有風也；青筋〔橫現〕、直現者，乃（皆）肝熱也；直者風上行，橫者風下行也。色黑者，風甚而腎中有寒。色白者，肺中有痰。色黃者，脾胃虛而作瀉。黃筋現於山根，不論橫直，總皆脾胃之症，止有此數色，無他顏色，故一覽而知小兒之病矣</p>
<p>大人看脈於寸、關、尺，小兒何獨不然，但小兒不必看至數，止看其數與不數耳，數甚則熱，不數則寒也。數之中浮者，風也；沉者，寒也；緩者，濕也；澀者，邪也；滑者，痰也；〔有止歇者，痛也〕，如此而已，（《方論》下為「余不必談」），七表八里，俱不必去看，自知吾訣，則《脈經》亦不必讀也。有止歇者，乃痛也，余亦不必再談。</p>
<p>小兒症大約吐瀉厥逆，風寒暑熱而已，其餘痘疹喑，余無他病。或心腹痛，或有痞塊，或有瘡疔，可一覽而知也。然而小兒之病，虛者十之九，實者十之一，故藥宜補為先，今立三方通治小兒諸症。第一方：</p>
<p>人參（三分）　白朮（五分）　茯苓（一錢）　甘草（一分）　陳皮（二分）　神麯（三分）　半夏（一分）</p>
<p>此六君子加減也，通治小兒脾胃弱病，神效。如傷肉食者，加山楂五粒；傷米食者，加麥芽五分；傷麵食者，加萊菔子三分；吐者加白豆蔻一粒，去甘草加生薑三片；瀉者加乾薑三分、豬苓五分</p>
<p>第二方治外感也，或傷風傷寒，或咳嗽，或發熱，或不發熱，或頭痛，或鼻塞，或痰多，或驚悸，或角弓反張，皆以此方通治之，無不神效，方用：</p>
<p>柴胡（七分）　甘草（三分）　桔梗（五分）　半夏（三分）　黃芩（三分）　白芍（二錢）　白朮（二錢）　當歸（五分）　茯苓（五分）　水煎服</p>
<p>頭痛〔者〕，加蔓荊子三分。心痛手不可按者，乃實火也，加梔子一錢；按之不痛者，乃虛火也，加甘草八分、貫眾五分、廣木香三分、乳香一分。脅痛者，加白芍三錢。腹痛者，以手按之而疼甚者，乃食也，加大黃一錢；按之而不痛者，乃寒也，非食也，加肉桂三分、乾薑三分。汗出不止者，加桑葉一片。眼痛而紅腫者，乃火也，加黃連三分、白蒺藜一分。喉痛者，加山豆根二分。</p>
<p>第三方治虛寒之症，夜熱出汗，夜啼不寐，怔忡，久嗽不已，行遲語遲，龜背狗肚，將成癆瘵等症，方用：</p>
<p>熟地（三錢）　山萸（二錢）　麥冬（二錢）　化五味（五分）　元參（二錢）　白朮（二錢）　茯苓（一錢）　薏仁（三錢）　丹皮（一錢）　沙參（二錢）　地骨皮（二錢）</p>
<p>水煎服倘兼有外感，加柴胡五分、白芍三錢、白芥子一錢，余無可加減矣。</p>

<h2>岐天師傳《兒科》秘法</h2>
<p>山根之上，有青筋直現者，乃肝熱也，用：</p>
<p>柴胡（三分）　白芍（一錢）　當歸（五分）　半夏（三分）　白朮（五分）　茯苓（一錢）　山楂（三粒）　甘草（一分）　水煎服</p>
<p>有青筋橫直者，亦肝熱也。但直者風上行，橫者風下行，亦用前方，多加柴胡二分、麥芽一錢、乾薑一分。</p>
<p>有紅筋直現者，乃心熱也，亦用前方加黃連一分，麥芽五分，去半夏加桑白皮三分、天花粉二分。有紅筋斜現者，亦心熱也，亦用前方加黃連二分。蓋熱極（積）於胸中也（者），不可用半夏，〔用〕桑白皮、天花粉〔可也〕。</p>
<p>〔又〕</p>
<p>有黃筋現於山根者，不必論橫直，總是脾胃之症，或水瀉，或上吐，或下瀉，或腹痛，或不思食，余定一方，皆能服，服之無不神效。如皮黃，即黃筋也。方用：</p>
<p>白朮（五分）　茯苓（五分）　陳皮（二分）　人參（二分）　神麯（一分）　麥芽（二分）　甘草（一分）　水煎服加淡竹葉（七片）</p>
<p>有痰加半夏一分、〔或〕白芥子二分，或天花粉二分；有熱如口渴者，加麥冬三分、黃芩一分；有寒者加乾薑一分；吐者加白豆蔻一粒；瀉者加豬苓五分；腹痛者，如小兒自家捧腹，是須用手按之，大叫呼者，乃食積也，加大黃三分、枳實一分；如按之〔不痛〕不呼號者，乃寒也，〔可〕加乾薑二分。如身熱者，不可用此方。余另立一方，萬全湯。</p>
<p>凡小兒發熱者，無論夜熱、早熱、晚熱，用之無不神效，方用：</p>
<p>柴胡（五分）　白芍（一錢）　當歸（五分）　白朮（三分）　茯苓（二分）　甘草（一分）　山楂（三粒）　黃芩（二分）　蘇葉（一分）　麥冬（一分）　神麯（三分）　水煎服</p>
<p>冬天加麻黃一分，夏天加石膏三分，春天加青蒿三分，秋天加桔梗三分。有食加枳殼三分；有痰加白芥子三分；瀉者加豬苓一錢；吐者加白豆蔻一粒。小兒諸症，不過如此，萬不可作驚風治之。有驚〔風〕者，加人參五分，即定驚如神。有疳者，用脾胃方，加蒲黃三分、黃芩三分可也。</p>
<p>治小兒痢疾神方：</p>
<p>當歸（一錢）　黃連（二分）　白芍（一錢五分）　枳殼（五分）　檳榔（五分）　甘草（三分）</p>
<p>紅痢加黃連一倍，白痢加澤瀉三分。腹痛倍加甘草，多加白芍；小便赤加木通三分；下如豆汁加白朮一錢；傷食加山楂、麥芽各三分；氣虛加人參三分。此方通治小兒痢疾，加減之無不神效。</p>

<h3>治小兒瘧疾方</h3>
<p>柴胡（六分）　白朮（一錢）　茯苓（一錢）　當歸（一錢）　白芍（一錢五分）　枳殼（五分）　檳榔（五分）　厚朴（五分）　水煎，露一宿，再溫與之服。</p>
<p>熱多者加人參、黃耆各五分；寒多者加乾薑三分；痰多者加白芥子一錢；夜發熱者加何首烏、熟地〔各〕二錢；日間發〔熱〕者，不用加；腹痛者加檳榔三分。</p>

<h3>治小兒咳嗽神效方</h3>
<p>蘇葉（五分）　桔梗（一錢）　甘草（一錢）　水煎熱服</p>
<p>有痰加白芥子（五分）</p>

<h3>治小兒口疳流水口爛神方</h3>
<p>黃柏二錢　人參一錢　為末，敷口內，（一日三次），二日即愈。一匙一次，一日不過用三次而已。小兒之疳，皆虛熱也，用黃柏以去火，人參以健脾土也。大人亦可用，神效。</p>
<p>治小兒便蟲神方，諸蟲皆可治</p>
<p>榧子去殼五個，甘草三分，為末，米飯為丸，服完蟲盡化為水矣。大人亦用去蟲，蓋榧子最能殺蟲，又不耗氣也，食多則傷脾。</p>

<h3>治小兒蟲積方</h3>
<p>使君子十個去殼炒香，檳榔一錢，榧子十個（去殼），甘草三分，為末，米飯為丸，如梧桐子大，與小兒十丸服之（每服十丸），二日即便蟲，五日痊愈，神方也。</p>

<h2>兒科</h2>
<p><u>驚、疳、吐、瀉、生下不肯食乳、臍下不幹、肚臍突出</u></p>
<p>小兒病驚、疳、吐、瀉盡之矣，然而驚、疳、吐、瀉，不可不分別言之也。</p>
<p>世人動曰驚風，誰知小兒驚則有之，而風則無。小兒純陽之體，不當有風，而狀若有風者，蓋小兒陽旺內熱，熱極則生風，是非外來之風，乃內出之風也。內風何可作外風治之，故治風則死矣。法當內清其火，而外治其驚，不可用風藥以表散之也。吾今特傳奇方，名為清火散驚湯，方用：</p>
<p>白朮（三分）　茯苓（三錢）　陳皮（一分）　梔子（三分）　白芍（一錢）　半夏（一分）　柴胡（三分）　甘草（一分）　水煎服</p>
<p>此方健脾平肝之聖藥，肝平則火散，健脾則驚上。又加去火消痰之品，自然藥下咽而驚風定也。</p>
<p>膽南星　雄黃　硃砂　人參　茯苓　天竺黃　鉤藤　牛黃　麝香　鬱金　柴胡　青皮　甘草　為細末，煎膏為丸，如綠豆大，真金一張為衣，陰乾，勿泄氣，薄荷湯磨服。</p>
<p>疳症乃脾熱也，然亦因心熱而脾火旺極，遂至口中流涎，若不平其心火，則脾火更旺，而濕熱上蒸，口涎正不能遽止。治法不能徒清脾火，而當先散心火，方用止肝散：</p>
<p>蘆薈（一錢）　黃連（三分）　薄荷（三分）　茯苓（二錢）　甘草（一分）　桑白皮（一錢）　半夏（三分）　水煎服</p>
<p>此方心脾兩清之聖藥，不專清脾，引火下行，則濕自去。濕熱去，則疳病自愈矣。吐症雖胃氣之弱，亦脾氣之虛。蓋小兒恣意飽餐，遂至食而不化，久而停積於脾中，又久之而上衝於胃中，又久之而大吐矣。故治吐必先治胃，治胃必先治脾。吾有奇方，止吐速效，方名定吐湯</p>
<p>人參（一錢）　砂仁（一粒）　白朮（五分）　茯苓（二錢）　陳皮（二分）　半夏（一分）　乾薑（二分）</p>
<p>〔水煎服〕，無不愈者。此方即六君子之變方，乃治脾胃之聖藥，脾胃安而化導速，自然下行，不至上吐。況方中加減得宜，消積有法，有不奏功如神者乎？</p>
<p>瀉症則專責之脾矣。論理亦用湯可以取效，然而瀉有不同，有火瀉，有寒瀉，不可不分。火瀉者，小兒必然身如火熱，口渴舌燥，喜冷飲而不喜飲熱湯，若亦以前方投之，則益苦矣。予另有奇方，名為瀉火止瀉湯，方用：</p>
<p>車前子（二錢）　茯苓（一錢）　白芍（一錢）　黃連（三分）　澤瀉（五分）　豬苓（三分）　麥芽（一錢）　枳殼（二分）　水煎服</p>
<p>一劑即止瀉，車前、茯苓、澤瀉、豬苓，皆止瀉分水之聖藥；白芍以平肝，使不來克脾；黃連清心火，不來助脾之熱；用麥芽、枳殼消滯氣以通水道，不必止瀉，瀉自止矣。</p>
<p>寒瀉者腹痛而喜手按摩，口不幹而舌滑，喜熱飲而不喜冷飲，又不可用瀉火之湯，五苓散可也，然而五苓散尚欠補也。蓋小兒致（至）於寒瀉，未有不大傷脾氣者。脾氣即傷，非人參不能救，五苓散無人參，僅能止瀉，元氣未能頓復。我今傳一奇方，名為散寒止瀉湯，方用：</p>
<p>人參（一錢）　白朮（二錢）　茯苓（二錢）　肉桂（二分）　甘草（一分）　乾薑（二分）　砂仁（一粒）　神麯（五分）　水煎服</p>
<p>此方參苓、白朮，乃健脾補氣之神品，分濕利水之聖藥也。又加肉桂、乾薑以祛寒，砂仁、甘草、神麯以調和之，則寒氣自然越出，而泄瀉自止矣。</p>
<p>小兒生下不肯食乳者，乃心熱也。蔥煎乳汁，令小兒服之亦妙，不若用黃連三分，煎湯一分，灌小兒數匙，即食乳矣，神效。</p>
<p>小兒初生，臍汁不幹，用車前子炒焦為細末，敷之即干。</p>
<p>小兒肚臍突出半寸許，此氣旺不收也，若不急安之，往往變為角弓反張，方用：</p>
<p>茯苓（一錢）　車前子（一錢）　甘草（二分）　陳皮（三分）　通草（三分）</p>
<p>如無通草，〔用〕燈心一團，共煎湯，灌之，一劑即安，神方也</p>

<h2>岐天師傳治回毒方</h2>

<h3>回毒即消丹</h3>
<p>金銀花（五錢）　甘草（一錢）　人參（二錢）　元參（三錢）</p>
<p>水煎服，一劑即消大半，二劑痊愈，不須三劑也。畫符一道，焚在藥中，煎湯神效。凡服藥不效者，焚符於藥中煎藥，與小兒飲之，十人十生。（符樣刪去）咒曰：小兒有病，病魔作祟，吾今施符，治無不愈。吾奉天師岐真君律令敕。書符前後念一遍，焚於藥內又念一遍，此秘訣也。</p>
<p>銀花（五錢）　甘草（一錢）　人參（二錢）　元參（一錢）　水煎服（此方《方論》中無）。</p>
<p>此外，《兒科》中尚有「痘瘡壞證已黑者，人將棄之，藥下咽即活」，《方論》及《石室秘錄》均無：</p>
<p>人參（三錢）　陳皮（一錢）　蟬蛻（五分）　元參（二錢）　當歸（二錢）　荊芥（一錢）　水煎服</p>
<p>此乃元氣虛而火不能發也，故用人參以補元氣，元參去浮游之火，陳皮去痰開胃，則三無礙而相得益彰。荊芥以發之，又能引火歸經；當歸生新去舊消瘀血，蟬蛻解毒除風，世人何知妙法。初起時不可服，必壞症乃可服。</p>
<p>岐天師又傳治回毒歲久不愈方：</p>
<p>金銀花（一兩）　當歸（一兩）　白朮（一兩）　黃耆（二兩）　薏仁（三兩）　甘草（二錢）　白芥子（三錢）　柴胡（五分）　肉桂（五分）　水煎服，四服痊愈。</p>
<p>其服藥之時，更須用藥洗之：金銀花一兩、生甘草三錢、生蔥三條，煎二碗。</p>
<p>又傳疹方，治夏日發疹者神效：</p>
<p>蘇葉（一錢）　麥冬（二錢）　桔梗（一錢）　甘草（一錢）　升麻（五分）　生地（二錢）　元參（三錢）　青蒿（三錢）　水煎服</p>
<p>岐真人曰：張真人〔方〕治四時之疹，余方治夏時熱疹也，切記此二方，何患疹病之難治哉。</p>
<p>附張真人傳治四時疹方：</p>
<p>元參（三錢）　麥冬（二錢）　蘇葉（一錢）　升麻（八分）　天花粉（一錢）　金銀花（三錢）　陳皮（三分）　甘草（一錢）　生地（三錢）　黃芩（八分）　桂枝（二錢）</p>
<p>水煎熱服，無不神效，惟夏天加青蒿三錢可也。小兒初數月，〔分量〕減半，一周〔歲〕外，照此分量，不必再傳方也。服吾方一劑即愈，何至三撰。</p>
<p>又傳治水痘方，亦治熱症而有水氣也：</p>
<p>柴胡（一錢）　茯苓（二錢）　桔梗（一錢）　甘草（五分）　黃芩（五分）　竹葉（十片）　燈心一撮　水煎服</p>
<p>有痰者加天花粉三分；有食加山楂三粒、麥芽三分；有火加黃連一分；余可不必。有此一方，水痘無難治矣</p>

<h2>痘治法</h2>
<p>天師曰：今人看痘為難治，不知得其法則無難也。初起之時，不論身弱身強，先以補氣補血之藥為君，加一發散之藥，則重則必輕，而輕者必少。無如世人以寒涼之品為主，又助以劫散之味，此所以輕變重、重變死也！吾今傳五方，朝夕服之，至七日無不結壓。再無回毒之症，十人十活，不殺一小兒也。</p>
<p>第一日方</p>
<p>小兒身熱，眼如醉眼者，此出痘兆也。若不是醉眼，則非出痘，不可用此方，用治外感方治之。若見眼醉，急投此方，則痘點即見，不必待三日而自出也。方用：</p>
<p>黃耆（三錢）　白朮（一錢）　甘草（一錢）　當歸（二錢）　川芎（二錢）　茯苓（三錢）　柴胡（一錢）　升麻（五分）　麥冬（二錢）　元參（三錢）　陳皮（五分）　荊芥（一錢）　金銀花（三錢）　水煎服</p>
<p>此方五歲以上者，俱照此分量。五歲以下者減半，周歲內者又遽減之。服此藥自然神思清爽，服後見點，再用第二方。</p>
<p>第二日方</p>
<p>白朮（二錢）　麥冬（三錢）　甘草（一錢）　桔梗（二錢）　當歸（五錢）　生地（五錢）　元參（二錢）　柴胡（一錢）　升麻（三分）　荊芥（一錢）　茯苓（二錢）　白芍（三錢）　白芥子（二錢）　金銀花（三錢）</p>
<p>服此藥後，一身盡見點矣。其色必紅，而無色白、色黑之虞矣。</p>
<p>第三日方</p>
<p>人參（五分）　白芍（三錢）　白朮（二錢）　茯苓（二錢）　元參（二錢）　神麯（三分）　丹皮（一錢）　水煎服</p>
<p>服此方後，盡皆灌漿，無不氣血不足，永無退症之虞矣。</p>
<p>第四日方</p>
<p>人參（一錢）　當歸（二錢）　熟地（五錢）　茯苓（二錢）　金銀花（三錢）　陳皮（五分）　甘草（一錢）　元參（三錢）　白朮（三錢）　白芍（二錢）　神麯（五分）　水煎服</p>
<p>服此方後，小兒必然口（脾）健，要吃食不已。不妨少少頻與，亦不可食多也，第五方不必再用矣。然更傳之者，恐小兒多食，更生他病。</p>
<p>第五日方</p>
<p>人參（一錢）　茯苓（三錢）　白朮（二錢）　甘草（一錢）　水煎服</p>
<p>有食加麥芽五分、山楂五粒，若不傷食，不必加（也），止加金銀花三錢。</p>
<p>能服此五方，期七日前而回春也。以上本兒年歲，小者俱照第一方減之。如小兒已身熱〔見點〕，日用第三方，〔至第〕四日，則用第四方。如壞症，另用壞症方。此外，在《方論》及《兒科》中有「治火丹方」二方，《石室秘錄》中則無。《方論》中尚有「洗胎毒方」、「口瘡方」、「夜啼方」、「尿血方」、「寒積食積方」，《兒科》及《石室秘錄》則均無。</p>

<h1>傅青主先生秘傳雜症方論</h1>

<h2>怔忡不寐方</h2>
<p>此心經血虛也，方用：</p>
<p>人參（三錢）　丹皮（二錢）　麥冬（三錢）　甘草（一錢）　茯神（三錢）　生棗仁（五錢）　熟棗仁（五錢）　菖蒲（一錢）　當歸（三錢）　五味子（二錢）　水煎服</p>
<p>此方妙在用生、熟棗仁，生使其日間不臥，熟使其夜間不醒，又以補心之藥為佐，而怔忡安矣。</p>

<h2>心驚不安夜臥不睡方</h2>
<p>此心病而實腎病也，宜心腎兼治，方用：</p>
<p>人參（三兩）　茯苓（三兩）　茯神（三兩）　遠志（二兩）　生棗仁（一兩）　熟地（三兩）　山萸（三兩）　當歸（三兩）　菖蒲（三錢）　黃連（五錢）　肉桂（五錢）　白芥子（一兩）　麥冬（三兩）　砂仁（五錢）</p>
<p>煉蜜為丸，每日送下五錢，湯、酒俱可。</p>
<p>此方治心驚不安與不寐耳，只宜用人參、茯神、當歸、麥冬足矣；即為火起不寐，亦不過加黃連足矣；何以反用熟地、山萸補腎之藥，又加肉桂以助火？不知人之驚恐者，乃腎氣不入於心也；不寐者，乃心氣不歸於腎也。今用熟地、山萸補腎，則腎氣可上通於心矣。肉桂以補命門之火，則腎氣既溫，相火有權，君火相得，自然上下同心，君臣合德矣。然補腎固是，而亦不可徒補其腎也，亦有肝氣不上於心而成此症者，宜加白芍二兩，以補腎而兼補肝，斯心泰然矣。</p>

<h2>心痛方</h2>
<p>心痛之症有二，一則寒氣侵心而痛，一則火氣焚心而痛。寒氣侵心者，手足反溫；火氣焚心者，手足反涼；以此辨之最得矣。</p>

<h3>治寒痛方</h3>
<p>良薑（三錢）　肉桂（一錢）　白朮（三錢）　草烏（一錢）　蒼朮（三錢）　貫眾（二錢）　甘草（一錢）　水煎服</p>

<h3>治熱痛方</h3>
<p>黑梔（三錢）　白芍（二兩）　半夏（一錢）　柴胡（一錢）　甘草（一錢）　水煎服</p>

<h2>治脅痛方</h2>
<p>此乃肝病也，故治脅痛必須平肝，平肝必須補腎，腎水足而後肝氣有養，不治脅痛而脅痛自平也。方用肝腎兼資湯：</p>
<p>熟地（一兩）　白芍（二兩）　當歸（一兩）　白芥子（三錢）　黑梔（一錢）　山萸（五錢）　甘草（三錢）　水煎服</p>

<h2>治水臌症</h2>
<p>此症滿身皆腫，按之如泥者是。若不急治，水流四肢，不得從膀胱而出，則為死症矣。方用決流湯：</p>
<p>黑醜（二錢）　甘遂（二錢）　肉桂（三分）　車前子（一兩）　水煎服</p>
<p>一劑而水流鬥余，二劑而痊愈，斷不可與三劑也，與三劑反殺之矣！蓋牽牛、甘遂，最善利水，又加之肉桂、車前，引水以入膀胱，利水而不走氣，不使牛、遂之過猛也。二劑之後，須用五苓散調理二劑，又以六君子湯補脾也。更須忌鹽三月，不可食，犯則不救。</p>
<p>昔元鮮子伯機，記杭醫宋會之者，善治水臌，以乾絲瓜一枚，去皮剪碎，入巴豆十四粒同炒，以巴豆黃色為度，去巴豆，用絲瓜炒陳倉米，如絲瓜之多少，候米黃色，去絲瓜，研之為末，和清水為丸，如桐子大，每服百丸，皆愈。宋言：巴豆逐水，絲瓜象人脈絡，去而不用，藉其氣以引之也，米投胃氣故也。</p>

<h2>治氣臌症</h2>
<p>此症乃氣虛作腫，似水而非水也，但按之不如泥耳。必先從腳面起，後漸腫至上身，於是頭面皆腫者有之，此之謂氣臌，宜健脾行氣，加利水之品。若以水臌治之，是速之死也。方用：</p>
<p>白朮（一兩）　薏米（一兩）　茯苓（一兩）　枳殼（五分）　蘿蔔子（一錢）　人參（一錢）　山藥（五錢）　肉桂（一分）　車前子（一錢）　神麯（一錢）　甘草（一分）　水煎服</p>
<p>初服若礙，久則竟有功效，不過卅劑而痊愈。忌食鹽三月，秋石亦不可用。</p>

<h2>治蟲臌症</h2>
<p>小腹作痛，而四肢浮腫，不十分之甚，面色紅而有白點，如蟲食之狀，眼下無臥蠶微腫之形，方用消蟲神奇丹：</p>
<p>雷丸（三錢）　當歸（一兩）　鱉甲（醋炙一兩）　地慄粉（一兩，鮮者取汁一盅）　神麯（三錢）茯苓（三錢）　車前子（五錢）　白礬（三錢）　水煎服</p>
<p>一劑下蟲無數，二劑蟲盡出而臌消，不用三劑。但病好〔後〕必用六君子湯調理，去甘草。</p>

<h2>治血臌症</h2>
<p>此症或〔因〕跌閃而瘀血不散，或憂鬱而結血不行，或風邪而蓄血不發，留在腹中，致成血臌，飲食入胃，不變精血，反去助邪，久則脹，脹則成臌矣。倘以治水法逐之，而症非水，徒傷元氣；倘以治氣法逐之，則症非氣，徒增飽滿。方用逐瘀蕩穢湯：</p>
<p>水蛭（炒黑，三錢）　當歸（二兩）　雷丸（三錢）　紅花（三錢）　枳實（三錢）　白芍（三錢）　牛膝（三錢）　桃仁（四十個，去皮尖研）　水煎服</p>
<p>即（衍文）一劑血盡而愈，一劑之後，切勿與三（二）劑，即改用四物湯調理，於補血內加白朮、〔茯苓〕、人參，補元氣而利水，自然痊愈，否則恐成乾枯之症。辨血臌，惟腹脹如鼓，而四肢手足並無脹意也。</p>

<h2>治水腫症</h2>
<p>水腫，土不能剋水也。方用：</p>
<p>牽牛（三錢）　甘遂（三錢）　水煎服</p>
<p>此症治法雖多，獨此方奇妙；其次雞屎醴亦效，雞屎醴治血臌尤效。一說前方用牛、遂各三錢，過於峻猛，不如用一錢，病去不傷本，不去（消）再進，不失中和之道。</p>

<h2>治呃逆方</h2>
<p>此症乃水氣凌心包絡也。心包為水氣所凌，呃逆不止，欲號召五臟之氣，救水氣之犯心也。法當利濕分水，而呃逆自除也。方用止呃湯：</p>
<p>茯神（一兩）　蒼朮（三錢）　白朮（三錢）　薏仁（一兩）　芡實（五錢）　半夏（制，一錢）　人參（三錢）　陳皮（三錢）　丁香（五分）　吳茱萸（三分）　水煎服</p>
<p>一劑而呃即止，二劑而呃即愈。</p>

<h2>治水結膀胱</h2>
<p>其症目突口張，足腫氣喘，人以為不治之症也，不知膀胱與腎相為表裡，膀胱之開合，腎司其權也，特為通其腎氣，而膀胱自然通矣。方用通腎消水湯：</p>
<p>熟地（一兩）　山萸（錢半）　車前子（三錢）　肉桂（一錢）　牛膝（一錢）　山藥（一兩）　薏仁（一兩）　水煎服</p>

<h2>治黃疸病</h2>
<p>此症外感之濕易治，內傷之濕難療。外感者，利水則愈。若內傷，瀉水則氣消，發汗則精泄，必健脾行氣而後可也。〔方用〕：</p>
<p>白朮（一兩）　茯苓（一兩）　薏仁（一兩）　茵陳（三錢）　黑梔（三錢）　陳皮（五分）　水煎服</p>
<p>此乃治內傷之方也，如欲多服，去梔子。</p>

<h2>治痿症</h2>
<p>不能起床，已成廢人者，火盛內熾，腎水熬干矣。治法降胃火而補腎水可也，方用降補丹：</p>
<p>熟地（一兩）　元參（一兩）　麥冬（一兩）　甘菊（五錢）　車前子（二錢）　生地（五錢）　人參（三錢）　沙參（五錢）　地骨皮（五錢）　水煎服</p>
<p>又有兩足無力，不能起立，而口又健飯，如少飢餓，即頭面背熱，咳嗽不已，此亦痿症，方用起痿至神湯：</p>
<p>熟地（一兩）　元參（一兩）　山藥（一兩）　甘菊花（一兩）　人參（五錢）　當歸（五錢）　白芍（五錢）　白芥子（三錢）　神麯（二錢）　〔水煎服〕，服三十劑愈。</p>

<h2>癉症</h2>
<p>雖因風寒濕而來，亦因身中元氣之虛，邪始得乘虛而入。倘攻邪而不補正氣，則病難全（痊）。今於補正之中，佐以祛風濕寒之品，而癉症失。</p>
<p>白朮（五錢）　人參（三錢）　茯苓（一兩）　柴胡（一錢）　附子（一錢）　半夏（一錢）　陳皮（五分）　水煎服</p>

<h2>厥症</h2>
<p>人有忽然發厥，閉眼撒手，喉中有聲，有一日死者，有二、三日死者。此厥多犯神明，然亦素有痰氣而發也。治宜攻痰而開心竅，方用起迷丹：</p>
<p>半夏（五錢）　人參（五錢）　菖蒲（二錢）　菟絲子（一兩）　茯神（三錢）　皂莢（一錢）　生薑（一錢）　甘草（三分）　水煎服</p>

<h2>倒飽中滿症</h2>
<p>氣虛不能食，食則倒滿。</p>
<p>人參（一錢）　白朮（二錢）　茯苓（三錢）　陳皮（三分）　蘿蔔子（一錢）　薏仁（五錢）　芡實（五錢）　山藥（三錢）　甘草（一分）　水煎服</p>
<p>下喉雖則微脹，入腹漸覺爽快。</p>

<h2>治疝氣</h2>
<p>方用去鈴丸：</p>
<p>大茴香（一斤）　生薑（一斤）</p>
<p>取薑汁盡入茴香內，浸一宿，〔焙乾研末〕，入青鹽二兩，〔和勻，同炒〕，酒糊丸梧子大。每服三十丸，溫酒或米飲送下。</p>

<h2>腎子大痛方</h2>
<p>澤瀉（一錢）　陳皮（一錢）　吳茱萸（五分）　丹皮（五分）　赤茯苓（一錢）　蒼朮（五分）　枳實（五分）　山楂（四分）　小茴香（五分）　蘇梗（四分）　姜〔水〕煎服</p>

<h3>又方</h3>
<p>大茴香（酒炒）　小茴香（酒炒）　赤石脂（煅）　廣木香（各等分　為末），烏梅肉搗爛為丸，梧子大，空心每服十五丸，蔥酒（湯）送下，立效。</p>

<h3>又治偏墜方</h3>
<p>〔小〕茴香　豬苓等分，微炒為末，空心鹽湯調下。又〔熱〕鹽熨甚神效。</p>

<h2>開鬱方</h2>
<p>如人頭痛身熱，傷風咳嗽，或心不爽而鬱氣蘊於中懷；或氣不舒而怨氣留於脅下，不可用補藥，方〔用〕：</p>
<p>柴胡（一錢）　白芍（五錢）　薄荷（一錢）　丹皮（一錢）　當歸（三錢）　半夏（二錢）　白朮（二錢）　枳殼（一錢）　甘草（一錢）　水煎服</p>
<p>如頭痛，加川芎一錢；目痛，加蒺藜一錢、甘菊花一錢；鼻塞，加蘇葉一錢；喉痛，加桔梗二錢；肩背痛，加枳殼、羌活（原文即缺分量）；兩手痛，加薑黃或桂枝一錢；兩脅痛，倍柴胡、白芍；胸痛，加枳殼一錢；腹痛不可按者，加大黃二錢；按之而不痛者，加肉桂一錢。</p>

<h2>反胃大吐方</h2>
<p>大吐之症，舌有芒刺，雙目紅腫，人以為熱也，不知此乃腎水之虧也。（《傅青主男科》作「誰知是腎水之虧乎？」）蓋脾胃必借腎水而滋潤，腎水一虧，則脾胃之火，沸騰而上行，以致目紅腫而舌芒刺也。但此症時躁時靜，時欲飲水，及水至又不欲飲，即強飲之亦不甚快活，此乃上假熱而下真寒也。宜六味〔地黃〕湯加桂附，水煎服。</p>

<h3>外治法</h3>
<p>先以手擦其足心，使滾（極）熱〔時〕，然後〔用〕附子一枚煎湯，用鵝翎掃之，隨干隨掃，少頃即不吐亦。後以六味地黃湯大劑飲之，〔即〕安然也。或〔服〕逍遙散加黃連，〔亦〕立止也。無如世醫以雜藥妄投而成噎隔矣，方用：</p>
<p>熟地（二兩）　山萸（一兩）　北五味（二錢）　元參（一兩）　當歸（五錢）　牛膝（三錢）　白芥子（三錢）　水煎服</p>
<p>蓋腎水不足，則大腸必干而細，飲食入胃，不能下行，故反而上吐也。</p>

<h3>又方</h3>
<p>反胃有食入而即吐出者，腎水虛不能潤喉，故喉燥而即出也。方用：</p>
<p>熟地（二兩）　山茱萸（五錢）　山藥（一兩）　澤瀉（三錢）　丹皮（三錢）　茯苓（五錢）　麥冬（五錢）　北五味（二錢）　水煎服</p>

<h3>又方</h3>
<p>反胃有食久而反出者，腎火虛不能溫脾，故脾寒而反出也。方用：</p>
<p>熟地（二兩）　山茱萸（一兩）　山藥（六錢）　附子（三錢）　茯苓（三錢）　澤瀉（三錢）　丹皮（三錢）　肉桂（三錢）　水煎服</p>

<h2>大吐寒邪犯腎方</h2>
<p>寒邪入腎宮，將脾胃之水，挾之盡出，手足厥逆，少腹或痛而不可忍，以火熱之物，熨之少快，否則寒冷欲死，不知者以為胃病，而乃腎病也。</p>
<p>方　用</p>
<p>附子（一個）　白朮（四兩）　肉桂（一錢）　乾薑（三錢）　人參（三兩）　水煎服</p>
<p>下喉便覺吐定，煎渣服之，則安然如故矣。</p>

<h2>嘔吐補腎方</h2>
<p>人以嘔吐為胃虛，誰知由於腎虛〔乎〕？故治吐不效，未見病之根也。方用：</p>
<p>人參（三錢）　白朮（五錢）　薏仁（五錢）　芡實（五錢）　砂仁（五個）　吳茱萸（五分）　水煎服</p>

<h2>火吐方</h2>
<p>火吐若降火，則火由脾而入於大腸，必變為便血之症，方宜清水（火）止吐湯：</p>
<p>茯苓（一兩）　人參（二錢）　砂仁（三粒）　黃連（三錢）　水煎服</p>

<h2>寒吐方</h2>
<p>寒吐若降寒，則寒又引入腎而流於膀胱，必變為遺尿之症，方宜止嘔散寒湯：</p>
<p>白朮（二兩）　人參（五錢）　附子（一錢）　乾薑（一錢）　丁香（五分）　水煎服</p>
<p>此方散寒而用補脾之品，則寒不能上越，而亦不得下行，勢不得不從臍而出。</p>

<h2>腎寒吐瀉</h2>
<p>腎寒吐瀉由心寒胃弱，嘔吐不已，食久而出是也。下痢不已，五更時痛瀉三、五次者是也。此症人以為脾胃之寒，服脾胃藥而不效者，何也？蓋胃為腎之關，脾為腎之海。胃氣弱不補命門之火，則心包寒甚，何以生胃土而消穀食？脾氣弱不補命門之火，則下焦虛冷，何以化糟粕（飲食）而生精微？故〔補〕脾胃莫急於補腎也。方用：</p>
<p>熟地（三兩）　山萸（二兩）　茯苓（三兩）　人參（三兩）　北五味（一兩）　山藥（四兩）　附子（一兩）　肉桂（一兩）　吳茱萸（五錢）　細末為丸，空心服。</p>

<h2>辨脾胃症</h2>
<p>凡人能食而食不化者，乃胃不病而脾病也，當以補脾，而補脾尤宜於補腎中之火，蓋腎火能生脾土也。</p>
<p>凡人不能食，食之而安然者，乃胃病而非脾病也，不可補腎中之火，當補心中之火，蓋心火能生胃土也。</p>
<p>世人一見不飲食，動曰脾胃病，而不分胃之虛寒責之心，不分脾之虛寒責之腎也。</p>

<h2>補胃方</h2>
<p>心腎兼補，治脾胃兩虛者固效矣。若單是胃之虛寒者，自宜獨治心之為妙。方用：</p>
<p>人參（一兩）　白朮（三兩）　茯神（三兩）　菖蒲（五錢）　良薑（五錢）　白芥子（三錢）　棗仁（五錢）　半夏（三錢）　附子（三錢）　山藥（四錢）　遠志（一兩）　蓮子（三兩）　白芍（二兩）　上為末，蜜丸，每日滾水送下三錢。</p>
<p>胃土由於脾虛，脾氣不下行，必自上反而吐，補脾則胃安。方用：</p>
<p>人參（三錢）　茯苓（三錢）　白朮（五錢）　甘草（一錢）　肉桂（一錢）　神麯（一錢）　半夏（一錢）　砂仁（三粒）　水煎服</p>
<p>此方治胃病以補脾土者，何也？蓋胃為脾之關，關門之沸騰，由於關中之潰亂。然則欲使關中之安靜，必先使關外之數寧，況方中有砂仁、半夏、神麯等味，全是止吐之品，有不奏功如神者乎？此脾胃雙補法也。</p>

<h2>陽症吐血方</h2>
<p>凡人感暑傷氣，忽然吐血盈盆，人以為陰虛，不知陰虛吐血，與陽虛不同：陰虛吐血者，人安靜，不似陽虛之躁動不寧也；陽虛必大熱作渴，欲飲冷水，舌必有刺，不似陰虛之口不渴而舌苔滑也。法當清胃火，不必止血。方用：</p>
<p>石膏（三錢）　青蒿（五錢）　香薷（三錢）　荊芥（一錢）　當歸（三錢）　人參（三錢）　水煎服</p>
<p>此乃陽症吐血之神劑也。方中雖有解暑之味，然而補正多於解暑。去香薷一味，實可通治。但此方止可用一二劑，即改用六味地黃湯。</p>
<p>又　方</p>
<p>凡人吐血，人以為火也。用涼藥以瀉火，乃火愈退而血愈多；或用止血之品仍不效，此乃血不歸經也，當用補氣之藥，而佐以歸經之味，不必止〔血〕而自止矣。方用：</p>
<p>人參（五錢）　當歸（一兩）　荊芥（三錢，炒黑）　丹皮（二錢，炒黑）　水煎服</p>
<p>〔服〕一劑而血無不止者。〔此〕方妙在不專補血，而反去補氣以補血；尤妙在不去止血，而去行血以止血。蓋血逢寒則凝結而不行，逢散即歸經而不逆，救死於呼吸之際，實大有奇功。</p>

<h2>大怒吐血</h2>
<p>有大怒後吐血，或傾盆而出，或沖口而來，一時昏暈，死在頃刻也。以止血治之，則氣悶而不安；以補血治之，則胸滿而不受；有變症蜂起而死者，不可不治之得法也。方用解血平氣湯：</p>
<p>白芍（二兩）　當歸（二兩）　黑荊芥（三錢）　柴胡（八分）　黑梔（三錢）　紅花（二錢）甘草（一錢）　水煎服</p>
<p>一劑而氣平舒，二劑而血止息，三劑而病大愈。蓋怒傷肝，不能平其氣，以致吐血。〔若〕不先舒氣而遽止血，〔則〕愈激動肝木之氣，氣愈旺而血愈吐矣。方中芍藥〔為〕多用之妙品，平肝又舒氣。荊芥、柴胡，皆引血歸經之品。〔當歸、紅花生新去舊，安有不愈者哉？〕</p>

<h2>三黑神奇飲</h2>
<p>丹皮（七分，炒黑）　梔子（五分）　真蒲黃（一錢二分，炒黑）　貝母（一錢）　陳皮（七分）　川芎（一錢，酒炒）　生地（一錢，酒炒）水二樽，童便、藕汁各半樽，煎服。</p>
<p>此方治吐血之症，神效無比，二劑而自止。</p>

<h2>短氣方</h2>
<p>此症狀似乎喘而實非喘，作實喘治之立死矣。蓋短氣乃腎氣虛耗，氣衝於上焦，壅塞於肺經，症似有餘而實為不足也。方用：</p>
<p>人參（二兩）　牛膝（三錢）　熟地（一兩）　麥冬（五錢）　破故紙（三錢）　山萸（三錢）　枸杞（三錢）　胡桃肉（三個）　北五味（二錢）　水煎服</p>
<p>不過三劑而氣平喘定。此方妙在用人參之多，能下達氣原，挽回於無何有之鄉。其餘純是補腎補肝之品，子母相生，水氣自旺，水旺則火自安於故宅，不上衝於咽門，此治氣短之妙法也。</p>

<h2>實喘方</h2>
<p>看其症若重而實輕，方用：</p>
<p>黃芩（二錢）　麥冬（三錢）　柴胡（一錢）　蘇葉（一錢）　山豆根（一錢）　半夏（一錢）　烏藥（一錢）　甘草（五分）　水煎服</p>
<p>一劑喘定，不必再劑也。然實喘之症，氣大急，喉中必作聲，肩必抬起。</p>

<h2>虛喘方</h2>
<p>氣少息而喉無聲，肩不抬起也。此乃腎氣大虛，脾氣又復將絕，故奔沖而上，欲絕未絕也。方用救絕止喘湯：</p>
<p>人參（一兩）　山萸（三錢）　熟地（一兩）　牛膝（一錢）　北五味（一錢）　麥冬（五錢）　白芥子（三錢）　水煎服</p>

<h2>抬肩大喘方</h2>
<p>人忽感風邪，寒入於肺，以致喘急肩抬氣逆，痰吐不出，身不能臥。方用：</p>
<p>柴胡（二錢）　茯苓（二錢）　麥冬（二錢）　桔梗（二錢）　當歸（二錢）　黃芩（一錢）　射干（一錢）　半夏（一錢）　甘草（一錢）　水煎服</p>
<p>此方妙在用柴胡、射干、桔梗，以發舒肺金之氣，用半夏以去痰，黃芩以去火。蓋外感寒邪，內必變為熱症，故用黃芩以清解之；然徒用黃芩，雖曰清火，轉足以抑遏其火氣，而火未必伏也。尤妙在以桔梗、柴胡、射干，一派辛散之品，〔則〕更足以消火滅邪也。</p>
<p>又方論：凡人有喘不〔能〕臥，吐痰如湧泉者，舌不燥而喘不止，一臥即喘——此非外感之寒邪，乃腎中之寒氣也。蓋腎中無火，則水無所養，乃泛上而為痰。方宜用六味地黃湯加附子肉桂，大劑飲之。凡人之臥，必得腎氣與肺氣相安，而後河車之路，平安而無奔越也。</p>

<h2>又氣喘治法</h2>
<p>如氣喘而上者，人以為氣有餘也，殊不知氣盛當作氣虛〔看〕，有餘當作不足看。若認作肺氣之盛，而誤用蘇葉、桔梗、百部等藥，〔則〕欲病去而愈遠矣。〔方用〕</p>
<p>人參（一兩）　牛膝（三錢）　熟地（五錢）　山萸（四錢）　北五味（一錢）　枸杞（一錢）　麥冬（五錢）　胡桃（三個）　生薑（五片）　水煎服</p>
<p>此方不治肺，而正所以治肺也。或疑人參乃健脾之藥，既宜補腎，〔則〕不宜多用人參；不知腎水大虛，一時不能遽生，非急補其氣，則元陽一線，必且斷絕；況人參少用即泛上，多用即下行，妙在用人參兩許，使下達病原，補氣以生腎水。藥（方）中熟地、山萸之類，同氣相求，直入命門，又何患其多哉？若病重之人，尤宜多加，一兩尚欠也。</p>
<p>但喘，有初起之喘，多實邪；〔有〕久病之喘，多氣虛。實邪喘者，必抬肩；氣虛喘者，微微氣急耳。此〔方〕治久病喘之方也。若初起之喘，（服）四磨、四七湯，一劑即止。喘不獨肺氣虛，而腎水渴（竭）也。</p>

<h3>又方</h3>
<p>腎火之逆，扶肝氣而上衝之喘也，病甚有吐紅粉痰者，此腎火炎上以燒肺金，肺熱不能克肝，而龍雷之火升騰矣。龍雷火，相火也。方用：</p>
<p>地骨皮（一兩）　沙參（一兩）　麥冬（五錢）　白芍（五錢）　桔梗（五分）　白芥子（二錢）　丹皮（三錢）　甘草（三分）　水煎服</p>
<p>此方妙在地骨皮清骨髓中之火，沙參、丹皮以養陰，白芍平肝，麥冬清肺，甘草、桔梗引入肺經，則痰喘除，而氣喘可定矣。</p>

<h2>貞元飲</h2>
<p>治喘而脈微澀者。</p>
<p>熟地（三兩）　當歸（七錢）　甘草（一錢）　水煎服</p>
<p>婦人多有此症。</p>

<h2>喘嗽方</h2>
<p>如病喘嗽，人以為肺虛而有風痰，不知非然，乃氣不能歸源於腎，而肝木挾之作祟耳。法當峻補其腎，少助引火之品，則氣自歸源，而喘嗽自止矣。方用：</p>
<p>人參（一兩）　熟地（二兩）　麥冬（五錢）　五味子（一錢）　枸杞（一錢）　牛膝（一錢）　菟絲子（一錢）　茯苓（三錢）　白朮（一錢）　水煎服</p>
<p>連服幾劑，必有奇功。倘以四磨、四七湯治之，必不效矣。</p>
<p>更有假熱氣喘吐痰之症，人以為熱，而非熱也，乃下元寒極，逼其火而上喘也。此最危急之症，苟不急補其腎與命門之火，則一線之微，必然斷絕。方〔用〕：</p>
<p>熟地（四兩）　山藥（三兩）　麥冬（三兩）　五味子（一兩）　牛膝（一兩）　附子（一錢）　肉桂（一錢）　水煎冷服，一劑而愈。</p>

<h2>久嗽方</h2>
<p>人參（一錢）　白芍（三錢）　棗仁（三錢）　北五味（一錢）　益智（五分）　蘇子（一錢）　白芥子（一錢）　水煎服</p>
<p>二劑後，服六味地黃丸。</p>

<h3>又方</h3>
<p>秋傷於濕，若用烏梅、米殼，斷乎不效，〔方用〕：</p>
<p>陳皮　當歸　白朮　枳殼　桔梗　甘草（等分）　水煎服</p>
<p>三劑帖然矣。冬嗽皆秋傷於濕也，豈可拘於受寒乎？</p>

<h2>肺嗽兼補腎方</h2>
<p>肺嗽之症，本是肺虛，其補肺也明矣，奈何兼補腎也？不知肺經之氣，夜臥必歸於腎中。若肺經為心火所傷，必求救於子，子若力量不加（足），將何以救其（報其）母哉？方用：</p>
<p>熟地（一兩）　山萸（四錢）　麥冬（一兩）　元參（五錢）　蘇子（一錢）　甘草（一錢）　牛膝（一錢）　沙參（三錢）　天冬（一錢）　紫菀（五分）　水煎服</p>

<h2>久嗽方</h2>
<p>治久嗽，不論老少，神效。</p>
<p>烏梅（五錢）　薄荷（五分）　杏仁（一錢）　硼砂（一錢）　人參（一錢童便浸）　五味子（五錢，酒浸蒸）　寒水石（一錢，火煅）　貝母（三兩）　栝蔞仁（五錢，去油）　胡桃仁（三錢，去皮）　甘草（五分）。</p>
<p>共為末，蜜丸，櫻桃大，淨綿包之，口中噙化。虛勞嗽未曾失血，脈未數者，皆可用之，不過十粒即見效，〔二十粒愈〕。</p>

<h2>又治久嗽方</h2>
<p>人參　當歸　細茶（各一錢）</p>
<p>三味共三錢，水煎數沸，連渣嚼盡，一二服立效，不必三劑也。</p>

<h2>治〔滯〕痰方</h2>
<p>夫痰之滯，乃氣之滯〔也〕，苟不補氣而惟去痰，未見痰去而病消也。方用：</p>
<p>人參（一錢）　白朮（二錢）　茯苓（三錢）　陳皮（一錢）　白芥子（一錢）　花粉（一錢）　蘇子（八分）　肉豆蔻（二粒）　水煎服</p>

<h2>治〔濕〕痰方</h2>
<p>治痰之法，不可徒去其濕，必以補為先，而佐以化痰之品，〔乃克有效〕。方用：</p>
<p>人參（二錢）　茯苓（三錢）　薏苡仁（五錢）　半夏（三錢）　陳皮（一錢）　神麯（一錢）　甘草（一錢）　水煎服</p>
<p>此方之中用神麯，人多不識其意，謂神麯乃消食之聖藥，非化痰之神品也。殊不知，痰之積聚稠黏，甚不易化，惟用神麯以發之，則積聚稠黏開矣。繼以半夏、陳皮，可以奏功。然雖有半夏、陳皮消痰，使不多用人參，則痰何從消？有人參以助氣，〔又〕有薏仁、茯苓，能健脾去濕，濕去而痰亦去矣。</p>

<h2>〔寒痰〕</h2>
<p>更有氣虛痰寒者，即用前方，加肉桂三錢、乾薑五分足矣。</p>

<h2>〔熱痰〕</h2>
<p>更有氣虛痰熱者，不可用此方，當用：</p>
<p>麥冬（二錢）　白芍（二錢）　花粉（一錢）　陳皮（一錢）　白芥子（一錢）　當歸（三錢）　茯苓（二錢）　神麯（三分）　甘草（一錢）　水煎服</p>

<h2>腎水成痰引火下降方</h2>
<p>腎中之水，有火則安，無火則泛。倘人過於入房，則水去而火亦去，久之則水虛而火亦虛；水無可藏之地，則必泛上而為痰矣。治〔之〕法，欲抑水之下降，必先使火之下溫，當於補氣之中，又用大熱之藥，使水足以制火，而火足以暖水，則水火有既濟之美也，〔自不上泛為痰矣〕。方用：</p>
<p>熟地（三兩）　山萸（一兩）　肉桂（二錢）　北五味（一錢五分）　牛膝（三錢）　水煎服。</p>
<p>一劑而痰下行，二劑而痰無不消矣。</p>
<p>凡人久有痰病不愈，用豬肺一個，蘿蔔子五錢，研碎，白芥子一兩，五味調和，飯鍋蒸熟。飯過頓服一個即愈。此乃治上焦之痰，湯藥不愈者，最神效。</p>

<h2>治痰之法</h2>
<p>古人所立治痰之方，皆是治痰之標，而不能治痰之本也。如二陳湯，上、中、下久暫之痰通治之，而無實效也。今立三方，痰病總不出其範圍也：</p>

<h2>初病之痰</h2>
<p>傷風咳嗽吐痰是也。方用：</p>
<p>半夏（一錢）　陳皮（一錢）　花粉（一錢）　茯苓（一錢）　蘇子（一錢）　甘草（一錢）　水煎服</p>
<p>二劑而痰可消矣。此方去上焦之痰，上焦之痰，原在胃中，而不在肺；去其胃中之痰，而肺金自然清肅，又何至火之上升哉？</p>

<h2>已病之痰</h2>
<p>必觀其色之白與黃而辨之：黃者火已退也，白者火正熾也。正熾者用寒涼之品，將退者用祛逐之味。今一方而俱治之，方用：</p>
<p>白朮（三錢）　白芥子（三錢）　茯苓（五錢）　陳皮（一錢）　甘草（一錢）　枳殼（五分）　水煎服</p>
<p>有火加梔子，無火不必加。此方健脾去濕，治痰之在中焦者也。</p>
<p>又治已病之痰。〔方用〕</p>
<p>白朮（五錢）　茯苓（五錢）　薏仁（五錢）　陳皮（一錢）　天花粉（二錢）　益智仁（三分）　人參（三分）　水煎服</p>
<p>有火加黃芩一錢，無火加乾薑一錢、甘草二分。此方健脾去濕而不耗氣，二劑而痰自消也。</p>

<h2>久病之痰</h2>
<p>久病之痰，切不可作脾濕生痰論之。蓋久病不愈，未有不因腎水虧損者也；非腎水泛上為痰，即腎火沸騰為痰。當補腎以祛逐之，方用：</p>
<p>熟地（五錢）　薏仁（五錢）　芡實（五錢）　山藥（三錢）　山萸（三錢）　北五味（一錢）　麥冬（三錢）　茯苓（三錢）　車前子（一錢）　益智仁（三分）　水煎服</p>
<p>此治水泛為痰之聖藥也。若火沸為痰，加肉桂一錢，補腎去濕而化痰。水入腎宮，自變化為真精，而不變為痰矣。此治下焦之法也。</p>
<p>又治久病之痰，方用六味地黃丸，加麥冬、五味子，實有奇功。無火加附子、肉桂可耳。</p>

<h2>〔老痰〕</h2>
<p>痰在胸膈而不化者，為老痰也。方宜用：</p>
<p>白芍（三錢）　茯苓（三錢）　柴胡（一錢）　甘草（一錢）　陳皮（三分）　白芥子（五錢）　丹皮（二錢）　花粉（八分）　薏仁（五錢）　水煎服</p>
<p>〔此方〕妙在白芥子為君，薏仁、白芍為臣，柴胡、花粉為佐，使老痰無處可藏，用八、九劑而老痰可化也。</p>

<h2>〔頑痰〕</h2>
<p>又痰成而塞咽喉者，為頑痰也。方用：</p>
<p>貝母（三錢）　半夏（三錢）　茯苓（三錢）　白朮（三錢）　神麯（三錢）　紫菀（二錢）　桔梗（三錢）　白礬（一錢）　甘草（一錢）　水煎服</p>
<p>此方妙在半夏、貝母同用，一燥一濕，使痰無處逃避。又有白礬消塊，〔桔〕梗、〔紫〕菀去邪，甘草調中，有不奏功者乎？</p>

<h2>瀉火湯總方</h2>
<p>梔子（三錢）　白芍（五錢）　丹皮（三錢）　元參（二錢）　甘草（一錢）　水煎服</p>
<p>心火加黃連一錢，胃火加石膏三錢，腎火加黃柏、知母各一錢，肺火加黃芩一錢，大腸火加地榆一錢，小腸火加天〔冬〕、麥冬各一錢，膀胱火加澤瀉三錢。</p>
<p>治火何獨治肝經也？蓋肝屬木，木易生火。肝火散而諸經之火俱散，但散火必須加下泄之藥，而使火之有出路也，則得矣。</p>

<h2>初病治法</h2>
<p>如人病初起之時，用藥原易奏功。無如〔世〕人看不清〔症〕，用藥錯亂，往往變症蜂起。苟看病真，用藥當，又何有變症耶？如傷風之症，必然頭痛身疼，咳嗽痰多，鼻流清水，切其脈必浮，此傷風也。〔方用〕</p>
<p>防風（一錢）　柴胡（一錢）　黃芩（一錢）　半夏（一錢）　荊芥（一錢）　甘草（一錢）　水煎服</p>
<p>一劑即止，不必再劑也。</p>

<h2>〔傷寒〕</h2>
<p>傷寒初起，鼻塞目痛，項強頭痛，切其脈必浮緊，此傷寒也。方用：</p>
<p>桂枝（一錢）　甘草（一錢）　陳皮（一錢）　乾葛（一錢）　水煎服一劑而愈。</p>

<h2>〔傷食〕</h2>
<p>如傷食〔必〕心中飽悶，見食則惡，食之轉痛也。方用：</p>
<p>白朮（一錢）　茯苓（一錢）　枳殼（一錢）　山楂（二十粒）　穀芽（二錢）　麥芽（二錢）　神麯（五錢）　半夏（一錢）　砂仁（三粒）　甘草（五分）　水煎服一劑快，二劑愈。</p>

<h2>〔傷暑〕</h2>
<p>如傷暑，必然頭暈口渴惡熱，甚則痰多身熱氣喘是也。方用：</p>
<p>青蒿（一兩）　香薷（三錢）　白朮（五錢）　陳皮（一錢）　茯苓（三錢）　甘草（一錢）　水煎服</p>
<p>有人參加一錢，無亦可。一劑愈。</p>

<h2>〔傷濕〕</h2>
<p>如傷濕，必然惡濕，身重足腫，小便短赤。又方用：</p>
<p>澤瀉（三錢）　豬苓（三錢）　肉桂（五分）　茯苓（五錢）　白朮（五錢）　車前子（一錢）　柴胡（一錢）　半夏（一錢）　水煎服，一劑可愈。</p>

<h2>〔燥症〕</h2>
<p>燥病初起，咽乾口燥，不吐痰，乾咳嗽不已，面目紅，不畏風吹是也。方用：</p>
<p>麥冬（五錢）　元參（五錢）　桔梗（三錢）　甘草（一錢）　花粉（一錢）　陳皮（三分）　百部（八分）　水煎服</p>

<h2>〔火症〕</h2>
<p>火症初起，必大渴引飲，身有斑點，或身熱如焚，或發狂亂語。方用：</p>
<p>石膏（三錢）　元參（一兩）　麥冬（一兩）　甘草（三錢）　升麻（三錢）　知母（三錢）　半夏（三錢）　竹葉（百片）　水煎服</p>
<p>一、二劑可止可安，〔三劑愈〕，不必四劑也。</p>

<h2>發汗奇法</h2>
<p>邪居腠理之間，必用汗藥以泄之。方用：</p>
<p>荊芥（一錢）　桔梗（一錢）　防風（一錢）　甘草（一錢）　蘇葉（一錢）　白朮（五錢）　茯苓（三錢）　陳皮（五分）　水煎服</p>
<p>此方妙在〔以〕白朮為君。蓋人之脾胃健，而後皮毛、腠理始得開闔自如。白朮健脾去濕，而邪已難存；況有荊〔芥〕、防〔風〕、蘇〔葉〕、〔桔〕梗以表散之乎？</p>

<h2>癆病症</h2>
<p>勞病既成，最難治者。蓋必有蟲生之，以食人之氣血也。若徒補其氣血，而不入殺蟲之品，則飲食入胃，只蔭蟲而不生氣血矣。〔若〕但只殺蟲而不補氣血，則五臟盡傷，又何有生理哉？惟於大補之中，加入殺蟲之品，則元氣既全，真陽未散，蟲死而身安矣。方用：</p>
<p>人參（三兩）　熟地（八兩）　地慄粉（八兩）　鱉甲（一斤，醋炙）　神麯（五兩）　麥冬（五兩）　桑葉（八兩）　白薇（三兩）　山藥（一斤）　何首烏（八兩）</p>
<p>上共為末，將山藥末打成糊，〔和〕為丸。每日滾白水送下五錢，半年而蟲從大便出〔矣〕。</p>

<h2>〔未成癆而將成癆病〕</h2>
<p>未成癆病，而將成癆病者，方用：</p>
<p>熟地（一兩）　地骨皮（五錢）　人參（五錢）　麥冬（五錢）　白朮（一錢）　山藥（三錢）　白芥子（三錢）　北五味（三分）　水煎服</p>

<h2>陽虛下陷方</h2>
<p>人因飢飽勞役，內傷正氣，以致氣乃下行，脾胃不能克化，飲食不能運動，往往變成癆瘵。</p>
<p>若疑飲食不進，為脾胃之火，肉黍之積，輕則砂仁、枳殼、山楂、麥芽之品，重則芒硝、大黃、牽牛、巴豆之類，紛然雜進，必致臌悶〔而漸成癆矣〕。倘先以升提之藥治之，何至於此？方用：</p>
<p>人參（一錢）　柴胡（一錢）　陳皮（一錢）　甘草（一錢）　黃耆（三錢）　當歸（三錢）　白朮（三錢）　升麻（三分）　水煎服</p>
<p>凡人右手寸脈，大於左手寸脈，即內傷之症；不論左右關、尺脈何如，以此方投之，最神效。</p>

<h2>陰虛下陷方</h2>
<p>如人陰虛脾泄，歲久不止；或食而不化；或化而溏泄，方用：</p>
<p>熟地（五錢）　山萸（五錢）　白朮（一兩）　山藥（三錢）　北五味（一錢）　肉桂（一錢）　茯苓（三錢）　升麻（三分）　車前子（一錢）　水煎〔晚〕服</p>
<p>此方純是補陰之藥，惟升麻以提陰中之氣；又有溫濕之品，以暖命門而健脾土，又何至再溏泄哉？</p>

<h2>陰虛火動夜熱晝寒方</h2>
<p>如腎水虛兼感寒者，或腎水虧竭，夜熱晝寒，此等症若認作陽症〔治之〕，則口渴而熱益熾，必致消盡陰水，吐痰如絮，咳嗽不已，聲啞聲嘶，變成癆瘵。法當峻補其陰，則陰水足而火焰自消，骨髓清泰矣。方用：</p>
<p>熟地（一兩）　北五味（五錢）　地骨皮（三錢）　白芥子（三錢）　車前子（一錢）　山萸（五錢）　麥冬（五錢）　元參（三錢）　丹皮（一錢）　沙參（五錢）　芡實（五錢）　桑葉（七片）　水煎服</p>
<p>此治陰虛火動者神效。</p>

<h3>又方</h3>
<p>治陰寒無火，〔方〕用：</p>
<p>肉桂（一錢）　附子（一錢）　熟地（一兩）　山茱萸（四錢）　白朮（三錢）　人參（三錢）　柴胡（五分）　水煎服</p>
<p>二方治陰之中，即有以治陽；而治陽之中，即藏於補陰也。</p>

<h2>過勞方</h2>
<p>凡人過勞，脈必浮大不倫。若不安閒作息，必有吐血之症，當用（宜）滋補，方用：</p>
<p>人參（三兩）　白朮（五兩）　茯苓（三兩）　熟地（五兩）　山茱萸（四兩）　當歸（八兩）　白芍（五錢）　黃耆（五錢）　麥冬（三兩）　砂仁（五錢）　神麯（一兩）　五味子（三兩）　陳皮（五錢）</p>
<p>共為末，煉蜜為丸。每日早晚〔各〕服五錢。</p>

<h2>日重夜輕方</h2>
<p>病重於日間，而發寒發熱，較夜尤重，此等症必須從天未明而先截之。方用：</p>
<p>柴胡（三錢）　當歸（三錢）　黃耆（五錢）　人參（一錢）　陳皮（一錢）　半夏（一錢）　青皮（一錢）　枳殼（一錢）　白朮（五錢）　甘草（一錢）　乾薑（五分）　水煎服</p>

<h3>又方</h3>
<p>更易。〔方用〕</p>
<p>人參（一錢）　陳皮（一錢）　甘草（一錢）　白朮（五錢）　柴胡（二錢）　白芥子（一錢）　熟地（一兩）　水煎服</p>

<h2>夜重日輕方</h2>
<p>病重於夜間，而發寒發熱，或寒少而熱多，或熱少而寒多，一到天明〔便〕覺清爽，一到黃昏〔即〕覺沉重，此陰氣甚虛也。方用：</p>
<p>熟地（一兩）　山萸（四錢）　當歸（三錢）　白芍（三錢）　何首烏（三錢生用）　柴胡（三錢）　麥冬（三錢）　鱉甲（五錢）　白芥子（三錢）　茯苓（五錢）　陳皮（一錢）　五味子（一錢）　水煎服</p>
<p>此方妙在用鱉甲，乃主陰之物，逢陰則入，遇陽則轉；生何首烏，直入陰經，亦攻邪氣；以（白）芥子祛痰，又不耗其真陰之氣；有不奏功者乎？必須黃昏〔時〕服，以此藥則陰氣固而邪不敢入矣。</p>

<h2>〔陰邪兼陽邪〕</h2>
<p>然亦有陰邪而兼陽邪，亦發於夜間，其病亦發寒發熱，無異純陰邪氣之症，但少少煩躁耳，不若陰症之常靜也。法當於補陰之中少加陽藥一二味，使陽長陰消，自然奏功如響〔矣〕。</p>
<p>方用：</p>
<p>熟地（一兩）　山萸（四錢）　當歸（三錢）　鱉甲（五錢）　白芥子（三錢）　柴胡（二錢）　陳皮（一錢）　茯苓（五錢）　麥冬（三錢）　北五味（一錢）　人參（二錢）　白朮（三錢）　何首烏（三錢，生用）　水煎服</p>

<h2>氣治法</h2>
<p>氣虛氣實，不可不平之也。氣實者，非氣實乃正氣虛而邪氣實也。方（法當）用補正之藥，而加祛逐之品，則正氣旺而邪氣消矣。方用：</p>
<p>人參（一錢）　白朮（一錢）　甘草（一錢）　麻黃（一錢）　半夏（一錢）　柴胡（三錢）　白芍（三錢）　水煎服</p>
<p>推而廣之，治氣非一條也：氣陷，補中益氣湯可用；氣衰，六君子湯可採；氣寒，人參白朮附子湯可施；氣虛，則用四君子湯；氣鬱，則用歸脾湯；氣熱，則用生脈散；氣喘，則用獨參湯；氣動，則用二陳湯加人參；氣壅塞，則用射干湯；氣逆，則用逍遙散。</p>
<p>總之，氣虛則羸弱，氣實則壯盛。虛者用前方；實者另一方，即用：</p>
<p>枳殼（五分）　白朮（一錢）　陳皮（五分）　茯苓（三錢）　白芍（二錢）　山楂（十個）　柴胡（一錢）　梔子（一錢）　甘草（一錢）　水煎服</p>

<h2>血治法</h2>
<p>血不歸經，或上或下，或四肢毛竅，各處出血。循行經絡，外行於皮毛，中行於臟腑，內行於筋骨，上行於頭目兩手，下行於二便一臍，是周身無非血路。一不歸經，斯〔則〕各處妄行，有孔即鑽，有洞則泄，甚則嘔吐，或見於皮毛，或出於齒縫，或滲於臍腹，或露於二便。宜順其性而引之，以歸經已耳。方用：</p>
<p>當歸（三錢）　白芍（三錢）　麥冬（三錢）　熟地（五錢）　生地（五錢）　茜草根（一錢）　川芎（一錢）　荊芥（一錢）　甘草（一錢）　水煎服</p>
<p>此方即四物湯加減，妙在用茜草根，引血歸經。服一二劑後，用六味地黃湯，補腎以滋肝木；肝得養，則血有可藏之經，而不外泄矣。</p>

<h2>〔三黑神奇飲〕</h2>
<p>熟地（五錢）　山萸（五錢）　山藥（二錢）　丹皮（二錢）　澤瀉（二錢）　北五味（一錢）　茯苓（二錢）　麥冬（二錢）　甘草（一錢）　水煎服</p>
<p>血症最宜用此方，久服三年不吐血。</p>

<h2>肺脾雙治湯</h2>
<p>如人咳嗽不已、吐瀉不已，此肺脾之傷。人以為：咳嗽宜治肺，吐瀉宜治脾。殊不知，咳嗽由於脾氣之衰，斡旋之令不行，則上為咳嗽矣；吐瀉由於肺氣之弱，清肅之令不行，始上吐而下瀉〔矣〕。方用：</p>
<p>人參（一錢）　麥冬（二錢）　茯苓（二錢）　柴胡（一錢）　車前子（一錢）　神麯（五分）　薏仁（一錢）　甘草（五分）　水煎服</p>
<p>此治肺治脾之藥，合而用之，咳嗽之病、吐瀉之症各愈，所謂一方而兩用之也。</p>

<h2>腎肝同補湯</h2>
<p>腎水〔虧〕不能滋肝木，則肝木抑鬱而不舒，必有兩脅飽悶之症。肝木不能生腎中之火，則腎水日寒，必有腰背難於俯仰之症。肝腎必須同補。〔方用〕</p>
<p>熟地（一兩）　山萸（五錢）　白芍（五錢）　當歸（五錢）　柴胡（二錢）　肉桂（一錢）　水煎服</p>
<p>此方熟地、山萸補腎之藥，而〔當〕歸、〔白〕芍、柴〔胡〕、〔肉〕桂補肝之品。既去（云）平肝補腎，似乎〔用〕藥不該〔有〕輕重，今補肝之品多於補腎者何〔也〕？〔蓋〕腎為肝之母，肝又為命門之母也，豈有肝木旺而不生命門之火〔者〕哉？</p>

<h2>心腎同源湯</h2>
<p>腎，水藏（臟）也。心，火藏（臟）也。是心腎二經為仇敵〔矣〕，似不宜牽連而一（合）治之。不知心腎相剋而實相須：無心之火則成死灰，無腎之水則成冰炭；心必得腎水以滋養，腎必得心火而溫暖。如人驚惕不安，夢遺精泄，豈非心腎不交乎？人以驚惕不安為心之病，我以為腎之病；人以夢遺精泄為腎之病，我以為心之病；非顛倒也，實有至理焉矣。方用：</p>
<p>熟地（五兩）　山萸（三兩）　山藥（三錢）　白朮（五兩）　人參（三兩）　芡實（五錢）　茯神（三兩）　菖蒲（一兩）　炒棗仁（三兩）　遠志（一兩）　五味子（一兩）　麥冬（三兩）　柏子仁（三兩）</p>
<p>蜜丸每早晚溫水送下五錢。</p>
<p>此方之妙，治腎之藥少於治心之味，蓋心君寧靜，腎氣自安，何至心動，此治腎正所以治心，治心即所以治腎也，所謂心腎相依。</p>

<h2>寒熱真假辨</h2>
<p>真熱症口乾極而呼水，舌燥極而開裂生刺，喉痛日夜不已，大熱烙手而無汗也。真寒症手足寒，久而不回，色變青紫，身戰不已，口噤出聲而不可禁也。假熱症口雖渴而不甚，舌雖干而不燥，即燥而無芒刺紋烈也。假寒症手足冰冷而有時溫和，厥逆身戰亦未太甚，而有時而安，有時而搐是也。</p>

<h3>〔真熱症方用〕</h3>
<p>麻黃（三錢）　當歸（五錢）　黃連（三錢）　黃芩（三錢）　石膏（三錢）　知母（三錢）　半夏（三錢）　枳殼（二錢）　甘草（一錢）　水煎服，一劑輕，二劑愈。</p>

<h3>〔真寒症方用〕</h3>
<p>附子（三錢）　肉桂（一錢）　乾薑（一錢）　白朮（五錢）　人參（一兩）</p>
<p>水煎服，急救之。此乃真中寒邪，腎火避出軀殼之外而陽邪之氣直犯心宮，心君不守，肝氣無依，乃發戰發噤，手足現青色。然則用桂附乾薑逐其寒邪足矣，何用參朮，即用何至多加？蓋元氣飛越，只一線之氣未絕，純用桂附乾薑一派辛辣之藥，邪雖外逐而正氣垂絕，若不多加參朮，何以反正氣於若存若亡之際哉？</p>

<h2>假寒方</h2>
<p>如人手足冰冷，或發厥逆，或身戰畏寒，人以為寒，而非寒也，內真熱而外假寒耳。方用：</p>
<p>附子（一錢）　肉桂（一錢）　人參（三錢）　白朮（五錢）　豬膽汁（半個）　苦菜汁（三匙）</p>
<p>先將水二碗煎藥，熟後以藥並器，放水中激涼，〔再〕入膽汁，菜汁調勻，一氣服之。</p>
<p>方中全是熱藥，倘服不如法，必然虛火上衝，盡行嘔出。必熱藥涼服，已足而順其性，而（況）下行又有二汁之苦，以騙其假道之防也哉。</p>

<h2>上熱下寒方</h2>
<p>上焦火勢之盛，吐痰如湧泉，面赤喉痛，上身不欲蓋衣，而下身冰涼，此上假熱而下真寒也。方用：</p>
<p>附子（一個）　熟地（半斤）　山萸（四兩）　麥冬（一兩）　北五味（一兩）　茯苓（三兩）　澤瀉（三兩）　丹皮（三兩）　肉桂（一兩）</p>
<p>水十碗，煎〔至〕四〔三〕碗，探涼與病人服之。〔渣再用水三碗，煎至一碗，一氣服之〕，二劑四碗服盡，立刻安靜。此上病治下之一法也，最效。</p>

<h2>乍寒乍熱辨</h2>
<p>病有灑淅惡寒，而後發熱者也。蓋陰脈不足，陽往從之；陽脈不足，陰往乘之。何謂陽不足？寸脈微，名曰陽不足。陰氣上入陽中，則惡寒也。何謂陰不足？尺脈弱，名曰陰不足。陽氣下陷陰中，則發熱也。</p>
<p>凡治寒熱：用柴胡升陽氣，使不下陷陰中，則不熱也；用黃芩降陰氣，使不升入陽中，則不寒也。</p>

<h2>病在上而求諸下</h2>
<p>頭痛、目痛、耳紅、腮腫痛……一切上焦等症，除清涼發散正治外，人即束手無策，而不知更有三法：</p>
<p>如大便結，脈沉實者，用酒蒸大黃三錢微下之，此名釜底抽薪之法。</p>
<p>如大便瀉，脈沉足冷者，宜六味地黃丸加牛膝、車前〔子〕、肉桂；足冷甚者，加熟地、附子。是冷極於下，而迫其浮火上升也。此名導龍入海之法。</p>
<p>大便如常，脈無力者，用牛膝、車前〔子〕引下之，此名引火歸源之法〔也〕。</p>

<h2>病在下而求諸上</h2>
<p>凡治下焦病，用本病藥不愈者，須從上治之：如足痛足腫，無力虛軟，膝瘡紅腫，用木瓜、薏仁、牛膝、防己、黃柏、蒼朮之品不效者，定是中氣下陷，濕熱下流，用補中益氣〔湯〕升提之。</p>
<p>如足軟，不能行而能食，名曰痿症。宜清肺熱。</p>
<p>如治泄瀉，用實脾利水之劑不效，亦用升提，補中益氣〔湯〕去當歸，加炮薑、蒼朮；脈遲，加肉蔻、故紙。</p>
<p>如尿血，用涼血利水藥不效，宜清心蓮子飲。若清心不止，再加升〔麻〕、柴〔胡〕。</p>
<p>如治便血，用止澀之藥不效，或兼泄瀉，須察其脈：如右關微細，或數大無力，是脾虛不攝血，宜六君子湯加炮姜；若右關沉緊，是飲食傷脾，不能攝血，加沉香二分。右寸洪數，〔是〕實熱在肺，宜清肺，〔用〕麥冬、花粉、元參、枯芩、桔梗、五味子、枳殼等藥。</p>

<h2>真熱假寒方</h2>
<p>如人身外冰冷，身內火熾，發寒發熱，戰慄不已，此真熱反現假寒之象以欺人也。自〔法〕當用三黃湯加石膏、生薑，乘熱飲之。用井水以撲其心，至二、三十次，內熱自止，而外之戰慄亦若失〔矣〕。後用元參、麥冬、白芍各二兩，煎湯與服，任其恣飲，後不再甚矣。</p>

<h2>真寒假熱方</h2>
<p>如人下部冰冷，上部大熱，渴欲飲水，下喉即吐，此真寒反現假熱之象以欺人也。自（法）當用八味湯大劑，探冷與服。再令一人強而有力者，以手擦其足心，如火之熱，不熱不已，以大熱為度。後用吳茱萸一兩、附子一錢、麝香三分，以少許白麵入之，打糊作膏，貼在足心之中。少頃必熟睡，醒來，下部身熱，而上部之火息矣。</p>

<h2>氣虛胃虛方</h2>
<p>凡人病氣虛者，乃身體羸弱，飲食不進，或大便溏泄、小便艱澀。方用：</p>
<p>人參（一兩）　茯苓（三錢）　白朮（五錢）　陳皮（一錢）　甘草（一錢）　車前子（一錢）　澤瀉（一錢）　水煎服</p>
<p>此方用人參為君者，開其胃氣。胃為腎之關，關門不開，則上之飲食不能進，下之糟粕不能化。必用人參以養胃土，茯苓、車前以分消水穀也。</p>
<p>或服此而未愈。兼服八味丸，最能實大腸而利膀胱也。</p>

<h2>氣虛飲食不消方</h2>
<p>飲食入胃，必須胃氣充足，始能化糟粕而生津液。〔今飲食不消，氣虛故也〕。方用：</p>
<p>人參（二錢）　白朮（三錢）　陳皮（五分）　神麯（五分）　甘草（三錢）　黃耆（三錢）　麥冬（五分）　山楂（五粒）　炮姜（一錢）　茯苓（三錢）　水煎服</p>
<p>傷麵食，加蘿蔔子。有痰，加半夏、白芥子各一錢。咳嗽，加蘇子一錢、桔梗二錢。傷風，加柴胡二錢。夜臥不安，加炒棗仁二錢。胸中微痛，加枳殼五分。方內純是開胃之品，又恐飲食難消，後加消導之味，則飲食化而津液生矣。</p>

<h2>血虛面色黃瘦方</h2>
<p>出汗盜汗，夜臥常醒，不能潤色以養筋是也。血虛自當補血，舍四物湯，又何求耶？今不用四物湯，用：</p>
<p>熟地（一兩）　麥冬（三錢）　當歸（五錢）　桑葉（十片）　枸杞（三錢）　茜草（一錢）　水煎服</p>
<p>此方妙用桑葉補陰而生血，又妙加茜草，則血得活而益生，況又濟之以〔當〕歸、〔熟〕地、麥冬大劑以共生之乎？</p>

<h2>氣血雙補方</h2>
<p>飲食不進，形容枯槁，補其氣而血益燥，補其血而氣益餒；助胃氣而盜汗難止，補血脈而胸膈阻滯。法當氣血同治，〔方用〕</p>
<p>熟地（三錢）　人參（一錢）　白朮（一錢）　當歸（二錢）　川芎（一錢）　白芍（三錢）　茯苓（三錢）　麥冬（五錢）　穀芽（一錢）　甘草（八分）　陳皮（五分）　神麯（五分）　水煎服</p>
<p>此方氣血雙補，與八珍湯同功，而勝於八珍湯也〔者〕，妙在補中有調和之法耳。</p>

<h2>扶正散邪湯</h2>
<p>此專治正氣虛而邪氣入之者，如頭疼發熱；凡脈右寸口大於左（寸）口者，急以此方投之，效。〔方用〕</p>
<p>人參（一錢）　白朮（三錢）　茯苓（三錢）　半夏（一錢）　柴胡（三錢）　甘草（一錢）　水煎服</p>

<h2>消食善飢方</h2>
<p>火盛之症，大渴引飲，呼水自救，朝食即飢；或夜食不止。方用：</p>
<p>元參（一兩）　麥冬（五錢）　竹葉（三十片）　菊花（二錢）　生地（三錢）　白芥子（二錢）　丹皮（二錢）　陳皮（五分）　水煎服</p>

<h2>久虛緩補方</h2>
<p>久虛之人，氣息奄奄，無不曰宜急治矣。不知氣血大虛，驟加大補之劑，力量難任，必致胃口轉膨脹，不如緩緩清補也。〔方用〕：</p>
<p>當歸（一錢）　白芍（三錢）　茯苓（一錢）　白朮（五分）　人參（三分）　山藥（一錢）　陳皮（三分）　麥芽（三分）　炮姜（三分）　棗仁（五分）　甘草（三分）　水煎服</p>
<p>此方妙在以白芍為君，引參朮入肝為佐，小小使令，徐徐奏功，使脾氣漸實，胃口漸開，然後再用純補之劑，先宜緩補之也。</p>

<h2>勞症與虛損有辨</h2>
<p>外（二）症大（外）相似，而治法實不同。虛損者，陰陽兩虛；勞症者，陰虛陽亢。故虛損可用溫補；若勞症，〔則〕忌溫補而用清補也。</p>
<p>兩症辨法：不必憑脈，但看人著〔單衣〕、復衣。此（若）著單衣者，為勞症。人著單衣（衍文）。此（若）著復衣者，為虛損。勞症，骨蒸而熱；虛損，榮衛虛而熱也。</p>

<h2>中風不語方</h2>
<p>凡人跌倒昏迷，或自臥而跌在床下者，此皆氣虛而痰邪犯之也。方宜用：</p>
<p>人參（一兩）　半夏（三錢）　南星（三錢）　生附子（一個）　（水煎服）</p>
<p>名為「三生飲」，急灌之。</p>
<p>此症有因腎虛而得者。夫腎主藏精，主下焦地道之生育，沖、任二脈系焉。二脈與腎之大絡，同出於腎〔之〕下，起於胞〔之〕中。其衝脈因稱胞絡，為經脈之海，遂名海焉。衝脈之上行者，滲諸陽，灌諸精；下行者，滲諸陰，灌諸絡，而溫肌肉，別經絡，結於跗。</p>
<p>因腎虛，而腎絡與胞內絕，不通於上則喑，腎脈不上循喉嚨，挾舌本則不能言。二絡不通於下，則痱厥矣。方用「地黃引子」：</p>
<p>熟地（一兩）　巴戟（一兩）　山萸（一兩）　附子（五錢）　石斛（六錢）　肉蓯蓉（一兩）　菖蒲（五錢）　茯苓（一兩）　肉桂（三錢）　麥冬（一兩）　五味子（五錢）　加薄荷、薑、棗，水煎服。</p>

<h2>口眼喎斜方</h2>
<p>〔此症〕人多治木、治金固是，而不知胃土之為尤切。當治胃土，且有經、脈之分。</p>
<p>《經》云：「足陽明之經，急則口目為僻眥，急不能視」，此胃土之經為歪斜也。又云：「足陽明之脈，挾口環唇，口歪唇斜」，此胃土之脈為喎斜也。</p>
<p>二者治法，皆當用：</p>
<p>黃耆　當歸　人參　白芍　甘草　桂枝　升麻　葛根　秦艽　白芷　黃柏　防風　蘇木　紅花水酒各半樽（衍）煎服（衍），稍熱服。</p>
<p>初起有外感者，加蔥白三莖同煎，取微汗而自愈。</p>
<p>又治方</p>
<p>〔此症又有〕心中虛枉（極），不能運於口耳之間，輕則喎斜，重則不語。方用：</p>
<p>人參（三錢）　白朮（五錢）　茯苓（三錢）　半夏（二錢）　陳皮（二錢）　石菖蒲（三錢）　甘草（一錢）　肉桂（二錢）　當歸（一兩）　白芍（三錢）此方治之（水煎服），二劑痊愈。</p>

<h2>又治法</h2>
<p>令人抱住身子，又一人扼住歪斜之耳輪，又令人以手摩其歪斜之處，至數百下，使面上火熱而後已，少頃口眼如故矣，最神效。</p>

<h2>半身不遂方</h2>
<p>此症宜於心、胃而調理之。蓋心為天真，神機開發之本。胃是谷府，充大真氣之標。二〔標〕本相得，則心隔開之，膻〔中〕氣海所留，宗氣盈而溢，分布五臟、三焦，上下中外，無不周遍。若標本相失，則不能致其氣於氣海，而宗氣散矣。故分布不周於經脈，則偏枯。不周於五臟，則喑。即此言之，未有不因真氣不周而病者也。</p>
<p>方宜用黃耆為君，〔人〕參、〔當〕歸、白芍為臣，防風、桂枝、鉤藤、竹瀝、薑汁、韭汁、葛汁、梨汁、乳汁為佐、使。</p>
<p>不然而雜投乎烏〔頭〕、附〔子〕、羌活之類，以涸榮而耗衛，如此死者，是醫殺之也。</p>

<h2>又治半身不遂及口眼喎斜方</h2>
<p>人參（一錢半）　黃耆（二錢）　當歸（二錢）　白朮（一錢半）　半夏（一錢）　乾葛（八分）　紅花（四分）　桂枝（五分）　甘草（四分）　水（二樽）　姜（三片）　棗（二枚）　煎服。</p>
<p>此症人多用風藥治之，殊不見功。此藥（方）調理氣血，故無不效，勿加減。</p>

<h2>急慢風三六九日一切風俱治方</h2>
<p>膽星（八錢）　雄黃（一兩五錢）　硃砂（二錢）　人參（二錢）　天竺黃（一錢五分）　茯苓（二錢）　鉤藤（一兩五錢）　牛黃（二錢）　麝香（二錢）　柴胡（二錢，酒煮）　郁　金（二錢）　青皮（二錢）　甘草（四錢）</p>
<p>共為末，煎膏為丸，〔如〕豆子大，真金一張為衣，陰乾勿泄氣。薄荷湯磨服。</p>

<h2>破傷風</h2>
<p>蟬蛻（去淨頭足，為末）五錢，用好酒一碗，煎滾，入末調勻，服之立蘇。</p>
<p>又附治方用：</p>
<p>升麻　油頭髮　馬尾羅底　羊糞蛋各等分，共為末，黃酒調服。</p>

<h2>循衣撮空</h2>
<p>此症非大實，則大虛。當審其因，察其脈，參其症，而分黑白矣。</p>
<p>實而便秘〔者〕，大承氣湯。虛而便滑〔者〕，獨參湯；厥逆者加附子。</p>

<h2>恐怕症</h2>
<p>夫人夜臥交睫，則夢爭鬥，負敗恐怖之狀，難以形容。人以為心病也。不知〔乃〕肝經之病。〔蓋〕魂藏於肝，肝血虛，〔則〕魂失養，故交睫則若魘；乃肝膽虛怯，故多負多恐。此非峻補，不能奏功。而草木之〔品〕不堪任重，乃以酒化鹿角膠，空腹服之可痊。蓋鹿角膠峻補精血，血旺則神自安矣。</p>

<h2>〔神氣不寧〕</h2>
<p>又有神氣不寧，每臥則魂飛揚，覺身在床而魂離體也；驚悸多魘，通夕無寐。人皆以為心病，不知此（乃）肝經受邪也。肝氣一虛，邪氣襲之；肝藏魂不得歸，是以魂飛揚若離體也。</p>
<p>此〔症〕用珍珠母為君，龍齒佐之。珍珠母入肝為第一，龍齒與肝同類也。龍齒、虎睛，今人例以為鎮心藥；不知龍齒安魂，虎睛定魄也。東方蒼龍，木也，屬肝而藏魂。西方白虎，金也，屬肺而藏魄。龍能變化，故魂遊而不定。虎能專靜，故魄止而有守。是以治魄不寧，宜虎睛；治魂飛揚，宜龍齒，藥各有當也。</p>

<h2>內傷猝倒方</h2>
<p>凡人猝然昏倒，迷而不悟，喉〔中〕有痰，人以為風也，誰知是氣虛〔乎〕？若作風治，未有不死者。蓋因平日不慎女色，精虧以致氣虛；又加起居不慎，而有似乎風之吹倒者。方宜用：</p>
<p>人參（一兩）　黃耆（一兩）　白朮（一兩）　茯苓（五錢）　白芥子（三錢）　菖蒲（二錢）　附子（一錢）　半夏（二錢）　水煎服</p>
<p>此方補氣而不治風，消痰而不耗氣；一劑神定，二劑痰清，三劑可痊愈。</p>

<h2>〔陰虛猝倒方〕</h2>

<h3>又治方</h3>
<p>又有腎中之水虛，而不能上交於心者；更有肝氣燥，不能生心中之火者，此皆陰虛而能令人猝倒者也。方用再蘇丹：</p>
<p>熟地（二兩）　山萸（一兩）　元參（一兩）　柴胡（一錢）　菖蒲（一錢）　白芥子（三錢）　麥冬（一兩）　茯苓（一兩）　北五味（一兩）　水煎服</p>
<p>此方補腎水，滋肺氣，安心通竅，瀉火消痰，實有神妙。</p>
<p>一方茯苓五錢，服十劑可愈。</p>

<h2>〔陽虛猝倒方〕</h2>

<h3>又方</h3>
<p>又有心中火虛，不能下交於腎而猝倒者，陽虛也。方宜用全生湯：</p>
<p>人參（一兩）　白朮（一兩）　半夏（三錢，生）　附子（三錢）　菖蒲（一錢）　生棗仁（一兩）　茯神（五錢）　甘草（一錢）　水煎服</p>
<p>下喉則痰靜而聲出矣，連服數劑，〔則〕安然如故。</p>

<h2>胃熱猝倒方</h2>

<h3>又方</h3>
<p>又有胃熱而不能安心之火而猝倒者，亦陽虛也。方用：</p>
<p>人參（一兩）　元參（一兩）　石膏（五錢）　花粉（五錢）　麥冬（三錢）　菖蒲（一錢）　水煎服</p>
<p>一劑心定，二劑火清，三劑而愈。</p>

<h2>〔腎虛猝倒方〕</h2>

<h3>又方</h3>
<p>又有口渴索飲，眼紅氣喘，心脈洪大，舌不能言，不可作氣虛治。此乃腎虛之極，不能上滋於心，心火亢極，自焚悶亂，遂致身倒，有如風中也。法當補腎而佐以清火之藥，用水火兩治湯，方用：</p>
<p>熟地（一兩）　麥冬（五錢）　當歸（一兩）　生地（五錢）　五味子（三錢）　元參（一兩）　山萸（五錢）　黃連（三錢）　茯神（五錢）　白芥子（三錢）　水煎服（連服數劑而愈。）</p>

<h2>〔大怒猝倒方〕</h2>

<h3>又方</h3>
<p>又有大怒跳躍，忽然臥地，兩臂抽搦，口眼喎斜，左目緊閉，此乃肝火血虛，內熱生風之症。當用八珍湯加丹皮、鉤藤、山梔。</p>
<p>若小便自遺，左關脈弦洪而數，此肝火血燥，當用六味丸料，加鉤藤、五味子、麥冬、川芎、當歸；愈後須用補中益氣湯加山梔、鉤藤、丹皮，多服。</p>
<p>如婦人得此症，則逍遙散加鉤藤及六味丸，最效。</p>

<h2>寒熱厥辨法附方</h2>
<p>寒厥者，手足必青，飲水必吐，腹必痛，喜火慰之；若熱厥，手足雖寒而不青紫，飲水不吐，慰則腹必痛，不可不辨。</p>

<h2>熱厥方</h2>
<p>熱厥，一時手足厥逆，痛不可忍。人以為四肢之風症也，不知乃心中熱蒸，外不能泄，故四肢手足則寒，而胸腹皮熱如火。方用：</p>
<p>柴胡（三錢）　當歸（二錢）　荊芥（一錢）　黃連（二錢）　梔子（二錢，炒）　半夏（一錢）　枳殼（一錢）　水煎服　二劑愈。</p>

<h2>又治熱厥方</h2>
<p>白芍（一兩）　黑梔（三錢）　陳皮（一錢）　柴胡（一錢）　花粉（二錢）　水煎服（〔此方〕以白芍為君，取〔其〕入肝而平木〔也〕。）</p>

<h2>寒厥方</h2>
<p>人參（三錢）　白朮（一兩）　附子（一錢）　肉桂（一錢）　吳茱萸（一錢）　水煎服</p>

<h2>治發熱</h2>
<p>人病發熱，先散其邪風，邪退而後補正氣，則正氣不為邪所傷。</p>

<h2>外感發熱方</h2>
<p>柴胡（一錢）　荊芥（一錢）　半夏（一錢）　黃芩（一錢）　甘草（一錢）　水煎服</p>
<p>蓋四時不正之氣，來犯人身，必然由皮毛而入榮衛。故用柴胡、荊芥先散皮毛之邪，邪既先散，安得入內。又有半夏以去痰，使邪不得挾痰以作祟；又有黃芩以清火，使邪不得挾火以作殃；又有甘草調藥以和中，是以邪散而無傷於正氣〔也〕。〔若內傷之發熱，則不可用此方〕。</p>

<h2>內傷發熱方</h2>
<p>柴胡（一錢）　當歸（一錢）　陳皮（一錢）　甘草（一錢）　梔子（一錢）　白芍（二錢）　花粉（二錢）　水煎服</p>
<p>此方凡肝木鬱者，一服即快。</p>

<h2>便血矣而又尿血方</h2>
<p>血分前後：便出於後陰，尿出於前陰——最難調治。然總之出血於下也。方用：</p>
<p>生地黃（一兩）　地榆（五錢）　水煎服</p>
<p>二症自愈。</p>
<p>蓋大、小便各有經絡，而其源同，因膀胱之熱而來也。生地、地榆俱能清膀胱之熱，一方而兩用之，於分之中有合也。</p>

<h2>腰痛矣而又頭痛方</h2>
<p>上下相殊也，如何治之；治腰乎？治頭乎？〔誰知是腎氣不通乎？〕不知腎氣上通於腦，而腦氣下達於腎，上下雖殊，〔而〕氣實相通。法當用溫補之藥，以大益其腎中之陰，則上下之氣〔相〕通矣。方用：</p>
<p>熟地（一兩）　杜仲（五錢）　麥冬（五錢）　北五味（二錢）　水煎服</p>
<p>蓋熟地、杜仲，腎中藥也，腰痛是其專功。今並頭痛而亦愈者，何也？方雖補腎之劑，腎旺則上通於腦，故腰不痛而頭亦不痛矣。</p>

<h2>遺精矣而又健忘方</h2>
<p>遺精，下病也。健忘，上病也。何以分（合）治之而咸當乎？方用：</p>
<p>人參（三兩）　蓮鬚（二兩）　芡實（三兩）　熟地（五兩）　五味子（一兩）　山藥（四兩）　麥冬（三兩）　生棗仁（三兩）　遠志（一兩）　石菖蒲（一兩）　當歸（三兩）　柏子仁（一兩）　山萸（三兩）蜜丸，每日五錢，〔白水下〕。</p>
<p>此症遺精，是腎水之虛；而實本是君火之弱。今補其心君，則玉關不必閉而自閉矣。〔所謂「一舉而兩得」也。〕</p>

<h2>泄瀉矣而又吞酸方</h2>
<p>泄瀉者，寒也。吞酸者，火也。似乎寒熱殊而治法變矣。不知吞酸雖熱，由於肝氣之鬱結；泄瀉雖寒，由於肝木之克脾。苟一方以治木鬱，又一方以培脾土，土必大崩而木必大凋矣。不若一方而兩治之為愈也。方用：</p>
<p>柴胡（一錢）　白芍（五錢）　茯苓（三錢）　陳皮（五分）　車前子（一錢）　神麯（五分）　甘草（五分）　水煎服</p>
<p>此方妙在白芍善舒肝木之郁，木鬱一舒，上不克胃而下不克脾。方中又有茯苓、車前，以分消水濕之氣，〔則〕水盡從小便出，何有餘水以吞酸，剩汁以泄瀉哉？</p>

<h2>中氣矣而又中痰方</h2>
<p>中氣、中痰，雖若中之異，而實皆中於氣之虛也。氣虛自然多痰，痰多必然耗氣，雖分而實合耳。〔方用〕</p>
<p>人參（一兩）　半夏（三錢）　南星（三錢）　茯苓（三錢）　附子（一錢）　甘草（一錢）　水煎服</p>
<p>蓋人參原是氣分之神劑，而亦消痰之妙藥；半夏、南星雖是逐痰之神品，而亦可扶氣之正藥；附子、甘草，一仁一勇，相濟而成。</p>

<h2>精滑夢遺方</h2>
<p>人以為腎之虛也，〔豈知〕不獨腎病也，〔亦〕心病也。宜心腎兼治，方用：</p>
<p>熟地（五兩）　山藥（四兩）　山萸（四兩）　茯苓（三兩）　北五味（一兩）　肉桂（一兩）　人參（三兩）　白朮（四兩）　麥冬（三兩）　遠志（一兩）　棗仁（一兩）　肉蓯蓉（三兩）　鹿茸（一兩）　砂仁（五錢）　杜仲（一兩）　巴戟天（三兩）　補骨脂（一兩）　柏子仁（一兩）　紫河車（一副）　附子（一錢）</p>
<p>上共為末，煉蜜為丸，〔早、晚白水送下各五錢〕。</p>
<p>此方用熟地、山藥、山萸之類，補腎也；巴戟、蓯蓉、附子、鹿茸，補腎中之火也，可以已矣，而又必加人參、茯苓、柏子仁、麥冬、遠志、棗仁者，何也？蓋腎中之火虛，由於心中之火虛也；使補腎火，心火不益，則反增上焦枯竭。欲補腎火，則必須補心火，則水火相濟矣。</p>
<p>又一說，方內加白芍三兩。</p>

<h2>又治夢遺方</h2>
<p>蓋人病夢遺，由於腎水耗竭，上不能通於心，中不能潤於肝，下不能生於脾，以致玉關不閉，無夢且遺。法當大補腎，而少佐以益心、益肝、益脾之品。方用：</p>
<p>熟地（一兩）　山萸（四錢）　茯苓（三錢）　生棗仁（五錢）　北五味（一錢）　白芍（三錢）　當歸（三錢）　薏仁（三錢）　白朮（五錢）　茯神（二錢）　肉桂（五分）　白芥子（一錢）　黃連（五分）　水煎服</p>
<p>一劑即止，十劑不犯。</p>
<p>此方妙在五臟兼補，而使心腎兩交，自然魂魄寧而精竅閉矣。</p>

<h2>陽強不倒方</h2>
<p>此虛火炎上，而肺金之氣不能下行故耳。若用黃柏、知母，煎湯飲之，立時消散；然自倒之後，終年不能重振，是亦苦也。</p>
<p>元參（三兩）　麥冬（三兩）　肉桂（三分）　水煎服</p>
<p>此方妙在用元參以瀉腎中之火，肉桂入其宅，麥冬助肺金之氣，清肅下行，以生腎水。水足則火自息矣，不求倒而自倒者也。</p>

<h2>陽痿不舉方</h2>
<p>陽痿而不振者，乃平日過於琢削，日泄其腎中之水，而腎中之火，亦日消也。蓋水去而火亦去，必然之理。如一家人口，廚下無水，又何以煮爨而生煙？必汲其泉源，而後取其柴炭，可以鑽燧而取火，以煮飯食，否則空鐺安炊耶？方用：</p>
<p>熟地（一兩）　山萸（四錢）　遠志（一錢）　巴戟（一錢）　肉蓯蓉（一錢）　肉桂（一錢）　人參（三錢）　枸杞（二錢）　茯神（二錢）　杜仲（一錢）　白朮（五錢）　水煎服</p>

<h2>癲狂方</h2>
<p>此症多生於脾胃之虛寒，飲食入胃，不變精而變痰，痰迷心竅，遂成癲狂矣。苟徒治痰而不補氣，未有不速之死者〔也〕。方用：</p>
<p>人參（五錢）　白朮（一兩）　肉桂（一錢）　乾薑（一錢）　白芥子（五錢）　甘草（五分）　菖蒲（五分）　半夏（三錢）　陳皮（二錢）　水煎服</p>
<p>如婦人得此症，加白芍一兩、柴胡二錢、黑梔子二錢，去肉桂，治之最神效。</p>

<h2>治發狂見鬼方</h2>
<p>此症乃氣虛而中痰也。宜固其正氣，而佐以化痰之品。方用：</p>
<p>人參（一兩）　白朮（一兩）　半夏（三錢）　南星（三錢）　附子（一錢）　水煎服</p>

<h2>治發狂不見鬼方</h2>
<p>此是內熱之症，〔方用〕</p>
<p>人參（三錢）　白芍（三錢）　半夏（三錢）　南星（二錢）　白芥子（一錢）　黃連（二錢）　陳皮（一錢）　甘草（一錢）　水煎服</p>

<h2>狂症方</h2>
<p>又　方</p>
<p>此症亦有傷寒得之者，一時之狂也，可用白虎湯以瀉火。更有終年狂而不愈者，或持刀殺人，或詈罵人，不認兒女，見水大喜，見食大惡，此乃心氣之虛，而熱邪乘之，痰氣侵之也。方宜用化狂丹：</p>
<p>人參（一兩）　白朮（一兩）　茯神（一兩）　附子（一分）　菟絲子（三錢）　半夏（三錢）　菖蒲（一錢）　甘草（一錢）　水煎服</p>
<p>此方妙在補心、脾、胃之三經，而化其痰，不去瀉火。蓋瀉火則心氣益傷，而痰涎益盛，狂何以止乎？尤妙〔微〕用附子引補心消痰之劑，直入心中，則氣易補而痰易消，又何用瀉火之多事乎？一劑可狂定。</p>

<h2>寒狂方</h2>
<p>又　方</p>
<p>凡發狂罵人，未渴索飲，與水不飲者，寒症之狂也。此必氣鬱不舒，怒氣未泄，其人平日定懦弱不振者耳。治宜補氣〔消痰〕，〔方用〕：</p>
<p>人參（一兩）　白朮（五錢）　茯苓（五錢）　半夏（一錢）　南星（一錢）　附子（一錢）　菖蒲（三分）　柴胡（一錢）　水煎服</p>
<p>茯苓當易茯神一兩，下喉熱睡，病如失也。</p>

<h2>治癇症方</h2>
<p>此症忽然臥地，作羊馬牛之聲，口中吐痰如湧泉者，〔乃〕痰迷心竅，因寒而成，感痰而發也。方用：</p>
<p>人參（三錢）　白朮（一兩）　茯神（五錢）　山藥（三錢）　薏仁（五錢）　肉桂（一錢）　附子（一錢）　半夏（三錢）　水煎服</p>
<p>前方治此症亦效。</p>
<p>後附丸方：</p>
<p>人參（三兩）　白朮（五錢）　甘草（一兩）　陳皮（三錢）　南星（一兩　生）　半夏（一兩）　附子（一錢）</p>
<p>上為末，蜜丸。須病未發時服之，則永不再發矣。</p>

<h2>治屍厥方</h2>
<p>此症一時猝倒，不省人事；乃氣虛而痰迷心竅也，補氣化痰而已矣。方用：</p>
<p>人參（三錢）　白朮（五錢）　半夏（三錢）　南星（三錢）　白芥子（一錢）　附子（五分）　水煎服</p>

<h3>又方</h3>
<p>用蒼朮三兩，水煎灌之，必吐。吐後即愈。蒼朮陽藥，善能祛風，故用之有奇效。</p>
<p>凡見鬼者用之，更有效。</p>

<h2>瘧疾方用遇仙丹</h2>
<p>生大黃（六兩）　檳榔（三兩）　三稜（三兩）　莪朮（三兩）　黑醜（三兩）　白醜（三兩）　木香（二兩）　甘草（一兩）</p>
<p>共為細末，水丸，櫻桃大。</p>
<p>如遇發日，清晨溫水化下三、四丸。〔藥〕行後以溫米飯補之。忌腥冷、蕎麵等物。孕婦勿服。</p>

<h2>治痢疾方</h2>
<p>此症感濕熱而成，紅白相見，如血如膿，至危至極者。苟用涼藥止血，熱藥攻邪，俱非善治之法。方〔用〕：</p>
<p>白芍（二兩）　當歸（二兩）　枳殼（二錢）　檳榔（二錢）　甘草（二錢）　滑石（三錢）　卜子（一錢）　廣木香（一錢）</p>
<p>水煎服，一、二劑收功。</p>
<p>此方妙在用歸、芍至二兩之多，則肝血有餘，不去克脾土，自然大腸有傳送之功化。加之枳殼、檳榔、卜子俱逐穢祛積之品，尤能於補中用攻。而滑石、甘草、木香調達於遲速之間，不疾不徐，使瘀滯盡下也。其餘些小痢疾，只用減半治之，無不奏功。此方不論紅白痢疾，痛與不痛，服之皆神效。</p>

<h3>又治痢方</h3>
<p>當歸（一兩）　黃芩（七錢）　蒼朮（一錢）　厚朴（一錢）　陳皮（一錢）　大腹皮（一錢）水二樽，煎一樽，頓服。</p>

<h2>治血痢方</h2>
<p>血痢腹痛者，火也。方用：</p>
<p>歸尾（一兩）　黃連（三錢）　枳殼（二錢）　白芍（一兩）　木香（二錢）　甘草（一錢）　卜子（二錢）　水煎服</p>

<h2>治痢疾腹不痛方</h2>
<p>〔凡痢〕腹不痛者，寒也。方用：</p>
<p>白芍（三錢）　當歸（三錢）　卜子（一錢）　枳殼（一錢）　檳榔（一錢）　甘草（一錢）　水煎服</p>
<p>前方治壯實之人，火邪挾濕乃爾也。〔此方治寒痢腹不痛者。〕更有內傷勞倦、與中氣虛寒之人，脾不攝血而成血痢，當用理中湯加木香、肉桂；或〔用〕補中益氣湯加熟地、炒黑乾薑，治之而愈〔也〕。</p>

<h2>治大便不通方</h2>
<p>〔此症〕人以為大腸燥甚，誰知〔是〕肺氣燥乎？〔蓋〕肺燥則清肅之氣不能下行於大腸，而腎經之水僅足以自顧，又何能旁流以潤涸哉？方用：</p>
<p>熟地（三兩）　元參（三兩）　升麻（三錢）　牛乳（一碗）　火麻仁（一錢）</p>
<p>水二樽，煎六分，將牛乳同調服之。一、二劑，必大便矣。</p>
<p>此方不在潤大腸，而在補腎、大補肺。夫大腸居於下流，最難獨治，必須從腎以潤之，從肺以清之，啟其上竅，則下竅自然流動通利，此下病而治上之一法也。</p>

<h2>治實症大便不通方</h2>
<p>大黃（五錢）　歸尾（一兩）　升麻（五分）　蜜（半樽）　水煎〔服〕</p>
<p>此方大黃泄利，當歸以潤之，仍以為君，雖泄而不至十分猛烈，不至有亡陰之弊；況有升麻以提之，則泄中有留，又何必過慮哉？</p>

<h2>治虛症大便不通方</h2>
<p>凡久病之後，大便秘者，宜用此〔方〕</p>
<p>熟地（一兩）　元參（一兩）　當歸（一兩）　川芎（五錢）　火麻仁（一錢）　大黃（一錢）　桃仁（十個）　紅花（三分）　蜂蜜（半盅）　水煎服</p>

<h2>治小便不通方</h2>
<p>膀胱之氣化不行，即小便不通。是宜治膀胱而已矣，然而治法全不在膀胱也。方用：</p>
<p>人參（三錢）　蓮子（三錢）　茯苓（三錢）　車前子（一錢）　王不留（一錢）　肉桂（一錢）　白果（二錢）　甘草（一錢）　水煎服</p>
<p>此方妙在用人參、肉桂，蓋膀胱必得氣化而始出。氣化者何？必（乃）心包絡之氣也；既用參、桂，而氣化行矣。尤妙在用白果，人多不識此意，白果通任、督之脈，走膀胱而引群藥；況車前子、王不留盡下泄之藥，服之而前陰有不利者乎？</p>

<h3>又方</h3>
<p>七味地黃丸：</p>
<p>茯苓（二錢）　肉桂（一錢）　熟地（一兩）　山萸（四錢）　澤瀉（一錢）　丹皮（一錢）　山藥（一錢）　車前子（一錢）　水煎服</p>
<p>此方妙在不去通小便，而專治腎水，腎中有水，而膀胱之氣自然行矣。〔蓋膀胱之開合，腎司其權也〕。</p>

<h2>治大小便不通方</h2>
<p>方用：</p>
<p>油頭髮燒灰研末，用三指一捻，入半樽熱水中。飲之立通。</p>
<p>又一方用：</p>
<p>蜜（一盅）　皮硝（一盅，兩）　大黃（一錢）　黃酒（一盅）</p>
<p>煎至一處，溫服甚效。此一方最簡。</p>

<h2>火邪內傷辨</h2>
<p>此辨痢症之血色也。如火邪之血，色必鮮紅，脈必洪緩，口必渴而飲冷水，小便必澀而赤濁。內傷之血，色不鮮而暗紫，或微紅淡白，脈必細而遲，或浮澀而空，口不渴，即渴而喜飲熱湯，小便不赤不澀，即赤而不熱不渴（濁），此訣也。</p>
<p>後又附記「治痢神方」：</p>
<p>罌粟殼（七顆）　陳桔皮（七片）　烏梅（七個）</p>
<p>皆如常法，而甘草（七寸，炙其半）　生　姜（七片，煨其半）</p>
<p>黑豆（四十九粒，炒其半）用井水一大碗，加小罐內，文武火熟煮而飲，一服痛止，再服脫然。</p>

<h2>治瀉奇方</h2>
<p>有一日瀉五、六十行者，傾腸而出，完穀不化，糞門腫痛，如火之熱，苟無以救之，必致立亡，〔方〕宜截瀉湯：</p>
<p>薏仁（二兩）　澤瀉（二錢）　人參（三錢）　白芍（二兩）　車前子（一兩）　黃連（五錢）　茯苓（五錢）　甘草（二錢）　山藥（一兩）　肉桂（三分）　水煎服</p>

<h2>治水瀉方</h2>
<p>白朮（一兩）　車前子（五錢）　水煎服</p>
<p>此方補腎健脾，利水去濕，〔治泄〕神效。</p>

<h2>又治火瀉方</h2>
<p>火瀉，完穀不化，飲食下喉即出，晝夜有瀉數十次者，甚至有百次者，人皆知為熱也。然而熱之生也，何故？生於胃中之水衰，不能制火，使胃土關門不守於上下，所以直進而直出也。</p>
<p>論其勢之急迫，似乎宜治其標；然治其標，不能使火之驟降，必須急補腎中之水，使火有可居之地，而後不至於上騰，方宜用：</p>
<p>熟地（三兩）　山萸（一兩）　甘草（一兩）　茯苓（一兩）　車前子（一兩）　白芍（三兩）　肉桂（三分）　水煎服</p>
<p>此方乃補腎之藥，非止瀉之藥；然而止瀉之妙，捷於桴鼓矣。神妙方。</p>

<h2>又治久瀉方</h2>
<p>此症乃純是下清水，非言下利也。利無止法，豈瀉水亦無止法乎？故人患水瀉者，急宜止遏。方用：</p>
<p>白朮（五錢）　茯苓（三錢）　吳茱萸（五分）　棗仁（一錢）　車前子（一錢）　北五味（一錢）　水煎服</p>

<h2>治腰痛方</h2>
<p>〔腰〕痛而不能俯者，濕氣也。方用：</p>
<p>柴胡（一錢）　澤瀉（一錢）　豬苓（一錢）　防己（二錢）　白芥子（一錢）　白朮（五錢）　山藥（三錢）　肉桂（三分）　甘草（五分）　水煎服</p>
<p>此方妙在入腎而去濕，不是入腎而補水。初痛者，一、二劑可以奏功；日久者，必多服為妙。</p>
<p>〔腰〕痛而不能直者，風寒也。方用逍遙散加防己二錢，一劑可愈。若日久者，當加杜仲一錢改用白朮二錢，酒煎服，十劑即愈。</p>
<p>又丸方付（附）</p>
<p>杜仲（一兩，鹽炒）　破故紙（五錢，鹽炒）　熟地（三兩）　白朮（三兩）　胡桃仁（二錢）　共為末，蜜丸。</p>
<p>每日空心，白水送下一兩，服畢自愈。〔如未痊愈，再服一料可愈〕。</p>

<h3>又方</h3>
<p>凡腰痛不止，腎經之病，乃脾濕之故。〔方用〕</p>
<p>白朮（四兩）　薏仁（三兩）　芡實（二兩）　水六碗，煎一碗，一氣飲之。</p>
<p>此方治夢遺之症，亦神效。</p>

<h2>背骨痛方</h2>
<p>此症乃腎水虛耗，不能上潤於腦，則河車之路，乾澀而難行，故作痛矣。方用：</p>
<p>黃耆（一兩）　熟地（一兩）　白朮（五錢）　山萸（四錢）　北五味（一錢）　茯苓（三錢）　麥冬（二錢）　防風（五分）　附子（一分）〔水煎服〕</p>
<p>此方補氣補水，去濕去風，潤筋滋骨，何痛之不愈哉？</p>

<h2>腰腿痛筋骨痛方</h2>
<p>方用養血湯：</p>
<p>當歸（一錢）　生地（一錢）　肉桂（一錢）　牛膝（一錢）　杜仲（一錢）　破故紙（一錢）茯苓（一錢）　防風（一錢）　川芎（五分）　甘草（三分）　山萸（二錢）　核桃仁（二個）　土茯苓（二錢）　水酒煎服</p>

<h2>又腰痛至足亦痛方</h2>
<p>黃耆（八兩）　防風（五錢）　薏仁（五兩）　杜仲（一兩）　車前子（三錢）　茯苓（五錢）　肉桂（一錢）</p>
<p>水十碗，煎二沸，取汁二碗，入酒內，一醉而愈。腰足痛，明系是腎虛而氣衰，更加之濕，自必作楚。〔此方〕妙在不補腎而單益氣。蓋氣足則血生，血生則邪退。又助之薏仁、茯苓、車前子之輩，去濕而血活矣。況有杜仲之健腎，肉桂之溫腎，防風之盪風乎！</p>

<h2>腿痛症</h2>
<p>〔此症〕身不離床褥，傴僂之狀可掬，乃寒濕之氣侵之也。方用：</p>
<p>白朮（五錢）　芡實（三錢）　茯苓（一兩）　肉桂（一錢）　萆薢（一兩）　杜仲（三錢）　薏仁（二兩）　水煎服</p>
<p>日日服之，不必改方，久之自奏大功。</p>

<h2>兩臂與肩膊痛方</h2>
<p>此手經之病，肝氣之郁也。方用：</p>
<p>當歸（三兩）　白芍（三兩）　柴胡（五錢）　陳皮（五錢）　白芥子（三錢）　羌活（三錢）　半夏（三錢）　秦艽（三錢）　附子（一錢）</p>
<p>水六碗，煎三沸，取汁，入黃酒內，服之。一醉而愈。</p>
<p>此方妙在用白芍為君，以平肝木，不來侮胃。而羌活、柴胡又去風，直走手經之上；秦艽亦是風藥；而兼附子攻邪，邪自退出；半夏、陳皮、白芥子，〔乃〕祛痰聖藥，風邪去而痰不留；更得附子無經不達，而其痛如失也。</p>

<h2>腳氣方</h2>
<p>今人以五苓散去濕，亦是正理；然不能上升而盡去其濕也。必須提其氣，而水可散也。方用：</p>
<p>人參（三錢）　白朮（三錢）　黃耆（一兩）　防風（一錢）　薏苡仁（五錢）　肉桂（一錢）　芡實（五錢）　白芍（五錢）　半夏（二錢）　柴胡（一錢）　陳皮（五分）　水煎服</p>
<p>此方乃去濕之聖藥。防風用於黃耆之中，已足提氣而去濕；又助之柴胡舒氣，則氣自升騰，氣升則水亦隨之，而入於脾中；又有白朮、茯苓、芡實、薏仁，俱是去濕之品，有不神效者乎？凡有濕者當以此方治之。</p>

<h2>足弱方</h2>
<p>此病不能步履，人以為腎水之虛，而不但此也，〔乃〕由於氣虛不能運動耳。方用補中益氣湯加：</p>
<p>牛膝（三錢）　石斛（五錢）　黃耆（一兩）　人參（三錢）　〔水煎服〕</p>

<h2>手足痛方</h2>
<p>手足，肝之分野。而人乃以為脾經之熱，不知散肝木之鬱結，而手足之痛自去。方用「逍遙散」加：</p>
<p>梔子（三錢）　半夏（二錢）　白芥子（二錢）　水煎服</p>
<p>二劑則痛如失。蓋肝木作祟，則脾不敢當其鋒，氣散於四肢，結而不伸，所以作楚。今平其肝氣，則脾氣自舒矣。</p>

<h2>胸背手足頸項腰膝痛方</h2>
<p>筋骨牽引，坐臥不得，時時走易不定，此是痰涎，伏在心膈上下變為痰。或令人頭痛，夜間喉中如鋸聲，口流涎唾，手足重，腿冷。但用「控涎丹」，不足十劑，其疾如失矣。</p>

<h2>風寒濕合病治方</h2>
<p>風寒濕三氣，合而成疾，客於皮膚肌肉之間，或疼或麻木。</p>
<p>牛皮膠（二兩）　天南星（五錢，研）　生薑汁（共熬膏，攤貼。）　後用熱鞋底子熨之。</p>
<p>再加羌活、乳香、沒藥末，更妙。</p>

<h2>治諸痛方</h2>
<p>手痛、足痛、心腹痛……，一身而眾處皆痛，將何以治？治肝為主。蓋肝氣一舒，諸痛自愈。不可頭痛救頭、足痛救足也。方用：</p>
<p>柴胡（一錢）　陳皮（一錢）　梔子（一錢）　白芍（五錢）　薏苡仁（五錢）　茯苓（五錢）　當歸（二錢）　蒼朮（二錢）　甘草（一錢）　水煎服</p>
<p>此方逍遙散之變化也，舒肝而又去濕去火，治一經而諸經無不奏功矣。</p>

<h2>治手麻木方</h2>
<p>此乃氣虛而寒濕中之，如其不治，三年後必中大風。方用：</p>
<p>白朮（五錢）　黃耆（五錢）　防風（五分）　陳皮（五分）　桂枝（五分）　甘草（一兩）　水煎服</p>
<p>十指皆麻，並面目失色，此亦氣虛也。以補中益氣湯加木香、麥冬、香附、羌活、烏藥、防風，三劑而愈。</p>

<h2>治手足麻木方</h2>
<p>用四物湯加：</p>
<p>人參　白朮　茯苓　陳皮　半夏　桂枝　柴胡　羌活　防風　秦艽　牛膝　炙草　薑棗　引水煎服，四劑愈。</p>
<p>凡麻木是濕痰死血也，用四物湯加：陳皮、半夏、茯苓、桃仁、紅花、白芥子、甘草，水煎服，入竹瀝、薑汁服。</p>

<h2>治腿麻木沉重方</h2>
<p>用導氣湯：</p>
<p>黃耆（二錢）　甘草（一錢半）　青皮（一錢）　升麻（五分）　柴胡（五分）　五味子（三十粒）　歸尾（五分）　澤瀉（五分）　陳皮（八分）　紅花（少許）　水煎溫服，甚效。</p>

<h3>又方</h3>
<p>治兩手麻木，四肢困倦，怠惰嗜臥。〔此〕乃熱傷元氣也，宜用人參益氣湯：</p>
<p>人參（一錢）　黃耆（二錢）　甘草（一錢）　炙草（五分）　五味子（三十粒）　柴胡（七分）　白芍（七分）　升　麻（五分）　姜（三片）　棗（二枚）　水煎熱服。</p>

<h3>又方</h3>
<p>治渾身麻木不仁，及兩目羞明怕日，眼澀難開，視化昏花；睛痛亦治。方名神效黃耆湯：</p>
<p>黃耆（一錢）　陳皮（五分）　人參（八分）　白芍（一錢）　蔓荊子（二分）　炙甘草（四分）　水煎服</p>
<p>如有熱，加黃柏（三分）。</p>

<h2>治左脅痛方</h2>
<p>左脅痛，肝經受邪也。方用：</p>
<p>黃連（三錢，吳茱萸炒）　柴胡（一錢）　當歸（一錢）　青皮（一錢）　桃仁（一錢，研）　枳殼（一錢）　川芎（八分）　紅花（五分）　水煎食遠服</p>
<p>有痰加陳皮、半夏。</p>

<h2>治右脅痛方</h2>
<p>右脅痛，邪入肺經也。方用；</p>
<p>片薑黃（二錢）　枳殼（二錢）　桂心（少許）　陳皮（五分）　半夏（五分）　炙草（五分）　水煎服</p>

<h2>治左右脅俱痛方</h2>
<p>柴胡　川芎　白芍　青皮　龍膽草　枳殼　香附　當歸　砂仁　甘草　姜水煎，入木香末三四分服。</p>

<h2>兩脅走注痛方</h2>
<p>兩脅走注痛而有聲者，痰也。二陳湯加：</p>
<p>枳殼　砂仁　木香　川芎　青皮　蒼朮　香附　茴香　去甘草〔水煎服〕</p>

<h2>治脅痛身熱方</h2>
<p>脅痛身熱者，勞也。用補中益氣湯加：</p>
<p>川芎　白芍　青皮　砂仁　枳殼　茴香　升麻　去黃耆〔水煎服〕</p>

<h2>咳嗽氣急方</h2>
<p>咳嗽氣急，脈滑數者，痰結痛也。</p>
<p>栝蔞仁　枳殼　白芥子　青皮　茴香　水煎服</p>

<h2>兩脅有塊</h2>
<p>左脅有塊作痛，是死血也。右脅有塊作痛，是食積也。遍身作痛，筋骨尤甚，不能伸屈，口乾目赤，頭眩痰壅，胸膈不利，小便短赤，夜間殊甚，又遍身作癢如蟲行，人以為風也，而不知肝腎氣虛而熱也，用六味地黃湯加梔子、柴胡，是乃正治也。三劑後見效。</p>

<h2>二濁五淋辨</h2>
<p>濁淋二症，俱小便赤也。濁多虛，淋多實，淋痛濁不痛為異耳。濁淋俱屬熱症，大約屬濕痰下陷及脫精所致。惟其有痛，大約縱淫欲火動，強留敗精而然，不可混治。</p>

<h2>治淋用五淋方</h2>
<p>淡竹葉（一錢）　赤茯苓（一錢）　芥穗（一錢）　車前子（五錢）　燈心（一錢）〔水煎服〕</p>

<h2>治濁用清心蓮子飲</h2>
<p>石蓮子（二錢半）　人參（二錢半）　黃耆（二錢炙）　麥冬（錢五分）　黃芩（錢五分）　赤茯苓（二錢）　地骨皮（錢五分）　車前子（錢五分）　甘草（五分）〔水煎服〕</p>

<h2>關格方</h2>
<p>怒氣傷肝，而肝氣衝於胃口之間，腎氣不得上行，肺氣不得下達，而成此症。以開鬱為主，方用：</p>
<p>柴胡（一錢）　鬱金（一錢）　茯苓（一錢）　蘇子（一錢）　白芥子（一錢）　白芍（三錢）　荊芥（一錢）　花粉（一錢）　甘草（五分）　水煎服</p>
<p>又　方，用生半夏為末，水丸綠豆大，入鼻孔中，則必嚏噴不已，用水飲之立止。通治中風不語及中惡、中鬼等症俱妙。</p>

<h2>胸結症</h2>
<p>此乃傷寒之變〔症〕也。傷寒邪火正熾，不可急與飲食，飲食而成此症者，急須用栝蔞一枚，捶碎入甘草一錢，同煎服之。夫栝蔞乃結胸之聖藥，平常人服之，必至心如遺落，令病人服之，不畏其虛乎！不知結胸之症，是食在胸中，非大黃、枳殼、檳榔、厚朴所能祛逐，必得栝蔞始得開脾推蕩，少加甘草以和之，不至十分猛烈〔也〕。</p>

<h2>久病心痛方</h2>
<p>心乃神明之君，一毫邪氣不可干犯，犯則立死。經年累月而痛，邪犯心包絡也，但邪有寒熱之辨，如惡寒見水如仇讐，火熨之則快。方用：</p>
<p>蒼朮（二錢）　白朮（五錢）　當歸（一兩）　肉桂（一錢）　良薑（一錢）〔水煎服〕</p>
<p>此方治寒邪犯包絡也。</p>

<h3>又方</h3>
<p>如熱邪犯包絡，見水喜悅，手按之而轉痛也。方用：</p>
<p>白芍（一兩）　黑梔子（三錢）　當歸（三錢）　生地（五錢）　陳皮（八分）　甘草（一錢）　水煎服</p>
<p>寒熱二症，皆責之於肝也。蓋肝屬木，心屬火，木衰不能生火，則包絡寒矣，是宜補肝而邪自退。若包絡之熱，亦由於肝經之熱也，瀉其肝木已矣。</p>

<h2>胃氣痛方</h2>
<p>人病不能飲食，或飲食而不消化，作痛作滿，或兼吐瀉，此肝木來克脾土也。方用：</p>
<p>白芍（二錢）　當歸（二錢）　茯苓（二錢）　柴胡（二錢）　白芥子（一錢）　甘草（一錢）</p>
<p>有火加梔子二錢，無火加肉桂二錢，水煎〔服〕。此方再加白朮三錢（《傅青主男科》無此句），有食加山楂三錢，傷米食加枳殼一錢，有痰加半夏一錢，有火能散，有寒能驅，此右病而左治之一法也。</p>

<h2>腹痛方</h2>
<p>有腹痛不可忍，按之愈痛，口渴飲涼水則痛止。少傾依然大痛，此火結在大小腸，若不急治，一時氣絕，方用定痛如神湯：</p>
<p>梔子（三錢）　茯苓（一兩）　白芍（五錢）　蒼朮（三錢）　大黃（一錢）　厚朴（一錢）　甘草（一錢）　水煎服</p>
<p>此方舒肝經之氣，瀉火逐瘀。</p>

<h3>又方</h3>
<p>治冷氣心腹疼痛，此方名火龍丹：</p>
<p>硫磺（一兩，醋製）　胡椒（一錢）　白礬（四錢）　醋打蕎麵為丸，桐子大，每日服二十五丸米湯送下。</p>

<h3>又方</h3>
<p>治腹中有痞塊，一時發作而痛，不可手按者，方用：</p>
<p>枳實（一兩）　白朮（二兩）　馬糞（五錢，炒焦）　酒煎服</p>

<h2>大滿方</h2>
<p>此邪在上焦壅塞而不得散也。方用：</p>
<p>枳殼（三錢）　梔子（三錢）　栝蔞（一個，搗碎）　陳皮（三錢）　天花粉（三錢）　厚朴（錢五分）半夏（一錢）　甘草（一錢）　水煎服</p>
<p>此方之妙，全在栝蔞能祛胸膈之食，而消上焦之痰；況又佐以枳殼、花粉，同是消中之聖藥；又有厚朴、半夏，以消胃口之痰；尤妙在甘草，使群藥留中而不速下，則邪氣不能久存，自然散矣。</p>

<h2>舒筋方</h2>
<p>人一身筋脈，不可有病，病則筋縮而身痛，脈澀而身重矣。然筋之舒，在於血和；而脈之平，在於氣足。故治筋必須治血，而治脈必須補氣。人若筋急拳縮，傴僂而不能立，俯仰而不能直者，皆筋病也。方用：</p>
<p>當歸（一兩）　白芍（五錢）　薏仁（五錢）　生地（五錢）　元參（五錢）　柴胡（一錢）　水煎服</p>
<p>此方奇在用柴胡一味，入於補血藥中，蓋血虧則筋病，用補藥以治筋宜矣。何以又用柴胡以散之，不知肝為筋之主，筋乃肝之餘，肝氣不順，筋自縮急，今用柴胡以舒散之，鬱氣既除，而又濟之大劑補血之品，則筋自得其養矣。</p>

<h2>斂汗方</h2>
<p>出汗過，恐其亡陽，不可不用藥以斂之也。方用：</p>
<p>人參（一兩）　黃耆（一兩）　當歸（一兩）　北五味（一錢）　桑葉（五片）　棗仁（一錢）　麥冬（三錢）　水煎服</p>

<h3>又方</h3>
<p>手汗洗法用：</p>
<p>黃耆（一兩）　乾葛（一兩）　荊芥（三錢）　防風（三錢）　水煎一盆，熱熏而溫洗三次，即無汗。</p>

<h2>黃水瘡方</h2>
<p>雄黃（五錢）　防風（五錢）　煎湯洗之即愈</p>

<h2>初飲砒毒方</h2>
<p>用生甘草三兩，加羊血半碗，和勻飲之，立吐而愈，若飲之不吐，速用：</p>
<p>大黃（二兩）　甘草（五錢）　白礬（一兩）　當歸（三兩）　水煎湯數碗飲之，立時大瀉即生。</p>

<h2>大健脾丸方</h2>
<p>焦白朮（三兩）　人參（一兩，乳炙）　扁豆（一兩，炒）　蓮子（一兩半，去心）　雲苓（一兩半）　山藥（一兩，炒）　芡實（二兩半，炒）　陳皮（二兩）　神麯（二兩，炒）　山楂（二兩）　薏苡仁（三兩，炒）　麥芽（一兩半，炒）　黃連（三兩半，酒炒）　澤瀉（三錢半）　藿香（五錢）　桔梗（五錢）　炙甘草（五錢）　白蔻（三錢半）　煉蜜為丸，米湯飲下。</p>

<h2>瘡毒</h2>
<p>如神湯：</p>
<p>銀花（一兩）　當歸（一兩）　蒲公英（一兩）　荊芥（一錢）　連翹（一錢）　甘草（三錢）　水煎服</p>

<h2>治頭面上瘡</h2>
<p>銀花（二兩）　當歸（一兩）　川芎（五錢）　桔梗（三錢）　蒲公英（三錢）　黃芩（一錢）　甘草（五錢）　水煎服</p>
<p>二劑全消，治頭面上瘡，不可用升提之藥，最宜用降火之藥，切記之。</p>

<h2>治身上手足之瘡疽</h2>
<p>銀花（三錢）　當歸（一兩）　蒲公英（三錢）　花粉（五錢）　甘草（三錢）　牛蒡子（二錢）　芙蓉葉（七片，如無葉用根三錢）　水煎服</p>

<h2>統治諸瘡</h2>
<p>天花粉　生甘草　金銀花　蒲公英　水煎服</p>
<p>二劑痊愈。此方消毒，大有奇功，諸癰諸疽，不論部位，皆可統治之也。</p>

<h2>治疥方</h2>
<p>大楓子（三錢）　核桃仁（三錢）　人言（一錢）　水銀（一錢）</p>
<p>研末為六丸，晚間於心窩上，用一丸，以手旋轉之，一夜一丸，病輕者用三、四丸即愈，重者或再配一料可〔愈〕。</p>

<h2>產後治法</h2>
<p>以補氣血為主，方用：</p>
<p>人參（三錢）　當歸（一兩）　川芎（五錢）　益母草（一錢）　荊芥（一錢，炒黑）水煎服</p>
<p>有風，加柴胡五分；有寒，加肉桂五分；血不淨，加山楂十粒；血暈，加炮姜五分；衄血，加麥冬二錢；夜熱，加地骨皮五分；有食，加穀芽、山楂；有痰，少加白芥子。余則不必胡加。</p>

<h2>胎漏胎動</h2>
<p>俱氣血不足之故，方用：</p>
<p>人參（二錢）　白朮（五錢）　杜仲（一錢）　枸杞子（一錢）　山藥（二錢）　歸身（一錢）　茯苓（一錢）　熟地（五錢）　麥冬（二錢）　北五味（五分）　山萸（二錢）　甘草（一錢）　水煎服</p>
<p>此方不寒不熱，安胎之聖藥也。胎動為熱，不動為寒。</p>

<h2>橫生倒養</h2>
<p>氣血之虧也，氣血既虧，子亦無力，不能轉身而出，遂先出手足，必以針刺之，疼而縮入，急用：</p>
<p>人參（一兩）　當歸（三兩）　川芎（二兩）　紅花（三錢）　煎湯灌之</p>

<h2>子懸</h2>
<p>乃胎熱子不安身，欲立起於胞中，故若懸起之象，倘以氣盛治之，立死矣。方用：</p>
<p>人參（一錢）　白朮（五錢）　茯苓（二錢）　白芍（五錢）　黃芩（三錢）　歸身（二錢）　杜仲（一錢）　熟地（一兩）　生地（二錢）　水煎服</p>
<p>此皆利腰臍之聖藥，少加黃芩，則胎得寒而自定矣。</p>

<h2>治產後大喘大汗方</h2>
<p>邪入於陽明，寒變為熱，故大喘大汗。平人得此病，該用白虎湯，而產婦氣血大弱，何可乎？方用補虛降火湯，以麥冬、人參補氣，元參降火，桑葉止汗，蘇子定喘，助正而不攻邪，退邪而不損正，實有奇功效也。</p>
<p>麥冬（一兩）　人參（五錢）　元參（五錢）　桑葉（十四片）　蘇子（五分）　水煎服</p>

<h2>產後亡陽發狂</h2>
<p>大約亡陽之症，用藥汗止，便有生機，宜未定狂而先止汗，用收陽湯。</p>
<p>人參（三兩）　桑葉（三十片）　麥冬（二兩）　青蒿（五錢）　元參（五、七、八錢）　水煎服</p>
<p>一劑而汗止，二劑而狂定，後用人參、麥冬、北五味、當歸、川芎調理。此方止可救亡陽之急症，一時權宜之計，二劑後，必須改用他方。</p>

<h2>產婦氣喘腹痛方</h2>
<p>此症少陰受其寒邪，而在內之真陽，必逼越於上焦，上假熱而下真寒也，方用平喘去寒散：</p>
<p>人參　麥冬　白朮　肉桂　吳茱萸　一劑喘定，二劑痛止，必微寒頓服。</p>

<h2>產婦嘔吐下痢方</h2>
<p>此腎水之泛溢，因腎水之衰微也，急用補陽之藥，入於補陰之中，引火歸源，水自下行矣。</p>
<p>人參（五錢）　山萸（五錢）　白朮（一兩）　熟地（一兩）　茯苓（一兩）　車前子（一錢）　附子（一錢）　肉桂（三分）　水煎服</p>

<h2>白帶</h2>
<p>產前無帶也，有則難產之兆，即幸而順生，產後必有血暈之事，方用黑豆三合，煎湯兩碗，入白果十個，紅棗二十個，煎後入。</p>
<p>熟地（一兩）　山萸（四錢）　茯苓（三錢）　山藥（四錢）　薏仁（四錢）　澤瀉（二錢）　丹皮（二錢）　加水二碗煎服，一劑止，二劑永不白矣，亦通治婦人白帶，神效。</p>

<h2>血崩方</h2>
<p>歸身（一錢，酒洗桂炒）　生地（錢二分）　蒲黃（三分，酒炒）　地榆（三分，酒洗）　丹皮（五分，酒洗炒）　木通（五分）　白朮（一錢，土炒）　桔紅（七分）　香附（五分，童便浸）　三七根（五分）　姜（三片）　酒（一樽）　水（一樽）　煎九分，空心服。</p>

<h2>治產門症（瘡）</h2>
<p>柏蘗（三錢，炒）　輕粉（五分）　兒茶（三錢）　冰片（五分）　麝香（三分）　白薇（三錢）　乳香（三錢，炒去油）　鉛粉（三錢）　潮腦（三錢）　蚯蚓糞（三錢）　各為末調勻擦瘡</p>
<p>此方通治諸瘡亦可，治產門瘡最效。產門非痛即癢，二（下）方可以兼治：</p>
<p>當歸（一兩）　白芍（五錢）　柴胡（一錢）　梔子（三錢）　茯苓（五錢）　楝樹根（五分）</p>

<h2>治婦人下𤺏</h2>
<p>豬懸蹄丸：</p>
<p>蛇床子〔一兩，微炒〕　豬懸蹄〔一個，炒〕　皂礬（五錢）　枯礬（五錢）　燒砂〔三錢，炒〕　南烏椑（一兩）　樺皮（二錢）　食鹽（一錢，炒）</p>
<p>棗泥為丸，核桃大，雄黃為衣，甘草米泔水洗淨入藥，三日內，服龍膽瀉肝湯，忌食胡椒、蕎麵、魚、北瓜、房事百日。</p>

<h2>又補錄定胎方</h2>
<p>歸身　陳皮　川芎　白芍　熟地　香附　吳茱萸（炮去黑水去蒂梗酒炒，各二分）　茯苓（八分）　丹皮（七分）</p>
<p>經行過期色淡者，加官桂、炮薑、艾葉醋炒五分，姜一片，水一碗，煎八分，空心服，渣再煎臨臥服。經行時服起，連用四劑。</p>

<h2>保產無憂散</h2>
<p>當歸（錢五分）　川芎（錢三分）　枳殼（六分，麩炒）　祁艾（五分，醋炒）　紅花（五分）　紫厚朴（七分，姜炒）　川羌活（五分）　川貝母（一錢）　荊芥穗（八分）　炙黃耆（七分）　菟絲子（二錢，酒洗）　炙甘草（五分）　白芍藥（一錢二分，炒）</p>
<p>上藥十三味，只用十二味，各照分兩秤准，不可任意加減，徒服不靈。若安胎去紅花不用；若催生去祁艾不用。一劑用井水一樽半，煎一樽，姜三片為引，熱服，渣用水一樽，煎半樽熱服。倘不好，再用水一樽，煎半樽，服之即好，不用二劑。</p>

<h2>滑胎煎</h2>
<p>胎氣臨月，宜常服數劑，以便易生。</p>
<p>當歸（三五錢）　川芎（五七錢）　杜仲（二錢）　熟地（三錢）　枳殼（七分）　山藥（二錢）　水（二樽）　煎（八九分），食遠溫服。</p>
<p>如氣體虛弱者，加人參、白朮隨宜用之，便實多滯者，加牛膝三分。</p>

<h2>大資生丸方</h2>
<p>老人用：</p>
<p>人參（五錢）　茯苓（二兩）　云術（三兩）　山藥（一兩，炒）　薏米（一兩五錢）　健（建）蓮（二錢，去心）　芡實（一兩五錢）　麥芽（一兩，炒）　神麯（八錢，炒）　白芥子（八錢，炒）　陳皮（一兩）　白蔻（八錢）　扁豆（一兩五錢）　炮姜（八錢）　當歸（一兩，酒炒）棗仁（一兩五錢，炒）　遠志（七錢）　炙草（八分，酒洗）</p>
<p>共為細末，煉蜜為丸，如彈子大，每服三丸。或以逍遙散，或以歸脾湯送下亦可。</p>

<h2>健脾丸</h2>
<p>白朮（二兩五錢，土炒）　蓮子（二兩五錢，去心）　山藥（二兩五錢，炒）　山楂（二兩五錢）芡實（一兩）　茯苓（一兩）</p>
<p>以上六味，俱飯上蒸曬兩次，加神麯五錢，白芍五錢，白色大米蟲五錢，陳皮二錢，澤瀉二錢。</p>
<p>如瘦極成疳，加蘆薈三錢，杜仲二錢。如泄瀉，加肉果煨三錢。如內熱、口乾、大便結，加黃連二錢姜炒；潮熱，加柴胡三錢；骨蒸，加地骨皮五錢；有蟲，加使君子三錢；肚腹脹大、大便閉寒、腸鳴作聲，加檳榔五分、木香一錢，煉蜜為丸，如彈子大，空心米飲送下二三錢，宜常服。</p>

<h2>治脾泄方</h2>
<p>上黨參（四錢，去蘆）　焦於白朮（二錢）　雲苓塊（二錢）　炒白　扁豆（二錢）　炒薏苡仁（三錢）　炒穀芽（三錢）　炒甘草（六分）　砂仁（五分）　陳皮（八分）　加建蓮肉（七個，去心炒）〔水煎服〕</p>

<h2>又治脾泄丸（散）方</h2>
<p>於白朮（米泔浸透切片，米湯拌，蒸曬五次）　陳土（炒焦　四兩）　雲苓塊（米湯拌蒸曬三兩）　白扁豆（炒去皮）　薏苡仁（四兩，炒）　穀芽（三兩，炒）　陳皮（一兩，湯米拌炒）　甘草（一兩，炒）　砂仁（七錢，略炒）　建蓮肉（四兩，去心炒）</p>
<p>共為細末，每早服四錢，米湯或開水下，每一錢，加人參末半分和勻。如不用參，則原方加上黨參，去蘆切片焙，四兩。</p>

<h2>治肝氣方</h2>
<p>當歸（二錢）　白芍（一錢二分，酒炒）　焦於白朮（錢五分）　雲苓塊（錢五分）　柴胡（八分，醋炒）　生甘草（五分）　丹皮（一錢）　黑山梔（一錢）　炮姜（三分）　水煎服</p>

<h2>大滋陰補水丸方</h2>
<p>懷大熟地（六兩，烘燥）　山藥（三兩，炒）　北沙參（三兩）　抱木茯神（三兩，去木人乳拌蒸曬）　棗仁（三兩，炒）　沙苑蒺藜（三兩，揀淨炒）　大麥冬（三兩，去心焙）　蓮鬚（二兩）　阿膠（三兩，蛤粉炒）　左牡蠣（四兩，煅）　丹參（二兩，炒）　敗龜板（四兩，炙）　菟絲子（二兩，淘淨酒煮爛搗餅乾）　遠志肉（一兩二錢，去心）　桂元肉（一百二十個，烘炒）甘草（六錢，煎湯泡炒）</p>
<p>上共為末，煉熟蜜為丸，梧子大。</p>

<h3>又方</h3>
<p>魚膘一兩煎碎蛤粉炒，沙苑蒺藜酒洗炒，全當歸各四兩酒洗，牛膝三兩酒洗，枸杞子三兩揀淨，蜜為丸，黃酒送下。</p>

<h2>神仙附益丸</h2>
<p>婦人常服卻病方：</p>
<p>香附一斤童便浸透，水洗淨，露一宿，曬乾，再如此三次用，益母草十二兩洗烘為末。再用香附四兩，艾葉一兩，煮汁，加醋大半，共為末，糊丸梧子大，每日百丸，空心下。</p>
<p>此方能治婦人百病，生育之功如神。胎前產後俱服，神妙無比。藥雖不貴，而功效倍常，仙方也。</p>

<h2>尿方</h2>
<p>為風寒濕氣傷者，用此方：</p>
<p>小茴香二兩，用上好真酒一大甬（碗？），豬尿泡一個，將茴香微炒真酒裝入泡內，將口控好，砂鍋內用水上火煮，以酒盡為度，取出曬乾研末，每服三錢，紅糖水沖服。</p>

<h3>又方</h3>
<p>因人事過多傷者，用此方：</p>
<p>川軍三錢〔研末〕，用雞子一個，包入泥內，上火燒之，以熟為度，去皮黃，研末，將川軍末與雞白共為一處和丸，梧子大，每服二錢，真酒送下，連造三次，服完可痊愈矣。</p>

<h3>又方</h3>
<p>川軍（三錢）　牡蠣（三錢）　芡實（三錢）</p>
<p>共為細末，用雞清和丸梧子大，每服三錢，開水送下，分三日用，服完即愈。</p>
<p>又用八味丸原方，加白果仁七個，三五服即愈。</p>

<h2>木耳丸</h2>
<p>治腰腿痛：</p>
<p>萵苣子（四兩，白色）　枸杞子（四兩）　白木耳（半斤）　煉蜜為丸</p>

<h2>治乳疼方</h2>
<p>生半夏一個研末　蔥白一寸</p>
<p>搗為泥，用絹包之，左乳疼，塞入右鼻孔，右乳疼，塞入左鼻孔內。</p>

<h2>傷風腿疼方</h2>
<p>蒜辮　荊芥　防風　紅花　地骨皮　川烏　草烏　乳香　沒藥（各三錢）　透骨草（錢半）</p>
<p>煎湯洗畢，火干，覆被見汗即愈。如未效，再洗二、三次。</p>

<h2>治腿上濕瘡方</h2>
<p>榆條　椿條　柳條　桑條　槐條（各一兩）　荊芥　當歸　蔥胡　蒜辮　川椒（各一撮）水十碗，煎五碗洗，洗後，敷以銀杏散：銀珠（一兩）　杏仁（五錢）　京粉（五錢）　研細末</p>

<h2>治心口痛方</h2>
<p>大棗（一個去皮核）　胡椒（七個）</p>
<p>共搗爛和勻，湯送下即愈。</p>

<h3>又方</h3>
<p>一個烏梅兩個棗，七個杏仁一處搗，男酒婦醋送下去，不害心疼直到老。</p>

<h2>人馬平安散</h2>
<p>明雄黃（一錢）　硃砂（一錢）　冰片（一分三釐）　麝香（一分五釐），共為細末，瓷瓶收貯。</p>
<p>治男女大小，心口臌悶，水瀉痢疾，心腹疼痛等症。用骨簪，男先點左眼，女先點右眼，點之即愈。兼治牛馬豬羊等畜。</p>

<h2>治夏日中暑氣紅白痢疾方</h2>
<p>焦山楂（五錢）　紅　糖（五錢）　白糖（五錢）　蘿蔔（一個）　藿　香（錢五分）　若白痢用紅糖一兩　若紅痢用白糖一兩　水煎服後附其他經驗神方：</p>

<h2>五子衍宗丸</h2>
<p>男服此藥，添精補髓，疏利腎氣，不問下焦虛實寒熱，服之自能和平，舊稱古今第一種子方。有能世世服此藥，子孫蕃衍。</p>
<p>甘州枸杞子（八兩）　菟絲子（八兩，酒蒸搗餅）　遼五味子（二兩研碎）　車前子（二兩，搗淨）　覆盆子（四兩，酒洗去目）</p>
<p>上各藥俱擇地道精新者，焙曬乾，共為細末，煉蜜丸梧子大，每空心服九十丸，上床時五十丸，白沸湯或鹽湯送下；冬月用溫服（酒）送下。脩合春取丙丁巳午，夏取戊己辰戌，秋取壬癸亥子，冬取甲乙寅卯，忌尼師鰥寡之人見之，及雞犬畜見之。</p>

<h2>百子附歸丸</h2>
<p>女服此藥，調經養血，安胎順氣。不問胎前產後、經事參差、有餘不足諸證，悉皆治之，殊益胎嗣。此太僕吏鮑璧，台州人，其妻年三十不生育，忽經事不至者十月，腹鼓大無病，皆謂妊娠，一日忽產惡物盈桶，視之皆敗痰積血。後復此丸，不期年生一子。張云，彼嘗以此二方與人，服無不應者。</p>
<p>真阿膠（蛤粉炒成珠）　蘄艾葉（去筋梗醋蒸乾）　當歸（擇肥酒洗去蘆）</p>
<p>川芎（去蘆）　熟地黃（去腦取沉水者要懷慶佳者）　香附（赤心者去毛）　白芍藥（肥長者）　</p>
<p>以上各二兩　杵成米，水醋各淹一宿，曬焙乾十二兩</p>
<p>上為細末，用大陳石榴一枚，連皮搗碎，東流水三升，熬去滓，麵糊為丸，梧子大，每服百丸，空心陳醋點湯下。</p>

<h2>洗眼仙方</h2>
<p>防風（五分）　硼砂（一釐）　膽礬（二釐半）　同煎水洗之立愈。</p>

<h2>明目補腎方</h2>
<p>小紅棗（十二枚，冷水洗淨，去核）　甘枸杞子（三錢）　馬料豆（四錢）　水二碗，煎一碗，早晨空心連湯共食之。</p>

<h2>洗眼奇方</h2>
<p>方出道藏，不論瞽目、犯土、雲霧、風眼、火眼、昏花，久洗自明，用：</p>
<p>皮硝（六錢）　桑白皮（一兩）　水煎</p>
<p>每遇日期，熱洗數十次。正月初五、二月初二、三月初三、四月初九、五月初五、六月初四、七月初三、八月初十、九月十二、十月十二、十一月初四、十二月初四。</p>
<p>以上吉星日子，乃通光明也。其方千金不易，屢用屢驗。</p>

<h2>吐血救急方</h2>
<p>吐血不止，用青柏葉（一把），乾薑（三片），阿膠（一挺炙）。共三味，以水二碗，煎一碗服。</p>
<p>又，就用吐出血塊，炒黑為末，每服三分，以麥冬湯調服。</p>
<p>又，以古金墨磨汁，同蘿蔔汁，飲之。</p>
<p>痰帶血絲，童便、竹瀝止之。</p>
<p>又，茜根末二三錢，童便煎服。吐血不止，藕汁加童便良。</p>
<p>又，大蘇葉根，搗汁溫服。</p>
<p>鼻血欲死，亂髮燒灰，水服，方寸匕，吹之。</p>
<p>又，刀刮指甲末，吹之，即止。</p>

<h2>一人少患血症，用露漿方</h2>
<p>中秋前後，用無五倍子，新青布一、二疋，扯作十餘段，每段四五尺，五更時，於百草頭上，荷葉稻苗上尤佳，先用細竹一根，掠去草上蛛網，乃用青布，系長竹上，如旗樣，展取草露水，絞在桶中，展濕即絞，視青布色淡，則另換新布，陽光一見即不展。所取露水，用瓷罐洗淨盛貯，澄數日自清，晚間用男（人）乳一酒杯，約一兩半，白蜂蜜一酒盞，人參湯一酒杯，多少同乳，人參鬚上等四五分不拘，總入一宮碗內，將露水一飯碗，攙入宮碗，共得七八分，和勻，以綿紙封口，用碟蓋好。次日五更，燒開水兩大碗，將宮碗內露，隔湯𥂦熱，睡醒時，緩緩溫服之。蘭所以殺蟲，露去諸經之火，參補氣，乳補血，蜜潤肺，治一切虛損勞症，奇效。</p>
<p>辛稼軒，初自北方還朝，官建康，忽得㿗疝之疾，重墜大如杯，有道人教以取葉珠，即薏苡仁，用東方壁土，炒黃色，然後水煮爛，入砂盆內，研成膏，用無灰酒調下二錢，即消。沙隨先生，晚年亦得此疾，稼軒親授此方，服之亦消。然城郭人患不能得葉珠，只於生藥鋪買薏苡仁，亦佳。</p>

<h2>治腎虛腰痛方</h2>
<p>用杜仲酒浸透炙乾，無灰酒調下。</p>

<h2>又記治食生冷心脾痛方</h2>
<p>用陳茱萸五六十粒，水一大盞，煎取汁去滓，入平胃散三錢，再煎熱服。</p>

<h2>又沙隨嘗患淋</h2>
<p>日食白東瓜三大甌，而愈。</p>

<h2>治喉閉方</h2>
<p>用梧桐子一二十粒，研細，少加醋，服下痰去自愈。</p>
<p>又用帳帶散，惟白礬一味，或不盡驗。南浦有老醫，教以用鴨嘴、膽礬，研細，以釅醋調灌。有鈴下一老兵妻，患此垂殆，如法用之，藥甫下咽，即大吐，去膠痰數升，立瘥。</p>
<p>又治眼障，用熊膽少許，以淨水略調，盡去筋膜塵土，用冰腦一二片，癢則加生薑粉些少，時以銀筋點之，奇驗。赤眼亦可用。</p>

<h2>急治時行瘟症方</h2>
<p>藿香（二錢）　紫蘇（錢五分）　蒼朮（錢二分）　赤苓（三錢）　白芷（一錢）　陳皮（錢五分）　川樸（一錢，薑製）　烏梅（四個，打碎）　檳榔（一錢）　半夏（錢五分，薑製）　桔梗（一錢）　引加生薑（三片）　大棗（三枚，）　水三杯，煎成一杯，溫服。</p>

<h2>痰火神丸方</h2>
<p>大黃（五兩，酒蒸極黑）　陳皮（一兩，去盡白）　白朮（二兩，土炒）　前胡（二兩）　枳實（二兩，麩炒）　山楂（二兩）　生甘草（四錢）　大半夏（二兩）　花粉（二兩，土炒）</p>
<p>製半夏法：生薑自然汁泡之，三次用姜三兩，取汁，滾水半碗入半夏內，一次泡七天，取出焙乾，共為細末，老米煮粥搗爛為丸。</p>
