<header data-type="book">
<h1>葉天士醫案精華</h1>
</header>

<h1>中風</h1>
<p>今年風木司天。春夏陽升之候。兼因平昔怒勞憂思。以致五志氣火交併於上。肝膽內風鼓動盤旋。上盛則下虛。故足膝無力。肝木內風壯火。乘襲胃土。胃主肌肉。脈絡應肢。繞出環口。故唇舌麻木。肢節如痿。固為中厥之萌。觀河間內火召風之論。都以苦降辛泄。少佐微酸。最合經旨。折其上騰之威。使清空諸竅。毋使濁痰壯火矇蔽。乃用藥之權衡也。至於頤養工夫。寒暄保攝。尤當加意於藥餌之先。</p>
<p>金石斛　化橘紅　北秦皮　草決明　冬桑葉　白蒺藜　嫩鉤藤　生白芍</p>
<p>又　前議苦辛酸降一法。肝風胃陽已折其上引之威。故諸症亦覺小愈。雖曰治標。正合歲氣節候而設。思夏至一陰來復。高年本病。預宜持護。自來中厥。最防於暴寒驟加。致身中陰陽兩不接續耳。議得攝納肝腎真氣。補益上虛本病。</p>
<p>九制熟地　肉蓯蓉　生虎脛骨　淮牛膝　制首烏　川萆薢　川石斛　赤白茯苓　柏子霜　黑穭豆皮</p>
<p>立冬後三日。診得左脈小絃動數。右手和平略虛。問得春夏平安。交秋後有頭暈。左目流淚。足痿無力。不能行走。舌生紅剌。微咳有痰。此皆今年天氣大熱已久。熱則真氣泄越。虛則內風再旋。經言痿生大熱。熱耗津液。而舌剌咳嗽流淚者。風陽升於上也。上則下焦無氣矣。故補肝腎以攝納腎氣為要。而清上安下。其在甘涼不傷脾胃者宜之。</p>
<p>制首烏　杞子　天冬　茺蔚子　黃甘菊　黑穭豆皮　茯苓　川石斛　虎骨膠</p>
<p>離愁菀結。都系情志中自病。恰逢冬溫。陽氣不潛。初交春令。陽已勃然變化。內風遊行擾絡。陽但上冒。陰不下吸。清竅為蒙。狀如中厥。舌喑不言。劉河間謂將息失宜。火盛水衰。風自內起。其實陰虛陽亢為病也。既不按法論病設治。至驚蟄雷鳴。身即汗泄。春分氣暖。而晝夜寤不肯寐。甚至焦煩。迥異於平時。何一非陽氣獨激使然耶。夫肝風內擾。陽明最當其衝犯。病中暴食。以內風消爍。求助於食。今胃脈不復。氣愈不振。不司束筋骨以利機關。致鼻準光亮。肌肉浮腫。考古人虛風。首推侯氏黑散。務以填實腸胃空隙。庶幾內風可息。奈何醫者不曰清火豁痰。即曰膩補。或雜風藥。內因之恙。豈有形質可攻。偏寒偏熱。皆非至理。</p>
<p>生牡蠣　生白芍　炒生地　菊花炭　炙甘草　南棗肉</p>
<p>嗔怒動陽。恰值春木司升。厥陰內風乘陽明脈絡之虛。上凌咽喉。環繞耳後清空之地。升騰太過。脂液無以營養四末。而指節為之麻木。是皆痱中根萌。所謂下虛上實。多致巔頂之疾。夫情志變蒸之熱。閱方書無芩連苦降。羌防辛散之理。肝為剛臟。非柔潤不能調和也。</p>
<p>鮮生地　元參心　桑葉　丹皮　羚羊角　連翹心</p>
<p>脈濡無熱。厥後右肢偏痿。口喎舌歪。聲音不出。此陰風濕晦中於脾絡。加以寒滯湯藥。蔽其清陽。致清氣無由展舒。法宗古人星附六君子湯。益氣仍能攻風祛痰。若曰風中廉泉。乃任脈為病。與太陰脾絡有間矣。</p>
<p>人參　茯苓　新會皮　香附汁　南星薑汁炒　竹節白附子薑汁炒</p>
<p>痛從腿肢筋骨。上又腰腹。貫於心胸。若平日經來帶下。其症亦至。此素稟陰虧。衝任奇脈空曠。凡春交。地中陽氣升舉。虛人氣動隨升。絡血失養。諸氣橫逆。面赤如赭。飢不欲食。耳失聰。寤不成寐。陽浮脈絡交空顯然。先和陽治絡。</p>
<p>細生地　生白芍　生鱉甲　生龜甲　生虎骨　糯稻根　滋腎丸</p>
<p>脈弦小數。形體日瘦。口舌麋碎。肩背掣痛。肢節麻木。膚腠瘙癢。目眩暈。耳鳴。已有數年。此屬操持積勞。陽升內風旋動。爍筋損液。古謂壯火食氣。皆陽氣之化。先擬清血分中熱。繼當養血。熄其內風。安靜勿勞。不致痿厥。</p>
<p>生地　元參　天冬　丹參　犀角　羚羊角　連翹　竹葉心</p>
<p>年歲壯盛。腕有氣瘕。噯噫震動。氣降乃平。流痰未愈。睪丸腫硬。今人夜將寐。少腹氣衝至心。竟夕但寤不寐。頭眩目花。耳內風雷。四肢麻痹。肌腠如剌如蟲行。此屬操持怒勞。內損乎肝。致少陽上聚為瘕。厥陰下結為疝。衝脈不靜。脈中氣逆混擾。氣燥熱化。風陽交動。營液日耗。變亂種種。總是肝風之害。非攻消溫補能治。惟以靜養。勿加怒勢。半年可望有成。</p>
<p>阿膠　細生地　天冬　茯神　陳小麥　南棗肉</p>
<p>頭痛神煩。忽然而至。五行之速。莫如風火。然有虛實內外之因。非徒發散苦寒為事矣。如向有肝病。目疾喪明。是陰氣久傷體質。今厥陰風木司天。春深發泄。陽氣暴張。即外感而論。正內經冬不藏精。春病必溫。育陰可使熱清。大忌發散。蓋陰根久傷。表之再傷。陽劫陰液。仲景謂一逆尚引日。再逆促命期矣。余前主阿膠雞子黃湯。佐地冬壯水。芍甘培土。亟和其厥陽沖逆之威。鹹味入陰。甘緩其急。與內經肝病三法恰合。今已入夏三日。虛陽倏上。煩躁頭痛。當大滋腎母以蘇肝子。補胃陰以杜木火乘侮。旬日不致反復。經月可望全好。</p>
<p>人參　熟地　麥冬　天冬　龜膠　阿膠　五味　茯神</p>
<p>此痿厥也。蓋厥陰風旋。陽冒神迷則為厥。陽明絡空。四末不用而為痿厥。午後黃昏。乃厥陰陽明旺時。病機發現矣。凡此皆屬絡病。金匱篇中有之。仲景云。諸厥宜下。下之利不止者死。明示下降之藥。皆可止厥。但不可硝黃再傷陰陽耳。但積年沉疴。非旦夕速效可知矣。</p>
<p>活鱉甲　真阿膠　方諸水　鮮生地　元參　青黛</p>
<p>平昔腸紅。陰絡久傷。左脅下宿瘕。肝家風氣易結。形瘦面青。陰虛陽氣易冒。血絡不得凝靜。諸陽一併。遂為厥。沖氣自下犯胃為呃。症似蓄血為狂。奈脈細勁。咽喉皆痛。真陰枯槁之象。水液無有。風木大震。此剛劑強鎮。不能息其厥冒耳。</p>
<p>生雞子黃　真阿膠　淡菜　龜板　熱童便</p>
<p>脈上左部稍振。水虧。木中風動。左牙痛。蓋風從內旋。乃陽之化風。只以春深地氣上升之候。多升少降。無非下元不司收納。虛症何疑。況因目恙。頻用韭子煙燻。查本草藥性。辛辣升騰助陽。孫真人於遺濁用之。藉其升陽以涵陰。更無漏泄耳。今痱中八日。聲音漸振者。乃精氣略有寧靜。里竅略有靈機。是順境也。乃不明此理。仍用辛以泄氣。加人參亦是清散上焦之藥。以肝腎藏虛在於至陰。若再投辛以傷其陰。必致虛症峰起。焉望其向安。倘必以上有火熱。古稱實火宜清。虛火宜補。溫養柔和。與溫熱剛燥迥異。幸勿疑訝。</p>
<p>生地　川斛　麥冬　茯神　阿膠　女貞子</p>
<p>脈左細數而勁。右數大而虛。此腎精肝血內虧。水不涵木。陽挾內風。暴起莫制。指臂拘攣。口目喎邪在左。蓋肝風陽氣從左而升。沖氣撞心。消渴暈厥。仲景列於厥陰篇中。凡肝屬陰木。必犯胃之陽土。飲食熱氣入胃。引動肝腸。即病發矣。此恙已六七年。陰損已極。必屏絕俗擾。怡悅情懷。然後滋養堪固其陰。必有小效。無期速功。</p>
<p>炒鬆熟地　陳阿膠　大淡菜　萸肉　五味　芡實　金櫻子粉</p>
<p>右瘓。舌喑。足痱。頭重。面載陽。呵欠。微呃。診脈小濡而緩。此腎納失司。肝風震突。但病起耳後暴腫。必兼溫熱客氣。清上輕揚。腫勢頗減。七日以來。當陰陽經氣一小周天。不必以時邪引病為惑。昔河間宣明方論中。謂舌強難言。其咎在乎舌下經脈不主流動。以腎脈縈及舌本耳。其主地黃飲子。取意濁藥清投。機關漸靈。並無礙乎上氣痰熱。仿此法。</p>
<p>熟地　肉蓯蓉　遠志　川石斛　茯神　枸杞子　牛膝　石菖蒲</p>
<p>年前肝風眩暈。主以涼血分利陽熄風。一年未發。今歲正月春寒。非比天暖開紲。此番病發。必因勞恐觸動情志。至於嘔逆。微冷倏熱。交醜寅。漸作耳鳴咽痹。食納久留脘中。想少陽木火盛於寅。膽脈貫耳。犯逆之威。必向陽明。而後上憑諸竅。脈右澀大。胃逆不降。食味不甘。而脘中逆亂。熏蒸日熾。營血內耗。無以養心。斯寢不肯寐。心搖盪漾。有難以鳴狀之象。今頭重脘痹。全是上為木火升騰。阻遏清陽。前方滋清。血藥居多。必不奏功。今議湯劑。方以苦降其逆。辛通其痹。然湯宜小其制度。以久病體虛。初春若此。冬藏未為堅固可知。其丸劑。界以局方龍薈丸。暫服半月再議。</p>
<p>連翹　黑梔皮　羚羊角　鮮菊葉　紫菀　鬱金　大杏仁　土栝蔞皮　鮮菖蒲根</p>
<p>粵東地卑多濕。陽氣多紲。宦遊十載。恰已五旬。中年二氣。不及壯盛堅固。眩暈汗出。乃陽不潛藏。變化內風。擾動虛靈所致。內經藏象謂腎為根本。左右有二。蓋一陰一陽。互相交紐。水中有火。為生生化育。惟藏蓄不露。斯永年無病。而肝為腎子。母氣既衰。水不生木。肝屬風藏。內風乘龍雷相火。迅速飛騰。陡升莫制。每慮僕中之累。是皆內因之症。自述熱起脊背。直至巔頂。清之補之無效。未免藏陰內乏。陽氣獨升之旨。古人以腎藏內寓真陽。非溫不納。肝藏內寄相火。非清不寧。用藥之法。填實精氣。以固其下。佐鹹味以達之。兼氣重以鎮之。介類以潛之。酸味以收之。復入滋清以涼肝。引之導之。浮陽內風。勿令鼓動。</p>
<p>熟地　北五味子　萸肉　磁石　青鹽　瑣陽　龜板　茯神　湘蓮　天門冬　豬脊筋</p>
<p>張石頑治春榜趙明遠。平時六脈微弱。己酉九月。患類中風。經歲不痊。邀石頑診之。其左手三部。弦大而堅。知為腎藏陰傷。壯火食氣之候。且人迎斜內向寸。又謂三陽經滿溢入陽維之脈。是不能無顛仆不仁之慮。右手三部浮緩。而氣口以上微滑。乃痰沫壅塞於鬲之象。以清陽之位。而為痰氣佔據。未免侵及心主。是以神識不清。語言錯誤也。或者以其神識不清。言語錯誤。口角常有微涎。目晴恆不易轉。以為邪滯經絡。而用祛風導痰之藥。殊不知此本腎氣不能上通於心。心藏虛熱生風之症。良非燥藥所宜。或者以其小便清利倍常。以為腎虛而用八味壯火之劑。殊不知此症雖虛。而虛陽伏於肝藏。所以陽事易舉。飲食易飢。又非益火補陰藥所宜。或者以其向患休息久痢。大便後。常有痰紅漬沫。而用補中益氣。殊不知脾氣陷於下焦者。可用升舉之法。此陰血久利之餘疾。有何清氣在可升發乎。若用升柴升動肝腎虛陽。鼓激鬲上痰飲。能保其不為喘脹逆滿之患乎。是升舉藥不宜輕服也。今舉河間地黃飲子。助其腎。通其心。一舉而兩得之。但不能薄滋味。遠房室。則藥雖應病。終無益於治療也。惟智者善為調攝為第一義。</p>
<p>熟地　巴戟天　蓯蓉　山萸肉　茯苓　薄荷　淡熟川附　肉桂　五味子　麥冬　川石斛　遠志　鮮石菖蒲</p>

<h1>虛勞</h1>
<p>陽外泄為汗。陰下注則遺。二氣造偏。陰虛熱勝。腦為髓海。腹是至陰。皆陽乘於陰。然陽氣有餘。益見陰弱。無以交戀其陽。因病致偏。偏久致損。坐功運氣。陰陽未協。損不肯復。頗為可慮。今深秋入冬。天氣收肅。陽氣泄越。入暮灼熱。總是陰精損傷而為消爍耳。</p>
<p>川石斛　炒知母　女貞子　茯神　糯稻根　小黑穭豆皮</p>
<p>又　暮夜熱熾。陰虛何疑。但從前表散。致衛陽疏泄。穿山甲鑽筋流利。後至經絡氣血劫撤。內損不復。衛陽藩籬交空。斯時亦可撐半壁矣。失此機宜。秋收冬藏主令。其在封固蟄藏耳。張季明謂元無所歸則熱灼。亦是。</p>
<p>人參　河車　熟地　五味　蓮肉　山藥　茯苓</p>
<p>今年長夏久熱。傷損真陰。深秋天氣收肅。奈身中泄越已甚。吸短精濁。消渴眩暈。見症都是肝腎。脈由陰漸損及陽明胃絡。納穀減。肢無力。越人所云。陰傷及陽。最難充復。誠治病易。治損難耳。</p>
<p>人參　天冬　生地　茯神　女貞　遠志</p>
<p>脈數垂入尺澤穴中。此陰精未充早泄。陽失潛藏。汗出吸短。龍相內灼。升騰面目。肺受熏蒸。嚏涕交作。兼之胃弱少谷。精濁下注。溺管疼痛。肝陽吸其腎陰。善怒多郁。顯然腎虛如繪。議有情之屬以填精。仿古滑澀互施法。</p>
<p>牛骨髓　豬脊髓　羊脊髓　麋角膠　熟地　人參　萸肉　五味　芡實　湖蓮　山藥　茯神　金櫻膏　膠髓丸</p>
<p>此少壯精氣未旺。致奇脈網維失護。經云形不足者。溫之以氣。精不足者。補之以味。今納穀如昔。血肉充養。補之以味。莫若以飲食補之。</p>
<p>牛骨髓　羊骨髓　豬骨髓　茯神　枸杞　當歸　湖蓮　芡實</p>
<p>據說熱自左升。直至耳前後脹。視面色油亮。足心灼熱。每午後入暮皆然。上午用茶調散。宣通上焦鬱熱。不應。此肝腎陰火乘竅。即因男子精虧。陽不下交。經言。以滋填陰藥。必佐介屬重鎮。試以安寢。竟夜乃安。參陽動陰靜至理。</p>
<p>熟地　龜板　萸肉　五味　茯苓　磁石　黃柏　知母　豬脊髓丸</p>
<p>有形血液。從破傷而損。神氣無以擁護。當此冬令藏陽。陽微畏寒。奇脈少津。乏氣貫布。行步欹斜。健忘若憒。何一非精氣內奪之徵。將交大雪。純陰無陽。冬至一陽來復也。見此離散之態。平素不受暖補。是氣元長旺。今乃精衰氣竭之象。又不拘乎此例也。</p>
<p>人參　鹿茸　歸身　炒杞子　茯苓　沙苑</p>
<p>陰精走泄於下。陽氣鬱冒於上。太衝脈衰。厥氣上衝。陡然癇厥。陰陽既失交偶。因隨陽掀旋。陽從汗泄矣。宜遠房帷。獨居靜室。醫治之法。從陰引陽。大封大固。以蟄藏為要。百日可效。經年可以復元。</p>
<p>淡蓯蓉　五味　遠志　茯神　芡實　建蓮　生羊腰子</p>
<p>勞怯。形色奪。肌肉消。食減便滑。兼嗆痰喉痛。知醫理者。再無清喉涼肺滋陰矣。病人述心事操持病加。顯然內損。關係臟真。冬寒藏陽。人身之陽。升騰失交。收藏失司。豈見病治病。膚淺之見識。據說食進逾時。必有痛泄。經言。食至小腸。變化屈曲。腸間有阻。常有諸矣。凡湯藥氣升。宜丸劑疏補。資生丸食後服。</p>
<p>人參　坎氣　茯苓　黑殼建蓮　五味　芡實　山藥漿丸</p>
<p>虛勞三年。形神大衰。食減無味。大便溏瀉。寒起背肢。熱從心熾。每咳。必百脈動掣。間或脅肋攻觸。種種見症。都是病深傳遍。前議四君子湯以養脾胃沖和。加入桑葉丹皮。利少陽木火。使土少侵。服已不應。想人身中二氣致偏則病。今脈症乃損傷已極。草木焉得振頓。見病治病。諒元裨益。益氣少靈。理從營議。食少滑泄。非滋膩所宜。暫用景岳理陰煎法。參入鎮逆固攝。若不胃蘇知味。實難擬法。</p>
<p>人參　秋石　山藥　茯苓　河車膠丸</p>
<p>春深地氣升。陽氣動。有奔馳飢飽。即是勞傷。內經勞者溫之。夫勞則形體震動。陽氣先傷。此溫字乃溫養之義。非溫熱競進之謂。勞傷久不復原為損。內經有損者益之文。益者補益也。凡補藥氣皆溫。味皆甘。培生其初陽。是勞損主治法則。春病入秋不愈。議從中治。據述晨起未納水穀。其咳必甚。胃藥坐鎮中宮為宜。</p>
<p>麥冬　人參　甘草　粳米　大棗</p>
<p>脈左小右虛。背微寒。肌微冷。痰多微嘔。食減不甘。此胃陽已弱。衛氣不得擁護。時作微寒微熱之狀。小便短赤。大便微溏。非實邪矣。當建立中氣以維營衛。東垣云。骨為衛之本。營乃脾之源。偏熱偏寒。猶非正治。</p>
<p>人參　歸身米拌炒　桂枝木　白芍炒焦　南棗</p>
<p>勞傷陽氣。不肯復元。秋冬之交。余宗東垣甘溫為法。原得小效。眾楚交咻。柴葛枳樸是餌。二氣散越。交紐失固。閃氣疼痛。脘中痞結。皆清陽凋喪。無攻痛成法。唯以和補。使營衛之行。冀其少緩神蘇而已。</p>
<p>人參　當歸　炒白芍　桂心　炙草　茯神</p>
<p>久客勞傷。氣分痹阻。則上焦清空諸竅不利。初病在氣。久則入血。身痛目黃。食減形瘦。由病患及乎元虛。攻補未能除病。思人身左升屬肝。右降屬肺。當兩和氣血。使升降得宜。若再延挨。必瘀滯日甚。結為腑聚矣。</p>
<p>旋覆花湯加桃仁歸鬚蔞皮</p>
<p>症見失血咳嗽。繼而暮熱不止。經水仍來。六七年已不孕育。乃肝腎衝任皆損。二氣不交。延為勞怯。治以攝固。包舉其泄越。</p>
<p>鮮河車膠　黃柏　熟地　淡蓯蓉　五味　茯神　蜜丸</p>
<p>診脈數。左略大。右腰牽絆。足痿。五更盜汗即醒。有夢情欲則遺。自病半年。脊椎六七節骨形凸出。自述書齋坐臥受濕。若六淫致病。新邪自解。驗色脈推病。是先天稟賦原怯。未經充旺。肝血腎精受戕。致奇經八脈中乏運用之力。乃筋骨間病。內應精血之損傷也。</p>
<p>人參　鹿茸　杞子　當歸　舶茴香　紫衣胡桃肉　生雄羊內腎</p>
<p>幼年成婚太早。精氣未充先泄。上年泄瀉。繼加痰嗽。納食較少。形肌日瘦。今秋深喉痛。是腎精內乏。陰中龍雷閃爍無制。當此秋令肅降。藏職失司。明歲穀雨。萬花開遍。此病危矣。</p>
<p>秋石拌人參　生紫石英　紫衣胡桃肉　茯神　女貞實　五味子</p>
<p>男子思念未遂。陰火內燔。五液日奪。但孤陽升騰。熏蒸上竅。已失交泰之義。此非外來之症。凡陰精殘憊。務在胃旺。納穀生陰。今咽喉耳鼻諸竅。久遭陰火之逼。寒涼清解。僅調六氣中之火。而臟真陰火。乃閃電迅速莫遏。清涼必不卻病。良由精血內空。草木藥餌。不能生精充液耳。</p>
<p>豬脊髓　阿膠　川斛　天冬　生地</p>

<h1>咳嗽</h1>
<p>秋令天氣下降。上焦先受燥化。其咳症最多。屢進肺藥無功。按經云。久咳不已。則三焦受之。是不專於理肺可知矣。六旬又三。形體雖充。而真氣漸衰。古人於有年久嗽。都從脾腎子母相生主治。更有咳久。氣多發泄。亦必益氣甘補斂攝。實至理也。茲議攝納下焦於早服。而純甘清燥暮進。填實在下。清肅在上。凡藥味苦辛宜忌。為傷胃泄氣預防也。</p>
<p>早服　水制熟地　白雲苓乳蒸　五味子　建蓮　淮山藥　車前子　淮牛膝</p>
<p>紫衣胡桃肉霜　上為末用蒸熟豬脊髓去膜搗丸開水送下</p>
<p>晚服　真北沙參　生黃耆薄皮　麥冬　生白扁豆　生甘草　南棗肉　上淡水煎汁濾清收膏臨成加真柿霜收開水化服</p>
<p>昨議上焦肺病。百日未痊。形肌消爍。悉由熱化。久熱無有不傷陰液。擬咸補如阿膠雞子黃。復入芩連苦寒。自上清氣熱以補下。雖為暫服之方。原非峻克之劑。細思手經之病。原無劇入足經之理。但人身氣機。合乎天地自然。肺氣從右而降。肝氣從左而升。肺病主降日遲。肝橫司升日速。咳嗆未已。乃肝膽木反刑金之兆。試言及久寐寤醒。左常似閃爍。嘈雜如飢。及至進食。未覺胃中安適。此肝陽化風。旋擾不息。致嗆無卒期。即倏熱之來。升至左頰。其左升太過。足為明驗。倘升之不已。入春肝木司權。防有失血之累。故左右為陰陽之道路。陰陽既造其偏以致病。所以清寒滋陰。不能奏其速功。</p>
<p>阿膠　雞子黃　生地　天冬　女貞實　糯稻根鬚</p>
<p>向來陽氣不充。得溫補每每奏效。近因勞煩。令陽氣弛張。致風溫過肺衛以擾心營。欲咳心中先癢。痰中偶帶血點。不必過投沉降清散。以辛甘涼。理上燥。清絡熱。疏食安閒。旬日可安。</p>
<p>冬桑葉　玉竹　大沙參　甜杏仁　生甘草　苡仁　糯米湯煎</p>
<p>外受風溫郁遏。內因肝膽陽升莫制。斯皆肺失清肅。咳痰不解。經月來猶覺氣壅不降。進食頗少。大便不爽。津液已久乏上供。腑中之氣亦不宣暢。議養胃陰以和陽。不得泛泛治咳。</p>
<p>麥冬　沙參　玉竹　生白芍　扁豆　茯苓</p>
<p>冬季溫邪咳嗽。是水虧熱氣內侵。交驚蟄節嗽減。用六味加阿膠麥冬秋石。金水同治。是瀉陽益陰方法。為調體治病兼方。近旬日前。咳嗽復作。納食不甘。詢知夜坐勞形。當暮春地氣主升。夜坐達旦。身中陽氣亦有升無降。最有失血之慮。況體豐肌柔。氣易泄越。當暫停誦讀。數日可愈。</p>
<p>桑葉　甜杏仁　大沙參　生甘草　玉竹　青蔗漿</p>
<p>脈右勁。因疥瘡頻以熱湯沐浴。衛疏易傷冷熱。皮毛內應乎肺。咳嗽氣塞痰多。久則食不甘。便燥結。胃津日耗。不司供肺。況秋冬天降。燥氣上加。漸至老年痰火之象。此清氣熱以潤燥。理勢宜然。倘畏虛。日投滯補。益就枯燥矣。</p>
<p>霜桑葉　甜杏仁　麥冬　玉竹　白沙參　天花粉　甘蔗漿　甜梨汁</p>
<p>形瘦色蒼。體質偏熱。而五液不充。冬月溫暖。真氣少藏。其少陰腎臟。先已習習風生。乃陽動之化。不以育陰驅熱。以卻溫氣。泛泛乎辛散。為暴感風寒之治。過辛泄肺。肺氣散斯咳不已。苦味沉降。胃口戕而腎關傷。致食減氣怯。行動數武。氣欲喘急。封藏納固之司漸失。內損顯然。非見病攻病矣。靜養百日。猶冀其安。</p>
<p>麥冬　甜沙參　生甘草　南棗肉　青蔗漿</p>
<p>久咳三年。痰多食少。身動必息鳴如喘。診脈左搏數。右小數。自覺內火燔燎。乃五液內耗。陽少制伏。非實火也。常以瓊玉膏滋水益氣。暫用湯藥。總以勿損胃為上。治嗽之藥。諒無益於體病。</p>
<p>北沙參　白扁豆　炒麥冬　茯神　川石斛　花粉</p>
<p>寡居煩勞。脈右搏左澀。氣燥在上。血液暗虧。由思郁致五志煩煎。固非溫熱補澀之症。晨咳吐涎。姑從胃治。以血海亦隸陽明耳。</p>
<p>生白扁豆　玉竹　大沙參　茯神　經霜柔葉　苡仁　用白糯米淘濾清入滾水泡一沸取清湯煎藥</p>
<p>又　本虛在下。情懷悒鬱。則五志之陽。上熏為咳。固非實火。但久郁必氣結血涸。延成乾血勞病。經候澀少愆期。已屬明徵。當培肝腎之陰以治本。清養肺胃氣熱以理標。剛熱之補。畏其劫陰。非法也。</p>
<p>生扁豆　北沙參　茯神　炙草　南棗肉</p>
<p>丸方　熟地黃砂仁末拌炒　鹿角霜　當歸小茴香拌炒　淮牛膝鹽水炒炭　雲茯苓　紫石英醋煅水飛　青鹽　另熬生羊肉膠和丸</p>
<p>今年春季時疫。大半皆有咳嗽咽喉之患。乃邪自上干。肺氣先傷耳。近日身動氣喘。聲音漸不揚。著左眠臥。左脅上有牽掣之狀。此肝腎陰虧。沖氣上觸。冬藏失司。漸有側眠音啞至矣。勞傷致損。非清邪治咳之病。</p>
<p>六味丸加淡秋石阿膠麥冬蜜丸</p>
<p>脈左弱右搏。久有虛損。交春不復。夜臥著枕。氣衝咳甚。即行走亦氣短喘促。此乃下元根蒂已薄。冬藏不固。春升生氣淺少。急當固納攝下。世俗每以辛涼理嗽。每致不救矣。</p>
<p>水制熟地　五味　湖蓮　芡實　茯神　青鹽　羊肉腎</p>
<p>久有痛經。氣血不甚流暢。驟加暴怒。肝陽逆行。乘肺則咳。病家云。少腹沖氣上干。其咳乃作。則知清潤肺藥。非中竅之法。今寒熱之餘。咳不聲揚。但脅中拘急。不飢不納。乃左升右降。不司旋轉。而胃中遂失下行為順之旨。古人以肝病易於犯胃。然則肝用宜泄。胃腑宜通。為定例矣。</p>
<p>桑葉　丹皮　鉤藤　茯苓　半夏　廣皮　威喜丸</p>
<p>氣鬱單脹。中空無物。臥則氣塞。濁飲上衝。漸有不得安臥之象。問其起病之由。多是惱怒動肝。為肝木鬱傷脾土。脾失健運。氣阻成脹。延及百日正氣愈虛。濁更堅凝。逆走攻肺。上咳。氣逆欲喘。脘中蘊熱。咳出膿血。病根固在肝脾。今已傳及肺部。丹溪曰。養金制木。脾無賊邪之害。滋水制火。肺得清化之權。目下至要。務在順氣。胸中開爽。寢食不廢。便可從容論治。不然。春分節近。更屬難調矣。先用宣通上焦法。</p>
<p>紫菀　杏仁　蔞皮　鬱金　厚朴　大腹皮　桑皮　茯苓皮　黑山梔</p>
<p>腎精下損。致陰氣上乘。浮陽上灼。咽喉痛痹。有喉宣發現。咳嗽喘促。是下焦元海不司收納。衝脈之氣上衝所致。故日進潤劑。望其咳減。為庸醫之良法。實釀病之禍階。現在胃弱便溏。則非治嗽可療矣。勞怯不復。當以固真納氣。培扶胃口。希冀加谷則吉。</p>
<p>人參　茯苓　芡實　坎炁　湘蓮子　秋石　五味子　胡桃</p>
<p>凡憂愁思慮之內傷不足。必先上損心肺。心主營。肺主衛。二氣既虧。不耐煩勞。易於受邪。惟養正則邪自除。無麻桂大劫散之理。故內傷必取法乎東垣。今血止脈耎。形倦不食。嗆咳不已。吐痰若黏涎。皆土敗金枯之象。急與甘緩補法。</p>
<p>生黃耆　炒白芍　炙草　飴糖　南棗</p>

<h1>失音</h1>
<p>秋涼燥氣咳嗽。初病皮毛凜凜。冬月失音。至夏未愈。而納食頗安。想屢經暴冷暴暖之傷。未必是二氣之餒。仿金實無聲議治。</p>
<p>麻黃　杏仁　石膏　生甘草　射干　苡仁</p>
<p>勞損。氣喘失音。全屬下元無力。真氣不得上注。紛紛清熱治肺。致食減便溏。改投熱藥。又是劫液。宜乎喉痛神疲矣。用補足三陰方法。</p>
<p>熟地　五味　炒山藥　芡實　茯苓　建蓮肉</p>
<p>肺象空懸。氣窒聲音不出。舌乃心苗。熱灼則舌本不展。以唇口肺家之病。乃辛熱酒毒之痹。主以輕揚為治。乃無質之病。</p>
<p>羚羊角　連翹心　竹葉心　野赤豆皮　川貝母　金銀花　威喜丸</p>

<h1>肺痿</h1>
<p>潰瘍流膿經年。脈細色奪。聲嘶食減。咳嗽喉中梗痛。皆漏損脂液。陰失內守。陽失外衛。肺痿之疴。諒難全好。</p>
<p>人參　黃耆　苡仁　炙草　歸身　白芨</p>
<p>肺痿頓吐涎沫。食物不下。並不渴飲。豈是實火。津液蕩盡。二便日少。宗仲景甘藥理胃。乃虛則補母。仍佐宣通脘間之捍格。</p>
<p>人參　麥冬　熟半夏　生甘草　白粳米　南棗肉</p>
<p>勞煩經營。陽氣弛張。即冬溫外因咳嗽。亦是氣泄邪侵。辛以散邪。苦以降逆。希冀嗽止。而肺欲辛。過辛則正氣散失。音不能揚。色消吐涎喉痹。是肺痿難治矣。仿內經氣味過辛。主以甘緩。</p>
<p>北沙參　炒麥冬　飴糖　南棗</p>
<p>凡外熱入肺而咳嗽者。可用表散藥。若內傷累及於肺而致咳者。必從內傷治。汗之則泄陽氣。肺痿音低。顯然藥誤。</p>
<p>黃耆　黃精　棗仁　白芨</p>
<p>病人述上年五月住直隸白溝河。北方不比南地。濕蒸則熱。夜坐仍涼。想是時寒熱。亦是輕邪。醫用滾痰丸下奪。表邪閉結不出。肺痿音啞喉癟。咽物艱難。仿徐之才輕可去實。用有氣無味之藥。</p>
<p>射干　生甘草　大力子　麻黃炙　蟬衣　囫圇滑石　連皮杏仁</p>

<h1>呃逆</h1>
<p>脈微弱。面亮載陽。呃逆脅痛。自利。先曾寒熱下利。加以勞煩傷陽。高年豈宜反復。乃欲脫之象。三焦俱有見症。議從中治。</p>
<p>人參　附子　丁香皮　柿蒂　茯苓　生乾薑</p>
<p>食傷腸胃。復病嘔吐。發呃下利。診兩脈微澀。是陽氣欲盡。濁陰沖逆。閱方雖有姜附之理陽。反雜入耆歸。呆鈍牽制。後方代赭重墜。又混表藥。總屬不解。今事危至急。舍理陽驅陰無別法。</p>
<p>人參　茯苓　丁香　柿蒂　炮附子　乾薑　吳萸</p>
<p>脈搏勁。舌乾赤。噯氣不展。狀如呃忒。緣頻吐胃傷。諸經之氣上逆。填胸聚脘。出入機逆。周行脈痹。肌肉著席而痛轉加。平昔辛香燥藥不受。先議治肺經。以肺主一身之氣化耳。</p>
<p>枇杷葉汁　杏仁　桔梗　枳實</p>

<h1>吐血</h1>
<p>積瘀在絡。動絡血逆。今年六月初。時令暴熱。熱氣吸入。首先犯肺。氣熱血湧。強降其血。血藥皆屬呆滯。而清空熱氣。仍蒙閉於頭髓空靈之所。諸竅閉塞。鼻窒瘜肉。出納之氣。都從口出。顯然肺氣鬱蒸。致腦髓熱蒸。脂液自下。古稱爍物消物莫如火。但清寒直泄中下。清空之病仍然。議以氣分輕揚。無取外散。專事內通。醫工遇此法。則每每忽而失察。</p>
<p>連翹　牛蒡子　通草　桑葉　鮮荷葉汁　青菊花葉　生石膏</p>
<p>以毒藥熏瘡。火氣逼射肺金。遂令咳嗆痰血。咽乾胸悶。診脈尺浮。下焦陰氣不藏。最慮病延及下。即有虛損之患。姑以輕藥。暫漸清上焦。以解火氣。</p>
<p>杏仁　綠豆皮　冬瓜子　苡仁　川貝　兜鈴</p>
<p>脈數澀小結。痰血經年屢發。仍能納食應酬。此非精血損怯。由乎五志過動。相火內起肝膽。操持鬱勃。皆令動灼。致絡血上滲混痰火。必靜養數月方安。否則木火劫爍。胃傷減食。病由是日加矣。</p>
<p>丹皮　薄荷梗　菊花葉　黑梔　淡黃芩　生白芍　鬱金　川貝</p>
<p>虛不肯復謂之損。納食不充肌膚。臥眠不能著左。遇節令痰必帶血。脈左細右勁數。是從肝腎陰血之傷。延及氣分。倘能節勞安逸。僅能帶病永年。損症五六年。無攻病之理。臟屬陰。議平補足三陰法。</p>
<p>人參　山藥　熟地　天冬　五味　女貞</p>
<p>內經分上下失血為陰絡陽絡。是腑絡取胃。臟絡論脾。今飲食甚少。柔膩姑緩。上下交病。治在中焦。其午火升煩嗽。亦因血去陽傷。以胃藥從中鎮補。使生氣自充也。</p>
<p>人參　茯苓　白朮　炙草　扁豆　白芍　山藥</p>
<p>向有失血。是真陰不旺。夏至陰生。伏天陽越於表。陰伏於裡。理宜然矣。無如心神易動。暗吸腎陰。絡脈聚血。陽觸乃溢。陰伏不固。隨陽奔騰。自述下有衝突逆氣。血湧如泉。蓋任脈為擔任之職。失其擔任。衝陽上衝莫制。皆腎精肝血不主內守。陽翔為血溢。陽墜為陰遺。腰痛足脛畏冷。何一非精奪下損現症。經言精不足者。補之以味。藥味宜取質靜填補。重著歸下。莫見血以投涼。勿因嗽以理肺。若此治法。元海得以立基。衝陽不來犯上。然損非旬日可復。須寒暑更遷。凝然不動。自日遂安適。調攝未暇縷悉也。</p>
<p>人參　炒熟地　鮮河車膠　茯苓　炒黑枸杞子　北五味　沙苑　紫石英</p>
<p>早晨未進飲食。咳逆自中焦上衝。有欲嘔之象。虛里左脅呼吸牽引震動。背部四肢寒冷。入暮心腹熱灼。而舌上干辣。夫陽虛外生寒。陰虛生內熱。陽屬腑氣。主乎外衛。陰屬臟真。主乎內營。由絡血大去。新血未充。穀味精華。不得四布。知味容納。而健運未能自然。脅右少舒。全系胃絡。下焦陰精損傷。中焦胃陽不振。夏至初陰不主來復。交節絡血再動。總是既損難以驟復之徵。大意下焦陰陽宜潛宜固。中焦營衛宜守宜行。用藥大旨如此。至於潛心滌慮。勿擾情志。再於子午。參以靜功。俾水火交。陰陽偶。是藥餌以外工夫。皆培植生氣之助。幸留意焉。</p>
<p>養營湯去黃耆遠志</p>
<p>操持怫鬱。五志中陽動極。失血咳嗆有年。皆由性情內起之病。草木難以奏安。今形色與脈。日現衰憊。系乎生氣克削。慮春半以後。地氣升。陽氣泄。久病傷損。里真少聚。冬春天冷主藏。總以攝補足三陰臟。扶持帶病延年。就是人工克盡矣。</p>
<p>人參　炒白芍　熟地炭　五味　建蓮　炙草</p>
<p>脈堅。形瘦久咳。失血有年。食物厭惡。夜寢不適。固以培本為要。所服七味八味湯丸。乃肝腎從陰引陽法。服之不效。此液虧不受桂附之剛。當溫養攝納其下。兼與益胃津以供肺。</p>
<p>早服　熟地　柏子仁　杞子　五味　胡桃肉　牛膝　蓯蓉　茯苓　蜜丸</p>
<p>晚服　人參　麥冬　五味　炙草　茯苓　山藥　鮮蓮子</p>
<p>半月前恰春分。陽氣正升。因情志之動。厥陽上燔。致咳震動絡中。遂令失血。雖得血止。診右脈長大透寸部。食物不欲納。寐中呻吟囈語。由至陰損及陽明。精氣神不相交合矣。議斂攝神氣法。</p>
<p>人參　茯神　五味　炙草　棗仁　龍骨　金箔</p>
<p>血大去。則絡脈皆空。其傷損已非一腑一臟之間矣。秋分寒露。天氣令降。身中氣反升越。明明裡不肯收攝。虛象何疑。今診脈弱濡澀。肢節微冷。氣傷上逆。若煙霧迷離。熏灼喉底。故作嗆逆。大旨以上焦宜降宜通。下焦宜封宜固。得安穀崇土。再商後法。</p>
<p>人參　炒黑杞子　炒黑牛漆　茯神　炒山藥　生苡仁</p>
<p>憂思怫鬱。五志氣火內燔。加以煙辛泄肺。酒熱戕胃。精華營液。為熱蒸化敗濁。經云。陽絡傷則血外溢。蓋胃絡受傷。陽明氣血頗富。猶勉強延磨歲月。至於陽明脈絡日衰。斯背先發冷。右脅痠痛。而咳吐不已。胃土愈憊。肝木益橫。厥陽愈逆。穢濁氣味。無有非自下泛上。大凡左升屬肝。右降屬肺。由中焦胃土既困。致有升無降。壅阻交迫。所以著左臥眠。遏其升逆之威。且煩蒸熱灼。並無口渴飲水之狀。病情全在血絡。清熱滋陰之治。力量不能入絡。茲定清養胃陰為主另進通絡之方。肝膽厥陽少和。冀其涎少脅通。積久沉疴。調之非易。</p>
<p>桑葉　丹皮　苡仁　蘇子　鉤藤　鬱金　降香　桃仁</p>
<p>有年冬藏失司。似乎外感熱熾。辛散苦寒。是有餘實症治法。自春入夏。大氣開泄。日見懨懨衰倦。呼吸喉息有聲。脅肋窒板欲痛。咯嗆紫血。絡脈不和。議以辛補通調。不致寒凝燥結。冀免關格上下交阻之累。</p>
<p>柏子仁　細生地　當歸鬚　桃仁　降香　茯神</p>
<p>先有骨痛鼓慄。每至旬日必吐血碗許。自冬入夏皆然。近僅可仰臥。著右則咳逆不已。據說因怒勞致病。都是陽氣過動。而消渴舌翳。仍納穀如昔。姑以兩和厥陰陽明之陽。非徒泛泛見血見嗽為治。</p>
<p>石膏　熟地　麥冬　知母　牛膝</p>
<p>脈數左堅。當夏四月。陽氣方張。陡然嗔怒。肝陽勃升。絡血上湧。雖得血止。而咳逆欲嘔。眠臥不得欹左。此肝陽左升太過。木失水涵。陰虧則生熱。是皆本體陰陽迭偏。非客邪實火可清可降之比。最宜恬澹無為。安靜幽閒。經年不反。可望轉偏就和。但圖藥治。難減損怯矣。經云。胃咳之狀。咳逆而嘔。木犯胃土貫膈。即至沖咽入肺。肺衰。木反刑金。從內經甘緩以制其急。</p>
<p>米炒麥冬　糯稻根鬚　女貞子　茯神　生甘草　南棗肉</p>
<p>血去胃傷。當從中治。況五年前勞怒而得病。肝木無不剋土。醫者溫補競進。氣壅為脹。至夜咽乾無寐。食物不思。杳不知味。為嘔為咳。全是胃陽升逆。經云。胃不利則臥不安。而陽不潛降。似屬濁氣膠痰有形之物。阻撓升降而然。古人有二虛一實。當先治實。以開一面之文。余從胃病為主。制肝救中。理氣清膈。乃不足中有餘。圓通之治。此機勿得亂治。</p>
<p>人參　枳實　半夏　杏仁　甘草　竹茹　生薑　大棗</p>
<p>脈左弦。右小濡。據病源起於憂鬱。鬱勃久而化熱。蒸迫脈絡。血為上溢。凝結成塊者。離絡留而為瘀也。血後納食如昔。是腑絡所貯頗富。況腑以通為用。血逆氣亦上並。漉漉有聲。皆火氣旋動。非有形質之物。凡血病五臟六腑皆有。是症當清陽之絡為要。致於病發。當治其因。又不必拘執其常也。</p>
<p>枇杷葉　苡仁　茯苓　蘇子　桑葉　丹皮　炒桃仁　降香末</p>
<p>診脈左手平和。尺中微動。右手三部。關前動數。尺脈帶數。夜臥不寐。咳嗆有血。晝日咳嗆無血。但行走微微喘促。夫陰陽互為樞紐。隆冬天氣藏納。緣心煩勞神。五志皆動。陽不潛伏。當欲寐之時。氣機下潛。觸其陽氣之升。衝脈升動。絡中之血未得寧靜。隨咳嗆溢於上竅。至於步趨言談。亦助其動搏氣火。此咳嗆喘息失血。同是一原之恙。當靜以制動。投藥益水生金以制君相之火。然食味宜遠辛辣熱燥。凡上實者必下虛。薄味清肅上焦。正謂安下。令其藏納也。愚見約方。參末俟裁。</p>
<p>生扁豆　麥冬　川斛　上阿膠　小根生地　真北沙參</p>
<p>脈細小如無。素多鬱怒。經來即病。冬患胃痛。隨有咯血不止。寒戰面赤。驚惕頭搖。顯是肝陽變風。絡血沸起。四肢逆冷。真氣衰微。內經有肝病暴變之文。勢豈輕渺。議用景岳鎮陰煎法。制其陽逆。仍是就下之義。</p>
<p>熟地灰　牛膝炭　肉桂　茯神　生白芍　童便</p>
<p>水寒外加。驚氣內迫。陰瘧三年。繼患嗽血。迄今七年。未有愈期。詢及血來紫塊。仍能知味安穀。參其瘧傷驚傷。必是肝絡凝瘀。得怒勞必發。勿與酒色傷損。亂投滋陰膩濁之藥。恐胃氣日減。致病漸劇。</p>
<p>桃仁　鱉甲　川桂枝　歸鬚　大黃　茺蔚子</p>
<p>色蒼肉瘦。形象尖長。木火之質。陰液最難充旺。春間咳嗽。雖系風溫外邪。但既屬陰虧。冬藏先已不固。因咳逆震動。浮陽上胃。清空自阻。用藥宜取沉靜質重。填陰鎮陽方是。閱方辛氣居半。與磁石相阻。蓯蓉陰中之陽。亦非收攝。不效宜矣。</p>
<p>大熟地　靈磁石　萸肉　五味子　牡丹皮　雲茯苓　阿膠　懷山藥　澤瀉　龜板</p>
<p>脅膈左右。懊憹不舒。嘔逆帶血。凡人臟腑之外。必有脈絡拘絆。絡中乃聚血之地。中年操持。皆令耗血。血不和氣。氣攻入絡。病狀難以自明。宣通血分以和絡。俾不致瘀著。可免噎膈反胃。</p>
<p>新絳　青蔥管　橘葉　桃仁　栝蔞仁　鉤藤</p>
<p>頻年發失血症。嗽甚痰出。繼以嘔噯。日晡寒熱。夜深汗泄。據述醫見血。投以鬱金薑黃韭汁製大黃逐瘀下走。希圖血止。此是有餘治法。夫人稟陰陽。偏則致病。自內損傷。即是不足。脈左動數。尺不附骨。明明腎精肝血內奪。弱陰無能交戀其陽。衝陽上逆。吸氣不入。是以咳嗽氣升。旋必嘔噯濁涎黏沫。內經謂五臟六腑皆令人咳。奈何今人以咳治肺。見痰降濁清熱。損者更損。殆不復藏陰府陽消長之機。雜藥徒伐胃氣。經年累月。已非暴病。填實下隙。須藉有情之屬。</p>
<p>人參　紫衣胡桃　紫石英　茯神　五味子　山萸肉　河車膠　秋石</p>
<p>診脈左數微弦。寸尺關虛數。閱五年前病原。左脅映背脹痛。不能臥席。曾吐瘀血。凝塊紫色。顯然肝鬱成熱。熱迫氣逆血瘀。雖經調理全愈。而體質中肝陰不充。肝陽已動。凡人身之氣。左升主肝。右降主肺。今升多降少。陰不和陽。胃中津液。乏上供涵肺之用。此燥癢咳嗆。吐出水沫。合乎經旨肝病吐涎沫矣。肝木必犯胃土。納穀最少。而肢軟少力。非嗽藥可以愈病。此皆肝陽逆乘。實系肝陰不足。仲聖云。見肝之病。先理脾胃。俾土厚不為木克。原有生金功能。據述凡食雞子。病必加劇。則知呆滯凝澀之藥。皆與病體未合。</p>
<p>北沙參　生扁豆　麥冬　玉竹　桑葉　生甘草　蔗漿</p>
<p>脈右弦左濡。秋涼宿飲。上泛咳嗆。入夜著枕欲寐。氣衝胃脘。心悸震動。必欲起坐。仲景論脈篇。弦為飲。背寒為飲。當治飲。不當治咳。飲屬陰邪。乘暮夜竊發。金匱法中每以通陽滌飲。與世俗僅以肺藥疏降迥異。用小青龍減麻辛法。</p>
<p>桂枝　五味子　乾薑　茯苓　白芍　炙草　半夏</p>

<h1>衄血</h1>
<p>從前衄血。都以養陰益氣而愈。知非實熱。皆勞役傷胃以致陰血之動也。今壯年肌肉不充。身動氣促如喘。口中膩涎濁沫。竟是腎精損傷。收納失職之象。急急保養。遠戒酒色。猶可向安。</p>
<p>熟地　人參　萸肉　湖蓮　芡實　補骨脂　山藥粉丸</p>
<p>行走多動陽。酒濕多變熱。熱氣上升。犯冒清竅。頭蒙聤脹。衄血成流。上齶腐瘍。久必漏卮。世俗通套。每用犀角地黃。然酒性先入膽。次及胃。酒客性惡甜膩。從苦降定議。以苦能卻濕也。</p>
<p>桑葉　苦丁茶　連翹　荷葉邊　丹皮　射干</p>
<p>病人述遇春季失血。煩勞必有衄血。凡冬天大氣藏伏。壯年自能聚精匯神。不加保養。春半陽生升發。反為發病根機。是皆身中精氣之薄。胃旺安納。能自接飲靜養。則神乃藏。</p>
<p>熟地　萸肉　山藥　芡實　湘蓮　茯苓　金櫻子　五味子　青龍骨</p>

<h1>便血</h1>
<p>脈左虛澀。右緩大。尾閭痛連脊骨。便後有血。自覺惶惶欲暈。兼之納穀最少。明是中下交損。八脈全虧。早進青囊斑龍丸。峻補玉堂關元。暮服歸脾膏。涵養營陰。守之經年。形體自固。</p>
<p>鹿茸　鹿角霜　鹿角膠　柏子仁　熟地　韭子　菟絲子　赤白茯苓　補骨脂</p>
<p>脈小。瀉血有二十年。經云。陰絡傷。血內溢。自病起十六載。不得孕育。述心中痛墜血下。不論糞前糞後。且脊椎腰尻酸楚。而經水仍至。跗膝常冷。而骨髓熱灼。由陰液損傷。傷及陽不固密。閱頻年服藥。歸耆雜入涼肝。焉是遵古治病。議從奇經升固一法。</p>
<p>鹿茸　鹿角霜　枸杞子　歸身　紫石英　沙苑　生杜仲　炒大茴　補骨脂　禹餘糧石　蒸餅漿丸</p>
<p>入暮腹痛鳴響。睪丸久已偏墜。春正下血。經月顏色鮮明。此痛決非傷於積聚。乃營損寒乘。木來侮土。致十四載之纏綿。調養培土以甘。泄木散郁宜辛。節口戒欲。百天可效。</p>
<p>人參　炒當歸　炒白芍　肉桂　炮姜　茯苓　炙草　南棗</p>
<p>脈小左數。便實下血。乃肝絡熱騰。血不自寧。醫投參耆歸桂。甘辛溫暖。昧於相火寄藏肝膽。火焰風翔。上蒙清空。鼻塞頭暈。嗆咳不已。一誤再誤。遺患中厥。夫下虛則上實。陰傷陽浮。此乃一定至理。</p>
<p>連翹心　竹葉心　鮮生地　元參　丹皮　川斛</p>
<p>又　下血陰傷走泄。虛陽上升。頭為清竅。參耆朮桂。辛甘助上。致鼻塞耳聾。用清上五六日。右脈已小。左仍細數。乃陰虧本象。下愈虛則上愈實。議以滋水制火之方。</p>
<p>生地　元參　天冬　川斛　茯神　炒牛膝</p>
<p>年前痰飲哮喘。不得安臥。以辛溫通陽劫飲而愈。知脾陽內弱。運氣失職。水穀氣蒸。飲邪由濕而成。濕屬陰。久郁化熱。熱入絡。血必自下。但體質仍屬陽虛。凡腸紅成方。每多苦寒。若臟連之類。於體未合。毋欲速也。</p>
<p>生於術　茯苓　澤瀉　地榆炭　桑葉　丹皮</p>
<p>脈緩濡弱。陽氣不足。過飲濕勝。大便溏滑。似乎不禁。便後血色紅紫。兼有成塊而下。論理是少陰腎臟失司固攝。而陽明胃脈。但開無合矣。從來治腑。以通為補。與治臟補法迥異。先擬暖胃通陽一法。</p>
<p>生茅朮　人參　茯苓　新會皮　厚朴　炮附子　炮薑炭　地榆炭</p>
<p>嗔怒動肝。絡血乃下。按之痛減為虛。夫肝木上升。必犯胃口。遂脹欲嘔。清陽下陷。門戶失藏。致裡急便血。參朮炮姜。辛甘溫暖。乃太陰脾藥。焉能和及肝胃。丹溪云。上升之氣。自肝而出。自覺冷者。非真冷也。</p>
<p>駐車丸</p>
<p>寒熱如瘧。便血不已。左脅有塊。攻逆不已而作痛。脈弦數兼澀。弦則為風。數則為熱。澀則氣結。此肝脾之氣悒鬱不宣。胸中陽和抑而成火。故神明不清。肝之應為風。肝氣動則風從之。故表見寒熱也。人身左半。肝腎主之。肝風自逆。故左脅攻楚有塊也。肝為藏血之地。肝傷則血不守。且以風淫熱勝。蓋為亡血之由也。</p>
<p>生首烏　黃連　柴胡　黃芩　知母　枳實　厚朴</p>
<p>患溺血症。已三月矣。前用升補法不應。右脈澀無神。左關獨弦。莖中作痛。下多血塊形色憔悴。又多噯氣。據脈論症。乃肝脾積熱也。肝熱則陰火不寧。而陰血自動。以血為肝臟所藏。而三焦之火。又寄養於肝也。故溺血。莖中作痛。脾熱則濕氣內壅。而生氣不伸。以脾為濕土之化。而三焦之氣。又運行於脾也。故時時噯氣。形色憔悴。法當益肝之陰。則火自平。利脾之濕。則氣自和。</p>
<p>生地　白芍　萆薢　丹皮　甘草　車前</p>
<p>稚年瀉血。是飲食不調。熱蒸於絡。為腸胃之病。肛痔亦由濕熱內蒸而致。熱甚則陰液不充。風熱上升故干嗆。法當與甘寒之劑。俾金水同出一源。況肺熱必移大腸。腎開竅於二陰也。</p>
<p>鮮生地　地骨皮　麥門冬　金銀花　穭豆皮　肥知母</p>
<p>傷寒蓄血。都是邪入於裡。內經謂陰絡傷。血乃下溢。陰為臟病。陰氣從下走泄。陽氣失戀上冒。遂令神識昏狂。乃脫症也。況在立冬大節之交關。閱醫藥。今朝所服。猶是羌防菖根。前此柴防服之屢屢。身中陰陽。遭此魔障劫盡。焉有安逸之理。雖急急收拾散越。恐未穩追返耳。</p>
<p>人參　茯神　禹餘糧　木瓜　五味　小麥</p>

<h1>哮喘</h1>
<p>先寒後熱。不飢不食。繼浮腫喘嗆。俯不能仰。仰臥不安。古人以先喘後脹治肺。先脹後喘治脾。今由氣分膹郁。以致水道阻塞。大便溏瀉。仍不爽利。其肺氣不降。二腸交阻。水穀蒸腐之濕橫趨脈絡。腫由漸加。豈亂醫可效。粗述大略。與高明論證。至肺位最高。主氣。為手太陰臟。其臟體惡寒喜熱。宣辛則通。微苦則降。若藥氣味重濁。直入中下。非宣肺方法矣。故手經與足經大異。當世不分手足經混治者。特表及之。</p>
<p>麻黃　苡仁　茯苓　杏仁　甘草</p>
<p>色痿腠疏陽虛體質。平昔喜進膏粱。上焦易壅。中宮少運。厚味凝聚蒸痰。頻年咳嗽。但內傷失和。薄味自可清肅。醫用皂莢搜攢。肺傷氣泄。噴嚏不已。而沉錮膠濁。仍處胸背募俞之間。玉屏風散之固衛。六君子湯之健脾理痰。多是守劑。不令宣通。獨小青龍湯。徹飲以就太陽。初服喘緩。得宣通之意。夫太陽但開。所欠通補陽明一段工夫。不得其闔。暫開復痹矣。且喘病之因。在肺為實。在腎為虛。此病細診色脈。是上實下虛。以致耳聾鳴響。治下之法。壯水源以熄內風為主。而胸次清陽少旋。濁痰阻氣妨食。於臥時繼以清肅上中二焦。小劑守常調理。百日圖功。至於接應世務。自宜節省。勿在藥理中也。</p>
<p>熟地　萸肉　龜甲心　阿膠　牛膝　茯苓　遠志　五味　磁石　秋石</p>
<p>脈細尺垂。形瘦食少。身動即氣促喘急。大凡氣出不爽而喘為肺病。客感居多。今動則陽化。由乎陰弱失納。乃吸氣入而為喘。腎病何辭。治法惟以收攝固真。上病當實下焦。宗腎氣方法意。</p>
<p>熟地　萸肉　五味　補骨脂　胡桃肉　牛膝　茯苓　山藥　車前子　蜜丸</p>
<p>望八大年。因冬溫內侵。遂至痰嗽暮甚。診脈大而動搏。察色形枯汗泄。吸音頗促。似屬痰阻。此乃元海根微。不司藏納。神衰囈語。陽從汗出。最有昏脫之變。古人老年痰嗽喘症。都從脾腎主治。今溫邪擾攘。上中二焦留熱。雖無溫之理。然攝固下真以治根本。所謂陽根於陰。豈可不為講究。</p>
<p>熟地炭　胡桃肉　牛膝炭　車前子　雲茯苓　青鉛</p>
<p>瘡毒內攻。所進水穀不化。蒸變濕邪。漬於經隧之間。不能由腸而下。膀胱不利。濁上壅遏。肺氣不降。喘滿不堪著枕。三焦閉塞。漸不可治。議用中滿分消之法。必得小便通利。可以援救。</p>
<p>葶藶　苦杏仁　桑皮　厚朴　豬苓　通草　大腹皮　茯苓皮　澤瀉</p>
<p>老年冬季喘嗽。是元海不主收攝。衛陽升舉。飲邪上泛。阻遏流行。喘嗽愈甚。閱古都主八味腎氣。溫養坎中之陽。收納散失之真。不主消痰清肺。意謂非因六氣所致。奈體質不受桂附。年前議進柔陽通攝。若以建立上中之陽。乃心脾甘溫之劑。與下焦不納無關。</p>
<p>紫衣胡桃肉　茯苓　補骨脂　鹿茸　肉蓯蓉　五味子　遠志肉　青鹽　柏子霜　蜜丸</p>

<h1>痰飲</h1>
<p>昔肥今瘦為飲。仲景云。脈沉而弦。是為飲家。男子向老。下元先虧。氣不收攝。則痰飲上泛。飲與氣湧。斯為咳矣。今醫見嗽。輒以清肺降氣消痰。久而不效。更與滋陰。不明痰飲。皆屬濁陰之化。滋則堆砌。助濁滯氣。試述著枕咳嗆一端。知身體臥著。上氣不平。必下衝上逆。其痰飲伏於至陰之界。腎臟絡病無疑。形寒畏風。陽氣微弱。而藩籬疏撤。仲景有要言不煩。曰。飲邪必用溫藥和之。更分外飲治脾。內飲治腎。不讀聖經。焉知此理。</p>
<p>桂苓甘術湯</p>
<p>脈弦右濡。陽微惡寒。飲濁上干。咳吐涎沫。且食減胃衰。寒疝竊踞。陰濁見症。豈止一端。喻嘉言謂濁陰上加於天。非離照當空。氛霧焉得退避。反以地黃五味。陰藥附和其陰。陰霾沖逆肆虐。飲邪滔天莫制。議以仲景熟附配生薑法。掃群陰以驅飲邪。維陽氣以立基本。況尊年尤宜急護真陽為主。</p>
<p>人參　茯苓　熟附子　生薑汁　南棗</p>
<p>十二月間。診得陽微濁飲。上干為咳。不能臥。曾用小青龍湯。減去麻黃細辛。服後已得著枕而臥。想更醫接用。不明治飲方法。交驚蟄陽氣發泄。病勢更熾。頃診脈來濡弱無神。痰飲咳逆未已。諒非前法可效。宗仲景真武湯法。以熟附配生薑。通陽逐飲立法。</p>
<p>真武湯去白朮加人參</p>
<p>脈弦右澀。面亮舌白。口乾不喜飲。頭重岑岑然。胸脘痹塞而痛。得噯氣稍舒。酒客谷少中虛。痰飲聚蓄。當此夏令。地氣上升。飲邪挾氣。上阻清空。遂令前症之來。金匱云。脈弦為飲。色鮮明者為留飲。口乾不欲飲水者。此為飲邪未去故也。況漐漐汗出。豈是風寒。春夏溫邪。辛溫發散為大禁。自云身體空飄。年已六旬有四。辛散以泄其陽。不亦左乎。</p>
<p>半夏　薑汁　川連　吳萸　茯苓　枳實　竹瀝</p>
<p>遠客路途。風寒外受。熱氣內蒸。痰飲日聚於臟之外。脈絡之中。凡遇風冷。或曝烈日。或勞碌身體。心事不寧。擾動絡中宿飲。飲泛氣逆咳嗽。氣塞喉底。胸膈不思食物。著枕嗆吐稠痰。氣降自愈。病名哮喘伏飲。治當得宜。除根不速。到老年仍受其累耳。</p>
<p>小青龍湯去細辛</p>
<p>冬溫。陽不潛伏。伏飲上泛。仲景云。脈沉屬飲。面色鮮明為飲。飲家咳甚。當治其飲。不當治咳。緣年高下焦根蒂已虛。因溫暖氣泄。不主收藏。飲邪上擾乘肺。肺氣不降。一身之氣交阻。熏灼不休。絡血上湧。經云。不得臥。臥則喘甚痹塞。乃肺氣之逆亂也。若以見病圖病。昧於色診候氣。必致由咳變幻。腹腫脹滿。漸不可挽。明眼醫者。勿得忽為泛泛可也。茲就管見。略述大意。議開太陽。以使飲濁下趨。仍無礙於冬溫。從仲景小青龍越脾合法。</p>
<p>杏仁　茯苓　苡仁　炒半夏　桂枝木　石膏　白芍　炙草</p>
<p>伏飲陰濁上干。因春地氣主升而發。嘔吐不飢。自然脾胃受傷。六君子宣補。方法未嘗不妙。今診得吸氣甚微。小溲晨通暮癃。足跗浮腫。其腑中之氣開闔失司。最慮中滿。夫太陽司開。陽明司闔。濁陰瀰漫。通腑即是通陽。仿仲景開太陽一法。</p>
<p>牡蠣　澤瀉　防己　茯苓　五味　乾薑</p>
<p>夏至節。兩關脈弦長。五火燔燎。而肝陽胃陽尤甚。動怒抽掣為肝病。食辛香厚味。即病至。胃病使然。痰火根深。非頃刻可除。惟靜養勿恚忿。薄味以清裡。此病發之勢必緩。由漸加功議藥。乃近理治法。</p>
<p>羚羊角　犀角　川連　鬱金　山梔　北秦皮　牛黃　膽星　橘紅　生石膏　寒水石　金箔　方諸水法丸竹葉燈心湯送下</p>
<p>病起痰飲。漸為咳嗽外寒。遇勞倦即發。發必胸膈氣脹。吐出稀涎濁沫。病退則痰濃。氣降乃已。凡飲邪皆陰濁凝聚。兩年之久。漸漸腹中痞悶妨食。肛門尻骨。坐則無恙。行動站立。時時氣墜。若欲大便。顯系腎虛不能收攝。惑於在前見痰治嗽。苟非辛解。即屬寒降。乃致養成錮疾。</p>
<p>腎氣湯加紫衣胡桃　沉香汁</p>

<h1>痞</h1>
<p>日前議用辛潤下氣以治肺痹。謂上焦不行。則下脘不通。古稱痞悶多屬氣分之郁也。兩番大便。胸次稍舒。而未為全爽。此豈有形之滯。乃氣鬱必熱。陳腐黏凝膠聚。故脘腹熱氣下注。隱然微痛。法當用仲景梔子豉湯。解其陳腐鬱熱。暮臥另進白金丸一錢。蓋熱必生痰。氣阻痰滯。一湯一丸。以有形無形之各異也。</p>
<p>黑山梔　鬱金　香豉　桃仁　杏仁　栝蔞皮　降香　白金丸</p>
<p>面垢油亮。目眥黃。頭脹如束。胸脘痞悶。此暑濕熱氣內伏。因勞倦正氣泄越而發。既非暴受風寒。發散取汗。徒傷陽氣。按脹形濡澀。豈是表症。凡傷寒必究六經。伏氣須明三焦。論症參脈。壯年已非有餘之質。當以勞倦損傷伏邪例診治。</p>
<p>滑石　黃芩　厚朴　醋炒半夏　杏仁　蔻仁　竹葉</p>
<p>因驚而得。邪遂入肝。故厥後熱。神色昏狂。診得面青舌白。微嘔渴飲。胸次按之而痛。此屬痞結。乃在裡之症。宗仲景以瀉心湯為法。</p>
<p>川連　半夏　乾薑　黃芩　人參　枳實</p>
<p>瘧母用針是泄。肝膽結邪。瘦人瘧熱傷陰。夢遺五心煩熱。亦近理有諸。繼患脘膈痞悶。不飢。大便不爽。食減。乃氣滯於上與前病兩歧。焉得用滋陰凝滯之藥。思必病後飲食無忌。中焦清濁不和所致。</p>
<p>杏仁　土栝蔞　桔梗　半夏　黑山梔　枳實　香附汁</p>
<p>精氣內損。是皆臟病。萸地甘酸。未為背謬。緣清陽先傷於上。柔陰之藥。反礙陽氣之旋運。食減中痞。顯然明白。病人食姜稍舒者。得辛以助陽之用也。至於黃耆麥冬棗仁。更蒙上焦。斯為背謬。姑議辛甘理陽可效。</p>
<p>桂枝湯去芍加茯苓</p>

<h1>疝</h1>
<p>按七疝治法。最詳子和。其旨辛香以泄肝。得氣疏泄。而病緩矣。按法調理不愈。七味導引。納腎益氣。升舉脾陽。而墜氣仍然。艾灸蒸臍。原得小安。內經任脈為病。男子內結七疝。女子帶下瘕聚。同為奇經主之。故疏泄諸方。能治氣實。參朮升補。僅治中虛下陷。與元海奇經中病無補。壯歲至老。病根不輟。下焦日衰。可知升陽一法。體症頗合。衰年僅可撐持。勿使病加可矣。</p>
<p>生鹿茸　鹿角霜　當歸　生菟絲子　沙蒺藜　川桂枝尖</p>
<p>肝病。絡虛氣聚。少腹滯脹。前用河間金鈴子散。加牡蠣橘葉。合鹹辛苦勝法。小效。加食。述飢則脅腹鳴盛。而濁氣下泄頗安。乃絡虛不足中之有餘。形質瘦怯。不可純攻。</p>
<p>桃仁　當歸梢　炒小茴　橘核　郁李仁　南山楂　蔥白汁丸</p>
<p>脈右弦左澀。當臍痛連少腹。已屬凝聚有形。嘔吐黃濁。大便欲解不通。若患處有漉漉聲。痛勢稍減。惟外著體不轉移。其痛更加。此屬肝氣疝瘕。辛香流氣。所稱通則不痛耳。</p>
<p>炒桃仁　炒橘核　金鈴子　炒延胡　韭白汁　兩頭尖　小茴　青皮</p>
<p>疝結少腹。按之堅。凡過飢必衝突至脘。吐酸䐜脹。述病從怒勞而得。內應乎肝。肝逆犯胃。飢則胃弱肝乘。上噯下泄氣則減。</p>
<p>肉桂　真橘核　青木香　小茴　穿山甲　粗桂枝　李根白皮</p>
<p>七疝在肝。內經謂衝脈為病。但衝脈隸於陽明。肝木必乘克胃土。胃翻湧逆。致吐蛔嘔吐。湯飲不入。呃忒不止。皆逆亂無已。為臟厥危疴矣。肝體本剛。相火內寄。一派熱燥藥餌。以剛濟剛。竟有缺折之虞。欲泄其濁。擬用朱南陽法。</p>
<p>韭白根　兩頭尖　金鈴子　延胡　歸鬚　肉桂心</p>
<p>痛自腎囊。漸踞少腹之左。夫厥陰之脈繞乎陰器。操持謀慮。都主傷肝。一氣結聚。變幻形象而痛。病名曰疝。疝分有七暴疝多寒。久疝多熱。泄氣痛緩。宣通可以卻病。只因下焦乃深遠之鄉。氣熱濕鬱。概可知矣。</p>
<p>川連　小茴　黑山梔　橘核　川楝子　青木香　郁李仁　冬葵子</p>
<p>瘧母十年。沉痼宿疴。藥不能效。夫瘧邪既久。邪與氣血兩凝。結聚絡脈。藥難入絡耳。瘧不離乎肝膽。疝不外乎肝病。七疝子和分部大著。虛質不可專以辛香。下墜為甚。議有情溫通。以培生氣。</p>
<p>鹿茸　大茴香　穿山甲　當歸　水安息香　炮黑川烏　全蠍</p>
<p>脈沉痰多。手體赤瘡。宿疝在下。右脅氣墜少腹。前議控涎丹逐痹未應。想久聚濕熱沉痼。非皮膜經脈之壅。用浚川丸四十粒。勻二服。間日一進。竟通腑聚。惟通腑宣壅。黏痰既下。其疝仍聚於右。且盛於寒天冬月。臥安必有聲。自能行走。勞動必有形。直墜陰囊。久病急攻無效。議辛甘化風方法。古人以疝為肝病。十居八九。</p>
<p>當歸　鹿角　桂枝　肉桂　小香茴　川芎　炙草　茯苓　生薑　羊肉膠丸</p>
<p>男子結疝。在內經則曰衝任為病。子和統論疏肝。今疝未愈。臍右腹高突硬起。乃由疝漸至瘕聚腸覃之屬。夫腸覃者。寒氣客於大腸。與胃氣相搏大腸與肺表裡。傳送肺氣。寒則氣凝不行。清氣散而濁氣結為瘕。遷延日久。如懷胎妊。按之堅。推之移。氣病而血不病也。</p>
<p>穿山甲　椒目　桂枝　川楝子　小茴香　茯苓　麝香　白芥子</p>
<p>高年疝症。是下元虛氣冷凝沍。結聚攻墜。乃沉痼之疾。藥難取效。暖氣助陽鼓動。俾陰邪濁氣稍解。不過暫時小安耳。病在肝腎。道路紆遠。藥必從咽入胃。由胃入腸。始達病所。而上中無病之處。必受疝藥攻克之累。倘胃減妨食。何以救療。夫陰濁盤踞成形。例取純陽氣雄之藥。昔胡大封翁高年宿疝。用十全大補不效。喻氏駁其半陰半陽非法。議以姜附為丸。參苓為衣。喉間知有參苓。過胃始露猛烈之威靈。恰攻病所。此議甚正。</p>
<p>生炮附子　淡乾薑　大茴香炒　研為細末真水安息香搗為小丸以人參末為衣</p>

<h1>積聚</h1>
<p>騎射馳驟。寒暑勞形。皆令陽氣受傷。三年來。右胸脅形高微突。初病脹痛無形。久則形堅似梗。是初為氣結在經。久則血傷入絡。蓋經絡繫於臟腑外廓。猶堪勉強支撐。但氣鈍血滯。日漸瘀痹。而延癥瘕。怒勞努力。氣血交亂。病必旋發。故寒溫消克。理氣逐血。總之未能講究絡病工夫。考仲景於勞傷血痹諸法。其通絡方法。每取蟲蟻。迅速飛走諸靈。俾飛者升。走者降。血無凝著。氣可宣通。與攻積除堅。徒入臟腑者有間。錄法備參末議。</p>
<p>蜣螂蟲　䗪蟲　當歸鬚　桃仁　川鬱金　川芎　生香附　煨木香　生牡蠣　夏枯草</p>
<p>病後食物失和。腸中變化傳導失職。氣滯釀濕。鬱而成熱。六腑滯濁為之聚。昔潔古東垣輩。於腸胃病每取丸劑緩攻。當仿之。</p>
<p>川連　蘆薈　雞肫皮　煨木香　小青皮　萊菔子　南山楂　紫厚朴　蒸餅為小丸</p>
<p>嗔怒強食。肝木犯土。腹痛。突如有形。緩則泯然無跡。氣下鳴響。皆木火餘威。乃瘕疝之屬。攻伐消導。必變腹滿。以虛中挾滯。最難速功。近日痛瀉。恐延秋痢。</p>
<p>丁香　厚朴　茯苓　炒白芍　廣皮　煨益智仁</p>
<p>據述瀉血五日。血止即患咳嗆。左脅下有形如梗。身動行走。必眩暈欲僕。春夏減食。秋冬稍加。交冬人迎脈絡結癭。診脈虛。左關尺數。此肝腎精血。因驚恐憂勞所傷。陽失陰戀。絡中空隙。陽化內風。鼓動不息。日就消爍。不肯復。為郁勞之症。四旬以外生氣已淺。非治病可卻。春夏。身中真氣。不耐發泄可知。屏絕家務。關懷頤養。望其病緩。</p>
<p>石決明　女貞實　杞子　黑芝麻　桑葉　阿膠　寄生　柏子仁　茯苓　炒當歸</p>
<p>宿瘕在脅下。亦與肥氣相類。自述因嗔怒。蓋肝之積也。久鬱氣血不通。肝藏內寄相火。時當夏令。泛潮苦雨。脾胃受濕。自必困倦。肝木橫克脾土。脹勢日滿。所受濕邪。漫無出路。蒸於腸胃。黏膿積滯。利不肯爽。中焦不和。寤不得逸。症屬難治。且議分消。</p>
<p>白朮　厚朴　茯苓　豬苓　茵蔯　通草</p>
<p>病始足脛。乃自下焦肝腎起病。其形不腫。則非六氣濕邪。當從內損門痿躄推求。萸地滋滯。久服胃傷。食減嘔逆。皆因濁味滯氣而然。經年不復。損者愈損。臟真不能充沛。奇經八脈不司其用。經云。衝脈為病。男子內結七疝。女子帶下瘕聚。夫衝脈即血海。男子藏精。女子系胞。今精瀝內結有形。是精窒氣結。亦猶女子之瘕聚也。凡七疝治法。後人每宗張子和。但彼悉用辛熱。與今之精窒氣結迥殊。久病形消肉脫。議以精血有情。涵養生氣。</p>
<p>用鮮河車水煮搗爛入山藥　建蓮　丸如桐子大清晨人參湯送下</p>
<p>據述左脅痛引胸部虛里穴中。按之有形。納食不得順下。頻怒勞煩。氣逆血鬱。五旬以外。精力向衰。延久最慮噎膈。議宣通氣血。藥取辛潤勿投香燥即有瘀濁凝留。亦可下趨。</p>
<p>當歸尾　京墨汁　桃仁泥　延胡索　五靈脂　老薤白</p>

<h1>痹</h1>
<p>病者長夏黴天奔走。內踝重墜發斑。下焦痛起。繼而筋掣。及於腰窩左臂。經云。傷於濕者。下先受之。夫下焦奇脈不流行。內踝重著。陰維受邪。久必化熱爍血。風動內舍乎肝膽。所謂少陽行身之側也。診得右脈緩。左脈實。濕熱混處血絡之中。搜逐甚難。此由濕痹之症。失治。延為痿廢沉疴矣。三年病根。非倉猝迅攻。姑進先通營絡。參之奇經為治。考古聖治痿痹獨取陽明。惟通則溜邪可拔耳。</p>
<p>鹿角霜　生白朮　桂枝　茯苓　撫芎　歸鬚　白蒺藜　黃菊花</p>
<p>四肢經隧之中。遇天冷陰晦。疼痛拘攣。癰疽瘍潰膿。其病不發。瘍愈。病復至。抑且時常衄鼽。經以風寒濕三氣。合而為痹。然經年累月。外邪留著。氣血皆傷。其化為敗瘀凝痰。混處經絡。蓋有諸矣。倘失其治。年多氣衰。延至廢棄沉疴。</p>
<p>當歸鬚　乾地龍　穿山甲　白芥子　小撫芎　生白蒺藜　酒水各半泛丸</p>
<p>從來痹症。每以風寒濕三氣雜感主治。召恙之不同。由乎暑暍外加之濕熱。水穀內蘊之濕熱。外來之邪。著於經絡。內受之邪。著於腑絡。故辛解汗出。熱痛不減。余以急清陽明。而致小愈。病中復反者。口鼻復吸暑熱也。是病後宜薄味。使陽明氣爽。斯清陽流行不息。肢節脈絡舒通。而痿痹之根盡拔。至若溫補而圖速效。又非壯盛所宜。</p>
<p>人參　茯苓　半夏　廣皮　生於術　枳實　川連　澤瀉　竹瀝薑汁泛丸</p>
<p>風濕腫痹。舉世皆以客邪宜散。愈治愈劇。不明先因勞倦內傷也。蓋邪之所湊。其氣必虛。參朮益氣。佐以風藥。氣壯托出其邪。痛斯止矣。病人自云。手足如墮如無。詎非陽微不及行乎四末乎。此皆誤治。致參藥過費耳。</p>
<p>人參　生於術　黃耆　歸身　肉桂　炙草　煨姜　南棗</p>
<p>風濕客邪留於經絡。上下四肢。流走而痛。邪行觸犯。不拘一處。古稱周痹。且數十年之久。豈區區湯散可效。凡新邪宜急散。宿邪宜緩攻。</p>
<p>蜣螂蟲　全蠍　地龍　穿山甲　蜂房　川烏　麝香　乳香　以無灰酒煮黑大豆泛丸</p>
<p>左脈弦大。面赤痰多。大便不爽。此勞怒動肝。令陽氣不交於陰。陽維陽蹻二脈無血營養。內風爍筋。跗⿰⻊廉痹痛。暮夜為甚者。厥陰旺時也。病在脈絡。</p>
<p>金斛　晚蠶沙　漢防己　黃柏　半夏　萆薢　大檳榔汁</p>
<p>冬月溫暖。真氣未得潛藏。邪乘內虛而伏。因驚蟄節。春陽內動。伏氣乃發。初受風寒。已從熱化。兼以夜坐不眠。身中陽氣。亦為泄越。醫者但執風寒濕三邪合成為痹。不曉病隨時變之理。羌防葛根。再泄其陽。必致增劇矣。焉望痛緩。議用仲景木防己湯法。</p>
<p>木防己　石膏　桂枝　片薑黃　杏仁　桑皮</p>
<p>煩勞鬱勃之陽。變現熱氣內風。內經以熱淫風消。必用甘寒。前議謂酒客不喜甘味。且痰多食少。亦忌甘膩滋滯。用清少陽膽熱者。酒氣先入肝膽也。酒汁濕著。腸胃受之。理腸以通胃。胃腸氣機流行。食加。滑泄頗膩。今者氣熱。當午上冒。經絡痹痛。亦減於平日主以和陽甘寒。宣通經脈佐之。</p>
<p>童桑　羚羊角　天門冬　枸杞子　白蒺藜　丹皮　茯苓　霍山斛　共熬膏</p>
<p>辛香走竄。宣通經隧壅結氣分之濕。有卻病之能。無補虛之益。大凡藥餌。先由中宮以布諸經。中焦為營氣之本。營氣失養。轉旋自鈍。然攻病必藉藥氣之偏。朝夕更改。豈是去疾務盡之道。另於暮夜進營養一帖。</p>
<p>人參　茯苓　桂枝木　炙草　當歸　炒白芍　南棗</p>
<p>周禮採毒藥。以供醫事。蓋因頑鈍沉痼著於驅殼。非臟腑虛損。故必以有毒攻拔。使邪不留存。凝著氣血。乃效。既效矣。經云。大毒治病。十去其五。當此只宜愛護身體。勿勞情志。便是全功道理。愚人必曰。以藥除根。不知天地之氣有勝有復。人身亦然。谷飲養生。可御一生。藥餌偏勝。豈可久服。不觀方士煉服金石丹藥。疽發而死者比比。</p>
<p>何首烏　黑芝麻　桑枝　桂枝湯泛丸</p>
<p>用養肝血熄風方。右指仍麻。行走則屈伸不舒。戌亥必心熱煩蒸。想前法不效。杞歸辛溫。陽動風亦動矣。議去辛用鹹。若疑慮途次瘧邪未盡。致脈絡留滯。兼以通逐。緩攻亦妙。</p>
<p>熟地　龜膠　阿膠　秋石　天冬　麥冬　五味　茯神　密丸晨服</p>
<p>桃仁　穿山甲　乾地龍撫芎　歸鬚　丹皮　紅花　沙苑　香附汁丸夜服</p>
<p>背痛得按摩愈痛。吐涎沫。短氣腹滿。小腹堅。小便不通。大便自利。下身麻木。不得移動。不食不寐。煩則汗出。病機多端。無縷治成法。思冷濁竊踞。陽微不行。為痞塞之象。二氣既乖。豈可忽略。引仲景少陰例。急進通陽為要。議用白通加人尿豬膽汁湯。</p>
<p>去須蔥白　淡乾薑　生炮附子　人尿豬膽汁調下</p>
<p>脈弦右大。弦則為飲。大則胃陽已虛。緣操持縈思。積勞陽虛。致不飢不食。勉納食物不運。瞋怒兼以夜臥不安。多寤少寐恍惚中心憹懊。忽而腹鳴氣震。四肢筋骱。痿弱無力。起病時晨必寒痙。足跗微冷。按是脈症有年。陽虛為本。而痰飲氣逆。因虛而聚。夫虛則生寒。實則生熱寢食不安。將及半載。已交四之氣中。長夏濕土乘侮脾胃。慮及肌腫腹脹。故周身束筋利機。陽明胃脈是賴。閱醫藥。氣血淆混。寒熱互投。不以陰陽偏著。調理宜乎不應。議通補理胃陽為主。疏肝為輔。氣宣陽蘇。何慮痰濁之矇昧。以茯苓飲法減術。合薛氏星附六君子意。</p>
<p>人參　茯苓　香附　蘇梗　白附　半夏　薑汁　陳皮</p>
<p>周身掣痛。頭不可轉。手不能握。足不能運。兩脈浮虛。浮雖風象。而內虛者。脈亦浮而無力。以脈參症。當是勞倦傷中。陽明不治之候。陽明者。五臟六腑之海。主束筋骨而利機關。陽明不治。則氣血不榮。十二經絡無所稟受而不用矣。衛中空虛。營行不利。相搏而痛。有由然也。法當大補陽明氣血。不與風寒濕所致成痹者同治。</p>
<p>人參　黃耆　歸身　甘草　桂枝木　秦艽　白朮</p>
<p>長夏濕痹。經脈流行氣鈍。兼以下元脈絡已虛。痿弱不能走趨。脊膂常似酸楚。大便或結或溏。都屬肝腎奇經為病。蓋必佐宣通脈絡為正治法。倘徒呆補。夏季後必滋濕擾。須為預理。</p>
<p>肉蓯蓉　小茴香　巴戟天　歸身　遠志　鹿角霜　桑椹子　生茅朮　茯苓　熟地　金毛狗脊　煎膏和丸</p>
<p>脈微而澀。微為陽氣虛。澀為陰血傷。去冬已下肢獨冷。步趨無力。高年內乏藏納之司。入夏身動加喘。肉腠麻痹若蟲行。此真陽失蟄。胃陽失護。生生意少。豈攻病藥石所宜。喻嘉言先生所謂大封大固。莫令真陽泄盡而暴脫。皆為此也。錄嚴氏三因方。</p>
<p>人參　白朮　附子</p>
<p>據述緣季秋外邪變瘧。延及百日始愈。凡秋瘧。是夏月暑濕熱內伏。新涼外觸。引動伏邪而發。俗醫但知柴葛解肌。暑濕傷在氣分。因藥動血。血傷攣痹。筋熱則弛。筋寒則急。遂至釀成痿痹難效症。</p>
<p>當歸身　桑寄生　生虎骨　枸杞子　川撫芎　沙苑蒺藜</p>
<p>血傷驟加驚恐。氣鬱熱升風旋。清神受蒙為厥。凡厥皆隸厥陰。今左股麻痹。忽爽忽迷。皆肝膽中相火內風。未得寧靜。病延數日。左脈小濡。熱勝。津液暗傷。不宜純與攻滌苦寒。經旨以肝為剛臟。與胃腑對待。柔緩濡潤。陽和液復。可免癇症。</p>
<p>鮮生地　石菖蒲　柏子仁　阿膠　天冬　茯神</p>
<p>偏枯症。風論云。邪中五臟六腑之俞穴。各入門戶為病。則四肢不舉。然陽主左而陰主右也。又云。汗出偏沮。使人偏枯。此外感之邪。或營衛皆虛。邪乘虛入。或虛風內動。皆有之。醫者治之。當補正以逐邪。未可逐邪而不顧本元。然治之之法。以陽明為主。</p>
<p>生耆　白芍　當歸　防風　續斷　萆薢　蠶砂　橘紅　虎骨　秦艽</p>

<h1>痿</h1>
<p>下焦痿躄。先有遺泄濕瘍。頻進滲利。陰陽更傷。雖有參耆朮。養脾肺以益氣。未能救下。即如畏冷陽微。幾日飯後吐食。乃胃陽頓衰。應乎外陽失職。但下焦之病。多屬精血受傷。兩投柔劑溫通之補。以腎臟惡燥。久病宜通任瞀。通攝兼施。亦與古賢四斤金剛健步諸法互參。至於胃藥。必須另用。夫胃腑主乎氣。氣得下行為順。東垣有升陽益胃之條。似乎相悖。然芩連非苦降之氣味乎。凡吐後一二日。暫停下焦血分藥。即用扶陽理胃二日。俾中下兩固。經旨謂陽明之脈。束筋骨以利機關。諒本病必有合矣。</p>
<p>鹿茸　淡蓯蓉　當歸　杞子　補骨脂　巴戟尖　牛膝　柏子仁　茯苓　川斛</p>
<p>長夏濕熱。經脈流行氣鈍。兼以下元絡脈已虛。痿弱不耐步趨。常似酸楚。大便或結或溏。都屬肝腎為病。然益下必佐宣通脈絡。乃正治之法。徜徒呆補。恐季夏後濕熱還擾。須為預理。</p>
<p>鹿角霜　當歸　生茅朮　熟地　茯苓　桑椹子　蓯蓉　巴戟　遠志　小茴　金毛狗脊</p>
<p>酒蒸水熬膏和丸淡鹽湯送下</p>
<p>痿躄在下。肝腎病多。但素飲必有濕熱。熱瘀濕滯。氣血不行。筋縮。肌肉不仁。體質重者難移。無非濕邪之深沉也。若論陽虛。不該大發瘡痍。但久病非速攻。莫計效遲。方可愈疾。</p>
<p>細生地　咸蓯蓉　當歸鬚　牛膝　黃柏　生刺藜　川斛　萆薢</p>
<p>色蒼脈實。體質堅壯。雖年逾四旬。氣元充旺。詢知平日喜啖酒醴甘肥。此釀成濕火。蘊結下焦。今少腹微腫硬。二便帶澀。自覺少腹氣脹下衝。兩足沉重。艱於步履。腿股皮中甚熱。即內經所云。濕熱不攘。大筋緛短。小筋弛長。緛短為拘。弛長為痿也。更述曾因熬煉膏藥。中有䗪蟲蜈蚣等物。吸受穢濁毒氣。未始非與濕熱糾蓄。沉伏下焦。前議苦辛寒燥。茲再佐以搜逐絡隧。然此病從口而入。必茹素戒飲一二年之久。</p>
<p>綿茵蔯　黃柏　川萆薢　茯苓皮　金鈴子　穿山甲　大檳榔汁</p>
<p>金瘡去血。乃經脈營絡之傷。若損及臟腑。倏忽莫救。後此嗔怒動肝。屬五志中陽氣逆。迸與客邪化火兩途。苦辛泄氣。頻服既多。陽遂發泄。形雖若豐盈。而收藏固攝失職。少腹約束。陽道不舉。背脊喜靠。步履無力。皆是痿弱症端。漸至痿廢。議以通納之法。專事涵養生真。冀下元之陽。八脈之氣。收者收。通者通。庶乎近理。</p>
<p>鹿角霜　淡蓯蓉干　生菟絲粉　生杜仲粉　歸身　五味　大茴香　遠志　家韭子　覆盆子　雲茯苓　蒜汁泛丸</p>
<p>五旬又四。陽氣日薄。陽明脈絡空乏。不司束筋骨。以流利機關。肩痛痹麻。頭目如蒙。行動痿弱無力。此下虛上實。絡熱內風沸起。當入夏陽升為甚。燥濕利痰。必不應病。議清營熱。以熄內風。</p>
<p>犀角　鮮生地　元參心　連翹心　冬桑葉　丹皮　鉤藤　明天麻</p>
<p>勉強搖精。致陽縮囊縱。不但形質傴僂。肛門臍竅。皆為收引。咽喉牽絆。自此食物漸漸減少。由精血之傷有形。最難自復。少厥兩陰。脈循喉嚨。開竅於二陰。既遭損傷。其氣不及充注於八脈。見症皆拘束之狀。上年進柔劑陽藥。服後頭巔經脈皆脹。耳竅愈鳴。想是藏陰宜靜。試以乘輿身怖。必加侷促不安。宜乎升陽之動藥不靈矣。夫少陰內藏。原有溫蒸諸法。厥陰相火內寄。惡寒喜涼。仿丹溪潛陽法。仍候高明定議。</p>
<p>元武板　知母　茯苓　秋石　生地　阿膠　遠志炭　柏子仁</p>
<p>又　交四之氣。熱勝元虛。則氣候不耐久坐。舌心腐碎。吸短。氣似不接續。中焦喜按。始得暢安。目胞欲垂難舒。四肢微冷失和。從前調理見長。每以溫養足三陰。兼進血氣充形之品。病減。今當長夏脾胃主氣。氣泄中虛。最防客氣之侵。是質重之補宜緩。而養胃生津。寧神斂液。仍不可少。俟秋深天氣下降。仍用前法為穩。擬逐日調理方法。</p>
<p>人參　麥冬　知母　天冬　茯神　甘草　川斛　建蓮</p>
<p>當夏季反復變幻。因天地氣機大泄。體氣久虛。無以主持。故見病治病則無功。而安中納下。每每獲效。入秋常服附子七味丸頗安。秋分節。天氣降。地氣收。緣火熱氣傷。虛體未能收肅。是以肢節時寒。頭巔欲冷。無非病久諸氣皆餒。斯外衛之陽少護。液髓暗枯。則血脈不營。而陰乏內守。凡此皆生氣之漸鮮也。急當溫養益氣。填補元形。使秋令助其收藏。預為來春生髮之用。按內經有四氣調神法。即今投藥。亦當宗此旨。</p>
<p>鹿胎　熟地　五味子　麥冬　人乳粉　蓯蓉　黃狗腎　柏子仁　青鹽</p>
<p>交冬宜藏。老年下虛。二氣少續。忽然右瘓舌喑。面亮戴陽。呵欠吸氣短。欲嗆。此非外來客邪。皆根本先怯。平昔眩暈。肝藏虛風顯然。水不生木。坎中真陽內寓。必溫理其下。凡陽主乎通。陰主乎攝。扶過七日。少陽主氣再振。望其偏廢延永。倘攻風劫痰之治。非本氣自病法則。</p>
<p>人參　熟附　遠志　茯神　鮮菖蒲搗汁沖</p>
<p>高年液涸風動。酒濕氣蒸。足趾曾經腐瘍。經年來或麻痹。或牽掣。不能轉側。已成筋骨之痿。兼之火升眩暈。頭面清竅。常似不爽。大便艱澀。四五日始一更衣。陽氣不能潛伏。陰液日就枯槁。老來痿躄。原無復元之法。診得脈數動疾。溫燥之補。無益反害。仿丹溪虎潛之制。稍為加減。冀得津液少存。亦安閒永年之算。非攻病也。</p>
<p>大生地　淡天冬　肉蓯蓉　淮牛膝　生白芍　虎骨膠　柏子仁　肥知母　川黃柏</p>

<h1>痙厥</h1>
<p>經云。煩勞則張。精絕闢積於夏。令人煎厥。夫勞動陽氣弛張。則陰精不司留戀。其陽雖有若無。故曰絕。積之既久。逢夏季陽正開泄。五志火動風生。若煎熬者然。斯為暈厥耳。治法以清心益腎。使肝膽相火內風。不為暴起。然必薄味。靜養為穩。</p>
<p>連翹心　元參心　竹葉心　知母　細生地　生白芍</p>
<p>腎厥。由背脊而升。發時手足逆冷。口吐涎沫。喉如刀刺。蓋足少陰經脈上循喉嚨。挾舌本。陰濁自下上犯。必循經而至。仿許學士椒附意。通陽以泄濁陰耳。</p>
<p>炮附子　淡乾薑　川椒　胡盧巴　半夏　茯苓　薑汁泛丸</p>
<p>臍上心下熱熾。咽喉間陳腐氣。遂神昏僕厥。經時汗出而醒。病來口湧血沫。乃膻中熱擁。以致心竅受蒙。若非芳香清透。不能宣通絡中瘀痹。</p>
<p>天竹黃　丹參　鬱金　云茯神　石菖蒲　生烏犀角　麝香　冰片　野赤豆皮煎湯泛丸竹葉湯送下食後服</p>
<p>厥屬肝病。幾番病發。都因經水適來。夫血海貯聚既下。斯衝脈空乏。而風陽交動。厥之暴至之因由也。鹹寒濡潤。亦和陽泄內風之義。治之未應。下焦獨冷。喉嗆胸痹。思衝脈乃陽明所屬。陽明虛則失闔。厥氣上犯莫遏。內經治肝不應。當取陽明。制其侮也。暫用通補入腑。取乎腑以通為補。</p>
<p>小半夏湯加白糯米</p>
<p>諸厥皆隸厥陰。疝瘕。心熱脅脹。中消便難。乃肝陽內風。妄動消爍。犯及陽明矣。經言。治肝不應。當取陽明。肝胃一臟一腑相對。不耐溫補者。是肝用太過。肝體不及也。</p>
<p>九孔石決明　淮小麥　清阿膠　細生地　天冬　茯苓</p>
<p>脈左動如數。右小濡弱。病起嗔怒。即寒熱汗出心悸。繼而神魂自覺散越。夫肝臟藏魂。因怒則諸陽皆動。所見病源。無非陽動變化內風為厥。故凡屬厥症。多隸厥陰肝病。考內經治肝。不外辛以理之酸以治之。甘以緩急。今精采散失。鎮固收攝。猶慮弗及。而方書泄肝平肝抑肝方法盡多。至於補法。多以子母相生為治。此病全以肝腎下焦主治為正。所服醫藥。並無師古之方。未識何見。</p>
<p>阿膠　雞子黃　人參　生地　金箔</p>
<p>冷自足上貫於心。初起周身麻木。今則口鼻皆是冷氣。病起驚恐。內傷肝腎為厥。衝脈隸於肝腎。二臟失藏。沖氣沸亂。其脈由至陰而上。故多冷耳。</p>
<p>淡蓯蓉　熟地炭　五味子　紫石英　茯苓　牛膝</p>

<h1>癲癇</h1>
<p>平昔操持。身心皆動。悲憂驚恐。情志內傷。漸漸神志恍惚。有似癲癇。其病不在一臟矣。醫藥中七情致損。二千年來。從未有一方包羅者。然約旨總以陰陽迭偏為定評。凡動皆陽。當宗靜以生陰是議。陽乘於絡。陰脈不安。斂鎮攝固。久進可效。家務見聞。必宜屏絕。百日為期。</p>
<p>人參　廉珠　茯神　棗仁　炙草　生龍骨　萸肉　五味</p>

<h1>三消</h1>
<p>肌肉瘦減。善飢渴飲。此久久煩勞。壯盛不覺。體衰病發。皆內因之症。自心營肺衛之傷。漸損及乎中下。按脈。偏於左搏。營絡虛熱。故苦寒莫制其熱。甘補無濟其虛。是中上消之病。</p>
<p>犀角　鮮生地　元參心　鮮白沙參　麥冬　柿霜　生甘草　鮮地骨皮</p>
<p>渴飲頻飢。溲溺渾濁。此屬腎消。陰精內耗。陽氣上燔。舌碎絳赤。乃陰不上承。非客熱也。此乃臟液無存。豈是平常小恙。</p>
<p>熟地　萸肉　山藥　茯神　牛膝　車前</p>
<p>濁飲不解。經謂之膈消。即上消症也。言心移熱於肺。火刑金象。致病之由。操心太過。刻不寧靜。當卻盡思慮。遣懷於栽花種竹之間。庶幾用藥有效。</p>
<p>生地　天冬　棗仁　人參　柏子仁　知母　金石斛　生草　元參</p>
<p>善食而飢。乃癉成消中。膏粱蘊熱過也。禁芳草藥石。藥石發癲。芳草發狂耳。自應清胃。淡薄蔬食。庶可獲愈。</p>
<p>蔞皮　枳殼　川連　鬱金　金石斛　連翹　焦神面</p>

<h1>郁</h1>
<p>因悒鬱動肝致病。久則延及脾胃中傷。不納不知味。火風變動。氣橫為痛為脹。疏泄失職。便秘忽瀉。情志之郁。藥雖霍然。數年久病。而兼形瘦液枯。若再香燥劫奪。必致格拒中滿。與辛潤少佐和陽。</p>
<p>柏子仁　歸鬚　桃仁　生白芍　小川連　川楝子</p>
<p>因抑鬱悲泣。致肝陽內動。陽氣變化火風。有形有聲。貫膈沖咽。自覺冷者非真寒也。內經以五志過極皆火。但非六氣外來。芩連之屬。不能制伏。固當柔緩以濡之。合乎肝為剛臟。濟之以柔。亦和法也。</p>
<p>生地　天冬　阿膠　茯神　川斛　牡蠣　小麥　人中白　熬膏</p>
<p>鬱勃日久。五志氣火上升。胃氣逆則脘悶不飢。肝陽上僭。風火凌竅。必旋暈咽痹。自發冷者非真寒也。皆氣痹不通之象。病能篇以諸禁鼓慄屬火。丹溪謂上升之氣。從肝膽相火。非無據矣。</p>
<p>生地　阿膠　玄參　丹皮　川斛　穭豆皮</p>
<p>郁損心陽。陽墜入陰。為淋濁。由情志內傷。即為陰虛致病。見症亂治。最為庸劣。心藏神。神耗如憒。諸竅失司。非偏寒偏熱藥治。必得開爽。冀有向安。服藥以草木功能。恐不能令其歡悅。</p>
<p>人參　桔梗　烏藥　木香　天冬　夜服白金丸</p>
<p>情懷悒鬱。五志熱蒸。痰聚阻氣。脘中窄隘不舒。脹及背部。上焦清陽欲結。治肺以展氣化。怡以恰悅開懷。莫令郁痹綿延。</p>
<p>鮮枇杷葉　杏仁　栝蔞皮　鬱金　半夏　茯苓　薑汁　竹瀝</p>
<p>老年情志不適。鬱則少火變壯火。知飢。脘中不爽。口舌糜爛。心脾營損。木火劫爍精華。飢肉日消。惟怡悅開爽。內起鬱熱可平。但執清火苦寒。非調情志內鬱熱矣。</p>
<p>金石斛　連翹心　炒丹皮　經霜桑葉　川貝　茯苓</p>
<p>病起憂慮上損。兩年調理。幾經反復。今夏胸心右脅之間。常有不舒之象。此氣血內郁少展。支脈中必有痰食氣阻。是宣通流暢脈絡。夏季宜進商矣。</p>
<p>天竺黃　茯神　鬱金　橘紅　遠志　石菖蒲　丹參　琥珀　竹瀝法丸</p>
<p>情志連遭鬱勃。臟陰中熱內蒸。舌絳赤糜乾燥。心動悸。若飢。食不加餐。內傷情懷起病。務以寬懷解釋。熱在至陰。咸補苦瀉。是為醫藥。</p>
<p>雞子黃　清阿膠　生地　知母　川連　黃柏</p>
<p>驚惶忿怒。都主肝陽上冒。血沸氣滯瘀濁。宜宣通以就下。因誤投止塞。舊瘀不清。新血入瘀絡中。匝月屢屢反復。究竟肝膽氣血皆郁。仍宜條達宣揚。漏腸在肛。得體中稍健設法。</p>
<p>旋覆花　新絳　青蔥管　炒桃仁　柏子仁</p>
<p>客邸懷抱不舒。肝膽郁遏。升降失度。氣墜精開為遺泄。地萸龍牡鈍澀。氣藥者更郁。理氣和肝獲效。未經調理全功。當今冬令溫舒。收藏之氣未堅。失血之後。胸中隱隱不暢。未可凝陰。只宜降氣和血。</p>
<p>鉤藤鉤　降香　米仁　鬱金　茯苓　杜蘇子　丹皮　炒桃仁</p>

<h1>腫脹</h1>
<p>初因面腫。邪干陽位。氣壅不通。二便皆少。桂附不應。即與導滯。滯屬有質。濕熱無形。入肺為喘。乘脾為脹。六腑開闔皆廢。便不通爽。溺短渾濁。時或點滴。視其舌絳口渴。腑病背脹。臟病腹滿。更兼倚倒左右。腫脹隨著處為甚。其濕熱布散三焦。明眼難以決勝矣。經云。從上之下者治其上。又云。從上之下而甚於下者。必先治其上。而後治其下。此症逆亂紛更。全無頭緒。皆不辨有形無形之誤。姑以清肅上焦為先。</p>
<p>飛滑石　大杏仁　生苡仁　白通草　鮮枇杷葉　茯苓皮　淡豆豉　黑山梔殼</p>
<p>診脈右大而緩。左手小數促。冬季寒熱身痛。汗出即解。自勞役飢飽嗔怒之後。病勢日加。面浮足腫。呼吸皆喘。目淚鼻衄。臥著氣衝欲起。食納留中不運。時序交夏。脾胃主候。睹色脈情形。中滿脹病日來矣。蓋此症屬勞倦致損。初病即在脾胃。東垣云。胃為衛之本。脾乃營之源。臟腑受病。營衛二氣。晝夜循環失度。為寒為熱。原非瘧邪半表半裡之症。斯時若有明眼。必投建中而愈。經言。勞者溫之。損者益之。建中甘溫。令脾胃清陽自立。中原砥定。無事更遷。仲景亦謂男子脈大為勞。則知內經東垣仲景垂訓。真規矩準繩至法。且汗泄積勞。都是陽傷。醫藥辛走劫陽。苦寒敗胃。病人自述。飲蔗即中脘不舒。頃之少腹急痛。便稀。其胃陽為辛苦大傷。明甚。又述咳頻沖氣。必自下上逆。夫衝脈隸於陽明。胃陽傷極。中乏坐鎮之真氣衝脈動則諸脈皆動。濁陰散漫上布。此臥著欲起矣。愚非遙指其脈。正合內經濁氣在上。則生䐜脹。太陰所至。為腹脹相符也。有昔見痰休治痰。見血休治血。當以病因傳變推求。故辨論若此。</p>
<p>厚朴　杏仁　人參　茯苓　蜜煨姜　南棗</p>
<p>壯盛年歲。形消色奪。診脈右小促。左小弦勁。病起上年秋季。脘中卒痛。有形梗突。病後陡遇驚觸。漸次食減不適。食入不運。停留上脘。腹形脹滿。甚則脅肋皆脹。四肢不暖。暮夜漸溫。大便旬日始通。便後必帶血出。清早未食。自按臍上氣海。有瘕形甚小。按之微痛。身動飲水。寂然無蹤。天氣稍冷。爪甲色紫。細推病屬肝脾。氣血不通。則為郁遏。久則陽微痹結。上下不行。有若否卦之義。閱醫藥或消或補。總不見效者。未知通陽之奧耳。</p>
<p>薤白　桂枝　栝蔞仁　生薑　半夏　茯苓</p>
<p>平昔濕痰阻氣為喘。茲因過食停滯。陰臟之陽不運。陽腑之氣不通。二便不爽。跗腫腹滿。診脈沉弦是由水寒痰滯。阻遏氣分。上下皆不通調。當從三焦分治。頃見案頭一方。用菟絲子升少陰。吳茱萸泄厥陰。不知作何解釋。不敢附和。仍用河間分消定議。</p>
<p>大杏仁　萊菔子　豬苓　澤瀉　葶藶子　厚朴　桑白皮　廣皮　細木通</p>
<p>兩年初秋發瘍。脈絡氣血。不為流行。而腹滿重墜。臥則頗安。臍左動氣。臥則尤甚。吐冷沫。常覺冷氣。身麻語塞。肝風日熾。疏泄失職。經以肝病吐涎沫。木侮土位。自多䐜脹。丹溪云。自覺冷者。非真冷也。兩次潰瘍之後。剛燥熱藥。似難進商。議以宣通肝胃為治。有年久恙。貴乎平淡矣。</p>
<p>雲茯苓　三角胡麻　厚橘紅　嫩鉤藤　熟半夏　白旋覆花</p>
<p>脈微而遲。色衰萎黃。蟹為介屬。鹹寒沉降。凡陽氣不足者。食之損陽。其致病之由。自試二次矣。久利久泄。古云無不傷腎。今浮腫漸起自下。是水失火而敗。若非暖下。徒見瀉泄有紅。為脾胃濕熱。必致中滿敗壞。</p>
<p>生茅朮　熟地炭　熟附子　淡乾薑　茯苓　車前子</p>
<p>脈左弦右浮澀。始因脘痛貫脅。繼則腹大高凸。納食減少難進。二便艱澀不爽。此乃有年操持。縈慮太甚。肝木怫鬱。脾土自困。清濁混淆。脹勢乃成。蓋臟真日納。腑陽不運。考古治脹名家。必以通陽為務。若滋陰柔藥。微加桂附。凝陰沍濁。豈是良法。議用局方禹糧丸。暖其水臟。攻其穢濁。俟有小效。兼進通陽剛補。是為虛症內傷。脹滿治法。至於攻瀉劫奪。都為有形而設。與無形氣傷之症不同也。</p>
<p>禹餘糧丸</p>
<p>今年長夏久熱。熱勝陽氣外泄。水穀運遲。濕自內起。漸漸浮腫。自下及上至於喘咳。不能臥息。都是濁水凝痰。阻遏肺氣下降之司。但小溲不利。太陽亦不通調。此雖陽虛症若腎氣湯中萸地之酸膩。力難下行矣。</p>
<p>茯苓　桂枝木　杏仁　生白芍　乾薑　五味　生牡蠣　澤瀉</p>
<p>向有宿痞。夏至節一陰來復。連次夢遺。遂腹形堅大。二便或通或閉。是時右膝癰腫潰瘍。未必非濕熱留阻經絡所致。診脈左小弱。右緩大。面色清減。鼻準明亮。納食必腹脹愈加。四肢惡冷。熱自里升。甚則衄血牙宣。全是身中氣血交結。固非積聚停水之脹。考古人於脹症以分清氣血為主。止痛務在宣通。要知攻下皆為通腑。溫補乃護陽以宣通。今者單單腹脹。當以脾胃為病藪。太陰不運。陽明愈鈍。議以緩攻一法。</p>
<p>川桂枝　熟大黃　生白芍　厚朴　枳實　淡生乾薑</p>
<p>患風三月。周身流走作腫。手不能握。足不能履。診其脈。浮大而數。發熱口乾。此陰虛生內熱。熱勝則風生。況風性善行。火熱得之。愈增其勢。傷於筋脈。則縱緩不收。逆於肉理。則攻腫為楚也。</p>
<p>生地　黃芩　黃連　紅花　羌活</p>
<p>左脅有形。漸次腹大。每投攻下泄奪。大便得瀉。脹必少減。繼則仍然不通。頻頻攻下。希圖暫緩。病中脹浮下部。加針刺。以扶水之出。腫消。病仍不去。病患六年。久已斷想此病之愈。要知此病初由肝氣不和。氣聚成瘕。屢發攻瀉。脾胃反傷。古云臍突傷脾。今之所苦。二便欲出。痛如刀刺。蓋氣脹。久下再奪其血。血液枯。氣愈結矣。宣通宜以利竅潤劑。</p>
<p>琥珀屑　麝香　大黑豆皮　杜牛膝</p>
<p>由夏季目黃神倦。漸至中焦脹滿。延至霜降。上吐瘀血。下便汙濁。按脈弱細不調。視色神采不振。兼以呼吸帶喘。素有寒疾氣逆。其宿飲之蓄。已非一日。當夏三月。脾胃主令。天氣熱。地氣升。人身氣泄。加以飢飽勞役。而遂減食脹滿。是皆病於中。綿延上下矣。夫六腑以通為用。不但腑不用事。其間經脈絡脈中。氣血皆令不行。氣壅血瘀。脹勢愈加。古人治脹病專以宣通為法。而有陰陽之殊。後之攻劫宣通。如神佑舟車禹功等方。值此久病淹淹。何敢輕試。議以專通三焦之陽氣。驅其錮蔽之濁陰。溫補兼進。若不陽氣漸蘇。難以擬投。引用仲景白通湯。</p>
<p>去須蔥白　乾薑　豬膽汁　淡附子</p>

<h1>遺精</h1>
<p>神傷於上。精敗於下。心腎不交。久傷精氣。不復謂之損。內經治五臟之損。治各不同。越人有上損從陽。下損從陰之議。然必納穀資生。俾胃後天得振。始望精氣生於穀食。自上秋至今日甚。乃里真無藏。當春令泄越。生氣不至。漸欲離散。從來精血有形。藥餌焉能驟然充長。攻病方法。都主客邪。以偏治偏。閱古東垣丹溪輩。於損不肯復者。首宜大進參朮。多至數斤。謂有形精血難生。無形元氣須急固耳。況上下交損。當治其中。若得中蘇加谷。繼參入攝納填精斂神之屬。方今春木大泄。萬花盡放。人身應之。此一月中急挽勿懈矣。</p>
<p>參朮膏　米飲調送</p>
<p>一月來。雖經反復。參脈症色形。生陽頗有根蒂。近食蠶豆滯氣。腹中微膨。食後口味酸濁。是久臥重著。脾陽運動之機尚少而火升心煩。動氣汗出。遺精雖減於昔。未得平復。總是內損已深。若調治合宜。只要精氣復得一分。便減一分病象。長夏脾胃主令。培土助納為要。而精氣散越。乃兼攝固之法。刻下味酸微膨。補脾少佐疏胃。宜晚進。其早上另制補攝丸劑。益臟真以招納散失之氣。</p>
<p>人參　茯苓　白朮　炙草　廣皮　麥冬　五味　神麯　麥芽　炒黃柏　晚服</p>
<p>人參　桑螵蛸　白龍骨　淡蓯蓉　五味　芡實　茯神　棗仁　金箔　金櫻膏丸　早服</p>
<p>肌肉鬆柔。脈小如數。常有夢遺。陰精不固。上年冬令過溫。溫則腠理反疏。陽動不藏。諸氣皆升。絡血隨氣上溢。見症如頭面熱。目下肉瞤。心悸怔忡。四肢汗出。兩足附腫。常冷不溫。走動數武。即吸短欲喘。何一非少陰腎氣失納。陽浮不肯潛伏之徵。況多夢紛擾。由精傷及神氣。法當味厚填精。質重鎮神。佐酸以收之。甘以緩之。勿因血以投涼。莫見下寒。輒進燥熱。恪守禁忌以安之。經年冀有成功。所慮壯年志慮未純。貽憂反復。</p>
<p>水制熟地　人參秋石拌　白龍骨　炒杞子　五味　炒山藥　茯神　牛膝炭</p>
<p>遺泄。有夢屬心。無夢屬腎。據述氣火下溜。即如溺出之狀。莖管中痛。熱氣上衝。咽喉巔頂掀脹。語言皆怯。此任脈不攝。衝脈氣逆。治法。引之導之。攝以固之。現在便溏食少。勿投沉陰膩滯之藥。</p>
<p>砂仁炒熟地　炒黑遠志肉　炒蓮鬚　元武版　白龍骨　鎖陽　茯苓　杜芡實　金櫻子熬膏為丸</p>

<h1>淋濁</h1>
<p>由淋痛。漸變赤白濁。少年患此。多有欲心暗動。精離本宮。腐敗凝阻溺竅而成。乃有形精血之傷。三年久病。形消肉減。其損傷已非一臟一腑。然補精充髓。必佐宣通為是。自能潛心安養。尚堪帶病延年。</p>
<p>熟地　王麋角　蓯蓉　遠志　赤苓　牛膝</p>
<p>陰精上承者壽。陽火下陷者危。血淋久而成形窒痛。煩心。心火直升。老人陰精已憊。五液化成。敗濁阻竅不通。欲泄必痛。得泄痛減。即痛則不通。痛隨利緩之理。故知柏六味。及歸脾逍遙之屬。愈治愈劇。其守補升補滋濁澀藥。決不中病。用琥珀痛減。乃通血利竅之意。然非久進之方。以不傷陰陽之通潤立方。</p>
<p>生地　益母草　女貞子　阿膠　琥珀　穭豆皮</p>
<p>敗精宿於精關。宿腐因溺強出。新者又瘀在裡。經年累月。精與血並皆枯槁。勢必竭絕成勞不治。醫藥當以任督沖帶調理。亦如女人之崩漏帶下。醫者但知八正分清。以濕熱治。亦有地黃湯益陰泄陽。總不能走入奇經。</p>
<p>鹿茸　龜甲　當歸　杞子　茯苓　小茴　鮑魚</p>
<p>案牘神耗。過動天君。陽隧直升直降。水火不交。陰精變為腐濁。精濁與便濁異路。故宣利清解無功。數月久延。其病傷已在任督。凡八脈奇經。醫每棄置不論。考孫真人九法專究其事。欲涵陰精不漏。意在升固八脈之氣。錄法參末。</p>
<p>鹿茸　人參　生菟絲子　補骨脂　韭子　舶茴香　覆盆子　茯苓　胡桃肉　柏子霜　蒸餅為丸</p>
<p>用甘露飲。淋濁已止。而頭暈左肢麻木。胃脘腹中飢則欲痛。咽喉中似有物黏著。咳咯咽痛不解。診脈左勁右濡。據症是水弱木失滋涵。肝陽化風。過膈繞咽達巔。木乘胃土。陽明脈衰。不司束筋骨以利機關。脘腹中痛。得食則緩者。胃虛求助也。今壯年有此。已屬痱中根萌。養肝腎之液以熄虛風。補胃土以充絡脈。務在守常。勿圖速效。可望全好。</p>
<p>制首烏　蓯蓉　天冬　杞子　柏子霜　茯神　菊花炭　青鹽　紅棗肉丸早服　晚服豬肚丸方</p>
<p>丹溪謂五淋症濕熱阻竅居多。三年前曾有是病。月前舉發。竟有血塊窒塞。尿大痛不能溺出。想房勞強忍。敗精離位。變成汙濁瘀腐。且少腹堅滿。大便秘澀。臟氣無權。腑氣不用。考瀕湖發明篇中。有外甥柳喬之病。與此適符。今仿其義。參入朱南陽法。</p>
<p>兩頭尖　川楝子　韭白　小茴　桂枝　歸尾　衝入杜牛膝根汁</p>
<p>肝主筋。腎主骨。陰器者。宗筋之所聚。男子天癸未至。強通其精。異時必有難名之病。今患腰痠痛。宗筋短縮。大便結澀。小便淋瀝。足腿消爍。飭肉拘攣。無非肝虧腎損所致。按脈沉細而兼微數。乃精不營筋。又有伏火。內經所謂發為筋痿。及為白淫者是也。治宜滋腎舒肝。使精血漸充。則筋骨亦漸和柔。但幻症日久。非一朝一夕之功。幸弗期速效。</p>
<p>熟地　歸身　牛膝　肉桂　黃柏　線魚膠　續斷　鉤勾</p>
<p>久勞鬱勃。夏季尿血。延及白露。溺出痛澀。血凝成塊。阻著尿管。夫淋症。方書列於肝膽部。為濕熱阻其宣化氣機。故治法苦辛泄肝。淡滲通竭。施於壯實頗效。今望八老翁。上焦必憊。況加精血自敗。化為瘀濁。真氣日衰。機竅日閉。診候之際。病人自述。夢寐若有交接。未嘗遺泄。心陽自動。相火隨之。然清心安腎等法。未能速效。暫以清營通瘀宣竅之劑。</p>
<p>天冬　生蒲黃　龍膽草　龜板　生地　阿膠　丹皮　焦黃柏</p>
<p>男子血淋成塊。尿出痛。醫治一年罔效。夫淋屬肝經鬱火。濕熱皆有是病。思少壯情欲勉強。必致敗精凝竅。精腐變瘀。理固有諸。用虎杖散法。服五六日。痛減血少。晨溺尚有血絲。此蓋竅中有未盡之敗濁。宜通不宜澀。</p>
<p>人中白　琥珀　沉香　白牽牛　川柏　韭菜汁丸</p>
<p>濁膩膏淋日下。最易損人津液。絡脈遂槁。況八脈隧道紆遠。泛然補劑藥力罔效。難經謂十二經屬通渠。旋轉循環無端。惟奇經如溝渠滿溢。流入深河。不與十二經並行者也。樹根草皮。此症亦難奏效。須用血肉填補固澀。庶可希其獲效。</p>
<p>麋茸　河車　人參　蒸黑於術　茯苓　湘蓮　縮砂　雀卵　茹䕡　烏賊骨　雀卵河車膏為丸</p>
<p>淋屬肝膽。而酒性濕熱之氣。肝膽先受滓汁。次及腸胃。濕甚熱鬱。溺竅氣阻。莖管窄溢。久病積熱愈深。不受溫補。當忌酒肉厚味。分利雖投。不能卻病。從經義苦味祛濕。參以解毒。</p>
<p>料豆皮　牡丹皮　黑山梔　蘆薈　龍膽草　真青黛　金銀花　胡黃連</p>

<h1>嘔吐</h1>
<p>勉強攻胎。氣血受傷。而為寒熱。經脈乏氣。而為身痛。乃奇經衝任受病。而陽維脈不用事也。內經以陽維為病。苦寒熱。維者。一身之網維也。既非外感。羌蘇柴葛三陽之藥。及芩梔枳樸之屬。辛酸繼以苦寒。未能中病。胃口屢傷。致湯飲皆噦出無餘。大便不通。已經半月。其吐出形色青綠涎沫。顯然肝風大動。將胃口翻空。而腸中汙水得風。翔如浪決。東西盪漾矣。熄風鎮胃。固是定理。但危篤若。此明理以邀天眷耳。</p>
<p>淮小麥　火麻仁　阿膠　生地　秋石拌人參　南棗肉</p>
<p>未病先有耳鳴眩暈。恰值二氣之交。是冬藏根蒂未固。春升之氣泄越。無以制伏。更屬產後。精氣未復。又自乳耗血。血去液虧。真陰日損。陽氣不交於陰。變化內風。上巔犯竅。沖逆肆橫。胃掀吐食。攻腸為瀉。襲走脈絡。肌肉皆腫。譬如諸門戶盡撤。遂致暴風飄漾之狀。醫者辛酸苦降重墜。不但病未曾理。致陽更泄。陰愈涸。煩則震動即厥。由二氣不能自主之義。閱王先生安胃一法。最為卓識。所參拙見。按以兩脈。右手澀弱。虛象昭然。左脈空大。按之不實。亦非肝氣肝火有餘。皆因氣味過辛散越。致二氣造偏。茲以病因大旨。兼以經義酌方。</p>
<p>人參　茯苓　半夏　白芍　煨姜　炒粳米</p>
<p>靈樞經云。中氣不足。溲便為變。是崩淋泄瀉皆脾胃欲敗之現症。今湯水下咽。少頃傾囊湧出。豈非胃陽無有。失司納物乎。奈何業醫者。中懷疑惑。但圖疲藥。待其自安。怕遭毀謗耳。此症一投柔藥。濁升填塞。必致脹滿。仲景於陽明滿實。致慎攻下者。恐以太陰之脹誤治耳。今舌微紅微渴。皆是津液不肯升揚。脾弱不主。散精四布。世豈有面色如白紙。尚不以陽氣為首重也耶。</p>
<p>人參　熟於術　炙甘草　炮姜　茯神　南棗</p>
<p>凡論病。先論體質形色脈象。以病乃外加於身也。夫肌肉微白屬氣虛。外似豐溢。里真大怯。蓋陽虛之體。為多濕多痰。肌疏汗淋。唇舌俱白。乾嘔胸痞。煩渴引飲。由乎脾胃之陽傷殘。邪得僭居於中。留蓄不解。正衰邪熾。試以脈之短澀無神論之。陽衰邪伏顯然。況寒涼不能攻熱。清邪便是傷及胃陽之藥。今杳不納穀。大便漸澀。若不急和胃氣。無成法可遵。所謂攻入之病。慮虛其陽。參擬一方。仍候明眼採擇。</p>
<p>人參　半夏　生於術　枳實　茯苓　生薑</p>
<p>脈濡弱。左脅下久有聚氣。納食釀積於胃脘之中。兩三日嘔逆吞酸。積物上湧吐出。此皆怫怒動肝。肝木犯胃。胃中陽傷。不能傳及小腸。遂變化失司。每七八日。始一更衣。為胃氣不主下行故也。法當溫胃陽制肝逆。宿病久纏。恐多反復。致成反胃之症。</p>
<p>淡附子　淡乾薑　薑汁　生白芍　淡吳萸　白粳米</p>
<p>寒熱邪氣擾中。胃陽大傷。酸濁上湧吐出。脘痛如剌。無非陽衰陰濁上僭。致胃氣不得下行。高年下元衰憊。必得釜底暖蒸。中宮得以流通。擬用仲景附子瀉心湯。通陽之中。原可泄熱開導。煎藥按法用之。</p>
<p>人參　熟附子　淡乾薑　川連　炒半夏　枳實　茯苓</p>
<p>壯年形偉。脈小濡。惡聞穢氣。食入嘔噦。緣陽氣微弱。濁陰類聚。口鼻受汙濁異氣。先入募原。募原是胃絡分布。以上逆而為嘔吐。此病理標者。用芳香闢穢扶正氣。治本以溫上通陽。</p>
<p>藿香　草果　公丁香　茯苓　厚朴　砂仁殼　廣皮　蓽茇</p>
<p>少腹屬肝。肝厥必犯陽明胃腑。故作痛嘔。二年來病人已不知因何起病。醫徒見病圖治。想肝腎必自內傷為病。久則奇經諸脈交傷。經謂衝脈動。而諸脈交動也。議溫通柔潤劑。從下焦虛損主治。</p>
<p>淡蓯蓉干　茯苓　當歸　杞子　炒沙苑　肉桂心</p>
<p>知飢能納。忽有氣衝。涎沫上湧。脘中格拒。不堪容物。內經謂肝病吐涎沫。丹溪云。上升之氣。自肝而出。木火上凌。柔金受克。咳嗆日加。治以養金制木。使土宮無戕賊之禍。滋水制火。令金髒得清化之權。此皆老年積勞致傷。豈攻病可效。</p>
<p>蘇子　麥冬　枇杷葉　杏仁　北沙參　桑葉　丹皮　降香　竹瀝</p>

<h1>噎膈</h1>
<p>向來翻胃。原可撐持。秋季驟加驚擾。厥陽陡升莫制。遂廢食不便。消渴不已。如心熱嘔吐涎沫。五味中喜食酸甘。肝陰胃汁。枯槁殆盡。難任燥藥通關。胃屬陽土。宜涼宜潤。肝為剛臟。宜柔宜和。酸甘兩濟其陰。</p>
<p>烏梅肉　人參　鮮生地　阿膠　麥冬汁　生白芍</p>
<p>老年血氣漸衰。必得數日大便通爽。然後脘中納食無阻。此胃汁漸枯。已少胃氣下行之旨。噎症萌矣。病乃操持太過。身中三陽。燔燥爍津所致。故餌藥未能全功。議用丹溪法。</p>
<p>麥冬汁　鮮生地汁　柏子仁汁　甜杏仁汁　黑芝麻汁　杜蘇子汁　松子仁漿</p>
<p>勞心勞力經營。向老自衰。平日服餌桂附生薑三十年。病噎不食。下膈吐出。此在上焦之氣不化。津液不注於下。初病大便艱澀。按經云。味過辛熱。肝陽有餘。肺津胃液皆奪。為上燥。仿嘉言清燥法。</p>
<p>麥冬　麻仁　鮮生地　甜水梨　桑葉　石膏　生甘草</p>
<p>脈弦而小澀。食入脘痛格拒。必吐清涎。然後再納。視色蒼。眼筋紅黃。昔肥今瘦。云是鬱怒之傷。少火皆變壯火。氣滯痰聚日擁。清陽莫展。脘管窄隘。不能食物。噎膈漸至矣。法當苦以降之。辛以通之。佐以利痰清膈。莫以豆蔻沉香劫津可也。</p>
<p>川黃連　杏仁　桔梗　土栝蔞皮　半夏　橘紅　竹瀝　薑汁</p>

<h1>吐蛔</h1>
<p>凡蛔蟲上下出者。皆屬厥陰乘犯陽明。內食入胃。嘔吐痰涎濁沫。如仲景厥陰篇中。先厥後熱同例。試論寒熱後。全無汗解。謂至陰伏邪既深。焉能隔越諸經。以達陽分。閱醫藥方初用治肺胃。後用溫膽茯苓飲。但和胃治痰。致深伏厥陰之邪未達。前進瀉心湯。苦可去濕。辛以通痞。仍在上中。服後胸中稍舒。逾時稍寐。寐後嘔吐濁痰。有黃黑之形。大凡色帶青黑。必系胃底腸中逆湧而出。老年衝脈既衰。所謂衝脈動。則諸脈皆逆。自述嘔吐之時。周身牽引。直至足心。其陰陽蹺維。不得自固。斷斷然矣。仲景於半表半里之邪。必用柴芩。今上下格拒。當以桂枝黃連湯為法。參以厥陰引經。為通理之使。俾沖得緩。繼進通補陽明。此為治厥陰章旨也。</p>
<p>淡乾薑　桂枝　川椒　烏梅　川連　細辛　茯苓</p>
<p>瘧來得汗。陰分之邪已透陽經。第痰嘔雖未減。青綠形色亦不至。最屬可喜。舌心白苔未淨。舌邊漸紅。而神倦困憊。清邪佐以輔正。一定成法。</p>
<p>人參　半夏　茯苓　枳實汁　乾薑　川連</p>
<p>脈沉弦。腹痛嘔吐。鼻煤舌絳。面帶青晦色。夏秋伏暑發熱。非冬月。乃誤表禁食。胃氣受傷。致肝木上干胃土。蛔蟲上出。遂成重病。常而厥逆之慮。擬進泄肝和胃。得痛止嘔緩。冀有轉機。</p>
<p>川椒　川連　烏梅　乾薑　人參　茯苓　生白芍　川楝子</p>

<h1>痛</h1>
<p>勞力氣泄陽傷。胸脘痛發。得食自緩。已非質滯停蓄。然初病氣傷久泄不止。營絡亦傷。古謂絡虛則痛也。攻痰破氣。不去病。即傷胃。致納食不甘。噯噫欲嘔。顯見胃傷陽敗。當以辛甘溫方。</p>
<p>人參　桂枝　茯苓　炙草　煨姜　南棗</p>
<p>經幾年宿病。病必在絡。痛非虛症。因久延體質氣餒。遇食物不適。或情懷鬱勃。痰因氣滯。氣阻血瘀。諸脈逆亂。頻吐汙濁。而大便反秘。醫見身體肢冷。認為虛脫。以理中和附子溫里護陽。夫陽氣皆屬無形。況乎病發有因。決非陽微欲脫。憶當年病來。宛是肝病。凡疏通氣血皆效。其病之未得全好。由乎性情食物居多。夏季專以太陰陽明通劑。今痛處在脘。久則瘀濁復聚。宜淡味薄味清養。初三竹瀝泛丸。仍用。早上。另立通瘀方法。</p>
<p>蘇木　人參　鬱金　桃仁　歸尾　柏子仁　琥珀　茺蔚　紅棗肉丸</p>
<p>宿病沖氣胃痛。今飽食動怒。痛發嘔吐。是肝木侵犯胃土。濁氣上踞。脹痛不休。逆亂不已。變為先寒後熱。煩燥面赤。汗泄。此為厥象。厥陰肝臟之現症。顯然在目。夫痛則不通。通字須究氣血陰陽。便是著診要旨矣。議用瀉心法。</p>
<p>乾薑　川連　人參　枳實　半夏　薑汁</p>
<p>胃痛久而屢發。必有凝痰聚瘀。老年氣衰。病發日重。乃邪正勢不兩立也。今納物嘔吐甚多。味帶酸苦。脈得左大右小。蓋肝木必侮胃土。胃陽虛。完穀而出。且呃逆沃以熱湯不減。其胃氣掀騰如沸。不嗜湯飲。飲濁彌留脘底。用藥之理。遠柔用剛。嘉言謂能變胃而不受胃變。開得上關。再商治法。</p>
<p>紫金丹</p>
<p>產後三年。經水不轉。胃痛。得食必嘔。汗出形寒。腰左動氣閃爍。大便七八日始通。脈細弦右澀。舌白稍渴。脘中響動。下行痛緩。病屬厥陰。順承陽明。胃土久傷。肝木愈橫。法當辛酸。兩和厥陰體用。仍參通補陽明之陽。俾濁少上僭。痛有緩期。</p>
<p>人參　開口吳萸　生白芍　良薑　熟半夏　雲茯苓</p>
<p>天癸當絕仍來。昔壯年已有頭暈。七年前秋起。胃痛若嘈。今春悲哀。先麻木頭眩。痛發下部。膝脛冷三日。病屬肝厥胃痛。述痛引背脅。是久病絡脈空隙。厥陽熱氣。因情志鬱勃拂逆。氣攻乘絡。內風旋動。襲陽明。致嘔逆不能進食。</p>
<p>九孔石決明　清阿膠　生地　枸杞子　茯苓　桑寄生　川石斛</p>
<p>痛在脅肋遊走不一。漸至痰多。手足少力。初病兩年。寢食如常。今年入夏病甚。此非臟腑之病。乃由經脈。繼及絡脈。大凡經主氣絡主血。久病血瘀。瘀從便下。諸家不分經絡。但忽寒忽熱。宜乎無效。試服新絳一方。小效。乃絡方耳。議通少陽陽明之絡。通則不痛矣。</p>
<p>歸鬚　炒桃仁　澤蘭葉　柏子仁　香附汁　丹皮　穿山甲　乳香　沒藥</p>
<p>診脈動而虛。左部小弱。左脅疼痛。痛勢上引。得食稍安。此皆操持太甚。損及營絡。五志之陽動擾不息。咽乾舌燥。心悸久痛。津液致傷也。症固屬虛。但參朮歸耆諸方。未能治及絡病。內經肝病不越三法。辛散以理肝。酸泄以潤肝。甘緩以益肝。宜辛甘潤溫之補。蓋肝為剛臟。必柔以濟之。自臻效驗耳。</p>
<p>炒桃仁　柏子仁　新絳　歸尾　橘紅　琥珀</p>
<p>古人治脅痛。法有五。或犯寒血滯。或血虛絡痛。或血著不通。或肝火抑鬱。或暴怒氣逆。皆可致痛。今是症脈細。弦數不舒。此由肝火抑鬱。火鬱者絡自燥。治法必當清潤通絡。</p>
<p>土栝蔞　炒香桃仁　歸身　新絳　炒白芍　炙甘草</p>
<p>詢左脅下每日必有小痛逾時。其痛勢布散胸臆背部。從來不延及於腹中下焦。是腑絡為病。凡久病從血治為多。今既偏患於上。仍氣分之阻。而致水飲瘀濁之凝。此非守中補劑明甚。但攻法必用丸以緩之。非比驟攻暴邪之治。當用穩法。議以陽明少陽方法。俾樞機開闔舒展。諒必有稗益矣。</p>
<p>生鉤藤　生香附　風化硝　炒半夏　茯苓　生白蒺藜　竹瀝薑汁泛丸</p>
<p>診脈右弦。左小弱澀。病起積勞傷陽。操持索思。五志皆逆。而肝為將軍之官。謀慮出焉。故先脅痛。晡暮陽不用事。其病漸劇。是內傷症。乃本氣不足。日餌辛燥。氣泄血耗。六味滋柔膩藥。原非止痛之方。不過矯前藥之謬而已。內經肝病三法。治虛亦主甘緩。蓋病既久。必及陽明胃絡。漸歸及右。肝胃同病。人臥魂藏於肝。夢寐紛紜。傷及無形矣。議用甘藥。少佐攝鎮。</p>
<p>人參　棗仁　茯神　炙草　柏子仁　當歸　龍骨　金箔　桂圓肉煮濃汁搗丸</p>
<p>小便自利。大便黑色。當臍腹痛。十五年漸發日甚。脈來沉而結澀。此鬱勃傷及肝脾之絡。致血敗瘀留。勞役動怒。宿疴乃發。目今冬深閉藏。忌用攻下。議以辛通潤血。所謂通則不痛矣。</p>
<p>桃仁　桂枝木　穿山甲　老薤白　阿魏丸</p>
<p>腹痛三年。時發時止。面色明亮。是飲邪亦酒濕釀成。因怒左脅有形痛繞腹中。及胸背諸俞。乃絡空飲氣逆攻入絡。食辛熱痛止復痛。蓋怒則鬱折肝用。惟氣辛辣可解。論藥必首推氣味。</p>
<p>粗桂枝木　天南星　生左牡蠣　真橘核　川楝子肉　李根東行皮</p>
<p>脈小澀。久因悒鬱。脘痛引及背脅。病入血絡。經年延綿。更兼茹素數載。陽明虛餒。肩臂不舉。倉猝難於奏效。是緩調為宜。議通血絡潤補。勿投燥熱劫液。</p>
<p>歸鬚　柏子仁　桂枝木　桃仁　生鹿角　片薑黃</p>

<h1>頭風</h1>
<p>右偏頭痛。鼻竅流涕。仍不通爽。咽喉疳腐。寤醒肢冷汗出。外邪頭風。已留數月。其邪混處。精華氣血。咸為蒙閉。豈是發散風寒可解。頭巔藥餌。務宜清揚。當剌風池風府。投藥仍以通法。莫非氣血周行。焉望卻除宿病。</p>
<p>西瓜衣　鮮蘆根　苡仁　通草　蠟礬丸</p>
<p>頭形象天。義不受濁。今久痛有高突之狀。似屬客邪蒙閉清華氣血。然常餌桂附河車。亦未見其害。思身半以上屬陽。而元首更為陽中之陽。大凡陽氣先虛。清邪上入。氣血瘀痹。其痛流連不息。法當宣通清陽。勿事表散。以艾𤋲烙按法灸治。是一理也。</p>
<p>熟半夏　北細辛　炮川烏　炙全蠍　薑汁</p>
<p>陽氣為邪所阻。清空機竅不宣。考周禮採毒藥以攻病。藉蟲蟻血中搜逐。以攻通邪結。乃古法而醫人忽略者。今痛滋腦後。心下嘔逆。厥陰見症。久病延虛。攻邪須兼養正。</p>
<p>川芎　當歸　半夏　薑汁　炙全蠍　蜂房</p>

<h1>溫熱</h1>
<p>風溫從上而入。風屬陽。溫化熱。上焦進肺。肺氣不得舒轉。周行氣阻。致身痛脘悶不飢。宜微苦以清降。微辛以宣通。醫謂六經。輒受羌防。泄陽氣。劫胃汁。溫邪忌汗。何遽忘之。</p>
<p>杏仁　香豉　鬱金　山梔　栝蔞皮　蜜炒橘紅</p>
<p>勞倦嗔怒。是七情內傷。而溫邪感觸。氣從口鼻直自膜原中道。蓋傷寒陽症。邪自太陽次第傳及。至於春溫夏熱。則鼻受氣。肺受病。口入之氣。竟由脘中。所以原有手經見症。不比傷寒足六經之病也。其原不同。治法亦異。仲景論溫邪不可發汗。汗則劫津傷陰。身必灼熱。一逆尚引日。再逆促命期。又云。鼻息鼾。語言難出。劇則驚癇瘛瘲。無非重劫津液所致。今病發熱。原不是太陽客邪見症。所投羌防。辛溫表汗。此誤即為逆矣。上竅不納。下竅不便。亦屬常事。必以攻下希圖泄熱。殊不知強汗劫津而傷陽。妄下劫液更亡陰。頃診脈。兩手如搐而戰。舌乾燥而無苔。前板齒乾。目欲瞑。口欲開。周身燈照而淡晦。斑紋隱隱約約。幾日來時有呃逆。因胃乏穀氣而中空。肝陽衝突。上冒肆虐耳。為今返正。先與糜粥。使胃中得濡。厥陽不致上冒。而神昏之累可已。進藥之理。甘溫可以生津除熱。即斑疹亦不足慮。觀仲景論中。邪少虛多。陰液陽津並涸者。復脈湯主之。謹仿此義。</p>
<p>炙甘草　人參　生地　白芍　阿膠　麥冬</p>
<p>溫邪有升無降。經腑氣機交逆。營衛失其常度。為寒熱。津液日耗。渴飲不飢。陽氣獨行。則頭痛面赤。是皆冬春驟暖。天地失藏。人身應之。患此者最多。考古人治溫病忌表。誤投即為劫津。逆傳心包。最怕神昏譫語妄狂。治病以辛甘涼潤為主。蓋傷寒入足經。溫邪入手經也。上潤則肺降。不致膹郁。胃熱下移。知飢渴解矣。</p>
<p>嫩竹葉　桑葉　杏仁　蔗汁　麥冬　生甘草　石膏</p>
<p>久患虛損。原寢食安舒自服陰柔膩補。不但減食不寐。脘中常悶。渴欲飲涼。此口鼻吸入溫邪。先干於肺。誤補則邪愈熾。氣機阻塞。弱質不敢開泄。援引清揚肅上。兼以威喜丸。淡以和氣。上焦得行。可用養胃法。</p>
<p>白沙參　苡仁　天花粉　桑葉　鬱金　威喜丸</p>
<p>積勞傷陽衛疏。溫邪上受。內入乎肺。肺主周身之氣。氣窒不化。外寒似戰慄。其溫邪內郁必從熱化。今氣短胸滿。病邪在上。大便瀉出稀水。肺與大腸表裡相應。亦由熱迫下泄耳。用辛涼輕劑為穩。</p>
<p>杏仁　枯梗　香豉　橘紅　枳殼　薄荷　連翹　茯苓</p>
<p>溫邪中自口鼻。始而入肺為咳喘。繼傳膻中則嗆血。乃心營肺衛受邪。然邪在上焦。壅遏阻氣。必聚為熱。痰臭嗆渴。是欲內閉。惜不以河間三焦立法。或謂傷寒主六經。或謂肺癰。或泄氣血。致熱無出路。胸突腹大。危期至速矣。即有對症藥餌。氣湧沸騰。勢必湧吐無餘。焉望有濟。夫溫熱穢濁。填塞內竅。神識昏迷脹悶欲絕者。須以芳香宣竅。佐牛黃金箔。深入臟絡。以收錮閉之邪。今危篤若此百中圖一而已。</p>
<p>紫雪丹</p>
<p>仲景云。陰氣先傷。陽氣獨發。不寒癉熱。令人消爍肌肉。條例下不注方。但曰。以飲食消息之。後賢謂甘寒生津。解煩熱。是矣。今脈數。舌紫渴飲。氣分熱邪未去。漸次轉入血分。斯甘寒清氣藥中。必佐存陰。為法中之法。</p>
<p>生地　石膏　生甘草　知母　粳米　竹葉心　白芍</p>
<p>溫邪逆傳膻中。熱痰蔽阻空竅。所進寒涼消導。徒攻腸胃。毫無一效。痰乃熱熏津液所化。膻中乃空靈之所。是用藥之最難。至寶丹。芳香通其神明之竅以驅熱痰之結。極是。但稚年受溫邪。最易虧陰津耗。必兼滋清。以理久伏溫邪為正。</p>
<p>犀角　鮮生地　元參　連翹心　丹皮　石菖蒲　至寶丹</p>
<p>腹滿已久。非是暴症。近日面頷腫脹。牙關緊閉。先有寒熱。隨現是象。診脈右搏數。左小。乃溫邪觸自口鼻。上焦先受。氣血與熱膠固。致清竅不利。倏有痹塞之變。理當先治新邪。況頭面咽喉結邪。必辛涼輕劑以宣通。若藥味重濁。徒攻腸胃矣。仿東垣普濟消毒意。</p>
<p>連翹　牛蒡子　馬勃　射干　滑石　夏枯草　金銀花露　金汁</p>
<p>脈左數。右緩弱。陽根未固。陰液漸涸。舌赤微渴。喘促自利。溲數。晡刻自熱。神煩囈語。夫溫邪久伏少陰。古人立法。全以育陰祛熱。但今見症。陰分固有伏邪。真陽亦不肯收納。擬仿劉河間濁藥輕投。不為上焦熱阻。下焦根蒂自立。冀其煩躁熱蒸漸緩。</p>
<p>熟地炭　茯苓　淡蓯蓉　遠志炭　川石斛　五味子</p>
<p>豐腴體質。適值過勞。陽氣受傷。嘔吐食物。無頭痛身熱。已非外感風寒。而間日煩躁。渴飲。唇焦。舌黑。是內伏熱氣。由募原以流布三焦。亦如瘧邪分爭營衛者然。然有年積勞既久。伏邪客病本輕。脈小緩。按之不無鼓擊。可為徵驗。且二便頗通。略能納穀。焉有停滯積聚。仲景於癉熱無寒之條。不出藥方。但曰。以飲食消息。後賢參聖意。甘寒以養胃陰。其熱自解。要知表散之辛溫。消滯之苦溫。以及苦寒沉降。多犯聖訓戒律矣。</p>
<p>鮮生地　甜杏仁　麥冬　花粉　竹葉心　青蔗汁　連翹</p>
<p>夏季溫熱上受。首先入肺。河間主三焦。極是。今世醫者。初用非發散。即消食。散則耗氣。消則劫胃。究竟熱蘊未除。而胃汁與肺氣皆索。故不飢不食不便。上脘似格似阻。酸濁之氣。皆是熱化。病延多日。苦寒難以驟進。先擬開提上焦氣分。</p>
<p>蘇子　杏仁　土栝蔞皮　枇杷葉　黃芩　降香</p>

<h1>疫毒癍疹</h1>
<p>朱某疫癘穢邪。從口鼻吸受。分布三焦。瀰漫神識。不是風寒客邪。亦非停滯里症。故發散消導。即犯劫津之戒。與傷寒六經。大不相同。今喉痛丹疹。舌如朱。神躁暮昏。上受穢邪。逆走膻中。當清血絡以防結閉。然必大用解毒。以驅其穢。必九日外不致昏憒。冀其邪去正復。</p>
<p>犀角　連翹　生地　玄參　菖薄　鬱金　銀花　金汁</p>
<p>暴寒驟加。伏熱更熾。邪鬱則氣血壅遏。痧疹不肯外達。痰氣交阻。神迷喘促。漸入心胞絡中。有內閉外脫之憂。熱注下迫。自利黏膩不爽。法當開其結閉。消毒解其膻中之壅。必得神清。方保無變。</p>
<p>連翹心　飛滑石　石菖蒲　炒金銀花　射干　通草　煎化牛黃丸</p>
<p>舌邊赤。昏譫。早輕夜重。斑疹隱現。是溫濕已入血絡。夫心主血。邪干膻中。漸至結閉為昏痙之危。苦味沉寒。竟入中焦。消導辛溫。徒劫胃汁。皆溫邪大禁。議清疏血分。輕劑以透斑。更參入芳香。逐穢以開內竅。近代喻嘉言申明。戒律宜遵也。</p>
<p>犀角　玄參　連翹　銀花　石菖蒲　金汁　牛黃丸</p>
<p>發瘰熱腫。獨現正面。每遇九十月大發。五六月漸愈。七八年如是。因思夏令陽氣宣越。營衛流行無間。秋令氣凜外薄。氣血凝滯。此濕熱漫無發泄。乃少陽木火之郁。及陽明蘊蒸之濕。故上焦尤甚耳。法以辛涼。佐以苦寒。俾陽分鬱熱得疏。庶幾發作勢緩。</p>
<p>夏枯草　鮮菊葉　苦丁茶　鮮荷葉邊　羚羊角　黑桅皮　鬱金　苡仁</p>

<h1>暑</h1>
<p>暑熱必挾濕。吸氣而受。先傷於上。故仲景傷寒。先分六經。河間溫熱須究三焦。大凡暑熱傷氣。濕著阻氣。肺主一身周行之氣。位高為手太陰經。據述病樣。面赤足冷。上脘痞塞。其為上焦受病顯著。緣平素善飲。胃中濕熱久伏。辛溫燥裂。不但肺病不合。而胃中濕熱。得燥熱錮閉。下利稀水。即協熱下利。故黃連苦寒。每進必利甚者。苦寒以勝其辛熱。藥味尚留於胃底也。然與初受之肺邪無當。此石膏辛寒。辛先入肺。知母為味清涼。為胃之母氣。然不明肺邪。徒曰生津。焉是至理。昔孫真人未診先問。最不誤事。再據主家說及病起兩旬。從無汗泄。經云。暑當汗出勿止。氣分窒塞。日久熱侵入血中。咯痰帶血。舌紅赤不甚渴飲。上焦不解。漫延中下。此皆急清三焦。是第一章旨。故熱病之瘀熱留絡。而為遺毒。注腑腸而為洞利。便為束手無策。再論。濕乃重濁之邪。熱為熏蒸之氣。熱處濕中。蒸淫之氣。上迫清竅。耳為失聰。不與少陽耳聾同例。青蒿減柴胡一等。亦是少陽本藥。且大病如大敵。選藥如選將。苟非慎重。鮮克有濟。議三焦分清。治從河間法。</p>
<p>飛滑石　生石膏　寒水石　大杏仁　炒黃竹茹　川通草　瑩白金汁　金銀花露</p>
<p>又　診脈後。腹胸肌腠。登現癮疹。氣分濕熱。原有暗泄之機。早間所談餘邪遺熱。必兼解毒者為此。下午進藥後。診脈較大於早晨。神識亦如前。但舌赤。中心甚乾燥。身體捫之。熱甚於早間。此陰分亦被熱氣蒸傷。瘦人慮其液涸。然痰咯不清。養陰藥無往而非膩滯。議得早進清膈一劑。而三焦熱穢之蓄。當用紫雪丹二三匙。藉其芳香。宣竅逐穢。斯涸熱可解。濁痰不黏。繼此調理之方。清營分。滋胃汁。始可瞻顧。其宿垢欲去。猶在旬日之外。古人謂下不嫌遲。非臆說也。</p>
<p>知母　竹葉心　連翹心　炒川貝　犀角　元參　金汁　銀花露　紫雪丹</p>
<p>又　經月時邪。脈形小數。小為病退。數為餘熱。故皮腠麩脫。氣血有流行之義。思食欲餐。胃中有醒豁之機。皆佳兆也。第舌赤而中心黃苔。熱蒸既久。胃津與陰液俱傷。致咽物咽中若阻。溺溲尖管猶痛。咯痰濃厚。宿垢未下。若急遽攻奪。恐真陰再涸矣。此存陰為主。而清腑兼之。故乳進食物。便是助熱。惟清淡之味。與病不悖。自來熱病。最怕食後勞復。舉世共聞。非臆說也。</p>
<p>細生地　元參心　知母　炒川貝　麥冬　地骨皮　銀花露　竹瀝</p>
<p>暑必挾濕。二者皆傷氣分。從鼻吸而受。必先犯肺。乃上焦病。治法以辛涼微苦。氣分上焦廓清則愈。惜乎專以陶書六經看病。仍是與風寒先表后里之藥。致邪之在上漫延。結錮四十餘日不解。非初受六經。不須再辨其謬。經云。病自上受者。治其上。援引經義以論治病。非邪僻也。宗河間法。</p>
<p>杏仁　栝蔞皮　半夏　薑汁　白蔻仁　石膏　知母　竹瀝</p>
<p>又　脈神頗安。昨午發疹。先有寒戰。蓋此病起於濕熱。當此無汗。肌腠氣窒至膚間。皮脫如麩。猶未能全泄其邪。風疹再發。乃濕因戰慄為解。一月以來病魔。而肌無膏澤。瘦削枯槁。古謂瘦人之病。慮涸其陰。陰液不充。補之以味。然腥膻濁味。徒助上焦熱痰。無益培陰養液。況宿滯未去。腸胃氣尚窒鈍。必淡薄調理。上氣清爽。痰熱不至復聚。從來三時熱病。怕反復於病後之覆。當此九仞。幸加意留神為上。</p>
<p>元參心　細生地　銀花　知母　生甘草　川貝　丹皮　橘紅　竹瀝</p>
<p>病幾一月。猶然耳聾。神識不慧。嗽甚痰黏。呼吸喉間有音。此非傷寒暴感。皆夏秋間暑濕熱氣內郁。新涼引動內伏之邪。當以輕劑清解三焦。奈何醫者。不曉伏氣為病。但以發散消食寒涼清火為事。致胃汁消亡。真陰盡灼。舌邊赤。齒板燥裂。乃邪留營中。有內閉瘛瘲厥逆之變。況右脈小數。左脈澀弱。熱固在裡。當此陰傷日下。久之再犯亡陰之戒。從來頭面。皆是清竅。既為邪蒙。精華氣血不肯流行。諸竅失司聰明矣。此輕清清解。斷斷然也。議清上焦氣血之壅為先。不投重劑苦寒。正仿古人肥人之病。慮虛其陽耳。</p>
<p>連翹心　元參　犀角　鬱金　橘紅　黑梔皮　川貝　鮮菖蒲根　竹瀝</p>
<p>又　脈右緩大。左弱。面垢色已減。痰嗽不爽。良由胃中津液。為辛散溫燥所傷。心營肺衛。悉受熱焰蒸迫。致神呆喘急耳聾。清陽阻痹。九竅不利。首方宣解氣血繼方芳香通竅。無形令其轉旋。三焦自有專司。豈與俗醫但曉邪滯攻擊而已。今已獲效。當與清養胃陰肺氣。體素豐厚。陽弱不耐沉寒。然深秋冬交天氣降。則上焦先受。試觀霜露下垂。草木皆改異色。人在氣交。法乎天地。兼參體質施治。</p>
<p>枇杷葉　炒黃川貝　橘紅　鬱金　茯苓　苡仁</p>
<p>三瘧之邪在陰。未經向愈。春季洞利不食。想春雨外濕。水穀內聚亦濕。即濕多成五泄之謂。痍瘡僅泄經隧濕邪。而里之濕邪未驅。長夏吸受暑邪。上蒙清空諸竅。咳嗽耳聾。的系新邪。非得與宿病同日而語。</p>
<p>連翹　飛滑石　嫩竹葉　荷葉邊汁　桑葉　杏仁　象貝　黑山梔</p>
<p>奔走氣亂。復飲燒酒。酒氣辛熱。有升無降。肺氣膹郁。上下不通。舌白消渴。氣結自胸及腹。澼澼自利不爽。周身膚腠皆痛。汗大出不解。無非暑濕熱氣。始由肺受。漫布三焦。群醫消導苦藥。但攻腸胃。在上痞結仍然。議淡滲佐以微辛。合乎軒岐上病治上之方。</p>
<p>西瓜翠衣　川白通草　大豆黃卷　馬兜鈴　射干　苡仁</p>
<p>三伏中陰氣不生。陽氣不潛。其頭脹身痛。是暑邪初受。暑濕熱必先傷氣分。故舌白。口渴。身痛。早晨清爽。午後煩蒸。狀如溫瘧。沐浴繞動血絡。宿病得時邪而來。仲景云。先治新病。後理宿病。是亦陰氣先傷。陽氣獨發也。</p>
<p>鮮生地　石膏　知母　元參　連翹　竹葉心　荷葉汁</p>
<p>初病伏暑。傷於氣分。微熱渴飲。邪犯肺也。失治邪張。逆走膻中。遂舌絳縮。小便忽閉。鼻煤裂血。口瘡耳聾。神呆。由氣分之邪熱。漫延於血分矣。夫肺主衛。心主營。營衛二氣。晝夜行於經絡之間。與邪相遇。或涼或熱。今則入於絡。津液被劫。必漸昏寐。所謂內閉外脫。</p>
<p>鮮生地　連翹　元參　犀角　石菖薄　金銀花</p>
<p>右脈空大。左脈小芤。寒熱麻痹。腰痛冷汗。平素積勞內虛。秋暑客邪遂干臟陰。致神迷心熱。煩躁。刮痧似乎略爽。病不肯解。此非經絡間病。頗慮熱深劫陰。而為痙厥。張司農集諸賢論暑病。謂入肝則麻痹。入腎為消渴。此其明徵。議清陰分之邪。仍以養正補之。</p>
<p>阿膠　小生地　麥冬　人參　小川連　烏梅肉</p>
<p>暑由上受。先入肺絡。日期漸多。氣分熱邪。逆傳入營。遂逼心胞絡中。神昏欲躁。舌短縮。手足牽引。乃暑熱深陷。謂之發痙。熱閉在裡。肢體反不發熱熱邪內閉則外脫。豈非至意。考古人方法。清絡熱必兼芳香。開里竅以清神識。若重藥攻邪。直走腸胃。與胞絡結閉。無干涉也。</p>
<p>犀角　鮮生地　連翹　鮮菖蒲　銀花　化至寶丹四丸</p>
<p>病已十餘日。身尚躁熱。舌苔黏膩。神呆目定。脈剛而數。煩躁囈語。此暑濕久伏。與時氣之穢邪凝合。釀成膠膩之痰。閉塞清明之府。神情迷昧。胃家濁液蒸遏不宣。藥食甘味。必蛔厥上冒。然內經有濕位之下。燥氣乘之。是以從之。濕轉為燥。若無濕痰之潮氣上蒸。舌苔早已燥剌矣。今先滋液。以清烈焰之燔。</p>
<p>鮮生地　麥冬　烏梅　蔗漿　銀花露　羚羊角　蚌水</p>
<p>又　面垢舌白。渴飲。氣短如喘。自利。是穢濁氣入口鼻。與水穀之氣互相混擾。濕氣阻塞。氤氳內蒸。三焦皆受。胸背肢節。有晦黯斑紋。穢與氣血膠固。心絡為邪熏灼。神昏囈語。手經蔓延疫邪。不與傷寒同例。法當芳香辟邪。參以解毒。必不為濕穢蒙閉。可免痙厥之害。</p>
<p>石菖蒲汁　白蔻仁　犀尖　小青皮　連翹心　金銀花　六一散　金汁　至寶丹</p>
<p>又　邪陷複利。傷及厥陰。症見氣上撞心。飢不能食。乾嘔腹痛。全是肝病見端。肝為至陰之藏。相火內寄。仲聖治法。不用純剛之劑。以肝為剛藏也。今正交土旺之時。木火為仇。五日內未為穩當。宜慎之。</p>
<p>人參　淡吳萸　當歸　白芍　秦皮　炒烏梅</p>
<p>今年七月。秋暑未除。初病頭痛身熱。是暑由上竅。傷及清陽。醫藥當辛涼取氣。同氣相求。中上之輕邪自散。無如辛溫苦寒清滋之類。雜然並投水穀內蒸。氤氳不解。見症仍在身半以上。軀殼之間。非關臟腑大病。第能蔬食十日。可解上焦之郁。</p>
<p>川芎　薄荷　荊芥炭　炒白芷　蔓荊子　菊花蒂　綠茶煎湯代水</p>
<p>中氣索虛。貪寒飲冷。遏伏暑濕之火。蘊於膻中。劫津耗液。盡從燥化。肺氣不能下輸。腸胃燥滿不行。下之。遂逼血下行。血既下奪。亦云竭矣。陰不配陽。汗不外泄。即為上厥。上厥下竭。肺經獨受燥累。急進清燥救肺湯。以回陰液。</p>
<p>枇杷葉　人參　麥冬　桑葉　阿膠　杏仁　生石膏　竹葉</p>

<h1>濕</h1>
<p>病起旬日。猶然頭脹。漸至耳聾。正如內經病能篇所云。因於濕首如裹。此呃忒鼻衄。皆邪混氣之象。況舌色帶白。咽喉欲閉。邪阻上竅。空虛之所。諒非苦寒直入胃中可以治病。病名濕溫。不能自解。即有昏痙之變。醫莫泛稱時氣而已。</p>
<p>連翹　牛蒡子　銀花　馬勃　射干　金汁</p>
<p>仲景云。小便不利者。為無血也。小便利者。血症諦也。此症是暑濕氣蒸。三焦瀰漫。以致神昏。乃諸竅阻塞之兆。至小腹硬滿。大便不下。全是濕鬱氣結。彼世醫猶然以滋味呆鈍滯藥。與氣分結邪相反極矣。議用甘露飲法。</p>
<p>豬苓　浙茯苓　寒水石　晚蠶砂　皂莢子</p>
<p>厥陰為病。必錯雜不一。瘧痢之後。肝臟必虛。發症。左脅有痞。腹中塊儡外堅。脅下每常汨汨有聲。惡虛就實。常有寒熱。胃中不知飢。而又𩞄雜吞酸。脈長而數。顯然厥陰陽明。濕熱下滲。前陰陽縮。而為濕熱症也。議用升發陽明胃氣。滲泄厥陰濕熱。其症自愈。</p>
<p>蒼朮　半夏　茯苓　橘紅　通草　當歸　柏子仁　沙蒺藜　川楝子　茴香</p>
<p>溫瘧初愈。驟進濁膩食物。濕聚熱蒸。蘊於經絡。寒戰熱熾。骨骱煩疼。舌起灰滯之色。面目痿黃色。顯然濕熱為痹。仲景謂濕家忌投發汗者。恐陽傷變病。蓋濕邪重著。汗之不卻。是苦味辛通為安耳。</p>
<p>防己　杏仁　滑石　醋炒半夏　連翹　山梔　苡仁　野赤豆皮</p>
<p>濕溫長夏最多。濕熱鬱蒸之氣。由口鼻而入。上焦先病。漸布中下。河間所謂三焦病也。治與風寒食積迥異。仲景云。濕家不可發汗。汗之則痙。濕本陰邪。其中人也則傷陽。汗則陽易泄越。而邪留不解。濕蒸熱鬱。發現為黃。熏蒸氣隧之間。正如罨曲之比。斯時病全在氣分。連翹赤小豆湯。可以奏效。今經一月。邪彌三焦。自耳前後。左腫及右。癰瘍大發。夫癰者壅也。不惟氣滯。血亦阻塞。蒸而為膿。穀食不思。陡然肉消殆盡。胃氣索然矣。商治之法。補則助壅。清則垂脫。前輩成法。一無可遵。因思濕熱穢濁。結於頭面清竅。議輕可去實之法。選芳香氣味。使胃無所苦。或者壅遏得宣。少進漿粥。便是進步。經云。從上病者。治其上。靈樞云。上焦如霧。非輕揚芳香之氣。何以開之。</p>
<p>青菊葉　荷葉邊　金銀花　象貝母　綠豆皮　馬兜鈴　連翹　射干　金汁</p>
<p>脈弦緩。面目肌膚皆黃。舌白滑膩。胸脘膈間脹閉。病名濕溫。由瀕海潮濕氣入口鼻。至募原分布三焦。此為外因。仍食水穀腥物。與外入穢濁之邪。兩相交混。濕甚熱鬱。三焦隧道。氣血不通。遂變黃色。發汗不愈者。濕家本有汗也。清熱消導不愈者。熱從濕中而起。濕不去。則熱不除也。夫濕邪無形質。攻滯乃有形治法。其不效宜矣。昔河間治濕熱。必取乎苦辛氣寒。蓋苦降以逐濕辛香以祛穢。寒取乎氣。藉氣行。不閉塞於內也。當世醫者混以傷寒表裡為治。殊不知穢濕氣入口鼻。遊行三焦。不與傷寒同治。</p>
<p>綿茵蔯　白豆蔻　厚朴　川通草　廣皮白　茯苓皮　半夏曲　塊滑石</p>
<p>雨濕地蒸潮穢經旬。人在氣交之中。口鼻吸受。從上內侵。頭脹脘悶。肉刺骨痛。蓋肺位最高。其氣主周身貫串。既被濕阻。氣不運通。濕甚生熱。汗出熱緩。少間再熱。凡風寒得汗解。濕邪不從汗解耳。仲景云。濕家不可發汗。汗之則痙。謂濕本陰晦之邪。其傷必先及陽。故汗下清降消導。與濕邪不相干涉也。濕也。熱也。皆氣也。能矇蔽周身之氣。原無有形質可攻。由上不為清理。漫延中下二焦。非比傷寒六經。自表傳裡相同。河間暢發此義。專以三焦宣通為法。明張司農亦以苦辛寒主治。總以氣分流利為主。氣通則濕解矣。今兩旬不愈。入暮昏厥。厥者逆亂之稱。以邪深入至陰之中。熱蒸上冒。致神明為邪所矇蔽矣。初濕邪下注。而大便為溏。今則氣窒結閉。而大便不通。古稱熱深厥深。又云。厥少熱多則病退。厥多熱少則病進。凡厥多隸厥陰也。</p>
<p>綠豆　野赤豆　馬料豆　地漿　珍珠　冰片</p>
<p>又　暑濕客氣由上受以行中道。未按經法。致三焦痞塞。逆亂為厥。厥屬邪深在陰。故取地漿重陰清熱。珠潛水底鹹寒。少佐冰片辛熱。能開熱痹。直走至陰。以冀厥止。究竟暑濕熱氣乃無質之邪。瀰漫胸臆。如煙霧繚繞。諸宗氣營氣無以展舒。焉有知味知飢。彼攻消峻克。能滌有形之邪滯。非濕結氣分之治也。昔軒岐云。病從上者治其上。且上焦如霧。藉輕揚可以去實。半月不更衣。斷勿攻下。皆氣窒使然。</p>
<p>川貝　米仁　兜鈴　白蔻　連翹　射干　通草</p>
<p>中年沖氣。痰升喘急。隨發隨止。從肝腎本病治。固是地黃飲子。用意在濁藥輕投。勿以味厚凝滯痰氣。但以質能引導至下。變飲為丸。純是濁藥柔溫。若歸脾湯。甘溫守中。養脾之營。更與痰飲沖逆相背。自七月間反復。必有暑濕客氣。從呼吸而受。據述肌膚間發丹疹。浮腫甚速。腠膜映紅。若但內症。未必有此。思夏秋口鼻受氣。上焦先傷。與肝腎本病兩途。上焦失解。理必漫延中下。而三焦皆為病藪矣。此脹在乎脈絡。不在腑腸。水穀無礙者緣此。況久病大虛。溫補不受。必當推其至理。伏邪引動宿病。仲景論必先理其邪。且口渴便實。豈溫熱相宜。自言懷抱鬱結。相火內寄肝膽。如莖腫囊縱。濕壅水漬。勉以三焦氣分宣通方。仿古二虛一實。偏治其實。開其一面也。</p>
<p>飛滑石　杏仁　茯苓皮　厚朴　豬苓　通草　白蔻仁</p>
<p>望色。萎瘁晦黯。聞聲。呼吸不利。語音若在甕中。診脈右緩左急。問初病忽熱忽溫。頭中如裹。腰痛欲拊捫。神識呆鈍。昏昏欲寐。肢節瘛痙。咳痰映紅。溺溲短縮。便溏帶血。不飢不渴。環口微腫。唇乾不紅。舌白糜腐。此水穀酒腥濕熱相併鬱蒸。阻撓清氣之遊行。致周身氣機。皆令痹塞。夫熱邪濕邪皆氣也。由募原分布三焦營衛。循環升降。清濁失司。邪屬無形。先著氣分。時師橫議表邪宜汗。里滯宜消。見熱投涼。殊不知熱由濕鬱。氣行熱走。仲景於痙暍從濕化忌汗忌下。明示後人勿傷陰陽耳。但無形之邪。久延必致有形。由氣入血。一定理也。據色脈症參之。未見或可採用。</p>
<p>羚羊角　茵蔯　銀花　連翹　通草　大腹皮　茯苓皮　豬苓　澤瀉　至寶丹</p>

<h1>黃疸</h1>
<p>心下痛。年餘屢發。痛緩能食。漸漸目黃溺赤。此絡脈中凝瘀蘊熱。與水穀之氣。交蒸所致。若攻之過急。必變脹滿。此溫燥須忌。議用河間金鈴子散。合無擇穀芽枳實小柴胡湯法。</p>
<p>金鈴子　延胡　枳實　柴胡　半夏　黃芩　黑山梔　穀芽</p>
<p>述初病似瘧。乃夏暑先伏。秋涼繼受。因不慎食物。胃脘氣滯。生熱內蒸。變現黃疸。乃五疸中之谷疸也。溺黃便秘。當宣腑濕熱。但不宜下。恐犯太陰變脹。</p>
<p>綿茵蔯　茯苓皮　白蔻仁　枳實皮　杏仁　桔梗　花粉</p>
<p>面目悉黃。微見黑滯。煩渴腹滿。左脈弦數。右脈空大。此內傷發黃。為厥陰肝木太陰脾土二臟交傷之候也。夫肝為風臟。其性喜伸而惡屈。鬱則木不得伸而屈矣。鬱極則其氣盛而風乃發。風發必挾其勢以賊脾。脾為濕土之司。土受克而氣不行。則濕勝矣。風性雖善行。遇濕以留之。反壅滯經絡而不解。由是濕停陽瘀而煩渴有加。其發黃也必矣。雖曰風濕所致。實由木亢而不寧。土困而不舒。非外來風濕之比。況黑色見於面。則知並傷其腎。以脾病不行。胃中谷氣入腎。反將脾中濁氣下流。故於黃中見黑滯耳。即其腹滿。亦是中氣不行。虛熱內壅。非結熱當下之比。若誤下之。則藏氣空虛。風從內生矣。若誤汗之。則陽氣外解。濕愈不能行矣。為商治法。平肝之亢。扶土之虛。兼解鬱熱以清氣道。除濕蒸而和中氣。</p>
<p>人參　白朮　白芍　黃連　山梔　歸身　丹皮　茵蔯　秦艽　柴胡　甘草　半夏</p>

<h1>瘧疾</h1>
<p>瘧疾停藥。日有向愈之機。胃困則痞閉。不欲食。今雖未加餐。已知甘美。皆醒之漸也。童真無下虛之理。溲溺欲出。尿管必痛。良由胃津肺汁。因苦辛燥熱烈氣味。劫奪枯槁。腸中無以運行。庸醫睹此。必以分利。所謂泉源既竭。當滋其化源。九竅不和。都屬胃病。</p>
<p>麥門冬　甜水梨皮　甜杏仁　蔗漿</p>
<p>脈數。目眥黃。舌心乾白黃胎。口中黏膩。脘中痞悶。不思納穀。由於途次暑風客邪內侵。募原營衛不和。致發瘧疾。夫暑必兼濕。濕也。熱也。皆氣也。氣與邪博。則清濁交混。升降自阻。古稱濕遏必熱自生矣。聖帝論病。本乎四氣。其論藥方推氣味。理必苦降辛通。斯熱氣痞結可開。消導攻滯。香燥泄氣。置暑熱致病之因於不治。不識何解。</p>
<p>川連　黃芩　花粉　桔梗　白蔻仁　鬱金　橘紅　六一散</p>
<p>寒來喜飲熱湯。發熱後反不渴。間瘧已四十日。今雖止。不飢不思食。五味入口皆變。初病舌白乾嘔。濕邪中於太陰。脾絡濕鬱氣滯。喜熱飲。暫通其鬱。邪蒸。濕中生熱。六腑熱灼。津不運行。至大便硬秘。此為氣濕痹結。當薄味緩調。今氣分清肅。與脾約似同。但仲景氣血兼治。此病卻專傷氣分。</p>
<p>炒黃半夏　生益智仁　綿茵蔯　廣皮　厚朴　茯苓</p>
<p>濕熱與水穀交蒸。全在氣分。嘗稱三焦。分消清解。既成間日瘧疾。邪正互爭。原無大害。初誤於混指傷寒六經。再謬於參朮守補。致邪瀰漫。神昏喘急。妄譫痙搐。皆邪無出路。內閉則外脫。求其協熱下利。已不可得。診脈細澀。按腹膨滿。夫脾滿屬氣。燥實在血。今洞利後。而加腹滿。諸氣皆結。豈須閉塞而然。潰敗決裂至此。難望挽救。</p>
<p>細葉菖蒲根汁　草果仁　茯苓皮　紫厚朴　綿茵蔯　辰砂益元散　連翹心　金銀花　牛黃丸</p>
<p>脈小澀。病起瘧後。食物不和。仍誦讀煩勞。遂至左脅連及少腹。常有厥氣。或攻胃脘。或聚腹中。凝著䐜脹。古語云。脹不離乎肝膽。亦猶咳不離乎肺也。蓋肝得邪助。木勢張揚。中土必然受侮。本氣自怯。運納之權自滅。清陽既少展舒。濁陰日踞。漸為痞滿。上年溫養。辛甘久進。未見病去。其治體之法。諒不能卻。自述靜處病加。煩動小安。其為氣血久阻為郁。議用通絡法。以病根由瘧久。邪留絡中耳。</p>
<p>紫降香　桃仁　小香附　淡姜渣　神麯　雞肫皮　南山楂　韭根汁泛丸</p>
<p>前議勞傷陽氣。當知內損邪陷之理。凡女人天癸既絕之後。其陰經空乏。豈但營衛造偏之寒熱而已。故溫脾胃。及露姜治中宮營虛。但畏寒不知熱。為牝瘧。蓋牝為陰。身體重著。亦是陰象。此辛甘理陽。鹿茸自督脈以煦提。非比姜附但走氣分之剛暴。驅邪益虛。卻在營分。難經曰陽維脈。為病發寒熱也。</p>
<p>鹿茸　鹿角霜　人參　當歸　潯桂　茯苓　炙草</p>
<p>暑傷氣分。上焦先受。河間法至精至妙。後醫未讀其書。焉能治病臻效。邪深則瘧來日遲。氣結必胸中混悶如痞。無形之熱。漸蒸有形之痰。此消導發散。都是劫津。無能去邪矣。</p>
<p>石膏　杏仁　半夏　厚朴　知母　竹葉</p>
<p>脈沉舌白呃忒。時時煩躁。向系陽虛痰飲。瘧發三次即止。此邪窒不能宣越。並非邪去病解。今已變病陰冱。痰濁阻塞於中。致上下氣機。不相維續。症勢險篤。舍通陽一法。無方可擬。必得中陽流運。瘧症復作。庶有愈機。</p>
<p>淡附子　生草果仁　生白芍　茯苓　生厚朴　薑汁</p>
<p>伏暑冒涼。發瘧。以羌防蘇蔥辛溫大汗。汗多衛陽大傷。胃津亦被劫干。致渴飲。心煩。無寐。診脈左弱右促目微黃。嗜酒必中虛谷少。易於聚濕蘊熱。勿謂陽傷驟補。仿內經辛散太過。當食甘以緩之。</p>
<p>大麥仁　炙草　炒麥冬　生白芍　茯神　南棗</p>
<p>瘧邪田四末以擾中。皆陽明厥陰界域。陽明衰。則厥陰來乘。津液少。斯內風必動。昔賢以瘧屬氣虛。本是濕痰敗血。今戌亥頻熱。行走淋汗。顯然液虛陽動風生。脂液不得灌溉肢末。非濕痰氣分之恙。</p>
<p>冬桑葉　熟首烏　黑芝麻　柏子仁　茯神　當歸　杞子　菊花炭　蜜丸</p>
<p>瘧已復瘧。溺濁淋痛。稚年脾瘧。食物不慎。色黃。腹膨。有滯。脾胃愈衰。東垣云。中氣不足。溲便為變。初秋交冬。迭加反復。久則五疳癆瘵。當慎於食物。令脾胃氣靈可效。宗脾胃論升降疏補法。</p>
<p>人參　茯苓　炙草　廣皮　使君子　神麯　楂肉　麥芽　澤瀉</p>
<p>閩產陽氣偏泄。今年久熱傷元。初瘧發散。不能去病。便是再劫胃陽。致邪入厥陰。昏冒大汗。思肝腎同屬下焦。厥陽挾內風冒厥。吐涎沫膠痰。陽明胃中。以寒熱戕擾。空虛若谷。風自內生。閱醫藥不分經辨症。但以稱虛道實。宜乎鮮有厥效。但用仲景安胃泄肝一法。</p>
<p>人參　川椒　烏梅　附子　乾薑　桂枝　川連　生牡蠣　生白芍</p>
<p>舌白不大渴。寒戰後熱。神躁欲昏。而心胸飽悶更甚。瘧系客邪。先由四肢以擾中宮。痰涎嘔逆。顯是肺胃體虛。邪聚閉塞不通。故神昏煩躁。鬱蒸汗泄。得以暫解。營衛之邪未清。寒熱漫延無已。此和補未必中竅。按經設法為宜。</p>
<p>白蔻仁　大杏仁　焦半夏　薑汁　黃芩　淡竹葉</p>
<p>脈微弱而細。鼻準獨明。晝日形冷汗泄。不飢少納。脘腹常痞。泄氣自舒。此陽氣失護衛。而寒慄汗出。陽失鼓運。而脾胃氣鈍。前進養營。亦主中宮。想因血藥柔耎。陽不驟蘇。初進甚投。接用則力疲矣。詢其不喜飲湯。舌頗明潤。非邪結客熱之比。議用理中湯法。專以脾胃陽氣是理。不獨治病。兼可轉運日前之藥昔賢以瘧稱為脾寒。重培生陽。使中州默運。實治法之要旨。</p>
<p>人參　生芍　白朮　附子　茯苓　乾薑</p>
<p>瘧有十二經。然不離少陽厥陰。此論客邪之傷。若挾怫鬱嗔怒。致厥陽肝氣橫逆。其勢必銳。經言肝脈貫膈入胃。上循喉嚨。而瘧邪亦由四末擾中。故不飢不食。胃受困也。夫治病先分氣血。久發頻發之恙。必傷及絡。絡乃聚血之所。久病必瘀閉。香燥破血。凝滯滋血。皆是症之禁忌也。切宜凜之。</p>
<p>青蒿　生鱉甲　炒桃仁　當歸尾　鬱金　橘紅　茯苓</p>
<p>瘧後耳竅流膿。是竅閉失聰。留邪與氣血。混為扭結。七八年之久。清散不能速效。當忌葷酒濁味。臥時服茶調散一錢。患耳中。以甘遂削尖。插入耳內。銜甘草半寸許。兩年前晨泄。食入嘔吐。此非有年體質之脾腎虛瀉。可以二神四神治也。蓋幼衝陽虛。百中僅一耳。今瀉泄仍然。寒熱咳嗽失血。月事不來。脈得弦數。形色消奪。全是沖年陰不生長。勞怯大著。無見病治病之理。保其胃口。以冀經通。務以情懷開爽為要。勿恃醫藥卻病。</p>
<p>熟地炭　炒當歸　炙甘草　炒白芍　淡黃芩　烏梅肉　黑楂肉</p>

<h1>痢</h1>
<p>痢將兩月。目微黃。舌白口乾唇燥赤。腹滿。按之軟。竟日小便不通。病者自述肛門窒塞。努掙不已。僅得迸出黏積點滴。若有稀糞。自必傾腸而多。思夏秋間暑濕內著為痢。軒岐稱曰滯下。謂滯著氣血。不獨食滯一因。凡六腑屬陽。以通為用。五臟為陰。藏蓄為體。先瀉後痢。脾傳腎則逆。即土剋水意。然必究其何以傳克之由。蓋伏邪垢滯。從中不清。因而下注矣。遷延日久。正氣因虛。仲景論列三陰。至太陰篇中。始挈出腹滿字樣。脾為柔臟。惟剛藥可以宣揚驅濁。但今二腸窒痹。氣不流行。理中等法。決難通腑。考內經二虛一實者治其實。開其一面也。然必溫其陽。佐以導氣逐滯。欲圖扭轉機關。舍此更無他法。</p>
<p>製附子　生厚朴　木香　製大黃　炒黑大茴</p>
<p>舌白渴不欲飲。心腹熱。每痢必痛。肛墜。痢又不爽。微嘔有痰。口味有變。頭中空痛。兩頰皆赤。此穀氣蒸濕。熱鬱於腸胃。清濁交混。忽加煩躁。難鳴苦況。法當苦寒泄熱。辛香流氣。滲泄利濕。蓋積滯有形。濕與熱本無形質耳。</p>
<p>川連　黃芩　鬱金　厚朴　豬苓　槐米　秦皮</p>
<p>夏秋痢疾。固是濕熱傷氣。脾胃氣滯。後重裡急不爽。古方香連丸。取其清裡熱。必佐理氣。謂氣行斯濕熱積聚。無容留矣。知母生地。滋陰除熱。治陰分陽亢之火。與痢門濕熱大異。蓋滋則呆滯。氣鈍窒塞。宜乎欲便不出。究竟濕熱留邪仍在。附桂熱燥。又致肛墜。痛如刀割。理中益氣。東垣成法。僅僅升舉下焦清陽。未能直透腸中。再用大黃重藥。兼知母生地等味。更令傷及下焦。書義謂諸痢久都屬腎傷。小腹墜忌冷。顯然是下症。議用升陽。亦須下治。</p>
<p>人參　茯苓　澤瀉　炙草　防風根　羌活　細辛　生薑　大棗</p>
<p>暑必挾濕。傷在氣分。古稱滯下。此滯字非停滯飲食。言暑濕內侵。腑中流行阻遏而為滯矣。消導升舉溫補。暑邪無有出路。胸痞不飢不食。黏膩未已。而肛門沉墜里結。三焦皆受邪蒸。上下渾如兩截。延為休息痢疾。纏綿展轉。豈旦晚驟愈之病。</p>
<p>淡乾薑　生薑　小川連　人參　枳實</p>
<p>瀉痢兩月。肢高浮腫。高年自屬虛象。但胸脘痞悶。納穀噁心。每利必先腹痛。是夏秋暑熱鬱滯於中。虛體挾邪。焉有補澀可去邪扶正之理。恐交節令變症。明是棘手重症矣。</p>
<p>人參　茯苓　川連　淡乾薑　生白芍　枳實</p>
<p>脈右數左細數。面垢舌燥。白苔點點。肌膚甲錯。左脅動氣。伏暑當秋涼而發。初病如瘧。當從苦辛寒法。里邪熾烈。變為下痢。胃津液劫。陰液大耗。昔賢於熱病受涸。急以救陰為務。苟胃關得蘇。漸以冀安。否則犯喻氏所指客邪內陷。液枯致危之戒矣。</p>
<p>人參　生地　烏梅　炙草　麥冬　木瓜</p>
<p>瀉痢起於長夏。醫謂時令濕熱。胃苓湯芩芍法。固非謬訛。因高年腎陽肝陰先虧。使客氣內擾。阻遏中流。乏砥柱坐鎮。致狂瀾滔天耳。病經兩旬不減。重陰無陽。驗諸神識甚清。其外邪為少。而內損為多。八脈無權。下無收攝。漏卮不已。理必生陽泄。下焦冷。此皆陰陽二氣絕微。治病則夯。治本則宜。非置之不理。實究天人而已。</p>
<p>人參　鹿茸　炒黑當歸　生杜仲　生沙苑　茯苓</p>
<p>初起無寒熱。即瀉痢嘔惡不食。乃噤口痢重病。夫暑邪之傷。由口鼻吸氣而入。邪與水穀交混。蒸變濕熱。釀為積滯膿血。腸胃氣窒。欲解不能通爽。遂致裡急後重。香連苦辛。理氣導濕清熱。初用頗是。皆緣勞碌之人。非膏粱溫養之質。淡薄積勞。中氣易傷。四十日來。積少痛緩。醫稱病解。而食不下咽。不知飢飽。診得脈弦形衰。舌白。不渴飲水。日瀉數行。全是胃倒氣奪。中宮損極。下關不攝。谷不能咽。焉能承受湯藥。藥味氣劣。胃衰必惡。久痢久瀉。務在能食。古人非醒脾胃。即安腎攝納。再詢粉漿下咽。或嗆或噎。議以上脘宜通其清陽。下焦當固其滑脫。仿古方中參苓白朮散末。當以米飲日服二次。間以不膩滑之物。食些少勿多。以示胃之所喜為補。必須胃氣漸蘇。方可轉危為安。</p>
<p>人參　焦術　茯苓　炙草　炒扁豆　苡仁　桔梗　砂仁　炮薑炭　肉豆蔻</p>
<p>邪陷瘧後變痢。傷及厥陰。症見氣上撞心。飢不能食。乾嘔腹痛。全是肝病。肝為至陰之臟。相火內寄。仲景治法。不用純剛燥熱之藥。以肝為剛臟故也。今正交土㮁。土木為讎。五日內未為穩當。</p>
<p>人參　炒當歸　炒白芍　炒烏梅肉　茯苓　淡吳萸　生香附汁　真北秦皮</p>
<p>當年痢久。用三神丸得效。是脾腎兩困。兼由氣分之滯。體質陽虛。遇冷病加。今病起長夏。小水不通。必系夏熱阻其宣化。久則氣血凝著。而為腸紅。先與桂苓甘露飲。分消其濕。</p>
<p>於術　茯苓　豬苓　澤瀉　滑石　桂心</p>

<h1>泄瀉</h1>
<p>平素操持積勞。五志之火易燃。上則鼻竅堵塞。下有肛痔漏紅。冬春溫邪是陽氣發越。邪氣乘虛內伏。夫所伏之邪。非比暴感發散可解。況兼勞倦內傷之體。病經九十日來。足跗日腫。大便日行五六次。其形黏滯。其色黃赤紫膩。小便不利。必隨大便而稍通。此腎關樞機已廢。二腸陽腑失司。所進水穀脾胃。不主運行。釀濕墜下。轉為瘀腐之形。正當土旺。入夏脾胃主氣。此濕氣內淫。由乎脾腎日傷。不得明理之醫。一誤再誤。必致變現腹滿矣。夫左脈之緩澀。是久病陰陽之損。是合理也。而右脈弦大。豈是有餘形質之滯。即仲景所云。弦為胃減。大則病進。亦由陽明脈絡漸弛。腫自下而上之義。守中治中。有妨食滋滿之弊。大旨中宜運通。下宜分利。必得小溲自利。腑氣開闔。始有轉機。若再綿延月餘。夏至陰生。便難力挽矣。</p>
<p>四苓加椒目　厚朴　益智　廣皮白</p>
<p>三瘧劫截不效。必是陰臟受病。衄血熱渴。食入不化。痛瀉。二者相反。思病延已久。食物無忌。病中勉強進食。不能充長精神。即為滯濁阻痹。先以脹瀉調理。不必以瘧相混。</p>
<p>草果　厚朴　陳皮　木香　茯苓皮　大腹皮　豬苓　澤瀉</p>
<p>經營勞心。納食違時。飢飽勞傷。脾胃受病。脾失運化。夜屬陰晦。至天明洞瀉黏膩。食物不喜。脾弱惡食柔濁之味。五苓通膀胱。分泄濕氣。已走前陰之竅。用之小效。東垣謂中氣不足。溲便為變。陽不運行。濕多成五泄矣。</p>
<p>人參　生白朮　茯苓　炙草　炮姜　肉桂</p>
<p>脈沉緩。肌肉豐盛。是水土稟質。陽氣少於運行。水穀聚濕。布及經絡。下焦每有重著病痛。食稍不運。便易泄瀉。經水色淡。水濕交混。總以太陰脾臟。調理若不中竅。恐防脹病。</p>
<p>人參　茯苓　白朮　炙草　廣皮　羌活　獨活　防風　澤瀉</p>
<p>晨泄難忍。臨晚稍可寧安。易飢善食。仍不易消磨。其故在乎脾胃陰陽不和也。讀東坦脾胃論。謂脾宜升則健。胃而降則和。援引升降為法。</p>
<p>人參　生於術　炮附子　炙草　炒歸身　炒白芍　地榆炭　煨葛根　煨升麻　炮姜灰</p>
<p>能食不化。腹痛泄瀉。若風冷外乘。肌肉著冷。其病頃刻即至。上年用膏石安腎丸。初服相投。兩旬不效。知是病在中焦。不必固下矣。自述行走數十里。未覺衰倦。痛處繞臍。議用治中法。足太陰。陽明主治。</p>
<p>生於術　生茅朮　生益智　淡乾薑　胡蘆巴　茯苓　木瓜　蓽茇</p>

<h1>便閉</h1>
<p>脾宜升則健。胃宜降則和。蓋太陰之土。得陽始運。陽明之土。得陰自安。以脾喜剛燥。胃喜柔潤。仲景急下存津。治在胃也。東垣大升陽氣。治在脾也今能食不運。醫家悉指脾弱是病。但診脈較諸冬春。盛大兼弦。據經論病。獨大獨小。斯為病脈。脾臟屬陰。胃肺屬陽。脈見弦大。非臟陰見病之象。久病少餐。猶勉強支撐。兼以大便窒塞。泄氣不爽。坐談片刻。噯氣頻頻。平素痔瘡腸紅。未嘗安適。此脈症全是胃氣不降。腸中不通。腑失傳導變化之司。古人云。九竅不和。都屬胃病六腑為病以通為補。經年調攝。不越參朮桂附。而毫乏應效。不必再進湯藥。議仿丹溪小溫中丸。服至七日。俾三陰三陽一周。再議治之。</p>
<p>小溫中丸</p>
<p>湯食下咽。噯噫不已。不飢不食。大便乾堅若彈丸。大凡受納飲食。全在胃口。已經胃逆為病。加以嗔怒。其肝木之氣。貫膈犯胃。斯病加劇。況平昔常似有形骨梗脈得左部弦實。氣鬱血結甚肖。進商辛潤方法。</p>
<p>桃仁　冬葵子　皂莢核　郁李仁　大黃　降香　鬱金</p>
<p>服鹹苦入陰。大便仍閉澀。針剌一次。病無增減。可謂沉錮之疾。夫病著深遠。平素飲酒厚味釀濕聚熱。漬筋爍骨。既已經年不拔。區區湯液焉能通逐議以大苦寒堅陰燥濕方法。參入酒醴引導。亦同氣相求之至理。</p>
<p>黃柏　茅朮　生大黃　乾地龍　金毛狗脊　川連　萆薢　晚蠶砂　穿山甲　漢防已　仙靈脾　海金沙　川獨活　北細辛　油松節　白茄根　黃酒燒酒各半浸七日</p>
<p>陽明脈大。環跳尻骨筋掣而痛。痛甚足筋皆縮。大便燥艱常秘。此老年血枯。內燥風生。由春升上僭。下失滋養。昔喻氏上燥治肺。下燥治肝。蓋肝風木橫。胃土必衰。陽明諸脈。不主束筋骨。流利機關也。用微咸微苦。以入陰方法。</p>
<p>鮮生地　阿膠　天冬　人中白　川斛　寒水石</p>
<p>肝血腎液久傷。陽不潛伏。頻年不愈。傷延脾腑。由陰乾及乎陽。越人且畏。凡肝體剛。腎惡燥。問大便五六日更衣。小溲時間淋濁。尤非呆滯補澀所宜。</p>
<p>炒杞子　沙苑　天冬　桂拌酒白芍　茯苓　豬脊筋</p>
<p>少腹微脹。小便通利方安。大便三四日一通。而燥堅殊甚。下焦諸病。須推肝腎。腑絡必究幽門二腸。閱所服藥。是香砂六君以治脾。不知腎惡燥耳。</p>
<p>當歸　蓯蓉　郁李仁　冬葵子　牛膝　小茴　茯苓　車前　蜜丸</p>

<h1>五竅</h1>
<p>先起咳嗽。繼而耳聤脹痛。延綿百日不愈。此體質陰虛。觸入風溫。未經清理外因。傷及陰分。少陽相火陡起。故入暮厥痛愈劇。當先清降。再議育陰。</p>
<p>苦丁茶　鮮菊葉　金銀花　生綠豆皮　川貝母　鮮荷葉梗　益元散</p>
<p>因大聲喊叫。至右耳失聰。想外觸驚氣。內應肝膽。膽脈絡耳。震動其火風之威。亦能鬱而阻竅。治在少陽。忌食腥濁</p>
<p>青蒿葉　青菊葉　薄荷梗　連翹　鮮荷葉汁　苦丁茶</p>
<p>腎開竅於耳。心亦寄竅於耳。心腎兩虧。肝陽亢逆。故陰精走泄。陽不內依。是以耳鳴時閉。但病在心腎。其原實由於郁。鬱則膽陽獨亢。令肝火上炎。清晨服丸藥以補心腎。午服湯藥以清少陽。以膽經亦絡於耳也。</p>
<p>水煮熟地　麥冬　龜板　牡蠣　白芍　北味　建蓮　磁石　茯神　沉香　辰砂　丸服</p>
<p>夏枯草　丹皮　生地　山梔　女貞子　赤苓　生甘草　煎服</p>
<p>腎竅開耳。膽絡脈亦附於耳。凡本虛失聰。治在腎。邪干竅閉。治在膽。乃定例也。今年已六旬。脈形細數。皆是腎陰久虧。肝陽內風上旋蒙竅。五行有聲。多動真氣火風。然非苦寒直降可效。填陰重鎮。滋水制木。佐以鹹味入陰酸以和陽。藥理當如是議。</p>
<p>熟地　龜板　鎖陽　牛膝　遠志　茯神　磁石　秋石　吳萸　五味</p>
<p>高年。目暗已久。血絡空虛。氣熱乘其空隙。攻觸脈絡。液盡而痛。當夜而甚。乃熱氣由陰而上。想外科用酒調末藥。必系溫散攻堅。因此而痛。虛症可知。</p>
<p>羚羊角　連翹心　夏枯草　青菊葉　全當歸　川桂枝　丹皮</p>
<p>頭面諸竅。皆清陽遊行之所。邪處於中。則為堵塞。陽氣不司流行。必畏寒形頹。內痹必鬱而成熱。有鼻柱鼽衄矣。論理當用通聖散。遠處江外。倉猝就診。不可輕投。用輕可去實。</p>
<p>苦丁茶　乾荷葉邊　蔓荊子　連翹心　飛滑石　白芷</p>
<p>素有痰火氣逆。春令地中陽升。木火化風。上引巔頂。腦熱由清竅以泄越。耳鳴鼻淵。甚於左者。春應肝膽。氣火自左而升也。宜清熱散郁。辛涼達於頭而主治。</p>
<p>羚羊角　黑山梔　苦丁茶　青菊葉　飛滑石　夏枯草花</p>
<p>性情躁急。陽動太過。氣火上升。鬱於隧竅。由春深加病。失其調達之性。經言。春氣病在頭也。考五行六氣。迅速變化。莫若火風。腦熱暗泄。而為鼻淵。隧道失和。結成癭核。夫東垣升陽散火。丹溪總治諸郁。咸取苦辛為法。然藥乃片時之效。得能久安。以怡悅心志為要旨耳。</p>
<p>連翹心　土貝母　海藻　昆布　黑山梔　川芎　小生香附　鬱金　羚羊角　夏枯草　乾荷葉邊　青菊葉汁泛丸苦丁茶煎湯送</p>
<p>形瘦尖長。稟乎木火。陰精不足。腦髓不固。鼻淵淋下。並不腥穢。暖天稍止。遇冷更甚。其為虛證。顯然明白。醫者愈以風寒中腦主治。發散滲泄。愈耗正氣。豈但難愈。勞怯是憂。用天真丸。</p>
<p>人參　黃耆　白朮　山藥　蓯蓉　當歸　天冬　羊肉</p>
<p>咽喉痛痹。發時如有物阻隔。甚至痛連心下。每晚加劇。是陰液日枯。肝臟厥陽化火風上灼。法以柔劑。仿甘以緩其急耳。</p>
<p>細生地　天冬　阿膠　生雞子黃　元參心　糯稻根鬚</p>
<p>陰涸於下。陽熾於上。為少陰喉痛。乃損怯之末傳矣。用豬膚甘涼益坎。有情之屬而效。今肉腠消爍殆盡。下焦易冷。髓空極矣。何暇以痰嗽為理。議滑澀之補。味鹹入腎可也。</p>
<p>牛骨髓　羊骨髓　豬骨髓　麋角膠　建蓮肉　山藥　芡實　搗丸</p>
