<header data-type="book">
<h1>醫學傳燈</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳歧</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1700">公元1700年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第六冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521056">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>自敘</h1>
<p>醫者意也。以我之意。揣病之情。始終洞悉。然後可以為醫。但天下之意有有本之意。有無本之意。無本者師心自用。未嘗有所聞見。妄而不可為訓也。有本者得之師資。鑑之往昔。論一症。訂一方。皆有上下千古之識。不敢以己意為臆逆也。然而幾此亦甚難矣。晉朝以前。司是術者。類皆縉紳先生。苦心濟世。精言微論。卓有可觀。後世用為餬口之術。文人學士。概不與焉。脈理方論。已自不工。而又當兵火之後。醫經殘缺。湊合成書。其中雖有可採之說。精奧難解。不可從者十之六七。若非臨症參考。將何去而何從乎。予不敏忝生名閥。當以書香為急。不幸稚年失怙。疊罹水患。不能沉心於舉業。一生虛度。何以告無罪於祖宗。然而擇術於醫。固為溫飽之計。而刪述纂修之功。固當亦有責焉。於是訪投明師。講習數年。其所獲者。醫學之規矩已耳。法律已耳。臨症不無少隔。因思孟子有云。大匠誨人。能與人規矩。不能使人巧。孔子曰。吾道一以貫之。是知學道之功。始而求其中規，繼而求其能貫也。然中規之學在乎師。而能貫之功則在乎我。不博無以為約。不約無以為貫。遍覽群書。上而神農軒岐。張朱李劉。下而醫統準繩。薛氏之十六種。以及指掌醫鑑。無不細加詳閱。究之相同者多。互異者少。宜遵者不過約略數言。纂集成編。儘可塞責。其中隱而未發之義。因此悟彼之妙。猶未之知也。先輩云。熟讀王叔和。不如見症多。三十年來。閱歷既煩。有一症。必有一症之理。以理思症以症合理。方敢下手調治。又於今醫之中。一長可取者。虛心訪問。一一筆諸笥中。悠而遊焉。漸積而久焉。古今之妙義。始得融會於吾心。不揣庸陋。妄蹈作述之咎。更訂十數餘次。苦志成書。將古今奧妙。深入而淺出。言近而指遠。高才視之。鮮不以為迂。然而病機之源流。治法之初終。俱莫遁乎是矣。非敢曰醫囊無底。可於是集而大備也。但理路既明。由此擴而充之。其入於精微之地。豈有他哉。予之氣稟甚怯。天鑑下民。加我數年。再將傷寒女科素難本草終其註釋之事。則天祖之生我不虛耳。斯道之行廢。又何足論乎。時</p>
<p><u>康熙庚辰菊月尚友齋陳岐德求氏自識</u></p>

<h1>卷上</h1>

<h2>脾胃</h2>
<p>人之有脾胃。猶地之有土也。萬物生化於土。而人之五臟六腑。大經小絡。以及皮肉筋骨。無不資生於脾胃。一身之要物也。蓋命門真火。乃父之精氣。附於兩腎之間。未有此身。先有此氣。出於天成。不假人為。所以謂之先天。若夫脾胃之氣。飲食五味。變生五氣。以奉生身。全藉人為。後天之氣也。飲食雖能養人。亦能害人。欲求長生者。全要飲食節制。為卻病之良方。飲食之所以養人者。原取其氣。不取其味。因穀味甘淡。故假五味以引之。然亦不可偏嗜。辛味歸肺。肺盛則金來剋木。肝血不生。甘味歸脾。脾盛則土來剋水。腎精消散。苦味歸心。心盛則火來剋金。肺氣虛耗。酸味歸肝。肝盛則木來剋土。脾氣虧損。鹹味歸腎。腎盛則水來剋火。心血不足。今人烹炮一物。必備五味。全是不欲偏勝之意。惟腎水多有不足。故咸物獨多。然亦不可偏勝也。（云來按若味過於辛且能傷肺耗氣損陰味過於甘且能壅氣生痰滿中味過於苦且能傷脾胃而動燥火味過於酸且能攣筋槁骨枯肌傷肺味過於咸且能傷血損肺再評此按發原本所未發）每日飯食。只宜八分。不可儘量。凡遇外有茶水。家食即當減去一次。每見恣意飲食之人。非不節制。一至食當其前。不覺食指之欲動。此嗜欲之性。人所不自禁者也。吾輩終歲用藥。補益者少。消導者不計其數。寧非嗜欲之自戕乎。日進飲食。必須碎咬細齧。徐徐嚥下。方不傷脾。食後慢行百步。用手搓磨其腹。庶幾飲食可消。最忌食後就寢。耳無所聞。脾即不磨。肺氣又不為之四布。惟有鬱結成病而已。至於夜食尤當屏絕。自平旦以至日中。胃氣行陽。二十五度。飲食易消。日中以至合夜。胃氣行陰。二十五度。飲食難消。釋教過午不食。其亦衛生之大則歟。更有病後虛人。元氣未復。脾氣不能勝穀氣。只須白粥調理。扶助元氣。肥甘硬物。不但不能消化。且增其病。不可不察也。平日調理丸藥。宜用滋陰健脾丸。蓋腎主藏精。其所以生精生血者。全賴飲食生化。而輸歸於腎。脾胃一強。精血自足。張潔古云。補腎不如補脾。旨哉言乎。六味地黃丸一方。其性孤陰。但可降火。不能生精。苟非陰虛有火者。必以健脾為主治也。脾胃雖能化物。而其所以化物者。實是下焦水火二氣。命門火衰。釜底無薪。其何能熟。古方理中湯八味地黃丸。皆知補火以生土也。至若水虧不能化物者。諸書毫未之及。腎司五液。入脾為涎。腎家陰虛有火。津液不足。脾土乾燥。健運何施。予用歸芍門冬。加入楂曲等藥。無不應也。然脾胃雖為要物。而先天命門。又為一身之至寶。節房欲。慎勞苦。戒遠行。其亦保養先天之一法歟。</p>
<p><u>滋陰健脾丸</u></p>
<p>人參（二兩）　麥冬（三兩）　五味（一兩）　白朮（三兩）　白茯（二兩）　甘草（一兩）　山藥（三兩）　石斛（一兩）　陳皮（一兩）　山楂（三兩）</p>
<p>古方健脾丸。乃純陽之品。脾虛有寒者宜之。若中宮有火。不能化物者。此方極妙。</p>
<p><u>益氣健脾湯</u></p>
<p>人參　白朮　白茯　甘草　陳皮　半夏　山楂　神麯　苡仁　澤瀉</p>
<p>正氣虛。飲食少。當以補藥為君。消食為佐。若飲食多者。又以消食為君。補藥為佐也。症非泄瀉下痢。宜加當歸。氣虛甚者。加黃耆炮姜。滯重者加厚朴。</p>
<p><u>養血健脾湯</u></p>
<p>當歸　白芍　麥冬　山楂　神麯　陳皮　澤瀉　白茯　苡仁　桔梗</p>
<p>滯重加厚朴</p>
<p>（新增）　戊癸湯</p>
<p>破故紙　人參　茯苓　雞內金　生薑　菟絲子　白朮　甘草　沙苑子　大棗</p>
<p>（新增）　消食健脾丸</p>
<p>枳實　白朮　山楂　人參　神麯　雞內金　麥芽　連翹</p>

<h2>傷風</h2>
<p>風為陽邪。只傷三腸。不傳三陰。由太陽而陽明。由陽明而少陽。亦有首尾只在一經者。非若傷寒之傳三陰也。肺為華蓋。內通膀胱。而為氣之主。所以太陽傷風。則肺亦咳。凡渾身痠痛。咽乾眼脹。或鼻之兩旁迎香穴痛。不必咳嗽。汗出然後為風也。治分有汗無汗。無汗為感冒。有汗為傷風。傷風之脈。浮細而緩。或前小後大。人身之中有衛氣。有榮氣。榮深而衛淺。風但傷衛。所以不可發表。發之則汗多亡陽。或津液虧損。變生壞症。宜用參蘇飲。微解其肌。仲景用稀粥以助汗者。因解肌之藥不能達表。故與粥以助之。若腹中有滯。此法又不宜用矣。解散之後。身熱咳嗽者。此中伏有妙義。經云。外邪之入必與內邪相合。傷風之人。平日有痰有火。火熏皮毛。腠理不密。風從火勢。火借風威。互相鼓煽。不去其痰。屢痊屢發無有已也。此痰伏於肺胃之間。膠黏固結。非半夏可除。宜用蘇杏二陳湯。內有杏仁油以潤之。金沸咸以軟之。庶幾痰消而火降也。如耳中氣閉。咳嗽口苦。邪傳少陽膽經。宜用柴陳湯。亦加杏仁金沸之類。不可過用發散也。三陽既盡。咳嗽宜愈。每見傷風久嗽不止者。其故何耶。真陰素虛。咳久傷氣。肺葉不收。不治多成癆怯。宜用加味地黃湯。斂而降之。若脈來細緩無力。或洪大無力者。中氣大虛。土不生金。宜用加減補中湯。固其元氣。曾見傷風氣虛。隨治隨作。後至氣脫而死。病症雖小。亦可畏也。</p>
<p>傷風汗多者。衛氣不固。風邪襲入榮中。以致四肢微冷。冷汗多出。脈來沉細如絲。宜用桂枝芍藥湯。倍加黃耆。若脈來洪大無力。身熱汗出者。元氣猶未大傷。但用桂枝湯可也。</p>
<p>傷風面腫者。咳嗽氣急。脈多沉弦。風邪從呼吸而入。客於肺管。肺葉脹大不收。失其降下之令。氣逆於頭面而為腫也。甚則上身俱腫。醫者不識。呼為水腫。誤人多矣。宜用芎蘇散散之。咳血者。宜用茯苓補心湯治之（肺逆失降而為膚腫且肺主皮毛故也豈可誤為水哉）</p>
<p>無汗傷風者謂之感冒。因有咳嗽邪氣。留連三陽。不傳三陰。所以較傷寒為輕也。但當禁其飲食。與傷風不同。宜用藥芎散。或人參敗毒散治之。其中在經在腑。悉從傷寒調治。無二法也。</p>
<p><u>參蘇飲</u></p>
<p>陳皮　半夏　白茯　甘草　桔梗　枳殼　前胡　木香　紫蘇　葛根　人參</p>
<p>風盛則氣壅。氣壅故痰聚。是方多用順氣之品。可見傷風以利氣為第一義矣。醫者須識此意。咳嗽聲啞者。宜加黃芩。（按黃芩宜用枯者取輕清之義原本未分晰特重訂正）</p>
<p><u>蘇杏二陳湯</u></p>
<p>陳皮　半夏　白茯　甘草　枳殼　桔梗　紫蘇　杏仁　金沸草　桑皮</p>
<p>此方順氣化痰。於理是矣。而又用紫蘇者。以其餘邪未盡也。胸不寬加厚朴。（按方中金沸草宜絹包不爾有毛射入肺而咳甚矣）</p>
<p><u>加味柴陳湯</u></p>
<p>柴胡　黃芩　半夏　甘草　陳皮　白茯　枳殼　杏仁　金沸草</p>
<p><u>加味地黃湯</u></p>
<p>熟地　山藥　白茯　山萸　丹皮　澤瀉　麥冬　五味　烏梅</p>
<p><u>加減益氣湯</u></p>
<p>人參　白朮　甘草　黃耆　當歸　陳皮　麥冬　五味子</p>
<p><u>桂枝湯</u></p>
<p>桂枝（三錢）　白芍（生用三錢）　甘草（二錢）　大棗（三枚）　浮麥（一撮）</p>
<p>氣虛脈細加黃耆</p>
<p><u>茯苓補心湯</u></p>
<p>陳皮　半夏　白茯　甘草　枳殼　桔梗　前胡　紫蘇　乾葛　當歸　川芎　白芍　熟地（萬不可用以滋陰膩膈遏伏外邪當辨外風之有無是為至要）</p>
<p>此即參蘇飲合四物湯是也。參蘇一倍。四物湯原是兩倍。不可輕重失倫。</p>
<p>咳血者。忌半夏。以花粉代之。川芎亦當議去。（按審邪正而用藥如正虛邪重當用參蘇飲二倍四物湯一倍醫貴變通而化裁之豈可執一以誤人哉。）</p>
<p><u>芎蘇散</u></p>
<p>紫蘇　乾葛　柴胡　川芎　陳皮　半夏　白茯　甘草　枳殼　桔梗</p>

<h2>中寒</h2>
<p>中寒者。寒邪不從陽經傳入。直中陰經。故曰中寒。其症有輕有重。重者。脈來沉微。一息三至。腹痛唇青。四肢厥冷。此因先有房事。胃氣衰微。口食寒物。鼻吸冷氣。中宮不能擔當。直入少陰腎臟。氣冷而血不流。頃刻死矣。治是症者。只以回陽為主。雖有他症。不必兼治。宜用附子理中湯。大劑救之。此症有兼自利。無脈者。生氣已絕。似不可治。然寒極則伏。生機尚存一線。當以前藥浸冷與之。一周時許。自然脈出而解。蓋厥利無脈。陰盛格陽。熱藥入口。格絕而不入。惟以前藥冷服。直達病所。自無格拒之患。內經所謂。寒因寒用者是也。但脈出之時。又要徐徐浮大。不宜暴出。暴出則氣從外脫。非其所宜。故仲景云。微續者生。暴出者死。旨哉言乎。又云。下利清穀。裡寒外熱。面赤煩躁。其脈即出者愈。似與前說相背。不知前症無熱。故脈不宜暴出。此症熱浮於外。全要脈之速出。陽通於陰。豁然解矣。陰症如此變幻。奈何不體古訓。執一方以司人命耶。最可笑者。庸工動用吳萸。以為其性大熱。可以回陽。不知吳萸氣熱而味大辛。辛能散氣。陽未回而氣已脫。較之挺刃殺人。特一間耳。至若舌卷囊縮。自汗多出。斷致不起。裡寒陰症。古言之矣。又有非時暴寒。從口鼻而入。或食生冷涼物。以致嘔吐痰水。微寒微熱。甚則昏暈不醒。二便皆遺。亦名中寒。諸家未之詳也。蓋裡寒陰症。先因欲事傷腎。先天命門真火。不可守邪。故令外邪斬關而入。此則胃氣虛衰。不能勝寒。命門全然無恙。故可一溫而愈。脈雖沉細。一息四至。與前之三至者不同。宜用香砂六君子湯。少加炮姜為妙。切不可兼用辛散之藥。患是症者。又有輕重。輕者。脈來洪緩。按之無力。寒為標而熱為本。先用香砂六君子湯。止其吐逆。後以杏仁玄明粉。加入柴陳劑中。無不獲痊。重者。脈沉細緩。香砂六君子為丸。久服桂附八味丸。亦不可少也。（按辛能散氣吳萸味辛故不可妄用以及寒為標熱為本始用香砂六君子湯以止嘔逆繼用杏仁明粉加柴陳之治皆歷練見道之言尤宜三複勿失）</p>
<p><u>附子理中湯</u></p>
<p>人參　白朮　炮姜　甘草　肉桂　附子　黃耆</p>
<p>桂附炮姜。俱為熱藥。但炮姜溫肺之功居多。肉桂溫脾之功居多。附子溫腎之功居多。裡寒症重。故三味合用也。有汗宜加五味。自利宜加茯苓。更加丹參為妙。以其活血故也。</p>
<p>灸法</p>
<p>用蔥一大把。以帶輕束。切去兩頭。留白二寸。以一面熨熱置於臍上。用熨斗盛炭火蔥上熨之。取其熱氣從臍入腹。甚者連熨二三餅。</p>
<p><u>香砂六君子湯</u></p>
<p>陳皮　半夏　白茯　甘草　白朮　人參　香附　砂仁　藿香　炮姜</p>
<p>中寒多有胸中不寬。宜加厚朴。若滯重者。宜去參朮（按隨機應變智者之能事豈可執一以誤人哉）</p>

<h2>暑熱</h2>
<p>天之六氣。春主厥陰風木。秋主陽明燥金。冬主太陽寒水。各行其政。惟夏至以後。秋分以前。少陽相火。少陰君火。三氣合行其事。是以天本熱也。而益以日之暑。日本烈也。而載以地之濕。三氣交運。時分時合。其分也。以風動於中。勝濕解蒸。不覺其苦。其合也。天之熱氣下。地之濕氣上。人在氣交之中。受其炎蒸。無隙可避。多有體倦神昏。肌膚痱起。胸膺痤出。頭面癤生者矣。當此之時。元氣浮於肌表。內存者少。所以多有飲食不消。而成霍亂。吐瀉胸膈不寬諸症。善養生者。宜節飲食。薄滋味。為卻病之良方。至於生冷瓜果。尤宜節制。西瓜雖能解熱。食之亦必有時。即如巳時申時。離飲食已遠。新谷未進。食之毫不為殃。若飲食甫離。繼以瓜果。勢必冷熱相摶。釀成諸病也。內經曰。脈虛身熱。得之傷暑。甲乙經曰。熱傷氣而不傷形。所以脈虛者是也。仲景分之為四。弦細芤遲。皆為暑脈。總是元氣虛衰之象。若難經所謂。洪大而散者。乃心之本脈。不可以言暑也。潔古云。靜而得之為中暑。動而得之為中熱。此句最當領會。中暑者陰症也。凡乘涼於高堂大廈。水閣冷亭。表受寒邪。周身陽氣不得發越。以致頭痛惡寒。身體拘急。脈來浮數滑大。即為夏月傷寒。宜以寒法治之若脈來細緩無力。方為中暑。宜用香茹散暑湯。至於口食生冷。停滯飲食者。治分陰陽二候。內熱脈數。宜用柴胡化滯湯。脈沉細緩。宜用厚朴溫中湯。香茹藿香以之為君。一則發散陰暑。一則發越脾氣。脾氣宣行。積滯方得下降。不獨治暑然也。但脈緩者可用。脈數者不宜。若夫中熱之症。行人農夫。日中勞役。或隘巷小房。無處乘涼。口鼻吸入熱氣。以致身體大熱。昏暈欲死。脈沉細數者。宜用辰砂六一散。或柴胡芍藥湯之類。不可妄投熱藥。大抵肥人多濕。最易召熱。不能避身之濕。即不能避天之熱。六一散。能驅濕熱。從小便而出。古人用之解暑有自來矣。若瘦弱無濕之人。津液為時令所耗。當用柴胡芍藥湯。藜汁蔗漿之類。充其津液。若用辰砂六一散。妄利小水。竭其下泉。枯槁立至。其有中熱之人。脈洪盛而不虛弱者。此天稟之厚。暑熱客於肌肉。未得深入經絡。身雖燥熱。毫無倦怠。宜用竹葉石膏湯。黃連解毒湯之類。不可與脈虛者。同歸一治也。</p>

<h3>暑厥</h3>
<p>夏月猝然僵仆。昏不知人。謂之暑厥。當分陰陽二症。陽症脈來洪數無力。身熱汗出。謂之陽厥。此因暑食傷脾。食多而熱亦多。宜用連芍調中湯或辰砂六一散。先治其熱。俟其人事清白。再看食之多寡調治。昔云。中暑不得用冷。得冷則死。原為中暑者說。非為中熱者言也。今人一遇熱症。動引此說。總由未明中暑中熱之理也。至於脈來沉細無力。肌膚不熱。曾食生冷瓜果。謂之寒厥。夏月元氣發散在外。腹中空虛。又遇生冷傷脾。冰伏其食氣閉不通。宜用厚朴溫中湯。不可遽補。如遇汗多身冷。方可以香砂理中湯治之。諸書言此。不分陰陽二候。混言風暑誤用升散。害人不淺也。又有老人虛人。夏月中痰多類暑厥。但中痰之人。身溫不冷。又無大熱。口角流涎。以此為別也。（按厥分寒熱發前人所未發學者尤當細心研究庶免草率誤人生命要在審症精詳然後用藥自無他歧之惑也）</p>

<h3>中暍</h3>
<p>中暍者。口渴喜飲是也。其人洒洒惡寒。淅淅發熱。全似傷寒。但傷寒。脈來洪大。暍症脈來細數。於此可別。中暍亦有洪大者。其症初起即渴。與傷寒之久病作渴者不同。肥盛之人。可用六一散清之。使熱從小便而去。不致傷損津液。若身體黑瘦之人。精血為時令所耗。又以利小便為戒。宜用柴胡芍藥湯。生津止渴。奇妙無窮。（按中暍與傷寒同脈來洪大者傷寒細數為中暍幾微之辨間不容髮要在細心討論而自得之）</p>

<h3>伏暑</h3>
<p>暑熱發於季夏。此其常也。亦有伏藏日久。留於少陽胸脅部分。以致微寒微熱。噁心自汗。小便短少。脈來沉弦細數。即其候也。宜用香茹六君子湯。若脈不甚虛者。去參朮名香茹二陳湯。</p>

<h3>注夏</h3>
<p>立夏之後。四肢痠軟。困倦喜臥。飲食少進。名為注夏。秋冬則精神如故。說者皆云脾虛。合用資生丸。補中益氣湯矣。但脈沉細緩脾肺無熱者。可用此藥補之。若脈來沉細又帶微數。往往不受參朮。其奈之何。試看脾胃論中。脾偏於陽。無陰以濟之。亦不能化物。故濕熱之氣乘於四肢。令人筋痿無力。宜用養血健脾湯。則注夏之脾虛有熱者。亦當仿此施治矣。其中多用酸收方為合法。夏月元氣浮散在表。又以汗而大泄。不加酸收。則浮散者不止。孫真人云。暑月多服五味。令人氣力湧出。厥有旨哉。（脾受濕熱熏蒸故四肢倦怠乏力用酸收以斂浮越之陰然必審無外邪方可用之）</p>
<p><u>香茹散暑湯</u></p>
<p>香茹　厚朴　甘草　藿香　柴胡　陳皮　杏仁　半夏</p>
<p>香茹原利小便。何以又能發散。以其味辛而淡。辛者先走表分。後者乃入膀胱。所以又能散暑也。佐以藿香柴胡走表更速。暑邪在經。必有痰滯留結。故用杏樸半夏。但脈緩無熱者宜之。有熱者勿服。（闡明立方之旨洞若觀火）</p>
<p><u>柴胡化滯湯</u>　方見食門</p>
<p><u>厚朴溫中湯</u></p>
<p>厚朴　杏仁　半夏　枳殼　桔梗　炮姜　甘草　藿香　香茹　陳皮</p>
<p>此方易曉。</p>
<p><u>辰砂六一散</u></p>
<p>辰砂（研細水飛五錢）　滑石（磨碎水飛六兩）　粉草（煎膏拌曬一兩）</p>
<p>六一散有辰砂。能引甘滑之涼。先入心經。使熱與濕俱解。無硃砂者。但能利濕。不能解熱。以其無嚮導之兵也。（按此方旨用藥之理固已開發尚有未盡者如其人肝陽素旺外襲暑風必加青黛以清之抑肝清肺少加薄荷之辛辛能散涼能清故前人有碧玉雞蘇之名而曲盡其妙用也）</p>
<p><u>柴胡芍藥湯</u></p>
<p>柴胡　黃芩　花粉　甘草　麥冬　白芍　知母　黃連</p>
<p><u>竹葉石膏湯</u></p>
<p>黃連解毒湯　俱見火門</p>
<p><u>連芍調中湯</u></p>
<p>枳殼　厚朴　山楂　澤瀉　陳皮　桔梗　白芍　黃芩　黃連　甘草</p>
<p>此方因其胸中不寬。又兼中熱。故用此方。若有熱無食。宜用柴胡芍藥湯。暑月發厥。陰厥者多。陽厥者少。身不熱。脈不數者。不可浪投。</p>
<p><u>香茹六君子湯</u></p>
<p>人參　白朮　白茯　甘草　陳皮　半夏　香茹　山梔　黃連　赤芍</p>
<p>此方用六君子以祛痰益脾肺。使正氣旺則客邪易逐矣。值時當炎暑。熱蒸於外。濕蘊於中。故用梔連以清裡。茹芍以解表和榮。惟脈洪數。尤宜慎審。未可浪投。（按此亦扶正逐邪之法）</p>

<h2>濕</h2>
<p>濕之為病。散見各門。此將濕之原委。逐一講貫。治之。方不謬也。有自外而傷者。有自內而中者。從外而傷者。即如冒雨而行。霧露而處。冷水灌汗。濕從上受也。若涉水履冰。當風洗足。坐臥濕地。濕從下受也。初起濕邪在經。未郁為熱。但覺骨中冷痛。或皮肉微腫。微微惡寒。其脈細緩而不洪數。可知其為寒濕也。俱用人參敗毒散加減。濕留日久。壅遏本身正氣。即成濕熱。脈多洪緩數大。向之細緩者。今則烏有矣。但看上下部分。紅腫痠痛。惡寒發熱者。知其為濕熱也。雖宜解表。但可用辛涼。不宜用辛溫。如柴葛二妙湯。上下俱可著用。如寒熱已退。紅腫不消。宜用加減柴苓湯。經云治濕不利小便。非其治也。可見治濕之法。又以利小便為第二義矣。然而利小便之法。有濕則利濕。無濕則損津液。腫盛者可用。微腫而痿弱者。又當除濕養榮。內經云。因於濕。首如裹。言濕邪初客。未郁為熱。但覺濛昧不清。如以物裹其首也。又云大筋軟短。小筋馳長。是言濕客日久。濕鬱為熱。熱傷其血。則大筋為之軟短。濕傷其筋。則小筋為之馳長。明此數語。方知治濕之不可過於燥矣。此濕從外受者也。至於濕從內中者。又有上下之不同。如茶酒湯水。脾虛不能消散。積於上焦。即為上焦之濕。其人頭面發腫。或生癮疹。是為濕中生熱。治當涼散。不宜溫散。亦用柴葛二妙湯。若其人小便不利。在上之濕。難於下趨。又當用柴苓湯。利其小便。若脈來細緩無力。小便色白。不時淋滴而多汗。一切利水之藥。即不可施。其有身熱足寒。時頭熱面赤。濕熱上壅。陽氣不能下通於陰。宜用柴胡湯加大黃下之。濕積於下。即為下焦之濕。合用柴苓湯利之矣。若其人惡寒發熱。或兩尺洪盛。餘脈沉細。濕熱下壅。陰氣不能上通於陽。必用柴葛二妙湯。散其標邪。方可利水。若脈來細緩。小便色白者宜用獨活寄生湯。助陽以驅濕。亦不得不用之法也。</p>
<p><u>人參敗毒散</u></p>
<p>羌活　獨活　柴胡　前胡　川芎　枳殼　桔梗　人參　白茯　甘草</p>
<p>寒甚者。加桂枝。無人參。以白朮代之</p>
<p><u>柴葛二妙湯</u></p>
<p>柴胡　黃芩　半夏　甘草　乾葛　赤芍　蒼朮　黃柏</p>
<p>濕熱之脈。洪數者多。亦有濕邪壅滯。脈沉細緩者。但問身熱內煩。即以此方散之。在上者去黃柏。加連翹。</p>
<p><u>加減柴苓湯</u></p>
<p>柴胡　黃芩　半夏　甘草　赤茯　澤瀉　赤芍　枳殼　苡仁　木瓜</p>
<p><u>除濕養榮湯</u></p>
<p>當歸　川芎　白芍　熟地　牛膝　杜仲　木瓜　苡仁　續斷　黃芩　石斛　五茄皮</p>
<p><u>加味柴胡湯</u></p>
<p>柴胡　黃岑　甘草　花粉　白芍　麥冬　山梔　大黃</p>
<p><u>獨活寄生湯</u></p>
<p>當歸　川芎　白芍　熟地　人參　茯苓　甘草　杜仲　牛膝　續斷　秦艽　防風　獨活　細辛　肉桂　桑寄生</p>
<p>（按此方重在助陽以驅濕小溲清白脈來尺微寸緩是其的劑若濕熱未盡者尤宜三複庶免抱薪救焚之虞）</p>

<h2>燥</h2>
<p>人之臟腑。有血脈。有津液。津液又在血脈之先。得心火之化。變成血脈。流於坎宮。得命門真火之化。變成真精。其原生於胃。輸於脾肺。下灌兩腎膀胱。以為一身之陰氣。胃氣得之。則留戀不脫。若津液虧損。胃為孤陽。陰絕而陽亦絕。古云。傷寒偏死下虛人。蓋有見於此也。今之醫家。不知津液為何物。動手便用燥劑。殺人慘於刀刃矣。然而燥之一氣。諸書從未辨明。即以素問之遺。亦言秋傷於虛。後代名醫錯出。並無一人改正其訛。所以疑誤至今。用藥鮮當也。惟法律始詳辨之。蓋言風主於春。寒主於冬。暑濕火兼主於夏。而燥則專主於秋也。立秋之後。猶是夏天餘氣。熱中有濕。所以草木猶青。一交秋分。燥金司令。所起之風。全是一團燥烈之氣。干而不潤。是以無草不黃。無木不凋。人身應之。燥病生焉。（闡發致燥之由較勝於喻氏）凡有身熱咳嗽內煩口乾一切百病。無不起於乾燥。治當養血生津。不可妄投燥劑。戕人性命。極為要緊。然燥令雖主於秋。凡久亢不雨。津液少者。亦生燥病。豈獨主於秋乎。治者明之。</p>
<p><u>柴胡芍藥湯</u></p>
<p>柴胡　黃芩　花粉　甘草　白芍　麥冬　知母</p>
<p>（清燥救肺湯亦可用較此方尤為得宜用桑麻麥冬阿膠以滋燥杏仁梨皮以潤肺是謂有制之師也）</p>

<h2>火症</h2>
<p>火症之脈。洪數為順。細數無力則凶。亦有火盛之極。而脈反沉。小伏匿者。即大易。所謂干之上九亢龍有悔者。是也。臟腑之中。火從何來。氣之不得其平為之也。有實火。有虛火。有相火。有燥火。有濕熱之火。又有鬱火。猛烈之火。無名之火。皆不可以不察也。何謂實火。心火燔灼。胃火助之。元氣未損。真精未虧。或因飲酒之蘊熱。或因暴熱之外侵。目赤。喉痛。胸滿。氣喘。宜用黃連清心湯。柴胡瀉肝湯。黃芩清肺湯之類。若是虛火。東垣之論。確不可易。東垣曰。飲食所傷。勞倦所損。或氣高而喘。身熱而煩。症似白虎。但脈來洪大。虛而不長。不可以實火投治。當有補中益氣湯。補其中氣則自愈矣。倘以實火治之。立見危殆。又有相火者。生於虛無。寄於肝腎之間。乃元氣之賊。無時而不熬煎真陰。陰虛則病。陰絕則死。急用滋陰地黃湯。填補真陰。務使水壯而火息。一切涼藥。毫不可施。至若燥火者。腸胃澀滯。津血不充。大便常閉。先用脾約丸潤之。後用地黃固本之劑。若用芩連梔柏。百劑無功。濕火者。濕生乎熱。熱生乎濕。濕熱相生。遂成脹滿。或痿與臌。從而生焉。故有大便久秘。及更衣則又溏泄。熱在腸胃之外故秘。濕在腸胃之中故溏。宜用柴苓湯加黃柏玄參之類。不可因其泄瀉。禁其寒涼。若夫猛烈之火。或從右脅起。或從臍下起。或從足底起。皆為癘症。丹溪以為不可驟用涼藥。恐其撲之而愈張。抑之而愈揚。先以甘草煎湯。兼瀉兼緩。俟其猖狂少定。量其虛實治之。亦一法也。鬱火者。腹中作痛。肌表熱。四肢熱。摸之烙手。此因過食生冷。郁遏陽氣於脾土之宜用清陽散火湯。無名之火一發。即不識人。或狂言失志。或直視聲鳴。或手足瘛瘲。或閉目無言。或發數日而終者。或一發便脫者。或臥枕而逝。人不及知者。既無經絡之可尋。又無脈症之可據內經所謂暴病暴死。皆屬於火者是也。可不審乎。（按人身肝火最烈燔灼無忌善治者先平肝火而餘臟之火自緩也）</p>
<p><u>黃連清心湯</u></p>
<p>當歸　白芍　生地　麥冬　山梔　連翹　甘草　薄荷</p>
<p><u>柴胡瀉肝湯</u></p>
<p>柴胡　甘草　當歸　川芎　青皮　山梔　連翹　龍膽草</p>
<p><u>黃芩清肺湯</u></p>
<p>荊芥　薄荷　黃芩　山梔　連翹　麥冬　白芍　桔梗　甘草　桑皮</p>
<p><u>滋水地黃湯</u></p>
<p>熟地　山藥　白茯　丹皮　山萸　澤瀉　麥冬　白芍　玄參</p>
<p><u>清陽散火湯</u></p>
<p>山梔　黃芩　白芍　白芷　紫蘇　川芎　枳殼　桔梗　甘草　白茯</p>

<h2>風濕</h2>
<p>風濕者。先傷於濕。而後傷於風也。其症一身盡痛。比之傷寒身痛。殆有甚焉。因知其為風濕也。風從上受。濕從下受。殆至兩相摶聚。注經絡。流關節。滲骨體軀殼之間。無處不到。是以無處不痛也。其症有輕有重。輕者脈浮弦細。渾身痠軟無力。宜用加減柴葛湯。風在外而濕在內。不可大汗。恐風去而濕仍存。惟此輕解之劑。內外之邪俱去。若汗出短氣。惡風不欲去衣。脈沉細緩無力者。宜用桂枝白朮湯。助陽以驅濕。不易之法也。重者周身大痛。脈浮洪數。亦用加減柴葛湯。若頭面目赤。身熱足寒陽氣不能下通於陰者。宜用柴陳湯加枳殼大黃以下之。如發散之後。上體已愈。下體疼痛不止者。宜用柴苓二妙湯。</p>
<p><u>加減柴葛湯</u></p>
<p>柴胡　黃芩　半夏　甘草　乾葛　赤芍　紫蘇　川芎　山梔　蒼朮續斷　枳殼　木瓜</p>
<p>治風濕之法。固宜散風行濕。而清熱利氣之藥。亦不可少。蓋以濕邪在經。氣滯不行。鬱而成火故也。</p>
<p><u>桂枝白朮湯</u></p>
<p>桂枝　白芍　甘草　白朮　木瓜　續斷　陳皮</p>
<p><u>加減柴陳湯</u></p>
<p>柴胡　黃芩　半夏　甘草　陳皮　白茯　枳殼　大黃</p>
<p><u>柴苓二妙湯</u></p>
<p>柴胡　黃芩　半夏　甘草　赤茯　赤芍　澤瀉　蒼朮　黃柏　木瓜　續斷　牛膝　杜仲</p>

<h2>風溫</h2>
<p>風溫者。先傷於風。而後傷於熱也。凡人先傷於風。經絡之間。已自有熱。又感時令之熱。飲食入胃。氣滯不行。變成濃痰濁飲。膠固不散。又遇新谷裹結成病。其症喘渴多睡。四肢不收。宜用柴胡化滯湯。但清其胃。其病自愈。然不但風溫互感後有此症。凡天令久暖。素有痰火者。每有此恙。仲景恐人誤認寒症。妄用發汗。故辨於傷寒門中。其實非傷寒也。</p>
<p><u>柴胡化滯湯</u></p>
<p>柴胡　黃芩　半夏　甘草　枳實　厚朴　山楂　杏仁　赤芍　陳皮</p>
<p>便閉宜加大黃。</p>

<h2>濕溫</h2>
<p>濕溫者。先傷於濕。而後傷於暑也。其症胸滿妄言。兩脛逆冷。此因暑濕客於脾經。正氣不行。鬱而為火。故令語言譫妄。濕熱上壅。陽氣不能下通於陰。故令足寒。仲景恐人認為寒症。誤投發散。所以引入寒門。其實非寒症也。夫濕溫何以不可發汗。蓋因濕邪在胸。已自有熱。又遇暑氣客之兩熱相侵。猶未混合。為一汗之。則兩邪混合。閉塞經絡。不死何待耶。宜用柴胡清中湯。若脈來洪數。或上盛下虛者。加大黃以下之。難經云。濕溫之脈。陽濡而弱。陰小而急。濡弱見於陽部。濕氣摶暑也。小急見於陰部。暑氣摶濕也。此言非不有理。但脈之變化不齊。不可執為一定耳。（此二句名言可佩）</p>
<p><u>柴胡清中湯</u></p>
<p>柴胡　黃芩　半夏　甘草　枳實　杏仁　石菖蒲　黃連　赤芍</p>
<p>暑濕侵脾。必有痰食留結。化痰化滯。亦不可少。</p>

<h2>癮疹</h2>
<p>癮疹者。遍身小顆。紅白不一。有若痱子之狀。或如黃豆樣者。重者身發寒。脈來洪數。狀類傷寒。宜用岑連敗毒散。三四日不解。即為夾疹感寒。柴胡化滯湯。實為主劑。不過過用涼藥。壅遏其毒。輕者。微寒微熱。脈細微數。愈而復發。此因濕中生熱。熱極生風。宜用疏風養榮湯。常服六味地黃丸。滋腎水以榮肝木。則虛風自息矣。又有身發疙瘩。有如丹毒。痛癢不常。膿水淋瀝者。宜用解熱柴陳湯。</p>
<p><u>芩連敗毒散</u></p>
<p>羌活　獨活　柴胡　前胡　川芎　枳殼　桔梗　黃芩　連翹　甘草</p>
<p><u>疏風養榮湯</u></p>
<p>白芍　當歸　生地　柴胡　防風　薄荷　麥冬　地骨皮　山梔</p>
<p><u>解熱柴陳湯</u></p>
<p>柴胡　黃岑　半夏　甘草　陳皮　白茯　山梔　赤芍　苡仁　貝母</p>
<p>身熱加荊防。（膚燥加蟬衣　云增）</p>

<h2>痛風</h2>
<p>痛風者。遍身疼痛。晝減夜甚。痛徹筋骨。有若虎咬之狀。故又名為白虎歷節風。有痛而不腫者。有腫而且痛者。或頭生紅點。指腫如捶者。皆由肝經血少火盛。熱極生風。非是外來風邪。古今諸書。皆以風濕為言。疑誤舛謬。害人不淺。素郵袁體庵先生出。改正其非。講明其理。始知痛風。由於風熱血燥也。所制逍遙散一方。每使病者。連服百劑。不終其劑者。日後變為癘風。屢試屢驗者也。識者珍焉。（按袁氏心傳世乏刊本展轉抄繕錯謬甚多惟其中名言闡發啟迪後進匪淺）</p>
<p><u>加減逍遙散</u></p>
<p>當歸　白芍　熟地　川芎　柴胡　防風　薄荷　連翹　山梔　麥冬　甘菊　丹皮</p>

<h2>勞倦</h2>
<p>勞倦者。奔走勞力之後。惡寒發熱。脈來弦數。狀類風寒。但初起必有勞倦之因。自可為辨也。設若勞倦而感風寒。又極難辨。但勞倦之人。一周時許。自然汗出而解。若四五日不解者。又屬之風寒也。治之之法。先用清胃散火湯。治其標邪。後用加味地黃湯。培其根本。蓋火之有餘。必因水之不足。少年得此。日後每成虛癆。不可不察也。若清散之後。脈沉細緩。或洪大無力者。治當益氣養血。又非地黃丸。所司也。東垣言勞倦之病。脈來洪大。虛而不長。當以甘溫補之。然初起有火。未可驟與。必先清熱健脾。方可議補。（闡發先後用藥之理句句詳明）</p>
<p><u>清胃散火湯</u></p>
<p>山楂　厚朴　山梔　黃芩　陳皮　枇杷葉　麥冬　當歸　白芍　防風柴胡　乾葛</p>

<h2>痰火</h2>
<p>痰火為病。惡風發熱。脈來弦數。全與傷寒無別。但聽其咳嗽氣急。可以知其為痰火也。夫痰火之起。由於脾經血少。胃火太甚。熬煎津液為痰。上傳於肺。故令咳嗽氣急。然胃火一動。相火翕然從之。所以惡寒發熱。宜用舒中芍藥湯三四劑後。脈宜和緩。若弦數不減。數大有力。是為孤陽無陰。多主於死。若脈來微減或細數者。法當看其痰色。如咳吐黃痰。胸中不快。食積生痰。宜用栝蔞枳實湯。如痰色青白。稀而不稠者。腎虛水沸為痰。宜用加味地黃湯。滋水以制火。不必拘於治痰也。又有初起之時。外無寒熱諸症。內無煩熱氣急。但見神昏不安。肢體無力。聲音低小。飲食不進。脈來沉細無力者。宜用香砂六君子湯。甚則八味地黃丸。亦可用也。</p>
<p><u>舒中芍藥湯</u></p>
<p>陳皮　半夏　白茯　甘草　柴胡　黃芩　枳殼　桔梗　白芍　木通　貝母　栝蔞霜　天冬</p>
<p>有食加厚朴</p>
<p><u>栝蔞枳實湯</u></p>
<p>陳皮　白茯　甘草　枳實　栝蔞霜　貝母　當歸　桔梗　山梔　黃芩</p>
<p><u>加味地黃湯</u></p>
<p>熟地　山藥　白茯　丹皮　山萸肉　澤瀉　天冬　麥冬　桔梗　甘草　牛膝（倍用）</p>
<p><u>香砂六君子湯</u></p>
<p>陳皮　半夏　白茯　甘草　人參　白朮　砂仁　香附　藿香</p>

<h2>咳嗽</h2>
<p>有聲無痰。謂之咳。肺氣傷而不清也。有痰無聲謂之嗽。脾濕動而生痰也。有聲有痰。謂之咳嗽。脾生痰而傳於肺也。風寒勞嗽。自有本條。四時咳嗽。不可不辨。丹溪云。春是上升之氣。夏是火炎上最重。秋是濕熱傷肺。冬是風寒外束。所謂上升之氣者。春天木旺。肝火太甚。乘於肺金。故令咳嗽。宜用清肝寧嗽湯。脈必弦數可據。久而不止。宜用歸芍地黃湯。蓋腎水。乃肝木之母。腎水虛弱。無以為發生滋榮之本。故內熱而咳。歸芍地黃。是治其本也。所謂火炎上者。夏月心火用事。乘於肺金。有如金被火克。五行相賊。其症極重。若不急治。直至交秋方止。咳久多成癆怯。亦用歸芍地黃湯。或天王補心丹。無不可也。所謂濕熱傷肺者。秋分之後。燥金用事。所起之風。全是一團乾燥之氣。不比秋分之前。熱中有濕也。是以無草不黃。無木不凋。人身應之。肺胃乾燥。津液枯槁。所以作咳。丹溪反言濕熱傷肺。當亦傳刻之誤。未可執為定論也。亦用歸芍地黃湯。所謂風寒外束者。冬月天令嚴寒。易至傷人。感於風者。脈來細緩。感於寒者。脈來浮數。自可辨也。大抵四時咳嗽。雖有不同。而東南之地。往往多熱多痰。先用清金化痰之劑。方可各治其本。不可驟用地黃泥藥。（名言卓識）極為緊關。又有咳嗽氣急。胸中不寬者。治之宜分虛實。實者脈來沉滑。可用二陳消食之劑。若脈來弦細微數。微寒微熱。大便不甚通暢。欲出不出。極為危險。既不可攻。又不可補。惟有養血化痰。健脾消食。聽天由命而已。此條諸書未有。不得草草忽過（辨論超豁認理真切分四時以用藥闡古書之未發　按咳嗽之源內經有聚於胃關於肺之指示要在細心研究而自得也）</p>
<p><u>清肝寧嗽湯</u></p>
<p>柴胡　黃芩　花粉　甘草　陳皮　白茯　當歸　白芍　麥冬　丹皮　桔梗　貝母</p>
<p><u>歸芍地黃湯</u></p>
<p>當歸　白芍　麥冬　桔梗　熟地　丹皮　山藥　白茯　澤瀉　山萸</p>
<p><u>寧嗽健脾湯</u></p>
<p>當歸　白芍　麥冬　陳皮　山楂　神麯　杏仁　貝母　澤瀉　苡仁</p>
<p>胸不寬加厚朴。</p>

<h2>齁喘</h2>
<p>齁喘之病。方書皆名哮吼。為其聲之惡也。此因誤啖鹽醬咸物。摶結津液。熬煎成痰。膠黏固結。聚於肺絡。不容呼吸出入。而呼吸正氣反觸其痰。所以喘聲不止也。肺有痰熱。毛竅常開。熱氣得以外泄。所以伏而不發。一遇秋冬寒氣外束。邪熱不得宣通。故令發喘。脈來浮數。滑大者。宜用定喘湯。發去標邪。再用加減雞鳴丸。常常服之。自可除根。每日飲食只宜清淡。不宜濃厚。蓋人身之痰。不能自動。必隨脾之健運。貯於肺絡。結為窠囊積飲。如蜂子之穴於房中。蓮實之嵌於蓬內。生長則易。而剝落則難。全要胃氣清虛。則痰之上注者。得以返還於胃。然後可從口而上越。或從腸而下達。今人肥甘厚味。日不絕口。兼之飲食不節。雖有醫藥。庸有濟乎。此乃氣分之病。或有傳於血分。而為喘急失血者。先吐痰後見血。猶為積熱。先吐血後吐痰者。陰虛火動。照依怯症調治。一切燥藥。毫不可嘗。推而廣之。齁病屬熱者固多。而肺寒者亦有。不可泥定是熱。凡脾胃虛寒。氣不能運。積成冷痰。上注於肺。亦成齁喘。其人四肢厥冷。脈沉細緩。按之無力。即其候也。宜用六君子湯。加款冬金沸杏仁炮姜治之。但熱者多。而寒者少。又不可不察耳。齁喘之病。痰火為本。而外感內傷之因。所觸不同。未可以一端盡也。寒傷肺喘。脈必數大。可用定喘湯散風傷肺喘脈必細緩。自汗惡風。宜用參蘇飲解之。因於氣者。其脈必沉。因於食者。脈必弦滑。因於色者。脈沉細數。治之又有不同。今人一遇是症。便以定喘為主。何致膠固若此耶。</p>
<p><u>定喘湯</u></p>
<p>半夏　杏仁　冬花　蘇子　桑皮　麻黃　甘草　黃芩　白果　青鉛　生薑</p>
<p><u>加減雞鳴丸</u></p>
<p>陳皮（一兩）　半夏（四錢）　白茯（一兩）　甘草（五錢）　貝母（一兩）　栝蔞霜（一兩）　冬花（一兩）　天冬（二兩）　黃芩（一兩）　知母（一兩）　桔梗（一兩）　枇杷葉（五錢）　玄明粉（三錢）</p>
<p>煉蜜為丸。</p>

<h2>青筋</h2>
<p>青筋之症。惡寒發熱。狀似風寒。但胸腹作痛。遍身發麻。或唇口作麻。即其症也。北方謂之青筋。南方謂之烏沙。此因鬱怒傷肝。木邪賊土。觸動濕痰。氣逆而血亦逆。故令脹痛欲死。脈來洪數者。宜用活血化痰湯。若脈來細緩。四肢厥冷者。宜用香砂理中湯。古方治此。不過清熱消食。而疏氣活血之藥。毫不知用。內經云。通則不痛。痛則不通。氣血不得宣行。後成此病。宣通氣血為第一義也。但此血氣上攻。多有暴病暴死者。不可不知也。</p>
<p><u>活血化痰湯</u></p>
<p>陳皮　半夏　白茯　甘草　大腹皮　枳殼　木香　玄胡　歸尾　黃芩</p>
<p><u>香砂理中湯</u></p>
<p>人參　白朮　炮姜　甘草　香附　砂仁　藿香　（加）玄胡　半夏　木香</p>

<h2>氣怒</h2>
<p>肝為將軍之官。不受屈制。怒氣傷肝。其氣衝逆上行。有若將軍之不可犯。故名將軍。傷之輕者。兩脅刺痛。胸中不舒。傷之重者。未經發泄。乘於胃土。令人昏迷不語。牙關緊急。蓋因胃中有痰。肝氣入胃。觸動痰涎。其支脈之絡心者。被其壅滯。堵塞神氣出入之竅。故不識人也。內經云。暴喑為病。不必服藥。少頃氣行則蘇。然而痰聚胸中。正氣得復則生。不復則死。不可坐視。宜用清郁二陳湯。又有氣怒之後。人事清白。但覺胸中刺痛。喘急不安。能坐不能臥者。氣逆膻中。血亦留滯。宜用加減柴物湯。若脈來沉細無力。胸中痛而不甚者。宜用歸脾八珍之類。不可以氣為拘也。（八珍歸脾當在清郁化痰之後為善後計若用在鬱氣。未疏之時恐其氣因補而壅滯又非所宜）</p>
<p><u>清郁二陳湯</u></p>
<p>陳皮　半夏　白茯　甘草　川芎　香附　枳殼　杏仁　白芍　黃芩</p>
<p><u>加減柴物湯</u></p>
<p>柴胡　黃芩　半夏　甘草　當歸　川芎　白芍　熟地　玄胡　木香　麥冬　杏仁</p>

<h2>中惡</h2>
<p>中惡者。入廟登塚。弔死問疾。飛屍鬼擊。故為中惡。其症牙關緊急。昏不知人。似乎中痰。但頭面青黑。肌膚粟起。可以知其中惡也。內經云。大凡外邪之入。必與內邪相合。中惡之人。先有痰食在胃。正氣不旺。然後鬼昧得以犯之。治是症者。當以安神化痰為先。俟其氣順痰消。方可議補。薛立齋云。中惡先因正氣大虛。然後為惡所中。治當大補元氣。勿以痰治。然初起必先化痰。不可顧母失子也。</p>
<p><u>安神化痰湯</u></p>
<p>茯神　遠志　陳皮　半夏　杏仁　石菖蒲　麥冬　桔梗　甘草</p>
<p>有食加枳殼厚朴。</p>

<h2>傷食</h2>
<p>方書云。人迎緊盛傷於寒。氣口緊盛傷於食。以是知傷食之脈。專以氣口為主也。然診視之時。有氣口脈沉伏者。有氣口脈滑大者。又有人迎氣口俱弦數者。紛紛不一。不可以一說拘也。夫人迎氣口脈俱弦數。外症日晡寒熱。頭亦微痛。全與風寒無異。但神氣如故。身無疼痛。可以為別也。脾胃之氣稟於命門。命門凝然不動。下焦為之臣使。宣布其氣。行至中焦。入於脾胃。乃能化食。今因飲食鬱遏。少陽三焦之氣不得宣通。故生寒熱諸症。醫者不識。呼為寒疾。誤人多矣。宜用柴胡化滯湯。通表裡而雙解之。食重者宜下。若外無寒熱表症。但覺胸膈不寬者。痰裹食而不化也。宜用加味二陳湯。又有生冷傷脾者。脈來沉緩無力。（審脈之有力無力而定虛實之治）宜用香砂理中湯。更有胸腹不覺。咳嗽氣急。四肢無力。大便不甚通暢。脈沉弦細。按之無力。下焦雖是虛寒。中焦又有浮熱。先以養血健脾湯。開其痰食。再以八味地黃丸。實其下焦。方為得法。至若飲食積久。或傷之太過。中氣閉塞。以致猝然僵仆。昏不知人。名為食厥。甚則四肢拘攣。狀如中痰。亦用加味二陳湯。脈沉細緩者。宜加薑桂。不可誤認痰症。妄用痰劑。</p>
<p><u>柴胡化滯湯</u></p>
<p>柴胡　黃芩　半夏　甘草　枳殼　厚朴　山楂　蘇子　桔梗</p>
<p>傷食而用柴胡。以其能升少陽之氣也。</p>
<p><u>加味二陳湯</u></p>
<p>陳皮　半夏　白茯　甘草　枳殼　厚朴　杏仁　山楂　蘇子　桔梗</p>
<p>大凡消食化痰。必須順氣。胸中不寬。故用蘇桔。若在臍腹以下。宜用青皮香附。</p>
<p><u>香砂理中湯</u></p>
<p>人參　白朮　炮姜　甘草　砂仁　香附　藿香</p>
<p>滯重去白朮。加枳殼。厚朴。寒甚加肉桂。</p>
<p><u>養血健脾湯</u>　方見脾胃門</p>
<p><u>沖和丸</u></p>
<p>陳皮　半夏　枳殼　厚朴　神麯　杏仁（各一兩）　黃芩　桔梗（各五錢）</p>
<p>脾居中央。寒之不覺其寒。熱之不覺其熱。飲食易化。百病不生。故云沖和。今為飲食所傷。失其舊職。用此消其積滯。復其沖和之舊矣。故以沖和為名。痰滯膠固者。再加莪朮。</p>
<p>物性相製藥。</p>
<p>索粉不化。宜加杏仁。狗肉亦用。牛肉傷加紅曲。魚傷加橄欖。麵食豆腐。加蘿蔔子。粽子黏食。加白酒藥。肉食加山楂。果子蔬菜。加麝香。煎炒厚味。加淡豆豉。</p>

<h1>卷下</h1>

<h2>傷酒</h2>
<p>酒者。清冽之物。不隨濁穢下行。惟喜滲入者也。滲入之區。先從胃入膽。膽為清淨之腑。同氣相求也。膽之攝受無幾。其次從胃入腸。膀胱滲之而出。其所存之餘質。惟膽獨當之。是以善飲者。必淺斟緩酌。以俟腹中之滲。若連飛數杯。傾囊而出耳。酒雖一物。卻有數種之不同。辛者能散。苦者能降。甘者緩而居中。淡者能利小便。善飲之人。先天元陽本厚。所以膀胱能滲。但宜少飲。不宜多用。少則流氣活血。多則耗血損神。善飲者又借酒為元氣。戒之則形體必瘦。大抵天地之道無他。中而已矣。且膏粱貧賤。各自有病。富貴之家。多色多酒。不致生病。貧賤之夫。少飲輒病。近色則損。此其故何也。蓋膏粱之人。嗜酒者遠色。近色者節飲。而且無奔走負重之勞。經營謀慮之苦。一有酒色。安寢休息。厚味填補。病從何來。若酒色雙有者。亦非美事。至於貧賤不遂之人。經營謀慮勞其心矣。奔走負重傷其力矣。再有酒色之傷。神氣幾何。堪如是之斫喪耶。汪穎曰。人知戒早飲。而不知夜飲尤甚。醉飽就枕。熱壅三焦。傷心損目。夜氣收斂。酒以發之。亂其清明。勞其脾胃。停濕助火。因而致病者多矣。其有傷於酒者。治之宜分表裡。切惡寒發熱。身首俱痛。濕熱在經。閉塞本身元氣。宜用柴葛解肌湯。發汗以徹皮毛之邪。如譫語煩渴。人事不清。宜用栝蔞枳實湯。大便不通。脈沉有力者。法當下之。如有小便不利。腿足發熱者。酒熱積於下焦。宜用加減柴苓湯。諸書言酒皆云。無形元氣受傷。但可發汗。不可妄下。以傷有形陰血。吾觀飲酒之時。非無嘉淆。未飲之前。亦有穀食。不可以前說為拘也。（按酒能亂性又能助濕奈嗜酒者隱戕其身何不知審慎如是耶）</p>
<p><u>柴葛解肌湯</u></p>
<p>羌活　乾葛　柴胡　川芎　半夏　枳殼　桔梗　厚朴　山楂　黃芩　山梔　甘草</p>
<p><u>栝蔞枳實湯</u></p>
<p>貝母　栝蔞霜　枳實　陳皮　桔梗　白茯　甘草　山梔　黃芩　當歸</p>
<p>加半夏更妙。</p>
<p><u>加減柴苓湯</u></p>
<p>柴胡　黃芩　半夏　甘草　赤茯　豬苓　澤瀉　赤芍　枳殼　厚朴</p>

<h2>黃疸</h2>
<p>癉者熱也。黃疸俱因正氣不宣鬱而生。黃有如遏醬相似。其症有五。條分縷析。脈症始得而詳明也。一曰濕熱發黃。小便如梔。染衣成黃。而面目身體之黃。不待言矣。此因茶酒湯水。聚而不散。郁成壯火。故成此症。但有熱多濕少者。有濕多熱少者。有濕熱全無者。不可以不辨也。熱多濕少者。脈來弦數。黃中帶亮。宜用茵陳柴苓湯。若渴而飲水者。宜用柴胡芍藥湯。加茵陳。澤瀉。乃得三焦氣化行。津液通。渴解而黃退。金匱云。疸而渴者難治。慮其津液枯竭。初非不治之症也。濕多熱少者。脈來沉細而緩。其色黃而晦。宜用茵陳四苓湯。若大便自利。上氣喘急。宜加參朮。不可誤用寒涼。傷損脾氣。至於濕熱全無者。既無血食酒汗之症。又無黃赤小便。但見身黃倦怠。肢體無力。虛陽上泛為黃也。宜用加減八物湯。今醫治此。概用五苓套劑。豈能愈乎。</p>
<p>谷疸者。飲食鬱結。正氣不行。抑而成黃。其症胸膈不寬。四肢無力。身面俱黃。脈來洪滑者。症屬於陽。合用二陳消食之劑。但火熱鬱結。遏生苔衣。乾澀難下。今人動用蒼樸燥劑。但治其食。不治其熱。疸之一字。置於何所。無怪乎治之不痊也。更有粗工。專用針砂綠礬等藥。不思積滯雖去。津液隨亡。大失治疸之體。惟用養血健脾湯。大有殊功。脈沉細緩者。症屬於陰。其人四肢青冷。大便時溏。宜用香砂理中湯。加炮姜肉桂之類。不可概以熱治也。然谷疸之症。每兼發腫。初起見之無妨。日久氣虛。多主危殆。</p>
<p>女勞疸者。身黃加以額黑也。其症臍下滿悶。大便時黑。日晡寒熱。皆蓄血之所致也。男子勤於房事。血不化精。滯於小腹。故成此症。女子經水未淨。交合血滯。亦有此症。脈來弦芤者。宜用加減柴物湯。若脈來細緩無力。或澀而細者。元氣大虛。雖有蓄血。不宜消導。宜用十全補中。大扶元氣正氣盛則邪氣自退。若用消導之劑。是促之使亡也。然女勞之血宜在小腹。若大腹盡滿。血散成臌。不治之症也。仲景云。腹滿如水者不治。旨哉言乎。酒為濕熱之最。因酒而成疸者。其人小便必如梔汁。合用茵陳柴苓湯矣。若心中懊憹。熱不能食。時欲嘔吐者。濕熱積於上焦。必有老痰在胃。宜用清熱化痰湯。若頭面目赤。身熱足寒。脈來寸強尺弱。陽氣不能下達。宜於前方加大黃下之。如大便帶黑。面色黃黑者。其人必有蓄血。蓋嗜酒之人。多喜熱飲蕩死血脈積於胃中。隱而未發。亦宜加減柴物湯。緩緩調治。酒疸之黑。與女勞之黑。相去一間。女勞為腎氣所發。酒疸乃柴血腐敗之色。柴物湯有半補半消之功。若用大黃峻劑。榮血益趨於敗而已。治者明之。黃汗者。汗如梔汁。染衣成黃。多因汗出浴水。水浸皮膚。壅遏本身。榮衛鬱而生黃也。亦有內傷茶酒。濕熱走於皮毛。亦令發黃。初起身熱惡寒。頭疼身痛者。可用柴陳湯。加蘇葛桑皮。以微散之。日久津虛。宜用柴胡芍藥湯。此症脈多洪大無力。或細緩不勻。不可誤用補劑。以其發熱不止。必生惡瘡留結癰膿也。</p>
<p><u>茵陳柴苓湯</u></p>
<p>柴胡　黃芩　半夏　甘草　豬苓　澤瀉　赤茯　茵陳　麥冬　赤芍</p>
<p>濕少熱多。固宜分利。使熱從小便而去。佐以小柴胡。方有清熱之功。濕蒸熱鬱。必先燥其肺氣。所以小水不行。茵陳辛涼清理肺熱。肺金一潤。其氣清肅下行。膀胱之壅熱立通。小便利而黃退矣。（古云治濕不利小便非其治法尤宜慎審）</p>
<p><u>加減八物湯</u></p>
<p>人參　白朮　白茯　甘草　當歸　白芍　熟地　石斛　苡仁　遠志　秦艽　陳皮</p>
<p><u>養血健脾湯</u></p>
<p>當歸　白芍　麥冬　枳殼　厚朴　山楂　赤茯　杏仁　桔梗　陳皮</p>
<p><u>香砂理中湯</u>　方見食門</p>
<p><u>加減柴物湯</u></p>
<p>柴胡　黃芩　半夏　甘草　當歸　川芎　白芍　熟地　香附　玄胡　丹皮　丹參</p>
<p><u>清熱化痰湯</u></p>
<p>柴胡　黃芩　半夏　甘草　陳皮　白茯　杏仁　山梔　枳殼　桔梗　赤芍</p>
<p><u>柴胡芍藥湯</u></p>
<p>柴胡　黃芩　花粉　甘草　白芍　麥冬　知母</p>

<h2>積聚癥瘕痃僻痞塊</h2>
<p>血之所積。因名曰積。積久而後發也。氣之所聚。因名曰聚。聚散不常之意也。癥者。堅也。堅則難破。瘕者。假也。假血成形。痃者。左右或有一條筋。脈拘急。大者。如臂。小者如指。如弦之狀。故名曰痃。因氣而成也。僻者。隱在兩脅之間。時痛時止。故名曰癖。痰與氣結也。名色雖多。而痞塊二字。可以該之。欲知治痞塊之法。詳察五積。其理自明。肝積居於左脅。大如覆杯。名曰肥氣。久不愈令人發呃。痎瘧連歲不已。心積居於臍下。上至心下。其大如臂。名曰伏梁。久不愈令人煩心。肺積居於右脅。大如覆杯。名曰息賁。久不愈令人灑淅寒熱。喘咳成癰。脾積在胃脘右側。腹大如盤。名曰痞氣。久不愈令人四肢不收。發為黃疸。斯四積者。從何而生焉。蓋因飲食不消。著於氣怒。痰行過其處。必裹一層。血流過其處。必裹一層。痰血共裹之。則不能不成塊矣。但上部氣多血少。不致活而成痞。治以化痰為主。而活血兼之。宜用消積二陳湯。若痛無形質。不時而發者。非痃即癖。宜用柴胡疏肝散。至於腎積居於臍下。在女子多因血滯不行。男子多因食積所成。按之不移。方為積病。因於血者。宜用加味柴物湯。因於食者。宜用二陳消食之劑。至若活而成痞。千金保命丹。大有殊功。秦越人云。腎積居於臍下。上下無時。有若江豚拜浪。名曰奔豚。久不愈令人喘急。骨痿少氣。據此看來。又有積散不常之意。不可以積名也。此因下焦虛寒。寒氣從腰而入。自後沖前。所以小腹作痛。宜用桂枝獨活湯。溫經散邪為主。不用大補。內經云。凡治積塊。衰其大半而止。塊去須大補。若必欲攻之無餘。多致積散成臌。至於脾氣大虛。神思倦怠者。當以大補元氣為主。正氣盛則邪氣自退。此不易之法也。內熱不受補者。脈來弦數者。極為危篤難醫。雖然積塊固屬實症。倘按之無形。多因七情氣滯。腸中汁沫。與氣相摶。故作痛也。亦用加減柴物湯。</p>
<p><u>消積二陳湯</u></p>
<p>陳皮　半夏　白茯　甘草　杏仁　枳實　玄明粉　石菖蒲　歸尾　赤芍</p>
<p>內熱加黃芩。有滯加厚朴。痛甚加莪朮。</p>
<p><u>柴胡疏肝散</u></p>
<p>柴胡　黃芩　半夏　甘草　陳皮　白茯　白芍　香附　枳殼　玄胡</p>
<p>內熱。加山梔。</p>
<p><u>加味柴物湯</u></p>
<p>柴胡　黃芩　半夏　甘草　當歸　川芎　白芍　熟地　香附　玄胡</p>
<p><u>桂枝茯苓湯</u></p>
<p>陳皮　半夏　白茯　甘草　香附　桂枝　細辛　獨活</p>
<p>腎積奔豚。乃寒氣從腰眼而入。腸中汁沫凝聚作痛。故用二陳以行汁沫。桂辛獨活以散外邪。不可妄補。</p>

<h2>癲狂</h2>
<p>狂者。狂亂而無正定也。狂叫奔走。人難制伏。甚則登高而歌。棄衣而走。逾垣上屋。詈罵不避親疏。此證雖屬有痰。但痰多火多。當以清熱為君。化痰為佐。宜用清火化痰湯。大解心胃之熱。大便結燥者。可用滾痰丸下之。清熱之後。邪熱未淨者。宜用柴胡芍藥湯。如脈來沉細。宜用六君健脾湯。狂病原屬實熱。脈宜洪大有力。沉細則危。法當禁其飲食。不可與癲症同治也。癲病語言譫妄。喜笑不休。此因抑鬱不遂而成。脈宜沉小無力。不宜洪大。治用六君健脾湯。蓋此病多由食積生痰。天麻膽星等藥服之無效。氣順痰消。又宜八味地黃丸。大補先天元氣。此不易之法也。（經云重陰者癲重陽者狂乃辨症不二法門）</p>
<p><u>清火化痰湯</u></p>
<p>黃芩　黃連　山梔　貝母　栝蔞霜　枳實　蘇子　桔梗　赤芍　麥冬</p>
<p><u>滾痰丸</u></p>
<p>大黃（八兩）　黃芩（八兩）　沉香（五錢）　礞石（煅一兩）</p>
<p>此方實人可用。虛者誤服立死。</p>
<p><u>六君健脾湯</u></p>
<p>人參　白朮　白茯　甘草　陳皮　半夏　枳殼　厚朴　杏仁　澤瀉　炮姜</p>

<h2>癇症</h2>
<p>癇病發則仆地。悶亂無知。齧舌吐沫。角弓反張。手足搐搦。或作六畜之聲。古有豬羊牛馬雞癇之分。以應五臟。亦可不必。風痰鼓其竅道。其氣自變。譬之弄笛者。六孔閉塞不同。而宮商各別也。脈來洪數者。症屬於陽。宜用舒中二陳湯。後以清癇二陳湯加減調治。脈細無力者。症屬於陰。治之難愈。宜用六君健脾湯。八味地黃丸。亦所必用也。此病痰伏心包。全要胃氣清虛。方能健運。日用飲食。只宜少進。肥甘厚味。不宜屢嘗。（按肥甘血肉均含毒質無病人食之每生脾胃痼疾而況癇症尤要胃氣清虛庶免增痰助瘧之虞為醫者必預言之也）</p>
<p><u>舒中二陳湯</u></p>
<p>陳皮　半夏　白茯　甘草　杏仁　枳殼　厚朴　山梔　黃芩　玄明粉</p>
<p>癲癇之病。人皆責之肝風。每用天麻膽星等藥。不知食積生痰。抑遏少陽之氣。以致手足攣搐。心神昏冒。但治其食。其病即瘳。予所屢試屢驗者也。清癇二陳湯　存以備參（此方滌痰有餘痰盛者尤捷若久病正虛宜裁酌用之）</p>
<p>陳皮　半夏　白茯　甘草　天麻　膽星　栝蔞霜　枳實　石菖蒲　桔梗　麥冬　黃連　山梔</p>
<p><u>六君健脾湯</u>　方見癲狂門</p>

<h2>三消</h2>
<p>內經曰。二陽結謂之消。東垣曰。二陽者。陽明也。手陽明大腸主津液。若熱則目黃口渴。乃津液不足也。足陽明胃主血。若熱則消穀善飢。血中伏火。乃血不足也。結謂熱結也。雖有三消之分。其原皆本於胃土者。萬物所歸。無所不有。凡煎炒炙爆。過飲醇酒。助其胃火。耗竭津液。傳於氣分。則為上消。傳於血分。則為下消。若房事撙節。陰氣未損者。燥熱只在胃經。但見消穀善飢而已。上消其病在肺。舌上赤裂。大渴引飲。此因胃火先傳於肺。心復繼之。經云。心移熱於肺。傳為膈消。舉其最重者而言。其實先由胃火而起也。中消其病在胃。善食而飢。自汗時出。大便堅硬。小便頻數。亦有口乾飲水者。較之上消下消為少耳。今醫治此。俱有甘露飲子。非不有理。但滋陰養血。落後一層。而清熱生津。尤為急著。柴胡芍藥湯。良不易也。仲景治傷寒論云。口渴者。風發也。以飲食消息止之。見得口中作渴。不但胃火所使。而肝膽風熱亦復乘之。徒求藥石。不能速愈。須以飲食之中。甘蔗梨汁。頻頻食之。庶可免死。此亦治消渴之妙法也。（此言歷練有準非虛偽浮誇之談）下消其病在腎。耳輪焦枯。小便如膏。其中伏有至理。人所不知。蓋小便如膏。似屬腎虛。涼藥治之無益。不知腎消一症。不但胃熱下流。而心之陽火。亦因下趨於腎。宜用當歸六黃湯。或六味地黃湯。加犀角以治心火。其消乃愈。向使見其遺精。不敢用涼。豈不誤乎。總錄云。未傳能食者必發腦疽背瘡。為其邪火太盛也。不能食者。必傳中滿臌脹。以其治之太過。上熱未除。中寒復生也。岐伯曰。脈實病久可治。脈弦小病久不可治。蓋洪數之脈。邪火有餘。津液猶未枯竭。若脈細無力者。津液既絕。胃氣亦亡。故不可治。不得已而藥之。宜於柴芍湯中。加入人參。甚則八味地黃丸。或可起死。</p>
<p><u>柴胡芍藥湯</u></p>
<p>柴胡　黃芩　花粉　甘草　白芍　麥冬　知母　黃連</p>
<p>上消中消。氣分病也。不可驟用血藥。惟此方最合。每日再用蛤蜊煎湯飲之。大有奇效。中消大便不利。本方去黃連。加大黃以微利之（按闡發三消之蘊明若燃犀）</p>
<p><u>甘露飲</u></p>
<p>天冬　麥冬　生地　熟地　茵陳　枇杷葉　黃芩　苡仁　石斛　甘草　山梔</p>
<p>一方無茵陳山梔。用枳殼。</p>
<p><u>當歸六黃湯</u></p>
<p>當歸　黃耆　黃芩　黃連　黃柏　生地　熟地</p>

<h2>霍亂</h2>
<p>霍者。揮霍眩暈。亂者。心神煩亂。若上吐下瀉。不煩亂者。謂之吐瀉。非霍亂也。夫霍亂之因。由於暑食傷脾。中州鬱結。清氣不得上升。濁氣不得下降。先心痛則先吐。先腹痛則先瀉。心腹俱痛者。則吐瀉齊作。初起之時。脈多代結。或見沉細。最難辨其寒熱。大法口渴轉筋知其為熱。宜用清暑化滯湯。至於霍亂已除。轉筋不愈者。水穀之氣。傳於肝經。熱傷其血。則大筋為之軟短。濕傷其筋。則小筋為之弛長。宜於消食之中。佐以木瓜苡仁黃芩麥冬當歸白芍。無不應也。但男子之筋聚於陰器。女子之筋聚於乳頭。男子用手扯其陰器。女子用手扯其兩乳。可免轉筋入腹之死。又有陰邪霍亂者。脈沉細緩。肢涼唇青。此因冷物傷脾。氣不宣通。宜用厚朴溫中湯。更有乾霍亂者。欲吐不得吐。欲瀉不得瀉。心腹絞痛。須臾即死。當以手捥吐之。方可用藥。其間冷熱之治。亦與前症無異也。凡患此者。不可與之飲食。一周時許。熱退身涼。方可少與米飲。助其元氣。若痛止即食。病再復來。勿歸咎於醫也。脈訣云。霍亂之脈。見微遲氣少不語。大為難醫。蓋言暑傷於氣。正氣欲脫。故難治也。</p>
<p><u>清熱化滯湯</u></p>
<p>枳殼　厚朴　山楂　杏仁　半夏　黃芩　赤茯　桔梗　枇杷葉　麥冬</p>
<p>轉筋倍加木瓜。（治熱霍亂主劑他如熱甚加川連吳萸除楂樸方為合拍要在辨其有食滯否）</p>
<p><u>厚朴溫中湯</u></p>
<p>厚朴　枳殼　杏仁　半夏　桔梗　炮姜　甘草　藿香　香茹　陳皮</p>
<p>（按寒霍亂此方尚欠斟酌果系三陰經證宜從治中湯甚則四逆湯白通湯皆可隨證選擇而用惟藿茹枳桔應在刪除之列蓋邪既入陰挽之猶恐不及豈可再事耗散其真氣哉）</p>

<h2>瘧疾</h2>
<p>虛人產婦。病後癆怯。俱有寒熱似瘧。必須辨明。方不誤治。似瘧脈來虛濡而數。不甚弦急。瘧脈弦實。自可辨也。戴氏曰。寒熱發作。有期者瘧也。無期者非也。此亦辨之甚明。最宜體認。蓋少陽乃東方甲木之象。故其脈主弦。不但初病如此。即久瘧正虛。脈不鼓指。而弦象亦隱然在內。東垣云。夏傷於暑。秋必痎瘧。夫暑為熱邪。熱則流通。何至伏藏於秋。必其人汗出遇風。或用冷水灌汗。暑邪藏於肌肉。半在於表。半在於里。正當少陽部分。至秋金氣下降。暑欲入而陰據之。則激而生寒。暑欲出而陽據之。則激而發熱。邪正相爭。有殘虐之意。故名曰瘧。初起頭疼身痛。寒多無汗者。宜用人參敗毒散。加乾葛半夏之類。熱多汗出者。宜用芎蘇柴陳湯。發散之後。熱多寒少。胸膈不寬。脈來弦滑者。痰與食積也。痰食在胃。榮衛從出之原閉塞不舒。所以肌表之中。鬱而生熱。宜用柴陳化滯湯。若口中作渴者。由少陽而入膀胱之腑。熱入膀胱。必傷津液。宜用柴苓湯。導暑從小便而出。然柴苓湯一方。原為小便短少而設。如小便自利。渴欲飲水者。邪傳陽明胃經。宜用柴胡芍藥湯。仲景云。脈弦數者風發也。以飲食消息止之。謂弦數之脈。熱極生風。必侮土而傷其津液。由少陽而入陽明。兩經合邪。其熱倍熾。當以食物速止其熱。不可徒求之於藥也。梨汁蔗漿。正食中之生津者。內經所謂風淫於內。治以甘寒者是也。若不用此。則熱之移於胃者。勢必上傳於肺。而為單熱無寒之癉瘧。或傳心包。而為寒多熱少之牡瘧。可不慎乎。至於發利之後。脈細無力者。宜用二母補中湯。若有痰食未淨。宜用六君健脾湯。或資生丸之類。補而不愈。方可用截。所截之藥。當分氣血兩途。熱多脈數者。不受溫補。宜用柴胡四物湯。如烏梅何首烏極驗。寒多脈緩者。宜用六君子湯。加人參五錢。此不截之截也。大抵截瘧之法。無非收斂氣血。在壯盛之體。三五發後瘧勢少衰。猶可用截。若虛弱之人。氣道錯亂。虛不歸元。截之澀於他歧。屢成腹脹。不可不察也。雖然。瘧疾屬熱者多。而屬寒者亦有。不可泥定是熱。凡當風露臥。冷水浴澡。陰邪客於榮衛。令人寒多熱少。脈來洪弦無力。（著眼在無力二字）仲景柴胡薑桂湯。真良方也。若胸中作冷畏寒減食。脈沉弦細者。其病在裡。宜用香砂理中湯。總而言之。一日一發者易治。間日三日者難痊。以其正氣虛弱。澀而行遲。與邪會之時緩也。其有住一日。連發二日。或一日數發者。正氣大虛。散而錯亂。多至不起。發於午後。移於午前者。欲愈之兆。發於午前。移於午後者。羈遲難愈。服藥宜在未發之前。發時諸經氣亂。服之無效。至於飲食。俟其熱退身涼一兩時許。方可量與。若帶熱飲食。多成瘧母。肥甘厚味。尤宜禁之。（調攝要言）又有瘧母者。老痰食積留於脅下。按之有形。多成痎瘧。連歲不已。此症脈來弦細無力。甚難別其虛實。大法積形堅大。外無怯弱諸症。脈雖沉細氣滯。不能送之外出。宜用柴陳拈痛湯。若困倦喜臥。聲音低小。飲食減少者。宜用香砂六君子湯。大補元氣。不可誤用攻伐傷損胃氣。極宜辨別。癉瘧者。熱瘧也。單熱而無寒也。脈滑有滯者。宜消食。小便短少者。宜分利。弦數口渴者。宜生津。不可概用大寒之劑。（辨症確用藥自驗）惟大渴引飲。汗多脈來洪大者。不用竹葉石膏湯。斷不愈也。此即少陽陽明兩經合邪。上傳於肺者也。</p>
<p>牡瘧者。寒瘧也。寒多而熱微也。如七分。寒三分熱之類。諸書俱言純寒無熱。言之誤矣。（發前人所未發）此即少陽陽明兩經合邪。上傳於心者。邪入心包。都城震動。周身津液協力內援。重重裹擷胞內之邪。為外所拒。故令寒多熱少。表間雖有微冷。膻中全是邪熱。內真熱而外假寒也。宜用柴陳湯。加杏仁石菖蒲最妙。</p>
<p><u>加減敗毒散</u></p>
<p>羌活　獨活　柴胡　前胡　乾葛　川芎　半夏　枳殼　桔梗　甘草</p>
<p><u>芎蘇柴陳湯</u></p>
<p>川芎　紫蘇　柴胡　黃芩　半夏　甘草　陳皮　白茯</p>
<p>汗出而熱不解。邪未散也。故用此方從輕解之。若困倦無神。胸不寬暢。脈細無力。竟用六君健脾湯。</p>
<p><u>柴陳化滯湯</u></p>
<p>柴胡　黃芩　半夏　甘草　陳皮　白茯　枳殼　厚朴　山楂　赤芍</p>
<p><u>二母柴苓湯</u></p>
<p>知母　貝母　柴胡　黃芩　半夏　甘草　赤茯　澤瀉　赤芍</p>
<p><u>柴胡芍藥湯</u></p>
<p>柴胡　黃芩　花粉　甘草　白芍　麥冬　知母</p>
<p><u>二母補中湯</u></p>
<p>知母　貝母　人參　白朮　黃耆　甘草　當歸　陳皮　升麻　柴胡</p>
<p><u>資生丸</u>　方見痢門</p>
<p><u>加味柴物湯</u></p>
<p>柴胡　黃芩　半夏　甘草　當歸　川芎　白芍　熟地　何首烏　知母　麥冬　烏梅（三陰痎瘧用此不截而截）</p>
<p><u>柴胡薑桂湯</u></p>
<p>柴胡　黃芩　半夏　甘草　乾薑　桂枝　厚朴　山楂　陳皮</p>
<p><u>柴陳拈痛湯</u></p>
<p>柴胡　黃芩　半夏　甘草　陳皮　白茯　枳殼　厚朴　玄明粉　香附　鱉甲　歸尾　赤芍</p>
<p><u>香砂六君子湯</u></p>
<p>人參　白朮　白茯　甘草　半夏　陳皮　藿香　香附　砂仁</p>
<p>寒甚者。宜加薑桂。</p>
<p><u>竹葉石膏湯</u></p>
<p>麥冬　知母　石膏　人參　粳米　燈心　生薑　竹葉</p>
<p>合小柴胡湯。用之更妙。（按治癉瘧其效尤捷）</p>

<h2>痢疾</h2>
<p>脈訣云。痢疾脈沉細者生。洪大者死。此言久病也。初起之時。元氣未虛。穀氣尚強。其脈未有不滑而大者。惟久病之後。元氣已虛。穀食又少。故脈宜沉細。不宜洪大也。夫痢疾之起。由於暑食傷脾。不能運化。並於血分。作成痢疾。其色紅者。從食中之熱化。其色白者。從食中之冷化。不可以赤為熱。而白為寒也。治之當分表裡。丹溪曰。惡寒發熱。身首俱痛。是為在表。在表則當散暑。邪入里。必由皮肉而及筋骨。由筋骨而入腸胃。今寒熱身痛。表邪未淨也。若但清胃化滯。不及其表。則表間之邪。勢必盡從里出。何日可解。柴胡化滯湯。誠表裡兩解之良劑也。（治挾表痢大有捷效屢試屢驗喻氏逆流挽舟法即此方加減）古方用人參敗毒散。責之太陽。而不責少陽。未免求之太遠矣。至於後重窘迫。腹痛急墜。是為在裡。在裡則當下。宜用樸黃丸下之。然欲用下藥。必在兩三日之間。元氣未虛。脈猶有力。方可用下。若日久痢多。脈來無力。雖有後重。氣虛下陷。與初起者不同。不可妄下。至於外無頭疼身痛。內無裡急後重者。宜用芩芍調中湯。黃芩能斂大腸之氣。白芍能斂大腸之血。痢疾便紅。非此不愈。然患痢之人。多由飲食不節。舊積未盡。新谷又多。往往然也。若見胸中不寬。芩芍未可驟用。恐其收斂飲食。愈加其痢。通調之後。合當大補元氣。但痢家氣虛者固有。而陰虧者亦多。下多亡陰。臟腑虛燥。大渴欲飲。脈來細數。宜用芍藥健脾湯。但止其湯。其痢自愈。若是陽虛。脈必洪大無力。宜用芩芍補中湯。或用資生丸。補而不愈。方可再行兜澀。不可驟用粟殼等藥。恐積滯不盡。而成脹滿。病愈甚也。（每成休息痢皆由兜澀早耳）雖然。腎有胃關。未可久痢而胃不損者。凡四君歸脾十全補中。皆補脾虛。未嘗不善。若病在火衰。土位無母。設非桂附大補命門。以復腎中之陽。以救脾家之母。飲食何由而進。門戶何由而閉。真元何由而復耶。若畏熱不前。僅以參朮補土。未見痢之能愈也。此皆治熱痢之法。而沉寒者亦有。不可泥定是熱。平日元氣虛弱。口食生冷涼物。以致胃寒下痢。脈來沉細無力。四肢厥冷。可為辨也。宜用理中化滯湯。不但冷痢如此。即熱症變冷者亦往往有之。李東垣云。久痢不止。（著眼久痢二字）各症不減。或反加重。竟作虛治。用補中湯。加炮姜一升一補。虛回而痢自止。如小腹重墜切痛奔豚。加肉桂破故紙誠確論也。痢家雖不禁食。只宜清淡柔爛。少吃為妥。生冷麵食俱不相宜。厚味尤當禁之。至於五色兼下者。如魚腦髓者。或下煙塵屋漏水者。大孔如竹筒。唇似朱塗者。皆難治之症也。</p>
<p>又有熱毒痢者。水穀傾囊而出。一晝夜間八九十行。此則腸胃為熱毒所撓。宜從里治。裡急後重者。宜用大黃黃連甘草大劑下之。若無裡急後重。宜用芩芍調中湯。加黃連肉桂。蓋暑邪據於腸胃。涼藥入口。隔拒而不納。少加肉桂。引涼藥直達熱所。有如嚮導之兵。人所不知者也。若脈來沉細無力。八九十行者。又為氣虛下陷。非前法所可治也。</p>
<p>下痢噤口者。胃中濕熱之毒。熏蒸清道而上。以致胃口閉寒。不欲飲食。古方倉稟湯。散其內中熱毒。非散表也。後以倉連人參湯。頻頻與之。服之不應者。多主於死。初起胸中不寬。不欲飲食者。胃中有痰有食。非噤口也。</p>
<p>又有血痢者。純紅散血。不與糞雜。故為血痢。若有血又有糞者。謂之便血。非血痢也。此因飲食傷脾。中州鬱結。不能攝血。所以血從大孔而下。亦用芩芍調中湯。若脈來細數。胸中如故者。宜用柴胡四物湯。加地榆烏梅之類。勿以血痢為拘耳。</p>
<p>丹溪云。先水瀉而後便膿血者。脾傳腎也。為賊邪治之難愈。先膿血而後水瀉者。腎傳脾也。為微邪治之易痊。論雖如此。又當看其輕重。先瀉後痢。固為難治。若下痢不甚。豈難治乎。先痢後瀉。固為易治。若瀉多不止。豈易痊乎。</p>
<p>世有痢兼瘧者。當以治痢為主。不必治瘧。若瘧後變痢發泄已盡。必無暑熱之毒。宜以資生丸調理。其有恣意飲食。釀成痢疾者。又不拘於此例也。</p>
<p><u>柴胡化滯湯</u></p>
<p>柴胡　黃芩　甘草　丹參　當歸　枳殼　厚朴　山楂　木香　檳榔</p>
<p>柴芩甘草。用之以治暑也。枳樸山楂。用之以消食也。河間曰。行血則便膿自愈。故用丹參當歸。調氣則後重自除。故用木香檳榔。此方不但初病宜用。即久痢身熱者。亦宜用之。金匱云。下痢脈反弦。身熱汗出者自愈。夫久痢之脈。深入陰分。沉細微弱矣。忽然而轉弦脈。全是少陽生髮之氣。用此逆流挽舟。邪從外散。寧不愈乎。若脈沉細滑。表裡無熱者。脾氣鬱結。加藿香一錢。更有殊功。</p>
<p><u>樸黃丸</u></p>
<p>大黃（四兩酒煮）　厚朴（二兩薑汁炒）</p>
<p><u>芩芍調中湯</u></p>
<p>枳殼　厚朴　山楂　黃岑　白芍　丹參　桔梗　檳榔　澤瀉</p>
<p>熱盛加酒炒黃連</p>
<p><u>芍藥健脾湯</u></p>
<p>山藥　扁豆　石斛　萎蕤　沙參　白芍　陳皮　白茯　山楂　神麯　花粉</p>
<p><u>連芍補中湯</u></p>
<p>人參　白朮　甘草　黃耆　陳皮　升麻　柴胡　白芍　黃連</p>
<p>久痢宜忌當歸。以其潤下故也。去升柴加阿膠地榆尤妙。</p>
<p><u>資生丸</u></p>
<p>人參（三兩）　白朮（二兩）　甘草（一兩）　白茯（兩半）　山楂（二兩）　神麯（二兩）　麥芽（兩半）　陳皮（兩半）　桔梗（五錢）　山藥（兩半）　扁豆（三兩）　苡仁（三兩）　藿香（五錢）　芡實（兩半）　澤瀉（五錢）　黃連（三錢五分）　白蔻（三錢五分）</p>
<p>蜜丸彈子大。</p>
<p><u>理中化滯湯</u></p>
<p>人參　白朮　炮姜　甘草　砂仁　厚朴　藿香　陳皮</p>
<p>寒甚加肉桂</p>
<p><u>倉廩湯</u></p>
<p>人參　白茯　甘草　羌活　獨活　柴胡　前胡　川芎　枳殼　桔梗　陳倉米　石蓮肉</p>
<p>本方不用人參。服之無效。脈沉者。宜加藿香。</p>
<p><u>倉連人參湯</u></p>
<p>黃連（七錢）　陳倉米（三錢）　人參（五錢）</p>
<p>脈洪實者。去人參名倉連煎。</p>
<p>外治法</p>
<p>用大田螺一枚。搗爛如泥。入射一釐。納入臍中。引熱下行。胃即開矣。（此法曾經試之效捷）</p>
<p><u>香連丸</u></p>
<p>木香（一兩）　黃連（二兩）</p>

<h2>泄瀉</h2>
<p>泄瀉者。胃與大腸之病也。此因飲食不調。脾胃不能運化。小水並於大腸。故令作瀉。脈來沉滑。腹中作痛。宜用胃苓湯加減。以其積滯在胃。氣不宣通。稀糞旁流故也。若久瀉不止。脈沉細緩。按之無力者。是為脾虛。宜用健脾丸參苓白朮散之類。甚則用八味地黃丸。補命門火以生脾土。此不易之法也。但泄瀉之病。虛寒者固有。而虛熱者亦多。如下多亡陰。津液不足。脈來細數無力。甘溫毫不可投。宜用脾腎雙補湯。此外又有數症。條分縷析。治之方不誤耳。</p>
<p>積瀉者。腹痛而瀉。瀉後痛減。瀉去稍寬。偶然而起者。謂之食瀉。法當消食分利。若不時舉發。定因脾土虛弱。不能運化。以致食停作瀉。初起必先消食。方可用補用溫。世人概言脾瀉。驟用溫補者非也。大約脈實有力。宜用胃苓湯。脈細無力。宜用半消半補（脈之有力為實無力為虛）</p>
<p>痰瀉者。或多或少。或瀉或不瀉。中焦有痰。飲食入胃。裹結不化。所以作瀉。脈滑有熱者。宜用枳樸柴陳湯。脈來弦細無力。宜用香砂六君子湯。火瀉者。腹中痛一陣。瀉一陣。後去如湯。後重如滯。此因濕在腸胃之中。火在腸胃之外。宜用清熱柴苓湯。甚則完穀不化者。火性急速。不及傳化故也。</p>
<p>冷瀉者。鼻吸風寒之氣。口食生冷之物。皆能作瀉。此暴病也。宜用香砂理中湯。若久瀉之後。脈細皮寒。病涉大虛。宜於前方更加桂附。若加之以不食。危篤難醫。至於完穀不化。初起猶為胃寒。治之可愈。久則胃氣已絕。斷主於死。</p>
<p>濕瀉者。腹中不痛。所瀉皆水。（辨證精詳）或遍身發腫。身熱脈數者。病屬於陽。（分別陰陽不紊）初起宜用分消飲。久以柴苓湯主之。若肢冷脈細。元氣大虛。宜用消腫健脾湯。即金匱腎氣丸。亦宜服也。</p>
<p>又有肺燥作瀉者。人所不知。秋傷於燥。內熱咳嗽。肺中之火無處可宣。傳於大腸。故令作瀉。宜用清金潤燥湯。潤肺兼潤其腸。則泄瀉自止。若誤認脾虛。而用溫補。非徒無益。又害其肺也。治者詳之。又有脫瀉者。水穀皆下。日有百次。不但糟粕瀉盡。並腸中所蓄之黃水。俱已竭盡而無餘。所以平人時泄黃水。即是脾壞之候。皆主於死。不易治也。</p>
<p><u>加減胃苓湯</u></p>
<p>蒼朮　厚朴　陳皮　甘草　赤茯　豬苓　澤瀉　山楂　桔梗</p>
<p>平胃而用蒼朮。取其雄壯上行。發越脾氣。脾氣一行。則鬱結自開。若單用沉降之藥。胃反不能開也。但脈來沉緩者可用。滑數者勿與。以其燥能助火故也。至於豬苓雖能滲濕。脾濕不甚者。服之必傷腎水。不可輕用。若兩肋作脹。因於氣鬱者。宜加香附青皮之類。</p>
<p><u>健脾丸</u></p>
<p>人參（二兩）　白朮（三兩）　白茯（二兩）　甘草（一兩）　山藥（二兩）　扁豆（三兩）　芡實（三兩）　蓮肉（二兩）　澤瀉（一兩）　陳皮（一兩）　山楂（三兩）</p>
<p><u>參苓白朮散</u></p>
<p>人參　白朮　白茯　甘草　山藥　扁豆　苡仁　桔梗　砂仁　蓮肉</p>
<p><u>脾腎雙補湯</u></p>
<p>人參　山藥　扁豆　車前子　白茯　白芍　萎蕤　菟絲子　杜仲　山萸　白蔻　石斛</p>
<p><u>枳樸柴陳湯</u></p>
<p>柴胡　黃芩　半夏　甘草　陳皮　白茯　枳殼　厚朴　赤芍</p>
<p><u>香砂六君子湯</u></p>
<p>人參　白朮　白茯　甘草　陳皮　半夏　砂仁　藿香　香附</p>
<p><u>清熱柴苓湯</u></p>
<p>柴胡　黃芩　半夏　甘草　赤茯　豬苓　澤瀉　山梔　赤芍</p>
<p><u>香砂理中湯</u></p>
<p>人參　白朮　炮姜　甘草　香附　砂仁　藿香</p>
<p>滯多加厚朴</p>
<p><u>分消飲</u></p>
<p>羌活　白芷　柴胡　川芎　枳殼　山楂　陳皮　豬苓　澤瀉</p>
<p>熱盛加山梔黃芩。</p>
<p><u>治腫健脾湯</u></p>
<p>人參　白朮　白茯　甘草　車前子　澤瀉　厚朴　苡仁　炮姜　附子　陳皮　山藥</p>
<p>凡久瀉脾虛。以及發腫。俱宜用此。</p>
<p><u>清金潤燥湯</u></p>
<p>沙參　萎蕤　苡仁　山藥　石斛　黃芩　白芍　桔梗　甘草　地骨皮　陳皮　芡實</p>
<p><u>八仙糕</u>（痢後調理脾胃良方）</p>
<p>白朮（四兩）　白茯（四兩）　山藥（八兩）　扁豆（八兩）　芡實（八兩）　蓮肉（八兩）　苡仁（四兩）　老米粉（二斤）　白糖（二斤）</p>
<p><u>四神丸</u></p>
<p>肉果（二兩煨熟去油）　補骨脂（四兩）　五味（一兩）　吳茱萸（水浸炒一兩）</p>
<p>姜煮紅棗為丸（補命火益脾腎要劑）</p>

<h2>疝氣</h2>
<p>夫疝者痛也。重墜如山。故名曰疝。皆厥陰肝經之病。與腎經絕無干涉。自素問而下。皆以為寒。東垣丹溪以為先有濕熱。又被風寒外束。所以作痛。然疝有多端。不可以濕熱盡也。即以濕熱言之。初起睪丸腫大。惡寒發熱。脈來弦數。不時舉發者。奔走勞碌。飲食鬱結。水穀之氣。陷於至陰。即為濕熱。非水穀之外。又有濕熱也。諸書泛言濕熱。而水穀之氣。毫未言及。所以治之不應。予從金匱論中。見其言疝言腳氣。以及腿縫生核。胻腫不消。皆言水穀之氣下注。則疝氣之由食積明矣。其寒熱脈數。全是勞倦傷脾。氣道錯亂。失其運行常度。郁生寒熱諸症。豈盡感於風寒乎。予用柴葛二妙湯。散其勞倦之火。繼以柴胡化滯湯。消其食積。不但目前立愈。並疝氣之根永除不復作矣。此古人隱而不發之義。經予一言道破。治疝之法。了無疑義也。又有微寒微熱。脈雖洪弦。按之無力者。氣虛下陷。與前症迥不相同。宜用橘練補中湯。其腫自消。以上二症。卵皮雖腫。其色如故。若紅腫大痛者。謂之囊癰。熱多濕少。血熱下注。日久血化為膿。最難調治。初用清肝滲濕湯。七八日後。腫而不潰者。宜用滋陰內托散。已潰之後。全要睪丸懸掛。毒從外散。可保無虞。若囊皮脫落。連及睪丸。法在不治。此皆疝家常見之症。而亦有不恆見者。條分於左。以備採用。</p>

<h3>七疝症治</h3>
<p>寒疝者。囊冷如冰。堅硬如石。陰莖不舉。或控睪丸而痛。此因坐臥石地寒月涉水。外感寒濕而然。脈沉細緩者。宜用補中湯。加桂枝細辛之類。若脈來滑大有力。標寒束其本熱也。亦用柴葛二妙湯。若原有疝氣反縮入內。聚於小腹疼痛異常者。陰寒夾食。積聚不通。宜用蟠蔥散。水疝者。皮色光亮。狀如水晶。脈來弦數者。病為陽水。宜用龍膽瀉肝湯。恐其腫痛不消。必致作膿。脈沉細緩者。又為陰水。宜用五苓散。筋疝者。陰莖腫脹。挺縱不收。或有白物如精。隨溺而下。得之春方。邪淫所使。龍膽瀉肝湯。清肝滲濕湯。俱可量用。日久病深。宜用滋陰地黃丸。</p>
<p>血疝者。狀如黃瓜。居陰毛之上。俗名便癰者是也。若在腿縫之上。左為魚口。右為便毒。非血疝也。治之之法。亦照囊癰調理。</p>
<p>氣疝者。不痛不癢。但覺腫墜。此因氣怒鬱於下焦。宜用柴胡平肝湯。日久氣虛。亦用橘練補中湯。其在小兒名為偏墜。得之父精怯弱。強力入房。因而有子。胎中病也。亦用橘練補中湯。</p>
<p>狐疝者。晝則腫墜。夜則入腹。按之有聲。如狐之晝出而夜歸也。故名狐疝。治之難愈。橘練補中湯。八味地黃丸。審而用之。㿗疝者。陰囊脹大如升如斗。俗名沙㽽是也。每見身死之後。疝氣全消。可見陰囊之大。全是氣虛下陷。苟於未大之前。常服橘練補中丸。亦可免其漸長。不可誤認水腫。妄用針刺。（景岳以疝病屬氣不疏治宜舒氣為主是創言也若遇七疝皆屬氣凝治以舒氣則凝者散而疝自愈矣。）</p>
<p><u>柴葛二妙湯</u></p>
<p>柴胡　黃芩　半夏　甘草　乾葛　赤芍　蒼朮　黃柏　枳殼　厚朴　川芎　香附</p>
<p><u>橘練補中湯</u></p>
<p>人參　黃耆　白朮　甘草　當歸　陳皮　升麻　柴胡　橘核　川練子　白芍　小茴香</p>
<p>此方雖能升提下陷。氣虛甚者。無參則不效。</p>
<p><u>清肝滲濕湯</u></p>
<p>當歸　川芎　白芍　熟地　柴胡　黃岑　山梔　龍膽草　花粉　甘草　澤瀉　木通</p>
<p>熱盛加黃連（治疝氣偏墜腫不可忍附方　槐子一錢炒黑色為末入鹽三分空心黃酒調服）</p>
<p>黃酒調服</p>
<p><u>滋陰內托散</u></p>
<p>當歸　川芎　白芍　熟地　黃耆　澤瀉　皂角刺　穿山甲</p>
<p>又方杏仁（去皮尖）　茴香（各一兩）　蔥白（焙乾五錢）</p>
<p>共為末。每服五錢。黃酒調服。嚼核桃肉嚥下。</p>
<p><u>蟠蔥散</u>（散寒利氣之主方）</p>
<p>蒼朮　三稜　砂仁　丁香　肉桂　炮姜　玄胡　白茯　甘草　蔥白</p>
<p><u>八角茴香丸</u></p>
<p>山楂　枳實　大茴　吳萸　荔枝核</p>
<p><u>龍膽瀉肝湯</u></p>
<p>龍膽草　連翹　生地　黃芩　黃連　山梔　歸尾　甘草　澤瀉　車前子　木通　大黃</p>
<p><u>柴胡平肝湯</u></p>
<p>柴胡　黃芩　半夏　甘草　白芍　川芎　香附</p>

<h2>腳氣</h2>
<p>腳氣者。腿足腫痛也。腿足之下。乃肝脾腎三陰所主。三陰之脈。起於足之中指。若當風洗足。或汗出風吹。風邪客之。上動於氣。故名腳氣。初起不覺。因他病乃成。即如腿足紅腫。惡寒發熱。脈浮弦數者。素有風濕。又遇奔走勞役。飲食鬱結。水穀之氣。陷於至陰。故成此症。宜用柴葛二妙湯。散去表邪。再用寬中化滯之劑。自無不痊。大便不通者。法當下之。至於白腫不紅者。其候有寒濕風濕濕痰之分。寒濕脈沉細緩。多因坐臥濕地。寒月涉水。濕邪在表。未郁為熱。宜用補中湯加桂枝獨活之類。日久寒鬱為熱。不可以寒濕論也。風濕脈浮弦細。微微帶數。風傷氣分。未入於榮。所以白而不紅。治以發散為主。不宜天涼。當用疏風勝濕湯。若夫脈來弦數。白腫不紅者。此屬濕痰。宜用柴陳四妙之類。不可以濕治也。又有乾腳氣者。不腫不紅。但骨內痠痛。其候有輕重之殊。輕者痛而不甚。脈浮弦細。微微帶數。亦用疏風勝濕湯。重者惡寒發熱。脈浮弦急。痛而難忍。亦因水穀之氣下陷。宜用柴葛二妙湯。餘邪不解。可用除濕養榮之劑。外有腳丫出水。雖由濕熱所使。亦必有風當以養血除濕為主。少佐以防風獨活。方為盡致。至若足跟作痛。多屬陰處。用六味丸。加苡仁木瓜杜仲五茄皮之類。斯得之矣。</p>
<p><u>柴葛二妙湯</u></p>
<p>柴胡　黃芩　半夏　甘草　赤芍　乾葛　蒼朮　黃柏　厚朴　山楂　木瓜　檳椰</p>
<p>此即疝氣門去川穹香附。加木瓜檳榔是也。</p>
<p><u>疏風勝濕湯</u></p>
<p>紫蘇　乾葛　柴胡　川芎　陳皮　半夏　前胡　苡仁　木瓜　續斷　枳殼　香附　黃芩</p>
<p><u>柴陳四妙湯</u></p>
<p>柴胡　黃芩　半夏　甘草　陳皮　白茯　蒼朮　黃柏　防風　金銀花　貝母　花粉　山梔</p>
<p><u>除濕養榮湯</u></p>
<p>當歸　川芎　白芍　熟地　黃芩　知母　木瓜　苡仁　續斷　五茄皮　牛膝　杜仲　車前子　獨活　防風　秦艽</p>

<h2>痿症</h2>
<p>痿者足痛不能行也。凡人壯歲之時。氣血未衰。或年及五旬。形體不甚瘦弱者。多因濕熱傷脾。不能束骨。未可即以痿論也。蓋熱傷其血。則大筋為之軟短。熱傷其筋。則小筋為之弛長。所以機關不利。宜用滋筋養榮湯。脈沉細緩者。宜用獨活寄生湯。至於年過五十。形體怯弱者。此屬痿症無疑。內經曰。肺熱葉焦。五臟因而受之。發為痿躄。又謂治痿必主陽明。蓋言陽明胃土。為諸筋之宗。腎水不足。不能上制心火。火來刑金。無以平木。肝邪得以克賊脾土。而痿症作矣。治當補腎水之虛。瀉心火之亢。使肺金清而肝木有制。脾自不傷也。大凡初起身熱。脈來洪數。腿痛甚而難忍者。心火流於下焦。內經所謂陽精所降。其人夭者是也。宜用六味地黃湯。加犀角牛膝木瓜麥冬之類。若脈來細數。痛而不甚者。宜用加味地黃湯。肥甘厚味。辛熱菸酒。既不可嘗。恐助肺家之火。痛愈甚也。然痿症固屬肺熱。若陽明氣虛。宗筋失養。亦令足痿。宜用加味八物湯。至於先天命門火衰。又宜大造地黃丸之類。不可拘於一法也。</p>
<p><u>滋筋養榮湯</u></p>
<p>當歸　川芎　白芍　熟地　續斷　杜仲　牛膝　木瓜　苡仁　車前　五茄皮　麥冬　石斛　獨活　秦皮</p>
<p><u>獨活寄生湯</u></p>
<p>獨活　細辛　當歸　防風　杜仲　桑寄生　川芎　熟地　桂枝　甘草　秦艽　牛膝　白茯　人參</p>
<p><u>加味八物湯</u></p>
<p>人參　白朮　白茯　甘草　當歸　川芎　白芍　熟地　阿膠　續斷　天冬　杜仲　山萸　枸杞　五味　黃耆</p>
