<header data-type="book">
<h1>幼科醫驗</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>秦昌遇</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
</header>

<h1>卷上</h1>

<h2>初生雜症</h2>
<p>（案1）一兒，十九朝。至夜多啼，腹中痛，漉漉有聲，面色紅赤，舌腫耳脹，口頻撮起如魚吸水。此胎熱而兼驚也。宜兼治之。</p>
<p>鉤藤　川連　連翹　小生地　粉丹皮　赤芍　甘草　燈心</p>
<p>煎一小杯，隨服二三匙，徐徐下之。</p>
<p>（案2）一兒，生月餘。身發微紅細瘰，多啼，腹鳴。亦驚熱也。</p>
<p>川連　連翹　生地　嫩鉤藤　白芍藥　銀花　甘草</p>
<p>（案3）一兒，初生。聲啞面黃，兩目腫，大、小溲閉，手足逆冷。胎熱無疑。投涼劑。</p>
<p>薄荷葉　連翹　大力子　桔梗　甘草　川黃連　荊芥　根生地　木通　黑梔　燈心草</p>
<p>（案4）一兒，兩目多眵，痰壅氣急，手足牽引，二便閉澀，有時掣跳，目微斜視。宜散風清熱。</p>
<p>荊芥　防風　根生地　川黃連　當歸　連翹　山梔　細木通　西赤芍　甘草</p>
<p>（案5）一兒，三日不大便，多啼不寧。以蔥管探入穀道，遂去焦黃糞。投後劑而安。</p>
<p>川黃連　連翹　黑山梔　陳皮　木通　粉甘草</p>
<p>（案6）一兒面紅，足屈伸不已。此由胎中有驚熱，風火相摶，神魂不守，故有此症。</p>
<p>川黃連　連翹　山梔　木通　新會皮　小青皮　鉤藤　甘草</p>
<p>（案7）兒大便艱，啼哭不已。乳母云：始生二日，下焦黃糞少許，隨後每大便則啼哭不止，甚至臍突，兼之身發紅瘰，耳左發一紅泡，啼時兩足屈伸不已。余謂：症屬肝經，受胎之時，當有惱怒所致。宜疏肝清熱為主，防其發驚。後月餘果發急驚而死。</p>
<p>川黃連　連翹　生地　木通　鉤藤鉤　小青皮　甘草</p>
<p>（案8）一兒，初生。遍身發瘡，成片潰爛。此係胎中感熱，熱毒蘊釀而成。清涼解毒為主。</p>
<p>荊芥　防風　連翹　川黃連　大力子　元參　木通　蟬蛻　川黃柏　淨銀花　甘草</p>
<p>（案9）兒，月餘。遍身發微紅細瘰。宜清涼解毒，兼調乳母。不可使用敷抹之品，恐毒無出泄，入腹尤甚也。</p>
<p>生地　川連　銀花　粉甘草</p>
<p>又：荊芥　防風　連翹　黑元參　天花粉　黃柏　木通　銀花　燈草</p>
<p>乳母服。</p>
<p>（案10）一兒，初生。面色㿠白，腹上青筋脹急，喉間呃呃有聲。此由產母喜食生冷，寒氣侵兒臟腑所致。宜溫平之劑。</p>
<p>木香　炙甘草　延胡索　鉤藤　乳香　厚朴</p>
<p>（案11）兒，三四月許。身面俱黃，鼻凝血跡，發一青紫塊於口旁，夜多啼哭煩躁。醫以疸治之不效。余意須涼血清熱，其黃自退，諸症當次第而愈。病家初不心信，服之果效。</p>
<p>當歸　生地　川黃連　白芍藥　連翹　陳皮　鉤藤　細木通　粉甘草</p>
<p>服二劑，見形色和平，黃亦減半。至第三日，口內上齶紅腫，即前方加桔梗、花粉。</p>
<p>（案12）一兒，二三月許。睡中聞雷，輒驚啼不止，身曲傴僂，氣不舒暢。時又外感，咳嗽有痰。宜寬氣利驚，兼解表消痰。</p>
<p>鉤藤　甘草　江枳殼　陳膽星　前胡　陳皮　蘇葉　青防風</p>
<p>（案13）一月外小兒。面黃身熱，小便赤澀。時當炎夏，服六一散而愈。</p>
<p>（案14）一兒，六七月許。忽夜啼不止。額帶青色。投以後方，不再劑而愈。</p>
<p>新會皮　枳殼　赤芍藥　鉤藤　川連　粉甘草</p>
<p>（案15）一兒，歲許。睡臥不寧，啼哭時作。先服紫金錠一丸，隨服後方二劑而安。</p>
<p>新會皮　厚朴　白芍藥　青皮　蟬退　粉甘草</p>
<p>（案16）一兒，數月。面發微紅細瘰。此風熱所致，散之自愈。</p>
<p>荊芥　防風　新會皮　江枳殼　木通　甘草</p>
<p>（案17）一兒，甫月餘。賦稟瘦弱，面黃多啼，兼瀉。</p>
<p>新會皮　鉤藤　赤茯苓　木通　甘草</p>
<p>兒較前賦稟稍厚。又長月餘，症患相似，但不為殊耳。前方去茯苓，加枳殼。又小便不利，加澤瀉、燈心。</p>
<p>（案18）兒，六、七月許。遍身發黃，腹脹氣急，兼微熱往來。時當夏令，必暑邪內伏。以祛暑寬腹利水之劑，五劑而安。</p>
<p>香薷　川黃連　青皮　厚朴　大腹皮　木通　茵陳蒿　赤苓　澤瀉　生薑衣</p>
<p>（案19）兒，初生。喉舌腫脹。乃熱毒鬱於心脾。用竹瀝浸黃柏，時時點之。以犀角丸加減服之。</p>
<p>元參　花粉　桔梗　川黃連　大力子　連翹　赤芍　木通　當歸身　根生地　黃柏　犀角　甘草</p>
<p>（案20）一兒，歲許。自臂紅腫，過一夜即遊走兩脅。此赤遊丹毒也。延外科砭治，進以後劑。</p>
<p>元參　桔梗　大力子　薄荷葉　花粉　荊芥　防風</p>
<p>（案21）一兒，喉旁腫脹，乳飲不下。總是胎中素受熱邪，生後復感外熱，痰壅氣滯，郁遏於喉間。宜涼膈散加減治之。</p>
<p>荊芥　防風　薄荷葉　川黃連　木通　花粉　甘草</p>
<p>如初起，只宜表散，不可專用寒涼。</p>
<p>凡小兒先有胎熱，復外感濕熱，內外熏蒸，煎熬陰血，血得熱自然流散妄行，遊走肌膚，片片若紫霞狀。若毒盛熱甚，可與外科商之，砭去毒血，隨服解毒之劑。惟百日內兒不可砭，以其肌肉柔嫩，難任耳。</p>
<p>元參　桔梗　川黃連　荊芥　青防風　赤芍　薄荷　淨銀花　連翹</p>
<p>（案22）一兒，囟門下陷。大都得於先天不足，氣血兩虛，不能上充腦髓，是以成坑耳。宜補氣助脾為主。</p>
<p>人參　白朮　茯苓　淮山藥　新會皮　炙草</p>
<p>為末，量兒大小服之。</p>
<p>（案23）一兒，五月許。陰囊潰爛，面黃身疥，腹實煩啼。總之，胎熱驚毒，延外科治之。陰囊瘡疥俱愈，煩啼亦減，第不可多進寒涼，恐腸胃得寒，凝滯作痛耳。</p>
<p>赤芍藥　木通　鉤藤　川黃連　連翹　淨銀花</p>
<p>（案24）一兒，初生。口有白屑，面黃身熱，煩啼不寧。亦胎熱而兼盤腸吊痛也。宜兼治之。</p>
<p>赤芍藥　生地　鉤藤　新會皮　黃連　粉甘草</p>
<p>如腹實加枳殼；腸鳴、身曲傴僂加延胡；重舌雪口加連翹、木通、丹皮；遍身有瘰如疥加黃柏。</p>
<p>（案25）一兒，三月許。鼻凝血跡，面黃，腹微實，多啼不寧。此胎熱而兼盤腸驚也。</p>
<p>新會皮　枳殼　黑山梔　鉤藤　木通　粉甘草</p>
<p>（案26）一兒，歲許。肥白。有火有痰，服消痰解熱之劑，症已將愈。復發遍身瘡疥，小便不利，並耳後有一痰塊，形如小癤。總以胎毒乘熱勢而發於外也。</p>
<p>元參　桔梗　花粉　黑山梔　細木通　前胡　甘草　連翹　江枳殼　新會皮</p>
<p>如耳後痰塊不消，加貝母。</p>
<p>（案27）一兒向有胎熱發黃。調治愈後，繼之身熱，遍發青塊，痰鳴氣促，兩目眥、上下唇皆有血水，舌紅腫，由內有蓄熱，外感暑邪所致。清熱解毒為主。</p>
<p>新會皮　江枳殼　黃芩　花粉　山梔　川黃連　麥門冬　香薷　甘草</p>
<p>凡治失血症而用陳皮、枳殼，正以折其炎上之勢耳。</p>

<h2>胎病</h2>
<p>（案1）一兒，始生二月。遍身發黃，更兼壯熱，作止有時，似乎瘧疾。數日後腹大臍突，面黃更甚，熱勢未減，此名「胎黃」。法宜利水道而佐以寬腹助脾之劑。乳母亦宜戒氣，並服煎劑為妙。</p>
<p>川黃連　建澤瀉　茯苓　木通　香薷　淮山藥　紫厚朴　青皮　陳皮　茵陳　大腹皮生薑衣</p>
<p>（案2）一兒，胎毒綿延已久，元氣損壞極矣。急當解毒藥中兼養血為主。乳母亦服煎劑。</p>
<p>當歸　生地　黃連　細木通　連翹仁　人參　甘草　地丁　金銀花　淨蟬衣</p>
<p>（案3）一兒，數月。肛門與陰囊患紫片。此因胎毒流於大腸，更兼浮腫、痰多。慮其發驚，宜清肝解毒。</p>
<p>陳皮　枳殼　鉤藤　陳膽星　淨蟬衣　桔梗　荊芥　木通　明天麻　黑元參　犀角　川連　延胡</p>
<p>（案4）一兒，生四月。患胎瘡，頭面更盛，肢體肥壯，咳痰氣急。慮其發驚，宜疏肺順氣、消痰為先，解毒次之。</p>
<p>陳皮　枳殼　前胡　熟蘇子　瓜蔞仁　桔梗　杏仁　鉤藤　陳膽星</p>
<p>（案5）一兒，胎熱。兩目腫痛，二便不利，頭面手足悉冷，聲啞面黃。</p>
<p>薄荷　連翹　大力子　荊芥穗　甘草　桔梗　生地　川黃連　黑山梔　木通</p>
<p>（案6）一女，甫月餘。肚腹堅硬，囟門作腫，身熱氣粗，舌腫塞口，不能吮乳，病甚危急。宜審緩急以治之。先用芒硝一錢，青黛五分，硼砂六分，冰片三釐共研細擦之。其舌漸小，乳雖不能吮，而滴入口中者已能咽矣。隨用三黃丸磨服，大便下如稠膠者三四次。是晚便能乳能睡，腹脹亦減，但熱未除，囟尚腫，手足微掣。以煎劑連服二日而諸症平復。</p>
<p>鉤藤　枳殼　新會皮　木通　川黃連　黃芩　膽星</p>
<p>（案7）女，月餘。夜啼不止，四五日後，發火灼瘡於下部，壯熱煩躁，嘔逆不乳。因胎中感母氣之血熱，外則衣被過厚，夾攻而成此症也。其瘡以熟菜油潤之。宜清熱解毒為主。</p>
<p>大黃　黃芩　川黃連　江枳殼　甘草　木通　赤芍</p>
<p>服後大便通利，熱未除，灼瘡更甚。加紫草、犀角二劑而愈。</p>
<p>（案8）一兒，夜啼不止。數日後，發火灼瘡於左臉，腹堅，叫號不已。延外科用磁砭其患處，出紫黑血，隨用涼血解毒之劑。</p>
<p>木通　生地　荊芥　江枳殼　西赤芍　犀角　甘草　連翹　大力子</p>
<p>服二劑，加黃連、黃芩，因稟氣薄，不用大黃。每日砭其毒盛之處，數日方得挽回。又服滋養元氣之劑，數日而痊。</p>
<p>（案9）一兒，向患胎熱未除，偶觸遂發熱面黃，神倦、羸瘦、少食。此係胎熱內郁，防有口疳唇燥之症。須用犀角地黃丸而痊。</p>
<p>當歸　橘紅　連翹　川黃連　粉丹皮　白芍　知母　甘草　烏犀角　黑元參</p>

<h2>驚風總論</h2>
<p>驚風一症，大抵由外感風邪而成者，有因驚觸及聞聲響而得者，亦有內熱生驚，肝風心火二臟相摶而成者。慢驚不省人事，為其痰涎壅塞，迷及心竅而然也。</p>

<h2>急驚</h2>
<p>（案1）一兒壯熱面赤，目睛上視，拳握口噤，痰鳴氣喘，不省人事。此痰熱相侵，風火相摶，痰凝氣道，有妨升降而然也。投以豁痰寬氣，截風定搐。</p>
<p>青防風　紫蘇（全）　鉤藤　前胡　天麻　新會皮　陳膽星　木通　竹瀝</p>
<p>服後又進驚藥，覺痰喘稍緩，第煩熱面赤，神氣不爽。即前方加黃芩、黃連、殭蠶一劑而安。</p>
<p>（案2）一兒，患急驚，口噤痰壅，湯藥難入。先以紙條蘸搐鼻散取嚏，以通其關竅。候牙關稍開，復以薑汁少許探喉，吐出痰涎碗許。然後以祛痰定搐之劑，投之而愈。</p>
<p>（案3）一兒，身多瘡疥，睡中驚惕。醫以驚藥投之，不能奏效。延余視之，乃陰血為瘡疥耗損，不能榮養肌肉，主持筋骨耳。豈可以驚治乎！宜解毒為主，佐以養血之劑，一服而驚止，三四服而瘡亦愈。</p>

<h2>慢驚</h2>
<p>（案1）一兒始由外感發熱不止，繼增嘔吐，睡則揚睛，似睡非睡，輒成慢症。急用扶脾、消痰、防搐之劑，幾其僥倖於萬一耳。</p>
<p>陳皮　茯苓　陳膽星　明天麻　甘草　鉤藤　殭蠶</p>
<p>明日諸症稍減，前方去天麻、膽星，加人參、半夏。</p>
<p>（案2）一兒，初患嘔吐，疑其轉乳，竟嘔吐不止。脾氣大虛，此時速進參朮輩，慢驚可免。越數日，始延醫調治，不效。邀余視之，面色帶紅，已知脾陰大虧，陽無所附，故浮越於外而然，不久居之象也。一醫不解，猶云可治。余辭不治，主人強藥，勉擬後方投之。越三日而卒。</p>
<p>陳皮　茯苓　人參　明天麻　炒殭蠶　鉤藤　甘草</p>
<p>（案3）一兒，水瀉三四日不止。作渴喜飲，面色無神，手足逆冷。將成慢驚，急以實脾利水之劑投之。</p>
<p>白朮　茯苓　淮山藥　新會皮　甘草　車前　豬苓　澤瀉　厚肉桂</p>
<p>服一劑稍減，即前方去肉桂，加人參五分。</p>
<p>（案4）一兒，身有瘡瘍，將成慢驚，投後二劑而愈。</p>
<p>陳膽星　新會皮　枳殼　檳榔　竹瀝　西牛黃　法半夏　蘇子　甘草</p>
<p>（案5）一兒，嘔吐七日不止，已成慢驚。</p>
<p>白朮　法半夏　白茯苓　陳皮　甘草　鉤藤　淮山藥</p>
<p>服一劑後，又加人參五分。</p>
<p>（案6）一兒，素稟嬌弱，自幼曾患驚風，服藥愈後，因飲食不節，脾胃受傷，以致積熱未除。面色痿黃，腹痛時作，脾胃欠實，肌膚瘦削，口角微邪。此心經受熱，脾家有風，二陽相鼓，風火相摶之症。急宜清熱養陰，庶日後無癲癇之患。</p>
<p>天麻　膽星　川黃連　新會皮　枳實　殭蠶　防風　黑山梔　龍膽草　當歸　茯神　遠志　白附子</p>
<p>煉蜜為丸，每服一錢。</p>
<p>（案7）一兒，壯熱煩躁，汗出不止，服藥已愈。食飯太早，發熱煩躁更甚，遂至目睛少神，鼻竅開張，痰涎壅盛，狀似驚風。</p>
<p>淡豆豉　新會皮　膽星　鉤藤　牛黃　黑山梔</p>
<p>（案8）一兒，身熱僵仆，昏沉不醒，目睛上視，六脈弦而帶數。此痰涎稠黏膠固，痞塞不通，榮衛之氣不能流行，狀似瘧疾，又似急驚，不可不辨。一友以痘候治之，且云：今晚必見標矣。是晚即涼，明午又發。予以消痰丸，並進以消痰祛風之劑，不再發而愈。若作痘治，誤矣。</p>
<p>陳皮　法半夏　陳膽星　防風　青皮　枳殼　草果仁　粉葛根　檳榔　柴胡　黃芩</p>
<p>（案9）一兒，身熱兩日，每辰至酉即涼，第三日發熱至未。忽然兩目上視，手足搐掣，哭不出聲。此變瘧之候，因感邪太甚，拂鬱於內，未見其先發寒耳，若以驚風治之則誤矣。予投以消痰理氣散邪之劑。明晨果戰寒、發熱，顯然是瘧矣。</p>
<p>陳皮　膽星　法半夏　青防風　柴胡　前胡　青皮　江枳殼　粉葛根　黃芩</p>
<p>又：陳皮　膽星　法半夏　軟柴胡　青皮　黃芩　茯苓　尖檳榔　草果仁</p>
<p>（案10）一兒，外感將愈，曾患吐瀉。醫不知其傷食之故，故乃云：防其變為慢驚，令多進米食且以參、術補之。遂腹痛煩躁，身熱如火，舌上白苔，汗出不止。此本得之傷食挾暑，又誤服參、耆，無怪其疾之愈甚。余以香薷飲加山楂、枳實、石膏，二劑而痊。</p>
<p>（案11）一兒，壯熱五六日不止。困倦弄舌，咳嗽氣促，亦是時瘧。若不解散，恐熱久變成驚風也。</p>
<p>薄荷　陳皮　枳殼　紫蘇葉　黑元參　桔梗　黃芩　黃連　淡豆豉　粉甘草</p>
<p>（案12）一女，先作吐，後水瀉不止。面色㿠白，兩目露睛，吁氣昏睡，手足厥冷。此脾胃俱損，真陽消耗，陰邪獨盛之候。速宜溫補脾胃，尚無僥倖。</p>
<p>人參　白朮　茯苓　炙甘草　廣木香　肉果　木通　白芍</p>
<p>（案13）一兒，生五十日。氣促咳嗽，痰涎壅盛，目睛上視，哭不出聲，俗名「肺風痰喘」。此因內有熱而外有風，郁遏而釀成此症，與驚風相似，但手足不搐掣，為殊耳。綿延日久，變成驚風，不治者多矣。先投滾痰丸二錠，定後方服之。</p>
<p>防風　前胡　陳皮　紫蘇子、葉　甜杏仁　枳殼　黃芩　桑皮</p>
<p>又：服定喘、消痰、利驚、防搐。</p>
<p>陳皮　枳殼　蘇子　陳膽星　黑元參　前胡　桔梗　蔞仁　天花粉　枯黃芩　鉤藤　竹瀝　牛黃</p>
<p>（案14）一女，未及周歲。身熱夜啼，時多煩躁，多汗神昏，不省人事，兼之痰涎壅塞，驚之兆也。此內有積痰，外感風寒所致。宜清火散風，火清而肝平，肝平而風熱自退。</p>
<p>紫金錠</p>
<p>柴胡　防風　前胡　新會皮　法半夏　枳殼　黃芩　膽星　鉤藤鉤</p>
<p>（案15）一兒，曾以食傷脾胃，故稍有所感，便昏僕不省，手足微搐，嘔吐三四日。俟大便通後，始得甦醒，稍進飲食。此由胃家不能遊溢精氣，脾家不能運化精微，脾胃兩虛，其氣有升無降，壅遏不通，故有此症。當專理其脾胃，一切寒涼克伐在所不宜，庶日後無虛癇之患。</p>
<p>人參　白朮　茯苓　半夏曲　新會皮　甘草　天麻　鉤藤　川黃連　龍膽草　楂肉</p>
<p>（案16）一兒，目睛上視，哭聲不清，手足搐掣，但喊哭，肚上起塊，此名「奔豚」。宜順氣、消痰、防驚之劑。</p>
<p>橘紅　膽星　鉤藤　熟蘇子　桑白皮　黃芩　前胡　枳殼　黑元參　嫩桔梗</p>
<p>第二日後，痰涎壅塞，啼不出聲，舌強不能吮乳，已成慢驚。遂用赤足蜈蚣一條，蠍尾薄荷湯洗淨焙乾，蒲黃末等分，白湯送下。</p>
<p>（案17）一兒，十六歲。心經有熱，睡臥驚惕。以天王補心丹加減治之。</p>
<p>生地　當歸　茯神　酸棗仁　麥門冬　人參　白芍　元參　肥知母　石菖蒲　黃連　甘草　白芍藥</p>
<p>蜜丸。</p>
<p>（案18）一兒，身熱咳嗽，喉中痰鳴，發搐。</p>
<p>前胡　蘇子　杏仁　新會皮　江枳殼　防風　桔梗　桑皮　陳膽星</p>
<p>（案19）一兒，因發熱之後，變為慢驚，喉中痰響，眼半開半合，唇面俱紅，乃虛火炎上故也。且以手操其筋根，毫不知痛，掐入人中，稍知痛癢。痰涎壅滯，神脫之兆也，決不可治，勉擬。</p>
<p>竹瀝　牛黃　新會皮　法半夏　人參</p>
<p>服後，病勢不減，痰涎如故，必死無疑矣。</p>
<p>（案20）一兒，瘡後變為慢驚，眼半開半合，操其筋根，稍知痛癢。用竹瀝、牛黃，痰涎稍減。又身上生瘡，防其瘡毒入腹，故雖屬虛症，不可用參。</p>
<p>牛黃　竹瀝　膽星　新會皮　法半夏　檳榔　枳殼　薑汁</p>
<p>（案21）一兒，面色青，曾發搐二三次。慮成癇症，投祛痰清火平肝之劑。</p>
<p>天麻　殭蠶　川連　江枳實　鉤藤鉤　膽星　陳皮　法夏　粉甘草</p>
<p>蜜丸。</p>
<p>（案22）一兒，傷風。因嗜麵食，遂致發熱不止。目睛上竄，面青舌白，似睡非睡，脈洪而無力。胸膈尚滯，泄瀉無度，乃胃虛不能運化故也。不可純用消導。</p>
<p>人參　廣皮　楂肉　法半夏　陳膽星　麥芽　鉤藤　白芍</p>
<p>滾痰丸一枚。</p>
<p>（案23）一兒，壯熱七日，痰壅氣喘，腹大堅，小溲不利，鼻有黑色，虎口紋紫黑，舌乾煩躁。宜順氣、消痰、清熱。</p>
<p>新會皮　楂肉　江枳殼　蘇子　膽星　葶藶子　鉤藤　黑元參　牛黃　竹瀝</p>
<p>（案24）一兒，歲余。面色青慘，多痰，泄瀉。乃脾虛不運，肝木來侮之象也。</p>
<p>人參　白朮　茯苓　法半夏　新會皮　澤瀉　淮藥　炙草</p>
<p>（案25）一兒，三四歲。身熱痰喘，睡中時常坐起。此積熱生風也。祛痰消積為主。</p>
<p>前胡　桑白皮　桔梗　廣皮　川黃連　楂肉　黑山梔　黃芩　知母　白芍藥　當歸　粉甘草</p>

<h2>諸熱總論</h2>
<p>六脈細數，病在心腎。夫童男讀書傷於心部，並及其腎，何耶？大凡虛損之疾，不獨一類，丹溪云：喜怒不節，起居不時，飲食失宜，一有所傷，皆損其氣。氣衰則火旺，火旺則乘其脾肺，脾肺虧損則不能滋榮百脈而諸證蜂起。為潮熱，為短氣，為腳軟，為咳嗽，為倦怠，為血痰，為浮腫，為惡熱、惡寒，或寒熱交作，或脅痛，或嘔吐痰沫，或不能睡，或不思飲食，或飲食不為肌膚，一皆虛損之候也。大忌寒涼克伐之劑，宜養正為先。</p>
<p>通用：人參　黃耆　知母　新會皮　地骨皮　秦艽　柴胡　鱉甲　白茯苓　當歸身　生地　白芍</p>
<p>潮熱不發於晝而發於夜，此陰分受傷也，故用歸、芍、地黃為佐。氣有生血之功，血無益氣之理，陽生則陰長，故用參、耆為君。其他如：鱉甲、知、柴皆制肝滋陰，扶所不勝耳。貝母、半夏不過解鬱、健脾、消痰，無痰則去之。若嘔吐痰沫，屬腎虛水泛者，非二藥所能治，宜地黃膏時時服之則愈，且此膏與前藥並行而不背者也。附加減於後。</p>
<p>脾胃不實加白朮，暫去歸、地；熱不止加青蒿；心虛加茯神、棗仁；食不化加山楂；痰、嗽加半夏曲；乾渴加麥冬、五味；汗多倍黃耆、棗仁、浮麥湯煎藥。</p>

<h2>疳積</h2>
<p>（案1）一兒，面黃腹脹，溲白如泔，此熱氣使然也。觀水體清而火體濁，是可辨也。</p>
<p>陳皮　楂肉　紫厚朴　川黃連　白芍　木通　澤瀉</p>
<p>（案2）一兒，面色黃萎，時嘔清水，腹痛止作有時，此蟲積也。前方加檳榔、烏梅、川楝子。</p>
<p>（案3）一兒，三、四歲。疳積久而不愈，面黃腹大，手足心熱，四肢瘦弱。服二三十劑未即見效，以積症無近功也。</p>
<p>陳皮　山楂　麥芽　川黃連　銀柴胡　知母　骨皮　白芍</p>
<p>（案4）一兒，面黃腹大，睡中不時啼哭，非實有驚也。因飲食不節，脾胃受傷所致，宜和中消食為主。</p>
<p>（案5）一兒，歲許。母亡缺乳，哺飯太早，耗傷元氣，面色痿黃，身體羸弱，又感風寒。峻投發散，恐有犯虛之戒。</p>
<p>柴胡　荊芥　知母　地骨皮　江枳殼　陳皮　楂肉　甘草</p>
<p>（案6）一兒，三歲。唇紅煩躁，項不能舉，小水不利，眼白帶紅，四肢瘦削，作渴喜飲。此乃疳家之甚症，無成法可准，因病家強藥，權以後劑投之。</p>
<p>陳皮　茯苓　川黃連　地骨皮　澤瀉　芍藥　楂肉</p>
<p>（案7）一兒，腹實且熱，兩目羞明，微有障翳，此名「肝疳」。以雞肝散服之，兼服消積藥中加池菊、穀精、膽草</p>
<p>（案8）一兒，腹微痛，兼潮熱往來。由傷食兼飲熱乳所致，消積藥中加知母、地骨皮、青皮。</p>
<p>（案9）一兒，善食、腹大、身熱、面黃、泄瀉，眼眨不已，至夜不明。余謂：競攻其積，恐脾胃愈損，宜消補兼施，並治其目。</p>
<p>陳皮　楂肉　川黃連　芍藥　白茯苓　白朮　蒼朮　穀精草　燈心</p>
<p>又服五疳丸數丸，調理半月而愈。</p>
<p>（案10）一兒，五歲。左目微腫，羞明淚出。乃脾火熾盛而然也。先服五疳丸十丸，空心米飲化下。接服肥兒丸十丸，再服後藥而愈。</p>
<p>白朮　茯苓　山楂肉　地骨皮　芍藥　膽草　川黃連　山藥</p>
<p>蜜丸。</p>
<p>（案11）一兒，五歲。兩目至夜不明，腹中微痛，定後方服之。</p>
<p>黃連　山楂　龍膽草　陳皮　炒麥芽　青黛　干蠶　使君肉　青皮　焦白朮　茅朮　牙皂</p>
<p>蜜丸。</p>
<p>（案12）一兒，數歲。素有食積，復因跌撲，腹痛欲死。</p>
<p>川楝子　檳榔　楂肉　麥芽　石菖蒲　楝根皮（搗汁入煎）</p>
<p>服前方，又投以烏梅湯。大便下如瘀血者二三次，痛又稍減，加桃仁、當歸、陳皮、紅花一大劑，進之甚效。再以前方去檳榔、楝根皮，調理半月而安。</p>
<p>（案13）一兒，七歲。有口渴、面黃、腹痛等症，因食冷粉團起，乃蟲食兼致而然。先與香稜丸十服，再進後丸藥。</p>
<p>廣皮　川連　麥芽　紫厚朴　地骨皮　白朮　青皮　楂肉　建神麯　使君肉　川楝</p>
<p>蜜丸，空心服二錢，臨臥再進一服。</p>
<p>（案14）一兒，六歲。由平時飲食不節，致傷脾胃，泄瀉作腫，咳嗽氣急。此為脾虛不能生肺金，《經》曰：「上盛下虛」，此之謂也。</p>
<p>人參　白朮　茯苓　淮山藥　煨肉果　澤瀉　桔梗</p>
<p>為末，另用車前三錢，煎湯去渣，調藥末一錢。</p>
<p>（案15）一兒，喜食茶葉，乃蟲症也。</p>
<p>廣皮　楂肉　建神麯　紫厚朴　麥芽　川連　白朮　雲茯苓　川楝子　蕪荑　甘草</p>
<p>另取花椒四兩、茶葉二兩，令炒汗出，去椒，食茶葉，令盡當愈，後果驗。</p>
<p>（案16）一兒，面黃、腹實，飲食少進。</p>
<p>陳皮　山楂　麥芽　川黃連　紫厚朴　神麯　白朮　甘草　胡黃連　白芍藥　山藥</p>
<p>蜜丸。</p>
<p>又：黃連　知母　地骨皮　白芍藥　山楂　白朮　山藥　龍膽草　新會皮　香附</p>
<p>蜜丸。</p>
<p>（案17）一兒向有積熱、骨蒸之患，綿延日久。飲食不節，起居失時，損傷胃氣。面色萎黃，身熱不止，泄瀉腸鳴，腹脹食減，困倦、盜汗，精神懶怯，身體羸瘦。此皆由脾氣敗壞，不能運化精微，積滯膠固而然。宜制肝補脾，兼消積清熱，方得全愈。若專攻其積，恐犯仲陽「內亡津液而成疳」之句也。</p>
<p>陳皮　芍藥　楂肉　川黃連　肥知母　地骨皮　白朮　茯苓　麥芽　軟柴胡　炙鱉甲　秦艽　厚朴　香附</p>
<p>連服六劑，較前稍減，但積熱未除，元氣未復，當於大補之中兼清熱消積。</p>
<p>人參　白朮　茯苓　綿黃耆　地骨皮　楂肉　陳皮　黃連　白芍藥　薏苡米</p>
<p>蜜丸。</p>
<p>（案18）一兒，六脈細數，肌膚羸弱，面色不榮，脾胃欠實，兼之腹痛氣滯等症。乃肝木侮脾土所致。當補脾、制肝、清心。庶日後無積熱瘧痢之患。</p>
<p>陳皮　楂肉　芍藥　白茯苓　於術炭　黃連　膽草　山藥　白茯神　焦茅朮　棗仁　麥芽</p>
<p>蜜丸。</p>
<p>（案19）一兒素稟嬌弱，向有積熱未除。每交夏令，常覺飲食少思，五心煩熱，冷汗如雨，身體瘦弱，骨蒸潮熱。宜補氣血藥中兼瀉火養陰，日後無虛損之症也。</p>
<p>生地　當歸　茯苓　秦艽肉　炙鱉甲　陳皮　香附　黃連　銀柴胡　地骨皮　知母　白芍</p>
<p>（案20）一兒，十四歲。患骨蒸勞熱之症。頭眩、作渴，胸膈飽悶，腰疼足軟，六脈細數。此皆心火消爍真陰，陰氣消耗，陽無所依，以致浮散於肌表之間，故成此症。《經》曰：「陰虛發熱」是也。宜滋陰養血，血旺而陽氣自制矣。</p>
<p>生地　當歸　川芎　白芍藥　麥門冬　香附　秦艽　知母　銀柴胡　軟柴胡　丹皮</p>
<p>（案21）一女面色痿黃兼青色，胃脘作痛。此由內有積熱，兼之惱怒所致。</p>
<p>青皮　檳榔　楂肉　江枳殼　臺烏藥　香附　麥芽　桔梗</p>
<p>（案22）一兒，十四歲。患積熱頭眩。此火在上，痰在下，火動痰升故也。宜導心經之火，祛肝臟之風。</p>
<p>陳皮　黃芩　黃連　龍膽草　白芍藥　防風　川芎　黑梔　半夏曲　明天麻　茯苓　楂肉</p>
<p>水泛丸。</p>
<p>（案23）一女飲食太過，腸胃受傷，骨瘦如柴，泄瀉無度，漸成丁奚，宜實脾消積。</p>
<p>陳皮　厚朴　山楂　川黃連　肉豆蔻　麥芽　白芍　茯苓　於術炭</p>
<p>（案24）一兒向有積熱未除，更兼外感。身熱稍緩，唇焦汗出，睡臥不寧，此表裡俱病。宜和解、清熱、消積。</p>
<p>陳皮　山楂　麥芽　江枳殼　黑山梔　柴胡　黃芩</p>
<p>第二日，身涼，但唇焦未痊。</p>
<p>陳皮　山楂　黃芩　川黃連　白芍藥　連翹　骨皮　當歸</p>
<p>（案25）一兒，蟲積下後，肌膚有熱，愛食乾糧，唇紅作渴而嘔。此脾陰受傷，肝火熾盛，久成疳勞。宜預防之。</p>
<p>芍藥　骨皮　大腹皮　茯苓　建澤瀉　白朮　烏梅</p>
<p>（案26）一兒，向有積熱骨蒸之患，今遇勞即發，久而不治，必成疳勞。</p>
<p>陳皮　山楂　芍藥　川黃連　龍膽草　柴胡　秦艽　知母　地骨皮　炒麥芽</p>
<p>（案27）一兒，內有積熱蘊釀，以致肌肉日漸羸瘦，手足逆冷而大便五六日一次。皆因脾陰不足。若用涼劑恐犯形寒飲冷之戒。</p>
<p>當歸　生地　白芍　川黃連　紫厚朴　麥芽</p>
<p>（案28）一兒，肌膚瘦削，大肉盡去。內熱頗甚，更兼痰涎壅盛，雖未泄瀉，已成危症，且以助脾消痰退熱之劑進。</p>
<p>橘紅　茯苓　貝母　山楂肉　川黃連　麥芽　前胡　芍藥　銀紫胡</p>
<p>（案29）一女，八歲。身熱不已，面色萎黃，四肢無力，精神減少。兼之瘡瘍，兩足甚冷，此積熱也。宜清火養陰，制肝補脾，消積。</p>
<p>（案30）一女面色無神，夜發潮熱，膝軟倦行，脈息虛數，此名「積蒸骨熱」。若久不治，必成疳弱。</p>
<p>知母　秦艽　陳皮　山楂肉　川黃連　麥芽　骨皮</p>
<p>（案31）一兒，面黃腹實，身熱微腫，此食積作脹。宜理脾、退腫、消食之劑。</p>
<p>陳皮　山楂　白朮　川黃連　建神麯　茯苓　麥芽　厚朴　淮山藥　使君肉　檳榔</p>
<p>（案32）一兒，肚腹實，痰嗽，驚跳，身熱。此積熱而兼外感也。</p>
<p>陳皮　山楂　麥芽　熟蘇子　紫厚朴　前胡　鉤藤　柴胡　肥知母</p>
<p>（案33）一兒，面黃額上毛豎，此積病也。</p>
<p>香稜散</p>
<p>（案34）一兒，患積熱，又兼脅痛、咳嗽。</p>
<p>柴胡　青皮　川黃連　白芍藥　知母　陳皮　山楂　炒麥芽　地骨皮　桔梗　前胡　甘草</p>
<p>（案35）一兒，十二歲。患積病，胃脘作痛，身熱，此積熱也。</p>
<p>山楂　陳皮　麥芽　紫厚朴　地骨皮　芍藥　甘草</p>
<p>（案36）一兒，面黃腹實，喉中痰鳴，此積症而兼風痰也。</p>
<p>香稜散，抱龍丸。</p>
<p>（案37）一兒，病後面色萎白，頭項有核。宜祛熱、補脾、消積、燥濕之劑。</p>
<p>白朮　茯苓　蒼朮　淮山藥　新會皮　山楂　建曲</p>
<p>（案38）一兒，素有積病，又身上生瘡，如圓眼大，不作膿。由積氣滯於脾胃所致。宜消積之劑。</p>
<p>山楂　陳皮　麥芽　紫厚朴　川黃連　銀花　連翹　甘草</p>
<p>（案39）一兒，身面俱黃，兼煩渴不止，小水頻數如血。乃食積傷脾，兼濕熱相乘耳。</p>
<p>陳皮　山楂　麥芽　紫厚朴　建澤瀉　木通　黑梔　川連　茵陳蒿　瞿麥</p>
<p>（案40）一女，十二歲。素有積熱，右脈弦數，左寸、關洪數。此心火爍肺之徵也。故其為嗽、為痰、為骨蒸內熱。宜清心火、扶脾土為要。</p>
<p>（案41）一兒，素有積熱，復感風寒，邪傳經絡，骨蒸潮熱，四肢倦怠，頭暈、作渴，心胸作痛，睡臥驚惕。乃飲食不節，損傷脾陰故也。法當清熱、養榮、制肝、補脾。</p>
<p>陳皮　當歸　知母　銀柴胡　炙鱉甲　麥冬　人參　茯苓　白芍藥　川黃連　楂肉　青皮　秦艽　淮山藥</p>
<p>服後稍愈，以時令炎熱，議安神補脾。</p>
<p>人參　白朮　茯苓　炙甘草　酸棗仁　山藥　白芍　川連　銀柴胡　地骨皮</p>
<p>（案42）一兒，十六歲。久有疳火，身體瘦小。時當夏令，咳嗽唇紅，飲食減少。宜降火清金為要，俟咳稍減再商。</p>
<p>元參　花粉　黃芩　黑山梔　天門冬　麥冬　川連　桔梗　新會皮</p>
<p>（案43）一兒，向有食積，身熱、喘嗽。曾服清脾消積之藥，下柳葉蟲數條，腹痛遂減。交夏忽胸膈大痛，痰喘如故，肌肉消瘦。此臟腑氣弱，濕熱熏蒸，漸成疳勞。</p>
<p>半夏　陳皮　檳榔　青皮　柴胡　烏梅</p>
<p>（案44）一兒，三四歲。面色萎黃，腹脹而熱，牙床疳腐，左頤下如敗卵。此形氣雖虛，因疳火炎上，補則反壅而不散，消積丸加減治之。</p>
<p>廣皮　厚朴　萊菔子　焦白朮　楂肉　芍藥　大腹皮　麥芽　建神麯　川連　澤瀉</p>
<p>又：陳皮　川黃連　芍藥　使君肉　甘草　楂肉　焦麥芽　白朮　紫厚朴</p>

<h2>諸吐</h2>
<p>（有虛、有寒、有熱、有傷乳、有風痰、有傷暑、有傷食）</p>
<p>（案1）一兒久熱不已，時見嘔吐。此脾胃受傷，兼之積熱蘊釀，真陰消爍，氣血因之耗損，恐有慢驚之慮。但痰熱內蓄，未可竟補，擬清熱養陰，佐以扶元。</p>
<p>人參　法半夏　新會皮　茯苓　藿香　川連　地骨皮</p>
<p>（案2）一兒，熱吐，下利紅積，面色萎黃，更兼腹痛。此食積下利也。</p>
<p>陳皮　厚朴　茯苓　白芍藥　青防風　柴胡　黃連　木通　建澤瀉　粉甘草</p>
<p>（案3）一兒，胸膈不寬，嘔吐黃水。此傷食而兼胃經有火也。經曰：「胃膈熱甚則為嘔」。</p>
<p>法半夏　黃芩　枳實　麥芽　枇杷葉　山楂肉　茯苓　竹茹</p>
<p>（案4）一兒身熱頭眩，噁心、嘔吐黃水，腹脹。此先傷於暑，復感風食而得也。</p>
<p>厚朴　法半夏　藿香　新會皮　香薷　黃連　黑山梔　楂肉　青防風</p>
<p>（案5）一兒，痰嗽作吐。</p>
<p>陳皮　半夏　柴胡　天花粉　嫩前胡　桑皮　桔梗　藿香　青防風</p>
<p>（案6）一兒，傷食作吐。</p>
<p>陳皮　厚朴　黃連　法半夏　山楂肉　麥芽　芍藥</p>
<p>（案7）一兒，傷食感冒，壯熱，腹脹作吐。</p>
<p>陳皮　厚朴　山楂肉　麥芽　川黃連　黃芩</p>
<p>又：人參　白朮　雲茯苓　陳皮　炙甘草　澤瀉　芍藥　淮山藥</p>
<p>（案8）一兒，吐不出。</p>
<p>厚朴　陳皮　山楂肉　藿香　法半夏　乾薑　枇杷葉</p>
<p>接服調理方：</p>
<p>新會皮　法半夏　白芍　茯苓　白朮　川黃連　淮山藥</p>
<p>（案9）一女傷乳吐瀉。</p>
<p>新會皮　紫厚朴　生薑　山楂　麥芽　法半夏</p>
<p>（案10）一兒，四歲。患耳疳，久服涼劑，致肌肉消瘦，唇紅作渴，嘔吐不食，泄瀉。以氣血先從耳疳而耗，繼以寒涼傷其脾胃，是以吐瀉並作也。急用獨參湯進之。俟吐勢稍緩再議。</p>
<p>按：嘔吐最易損及脾陰，脾主肌肉，久吐不止，自然肌肉不長；元神虛脫，虛火上炎，火燃則水竭，唇紅口渴勢所必至也。速為調治，庶圖僥倖。</p>
<p>人參　茯苓　廣藿香　烏梅　新會皮　生薑</p>
<p>（案11）一兒，吮乳即吐，目慢、神昏。乃滿而溢，非病也。以濃米飲代乳一晝夜，進後劑而愈。</p>
<p>陳皮　法半夏　茯苓　鉤藤　烏梅肉　殭蠶　廣藿香</p>
<p>（案12）一兒，面白神倦，吐乳不消。余知多乳而兼傷冷，溫胃為主。</p>
<p>陳皮　半夏　枇杷葉　生薑　廣藿香　木香　茯苓</p>
<p>（案13）一兒，暴吐，面紅作渴，屬傷暑。</p>
<p>香薷　厚朴　川黃連　建澤瀉　豬苓</p>
<p>（案14）一兒，吐黃水，胸膈飽滿。乃膈間有宿食，胃中有伏火故也。宜兼治之。</p>
<p>黃芩　枳實　陳皮　炒山楂　枇杷葉　麥芽</p>
<p>（案15）一兒，傷食，服藥稍減。又倍食以致停滯胃口，不能運化，腹痛欲吐而不能者二日。</p>
<p>香附　新會皮　山楂肉　麥芽　砂仁　厚朴　法半夏</p>
<p>（案16）一兒，不節乳食，吐不止，斷乳服藥而愈。但面白神倦，喜睡安靜，中氣猶未足也。大補脾胃為主。</p>
<p>人參　白朮　白茯苓　淮山藥　藿香　米仁　車前　建澤瀉</p>
<p>（案17）一兒，吐後復瀉，身微熱。乃脾胃兩虛所致。</p>
<p>人參　白朮　淮山藥　廣藿香　生薑　柴胡　法夏　粉甘草　新會皮</p>
<p>（案18）一兒，吐後，唇紅面黃，精神困乏，微腫。此水乘木侮之象，吐傷脾陰故也。實脾為主，利水伐肝佐之。</p>
<p>白朮　茯苓　新會皮　法半夏　米仁　木通　芍藥　淮山藥</p>
<p>（案19）一兒，素稟怯弱，因傷乳吐後，精神困倦，喜睡少食。定後方以固其脾，庶後無虛症之患也。</p>
<p>人參　白朮　薏苡米　淮山藥　炙草　白芍　陳米</p>
<p>共為末白湯調服。</p>
<p>（案20）一兒，夏月傷暑，夜啼不止，諸醫莫療。余問其：「大便通乎？」曰：「已三日不去矣。」用導法通之而安。</p>
<p>按：此症如誤用紫金錠，是以火濟火也，醫者慎之！</p>
<p>（案21）一兒感暑，身熱、嘔吐。用藿香茶調、益元散一服，身熱稍減，嘔吐未止。</p>
<p>白朮　柴胡　新會皮　紫厚朴　藿香　香薷　山楂　粉甘草</p>
<p>（案23）一兒，久熱不止，時見嘔吐，雖脾胃兩傷，不可竟補，因有痰熱內蓄，外邪未盡耳。宜清熱養陰之中，兼佐止嘔扶元之劑。</p>
<p>人參　茯苓　新會皮　地骨皮　法夏　黃連　藿香</p>

<h2>反胃</h2>
<p>（案1）一兒始以食積停滯下焦，又感寒氣鬱伏於腸胃，致朝食暮吐，小腹實而大便堅。《經》云：「朝人入出，是無火也。」潔古云：「朝入暮出，名下焦吐，皆本於寒。」今脈息遲緩，正合此症。用溫胃、順氣、通便之劑。</p>
<p>陳皮　香附　法半夏　紫厚朴　檳榔　丁香　木香　江枳殼</p>
<p>服二劑後，加桂三分、吳萸五粒。</p>
<p>（案2）一兒，素有積症，腹大而實。至春患脾泄，至夏飲食大減，延至九月，食積作嘔，純是餿酸清水，甚至水漿盡嘔，干食可納。此乃胃中有火，膈上有痰，氣逆者則㳅出清水，連乾者盡吐，火氣炎上故也。《經》云：「諸嘔吐酸，皆屬於火。」此兒向多怒氣，因氣鬱傷脾，怒結傷肝，肝火炎上所致。兼見大便堅，小便澀。皆鬱火為患，未可溫補。</p>
<p>陳皮　楂肉　江枳殼　白茯苓　甘草　青皮　香附　法半夏　鮮竹茹</p>

<h2>泄瀉</h2>
<p>（案1）一兒，半歲許。患泄瀉，色黃而有沫，將及月餘。面色如常，此吮母壞乳所致。宜補脾順氣，佐以消風。</p>
<p>白朮　茯苓　新會皮　淮山藥　米仁　甘草　木通　青防風　建澤瀉　木香</p>
<p>（案2）一兒，身熱，腹實，瀉而作痛，此「積症」也。</p>
<p>楂肉　陳皮　厚朴　白茯苓　制香附　白芍　木通　澤瀉　細青皮</p>
<p>服後，病勢如故，不敢過用克伐之劑，恐成慢驚也。</p>
<p>木通　澤瀉　甘草　雲茯苓　嫩桔梗　前胡</p>
<p>（案3）一兒，腹實作瀉。</p>
<p>上午用參苓白朮散，下午用四苓湯。</p>
<p>（案4）一兒，傷食作瀉，肚腹膨脹。</p>
<p>新會皮　柴胡　萊菔子　楂肉　防風　芍藥　豬苓　建澤瀉　赤茯苓　麥芽　車前</p>
<p>（案5）一兒，久瀉不止，肛門脫出。此脾土衰弱，真元下陷也。《經》云：「實熱則大腸閉結，虛寒則肛門脫出。」法當補脾而兼以升提。</p>
<p>人參　白朮　雲茯苓　綠升麻　楂肉　陳皮　芍藥　淮山藥　軟柴胡　燈心</p>
<p>如小便欠利，加澤瀉、車前；盜汗加黃耆；作渴加烏梅；腹膨脹加木香。</p>
<p>（案6）一兒，水瀉不止。用五苓散加芍藥、木通、廣皮。</p>
<p>（案7）一兒，白瀉後潮熱。</p>
<p>芍藥　厚朴　山楂肉　新會皮　麥芽　澤瀉　甘草　川黃連　煨肉果</p>
<p>（案8）一兒，二歲。身熱不食，腹脹潮熱，瀉後有積，面黃身弱。</p>
<p>陳皮　山楂　萊菔子　紫厚朴　麥芽　香附　川連　大腹皮</p>
<p>（案9）一兒，水瀉，身熱。四苓散加木通、山楂肉、軟柴胡、葛根</p>
<p>（案10）一兒患傷食吐瀉，理宜斷乳谷，投以消導。乃竟以寒涼雜進乳食，以致身熱、腹熱，愈治愈劇。仍以消食定吐為主。</p>
<p>陳皮　厚朴　山藥　青防風　廣薷香　麥芽　法夏</p>
<p>服二劑後，吐減熱除。但面部腫滿。投以參苓白朮散而安。</p>
<p>（案11）一兒，因乳食傷，久瀉不止，自汗，睡臥不安，神思困倦，將成慢驚。急當補脾寬氣，以待胃氣之復。</p>
<p>陳皮　山楂肉　麥芽　香附　建澤瀉　茯苓　焦白朮　芍藥　肉果</p>
<p>服後，泄瀉稍減，因脾氣困頓，必須大理脾氣，方可無虞。</p>
<p>人參　白朮　陳皮　建澤瀉　車前子　茯苓</p>
<p>（案12）一兒，四歲。瀉久，日十餘行，間發潮熱，唇紅作渴，面瘦，腹如鼓，喜其善飯。丹溪云：「善食而瘦者，胃有伏火也。」若竟投參、朮、訶、果，必致不救，當先用消食破積藥，次投平胃散加茯苓。</p>
<p>川連　楂肉　建神麯　焦麥芽</p>
<p>兩劑而瀉減，後以五疳丸調理而愈。此係實證似虛，不可防其「慢驚」而投以溫補。</p>
<p>（案13）一兒，因濕熱下流，故四肢作痛，今又腹痛而瀉。</p>
<p>陳皮　山楂肉　厚朴　芍藥　細青皮　木通　建澤瀉　檳榔</p>
<p>（案14）一兒，兩日前水瀉，至第三日身發壯熱，面赤唇紅，防驚。</p>
<p>柴胡　乾葛　青防風　荊芥　新會皮　前胡　蘇子　山楂肉　木通</p>
<p>（案15）一兒，久患骨蒸潮熱，左脈無力，右脈弱而細小，泄瀉，身疼，手足麻木，消瘦，面色無神，睡則盜汗，遇食則脹。此氣血損傷，脾氣敗壞，漸成勞瘵。過用清涼恐損脾氣，宜實脾啟胃。</p>
<p>白朮　茯苓　新會皮　廣藿香　香附　黃連　山藥　甘草</p>
<p>服後諸症俱減，惟飲食仍脹，而噁心內熱更甚。此虛火炎上，脾陰困頓而不能宣降耳。</p>
<p>白朮　陳皮　白茯苓　川黃連　桔梗　秦艽　山藥　地骨皮　廣藿香　生薑</p>
<p>（案16）一兒，水瀉不止，手足冷，作瀉。此暴瀉損陰，防變慢驚，因尚有熱伏於內，故未可驟用止瀉之劑。</p>
<p>辰砂六一散　茯苓　豬苓　焦白朮　建澤瀉　川連　防風　木通</p>
<p>（案17）一兒，不節生冷，脾土有傷，瀉下如木樨色，日或一次，或二次，此係食積釀瀉。以久瀉之後，雖宜大補，然積滯未盡，不可驟用人參，宜消補兼施。</p>
<p>白朮　茯苓　建澤瀉　芍藥　淮山藥　厚朴　陳皮　粉甘草</p>
<p>服後積滯稍減，去厚朴、芍藥，加防風、車前、生薑。又隔一日，積已盡，即加人參，三劑而愈。</p>
<p>（案18）一兒，乳食過多，久瀉不止，自汗神倦。慮其變成慢驚，宜扶脾為主。</p>
<p>白朮　陳皮　香附　白芍藥　山楂肉　肉果　澤瀉</p>
<p>服後瀉雖少減，然元氣虛甚。宜異功散加味治之。</p>
<p>人參　白朮　雲茯苓　淮山藥　甘草　肉果　澤瀉　杜車前</p>
<p>（案19）一兒腹不痛，水瀉不已，神思困倦，飲食不進，《經》云：水泄而腹不痛者是濕。此因坐臥濕處，恣飲水漿，以致濕傷脾土。宜燥濕健脾，平胃散加味治之。</p>
<p>茅朮　厚朴　新會皮　山楂肉　甘草　木通　肉果</p>
<p>（案20）一兒，泄瀉，微有積，身熱、腹痛。乃傷食而復感風邪所致。宜兼治之。</p>
<p>柴胡　防風　山楂肉　麥芽　紫厚朴　豬苓　澤瀉　杜車前</p>
<p>服後熱退，去防風、柴胡。又積盡除，減厚朴，加參、朮、茯苓、山藥、肉果，四劑而安。</p>
<p>（案21）一兒，水瀉作渴，此因冷熱相摶，脾胃不和，致陰陽不分。四苓散加味治之。</p>
<p>白朮　茯苓　豬苓　建澤瀉　川黃連　木通　防風</p>
<p>（案22）一兒，素啖生冷，寒氣隔於腸胃，遂洞泄不止，六脈沉微。法當溫補而兼利水止瀉之劑。</p>
<p>陳皮　茯苓　山藥　杜車前　建澤瀉　煨姜　肉果　白朮　炙甘草</p>
<p>（案23）一兒，秋初暴瀉，面紅口渴。此傷暑而兼食積也。香薷飲加減治之而安。</p>
<p>香薷　厚朴　川黃連　新會皮　麥芽　甘草</p>
<p>（案24）一兒，瀉後面白無神，頭不能仰舉，身熱、作嘔。因瀉久而元氣虛憊所致。當專補脾胃，理中湯加減主之。</p>
<p>人參　茯苓　炙甘草　煨姜　淮山藥　藿香</p>
<p>（案25）一兒，身微熱，印堂青紅相雜，夜臥不安，泄瀉。</p>
<p>防風　芍藥　川黃連　雲茯苓　木通　澤瀉　甘草</p>
<p>（案26）一兒，久瀉不止，腸鳴，小水不利，飲食少進，右脈按之無力，左關弦長而數。此肝木乘脾，氣陷於至陰之所，有克賊而無發生之意。理宜和中、溫胃、回陽，佐以分利水道，使脾能健運，再商後法。</p>
<p>人參　白朮　茯苓　淮山藥　炙甘草　澤瀉　乾薑　升麻　甜肉桂</p>
<p>（案27）一兒，久瀉之後，四肢虛腫，肚腹作脹。此土虛而不能制水故也。當補中、行濕、利水，兼理乳積，養其正氣。脾實則腫脹自愈，若投峻厲之品，多致不起。</p>
<p>人參　白朮　茯苓　新會皮　法半夏　山楂肉　厚朴　木通　澤瀉　大腹皮</p>
<p>（案28）一兒，瀉後腹脹足腫，《經》曰：脾主行氣於三陰，脾傷則三陰之氣不行，故驟然腫脹。宜利水為主。</p>
<p>陳皮　厚朴　澤瀉　杜車前　大腹皮　茯苓　蘇子</p>
<p>服二劑，諸症少減，再服實脾補元之劑而愈。</p>
<p>附：啟脾止瀉丸（凡久瀉不止可服此方）</p>
<p>白朮　茯苓　山藥　訶子肉　煨肉果　扁豆　木香　龍骨　赤石脂</p>
<p>為末白湯調服二錢</p>
<p>（案29）一兒，面赤少神，瘦弱，不時泄瀉，咳有微痰。乃脾胃虛而不能生金。宜戒生冷，避風寒，投以六君子湯加味治之。</p>
<p>人參　白朮　白茯苓　法半夏　會皮　山藥　澤瀉　炙甘草</p>
<p>服後泄瀉未除，此脾胃真元下陷也。加乾薑以溫之，柴胡以升之。</p>
<p>服後去柴胡，加升麻、肉果，四劑而愈。</p>
<p>（案30）一兒，飲食不易消化，胸膈脹，便泄，身熱。此由飲食不節，損傷脾陰所致，《經》曰：「濁氣在上則生䐜脹，清氣在下則生飧泄。」治宜升其清而降其濁而症自愈矣。</p>
<p>陳皮　楂肉　建神麯　紫厚朴　車前　澤瀉　枳殼　青防風　軟柴胡</p>
<p>服二劑，諸症減半，進健脾利水之劑而痊愈。</p>

<h2>吐瀉</h2>
<p>（案1）一兒，數歲。始因食積，一醫昧於「衰其半而止」之句，峻用苦寒消導，遂洞泄不止，繼增嘔吐。余謂：「吐瀉乃脾胃兩傷，舍溫補別無他法。」以六君子湯投數劑而安。</p>
<p>（案2）一兒，吐瀉不止，面白無神。宜健脾養胃為主。</p>
<p>白朮　陳皮　茯苓　紫厚朴　廣藿香　楂肉　甘草</p>
<p>（案3）一兒，吐瀉不愈，唇紅煩渴，目慢神昏。投以實脾定吐之劑。</p>
<p>防風　白朮　茯苓　白芍藥　枇杷葉　藿香　車前　澤瀉</p>
<p>服二劑而吐瀉止。又服參苓白朮散，兩許而愈。</p>
<p>（案4）一兒，吐瀉交作，身與腹俱熱，醫不知戒乳，反進寒涼，冀其除熱，愈治愈劇，余以消食止吐投之。</p>
<p>新會皮　法半夏　厚朴　楂肉　藿香　青防風　焦麥芽</p>
<p>（案5）一兒，先傷於食，復感暑邪，吐瀉。</p>
<p>黃連　香薷　厚朴　山楂肉　細木通　澤瀉</p>
<p>（案6）一兒，吐瀉腹實，醫用寬氣消食之藥，愈加脹滿，手足逆冷，氣粗作渴，不能睡臥。此土衰而水來侮之。以四君子湯加陳皮、厚朴、車前、炮姜，二劑而安。</p>
<p>（案7）一兒，吐瀉腹實。此係食積傷脾。余先令節乳，投以消導。</p>
<p>楂肉　麥芽　建神麯　紫厚朴　澤瀉　黃連　芍藥　新會皮</p>
<p>（案8）一兒，久瘧之後，失於調理，脾胃虧損已極，吐瀉交作，身熱不乳，危症蜂起。宜溫補而佐以防搐之劑。</p>
<p>人參　白朮　茯苓　熟附子　煨肉果　鉤藤　法夏　甘草　廣橘紅　加煨姜大棗</p>
<p>（案9）一兒，患吐，繼增水瀉，面㿠白，目睛露，吁氣昏睡，手足厥冷。真陽消耗之候也。速宜溫補。</p>
<p>人參　白朮　茯苓　淮山藥　煨肉果　木通　建澤　瀉木香　甘草</p>

<h2>痢疾</h2>
<p>（案1）一兒，七八歲。初起外感出汗，繼而瀉下如西瓜汁，腹痛身熱，飲食不進。此痢兼外感也。因其腹痛，先用白芍一兩煎湯，時時服之，隨後進：</p>
<p>枳殼　陳皮　檳榔　山楂肉　焦麥芽　厚朴　豬苓　澤瀉　細木通　川黃連　芍藥　前胡　柴胡　石蓮肉</p>
<p>服後，腹痛愈甚，前方加延胡、木香、黃芩。</p>
<p>又：身熱稍減，前方去柴胡，加藿香。間進辰砂六一散、燈草湯調服。去延胡。</p>
<p>又：腹痛下利少減。但飲食未進，夜多冷汗。前方去枳實、前胡。</p>
<p>又：痢減，食進。服茯苓、山藥、木香、木通、黃連、車前、檳榔、甘草、燈心</p>
<p>又：山藥、茯苓、人參、陳皮、甘草、楂肉、煨姜。</p>
<p>（案2）一兒，下血不止，腹不痛。《內經》所謂「結陰」之症，實非痢也。此係飲食過度，損傷脾陰，陰氣內結，不能外行，滲入大腸故也。</p>
<p>陳皮　白朮　茯苓　山楂肉　紫厚朴　生地　歸身　白芍　地榆炭　粉甘草</p>
<p>（案3）一兒，久利不止，腹不痛。</p>
<p>煨肉果　煨訶子　煅龍骨　木香　炮姜</p>
<p>為末參湯下。</p>
<p>腹痛者非所宜也。以藥性太澀，恐滯其氣而反增他病耳。</p>
<p>（案4）一兒，患血利，自夏至冬未愈。始因濕熱，繼多感冒。血利者，風邪傷肝血也。法當補虛養血，虛回而利自止。</p>
<p>生地　當歸　白芍　地榆炭　炒阿膠　人參　防風　肉果　軟柴胡　廣木香　陳皮</p>
<p>（案5）一兒，久利，元氣大虛，腸胃不能禁固。曾服參、術輩，佐以固澀之藥，終不能效。診脈虛浮，四肢倦怠，鼻煤目坎，危險何疑？急用理中湯，仍佐以固澀之劑。幸高明裁之。</p>
<p>人參　白朮　茯苓　炙甘草　炮乾薑　白芍　木香　烏梅　訶子肉　罌粟殼</p>
<p>（案6）一兒，久利腹痛。此熱鬱大腸，血虛作痛也。服歸、芍、香、連，痛勢稍減，幸六脈和平，可無他慮。擬和血理氣法。俟腹痛全愈，然後議補。</p>
<p>當歸　白芍　地榆炭　木通　雲茯苓　厚朴　甘草　山楂肉</p>
<p>（案7）一兒，久患食積下利，身有微熱。此脾氣虛損而邪易湊也。《經》云：「風邪入胃，則下利膿黏。」</p>
<p>乾葛　防風　前胡　焦白朮　白茯苓　黃連　澤瀉　甘草</p>
<p>（案8）一兒，下利紅白，腹不甚痛，只不作渴而小便赤澀。因平時喜弄冷水，濕傷脾故也。</p>
<p>蒼朮　厚朴　陳皮　白芍藥　川黃連　木通　澤瀉　車前　粉甘草</p>
<p>（案9）一兒，歲許。身熱腹痛，下利紅白相兼，裡急後重，弩力則如搐，小便不利，驚風將至之兆。</p>
<p>枳殼　檳榔　厚朴　川黃連　鉤藤鉤　陳皮　山楂　芍藥　細木通</p>
<p>服後稍減，去檳榔、枳殼、厚朴，加人參。是晚連去數次，或清瀉，或兼積。次早視之，手足搐掣，身熱汗出。此脾虛生風，已成慢驚之候，急進獨參湯。恐未能達，續進牛黃一分、人參八分、煨姜一片，徐徐服之。俟胃氣平復，方可無虞。</p>
<p>（案10）一兒，先患水瀉，繼增血利，裡急後重，飲食不思，更兼身熱。此脾傳腎，難愈之症。故以養陰和氣，清熱開胃之劑投之。</p>
<p>陳皮　厚朴　茯苓　白芍藥　川黃連　藿香　木通　澤瀉　杜車前</p>
<p>（案11）一兒，患赤白利二十餘日，腹痛身微熱，作嘔脫肛，更兼浮腫。種種見症，皆是脾陰不足之候。《經》曰：「胃虛則嘔」，又曰：「虛則肛門脫出。」法當議補，所謂「虛回而利自止」矣。</p>
<p>人參　茯苓　川黃連　白芍藥　厚朴　陳皮　藿香　廣木香　烏梅肉　甘草</p>
<p>（案12）一兒，患水瀉，失於調治。至八月初，下利無度，赤白相兼，身熱，裡急後重。雖久利之後，脾氣大損，以積滯未盡，未可驟補，豈堪止澀乎！宜行血調氣，佐以升提。</p>
<p>陳皮　川黃連　白茯苓　柴胡　地榆　山楂　當歸身　廣木香　生地　白芍　升麻　粉甘草</p>
<p>（案13）一兒，久利，腹痛，有血兼黃色。</p>
<p>楂肉　麥芽　厚朴　江枳殼　白芍藥　地榆　川連　澤瀉　細木通</p>
<p>（案14）一兒，久利，脾胃已虛而又為飲食所傷。以致胸腹作脹，身發潮熱。一友欲施補法，養正除邪，雖屬正論，但胸膈未寬，先宜消導。</p>
<p>香附　厚朴　陳皮　萊菔子　焦白朮　茯苓　檳榔　青皮　軟柴胡　粉乾葛</p>
<p>（案15）一兒，患利，又外感風邪，憎寒發熱。宜和解。</p>
<p>柴胡　乾葛　山楂肉　新會皮　黃芩</p>
<p>附：治一切危利，無論新久，裡急後重，脫肛噤口，屢試屢效，宜敬珍之。</p>
<p>陳皮（一錢）　楂肉（一錢二分）　麥芽（一兩）　川黃連（一錢）　白茯苓（一錢二分）　澤瀉（一錢二分）　車前（一錢二分，包，打）　地榆（一錢，血利可加）　炙甘草（三分）</p>
<p>水二鍾，加炒黃米一撮、煨姜二片、大棗一枚、熟砂仁末八分、燈心三十根，煎六分，不拘時服。</p>
<p>又，初利方：</p>
<p>生大黃（一兩）　檳榔（一兩）　木香（五錢）</p>
<p>蜜丸。</p>
<p>又，久利方：</p>
<p>人參　茯苓　陳皮　芍藥　甘草</p>
<p>又，向東南椿根皮，去粗皮，曬，為末，神麯漿丸，名固腸丸。</p>

<h2>外感</h2>
<p>（案1）數歲，一兒。始因外感風邪，惡寒發熱，服消食、發散之劑，經旬不解。此係熱傷元氣，不得再進表藥，以滋陰之劑投之。</p>
<p>柴胡　淡豆豉　黃芩　元參　天花粉　知母　地骨皮　陳皮</p>
<p>服二劑，諸症俱減，惟身熱未除。不與藥，以寒涼不宜多邊耳。宜節飲食、避風寒為要。</p>
<p>三日後，熱至午後方涼，作止有時。竟以骨蒸勞熱治。</p>
<p>知母　地骨皮　銀柴胡　柴胡　黃連　山楂　粉甘草</p>
<p>如熱而不止，前方加鱉甲、青蒿、黃耆。</p>
<p>（案2）一兒，感冒發熱。</p>
<p>羌活　乾葛　防風　紫蘇葉　陳枳殼　陳皮　山楂　麥芽　粉甘草</p>
<p>（案3）一兒，傷食感冒，身熱將愈，遍身發生淡紅風塊。自此而餘邪盡泄，可無積瀉之患矣。不必洗浴。</p>
<p>薄荷　防風　荊芥穗　羌活　山楂肉　蟬衣　甘草</p>
<p>（案4）一兒，十四歲。素有骨蒸盜汗。因知識已開，相火妄動，以致身熱盜汗，肢體瘦削。宜滋陰降火，若作外感治，誤矣。</p>
<p>生地　歸身　白芍　川黃柏　地骨皮　知母　秦艽　白朮　白茯苓　新會皮　甘草</p>
<p>（案5）一兒，發熱煩躁，口燥唇乾，脈兩寸浮數。此外感風邪所致。</p>
<p>淡豆豉　薄荷葉　黃芩　山梔　黃連　江枳殼　新會皮　甘草</p>
<p>（案6）一兒壯熱煩躁，汗出不止，服藥已愈。後更發熱，遂至鼻竅開張，痰涎壅盛，狀似驚風。</p>
<p>淡豆豉　黃連　黑山梔　陳皮　山楂　犀牛黃　膽星　鉤藤鉤</p>
<p>（案7）一兒，惡風發熱，六七日不解，食減面黃，語言懶怯，手心熱。此外感而兼內傷之症。</p>
<p>乾葛　紫蘇葉　黃芩　黑山梔　楂肉　陳皮　粉甘草　生薑</p>
<p>（案8）一兒，患積熱症。服藥愈後，失於調補，以致元氣虛損，變成骨蒸盜汗等症。雖積未盡除，不宜再消。</p>
<p>陳皮　厚朴　麥芽　川黃連　白芍藥　知母　甘草　楂肉　地骨皮</p>
<p>服四劑，諸症減半。又服六君子湯加減而愈。</p>
<p>（案9）一兒，面黃體瘦，潮熱不止。</p>
<p>陳皮　楂肉　當歸身　原生地　柴胡　知母　秦艽　地骨皮　粉甘草　銀柴胡</p>
<p>（案10）一兒，七八歲。發熱數日，或疑為瘧，投清皮飲不效。余診其脈，俱虛數。惟右關沉滑，每至夜則發熱，交子刻必有汗，此名積症盜汗。</p>
<p>秦艽　知母　銀柴胡　地骨皮　柴胡　山楂　黃連　綿黃耆</p>
<p>（案11）一兒，數歲。骨蒸發熱，飲食少進，元氣虛憊。</p>
<p>秦艽　知母　銀柴胡　地骨皮　黃連　山楂　陳皮　炙鱉甲　白芍藥　茯苓　白朮　香附</p>
<p>用烏骨雞去毛，雜酒煮爛，入前藥打和，加煉白蜜丸，白湯空心下一錢五分。</p>
<p>（案12）一兒，疳痢愈後，極宜大補脾土，滋養氣血，日後可免虛熱之患矣。乃綿延日久，飲食不為肌膚，五心煩熱，足酸唇紅，夜汗，額露青筋。皆因積熱內熾，脾胃兩虛所致。</p>
<p>白朮（二兩）　茯苓（一兩半）　川連（一兩半，酒炒）　淮山藥（一兩半）　益智仁（一兩半，炒）　人參（六錢）　炙草（四錢）　米仁（二兩，炒）　白芍藥（二兩，酒炒）　建蓮肉（三兩）　新會（二兩）</p>
<p>神麯糊丸，白湯下，早、晚各三錢。</p>
<p>（案13）一兒，五歲。身熱不止，見有紅斑。</p>
<p>乾葛　柴胡　荊芥穗　青防風　淡豉　山楂　枳殼　炒麥芽</p>
<p>服一劑，大汗，即前方去防風，加前胡。身涼脈靜，神思頗爽。</p>
<p>又：前胡　桔梗　黃芩　白茯苓　地骨皮　陳皮　鉤藤　甘草</p>
<p>（案14）一兒，傷風后，飲食不進，睡臥昏沉，手足逆冷。此大虛之候。宜服助脾開胃，以扶元氣。</p>
<p>人參　藿香　淮山藥　陳皮　炒黃米</p>
<p>（案15）一兒，身熱咳嗽，喉中有痰。此外感所致。</p>
<p>荊芥　防風　前胡　法半夏　江枳殼　山楂　陳皮　桑皮</p>
<p>（案16）一兒，身熱腹實。此外感風邪，內傷飲食也。</p>
<p>柴胡　荊芥　防風　山楂肉　江枳殼　厚朴　陳皮</p>
<p>（案17）一兒，身熱嘔吐，喉中痰鳴，大便涎稠。此風邪搏於腠理。</p>
<p>防風　荊芥　陳皮　江枳殼　山楂肉　前胡　桔梗　甘草</p>
<p>（案18）一兒，身熱面熱，咳嗽。</p>
<p>荊芥　防風　前胡　粉乾葛　軟柴胡　蘇葉　枳殼　山楂</p>
<p>（案19）一兒，身熱腹實，嘔吐。宜解表消導。</p>
<p>柴胡　葛根　荊芥　青防風　江枳殼　陳皮　楂肉　前胡</p>
<p>（案20）一兒，身熱如火，鼻紅，腹實拒按。此飲食停滯於內，風邪搏激於外，宜解表消導。</p>
<p>荊芥　防風　柴胡　紫厚朴　江枳殼　陳皮　楂肉</p>
<p>（案21）一兒身熱，胃口實，按之疼痛，服藥即吐。乃夾食傷寒也。</p>
<p>山楂　香附　江枳殼　新會皮　柴胡</p>
<p>服後，身熱稍減，胃口仍實。</p>
<p>柴胡　陳皮　法半夏　山楂肉　甘草</p>
<p>又：嘔吐除，身熱稍減，宿食消。</p>
<p>前胡　黃芩　麥芽　新會皮　法半夏　甘草</p>
<p>（案22）一兒，夾食傷寒五六日，身熱不減，口中呻吟，咳嗽抽搐，眼閉汗出。醫用滾痰丸，下痰涎而熱仍未除，此邪氣壅滯於內，宜服消痰理氣，退熱消食之劑。</p>
<p>陳皮　楂肉　淡豆豉　桑白皮　前胡　桔梗　枳殼　鉤藤鉤　粉甘草</p>
<p>（案23）一兒，身熱，發紅腫塊瘰。</p>
<p>荊芥　防風　連翹　赤芍藥　天花粉　元參　陳皮　柴胡　粉甘草</p>
<p>（案24）一兒，胎熱，復感風邪，痰鳴氣急，重舌。</p>
<p>前胡　黃芩　連翹仁　新會皮　赤芍　滑石　木通　粉甘草</p>
<p>（案25）一兒，感冒，真氣未復，又重感於邪，左脅作痛，時覺畏寒、潮熱，咳嗽有痰，面青神倦，似瘧非瘧。宜疏肝邪，理痰咳。</p>
<p>柴胡　青皮　前胡　粉葛根　新會皮　黃芩　法夏　花粉</p>
<p>服二劑，身熱已減。乳母不守禁忌，又復感，至三更忽發壯熱，戰慄悶倒。予起視之，六脈洪數，面紅氣促。非大汗不能見效，即前方加麻黃、羌活，所謂「急則治其標」也。</p>
<p>又：久病之後，元氣已虛，故外邪雖散而咳嗽未除，不宜多服煎劑，恐損脾氣，無以生肺金耳。當大劑煎膏，頻服勿懈。</p>
<p>元參　白茯苓　川貝母　陳皮　法夏　紫菀　焦米仁　肥知母</p>
<p>煎成膏，日服數次，東垣所謂「在上者不厭頻而少」是也。</p>

<h2>瘧疾</h2>
<p>（案1）一兒，數歲。久患瘡瘍，氣血耗損。繼患瘧疾，月餘方痊，然猶間有潮熱，小腹有塊如覆杯，痛不可忍，肌膚瘦削，更兼嘔吐。此係久瘧耗損脾陰不能運行津液而成也。議參耆鱉甲飲。</p>
<p>人參　黃耆　炙鱉甲　銀柴胡　知母　陳皮　法夏　地骨皮　嫩青蒿　茯苓　秦艽</p>
<p>服數劑而諸症減。又進調理脾胃而愈。若不審虛實再行克伐、消塊、退熱之藥，輕者成勞；重者致死。慎之、戒之。</p>
<p>（案2）一兒，歲許。寒熱間日而作，面黃唇白，額露青筋，夜不安睡。總屬虛象，先與抱龍丸四粒，日進一丸。間服煎劑。</p>
<p>人參　白朮　茯苓　新會皮　法半夏　炙草　柴胡　知母　地骨皮</p>
<p>（案3）一兒，瘧發半月未止，面黃食少。元氣已虛，宜扶脾、消痰、清熱為主。若再進青皮、檳榔輩，恐犯虛虛之戒。</p>
<p>白朮　茯苓　甘草　新會皮　法半夏　柴胡　知母　厚朴　山楂肉</p>
<p>（案4）一兒，胎瘧數發，手足面部俱浮腫。</p>
<p>六君子湯加厚朴、柴胡、知母、地骨皮、姜皮。</p>
<p>又：諸症如前，去厚朴，加銀柴胡、人參一錢。</p>
<p>又：腫勢稍減，前方去柴胡，加鱉甲、人參一錢二分，調理半月而痊愈。</p>
<p>（案5）一兒，瘧久，面腫腹脹，下積垢，小水不利，飲食減少。先投截藥以治其瘧，後服：</p>
<p>白朮　茯苓　淮山藥　川黃連　陳皮　甘草　白芍　紫厚朴　建澤瀉　柴胡　木香</p>
<p>（案6）一兒，發熱，僵仆不省，兩目斜視，狀似驚風，乃發瘧之兆。先進下痰藥一丸，隨服後劑，五六發而愈。</p>
<p>陳皮　法半夏　柴胡　黃芩　草果仁　枳殼　小青皮　檳榔　防風　粉乾葛　膽星</p>
<p>（案7）數歲一兒，瘧後月餘，面黃，自汗，身熱，小便後有血，此熱傷陰分。宜養血滋陰。</p>
<p>熟地　當歸　赤芍　秦艽肉　軟柴胡　知母　地骨皮</p>
<p>（案8）一兒，瘧後失於調理。隔二三月，忽然腫滿，小便頻數，氣喘。皆土弱不能制水。</p>
<p>人參　白朮　白茯苓　新會皮　蘇子　澤瀉　車前</p>
<p>（案9）一兒，身熱兩日，每晨至酉刻方涼。第三日熱至未時，忽兩目上視，手足搐掣，哭不出聲，狀似驚風。乃變瘧之候，因感邪太重，拂鬱於內，未見其發寒耳。先以消痰、理氣、散邪之藥投之。明日果戰寒、發熱，瘧症顯然矣。</p>
<p>陳皮　法夏　膽星　青防風　軟柴胡　前胡　青皮　黃芩　江枳殼　粉葛根</p>
<p>服後，即前方去葛根、前胡，加桔梗、檳榔、草果、茯苓。</p>
<p>大凡小兒稟氣未足，不能勝其邪。頑痰膠固，榮衛之氣不行，狀似驚風而實瘧也。須細辨之。</p>
<p>（案10）一童，春間患瘧，愈後時常腹痛，從下而上。漉漉有聲，六脈虛小，不合時令。此脾經有積而瘧後失於調理。致脾虛拂鬱不能宣暢也。宜扶脾補元，兼養心血。</p>
<p>人參　白朮　茯苓　淮山藥　建澤瀉　陳皮　芍藥　木香　酸棗仁　石菖蒲　甘草</p>
<p>（案11）一兒，數歲。瘧愈幾月，復先寒後熱。乃元氣虛弱而然，以骨蒸治。</p>
<p>銀柴胡　地骨皮　黃芩　白芍　青蒿　肥知母　軟柴胡　陳皮　秦艽　山楂</p>
<p>（案12）一兒，瘧數發後，每下午不寒而熱。此癉瘧也。因外邪未盡，不可驟進寒涼。</p>
<p>柴胡　黃芩　雲茯苓　陳皮　當歸　山楂　知母　地骨皮</p>
<p>（案13）一兒，瘧久。面色㿠白。元氣耗散，脾土損傷。投以六君子湯加減治之。不用截法，恐傷真氣也。</p>
<p>人參　陳皮　山楂　地骨皮　肥知母　黃芩　法夏　白朮　軟柴胡</p>
<p>（案14）一兒，久瘧後，腹大如鼓，陰囊腫，小便利而大便五六日不解。醫用豬苓、澤瀉等藥，小便愈清，大便愈結。蓋久瘧之後脾為木乘，以致不能運化精微，故脹滿。況小便本利而更利之，則胃中枯燥而大便愈不通矣。宜補脾胃藥中少加肉桂，使其性熱下行。況木得桂而枯，木衰則土實，傳化如常矣。</p>
<p>人參　白朮　茯苓　甜肉桂　淮山藥　米仁　芍藥</p>
<p>（案15）一兒，患瘧久久，成骨蒸勞熱。</p>
<p>人參　白朮　茯苓　秦艽肉　肥知母　歸身　白芍　黃柏　地骨皮　炙鱉甲　棗仁　麥芽</p>
<p>（案16）一兒，瘧後患咳嗽，聲嘶食減，氣促汗出，兩脅作痛，吐出膿血俱極臭穢。明是「肺癰」，系火氣炎止，燒爍肺金而然也。宜保肺氣、助脾土、苦寒溫補均非善治。</p>
<p>阿膠　桔梗　川貝母　白茯苓　米仁　百合</p>
<p>（案17）一兒，瘧疾八九日。邪氣將散，元氣已損。當扶其胃氣，滋養元神為主，六君子湯加減。</p>
<p>人參　白朮　茯苓　新會皮　法半夏　柴胡　知母　骨皮　炙甘草</p>
<p>（案18）一兒，瘧愈後，身熱唇焦，手足搐掣，咳嗽作嘔，腹痛自利。曾服參與牛黃，身熱稍減，第腹實之甚。此外感而兼傷食，宜清火、消痰、順氣、鎮驚之劑。</p>
<p>柴胡　前胡　防風　嫩桔梗　新會皮　山楂　芍藥　茯苓　鉤藤鉤　陳膽星　黃連　木通</p>
<p>（案19）一兒，瘧疾稍愈，間或發熱，腹有微積，此食積相兼之候。今面目浮腫，小水不利，脾氣嬌弱，餘邪未盡，不宜峻補，擬補中兼利水之劑。</p>
<p>人參　何首烏　柴胡　法半夏　澤瀉　車前　地骨皮　豬苓</p>
<p>（案20）一兒，瘧愈後，身體尫羸。不逾旬，復發，面目虛浮，小便如血。此積症而兼淋也。</p>
<p>白茯苓　白朮　山楂　麥門冬　木通　川黃連</p>
<p>（案21）一兒，患瘧，每發於下午。</p>
<p>柴胡　法半夏　白朮　白茯苓　山楂　知母　地骨皮　陳皮　粉甘草</p>
<p>（案22）一兒，身發紅點，仔細視之，非痘非痧，驗其外，身不熱，六脈弦，瘧症將發之兆。次日果作。</p>
<p>荊芥　防風　紫蘇葉　陳皮　山楂肉　甘草</p>
<p>（案23）一兒，每午後發瘧，面色萎黃，腹實。因寒熱太過，真陰耗損。治以癆症相參。</p>
<p>柴胡　陳皮　山楂　紫厚朴　地骨皮　川連　知母　甘草</p>
<p>（案24）一兒，瘧久，面足虛浮，不思飲食。以脾陰耗損，陽無所依而浮散於外也。</p>
<p>陳皮　山楂　知母　地骨皮　紫厚朴　柴胡　川連　甘草</p>
<p>（案25）一兒，瘧疾，先寒後熱，將及八發。</p>
<p>檳榔　草果　青皮　山楂肉　白茯苓　黃芩　白朮　甘草</p>
<p>（案26）一女，久瘧不止，元氣虛憊，復感寒邪。先宜和解。</p>
<p>柴胡　防風　黃芩　草果仁　法半夏　青皮　川芎　白芍　粉甘草　新會皮　香附</p>
<p>（案27）一兒，十四歲。素稟薄弱，久瘧不止。食少神倦，乃心脾不足。宜扶元補脾，滋陰降火。</p>
<p>生地　當歸身　白芍藥　茯神　棗仁　遠志　炙鱉甲　秦艽肉　知母　骨皮　人參　焦白朮　川黃連　甘草</p>
<p>（案28）一女，痘後元氣未復，起居、飲食不節，變為瘧疾。法當祛邪、消導。連服不效，且痰喘氣促，面白無神，四肢浮腫。宜理脾、消導、清熱，佐以扶養元氣。</p>
<p>人參　半夏　陳皮　白茯苓　龍膽草　蘇子　柴胡　知母　地骨皮　山楂肉　生薑</p>
<p>（案29）一兒，患瘧，但熱無寒，月餘變成骨蒸潮熱。宜扶養元陰為主。</p>
<p>人參　白朮　茯苓　當歸身　白芍藥　柴胡　知母　秦艽　炙鱉甲　地骨皮</p>
<p>附：瘧久不愈方</p>
<p>青皮　山楂　藿香　法半夏　白茯苓　白朮　陳皮　香附　紫蘇葉　肥知母</p>
<p>又：調理方</p>
<p>山楂　茯苓　知母　地骨皮　枯黃芩　陳皮　半夏　當歸</p>
<p>瘧後面色少神，大便艱澀，腿腳痠軟，時覺虛熱。此榮衛之氣未舒。當大補氣血，八珍湯去地黃，加知母、地骨皮。</p>
<p>瘧久虛甚，形消肉削，服煎劑，丸料不應者，將此方加減煎成膏服之。可免骨蒸咳嗽之患。</p>
<p>黃耆　白朮　米仁　白茯苓　當歸身　熟地　白芍　麥冬　銀柴胡　地骨皮　秦艽　鱉甲　知母　川黃連　酸棗仁　楂肉</p>

<h1>卷下</h1>

<h2>咳嗽</h2>
<p>（案1）一兒，感風食鹹味，其嗽便發，發時痰喘不休，胸部微高起。若弗治，眼目必紅，便成龜胸痼疾。</p>
<p>陳皮　枳殼　甜杏仁　桑白皮　前胡　黃芩　甘草　炙麻黃</p>
<p>服二劑後，煎潤肺膏調理而愈。</p>
<p>（案2）一兒，面白，喉如曳鋸。此肺邪內郁，風寒外束。宜發散外邪為主。</p>
<p>陳皮　桑皮　甜葶藶　陳膽星　竹瀝　鉤藤　桔梗</p>
<p>（案3）一兒，夏月每午後咳嗽大作，不能安睡，火刑金也。宜清熱降火為主。</p>
<p>川黃連　黃芩　黑山梔　元參　花粉　桑白皮　枳殼　甜杏仁　甘草</p>
<p>（案4）一童，哮喘已六七年，每遇勞力或感寒、食鹹，便痰鳴氣喘。定後方發時服。</p>
<p>羌活　乾葛　防風　江枳殼　新會皮　前胡　杏仁　桑皮　粉甘草　嫩桔梗　葶藶　生薑</p>
<p>又：百合　紫菀　麥門冬　天花粉　陳皮　枳殼　知母　黑元參　綿黃耆　黃芩　桔梗　甘草</p>
<p>服前方三劑，待喘減。以此方服五六劑，去黃耆，然後照方蜜丸，白湯送下二錢，平時服。</p>
<p>（案5）一童，色欲過度，腎水枯竭，致君相二火上炎傷肺。乾咳，氣促，漸至聲音不出，元氣與肺氣損極之候，定後膏滋藥方。</p>
<p>人參　淮山藥　米仁　百合　紫菀茸　天冬　麥門冬　桔梗　甘草</p>
<p>煮膏日進二錢。</p>
<p>又：人參　白茯苓　白朮　米仁　淮山藥　蓮肉　訶子肉　甘草</p>
<p>蜜丸，與膏滋間服。</p>
<p>（案6）一兒，頻咳，唇紅作渴，聲音不清。若初起最忌寒涼，今延綿日久，久郁生熱。以清肺順氣之劑投之。</p>
<p>元參　桔梗　花粉　麥門冬　黑山梔　陳皮　枳殼　甘草　熟蘇子　甜杏仁</p>
<p>（案7）一兒，咳，日輕夜劇。此食積作咳，消食為主。</p>
<p>陳皮　山楂　白茯苓　前胡　白芍藥　麥芽　厚朴　嫩桔梗　甘草</p>
<p>（案8）一兒，歲許。咳嗽不已，面部發微紅細瘰。此熱邪內郁，風邪外束，風熱相摶於肺。不宜用寒涼藥。</p>
<p>紫蘇葉　葛根　新會皮　薄荷　桔梗　黑元參　前胡　黑山梔</p>
<p>（案9）一兒，面白體肥，微熱，喉有痰。風邪在肺為患。</p>
<p>柴胡　前胡　陳皮　江枳殼　桑白皮　桔梗　蘇子　甘草</p>
<p>諸症平伏，但咳嗽未止。</p>
<p>元參　桔梗　花粉　桑白皮　黑山梔　黃芩　甘草</p>
<p>（案10）一兒，壯熱五六日，困倦弄舌，咳嗽氣促，乃時症初起，宜當解散。</p>
<p>薄荷葉　柴胡　陳皮　枳殼　潤元參　川黃連　黃芩　桔梗　甘草　淡豆豉</p>
<p>（案11）一兒，唇紅作渴，痰嗽氣喘，三月有餘，骨瘦如柴。此食積久滯，有疳弱之虞。消食、清熱、降痰為主。</p>
<p>陳皮　山楂　麥芽　江枳實　川黃連　黃芩　蘇子　桑皮</p>
<p>上為細末，水飛為丸，青黛為衣，每服百丸，空心白湯送下。</p>
<p>（案12）一兒，大病後，咳嗽腹痛，間發潮熱，唇紅面白，肌膚羸瘦，飲食少進，精神疲倦。此元氣未復，陽元無所依而陰浮於外也。</p>
<p>陳皮　白芍　知母　地骨皮　當歸身　柴胡　法夏　白朮　粉甘草</p>
<p>（案13）一兒，腫咳未除，繼而乾咳，腹脹，四肢倦怠，飲食難化。此脾土不足，既不能生肺金，又為肝木乘之。治以制肝、補脾、清肺。</p>
<p>陳皮　白芍　紫厚朴　香附　麥門冬　腹皮　黃芩　焦白朮　車前</p>
<p>（案14）一女，身熱已涼，咳嗽不止，舌有白苔，胸高氣逆，煩躁不食，惟嗜酒，睡臥不寧。此內有積熱，外感風邪，肺氣不順故也。</p>
<p>陳皮　黃連　大腹皮　山楂　桑白皮　前胡　蘇子　雲茯苓　山藥　陳膽星</p>
<p>（案15）一兒，頭疼身熱，腹痛嘔吐，發嗽，左脅痛。此外感風邪，內傷食積所致。防斑。</p>
<p>前胡　杏仁　山梔　新會皮　江枳殼　柴胡　山楂　元參　桑白皮　天花粉</p>
<p>（案16）一兒，咳嗽身熱，至晚煩躁不睡。此時行外感。</p>
<p>柴胡　葛根　前胡　桑白皮　法半夏　陳皮　枳殼　黃芩　山楂肉</p>
<p>（案17）一兒，痰嗽有血。因積熱未除，心火太盛，燒爍肺金，陽盛陰虛，有升無降，血隨氣上，越出上竅而然。宜清金平木，使脾無賊邪之患；滋液驅熱，使肺得清化之源，無有不安者。</p>
<p>柴胡　白茯苓　陳皮　江枳殼　黑山梔　元參　天花粉　甘草　肥知母　麥門冬</p>
<p>（案18）一兒，二歲。先咳嗽，繼之身面浮腫，宜定喘退腫，然後理脾。</p>
<p>前胡　桔梗　桑白皮　葶藶子　車前　陳皮　杏仁　青防風</p>

<h2>天哮</h2>
<p>天哮乃天氣不正，乍寒乍熱，小兒感之，遂眼胞浮腫，咳嗽則眼淚、鼻涕漣漣，或乳食俱出者是也。於數日內，宜服發散，如防風、前胡、枳殼、陳皮、紫蘇、杏仁、桑皮、麥冬、桔梗、甘草之屬。如氣逆加蘇子；有痰用膽星、貝母。二十日後，宜保肺清金，紫菀、百合、兜鈴、五味、知母、麥冬、貝母、款冬之屬。不應，則訶子之類，俱可擇用。</p>
<p>（案1）一女，天哮，因感冒風邪而起，以致喘咳不已，又多食酸味，嗽愈甚，其氣上不能升，下不能降。痰涎壅遏，且善飲食。脾不運化精微，停滯於胸，化而為淡。今病久氣虛，不宜寒涼及大補之劑，化痰、順氣、清金為主。</p>
<p>橘紅（五錢）　杏仁（去皮炎，一兩）　貝母（去心，一兩）　嫩前胡（一兩）　山楂肉（一兩）　蘇梗（一兩）　元參（五錢）　枳殼（五錢）　陳膽星（一兩）　粉甘草（二錢）</p>
<p>水煎，入飴糖二兩、竹瀝一小杯，收成膏。</p>
<p>（案2）一兒，瘧後天哮，又兼腹實發瀉，面腫少食。皆脾虛之徵也。須健脾溫胃，佐以消積之劑。</p>
<p>陳皮　山楂　白芍藥　川黃連　甘草　神麯　厚朴　赤茯苓　建澤瀉　木通　木香　燈心</p>
<p>（案3）一兒，頓咳不止，時吐或甚則連乳俱出，身微熱，飲食減，面色稍赤。皆風邪暑熱所侵，未經疏散，邪傳心肺，變而為熱。熱生風、風生痰，痰結胸中，肺氣不順，連嗽不止，則痰、乳、食物一時吐出。治宜祛風化痰，清金降火。</p>
<p>陳皮　枳殼　元參　天花粉　熟蘇子　防風　杏仁　前胡　嫩桔梗　枯黃芩</p>
<p>（案4）一兒，感冒風邪，肺氣不清，已成天哮，三四日即愈。至七八日復感風邪，遂鼻流清涕不已。治以退熱、祛風、順氣。</p>
<p>陳皮　枳殼　黃芩　紫蘇葉　青防風　前胡　蘇子　楂肉　肥知母　粉甘草</p>
<p>（案5）一兒，天哮，嗽月餘矣。遇嗽則口鼻出血，因吊動痰火，火泛血上也。初起宜祛風清肺。今嗽已久，議保肺、治嗽、消痰。</p>
<p>百合　紫菀　款冬花　膽星　馬兜鈴　花粉　黃芩　黑元參　知母　黑山梔　當歸</p>
<p>（案6）一兒天哮久久，痰涎壅塞，哭不出聲，已犯「痰嗽不已、驚風至」之句。急宜降痰、順氣、鎮驚之劑。先服紫金錠，次服滾痰丸加竹瀝、薑汁，化服。</p>
<p>（案7）一兒天哮，甚則吊吐鼻血。此風氣傳染，氣逆上衝。初起宜發散。今已數日，宜瀉肺清金，順氣消痰。俟嗽勢稍減，進保肺之品。</p>
<p>陳皮　桑白皮　桔梗　黑元參　前胡　黃芩　黑山梔　杏仁　青防風　枳殼　蘇子</p>
<p>（案8）一兒哮喘二十餘日，每吊嗽則吐盡飲食，兩脅作痛。</p>
<p>紫菀　百合　桑白皮　前胡　新會皮　枳殼　膽星　款冬花　黃芩　枇杷葉　知母</p>
<p>（案9）一兒，哮喘半月，時常痰涎壅塞，如驚風狀，此肺經氣逆所致。</p>
<p>陳皮　膽星　蘇子　桑白皮　甜杏仁　桔梗　枳殼　檳榔　青防風　鉤藤鉤</p>
<p>（案10）一兒，向患哮喘，每遇風寒或食鹹味，輒喘促不休。先進順氣消痰，再議補肺。</p>
<p>杏仁　桑白皮　瓜蔞仁　元參　桔梗　陳皮　熟蘇子　江枳殼　前胡　防風　花粉</p>
<p>（案11）一女，年十六。元氣充實，猶不時舉發。擬調理一法，使腠理固密，可霍然矣。</p>
<p>橘紅　黃芩　川黃柏　知母　川貝母　元參　棗仁　當歸身　白芍　元生地　淮藥　天冬　麥門冬</p>
<p>蜜丸。</p>
<p>附：治天哮方</p>
<p>楂肉（一兩）　麥芽（一兩）　竹葉（四錢）　青餅（二兩）　飴糖（四兩）</p>
<p>煎膏，服一方，加檳榔五錢、茶葉五錢、石膏一兩。</p>

<h2>肺氣痰喘</h2>
<p>（案1）一兒，三四月許。藏之重褘，衣衾過厚，且每坐火側，以致熱氣熏蒸，忽爾啼聲不出，腹實痰鳴，口角微斜，兩目上視，勢屬危險。乃風火相摶，有似急驚，先用竹瀝磨黑錠一丸，次服寬氣降痰之劑。</p>
<p>乾葛　荊芥　防風　江枳殼　熟蘇子　前胡　陳皮　桔梗　甜杏仁　陳膽星　鉤藤</p>
<p>又：次日症象稍減，前方加殭蠶、黃芩。</p>
<p>（案2）一兒，初起感冒，壯熱不止，氣粗發嗆，口渴唇乾，舌有芒刺，由先感風邪，復傷暑、傷乳。宜順氣、消痰、清暑。</p>
<p>淡豆豉　陳皮　枳殼　山楂　川黃連　黑山梔　蘇子　甘草　鉤藤　陳膽星</p>
<p>加竹瀝服之。次日諸症未減，邪熱仍熾，前方去淡豆豉、蘇子，加元參、花粉、黃芩、前胡、桔梗。</p>
<p>（案3）一兒，面白無神，喉有痰聲，兼有風麻糞。若不順氣消痰，則痰凝氣結，成驚風為易易也。</p>
<p>陳皮　枳殼　法半夏　陳膽星　蘇子　防風　前胡　甜杏仁　桑白皮</p>
<p>（案4）一兒，感冒發熱，痰聲如曳鋸。解熱、消痰、順氣為主。</p>
<p>柴胡　前胡　陳皮　江枳殼　黑元參　桔梗　黃芩　花粉　熟蘇子　陳膽星　鉤藤</p>
<p>（案5）一女，咳喘痰鳴，發無定時，發則至晚更劇。</p>
<p>陳皮　枳殼　桑白皮　熟蘇子　前胡　杏仁　防風　葶藶子　粉葛根　山楂　桔梗　甘草</p>
<p>喘甚加麻黃。</p>
<p>又：橘紅　麥冬　黑元參　川黃連　山楂　貝母　黃耆　陳膽星</p>
<p>（案6）一兒，外感身熱，痰喘腹實。此肺氣痰喘也。</p>
<p>前胡　膽星　熟蘇子　桑白皮　杏仁　枳實　山楂　葶藶子　炒麥芽　桔梗　甘草</p>
<p>又：元參　花粉　陳膽星　桑白皮　山楂　麥芽　陳皮　熟蘇子　法半夏　前胡　枳殼　桔梗　粉甘草</p>
<p>（案7）一兒，肺氣痰喘，服黑錠藥後，瀉下痰涎而咳喘如故。</p>
<p>前胡　陳皮　甘草　桑白皮　陳枳殼　桔梗　黃芩　黑梔　陳膽星</p>
<p>又：桔梗　枳殼　杏仁　桑白皮　法半夏　陳皮　甘草</p>
<p>（案8）一兒，痘發臭後，傷於風食。痰喘，目直上視，已屬危險，但見聲音清爽。投以消痰順氣之劑，以望僥倖。</p>
<p>前胡　陳膽星　熟蘇子　桔梗　貝母　牛黃</p>
<p>（案9）一兒，痰喘氣促，目睛上視，哭不出聲。此肺風痰喘，因內有熱向外為風邪壅遏，與驚風相似，但不搐掣為異耳，久則不治。擬疏風解表之劑。</p>
<p>（案10）一兒，表熱未解，痰喘氣促，兩目浮腫。此風痰膠固而然也，速則成驚，遲延疳弱。法當清肺消痰、和風鎮驚。</p>
<p>陳皮　枳殼　熟蘇子　陳膽星　黃芩　桔梗　鉤藤　瓜蔞仁　桑白皮　杏仁　防風</p>
<p>（案11）一兒，痰火內郁，風寒外束。擬疏風解表。</p>
<p>桑白皮　瓜蔞仁　蘇子　前胡　桔梗　黑山梔　枯黃芩　麻黃　元參　橘紅　竹瀝</p>
<p>（案12）一兒，脾虛發喘，身熱。</p>
<p>防風　萊菔子　桔梗　甜肉桂　車前　腹皮　甜葶藶</p>

<h2>痰症</h2>
<p>（案1）一兒，向有胎熱發黃之症，調理愈後，忽然身熱，兼有青塊，氣促痰鳴，口疳，兩目眥及上、下唇俱有血水，舌紅腫不能吮乳。此內有蓄熱，外有暑濕相摶，心火燒爍肺金，故咳而喘。金受制不能平木，木寡於畏，兼風相摶，侮所不勝，故肌膚遍發青塊。火勢炎上，衝動其血，故見之於兩目。總宜解毒清火，俟其稍減，然後徐治其本。</p>
<p>陳皮　枳殼　黃芩　黑山梔　川黃連　甘草　花粉　香薷　麥門冬</p>
<p>（案2）一兒，身發壯熱，痰鳴氣促，脅痛鼻張。此內有熱邪，風邪郁遏於外。宜先用疏風順氣之劑，次用利便降痰，乃為正治。醫以下之，三晝夜不能臥，勢甚危險，仍擬疏散。</p>
<p>麻黃　枳殼　前胡　桑白皮　青防風　蘇子　杏仁　檳榔</p>
<p>服後用滾痰丸下之，諸症悉愈。</p>
<p>（案3）一女，目痠面跳，眉稜骨重，手足麻木，脈弦滑而數。據脈論症，顯系痰在肝經所致。宜二陳加減治之。</p>
<p>陳皮　法半夏　雲茯苓　甘草　獨活　青皮　明天麻　青防風</p>
<p>（案4）一兒，項中發癤，三四月方愈。向時或於當風拭膿，致風邪入於泥丸穴，郁久不散，轉而為熱，熱久生痰，火載痰上，入於巔頂，故頭重不舉。定後方服之而痊。</p>
<p>陳皮　法半夏　雲茯苓　黃芩　山梔　殭蠶　明天麻　藁本　生薑</p>
<p>（案5）一女，十八歲。痰涎壅滯，不省人事。一醫用滾痰丸下之，神氣頗清，此後宜消痰順氣，已為合法。乃復用滾痰丸，遂致胸前飽悶，氣不舒暢，前症仍作。余治先用石菖蒲一兩，通其經絡，使痰無壅滯之患。服後飽悶頓減，稍省人事。詢其月事，過期不至。治宜行經為主，經行而氣自治矣。</p>
<p>紅花　桃仁　陳皮　澤蘭葉　石菖蒲　楂肉　牛膝</p>

<h2>癇症</h2>
<p>（案1）一兒，患癇久久，諸醫莫療，乃心火內郁，痰迷胞絡所致，久而不愈，內外燒爍，金受火制，陰分日虧，又投以香燥金石之藥，無怪其愈治愈劇也。余治以養血安神為主，清火和氣佐之。</p>
<p>川黃連　酸棗仁　茯神　膽星　犀角　麥門冬　柏子仁　山楂　白芍　橘紅　生地黃　石菖蒲　當歸　紫蘇</p>
<p>（案2）一兒，十三歲。因出外讀書，既有憂思之感，遇危橋；又有驚恐之虞。每晚睡臥不安，時見微搐。有以瘧治而用發散者；有謂傷食而用消導者；有謂痰熱積聚而用攻逐推蕩者，雜投而病愈增，逐致痰涎膠固，胸膈作痞，口吐涎沫，飲食不進，或昏暈不省，或叫號跌撲，驚跳搐掣，夜靜晝劇，午前為最，腹中有形如彈，或左或右，睡止一邊，不能轉側，病樣多端，難以盡述。總之，心火上炎，肝陽偏旺，脾土困頓。復以逐痰搜風及金石香燥之藥，傷及肝脾之陰，故見症若此。擬固護元氣為主，清熱消痰佐之。</p>
<p>人參　白朮　白茯苓　法半夏　鉤藤　陳皮　柴胡　陳膽星　川黃連　竹瀝</p>
<p>服數劑，即前方加龍膽草、甘草。</p>
<p>又：病勢大減，但頭暈。即前方減參、柴、竹瀝，加天麻、甘菊。</p>
<p>（案3）一兒，二歲。發驚風三次，忽目直上視，身體壯熱，左手足不為用。因風痰膠固心、脾二竅而然。宜順氣消痰、祛風瀉火。</p>
<p>犀角（一兩）　黃連（一兩）　桂皮（二錢）　陳膽星（一兩）　明天麻（一兩）　黃芩（一兩五錢）　法夏（一兩四錢）　鉤藤（一兩四錢）　熟殭蠶（一兩四錢）　廣橘紅（一兩）　枳殼（一兩）　當歸（一兩）</p>
<p>上為細末，薑汁、竹瀝調和，每服二錢。</p>
<p>（案4）一童，發搐而痰涎壅塞，時作時止。乃風火相摶，邪鬱於中脘，氣不能運行升降故也。宜降氣消痰，佐以清火平肝。</p>
<p>陳皮　枳實　龍膽草　熟蘇子　茯神　黃連　生地　白芥子　半夏曲　鉤藤　膽星　竹瀝　石菖蒲</p>
<p>（案5）一兒，曾以傷食損其脾胃。稍有所感，便嘔吐發搐，昏僕不省，至大便通方蘇，飲食始進。此由胃不能遊溢精氣，脾不能運化精微，致有升無降耳，當理脾胃。寒涼克伐之劑，在所禁用。</p>
<p>人參　白朮　茯苓　半夏曲　新會皮　天麻　鉤藤　陳膽星　川黃連　山楂肉　甘草</p>
<p>（案6）一兒，五歲。發搐，痰涎壅塞，時作時止。此風火相摶所致，名曰「陽癇」。宜消痰理氣，清熱平肝。</p>
<p>明天麻　膽星　殭蠶　黃芩　川黃連　江枳殼　鉤藤　當歸　竹瀝　嫩桂枝　半夏曲</p>
<p>（案7）一兒，痘後神氣未復，更兼火毒內郁，失於清理，致睡臥不寧，煩躁時作，或角弓反張，癇症已萌。宜平肝鎮驚。</p>
<p>白芍藥　茯苓　當歸　山藥　川黃連　陳膽星　鉤藤　甘草　牛黃</p>

<h2>眩暈</h2>
<p>（案1）一兒，忽昏暈不省，少頃如故。此腎水不足，氣不歸元，奔逆而上。宜補腎兼以消痰降火。</p>
<p>人參　白朮　茯苓　黑山梔　山萸肉　陳皮　法夏　池菊　淮山藥　川黃連　甘草　生薑</p>
<p>（案2）一兒，身體肥胖，誦讀勞心，擾動其陽，便眩暈、噁心、作嘔，此火動其痰也，又素喜食肉。戒其少食，以清中和之氣。擬清熱消痰。</p>
<p>橘紅　山楂　法半夏　川黃連　茯苓　山梔　麥芽</p>
<p>（案3）一童，素有內熱，飲食少進，兩尺洪大而虛。乃相火妄動，坎離不交。宜滋陰降火為主。</p>
<p>川黃柏　肥知母　麥冬　生地　當歸　地骨皮　川黃連　秦艽　白芍　陳皮　粉甘草</p>

<h2>積聚</h2>
<p>（案1）一兒因飲食太過，損傷脾胃，面黃腹脹。服消導之劑，腹脹已除。今脈數唇紅，面黃食少，骨蒸內熱，由脾元衰敗而然也。擬消積清熱之中佐以扶元。</p>
<p>陳皮　山楂　川黃連　白芍藥　麥芽　厚朴　白朮　淮山藥　地骨皮　知母　人參</p>
<p>（案2）一兒，向以脾胃受傷，積聚內起，致腹大脹滿，漸至飲食、步履俱廢。醫以補中、行濕、利水治之，半年餘不效。余視之，脈沉小而實，腹堅實有形，乃積滯膠固，與單腹脹又屬兩途。擬攻積除堅，間服補脾開胃，攻補兩施，始得尋愈。今交春肝木得令，不飢食減，腸胃傳化失職，恐前症復萌，取丸劑以緩攻為宜，仿古法之所有，非杜撰也。</p>
<p>黃連　陳皮　香附　山楂肉　焦麥芽　神麯　厚朴　青皮　萊菔子　焦白朮　白芍　膽草</p>
<p>水泛為丸。</p>
<p>（案3）一兒，腹痛有形如癖，脈沉細，獨肝部洪而急。乃傷於怒氣而得之。怒則氣逆，致六腑濁滯而為聚。服消積之劑，脈見虛象，是虛中挾滯，不宜純用攻堅之劑。</p>
<p>陳皮　青皮　人參　雲茯苓　法半夏　柴胡　當歸　白芍　川撫芎　粉甘草</p>
<p>蜜丸。</p>
<p>（案4）一兒，痢後時常寒熱腹痛，十指忽腫而無痛苦，左脅下如覆杯，往來攻痛，氣逆作喘。此肺之積也，名為息賁。</p>
<p>蘇子　桑皮　山楂　細青皮　甜葶藶　法夏　陳皮　厚朴</p>
<p>（案5）一兒，面色不榮，眼白飛青，乃肺金不足而然。當大培脾土以生金，則肺家之積自除。</p>
<p>黃耆　白朮　茯苓　當歸身　白芍藥　楂肉　麥芽　陳皮　淮山藥　薏苡米　炙草</p>
<p>上為細末，神麯漿糊丸，每服二錢，黃米湯調服。</p>
<p>（案6）一兒，痘後兩月，因傷食太過，致身熱不已，胸腹脹滿，乃氣滯鬱熱，六腑為聚，議用和劑。</p>
<p>陳皮　楂肉　川黃連　雲茯苓　甘草　知母　柴胡　青防風</p>
<p>（案7）一兒，面色微黃，身熱食減，痰嗽作嘔，二便如常。乃傷食兼暑熱所致。藥宜溫和，油膩之物少進，恐增秋痢。</p>
<p>陳皮　楂肉　白芍藥　川黃連　知母　法夏　香茹　雲茯苓</p>
<p>（案8）一兒，向有蟲積，腹痛，服藥下蟲數條，糞後有鮮紅血，遂發瀉痢紅白，面色萎黃，肌膚瘦削，復兼外感發熱，嘔吐，飲食減少，擬消積健脾，兼散為主。</p>
<p>陳皮　山楂　白芍藥　青防風　柴胡　川連　神麯　廣藿香　赤茯苓　木通　石蓮　甘草</p>

<h2>盤腸驚</h2>
<p>（案1）一兒，腹中鳴，啼哭不止，甚則身體傴僂。此盤腸驚也。用鉤藤丸煎後劑送下。</p>
<p>鉤藤　木通　新會皮　山楂肉　甘草</p>
<p>（案2）一兒，初病如瘧，秋涼繼受，口腹不節，致中脘氣滯鬱蒸，為谷疸。</p>
<p>茵陳　茯苓　白蔻仁　瓜蔞實　桔梗</p>
<p>（案3）一兒，身目俱黃，尿赤。乃濕熱鬱遏而成。法當通利三焦氣分。</p>
<p>陳皮　紫厚朴　山楂　香附　川黃連　山梔　綿茵陳　赤芍　木通　建澤瀉</p>
<p>（案4）一兒，不慎食物，脘中濕熱內蒸，溲黃。此食積所致。</p>
<p>茯苓　紫厚朴　山楂　陳皮　粉豬苓　澤瀉　綿茵陳</p>
<p>（案5）一兒，十二歲。面目俱黃，口渴溲黃。皆由脾胃濕熱所致。</p>
<p>豬苓　蒼朮　紫厚朴　甘草</p>

<h2>龜背</h2>
<p>（案1）一兒，始患咳嗽，後成龜背之症。背脊曲處作痛，以「肺與大腸相表裡」，咳傷肺氣，氣道壅塞，大腸之氣亦滯，且大腸之頭附於脊骨處，故傴僂作痛。</p>
<p>鉤藤　陳皮　江枳殼　嫩桔梗　甘草</p>
<p>（案2）一兒，已成龜背，兩足不能移，此先天不足，急宜血肉有情之品培補真元。</p>
<p>鹿茸　虎頸骨　熟附子　肉桂　人參　龜板　雲茯苓　淮山藥　萸肉　生地</p>

<h2>諸血</h2>
<p>（案1）一兒，咳咯瑪王形狀之痰，小腹作痛，脾肺脈虛而疾，尺濡軟。水虛金衰之候。戒之在色，庶乎可圖。</p>
<p>麥冬　百合　雲茯苓　川貝母　紫菀　淮藥　米仁　新會皮　阿膠　白及　童便</p>
<p>（案2）一童，十七歲。因遭兄姐連喪，悲傷抑鬱，忽患吐血，六脈微數。詢其血之來，不咳、不咯、不唾，非關於肺、腎二臟可知。如誤作房勞傷損，陰虛火動，進諸寒涼降火、填補滋膩之品，將絡中所離之血，復結而為瘀矣。宜和血順氣。</p>
<p>丹皮　赤芍藥　知母　當歸　桃仁泥　生地　元紅花　橘紅　貝母　粉甘草　加童便</p>
<p>服五六日後，又吐鮮紅血二碗許，投以後方：</p>
<p>赤芍　柴胡　元參　側柏葉　赤茯苓　黃芩　荊芥　川芎　川貝母　枇杷葉</p>
<p>加荷蒂。</p>
<p>（案3）一童於幼年讀書時曾患吐血，服滋陰降火而愈。後因勞頓，復吐血碗許，痰鳴氣促，兩脅作痛。此肝脾鬱滯，努力擾動絡脈故也。</p>
<p>貝母　元參　花粉　新會皮　江枳殼　生地　當歸　藕節　元紅花</p>
<p>服二劑，右脅痛減，痰中帶紫血水，左脅仍痛，是肝氣尚未疏暢，猶有痰涎停滯故也，前方去枳殼，加青皮、丹皮、白芍。又三劑，左脅痛亦除，痰涎紫血仍有，用瓜蔞霜、貝母、蘇梗、麥冬、甘草、桔梗、陳皮、當歸、生地、阿膠。</p>
<p>附：吐血論治。</p>
<p>東垣曰：吐血出於胃，成碗成盆是也。胃者守營之血，守而不走，存於胃中。因胃虛不能攝血，故令嘔吐從喉而出於口也。初起宜當歸、生地、桃仁、紅花、丹皮、赤芍、甘草、橘紅、枳殼、知母、童便之類；夏月加黃芩；或有鬱而致者加貝母；挾痰加元參、花粉。如吐不止，不宜多用涼血之藥，當以此方主之。</p>
<p>麥冬　百合　真阿膠　川貝母　紫菀　米仁　甘草　淮山藥　雲茯苓　白及　陳皮　桔梗</p>
<p>金匱湯云：吐血不止，柏葉湯主之。</p>
<p>柏葉　乾薑（各二兩）　艾（三把）　水（五升）</p>
<p>取馬通一升，合煮一升溫服。</p>
<p>凡吐血不止，則氣血皆虛，虛則生寒。柏葉生而西向，稟兌金之氣，可制肝木。木主升，金主降，取其升降相配，夫婦之道和，則血得以歸藏於肝矣，故用以為君。乾薑性熱，炒黑則止而不走，用補虛寒之血。艾葉溫而能入內，不炎於上，可使陰陽之氣反歸於里，以補其寒，用二味為佐。馬通者，為血生於心，心屬午，於是用午獸之通，主降火、消停血，引領而行為使。此仲景吐血之準繩，可以觸類而長之。凡吐血後見痰者，是陰虛，滋陰降火主之。</p>
<p>生地　熟地　天門冬　麥門冬　黃柏　知母　陳皮　焦白朮</p>
<p>薑、棗煎，入竹瀝、薑汁、童便少許。如吐血後身熱，加地骨皮、柴胡；不應，加炮姜三分。如盜汗不止，氣血虛也，加黃耆、棗仁；氣急加桑皮、紫菀。凡吐痰後見血者，是積熱也。清肺湯主之。</p>
<p>陳皮　白茯苓　當歸身　生地　白芍　紫菀　天門冬　桑白皮　黃芩　黑梔　甘草　阿膠　烏梅</p>
<p>如喘急去天門冬，加蘇子。</p>
<p>又：血出於口、鼻者，犀角、黃芩、黃連以清之，或加茅花、藕節、棕炭、熟蒲黃以止之，或加薑汁、韭汁、童便、山茶花、丹皮以消之。</p>
<p>血出於大便者，槐花、側柏葉、條芩以清之，地榆、荊芥、白芷、茅根以止之。</p>
<p>血出於小便者，瞿麥、麥冬、山梔以清之；滑石、木通、大小薊之類行之。</p>
<p>或清、或行、或止，當視其新久。治療之法，總以四物湯為主。</p>
<p>丹溪吐血方：青黛　瓜蔞霜　訶子肉　海粉　黑梔</p>
<p>蜜丸噙化。梔、黛所以降火；瓜粉所以行痰；訶肉所以斂肺。</p>
<p>有氣、有火則咳；有痰、有血則嗽；咳血者出於肺，咳則痰中帶血是也。清痰湯主之。</p>
<p>當歸　白芍藥　桃紅　貝母　焦白朮　丹皮　黑山梔　黃芩　桔梗　小青皮　甘草</p>
<p>吐血而有血屑者，謂之咯血，自腎經也。清咯湯主之。</p>
<p>陳皮　法半夏　雲茯苓　知母　貝母　生地　黑山梔　真阿膠　桔梗　甘草　杏仁　桑白皮</p>
<p>唾血亦出於腎，鮮血隨吐而出也。清唾湯主之。</p>
<p>知母　川貝母　黃柏　桔梗　元熟地　遠志　天門冬　乾薑　麥冬　黑元參</p>
<p>大便血者，因臟腑蘊積濕熱所致，清臟湯主之。</p>
<p>熟地　當歸身　川芎　白芍　川黃連　黃芩　黑山梔　黃柏　槐花　側柏葉　阿膠</p>
<p>如腹痛加陳皮，傷風加荊芥，氣虛下陷加升麻；心血不足加茯苓；虛寒加炒黑乾薑；大虛加參、術。</p>
<p>腸風糞前來，名近血。柏葉湯主之。</p>
<p>側柏葉　當歸　川黃連　枳殼　槐花　地榆炭　荊芥　炙甘草　烏梅</p>
<p>久不止用地榆散。</p>
<p>烏梅（一兩，去核）　五倍子（五錢）　枳殼（一錢半）　槐米（二錢）　川黃連（三錢）　白芷（一錢）　椿根皮（三錢）　地榆（三錢）　荊芥（三錢）</p>
<p>為末，空心酒調服。</p>
<p>藏毒糞便後來者，名遠血。解毒湯主之。</p>
<p>黃芩　黃連　黃柏　黑山梔　炒槐花　連翹　細辛　甘草</p>
<p>遠血自小腸來，吳茱萸炒黃連、木通為主。</p>
<p>久不止用槐花散。</p>
<p>當歸　地榆炭　元生地　黃芩　升麻　枳殼　真阿膠　側柏葉　槐花　防風</p>
<p>心移熱於小腸，故小便出血。清腸湯主之。</p>
<p>生地　當歸　黑山梔　白芍　川黃連　黃柏　瞿麥　赤茯苓　萹蓄　細木通　麥冬　甘草　燈心</p>
<p>如莖中痛。去芩芍，加滑石、枳殼。</p>
<p>血從鼻出者，謂之「衄」。此由火逆於中，血隨火而上也。吐者責之府，衄者責之經。蓋經者走血之經，火氣急，放血走而不守，隨氣而行．直犯清道而上循於鼻也。犀角地黃湯主之。火者，心之所屬，故生地、犀角涼心而退熱。心者，肝之所生，故用丹皮、白芍平肝而瀉母。</p>
<p>又有傷暑吐衄者，可用「河間法」。其症面垢，口渴喜飲，乾嘔腹痛，脈虛，多汗，後二方主之：黃連解毒湯、白虎湯。</p>
<p>又：當歸　赤芍　黃芩　黑山梔　川黃連　生地　香附　桔梗　粉甘草　側柏葉　藕節</p>
<p>水煎，入童便溫服。</p>
<p>久不止，用麥冬、枇杷葉、側柏葉、生地，傷暑加香薷。</p>
<p>又：久不止，氣微力弱者，不可純用涼劑，宜以此方出入治之。</p>
<p>黃耆　赤芍　赤茯苓　當歸身　熟地　阿膠　白芍</p>

<h2>腹痛</h2>
<p>（案1）一兒，身熱，咳嗽，腹中有痞，升起作痛，肌肉羸弱。宜消補兼施。</p>
<p>青皮　枳實　柴胡　川黃連　白芍藥　白朮　黃芩　桔梗</p>
<p>（案2）一兒，先因外感，繼增腹痛，背脊突起，腰屈不伸。</p>
<p>鉤藤　當歸　白芍藥　山楂　新會皮　甘草</p>
<p>又：鉤藤　元胡索　小青皮　陳皮　甘草　龍膽草</p>
<p>（案3）一兒，傷暑腹痛，拒按。</p>
<p>香薷　川黃連　厚朴　陳皮　山楂　甘草　燈心</p>
<p>（案4）一兒，向有蟲積腹痛，痛時凝聚有形，面黃微腫。宜兼疝治。</p>
<p>金鈴子　川楝子　茯苓　陳皮　木通　細青皮　建澤瀉　山楂</p>
<p>又：白朮　茯苓　淮山藥　焦米仁　白芍　木通　澤瀉　粉甘草</p>
<p>（案5）一女，發熱二日，忽目直上視，胸膈大痛，嗽嘔有血，鼻微有血，不思飲食，乃食傷填塞胃口，脾氣不升，胃濁不降，故作痛而嘔，氣逆，血亦因之而上也。宜消食為主。</p>
<p>陳皮　枳實　山楂肉　檳榔　紫厚朴　神麯　麥芽　萊菔子　大黃</p>
<p>（案6）一兒，患腹痛，不思飲食，夜發驚惕，唇紅面白。乃蟲積為患，痛傷元氣故也。</p>
<p>陳皮　白芍藥　青皮　山楂肉　茯苓　藿香　酸棗仁　山藥</p>
<p>（案7）一兒，向多性躁，因食粽，復夜起胃寒，遂中脘作痛。溫中消食為主。</p>
<p>青皮　草豆蔻　香附　山楂　萊菔子　陳皮　焦麥芽　甘草</p>
<p>又：青皮　山楂肉　陳皮　白芍　川黃連　香附　元胡索　白朮　甘草　蓬莪朮</p>
<p>蜜丸，空心服一錢二分。</p>
<p>（案8）一兒，中脘作痛，腹脹滿，噁心厭食，乃宿食停滯所致。</p>
<p>青皮　草蔻　法半夏　白芍藥　藿香　厚朴　山楂　焦麥芽　熟砂仁</p>
<p>（案9）一兒，腹痛，鼻間青色，涕出。此天令暴寒，形寒傷冷，復不節飲食。</p>
<p>陳皮　厚朴　山楂肉　焦麥芽　白芍　甘草　生薑</p>
<p>（案10）一童，中脘作痛，發時欲吐不吐。以香砂枳實丸主之。</p>
<p>陳皮　山楂　麥芽　川楝子　石菖蒲　枳實　香附　砂仁　法半夏　建神麯　白朮</p>
<p>蜜丸。</p>
<p>（案11）一童，曾患骨蒸，後因坐臥磚石之處，致寒熱摶於肝經，少腹厥氣上衝，睪丸作脹。此熱鬱於內而寒束於外也。當疏肝為主。</p>
<p>青木香　陳皮　白芍　澤瀉　川楝子　小青皮　木通　柴胡　黃連</p>
<p>（案12）一兒，飲食不調，濕熱鬱蒸，腹痛止作無定，往來上下行痛，懊憹，嘔吐清水，此濕熱生蟲、生積所致。宜苦寒泄熱，兼調脾胃。</p>
<p>使君肉　香附　青皮　檳榔　川楝子　川黃連　山楂　麥芽　神麯　江枳殼　白芍藥　茯苓</p>
<p>（案13）一兒，發熱，腹痛，頭面周身作癢，搔則紅瘰如雲頭，此風毒而加之以濕熱。投防風通聖散加減而愈。</p>
<p>防風　荊芥　前胡　薄荷葉　黑元參　山梔　滑石　陳皮　江枳殼　連翹仁　甘草</p>
<p>（案14）一兒，四歲。患腹痛半月餘矣，日夜必發四五次，身漸羸瘦。醫以蟲積治不效，舟載入城。予以大黃、枳實、陳皮、甘草大劑熱服，其痛如失，正《經》所謂：「治熱以寒，溫而行之」之法也。</p>
<p>（案15）一兒，大病後，咳嗽腹痛，間發身熱，唇紅面白，消瘦食減，神倦。乃元氣未復，陽無所依而陰浮於外故也。</p>
<p>白朮　茯苓　當歸身　法半夏　陳皮　白芍　知母　地骨皮　軟柴胡　甘草</p>
<p>（案16）一女，向有積熱未除，身熱腹痛，不思飲食。宜化積消食理氣。</p>
<p>陳皮　青皮　紫厚朴　萊菔子　山楂　枳殼　白芍　淡豆豉　枯黃芩　柴胡</p>
<p>（案17）一兒，四肢作痛，繼而腹痛泄瀉，而四肢痛因之以減。此濕熱之邪下行矣。當以泄瀉治。</p>
<p>厚朴　陳皮　甘草　建澤瀉　山楂肉　川連　白芍　檳榔　江枳實　小青皮　木通</p>
<p>（案18）一兒，素多內熱，今腹痛屢發，聲嘶神倦，胸膈不舒。宜寬中下氣清熱為主。</p>
<p>陳皮　青皮　江枳殼　白芍藥　黃連　山梔　楂肉</p>
<p>（案19）一兒，心腹痛，睡臥不寧，神思倦怠。此心腎不交。宜養血安神，不可專以破氣為事。</p>
<p>人參　白茯神　遠志肉　當歸　生地　麥冬　天門冬　川黃連　白芍　山梔　陳皮　川貝母</p>
<p>（案20）一兒，胸膈作痛，引至背，此氣滯血虛所致。不得以氣食例論治。</p>
<p>陳皮　白芍　當歸身　川撫芎　青皮　生地　香附</p>
<p>（案21）一兒，坐於石上，寒氣入於厥陰，致腎囊睪丸腫大作痛。法宜疏肝散逆，兼通太陽之裡。</p>
<p>柴胡　青木香　青皮　木通　金鈴子　豬苓　建澤瀉</p>

<h2>腫脹</h2>
<p>（案1）一兒，遍體浮腫，此風水也。擬上下分消法。</p>
<p>乾葛　羌活　防風　熟蘇子　大腹皮　木通　澤瀉　車前　新會皮　江枳殼　桑皮　茄皮　燈心</p>
<p>服二劑，腫勢減半，去羌活、枳殼，加白朮、茯苓、山藥。</p>
<p>（案2）一兒，腹脹五十餘日，漸至妨食嘔吐。此脾胃兩虛。擬溫補為主。</p>
<p>人參　白朮　乾薑　淮山藥　廣藿香　烏梅　甘草</p>
<p>（案3）一兒，數歲。因喪母悲思太過，致心脾郁損，身熱脘悶，面無華色，神倦形瘦，下部浮腫，陰囊脹大。一醫以食積治，投消食清熱之劑，遂畏寒嘔吐，轉增泄瀉，皆久服寒涼克伐，脾胃衰敗之象，恐醫藥難挽。</p>
<p>人參　白朮　淮山藥　米仁　杜車前　澤瀉　木瓜　山萸肉　肉桂</p>
<p>服二劑後，六脈代止不勻，胃脈絕矣。奈主強藥，勉議一方，即前方去萸肉、木瓜、肉桂，加附子。服之究竟不起，可悲也。</p>
<p>（案4）一兒，陰囊腫亮，少腹脹急。由坐臥於陰濕處，以致搏於皮膚而成此症。宜解表、行氣、利水。</p>
<p>粉葛根　薄荷葉　防風　陳皮　木通　杜車前　萊菔子　枳殼　蘇子　山楂</p>
<p>（案5）一兒，患瘡，忽腹脹氣急，上、下俱微腫。此先有瘡毒，復感風邪，內外相摶，榮氣不從，乃成腫脹。宜先以散風為主。</p>
<p>防風　荊芥　乾葛　江枳殼　新會皮　桑皮　蘇子　杏仁</p>
<p>（案6）一兒，腫脹日久，脾氣已損，復感風邪，咳嗽。</p>
<p>羌活　防風　前胡　桑白皮　熟蘇子　杏仁　木通　豬苓　甜葶藶　天花粉　腹皮　生薑</p>
<p>（案7）一童，瀉久，肢腫腹脹，乃土虛不能制水，當補中利水行濕為主。</p>
<p>陳皮　茯苓　白朮　生米仁　淮山藥　人參　半夏　厚朴　大腹皮　建澤瀉　木通　山楂</p>
<p>（案8）一女，十歲。秋間曾患瘡瘍，雖已痊愈，飲食尚少，至望前夜發潮熱，腹脹臍突，晚臥不安，咳嗽氣急。咸以瘡毒入腹治之，以其便難，又行下法，諸症更劇。延予診視，脈俱洪數，系積熱既久，脾土衰弱，不能生肺金，木寡於畏而來侮土，故腹脹如鼓。兼之睡臥氣促，痰火上升也。《經》曰：「諸脹腹大，皆屬於熱」。又曰：「諸濕腫滿，皆屬於脾」。乃知脾虛為本，濕熱為標。法當降火清金，補脾行濕。</p>
<p>麥冬　黃芩　川黃連　雲茯苓　厚朴　澤瀉　腹皮　甜葶藶　杜蘇子　山藥　半夏　桑皮</p>
<p>（案9）一兒，遍身浮腫，少腹脹痛，小溲不利，欲吐。因痰涎膠固於膈，且久乏穀氣，不敢妄行攻擊。</p>
<p>陳皮　木通　甜葶藶　杜車前　澤瀉　枳殼　腹皮　青防風　上云珀</p>
<p>（案10）一兒，向有積熱哮喘，觸之即發。前患瘧疾，月餘方愈，然脾氣已損，以致遍身浮腫，哮喘頻發不得臥，食則稍可。此虛火炎上之徵。但久病之後，脾肺兩虛，能進參、術，猶可挽回，若仍用利水之劑，則非余之所知。</p>
<p>人參　白朮　茯苓　麥門冬　桑白皮　桔梗　陳皮　蘇子　馬兜鈴</p>
<p>（案11）一兒，水腫，上部已退，飲食未進。宜補中、行濕、利水。</p>
<p>陳皮　木通　建澤瀉　杜車前　白朮　茯苓　山藥　山楂肉　建神麯　藿香　半夏　腹皮</p>
<p>（案12）一兒，先腫後喘，手足逆冷，不思飲食，脈小而沉。此脾傳肺也，《經》謂之「陰水」。理宜補脾扶元。以其喘急，先治其標。</p>
<p>炙桑皮　茯苓皮　蘇子　車前　腹皮　細木通　建澤瀉　陳皮</p>
<p>（案13）一兒，身多瘡疥，浴後瘡勢稍減，忽遍身發腫，心胸頭面更甚，氣促不能眠，日晡更劇。乃瘡瘍久耗其真元，腠理不密，風邪入客於肺而腫且喘也。宜疏肺解表治之。</p>
<p>甜葶藶　杜蘇子　桑皮　杏仁　枳殼　炙麻黃　青防風　荊芥　前胡</p>

<h2>汗症</h2>
<p>（案1）一兒，遍身有汗，頭額更甚，《經》云：「汗者，心之汗」。東垣主脾胃有濕。今自汗，食減䐜脹。宜以濕熱兼治。</p>
<p>陳皮　當歸　白芍藥　地骨皮　楂肉　黃耆　黃連　粉甘草</p>
<p>（案2）一兒，病後自汗不止，形神困疲，五心煩熱。此陰虛有熱也。</p>
<p>當歸　生地　熟地　川黃柏　枯黃芩　黃耆　黃連　茯神　白芍藥　酸棗仁　甘草</p>

<h2>淋症</h2>
<p>（案1）一兒，五歲。身面俱黃，煩渴，小水頻數。乃食積傷脾，兼之濕熱相乘所致。治當消積、退黃、利小便。</p>
<p>陳皮　山楂　麥芽　厚朴　細木通　山梔　澤瀉　黃連　瞿麥　綿茵陳</p>
<p>（案2）一兒，三歲。便濁如泔，此食積蓄熱所致。久而不治，則成「腎消」。</p>
<p>陳皮　山楂　麥芽　紫厚朴　生山梔　木通　赤芍　黃連　龍膽草</p>
<p>（案3）一兒，胸膈脹痛，飲食少進，六脈沉細而數，便濁莖痛，甚則帶血。當清利膀胱蓄熱。</p>
<p>當歸身　生地　黃柏　龍膽草　木通　杜車前　澤瀉　赤苓　上云珀　石韋　石蓮肉</p>
<p>（案4）一童，知識太早，陰未生成，早泄，溲短澀，莖痛。法宜壯水和陽。</p>
<p>黃柏　知母　熟地　金櫻子　豬脊髓　龜板　牡蠣　芡實</p>

<h2>目症</h2>
<p>（案1）一兒，數歲。左目白珠紅赤，難於張開，向服眼科寒涼之劑，致外邪鬱而不散。宜解表為主，佐以養血。</p>
<p>川芎　荊芥　薄荷葉　川黃連　生地　陳皮　當歸　小連翹　青防風　甘草　燈心</p>
<p>（案2）一兒，風毒上攻，目赤腫痛。乃天行時症，以九仙散加減治之。</p>
<p>薄荷葉　羌活　川芎　防風　當歸身　川黃連　甘草</p>
<p>（案3）一兒，痧後餘毒未盡，復感風邪，遂眼胞浮腫，右珠突出。宜清熱、解毒、退翳為主。</p>
<p>黃芩　川黃連　連翹　青防風　蟬退　花粉　龍膽草　甘菊　羚羊角　桑皮　山梔</p>
<p>（案4）一女，五歲。痘後九月，右眼胞下微腫，多眵多淚，且紅爛。乃脾家之病，當多汗，問之果然。因痘後失於調理，脾虛氣弱，腠理不密，外邪易入。用當歸六黃湯以實腠理。發時以荊、防、菊、蔓、翹、荷之類，以散表邪。</p>
<p>黃連　黃芩　生地黃　熟地黃　黃耆　白芍　山楂　地骨皮　新會皮</p>
<p>蜜丸。</p>
<p>（案5）一兒，痘後失藥調治，又值炎天蘊熱摶肝，斑瘡入目，身多瘡疥。</p>
<p>金銀花　連翹　當歸　白芍　川黃連　天花粉　木賊　穀精　膽草　密蒙花　望月砂</p>
<p>（案6）一兒，於夏間左眼胞下生瘡及眉毛，至十月終復感風熱，致目紅腫不開。</p>
<p>防風　荊芥　薄荷葉　淨蟬退　陳皮　楂肉　甘草</p>
<p>（案7）一兒，五歲。左目微腫，羞明下淚。由肝火熾盛而然，與五疳丸十丸，空心米飲下，投以後方。</p>
<p>白朮　茯苓　山楂　川黃連　白芍藥　膽草　骨皮</p>
<p>（案8）一兒，患積症，目夜不明，腹微痛。</p>
<p>川黃連　龍膽草　山楂　麥芽　陳皮　小青皮　茅蒼朮　白朮　當歸　青黛　使君肉　豬牙皂　殭蠶</p>
<p>為丸白湯下。</p>
<p>（案9）一兒，疳積，目有紅翳。</p>
<p>龍膽草　山楂　麥芽　建神麯　白芍　川黃連　當歸　白朮　紫厚朴　香附</p>
<p>（案10）一兒，痘後有紅翳。</p>
<p>陳皮　茯苓　蟬退　川黃連　白芍藥　連翹　甘草</p>
<p>（案11）一兒，眼胞微腫，夜多啼哭，咳嗽痰涎。</p>
<p>蘇葉　荊芥　防風　薄荷葉　杏仁泥　楂肉　陳皮　前胡　桑白皮</p>
<p>（案12）一兒，腹中痛，眼上稍有紅翳，此疳積也。</p>
<p>雞肺散</p>
<p>（案13）一童，十五歲。羞明畏日，不能仰視者二年矣。屢投瀉火清肝，致面黃羸瘦。予脈之，兩尺浮大。此腎水不足，心火炎上，法當壯水之主以鎮陽光。</p>
<p>六味丸加人參、甘菊、密蒙花。</p>
<p>（案14）一女，十五歲。患目赤有云翳，羞明畏熱。心火上炎，兼肝鬱所致。法當抑火之源。</p>
<p>生地　當歸　白芍　川黃柏　甘菊花　陳皮　黃連　柴胡　龍膽草　穀精珠　甘草</p>
<p>（案15）一兒，未滿百日，兩目忽然流血，他無所苦，惟羞明眵淚。此內火偏旺，兼食病乳，乃心、肝、脾受病，《經》曰：「五臟六腑之精氣，皆稟受於脾而上注於目。」首為諸陽之會，目乃血脈之宗，今內熱既盛，又加以風熱上壅，則循空竅而上溢於目矣。宜涼血清熱。</p>
<p>陳皮　赤芍　生地　粉丹皮　川黃連　膽草</p>
<p>（案16）一兒，斑後餘毒未解，上攻於目，有翳。由肝木偏旺，脾土受困，致泄瀉繼起。宜祛風明目，佐以實脾，使清陽之氣上升，則濁陰自歸下竅，目明而瀉自止矣。</p>
<p>升麻　黃耆　青防風　川芎　軟柴胡　車前　茯苓　枯黃芩　蘇木　元紅花　陳皮　甘草　石決明</p>
<p>孫用和傳治白珠有紅翳侵睛方</p>
<p>白菊花（八兩）　甘枸杞（四兩）　生地（五兩）　杜蜜（二斤）</p>
<p>取一磁瓶，湯煮一滾，置蜜於瓶內，投上三味於蜜中，攪勻、封固，隔水煮二晝夜，水少頻頻添之，瓶口將石壓定，日用軟柴，夜用硬柴，令不間斷，煮畢取起，置一缸內，盛水、鋪磚於內，置藥瓶於磚上，出火氣，七日可用滾水，任意服之。食盡，紅翳自退，良有效驗。</p>

<h2>耳症</h2>
<p>（案1）一兒，左耳腫痛，膿汁壅塞。此腎經有熱也。用蔓荊子湯加減治之。</p>
<p>蔓荊子　丹皮　赤芍　連翹仁　木通　川黃連　甘菊　桑皮</p>
<p>（案2）一兒，耳出黃膿，身微熱，脾胃有積，兼熱氣上衝所致。</p>
<p>陳皮　山楂　麥芽　桑白皮　白甘菊　甘草</p>

<h2>乳蛾口疳</h2>
<p>（案1）一兒，晝夜啼哭，喉中紅腫。此乳蛾也。用鵝羽攪之，吐出痰涎碗許，用龍膽草為末，吹入而愈。</p>
<p>（案2）一兒，忽然喉音不清，此熱鬱於內，復感風寒所致。</p>
<p>知母　黃柏　黑元參　天花粉　前胡　桔梗　甘草</p>
<p>（案3）一兒，上唇尖腫起突出，此必發一熱毒。宜消散為善。</p>
<p>防風　荊芥　大力子　薄荷葉　連翹　黃芩　山梔　黑元參　粉甘草</p>
<p>（案4）一兒，忽口角歪斜，乃陽明胃熱與脾濕相併而成。宜祛風劫痰。</p>
<p>殭蠶　白附子　明天麻　獨活　防風　半夏　陳膽星　龍膽草　陳皮　山梔　桔梗　薄荷葉　甘草</p>
<p>（案5）一兒，口疳。用犀角汁和梨汁服之，外用硼砂、冰片、寒水石、青黛為末吹之。亦治木舌、重舌、喉痹，神效。</p>

<h2>結核</h2>
<p>（案1）一兒，初生兩月，項下有核如彈，堅著不移，身熱。此內有胎熱，兼之衣被太厚，外為風邪所遏。宜祛風清熱。</p>
<p>柴胡　薄荷　前胡　大力子　江枳殼　陳皮　元參　黃芩　連翹仁</p>
<p>（案2）一兒，患症如前，服前藥稍減，因藥間斷，復紅腫欲潰。</p>
<p>當歸　川芎　貝母　皂角刺　金銀花　連翹　桔梗</p>
<p>又：潰後即前方加人參，間服滋養之劑而愈。</p>
<p>（案3）一兒，左邊太陽有核如彈，半年不愈。醫用灸法，數日而大如雞卵，用敷藥而漸大如覆杯。用降藥以欲其腐去，致形如翻花，膿水不幹，飲食不入，面色無神，四肢浮腫。因思立齋云：瘤者留也，隨處凝滯，皆因氣血乖違，臟腑受傷。當治其本，大抵屬肝膽二經者多，宜養氣血、清肝火。</p>
<p>人參　白朮　雲茯苓　炙甘草　生地　歸身　山梔　龍膽草</p>
<p>服後瘡口翻突，臭腐難近，小便閉，飲食不進，兼間有積滯腹痛。皆由脾氣敗壞所致，恐醫藥難挽。</p>
<p>人參　白朮　雲茯苓　綿黃耆　肉桂　米仁　木通　淮山藥</p>

<h2>痿症</h2>
<p>（案1）一女，右手痿弱，不能舉動，面發瘰。此脾肺濕熱所致。</p>
<p>黃芩　川黃柏　茯苓　地骨皮</p>
<p>（案2）一兒，五歲。面色萎黃，兩足軟弱，不能步履。據述，平時飲食不節，屢受風濕，脾氣損傷，肺失所養，致濕邪阻滯氣分。宜健脾消食，清熱、利濕。</p>
<p>茅蒼朮　焦白朮　山楂　麥芽　陳皮　粉豬苓　建澤瀉　木瓜　牛膝　川連　揀麥冬　綠升麻</p>

<h2>瘡瘍</h2>
<p>（案1）一兒，患瘡久久，下部更多，身熱自汗，食少腹實。由瘡久氣血耗損，復感風邪。</p>
<p>荊芥　防風　連翹　金銀花　川黃連　陳皮　茯苓　山藥</p>
<p>又：連翹　白芍　銀花　生米仁　細木通　甘草</p>
<p>（案2）一兒，歲許。頭瘡，耳後發一小毒，微腫。胎毒所致。</p>
<p>大力子　荊芥　連翹　淨銀花　花粉　黑元參　桔梗　甘草　山梔　木通　桔梗　連翹仁　粉甘草</p>
<p>又：大力子　枳殼　貝母　銀花　赤芍藥　黑元參</p>
<p>（案3）一兒，項有結核如豆大，後發壯熱，喉下腫起高突，咽喉閉塞，不能飲乳。先以鵝羽探吐痰涎，次服煎劑。</p>
<p>陳皮　枳殼　黃芩　連翹仁　青防風　前胡　瓜蔞　桔梗　黑山梔　龍膽草　蘇子</p>
<p>又：貝母　元參　花粉　江枳殼　新會皮　前胡　海藻　夏枯草</p>
<p>（案4）一兒，咽喉左邊腫痛有核。此由衣被太厚，常近火側，多食炙煿，痰火內鬱而成也。若失治恐成癭瘤。</p>
<p>柴胡　前胡　大力子　黃芩　新會皮　枳殼　元參　炒殭蠶　花粉　嫩桔梗</p>
<p>（案5）一兒，頰下患結核，身熱痰嗽。</p>
<p>前胡　貝母　桑白皮　黑元參　桔梗　花粉　連翹　江枳殼　夏枯草　陳皮　杏仁</p>
<p>（案6）一兒，歲許。眉間發瘡，令煎花椒湯洗之。</p>
<p>大力子　荊芥　銀花　花粉　川黃連　川黃柏　蟬退　木通　甘草</p>
<p>又：明礬五錢入蔥管內煨，龜板五錢酥炙為細末，菜油調敷。</p>
<p>（案7）一兒，患瘡，小水赤澀。此濕熱所致。</p>
<p>銀花　連翹　木通　生山梔　川黃柏　山楂　甘草</p>
<p>（案8）一兒，痘後生瘡癤。</p>
<p>赤茯苓　貝母　淨銀花　赤芍　山藥　川黃連　米仁　連翹　細木通　甘草</p>
<p>（案9）一兒，遍體疥瘡，皮膚濕爛。</p>
<p>銀花　連翹　何首烏　焦茅朮　黃柏　殭蠶　蟬退　粉甘草</p>
<p>（案10）一兒，瘡後，咳嗽有痰，唇紅。</p>
<p>銀花　桔梗　陳皮　建神麯　川黃連　木通　鉤藤　甘草</p>
<p>（案11）一兒，病後，身上生瘡，面白神倦，小便不利。防其發腫。</p>
<p>白朮　茯苓　淮山藥　生米仁　澤瀉　赤芍　連翹　細木通　金銀花</p>
<p>煎膏服。</p>
<p>（案12）一兒，遍體生瘡，浮腫，咳逆氣促，兼外感風邪。</p>
<p>桑白皮　枳殼　蘇子　新會皮　前胡　青防風　木通　杏仁　葶藶子　豬苓　建澤瀉</p>
<p>（案13）一兒，患瘡，潮熱。</p>
<p>陳皮　當歸　赤芍　赤茯苓　楂肉炭　黃柏　知母　元參　淨銀花　軟柴胡　甘草</p>
<p>（案14）一兒，遍身瘡瘍，頭上瘡，蓋甚厚。此胎中熱毒所致。不宜湯藥熏洗，恐瘡毒入腹，為患不淺也。</p>
<p>犀角解毒丸</p>
<p>（案15）一兒，頭上發狗癬疥，身熱痰鳴。此外感風邪所致。先解其表。</p>
<p>葛根　荊芥　新會皮　細木通　楂肉</p>
<p>服二劑後，外邪已散。用銀花、連翹、陳皮、木通、甘草煎膏服，以解其毒。</p>
<p>（案16）一兒，狗癬疥，頭額甚多，膿水淋漓，肚腹實。</p>
<p>殭蠶　山楂　麥芽　川黃連　紫厚朴　陳皮　甘草</p>

<h2>齒痛</h2>
<p>（案1）一兒，身熱齒痛。此風熱客於陽明也。</p>
<p>薄荷葉　荊芥　防風　陳皮　川黃連　粉丹皮　甘草　燈草　石膏</p>
<p>（案2）一女，左牙床腫痛，發熱，右頤紅腫。陽明蓄熱所致。防風通聖散加減治之。</p>
<p>荷葉　連翹　大力子　元參　桔梗　青防風　山梔　飛滑石　石膏　銀花　粉甘草</p>
<p>（案3）一童，齒縫出血不止。此由元陰不足，相火妄動而乘於陽明也。滋陰藥中加丹皮、童便、甘草。</p>
<p>（案4）一人，血虛齒痛。</p>
<p>升麻　石膏　丹皮　枯黃芩　小生地　當歸　陳皮　甘草</p>
<p>附：</p>
<p>（案1）一兒，臂痛不能舉手足，或左或右，時復轉移，脈沉細。此中脘有停飲，脾氣不行，故上攻於臂也。宜治痰為主。</p>
<p>半夏（二兩）　茯苓（一兩）　江枳殼（五錢）　風化硝（二錢五分）</p>
<p>用薑汁煮麵，和為丸，桐子大，每服三十丸，薑湯下。</p>
<p>（案2）一兒，項痛，足軟，牙血，面色萎黃。此風濕客於三陽，傳入足太陰經，濕久生熱所致。</p>
<p>元參　天花粉　連翹　防風　荊芥穗　薄荷　大力子　石膏　滑石　淨銀花　桔梗　甘草</p>
<p>小便不通，用荊芥二兩、大黃一兩；大便不通，用大黃二兩、荊芥一兩。</p>
<p>小便不禁，肺氣虛也。宜安臥養氣，以參、耆之類補之。有熱加黃柏、生地。</p>
<p>濕癬用陳皮、山楂、麥芽、豬苓、澤瀉、川連、茅朮、白朮、木瓜、牛膝、茄皮。</p>
<p>（案3）一兒，項軟，喉中有痰。諸醫以天柱骨倒而用人參。余竟以風藥治之而效。</p>
<p>陳皮　殭蠶　明天麻　藁本　黑山梔　黃芩　茯苓　粉甘草</p>
<p>癬方，用土槿皮五錢，大黃五錢，斑蟲十個，密陀僧五錢，燒酒半斤，浸一日，擦患處。</p>
<p>頭上肥瘡用松香、淘丹、橄欖核煅研末，將鮮油一塊，鋪青布上，入松香，卷緊扎住，用火燃之，滴入鍾內，取灰燼，並橄欖核灰、淘丹一併交融，去火毒，搽之。</p>
<p>頭上禿瘡，用左旋龍一兩瓦上煅，花椒四錢、硫黃三錢、紅砒五分共研和，將蔥頭、甘草，水洗淨，麻油調敷。</p>
<p>走馬疳方，用川連一錢，人中白四錢，硼砂三錢，雄黃二錢，青黛三錢，橄欖七枚，煅冰片一分，自孝竹箬二葉，燒灰，共為末，應用神效。</p>
