<header data-type="book">
<h1>時方歌括</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>陳念祖</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1801">公元1801年</data></dd></div>
<div><dt>底本</dt><dd>《陳修園醫書五十種·時方歌括》，清光緖乙巳31年商務印書館（<a href="https://repository.lib.cuhk.edu.hk/tc/item/cuhk-615014">香港中文大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>小引</h1>
<p>經方尚矣。唐宋以後。始有通行之時方。約其法於十劑。所謂宣通補泄輕重滑澀燥濕是也。昔賢加入寒熱。共成十有二劑。雖曰平淺。而亦本之經方。輕可散實。仿於麻黃葛根諸湯。宣可決壅。仿於梔豉瓜蒂二方。通可行滯。仿於五苓十棗之屬。瀉可去閉。仿於陷胸承氣抵當之屬。膽導蜜煎。滑可去著之劑也。赤石脂桃花湯。澀可固脫之劑也。附子湯理中丸。補可扶弱之劑也。禹餘糧代赭石。重可鎮怯之劑也。黃連阿膠湯。濕可潤燥之劑也。麻黃連軺赤小豆湯。燥可去濕之劑也。白虎黃連瀉心等湯。寒可勝熱之劑也。白通四逆諸湯。熱可制寒之劑也。余曏者彙集經方而韻注之。名為真方歌括。限於貲而未梓。繕本雖多。而刀圭家每秘而弗傳。大為恨事。辛酉歲。到直供職。適夏間大雨。捧檄勘災。以勞構疾。脈脫而厥。諸醫無一得病情者。迨夜半陽氣稍回。神識稍清。自定方劑而愈。時溫虐流行。因余之病。而知誤於藥者。堪憫焉。蓋醫者。生人之術也。一有所誤。即為殺人。余濫竽人後。諸多有志而未逮。而可以行其不忍人之心。不必待諸異時者。醫之為道也向著真方歌括。非內經。即仲景。恐人重視而畏避之。每值公餘。檢閱時方。不下三千首。除雜沓膚淺之外。擇其切當精純。人人共知者。不可多得。僅收一百八首而韻之。分為十二劑。以便查閱。又採集羅東逸柯韻伯諸論。及餘二十年讀書臨症獨得之妙。一一詳於歌后。顏曰時方歌括。為中人以下立法。徐可引以語上之道也。至於張景岳新方八陣。匯藥治病。不足言方。緣一時盛行。余友林雨蒼俯以從時。韻既成帙。共商註解。業經梓行。亦不遽棄。別其名曰俗方歌括。此三種者。淺深高下。明者自知之。</p>
<p><u>嘉慶辛酉孟秋修園陳念祖題於保陽差次</u></p>

<h1>凡例</h1>
<p>一是書前曾託名葉天士。今特收回。</p>
<p>一是書論證治法。悉遵古訓。絕無臆說浮談。以時法列於前。仲師法列於後。由淺入深之意也。</p>
<p>一坊刻萬病回春嵩厓尊生古今醫統東醫寶鑑等書。所列病症。不可謂不詳。而臨時查對。絕少符合。即有合處。亦不應驗。蓋以逐末而忘其本也。試觀內經難經傷寒論金匱要略。每症只寥寥數語。何所不包。可知立言貴得其要也。此書如怔忡頭痛歷節諸症。非遺之也。怔忡求之虛癆。頭痛有邪求之傷寒。無邪求之眩暈。虛癆歷節。尋其屬風屬濕屬虛而治之。所以寓活法也。學醫始基。在於入門。入門正。則始終皆正。入門錯。則始終皆錯。此書闡明聖法。為入門之准。不在詳備。若得其秘訣。未嘗不詳備也。有症見於此。而治詳於彼者。有論此症。而彼症合而並論者。有論彼症。絕未明言此症。而即為此症之金針者。實無他訣。唯其熟而已。熟則生巧。自有左右逢原之妙。</p>
<p>論中所列諸方第三卷第四卷俱載弗遺。唯傷寒論金匱要略方非熟讀原文。不能領會。此書偶有闕而未載者。欲人於原文中尋其妙義。闕之即所以引之也。閱者鑑子之苦心焉。</p>
<p>一方後附論。或採前言。或錄一得。視諸書較見簡括。閱者自知。</p>

<h1>卷上</h1>

<h2>補可扶弱</h2>

<h3>四君子湯</h3>
<p>治面色痿白。言語輕微。四肢無力。脈來虛弱者。若內熱或飲食難化作酸。乃屬虛火。須加乾薑。</p>

<h3>六君子湯</h3>
<p>治脾胃虛弱。痞滿痰多。</p>

<h3>香砂六君子湯</h3>
<p>治氣虛腫滿。痰飲結聚脾胃不和。變生諸症者。</p>

<h3>五味異功散</h3>
<p>健脾進食。為病後調補之良方。</p>
<p>苓朮參甘四味同。（人參茯苓白朮各二錢。炙甘草一錢。加薑棗煎。名四君子湯。）方名君子取謙沖。增來陳夏痰涎滌。（前方加陳皮一錢順氣。半夏二錢除痰。名六君子湯。）再入香砂痞滿通。（六君子湯加木香砂仁各八分。以行氣消脹。名為香砂六君子湯。）水穀精微陰以化。（飲食增則津液旺。充血生精。以復其真陰之不足。）陽和布護氣斯充。（食入於陰。氣長於陽。晝夜循環。周於內外。）若刪半夏六君內。錢氏書中有異功。（六君子湯內。去半夏。名五味異功散。）</p>
<p>陳修園曰。胃氣為生人之本。參朮苓草。從容和緩。補中宮土氣。達於上下四旁。而五臟六腑。皆以受氣。故一切虛證。皆以此方為主。若加陳皮。則有行滯進食之效。再加半夏。即有除痰寬脹之功。再加木香砂仁。則行氣之藥。多於補守。凡腫滿痰飲結聚等證。無不速除。此猶人所易知也。而為數方之主。則功在人參。人皆曰人參補氣補陽。溫藥藉之以盡其力量。而余則曰。人參補陰養液。燥藥得之則臻於和平。故理中湯中薑朮二味。氣勝於味。以扶陽。參草二味。味勝於氣。以和陰。此湯以乾薑易茯苓。去其辛而取其淡。亦陰陽兼調之和劑也。凡醫家病家。俱重人參。全未識人參之性。皆不讀神農本草經之過也。今錄本草經原文而釋之。或數百年之誤。於茲而一正也乎。</p>
<p>按神農本草經云。人參氣味甘。微寒無毒。主補五臟。安精神。定魂魄。止驚悸。除邪氣。明目開心益智。久服輕身延年。原文只此三十七字。其提綱云。主補五臟。以五臟屬陰也。精神不安。魂魄不定。驚悸不止。目不明。心智不足。皆陰虛為亢陽所擾也。今五臟得甘寒之助。則有安之定之止之明之開之益之之效矣。曰邪氣者。非指外邪而言。乃陰虛而壯火食氣。火氣即邪氣也。今五臟得寒甘之助。則邪氣除矣。余細按經文。無一字言及溫補回陽之性。</p>
<p>仲景於汗吐下陰傷之證用之。以救津液。而一切回陽方中。絕不加此陰柔之品。反緩姜附之功。故四逆湯通脈四逆湯。為回陽第一方。皆不用人參。而四逆加人參湯。以其利止亡血而加之也。茯苓四逆湯用之者。以其煩燥在汗下之後也。今人輒云。以人參回陽。此說倡之宋元以後。而大盛於薛立齋張景岳李士材輩。而李時珍本草綱目。浮泛雜沓。愈亂經旨。學者必於此等書焚去。方可與言醫道。○仲景一百一十三方中。用人參者。只有一十八方。新加湯。小柴胡湯。柴胡桂枝湯。桂枝人參湯。半夏瀉心湯。四逆加人參湯。茯苓四逆湯。生薑瀉心湯。黃連湯。旋覆代赭石湯。乾薑黃連黃芩人參湯。厚朴生薑半夏人參湯。白虎加人參湯。竹葉石膏湯。炙甘草湯。皆因汗吐下之後。亡其津液。取其甘寒以救陰也。抑或辛剛劑中。取其養陰以配陽。即理中湯。吳萸湯。附子湯三方之法也。</p>

<h3>香砂六君子湯論</h3>
<p>柯韻伯曰。經云。壯氣行則愈。怯者著而為病。蓋人在氣交之中。因氣而生。而生氣總以胃氣為本。食入於陰。長氣於陽。晝夜循環。周於內外。一息不運。便有積聚。或脹滿不食。或生痰留飲。因而肌肉消瘦。喘咳嘔噦。諸證蜂起。而神機化絕矣。四君子。氣分之總方也。人參致沖和之氣。白朮培中宮。茯苓清治節。甘草調五臟。諸氣既治。病從何來。然撥亂反正。又不能無為而治。必舉夫行氣之品以輔之。則補品不至泥而不行。故加陳皮以利肺金之逆氣。半夏以疏脾土之濕氣。而痰飲可除也。加木香以行三焦之滯氣。砂仁以通脾腎之元氣。而膹郁可開也。四君得四輔。而補力倍宣。四輔有四君。而元氣大振。相須而益彰者乎。</p>

<h3>補中益氣湯</h3>
<p>治陰虛內熱。頭痛口渴。表熱自汗。不任風寒脈洪大。心煩不安。四肢困倦。懶於言語。無氣以動。動則氣高而喘。</p>
<p>補中參草術歸陳。耆得升柴用更神。（黃耆蜜炙錢半。人參甘草炙白朮各一錢。陳皮歸身各五分。升麻柴胡各三分。加薑棗煎。）勞倦內傷功獨擅。陽虛外感亦堪珍。</p>
<p>柯韻伯曰。仲景有建中理中二法。風木內干於中氣。用建中湯。寒水內凌於中氣。用理中湯。至若勞倦形氣衰少。陰虛而生內熱。（陰者。太陰也。）表症頗同外感。惟東垣知其為勞倦傷脾。穀氣不盛。陽氣下陷於陰而發熱。故制補中之劑。得發表之品。而中自安。益氣之劑。賴清氣之品。而氣益倍。此用藥相須之妙也是方也。用以補脾。使地道卑而上行。亦可以補心肺。損其肺者益其氣。損其心者調其榮衛也。亦可以補肝木。鬱則達之也。惟不宜於腎。陰虛於下者。不宜升。陽虛於下者。更不宜升也。</p>

<h3>當歸補血湯</h3>
<p>血虛身熱有奇方。古有當歸補血湯。五倍黃耆歸一分。（分。去聲。黃耆一兩。當歸二錢五分。水煎服。）真陰濡布主之陽。</p>
<p>陳修園曰。凡輕清之藥。皆屬氣分。味甘之藥。皆能補中。黃耆質輕而味微甘。故略能補益。神農本草經。以為主治大風。可知其性矣。此方主以當歸之益血。倍用黃耆之輕清走表者為導。俾血虛發熱。鬱於皮毛而不解者。仍從微汗泄之。故症象白虎。不再劑而熱即如失也。元人未讀本經。此方因善悟暗合。其效無比。究之天之仁愛斯民特出此方。而假手於元人。非元人識力所可到也。吳鶴皋以陽生陰長為解。亦是庸見。故特詳之。</p>

<h3>保元湯</h3>
<p>治氣血虛弱之總方也。小兒驚。痘家虛甚。最宜。</p>
<p>補養諸湯首保元。參耆桂草四般存。（黃耆三錢。人參一錢。甘草一錢。肉桂春夏二分。秋冬六七分。水煎服。）大人虛損兒科痘。一氣（腎氣為先天真元之氣。胃氣為後天水穀之氣。）持綱語不煩。</p>
<p>柯韻伯曰。保元者保守其元氣之謂也。氣。一而已。主腎。為先天真元之氣。主胃。為後天水穀之氣者。此指發生而言也。又水穀之精氣。行於經隧。為營氣。水穀之悍氣。行於脈外。為衛氣。大氣之積於胸中而司呼吸者。為宗氣。是分後天運用之元氣而為三也。又外應皮毛。協營衛而主一身之表者。為太陽膀胱之氣。內通五臟。司治節而主一身之裡者。為太陰肺金之氣。通行內外。應腠理而主一身之半表半裡者。為少陽三焦之氣。是以先天運行之元氣而為三也。此方用黃耆和表。人參固里。甘草和中。三氣治。而元氣足矣。昔李東垣以此三味。能瀉火補金培土。為除煩熱之聖藥。鎮小兒驚。效如桴鼓。魏桂岩得之。以治痘家陽虛頂陷。血虛漿清。皮薄發癢。難灌難斂者。始終用之。以為血脫須補氣。陽生則陰長。有起死回生之功。故名之為保元也。又少佐肉桂。分四時之氣而增損之。謂桂能治血。以推動其毒。扶陽益氣。以充達周身。血在內。引之出表。則氣從內托。血外散。引之歸根。則氣從外護。參耆非桂引導。不能獨樹其功。桂不得甘草和平血氣。亦不能緒其條理。要非淺見寡聞者。能窺其萬一也。四君中。不用白朮。避其燥。不用茯苓。恐其滲也。用桂而不用四物者。惡芎之辛散。歸之濕潤。芍之苦寒。地黃之泥滯故耳。如宜燥。則加苓朮。宜潤。加歸。除煩。加芍。散表。加芎。斯又當理會矣。</p>

<h3>獨參湯</h3>
<p>治元氣虛而不支。脈微欲絕。及婦人血崩。產後血暈。</p>
<p>功建三才得令名。（參者。參也。其功與天地人並立為三。故名參。）脈微血脫可回生。人參煎取稠黏汁。專任方知氣力宏。（柯韻伯曰。世之用參者。或以些少姑試之。或加他味以監製之。其權不重力不專。人何賴以生。）</p>
<p>陳修園曰。陰虛不能維陽。致陽氣欲脫者。用此方。救陰以留其陽。若陽氣暴脫。四肢厥冷。宜用四逆湯輩。若用此湯。反速其危。故古人多用於大汗大下之後。及吐血血崩產後血暈諸證。今人以人參大補陽氣。皆惑於元人邪說。及李時珍綱目等書。不知人參生於上黨山谷遼東幽冀諸州。背陽向陰。其味甘中帶苦。其質柔潤多液。置於日中。一曬便變色而易蛀。其為陰藥無疑。讀神農本經者自知。</p>

<h3>四物湯</h3>
<p>治一切血症熱血燥諸症。</p>

<h3>八珍湯</h3>
<p>氣血雙補。</p>
<p>四物歸地芍川芎。血症諸方括此中。（當歸酒洗熟地各三錢。白芍二錢。川芎一錢半。）若與四君諸品合。（參朮苓草。）雙療氣血八珍崇。（四君補氣。四物補血。）</p>
<p>陳修園曰。四物湯。皆鈍滯之品。不能治血之源頭。即八珍湯氣血雙補。亦板實不靈。必善得加減之法者。方效。</p>

<h3>十全大補湯</h3>
<p>氣血雙補。十補不一瀉法。</p>

<h3>人參養榮湯</h3>
<p>治脾肺俱虛。發熱惡寒。肢</p>
<p>體瘦倦。食少作瀉等症。若氣血兩虛。變見諸症。勿論其病。勿論其脈。但用此湯。諸症悉退。</p>
<p>桂耆加入八珍煎。大補功宏號十全。（八珍加黃耆肉桂。名十全大補湯。）再益志陳五味子。去芎辛竄養榮專。（十全大補湯。去川芎。加陳皮五味子遠志。名人參養榮湯。方用白芍一錢五分。人參白朮陳皮炙耆茯苓當歸桂心炙草各一錢熟地七分半。遠志五分。五味子十四粒。薑棗水煎。）</p>
<p>陳修園曰。十全大補湯。為氣血雙補之劑。柯韻伯病其補氣而不用行氣之品。則氣虛之甚者。無氣以受其補。補血而仍用行血之藥於其間。則血虛之甚者。更無血以流行。正非過貶語。而人參養榮湯之妙。從仲景小建中湯黃耆建中湯套出。何以知之以其用生芍藥為君知之也。芍藥苦平破滯。本瀉藥。非補藥也。若與甘草同用。則為滋陰之品。若與生薑大棗肉桂同用。則為和榮衛之品。若與附子乾薑同用。則能急收陽氣。歸根於陰。又為補腎之品。雖非補藥。昔賢往往取為補藥之主。其旨微矣。此方以芍藥為君。建中湯諸品俱在。惡飴糖之過甜動嘔。故以熟地當歸白朮人參諸種甘潤之品代飴糖。以補至陰。然飴糖製造。主以麥蘖。麥為心谷。心者化血而奉生身也。故又代以遠志之入心。麥造為蘖。能疏遠而暢氣也。故又代以陳皮之行氣。建中湯中。原有胸滿去棗加茯苓之例。故用茯苓。細思其用意無非從建中套來。故氣血兩虛變見諸症者。皆可服也。其以養榮名湯奈何。心主營而苦緩。必得五味子之酸以收之。使營行脈中而流於四臟。非若十全八珍之泛泛無歸也。○按神農本經云。芍藥氣味平苦無毒。主治邪氣腹痛。除血痹。</p>
<p>破堅積寒熱。止痛利小便益氣。原文只此二十九字。後人妄改聖經。而曰微酸。是沒其苦泄攻堅之性。而加以酸斂和陰之名。則芍藥之真面目掩矣。不知古人用法。或取其苦以泄甘。或取其苦以制辛。或取其攻利以行補藥之滯。皆善用芍藥以為補。非以芍藥之補而用之也。但芍藥之性。略同大黃。凡泄瀉必務去之。此聖法也。本經不明。宋元以後。無不誤認為酸斂之藥。不得不急正之。</p>

<h3>天王補心丹</h3>
<p>主治心血不足。神志不寧。津液枯竭。健忘怔忡。大便不利。口舌生瘡等症。</p>
<p>天王遺下補心丹。為憫山僧請課難。歸地二冬酸柏遠。三參苓桔味為丸。（道藏偈云。昔志公和尚日夜講經。鄧天王憫其勞。錫以此方。酸棗仁當歸各一兩。生地黃四兩。柏子仁麥門冬天門冬各一兩。遠志五錢。五味子一兩。白茯苓人參丹參元參桔梗各五錢。煉蜜丸。每兩分作十丸。</p>
<p>金箔為衣。每服一丸。燈心棗湯化下。食遠臨臥服。或作小丸亦可。各書略異。）</p>
<p>陳修園曰。小篆。心字篆文。只是一倒火耳。火不欲炎上。故以生地黃補水。使水上交於心。以元參丹參二冬瀉火。使火下交於腎。又佐參茯以和心氣。當歸以生心血。二仁以安心神。遠志以宣其滯。五味以收其散。更假桔梗之浮為嚮導。心得所養。而何有健忘怔忡津液乾枯舌瘡秘結之苦哉。</p>

<h3>六味地黃丸</h3>
<p>主治腎精不足。虛火上炎。腰膝痿軟。骨節痠痛。足跟痛。小便淋秘或不禁。遺精夢泄。水泛為痰。自汗盜汗。失血消渴。頭目眩暈。耳聾齒搖。尺脈虛大者。</p>

<h3>桂附地黃丸</h3>
<p>治命門火衰。不能生土。以致脾胃虛寒。飲食少思。大便不實。或下元衰憊。臍腹疼痛。夜多漩溺等症。</p>
<p>六味滋陰益腎肝。茱薯丹澤地苓丸。（山茱肉薯蕷又名山藥各四兩。丹皮澤瀉白茯苓各三兩。</p>
<p>熟地黃八兩。煉蜜丸。每服二錢。淡鹽湯送下。）再加桂附扶真火。（前方加肉桂一兩。附子一大枚炮。名八味地黃丸。原名腎氣丸。此丸於水中補火。）八味功同九轉丹。（柯韻伯曰。水體本靜。而川流不息者。氣之動。火之用也。命門有火。則腎有生氣。故不名溫腎。而名腎氣也。）</p>
<p>陳修園曰。六味丸補腎水。八味丸補腎氣。而其妙則在於利水。凡腎中之真水不足。真火衰微者。其溺必多。二方非補腎正藥。不可因薛立齋之臆說而信之。近效白朮附子湯。極佳。其方列於熱劑。宜細玩之。○腎氣丸。金匱要略凡五見。一見於第五篇。云治腳氣上入小腹不仁。再見於第六篇。云治虛勞腰痛小便不利。三見於第十二篇。云夫氣短有微飲當從小便去之腎氣丸主之。四見於第十三篇。云治男子消渴小便反多飲一斗小便亦一斗。五見於第廿二篇。云治婦人轉胞不得溺。但利小便則愈。觀此五條。皆瀉少腹膀胱之疾為多。不可以通治火衰之症。且此方金匱不入於五水之門。今人謂治水通用之劑。更為可怪。</p>

<h3>還少丹</h3>
<p>治脾腎俱虛。飯食無味。面少精采。腰膝無力。夢遺或少年陽痿等症。</p>
<p>楊氏傳來還少丹。茱蕷苓地杜牛餐。蓯蓉楮實茴巴枸。遠志菖蒲味棗丸。（山茱肉山藥茯苓熟地黃杜仲牛膝肉蓯蓉楮實子小茴香巴戟天去骨枸杞遠志去骨石菖蒲五味子。各二兩。紅棗一百粒。姜煮去皮核。煉蜜丸如梧子大。每服三錢。淡鹽湯下。一日兩服。此丸功同八味丸。火未大虛者。更覺相宜。）</p>
<p>陳修園曰。此交通心腎之方也。姜附椒桂。熱藥也。熱藥如夏日可畏。此方諸品。固腎補脾。溫藥也。溫藥如冬日可愛。故時醫每奉為枕秘。然真火大衰者。斷非此方可以幸效。且柔緩之品。反有減食增嘔致泄之虞也。</p>

<h3>龜鹿二仙膠</h3>
<p>大補精髓。益氣養神。</p>
<p>人有三奇精氣神。求之任督守吾真。二仙膠取龜和鹿。枸杞人參共四珍。（鹿角血者十斤。龜板十斤。枸杞二十兩。人參十五兩。用鉛鐔如法熬膏。初服酒化一錢五分。漸加至三錢。空心服下。）</p>
<p>李士材曰。人有三奇。精氣神。生生之本也。精傷無以生氣。氣傷無以生神。精不足者。補之以味。鹿得天地之陽氣最全。善通督脈。足於精者。故能多淫而壽。龜得天地之陰氣最厚。善通任脈。足於氣者。故能伏息而壽。二物氣血之屬。又得造化之微。異類有情。竹破竹補之法也。人參清食氣之壯火。</p>
<p>所以補氣中之怯。枸杞滋不足之真陰。所以補神中之火。是方也。一陰一陽。無偏勝之憂。入氣入血。有和平之美。由是精生而氣旺。氣旺而神昌。庶幾龜鹿之年矣。故曰二仙。</p>

<h3>聖愈湯</h3>
<p>治一切失血。或血虛煩渴燥熱睡臥不寧。五心煩熱作渴等症。即四物湯加人參黃耆。</p>
<p>柯韻伯曰。此方取參耆配四物。以治陰虛血脫等症。蓋陰陽互為其根。陰虛則陽無所附。所以煩熱燥渴。而陽亦亡。氣血相為表裡。血脫則氣無所歸。所以睡臥不寧。而氣亦脫。然陰虛無驟補之法。計在存陽。血脫有生血之機。必先補氣。此陽生陰長血隨氣行之理也。故曰。陰虛則無氣。無氣則死矣。前輩治陰虛。用八珍十全。卒不獲效者。因甘草之甘。不達下焦。白朮之燥。不利腎陰。茯苓滲泄。礙乎生升。肉桂辛熱。動其虛火。此六味皆醇厚和平而滋潤。服之則氣血疏通。內外調和。合於聖度矣。</p>
<p>陳修園曰。此方為一切失血之良藥。及血後煩熱。睡臥不寧。五心煩熱作渴。可以兼治。其止血。妙在川芎一味。其退熱。</p>
<p>妙在黃耆一味。其熟睡止渴。妙在人參一味。柯韻伯以參耆為氣分陽藥。取配四物等語。亦未免為俗說所囿也。經云。中焦受氣取汁變化而赤。是謂血。血之流行。半隨衝任而行於經絡。半散於脈外而充於肌腠皮毛。凡一切失血之症。其血不能中行於經絡。外散於肌腠皮毛。故從竅道湧出不止。妙得川芎之溫行。又有當歸以濡之。俾血仍行於經絡。得川芎之辛散。又有黃耆以鼓之。俾血仍散於肌腠皮毛。源流俱清。而血焉有不止者乎。至於血後燥熱。得黃耆以微汗之。則表氣和而熱退。即當歸補血湯意也。睡臥不寧。血後陰虛所致。五臟屬陰。唯人參能兼補之。五臟之陰長。則五心之煩熱自除。煩熱既除。則津液自生。燥渴自已。諸症可以漸退矣。自宋元以後。無一人能讀本草經。此方疑有神助。非制方人識力所到也。柯韻伯卓卓不凡。但未讀本草經。未免闕憾。○五臟有血。六腑無血。觀剖諸獸。腹心下夾脊包絡中多血。</p>
<p>肝內多血。心脾肺腎中各有血。六腑無血。近時以吐血多者為吐胃血。皆耳食昔醫之誤。凡五臟血。吐出一絲即死。若吐血衄血下血及婦人血崩。皆是行於經絡與散於肌腠之血。溢於上為吐衄。滲於下為崩下也。</p>

<h3>十味地黃丸</h3>
<p>治上熱下寒。服涼藥更甚等症。</p>
<p>即桂附地黃丸倍用桂附。加芍藥元參各四兩。</p>
<p>陳修園曰。此孫真人千金翼方也。芍藥能斂木中之火氣。以歸其根。元參能啟水中之精氣。以交於上。故加此二味於八味丸中。一以速附子之下行。一以防肉桂之上僣。凡口舌等瘡。面紅目赤。齒牙浮動。服涼藥而更甚者。此為秘法。</p>

<h3>正元丹</h3>
<p>治命門火衰。不能生土。吐利厥冷。有時陰火上衝。則頭面赤熱。眩暈噁心。濁氣逆滿。則胸脅刺痛。臍肚脹急。</p>
<p>即四君子湯加山藥黃耆。（人參三兩。用川附子一兩五錢煮汁收入。去附子。○黃耆一兩五錢。用川芎一兩酒煮收入。去川芎。○山藥一兩。用乾薑三錢煎汁收入。去乾薑。○白朮二兩。用陳皮五錢煮汁收入。去陳皮。○茯苓二兩。用肉桂六錢酒煮汁收入。去肉桂。○甘草一兩五錢。用烏藥一兩煮汁收入。去烏藥。○上五味。除茯苓用文武火緩緩焙乾。勿炒傷藥性為末。每服三錢。水一盞。姜三片紅棗一枚。煎數沸。入益一捻和滓調服。服後飲熱酒一杯。以助藥力。○按煉蜜為丸。每服三錢。更妙。</p>
<p>陳修園曰。此方出虞天益製藥秘旨。頗有意義。張石頑醫通之註解亦精。石頑云。方本千金方一十三味。卻取附子等辛燥之性。逐味分制。四君耆薯之中。其力雖稍遜原方一籌。然雄烈之味。既去真滓。無形生化有形。允為溫補少火之馴劑。而無食氣之虞。真千金之功臣也。</p>

<h3>歸脾湯</h3>
<p>治思慮傷脾。不能攝血。致血妄行。或健忘怔忡。驚怪盜汗。嗜臥少食。或大便不調。心脾疼痛。瘧痢鬱結。或因病用藥失宜。克伐傷脾。以致變症者。最宜之。</p>
<p>歸脾湯內術耆神。（白朮黃耆炙茯神各二錢。）參志香甘與棗仁。（人參酸棗仁炒研各二錢。遠志木香各五分。甘草炙一錢。）龍眼當歸十味外。（龍眼肉五枚。當歸二錢。）若加熟地失其真。（本方只十味。薛氏加山梔丹皮各一錢。名為加味歸脾湯。治脾虛發熱頗效。近醫加熟地黃。名黑歸脾湯。則支離甚矣。）</p>
<p>陳修園曰。此方彙集補藥。雖無深義。然亦純而不雜。浙江江蘇市醫。加入熟地黃一味。名為黑歸脾湯。則不通極矣。內經陰陽二字。所包甚廣。而第就臟腑而言。言陽盛陽衰者。指陽明而言。言陰盛陰衰者。指大陰而言。太陰者脾也。神農本經。補陰與補中二字互用。蓋以陰者中之守也。陰虛即是中虛。中虛即是陰虛。後人錯認其旨。謂參耆白朮為氣藥。補陽。歸地芍藥為血藥。補陰。謂薑桂附子為熱藥。補陽。謂知柏生地為寒藥。補陰。滿腔都是李士材薛立齋張景岳之庸論。則終身為誤人之庸醫矣。</p>
<p>今即以此方言之。方中諸品。甘溫補脾。即是補陰之劑。而命方不為補而為歸者。歸還其所固有也。妙在遠志入心以治其源。即內經痿論所謂心主身之血脈。生成篇所謂諸血者皆屬於心之旨也。木香入脾以治其流。本草經名為五香。五為土數。香又入脾。藉其盛氣。以噓血歸脾之義也。方雖平鈍。頗得金匱要略。調以甘藥。令飲食增進。漸能充血生精。以復真陰之不足。若加入熟地黃。則甘緩劑中。雜以壅滯之品。恐緩者過緩。壅者增壅。脾氣日困。不能輸精入腎。欲補腎反以戕腎矣。又有逍遙散加入熟地黃。名為黑逍遙散。更為無知妄作。吾知數年後。必將以四君子湯六君子湯生脈散等方。加入此味。名為黑四君子黑六君子黑生脈散矣。堪發一嘆。</p>

<h3>大補陰丸</h3>
<p>降陰火。補腎水。</p>
<p>大補陰丸絕妙方。向盲問道詆他涼。地黃知柏滋兼降。龜板沉潛制亢陽。（黃柏知母各四兩。俱用鹽酒炒。熟地黃酒潤。龜板酥炙黃。各六兩為末。用豬脊髓蒸熟。和煉蜜為丸桐子大。每服五六十丸。空心。薑湯鹽湯黃酒隨意送下。）</p>
<p>陳修園曰。知柏寒能除熱。苦能降火。苦者必燥。故用豬脊髓以潤之。熟地以滋之。此治陰虛發熱之恆法也。然除熱只用涼藥。猶非探源之治方中以龜板為主。是介以潛陽法。丹溪此方。較六味地黃丸之力更優。李士材薛立齋張景岳輩。以苦寒而置之。猶未參透造化陰陽之妙也。</p>

<h3>虎潛丸</h3>
<p>治痿神方。</p>
<p>即前方加味。（黃柏知母熟地各三兩。龜板四兩。白芍當歸牛膝各二兩。虎脛骨瑣陽陳皮各一兩五錢。乾薑五錢。酒煮羯羊肉為丸。如桐子大。每服五六十丸。薑湯鹽湯或黃酒送下。）</p>
<p>加味虎潛丸（治諸虛不足。腰腿疼痛。行步無力。壯元氣。滋腎水。）即前方再加味。（照虎潛丸方再加人參黃耆杜仲菟絲子茯苓破故紙山藥枸杞。去羊肉乾姜。以豬脊髓蒸熟。同煉蜜為丸。如桐子大。服法照前。）</p>
<p>陳修園曰。觀此二方。可知苦寒之功用神妙。非薛立齋張景岳輩所可管窺。喻嘉言寓意草。謂苦寒培生氣。誠見道之言也。</p>

<h3>全鹿丸</h3>
<p>能補諸虛百損五勞七傷。功效不能盡述。人制一料服之。可以延年一紀。其法須四人共制一鹿。分而服之。逾年又共制之。四人共制四年。則每人得一全鹿。若一人獨制一料。恐久留變壞。藥力不全矣。法用中鹿一隻。宰好。將肚雜洗淨。同鹿肉加酒煮熟。將肉橫切。焙乾為末。取皮同雜。仍入原湯煮膏。和藥末肉未加煉蜜為丸。其骨須酥炙為末。同入之。（人參白朮茯苓炙草當歸川芎生地熟黃耆天冬麥冬枸杞杜仲牛膝山藥芡實菟絲子五味子瑣陽肉蓯蓉破故紙巴戟肉葫蘆巴川續斷覆盆子楮實子秋石陳皮。各一斤。川椒小茴香沉香青鹽各半斤。法須精製諸藥為未。候鹿膠成就。和搗為丸。梧桐子大。焙乾。用生絹作小袋五十條。每條約乘一斤。懸直透風處。用盡一袋。又取一袋。陰濕天須用火烘一二次為妙。每服八九十丸。空心臨臥薑湯鹽湯送下。冬月酒下。）陳修園曰。此方冠冕堂皇。富貴之家。無不喜好。修園不韻不注。明者自知然亦有不得不言者。肥厚痰多之人。內蘊濕熱者。體此丸。即犯膏粱無厭發癰疽之戒也。惟用瘦過於勞苦。及自奉淡薄之人。或高年瘦弱。用此早晚兩服以代點心。不無補益耳。○重可鎭法</p>

<h3>磁砂丸</h3>
<p>治神水寬大漸散。昏如霧露中行。漸睹空中有黑花。睹物成二體。及內障神水淡綠色澹白色。又治耳鳴及耳聾○柯韻伯云。治聾癲狂癇如神。</p>
<p>磁砂丸最媾陰陽。神麯能俾穀氣昌（磁石二兩。硃砂一兩。神麯三兩生。更以一兩水和作餅煮。浮入前藥。煉蜜為丸。）內障黑花聾並治。若醫癲癇有奇長。</p>
<p>王又原曰。經曰。五臟六腑之精。皆上注於目。則目之能視者。氣也。目之所以能視者。精也腎惟藏精。故神水發於腎。心為離照。故神光發於心。光發陽而外。映有陰精以為守。則不散而常明。水發陰而凝結。有陽氣以為布。則洞悉而不窮。惟心腎有虧。致神水乾涸。神光短少。昏眊內障諸症。所由作也。千金以磁石直入腎經。收散失之神。性能引鐵。吸肺金之氣。歸藏腎水。硃砂體陽而性陰。能納浮游之火而安神明。水能鑑。火能燭。水火相濟。而光華不四射與。然目受臟腑之精。精俾於谷。神麯能消化五穀。則精易成矣。蓋神水散大。緩則不收。賴鎮墮之品。疾收而吸引之。故為急救之劑也。其治耳鳴耳聾等症。亦以鎮墮之功能。制虛陽之上奔耳。柯韻伯曰。此丸治癲癇之聖劑。蓋狂癡是心腎脾三臟之病。心藏神。脾藏意與智。腎藏精與志。心者。神明之主也。經云。主不明。則十有二官危。使道閉塞而不通。形乃大傷。即此謂也。然主何以不明也。心法離而屬火真水藏其中。若天一之真水不足。地二之虛火要行。所謂天氣者蔽塞。地氣者冒明。日月不明。邪害空竅。故目多妄見。而作此奇疾也。非金石之重劑以鎮之。狂必不止。硃砂稟南方之赤色。入通於心。能降無根之火。而安神明。磁石稟北方之黑色。入通於腎。吸肺金之氣以生精墜炎土之火以定志。二石體重而主降。性寒而滋陰。志同道合。奏功可立俟矣。神麯推陳致新。上交心神。下達腎志。以生意智。且食入於陰。長氣於陽。奪其食則已。此內經治狂法也。食消。則意智明而精神治。是用神麯之旨乎。煉蜜和丸。又甘以緩之矣。</p>

<h3>蘇子降氣湯</h3>
<p>（治痰嗽氣喘）</p>
<p>降氣湯中蘇半歸。橘前沉樸草姜依。風寒咳嗽痰涎喘。暴病無妨任指揮。（蘇子橘皮半夏當歸前胡厚朴各一錢。沉香炙甘草各五分。加姜煎。一方無沉香。加肉桂。○蘇子前胡橘皮半夏降氣。</p>
<p>氣行則痰行也。風寒鬱於皮毛。則肺氣逆而為喘。數藥妙能解表。氣。以血為家。喘則流蕩而忘返。</p>
<p>故用當歸以補血。喘則氣急。故用甘草以緩其急。然出氣者肺也。納氣者腎也。故用沉香之納氣入腎或肉桂之引火歸元。為引導。）</p>
<p>陳修園曰。仲景云。喘家作桂枝湯。加厚朴杏子佳。蘇子降氣湯。即從此湯套出。時醫皆謂切於時用。然有若似聖人。惟曾子以為不可耳。</p>

<h3>硃砂安神丸</h3>
<p>治心神昏亂。驚悸怔忡。寤寐不安。</p>
<p>安神丸劑亦尋常。歸草朱連生地黃。（硃砂另研黃連各半兩。生地黃三錢。當歸甘草各二錢為末。酒炮蒸餅。丸如麻子。硃砂為衣。每服三十丸。臨臥時津液下。）昏亂怔忡時不寐。操存（孟子云操則存。）須令守其鄉。</p>
<p>陳修園曰。東垣之方。多雜亂無紀。惟此方用硃砂之重以鎮怯。黃連之苦以清熱。當歸之辛以噓血。更取甘草之甘。以制黃連之大過。地黃之潤。以助當歸所不及。方意頗純。亦堪節取。</p>

<h3>四磨湯</h3>
<p>治七情感傷。上氣喘急。妨悶不食。</p>
<p>四磨湯治七情侵。參領檳烏及黑沉。（人參天台烏藥檳榔黑沉香四味等分。各磨。濃水取十分煎二五沸。空心服。或下養正丹妙。）磨汁微煎調逆氣。虛中實症此方尋。</p>
<p>王又原曰。七情所感。皆能為病。然愈於壯者之行。而成於弱者之著。愚者不察。一遇上氣喘急。滿悶不食。謂是實者宜瀉。輒投破耗等藥。得藥非不暫快。初投之而應。投之久而不應矣。夫呼出為陽吸入為陰。肺陽氣旺。則清肅下行。歸於腎陰。是氣有所收攝。不復散而上逆。若正氣既衰。邪氣必盛。縱欲削堅破滯。邪氣必不伏。方用人參。瀉壯火以扶正氣。沉香納之於腎。而後以檳榔烏藥。從而導之。所謂實必顧虛。瀉必先補也。四品氣味俱厚。磨則取其味之全。煎則取其氣之達。氣味齊到。效如桴鼓矣。其下養正丹者。暖腎藥也。本方補肺氣。養正丹溫腎氣。鎮攝歸根喘急遄已矣。</p>

<h3>黑錫丹</h3>
<p>治脾元久冷。上實下虛。胸中痰飲。或上攻頭目。及奔豚上氣。兩腳膨脹。並陰陽氣不升降。五種水氣腳氣上攻。或卒暴中風。痰潮上膈等症。</p>
<p>鎮納浮陽黑錫丹。硫黃入錫結成團。葫蘆故紙茴沉木。桂附金鈴肉蔻丸。（黑錫硫黃各三兩同炒結砂研至無聲為度。胡蘆巴沉香熟附子肉桂各半兩。茴香破故紙肉豆蔻金鈴子去核木香各一兩。研末酒煮。曲糊為丸梧子大。陰乾。以布袋擦令光瑩。每服四十丸。薑湯下。）</p>
<p>陳修園曰。此方一派辛溫之中。雜以金鈴子之苦寒為導。妙不可言。</p>
<p>喻嘉言曰。凡遇陰火逆沖。真陽暴脫。氣喘痰鳴之急證。舍此丹別無方法。即痘疹各種壞症。服之無不回生。予每用小囊。佩帶隨身。恐遇急症不及取藥。且欲吾身元氣溫養其藥。藉手效靈。厥功歷歷可紀。</p>
<p>徐靈胎曰。鎮納元氣。為治喘必備之藥。當蓄在平時。非一時所能驟合也。既備此丹。如靈砂丹養正丹之類。可不再備。</p>

<h3>全真一氣湯</h3>
<p>滋陰降火之神方。</p>
<p>即生脈散。（方見寒劑）加熟地五七錢或一兩。白朮三錢。牛膝附子各二錢。水煎服。</p>
<p>陳修園曰。此馮氏錦囊得意之方。無症不用。俱云神效。其實大言欺人。修園不信也。方以熟地滋腎水之干。麥冬五味潤肺金之燥。人參白朮補中宮土氣。俾上能散津於肺。下能輸精於腎。附子性溫以補火。牛膝引火氣下行。不為食氣之壯火而為生氣之少火。從桂附地黃丸套來。與景岳鎮陰煎同意。然駁雜淺陋。不可以治大病。惟痘科之逆症相宜。以諸藥皆多液之品。添漿最速也。</p>

<h3>二加龍骨湯</h3>
<p>治虛勞不足。男子失精。女子夢交吐血。下利清穀。浮熱汗出。夜不成寐等症。</p>
<p>即桂枝加龍骨牡蠣湯。（方見真方歌括虛勞門。）去桂枝。加白薇一錢五分。附子一錢。（白芍生薑各三錢。炙甘草一錢五分。細棗三枚。龍骨三錢。生牡蠣四錢。白薇一錢五分。附子一錢。水煎服。）</p>
<p>陳修園曰。此方探造化陰陽之妙。用之得法。效如桴鼓。庸醫疑生薑之過散。龍骨牡蠣之過斂。置而不用。以致歸脾湯人參養榮湯等。後來居上。詢可浩嘆。宣聖云。民可使由之不可使知之。此方所以然之妙。修園亦不說也。予友林雨蒼有神農本草經三注。採集予之註解。頗多逐味雜對。後再讀此方。便覺有味。○輕可去實（即發汗解肌之發也。）</p>

<h3>九味羌活湯</h3>
<p>一名沖和湯。四時感冒發散之通劑。</p>
<p>沖和湯內用防風。羌芷辛蒼草與芎。汗本於陰芩地妙。三陽解表一方通。（羌活防風蒼朮各錢半。白芷川芎黃芩生地甘草各二錢。細辛九分。加生薑蔥白煎。）</p>
<p>陳修園曰。羌活散太陽之寒。為撥亂反正之藥。能除頭痛項強。及一身盡痛無汗者。以此為主。防風驅太陽之風。能除頭痛項強。惡風自汗者。以此為主。又恐風寒不解。傳入他經。以白芷斷陽明之路。黃芩斷少陽之路。蒼朮斷大陰之路。（多汗者。易白朮。）川芎斷厥陰之路。細辛斷少陰之路。又以甘草協和諸藥。使和衷共濟也。佐以生地者。汗化於液。補陰即托邪之法也。</p>

<h3>人參敗毒散</h3>
<p>治傷寒瘟疫。風濕風眩。拘蜷風痰。頭痛目眩。四肢痛。增寒壯熱。項強睛疼。老人小兒皆可服。</p>
<p>人參敗毒草芩芎。羌獨柴前枳桔同。瘟疫傷寒噤口痢。托邪扶正有奇功。（人參茯苓枳殼桔梗柴胡前胡羌活獨活川芎各一錢。甘草五分。加生薑煎。○煩熱口乾。加黃芩。）</p>
<p>汪訒庵曰。羌活理太陽遊風。獨活理少陰伏風。兼能去濕除痛。川芎柴胡。和血升清。</p>
<p>枳殼前胡。行痰降氣。甘桔參茯。清肺強胃。主之以人參者。扶正氣以匡邪也。加陳倉米三錢。名倉廩湯。治噤口痢。</p>

<h3>香蘇飲</h3>
<p>治四時感冒。發表輕劑。</p>
<p>香蘇飲內草陳皮。（紫蘇葉二錢。香附炒陳皮各一錢五分。炙草一錢。加薑蔥。水煎服。微覆以汗。）汗顧陰陽用頗奇。（紫蘇血中氣藥。香附氣中血藥。甘草兼調氣血。陳皮宣邪氣之郁。從皮毛而散。視時方頗高一格。）艽芥芎防蔓子入。（再加秦艽荊芥川芎蔓荊子各一錢。醫學心悟。名加味香蘇飲。）解肌活套亦須知。</p>
<p>陳修園曰。仲景麻桂諸湯。從無他方可代。後人易以九味羌活湯。人參敗毒散。及此湯。看似平穩。其實辛烈失法。服之得汗。有二慮。一慮辛散過汗。重為亡陽。輕則為汗漏也。一慮辛散逼汗。動臟氣而為鼻衄。傷津液而為熱不退渴不止也。服之不得汗。亦有二慮。一慮辛散煽動內火。助邪氣入里而為狂熱。不得寐。一慮辛散拔動腎根。致邪氣入陰而為脈細。但欲寐也若用仲景之法則無是慮。</p>

<h3>升麻葛根湯</h3>
<p>治陽明表熱下利。兼治痘疹初發。</p>
<p>錢氏升麻葛根湯。芍藥甘草合成方。（升麻三錢。葛根芍藥各二錢。炙草一錢。）陽明發熱兼頭痛。（及目痛鼻乾不得臥等症。）下利生斑疹痘良。</p>
<p>新訂症同太陽。而目痛鼻乾不眠稱陽明者。是陽明自病。而非太陽轉屬也。此方仿仲景葛根湯。惡薑桂之辛熱。大棗之甘壅而去之。以升麻代麻黃。便是陽明表劑。與太陽表劑迥別。葛根甘涼。生津去實。挾升麻。可以托散本經自病之肌熱。並可以升提與太陽合病之自利也。然陽明下利。即是胃實譫語之兆。故以芍藥之苦甘。合用以養津液。津液不幹。則胃不實矣。至於疹痘。自里達表內外皆熱之症。初起亦須涼解。</p>

<h3>小續命湯</h3>
<p>六經中風之通劑。</p>
<p>小續命湯（子金）桂附芎。麻黃參芍杏防風。黃芩防己兼甘草。風中諸經以此通。（通治六經中風。喎邪不遂。語言謇滯。及剛柔二痙。亦治厥陰風瀉。防風一錢一分。桂枝麻黃人參酒芍杏仁川芎黃芩防己甘草各八分。附子四分。薑棗煎服。）</p>
<p>陳修園曰。天地之噫氣為風。和風則生長萬物。疾風則摧折萬物。風之傷人者。皆帶嚴寒肅殺之氣。故此方桂芍姜草。即傷寒論之桂枝湯。麻杏甘草。即傷寒論之麻黃湯。二方合用。立法周到。然風動則火升。故用黃芩以降火。風勝則液傷。故用人參以生液。血行風自滅。故用芎芍以行血。防風驅周身之風。為撥亂返正之要藥。附子補腎命之根。為勝邪固本之靈丹。防己紋如車輻。有升轉循環之用。以通大經小絡。藥品雖多。而絲絲入扣。孫真人詢仲景下之一人也。</p>

<h3>地黃飲子</h3>
<p>治舌喑不能言。足廢不能行。此謂少陰氣厥不至。急當溫之。名曰痱症。</p>
<p>地黃飲子少陰方。桂附蓉苓並地黃。麥味遠蒲萸戟斛。薄荷加入煮須詳。（肉桂附子肉蓯蓉茯苓熟地黃麥冬五味子遠志菖蒲山茱萸巴戟天石斛各五分。薄荷葉七片。水一杯二分。煎八分溫服。）</p>
<p>陳修園曰。命火為水中之火。昔人名為龍火。其火一升。故舌強不語。以腎脈榮於舌本也。火一升而不返。故猝倒不省人事。以丹田之氣。欲化作冷風而去也。方用桂附蓯蓉巴戟以導之。龍升則水從之。故痰涎如湧。以痰之本則為水也。方用熟地茯苓山藥石斛以安之。火迸於心。則神識昏迷。方用遠志菖蒲以開之。風動則火發。方用麥冬五味子以清斂之。腎主通身之骨。腎病則骨不勝任。故足廢不能行。方用十二味以補之。然諸藥皆質重性沉。以鎮逆上之火。而火由風發。風則無形而行疾。故用輕清之薄荷為引導。又微煎數沸不令諸藥盡出重濁之味。俾輕清走於陽分。以散風。重濁走於陰分。以鎮逆。劉河間制方之妙。汪訒庵輩從未悟及。無怪時醫之憒憒也。</p>

<h3>資壽解語湯</h3>
<p>治中風脾緩。舌強不語。半身不遂。與地黃飲子同意。但彼重在腎。此重在脾。</p>
<p>資壽特名解語湯。專需竹瀝佐些姜。羌防桂附羚羊角。酸棗麻甘十味詳。（羌活五分。防風附子羚羊角酸棗仁天麻各一錢。肉桂八分。甘草炙五分。水二杯煎八分。入竹瀝五錢。生薑汁二錢。調服。○喻嘉言治腎氣不縈於舌本。加枸杞首烏天冬菊花石蒲元參。）</p>
<p>陳修園曰。此與前方相仿。但表藥較多。外證重者相宜。方中羚羊角一味。甚妙。</p>

<h3>藿香正氣散</h3>
<p>治外受四時不正之氣。內停飲食。頭痛寒熱。或霍亂吐瀉。或作瘧疾。</p>
<p>藿香正氣芷陳蘇。甘桔陳苓朮樸俱。夏曲腹皮加薑棗。感傷（外感內傷。）嵐障並能驅。（藿香白芷大腹皮紫蘇茯苓各三兩。陳皮白朮厚朴半夏曲桔梗各二兩。甘草一兩。每服五錢。加薑棗煎。）</p>
<p>陳修園曰。四時不正之氣。由口鼻而入。與邪傷經絡者不同。故不用大汗以解表。只用芳香利氣之品。俾其從口鼻入者。仍從口鼻出也。蘇芷陳腹樸梗。皆以氣勝。韓昌黎所謂氣勝則大小畢浮。作醫等於作文也。茯半術草。皆甘平之品。培其中氣。孟子所謂正己而物正。醫道通於治道也。若邪傷經絡。宜審六經用方。不可以此混用殺人。○按夏月吐瀉。多是伏陰在內。理中湯為的方。時醫因此湯有治霍亂吐瀉之例。竟以為夏月吐瀉通劑。實可痛恨。嘉慶丁巳歲。醫生鄭培齋患此症。自服藿香正氣散不效。延孝廉陳倬為商之。再進一服。少頃元氣脫散。大喘大汗而死。是向以誤人者。今以自誤。設使地下有知。當亦悔不讀書之過也。</p>

<h3>香薷飲</h3>
<p>三物香薷豆樸先。（香薷辛溫香散。能入脾肺。發越陽氣。以散蒸熱。厚朴除濕散滿。扁豆清暑和脾。名三物香薷飲。）若云熱盛益黃連。（名黃連香薷飲。活人。治中暑熱盛。口渴心煩。）草苓五物（前方加茯苓甘草。名香薷五物飲。）還十物。瓜橘參耆白朮全。（前方加木瓜橘皮人參黃耆白朮。名十味香薷飲。）</p>
<p>葉仲堅曰。飲與湯。稍有別。服有定數者名湯。時時不拘者名飲。飲因渴而設。用之於溫暑。則最宜者也。然胃惡燥。脾惡濕。多飲傷脾。反致下利。治之之法。心下有水氣者發汗。腹中有水氣者利小便。然與其有水患而治之。曷若先選其能汗能利者用之。香薷芳草辛溫。能發越陽氣。有徹上徹下之功。故治暑者君之。以解表利小便。佐厚朴以除濕。扁豆以和中。合而用之為飲。</p>
<p>飲入於胃。熱去而濕不留。內外之暑悉除矣。若心煩口渴者。去扁豆。加黃連。名黃連香薷飲。加茯苓甘草。名五物。加木瓜參耆橘術。名十味隨證加減。盡香薷之用也。然勞倦內傷。必用清暑益氣。內熱大渴。必用人參白虎。若用香薷。是重虛其表。而反濟其內熱矣。香薷乃夏月解表之藥。如冬月之麻黃。氣虛者尤不可服今人不知暑傷元氣。概用以代茶。是開門揖盜也。</p>

<h3>五積散</h3>
<p>治感冒寒邪。頭疼身痛。項背拘急。惡寒嘔吐。肚腹疼痛。及寒濕客於經絡。腰腳骨髓痠痛。及豆瘡寒勝等症。○去麻黃酒煮。治痢後鶴膝風甚效。</p>
<p>局方五積散神奇。歸芍參芎用更奇。橘芷夏苓薑桂草。麻蒼枳樸與陳皮。（當歸麻黃蒼朮陳皮各一錢。厚朴乾薑芍藥枳殼各八分。半夏白芷各七分。桔梗炙草茯苓肉桂人參各五分。川芎四分。水二鍾。姜三片。蔥白三莖。煎八分溫服。）</p>
<p>陳修園曰。表裡俱寒。外而頭項強痛。內而肚腹亦痛。較桂枝症更甚者。服此湯。</p>

<h3>小柴胡去參加青皮湯</h3>
<p>治瘧病初起。</p>
<p>即小柴胡湯（方見真方歌括上卷少陽編。）去人參。加青皮二錢。</p>
<p>陳修園曰。瘧症初起。忌用人參。時醫之伎倆也。然相沿既久。亦姑聽之。第初起無汗者。宜加麻黃二錢。多汗者。宜加白芍桂枝各二錢。寒多者。宜加桂枝幹姜各二錢。熱多者。宜加貝母知母各二錢。口渴者。去半夏。加栝蔞根二錢五分。</p>

<h3>小柴胡加常山湯</h3>
<p>凡瘧症三發之後。皆可服。天明時一服。瘧未發前一時一服。神效。</p>
<p>即柴胡湯加常山三錢。生用不炒。（如服後欲吐者。即以手指探吐。痰吐盡則愈。）</p>
<p>陳修園曰。常山一味。時醫謂為堵截之品。誤信李士材薛立齋之說。不敢用之。而不知是從陰透陽。逐邪外出之妙品。仲景用其苗。（名蜀漆。）後世用其根。實先民之矩矱。即雲湧吐。而正取其吐。去積瘧。則瘧止。○宣可決壅（以君召臣曰宣。宣者湧吐之劑也。又鬱而不散為壅。必宣以散之。如生薑橘皮之屬是也。又納藥鼻中以取嚏亦是。）</p>

<h3>稀涎湯</h3>
<p>治風痰不下喉中如牽鋸。或中濕腫滿。</p>

<h3>通關散</h3>
<p>稀涎皂半草礬班。（皂角一個。大半夏十四粒。炙甘草一錢。白礬二錢為末。每服一錢。用生薑少許。沖溫水灌之。得吐痰涎即醒。此奪門之兵也風初中時宜用之。）直中痰潮此斬關。更有通關辛皂末。（細辛皂角為未。吹鼻中。名通關散。）吹來得嚏保還生。（卒中者。用此吹鼻。有嚏者可治。無嚏者為肺氣已絕。）</p>
<p>陳修園曰。頑痰上塞咽喉。危在頃刻當以此攻之然痰為有形也痰厥宜湧吐以出其痰。氣。無形也氣厥。宜取嚏以宣其氣。二者皆所以開其閉也。若脫症昏倒。不省人事。亦用此法以開之。是速其死也。慎之。</p>

<h3>越鞠丸</h3>
<p>治臟腑一切痰食氣血諸郁。為痛為嘔為脹為利者。</p>
<p>六郁宜施越鞠丸。芎蒼曲附並梔餐。食停氣血濕痰火。得此調和頃刻安。（吳鶴皋曰。香附開氣鬱。撫芎調血鬱。蒼朮燥濕鬱。梔子清火鬱。神麯消食鬱各等分。麥芽煎湯泛丸。又濕鬱加茯苓白芷。火鬱加青黛。痰鬱加星夏栝蔞海石。血鬱加桃仁紅花。氣鬱加木香檳榔。食鬱加麥芽山楂。挾寒加吳茱萸。）</p>
<p>季楚重曰。經云。太陰不收。肺氣焦滿。又云。諸氣膹郁。皆屬於肺。然肺氣之布。必由胃氣之輸。胃氣之運。必本三焦之化。甚至為痛為嘔為脹為利。莫非胃氣不宣。三焦失職所致。方中君以香附快氣。調肺之拂鬱。臣以蒼朮開發。強胃而資生。神麯佐化水穀。梔子清郁導火。於以達肺騰胃。而清三焦。尤妙撫芎之辛。直入肝膽。以助妙用。則少陽之生氣上朝。而營衛和。太陰之收氣下肅。而精氣化。此丹溪因五郁之法而變通者也。然五郁之中。金木為尤甚。前人用逍遙散。調肝之郁。兼清火滋陰。瀉白散。清肺之郁。兼潤燥降逆。要以木鬱上衝即為火。金鬱斂澀即為燥也。如陰虛不知滋水。氣虛不知化液。是又不善用越鞠矣。</p>
<p>陳修園曰。諸病起於郁者難醫。時醫每以鬱金統治之。是徇名之誤也。此藥本經不載。唐本有之。唐本云。氣味苦寒無毒主血積。下氣生肌。止血破惡血血淋尿血金瘡。原文只此二十四字。大抵破血下氣及外敷之品。無一字言及解鬱。錄此以為誤用者戒。</p>

<h3>逍遙散</h3>
<p>治肝家血虛火旺。頭痛目眩。頰赤口苦。倦怠煩渴。抑鬱不樂。兩脅作痛。寒熱小腹重墜。婦人經水不調。脈弦大而虛。</p>
<p>逍遙散用芍當歸。術草柴苓慎勿違。（柴胡當歸白芍白朮茯苓各一錢。甘草炙五分。加煨姜薄荷煎。）散郁除蒸功最捷。（醫貫曰方中柴胡薄荷二味最妙。蓋木喜風搖。寒即摧萎。溫即發生。木鬱則火鬱。火鬱則土鬱。土鬱則金鬱。金鬱則水鬱。五行相因。自然之理也。余以一方治木鬱。而諸郁皆解。逍遙散是也。）丹梔加入有元機。（如丹皮梔子。名八味逍遙散。治肝傷血少經枯）趙羽皇曰。此治肝鬱之病。而肝之所以郁者。其說有二。一為土虛。不能升木也。一為血少。不能養肝也。蓋肝為木氣。全賴土以滋培。水以灌溉。若中土虛。則木不升而鬱。陰血少。則肝不滋而枯。方用白朮茯苓者。助土德以升木也。當歸芍藥者。益榮血以養肝也。薄荷解熱。甘草和平。獨柴胡一味。</p>
<p>一以為厥陰之報使。一以升發諸陽。經云。</p>
<p>木鬱則達之。遂其曲直之性。故名之曰逍遙。</p>
<p>○通可行滯（火氣鬱滯。宜從小便利之。通為輕。泄為重也。）</p>

<h3>導赤散</h3>
<p>治心熱口糜舌瘡。小便黃赤。莖中痛熱急不通。</p>
<p>導赤原來地與通。草梢竹葉四般攻。口糜莖痛兼淋瀝。瀉火功歸補水中。（等分煎。生地涼心血。竹葉清心氣。木通瀉心火而入小腸。草梢達腎莖而止痛。）</p>
<p>季楚重曰。瀉心湯用黃連。所以治實邪。實邪責木之有餘。瀉子以清母也。導赤散用地黃。所以治虛邪。虛邪責水之不足。壯水以制火也。</p>

<h3>五淋散</h3>
<p>治膀胱有熱。水道不通。淋澀不出。或尿如豆汁。或成砂石。或為膏汁或熱怫便血。</p>
<p>五淋散用草梔仁。歸芍茯苓亦共珍。（赤茯苓三錢。芍藥山梔仁各二錢。當歸細甘草各一錢四分。加燈心水煎服。）氣化原由陰以育。調行水道妙通神。</p>
<p>柯韻伯曰。經云。膀胱者。州都之官。津液藏焉。又申其旨曰。氣化則能出。何也。蓋膀胱有上口而無下口。能納而不出惟氣為水母。必太陽之氣化。而膀胱之溺始出。是水道固藉無形之氣化。不專責有形之州都矣。夫五臟之水火。皆生於氣。氣平則為少火。少火生氣。而氣即為水。水精四布。下輸膀胱。源清則流潔矣。氣有餘則為壯火。壯火食氣。則化源無藉。為癃閉淋澀。膏淋豆汁。砂石膿血。而水道為之不利矣。總由化源之不清。非決瀆之失職。若以八正舟車禹功浚川等劑治之。五臟之陰虛。太陽之氣化絕矣。故急用梔苓治心肺。以通上焦之氣。而五志火清。歸芍滋肝腎。以安下焦之氣。而五臟陰復。甘草調中焦之氣。而陰陽分清。則太陽之氣自化。而膀胱之水潔矣。此治本之計。法之盡善者也。</p>

<h3>通關丸</h3>
<p>又名滋腎丸。治下焦濕熱。小便點滴不通。以致腹悶欲吐。</p>
<p>溺癃不渴下焦疏。（病在下焦。故不渴。宜清下焦之熱。疏通水道。）知柏同行肉桂扶。（黃柏知母俱酒炒各二兩。肉桂二錢。煉蜜丸如桐子大。每服五十丸。空心白湯下。名通關丸。）丸號通關能利水。又名滋腎補陰虛。（原方為肺痿聲嘶喉痹咳血煩躁而設東垣借用以治癃閉喘脹。）</p>
<p>陳修園曰。溺竅一名氣門。以溺由氣化而出也。氣者陽也。陽得陰則化。若熱結下焦。上無口渴之症。以此丸清下焦之熱。則小便如湧矣。此證若口渴。宜濟生腎氣丸。金匱瞿麥丸主之。然又有巧法焉譬之滴水之器。閉其上竅。則下竅不通。去其上竅之閉。則水自流矣。用補中益氣湯或吐法。甚妙。又於利水藥中。入麻黃之猛。能通陽氣於至陰之地。配杏仁之降。俾肺氣下達州都。此從高原以導之。其應如響。虛人以人參麻黃各一兩水煎服。亦妙。夏月以蘇葉防風杏仁各三錢水煎溫服。覆取微似汗亦妙。</p>

<h3>六一散</h3>
<p>一名天水散。治夏時中暑。熱傷元氣。內外俱熱。無氣以動。煩渴欲飲。腸胃枯涸者。又能催生。下乳積聚水蓄。裡急後重。暴注下迫者宜之。加硃砂三錢。名益元散。</p>
<p>六一散中滑石甘。熱邪表裡可兼探。（滑石六兩甘草一兩為末。燈心湯下。亦有用新汲水下者。）益元（散。）再入硃砂研。（加硃砂三錢。名益元散。）瀉北元機在補南。</p>
<p>柯韻伯曰。元氣虛而不支者死。邪氣盛而無制者亦死。今熱傷元氣。無氣以動。斯時用參耆以補氣。則邪愈甚。用苓連以清熱。則氣更傷。惟善攻熱者。不使喪人元氣。善補虛者。不使助人邪氣。必得氣味純粹之品以主之。滑石稟土沖和之氣。能上清水源。下通水道。盪滌六腑之邪熱。從小便而泄矣甘草稟草中衝和之性。調和內外。止渴生津。用以為佐保元氣。而瀉虛火。則五臟自和矣。然心為五臟主。暑熱擾中。神明不安。必得硃砂以鎮之。則神氣可以遽復。涼水以滋之。則邪熱可以急除。此補心之陽。寒亦通行也。至於熱利初起。裡急後重者宜之。以滑可去著也。催生下乳積聚蓄水等症。同乎此義。故兼治之。是方也。益氣而不助邪。逐邪而不傷氣。不負益元之名矣。宜與白虎生脈三方。鼎足可也。</p>
<p>○泄可去閉（邪盛則閉塞不通。必以泄劑。從大便逐之。）</p>

<h3>備急丸</h3>
<p>治寒氣冷食稽留胃中。心腹滿痛。大便不通者。</p>
<p>姜豆大黃備急丸。（乾薑大黃各二兩。巴豆一兩。去皮研如脂。和蜜丸如豆大。密藏勿泄氣候用。每服三四丸。滾水或酒下。）專攻閉痛及停寒。兼療中惡人昏倒。陰結垂危得此安。</p>
<p>柯韻伯曰。大便不通。當分陽結陰結。陽結有承氣更衣之劑。陰結又製備急。白散之方。金匱用此治中惡。當知寒邪卒中者宜之。若用於溫暑熱邪。速其死矣。是方允為陰結者立。乾薑散中焦寒邪。巴豆逐腸胃冷積。大黃通地道。又能解巴豆毒。是有制之師也。然白散治寒結在胸。故用桔梗佐巴豆。用吐下兩解法。此則治寒結腸胃。故用大黃佐乾薑巴豆。以直攻其寒。世徒知有溫補之法。而不知有溫下之法。所以但講虛寒。而不議及寒實也。</p>

<h3>三一承氣湯</h3>
<p>即大承氣湯（方見真方歌括上卷陽明編。）加甘草二錢。</p>
<p>陳修園曰。仲景三承氣湯。盡美盡善。無可加減。劉河間於此方加甘草一味。便逾仲景矩矱。然意在調胃。於外科雜症等頗亦相宜。視陶節庵六一順氣湯。更高一格。</p>
<p>又按張憲公云。承者。以卑承尊而無專成之義。天尊地卑。一形氣也。形統於氣。故地統於天。形以承氣。故地以承天。胃。土也。坤之類也。氣。陽也。乾之屬也。胃為十二經之長。化糟粕。運精微。轉味出入。而成傳化之府。豈專以塊然之形。亦惟承此乾行不息之氣耳。湯名承氣。確有取義。非取順氣之義也。憲公此解。超出前人。故余既錄於真方歌括後。而又重錄之。愈讀愈覺其有味也。惜其所著傷寒類疏。未刊行世。憲公諱孝培。古吳人也。</p>

<h3>溫脾湯</h3>
<p>主治錮冷在腸胃間泄瀉腹痛。宜先取去。然後調治。不可畏虛以養病也。</p>
<p>溫脾桂附與乾薑。樸草同行佐大黃。泄瀉流連知痼冷。溫通並用效非常。（附子乾薑甘草桂心厚朴各二錢。大黃四分。水二杯。煎六分服。）</p>
<p>喻嘉言曰。許叔微制此方。深合仲景以溫藥下之之法。方中大黃一味不用。則溫藥必不能下。而久留之邪。非攻不去。多用恐溫藥不能制。而洞泄或至轉劇。裁酌用之。真足法矣。</p>

<h3>防風通聖散</h3>
<p>風熱壅盛。表裡三焦皆實。○發表攻裡並用法。</p>
<p>防風通聖（散。河間。）大黃硝。荊芥麻黃梔芍翹。甘桔芎歸膏滑石。薄荷芩術力偏饒。（大黃酒蒸芒硝防風荊芥麻黃梔子白芍連翹川芎當歸薄荷白朮各五分。桔梗黃芩石膏各一錢。甘草二錢。滑石三錢。加薑蔥煎。）</p>
<p>吳鶴皋曰。防風麻黃。解表藥也。風熱之在皮膚者得之由汗而泄。荊芥薄荷。清上藥也。風熱之在巔頂者。得之由鼻而泄。大黃芒硝。通利藥也。風熱之在腸胃者。得之由後而泄。滑石梔子。水道藥也。風熱之在決瀆者。得之由溺而泄。風淫於鬲。肺胃受邪。石膏桔梗。清肺胃也。而連翹黃芩。又所以祛諸經之遊火。風之為患。肝木主之。川芎歸芍。和肝血也。而甘草白朮。所以和胃氣而健脾。劉守真氏長於治火。此方之旨。詳且悉哉。亦治失下發斑。三焦火實。全方除硝黃名曰雙解散。解表有防風麻黃薄荷荊芥川芎。解里。有石膏滑石黃芩梔子連翹。復有當歸芍藥以和血。桔梗白朮甘草以調氣。營衛皆和。表裡俱暢。故曰雙解。本方名曰通聖。極言其用功之妙耳。</p>
<p>河間制此解利四時。冬寒春溫。夏熱秋燥。正令傷寒。凡邪在三陽表裡不解者。以兩許為劑。加蔥姜淡豉煎服之。候汗下兼行。表裡即解。形氣強者。兩半為劑。形氣弱者。五錢為劑。若初服因汗少不解。則為表實。倍加麻黃以汗之。因便硬不解。則為裡實。倍加硝黃以下之。連進二服。必令汗出下利而解也。今人不知其妙。以河間過用寒涼。仲景傷寒初無下法。棄而不用。真可惜也不知其法神捷。莫不應手取效。從無寒中痞結之變。即有一二不鮮者。非法之未善。則必已傳陽明故也。</p>

<h3>涼膈散</h3>
<p>瀉三焦六經諸火。</p>
<p>涼膈硝黃梔子翹。黃芩甘草薄荷饒。再加竹葉調蜂蜜。（葉生竹上。故治上焦。）膈上如焚一服消。（連翹一錢五分。大黃酒浸芒硝甘草各一錢。梔子黃芩薄荷各五分。水一杯半。加竹葉七片。主蜜一匙。煎五分服。）</p>
<p>汪訒庵曰。連翹薄荷竹葉。以升散於上。梔芩硝黃。以盪滌於下。使上升下行。而膈自清矣。加甘草生蜜者。病在膈。甘以緩之也。張潔古減硝黃加桔梗。使諸藥緩緩而下。留連膈上。頗妙。</p>

<h3>失笑散</h3>
<p>治產後心腹絞痛欲死。或血迷心竅。不省人事。或胞衣不下。○並治心痛血滯作痛。</p>

<h3>獨聖散</h3>
<p>失笑（散）。蒲黃及五靈。（蒲黃五靈脂等分。生研。每服三錢。酒煎服。名失笑散。）暈平痛止積無停。山楂二兩便糖入。獨聖功同更守經。（山楂二兩。水煎。用童便砂糖調服。名獨聖散。）</p>
<p>吳於宣曰。五靈脂甘溫走肝。生用則生血。蒲黃辛平入肝。生用則破血。佐酒煎以行其力。庶可直抉厥陰之滯。而有推陳致新之功甘不傷脾。辛能散瘀。則瘀痛惡寒發熱昏暈胸膈滿悶等症悉除。直可一笑置之矣。至於獨聖散獨用山楂一味。不惟消食健脾。功能破瘀止兒枕痛。更益以砂糖之甘。溫中而兼逐惡。童便之咸。入胞而不涼下。相得而相須。功力甚偉。</p>

<h1>卷下</h1>

<h2>滑可去著</h2>
<p>滑者。潤澤之謂也。從大便降之。視泄劑較輕些。</p>

<h3>芍藥湯</h3>
<p>治滯下赤白便膿血。後重。</p>
<p>初痢多宗芍藥湯。芩連檳草桂歸香。（芍藥三錢。黃芩黃連當歸各八分。肉桂三分。甘草檳榔木香各五分。水煎服。痢不減。加大黃。）須知。（調氣。兼。行血。後重便膿自爾康。痢不減加黃去滯。症分赤白藥須詳。赤加芎地槐之類。白益姜砂茯與蒼。）</p>
<p>陳修園曰。此方原無深義。不過以行血則便膿自愈。調氣則後重自除立法。方中當歸白芍以調血。木香檳榔以調氣。芩連燥濕而清熱。甘草調中而和藥又用肉桂之溫。是反佐法。芩連必有所制之而不偏也。或加大黃之勇。是通滯法。實痛必大下之而後已也。余又有加減之法。肉桂色赤入血分。赤痢取之為反佐。而地榆、川芎、槐花之類。亦可加入也。乾薑辛熱入氣分。白痢取之為反佐。而蒼朮砂仁茯苓之類。亦可加入也。方無深義。羅東逸方論。求深而反淺。</p>

<h3>脾約丸</h3>
<p>治臟腑不和。津液偏滲於膀胱。以致小便多。大便秘結者。</p>
<p>燥熱便難脾約丸。芍麻枳樸杏黃餐。（白芍、火麻仁、杏仁、去皮尖、枳實、厚朴、姜炒各五兩五錢蒸大黃十兩。煉蜜丸如桐子大。白湯送下二十丸大便利即止。）潤而甘緩存津液。溺數腸幹得此安。</p>
<p>陳修園曰物之多脂者。可以潤燥。故以麻仁為君。杏仁為臣。破結者必以苦故以大黃之苦寒。芍藥之苦平為佐。行滯者必順氣故以枳實順氣而除痞。厚朴順氣以泄滿為佐。以蜜為丸者。取其緩行而不驟也。</p>

<h3>更衣丸</h3>
<p>更衣丸用薈砂研。滴酒為丸服二錢。（硃砂五錢。研如飛面蘆薈七錢研細。滴酒和丸。每服一錢。好酒送下。）陰病津枯腸秘結。交通水火妙通玄。</p>
<p>柯韻伯曰。胃為後天之本。不及固病。太過亦病。然太過復有陽盛陰虛之別焉。兩陽合明而胃家實。仲景制三承氣下之。水火不交而津液亡。前賢又制更衣丸以潤之古人入廁必更衣。故為此丸立名用藥之義。以重墜下達而奏功。硃砂色赤為火。體重象金。味甘歸土。性寒類水。為丹祖永母。能輸坎以填離。生水以濟火。是腎家之心藥也。配以蘆薈黑色通腎。苦味入心。滋潤之質。可轉濡胃燥。大寒之性。能下開胃關。此陰中之陰。詢為腎家主劑矣。合以為丸。有水火既濟之理。水土合和之義。兩者相須。得效甚宏。奏功甚捷。真匪夷所思矣。</p>

<h3>礞石滾痰丸</h3>
<p>治實熱老痰之峻劑。虛寒者不宜用。</p>
<p>隱君遺下滾痰方。礞石黃連及大黃。少佐沉香為引導。頑痰怪症力能匡。（青礞石三兩。用焰硝一兩。同入瓦罐。鹽泥固濟。煅至石色如金為度。水飛過。大黃酒蒸。黃芩酒洗。各八兩。沉香一兩。為末水丸。薑湯下。量虛實服。服過咽即便仰臥。令藥徐徐而下。半日不可飲食行動。待藥氣自胃口漸下二腸然後動作飲食。服後喉間稠黏壅塞。乃藥病相拒故也。少頃藥力到自愈）</p>
<p>柯韻伯曰脾為生痰之原。肺為貯痰之器此無稽之談也。夫脾為胃行其津液。以灌四旁。而水津又上輸於肺。焉能凝結而為痰。惟腎為胃關。關門不利。故水聚而泛為痰也。則當曰腎為生痰之原。經云。受谷者濁。受氣者清。清陽走五臟。濁陰歸六腑。肺為手太陰。獨受諸氣之清。而不受有形之濁。則何可貯瘦。惟胃為水穀之海。萬物所歸。稍失轉輸之職。則濕熱凝結為痰。依附胃中而不降。當日胃為貯痰之器。斯義也。惟王隱公知之。故治老痰之方。不涉脾肺。而。責。之。胃。腎。二黃礞石。稟中央之黃色。入通中宮者也。黃芩能清理胃中無形之氣。大黃能盪滌胃中有形之質。然痰之為質。雖滑而黏。善棲泊於腸胃曲折之處而為巢穴。不肯順流而下。仍得綠涯而升。故稱老痰。二黃以滋潤之品。只能直行而泄。欲使委曲而導之。非其所長也。故選金石以佐之。礞石之燥。可以除其濕之本。而其性之悍。可以迅掃其曲折依伏之處。使濁穢不得臟滯而少留。此滾痰之所由名乎。又慮夫關門不開。仍得為老痰之巢臼。沉香為扎方之色。能納氣歸腎。又能疏通腸胃之滯。腎氣流通。則水垢不留。而痰不再作。且使礞石不黏著於腸。二黃不傷及於胃。一舉而三善備。所以功效若神也。</p>

<h3>指迷茯苓丸</h3>
<p>治中脘留伏痰飲。臂痛難舉。手足不得轉移。</p>
<p>指迷最切茯苓丸。風化芒硝分外看。枳半合成四味藥。停痰伏飲勝靈丹。（半夏制二兩。茯苓二兩。風化硝二錢半。枳殼五錢。四味研末。薑汁糊丸。桐子大。每服三十丸。薑湯下。）柯韻伯曰。痰飲之本。皆水也。水入於胃。遊溢精氣。上輸於脾。此自陽入陰也。脾氣散精。上歸於肺。此地氣上升也。通調水道。下輸膀胱。是天氣下降也。水精四布。五經並行。是水入於經。而血乃成也。若陰陽不和。清濁相干。胃氣亂於中。脾氣難於升。肺氣滯於降。而痰飲隨作矣。痰與飲同源。而有陰陽之別。陽盛陰虛。則水氣凝而為痰。陰盛陽虛。則水氣溢而為飲。除痰者。降氣清火是治其標。補陰利水是治其本也。滌飲者。降氣燥濕是治其標。溫腎利水是治其本也。此方欲兼兩者而合治之。半夏燥濕。茯苓滲濕。風硝軟堅。枳殼利氣。別於二陳之甘緩。遠於礞石之峻悍。殆攻中之平劑歟。</p>
<p>○澀可固脫</p>

<h3>當歸六黃湯</h3>
<p>火炎汗出六黃湯。（醒而汗出曰自汗。寐而汗出曰盜汗。）二地芩連柏與當。（生地黃熟地黃黃柏黃芩黃連當歸各等分。黃耆加倍。）倍用黃耆偏走表。苦堅妙用斂浮陽。</p>
<p>陳修園曰。陰虛火擾之汗。得當歸熟地生地之滋陰。又得黃芩黃連之瀉火。治汗之本也。然此方之妙。則在於苦寒。寒則勝熱。而苦復能堅之。又恐過於苦寒。傷其中氣。中者。陰之守也。陰愈虛則火愈動。火愈動則汗愈出。尤妙在大苦大寒墜中倍加黃耆。俾黃耆領苦寒之性。盡達於表。以堅汗孔。不使留中而為害。此旨甚微。注家向多誤解。特表而出之。</p>

<h3>耆附湯</h3>
<p>衛陽不固汗汪洋。須用黃耆附子湯。（黃耆一兩。熟附子五錢。水煎服。）附暖丹田元氣主。得耆固脫守其鄉。（行於皮毛者。衛外之氣也。衛氣根於元氣。黃耆雖專走衛。有附子挾之同行。則能回大汗欲脫之氣。守於其鄉。而汗自止矣。）</p>
<p>陳修園曰。神農本草經云。黃耆氣味甘微溫無毒。主癰疽久敗瘡。排膿止痛。大瘋癩疾。五痔鼠瘻。補虛小兒百病。本經只此三十三字。皆取其質輕味淡。偏走皮毛。故治大風癰疽。及一切外症膿血過多用之。補養皮肉之虛而已。又云主小兒百疾者。以輕薄之品。大人不足倚賴。惟小兒經脈未盛。氣血皆微。不宜峻補。得此微補之品。百病可以概治也。細味經旨。安能大補元氣以止汗。如六黃湯之大寒以除熱。熱除則汗止。耆附湯之大熱以回陽。陽回則汗止。玉屏風之解肌以驅風。風除則汗止。三方不重在黃耆。卻得黃耆之輕快。徑走皮膚。奏效更速。數百年來。無一人談及。甚矣醫道之難也。</p>

<h3>玉屏風散</h3>
<p>玉屏風散主諸風。止汗先求漐漐通。（風傷衛則汗自出。黃耆得防風。其功愈大。以二藥同行走表。令漐漐微似汗。其風邪從微汗而解。則衛無邪擾。汗不再出矣。）發在耆防（黃耆防風。時醫誤認為止汗之品。害人無算。）收在術。（表風得黃耆防風而解。則外無所擾矣。臟氣得白朮而安。則內有所據矣。）熱除（風屬陽邪陽則為熱。）濕去（太陽為濕土。濕熱交蒸則為自汗發熱之症。）主中宮。（白朮補中宮上氣。故能止汗除熱。防風黃耆白朮各等分為末。酒調服。）</p>
<p>陳修園曰。以黃耆為固表藥。千古貽誤。前賢用之不應。所以有汗能止。無汗能發。騎牆之說。及庸輩有炙用能止。生用能發之分也。神農本經俱在。奈何舍而不讀也。余於本條小注甚詳。細心體認。如撥雲見日。明者自知。</p>

<h3>威喜丸</h3>
<p>治元陽虛憊。精滑白濁。遺尿。及婦人血海久冷。淫帶夢泄等症。</p>
<p>和劑傳來威喜丸。夢遺帶濁服之安。茯苓煮曬和黃蠟。專治陽虛血海寒。（白茯苓去皮四兩。切塊。用豬苓二錢五分。同於瓷器內煮二十餘沸。去豬苓取出曬乾為末。黃蠟四兩熔化。攪和茯苓末為丸。如彈子大。每空心細嚼。滿口生津。徐徐咽服。以小便清利為效。忌米醋。尤忌氣怒動情。）</p>
<p>王普三曰。抱朴子雲茯苓千萬歲其上生小木。狀似蓮花。名威喜芝。今以名方者。須擇雲茯苓之年深質結者制以豬苓。導之下出前陰。蠟淡歸陽。不能入陰。須用黃蠟。性味緩澀。有續絕補髓之功。專調斫喪之陽。分理潰亂之精。故治元陽虛憊。而為遺濁帶下者。若治肺虛痰火久嗽。茯苓不必結。而豬苓亦可不用矣。</p>

<h3>濟生烏梅丸</h3>
<p>治大便下血如神。</p>
<p>下血淋漓治頗難。濟生遺下烏梅丸。殭蠶炒研烏梅搗。醋下幾回病即安。（殭蠶一兩炒。烏梅肉一兩半。共為末。醋糊丸桐子大。每服四五十丸。空心醋湯下。）</p>
<p>陳修園曰簡</p>

<h3>斗門秘傳方</h3>
<p>治毒痢。腑臟撮痛。膿血赤白。或下血片。日夜無度。及噤口惡痢。他藥不能治者。立見神效。（又歌。斗門治痢有神方。豆芍榆甘粟殼姜。臟腑撮疼膿血片。垂危噤口並無妨。）斗門（治痢）有奇方黑豆乾姜芍藥良。甘草地榆罌粟殼。血膿噤口並堪嘗。（乾薑四錢。黑豆一兩五錢。炒去皮。罌粟殼八錢。蜜炙。地榆甘草各六錢。白芍三錢。分三四帖。水一鍾半。煎八分服。）</p>
<p>陳修園曰甘草黑豆。能解諸毒。毒解則撮痛除。赤白已。毒氣不衝於胃口。而噤口之病亦寧。又用地榆以燥在下之濕。芍藥以泄在下之熱。是正佐法。乾薑之大辛大溫。以開在上之拒格。是反佐法。又用罌粟殼以止劇痛。制以白蜜之滑。以變其澀。是。巧。佐。法。鴉片是罌粟之膏脂入土者製造而成。名為阿芙蓉。今人吃其煙。多受其害。若以一二釐入藥。止心腹之痛如神。所以取效倍於他藥也。</p>

<h3>聖濟附子丸</h3>
<p>治洞泄。寒中。注下。水穀。或痢赤白。食已即出。食物不消。</p>
<p>附子丸中連與姜。烏梅炒研佐之良。寒中瀉痢皆神驗。互用溫涼請細詳。（附子炮烏梅肉炒。各一兩。黃連炒二兩。乾薑炒一兩為末。煉蜜丸桐子大。米飲下。三十丸。）</p>
<p>按原注云春傷於風。邪氣流連。至夏發為餐泄。至長夏發為洞泄。○陰生於午。至未為甚。長夏之時。脾土當旺。脾為陰中之至陰。故陰氣盛。陰氣既盛。則生內寒而洞泄矣。</p>

<h3>四神丸</h3>
<p>治脾腎雙虛。子後作瀉。不思食。不化食。腎水受時於子。弱土。不能禁制故子後每瀉。</p>
<p>四神故紙與吳萸。肉蔻除油五味須。大棗須同姜煮爛。（破故紙四兩酒浸炒。吳萸一兩鹽水炒。肉豆蔻二兩面裹煨。五味子三兩炒。大棗四十九枚。生薑四兩同煎。棗爛去姜。搗棗肉為丸。臨睡鹽湯下。若早服。不能敵一夜之陰寒也。）五更腎瀉火衰扶。</p>
<p>柯韻伯曰。瀉利為腹疾。而腹為三陰之都會。一臟不調。便能瀉利。故三陰下利。仲景各為立方以主之。大陰有理中四逆。厥陰有烏梅丸白頭翁湯。少陰有桃花真武豬苓豬膚四逆湯散白通通脈等劑。可謂曲盡病情。諸法備美。然只為一臟立法。若三臟相關。久留不痊。如子後作瀉一症。猶未之及也。夫雞鳴至平旦。天之陰。陰中之陽也。因陽氣當至而不至。虛邪得以留而不去。故作瀉於黎明。其由有四。一為脾虛不能制水。一為腎虛不能行水。故二神丸。君補骨脂之辛燥者。入腎以制水。佐肉豆蔻之辛溫者。入脾以暖土。丸以棗肉。又辛甘發散為陽也。一為命門火衰不能生土。一為少陽氣虛無以發陳。故五味子散。君五味子之酸溫。以收坎宮耗散之火。少火生氣以培土也。佐吳茱萸之辛溫。以順肝木欲散之勢。為水氣開滋生之路。以奉春生也。此四者。病因雖異。而見症則同。皆水亢為害。二神丸是承製之劑。五味散是化生之劑也。二方理不同。而用則同。故可互用以助效。亦可合用以建功。合為四神丸。是制生之劑也。制生則化。久泄自瘳矣。稱曰四神。比理中八味二丸較速歟。</p>

<h3>金鎖固精丸</h3>
<p>金鎖固精芡實研。蓮鬚龍牡蒺藜連。又將蓮粉為糊合。夢泄多遺久服蠲。（芡實蒸。蓮蕊須沙苑蒺藜。炒各二兩。龍骨酥炙。牡蠣鹽水煮一日夜。煅粉各三兩。蓮子粉為糊丸。鹽湯或酒下。）</p>
<p>陳修園曰。此方彙集藥品。毫無意義。即市中搖鈴輩店上買藥輩。亦能製造。張景岳新方。亦多類此。若輩喜為平穩而說之。修園不阿好也。</p>

<h3>封髓丹</h3>
<p>治夢遺失。及與鬼交。</p>
<p>妄夢遺精封髓丹。砂仁黃柏草和丸。（砂仁一兩。黃柏二兩。炙甘草七錢。蜜丸每服三錢。淡鹽湯送下。一本用肉蓯蓉五錢。切片洗淡。酒浸一宿次日煎三四沸食。前送下。）大封大固春長在。巧奪先天造化立。</p>
<p>陳修園曰。此方。庸醫每疑其偏寒少補而不敢用。而不知大封大固之妙。實奪造化之權。視金鎖固精。奚啻天淵之隔。寶鑑合三才湯料。名為三才封髓丸。則。板。實。不。靈。矣。趙羽皇方論最妙。宜熟讀之。趙羽皇曰。經云。腎者主水。受五臟六腑之精而藏之。又曰。腎者主蟄封藏之本。精之處也。蓋腎為慳臟。多虛少實。因肝木為子偏喜疏泄母氣。厥陰之火一動。精即隨之外溢。況肝又藏魂。神魂不攝。宜其夜臥思交。精泄之症出矣。封髓丹為固精之要藥。方用黃柏為君。以其味性苦寒。苦能堅腎。腎職得堅。則陰水不虞其泛溢。寒。能。清。肅。秋令一至。則龍火不至於奮陽。水火交攝。精有不安其位者乎。佐以甘草。以甘能緩急。瀉諸火與肝火之內煩。且能使水土合為一家。以妙封藏之固。若縮砂者。以其味辛性溫。善能入腎。腎之所惡在燥。而潤之者惟辛。縮砂通三焦。達津液能納五臟六腑之精。而歸於腎。腎家之氣納。腎中之髓自藏矣。</p>

<h3>真人養臟湯</h3>
<p>真人養臟（湯羅謙甫）木香訶。粟殼當歸肉蔻科。術芍桂參甘草共。脫肛久痢即安和。（訶子麵裹煨。一兩二錢。罌粟殼去蒂蜜炙三兩六錢。肉豆蔻麵裹煨。五錢。當歸白朮炒。白芍酒炒。人參各六錢。木香二兩四錢。桂八錢。生甘草一兩八錢。每服四錢。臟寒甚。加附子。宜方無當歸。一方有乾薑。）</p>
<p>肛脫由於虛寒。參朮甘草以補其虛。官桂豆蔻以溫其寒。木香調氣。當歸和血。芍藥以止痛。訶子粟殼以止脫。</p>
<p>陳修園曰。此匯藥治病。市醫得意之方。修園獨以為否。然用木香之多。則。澀。而。不。郁。亦是見解超處。</p>
<p>○濕可潤燥</p>

<h3>清燥救肺湯</h3>
<p>主治諸氣膹郁。諸痿喘嘔。</p>
<p>救肺湯中參草麻。石膏膠杏麥枇杷。經霜收下干桑葉。解鬱滋干效可誇。（經霜桑葉三錢石膏煅二錢五分。甘草黑脂麻。各一錢。人參杏仁去皮尖。各七分。真阿膠八分。枇杷葉去毛。蜜炙一片。麥冬一錢二分。水煎熱服。痰多加貝母。血枯加生地。熱甚加犀角。羚羊角。）</p>
<p>陳修園曰。喻嘉言制此方。自注云諸氣膹郁之屬於肺者。屬於肺之燥也。諸痿喘嘔之屬於上者。亦屬於肺之燥也。古人以辛香之品解鬱。固非燥症所宜。即用芩連瀉火之品。而苦先入心。反從火化。又非所宜也。喻氏宗繆仲醇甘涼滋潤之法。製出此方。名曰清燥。實以滋水。即易所謂潤萬物者。莫潤乎水是也。名曰救肺。實以補胃。以胃土為肺金之母也。最妙是人參一味。仲景於咳嗽症去之者。以其不宜於風寒水飲之咳嗽也。昔醫不讀本草經。疑仲景之法而試用之。用之增劇。遂有肺熱還傷肺之說。以人參為肺熱之禁藥。不知人參為肺寒之禁藥。為肺熱肺燥之良藥也。扁鵲云。損其肺者益其氣。舍人參之甘寒何以瀉壯火。而益氣哉。</p>

<h3>瓊玉膏</h3>
<p>瓊玉膏中生地黃。參苓白蜜煉膏嘗。肺枯乾咳虛勞症。金水相滋效倍彰。（鮮生地四斤。取汁一斤。同白蜜二斤熬沸。用絹濾過。將茯苓十二兩。人參三兩。各研末。入前汁和勻。以瓷瓶用紙十數層。加箬葉封瓶口。入沙鍋內。以長流水淹瓶頸桑柴火煮三晝夜。取出絹紙紮口。以蠟封固懸井中一日。取起仍煮半日。湯調服。）</p>
<p>陳修園曰。人參甘寒柔潤。補助肺氣。然肺本惡寒。凡咳嗽多屬形寒飲冷。得寒潤滋補之藥。必增其咳。昔醫誤認為溫寒之性。故有肺熱還傷肺之說。不知肺合皮毛。凡咳嗽從風寒外傷而起。宜用乾薑五味細辛之類加減。忌用人參之寒。然肺為臟腑之華蓋。臟腑之火。不得水制。上刑肺金。致肺燥乾咳。有聲無痰與寒飲作嗽者不同。正宜用人參之潤而滋燥。人參之寒以制熱。瓊玉膏所以神效無比也。昔醫凡清燥之方。必用人參。可知其長於養津液也。</p>

<h3>生脈散</h3>
<p>（治熱傷元氣。氣短倦怠。口乾出汗。）</p>
<p>生脈冬味與參施。暑熱刑金脈不支。若認脈虛通共劑。操刀之咎屬伊誰。（人參五分。麥冬八分。五味子九分。水煎服。）</p>
<p>陳修園曰。脈。資始於腎。資生於胃而會於肺。仲景於手足冷脈微欲絕症。取通脈四逆湯。以扶少陰之真陽。於心下悸脈結代。取復脈湯。以滋陽明之津液。皆救危之方也。孫真人制生脈散。為暑熱傷肺。肺傷則脈漸虛散為足慮。宜於未傷之前。取人參麥冬之甘潤。五味子之酸斂。無病之時。預服以保之。除暑月之外。不可以此為例也。今人惑於生脈之名。凡脈絕之證。每投立死。亦孫真人命名不正之貽禍也。一本作參麥散。較妥。○燥可去濕</p>

<h3>神木湯</h3>
<p>主治三時外感。寒邪內傷生冷而發熱。及脾泄腸風。</p>
<p>術防甘草濕家嘗。（蒼朮三錢。防風二錢。甘草一錢。加蔥白生薑同煎。據云無汗用蒼朮。以代麻黃湯。有汗用白朮。以代桂枝湯。）神術名湯得意方。自說法超麻桂上。可知全未夢南陽。（仲景居南陽。王海藏以此方代麻黃湯桂枝湯。可知南陽之法。未嘗夢見也。）陳修園曰。仲景麻桂及葛根柴胡等湯。步步是法。而大旨在養津液三字。王海藏此方。燥烈傷陰。先涸汗源。多致留邪發熱。正與仲景法相反。據云用代麻桂諸湯。平穩可法。其實貽禍匪輕也。須知此方與三陽之症無涉。惟大陰之風濕可用。內經謂春傷於風。邪氣流連而洞泄。至夏而餐泄腸澼者。宜此燥劑。否則不可沾唇。</p>

<h3>平胃散</h3>
<p>治濕淫於內。脾胃不能剋制有積飲痞隔中滿者。</p>
<p>平胃散用樸陳皮。蒼朮合甘四味宜。（蒼朮泔浸二錢。厚朴薑汁炒陳皮甘草炙各一錢。薑棗煎。）除濕寬胸驅瘴癘。調和胃氣此方施。</p>
<p>柯韻伯曰。內經以土運太過曰敦阜。其病腹滿。不及曰卑監。其病留滿痞塞。張仲景制三承氣湯。調胃土之敦阜。李東垣制平胃散。平胃土之卑監也。培其卑而使之乎。非削卑之謂也。蒼朮苦溫運脾。長於發汗。迅於除濕。故以為君。厚朴色赤苦溫。能助少火以生氣。故以為臣。濕因於氣滯。故以行氣之陳皮為佐。脾得補而健運。故以補脾之甘草為使。名曰平胃。實所以調脾歟。</p>

<h3>五皮散</h3>
<p>五皮飲用五般皮。陳茯姜桑大腹奇。（陳皮茯苓皮姜皮桑白皮大腹皮。）或用五加易桑白。脾虛膚脹此方宜。（脾不能為胃行其津液。故水腫。半身以上宜汗。半身以下宜利小便。此方於瀉水之中。仍寓調補之意。皆用皮者。水溢皮膚。以皮行皮也。）</p>
<p>陳修園曰。此方出華元化中藏經。頗有意義。宜審其寒熱虛實。而加寒溫補瀉之品。</p>

<h3>二陳湯</h3>
<p>治肥盛之人。濕痰為患。痰喘脹滿。</p>
<p>二陳湯用夏和陳。益以茯苓甘草臣。（半夏二錢。陳皮一錢。茯苓三錢炙。甘草八分。加姜煎。）利氣調中兼去濕。諸凡痰飲此為珍。</p>
<p>陳修園曰。此方為祛痰之通劑也。痰之本。水也。茯苓制水以治其本。痰之動。濕也。茯苓滲濕以鎮其動。方中只此一味。是治痰正藥。其餘半夏降逆。陳皮順氣。甘草調中。皆取之以為茯苓之佐使耳。故仲景書。凡痰多者俱加茯苓。嘔者。俱加半夏。古聖不易之法也。今人不窮古訓。以半夏為祛痰之專品。仿稀涎散之法。制以明礬。致降逆之品。反為湧吐。堪發一嘆。以此方為三陽解表之劑。服之留邪生熱。至死不悟。余於真方桂枝湯下已詳言之。茲不復贅。</p>

<h3>萆薢分清飲</h3>
<p>萆薢分清主石蒲。草梢烏藥智仁俱。（烏藥益智仁石菖蒲萆薢各等分。甘草梢減半。）煎成又入鹽些少。（加鹽少許。）淋濁流連數服驅。（遺精。白濁。）</p>
<p>汪訒庵曰。萆薢能泄厥陰陽明濕熱。去濁分清。烏藥疏逆氣而止便數。益智固脾腎而開鬱結。石菖蒲開九竅而通心。甘草梢達腎莖而止痛。使濕熱去而心腎通。氣化行而淋濁止矣。此以疏泄為禁止者也。</p>

<h3>腎著湯</h3>
<p>治寒濕腰痛。如帶五千錢。此帶豚為病。名曰腎著。</p>
<p>腰痛如帶五千錢。腎著湯方豈偶然。甘草茯苓姜與術。長沙老法譜新編。（甘草二錢。白朮乾薑茯苓各四錢。水煎服。即金匱甘草乾姜茯苓白朮湯。但分兩多少不同。）</p>
<p>陳修園曰。帶脈為病。腰溶溶如坐水中。此寒濕之邪。不在腎之中臟。而在腎之外腑。故其治。不在溫腎而散寒。而在燠土以勝水。若用桂附。則反傷腎之陰矣。</p>

<h3>一味白朮酒</h3>
<p>治傷濕身盡痛。</p>
<p>即白朮一兩。酒煎服。不能飲者以水代之。按神農本草經云。白朮氣味甘溫無毒。主風寒濕痹死肌痙疽。止汗除熱消食。作煎餌。久服輕身延年不飢。原文只此三十四字。</p>
<p>陳修園曰。白朮主治風寒濕三者。今而成痹。而除濕之功。則更大焉。死肌者。濕邪侵肌肉而麻木不仁也。痙者。濕流關節而筋勁急也。疸者。濕乘脾土肌肉發黃也。濕久鬱而為熱。濕熱交蒸。故自汗而熱發也。脾受濕則失其健運之常。故食不能消也。白朮性能燥濕。所以主之。作煎餌三字。先聖另提。大費苦心以白朮之功在燥。而所以妙處。在於多脂。多脂則燥中有潤。張隱菴解云。土有濕氣。始能灌溉四旁。如地得雨露。始能發生萬物。今以生術削去皮。急火炙令熱。名為煎餌。遵法修治。則味甘而質潤。土氣和平。故久服有輕身延年不飢之效。後人用土炒燥。大失經旨。葉天士臨症指南。竟用水漂炒黑。是徒用白朮之名也。不得不附辯於此。</p>
<p>○寒能勝熱</p>

<h3>瀉白散</h3>
<p>瀉白甘桑地骨皮。再加粳米四般宜。（桑白皮地骨皮各一錢。甘草五分。粳米百粒。○汪云桑皮瀉肺火。地骨退虛熱。甘草補土生金。粳米和中清肺。李時珍曰。此瀉肺諸方之准純也。）</p>
<p>秋傷燥令成痰嗽。火氣乘金此法奇。</p>
<p>季楚重曰。火熱傷氣。救肺之治有三。傷寒邪熱侮肺。用白虎湯除煩。此治其標。內症虛火爍金。用生脈散益陰。此治其本。若夫正氣不傷。鬱火又甚。則瀉白散之清肺調中。標本兼治。又補二方之不及也。</p>

<h3>甘露飲</h3>
<p>治胃中濕熱。包黃溺赤。口瘡吐血衄血。</p>
<p>甘露二冬二地均。（天冬。麥冬。生地。熟地。）枇杷芩枳（黃芩。枳殼。枇杷葉。）斛茵倫。（石斛。茵陳。）合和甘草平虛熱。（等分煎溫服。）口爛齦糜吐衄珍。</p>
<p>陳修園曰。足陽明胃為燥土。喜潤而惡燥。喜降而惡升。故以二冬二地石斛甘草之潤以補之。枇杷枳殼之降以順之。若用連柏之苦。則增其燥。若用耆朮之補。則慮其升。即有濕熱。用一味黃芩以折之。一味茵陳以滲之。足矣。蓋以陽明之治。最重在養津液二字。此方二地二冬等藥。即豬苓湯用阿膠以育陰意也。茵陳湯芩之折熱而去濕。即豬苓湯中之用滑澤以除垢意也。</p>

<h3>左金丸</h3>
<p>治肝藏實火。左脅下痛。或吐酸水。</p>

<h3>香連丸</h3>
<p>治赤下痢。</p>
<p>茱連六一左金丸。肝鬱脅疼吞吐酸。（黃連六兩。吳茱萸一兩鹽湯泡。名茱連丸。）更有痢門通用劑。香連丸子服之安。（黃連二十兩以吳茱萸十兩水拌浸一宿同炒。去吳茱萸。木香四兩八錢五分二味共研末。醋糊丸桐子大。每服二三錢。空心米湯下。○薛立齋治虛痢。以四君子湯四物湯補中益氣湯。隨宜送下。）</p>
<p>陳修園曰。肝實作痛。惟肺金能平之。故用黃連瀉心火。不使剋金。且心為肝子。實則瀉其子也吳茱萸入肝。苦辛大熱。苦能引熱下行。同氣相求之義也。辛能開鬱散結。通則不痛之義也。何以謂之左金。木從左而制從金也。至於香連丸。取黃連之苦以除濕。寒以除熱。且藉其苦以堅大便之滑。況又得木香之行氣止痛。溫脾和胃。以為佐乎。故久痢之偏熱者。可以統治也。</p>

<h3>溫膽湯</h3>
<p>治熱嘔吐苦。虛煩驚悸不眠。痰氣上逆。</p>
<p>溫膽湯方本二陳。竹茹枳實合和勻。（二陳。加竹茹枳實。）不眠驚悸虛煩嘔。日暖風和木氣伸。</p>
<p>陳修園曰。二陳湯為安胃祛痰之劑。加竹茹以清隔上之虛熱。枳實以除三焦之痰壅。熱除痰清。而膽自寧和。即溫也。溫之者。實涼之也。若膽家真寒而怯。宜用龍牡桂枝湯加附子之類。</p>

<h3>金鈴子散</h3>
<p>治心腹痛。及脅痛等症。○脈洪數。及服熱藥而增病者如神。</p>
<p>金鈴子散妙如神。須辨諸疼作止頻。（火痛或作或止。）胡索金鈴調酒下。（延胡索金鈴子各等分。研末。以清酒調服三錢。）制方原是遠溫辛。</p>
<p>陳修園曰。金鈴子。引心包相火下行。從小腸膀胱而出。延胡索和一身上下諸痛。配合得法。所以效神。</p>

<h3>丹參飲</h3>
<p>治心痛胃脘諸痛多效。</p>
<p>婦人更效。</p>
<p>心腹諸疼有妙方。丹參十分作提綱。檀砂一分聊為佐。入咽咸知效驗彰。（丹參一兩。檀香砂仁各一錢。水一杯半。煎七分服。）</p>
<p>陳修園曰。穩。</p>

<h3>白合湯</h3>
<p>治心口痛。服諸熱藥不效者。○亦屬氣痛。</p>
<p>久痛原來鬱氣凝。若投辛熱痛頻增。重需白合輕清品。烏藥同煎亦准純。（白合一兩。烏藥三錢。水二杯。煎七分服。）</p>
<p>陳修園曰。此方余從海壇得來。用之多驗。○以上三方。皆治心胃諸痛。服熱藥而不效（者宜）之。古人治痛。俱用通法。然通之之法。各有不同。調氣以和血。調血以和氣。通也。上逆者使之下行。中結者使之旁達。亦通也虛者助之使通。寒者溫之使通。無非通之之法也。若必以下泄為通。則妄矣。此說本之高士宗醫學正傳。士宗名世拭。浙江人也。著有靈樞直解。素問直解等書行世。</p>

<h3>滋腎丸</h3>
<p>治肺痿聲嘶。喉痹咳血煩躁。</p>
<p>即通關丸（見通劑）</p>
<p>羅東逸曰。此丸為腎家水竭火炎而設。夫水竭則腎涸。腎涸則下泉不鍾。而陽盛於上。斯喉痹痰結煩躁之症作。火炎則金傷。金傷則上源不澤。無以蒸呴布漚。斯聲嘶咳血焦痿之症生。此時以六味補水。水不能遽生也。以生脈保金。金不免猶燥也。惟急用黃柏之苦以堅腎。則能伏龍家之沸火。是謂浚其源而安其流。繼用知母之清以涼肺。則能全破傷之燥金。是謂沛之兩而騰之露。然恐水火之不相入而相射也。故益以肉桂之反佐為用。兼以導龍歸海。於是坎盈窞而流漸長矣。此滋腎之旨也。柯韻伯曰。水為腎之體。火為腎之用。人知腎中有水。始能制火。不知腎中有火。始能致水耳。蓋天一生水者。陽氣也。即火也。氣為水母。陽為陰根。必火有所歸。斯水有所主。故反佐以桂之甘溫。引知柏入腎而奏其效。此相須之殷。亦承製之理也。</p>

<h3>地骨皮散</h3>
<p>治陰虛火旺。骨蒸發熱。日靜夜劇者。婦人熱入血室。胎前發熱者。</p>
<p>即四物湯。加地骨皮牡丹皮各三錢。（四物湯見補劑）柯韻伯曰。陰虛者。陽必湊之。故熱。仲景曰。陰弱則發熱。陽氣下陷入陰中。必發熱。然當分三陰而治之。陽邪陷入太陰脾部。當補中益氣以升舉之。清陽復位。而火自熄也。若陷入少陰腎部。當六味地黃丸以對待之。壯永之主而火自平也。陷入厥陰肝部。當地骨皮飲以涼補之。血有所藏。而火自安也。四物湯為肝家滋陰調血之劑。加地骨皮。清志中之火以安腎。補其母也。加牡丹皮。清神中之火以涼心。瀉其子也。二皮涼而不潤。但清肝火。不傷脾胃。與四物加知柏之濕潤而苦寒者。不同矣。故逍遙散。治肝火之鬱於本臟者也。木鬱達之。順其性也。地骨皮飲。治陽邪之陷於肝臟也。客者除之。勿縱寇以遺患也。二者皆肝家得力之劑。</p>

<h3>清暑益氣湯</h3>
<p>長夏濕熱蒸炎。四肢困倦。精神減少。身熱氣高煩心。便黃口渴。而自汗脈虛者。此方主之。清暑益氣草參耆。麥味青陳曲柏奇。二木葛根升澤瀉。暑傷元氣此為宜。（人參黃耆甘草炙當歸麥冬五味青皮陳皮神麯黃柏葛根蒼朮白朮升麻澤瀉。薑棗煎。）</p>
<p>參吳鶴皋方考。暑令行於夏。至長夏則兼濕令矣。此方兼而治之。炎暑則表氣易泄。兼濕則中氣不固。黃耆輕清散表氣。又能領人參五味之苦酸。同達於表以實表。神麯消磨傷中氣。又能佐白朮甘草之甘溫。消補互用以調中。酷暑橫流。肺金受病。人參五味麥冬。所以補肺斂肺清肺。經所謂扶其所不勝也。火盛則水衰。故以黃柏澤瀉滋其化源。津液亡則口渴。故以當歸乾葛生其胃液。清氣不升。升麻可升。濁氣不降。二皮可降。蒼朮之用。為兼長夏濕也。</p>

<h3>龍膽瀉肝湯</h3>
<p>治脅痛口苦。耳聾耳腫。筋痿陰濕熱癢陰腫。血濁溲血。</p>
<p>龍膽瀉肝通澤柴。車前生地草歸偕。梔芩一派清涼品。濕熱肝邪力可排。（膽草三分。梔子黃芩澤瀉柴胡各一錢。車前子木通各五分。當歸三分。甘草生地各三分。）</p>
<p>龍膽柴胡。瀉肝膽之火。佐以黃芩梔子木通車前澤瀉。俾濕火從小便而出也。然瀉之過甚。恐傷肝血。故又以生地當歸補之。肝苦急。急食甘以緩之。故以甘草緩其急。且欲以大甘之味。濟其大苦。不令過於泄下也。</p>

<h3>當歸蘆薈丸</h3>
<p>治肝經實火。頭暈目眩。耳聾耳鳴。驚悸搐搦。躁擾狂越。大便秘結。小便澀滯。或胸脅作痛。陰囊腫脹。凡屬肝經實火。皆宜服之。</p>
<p>當歸蘆薈黛梔將。木麝二香及四黃。龍膽其成十一味。諸凡肝火盡能攘。（當歸膽草酒洗梔子黃連黃柏黃芩各一兩。大黃青黛水飛蘆薈各五錢。木香二錢五分。麝香五分炒。神麯糊丸。薑湯下每服二十丸。）</p>
<p>陳修園曰。五臟各有火。而肝火最橫。肝火一動。每挾諸經之火。相持為害。故以青黛蘆薈龍膽。入本經而直折之。又以黃芩瀉肺火。黃連瀉心火。黃柏瀉腎火。梔子瀉三焦火。分諸經而瀉之。而最橫之肝火。失其黨援。而乃平。然火旺則血虛。故以當歸之補血者為君。火旺則胃實。故以大黃之通滯者為臣。氣有餘便是火。故以麝香之主持正氣。神麯之化導積氣。木香之通行滯氣者為佐。氣降。火亦降。自然之勢也。況又得芩連梔柏。分瀉各經。青黛蘆薈龍膽。直折本經。內外應合以為之使乎。立法最奇。向來為庸解所掩。茲特闡之。</p>

<h3>犀角地黃湯</h3>
<p>主治吐衄便血。婦人血崩赤淋。</p>
<p>犀角地黃芍藥丹。（生地兩半。白芍一兩。丹皮犀角各二錢半。每服五錢。）血升胃熱火邪干。斑黃陽毒皆堪治。或益柴芩總伐肝。</p>
<p>柯韻伯曰。氣為陽。血為陰。陽密乃固。陽盛則傷陰矣。陰平陽秘。陰虛者。陽必湊之矣。故氣有餘即是火。火入血室。血不營經。即隨逆氣而妄行。上升者出於口鼻。下陷者出於二便。雖有在經在腑之分。要皆心肝受熱所致也。心為營血之主。心火旺則血不寧。故用犀角生地酸鹹甘寒之味。以清君火。肝為藏血之室。肝火旺則血不守。故用丹皮芍藥辛苦微寒之品。以平相火。此方雖曰清火。而實滋陰之劑。蓋血失則陰虛。陰虛則無氣。故陰不足者。當補之以味。勿得反傷其氣也。若用芩連膽草梔柏以瀉其氣。則陽之劇者。苦從火化。陽已衰者。氣從苦發。燎原而飛越矣。</p>

<h3>四生丸</h3>
<p>治陽盛陰虛。血熱妄行。或吐或衄者。</p>
<p>四生丸用葉三般。艾柏鮮荷生地斑。（生側柏葉。生艾葉。生荷葉。生地黃各等分。）共搗成團入水化。血隨火降一時還。（搗為丸如雞子大。每服一丸。滾湯化下。）</p>
<p>柯韻伯曰心腎不交。則五臟齊損。陰虛而陽無所附。則火炎上焦。陽盛則陽絡傷。故血上溢於口鼻也。凡草木之性。生者涼。而熟之則溫。熟者補。而生者瀉。四味皆清寒之品。盡取其生者。而搗爛為丸。所以全其水氣。不經火煮。更以遠於火令矣。生地多膏。清心腎而通血脈之源。柏葉西指。清肺經而調營衛之氣。艾葉芳香。入脾胃而和生血之司。荷葉法震入肝家。而和藏血之室。五臟安堵。則水火不相射。陰平陽秘。而血歸經矣。是方也。可暫用以遏妄行之血。如多用。則傷營。蓋血得寒。則瘀血不散。而新血不生也。設但知清火涼血。而不用歸脾養營等劑。以善其後。鮮有不綿連歲月而斃者。非立方之不善。妄用者之過耳。</p>
<p>○熱可制寒</p>

<h3>回陽急救湯</h3>
<p>回陽急救（節庵）。用六君。桂附乾薑五味群。（附子炮乾薑肉桂人參各五分。白朮茯苓各一錢。半夏陳皮各七分。甘草三分。五味九粒。姜水煎。）加麝三釐或膽汁。三陰寒厥見奇勳。（薑桂附子。祛其陰寒。六君子湯。補助其陽氣。五味人參。以生其脈。加麝香者。以通其竅。加膽汁者。熱因寒用也。）</p>
<p>陳修園曰。此市醫得意方也。修園不釋。</p>

<h3>益元湯</h3>
<p>益元艾附與乾薑。麥味知連參草將。（附子炮艾葉乾姜麥冬五味知母黃連人參炙甘草。○艾葉辛熱。能回陽。）蔥白童便為引導。內寒外熱是慈航。</p>
<p>此陰盛格陽之症。面赤口渴欲臥於泥水之中。為外熱內寒。此湯姜附艾葉加知連等藥。與白通加人尿豬膽汁同意。乃熱因寒藥為引用也。內熱曰煩。為有根之火。外熱不寧曰躁。為無根之火。故但躁不煩。及先躁後煩者。皆不治。</p>

<h3>濟生腎氣丸</h3>
<p>腎氣丸名別濟生。車前牛膝合之成。（熟地四兩茯苓三兩。山藥山茱丹皮澤瀉肉桂車前子牛膝各一兩。附子五錢。蜜丸。空心米湯送下。）膚膨腹腫痰如壅。氣化縕絪水自行。</p>
<p>張景岳曰。地黃山藥丹皮。以養陰中之真水。山茱桂附。以化陰中之陽氣。茯苓澤瀉車前牛膝。以利陰中之滯。能使氣化於精。即所以治肺也。補火生土。即所以治脾也。壯水利竅。即所以治腎也。水腫。乃肺脾腎三臟之病。此方所以治其本。</p>

<h3>三生引</h3>
<p>治卒中昏不知人。口眼喎斜。半身不遂。並痰厥陰厥。</p>
<p>三生飲用附烏星。香入些微是引經。（生南星一兩。生川烏生附子各去皮各五錢。木香二錢。）參汁對調宗薛氏。（每服一兩。加參一兩。）風痰卒倒效神靈。</p>
<p>柯韻伯曰。風為陽邪。風中無寒。不甚傷人。惟風中挾寒。害始劇矣。寒輕而在表者。宜發汗以逐邪。寒重而入里者。非溫中補虛。終不可救。此取三物之大辛大熱者。且不炮不制。更佐以木香。乘其至剛至銳之氣而用之。非以治風。實以治寒也。然邪之所湊。其氣必虛。但知勇於攻邪。若正氣虛而不支。能無倒戈之患乎。必用人參兩許。以駕馭其邪。此立齋先生真知確見。立於不敗之地。而獲萬全之效者也。若在庸手。必謂補住邪氣而不敢用。此謹熟陰陽。毋與眾論。岐伯所以叮嚀致告耳。觀其每服五錢。必四服而邪氣始出。今之畏事者。用烏附數分。必制熱而後敢用。更以芩連濫制之焉。能挽回如此危症哉。古今人不相及如此。</p>

<h3>參附湯</h3>

<h3>朮附湯</h3>

<h3>耆附湯</h3>
<p>見澀劑。</p>
<p>陰盛陽虛汗自流。腎陽脫汗附參求。（人參一兩。熟附子五錢。水煎服。名參附湯。）脾陽遏郁術和附。（白朮一兩。熟附子五錢。名朮附湯。）若是衛陽耆附投。（黃耆一兩。熟附子五錢。名耆附湯。）</p>
<p>喻嘉言曰。衛外之陽。不固而自汗。則用耆附。脾中之陽。遏鬱而自汗。則用朮附。腎中之陽。浮游而自汗。則用參附。凡屬陽虛自汗。不能捨三方為治。三方之用大矣。然耆附可以治虛風。朮附可以治寒濕。參附可以壯元神。三者亦交相為用。若用所當用。功效若神。誠足貴也。</p>

<h3>近效白朮湯</h3>
<p>即朮附湯減半。加炙甘草一錢五分。生薑三片。紅棗二枚。水煎服。治風虛頭重眩。苦極不知食味。暖肌補中。益精氣。喻嘉言曰。此方治腎氣空虛之人。外風入腎。恰似鳥洞之中。陰風慘慘。晝夜不息。風挾腎中濁陰之氣。致逆上攻。其頭間重眩之苦。至極難耐。兼以胃氣亦虛。不知食味。故方中全不用風門藥。但用附子暖其水藏。白朮甘草暖其土藏。水土一暖。則濁陰之氣。盡趨於下。而頭苦重眩。及不知食味之證除矣。試觀冬月井中水暖。土中氣暖。其濁陰之氣。其不能出於地。豈更能加於天乎。制方之義。可謂精矣。此所以用之而獲近效也。</p>
<p>陳修園曰。喻嘉言之解甚超。但於益精氣三字而略之。猶未識制方之神妙也。蓋精者。天一所生之水也。一。即陽也。陽。即氣也。氣。即火也。氣為水母。陽為陰根。川流不息。水之行。即火之用也。故方中君以附子。脾腎中有火以致水。水自不窮。俗醫以熟地枸杞之類。滋潤為補。譬之無源之水。久停則汙穢不堪矣。況本方中又有白朮甘草。暖其土藏。脾納穀多。則津液旺。充血生精。以復其真陰之不足。難經所謂損其腎者益其精。內經所謂精不足者補之以味。此方深得聖經之旨矣。故分而言之。經云。兩神相搏。合而成形。嘗先身生。是謂精。附子補腎中之神。所以益精。經又云。上焦開發。宣五穀味。熏膚充身澤毛。若霧露之溉。是謂氣。白朮甘草。入脾而宣布其氣。所以益氣。合而言之。精由氣化。氣由精生。非一。亦非兩也。悟得此方之妙。便知六味丸退熱則有餘。補水則不足。六味丸化氣行水則有餘。補火致水則不足。他若張景岳自制大補元煎等湯。竟云補血補精。以熟地黃為主。少則二三錢。多則一二兩。無知妄作。誤人匪少。何陳遠公之石室秘籙辨症奇聞。馮楚瞻之錦囊。專宗此說。眾盲為一盲所引。是可慨也。</p>

<h3>附子理中湯</h3>
<p>即理中湯（見真方歌括太陰篇。）加附子炮二錢。</p>
<p>陳修園曰。理中湯。以參草補陰。薑朮補陽。和平之藥。以中焦為主。上交於陽。下交於陰。為吐瀉等症而立法。原無加附子之法。若加附子。則偏重下焦。不可名為理中矣。然脾腎俱寒。吐後而大瀉不止。須用附子回其真陽。而門戶始固。必重加此一味而後效。但既加附子。而仍名理中。命名不切。此所以為時方也。又有再加肉桂。名桂附理中湯。則立方不能無弊矣。蓋以吐瀉陰陽兩脫。若用肉桂。宣太陽之腑氣。動少陰之臟氣。恐致大汗。為亡陽之壞症也。</p>

<h3>雞鳴散</h3>
<p>治腳氣第一品藥。不問男女皆可服。如感風濕流注。腳痛不可忍。筋脈浮腫者。並宜服之。其效如神。</p>
<p>雞鳴散是絕奇方。蘇葉茱萸桔梗姜。瓜橘檳榔煎冷服。浮腫腳氣效彰彰。（檳榔七枚。橘紅木瓜各一兩。吳茱萸蘇葉各三錢。桔梗生薑各半兩。水二大碗。漫火煎至一碗半。取渣。再入水兩碗。煎取一小碗。兩汁相和。安置床頭。次日五更分三五次冷服之。冬月略溫亦可。服藥至天明。當下黑糞水。即是腎家所感寒濕之毒氣也。至早飯時。必痛住腫消。只宜遲吃飯。使藥為作效。此方並無所忌。）</p>
<p>陳修園曰。寒濕之氣。著於下焦而不去。故用生薑吳茱萸以驅寒。橘紅檳榔以除濕。然驅寒除濕之藥頗多。而數品皆以氣勝。加以紫蘇為血中之氣藥。辛香撲鼻。更助其氣。氣盛則行速。取著者行之之義也。又佐以木瓜之酸桔梗之苦經云。酸苦湧泄為陰。俾寒濕之氣。得大氣之藥。從微汗而解之。解之而不能盡者。更從大便以泄之。戰則必勝之意也。其服於雞鳴時奈何。一取其空腹。則藥力專行。一取其陽盛。則陽藥得氣也。其必冷服奈何。以濕為陰邪。冷汁亦為陰屬。以陰從陰。混為一家。先誘之而後攻之也。</p>
