<header data-type="book">
<h1>食物輯要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>穆世錫</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1614">公元1614年</data></dd></div>
<div><dt>底本</dt><dd>明萬曆四十二年婁東穆氏原刊本（<a href="https://rbk-doc.npm.edu.tw">國立中央圖書館典藏國立北平圖書館善本</a>：平圖011901–011904）</dd></div>
</dl>
</header>
