<header>
<h1 hidden>關於</h1>
<h1>關於笈成</h1>
</header>

<p><b>笈成</b>是收集、整理中醫藥典籍的開放計畫，未來也會納入醫家、中藥、方劑、方歌、針灸圖譜等資料的整理。</p>

<p>本計畫源於2009年，當時筆者有感網路上中醫藥資料儘管繁多，許多卻已流於表面化、形式化，更糟的是往往還經不起實務考驗，可謂徒有科學表象，卻無科學實質。</p>

<p>傳統中醫是一門融合科學與哲學、融貫知識與修行的學問，雖有相當比例是「統計」而來，亦有不少是經由氣功、修行、甚至玄學等功夫「修證」而得。古代中醫典籍就如武功秘籍，如果只看表面文字，卻未實地去培養敏感的感官，去體會人與自然、與天地的微妙關係，那就像電影裡的功夫——人人打得有模有樣，戰場上卻一打就倒。</p>

<p>經典雖非萬能，然地基非深，萬丈不起。如不能有系統、有效率整理古人之智慧結晶，又如何奢談繼承、發展？在較早的年代，已有許多先聖先賢，不計酬勞、不慕榮利，用白紙黑字，把薪火一代一代遞到我們手上。而在數位化、Ｅ化的年代，如能善用零壹，更能快速整理、發揚先聖之結晶。</p>

<p>紙本有許多優點，適合精讀，也便於筆記加註；然而數位資料在攜帶、查閱、複製、傳播、檢索、比對、版本研究、資料探勘等方面卻大有助益。撰寫《本經疏證》的周潤安，為了考證整部《傷寒雜病論》的方藥，花了六年光陰，當時光是要找出「傷寒論中談到桂枝湯的所有條文」，就得把一本書從頭翻到尾，還不保證沒有遺漏；而在數位世界，只要有傷寒論的電子檔，按下搜尋，幾秒到幾分鐘的時間就清清楚楚。</p>

<p>當時筆者有幸接觸一套《漢典》程式，該程式相當輕巧（約5 MB），支援「且」、「或」、「非」等條件組合，也能一次搜尋多個文字檔案，想查什麼關鍵字，一下就找到了。可惜該程式仍有不少限制，其一是資料以Big5編碼，缺字極多，難以呈現古籍原貌；其二是該資料為切割成一段一段的文本，搜尋還算方便，當電子書從頭讀到尾就不甚合適；只支援純文字而缺乏進階格式也是一大不足。</p>

<p>筆者於是開發了一套與之相似的《笈成檢閱系統》，除基本的多檔掃描、關鍵字多重條件組合搜尋以外，也支援常用的格式語法，搜尋速度經實測與《漢典》不相上下。之後又陸續開發了缺字自動轉換、異體字搜尋、章節段落切分、大綱呈現等功能，加上免安裝直接使用的特性，建立個人的純文字電子古籍已經很方便了。</p>

<p>然而本機版的《笈成檢閱系統》雖能精確檢索、分析電子檔，但檢索數百、數千筆電子檔仍不堪負荷；又許多瀏覽器因安全性考量限制本機存取，導致《笈成檢閱系統》無法作為長遠的解決方案。</p>

<p>此外，儘管已有堪用的檢索系統，但更重要的「電子文本」，筆者卻沒有心力整理。</p>

<p>文學、史學、哲學類之典籍，已為許多有志之士整理、校訂。極難整理的佛教典籍，也在<a href="https://www.cbeta.org/">CBETA電子佛典協會</a>及無數志工大德的努力下，有了不錯的成果。</p>

<p>中醫典籍大多為市面上的有價印刷品，網路上雖能找到為數不少的電子文本，但品質普遍不佳。限於專業因素，文史研究者很少關注中醫藥領域；又較諸現代醫學之眾，中醫人力之寡、職業之勞，導致來源確實、文字正統、罕字不缺、校對詳盡、排版整齊、免費公開的電子資源長期不足。</p>

<p>有些收費的中醫電子文本品質較好，但仍有不少問題：一是使用簡化字，無法呈現古籍原貌而不利考證；二是為防盜用而加入重重保護，不是不能複製，就是變成圖片只能看不能搜，即使能搜，可用的檢索技術也嚴重受限；三是文本若有錯誤，使用者亦無權修訂，只得牽就，而文本錯誤將使資料分析、探勘難以實行。</p>

<p>為求慎重，筆者在查閱、使用電子文本時，常會順手校對，校對後的檔案既可自用，公開出來亦能嘉惠他人。如今網路搜尋引擎發達，搜尋電子文本的速度高達0.x秒幾千萬筆，在網路世界中，只要把品質良好的電子資料公開在網路上，搜尋的部分交給Google、Bing、Yahoo等知名搜尋引擎足矣。</p>

<p>網路上許多人有這種觀念、也樂於分享，但許多電子檔是被零散地貼在部落格、BBS上，人人各行其政，甲在《傷寒論》右邊修50個字，乙把《傷寒論》左邊修70個字……到頭來大家都花了大把時間校訂，但成果無法累積，個別電子檔仍是錯字連篇。</p>

<p>有感於此，筆者另行架設了《笈成資料庫》，冀能集結眾人力量，聚沙成塔，逐步改善文本品質。可惜該套裝系統仍有許多架構限制，處理中文古籍有許多難以解決的問題，且資料量龐大時效能不佳、網站架構複雜，讓許多使用者望之卻步。</p>

<p>幾經考量，筆者決定回歸用語意化HTML做完整的文本標記，並搭配程式做資料管理、轉檔輸出、版本控制，這就是現在的《中醫笈成》。《中醫笈成》目前提供HTML輸出的文本，可使用工具欄切換不同的檢視方式，並用最新的HTML5技術重製典籍檢索器，支援比《笈成檢閱系統》更精細的檢索功能，同時也將版本庫公開至<a href="https://gitlab.com/jicheng">GitLab</a>供開放協作。</p>

<p>《笈成資料庫》的資料會逐漸轉移至此，未來也會逐步推出線上編輯、劃記加註、進階檢索、電子書轉檔、客戶端閱讀器及資料同步等進階功能。</p>

<p>即使有軟體輔助，浩瀚的中醫文本仍須大量人力校訂。如果您發現本站文本或程式有誤，或有任何建議，請<a href="help/contribute.html">協助我們改善</a>。筆者相信，把這些零散的力量集結起來，聚沙成塔，有朝一日，你我都能享有美好的果實！</p>
