<header data-type="book">
<h1>眼科錦囊</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>本庄俊篤</dd></div>
<div><dt>底本</dt><dd>收錄於《<a href="../../help/reference.html#other">皇漢醫學叢書</a>》第十冊，上海中醫學院出版社據1936年世界書局鉛印本校勘翻印，1993年。</dd></div>
</dl>
</header>

<h1>序一</h1>
<p>古人云。不為良相。即為良醫。蓋人當疾病垂危之際。生死呼吸。全賴乎醫。苟能挽回性命。其功豈不與良相侔哉。夫醫有十三科。而眼科居其一。人之五官四肢。不能保其無恙。而眼又易於抱病。療治尤難。第業此者甚夥。求其刀圭立效者罕見。余海航來遊崎陽。久耳普一先生之名。先生精於軒岐之學。救人不少。診治之暇。彙集我中邦及荷蘭日本各種醫書。反覆研究。手著成編。題曰眼科錦囊。書僅三冊。其內條分縷析。凡看視病源。及藥性禁忌。症分內外。並附異症。一切咸備。將見是編一出。俾世之人。永無瞽廢之患。先生拯球苦心。永垂於不朽也。余故樂為之序。</p>
<p><u>歲次己丑菊月朱柳橋</u></p>

<h1>序二</h1>
<p>余自童年。夙患目疾。遍延近地醫家調治。不能有效。壬午冬日。偶爾冒寒。遂致眼瞳緊閉。明年。倩和蘭人什一薄爾毒看治。用剪開瞳。立見光明。不料逐漸起翳。幾成瞽目。適遇普一先生遊崎。請求療治。先生一下手。越日平復如初。重見天日。深感先生高誼。洵為醫中之大家也。先生出示此編。乃眼科之寶筏。利世不淺。余已轉乞中原朱柳橋先生作序。至是書之奧義精言。閱者自能領略。不再多述也。是為序。</p>
<p><u>文政己丑菊月　大業陳文黼志</u></p>

<h1>序三</h1>
<p>方書者。病之註腳也。然而為之有先後。蓋入法者。從書之有常也。出法者。因病之無窮也。入而不知出者。同於道學家之坐談。出而不知入者。均於殘酷吏之牧民。近世執刀圭者。惟師書而不涉病。徒守古人之規矩。以不通實地之機變。謾立古今之說。妄稱流派之秘。非其所學。則唾而不顧焉。吾友普一慨然。既能脫其陋弊。初從學醉蘭先生。後謾遊海內。搜諸家之禁秘。察各地之病態。以救天下之廢痼夭殤為己之任。不但識量過人。又可謂能苦心盡思以務其業也。距今八九年。予別普一於豆州囚山亭。萍蓬千里。邈焉無信。向有客之至自西肥者。為予傳普一之言。且語曰。蘭醫某有絕技之譽。而於其所難之眼疾。普一容易治之。技壓蘭人。名聞清客。於是患者肩摩踵續於其門。淹留之間。裒其所經驗者。著眼科錦囊三卷。尋證搜因。微析毫末。清客朱柳橋聞書之成。而寄序一篇。蓋非深感其妙技。則安能至於斯哉。予因聞普一之所在。又知其術之精。其業之盛矣。頃者。歸而結廬於故山。與予之所寓之忍城。不甚相遠也。寄書求題於所著之卷首。予疏於醫事。故書普一之所志與前所聞之事。以為序。</p>
<p><u>文政庚寅春三月望後三日書於忍城僑居　波山處士撰</u></p>

<h1>續眼科錦囊序</h1>
<p>夫眼目之在人。猶兩曜之在天也。靈機妙用。不可臆識焉。而失其保生。神戶一閉。則赫赫世界。變成長夜矣。故開其戶回其明者。非參造化究妙理者。亦難矣哉。吾友。本莊士雅。嘗患焮熱眼。百方不驗。殆至喪明。一日熟思。搜原索因。自藥而大患頓愈。因慨然曰。世之盲瞎。多誤於庸工之手。可勝嘆哉。遂決然修眼科之業。東奔西走。歷遊於海內。訪當今所稱專門名家。凡若干人。皆是誇家秘。守世傳。梔蠟其鞭。務炫虛名者耳。曾無一個之卓見真識看破斯道。以為世之模範者。於是發憤銳志。自以為任。鑽研有年矣。神領意解。得其妙理。極其幽微。變化萬狀。纖毫不差。故臨病處方。猶影響之應形聲。無復一失焉。嘗在崎陽。見蕃醫療一患眼。而不治。士雅下手。不日奏效。蕃人折服。聲震海外。頃者遊於輦下。余聞其論。見其術。可謂此科之巨擘。前無古人矣。士雅常嘆眼科之書。古今無正典。因辨破漢人七十二症五輪八郭之妄誕。商議西說風土治療之殊異。其無確徵者。拔漢人之精萃。取西說之詳審。而折衷之於本朝之治療。著錦囊一書。既公於世。今復著續篇。益發古人未發之論。吾知正續二篇出。而不啻世之瞶者。撥雲掃霧。以見天日。又將使天下之庸工啟其蒙矣。</p>
<p><u>天保乙未年秋閏七月</u></p>
<p>御醫從五位下大隅守越智宿禰博撰</p>

<h1>續眼科錦囊序</h1>
<p>昔者葉公好畫龍而懼真龍。夫畫龍之於真龍。頭角鱗甲形狀略同矣。然而不能喚云噓雨。則有其名而無其實。何得謂之靈乎。余觀今之為醫者。執刀圭。處方法。此其所為醫者也。然而誕論迂說以飾拙。脅肩諂笑以求容。虛構無的驗。所謂畫龍。而人亦好之。甚矣哉世之似葉公者多也。別有稱眼科者。余嘗讀其書。略知其旨。然皆是駢拇馬蹄之論。而無卓見確識。為其科之模範者。余友本莊普一者。武之本莊人也。幼而好學。自言至治之世。濟人者無如醫者。勃然憤起。破產辭家。遊學於江者。師事於沼津藩醫保土田氏。保土田氏者。內科極奧之大家也。普一有所感發。而專修眼科之術。終辭師家。徼方於四方。無漢家西洋之別。折衷以驗之。雖俚語街談採擇而試之。取捨斟酌。施術於實地。得效於必然者。而與夫守世傳家秘。刻舟膠柱。而炫耀虛名鹵莽方術者。夐然遼絕。豈可不謂真龍乎。客年自瓊浦還。而寓於京師。高論妙術。捲風云。摩九霄。實有臥龍出廬大勢。曩者著眼科錦囊。今復著續篇。陋弊矯之。舊習變之。使以知其所歸趣。故受其業者。日多月盛也。世謂之登龍門云。天保丙申初夏望前三日</p>
<p><u>忍侍醫果山岩田云撰並書</u></p>

<h1>例言</h1>
<p>此書也。雖瑣瑣小冊子。然覃思焦志。經積年之艱苦為之。毫不欺己矣。予腹中無滴墨。故文字欠潤色。專要讀者之易通解。碩學之君子。冀不咎拙粗。以充於實用。則庶幾乎衛生之一助。</p>
<p>卷中編次分而為四。始述余之所發明之說。次載系外障之病。次舉屬內障之證。終揭吾門所用之方則。</p>
<p>初卷所述。如眼目之內景及鑑規之妙機。藥劑之略譜。攝生禁食之論。皆此醫門緊要之事。然諸家大率忽之。雖云深造文字。卻失正理。故余不敢遺余蘊。以著此編。乃是示後學一點之老婆心也。</p>
<p>二三之卷。內外二障之病門。括之八十有一證。於其各門下附類證者。或論注病症異同。或一掃古人謬誤。讀者詳之。</p>
<p>分別內外二障者。以眼珠之部位約之耳。而非漢人所謂內外二障之例。實予一家之見也。其條下所論之證候。亦余所歷視也。如其病因。則或摘論古說。或鈔注新說。欲使學者。知其綱領矣。</p>
<p>內外二障之外。尚逐眼珠諸器之部位。而仔細區別病證。始於睫毛。而終於網膜。通篇十一章。皆是從西洋先哲之規範。而不敢加私意以為孟浪杜撰。</p>
<p>病關涉於內外二障者。則難分以部位。故特舉發無定外之一條。而附在內外二障之卷尾。欲使學者無遺恨也。</p>
<p>各門病名。或舉漢名。或用西洋譯名。或從國唱。遇見無名之病。則余新定其名目。實出於不得已也。舊名間有不穩當者。予欲訂正之。然傳習之久。率爾改之。則卻恐惹他之疑惑。故置而不辨正焉。</p>
<p>各條下論對證治法者。示其活用之徑路而已。非敢謂一定之法也。至如手術亦然矣。後學鐵拘泥失真。</p>
<p>末卷附方者。舊方新方兼取之。藥劑方法類聚之。此予之平常所活用。而聊省學者撰取之勞耳。主治功用。專述其標的。而不贅重複無用之語。</p>
<p>此編固出刀圭煩冗之餘力。惟恐取疏漏之譴責。更有所追考發明者。當著續篇。以補論之。</p>
<p><u>文政十二年龍集己丑中冬下澣關東普一本莊俊篤士雅志</u></p>

<h1>卷一</h1>

<h2>總論</h2>
<p>夫眼目之為妙用也。視力之所徹到。千狀萬形。毫無遺漏。故古人比之皇天雨曜。不亦宜乎。乃神靈不測之機器。至妙無量之要具。此乃先天神液。肇始元靈。陰陽妙蘊。造化精英也。然則其所以視鑑者何也。水乎血乎。抑液乎氣乎。曰。非水非血。非液與氣。自然靈液。水火精華。俱揮發運用而為之。何得窮極乎。雖然。予考之西說。試之事實。聊領其大旨。而至於蘊奧靈妙之理。則一歸之於造物者。非智識之所格知也。蓋眼目之為質也。以膜與液而成。位於鼻側骨腔內。以上下胞瞼為藩籬。而蔽護之。以淚液為溝池。而滋潤之。六筋主其運轉瞬動之機。造化之用意。概略如此矣。實靈妙之神具。人身之至寶。豈他之所能及哉。故一失其度。則猶明鏡滅光輝。清水混汙泥。赫赫世界。變成夜國。要之或根遺毒。或本傳染。或因攝生失道。與感觸時氣。而萌生無慮患害。其證雖有千態萬狀。約之則唯是內外二障耳。何謂外障。曰。剛膜以外。及於眼瞼淚堂。其所患如焮熱赤腫弩肉星翳膜癢燥爛等是也。何謂內障。曰。剛膜以內。及於三液瞳神經。其所患如瞳孔收小開大不真雀目。及青白黑之內翳等是也。龍木論以後之諸書。徒因形狀。以設其病名。或本五行配當之說。而架空閣虛主張。無益之贅論。亦何足辨乎。嗚呼。陰陽家惑亂吾道。其害豈淺淺耶。志斯道者。開一雙之活眼。不看破五輪八郭之妄說。則入其門戶。搜其蘊奧。亦難哉。故予欲闢草萊。剪荊棘。使後人無迷路之憂。學者宜注意而剔除舊染陋弊。實心從事焉。冀使天下蒼生。永享無窮之洪福矣。</p>

<h2>內景</h2>
<p>大凡欲療患眼者。必先審其形體。精其官能。而後擊逆救弊。則百戰百勝。可以立功矣。何則。於微細之部。分備無數之諸具。而映寫物象。毫無差謬。實可謂神靈機器也。今欲知其官能之理者。不就西洋究理之實測。則難窮極其蘊奧之妙。予從西說述物景映寫之理。而示同臭之士。與夫後世眼科以五輪八郭為說者。壤霄夐異也。故論眼珠之諸器。鑑視之妙理如下。</p>
<p>眼珠屬外部者五</p>
<p>眉毛　睫毛　胞瞼（上云胞下云瞼弓狀軟骨在其端邊左右謂大小眥內方為大眥外方為小眥乃胞瞼接際也）　淚孔　淚阜（大眥赤肉之部）</p>
<p>眼窠骨集會者七（七骨分內外）</p>
<p>前頭骨　沖骨　上顎骨（以上屬外部者）　淚骨　揳骨　篩骨　蓋顎骨（以上屬內部者）</p>
<p>運轉眼珠之筋六</p>
<p>拏上筋（令上視之筋）　拏下筋（令下視之筋）　旋迴筋（令向耳邊之筋）　轉運筋（令向鼻邊之筋）　上斜筋（令上轉之筋）　下斜筋（令下轉之筋）</p>
<p>屬胞瞼之筋三</p>
<p>瞼匝筋（二條）　舉瞼筋（一條）</p>
<p>屬淚道者四</p>
<p>淚孔　淚管　淚囊　鼻管（以上輸送淚液而滋潤眼目者）</p>
<p>屬眼珠之膜十</p>
<p>白膜（即白睛也）　剛膜　角膜（即烏睛也）　脈絡膜　葡萄膜（即瞳子也）　網膜　外被膜　睫膜　蜘蛛絲膜（薄膜包水晶液者）　硝子膜（薄膜包硝子液者）</p>
<p>屬葡萄膜者三</p>
<p>虹彩（蒲桃膜前面角膜透視之處）　瞳孔　毛狀膜（虹彩之裡面主瞳孔開收者）</p>
<p>珠內畜藏之液四</p>
<p>水樣液　水晶液　硝子液　黑稠液（塗抹脈絡膜之裡面使黑暗之液）</p>
<p>司眼目之神經五</p>
<p>視神經（腦之第二對主鑑視）　動眼神經（同第四對）　運車神經（同第四對動眼運車之二神經共主機轉）　分布神經（同第五對纏眼瞼主知覺運轉）　牽引神經（同第六對纏瞼及眼珠主牽動之機）</p>
<figure>
<img data-orig-src="urn:270:07956.jpg" alt="圖略具諸珠眼">
</figure>
<p>一白膜</p>
<p>二剛膜</p>
<p>三神經</p>
<p>四上斜筋</p>
<p>五下斜筋</p>
<p>六拏上筋</p>
<p>七拏下筋</p>
<p>八轉運筋</p>
<p>九旋迴筋</p>
<p>一角膜</p>
<p>二葡萄膜</p>
<p>三水樣液</p>
<p>四水晶液</p>
<p>五水晶膜</p>
<p>六硝子液</p>
<p>七白膜</p>
<p>八剛膜</p>
<p>九網膜</p>
<p>十黑稠液</p>
<p>十一脈絡膜</p>
<p>十二瞳神經</p>
<p>眼目之諸具。及位置者。予屢割解眼珠而所親視也。今圖其大概耳。若要窮其微細。則有解體譯書。故不贅。</p>

<h2>鑑視之說</h2>
<p>夫眼目鑑視之理。諸說紛然。無得其精義者。獨西哲勃伊私之說。得其實測。故予專從之。更制新圖。且聊述其理。以示後學。蓋鑑視之理者。來影與精神內外感應而使然者也。譬如鏡面對日光。則光輝抵激發閃爍細光芒而反照。故日月燈火之光輝。照射物象。抵激其物則反映於眼目。作一直尖而入於瞳子之小孔。遂感觸於網膜。使物景得知覺於精神也。乃是其反照之光輝尖頭。先於角膜之部。交叉顛倒。而透徹於稀薄之水樣液中。縮入於葡萄膜之小孔。次於凝固橢圓水晶液之部。更再交叉顛倒。而入軟闊之硝子液中。竟使來影映寫網膜。而達視神經。蓋起先來影之倒映者。復為顛倒。故在網膜之部。而正映真寫之。而令不失物景之本態也。其水晶液之為用也。隨物景之遠近進退運動。而令適視物之度者也。硝子液之周圍。以塗抹黑稠液。昏暗而無光輝。抵激為反照之勢。故物象益加明朗矣。此乃如暗室穿小孔引外影也。所縮入其孔中之物影。皆顛倒映寫焉。試將一片硝子版。掩其小孔。則來影彌洞明。而光彩色澤。真如繪畫。而復將一枚之硝子重懸。則顛倒之外影。遂成正影矣。能以此徵之比考眼目。則不待予言而其理自了然。</p>
<figure>
<img data-orig-src="urn:270:07957.jpg" alt="外影交叉映寫眼底之圖">
</figure>
<p>第一物景</p>
<p>第二光輝直尖</p>
<p>第三角膜透明之處</p>
<p>第四剛膜</p>
<p>第五網膜</p>
<p>第六水樣液</p>
<p>第七水晶液</p>
<p>第八硝子液</p>
<p>第九脈絡膜</p>
<p>第十葡萄膜</p>
<p>第十一黑稠液</p>
<p>第十二瞳神經</p>
<p>鑑視映徹之理。見圖說而當領解其概略焉。方寸之眼珠亦備是靈器。況於全軀之妙工乎。造化之用意。實不容易哉。故詳諸部官能。而察因與證。知其常而應於非常。則對病投藥之間。得免其謬誤。而可以謝天地之鴻德。豈可忽乎。</p>

<h2>近視眼遠視眼</h2>
<p>大凡物景之為來映也。光輝直光。與諸具官能互相感觸之理。略如前條所論述。故諸具一失妙機。或至病之為變。則發各種之異證。所謂遠視近視。一物兩形。及半形顛倒不真。異色昏花等。千種萬類。不可得而窮極也。雖不可得而窮極也。而其變之所根據者。不過於諸液諸膜之失常度而已。失其常度之理。於近視遠視二證。確乎可證焉。其因雖多端。今特述尋常之證。而要學者之注意細會。知是之理。則各種之異證。亦當推此而知彼矣。然則。非不可得而窮極也。蓋近視眼者。眼面之中央。比較尋常之眼。稍為隆起。是以物象光輝尖達於網膜也。不能如常度。故近接物體。以適其度而已矣。耆期老人。血氣衰弱。諸液少灑。則其凸隆之眼面。自然扁平。竟復常度者有之矣。可以知其理也。其遠視眼者。與前證相反。而眼面扁平之所致也。故光輝聚映。亦在角膜後部。以為交叉。故使物景近接眼面。則愈失其度。譬如衰老之眼。不遠隔物象。則不克洞見焉。此乃血氣乏少。諸液減耗。眼面扁平。而使然也。此二證共是一般。而唯來影之度。有過不及耳。摹寫西洋書所載之圖。以示遠近相距之度如下。</p>
<figure>
<img data-orig-src="urn:270:07958.jpg" alt="第一圖">
</figure>
<p>（此圖尋常眼之度使以知短視遠視凸凹二眼之異其度）</p>
<p>第一物體</p>
<p>第二物景之光輝尖為交叉處</p>
<p>第三光輝尖遠近相距處</p>
<p>第四眼面周圍</p>
<p>第五眼面周圍之徑度</p>
<p>第六眼面形狀</p>
<figure>
<img data-orig-src="urn:270:07959.jpg" alt="第二圖">
</figure>
<p>（尋常眼面與凸隆眼面其光輝尖之遠近相距眼面周圍及徑度有差等之圖）</p>
<p>第一光輝尖</p>
<p>第二凸隆眼所見之物體</p>
<p>第三光輝尖之相距處</p>
<p>第四眼面之周圍</p>
<p>第五圓圍之徑度</p>
<p>第六眼面之形狀</p>
<p>第七凸隆眼與尋常眼之徑度</p>
<p>第八光輝尖之差</p>
<p>第九凸隆眼最分明所見物景之分位</p>
<p>第十尋常眼分明所鑑視之物乃在此處</p>
<figure>
<img data-orig-src="urn:270:07960.jpg" alt="第三圖">
</figure>
<p>（此圖者詳說光輝尖之聚映至角膜後部之理）</p>
<p>第一物體</p>
<p>第二尋常眼所見光輝聚映之點</p>
<p>第三光輝尖至角膜後部而交叉處</p>
<p>第四光輝尖過度之分也此過度之分程比尋常眼則遠隔不然則光輝尖以不至第二常度之部不能明見也</p>
<p>第五得此證者見物體之部位</p>
<p>第六尋常眼與遠視眼視物示有遠近之差即此第六之差度者與第四之過度同分也</p>
<p>舉此三圖。以使知其大旨。夫眼面扁平者。不遠離物象。則不能明見也。眼面隆起者。不近接物體。則又不能洞視也。看彼凸凹之二眼鏡可推考其理。而此證之起原者。關係眼面形狀。與珠內諸液之缺脫者也。此圖本出於西醫之說。不敢加臆斷。惟去其稂莠而掇其精英。要易見解耳。學者須思量。</p>

<h2>膜翳星翳弩肉之說</h2>
<p>膜者。因其形而取名耳。其症比於翳。則加稠厚。且血絡瀰蔓。其狀如皮膜。故有此名也。翳者。其狀如淡煙浮雲。其證與膜大異也。古人不細察之。翳與膜混同而論說之。何其陋哉。一證有稱星者。此乃角膜生白點如星之懸天。亦因其形狀以稱之。非有深旨也。弩肉者。血絡為膨脹。白膜為浮腫之證。而焮熱之眼。往往有之矣。然而近今說者。或云弩則土也。其澀刺磣痛如投入砂土也。嗟乎。是何言哉。古典弩與努通用。未嘗與土通也。凡工俗談。真堪捧腹。字書云。弩怒也。此乃脈絡怒脹之謂也。故外科書。每指腐肉膨脹者。稱弩肉。則當知非眼目一證之名也。何費多言。</p>

<h2>藥物略譜</h2>
<p>爐甘石　此主治者。去翳除膜。收爛治濕之貴藥也。故專門家每配點劑而施用焉。是物元來金銀坑中之所產也。曩昔出於豆州之銀坑。然今失其所在。既久矣。近今所取用者。即舶來之品物。而未聞有國產也。往年東奧之一友人。贈與一塊之爐甘石。曰。於我邑金坑之內所獲也。雖不知其然否。品質遠優漢產。而市戶所鬻之物。優劣相混。精粗互半。亦不得不撰用焉。試法。以一豆粒許。投入烈火煆之。而其色帶黃者為優。白色次之。灰色及含有砂石者。皆不任用也。蓋此物以出於金銀坑冶之處。漢人以為金銀之苗。豈其然乎。此物是倭鉛之氣結化於地中。經天然之薰陶。而煉熟凝成者也。試以之煉赤銅。則變成黃鍮。天功開物。亦載煅煉爐甘石而制倭鉛之說。以此孝之。點銅為黃者。非倭鉛而何哉。予制亞鉛華。（煅煉倭鉛而所獲之精華也詳出於宇氏所著之名物考）抵用而試之。其質純粹。其效峻烈。遠優於爐甘石。所謂人造奪天工者。其言之乎。</p>
<p>珍珠　此物多種。本邦處處有之。惟以出於肥勢二州者為絕品。蓋今世眼科之徒。專為眼疾通治之貴藥。而無不配於點藥者。至其太迂者。則以為內服而治內障。患家亦信庸醫之言。頻請用之。故奸工賊醫。設計於貝珠欺瞞患家。而釣利網貨。甚為可惡。故予欲除其風弊。不厭數言以縷說其理。此物為應用之貴貨。固無論焉。然有殊效者。必有害。不可不深察也。予考其所主治。與石灰牡蠣之品類相似。而澄清濁液。制伏腐敗。除翳退膜之要劑也。制之煅煉。而不如灰。則無益焉。此以力專在收斂也。故酒將酸敗。則以煅制真珠少許投之。則收斂酸味。而復於淳酒。其功不異於石決明蝲蛄石。是以點用屬焮熱之眼疾。則以收斂之力尤峻劇。增益疼痛。發起赤脈。遂到於危篤。不可不戒懼也。予往日邂逅於一眼科曰。制真珠有妙法。取方五寸豆腐一塊。放在於鍋內。當中開一小孔。以珍珠實之。用水煮之。一日許。下火候冷。取出而研末。此我家秘法也。不稽之癡譚真可笑。</p>
<p>冰片麝香　此二種者。芳香透竄。開達閉塞。補復衰弱。除頑翳。去老膜。治諸般內障之一大奇品也。然知其利。而不知其害。則不可妄施謾用焉。予歷年遍遊於諸州。叩眼科之門。不止數十家。見其黨之所為。實不師傳。則家秘謾誇三世之舊。守持主張。以為帳中秘方。目擊其術。則卻是鄙陋俗法。而安有明窮藥性病候之識乎。故誤用藥石。以取敗者。不為不鮮。後學沉思。勿致差治。夫此二物者。其味辛苦。其性溫熱。是以令觸於上衝眼焮腫眼。其他屬熱之眼疾。則忽爾增進焮熱疼痛。至其太甚。則眼珠破裂。或角膜突出如蟹眼。或遮明曇暗。尚生萬般之變。汙狀醜態。為終世之廢人。是乃以熱投熱之弊。猶抱薪救火。世醫不熟此理。若致誤治。則為傳染於疫眼。全歸咎於天行。不敢顧視。或遇患疫眼者來乞治。則恐沾染於旁人而辭治。此何愚之甚哉。疫眼者。素系天行之一症者。兒輩亦能知之。豈獨眼科之門周年有之哉。不知出其誤治。而釀成大患。故予發憤凝思。製造清涼緩和之水藥塗藥。專以救熱眼誤治之患者為急務。哀學淵曰。世人不知冰片為劫藥。而誤認為寒。當用點眼。遂至積熱入目。而漸昏暗翳障。彼陰陽醫亦能知其理。而世上之拙工。竟不省悟之者何哉。</p>
<p>寒水石滑石　寒水石者。古今紛辨。而無一定之說。石膏長石凝水石方解石。昔人皆以充之。或取似者。或惑同名。惟時珍氏。決然取石膏充之。實遵用有驗。然方解石為代用之說。特非卓見也。為何。則碎之塊塊盡方解。假令千煉煅之。萬轉研之。毫末尚存方稜之形。不敢失天生之質。故誤用之。則摩擦眼珠。必生不測之變症。方今眼科所用之物。即方解石。而非真物。其質與效。天淵懸絕。豈可混同乎。石膏者。其質鬆軟而光亮。燒之則白爛如粉。其性清涼。而兼解肌。故內服而散郁逐毒。發汗解熱。除翳退膜。煅煉為末。配於點劑。亦能有脫翳之力矣。滑石所主治者。去汙液。除黏眵。收爛止淚。而此物可生用。而不可火煉。若誤燒之。則變於粗硬之物。化於無用之品。此制治各有所宜也。</p>
<p>丹砂銀硃　此二種者。雖有天然與人造之別。其質其治。彷彿相似矣。然有天然人造之別。則不得不擇之。丹砂者。天生之一物。而其質水銀硫黃之所凝結者也。但以自生於土石間。此所混交者。亦有不同者也。銀硃者。出於人造。以水銀硫黃煉製之者也。比之丹砂。其效力自在一層之上。藥鋪所販賣者。乃舶來下劣之品。其色暗紫。而有微臭。不可以供藥用。故與用不審不正之物。寧用純粹之銀硃。蓋丹砂者。天工之銀硃。而銀硃者。人作之丹砂也。猶水晶與硝子也。是以詳精煉之術。則轉粗而為精。實醫家之急務也。方今眼科。惟知其色美。而不知其品有優劣。妄配於點藥。欲以銀硃使鮮明。以龍麝使芳香。其陋如此。故不啻無效。亦貽害不少。銀硃之為質也。以水銀為主。其質微細竄透。能穿入於細條纖絡。逐出邪毒。澄清眼液。去翳除膜之神劑也。而為妄用。則以水銀之劇勢。刺沖攻動其部。更發疼痛。起血線。殆至危篤之證。然明辨藥性。詳察病候而用之。則輕粉昇汞之劇劑。皆配點藥亦無有害。卻奏撥雲清霞之奇效。若要究極其藥性。則不如學精煉之術也。予故曰。精煉者。醫家之急務也。</p>

<h2>點藥水飛</h2>
<p>當今專門之家。百般眼疾。必用點藥。而無他策。觀其所制。取石藥煅煉之。而後用水飛過。大約十數回。至其叮嚀注意者。精精密密。自號除去石中所含有之火毒。予甚疑之。其所謂火毒也者。為害如何乎。用水飛過。則其所增功力幾許乎。而藥物之制。本非一途。有可煅煉者。有可生用者。有可風化水飛者。若不知之。而謾為煅煉水飛。以企望藥力強大者何哉。應粗而密。應密而粗。若經水飛十數次。則卻恐脫去自然固有之力。而化於無用廢殘之品。此不明藥物之質。不達精煉之理。徒為苦心勞志。遂製作無益之物。不亦愚乎。</p>

<h2>點劑</h2>
<p>點藥和蜜者。一者包護龍麝芳香透竄之物。而不令風化飛散也。一者塗沫眼珠。而令滋潤緩和也。然甘味黏稠之品者。制伏峻烈之勢。緩解收斂之力。故蜜劑比粉末劑。則效力減半矣。況飛過數回。脫亡其銳氣者乎。初學之士。先究盡藥性。而後可活用焉。不然則百無一功矣。</p>

<h2>㗜鼻劑</h2>
<p>㗜鼻之藥劑。古人既稱用。而其方亦為不少焉。然近世眼科之門。用之者幾希也。適雖有用之者。多出於口受家傳之一路。非有窮極其法方。此有法而無用也。故予懇舉數方。以告有志者。此乃眼科應用之貴劑。而頭痛熱眼及內外二障。皆能奏效焉。概之雖有噴嚏者。泄淚者。流利稀涕者。吐出黏沫者等之別。皆是開達頭腦之鬱閉。快復神經之衰弱。流通氣血之留滯。外出上衝之汙毒之方法也。按蠲毒逐邪者。自然逐毒之外。如汗吐下利水放血發疱釀膿串線等。即其任也。水銀諸劑。導出邪毒於津唾。㗜鼻諸法。誘引郁毒於鼻口。同是驅邪之妙術也。豈不鄭重乎。</p>

<h2>吐劑</h2>
<p>汗吐下之為方也。導出諸毒之要術。而僻村寒鄉之草醫。亦能知之。然世醫馴於汗下。而不熟於吐方。蓋吐方者。有功於留飲宿水及結滯於胸膈之諸證矣。比於汗下。實捷徑之一術也。予頃年熟察患家。發起胃中之汙液者。十居於七八。水飲之為禍。豈可不懼哉。而胃中釀生汙液。則其毒混流於血中。遂致上攻於眼目。故可用吐方之證甚多矣。如昏花雷頭風黑障青盲風眼疫眼弩肉差明等。審其腹候。察其病因。皆邪毒鬱結於胸中而所致也。宜吐之。慎勿輕忽。</p>

<h2>放血灌水</h2>
<p>此二術者。頗行於世。而其書亦流布焉。故不必贅言。惟述予門所用之標的。以令知其大綱耳。放血之術者。醫家之寶法也。詳診病機而施之。則有應手取效之妙。其所主治者。上衝頭痛鼻髎骨痛風眼疫眼疼痛羞明。及赤腫焮熱等之眼疾也。輕證者。百會眼胞太陽穴。重劇者。委中尺澤刺之。但瀉血有度。看患者之強弱。與血液之過不及。而宜斟酌焉。灌水之術。亦不過此數種之證候耳。其法應浣冷水於頂。如打撲損傷之眼目。出血不止者。宜在其部淋滴泠水。然而放血者。比於灌水。則其用頗多矣。張子和曰。治目暴赤腫隱澀難開者。以三稜針。刺前頂百會穴。出血大妙。其言雖不盡蘊奧。尚足以取其規則矣。</p>

<h2>各國殊證</h2>
<p>人生於地。命懸於天。而天之所命。有貴賤貧富強弱肥瘦之不同焉。人人稟賦既已不同。則天下四方之病態。亦不得不異也。蓋疾病素出於天制。故有山川之形勢。土地之美惡。高燥卑濕。山丘沃野。食餌之厚薄。寒燠之異宜。則各地之疾病。亦不一般也。予以醫事。負笈於千里。頗認得其病情。然寰宇之廣。人民之多。豈蠡測之所能盡哉。今述其所目擊。聊為方法活用之一助耳。夫大都通市之民。宴安逸樂。足蹈煙花。口飽膏腴。故其所患者。留飲腳氣勞瘵不遂梅毒淋痔等居多也。其眼目之證。亦關係此諸證者。十有七八焉。南方濱海之各地。氣候溫暖。草木不萎。蟲蛇不蟄。山野常蒸發濕黴之氣。加之吃膏腴之海族。是以食癩腫瘍爛眼內翳極不鮮焉。北方之諸地。冬春之時。積雪盈丈。朔風冽慄。土人常穴居於雪窩裡。是以鬱塞身體之蒸發氣。且雪光潑眼。自發劇動。起上衝頭痛。遂變於風眼。疫眼者甚多矣。故越羽之諸州。多有瞽瞍焉。東方常總之二州。大江縱橫。天下尤一之水國。其地卑濕。是以濕眼上衝眼過半矣。關東之諸州。至於山海遠隔之地。則廣野渺渺。眼不見鮮魚。身不觸瘴嵐。飲食淡薄。氣節中和。故比他邦。則百般之疾病。自覺微少。或如信甲二州之瞼生風粟。四國之瞳孔病。西肥崎陽之內障疳眼等。殊勝於各州矣。括之。沿海之邑。眼疾尤多。而山野之鄉稍少焉。此因地氣偏頗。與攝生異同也。蓋天下之廣。郡縣之夥。細見審察。則各鄉各邑。亦不得無偏有之患。禮記云。中國戎夷五方之民。皆有性也。不可推移。故順其性施治。則事半而功倍。若戾其性。則無益而有害。學者會得是之理。則當以臨變應機。而無刻舟求劍之弊。</p>

<h2>溫泉害目</h2>
<p>各處溫泉。其所主治。雖一一不同。然大約舒暢筋骨。融通血液。燥瘡復痹等。此其用也。但病毒劇盛之時。未遂治療而浴之。則卻致逆攻。動至斃人。其輕者。亦作廢殘之人。如眼疾者。最可恐戒焉。何則。擾亂鬱熱。內陷瘡瘍。動血耗液。積毒竟薰騰於眼目。全使之不得救焉。嘗聞北越鍾懸信州。諏訪西肥云仙。其溫泉專治眼疾云。是以四方患者。競赴其地。去時尚是小恙。歸時已成不治之盲。可不悲嘆哉。</p>

<h2>攝生禁食</h2>
<p>夫人奉父母之遺體。折是生有涯之福者。皆因失攝養之道也。故攝生。保護天壽之要術也。其為法也。節飲食。適動作。闊心寬氣。靜養保重。而調理體軀。則雖罹疾病。藥效甚速也。且諸般眼疾。可禁忌者。夜業讀書。罵怒悲憂。勞力苦志。耽酒淫色。或燈下看物。或屢浴溫湯。或觸光輝。步熱地。向炎煙。或辛辣之物。膏腴之品。鹽藏之肉。及堅硬粗惡黏稠之食。固宜慎之。且務清掃居室。躲避光輝。宜撰易消化之食味。一盞之微。一匙之細。關係於軀命者。實非淺淺也。</p>

<h2>儀眼</h2>
<p>夫儀眼者。偽造之眼面也。本來出於玉匠工冶之手。而非醫門之人也。然近時眼科。傳習其術。而秘其技。唱其奇。以有募厚幣之徒。粗工得一方則秘一方。得一術則秘一術。而欺愚人。釣貨利。卑劣賤陋。可惡之甚也。故雖小技。亦預知制與用。而勿見惑於妄醫矣。其為用也。疫眼風眼之壞證。及醜惡之眼目。可施於患其隻眼者。而患雙眼者。不能用之也。其制用硝子造圓形之眼目。在其後面彩畫白膜角膜瞳孔之形狀。至其眼珠之大小。自然之潤色。務要擬似於無恙隻眼摹寫。宜效西洋油畫法。其法記於下。</p>
<figure>
<img data-orig-src="urn:270:07961.jpg" alt="第一瞳孔圖">
</figure>
<p>松煙　荏油（煮用）二味調勻</p>
<figure>
<img data-orig-src="urn:270:07962.jpg" alt="第二毛狀線圖">
</figure>
<p>墨</p>
<figure>
<img data-orig-src="urn:270:07963.jpg" alt="第三葡萄膜圖">
</figure>
<p>松煙　辨雅里土　荏油（煮用）分量適宜</p>
<figure>
<img data-orig-src="urn:270:07964.jpg" alt="第四剛膜圖">
</figure>
<p>白堊　石青　荏油（煮用）</p>
<p>第五白膜圖</p>
<p>白臘　石青　白堊　上三味合煮分量適宜</p>
<figure>
<img data-orig-src="urn:270:07965.jpg" alt="彩畫全形圖">
</figure>
<p>製造之法。大略如此。工拙在其人矣。若有眼目所陷凹者。烊蠟充實於儀眼後面。而要使之固著。若夫少壯之婦人。深閨之處女。不幸患是等之證。則自愧其醜態。有誓不見人者。其意實可憐焉。此具雖無益於鑑視。美好其外貌。聊足以掩醜矣。所謂惻隱之心仁也。瑣瑣小技。亦是一點之仁耳。</p>

<h2>苦寒之辨</h2>
<p>大凡苦味之藥劑者。其性溫熱。而強壯胃。增膽汁。專資水穀消化之力。散血中溜滯之邪者也。古人不通其理。謾謂苦味也者。其性寒。故配當家妄述目病屬火之空譚。主張苦寒涼血之說。設苦味制火之誣論。茫乎如捕影繫風。何得施的當之治哉。蓋胃者。受容飲食而輸送之於腸。製造靈血二液。以榮養百骸。保全性命之根基也。故溫涼滋和。無所不關焉。然人不密於攝養。則所受納之水穀。亦不能盡其職。竟變成腐敗之惡液。而為禍亦不淺矣。故眼科用苦味者。以資胃之官能。制伏宿水為主。非謂涼血之謂也。俗間嘗云眼科專用冷藥。不益身體也。招其誚者。醫家所自取。而非世人之罪也。噫。</p>

<h2>逐機活用</h2>
<p>夫我道者。雖不出內外之範圍。然古人各自執其所長。遂至分析。有各科之名號。故後世從事之徒。割據一方。守持其法。互相權衡。而爭優劣。此固小量窄器。僅抱一術。而不能達變應機者也。獨嘯庵曰。醫者以病為師。旨哉此言也。實千古確論。非活用方法之人。則不能知其意也。雖涉獵萬卷之書。不證之於事實。則亦何益之有哉。假令有高談奇說。聳人之耳目。苟無益於治術。則皆屬蛇足。田野方法。亦能奏奇效。則豈不珍重哉。故醫無古今之別。方亦無古今之別。惟撰其善者而活用之耳。徐而庵詩論有言云。餘二十年論詩祗識得一法字。近來方識得一脫字。詩蓋有法。離他不得。卻又即他不得。離則傷體。即則傷氣。故作詩者。先從法入。從法出。能以無法為有法。斯之謂脫也。其事雖異。其理則同矣。乃是活用方法之妙語。故拘泥其所學。而不能脫法圍。則不能知其機活運用也。近世方書。如眼目之論。根於五行。本乎五輪八郭。其說杜撰孟浪。何足取乎。扁鵲曰。病應見於大表。終古醫家。以之為口實。而其黨取證舍因。今察其徵候。見於外者。無如眼目者。然於眼目證候。毫無知見。則彼何謂取證乎。豈非不稽之論耶。蘭學家亦可思矣。彼所言者。盡以信之。則所謂不如無書也。其說皆論死物耳。故至其活用背理者。亦不少焉。且風土稟賦既不同。則本邦固有之病。彼國或無之。彼國所有。亦本邦或無之。然則如藥物。亦非考窮思索。而親歷驗之。則其可否。何得能辨乎。周禮云。橘逾淮而北為枳。風土之不同如此矣。近世方書。其論迂遠。然撰其善者。則非可盡棄也。張介賓曰。眼目之一證。雖古有五輪八郭。及七十二證之辨。余嘗細察之。似非切當之論。徒資惑亂。不足憑也。以愚論之。則凡病目者。非火有餘。則陰不足耳。此論足使後世眼科改面目。故拘執於所學。則不能看破其弊。緊縛於方法。則不能透脫其範。活用之者。存乎人而不在方焉。從法入。從法出。縱橫自在。如孫吳之用兵。至其玄機。則非楮墨之所盡也。戰國策云。以書為御者。不盡馬之情。信哉斯言乎。</p>

<h1>卷二</h1>

<h2>外障篇</h2>

<h3>病系睫毛之證</h3>

<h4>睫毛內刺</h4>
<p>（附）重睫</p>
<p>漢名拳毛倒睫。睫毛一二根。乃至十餘根。反生逆倒。而刺戟眼珠者是也。此證有天稟者。或有久患眼疾之後。上瞼痿弱。或老夫血氣衰弊。瞼皮延伸低垂。而失其守撞眼珠者。皆此證之起原也。蓋睫毛為內刺。則每一瞬。殆覺不可堪之苦楚。遂羞明怕日。生翳起膜。若棄而不療。則日後必變於異證。輕則遮明。重則失明。又有一證。名重睫。此固有之睫毛重生。而內生者。逆刺眼珠。此證往往有之。</p>
<p>治法　內服無效。治在外術。其法拔去逆毛。而用火鐵。或腐藥。以可剔除毛根。然此取一旦之效耳。經日之後復生焉。欲全治之。則有切斷夾肉之二術。如法用之。萬無一失矣。切斷之術。用剪頭切斷低垂有餘之瞼皮為縫合。與金瘡法無異也。夾肉之術。用竹夾。或銅夾。緊夾有餘之贅皮。七日而剪斷其贅皮。決勿使患處見濕。</p>

<h4>睫毛脫落</h4>
<p>睫毛脫落者。因患爛眼人。毒液腐蝕其部。或天行病。或沉痼之黴瘡。而得此證。又切斷兩瞼閉著之後。竟絕毛根。系其患者。亦有之。此證不能避外來之飛塵。加之濕爛汙滅。以致生薄翳。</p>
<p>治法　患爛眼而睫毛脫落者。治其本病。則睫毛再生。因他證發者。不治。</p>

<h3>病系胞瞼之證</h3>

<h4>眼瞼閉著</h4>
<p>此證上胞下瞼為閉著者是也。原因誤治眼瞼外面之瘡瘍者。被湯火傷之時。不堪疼痛。而經日閉鎖眼目。兩瞼愈著者。或發此證。又嬰兒有稟賦而然者。此證有治與不治之別。附著眼珠者。此為不治。惟瞼緣相閉著者。務用手術則治。</p>
<p>治法　宜注意看定其所閉著之處。用快刀切斷之。其法左手摘出。右手以鉤尖刀勾斷之。以綿花浸秡爾撒謨塞兩瞼。刀瘢以繃帶包護之。速痊為佳。</p>

<h4>瞼著眼珠</h4>
<p>此證上瞼附著眼珠。而千礙開闔。竟致失明者是也。亦有稟受而然者。有因湯火傷而然者。西說所謂因眼珠外部為潰瘍。而致然者。予未嘗視之。</p>
<p>治法　宜用快刀切開其附著之肉。亦惟在補助便於開闔。並不期再生明亮。</p>

<h4>瞼焮腫</h4>
<p>此證發自眼瞼損傷。眼胞瘡瘍。或血行不利之婦女。或大病後。及焮熱眼諸證。此滯塞血熱之所致也。</p>
<p>治法　發表劑。下劑。通經劑。塗藥。㗜鼻劑。瀉血等。宜從證索因。以撰用焉。予欲細演其義。恐涉於冗繁。故不贅。</p>

<h4>瞼浮腫</h4>
<p>（附）空氣腫</p>
<p>瞼浮腫者。胞瞼腫泡而不變皮色。又無疼痛。此證濕眼及顏面水腫等之所致也。或風眼疫眼有兼發之者。一證有不畜水液。而眼瞼膨脹者。名空氣腫。</p>
<p>治法　內服山西湯。及苓桂朮甘湯之類。又兼用葛根湯。鹿角湯。而發表之。外用洗蒸劑。（詳附方）空氣之證。宜用鉛砂蒸劑。解圍煎。屬於疫眼風眼者。宜治其本病。治法詳於兩條下。</p>

<h4>結石腫</h4>
<p>此證小腫為硬結者也。腫中含包如雪白軟骨之結石。每開闔瞬動。沖摩眼珠。以起焮。熱導赤脈。生翳遮明。</p>
<p>治法　用小鋒針。刺破腫頭。除其結石。則其患頓息、但發起翳膜者。俟施手術後。宜行治法。</p>

<h4>麥粒腫</h4>
<p>（附）固結腫</p>
<p>漢名偷針眼。乃細小之腫瘍。生瞼緣弓狀軟骨之部。其初起發癢。而後焮腫疼痛。必為膿潰。惟是小兒少壯之人。往往有之。大人極少也。誤治之。則堅硬甲錯變成固結腫。若積日經月。則必刺戟眼珠以發翳。</p>
<p>治法　起先用鈹針。而可除其膿。自然膿潰漏脫者。亦為不少焉。倘若變於固結腫者。宜用洗蒸劑。以緩和之。割破腫頭。除去所藏病毒。此證有屢發者。此胃中畜積汙液之人也。施手術之後。宜與下劑。</p>

<h4>瞼生風粟</h4>
<p>和蘭譯書名稗腫。上下瞼里發小腫。其形駢生。而如麻子如粟粒。以針破其腫粒。則出凝固透明之液。此證胞瞼裡面小機里兒（前人譯云泌胞或腺）畜黏液。漸漸凝結者也。竟摩擦眼珠。生翳遮明經久。則致昏暗。</p>
<p>治法　翻轉眼瞼。用小鋒針。刺破其腫粒。用如匙頭銀篦。宜仔細掃除所畜藏之物。用玫瑰花露洗淨之。內服發表劑。若有赤脈者。兼用下劑。</p>

<h4>爛弦風</h4>
<p>（附）胎風赤爛</p>
<p>此證眼瞼赤爛。或痛或癢。常摩挲不能去手。荏苒累年不痊者是也。至太甚。則皆帷破裂而出血。大抵眼瞼細絡。畜鬱蒸之熱。竟釀成苛冽之液。而赤爛蠧蝕於眼瞼之外面。其病因雖多端。平常之患者。或多血。或黏液質之人鬱結蒸發氣。而罹其患如小兒者。多因胎毒蛔蟲。及胃中酸敗液而發之。如婦人者。因經水不利而致之者。亦有之矣。漢人另載胎風赤爛一證。而述三條之病原。其論曰。初生時。血露入眼中。洗不乾淨。而生是疾。又云。在母胎中。其母不知忌口。此即胎毒也。又云。有乳母壯盛。人抱兒供兒之際。口未哺乳頭、乳汁脹滿。灑然射出。衝入兒眼。亦能生出濕爛。若沖射顏面。亦或疵濕瘡癢。大抵此三證。同號曰胎風赤爛。此說迂遠。不足取信焉。蓋小兒分娩之時。灌浴之前。未見有開目者。豈得有血露入目之理乎。如母不忌口味之言。當以為保育之戒。不可謾廢也。不但忌口味。而貽其害而已哉。其父母有病之時。受胎之兒。不免遺毒之患。此病出先天而為難治矣。如赤爛者。小恙得痊者也。然未免生他證。況於險惡之遺毒乎。故為人之父母者。須戒慎其始矣。如乳汁射目發此疾之論。實為妄誕。何則。乳汁者。保育嬰兒。天稟滋味也。豈為損害嬰兒而設之乎。古今眼露取用乳汁之方。為不鮮矣。然則用之之人。皆可患爛眼也。予屢見小兒患眼目者。雖點乳汁。一未嘗見受其害者。為之發一笑。如乳汁射面生疵濕瘡癢者。其乳母固所浸淫酷毒沉疴之婦。而抱育之兒。不得免傳染之害也。若兒果發不測之險證。不但乳汁注射眼目而系其患而已。服惡性乳汁亦然矣。認之以為小兒爛眼之常態。則恐致誤治。</p>
<p>治法　大人爛弦風者。內服葛根湯。鹿角湯。大青龍湯。桃核承氣湯。如神丸。通經丸主之。黴家宜撰用七寶丸。神效煉薰劑之類。小兒胎毒者。鷓鴣菜湯。兼用緩汞丸。逐蟲丸。而後用紫圓下之。屢用屢效。</p>

<h4>風牽出瞼</h4>
<p>此證似爛弦風而異也。下瞼翻轉。露出赤肉。流淚汪汪而不息。形容醜怪。此因天行病所生也。如小兒者。有發於遺毒者。此證和蘭眼科諸書。名眼瞼外反。其治法條中。載在夾斷所翻出之赤肉之術。乃不詳審證候。則決勿下手。如不經心。卻傷人。予往昔遊於信州。見有一眼科。遇患只目者。下截斷術治療之後。卒然變證。眼珠潰爛。苦惱劇痛。真似奇怪。遂連累於無恙之目。不日只目全致昏瞶。加之形容醜穢。可憐一個好漢。終成廢痼之人矣。予屢見如此之證。施截斷術未嘗有得寸效者。此因謾行截斷打擾病毒。而惹出險急之證者也。故不考定其證之難易。草率從事。則安得不損人乎。學者不可不懼也。</p>
<p>治法　可效大麻風之治法。小兒者。用消毒湯可也。</p>

<h4>上瞼低垂</h4>
<p>此證上胞緩垂。而壓覆角膜上。干礙視瞻者是也。久患眼疾之後。其部痿弱。或扯胞筋（即舉筋也）之麻痹。老人血氣衰憊者。多發是證。</p>
<p>治法　證輕者。可灸三陰交。重者。可從睫毛內刺之治術。</p>

<h4>胞瞼結核</h4>
<p>結核者。眼胞生瘤。不變肉色。亦無疼痛。初生如米粒。漸大如龍眼。按之移動者。名糊瘤。或淡紅黑色。如軟肉而低垂者。名肉瘤。漢人名稱結核者非也。此即瘤也。和蘭之醫名為瘤。今當從之。</p>
<p>治法　糊瘤輕者。宜用水銀膏塗抹眼胞上。令其緩和。流散重者。先以指頭按上胞之內外。看肉之厚薄。就其薄處而療之。近外面者。用腐蝕劑。徐徐點之。俟其開口。宜除去瘤囊。近裡面者。用快尖刀橫截之。挑出其瘤。所割之刀痕。點秡爾撒謨。或雞子白。在眼胞上置壓定巾。可施繃帶。如不經心周密。則發變證。至於肉瘤之證。予未詳其治法。故姑閣筆。</p>

<h4>飛塵入目</h4>
<p>此證砂塵麥芒之類。誤投入胞瞼。或步走風地。而致其飛人者是也。若塵埃黏巾於胞瞼裡面。舍而經日。則為膜被黏定。每瞬動摩擦眼珠。痛澀難開。至於太甚。焮熱腫痛。恰類於疫眼。劇證起先在塵埃射入之時。不拔出之。則終必生翳膜。幾乎失卻瞻識之機。其他結毒眼疫眼等之證。而澀刺羞明似著此證者。間有之。宜留神調治。萬萬勿忽其所驅除之法。先取胞瞼為翻轉。仔細看定。必有積血為塊。或少尖起之處。開破其部。則認得所黏著之物。惟其經久者。不能容易看取焉。或深匿藏胞內者。無術之可施。予遍遊各州。留意於醫事。往往聞知除法之名工。然多是田野老媽。寒村婦女也。省其所用之手段。甚為奇異。予始傳聞其術云。將舌舐胞瞼之裡面。或用銀簪頭攪擾胞內。取出所黏著之砂塵。雖積年之物。無一不除淨。予不敢信其言。常笑之曰。鄙術妄技。何足為奇哉。嘗見大都通市間。立在街頭而賣藥之徒。手將硬膏。或鐵篦子之類。攪轉眼中。而聲言云。能除塵埃。此惟作戲法。以騙瞞眾人。聊糊其口耳。彼山野婦女之除塵埃。亦不過為此等之事也。予偶在一老媽用工之近地。再傳知此事。半信半疑。欲審明其然否。因過訪於老媽之宅。目擊其所療。以指頭按摸眼胞上兩三次。而言塵埃有無。毫無差繆。即用銀簪頭攪轉胞瞼內。而取出所黏著之物。僻邑之老媽。生來直愚。何敢賣姦。況在予親自傍觀之際。而得為偽瞞之工夫乎。於是始知其不謊誕矣。訊問老媽云。此術何人授之。媽云。此不是師受。又不是祖宗之傳下。只管療治許多病客。自為療慣耳。予又推問其北候。與療術。媽云。惟以指頭摸擦胞上。則有無之處。自可明知也。至其療術。則用簪頭攪轉其黏著之處部。以為脫去耳。子聞其言。慨然嘆息。此術本是雖繫於小技。彼以病為師。親蹈其實地。自得其妙機。何庸醫之所跂及耶。嗟乎。寒村老婦。雖目不知丁字。心不辨菽麥。至其妙處。實非言之所能述也。然而凡工以術之出鄙賤。途視而不顧。卻自不知其術之拙也。爾後予覃心焦志。屢試屢效。不敢負老媽所親授。其看法與治術。雖鄙邑鼯技。豈不珍重乎</p>
<p>治法輕者。用蘘荷搗汁漉目中。立出。服鳳仙子一味。亦妙。重者。非用手術。則不治。</p>

<h4>癢極難任</h4>
<p>平易方名眼風癢。其癢難任。搔擦不歇手。此鬱塞蒸發氣以所發者也。大凡風癢之證。在疼痛進退之時。血氣收縱之間而發之。故知風癢為疼痛輕證也。夫身體風癢。摩擦之。則流動所鬱滯之血液。而覺其快心。其理與之一般。故用發表劑。使快通所鬱塞之血。則痊。</p>
<p>治法　葛根湯。烏蛇湯有效。外用㗜鼻劑。點藥。神液丹。屢用知其奏效。</p>

<h4>胞瞼瘜肉</h4>
<p>瘜肉之為證也。胞瞼裡面強膜之分際。生出瘜肉。漸漸延長。其色紅赤。肉根細而形如括囊者是也。或有肉根稍大。如小舌者。外科正宗云。眼胞菌毒者。眼瞼內生出如菌。頭大蒂小。漸長垂出。甚者。眼翻流淚。亦致昏矇。即是之類也。此證有順逆二證。其順也者。瘜內柔軟而無痛。其色痰紅。其逆也者。瘜肉頗強硬甲錯。而其色紫赤。能摩擦眼珠。其原因胞瞼細絡畜血液而為膨脹。遂作肉狀者也。雖有順逆。治法無別。</p>
<p>治法　翻轉胞瞼。將利剪頭切斷其肉根。以冷水灑之。霎時就用一元丹。調和乳汁。點創痕內。服三黃湯。</p>

<h4>兔眼</h4>
<p>此證因胞瞼之諸筋麻痹攣急。或痘瘡腫瘍之瘢痕等。使胞瞼短縮。故眼珠常為露出。雖睡不能合睫者是也。概屬不治。</p>
<p>治法　和蘭有橫截上胞之法。恐非溫和之術。又有塗抹緩和糊劑之方。豈有見效之理乎。予未審其應用之方法。錄以俟後考。</p>

<h3>病系內眥之證</h3>

<h4>多淚眼</h4>
<p>（附）迎風灑淚</p>
<p>此證大眥流出許多之水液者也。或迎向冷風。或照映明亮。或冒觸煙火。則灑淚淋漓而不止。今分其證。配以寒熱二途。其為寒證也。因鼻管之閉塞。淚孔之衰弱。或所收藏淚液之諸具。自遲緩放開等而滲出水液者。名冷淚。即漢人所謂迎風灑淚也。其輕證者。冬月遇著寒風。則因外塞表內鬱蒸氣。而淚鼻二管漏泄淚液。即與在感冒之始塞腠理。流利稀涕者無異。故夏月自為希少焉。其為熱證也。風眼疫眼。或梅毒胎毒痘疹蛔蟲睫毛內刺飛塵入目等之諸眼疾。在其交發之時。而流出溫暖之淚液。故名熱淚。又有一證。其淚液帶辛辣之氣味者。間變作爛弦風。</p>
<p>治法　閉塞外表者。發表劑主之。淚管為衰弱者。灸少陵三壯。或眼科全書所載乳香川烏丸亦可也。然此證間有難治者。而病者患瘧。或熱病之後。有自痊者。至於熱淚。宜從本病治之。</p>

<h4>乾燥眼</h4>
<p>此證反於多淚眼。其所沃之淚液。乾燥澀澀。見物不爽明。若經久則昏濁遮明。至其重者。必有喪明之變。或云原因疫眼。及熱病大病後氣力衰弱等而發焉。然予熟試之。來自梅毒者十有七八。尚可醫治。因氣力脫乏而發者。不可輕忽。若持久不治者。後必發起郁憂勞瘵。及種種之峻證。</p>
<p>治法　內服六味丸。蜀麥加機標。機奈人參湯之類。又宜投噴嚏劑。及⿱艹焷菜白芥子放開淚管之閉塞。引其淚液。外用神液丹調和乳汁屢點。然輕者尚可治。重者難治。出於梅家者。用薰劑及紫薇煙。多有驗效。</p>

<h4>兩瞼黏睛</h4>
<p>（附）胞肉膠凝</p>
<p>此證如膿膠液瀦溜大眥。每宵睡寐之時。兩瞼膠凝黏緊。經久則生翳。矇矇不明。差明怕日。即是毒液聚於脂肪吉里兒而所致也。胎毒黴毒淋病帶下等。釀是患。漢人雖區別為二證。原是一證。哀學淵仿睫毛內刺夾肉之說。予不敢信焉。</p>
<p>治法　內服三黃湯。加硃砂少許。或薰劑。兼用艾連洗在眼胞裡面。宜屢放血。</p>

<h4>淚管漏</h4>
<p>（附）淚囊蓄水腫　小眥漏</p>
<p>此證漢名大眥漏。即淚囊中瀦蓄如膿之液者是也。以指頭按其部。則大眥流泄濁液。累月積年不肯治焉。原因如梅濕淋痔赤白帶下等。酷烈之諸毒為上攻。而其毒浸淫鼻髎篩骨邊發生小腫。以病毒攻著鼻管。遂為閉塞。使鼻孔不通。而其部諸液。亦變作膿狀。故濁液不流泄鼻口。而漏溢淚管。然其閉塞乏少者。或有少出鼻孔者矣。說者皆云此因淚囊生腫瘍。淚液化為膿而流出淚孔者也。豈非撮空之論耶。倘若淚囊生腫瘍以釀膿。則其部必焮熱疼痛。其所流出之膿汁。先腐蝕大眥。而所觸之眼珠胞瞼。亦不得不潰爛腐壞也。何待積年之久乎。此證固無疼痛。雖有之亦微覺癢痛耳。其所流泄之液。亦無腐蝕潰爛之患。則可見非真膿液矣。況有淚液化成膿汁之理乎。予嘗熟視其所流出之液。淚液與濁液。自分別而不混交。說者之臆斷。可以知也。予於此證。屢閱西洋之書。法術雖多。不足掛齒牙。惟有布連吉疑私兒二哲之術。尤為優長。然其術頗覺冗煩。不便取用。予敢改其術。從簡易以試之於真境。甚得驗效。予之所用治術。備載於下。冀後學宜撰用。一證有蓄水腫者。即淚孔流利稀液者是也。此證同前。而其液不成濃濁也。漢人另載小眥漏之一章。然予未詳審其證。故暫闕治法。以俟後考。</p>
<p>治法　輕證者。宜在淚囊外面。用壓定巾。更施繃帶。乃能防護其濁液所留瀦之患。庶得漸自痊。蓄水腫亦可照此法。重證者。宜行截法。其法用紙作細捻。約長五分許。微開尾頭。以尖頭醮烊蠟。穿入淚孔。屈折其所露出之尾頭。攤硬膏貼著大眥外。行是法者。使濁液留滯淚囊。而不泄出。則其部濁液瀦畜。自為膨脹隆起。以得容易看定患處。而便下手也。既看定患處。則就其膨脹之部。將小尖刀（此刀予所新制造者）縱截二三分深。以及淚囊為度。而宜小水銃用片腦水灌洗之。洗罷。以干綿撒絲。充實刀瘢。白布浸米醋以覆之。更施繃帶。而每日改換干綿撒絲。令其吸盡濁液也。約三日為限。復用蠟紙捻。再穿入淚囊。（宜照前法）長約及鼻管為度。其創口傅秡爾撒謨。外用金鎖膏。併合其口。鼻㗜即醒散。務令噴嚏。則不過二七日而取功。</p>

<h4>內眥瘜肉</h4>
<p>此證因淚阜為腫脹如瘜肉者。隆起大眥。其形似桑椹。其色紫赤而疼痛。或有軟和紅色。而無疼痛者。</p>
<p>治法　用針頭。徐徐刺破腫頭。宜以溫金屢熨之。內服防風通聖散。</p>

<h3>病系白膜之證</h3>

<h4>天行赤眼</h4>
<p>（附）疫毒腫　大患後生翳</p>
<p>疫眼之為證也。一種毒厲之氣。當其蒸發之時。偶被感觸。一人患之。則傳染一家。遂及一邑一郡。猶如瘟疫然矣。其證白膜鮮紅。頭疼目痛。黏眵多淚。羞明怕日。或兩瞼浮腫。澀澀難開。至其太甚。則生星起翳。名之大患後生翳。即疫眼之重證也。倘若誤治之。則間變如風眼。竟為盲瞶者有之。故遇其劇證。則宜照風眼治例。斟酌療之。和蘭記載眼瞼疫毒。與白膜疫毒腫之二證。此亦感疫氣而發毒腫於其部。竟變成死肉者也。予按蓋是眼疔之種類乎。尚俟後考。</p>
<p>治法　輕證者。內服發表劑。兼用攻下。外用清涼塗藥。紅漿水。玫瑰露。神效水。石膽水。㗜鼻劑。焮熱難堪者。刺絡瀉血為緊要。發疱膏。貼顳顬百會亦可。</p>

<h4>風眼</h4>
<p>（附）暴露赤眼　暴風客熱</p>
<p>風眼之為症也。白膜起血線。滿目丹黃。黏眵熱淚。淋漓不止。弩肉蟠脹。包迫角膜。而角膜見似凹陷。兩瞼浮腫。澀疼痠痛。夜間殊凶。目窠大熱如火烈。每日晡時。項背惡風。寒熱往來。頭痛如割。其脈洪大而數。煩燥苦懣。狀殆似陽證傷寒。至其劇甚。則譫言妄語。狂走不寢。竟致使眼珠為腐敗膿潰。或突出。或角膜破裂。及凹陷。其輕證。亦角膜如蟹眼。瞳孔欹側。或厚翳頑膜等。尚有百般之變。故難論定焉。此證甚繫緊要。不可藐視。若變成重證。則利害太甚。可恐可驚。故不詳審其證候而施治。則安能取功。不但不取功。殆致失明。悔之何及矣乎。予嘗分別真假二證。或問曰。其真也者如何。曰。其眼目有確然之見證。蓋如多血及黏液質。或觸冒寒氣。遽然受溫氣。或平常項背拘急。或胃中蓄積瘀穢毒液。或熱眼誤用香竄收澀之點藥。或生平貪嗜辛熱之物等者。皆發起真證之基本也。其假也者如何。曰。身患他病。遂波及眼目者。為假。即因大頭風梅毒痳痔疥癬胎毒等證。而攻眼目者是也。其所從來各不同焉。故治法亦不能無差別也。故非潛心苦志。則奚有取驗奏效之日乎。自今眼科專門之徒。遇此等之證。茫洋失措。何有鑑定之識乎。終使患者。空為昏暗之廢人者。不可勝數也。此以無其詳說故也。予述數年研窮所得之真假證候。與治法標的之實徵。以示世間童醫。幸勿致差誤。所謂真證之徵候者。弩肉赤脈。共丹黃色。而恰如紅絹包著珠子。其初起也。先前眼目疼痛。而後頭腦劇痛。其脈洪數弦緊者。乃是風眼之正證也。假證之徵候者。弩肉赤脈皆帶紫色。其脈沉數。極其原因。患黴濕淋痔。忽其治療。服燥劑。浴溫泉而所發也。如嬰兒者。胎毒諸瘡。卒然痊之後有之。自大頭風所傍發者。雖無異於真證。起先頭痛劇甚。而及於眼目。其頭痛偏則眼目亦患偏眼。正痛則眼目亦左右均患。此是三證。宜以主客見解焉。活幼心法云。凡治病必先辨寒熱虛實四證。望聞問切。無非辨此四者而已。四者瞭然於胸中。則用藥取效。其應如響。信哉斯言也。可以為醫家之貴範矣。不琢磨此道。則於擬似毫釐之際。豈得了然乎。漢人雖別表暴露赤眼暴風客熱之二證。共是風眼緩證。而異於疫眼傳染之證焉。先輩以暴風客熱。充於風眼者。實為不穩當。為何。則雖其證不異。而不使眼珠至破綻膿潰之劑。故以為風眼之緩證也。風眼之名。本邦之俗稱。而非漢名也。然書中間有風眼之名目。實是同名異證。如所謂風眼爛弦。頭風風眼。甚多矣。不可混同焉。漢人惟載輕證。而不及劇證者何乎。予遊於長崎時。友人某語予曰。往年舶來清客在崎陽患風眼。瞳孔破綻。竟致盲瞶。然則彼國從來有此證。抑不服本邦之水土而患之乎。記以俟識者。蘭人區別焮腫眼。十有餘種。以此證為焮腫眼之劇證。其所論甚屬微細。然審診詳考之。則病因徵候。比似本邦之所謂風眼。則往往有不同者。此無他。因風土氣候之異。稟賦食味之殊。而所以其證候有差等也。何足致疑哉。歷試之於事實。經驗之於真境。則彼與我同病異證。同證異因之理。自分明也。後之學者。敢勿鹵莽。</p>
<p>治法　真證者。用吐劑。予別有一方。神效靈驗。實是妙劑。然恐人之妄用。故不錄。惟授及門之弟子。自大頭風發者。吐劑或烏頭附子之類。有奇效。此二證。若不兼用攻下。則至使眼珠破裂。自黴毒發者。發表劑利水劑主之。若於其初起錯用瀉下之劑。則恐有喪明之變。俟其病勢衰乏之後。當用與下劑。庶幾其不差。更在太陽尺澤委中刺絡放血。又於百會顳顬貼用發疱膏。或以糊劑塗著足蹠。屢用塗藥。㗜鼻之劑。點藥用蚯蚓露。苦薏露。玫瑰露等。至於眼痛劇者。灸少陵。小炷三壯。及三里三陰交女室（一曰女膝在踵之部赤白肉之分際蓋所謂奇穴也）各二十壯可也。而可令患者。勉剃頭髮。屢以冷水灌洗。此證決禁石藥。及芳香之點劑。誤犯之。則實非藥石之可救也。今所陳列之各法。亦聊示其治之標的耳。以一斑之偏見。而應無窮之變機。則必致差治。活用在其人而不在方也。若眼珠生瑾。瞳孔失常者。名之風眼壞證。非是技術之所能及也。暴露赤眼。暴風客熱二證。宜照風眼之治例融通以療之。若草率從事。則變乎不治之證。慎之。戒之。</p>

<h4>痛如神祟</h4>
<p>（附）痛如針刺</p>
<p>此證眼目不變其常。或帶微紅。眼珠有時痛刺。恰如以針刺之。而其痛無根基。晝痛夜痊。或夜痛晝痊。或發或息。此子宮沖逆之婦。酷毒陰伏之人。多罹是患。其為徵也。脈數煩渴。淚出而其痛間歇如瘧者。則存在酷毒於血中之兆也。眩暈頭痛。白膜帶青。或微紅刺痛。夜間殊甚。忽來忽去。澀澀難開者。子宮病之兆也。漢人雖區別神祟針刺之二證。本是一證。未嘗有別也。</p>
<p>治法　兆於婦人子宮病者。苦薏煎加大黃。桃核承氣湯。抵當湯。通經丸。如神丸。兼用小建中湯。助湯和血湯之類。兆於酷毒陰伏之人者。排毒劑。兼用神效黃蓍湯。桂皮加附子湯之類。外用洎夫藍地黃煎汗。加阿片少許點之。疼痛劇甚者。灸少陵。</p>

<h4>白膜脈腫</h4>
<p>此證血脈腫脹如藤蔓。以纏絡白膜者是也。蓋白膜外面者。以水脈之纖維為質。乃眼目蓄多少之熱氣。血液留滯其部。則不能順流。竟混入水脈之維條以致之也。世上庸醫之徒。稱膜者。多指此證。且區別種種名號。然皆取其形狀耳。非有深意也。至如二十四障。四十八膜之稱。愈屬孟浪。何足論耶。</p>
<p>治法　看定血脈之根基肥大之處。用鉤子勾起之。將利剪截斷之。用小烙鐵以烙截口一點。更以一元丹和乳汁點之。</p>

<h4>大眥赤脈穿睛</h4>
<p>（附）小眥赤脈穿睛</p>
<p>此證即白膜脈腫之一種也。內眥或外眥。發起赤脈。撞貫瞳子上者是也。又一證有赤脈之末梢。生數多之細歧枝。蔓延角膜上。竟變成膜。韜光埋照者。其證似異而無別焉。漢人有言云。大眥赤脈者實眼。而小眥赤脈者虛眼也。可謂迂論。予累年潛思歷試之。實也者。自實。而虛也者。自虛也。何取徵於大小眥乎。</p>
<p>治法　效白膜脈腫之法。宜用剪針。內服麻黃湯。大青龍湯之類。有效。若有燥屎者。謝道人大黃湯可也。小眥赤脈。不可抽剪之說。古人之臆斷。勿拘泥。</p>

<h4>眼疔</h4>
<p>此證在強膜與白膜之分際。生出腫瘍。如粟粒。初無疼痛。而微覺風癢。於其腫之側邊。發起紫色之血線。撞射角膜。其發之勢。最為迅疾。患者以手摩擦眼胞。或觸物。則忽然發起劇痛。其痛牽連耳內。苦楚不可忍也。寒熱往來。其脈洪數。胞瞼變紫色。腫傍悉麻痹不遂。至其毒之深陷。則腐蝕眼珠。溶化諸液。此證比較於風眼。更加一層之重。其毒之進也。疾如快馬之加一鞭矣。夫眼目所以發出疔疽者。灰汁鹽一般辛辣之毒。聚在一處而所致也。西洋所謂疫毒腫者。彷彿是證矣。而如眼疔名曰。雖嘗傳聞之。其證候茫乎不分明。故屢叩問耆老。非蛇足之論。則牽強之說耳。或錯認赤脈貫瞳之證。以作是證者。亦有之。皆不足憑也。予往年遊於野州。偶見患是證者。初起到第五日。變如風眼壞證。遂為盲瞶。予見其劇迅。捲舌畏懼。銘心不忘之。後遇著一婦人之患之者。故以所有險狀。懇告其親眷。以調療之。先橫截毒腫之部分。用小烙鐵燒死肉。使水蛭吸血於兩瞼。又在大陽尺澤大放血。用鉛糖水灌洗數回。內服機那飲。兼用紫丸。浹旬才得痊好。惟惜不至洞明之田地。噫。酷毒狠戾肆虐。可不恐乎。患如是之惡證者。實是九盲一明。況至其劇甚者。雖力援天下之溺者。亦無如之何也矣。</p>
<p>治法　予所歷視。不過此二人。而下手者。一人耳。不足取以為法。則惟述其實徵。以備學者參考。宜自斟酌。</p>

<h4>白膜血斑</h4>
<p>此證白膜纖維。瀦留血液。現出赤斑者也。又見青紫斑者。間有之。其斑點在一部分者有之。或白膜盡變赤色者有之。原因咳嗽嘔吐打撲。或飲酒過度之人等。多患此證。打撲眼目而發者。以有焮痛。動生意外之變。小兒百日咳。或大人患咳嗽嘔吐。而持長不解。或酒客屢次過飲後自發者。施治則不日而痊。</p>
<p>治法　因打撲而發者。宜用角法。及刺絡。咳嗽者。小青龍湯。養神丸。罌粟殼。舍利別。小兒久咳者。外臺茯苓飲加牡蠣。兼用滾痰丸。以薑汁湯送下。經驗。酒客者。甘草營實湯。嘔吐者。小半夏加茯苓湯。半夏瀉心湯。或用吐劑奏效者有之。</p>

<h4>肉攀睛</h4>
<p>（附）翅翳</p>
<p>此證大眥生出帶赤或帶黃之肉贅。漸長犯角膜者也。此因淚阜之纖維為弛長而所發也。和蘭名之翅翳。而算入角膜病中者。非也。乃是白膜病也。從來雖下翅翳之譯字。本與翳不同焉。雖有弩肉之名。亦與他之弩肉不同焉。實瘜肉而非弩肉。漢人言弩肉攀睛與大眥赤脈同證也者。愈涉於荒唐。具眼者自有明識。</p>
<p>治法　宜照下條囊翳之治法。</p>

<h4>囊翳</h4>
<p>囊翳之名。不典之俗稱也。其為證也。白膜隆起。白若微赤之瘜肉。軟如綿絮。積年不痊。漸次滋蔓。竟犯角膜。至尤甚者。則掩閉角膜上。隔絕鑑視之機。其翳端首附著眼珠。而當中浮空。其狀似俗所謂蝦蟆之歌囊。故呼為囊翳。其實亦非翳也。吾友人有命白頭筋之名者。稍當矣。此證與攀睛一般。惟以瘜肉附著眼珠與否。區別為二證耳。</p>
<p>治法　先將細小利鉤。揭起瘜肉浮空之部。針穿蠟絲。以貫通其處。更扯絲揭起。以利剪刀截斷其附著之處。若全掩角膜上者。宜於瘜肉上截開十字形。創痕即點一元丹。行手術之際。仔細注意。勿使剪頭礙著眼珠。如有血絡者。當截斷其根基。施術之後。宜用青布包護眼目。約過三四日除卻之。</p>

<h4>雞冠蜆肉</h4>
<p>此證白膜生瘜肉。軟弱而色深紅。其狀似雞冠蜆肉。故取以名之。此血液瀦留於白膜中。久久遂作赤色之肉狀。漢人所謂如心熱酒毒之說。不足取也。不獨酒客患之。酒量小戶之人。或三尺之童子。深閨之處女。持戒之清僧。罹是患者。亦為不少焉。</p>
<p>治好　用越婢加朮湯。屢獲神效。或隨證而用鉤亦可也。</p>

<h4>白膜黑粒腫</h4>
<p>此證白膜生出黑色或淡青色之粒子。大如小豆。圍繞角膜。此胎毒之所致。而發於內部。達於網膜者也。予遊於南豆。偶遇一少年。患此證。左眼點出四個。右眼十三四個。見之駭然。再四構思回慮。無奈之何。記以待來哲。</p>
<p>治法　今闕之</p>

<h3>病系角膜之證</h3>

<h4>雲翳</h4>
<p>（附）玉翳浮滿　膚翳　丁翳　花翳　翳膜　遮障　腐蝕翳</p>
<p>夫角膜之為質也。玲瓏澄明。而輸送射光來映於網膜之器具也。今因多少之事。故汙液留滯於角膜之纖維。以作白濁曇暗。遂致乎妨礙透明之機者。概為翳障。其為證也。翳色有白有黃。看視物景。如隔雲霞。或有全至盲瞶者。尋其所來由。頗多端。而不可概論焉。且因疫眼風眼。或梅家淋家疳眼痘疹等而發者。其形狀亦不一也。有浮沉厚薄。治不治之別。故不審察病態。則何能取功。薄翳者。角膜白色。而如淡霞浮雲。瞳孔矇矓。透視於外者。本是輕證。而明可必復也。厚翳者。其翳厚而有白色有黃色。又有少辨明暗與否。即曇暗中之重證。而治法亦甚難矣。然於其曇暗之部。或一處乃至數處。有淡薄之斑點。而帶青色者。施治則尚可救矣。經年無全辨明暗者。斷為不治。一證有其翳甚稠厚。而焦黃醜穢。起於角膜之下部。血絡纏繞。頗作膜狀。而遮明者。縱令有角膜上部現出半月狀少辨明暗。以翳深入其部之實體。故為不治。予名之曰腐蝕翳。此證發自小兒痘瘡胎毒者多矣。田氏銀海精微舉玉翳浮滿之證。而為不治。然不詳其輕重。而專以為不治者。予未信之。各書中載出丁翳膚翳花翳翳膜遮障等。尚有許多名目。不遑枚舉。皆不過取形設名。總歸障翳之一證焉。古人主張蛇足之說。失真者不鮮矣。後學勿取惑。</p>
<p>治法　內服發表劑。下劑。水銀劑。外用水銀蒸劑。及龍麝真珠等之點藥。加緩汞丹一點用之（方則中載數方宜撰用）若用加汞之點藥。而發赤脈疼痛者。急取蜀葵煎汁。加沙糖乳汁。屢灑眼中。可以防護其變。而每日用溫金熨之。以散鬱結之毒。則速得奏功。外翳稠厚者。在角膜圈裡。將針頭細刺其周圍。作針眼細孔。而點剝翳之藥劑。則極妙。</p>

<h4>星翳</h4>
<p>（附）時復秤星　白陷魚鱗　冰蝦翳　真珠翳</p>
<p>星翳者。即雲翳中之一種也。惟不角膜生曇暗而發汙點者是也。其形如星之懸青霄然矣。故有星翳之名。此汙液在胃。而其毒薰騰於上。黏液留滯於角膜之纖維而所致也。其形狀各各不同焉。今略為區別。學者宜細察。其為證也。角膜上生白翳一點。或三四點乃至十餘點。恰如秤星。澀澀多淚。或赤脈疼痛。其色青白。或淡白如煙如霧。此乃疫眼熱眼頭痛及過酒之人多患之。而施治脫星。則其痕必為陷入矣。時復秤是者。此發作有時之翳也。角膜上生汙點。或生或滅。或生生而不滅。或有春發者。有秋發者。而至期而發。過期則自消。每發眼目漸致衰弱。而翳痕亦愈大也。此證之所關係者非輕也。如有誤治。則殆至喪明。白陷魚鱗及冰蝦翳之二證者。角膜生白翳。其根深。腐蝕實體。其狀如魚鱗。如冰蝦。而發多少焮痛。澀刺多淚。至其劇證。則白陷釘入焉。此證雖不異於雲翳。因星翳之誤治。變成此狀。故陳列於斯矣。真翳者。汙點昂起。而白色。或帶青色。其狀恰如真珠。此固著於角膜之翳也。即因如梅毒痘疹等酷烈淫毒而所發起也。</p>
<p>治法　星翳輕證者。使蛇石吸之。則其治甚速也。又有一方。名神靈丸。（詳方則）用之必奇驗。小兒兔屎丸為佳。時復秤星。內服涼膈散。防風通聖散。兼用緩汞丸。點藥鉛糖水。白陷魚鱗冰蝦翳之二證。因婦人血熱者。對證藥劑。兼用蝲蛄散。見累效。發自他之各證者。宜按雲翳法用之。真珠翳。將眼刀些割點頭。點脫翳之藥劑。輕者可治。重者概為不治。以上所陳列之各證。點藥通用玉蕊白玉撥雲比金等之諸方。然其有熱如疫眼者。勿施之。</p>

<h4>釘翳根深</h4>
<p>此證星翳中之惡證。而角膜上生白色小瘡。及多日則漸侵瞳子。毒深釘入而不遷其處。流利如膿眵液。澀痛羞明。先患一眼。必傳於一眼。遂致大患。原因梅毒而所發之焮腫眼後多有之。初起者可治。進於篤劇者不治。如哀學淵所說者非也。何惟性躁之人含情之婦病之乎。</p>
<p>治法　先用玫瑰露苦薏露之類。緩和其熱痛。而後宜點神效水。及石膽水。內服涼膈散。兼用七寶丸。</p>

<h4>膜障</h4>
<p>（附）赤脈下垂　黃膜上充　順逆生翳　垂簾翳　湧波翳　膜入水輪　肉狀膜</p>
<p>各證所有之根基。共在白膜。而滋蔓於角膜上。其狀似皮膜。故名膜。蓋翳與膜者。其因同而其證異也。其所以異者。翳者。有形無體。譬如煙霧。其形可見而不可捉也。膜者。有形有體。猶綿絮之可見又可捉也。其為證也。先起血線。其末梢生數多之細支別。瀰蔓角膜。所輸送之血液。竟滯止其部。自為白濁曇暗。而血絡愈送血不息。則養長其膜。以蔽玲瓏之質。幾至不能見物景。而從上垂下。淡紅色者。為赤脈下垂。其白色而一片赤脈牽絆翳根者。為垂簾翳。（醫學入門作垂簾膜）從下攀上。其色帶黃色者。為黃膜上充。同證而如垂簾翳者。為湧波翳。一證。毒劇而膜中釀膿。漸進而蠹蝕角膜。初起於一眼。波及於一眼者。為膜入水輪。又有一種。厚膜黃色。而赤絡纏蔓。固著於角膜。恰如肉者。名之肉狀膜。其餘證名甚多。頗厭煩絮。故不贅。</p>
<p>治法　宜仿白膜脈腫之法。斷其根株。內服發表劑主之。如便秘者。用下劑。然因投峻下而膜愈進濃厚者有之。予嘗遇如此之證。與附子劑。屢獲神效。膜入水輪之證者。將萌孽時。宜與慈朱丸。點鉛糖水。若耽延日期。眼珠生疵者。無治之可施。如肉狀膜者。屬不治。</p>

<h4>膿瘍</h4>
<p>（附）潰瘍　水疱　膿疱　目瘡　漏睛膿血</p>
<p>膿瘍之為證也。初次起於角膜下部。白膜分際。沖侵瞳子。而罕有發在於上部。其形色白如星翳。漸大而作為膿潰。及軟小水疱。至其酷劇。則在角膜上穿漏口。或破裂而流利膿液。或膿液凝結。而滯止角膜。若忽治法。則必有盲瞶之變。宜慎之。此證和蘭雖區別膿瘍潰瘍水疱膿疱之四證。皆是角膜為膿潰者也。何必分為四證乎。本邦俗間所稱目瘡者。即此類證也。漢所謂漏睛膿血者。目瘡之同證。而穿漏口者是也。</p>
<p>治法　外術。將柳葉針。刺膿瘍上。可以驅除其膿。若凝固而在角膜之內部者。宜仿內翳法術下針。點劑。蓬砂水。神效水。內服涼膈散。加倍桔梗。且有一證無疼痛者。用局方甘露飲。屢見效。如作瘻者。用沒藥散。及將小烙鐵點著漏口。輕者可治。瘻深者難治。</p>

<h4>蟹睛疼痛</h4>
<p>（附）黑翳如珠</p>
<p>此證角膜內部。突出尖高之黑腫。其形小大不一。頗似蟹眼。而疼痛無甚焉。磣澀難開。怕日羞明。此角膜裡面之纖維。貯鬱結之毒。為焮熱潰爛。而所發出也。至其重劇。則禍及葡萄膜。竟壓迫瞳孔。遂作欹側變形。然瞳孔僅存者。以不遮障物景來映之所通達網膜之道路。猶不至失明也。或黑腫潰後。腫痕生翳以遮明者亦有之。漢人雖區別二證。同是一證。濕眼疳眼焮熱眼等之證。其所由來也。</p>
<p>治法　將小鋒針橫刺黑腫。則水液流利。而自消減。其針痕。點鉛糖一小粟粒許。後宜以溫金熨之。用黃蘗山梔子煎汁灌之。四物三黃合方加沒藥可多服。如小兒。消疳煎。兼用雞肝丸。佳也。</p>

<h4>角膜皺縮</h4>
<p>此證即前條膿瘍之證。而角膜穿瘻口。以漏出水樣液過多。而角膜為皺縮者也。或小兒生平喜好暗地幽室。不欲向光輝。仰則數瞬墮淚。而角膜為皺縮者。此即疳眼也。老人大病時。角膜亡失滋潤。難為瞬動。凹陷而皺縮者。必死之兆也。</p>
<p>治法　專治本病為要</p>

<h3>病系眼珠之證</h3>

<h4>眼珠膨脹</h4>
<p>此證眼珠為盈脹突起。至其甚。則至使胞瞼不能閉合。若兼焮痛者。動輒眼珠釀膿證候。似後條突出而不同焉。決勿混同。當今所有之病因者。使下疳便毒痲痔帶下等下部結毒。作乾燥內陷。遂以上攻眼目者。多系此病。一證。諸液溢滿而發者。亦有之。</p>
<p>治法　因結毒者。用薰劑每每得奇效。水液溢滿者。初發。行氣香蘇散殊有效。重者。宜用針泄出有餘之水液。其法明辨於後條。可並考。</p>
<p>此諸證者。眼珠突出。或低垂。而有徐徐來者。有卒然發者。有痛者。有不痛者。或有膿潰者。出血者。其證候不止一端。今區別五等。而令知其大綱。第一證因打額至重。或挐上筋麻痱等。而眼珠突出腔外。其大與尋常無異者。名突出眼。第二證因眼珠內部之焮腫。角膜突然如彈丸。麻木疼痛。汪汪淚出。此證有凶暴之變。治緩則至乎膿潰者。名突起睛高。第三證即突起睛高之輕證。而角膜變青白色。突起尖高。而其形似旋螺尖者。名旋螺突起。第四證眼珠低垂至頰。其狀如黑角。時時大便出血。而疼痛不可耐者。名肝脹眼。第五證眼珠突出。而赤脈疼痛。眼液為混濁者。名白睛突起。原因結毒而所發起也。其不喪明者。殆希矣。除此各證之外。另有一之奇證。予嘗遊於江都。偶見一丐者。其眼珠與常人無異。而以指頭壓上胞。則眼珠卒然突出。而低垂約一寸許。自為上下運轉。真堪可怪。而後依然收入腔內。如兒戲然矣。見來不太有礙瞻視。做了一場。便是討錢耳。彼其素稟六筋與神經固為弛緩者歟。至今不會其理。豈不奇異之一證乎。</p>
<p>治法　第一證。以新汲水屢灌注。則收入如故。然若瞳神經為弛長者。必有卒盲之變。不可忽。眼珠被損傷者。使眼珠急復其本位。而搗爛生地黃。裹在綿里。以安置於眼胞上。而可施繃帶。此法試之極妙。第二第四之證。將小尖刀小鋒針等。刺角膜下際。或橫截而流出水液則治。其法同於內翳之術。第三證禁用刀針。只宜以冷水屢浣洗。而點鱔魚血。第五證概為不治。但其勢微者。尚可救焉。宜急用薰劑。而攻其毒。予於第二第四之初起。嘗用吐劑。或投峻下。既獲大效。雖然。以其證候不同。難論定焉。此證經久。則縱令針刺。納其突出。亦不得免昏矇之患。但不過除其苦楚耳。</p>

<h4>硬瞼硬睛</h4>
<p>一名目瞼瞳硬。此證因六筋麻痱拘急。或乾燥眼之人。胞瞼失滋潤等。而眼珠不能運轉動搖者是也。又有一證。惟胞瞼為頑硬者。此兩瞼因所浸淫於梅氣天行等之酷毒而所發也。漢人雖有硬睛瞳硬之名。予未見瞳孔之頑固者。若有瞳孔變於頑硬之質。則豈不喪明乎。惟以難為運轉。設立硬睛瞳硬之名者何也。可供一笑。</p>
<p>治法　用緩和糊劑。或水銀膏。傅於眼胞上。又宜在胞瞼之裡面瀉血。而與薰劑。內服發表劑。或下劑。</p>

<h4>眼珠瞤動</h4>
<p>此證即眼珠胞瞼無次序瞤動不止者也。此在癇家及蛔蟲家而所發也。</p>
<p>治法　宜詳其本病療之。</p>

<h3>發無定處之證</h3>
<p>（此條所述之諸證皆本於外傷而無定處加之變態不一焉其證以涉內外二障故不論於本編各門下以其所由來屬於外故附錄於茲聊補其遺漏耳）</p>

<h4>打撲眼</h4>
<p>打撲眼之為證也。因被物打著。或自高處墜下。打撲眼目。或頭腦。而發焮熱疼痛赤腫多淚之諸仵。至其劇甚。則眼珠損傷。及膿潰。或兩瞼青斑。或偏正頭痛。血灌瞳孔等。尚有諸般之變態。不可一定也。此證雖不傷眼目。強徹腦髓。則必變於青黑闊大等之內障。其初起不速加治。則有噬臍之悔矣。</p>
<p>治法　眼珠為傷損者。一元丹調勻乳汁點之。內服桃核承氣湯可也。若經日生膿氣者。涼膈散加倍桔梗用之。頭痛劇甚者。在眉稜百會行發疱。又用吐劑。令快吐二三次。尤驗。如血混入瞳人者。速在瞳子窌可施放血。倘或不痊者。於角膜下際。淺施截術。宜效內醫法。內服抵當湯為良。此諸證皆宜在瞳子窌顳顬尺澤等之各處。刺絡放血。偏禁洗點之諸劑。</p>

<h4>刺撞眼</h4>
<p>此證被物撞刺。生起種種患害者也。因其所刺傷之大小淺深。而發翳起膜。弩肉刺痛。至其尤者。使眼珠全為傷損。或深瑕釀膿。或出血不止。或瘀血混入瞳子。千變萬化。實不可測知焉。若瘀血留滯。經久則必變於難治之翳。其刺傷劇者。卒盲潰爛。無方之可救。又撞刺生翳。稍久而覆被物撞。轉加昏暗者。難治。故在初傷時。必宜注意周密。以防禦不測之變。</p>
<p>治法　輕證。一元丹。或蘘荷搗汁。或瞿麥末等。和乳汁點之。內服宜從證選用竹木麥芒之類。深匿眼珠者。蘸徽墨點之。或陰乾螳螂一隻。研末。和米糊傅著眉稜骨上。重者。將小鑷子。可拔去之。若出血不止者。點蠻產噶納諾爾少許。奇效。或灌冷水亦妙。其餘宜依打撲眼治之法加意。</p>

<h4>火傷眼</h4>
<p>此證眼目為湯泡火傷者也。輕者易治。其重者。使眼液為凝結。或腐爛汙穢。或卒盲昏暗等。尚有許多變狀。必難預為算定焉。</p>
<p>治法　輕證以麥門冬。或紫根山梔子之煎汁浣洗之。而點神功石水劑。內服三黃四物合方。加蒼朮有效。重證宜效打撲損傷之治例。</p>

<h4>創傷眼</h4>
<p>此證西洋於眼目被創之部位。而區別數多名目。然事系煩絮。不易閱見。故檃括之。則眼目被金刃創傷者。而如內翳針刺截術。亦屬在此中。</p>
<p>治法　與打撲刺撞。本無別。學者宜斟酌。</p>

<h4>毒蟲傷</h4>
<p>此證蜘蛛蜂蠆之類。咬刺眼目。焮熱劇痛。弩肉澀刺者是也。若經久則必起昏翳。而在養蜜蜂屋側者。往往被刺傷。宜恐避其害矣。</p>
<p>治法　青黛散。調和生蓼汁。或乳汁以點之。必有奇效。</p>

<h4>鼠尿入目</h4>
<p>此在仰臥。或仰見之時。偶老鼠行梁上。而利尿誤入眼目。則泡腫焮熱。磣痛澀刺。不能開闔者是也。</p>
<p>治法　點貓尿而後灑蘘荷汁。則不日而治。取貓尿有法。捉住貓兒。安置於漆盆上。以樟腦。或生薑汁。塗抹其鼻端。則其利尿如注。真可為奇。此方雖類於戲誕。決勿藐視。予既試知其妙。噫。生克之理。惡可排斥哉。</p>

<h1>卷三</h1>

<h2>內障篇</h2>

<h3>病系葡萄膜之證</h3>

<h4>瞳孔闊大</h4>
<p>瞳孔闊大之為證也。瞳孔為廣闊散大。漸漸視力乏弱。終為盲者是也。其所由來。甚為多端。然頭腦打撲。大頭風。胃中汙液。濕毒胎毒。婦人產後及瘀血。小兒蛔蟲等。多發此證。此即毒液混行於血中。竟上衝而留滯於葡萄膜之纖條細絡。以使其部為衰弱不遂。脫其縮展之力。開闊而不收也。故患之日久。則必為不治之盲。譬如服用風茄烏頭等蒙汁藥之人。當其瞑眩麻木之時。則瞳孔必為開大。而不收縮矣。又有青盲黑障。至於衰弱之極。必為散大者。參考兩兆。當知麻痱衰弱之所致也。</p>
<p>治法　因諸毒諸氣之上攻者。用固本丸。磁朱丸。每每取效。薰劑亦良。因汙液及蛔蟲者。逐蟲丸。鷓鴣菜湯為主治。今舉其大概耳。此證固系危篤。其經久者。不辨明暗者。瞳孔脫運轉者。實非藥餌之所可救也。</p>

<h4>瞳孔縮小</h4>
<p>（附）瞳孔緊閉</p>
<p>瞳孔之為官能也。在明朗處。則收縮。居陰暗地。則展開。收縱得其宜。以令便於辨物景。承光輝。然而此證與前證相反。而瞳孔為收縮窄小。雖向於昏暗。失其開闊之機。以致視力乏弱者是也。或有更兼內翳者。而闊大縮小之二證。其因差同焉。近世庸工。目此證稱赤障。並筭於青黃白黑之內障。謾設名色。欲強配當五行。或誤認乾缺證以為同證者。亦為不少焉。以鹵莽荒唐之見。而欲療天下之盲。難哉。蘭人別載瞳孔緊閉之一讓。即葡萄膜為緊閉密合。瞳孔全為失亡者。而此即縮小之重證也。往昔予於鄰鄉之友人小川某之宅。偶見家僮。左眼無瞳。因以叩問其所由來。云患瘟疫劇證後。一眼漸次昏盲。遂失瞳孔。後遊京師。見一小兒。因刺撞而偏眼全無瞳者。</p>
<p>治法　方今所有之證。自黴毒來者居多。故兼用緩汞薰劑類為良。然毒氣上攻劇者。務服降氣之劑。俟病勢衰乏之後。投水銀劑者。為順正之治法也。西洋於此證。有橫截角膜開瞳孔之術。當為奇。詳註於乾缺條下以論告之。</p>

<h4>瞳人幹缺</h4>
<p>乾缺之證者。瞳孔反常匾缺鋸齒。或如梅花。或如菊花。漸漸窄小。至其太甚。則如尖針如細勾。而物象模糊難明辨。若經久。則恐有盲廢之變矣。此原因梅毒胎毒之二證。然出於梅毒者多。而出於胎毒者罕也。銀海精微云。五臟俱虛。虛火之旺也。古人亦皆為屬腎虛肝熱。實為臆斷。若拘泥施治。則必無有奏效之日也。崎陽譯吏潁川氏。幼而罹是證。左眼既盲。右眼亦漸次進重。故損家貲。募治於四方。然眾醫束手。不能施其治術。比年益加重劇。瞳孔細小如針尖。將至於盲廢。頃者。舶來蘭醫什一薄爾毒頗有聲譽。故投笈從事之徒水會云聚。日多於一日矣。是以潁川氏請治於蘭醫。蘭醫曰。可治矣。然非截角膜。開瞳孔。則不可也。潁川氏謂如蘭醫之言。甚為奇異。然眾工技窮。則坐待其盲廢耳。遂托治於蘭醫。蘭醫求豬頭一隻。懸之於屋梁。執小利刀。截其角膜。熟習數日。用意甚勤矣。而後徐徐得下手焉。其法先使患者靠椅。著傍人拿住其頭。以左手開兩瞼。右手執小利刀。向角膜下部。橫截凡三分。更用鑷子細小者。看定瞳孔收縮之處。惹出之而剪斷之。俄然現瞳孔之形。豁然復於明亮。在席眾人。無不驚歎矣。術已終。用青布繃帶包護之。凡七日。始脫之。鑑視雖復故。然來影光輝尖銳。而物象生閃光。不堪其䀔眩。此患者積年不視物。遽受光明。故其所止息之神經。不勝其任。而發非常之運動。而其部之感觸。亦自為激怫耳。患者脫繃帶之後。江戶一書生。奉蘭醫之命。與水銀劑。令大流涎。用火酒所制之點水藥。凡三十日許。而所割開之角膜刀瘢。漸漸生翳。積日而進稠厚。遂為膜狀。加之患者。體軀疲弊。殆如勞瘵。故辭治而加養焉。予偶遊於崎陽。友人某懇告患者。使請予之一診。予詳診之。諭患者曰。子之病得之於胎毒。療之累年。屢服攻戟劑。身體羸弱。全備虛候。甚為危篤。今不治其本。而欲專療眼目。恐有促命之變。先調治體軀。後施治於眼目。則蓋可得順全也。患者悅服曰。願以父母之遺體托於君。若得身眼共全。則君之賜也。予於此投滋補劑。與剛鐵丸。時或兼用緩下。補之瀉之。自文政八年乙酉晚秋。至翌年丙戌初夏。身體復故。於此始療眼目。點脫翳劑。用火鐵煅其血絡。洗蒸塗藥皆施用焉。至是年孟冬。翳脫九分。予時促歸裝。惜闕一分之治。遺方於門生。以期全愈。別後投簡問其動靜。復書云。如今得全痊矣。蓋蘭醫之於術也。實可謂絕技。然不辨風土之異。不問強弱之變。一切為治。故施之於其始。而不能全之於其終。不可不戒懼也。</p>
<p>治法　此證根於梅毒胎毒。宜治其本病。然不審察患者之強弱。而施的當之治。則恐無效。</p>

<h4>瞳孔異常</h4>
<p>（附）瞳孔變形</p>
<p>西洋區別異常變形之二證。而無詳明之說。予按異常者。因稟賦而瞳孔異於常人也。即如雙瞳重瞳橢圓。其類尚有數證矣。變形者。因疾病而瞳孔變於常形也。即乾缺開大縮小。或粗工謾行內醫術之後。瞳孔移位置。而作欹側偏安。或毀損破裂。或被撞刺之人。其瞳孔或橢圓。或半月。或緊閉。其類不為少。如此之證。皆當屬列於變形中矣。上毛沼田藩士高井某之兒重瞳子。予得細視之。西書云。重瞳者。多患一物兩形之讓。此於物景瞻視之理。或其然矣。時兒才二歲。欲審明其實。而不能焉。故不敢論說其事。俟明辨之後。而當補出於續篇。</p>
<p>治法　天稟者。治療無益。發於病者。註明於各條下。宜熟看。</p>

<h4>瞳孔不動</h4>
<p>（附）鶻眼凝睛　轆轤轉關　小兒通睛</p>
<p>此證雖擬似鶻眼凝睛轆轤轉關。及小兒通睛等之證。然不可混同焉。瞳孔不動之證。則瞳子脫失縮張之力。而無運動者也。此證多因黑障。或瞳孔闊大。及縮小等之極而致之。如漢人所謂三證者。小兒因打著頭額。及急慢驚風。而眼珠全闕運轉者也。即與直視不異也。</p>
<p>治法　如瞳孔不動之證。宜治其本病。鶻眼轆轤通睛等之三證。用酒煎散。或桂枝附子湯。若小兒不肯服藥。則令仰臥。將蚌殼頻頻灌下之。而重覆衣被得汗。則其眼自為活動。余宜鑑驚風之治法。</p>

<h3>病系水樣液之證</h3>

<h4>水樣液混濁</h4>
<p>（附）膿眼　乳眼</p>
<p>和蘭雖區別三證。皆取像似者而名之耳。約之。流動白液混淆水樣液中者也。惟膿眼者。血眼經日之後。變作白濁膿結。留滯於水樣液中而所致也。此證比較乳眼與混濁。更加一層之重。何則。以膿液混於水樣液中。動輒腐蝕其旁邊。而角膜穿出瘻口。世醫之所謂膿眼者。偏指內翳而稱之。不可誤認致差。治乳眼與混濁。亦難明辨矣。混濁之證者。水樣液釀黏結白濁者。而比似乳眼。其色月白。乳眼者。針刺乳汁翳。而混交於水樣液者也。此見形取名耳。必非乳汁之所為也。如蘭人所云。出產之婦。乳汁上衝。而浸入眼目之說。則堪捧腹。學者宜細察。</p>
<p>治法　將小尖快刀。宜於角膜下部。穿開小口。以蕩除濁液。而後點一元丹。施著繃帶三日。若不取快。仍再行是術。內服二和湯。互用三黃湯之類。取下利而可也。</p>

<h4>血眼</h4>
<p>此證漢名血灌瞳人。而非俗醫所稱之血眼也。因頭腦損傷。或積日嘔吐。及咳嗽。或庸工謾行內醫術之後。或婦人臨產。甚強用力等。使角膜之細血絡為破綻傷損。竟致血液灌入於水樣液中。而澀痛多淚。赤光滿目。若灌血多則不可忽之。惟恐至盲瞎。倘或瀦滯經久。則變成膿眼者。往往有之。</p>
<p>治法　宜照前條所開治之例而行之。</p>

<h3>病系水晶液之證</h3>

<h4>白內翳</h4>
<p>此證即世人所稱之白內障。而水晶液及水晶囊之化於白濁者也。其初起也。不痛不癢。環珠連前。白花飛空。或如坐白霧中。如立淡云里。視物靄靄。先患一眼。後傳及兩眼。共為昏昧。蓋本以水晶液為白濁凝結。稍覺視力弱乏。積年累月。竟至全為盲廢。其原因雷頭風頭部之打撲。或觸物驚動。或悲憂苦志。或諸毒諸氣之上攻。或安逸之人。常過食辛辣。及膏腴之品物等。而鬱熱薰蒸於水晶液者也。其溶解白濁。益進而變於稠厚凝固之物。則現出於瞳孔中。其形如浮雲。如寒冰。如真珠。如乳汁。如黃膿。翳狀萬般。難一定矣。故漢人徒主張臆陋之說。謾區別數名。所謂圓澀滑散橫開棗花偃月大云小云驚振白翳黃心等。尚有幾多名目。惟見形設名耳。萬殊一本。何有區別哉。至說其起原。則不過肝腎及肺膽之盛衰。或腦脂流下作翳等之空論。西醫亦於此證。細設灰白綠黃鐵黑等之數名。然未嘗見綠色鐵黑色之內翳。予之所見者。不過白翳黃翳二種。以翳狀命名者。固非卓絕之見。況如綠鐵黑之稱。何足取信乎。方今認之。有以為膿眼者。亦說其形耳。真非結膿之謂也。夫於眼目膿潰之證也。與他部生膿瘍。其理何異耶。初起劇熱焮痛。漸進鄭重。遂為諸液腐敗。筋肉糜爛者。名之曰膿。何有無痛無癢。荏苒經年者乎。如風眼壞症。眼疔。角膜膿瘍。實釀膿者也。此證者。水晶液為白濁凝結者。而雖積年之患者。施手術之後。豁然光明覆舊。可以知無結膿之理。且其初起。少覺昏暗之時間。或雖有藥餌可救。而至為稠厚凝固。則徒費藥石耳。治之偏在手術。不可不學焉。當今專門家修其術者。皆出於師傳家秘之一路。非敢熟練苦習者也。故治者甚稀。而使人墮落於黑暗里者頗多矣。此無他故。惟以不見解治與不治。又不研窮術之難易而已矣。古人曰。不醫則不瞎。真快語哉。足戒粗工之徒。故詳論治與不治。又明辨手術妙用。以示世間之醫童。蓋內翳之稠厚。而如真珠。如輕粉。雖不分辨物景。稍覺明暗。嚮明朗處。則瞳孔為收小。居陰昏地。則瞳孔為開大者。可施治。必有百中之妙效矣。如黃翳者。有治與不治。予屢施手術。而歷試之。帶黃色之內翳。間有固著於葡萄膜者。若就其固著之內翳。強施手術。則必發非常運動。焮熱疼痛較於前證。更加千斤之重。若要知其固著之徵候。又有一個確乎鑑法。當熟視瞳孔運轉也。失亡縮張之機。則可知為固著之證矣。又有一證。如乳汁之內翳。雖將針頭墜下之。其翳甚稀薄。恰如投於水中。混混然終不能除去也。此翳從來以自被薄膜。施手術破膜。則濁液流出。遂混和於水樣液。此證殊難見解。但其色彷彿如乳汁。且微帶灰色耳。又一種有結硬之翳。施下墜法。而拔去針頭。隨手復為上昇。更有一證。因頭部打撲。及自高墜下而吃驚。或悲憂之極等。兼使瞳神經為衰弱攣急之網膜病者。以全絕明暗。雖施下墜法除去其翳。仍不免盲廢之患也。可見診察證候之法。實難容易會得之。予注意苦志者有年於茲矣。而其所得不過如此也。亦惟虎豹之一斑。豈得無遺漏哉。學者宜留意焉。</p>
<p>治法　此證不施手術則治者。未之有也。古今顓門家。各所相承之禁方秘訣。亦為不鮮。然其術。惟有直刺橫刺耳。西洋別有截開術。除是三法之外。未嘗有他術。吾門刺之之法。要在審視濁液凝結之候。且刺之有時。禁嚴寒酷暑之二候。而俟其冷暖適度。快晴無風之日。太陽中天之時。於南窗明亮之處。設睡床。令患者高枕仰臥。包被無恙一眼。著旁人拿住其頭。醫坐於枕頭。屈右膝舉左膝。以左手張開兩瞼。按定之。右手將細針（此予所新制之鐵針也圖出於續篇）角膜外側。去白膜分際約五釐許。自外眥向內眥橫刺入於角膜中。至以瞳孔正中。白濁凝結之處。而以針尖作速壓伏內翳。送收葡萄膜之下部。若其翳強硬而不能墜下者。宜以針尖纏著之。盡心推降之。而看其內翳全墜。即拔去針頭。只務勿毀傷葡萄膜。若誤破葡萄膜。則必發不測之險證。此之謂橫刺之法也。雖有直刺截開之二術。比較橫刺之術。當在第二等。其為直刺之法也。將柳葉尖針之細小者。從角膜正中向瞳孔直刺之。用小消息子。取出濁翳。雖然。不是熟手。則難行焉。若忽爾施是術。則疼痛乍發。反成不治之翳。截開之術亦然矣。此法於角膜下際。將利刀橫截以除去內翳是也。此二術皆是非穩妥之術。若僥倖得痊。亦有刀瘢生外翳。動為遮明者矣。行術前後。令服三黃瀉心加辰砂。宜快掃胃中鎮墜驚氣。而用手術之後。點一元丹。以綿絮浸於蘘荷搗汁。置眼胞上。施青布繃帶。令靠几椅。勿令為安臥。如此約七日。不許食膏腴及辛熱之物。若兩眼共患者。先刺初起之一眼。隔兩三月。又刺一眼。若刺之。內翳猶存者。再刺亦無害。然在行刺之間。患者發失氣昏冒者。即宜拔去針頭。否則恐有傍發頭旋之證。而使既墜之翳。再為騰侵也。既刺後。動輒嘔吐。故預當為其防也。此法本非膚淺之術。多年煉熟得其妙。則一刺發矇無疑矣。</p>

<h3>病系硝子液之證</h3>

<h4>青盲</h4>
<p>（附）綠風　綠眼</p>
<p>所謂青盲者。硝子液失明亮之質。作曇暗濃濁者。而其初起全無疼痛。空中見花。漸漸昏矇。久久瞳孔散大。而帶青色。竟盲廢。至不可救焉。此證關係劇頭痛。或驚動悲憂。或血行不利。或強飲多房之人。當其初起稍覺昏花之時施治。則猶可以救其什之一二矣。至於眼光暗沒。則此非草根木皮之所能及也。予閱西洋譯書。載在綠眼之一證。而考究病候。即似說青盲者。故於綠眼之譯字。不得無疑惑。蓋自然之理。豈有瞳孔變成綠色者乎。而漢藉亦載綠風內障。則可知萬里一轍。於是更懷疑。故就先輩質問之。或云有焉。或云無焉。後把蘭書。親自熟讀。有勃刺阿烏惡惡古之病名。即所譯定之綠眼也。因此觀之。則譯書之所誤翻也。何則。彼謂勃剌阿烏者。天藍色也。惡惡古則眼目也。然則確乎青色之眼目。而為青盲也明矣。其綠色者。和蘭謂之杌爾饂。可見其稱呼自別也。先輩不達眼目之理。胡亂翻出綠眼之字。後輩亦仍蹈前轍。不知其非。一盲惹眾盲。其此之謂也。漢人所謂綠風。亦青盲而非他證也。夫有心於利濟者。反覆叮嚀。仔細考索。勿泥書失真。</p>
<p>治法　內服用沉香降氣湯。沉香天麻湯之類。及如磁朱丸。剛鐵丸。溫暖強壯之藥劑。兼投如浮石丸。蝲蛄散等。驅逐留飲之劑。又用吐藥。見效不少。但患者務省負薪之勞。謹罵怒驚懼。暢氣寬心。宜為攝生。不然。則雖有起廢之神方。又無奈之何。</p>

<h3>病系網膜之證</h3>

<h4>羞明眼</h4>
<p>此證以網膜之觸知劇甚。對太陽嚮明朗。則不堪承當其光輝。汪汪淚出。若勉強見物。則必發起疼痛者是也。此因眼目之焮熱。或諸毒之上攻。以瞳神經發非常觸知而使然也。此證雖不及立一門。但示網膜觸知過度之理耳。</p>
<p>治法　宜治其本病</p>

<h4>黑障眼</h4>
<p>（附）烏風　黑風　黑花翳　肝虛目暗</p>
<p>此證世人所稱之黑內障也。其初起絕無疼痛。黑花繚亂於目前。如淡霞遮睛。如玉環浮空。如電光閃爍。漸次朦朧。經久則瞳子闊大。終神氣耗散。而為廢痼之盲。其外貌無一點之翳障。瞳孔清黑。全似無恙。卻是光亮過常。映射人面。初起先患一眼。牽連及兩眼。起先共患兩眼者亦有之。察其原因。瞳神經為衰弱。而亡失其所寫映網膜之神機。以令然也。此係黴氣上攻。或懷春處女。及郁憂煩懣之婦。或安逸之人。過酒多房。加之平常嗜食膏腴品。或勞役苦心之人等。此久閉塞蒸氣。或血中包藏毒液。竟使血為黏稠。漸遲緩諸道運轉。以脫亡稀涼活潑之氣。而神經為之衰弱弊憊者也。蓋眼珠之於神經也。比他部則殊易為感動。而致為毒氣上衝也。故他部雖未被患害。而眼目獨受其弊。此證足以證之矣。漢人雖區別烏風黑風黑花翳肝虛目暗等之諸證。實同證異名。勿拘執焉。</p>
<p>治法　內服機夌煎。磁朱丸。強神丸等。而灸絲竹空。宜用薰劑。吐劑。有神效。然初起。尚可救療。經日則歸於不治。</p>

<h4>暴盲</h4>
<p>此證外不傷眼珠。內不損諸液。忽然盲昧不見物。而無疼痛赤脈。又無昏花苦煩。原因酒色無度之人。或發泄蒸氣之人。頓值泠氣。或患胃病之人。夏月冒暑步走等之事。故而網膜衰憊。或瞳神經為閉塞者。每每患之。若經日則不痊。瞳孔帶青色。全似青盲之證者。為不治之證。</p>
<p>治法　內服車前子丸。每日白湯送下一百粒。至其重者。非用水銀劑。不能取效。外用薄荷露加冰片點之。必功。</p>

<h4>虛眼</h4>
<p>所謂虛眼者。眼中別無障礙。而比於尋常人。則惟覺視力乏弱耳。此有自來與旁發之二證。其自來者。有天稟而然者。或老人及衰弱之人。或勞力過度之人等。為網膜衰憊。使物景之來影。自致其乏弱也。其旁發者。黑障。乾燥眼。迎風灑淚等。皆於其起原有患之者。</p>
<p>治法　第一攝生為要。專禁對光輝。或遠望。或夜學。或強見微細物。或酒色過度等。而平居坐暗室。帶綠硝靉靆。宜服如人參機奈。機奈桂枝細辛附子鋼鐵磁石等。溫暖強壯之藥劑。又宜點如龍腦麝香薄荷油磠砂精等。透竄揮發之品物。</p>

<h4>強過眼</h4>
<p>此證與前證相反。其視力強峻。而能寫細字。或百步外見毫毛。或居暗處。而辨物象者是也。此多出於天稟焉。年老不帶眼鏡之人。此乃尋常之強過眼也。予友瀧口某。有一兒子。在黑暗中。能辨物景。見其眼珠不異於常人也。戶塚某有言云。往年遊於藝州。偶見一農夫。在冥暗裡捆屨織蓆。絕不用燈火。又予鄉里有梵瑞和尚。年過七旬。書寫摩訶般若六百軸。不敢帶眼鏡。字字微細如蠅頭。非用顯微鏡。則難明辨焉。若人皆強過眼之的證也。若不出於稟賦。而忽然發此證者。於黑障青盲之初起間有之。不可忽也。何則。方其網膜將衰弱之時。頗為非常之感動故也。此乃殘燈欲滅。更增光輝者。其理一也。</p>
<p>治法　旁發者。宜治其本病。惟天稟者不治。又何用治。</p>

<h4>雀目</h4>
<p>（附）肝虛雞盲</p>
<p>雀目之為證也。白日見物。無異於常人。至黃昏。全闕鑑視之用。而眼容睛光。未嘗異於常也。其病因。則蛔蟲之兒。及胃中畜積腐穢黏液之人。每於暑月患之。小兒尤多。而大人罕也。又不拘時候。而系是病者。間亦有之。此膽管閉塞而膽汁逆行者。及腐敗黏液混於血中者。有此等事。故而咸液聚滿於瞳神經之近傍。以妨礙其部之運轉。故在白晝明亮之時。則瞳神經為憤激弩張。而不失其機關。於金烏西沒之後。網膜所寫映之來影。漸以減少。諸器之官能。亦從而遲緩矣。當是之時。脫失瞳神經與病毒相激怫之勢。是以瞳神經勞困。而力不能支之。姑為閉塞。自補其疲倦。故在燈下。及昏暗之處。不能見物象也。此雖似輕證。放棄而不加治療。則黏液混入硝子液中。而變成青盲者。往往有之。此證亦有天稟與旁發之別。予累年苦志。僅發明其實徵。其為天稟雀目也。在白晝清明之時。使患者仰臥。用顯微鏡窺見其瞳孔。則有微細黑翳。而橫於瞳子上。其狀恰似水上浮毛髮矣。尋常之雀目者。從強膜分際。至白膜之部。有黃色細點。狀如散金屑為青黑之斑點者。亦有之。此皆膽汁逆行。而混於血中。到於白膜。現其狀者也。漢籍載肝虛雞盲之證。其症至於黃昏而不能見物。然及於點燈時。則又見物。故分門論之。然雀目中之輕證。而本非他證之所致也。西洋別提出晝盲眼一症。此表裡之證。亦當有之。予未嘗見其證。故不贅。</p>
<p>治法　內服茵陳五苓散。行氣香蘇散。乾漆丸。屢用屢效。小兒者。鷓鴣菜湯。或逐蟲丸。兼用鰻鱺黑散。或用雞肝。及鰻膽亦妙。若小兒兼下利者。消疳煎主之。</p>

<h4>近視眼</h4>
<p>（附）遠視眼</p>
<p>近視遠視二證。因眼珠及水晶液之隆高與扁平。而所發起也。</p>
<p>治法　帶用適宜之眼鏡。而可以補助其機轉。說既詳明於卷首。故省蛇足。</p>

<h4>不真眼</h4>
<p>（附）斜形眼　一物二形　一物半形　垂羅眼　異色眼</p>
<p>不真眼者。見物而不能認其真形。或大或小。或動搖屈曲轉倒等之類。皆其標症也。類證有五焉。今舉以詳之。視物景皆為斜倒之狀者。名斜形眼。如隔淡霧。如遮薄羅。視物朦朧者。名垂羅眼。以上三證。青黑內障之初起或患之。此因硝子液之曇暗。瞳神經衰弱攣急等。網膜所寫映之來影。自發種種變態故也。予嘗見一人。患青盲。既為盲瞶者。其人云。心常見怪異焉。飛禽走獸。為拏攫之勢以惱人。殆無寧日。予謂此腦中神經之所為。而其人所自取也。所謂氣病也。非不真眼之類也。一物二形者。見一物現兩形。或有現數形者。此因水晶液生曇暗斑點。或水晶液偏移常度位置。其瞻視之機關。自為錯舛而所發起也。一物半形者。不能見其全體。才窺知半形。即反前證者也。此常其內翳未熟之時。一部分為曇暗。因使來影之全形。不能透徹於網膜。以發此證也。異色眼者。視物或赤或黃。現種種之彩色者是也。此患黃疸之人。網膜染浸黃色。或因打撲咳嗽等。血灌入於瞳孔。或網膜所纏絡之細血線為肥大者等。多患之。此等諸證。皆是不真眼之類證。而就其所見。以命名耳。</p>
<p>治法　以上所述之諸證。病因不一。故以難論定焉。惟能審明其本病。宜施治術。予於是等諸證。用豁胸鎮墜之諸劑。或吐方薰藥。屢用取效。然以病候不齊。不可概論也。機權運用在其人。何守株待之乎。</p>

<h3>發無定處之證</h3>
<p>（此門所揭之諸病涉於內外二障者也故就各部位而雜論之然以其病因根於內傷載於斯使讀者無遺憾耳細說微意散在於各門熟鑑通篇而勿空予之苦心）</p>

<h4>疳傷眼</h4>
<p>（附）頭瘡內陷</p>
<p>疳傷之為證也。小兒其麵灰白色。其眼青白色。口唇之色赤或黃。腹肚緊滿。及甲錯。嘔吐下利。惡臭氣。有時腹痛。鼻下赤爛。嗜好異物。或不欲飲食。或時飢貪食。或睡中驚起。或青脈縱橫等。其標的也。若患眼疾。則常好暗地幽室。不欲仰太陽。仰則數瞬多淚。白膜鮮紅。恰似疫眼。此證經久。則起翳生膜。或角膜皺縮。瞳孔開闊。或有值炎暑之節而起。先患下利煩渴。後變雀目者。或有大便秘結。腹肚敦滿。生谷下利。而轉雀目者。小兒初生。眼胞浮腫。閉鎖不開。經日之後。漸消腫。始得開眼。則既生昏翳遮明。或潰爛敗壞。終成不治之證者。亦往往有之。是皆疳傷之證候也。又一證。小兒患頭瘡白禿之類。其毒內陷。而損害眼目者有之。凡胎毒發於外表者。用乾燥內墜之劑。欲速痊則必發多少之峻證。豈容不謹哉。揆其所由來。一者出先天。一者系腐敗黏液與蛔蟲。然而小兒之疾病。本於疳傷者十之七八。不但眼目受其害而已。恐有折生之變。豈可忽哉。世人區別疳與蛔蟲而論之。或曰。疳即甘也。此過食甘美滋味而所致也。其說似是而非也。蛔蟲。亦疳之一證。故予並論於斯焉。病源候論云。疳者蝕也。因此考之。有下疳。疳瘡。走馬牙疳之目。則皆是身體蝕脫之義也。偏以甘味為說者。非卓見也。蓋發此證者。其父母患惡疾之時受胎之兒。及妊婦不密攝生。而所生之兒。皆受其弊。加之父母慈愛太過。而溫飽過度。或乳媼懷惡疾。令哺其酷液乳汁之類。盡為百疳萌生之源也。嗚呼。嬰孩之病。其過焉歸哉。為人之父母者。不可不慎焉。受遺毒之兒。天資脆薄。風霜易冒。胃中不實。是以飲食不消。竟畜未熟之汙液。變為黏稠腐敗。而化生蠢爾一活物。此所謂蛔蟲也。其狀如蚯蚓。如寸線。有圓塊者。有細長者。是蟲化生於黏液中。而以黏液為巢居。貪餐所嚥下之胃中食餌萃液。故所輸送血中之乳糜。自減損乏少。而身體羸瘦。面色失光。爛弦雀目開大青盲遮翳障膜等之危證。亦從而萌生焉。此證雖男婦老少。亦有之。多繫於黏液質。及閒居安逸之人矣。往年遊於江都。見解剖一死屍者。其胃管胃中十二指腸之腔中。畜數百頭蛔蟲。團團乎纏綿縈絡。在席之眾醫。無不愕然者。嗚呼。其病根浩大。至於如此。豈泛常方藥之所能治乎。故不厭縷縷贅言。以示其理。實是濟世之婆心也。蓋於蛔蟲化生之理也。譬如汙水之生蟲也。清水固不生蟲。故瀦畜而不流動。則變為汙濁腐敗之物。於是乎釀成蠢爾活物也。所謂無極而太極。動而生陽。動極而靜。靜生陰。蓋物極則變。故陰極則必又不得不生陽也。腐壞者。牝陰之極。變生一個活潑之陽物。此是不空殼之話頭。蓋天地自然之妙工也。噫。造化之神機。雖非人智之所可揆度。至其理之可推知者。豈有毫髮之差乎。先哲不誣我也。</p>
<p>治法　疳眼之方劑。秘藏於諸家者頗多矣。今舉所歷驗之方法數件。聊示其綱領耳。小兒虛弱。唇舌貼黃色。顏面帶青色。鼻下赤爛。而兼眼疾者。牛黃丸主之。疳眼面色灰白。大便青黑者。互用五疳丸。疳發赤脈羞明。時退而復來者。消疳煎。地黃湯為良。同症而大便秘結。腹肚緊滿者。宜於紫圓。鼴鼠丸。兼泄瀉及生谷下利者。宜於雞肝丸。黑童散。眼目生昏翳者。兔屎丸。頭瘡白禿內陷於眼目者。鹿角湯之方內加入蝮蛇。兼用紫圓。疳眼其腹按之如羅網。口唇深紅者。攻蛔蟲為良策。逐蟲丸。鷓鴣菜湯。紫圓。緩汞丸之類。可撰用焉。予別有治蛔之神方。不敢吝之。以公於世。其法狼膽一味。丸椒目大。每服二十粒。以鷓鴣菜湯送下之。日兩度。隔日兼用紫圓備急之類。取快利。而蛔蟲下利則直。執以收瓦器。燒存性為末。白湯送下。若不欲散劑者。為丸亦良。用此方則母蛔下⿰歹盡。其形團團一塊。如海綿。表裡纏繞無數小蟲者。母蛔之巢居也。除去之。則絕無再生之患也。小兒有可刺絡之證。如急慢驚風。直視咬牙之類是也。猶有數證。學者注意。莫致差治。</p>

<h4>痘疹眼</h4>
<p>痘瘡麻疹之二證者。傳染流行之病。而一種之疫邪也。生涯不過於一患。絕無再感者。真是奇異之惡毒也。故世醫紛擾以為傅會之說。或為胎毒。或為疫邪。未嘗一定焉。至其夾發眼目之證。有胎毒。有疫邪。而胎毒與疫毒互相夾攻者。非臨證應變。縱橫其方。則必無復明之功也。於生涯一感之理。予另有一說。惟厭煩絮故不贅。痘瘡入目之證。有二種。一者當起脹見點之時。眼目不開。痘瘡發於眼珠者是也。一者落痂之後。損害眼目者是也。在患痘瘡之間。眼目為腫脹者。痘之常證也。然黏眵流溢。眼胞如火。或帶紫色。屢為噴嚏者。不可輕視也。此毒陷入眼目之兆也。灌膿時。眼目一旦已開而復閉者。必害眼目。此證淚液溢出者。不至喪明。否則危證也。落痂之後。或五日。或十日。乃至二十日。而卒然有陷入眼目者。此險痘之後。乘其氣力疲勞。諸液脫亡之弊。胎毒蛔蟲。擾亂內部。毒液遂為上衝。而損害眼目者也。輕則澀刺羞明。薄翳微星。重則潰爛破裂。厚翳重膜。更發諸般峻症。殆不可救者頗多矣。其初起速可救治。稍及遲留。則有噬臍之悔矣。麻疹入目。予所歷試雖不過數人。概略與痘瘡無異。治法亦宜照痘瘡之例。以作其進退也。</p>
<p>治法　毒將陷眼目者。宜頭腦百會施發胞術。而用白芥子之末。和勻黏糊。攤紙傅足心。又宜執水蛭。在眼胞外側。令其吮血。內服隨證撰用。兼用兔矢丸。最有效。若出齊灌膿之時。欲痘毒攻眼目者。可點雀頭生血。痘後生翳。用兔矢丸甚佳也。熱痛劇者。瀉蚯蚓露。則有百中之妙。預防痘瘡入目。上好熊膽調和淨水。點眼目。日兩次。必無一失。</p>

<h4>黴毒眼</h4>
<p>黴毒之眼疾。頗是多端。而不可概論也。方今清平日久。眾庶安逸。故體軀不勞。而酒色過度。年少子弟。傲遊於柳巷花街。而極其嗜欲。竟沾染風流瘡。受此傳彼。繁延瀰蔓。今也世上不羅此患者殆希也。其初得之於陰處。或成痲痔。或成便毒下疳楊梅骨痛委弱腐蝕等。變態萬狀。不可窮極也。此症浴於溫泉。用燥劑之後。毒必上攻及於眼目。或有骨節疼痛。下疳便毒淋痔等。直上衝而攻眼目者。察其所起。或屬內障。或附外障。變轉自在。難以規矩論之。略舉其要領耳。起先有眼目疼痛。澀磣多淚。而赤脈帶紫。動輒變為風眼者。又全無疼痛。眼目昏昧。於白膜角膜之分際周圍發赤如環。又如黑障青盲。乾缺縮小。涉於內外二障者。亦有之。梅毒之眼目。初起雖似輕證。不可藐視。後必遺害非淺也。</p>
<p>治法　宜治其本病</p>

<h4>疥癬眼</h4>
<p>此證即疥癬之毒。波及於眼目者。而狀類於疫眼者是也。</p>
<p>治法　在瞳子窌眉稜之部。施發疱膏。服除濕劑。屢用蒸眼法。</p>

<h4>癜癬眼</h4>
<p>胞瞼之外面生癜癬。而其毒侵入眼目者也。其證赤脈澀痛。眼緣乾燥者。或濕爛搔癢甚者。或角膜生小瘡。久而起昏翳者。是也。</p>
<p>治法　宜照疥癬之治法</p>

<h4>癩病眼</h4>
<p>癩病者。諸液腐壞而所起也。其毒浸淫眼目。則白膜鮮紅。而有光澤。雖弩肉膨脹。不覺疼痛。或白膜變紫色。經日而生白翳。其翳包角膜。而如陳絮。漸次蠹蝕。終為盲廢。或如風牽出瞼之證者。殊此毒之所發也。</p>
<p>治法　宜效本病治例</p>

<h1>卷四</h1>

<h2>緒言</h2>
<p>夫醫之臨病也。猶將之臨敵。能知其強弱。而制勝者。奇正順逆。皆出其心計。而無一定之法矣。古語曰。上工治未萌。名將戒未亂。蓋用兵戈藥石者。實出於不得已也。然國有亂。則良將徵之。人有病。則上工療之。而軍無紀律。則號令不行。醫無方法。則疾病不治。故方法者。治病之基本。而紀律者。行師之要領也。而進退勝敗。存其人矣。蓋如長沙之方。桂枝湯者。方之大則。而桂枝加桂。桂枝去桂之二方。臨敵制勝者也。或去或加。隱顯出沒。一縱一橫。何有拘泥束縛。刻船求劍。懲羹吹醢之事乎。予撰方則。亦是軍之紀律。而聊示其將略之法耳。彼減灶背水。轉敗成勝者。何言之所能盡哉。學者知法。而不脫法。則必遺趙括論兵之笑矣。</p>
<p>方則</p>

<h2>湯液之部</h2>
<p>葛根湯　治上衝眼。疫眼。及翳膜。</p>
<p>葛根（大）　麻黃　桂枝　芍藥（各中）　甘草（小）　生薑　大棗（各中）</p>
<p>上七味水煎。若大便秘結者。加大黃。生翳者。加石膏。</p>
<p>山西湯　治黏液。利小水。消眼胞浮腫。及弩肉。</p>
<p>山扁豆　西瓜仁（各大）　商陸（中）</p>
<p>上三味。水煎。</p>
<p>苓桂朮甘湯　治胸膈支飲。上衝目眩。及瞼浮腫者。</p>
<p>茯苓（大）　桂枝　蒼朮（各中）　甘草（小）</p>
<p>上四味。水煎。</p>
<p>鹿角湯　發汗解肌。治外邪眼。上衝眼。</p>
<p>鹿角屑　杜松子　大麥　紫蘇　陳皮　桂枝（各等分）</p>
<p>上六味。水煎。</p>
<p>大承氣湯　治上衝眼。大便秘結者。</p>
<p>大黃　厚朴（各大）　枳實（中）　芒硝（小）</p>
<p>上四味。水煎。</p>
<p>神效黃著湯　治眼赤。弩肉。隱澀難開。或風眼疼痛甚者。</p>
<p>蔓荊子　黃耆（各中）　人參（大）　陳皮　芍藥（各中）　甘草（小）</p>
<p>上六味。水煎。</p>
<p>甘草營實湯　治胃中支飲。腹中雷鳴。或吐黃水。鬱熱上攻眼目者。</p>
<p>大黃　營實（各大）　白桃花　甘草（各中）</p>
<p>上四味。水煎。</p>
<p>消疳煎　治小兒疳眼。神效。</p>
<p>茯苓　百合　海人草（各大）　石膏　牛膝（各中）　甘草（小）</p>
<p>上六味。水煎。水煎時時兼用紫圓。奏全效。</p>
<p>大柴胡湯　治濕家。頭痛昏翳。</p>
<p>柴胡（大）　黃芩　芍藥（各中）　半夏（大）　枳實（小）　生薑（中）　大棗（小）　將軍（中）</p>
<p>上八味。水煎。</p>
<p>小柴胡湯　治胸脅苦滿。寒熱往來。目痛鼻乾。不能眠者。</p>
<p>柴胡（大）　半夏（中）　黃芩　人參　甘草　生薑　大棗（各中）</p>
<p>上七味。水煎。若頭痛甚者。加天麻。川芎。有奇驗。</p>
<p>行氣香蘇散　治感冒。胸痞。腹痛。或大人小兒。夏月患雀目者。及眼珠膨脹初起者。</p>
<p>香附子（大）　紫蘇　陳皮（各中）　甘草（少）　烏藥　川芎　麻黃（各中）　枳實（小）　羌活（大）</p>
<p>上九味。水煎。</p>
<p>大青龍湯　治上衝咳嗽。內眥赤脈。及爛弦風。</p>
<p>麻黃　石膏（各大）　桂枝　杏仁　甘草（各中）　大棗（小）</p>
<p>上六味。加生薑。水煎。</p>
<p>小青龍湯　治上衝頭痛。發熱惡風。或白膜血斑。由咳嗽者。</p>
<p>麻黃　芍藥　乾薑　桂枝　細辛　甘草（各中）　五味子　半夏（各大）</p>
<p>上八味。水煎。</p>
<p>謝道人大黃湯　治眼目赤腫。卒痛。或生暈翳者。</p>
<p>大黃　細辛　甘草（各大）　芍藥　黃芩（各中）</p>
<p>上五味。水煎。若小便不利者。加茯苓車前子。眼珠赤痛。小便澀。頭痛者。加滑石。甚妙。</p>
<p>涼膈散　治上衝煩渴。舌生瘡。或打撲眼損傷眼及星翳重劇。而大便秘結者。</p>
<p>薄荷　連翹　梔子（各中）　大黃　桔梗　黃芩（各大）　芒硝（小）　甘草</p>
<p>上八味。水煎。一方有石膏。</p>
<p>四物龍膽湯　治目暴赤。起雲翳。疼痛不可忍者。</p>
<p>當歸　川芎　芍藥　地黃（各大）　防風（中）　龍膽　防己（各小）</p>
<p>上七味。水煎。若雲翳固著者。加大黃石膏。</p>
<p>越婢加朮湯　治弩肉淡紅。面目黃腫。小便不利者。</p>
<p>麻黃　蒼朮（各大）　石膏（大大）　生薑（中）　大棗　甘草（各小）</p>
<p>上六味。水煎。</p>
<p>解圍煎　治腹痛。或眼目疼痛。及浮腫者。</p>
<p>桂枝　薄荷　橘皮（各中）　芍藥　罌粟殼（各大）　小茴香（小）</p>
<p>上六味。水煎。</p>
<p>沉香天麻湯　治驚振內障。及眩暈怔忡者。</p>
<p>羌活　天麻　防風　半夏　獨活（各大）　附子　益智　川烏頭（各中）　當歸　殭蠶　甘草（各小）　沉香（中）</p>
<p>上十二味。加生薑。水煎。</p>
<p>抵當湯　治腹中有塊。或婦人眼疾。因血行不利者。及打撲損傷眼。</p>
<p>水蛭　虻蟲　大黃（各大）　桃仁（中）</p>
<p>上四味。為末。水煎。或加䗪蟲尤妙。然勿用妊婦。恐有墮胎之患。</p>
<p>加味蜀麥湯　治感冒瘧疾諸般疼痛。及乾燥眼。</p>
<p>蜀葵　大麥　罌粟殼（各大）　甘草（小）　機奈機奈（舶來之品）　人參（御種各中）</p>
<p>上六味。水煎。</p>
<p>防風通聖散　治上衝頭痛。眼目焮痛。大便難者。</p>
<p>川芎　防風　當歸　芍藥　連翹　薄荷　麻黃（各中）　石膏　桔梗　黃芩（各大）　白朮　梔子　荊芥（各中）　滑石　甘草（各大）　芒硝　大黃（各中）</p>
<p>上十七味。加生薑。水煎。</p>
<p>局方甘露飲　治角膜膿瘍。胃中客熱。眼胞低垂。口舌生瘡。或咽喉腫痛者。</p>
<p>地黃　枳殼　茵陳　石斛　黃芩　甘草　麥門冬　天門冬　枇杷葉（各等分）</p>
<p>上九味。水煎。</p>
<p>犀角飲　治如前證。而痛澀難開者。</p>
<p>犀角（大）　黃芩　車前子　羌活（各中）　白附子　麥門冬（各小）</p>
<p>上三味。水煎。</p>
<p>小建中湯　治痛如神祟證。多服則痊。</p>
<p>桂枝　甘草　生薑　大棗（各中）　芍藥（大）　膠飴（大大）</p>
<p>上六味。水煎。去滓內膠飴。溫服。</p>
<p>川芎茶調散　治頭目昏沉。偏正頭痛。上盛下虛。視物不明者。</p>
<p>薄荷　荊芥　川芎　香附子（各中）　防風（大）　羌活　白芷　甘草（各小）</p>
<p>上八味。細茶。水煎。</p>
<p>鷓鴣菜湯　治蛔蟲疳眼。</p>
<p>黑醜（小）　苦薏（中）　大黃　海人草（各中）　甘草（少）</p>
<p>上五味。水煎。</p>
<p>兔矢湯　治痘疹入目。及昏暗。障翳。疳眼。蛔蟲。</p>
<p>兔矢（大）　甘草（小）　覆盆葉（中）</p>
<p>上三味。水煎。</p>
<p>桃核承氣湯　治婦人屬血證之眼疾。</p>
<p>桃仁　桂枝（各中）　大黃（大）　芒硝　甘草（各小）</p>
<p>上五味。水煎。角膜突起如蟹眼者。加紅花當歸。久服有效。</p>
<p>麻黃湯　治為風熱所侵。而眼目赤腫。生障翳者。</p>
<p>麻黃　杏仁（各大）　桂枝（中）　甘草（小）</p>
<p>上四味。水煎。</p>
<p>助陽和血湯　治血行不利之婦。眼目無赤脈。而痛如針刺者。</p>
<p>蔓荊子（中）　白芷　柴胡　黃耆　升麻　當歸　防風（各大）　甘草（小）</p>
<p>上八味。水煎。若痛劇者。倍升麻。雀目者。加白豆蔻人參蒼朮。</p>
<p>聰明湯　治上衝耳鳴。或多年目暗。視物不明者。</p>
<p>黃蓍　人參　甘草（各大）　芍藥　黃蘗（各小）　升麻　葛根　蔓荊子（各中）</p>
<p>上八味。水煎。</p>
<p>烏蛇湯　治眼風癢。</p>
<p>烏蛇（大）　麻黃　連翹　杜松木（各中）　甘草（小）</p>
<p>上四味。水煎。</p>
<p>茵陳五苓散　治小兒雀目。</p>
<p>白朮　茯苓（各中）　澤瀉（大）　豬苓（中）　桂枝（小）　茵陳（大）</p>
<p>上六味。水煎。</p>
<p>加味茯苓飲　治胃中有留飲。而自吐宿水。小便不利。及由咳嗽而白膜發血斑。及小兒百日咳。</p>
<p>茯苓　人參　蒼朮　橘皮　生薑（各大）　枳實（中）</p>
<p>上六味。水煎。兼用滾痰丸。有奇效。</p>
<p>小半夏加茯苓湯　治如前證。而嘔吐者。</p>
<p>半夏　生薑（各大）　茯苓（中）</p>
<p>上三味。水煎。</p>
<p>半夏瀉心湯　治與前同證。而頭目暈暗者。</p>
<p>半夏（大）　黃芩　乾薑　人參　甘草　大棗（各中）　黃連（小）</p>
<p>上四味。水煎。</p>
<p>烏頭湯　治雷頭風。</p>
<p>麻黃　芍藥　黃蓍　甘草　川烏（各等分）　蜜（適宜）</p>
<p>上六味。水煎。</p>
<p>神功湯　治諸般內障。</p>
<p>知母　人參（各大）　龍骨　天麻（各中）　附子　甘草（各小）</p>
<p>上六味。水煎。</p>

<h2>丸劑之部</h2>
<p>通經丸　治婦人月經不利。男子勞瘵。或諸般之內障。及屬於虛證之病。有神驗。</p>
<p>剛鐵（五十錢）　大黃（三十錢）　沒藥（二十五錢）　冰糖（適宜）</p>
<p>上四味。糊丸如梧子大。每服五十粒。白湯送下。</p>
<p>如神丸　治男婦積聚留飲。水腫經閉。及青白黑之內翳初起者。</p>
<p>剛鐵（廿錢）　大黃（五十錢）　蕎麥粉（同上）　沒藥（十五錢）</p>
<p>上四味糊丸。用法同前。</p>
<p>養神丸　治不寢咳嗽。諸般疼痛。及眼目赤痛難眠者。其他效用甚多。</p>
<p>阿片（極品一錢）　麝香（二分）　酸棗仁（三錢）　甘草（三分）</p>
<p>上四味糊丸。如粟粒大。臨臥十丸。白湯送下。以奏奇效。妄過量。則卻有害。</p>
<p>兔矢丸　治疳眼。及痘疹入目。生雲翳者。</p>
<p>兔矢（一兩）　石決明　木賊　草決明　芍藥　當歸（各七分）　防風（一錢）　穀精草（三分）</p>
<p>上八味糊丸。每服五分。</p>
<p>地黃丸　治諸般內障。久服而可也。</p>
<p>地骨皮　石斛　杏仁　防風　枳實（各十二錢）　地黃（一斤）　牛膝（十二錢）</p>
<p>上七味糊丸。每服一錢。日二回。白湯送下。</p>
<p>蘆薈丸　治昏暗無所睹。及瞳子散大者。</p>
<p>黑醜　蘆薈（各一錢）</p>
<p>上二味為末。以丁香油三十滴。調勻為丸。</p>
<p>固本丸　治上衝頭痛。青白內翳。神效。</p>
<p>磁石（浸醋燒者十錢）　知母（五錢）　黃蘗（三錢）　牛黃（一錢）　沉香（二錢）</p>
<p>上五味為丸。白湯送下。二七日服盡。</p>
<p>磁朱丸　治乾缺開大昏花雷頭風。及諸般內障。</p>
<p>磁石（醋煅二兩）　硃砂（一兩）　神麯（三兩）</p>
<p>上三味為末。別以神麯末一兩。煮糊加蜜。丸梧子大。每服二十丸。空心白湯送下。</p>
<p>明朗丸　治瞳孔闊大。黑花繚亂。一物兩形。不真雀目等之證。</p>
<p>龍骨（一兩）　磁石（二兩）　沉香　木香　天麻（各二錢）　苦參（六錢）</p>
<p>上六味糊丸。每服五分。日二次。米飲送下。</p>
<p>發矇丸　治小兒疳眼盲瞎者。</p>
<p>黃連　神麯（各五錢）　阿魏　胡黃連（各三錢）　雞肝（十具）　蘆薈（二錢半）</p>
<p>上蒸熟為丸。如梧子大。每服三分。</p>
<p>雞肝丸　治小兒疳眼雀目。</p>
<p>雞肝（一具）　真珠　黃連（各一錢）　蓮肉（三錢）　夜明砂（五分）</p>
<p>上五味為丸。如椒目大。每服十粒。日三次。白湯送下。</p>
<p>逐蟲丸　殺蟲。下黏液。治疳眼及爛眼。</p>
<p>水銀（生者十錢）　錫粉（二十錢）　硫黃（五錢）　大黃（五十錢）</p>
<p>上先混和汞錫二味。次加硫黃將軍二物。調勻糊丸。如梧子大。每服二丸。鷓鴣菜湯送下。</p>
<p>五疳丸　治小兒疳眼。面瘦色黃。羞明怕日。食乳不消者。</p>
<p>綠礬　蜜陀僧　夜明砂（各等分）</p>
<p>上三味。以棗肉為丸。如黍米大。每服三十丸。米湯送下。</p>
<p>滾痰丸　治痰咳吐黏沫。或小兒急慢驚風。及白膜血斑。由咳嗽者。</p>
<p>青礞石（煅過水飛者一兩）　大黃　黃芩（各八兩）　沉香（五錢）</p>
<p>上四味糊丸。如梧子大。每服三四十粒。白湯送下。（一方去沉香加甘遂）</p>
<p>七寶丸　因梅毒之眼疾。皆有效。</p>
<p>牛膝　輕粉（各二錢）　山歸來（一錢）　丁子（五分）　大黃（八分）</p>
<p>上五味為丸。每服四分。朝夕二度用之。六日服盡。後用紫圓。得快利妙也。</p>
<p>紫圓　治胸腹結毒。及心下水氣。或小兒諸病上衝諸眼疾。</p>
<p>赤石脂　代赭石　巴豆（各二錢）　杏仁（四錢）</p>
<p>上四味糊丸。服量見患者強弱。宜加斟酌。</p>
<p>鼴鼠丸　治小兒疳眼難治者。及翳膜。</p>
<p>鼴鼠（一頭燒存性者）　輕粉（五分）　巴豆（四分）　海人草（一錢）</p>
<p>上四味糊丸。</p>
<p>神靈丸　治角膜星翳。</p>
<p>蜀椒（青者黃柏為衣）</p>
<p>上禁齧破。臨臥白湯送下。生一星者一丸。二星者二丸。隨其星之數而嚥下之。夕用則朝消。實奇方也。</p>
<p>乳香丸　治眼疼頭痛。遍身疼痛者。</p>
<p>五靈脂（三錢）　乳香　沒藥　草烏頭　夏蠶砂（各五錢）　木鱉子（五枚）</p>
<p>上為末。酒煮麵糊為丸。如梧子大。每服七丸。清茶送下。極妙。</p>
<p>浮石丸　治青盲闊大等之內障。</p>
<p>海浮石　龍骨　牡蠣　硝石（各二錢）　蕎麥　大黃（各三錢）</p>
<p>上六味糊丸。每服一錢。白湯送下。</p>
<p>乾漆丸　治雀目。</p>
<p>乾漆　海人草（各等分）</p>
<p>上二味糊丸。每服二錢。白湯送下。</p>

<h2>散藥之部</h2>
<p>蝲蛄散　治留飲水腫。或月經不順。上衝耳鳴。眼赤羞明。及生星翳者。</p>
<p>蝲蛄石　焰硝（各二錢）　銀硃（一分五釐）</p>
<p>上三味為末。每服一錢。白湯送下。</p>
<p>沒藥散　治損傷眼痛。角膜膿瘍之類。</p>
<p>沒藥　血竭　將軍　朴硝（各等分）</p>
<p>上四味為末。茶或酒送下。</p>
<p>鰻鱺黑散　治小兒疳傷眼神驗。</p>
<p>烏（一羽去內臟者）</p>
<p>上嚴寒之時。浸於糞坑中。約三十日而取出。以清水洗淨之。加車前子一錢。紅花十錢。同燒存性為末。和鰻鱺服之。</p>
<p>雞子散　治同前證。而生昏翳者。</p>
<p>人參　白朮　茯苓（各一錢）　甘草（五分）　木鱉子（二錢）</p>
<p>上為末。與雞卵同煮食之。</p>
<p>如聖散　治諸般疼痛眼。</p>
<p>茯苓　桂枝　防風　羌活　香附子（各一錢）　梔子　甘草（各三分）　川芎　紫蘇　薄荷　升麻　陳皮（各七分）</p>
<p>上十二味為末。每服一錢。白湯送下。煎服亦可也。</p>
<p>防風一字散　治眼風癢難堪者。</p>
<p>川烏喙（五錢）　川芎　荊芥（各三錢）　羌活　防風（各二錢）</p>
<p>上五味為末。每服二錢。薄荷湯送下。</p>
<p>酒煎散　治疼痛眼。</p>
<p>防風　防己　荊芥（各二錢）　甘草（五分）　當歸　芍藥　牛蒡子（各一錢）</p>
<p>上七味為末。每服三四錢。水一盞。酒一盞。同煎。食後溫服。</p>
<p>鎮驚散　治小兒驚風直視者。</p>
<p>鹿角霜（二錢）　剛鐵鏽（五分）　龍腦（二分）</p>
<p>上三味為末。白湯送下。</p>
<p>壯腦散　治頭痛眩暈。眼常帶赤色。視物濛濛。時吐黃水者。</p>
<p>胡椒　丁子（各五分）　肉豆蔻（一錢）　乾薑（五分）　胡荽子　小茴香（各五分）</p>
<p>上六味為末。白湯送下。</p>

<h2>㗜鼻劑之部</h2>
<p>即醒散　治頭痛昏睡。兼眼目赤腫者。</p>
<p>焰硝（一錢）　硼砂（五分）　辰砂（一分）　麝香（少）</p>
<p>上四味為末。每一撮㗜入鼻中。</p>
<p>獨聖散　治濕熱頭痛。眼赤生星。及翳膜。</p>
<p>甜瓜蒂</p>
<p>上為末。㗜入鼻孔。口含冷水。取出黃水。則愈。</p>
<p>烏喙散　治頭痛如裂達睛。或嘔吐。寒熱往來。竟欲至瞳孔散大。及青盲者。</p>
<p>烏頭（一錢）　白芷（四錢）　薄荷（二錢）　皂角（五分）</p>
<p>上四味為末。茶服一字。仍微㗜鼻中。</p>
<p>誘嚏散　治卒然頭痛。眼目紅赤難開者。</p>
<p>皂角　高良薑　胡椒（各等分）</p>
<p>上三味研細。頻吹送鼻中。而取嚏。</p>
<p>通頂散　治天行眼風眼等。兼頭痛者。</p>
<p>藜蘆（半兩）　黃連（三分）</p>
<p>上二味為末。㗜鼻。</p>
<p>先鋒散　治痘瘡攻眼者。</p>
<p>硼砂（一錢）　瓜蒂（五分）　片腦（一分）　大戟（七分）</p>
<p>上四味為末。㗜鼻。熱淚如濺者。奏效如神。</p>

<h2>吐劑之部</h2>
<p>白龍散　治眼目昏花。及開大。風眼疫者。偏正頭痛。其餘病毒結於胸中者。</p>
<p>瓜蒂</p>
<p>上一味為極末。和白湯頓服。強人用三分。弱人一分若二分。得快吐則止。</p>
<p>二聖散　治效同前。</p>
<p>瓜蒂　赤小豆（各三分）</p>
<p>上二味為末。合勻。先取水一合四勺。煎一二沸。內香豉一錢半。再煎。取七勺。內二味和之。頓服。</p>
<p>礬石散　治同前。</p>
<p>獨頭蒜　明礬</p>
<p>上二味。先取獨頭蒜生者。搗爛去滓。內明礬。陰乾為末。每用自三分至五分。白湯送下。其效緩和。能得快吐。</p>
<p>金屑丸　用大頭風。屢效。</p>
<p>硫黃（極末）　糯米粉（各等分）</p>
<p>上二味為丸。如龍眼大。每用半粒為末。白湯送下。此方用急證神驗。</p>

<h2>薰劑之部</h2>
<p>丹霞條　治諸般內障。及諸毒上攻之眼疾。神效。</p>
<p>水銀　烏鉛（各二錢）　銀硃（一錢）　芥葉（五分）　沉香（一錢）　桐炭（適宜）</p>
<p>上六味細末。分為七炷。每一日一炷。含冷水。薰三度。經一七日。而止。</p>
<p>清霞條　治眼病。或痛。或不痛。生翳失明。頭痛耳鳴。總屬上衝者。</p>
<p>銀硃（一錢）　沉香　好茶（各五分）　金箔（二葉）　麝香（五釐）　百草霜（適宜）</p>
<p>上六味。分為七炷。薰法如前。</p>
<p>通神煙　治同前。</p>
<p>沉香　琥珀　乳香　沒藥　藿香　好茶　泥菖葉　百草霜（各二錢）</p>
<p>上八味細末。分為十四炷。薰法如初。此方絕無瞑眩之憂。但口鼻泄出毒液耳。</p>
<p>紫微煙　治梅毒之諸眼疾。</p>
<p>白蛇（一錢）　水銀蠟（十錢）　沉香（一錢）　百草霜（五錢）</p>
<p>上四味研末。以燒酎浸紅花（十錢）乘濕以前藥為衣。分五劑。吃煙如淡婆姑。</p>
<p>梅花薰　治雷頭風。</p>
<p>半夏（一錢）　片腦（三分）</p>
<p>上二味。合勻。實於捻紙中燒之。就鼻內㗜之。口含冷水。吐痰涎者。再含用之。三次見效。</p>

<h2>發疱劑之部</h2>
<p>發疱膏　治黑障青盲疫眼打撲眼痘疹入目等。其他效用極多。</p>
<p>葛上亭長（或斑蝥）</p>
<p>上一味為末。將嚴醋合勻。如泥。攤綿絮。貼百會。耳後。眉稜等。用硬膏封上面。則一夜而發水疱。</p>
<p>同備急方　治同前。</p>
<p>石龍芮（生者）</p>
<p>上一味搗爛。貼各部。若遇闕。則代用大蒜。亦佳。</p>
<p>拔毒膏　治痘疹入目。</p>
<p>辰砂　甘草（各一錢）　巴豆（五分）　狼糞（一錢燒存性者）</p>
<p>上四味。以蓖麻子油調和之。貼魚尾。小錢大。</p>

<h2>糊劑之部</h2>
<p>引降劑　治痘疹入目。風眼疫眼。及焮熱之眼目。皆有效。</p>
<p>白芥子（如食料者一兩）　大蒜（杵爛一錢）　醋（一錢）</p>
<p>上三味。如麥餅。貼足心。錢大。</p>
<p>緩和劑　治硬瞼硬睛。</p>
<p>蜀葵根（五錢）　亞麻仁（四錢）　小麥蒸餅（乾者十錢）</p>
<p>上三味為末。混和溫湯。如糊。攤紙貼於頑固之部。</p>

<h2>塗抹劑之部</h2>
<p>神效五彩散　治風眼疫眼。其他弩肉腫痛者。奇驗。</p>
<p>明礬（五錢）　黃柏（燒者二錢生者二錢）　膽礬（三分）　鉛丹（五分）</p>
<p>上細末。用水和解。上火微溫。塗抹眼胞上。日數回。</p>
<p>收澀異效散　治熱眼風癢殊甚。流淚汪汪不止者。</p>
<p>乾薑　枯礬　硼砂（各等分）</p>
<p>上三味。研細調和。米醋敷大眥。</p>
<p>消腫南星散　治諸般熱眼。腫痛難開者。</p>
<p>黃蘗　薑黃　天南星　草烏頭　黃連（各等分）</p>
<p>上研末。以生薑自然汁。調勻。貼兩太陽穴。一二次。</p>
<p>清涼退赤丹　治熱眼。刺痛焮腫尤劇者。</p>
<p>桃仁　杏仁（各一錢）　白礬（五分）　食鹽（三分）　鉛丹（四分）</p>
<p>上細末。以雞子白調和之。塗眼胞上。或乳汁調勻。亦佳也。</p>
<p>緩和二神丹　治眼胞滯血不散。或翳膜疼痛者。</p>
<p>艾葉　酒粕（各等分）</p>
<p>上二味。煉熟貼傅眼胞。用溫金熨之。</p>
<p>消散水銀膏　治眼胞結核。及固結腫。</p>
<p>水銀（十錢）　錫（十二錢）</p>
<p>上二味。合勻為末。調混於緩和之軟膏。攤紙貼患處。</p>

<h2>洗蒸劑之部</h2>
<p>洞明洗　治上衝眼。赤脈疼痛者。</p>
<p>食鹽（一分）　羚羊角（一錢）</p>
<p>上二味。以淨水一合。煮取八勺。微溫洗眼。日三次。</p>
<p>清光洗　治梅毒眼。赤脈縱橫。及翳膜。</p>
<p>當歸　地黃（各大）　小茴香（中）　甘草（少）　樟腦（小）</p>
<p>上五味。包絹。以水煎。乘溫洗蒸。日三次。</p>
<p>艾連洗　治爛弦風。黏眵風癢等之證。</p>
<p>艾葉　黃柏（各大）　黃連　車前子（各中）　枯礬（小）</p>
<p>上五味。法如清光洗。</p>
<p>秋香洗　治同前。</p>
<p>菊花　燈心草　艾葉　黃柏（各等分）</p>
<p>上四味。法如前。</p>
<p>清涼洗　治赤脈眵淚腫痛者。</p>
<p>當歸　石菖根　荊芥（各大）　薄荷（中）　枯礬（小）　銅錢（二孔）</p>
<p>上六味。以水一合半。煮取一合。去滓溫洗。</p>
<p>鉛砂蒸劑　治瞼浮腫。</p>
<p>鉛白砂（四錢）　玫瑰露（十二錢）　燒酒（六錢）</p>
<p>上三味。煎沸。乘溫薰蒸眼目。</p>
<p>水銀蒸劑　治雲翳極妙。</p>
<p>水銀（十五錢）　井華水（七合）</p>
<p>上二味。納磁器。上文火緩煎約二時許。下火候冷。去汞。封固。收貯。用法同前。</p>
<p>和血蒸劑　治眼胞腫痛。</p>
<p>桑葉（大）　明礬　石斛　食鹽　山龍膽（各小）</p>
<p>上五味。煎蒸眼目。</p>
<p>附子蒸劑　治疼痛眼無熱者。</p>
<p>當歸　小茴　芍藥　白芷　香附子（各大）　大附子（小）</p>
<p>上六味。以淳酒煎。乘溫薰蒸。一日三次。</p>
<p>玫瑰蒸劑　治翳膜。及流淚不止者。</p>
<p>玫瑰花　杉葉　榧子（各二錢）　蘆薈（二錢半）　古酒（二合）</p>
<p>上五味。用法同前。</p>

<h2>水劑之部</h2>
<p>苦薏水　治外障疼痛甚者。</p>
<p>苦薏（二十錢）　片腦（十二錢）</p>
<p>上二味。以蒸露罐取露。封納壺內。聽用。</p>
<p>神效水　治諸般外障屬熱者。及頑固星翳。角膜膿潰之類。</p>
<p>硝石（一錢）　膽礬（五分）　明礬（十五錢）　食鹽（五分）</p>
<p>上四味　以文火煮。納壺埋藏於土中。約七日。凝結如青冰。則名夏冰。每用少許。融解為水。洗淨眼目。</p>
<p>玫瑰水　治風眼疫眼。其他外翳有膿氣者。</p>
<p>玫瑰花（新鮮芳香者）</p>
<p>上浸淨水。以蒸露罐滴露收貯。</p>
<p>蚯蚓水　清涼之神方。兼治痘疹入目。</p>
<p>蚯蚓（大者五十頭）　水（七合）</p>
<p>上以蒸露罐。取精液三合。</p>
<p>葡萄水　治爛眼。</p>
<p>赤葡萄酒（舶來者一合）　淨水（三合）</p>
<p>上二味。調勻屢洗。</p>
<p>鉛糖水　治兩瞼黏睛。及膜證。</p>
<p>鉛糖（一分）　淨水（八錢）</p>
<p>上攪勻。點眼目。日三次。</p>
<p>龍膽水　治天行眼。神驗。</p>
<p>生山龍膽　生艾葉　生少蘗（各等分）</p>
<p>上三味。水煎漉過。去滓。再沉煎至如膏為度。收貯。臨用少許。和解淨水。</p>
<p>蓬砂水　治眼目膿瘍輕者。</p>
<p>蓬砂（三錢）　白糖（五錢）　水（五合）</p>
<p>上調勻。點洗數回。</p>
<p>紅漿水　治天行眼。</p>
<p>干胭脂（一錢）　鐵漿水（六錢）</p>
<p>上二味。和勻。</p>
<p>石膽水　治熱眼。及有膿之眼目。</p>
<p>膽礬（二分）　水（二合）</p>
<p>上二味。調勻貯之。</p>

<h2>點眼劑之部</h2>
<p>燭龍散　治翳膜。經年難治者。</p>
<p>爐甘石（煅者六十錢）　冰片（二錢）　銀硃（二錢）　麝香（二分五釐）　緩汞丹（一錢）</p>
<p>上五味。極細末。聽用。</p>
<p>開明膏　治爛弦風。</p>
<p>爐甘石　石膏（各燒者八十錢）　滑石（生九錢）　銀硃　片腦（各八十錢）　梅花片（二錢）</p>
<p>上研末。調蜜應用。</p>
<p>退赤露　治疫眼上衝眼之類。總屬熱之眼目。</p>
<p>黃連　人乳汁</p>
<p>上浸點。或煎貼。或加朴硝。亦可。</p>
<p>夜光露　治刺撞眼。</p>
<p>蘘荷搗汁（五錢）　食鹽（燒者三分）</p>
<p>上和解水中。而點少許。</p>
<p>珍珠膏　治內外二障。及爛眼。</p>
<p>虎肉（二分）　虎膽　冰片（各五分）　真珠（一錢）　蛇骨（一錢五分）　爐甘石　銀硃（各二分五釐）</p>
<p>上細末。調煉蜜用之。</p>
<p>一元丹　治內翳用針術後。或竹木刺。及打撲損傷眼等之貴方也。</p>
<p>水仙根　甘草（各等分燒存性）</p>
<p>上研細末。以乳汁和調。聽用。</p>
<p>神液丹　治諸般內障。及乾燥眼。</p>
<p>食鹽（大）　銀硃（小）　磠砂精（少）</p>
<p>上為細末。點一小粟粒許。</p>
<p>撥雲散　治翳膜。神妙。</p>
<p>萎蕤仁（去油一兩）　白蓬（一錢）　麝香（二分）</p>
<p>上研勻。收之。</p>
<p>黃金露　治焮痛眼。羞明怕日者。</p>
<p>雞子白　洎夫藍（各七分）　人乳汁（十六錢）</p>
<p>上調勻。點眼中。</p>
<p>神靈散　治眼目腫痛。赤脈縱橫。及星翳。</p>
<p>鉛白砂　磠砂精（各等分）</p>
<p>上和水少許。點眼中。</p>
<p>收淚散　治迎風灑淚。</p>
<p>爐甘石（制煅一錢）　海螵蛸（五分）　冰片（一分）</p>
<p>上研末。點淚管上。</p>
<p>碧雲膏　治雲翳。有效。</p>
<p>銅青（五分）　輕粉　麝香（各一分）　黃丹（一錢）</p>
<p>上研細末。和蜜收貯。</p>
<p>蝮蛇散　治眼目竹木刺。</p>
<p>反鼻（燒者一錢）　辰砂（五分）</p>
<p>上研末。點眼中。</p>
<p>雀貝散　治小兒疳傷眼。</p>
<p>真珠（二分）　代赭石（二錢）　角石　赤石脂　雀貝（各三分）　冰片　麝香（各一分）</p>
<p>上細末。和蜜聽用。</p>
<p>金鳳散　治痘疹入目。奇驗。</p>
<p>雀子　雀貝（各大）　角石（中）</p>
<p>上研極末。以梨子自然汁。調和。點眼中。</p>
<p>丹砂散　治惡血眼滿腫者。</p>
<p>真珠（五分）　滑石（生一錢）　石膏（煅二錢）　枯礬（七分）</p>
<p>上研細末。和解乳汁。點之。</p>
<p>復明散　治目暗不見物。及冷淚淫濕不止。或青盲黑障等之證。</p>
<p>覆盆子（日乾者）</p>
<p>上一味。研極細。以薄綿裹之。浸於乳汁。點之。</p>
<p>照水丹　治翳尤重者。神效。</p>
<p>海螵蛸（一錢）　真珠（五分）</p>
<p>上二味研極細。以黃蠟少許。化和成劑。收之。臨臥時。烘火丸如黍米大。揉入眥目。至翌朝。溫水洗淨。</p>
<p>【附】經驗灼艾法</p>
<p>眼目刺痛劇甚者。灸商陵。小炷三壯。迎風灑淚不止者。亦佳也。</p>
<p>小兒雀目難痊者。灸合谷五壯。疳眼亦妙也。</p>
<p>青盲黑障。及昏花不真等諸眼疾者。灸絲竹空。每朝一壯。積年者。二三壯。必用小炷。</p>
<p>上瞼低垂輕證者。灸三陰交。</p>
<p>上衝頭痛。眼目疼痛。及焮腫熱淚。羞明怕日等之證者。灸女室五壯。</p>
<p>小兒疳眼。及雀目者。不容。天樞。七八九十一之椎。灸之。皆有效。</p>

<h1>續眼科錦囊卷一</h1>

<h2>眼科古今無正典論</h2>
<p>夫眼目者。人身之萃華玄精。而與兩曜相參。其神不可測焉。其妙不可極焉。故神器守常。妙機不差。則靈明之所照。無不透徹。而不能一物遁光芒之裡也。見垣之一方。何掬上池之水。辨毫末於百步。豈假顯微之鏡乎。是熙皞宵燭之神機。銀海金珠之妙用。百智之源。萬能之宗也。然而嗜欲不得其宜。保生不適其度。則神器失其守。妙機差其關。靈光亡其職。可不慎哉。起初纖毫之變。或致叵測之患。故攻其術者。非潛心細察天地化育之道。熟思精究身體常變之理。曷得能奏撥雲見天之偉效哉。凡人終身之明晦。一托於醫手。豈矇昧疏漏而可能為之乎。蓋眼科之難學難明者。何也。此因倭漢古今無可證據之正典也。醫籍各門中。雖往往有論及於眼目之事者。當時未立顓門。皆是旁說贅辨。誇博示多耳。宋分十三科之後。才有其人。而其書亦隨出焉。而哀學淵周亮節王協鄧苑之徒。以五行配當之空譚。滲入其膏肓。妄逞五輪八郭之詭說。縱設七十二之病證。浪配耦五行八卦之名目。巧傅會七十二候之季數。恣為其定位。誣以其生克。取證於聖腎之事。而欲實其言。喋喋乎誑惑後人。牽強杜撰。貽害不淺矣。夫眼者九竅之一也。而眼目能應五行八卦。則他竅亦當有此精細之配當。乃置而不論者何哉。可見其說淺陋。斷不可信焉。清人傅仁宇創棄七十二證之浪說。分證為一百零八。巧說深論。聳動一時。其言雖似精微。未脫陰陽五行之陋弊。架空閣虛。以臆斷病理。荒唐放言。愈說愈昧。橫議穿鑿。更覺其甚矣。嗚呼。庖羲氏畫八卦之時。豈知為今日傅會配當之具耶。其徒證伏羲猶為未足。更假名思邈。或托方神仙。或為觀音靈授。或為龍樹真傳。欲令其術奇特。詭誣百端。炫曜釣利。以荼毒蒼生。禍害一至於斯。不可復救也。此無他。惟為無確的情微之詳說。又無探玄知要之正典也。故予不厭縷煩。既著眼科錦囊以公於世。今復應門生之請。述作續篇。以為後學之嚆矢。希有志之士。參實地。斥空譚。則救濟天下昏昧之功。不亦偉乎。</p>

<h2>本朝眼科襲弊論</h2>
<p>凡眼科風習。相沿既已久矣。豈可得容易更改乎。俚言所謂不醫不瞎者。嘲弄庸工之言。而漢土從來疏於是術可知矣。本朝右文之世。教化普流。德澤波及刀圭之徒。是以俊傑駢出其間。溯流溯源。參幽窮微。故無法之不備。無術之不精。稱國手喚良工之徒。不暇屈指也。故曰古之所謂良醫。今之所謂庸工也。不亦信乎。惟吾眼科之一途。未嘗有卓識傑出。而馳確見。改陋弊。救天下之矇瞶者也。千百年來。庸劣之徒。單奉家習。專信師授。傲然矜誇傳下之舊臭。囂然競訟門派之高低。或狡獪之黨。假名眼科。為射利之場。或無學之徒。苟且轉業。作遁跡之叢。謀衣食。營家產。不敢顧患者之危急昏瞶。何其陋哉。何其鄙哉。彼縱有幸免王法刀鋸。安得能逃鬼神冥誅邪。不佞（俊篤）弱冠遊學於江都。師事翠蘭先生。在塾之日。卒然患焮熱眼。兩目大腫。疼痛殊凶。故托治於時師。而累日無寸效。自初春至晚夏。依然不痊。更加昏翳。殆至喪明。因自尋思。意此非天下之良工。則不能治焉。嘗聞信州竹內生尾陽馬島氏。名聲藉甚。試請其一診。若無功驗。則遍募京攝之良工。乃整頓行李。告訴先生。先生切止曰。時屬炎天。千里行程。攀山濟水。平人猶難之。況患眼者乎。夫天下之通市。無若江戶。抱術挾技。傑材輻湊。曷不有一二之精於眼科者乎。姑請其治。保養護持。以俟秋冷。更謀西行。未為晚也。予謹服其命。倚相者之手。遍叩眼科先生之門。請求診察。或云不治。或云難治。或濛然無明辨。或迂論偏見。不遇一個卓見明識之良工。於是乎將委命於天。終身守盲。一日。邂逅於眼科小出子者。因細告所患之緣故。小出子熟察云。足下弱質羸瘦。加之勉強苦學。精神為之憊焉。思慮為之損焉。濁液溢胃。血行失度。竟上衝而攻眼目。醫療之法。快掃支飲。疏暢血行。而省慮寡欲。則應有復於瞭然之明。足下熟思之。予深服其言。乃用吐劑。而得緩吐兩次。以快掃胃中。或在肩背尺澤之部。刺絡放血。以泄出上衝鬱結之邪毒。服用葛根柴胡之諸方。拚擲雜慮。養靜保重。大約一百有餘日而全愈。不遺一點翳痕矣。予也若不遇是人。則不免終身為廢痼之人也。嗚呼。天下之盲瞶幾萬萬人。失治於庸工之手者。可不勝嘆哉。於是乎予憤然奮志。專心一力。以修眼科之道。稽諸古。徵諸今。考究治法。折衷倭漢。試之實地。驗之真境。韓子曰。一善易修也。一藝易能也。信哉。如予駑才。亦修習日久。而恍然似有所得焉。故銳意勵精。而不遑寢食。尚欲搜抉諸家之淵奧。傍察各地病情。飢餐渴飲。間關萬里。足跡遍於天下。歷訪醫門者。凡百有餘家。然如東奧信陽尾州筑紫等。是為巨擘。其他稱良工者。亦不下於三十餘家。各各空名遠馳。門前成市。故患者擔糧帶貲。不遠千里而來乞治者。或至數百人。累日經月。寄寓其宇下。冀望復明之效。動輒及乎積年。然目擊其徒之所為。可笑又可惡者甚多矣。其投劑不過一二方。而撰古人方中平坦無用之劑。妄意增減一二味。偽稱家方。或任手雜湊謾制。作一方附之。加減各等。胡亂表記星宿支幹五常等字號。其點藥亦不過二三方。尊重如隋珠。如其手術頗疏拙。而自誇耀如郢斧。或欲掩其陋劣。託言於世世相傳。以禁及門之子弟。而千人一方。萬人同劑。至病者之安危。全委於天。公然不關係其意矣。患者亦知擇門戶。而不知擇醫生。遂附托庸工之手。往往至廢盲。而茫乎不悟。悲哉。方藥僅差。毫釐千里。豈有一方能治萬病之理乎。宜哉。天下瞽盲之多也。此皆坐於家習傳下之陋弊而已。噫。眼科頹風。一至於斯矣。傅仁字曰。病者猶不以藥為非。而委之曰命也。醫者猶不自誤用藥。而委之曰天也。二者若此。罪將誰歸乎。傅氏原是拘泥五行之徒。尚奮然欲矯時弊。而發是言焉。今之為醫者。悟然不顧病者之成敗。盲用瞎治。抑亦傅氏之罪人也。荀子曰。正義直指舉人過。非毀疵也。予也性魯愚而學淺膚。豈敢輕議乎。然不鋤荒剔蠹。則恐賊夫人之子焉。往者不可追。來者猶可誡矣。故不得不立言而排斥虛偽述論。而曉導昏昧也。素非為大方君子設是言也。噫汝醫童。同是為聖世之民。既沐浴其德化。豈無良心乎。願無襲舊弊。無趨利路。撰師而學。直事而行。存心於利濟。委身於仁術。則庶幾免其不醫不瞎之謗議歟。</p>

<h2>西洋窮理無確徵論</h2>
<p>（附）蘭字正誤</p>
<p>古語云。究理易。應事難。應事固難。而究理亦不易也。夫以金石草木無性之物。臨機應變。以治非常之疾病。此應事之所以難也。內經曰。治病必求其本。蓋通陰陽之理。窮本氣之源。識病之所因。達藥之能否。探其蘊。至其極。則究理豈容易乎。近今和蘭之學。大行於世。究理之術。亦加精明。但和蘭者西洋之別種。其地在航海萬里之荒境。而仰慕本朝仁聖之德化。重九譯而來欽貢職者。殆二百有餘年矣。其俗狡猾而好機利。尤巧技術。其學以究理為本。以日新為務。其字蟹行。其言鴂舌。正是戎狄之異教。何可比萬世不易之聖道哉。然至其天文地理醫術制煉。則精核的實。卻超出於漢土之上。故碩學君子。為裝飾其技術。競趨西學。翻譯其書。以教後學。蓋聖道蠻術。並存並行者。此國家好生之恩澤也。雖然。樹朽則生蠹。道久則生弊。此自然之理。必至之事也。近時輕薄之徒。冒名西學。釣弋時利。饒舌誑俗。臆斷病理。或無學之輩。初參此門。不知佗道。心醉於無味之理。相贊稱。相唱和。相煽動。以飾非實之奇。墮落其窟者。常以日新為口實。故舶來之書籍。亦見年曆之新近。其價倍蓰。而如其論說之可否。則斷然不顧焉。二三十年前之書。皆屬陳腐無用。拚之如草芥。募難得之藥。貴難行之術。猾奴既窺知我嗜好。而偽換書本年曆。以謀厚利。或贗造藥品。以誑欺人目。夷德無信。不可不深察詳鑑也。予嘗聞彼邦所賞用之機那機那（藥名）者。初七八十年前大唱奇效。後有論其害者。故廢置不用焉。終復盛行於今日。如加魯墨兒（藥名）者。前日頻稱奇藥。而至今又不甚用焉。後來有贊其效者。亦未可知也。由此觀之。古說果非。而近論果是乎。其可否不同者。未知其所適從也。如天文地理。非予所與聞也。至其醫術制煉。略知大綱。然如諸科者。飽學先生自有公論。當以醒悟後學。故置而不議焉。在眼科一事。予所專任。而剪棘通塞。以教導後學者。當今有誰乎。故不得不辨明攻擊誣妄遊詭之說也。今舉一二疑議。以備學者之參考矣。夫和蘭者在北極出地五十餘度。邃遠苦寒之地。與本朝寒暑中和之沃土不同。一也。其為人赤發准鼻。深目碧瞳。與我黑髮烏睛不同。二也。其地五穀鮮少。常食獸肉。嗜飲乳酪。腥膻臭穢之徒。與我中土飧嘉穀。吃海鮮。清爽潔淨之民不同。三也。有是三不同。則所患病候。亦不得一般也可知矣。且其冱寒之地。則人身蒸氣易鬱塞。嗜飲膻肉。則血液常凝膠。故鬱塞者愈鬱塞。黏滯者愈黏滯。於是平常飲剽悍揮發之火酒。服酸味涼血之品物。屢刺絡放血。若不然。則血行黏稠。不能渙流。殆至不能保其生也。風土飲食之異。其勢固當如此也。予嘗見歐羅巴洲之人。白日步走。必用蓋笠。而笠檐壓著眉頭。更設廣庇。或帶著綠硝眼鏡。其為之者。蓋怕惡日光也。予叩問其故。答曰。北地之人。不堪南方赫輝。是以每遠涉南方之地。例用此笠。且帶眼鏡。以遮障光輝矣。若在貴國及寒暄中和之諸地。則猶可耐當焉。如印度爪窪熱帶諸邦。則笠前更掛用薄羅。或帶黑硝靉靆。以致躲避爍光。不然。則眼目耐過不得。而必有焮熱腫痛。或竟陷黑障青盲等之憂。若夫極北冰山積雪之地。太陽照光反映於冰雪上。射注眼目。焮熱疼痛。此等之證。無年不行。故瞽盲甚多矣。而地偏於南北。必有偏有之患焉。諸生幸生此上國。吾儕深所欽羨也。因斯語以考較其視力之強弱。眺望遠處。必劣於我。至黃昏後。卻優於我。何則。其國接近夜國。而日光薄弱。令人目然者。亦此必然之理也。蓋地瀕赤道。則瞳睛愈黑。地接北方。則碧眼黃睛。皆因太陽光輝之厚薄。而眼珠內部之黑稠液。自為濃淡。以令其適度也。可見風土稟賦之不侔。獨疾病豈無差別乎。夫過飲火酒。殆至鄰死。貪飧酸冷。發起暴瀉。放血屢施。精神昏昏。遂不能起者。往往有之。何則。此其飲食施用者。與中土氣化相背悖也。若患者有血行失度。閉塞黏滯之證。考索上件藥餌。或刺絡瀉血。可以救其急迫。此乃醫門之活法也。韓文公曰。大匠無棄材。尋尺各有施。醫亦然矣。極其候證。察致病之所由。相其強弱。酌其深淺。以制其劑。則無可棄之藥。無難用之方。今世拘執西學之徒。空信鑿鑿之說。不辨風土。不詢食料。以彼所宜。強施於我。謾誇究理精說。不察病倏之異同。不驗常有之藥劑。藐視二千年來煉磨之正法。而如石膏附子人參柴胡神效貴品。輕蔑如糞土。稱用蜀葵錦葵茅根大麥之類。以為保生之主。嗚呼。厭舊喜新。棄近求遠。賤多貴寡者。人情之所然也。吠聲之徒。不知道之在近。以其管蠡之材。皮膚之見。陋劣之心。妄修究理之學。蓋理也者。易傅會而又易乖戾。我以為是。而彼以為非。然則其究者。猶未究也。修西學而其理與我相暌違者。非彼之訛謬。而出於傳其說者之昧陋也。製劑亦應有差等矣。山田圖南子云。按仲景氏方。大略二十兩藥。用水一斗。煮取五升。是水今一合。得藥今三錢九分強。由今觀之。猶似藥贏而水歉。又云。以微火煮之。鹹得其宜。惟恐藥汁頗濃。苦其難服耳。又云。華夏古人。與本邦今人身度食量。皆既不同。豈可固守華夏古人之劑。施諸本邦當今人哉。須減之分兩。以適其宜焉。漢土與本邦比鄰相接。而精其術者。猶知其不同焉。蓋食肉之民。其服藥不大劑。則難以奏效矣。然而西洋之俗。服煎劑甚罕。而專用火酒製劑。蒸露精液。或化煉諸藥。蓋煎劑則不加量無效。是故調峻效劇烈之物。以小量抵當大劑。以便服用也。以彼所斟酌分量。謾施於我者。未見其可矣。且如熱眼外用收澀劑。疼痛眼點火酒劑。在冱寒之境。腥膻之民。未為不可也。如中土之人用此等之藥。則禍害並臻。脫翳者過於收斂。清涼者過於凝寒。或如睫毛內刺。塗抹腐藥。眼瞼外反施截術。則不盲廢者殆鮮矣。穿鑿事理。則必失活動。沉痼幽遠。則決落迂僻。記云。戎夷五方之民。各殊其性。且蓂莢知晦朔。知風卜風。蜀葵向日。磁石吸鐵。萬物稟賦。造化橐籥。天地自然之妙理。非思慮之可辨知焉。又非尺度之可臆量焉。孔子曰。君子於其所不知。蓋闕如也。予佩服此言。以箴夫曲理之人焉。</p>
<p>[附]漢土之人。褒讚本國之美。自稱中華。是以本邦文墨之家。器物玩具之類。冠著華字。以崇尊之。當今從事和蘭陀（和韻入聲）學之徒。仍蹈前轍。於翻譯字面。標出一個字。冠之蘭學蘭字蘭人蘭物之類。胡亂喚稱。欲以掩昔時所稱之蠻學蠻人等不典之言。或用蘭字號家塾。題著書。或自稱蘭學者。昂然誇於人。殊可胡蘆大笑矣。漢土之人。自稱中華。則崇奉之家。宜稱華字也。摹仿之以揭蘭字者。不可也。何則。和者國號。蘭陀西洋方言。翻云國土。今所稱蘭者。此蘭陀二字。省用一字也。義理不明。而不知其所指何國也。陋亦甚矣。其國西洋戎狄之別種。宜稱西學西人。然則雅言有據。而名實相協耳。學者思諸。</p>

<h2>眼目至大之論</h2>
<p>予弱冠之時。苦心力學。不得眼科之要領。意怠志撓。欲畫止者再四。一日。偶會友人杉山子。卒爾問曰。眼珠之徑圓有幾許乎。予曰。雖有男婦老少肥瘦短修之異。概略不過徑寸耳。此凡人之所知。而子特問之者何也。必有故矣。曰。予所熟視者。有三尺許之徑圓。若悟入是理。則何憂功之不成乎。子其思諸。予聞之。茫乎自失久矣。因謂昔紀昌學射于飛衛。衛曰。學視而後可。視小如大。視微如著。而後告我。昌以氂懸蝨於牖而望之。旬日之間寖大。三年之後如車輪焉。蓋其大者。非蝨之大也。我視之以為大也。視目之法。亦如此歟。正道百字訣云。真常須在目。陰符經曰。其機在目。自古聖經賢傳。無不以目為樞機者。故孟子曰。觀其眸子人焉廋哉。蓋人之善惡邪正。皆取諸眸子之瞭眊焉。可見眼目者。五官之君。滿體之主。七情五欲。皆聽其使令。韓子曰。形於上。日月星辰皆天也。形於下。草木山川皆地也。命其兩間。夷狄禽獸皆人也。眼目之在於人身亦然矣。以是理觀之。則眼珠之徑圓。不啻三尺。雖滿身謂皆為眼目可也。目之明者。配之於日月。故明字從日月。嗚呼。僅僅眼珠。包括此妙用。然則眼目徑大。何止一身之微而已哉。實可與日月均其光侔其大矣。呂氏春秋曰。天生陰陽寒暑燥濕。四時之化。萬物之變。莫不為利。莫不為害。至哉言也。其所養者翻為賊。其所利者轉為害。則情欲之變。時令之禍。無不損害眼目者矣。世醫不知至大至妙之理。徒為徑寸之一小具而施治。故心昧術屈。而不能暢展活方之機。宜哉其無復明之效焉。世醫常遇予。則必先叩以內翳針刺之法。予曰無難。又不易也。何則。眼質玲瓏透徹。而所刺之針頭。自外面洞視。故曰無難也。然至一刺見白日之妙處。宜神領意會。非言語之所能盡也。故曰不易也。然而天下之患者。盲於外障者十之七八。而盲於內障者。僅居二三。且內障中。有青白黑開大收小及數多之區別。則用針之眼疾。亦是百中之一二耳。世醫於許多之外障。未嘗用工夫。而單要知用針之妙處。此猶不察切身日用之實。而徒畫太極焉。皆厭卑近務高遠之所致也。碩學先生以眼目為一小具。以眼科為一小技。不盡心極慮。故有是弊矣。此言當與具眼之人論。而不可與盲眼科語也。因告門生曰。欲療佗盲。必先療自己之蒙。以參得眼目至大之理。則始可與談是道矣。</p>

<h2>雙瞳三瞳之論</h2>
<p>西說云。重瞳之人。每患一物二形之證矣。以理言之。則一瞳瞻識一物。則重瞳應鑑視兩形。而質之實驗。則其似理者非理。卻在理外。而知其妙理之妙矣。夫人具兩眼。則左右各一瞳。而見者非兩形。盲偏眼者。亦不眎偏形矣。雖謂物景之寫映。系瞳孔網膜。然所以鑑視者。精神之妙用。而知覺一物。非二形也。猶耳也。鼻也。其孔皆兩。而音臭不二也。然則重瞳之人。不視多形之理。彰彰乎著明也。上毛高井氏兒子。左右重瞳。予友清水生。亦左眼雙瞳。頃者偶遇一女巫。左右各三瞳者。叩其所鑑識。皆無異常矣。故重瞳二形之說。謂理可然而已非的實也。或云。由其方土之異。而有不同也。此所謂遁辭也。其誕妄不攻而破焉。夫病之所致而現出多形者。前編已述大略。然而大醉或發狂初。或打撲頭蓋人。或頭痛劇甚者。間有發起此證。皆是由精神觸知太甚。而失機活之常度也。可不深察乎。予述此說。以示門生。傍有客戲云。嘗聞黃帝四目。帝舜項王各二瞳。然未見史籍傳記。有目視數形之說矣。果若西說。則如九眼之白澤。千眼之大士。無數物景。繚亂飄閃於目前。猶對萬花鏡。世間豈有此娛樂乎。聞是言。滿坐無不絕倒者矣。</p>

<h2>悉鳩答及莨菪之說</h2>
<p>楮澄曰。製劑獨味為上。二味次之。多品為下。誠哉。石膏解熱。附子回陽。麻黃髮汗。大黃泄利。類皆是單味特效。實藥中之上品也。然有藥經制煉而力愈峻。劑合數味而效甚奇者。以之置下等。豈的論乎。方今西舶所輸來之製劑有悉鳩答膏者。用於黑障及闊大等證。神效冠於諸藥。然其用之分釐有差。則必促命期焉。又有莨菪膏者。點於目中以一少許。則眼珠忽麻痹而瞳孔頓為放開。是故針刺白內翳之時先用之。則甚便於下手矣。若分量錯些子。則瞳孔終不收縮。而立地盲瞶焉。嗟乎。此二品神效無雙。實可謂奇品。中之奇品。然非經心熟手。則切勿妄用。大抵制煉之諸劑。其力峻劇。故有毫釐之差。則其害不可回踵。知命君子。千金之子。不可不慎察焉。</p>

<h2>胎障眼發明之說</h2>
<p>葉香侶云。有天之天者。謂生我之天。生於無而由乎天也。有人之天者。謂成我之天。成於有而由乎我也。生者在前。成者在後。而先天后天之義。於是見矣。故以人之稟賦言。則先天強厚者多壽。先天薄弱者多夭。夫病成於生前者。其變也不可測焉。胎障亦先天之一證。而生前稟受之盲瞶也。此證世上往往有之。然古今未有論及其事者。若夫小兒初生之時。以筋骨未強。精神未爽。其眼目雖抱病。呱呱而啼耳。故為父母者不省之。而經時窺其眼目。則朦朧似失鑑視之用。於是或驚或訝。延醫請診醫。亦茫乎不知為胎障之證。妄投平易之劑。荏苒持久而無效。則辭以不治。病家亦信庸工之言。放棄不復療焉。其兒至十歲前後。自少覺明暗。及十六七體質充實之頃。頗辨物景。或有全然復明者。於此父母驚喜。以為神佑佛護。醫見之。呆然為奇異耳。此即胎障眼之證候也。此證原有內外二障之別。難易兩治之分。其外障者。以遮翳掩膜。故易辨焉。而薄翳輕膜。隨兒之長成。而有自然復明者。故醫預乘其天機。外點脫翳之藥。內投驅毒之劑。則退翳還明之功更速也。然厚翳頑膜者。必竟屬不治焉。其內障者。青白黑諸證也。宜除深疳。驅蛔蟲。禁飽食。省甘厚。其佗謹戒損害嬰孩之諸件。而靜養保重。可以俟自然復明之期。若夫瞳人放開者。疳蛔至險之證。未必可恃復明矣。或有問胎障還明之理者。予曰。小兒之體軀。初雖綿弱。漸長漸強。則亢陽之氣充實於軀殼。而諸液流動自致快爽。故開幽戶。通神門。翳障退縮。而金珠放光。濁水減損。以銀海復澄。蓋後天培養之盛。造化保育之仁也。以眼科為業者。非有卓見特識。看破幽微之蘊。則俗士謾以為冥助。亦非可笑也。</p>

<h2>奇證怪病之說</h2>
<p>夫奇怪之病者。世間非常之證候。而變狀異態。非意之所捉摸者也。患者若干人中偶有之。或一遇一病後。不可復見焉。或一診後。隔數歲再遇見之。至其屢歷視同症。實因一時之機會。此豈同於比比所有之病乎。然而天下之廣。人民之夥。其奇病怪證。亦當許多。何得預知哉。惟至水土食味。大氐有限焉。非妖魔之所祟。巫蠱之所詛。則盡心者當自知之矣。奇怪之證候。概略因梅毒與胎毒。與蛔蟲所發者居多焉。固以異常之病。原因治法。似不可審明矣。然推顯索隱。察近知遠。則奇狀變態。不能逃其審知明察之中也。能明斷其治不治。以濟患者於夜國里者。嗚呼。天下之良工哉。予不厭煩絮。略舉數證。臚列於下。</p>

<h2>一眼胞結石瘤證</h2>
<p>予鄉下有一粉頭。年紀十有五。麻疹之後。眼胞上生贅瘤。如胡桃子大。上面肉嵌紫色。五年之間。更換數醫。依然不愈。以為不治。一日。樓主來語予云。嘗聞先生之妙技。一女子眼胞上生宿瘤。既歷經眾醫之治而不見微效。如是亦能治乎否。予謾答云。易易。樓主云。果如先生之言。何幸加之。予於是熟為診察。瘤根堅硬如石。將利刀橫截皮上瘤心。頑固而不能刺入。故用測瘡子搜之。則瘤內含包結硬如骨者。始知為結石瘤。於是徐徐剝去上面之頑肉。而鑿開結石之周圍。用鑷子緊夾其石端。一力拔出。其形質骨而似石。拇指大而甲錯。深蝕於肉中。重一錢六分。除去結石後。務截削其贅皮頑肉。貼著緩和之膏藥。大約十有二日全愈。而不留瘢痕。此乃麻疹之餘毒。聚滯眼胞。結膿經久。變為石形者也。宜哉前醫不能取功。實奇異之一證也。後讀池北偶談云。高陽民家子。方十餘歲。忽臂上生宿瘤。痛癢不可忍。醫皆不辨何症。一日。忽自潰。中有圓卵墜出。尋化為石。劉工部霖以一金售之。治膈病如神。蓋此證之類歟。然忽生瘤。又墜出。尋化石。豈有此理乎。漢人慾奇其事。言多過於實。卻涉妄誕者。每每如此。宜深察焉。</p>

<h2>一眼珠翻花證</h2>
<p>弊鄉鄰里農家之兒。年甫七歲。嘗患疳眼。兩目漸昏。父負其兒來請治。診之。瞳孔大為放開。其色茶褐。更有金光而射人。予告其父曰。是疳眼至重之證也。非惟眼目不治而已。若不速加治療。則恐有折生之變。其父陽奉陰背。歸以告鄰翁。翁云。每觀輕證說為重病者。此時醫風習也。予今年七旬。既已目擊許多兒輩。此等證候。皆是屬雀目。予雖非醫家。治之百驗無一失。決勿顧慮。此宜用北越八星鰻。不日而得效矣。野老性資愚蠢。厚信其言。何復商議乎。因得鰻魚二三尾。與兒食之。蓋雖不食之。毒將發。況促之以擾亂乎。左眼歘發起疼痛。漸次眼珠膨脹。尋突出於腔外。經日遂為翻花。其大如拳。壓迫左頰。臭穢不可近。觸風寒則更加疼痛。窮啼窮哭。不忍聽見。父抱兒子走來訴云。前不從師言。以致是敗。悔亦何及。只願垂愍。以救兒子之命。予曰。日前觀察。既為難治。今無奈之何。可憐幾日而斃。</p>
<p>門人柁井生。療一兒患疳眼者。瞳孔如貓目。而運轉無度。其色或黃或灰白。時時變換。無定主焉。用磁朱丸消疳煎之類。七八日而無寸效。於是辭謝之。其父竟托治筑前眼科某。然而依然不愈。辭治而歸矣。居六七日。眼珠迸出。垂下至頰。疼痛殊甚。晝夜呻吟。遂登鬼簿。</p>

<h2>一夜光眼證</h2>
<p>門人小川生。一日來語予曰。頃者見異證。此上毛伊勢崎富商之女兒也。年僅二歲。常患疳眼。而瞳子變於茶褐色。晝日昏昧。似欠其鑑視之機者。病家欲請先生之一診。以決治與不治。師幸勿推辭。因拉小川生到其家診察。女兒天稟脆弱。而頭面青脈縱橫。胸膈脹滿。而下腹如削。臍房突起。牝戶爛穢。其瞳孔闊大。而如有金光。此遺毒至險之證也。故告以患眼不治。及有夭殤之變。其夜留宿。二更之後。乳媼抱女來。於坐側低聲耳語云。是女之病。非醫藥之所能療也。其實鬼祟也。父母深秘不告師。師勿貌視。予訝其言。竊叩其故。媼云。此女在暗室。則目光熒熒如貓兒。非鬼祟而何乎。因退燈火。就暗處驗之。果如媼言。予云勿異。此乃疳眼之重證也。病勢暴劇。既已如此。則無法可施焉。不經數日而夭折。</p>
<p>一童子。歲方十六。眼光漸漸暗昧。白日不能視物。夜間去了了。如辨毫末者。觀其瞳孔。則茶褐色。而運動迅疾。在於暗中。則眼光閃爍。不異於貓目。此乃為遺毒之重證。故以所有險狀。懇告其父母。然癡騃野人。不知戒懼。去托一庸醫。寄宿其家。而調療六七日。一夜。遽然眼目發劇痛。苦惱煩懣。比曉眼珠破裂。而迸出數碗鮮血。終趣無期。</p>
<p>已上所列之二件。雖奇怪之證候。然皆是遺毒之劇證。而瞳子變茶褐色。金光如射人者。必有折生之變。不可不慎察焉。</p>

<h2>一晝盲眼證</h2>
<p>友人村上生。嘗語予曰。塗見晝盲之患者。窺其眼目。並無異狀。予聞之。甚恨不細驗。近者寓崎陽。診一病客。所謂晝盲者也。其證自已牌起漸昏昧。至午未二時。全不眎物象。過申牌後。徐復如初。至夜間則了了無纖翳。驗其眼目。如常。曾無疼痛赤脈。然而在白晝。則瞳孔縮小過度。形似針孔。此差失鑑視之妙機。而致此異證者也。予探索其起因。咽喉左右。累累結核。四支骨節。麻木疼痛。故明知梅毒之為變。告患者云。病根於黴毒。不速加治療。則恐有喪明之變。患者云。實如師言。患黴殆及三年。而後為眼目之患矣。願師賜治療。以救廢痼。則深荷再造之恩。於是用薰劑七日。頗覺爽快。再薰七日。病減過半。後投半夏瀉心湯加大黃。兼用除濕煉。約十日許。諸證皆除。得再見天日矣。</p>

<h2>一陰陽擬似證</h2>
<p>患眼有寒熱擬似之證。蓋真寒真熱易辨。而陽證似陰。陰證似陽者。難明焉。故世醫往往於是證取敗者。不少矣。若夫信目病屬火之說。偏用涼藥。或不問寒熱。而施激熱之點劑者。不足與語之。</p>
<p>崎陽一商客。沾染疫眼。兩目滿腫。其色紫黑。腫上更生多少之粟粒許小腫瘍。弩肉蟠脹。而溢出於胞瞼外。頭疼目痛尤甚。大渴引飲。不能平臥。一醫診云。實陽真熱也。與大承氣湯。點寒冷之藥。刺絡大為放血。而病熱愈劇。疼痛益甚。於是接予診之。脈沉數。而好熱飲。舌上赤色有光。予斷云。此極陰之證。若誤用攻下。則盲瞶在旦夕焉。即投烏頭湯五貼。疼痛如忘。服用桂枝加附子湯二十日許。而告平快。</p>
<p>一老媼。年方六旬。嘗患水腫。調治之後。卒然眼目滿腫。而皮色不變。弩肉膨脹。兩眶閉鎖。其子謀治於一內科醫云。高年之人。久患水腫。氣力脫乏。遂致是患。故補其不足。援其虛憊。則眼目不療而自痊。此治本之術也。於是投補中益氣湯。而證候不變。依然如舊。醫云。藥弱而不能敵病勢也。非用附子則不見效。又撮合附子劑與之。五六貼。苦楚特甚。頭痛如刺。媼子不知所措。走求予診。察其證。頭疼項強。舌胎赭黃。臍下痛。而便結五日。脈微而有力。窺其眼目。則左瞳既變青色。予云。是陽證也。今誤用溫熱劑。左目全盲。右眼亦危篤。遽制涼膈散加石膏與之。五貼。大便快利。而頭疼退。目痛息。再照用前處劑。三十有餘日。而得救偏眼於敗中矣。此等之證。皆系陰陽擬似者也。世間多有之。非具眼良工。則不謬者鮮矣。</p>

<h2>一銀屑散漫證</h2>
<p>銀屑眼者。取其形狀而命名也。其證白膜變青色。上面如散著銀屑者。此病小兒居多矣。</p>
<p>有一小兒患此證。初起在白膜上現出如雲母粉者。漸次散漫。遍及角膜。眼眵溢流。殆至喪明。其腹膨滿。按之如羅網。鼻下赤爛。流涎不止。此蛔蟲之所致也。外點家方金鳳水。內投獨步丸。三四日。而下蛔十餘頭。稍得諸症寧貼。遮障亦少退。然而父母恐兒之瀉下。請止後服。故制烏梅圓與之。六七日。前證復發。是以諄諄解說利害。再投獨步丸。兼用紫圓。二日而下蛔數十頭。腹候調和。吐涎即止。自此漸愈。銀屑脫落。明朗復舊。小兒往往有此證。但凶劇如是者罕矣。</p>
<p>獨步丸方（蔓難錄）　治蛔蟲得食即嘔。或服蛔藥而吐逆者。</p>
<p>鷓鴣菜（十兩）　蜀椒（一握）　大黃（三兩）</p>
<p>上三味各為末。糊丸如梧子大。服五十丸至一百丸以上。以蛔下為知。</p>

<h2>一無痛楚角膜破裂證</h2>
<p>鄉里有一孩兒。平常患蛔證。一日。其母抱兒哺乳。卒然眼珠放響。角膜破裂。迸流眼漿。母大吃驚。急忙連喚其丈人。丈人遽來。見其眼目。則角膜縱裂。如刀截破口。吐出玲瓏如軟珠物。於是速招近鄰之醫。醫亦愕然不知所措。掬所脫出之物。放在掌上。走來示予。予曰。此水晶液也。遂同去觀之。眼珠既陷凹。似不甚疼。按其腹部。蛔蟲滋蔓。以致是險證也。甚矣蛔之為害。豈可不懼哉。後舉此態狀以語友人子祐。子祐云。我有一相識野口某者。此肥前佐賀武夫也。一日。家僮之婦。襁負其兒而至。一拜起頭之間。兒之偏目。歘發爆聲迸裂。而鮮血淋漓。尋眼珠靈液。盡脫出墜地。然無苦楚之狀。卒然盲瞶云。此與吾子所親見相符焉。是等之證。實系奇病。今特錄載。以備學者之參考。</p>

<h2>一大怒暴盲證</h2>
<p>江都一士人。固患近視眼。因夏天奔走炎塵中。而覺視力困倦。歸來渴甚。急命㜎婢取冷水。婢乃盛水於磁盞。失墜碎之。士人稟資躁暴。見之赫怒。厲聲罵詈。俄而兩目昏昧。不辨咫尺。家人驚愕。慌忙接予診察。頭旋項強。心下痞懣。而有悸動。予曰。終日步走熱地。以疲弊視力。加之大怒逆上。致此暴盲也。原是系支飲之人。宜用吐下之劑。急與一物瓜蒂散。湧吐黏痰如煤者一升許。而眼目稍知明暗。再投三黃加辰砂。來日退病大半。猶用前劑。五六日而平復如故。予懇告患者云。次後宜務抑壓躁暴。省慮靜養。若容不謹。則恐有再發之變矣。士人甘服云。不敢背教諭焉。後歲余。再至其家。其妻為予供酒餚。謝曰。師之妙術。非徒開瞽盲。並能治其譟疾。爾後慎謹不懈。無復昔日之狂態。非國手何能如此乎。予曰。此乃家君之幸福。而非鄙術所能為也。</p>

<h2>一醉中暴盲證</h2>
<p>信州一富翁。年齡五旬。天資肥胖。性酷嗜酒。一日登樓。留宿三日。晝夜沉湎。擁妓醉臥。至曉開眼。則物景模糊。惟見黃色耳。翁愕然無知所措。遽乘肩輿而歸。予偶淹滯其地。急邀予診察。眼目無異狀。而瞳孔為少放開耳。按腹部心下。膨滿作蛙鳴。右腹凝硬。頗覺疼痛。知是支飲之證。而大便秘結。故叩問其因。翁云。平常甚苦便秘。自遊妓館。至今日未上廁。每每沉醉。則口吐黃水。常患背項拘急。予乃眼中點麝香單味之水劑。而與吐劑。令吐宿水。一吐之後。所見黃色。變作白色。再製調胃承氣湯與之。下黑硬之燥屎幾塊。尋暴瀉四五行。而白色漸退。得稍辨明物景。乃令患者坐暗室。禁見爍光。省思慮。斷酒肉。靜養調和。約十餘日而報快。</p>

<h2>一冒寒暴盲證</h2>
<p>北越喜多生。一日冒寒風。步走歸家。浴溫湯。卒然不見物。予時寓在其家。生與予商議治法。予曰。此被凝寒閉塞。遽得溫暖。而血行擾亂。以致此證也。速須灌水。渙泄鬱熱。生頗有難色。然無奈之何。從予托治。急命盛冷水於一大桶中。令患者灌浴。霎時許。寒戰咬牙。如不可堪者。即出而掩覆被褥溫蒸之。又少時強。則熱汗如流。衣衾淋漓。於是血行快暢。身體爽利。眼目頓明。生以手加額謝云。君若不寓弊廬。則無復見天日。此實微軀之福也。遂折節入於予門。</p>

<h2>一小眥漏證</h2>
<p>弊邑森田生。嘗病目。小眥下瞼。或腫或消。發則羞明癊澀。如是凡四五年。百治無效。予診之云。此小眥漏之證也。將細小測瘡子搜其腫處。進入二三分。持小尖刀截開左右約三分。其創口點鉛糖一粟粒許兩次。而無再發之患。此證初起。生稗種於淚點上。竟蠹蝕為漏管者也。但因微細之小口。故漏口時自閉塞。似有痊矣。然漏囊充實汙液。則又發小腫瘍。如此。因仍持久。不能治也。古人所謂小眥漏。蓋指是證乎。</p>
<p>往年治一男子。其證閱月或兩月一證。發則絡胞焮腫。經三數年而不治去。右眼小眥下約五分許。生出腫瘍。潰膿後不收口。常流泄稀液。若瘡口閉者。則目忽赤。澀痛難開。予診之。瘡口經久變為漏孔者也。故將披針截開其口。用烙鐵熨頑肉。當施術之時。胞瞼紅腫。故在耳後貼發疱膏。眼目施洗蒸劑。四五日。而紅腫消。漏口隨愈。皆是治漏之效驗也。</p>

<h2>一衰弱眼證</h2>
<p>凡眼科之所難者。實在衰弱眼一證。此證有自發因病誤治之別。其自發者。如老年血氣衰乏。或勞困失意之人。或讀書之客。或盡心竭力之徒。使眼目自為勞憊。視力自致衰弱。甚則有失明之懼焉。所有之論說。詳載前編。故不贅。因病誤治二條。開列於下。</p>
<p>信州沙水村一巫。資性豪悍。嘗有事於江都。迴路遽然頭腦沉重。似有物之鎮壓。故取手帕緊箍眉上。急投逆旅。至於翌曰。前證特甚。不堪痛苦。加之兩目朦朧。自知其不輕證。慌忙歸家。屢換數醫。百治無效。予偶客遊其地。來乞診察。診之。此全患黴毒。久服燥劑。竟譖騰上部以致之也。故體軀疲弊。下腹無力。此虛脫之證候也。因此撰用溫暖強壯之劑。則大便秘結。頭重更甚矣。故再按方投緩和之大黃劑二貼。而下利三行。每上廁必為昏倒。予告患者云。子病原因黴毒之所致。而疲弊甚矣。非調養身體。則不可用薰劑也。不用薰劑。則不能除病根也。然緩和之藥。尚有是變動。矧薰劑乎。當歸家以調養矣。辭之經五六日。復同妻子來告訴云。前日已領誨諭。歸家再四熟思。自意為瞎生存者。不及速死之愈也。伏乞用薰劑而拔病根。倘若有變。以登鬼錄。不敢怨悔焉。今殊將妻子立保。切委身付託。予辭謝。然固請不置。故投與輕易之薰藥七炷。誡云。每日一炷。每時一節。宜在巳未戌之三牌薰之。若有藥煩。則勿薰焉。致有誤。則不可悔也。既用薰至於第二日之午牌。館主急忙來叫云。巫祝死矣。予亦驚愕。速去視之。直視咬牙。口流黃水。四肢厥冷。殆如死人。即使門人調赤龍水灌口而喚蘇。然煩亂苦惱。昏絕一日夜五次。每昏絕與前方。及曉稍緩。明日自謝云。深荷高誼。若非師則必斃於藥煩。遇是苦楚者。原是自作之孽也。不敢瞞師。請語其緣故。初用薰劑。當夕頭腦頗輕。心覺快暢。見有一炷之效如此。昨日竊結束三炷而作一枝。一時薰了。因之釀成此變也。師幸勿異焉。願歸家以保養幾日。予領諾。七八日後。差兒深謝往日之勞。且云。前所附給之薰藥。既用四炷。所餘之三炷。在家薰之。頗覺明快。願更賜數炷幸甚。予固辭不與焉。此乃因病為衰弱之證也。</p>
<p>赤龍水方（家方）　治用薰劑而暝眩昏倒者神驗。</p>
<p>胭脂（俗稱細工紅者一錢）　龍腦（三分）</p>
<p>上以水一合調勻。開口灌之即蘇。</p>
<p>崎陽一里正。嘗患疫眼。遷延而不痊。門人柁井生療之。其證赤脈縱橫。角膜昏翳。故烙其血絡。點脫翳之藥。投發表劑。頗得爽快。然患者心性輕浮。動輒換醫。轉託治筑前之眼科。而證候加重。歸來又引一醫生。生原信奉西學之徒。故勸患者親受西醫之治。西醫診云。此刺絡之證也。宜為放血。日日瀉血。重六七兩。外點丹礬水劑。患者大為疲勞。翳膜增厚。竟作廢痼之人。予再遊崎陽之日。親診是人。則身軀疲弊。心下之悸動如洪波。此為不治之證。因以辭謝。此西醫誤主見。因其出血過度。變作衰弱眼者也。</p>

<h2>一二患者治驗</h2>
<p>上毛一士人高柳氏患目。東奔西走。醫治數年。殆歷盡關左諸名家之手。而無寸效。其族人有稱和三郎者。廄橋之商賈也。亦眼疾累年。經歷信尾北越諸眼科。而無點驗。更整頓行李。叩京攝之醫門而求治。起臥逆旅。一年有餘。又無微效。空歸故山。然心未放下。猶冀望良工之一顧。而撥雲見天。於是訪高柳氏細告私意。且云。君諳關東名家。稱良工者為誰也。吾欲請其一診焉。高柳氏笑曰。那得有國手乎。若有則吾儕之眼睛。豈有不治之理乎。前聞子之歸。吾將間關西名家。今聽子之說話。關西亦無一個良工。夫足跡盡天下大半。而不遇於好先生者。命也。抑亦無其人歟。嗚呼。天下瞶盲者甚多矣。豈惟我輩而已哉。費財尋醫。服無用之藥。折有限之生。則悔亦何及乎。和三郎聽是言。自恨其薄命。嗟嘆不已。悶悶歸家。一日。偶遇藩醫大澤生。細訴其事。大澤生曰。吾友普一。倦遊而歸於故山。子往請其一診。和三郎感謝。告高柳生同至焉。予先熟察高柳生。眼珠膨脹之證。而漸次變作近視眼者也。故投利水劑。兼用鈴礦丸。點金鳳水。既經數日。雖覺證候稍輕。然未見全效。予私思此非適證之方。一日。患者在家。將消遣幽悶。而散步後園。偶見朽木蟠根。形狀磊落可駭可喜者。因自尋思。此宜移假山之側。以作燈臺。必增雅觀。及移來放置。木根一臂支地不安。故揮斧喝聲。斫斷木臂。因其用力極烈。斷根飛激。打著頭腦。眩暈昏倒。家人吃驚。就為喚甦醒後。頭痛如刺。眼目疼脹。手不可近。急遽乘轎而至。因路上動搖身體。頭痛愈劇。加之發起嘔吐之證。吐出黃水四五碗。於是令患者平臥安息而診察之。則頭疼少退。目痛稍易。然以噁心猶未止。屢催嘔氣。速調猛汞水劑。令湧吐一升余。而諸證全安。眼目亦覺明快。予既知方之非適證。然自思而不得焉。此原來可用吐方之證也。宜哉不見全效。今偶中暗驗。豈不愧吾心哉。所謂法不遠人。人自遠法者是也。後隔旬日。再施吐劑。而雙睛全復明矣。次診和三郎。原胎毒上攻之所致。而曠日經久。漸生昏翳者也。故施薰劑。斟酌瑞雪散解毒之類投之。創制脫翳浴眼法而用之。幾乎半歲。宿病敗折。然猶遺微細之翳。時予促西遊。患者聞之云。倚賴先生之德庇。暗中得明燭。但恨欠一分之治。今聽知起行。情願跟隨轎子而期全愈。切勿推辭。予懇止之曰。兩尊在堂。不可遠遊。且崎陽在雲山萬里之外。欠膝下之供養。不啻時月也。不如自愛保重。以俟予回轅矣。父母亦察知兒子之有是舉。差人安慰止之。患者無奈之何。揮淚而別。噫。</p>

<h1>續眼科錦囊卷二</h1>

<h2>眼科療具圖解凡例</h2>
<p>一傳曰。工欲善其事。必先利其器。一刺撥矇者。全賴利器之力。然則器械之用。亦大矣哉。此所以有圖解之舉也。然龍泉太阿。俟其人而後有驗。故雖有利器。非其人則貽害亦不鮮也。不可不熟習焉。得諸心輸諸手。心手相應。如庖丁之割牛者。此曠世之工手也。</p>
<p>一所描寫之圖。分為一十有九。而序列療具者。通計四十八種。不拘新古精粗之制。以供學者撰用。</p>
<p>一如洗蒸浴眼之諸器。畫施用之狀。令以知其梗概。</p>
<p>一描寫內翳針刺之狀。附載於卷尾者。照見前編。令以知其用針之妙處也。</p>
<p>一終末述圖解。詳論器械之製作用法。且細辨新古作用之便不便。</p>
<p>一諸般療具。崎陽所制者為佳。然工有巧拙。制有利鈍。不可不撰焉。</p>
<p>一收藏器械。宜將熟皮糊著板上。而截開皮面。每器嵌插安定。以要不動搖。</p>
<p>一磨光銕器。一經梅雨。則必生鏽。宜用熟軟皮屢為拭淨。約夏月每十日一拭。冬日一月一拭。塗抹山茶油而收藏之。</p>
<p>一臨施用之時。欲利其器。宜將猛汞丹滓之細末少許。撒在熟皮板上以磨之。令器銳利。卻優於砥礪。且無鋒刃毀折之慮。</p>
<p>一器械以適意應手為妙。然制有古今之異。用有難易之別。家家所取用。亦略不同矣。然全其功者。因手術之熟不熟。與器械之便不便也。宜試之於實地。如其取捨。在學者之斟酌。切勿拘執。</p>
<figure>
<figcaption>第一圖（一）</figcaption>
<img data-orig-src="urn:270:07966.jpg" alt="搭頭枕圖">
</figure>
<figure>
<figcaption>第一圖（二）</figcaption>
<img data-orig-src="urn:270:07967.jpg" alt="遮風鏡圖">
</figure>
<p><b>第一圖解</b></p>
<p>搭頭枕　諸般手術。皆用此枕。宜將藤片編成。或熟皮包木以製造亦可也。此要令患者頭不轉側也。</p>
<p>遮風鏡　患眼之人。步走白地時。掩遮砂塵。躲避光輝。或保養視力。皆用此器。宜用薄板或厚紙造之。</p>
<p>（甲）外面圓孔。可貼著綠玻璃。然僻地若欠玻璃。須以綠紗代之。</p>
<p>（乙）左右二小孔。發泄蒸發氣之處也。</p>
<p>（丙）左右絲繩。用以繫於耳朵。</p>
<figure>
<figcaption>第二圖</figcaption>
<img data-orig-src="urn:270:07968.jpg" alt="滴水器圖">
</figure>
<p><b>第二圖解</b></p>
<p>滴水器　此以硝子製造者。令水藥點滴於目中之器也。</p>
<figure>
<figcaption>第三圖（一）</figcaption>
<img data-orig-src="urn:270:07969.jpg" alt="洗眼器圖">
</figure>
<figure>
<figcaption>第三圖（二）</figcaption>
<img data-orig-src="urn:270:07970.jpg" alt="洗眼器施用圖">
</figure>
<p><b>第三圖解</b></p>
<p>洗眼器　此以軟棉布包藥。繫縛木柄。以洗蒸眼目之器也。</p>
<figure>
<figcaption>第四圖（一）</figcaption>
<img data-orig-src="urn:270:07971.jpg" alt="蒸眼器圖">
</figure>
<figure>
<figcaption>第四圖（二）</figcaption>
<img data-orig-src="urn:270:07972.jpg" alt="安著磁器於機上覆軟布狀圖">
</figure>
<p><b>第四圖解</b></p>
<p>蒸眼器　此將沸熱藥湯盛於磁碗。掩覆軟布。置在機上。以薰蒸眼目。</p>
<figure>
<figcaption>第四圖（三）</figcaption>
<img data-orig-src="urn:270:07973.jpg" alt="蒸眼器施用圖">
</figure>
<figure>
<figcaption>第五圖（一）</figcaption>
<img data-orig-src="urn:270:07974.jpg" alt="浴眼器圖">
</figure>
<figure>
<figcaption>第五圖（二）</figcaption>
<img data-orig-src="urn:270:07975.jpg" alt="浴眼器施用圖">
</figure>
<p><b>第五圖解</b></p>
<p>浴眼器　此盛藥水於器中。冷浴眼目之器也。用硝子或磁器製造之。若遇闕用。則代用酒鍾亦可也。</p>
<figure>
<figcaption>第六圖</figcaption>
<img data-orig-src="urn:270:07976.jpg" alt="貯汁袋圖">
</figure>
<p><b>第六圖解</b></p>
<p>貯汁袋　此以溫湯包貯袋中。以手徐握之。則自口注射而灌入胞瞼內。洗淨砂塵入目者。或眼目出血者。宜灌冷水。</p>
<p>（甲）曲頭　搜索飛塵深匿胞瞼里者甚便。</p>
<p>（乙）螺轉　接袋口處。</p>
<p>（丙）直頭　曲直兩管。皆用銀或角。</p>
<p>（丁）接續袋口之處。亦設螺轉。以便插拔。</p>
<p>（庚）皮袋</p>
<figure>
<figcaption>第七圖</figcaption>
<img data-orig-src="urn:270:07977.jpg" alt="小水銃與顯微鏡圖">
</figure>
<p><b>第七圖解</b></p>
<p>小水銃　以藥汁灌洗淚管漏之器也。以象牙造之。銀亦可也。</p>
<p>顯微鏡　睫毛內刺之證。用鑷子拔去其睫毛時。毛根微細難見。或者窺內翳及天稟雀目等皆用之。</p>
<figure>
<figcaption>第八圖</figcaption>
<img data-orig-src="urn:270:07978.jpg" alt="溫金圖">
</figure>
<p><b>第八圖解</b></p>
<p>溫金</p>
<p>[一號]治爛弦風沉痼翳膜及有熱眼疾。將此器置在於溫湯。或熱灰中。令溫暖適度。按擦眼胞上。以溫散其毒。宜以銀或黃銅造之。器尾作匕頭者。令便滴點藥。或翻轉眼胞也。</p>
<p>[二號]銕造者。</p>
<p>[三號]二三兩具皆古制。不便。</p>
<figure>
<figcaption>第九圖（一）</figcaption>
<img data-orig-src="urn:270:07979.jpg" alt="測瘡子圖">
</figure>
<figure>
<figcaption>第九圖（二）</figcaption>
<img data-orig-src="urn:270:07980.jpg" alt="點藥匕與點藥管圖">
</figure>
<p><b>第九圖解</b></p>
<p>點藥匙　點著煉蜜劑之匙。以玳瑁或牛角造之。</p>
<p>點藥管　吹送點著研末劑於翳膜上之器也。多用銀造之。鳥翅管亦可也。</p>
<p>測瘡子</p>
<p>[一號]銀造者。宜用偷針眼之類。用力壓出膿液。或探診瞼著眼珠等</p>
<p>[二號]纖細鯨髭製造者。探淚管漏必用之。</p>
<figure>
<figcaption>第十圖</figcaption>
<img data-orig-src="urn:270:07981.jpg" alt="鑷子圖">
</figure>
<p><b>第十圖解</b></p>
<p>鑷子</p>
<p>[一號]拔去睫毛內刺。及麥芒竹木刺宜用之。</p>
<p>[二號]予效漢制所創造者。至於揭起囊翳。及弩肉攀睛。或夾出赤脈。卻優於鉤矣。</p>
<p>[三號]拔去微細物。西洋用此器。然不如二號鑷子適用。</p>
<figure>
<figcaption>第十一圖</figcaption>
<img data-orig-src="urn:270:07982.jpg" alt="藥個、三稜針、小鋒針圖">
</figure>
<p><b>第十一圖解</b></p>
<p>藥個　因眼目疼痛。而項背拘急上衝頭痛者。切禁導引摩擦及灸火。恐有擾亂其毒。惟有此藥個能泄出抑鬱之邪。先將三稜針刺破肩井。或瞳子窌之邊。宜用之令吸血矣。</p>
<p>三稜針　形似柳葉而尖利者。宜以用刺破諸部。截開瘡瘍矣。</p>
<p>（甲）螺轉　令尖鋒長短適度。</p>
<p>（乙）針管</p>
<p>小鋒針　破潰偷針。麥粒腫。白膜腫瘍。瞼生風粟之類之針。</p>
<figure>
<figcaption>第十二圖</figcaption>
<img data-orig-src="urn:270:07983.jpg" alt="橫截刀、披針圖">
</figure>
<p><b>第十二圖解</b></p>
<p>披針　風眼疫眼及系多血之眼。目刺尺澤委中而放血之器。</p>
<p>橫截刀　焮腫眼疫眼風粟稗種之類。諸般屬熱之眼目。橫截胞瞼裡面。而瀉血之器也。施用之。宜輕輕下手。若截痕深。則痊後其瘢痕變頑硬之質。可慎焉。眼胞瀉血之法。各家不同。有將龍骨或燒鹿角貼著胞里。剝脫表皮。或用麥芒燈心之類。摩擦胞瞼。或針頭亂刺者。然磣疼澀痛殊甚。皆是庸工之手段。不可施用也。</p>
<p>[一號]從來所用。</p>
<p>[二號]予門所常用。優於古制。</p>
<figure>
<figcaption>第十三圖（一）</figcaption>
<img data-orig-src="urn:270:07984.jpg" alt="竹夾、銅夾、方鑷子圖">
</figure>
<figure>
<figcaption>第十三圖（二）</figcaption>
<img data-orig-src="urn:270:07985.jpg" alt="第十三圖（二）">
</figure>
<figure>
<figcaption>第十三圖（三）</figcaption>
<img data-orig-src="urn:270:07986.jpg" alt="第十三圖（三）">
</figure>
<figure>
<figcaption>第十三圖（四）</figcaption>
<img data-orig-src="urn:270:07987.jpg" alt="灣頭鋏圖">
</figure>
<p><b>第十三圖解</b></p>
<p>竹夾　緊夾睫毛內刺。上瞼低垂等證。則經日贅皮自枯剝。此具世間所通用者也。</p>
<p>（甲）將竹夾挾贅皮圖</p>
<p>（乙）用絲緊結之圖</p>
<p>銅夾　今世西學家所用者。螺轉則自緊閉密合。挾定贅皮。優於竹夾。</p>
<p>方鑷子　予所創制之器也。將截斷贅皮。先用之以緊挾患部。以灣頭鋏剪斷贅皮。用針縫合創處。此術急速。且瘢痕無展開之慮。</p>
<p>灣頭鋏　瘍科所用者。說明於前。</p>
<p>針　此用蠟絲穿之。</p>
<p>（甲）截斷贅皮圖</p>
<p>（乙）用絲縫合圖</p>
<figure>
<figcaption>第十四圖</figcaption>
<img data-orig-src="urn:270:07988.jpg" alt="按定環圖">
</figure>
<p><b>第十四圖解</b></p>
<p>按定環</p>
<p>[一號]以銀造之。刺內翳及施諸般之手術。使眼不得運動。</p>
<p>（甲）用綿花纏絡之。</p>
<p>[二號]予所創造。用玳瑁或牛角。比一號大有便宜。</p>
<figure>
<figcaption>第十五圖</figcaption>
<img data-orig-src="urn:270:07989.jpg" alt="小烙鐵圖">
</figure>
<p><b>第十五圖解</b></p>
<p>小烙鐵</p>
<p>[一號]此烙頑翳及血絡之具。</p>
<p>[二號]截開囊翳後。烙所存贅膜。或除眼疔腐肉。宜用此具點一點。</p>
<figure>
<figcaption>第十六圖（一）</figcaption>
<img data-orig-src="urn:270:07990.jpg" alt="烙鐵施用圖">
</figure>
<figure>
<figcaption>第十六圖（二）</figcaption>
<img data-orig-src="urn:270:07991.jpg" alt="烙鐵圖">
</figure>
<p><b>第十六圖解</b></p>
<p>大烙鐵</p>
<p>[一號]焮腫眼疫眼之類。疼痛劇甚。而手難近者。以棉布浸藥汁。安置眼胞上。先令烙鐵投火通紅。離絕胞上五六寸許。以火氣徹透。而疼痛漸和。心覺快哉為度。</p>
<p>[二號]施用同前。</p>
<figure>
<figcaption>第十七圖（一）</figcaption>
<img data-orig-src="urn:270:07992.jpg" alt="曲鋏圖">
</figure>
<figure>
<figcaption>第十七圖（二）</figcaption>
<img data-orig-src="urn:270:07993.jpg" alt="鉤圖">
</figure>
<figure>
<figcaption>第十七圖（三）</figcaption>
<img data-orig-src="urn:270:07994.jpg" alt="小灣頭鋏圖">
</figure>
<figure>
<figcaption>第十七圖（四）</figcaption>
<img data-orig-src="urn:270:07995.jpg" alt="直剪刀圖">
</figure>
<p><b>第十七圖解</b></p>
<p>鉤　囊翳及血絡將截斷時。用之勾起。</p>
<p>直剪刀　剪斷血絡之器。</p>
<p>曲鋏　用法同上。</p>
<p>小灣頭鋏　斷絡根。剪瘜肉。或要用剪刀於微細處部。則此器為便。</p>
<figure>
<figcaption>第十八圖</figcaption>
<img data-orig-src="urn:270:07996.jpg" alt="尖銳刀、偏刃刀圖">
</figure>
<p><b>第十八圖解</b></p>
<p>尖銳刀　血灌瞳人。水樣液混濁。眼珠膨脹。及截開角膜。而漏泄汙液。皆用此器。</p>
<p>偏刃刀　此刺因眼瞼焮腫而血絡怒脹者。或縱截淚管漏囊。此器以偏刃。無傷損別部之慮。</p>
<figure>
<figcaption>第十九圖</figcaption>
<img data-orig-src="urn:270:07997.jpg" alt="圓鋒針、三稜鋒、曲頭鋒、銀造圓針、三尖針圖">
</figure>
<p><b>第十九圖解</b></p>
<p>眼科手術。以針刺白內翳為至難焉。先審察其治不治。撰定用具應手與否為要焉。如內翳鑑察法。詳論於本編。宜對照。今摹寫內翳針數本。以示後學。</p>
<p>圓鋒針　以鐵造之。宜用墜下內翳。</p>
<p>三稜鋒　自內膜橫刺而壓下內翳甚便。鋒頭銳利細尖為要。</p>
<p>曲頭鋒　此具刺內翳時。便於以右手施術右眼。西說所謂以左手刺右眼者。實非良術也。</p>
<p>圓針　各家從來所用者。以金銀造之。鋒頭鈍劣。而不及鐵造者。加之庸拙之徒。臨術恐懼。或未熟之輩。用此鈍鋒。謾下手一刺。遂成不治之盲。不可不察焉。</p>
<p>三尖針　有用此針以刺角膜正中者。然除去內翳之後。瘢痕生翳遮明。此具斷勿取用焉。</p>
<figure>
<img data-orig-src="urn:270:07998.jpg" alt="針刺內翳圖">
</figure>
<p><b>內翳針刺圖解</b></p>
<p>夫於內翳針之法也。本朝各有所施略不同。而據彼則非此。學此則謗彼。是非互起。褒誹交揚。然熟煉精通者甚罕。而暗察盲治者頗多。近日閱某氏所著內翳針刺之圖。用金造毫針。先刺角膜正中。而不能墜下內翳。則再刺其右側。尚不治。則又刺其側。自一刺再刺。乃至五六刺。終於白膜分際外。嗟乎。是何術哉。以一兩刺而不能發矇之鼯技。假令百刺。亦何益矣乎。蓋鋒頭強觸葡萄膜。則必有焮熱擾動。而變作不治之證者。至漢洋諸家。亦有精粗之分。漢者粗而無卓見。洋者精則精。然如截角膜。夾出內翳。此亦非穩和術也。予所揭示之圖。溯源漢洋諸家。試術真境實地。數十年於茲矣。考究熟煉。有自所神會。而非一時疏漏誑人之舉也。然至一刺撥矇之妙。實在工者之手段矣。</p>
<p>[一圖]左手將按定環按著眼珠。右手把針刺眼。壓下內翳圖。宜使針鋒到於瞳孔中。</p>
<p>[二圖]示針頭刺白膜之部位。</p>
<p>[三圖]三稜鋒刺左眼之圖。</p>
<p>[四圖]曲頭鋒刺右眼之圖。用圓鋒針亦同焉。</p>

<h2>眼目十禁三戒</h2>
<p>夫眼目者。陰陽之精華。人身之主宰。意識之府。玄靈之舍。而造化天機之妙工。無不萃於斯焉。智巧嗜欲之要樞。無不出於茲焉。故不鄭重愛護。則真水減損。精液衰乏。不以失眼目洞明之機。招弱殤夭札之變者。殊罕矣。先生嘗謂予曰。凡眼目有十禁。此乃放除戕害眼目之事件。而指示調養之道路者也。傅氏六養。亦皆包括於此中矣。一淫。二酒。三浴。四力。五行。六火。七風。八細。九辛。十白。謂之十禁。此本為患眼者所設之禁戒也。然而與其慎於已病之後。孰若戒於其未萌之前乎。我門素設三事教戒以授與於人。攝生之君子。全神工之天機。要生涯之明朗。則當守持之。一飽食。二過房。三耽酒。而食之害人也。比酒色尤甚矣。何則。酒色尚當緩之。唯飲食者人之所急。而不可時日缺之。故殘生之斧。多在於斯矣。古人云。百病之源自口入。信哉。故平常吃淡餐素。以節房室。以禁耽酒。使胃囊清虛。則精神充實。而靈氣周流。如此而不懈。則昏者復明。明者應較離婁也。且眼口二竅者。洗嗽之禁溫水。日夜將冷泉灌洗幾回。此乃明目固齒之良法也。張來所謂食取補氣。不飢即止。飽生眾疾。可見飽食不利於人。豈可不恐戒哉。予聽先生之至言。深悟了攝生之道。嗚呼。持此禁戒。則不止眼目明朗。實卻百病。到於壽域之妙訣矣。頃者眼科錦囊續編稿成。辱命校字。故書此言以代跋語云。天保七年歲次丙申。春正月既望。時在京師僑居。越藩醫官舟岡知衡謹識。</p>

<h1>題眼科錦囊後</h1>
<p>嘗見世之眼科書。陰陽五行。配當相剋之論。而暗摸影捉。空里談空。無盡於事實矣。後讀普一本莊先生所著之眼科錦囊者。排闢千古浮妄之蔽。考究之今日實測之上。附以經驗之方。詳論細辨。昧者明焉。塞者疏焉。廓然闢其道於今日矣。惟恨後編未成。猶肥甘不足於口也。今歲。予負笈遊於京師。偶聞先生自崎陽還。淹留於此地。躍然而喜。即詣先生。語次。及後編之舉。先生曰。事務鞅掌。不遑採毫以度時日。然而門人書肆之責。亦不以可止焉。濟世餘暇。述作已脫稿。即出示之。余閱之。輒舉前編所漏逸之品目。與其所施用之療具。並圖解。以便學者撰採。噫。先生仁術之厚。其所發明者。不私之於己。而公於世。苟志於是道者。以斯書為宗主。為規則。以臨實地。必免暗摸影捉之誚矣。</p>
<p><u>天保乙未晚秋撰於京師寓居</u></p>
<p><u>越前醫官　勝澤圭元璋</u></p>

<h1>跋</h1>
<p>朝菌不知晦朔。蟪蛄不知春秋。今世業醫者。僅知一方一術。禁秘自尚。亦與彼何異哉。若吾師普一先生。則不然也。其志大。其學博。折衷古今。摘要和漢。說病源。辨藥性。皆諄諄無不盡焉。書成而公之於世。嗟乎。使天下人假明於離婁。察微於毫末者是也。</p>
<p><u>崎陽　梶井元鴻識</u></p>
