<header data-type="book">
<h1>醫階辨證</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>汪必昌</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1810">公元1810年</data></dd></div>
</dl>
</header>

<h1>序</h1>

<h1>猝中暴厥辨</h1>

<h1>暴厥五證辨</h1>

<h1>中風類中辨</h1>
<p>風中之狀猝然僕不省人事口噤涎潮身熱自汗惡風中後見瘄痱偏枯喎僻痹痛諸症　火中之狀猝僕不省人事口噤涎潮內外皆熱不惡風自汗口後或見口瘖偏枯喎僻痹痛諸證　濕中之狀猝僕不省人事口噤涎潮身不甚熱中後亦見口瘄偏枯喎僻痹痛諸證古云風者謂八方風邪中人也　火中者即劉河間所謂心火暴甚忽然勃發而昏僕無知也　濕中者即朱丹溪所謂濕生談談生熱熱生風風痰上壅故亦猝然無知也　三者內外之因不同而病相類故曰類中風　然中風者其人表虛外為風邪所中直入臟腑鼓痰火而作是風為本而痰火為標　火中濕中二者乃痰火內動而生風是濕痰與火為本而風為標治應不同三者之證相類有可辨者在風則身熱自汗在火則內外皆熱而不惡風無汗在濕痰則痰盛而身不熱以此辨之　二病中後隨顯臟腑之中證者是必牙挾風邪而作與中風相似一類故名之曰類中風</p>

<h1>口噤涎潮同糞異辨</h1>

<h1>諸瘖證辨</h1>

<h1>半身不遂手足不隨麻木不仁痿躄軃曳辨</h1>
<p>半身不遂者或左或右半體頑麻肢節拳曲而不直遂在左為癱在右為瘓手足不隨者手足痿罷而不隨或軟弱無力　麻木不仁者肌肉頑痹搔之不知痛癢　痿躄者下體盤骨懈弛機關不束行則　而不正軃（朵）曳者　肩而曳行半身不遂即偏枯也　四肢不隨即瘓也　麻木不仁即著痹也　曳亦痿之類也</p>

<h1>偏枯三證辨</h1>

<h1>喎僻五證辨</h1>

<h1>冬令外傷七證辨</h1>

<h1>春令外傷七證辨</h1>

<h1>夏令外傷七證辨</h1>

<h1>秋令久傷三證辨</h1>

<h1>溫疫三證辨</h1>

<h1>暑霍亂寒霍亂二證辨</h1>

<h1>吐利證辨</h1>

<h1>四時瘧十二證辨</h1>

<h1>傷飲證辨</h1>

<h1>傷食食傷脾胃辨</h1>

<h1>惡食不能飢不欲食三證辨</h1>

<h1>飢飽傷中勞役傷中辨</h1>

<h1>外傷內傷辨</h1>

<h1>內傷脾胃內傷肝腎辨</h1>

<h1>虛損勞傷極辨</h1>

<h1>頭痛寒熱內外十五證辨</h1>

<h1>真熱假熱辨</h1>

<h1>陰分潮熱三證辨</h1>

<h1>痰食潮熱辨</h1>

<h1>心煩內外證辨</h1>

<h1>惡寒反惡寒辨</h1>

<h1>背惡寒三證辨</h1>

<h1>振慄五證辨</h1>

<h1>寒熱八證辨</h1>

<h1>陽厥陰厥寒厥辨</h1>

<h1>六郁為病辨</h1>

<h1>郁痞證辨</h1>

<h1>痰生百病八症辨</h1>

<h1>飲生諸病五證辨</h1>

<h1>痰飲涎沫辨</h1>

<h1>咳嗽分證合兼證辨</h1>

<h1>喘哮短氣三證辨</h1>

<h1>喘上氣二證辨</h1>

<h1>短氣少氣二證辨</h1>

<h1>吐噦三證辨</h1>

<h1>噯氣呃逆二證辨</h1>

<h1>噎膈膈咽不通三證辨</h1>

<h1>走哺關格辨</h1>

<h1>噎膈反胃三證辨</h1>

<h1>嘈雜心瘥辨</h1>

<h1>嘈雜懊憹煩躁三證辨</h1>

<h1>心下痞胸痹胸痛三證辨</h1>

<h1>水腫氣腫二證辨</h1>

<h1>水腫水脹辨</h1>

<h1>水脹氣血脹谷四證辨</h1>

<h1>中滿如脹辨</h1>

<h1>內傷發黃外傷發黃辨</h1>

<h1>疸黃二證辨</h1>

<h1>五疸證辨</h1>

<h1>黃腫疳血黃辨</h1>

<h1>癥瘕痃癖四證辨</h1>

<h1>五積辨</h1>

<h1>積聚辨</h1>

<h1>諸積兼見證辨</h1>

<h1>息奔息積辨</h1>

<h1>新血衄血畜辨</h1>

<h1>色辨</h1>

<h1>口中出血諸證辨</h1>

<h1>鼻衄血二證辨</h1>

<h1>溲血淋血辨</h1>

<h1>下血諸證辨</h1>

<h1>久痛證辨</h1>

<h1>內痛證辨</h1>

<h1>頭痛分經辨</h1>

<h1>厥氣痛辨</h1>

<h1>大頭瘟雷頭風二證辨</h1>

<h1>頭面腫痛分症經辨</h1>

<h1>心痛心胞絡痛胃痛脾痛胸痛膈痛辨</h1>

<h1>三陰腹痛辨</h1>

<h1>腹痛諸證辨</h1>

<h1>腰痛諸證辨</h1>

<h1>風寒濕熱四痹證辨</h1>

<h1>諸痹證辨</h1>

<h1>行痹支飲痹辨</h1>
<p>行痹肢節走注痛　支飲作痹脅肩背流注痛</p>

<h1>腳氣腳腫辨</h1>

<h1>太陽風痙二證辨</h1>

<h1>痙項強二證辨</h1>

<h1>痙外因內因辨</h1>

<h1>瘈瘲諸證辨</h1>

<h1>鶴滕風筋攣腳氣三證辨</h1>

<h1>眩暈鬱冒三證辨</h1>

<h1>癲狂癇譫妄四證辨</h1>

<h1>譫妄語辨</h1>

<h1>驚恐二證辨</h1>

<h1>汗辨</h1>

<h1>發汗自盜汗辨</h1>
<p>發汗者以汗藥發其汗　自汗者不分寐而皆汗出</p>

<h1>頭汗手足汗辨</h1>

<h1>寐瞑臥安四證辨</h1>

<h1>多臥嗜但欲寐三證辨</h1>

<h1>消渴口渴嗌乾辨</h1>

<h1>強中筋疝辨</h1>

<h1>傷寒下痢常病泄瀉諸證辨</h1>

<h1>泄痢辨</h1>

<h1>大便燥大便難大便實大便秘辨</h1>

<h1>癃淋辨</h1>

<h1>癃閉關格辨</h1>

<h1>溺秘轉脬辨</h1>

<h1>小便秘小便少便難小便淋瀝辨</h1>

<h1>膏淋白濁辨</h1>

<h1>氣淋胞痹辨</h1>

<h1>小便不禁遺溺辨</h1>

<h1>夢遺漏精辨</h1>

<h1>白濁小水渾濁辨</h1>

<h1>囊縮辨</h1>

<h1>寒疝木腎辨</h1>

<h1>水疝㿗疝辨</h1>

<h1>沖疝奔豚辨</h1>

<h1>厥疝寒疝辨</h1>
<p>厥疝囊冷而不堅結腹中冷痛　寒疝囊結如石控睪丸痛</p>

<h1>內障外障青盲辨</h1>

<h1>目昏目暗眩辨</h1>

<h1>耳龍耳閉辨</h1>

<h1>鼻鼾鼻淵腦漏辨</h1>

<h1>鼻流白涕黃水辨</h1>

<h1>牙齒出膿血四證辨</h1>

<h1>重舌木舌辨</h1>

<h1>舌胎辨</h1>

<h1>喉痹喉閉咽腫咽嗌痛辨</h1>

<h1>咽痛喉瘡辨</h1>

<h1>經水淋瀝崩漏辨</h1>

<h1>錯經妄行血溢辨</h1>

<h1>帶下證辨</h1>

<h1>產後鬱冒暈辨</h1>

<h1>腸覃疝瘕辨</h1>

<h1>石瘕宓瘕辨</h1>

<h1>虛勞三證辨</h1>

<h1>郁風血三痛辨</h1>

<h1>寒熱如瘧二症辨</h1>

<h1>血分水分辨</h1>

<h1>經閉妊娠辨</h1>

<h1>漏胎行經辨</h1>

<h1>附虛症用藥法</h1>
