<header data-type="book">
<h1>胎產證治</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王肯堂</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1602">公元1602年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>婦人病之別立科目，濫觴於扁鵲之為帶下醫，繼之者仲景有婦人方，至元代設帶醫、乳醫、褥醫等科。宋·陳自明著《婦人良方》，明·王肯堂著《女科準繩》，清·武之望著《濟陰綱目》，而婦人科遂獨立矣。夫婦人與男子之不同治，根於生理之不同軌，故經帶病、乳疾及胎產諸症，為婦人方書立論之鵠，江浦陳珠泉君能醫，於婦人科獨長，嘗藏《胎產證治》一書，書為肯堂所著，清·岳昌源氏重訂。分月經、胎前，臨產、產後四大類，言不過二萬，而綱舉目張，簡明扼要，婦人病症，瞭如指掌，宜乎陳君珍為青囊環寶，藏之數十秋，按法施治，全活數百人也。茲念異說橫流，中醫凌替，實效方書，亟宜公布，檢付中醫書局印行，於是學者得一暗室明燈，終南捷經。而陳君仁厚之心，醫林共仰，王氏不傳之秘，薄海爭誦焉。既倩吾兄伯未審定，余謹為序如此。至於肯堂之書，流傳者僅《六科準繩》，前歲中醫書局得《醫學筆麈》，今復得《胎產證治》，吾知其遺書之失傳者，當不止此，則更願中醫人士竭力搜求，使先賢之苦心得永垂於不朽，曷勝馨香禱之！</p>
<p><u>民國十九年四月上海秦之萬又安予</u></p>

<h1>陳序</h1>
<p>《金匱》治婦人妊娠產後難病諸篇，立方不多，而精理名言，讀者觸類引伸，無在不有左右逢源之妙，承其緒而昌明者，實惟《千金方》。唐宋以來，婦科之書，汗牛充棟，往往一症數方，或十數方，方日多而用其方者，乃有效有不效，時醫以四物湯為婦科總方，其妙處在川芎一味，以其味辛氣溫，通上下而行血中之氣也。然有失血過多之症，氣息幾微，不但禁用香竄之川芎，即四物亦宜慎用，然後嘆泥方以治病，或昧治而試方，雖經方亦足以殺人，烏可以不致謹也。夫治病之道，有經有權，是故調經方論，前人主於溫補，有合酌用寒涼者，審其對症則然也。胎前主治，大要貴於安胎，有時胎之不安，由於抱病，用藥以去病為先者，審其對症則然也。產後諸症常法，當大補氣血，雖有他症，以末治之，然當察其輕重緩急，間有酌用苦寒兼及驅蕩之品者，審其對症則然也。凡吾所言，有時於《金匱》、《千金》與否，今不暇計，而要之讀書者，固宜觀其通也。有明·王肯堂先生《六科準繩》中女科一種，允為醫林一大著作，而不免稍失之繁，今此書為肯堂先生手稿，清初名醫岳泗庵先生刪校重訂，雖僅一卷，而簡當精核，余得其稿本於江右黃氏，藏篋中三十年矣。今重違中醫書局錢君季寅之請，校印行世。吾知手此一編者，其於婦科證治，如觀螺紋而數家珍也，用兵者無一定之法，弈棋者無一定之譜，惟醫亦然，苟昧於通變而泥成方，吾知其為孫武弈秋之所棄，終其身不能涉岐黃氏之藩籬者也。若昧症治而以方試病之庸醫，更何論焉，明乎此而後可讀此書，且可進而讀《金匱》、《千金》之書。</p>
<p><u>民國十八年六月江浦陳洙珠泉氏序於滬寓之種瑤草堂</u></p>

<h1>懷胎總論</h1>
<p>乾道成男，坤道成女，男為陽，女為陰，氣屬陽，血屬陰，男多氣，女多血，陽清輕而陰重濁，氣無形而血有形也。氣無形故充滿於中，血有形故流溢於外。然是血也，以其初而言，即先天真一之水。女子十四而天癸至，自此而始，如潮汐之不愆其期，然後血脈調和，病無由生，一失其期，而生育亦因以窒矣。故治女病以調經為先，善調經者，以順氣為主，氣順則經自調，經調則血常足，是以月事既止，新血復生，一交媾而胚胎即結。血少精多，則精裹血而成男，血多精少，則血裹精而成女。欲得子者，以月事初止，三日之內，新血始生而氣清，交感成胎者必男也；三日之後，新血漸多而氣濁，交感成胎者必女也。有交感於三日之外而亦生男者，必其平日血虛不盛也；有交感於三日之內而亦生女者，必其平素血氣大盛也。其又有血氣足而月事又調，宜乎成胎而久不生育者，必男子精氣不稠，或精寒不相交結，非女子之病；其有男子精血素充而又無子者，必女子子宮寒不能攝精，非男子之病。蓋女子尺脈常盛，若沉細而遲，則知子宮之寒，或子宮不寒而亦無子，必其血不足，或痰有餘也。然血之不足，痰之有餘，視其形之肥瘦而已，蓋瘦人多血虛，血虛則不能凝精，肥人多濕痰，濕或流注於下焦，則痰血混淆，而化氣不清，亦不能凝精也，肥人、瘦人而亦有子者，又何也？蓋瘦人多血虛，道其常也，若月事既調，而無熱症，則血常滋潤而不枯，是以能生育也；肥人多濕痰，亦道其常也，或肌肉不甚浮白，飲食無厚味，則濕痰亦少血氣猶清，故能生育也。由是觀之則女子之血所以宰生化之機也，方其未成胎也，此血周流不息，應期而至，及其已成胎也，此血榮養於內以護髮胎。凡初孕即頭眩噁心，其或嘔吐，厭飲食而常思酸者，乃足厥陰肝經養胎也。肝主風，故頭眩；肝有餘，故噁心嘔吐；肝勝脾，故厭飲食；肝喜酸，故思酸也。過此則諸經輪次養胎，七八月間兩足浮腫，乃足太陰脾養胎也，脾主四肢，故足浮腫也。蓋脾本足之陰經，胎氣下墮，故見於足也。每一月則一經養之，十月則十經養之，十月足而產焉。其餘二經，則又養於既產之後而化血為乳，乳亦血也。而其色白，蓋胸前部位屬太陰肺經，乃西方金色本白，血從而來，故變赤為白也。夫血皆資飲食以生者也，故既產而飲食倍於平日，以產後屬陽明胃經養之，胃能化飲食，飲食能生血，血既足則化為乳。此特論胎前產後之事，原其本於血，歸功於十二經。若胎產調理，又各具於諸症條中。</p>
<p>婦人脈常欲澀弱於男子，尺盛而右手大，是其常也。反此是逆。</p>

<h1>月經總論</h1>
<p>衝任二脈流通，經血應時，謂之月水。以其平和之氣，常於三旬一見，似月盈虧，不失常度。如外為六氣所幹，內為七情所郁，於是有經病焉。有月候不調者，有月候不通者，有兼疼痛者，有兼發熱者，須細推之。不調有趲前，有退後；不通有血滯，有血枯；疼痛有常時作痛，有經前經後作痛；發熱，有常時發熱，有經行發熱，析開於後。</p>

<h2>月經不調</h2>
<p>經候先期者，血熱也；色紫者，血熱甚也；紫黑有塊，熱之更甚也。後期者，血虛也；色淡者，血虛甚也；或先或後而色淡稠黏者，痰也。或止或來無定期者，因氣血不調，隨之行止也。或一月兩至，或數日一至者，氣虛血熱也；或經後數日而不止者，乃血海滑脫，兼火邪以動之也；既止而隔三四日復見微血者，以舊血未盡為新血所催而復出也，可隨症施治。</p>
<p>先時而來及色紫者，以涼血為主，宜黃連為君，佐以焦梔、槐花，同四物煎服，又倍加白芍、生地，減川芎為妥。後時而來，及色淡者，以補血為主，宜四物為君，佐以丹參、續斷、龜膠、阿膠、元參、五味、麥冬煎服。色淡稠黏者，化痰為主，宜二陳為君，佐以烏藥、香附、枳殼、蘇梗，同四物加生薑，砂仁煎服。或止或來無定期者，以調氣補脾腎為主，宜君以白朮，佐以山藥、杜仲、川斷、陳皮、烏藥、砂仁，同四物磨沉香服。或一月兩至，或數日一至者，以補氣涼血為主，宜八物湯加黃連、為末、赤芍、連翹，黑蒲黃煎服。經候數日不止者，以止血涼血為主，宜骨皮為君，佐以黑荊芥、側柏葉、為末、蒲黃、黃連、地榆，同白芍、熟地。經止後隔三四日復見微紅者，惟以四物湯加白朮、茯苓、山藥、陳皮、甘草煎服，雖不服藥，亦無害也。</p>

<h2>月經不通</h2>
<p>脈左寸沉，心病也，寸脈弦，關脈沉，肝病也。兩寸弱小屬虛，滑屬實，寸關調如故，尺脈不至者，月水不利。</p>
<p>經閉者，言新血滯而舊血凝積，臍腹腰痛，血瘕血風，與熱入血室之症，多自此而始，然閉之之由，或月事將臨，適感暴怒，肝氣拂逆，血隨氣而升，亦令經閉。或月事適至，因渴飲水，並食生冷，或坐水中沐浴，寒氣入內，血則凝滯，亦令閉經也。或墮胎多產而傷血，或久患潮熱而消血，或久發盜汗而耗血或脾胃不和，飲食減少，而不能生血，或思慮悲哀過極，致心脾虧損而不能養血，凡此皆能令人經閉。其有肥白婦人月事不通者，多是濕痰、與脂膜壅滯也。若閨女經閉，多因恣食酸鹹煎炒，或逾年未嫁，或年未及而思男，以傷心血也。寡婦經閉，因鬱悶百端，心火無時不起，或飲食厚味，遂成痰疾，其症乍寒乍熱，面赤心煩，或時自汗，肝脈弦長，當隨所因而治之。</p>
<p>因感暴怒而經閉者，宜君以青皮，佐以官桂、木香、歸梢、赤芍、紅花、桃仁、山楂、蓬朮、牛膝、蘇木，好酒煎服。因食生冷而經閉者，宜君以官桂，佐以乾薑、木香、香附、厚朴、山楂、紅花、桃仁、當歸、牛膝，好酒煎服。因坐冷水而經閉者，前方加白朮、乾薑、溫中燥濕之品，好酒煎服。因墮胎多產而傷血，久患潮熱而消血者，不可行血，只以四物為主，佐以木香、香附、厚朴、甘草、茯神、丹參養調血氣，久而自通矣。因脾胃不和，飲食減少，不能生血者，亦不可行血，宜白朮、人參、茯苓、白蔻仁、木香、陳皮、甘草，以調其胃，同四物煎服，久而自通矣。因憂欲傷心而血涸者，宜調心氣，開鬱和脾，如石菖蒲、遠志、丹皮、沉香、白蔻、青皮、川芎、當歸、延胡索煎服。肥白婦人經閉，宜柴、樸、枳實為君，佐以蒼朮、半夏、陳皮、香附、烏藥、牛膝、桃仁、木通、秦艽煎服，則濕痰去，脂膜開，而經自通矣。閨女經閉因食煎炒者，紅花當歸散、單大黃膏；因思男者，四物加柴胡、黃芩、石菖蒲、遠志，或逍遙散加芩、連；因怒者，四制香附加生地為丸，磨沉香汁服。寡婦經閉，柴胡抑肝湯、越鞠丸，或四制香附細磨沉香汁服。</p>
<p><u>通經散</u></p>
<p>當歸　桂心　川烏（泡）　乾漆（炒）　青皮大黃　川椒　莪朮　桃仁　乾薑</p>
<p>等分為細末，分為四分，用一分同米醋熬膏和前藥，丸如桐子大。每服三十丸，加至五十丸，空心鹽湯下。</p>
<p><u>通經散</u>　治月水不利，臍腹作痛，或小腹引腰氣攻胸膈。</p>
<p>牛膝（酒製）　桂心　赤芍（炒）　桃仁（去皮尖）　元胡索　歸身（酒浸）　丹皮（各一兩）　木香（三錢）</p>
<p>共為末。每服二錢，溫酒調下，或用四五錢煎服。</p>
<p><u>桃仁煎丸</u></p>
<p>桃仁（去皮尖，麩皮炒）　大黃（濕紙裹煨）　朴硝（各一兩）　虻蟲（炒黃，五錢）</p>
<p>共為末，以醇醋二斤，在瓦器內，慢火熬至斤許，下前藥不住手攪成團。丸如桐子大。前一日不用吃晚飯，五更初用溫酒下五粒，日午時即下，如赤豆汁，候血鮮紅即止，續以調氣血藥補之。一本，赤豆汁下，有雞肝蛤蟆衣末。</p>
<p>通經不可一例用藥，有血虛血敗而不可行者，俱在尺脈中視之。</p>
<p><u>附方紅花當歸散</u></p>
<p>紅花　歸尾　紫威　牛膝　蘇木　甘草　赤芍　桂心　白芷　劉寄奴　熱酒調下。</p>
<p><u>大黃膏</u></p>
<p>錦紋大黃（四兩）　酒浸焙乾為末，用醋一碗，熬成膏，丸如芡實大。每服一丸，臨臥熱酒化下。</p>
<p><u>逍遙散</u></p>
<p>柴胡　白朮　當歸　白芍（各一錢）　炙草（五分）　煨姜煎服。</p>
<p><u>四制香附丸</u></p>
<p>香附米（一斤，分四兩酒製，四兩醋製，四兩童便制，四兩米泔制，各浸一宿，曬乾用）　當歸（酒洗）　熟地（酒洗）　白芍　川芎（各四兩）　澤蘭葉　白朮　陳皮（各三兩）　黃柏（酒炒）　甘草（酒炒。各一兩）</p>
<p>上為末，酒糊丸桐子大。每服七十丸，空心白湯下。</p>
<p><u>抑肝湯</u></p>
<p>柴胡　青皮　赤芍　丹皮　蒼朮　為末　骨皮　香附　神麯　川芎　生地　連翹　甘草</p>
<p><u>越鞠丸</u></p>
<p>香附（醋炒）　蒼朮（泔浸，油炒）　川芎　神麯（炒）　梔子（炒黑，等分曲和丸）</p>

<h2>疼痛潮熱</h2>
<p>月水循期，纖疴不作，而後有子，若疼痛等症，必先去病而後滋血調經，經來先腰痛者，血滯而氣不順也。經止而復腹腰痛者，血海空虛氣不收也。經前潮熱者，血虛有滯也。經後潮熱者，血虛有熱也。尋常潮熱者，參發熱門用藥。</p>
<p>經將來而作痛者，行氣為主，君以木香，佐以枳殼、青皮、胡索、丹皮、香附、蓬朮，同四物湯煎服。經即止而復作痛者，補血為主，君以地黃，佐以川芎、當歸、白芍、人參、白朮、茯苓、甘草、香附、陳皮。經前潮熱者，以逍遙散為主，佐以丹皮、桃仁、胡索。經後潮熱者，逍遙散加換地骨皮、生地、炒黃芩，此方加減退熱聖藥。有咳，加桑皮、貝母、桔梗、知母、麥冬。咳血，加生地、為末、丹皮。嘔吐，加陳皮、竹茹、旋覆花。</p>
<p><u>濟陰丸</u></p>
<p>香附米（一斤，分作四分，醋、酒、童便、艾湯各浸四兩，曬乾為末）　艾葉　川芎（酒洗）　全當歸（酒洗）　白芍（酒炒。各為末）　生地　熟地（酒浸，搗爛。各四兩）　阿膠（二兩，蛤粉四兩炒成珠，酒化）</p>
<p>同各藥糊丸桐子大。每服五十丸，空心淡鹽湯下。</p>

<h2>血鼓</h2>
<p>婦人鼓脹，雖因氣食而成，然成於血者居多，如成於氣食者，腹雖脹而經不閉，成於血者，經必閉也。婦人血恆有餘，故月見其血而不病。若閉而不通，則日積充滿，少腹先膨，久則上連中脘，脹緊如鼓，青筋綻露，而血鼓之症成矣。其因產後惡血不下，逆而上升，滲入皮膚，充積於中宮，甚至上騰於面，而成紫色者，必死之症也。</p>
<p>治惟破血通氣為主，宜君以桃仁，佐以紅花、歸梢、牛膝、三稜、莪朮、木香、蘇木、穿山甲、厚朴、官桂、青皮、牙皂，以大腹皮一團先煎，後入各藥乃妙。或用杜牛膝搗汁，和酒服。或用血見愁搗取汁，酒和服之。</p>

<h2>血瘕</h2>
<p>婦人瘕塊，有因痰與氣成者，然成於血者居多，痰與氣食成塊，而不凝於經水，成於血，則經水雖來，亦必有時而斷也。此必經水來後，當有舊血未盡，偶感寒氣，或觸怒氣，留於兩脅少腹之間，故成血瘕也。</p>
<p>治以破結軟堅為主，宜君以莪朮，佐以三稜、歸梢、桃仁、紅花、官桂、穿山甲、牙皂。共醋煮為末，將血見愁搗汁，浸阿魏令軟，研爛醋調和陳米粉粥為丸，好酒下，每服百丸，日二服。</p>

<h2>血腫</h2>
<p>血腫與水腫不同，先因經脈不通而腫，名曰血腫。乃瘀血化水，閉塞胞門，流走四肢，悉皆腫滿，此更難治，先因小便不通，身面浮腫，而後經水不通名曰水腫，治各不同。血腫但調其經，則水自消。用胡索　川芎　當歸　牛膝　川斷　赤芍　官桂　靈脂　白芷　羌活（各五分）　赤苓　牽牛　半夏　甘草（各三分）　姜煎。</p>
<p>水腫乃脾不能制血，與水俱浮，二症通用腎氣丸。水分，君澤瀉，加防己、葶藶、木通；血分，君丹皮，加紅花、牛膝。</p>

<h2>血風</h2>
<p>血風者，紅水上攻頭目，昏迷不省人事，甚至頭面皆成赤斑。此因經水適臨感冒風邪所致。蓋風為氣，善行而數變，其勢易上而難下，經水為風所激，故倒流而上行也，此血症之最急者。</p>
<p>治以四物為主，加防風、荊芥、桃仁、紅花、天麻、薄荷、白朮，必用白朮者，以其能去上面遊風，及利腰臍間血故也。或用蒼耳草，一名喝起草，陰乾為末，酒調服。其功最大然不可多服。</p>

<h2>熱入血室</h2>
<p>熱入血室者，必經水適臨，或身熱而經止，經隨熱而入於血室，則往來潮熱，如瘧而無定期，或日二三發者是也。熱久不止，多成骨蒸，可不早治乎。</p>
<p>治宜四物湯中，倍加生白芍、生地黃，佐以赤苓、黃芩、連翹、麥冬、丹皮服之。</p>

<h2>崩淋</h2>
<p>崩、淋二症相似而不同。崩者，如土之崩，源泉逆流而不禁乃血熱而兼氣虛不能收攝也。淋者，如水之流，淋漓艱塞，而不快，乃鬱熱而氣亦滯也。然崩則皆血，而淋則赤白砂石之異，赤屬血，白屬氣，砂石者氣血之尤濁者也。治此病者，惟調養氣血，清其熱而已。</p>
<p>脈數小為順，洪大為逆。</p>
<p>血崩不止，必用棕灰、牡蠣、釜底墨、焦梔、黃連、槐花、側柏葉、人參、黃耆、甘草。為末飛鹽湯下。為丸亦妙，或用小薊草汁。同藕節汁調和服，或用蒼耳草，燒存性，好酒調下。急則治其標，白芷湯調百草霜服，甚者以棕灰、靈脂半生半熟為細末，酒調服，然後用調和氣血之藥。紫血成塊者，四物加黃芩、黃連、香附、荊芥、蒲黃，三味俱炒黑。虛有氣虛、血虛之異，氣虛者，四物加參、耆、乾薑；血虛者，四物加阿膠、艾葉、乾薑；痰，加二陳；夜不眠，加棗仁、茯神。脾胃虛損，不能攝血歸源，六君子湯加川芎、當歸、柴胡，怒氣傷肝，則肌膚手足俱有血絲露出，血失常經故也，加味逍遙散。淋症，宜先通利，用大劑牛膝為君，佐歸尾、枳殼、烏藥、香附、砂仁、木通、黃連、為末、赤苓、赤芍、生甘草，水煎好，加童便沖和服之，或用車前子為末，酒下一日四五服。</p>

<h2>帶下</h2>
<p>帶脈在腰，如帶之狀，帶下雖有赤白，總屬腎虛。其病與淋相似，然淋病多散而薄，必覺臭穢；帶疾多滑而稠，無腥穢之氣為辨耳。</p>
<p>脈虛遲者生，急疾者死。尺脈澀而弱，或洪數而促，皆為便濁白帶。</p>
<p>治帶下不論赤白，皆以杜仲為君，佐以四物、四君、黃柏、澤瀉。若小腹先痛而後下者，不用黃柏，加胡索、香附、砂仁。又方，杜仲灼去絲為細末，每服三錢。男子白濁用車前子四兩煎湯下，婦人帶下用好酒下，立止。虛者人參湯下。</p>
<p><u>清氣調榮湯</u></p>
<p>當歸　生地　地榆　陳皮　香附（各一錢）　川芎　澤瀉　白苓　白芍（各八分）　萸肉　延胡（酒炒末）　明天麻（各二錢）　丹皮（錢半）　黃連（酒炒七分）</p>
<p><u>補榮丸</u></p>
<p>當歸（酒洗，曬乾，三兩）　茯苓　川芎　香附（酒炒）　石斛（醋洗）　白芍（各二兩）　萸肉　天麻　川斷（酒炒）　阿膠（蛤粉炒）　滑石（酒拌炒，研）　牡蠣（鹽泥煅過）　龍骨（嫩白者火煅）　丹皮　地榆（各兩半）　生地（二兩五錢，煮搗爛）</p>
<p>各藥為末，醋糊丸桐子大。空心服，或酒或淡鹽湯，送下二三錢。</p>
<p><u>附加味逍遙散</u></p>
<p>四物加白朮　柴胡　為末　丹皮　茯苓</p>

<h1>胎前總論</h1>
<p>如一兩月經水不通，無病似病，呵欠倦怠，神思昏昏，手足軟弱，其脈滑大而勻，或尺脈獨動者，乃孕脈也。經云：陰搏陽別，謂之有子。搏者陰脈逼近於下，別者陽脈別出於上，陰中見陽，即滑脈是也。脈滑而動，是陰施陽化，須當有子。又少陰脈動甚者孕子也。手少陰屬心，足少陰屬腎，心主血，腎主精，精血交會則有娠。又，三部脈浮沉正等，無病而經不至者妊也。脈經云：左尺脈浮洪者男胎也，右尺脈浮洪者女胎也，兩尺俱洪者為兩男，俱沉實者為兩女。</p>
<p>一月如露珠，足厥陰肝經養之，蓋胎者血之始成，而肝則血之所藏，造化之相為合也。然受氣之始，則足少陰腎經也。天一生水，得氣最先，故男子先生左腎，女子先生右腎，而婦人右腎，亦以系胎，為胞之根蒂也。足厥陰養胎，多有噁心嘔逆，蓋肝常有餘，本不能容物，有娠則肝氣為胎所礙，故噁心嘔逆。過此則別經養胎矣，以平肝順氣為主，君白芍以平肝，佐枳殼、砂仁、陳皮、蘇子、烏藥以順氣，藿香、白蔻、竹茹以止嘔逆。或瘦人多熱，更加芩、連。</p>
<p>二月如桃花瓣，足少陽膽經養之。此時腹中或動或不動，若吐逆思酸，則有孕明矣。以安胎為主，白朮、黃芩為君，嘔逆加陳皮、香附、枳殼、茯苓、芍藥。</p>
<p>三月如蠶繭，手厥陰心包絡養之。其脈滑疾，重按則不散，男女未有定形，宜用變女為男法。明雄精一塊，重三四兩者，以繹囊佩左脅下。是月相火所主，胎最易墮，慎之慎之。以白朮補脾為主，黃芩清熱，芎、歸、芍補血，不問有病無病，即以五味為丸服。胎有可疑者，用驗胎法以川芎末，一錢。五更時艾湯調服。微動為胎，若連服不動為血凝。</p>
<p>四月男女已分，男思酸味，女思淡味，始受水精以成血脈，手少陽三焦養之。其左脈疾者為男，右脈疾者為女，左右俱疾當主二男。</p>
<p>五月足太陰脾經養之。脾主四季，五月之時，兒四肢皆成，其脈重手按之不散，但疾不滑者，五月胎也。</p>
<p>六月足陽明胃經養之。脈喜洪長，遲澀防墮。</p>
<p>五月六月胎不安者，或腹微痛，或腰痛，或飲食不美，用安胎飲，八物去苓，加黃芩、陳皮、蘇梗、砂仁，或固胎飲，八物去茯苓，加黃芩。血虛通加阿膠，痛者加砂仁。</p>
<p>七月手太陰肺經養之。男向左脅動，女向右脅動，脈實大牢強者生，細小微弱者死，滑疾者兒將生也，若暴下惡水多者，其胎必墮，宜預防之，須頻服安胎飲。</p>
<p>八月手陽明大腸經養之。脈實大弦緊者生，沉細微弱者死。如胎不安者，單用砂仁末，但非八九月，不可多服。</p>
<p>九月足少陰腎經養之。用達生散：大腹皮（錢半）　黃芩　白朮　當歸（各一錢）　人參　紫蘇　甘草（各五分）　春加川芎，夏加黃芩，秋加澤瀉，冬加砂仁，氣虛倍參、術。氣實加香附、陳皮，血虛倍加當歸、生地，性急加柴胡，腹痛加木香，胎動加蘇梗、地黃，渴加麥冬。</p>
<p>十月五臟六腑俱備，納天地之氣于丹田，自當正產。</p>
<p>當歸　川芎　黃芩　白朮　香附（各一錢）　甘草（二分）</p>

<h2>墮胎小產</h2>
<p>墮胎之脈，必大而無力，或澀而短。</p>
<p>小產多在三、五、七陽月，火能消物故也。若前次三月而墮，則下次亦必如期，先於兩月後，服清熱安胎藥，五七月亦然。大抵屬氣虛血甚者為多，故白朮、黃芩為安胎聖藥。益母草活血行氣，有補陰之功，能清熱涼血，使血循經而不妄行，乃養胎。更當詳辨其虛實，如氣虛用四君子，血虛用四物，總用杜仲丸。杜仲（去粗皮，以糯米煎湯勻，薑汁炒斷絲，八兩）　川斷（去蘆，酒浸，三兩）　為細末，以山藥末五六兩，打糊為丸。一方，棗肉煮爛，杵和為丸。每服七十丸，米飲下。一方，用豬腰（一具，去內筋膜）　入杜仲（四五錢，炒去絲）　外用苧絲縛系，紙裹煨熟食之，苧根湯下。</p>

<h2>心痛便閉遺尿</h2>
<p>妊婦心氣痛者，胎礙其心故也。胎壓膀胱，則小便不通，其有遺尿不禁者，必其胎氣受寒，逼近膀胱之故。</p>
<p>心氣痛者，治以縮胎降氣為主，宜君以枳殼，佐以砂仁、沉香、蘇子，入四物服之。治小便不通，以利小便為主，宜君以木通，佐以車前、甘草梢、赤苓、澤瀉，兼用搐鼻法以升其氣。烏梅、牙皂（等分）　為末。略吹些少於鼻中，鼻中酸癢，欲嚏不嚏，其氣必升，先服前藥，如一飯之頃，後用搐鼻法。治遺尿不禁者，以溫胎為主，宜君以艾葉，佐以茴香、五味、牡蠣，同豬尿胞煎服。</p>

<h2>腹痛</h2>
<p>妊婦腹痛，人皆謂之胎痛，而不知胎痛，自有分別，不可以腹痛例觀也。如努力任重，致傷其胎而作痛者，方可以言胎痛。或平素瘦弱，血不足以潤其胎，其痛如芒刺引掣者，亦可以言胎痛。若偶傷食感氣，觸穢惡而作痛者，非胎痛也。當審其脈，若滑而弦，必是氣食，若得澀脈，乃為胎痛，由於血不足也。治以安胎，生血為主，宜用四物以生血，佐砂仁、白朮、黃芩以安胎，陳皮、木香、香附以調氣。</p>
<p>妊婦腰痛，與男子不同，男子腰痛，腎虛也，妊婦亦有腎虛者，然因勞力居多，勞力任重，致傷胞系，胞系與腎相連，受傷則腰必痛，痛甚則胞將脫，多致小產。其有素享安逸，而娠妊腰痛，必受胎之後，不節房事所致也。迨十月足腰痛者，欲產也。脈訣云：將產之候脈離經，一息二至，號離經，謂胞系欲離經也。此脈在孕婦則欲產，在病人則氣絕，不可不知。</p>
<p>治例以安胎為主，宜砂仁、白朮以安胎，杜仲、川斷、甘草以止痛。</p>

<h2>下血</h2>
<p>妊婦下血，人皆謂之胎漏，不知胞外有血，胞內皆水，若下血則皆胞外之物，豈胎漏耶。然下血過多，則無以養胎，下水過多，則胞乾兒死，皆危症也。若臨月腹痛、胞破，則為欲產，非胎漏也。漏胎下血，其勢已危，用阿膠為君，鹿角屑、熟地、艾葉、白朮、砂仁、黃芩為佐，加蔥白一握，水煎送下黃蠟丸一二錢，日三服。</p>

<h2>外感雜證</h2>
<p>妊婦傷寒、瘧疾，皆致小產。蓋寒戰，則遍身筋骨皆振，易動其胎故也。二症皆以安胎為先，定寒熱為次，宜大劑白朮、砂仁、黃芩、紫蘇以安胎。傷寒，則兼用羌活、防風、甘草；瘧疾則兼用柴胡、川芎、芍藥；有食，加山楂、麥芽、枳實、神麯、陳皮。</p>
<p>妊婦痢疾、泄瀉，雖不至墮胎，然臨月多有產難。蓋痢疾則下血，而胎無所養，泄瀉則去水，而胎無所滋，必有乾枯澀滯之患。若暫泄痢者，亦無大害。治痢疾，以當歸、黃連為主，佐以白朮、茯苓、芍藥、木香、陳皮、甘草。治泄瀉，以白朮為主，佐以茯苓、陳皮、甘草。二症俱用砂仁煎服，愈後又當大補陰血，如四物加敗龜板、元參、知母、山藥、五味、人參，作丸子服，庶免臨產乾枯澀滯之患。</p>
<p>感風咳嗽，頭痛發熱，用蔥白，濃煎發散，仍服參蘇飲，去半夏熱服。人參、紫蘇、乾葛、前胡、陳皮、茯苓、甘草、枳殼、桔梗、木香，加薑棗。外感多去棗加蔥。肺火，去參加杏仁、桑皮。泄瀉加白朮、扁豆、蓮子。七情咳嗽，用貝母去心，麩皮炒黃，去麩為末，砂糖拌勻，為丸含化。</p>
<p>感濕，腹脹身重，用平胃散，泄者用三白湯，加砂仁、厚朴、蒼朮，內熱加黃芩。</p>
<p>瘟疫用藿香正氣散、小柴胡去半夏。若痰多嘔逆，熱甚者，用井底泥塗臍下二寸，干又塗之。一方，以伏龍肝為末，水調塗之，就服一錢，陳艾葉和酒煮，濾清服。</p>
<p>內傷凝血作痛，只用安胎藥以芎、歸為君。</p>
<p>內傷食積，平胃散，倍白朮，加山楂、枳實、砂仁。吞酸噯腐，加黃連五分，傷肉倍山楂，傷魚腥倍陳皮，傷辛熱物加黃連，傷生冷物加砂仁、木香。凡脾胃虛弱，飲食難化，白朮、陳皮、等分，為末，神麯和丸服。</p>
<p>尿血胎漏，屬熱者多，四物加為末、發灰。虛者膠艾四物湯，久者龍骨（一兩）　蒲黃（五錢）　為末，每服三錢，酒調日三服。</p>
<p>腹痛多因血少，四物加香附為末，紫蘇湯下，服此藥不止，須辨寒熱虛實，隨症調理。</p>

<h2>子煩</h2>
<p>子煩，熱也。熱則清之，心驚膽怯，煩躁悶亂，火克肺也。主方用川芎、當歸、茯苓、麥冬、黃芩、竹茹。相火盛者，單知母丸；君火盛者，單黃連丸；心神不安者，硃砂安神丸。辰砂、遠志、麥冬、石菖、人參、茯神、川芎、山藥、細辛、天麻、半夏、南星、白附、鐵粉、薑汁和丸；氣滯者，紫蘇飲；痰滯者，二陳去半夏，加黃芩、枳殼、麥冬、防風（等分）、竹葉（五片）。</p>

<h2>子懸</h2>
<p>子懸，氣也。氣則散之，妊孕四五月，相火養胎，以致氣逆湊心，胸膈腹滿痛疼，甚則一時悶絕欲死，紫蘇飲連進救之。</p>
<p>紫蘇飲、歸、芍、芎、陳、蘇葉、腹皮各五分，人參、甘草減半，薑蔥煎服。</p>

<h2>子腫</h2>
<p>子腫，濕也。濕則滲之，遍身浮腫，小便不利，腹大異常，高過心胸者，胎中蓄水所致，多五六個月有之。用鯉魚湯代水煎，白朮五兩，茯苓、當歸、白芍各三兩。先以鯉魚剖洗鱗腸，白水煮熟，止取汁，每汁二盞，入藥五錢，姜七片，橘皮少許，煎七分，空心服。如胎水未盡，再合服，仍常煮鯉魚粥食之。原因煩渴，引飲太過，或泄瀉損傷脾胃，脾虛不能制水，宜五皮散，倍加白朮為君，米飲下二錢，濕熱甚者，單為末散。</p>
<p>七八個月兩腳浮腫，頭面不腫，乃胞漿水濕不流，微腫易產，腫甚，平胃散加木瓜。</p>

<h2>子癇</h2>
<p>子癇，風也。風則平之，因受風寒，頭項強直，筋脈攣急，語言謇澀，痰涎壅盛，昏暈不識人，時醒時作。重者，羚羊角湯。羚角、棗仁炒、獨活、五加皮、米仁各五分，防風、當歸、川芎、茯神、杏仁各四分，木香二錢半，甘草、姜煎，或加竹瀝。輕者，川芎羌活飲，加陳皮、茯苓、甘草。不省人事者，單荊芥散。</p>

<h2>子淋</h2>
<p>子淋，亦濕也。濕則滲之，因膀胱積熱，以致淋瀝作痛，麥冬、白苓、腹皮、木通、甘草、燈心、淡竹葉等分，姜一片。因房勞者，去腹皮，加芎、歸、人參。臨月熱甚，五淋散。</p>

<h2>子氣</h2>
<p>子氣，腿足發腫，以至喘悶，甚則腳指間有黃水出，防風一錢，桑皮、赤苓、紫蘇各二錢，木香五分，或加木瓜。</p>

<h2>子喑</h2>
<p>子喑，三五個月忽失音不語，或至九月而喑，皆無妨，分娩後自好。蓋胞系於腎，腎脈貫舌，為胎氣所約，故不能言。</p>

<h2>內傷雜症</h2>
<p>跌僕，或為重物壓觸動胎，心腹痛甚下血者，用砂仁略炒為末，每服二錢，熱酒、鹽湯、艾湯皆可調服。胎腹中熱甚，血即安，功同參、術，如去血過多，芎、歸加阿膠、艾葉。</p>
<p>泄瀉，胃苓湯去桂，加肉果。</p>
<p>大小便不通，若大腸血燥，四物加條芩、桃仁，大腸氣滯，紫蘇飲，加條芩、杏仁。古方用枳殼、赤苓、腹皮、甘草為末，蔥白湯下三錢。</p>
<p>頭眩目暈，腮腫，因肝毒熱毒，上攻太陽，用消風散。石膏（煅）　甘菊　防風　白芷　甘草（各五分）　荊芥　羌活　羚羊角　川芎　當歸　黃芩（各一錢）　眩暈，有痰有虛，虛用補中益氣湯，痰用二陳加芩、連、竹瀝、薑汁。</p>
<p>腹中小兒啼，因妊娠登高舉臂，胞乳脫出兒口，以此作聲，令妊娠曲腰就地，如拾物，乳仍入兒口即止。古方用黃連濃煎汁呷之。又用多年空房中鼠穴土，為末酒下。</p>
<p>妊婦無故數次悲泣，系屬臟躁之故，大麥、甘草、棗煎，或小麥、麥冬各二錢，人參、茯苓各八分，甘草三分，薑、棗、竹茹。又有自哭自笑者，紅棗燒存性，米飲下。</p>
<p>妊婦自服毒藥，衝上心中，牙緊不言，兩手強直，頭低，自汗，十死一生，不識者作中風治，必死。宜以生白扁豆一味，為末，新汲水調灌之。</p>

<h2>胎前禁忌</h2>
<p>胎前服藥三禁，汗、吐下。</p>
<p>有孕不欲成胎，歸尾、川芎、杜牛膝、蓬朮、官桂、紅花。</p>
<p><u>欲墮方</u>　牛膝（四分）　瞿麥　桂心　蟹爪（各二分）　為末，空心溫酒服。</p>
<p>單方　紅酒麴（五兩）　浸酒十盞，煎二沸，去渣，分五服。</p>
<p>雞卵白　三家卵　三家鹽　三家水和服。</p>
<p>又方　麝香同桂心，研末酒服。</p>

<h1>臨產總論</h1>
<p>《脈訣》云：欲產之脈離經，沉細而滑也。離經之脈，大小不調勻，或如雀啄屋漏，應腰痛，腹痛，眼花，產在須臾，非病脈也。尺脈轉急，如切繩轉珠者即生。</p>
<p>難產之因不一，有在一月之前，忽然腹痛，如欲產而不產者，謂之試月。有臨產時腹痛，或作或止，或一二日，或三四日者，謂之弄胎。有漿水淋漓，來少謂之試月水。雖臍腹痛而腰不痛者，俱非當產，若腹痛連腰者即產。少腹之下，陰戶之上，有骨高起，中有節骱相湊，臨產則開，謂之交骨。雖兒頭向下，其勢已順，而交骨不開終難生產，立見危殆。</p>
<p>橫生者，一臂先下，乃兒在母腹，轉運偏側，有礙而不得遂也。逆產者，兩足先下，必是母腹中脂膜窄狹，不得轉運而直下也，此皆因勞挫閃，誤傷其胎所致。兒湊心不下者，多致母子俱死，必以藥引入心分，解開兒手，方可得下。蓋藥氣一至，兒手自軟，故解開。盤腸生者，臨產之時，母腸先出，然後兒下。子死腹中者，腹必悶痛兼冷，略無動意，面如土色，其舌又黑。試驗云：面黑舌不黑，母死子活，舌黑麵不黑，母活子死。或有未曾受蓐，腹中略痛，胞水先破，乘勢而下，固為大幸。設或胞水漏干，惡露出盡，兒不能下，苟無法以下之，則母子俱不可保矣。其有產後胞衣不下者，多有升上至心而死，不可忽諸。</p>
<p>試月、弄胎、試水，切莫動手，須要忍耐其痛，多為行走，以活動之，若因痛甚不肯轉舒，及曲腰睡臥，遮護產門，則難產矣。催生方，寒月用三合濟生方：當歸三錢，枳殼、川芎各二錢，蘇附、腹皮各半錢，蘇葉八分，粉草七分。連日未產者，加牛膝。夏月用神應散：車前一兩，白芷、冬葵子各三錢，枳殼二錢；通用千金不換方：蜂蜜、好酒、香油等分共一大茶盅，同調冷服，立效止痛。又以皂角末吹鼻，又以鳳仙子二錢，研水送下俱效。解喜不順易生方：生蜜一兩，真麻油二兩，銅杓內煎數沸，去沫，磁罐收，每服一盅。催生奇方：用桃仁一粒，書可出二字，在兩瓣上，各一字，令婦食之立生。</p>

<h2>交骨不開</h2>
<p>交骨不開，用急性子殼　穿山甲　牙皂　麝香（等分）　為末和蜜捏作條子，如指頭大一塊，塞入陰戶近骨處，又用蔥二三斤，濃煎湯，令產婦坐浸，以手運之，交骨自開，或用芎、歸、敗龜板、婦人發灰服。</p>

<h2>橫生</h2>
<p>橫生者，將兒手輕輕納入陰戶，逆產者，不必以兒腳推進，雖推進，已不能轉運矣，全在收生者活法。急用蛇退（一條）、蟬退（二十一個），頭髮（一束），共燒灰為末，溫酒調服，仰臥片時即下。</p>
<p>湊心不下者，乃兒捧母心也。急用豬心血調乳香五錢好酒送下，兒手自開。亦治子死腹中。心頭痛等症，或用蛇退燒灰，入麝香少許，研服。</p>

<h2>子死腹中</h2>
<p>子死腹中者，當歸、川芎、砂仁各一兩，官桂三錢，木香三錢，水酒各半，煎服，或用元明粉四錢，以清油、蜂蜜各一兩，溫熱調下立產。</p>
<p>胞水漏干，兒不能下者，急以車前子二三合，煎湯，以布濾去渣，連連服之，兒隨水出。或用大料四物湯，滋其氣血。外用燭油搽產戶內，或用雞子清同麻油調和，燉服一二碗立下。一方，川芎五錢，當歸一兩，龜板一兩，血餘五錢，煎服，如人行里許，即下。兼治交骨不開。</p>

<h2>胞衣不下</h2>
<p>胞衣不下者，以雞蛋三個，去黃取清，以好酒一合，調和服之立下。或以花蕊石一兩，硫黃四兩，入罐泥鹽固濟煅過為末，童便好酒調和一錢，服之立效。兼治敗血奔心，並胎死腹中，男及婦嬰兒跌撲所傷。</p>

<h2>盤腸生</h2>
<p>盤腸生者，必須穩婆及家內人，預說平安言語，以寬產婦之心，急以蓖麻子四十粒，研爛，塗在產婦頭頂上。少頃腸即收上，急洗去蓖麻子。勿使風吹，設經久不收，或為風所吹者，以磨刀水少許溫熱，潤拭其腸，再用陰陽家有驗磁石，煎湯服，亦即收上。俗法：用水噀產婦背，使之驚而腸亦收者。不可輕用，蓋驚則氣散，產婦見腸出，已先受驚，若再驚之則變成他症矣，戒之戒之。</p>
<p>統治產難方：以益母草為君，芎、歸、木香、砂仁為佐，大約君一兩，佐五錢，水、酒煎服。</p>
<p>鬼腦丸：以臘月兔腦去膜，乳香末二錢半，母丁香末一錢，麝香一字研勻，丸如芡實大，陰乾油紙密封，（蠟殼更佳。）臨產破胞後，溫酒下一丸，即時產下。隨男左女右，手握藥出為驗。</p>
<p>一方：川芎　當歸（各二錢）　官桂（一錢）　麝香（一字）　為末，酒服立產。</p>

<h1>產後總論</h1>
<p>新產之脈，緩滑為吉，實大弦急者死。沉小者吉，牢堅不調者死。沉細附骨不絕者生。妊婦產後，臟腑受傷，血氣俱損，為病多端，不可不審，條列於後。方產之時，先將當歸、川芎各五錢，益母草一兩煎好，待兒生下，即以此湯加童便服。</p>

<h2>血暈</h2>
<p>新產忽覺昏暈，口心眼合，面如土色欲倒者，乃惡血衝心也，名曰血運。急令人扶持，勿便臥下，即以熱醋向鼻使之，即醒。醒後施治，須用降血之劑。產後血運，不及煎藥，只用童便灌之，立醒。或以降真香一錢，沉香一分，為細末，當歸煎湯下，可免衝心之患。或用澤蘭葉、荊芥各一兩，川芎、當歸各五錢，甘草煎酒灌下，口噤者挖開灌之。</p>
<p>產後恍惚譫語，舞手掉頭，口流涎沫，少醒又發，有似敗血衝心之狀，其實因痰犯心經包絡也。蓋敗血衝心，一任昏迷不能少醒，而痰犯心胞，亦如此狀，但昏迷有時而醒覺耳。血入心經，錯語健忘失志，及產後百病，治以血竭、沒藥等分，為細末，每服一錢，童便加酒調服。若分娩時調服一錢，其惡血皆下。痰迷心包者，止宜用導痰湯，若熱甚加芩、連。</p>
<p>產後發狂跳躍，不顧羞恥，非癲也。乃各經之血，一時乘虛上升，迷其心竅，而下部惡血，又相奔騰，勢上而不下，故發狂跳躍，不能自禁。須用重劑使血歸經則愈矣。治法，急令兩人扶住，煎當歸一兩，服之，其惡血下行，新血各自歸經，即時安寧矣。或用川芎、當歸各半，水煎加童便服。</p>

<h2>腰腹痛</h2>
<p>產後腹痛，不可盡作惡血不行，須看新久。若初產腹中有痛陣，如將產狀，腹皮未覺寬軟，又若轉運不寧，乃是雙胎。若經一二日腹痛者，惡血停滯，名曰兒枕塊。若惡血已盡，而腹中如芒刺，翕翕無力，乃空痛也，不可復投行血之劑，治惟養血而已。治例，產後一二日，腹絞痛者，惡血未盡也，古方獨勝散最佳，用山楂一兩，濃煎，調砂糖熱服，血自下行，痛立止。或用芎、歸、益母、桃仁、胡索等分，煎服。若惡血已盡，五六日間腹痛者，血虛也，宜四物加炙草。</p>
<p>產後腰痛，若惡血不甚下，多停滯於兩腎空隙之處，其痛板急不能轉側，得熱物熨之則緩者，宜以歸梢、桃仁為君，烏藥、杜仲、牛膝、官桂為嚮導，空心煎服，得五六服可愈。若血去已多，而兩腰空痛，翕然如不能伸氣者，腎虛也，宜以杜仲兼四物補血，牛膝、茯苓引經，少加紅花以養血。恐分娩時勞倦，致傷其腰故也。</p>

<h2>下血不止</h2>
<p>產後下血不止，看其色之紅紫，紫者為舊血，任其自下，紅者為新血，宜先止而後補之。然紫者既盡，必繼之以紅，紅者又盡，必繼之以淡，此必然之勢也，宜時時斟酌治之。或丸，或散，或劑，隨緩急以施治，失此不治，則元氣必脫，而潮熱虛勞之病不免矣。治以四物為主，佐以止血之劑，加地榆、牡蠣、黑蒲黃、棕皮灰、鹿角霜、烏梅，作散服之。一日連進數服，每服一二錢，立止。或用熟地一兩，搗爛，和酒調勻溫服，連進三次，大效。或用黑蒲黃二兩，水三升煎，一升頓服之立效。</p>

<h2>外感雜症</h2>
<p>產後瘧疾，適值秋間發者，方可以瘧治，若春夏及冬時發者，非其時而有其氣，謂之似瘧。必是產後風食所傷，當以風食為主，而以血藥佐之。然須辨其為風為食，寒多熱少，而腹不飽者風也，熱多寒少，而不思飲食者食也。治食則消食為主，而少兼風藥。治風則疏風為先，而少兼食藥，有痰加痰藥，宜斟酌之。治以四物為主，加柴胡、黃芩以定寒熱，有痰加橘紅，有食加麥芽、山楂，有風加防風、荊芥，頭痛倍川芎，寒熱甚倍芍藥，酒炒。</p>
<p>產後傷寒，決不可服汗吐下之劑，以其氣血俱虛也，汗則亡陽而傷氣，下則亡陰而傷血。若犯麻黃、大黃，多致不救，惟以和解為主，而以血藥佐之，無萬一失。然傷寒發於產後，必費調治而多危，惟感冒者為易愈耳。治例，只宜用羌活、紫蘇、柴胡、川芎、甘草、生薑以解寒，陳皮、香附以調氣，有痰加痰藥，有食加食藥，佐以四物煎服，以微汗出為度。若大便秘結，以豬膽汁導之，或飲蜜湯。</p>
<p>產後中風，危症也。若外有六經之形症，內有便溺之阻塞，皆難治，惟口眼斜者無事。若忽然角弓反張，目定項強者，必平素有痰症，風邪乘虛而入，風痰交作，壅塞經絡，營衛不通，雖似中風，而實無分於六經，倘又汗出不止，或遺尿不禁，其死必矣。產後中風，不可以常人風藥例治，雖中腑亦不宜汗，禁用麻黃，雖中臟亦不宜下，禁用大黃。惟審其在表，則羌、防、荊、蘇、甘草可用也。審其在裡，則枳、樸、苓、陳、烏藥、木通可用也。即南星、半夏、瓜蔞亦宜慎用，惟杜蘇子、薑汁、竹瀝以治痰，佐以四物補血，切不可求速取異，而孟浪用藥。</p>
<p>產後瀉痢不甚者，猶可施治，然瀉比於痢，則痢尤難，而瀉或能調理。瀉者以補脾為主，而以消食藥佐之。痢則以扶脾消食為主，而以血藥佐之。蓋痢多下血，故用血藥。瀉用血藥，則瀉不能止。瀉止後，則用補血藥。產後瀉痢，不可混治，瀉則補脾為主，白朮、蒼朮、茯苓、神麯、陳皮、甘草，有氣則理氣，有食則消食，四物且勿用，以歸、地皆動脾之劑。若久瀉，加烏梅、大棗、人參。至於痢疾，則不忌四物，當與平胃散並用，兼以消食之味，與調氣養血而已。</p>
<p>產後身熱不止，口乾舌燥，日晡尤甚者，血虛也。宜大補其血，不可用寒涼之劑，反佐以溫熱，則熱自除矣。以血藥屬陰，陰非陽不生，故用溫熱，以助陽而生陰，陰血既生，則邪火自退。治宜四物中，倍芍藥炒酒，兼炮姜，佐茯苓以滲熱。柴胡以清熱，半月後身熱未除，宜加人參。大抵產後不宜便用人參，恐補住惡血也。半月後惡血已盡，新血已生，故不忌人參，而猶必以陳皮監製可也。</p>
<p>產後乍寒乍熱，不可便作外傷，先審其乳房脹痛，乳汁行否。乳汁不行，而發寒熱者，氣虛也。乳汁行而發寒熱者，必審少腹痛否，痛若手不可近，必敗血不散，入於肺則熱，入於脾則寒。腹不作痛而發寒熱者，是氣血兩虛，氣虛則寒，血虛則熱也。更辨其左脈不足為血虛，右脈不足為氣虛，非關氣血虛。而為飲食所傷發寒熱者，必心胸飽脹，氣口脈盛也。又非飲食所傷，必切其脈若數大者，方是感冒寒熱，亦不可過用表藥。治例，乍寒乍熱，如乳汁不行者，用通草為君，芎、歸為臣，枳殼、甘草、穿山甲為佐，漏蘆、赤芍為使，豬蹄七星者煮湯，代水煎服。或單用穿山甲，瓦焙為末，酒下。如瘀血寒熱者，用芎、歸、桃仁、紅花、丹皮、青皮等味，或失笑散靈脂、蒲黃為末醋調，加木通、赤芍入鹽少許，名通靈散。兼治心疼。如食傷寒熱者，用楂肉、枳實、半夏、香附、陳皮、麥芽、茯苓、白朮。如外感寒熱者，用芎、歸、芩、芍、荊芥、蘇葉。如氣血虛寒熱者，以大補氣血藥治之。</p>
<p>產後四肢浮腫者，因敗血停滯，流入四肢，日久血化為水，若作水氣治，而用導水之劑，則虛而又虛矣。或血停脾胃，必致腹脅脹悶，嘔逆噁心，或血入肺經，必致面黑髮喘欲死，或血迷心竅，必致神志恍惚，語言不明，舌根強硬。治例，四肢浮腫，主以調經散。歸　芍（各一兩）　沒藥　琥珀　肉桂（各一錢）　麝香（二分）　甘草（一錢）　為末，每服半錢，溫酒下。佐以正脾散。白朮　香附　小茴　炙草　木瓜（等分）　加燈心煎服。如血停脾胃，腹脅脹悶，嘔逆噁心者，以抵聖湯。澤蘭　陳皮（各半錢）　人參　半夏（各一錢）　赤芍（八分）　甘草（五分）　姜五片煎服。如血入肺經，人參蘇木湯。如血悶心竅，七珍散。人參　防風（各五錢）　生地　川芎（各一兩）　石菖蒲（一兩）　為末，每服二錢，開水調服。</p>
<p>產後心痛，因氣虛偶為外寒所侵，搏於血分，凝滯不消，氣逆上衝，擊於心經也。治例，用延胡索、當歸、陳皮，酒和丸，或加赤芍、蒲黃、川芎、枳殼、乳香、沒藥、官桂等味。</p>
<p>產後遍身痛，腰背不得轉側，手足不能動搖，此敗血不散所致。腹痛，若飲食停滯，必惡食吞酸。瘀血痛，必手不可近。虛寒痛，必四肢厥冷。小腹痛，瘀血不盡也。大便不通，枯澀因去血太多，大腸乾涸也。小便不通，因津液竭也。治例，遍身痛，用牛膝、官桂、羌活、白芷、川芎、當歸、枳殼、桔梗、香附、甘草、桃仁。停食腹痛，用平胃加枳實、山楂。瘀血痛，黑神散，熟地、歸尾、赤芍、蒲黃、桂心、乾薑、甘草、黑豆、酒、童便各半。（附：古黑神散：百草霜、白芷等分，童便、醋，治橫生逆產崩漏。）失笑散亦佳（見前寒熱部）。寒痛，理中湯。小腹痛，用歸、芍、丹皮、胡索、青皮、官桂。大便不通，四物加青皮三倍為主，惟數日不通，飲食如常，腹中如故，八珍湯，加桃仁治之。必待腹滿覺脹。欲去不能者，乃結糞在腸，用豬膽汁潤之，或麻仁、杏仁、桃仁、檳榔通之，切不可用大黃。小便不通，四苓加歸、芍、陳皮。</p>
<p>產後發喘有二，有榮血暴絕者，二味參蘇散治之；瘀血停滯者，用血竭、沒藥等分為末，酒入水調服。</p>
<p>產後咳嗽，有血虛者，四物加參、朮、陳皮、桔梗；有肺氣虛者，四君子加芎、歸、桔梗；有陰火炎上者，六味加參、術；有風寒所感者，補中益氣加桔梗、紫蘇；有瘀血停滯者，古二母散加參、朮、桃仁、杏仁。</p>

<h2>產門不閉</h2>
<p>產門不閉，生腸不收，及子宮脫下，皆由氣血虛弱也。</p>
<p>產門不閉，十全大補湯加五味子補而斂之；如小便淋，腹內有塊，上下攻動，作疼作脹者，加味逍遙散加車前、木通；如腹內不痛而產門腫脹掀痛者，加味逍遙加醋炒白芍和之；如腫處潰破淋瀝膿水，此必為穩婆所傷，補中益氣湯加茯苓以健脾，次用歸脾湯調理。生腸不收，用人參、耆、朮、芎、歸、甘草，若不收，加升麻。常用熱手心熨腰肚，外用枳殼二兩，煎湯，溫浸，良久自收。子宮脫下，補中益氣湯加醋炒白芍，用五倍子煎湯浸洗，再用蛇床子炒熱，以布裹熨患處。或先以淡竹葉煎湯洗，仍用五倍子、白礬為末，乾摻。</p>
<p>產後忽然下血，血片相似崩者，此血氣大虛，而致營衛衰敗也。當和血理氣，用當歸　白雞冠花（各五錢）　白朮　白芍園　香附（各四錢）　熟地　川芎　人參　茯苓　阿膠　側柏葉　酸棗仁（炒）　蒲黃（各二錢）　甘草（五分）　分六帖，加姜三片，煎服。</p>
<p>產後嘔惡，盜汗，泄瀉，雖有數病，法當治其所急。</p>
<p>產後虛軟，不能行步，至夜則病劇，用真五加皮、人參、歸身、白朮、熟地、甘草。</p>

<h2>不治症</h2>
<p>產後不治症，口鼻黑色，鼻衄，喘急，心痛。</p>

<h1>雜效方</h1>
<p><u>絕產方</u>　血管鵝毛（燒灰）　百草霜（各一錢）　調酒下，行經後服之，即不受胎。如有胎，用冰片（三分）　麝香　樟腦（各一分）　共為末，蜜丸，絹包入戶內。又方用零陵香，酒服二錢盡一嘴絕孕。薇銜食之，令人絕孕。鳳仙子，產後吞之，即不受胎。馬檳榔，經水後常嚼二枚，井水下，久則子宮冷，不孕也。</p>
<p><u>回乳方</u>　神麯二錢，炒研，酒服。</p>
<p><u>六龍固本丸</u>　治五勞七傷，赤白帶下，小產，血崩，不孕，諸虛等症。</p>
<p>山藥　巴戟肉　山茱萸（各四兩）　川楝子肉（二兩，用小茴鹽煎湯拌炒）　補骨脂（二兩，用鹽三錢，黃柏五錢，酒一茶杯，煎半杯，拌炒）　人參　黃耆　蓮肉（各二兩，用木瓜一兩，水三碗，煎一碗，拌上三味炒）　歸身　生地（各二兩）　白芍　川芎（各一兩）　用五仁斑龍丸（鹿角膠、鹿角霜、菟絲子、柏子、熟地等分，為丸，名斑龍。一方加鹿茸、蓯蓉、陽起石、附子、黃耆、歸身、棗仁、辰砂，亦名斑龍）　一料，和上藥為丸，日間兼服和中丸。</p>
<p><u>調氣丸</u>　治婦人室女，血虛不調，及胎前產後諸疾。</p>
<p>香附（八兩，童便浸炒）　烏藥（四兩，炒）　炙草（一兩）　共為末，用生薑（四兩）　蔥白（一握）　搗取汁，加好醋半碗，共和丸，如彈子大，每服二三丸，隨症加引，化開溫服。</p>
<p>血氣不順，心胸痞滿，（柴胡湯化下。）腰腿腹痛，（茴香湯。）翻胃，嘔吐，脾胃感寒，（老薑五片，炒黑，鹽少許煎湯下。）驚憂喜怒傷神，心滿，腫痛，面浮，（石菖蒲湯化下。）血運悶，血刺痛，血積，血瘕，（良薑、赤芍、水、醋、各半杯，煎湯化下。）喘滿氣急，面浮，（紫蘇、生薑，煎湯化下。）唾血，喉中腥氣（黃桑葉，煎湯下）。血澀大便秘結，（枳殼或青皮湯化下。）崩中帶下，小便頻數，（炒吳萸湯化下。）經絡感熱，血脈妄行，（生化湯化下。）敗血沖胃，咳血呃逆，（生薑、柿蒂湯下。）妊娠傷食，臍膈不快，（木香、或砂仁湯化下。）妊娠臨月，近上逼心，名曰子懸，（生薑紫蘇湯。）產後寒氣入腹，臍下刺痛，（炒吳茱萸湯化下。）產後子腸脫下，（鯽魚頭煎湯下。）</p>
