<header data-type="book">
<h1>菉竹堂集驗方</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>羅浮山人</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>底本</dt><dd>《簡便諸方·菉竹堂集驗方》，江戶抄本（<a href="https://www.digital.archives.go.jp/file/1079147">国立公文書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>昔之薦紳先生，宦成而功立，類有成書傳於後，豈汲汲於身後之名哉。蓋其伏處之所講習，立朝之所建白，與夫遊心乎諸子百家，而時有所纂緝為之。子若孫者世守之，而後之好學深思者，又為之論定而表章之，以至傳之久遠而其書不刊也。太傅姚公號羅浮，一代之偉人也。明萬曆中，有開採一事，爾時在廷諸臣，明知其病民而莫敢發議。公獨奮不顧身，抗疏直諫。因著開採說並繪圖上之。帝大感動，事遂寢，以故公之直聲震天下。而其圖與說遂梓行當世。余固私慕之不置矣。既而典學兩浙，欲求其圖說觀之，則不獲遽覯以償夙願。但見公所著《菉竹堂醫方》一書。曰：此非公之遊心諸子百家，而手定之書乎？以此除疾活人，蓋猶救時之意也。閱其書，如見其心焉。使余得按其圖，詳其說，以觀其所建白，而徵其素所講習，則其所以慰余私慕者，又當何如耶。</p>
<p><u>康熙歲次丙子菊月提督浙江等處學政</u></p>
<p>日講官起居注翰林院檢討闕里顏光效撰</p>

<h1>菉竹堂醫方序</h1>
<p>居窮守約，無其位而欲行其德，惟醫最善。然妄人為之，則適足以為害；鄙夫為之，則僅足以規利。舍是二者，誠未見夫良工也。稽古醫師有專官，世守其業，歲給廩祿，俾殫思竭慮，必求其中病而止。故能洞見腑臟，通達運氣，剋死日，如操左券。今之在官者，具文而已。其奔走一鄉一邑之間者，大抵迫於飢寒，借歧伯、雷公以為生養之計，又安望其能工也。然則欲明陰陽、保太和、辨古今之異，宜守成法而神明於其中，非吾儒之責而誰責哉。羅浮山人者，即楓先外曾王父、大司空太傅姚公也。在中臺時，適有姻家猶子周生者，業醫而貧不自存。太傅引人醫院中，拜散官，久之頗精其業。太傅官納言大理，稍為閒局時，與講針石湯液法。知其非曠官者，乃令悉發秘府禁方，擇其經驗者錄之。親為訂定，□板以傳於世。衣被天下已百年，梨棗亦數易，今復刓缺矣。此刻重校於先外王父之手。垂數十年，表兄士忱，儒而好行其德者也。體先人之意，更欲廣其傳，繕其殘闕以問世。命楓為書後語。楓憶孩幼時，奉母氏歸寧，見小方書數冊，問是何書？母言：此太傅手定內府方也。私心竊以為疑，謂太傅剔歷中外四十年，豈暇為此。及長而善病，團公車十六、七年，始得因膏火余晷。稍究此義，乃知此本非流家言，直吾儒身心性命中事。因識太傅當日訂方之大旨，蓋君子立朝之與在野，總未嘗一日忘此民命也。豈待陸敬輿憂讒息交，始著《集驗》哉。</p>
<p><u>丙子九月望日外曾孫盛楓拜書</u></p>

<h1>姚太傅羅浮先生菉竹堂醫方序</h1>
<p>蔦花綺麗，悵抱影於蝸廬；煙雨空檬，溯伊人於鴛水。甫切嚶鳴之慕，適來臭味之投。邂逅同心，流連握手。聆熏篪之遞奏，謬托鍾期；愧筲斗之微長，叨知鮑叔。具稔吾友，綽有家風。溯淵源則歷山聖裔，俊哲滋生；序閥閱則柱石華宗，明諧垂範。沉酣緗帙，何殊劉峻之淫；鼓吹金蘭，不尚平原之俠。身居百尺樓上，目小岷峨；文如萬斛泉奔，氣吞雲夢。斐矣鳳毛之接翅，洵哉燕翼之流芳。屬當躤柳良辰，會有班荊雅集。樽開北海，既放浪以忘形；地接南湖，復蕭疏而快意。觥飛絡繹，嘯詠情濃；拇戰轟豗，談諧興劇。酒酣耳熱，嘉賓咸踔踸而狂呼；燭灺眉攢，賤子獨呻吟而隅坐。爾對孱質，方抱傫疴。荷君笑謂余言，獨我能已子疾。維先大傅，饒有神方；歷後孫曾，頗多奇驗。綜秘藏於天府，參以精思；搜散軼於人間，核其實效。狐珍千腋，全資襞積以成裘；鯖貴五侯，正賴劑調而作撰。親讎帝虎，用壽棗梨。凡茲六卷之傳，不啻一經之守。門庭羅雀，深慚五世之家聲；風雨鳴雞，閒話百年之手澤。贈君一冊，聊當石言，惠我儷詞，無虛瓊報。爰悉祖先之舊德，獲披肘後之遺書。雖雲散風流，逖矣難親公面；用行間字裡。肫然具見婆心。閱此一編，竊為三嘆，慨自□□云遙，簠簋疇飭。黃扉建第，群侈樊重之豪華，青瑣持籌，競效王戎之封殖。金⿱文⿶凵非玉膾，□列萬錢；紕障重□，綿延十里。處脂膏而自潤，實獲我心；問疾疢於民情，袞如充耳。棟梁重寄，草營輕施。只云橘藝千頭，遑曰杏栽五樹。泊夫堂開綠野，社結耆英。籃輿蠟屐，日攜康樂之門生；舞扇歌裙，宵演羊侯之侍女。肥瘠視同秦越，謂我何求；痌瘝聽彼岐黃，干卿甚事？丹砂玉液，私矜不死之仙方；碧柰黃精，漫擬延齡之秘術。即或雅耽鉛槧，酷嗜風騷。人插茱奠，聊以將其縫綣；階翻芍藥，無非供厥吟哦。賦時序之推遷，恆春半夏；寫襟期之曠達，蠲忿忘優。縱令慷慨淋漓，各言爾志耳。即使纏綿悱惻，其如蒼生何。況乎良相與良醫，業已途分出處。治民如治疾，無過喻切安危。伊呂勳高，奚暇旁營夫溲渤；盧倉技巧，焉能佐理乎鹽梅。股肱是托，寧庸折臂以呈奇；耳目攸司，何假洞垣而矚幻。揆諸往古，理有難兼；詎料先生，才無不概。孕□洞兩間無氣，奠紛紜四極群生。本調和鼎鼐之丹心，代庖參朮；藉□理陰陽之國手，借箸刀圭。參贊五行，固子母盈虛之濟美，銓除百草，亦君臣佐使之和衷。祛疫豎於膏肓，法嚴流竄；挽鴻鈞之乖沴，功媲生成。仁手編摹，躋萬民於壽域；苦心裒輯，登百世於春臺。竊窺霧內之一斑，想見袞衣蔚彩；略現雲中之寸爪，足徵霖雨汪波。宜其似續鴻騫，世食先人之報；自爾云仍鵲起，永貽奕祀之謀。敬覆良朋，允推奇集；敢申莛叩，聊綴蕪辭。號寓梅花，清擬師雍之人夢；書顏綠竹，節同睿聖之難誼。欣仰企於無窮，嘆賡揚而莫罄。亦謂慕晏大夫之古誼，竊比執鞭，懷李司隸之高風，如親得御云爾。</p>
<p><u>康熙丙子暮春上巳武原後學徐容兠中甫拜題</u></p>

<h1>重刊菉竹堂集驗方卷一</h1>

<h2>羅浮山人集</h2>

<h3>固精門</h3>
<p><u>啟陽固精丸</u></p>
<p>人參（一兩）　大附子（一枚，甘草水浸，夏半日，冬一日，更以甘草水拌麵裹煨熟去皮臍，切片烘乾）</p>
<p>川芎（一兩）　菟絲子（八兩，酒煮搗為餅）</p>
<p>破故紙（四兩，炒）</p>
<p>山藥（四兩，炒）　小茴香（四兩，炒）</p>
<p>巴戟天（二兩，去心）　瑣陽（二兩，火烘）</p>
<p>杜仲（三兩，薑汁炒）　黃耆（二兩，酒炒去頭）　官桂（二兩，去皮）</p>
<p>上為末，煉蜜為丸，梧桐子大。空心，酒吞百丸。</p>
<p><u>保真丸</u></p>
<p>補心神，固腎精，堅筋骨，潤肌膚，澤容顏，烏鬚髮，久服亦能續嗣延年，功難盡述也。</p>
<p>牛膝（十兩，用黑豆三升鋪甑內，九蒸九曝九露黑豆，一蒸一易如數完，竹刀切片聽用）　生地黃（十二兩，酒洗，用一半拌砂仁、去皮白茯苓末各五錢，蒸一晝夜，熟透錘用）　補骨脂（四兩，用核桃肉二兩，研碎，拌勻，按實磁器內一日，炒乾用）</p>
<p>何首烏（二十兩，忌鐵器，同牛膝蒸之）　白茯苓（六兩，用牛乳二碗，浸透曬乾）　白茯神（六兩，用人乳二碗，浸透曬乾）　天門冬（六兩，去心）　菟絲子（三兩，酒浸去殼）　麥門冬（六兩，去心）　柏子仁（八兩，湯泡七次，去油）　枸杞子（六兩，去蒂）　人參（三兩，去蘆）　當歸（六兩，酒洗）　杜仲（四兩，炒，去絲）　山藥（四兩）</p>
<p>上為末，煉蜜為丸，如梧桐子大，每服七十丸。如陽氣弱而精不固者，加山茱萸四兩、瑣陽四兩、肉蓯蓉四兩；如健忘者，加九節菖蒲三兩、遠志三兩；如思過度，損心太甚而不能寐者，加炒熟棗仁三兩。</p>
<p><u>坎離丸</u>　此方服五月，前方服十日。</p>
<p>天門冬（四兩，去心）　黃柏（三兩，童便浸）　當歸（四兩，酒浸）　麥門冬（四兩，去心）　牛膝（三兩，酒洗去蘆）知母（三兩，鹽酒炒）　白芍（三兩）　山藥（二兩）　菟絲子（四兩，酒浸）　川芎（三兩）　生地黃（三兩）　熟地黃（五兩）　茯神（五兩，去皮心）　杜仲（三兩，去皮，酒炒去絲）　枸杞子（四兩，酒浸）</p>
<p>上為末，煉蜜為丸，如梧桐子大。每服五、六十丸，鹽湯送下。</p>
<p><u>固本腎氣丸</u></p>
<p>人參（一兩）　麥門冬（三兩，去心）</p>
<p>天門冬（三兩，去心）懷熟地（三兩，酒煮）　懷生地（二兩，酒洗）　澤瀉（一兩，白者）　懷山藥（四兩，炒）　山茱萸（二兩，去核）　牡丹皮（二兩，酒洗）　白茯苓（二兩）　枸杞子（二兩）</p>
<p>上為末，煉蜜為丸，如梧桐子大。空心，淡鹽湯吞百丸。</p>
<p><u>固精丸</u>　治夢遺。</p>
<p>川黃柏（一斤，）要選肉厚皮薄者，去皮，劈成條子，將水酒浸稍透取起，咀成片，用牡蠣半斤，要青色不枯者，火燒，一紅取起為細末，與黃柏各勻作四次，柔火炒茶褐色不可焦，篩去牡蠣，獨用黃柏為末，煉蜜為丸，如梧桐子大。要丸得大而圓，取其易下，不停胃中。空心，用鹽滾水服下三錢。服後手摩胸膈，徐行一、二百步即食水煮飯壓之，使墜下速　人腎經，免停滯也。服時切忌房室。譬猶築未固，水即沖之，壩豈能成。更宜戒暴怒，少勞頓，忌食椒、蒜、辛、熱之物。如藥未服之先，自覺精欲泄，必待其泄去，方可服藥，不然穀道作痛。蓋精已離舍，服藥中道而止，故此作痛。數日內其火降下，小便反黃，數日後小便即清，是其驗矣。如心有妄想不寧，則用硃砂為衣，如無不必用也。</p>
<p><u>班龍百補丸</u>　治法、功效、並制膠霜法，詳見《古今醫統》。</p>
<p>鹿角霜（十兩）　鹿角膠（四兩）　人參（四兩）　杜仲（三兩），薑汁拌炒　川牛膝（四兩，酒洗）　白茯苓（四兩）　芡實（四兩）粉</p>
<p>黃柏（四兩）　川當歸（三兩，酒洗）　乾山藥（四兩，炒）　黃耆（四兩，酒炒）　知母（四兩，鹽水炒）　懷生地（四兩，酒洗）　五味子（二兩）　枸杞子（三兩）</p>
<p>上煉蜜，和膠丸，如梧桐子大。空心，鹽湯下百餘丸。</p>
<p><u>仙茅丸</u></p>
<p>半夏曲（一兩）　鹿角膠（四兩）　人參（一兩，去蘆）　黃耆（二兩，蜜水炒）　甘枸杞（二兩，去梗）　山萸肉（二兩）　陳皮（二兩，去白）　白朮（三兩，酒洗淨）　白茯苓（一兩五錢，炒）川歸身（二兩，酒洗）　甘草（七錢）　薏苡仁（三兩，炒）　仙茅（一斤，用川中制過者不可見鐵，忌牛羊肉）</p>
<p>上十三味為末，用蜜二斤四兩煉為丸，每日服三次，每次六、七十丸，鹽酒送下。</p>
<p><u>聚精丸</u></p>
<p>魚鰾（半斤，切細，麵炒成珠，再加酥油炒黃色）　當歸（一兩），酒浸　沙苑蒺藜（一兩），炒黃色</p>
<p>上為細未，煉蜜為丸，如梧桐子大，每服五十丸。空心酒下，鹽湯亦可。人年四十之外加童便煮熟附子三錢。</p>
<p><u>金鎖丹</u>　治男、婦滑精、飛交、遺精、夢泄神效。</p>
<p>赤茯苓（三錢）　遠志（三錢）　龍骨（煅紅，三錢）　白茯苓（堅石者，三錢）　牡蠣（四錢。左顧者煅微赤）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服五十丸。早晚各一服，鹽湯、酒俱可下。</p>
<p><u>治遺精方</u></p>
<p>覆盆子（一兩五錢，去梗）　石蓮子（一兩五錢）　白龍骨（五錢，煉存性）　芡實（二兩，去殼）　菟絲子（二兩，酒浸三宿煮菟絲子，干為度）　沙苑蒺藜（三兩，如茄子相似，微炒黑色）</p>
<p>白蓮鬚（一兩五錢）</p>
<p>用金櫻糖為丸，如梧桐子。每服一百丸，鹽湯送下。</p>
<p><u>滋陰百補固精治病膏</u></p>
<p>先用香油（一斤四兩，）　入蒼耳草（一兩，）　熬數滾，再下：穀精草（五錢）　天門冬　麥門冬　蛇床子　遠志（去心）　菟絲子　生地黃　熟地黃　牛膝（去蘆）　肉豆蔻　虎骨　續斷</p>
<p>鹿茸　紫梢花（各一兩，熬得藥黑色又下）　木鱉子（去殼）</p>
<p>肉蓯蓉　官桂　附子（各六錢。）</p>
<p>少熬，待藥俱焦黑枯，濾去藥，將油又熬滾方下黃丹八兩、柏油二兩，用槐條不住手攪，滴水成珠，方將後藥為細末投入。硫黃、赤石脂（煅）、龍骨（煅）、木香（各二錢，）　陽起石（四錢，）　乳香、沒藥、丁香、沉香各四錢，麝香一錢，下盡攪勻。又下黃蠟六錢，傾在罐內封固，好井水中浸七日。每膏藥用紅緞一方，藥三錢，貼在臍上；再用二個貼在兩腰眼，只用一錢一個貼。男子精冷、寒陽不舉、夢泄、遺精、小腸疝氣等，貼在丹田臍下；女人血崩、赤白帶、經水不調、臟寒，貼臍上下。</p>
<p><u>治精滑夢泄方</u></p>
<p>人參（去蘆）　沙苑蒺藜（炒）　甘州枸杞（去蒂）　遠志（去心）　天元一氣以上（各一兩）　芡實（去殼）　山茱萸肉（二兩）</p>
<p>制天元一氣法：取頭生男河車一具，米泔水浸洗極淨，用大腳魚一個煮死，去其內肉以河車入之，四圍厚紙封固，微火烘乾，外魚烹食，取內河車人藥蜜丸，梧桐子大。子丑時滾湯下一百丸。</p>
<p><u>治夜出盜汗方</u>　又一方加枯尤妙。</p>
<p>用牡蠣、五倍子，不拘多少，共碾細末。以津唾調均，封臍一宿即愈，驗方。</p>
<p><u>固精煮酒方</u>　能助陽堅舉，不可多飲。久服能多子，有效。</p>
<p>甘枸杞（四兩）　川歸（二兩，酒洗淨）　懷地黃（六兩）</p>
<p>㕮咀以絹袋盛入壇內，用好頭生酒五、六大壺，煮二炷香時為度，取起出火性，七日後飲之。每日空心及將晚時飲三、五杯，臥時即見效也。</p>
<p><u>治白濁遺精方</u></p>
<p>用蘿蔔子不拘多少，炒熟碾為末，空心好酒吃下，一、二朝即止。</p>

<h3>種子門</h3>
<p><u>種子秘方</u></p>
<p>鹿苞草（憑用）　肉蓯蓉（二兩，酒浸）　熟地（酒洗蒸二兩）　黃耆（蜜炙，一兩）　白茯苓（一兩）　山藥（炒，一兩）</p>
<p>菟絲子（酒浸，蒸，搗成餅，三兩）　人參（一兩，去蘆）五味子（一兩）　鹿茸（火去毛，酒塗炙，不要羊油塗炙，以羊能制鹿性故也）　附子（炮，去臍皮憑用）　沙苑蒺藜（憑用）　牛膝（酒浸，二兩）　龍骨（火煅，長流水煅浸復煅，如此七次，一兩）　當歸（一兩，酒洗）</p>
<p>遠志（去蘆，甘草水煮去骨，一兩）　仙茅（米泔水浸，以去盡黑水力度，後用大黑豆拌蒸，以豆熟為度，去豆，五錢）</p>
<p>上為末，用浸藥酒煮麵為丸，如梧桐子大，每服七十丸，空心棗湯下。</p>
<p><u>壯陽種子方</u></p>
<p>人參（一錢五分）　當歸（一錢）</p>
<p>上二味碾為細末，用雄豬腰一個切為二半，去血與筋，淨。將腰子內花為細紋，用前藥摻人，合為一個，以豆腐皮一個，水濕包裹。外加濕草紙又包，放灰火內，稍運用炭火炙之，候熟侵晨數杯食之。每三日用一次，共用四次為妙。尋常用之更妙。</p>
<p><u>長春廣嗣丹</u>　此方專治男子勞損、羸瘦、中年陽事不舉、精神短少、未至五旬鬚髮早白、步履艱難、婦人下元虛冷、久不孕育者。</p>
<p>人參一兩（去蘆）　山茱萸（去核，二兩）　赤石脂（另研，一兩）　白茯苓（去皮，一兩）　天門冬（去心，一兩）　石菖蒲（九節者，一兩）　車前子（一兩）　地骨皮（二兩）　當歸（酒洗，一兩）　覆盆子（去梗，一兩）　枸杞子（三兩）　柏子仁（炒，一兩）　澤瀉（去毛，一兩）　山藥（姜炒，二兩）　五味子（一兩）　川椒（炒，二兩，去目）</p>
<p>巴戟（去心，一兩）　懷生地（二兩）　肉蓯蓉（酒洗，去心膜，曬乾，三兩）　遠志（去蘆，甘草湯泡去心，三兩）　菟絲子（酒洗，蒸透搗餅，四兩）　杜仲（薑汁炒，二兩）　川牛膝（去蘆，酒洗曬乾，二兩）　木香（一兩）　懷熟地（二兩）</p>
<p>上二十五味，各為細末，煉蜜為丸，如梧桐子大。每服五十丸，漸加至七、八十丸，空心鹽湯或酒送下。服十日後，小便雜色，是舊疾出也；又十日，鼻酸聲雄，胸中痛，咳嗽唾痰，是肺病出也；一月後，一應七情滯氣、沉痼冷積皆出；百日後，容顏光彩、鬚髮變黑、齒頹重固、即老而康，目視數里、精神百倍、壽命延長、種子之功，百發百中。偶得此方最奇驗。</p>
<p><u>補腎種子黑髮烏須奇方</u>　舒軍門驗傳、金陵張印臺秘授者，服之能令體肥身健，固精旺氣。</p>
<p>懷熟地（八兩）　山茱萸（酒浸，去核淨，四兩）　白茯苓（三兩，去皮）　巨勝子（四兩）　韭子（四兩，微炒存性）　枸杞子（甘州者佳，去蒂，三兩）　冬青子（四兩）　柏子仁（三兩）　旱蓮膏（四兩，熬法在後）　五茄皮（三兩）　人參（一兩）　肉桂（一兩）　何首烏六兩（如干者，米討水浸，竹刀刮去皮，黑豆拌蒸。鮮者止用六兩一個）　繭絲子（去沙土淨）四兩（酒浸煮三日夜，令熟透，搗為薄片，曬乾）　升麻（五錢）　續斷（二兩）　蓮蕊（二兩）　當歸（三兩）　沙苑蒺藜（四兩，如羊腎樣者）</p>
<p>覆盆子（四兩，去蒂，東流水浸一宿，淨、干）</p>
<p>楮實子（三兩，淨，去皮末，酒浸。浮者不用）</p>
<p>藥俱忌鐵器。共為末，煉蜜為丸，如梧桐子大。每服六、七十丸或百丸。空心鹽湯或溫酒送下。</p>
<p>熬旱蓮草膏法：取旱蓮草不拘多少或百十斤，搗汁。用砂鍋熬成沙糖樣，磁碟盛，曬乾。</p>
<p><u>雀卵菟絲子丸</u></p>
<p>買真正菟絲子揀去灰土，用酒洗淨，另將無灰好酒浸漲，就將此酒於砂鍋內煮極爛，銅鍋煮亦可。用木臼搗爛，捏成薄餅曬乾，磨為細末。每淨末一斤，用雀卵二百個加用尤妙。去黃止用清白。如末干少，用真糯米粉酒調打糊為丸，如梧桐子大。每服五十丸，空心用無灰酒送下。如腰疼加杜仲，不疼不必加。</p>
<p><u>傳全鹿丸</u></p>
<p>當歸身　知母（去尾，淨）　天門冬（去心、皮，淨）　懷熟地（各四兩）　人參（去蘆，四兩）　白茯苓（去皮，四兩）金櫻子（去粗皮、刺，淨，四兩）　芡實肉（六兩）　牛膝（去蘆，六兩）　蓮肉（去心，四兩）　山藥（四兩）　黃柏（去皮，四兩）　懷生地（四兩）　麥門冬（去心，四兩）　白芍（二兩，炒）枸杞子（去蒂，八兩）　茯神（去皮心，四兩）　杜仲（酥炙去絲，四兩）　白朮（東壁土炒，四兩）　蓮鬚（四兩）　山萸（淨肉，八兩）　覆盆子（四兩）　柏子仁（六兩）　肉蓯蓉（四兩，酒洗）黃耆（蜜炙，淨，四兩）　骨碎補（四兩）　五味子（二兩，淨）桑椹子（四兩，淨）</p>
<p>陳皮（四兩，淨）　菟絲子（酒煮，搗爛曬乾淨，八兩）</p>
<p>上用雄鹿一隻，取精肉十二斤，用血、髓、腎、肝、心。全角截作片，用無灰酒二十五斤煮熟，將前藥再入酒肉內煮乾為度。如未全熟，再加酒五斤，取出曬乾為末，煉蜜為丸，如梧桐子大。空心溫酒、淡鹽湯或白滾湯送下。</p>
<p><u>種子方</u>　此藥滋陰養血，固精神，強筋骨，明目，止風淚，黑髮烏須，功效甚大。此方傳之包五友者，友見寵於世宗，今百有餘歲，強健於少年，此其服食方也。</p>
<p>旱蓮草（一斤，六月六日採起，採至七月，選壯大者用之，陰乾會根，忌鐵器）　草決明子（半斤，搗薑汁同炒，去姜用。不用姜炒，生用亦可）　熟地黃（四兩，選懷生地壯大者四兩五錢。）　用酒煮黑如漆色，搗爛和前三味揉勻）　何首烏（四兩，如常法以黑豆用柳木甑九蒸九曬）　人參（一兩）　當歸（酒洗，四兩）　枸杞子（去蒂，一兩）</p>
<p>上六味，同為末。先將地黃搗爛和勻，再入煉蜜為丸，如梧桐子大。每服五、六十丸，空心、臨臥時皆可。或鹽水或酒，皆可服。</p>
<p><u>七寶丹</u></p>
<p>何首烏（八兩，赤白鮮者用竹刀刮去皮，切作片，米泔水浸一宿，用黑豆五升，浸軟，一層豆一層藥，密蓋炊熟，九蒸九曬）　天門冬（三兩，酒浸去心，曬乾搗末）　麥門冬（三兩，酒浸一宿，去心，曬乾搗末）　人參（去蘆，二兩）　白茯苓（五兩，去粗皮，切片，酒洗，曬乾搗末）　川牛膝（去蘆，三兩，酒浸一宿，曬乾搗末），當歸（二兩，酒洗）枸杞子（三兩，甘州者佳，去枝梗，曬乾搗末）　菟絲子（酒浸一宿，洗去浸泥，搗餅曬乾，二兩）　山茱萸（去核，三兩黃柏（五兩，去皮，鹽酒浸一宿，炒褐色）　五味子（一兩，去枝梗，北者佳）　懷山藥（二五錢）　懷生地（三兩，酒浸一宿，搗膏）　懷熟地（五兩，酒浸一宿，搗膏）</p>
<p>上十五味，共為末。煉蜜為丸，如梧桐子大，每服六十丸。空心鹽湯送下，或酒亦可。選擇吉日時修合，用靜室，並無婦人、雞、犬及孝服之人見之。此藥性極平和，不熱不冷，服之固元氣，生多男。即平素未舉男子及屢舉不育者，服此俱種種而舉，且不天閼，全其天年。余效，仍耐飢勞，美容顏，黑鬚發。隨服隨驗，久服愈驗，真萬金不傳之奇方也。</p>
<p><u>人參鹿角膏</u></p>
<p>人參（四兩）　鹿角膠（四兩）</p>
<p>人參咀片入銅鍋，或砂鍋亦可。用水八碗，約熬二碗，濾渣。又熬一碗，取起。又將鹿角膠人京酒三杯，熬化，同人參膏和勻，以磁瓶貯之，入好白蜜四兩，銅鍋隔水煮，候膏滴水成珠為度。每早淡酒調數匙就以食壓之。</p>
<p><u>人參固本酒方</u></p>
<p>人參　枸杞　天門冬（去心）　懷生地　懷熟地（各二兩）　當歸（二兩）　麥門冬（去心，二兩）　何首烏（二兩，製法如常）白茯苓（一兩）</p>
<p>不眠加酸棗仁；虛甚加黃耆；脾虛加白朮、陳皮；腎虛加黃柏、知母。用酒二十四、五斤，盛入二罐內，將藥各一半，用好絹小袋盛藥人罐內，用面封固，用桑柴陰陽火煮，二炷香為度，一七後方可服。</p>
<p><u>仙靈酒秘傳方</u>　此方壯陽固筋，健骨，補精益髓，廣嗣延年。中年之人及老人氣血不足者宜服。</p>
<p>仙靈脾（四兩）　金櫻膏（四兩）　川牛膝（一兩）　當歸身（二兩）　川芎（一兩）　巴戟天（一兩，去心）</p>
<p>菟絲子（一兩，制）　小茴香（一兩，炒）　補骨脂（一兩，炒）　官桂（一兩）　川杜仲（一兩，姜炒）　沉香（五錢）</p>
<p>上用細花燒酒二十斤，盛入壇內，將前藥為粗末，絹袋盛，吊壇內，煮三炷香，放土地上三宿，作十小瓶，以泥封口，聽服。</p>
<p><u>人參固本酒又方</u></p>
<p>人參（二兩）　天門冬（去心）</p>
<p>麥門冬（去心）　懷生地（四兩）　懷熟地（四兩）　枸杞子（四兩）　虎脛骨（二兩，酥炙黃脆）龜板（二兩，酥炙黃脆）</p>
<p>當歸（二兩）　何首烏（四兩，大者佳，竹刀去皮切片，米泔水浸一宿，用黑豆二升，浸軟，一層豆一層藥，密蓋蒸熟。九蒸九曬）</p>
<p>用好酒三十斤，盛人二罐內，將藥分一半，用好絹小袋盛藥，吊人罐內，將面封固，桑柴文武火煮，二炷香力度。理土內一七後，空心任服。</p>
<p><u>藥酒方</u></p>
<p>淫羊藿（一斤，去根，用葉。將麻布揩去背上毛，用酥油塗炙黃透，斤半取八兩）　當歸（八兩，酒洗去須頭）　鹿茸（二兩，酥炙三兩五錢）　仙茅（四兩，米泔水浸去赤汁，用黑豆拌，蒸爛，去豆不用）</p>
<p>上各咀片，共入絹袋盛懸壇內。用陳煮老酒五、六十斤打面封頭並口，煮三炷香取起，埋地下七日夜，將藥曬乾為末，煉蜜為丸，如梧桐子大。每日清晨將原酒吞二、三十丸，半月以後見固精之效。須禁房事一月，方有大效。或加人參一兩。</p>
<p><u>延齡育子方</u></p>
<p>膃肭臍　用桑白皮（一兩）　楮實子（一兩）　山楂　麥芽　神麯　補骨脂（各一兩）　黑芝麻　黑豆（各一合）</p>
<p>以上八味煎水，用酒、水各一半。外用酒洗膃肭臍，人前酒水內浸，以軟為度。後用竹刀切碎去膜，用瓦一塊，荷葉襯瓦上，上用瓦一塊蓋之，慢火烘乾，碾為細未，聽用。</p>
<p>巨勝子五兩（酒洗淨，分為四分。芝麻，蘿蔔子，糯米，白芥子各炒一分）　甘枸杞子（去梗蒂，四兩）　生地黃（肥大沉水者，酒洗淨，五兩）　熟地黃（肥大沉水者，酒洗淨，五兩）　麥門冬（去心，五兩）　白朮（五兩，土炒一分，麩炒一分，神麯炒一分，枳殼炒一分）　白茯苓（去皮、心、膜，乳浸曬乾，五兩）　人參（去蘆，五兩）　菟絲子（酒洗淨，浸一晝夜，蒸，搗餅曬乾，四兩）　柏子仁（炒，去殼，五兩）　山藥（薑汁浸，炒乾，四兩）　山茱萸（去核，淨肉，五兩）　肉蓯蓉（去甲膜，酒浸，曬乾，五兩）　遠志（去蘆，甘草燈芯湯泡，去梗，淨，二兩）　鹿角霜（五兩）　何首烏（黑豆汁蒸一分，鹽水蒸一分，米泔水浸一分，醋浸一分，八兩）　川巴乾（酒洗，去心，四兩）　石菖蒲（去蘆，微炒，二兩）　當歸（酒洗，去蘆稍，二兩）　五味子（去梗，二兩）　川牛膝（去蘆稍，酒洗，曬於，四兩）　沙苑蒺藜（炒，五兩）　川黃連（去須，吳茱萸湯浸一分，木香湯泡一分，薑汁泡一分，酒浸一分，曬乾，三兩）　酸棗仁（去殼、皮，炒，二兩）</p>
<p>以上俱各制分兩為末。春加薑汁、竹瀝；夏加香薷、木瓜、薏苡仁煎水；秋加薑茶、茱萸、木香；冬加紫蘇、薄荷、蒼朮、厚朴煎汁用，煉蜜為丸。每服九十丸，滾白湯送下。</p>
<p><u>廣嗣良方</u>　男服</p>
<p>山茱萸（水浸，去核，五兩）　天門冬（水浸，去心、皮，五兩）　麥門冬（水浸，去心，五兩）　黃耆（去皮，蜜炙，二兩）　補骨脂（酒浸，水洗，炒黃，八兩）　菟絲子（擇淨，酒浸一宿，曬乾，三兩）　枸杞子（去枝蒂，三兩）　當歸（酒洗，去蘆全用，二兩）　覆盆子（微炒，三兩）　蛇床子（水洗淨，微妙，三兩）　川巴戟（酒浸，去心，三兩）　山藥（洗淨，一兩）　熟地黃（酒浸，搗如泥，三兩）　黃犬腎（酥炙，焙乾，二副）　白龍骨（火煅七次，童便、鹽、酒淬，布包，懸井底三日，二兩）　人參（一兩五錢）　韭子（酒洗淨，炒，三兩）　鎖陽（酒洗，酥炙，二兩）　白朮（水洗，土拌炒，一兩）　杜仲（去皮，酥炙，一兩五錢）　陳皮（酒洗，去白，微炒，一兩）　紫河車（一具，初生男胎者佳。將米泔水洗，用銀針挑破擠去紫血，待淨，人水壇內，好酒二斤，封固，重湯煮爛，搗如泥）</p>
<p>上為極細末，人煉蜜，木臼內搗極勻，丸如梧桐子大。每服五、六十丸，漸加至百丸止。空心，鹽湯下。出外減半服之。</p>
<p>女服</p>
<p>山茱萸（酒浸，去核，五兩）　香附子（去毛，四制，五兩）　川芎（酒洗，三兩）　熟地黃（酒洗，搗極爛，三兩）　白芍藥（去皮，酒炒黃，四兩）　益母草（三兩）　條芩（酒炒，二兩）　蛇床子（水洗淨，微炒，二兩）　覆盆子（微炒，二兩）　玄胡索（微炒，二兩）　陳皮（水浸，去白，二兩）　蒼朮（米泔水，一宿，三兩）　砂仁（去殼，一兩五錢）　丹參（水洗，二兩）　當歸（酒洗，去蘆，全用，三兩）</p>
<p>用白絲毛烏骨雄雞一隻，預先餵養一月，不令與雌雞同處。臨合，將線緝死，不出血，干去毛，剖開去腸內穢汙，並嗦內宿食。肫內黃皮，用酒洗淨，一應事拌，仍裝入雞肚內，不令見水，置壇內，人酒二斤，封固，重湯煮爛，取出刮下淨肉，搗如泥，仍將雞骨、酥油和原汁或酒炙酥為末，入藥末拌勻。</p>
<p>上為極細末，同雞肉、地黃入醋煮，米糊拌勻，木臼內搗極細，丸如梧桐子大。每服四、五十丸漸加至八、九十丸。空心，清水飲下。如月信先期而至者，加黃苓、地骨皮、黃連各一兩五錢，清米飲下；如月信後期而至者，加黃耆一兩，人參、白朮各一兩五錢，溫酒淡鹽湯任下；如下白帶者，加蒼朮、白朮、柴胡、升麻、白芷各一錢五分，淡薑湯送下。</p>
<p><u>延年益壽不老丹</u></p>
<p>烏須黑髮，延年益壽，填精補髓，陰虛陽弱無子者，服至半年即有子。神效。</p>
<p>何首烏（赤白各一斤，竹刀刮去粗皮，米泔水浸一宿，用黑豆三升，水泡漲，每豆一層，何首烏一層，重重鋪畢，用砂鍋竹甄蒸之，以豆熟取首烏曬乾。又如法蒸曬九次，聽用）　赤獲茶一斤（用竹刀刮去粗皮為末，用盤盛水，將未傾人水內，其筋膜浮在水面者不用，沉水底者留用。濕團為塊，用黑牛乳五碗放砂鍋內，慢火煮之，候乳盡茯苓內為度，仍碾為末，聽用）　白茯苓一斤（製法同赤茯苓。亦濕團為塊，用人乳五碗，放砂鍋內，照前赤茯苓，仍碾為末，聽用）　懷山藥（薑汁炒，為末，淨，四兩）　川牛膝（去蘆，酒浸一宿，曬乾為末，淨，八兩）　甘枸杞（去梗，曬乾為末，淨，四兩）　杜仲（去皮，薑汁炒斷絲為末，淨，八兩）　破故紙（用黑芝麻同炒熟，去麻不用，將故紙碾為末，淨四兩）　菟絲子（去沙土，淨，酒浸生芽搗為餅，曬乾為末，淨，八兩）</p>
<p>上藥不犯鐵器，秤足和勻，煉蜜為丸，如梧桐子大，每服七十丸。空心，鹽湯或酒下。忌黃白蘿蔔、牛肉。</p>
<p><u>神驗百子丸</u></p>
<p>何首烏（赤白相半，先用米泔水浸二日夜，或竹刀、銅刀去粗皮，切成片，略曬爽，莫犯鐵物。用黑芝麻拌勻蒸一次，曬乾芝麻；再用烏羊肉切成片，去筋膜、油膩，拌勻蒸一次，去羊肉曬乾，再用極好無灰酒浸濕，蒸一次。四用黑豆一層，首烏一層，又蒸一次，去豆，曬乾。次次蒸法，俱用砂鍋，柳甑拼勻，蒸透熟為度。曬乾，揀淨，用石磨磨成細末，以一斤為祖）　熟地黃　天門冬（二味用生薑自然汁浸二日夜，曬乾待爽）　人參（去蘆，淨末，五錢）　生地黃　麥門冬（二味用無灰酒浸一日夜，取出再用米泔水浸一日夜，取出曬略干）</p>
<p>上四味，俱用石磨磨如泥漿。用杏仁去皮尖，煎湯化開前藥，濾出渣再磨。磨盡如澄水粉樣，待澄清，搬去清水，將藥粉曬乾，細末，各一兩。</p>
<p>白茯苓（去粗皮為末，用童便泛去浮筋，用泥底者浸一夜，曬乾，末，四兩）　地骨皮（去骨，無灰酒浸一日，濾出為細末，一兩）　川牛膝（去蘆，無灰酒浸一日夜，濾出為細末，二兩）</p>
<p>上九味，俱為細末。用無疾好婦人養男子的好乳汁六兩，煉蜜為丸，如梧桐子大。每服用無灰好酒送下五、六十丸，晨昏各進一服。忌諸般血、豆腐、蘿蔔、大蒜、蓮蓬、藕、敗血之物。</p>

<h3>婦人門</h3>
<p><u>調經暖宮方</u>　治婦女經血不調、久不受孕，服之令人懷妊，累有奇效。</p>
<p>秦艽（去蘆，一兩）　精墨（醋煅，五錢）　澤蘭葉（一兩五錢）　石斛（去根，酒浸，一兩）　茯苓（一兩五錢）　人參（一兩）　牡丹皮（一兩）　蠶紙（燒灰，一兩）　桂枝（少許）　山藥（四錢）　大豆卷（四兩）　香附（去毛，炒，一兩）　糯米（半合，炒）</p>
<p>川芎（一兩）　懷熟地（二兩）　當歸（二兩）　川椒（四錢，淨，炒）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。空心，好酒或一杯入滾湯下。</p>
<p><u>調經種子方</u></p>
<p>當歸（三兩，酒洗）　懷生地（酒浸，洗，三兩）　川芎（二兩）　芍藥（二兩，酒浸軟，切，微微炒）</p>
<p>白朮（二兩）　陳皮（二兩，水浸，去白）　黃芩（二兩，酒浸炒）　五靈脂（一兩，炒）　蒼朮（米泔水浸，一兩）　黃連（三兩，酒浸炒）　玄胡索（一兩二錢，微炒）　香附子（五兩，童便浸）</p>
<p>上為細末，蒸餅作糊為丸，如梧桐子大。每早晚服百丸，白湯送下，飲食無忌。</p>
<p><u>安胎萬全神應散</u>　秘傳，累經試效，不可加減，百發百中。</p>
<p>治孕婦三月前後或經惱怒，或行走失跌，損傷胎氣，腹痛腰脹，一服即安。雖見血一，二日，未離宮者，加一劑自安。倘先三、四、五月內已經半產者，將及前月分，略覺腰骨酸脹，忙服一劑安之。過此，必定萬全。</p>
<p>當歸（酒浸，一錢）　川穹（六分）　白芍（七分）　熟地（八分，薑汁浸）　白朮（一錢）　黃芩（一錢）　黃耆（七分，蜜炒）　杜仲（七分）　砂仁（五分）　阿膠（六七粒）　茯苓（七分）　甘草（三分）</p>
<p>胸前作脹加紫蘇六分，陳皮六分；白帶或紅加阿膠（多加），地榆一錢，艾葉七分；見紅加川續斷一錢，糯米百粒。</p>
<p>上水一盅，酒一盅，煎八分，空肚服。如痛，急將銅鍋煎一盅，即服。</p>
<p><u>治孕婦胸前作熱不食嘔吐</u>　此名惡阻</p>
<p>白朮（一錢）　黃芩（一錢）　茯苓（八分）　陳皮（八分）　甘草（三分）　紫蘇（七分）　山梔（薑汁炒，六分）　砂仁（六分）　當歸（八分）　白芍（八分）　山楂（七分）　藿香（六分）</p>
<p>上水二盅，姜三片，煎八分，食遠服。</p>
<p><u>八珍益母丸</u></p>
<p>益母草（上截一斤，不見鐵）　人參（一兩）　白茯苓（三兩）　懷熟地（四兩，酒煮）　當歸身（四兩，酒洗）　川芎（二兩）　廣木香（一兩）　砂仁（三兩，炒）　生甘草（二兩）　白朮（四兩，飯上蒸）　白芍藥（二兩，醋炒）</p>
<p>上為末，煉蜜為丸，如梧桐子大。空心，蜜湯送下百丸，或酒亦好。</p>
<p><u>婦寶丸</u>　即四制香附也，此藥可三、五料一次。</p>
<p>香附子四兩（用童便、梔子水、鹽水各浸一兩。犯鐵器）</p>
<p>忌蘿蔔、豆腐、蔥白。</p>
<p>上為細末，蒸餅為丸，如梧桐子大。每服百丸，日進三服。</p>
<p><u>芎歸益母丸</u></p>
<p>胎七、八月用。</p>
<p>益母草（四兩）　當歸（一兩）　川芎（五錢）</p>
<p>忌鐵器。</p>
<p>上為細末，煉蜜為丸，如梧桐子大，空心服。產前加砂仁一錢，或溫服，滾白湯下。產後不用砂仁，用童便送下五、六十丸。</p>
<p><u>難產奪命方</u>　經驗</p>
<p>牛膝（一錢）　當歸（一錢）　木通（一錢）　滑石（二錢）　赤小豆（二錢）　瞿麥（一錢）　葵子（一錢）</p>
<p>上用水二盅，煎，徐徐立下。</p>
<p><u>難產奪命丹</u>　治難產墜久不下，服藥猶遲者。</p>
<p>好魚鰾不拘多少，用香油燈火上，眾手燃燒，令焦色存性，研成細末一錢，人麝香三釐研，人末內拌勻，用臘酒調，服下自然易產。如再遲阻，少頃更一服，即效。</p>
<p><u>治難產方</u></p>
<p>蓖麻子肉（五錢）　雄黃（一錢）</p>
<p>上二味，共搗細，敷右腳心。胎下即除去，用水洗淨。切不可失記誤事。</p>
<p><u>治逆產方</u></p>
<p>取鼠腎，用銀簪挑破，滴乳香一錢，為末共和丸，如梧桐子大。硃砂為衣，候惡露至，好酒送下二丸。</p>
<p><u>保產無憂散</u>　治婦人難產橫生、逆生，甚至七、八日不下，及血暈、陰脫、無乳皆治。九個半月服一貼，臨產二、三日之前預服一貼，尤效。只如前症者一服即生。</p>
<p>當歸（一錢五分，酒洗）　川芎（一錢三分）　厚朴（七分，薑汁炒）</p>
<p>真蘄艾（七分）　羌活（五分）　貝母（去心，一錢）　甘草（五分）　荊芥穗（八分）　枳殼（去穰麩，炒，六分）　黃耆（八分）　白芍（一錢二分，冬月一錢）</p>
<p>菟絲子（一錢四分）</p>
<p>上水二盅，生薑三片，煎八分，空腹服之。如婦人生育艱難，臨產時一服即生矣。</p>
<p><u>催生滑胎湯</u>　臨產時用，令孕婦易生。累試神效。</p>
<p>當歸（一錢）　川芎（六分）　甘草（三分）　白茯苓（七分）　枳殼（六分）　紫蘇（六分）　滑石（六分）　益母草（三錢）　木通（五分）　砂仁（五分）</p>
<p>上，水一盅，煎八分，不拘時服。</p>
<p><u>催生開骨丹</u></p>
<p>五月五日午時，擇透明硃砂，透明滴乳等分。先將砂飛過為塵末，次將乳香入銅銚內，熔化就人砂末和勻，乘熱為丸，如芡實大。臨產痛至不可忍時，用井花水，面東吞下一丸，立產。</p>
<p><u>轉膾方</u>　治橫生逆產。</p>
<p>臨產時或見手、見足，用柘樹葉不拘多少，用水七、八碗，鍋內煮熟，連飲二碗。少頃不動，又進一碗。少頃又進，連進四、五碗，其胎藥氣提上，自然轉身順下矣。先與產婦說明有此方，決無恙，免致心慌神亂。</p>
<p><u>加味穹歸散</u>　治婦人五、七日不產，垂死者服之，立生。及矮石女交骨不開者，並皆治之。</p>
<p>龜板（一個，自死者佳，酥油炙黃色）　乳發（一握，取生過男女婦人的燒存性）　當歸尾（一兩，酒洗）　川芎（一兩，取雀腦者）</p>
<p>共為不細粗末，如粉子樣一般。每服三錢，水一盅半，煎至八分服，約人行五里，生胎、死胎並下。無自死龜殼，瑣龜廢殼亦可。</p>
<p>□□□□……</p>
<p>將滿月，腹覺微痛，不可便聲揚，每人家不……事，婦人人房不查時候即多人操扶，苦令著力，不知時候未到用力無濟。甚至橫生逆產，次則將產時母無力送下，為害不小，須要識候，產門腫滿方是時候，一用力即生矣。如產門未腫，縱肚痛，須勉強行走，使氣血流動。倘體弱倦怠、痛不能忍即臥床無妨。但用一大枕放在兩腿之中，令其開而弗閉，或坐在尿桶上尤妙。</p>
<p>取胞衣要訣：</p>
<p>產下，如胞衣不來，先將嬰孩抱定，不可斷臍帶，用一憐俐老成女眷，將右手二指緊跟臍帶而上，帶盡處，將指向上半寸余摸之，覺有血便是。胞衣逆轉盛血在內，不得下，即以指連胞衣向下一捺，其血復其衣自隨而下，法甚簡明。每見孕婦衣不下，多服藥或用吐法，甚至以足拄腹者，易至喪命，小必至於成病。不知之不下正為嬰孩出門，臍帶一衣，必逆轉向上，汙血淋下盡入衣中，以至衣漸滿大，不能出，夫豈藥力之所能與哉？故特書之，以免此患。</p>
<p><u>產後解痛方</u></p>
<p>益母草一大撮，入清童便一碗，水一碗，銅鍋內紙蓋煎七分，溫服。能去穢，不致停血作痛。</p>
<p><u>產下即用清魂散</u>　產後去血多暈用之。</p>
<p>當歸（二錢）　川芎（一錢）　澤蘭葉（八分）　益母草（三錢）　荊芥（七分）　甘草（三分）</p>
<p>如脈沉細加人參一錢，童便二、三盅；身熱加麥門冬（去心，七分。）</p>
<p>上用水二盅，煎八分，不拘時服。</p>
<p><u>赤白帶神效</u></p>
<p>棉花子（半斤，燒存性取一兩）　柏子一兩（燒存性，取三錢）</p>
<p>上二味，共為末。空心，淡酒調服三錢。</p>
<p><u>白帶神效丹方</u></p>
<p>□□肉（四兩）　硫黃末（一錢）</p>
<p>□□味同炒熟，去黃不用，將熟果肉空心鹽湯嚼，□□□料即止，不見白即愈也。</p>
<p>□□□□</p>
<p>芡實粉（二兩）　白茯苓（一兩）　赤石脂（煅，一兩）　牡蠣，煅，醋淬，一兩）　禹餘糧（煅，一兩）　石灰（風化，八錢）　好醋（一盞，拌和前末，曬乾再搗，篩過）</p>
<p>用糯米煮粥和搗為丸，如梧桐子大。空心，米湯下五十丸加至六、七十丸。</p>
<p><u>秘驗血崩丸</u></p>
<p>真阿膠（二兩，炒成珠）　慎火草（二兩，炙焦碾）　棕毛（燒灰存性）　龍骨（煅）　牡蠣（煅，醋淬）　真蒲黃（炒黑色）　烏梅肉（各一兩（烙焦碾末）</p>
<p>上，酒半盞，將烏膠化開，和前末，藥丸梧桐子大，空心酒下六十丸。</p>
<p><u>治婦人崩漏血不止</u></p>
<p>阿膠（五錢，炒成珠為末，另）　乾薑（五錢，炒黑）</p>
<p>香附米（醋浸，炒黑，五錢）　蘄艾（五錢）</p>
<p>上將後三味用好醋酒二碗，煎至一碗，調前烏膠末，空心熱服至臍即止。崩一年者，二貼全愈。崩二、三年者，四貼全愈。再服後末藥除根。</p>
<p>白雞冠花（炒，五錢）　甘草（炙，三線）　百藥煎（二錢）　木耳（二錢）　白芷（一錢）</p>
<p>共為細末，每空心用當歸煎湯調服二錢，藥盡永不發，真仙方也。</p>
<p>治產後心悶而死者。用紅花數十斤入大鍋內煮之，候湯沸以木桶盛湯於中，取窗格寢婦人於其上，湯氣漸冷換熱湯薰之，少頃必蘇。</p>
<p><u>安胎古方</u></p>
<p>白朮（二兩，炒）　條芩（二兩，酒炒）</p>
<p>二味為末，用水為丸。每服六十丸，空心滾水下。</p>
<p><u>治血山崩方</u></p>
<p>鹿角膠三錢，晚間用酒浸至次早，重湯煅化服下，或下午再加一服更妙。屢試屢驗，久服不特斷根，血氣更旺於昔日。</p>
<p><u>治血崩百藥不效一二服即愈方</u></p>
<p>升麻（五分）　柴胡（五分）　川芎（一錢）　白芷（一錢）　荊芥穗（六錢）　當歸（六錢）</p>
<p>上，水二碗，煎一碗，食遠服即止。多不過五、六服。</p>
<p><u>五瓜萎散</u>　不拘經事過與不及，服之一、二月間即懷孕矣。</p>
<p>陳瓜簍五個，連皮、瓤、實，新瓦焙乾，為末。早晚每服一錢，好酒送下。</p>
<p><u>治婦人虛弱不受妊藥酒方</u></p>
<p>川當歸（一兩）　川芎（七錢）　熟地（八錢）　白芍（八錢）　黃芩（四錢）　甘草（三錢）</p>
<p>上咀片密絹袋盛藥，用頭生酒五壺置壇內，再用好毛色雄雞一隻，重半斤以上者，去毛雜，同藥懸在壇內，用箬封口，煮二炷香為度。雞熟先食，酒置地，退火性方服。女人少者服之有孕；壯者服之倍增精神，不生他疾。如脛頭痛，加天麻三錢；腰痛，加核桃肉十個，去衣；脾胃不好，加紅棗肉二兩，如無紅棗以白朮五錢代之。</p>
<p><u>孕婦服方</u>　三、四月以後，皆可服，妙。</p>
<p>白朮（一錢）　香附（八分）　當歸（一錢）　黃芩（八分）　人參（五分）　川芎（八分）　甘草（三分）　白芍（八分）</p>
<p>上，水盅半，煎七分，食後服。</p>
<p><u>少乳煮酒方</u></p>
<p>當歸（一兩）　生地（一兩）　熟地（一兩）　牡蠣（一兩）　木通（一兩）　川芎（五錢）　白芍（五錢）</p>
<p>用好頭生酒十五斤，以藥置壇中煮，官香一炷完為度，地五、七日，退火性方服。</p>
<p><u>治血山崩方</u>　屢試驗者</p>
<p>土茯苓（一兩）　臭芙蓉□□</p>
<p>上二味，用水三碗，煎至一半。空心溫服後。每貼加土茯苓三兩，水六碗煎至三碗，每日清晨、午後食遠溫眼。</p>
<p><u>治月經前作痛不可忍方</u></p>
<p>吳茱萸（一斤）　黃芩（一斤）</p>
<p>上二藥，將銅鍋炒老黃色，將茱萸篩出，加當歸四兩，酒浸共為末，將茱萸煎湯為丸，如梧桐子大。每服空心好酒下七十丸。</p>
<p><u>治女人臨產一二日前或即產時服</u></p>
<p>當歸（五錢）　川芎（五錢）</p>
<p>如產兒後，加童便一小酒盅，酒一小盅，服一、二劑甚妙。如有兒枕痛，加山楂三錢。如法服之，極易產也。</p>
<p><u>治婦人血崩方</u></p>
<p>用宿黃芩四兩，以好醋浸一夕，蒸一次，曬乾。如此再浸再蒸再曬七次，用老米糊為丸。侵晨送下二錢全愈。</p>
<p><u>安胎方</u></p>
<p>白朮　條芩　熟地黃　當歸　蛤粉（炒成珠）　阿膠　杜仲（薑汁炒斷絲）</p>
<p>上各等分為末，清水為丸。空心滾湯下六十丸。</p>

<h1>卷二</h1>

<h2>羅浮山人集</h2>

<h3>小兒門</h3>
<p><u>解胎毒方</u></p>
<p>小兒落地呱地一聲，口中血塊下腹，便成胎毒。約半日用藥二味煎水。將舊細青布洗淨，纏食指，展藥水，輕輕洗口內舌與唇。藥水任嚥下。能令毒氣從胎糞出，可免肚痛之症。</p>
<p>黃連（夏多用）　甘草（冬多用約各一錢為準）</p>
<p>小兒三朝洗浴後，須用艾葉燒臍帶，一生免臍風、肚痛等症。</p>
<p>燒法：用方軟綿紙一塊，約四、五寸，中取一孔，放在洗兒者手掌中，紙孔對中指，用人抱在懷內，使弗動，將臍帶穿過紙孔，兩指夾定，背手黏兒腹，毋令太緊。帶盤紙上加艾一層，火燒過，令包住；外用舊絹片縛在腹上，借暖氣祛風除濕，終身肚腹不痛。</p>
<p><u>去先天胎毒方</u>　服此永不出痘，百試百驗。</p>
<p>大黃三錢，用無灰好酒大半盞，置銅鍋內煎成濃汁，用絹袋擠出濃汁。小兒初生未開乳時，每服挑二、三匙，不拘次數，任其噁心無妨。合晝夜一服時為度，撤盡臍屎，永無毒胎，屢試屢驗。勿以大黃傷小兒元氣為疑。倘小兒生來體厚或生於六、七月。其母懷孕冬月向火，必成胎毒，可用化毒丹。每日放半丸於小兒舌上，令其自化下為妙，必於未滿月前服之。</p>
<p><u>治臍風方</u></p>
<p>用生薑搗汁和麵作餅一個，溫熱貼臍上，用包頭縛住。</p>
<p><u>治小兒久瀉飲食小進身體羸瘦屢試神效方</u></p>
<p>白朮（土炒）白茯苓</p>
<p>各等分，用老米一撮煮粥，只服米飲，其瀉自止。</p>
<p><u>小兒久泄貼臍方</u></p>
<p>黃臘（五分）　蓖麻子（十四粒，去殼）　銀珠（一分）　麝香（半分）</p>
<p>上調勻。用油紙作膏藥貼臍。</p>
<p><u>治水泄方</u></p>
<p>用薑蔥搗爛，人黃丹為丸，如豆大。每用一丸，填人臍中，外膏藥貼之，立止。</p>
<p><u>小兒肚痛方</u></p>
<p>用好明礬少許為極細末，點左眼角立止。出《海上仙方》。</p>
<p><u>小兒吐方</u></p>
<p>砂仁（不拘多少，童便炒制三、四次，為末，一兩）　丁香（三錢）　藿香（三錢）</p>
<p>上共為末，每服一匙，薑湯下。</p>
<p><u>治吐瀉玉露散神方</u>　虛寒者不可用。</p>
<p>石膏　寒水石　生甘草（減半）</p>
<p>上為細末，每服一匙，蜜水調下。</p>
<p><u>治火丹神效方</u></p>
<p>大黃（五錢）　皮硝（五錢）</p>
<p>共研為細末，取柏枝葉搗汁調稀，搽患處即愈。</p>
<p><u>又方</u></p>
<p>用苧根洗盡，將皮搗爛，敷患處即愈。</p>
<p><u>治胎毒方</u></p>
<p>晚殭蠶（一兩）　蘇州薄荷（一錢六分）</p>
<p>各炒為細末，用香油調敷。</p>
<p><u>小兒軟癤屢試神效方</u></p>
<p>用銅綠，不拘多少，研極細末，入柏油熬化，布片作膏，貼上立消。</p>
<p><u>小兒脫肛方</u></p>
<p>鱉頭燒灰存性為末，搽上即愈。</p>
<p><u>治小兒口內生瘡方</u></p>
<p>用炒焦乾姜同黃連末搽在口內，即愈。煎服更妙。</p>
<p><u>治小兒痘瘡黑靨唇口冰冷方</u></p>
<p>上用狗身上蠅能飛者七枚，擂細和醅酒少許調服。冬月蠅藏於狗耳中。</p>
<p><u>治小兒咳嗽不止方</u></p>
<p>薏苡仁（一合）　慈孝竹葉（三十片）</p>
<p>上將苡仁春熟洗淨，用水二碗將前二味煮成粥湯。如吃湯與湯吃，吃粥與苡仁吃，三、五次即好。</p>
<p><u>治小兒疳積方</u></p>
<p>穀精草　土木鱉子（有殼者是。去殼）</p>
<p>蛤粉　使君子（各一兩，去殼）</p>
<p>上為細末，再用豬腰下肉二兩，用前藥二錢，共搗作一餅，煮熟與小兒連湯吃。</p>
<p><u>追蟲打積諸痞塊血鱉經驗方</u>　薰法</p>
<p>雄黃末（一錢）　斑毛末（五分）　蘄艾（三錢）</p>
<p>上藥用綿紙包如筆管大，寬、緊適中。太寬則火力大，難當；太緊則煙微而散。先用草箍住患處，俯伏，下以藥燃薰，腹上起泡多者為佳。薰畢，先以麝香搽患處，再用後膏藥貼之。</p>
<p><u>十八反膏藥方</u></p>
<p>細辛　玄參　藜蘆　白芨　半夏　烏頭　大戟　蕪花　甘草　甘遂　白蘞</p>
<p>共為末，用生蔥、薑汁、蜜、廣膠一兩，共煎成膏，攤狗皮上貼之。如稍泄，不必服後藥。如一、二日不泄，再服後藥</p>
<p>黑牽牛（頭末，六錢）　檳榔（四錢）</p>
<p>上為末，量人虛實，如虛者服四錢，實者服五錢。以月初早晨空心服砂糖湯二、三口，再服藥，候大便二、三次，以下淨為妙。欲止，口溫粥數口。一、二日內忌大葷。</p>
<p><u>奇效肥兒丸方</u></p>
<p>陳皮（洗，一兩）　青皮（醋炒，五錢）　神麯（炒，五錢）　麥芽（炒，五錢）　檳榔（炒，五錢）　木香（二錢）　黃連（薑汁炒，五錢）　使君子肉（五錢，煨）</p>
<p>上為末，水跌丸，芡實大。每服一丸，米湯化下。十歲者二丸，冬月薑湯下。</p>
<p><u>又方</u></p>
<p>使君子（五錢）　黃連（五錢）　厚朴（五錢）　陳皮（五錢）　肉果（一兩）　神麯（一兩五錢）　麥芽（一兩五錢）　木香（三錢）</p>
<p>上為末煉蜜丸，如皂角子大。每服一丸，米湯下。</p>
<p><u>千金抱龍丸</u></p>
<p>大竺黃（真者，五錢）　蠟琥珀（七錢）　膽南星（一兩，薑汁炒）　枳殼（一兩，麩炒）</p>
<p>白茯神（一兩）　生甘草（一兩）　乾山藥（炒，二兩）　辰砂（一兩）　白硼砂（一兩）　明雄黃（三錢）　麝香（五分，水調入藥）　沉香（五錢）</p>
<p>上為末，蒸餅和煉蜜為丸，芡實大，金箔為衣，陰乾。烙照過小磁罐貯，黃蠟塞口，久留不泄氣。每服一丸，薄荷湯化下。若遇驚風薑湯下。</p>
<p><u>治走馬可疳</u></p>
<p>胡黃連（一錢）　冰片（一分）　枯礬（一分）</p>
<p>上共為細末，先用米泔水洗淨，數次即愈。</p>
<p><u>治害耳出膿</u></p>
<p>蛇蛻用新瓦焙黑、存性，研細為末。先用細竹枝絞絮取膿淨，將蛇蛻少許入竹筒，吹入耳，二、三次即愈。</p>
<p><u>頭瘡方</u>　治癬亦神效</p>
<p>水銀（二錢）　雄黃末（二錢）　雄豬油（二錢）</p>
<p>上先將油一半，入雄黃同研為膏；後入水銀研，仍用油一半，入磁碗煎，飛滾投入同研，水銀即死。次用艾煎湯洗去瘡殼，於赤肉上將前藥薄薄搽上，次日即如湯泡樣自然結痂而愈。癡落皮赤用生薑擦之，發即生矣。</p>
<p><u>治軟癤方</u></p>
<p>蓖麻子二兩、松香二兩，同搗成膏。攤貼息處，愈後發仍生。</p>
<p><u>治痘極多不能灌漿丹方</u></p>
<p>用白水牛身上蝨二、三錢，新瓦烙干，龍眼湯送下。此方極妙不可言，服後亦不灌漿只起黑衣而愈。其蝨在牛耳中取之。</p>
<p><u>治痘不起丹方</u></p>
<p>飲白馬乳二、三酒盅即起。</p>
<p><u>稀痘丹</u></p>
<p>蝸牛新瓦焙乾，每一歲服一條，於除日早晨空心滾湯調服。</p>
<p><u>治小兒火丹</u></p>
<p>蚯蚓糞碾細，雞子清調搽之。</p>
<p><u>利痰散子</u></p>
<p>白醜（五錢）　檳榔（六分）　牙皂　茵陳蒿　木香（各五分）</p>
<p>上為末，量大小白湯下一錢匕，以痰下病愈。此方治小兒風癇多痰癡而不惠者，但是諸痰症無不治驗方。</p>
<p><u>牛黃丸</u>　廣東方</p>
<p>牛黃（一兩一錢）　片腦（一兩）　麝香（一兩）　雄黃（八錢）　羚羊角（一兩）　犀角（二兩）　阿膠（一兩七錢五分）　人參（二兩五錢）　甘草（二兩）　白茯苓（一兩五錢）　當歸（一兩五錢）　防風（一兩五錢）　川芎（一兩二錢五分）　蒲黃（二兩五錢）　白芍藥（一兩五錢）　黃芩（一兩五錢）　神麯（二兩五錢）　桔梗（一兩五錢）　白蘞（七錢五分）　麥門冬（一兩五錢）　杏仁（一兩二錢五分）　柴胡（一兩二錢五分）　官桂（一兩七錢五分）　山藥（七兩）　大豆卷黃（一兩七錢五分）　乾薑（七錢五分）　黑棗（一百個）　糖蜜（五斤）　黃蠟（四十斤）　土金箔（一千二百張）　杏仁（一兩二錢五分）</p>
<p><u>抱龍丸</u>　廣東方</p>
<p>琥珀（一兩）　牛黃（一錢）　人參（一兩五錢）　枳實（一兩）　天竺黃（一兩五錢）　枳殼（一兩）　甘草（一兩）　硃砂（五兩）　山藥（十兩）　檀香（一兩二錢）　白茯苓（一兩五錢）　蜜糖（二斤八兩）　土金箔（四百張）　黃蠟（二十斤）　牛膽南星（一兩）</p>
<p><u>治小兒諸積方</u></p>
<p>核桃一斤，皮硝四兩，將核桃略敲損入皮硝，用水煮乾，去皮硝，只服核桃。</p>
<p>治小兒痘疹生在眼有白翳</p>
<p>用橄欖核磨水，加輕粉一、二釐在內，調勻，搽在眼胞上，藥氣一入，即落。不可搽在睛上。</p>
<p><u>治小兒走馬疳方</u></p>
<p>用黃鱔活者一條，剁斷取血，搽上即愈，妙至。</p>
<p><u>治小兒滿身癩疥方</u></p>
<p>用槐樹煎膿湯洗浴，再將松香碾極細末，摻患處。如此數次，即愈。</p>
<p><u>治小兒驚風不語方</u></p>
<p>雄黃　硃砂　黃連末　乳香（去油，各五釐）　冰片　麝香（各一釐）</p>
<p>用金眼蝦蟆膽調和，塞在口內，或痰出，或糞出即醒。</p>
<p><u>治小兒耳後膿瘡不瘥方</u></p>
<p>用好輕粉一錢，柿餅蒂七、八個燒灰，將熄時碗蓋，冷定為末，同輕粉、熟香香調搽。</p>
<p><u>治小兒初生臍不收干方</u></p>
<p>用鮮橄欖核磨水搽之，妙。</p>
<p><u>治小兒頭瘡</u></p>
<p>用豬骨髓一兩，輕粉二錢，調揸。</p>
<p><u>治小兒</u>　鱔⿸疒貢頭</p>
<p>用茅根不拘多少，瓦上炙脆為末，香油調搽，一日即愈。</p>
<p><u>又方</u></p>
<p>用黃泥二分，鹽一分，將捶鍊糍餅火煅過為末，香油調搽，三日即愈。</p>
<p><u>治小兒疳症眼目不明小便米泔色方</u></p>
<p>用雄雞約一斤四、五兩者，殺取肝肺膽三件，入酒小半盅共搗，再將絹濾去渣，用滾酒沖服，瀉數次愈，不過三服全愈。</p>
<p><u>元兔散</u>　又名沒痘影</p>
<p>菟絲子（一斤，水淘淨，，用無灰好酒砂鍋內煮一日，以極爛無骨為度，石臼內搗薄片曬乾為末，只忌銅器）　元參（一斤半，切片曬乾，取末。此藥末少，故多用）</p>
<p>上二味，各等分，和勻，入磁罐收貯。藥須常曬，每遇二十四節，以黑砂糖湯調下，量兒大小，或五分，或一錢；大人二、三錢，如臨近出痘，則日日服之。神效。</p>
<p><u>兔血丸</u></p>
<p>治小兒終不出痘，如出亦稀少。</p>
<p>臘月八日，取兔一隻，刺血、調蕎麥麵，每兔一隻加雄黃四、五分，攪勻為丸，如綠豆大。空心，酒送下二。三十丸。每月可服三。四次。如痘瘡盛行之時，速服五、六次，此屢驗之方也。</p>

<h3>諸風門</h3>
<p><u>治頭風痛</u></p>
<p>細辛　川芎　石膏　皂角末（各五分）　雄黃（七分）　焰硝（七分）</p>
<p>共為末，口中含水，右邊疼吹右鼻，左邊疼吹左鼻，效驗如神。</p>
<p><u>治偏正頭風</u></p>
<p>當歸（三錢，酒洗）　川芎（三錢）　人參（七分）　龍膽草（三錢，酒洗）　黃耆（三錢，蜜炙）　藳本（三錢）　甘草（五分）　柴胡（五分）　山梔仁（二錢）　枸杞子（甘州者，三錢）　升麻（八分）　黃芩（一錢五分）　枳實（一錢五分）　薄荷（一錢）　甘菊（一錢）　防風（五分）　生地（三錢，酒洗）</p>
<p>上十七味，用水五盅煮酒一盅，煎二盅半，飽服。第二次，水二盅半，酒不用，煎一盅半。第三次，水二盅煎一盅。俱飽服。只吃一劑，全好。</p>
<p><u>治半身不遂方</u>　如有虛汗或虛人不可用，惟無汗者最佳。</p>
<p>鬧陽花即擇毒花四兩（用細花，燒酒四兩，漸灑花上，入鍋內炒乾）　當歸（四兩，酒洗）　干菊花（四兩）　五加皮（四兩）　蒼朮（二兩，用米泔水浸一晚）</p>
<p>上藥入好酒十五斤，用無嘴壇盛，煮熟藏土內，七日取出。如病人有一壺量者，只用一盅；極量大者，只用二盅止，不宜多用。每日只服酒二次，以精豬肉送下。服酒之後，令病人將不遂半身貼席睡，用棉被盫汗，半月之內必愈。但服酒時病人必然眼花暈，不必為慮。</p>
<p><u>治半身不遂口眼歪斜神方</u></p>
<p>人參（一錢五分）　黃耆（二錢）　當歸（二錢）　白朮（一錢五分）　半夏（一錢）　乾葛（八分）　甘草（四分）　紅花（四分）　桂枝（五分）</p>
<p>上水二盅，姜三片，棗一枚，煎服。此症人多用瘋氣藥治之，殊不奏效。此方調理氣血，故獲速效。分兩不可加減。</p>
<p><u>換骨丹</u>　治癱瘓、中風、口眼歪斜、半身不遂，一切暗風。</p>
<p>麻黃（熬膏）　威靈仙　何首烏　丹參　苦參　防風　槐角子　木香　桑白皮　白朮　蔓荊子　白芷　五味子　硃砂　川芎（各等分）　片腦　麝香（各少許）</p>
<p>上共為末，麻黃膏為丸，如彈子大。每服一丸，酒送下。</p>
<p><u>治手腳瘋氣如神</u></p>
<p>當歸　威靈仙　海風藤（要真者）　生地黃　牛膝　杜仲（炒，去絲，各五錢）　枸杞子　漢防己（各四錢）　蒼朮　芍藥　川芎（各三錢）　五加皮（六錢）　人參（五錢）　木瓜（五錢，瘋則木瓜不用）</p>
<p>用臘酒十五斤，將前藥用絹袋盛之，煮三炷香，將泥封固，埋土三日後服之。</p>
<p><u>瘋氣膏藥方</u></p>
<p>川烏（八兩）　鬧陽花（八兩）　川山甲（四兩）　草烏（八兩）</p>
<p>上藥用香油三斤，春秋浸七日，冬十日，夏三日，用槐柳條不住手攪，火熬枯油至黑色，用棕濾去渣，淨油聽用。每藥油六兩下松香一斤，其松香先日熔化濾去渣物，待冷打碎，用蔥薑湯拌，曬乾，次日同前藥共熬，滴水成珠，倒入水缸內，拔去火毒，將磁物盛了，用清水浸之。貼時勿見火，焙。</p>
<p><u>治瘋氣不能動或作痛</u></p>
<p>鬧陽花　防風　藳本　車前子　槐樹皮　白芷　川芎木通　獨活</p>
<p>上各等分。上焦加桔梗、下截加牛膝、龍膽草為末，水作餅。用蘄艾灸骨節動處，若渾身不動處所止隨痛處灸之，一餅已於另易一餅灸，令起泡方休。外用火瘡膏藥貼，加綿絮包，令暖。半月餘全愈。</p>
<p><u>追風如聖散治瘋氣</u></p>
<p>烏頭（二兩）　草烏（二兩）　蒼朮（二兩）　甘草（一兩）　明天麻（二錢五分）　石斛（五錢）　人參（一兩五錢）　全蠍　麻黃　何首烏　當歸　川穹　藳本　細辛（各二錢五分）　竹節　白附（一錢五分）　白芷　防風　荊芥（各二錢五分）</p>
<p>共為細末，遇症每服五分，重者至一錢，止用冷細茶送下。忌熱物。或冷酒調服亦可。</p>
<p><u>瘋氣方</u></p>
<p>當歸（全身用，重的一兩，一根者作一兩）　木通（三錢）　生地（一兩）　防風（五錢）　蒼朮（七錢）　砂仁（五錢）　五加皮（七錢）　木香（三錢）　羌活（七錢）　黃連（二錢）　牛膝（五錢）</p>
<p>好白生酒十五斤，絹袋盛藥，共入壇內，煮二炷香。取起壇，埋一半土中退火性三日，不拘時隨意飲數盅，量大者多飲亦可。如風氣乍發未及煮酒，則將前藥分作十貼。後藥酒煎服。</p>
<p>薏苡仁（一錢）　秦艽（六分）　防己（六分）　獨活（五分）　桑寄生（六分）</p>
<p>白酒盅半，煎八分。痛在上身，食後服；病在下身，食前服。走風各處疼痛者，隨宜服之。服藥須在和暖處坐半時，或無風有日色處行動頃刻。忌牛肉生冷海味豬首肉。飲不得酒者，水煎熟後加酒一小杯服之。若煮藥酒，不必加後藥也。此方老幼男婦並皆治之，惟少年女人或有胎孕者除去牛膝。百發百中，屢屢經驗。</p>
<p><u>治鶴膝風方</u>　主膝頭痛，砑子骨腫痛者。</p>
<p>真蘄艾，每一次用半斤煎水，乘熱蒸洗。洗一次即消，一日洗數次盡消。</p>
<p><u>又方</u></p>
<p>芫花（一兩）　血竭（五分）　小紅棗（五個）　蜜糖（五匙）</p>
<p>上四味，用鏡面燒酒一斤八兩，煮一炷香時退火性三日，每服一小盅，日服三次，酒完即愈。</p>
<p><u>又方</u></p>
<p>年久石灰（四兩）　芙蓉葉（四兩）　生薑（四兩）　菖蒲（四兩）</p>
<p>上為末，打成一塊，分作膏藥，一般貼在患處三次，即愈。</p>
<p><u>治鵝掌鳳</u></p>
<p>用皂角為粗末，將鵝卵石燒紅，小瓦一塊，盛在升中，上加皂角末燒煙薰之，其皮癢甚，再薰數次自愈。</p>
<p><u>又方</u></p>
<p>用桐油擦手掌，柏枝葉燒煙薰之，數十次自愈。每日三、五次。</p>
<p><u>又方</u></p>
<p>淡底不拘多少，為細末，用生桐子肉數個搗爛和末藥搗成膏敷患處，將燈火薰。內極癢，將布片包住，過一夜即去藥，如二、三次神效，即愈。</p>
<p><u>應效酒方</u>　治一切瘋氣、跌打損傷、寒濕疝氣。</p>
<p>紫金皮　五加皮　川芎　烏藥（各一兩）　官桂（五錢）　玄胡索（一兩）　廣木香（五錢）　鬱金（一兩）　羌活（五錢）　乳香（明者，三錢）　牡丹皮（一兩）　鬧陽花（五錢）</p>
<p>用好燒酒十斤，盛入壇內，將前藥為粗末，絹袋盛吊壇中，煮三炷香，放土地上三宿，作十小瓶，以泥封口聽服。</p>
<p><u>沉香至珍丸</u>　通利濕氣。</p>
<p>沉香（銼未，另研）　巴豆霜（五錢，紙捶）　陳皮（洗）　青皮（醋炒）　莪朮（醋炒焙乾）　廣木香（二錢）　烏梅肉（火焙乾）　黃連　檳榔（各五錢）　丁香（三錢，俱為細末）　上將巴豆仁滾湯泡去心，好醋浸一時，煮乾碾。用皮紙除去油，人藥末內碾勻厚糊丸，黍米大。每用五、七丸或九丸，大人十一、二丸，溫白湯送下。</p>
<p><u>治流注風初起方</u></p>
<p>草烏　金銀花</p>
<p>上二味，不拘多少，共入罐煎水，乘熟薰之即愈。罐口做布圈，以便按瘡。</p>
<p><u>治流注不收口方</u></p>
<p>水膠不拘多少，加水八碗熔化，加百草霜為末，調勻攤布片上貼之，即意。</p>
<p><u>治風濕手足腫痛半身不遂及諸般疼痛膏藥方</u></p>
<p>元參（二兩）　苦參（四兩）　黃柏（三兩）　荊芥穗（二錢五分）　鬱金（二錢）　防己（三錢）　川烏草烏（各四錢）　大黃（三錢）　生薑（五錢）　商陸多用</p>
<p>用香油三斤，將前藥浸一、二日，用鐵鍋煮，內入鱉殼一個，以驗火候，取殼黑色為度。濾去渣，加鉛粉一斤八兩，文武火熬，滴水成珠取起，磁器盛之，聽用。</p>
<p><u>治大麻風方</u>　只用灸法。</p>
<p>頭上當頂穴灸七壯，齊發際下，中離寸許灸，二穴灸七壯。愈後又灸，灸幾年自愈，不復發。</p>
<p><u>秘傳口眼歪斜方</u></p>
<p>蒼朮（童便浸，一兩三錢三分）　當歸（酒浸洗，七錢七分）　細莘（一錢七分）　白殭蠶（水浸微炒，一錢七分）　藳本（一錢七分）　甘草（微炒，一兩）　川烏（煨，一兩三錢）　金釵石斛（去根，三錢三分）　川芎（三錢三分）　防風（一錢七分）　人參（三錢三分）　何首烏（一錢七分）　蟬退（用白者，一錢七分）　全蠍（去嘴足，用粳米炒黃，一錢七分）　白芒（一錢七分）　兩頭尖（一錢）　草烏（煨，一兩三錢三分）　麻黃（去根，一錢七分）　天麻（煨，一錢七分）　硃砂（一錢七分）　荊芥（去根，一錢七分）</p>
<p>上為細末，飢時用溫茶調服。量人肥瘦有力者，服八、九分或一錢；老弱者，服六分或七分。</p>
<p><u>治鵝掌瘋方</u></p>
<p>硃砂（一錢）　雄黃（一錢）　輕粉（真者，五分）</p>
<p>上三味，研極細，和勻，入生桐油少許，調勻搽患處。搽畢，將患處於微火上焙，一炷香時為度，擦去。次日依法又焙，如此數日即愈。</p>
<p><u>治瘋癱不能起止</u></p>
<p>土茯苓（四兩，不見鐵器，用木捶碎）　牛膝肉（六分）　皂角刺（六分）　五加皮（八分）</p>
<p>上為一服，水三碗，煎至二碗，食遠服。渣並水一碗半煎至七分，忌牛肉、茶、醋。燒酒、麻油不可食。</p>
<p><u>瘋氣膏藥方</u>　每年端午日，採百草入內熬，其效如神。</p>
<p>亂頭髮（洗淨曬乾，半斤）　地骨皮（一兩）　尋風藤（一兩）　當歸（一兩）　黃蠟（二兩）　五加皮（四兩）　防風（一兩）　黃柏（去皮，四兩）　獨活（一兩）　木鱉子（去殼，一兩）　薑汁（半斤）　蔥汁（半斤。）</p>
<p>先將松香二斤下鍋熬化，將棕二片濾去渣，將清水浸之，然後將麻油二斤下鍋熬就，下前粗藥、蔥、薑汁入內，武火熬，各藥將枯，再加端午採百草入內，共熬枯，將棕濾去藥渣，再將鍋抹淨，復下藥，油入鍋內慢火熬。再下松香、黃臘，滴水成珠，然後下百草霜半斤，細下入鍋，收水氣，將百草霜予先碾極細，篩去粗者，然後下入藥油內候膏成住火，慢下細藥。</p>
<p>孩兒茶（五錢）　樟腦（一錢）　乳香（箬去油，碾，一兩）　沒藥（箬去油，碾，一兩）　龍骨（三錢）　輕粉（三錢）　血竭（一兩）　麝香（五分）</p>
<p>上八味，共碾極細，俟住火，將冷方漸下，不住手攪勻，將冷水浸之，聽用。</p>
<p><u>治痰症並備中風方</u>　凡肥胖有痰之人，宜備此藥。</p>
<p>牛膽南星（一兩二錢）　廣木香（二錢）</p>
<p>共為細末，用薑湯調下。常服只用一錢，急則用三錢，以磁罐收貯聽用。</p>
<p><u>磨風膏</u>　專治三十六種風邪等症。</p>
<p>蛇床子　黃柏　荊芥　全蠍　白芷　川山甲　川椒　剪草　犀角　川槿皮　風子肉　枯礬（各三錢，熬黑）　雄黃　雌黃　硫黃　輕粉（以上各三錢）　黃蠟（四兩）　麻油（一斤）</p>
<p>上將前十二味藥入麻油內浸一月，煎熬前藥，滓焦黑色濾去滓，下後六味細末，並黃蠟在內攪勻，待冷成膏收用。</p>
<p><u>治偏正頭風</u></p>
<p>藳本　細辛（各五分）　白芷（一錢）　辛荑（八分）</p>
<p>俱為細末，分為四主，用紙四條卷實，將火點，以煙薰鼻，以二次薰之即愈。屢試屢驗。</p>
<p><u>愈風丹</u>　此方養血清熱，疏風化痰，通暢經絡之聖藥也。</p>
<p>白芍藥（六兩）　當歸（酒洗，六兩）　黃連（七錢）　川芎（六兩）　何首烏（黑豆蒸過，一兩）　甘草（炙，四兩）　黃芩（三兩）　生地（二兩五錢）　秦艽（去蘆，淨肉，三兩）　羌活（一兩）　天麻（一兩五錢，煨）　獨活（一兩）　荊芥（三兩）　菖蒲（九節者，一兩）　防風（三兩）　大黃（酒蒸，一兩）　南星（如半夏制，三兩）　滑石（水飛，三兩）　連翹（去子，三兩）　石膏（火煅，另碾，一兩）　白殭蠶（炒，去絲、嘴，一兩）　山梔（炒，一兩五錢）　蟬退（一兩，去土）　海桐皮（一兩五錢）　麻黃（去節，三兩）　白朮（炒，二兩）　桔梗（一兩五錢，炒）</p>
<p>紅花（一兩五錢）　元明粉（八錢）　薄荷（三兩）</p>
<p>上除石膏、滑石、元明粉三味另研極細，余俱為末，煉蜜為丸，如梧桐子大。每服五、七十丸，食前白滾湯送下。</p>
<p><u>治左癱右瘓</u>　名八仙丹</p>
<p>酥油（五兩）　虎骨（油炙，二兩）　龜板（油炙，二兩）　芍藥（二兩）　白茯苓（二兩）　當歸（二兩，酒浸）</p>
<p>人參（五錢）　乳香　沒藥　木香（各五錢）</p>
<p>共為末，好酒送下一錢，如重加五分。</p>
<p><u>治鵝掌風</u></p>
<p>松香（五錢）　銅青（二錢）　水銀（一分五釐）　桐油紙（一個，燒灰存性）</p>
<p>先將銅青、桐油紙灰研為細末，將水銀入在內研死。將松香熬化入前藥末在內，用羊糞作包裹藥在內，放烘爐內燒，以手蓋在爐上熏之，不可泄氣。如燥痛，用香油一盅煎熟，入黃蠟二錢搽之。</p>
<p><u>又方</u></p>
<p>山楂根皮、枸杞根皮、石榴皮煎水熏洗。</p>
<p><u>治鶴膝風妙方</u></p>
<p>以苧麻根搗爛，以健豬腦子二個，入乳香、沒藥各二錢，和勻敷上即愈。</p>
<p><u>治手足麻木半身不遂方</u></p>
<p>威靈仙　石菖蒲　紫蘇　南星　桂枝　甘草　五加皮（一錢，用水一碗，每貼加茅蒼朮三兩，姜三片煎一盅，帶熱服。渣再煎。手麻用桂枝，足麻加牛膝。如此四貼即愈。</p>
<p><u>治半身不遂方</u></p>
<p>用上好茅山蒼朮十兩，米泔浸，㕮咀。絕好川椒四兩，老酒五斤，與藥貯瓶內，瓶口以箬扎封固好，用重酒煮，瓶</p>
<p>口上米熟為度。初吃酒要盡醉，要出一身臭汗即愈。</p>

<h3>痰火門</h3>
<p><u>半夏白朮天麻湯</u>　治頭疼，為素經鬱氣，脾胃虛弱兼有痰火厥逆，神效。</p>
<p>半夏（湯泡，一錢）　白朮（炒，一錢）　天麻（一錢）　白芷（七分）　蔓荊子（五分）　川芎（八分）　陳皮（八分）　細辛（三分）　麥門冬（去心，八分）　香附（童便浸，炒，一錢）　石膏（八分）　石菖蒲（八分）　薄荷（三分）　升麻（三分）　防風（五分）　茯神（七分）　甘草（炙，四分）　上作一服，水二盅，姜三片煎八分，食遠溫服。</p>
<p><u>治有條痰火方神效。</u>　主壯盛者服。</p>
<p>陳皮四兩（去白，淨。一兩薑汁浸；一兩竹瀝浸；一兩牙皂水浸；一兩明礬水浸）　大黃　紫苑茸　半夏（各一兩，明礬、牙皂水浸二七日）　玄明粉（一兩）　黑醜（一兩，半生半炒）　白朮（一兩，天花粉搗汁浸，同壁土炒）　白芥子（七錢）　砂仁（一兩）　白石膏（二兩，一兩火煅，一兩生用）</p>
<p>馬兜鈴（一兩）　甘草（一兩）　白茯苓（浸，一兩）　海石（五錢）　白硼砂（一錢）　南星（一兩）　製蒼朮（二兩）</p>
<p>製蒼朮法：要茅山蒼朮為上。蒼朮不拘多少，去粗皮咀片，用米泔水浸三晝夜，一日一換，取出曬乾，每一斤用桑椹四升，絞汁浸一宿，曬乾蒸，又曬乾，如此三次。又用好醋一碗浸一宿，曬乾再蒸，又曬；再用甘草湯浸一宿，曬乾蒸，又曬；蜜水一宿，曬乾蒸，又曬。共前九次畢。此藥不可見火。</p>
<p>上十七味，為細末，神麯打糊為丸。如梧桐子大。每服三、四十丸，清晨白水送下。</p>
<p><u>治不足痰火方諸痰神效。</u></p>
<p>綿文大黃（淨，好酒二碗，硼砂二兩二錢，同煮曬乾）　白朮（三兩，土炒去油，用砂仁、青黛、肉豆寇各一錢為末，炒）　橘紅（去白，淨，三兩，用豬牙皂，明礬各二錢，煎湯浸曬，又用竹瀝、薑汁浸曬）　半夏（二兩半，用礬、皂各三曬，泡浸一日，曬乾）　茯神（去皮木，淨，二兩，用乳浸曬七日次，磁器盛之）　南星（二兩五錢，用臘牛膽浸三次更好）　酸棗仁（去殼，淨，二兩，微炒）　蒼朮（三兩，不可見火，如法制）　黑牽牛（二兩，半生，半用薑汁炒）　遠志（甘草湯浸，去骨，曬乾，一兩）　紫蘇子（一兩五錢，炒）　檳榔（一兩，乳浸）　玄明粉（二兩）　人參（一兩，甘草八錢，煎濃湯浸，曬乾）　蘿蔔子（一兩五錢，炒）　枳殼（一兩，麥麩炒）　白芥子（一兩，炒）　石膏（白者一兩，半生半熟）</p>
<p>上十八味，共為細末，用神麯四兩，老米粉共打糊為丸，如梧桐子大。每服六、七十丸，清晨淡薑湯下，取痰。痰在上，上湧出；痰在下，下瀉出。</p>
<p><u>流金丸</u>　治一切痰火痰厥、中風癱瘓、小兒驚急。</p>
<p>梔子仁（炒黑，五兩）　白石膏（四兩）　牙皂（煨，去弦，二兩）　枳殼（炒，二兩）　生礬（二兩）　礞石（煅，二兩）　陳皮（三兩）　木香（五錢）　貝母（四兩，去心）</p>
<p>錦文大黃（酒浸一宿切片，九蒸九曬，每一炷香曬乾，六兩）　香附（童便浸一宿，曬乾炒，三兩五錢）　膽南星（炒，二兩）</p>
<p>上為細末，煉蜜丸，梧桐子大。硃砂五錢，研末為衣，薄荷薑湯，每股四十丸。</p>
<p><u>急救痰暈方</u>　火動痰自生。</p>
<p>薑汁半小酒杯　好真糖一、二匙</p>
<p>服時入鹽少許，再人白滾湯，共一處化下。</p>
<p><u>治痰裹心胸吐法</u></p>
<p>川茶子一粒，糯米七粒，同炒。去糯米，將茶子研末，吹入鼻中，痰吐出不止。豆腐、菜加蜜少許食之，即止。</p>
<p><u>清氣化痰丸</u>　局方</p>
<p>橘紅（一斤，去白）　枳殼（八兩，麩炒）　黃芩（八兩，酒洗）　半夏曲（八兩，炒）　赤茯苓（八兩）　滑石（八兩）　桔梗（五兩）　歸尾（八兩，酒洗）　生甘草（五兩）　山梔仁（八兩，炒）天花粉（八兩）　薄荷葉（四兩）　荊芥穗（五錢）　連翹（五兩）</p>
<p>上為末，白水滴丸，綠豆大。食遠，白湯、清茶任服。</p>
<p><u>竹瀝導痰丸</u></p>
<p>橘紅（一斤，去白）　白茯苓（四兩）　半夏曲（八兩，炒）枳殼（八兩，麩炒）　黃芩（八兩，酒洗）　生甘草（四兩）　蘿蔔子（四兩，炒）　天花粉（五兩）　桔梗（四兩）　當歸（四兩，酒洗）竹瀝汁（一碗）　神麯（四兩，炒）　貝母（四兩）</p>
<p>上為末，竹葉湯和竹瀝同滴為九，綠豆大。食遠，白湯送下百丸。</p>
<p><u>沉香滾痰丸</u>　治一切怪症、痰火、癲狂、胡言亂語、稱神說鬼，皆神效。</p>
<p>壯大黃（一斤，酒蒸）　黃岑（一兩，酒洗）　沉香（一兩二錢）　礞石（三兩，火稍煅，如金色）</p>
<p>上為末，清水滴丸，綠豆大，每服一錢，臨臥服。次早當下痰，如無，至夜再服。</p>
<p><u>上清丸</u></p>
<p>元參（八兩，洗）　薄荷葉（五兩）　荊芥穗（五兩）　苦桔梗（八兩）　大黃（八兩，蒸）　陳皮（八兩，鹽湯洗）　生甘草（五兩）　當歸尾（五兩，酒洗）　片黃芩（八兩，酒炒）　川芎（四兩）　枳殼（八兩，麩炒）</p>
<p>上為末，白水滴丸，綠豆大。每服一錢或半錢。</p>
<p><u>加味左金丸</u></p>
<p>黃連（一斤，薑汁拌炒）　吳茱萸（三兩，湯泡去苦水）　青皮（一兩，醋炒）　木香（一兩）　檳榔（四兩）　川芎（二兩）</p>
<p>上為末，水跌為丸，如梧桐子大。食遠，薑湯送下七、八十丸。</p>
<p><u>降火化痰丸</u></p>
<p>天門冬（米泔水洗淨，去皮心，曬乾，三兩，用好酒浸杵膏）　南星（生薑、皂角、白礬各二錢，同南星煮熟，將南星曬乾，取末，一兩）　黃連（二兩，薑汁炒，取末）　白茯苓（去皮木，取末，一兩五錢）　白芥子（水洗淨，炒，取未，二兩）　黃芩（酒炒，取末，二兩）　廣陳皮（水洗淨，蒸熟，去白，曬乾，取末，三兩）　百部（水洗淨，曬乾，取末，三兩）　苦桔梗（水洗淨，炒，取末，二兩）　黑玄參（水洗淨，曬乾，取末，二兩）　百合（水洗淨，曬乾，取末，二兩）　半夏（照南星制度，取末，五錢）　生貝母（水洗淨，去心，曬乾，取末，三兩）　蘇子（水淘淨，曬乾，炒，取末，一兩五錢）　蘿蔔子（水淘淨，曬乾，炒，取末，一兩五錢）　青竹茹（取末，二兩）　乾葛（水洗淨，曬乾，取末，二兩）　薄荷（水洗淨，去梗，曬乾，末，三兩）　五味子（水洗淨，曬乾末，二兩）　枳殼（麩皮炒，用枳殼淨末，一兩）　玄明粉一兩）　前胡（水洗淨，去尾，曬乾末，二兩）</p>
<p>上藥二十二味，共一處，拌勻，煉蜜為丸，如綠豆大。每食後服三錢，清茶送下。</p>
<p><u>治痰火童子癆絕妙方</u></p>
<p>用人中白，須天露者，不拘多少，炭火煅過，用布包，放在青靛缸內浸七日取起，曬乾為末，每服三錢，蜜湯送下，十日即愈。</p>
<p><u>治痰火方</u></p>
<p>冬至日，採冬青子三、四斗，淘淨，以清水浸之，其水要高子半寸許，浸至一七後，視子已爛，撈起。另置一器中，留浸子水不動，用蔑箕一個，放水缸內，一把一把細抓向箕內力擦，其子之肉俱隨水洗下缸內，惟皮與核留箕中，取起，另置一處。如此擦之，俟所浸子俱盡，子上肉已盡落入水中，然後將此水入鍋熬。先武后文，點蜜成膏，取起，謹收聽用。所餘皮與核放日中曬乾，簸去浮皮，將核再曬極，核自開折，更入桕搗碎。碎後復簸，去硬殼，以核中仁入鍋炒熱，乘熱急磨。少遲則仁冷而難碎，仁既成末，卻用薑汁、酒、蜜三味等分，勻勻灑透鋪布上，置竹器中，入鍋蒸之，蒸透曬乾，又灑又蒸又曬，如此九次，取來揉入前煎膏內為丸，如桐子大。每服三、四十丸，極多不過五十丸。空心淡薑湯送下，或溫酒更好，即白湯亦可。此藥不獨治痰火，凡諸火症與腸風、痔漏、諸般風眼無不除。製法如是。雖無子人服之亦不礙生子。蓋清而不寒不冷腎也。</p>
<p><u>痰火方</u>　治男婦老幼一切痰火。少年服之無癆怯、吐紅之患；老年服之亦無中風、痰厥之憂。解日用飲食煿炙五臟六腑之毒，兼消酒積，去皮裡膜外濕痰。第一清痰降火、止嗽定喘，其驗如神。</p>
<p>廣陳皮（去白，一兩）　好白朮（二兩，陳壁土炒）　黑枳實（一兩，麥麩炒）　天花粉（二兩）　陳枳殼（一兩，麥麩炒）　前胡（二兩）　山楂肉（二兩）　生甘草（四錢）　大半夏（二兩，製半夏法：用薑汁泡三次，一次約用姜三兩，捶碎，用水一碗，將礶熬滾，入半夏炮，如此者三，共要泡一日，取起，曬乾）大黃（五兩，製法：用上好綿文大黃一斤，將好水白酒五壺入鐵鍋內煮，酒干為度取，曬乾切片，再入鍋內，微火炒黑，細細夾碎，曬極干，同前藥磨為末用）</p>
<p>春月加白芍藥二兩，夏月加黃連（二兩，薑汁炒，秋冬不加）。</p>
<p>上藥共為末，用老米作羹和為丸，如梧桐子大。每服六、七丸，不拘清晨晚間，用白滾湯送下。</p>
<p><u>治痰證方</u></p>
<p>酸梅草不拘多少，陰乾為末，遇患用醋調，將筆塗舌根，痰涎流出，又塗又流，三、四次愈。</p>

<h3>鬚髮門</h3>
<p><u>烏須方</u></p>
<p>倍子（一錢）　銅落（二分）　明礬（二分）　青鹽（食鹽亦可，一分）　面（炒黃色，三分）</p>
<p>上為極細末，煎極濃，細茶調之，以盞盛，煅如烏金色為度。搽須上末。搽須前用肥皂先洗，須淨再搽藥一夜，至次早用肥皂水洗淨。</p>
<p><u>烏鬚髮秘方</u></p>
<p>六月六日或七月七日採旱蓮草，連根拔起，掛屋檐下陰乾七日，用桑柴燒火煉地土至紅為度。將柴灰掃去，稱旱蓮草，每一斤用轉青草三錢，青鹽二兩，無灰酒五斤。青鹽搗碎入酒和勻，將鹽、酒一半撥火煉熱地上，即將前草鋪上蒸之，又將鹽酒灑在草上，至地冷止取起。仍用竹籮盛，貯掛屋檐下，七日照前法煉地，鹽、酒製之。如此三遍稱前草，如一斤用新鮮豬板油二兩入鍋內煎，淨去渣，即將草人鍋，採向東嫩槐條四十九根，撥炒存性，取起研末。鉛礶盛。每清晨擦牙人噙細嚥，餘瀝即抹須鬢上，臨臥更擦一遍。忌蘿蔔、蔥、蒜、芫荽、豆腐及諸血。久服滋腎益元，烏須明目，功效不盡述。</p>
<p><u>烏須固齒極妙奇方</u></p>
<p>沒石子（陰乾各一兩，醋煮曬乾）　枸杞子（一兩，炒）　青鹽（一兩，放在荔枝殼內，外用紙包過，又用黃泥封固，火煉紅為度）　旱蓮草（四兩，酒洗淨，用煉過青鹽一兩二錢醃二日，再用原洗酒浸，曬乾）　破故紙（一兩，用青鹽水炒二錢）　當歸（一兩，酒洗去尾）　地骨皮（一兩，炒）　菟絲子（酒煮一兩，曬乾）　北細辛（一兩，去蘆）　牛膝（一兩，酒洗炒）　熟地黃（一兩）</p>
<p>上共研為細末，用時擦牙水嚥下。</p>
<p><u>烏須立效方</u></p>
<p>五倍子不拘，錘碎。淨鍋炒，鏟不住手，勿令沾鍋，存性，用青布袱水濕透蓋踹成餅，冷定。每炒過一兩，用青鹽八分，銅末八分，鉛粉八分，皂礬四分，明礬七分，共為末，用茶滷調搽，茶葉包一夜黑如漆，可十日不改。</p>
<p><u>又神效方</u></p>
<p>何首烏　南京黑豆　生地黃（各十斤）</p>
<p>上為末，加蜂蜜十斤入淨壇內，重湯煮成砂糖樣，埋土一七出火氣，不拘時食。能烏須鬢，轉白為黑。</p>
<p><u>仙方點白還黑丹</u></p>
<p>生地黃（取汁）　桑堪子（取汁）</p>
<p>旱蓮草（取汁）上三汁，各用一盂，共放鐵鍋熬之干，碾為面聽用。三膏末（一兩　母丁香（五錢）　沒石子（煨，五錢）　真鉛粉（炒，五錢）</p>
<p>四味共碾為極細面，以小瓷罐貯之，塞口，勿令泄氣，依後開拔白日期、用小鑷子拔去白鬚，即以黑筆點，然後用鮮薑汁調前藥少許，點孔中。六、七日後再出黑永不白。</p>
<p>拔白日期：</p>
<p>正月甲子日；二月初八日；三月十三日；四月十六日；五月念五日，六月十四、十九日；七月念八日；八月十九日；九月十六日；十月初十、十三日，十一月初十、十二日；十二月初七日。</p>
<p><u>烏須固齒擦牙散</u></p>
<p>白茯苓（四兩，堅白大者）</p>
<p>懷熟地（四兩，九蒸九曬）　何首烏（赤、白各一兩，酒浸蒸曬）</p>
<p>地骨皮（二兩五錢）　川椒（七錢，真□府）　細辛（一兩八錢，遼地者佳）</p>
<p>破故紙（三兩）　蒺藜（二兩三錢）　沒石子　雌雄（各一兩）　青鹽（一兩五錢，另研為末再入藥）　枸杞子（二兩五錢，甘州者佳）</p>
<p>旱蓮草（四兩）</p>
<p>上十二味為細末，用瓷罐盛貯，每清晨擦牙，用滾白水嚥下，將口內擦牙藥拈鬚鬢。</p>
<p><u>擦牙方</u></p>
<p>晚蠶砂（十二兩）　露蜂房（二兩五錢）　當歸（二兩五錢）　荊芥穗（二兩五錢）　防風（一兩）　甘松（五錢）　細辛（二兩五錢）　山柰（五錢）</p>
<p>用鉛一斤，將桑柴炒黃為度，即入晚蠶砂拌炒諸藥，俱研為細末，每日臨臥擦牙。噙臥或嚥下不妨。</p>
<p><u>壯陽固齒散</u></p>
<p>旱蓮草（一兩）　花椒（三錢，炒）</p>
<p>石膏（二兩，煅）　青鹽（二兩，煅）　小茴香（一兩）　白芷（五錢）　升麻（五錢）</p>
<p>上為末，早晚擦牙，少頃漱之或嚥下尤妙。</p>
<p><u>治烏須妙方</u></p>
<p>用茄稞上結茄子一個，余小者俱摘去，大者剜一洞，塞好京墨一錢，水銀一錢在內，下用瓷器瓶受之，滴水在內，將水染須頭上即黑上去永不白，妙不可言。</p>
<p><u>烏須藥酒方</u></p>
<p>生地黃（真懷慶者，一斤）　熟地黃（真懷慶者，一斤）　何首烏（一斤，九蒸九曬）　枸杞子（一斤）　甘草（一兩）　當歸（四兩）　白菊花（一斤）</p>
<p>以上七味用好鏡面燒酒二十斤，浸二十一日，去前藥入酒漿六十斤，窨七七，每日早、午、晚服三次，三大杯，白可轉黑。</p>

<h1>卷三</h1>

<h2>羅浮山人集</h2>

<h3>眼目門</h3>
<p><u>治飛絲入目方</u></p>
<p>象牙一塊，有紋白者，取人乳放缽內，用象牙磨濃如米泔一樣，再加黃連極細末，冰片研細各少許，入前藥點眼角。</p>
<p><u>又方</u></p>
<p>用鮮生薑搗汁，少許點眼內，飛絲滾出，腫即退。</p>
<p><u>眼中翳障方</u></p>
<p>土蜂窠（一錢，另碾）　硼砂（一錢，碾）　琥珀（五釐，碾）　珍珠（五釐，碾）</p>
<p>蜂窠用綿紙篩去沙，同三味合碾極細末，一應赤眼外障並新翳白，點上數次即去。</p>
<p><u>點翳眼方</u></p>
<p>小紅棗一枚，去核，將明礬五、六釐藏在內，用紙包棗浸濕入熱灰內煨，以化為度。起明礬碾細，用燈草點翳上，三、五次愈。</p>
<p><u>治爛眼紅弦痘風火眼</u></p>
<p>兩借氣熬至沙糖樣，人制過爐甘石二兩，羊肝灰三錢，青魚膽一個，石燕磨水半杯，蜜一匙，鴉毛一根，炭火上燒成珠取下；用冰片四分，麝香六釐調和拈成細條收貯，勿令泄氣，入眼自化，不用水調。</p>
<p><u>熱眼暴起洗方</u></p>
<p>黃連　山梔仁　川當歸　川芎　羌活（各五分）　明礬（一錢）</p>
<p>上用水七、八分煎五分，酒盅倒下半盅乘溫洗。冷再用滾水浸酒盅，水溫又洗，自愈。</p>
<p><u>明目益腎還睛丸</u></p>
<p>當歸身（四兩，酒洗）　天門冬（二兩，去心）　麥門冬（二兩，去心）　知母（八兩，鹽湯炒）　白芍藥（一兩，醋炒）　生地黃（二兩，酒洗）　懷山藥（二兩，炒）　陳皮（二兩，洗）川杜仲（二兩，酒炒）　川牛膝（二兩，酒洗）　甘菊花（二兩）　黃耆（三兩，酒炒）　百部（二兩，洗）　黃柏（四兩，鹽水炒）</p>
<p>上為末，煉蜜丸，梧桐子大。早晚白湯吞一百丸。</p>
<p><u>金花明目丸</u></p>
<p>川黃連（酒炒）　黃芩（酒炒）　山梔子（連殼搗炒）　川黃柏（鹽水）</p>
<p>一兩加甘石一兩對均，用瓷罐盛貯蠟封固，臨時加冰片少許。以銀簪蘸藥點入眼中。</p>
<p><u>重光眼藥方</u></p>
<p>千里光膏子一半，千里光采取嫩者，用稍與葉搗汁，其粗渣入水煎，去渣，同前汁細綿布濾淨熬成膏，黑漆色，各藥膏子一半。</p>
<p>黃連　黃芩　梔子　膽礬　黃家菊　荊芥　薄荷　連翹　赤芍藥　當歸　生地</p>
<p>上各等分熬膏，二膏和一處攪勻，入後末藥。</p>
<p><u>末藥方</u></p>
<p>制甘石（一錢）　硼砂（三分）　牙硝（一分五釐）　硃砂（一分）　雄黃（一分五釐）　螵蛸（一分五釐）</p>
<p>上共研極細末，再加冰片三粒，研勻和入膏子內，攪極勻，成小餅或細條陰乾。用時井花水調，點眼內攤開，堆聚作痛。若用人乳調尤妙。</p>
<p><u>治七十二症眼藥方</u></p>
<p>黃連（四兩）　當歸（三兩，豬肉湯洗）　家菊花（四兩）</p>
<p>上用清水十碗煮透，濾去渣。用銅鍋熬干入銀一，井水河水各一半，共一樽，皂礬半斤，銅青二兩，埋地下，日久者尤效。用時取水洗之，百試百中。</p>
<p><u>眼藥方</u></p>
<p>黃蓮末（一兩）　膽礬（一兩）　玄明粉（一兩大錢）　蘇薄荷（六錢）　硃砂（二錢）　黃丹（二錢）</p>
<p>先用水半碗調黃連、薄荷、玄明粉三味，均勻後用水半碗洗，作一處。然後加水一碗下銅鍋熬；又再用水一碗不住手攪，少許沸滾，免至玄明粉焦枯。共水三碗，待此碗水盡，稍熬即取起，曬乾，研極細，和下三味用。</p>
<p><u>神效眼藥方</u></p>
<p>珍珠（洗去皮塵）　琥珀（生用）　瑪瑙（火煅，用香油炙二次）</p>
<p>青鹽（用水熬化，取出澱去渣泥，再煞成鹽）　石蟹（研細，水飛）　乳香　血蠍　沒藥（箬包熨，各五分）</p>
<p>辰砂（二錢，飛過）　銅青（揀淨，二分）　硇砂（用滾水化開，去渣泥，再盛銅罐內熬干，如不用，以白丁香代之）　海螵蛸（取白粉一分，稍研）</p>
<p>白粉（一分）　爐甘石（火煅通赤，以童便淬之，如此七度，再研極細，用水飛過，去粗者不用）</p>
<p>膽礬（水洗）　熊膽（用瓷器盞盛，收放在飯甑內，蒸去油）　麝香（揀淨，二分）</p>
<p>上藥俱研細末，用白紙篩之，取極細聽用。每前藥炒黑色　山菊花</p>
<p>上各等分為末，清水跌丸，綠豆大，食遠白湯吞百丸。甚者日二服。</p>
<p><u>無上光明丹</u>　治諸般各眼症，分別加減，取用清水洗搽，屢試神效。除瞳人反背，內障不治。</p>
<p>鷹爪黃蓮（一兩五錢，毛多者為上，連毛洗去泥土，淨，先用鐵杵杵碎，借鐵氣令細入水不浮上，磨，並粗渣俱為細末，取淨末一兩）　玄明粉（上白淨者一兩六錢，若倒毛流淚，爛皮火赤風眼外加五錢）　蘇薄荷（金錢者佳，春分至秋分用四分；秋分至春分用六分）</p>
<p>上三味共研篩極細末，將大號銅鍋入好清水二碗半，要二人各持兩指闊薄竹箅一片，待藥一滾即以竹片不住手攪四圍及鍋底。如火沸起藥水黏鍋兩旁，二人各盛清水半盞，忙用竹片挑水將黏定藥水洗下。沸起又洗下。若火氣太盛，將提起一旁，待洗藥水淨再安火上，緩緩煮成稠醬樣取起，將大好細瓷盤盛之，日中曬極干。其色真黃者為上，重研篩為細末，小口瓷罐盛之，塞緊罐口，莫令透風便潮，久則成水矣。此藥最是難煮，若不細心洗鏟，倘藥黏定鍋底及兩旁即成焦黑，曬乾時便成綠色，藥定不靈之，無用矣。</p>
<p>上好真青膽礬（去下面粗腳淨，一兩）　硃砂（光明有牆壁者，一線五分）　黃丹（上好者，用水飛過）</p>
<p>上三味共為極細末，另收一罐。</p>
<p>用藥法並諸忌：</p>
<p>用時：草藥二股，石藥一股，調藥用尖樣瓷杯洗淨，放藥分許，入井水幾點以淨指調令稠。再加水調稀，然後多下水浸過三四分調勻，紙蓋少頃，藥水或綠色，將新羊毛小筆或雞、鵝翎輕輕取上面清水洗搽，不論遍數。一干又搽。洗藥時最忌酒與豆腐。清晨餓肚不可搽，反令人目昏。有孕婦不可洗，洗之傷嬰兒眼目。切記！切記！如爛皮流淚、火赤風眼、懸毛倒刺，止洗皮外，不必放藥水入眼內，洗半晝即愈。若懸毛倒刺，每日洗十數次，久之眼皮皺縮，其毛向外矣。若翳膜外障，胬肉攀睛重者，石藥多加重些。洗眼時，將眼角少睜開些，令藥水入內，一覺痛即將手巾放在熱水內浸透薰洗之，藥氣乖熱而散，其痛自止。去膜、去翳、去扳睛，時常搽。看倘去十分之七，前藥即住，不復洗。另用復明藥緩緩洗之，翳膜漸去，自然復明。若一時求淨，用藥太急，定至傷目。切記！</p>
<p><u>復明藥</u></p>
<p>即前三味草藥煮，候大半乾取起，用淨絹片濾去渣將水曬乾，研為極細末，瓷罐盛之，用時不入石藥。凡翳膜垂簾用前藥洗，愈七、八分用此藥緩緩洗之，自漸漸清淨復明如初。若前藥洗急令翳膜一時去淨，反致損明，慎之。</p>
<p><u>雜用方</u></p>
<p>前熬成草藥，亦能治暴發痰火、赤痢、糞後紅及諸火症、諸熱症。每服一錢，涼水調下即愈。如口破唇破，牙腫牙血、舌瘡嘴瘡，小兒走馬疳，此藥搽皆愈。</p>
<p><u>治熱眼方</u></p>
<p>玄明粉（一兩）　雄黃（一錢五分）　綠豆粉（三錢）　冰片（五分）　點眼角愈</p>
<p><u>明目紫金膏</u></p>
<p>黃連　黃芩　山梔子　野菊花　黃柏　玄參　蔓荊子薄荷葉　六月雪　九里明　草決明　當歸尾　生地黃　穀精草　連翹　天門冬　熟地黃　女貞實　防風　荊芥火黃　芒硝　甘草稍　豬膽（一個）　羊膽（一個）　青魚膽（二個）　熊膽（五錢）　白硼砂（一兩）　冰片（一錢）。</p>
<p>上除膽硼在外，咀藥二十四味，用大鍋井花水一斗煮一炷香，以淨瓷器盆盛湯，渣再入熱水又煎一炷香，傾湯於一處，再入熱水煎，共四次，其渣無味去之。用前湯煎熬過三分之二，以蜜絹濾淨，再用淨砂鍋熬成膏，方人膽汁熬和如飴，用小瓷器罐分收之。或即以硼砂和勻亦可，或臨用加硼片亦可。時熱火眼、氣眼，井水調點三，五次、應手面愈。</p>
<p><u>明目方</u></p>
<p>冬至後，槐角子如黑漆者洗淨曬乾，不拘多少；用黑牛膽將槐子裝人膽內，以八分為滿，懸於風前，陰乾，破膽取出；用瓷罐盛之，每月初一日早晨用一粒，以滾白湯待涼吞下。每日漸加一粒，至十五日加至十五粒止，十六日復漸減去一粒，至三十日只用一粒。初一日如前月又復用一粒起，仍制六味地黃丸加甘菊、枸杞同服。</p>
<p><u>治天絲入眼</u></p>
<p>用蛇味草搗汁碾絕好京墨在內，一點即好。</p>
<p><u>治暴腫赤眼妙方</u></p>
<p>用好紅棗，不拘多少，剝去核置上好明礬、黃連在內，以濕草紙包煨，礬化取出放碗內，或人乳或清水浸，飯鍋內煅化久取出放瓷罐內，點塗眼絕妙。</p>
<p><u>洗眼方</u></p>
<p>皮硝八、九錢，用新汲水二盅，放下澄清，將上清水煎五、七沸，傾入瓷罐內放陰涼地下出火性。每日洗眼三，五次，用中指擦五遍。</p>
<p><u>治眼生扳精胬肉並不能遠視妙方</u></p>
<p>用生、熟地黃各一斤，酒炒洗去泥，好川椒半斤，去子，淨炙脆為末，同前二味石臼搗爛和為丸，桐子大，或酒或白滾湯不拘時送下六、七十丸。如此月，百病俱除。</p>
<p><u>治偷針眼方</u></p>
<p>病人背上膏盲穴處有紅點，用針挑破即愈。</p>

<h3>咽喉門</h3>
<p><u>治木舌強硬腮喉頸項肩脊腫脹飲食不能進神效</u></p>
<p>野芥菜根不拘多少，用清水洗去泥土，淨，搗汁半杯入人乳半杯和勻，茶匙挑放鵝翎管中徐徐灌進鼻，病人輕輕嗅令入內，少頃，吐厚痰。腫未消盡再進再吐，痰清立愈。</p>
<p><u>治翣舌神效</u>　此疾卒然舌大硬，喉腫，即時氣絕，破棺而治無不立效。</p>
<p>皂礬不拘多少，用新瓦火煅，變紅色放地上候冷研細。將病人用鐵鉗拗開牙關，用此藥擦其舌即愈。</p>
<p><u>治喉閉方</u>　礬用真者方效。</p>
<p>鴨嘴膽礬研細，用米醋調，含在患處，吐去膠痰即愈。</p>
<p><u>治鵝喉神效方</u></p>
<p>用玄明粉吹入喉中，用井花涼水噙化嚥下，即時愈。</p>
<p><u>又方</u></p>
<p>用清水化硼砂三分，番木鱉去毛磨三分，含在患處去涎即愈。</p>
<p><u>治乳鵝喉</u></p>
<p>五月五日取不見水雞肫內皮陰乾六錢，枯白礬三錢，生白礬三錢，一處為末。用葦筒吹患處神效。</p>
<p><u>治瘡舌方</u></p>
<p>硼砂（一錢）　雄黃（五分）　冰片（二釐）</p>
<p>共為末，吹舌上立效。</p>
<p><u>治口瘡方</u></p>
<p>寒水石（五錢，火煅過）　硼砂（一錢）　片腦（一分）</p>
<p>上共為末，用少許入口即愈。</p>
<p><u>治口疳方</u></p>
<p>五倍子（火炙，存性）　銅綠　枯礬　兒茶（各五分）　紅褐子（燒灰存性，一錢）　冰片（一分）　黃柏（五分）</p>
<p>先將各藥研極細，後加冰片、礬。遇患處，先將甘草湯噀口，再吹藥即愈。</p>
<p><u>治嘴腮腫方</u></p>
<p>用赤小豆粉極細，以雞子清調勻敷腫處。</p>
<p><u>治喉鵝方</u></p>
<p>用牆上高良薑根搗汁，將竹片捺定舌頭，以茶匙挑汁在喉中，痰涎出即愈。不可吃下肚內，嗽過吐出。</p>
<p><u>治喉閉方</u></p>
<p>用土牛膝搗汁，同人乳灌入鼻中。其痰即出。</p>
<p><u>治咽喉內生瘡不破者用藥吹之咳嗽一聲即膿出</u></p>
<p>乳香　沒藥　枯白礬　五倍子（燒灰）</p>
<p>出窩蠶繭（燒灰）</p>
<p>小棗（一個）　人指甲（炒）</p>
<p>壁蛛窩（燒灰，各一個）</p>
<p>上共為細末，吹之即破。</p>
<p><u>治口內走馬各樣疳瘡</u></p>
<p>用多年白螺螄殼燒灰為末，再加孩兒茶少些，共為末吹患處，一次即愈。</p>
<p><u>治雙鵝方</u></p>
<p>蟢蟢窩不拘多少，新瓦上焙乾，每用五分，枯礬五分，共為末吹入喉中即消。</p>
<p><u>治口疳神方</u></p>
<p>橄欖核（三錢，燒灰存性）　風退（三錢，燒灰存性）　兒茶（三錢）</p>
<p>每一錢冰片三分立效。</p>
<p><u>治口舌瘡方</u></p>
<p>用黃連煎酒百沸，半溫嗽口細嚥。</p>
<p><u>治喉癬喉癰難進飲食方</u></p>
<p>鳳凰衣（即哺雞子殼內衣，微火焙黃研細末）　橄欖核（放瓦上火煅灰存性，為末）　孩兒茶（研末）</p>
<p>上各等分，以一錢為則，加冰片半分，用竹筒裝藥，吹入喉內即能進飲食。</p>

<h3>牙齒門</h3>
<p><u>治蟲牙疼驗方</u></p>
<p>用絲線數根，取花椒，加川烏少許煎濃汁漿在線上，候線干又漿又曬。如此數十次，再以竹作弓，以此線為弦，取其直而不彎也。後法取新鮮蟾酥塗弓弦上三、四次，曬極干剪斷，用烏金紙包收，入麝香少許包內，遇牙疼取一節插患處立愈。</p>
<p><u>治牙痛方</u></p>
<p>牙硝（二錢）　硼砂（一錢五分）</p>
<p>上研細末搽在患處，任其流涎，藥盡又搽。如前患除，用溫水漱口。</p>
<p><u>又方</u></p>
<p>用青布如錢大，包潮腦少許，咬在患處，流涎即愈。</p>
<p><u>治蟲牙立效方</u></p>
<p>韭菜子五錢，用粗碗一隻，將火入碗內，再將韭菜子放上微微起煙，用紙套湊煙接入鵝翎管，或筆亦可。或熏耳或熏牙，如左牙則左熏，右則亦如之。</p>
<p><u>牙疼奇方</u></p>
<p>甘草　桔梗　川芎　黃連　白朮　羌活　細辛　薄荷　白芒　石膏　荊芥　防風　山梔　藳本</p>
<p>上各等分，燈草二十根，水二盅煎一盅，食後熱服即止。</p>
<p><u>治齒痛擦牙神效方</u></p>
<p>青鹽不拘多少研細末。揀大號荔枝不拘個數，每荔枝頂上取一小孔，將青鹽裝入，加真川椒一粒，胡椒五粒，隨青鹽多少裝荔枝內，塞滿為度。外用紙包裹三、五層，水濕放在炭火內燒煅存性。取出候冷去紙研細，藏小口瓷罐中，清晨傾出少許擦牙。罐口要密塞免致轉潮。</p>
<p><u>治牙疳齦爛穿唇破頰並口瘡神效</u></p>
<p>胡黃連（五分）　膽礬（五釐）　兒茶（五釐）</p>
<p>上共研細末，搽之立愈。</p>
<p><u>清胃散</u></p>
<p>甘草（三分）　川芎（五分）　黃連（八分）　升麻（六分）　白芷（三分）　貝母（五分）　連翹（六分）　石膏（一錢）　滑石（一錢）　木通　生地（八分）　丹皮（五分）</p>
<p>水一盅，煎六分，溫服即愈。</p>
<p><u>清胃合涼膈散治牙疼效方</u></p>
<p>升麻（一錢）　生地（七分）　當歸（七分）　牡丹皮（七分）　黃連（七分）　梔子　黃芩　連翹（各八分）　薄荷（三分）　甘草（二分）　桔梗（八分）　石膏（一錢）</p>
<p>白水煎服。</p>
<p><u>治牙齒痛擦牙神效方</u></p>
<p>杏仁不拘多寡，用針刺向燈火上燒黑存性，碾細。擦患處愈。</p>
<p><u>治齒痛神效驗方</u></p>
<p>寒水石　蘇薄荷　真青黛（各一錢）　細辛（五分）　香白芷（五分）　片腦（二分）</p>
<p>上為細末，用指蘸藥搽擦患處。</p>
<p><u>治齒餅子方</u></p>
<p>每上好荔枝一個，去核不用。將肉淨稱分兩碾碎，將椒紅及上好雄黃照依荔枝肉分兩亦碾碎。三味攪和作餅子，如桂花餅大，於齒極痛時先將溫湯過口，即用此餅貼在牙根痛處，開口漏出痰涎即愈。</p>
<p><u>止齒痛方</u></p>
<p>玄明粉（三錢）　青黛（五分）　麝香（少許）</p>
<p>碾極細末擦痛處，吐去涎，雖嚥下亦無妨。</p>
<p><u>擦牙散</u></p>
<p>骨碎補（淨，四兩）　北細辛（二兩）　白蒺藜（四兩，炒碾去刺）</p>
<p>共為末，用雄鼠一個，去腸胃皮。用箬包煅為末，青鹽四兩，齒動者擦三、五次即堅。永不生蟲發痛癢。</p>
<p><u>擦牙散</u>　黑鬚、圓齒、補腎、消風。</p>
<p>取晴明天氣採槐枝指大者，去葉三斤，用水三大瓢，熬至一大碗。旱蓮草不拘多少搗汁二碗熬至一碗，將青鹽碾細十兩，食鹽十二兩，入前二汁內拌炒淡老米色；再用豬腳後蹄角子四個，內入川椒填滿，火煅存性，共為一處；再碾細收貯瓷器內，清晨擦牙後不要言語，少時白滾湯漱下。</p>
<p><u>千金一笑散</u>　治牙疼。</p>
<p>巴豆（一粒，略燒去殼）　胡椒（三粒）</p>
<p>上共一處搗爛，薄綿包藥咬痛處，涎出勿咽。</p>
<p><u>治牙疼方</u></p>
<p>小麥一撮，炒焦淬入燒酒，去渣噙漱立止。蛇床子煎湯噙漱亦妙。</p>
<p><u>治牙疼妙方</u></p>
<p>紅棗一枚去核，中置硫黃一分仍合之，用濕紙包裹，火煨存性，擦患處妙。</p>
<p><u>治牙床害爛不能食方</u></p>
<p>雄鼠骨（煮熟去肉，取骨連齒用，三錢）　熟地黃（三錢）　榆皮（去粗皮。用第二層，三錢）　沒石子（二錢，雄者佳）細辛（少許）　青鹽（少許）</p>
<p>上共為細末，將絲綿扯成條，用抿於刷水，濕之將藥末摻上。再將絲棉扯上蓋之，曬乾剪成條，臨臥時貼在牙床上，次早取下，數夜即愈。</p>

<h3>咳嗽門</h3>
<p><u>金玉散</u></p>
<p>治諸般咳嗽喘急，隨症調引。</p>
<p>人參　白朮　茯苓　荊芥穗　乾葛　紫蘇　半夏　桑白皮　桔梗　杏仁（去皮尖）　麻黃（去節）　防風　陳皮　甘草　枳殼　前胡</p>
<p>上各等分，每料五錢，姜三片，烏梅一枚，好醋和勻浸一宿，擠去醋，文火炒乾，以前醋拌炒，醋盡為度，待乾研極細末聽用。每服二錢或一錢，照後湯調服。心嗽、面赤、流汗加乾薑湯；肝嗽、眼中淚出加烏粟米湯；肺嗽、上喘、氣壅加桑白皮湯；脾嗽、不思飲食加生薑湯；膽嗽、令人不臥加薑汁調白湯；冷嗽蔥白湯；暮嗽、涕唾稠黏加生薑湯；熱嗽、目脹悶蜜水調下；氣嗽、胸腹脹滿加青皮湯；傷風流涕加防風荊芥湯；痰結成塊加五味湯；癆嗽、四肢贏弱加秦艽湯；血嗽連聲不止加當歸湯；產後嗽背痛加黃蠟泡湯。</p>
<p><u>寧嗽瓊王散</u></p>
<p>訶子肉（一兩，煨，去核）　白桔梗（一兩）　百藥煎（五錢）　五倍子（一兩，炒）　嬰粟殼（五錢，蜜水泡，去筋）　生甘草（五錢）　烏梅肉（五錢，焙乾）</p>
<p>上為細末，蜜湯調方寸匕，食後臨臥服，白湯漱口。忌葷腥酒醋鹽炙之物。</p>
<p><u>治齁方神效</u>　男婦老少並乳齁俱治。</p>
<p>杏仁（去皮尖）　白石膏（一錢）　麻黃（一錢）　甘草（一錢）　芽茶（一錢五分）　白茯苓（一錢）　枳殼（七分）</p>
<p>上水一盅，煎七分服。</p>
<p><u>三拗方</u></p>
<p>治傷寒傷風后，咳嗽久不止。</p>
<p>麻黃（不去節）　乾薑（不去皮）　杏仁（不去皮尖，各二錢）</p>
<p>上用蔥姜引煎，服取微汗，如痰火盛作齁喘加細芽茶五錢，生石膏三錢，合前名「五拗湯」。內杏仁去皮尖。</p>
<p><u>治咳嗽</u></p>
<p>雄豬肺（一個，不見水者）　桑白皮（五錢）　蜜蠟（一兩）</p>
<p>上盛肺管內共煮，空心食之妙。</p>
<p><u>治咳嗽妙方</u></p>
<p>麻油（四兩）　蜜糖（四兩）　生薑（自然汁，四兩）　訶子　明礬　五味子（各五錢）</p>
<p>瓦罐煎來黑如漆，每日清晨進一匙。</p>

<h3>心氣門</h3>
<p><u>治心氣痛方</u>　此藥陳久不可用。</p>
<p>五靈脂（炒，五錢）　玄胡索（炒，三錢）　良薑（炒，二錢五分）　大胡椒（三錢）</p>
<p>共為末，每服八分。如一服不止，用韭萊根一撮煎酒，同末藥送下。治男婦小兒傷食冷痛，照前藥加大小茴香各二錢，如氣上湧者加木香三分磨，酒送下。大人七、八分，小兒四、五分。</p>
<p><u>治男婦九種心痛方</u>　橫梁氣、冷氣、胃氣、一切氣痛者，並皆治之。</p>
<p>白檀香　沉香　五靈脂（好醋炒）　玄胡索　沒藥（焙去油）　青木香　乳香（焙去油）　廣木香（各三錢）　香附米（童便制，五錢）　蓽茇（三錢）　海棠（三錢）</p>
<p>共為細末，每服一錢。若病重者一錢五分，用茱萸湯或燒酒，或好酒調服即愈。</p>
<p><u>加減心氣疼方</u></p>
<p>香附米（制過，血痛，痛而不移，此為君）　明礬（痰痛唇白，面白，此為君）　蒼朮（制過，飲食傷，唇燥口乾，此為君）　山梔子（童便制，火熱而紅，此為君）　川芎（怒氣而青，此為君）　枳實（炒，為使）　半夏（制，為使）</p>
<p>上銼片，水一盅。煎六分溫服，惟痰宜熱服。每遇疼時，審脈驗症看屬何傷，即將此方為君者多用，余皆為佐，次之又量人長短、肥瘦加減自效。</p>
<p><u>治蟲痛方</u>　其症面黃唇紫或白，口吐清水，並青黃赤白綠沫，腹痛一塊，往來不可忍，神妙無比。</p>
<p>草末（五分）　巴豆（去油，三分）　石膏（水飛過，三錢）</p>
<p>共為末，每服大人三分，小兒或一分或分半，蟲泄下多不可當。如蟲不下自死腹中不動矣，然用調脾胃藥數貼。</p>
<p><u>調脾胃藥方</u></p>
<p>白朮（君）　茯苓（君）　陳皮（君）　半夏（佐）　甘草（炒，佐）　神麯（君）　麥芽（君）　山藥（君）　砂仁（佐）</p>
<p>水一盅半，煎人分服。</p>
<p>服前藥法：</p>
<p>取豬心、肺約一碗許，切碎入瓦罐中，冷。患者火爐中自煮，令香味人鼻，蟲在腹內騰湧益痛，將使君子五個煨熟，緩緩細嚼嚥下，肺湯初熟便取一、二杯將藥送下。再痛再飲湯一杯。少傾，又將生使君子五個緩緩嚥下，蟲隨泄出。即蟲不下，亦自死，不為患，徐當自出矣。越二、三日，用調脾胃藥數貼養之。</p>
<p><u>遇仙丹</u>　治諸心痛、蟲痛及痰水積滯。</p>
<p>三稜　莪朮　檳榔　茵陳（各五錢）　黑醜（生者四兩，熟者四兩，各取頭末，二兩）</p>
<p>上共為末，用皂角煎湯，加醋打麵糊為丸。空心，溫茶下三錢。</p>
<p><u>治心頭痛方</u></p>
<p>枯礬一錢，用醋煎服，一吐即愈。</p>
<p><u>治心頭痛方</u></p>
<p>用獨蒜五個，黃丹四兩，五月五日午時不聞雞犬之音，將獨蒜搗爛，用黃丹共為丸，如雞子大，安在地上五方收之，聽用。痛時將細醋一酒杯火溫，將藥二丸擂細連醋吞下，復用酒二、三杯，一吐即斷根。</p>
<p><u>治急心病神方</u></p>
<p>甘草（一錢）　神砂（一錢）</p>
<p>上共為末，用雄豬心一個，將銅竹刀剖開豬心，取心竅中之血和前藥為二丸，復裝心內，外護濕紙多層，用線縛好，入灰火內煨熟為度，取出收藥，將心切片煎湯。食後每服一丸。忌用甘草。此方百治百效，妙不可言。</p>
<p><u>治心頭痛方</u></p>
<p>人參（三錢）　半夏（一錢五分）　吳茱萸（黃連汁浸，一錢五分）</p>
<p>棗三枚，姜五片，水盅半煎五分。</p>
<p><u>治心氣痛方</u>　痰痛或死血作痛可用。</p>
<p>白蠟三錢，痛時滾酒化下。</p>
<p><u>又方</u></p>
<p>用蚶子殼燒灰存性，不拘多少和好酒吃下即除根。</p>
<p><u>治中腕疼方</u>　蟲痛可用。</p>
<p>陳石灰（三錢）　縮砂（五分）</p>
<p>木椎擂碎，共入銅器中炒一炷香，二藥盡赤，急投磁器中。急以無灰生滾酒沃之，仍用磁器蓋定少選，藥沉酒清逼出清酒，乘熱徐飲。</p>
<p><u>治心頭痛方</u></p>
<p>明礬不拘多少為末，撮入手心點醋為丸，如豆大，曬乾。用火酒吞下七丸立效。</p>

<h3>脾胃門</h3>
<p><u>大健脾丸</u></p>
<p>白朮淨（三斤，飯上蒸）　廣陳皮（一斤，溫水洗）</p>
<p>川廣連（八兩，薑汁炒）　吳茱萸（三兩，湯泡去苦水）</p>
<p>人參（五兩，去蘆）　當歸身（六兩，酒洗）　白豆蔻仁（三兩，炒）</p>
<p>南木香（二兩）　枳實（八兩，飯上蒸，去穰淨）</p>
<p>白茯苓（一斤，去皮淨）　神麯（八兩，炒）</p>
<p>穀芽（八兩，炒去殼）　青皮（五兩，醋炒去穰）</p>
<p>上為末，老粳米煮荷葉湯跌丸，綠豆大。食遠自湯下二錢，小兒一錢。</p>
<p><u>健脾丸</u></p>
<p>白朮（四兩，土炒）</p>
<p>山楂肉（二錢）　麥芽粉（一兩）　砂仁（一兩）　白芍（二兩，酒炒）</p>
<p>黃連（七錢，酒炒黃色）　陳皮（一兩）　蓮肉（二兩，去心）</p>
<p>甘草（三錢）　枳實（一兩，麩炒）</p>
<p>山藥（二兩）　木香（三錢）　薏苡仁（二兩，炒）</p>
<p>上為末，老米糊為丸。</p>
<p><u>保和丸</u>　大人、小兒、男、婦俱可常服。</p>
<p>白朮（一斤，蒸）　陳皮（八兩，洗）　厚朴（八兩，薑汁炒）　蒼朮（半斤，炒）</p>
<p>甘草（炙，六兩）　山楂肉（六兩，飯上蒸）</p>
<p>穀芽（半斤，炒）　蘿蔔子（四兩，炒）</p>
<p>上為末，老粳米煮湯跌丸，綠豆大，以白湯送下一錢或二錢。</p>
<p><u>香砂枳朮丸</u>　小兒亦可用。</p>
<p>白朮（二斤，飯上蒸）　枳實（五兩，麩炒）　神麯（二兩五錢，炒）</p>
<p>砂仁（一兩五錢，炒）　陳皮（八兩，洗）　半夏曲（二兩五錢，炒）　山楂肉（三兩，蒸）　廣木香（六錢，炒）</p>
<p>上為末，老粳米煮荷葉湯跌丸，綠豆大。食遠白湯下百丸，小兒五十丸。</p>
<p><u>啟脾丸</u>　治疳積，脾胃不和，體氣虛弱，面無血色。</p>
<p>人參（一兩）　白朮（一兩五錢，炒）　白茯苓（一兩五錢，去皮）　陳皮（一兩，去白）　甘草（六錢，去皮）　扁豆（一兩，炒）　神麯（一兩，炒）　薏苡仁（一兩，炒）　桔梗（七錢，炒）　山藥（一兩）　白芍（八錢，炒）　蓮肉（二兩，去心）　麥芽（二兩，炒）</p>
<p>上為細末，用龍眼肉四兩，去核煮熟搗爛，蜜為丸，如龍眼核大。每早用清米湯化下一丸。</p>
<p><u>大安丸</u></p>
<p>白朮（四兩，米泔水浸陳土沙）　白茯苓（二兩，去皮）　陳皮（一兩，水洗刮去白）　山楂（去核，四兩）　半夏（二兩，薑湯泡七次）　蘿蔔子（一兩，擇淨炒）　連翹（一兩，擇淨炒）　神麯（四兩，炒）</p>
<p>上為末，荷葉煎湯跌為丸，如綠豆大。</p>
<p><u>四神消積丸</u></p>
<p>陳皮（三兩，洗去白）　川厚朴（二兩，薑汁炒）　青皮（二兩，醋炒）　黃木香（五錢）　枳實（二兩，蒸）</p>
<p>京三稜（一兩，煨切）　檳榔（二兩）　蓬莪朮（二兩，煨切）</p>
<p>山楂肉（二兩，蒸）　半夏曲（二兩，炒）　麥芽（二兩，炒）　吳茱萸（一兩，湯泡，去苦水）　神麯（二兩，炒）　香附米（二兩，炒）　砂仁（一兩，炒）　白芥子（五錢，炒）</p>
<p>上為末，蘿蔔湯跌丸，綠豆大，食遠白湯送下八十丸。</p>
<p><u>對金丸</u>　治一切肚腹飽脹積食，神妙。</p>
<p>蒼朮（茅山者一斤，米泔水浸）　厚朴（十二兩）　粉草（六兩）　白茯苓（三兩）　陳皮（十二兩）　半夏（三兩，薑汁浸）　枳殼（二兩，麩炒）　小紅棗（一百三十枚，去核）　生薑（四兩，切片）</p>
<p>上共和一處，用罐一個，內用水十五碗，慢火煮乾，取出搗成餅，曬乾再為末，煉蜜為丸，如梧桐子大。每服七十丸，白湯下。</p>
<p><u>養心和中健脾丸</u></p>
<p>茅山蒼朮四兩，將一兩用鹽三錢化水一碗浸；一兩用酒一碗浸；一兩用陳土攪泥水待泥沉，用上面清泥水浸；一兩用米泔水春五夏三秋五冬七日，每日倒換擦洗一次，浸畢撈起，刮去粗皮，銼片曬乾微炒，磨細末，羅過約取頭末極細者，用二兩，余不用。蓮肉去皮心，取淨細末四兩。肥大黃連去刺，銼碎，曬乾，薑汁拌勻甑上蒸過，曬乾為淨末八錢。將三味稱准，如數和勻，用黑大雄豬肚一個，去油膜洗淨。將前三味入肚內，其口線縫緊。用甑一個，用韭菜二斤洗淨包豬肚入甑蒸熟，春冬一日，夏秋半日，取出去韭菜連肚入石臼，極干聽用。</p>
<p>揀參（一兩）　白朮（二兩五錢，陳壁土炒）　白茯苓（二兩，入內煮，用七錢浸汁一碗，用陳皮一兩四錢浸汁二碗）　茯神（一兩）　山楂肉（浸蒸）　芍藥（酒浸一宿，炒，一兩）　當歸身（酒洗蒸熟，一兩）　山藥（一兩）　陳皮（洗去白，用二年陳者，一兩）</p>
<p>各為細末。又將前三味再烘乾磨末羅細。用荷葉九張，洗淨切碎，用水六碗煎濃汁二大碗，用五、六年陳倉米，仍後再淘淨曬乾用半合，將荷葉浸一宿，次早連汁磨成漿，水調，將藥入石臼內，細細加糊搗極勻取出，丸綠豆大。每日中午薑湯下三錢。</p>
<p><u>參苓散</u></p>
<p>人參（一兩）　白茯苓（四兩，蒸）</p>
<p>連肉（八兩，去心）　乾山藥（四兩，炒黃色）　白朮（三兩，蒸）　薏苡仁（六兩，炒）　甘草（炙，去皮，一兩）　芡實粉（五兩）　砂仁（五錢，炒）</p>
<p>白扁豆（四兩）　桔梗（白者，一兩）</p>
<p>上為末。欲留久，跌為丸，如綠豆大，方能久貯。每服二錢，米湯或棗湯調下。</p>
<p><u>膈食方</u></p>
<p>百藥煎（一兩）　白硼砂（五錢）　番木鱉（酥油塗炙黑色為末，三錢）</p>
<p>三味共為細末，每服一錢。如五、七日不進飲食者，用松葉、側柏葉煎湯送下。如常者用蘇薄荷煎湯送下，忌大葷。</p>
<p><u>又方</u></p>
<p>大蛻螂一個，用大鮮姜二塊，挖去寸許，將蜣螂置其中，二塊姜合齊，麻線扎定，以濕草紙包裹入微火內煨，以姜焦香為度，取出。將蜣螂去其翅足，研為細末，用薄荷湯下三分。</p>
<p><u>治嘔吐不止方</u></p>
<p>採嫩蘆根洗淨，石臼搗碎，用水煎湯，時時飲之便愈。</p>
<p><u>治霍亂方</u></p>
<p>藿香（一錢）　香附（一錢）　甘草（一錢）　陳皮（一錢）</p>
<p>上水一大盅，煎五分服。重者加一倍煎服。</p>
<p><u>消食化氣丸</u></p>
<p>蘇子（水洗淨，炒，取末，二兩）　香附米（水洗淨，炒取末，二兩）　白豆蔻（麵包，面熟為度，取末，一兩）　砂仁（炒，取末，一兩）　廣陳皮（水洗淨，曬乾，取末，三兩）　南星（一……夏制度）　山楂（水洗淨，去核曬乾，取末，三兩）　白茯苓（取末，……末一兩五錢）　白朮（土炒，取末，八兩）　枳殼（麩皮炒，去皮為末，一兩）　沉香（一兩，取末，須入水即沉者方可用）　神麯（炒，取末，三兩）　廣木香（取末，一兩）　半夏（用生薑、皂角、白礬各二錢五分，同半夏五錢同煮為末）　川芎（曬乾，取末，一兩）　蘿蔔子（炒，取末，一兩）　粉甘草（炒，取末，一兩）　麥芽（水洗淨，炒取末，三兩）</p>
<p>上淨藥末十九味，共三十七兩，米糊為丸，如綠豆大。每服或三錢，或四錢，淡薑湯送下。</p>
<p><u>治中消病方</u></p>
<p>用雄豬膽一個，將川黃連末入膽內，以滿為度，於老米飯上蒸之，待飯熟取起去皮。將近膽飯搗爛為丸，如桐子大。每食後用滾水服一、二錢即愈。</p>
<p><u>法制神麯方</u></p>
<p>六月六日用連芒大麥碾面五斤或十斤，量面多少以洗淨紫蘇、寥草、生薑各取汁一器，共和前面揉捏作餅，每個約重一、二兩。內以豬葉一層，外以素紙封裹之，曬二、三天貯竹籃內，高懸透風處，不可與雨露相侵，雖蛀不妨，常檢看。展曬一天，照舊懸之，陸續取用。用時將面打碎炒過，以紙鋪地上，器物復之，去火毒方妙。</p>
<p><u>治脾胃濕盛方</u></p>
<p>水和麥面一團，包一白蘿蔔於內，入灰火中慢慢煨焦取起，去蘿蔔，將面為末，每日空心白湯調五錢服。</p>
<p><u>安胃散</u></p>
<p>人參（五錢）　白茯苓（一兩）　白朮（一兩）　甘草（五錢）　砂仁（三錢）　食鹽（五錢）</p>
<p>用廣陳皮一斤，去白曬乾，以前藥加水十碗煎五碗，濾去渣澄清，然後入橘紅煮乾為末，每服一錢，以白滾湯浸半時即澄清，飲清湯。</p>
<p><u>治翻胃丹方</u>　小兒疳症服之亦效。</p>
<p>蜣螂不拘多少洗淨，用新瓦焙乾為末，每服五分，以大麥湯送下即效。</p>
<p><u>治膈食方</u></p>
<p>貓胞（一個，新瓦焙乾存性，不可枯焦。貓初生時取，遲則貓自食之）</p>
<p>為末。每一錢加麝香五釐，每服五分，燒酒下。</p>
<p><u>治膈氣神效方</u></p>
<p>將老狗一隻，不拘黃黑，縛定銜枚，捆嘴倒掛出涎一碗，用大附子一個，重一兩二、三錢者，咀片放在涎內煮乾搗爛，加硃砂一錢，麝香二分為一丸，與病人嗅，又放在口內略噙濕，取出手搓，又嗅。如此嗅兩、三日即愈。</p>
<p><u>治膈噎神驗方</u></p>
<p>用蛇吞鼠在腹中者，取出。將鼠連毛燒灰存性，好酒調服立效。</p>

<h3>安神門</h3>
<p><u>天王補心丹</u>　出《道藏經》</p>
<p>人參（一兩）　生地黃（二兩，酒洗）</p>
<p>丹參（一兩，酒洗）　玄參（一兩，酒洗）　柏子仁（一兩，揀去油者）　當歸（二兩，酒洗）　遠志（……兩，去心）　白茯苓（二兩，去皮）　百部（一兩，洗）　酸棗仁（一兩，炒）　杜仲（淨一兩，薑汁炒）　石菖蒲（淨，五錢）　桔梗（白者，一兩）　天冬（二兩，去心）　生甘草（一兩）　麥冬（二兩，去心）　五味子（五錢）</p>
<p>上為末，煉蜜為丸，芡實大，硃砂為衣，臨臥嚼服一丸。久服有通神之妙。</p>
<p><u>天王補心丹</u></p>
<p>寧心保神，益血固精，壯力強志，令人不忘，清三焦火，除驚悸，生精氣，潤咽乾，養元氣之上劑也。</p>
<p>丹參（一兩二錢二分）　熟地黃（一兩四錢四分）　百部（一兩六錢）　牛膝（一兩三錢）　白茯苓（一兩三錢三分）　玄參（一兩三錢五分）　酸棗仁（一兩一錢三分）　當歸（一兩一錢四分）　遠志（去心，一兩六錢五分）　柏子仁（一兩五錢）　甘草（一兩六錢）　石菖蒲（一兩一錢四分）　天門冬（一兩六錢）　金箔（二十張）　五味子（六錢）　杜仲（炒，去絲，一兩三錢三分）</p>
<p>上為細末，煉蜜為丸，如彈子大。每用一丸，臥時空心紅棗湯化下。此藏經夢授原方也。</p>
<p><u>琥珀安神丸</u></p>
<p>川黃連（八兩，酒洗）　當歸身（三兩，酒洗）　玄參（四兩，酒洗）　遠志（二兩，甘草湯泡，去心）　生地黃（三兩，酒洗）　生甘草（一兩）　琥珀（一兩）　犀角（一兩，銼末）　酸棗仁（一兩）　白茯神（四兩）　辰砂（一兩為衣）</p>
<p>上為末，蓮子燈心湯為丸，綠豆大，辰砂為衣，食遠燈心湯吞五十丸。</p>
<p><u>牛黃清心丸</u></p>
<p>膽南星　白附子（煨）　半夏（用皮硝，滾湯泡五次，又用皂角湯泡一次，又用明礬泡一次，共七次。曬乾搗粗末聽用）　川烏（用麵包煨熟，去面不用已，上四味，各一兩）　蟬肚鬱金（五錢）</p>
<p>上五味為粗末，臘月黃牛膽三個，取汁和煎藥拌勻，仍入膽內，扎口懸於風檐下，至次年方用配後藥：</p>
<p>芒硝（一錢）　辰砂（一錢）　雄黃（一錢）　南硼砂（一錢）　片腦麝香（各少許）</p>
<p>上為細末，取前膽內藥一兩二，共一兩四錢，用稀糊丸，大豆大，金箔為衣，每用一丸薑湯化下。</p>

<h3>蠱脹門</h3>
<p><u>治大人水蠱腫脹</u>　百發百中，可除患根。</p>
<p>大敦（一兩）　甘遂（好連珠者，一兩）　芫花（醋炒，一兩）　葶藶（炒五錢，另研）　澤瀉（一兩五錢）</p>
<p>上先將四味為末，後加葶藶末和勻，酒煮糊為丸，如梧桐子大。每服二十丸，隨人虛實加減。其藥引俱先夜煎成次日五更服。頭一日商陸湯下；二日燈心湯下，俱取黃水；三日麥冬湯下，取白水；四日用田螺四個煎酒下，取腹水；五日大鯽魚二個煎酒下，取五臟六腑水皆盡；六日木通湯下；七日梔子湯下，腫消蠱散。忌鹽、醬、房事。再服後藥七日畢，方服鹽。</p>
<p><u>開鹽服藥方</u></p>
<p>澤瀉　赤芍　白朮　茯苓</p>
<p>上各等分為末，用鯽魚一個，去腸入鹽、麝少許，藥入魚肚內焙乾為末，每服二、三錢，姜蠶煎湯。</p>
<p><u>又方</u></p>
<p>用烏魚一個，剖開去腸，將大蒜實腹中，用黑醜少許入內，以紙封固煨熟食之，數次水去疾愈。</p>
<p><u>又方</u></p>
<p>取桕油樹向陽嫩枝，刮去外粗皮，並去中心搗取自然汁一碗，和麵半斤作一餅，入籠床內蒸熟，分作四塊，每日用好酒空心送下一塊。輕者二塊即愈。</p>
<p><u>五皮湯</u></p>
<p>大腹皮（上）</p>
<p>茯苓皮（中）</p>
<p>陳皮（上）</p>
<p>青皮（中）　姜皮（中）　赤茯苓（下）</p>
<p>蘿蔔子（中）　蘇子（下）　檳榔（中）　木香（下）</p>
<p>葶藶子（下）　車前子（下）　麥門冬（中）　木瓜（上）</p>
<p>白朮（上）</p>
<p>上水二盅煎八分，服愈再服大健脾丸方，可脫體。</p>
<p><u>敷臍方</u></p>
<p>苧麻葉（五月五日收，陰乾揉碎，每次用，二錢）　大葉　蓼草（一錢）　商陸葉（一錢，用根白者）</p>
<p>血見愁葉（一錢，以上俱揉碎）</p>
<p>將四樣葉加水半碗，入銅銚火上熬滾，加麝香半分，乘熱入竹筒置臍上，如冷再熬熱，每熬三次，內眼五皮湯。</p>
<p><u>治痞塊方</u></p>
<p>白芥子（一兩）　川芎（大者，一個）　白芷（一錢五分）　麝香（五分）</p>
<p>先將川芎、白芷為末，臨期白芥子、麝香各研極細，頭生醋調勻為膏，貼患處。</p>
<p><u>治痞方</u></p>
<p>用黃狗腦一個，入麝香一錢，共搗如泥熬。患處用布袱扎定，二、三日即消。</p>
<p><u>又方</u></p>
<p>用大蓼子，即水仙子為絕細末，少加面調和，做一個團置痞上，以火熨之，數次即消矣。</p>
<p><u>治單腹瘴</u>　即蠱症。</p>
<p>用葫蘆上小下大者，並內子穰置新瓦上焙乾，將木器研為末，酒調服。吐盡，瀉盡，消飲湯補上方愈。</p>
<p><u>治蠱腹方</u></p>
<p>用極苦匏穰榨去苦水，用灰面為末，如0大，五更空心用滾水送下九丸。此藥服後，便作吐瀉。脾胃弱者慎之。</p>
<p><u>治灸痞法</u></p>
<p>凡痞塊，自一歲至六十歲俱可灸，但灸瘡不發者難治。乃遼左戴神醫所授法。神效。</p>
<p>擇破日，令患人清晨勿飲食，一進門檻內，即睡倒地上，將病人男左女右手，以掌至指根長短為則，在肛門往背上比得停當以墨記之，取艾，用七枝艾，用七姓人揉熟。患者頭前、地上擺七壯，如王字樣□，取七壯之尖灸病人穴上，余即一齊灸地。臨灸咒曰：乾元亨利貞天地之德也。炎畢，至日將落地，方許吃粥、雞肉等物發之。忌生冷七日。此日但換門檻可灸數人。灸畢，將患人身下灰土並灰俱掃，令人送在十字路上，弗可回顧。若遇人神在腰，雖破日，不宜炎。</p>

<h1>卷四</h1>

<h2>羅浮山人集</h2>

<h3>瘧疾門</h3>
<p><u>截瘧丹神效</u>　發過三、四次者方可用。</p>
<p>水銀一兩，硫黃五錢，為末微火炒死，加人言五錢，同置爐罐內，用泥封固，升打三炷香，待冷取出。又黑豆四十二粒，水浸爛研碎為丸，如赤豆大，硃砂為衣，該發日五更用井花水向東服二丸，熟睡一時即愈。過五更雖服不效。</p>
<p><u>柴苓湯</u>　初發一、二日服之。</p>
<p>柴胡（一錢五分）　黃芩（一錢）　豬苓（五分）　澤瀉（五分）　白茯苓（八分）　白朮（一錢五分）　厚朴（八分）　甘草（三分）　人參（五分，量用）　香薷（暑天用，二錢）</p>
<p>上水二碗，煎一碗，服一、二劑用後藥，百發百中矣。</p>
<p><u>又方</u>　三、四日服。</p>
<p>柴胡（八分）　黃芩　半夏　青皮　草果（各一錢）　蒼朮（五分）　檳榔（五分）　川芎（三分）</p>
<p>上用水一碗，酒一碗，姜三片，蔥三根煎一碗，溫服，取微汗。</p>
<p><u>治感寒瘧方</u></p>
<p>青皮（五分）　半夏（七分）　柴胡（八分）　乾葛　烏梅　紫蘇　藿香　當歸　人參　黃耆　白朮（各五分）　川芎</p>
<p>姜三片，水一盅，煎八分，食遠服。渣再煎。</p>
<p><u>治傷食瘧方</u></p>
<p>青皮（四分）　陳皮（五分）　甘草（二分）　人參（五分）　乾葛（五分）　白朮（五分）</p>
<p>藥皆王道，但君臣配合佐使之妙耳。</p>
<p><u>又方</u></p>
<p>何首烏（一個，捶碎，約重一兩者）　青皮（三錢）　陳皮（三錢）　甘草（一錢）</p>
<p>上水二盅，煎八分，露一宿，空心服。不論發一、二次者，一服即愈。</p>
<p><u>又方</u></p>
<p>白何首烏（生者紙包，水濕，火煨，五錢）　厚朴　陳皮　人參　當歸（各一錢）　甘草（五分）</p>
<p>用無灰醇酒一碗，水一碗，病發前一日下午煎至一碗，露一宿，五更復溫服。輕者一服即愈，重者再服。</p>
<p><u>又方</u></p>
<p>茯苓（一錢）　甘草（五分）　陳皮（五分）　半夏（一錢）　黃芩（八分）　柴胡（八分）　蒼朮（七分）　人參（虛者加，五分）　神麯（實者加，五分）　香薷（暑月加，五分）</p>
<p>分兩俱要稱過，水一盅，酒一盅，重湯煮一盅，次早空心服。忌諸物。惟食醜、鴨二味。</p>
<p><u>又方</u></p>
<p>何首烏（一兩）　秦艽（五分）</p>
<p>用無灰好黃酒一大盅，同煎一處，煎至大半盎，空心一服。臨發前一個時辰又一服，即愈。</p>
<p><u>又方</u></p>
<p>蜜陀僧不拘多少，好陳米醋煮乾為末，每服三分，東挑西柳枝煎湯，入酒一盅，空心及臨發前一時各一服。</p>
<p><u>治一切瘧方</u></p>
<p>柴胡（三錢）　陳皮（五分）　知母（三錢）　當歸（一錢五分）</p>
<p>水盅半，煎八分，食遠服。</p>

<h3>痢疾門</h3>
<p><u>禁口痢方</u></p>
<p>鹿角（煅存性為末，三錢）</p>
<p>大人三錢，小兒二錢，好酒送下，立時便思飲食，最妙。</p>
<p><u>治痢神方</u>　此藥只用一服。即日見效。楮樹，一名谷樹，夏秋間生紅實，如楊梅者便是。</p>
<p>採楮樹葉炒乾為末，每服三錢，用酒一盅，加砂蜜，空心調下。白痢用砂糖一錢；赤痢用蜜七分，砂糖三分；紅白相半者，砂蜜均半；禁口者加兒茶三分。</p>
<p><u>禁口痢方</u></p>
<p>三日內胎糞烘乾，加水銀一錢，麝香三分，共研和勻，用眼藥罐盛之。蠟封罐內埋地下，二季取出點眼角，男左女右，其效如神。今欲緊用，以杯合定，油紙包裹藏土中一晝夜亦可。</p>
<p><u>禁口痢方</u></p>
<p>石蓮子肉、砂仁等分為末，每服二錢，老米湯調服。</p>
<p><u>治痢疾驗方</u></p>
<p>用山楂不拘多少，去核為粉，每用二杯。紅加蜜，白加黑砂糖拌勻，滾水調服立時止。</p>
<p><u>又方極效</u></p>
<p>陳皮（去白，八分）　黃連（姜炒，一錢）　厚朴（姜炒一錢）　黃芩（炒，八分）　白芍（鹽水炒，七分）　檳榔末（三分）　甘草（蜜炙，三分）　茯苓（八分）　澤瀉（炒，八分）　大黃（酒煮，一錢三分）　滑石（研極細，一錢）</p>
<p>上用水二盅，煎至八分，空心服。渣再煎。忌生冷。</p>
<p><u>干金不換散</u></p>
<p>黃連（一兩）　山楂（八錢）　蒼朮（五錢五分）　枳殼（二錢五分）　白朮　神麯　蓮肉（各四錢五分）　當歸（二兩）　肉豆蔻（五錢，麵煨）　芍藥（二兩，炒）　麥芽（三錢五分）　木香（二錢）</p>
<p>上為末，空心服。大人三茶匙，小兒二茶匙。赤痢蜜湯下；白痢薑湯下；水瀉米飲下。忌豬油、麵食。</p>
<p><u>香連丸</u></p>
<p>川黃連淨（一斤，切豆大，吳茱萸湯泡，良久去湯，以濕萸同連悶過方炒，連赤色去吳茱萸）　廣木香（四兩）　白芍（四兩，醋炒）　平胃散（四兩）</p>
<p>上為末，醋糊丸，梧桐子大。空心，米湯下百餘丸。</p>
<p><u>脾瀉丸</u></p>
<p>白朮（二兩，飯上蒸）　白茯苓（二兩，蒸熟）　小茴香（一　兩，炒）　白豆蔻（一兩，麵包煨）　破故紙（二兩，炒）　廣木香（五錢）</p>
<p>上為末，生薑湯煮紅棗肉為丸，梧桐子大。空心，米湯下八十丸。甚者食前再服。</p>
<p><u>四神治痢丸</u>　治痢疾初起，經驗如神。</p>
<p>川黃連（一斤，用吳茱萸二兩，湯泡過乘濕同炒乾，去吳茱萸不用）　廣木香（二兩）　檳榔（四兩）　壯大黃（四兩，酒蒸）</p>
<p>上為末，醋糊跌丸，梧桐子大。空心，米湯下八十丸。未效再服百丸。有積去積，無積即止。</p>
<p><u>秘驗止久瀉痢丸</u></p>
<p>黃丹（一兩，飛過）　明礬（一兩）　黃蠟（一兩）</p>
<p>將蠟熔化於小銅勺內，次以丹、礬末和入，乘熱急手為丸，如豆大。每服二丸，空心米湯下。小兒用一丸。</p>
<p><u>駐車丸</u></p>
<p>川黃連（一兩，酒炒）　當歸身（一兩，酒洗）　烏梅肉（五錢，焙乾）　真阿膠（一兩，蛤粉炒成珠）　乾薑（五錢，炮黑）</p>
<p>上為末，將阿膠化，和麵糊丸小豆大。空心清酒下百丸，未效再服。</p>
<p><u>治諸般泄瀉方</u></p>
<p>白朮（二兩）　白茯苓（一兩）　豬苓（一兩）　肉桂（五錢）　澤瀉（二兩）　車前子（二兩）　香附（五錢）　縮砂（五錢）</p>
<p>上共為末。大人每服一錢五分，小兒五分，清米湯調下。煎藥亦可。</p>
<p><u>治久瀉諸藥不效</u></p>
<p>硫黃（一分）　綠豆（六粒）　胡椒（五分）</p>
<p>上共研為末，飯為丸，溫湯送下即止。</p>
<p><u>泄瀉方</u></p>
<p>白朮（一錢）　破故紙（一錢）　五味子（一錢五分）　乾薑（一錢，炮）</p>
<p>上為末，果糖為丸，每服一錢。</p>
<p><u>治紅白痢膏藥</u></p>
<p>巴豆（新者，不拘多少研成泥）　雄黃（明淨者，研極細）</p>
<p>上將雄黃末少許，入巴豆研成膏。先將病者眉心中穴用水洗淨，將膏攤油紙上，每用0如此大貼穴上，壯年一炷香；老幼半炷香或三、四寸，視人大小用之。香盡即將藥輕輕揭去拭盡，神效。</p>
<p><u>木香檳榔丸</u></p>
<p>廣木香（三兩）　黃連（四兩，吳萸湯泡過）　黃芩（四兩，酒炒）　檳榔（八兩）　陳皮（八兩，洗）　青皮（四兩，醋炒）　莪朮（五兩，煨）　黃柏（四兩，鹽水炒赤色）　黃醜（八兩，炒）厚朴（四兩，姜炒）　壯大黃（四兩，酒蒸）　枳殼（八兩，麩炒）　香附（米制）　乾薑（三兩，炮）　當歸（八兩，酒洗過）</p>
<p>上為末，以白水跌丸，綠豆大，不時服，白湯吞下一錢或錢半。</p>
<p><u>秘傳香連丸</u></p>
<p>專治赤白痢、水瀉，如神。</p>
<p>川連（去毛蘆，一斤）　川歸（一錢五分）　白芍藥（炒，二錢五分）　木香（二兩八錢）　川芎（二錢五分）　車前子（炒，一錢五分）　生地（二錢五分）　厚朴（炒，一錢五分）　白茯苓（二錢）　木通（一錢）　枳殼（炒，二錢）　吳茱萸（炒，四兩）　檳榔（二錢）　白朮（炒，四錢）　黃芩（炒，二錢）　香附（炒，一錢）　陳皮（炒，一錢五分）　蒼朮（炒，一錢五分）</p>
<p>上藥除川連、木香外，仍十六味用水七碗煎至四碗，濾去渣，將汁煮川連，干為度。將連曬乾同木香研為細末，其木香下時不可見火，用老米粉以好米醋打糊為丸，如梧桐子大。每服三十丸，白痢薑湯下，血痢細茶下。</p>
<p><u>治禁口痢秘方</u>　極危急，心胸微有熱氣亦能治之。</p>
<p>大蓖麻子（去殼，四十九粒）　巴豆（去殼，四十九粒）　牛黃（一錢五分）　麝香（五分）　雄黃（五分，用透明者）</p>
<p>硃砂（五分，用明透者，陰砂不用）　冰片（一分）</p>
<p>上共為極細末，和前麻子、巴豆研如泥，加蔥汁少許，白蜜少許為丸，如榛子大。先將紙貼患者眉心，紙上安藥，藥再用膏藥貼之，眉心皮膚腫起即愈。如不腫者不治。</p>
<p><u>治痢如金丸</u>　血痢效。</p>
<p>阿膠（一兩，蛤粉炒成珠）　黃連（三兩，酒炒）　當歸（二兩，酒洗）　白朮（一兩五錢）</p>
<p>俱研為細末。煉蜜為丸，如梧桐子大。每服二錢，白湯下。須在七日後，方可服。兩、三服即愈。</p>
<p><u>養元散</u>　治泄瀉不進飲食。</p>
<p>糯米一升，水浸一宿，濾乾燥，慢火炒令極熟，入山藥一兩，共為細末。再人胡椒末少許和勻，每日清晨砂糖入滾湯調服，大有滋補。久服之其精寒不能成孕者亦孕。</p>
<p>一方加蓮心（去心皮）、芡實、山藥各三兩尤妙。</p>
<p><u>治禁口痢諸藥不效</u></p>
<p>糞蛆不拘多少，洗淨瓦焙乾為末。每用一、二匙，米飲調服，就能思食，大效。</p>
<p><u>治禁口痢驗方</u></p>
<p>臘肉骨燒灰存性，碾為極細末，好酒送下二、三錢，即能飲食。</p>
<p><u>治久痢方</u></p>
<p>槐花（四兩，炒）　牛皮膠（二兩，炒成珠）　枯礬（一兩）</p>
<p>俱為細末，煉蜜為丸，桐子大。每服三十丸，空心，薑糖湯送下。不數服，即愈。</p>
<p><u>治禁口痢方</u></p>
<p>用大田螺一個，小者用二個，去殼人麝香一釐，納臍內包之。</p>

<h3>下部門</h3>
<p><u>治小腸氣偏墜神效方</u></p>
<p>豬苓　赤茯苓　澤瀉　白朮　橘核　小茴香　木通　枳殼　木香　川楝子　沉香　烏藥（鹽水炒）</p>
<p>上等分，酒一盅，水一盅，煎八分，有食積加酒麴二錢，空心服，取微汗，一貼立愈，大者即消。愈後用後酒方斷根不發。</p>
<p>烏藥（鹽水炒）　小茴香　木通　滑石</p>
<p>上等分，布袋盛入無灰酒二、三斤煮透。另用小瓦罐盛，用口早晚隨意服之。</p>
<p><u>又方</u></p>
<p>大茴香（一兩）　枳實（一兩）</p>
<p>將二味共炒，好酒一壺煎服，取微汗愈。</p>
<p><u>治陰囊濕癢驗方</u></p>
<p>吳茱萸煎湯加鹽洗，妙。薰目側昏。</p>
<p><u>又方</u></p>
<p>用菟絲子煎湯洗一、二次即愈。</p>
<p><u>治大小便不分方</u></p>
<p>用梨園子弟頭戴皮盔刮下裡面皮，燒灰，白滾湯調下三錢。</p>
<p><u>治大便不通神效方</u></p>
<p>豬糞燒灰存性，加皂角末拌勻，先用竹筒入肛門內，將藥吹入，傾刻即通。</p>
<p><u>治小便不通方</u></p>
<p>取過路蜈蚣草一把，用鹽同搗，入麝香少許敷臍上；外用皮硝四圍圍住，將紙二、三層遮肚皮，熨斗熨之立通。如冬月，用乾末。水調用之。</p>
<p><u>治大小便不通方</u></p>
<p>木鱉子七個，去殼搗為泥，加麝香半分，將麵攤薄餅二個，乘熱放藥中間，兩餅合定，下餅鑽數孔貼臍，取熱氣入臍內，外用布縛之立通。</p>
<p><u>治大小便不通方</u></p>
<p>用蝸牛三個，連殼搗，放臍中，以手揉按之即通。加麝香一分更妙。</p>
<p><u>急救受熱小便不通丹方</u></p>
<p>因受熱，小便數日不通，小腹脹痛不堪者。用蝸牛一、二條去殼，安放病人臍中，入冰片少許於蝸牛，即化為水。腹內一線涼，下小便即通。</p>
<p><u>治小便出血方</u></p>
<p>用麥門冬四兩，去心，煎湯頻服。</p>
<p><u>治小便不通方</u></p>
<p>用生芝麻一合，碾碎。用冷水一碗調送下，時刻即通。</p>
<p><u>治小便血淋</u></p>
<p>用鬱金煎湯半盞，韭搗汁半盞，空心熱服，服後以糕壓之。</p>
<p><u>治便血方</u></p>
<p>烏梅肉（二兩）　槐花（一兩）　柿餅（五個，同烏梅肉蒸熟）</p>
<p>柿餅五個，燒灰存性，共為丸。每服空心白湯送下六十丸。一、二服即止，服盡永不發。</p>
<p><u>治大便不通方</u></p>
<p>用新荷葉蒂七個，剪如錢大者，燒灰存性，白滾湯下，立時便通。如無新者枯荷葉亦可。</p>
<p><u>治偏墜丹方</u>　起不久者神驗。</p>
<p>用小黑馬料豆，以患症本人一歲，豆一粒。其人若干歲，用豆若干粒。每早晨以滾湯送下，服久自愈。大豆無效。</p>
<p><u>治偏墜方</u></p>
<p>用紫蘇根煎湯一大桶，坐在湯內，若湯冷再加熱湯。上身用棉被裹好，不許透風，待一桶湯冷即入床睡，用炒紫蘇一合研末，好酒一碗服之。</p>
<p><u>治崑崙氣方</u>　即奔豚氣。</p>
<p>用覆盆草一斤，好酒五斤入瓶內，重湯煮熟食酒，即愈。用酒八斤即除根，甚妙。</p>
<p><u>治疝氣</u></p>
<p>用麥麩二升，入鍋內炒黃色，潑下好酒一碗在內炒乾，用軟布分為二包。先將蔥、椒煎湯洗陰囊，軟時將前炒熟麩紮在陰囊上，仍用荔枝核七個打碎，蔥七根，煎好酒一碗，再用雄羊角極細屑一錢，入酒內乘熱帶屑吃下，立愈。取羊角屑須用火煨脆刮下為妙。</p>
<p><u>治沙淋血淋痛不可忍久遠不愈方</u></p>
<p>用生天門冬搗汁服，半盞即止。</p>
<p><u>治繡球風驗方</u></p>
<p>五倍子（微火焙脆，研細末）　孩兒茶（碾細末）</p>
<p>上二味等分和勻，有水者干灑上；無水燥癢者，以醋調搽愈。</p>

<h3>撲跌門</h3>
<p><u>接骨神方</u></p>
<p>巴豆（一粒，用竹紙包，打去油極淨）　半夏（一個）　土鱉（一個）</p>
<p>上共搗為小丸子，好生酒送下，重者全服，輕者半服。</p>
<p><u>又方</u></p>
<p>用白雄雞一隻，如傷手取翅上毛，傷足取腳上毛。將稻草細扎燒灰，毛管上再加火燒存性，先用綿將患手包住，用頭生酒調毛灰七分，服一、二個時辰其痛即止。如仍痛不止，再服三分，切不可多服。</p>
<p><u>又方</u></p>
<p>取接骨藤去葉並粗硬者，搗爛和生酒糟炒熟，敷上。痛即止，斷即續。</p>
<p><u>治面目撲跌青紫方</u></p>
<p>用半夏磨汁，塗之立消。</p>
<p><u>治青腫疼痛方</u></p>
<p>上用熟麻油與酒同煎，服之臥火燒地上，疼即止，腫即消。</p>
<p><u>土鱉方</u></p>
<p>土鱉不拘多少，用好燒酒浸死，曬乾聽用。每用土鱉一個，入雄黃一分，硃砂一分，麝香三釐，乳香六釐，沒藥六釐，共研為極細末，以小瓷罐盛之，勿令泄氣。</p>
<p>凡遇跌打損傷垂死者，只能入藥即效。每服一分起，至一分五釐止，再不可多用。凡服藥時，先以瓷杯盛酒調藥與服。不能自吃者，灌入口內，訖再用好酒，盡其人平昔酒量飲至醉，以被蓋，令睡至醒時，自然腫消痛減。如大人被傷，初服即一分五釐無妨；若小兒被傷，只八釐或一分止，不可多服。</p>
<p><u>治跌打損傷方</u></p>
<p>土鱉（火煅存性）　半夏（炒）　歸尾　乳香（去油）　巴豆霜（去油，另研）　沒藥（去油）　白硼　血竭（各一錢）</p>
<p>共為末，燒酒為丸。每丸重一分，每服只一丸，磨下酒盡醉，出汗為度，次日全好。其巴霜另研細再入藥。</p>
<p><u>治破傷風方</u></p>
<p>凡出血不止者，當歸末敷之。</p>
<p><u>又方</u></p>
<p>班鳩血下酒，立愈。</p>
<p><u>治金瘡如神方</u></p>
<p>魚膠洗淨，用麻布包，煮爛，隔布絞出，乘熱加乳香二錢，沒藥二錢，各為末，銀硃六分共和合搗勻。用新青布一幅，針釘四角於新板上，以竹刀將前膠藥勻攤布上，候乾收貯。待用時量傷處大小，取前藥人滾水內，待和軟如膏藥攤青絹上貼傷處，痛血即止。如將愈時，有一深眼仍以前藥熱軟塞之即愈。</p>
<p><u>金瘡方</u></p>
<p>治跌撲損傷、刀剪㾾瘡、濕瘡破者，用此敷上即止疼。此藥不能久留。</p>
<p>生豬油（四兩）　白芨（一兩）　芸香（二兩）　樟腦（二兩）　孩兒茶（一錢）　乳香（一錢）　沒藥（一錢）　真輕粉（一錢）</p>
<p>上為細末，先將豬油熬化去渣，次入白芨、芸香；又次樟腦，取起不入火，候冷些再加沒藥、乳香、兒茶，又冷些再加輕粉成膏。凡遇被傷血未止者即敷上藥，微疼片時，扎定立愈。如有膿，用花椒、蔥煎湯，淨洗再敷。</p>
<p><u>治金瘡血出不止方</u></p>
<p>用炒原蠶蛾末，敷之立愈。</p>
<p><u>又方</u></p>
<p>用麥面搽上，血立止。</p>
<p><u>又方</u></p>
<p>用半夏為末，搽上止痛，結皮而愈。</p>
<p><u>治刀瘡方</u></p>
<p>降香節（四兩）　五倍子（四兩）　真山漆（五錢）</p>
<p>共為末，搽上即愈。</p>
<p><u>金瘡方</u></p>
<p>松香（研細）　頭髮（燒灰存性）　櫟漆花（干曬，研細）</p>
<p>以上等分和勻，研極細敷傷處。</p>
<p><u>又方</u></p>
<p>以老松香研極細，撒傷處即好。</p>
<p><u>治跌撲損傷丹方</u></p>
<p>以新鮮螃蟹殼放屋上露一宿，取下。以新瓦於炭火上焙乾，研細末聽用。凡人跌壞，從高墜下及被打傷者，以好酒送下一錢，或一錢五分至二錢止，任意飲醉，以被蓋睡醒即好。若無鮮蟹殼，醃蟹殼亦好，只是放屋上多露數宿去鹹味。</p>
<p><u>治金刀傷跌打等方</u></p>
<p>端午日以韭菜與風化石灰搗勻成餅，貼壁上陰乾取下為末，敷。金刀傷神效。</p>
<p><u>治杖瘡不用膏藥</u></p>
<p>先用滾水洗揉軟，後用有氣水，頭垢以清水調勻敷上，用操軟油紙紮定五、六日，即結疤不害。</p>
<p><u>又方</u></p>
<p>用大黃、當歸尾、半夏俱為細末，生蜜調敷，妙。</p>
<p><u>治跌打金瘡方</u></p>
<p>風化石灰、血見愁、馬齒莧、旱蓮草，韭菜，於端午日搗成餅，陰乾研細，敷患處。指斷可接。</p>

<h3>火瘡門</h3>
<p><u>治湯火燒方</u></p>
<p>用大黃為末雞子清攪勻，調敷患處。</p>
<p><u>又方</u></p>
<p>湯火傷破與未破，俱用好酒半盅，雞子清一個，用銀簪和勻，敷患處立止。</p>
<p><u>又方</u></p>
<p>用未出毛小鼠浸真香油內，將油搽患處，未破者即愈。己破者亦即效。</p>
<p><u>又方</u>　換桐油調，可治癩。</p>
<p>用老松樹皮，名曰老龍鱗。為細末，雞子清調患處，痛立止。</p>
<p><u>又方</u></p>
<p>大黃　白蘞　劉寄奴（各等分）</p>
<p>上為細末，先用真香油搽患處，後敷上此藥。如藥干加香油再敷七日，即愈。</p>
<p><u>又方</u></p>
<p>用清水半碗，真香油半杯攪勻，即時用雞翎搽之。二、三、四日成黑皮而愈。</p>
<p><u>治湯泡久不收口方</u></p>
<p>用殺豬毛上黑的一重，取來焙乾一錢，鳳凰衣二錢焙乾，採油調敷上。</p>
<p><u>治火瘡方</u></p>
<p>用貓天靈蓋燒灰存性，碾極細，用香油調搽上，其痛立止，瘡亦無痕。</p>
<p><u>又方</u></p>
<p>地上作一坑，用麻油傾人攪為泥，取敷患處，痛止瘡愈。</p>
<p><u>又方</u></p>
<p>用水雞洗淨於銅銚內炒出油，塗患處，即愈。</p>
<p><u>灸瘡膏藥方</u></p>
<p>當歸　川芎　芍藥　白芷（各二兩）　紅花（一兩）　頭髮（二兩）　鉛粉（十二兩）</p>
<p>用真香油一斤半，入藥熬令枯黑色，濾去藥，再候滴水成珠，再下粉熬成膏。或用飛丹代粉亦可。</p>
<p><u>治湯泡火燒神方</u></p>
<p>用白石膏一合許，為極細末，加生桐油一杯為膏，敷患上。其熱即平，其疼即止，不壞皮肉，肌膚如故，妙不可言。</p>
<p><u>治火燙瘡妙方</u></p>
<p>用蚌蜆帶肉燒灰存性為末，干則香油調敷，濕則乾摻。</p>
<p><u>治湯火方</u></p>
<p>用風化石灰半碗，摻入新汲井水滿碗，以真麻油一匙入水攪之，取其泛水面石灰搽患處，大妙。又以雪水調搽尤佳。</p>

<h3>瘰癧門</h3>
<p><u>內消瘰癧秘傳經驗方</u>　未潰者內消，已潰者亦愈，外貼太乙膏收口而愈。</p>
<p>夏枯草（八兩）　玄參（五兩）　青鹽（五兩，火煅過）　海藻（一兩）　天花粉　生地（酒洗）　貝母　海粉　白蘞　川大黃（酒蒸）　連翹　薄荷葉　桔梗　當歸（酒洗）　枳殼（麥麩炒）　焰硝　甘草（各一兩）</p>
<p>上為細末，酒糊跌為丸，綠豆大。食後臨臥低枕用白湯吞百餘丸，就臥一時妙。</p>
<p><u>經驗瘰癧方</u></p>
<p>地膽、川芎、連翹等，木通、甘草、赤芍藥、當歸尾、薑製兩頭光。先服煎藥。</p>
<p>夏枯草　川山甲（壁土炒）　生地　川芎　茯苓　山慈姑　皂角刺　貝母　甘草　羌活　赤芍　白芷</p>
<p>各等分，水煎服。四貼後再服末藥。</p>
<p><u>未藥方</u></p>
<p>大川芎　甘草節　木通（各一兩）　連翹（五錢）　赤芍（一兩）　當歸尾（酒洗，一兩）　白附子（薑製，一兩）　紫背天葵（背紫面青，根如鼠糞，薑汁炒，一兩……）</p>
<p>共為細末，每用五錢，分作十貼，每貼作三次服。黃耆木通湯下；半夜薑湯下；早晨酒送下。其患潰爛者，加黃耆一兩在內。</p>
<p><u>治瘰癧丹方</u></p>
<p>用蓖麻子四十九粒，去殼取仁，碾去油，分作七處，用白棉紙將麻仁扎包，再用……內外用紙糊安蒸籠內蒸熟，每晨……其瘡自綻裂，出濃物流盡即愈，不必外貼膏藥。</p>
<p><u>治瘰癧內消丸</u></p>
<p>用江西淡豆鼓，每歲一粒，酒浸漲，加麝香半分同為丸，如綠豆大，臨臥酒送下。初起極效。</p>
<p><u>治瘰癧方</u>　先服數貼，再服後丸藥。</p>
<p>當歸（酒洗，八分）　黃耆（蜜炙，八分）　貝母（去心，一錢）　金銀花（一錢）　薏苡仁（一錢）　天花粉（一錢）　桔梗（六分，炒）　連翹（八分）　陳皮（七分）　白芷（七分）　甘草節（三分，炙）海藻（七分，酒洗）</p>
<p>水二盅，煎至一盅，食後服。氣實者加青皮（麩炒）四分；氣虛者加人參五分；婦人加香附（制）七分。後丸藥只可三、四服，須三日一服，或五、七日一服。不宜多用。</p>
<p><u>內消瘰癧丸</u></p>
<p>羊角一對，以威靈仙四兩共入瓦罐內，加清水煎一日，待角軟取出，以藥刀切片，用新瓦幾片燒紅，將角鋪上，焙炒起油煙碾末，每灰一兩加廣木香一錢、白芥子二錢，以蜂蜜為丸。每服一錢，用檳榔二斤陸續煎湯送丸藥，或夏枯草代之亦可。愈七後，大便下黑羊屎，小便黑水。如婦人有疾，開兩𣕌皆可服之。切忌生冷、煎炒、房事。</p>
<p><u>又方</u></p>
<p>用團魚一個，約重二斤者，破開肚將川山甲四兩剁碎，塞在魚肚內，用稻麥穗火慢慢煨熟，至黑脆存性取出為末，以夏枯草熬濃汁，丸如彈子大。每服一丸，酒食後送下。至重者不過十二丸即愈。</p>
<p><u>治痰核方</u></p>
<p>天南星搗爛，滴醋調敷即消，效。</p>

<h3>楊梅瘡門</h3>
<p><u>治楊梅漏毒方</u></p>
<p>川芎（三錢）　牛膝（三錢）　千年矮（一兩）　土茯苓（四兩）　杜仲（三錢）　當歸（三錢）　鉛粉（二兩）　桑寄生（三錢五分）</p>
<p>用水四碗，煎二碗，作二次服，再複查其疾。原未吃輕粉，其鉛粉即不須用。</p>
<p><u>搽楊梅毒漏方</u></p>
<p>用好杏仁四十九粒，輕粉五分，將熱茶泡杏仁去皮尖，輕粉人內搗如泥，用時將雄豬膽調勻搽上。</p>
<p><u>治楊梅癰漏方</u></p>
<p>土茯苓（四兩）　甘草（五錢）　川烏（五錢）</p>
<p>用水三碗，煎二碗，空心服。渣亦用水三碗，煎二碗，臨臥時服。午時亦用前藥加豬肉半斤，照前煎服，渣亦照前，並申時服。忌鹽六十日，又忌鵝、羊、豬首，蒜。</p>
<p><u>治楊疳潰爛方</u></p>
<p>大田螺五枚，用板夾定，日俱向上，將靨撥開，每個人冰片二、三釐，螺肉俱化為水，其水調杭粉五、六錢，復裝入螺內。外以鹽水做黃泥封固，炭火煉三炷香為度，候冷去泥，取螺研細末聽用。治時以蔥湯水洗淨，以藥末輕輕搽上患處，即時痛止。數次即愈。</p>
<p><u>經驗便毒方</u></p>
<p>生礬三錢，重者五錢，研粗末，好生酒下，吐時先忍耐，出汗即愈一半，次日全消。</p>
<p><u>又方</u></p>
<p>姜蠶（微炒）　當歸尾　白蘞　瓜蔞子　大黃（錦文者）　五靈脂　木鱉子（去殼）　金銀花　穿山甲　皂角刺牡蠣</p>
<p>各等分，用水二盅，煎一盅去渣，食前溫服，以利為度。</p>
<p><u>治疳瘡方</u></p>
<p>羊腦甘石（煅過，投黃連汁淬，一錢）　珍珠（二分，煉）輕粉（好者，一錢二分）</p>
<p>共碾為極細末，先用甘草水洗過，搽患處。</p>
<p><u>治楊梅瘡方</u></p>
<p>八角茴香（蜜炒，五錢）　薏苡仁（蜜炒，一錢五分）　黃柏（一錢五分）　槐角米（一錢五分）　豬牙皂角（一錢五分）　山桅仁（一錢五分）　血竭（一錢五分）　黃芩（一錢五分）　土茯苓（十兩，用鮮白者，以木槌打碎，忌鐵）</p>
<p>以上作一劑，咀制過，連制七劑，每劑用水十碗，煎六碗，作一日不拘時服完。用豬肉脯嗄，其渣次日用水八碗煎五碗，亦作一日服完。連進七劑，分十四日服完即妥。妥後再服黃連解毒湯三劑，永無後患。其面上者，先用輕粉一錢，杏仁七粒，共研搗，用雄豬膽調，點上即好。有鵝膽調藥亦可。</p>
<p><u>王府秘傳治楊梅瘡方</u></p>
<p>用癩蝦蟆一個，大者為佳，紅眼者有毒，不可用。取時不可拿重，恐走蟾酥，宜用圓口小瓶一個，置於地上，緩緩趕其自進。量能飲酒半斤者下酒一斤，須折半斤可服。其瓶口用木針針固，仍以紙條封緊，不可出氣，慢火煨煎。先將瓦瓶與酒共蝦蟆稱過斤兩，若干煎折半可住火，除去蝦蟆，只取清酒溫服。服後即將棉被複暖取汗，干，方可起動。更勿坐立當風處，恐人風氣。若上部瘡多，略吃些粥服；若下部瘡多，空心服。如一服未全愈，停三、四日再服一個，決全妥矣。且終身不發，屢用屢效，不可輕忽。</p>
<p><u>治楊梅瘡妙方</u>　先服防風通聖散二、三劑，再服此方更妙。</p>
<p>木鱉子（十個）　川楝子（十個）　白鮮皮（一兩）　白蒺藜（八錢）　金銀花（一兩）　五加皮（一兩）　土茯苓（三斤）</p>
<p>水十碗，大砂罐煎至七碗，不時當茶服。渣再煎。</p>
<p><u>加味仙遺粉散</u>　專治遠年楊梅風漏、筋骨疼痛、輕粉毒。</p>
<p>土茯苓（二斤，忌鐵）　荊芥（一兩五錢）　防風（一兩五錢）　五加皮（一兩五錢）　白鮮皮（一兩五錢）　木瓜（一兩五錢）　威靈仙（一兩五錢）　生地黃（酒洗，一兩）　當歸（酒洗，一兩）　白芍藥（一兩，炒）　白茯苓（一兩）　川芎（一兩）　牛膝（一兩，酒洗）　杜仲（炒去絲，一兩）　白芷（一兩）　地骨皮（一兩）　青風藤（一兩）　槐花（一兩）　黃連（一兩）</p>
<p>共十九味，咀片作十貼，每一貼用水一盅半，白酒一盅煎熟。瘡在上，食後服；瘡在下，食前服。渣再煎。每一日服一貼，煎二次合為一處，使濃淡得均，分作二次溫服。其藥渣逐日曬乾，至三貼共煎湯洗浴。初服五貼之內瘡勢覺盛，乃毒氣攻外，勿懼。輕者至十日內可見效；重者雖二、三十貼無妨。此藥亦補元氣，但要切忌房事、茶、生冷、煎炒、雞、鵝、牛羊、血、蝦、豬蹄首各發物、動風之物味，只用雄豬肉而已。</p>
<p><u>解輕粉毒方</u></p>
<p>當歸尾（一兩）　赤芍藥（五錢）　薏苡仁（五錢）　枳實（一兩）　金銀花（五錢）　黃芩（三錢）　桑椹子（二兩）　甘草（三錢）　茯苓（五錢）　木香（三錢）</p>
<p>各為細末。將生桑椹子擂爛，再以荷葉蒂煎水為丸，如梧桐子大，每服百丸。鮮土茯苓五斤，皂角子四兩，好生酒十壺，煮熟退火性，不拘時服，一七日見效。久遠者服二七日全妥。再將桑葉、槐條、冬青葉煎水洗瘡，即將桑葉貼瘡，一日二換，只用土茯苓湯為飲嗄飯。忌茶、醜、鵝、鐵器。</p>
<p><u>治下疳驗方</u></p>
<p>爐甘石（一錢）　珍珠（一分）　輕粉（一分）　冰片（半分）　燈草灰（少許）</p>
<p>其爐甘石先以黃柏煎水一盂，去柏聽用。以爐甘石入炭火煅紅，取出淬入黃柏水內，取起入火又煅紅，取起又淬入黃柏水內，如此者七次方可用，其珍珠用麵包裹入內煨，俟面熟取起，去面將珠研末，同爐甘石、輕粉、冰片、燈草灰共研極細勻，用眼藥小瓷罐盛之聽用。每用時，先以溫茶洗患處，後上藥。只二日內即效。女人患此亦效。</p>
<p><u>治便毒妙方</u></p>
<p>當歸尾（五錢）　核挑肉（五錢）　生芒硝（五錢）</p>
<p>用水二碗，銅錢三個，同煎至一碗，再加生大黃五錢，入藥內少煅，露一宿，空心溫服。服後待行三、四次，方可飲食。其大黃要壯浪者方好。</p>
<p><u>治便毒驗方</u></p>
<p>防風（一錢）　荊芥（一錢）　白殭蠶（八分）　全蠍（三個）　生黃芩（八分）　白芷（六分）　斑蝥（七個）　天花粉（八分）　當歸尾（八分）　皂角刺（八分）　地榆（六分）　芒硝（四錢）　穿山甲（八分）　大黃（八分）</p>
<p>水一碗，生酒一碗，浸一宿，空心煎服。渣再煎。服此藥少傾，痛不可忍，一解方止，毒即消。神效。</p>
<p><u>治便毒己潰不能長肉收口丹方</u></p>
<p>先取肥熟狗肉二、三斤聽用。將熟狗肉湯熱洗瘡口淨，將精肥狗肉漸漸推入瘡口內令滿。外用絹袱扎定，不可走動。安息數日，瘡肉漸長，狗肉漸出。狗肉出盡，瘡肉長平。神效。</p>
<p><u>治楊梅瘡方</u></p>
<p>靛青花（一錢）　麵粉（爆黃色，一錢）　心紅（五分）</p>
<p>共碾細末，作條薰之，無不效。</p>
<p><u>治下疳方</u></p>
<p>用軟石膏火煅候炮起止，人水煮之，三炷香力度。每錢加冰片一分，用見豬蹄骨髓熬油，入酒盅水內去火毒調搽，先用苦茶洗淨。</p>
<p><u>又方</u></p>
<p>紅氁五分（燒灰）　兒茶（三分）　定粉（五分，煅過）　血餘（五分，燒灰）</p>
<p>共為末，苦茶洗淨，搽上立愈。</p>
<p><u>又方</u></p>
<p>用旱螺螄瓦上炙脆為末一錢，輕粉一錢，碾末和勻，將第二次米泔水溫熱，日洗三次，摻上即愈。</p>
<p><u>又方</u></p>
<p>用人中白煅過，碾極細末，摻上至妙。</p>
<p><u>又方</u></p>
<p>用陳石灰為細末，入冰片少許，摻上即愈。</p>
<p><u>又方</u></p>
<p>白朮（一錢，燒灰存性）　輕粉（一分）　冰片（五釐）　青魚膽（二分五釐）</p>
<p>苦茶洗搽，妙。</p>
<p><u>又方</u></p>
<p>用番白草半斤，甘草、地骨皮少許，煎湯洗。每日洗六次，洗六日即愈。</p>
<p><u>又方</u></p>
<p>冰片（五釐）　孩兒茶（一分）　雞褪（哺雞殼內皮也，一錢）</p>
<p>除冰片，俱燒灰存性，碾極細，白滾湯洗淨，摻上即愈。</p>
<p><u>治魚口未破方</u></p>
<p>胡桃一個，劈為兩開，一半去肉，放明礬在內；一半留肉在內，合為一個，用濕草紙包定，灰火內煨過存性，好酒送下，立愈。</p>
<p><u>治服輕粉</u></p>
<p>用川椒一斤，檢淨。將黑鉛四兩，錘薄片剪碎，同椒炒褐色，去鉛，將無灰酒五斤浸。外用魚膠炒成珠，研細為末。每服二錢，花椒酒送下。</p>
<p><u>紅粉方</u>　治輕粉楊梅毒。</p>
<p>水銀（五錢）　火硝（五錢）　白礬（五錢，分一半火燒為末）</p>
<p>將礬半熟，火硝共為細末，入小鐵鍋內成窩，入水銀在窩內，用磁碗蓋住。以蚯蚓糞封口，潮土擁碗齊碗底，底上放濕紙固在上，用草火慢燒四炷香，圍紙燒灰為度。</p>
<p><u>治橫弦初起</u></p>
<p>用二、三寸活鯽魚一個，連鱗帶肚搗爛，用鮮山藥一段，共搗如泥，敷患處立愈。</p>

<h1>卷五</h1>

<h2>羅浮山人集</h2>

<h3>乳癰門</h3>
<p><u>治乳癰腫</u></p>
<p>蒲公英（二兩）　金銀花（五錢）</p>
<p>二味搗爛如泥，以酒一碗和勻，以綿濾出藥酒，食後服。其渣把在乳癰腫上，便覺思睡，即愈。</p>
<p><u>又方</u></p>
<p>蟬蛻（四個）　沉香（三分）</p>
<p>二味同研為末，好酒調服。</p>
<p><u>又方</u></p>
<p>用新桑葉研爛，厚敷患處，復以桑葉蓋之，用手帕纏定，一宿即愈。</p>
<p><u>又方</u></p>
<p>兔兒一枝箭，或五葉，或六葉，蒲公英二味等分，煎酒服。渣再搗爛敷患處，即愈。</p>
<p><u>又方</u></p>
<p>夏枯草（二錢）　當歸（一錢五分）　桔梗（一錢）　貝母（一錢）　荊芥穗（一錢）　甘草（五分）</p>
<p>上為片，生酒一盅，水一盅煎一盅，食後服。用藥渣敷乳上即消，神效。</p>
<p><u>治乳癰方</u></p>
<p>綠豆不拘多少，將小酒浸一宿，去殼搗爛敷患處。再將皂莢燒灰存性，用好火酒煎滾調服，一、二服即愈。</p>
<p><u>又方</u></p>
<p>用白蠟三錢，棗肉為丸，好酒送下即愈。</p>
<p><u>治乳癰一切腫毒方</u></p>
<p>金線吊蝦蟆跟半邊蓮同搗爛，取汁沖生酒飲。渣敷患處即愈。如不消再敷。</p>
<p><u>治乳瘍方</u></p>
<p>酸梅草洗淨，搗汁沖酒，濾去渣，酒隨量飲，渣敷患處。</p>

<h3>腫毒門</h3>
<p><u>治封口仙方</u>　此名天疳，十有九死，可不慎乎！</p>
<p>鯽魚一尾，去鱗腸搗爛，入頭垢五、六錢，再極勻，加蜂蜜半杯攪勻，從外圍人裡面留一孔出毒氣，二次全消，即時止痛。如已成形有頭，將出膿或他醫已治不效而出膿者，內服三香定痛飲或千金內托散，則能起死回生矣。</p>
<p><u>三香定痛飲</u>　千金內托散，後有歌括。</p>
<p>木香　黃耆　紫蘇　人參　厚朴　甘草　桔梗　官桂　烏藥　當歸　芍藥　白芷　川芎　防風　乳香　沒藥</p>
<p>上水二盅，姜三片，紅棗二枚，煎八分食後服。</p>
<p><u>治腫毒諸般惡瘡痛不能忍或一時驟腫麻木不知痛癢並用此灸法</u></p>
<p>白酒麴半丸研末，入米粉半杯，好醋加鹽打糊，厚敷患處。外用燈草三、四根，蘸桐油燒至或痛或癢方止。如毒盛，用布片為條燒之，必要痛癢，方有生氣。以後每日燈草燒一、二次即消，或內服煎藥三劑。</p>
<p><u>又方</u></p>
<p>用上辣茱萸為末，香油調敷患處，毒即消。小兒生熱癤最妙。</p>
<p><u>又方</u></p>
<p>魚鱗子草根四、五錢，加榮衛還魂湯一劑，水酒各一盅，煎一盅服，出微汗而愈。</p>
<p><u>水沉膏</u></p>
<p>大黃（一兩）　川黃柏（一兩）</p>
<p>上二味焙乾為細末，用雞蛋清調敷。將欲乾者以泉水潤之，一日即消。</p>
<p><u>治諸般瘡毒癰疽發背方</u></p>
<p>清明日取蝌蚪（即蝦蟆鮎），用大毛竹筒，兩頭留節，節上取開一小孔裝蝌蚪入竹內；又將硃砂一兩五錢，雄黃五錢，真麝香五分共裝入竹筒內；以桐油灰如捻船封固，不可泄氣，放在廁內三七之期，開筒取汁水，並硃砂、雄黃、麝香研細入磁罐內收藏。凡患者，將新羊毛筆塗上即愈。如藥干瘡好仍掃煎藥入罐後用。</p>
<p><u>觀音露</u>　治一切腫毒極效。</p>
<p>蝌蚪（七十個）　沒藥（二錢，研）　乳香（二錢，研）　蟾酥（二分，研）　麝香（七釐，研）　芒硝（淨，七錢）</p>
<p>上六味，共入小磁瓶內，用黃蠟封口，埋土坑內七晝夜，其藥俱化為清水，連瓶收藏。凡臨用時將筆蘸，塗患處，隨手立消。</p>
<p><u>治腫毒屢驗方</u></p>
<p>好磁片碾極細，白酒麴各等分，用細羅篩過，醋調敷上即愈。重者再敷。</p>
<p><u>又方</u></p>
<p>用蒜泥作餅，貼在患上。用小艾圍灸之，不痛者灸至痛即止；痛者灸不痛而止。</p>
<p><u>治百瘡腫毒隔紙膏方</u></p>
<p>輕粉（五分）　百草霜（必用燒亂草柴者取效，二錢）　黃丹（五分）　白蠟（五分）　黃蠟（五分）</p>
<p>用真香油二兩，先將土碗一隻盛油煎熱，將前藥入內一滾為度，退火三日，用油紙敷成膏藥，不必發眼。</p>
<p><u>神驗對晝方</u>　治一應腫毒、發背對口惡瘡，五歲至十歲用三分；十六歲至五旬用五分；六旬者慎用。</p>
<p>飛灰曲（一錢，炒，存性）</p>
<p>沒藥（一錢）　巴豆殼（七分，火煅存性）　牙皂（一錢，火煅存性）</p>
<p>百草霜（一錢）　巴豆（一錢，去油）　孩兒茶（一錢）　硃砂（一錢）　雄黃（一錢）</p>
<p>上為末，置藥舌上，冰水下，瀉二，三次為度。</p>
<p><u>膏藥方</u>　能治癰疽發背、無名腫毒、內外㾾瘡、楊梅結毒、瘰癧痔漏、潰瘤一切等證。每用照瘡大小一張，貼。</p>
<p>蓖麻子（去殼）</p>
<p>紅花　桃仁　甘草（各一兩）　川山甲（五錢）　白丁香（二錢）　全蠍（五錢）　蜈松（十條）　甘遂（五錢）　土木鱉（去殼，一兩）　黃丹（四兩）　香油（十兩）</p>
<p>先將前十味藥浸油內半日，熬至焦黃色，濾去渣。再上火熬至滴水不散；再下丹攪勻滴水成珠住火。然後下細藥。</p>
<p>孩兒茶　蟾酥　硼砂（各三錢）　乳香　天竺黃　沒藥　阿魏　蘆薈　硇砂（各五錢）　麝香（五分）　銅青（一兩）</p>
<p>上藥研為極細末，入膏藥攪勻，如鏡面光亮，傾貯罐內聽用。</p>
<p><u>黑虎膏</u></p>
<p>治癰疽發背、疔瘡、㾾瘡漏一切惡瘡，婦人乳瘡、金瘡毒犬所傷，湯火瘡及跌打損傷、手頭風濕等證。</p>
<p>金銀花藤　白芨　黃芩　白芷　升麻　五爪龍藤　玄參　防風　杏仁　苦參　當歸尾　五加皮　大黃　肉桂　黃連　黃耆　白蘞　黃柏　牙皂　山桅　連翹　紫草　蘇木　赤芍　人參　木鱉子　漢防己　川續斷　地骨皮　生地黃　木饅頭以上（各二錢五分）　黃丹（七兩，飛過）</p>
<p>上用香油十四兩，前三十一味咀片，入油內浸。春五三秋七冬十日。用銅鍋熬，待渣赤色，用淨棕一大片，復絲綿一層，濾去渣。再放火上慢熬，柳、桑、槐、桃條作用一把，在鍋內不住手攪，俟滴水成珠，下黃丹攪勻，離火下下細藥。</p>
<p>穿山甲（二錢五分，火煅過）　阿魏（六分二釐半）　麝香（六分二釐半）　蘇合油（一錢二分半）　大楓子（肉，二錢半）　檀香（二錢五分）　乳香（二錢五分）　沒藥（二錢五分）　血竭（二錢五分）　冰片（一分）</p>
<p>上為細末，用力不住手攪勻，收入磁器內，坐水盆中，露一、二宿出火毒。此膏治小兒急慢驚風，貼臍並尻尾穴。牙疼、牙疳亦安患處。</p>
<p><u>虎在膏</u>　治無名腫毒，惡瘡風癬。</p>
<p>嫩松香（一兩）　樟腦（一兩，研）　輕粉（二錢，研）　乳香（五分，研）　沒藥（五分，研）　龍骨（五分，研）　川蠟（一兩）</p>
<p>上各研細末，另包。用新瓶一個，先投黃蠟化開，次入松香攪勻，提起入樟腦在內攪勻，再將余藥——投入攪成膏即止，不可硬了。油紙攤貼，更不見火。</p>
<p><u>太乙膏</u>　神效驗方</p>
<p>生地黃　玄參　白芷　當歸　赤芍　肉桂　大黃（各一兩）　黃丹飛過，淨十二兩，不入油另包。</p>
<p>上切片，用麻油二斤。春夏浸一日，秋冬浸二日。文武火熬，以槐柳條攪，熬油黏手，藥渣枯黑住火，候冷。以棕皮濾去渣，復熬油，滴水成珠，取起入黃丹，不住手攪成膏即已，俟大溫，以瓦器收貯任用。</p>
<p>各病引子：</p>
<p>癰疽一切毒瘡及發背、流注，年遠並已成膿者，先以溫水洗淨，軟綿拭乾，用絹片攤貼，內用冷水送下，血氣不通溫酒下；赤白帶當歸酒下，赤風眼捏作餅貼太陽穴，梔子湯下；咳嗽喉閉、喉風，用新綿包口中噙化下；跌打損傷外貼，內服陳皮湯下；腰膝痛貼之，鹽湯下；吐血蛤粉為衣，桑白皮湯下；瘰癧鹽湯洗貼，酒下一丸，㾾瘡同治極效；經水不通甘草湯下；疥瘡用麻油煎滾，取出少許和膏塗之；虎犬蛇蠍、湯火刀傷內外貼，服酒下；楊梅瘡毒潰爛者貼之尤效。</p>
<p><u>千捶膏神效</u>　治一切無名腫毒，貼上止痛內消。小兒泄瀉，少加麝香在臍上貼之立止。膏藥定用布做，不可見火，將熱水熬開，手捏攤布上，再用火烘，捏薄貼之，疾愈取下還可用。</p>
<p>松香二十斤（入鍋熔化，將棕濾淨，下水缸中，多用人抽拔，令白色。涼干後研為細末）　木鱉子（一斤，去殼）蓖麻子（一斤，去殼）　銅綠（四兩，另研）　棗仁（水泡去皮尖，一兩）　蛇床子（四兩）　樟腦（另研，四兩）　川山甲（銼碎炒，四兩）　川烏（二兩）　五倍子（一兩）　甘草節（二兩）　白芷（四兩）　草烏（二兩）　山慈姑（八錢）　鬧陽花（一兩）　半夏（四兩）　南星（四兩）　青竹蛇（八錢）　白花蛇（半條）　蜈蚣（十二條）　麝香（另研，二錢五分）　癩蝦蟆（一個）　紅芽大戟（一兩）　乳香（一兩，另研）　沒藥（另研，一兩）　金線重樓（一兩）　全蠍（五錢）　血蠍（一兩）　兒茶（一兩）　輕粉（一兩）　雄黃（一兩）　龍骨（八錢）　阿魏（五錢）　殭蠶（二錢五分）　三稜（五錢）　莪朮（五錢）　甘遂（八錢）　麵粉（四兩）　大楓子（去殼，一斤）</p>
<p>上用蔥汁、薑汁、柏油、桐油各等分，制淨。將前藥研細篩過，拌入柏油、桐油，同入臼中，用精壯人杵二、三千捶令成膏，和潤為妙。桐油漸入，看燥潤加添。</p>
<p><u>小千捶膏</u></p>
<p>車前草（連根葉）　豨薟草　五爪龍　金銀花（各等分）</p>
<p>上四味鮮草藥一處，搗爛，加多年陳米粉即常用。襁衣者初起，仍加飛鹽末少許，共為稠糊敷瘡上，中留一頂，拔膿出。若冬時無鮮者，用根及蓄下干葉，陳醋調敷亦如之。其蓄草陰乾，皆無得見日。</p>
<p><u>發背神方</u></p>
<p>用馬蹄桐子葉醋浸二、三日，黃色為度，取起貼患處，其冷如冰，其痛即止。如潰後，用此當膏藥。</p>
<p><u>仙方活命散</u>　治一切癰疽、發背腫毒，諸惡瘡初起，一服即散，已成瘡即有頂成膿易潰，其效不可具述。</p>
<p>川山甲（用蛤粉炒黃色）　甘草節　真沒藥　防風　赤芍藥　香白芷（各六分）　乳香　當歸尾（各一錢）　天花粉　皂角刺　貝母（各八分）　金銀花（各八分）　陳橘皮（各三分）</p>
<p>以上藥共作一劑，用無灰好酒三茶盞入瓦罐內，煎四、五滾取出，濾去渣，溫服。藥湯以盡為度。瘡在腰上，食後服；瘡在腰下，空心服。能飲酒者，服藥酒後再飲三、兩杯無藥的清酒尤妙，最行藥勢。</p>
<p><u>蠟礬丸</u>　凡癰疽已成，即服此藥，護心止痛。</p>
<p>黃蠟、白礬，以鐵勺盛蠟，置灰火上熬化，生布濾過，冷稱一兩，下勺再熬化，入細礬末一兩攪勻，取出為丸，如綠豆大。食遠，百沸湯下八丸十丸，服三日止，每日一次。</p>
<p><u>忍冬丸</u></p>
<p>金銀花，開時摘取花數斤，曬乾聽用。臨時，將曬乾花一斤同粉草二兩，共為細末，無灰酒打麵糊為丸，酒下八丸十丸，不拘時服，每日服三次。</p>
<p>如閒常無事，摘取金銀花四斤，稱。濕水洗淨，入石臼中柞爛，置大瓦罐內，入井花水三碗、無灰酒三碗，調調煎十餘沸，藥性出取下，生布濾去渣，汁入罐，再熬成膏滴水不散。又將一斤焙乾，用粉草二兩共為細末，取膏摻入末內，以酒打麵糊和入石臼中杵一、二百下，丸如綠豆大。食遠，酒下八、九十丸，此藥得酒者白沸湯下。</p>
<p>凡入將發癰疽惡毒，半年前或一年前必常常自覺口乾，或作渴思飲茶並水或食已即飢，名為中消。倘有此症後發背，必難治療，急須每日服忍冬丸。不次如是加念久服，可免發背，縱不免必可治療；凡人未發背時不作渴，正發背時亦不甚渴及發背得痊後，慎勿自謂無恙，仍須服忍冬丸，每日夜各一次。服至百日後，覺自身飢飽如常，津液不渴方止。</p>
<p><u>豬蹄湯</u></p>
<p>用肥牙豬後蹄一隻，自蹄尖以上約二斤半重，不用鹽，井花水入大瓦罐偎爛，其肉取出著鹽少許，與病者下飯。其湯吹去罐口上油，或用皮紙打去油，以鵝翎蘸湯洗患處，不住手蘸洗令瘡知腥氣易潰。洗畢。以抿子塗麥飯石膏。但有紅暈處盡塗，無紅暈處勿塗。</p>
<p><u>麥飯石</u></p>
<p>白麥飯石（二兩）　白蘞（二兩）　鹿角灰（四兩）</p>
<p>白麥飯石以一斤為率，大鐵瓢盛石，瓢上下以武火煅石令紅，將大鐵鉗夾瓢出火，置地上。用經年米醋半茶盞淬之，復鉗瓢入火。如是煅淬，滿十二次去其石之燥烈性也。煅後，加清水洗極淨入鐵鍋內，焙乾入石臼中，用石杵搗碎，極細。仍以細絹羅數次，再用薄皮紙羅過如眼藥一般方取聽用。自蘞俗名隔山鍬，此藥處處有之，在土一、二尺，其形似雞卵，連珠而生，或長如懷慶山藥者亦是。採來以一斤為率洗淨，刮去皮，刀切薄片，曬乾杵為極細末聽用。</p>
<p>鹿角用帶頂骨，不用自解者，須一、二年內新殺角。陳久者則骨中髓枯不能奏效。用鋸鋸作三寸一筒，十字劈開作四塊，取東流水一擔浸三日，一日換水一次，二日後取出，鐵瓢盛角，下用炭火每次煅四、五片，人多恐鉗不及燒過性也。須看角煙將盡急鉗入瓦罐內，布包黃糍粑一團，急急封固罐口，以存其性，俟冷定取出，人石臼中，將石杵杵細羅過聽用。</p>
<p>上三味，照前分兩，用經年米醋入砂鍋內調勻，如稀醬。然亦不可太稀，用文武火熬，以槐枝不住手攪，俟藥起魚鰍眼泡即取出，傾入大磁碗封固，勿使塵落在內，將盆載井花水盛磁碗退其火毒一晝夜。先將豬蹄湯如前法洗淨，抿子挑此膏塗於患處，中留一孔以出毒氣，一日一換。塗此膏後。不惟前痛癢諸苦頓釋，而更生一番美快。雖有敏口莫能名狀。當令膿水盡出，陳肉腐落，瘡內所嵌黑物若蝌蚪子者一一脫下，不留一顆，是瘡症已痊生新肉之候也。以後敷神異膏，倘肉中黑子未盡貼神異膏，早斂口太速則餘毒未除，數年再發。</p>
<p><u>神異膏</u></p>
<p>金蛇蛻（以鹽水洗淨，焙乾，五錢）　棉黃耆（三兩）　黃丹（水澄飛，羅細者，五六兩）　玄參（五錢，不見鐵）　露蜂房（用有蜂而多者尤妙。淨，一兩）　杏仁（一兩，去皮尖）　男否子亂髮（洗淨焙乾，五錢）</p>
<p>上用真麻油一斤入銅鍋內，先投亂髮熬至發消，次下杏仁熬少頃；又次下黃耆、玄參、蛇蛻、蜂房，以慢火熬至藥焦，將鍋提置冷爐上撈去渣候稍冷，再用布濾淨，取此淨油復入鍋內，又以慢火熬之。試滴水不散旋投黃丹，將槐枝急攪不住手，必須文火攪千餘遍，候藥油變色，滴水成珠乃是膏成。然後傾入淨水中三日退其火氣，日日換水，取出置磁罐內封收聽用。</p>
<p>熬此膏極難於火候，須耐煩看火緊慢，火猛則藥中火發，不但失其藥性，且恐傷人面目。慎之！慎之！</p>
<p><u>治發背神效方</u></p>
<p>黃狗下頜（一副，連毛帶骨不下水，磁罐內煅，黃泥封口，文武火青煙起為度，埋地一宿，淨三兩）　白蘞（一兩蠶豆末一兩）</p>
<p>上三味為末，以米醋勻，塗瘡留頂。初發者消，已發者黃水流盡即愈。</p>
<p><u>治背癰乳癰對口魚口諸毒瘡方</u></p>
<p>天花粉（一兩）　廣木香（三錢）　明礬（五錢）</p>
<p>上為極細末，每服三、四匙，空心，好酒一甌調服。如善飲者再飲酒二甌，棉被蓋睡片時，遍身汗出，再服二次，其毒即時消散，妙不可言。如不能飲者，亦須用淡酒一甌調服。如瘡毒已盛或潰或未潰，服此方兼服千金內托散。</p>
<p>歌曰：當歸連翹赤芍藥，白芷川芎與羌活，黃連甘草及人參，桔梗官桂加皂角；皂角同刺存性燒，川山甲焙為細末，水煎加酒二三盅，此是千金真內托。</p>
<p>前方內每貼人參、官桂俱七分，甘草五分，連翹一錢二分，余俱一錢。方妙在用人參與官桂，庸醫不知而誤去之，即無效矣。</p>
<p>又箍藥不論已潰未潰，日箍日小，用大個川烏為極細末，黃柏亦為極細末，與川烏等分，用豬膽汁和，塗周圍於毒處露頂，藥干又換塗之。照前三方，內外治三百中，無一不效也。</p>
<p>白麥飯石樣（原圖略）</p>
<p>白麥飯石有大於鵝卵石者，有小於鵝卵石者。其色有青黑紅白點相間，大約以鬆脆為佳，一捶即碎者是也。湖廣岳陽樓下水岸上多有之，各處山澗邊亦有。</p>
<p><u>真人活命飲</u>　一切外科毒瘡。此方加減稍備，故重刊之。</p>
<p>天花粉（一錢）　乳香　赤芍　白芷　甘草節（各一錢）　川歸尾（酒洗，一錢五分）　金銀花（三錢）　貝母（一錢）　陳皮（一錢五分）　皂角刺（八分）　沒藥（五分）　防風（去蘆，七分）　川山甲（三大片，用牛膝酒煮，酥炙，銼碎，照患處取其甲用，方妙）</p>
<p>在背腧皂角刺為君；在胸次加瓜蔞仁；在腹白芷為君；在四肢金銀花為君；如疔瘡加紫河車，瘡勢大四兩，瘡勢小二兩，作一服，用酒煎；體虛加黃耆。</p>
<p>上銼一劑，用金華好酒一盅半煎至一盅，隨分上下，以分飢飽溫服，飲酒者服藥後再飲三、五杯。煎此藥以紙密封，勿今泄氣。此藥酒不動臟腑，不傷氣血，服後側睡覺，痛定回生，神功浩大，不可盡述。</p>
<p><u>治疔瘡方</u></p>
<p>硼砂　硇砂　皂礬（用綠色明亮者）　食鹽（各五分）</p>
<p>搗成粗末，入鐵勺炒化為水。用鐵鏟攪干，炒至柳綠色為度，研細入瓶封園。用時將疔瘡針挑見生血，以銀簪沽藥點入瘡內以麵糊攤小膏貼之，二、三寸香黑者即變紅矣，數日痂落即愈。</p>
<p>毒疔盛者挑至骨亦無生血，不治，二三日即死；治之，十尚可活三四。挑疔至骨以父母、兄弟、子侄血（不必俱全，但有一人至親者即可）滴入，然後點藥。挑時須下得手者。挑之雖大響亦不覺疼，唯見生血後略覺疼耳。</p>
<p><u>牛毒疔瘡井水疔瘡屢驗方</u></p>
<p>家菊花（無花用葉，冬用根）取來搗汁，用酒隨量服下。將渣加鹽少許敷患處，並一應痛核處，立愈。</p>
<p><u>治疔瘡神妙方</u></p>
<p>取黃麻梗內蟲，以蔥葉妙貯之，吊在當風處令乾，將疔瘡挑破，以麻蟲少許入於所挑之處，瘡即化為水而愈。</p>
<p><u>飛龍奪命丹</u>　治一切疔瘡、腫毒、惡瘡，神效。</p>
<p>蟾酥二錢（酒化）　血竭（一錢）　乳香（二錢）　寒水石（一錢）　沒藥（二錢）　雄黃（三錢）　輕粉（五分）　膽礬（一錢）　麝香（五分）　銅綠（二錢）　蝸牛（二十一個）　硃砂（一錢為衣）　冰片（三分，如無亦可）</p>
<p>蜈蚣一條，去頭足。金黃頭、黃肚、黑背肥者為雄，用之。細者、紅頭、白肚為雌，不用。</p>
<p>上為末，將蝸牛研為丸，如綠豆大。蝸牛少，不毅和藥，以酒打糊為丸，每服二丸，將蔥白口內嚼爛，吐手心內包藥二丸，用熱老酒吞下，以衣被蓋暖睡一、二個時辰，再吃熱酒盡醉，藥力發，熱汗出即愈。如未好，可再服二丸。</p>
<p><u>治疔瘡妙方</u></p>
<p>用引針石擂碎，蔥頭十四根取汁，用蜜少許調勻，前藥敷瘡上，當頭留一孔，一敷即散，妙不可言。仍服托裡散幾貼全愈。</p>
<p><u>治疔瘡方</u></p>
<p>苦草、野薺菜搗爛敷患處。倘瘡在喉內，搗汁含口漱之，即愈。如毒甚，加大蒜數片同搗。</p>

<h3>㾾瘡門</h3>
<p><u>治㾾瘡及膝下一切瘡方</u>　極妙。</p>
<p>用鮮豬油去絲膜於淨石上，將石杵搗極爛，加松香，不拘多少，以調為度。又搗極爛，又加蔥白，不拘莖數，又搗，以蔥極香為度。又加鉛粉搗調，以白為度，用油紙包起，不使走藥性。其瘡先用蔥椒湯洗淨，去其瘡旁絲瘼，用舊絹片拭乾，懼痛先飲酒至半酣。傍晚將藥堆敷瘡口，深淺盡行填滿高二分許，余旁紅處，稍薄敷到，再用絹片於藥上輕按之，使服貼。先用白紙二層蓋藥上，次用油紙二層加於白紙上，再用絹片緊縛，再纏裹，腳穿襪，以防藥脫，臥至早晨起藥，拭去瘡汁。又用蔥椒湯洗淨，如前法敷藥，纏裹至第二日，又如前法洗瘡換藥。如此三次，則其瘡當轉白生肉矣。若瘡輕淺，則不必換；若深重，又如前換藥，直至生肉為度，仍只用舊藥縛上，必新皮肉已老，方可去藥。其瘡口肉未生滿，每日將藥去其膿及瘡口上膿，將藥用手心揉和，又貼上。此方百發百驗，但極忌水白酒耳。</p>
<p><u>㾾瘡方</u></p>
<p>香油（四兩）　黃蠟（二兩）　枯礬（研細，一錢）　飛丹（一錢）　輕粉（研細，一錢）　川椒（四十九粒）　槐枝（四十九段，各長一寸）</p>
<p>先將槐枝、川椒入油內熬枯，濾去渣；再入前藥熔化，用好椿皮紙一張，依瘡大小裁作四十九片。周圍用紙釘釘住，先用槐枝、冬青葉、金銀花煎湯洗淨後，將此紙貼上，每日換一張。</p>
<p><u>治黃水瘡並㾾瘡秘方</u></p>
<p>杏仁去皮炒黑，松香末同杏仁碾如泥，搽患處，立效。</p>
<p><u>治㾾瘡極驗方</u></p>
<p>淨白松香入滾水內泡化取起。將手抽拔如米糖樣。內有粗渣除去，又撥做餅，如瘡大。其瘡先將花椒水洗淨，將餅去水乾，趁熱貼上。外用絹片包裹，初流黑水，每日取下前餅，重泡，再做成餅，照前洗過貼之。要靜坐莫動，或一月或二十日即愈，永不復發。</p>
<p><u>㾾瘡膏藥方</u></p>
<p>冰片（一分）　珍珠（五分）　輕粉（五分）　定粉（一錢）</p>
<p>黃蠟熔為隔紙膏，貼之。</p>
<p><u>玉蟾生肌散</u>　治諸般惡瘡不收口驗方。</p>
<p>大癩蝦蟆一個，用輕粉三錢，裝入蝦蟆口腹內，線縫口，如法捆成球。外用棗肉四兩，搗爛包蝦蟆在內，又用熟黃泥包固，團成混元球樣，入煤炭火一晝夜存性，去泥棗，取蝦蟆為細末。每用一錢，加乳香、沒藥、雄雞肫皮、黃丹、海螵蛸各三分，共為極細末。將瘡口洗淨，敷此藥，速</p>
<p>效如神。</p>
<p><u>收口長肉方</u></p>
<p>海螵蛸（六錢）　飛丹（三錢）　全蠍（十個）　龍骨（一兩）　硃砂（一錢）　血竭（二錢）　輕粉（五分）　赤石脂（一兩五錢）</p>
<p>上為細末敷之。</p>
<p><u>治多年瘡口不幹</u></p>
<p>用冬瓜葉焙乾，極細末搽之，立效。</p>
<p><u>生肌散</u></p>
<p>黃柏（雄豬膽炙，淨末，五錢）　官粉（一錢）　輕粉（五分）無名異（二錢，漆匠家有）　兒茶（一錢）　血竭（一錢）　抱雞子殼（五分）　龍骨（煅，一錢）</p>
<p>共為細末，搽患處。治一切金瘡、頑瘡，敷之長肉收口極效。如治下疳膿多者，用五倍子，不拘多少，打碎，煎水熱蒸之。待水稍溫洗，拭乾搽前末藥。</p>
<p><u>治遠年㾾瘡破皮見血金瘡及諸般腫毒方</u></p>
<p>雄豬邊油（一斤，冬加二兩，熬過去渣。如瘡有蟲用細辛一兩，入油煎一、二沸，去細辛不用）　黃蠟（四兩，熬化）　松香（用透明白色者，五錢）　官粉（燒紅，一兩）　孩兒茶血竭　乳香　沒藥（各四錢，研極細末稍冷下）</p>
<p>樟腦（六錢）　輕粉（五分）　冰片（一分）　麝香（一分）</p>
<p>上共為極細末，用棕濾去渣，入磁碗內冷定硬了，用水先潑地上，將紙隔住復藥在上退火性，磁罐盛之聽用。油紙將甘草湯煮過，揉熟，先以艾葉三片、蔥一根（連須）、甘草節五分、飛鹽三分，水煎三、四沸，待溫洗患處，方貼前藥，日換二次。</p>
<p><u>生肌散</u></p>
<p>龍骨（五錢）　寒水石（三錢，火煅為末）　乳香（三分）　沒藥（三分）　珍珠（一分，火煅）</p>
<p>共為一處碾為極細末。先以此藥摻在瘡口，後用膏藥敷之。</p>
<p><u>治瘡未收口摻藥</u></p>
<p>用大五倍子一個，挖一孔，入孩兒茶塞滿。外用紙封數層，再以做饅頭濕麵包之，火內煅過去面，加冰片少許，碾為細末。摻之即收口。絕妙驗方。</p>
<p>治膁瘡方</p>
<p>用狗頭燒灰摻上即愈。須用當頭一塊為妙。</p>
<p><u>治腳上濕瘡</u></p>
<p>用豨薟草貼上，日換五、六次，清水洗盡即愈。</p>
<p><u>治濕瘡妙方</u></p>
<p>香油（二兩）　黃蠟（一錢六分）　官粉（一錢六分）　黃柏（五錢，咀）　天麻子（三十粒）</p>
<p>先將香油入鍋內煎滾後，入黃柏、天麻在內煎枯，以布濾去渣後，入黃蠟化開。再入官粉煎三、四滾，取起冷定，帶熱將古干紙七層，以針亂刺孔，浸在藥油內半日取起。隨瘡大小剪紙七層，以椒鹽湯洗瘡，然後貼之。每日去著肉紙一層，如此七日即愈。</p>
<p><u>治一切㾾濕並楊梅毒刀傷不收口等瘡</u>　一搽即愈。</p>
<p>用鼠骨（一兩，黃泥包，火內煅過）　馬屁勃（一兩）　血竭（三錢）</p>
<p>共碾為細末，摻上即收口。</p>
<p><u>治臁濕瘡經驗奇方</u></p>
<p>用黃柏末，不拘多少，將柏油調勻，再入枯礬少許，一搽即愈。</p>
<p><u>又方</u></p>
<p>用生芝麻搗爛，做夾紙膏，一貼即長肉，妙。</p>
<p><u>又方</u></p>
<p>用川大黃不拘多少，為極細末，將陰陽水調和成餅，照瘡大一貼即愈。</p>
<p><u>臁瘡方</u></p>
<p>麵粉（五錢，炒黃色）　乳香（二錢，箬上烘去油）　輕粉（一兩）　沒藥（二錢）　甘草（五錢，燒灰存性）</p>
<p>冰片（一分五釐）</p>
<p>用蔥白汁、胭脂水少許，加入人乳和藥，外用黑傘紙匝緊三日，打開再用河水洗淨，仍前敷之。</p>
<p><u>又收口方</u></p>
<p>好川黃柏去粗皮，用蜜糖搽數次，烘乾為末，用雞子清調搽，即以竹紙掩上，將絲綿絮包裹。</p>
<p><u>又方</u></p>
<p>用鮮桑樹根剝下皮，同糯米飯口嚼爛塗患處，候乾再塗。不過十次，其肉自長而愈。</p>
<p><u>收口方</u></p>
<p>用苦參，水浸爛去梗，將皮和好豬油搗極細敷瘡上，外用紙紮定，一夜即長平。</p>
<p><u>治臁神效方</u></p>
<p>水粉（二錢五分）　水銀（二錢五分）　輕粉（六分）　大楓子（去油，五分）　冰片（二分）　蘆甘石（七分五釐）　蓖麻子（去殼稍蒸，三分五釐）</p>
<p>共為細末，研死水銀，再用紅燭油調化合成膏，用舊油紙做成膏，外用甘草或茶煎水洗。</p>
<p><u>治多年臁瘡並血瘋瘡方</u></p>
<p>蚯蚓糞（火煅，五錢）　白鍚灰（火煉，五錢）　枯礬（煉過，二錢）</p>
<p>上為末。用生桐油調勻，以油紙做隔紙膏貼之愈。</p>
<p><u>治濕瘡妙方</u></p>
<p>牛皮岸，即薰牛皮煙籠口內者，燒灰存性，用香油調，做隔紙膏貼患處。</p>
<p><u>生肌散</u></p>
<p>白蠟（五錢）　黃蠟（八錢）　沒藥（二錢）　輕粉（二錢）</p>
<p>上豬油一兩，先將二蠟並豬油熬熟，再下細藥。</p>

<h3>痔漏門</h3>
<p><u>治痔瘡並腸風下血</u></p>
<p>槐花蕊（用二年陳者揀淨，水洗，炒熟，三兩）　枳殼（去穰銼極薄片，麩炒老黃色，一兩）　側柏葉（去梗用小枝，炒黑色，一錢）　芝麻（一升，水浸少頃，以布袋盛之，木槌輕輕捶百餘下，烈日曬乾，微炒去衣）</p>
<p>上四味和勻，不拘時常用之，大有效驗。</p>
<p><u>痔瘡方</u></p>
<p>魚鱉草，清晨煮，酒服。每日二服，五日止。又用生黑芝麻為末二分，石灰入鐵勺炒紅一分，漸加對半，加雄黃少許，香油調搽。</p>
<p><u>又方</u></p>
<p>雞爪黃連　錦紋大黃（各等分）　冰片（少許）</p>
<p>上前二藥為極細末，將粗者熬水洗瘡，潔淨。再用雄豬膽調細末藥敷患處，數次即愈。</p>
<p><u>內消痔漏丸方</u></p>
<p>川黃連（酒炒）　槐花末（炒）　冬青子（焙乾，各四兩）</p>
<p>三味為末，入豬大臟內，扎兩頭煮爛，搗如泥，入後藥。</p>
<p>明雄黃（一兩，研末）　朴硝（滾水泡，澄去土，一兩）　白蠟（一兩）　青黛（五錢）</p>
<p>上將硝、蠟熔化，下青黛、雄黃和勻，取起冷定，再碾為末，和前藥搗勻，如硬加醋糊成丸，梧桐子大。空心，酒下百丸，神效。</p>
<p><u>治腸風下血神效方</u></p>
<p>白朮　茯苓　升麻（各一錢）　白芍　黃芩　槐花　地榆　歸身　荊芥（各五分）　生地（八分）</p>
<p>水二盅，煎八分，空心服。</p>
<p><u>又方</u></p>
<p>用烏梅肉不拘多少。先將芙蓉葉陰乾為細末，和烏梅肉打成一塊為丸。或湯或酒，空心下。三次即愈。</p>
<p><u>又方</u></p>
<p>川芎（一錢）　當歸（一錢五分）　白芍（一錢）　生地（八分）　荊芥穗（二錢）　白朮（二錢，生用）　橡斗（三錢，燒灰存性）</p>
<p>上水盅半，煎一盅，食前溫服。</p>
<p><u>九製大黃丸</u>　名歸經丹。治眼暗澀、頭眩舌乾、胸悶氣短、血紅大腸、火痛下血、足行無力。</p>
<p>每大黃一斤，用石臼搗碎。</p>
<p>一次黃連（五錢，洗浸，用酒蒸過，曬乾）　二次黃芩（五錢，酒洗浸，煎湯，同大黃蒸曬）　三次黃柏（五錢，鹽水洗浸，煎湯蒸曬）　四次童便（一碗，和黃拌勻蒸曬）　五次竹瀝（一碗，拌勻蒸曬）　六次陳壁土（一兩，用井水、河水共一碗，沉土取清水和勻蒸曬）　七次天麥門冬（各五錢，去心煎湯蒸曬）　八次人參（五錢，原身煎湯化滓，拌黃蒸曬）　九次人乳（一碗，拌勻蒸曬）</p>
<p>每蒸要透；每曬要干；每次要搗碎。新出火要山楂湯灑餅上露三夜，用磁罐盛之，放陰處一七後不拘時服。每服二、三分，以津嚼咽之。</p>
<p><u>秘傳臟連丸方</u></p>
<p>先將川黃連十斤為率，念珠樣者為上，洗淨曬乾切為片，仍曬極干，研為末。如未乾，切不可用火炙，一犯火則藥性不靈。藥末別貯。將雄豬臟三、四條洗淨，存脂油在內，入滿前黃連末為度。入藥畢，以線緝其兩頭，瓦甑洗淨，將肥韭菜二十斤鋪下，置藥於上，仍用韭菜八斤蓋之。蓋畢，以箬一片放上糯米一撮，水淘過放箬上，仍點京香三條，以香盡米熟為度，取出藥臟，置韭菜勿用，將臟割開，傾出藥末，將臟皮乘熱搗爛，和前藥末搗勻。仍用糯米煮為粥飯，同搗以可丸為度，丸如桐子大。每服三錢，服久錢半。專治一切腹中諸病泄瀉、飽悶作酸、飲食不甘等項，淡薑湯送下。凡虛腫等項，用溫酒送下。治腹中諸病皆效，而治泄痢如神。其痔漏臟毒腸風，久服其效如神。</p>
<p><u>洗痔方</u></p>
<p>五月五日午時，收夏枯草煎湯洗之，神效。</p>
<p><u>腸風方</u></p>
<p>槐花（一錢）　白芷（五分）　枳殼（五分）　黃連（五分）　荊芥穗（五分）　地榆（四分）　烏梅（三個）　五倍子（一錢五分）</p>
<p>用水一盅，無灰大酒一碗同煎八分，空心服。少則二貼，多則三貼，即全愈。</p>
<p><u>治痔分</u></p>
<p>用婦人指甲，童子頭髮，春蠶繭，俱拈末，以蜜調搽患處妙。</p>
<p><u>又方並治脫肛。</u></p>
<p>金淡底（四釐）　熊膽（水飛過，五釐）　冰片（一分）　蜒蛐（三條，用鹽化水，去鹽）</p>
<p>用京墨磨敷。如無蜒蛐，以蝸牛代之，或田螺亦可。</p>
<p><u>治腸風方</u>　女真嫩葉煎濃湯，薰洗亦愈。</p>
<p>用女真實炒脆為末，空心，好酒送下，或滾白湯亦可。</p>
<p><u>治一應痔瘡漏瘰癧點志方</u></p>
<p>蛇含石（一兩，醋煅七次）　大黃（㕮咀，四兩）</p>
<p>用好石灰半升同炒灰黃為度，只用灰，去大黃不用。干鹼四兩，用水六碗，調和熬存二碗聽用。芫花五錢為末，用頭一次末方妙，前藥俱投鹼水內調和搽。如痔漏做細條子插進，五、六日即退出管愈。</p>
<p><u>治痔妙方</u>　大小便時緊閉齒，神效。</p>
<p><u>又方</u></p>
<p>雪葉輕粉（一錢，碾碎）　杏仁（七個）　豬膽（一個）</p>
<p>共一處，晚洗淨，搽。</p>
<p><u>治內消痔漏不問通腸等漏驗方</u></p>
<p>棕櫚灰（一兩）　發余（二兩）　枯礬（一兩）　刺蝟皮（一個，濕紙包入火煨過）　牛角筍（一個，燒灰）　防風（五錢）　苦參皮（二兩）　槐角（五錢）　石菖蒲（一兩）　地榆（五錢）　豬懸蹄（二十個，燒灰）　雷丸（一兩）　胡麻仁（一兩）　漏蘆（一兩）　蕪荑（一兩）　木耳（一兩）　青皮（五錢）</p>
<p>共一處，加麝香五分，共末為丸。每服一錢，日服二、三次。膿止、疼管出、生肌。</p>
<p><u>外洗方：茄根、蔥、艾、蒼耳草、五倍子、皮硝，更用花椒加上蜘蛛三、五個。</u></p>
<p><u>治遠年痔漏不成瘡方</u>　又十六痔，不拘牛奶、雞冠血、箭嬰桃、盤腸、蓮花、番花子、母楊梅、人面等痔，並皆治之。</p>
<p>槐花（四錢）　皂刺（四錢）　皮硝（二錢）　黃連（一錢）　生地（一錢）　廣木香（五分）</p>
<p>如此十五貼，全愈。</p>
<p><u>又方</u></p>
<p>用黃□牛糞、團魚骨各等分，曬乾為末，灌入壇內燒煙。再用水楊柳，根近水邊露出者為佳，煎湯洗過，坐在壇口熏患處。熏數次，其痔自退落也。</p>
<p><u>治腸風方</u></p>
<p>用小芋苗七個，同冬春米一小盅煮爛，空心服，數次即愈。</p>
<p><u>治腸風經驗方</u></p>
<p>人參　條芩　黃連（炒）　生地（酒浸）　槐角（炒）　川芎　當歸（酒洗）　升麻　枳殼</p>
<p>上各等分，每服水二盅，姜一片，煎八分，空心溫服愈。</p>
<p><u>治五臟腸風下血方</u>　老幼服數兩即效。</p>
<p>石燕子雌雄（四兩，炭火煅七次）　防風（去蘆，一兩五錢）　槐角子（二兩五錢）　茅山蒼朮（米泔水炒，一兩五錢）　地榆（一兩五錢）　枳殼（麥麩炒，一兩五錢）　黃連（去蘆，乳炒，一兩五錢）　條芩（一兩五錢，一半酒炒，一半童便炒）</p>
<p>上共為細末，用米醋做糊為丸，如梧桐子大。每服五、七十丸，用滾湯或清米飲送下，日服二次。忌酒、面、椒、蒜之物。如痔漏久，加升麻（水浸去黑皮曬乾）一兩，金銀花一兩。</p>
<p><u>治痔瘡流血不止</u></p>
<p>殺豬時，候血去碗余，再取血一碗，即用碗蓋鍋內，重湯煮熟服。如心嘔，用姜少許嚼之，服十數日全愈。</p>

<h1>卷六</h1>

<h2>羅浮山人集</h2>

<h3>腋氣門</h3>
<p><u>腋氣方</u></p>
<p>取雄豬臀精肉，兩邊各取一塊，約四兩重。先用甘遂三兩煎湯，約一時許，後入豬肉煮熟，取起乘熱夾兩腋下，用長布帛連兩手、肩縛緊，再用甘草三兩煎湯服。用絮被取汗，汗止才起，再用紫蘇、薄荷煎水洗浴。衣服、鋪蓋俱要更換，永不再發。</p>
<p><u>又方</u></p>
<p>皂礬一兩，用水擂碎如稠糊。先將蔥湯洗淨塗之，余者將紙做成膏貼脅下，睡過一夜，次日洗去。</p>
<p><u>又方</u></p>
<p>用蜜陀僧研細末，搽之。</p>
<p><u>又方</u></p>
<p>傾金罐一個，研極細末，真蜜陀僧、烏龍尾（即梁間懸吊灰塵）、枯礬各等分為末，再少加樟腦、麝香共研一處。先將花椒、蔥水洗淨兩腋，再搽此藥，三次斷根。外用明礬末擦手心，永不再發。內服五香散。</p>
<p><u>五香散</u></p>
<p>沉香　檀香　乳香　真牙香（各一錢）　麝香（一分）</p>
<p>共為末。每服五分，白滾湯下，汗香為度。</p>

<h3>雜科門</h3>
<p><u>皇甫真人一塊氣</u></p>
<p>玄胡索（一兩）　鬱金（七錢）　陳皮（去白，八錢）　枳實（麩炒，八錢）　枳殼（麩炒，八錢）　木香（七錢）　丁香（七錢）　山楂肉（一兩）　三稜（醋炒，七錢）　神麯（一兩）　青皮（一兩）　砂仁（一兩）　肉桂（五錢）　檳榔（一兩）　大戟（七錢）　雷丸（七錢）　甘遂（七錢）　麥芽（二兩五錢）　香附米（童便浸炒，一兩）　使君子肉（一兩）　大黃（酒煮半生半熟，一兩）　黑醜（半生半薑汁炒，七錢）</p>
<p>上為粗末，用巴豆肉七兩同炒黃色去巴豆，再磨細，以醋糊為丸，如梧桐子大。每服二十丸或三、五十丸。</p>
<p>酒食所傷，胸膈飽悶，肚脹不思飲食，葛根麥芽湯下；赤白痢疾，皮黃肌瘦，二便不通，室女血氣干，小兒飲食不化，吐乳，隔噎，腹嗚刺痛，俱生薑湯下；取積，陳皮湯下；諸物所傷，就以其物作湯下。</p>
<p><u>大黃活命丹</u>　治疫病神效。</p>
<p>錦紋大黃（半斤）　殭蠶（直者，去頭腳炒，四兩）　白芷（二兩）</p>
<p>上共為細末，薑汁為丸，硃砂、雄黃各一兩為衣，大如彈丸。每服一丸，冷水一碗化開送下，取汗出為愈。</p>
<p><u>治時行熱病神效方</u></p>
<p>錦紋大黃（六兩，酒蒸）　皂角（去核微炙，四兩）</p>
<p>共為末，水跌為丸，綠豆大。白湯下一錢，重者倍之。</p>
<p><u>五合丸</u></p>
<p>治痰火、除濕氣、健脾胃、補虛弱及反胃、癱瘓、勞瘵等症。</p>
<p>茅山蒼朮二十斤。用竹刀刮去粗皮，洗淨切片，用米泔水浸七日，每日換三次，其油浮在水面，傾換水肘，不得晃動，急忙將水傾出，油方得去。若一晃動，油即沉下水去傾不出。切記！切記！曬乾約有五斤。用黑桑椹一斗，鹽水四碗，好醋一大壺，浸桑椹。取汁浸蒼朮透紅，蒸曬乾。又浸又蒸又曬，前汁完，再單用桑椹汁浸蒸、曬乾，九次為妙。如桑椹少，任憑三、五次亦可。再加甘草湯、加蜜水浸蒸曬乾，每蒼朮細末一斤，加入：</p>
<p>白朮（云片者，陳壁土炒，四兩）　秋石（四兩）　白茯苓（堅實者，去皮淨，四兩）　大當歸（四兩）　黃芩（二兩）</p>
<p>俱為淨末配勻，神麯末四兩、竹瀝、薑汁打糊為丸，如梧桐子大。每服五十丸，或酒或滾白湯送下。不拘男婦、老年、小兒皆可用。痰火及癱瘓，更加竹瀝；勞瘵更加秋石。</p>
<p><u>牛黃起死回生丹驗方</u></p>
<p>天竺黃　大黃　硼砂（各二錢）　南木香　鴉片　硃砂　鬱金（各一錢）　牛黃　麝香（各三分）　巴豆霜　熊膽（各五分）　蟾酥（二分）</p>
<p>上製為末，綠豆粉煮糊為丸，如粟米大。大人每服七、八釐；小兒七、八丸。隨症用引，如常法送下。不拘風疾、痰厥、口眼歪斜，遠年、近日痰火咳嗽，小兒急慢驚風，感冒等症，日進三服，其效如神。</p>
<p><u>好生丹</u></p>
<p>大戟　石榴皮　芫花　甘遂　巴豆（去殼）　豆鼓　大黃　五靈脂　三稜　莪朮　杏仁　黃連　海藻　豬苓　澤瀉　烏梅　葶藶</p>
<p>上十七味，各等分。製法如常共為末，將好醋拌濕，人鍋微火炒成老茶褐色，帶焦取起，研極細末，醋打糊為丸，如蘿蔔子大。治一切男、婦諸症，各湯引送下，每服七丸。心氣熱痛，梔子仁湯下；冷痛，酒下；脹滿，檳榔湯下；赤痢，解毒湯下；白痢，酒下，禁口痢，石蓮子湯下；痢痢定痛後，服補中益氣湯；傷穀食，麥芽湯下；傷肉食，山楂湯下；小腸氣，荔枝核湯下；傷冷，酒下；水瀉傷熱，滑石湯下；諸般積滯，木香湯下；瘧疾，醋煮常山湯下；滾腸痧，生酒下；婦人血崩，黃柏破故紙湯下；婦人血氣疼痛，紅花蘇木湯下。壯健加二丸，幼童減半，多服反傷人。有妊婦及久症者或衰老人，斷不可服。如陳過一年，藥氣不峻厲，可服三、四十丸。</p>
<p><u>治陰陽二症方</u>　腹內寒痛者，以一劑貼臍亦效。</p>
<p>黃丹　胡椒（研末）</p>
<p>各等分。凡陰症用左手，陽症用右手，以薄棉紙鋪包，陽症貼陰戶，陰症包玉莖，俱令男、婦代包貼，立驗。三、五日仍加一劑貼臍上，使精壯者熱手引藥入內，俟其腸嗚即愈。</p>
<p><u>金玉丹</u>　治陰症。</p>
<p>麻黃膏（一錢）　雄黃（五分）　蟾酥（五分）　辰砂（二分）</p>
<p>上為末，調和一處，入磁小罐內火煉，將干，用紙封固，埋土中。罐上用碟覆蓋，再用士掩，一七臨起，用火放碟上一時，取出即丸，如菜子大。每用一丸壓舌根下，以麻上來用薑汁二匙漱口。</p>
<p><u>治傷力暴吐血驗方</u></p>
<p>白麻骨根，不拘多少，洗淨煮酒飲之立止。</p>
<p><u>治鼻血方</u></p>
<p>用小兒胎髮燒灰存性，用水調塗眉心，即刻血止，忙去藥。少遲則鼻塞矣。神效。</p>
<p><u>治黃疸病方</u></p>
<p>雞蛋（一個）　豬膽（一個，二味調勻）</p>
<p>上不拘時服。如心翻，服不下，用干糕咽之，三次即愈。</p>
<p><u>治腰閃氣痛方</u></p>
<p>黃耆（八錢）　甘草（一錢五分）</p>
<p>上用酒煎，臨睡服。被蓋取微汗即愈。</p>
<p><u>點痣及一切贅瘤息肉腳上雞眼等症</u></p>
<p>桑柴白灰（一升）　風化石灰（一升）</p>
<p>用新鮮鐵甲威靈仙煎濃湯，將前二灰淋取汁，再熬作稠膏，瓷罐貯之，點患處即愈，不必挑破。此藥遇贅肉即去，好肉即止。</p>
<p><u>治菌毒方</u>　此方治中暑卒倒者亦佳。</p>
<p>掘地作坑，以新汲井水傾坑中攪之令濁，少傾，待其稍清，取飲即活。</p>
<p><u>治魚刺骨或棗核擱在咽喉不上下者</u></p>
<p>用活雞一隻，不可殺，就於肚下生取出腸，去汙物，不可見水。用尺長弓弦一條，只套入腸內，看骨在左右，將腸撥動即黏在腸上出。再用血竭為末，入患處，不可就食熱物。</p>
<p><u>治誤吞大骨方</u></p>
<p>南硼砂，含化即愈。</p>
<p><u>治耳疳方</u></p>
<p>瘡在耳外，用雄黃一錢，紅棗一枚，去核。將雄黃包在紅棗內，火煨存性，取出雄黃研細，搽上即愈。如瘡在耳內，用魚首石火煉存性，研細，再加銀硃，好麝香各少許，共作一處研。先用絲綿或棉紙瘡上拭淨，吹藥入即愈。</p>
<p><u>治耳暴聾者</u></p>
<p>用全蠍去毒為末，酒調滴耳，聞水聲即愈。</p>
<p><u>治肺風瘡方</u></p>
<p>白芷　白附子　防風　荊芥　輕粉（各一兩）　白蘞　雄黃　白蒺藜　細辛　甘松　山奈　樟腦（各五錢）　兒茶（三錢）　牙皂（六錢）</p>
<p>上前藥，再加官肥皂共為末，煉蜜為丸。有雀斑，加鷹糞一兩，水淘去沙，曬乾；鼻頭紅，加大楓子肉，另研金星鳳尾草各五錢，入前藥，每早洗面，神效。</p>
<p><u>治天疱瘡方</u></p>
<p>用蚯蚓糞為末摻上，若瘡干，用香油調搽之。</p>
<p><u>又方</u></p>
<p>用蛇苺草搗爛，敷上即愈。</p>
<p><u>治漆瘡方</u></p>
<p>用生螃蟹黃搽患處。</p>
<p><u>又方</u></p>
<p>用杉木劈片煎水洗，數次愈。</p>
<p>治口唆指頭害欲斷者</p>
<p>棟漆樹葉，生搗去筋，加津唾潤搗，搽上仍用軟絹包護，不可見風。</p>
<p>治蜂螫方</p>
<p>用生芋梗塗之立效。</p>
<p>治瘋狗蛇毒皎方</p>
<p>用人糞塗傷處極妙。新糞尤佳。</p>
<p>治瘋狗皎方</p>
<p>急打開頭髮，令人尋頂中黃髮一根拔去，再將熱牛屎塗患處。一時難得，即將牛牽至山坡，牽上牽下，如此三。四十遍，牛必撒屎。</p>
<p><u>治蜈蚣咬方</u></p>
<p>用草紙菸熏之即效。</p>
<p><u>又方</u></p>
<p>用獨蒜子擦咬處，能止痛消腫。</p>
<p><u>治蛇咬方</u></p>
<p>三稜草，其花只朝三方，不朝北方，取搗。酒熱服，毒隨傷處出，出白氣而愈。如被咬腳腫，將地挖一穴，照腫深，用草燒煙燻。腳穴中用原土護腳，再將清糞澆之，即痛止腫消，神效。</p>
<p><u>治溺死及服金屑未死者方</u></p>
<p>用活鴨血灌之可活。</p>
<p><u>治瘟豬牛驢馬方</u></p>
<p>狼毒　牙皂（各一兩）　黃連（一兩五錢）　雄黃　硃砂（各三錢）　共為末。獵搽入眼；驢馬吹入鼻。</p>
<p><u>太乙定痛膏</u></p>
<p>真麻油（一斤）　當歸身（二兩）　生地黃（二兩）　甘草（一兩）</p>
<p>四味入油，慢火煎焦枯，去渣，以棕綿濾淨，再入鍋熬，滴水不散，入黃丹半斤，又慢火熬，滴水成珠取起。少傾，入白蠟、黃蠟各一兩，微火上攪勻，取起少定，入研細乳香、沒藥各五錢，又攪勻傾置磁器內，過三宿聽用。</p>
<p><u>治百病膏藥方</u></p>
<p>川芎　芍藥　山梔　柴胡　當歸　生地　玄參　前胡　黃柏　黃芩　防風　羌活　黃連　白芷　乾葛　桔梗　甘草　知母　枸杞子　蒼耳子　大黃　豨薟草　龍膽草　天門冬紫蘇　麥門冬　薄荷　升麻　殭蠶　紅花　桃仁　蘇木　木香　三稜　莪朮　青皮　枳殼　蟬蛻　烏藥　半夏　南星木通　萆薢　澤瀉　桂枝　乾薑　川烏　草烏　松節　麻黃　蒼朮　荊芥　獨活　藳本（各五錢）</p>
<p>用羊油五斤，煎前藥熬至枯焦，用布濾去渣，稱淨油若干。每油四兩，入松香一斤，收成膏，再加乳香、沒藥各三錢。</p>
<p><u>煉松香法</u></p>
<p>用明松香十斤，揀淨，以大鍋熬化，以火燃著，用桑柴不住手攪，少傾，以鍋蓋閉之。揭開扇去黑煙，又燃著。如前法扇五次息火，用井水半缸，候稍冷，傾入水內，過一宿撩起，曬乾聽用。</p>
<p>治痢疾，貼小腹；治瘧疾，貼背心；治心痛，貼痛處；治寒氣，貼患處；治痰火，貼前心或後心；治痞塊，用布攤成膏藥，用阿魏二、三錢熔化，攤膏藥上貼之；若長肉，用象皮、男血餘，越多越好；若止痛，用乳香、沒藥；若收口，用赤石脂、龍骨、珠屑。</p>
<p>制珠屑法：用傾銀罐，以珠盛內，將瓦蓋之鹽泥封固，火煉罐紅，取出候冷研用。</p>
<p><u>神應萬靈膏</u>　奇效</p>
<p>白蒺藜　烏藥　白蘚皮　草烏　香附子　苦參　黃藥子　三稜　鳳尾草　積殼　威靈仙　獲術　海桐皮　羌活　桑白詮　牛膝　蒼耳子　獨活　天花粉　川芍　羊蹄根　擯榔尋　風藤　連翹　五加皮　大黃　雷公藤　防風　蒲公英丹參　天南星　烏頭　石南藤　玄參　土牛膝　松節　忍冬藤　黃芩　紅芽　大戟　射干　血見愁　白蘞　紫背天葵茄根　皂角刺　芫花　當歸尾　荸薺　玄胡索　桔梗　蒼朮白芨</p>
<p>第一次五十二味各等分，約藥五斤為片，入香油十二斤浸一夜方熬煎。以槐柳、桃枝攪動，煎至焦枯，撈去渣，再入第二項藥煎乏。</p>
<p>杏仁　金銀花　藳本　川山甲　細辛　香白芷　官桂　五靈脂　桃仁　蓖麻子（去殼）</p>
<p>鬱金　青木香　蛇蛻　蜈蚣（各五錢）　蝦蟆（五隻）</p>
<p>上十五味，入前油，慢火煎焦，去渣、濾淨。再入鍋熬油，滴水不散入黃丹五斤，無名異一斤，蛇含石八兩，自然銅四兩，俱為極細末，陸續添入攪之，滴水成珠，攤紙不滲為度，取放地上半熱入後藥：</p>
<p>麝香（研，五錢）　樟腦（研，八兩）　乳香（另研，四兩）　入前油內攪勻，分十器盛之，過三宿，任憑攤紙上或絹上貼患處。</p>
<p>治一切風氣腫毒諸病，按穴貼之。先用姜鹽擦患處，令膚熱貼上膏藥，又用熱鞋熨之為妙。</p>
<p><u>治凍瘡方</u></p>
<p>先用山藥折斷，將汁塗瘡上，再用一橘切為四片，去肉。將紅皮烘熱，用里皮按在瘡上，候冷又換，盡四片即愈。</p>
<p><u>杖瘡方</u></p>
<p>大黃（一斤）　石灰（一斤八兩）</p>
<p>二味入鍋內炒黃色，去石灰加桂枝四兩。共為末，用生桐油調敷上血自散。</p>
<p>治骨鯁，用犬涎下；谷芒，用鵝涎下。</p>
<p><u>治風狗咬方</u></p>
<p>斑毛（七個）　杏仁（四十九粒）　大黃（五錢）　白芷（三錢）　甘草（三分）</p>
<p>上為極細末，先用蔥白煎湯，將瘡口洗淨，再用蜜和藥搽上。</p>
<p><u>治風狗咬方</u></p>
<p>斑毛（七個，去頭足翅）　紅娘子（七個，去頭足）</p>
<p>用糯米三合，先炒黃色，再用前二味同米炒黃色，去米研為細末，再加滑石二錢共末，好酒空心送下。二、三日服；有血下，五、六日服；有魚凍下，七日不治。如服下痛不止，再一服即下。再服仍痛不止，即服綠豆粉皮。食藥之後，油鹽等物也。</p>
<p><u>貼瘡膏藥方</u></p>
<p>用甘草不拘多寡，煮油單紙若干。用時隨瘡大小剪成，將好黃蠟熔化塗勻於紙上貼之，將收口時稍加輕粉末立效。</p>
<p><u>治血風坐板膿窠芥瘡方</u></p>
<p>黃丹（三錢）　輕粉（上好者，三錢）　枯礬（七分）　大楓子（肉，二十粒）</p>
<p>上藥用紫草油調均搽瘡上，每日用皮硝一兩，入熱水洗愈。</p>
<p><u>治坐板瘡方</u></p>
<p>硃砂（一錢）　雄黃（一錢）　輕粉（五分）　黃柏　枯礬（各五分）</p>
<p>共為細末，先將花椒湯洗淨拭乾，再撒藥。次日坐得，三日愈。</p>
<p><u>治血風瘡方</u></p>
<p>硫黃（一錢五分）　雄黃（三分）　輕粉（三分）　寒水石（四分）　樟腦（四分）　大楓子（三錢）　蛇床子（二錢五分）</p>
<p>上共為細末，臘豬油捶勻，搽擦。治癬瘡尤效，驗過。</p>
<p><u>一掃光方</u>　治疥瘡。</p>
<p>水銀（一錢五分）　乳香（五分）　蛇床子（炒，二錢五分）　硫黃　沒藥　樟腦　花椒（各五分）　大楓子（一兩，取肉）</p>
<p>上共為末，用桕蠟燭油調搽。</p>
<p><u>治疥瘡頭瘡漆瘡火丹及婦人陰蝕瘡諸惡瘡方</u></p>
<p>大楓子　硫黃　雄黃　花椒（各一錢）　蛇子床　苦參　蕪荑　枯礬（各二錢）　樟腦　輕粉（各四分）</p>
<p>上共為細末，入好醋調勻，布包擦患處立愈。</p>
<p><u>治疥瘡方</u></p>
<p>水銀　輕粉　枯礬　雄黃　杏仁　苦參　黃柏　川椒　大楓子　蛇床子</p>
<p>上為末，用紫草油調敷。</p>
<p><u>治大人小兒腹內痞疾痰塊或氣血食塊神方</u></p>
<p>辣芥子（一合）　川芎（五錢，各用紙隔炒，研為細末）</p>
<p>上用布細裱紙一層聽用。量患之大小剪紙如式，用好醋調如膏藥。每貼加麝香五釐，灑在藥上貼之。先用蔥椒水洗患處。若小兒俟睡著貼之。不須多時，只用一頓飯時便揭去，具患上即有針尖小泡起便止，過一時以指深之便軟，如此兩三番便揭去。如患大，貼一半消一半，漸漸消之亦好。</p>
<p><u>治怔忡痰厥方</u></p>
<p>臘八日用大雄豬膽一個，將明礬碾細，入膽內，盛滿為度，陰乾去皮，仍碾細。每錢加飛過硃砂三分和勻，用無根水服三銅錢邊即愈。所謂三銅錢邊者，即一刀圭之意，而極言其少也。</p>
<p><u>治河豚毒妙方</u></p>
<p>用新鮮肥皂（一個，如無，半新者亦可），去筋膜內子，去黑殼搗爛，加黃豆數粒，硼砂少許，再共搗勻，切作指頂大，放入口，井水灌下即愈。</p>
<p><u>治砒毒方</u></p>
<p>用冬青樹葉不拘多少，搗爛，或加綠豆粉，井水灌下即愈。</p>
<p><u>解砒霜毒妙方</u></p>
<p>石炭鐵皮八錢（人小隻用六錢）　白蠟（一錢）</p>
<p>上以二味碾細調勻，新汲井水攪服。隨將鴨子白七、八個調，吞之令吐，不吐增至十二個；如不吐者，隨用芝麻油數兩瀉出餘毒。</p>
<p><u>治腦漏神方</u></p>
<p>用青木香一味，為末，臨睡時吹一、二宿即愈。</p>
<p><u>扎指法</u>　治鼻衄不止。</p>
<p>左鼻出血扎右手中指節；右鼻出血扎左手中指節，兩鼻出血，左右俱扎。</p>
<p><u>治蛇頭指丁</u>　痛不可忍臭不可聞。</p>
<p>蜈蚣一條，焙乾為末，豬膽汁調搽。</p>
<p><u>又方</u></p>
<p>生黑豆為末，用黃梔子殼納豆末，籠縛指頭上即安。</p>
<p><u>治縊死法</u></p>
<p>急抱起，使繩寬解去，切不可割斷。急吹其兩耳並口，氣透急提其發，不可放手，摩其胸腹，屈伸其手足，即醒，以米飲灌之。</p>
<p><u>治溺死法</u></p>
<p>急簳牙口橫筷一隻，使可出水。急令人屈其兩足著肩，以背相貼，駝之而行，其水即出。亦急吹氣口、耳並糞門內，更迭吹之；令上下氣相通。</p>
<p><u>治冬月墜水凍死：不可便用火烘，只用布袋熱灰放心頭，冷即換熱者，待眼開方可灌酒或米飲。</u></p>
<p><u>治署月冒中卒死：</u>　不可使用冷水淋洗，當用溫湯摩洗心腹，用熱泥土堆臍腹上作坑，令人尿其臍中。</p>
<p><u>治河豚毒倉卒無藥：</u>　急用清油多灌，吐出毒物即愈。</p>
<p><u>治遍身風癬妙方</u></p>
<p>用皂角煎湯，日洗二、三次，如此半月即愈。</p>
<p>治生疥瘡，熏煙筒，陰囊被中傷，砒毒，開列疼痛不可忍者即死。用黃泥調水澆之即愈。驗方。</p>
<p><u>治膿窠瘡神效</u></p>
<p>紅棗去核，蔥白去須葉各等分，搗爛煎湯，候湯滾先熏，待湯少冷即洗膿窠。洗久自然不疼，掐皮洗去膿，一日即結蓋。</p>
<p><u>治濕瘡</u></p>
<p>真輕粉（二錢）　韶粉（二錢）　百草霜　乳香　沒藥（各五分）</p>
<p>上各為細末，生桐油調作隔紙膏貼。</p>
<p><u>治遍身風疹方</u></p>
<p>用芝麻葉擦之即愈。</p>
<p><u>治諸般濕氣</u></p>
<p>用薑、蔥汁不拘多少，熔廣膠在內敷患處，將白棉紙蓋上，炒熱麩皮，日逐在上磨運，自然發散矣。</p>
<p>治濕氣：用芥菜子搗細，醋調均敷患處，任痛即止。</p>
<p><u>又方</u></p>
<p>漢防己　蒼朮　牛膝（各一錢五分）　薏苡仁　當歸（各二錢）　木瓜　半夏（各一錢二分）　羌活　陳皮（各一錢）　甘草（四兩）　薑棗煎，食遠服，痛處取微汗。</p>
<p><u>治濕腫方</u></p>
<p>土茯苓（四兩）　當歸（一錢）　何首烏（三錢）　金銀花（一錢）　川椒（一錢）</p>
<p>濕在上，加川芎一錢，不用牛膝；濕在下，加牛膝一錢，去川芎。水二盅，煎一盅半服。</p>
<p><u>治面上生黃水瘡驗方</u></p>
<p>紅棗燒灰存性，杭粉將火圍，煅煉紅色，與棗灰等分為末，洗去瘡靨搽之，數次即愈。</p>
<p><u>治坐板瘡方</u></p>
<p>蠟過爛皮底，燒灰搽之妙。</p>
<p><u>治各爛瘡</u></p>
<p>黃柏（蜜炙，一兩）　輕粉（一錢）　片腦（一分）</p>
<p>上為末。濕摻；干，香油調搽。</p>
<p>治腳上血風瘡開列出水血，痛不可忍：取久撒尿處臭泥塗敷患處，立效。</p>
<p><u>治面上生小瘤核方</u></p>
<p>用雀梅藤燒刺鐵刀上取油，再用生大半夏一個，同前油磨、敷硬處。不過三、四次漸消而愈。</p>
<p><u>治濕痰瘤於手足方</u>　作痛，身難轉動及半身疼痛難起。</p>
<p>茅山蒼朮（八錢，米泔浸炒）　貝母（炒）　全蠍（去勾，洗淨焙乾）　牙皂（炒）　羌活　乳香（各一錢）　沒藥（一錢）　麝香（二分）</p>
<p>共為末，每服二錢。桃核肉搗成餅，酒下二、三錢。</p>
<p><u>治汗斑方</u></p>
<p>蜜陀僧、殭蠶、白礬、甘松、山奈、皂角刺俱為末。用肥皂去核煮爛，入藥為丸，頻頻擦患處。</p>
<p><u>治諸般魚肉骨並竹木刺鯁喉中方</u></p>
<p>用水一碗，水上用濃墨筆蘸寫「癸水化為龍行」六字在上，連吃下。一次不愈，再取一次，即愈。</p>
<p><u>治魚骨諸骨鯁方</u></p>
<p>用鳳仙子不拘多少，搗碎為末，水調服下，諸骨俱化。</p>
<p><u>治竹刺筅□須鯁在喉中方</u></p>
<p>用多年舊籬笆竹，截斷煎濃湯，吃下立愈。</p>
<p><u>治諸般魚刺骨鯁</u></p>
<p>用臘月二十四日灶糖，將瓷罐收貯在內。如遇鯁，將匙挑二、三匙在口內即消下。二、三年者亦佳。</p>
<p>治骨鯁。用鐵梗、威靈仙取汁和酒服。</p>
<p><u>治臂痛方</u></p>
<p>用生薑汁、蔥汁各三兩，入鍋內滾熱，方將廣膠五兩放在內同熬化，攤在絹布上貼之，立效。</p>
<p><u>治諸般霎時干肚痛方</u></p>
<p>用水一碗，以鍋鏟一把，火內燒紅，將鹽一撮放在上，連鹽鏟，即投入水中，將水吃盡，痛即止。</p>
<p><u>傷力方</u></p>
<p>用韭菜不拘多少，搗汁和好酒調服，三、四次即愈。</p>
<p><u>治諸疥癩牛皮癬四彎頑瘡癢痛不止並治之驗方</u></p>
<p>大楓子肉（四兩，揀去幹僵者，另搗細如泥，用手指捻之，無渣為度）　生白礬（一錢二分半，另碾極細）　輕粉（一錢，另研細）　枯白礬（一錢二分半，另碾極細）　水銀（一錢）　潮腦（二錢五分，另研極細）</p>
<p>上五味，共一處再研，方入楓子泥內搗極勻，再將臘豬脂熬清汁六、七匙，天時冷恐乾燥，得數匙和人，令勻。每晚洗後擦患處，膿窠瘡輕輕塗之四、五、六晚，全愈。</p>
<p><u>蛇咬方</u></p>
<p>白芷（四錢）　鴨綠膽礬（一錢）</p>
<p>先用頭髮緊繫咬處，用茶洗淨，將前藥末摻上即愈。</p>
<p><u>治禿瘡方</u></p>
<p>用檳榔、花椒各等分，為末，麻油調搽。</p>
<p><u>治肥瘡方</u></p>
<p>用松香、豬脂熬調搽愈。</p>
<p><u>又方</u>　並治腿足濕瘡。</p>
<p>用香爐蓋上胭脂，敷上即愈。</p>
<p><u>瘡藥末</u></p>
<p>蛇床子　檳榔（各五錢）　芒硝（二錢）　白礬（火化過）　荊芥　水銀（各一錢五分）　輕粉（一錢）　倭硫黃（七錢五分）　冰片（一分）　大楓子（去殼，二錢五分）　山萘（二錢五分）　全蠍（二錢五分，去足，微炒）</p>
<p>共研細末，惟輕粉同芒硝、倭硫黃，用銅器火上化開，將荊芥另碾成末入內成團，候冷，仍碾成末入於諸品，其水銀用鉛一分投入，久之始入各末內再均碾，將山油銅器內煎過，候冷調搽。無山油，香油代之，冰片另研投入。</p>
<p><u>洗藥方</u></p>
<p>金銀花　荊芥　苦參　槐花　蛇床子　白芷　山菊　朴硝　蒲公英　黃柏　皂角</p>
<p>以上諸品不拘分兩，均用白水煎湯，洗後將油調藥末搽上。戒食豆腐、牛、魚、羊、鵝、驢肉。</p>
<p><u>治小兒頭上肥瘡</u></p>
<p>飛丹　黃柏　松香（各五錢）</p>
<p>用豬板油四兩，同前藥搗爛，將紙裹為條點燒，滴下油來，搽瘡上即愈。如瘡癢，加飛礬少許不拘，膿窠瘡搽上即愈。</p>
<p><u>治癬方</u></p>
<p>用多年蓋牆頭稻草，炒熟鹽共碾碎，將癬括碎擦上即愈。</p>
<p><u>又方</u></p>
<p>用牛舌草根大者，飛鹽一錢，胡椒末一錢，用好醋調搽妙。</p>
<p><u>治⿸疒巤⿸疒梨神方</u></p>
<p>先將頭上瘡刮碎洗淨，用上好木棗在口中嚼碎敷上，以青布包之，三次後揭去，靨如前再敷，三次即愈。</p>
<p><u>治諸般風癬奇方</u></p>
<p>雄黃、硫黃、銀硃、硃砂各等分，俱為細末。將前末藥摻在蘄艾上，用草紙拈成條點火熏之。三日即愈除根。</p>
<p><u>對口瘡方</u>　此方神效不可言。</p>
<p>用抱小雞毋出窩時熱糞，塗之即愈。</p>
<p><u>治紅鼻酒糟鼻方</u></p>
<p>硫黃四兩，燒酒三斤煮，逐漸添入，待乾。將口涎在手心內融開，搽鼻上，四、五次即愈。</p>
<p><u>治鼻生息病名鼻痔</u></p>
<p>明礬（一兩）　鹽梅（五個，去核）　蓖麻子（七個）　麝香（一分）</p>
<p>碾為丸，棗核大。用綿包入鼻內，其鼻肉化成水出。</p>
<p><u>治酒鼓鼻及婦人鼻生黑粉刺</u></p>
<p>硫黃五錢，杏仁二錢五分，輕分為末，以酒面藥調，夜搽日洗。</p>
<p><u>治除虼蚤妙方</u></p>
<p>用向東南嫩桃枝、菖蒲根，五月五日取，不拘多少，俱為絕細，十月初一合之為妙。將篩篩在席上，屹蚤即除根矣。</p>
<p><u>治蜈蚣咬</u></p>
<p>用桑樹汁塗之即愈。</p>
<p><u>治無蛇頭驗方</u></p>
<p>或左右手中指，其痛不可忍者，用生雞子一個，打破一口，以雄黃極細末一錢入雞子內調勻，套於患指上。外用雄黃和麵塗之恐泄藥氣，其痛立止。外服內托清氣飲。</p>
<p><u>內托清氣飲</u></p>
<p>羌活　前胡　官桂　黃耆　人參　當歸　川芎　甘草　烏藥　赤芍　白芷　桔梗　防風　紫蘇</p>
<p>水煎服。</p>
<p><u>治天蛇頭生在指上</u></p>
<p>雄黃（五分）　麵粉（一分）　麝香（三釐）</p>
<p>俱為細末，好酒調敷效。</p>
<p><u>治天蛇頭方</u></p>
<p>用田雞皮包即愈。如冬月無田雞。在桑樹下尋之。</p>
<p><u>治耳聾方</u></p>
<p>磨秀鐵水含口內，將引針石放在耳內，即通。</p>
<p><u>治汗斑方</u></p>
<p>硫黃（五錢）　蜜陀僧（五錢）　人言（二分五釐，姜煨）</p>
<p>白附子（二錢五分）</p>
<p>用茄子切斷，蘸擦患處即去。</p>
<p><u>治膿滾瘡妙方</u></p>
<p>用大塊豆腐中挖一穴，硫黃不拘多少入於腐內，水煮二、三滾，以腐色黃濕為度。再用雄檳榔一個同磨，為點瘡愈。</p>
<p><u>治足趾內瘡方</u></p>
<p>黃丹（一兩）　枯礬（四錢）　細辛（三錢）　白芷（二錢）　藳本（五錢）</p>
<p>共為末搽。</p>
<p><u>治手指害蛇頭方</u></p>
<p><u>用蜈蚣一條，全蠍（一個，俱頭足全者），置新瓦上炙乾。再用雄黃五分同為細末，香油調敷。如不愈，再合一方便愈。</u>　治角弓反張方</p>
<p>用冬瓜皮燒灰存性，三錢；用麻燒灰存性，三錢。共為薄菏葉（各等分）</p>
<p>共為細末。治四時傷寒及陰毒、偏正頭風，齒痛，初覺者先吃蔥茶一盅，次口噙水，將藥男左女右吹入鼻內，吐去水，㗜嚏汗出即愈。</p>
<p><u>掌中金散</u></p>
<p>蒼朮　乾薑　飛白礬（各等分）</p>
<p>上共為細末。治傷寒不論傳經，每一服用五分，先吃綠豆湯一小盅，次將藥男左女右攤手心內，搦緊夾腿腕里，側臥，蓋被出汗即愈。</p>
<p><u>治傷寒點眼方</u></p>
<p>白犀角（一兩，切黃豆大塊）　血竭（一兩）　山慈姑（一兩，，生薑搗汁，浸一宿）　麻黃（去節，一兩）</p>
<p>用烏金紙四十張，將前藥分作二十四包。肉外用紅棗再包封，安小砂鍋內，上以紅棗肉泥封其，留一小孔出煙半炷香，待白煙出泥其孔，上火下火共煅三炷香，取出安在地上，以烏盆蓋住一時為退火。方去紅棗肉，存內藥碾極細末，加片腦五分，麝香五分，共碾極細末任點。兩感傷寒，若用點，將香油蘸簪頭點藥入眼內，或痘疹毒等疾皆可點。如不出汗，少許吹入鼻內，立汗。奇妙。其藥點眼出汗，要縮腳，用手拿陰囊，待汗頭上出至湧泉為妙。</p>
<p><u>治陰症傷寒指甲俱青神效</u></p>
<p>用老雄雞一隻，當脊開，連腸血等乘熱在，裹在肚臍上將布縛定，一周時即醒。陽物若縮，用手扯住。薄菏葉（各等分）</p>
<p>共為細末。治四時傷寒及陰毒、偏正頭風，齒痛，初覺者先吃蔥茶一盅，次口噙水，將藥男左女右吹入鼻內，吐去水，㗜嚏汗出即愈。</p>
<p><u>掌中金散</u></p>
<p>蒼朮　乾薑　飛白礬（各等分）</p>
<p>上共為細末。治傷寒不論傳經，每一服用五分，先吃綠豆湯一小盅，次將藥男左女右攤手心內，搦緊夾腿腕里，側臥，蓋被出汗即愈。</p>
<p><u>治傷寒點眼方</u></p>
<p>白犀角（一兩，切黃豆大塊）　血竭（一兩）　山慈姑（一兩，生薑搗汁，浸一宿）　麻黃（去節，一兩）</p>
<p>用烏金紙四十張，將前藥分作二十四包。肉外用紅棗再包封，安小砂鍋內，上以紅棗肉泥封其，留一小孔出煙半炷香，待白煙出泥其孔，上火下火共煅三炷香，取出安在地上，以烏盆蓋住一時為退火。方去紅棗肉，存內藥碾極細末，加片腦五分，麝香五分，共碾極細末任點。兩感傷寒，若用點，將香油蘸簪頭點藥入眼內，或痘疹毒等疾皆可點。如不出汗，少許吹入鼻內，立汗。奇妙。其藥點眼出汗，要縮腳，用手拿陰囊，待汗頭上出至湧泉為妙。</p>
<p><u>治陰症傷寒指甲俱青神效</u></p>
<p>用老雄雞一隻，當脊開，連腸血等乘熱在，裹在肚臍上將布縛定，一周時即醒。陽物若縮，用手扯住。</p>

<h3>黃疸門</h3>
<p><u>治酒黃疸方</u></p>
<p>龍膽草（一兩，去蘆，甘草湯洗）　苦參（三兩，米泔水浸洗）　黑牛膽（一個）</p>
<p>二藥俱為細末，入牛膽汁為丸。如汁少加煉蜜少許，每服五、六十丸，燈心湯送下。</p>
<p><u>治黃膽亦治膨脹</u></p>
<p>用的頸葫蘆一個，貯細曲酒在內，放飯上煅滾，連葫蘆露一宿，空心溫服立愈。非病甚不宜服。</p>
<p><u>又方</u></p>
<p>陳皮　青皮　山楂　厚朴（以上多用些）　甘草　蒼朮　白芍藥（此前略少些）</p>
<p>每服水二盅，煎八分。如不退黃，加龍膽草在內，無不效者。</p>
<p><u>治黃疸並面黃驗方</u></p>
<p>用皂礬一斤，面一斤，水和為餅，將皂礬包裹在內，放火內慢慢煨焦過，連面皂俱為細末，以煮熟紅棗，去皮搗和為丸，桐子大。每服四、五十丸，滾湯送下。以一斤可醫好二人。</p>
<p><u>又方</u></p>
<p>皂礬半斤。入鍋內炒乾。次入醋拌均，再炒乾，又加真豆油拌均；再炒乾，取起。用青布包好埋在地中，七日七夜取出為末。用元米半升炒熟為末，加神麯、麥芽、山楂、雞肫內黃皮三、四個，各等分為細末，和均。用干砂糖或黑棗蒸爛為丸，桐子大。每服四、五十丸，或酒或白滾湯送下，十日即愈。</p>
