<header data-type="book">
<h1>愛月廬醫案</h1>
</header>

<h1>喉風</h1>
<p>（案1）質本陰虛，涵濡少上承之用；感由秋燥，清肅失下降之權。邪實正虛，恐愈傷而愈損；陰虛陽旺，必化火而化痰。風趁火勢而益張，痰因火蒸而上擾，蘊結肺胃之經，釀成喉風之候。身倏寒而倏熱，火勢鴟張；咽忽阻而忽疼，毒邪蜂起。上壅呼吸之門，竊恐餉糧不濟；內阻飲食之路，還虞庚癸頻呼。痰嘶氣逆，天氣之開泄失司；溲澀便難，地道之通調失職。火炎則土燥，口隨飲而隨干；火盛則水虧，齒或焦而或垢。猶是燎原之火，撲滅難圖；幾同久旱之苗，枯憔安保？脈弦數而未得沖和，相火有升騰之象；舌光絳而又兼燥刺，陰津有立涸之虞。邪乘虛而內陷，無殊社鼠城狐；正幾敗而難持，豈等杯蛇市虎。於此存一線之危，而要出萬全之計，不啻鰲載之重；抑同弋獲之期，將投以辛溫乎？乃是抱薪救火；抑濟以輕清乎？亦同杯水車薪。竟委窮源，隨症施治，必得瀉離位之丙丁，救坎宮之壬癸，庶可汲西江之水以滋乾涸之魚。聊著病情於前，並附藥方於後，淺見如是，尊識若何？</p>
<p>香犀尖（八分）　元參（四錢）　鮮石斛（五錢）　陳金汁（二兩）　西洋參（一錢五分）　鮮生地（一兩）　甘草（五分）　全瓜蔞（三錢）　西黃（一分）　連翹（三錢）　川貝母（三錢）　銀花（四錢）　丹皮（二錢）　川雅連（八分）</p>

<h1>喉蛾</h1>
<p>（案1）素來陰分不足，熱邪內蘊。近感風溫，引動伏邪，鬱蒸化火，火升而為痰，痰火上攻，逆於肺胃之脈，遂成喉蛾之症。幾經旬日，仍然咽喉紅腫，甚致湯水難下，項外微腫。夫咽喉為一身之總要，百脈之關頭，又為呼吸之門戶，飲食之道路，方寸之地，所關甚大。幸而痰來且爽，陰液未涸，猶可無虞。按脈洪數帶弦，舌苔邊紅根膩，究系邪踞肺胃為多而未至於心營。拙擬辛涼清解佐以消痰一法，冀其邪有退避三舍之勢，庶無他變之理，否則，願夫子明以教我。</p>
<p>犀角尖　銀花　薄荷　天竺黃　黃芩　竹芯　鮮生地　丹皮　元參　牛蒡子　花粉</p>
<p>復診　前擬清火消痰之劑，諸症仍不退舍，究系邪勢鴟張，如火之始燃，難攖其勢也。況體熱不涼，有邪伏陽明之象，痰多且膩，是熱留太陰之徵。咽喉紅而且腫，熱邪兼挾毒邪；脈息數而帶弦，風火引動鬱火。經云：火者，痰之本；痰者，火之標。痰火盤踞，圖治不易。驟寒則邪鬱而內潰，過散則火焰而腐增。先散後潰，洵屬至理。邇來大便旬不更衣，項旁腫痛上引頭額，顯系火性上炎風性善竄故也。風駕火威，火乘風勢，風火相煽，是以擾攘無休也。既承雅招，不棄鄙陋，勉爾揮汗撰方，以為蝦力行舟之助耳。</p>
<p>羚羊角　大力子　元參　馬勃　川貝　連翹　鮮石斛　粉丹皮　竹心　花粉　知母</p>
<p>三診　喉蛾已潰，毒邪有外泄之機；腫勢漸消，痰火無稽留之患。惟喉旁尚有硬塊，大便堅結，脈息細數帶弦，舌質微紅尖絳，此陰液受傷也。而肺胃之熱究屬有餘未淨也，斯時養陰清熱以救津液，勢所必需；而腸胃以通為用，養胃潤腸亦不得不兼顧之。若驟進滋膩，猶恐餘燼復燃，余焰復騰，合當與否？侯尊丈裁之。</p>
<p>扁金斛　川貝　知母　秫米　瓜蔞仁　銀花　西洋參　純鉤　穀芽　花粉　粉丹皮　連翹</p>

<h1>頸癰</h1>
<p>（案1）體素陰虛血少，流行之用，時逢金旺，木失暢達之機。因感風熱，遂化火而化痰；阻痹少陽，致傷營而傷衛。逗留肌肉之間，釀成頸癰之候。症起未經一候，瘡形已腫四圍。外倏寒而倏熱，營衛之調和失職；身時疼而時痛，經絡之灌溉無權。腫見焮紅，漸顯釀膿之象；根形散蔓，未得托毒之徵。脈來細數帶弦，風火兼挾相火；舌色微黃近燥，熱邪蒸化毒邪。口渴胃呆，癸水虧而陽土嫌燥；痰稠咳逆，甲木旺而陰金受傷。治宜辛涼清解，泄熱即所以保陰；佐以頂托透邪，攘外即所以安內。既承雅招，不棄淺陋，非敢說夢，聊以解嘲。</p>
<p>鮮生地（五錢）　元參（三錢）　丹皮（二錢）　赤芍（一錢半）　川連（五分）　薄荷（一錢半）　連翹（三錢）　牛蒡子（三錢）　川貝（二錢）　桔梗（五分）</p>

<h1>骨槽風</h1>
<p>（案1）齒乃腎之餘，齦屬胃之脈。想骨槽風之症，邪深著骨，每多成漏之虞，良由元本不足，腎水素虧，外束風邪，襲入陽明胃絡，乘虛而邪伏於骨，醞釀而成。據述症起二月，先自內潰，後復外穿，潰後膿穢難淨，牙床骨露，甚至積成膿骨，內外腫勢未能全消，此係正不託邪，邪蘊難清之故。症源彌深，勢恐難以奏效。所幸者飲食如故，胃未受傷，中氣尚能扶持。茲擬標本兼顧，緩緩圖之。</p>
<p>西洋參　連翹　扁金斛　赤白芍　知母　福瀉　淨銀花　米仁　新會皮　粉丹皮　元參</p>

<h1>鵝掌風</h1>
<p>（案1）體素陰虛，血少循環之職；感由風燥，營無灌溉之權。陰虛則生熱，蒸動花柳之梅毒，由筋骨而外達皮膚，遂成鵝掌風之候。現形肌肉麻木，阻痹無形之氣；皮膚燥裂，致傷有形之血。近日來破津黃水略兼癢痛，良由陰虛內劫，鼓動花柳之餘毒，熏蒸外達使然。診脈澀而少力，舌尖紅而苔黃，營陰所以受傷，即衛陽亦未能滋養。經云：陰虛生內熱，陽虛惡外寒。寒熱不調，乃陰陽二虧之候。症屬根深，非但難以速效，且恐由虛成損，有意外之憂。茲擬調氣養營顧本治主，以冀一元來復，庶期佳徵。</p>
<p>制香附　天花粉　銀花　粉丹皮　川芎藭　西洋參　東白芍　生甘草　歸身　大生地　白蘚皮　雞血藤膠</p>

<h1>癧核</h1>
<p>（案1）手背凍瘡屢發，顯系血因寒滯，營氣失調。夫血脈營衛周流不休，寒氣客於經絡之中則血泣，血泣則不通，不通則衛氣歸之不得返。故手背癧核累累疊起，延及肩臂。經云：癰疽者，寒氣之所變也。又云：寒傷形，形傷則腫。考厥病源，的系寒凝而致，但六淫之邪皆從火化，由火化毒，蘊釀成膿，致癧核次第穿潰，潰出敗漿，可見元本不足，氣血兩虧。想無形而痛者，其陽完而陰傷之；有形而痛者，其陰完而陽傷之。乃既手背胖腫，膿多穢濁，筋骨作疼，有形而且痛。陰陽兩傷，正虛則邪不能托，毒蘊難宣，如有城狐社鼠之可患。毒邪久擾，山筋而傷及於骨，血枯髓涸，致筋骨、肌肉不相營養，經脈敗漏，熏於五臟。脾胃主肌肉，形羸體瘦，中氣未始無傷。肝藏血，腎藏精。有形精血既虧，肝腎安保無恙乎？經云：肝腎同位，乙癸同源。水虧不能涵木，土虛不能御木。木失榮養，肝火不平，勢必升騰無制，犯胃則嘔吐痰涎，乘脾則腹脹欠運。雖未至謝谷廢納，而所進水穀之精養義未能化津化液，徒釀痰濁。邪氣日益擾攘，正氣日益消磨。正所謂邪氣勝者，精氣衰也。現診脈象細弦，重按少力，舌苔黃薄帶灰，質紅起刺，此由陽而傷及於陰，由外而傷及於內。久虛不復，防有成損之虞。據愚見，陰陽並補，扶正以卻邪。譬如君子盈庭則小人退而無位矣！慎弗專圖外治而冀速效，竊恐劍關苦拒而陰平非復漢有也。拙擬候清眼裁政為是。</p>
<p>吉林參　於術　陳皮　杜仲　茯神　上綿耆　大熟地　半夏　歸身　甘草　白芍　驢皮膠</p>

<h1>外吹</h1>
<p>（案1）乳房乃陽明所屬，乳頭乃厥陰所居。夫陽明，胃也。厥陰，肝也。肝失暢達，乳絡因而壅塞；胃乏沖和，肌肉從此疏豁。豁則口熱易入，壅則營氣不從，膠固不宣，鬱蒸化毒，此外吹之所由成也。初起如粟，漸大如瓜，輕按則木硬應手，重按則痛楚難鳴。看腫勢而驚心，非比冰山之易解；睹紅形而觸日，豈同螢火之無憂。身倏寒而倏熱，有火伏陽明之狀；經適來而適斷，有熱入血室之徵。腫勢漸增，乳絡愈形壅塞；飲食較減，倉廩又顯困呆。據述症起旬日，醫更數人，投消散而無功，進頂托而罔效。脈象細而兼數，舌苔膩而且黃。挹脈察舌，憑症擬方，治宜甘涼清解，泄熱即所以保陰；佐以頂托透邪，攘外即所以安內。聊出數語，並附一方。理之是否？還望高明採奪。</p>
<p>全瓜蔞　純鉤　淡條芩　陳皮　甲片　元參　金石斛　知母　牛蒡子　角刺　連翹　銀花</p>
<p>（案2）產後血液虧損，肝經失其榮養。肝為將軍之官，其性甚急，一有不調，勢必化火犯胃，陽明脈絡亦從而阻遏。是以左乳木硬紅腫，致成外吹之症。潰經半月有餘，仍然膿水連綿，根腳腫硬，脈息細數帶弦，左關更甚，舌色淡紅，苔薄，中間微黃，身熱納少，頭眩耳鳴，種種症情皆由營陰未復，肝胃邪熱，究屬有餘未盡也。圖治之法豈可偏廢乎？若徒進苦寒解毒，非惟外瘍無益，且恐胃氣受傷；驟投滋膩養陰，不特餘熱難清，且憂餘燼復然。姑擬調和肝胃，參入養營解毒一法。冀其餘邪盡化，肝胃漸和，再商救本窮源之法。理之是否？候諸翁裁之。</p>
<p>東洋參　茯神　佛手　生穀芽　白芍　陳皮　炒歸身　粉丹皮　杭菊　金石斛　首烏</p>

<h1>腎俞虛痰</h1>
<p>（案1）先天不足，少陰失封蟄之司；寒濕深沉，命門無內融之力。毒阻腎俞，小啻城狐社鼠；投治非法，無殊市虎杯蛇。㗖夫人之氣血，如天地之循環不已，今為寒濕所阻，經脈壅塞，營氣不從，遂成腎俞虛痰之候。穿潰以來已經月餘，依然清水連綿，宛若漏卮之難塞；形容癟瘦，幾同枯木之無榮。想七節之旁，原是腎經之道路。蓋腎為性命根本，藏精、藏氣、藏神；又為先天真陽，育女、育男、育壽。生生不已，化化無窮，多由此而致也。乃今漏泄已久，不特技巧難出，而肝木亦失其湧濡。經云：肝木亦腎同位，乙癸同源。腎水既虧，肝木安得無恙平？邇來兩足屈而不伸，時有氣衝之象，則木失榮養，已露其端倪。雖胃氣尚未全敗，中陽猶可支持，而源遠根深，圖治甚難。若過投辛熱，深恐陰液愈耗；徒進寒涼，更慮元陽驟脫。今將投甘溫扶正者乎，抑以甘寒育陰者耶？靜坐以思，必須陰陽並補，參入精血有情之品，或可汲西江之水聊滋乾涸之魚耳。理之是否？候高明採奪。</p>
<p>高麗參　大熟地　制首烏　厚杜仲　白歸身　淮山藥　女貞子　潼蒺藜　紫河車　菟絲子　淡蓯蓉　枸杞子</p>
<p>上熬膏，再用龜鹿二仙膠。</p>
<p>（案2）年近六旬，陽氣日就虧損。陽虛者，濕必勝。濕邪久踞，氣血為之壅遏，遂成腎俞發之候。症起未經旬日，而根盤幾同覆碗，木硬隱痛，皮色如常，脈息細澀欠利，舌苔淡白且膩，間有寒熱。種種症情，總不外乎陽虛濕勝使然，況平素惡寒喜暖，聲發不揚，下體時有痠痛，濕盛陽浮已露端倪，以脈參症，深恐難以消散，拙擬和陽利濕兼謂調氣血一法。冀其移深居淺之意，愚見如是，未識當否。</p>
<p>東洋參　杜仲　潼蒺藜　赤芍　補骨脂　淡蓯蓉　生米仁　木香　炒歸身　茯苓　鹿角膠　紫衣胡桃</p>
<p>（案3）大凡腎俞之症，前賢議論不一，或謂腎居至陰之地，不可以陽症治之；或曰先天之陽，不可以陰證治之。誰知陰中有陽，陽中有陰，陰陽懷抱兒同太極。分而言之，謂之陰陽；合而言之，謂之元氣。元氣之分陰陽，如太極之分兩儀。故未有陰虛而陽無礙，陽虛而陰無累矣。不過有由陰虛而及於陽虛者，有由陽虛而及於陰虛者也。想尊翁自去年先見音低，惡寒，繼而腰痛內熱，顯由陽虛而及於陰。陰陽俱虛，濕邪乘虛下注，營氣不凋，遂成斯症耳。蓋腎俞為少陰本穴，關係甚大，此處生疽，豈可不深慮乎？幸而瘡形未見黑色，高腫漸增，將欲釀膿之象，可無黴爛之虞。姑仿陳遠公兩治散參入補托一法，俾其速潰為要。理之是否，候琴翁裁之。</p>
<p>東洋參　豨薟草　防己　白芍　白朮　當歸　炙甲片　生黃耆　甘草　茯苓　銀花　杜仲　龜鹿二仙膠</p>
<p>方用人參以為君，大舉一身之陽；取杜仲以為臣，專利二腎之氣。佐歸芍以鹽炒，即能守命門真陰；使苓薟得防己，便可驅腎宮濕熱。甲片共黃耆，托邪甚速；銀花同甘草，解毒最純。庶幾陽無偏勝之虞，邪正有解紛之妙。更用龜鹿二仙，以有情生有形也。</p>

<h1>發背</h1>
<p>（案1）發背之膿已化，多而且稠，根盤活而收束，可無內陷橫流之慮矣。蓋膿已化則痛自漸減，腐亦不盛，究系凝滯之邪已得外泄之機，惟飲食少思，大便不爽則腸胃津液暗受其傷。若過用清苦解毒，深恐劍關苦拒而陰平非復漢有也。驟近救本窮源，慮其餘燼復焰而津液更受其傷，姑擬清營一法，徐候其液復。邪淨則腸胃自和而外瘍亦緩緩向愈耳。</p>
<p>金石斛　蓮子　丹皮　綠豆衣　知母　青鹽皮　銀花　元參　穀芽　西洋參　鉤鉤</p>

<h1>湯火傷</h1>
<p>（案1）燎原之火本不可向，茲因失火焚山肆橫無制，當局者能無憂危之心哉？憂心一起，竟忘生死之關，強絕其源，被火燃傷，焦頭爛額。原屬好肉，做瘡本無內症，但邇來增寒壯熱，大便秘結，脈息沉數帶弦，舌色尖紅，中焦間有神昏。想胃主肌肉，肺主皮毛，邪傷肌表，肺胃內應，是以兼有咳嗽氣急，口渴煩悶等症。經云：火盛生風，風駕火威，火乘風勢，風火相煽。深恐內竄心營，姑擬清營解毒兼通地道一法，冀其釜底抽薪，庶免內陷之虞。</p>
<p>犀角尖　生軍　粉丹皮　玄參　上西黃　鮮生地　銀花　連翹　淡芩　竹卷芯</p>

<h1>爛皮疔</h1>
<p>（案1）性本操勞，陽氣先衰於平素，端由火毒，陰津復損於當時。夫人之氣血周流不息，茲為毒邪所害，難免腐爛之虞，是以有爛皮疔之患也。症起未經旬日，而瘡形已有尺余，此處屬陽明之脈，陽邪攻於陽經，即所謂兩陽相灼矣。故其爛可立而待也。脈浮洪而且數，邪勢方張；舌焦黑而尖紅，營陰幾劫。身熱口渴、譫語神昏皆由是而蜂起，勢已重極危險無疑，而圖治之法最難恰當，況用藥如用兵，得則其兵也，不得則其寇也。若投輕清解毒，無殊杯水車薪；妄用辛熱驅邪，不啻抱薪救火，必得大劑清營解毒，以為背城借一之計。</p>
<p>暹犀尖（二兩）　西黃（五分）　京元參（六錢）　鮮生地（二兩）　淨銀花（八錢）　安宮牛黃丸（二粒）</p>

<h1>偏腦疽</h1>
<p>（案1）疽名偏腦，原是火毒之瘍。經屬膀胱，曾為寒水之腑。夫腦疽一症有內因外因之異，有正輕偏重之殊。由六淫外感者輕，從五臟內發者重。外感者多生於正中，內發者每起於項旁。疽生偏左，非內因而何？所謂內因而成者，其源有五：或由心緒煩擾，煽動不寧，以致火旺而沸騰，行於項間與寒水交滯而成者；或因惱怒傷肝，項乃三陽統筋之所，肝傷則血脈不朝，筋失榮養，凝滯為腫而成者；亦有思慮傷脾，脾傷則健運失職，營氣不從，逆於肉裡而成者；又有恣欲傷腎，腎傷則真陰之氣敗，真陰一敗，相火即生，亦能致此。仰屋圖維，良由操勞過度加以情懷不暢，則肝膽之火勃動於中，逆於太陽之脈，與內蘊濕邪熏蒸化毒，遂成斯症耳。迄今幾經二旬，仍然木硬漫腫，根腳色紫甚，至漿水稀少，間有噯氣，脈息沉數少神，舌苔淡白根膩，以脈參症，顯系正虛邪實，一時不能托邪外達而然。年尊得此，深恐難以支持。拙擬扶正卻邪，標本兼顧一法，冀其裂縫來漿，根盤收束，庶幾有安瀾之慶，否則慮有意外之變。拙見如是，未識尊意若何？</p>
<p>別參鬚　甲片　銀花　茯神　陳皮　甘草　鮮佛手　金石斛　歸身　丹皮　蓮子　黃耆　穀芽　綠豆衣</p>
<p>二診　前擬扶正卻邪之劑，痛勢稍緩，漿水漸來，似乎有見松之象，但根腳猶硬，毒邪有盤踞之徵。新腐未分，元氣少流行之用，正虛邪滯，非已露其端倪乎？大凡外症正重偏輕，獨有腦疽正輕偏重。嘗閱吳鞠通論云：正屬督脈，督脈為純陽之經，起於尾閭，貫脊而上，毒氣乘之，每能外達，故高腫易腐，為易治之症也；偏屬太陽，太陽為寒水之腑，始於晴明，夾項而下，邪氣客之，最易內侵，故平塌難腐，為難治之症也。況七旬之高年，困一月之大患，末學淺陋，而欲借著代籌，計出萬全，不啻鰲戴之重矣。而干旋之法最難洽當，使徒進苦寒，恐犯虛虛之戒；而專投滋膩，難免實實之憂。茲擬此方必欲兩不相害，或可挽扶中流之砥柱，挽既倒之狂瀾。是以聊釋症情於前，雜配藥方於後，然歟？否歟？請君政之。</p>
<p>高麗參　炒歸身　淨銀花　粉丹皮　生黃耆　金扁斛　生甘草　生穀芽　新會皮　茯苓　佛手　蓮子</p>
<p>三診　膿水雖多，而瘡頭塌陷，紅腫蔓延，脈息右部少神，左關弦數，究系近增鬱怒，肝火妄動，挾毒肆橫之故。古稀患此，豈可不深慮乎？夫人之體，有虛亦有實。以言乎高年，其實也與哉？其虛也，虛則精神日餒，元氣就衰，使治匪根源，不啻杯蛇市虎。抑症有輕亦有重，以念夫偏腦疽，其輕也與哉？其重也，重則毒邪逗留，糾纏不已，覺邪踞經絡，無殊社鼠城狐。假令邪實而正未虧，猶可用三黃解毒以衰其勢也。何慮乎毒邪鴟張而擾攘無休耶？假令正虛而邪已淨，便可投十全大補以扶其本也。何慮乎元氣虧損而流行不健耶？兼之傳道之官恆固守，庚金不及生扶，而倉廩之令有專權，戊土卻能化育。不然則中流乏砥柱坐鎮，將何所恃而不恐？</p>
<p>高麗參（八分）　純鉤鉤（四錢）　丹皮（一錢半）　秫米（一錢半）　甘菊（一錢半）　生綿耆（三錢）　霍石斛（四錢）　茯神（四錢）　歸身（四錢）　麻仁（二錢）　淨銀花（三錢）　白芍（三錢）　生甘草（一錢）　穀芽（三錢）</p>
<p>（案2）質本豐腴，濕邪逗留，可見性情急迫，鬱火內蘊無疑。況節屆天中，正當陽氣大泄，濕熱升騰之候，偶感時邪引動蘊蓄之濕化火，毒逆於太陽之脈，致令升降失調，遂成偏腦疽之症。蓋瘡頭塌陷，毒邪開盤踞之端，根腳旁流，火毒有肆橫之兆；四肢清冷，陽虛而表不固也；五志昏蒙，邪盛而神無依也。症既如是，安能無內陷外脫之虞哉？如其不陷，則君主靈明，心神內守。焉能有神昏妄語？安有自汗肢冷之症歟？以七旬之高年，困一月之大患，何堪支持？末學淺陋，而欲藉箸代籌，計出萬全，不啻鰲戴之重矣。但死生雖有天命，醫治聊盡人工。勉擬—方，以冀萬一。</p>
<p>臺參　大有耆　炙甲片　淨銀花　白芍　石菖蒲　粉丹皮　辰茯神　人參至寶丹</p>

<h1>附骨疽</h1>
<p>（案1）症起多年，顯系沉寒之疾。疽名附骨，原是痼冷之邪。背如鱉背，督脈已露其虛端倪；胸若雞胸，仟脈自形其損象。脈息虛而少神，先天已經告憊；飲食少而欠運，後天未常非虧。形羸肉削，由於元氣之難榮；膝屈筋傷，不外營陰之失養。膿水連綿，宛若漏卮之難塞，皮膚枯槁，幾同敗鼓之無修。邪踞筋骨，無殊社鼠城狐；病入膏肓，誰曰杯蛇市虎。深察症情，不獨身軀生廢；參究脈理，且恐性命難全。拙擬固本之方，聊為延年之計。</p>
<p>高麗參（五錢）　於術（一錢半）　淡蓯蓉（三錢）　綿耆（四錢）　杜仲（四錢）　大熟地（四錢）　歸身（四錢）　制首烏（三錢）　杞子（三錢）　穀芽（三錢）　龜鹿二仙膠（一兩）</p>
<p>（案2）據述，病情自去年七月間，左股先覺隱痛，不紅不熱，皮色如常，延至冬底，穿潰，膿水清而且多。靜思其故，顯系寒濕深伏筋骨，致成附骨疽之候。穿潰以來，屈指已經半載，仍然膿水連綿，瘡口細小，形羸肉削，飲食少思，按得脈息細數少神，舌色淡白。夫細為氣虛，數為血虛，舌苔白。中氣已憊矣。症情一派虛象，非補不宜。拙擬調養氣血兼救胃陽一法。</p>
<p>東洋參　淮山藥　炒歸身　大熟地（砂仁炒）　青鹽皮　炒於術　炒穀芽　炒白芍　白茯苓　炙甘草</p>
<p>蓋聞附骨疽之症，前賢論有數端，或由露臥風冷，寒濕深襲而成者；或應房欲之後，外邪乘虛而入者；亦有浴後乘涼而致者；又有勞傷瘀滯而成者。以上數端皆由元氣不足而來。想尊翁雖無臥露勞傷之患，然風寒暑濕安能竟無稍受？況形軀單薄，顯屬先天不足；飲食少思，的系後天又虧。先天陽氣在腎，後天陽氣在脾。脾主肌肉，脾陽不振，則肌肉失其流暢，邪氣最易逗留；腎主骨髓，腎陽不充，則骨髓不得宣通，毒邪每易深伏。現視症勢，顯系膿毒內搏骨節，是以久潰難斂也，甚至患在一股而兩腿皆屈不伸。良由膿水久潰，血液受傷，筋絡失其榮養而然，仍從前策加減，候鹿翁裁之。</p>
<p>東洋參　穀芽　杞子　淮山藥　白芍　青鹽皮　茯苓　熟地　炙甘草　於術　歸身　龜鹿二仙膠</p>

<h1>下搭手</h1>
<p>（案1）毒阻育門，氣血之循環莫展；邪壅脈絡，太陽之道路難通。無怪乎下搭手之所由生也。根腳紅而兼紫，毒邪開盤踞之端；瘡頭硬兮且疼，營氣有稽留之兆。是以外則漿水稀少，內則嘔惡煩冤，前則溲溺赤熱，後則地道不通。表裡俱不宣暢，邪熱無從開泄。炎蒸不熄，不但瘡口腐爛，且恐有內竄之憂。茲擬清解火毒兼通地道一法，冀其毒邪漸退，大便堪通，庶無意外之變。</p>
<p>小川連　紫地丁　大力子　粉丹皮　清寧丸　野菊花　毛時菇　連翹　淨銀花　茯苓　黃芩</p>

<h1>上搭手</h1>
<p>（案1）據述去春偏中以來，左足臂俱不能用，肌肉不仁，痰多言蹇，顯系不足，下元痰火中絡之候。至今春來復中之後，左肩忽覺紅腫，瘡頭延爛。此是肝火挾痰上擾，逆於太陽之脈，阻遏營氣，鬱蒸化毒，遂成上搭手之候。刻下腐肉雖脫，而根腳仍然紫硬，不覺疼痛。脈息細數帶弦，重按殊無神韻，舌質光絳且干，氣急自汗，種種症情良由痰火久踞，元氣愈虛而陰液愈損矣。高年患此，豈可不深慮乎？即承雅招，不棄鄙陋，勉爾揮汗撰方，冀其一陰得來復之機，元氣有生振之兆，庶無意外之變，否則慮其虛脫。</p>
<p>高麗參　銀花露　知母　元參　生首烏　金石斛　黃耆　川貝　西洋參　蓮子　穀芽</p>
<p>紅形已退，毒邪有宣化之機。新肉齊生，氣血得流形之用。脈和緩而且勻，痰火亦似乎下降。舌淡紅而潮潤，胃津已得以上乘，倉廩之令有專權；戊土卻能化育，傳道之恆未失守。庚金尚得升扶，惟寤寐少寧。身軀仍難以轉側，語言蹇滯，手足猶不能舉提，究系津液素虛，加以痰火久擾，膿漿大潰，則虛者愈虛，不能內濟心陽以安其宅，外灌百脈以利機關也。況元虛挾痰挾火之體，圖治極難。若過投降火消痰，猶恐虛虛之戒；驟進滋陰扶正，且憂實實之候。茲擬補而不滯之方，冀其陽生陰長，坎離既濟，則心君泰然而百體從令矣。即外瘍亦不期愈而自愈矣。</p>
<p>高麗參　細生地　生穀芽　知母　制首烏　潼蒺藜　宋半夏　銀花　川貝母　甘草　蓮子</p>
<p>（案2）體素陽虛，濕邪內蘊，平居勞碌，鬱火恆多。濕邪阻於太陽，氣血之循環莫展；火毒壅於脈絡，營陰之灌溉失司。火因濕而愈熾，濕得火而更張，濕火交結於肺俞，疽名遂成上搭手。據云症起未至一旬，而瘡形已經數寸，黑爛無休，恐犯三陷之局；紅霞散漫；盡有肆橫之徵。肌肉不仁，正氣失流行之用；漿稀水少，膿毒開盤踞之端。脈細數而帶弦，虛火更兼實火；身微寒而兼熱，濕邪且挾風邪。大患纏身，頗為棘手。雖未嘔惡神昏，形其惡候而已見。瘡平根散，漸露凶端，宜未雨而綢繆，毋臨渴而掘井。必得扶正卻邪，標本兼顧，庶乎漸臻康泰矣。弟愚粗暗方書，稍明藥性，命含毫而施治，勉濡筆而撰方，愧拙陋之無能，候高明以斧政。</p>
<p>生綿耆　銀花　鮮生地　大力子　梅花點　舌丹　生甘草　丹皮　炙甲片　天花粉　暹犀角　翹心　紫地丁　毛時菇</p>

<h1>環跳疽</h1>
<p>（案1）寒凝脈絡，少陽之道路難通；濕阻肌膜，氣血之循環莫展。寒邪乘氣血之窒礙，盤踞筋骨；氣血因寒邪之擾攘，堵塞流行。蓋六淫之邪皆從火化，即《內經》所謂：陰極生陽，寒鬱為熱，熱甚肉腐為膿。此環跳疽之所由生也。據述症情起自胎前，潰於產後。針潰以來，屈指已經二月，猶然膿水連綿，無殊漏井；形軀癟瘦，宛若枯蔗。甚至數孔相串，轉側艱難。況飲食少思，中氣已經告憊；翻覆不已，餘邪猶未全消。身熱脈弦。由真陰之下竭；耳鳴頭暈，屬肝陽之上浮。仰屋圖維，良由產後營陰大耗，加以膿水久潰，則虛者愈虛而肝陽愈旺矣。茲擬陰陽並補，參入熄肝養胃一法，俾既傷之津液緩緩回生，使已敗之精神徐徐恢復。庶幾其旋元吉，否則慮其虛脫。愚見如斯，尊意若何？</p>
<p>高麗參（一錢）　杜仲（四錢）　熟地（砂仁炒，四錢）　炒白芍（三錢）　制首烏（三錢）　黃甘菊（一錢半）　杞子（一錢半）　歸身（四錢）　生熟米仁（各二錢）　炙甘草（一錢）　抱茯神（三錢）　佛手（一錢半）　蓮子（三錢）　生熟穀芽（各二錢）</p>
<p>（案2）體質向虧，舊歲適逢妊娠，則氣血愈虛。血虛則涵養失令，筋脈從此不舒；氣虛則外衛不周，寒濕因而侵襲。內不得入於臟腑，外不能越於皮毛，凝於骨髓之間，阻於少陽之脈，致使營衛欠流行，經絡都阻礙，如土之堵水，石之投泉，積久不化，致延成環跳疽之候。迄今已越二月，仍是膿水淋漓，狀若漏卮之難塞；根腳板硬，猶是石硬之無情。兼之瘡孔深遠，時覺疼痛。想此處系少陽之過脈，蓋少陽相火內寄，又為多氣少血之經。經云：氣有餘，便是火，火熾則痛，血不足則肌肉難長。故取效如斯之難也。至於頭眩耳鳴，肝陽有上僭之勢；胃呆納減，戊土乏沖和之權。況乎身熱若潮，陰分早顯其損象；腰疼如折，八脈已露其虛端。按得脈象細數而少神。夫細為氣虛，數為血虛。少神者，元氣不足也。舌苔淡而尖絳。尖絳者，津液已傷也。症情如此，難治何疑。勉擬陰陽兩顧兼參清營養胃一法，俾得陰陽有來復之兆，胃氣復生振之權，庶無意外之慮，否則深恐鞭長莫及矣。然歟？否歟？還望質諸高明。</p>
<p>高麗參　大生地　於術　龜板　杜仲　純鉤鉤　金石斛　池菊　歸身　茯神　生、熟穀芽　山藥　蓮肉　元參　首烏</p>
<p>方用首、地以養陰，又取參、術以壯氣。一陰不足，賴元母以扶助；八脈空虛，藉歸、龜以調劑。欲肝陽之潛伏，非鉤、菊而不能期；胃陰之上承，無斛、谷而難濟。山藥甘濡，腎弱所宜。杜仲甘溫，水虧當取。媲茯神以定志，寤寐自安；配蓮肉以清心，虛熱自能去。略考十劑之方，聊仿七方之意，並方案統希教益。</p>

<h1>缺盆疽</h1>
<p>（案1）風溫外襲，肌膚失周流之度；痰火內蘊，肺胃失清降之權。脈洪數而帶弦，火邪方熾；苔老黃而尖絳，陰液已傷。是以咳嗽欠爽，痰稠如膠。雖已針潰而根腳仍然木硬，甚至腫延胸脅，焮紅疼痛，寤寐不安，間有神昏，此係肺胃邪熱漸欲入營之象。高年患此，甚屬棘手，姑擬大劑清營解毒兼化痰火一法，以冀弋獲。</p>
<p>竹瀝　大青葉　上西黃　鮮生地　銀花　丹皮　鮮石斛　暹犀尖　天竺黃　川貝　花粉　連翹心</p>

<h1>肛癰</h1>
<p>（案1）體歸陽盛，誠為松柏之資；質本陰虛，未得涵濡之用。況乎權操國政，地僻事繁，條教所施，悉本精神所注。即使節性提躬，怡情靜養，猶懼不濟，而復加以濕溫久擾，則虛者愈虛，余濕不能盡化，注於會陰之間，釀成肛癰之候。起經兩月有餘，仍蔑一毫之效。根腳仍然木硬，膿流狀若漏卮。脈細數而帶弦，肝陽失潛。舌微黃而根膩，濕熱未清。想下焦為深遠之鄉，藥力難至；肛旁乃至陰之域，氣血罕來。此虛處患症，不特難期速效，抑且有成漏之慮。幸而胃氣無傷，中流猶可支持。附驥蕪詞　舜臣翁教政。</p>
<p>細生地　生首烏　茯苓　東洋參　粉丹皮　淨銀花　陳皮　生米仁　福瀉　白朮　甘草　象牙屑</p>
<p>（案2）一診　症起略有半年，翻覆已經數次。靜究其源，總由正氣衰憊，餘邪不宣化耳。想肛旁屬太陽，與少陰腎相為表裡。蓋膀胱為聚濕之腑，少陰乃藏精之臟。此處生癰，每多翻花。況乎質本陰虛，肝腎早失涵濡之用，加以宵旰勤勞，以綏安黎庶，則虛者愈虛，餘邪更難宣化矣。是以瘡口不能痊愈，時有頭暈氣衝之患，按脈虛弱少神，左關獨見弦象。以脈參症，日久根深於此，而謂能驟愈者，非也；於此而謂莫能愈者，亦非也。必得大劑窮源固本，陰陽並補而復深於涵養之功，以冀氣機流暢，精血兩充，自克漸臻康泰矣。複方呈政。</p>
<p>別直參　大熟地　滁菊　炙甘草　茯苓　淡蓯蓉　杜仲　杞子　野於術　制首烏　潼蒺藜　歸身　龜板膠</p>
<p>二診　前擬陰陽並補一法，福體稍強，新肌略長，頭暈氣衝之患亦見漸平，此乃正復邪退之兆也。刻按脈息細數猶見少神，左關仍留弦象細數者，餘邪未淨也；少神者，元氣未充也；帶弦者，肝陽未熄也。度勢揆情，總不外勞心所致耳。經云：君火一動，相火隨之。二火頻升，一水不能相濟耳。虛體患此，奏效最難。非難以斂其瘡口以治其標，實難以復其真陰，以固其本也。若夫徒進辛溫以補氣壯氣，即以助火；專投滋膩以養陰，一陰不能自生，必得陰陽並補，庶乎陽生陰長而無偏勝之虞矣。仍宗前策增損，須臾更張，未知有合於尊意否耶。</p>
<p>方憑熟地以為君，術草參苓作大臣，佐理芍歸同杞菊，蓯膠又使性和平。</p>

<h1>肺癰</h1>
<p>（案1）肺主五臟之華蓋，出聲音而澤逮皮膚；又為百脈之朝宗，通呼吸而權歸清肅。若元氣自強，皮毛固密，縱有客邪，安能內侵？尤如暗室潛修，陰液早傷於平素；風塵勞瘁，風溫復感於今時。以致肺機不暢，降令失權，釀成肺癰之患。於茲半月有餘，蔑一毫之效，痰涎漉漉，咳嗽頻頻，或膿或血，時穢時腥。中府時覺隱痛，左臥常嘆不寧。脈右大而左弦，肝火有上升之兆；舌微黃而尖絳，肺津無下降之徵。必須暢彼情懷，濟以藥餌，庶乎漸臻康泰矣。第愚粗諳方書，稍明藥性，命含毫而施治，勉濡筆而撰方，愧拙陋之無能。候尊翁以斧政。</p>
<p>旋覆花　瓜蔞仁　真滁菊　粉丹皮　叭杏仁　川貝　黛蛤散　北沙參　白荷花露　枇杷露　炒蘇子　肥知母</p>
<p>二診　前進肅肺清金兼熄肝陽一法，身熱稍和似有轉機之象，但痰多氣急，金府之右降失權，肋痛頭眩，肝垣之左升太過。脈左弦而右大，邪熱未平；舌邊絳而中黃，陰液暗損。假令胃陽受傷，子母少相生之力，大便溏泄表裡無相助之能。幸而倉廩之令有專權，戊土恰能化育；傳道之官恆固守，庚金尚得升扶。據云夜寐少寧，此非胃不和而臥不安之理，良由肝陽之未靜，肺火之難清耳。《內經》云：肝熱則魂不歸舍，肺熱則魄不歸藏，即此之謂也。面帶萎黃，濕邪未化。口不燥渴，蓄飲內留。仍清肅太陰以冀餘邪之宣化，加以安舒靜養，可望肝火之漸平。非敢說夢，聊以解嘲。</p>
<p>西洋參　知母　枇杷露　杏仁　瓜蔞仁　旋覆花　玉竹　驢皮膠　麥冬　滁菊花</p>

<h1>流注</h1>
<p>（案1）足跟瘙癢，流注結痂迄今；寒暑幾更，依然翻覆再四。究厥病源，良由步走過度，氣血違和，兼挾陽蹻風濕留阻，致發漫綿瘡之候。時延已久，難期速效。拙擬一方，徐徐圖治，理之是否，即請指正。</p>
<p>西秦艽　木瓜　炒白芍　淮牛膝　炒歸身　血丹參　澤瀉　生米仁　生甘草　白蘚皮　赤苓</p>

<h1>痔血</h1>
<p>（案1）大腸濕火熾盛，內痔頻發，穿於肛外不收，墜腫作痛，大便硬秘，汗水淋漓，系線之法尤恐痛楚難忍，即宜兩相互濟，庶可漸瘳。</p>
<p>雅川連（四分）　槐米（三錢）　火麻仁（二錢）　煨枳殼（一錢，炒）　秦艽（三錢）　郁李仁（三錢）　條芩（一錢半）　福瀉（二錢）　皂角子（四粒）　片檳榔（一錢半）　歸尾（二錢）　生甘草（四錢）　生軍（三錢）</p>

<h1>漏蹄風</h1>
<p>（案1）漏蹄風，由風濕下注，氣血稽留，筋脈失榮而致，迄今一載之久，依然反復不已。口僵孔深，有妨步履，症源彌深，難許脫體。拙擬方，以為蝦力行舟之助耳。</p>
<p>炒歸身　五加皮　焦於術　木瓜　炒白芍　細生地　海風藤　赤苓　懷牛膝　西秦艽　陳皮　雞血藤</p>

<h1>脹痛</h1>
<p>（案1）症起先咳後脹，由肺及脾，脾主運化，脾病則消磨失職，飲聚於中土，虛不能安木。肝木乘隙而侮，中氣欠和，是以腸鳴作瀉脹痛交加，顯系肝脾不和之故。想肝脾為仇讎之藏，風木主令，客氣少陽，厥陰少陽同司相火，相火擾動，內引濁飲上升，營衛留止，厥氣逆上，真邪相攻，此脹痛所由來也。現下常咯濁飲，脹痛仍不能和，甚則痛引腰間，下連少腹。腎亦未免暗傷，非但脾土失調，肝腎亦為同病。經云：肝脹者，脅下滯而痛引少腹；腎脹者，腹滿引背央央然。腰骱作痛，症形與經文相符。診脈細弦而近數，舌苔薄而根帶膩白，此脈之數乃系相火擾動，作邪熱之相干，恐其木旺無制上犯陽明，有嘔逆胃呆之虞。拙擬溫脾腎佐以平肝，非敢過投燥熱反動其陽耳。附方候高明裁之。</p>
<p>猺桂心　江西術　淡吳萸　雲苓　淡乾薑　東白芍　煨肉果　白毛皮　茯神　金鈴子　來復丹　補骨脂　花龍骨　半夏　陽春砂</p>

<h1>伏暑</h1>
<p>（案1）夏暑伏中，秋涼束表。暑為陽邪，而其中又挾陰濕，蘊久勢必蒸熱。所謂六淫之邪皆叢火化也。是以初起畏寒，繼即發熱，昏煩不臥，脘悶口乾，此舊濕挾新涼，交蒸氤氳於氣分，胸中之清氣被蒙。雖得屢進宣解而汗出不暢，白㾦隱而不明，甚則讝語躁擾，便結脈沉，此由氣分之邪不得從汗而解，勢必致蘊結於中，症頗棘手。拙擬外解內清，表裡兩治，預防痙閉一端，附方侯政。</p>
<p>羚羊角　鮮蘆根　竹捲心　木通　連翹心　紫雪丹　益元散　辰茯神　陳金汁　鮮石斛　川雅連　京川貝　焦山梔</p>

<h1>暑濕傷寒</h1>
<p>（案1）質本陰虛，營分少以充養；體偏陽旺，相火未得安寧。夏令炎炎，正值暑邪用事；熱蒸勃勃，何堪炎帝加威？暑或挾風，因風而熏蒸轉速；暑必挾濕，因濕而宣解殊難。真陰既少內涵，時氣未免外感。先傷肺胃之地，漸入營衛之間。身熱口渴，少火悉成壯火；神昏肢痙，心陽擾動肝陽。白㾦明而紅疹續現，由氣分漸入營陰；舌苔燥而脈象甚弦，損胃津亦傷腎液。夜不安寐，坎離無以既濟，胸時潮悶，營衛尚有餘邪。咳痰紅而氣逆，金受火刑；齒垢黑而便難，火炎土燥。陰虛陽亢，一陰何以滋榮？邪盛正傷一症將安固守？症形危篤，防有內閉外脫之慮，治必探源，庶幾奪命斬關之兆。淺見如是，尊意若何？</p>
<p>紫雪丹　丹皮　鮮石斛　鮮生地　青蒿露　陳金汁　元參　麥冬　鉤鉤　銀花露　暹犀尖　川貝　西洋參　竹心</p>

<h1>下痢赤白</h1>
<p>（案1）高年冬令，下痢赤白稀艱。軒岐稱曰：滯下明是內傷不足之候，而不知不足中有餘濕也。前診脈左弦右澀，舌厚膩中灰，肢倦少寐，溲澀胃呆。考厥源委，半由於積勞損於前，肝脾不和，是病之本；半由於濕邪困於內，消磨失職，是病之標。經云：中氣虛則溲便為之變。又云：胃不和則寤不安。即此之渭也。擬用香砂枳殼佐以和胃平肝，標本兼顧。曾得便下燥矢數粒，小溲為之通利，大便為之調和，飲食知味，舌中灰膩較除。一症而見此數善，誠為佳徵。但肝脾為讎之臟，又脾胃為表裡之腑。診脈弦象較和而帶虛數，納食不當，寤寐不安，耳鳴肚痛，此脾胃陽氣不足，肝腎相火不沖，有餘未盡之濕尚留於腸胃曲折之間。現今冬為藏陽之令，少陽相火在泉，乃陽氣既受其困而真陰又屬不足。若因脾胃柔臟，過用剛藥，竊恐土燥木虛，有由脾及腎之慮。譬如劍關固守而陰平非漢有也。轉展無可借箸，勉擬和胃扶脾調補肝腎，俾中陽動則冀運，相火靜可望藏。王道無近功，宜撫安以緩圖其效，附方以備採擇。</p>
<p>制於術（一錢半）　抱茯神（三錢）　米仁（四錢，炒）　柏子仁霜（四錢）　淮山藥（三錢）　熟地砂仁炒（四錢）　制玉竹（三錢）　蓮子（三錢）　清炙草（二錢）　陳皮（鹽水炒，一錢半）　採芸曲（二錢）　半夏（一錢半）　帶子青蒿（二錢）</p>

<h1>遺精</h1>
<p>（案1）體素三陰不足，濕蘊未清，相火未能靜熄，濕因火而上升，熏蒸化毒，致頭面疊起濕毒，如蔓纏擾，一時難以宣解，奈因猛藥強絕，遏其外泄之機，蘊而難化。想濕為黏膩之邪，其性下流，乘下虛而注於肝腎，遂致少腹作脹，溲澀欠調，變成淋濁，繼而遺精。蓋淋在濁竅，遺在精竅。濁竅不開則精竅為之不固矣。是以症見如此。自前秋至今春，精濁混來如漏卮之無底。現診脈沉弦，未甚虛弱，舌尚膩而未清，小溲時赤，赤則精遺轉甚，寐多夢擾，精力日衰，的系漏泄多月，有形精血受損，無形神智欠安。以脈論症，由外而至於內，由實而挾於虛。圖治最難洽當，將以填精固本乎？而滋膩猶恐礙邪。將以利濕去邪乎？而淡滲又慮傷正。必得竟委窮源，兩無妨礙。慎弗任朝章言熱，暮李論寒，補泄雜投，致有藥傷之患。夫精之藏，制在腎；而精之主宰，則在心。乃既精泄已久，陰失固守，陽少潛藏，水虧不能濟火。經云：君火一動，相火隨之。又云：陰虛者，火自旺。君相二火兼升，定然余濕內蒸，搖精而泄也。欲強止焉，恐不能也！據愚見，寧心堅腎，育陰潛陽，仿金匱八味主治。再得怡情靜養，勿勞神智，庶望安瀾。錄方候高明裁正為是。</p>
<p>根生地（鹽水炒）　柏子仁霜　淮山藥　車前子　知母　懷牛膝（鹽水炒）　抱木茯神　粉丹皮　甘草梢　焦黃柏　淡秋石　胡連　福澤瀉</p>

<h1>吐血</h1>
<p>（案1）咯血屢發，甚於春分。顯系陰失固守，陽失潛藏。當春厥陰司令，客氣又屬少陽，厥陰少陽同司相火，二火升騰，辛金未免受克，此咯血所由成也。但診脈細弦，右寸關獨見弦大。舌邊尖色絳，中苔膩黃，面色滯而不開。右胸時覺脹悶，知飢納食不調。此肝腎之真陰不足，而肺胃之痰熱未清。虛在下而實在上，圖治甚難。古人謂：二虛一實，先治其實，因去邪即所以扶正也。據愚見，清理肺胃主治，俾養金即所以制木，和土即所以安木。火不妄動而血自安寧，何患紅痰之不止哉？雖然，病經一載，翻覆再三，有形之精血受傷，藥餌恐難奏效耳。附方，候高明裁之。</p>
<p>霍山石斛　北沙參　瓜蔞仁　川貝　冰糖　石膏　黛蛤散　辰茯神　竹葉　鮮青菊花　紫石英　冬桑葉　橘紅（元水炒）　鮮枇杷葉　馬兜鈴　甜杏仁</p>
<p>（案2）肝腎之陰素虧，脾胃之痰素盛。病自秋徂冬，屈指已越三月。形寒形熱，乍往乍來，陰陽交錯，營衛交亂，正氣如何維持？津液如何敷布？君火熾旺，相火熾動，神為不寧，魂為不藏。加以觸受驚恐，遂使神志混淆，寐不安穩，錯語喃喃，手有振動，肢末掣掣，肝膽之風陽走入經絡，脾胃之濕痰擾及清靈。左手脈弦細而勁，右手脈數細而滑。舌尖燥絳，舌中乾白。風勝則津干，熱勝則液涸。肺失清肅，胃失濡養。現在幸無汗泄，陰陽尚有樞紐。轉瞬冬至大節，恐有一番劇烈，治法甘涼，承津養液，參用介類潛陽育陰法。</p>
<p>大生地（四錢）　青龍齒（四錢）　左牡蠣（六錢）　抱茯神（三錢）　川貝母（二錢）　莧麥冬（二錢）　西洋參（一錢）　橘紅（五錢）　陳膽星（一錢）　淡甘草（四分）　真濂珠（研，另吞，一分）　真金箔（三張）</p>
<p>臨服入霍山石斛湯送藥。</p>
