<header data-type="book">
<h1>養生類要</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>吳正倫</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1564">公元1564年</data></dd></div>
</dl>
</header>

<h1>序</h1>
<p>春岩吳子著養生類要百餘條刻成雨田子讀之嘆曰仁哉吳子之心也是可以言醫矣大凡醫家者流得一驗方則藏之笥篋惟恐病者知有妨於售又惟恐同術者知有妨於專售甚至以咀為末易黃為玄曰庶幾人之莫識也籲是果醫云乎哉吳子徽名家也少讀書有志為經生以病弗果聞湖人陸膚野醫最著往執弟子禮遂得真傳而歸大江南北人無問數百里皆走堂下叩之所存活者甚眾自以為未溥也乃走燕齊之間居臨清四年將歸掉而南也諸商人留之吳子不可好事者挽其行弗能曰請為我著書吳子重違群請遂著類要一書蓋亦少出緒餘以補人日用之所需雖未盡罄其所傳於陸子者其方藥固皆的而中也此書作四方之病者可以不醫而愈吳子之售愈溥矣嗚呼方古也世醫得之則思秘吳子得之則思傳其存心不啻霄壤故曰仁哉吳子之心也況其為書又參取往哲卓有明驗可以布而遠哉安知天下後世讀其方書者不謂河間丹溪輩復有續案若此耶雨田子謂茲集也刻之便因其請序序之</p>
<p><u>嘉靖甲子春工正月吉旦書於對竹山堂</u></p>

<h1>小序</h1>
<p>養生類要者類養生之要也匪類弗明也匪要弗精也是編之繇作也類者別其科而比之也始以運攝精氣制病於未形也故類也次以取制丹鉛竊奪乎元神也亦類也飲食日用或失則疾類也男女居室或失則天類也風寒暑濕古有類也未分四時類四時也濟陰慈幼古有類也未及養老類養老也此類之例也要者掄其粹而約之也方書方藥蝟聚林起漫無紀極弗精也要之以從精也若匯荊玉而去碔砆也若匯隋珠而黜魚目也此要之例也類其要則精而明動而有功家無痛夫人其良醫矣</p>
<p><u>吳郡章松刻</u></p>

<h1>春岩子傳</h1>
<p>春岩子者歙之澄塘人也名正倫字子敘系自漢番君及唐少微先生其後廷佩君遷歙為澄塘之祖溯自春岩子二十有九世矣子少警敏善學業制科已乃目眚自書顧更喜黃帝扁鵲之書時竊記誦稍涉大義即雋永不能捨會其大父樂山翁趣之成遂取素難以下歷代名醫家方論悉讀之會通其要能參運氣生克傳勝之由切脈望色聽聲寫形之徵湯液醴灑銳石槁引案抗毒熨之治出以療人即多奇驗年未弱冠已稱良醫師矣時吳興陸聲野以青囊術為江左大家子挾筴往事之三年授以五診六徵經脈上下及奇絡結若俞所居皆能盡其學遂北遊吳會渡江溯淮歷齊魯海岱之墟所過輒以名聞至清泉清泉居邑者多鄉人因止春岩子舍人又市歸之有臥沉綿四肢不能用或溲閉不後足下重膇女婦不月癰久不決切其脈無敗逆皆立起之未嘗見人危疴稍自沮者遠近爭相迎致子略不為怫即又祁寒暑雨不怠也性敦樸樂自韜柹嘗衣韋褐浮沉里閈間時之醫家藝稍稍售即為高車文馬競自衒粥子弟兀兀無所求聞貴家巨姓有疑疾群醫工室中周章不知為計予徐徐從中起視色督脈一七奏效咸以為神閒居應對口期期若不能語至論疾所因援經證事移日無冗辭據案施治無甚殊他人者一遇奇疾操縱裨合猶大將將兵機權神變人始謂不相及也平生䔍尚倫秩事後毋蔣夫人極孝敬友愛諸季其入絲粟無所內蔣夫人以其能子特殊愛之與人交造次然諾無自食者人以是益器重焉居嘗曰聞之往聖養人先以五味五穀次以五藥使六疾六氣不能相淫民罕疵癘言治未病愈於已病治也因著編書曰養生類要云漫客曰余讀太史公書見其所述國工家數十事愈人疾疕至多奇應人各以方書相授受率名稱流聞當時輝映遺代然無有不奏功於瞑眩者未病之治蓋寥乎未前聞也豈慎疾者固難乎王符氏云療病者先知脈之所次氣之所結然後為之方則疾可愈而壽可長為國者先知人之所苦禍之所肇然後為之禁故奸可塞而國可安是雖有善方善禁孰若俾氣無結禍無肇勝哉故曰上醫醫國固春岩子著書旨已子將游上都因述斯傳使遘春岩子者知云</p>

<h1>序</h1>
<p>春岩子歙醫者流往粵邑長南溪子寓書稱春岩子才今歷四方以詧風候脫過女第叩之予乃覯春岩子與語遂大愜至累昕夕不去也當津苦臥久群醫不功春岩子一視而名熱瘧再劑而瘳春岩子名奕奕以是隃起顧其心又長者由是東人病必致春岩子不至輒愳即至聽其診治不而忻戚之其所至即至眇賤不郤也故東人不可一日去春岩子客四移歷計歸東人振恐因請著書春岩子著書二卷曰養生類要予讀之沾沾喜又慨焉嗟乎俞跗亡而醫無練易佗書毀而學失湔刲故曰人之所病病疾多醫之所病病道少竊意道少非直病六不治殆方書或鮮癥結無從導歟故東人請而漫無搜錄何以為春岩子或言醫案聚蝟春岩子復矣予曰不然蓋五味錯而食不可勝用諸法錯而醫不可勝用詳保攝者略方脈深攻擊者忽機宜往往則爾用之多梏春岩子首引導食息次時令安懷以謹未病以救已病採臠禁方萃術百氏兼列不逸隨索而足匪曰賢於先民抑亦裨所未悉歟太史公曰聖人知微使良醫早從事病可已身可活也春岩子為近之春岩子名正倫與南溪子並吳姓南溪子博極群學多仁政春岩子持筴質之必且浸浸弘其詣𣩊述俞萃不難云</p>
<p><u>嘉靖閼逢困敦之歲陬月良日</u></p>

<h1>前集</h1>

<h2>逍遙子導引訣（凡十六段）</h2>
<p><u>水潮除後患</u></p>
<p>平明睡醒時即起端坐凝神息慮舌抵上齶閉口調息津液自生漸至滿口分作三次以意送下久行之則五臟之邪火不炎四肢之氣血流通諸疾不生水除後患老而不衰</p>
<p><u>火起得長安</u></p>
<p>子午二時存想真火自湧泉穴起先從左足行上玉枕過泥丸降入丹田三遍次從右足亦行三遍復從尾閭起又行三遍久久純熟則百脈流通五臟無滯四肢健而百骸理也</p>
<p><u>夢失封金匱</u></p>
<p>欲動則火熾火熾則神疲神疲則精滑而夢失也寤寐時調息思神以左手槎臍二七右手亦然復以兩手槎脅腹擺搖七次嚥氣納于丹田握固良久乃止屈足側臥永無走失</p>
<p><u>形衰守玉關</u></p>
<p>百慮感中萬事形勞所以衰也返老還童非金丹不可然金丹豈易得哉善攝生者行住坐臥一意不散固守丹田默運神氣衝透三關自然生精生氣則形可以壯壽可以延矣</p>
<p><u>鼓和消積聚</u></p>
<p>有因食而積者有因氣而積者久則脾胃受傷醫藥難治孰若節飲食戒嗔怒不使有積聚為妙患者當升身閉息鼓動胸腹俟其氣滿緩緩呵出如此行五七次便得通快即止</p>
<p><u>兜禮治傷寒</u></p>
<p>元氣虧弱腠理不密則風寒傷感患者端坐盤足以兩手緊兜外腎閉口緘息存想真氣目尾閭升過夾脊透泥丸逐其邪氣低頭屈抑如禮拜狀不拘數以汗為度其疾即愈</p>
<p><u>叩齒牙無疾</u></p>
<p>齒之有疾乃脾胃之火熏蒸清晨睡醒時叩齒三十六通以舌攪牙根之上不論遍數津液滿口方可嚥下每作三次乃止及凡小解之時閉口緊叩其齒解畢方開永無齒疾</p>
<p><u>升觀鬢不班</u></p>
<p>思慮太過則神耗氣血虛敗而鬢班以子午時握固端坐凝神絕念兩眼含光上視泥丸存想追攝二氣自尾閭上升下降返還元海每行九遍久則神全氣血充足發可返黑也</p>
<p><u>運睛除眼翳</u></p>
<p>傷熱傷氣肝虛腎虛則眼昏生翳日久不治盲瞎必矣每日睡起時跌坐凝息塞充垂簾將雙目輪轉十四次緊閉少時忽然大睜開行久不替內障外翳自散切忌色欲並書細字</p>
<p><u>掩耳去頭旋</u></p>
<p>邪風入腦虛火上攻則頭目昏旋偏正作痛久則中風不語半身不遂亦由此致治之須靜坐升身閉息以兩手掩耳折頭五七次存想元神逆上泥丸以逐其邪自然風邪散去</p>
<p><u>托踏應輕骨</u></p>
<p>四肢亦欲得小勞譬如戶極終不杇熊經鳥伸吐納導引皆養生之用也平時雙手上托如舉大石兩腳前踏如履平地存想神氣依按四時噓呵二七次則身健體輕足耐寒暑矣</p>
<p><u>搓塗自美顏</u></p>
<p>顏色憔悴良由心思過度勞碌不謹每晨靜坐閉目凝神存養神氣衝澹自內達外兩手搓熱拂面七次仍以嗽津塗面搓拂數次行之半月則皮膚光潤容顏悅澤大過尋常矣</p>
<p><u>閉摩通滯氣</u></p>
<p>氣滯則痛血滯則腫滯之為患不可不慎治之須澄心閉息以左手摩滯七七遍右手亦然復以津塗之勤行七日則氣通血暢水無凝滯之患修養家所謂干沐浴者即此義也</p>
<p><u>凝抱固丹田</u></p>
<p>元神一出便收來神返身中氣自回如此朝朝並暮暮自然赤子產真胎此凝抱之功也平時靜坐存想元神入于丹田隨意呼吸旬日丹田完固百日靈明漸通不可或作或輟也</p>
<p><u>淡食能多補</u></p>
<p>五味之於五臟各有所宜若食之不節必致虧損孰若食淡謹節之為愈也然此淡亦非棄絕五味特言欲五味之沖淡耳仙翁有云斷鹽不是道飲食無滋味可見其不絕五味也</p>
<p><u>無心得大還</u></p>
<p>大還之道聖道也無心常清常靜也人能常清靜天地悉皆歸體道之不可傳大還之不可得哉清淨經已盡言之矣修真之士體而行之欲造夫清真靈妙之境若反掌耳</p>

<h2>孫真人衛生歌</h2>
<p>天地之間人為貴　頭象天兮足象地</p>
<p>父母遺體宜寶之　箕裘五福壽為最</p>
<p>衛生切要知三戒　大怒大欲並大醉</p>
<p>三者若還有一焉　須防損失真元氣</p>
<p>欲求長生先戒性　火不出兮神自定</p>
<p>木還去火不成灰　人能戒性還延命</p>
<p>貪欲無窮忘卻精　用心不已失元神</p>
<p>勞形散盡中和氣　更仗何能保此身</p>
<p>心若大費費則竭　形若大勞勞則怯</p>
<p>神若大傷傷則虛　氣若大損損則絕</p>
<p>世人慾識衛生道　喜樂有常嗔怒少</p>
<p>心誠意正思慮除　順理修身去煩惱</p>
<p>春噓明目夏呵心　秋呬冬吹肺腎寧</p>
<p>四季長呼脾化食　三焦嘻卻熱難停</p>
<p>發宜多梳氣宜煉　齒宜數叩津宜咽</p>
<p>子欲不死修崑崙　雙手揩磨常在面</p>
<p>春月少酸宜食甘　冬月宜苦不宜咸</p>
<p>夏要增辛宜減苦　秋辛可省但教酸</p>
<p>季月少鹹甘略戒　自然五臟保平安</p>
<p>若能全減身康健　滋味偏多無病難</p>
<p>春寒莫放綿衣薄　夏月汗多宜換著</p>
<p>秋冬衣冷漸加添　莫待病生才服藥</p>
<p>惟有夏月難調理　伏陰在內忌冰水</p>
<p>瓜桃生冷宜少餐　免至秋來成瘧痢</p>
<p>心旺腎衰宜切記　君子之人能節制</p>
<p>常令充實勿空虛　日食須當去油膩</p>
<p>大飽傷神飢傷胃　大渴傷血多傷氣</p>
<p>飢餐渴飲莫太過　免致膨脝損心肺</p>
<p>醉後強飲飽強食　未有此身不生疾</p>
<p>人資飲食以養生　去其甚者將安適</p>
<p>食後徐行百步多　手搓臍腹食消磨</p>
<p>夜半靈根灌清水　丹田濁氣切須呵</p>
<p>飲酒可以陶情性　大飲過多防有病</p>
<p>肺為華蓋倘受傷　咳嗽勞神能損命</p>
<p>慎勿將鹽去點茶　分明引賊入腎家</p>
<p>下焦虛冷令人瘦　傷腎傷脾防病加</p>
<p>坐臥防風來腦後　腦內入風人不壽</p>
<p>更兼醉飽臥風中　風才著體成災咎</p>
<p>雁有序兮犬有義　黑鯉朝北知臣禮</p>
<p>人無禮義反食之　天地神明終不喜</p>
<p>養體須當節五辛　五辛不節反傷身</p>
<p>莫教引動虛防發　精竭榮枯病漸侵</p>
<p>不問在家並在外　若遇迅雷風雨大</p>
<p>急須端肅畏天威　靜室收心宜謹戒</p>
<p>恩愛牽纏不自由　利名索絆幾時休</p>
<p>放寬些子自家福　免致終年早白頭</p>
<p>頂天立地非容易　飽食暖衣寧不愧</p>
<p>思量無以報洪恩　晨夕焚香頻懺悔</p>
<p>身安壽永福如何　胸次平夷積善多</p>
<p>惜命惜身兼惜氣　請君熟玩衛生歌</p>

<h2>陶真人衛生歌</h2>
<p>世言服靈丹餌仙藥白日而輕舉者但聞而未見也至於運氣之術甚近養生之道人稟血氣而生故攝生論云攝生之要在去其害生者此名言也予所編此歌蓋採諸家養生之要能依而行之則獲安樂若盡其妙亦長生之可覬今著其歌於下</p>
<p>萬物惟人為最貴百歲光陰如旅實自非留意修養中未免病苦為心累何必飧霞餌火藥妄意延齡等龜鶴但於飲食嗜欲間去其甚者將安樂食後徐徐行百步兩手摩脅並腹肚須臾轉手摩腎堂謂之運動水與土仰面仍呵三四呵自然食毒氣消磨醉眠飽臥俱無益渴飽飢飧猶戒多食不欲粗並欲速只可少餐相接續若教一飽頓充腸損氣傷脾非汝福生餐黏膩筋勒物自死牲牢皆勿食饅頭閉氣宜少餐生膾偏招脾胃疾鮓醬胎卵兼油膩陳臭醃菹盡陰類老衰莫欲更餐之是昔寇兵無以與炙爆之物須冷吃不然損齒傷血脈晚食常宜申酉前向夜從勞滯胸膈</p>
<p>脾好音樂夜食則脾氣不磨為音響斷絕故也周禮所謂樂以侑食蓋脾好音聲絲竹耳才聞脾即磨矣是以聲音皆出於脾而夏月夜短尤宜忌之恐難消化故也</p>
<p>飲酒莫教令大醉大醉傷神損心志渴來飲水兼啜茶腰腳自茲成重墜</p>
<p>酒雖可以陶情性通血脈自然招風敗腎爛腸腐脅莫過於此飽食之後尤宜戒之飲酒不宜粗及速恐傷破肺肺為五臟之華蓋尤不可傷當酒未醒大渴之際不可吃水及啜茶多被酒引入腎臟為停毒之水遂令腰腳重墜膀胱冷痛兼水腫消渴攣躄之疾大抵茶之為物四時皆不可吃令人下焦虛冷惟飽食後吃兩杯不妨蓋能消食故也飢則尤宜忌之</p>
<p>嘗聞避風如避箭坐臥須當預防患況因食後毛孔開風才一入成癱瘓</p>
<p>凡坐臥處始覺有風宜速避之不可強忍且年老之人體竭內疏風邪易入始初不覺久乃損人故雖暑中不可當風取涼醉後操扇昔有學道於彭祖而苦患頭痛彭祖視其寢處有穴當其腦戶遂寒之後即無患</p>
<p>視聽行坐不必久五勞七傷從此有</p>
<p>久視傷心損血久坐傷脾損肉久臥傷肺損氣久行傷肝損筋久立傷腎損骨孔子所謂居必遷坐以是故也</p>
<p>人體亦欲得小勞譬如戶樞終不朽</p>
<p>人之勞倦有生於無端不必持重挽輕仡仡終日於是閒人多生此病蓋閒樂之人不多運動氣力飽食坐臥經脈凝滯氣血壅塞使然也是以貴人貌樂而心勞賤人心閒而貌苦貴人嗜欲不時或昧於忌犯飲食珍饈便乃寢臥故常須用力但不至疲極所貴榮衛流通血脈調暢譬如水流不腐戶樞動而不朽也</p>
<p>臥不厭踧覺貴舒飽則入浴飢則梳梳多浴少益心目默寢暗眠神晏如</p>
<p>臥宜側身屈膝益人心氣覺舒展則精神不散蓋舒臥則招魂引魅孔子寢不屍蓋謂是也發多梳則去風明目故道家晨梳常以百二十為數浴多則損人心腹令人倦怠寢不言者為五臟如鐘磬然不懸則不可發聲睡𤲢燈燭令人神不安</p>
<p>四時惟夏難將攝伏陰在內腹冷滑補腎湯藥不可無食物稍冷休哺啜</p>
<p>夏一季是人脫精神之時心旺腎衰腎化為水至秋乃凝及冬始堅尤宜保惜故夏月不問老少悉吃暖物至秋即不患霍亂吐瀉腹中常暖者諸疾自然不生蓋元氣壯盛也</p>
<p>心旺腎衰何所忌特忌疏通泄精氣寢處尤宜綿密間宴居靜慮和心氣</p>
<p>月令仲夏之月君子齋戒處必掩身毋躁二聲色毋或進薄滋味毋致和禁欲嗜定心氣</p>
<p>沐浴盥嗽皆暖水臥冷枕涼俱勿喜</p>
<p>雖盛暑沖熱若以冷水洗面手即令人五臟乾枯少津液況沐浴乎凡枕冷物大損人目</p>
<p>瓜茹生菜不宜食豈獨秋來多瘧痢</p>
<p>茹性至冷菜瓜難治氣又能昏人眼目驢馬食之即日目爛此等之物大抵四時皆不可食不獨夏季老人尤宜忌之</p>
<p>伏陽在內三冬月切忌汗多陽氣泄</p>
<p>天地閉血氣藏縱有病亦不宜出汗</p>
<p>陰霧之中無遠行暴雨震雷宜速避</p>
<p>昔有三人冒霧早行一人空腹一人食粥一人飲酒空腹者死食粥者病飲酒者健蓋酒能御霜露辟邪氣故也路中遇暴雨震雷晦暝宜入室避之不爾損人當時未覺久則成患</p>
<p>不問四時俱熱酒太熱不須難入口五味偏多不益人恐隨臟腑成災咎</p>
<p>五味淡薄令人爽稍多隨其臟腑各有損傷故酸多傷脾辛多傷肝咸多傷心苦多傷肺甘多傷腎</p>
<p>此乃五行自然之理初傷不覺久乃成患</p>
<p>道家更有順生法第一令人少嗔惡秋冬日出始求衣春夏雞鳴宜早起春夏宜早起秋冬任晏眠晏忌日出後早忌雞鳴前</p>
<p>子後寅前寢覺來瞑目叩齒二七回吸新吐故無人悟咽嗽玉泉還養胎</p>
<p>水之在口曰畢池亦曰玉泉黃庭經曰玉泉清水灌靈根子若修之命長生遠磨胎息論曰凡服食須半夜子後床上瞑目盤坐面東呵出腹內舊氣三兩口然後停息便於鼻中微納清氣數口舌下有穴通腎竅用舌柱上齶存息少時津液自生灌嗽滿口徐徐嚥下自然灌注五臟此為氣歸丹田矣如子後午前不及但寅前為之亦可臥中為之亦可但枕不甚高可也漢帝年百二十歲日甚精壯言朝朝食玉泉扣齒二七名曰煉精後漢王真常嗽舌下玉泉咽之謂之胎息孫真人曰發宜多櫛手宜在面齒宜數叩津宜常嚥氣宜精煉此五者即黃庭經所謂子欲不死修崑崙耳</p>
<p>熱手摩心熨兩眼</p>
<p>每熨二七遍使人眼目自無障翳明目去風無出於此亦能補腎氣</p>
<p>仍更揩擦額與面頻拭額謂之修天庭連發際二處遍面上自然光澤如有點點者宜頻拭之</p>
<p>兩指時將磨鼻莖</p>
<p>鼻莖兩邊揩二三十數令衣里俱熱所謂灌溉中嶽以潤於肺</p>
<p>左右耳根筌數遍</p>
<p>筌耳即摩耳輪也不拘數遍所謂修其城郭以補腎氣以防聾聵也</p>
<p>更能幹浴遍身間按陛時須紐兩間縱有風勞諸冷氣何憂腰背復拘攣</p>
<p>大凡人坐常以兩手按䏶左右紐肩數十</p>
<p>噓呵呼嘻吹及呬行氣之人分六字果能依用口訣中新舊有疴皆可治</p>
<p>聲色雖云屬少年稍知櫛節乃無愆閉精息氣宜聞早莫使羽苞火中燃</p>
<p>古人以色欲之事闢之凌杯以盛湯羽苞以蓄火有能操履長方正於名無貪利無競縱向歌中未能行百行周身亦無病</p>
<p>老子云善攝生者陸地不避咒虎此道德之助也</p>

<h2>鄒樸庵玉軸六字氣訣</h2>
<p>道藏有玉軸經言五臟六腑之氣因五味熏灼不和又六慾七情積久生病內傷臟腑外攻九竅以致百骸受疾輕則痼癖甚則肓廢又重則喪亡故太上憫之以六字氣訣治五臟六腑之病其法以呼而自瀉出臟腑之毒氣以吸而自採取天地之清氣以補之當日小驗旬日大驗一年後萬病不生延年益壽衛生之寶非人勿傳</p>
<p>呼有六曰呵呼呬噓嘻吹也吸則一而已呼有六者何以呵字治心氣以呼字治脾氣以呬字治肺氣以噓字治肝氣以嘻字治膽氣以吹字治腎氣此六字氣訣分主五臟六腑也凡天地之氣自子至巳為六陽時自午至亥為六陰時如陽時則對東方勿盡閉窗戶然忌風入及解帶正坐扣齒三十六以定神光攪口中濁津漱煉二三百下候口中成清水即低頭向左而咽之以意送下喉汨汨至腹間即低頭開口先念呵字以吐心中毒氣念時耳不得聞呵字聲聞即氣粗反損心氣也</p>
<p>念畢低頭閉口以鼻徐徐吸天地之清氣以補心氣吸時耳不得聞吸聲聞即氣粗亦損心氣也但呵時令短吸時令長吐少納多也吸訖即又低頭念呵字耳復不得聞呵字聲呵訖又仰頭以鼻徐徐吸清氣以補心亦不可聞吸聲如此吸者六次即心之毒氣漸散又以天地之清氣補之心之元氣亦漸復矣再又依此式念呼字耳亦不可得聞呼聲又吸以補脾耳亦不得聞吸聲如此吸者六次所以散脾毒而補脾元也次又念呬字以瀉肺毒以吸而補肺丸亦須六次次念噓字以瀉肝毒以吸而補肝丸嘻以瀉膽毒吸以補膽丸吹以瀉腎毒吸以補腎丸如此者並各六次是謂小周小周者六六三十六也三十六者一次周天也一周而六氣遍臟腑之毒氣漸消病根漸除而祖氣漸完矣次看是何臟腑受病如眼病即念噓嘻二字各十八遍仍每次以吸補之總之為三十六訖是為中周中周者第二次三十六通為七十二也次又再依前呵呼呬噓嘻吹六字法各為六次並須呼以瀉之吸以補之愈當精處不可怠廢此第三次三十六也是為大周即總之為一百單八次是百八訣也午時屬陰時有病即對南方為之南方屬火所以卻陰毒也然又不若子後巳前面東之為陽時也如早床上面東將六字各為六次是為小周亦可治眼病也凡眼中諸症惟此訣能去之他病亦然神乎神乎此太上之慈旨也略見玉軸真經而詳則得之師授也如病重者每字作五十次凡三百則六腑周矣乃漱煉咽液叩齒訖復為之又三百次訖復漱煉咽液叩齒如初如此者三即通為九百次無病不愈秘之秘之非人勿傳</p>
<p>孫真人云天陰霧惡風猛寒斯時勿取氣但閉之耳</p>

<h2>陰陽烹煉秋石服餌訣法</h2>

<h3>九轉秋石還元論</h3>
<p>夫秋石者非人間五金八石草木灰霜銀鉛砂永之所為也實乃還元之至寶產自形中出於臟腑方宗道藏法按本草號曰金丹眾藥之先出乎自然生自太極產自先天人莫能知鬼莫能測分男女於五行稟陰陽於四象安爐立鼎補坎填離津液長生於華池眾脈流通於水道體幹道發昭彰順坤道應乎有節取至藥則氣和平徹元陽而歸四體調和四體運於宮中晝夜煅煉水火烹煎結成一物號曰金晶開爐而紫粉凝霜起鼎而黃芽發耀坎若意密水火烹煎於三白離如情舒火龍行周於半夜天地交合以降甘露蠢動含靈無非一氣而變成者也一氣者天地還丹之宗三才之首神明之旨如此而成金液大還丹矣世之論秋石者不辨陰陽不明火候不分清濁妄取混雜之物而為大丹之首難乎其為道也昔黃帝提龍虎而美金華軒轅鑄九鼎號曰白雪茅君煉魂魄而為淮南王判坎離而名秋石此上古聖人以秋石服之玉體而得長生採陰陽而補肌骨烹陽魂而接性命煉陰精而得飛昇乃諸仙之丹藥服食之根源賴玄牝而成丹得水火而既濟天魂地魄摛歸於戊巳爐中兔髓烏丹撤藏於乾坤鼎內是無質中生質之運丹乃是有還元之大藥南棲定刻設法象於空中北苑論時拆精華於器內神龍取蚌承時節而論仙兔吐精華待子初而自下此乃聖人口傳心授之法取其甘露而配其白石先天一氣混沌元精從此而立其秋石服之降邪火生津液分滯氣化頑痰理脾健胃止嗽爽神其味鹹而體潤其性溫而不燥大助元陽善補虛憊亦治九種之癆能燒三尸之鬼有返魂定魄之功有健體輕身之力能助陽而換骨善起死以回生其秋石不問百病服之則除不比有形質之物硃砂水銀煉成外丹服之則存留五臟餌之則促彼天年此藥奪天地之造化吸日月之精華運陰陽而瀉離坎進九轉而成白雪大道無窮世人焉得而知哉淮南王曰初九潛龍兼下手黑中取白無中有總是先天氣結成水軍火將休離走軒轅云採戰之時應有節還當十五中秋刻魂往空中含氣精一輪皎潔陰精泄黃帝云香從臭里出甘向苦中來茅君云神仙是何物無限樹下美金華由是觀之見秋石有功於人者大矣此秋石則宜頻服服久則傳經絡入心養血入肝明目入脾長肉入腎生精餌之自效至聖至靈日久而歸乎長生之道嗚呼美哉</p>

<h3>白玉蟾真人秋石歌</h3>
<p>秋石訣秋石訣謹守至言休漏泄知君夙世有仙風教把天機對君說安爐立鼎法乾坤高築壇名山澤煉真鉛色有別時當午夜中秋節竟上南樓玩月華一輪五彩光淵澈秋求玉兔腦中精石取金烏心內血只此二物結靈丹至道不繁無扭捏火取日水取月又與諸家聞各別內行符火合天機攢簇陰陽人莫測青鳳飛歸混沌窩白龜鑽入崑崙穴龍虎馴嬰兒越黃婆巧弄千般舌一時會合入蘭房夫婦交歡情定熱曰取補靈胎結胎完耿耿紫金色脫胎換骨象盈虧轉制抽添按圓缺紫霞紫綬紫靈芝紅似日輪鮮赫赫一釐能點一斤金一粒遐齡千萬結功成幸滿天詔宣鳳化鸞飛並援擢吾今一一說與君只恐多言反疑惑得之之難默默行他年名掛黃金闕</p>

<h3>陽煉秋石法</h3>
<p>童便不拘多少用鍋熬將乾量入稻草灰或蕎麥灰收干待其鍋一紅便取起搗碎又用淨鍋入清水再煮看其大沸用箕一個上用好棉紙三張將鍋內藥水濾過去灰如澄清一般再用銅鍋或銅銚一個洗淨入煎過澄清水再熬成丹待乾日曬夜露旬日聽用</p>

<h3>陰煉秋石法</h3>
<p>用瓦缸一隻上中下鑿三孔用布塞了方入童便不拘多少將桃柳枝如打靛一般如此者千餘下四五遍後放真正滑石末七八錢撒入缸內或寒水石一塊不打碎放入缸下待其澄清自上中下放去清便亦如上中下攪三次去其清便後入清水放入缸內仍照前打攪三次去其水盡將原清汁取上諒入人乳露一夜曬乾聽用或為丸用白松糕丸亦好每日空心上午下午臨臥任意滾水點服</p>

<h2>三豐張真人進紅鉛方並序</h2>
<p>夫金丹延命上古流傳之秘術也其妙不外乎陰陽真一交姤而成苟非心志之專遇明師授受之真焉能奪造化之機而延壽命於無疆也（噫）今之學長生者莫不以草木金石修合自稱玄妙以為真丹蓋異類雜物與人身自不相契豈有假補真而能成功者也殊不知人稟天地真一之氣陰陽純粹之精能順時養育以真一補氣則真氣和合而壽命自延矣丹經云竹破還將竹補哺雞當以卵為又云陽衰陰補樹衰上培又云抽將坎位（中心）</p>
<p>實點化離宮腹內陰此皆以真補真之喻也歲辛丑寓岱獄得遇真人道及內丹真訣又示三豐張真人進紅鉛內丹一冊而玩味之則昔日之疑一旦豁然而貫通矣（噫）紅鉛真陽也秋石真陰也以陰陽真一之氣滋補元氣斯嬰兒之見老毋情性和合真一合而元氣凝壽命延長立可必矣子嘉其妙遂專意修合服有靈驗而身體康強有病悉去乃知紅鉛妙術真奪造化之機豈他金石草木可彷彿其萬一耳嗚呼吾何幸恭遇明師之真傳也故書此以俟後之同志者有所徵信云望道散人識</p>

<h3>內丹</h3>
<p>紅鉛（曬乾一錢）　秋石（一錢）　人乳（曬乾一錢）</p>
<p>上紅鉛秋石乳汁各製為末乳汁和為丸如黍米大每服一丸沉香乳香湯送下如覺醉只服乳汁</p>
<p>俟甦醒照前服之服盡三錢再服後藥</p>

<h3>取紅鉛法</h3>
<p>用無病室女月經首行者為最次二三者為中四五為下取法以黑鉛打一具如道冠樣候月信動時即以此具置陰戶上以軟絹兜住如有即取之約一二鍾許沉底紅如硃砂者此為母氣真元也其面上有黃色浮起此為發水即用棉紙輕輕拖滲去只將沉底蕩干聽用</p>

<h3>制紅鉛法</h3>
<p>先將瓷盆一個煮一伏時乘熱取出即投紅鉛於內自乾製乳亦然先將紅鉛半斤用黑鉛作盒盛養人乳二斤牛乳二斤酥油一斤製法照前秋石半斤上五味將細布包定再用𰫷綿裹之以糯米三斗淘淨浸透入甑撥開窩以藥放窩中蒸之以米熟為度候冷取出藥和為丸如干再添人乳和之丸為三百六十丸其飯就用白酒麴造成酒候酒熟用四料瓶十二個盛之札緊煮熟聽用以應十二月數每日清晨用藥一丸就以此酒送下以應周天數也此藥符天機造化其妙難以盡述慎勿妄傳秘之</p>

<h3>蟠桃酒</h3>
<p>治證大略同前用美味與十五六歲室女食養春三月秋八月採園中桑葉曬乾再用甘草漏蘆白苑花各等分為末用初生男乳汁調三錢與女子服之後用甘草桂皮乳香各少許煮雄豬前蹄十分爛去骨與女子食之一二日乳極盛後再用甘遂為末每用少許塗乳頭上引乳出洗去甘遂聽用或取下用乳香少許為丸如黍米大每用三五十丸空心溫酒送下欲散用穿山甲紫梢花各一錢為末酒調下即散此返經為乳法也</p>

<h3>又蟠桃酒</h3>
<p>治症同前</p>
<p>兔糞（四兩）　大力子（一兩）　磁石（飛一兩）　黑鉛（一兩）　辰砂（天葵草伏過五錢）　甘草（五錢）</p>
<p>上為末煉蜜為丸每丸重一錢每服一丸酒化與十五六歲無病女子服之濃酒任醉柔乳房吮之即蟠桃酒也</p>

<h3>仙方紫霞杯（一名芙蓉錠）</h3>
<p>治虛損五勞七傷能回陽祛陰大有效驗功難盡述</p>
<p>用舶上硫黃不拘多少益母草燒灰淋汁煮乾化開再煮如此九次聽用　制硫訣云若要金硫實死須將制伏灰霜吾今泄破草生香織就人穿身上</p>
<p>秘蜜燒灰取汁惟恐漏泄春光九熬九澄似水霜去垢除痰是上（上調西江月）上硫制就為末水丸黍米大即金液丹也加後藥即成錠或傾作杯即紫霞杯也</p>
<p>制過硫黃（一兩）　白茯神（去皮心五錢）　遠志（去心五錢）　川椒（去目炒出汁三錢）　真赤石脂（五錢）　石乳（二錢）　大辰砂（甘草煮五錢另研）　沉香（二錢）　大茴香（二錢）　蓮蕊須（一兩未開者佳）　先春蕊（一兩立春後不用）</p>
<p>上為末將硫黃化開和勻即成錠酒磨服或傾成杯子注酒飲之此用累效乃吳澹齋先生口傳也</p>

<h2>制玄明粉方序</h2>
<p>大唐玄宗時終南山有一道人壽高三百餘歲帝宣而問之對曰臣常服玄明粉故獲其壽帝試之果有功效因賜名流傳於世此藥煅煉最妙者白色余色不可用服之諸病皆除不分遠年近日風毒虛寒等疾並皆治之無有不效暈病輕重各隨引下加減用之若要宣瀉先用桃花湯或蔥白湯如未宣通更飲一碗或半碗每日空心或晚隨病用引調下常服四十九日一次久病皆除沉積退去漸覺身輕體健若能常服不斷益壽延年永保長生不避寒暑面似童子鬚髮白而返黑其功不可盡述</p>

<h3>炮製玄明粉法</h3>
<p>取好真玉朴硝一味此物是太陰之精亦取南方丙火北方癸水三家相見煉成丹也每料用朴硝五斗水三桶蘿蔔五斤切作片子同入鐵鍋內煅煉一明取出濾滓澄清五七遍至晚於星月下露至天明瓦盆內自然結成青白塊子去水控出用瓷小罐盛之按實入八卦爐中先文後武從幔（至緊）自然成汁煎後不響再加頂火一煆如此一晝夜待冷取出搗羅為末於淨地上放藥用新瓦盆一個合之以去火毒為度後為末每一斤入甘草生熟各一兩為末同攪勻臨睡斟酌用之或一錢或二錢桃花煎湯或蔥白煎湯下此藥大治邪熱所幹膈氣上滿五臟格澀此朴硝本性還溫無毒煆煉之法有八件緊要詳切於後</p>
<p>一澄清硝　二去鹹味　三安爐灶　四固骨氣　五升火候　六閉火門　七去火毒　八對甘草</p>

<h3>四季服食各用引子</h3>
<p>春養肝黃耆芍藥川芎湯下　夏養心白茯苓湯下</p>
<p>秋養肺茯苓桔梗湯下　冬養腎肉蓯蓉烏頭湯下</p>
<p>其餘雜症隨症調引下茲不詳錄</p>

<h2>養生敘略滋補方論</h2>
<p>按內經曰古人治未病不治已病所以為上工也夫飲食男女人之大欲尤當順時節攝勿使過焉何疾之有人多昧之今略述所聞於下所謂飲食者即內經云陰之所生本在五味陰之五宮傷在五味若五味口嗜而飲食之勿使過焉過則傷其止也謹和五味骨正筋柔氣血以流腠理以密骨氣以精謹道如法長有天命此東垣法枳朮丸也所謂男女者即內經云無陽則陰無以生無陰則陽無以化此天地自然之妙用人道之大本也但此為愛河欲海上智之士對景怠情形須交而精不搖氣雖感而神（不動）以逸待勞以靜待譁以色為空以無為有奪得至寶能增壽源世降以來民生多溺而樂與樂取沉其情欲無涯此難成易虧之陰精若之何而可以供給耶此丹溪補陰丸所由立也又按冠氏曰人之未聞道者放逸其心迷於生樂以精神徇智巧以憂畏徇得失以勞苦徇禮節以身世徇財利四徇不去心為之疾矣極力勞形燥暴氣逆當風縱酒食嗜辛鹹肝為之病矣飲食生冷溫涼失度久臥太飽太飢脾為之病矣久坐濕地強力入水縱欲房勞三田漏溢腎為之病矣（呼叫過常辨爭倍答冒犯寒暄恣食鹹苦）肺為之病矣五病既作故未老而羸未羸而病病至則重重則必斃嗚呼此皆不思妄行而自取之也衛生君子能慎此五者更悟飲食男女二論可以終身無病矣經曰不治已病治未病此之謂也</p>

<h3>飲食論</h3>
<p>人知飲食所以養生不知飲食失調亦能害生故能消息使適其宜是賢哲防於未病凡以飲食無論四時常欲溫暖夏月伏陰在內暖食尤宜不欲苦飽飽則筋脈橫解腸癖為痔因而大飲則氣乃大逆養生之道不宜食後便臥及終日穩坐皆能凝結氣血久則損壽食後常以手摩腹數百遍仰面呵氣數百口趑趄緩行數百步謂之消食食後便臥令人患肺氣頭風中痞之疾蓋榮衛不通氣血凝滯故爾是以食訖當行步躊躇有作修為乃佳語曰流水不腐戶樞不蠹以其動也食飽不得速步走馬登高涉險恐氣滿而激致傷臟腑不宜夜食蓋脾好音聲聞聲即動而磨食日入之後萬響都絕脾乃不磨食食即不易消不消即損胃損胃即不受穀氣穀氣不受即多吐多吐即為翻胃之疾矣食欲少而數不欲頓而多常欲飽中飢飢中飽為善爾食熱物後不宜再食冷物食冷物後不宜再食熱物冷熱相激必患牙疼瓜果不時禽獸自死及生鮓煎爆之物及夫油膩難消粉粥冷淘之類皆能生痰動火瘡瘍癥癖並不宜食五味入口不欲偏多多則隨其臟腑各有所損故咸多傷心甘多傷腎辛多傷肝苦多傷肺酸多傷脾內經曰多食酸則脈凝澀而變色多食苦則皮稿毛拔多食辛則筋急而瓜枯多食酸則肉胝皺而唇揭多食甘則骨肉痛而發落偏之為害如此故上士澹汨其次中和此飲食之大節也酒飲少則益過多則損惟氣暢而止可也飲少則能引滯氣導藥力調肌膚益顏色通榮衛闢穢惡過多而醉則肝浮膽橫諸脈衝激由之敗腎毀筋腐骨傷胃久之神散魄消不能飲食獨與酒宜去死無日矣飽食之後尤宜忌之飲覺過多吐之為妙飲酒後不可飲冷水冷茶被酒引入腎中停為冷毒多久必然腰膝沉重膀胱冷痛水腫消渴攣躄之疾作矣酒後不得風中坐臥袒肉操扇此時毛孔盡開風邪易入感之令人四肢不遂不欲極飢而食飢食不可過飲不欲極渴而飽渴飲不欲過多食過多則結積飲過則成痰癖故曰大渴勿大飲大飢勿大食恐血氣失常卒然不救也嗟乎善養生者養內不善養生者養外養內者恬澹臟腑調順血氣使一身之氣流行沖和百病不作養外者恣口腹之慾極滋味之美窮飲食之樂雖肌體充腴容色悅澤而酷烈之氣內蝕臟腑形神虛矣安能保合太和以臻遐齡莊子曰人之可畏者袵席飲食之間而不知為之節誠過也其此之謂乎</p>
<p><u>枳朮丸</u></p>
<p>內經以脾土旺能生萬物此東垣前賢以胃氣之法地故用此方一補一消制其太過輔其不足也</p>
<p>枳實（一兩去穰麩炒）　白朮（二兩陳壁土炒）</p>
<p>上為末荷葉濃煎汁打老米粉糊為丸用白湯下七十丸不拘時服閩廣吳浙濕熱地方加山楂肉神麯黃芩黃連蒼朮（各一兩）有痰加半夏陳皮（去白）南星（各一兩）有郁加撫芎香附山梔（各一兩）有熱加黃芩黃連當歸地骨皮酒炒大黃（各五錢）</p>

<h3>食物所忌所宜</h3>
<p>水味甘淡無毒大益人資生日用不齒其功故不可一日缺也酒味辛熱飲之體軟神昏是其有毒也惟少三五七杯御風寒通血脈壯脾胃而已若恆飲過多則熏灼心肺生痰動火甚則損腸爛胃潰髓蒸筋傷神損壽酒漿照人無影不可食酒後食芥辣物多則緩人筋骨凡中藥毒及一切毒從酒得者難治蓋酒能引毒入經絡故也醋多食助肝損脾胃損人骨壞人顏色茶味苦氣清能解山嵐瘴癘之氣江洋霧露之毒及五辛炙爆之熱宜少否則不飲尤佳多飲則去人胎令人下焦虛冷飢則尤不宜用惟飽食後一二茶盞不妨最忌點鹽及空心飲大傷腎氣古云空心茶卯時酒酉後飯俱宜少用食後以濃茶漱口令齒不敗粳米過熟則佳忌與蒼耳馬肉同食冬舂堆盒過濕熱性最清臟腑糯米久食身軟發風動氣妊娠與雜肉同食令子生寸白蟲秫米似黍而小發風動氣不可常食亦可造酒黍米發宿疾小兒食不能行飴糖進食健胃動脾風多食損齒食粟米後食杏仁成吐瀉五種粟米合葵菜食之成痼疾稷米穄發癸三十六種風疾不宜食又不宜同川烏附子服麥佔四時秋種夏收北方多霜雪面無壽而益人南方少霜雪面有濕熱毒而損人大麥久食多力健行頭髮不白宜食能治蠱脹煎水熏洗立效大麥蘖消積健胃寬中多服消腎蕎麥性沉寒久食動風心腹悶痛頭眩和豬肉食落眉發和白礬食殺人白扁豆清胃解毒久食鬚髮不白又能解酒毒及煎炙熱毒黑者瀉人綠豆清熱解毒不可去皮去皮壅氣作枕明目赤小豆解毒利小便能逐津液久食虛人青黃雜豆生濕熱不甚益人合魚鮓食成消渴食大豆忌豬肉炒豆與十二歲以下小兒合豬肉食令壅氣死豆作醬最佳若純以面麥作醬不宜能減藥力芝麻壓油煉熟宜食能解諸毒黑芝麻炒食不生風疾有風人食之遂愈胡麻服之不老耐風寒補衰老九蒸九曬為末棗丸服治白髮返黑葵菜同鯉魚食害人食生葵發一切宿疾服百藥皆忌食生蔥與蜜同食作脹下利腹痛燒蔥同蜜食壅氣死蔥與雞雉白犬肉同食九竅出血死大抵蔥功只能發汗多食則昏人神韭病人少食多食助陽昏神暗目酒後尤忌亦不可與蜜同食共牛肉食成瘕未出土為韭黃滯氣動風不宜食薤生痰涕動邪火反牛肉蒜惟辟惡氣快胃消滯久食生痰動火傷肝損目弱陽食蒜行房傷肝氣令人面無顏色胡荽久食令人健忘根大損陽滑精發痼疾白蘿蔔消痰下氣利膈寬中久食耗肺氣生食滲人血忌與人參地黃同食令人鬚髮易白芥菜多食動風發氣忌與兔肉同食紅白莧多食動氣生煩悶共鱉及蕨食生鱉瘕鹿角菜久食發病損經絡少顏色菠菜多食滑大小腸久食腳軟腰痛蓴菜性滑發痔芹生高田者宜食和醋食損齒赤色者害人苦蕒夏月食益心生食損脾蠶婦勿食萵苣利水久食昏人目莙薘菜多食動氣蕨久食滑精令人腳膝無力眼昏多睡鼻塞發落生食成蛇瘕茄性冷多食發瘡動氣秋後食損目冬瓜利水多食動胃火令人牙齦腫齒痛又令陰濕癢生瘡發黃疸九月勿食老人中其毒至秋為瘧痢一切瓜苦有毒兩鼻兩蒂者害人瓠子滑腸冷氣人食之反甚葫蘆匏有人小毒多食令人吐煩悶苦者不宜食紫菜多食發氣腹痛飲少醋即解茭白不可合生菜食合蜜同食發痼疾損陽氣諸筍消痰動氣發病苦筍主不睡主面目並口熱舌黃消渴明目解熱毒多食令人嘈雜菌地生者是木生為糯為木耳為蕈新蕈有毛者下無紋者夜有光者欲爛無蟲者煮訖照人無影者春夏有蛇蟲經過者誤食皆殺人若食楓樹菌者往往笑不止而死犯者掘地為坎投水攪取清者飲之即解木菌惟楮榆柳槐桑棗五木之耳可食然大寒滯膈難消少食余如前所云者皆殺人如赤色仰而不覆者及生田野者皆毒甘露子不可多食生寸白蟲與諸魚同食翻胃茱萸惟冬寒月可食六七月食之傷神氣茼蒿多食令人氣滿蒔蘿醒脾可食其根誤食殺人蔓青菜中之最益人者常食通中益氣令人肥健雞頭子名芡實生不宜食熟能益腎固精亦可療飢山藥涼而補脾薯蕷功亞山藥而補脾亦妙芋奶茨菰並可充飢冬月食不發病田園多種可以救荒然茨菰多食動冷氣令人腹脹小兒食臍下痛生薑專開胃主嘔吐行藥滯製半夏毒諺云上床蘿蔔下床姜蓋夜食蘿蔔則消酒食之滯清晨食姜能開胃口御風敵寒解積九月九日勿食傷人損壽蓮子和脾補胃宜煮熟去心食生食令人腹脹不去心令人嘔藕久服輕身耐老生食清熱破血除煩渴解酒毒熟食補五臟實下焦與蜜同食令腹臟肥不生諸蟲菱多食冷臟傷脾熟食稍補棗生食動臟腑損脾作瀉與蜜同食損五臟蒸熟食補脾和諸藥中滿腹脹忌食梅子生津止渴多食壞齒損筋櫻桃多食發暗風傷筋骨小兒多食作熱橘與柑酸者聚痰甜者潤肺不可多食橙皮多食傷肝與檳榔同食頭旋噁心楊梅多食發熱損齒杏子多食傷筋骨仁瀉肺火消痰下氣止漱久服目盲損鬚髮動宿疾雙仁者殺人桃損胃多食作熱仁破血潤大腸雙仁者亦殺人李發瘧食多令人虛熱和白蜜食傷人五內不可臨水啖及與雀肉同食皆損人李不沉水者大毒勿食梨治上焦熱多食寒中產婦金瘡人勿食令痿困其性益齒而損脾胃病人虛人多食泄瀉浮腫正二月不可食有人家生一梨其大如斗送之朝貴食者皆死考之樹下有一大蛇聚毒於此蓋凡物異常者必有毒切不可食石榴生津多食損肺及齒慄生食難消化熟食滯氣灰火煨令汗出殺其木氣或曝乾炒食略可多食氣壅患風氣人不宜食柿乾者性冷生者尤冷惟治肺熱解煩渴多食腹痛白果生引疳解酒熟食益人不可多食小兒未滿十五食者發驚搐胡桃即核桃仁補腎利小便動風動痰脫人眉同酒肉食令人咯血若齒豁並酸物傷齒者食之即好皮搗自然汁能烏鬚髮枇杷多食發痰熱榧子能消穀助筋骨行榮衛明目輕身潤肺止嗽多食滑腸榛子益氣力寬腸胃松子潤燥明目生痰葡萄生津止渴乾者發痰動嗽病人少用一切諸果核有雙仁者並害人甜瓜多食發痼疾動虛熱沉水者雙蒂者並殺人西瓜利水善解暑毒消煩渴多食作瀉痢南人尤忌凡生果停久有損處者不可食甘蔗解酒毒多食鼻衄沙糖多食心痛鯽魚同食成疳葵同食生流癖筍同食成食瘕小兒不宜食生疳熱損牙豬肉雖世常用不宜多食發風生痰動氣白豬白蹄青爪者不可食豬腎理腎氣多食反令腎虛少子豬心損心豬肝助肝氣大小腸滑腸豬肉合羊肝食令人煩悶豬腦損陽臨房痿弱不舉豬嘴並耳助風尤毒羊肉補虛發氣與參耆同功和鮓食傷人心腦食之損精少子羊肝明目肺發氣羊心有孔者食之殺人羊肝有竅羊有獨角黑頭白身者皆不可食豬羊血損血六月勿用羊肉黃牛大補脾胃五臟血能補血乳能補中養血但不宜與醋同食凡黑牛白頭獨肝者不可食盛熱時卒死者及瘟死者極毒殺人非惟不可食聞其氣亦害人馬肉無益不可食馬汗氣及毛誤入食中害人凡有汗陰瘡者近之殺人驢肉動風發痼疾騾肉動風發瘡脂肥者尤甚食騾肉不可飲酒致暴疾殺人犬肉大熱助陽暖下元食者忌茶白犬虎紋黑犬白耳畜之家富貴班青者識盜賊則吠純白不可畜春末夏初犬多發狂被齧者害人宜預防之鹿肉五月勿食鹿血大補人血肉不甚補反痿人陽服藥人忌食鹿肉以其食解毒之草故也獐肉六七八至十一月食之勝羊肉余月發風動氣麂肉發痼疾以其食蛇也貓肉補陰血能治癆瘵癱疾瘰癧楊梅毒瘡久不收口者皆宜食兔肉八月至十一月可食多食損陽兔死而眼合者食之害人獨目兔不可食獺肉傷陽獺肝治肝積大抵禽肝青者獸赤足者有岐尾者肉落地不沾塵者煮熟不斂水者生而斂者煮不熟者禽獸自死無傷處者犬懸蹄肉中有星如米者羊肺三日以後有蟲如馬尾者諸肉脯米甕中久藏者皆有大毒殺人孔聖云魚餒肉敗不食是也雞黃者宜老人烏者宜產婦具五色者尤佳雞六指玄雞白頭四距雞並野禽生子有八字紋者或死不伸足口目不閉者俱不可食烏雞合鯉魚食生癰疽雞子敗血不宜多食小兒大忌老雞頭大毒線雞善啼肉毒山雞畜之禳火災雉即野雞損多益少鴨老善嫩毒黑鴨滑腸發痢腳氣人不可食白鴨補虛六月忌食鴨目白殺人鴨卵多食發疾不可合蒜李鱉同食野鴨九月以後宜食不動氣熱瘡久不好者多食即好鵝發痼疾白動氣瘡發瘡癤卵尤不可食鵪鶉木草云蝦蟆化也痢疾宜用與豬肝同食而生黑子與菌同食發痔雀不可與諸肝醬同食妊婦忌食糞和乾薑等分為末蜜丸服令人肥白鴿雖益人病人服藥勿食減藥力鯉魚發風熱五月勿食鱖魚有十二骨每月一骨毒殺人犯者取橄欖仁末流水調服即解白魚發膿有瘡癤人勿食鯽魚養胃冬月宜食春勿食頭中有蟲也子與麥門冬同食殺人鯖魚及鮓服二術忌食鰣魚生疳發痼疾魴魚發疳痢忌食鱘魚發諸藥毒鮓不益人合筍食患癱瘓小兒食之成瘕鱸魚多食發痎癖豚魚有損無益有大毒浸血不盡有紫赤斑眼者及誤破腸子者或修治不如法誤染屋塵者皆脹殺人肝與子大毒切忌誤犯者以橄欖汁或蘆根汁解之鱔魚大冷多用生霍亂鮎魚𩻮魚皆滑腸動火鰻魚鱺魚鱉皆清熱去勞背殼單稜者為鱉雙稜者為團魚不益人夏月以鰻魚室中燒之蚊蚋即化為水燒其頭骨於床下木蝨皆死置其骨於衣箱及氈物中斷蛀蟲白魚一切魚犯荊芥犯者殺人凡魚有異色者皆不可食凡鱉目大赤足或三足獨目白目腹下紅或生王字形或有蛇紋者蛇化切不可食蟹性極冷易成內傷腹痛動風疾背有星點腳生不全獨螯獨目足斑目赤腹下有毛腹中有骨者並殺人蝦發風動氣無須者勿食螺大寒解熱醒酒作瀉蚶利五臟健脾蜆多食發嗽消腎淡菜即海殼多食煩悶凡諸肉汁藏器中氣不泄者有毒食之令人腹脹作瀉以銅器蓋汁滴入者亦有毒銅器內盛水過夜不可飲壇瓶內插花宿水有毒殺人不可飲飲食於露天飛絲墮其中食之喉腫生泡穿屋漏水食之生癥瘕暑月瓷器烈日曬熱者不可便盛食物令人煩悶盛蜜瓶作鮓鮓瓶盛蜜俱不可食令人脹吐諸肉雞魚經宿不再煮勿食作腹脹吐瀉凡祭神肉目動祭酒自耗皆不可食諸禽獸腦敗陽滑精不可食惟牛腦益婦人</p>

<h2>解飲食諸毒</h2>
<p>食豆腐中毒蘿蔔湯下藥可愈中蕈毒飲地漿水解之中諸菜毒用甘草貝母胡粉等分為末調服及小兒溺皆能解野芋毒飲地漿水解諸瓜毒煎本瓜皮湯解或鹽湯亦可柑毒柑皮煎湯解鹽湯亦可諸果毒燒豬骨為末酒調服方寸匕即解誤食閉口花椒醋解之誤食桐油熱酒解之乾柿及甘草俱可解食雞子毒醇醋解之中諸魚毒煎橘皮湯或黑豆汁蘆根朴硝皆可解中蟹毒煎紫蘇湯或冬瓜汁生藕汁皆可解中諸肉毒陳壁土一錢調水服或白扁豆末皆可解食豬肉過傷者燒其骨水調服或芫荽汁生韭汁解之諸肉傷成積草果仁消之飲酒中毒大黑豆一升煮汁二升頓服立吐即愈或生螺螄蓽沉茄煎湯並解凡諸毒以香油灌之令吐即解凡飲食後心膈煩悶不知中何毒者急煎苦參汁飲之令吐即解或用犀角煎湯飲之或以苦酒煮犀角飲之俱解</p>

<h3>諸病所忌所宜</h3>
<p>肝病宜食小豆犬肉李韭心病宜食小麥羊肉杏薤脾病宜食梗米葵棗肺病宜食黃黍米雞肉桃蔥腎病宜食大豆豕肉粟藿胡桃有風病者勿食胡桃有暗風者勿食櫻桃食之立發時行病後勿食魚鱠及蟶鱔並鯉魚再發必死凡傷寒及時氣病後百日之內忌食豬羊肉並腸血肥膩魚腥諸糟物犯者必再發或大下痢不可復救五十日內忌食炙面及胡荽蒜韭薤生蝦蟹等物多致內傷復發難治瘧症勿食羊肉恐發熱致重愈後勿食諸魚必復發患眼者忌胡椒蒜犬肉禁冷水冷物挹眼不忌則害不已齒病勿食棗並糖心痛及心恙忌食獐患腳氣忌甜瓜瓠子鯽魚其病永不愈黃疸忌濕面魚鵝羊胡椒韭蒜炙爆糟醋犯之纏綿不愈而死咯衄吐血忌炙面韭蒜燒酒煎爆醃糟海味硬冷難化之物有痼疾忌王瓜麵筋驢馬麂雉肉犯者必發癰癤忌雞姜癩風勿食鯉魚瘦弱人勿食生棗病新瘥忌薄荷誤食虛汗不止傷寒汗後不可飲酒復引邪入經絡久病勿食杏李加重產後忌食一切生冷肥膩滯硬難化之物惟藕不忌以其能破血也</p>

<h3>服藥所忌</h3>
<p>服茯苓忌醋服人參地黃何首烏忌蘿蔔服牛膝土茯苓忌牛肉服黃連桔梗忌豬肉服細辛遠志忌生菜服水銀硃砂及丹藥忌牲肉蛤蜊豬羊血豆粉服常山忌生蔥生菜醋服天門冬忌鯉魚服甘草忌菘菜海藻服半夏菖蒲忌餳糖羊肉服二術忌桃李雀肉胡荽蒜鮓服杏仁忌粟米服乾薑忌麥門冬兔肉蛤蜊鯽魚服牡丹皮忌胡荽服商陸忌犬肉服巴豆忌蘆筍野豬肉服烏頭忌豉服鱉甲忌莧菜凡服一切藥皆忌胡荽蒜生冷炙爆犬肉魚鱠腥臊酸臭陳腐黏滑肥膩之物</p>

<h3>男女論</h3>
<p>天地氤氳萬物化醇男女媾精萬物化生此造化之本源性命之根木也故人之大欲亦莫切於此嗜而不知禁則侵克年齡蠶食精魄闇然不覺而元神真氣去矣豈不可哀惟知道之士禁其太甚不至杜絕雖美色在前不過悅目暢志而已決不肯恣其情欲以伐性命或問抱朴子曰傷生者豈非色欲之間乎抱朴子曰然長生之要其在房中上士知之可以延年祛病其次不以自伐下愚縱欲損壽而已是以古人如此恆有節度二十以前二日復二十以後三日復三十以後十日復四十以後一月復五十以後三月復六十以後七月復又曰六十閉戶蓋時加樽節保惜真元以為身之主命不然雖勤於吐納導引藥餌之術而根本不固亦終無益內經曰能知七損八益（七者女子之血八者男子之精也）則血氣精氣二者可調不知用此則早衰之漸也故年四十而陰氣自半起居衰戾年五十體重耳目不聰明矣年六十陰痿氣血大衰九竅不利下虛上噴涕泣俱出故曰知之則強不知則老智者有餘自性而先行故有餘愚者不足察行而後學故不足有餘則耳目聰明身體輕強老者益壯壯者益治蓋謂男精女血若能使之有餘則形氣不衰而壽命可保矣不然竅漏無度中間以死非精離人人自離精也可不戒哉養生之士忌其人者有九或年高大或唇薄鼻大或齒疏發黃或痼疾或情性不和沙苗強硬或聲雄或肉澀肢體不膏性悍妒忌皆能損人並不宜犯之忌其時者十有一醉酒飽食遠行疲乏喜怒未定女人月潮沖冒寒暑疾患未平小便訖新沐浴後犯畢出行無情強為皆能使人神氣昏憒心力不足四肢虛羸腎經怯弱七情不均萬病皆作持宜慎之至於天地晦冥日月薄蝕疾風暴雨雷電震怒此陰陽大變六氣失常之時犯之不惟致疾且褻汙神明生子形必不周生亦不育育亦不壽嗟乎幃箔之情易綰而難斷不可不以智慧決也佛書曰諸苦所困貪欲為本貪欲不滅苦亦不滅苦不滅則生滅養生者烏可不以智慧決哉</p>

<h3>補陰丸</h3>
<p>丹溪謂人陽常有餘陰常不足宜常補其陰使陰與陽齊則水升火降人惟以腎氣為本故此方專滋培腎水此丹溪前賢之法天也</p>
<p>黃柏（去皮鹽酒炒）　知母（去皮鹽酒炒）　龜板（去弦酥炙各二兩淨）　懷慶熟地黃（酒蒸九次曬乾五兩）　鎖陽（酥炙二兩）　甘州枸杞子（去梗三兩）　北五味子（去梗一兩）　白芍藥（酒炒）　天門冬（去心各二兩）　乾薑（炒紫色三錢冬月五錢）</p>
<p>上為細末煉蜜為丸如梧桐子大每服八九十丸空心炒鹽湯送下冬月溫酒不飲酒者清米湯亦可理脾胃加山藥白朮白茯苓（各二兩）陳皮（一兩）</p>
<p>固精加牡蠣（煅童便淬七錢）山茱萸肉（二兩）白朮（七錢）</p>
<p>壯暖腰膝加虎脛骨（酥炙）漢防己（酒洗）牛膝（去蘆酒洗各一兩）</p>
<p>（經驗）滋補諸方士夫君子日用延年益壽接補以躋期頤地仙也</p>

<h3>補天大造丸</h3>
<p>專培養元氣延年益嗣壯陽光溫坎水降離火為天地交泰若虛勞房室過度之人（五心）煩熱服之神效平常之人四十以後尤宜常服接補真元以躋上壽</p>
<p>紫河車一具取首生男胎者佳如無得壯盛婦人者亦好先用鮮米泔將河車輕輕擺開換洗米泔五次不動筋膜此乃初結之真氣也只洗淨有草屑輕手取去將竹器盛於長流水中浸一刻以取生氣提回以小瓦盆盛於不甑內蒸自卯辰蒸起至申酉時止用文武火緩緩蒸之極爛如糊取出先傾自然汁在藥末內略和勻此天元正氣汁也河車放石臼內木杵擂一千下如糊樣通前藥汁末同和勻搗千餘杵集眾手為丸此全天元真氣以人補人最妙世所少知醫用火焙酒煮又去筋膜大誤又入龜板尤誤故特表而出之</p>
<p>厚川黃柏（去粗皮酒炒一兩）　川杜仲（去粗皮酥炙斷絲一兩五錢）　川牛膝（酒浸去蘆一兩五錢）　當歸身（酒洗一兩）　淮熟地黃（酒蒸九次忌鐵二兩）　天門冬（去皮心一兩半）　淮生地黃（酒浸一兩半）　麥門冬（去心一兩五錢以上四味另用酒煮爛搗膏）　陳皮（去白淨七錢半）　白朮（去蘆炒一兩）　五味子（去梗七錢）　小茴香（炒七錢）　枸杞（去梗一兩）　乾薑（炮黑二錢）　側柏葉（採取嫩枝隔紙炒乾二兩）　骨熱加牡丹皮（去心）　地骨皮（去心）　知母（去皮各一兩酒炒）　血虛加當歸地黃（加一倍）　氣虛加人參黃耆（蜜炙各一兩）　婦人去黃柏加川芎香附細實條芩（俱酒炒各一兩）</p>
<p>上藥各擇精製各秤淨為末不犯鐵器用前蒸熟河車搗爛並汁和為丸若河車肥大量加些藥末不必用蜜丸如梧桐子大每服百丸空心米湯下有病一日二服按此方比古方用之更效若稟氣虛或斫喪太過太早者尤宜用之</p>

<h3>四物湯</h3>
<p>治男婦血虛諸症為婦人之總藥</p>
<p>川芎　當歸　白芍藥　熟地黃（各等分）上用姜一片水煎服兼有他症照古法加減用</p>

<h3>四君子湯</h3>
<p>治男婦氣虛脾胃諸症</p>
<p>人參（一錢五分）　白朮（三錢）　白茯苓（二錢）　甘草（一錢）</p>
<p>上用薑棗煎食遠服兼有他症照古法加減用八物湯氣血虛用即前二方合用兼症亦照古法加減用</p>

<h3>十全大補湯</h3>
<p>治男婦諸虛不足五勞七傷生血氣補脾胃即前八物湯一兩加黃耆一錢二分肉桂八分薑棗煎服</p>

<h3>補中益氣湯</h3>
<p>治勞倦傷脾喜怒憂恐耗損元氣榮衛不調乃生寒熱皆脾胃之氣不足此方主之</p>
<p>黃耆（一錢五分）　人參（一錢二分）　甘草（七分，以上三味除濕熱煩熱之堅藥也）　白朮（一錢）　當歸身（一錢）　陳皮（七分）　升麻　柴胡（各五分）</p>
<p>上用姜一片棗一枚煎服兼症照東垣法加減用</p>

<h3>人參飲</h3>
<p>人遇勞倦辛苦過多即服此方免生內傷發熱之病主於補氣</p>
<p>黃耆（蜜炙一錢半）　人參（一錢半）　甘草（炙七分）　陳皮（一錢去白）　白朮（一錢二分）五味子（二十粒）　麥門冬（去心一錢）</p>
<p>上用生薑二片大棗二枚水一鍾半煎八分食前服勞倦甚加熟附子（四分）</p>

<h3>當歸飲</h3>
<p>人遇勞心思慮損傷精神頭眩目昏心虛氣短驚悸煩熱即服此方補血為主</p>
<p>人參（一錢五分）　當歸身（一錢五分）　麥門冬（一錢）　五味子（十五粒）　白芍藥（酒炒一錢）　山梔（五分）　白茯神（去皮心一錢）　酸棗仁（炒一錢）　生地黃（五分薑汁洗）　甘草（炙五分）　陳皮（五分）　川芎（五分）</p>
<p>上用姜二片棗一枚水一鍾半煎八分食遠服</p>

<h3>補陰散</h3>
<p>即滋陰降火湯</p>
<p>治陰虛火動盜汗發熱咳嗽吐血身熱脈數肌肉消瘦少年中年酒色過傷成癆者服之極效</p>
<p>川芎（一錢）　當歸（一錢三分）　白芍藥（一錢三分）　熟地黃（一錢）　黃柏（七分蜜水浸火炙）　知母（一錢蜜水拌炒）　生地黃（五分酒洗）　甘草（炙五分）　天門冬（一錢去心皮）　白朮（炒一錢二分）　陳皮（去白七分）　乾薑（炒紫色三分）</p>
<p>上用生薑三片水一鍾半煎八分空心服加減於後</p>
<p>咳嗽盛加桑白皮（蜜炒）馬兜鈴（各七分）五味子（十粒）痰盛加半夏（薑製）貝母栝蔞仁（各一錢）盜汗多加牡蠣酸棗仁（各七分）浮小麥（一錢）潮熱盛加沙參桑白皮地骨皮（各七分）夢泄遺精加龍骨牡蠣山茱萸（各七分）赤白濁加白茯苓（一錢）黃連（三分）衄血咳血出於肺也加桑白皮（一錢）黃芩山梔（各五分炒）涎血痰血出於脾也加桑白皮貝母黃連栝蔞仁（各七分）嘔血吐血出於胃也加山梔仁（炒）黃連乾葛蒲黃（炒各一錢）韭汁半盞薑汁少許咯血唾血出於腎也加桔梗玄參側柏葉（炒各一錢）如先血症或吐衄盛大者宜先治血治法輕少者涼血止血盛大者先消瘀血次止之涼之蓋血來多必有瘀於胸膈者不先消化之則止之涼之不應也葛可久方宜次第撿用內惟獨參湯止可施於大吐血後昏倦脈微細氣虛者氣雖虛而復有火可加天門冬三四錢或如前所云陰虛火動潮熱盜汗咳嗽脈數者不可用參說見本草集要人參條下蓋此病屬火大便多燥然須節調飲食勿令泄瀉若胃氣復壞泄瀉稀溏則前項寒涼之藥又難用矣急宜調理脾胃用白朮茯苓陳皮半夏神麯麥芽甘草等藥俟胃氣復然後用前本病藥收功後可常服補陰丸及葛可久白鳳膏等藥</p>

<h3>柴前梅連散</h3>
<p>治骨蒸勞熱三服而除</p>
<p>柴胡　前胡　烏梅　胡黃連（各等分）</p>
<p>上每服四錢加豬膽汁一枚豬脊髓一條韭白童便煎服</p>

<h3>地仙散</h3>
<p>凡人年四十以下患勞怯且不必補只先退潮熱調理可愈此方退潮熱如神方外有接天梯之術宜先用此方</p>
<p>地骨皮（二錢半）　防風（一錢五分）　薄荷葉（一錢一分）　甘草梢（炙一錢）　烏梅（七分半）</p>
<p>上用水煎三次午後頓服</p>

<h3>六味地黃丸</h3>
<p>治腎氣虛損形體憔悴寢汗潮熱發熱五臟齊損瘦弱虛煩骨蒸痿弱下血亦治腎消泄瀉赤白濁俱效</p>
<p>山藥（姜汗炒四兩）　山茱萸（去核淨肉四兩）　白茯苓（去皮）　澤瀉（去毛）　牡丹皮（去木各三兩）　懷慶熟地黃（酒蒸八兩）</p>
<p>上為末煉蜜為丸如梧桐子大每服八九十丸空心白湯送下</p>
<p>加附子（制）桂心各一兩名八味丸治下部虛寒</p>

<h3>人參固本丸</h3>
<p>清金補水養血滋陰</p>
<p>天門冬（去心）　麥門冬（去心）　生地黃　熟地黃（俱懷慶者各二兩四味熬膏曬乾取淨末四兩）　人參（去蘆一兩）</p>
<p>上為末煉蜜為丸如梧桐子大每服八九十丸空心白湯送下按古方四味酒煮搗膏人參末和丸不能用蜜且渣滓泥膈胃弱痰火人用多作痞悶今易此法甚效或加黃柏知母枸杞子各一兩五味子五錢尤妙</p>

<h3>秋石四精丸</h3>
<p>治腎虛盜汁腰痛</p>
<p>秋石（童便煉者佳）　白茯苓（上白結實者先去皮人乳浸三日）　芡實（去殼）　蓮肉（去心各二兩）</p>
<p>上為末紅棗十二兩煮去皮核搗膏為丸如梧桐子大每服八九十丸空心酒下一方有山藥薏苡仁小茴香各一兩名七精丸治症同上</p>

<h3>安神定志丸</h3>
<p>清心肺補脾腎安神定志消痰去熱</p>
<p>臺閣勤政勞心燈窗讀書刻苦皆宜服之累用奇效</p>
<p>人參（一兩五錢）　白茯苓（去皮）　白茯神（去心）　遠志（去心）　白朮（炒）　石菖蒲（去毛忌鐵）　酸棗仁（去殼炒）　麥門冬（去心各一兩）　牛黃（一錢另研）　辰砂（二錢五分草伏水飛另研為衣）</p>
<p>上為末圓眼肉四兩熬膏和煉蜜三四兩為丸如梧桐子大硃砂為衣每服三十丸清米湯下不拘時日三服</p>

<h3>八寶丹</h3>
<p>平調氣血滋補五臟</p>
<p>何首烏（赤白各一斤竹刀刮去粗皮米泔水浸一宿用黑豆二斗每次三升二合以水泡張每豆一層在底何烏一層在上重重鋪畢用砂鍋柳木甑蒸之以豆熟為度揀去豆曬乾又蒸如此九次將何首烏曬乾為末聽用）</p>
<p>赤茯苓（用竹刀刮去粗皮木槌打碎為末用盆盛水將藥傾入盆內其筋膜淨水上者去之沉盆底者留用如此三次濕團為塊就用黑牛乳五碗放砂鍋內慢火煮之候乳盡入茯苓內為度仍曬研為細末淨用一斤）白茯苓（制如上法用人乳煮候煮乳盡曬乾為末淨用一斤）　懷慶山藥（薑汁炒為末淨用四兩）川牛膝（去蘆酒浸一宿待何烏蒸至七次再將牛膝同鋪豆上蒸二次研為細末淨八兩）　川當歸（酒浸一宿曬乾為末淨用八兩）　破故紙（用黑芝麻如數同炒芝麻熟為度去芝麻將故紙研為細末淨四兩）甘州枸杞（去梗曬乾為末淨用八兩）　菟絲子（去砂土淨酒浸生芽搗為餅曬乾為末淨用八兩）　一方有杜仲（去粗皮薑汁炒斷絲為末淨八兩）</p>
<p>上藥不犯鐵器各為末稱足和勻煉蜜為丸先丸如彈子大一百五十丸每日三丸空心酒浸下一丸午前薑湯浸下一丸晚下鹽湯浸下一丸余藥丸如梧桐子大每服七八十丸空心鹽湯或酒送下此藥烏須黑髮延年益壽專治陰虛陽弱無子者服半年即令有子神效忌黃白蘿蔔牛肉</p>

<h3>加味坎離丸</h3>
<p>能生津益血升水降火清心明目蓋此方取天一生水地二生火之意藥輕而功用大久服而取效速王道之藥無出於此上盛下虛之人服之極效</p>
<p>川芎（大而白者洗淨小的不用）　當歸（全用好酒浸三日洗淨曬乾）　白芍藥（好酒浸一日切片曬乾）　甘州枸杞子（去梗）　女真實（即冬青子冬至日採蜜水拌九蒸九灑淨各四兩）　懷慶熟地黃（八兩一半用砂仁一兩以絹袋盛放罐底用酒二碗煮乾去砂仁不用一半用白茯苓二兩研末如前用酒一碗煮乾去茯苓不用）　甘菊花（去梗葉家園者野菊花不用淨二兩）　厚川黃柏（去粗皮淨八兩二兩酒浸二兩鹽水浸二兩人乳浸二兩蜜浸各一晝夜曬乾炒褐色）　知母（肥大者八兩四制與黃柏同）</p>
<p>上九味修制如法合和一處鋪開日曬夜露三晝夜取天地之精日月之華再為細末煉蜜為丸如梧桐子大每服八九十丸空心滾水打炒鹽湯送下</p>

<h3>十精丸</h3>
<p>補虛明目予每合自用極效</p>
<p>甘菊花（家園者夫梗葉淨）　石斛　（去根）　五加皮（去木洗）　柏子仁（去殼炒）　菟絲子（去土酒煮搗餅曬乾）　白朮（土炒）　肉蓯蓉（去心膜）　川巴戟（去心）　人參（去蘆）　鹿角膠（各二兩）</p>
<p>上為末將鹿角膠酒化開加煉蜜為丸如梧桐子大每服九十九丸空心滾白湯送下</p>

<h3>太極丸</h3>
<p>人身五臟配天五行一有不和則為災疾藥有五味各主五臟可使調和故曰太極</p>
<p>黃柏（屬水主滋腎水若以堅精去皮鹽酒浸三日炒褐色為末淨三兩六錢）　知母（屬金主清潤肺金若以降火佐黃柏為金水相生去皮酒浸一宿炒乾為末淨二兩四錢）　破故紙（屬火主收斂神明能使心包之火與命門火相通故元氣堅固骨髓充實蓋澀以去脫也新瓦炒香為末淨二兩八錢）胡桃仁（屬木主潤血氣凡血屬陰陰惡燥故用油以潤之佐故紙有木火相生之妙方書云黃柏無知母胡桃仁無故紙猶草木之無葉也去皮待各藥末成研如泥淨三兩二錢和入眾藥內）　砂仁（屬上醒浮開胃引眾藥下補丹田香而能竄和合五臟沖和之氣如天地以土為沖氣也去殼將五錢用川椒一兩同炒透去椒不用又用五錢不炒共為細末淨一兩）</p>
<p>上五味各製為末如法和勻煉蜜為丸如梧桐子大每服七十丸用滾白湯或酒隨意送下早晚各一服服久效不可言服至終身成地仙矣膏粱痰火人不宜用</p>

<h3>四靈丹</h3>
<p>好松脂（透明者一斤四兩以無灰好酒砂鍋內桑柴火煮數以竹杖攪稠黏住火以瓦瓶盛水投內結塊又復以酒煮之一日如此九遍煮三日共計二十七遍其脂瑩然如玉入口不苦澀為度搗為細末淨用十二兩凡煮不宜酒少少則易焦酒耗大半即可）　白茯苓（去皮筋為末淨八兩）　甘菊花（來園味甘者野菊不用去梗葉為末淨用八兩）　柏子仁（去殼淨炒去油為末淨用八兩）　懷慶熟地黃（取肥大沉水者曬乾稱八兩足以清酒洗淨蒸半日搗如泥）</p>
<p>上為末與地黃和勻煉蜜為丸如梧桐子大每服七十二丸空心好酒送下凡修合必擇天醫黃道吉日勿令婦人雞犬見服藥亦擇吉日此方出攝生眾妙方內云是榮陽王都憲所傳公在陝西得之一總戎年九十餘自幼服此方精力倍加胃氣強健飲食日增壽故彌長秘而不傳公懇得之如法修服不問寒暑亦獲奇效</p>

<h3>滋腎丸</h3>
<p>平補氣血滋陰降火少年氣血素弱人服極效女人亦宜</p>
<p>川芎（一兩）　當歸身（酒浸烘乾二兩）　白芍藥（酒炒二兩）　懷熟地黃（二兩）　人參（去蘆二兩）　白朮（陳土炒二兩）　白茯苓（去皮二兩）　甘草（炙一兩）　黃柏（去粗皮童便浸炒二兩）　知母（去皮蜜水拌炒二兩）　甘州枸杞（去梗二兩）　牛膝（去蘆酒洗二兩）　赤白何首烏（黑豆蒸七次各四兩）</p>
<p>上為末煉蜜為丸如梧桐子大每服九十丸空心淡鹽湯下</p>

<h3>大補陰丸</h3>
<p>溫補下元滋陰降火酒色人年五十以上服之極效</p>
<p>川黃柏（去粗皮淨四兩一兩鹽酒浸炒一兩蜜水浸炒一兩童便浸炒一兩醋浸炒俱炒褐色勿焦）　知母（去皮四兩四制同黃柏）　鹿角膠（二兩）　鹿角霜（四兩）　龜板膠（二兩）　龜板霜（四兩）牛膽槐子（淨八兩臘月裝入牛膽至仲春取出聽用）　女真實（即冬青子冬至月採蜜水九蒸九曬四兩）　虎脛骨（一兩酥炙）　熟地黃（懷慶者四兩）　山茱萸（去核二兩）　北五味子（去梗一兩）　鎖陽（一兩）　乾薑（炒黑三錢）　雄豬脊髓（一條）</p>
<p>上為末煉蜜一斤先將龜鹿膠化開和為丸如梧桐子大每服九十丸空心煨鹽湯送下一方有烏藥葉（四兩）</p>

<h3>加味瓊玉膏</h3>
<p>補血益損清金水以滋化源老少虛損極效</p>
<p>懷生地黃（四斤）　白朮（四兩）　白茯苓（十五兩）　人參（六兩）　甘州枸杞子（半斤淨去梗）　天門冬（去心淨半斤）　麥門冬（去心淨半斤）</p>
<p>上先以地黃酒洗淨用水四碗浸一晝夜搗取自然汁和蜜三之一以參苓等藥先為末拌入蜜與地黃汁內用瓶貯與紙三十重並箬包其口用桑柴火蒸煮三晝夜取出再換蠟紙包封十數重沉井底一晝夜取起再如前煮半日每日清晨食遠白湯點服清肺健脾養血潤燥須於雞犬不聞處制之其蜜用生絹濾淨地黃勿犯鐵</p>

<h3>山精丸</h3>
<p>健脾除濕去火消痰神效</p>
<p>蒼朮（二斤茅山者先用米泔水浸三日用竹刀刮去粗皮陰乾）　桑椹（紫熟者一斗取自然汁去渣將蒼朮浸入汁內令透取出曬乾又浸又曬如此者九次用木臼搗為細末）　甘州枸杞（一斤去梗）　地骨皮（去木土一斤）</p>
<p>上並曬為末與蒼朮末和勻煉蜜為丸彈大每服二丸百沸湯下按此方強脾益腎老少俱效</p>

<h3>還元丹</h3>
<p>養脾補腎最妙老人尤宜常服脾泄腎泄俱效</p>
<p>山藥（薑汁炒）　白茯苓（去皮）　小茴香　薏苡仁（炒）　蓮肉（去皮心）　砂仁（炒）　神麯（半斤）　粉草（半斤二味共炒一時不可焦）</p>
<p>上為末用黃牛胎犢一條一斤以下者佳熬膏入糯米粉四兩和成硬糊樣為丸彈大每服大人二丸小兒一丸飢時飲湯嚼下</p>
<p>按此方脾腎要藥功效甚大不能盡述</p>

<h3>玉柱杖</h3>
<p>（一名一秤金一名小接命）</p>
<p>填精益腎烏須黑髮延年益壽方士以此為服食</p>
<p>沒石子（五錢）　沉香（二錢）　大茴香（三錢）　槐子（三兩）　五加皮（三兩）　枸杞子（三兩）　破故紙（新瓦炒三兩）　懷熟地黃（三兩）</p>
<p>上藥共一斤胡桃肉一斤白糖半斤共為末煉蜜一斤為丸如彈大每服二丸空心鹽湯化下按此補腎為主鬚髮雖不即黑而潤澤不燥尤為妙也西北高燥人宜常服</p>

<h3>二至丸</h3>
<p>清上補下第一方價廉而功極大常服累有奇效冬至日取冬青子不拘多少陰乾以蜜酒拌透盒一晝夜粗布袋擦去皮曬乾為末新瓦瓶收貯待夏至日取旱蓮草數十斤搗自然汁熬膏和前藥末為丸如梧桐子大每服百丸臨臥時酒送下其功甚大初服便能使老者無夜起之累不旬日使膂力加倍又能變白鬚發為黑理腰膝壯筋骨強陰不走酒色痰火人服尤更奇妙</p>

<h3>天門冬膏</h3>
<p>滋陰降火清肺補腎充旺元陽昔有一王子單服此膏連生三十二子壽年百歲行步輕健耳目聰明如童子</p>
<p>用天門冬揀去枯壞者十五斤用溫水潤透去皮心淨曬乾用淨肉十斤搗碎每斤用水五碗共五十碗入銅鍋慢火煮乾三停之二用布絞淨將渣再搗爛用水三十碗再熬約減大半又以布絞淨去渣不用將前後二汁和一處文武火熬至滴水不散似稀糊樣取起出火毒三日以瓷罐收貯封固每日空心上午下午先挑膏半盞在碗內以滾白湯調開服之冬月用酒服有痰用淡薑湯調服大抵此膏最宜酒色過度之人常服極好上焦熱有痰食後多服一次下焦熱小便赤澀空心多服一次按此方肺腎之藥清金補水果妙</p>

<h3>十珍膏</h3>
<p>補養血氣調理脾胃清肺滋腎尋常預服調補及大病後調補要藥</p>
<p>人參（去蘆八兩）　白朮（潔白者佳蒼黑不用淨一斤）　川歸身（酒洗淨去頭尾烘乾淨用八兩）黃耆（去蘆梢八兩）　天門冬（去心淨八兩）　麥門冬（去心淨八兩）　懷生地黃（肥大沉水者不枯者）　熟懷地黃（肥大沉水不枯者各十兩）　甘州枸杞子（去梗八兩）　北五味子（去梗四兩）</p>
<p>上藥切片制淨入銅鍋內用水浸高於藥二寸文武火熬至藥面上無水以新布絞取清汁另放將渣入臼內搗如泥下鍋內仍用水高二寸再熬候藥面上水乾又絞取清汁將渣又搗又熬如此三次以渣無味為度去渣不用將前後三次藥汁再入鍋內文火熬如稀糊樣下煉蜜八兩再熬二三沸收起隔宿必有清水浮上亦宜去之其膏放井水缸內出火毒三日每服半盞滾白湯空心食遠時調服一日二次極有奇效</p>

<h3>何首烏丸</h3>
<p>補益腎肝聰耳明目卻病延壽第一藥也</p>
<p>何首烏赤白各半不拘多少用砂鍋柳木甑蒸下用紅棗一層中用黑豆一層再安何首烏於豆上又用黑豆一層紅棗一層蓋之慢火蒸半日以豆極爛為度將何首烏乘熱搗碎曬乾為細末每藥末一斤用干菊花去梗葉另為末二兩和勻以人參固本丸料熬膏和為丸如梧桐子大每服九十九丸空心白湯送下按此方予自合服累有奇效不能盡述</p>

<h3>長春丹</h3>
<p>治症同前</p>
<p>何首烏（用水浸去粗皮竹刀切片赤白各三斤黑豆拌蒸曬九次為末淨二斤）　仙茅（竹刀去蘆刮去毛粳米泔浸去皮黑豆拌蒸曬九次淨末二斤）　白茯苓（去皮為末水飛去筋取沉底曬乾用粳米鋪底放上蒸三次研淨末一斤）　茅山蒼朮（米泔水浸去粗皮切片老米拌蒸曬九次）　牛膝（去蘆酒浸一宿同何烏蒸三次淨末各一斤）</p>
<p>上各為末和勻煉蜜為丸如梧桐子大每服百丸空心滾白湯下忌牛肉蘿蔔蔥蒜按此方即仙茅丸一云加桑椹汁一斤拌蒼朮末尤妙中年以後服極效</p>

<h3>神仙長春廣嗣丹又名保命延齡丹</h3>
<p>昔日通真子奏進此方治男子五勞七傷顏貌衰朽形體羸瘦中年陽事不舉精神短少未至五旬鬚髮先白左癱右瘓步履艱難婦人下元虛冷（久不）孕育累經奇驗</p>
<p>人參（去蘆一兩）　天門冬（去心一兩）　懷山藥（薑汁炒二兩）　當歸（酒洗一兩）　澤瀉（去毛一兩）　懷生地（二兩）　懷熟地（二兩）　川巴戟（去心二兩）　川牛膝（去蘆酒浸曬乾二兩）　山茱萸（去核一兩）　肉蓯蓉（酒洗去心膜曬乾三兩）　菟絲子（酒洗去土仍用酒蒸搗餅曬乾四兩）　遠志（去蘆甘草湯泡去心三兩）　赤石脂（另研一兩）　白茯苓（去皮一兩）　川杜仲（去粗皮薑汁炒斷系二兩）　甘州枸杞子（去梗三兩）　地骨皮（去木洗去土淨二兩）　車前子（去土一兩）　石菖蒲（去土一寸九節者為佳銅刀切片炒一兩）　柏子仁（去殼炒一兩）　廣木香（一兩）　川椒（去目梗閉口者炒出汗淨二兩）　覆盆子（去梗一兩）　北五味子（去梗一兩）</p>
<p>上藥二十五味合五五之數共為末煉蜜為丸如梧桐子大每服三十丸空心上午下午各用溫酒送下日進三服服藥十日小便雜色是舊疾出也又十日後鼻頭酸言語雄壯胸中疼痛咳嗽吐膿形色不衰是肺病出也一月後腹中一應七情氣滯脾胃勞倦沉寒痼冷諸積皆退百日後容顏不衰鬚髮變黑齒落更生老弱亦能康健目視十里力加百倍行路不倦壽算延長卻病多子邵真人傳施此方吾徽郡數十人服皆獲延年多子之效茲不盡錄</p>

<h3>延齡育子丸</h3>
<p>治少年斫喪中年無子婦人血虛不能孕育此方一料夫婦齊服服盡即孕累經奇驗決不食言</p>
<p>天門冬（去心五兩）　麥門冬（去心五兩）　懷生地黃　懷熟地黃（肥大沉水者各五兩）　人參（去蘆五兩）　甘州枸杞子（去梗）　菟絲子（淨洗酒蒸搗餅曬乾五兩）　川巴戟（去心五兩）　川牛膝（去蘆酒洗淨五兩）　白朮（陳土炒五兩）　白茯苓（去皮牛乳浸曬五兩）　白茯神（去皮心人乳浸曬五兩）　鹿角膠（真者五兩）　鹿角霜（五兩）　柏子仁（炒去殼淨五兩）　山藥（薑汁炒五兩）　山茱萸（去核淨五兩）　肉蓯蓉（去內心膜五兩）　蓮蕊（開者不用淨五兩）　沙苑蒺藜（炒五兩）　酸棗仁（炒淨二兩）　遠志（去蘆甘草燈心湯泡去心淨二兩）　北五味子（去梗二兩）　石斛（去根二兩）</p>
<p>上藥二十四味合二十四氣一百單八兩各一年氣候之成數為生生不息之妙　各制淨為末將鹿膠以酒化開和煉蜜為丸如梧桐子大每服男人九十丸婦人八十丸空心滾白湯下忌煎炙蔥蒜蘿蔔按此方南人服效</p>

<h3>秘傳六神丸</h3>
<p>固真育子累有奇效</p>
<p>蓮蕊須（未開者佳漸採漸曬勿令黑淨用四兩）　生芡實（大者五百個去殼）　龍骨（煆五錢）山茱萸（鮮紅者去核淨肉三兩）　覆盆子（淨二兩）　沙苑蒺藜（炒四兩要真者假的不效）</p>
<p>上先將蒺藜搗碎水熬膏濾去渣其渣仍曬乾和眾藥為末煉蜜和蒺藜膏為丸如梧桐子大每服九十丸空心煨鹽湯下按此方北人服效</p>

<h3>延齡育子龜鹿二仙膠</h3>
<p>此方倫於嘉靖巳亥年八月從遊湖州陸聲野先生門下業就南歸杭城得遇異人所授專治男婦真元虛損久不孕育或多女少男服此膠百日即能有孕生男應驗神速並治男子酒色過度消鑠真陰婦人七情傷損血氣諸虛百損五勞七傷並皆治之</p>
<p>鹿角（用新鮮糜鹿膠角解的不用馬鹿角不用去角梢腦骨二寸截斷劈開淨用十斤）　龜板（去弦洗淨五斤捶碎）</p>
<p>上二味袋盛放長流水內浸三日用鉛壇一隻加無鉛壇底下放鉛一大片亦可將角並板放入壇內用水浸高三五寸黃蠟三兩封口放大鍋內桑柴火煮七晝夜煮時壇內一日添熱水一次勿令沸起鍋內一日夜添水五次候角酥取出洗濾淨去渣其渣即鹿角霜龜板霜也將清汁另放外用人參十五兩枸杞子三十兩用銅鍋以水三十六碗熬至藥面無水以新布絞取清汁將渣石臼木槌搗細用水二十四碗又熬如前又濾又搗又熬如此三次以渣無味為度將前龜鹿汁並參杞汁和入鍋內文火熬至滴水成珠不散乃成膠也候至初十日起日曬夜露至十七日七日夜滿採日精月華之氣如本月陰雨缺幾日下月補曬如數放陰涼處風乾每服初一錢五分十日加五分加至三錢止空心酒化下此方本郡六邑魯治百餘人並獲多男之喜但止利濟一方不能遍及海內故表而出之以廣生生不息之仁也用者幸勿輕忽</p>

<h3>秋石乳酥丸</h3>
<p>補養氣血接續真元降陰火生腎水此以真補真之妙藥也</p>
<p>秋石（半斤煉法見前同乳粉收秋露數晚曬乾聽用）　乳粉（曬淨四兩曬法取人乳若干即下銅鍋內煎熬成膏用大瓷盆盛於烈日中曬之盆下用水乃未濟之妙也否則永曬不幹）　白茯苓（一斤去皮為末水淘去筋膜沉底者曬乾淨半斤）　天門冬（去心四兩）　麥門冬（去心四兩）　人參（去蘆四兩）　懷生熟地黃（各四兩酒洗烘乾不犯鐵）　甘州枸杞子（去梗四兩）</p>
<p>上為末煉蜜為丸如梧桐子大每服三十丸空心滾白湯送下好酒亦可按此方男女血虛成癆者服效</p>

<h3>小接命丹</h3>
<p>治男婦氣血衰弱痰火上升虛損困憊飲食少進並治左癱右瘓中風不語手足腰膝身體疼痛動履不便極效</p>
<p>用人乳二酒盞香甜白者佳好梨搗汁一酒盞傾放鏇或銅鏇內入湯鍋內頓滾有黃沫起開青路為度每日空心一服能消痰補虛生血乃以人補人其效無加其中風不語半身不遂曾照此方治好數人</p>

<h3>長春真人保命服食</h3>
<p>治諸虛百損五癆七傷四肢無力手足頑麻血氣虛耗面黃肌瘦陽事不舉眩暈噁心飲食減少此方能補諸虛添精益髓滋潤皮膚玄壯神氣身體輕健開胃進食返老還童發白再黑齒落更生顏貌如童大有神效</p>
<p>白茯苓（去皮）　天門冬（去心）　山藥（薑汁炒）　懷熟地黃　何首烏（忌鐵照前蒸曬九次）　枸杞子（甘州者去梗各淨四兩）　乾薑（煨二兩）　小茴香（炒一兩）　青鹽（少許）　蓮肉（去皮心半斤）　麥門冬（去心四兩）　鹿角膠（四兩）　鹿角霜（四兩）破故紙（四兩麻油一兩炒）　大核桃（去殼並皮半斤）　沒石子（十個）　旱蓮草（曬乾淨末一斤）　新粟米（一升為末用牛乳二斤酒二斤水二斤拌米粉煮作糊丸藥）</p>
<p>上為細末以前米糊為丸如彈大每丸濕重五錢干約三錢每服一丸滾白湯調化服日進二服不拘在家在外少者一服老者二服男女皆同按此方補虛養胃雖三五日不食亦不飢不渴</p>

<h3>補血順氣藥酒方</h3>
<p>清肺滋腎和五臟通血脈</p>
<p>天門冬（去心）　麥門冬（去心各四兩）　懷生熟地黃（肥大沉水枯朽不用各半斤）　人參（去蘆）　白茯苓（去皮）　甘州枸杞子（去梗各二兩）　砂仁（七錢）　木香（五錢）　沉香（三錢）</p>
<p>上用瓦壇盛無灰好酒三十斤將藥切片以絹袋盛放壇內浸三日文武火煮三時以酒黑色為度如熱去木香減人參五錢如下虛或寒將韭子炒黃色為細末空心用酒三五盞每盞挑韭末一銅錢飲之婦人下虛無子久飲亦能生子用核桃連皮過口此藥甚平和治癆疾補虛損烏鬚髮久服貌如童子忌黃白蘿蔔蔥蒜否則令人鬚髮易白</p>

<h3>許真人神驗椒丹</h3>
<p>專治五癆七傷諸虛百損並治諸蟲積暖下元</p>
<p>用真正川椒二斤半揀去枝目用釜一口覆於地上四圍用刀盡記去釜用炭火燒紅其地用米醋潑地將紙攤椒在上以釜益之良久取出為末用煉蜜一斤四兩為丸如梧桐子大每服十五丸（空心）酒下半年加至二十丸一年後加至二十五丸止忌五辛蔥蒜余無所忌其椒切勿用閉口者</p>

<h3>八仙早朝糕</h3>
<p>專補脾胃虛弱膨悶泄瀉不思飲食服之神效</p>
<p>白朮（炒四兩）　白茯苓（去皮三兩）　陳皮（去白二兩）　山藥（薑汁炒四兩）　蓮肉（去皮心四兩）　薏苡仁（炒四兩）　芡實（去殼淨四兩）　人參（去蘆一兩）　砂仁（炒一兩）</p>
<p>上為末用白晚米五升半糯米二升共七升半打粉共藥和勻用蜜三斤如無蜜沙糖四斤代之和勻如做糕法入籠中盡片蒸熟焙乾瓦罐封貯飢時取三五片食之白湯漱口小兒用加山楂肉四兩麥芽面四兩去人參按此方不拘男女大小皆可用出外甚便</p>

<h3>養元辟穀丹</h3>
<p>安五臟消百病和脾胃補虛損固元氣實精髓能令瘦者肥老者健常服極效</p>
<p>用黃犍牛肉不拘多少去筋膜切作棋子大片用河水洗數遍令血味盡仍用河水浸一宿次日再洗一二遍水清為度用無灰好酒入瓦罐內重泥封固用桑柴文武火煮一夜取出焙乾為末如黃沙色者佳焦黑無用牛末一斤加入後藥二斤為則</p>
<p>山藥（切片用蔥鹽炒黃去蔥鹽不用）　白茯苓（去皮為末水浮去筋曬乾用）　蓮肉（蔥鹽炒去心並蔥鹽用）　白朮（潔白者黃黑色不用陳土炒黃去土淨）　芡實粉（去殼淨）　薏苡仁（炒）　白扁豆（薑汁炒各半斤）　人參（去蘆四兩）　小茴香（去枝梗微炒四兩）　乾薑（炒四兩）　砂仁（炒二兩）　川椒（去目炒出汗用去閉口者二兩）　青鹽（四兩）　甘草（炙四兩）　烏梅肉（二兩熬濃汁半甌）　粳米（炒黃淨取粉五斤半）</p>
<p>上藥為末與米粉牛末和勻外用小紅棗五斤陳年醇酒五斤煮紅棗極爛去皮核搗膏加煉蜜二斤半共和為丸如彈大每次二丸不拘冷熱湯水嚼下一日服三五次永不飢按此方實王道之妙用平時預合荒亂之時可以避難濟飢雖一兩月不食不損胃中元氣寶之寶之如渴只飲冷水</p>

<h3>辟穀休糧方</h3>
<p>此方亦平和有理但未經試</p>
<p>大豆（五升淘淨去皮蒸三次為細末）　大麻子（五升湯浸一宿濾出蒸三次令口開去皮為末）糯米（五升淘淨其白茯苓一處蒸熟曬乾為末）　白茯苓（去皮同粳米蒸熟曬乾為末）</p>
<p>上將麻仁末一處搗爛如泥漸入豆黃末同和勻團如拳大再入甑蒸從酉時上火子末住火寅時取出辰至午曬乾磨為末服之以飽為度不得吃一切物用麻子汁下第一頓一月不飢第二頓四十日不飢第三頓一千日不飢第四頓永遠不飢顏色日增氣力倍加如渴飲麻仁汁轉更不渴且能滋潤五臟若欲吃食時用葵子三合為末煎湯放冷服之解其藥後初間吃白米粥湯三日一日四五次每次少少飲之三日後諸般飲食無避忌服此藥不食時大忌欲事餘外不忌此神仙度世之太寶也幸勿輕忽</p>

<h1>後集</h1>

<h2>春月諸症治例</h2>
<p>內經曰春三月此謂發陳天地俱生萬物以榮夜臥早起廣步於庭披髮緩形以使志生生而勿殺予而勿奪賞而勿罰此春氣之應養生之道也逆之則傷肝夏為寒變奉長者少大法春月天氣上升人氣亦上升應之故春月諸症宜吐發散升提不宜降下通利蓋吐即古之宜劑今人謂宣為瀉者誤也春月肝膽木氣用事木旺則土虧故脾胃土氣受邪宜抑肝補脾藥為主清脯養心藥佐之隨症施治全在活法虛則補之實則瀉之寒則溫之熱則清之高者抑之下者舉之以平為期余皆仿此今將春月諸症宜用方法詳陳於左對症施治權而用之毋膠柱而鼓瑟始可以言醫矣</p>

<h3>芎芷藿蘇散</h3>
<p>治春初人事勞擾飢飽失節或解衣沐浴觸胃風寒致成內傷外感頭疼發熱嘔吐眩悶胸膈脹痛惡食或鼻流清涕咳嗽生痰鼻寒聲重並宜服一二劑即愈仍忌腥暈三五日</p>
<p>川芎（一錢）　白芷（八分）　細辛（五分去葉）　乾葛（一錢）　甘草（三分生）　紫蘇葉（一錢）藿香（八分去土）　半夏（一錢薑製）　陳皮（八分）　蒼朮（麩炒一錢）　枳殼　（去穰七分）　桔梗（去蘆七分）　淡豆豉（八分不用亦可）</p>
<p>上用姜三片蔥白一根水一鍾半煎八分食後熱服有汗不用蔥白單內傷無外感單外感無內傷各有本條頭痛不止加藁本（八分）嘔吐不止加乾薑（炒）砂仁（炒各七分）發熱或潮熱不退加柴胡黃芩（各一錢）胸膈脹悶加山楂枳實（各一錢）發而汗不出熱不退加麻黃（一錢半）蔥白（二根）咳嗽生痰加杏仁前胡金沸花（去梗各八分）南五味子（五分）</p>

<h3>芎蘇香葛散</h3>
<p>治春月感冒傷寒及山嵐瘴毒癘氣人感觸之頭疼身痛惡寒發熱人迎脈浮大者是紫蘇葉（一錢去梗）　香附（炒）　白茯苓（去皮）　乾葛　陳皮　藿香　半夏（制）　前胡（去蘆）　川芎（各八分）　白芷　防風（去蘆各七分）　甘草（三分）　蒼朮（一錢五分）　羌活（一錢）</p>
<p>上用姜三片蔥白連須二根水二鍾煎一鍾熱服厚被覆汗出為度無汗再服忌雞魚豬羊肉</p>

<h3>九味羌活湯</h3>
<p>解利春夏秋傷寒熱病極穩</p>
<p>羌活（一錢）　防風（一錢）　蒼朮（一錢五分）　川芎（一錢）　黃芩（一錢）　白芷（一錢）　甘草（五分）　細辛（五分）　生地黃（一錢不開亦效）</p>
<p>上用姜三片蔥白一根水二鍾煎一鍾熱服以汗為度無汗再服汗原多去蒼朮加白朮（一錢）渴加石膏（一錢）熱甚加柴胡山梔（各一錢）胸膈脹悶加枳殼桔梗（各七分）</p>

<h3>六神通解散</h3>
<p>治春末夏初傷寒並時行熱病發表甚捷凡瘟疫初起預用藿香正氣散煎一大鍋每人服一碗以防未然若已病用前九味羌活湯並此服之皆有奇效</p>
<p>麻黃（去根節一錢）　防風（一錢半）　黃芩　石膏（細末）　滑石（細末各二錢半）　蒼朮（四錢）　甘草（一錢）</p>
<p>上用姜三片蔥白五寸淡豆豉五十粒水二大鐘煎一大鐘熱服微汗周身即解一雲南方春夏用防風秋冬用麻黃北方春夏依本方秋冬倍麻黃</p>

<h3>芎芷香蘇散</h3>
<p>治春月傷風鼻塞聲重或流清涕咳嗽痰壅氣逆人迎脈浮緩者是</p>
<p>川芎　白芷　蘇葉（紫者去梗）　香附（各一錢）　陳皮　防風　羌活（各八分）　甘草（五分）</p>
<p>上用姜三片蔥白三寸水一鍾半煎八分食後熱服有痰加半夏（一錢）咳嗽加杏仁桑白皮（各八分）五味（十粒）</p>

<h3>加減藿香正氣散</h3>
<p>治非時傷寒頭疼懼寒壯熱痞悶嘔吐時行疫癘山嵐瘴瘧不伏水土等症</p>
<p>藿香（一錢五分）　白芷　川芎　紫蘇葉　半夏　蒼朮（各一錢）　白朮　白茯苓　陳皮　厚朴（薑製各八分）　甘草（三分）</p>
<p>上用姜三片棗一枚水二鍾煎一鍾食遠熱服</p>

<h3>加減補中益氣湯</h3>
<p>治工作勞力讀書刻苦勤政傷神飢飽失節此數者俱發熱頭疼惡寒身強體痛若勞極復感風寒則頭疼如破全似外感傷寒之症誤用發表之藥鮮不傷人故東垣先生髮內外傷辨首用此方取濟甚眾蓋內傷之脈右手氣口三倍大於左手人迎東垣辨法甚詳茲不復贅</p>
<p>人參（一錢半去蘆）　黃耆（一錢半蜜炙）　白朮（一錢）　當歸（一錢酒洗）　甘草（炙七分）陳皮（八分）　升麻（五分）　柴胡（五分）</p>
<p>按此方用升麻柴胡能升提陽氣下陷蓋柴胡能使胃中之清氣左旋而上達升麻能使胃中之清氣右旋而上升有此妙用人多不考</p>
<p>上用姜三片棗一枚水二鍾煎八分食遠服或加黃柏五分以救腎水而瀉胃中伏火尤妙如身大熱只一服氣和微汗而愈夏月神短加麥門冬五味子口乾加葛根身刺痛乃少血加當歸頭痛加川芎蔓荊子頭頂痛加藁本細辛諸頭痛並用此四味有痰加半夏生薑咳嗽春加川芎佛耳草夏加黃芩麥門冬五味子秋加黃芩麻黃金沸草冬加款冬花馬兜鈴久嗽乃肺中伏火去參耆飲食不下乃胃中有寒或氣滯春加青皮陳皮木香冬加益志仁草豆蔻仁夏加芩連秋加檳榔砂仁心下痞加枳實黃連白芍藥腹脹加枳實木香砂仁厚朴天寒加薑桂腹痛加白芍藥炙甘草有寒加桂心夏月加黃芩甘草芍藥冬加半夏益志仁草豆蔻脅痛加砂仁柴胡甘草白芍藥如臍下痛加熟地黃不止乃是寒加官桂腳軟加黃柏防己</p>

<h3>附子理中湯</h3>
<p>治房勞內傷寒邪中陰面青腹痛六脈沉微無頭疼無大熱者宜用若陽厥並陽症似陰誤服必致夭人慎之慎之</p>
<p>人參（去蘆二錢半）　白朮（土炒二錢）　甘草（炙一錢）　乾薑（銼二錢）　附子（生二錢）　倍甘草去參朮名四逆湯加川烏鹿茸（各一錢半）名三建湯若在疑似只以炙法並熱鹽熨甚穩上用水一鍾半姜五片煎七分（溫服）</p>

<h3>飲食內傷</h3>
<p>亦頭疼發熱胸滿嘔吐俗呼夾食傷寒兩寸脈弦緊右關脈洪大或沉濡者是此當分治不可混一蓋飲者水也傷無形之氣食者物也傷有形之血</p>

<h3>生薑五苓湯</h3>
<p>治大飲冷水傷脾過飲酒而傷氣</p>
<p>生薑　豬苓　澤瀉　白朮　白茯苓　半夏　枳實（各一錢）　甘草（三分）</p>
<p>上用水一鍾半煎七分溫服取小汗此治傷飲之輕者若重而水蓄積為脹滿者本方去甘草加大戟（長流水煮三次去皮曬乾七分）　芫花（醋浸炒乾）　甘遂（麵包煨面去心各八分）　黑牽牛（研末二錢）　檳榔（一錢）</p>
<p>上用水二鍾煎一鍾空心服利水盡即愈</p>

<h3>半夏神麯湯</h3>
<p>治過食寒冷硬物及生瓜果致傷太陰厥陰或嘔吐痞悶腸澼或腹痛惡食此治（傷之輕者）</p>
<p>陳皮（一錢）　白朮（一錢五分）　半夏（一錢二分）　乾薑（八分炒）　神麯（炒一錢）　三稜（醋炒）　莪朮（醋炒）　白茯苓（去皮）　山楂（去核）　枳實（炒各一錢）　砂仁（七分炒）　麥芽（炒八分）</p>
<p>上用姜三片煎熱服不拘時</p>

<h3>神保丸</h3>
<p>消一切生冷積滯此治傷之重者</p>
<p>全蠍（乾者十個）　木香（二錢五分）　胡椒（二錢）　巴豆（四十九粒去殼皮心膜油）</p>
<p>上三味為末入巴豆霜和勻炊餅為丸如麻子大硃砂為衣每服五七丸隨症調引冷下按此丸北人甚效南人斟酌用之小兒三丸</p>

<h3>枳實青皮湯</h3>
<p>治食熱物（過傷）太陰厥陰嘔吐膨脹（下痢）</p>
<p>白朮（一錢半）　枳實　青皮　陳皮　黃連（薑汁炒）　麥芽　山楂肉　神麯（炒各一錢）　甘草（三分）　酒大黃（一錢七分）</p>
<p>上用水二鍾煎一淺鍾溫服此傷之輕者傷（重用後方）</p>

<h3>萬病遇仙丹</h3>
<p>治濕熱內傷血分之重者</p>
<p>黑牽牛（一斤半生半炒取頭末五分）　大黃（酒浸曬乾）　三稜　莪朮　豬牙皂角（去弦子）茵陳　枳殼（大穰）　檳榔（各四兩俱生）　木香（一兩）</p>
<p>上為細末用大皂角打碎去子煎濃湯去渣煮麵糊為丸如綠豆大每服實而新起二錢虛而久者一錢白湯送下小兒各減半食積所傷本物煎湯下大便不通麻仁湯下小便不通燈心木通湯下隨病輕重加減調引</p>

<h3>加味小青龍湯</h3>
<p>治春初寒邪傷肺咳嗽</p>
<p>乾薑（炒黑）　細辛　麻黃　桂枝　甘草（各五分）　白芍藥　五味子（各一錢）　半夏（薑製一錢半）　枳殼　桔梗（各五分）　白茯苓　陳皮（各八分）</p>
<p>上用姜三片水煎食小時稍熱服</p>

<h3>升麻葛根湯</h3>
<p>治大人小兒時氣瘟疫發熱頭疼及瘡疹已發未發疑似之間並宜服之極穩</p>
<p>升麻　葛根　白芍藥（各一錢半）　甘草（一錢）</p>
<p>上用姜三片蔥白（三寸）水一鍾半煎七分食遠服頭疼加川芎白芷（各一錢）身痛背強加羌活防風（各一錢）發熱不退春加柴胡黃芩（各一錢五分）防風（一錢）夏加黃芩（一錢半）石膏（二錢半）咽痛加玄參桔梗（各一錢）頭項面腫加防風荊芥連翹白芷（各一錢半）石膏（三錢）牛蒡子川芎（各一錢）小兒麻疹加（防風）連翹（各一錢）</p>
<p>痘疹未發依本方已發屬熱加連翹紫草（各一錢）大人遍身癮疹加防風蒼朮（各一錢半）牛蒡子蒼耳子浮萍草（各一錢）</p>

<h3>防風通聖散</h3>
<p>通治諸風濕熱瘡毒時行熱病</p>
<p>防風　川芎　當歸　白芍藥　連翹　薄荷（各一錢）　荊芥穗　白朮　山梔（各七分）　黃芩　桔梗（各一錢半）　石膏（二錢）　滑石（三錢）　甘草（五分）</p>
<p>上用姜三片水二鍾煎一鍾食遠服此方內大黃芒硝麻黃對症漸加風熱內甚欲下加大黃（三錢）芒硝（二錢）風濕熱在表欲汗加麻黃（二錢）蔥白（三根）自利體寒去硝黃自汗去麻黃加桂枝（秋冬二錢春夏八分）常用依（本方）</p>

<h3>加味治中湯</h3>
<p>治春月肝木乘脾腹痛久瀉不止</p>
<p>人參（一錢半）　白朮（陳土炒二錢半）　白芍藥（醋炒一錢半）　青皮（去穰麩炒七分）　陳皮（去白一錢）　乾薑（炒黑一錢）　甘草（炙一錢）　蒼朮（麩炒一錢半）　升麻（五分）　柴胡（五分）　防風（五分）　白茯苓（一錢）　久瀉虛寒加熟附（一錢）</p>
<p>上用姜三片大棗二枚水二鍾煎一鍾食前服</p>

<h3>人參敗毒散</h3>
<p>治感冒非時傷寒頭疼身熱拘急憎寒壯熱及時行瘟疫熱病</p>
<p>人參（一錢）　羌活（一錢半）　獨活（一錢）　柴胡（一錢二分）　前胡（一錢）　葛根（一錢）甘草（五分）　桔梗　枳殼　茯苓（各八分）　川芎　蒼朮（各一錢）</p>
<p>勞役得病倍用人參加白朮當歸白芍藥去獨活前胡饑饉兵亂之餘飲食不節起居不常致患時行瘟熱病沿門闔境傳染相似宜此方加白朮黃耆（生）倍人參去前胡獨活甚效若多服未效而有寒熱往來者必用小柴胡湯不拘服數並無過失又有一種蝦蟆瘟病使人痰涎風壅煩熱頭疼身痛嘔逆或飲食起居如常但咳聲不響續續相連儼如蛙鳴故俗號曰蝦蟆瘟也嘉靖巳未五六七月間江南淮北在處患動數百里皆同甚至赤眼口瘡大小腮腫喉閉風壅噴嚏涕唾稠黏並用此方去茯苓桔梗獨活加青皮陳皮白朮藿香但以荊芥為引不用生薑薄荷一二服即愈</p>

<h3>治時行熱病單方</h3>
<p>歌曰</p>
<p>人間治疫有仙方　一兩姜蠶二大黃</p>
<p>薑汁為丸如彈大　井花調服便清涼</p>

<h3>治瘟疫不相傳染方</h3>
<p>赤小豆不拘多少以新布囊</p>
<p>盛放井中浸二日取出舉家各服二十一粒（不染試效）</p>
<p>凡入瘟疫之家以麻油調雄黃末塗鼻孔中或預飲</p>
<p>雄黃燒酒一二杯然後入病家則不相傳染既出</p>
<p>則以紙捻探鼻深入令噴嚏為佳</p>

<h3>神朮散</h3>
<p>治閩廣山嵐瘴氣不伏水土等症</p>
<p>厚朴（一錢半）　蒼朮（一錢半）　陳皮（一錢半）　甘草（一錢）　石菖蒲（一錢）　藿香（一錢半）</p>
<p>上用姜三片棗一枚煎服一方用香附（一錢半）代菖蒲名神朮散氣散尤妙</p>

<h3>紫金錠即萬病解毒丸</h3>
<p>治山嵐瘴氣並嶺南兩廣蠱毒若從宦於此才覺意思不快即服一錠或吐或利隨手便瘥及誤中一切毒物若牛馬六畜中毒亦以此藥解之</p>
<p>山慈姑（此味與老鴉蒜相似但蒜無毛而此上有毛包宜辨真去皮焙乾淨末二兩）千金子（一名續隨子去殼研去油二兩）紅芽大戟（一名紫大戟江南者佳形如甘草而堅不可用綿大戟焙乾淨末一兩五錢）麝香（三錢另研）一方有雄黃五錢無亦效</p>
<p>上為末以糯米打糊和勻搗千餘下一方印作四十錠每服半錠水磨服一切腫毒磨塗患處須擇冬至端陽七夕重陽日天月二德天醫日灑掃淨室焚香至誠修合無不靈驗忌婦人雞犬孝子見</p>

<h3>發散傷寒單方</h3>
<p>凡遇傷寒倉卒無藥不問陰陽二症只用生薑一兩蔥白十莖好酒二大鐘煎一大鐘去渣熱服被蓋周身汗透即解勿令汁汗大過忌大𦾥五七日春秋依此方夏月薑蔥減半冬月倍用若加黑豆（二合）炒同薑蔥煎服冬月尤妙</p>

<h3>發散傷風單方</h3>
<p>用紫蘇葉三錢油核桃五個打碎姜三片蔥白二根水二鍾煎一鍾熱服微汗即解夏月不用蔥按此二方極效出路荒僻無醫之處甚便</p>

<h2>夏月諸症治例</h2>
<p>內經（曰夏）三月此謂蕃秀天地氣交萬物華實夜臥早起無厭於日使志無怒使華英成秀使氣得泄若所愛在外此夏氣之慮養長之道也逆之則傷心秋為痎瘧奉收者少冬至重病大抵夏三月天氣蕃越陽氣發越於外陰氣伏藏於內是故夏月諸症宜補陰養陽蓋脾胃喜溫而惡寒食忌瓜果冰水藥禁純用寒涼先哲每於諸涼藥中必加炮姜正此意也蓋夏月心小腸火用事肺大腸金受傷孫真人制生脈散於夏月救天暑之傷庚金金清則水得以滋其化源其旨微矣東垣推廣其意制清暑益氣湯專以胃氣為本蓋土旺而金自榮不為火所制脾胃旺自能健運榮養百骸暑濕之邪自不能於矣今將夏月合用諸方詳陳於左對症活用無執一也</p>
<p>夏初春末頭疼腳軟食少體熱精神困憊名曰注夏病屬陰虛無氣不足宜用此方治之</p>
<p>黃耆　人參（各一錢）　白朮（一錢半）　甘草（炙五分）　陳皮　當歸　白芍藥　黃柏（各八分）　麥門冬（一錢）　五味子（九粒）</p>
<p>上用水一鍾半姜一片棗一枚煎服有痰加半夏</p>

<h3>生脈散</h3>
<p>止渴生津救天暑之傷庚金夏至後（宜常服之）</p>
<p>人參（一錢半）　麥門冬（三錢）　五味子（一錢）</p>
<p>上用白水（煎服）</p>

<h3>益原散</h3>
<p>治暑月身熱小便不利此藥性涼除胃脘</p>
<p>積熱又淡能滲濕故利小便而散濕熱也</p>
<p>桂府滑石（六兩飛）　甘草（一兩另研）</p>
<p>上各為末和勻每服三五錢新汲水調下</p>
<p>夏月身熱汗出惡寒而渴者名曰中暍此方主之</p>

<h3>人參白虎湯</h3>
<p>石膏（四錢）　知母（二錢）　粳米（三錢）　甘草（一錢）　人參（一錢半）</p>
<p>上用水一鍾半煎服</p>
<p>夏月發熱惡寒身重疼痛小便澀灑然毛聳手足逆</p>
<p>冷小有勞身即熱口開前板齒燥脈弦細虛遲此表裡中暍也用補中益氣湯加香薷扁豆有熱加黃芩黃連（方見春類）</p>

<h3>黃連香薷飲</h3>
<p>治傷暑腹痛自汗噁心或吐或瀉（身熱）</p>
<p>香薷（二錢）　厚朴（薑汁炒）　白扁豆（炒）　黃連（各一錢）　甘草（五分炙）</p>
<p>上用水二鍾煎一鍾放冷徐徐服挾痰加半夏南星（各一錢）若虛加人參黃耆（各一錢）</p>

<h3>清暑益氣湯</h3>
<p>治長夏濕熱蒸人人感之則四肢困倦精神減少懶於動作胸滿氣促肢節疼痛或氣高而喘身熱而煩心下膨悶小便黃而數大便溏而頻或痢或渴不思飲食自汗體虛</p>
<p>黃耆　蒼朮（麩炒）　升麻　人參　白朮（各一錢）　神麯　陳皮　澤瀉　麥門冬（各五分）甘草（炙）　黃柏（酒炒）　當歸（各四分）　五味子（十粒）　葛根（三分）　青皮（麩炒二分）</p>
<p>上用姜二片棗一枚水二鍾煎一鍾食遠服</p>

<h3>六和湯</h3>
<p>治心脾不調氣不升降霍亂轉筋嘔吐泄瀉寒熱交作痰喘咳嗽胸膈痞滿頭目昏痛肢體浮腫嗜臥倦怠小便赤澀並傷寒陰陽不分胃暑伏熱煩悶或成痢疾中酒煩渴畏食並婦人（胎產嘔吐）</p>
<p>砂仁（七分）　半夏（一錢）　杏仁　人參　赤茯苓　厚朴　白扁豆　藿香葉（各八分）　白朮（一錢）　木瓜　蒼朮（各五分）　甘草（三分）</p>
<p>上用姜三片棗一枚水二鍾煎一鍾食遠服</p>

<h3>霍亂</h3>
<p>吐瀉始因飲冷或胃寒或大飢或大怒或乘舟車馬傷動胃氣而致若心痛則先吐腹痛則先利心腹齊痛吐利並作名曰霍亂其症頭旋眼暈手腳轉筋四肢逆冷用藥稍遲須臾不救若誤飲食立死治宜溫藥解散腹痛面青不渴為寒腹痛燥渴面赤為熱急無藥時熱用鹽打井花水多飲寒用吳萸木瓜食鹽各（五錢）同炒焦先煎水三碗令百沸入藥同煎至二碗隨飲藥入即蘇定後服前六和湯寒加乾薑熱加黃連（各一錢）</p>
<p>濕之一症有自外入者有自內得者陰雨濕地皆從外入宜汗散久則疏通滲泄之過食生冷（濕面）潼酪或飲酒其症腫滿皆自內而出也宜實中宮淡味滲泄利小便為最若濕腫腳氣亦當汗散</p>

<h3>加味胃苓半夏湯</h3>
<p>治諸濕隨症加減用</p>
<p>陳皮（八分）　白朮　半夏　茯苓（各一錢）　酒芩　羌活（各八分）　蒼朮（一錢半）　甘草（四分）</p>
<p>上用姜三片水煎服濕在上倍蒼朮濕在下加升麻（八分）內濕加豬苓澤瀉（各一錢）桂（少許）中焦濕與痛有實熱者加黃連木通（各一錢）肥白人因濕沉困怠惰是氣虛加人參黃耆（各一錢）倍白朮黑瘦人沉困怠惰是濕熱加柏黃芩酒炒白芍藥（各一錢）</p>

<h3>山精丸</h3>
<p>健脾去濕息火消痰養血（方見滋補類）</p>

<h3>薏苡仁粥</h3>
<p>（方見養老類）</p>
<p>泄瀉有五不可例治瀉水腹不痛者濕也飲食入胃不停完穀不化者氣虛也腹痛水瀉腸鳴痛一陣瀉一陣火也或瀉或止或多或少者痰也腹痛甚而瀉瀉後痛減者食積也當隨症加減而分治之</p>

<h3>加味胃苓湯</h3>
<p>治諸瀉依後加減用</p>
<p>陳皮（一錢炒）　蒼朮（米泔浸去皮切片日曬乾鹽水炒一錢半）　黃芩（一錢）　澤瀉（一錢）　白朮（陳土炒一錢半）　白芍藥（酒炒一錢半）　豬苓　赤茯苓　黃連（薑汁炒八分）　半夏（薑汁炒一錢二分）　甘草（五分）　桂（二分）</p>
<p>上用水二鍾姜三片燈心一分煎八分空心溫服泄瀉注下如水本方加蒼朮車前子倍加白朮為末空心米湯調下煎服亦可濕熱甚肛門如熱湯者本方去桂加滑石末（二錢）倍黃芩（一錢）山梔（炒一錢）木通（八分）腹中痛下泄清冷喜熱於蕩熨口不燥渴者乃寒瀉也三倍桂加肉豆蔻（麵包煨一錢）病甚者加丁香製附子（各八分）作丸服如人瀉穀道不合或脫肛此元氣下陷及大腸不行收令故也用白木芍藥神麯（俱炒）陳皮（不去白）肉豆蔻（煨）訶子肉烏梅五倍子（各等分）為丸以四君子加防風升麻煎湯送下（此法試效）如食積時常腹痛瀉積先以木香檳榔丸或枳實導滯丸推逐之然後以四苓加厚朴蒼朮神麯麥芽作丸服以安胃氣（二方見袖珍方內五苓去桂冬四苓）如瀉水腹不痛者屬氣虛四君子倍白朮加黃耆升麻柴胡防風補而提之</p>
<p>泄瀉日夜無度諸藥不效者用針砂地龍豬苓各等分為末生蔥搗汁調方寸匕貼臍心小便長瀉（即止）大人小兒吐瀉日久垂死灸天樞二穴（在臍兩傍各開二寸）氣海一穴（在臍下一寸半）中脘穴（在臍上四寸半）</p>

<h3>加味香砂枳朮丸</h3>
<p>治飲食所傷脾胃不和欲作瀉痢並七情所傷痞悶嘔吐不思飲食瀉痢後理脾胃去余滯此藥一運一動一補一消活法（用之極有奇效）</p>
<p>白朮（土炒二兩）　黑枳實（麩炒一兩）　半夏曲（真者一兩半）　陳皮（去白一兩）　砂仁（炒七錢半）　香附（醋浸曬乾炒一兩）　麥芽面（一兩炒）　木香（不見火五錢）　黃連（薑汁炒冬五錢夏一兩）　神麯（炒一兩）有痰加竹瀝（半碗）薑汁（二盞）</p>
<p>上為末薄荷煎湯打老米糊為丸如梧桐子大每服七八十丸食遠白湯送下</p>

<h3>參苓白朮丸</h3>
<p>瀉痢後調理脾胃極穩累效</p>
<p>人參（一兩五錢去白）　白朮（土炒二兩）　白茯苓（去皮一兩半）　甘草（炙一兩）　山藥（薑汁炒一兩半）　砂仁（炒一兩）　薏苡仁（炒二兩）　桔梗（去蘆炒一兩）　蓮肉（去皮心一兩半）</p>
<p>若痢後虛弱用石連肉黃連（用吳茱萸同浸半日連汁炒乾去萸一兩）餘外脾胃虛弱調補只照本方上為末晚米糊一半蜜一半和為丸如梧桐子大每服七八十丸食遠白湯送下</p>

<h3>治老少脾泄久不愈神方</h3>
<p>用冬米造飯鍋巴淨末四兩蓮肉（去心）淨末四兩享糖末四兩共和勻每服三五匙食遠白湯調下一日三次鄒太湖先生傳</p>

<h3>養脾進食丸</h3>
<p>治瀉痢後脾胃虛弱飲食減少</p>
<p>人參　白朮（土炒）　白茯苓（各三兩）　甘草（一兩半）　陳皮　半夏曲　厚朴（薑汁炒各二兩）　蒼朮（麩炒三兩）　砂仁（炒一兩半）　神麯（炒）　麥芽（炒各二兩半）　木香（五錢）</p>
<p>上為細末神麯麥芽面打糊為丸如梧子大每服五十丸食遠白湯送下</p>
<p>瘧症春夏因飲食勞倦而得秋冬因傷暑而成然無痰不能作屬三陽宜汗宜吐屬三陰宜下（宜溫宜分治之）</p>

<h3>柴苓平胃湯</h3>
<p>治瘧初起熱多寒少宜此方分利</p>
<p>柴胡（一錢半）　黃芩　蒼朮　半夏（各一錢）　甘草（三分）　白朮（一錢半）　白茯苓　陳皮　厚朴　人參　豬苓　澤瀉（各八分）　桂枝（五分）</p>
<p>上用水二鍾姜三片棗一枚煎八分服</p>

<h3>清脾飲</h3>
<p>服前方一二服不止再用此方</p>
<p>白朮（一錢半）　厚朴（八分）　白茯苓　半夏（各一兩）　甘草（四分）　柴胡（一錢半）　黃芩（一錢二分）　青皮　草果　檳榔（各七分）</p>
<p>上用姜三片棗一枚水一鍾半煎八分空心服渣再並將發時服若大渴加知母麥門冬（各一錢）若不止加常山（酒炒一錢半）烏梅（二個）空心五更服即止如不止再用後方</p>

<h3>常山飲</h3>
<p>截瘧神方</p>
<p>常山（燒酒炒二錢）　檳榔（一錢）　草果（一錢）　烏梅（二個）　知母（一錢）　貝母（一錢半）</p>
<p>上用姜三片棗一枚水八分酒七分煎八分露一宿五更日未出時面東空心服渣用酒浸煎待將發時先服立效蓋人多畏常山為吐藥而不輕用殊不知瘧因痰作常山吐去其痰而瘧即止瘧止以後方調補</p>

<h3>加味補中益氣湯</h3>
<p>瘧後調理脾胃並治餘熱即前補中益氣湯倍柴胡（一錢）加半夏黃芩白芍藥（各八分）薑棗煎服（方見春類）</p>

<h3>露姜飲</h3>
<p>治脾胃聚痰發為瘧寒多熱少</p>
<p>用生薑（四兩）和皮帶水搗汁一碗夜露至曉（空心冷服立止）</p>
<p>咒由科治瘧法不問久新瘧疾一次即愈用桃杏棗梨隨用一樣單梨亦好咒曰吾從東南來路逢一池水水裡一條龍九頭十八尾問伊食甚的只食瘧疾鬼先念一遍吹果上念七遍吹果上七次令患人於發日五更雞犬不聞時面東而立將果食之於淨室中安臥忌食瓜果𦾥腥熱物（此法十治可好八九）</p>
<p>痢因熱積氣滯而成又夏月過傷生冷以致秋來發痢先賢調行血則便膿自愈調氣則後重（自除此要法也）</p>

<h3>枳殼大黃湯</h3>
<p>痢初一二日元氣未虛用此方下之</p>
<p>枳殼（一錢半）　檳榔（一錢）　厚朴（一錢）　大黃（壯實五七錢虛人三四錢）</p>
<p>上用水一鍾半先煎三味至一鐘下大黃再煎二三沸熱服得快利為妙</p>

<h3>止痢極效方</h3>
<p>既下之後即以此方上之</p>
<p>當歸　赤芍藥　淮生地（各七分）　黃連（一錢）　甘草（三分）　酸石榴皮（八分）　粟殼（蜜炒八分）　地榆（八分）</p>
<p>上用水一鍾半煎七分食前服一服即止</p>

<h3>二妙香連丸</h3>
<p>治赤白痢立效</p>
<p>木香（一兩）　黃連（四兩吳茱萸二兩同浸一夜炒乾去吳萸不用）</p>
<p>上二味為末粟米糊為丸如梧桐子大每服七十丸食遠白湯下初起宜推蕩本方加大黃（二兩）檳榔（一兩）以行之再以本方加肉豆蔻（雞蛋清炒一兩五錢）以止之此謂二妙也</p>

<h3>萬氏方治痢十法</h3>
<p>凡下痢惡寒發（熱身）頭俱痛此謂表症宜微汗和解用蒼朮川芎陳皮芍藥甘草生薑三片煎其或腹痛後重小便短此為里症宜和中疏氣用炒枳殼製厚朴芍藥陳皮甘草滑石煎其或下墜異常積中有紫黑血而又痛甚此為死血症法當用檑細桃仁滑石行之或口渴及大便口燥辣是名挾熱加黃芩或口不渴身不熱喜熱手熨是名挾寒加薑桂其或下墜在血泄之後此氣滯症宜於前藥加檳榔一枚其或在下則纏住在上則嘔食此為毒積未化胃氣未平當認其寒則溫之熱則清之虛則用參朮補之毒解積下食自進其或力倦自覺氣少懶食此為挾虛症宜加白朮當歸身尾甚者加人參又十分重者止用此一條加陳皮補之虛回而痢自止其或氣行血和積少但虛坐努簀此為無血症倍用當歸身尾卻以生芍藥生地黃而以桃仁佐之復以陳皮和之血生自安其或纏墜退減十之七八穢積已盡糟粕未實當用炒芍藥炒白朮炙甘草陳皮茯苓煎湯下固腸丸三十粒然固腸丸性燥恐尚有滯氣未盡行者但當單飲此湯固腸丸未宜遽用蓋固腸丸有去濕實腸之功其或痢後糟粕未實或食粥稍多或飢甚方食腹中作痛切不可驚恐當以白朮陳皮各半煎湯服之自安其或久痢後體虛氣弱滑下不止又當以藥澀之可用柯子肉豆蔻白礬半夏甚者添牡蠣可擇而用之然須以陳皮為佐恐大澀亦能作痛又甚者灸天樞氣海上前方用厚朴專瀉滯凝之氣然厚朴性大溫而散久服大能虛人滯氣稍行即去之餘滯未盡則用炒枳殼陳皮然枳殼亦能耗氣比之厚朴稍緩比陳皮稍重滯氣稍退亦當去之只用陳皮以和眾藥然陳皮去白有補瀉之兼若為參朮之佐亦純作補藥用凡痢疾腹痛必以白芍藥甘草為君當歸白朮為佐惡寒痛者加桂惡熱痛者加黃芩達者更能參以歲氣時令用藥萬舉萬全豈在乎執方而已哉</p>
<p>火症有虛實輕重輕者可降重則從其性而折之實火宜瀉虛火宜補陰虛火動難治宜滋陰降火</p>

<h3>升陽散火湯</h3>
<p>治男婦四肢發熱筋骨間熱表熱如火燎於肌膚捫之烙手此病多因血虛而得或脾胃過食冷物郁遏陽氣於脾土之中並治此火鬱發之之義也</p>
<p>升麻（五分）　葛根　羌活　獨活（各七分）　白芍藥（一錢）　人參（去蘆）　黃耆（生用各八分）　甘草（四分半生半炙）　柴胡（七分）　防風（五分）</p>
<p>上用薑棗水煎溫服　忌生冷寒物此虛火（宜補宜散）</p>

<h3>黃連解毒湯</h3>
<p>治實火燥亂煩渴蓄熱內甚</p>
<p>黃連　黃芩　黃柏　梔子（各等分）</p>
<p>上用水煎服加大黃名梔子金花丸（亦治實熱火炮實火宜瀉）</p>

<h3>滋陰降火湯</h3>
<p>治陰虛火動起於九泉此補陰（之妙劑也）</p>
<p>當歸（一錢）　川芎（五分）　白芍藥（薄荷汁炒）　黃芩（十分）　生地黃（薑汁炒）　黃柏（蜜水炒）　知母（同上各八分）　柴胡（七分）　熟地黃（各八分）　麥門冬（八分）</p>
<p>上用姜一片棗一枚水煎服別以附子為末唾（津□）貼湧泉穴氣虛加人參黃耆（各八分）咳嗽加阿膠杏仁（各七分）五味子（三分）咯唾衄血加牡丹皮（八分）藕節自然汁（三匙）犀角末（五分）此與前補陰散大同小異詳輕重參用玄明粉秋石皆降火甚速宜頻用之童便亦好（方並見前）</p>
<p>痰症屬濕乃津液所化因風寒濕熱之感或七情飲食所傷以致氣逆液濁變為痰飲故曰痰因火動降火為先（火因）氣逆順氣為要以加味二陳湯主之</p>
<p>橘紅（去白一錢）　半夏（制）　貝母（各一錢半）　白茯苓（去皮一錢）　甘草（三分）　枳實（炒錢）天花粉（七分）　黃芩（酒炒一錢）　白朮（一錢二分）　防風（去節）　連翹（各五分）　香附（童便炒一錢）　檳榔（六分）</p>
<p>上用姜三片水二鍾煎一鍾食（遠服）</p>

<h3>半夏湯</h3>
<p>消痞化痰甚捷</p>
<p>半夏（薑汁拌透曬乾）　陳皮（鹽水微浸去白）　白茯苓（各二錢）　桔梗（去苗炒）　枳實（炒各一錢）</p>
<p>上用姜三片煎食遠服或丸亦可</p>

<h3>滾痰丸</h3>
<p>治一切宿滯及風熱之痰</p>
<p>大黃（錦紋者八兩酒蒸九次）　黃芩（酒浸連酒炒乾八兩）　沉香（不見火五錢）　青礞石（一兩半用焰硝一兩半用火煆如金色去硝）　硃砂（天葵草伏過一兩另研）</p>
<p>上為細末麵糊為丸如綠豆大硃砂為衣每服五十丸食後白湯或茶下</p>

<h3>清心化痰丸</h3>
<p>養心消痰降火極效</p>
<p>南星（一斤為末用臘月牛膽五個裝入膽內至春取出淨用十五兩）　半夏（湯泡七次薑汁浸透曬乾十兩）　石膏（一斤用甘草四兩同煮一日去甘草曬乾十五兩）　白芷（四兩）　真玄明粉（四兩用臘雪水制的）　米硃砂（用天葵草伏三兩另研）</p>
<p>上為末薑汁糊丸如綠豆大硃砂為衣每服八九十丸食後白湯送下</p>

<h3>清肺化痰丸</h3>
<p>（名祛）痰丸清痰降火甚速酒客尤宜</p>
<p>旋覆花（去梗葉淨末一兩）　南星（五錢薑製）　半夏（五錢薑製）</p>
<p>上先以南星半夏二味水浸夏二日秋三日冬五日取出曬乾共為細末九月採半黃栝蔞六枚淡竹瀝一杯勻和三味共入石臼搗極爛為薄餅先用黃蒿鋪匣內二寸厚將餅安於蒿上仍用蒿覆地下略薄三七日取出曬乾此栝蔞曲石臼搗為細末與後開藥合用</p>
<p>白朮（炒）　白茯苓（去皮各一兩）　黃芩（酒炒）　黃連（薑汁炒）　香附（童便浸炒）　甘草節（半生半炙各五錢）　枳實（麩炒五錢）　陳皮（鹽水浸一半去白一半不去白一兩）　晉礬（一錢）　五倍（一錢）</p>
<p>上為末與前栝蔞曲末和勻用痰生薑汁打糊為丸如梧桐子大每服四五十丸早晚各進一服白湯下上此方出醫家必用古今痰方見效捷者無上（於此）服久且能健脾胃試有奇驗（痰火）為害危極者擂爛從鼻灌之無不愈者</p>
<p>眩運之症因虛痰火炎上故也宜清陽除眩湯主之</p>
<p>旋覆花　天麻（各八分）　半夏（制）　陳皮　白茯苓　白朮（各一錢）　檳榔（八分）　人參（六分）　甘草（四分）</p>
<p>上用姜三片煎食遠服</p>
<p>嘔吐翻胃皆屬胃虛氣逆膈上有痰亦有寒有熱宜（大半）夏湯隨寒熱加減主之</p>
<p>陳皮（去白一錢半）　茯苓（去皮一錢半）　半夏（薑汁製二錢半）</p>
<p>上用水煎臨服入生薑自然汁半盞和服屬熱加芩連（各一錢半）屬寒加生薑十片同煎服時仍入薑汁半盞屬胃虛加參朮（各一錢半）服時亦用薑汁</p>
<p>翻胃膈食之症屬氣虛右脈緩而無力者是宜人參白朮茯苓甘草（少）屬血虛左脈數而無力帶澀者是撫芎（七分）白芍藥（一錢半）當歸（二錢）熟地黃（一錢半）紅花（三分）氣血俱虛口中多出沫者是並用前八味屬痰脈多滑數寸關脈沉或伏而大者是宜陳皮（去白一錢半）半夏（二錢薑製）茯苓（一錢半）甘草（五分）屬熱六脈洪數有力者是宜黃芩黃連黃柏梔子各等分屬寒六脈沉微而遲者是宜人參白朮乾薑（各一錢）甘草（減半）加白豆蔻仁丁香沉香（各七分）並用童便韭汁牛羊乳竹瀝薑汁共半鍾入前藥半鍾和勻服一日服一次此法雖緩不犯狠燥若能清心寡慾內觀自養服久必獲奇效</p>
<p>黃疸症專屬濕熱盒曲相似宜茵陳五苓散主之</p>
<p>茵陳（三錢）　白朮　赤茯苓（各一錢半）　豬苓　澤瀉（各一錢）　蒼朮　山梔　滑石（各一錢二分）　甘草（生三分）　桂（二分）</p>
<p>上用水煎入燈心一握食（遠服）</p>

<h3>秘傳棗礬丸</h3>
<p>治黃胖累有奇效妙不可言</p>
<p>紅棗（一斤去核）　雞肫皮（四個焙乾為末）　皂礬（一兩）　釅醋（一碗）</p>
<p>上為末醋煮飛羅面為丸如綠豆大每（服五十丸食遠酒下）</p>
<p>夏月時氣瘟疫並傷寒傷風並宜十神湯隨兼（症加減用）</p>
<p>川芎　白芷　麻黃　紫蘇葉（各七分）　乾葛（一錢半）　升麻（七分）　陳皮　香附　芍藥（各八分）</p>
<p>上用姜三片蔥白五寸淡豆豉（一錢半）</p>
<p>水一鍾半煎八分熱服無汗惡寒發熱依本方熱甚加黃芩（一錢半）石膏（二錢）有汗去麻黃蔥白河間先生制雙解散即防風通聖散合益原散是專治夏月傷寒時行瘟熱等症隨所見症加減用之極為切當但大黃芒硝麻黃三味須對症漸加減自利去大黃芒硝自汗去麻黃蔥白防風通聖散（見春類）益原散一名六一散（見本類前）</p>

<h2>秋月諸症治例</h2>
<p>內經曰秋三月此謂容平天氣以急地氣以明早臥早起與雞俱與使志安寧以緩秋形收斂神氣使秋氣平無外其志使肺氣清此秋氣之應養收之道也逆之則傷肺冬為飧泄奉藏者少大抵秋三月天氣清肅下降人氣亦下降故秋月諸症宜下（謂下泄也）分利（謂利小便）宜清和解不宜升散秋月肺大腸金氣用事金旺則木受制故有諸郁諸氣諸痛諸瘡諸積等症治法當隨症輕重加減治之故秋月宜培脾土以生肺金滋腎水以養肝術養血以潤燥損其有餘益其不足此大法也今將秋月諸症宜用之方詳陳於左隨症活法用之毋蹈實實虛虛之弊</p>

<h3>參蘇飲</h3>
<p>治秋月傷寒發熱頭疼咳嗽或中脘痞滿嘔吐痰水寬中快膈不致傷脾及感冒風邪頭疼鼻塞㿉寒壯熱名曰重傷風服之極效</p>
<p>人參（八分）　紫蘇葉　前胡　半夏　葛根（各一錢）　茯苓　桔梗　枳殼　陳皮（各八分）甘草（四分）</p>
<p>上用水一鍾半姜三片蔥頭一根煎八分熱服咳嗽加五味子（五分）杏仁（七分）久嗽有肺火去人參加桑白皮杏仁（各八分）鼻衄加麥門冬山梔仁（炒黑）烏梅茅根（各一錢）嘔逆加砂仁（五分）藿香（八分）吐衄過多加四物湯即茯苓補心湯也頭痛加川芎白芷（各八分）細辛（五分）脾泄加白朮黃耆白扁豆連肉（各一錢）</p>
<p>氣症有九其治則一惟順與降最為要法須兼郁治宜用十六味木香流氣飲主之此方治男婦五臟不和三焦氣壅心胸痞悶咽塞不通腹脅脹滿嘔吐不食上氣喘急咳嗽痰盛面目浮四肢腫小便秘大便結憂思太過陰陽之氣鬱結不散壅滯成痰腳氣腫痛並氣攻肩背脅肋走注疼痛並宜（服之）</p>
<p>紫蘇葉　當歸　川芎　青皮　烏藥　桔梗　白芍藥　茯苓　半夏　黃耆　枳實（各八分）防風（五分）　甘草（三分）　木香（五分）　陳皮　檳榔（各六分）</p>
<p>上用水二鍾姜三片棗一枚煎一鐘不拘時溫服</p>

<h3>五磨飲子</h3>
<p>治七情鬱結等氣或脹痛或走注攻衝</p>
<p>木香　烏角沉香　檳榔　枳實　臺烏藥　上各等分以白酒磨服</p>

<h3>開鬱湯</h3>
<p>治惱怒思慮氣滯而鬱一服即效</p>
<p>香附（童便浸炒）　貝母（各一錢半）　蒼朮　撫芎　神麯（炒）　山梔（炒）　陳皮（去白）　茯苓　枳殼（去穰麩炒）　蘇梗（各一錢）　甘草（三分）</p>
<p>上用姜一片水二鍾煎一鍾食遠服有痰加半夏南星（各一錢）有熱加黃芩黃連（各八分）柴胡（一錢）血鬱加桃仁紅花（各八分）濕加白朮羌活（各一錢）氣加木香（五分）檳榔（八分）食積加山楂神麯（各一錢）砂仁（七分）</p>

<h3>鐵甕先生交感丹</h3>
<p>治先富後貧先貴後賤或終身不得志抑怏不快及婦人七情鬱結師尼寡婦抑鬱不開並效</p>
<p>香附（童便浸高一指待七日洗淨曬乾搗碎醋炒一斤）　白茯神（去皮心四兩人乳浸日曬夜露七日夜）</p>
<p>上二味為末煉蜜七分神麯三分打糊和為丸如彈子大每服一丸不拘時滾白湯化下</p>

<h3>加味越鞠丸</h3>
<p>常服調脾開鬱思食</p>
<p>香附（童便浸曬乾炒四兩）　蒼朮（米泔浸去皮麩炒四兩）　撫芎（四兩）　山梔（四兩薑汁炒）　神麯（炒四兩）　陳皮（去白二兩）　白朮（炒二兩）　山楂（去子淨肉二兩）　黃芩（酒炒一兩半）</p>
<p>上為末水丸如梧桐子大每服六十丸食後白（湯下）</p>
<p>潮熱之症有陰陽之分平旦潮熱自寅至申行陽二十五度諸陽用事熱在行陽之分肺氣主之宜白虎湯瀉肺中之火日晡潮熱自申至寅行陰二十五度諸陰用事熱在行陰之分腎氣主之故用地骨皮以瀉血中之火蓋地骨皮瀉腎火總治熱在外牡丹皮治心包絡之火無汗而骨蒸又能瀉陰中伏火四物湯內加此二味治陰分潮熱極效婦人骨蒸潮熱以逍遙散加此二味累用尤妙若氣虛潮熱用黃耆（三錢）人參甘草（各一錢五分）甚者加熟附（五分）二三服即效蓋甘溫能除大熱也若血虛發熱用四物湯加柴胡防風地骨皮極效</p>

<h3>加味犀角地黃湯</h3>
<p>治吐血嘔血衄血蓋諸失血乃火載血上錯經妄行其脈必芤此方主之身熱脈大者難治血症復下惡痢者易愈</p>
<p>犀角（鎊）　生地黃　芍藥　牡丹皮　麥門冬　黑山梔仁（炒黑韭菜根自然汁吃透各等分）</p>
<p>上每服五錢水一鍾半煎七分溫服</p>
<p>一方　治吐血不止用乾薑炒黑臘月裝入牛膽內至春取出為末每用方寸匕童便調下立效（此從治也）</p>
<p>一方　治諸失血用壯血餘燒灰存性每服二錢米飲調下立止衄者以少許吹入鼻中妙</p>

<h3>玄霜膏</h3>
<p>治吐血虛嗽神效</p>
<p>烏梅（煎濃汁四兩）　薑汁（一兩）　蘿蔔汁（四兩）　梨汁（四兩）　柿霜（四兩）　款冬花　紫菀（各二兩俱為末以上藥制下聽用）</p>
<p>另用白茯苓十兩取淨末半斤用人乳三斤將茯苓末浸入取出曬乾又浸又曬乳盡為度卻將前冬花紫菀末柿霜白糖並各汁再加蜜糖四兩和勻入砂鍋內慢火煎熬成膏丸如彈子大每服一丸臨臥時噙化薄荷湯漱口半月即效而愈</p>
<p>溺血屬熱盛下焦痛者為血淋不痛者為溺血生地黃飲主之生地黃（四錢）小薊滑石通草蒲黃（炒）淡竹葉藕節當歸山梔甘草梢（各五分）</p>
<p>上用水煎空心服並治血淋</p>

<h3>小兒溺血</h3>
<p>用甘草升麻煎湯調益原散空心服（立效）</p>

<h3>清心連子飲</h3>
<p>治遺精夢泄赤白濁</p>
<p>黃連　生地黃（酒洗）　麥門冬　當歸（酒洗各一錢）　甘草（半生半炙五分）　茯苓（一錢二分）　遠志（匕分）　酸棗仁（八分）　石連肉（一錢二分）　人參（八分初起不用）</p>
<p>上用水煎空心服</p>

<h3>金櫻煎丸</h3>
<p>治夢遺精滑及小便後遺瀝或赤白濁</p>
<p>芡實粉（四兩）　白蓮花須（未開者佳二兩）　白茯苓（二兩去皮心）　龍骨（煆五錢）　秋石（真者一兩）</p>
<p>上藥為末聽（用外）採經霜後金櫻子不拘多少去子並刺石臼內搗爛入砂鍋內用水煎不得斷火煎約水耗半取出澄濾過仍煎似稀餳和藥末為丸如梧桐子大每服七八十丸空心鹽酒下餘膏每用一匙空心熱酒調服其功不可具述</p>

<h3>歸脾湯</h3>
<p>治思慮過度損傷心血健忘怔忡不寐此藥解鬱結養心健脾生血</p>
<p>白朮　白茯神　黃耆　當歸（各一錢）　木香（三分）　圓眼肉（三枚）　人參（八分）　甘草（炙三分）　酸棗仁（炒研一錢二分）</p>
<p>上用姜一片棗一枚水（煎食遠服）</p>
<p>自汗陽虛宜黃耆白朮湯主之</p>
<p>黃耆（二錢半）　人參（一錢）　白朮（麩炒一錢二分）　甘草（炙五分）　當歸（八分）</p>
<p>上用浮小麥一撮水一鍾半煎七分食遠服忌五辛熱物</p>
<p>盜汗陰虛宜當歸六黃湯主之乃治盜汗之聖藥也</p>
<p>當歸　生地黃　熟地黃（各一錢）　黃連（炒）　黃柏（炒）　黃芩（炒各八分）　黃耆（一錢半）　牡蠣（煆五分）</p>
<p>上用水二鍾煎一鍾臨臥通口服</p>
<p>耳鳴肺火盛腎氣虛宜四物湯（四錢）黃柏（三錢）童便（煎空心服）</p>

<h3>通靈丸</h3>
<p>治耳聾　松香（五錢）　巴豆（二十粒為末）</p>
<p>上將松香溶化入巴豆末和勻蔥汁為丸如棗核大綿裹塞耳左聾塞右右聾塞左兩耳聾次第（塞之）</p>

<h3>治耳疳出膿</h3>
<p>白枯礬（五錢）　麝香（五釐）　胭脂胚（三分半）　陳皮灰（五分）</p>
<p>上共為末先用綿枝子纏去膿另用綿裹藥作丸塞耳內</p>

<h3>四物三黃湯</h3>
<p>治目赤暴發雲翳赤腫痛不可忍</p>
<p>當歸　川芎　芍藥　生地黃（各一錢）　羌活　防風　黃芩　龍膽草　黃連　甘菊花（各八分）　玄參　薄荷（各五分）</p>
<p>上用水一鍾半煎八分食後通口服</p>

<h3>石膏羌活散</h3>
<p>治久患兩目不睹光明遠年近日內外氣障風熱上攻昏暗拳毛倒捷一切眼疾（並宜服之）</p>
<p>羌活（治腦熱頭風）　密蒙花（治羞明怕日）　木賊（退翳障）　白芷（清利頭目）　麻子（起拳毛）　細辛（起倒捷）川芎（治頭風）　蒼朮（行氣開鬱）　石膏（去胃熱）　黃芩（退肺火）　甘菊花（明目去風）　荊芥（治目中生瘡）　藁本（治偏正頭風）　甘草（和諸藥各等分）</p>
<p>上為末每服一錢至二錢食後臨臥用蜜水一盞調下或清茶亦可日進三服十日漸明二十日大驗此方治數十人俱效後人加當歸枸杞子梔子仁連翹柴胡薄荷防風桔梗天麻各等分（為小丸服亦效）</p>

<h3>加味羊肝丸</h3>
<p>治一切目疾翳膜內外障</p>
<p>白乳羊肝（一具以竹刀刮開去膜蒸熟搗如泥）　甘菊花（五錢）　黃連（一兩）　防風（去蘆）薄荷（去梗）　荊芥穗（去梗淨）　羌活　當歸　生地（各五錢）　川芎（三錢）</p>
<p>上為末羊肝泥和為丸如丸不就加少酒糊丸如梧桐子大每服六七十丸食後漿水下臨（臥茶清下咸半）</p>
<p>育神夜光丸明目去翳障神效</p>
<p>當歸（酒浸洗全用烘乾）　遠志（以甘草水煮去心）　牛膝（去蘆酒洗淮慶者佳）　甘菊花（去梗葉）　地骨皮（去木洗淨）　甘州枸杞（去梗）　菟絲子（酒洗去土再以酒浸經宿煮爛搗成餅曬乾聽用）　淮生地（酒洗）　淮熟地（酒洗煮爛二味同入石臼內搗如泥）</p>
<p>上除地黃外共為末以地黃膏和勻煉蜜為丸如梧子大每服六十丸空心鹽湯食後溫酒（臨睡茶清送下）</p>

<h3>洗眼方</h3>
<p>當歸　黃芩　黃連（各一錢）　銅綠　皮硝　白礬（各七分）</p>
<p>上藥以絹袋盛煎湯洗目極明去熱</p>
<p>又方　用王瓜（去穰）以皮硝裝入醃一宿待（其硝吐出洗目極明）</p>

<h3>清胃散</h3>
<p>治胃經風熱牙齒或牙跟腫痛或牽引頭腦俱痛或面上發熱並治此方累用極效</p>
<p>當歸身（酒浸）　黃連　生地（溫酒洗各一錢）　升麻（二錢）　牡丹皮（去木一錢五分）　石膏（二錢）</p>
<p>上用水煎食後少時服</p>
<p>治風蟲牙疼痛不止　芫花　小麥　細辛　川椒　蜂房　食鹽（各一錢）</p>
<p>上用水煎漱之勿咽極效</p>

<h3>白蒺藜散</h3>
<p>治牙疼齦腫動搖常擦漱固齒</p>
<p>用白蒺藜不拘多少去刺為粗末每服五錢淡漿水半碗煎七八分去渣入炒鹽末一撮帶熱時時漱之別無所忌然雖藥味不眾蓋單方之藥取效甚速視仙秘旨云若人服蒺藜一年以後冬不寒夏不熱服之二年老者復少發白復黑齒落更生服之三年長生輕身今雖不作湯散服餌久而漱之其效亦同</p>

<h3>烏須固齒方</h3>
<p>七月取旱蓮草連根一斤用無灰酒洗淨用青鹽四兩醃三宿取出無油鍋內炒存性時將原汁漸傾入炒乾為末每日清晨用一錢刷牙連涎嚥下此二方簡而效大</p>
<p>治陰虛氣鬱牙出鮮血方</p>
<p>川芎　當歸　白芍藥　生地黃　生甘草（減半）　牛膝　側柏葉　香附（各等分）</p>
<p>上用水一鍾半煎八分食稍遠服</p>
<p>治舌上無故血出如線不止用槐花炒為末摻之</p>
<p>治小兒走馬牙疳一時腐爛即死此方極效神速</p>
<p>用婦人溺桶中白垢火煆（一錢）銅綠（三分）麝香（一分半）各研和勻敷上立愈</p>

<h3>既濟丹</h3>
<p>治口舌瘡神效用黃連乾薑等（分為末搽上流涎即愈）</p>
<p>治小兒口瘡不下乳食以白礬湯於腳上浸半日頓寬試效再以黃柏（蜜炙）殭蠶（炒）等分為末（敷瘡上立下乳而安）</p>

<h3>蒼耳丸</h3>
<p>治鼻流濁涕水不名曰鼻淵</p>
<p>辛夷（去梗五錢）　蒼耳子（二錢半）　白芷（一兩）　薄荷葉（五錢）</p>
<p>上為末水丸彈子大每丸一錢每服二丸（食後蔥茶湯下）</p>
<p>治血熱入肺名曰酒㾴鼻此丸主之</p>
<p>用苦參淨末四兩當歸淨末二兩和勻酒糊丸如梧桐子大每服七八十丸食後熱茶下一方盡（立效）喉癉十八症皆屬熱暈者宜北宜刺出血又針少商照海二穴極妙宜服冰梅丸此方治喉痹十（八種俱效）</p>
<p>大南星（鮮者二十五個切片）　大半夏（鮮者五十個切片）　皂角（四兩去弦子淨）　白礬（四兩）　鹽（四兩）　防風（四兩）　桔梗（二兩）　朴硝（四兩）</p>
<p>揀七分熟梅子大者一百個先將硝鹽水浸一周時然後將各藥碾碎入水拌勻卻將梅子置於水中其水過梅子三指為度浸至七日取出曬乾又入水中浸透又曬乾候藥水盡為度卻將梅子入瓷瓶密封之如霜衣起更妙若用時以薄綿裹之噙在口令津液徐徐嚥下痰出即愈（一梅可治三人不可輕棄）</p>

<h3>青龍膽</h3>
<p>治咽喉閉塞腫痛並單雙乳蛾大有神效</p>
<p>用青魚膽不拘數以好鴨嘴膽礬逐個裝滿陰乾為末淨用三錢黑牛膽一個以白硼砂裝入陰乾為末淨用二錢山豆根末一錢上三味和勻加冰片三分點至蛾上或吹入神效此二方俱試效過</p>

<h3>牛蒡子散</h3>
<p>治風熱上攻咽喉腫痛或生癰瘡潰爛</p>
<p>牛蒡子（二錢）　玄參（去蘆）　升麻　桔梗（去蘆）　犀角（鎊）　黃芩　木通（去皮）　生甘草（各一錢）</p>
<p>上作一服水二鍾煎八分食後服</p>

<h3>烏須羊肝丸</h3>
<p>不獨烏鬚髮亦能明目</p>
<p>黑羊肝一具竹刀切片擺瓷盆內羊膽汁塗曬乾日日將膽汁塗曬至百個為上少則三五十個惟膽汁多為佳曬時以稀絹罩之免蠅灰點汙次用</p>
<p>當歸（四兩酒浸）　熟地黃（用懷慶者酒蒸曬九次干六兩）　川芎　白芍藥（酒炒）　何首烏（酒拌洗淨蒸曬乾各四兩）　旱連草（蒸過四兩）　覆盆子（炒）　山茱萸（酒浸去核曬乾淨肉各四兩）　白茯苓（去皮切片人乳浸日曬夜露候乾）　生地黃（懷慶者酒洗各四兩）　壯血餘並童男童女發自己發胎髮不拘數俱用花椒煎沸湯泡過洗淨曬乾入小瓦罐內黃泥鹽固濟炭火煆通紅埋地中三日取出去土敲破罐刮下研入要以四兩為佳無則二兩亦可　上藥俱不犯鐵器曬乾石磨磨為末另用熟地黃十二兩用酒濃煎汁二碗去渣煮糊為丸如梧桐子大每服空心酒下一百丸臨睡酒下七十丸極能烏鬚髮（聰耳明目悅顏色）</p>

<h3>染須方</h3>
<p>一方只用一二日極妙</p>
<p>五倍子（不拘多少去灰研入砂鍋內炒存性再以青布兜腳踏成餅以瓦罐收每次一錢）　枯白礬（二分）　生白礬（一分）　青礬（一分半）　碙砂（透明一分）　紅銅末（醋炒通紅再用醋淬又炒紅收起每次五分）　沒石子（半分）</p>
<p>上為細末用細茶五錢石榴皮柯子肉各一錢濃煎汁半酒盞調藥於小盞內以銅杓注水將藥盞入杓內慢火煮量入水平盞七分勿令水入盞內煮待藥面如綠雲色皺起為度次將皂角白礬洗淨鬚髮鬢拭乾將盞內藥搽根並須數十次微火烘略干卻盡將藥搽染須鬢上以濕紙數層折貼在須上外以青布兜之至天明須下幹了將溫溫皂角水洗淨根下若黑以指點油擦之少傾以指搽之如須乾燥以絹包核桃肉擦之連染二次如法其光潤可同生成者杓內煮藥水且𤲢每夜擦根下一二次則不生白短根如同自然之妙</p>

<h2>冬月諸症治例</h2>
<p>內經曰冬三月此謂閉藏水冰地圻無擾乎陽早臥晚起必待日光若有私意若已有得去寒就溫無泄皮膚使氣亟脫此冬氣之應養藏之道也逆之則傷腎春為痿厥奉生者少　大抵冬氣嚴寒萬類潛藏君子固密毋觸冒寒邪其觸冒者即傷寒也悉遵仲景法茲不詳及　冬三月太陽寒水用事水旺則火受邪金寡干畏故喘嗽腹滿急痛癥瘕積聚堅痓㿗疝下利清白吐利腥穢中風癱瘓屈伸不便厥逆等症作矣治宜溫中散寒不宜攻下利泄今將冬月諸症宜用諸方詳陳於左對症用之則發無不中矣</p>
<p>中風口噤先用通關散吹入鼻中候噴嚏口開次用</p>

<h3>真正蘇合香丸</h3>
<p>薑汁調和灌醒後用此方治之</p>
<p>白朮　天麻　當歸　川芎　桂枝（減半）　半夏　南星　陳皮（各等分）</p>
<p>上用水煎加竹瀝一盞薑汁半盞和服則漸舒矣</p>

<h3>通關散</h3>
<p>遼細辛（去土並葉）　豬牙皂角（去弦子炙赤各一兩）　藜蘆（生用五錢）</p>
<p>上為末每用一字吹入鼻孔中得嚏為妙</p>

<h3>愈風飲</h3>
<p>治半身不遂手足欠利語言費力呵欠嚏噴面木口眼歪斜寬馳頭目眩暈痰火熾盛筋骨時痛頭疼心悸</p>
<p>川芎（一錢二分）　當歸（一錢二分）　生地黃（八分薑汁炒）　紅花（四分酒洗）　牛膝（八分酒洗）　半夏（一錢薑製）　羌活（六分）　防風（六分）　天麻（一錢）　白茯苓（一錢）　黃芩（八分酒炒）　薄桂枝（六分冬月七分）　酸棗仁（八分炒）　白朮（一錢五分）　甘草（炙四分）　白芍藥（二錢酒炒）　黃柏（三分酒炒夏月五分）</p>
<p>上作一服水二鍾煎一鍾臨服入薑汁淡竹瀝各三茶匙清晨溫服此藥活血消痰疏風順氣走肌表利關節累用極效冬寒之月減黃芩三分加炮川烏二分桂亦減半風病減川烏桂俱不用羌活風家要藥若冬月遇有感冒加至一錢故治風莫先於順氣氣順則痰清火降而風自息矣</p>

<h3>烏藥順氣散</h3>
<p>治男婦風氣攻注四肢骨節疼痛遍身麻癉手足癱瘓語言謇澀筋脈拘攣及腳氣步履艱辛腰膝軟弱婦人血風老人冷氣胸膈脹滿心腹刺痛吐瀉腸鳴等症</p>
<p>麻黃（去節）　陳皮（去白）　烏藥（去木各一錢半）　川芎　枳殼（麩炒）　白芷　白姜蠶（炒去絲）　甘草　桔梗（各八分）　乾薑（炒四分）</p>
<p>上用姜三片蔥白三寸水酒一鍾半煎八分食遠服拘攣加木瓜石斛（各八分）濕氣加蒼朮白朮（各一錢）檳榔（七分）腳氣浮腫加牛膝五加皮獨活（各八分）遍身疼痛加官桂（五分）當歸（一錢二分）乳香沒藥（各七分另研和服）腰疼加杜仲（一錢）大茴香（七分）虛汗去麻黃加黃耆（一錢半）潮熱去乾薑加黃芩柴胡青藤根（各八分）胸膈脹滿加枳實莪朮（各八分）夜間疼痛加虎脛骨石楠葉青木香（各八分）頭眩加細辛（五分）芽茶（七分）手足不能舉動加防風川續斷威靈仙（各一錢）陰積浮腫合和五積散四肢皆有冷痹加川烏附子交桂（各八分）麻痹疼痛極者合三五七散左癱右瘓加當歸天麻白蒺藜（各一錢）二三年不能行者合和獨活寄生湯服婦人血氣加防風荊芥薄荷（各七分）風氣日夜疼痛午間輕夜又重合和神秘左（經湯）</p>

<h3>稀薟丸</h3>
<p>治肝腎風氣四肢無力麻痹筋骨疼痛腰膝痿弱亦能行大腸氣又治二十五般風眼立瘥常服此丸必獲奇效其功不可具述</p>
<p>用稀薟草一味此草處處有之俗呼為火杴草其葉對節而生似蒼耳葉用五月五六月六七月七九月九收採洗去土摘其葉不拘多少曝乾鋪入甑中用好酒和蜜層層勻酒蒸之復曬如此九次為末煉蜜為丸如梧桐子大每服四十丸或五十丸空心無灰酒送下</p>

<h3>搜風順氣丸</h3>
<p>治三十六種風七十二般氣上熱下冷腰腳疼痛四肢無力多睡少食漸漸黃瘦顏色不完惡瘡下疰風氣癥癖氣塊老人小兒皆可服大能補精駐顏疏風順氣</p>
<p>車前子（二兩半）　檳榔　火麻子（微炒去殼另研）　牛膝（酒浸二宿）　菟絲子（酒蒸搗餅曬乾）　枳殼（麩炒）　郁李仁（湯泡去皮另研）　山藥（薑汁炒各二兩）　防風（去蘆）　獨活（去土各一兩）　山茱萸（去核淨肉二兩）　大黃（五兩一半生一半煨）</p>
<p>上為末煉蜜為丸如梧桐子大每服三十丸漸加至四五十丸酒茶米飲任下百無所忌空心臨睡各一服久服去腸中宿滯精神強健百病不生耳目聰明腰腳輕健老者反少孕婦勿服如服藥覺臟腑微動以羊肺羹補之又治腸風下血中風癱瘓語言謇澀百病皆治老人尤宜</p>
<p>冬月正傷寒悉遵用仲景治法不可移易惟內傷生冷外感風寒頭疼發熱肩背拘急心腹痞悶嘔逆惡風四肢浮腫寒熱往來腰膝疼痛及婦人經候不調並宜服生料五積散</p>
<p>川芎　當歸　白芍藥（各一錢）　枳殼　麻黃（去根節）　白芷　半夏（各一錢二分）　厚朴官桂　乾薑　桔梗　茯苓　陳皮（各八分）　蒼朮（一錢半）　甘草（五分）</p>
<p>上用姜五片蔥白二根水二鍾煎一鍾溫服甚效</p>

<h3>足浮腫加和五加皮散</h3>
<p>老人手足疼痛加和順元散　手足風緩加和烏藥平氣散　四肢濕痹加和烏藥順氣散　因濕所感加和檳蘇散</p>
<p>已成風痹加羌活獨活防風　婦人經（不調加柴胡生地黃）</p>

<h3>加減消風百解散</h3>
<p>治冬月傷感風寒頭痛項強壯熱惡寒身體煩痛四肢倦怠痰壅喘嗽涕唾稠黏自汗惡風並宜服</p>
<p>川芎　白芷　陳皮（各一錢）　蒼朮（一錢半）　紫蘇（一錢二分）　麻黃（去根一錢半）　桂枝（八分）　甘草（五分）</p>
<p>上用姜三片蔥白二根烏豆一撮水一鍾半煎一鍾溫服以汗為度無汗再服</p>

<h3>清肺飲子</h3>
<p>咳謂有聲肺氣傷而不清嗽謂有痰脾濕動而生痰咳嗽者因傷肺氣而動脾濕也病本雖分六氣五臟之殊而其要皆主於肺蓋肺主氣而聲出也治法雖分新久虛實新病風寒則散之火熱則清之濕熱則瀉之久病便屬虛屬鬱氣虛則補氣宜加四君子血虛則補血宜加四物兼鬱則開鬱宜加撫芎香附兼痰則消痰宜加半夏栝蔞仁滋之潤之斂之降之此治嗽之大法也</p>
<p>杏仁（去皮尖）　白茯苓（各一錢）　桔梗　甘草　五味子（各五分）　橘紅（七分）　貝母（一錢二分）</p>
<p>上用姜水煎食遠服凡嗽春多上升之氣宜清肺抑肝加川芎白芍藥半夏（各一錢）麥門冬黃芩知母（各七分）春若傷風咳嗽鼻流清涕宜清涼解散加防風薄荷炒黃芩麥門冬紫蘇（各八分）夏月多火熱炎上最重宜清肺降火加桑白皮知母黃芩麥門冬石膏（各一錢）秋多濕熱傷肺宜清熱瀉濕加蒼朮桑白皮（各一錢）防風（五分）黃芩山梔（各七分）冬多風寒外感宜解表行痰加麻黃桂枝半夏生薑乾薑防風（各一錢）脯經素有熱者再加酒炒黃芩知母（各五分）若發熱頭疼鼻塞聲重再加藁本川芎前胡柴胡（各一錢）有痰加半夏南星枳實濕痰脾困再加蒼朮白朮（各一錢）有痰而口燥咽乾勿用半夏南星宜加知母（蜜水炒）貝母栝蔞仁黃芩（炒各一錢）夏月熱痰或素熱有痰加黃芩黃連知母（各八分）石膏（一錢半）上半日嗽者胃中有火加貝母石膏黃連（各一錢）五更嗽者加同上黃昏嗽者火浮於肺不可正用寒涼藥宜加五味子五倍子訶子皮（各七分）斂而降之咳嗽日久肺虛宜滋氣補血加人參黃耆阿膠當歸天門冬款冬花馬兜鈴酒炒芍藥之類肺熱喘咳去人參用沙參此兼補血氣也午後咳者屬陰虛即勞嗽也宜補陰降火加川芎當歸白芍藥熟地黃黃柏知母天門冬栝蔞仁（各一錢）竹瀝薑汁傳送此專補陰血而降火也火鬱嗽謂痰鬱火邪在中宜開鬱消痰用訶子皮香附（童便制）栝蔞仁半夏曲海石青黛黃芩等分為末蜜丸噙化仍服前補陰降火條所加藥失治則成勞痰積食積作咳嗽用香附栝蔞仁貝母海石青黛半夏曲軟石膏山楂枳實黃連（姜炒）各等分為末蜜丸噙化勞嗽見血加阿膠當歸白芍藥天門冬知母桑白皮亦於前肺虛陰虛二條參用大抵咳嗽見血多是肺受熱邪氣得熱而變為火火盛而陰血不得安寧從火上升故致妄行宜瀉火滋陰忌用人參黃耆等甘溫補氣之藥然亦有氣虛而咳血者則宜用人參黃耆款冬花等藥但此不多耳因咳而有痰者咳為重主治在肺因痰而致咳者痰為重主治在脾但是食積成痰痰氣上升以致咳嗽只治其痰消其積而嗽自止不必用肺藥以治嗽也</p>
<p>喘嗽遇冬則發此寒包熱也解表熱自除喘嗽亦止</p>
<p>枳殼　桔梗　麻黃　防風　陳皮　黃芩　木通　紫蘇　杏仁（各等分）</p>
<p>上用姜三片煎服</p>
<p>治風寒鬱於肺夜嗽者宜此方取痰清嗽止亦治（哮喘）</p>
<p>麻黃（不去節根）　杏仁（不去皮尖）　甘草（生減半）　知母　貝母（各一錢半）</p>
<p>上用姜三片水煎服有熱（加黃芩一錢）</p>

<h3>小青龍湯</h3>
<p>治寒嗽極效（方見春類）</p>
<p>治男人痞塊女人血塊此方極效此藥性不猛（而功效速）</p>
<p>阿魏（一兩）　木耳（四兩為末）　生漆（濾去渣淨四兩）　蜜（六兩）</p>
<p>上用錫罐一個盛藥封固放鍋內水煮三炷香了取起冷定每服二茶匙燒酒送下日進（三服忌油膩魚發物）</p>

<h3>瓦壟子丸</h3>
<p>治血塊丹溪云消血塊極效</p>
<p>瓦壟子即花蚶也取殼燒以醋淬三次為末醋膏丸如梧桐子大每服七十丸酒下能消一切血氣癥瘕兼能消痰飲</p>

<h3>蜀葵膏</h3>
<p>用蜀葵根煎湯去渣再入人參白朮青皮陳皮甘草梢牛膝各等分煎成湯入研細桃仁玄明粉各少許乘熱飲之二服當見塊下如病重者須補接之後加減再行此方且攻且補亦有至理</p>
<p>通玄二八丹　治腹內飲食宿滯積聚止瀉痢之妙藥如治積聚清晨用薑湯服稍瀉二三行即除卻以溫粥補住如治瀉痢食後用清茶服之即止能行能止真仙方也</p>
<p>黃連（半斤淨）　白芍藥（五錢淨）　當歸（五錢淨）　烏梅（去核五錢淨）　生地黃（五錢淨）</p>
<p>上為末用雄豬肚一個以藥盛於內用線縫之用韭菜二斤鋪甑底於鍋內蒸之候湯干再添水蒸一日以藥熟為度就豬肚共藥石臼內搗爛為丸如梧桐子大每服七十丸照前引下</p>

<h3>牛郎散</h3>
<p>追蟲取積大人小兒俱有奇效</p>
<p>黑牽牛（四兩半生半炒）　檳榔（二兩）</p>
<p>上二味為末每服大人三錢小兒一錢半五更空心滾水調下凡服藥須上半月蟲頭向上有效若下半月蟲頭（向下則不效矣）</p>
<p>治癖結年久成龜鱉者累用極效</p>
<p>用老軍需一味春夏用莖葉秋冬用根不拘多少用好生酒一罐外用鯽魚一隻和藥同入罐內日落時煮以魚熟為度令患人先食魚次飲酒撲至次早去大小便見物下即是效如不應連服三五次追其物無蹤神效妙不可言非仁人君子（切勿輕傳）按本草云老軍需春夏秋冬常有青出眾草為尊莖藤青葉似䔉葉而尖小根如須白似芋頭根牽藤而去俗名社公口須亦治腫毒採根（擂生酒服渣敷患處）</p>

<h3>治痞積氣塊神方</h3>
<p>其症初則如彈漸長如力或如梭如碗形狀不同令人面黃體瘦飲食少思久治不痊服此方二月漸消三月斷根</p>
<p>用豬澀皮七個即豬赤胰新針七個每澀皮用針一個將針刺破內外外用好明淨皮硝七錢研為細末擦於澀皮上醃七日取出用鐵器焙乾研為細末再用水紅花子七錢焙乾為末與前末和勻每服三錢清晨無灰好酒調服忌生冷房室惱怒不論男婦老少腹之左右並皆治之若頻服五七料大便下膿血即是效驗切不可用別藥補之為妙此藥只可春秋冬合夏恐壞了澀皮若夏月急用將澀皮醃懸放井中一七取出用之亦妙</p>

<h3>烏梅丸</h3>
<p>治酒積消食積化痰飲神效</p>
<p>烏梅（去核淨肉半斤）　半夏（四兩）　生薑（自然汁半斤）　白礬（四兩）</p>
<p>上先將半夏烏梅粗末次將白礬化開並薑汁共前末拌勻新瓦二片夾定炭火上焙三日三夜以干為度次入神麯麥芽陳皮青皮莪朮枳殼丁皮檳榔各二兩共為細末酒糊為丸如梧桐子大每服五十丸食遠薑湯下　按此方治酒積極效</p>
<p>治一切水腫單腹脹蠱脹氣虛中滿神效煎方</p>
<p>茯苓皮　草果皮　五加皮　大腹皮　甘草皮　牡丹皮　地骨皮　生薑皮　木通皮　木瓜皮　大腹子　車前子　葶藶子　菟絲子　紫蘇子</p>
<p>共咀片水二鍾煎至八分服之如要斷根者將十五味藥等分為細末各一錢五分用雄豬肝一個不下水者先將溫水煮一滾用竹尖鑽孔數個入藥在內蒸熟切片搗蒜蘸食之不過一二個（永不下發也）</p>

<h3>調中健脾丸</h3>
<p>治單腹脹及脾虛腫滿隔中閉寒（胃脘）</p>
<p>作疼並皆神效此藥不傷元氣服有大益勿輕（視之）</p>
<p>白朮（六兩黃土水拌炒）　人參（二兩）　白芍藥（二兩半火煨）　黃耆（二兩蜜炙）　陳皮（三兩鹽水拌炒）　半夏（三兩湯泡七次）　蒼朮（二兩米泔浸一宿炒）　茯苓（二兩）　香附（三兩童便浸一宿）　澤瀉（二兩半炒）　紫蘇子（一兩半炒）　黃連（二兩半吳萸水浸一宿炒去萸不用）　蘿蔔子（一兩半炒）　薏苡仁（三兩炒）　山楂肉（三兩炒）　草豆仁（一兩半酒拌炒）　五加皮（二兩炒）　沉香（六錢另研不見火）　栝蔞（煆一兩）</p>

<h3>煆栝蔞法</h3>
<p>用大栝蔞二個鏤一孔每入川椒三錢多年糞磏二錢敲米粒大俱納入栝蔞內外以綿紙糊完再用細紙斤鹽泥封裹完固曬乾入火內煆通紅為度取出擇去泥與黑皮一併入藥</p>
<p>上共為細末煎薄荷大腹皮湯打黃米糊為丸如梧桐子大每服百丸日進三次白湯下</p>

<h3>治心腹痛煎方</h3>
<p>半夏（一錢二分）　茯苓　陳皮（各八分）　甘草（炙四分）　川芎（一錢）　蒼朮（一錢）　梔子（韭根汁炒二錢）　黑乾薑（炒成炭七分存性）</p>
<p>上用生薑三片水煎服</p>

<h3>仙方沉麝丸</h3>
<p>治心痛腹痛氣痛不可忍三服除根</p>
<p>沒藥　血結　沉香　辰砂（各五錢各另研）　麝香（三錢另研）　木香（一兩）</p>
<p>上各研為細末和勻用甘草熬膏為丸如芡實大每服三丸不拘時姜鹽湯嚼下婦人產後血氣刺痛極效若加當歸琥珀各一兩乳香五錢名神仙聚寶丹治心腹痛及婦人血氣腹痛其效尤速親見服者永不再發</p>

<h3>青蛾丸</h3>
<p>治腎虛腰膝足痛滋腎益陰壯陽久服（奇效）</p>
<p>破故紙（川者佳洗淨酒浸少時隔紙炒香四兩）　川萆薢（真者四兩一兩鹽水一兩米泔水一兩童便一兩無灰酒各浸一宿曬乾）　杜仲（四兩去粗皮薑汁炒去絲）　胡桃肉（湯泡去皮八兩）　黃柏（四兩蜜炒）　知母（四兩蜜炒）　壯牛膝（去蘆酒洗淨四兩）</p>
<p>上為末春夏用糯米糊秋冬煉蜜將胡桃肉搗爛為膏和勻搗千餘下丸如梧桐子大每服七八十丸空心鹽酒或鹽湯（下以乾物壓之）</p>

<h3>當歸活血湯</h3>
<p>治寒濕氣血凝滯腰痛</p>
<p>當歸（酒浸）　杜仲（薑汁炒去絲各五錢）　赤芍藥　白芷　威靈仙（各三錢）　肉桂（一錢）</p>
<p>上用水酒各一鍾煎至一鍾空心服加羌活（二錢）防風（一錢）亦好</p>
<p>頭痛一症屬痰者多有熱有風有血虛此方為主加對症藥立效片黃芩（酒浸炒一錢半）蒼朮防風白芷羌活（各一錢）細辛（六分）</p>
<p>上用姜三片水煎食略遠服左痛屬風與血虛加川芎當歸（各一錢半）荊芥薄荷（各八分）上痛屬痰加半夏（一錢半）茯苓陳皮（各一錢）甘草（生三分）瘦人多兼熱倍用酒芩少佐石膏肥人多是濕痰加川芎南星半夏（各一錢半）倍蒼朮痰厥頭痛非半夏不能除頭旋眼黑風虛內作非天麻不能除並宜倍用之</p>

<h3>治腳氣方</h3>
<p>累試神效絕勝諸方</p>
<p>麻黃（三兩去根留節炒黃）　殭蠶（三兩炒為末）　沒藥　乳香（另研各五錢）　丁香（一錢）</p>
<p>上各另研為末和勻每服一兩好酒調下取醉汗出至腳為度蓋俟汗乾即愈後用五枝湯洗用桃柳梅槐桑採嫩枝煎湯先飲好酒三杯再洗腳住痛為妙</p>

<h3>治諸疝海上方</h3>
<p>用黑雄豬腰子一對不見水去膜並內血切片用大小茴香各二兩俱炒為粗末同腰子拌勻再以前豬尿胞一個入腰子茴香末於內扎住用生白酒三碗入砂鍋懸煮乾至半碗取胞切碎連藥焙乾為末將前煮藥剩酒打麵糊為丸如梧子大每服七十丸空心好酒下（立效除根永不再發）</p>
<p>秘方治外腎被傷偏墜腫大　用雄麻雀三五個去腸駐每個用白礬（一錢）裝肚內以新瓦二片將雀放瓦中兩頭鹽泥封固以火煆通紅取出存性為末每服一錢空心好酒調下一隻盡全愈（此方家傳累用神效）</p>

<h3>治小腸氣痛方</h3>
<p>用木饅頭（二兩）　臺烏藥（三兩）　大茴香（五錢）</p>
<p>上三味炒紅研碎後用羌活陳皮防風枳殼（各一兩半）連前和勻為粗末每服一兩水一鍾酒一鍾煎八分空心服三服即消此方亦試有效</p>
<p>治腸風臟毒痔漏秘方　用大雄雞一隻罩地板上不與食（伺其）飢甚別移於淨地上用豬胰四兩切碎漸餵雞待其放屎漸收下如此二三日候雞屎積至四兩曬乾加入後藥透明礬（四兩）千葉雌黃雄黃（各六錢）膽礬（五錢）朴硝（二兩）</p>
<p>上各另研為粗末用砂鍋須要寬高約貯藥之餘上有半節空者先以雞糞一兩在鍋底次以明礬一兩次以膽礬次以雌黃次以朴硝次以雄黃後盡以明礬在內次加雞糞在上然後以新碗蓋鍋頂簇炭火煆青煙盡為度候冷取出入石碾研為極細面再加乳香沒藥各五錢各研極細和勻以小口瓷罐收貯用時唾津調勻於手心以新筆蘸點患處日三五次夜二次先以羊毛筆蘸溫湯洗淨軟絹拭乾然後點藥庶得藥力透肉點後黃水瀝出不止最妙雖多不妨三日後其痔自乾枯剝落倘硬煎湯頻洗白脫腸自紅軟收上忌毒物酒色一月即除根矣內服後方</p>

<h3>加味臟連丸</h3>
<p>治飲酒食炙熱毒下墜為腸風臟毒痔漏下血　用雄豬大臟一副去兩頭各七寸用黃連去毛淨末一斤槐花淨末四兩裝入臟內令滿用繩札兩頭口上用小麥數十粒放甑上蒸三時以臟黑取看小麥極爛為度入石臼搗如泥丸如綠豆大每服百丸空心薄酒下按此藥價廉而功極大膏粱酒色人尤妙</p>

<h3>膽槐丹</h3>
<p>十月上以日取槐角子揀肥嫩結實者用新黃瓦盆二個如法固濟埋於背陰牆下約二三尺深預先尋黑牛膽五六枚臘月八日取出裝在膽內高懸陰乾至次年清明日取出新瓷罐收貯空心滾白湯下一日一粒二日二粒以漸加至十五日服十五粒止以後一日減一粒至三十日復減至一粒止如此周而復始治一切痔漏功效（如神）</p>

<h3>治脫肛</h3>
<p>用屋檐前蜘蛛大者一個去頭足烘研為末以生桑葉盛之託肛頭上熏半刻即進去（親試神效）</p>

<h3>真人活命飲</h3>
<p>一切癰疽腫毒只是執勝血陰陽相滯而成此方極效</p>
<p>穿山甲（三大片以蛤粉炒去粉淨用）　天花粉（一錢）　白芷（一錢）　甘草節（一錢）　貝母（一錢去心）　乳香（一錢另研藥熟下）　防風（七分去蘆）　沒藥（五分另研藥熟下）　皂角刺（五分）　當歸尾（酒洗一錢五分）　金銀花（三錢）　陳皮（一錢五分去白）</p>
<p>在背俞皂角刺為君在腹白芷為君在胸加栝蔞仁（二錢）在四肢金銀花為君疔瘡加紫河車（三錢即金線重婁如無亦可）</p>
<p>上用金華好酒二鍾煎一鍾溫服煎法須用大瓦瓶以紙封固勿令泄氣服時須辨其癰上下上則飽服下則飢服能飲酒者再飲數杯此藥不動臟腑不傷血氣忌酸物鐵器服後即睡覺痛定即回生矣其方神功浩大不可臆度此劑當服於未潰之先已潰不可服</p>

<h3>二黃散（一名陰陽黃）</h3>
<p>治發背癰疽疔瘡惡節一切無名腫毒惡瘡異症焮熱疼痛初起未潰者服之（甚妙）</p>
<p>錦紋川大黃（二兩一半炭火煨熟不可過性了一半生）　大甘草節（二兩）</p>
<p>上為細末每服一匙空心溫酒調下一二服以利為度立效如無甘草節終效不速</p>

<h3>神仙臘礬丸</h3>
<p>消癰疽及腸癰托裡消毒固臟腑護膜止疼</p>
<p>黃蠟（真者二兩）　明淨晉礬（三兩）</p>
<p>上先將黃蠟溶開離火候少溫入白礬和勻眾手急丸如梧桐子大每服五十丸食前酒下每日一服按陶節庵曰予詳此方不惟定痛生肌而已護膜止瀉消毒化膿及癰疽內生化毒排膿托裡之功甚大或金石丹藥發疽非此莫能治更用白礬一兩每服一錢溫酒調下尤效有遍身生瘡狀如蛇頭名曰蛇頭瘡尤宜服之每日百丸方有功效若蛇蠍並一切毒蟲所傷以礬溶化熱塗患處內更服之其毒即解誠外科之要藥也服至四兩之上愈見其功大宜於癰疽潰後服之甚穩腸癰尤妙服此即保無虞真良方也</p>

<h3>神仙太乙膏</h3>
<p>治癰疽及一切瘡毒不論年月深淺已成膿未成膿者並宜用之如發背先以溫水洗淨軟帛拭乾用緋絹攤貼之更用冷水送下其膏可收十餘年不壞愈久愈烈又治瘰癧瘻瘡並用鹽湯洗貼仍用酒下百丸婦人經候不通作丸甘草湯下一切疥瘡用麻油煎滾取少許和膏塗之虎犬蛇蠍湯火刀斧傷者皆宜內服外貼</p>
<p>玄參　白芷　赤芍藥　當歸　生地黃　肉桂　大黃（各一兩）</p>
<p>上切片用麻油二斤入銅鍋內煎至黑濾去渣入黃丹十二兩再煎滴水捻軟硬得中即成膏矣</p>

<h3>制丹法</h3>
<p>用黃丹先炒紫色傾入缸內用滾水一桶泡之再吸涼水滿缸用捧常攪浸一宿去水再炒如前二次研末用　按陶節庵云予嘗用此膏治瘡毒並內癰有奇效忽一婦月水不行腹結塊作痛貼臍下經行痛止後隨症外貼內服無有不效者楊梅瘡毒潰爛者尤效愈見此方之妙也</p>

<h3>彭幸庵都憲治發背方</h3>
<p>凡人中熱毒眼花頭暈口乾舌苦心驚背熱四肢麻木覺有紅暈在背後即取槐子一大抄揀淨鐵杓內炒褐色用好酒一碗煎滾去渣熱服酒盡大汗即愈如未退再依前煎服縱成膿者亦無不愈此三十年屢用屢驗（之奇方也）</p>

<h3>忍冬花酒（即金銀花也）</h3>
<p>治一切癰疽發背疔瘡乳癰便毒喉閉乳蛾等症不問已潰未潰用金銀花連莖葉搗爛取汁半鍾和熱酒半鍾熱服甚者不過三五服即愈如無鮮者用乾的一二兩水一鍾煎半鍾衝上熱酒半鍾和服此二方其藥易得其功甚大山鄉僻邑無醫之處尤宜知此法以備不虞</p>

<h3>治癰疽發背灸法</h3>
<p>累用累驗凡人患癰疽發背已結未結赤熱腫痛先以濕紙覆其上其紙先干處即是疽頭結處取大瓣蒜切如三錢厚安在頭上用大壯艾灸之三壯換一蒜痛者灸至不痛不痛者灸至痛方住最要早覺早灸為上才發一二日十灸十愈三四日十灸七愈五六日三四愈過七日則不宜灸若有十數頭作一處生者用蒜研成膏作餅納瘡頭上聚艾灸之亦能安也若背上初起未腫內有一粒黃如粟米即用獨蒜切片如前法灸之次日去痂膿自潰矣極效不可言</p>

<h3>夏枯草湯</h3>
<p>治瘰癧馬刀已潰未潰或日久成漏者用夏枯草六兩水二鍾煎至七分去渣食遠服此生血清熱治癧之聖藥也虛甚宜煎濃膏兼十全大補湯加遠志貝母香附和服並以膏塗患處（尤佳）</p>

<h3>三奇湯</h3>
<p>治楊梅瘡疳瘡便毒四服其毒即化為膿從大便瀉出極妙故名三奇也並治諸腫毒（初起亦效）</p>
<p>金銀花（二錢）　赤芍藥　甘草節　穿山甲（蛤粉炒各一錢）　白蒺藜（去刺二錢）　白殭蠶（炒）　連翹　當歸尾（各一錢半）　蜈蚣（一條去頭足尾）　大黃（虛人三錢實人五錢）　皂角刺（一錢）</p>
<p>上用水酒各一鍾煎一鍾病在上食後服（病在下食前服）</p>

<h3>治楊梅瘡神秘二方</h3>
<p>先服四帖後服三帖七日全好</p>
<p>經驗過　防風　皂角刺　天門冬　黃芩　栝蔞仁　金銀花（各五分）　當歸　熟地黃　木瓜　薏苡仁　紫花蒂丁　白蘚皮　木通（各一錢）　甘草（三分）　土茯苓（四兩）</p>
<p>上用水三鍾煎至二鍾作二次服渣再煎此方（先服）</p>
<p>又方後服　前方去木瓜木通紫花蒂丁白蘚皮四味加桔梗（七分）減土茯苓（二兩半）照前煎服忌椒酒煎炙牛肉茶房室　按此二方先服效速毒即出而易好後服平和而瘡自內消</p>

<h3>治疳瘡搽方</h3>
<p>見效極速用多年土牆上白螺螄殼不拘多少洗去土淨火煆研為極細面用六分上好眼藥杯四分冰片五釐另研和勻米泔水洗淨瘡拭乾將藥搽上就結靨勿爬破恁其自落（已試驗過）</p>
<p>又方　紅毼（燒灰存性五錢）　桃樹上干桃（燒灰存性五錢）　爐甘石（火煆黃色童便淬七次二錢半）</p>
<p>上為細末臨搽入片腦少許其瘡先用椒蔥湯洗淨後以藥搽上三次即愈（已試驗過）</p>

<h3>五虎湯</h3>
<p>治魚口瘡俗名便毒已成者即潰未（成者即散）</p>
<p>五靈脂　木鱉子（去殼）　穿山甲（蛤粉炒）　白芷（各二錢五分）　大黃（實人一兩虛人五錢）</p>
<p>上作一服水二大鐘煎一鍾空心服利五七行即好一（方加）全蠍（五分）殭蠶（二錢）尤妙</p>

<h3>治癬妙方</h3>
<p>川槿皮　滑石　白薇（各三錢）　鷹糞（七分）　斑蝥（去翅頭足十個）　蚯蚓泥（幹一錢七分）　青娘子　紅娘子（各四個）</p>
<p>上為末井花水調厚敷患處多年者五次新近者三次除根</p>
<p>治風癬膿痰疥瘡煎方一應諸瘡毒皆宜服無不（效者）</p>
<p>當歸身尾（錢半）　赤芍藥　黃芩　黃連　黃柏（各一錢）　大黃（三錢七分）　防風（八分）木鱉子（一個去殼）　金銀花　苦參（各一錢二分）</p>
<p>上用水一鍾酒一鍾煎至一鍾後下大黃煎三四沸取起露一宿五更服若腸風臟毒下血去木鱉子加槐花（一錢）</p>

<h3>大楓膏</h3>
<p>搽膿痰疥瘡神效先服前煎藥二服再搽三五日全可</p>
<p>大楓子（去殼四十九個）　杏仁（不去皮尖四十九個）　川椒　枯礬　輕粉（水銀代亦可）　蛇床子（另研淨末）　樟腦（各三錢）蜂窩（火燒存性）　蛇蛻（火燒存性各三分）　櫃油燭（三兩）</p>
<p>上將諸藥研細以櫃油燭化開和勻調塗三（五日即愈）</p>

<h3>治濕瘡並臁瘡膏</h3>
<p>黃蠟（一兩）　頭髮（一拳大）　香油（一兩）　輕粉（二錢另研）　豬膽（二個）</p>
<p>上先將香熬四五沸次下黃蠟又熬四五沸再後下頭髮文火熬用槐柳條不住手攪候發消化濾淨後下輕粉略熬一時取起放瓷碗內冷水浸少頃即成膏一切濕瘡臁瘡貼半日黃水流出拭乾（加藥再貼一七全愈）</p>

<h3>又臁瘡方</h3>
<p>黃蠟　官粉（各等分為末）</p>
<p>用油紙將黃蠟溶化塗紙上將藥摻貼瘡上立效</p>

<h3>治臁瘡海上方　賽隔紙膏一七全愈</h3>
<p>用嫩槐條（四寸九分）　嫩柳條（四寸九分）　頭髮（一尺長四十九根上三味燒灰存性為末）川椒（四十九粒）　輕粉（真者三錢）　黃蠟（一兩）　香油（一盞）</p>
<p>上將香油黃蠟熬熟放冷卻下輕粉次下三味灰末攪勻用厚綿紙如瘡大十二片將藥塗盡其瘡先用黃柏荊芥湯洗淨將十二片紙重重貼上以繩縛定其癢不可當次日除去貼肉十層文以前湯洗淨再貼六日除去六層全好此治臁瘡絕妙法也</p>
<p>治腳指縫爛瘡用鮮鵝掌黃皮陰乾燒灰存性（為末乾摻）</p>
<p>治手足凍瘡用（□瓜）皮乾茄根二味煎湯熱洗（不過三次即效）</p>
<p>治熱瘡遍身發出膿血赤爛如火丹或如火燒者</p>
<p>黃連　黃柏（各三兩）　赤小豆　綠豆粉（各一合）　寒水石　紫草　漏蘆（各七錢）</p>
<p>上為末用香油調搽一日三次即愈</p>
<p>治火丹用黃鱔頭上血塗即愈如冬月無以螺螄肉搗爛絞汁塗之亦可</p>
<p>治湯泡火燒方先以臘酒冷洗以拔其毒再用雞蛋十餘個煮熟去白以黃炒焦黑取油約一盞用大黃研末二兩調勻敷上三日全好無瘡痕</p>

<h3>治四塊鵝掌風</h3>
<p>用千里光草一大握蒼耳草一中握朝東牆頭草一小握共入瓶內水煎百沸以手少擦麝香以瓶熏之仍用絹帛係臂上勿令走氣熏三次即愈（千里光草即金□草是也）</p>
<p>治腳墊毒人腳走長路緊被石塊腳底墊腫不能行步痛不可忍急用舊草鞋浸於尿桶內一宿或半日外用新磚燒紅將浸草鞋放在磚上以腫腳踏在上火逼尿氣入里即消此症諸方不載如不早治爛人腳甚至殺人走長路腳腫痛亦可用（此法即消）</p>

<h3>治拍蟹毒</h3>
<p>人大指次指隔界處忽生腫毒痛不可忍若不早治必爛人手用鮮蟹研爛塗患處立消</p>
<p>治身上虛癢用四物湯加黃芩煎調紫皆浮萍末一錢或菱屑花末一錢尤妙</p>

<h2>濟陰類</h2>
<p>凡婦人小兒老人諸症除婦人胎產經候小兒驚疳變蒸痘疹老人血氣衰憊水火升降失度與大人治法不同故另立方法其餘症同大人者悉照前四時方法用</p>

<h3>四物湯</h3>
<p>治婦人之總藥隨症加減妙用無窮（方見滋補類加減於後）經水過期不行血寒血少也本方五錢加香附莪朮（各一錢）蘇子（八分）桃仁（三十粒）紅花官桂木通（各七分）甘草（三分）空心煎服經水先期而來血熱也加黃柏知母條芩黃連（各七分）甘草（三分生）人參阿膠艾果（各五分）香附荊芥穗（各一錢）空心煎服血枯經閉本方一半加桃仁紅花共五錢空心煎服紫黑者血熱也本方五錢加黃芩黃連荊芥穗（各一錢）色淡者痰多也本方去地黃加二陳湯等分和服臨行腰腹疼痛乃鬱滯有瘀血加桃仁紅花莪朮玄胡索香附（各一錢）木香（五分另磨入）潮熱發熱本方五錢加地骨皮薄荷（各一錢五分）柴胡防風（各五分）甘草（三分）烏梅（一個）同煎食遠服虛寒者用熟地黃加乾薑官桂吳茱萸（各一錢）甚者再加熟附子（一錢）虛極者本方與四君子等分加黃耆（一錢半）熟附子（七分）經行不止者本方加真阿膠艾葉地榆荊芥穗（各一錢）妊娠胎動加香附砂仁紫蘇（各七分）白朮條芩（各一錢）阿膠（炒八分）蘄艾（五分）去生地黃用熟地黃胎前產後血痢加黃連地榆阿膠艾葉（各八分）厚朴（五分）五心煩熱加柴胡黃芩地骨皮（各一錢）甘草（三分）麥門冬（八分）有死胎加交□麝香白芷赤白帶下加藁本牡丹皮川續斷（各八分）產後惡露作痛加香附（一錢）乾薑（炒黑七分）生蒲黃陳皮（各八分）產後發熱加白朮茯苓陳皮黑乾薑（各八分）久無子息加附子肉蓯蓉（各一錢）熟地黃鹿角膠（各一錢半）</p>

<h3>烏骨雞丸</h3>
<p>治婦人經候不調並胎前產後一切諸症調經育子之上藥也累用奇驗</p>
<p>香附（二斤）　蘄艾（去梗淨二斤）</p>
<p>上二味分作四分（每分一斤）一分老酒一分米醋一分童便一分糯米泔各浸一宿炭火煮爛熟為佳石臼內木槌搗成薄餅曬乾磨為末聽用　大白毛烏骨雄雞一隻吊死去毛熱湯修理腸雜潔淨勿見生水再用</p>
<p>當歸（酒洗淨四兩）　白芍藥（酒炒四兩）　熟地黃（酒浸忌鐵四兩）　人參（去蘆三兩）　黃耆（蜜炙二兩）　白朮（炒）　陳皮（去白）　白茯苓（去皮）　砂仁（炒各一兩五錢）　烏藥（炒一兩）神麯（炒）　甘草（炙各七錢半）</p>
<p>上藥十二味制淨為粗末裝入雞肚內以線縫住仍用老酒米醋童便米泔等分入砂鍋內炭火煮令爛熟去骨石臼搗成餅曬乾磨為細末聽用再加木香沉香（各五錢不見火）官桂乾薑（炒半黑各三錢）</p>
<p>上四味另研為細末聽用　上三次藥末和勻重羅篩過煉蜜為丸如梧桐子大每服七十丸空心滾水打鹽湯送下愚按此方血虛多郁婦人服極效</p>

<h3>濟陰返魂丹</h3>
<p>治婦人胎前產後總藥一名益母丸用益母草一味其草即充蔚子其葉類火麻對節而生方梗凹面五六月間節節開紫花白花者不是南北隨處有之於端午小暑或六月六日花正開時連根收採透風處陰乾不犯銅鐵器石臼木杆搗羅為細末煉蜜為丸加彈大每服一丸各照後開引下或量加當歸赤芍藥木香尤妙其藥不限丸數以病愈為止日服三五丸或丸如梧桐子大每服七八十丸空心食遠照後引下（或熬膏調引用尤妙）</p>

<h3>熬膏法</h3>
<p>益母草不拘多少連根莖葉洗淨入石臼內搗爛以布濾取濃汁入砂鍋內文武火熬如黑砂糖色為度以瓷瓶收貯每用一茶匙照後開引調用極妙胎前臍腹刺痛胎動不安下血不止煎秦艽當歸糯米湯下胎前產後臍腹作痛作聲或寒熱往來如瘧狀者並用米湯下臨產併產後各先用一丸童便酒化下安魂定魄調血順氣諸病不生又能破血止痛養脈息調經絡其功甚大產後胎衣不下落在胞中及產前一切難產並橫生逆產胎死經曰不下腹中脹滿心下悶痛炒鹽湯下產後中風牙關緊急半身不遂失音不語童（酒便）各半化下產後氣喘咳嗽胸膈不利吐酸水面目浮腫手足疼痛舉動失力者溫酒下產後兩太陽穴痛呵欠怔忡氣短肢體羸瘦不思飲食血風身熱手足頑麻百節骨痛米湯下產後眼前黑暗血暈血熱口渴煩悶如見鬼神狂言不省人事薄荷自然汁下如無濃煎薄荷湯或童便酒各半下產後面垢顏赤五心煩熱或結成血塊臍腹奔痛時發寒熱有冷汗者童便酒各半下薄荷湯亦可產後瘀血惡露不盡結滯臍腹刺痛惡物上衝心胸滿悶童便酒下產後未經滿月氣血不通咳嗽四肢無力臨睡自汗不止月經不調久而不治則為骨蒸瘵疾童便酒各半化下產後鼻衄口乾舌黑童便化下產後大小便不通煩躁口苦者薄荷自然汁下如無生的乾的濃煎湯亦可產後赤白痢疾米湯下產後瀉血水濃煎棗湯下產後赤白帶下阿膠艾葉湯下血崩漏下糯米湯下婦人久無子息溫酒下一日一丸至三五十丸決有效驗勒奶痛或成癰為末水調塗乳上一宿自瘥或生搗敷上亦可上一十九症調引歷歷有效不能盡述用者自知其妙也</p>

<h3>蒸臍法</h3>
<p>治婦人月經不通或癥瘕血塊臍腹作痛此方神效</p>
<p>乳香　沒藥　血結　沉香　丁香（各三錢）　麝香（一錢上六味各另研）　青鹽　食鹽　五靈脂　兩頭尖（各六錢四味共為末）</p>
<p>上各末和勻外用麝香少許安入婦人臍內次將面作條方圓一寸繞臍圍住安藥末於內令滿以槐樹皮方圓一寸蓋上皮上鑽三孔用大艾炷灸之月經即通血塊即消累用神效</p>
<p>紅花當歸丸　治婦人血臟虛竭經候不調或斷續不來或積瘀成塊腰腹刺痛肢體瘦弱</p>
<p>馬鞭草（半斤）　劉奇奴（半斤二味共熬膏丸藥）　當歸（三兩酒洗）　赤芍藥　牛膝（去蘆酒洗）　川芎　香附（醋炒）　牡丹皮（去木）　甘草（各一兩半）　紅花　白芷（各七錢半）　官桂（六錢）　紫葳　蘇木（各三兩）　枳殼（炒一兩）</p>
<p>上為末以前膏入少糯米粉打糊為丸如梧桐子大每服七八十丸空心濃煎紅花酒送下</p>

<h3>濟陰百補丸</h3>
<p>治女人勞傷氣血不足陰陽不和作寒乍熱心腹疼痛胎前產後諸虛百損並宜用之</p>
<p>香附子（一斤分四制醋酒童便鹽水各浸三日炒乾）　益母草（五月五日採者佳忌鐵淨末半斤）當歸（酒洗曬乾六兩）　熟地黃（酒洗）　白芍藥（酒炒）　川芎　白朮（土炒各四兩）　白茯苓（去皮三兩）　玄胡索（炒二兩）　人參（去蘆二兩）　木香（不見火）　甘草（炙各一兩）</p>
<p>上為細末煉蜜為丸如梧桐子大每服六七十丸漸加至八九十丸空心米湯酒任下　按此方調脾胃補虛損極妙</p>

<h3>治赤白帶下神方</h3>
<p>樗根白皮　香椿根白皮　苦參　香附（醋炒）　梔子仁（炒）　山茱萸（去核）　黃柏（鹽酒炒）　龜板（去弦酥炙各二兩）　乾薑（炒五錢）　貝母（去心一兩）　白朮（炒）　當歸（酒洗各一兩五錢）　白芍藥（酒炒二兩）</p>
<p>上為末酒糊為丸如梧桐子大每服八十丸空心清米湯送下若孕婦赤白帶加蒼朮條芩川連白芷（各一兩）去乾薑樗皮貝母苦參龜板梔子亦為（丸服）</p>

<h3>固真湯</h3>
<p>治婦人赤白帶下行時臍下甚痛此方二服即效</p>
<p>人參（五分）　黃芩　黃柏　白葵花（各一錢）　郁李仁（八分）　柴胡（七分）　陳皮（去白五分）　甘草（炙）　乾薑（炒各三分）</p>
<p>上用水一鍾半煎七分空心服葵花白者治白帶赤者治赤帶赤白混下二花並用</p>
<p>按此方治氣血滯陰陽不清極效</p>

<h3>涼血地黃湯</h3>
<p>婦人血崩來如山崩水湧之勢明是血熱妄行豈可作寒論治宜清補兼升提不可驟止徐徐調理血清自歸源矣</p>
<p>黃芩　甘草（生）　荊穗　蔓荊子（各七分）　黃柏　知母　藁本　川芎　細辛（各六分）　黃連　羌活　柴胡　升麻　防風（各五分）　生地黃　當歸（各一錢）　紅花（少許）</p>
<p>上用水一鍾半煎八分空心稍熱服渣隨並服</p>

<h3>六合散</h3>
<p>治血崩不止諸藥不效此方立（止此急則治其標也）</p>
<p>杏仁皮（燒存性）　香附（童便浸三日炒黑）　舊紅毼子（燒存性）　地膚子（炒）　□棕薦（燒存性）　牡血餘（燒存性）　蟹殼（燒存性）　陳蓮蓬（燒存性）</p>
<p>上為末每服三錢用酸漿草汁一鍾衝上熱酒一鍾空心熱服</p>
<p>按此方初服反覺多以漸而少由紫色而紅以至於無即止既止之後用十全大補湯二十帖（調補方杜根矣）</p>

<h3>保胎丸</h3>
<p>專治累經墮胎久不育者宜服過七（月不必服）</p>
<p>白朮（四兩）　鼠尾條黃芩　當歸（滌洗）　人參　杜仲（炒去絲各二兩）　川續斷（酒浸一兩半）　陳皮（一兩）　熟地黃（懷慶者酒浸蒸一兩半）　香附（一兩童便浸炒）　</p>
<p>上為細末糯米糊為丸如綠豆大每服（七十丸空心白湯下）</p>

<h3>安胎飲</h3>
<p>治胎動胎漏不安一服立效</p>
<p>白朮（一錢二分）　條芩（一錢）　陳皮（去白八分）　真阿膠（炒珠一錢）　桑寄生（真者一錢）　甘草（四分）　蘄艾（五分）　當歸頭（六分）　陳枳殼（五分）　砂仁（炒六分）　川獨活（五分）　白芍（酒炒一錢二分）</p>
<p>上用姜一片棗一枚糯米百餘粒水煎空心服</p>

<h3>加味六君子湯</h3>
<p>妊娠二三月時作嘔吐名曰惡阻惡阻者噁心而阻隔飲食也此方主之</p>
<p>半夏（湯泡七次曬乾切片再以生薑自然汁拌）　白茯苓（去皮各一錢五分）　陳皮（一錢）　人參（八分）　白朮（炒）　砂仁（炒各六分）　甘草（二分）</p>
<p>上用姜三片煎食遠溫服</p>

<h3>芎蘇散</h3>
<p>治妊娠傷寒頭疼身痛發熱胸膈煩悶兀兀欲吐法禁汗吐下止宜和解（方見春類）</p>

<h3>妊娠傷寒熱病護胎法</h3>
<p>用伏龍肝（即灶心土）　井水調塗臍下干又塗之就以井花水調服一錢產難細研一錢酒調服亦妙</p>

<h3>十聖散</h3>
<p>小產一症多因本婦氣血不足胎無所榮血不足胎無所養榮養失宜猶樹枝枯而果落豈不傷枝損葉乎其間過傷飢飽勞佚動胎惱怒憂思內外寒冷傷於子臟又須量輕重而加減治之此藥性平和滋血養氣須月服四五帖方好或素有墮胎之患者亦宜按法用之仍忌惱怒（生冷酒醋熱物）</p>
<p>人參（去蘆）　黃耆（各八分）　白朮（炒一錢）　砂仁（炒五分）　甘草（三分）　熟地黃（酒洗）　白芍藥（酒炒）　當歸身（酒洗各一錢）　川芎（七分）　川續斷（七分）</p>
<p>上用姜一片棗一枚（水鍾半煎八分食遠服）</p>

<h3>三合濟生湯</h3>
<p>治臨產艱難一二日（不下服此自然轉動不生）</p>
<p>枳殼（二錢麩炒）　香附（錢半炒）　甘草（七分）　川芎（二錢）　當歸（三錢）　蘇葉（八分）大腹皮（薑汁洗錢半）</p>
<p>上用水二鍾煎至一鍾待腰腹痛甚時通口服之即產九月尾十月頭先服一二服尤妙此方累用有效</p>

<h3>催生不傳遇仙丹</h3>
<p>治難產累用效見神速</p>
<p>蓖麻子（去殼十四粒）　硃砂（另研）　雄黃（另研各二錢半）　蛇蛻（一條全）</p>
<p>上為細末粥糊為丸如彈子大每服一丸臨產時先以川椒湯淋洗臍下納藥一丸以黃紙數重覆藥上軟帛拴系產則急取去之否則連生腸俱下一丸可用三次若誤致生腸下（即以本藥放頂門上即收神效）</p>

<h3>治胎衣不下神方</h3>
<p>凡產後胎衣不下惡血湊心迷悶須臾不救產母即危此方可預合下以備用真濟世救急之神方也不敢自秘故表而出之</p>
<p>乾漆（二錢為末）　大附子（一枚炮去皮臍為末）</p>
<p>上二味和勻外用大黃五錢為末酒醋熬成膏子和前末為丸如梧桐子大每服三十丸淡醋湯下（一時連進三服胎衣即下神效）</p>
<p>治胎衣不下一時無藥者用皮硝三錢為末童便調熱服即下亦治橫生逆產仍將本婦手足爪甲炒黃為末酒下一匕更令有力穩婆將產婦抱起將竹筒從心上趕下如此數次即下</p>

<h3>治橫生逆產方</h3>
<p>其症孕婦欲產時遇腹痛不肯舒伸行走多曲腰眠臥忍痛其兒在腹中不得轉動若手先出謂之橫生足先出謂之逆產須臾不救子母俱亡此方立效</p>
<p>烏蛇蛻（一條）　蟬蛻（十四個去土柳樹上者佳）　壯血餘（一耗胎髮更好）</p>
<p>上各燒灰存性為末每服二錢酒調下連進二服仰臥片時兒即順下</p>
<p>又法用小針於兒腳心刺三五針急以燒鹽少許塗刺處即時順下子母俱活</p>
<p>治血暈昏迷欲死者急取韭菜一大握切細放在小口瓶內用滾熱酸醋泡在瓶中將瓶口沖在病人鼻口內使韭氣直衝透經絡血行即活再用後方輕則燒舊漆器熏鼻亦好</p>

<h3>清□散</h3>
<p>治產後眩運血暈二症又能清血行經逐舊養新</p>
<p>澤蘭葉荊芥穗（各二兩）　川芎（一兩）　人參（五錢）　甘草（四錢）</p>
<p>上為細末每服二錢（煎蔥湯線酒送下煎服亦可）</p>

<h3>產後調補氣血方</h3>
<p>人參　白朮（各一錢）　甘草　川芎（各七分）　當歸（八分）　黃芩　陳皮（各五分）　熟地黃（酒洗一錢）</p>
<p>上用薑棗煎食遠服如發熱輕則加茯苓（一錢）淡滲其熱重則加乾薑（炒黑一錢）以散其熱或曰大熱何以用乾薑曰此非有餘之熱乃陰虛生內熱耳蓋乾薑能於肺分利肺氣入肝分引血藥生血然必與補陰藥同用乃效此造化自然之妙非天下之至神其孰能與於此乎</p>
<p>治產後敗血不止小腹繞臍作痛（俗名兒枕痛此方一服即愈）</p>
<p>生蒲黃　川芎　白朮　神麯　陳皮　桃仁（各七分）　香附（童便炒）　當歸尾（各一錢半）甘草（四分）</p>
<p>上用水一鍾半煎七分不拘時熱服</p>

<h3>烏金散</h3>
<p>治產後一十八症第一胎死不下二難產三胎衣不下四產後眼花五產後口乾心悶六寒熱似瘧七敗血流入四肢浮腫寒熱不定八血邪顛狂語言無度九失音不語十心腹疼痛十一百節骨痠疼十二敗血似雞肝十三咳嗽寒熱不定十四胸脅氣滿嘔逆十五小便澀十六舌乾鼻中血出繞項生瘡十七腰疼如角弓十八喉中如蟬聲以上症候並宜服之</p>
<p>烏金子（即大烏豆）　肉桂（去粗皮）　當歸（去蘆酒洗烘乾）　真蒲黃　木香　青皮（去白）壯血餘（燒存性）　赤芍藥（炒）　皂莢（不蛀者燒存性）　紫葳（即菱霄花）　大薊根　小薊根　蠶蛻紙（新綿亦好燒存性）　棕毛（燒存性以上各五錢）　乾紅花（一兩）　烏（一個生用）　硃砂（少許另研）　血結（少許另研）</p>
<p>上十八味除灰藥另研外共為細末入另研藥和勻每服一錢生薑湯或芍藥當歸湯或菱霄花煎酒調下甚者一夜三四服忌魚鵝豬羊及一切生冷油炙等物取效甚速</p>

<h3>大黃膏</h3>
<p>治症照後調引隨症消息加減妙不可言用錦紋川大黃不拘多少米泔水浸經宿去粗皮曬乾為細末聽用外用陳米醋酌量多少熬待稠黏漸入大黃末不住手攪令極勻以瓷器貯之紙糊封口毋致蒸發臨時量病虛實輕重入在烏金散內服之人壯病實者半彈丸以下漸少或以膏子丸如龍眼大一樣茨實大一樣皂子大一樣陰乾瓷器密收看病大小用一丸與病人嚼破以烏金散送下</p>
<p>產後內熱惡露作痛俗名兒枕痛及大便不利秘結者並用四物湯浸化一丸服發寒熱如瘧或內熱者煎小柴胡湯浸化一大丸服之未效再服並不噁心口中吐醋水面目浮腫兩脅疼痛舉動失力者溫酒下產後兩太陽痛呵欠心忪氣短肢體羸瘦不思飲食血風身熱手足頑麻百節疼痛米湯下產後眼前黑暗血暈血熱口渴煩悶狂言如見鬼神不省人事濃煎薄荷湯下或童便各半下亦可產後面垢顏赤五心煩熱或結成血塊臍腹奔痛時發寒熱有冷汗寨便酒各半下或薄荷湯亦可產後血餘惡露不盡結滯腹臍刺痛惡物上衝心胸滿悶童便酒各半下產後未經滿月血氣不通咳嗽四肢無力臨睡自汗不止月水不調久而不治則為骨蒸瘵疾童便酒各半下產後鼻衄口乾舌黑童便酒下產後大小便不通煩躁口苦者薄荷自然汁下如無濃煎薄荷湯下產後赤白痢疾陳米湯下產後漏血水棗湯下產後赤白帶膠艾湯下血崩漏下糯米湯下勒奶痛或成癰水搗膏敷乳上一宿自瘥</p>
<p>抑肝散治寡居獨陰婦人惡寒發熱全類瘧者久不愈即成瘵疾</p>
<p>柴胡（二錢半）　赤芍藥　牡丹皮（去心各一錢半）　青皮（炒二錢）　當歸（五分）　生地黃（五分）　地骨皮（一錢）香附（童便炒一錢）　川芎（七分）　連翹（五分）　山梔仁（炒一錢）　甘草（三分）　神麯（炒八分）</p>
<p>上用水煎空心服渣再煎下午服夜服交感丹一丸方見秋類此二方累試累效</p>
<p>治婦人生下孩兒但不能發聲謂之夢生世俗多不知救深為可憐今後有此切不可斷臍帶將胞衣用火炙令暖氣入兒腹內卻取貓一隻用青袋包裹其頭足使一伶俐婦人拿住貓頭向兒耳邊以口著力咬破貓耳貓必大叫一聲兒即省開口發聲遂得生矣</p>
<p>又法兒因難產或逆產下不哭微有氣者即以本父母真氣度之亦活二法皆經驗</p>

<h2>慈幼類</h2>

<h3>治驚風方法</h3>
<p>凡小兒急驚屬肝木風痰有餘之症治宜平肝鎮心驅風消痰降火清內熱慢驚屬脾土不足因吐瀉久虛元氣不固或大病後元氣不足宜補中兼疏利世俗以一藥通治二症者甚要</p>

<h3>急驚神方</h3>
<p>牛膽南星（四錢半）　全蠍（二錢）　荊芥穗　防風（去蘆）　姜蠶（炒）　天竺黃（各三錢）辰砂（天葵草伏過一錢六分另研）　琥珀　牛黃（另研）　蟬蛻　木香（各一錢五分）</p>
<p>上為末山藥打糊為丸如龍眼大硃砂為衣每服一丸</p>
<p>薑湯化下此吉水鄧小兒家傳極效</p>
<p>又方　治急驚</p>
<p>車前子（三錢）　輕粉（一錢）　麝香（二分另研）　片腦（一分半另研）　牛黃（一錢另研）　全蠍（十四個）　天麻（二錢）　牛膽南星（二錢）　白附子（一錢）　硃砂（三錢另研）　青袋（三錢）　珍珠（一錢另研）男兒乳（一盞）　生人血（二匙）</p>
<p>上為末各研和勻粟米糊為丸如黃豆大硃砂為衣每服一丸荊芥薄荷湯磨下先用半丸研細吹入鼻中外用石腦姜蠶去嘴調塗人中立妙</p>

<h3>慢驚秘方</h3>
<p>急驚日久不止亦可用</p>
<p>人參　白茯神（去皮心）　琥珀　姜蠶（炒）　全蠍　防風（去蘆）　牛膽南星　白附子（生用）　蟬蛻（去土）　蘄蛇肉（各二錢）　辰砂（一錢另研）　麝香（二分）</p>
<p>上為末煉蜜為丸黃豆大硃砂為衣每服一丸菖蒲湯化下急驚薄荷湯化下此二方乃蕪湖夏小兒世傳極效</p>

<h3>慢驚神效方</h3>
<p>人參（一兩）　姜蠶（炒三錢）　全蠍（二錢）　生人血（二匙）　辰砂（二錢另研為衣）</p>
<p>上為末用麻黃一兩甘草一兩熬膏為丸如櫻桃大硃砂為衣每服一丸南棗煎湯化下（此邵伯仲小兒方累用累效）</p>
<p>秘傳牛黃清心丸治小兒驚風大人中風中痰中氣一切風痰之症</p>
<p>天麻（四兩）　防風（二兩去蘆）　牛膽南星（二兩半）　姜蠶（炒）　全蠍（各二兩半）　白附子（生用）　干天羅（即絲瓜五錢）　川烏（五錢）　遠志（去心二兩）　穿山甲（蛤粉炒三兩）　蟬蛻（二兩去土）　蒿蟲（不拘多少）　辰砂（天葵煮一兩）　雄黃（一兩二味另研）　犀角（鎊細五錢）蜈蚣（三錢）　蟾酥（五分另研）　沉香（三錢）　細辛（五錢）　龍齒（五錢）　琥珀（二錢另研）珍珠（三錢另研）　天竺黃（三錢）　蛤蚧（一對）　金銀箔（各十帖）</p>
<p>上藥各制淨為末外用荊芥一斤麻黃一斤木通一斤皂角半斤甘草四兩蒼耳子四兩六味熬膏入真酥合油和蜜為丸芡實大金銀箔為衣蠟封隨症調引用</p>

<h3>四生錠</h3>
<p>治慢驚聖藥一錠即有起死回生之功頃刻見效故名為回生錠真海上仙方也若急驚亦效</p>
<p>人參（五錢）　白朮（一兩）　真赤石脂（煆五錢淨假的不效）　山藥（一兩）　甘草　辰砂（各三錢）　桔梗（一兩）　白茯苓（去皮一兩）　滴乳香（二錢另研）　麝香（一錢另研）　牛膽南星（五錢）　礞石（煅金色三錢）　牛黃（一錢另研）　金箔（十片為衣）</p>
<p>上為末五月五日午時取粽搗勻印作錠子金箔為衣陰乾每服大人五分小兒二分薄荷湯下</p>

<h3>秘方黑神丸</h3>
<p>治急驚風垂死者一服可即活</p>
<p>⿳艹䀠辰粉　香墨　白麵（各二錢）　蘆薈（一錢八分）　牛黃（另研）　青黛（飛淨）　使君肉（去殼淨各一錢）　辰砂（一錢半另研）　麝香（五分另研）　冰片（二片另研）　金箔（十片）</p>
<p>上為末麵糊為丸黃豆大金箔為衣每服一丸薄荷湯下</p>

<h3>治急慢驚風海上方</h3>
<p>用五月五日午時取白頭蚯蚓不拘多少去泥焙乾為末加辰砂等分和勻糯米糊為丸綠豆大金箔為衣每服一丸白湯下取蚯蚓時先以刀截為兩段看其斷時跌快者治急驚跌慢者治慢驚作二處修合極效</p>

<h3>仙傳救急驚神方</h3>
<p>並治大人中風中痰一服立效不許受謝並食病家茶酒犯者不效</p>
<p>用生白石膏研末十兩辰砂研末五錢二味和勻每服大人三錢小兒一歲至三歲一錢四歲至七歲一錢五分八歲至十二歲二錢十三至十六歲二錢五分用生薑蜜調下立效按此二方價不貴而功極速累用累效</p>

<h3>千金肥兒丸</h3>
<p>小兒疳症因脾家有積脾土虛而肝木乘之所致積久不散復傷生冷厚味故作疳症肚大筋青潮熱咳嗽胸前骨露治法調脾胃養血氣為主其次消積殺蟲散疳熱</p>
<p>白朮（半斤）　真茅山蒼朮（半斤）　陳皮（一斤不去白）　厚朴（一斤用乾薑半斤水拌令潤透同炒乾去姜不用）　甘草（一斤炙為末用斤一半為衣）　賴蛤蟆（十隻蒸熟焙乾為末）　川黃連（一斤用苦參四兩好燒酒一斤二味拌盒一時焙乾去參）　禹餘糧（蝦一斤如無以蛇含石代）　神麯（一斤炒）　牡蠣（煆七次童便淬七次淨一斤）　青蒿（一斤童便製為末）　山楂（去核一斤）　鱉甲（醋炙一斤）　胡黃連（半斤）　蘆薈（四兩）　使君子（去殼淨肉四兩）　夜明砂（淘淨四兩）　鶴蝨（不拘多少）</p>
<p>上前藥各制淨為末外用小紅棗五斤去皮核黃耆三斤當歸一斤熬膏入面一斤打和作糊為丸如綠豆大以前甘草末半斤雷丸小茴香末各四兩為衣每服八歲以下五十丸九歲以上七十丸食前清米湯送下累用神效</p>

<h3>消疳餅</h3>
<p>專治諸疳積累試極驗兒又肯用　夏月取賴蛤蟆百餘隻端午前後取的更佳去頭足腸肚皮骨另放一處先將肉香油煎熟與兒吃再將皮骨腸肚以缽頭盛放烈日中上用稀篩蓋之任蒼蠅攻鑽生蛆待蛆食骨上肉盡然後取蛆洗淨炒乾用重紙包灰火內煨焦存性為末每末一兩加入後藥</p>
<p>胡黃連（二兩）　山楂肉（去子淨四兩）　真蘆薈（二兩）　砂仁（二兩）　青皮（去白麩炒一兩）　蕪荑（一兩）　檳榔（二兩）　蒿心末（一兩）　西涯木香（五錢）</p>
<p>上為末除渣淨一斤外用陳麥面十斤沙糖二斤餳糖一斤將藥面糖和勻如金花餅法造成餅子一兩重一個每日空心食一個米湯下能消疳磨積如神小兒日逐用之極妙</p>
<p>治小兒吐瀉由寒熱不勻內傷脾胃所致泄瀉痢疾亦由濕熱積滯而成治宜消積理脾為要後二方主之</p>

<h3>加減錢氏白朮散</h3>
<p>治吐瀉極效</p>
<p>人參（五分）　白朮（八分）　白茯苓（六分）　甘草（二分）　陳皮（六分）　半夏（七分）　藿香　砂仁　乾葛（各五分）</p>
<p>上用水一鍾煎六分入薑汁一匙和勻服</p>

<h3>香橘餅</h3>
<p>治小兒疳積下痢並久瀉不止或冷熱不調赤白膿血相雜小腹疼痛或禁口不食裡急後重日夜無度經久不瘥致脾虛脫肛不收並宜服之</p>
<p>陳皮（去白）　青皮（去穰麩炒）　厚朴（薑製）　青木香　山楂肉（去核淨）　神麯（炒）　麥芽（炒）　白朮（炒各四兩）　三稜（醋炒二兩）　莪朮（醋炒一兩）　香附（炒）　砂仁（炒）　甘草（炙）　人參（滋潤有潤者去蘆各二兩）　木香（不見火五錢）</p>
<p>上為極細末煉蜜和勻印作錠子每餅濕時重二錢陰乾每服一瓶空心米湯化下立效大人亦可用</p>

<h3>白朮助胃丹</h3>
<p>治小兒吐瀉大能和脾胃進飲食化滯磨積</p>
<p>人參（六錢）　白朮（一兩五錢陳土炒）　白茯苓（去皮一兩）　甘草（炙五錢）　白豆蔻（大者去殼十五粒）　砂仁（大者四十粒炒）　肉豆蔻（中大四個雞蛋清炒）　木香（二錢）　山藥（薑汁炒一兩）</p>
<p>上為極細末煉蜜丸如皂子大每服一丸空心米湯化下</p>
<p>治小兒食傷宜服比方消導之</p>
<p>白朮（一錢）　陳皮（七分）　麥芽（一錢）　厚朴（六分）　甘草（四分）　枳實（六分）　傷乳及粥飯米麵加神麯（真炒香一錢）半夏（六分）更增麥芽（五分）若傷魚肉果子等食加山楂（一錢炒）砂仁（五分）黃連（三分）草果（三分）傷生冷之物腹痛或泄瀉清冷色白加砂仁山楂神麯（各八分）煨木香（四分）乾薑（炒紫黑三分）傷辛熱飲食或傷食停積日久食鬱作熱嘔吐酸水或大便積痢不快或黃黑色此有熱也加姜炒黃連（七分）山楂川芎（各五分）木香（二分）尋常紫小傷食不必服藥只用麥芽入姜二片煎湯飲之</p>
<p>上藥用姜二片水一鍾煎六分食前服　若飲食傷脾胃食積在內作熱見於肌表或潮熱往來只宜理中而表熱自除不可解表宜用前方加山楂白芍藥升麻乾葛（各八分）生甘草（二分）炙甘草（二分）黃連（五分）以消食積之熱表熱未除亦宜加以除脾胃之熱熱壯盛脈有力者更加煆石膏（一錢）此皆太陰陽明二經藥也</p>
<p>治小兒服前消導藥積去後泄瀉不止服此方調補脾胃止瀉</p>
<p>白朮（一錢二分）　白茯苓（一錢）　白芍藥（一錢酒炒）　木香（煨）　甘草（炙）　肉豆蔻（各四分）　黃連（姜炒）　神麯（姜炒）　陳皮（各六分）　乾薑（炒半黑二分半）</p>
<p>上用姜二片煎食前溫服泄瀉止後調理以復脾胃之氣本方去乾薑神麯肉果加人參（六分）黃耆（三分）服二帖愈過服解表止瀉痢致損脾胃中血氣本方去肉果木香乾姜神麯黃連加山楂（三分）當歸（四分）半夏（薑製八分）麥門冬（六分）川芎（二分）</p>
<p>此皆平和之劑故可常服調理以復胃氣雖大人亦可服也</p>
<p>磨積錠治小兒一切積滯</p>
<p>白朮（陳土炒二兩）　陳皮（二兩）厚朴（姜炒一兩）　檳榔（一兩）　枳實（麩炒一兩）　三陵莪朮（二味醋炒各一兩半）　使君子（去殼淨一兩七錢）　半夏曲（一兩）　山楂（去核）　神麯（炒各二兩）　阿魏（真者一兩）　黑牽牛（頭末一兩半生半炒）　巴豆霜（三錢另研）　木香（三錢）碙砂（一錢洗去砂土）　蒼朮（麩炒一兩）　甘草（一兩）</p>
<p>上為末神麯一半麥芽面一半打糊為槐搗千餘下印作錠子每錠濕重二錢陰乾約一錢每服八歲以上一錠七歲以下半錠空心滾白湯磨下微利一二次不妨無積不可服</p>

<h3>惺惺散</h3>
<p>變蒸一症乃小兒蒸皮長骨變幻精神不須服藥其有兼傷風寒咳嗽痰涎鼻塞聲重蒸蒸發熱宜服此方</p>
<p>人參　白朮　白茯苓　甘草（炙）　白芍藥（炒）　天花粉　桔梗（各五錢）　細辛　薄荷葉（各二錢五分）</p>
<p>上為粗末每服三錢水四盞煎二盞服不拘時候</p>
<p>治麻症及斑疹初因外感不解熱蘊於內而成宜用葛根湯以解散痘瘡初覺發熱亦宜用之若見標則不宜用也（方見春類）</p>
<p>消毒飲治癍疹熱甚紫黑者或痘未出時亦宜服</p>
<p>牛蒡子（一名鼠黏子炒研三錢）　荊芥（去根一錢）　連翹（一錢）　防風（去蘆）　甘草（生各五分）　犀角（二分另磨入）</p>
<p>上作一服水煎熱服</p>
<p>治痘三法按博愛心鑑治痘症立逆順險三法極其詳明而效驗亦神謹按其法之大概以所宜用之方隨變症加減詳於三法之下以廣其幼幼之仁也</p>
<p>順者一二日間初出之象如粟於口鼻腮耳年壽之間先發三五點淡紅潤色者吉之兆也氣得其正血得其行其毒淺而輕不得妄行所以不須服藥如七八日內貫漿之時略服保元湯一二點以助其氣血也</p>

<h3>保元湯</h3>
<p>人參（二錢）　黃耆（三錢）　甘草（一錢）　加川芎（五分）　當歸（七分）</p>
<p>引助血分上用姜一片水一鍾煎六分食遠溫服</p>
<p>逆者初出於天庭司空太陽印堂結喉心胸方廣之處先發者逆形如蠶種紫黑乾枯氣澀血滯致毒深妄參陽位難當其勢也以前保元湯內用人參一錢黃耆甘草各一錢加白芍藥一錢牛蒡子黃芩黃連玄參絲瓜灰當歸川芎連翹（各五分）陳皮官桂（各三分）防風羌活荊芥前胡（各四分）姜三片蔥一根煎服一以解毒一以助氣血取汗以泄其毒開其滯澀或幡然如雲霧之散而白日出見此一救而可得生者十中二三七八日內病勢沉重色白毒深又用保元湯加大黃芒硝枳實（炒）厚朴川芎當歸水煎服大下之下後而身溫再出紅潤此則十中可活一二乃起死回生之妙也</p>
<p>險者初出圓暈成形乾紅少潤其一二日間出現者毒尚淺氣血未離可治以俟其氣血交會也以保元湯加桂（三分）兼活血勻氣之劑如毒若盛兼解毒之藥</p>

<h3>加味保元湯</h3>
<p>人參　黃耆　甘草　白芍藥（各一錢）　當歸（六分活血）　陳皮（六分勻氣）　白朮（補中六分）　牛蒡子（七分）　連翹　玄參（各六分解毒）</p>
<p>上用水一鍾煎七分溫服入少酒尤驗一云四肢出不快者加防風（五分）八九日以此方加減服以助其氣血貫漿十三四日內以保元湯加白朮白茯苓陳皮山楂以助結痂如渴用參苓白朮散（方見夏類）如毒熱不解用後方</p>

<h3>牛蒡子散</h3>
<p>牛蒡子（一錢）　連翹　黃連　玄參（各七分）　甘草（生）　荊芥　防風（各五分）　紫草（五分）　犀角（銼末三分入藥）　川芎　當歸　赤芍藥　生地黃（各六分）</p>
<p>上用水一鍾煎七分服以解其熱毒即安</p>
<p>大法保元湯四物湯四君子湯皆當隨氣血盛衰參用毒盛則下之毒少則解散之寒則溫之熱則清之全在活法治之可保無虞古方木香異功等散多燥熱非真寒症不可輕用慎之慎之</p>

<h3>神功消毒保嬰丹</h3>
<p>凡小兒未出痘瘡者每遇春分秋分日服一丸其痘毒即漸消化若只服一二次者只得減少若服三年六次其毒盡能消化必保無虞此方神秘本不欲輕傳但慈幼之心自不能已願與四方好生君子共之</p>
<p>纏豆藤（一兩五錢其藤八月收取毛豆桔上纏繞細紅線藤就是採取陰乾此味為主妙在此味藥上）黑豆（三十粒）　赤豆（七十粒）　山楂肉（一兩）　新升麻（七錢五分）　荊芥（五錢）　防風（五錢）　生地黃　川獨活　甘草　當歸（各五錢）　連翹（七錢五分）　黃連　赤芍藥　桔梗（各五錢）　牛蒡子（一兩）　辰砂（另研甘草同煮過去甘草一兩五錢）　苦絲瓜（一個各長五寸隔年經霜者妙燒灰存性）</p>
<p>上各為極細末砂糖拌勻共搗千餘下丸如李核大每服一丸濃煎甘草湯化下其前項藥預辨精料遇春分秋分或正月十五或七月十五日修合務在虔誠忌婦人雞貓犬孝子見合藥須於淨室焚香向太陽祝藥云神仙真藥體合自然嬰兒吞服天地齊年吾奉太上老君急急如律令敕一氣七遍</p>
<p>治小兒初生七日內急患臍風撮口百無一活父母坐視其死而不能救良可憐哉一秘法極有神驗世罕知之凡兒患此疾者齒齦之上有小泡子如粟米狀急以溫水蘸青軟帛或綿裹手指輕輕擦破即開口便安不須服藥神效不誤</p>

<h3>治撮口方</h3>
<p>小兒斷臍為風濕所乘或尿在包裙之內遂成臍風面赤喘急啼聲不出名曰攝口此方治之</p>
<p>赤腳金頭蜈蚣（一條）　蠍稍（四尾）　姜蠶（七枚）　瞿麥（五分）</p>
<p>上為細末先將鵝管吹藥一分入鼻內使嚏啼哭為可醫後用薄荷湯調服三五分立效</p>
<p>治小兒初生大小便不通腹脹欲絕者急令婦人以熱水漱口吸咂兒前後心並臍下兩手足共七處每一處凡三五次漱口吸咂取紅赤色為度須更自通不爾無生若遇此症按法治之可得再生也天一丸治小兒百病隨症調引</p>
<p>燈心（用淨一斤以米粉漿水洗曬乾研末入水沉之浮者取用再曬乾二兩五錢沉者不用）　赤白茯苓茯神（去皮心淨各二兩共六兩）　滑石（牡丹皮二兩同煮半日去丹皮曬乾淨六兩）　澤瀉（五兩去毛淨要白者）　豬苓（去黑皮五兩）</p>
<p>上藥五味為細末外用人參六兩白朮六兩甘草四兩熬膏為丸如龍眼大硃砂為衣貼金箔每服一丸照病調引用大抵小兒之生本天一生水之妙凡治小兒病以水道通利為捷徑也</p>

<h2>養老類</h2>

<h3>卻病延壽丹</h3>
<p>年高老人但覺小水短少即是病進宜服此方</p>
<p>人參（一錢）　白朮（一錢）　牛膝（一錢）　白芍藥（一錢）　白茯苓（一錢）　陳皮（一錢）　山楂肉（去核一錢）　當歸（五分）　小甘草（五分）</p>
<p>上用姜二片水煎空心服</p>
<p>春加川芎（七分）夏秋加黃芩麥門冬（各一錢）冬加乾薑（二分）倍當歸服至小水長止藥如短少又服此丹溪養母方也為人子者不可不知此或用糊丸如梧桐子大每服七八十丸空心食遠清米湯下三子養親湯老人形衰苦於痰喘咳嗽氣急胸滿艱食不可妄投盪滌峻利之藥反耗真氣予因三人求治其親靜中精思以成此方隨試隨效蓋三子者出自老圃性度和平芬暢善佐飲食善養脾胃使人親有勿藥之喜故仁者取焉</p>
<p>紫蘇子（主氣喘咳嗽用紫色真正年久者佳）　蘿蔔子（主痞悶兼理氣用白種者）　白芥子（消痰下氣寬中白者佳紫色不用）</p>
<p>上各洗淨去砂土曬乾紙上微炒研細看何經病多以所主為君餘次之每劑不過三錢用生絹或細布小袋盛之煮湯可隨甘旨飲啜亦不拘時勿煎太過令味苦辣口若大便素實入熟蜜一匙冬寒加姜一片尤妙</p>
<p>加味地黃丸治老人陰虛筋骨痿弱無力面無光澤或黯慘食少痰多或嗽或喘或便溺數澀陽痿足膝無力形體瘦弱多因腎氣久虛憔悴寢汗發熱作渴</p>
<p>懷熟地黃（酒蒸四兩）　山茱萸（去核淨二兩）　山藥（薑汁炒二兩）　牡丹皮（去木一兩半）　益智仁（去殼鹽水炒一兩古方澤瀉）　五味子（去梗□兩）　麥門冬（去心一兩）</p>
<p>上為末煉蜜為丸如梧桐子大每服七八十丸空心鹽湯下</p>
<p>夏月不用鹽腰痛加鹿茸當歸木瓜續斷（各一兩）消渴去茯神倍用麥門冬五味子老人下元冷胞轉不得小便膨急切痛四五日困篤垂死者用澤瀉（二兩）去益智仁諸淋數起不通倍用茯苓澤瀉益智減半腳氣痛連腰胯加牛膝木瓜（各一兩）夜多小便依本方茯苓減半虛壅牙齒疼痛浮而不能嚼物並耳聵及鳴並去麥門冬加附子（炮）桂心（淨各一兩）耳聾或作波濤鐘鼓之聲用全蠍四十九枚炒微黃色為末每服三錢溫酒調送一百丸空心服</p>

<h3>加味搜風順氣丸</h3>
<p>老人常服潤利臟腑水無癱瘓痰火之病極效（方見冬類）</p>
<p>固本酒老人常服補脾清肺養心益腎大補陰血</p>
<p>人參（一兩）　甘州枸杞（一兩）　天門冬（去心一兩）　麥門冬（去心一兩）　懷生地黃（一兩）　懷熟地黃（一兩）</p>
<p>上好燒酒十二斤浸春秋半月夏七冬二十一日密封固瓶口待浸日完取出絞去渣每日空心食遠各飲二盞其渣再用白酒十斤煮熟去渣每日隨意用之</p>

<h3>菖蒲酒</h3>
<p>通血脈調榮衛聰耳明目久服氣力倍常行及奔馬發白返黑齒落更生延年益壽心與神通晝夜有光</p>
<p>用五月五日六月六日七月七日取菖蒲不拘多少搗爛絞取清汁五斗糯米五斗蒸熟入細酒麴五斤（南方只用三斤）搗碎拌勻如造酒法下缸密蓋三七日榨起新壇盛泥封固每次溫服二三杯極妙</p>

<h3>菊花酒</h3>
<p>清心明目養血疏風</p>
<p>用家菊花（五斤）　生地黃（懷慶者五斤）　地骨皮（去土並木淨五斤）</p>
<p>上三味搗碎一處用水一石煮取淨汁五斗次用糯米五斗炊飯細面曲五斤拌令勻入甕內密封三七日候熟澄清去渣另用小瓶盛貯每服二三杯不拘時候</p>

<h3>冬青子酒</h3>
<p>用冬至日採冬青子一斗五升糯米三斗拌勻蒸熟以酒麴造成酒去渣煮熟隨意飲五七杯不拘時能清心明目烏須黑髮延年益壽卻百病消痰火</p>

<h3>紫蘇子酒</h3>
<p>調中益五臟下氣補虛潤心肺消痰順氣</p>
<p>用大羊脊髓一條透肥者搗碎用青梁米四合淘淨以水五升煮取汁二升下米煮作粥入五味和勻空心食之常用極有補益</p>

<h3>雞頭實粥</h3>
<p>老人常用益精強腎聰耳明目</p>
<p>用雞頭實不拘多少去殼淨粉三合粳米三合照常煮粥空心食之</p>

<h3>薏苡仁粥</h3>
<p>治老人脾胃虛弱常用疏風濕壯筋骨</p>
<p>用薏苡仁四兩粳米三合照常煮粥不拘時用</p>

<h3>蓮肉粥</h3>
<p>老人常用補脾胃養心腎</p>
<p>用蓮肉（三兩去皮心淨）　糯米二合晚米三合和勻作二次煮粥空心食之</p>

<h3>法制豬肚方</h3>
<p>補老人脾胃不足虛羸乏力</p>
<p>獖豬肚（一具洗淨）　人參（五錢）　乾薑（一錢泡）　川椒（一錢炒出汗去目開口者）　蔥白（五莖去須葉）　粳米（五合）</p>
<p>上藥研為末以米合和相得入豬肚內縫合勿令泄氣以水五升用砂鍋內慢火煮令極爛空心服之次飲酒三五杯</p>

<h3>牛髓膏</h3>
<p>用熟牛胻骨內髓（四兩）　核桃仁（去皮二兩）</p>
<p>上二味和擂成膏空心食入少鹽大能補腎消痰極效</p>

<h3>開胃炒麵方</h3>
<p>歌曰　二兩白鹽四兩姜　五斤炒麵二茴香　半斤杏仁和麵炒　一兩甘草蜜炙黃　枸杞子　胡桃穰（各半斤）　芝麻等分最為良駐顏和血延壽等　補藥之中第一方</p>
<p>上各研末和勻不拘時白沸湯點服</p>
<p>又方　治老人脾虛或大病後胃口虛弱怯食</p>
<p>用糯米五升浸一晝夜周時淋干入鍋內慢火炒令香燥不可焦外用花椒炒出汗去目及閉口者淨二兩薏苡仁一斤蓮肉一斤去皮心各炒黃熟共和為末再用白糖二斤和勻瓷罐密貯每日清晨用一白盞沸湯調服善能補胃進食</p>
<p>古今醫家言方者夥矣失之多者利雜而不精失之寡者則漏而不全觀者不能無遺恨也子於暇日縱觀群書搜輯預養之良法已驗之名方參以己意分四時南北之異輕重緩急之宜別為二冊名曰養生類要命之梓人傳布四方或病將發防於未形或病卒生尋醫不偶循而行之未必不為無助也若曰道在是則（倫）豈敢謹告</p>

<h1>跋</h1>
<p>醫之為道古來有言也言自軒歧始未有方也方自仲景始方出而道滋弊焉然非方之能弊道也言之或能盡令乎道病之不能盡合乎方泥而庸之道其不滋弊耶吾侄子懼弊道而訛人也搜輯於見聞之真詳擬於心思之極察其風土辨其氣候審其年敘掄其方之可傳者定為司南以不用之者存乎通焉其用心亦良矣承既板之後言於簡末人也辛無俾吾侄子之踵其弊尤哉</p>
<p><u>嘉靖甲子春王正月哉生明新安左竹山子吳敖謹跋</u></p>
<p><u>萬曆戊子冬十一月木後山房重刊</u></p>
