<header data-type="book">
<h1>痰癧法門</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>李子毅</dd></div>
<div><dt>朝代</dt><dd>民國</dd></div>
<div><dt>年份</dt><dd><data value="1918">公元1918年</data></dd></div>
</dl>
</header>

<h1>自序</h1>
<p>毅自髫齡，見梓里中患斯疾者，日至門而呼籲。</p>
<p>先君魚泉公，具活人手眼，審症施治，刻期而愈，不可勝計。其貧困不能購買方藥者，先君恆備囊餌施與，而不求償報，故近鄉之患痰癧者，咸有所恃而不恐。光緒丙戌，先君見背，是時大母在堂，嘗示毅曰：吾家治痰癧，始於汝曾祖。遠峰公患斯症後求醫於湖南某君，居家診治，數月而愈，遂得其傳授。汝祖汝父，皆知其術，濟人急難，宏慈善之門。汝曹曷取成法而習之，亦紹先人之事也，毅謹遵命，按法施治，罔不取驗。第見近世以來，患者日眾，其經毅醫治者，痊愈不可枚舉。其不知就醫治者，死喪不知凡幾，即或不死，非成癆瘵，則為廢疾。哀我人斯，頻罹疾戾，豈不深可憫乎？是以不揣固陋，謹將夙昔所聞見，平時所經驗，先辨論情形，次詳解治法，終略述醫案，務求平易簡當，俾閱者一覺周知，無質疑問難之苦。將人人得此編，即人人能治此病，人人能治此病，即億兆京垓之人，咸無是病，斯亦為莽莽群生，廣開方便法門之意也，故名是編為《痰癧法門》。倘內外鴻博之士，於斯症，有所發明者，究其得失，不憚斧政改良而進化之，是又所希望於將來也。</p>
<p><u>民國七年四月十一日楚北斬水李慶申子毅謹序</u></p>

<h1>痰癧總論</h1>
<p>輕微易治者，痰子也。遲重難愈者，瘰癧也。有風痰、熱痰、氣痰，由外感之不同；瘰癧、筋癧、痰癧，因內傷之各異。其表面形狀，大致相類，故總名曰痰子。而瘰癧者，尤痰子中之重症，治之久而難愈也。</p>
<p>風痰者，風濕之毒，伏於經絡，先寒後熱，結核浮腫。二三日內，即發起於頸項間，治宜祛風散濕化痰消堅之類。</p>
<p>熱痰者，天時亢熱，暑中三陽，及內食煎炒厚味，釀結為患。色紅髮熱，結核堅腫，治宜清脾瀉熱之類。</p>
<p>氣痰者，由感觸四時殺厲之氣，於耳項胸腋，驟成腫核。患者寒熱交作，頭眩項強，治宜調氣和血之類。</p>
<p>瘰癧者，累累如貫珠，連接三五枚，有數月數年，或十餘年始發者。初則核小不痛，亦不作寒熱，久方知痛，由誤食蟲蟻鼠殘不潔之物，及宿水陳茶內有汗液所致，治宜散堅解毒和血之類。</p>
<p>筋癧者，憂愁抑悶，暴怒傷肝，蓋肝主筋，故令筋縮，結蓄成核。生項側筋間，形如棋子，大小不一，或陷或起，久則虛羸，多生寒熱，勞怒則甚，治宜清肝解鬱之類。</p>
<p>痰癧者，飲食冷熱不調，飢飽喜怒不常，致脾氣不能運輸，遂成結核，初起如梅如李，生及遍身，久則微紅，後必潰破，收斂亦易，治宜豁痰行氣之類。</p>
<p>又有婺婦尼僧，室女庶妾，或男患失榮失精，皆志不得伸，思不得遂，積想在心，思慮傷脾，脾敗血虧，遍身結核，最為難治，宜先養心血，次開鬱結，益腎安神疏肝快膈，如逍遙散、歸脾湯、益氣養榮湯，俱加香附、青皮、山梔、貝母、木香之類是也。</p>

<h1>痰癧鑑別法</h1>
<p>凡頭腦骨，及兩腮骨部位，不生痰癧。其餘頸項以下，及周身皆可發生。初起寒熱交作，結核紅腫者，痰子也。初起不發寒熱，色白不痛者，瘰癧也。以紅屬陽，白屬陰，陽易治而陰難治。</p>
<p>凡癰疽初起時，旁亦核起。然癰疽之核，按之甚形活動。而痰癧結核，按之則推移不動也。</p>
<p>凡痰癧結核，在皮膜內。初則形如棋子、豌豆、綠豆等粒，起發時寒熱交作，大者如雞卵，如覆碗。或長形不一，色紅腫而起發速者，皆屬痰子。色白微紅，不甚浮腫，而起發遲者，多屬瘰癧。</p>
<p>凡痰癧潰破後，多不結痂，穢水時出，生肌膏藥，此塞彼潰，難於取效。惟用後載火攻之法，收工甚速，且不復發，否則蔓延遍身，至津液枯竭，遂成癆瘵。</p>
<p>凡痰癧結核，多以形狀及部位而定其名，隨舉數者，可以例推。如結核在舌下，即名為墊舌痰。核在咽喉左右各一枚者，名鐵門拴。耳下八方頰車穴結核者，為頰車痰。頸項筋間，核長如馬刀者，名馬刀癧。沿頸前面，至兩耳下，核起累累如貫珠者，名馬掛鈴。核在脅眼，突然腫大者，為夾脅痰。附兩手大骨結核者，為貼骨痰。核生於胸膈上者，為氣痰。在腰眼者，名纏腰痰。在兩臀上，形如覆碗者，名煨督痰。在胯內鼠鼷穴，及足上臁骨結核者，亦名貼骨痰。結核此潰彼起，遍身而無定處者，名曰遊痰。其蔓生不已，節節破潰，潰口不收者，名瓜藤癧。然得其大概，即昔人云七十二種痰症，亦不難辨矣，觀後第一圖，已得概要。</p>
<figure>
<img data-orig-src="urn:270:04321.jpg" alt="第一圖">
</figure>
<p><u>說明　</u></p>
<p>上第一圖，所志各小圈，皆痰癧生於人身各部位，因之而定其名。庶治者覘核結何部位，及何形像，即可知之。總之，痰癧多緣骨隙而生，而瘰癧純屬陰分，其愈期及治法，亦較痰子難十數倍也。</p>

<h1>外治法門</h1>
<figure>
<img data-orig-src="urn:270:04322.jpg" alt="第二圖">
</figure>
<p>（一）合谷穴　屬手陽明經。</p>
<p>（二）肘臂穴　屬手少陽經。</p>
<p>（三）肩頭穴　屬手少陽經。</p>
<p>（四）頰車穴　屬手陽明經。</p>
<p>（五）翳風穴　屬手少陽經。</p>
<p><u>說明　</u></p>
<p>合谷穴　亦名虎口。在手表面大指次指歧骨間。</p>
<p>肘臂穴　在肘上直骨中間，穴居消爍穴之下，清冷淵之上。</p>
<p>肩頭穴　在肩頭骨下縫中，雲門穴外邊寸許。</p>
<p>頰車穴　亦名禾髎穴，在耳下八分。</p>
<p>翳風穴　在耳後側，穴與耳下齊。</p>
<p>上第二圖所載，皆上身穴道。凡痰癧等症，核起於上身者，按照上身穴道，用麻油蘸細燈草，先在紙上，將油搓干燃之，於圖中有定點處，輕微燒之，觸近皮膚，即速提起。凡一、二、三、四、五、五穴，為有定點。頸項左右有核起者，則左右手五穴，皆用火攻。片面核起者，只於一手五穴用之，此有定點也。其餘無定點，除致命氣門外，則在覈起處圍燒之。核大者，頂上三兩點；核小者，頂上一點，此無燒點也。</p>
<figure>
<img data-orig-src="urn:270:04323.jpg" alt="第三圖">
</figure>
<p>（子）　內庭穴　屬足陽明經。</p>
<p>（醜）　陷谷穴　屬足陽明經。</p>
<p>（寅）　商邱穴　屬足太陰經。</p>
<p>（卯）　申脈穴　屬陽蹺。（奇經八脈之一）</p>
<p>（辰）　膝眼穴　屬足陽明經。</p>
<p>（巳）　膝眼穴　屬足陽明經。</p>
<p>（午）　委中穴　屬足少陰經。（即膝腕穴）</p>
<p>（未）　鼠鼷穴　屬足厥陰經。</p>
<p><u>說明　</u></p>
<p>內庭穴　在足表面大指次指之歧骨間。</p>
<p>陷谷穴　在足背趺陽穴前，去內庭一寸五分。</p>
<p>商邱穴　在內螺螄骨下陷中。</p>
<p>申脈穴　在外螺螄骨下陷中。</p>
<p>膝眼穴　在膝蓋骨左陷中。</p>
<p>膝眼穴　在膝蓋骨右陷中。</p>
<p>委中穴　在膝後腕中。</p>
<p>鼠鼷穴　在胯內大骨盡處，上與橫骨相接之間。</p>
<p>上第三圖所載，皆下身穴道。凡痰癧核起於腰以下者，按照下身穴道，左患攻左，右患攻右，雙方皆患，則左右俱治。如圖所載子、醜、寅、卯、辰、巳、午、未，為有定點，用麻油蘸細燈草燒之，此有定燒點。若無定點，亦視腫核環燒之。核大者，頂上燒二三點；核小者，頂上燒一點。此無定燒點之要訣也。</p>

<h1>內治法門</h1>
<p>內治之法，不外審脈用藥。如風痰，脈必兼浮；熱痰，脈必洪數；氣痰，脈濡；瘰癧，脈虛弱。筋癧之或弦或澀，痰癧之或弱或滑，尤在臨症時，細察病原，別其膏粱藜藿，觀其寒熱虛實，老幼榮枯，細詢起居嗜好，而知為何症，當用何方，病機自無循情矣。茲將平昔試驗之方，縷列於下：</p>

<h2>風痰主治方</h2>
<p>防風　荊芥　連翹　牛蒡子　歸尾　赤芍　生甘　銀花（各一錢）　土茯苓（二錢）　燈蕊（十七莖）</p>

<h2>熱痰主治方</h2>
<p>連翹（二錢）　當歸　山梔　桔梗　條芩　花粉　殭蠶（各一錢）　生石膏（二錢）　竹茹　甘草（各五分）</p>

<h2>氣痰主治方</h2>
<p>夏枯草（一錢引）　藿香（二錢）　香附　白芷　陳皮　桔梗　茯苓　柴胡　法夏　白朮　厚朴　腹皮　甘草（各一錢）</p>

<h2>瘰癧主治方</h2>
<p>白芍（三錢）　當歸（三錢）　昆布　穿甲　牡蠣　花粉　雲苓　天葵子（各二錢）　桔梗（一錢）　山梔　柴胡（各錢五分）</p>

<h2>筋癧主治方</h2>
<p>龜膠　雲苓（各三錢）　川貝　白芍　當歸　白朮　柴胡　丹皮　牡蠣（各二錢）　山梔（一錢）　生甘（一錢）　竹葉（二十片）</p>

<h2>痰癧主治方</h2>
<p>川貝　陳皮　茯苓　花粉　牡蠣　海藻（各二錢）　牛蒡子（錢半）　黃芩　連翹　木香　木瓜（各一錢）</p>
<p>以上各方，凡痰癧在上身者，俱可加入桔梗，在下身者，可加入懷牛膝，以為引經報使，則藥性易達，而收功亦速也。</p>

<h2>瘰癧消核丸</h2>
<p>穿甲（五錢）　川貝　茯苓　當歸　殭蠶（各四錢）　白芍　柴胡　牡蠣　海藻（各三錢）　橘絡　花粉　丹皮　牛蒡子　地骨皮（各二錢）　生甘草（一錢）</p>
<p>上共為末，煉蜜為丸，如豌豆大，每服三十九丸。紅棗湯下，上身之症，可加桔梗二錢，下身加牛膝二錢，先服煎藥一二劑後，即可服此丸，以全行消減為度。如婦人有身孕者，則以固胎為主，方中川貝、牡蠣、穿甲、牛蒡等藥，非所宜服，是又不可不知也。</p>
<p>總之，治痰癧各法，屬外治之功，十居八九；屬內治之功，十居一二。若治痰子，純用外治，亦可痊愈。至治瘰癧，非內外兼治，滋補虛損，調和氣血，內治亦不可偏廢。是神而明之，存乎其人耳。</p>

<h1>禁用須知、燈火</h1>
<p>諺云：燈火有推山之力，此等陰虛難治之症，非內服藥而外用燈火，固難圖功。然人身有禁用燈火之處，若誤犯之，須臾不救而死，不得不特為標誌，使學者隨處留心。如咽喉脅眼心窩腰眼少腹臍中等處，不可誤用燈火。然有生於下齶之外皮膚間者，名墊舌痰，鐵門拴在喉兩旁，此於咽喉大有妨礙。夾脅痰生脅眼中，纏腰痰發於腰眼，下部貼骨痰，多生於鼠鼷穴，此於脅眼腰眼少腹，亦有妨礙也。但此等氣門關係緊要處，只宜在覈頂上燃燒一二點，而環核外無定燒點處，仍宜禁用火攻，寸步留心，不可稍忽，詎得以生人而反殺人乎。</p>
<p>又用燈火，須七日一次，手續取七日來復之意，不可過急過遲，遲速則無益而反損，以核消盡為度。當視患症之重輕，定愈期之遲速，予每治瘰癧，患者多不能持久耐勞，中途偶易他醫，用藥複雜，欲速反劇，卒多不治，誠可惜也。不知此病，輕者數日可愈，重者非數月不能為力，是在病者當依期外用火攻，內服湯丸，不可求愈過急也。</p>
<p>又用火攻後，一切膏藥敷貼，均可免用，何也？以用過燈火，設燈草上麻油未曾淨盡，燒點皮膚起泡。若貼膏藥於上，恐皮面易潰，且穴道不易審辨，是既用燈火，則膏藥反無補而有害。若潰口不易收斂，亦只以燈火於潰處輕微燒之，或用珍珠砂敷隔於潰處，而後用燈火，自無不驗之理。</p>

<h1>禁戒須知</h1>

<h2>飲食類</h2>
<p>雞　魚類　蘑菇　香蕈　油菜　蔥　大蒜　大椒　胡椒　麵食　韭　酒類　芝麻　茴香　羊肉　菸　蝦子　黃魚　野雞　筍子</p>
<p>柿　菜油　松菰　茄子　生薑　蟹　方瓜　桃子　李子　蘋果　梨　栗子　蝦油　木耳葡萄</p>

<h2>服藥類</h2>
<p>桂枝　細辛　麻黃　南星　附子　大戟　烏頭　黑醜（白）</p>
<p>以上辛燥發味，及水果等，皆宜禁食。又禁用冷水浣洗手足，及赤足踏地，冒雨涉水，夜間不寐，夏夜在露地納涼，晝奔馳烈日中，皆能發病。尤宜禁食煎炒，並戒賭博惱怒房勞。食乳小兒，則母宜禁戒。不能禁者，百不一效。或禁戒不能持久，患者每因收效甚遲，半途自棄，全功盡廢，不可勝計，死亡廢疾，比比皆是，誠堪浩嘆。則欲此病易愈者，於上所列禁戒各項，不可不注意焉。</p>

<h1>宜食物品</h1>
<p>豬肉　豬肺　豬腎　豬肚　野鴨　海參　淡菜　魷魚　昆布　黃花　豆腐　藕粉　綠豆甜醬　醬油　豆豉　米醋　豬油　蘿蔔　豇豆　百合　糯米　鱉魚　鱔魚　豆粉　連米　枝元紅棗　米粉　山藥　豆油　洋糖　家鴨　鴿蛋　斑鳩</p>
<p>以上各物，俱以清燉為宜。如油煎火熏炙等品，皆在禁忌例，不可食矣。</p>

<h1>痰癧醫案</h1>
<p>余近地十餘里黃袍嶺，孫氏之女，出嫁甫周年，左項癧核，突起如覆碗。大小四十餘粒，潰破者口深三四分，血水淋漓。每潰破時，輒晝夜呼號。其右項核大者如雞卵，小者亦十餘粒。先遇醫士，以藥止痛，用刀將大核刳出。堅硬異常。外層如骨，用斧捶破，內系玉白粉。是時尚止數枚，後愈發愈多，女父母咸以為不治之症。乃聞之餘故人劉開甲，延至女家，余診其脈息曰：此瘰癧之最重者，幸未成虛勞，尚可為力，然非數月，不能痊愈。是時女父母只求生全，比喜曰：若能治好，雖一年半載，亦可專心待診，有所禁忌，一依余言。每七日即遣肩輿來迎。至三四星期，膿血乾而潰口漸收，至月餘，已消去大半，後未及兩月，照內外治法，循序施用，項上各核，漸次消滅。因服歸脾丸、養榮丸之類，人事復原，次年即產一子。</p>
<p>余散步鄂垣平湖門外，見一婦人，在船抱三四歲小孩，號啼不止，因詢之。婦人曰：小兒昨夜不知患何症，先發寒熱，啼號達旦，雙手向喉間揚拂不止，喉間頗見紅腫，兩旁各有核一枚，現已聲嘶力竭，無可挽回。余曰：是名鐵門拴，為痰子之一，不速治，則喉關緊閉，氣息不通，可急取麻油、燈草，先行外治之法，用火攻後，小兒哭能出聲。余曰：已救治而無妨矣，復以天葵子三錢，和冰糖蒸飲，二三日而愈。</p>
<p>余同學張次野之如夫人。癸丑歲，次野居省城候補，其如夫人隨之。患瘰癧重症。余是時居省議會，次野乃邀診視。云已懷孕五月，見左右耳門下，皆有核起如雞卵，沿頸小核如棋子者二十餘粒，下齶一核，破潰，飲茶水則流出，兩手肘骨內外，又有核如雞卵者四五枚。余診其脈，沉數而滑，曰此瓜藤癧也，尚可為力。外用火攻，內用清涼之品，固胎解鬱，方中稍與胎有妨礙者，即除去之。兩星期後，下齶肉生，飲食如常，而兩肘骨間數核，消去十分之七。又患白喉症，誤服他醫之藥，致通宵不寐。余曰：白喉症亦忌辛燥發表之劑，犯之所以危險。乃仍服余方，復眠食如常，每星期用火攻一次，未嘗間斷，方以開鬱補脾安胎養血為要，近兩月而愈，是冬曾產一男。</p>
<p>余內兄，其如夫人因正室壺威過重，另居別墅。愁病交縈，遂項生瘰癧，左右各一。余診其脈短而澀乃曰：此筋癧也，由憂愁所致，宜先解其鬱，再治其病。後治月餘，腫核全消，了無痕跡。然憂思未解，病源難清，後年余竟以咯血虛火之症而沒。詩云：女子善懷。又曰：言採其芒。芒即貝母，能化痰開鬱，故貝母亦治痰症之要藥，而女子尤相宜也。</p>
<p>縣城內潘氏麵坊，一女年十六七，項下患瘰癧數枚。余診治已消大半，每囑其戒食麵包等，初嘗記憶，後其母以病久未痊，聽他醫之言，不戒口味，且日以麵包與其女食之，余亦有事往麻邑，及下年至縣，詢其鄰里，云其女已因是病而逝世者月餘矣！噫！若潘氏婦者，何其愛女之淺耶。</p>
<p>余族孫婦，項下患瘰癧數枚，大如雞卵。余診治數次，未能全愈。余詢其故，乃曰：其婿不肯雇替女工，而家常操作，洗衣淘米，冷水不能禁用，致不能愈。余屢勸，而族孫終不聽，後數月復來求診治，是時潮熱骨蒸，逆經咯血，癆瘵已成，潰破處流膿汁不止。余曰：事不可為矣，無從補救。未及半月而斃。</p>
<p>小兒，方在襁褓，其母負至余家求治。然僅耳門下一核，余用外治法，以為計日可愈。後三四日，其母復來，曰：紅腫如常，且日夜啼哭，未知若何？余曰：汝禁洗冷水否？伊曰：已禁之，惟用菜油炒鮮菜，且減少用之，以為無害於病，不圖若是之相反。余曰：物之害人，豈在多乎？仍舊施治，囑禁冷水菜油等物，果數夕而愈。故凡食乳小兒，其母即宜戒淨，治病自無阻滯。</p>
<p>農家子，年十四，腰眼起一核，大如雞卵，不紅不腫，右臀上一核，大如覆碗。起時寒熱交作，紅而且腫。余曰：此纏腰痰與煨督痰也。治近半月，將欲全愈，是時酷暑如蒸，夜坐檐外納涼，將近半夜，腫痛交作，大熱不退，次晨，其父負之而述其故。予曰：此夜為露水所傷，復如前治法，兼投去濕之劑，多延兩星期而愈。他如農人夏日，赤足為常，然用火攻後，足必著履，以防濕氣冷水，免診治徒勞，醫者不可不先告誡也。</p>

<h2>附楊梅驗方</h2>
<p>楊梅者，其瘡三五成顆，紅潰後狀如楊梅也。病由西洋流傳廣東，彼遂綿延各省。有精化氣化之不同，精化者，由交媾傳染而得，先從二陰生瘡，蔓延遍身，上至巔頂髮際，凡有毛孔之處，初起小肉瘤，後漸癢潰，穢水時出，至缺唇爛額，殘廢死亡者不可勝計。氣化者，由表面傳染。如與有瘡之人同衾共浴之例，其毒皆可傳播。瘡由上部先見，後亦延及滿身。但毒較精化者稍輕，用藥分量，亦可減少。中醫向來治法，每用升藥，致毒上攻，流弊百出，繼以補品。毒愈內錮，攻之不可，下之不去，因而殞命者多矣。余之藥力，得自麻邑程君，專以固脾瀉毒為主，服之不但無弊，而脾健神清，發味均所不禁，刻期而愈，屢試屢驗，誠妙方也。嗟嗟！每見青年有志之士，偶墜迷津，小則有妨健康，大則動關生命。得此亦苦海之舟航云，若東西各國，有醫療警察，防患未然，病院診治，醫於既發，此病所以日見減少也。</p>
<p><u>楊梅主治方</u></p>
<p>土茯苓（二斤）　金銀花（八兩）　生苡仁（四兩）　白蘚皮（三兩）　天花粉（二兩）　當歸尾（二兩）　荊芥穗（五錢）　青連翹（一兩）　白豬苓（二兩）　建澤瀉（二兩）　陳槐角（四兩）　車前子（二兩）　焦山梔（四錢）　牛蒡子（五錢）　生甘草（四兩）　淨蟬衣（三錢）　威靈仙（二錢）　宣木瓜（二兩）　木防己（一兩）　皂角子（十粒）</p>
<p>以上各味，俱傾入鍋內，用柴火煮三次，每次將渣滓用布瀝乾，後渣滓不用，將三次所煮之汁，共貯鍋內，再用火熬，先武后文，以冰糖收成膏，置當風處，以米篩覆之。當茶日服數碗，下黑糞時，其毒始出，重者劑半而愈，輕者一劑可愈。其渣滓亦可煎水洗浴。惟禁麵食與茶，以解茯苓故也，並不用敷藥。若天時地氣人事之不同，方中亦可酌量加減，是則醫者，因時制宜，惟不可用參、茸、朮、耆、辛、附等藥，使毒內錮，而不得出耳。近人有專用槐花數升煎汁，服之而愈者，亦去濕熱除毒戾之一法也。</p>

<h2>附喉蛾捷訣</h2>
<p>喉蛾一症，患者亦甚危險。每見發起時，咽痛流涎，內外紅腫，重者喉關緊閉，呼吸難通，輕者亦疼痛不堪，不能飲食。救急惟用砭刺之法，即細料瓷器打碎，擇有尖鋒者，將筷子劈成四破，夾磁針於中，留鋒尖於外，針後夾筷子處，用青線紮緊，以防針脫。令患者張口明亮處，再用筷子一隻，伸入口內，將舌尖往下納住，好視喉內：紅腫者，實症也；白色者，虛症及白喉也。白色不可開針，紅腫者為喉蛾，須用砭刺。然其間有紫筋者，血脈之實也，其上不可用針。其餘紅腫之處，用磁針輕輕刺破皮面二三點，以見血為度，再取溫水嗽口，俟痰血吐出，再入吹喉散嚥住，令勿吞下，後服祛痰化瘀之藥，其愈甚速。惟藥忌苦寒辛燥之品，及寒冷生滯之食物，犯之則纏綿難愈，尤忌發味火酒之類，患者不可不注意也。若少陰虛火上延，喉亦微痛，但不紅腫，仲景有桔梗湯，臨睡時服之甚驗。至白喉一症，不但不可開針，尤忌辛燥發表之藥，犯之危險難治，別有《白喉忌表抉微》一書，言之甚悉。</p>
<p><u>吹</u>　喉　散　</p>
<p>麝香（三釐）　冰片（五釐）　硼砂（飛）　青黛　荊芥炭　熟地炭（各一錢）</p>
<p>共研細末，用喉槍送入喉內。如無喉槍，用小竹管吹入亦可。惟孕婦忌用。</p>
<p><u>又方　</u></p>
<p>上青黛　制甘石　川貝母　直殭蠶　淨乳香　淨沒藥　飛月石（各一錢）　梅冰片（三釐）青魚膽（一枚陰乾）</p>
<p>上共研細末，封固備用。</p>
<p><u>喉蛾主治方　</u></p>
<p>當歸尾　山豆根　白茯苓（各二錢）　粉甘草（五分）　牛蒡子　白桔梗　川貝母　陳廣皮鮮生地　生蒲黃　茜草　蘇薄荷（各一錢）</p>
<p><u>化痰逐瘀湯　</u></p>
<p>當歸尾　浙茯苓　桃仁泥（各二錢半）　西赤芍　生枳殼　法半夏　陳廣皮（各一錢）</p>
<p>臺烏藥（三錢）　白桔梗　生甘草（各錢半）</p>
<p>真谷酒一杯衝入引。</p>
