<header data-type="book">
<h1>傅氏兒科</h1>
</header>

<h1>小兒科</h1>

<h2>色</h2>
<p>小兒鼻之上，眼之中色紅者，心熱也；紅筋橫直，現於山根，皆心熱也；色紫者，心熱之甚而肺亦熱也；色青者，肝有風也；青筋橫直現者，肝熱也；直者，風上行；橫者，風下行也；色黑者，風甚而腎中有寒也；色白者，肺中有痰；黃者，脾胃虛而作瀉。一觀其色而疾可知矣。</p>

<h2>脈</h2>
<p>大人看脈於寸、關、尺，小兒不然，但看其數不數而已。數甚則熱，不數則寒也；數之中浮者，風也；沉者，寒也；緩者，濕也；澀者，邪也；滑者，痰也；有止歇者，痛也；如此而已，余不必過談也。</p>

<h2>三關</h2>
<p>小兒虎口，風、氣、命三關，紫屬熱，紅屬寒，青屬驚風，白屬疳。風關輕，氣為重，若至命關則難治矣。</p>

<h2>不食乳</h2>
<p>小兒不食乳，心熱也。蔥煎乳汁，令小兒服之亦妙，不若用黃連三分，煎湯一分，灌數次即食矣。神效。</p>

<h2>臍不於</h2>
<p>用車前子炒焦為細末，敷之即干。</p>

<h2>山根</h2>
<p>山根之上，有青筋直觀者，乃肝熱也。方用：柴胡、半夏各三分，白芍、茯苓各一錢，當歸、白朮各五分，山楂三個，甘草一分，水煎服。</p>
<p>有青筋橫現者，亦肝熱也，方用：茯苓一錢，山楂三個，甘草一分，水煎服。</p>
<p>有紅筋直現者，心熱也，亦用前方加黃連一分，麥冬五分，去半夏加桑白皮、天花粉各二分，水煎服。</p>
<p>有紅筋斜現者，亦心熱也，亦用前方加黃連二分。熱積於胸中，不可用半夏，用桑白皮、花粉可也。</p>
<p>有黃筋現於山根者，不論橫直，總是脾胃之證，或吐或瀉，腹痛，或不思食，方用：白朮、茯苓各五分，陳皮、人參、麥芽各二分，神麯、甘草各一分，淡竹葉七分，水煎服。</p>
<p>有痰加半夏一分，白芥子二分；如口渴有熱者，加麥冬三分，黃芩一分；有寒加乾薑一分；吐加白蔻一粒；瀉加豬苓五分。腹痛，按之大叫者，食也，加大黃三分，枳實一分；按之不呼號者，寒也；加乾薑三分。如身發熱者，不可用此方。</p>

<h2>發熱</h2>
<p>不拘早晚發熱者，俱用萬全湯，神效。</p>
<p>柴胡、白朮、黃芩、神麯各三分，白芍、麥冬各一錢，當歸五分，茯苓二錢，甘草、蘇葉各一錢，山楂三個，水煎服。</p>
<p>冬加麻黃一分，夏加石膏三分，春加青蒿三分，秋加桔梗三分，有食加枳殼三分，有痰加白芥子三分，吐加白蔻一粒，瀉加豬苓一錢。小兒諸證，不過如此，不可作驚風治之。如果有驚風加人參五分，其效如神。</p>
<p>凡潮熱、積熱、瘧，乃脾積寒熱，俱用薑、梨引。柴胡、人參、黃芩、前胡、秦艽、甘草、青蒿各一分，童便浸曬於生地一寸，薄荷二葉或生梨、生藕一片，水煎服，甚效。</p>

<h2>感冒風寒</h2>
<p>方用：柴胡五分，白朮、白芍各一錢，茯苓、半夏各三分，陳皮二分，炙草四分，當歸八分，水煎熱服。</p>

<h2>驚風</h2>
<p>世人動曰驚風，誰知小兒驚則有之，而風則無。小兒純陽之體，不當有風而狀有風者，蓋小兒陽旺內熱，內熱則生風，是非外來之風乃內出之風也。內風作外風治，是速之死也。方用清火散風湯：</p>
<p>白朮、梔子各三分，茯苓二錢，陳皮、甘草、半夏各一分，白芍一錢，柴胡五分，水煎服。</p>
<p>此方健脾平肝之聖藥，肝平則火散，脾健則風止，斷不可以風藥表散之也。</p>

<h2>驚風</h2>
<p>凡驚風皆由於氣虛。方用壓風湯：</p>
<p>人參、白朮、神麯各五分，甘草、半夏、丹砂各三分，茯神一錢，砂仁一粒，陳皮一分，水煎服。</p>
<p>治慢驚風加黃耆。</p>

<h2>痢疾</h2>
<p>方用：當歸、白芍各一錢，黃連二分，枳殼、檳榔各五分，甘草三分，水煎溫服。</p>
<p>紅痢倍黃連、白痢加澤瀉三分，腹痛倍甘草加白芍，小便赤加木通三分，下如豆汁加白朮一錢，傷食加山楂、麥芽各三分，氣虛加人參三分。</p>

<h2>泄瀉</h2>
<p>身熱如火，口渴舌燥，喜冷飲而不喜熱湯。方用瀉火止瀉湯：</p>
<p>車前子二錢，茯苓、白芍、麥芽各一錢，黃連、豬苓各三分，澤瀉五分，枳殼二分，水煎服。</p>

<h2>寒瀉</h2>
<p>此證必腹痛而喜手按摩，口不渴而舌滑，喜熱飲而不喜冷水也。方用散寒止瀉湯：</p>
<p>人參、白朮各一錢，茯苓二錢，肉桂、乾薑各二分，甘草一分，砂仁一粒，神麯五分，水煎服。</p>

<h2>吐</h2>
<p>此症雖胃氣之弱，亦脾氣之虛。小兒恣意飽食，不能消化，久之上衝於胃口而吐也。方用止吐速效湯：</p>
<p>人參、白朮各一錢，砂仁一粒，茯苓二錢，陳皮二分，半夏、乾薑各一分，麥芽五分，山楂三個，水煎服。</p>

<h2>咳嗽</h2>
<p>方用：蘇葉五分，桔梗、甘草各一錢，水煎熱服。有痰加白芥子五分便是。</p>

<h2>疳症</h2>
<p>此症熱而因乎心熱也，遂至口中流涎。若不平其心火，則脾火更旺，濕熱上蒸而口涎不能止。</p>
<p>方用：蘆薈、桑白皮各一錢，半夏、黃連、薄荷各三分，茯苓二錢，甘草一分，水煎服。此心脾兩清之聖藥也，引火下行而府自去矣。</p>

<h2>口疳流水口爛神方</h2>
<p>黃柏二錢，人參一錢，共為細末，敷口內，一日三次即愈。此方用黃柏去火，人參健脾，大人用之亦效。</p>

<h2>疳症瀉痢眼障神效方</h2>
<p>石決明一兩，醋煅，蘆薈、川芎、白蒺黎、胡黃連、五靈脂、細辛、穀精草各五錢，甘草三錢，菊花四錢，豬苓去筋，搗爛為丸如米大，每服二十五丸，不拘時，米湯下。</p>

<h2>瘧疾</h2>
<p>方用：柴胡六分，白朮、茯苓、歸身各一錢，白芍錢半，半夏、青皮、厚朴各五分，水煎成，露一宿，再溫與服。熱多者，加人參、黃耆各五分；寒多者，加乾薑三分；痰多者，加白芥子一錢；夜熱加何首烏、熟地各二錢，日發者不用加；腹痛加檳榔三分。</p>

<h2>便蟲</h2>
<p>方用：榧子五個，去殼，甘草三分，米飯為丸。服二次，則蟲化為水矣。</p>

<h2>積蟲</h2>
<p>方用：使君子十個，去殼，炒，檳榔、甘草各一錢，榧子十個，去殼，米飯為丸，如桐子大，每服十丸，二日蟲出，五日痊愈。</p>

<h2>痘症回毒或疔腫方</h2>
<p>銀花五錢，甘草、元參各一錢，人參二錢，水煎服。</p>

<h2>痘瘡壞症已黑</h2>
<p>痘瘡壞症已黑者，人將棄之，藥下喉即活。</p>
<p>方用：人參三錢，陳皮、荊芥各一錢，蟬蛻五分，元參、當歸各二錢，水煎服。</p>
<p>此乃元氣虛而火不能發也，故用人參以補元氣；元參去浮游之火；陳皮去痰開胃，則參無礙而相得益彰；荊芥以發之，又能引火歸經，當歸生新去舊，消瘀血；蟬蛻解毒除風。世人何知此妙法！初起時不可服，必壞證乃可服。</p>

<h2>急慢風三、六、九日一切風</h2>
<p>急、慢風，三、六、九日一切風俱治。</p>
<p>陳膽星、雄黃、硃砂，人參、茯苓、天竺黃、鉤藤、牛黃、麝香、川鬱金、柴胡、青皮、甘草，共為細末，煎膏為丸如豌豆大，真金一張為衣，陰乾勿泄氣，薄荷湯磨服。</p>

<h2>治火丹神方</h2>
<p>絲瓜子一兩，柴胡、升麻各一錢，當歸五錢，元參一兩，水煎服。</p>
<p>此方詳火症門，小兒用之亦效，故又出之。</p>
<p>又方：升麻、青蒿、黃耆各三錢，元參一兩，乾葛三兩，水煎服。</p>
<p>此二方妙在用青蒿，肝胃之火俱平，又佐以群藥重劑，而火安有不減者乎？</p>
