<header data-type="book">
<h1>察病指南</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>施發</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1241">公元1241年</data></dd></div>
<div><dt>底本</dt><dd>日本室町中期刊本（<a href="https://rbk-doc.npm.edu.tw">故宮善本</a>：故觀013940）；<a href="https://ctext.org/library.pl?if=gb&res=82067">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>序</h1>
<p>醫之為學。自神聖工巧之外無餘說。今人往往遺其三而主其一。一者何。切而知之謂之巧也。然亦曷嘗真見其所謂巧者。特竊是名以欺世耳。間有以活人自任者。又弊於醫書之委壓。惑於議論之紛紜。無所折衷。每得其粗而不得其精。余自弱冠有志於此。常即此與舉業並攻。迨夫年將知命。謝絕場屋。盡屏科目之累。專心醫道。取靈樞、素問、太素、甲乙、難經。及諸家方書脈書。參考互觀。求其言之明白易曉。余嘗用之而驗者。分門纂類。裒為一集。名曰察病指南。其間如定四季六臟平脈。與夫七表八里之主病。分見於兩手三部者。亦本於聖賢之遺論。特推而廣之。觸類而補之。其他言之未甚昭著者。則附以己意發明之。蓋將以貽諸子孫。非敢求人之知也。年來疫癘盛行。病者不幸而招醫。多見以陽病服桂附者。悉殞於非命。豈惟不知脈。並於證而不知。籲何慘哉。或者不察。乃曰吾取醫之運耳。奚暇問其學之精否。殊不知恃運以言醫。雖幸而或中。而所喪亦多。求其萬舉萬全者難矣。此余所以不敢自私。欲鋟梓以廣其傳。庶幾與同志者共云。</p>
<p><u>淳祐改元九月立冬後四日永嘉施發政卿序</u></p>

<h1>序</h1>
<p>七月既望。禱雨獲應。翌日。皂史遞詩筒來。睨而視之。乃峴山施君為喜雨作也。語意偉健。有宰官尋痛聲之句。其知予憂民之憂者歟。越數日。又以裒類醫書出示。議論可觀。非儒而醫不能也。予未嘗學醫。未嘗無活人之心。為邑於斯。每訪民間疾苦。思有以起其危。日夜懍懍。用藥不同而用心同。其相與勉之。</p>
<p><u>淳祐乙巳良月冀邸趙與諮書</u></p>

<h1>序</h1>
<p>能醫人多矣。能使人皆能醫人不多也。蓋以醫醫人有限。以醫教人無窮。施桂堂察病證有書曰指南。考本草有書曰辨異。而續易簡又有方有論。桂堂之心。使人人知有此書此方論也。不特自能醫人。且欲人莫不能醫人。眎彔彔輩曰秘方曰家藏方。小智自私。靳不示人。心之廣狹蓋可見。</p>
<p><u>淳祐丙午正月中澣澹齊趙崇賀書</u></p>

<h1>卷上</h1>

<h2>十二經總括</h2>
<p>左手寸口。手少陰心臟部。為帝王。（一云君主之官）屬朱雀。南方丙丁君火。主血脈及暑。外候在舌。其神神。其誌喜。其聲笑（一云言）其色赤。其臭焦。其味苦。其液汗。其音徵。其卦離。其數七。（此成數也其生數二）其變動為憂。其腑手太陽小腸。其積伏梁。如臂連臍。左手關上。足厥陰肝臟部。為尚書。（一云將軍之官）屬青龍。東方甲乙木。主藏血及筋爪風。外候在目。其神魂。其志怒。其聲呼。其色青。其臭臊。其味酸。其液泣。其音角。其卦震。其數八。（此成數也其生數三）其變動為握。其腑足少陽膽。其積肥氣。若杯覆左脅邊。</p>
<p>左手尺內。足少陰腎臟部。為列女。（一云作強之官）屬玄武。北方壬癸水。主藏精及骨髓齒水濕寒。外候在耳。其神志。其志恐。其聲呻。其色黑。其臭腐。其味鹹。其液唾。其音羽。其卦坎。其數六。（此成數也其生數一）其變動為慄。其腑足太陽膀胱。其支脈曰巨陽。其積賁豚。在臍下。</p>
<p>右手寸口。手太陰肺臟部。為將軍。（一云相傅之官）屬白虎。西方庚辛金。主藏氣及皮毛燥。（一云寒）外候在鼻。其神魄。其志憂。其聲哭。其色白。其臭腥。其味辛。其液涕。其音商。其卦兌。其數九（此成數也其生數四）其變動為咳。其腑手陽明大腸。其積息賁。在右脅邊。右手關上。足太陰脾臟部。為大夫。（一云倉廩之官）屬勾陳。中央戊己土。主藏智。肌肉勞倦濕。外候在唇口。其神意。其志思。其聲歌。其色黃。其臭香。其味甘。其液涎。其音宮。其卦坤。其數五。（此生數也）其變動為噦。其腑足陽明胃。其積痞氣。在胃脘。覆大如盤。</p>
<p>右手尺內。手厥陰命門部。屬相火。一名神門。一名手心主。一名心包絡。主藏心。與腎同氣。男子以藏精。女子以系胞。其腑手少陽三焦。上焦其卦乾。中焦其卦艮。下焦其卦巽。</p>

<h2>診三部脈法</h2>
<p>寸部法天。主上焦。診自頭以下至心病也。關部法人。主中焦。診自心以下至臍病也。尺部法地。主下焦。診自臍以下至足病也。</p>

<h2>三部九候</h2>
<p>三部者。上中下。即寸關尺也。每部三候。各自分天人地。</p>
<p>上部天以候頭角。上部人以候耳目。上部地以候口齒。中部天以候肺。中部人以候心。中部地以候胸中。下部天以候肝。下部人以候脾胃。下部地以候腎（九候雖有數說。不如此說易曉。今亦難用。姑存之。）</p>
<p>王子亨云。一位有三候。浮取之屬陽。沉取之屬陰。中得之為胃氣。故無胃氣則死。</p>

<h2>左右三部六候</h2>
<p>左寸外以候心。內以候膻中。（其穴在兩乳間）左關外以候肝。內以候膈中。左尺外以候腎。內以候腹中（腹屬下焦。右手尺中亦可候也。）</p>
<p>右寸外以候肺。內以候胸中。（三焦之所主也）右關外以候脾。內以候胃脘。右尺外以候心主。內以候腰。</p>

<h2>四季脈名</h2>
<p>春弦（謂端直如弓弦也）夏洪（一云鉤。謂脈如鉤芒。來疾去遲。）秋浮。（一云毛。謂如鴻毛之輕舉也。）冬沉。（一云營。一雲石。謂其沉也。）</p>

<h2>診五臟四季常脈</h2>
<p>春肝脈微弦而長。（一云弦細而長。一云弦長而軟。一云濡弱而長。）</p>
<p>夏心脈洪大而散。（一雲浮大而散。一雲浮洪而駃。一云洪而微實。一雲浮大而洪長。一云洪大而長。）呂廣云。非是。乃小腸脈也。</p>
<p>四季脾脈娜娜而緩。（一云軟大而緩。一云沉而濡長。三月六月九月十二月各旺一十八日。）</p>
<p>秋肺脈浮澀而短。（一云微澀而短。一云輕虛以浮。）</p>
<p>冬腎脈沉滯而滑。（一云沉濡而短。一云沉而緊實。一云沉細。一云沉實而滑。一云沉濡而滑。）</p>

<h2>定四季六臟平脈</h2>
<p>春肝脈欲弦而長。心脈欲弦而洪浮。脾脈欲弦而緩。肺脈欲弦而微浮。腎脈欲弦而沉濡。命門脈欲弦而滑。</p>
<p>夏心脈欲洪大而散。脾脈欲洪而遲緩。肺脈欲洪而浮澀。腎脈欲洪而沉滑。命門脈與腎同。肝脈欲洪而弦長。</p>
<p>秋肺脈欲浮而短澀。腎脈欲微而伏。命門脈欲微而滑。肝脈欲浮而弦細。心脈欲浮而洪。脾脈欲浮而微緩。</p>
<p>冬腎脈欲沉而滑。命門脈與腎同。肝脈欲沉而弦。心脈欲沉而洪。脾脈欲沉而緩。肺脈欲沉而澀。</p>

<h2>定四季相剋脈</h2>
<p>春得秋脈者。死於庚辛日。（謂金之剋木也）</p>
<p>夏得冬脈者。死於壬癸日。（謂水之剋火也）</p>
<p>四季得春脈者。死於甲乙日。（謂木之剋土也）</p>
<p>秋得夏脈者。死於丙丁日。（謂火之剋金也）</p>
<p>冬得四季脈者。死於戊己日。（謂土之剋水也）</p>
<p>五臟相剋所不可勝者為賊邪。其難治也信矣。至於所可勝者為微邪。雖不治而自愈。王叔和脈賦云。春得脾而不療。冬見心而不治。夏得肺而難救。秋得肝亦何疑。反以微邪為可畏者何耶。及觀靈樞經云。水動而火明。火炎而土平。土盛而金生。金盛而水盈。乃知叔和之說有所本。試即土盛金生言之。夫土氣既旺。則生金以剋木。使肝臟之脈弦而緩。是本脈尚存。脾或侵之。此所謂微邪不足慮。若本脈全無而獨見脾脈者。斯足為害也。餘臟可以類推。</p>

<h2>診五臟賊邪脈</h2>
<p>東方角木春肝木。木畏金。遇肺金乘木大逆。八月死。</p>
<p>南方徵火夏心火。畏水。遇腎水乘火大逆。十一月死。</p>
<p>中央宮土脾土。畏木。遇肝木乘土大逆。二月死。</p>
<p>西方商金秋肺金。畏火。遇心火乘金大逆。五月死。</p>
<p>北方羽水冬腎水。畏土。遇脾土乘水大逆。六月死。（此即前四季相剋脈也。前言其所死之日。此言其所死之月。故兩存之。）</p>

<h2>診四時虛實脈歌</h2>
<p>春得冬脈只是虛。（謂春脈弦。反得冬石脈。是腎水。為木之母從後來乘肝木之子。為虛邪。）兼令補腎病自除。（母虛則補之）若得夏脈緣心實。（得夏洪脈。是心火。為木之子從前來乘肝木之母。為實邪。）還應瀉子自無虞。（子實則瀉之。）夏秋冬脈皆如是。在前為實後為虛。春中若得四季脈。不治多應病自除。（四季緩脈。是脾土。為木之妻不勝於夫。為微邪。雖不治而病自愈。）</p>

<h2>下指輕重法</h2>
<p>凡診候安神靖氣。男先診左手。女先診右手。將中指揣得關位。卻以第一指著寸部令徹骨。漸徐舉指。關尺部皆然。（此先重而後輕也。活人書云。先浮按消息之。次中按。次重按。此先輕而後重也。亦得。）</p>

<h2>診五臟動脈法</h2>
<p>脈來五十動一止者。五臟六腑受氣足。其人無病。</p>
<p>脈來四十動一止者。一臟無氣。謂腎氣先盡也。其人後四年春草生時死。</p>
<p>脈來三十動一止者。二臟無氣。其人後三年穀雨至時死。</p>
<p>脈來二十動一止者。三臟無氣。其人後二年桑椹赤時死。</p>
<p>脈來十動一止者。四臟無氣。其人後一年草枯時死。</p>
<p>脈來五動一止者。五臟無氣。其人後五日死。</p>
<p>王叔和云。脈來四動一止八日死。三動一止六七日死。兩動一止三四日死。（別本云。但此止者非結脈促脈之止也。此是代脈之止也。至於代脈。非達人者難窺者乎。）</p>

<h2>診六腑平脈法</h2>
<p>左手寸口。手太陽小腸。脈洪大而緊。（一云洪大而長。）為受盛之官。名受盛之府。</p>
<p>左手關上。足少陽膽。脈弦大而浮。（一云大而浮。一云乍數乍疏乍短乍長。一云乍大乍小乍短乍長。其與祟脈無異。何以區別。然兩手三部皆然方為祟脈。今獨左手關部如此。則謂之膽脈可也。）為中正之官。名清淨之府。（一雲中精之府）相火膽與風木肝合脈。急則為驚。</p>
<p>左手尺內。足太陽膀胱。脈洪滑而長。為州都之官。名津液之府。寒水膀胱與君火腎合脈。急則為瘕。</p>
<p>心脈居午。謂之君火宜也。今腎脈居子。亦謂之君火何義。命門脈為心主居亥。謂之相火宜也。今膽脈居寅。亦謂之相火又何耶。及觀內經天元紀大論篇。鬼臾區曰。子午之歲上見少陰。巳亥之歲上見厥陰。少陰所謂標也。厥陰所謂終也。厥陰之上風氣主之。　少陰之上熱氣主之。少陽之上相火主之。而釋者謂午亥之歲為正化。子巳之歲為對化。由此言之。則心腎皆可言君火。以其熱氣主之也。厥陰既主風氣。而手厥陰命門不當以相火言。</p>
<p>少陽既主其相火。則膽與三焦為相火明矣。</p>
<p>右手寸口。手陽明大腸。脈浮短而滑。（一云短而澀）為傳道之官。名傳道之府。</p>
<p>右手關上。足陽明胃。脈浮長而澀。（一雲浮大而短）為倉廩之官。名水穀之府。燥金胃與濕土脾合。</p>
<p>右手尺內。手少陽三焦。脈洪散而急。為決瀆之官。名外府。</p>

<h2>脈息大數</h2>
<p>人一呼一吸脈各行三寸。此一息也。一日一夜一萬三千五百息。榮衛行陽二十五度。行陰二十五度。為一周也。復會於手太陰。</p>

<h2>診五臟脈訣</h2>
<p>輕手於皮膚得之者肺也。至肌得之者心也。至肉得之者脾也。至筋得之者肝也。至骨得之者腎也。</p>

<h2>男女反脈</h2>
<p>男子陽脈常盛。陰脈常弱。女子陽脈常弱。陰脈常盛。男得女脈為不足。病在內。（當作虛醫）女得男脈為有餘。病在外（謂在四肢。左得之病在左。右得之病在右。當作實醫。）男子生於寅。寅為木。女子生於申。申為金。故男脈在關上。女脈在關下。三陽從地生。故男子尺脈沉也。三陰從天生。故女子尺脈浮也。</p>

<h2>觀人形性脈法</h2>
<p>人長則脈長。人短則脈短。人肥則脈沉。（一云脈厚。一云脈細而實。）人瘦則脈浮。（一云脈急。一云脈大而長。）人壯脈欲大。人弱脈欲小。反者為逆。形盛脈細。少氣不足以息者死。形瘦脈大。胸中多氣者死。老人脈微。微陽羸陰者平。（一云脈濡而緩）婦人脈當軟弱於丈夫。小兒四五歲脈實自駃。呼吸八至。（一云幼人脈數而壯）性急脈急。性緩脈緩。</p>

<h2>察平人損至脈法</h2>
<p>凡一呼一吸為一息。一呼脈再至。一吸脈再至。是一息之間脈四至並五至。不大不小。不短不長。是為平人之脈也。</p>
<p>一呼一吸脈不及四至者曰緩。（一雲氣虛）其人少氣三至者曰遲（一云損）其人可治。二至者曰敗。（一云寒）其人難治。延時而死。一至者曰息。其人雖行。方當著床。待時而死。此為陰病之損脈也。故曰陰病脈遲。</p>
<p>一呼一吸脈六至者曰數。（一云離絕）為始得病。七至者曰極。（一云無魂）八至者曰脫（一云奪精。一云無魄。）九至者曰死。十至者曰墓。（一云困）沉細者困在夜。浮大者困在晝。十一十二至者曰死。（一云絕魄。一云命傾）沉細夜死。浮大晝死。此為陽病之至脈也。故曰陽病脈數。</p>

<h2>診暴病脈法</h2>
<p>脈來急大洪直者死。細微者無害。</p>

<h2>診祟脈法</h2>
<p>脈來乍大乍小。乍短乍長為禍祟。（別本云。右尺洪大為祟脈。）寸尺有脈。關中無脈為鬼病。</p>

<h2>診病內外法</h2>
<p>脈浮大者病在外。沉細者病在內。</p>

<h2>診癥病脈法</h2>
<p>左手脈橫癥在右。右手脈橫癥在左。脈頭大者臍上。脈頭小者臍下。</p>

<h2>診候約法</h2>
<p>浮為風為虛。沉為濕為實。遲為寒為冷。數為熱為燥。洪為驚為癇。（一云數為虛為熱。滑為實為下。）</p>
<p>又云。風則脈浮。寒則脈緊。中暑則脈虛而滑。中濕則脈細而澀。（活人書云。脈沉緩為中濕。脈細者非也。）傷於陰則脈沉。傷於陽則脈浮。</p>

<h2>辨雜病脈吐汗溫利可否法</h2>
<p>弦緊者可下。弦遲者宜溫。緊數者宜汗。脈微者不可吐。虛細者不可下。沉微者不可汗。</p>

<h2>人迎氣口脈</h2>
<p>人迎脈在左手關前一分。（其穴在結喉兩旁同身寸之一寸五分。動脈應手者是也。）診之以候六淫。浮則為風。緊盛則傷於寒。</p>
<p>氣口脈在右手關前一分。診之以候七情。浮則為虛為氣。緊盛則傷於食。</p>

<h2>辨三因</h2>
<p>寒暑燥濕風熱謂之六淫。屬外因。</p>
<p>喜怒憂思悲恐驚謂之七情。屬內因。</p>
<p>疲極筋力。盡神度量、飲食飢飽、叫呼走氣、房室勞逸、金瘡踒折、虎狼毒蟲、鬼疰客忤、畏壓溺等。為不內外因。</p>
<p>陳無擇云。凡診須識人迎氣口。以辨內外因。其不與人迎氣口相應。為不內外因。所謂關前一分。人命之主也。</p>

<h2>定生死訣</h2>
<p>陽病得陰脈者死。陰病得陽脈者生。脈病人不病者死。（名曰行屍）人病脈不病者生。（為內虛屍厥）既有人病而脈不病者。直是息數脈與相應者可治也。難經云。然人形病脈不病。非有不病者也。謂息數不應脈數也。脈經云。病人得健脈。名曰臥屍。脈訣云。病人脈健不用治。夫人病脈不病者。安有是理。當如難經之說。謂息數不應脈數者是也。人之初病。脈非數則遲。必此等脈可生。若健脈則急大洪直。與形證相反者。斷不可治。</p>

<h2>下指疏密法</h2>
<p>凡診視其臂長則疏下指。臂短則密下指。古人身長其臂亦長。故寸部佔九分。關尺部各佔一寸。三部共二寸九分。今人身短其臂亦短。有三部共不及二寸者。若依古法診之。則頭指診在關部。次指診在尺部。第三指診在閒處。如何知病之所在。今但以高骨為準。逐一指診。指其部位。不必拘九分一寸之說。庶幾可也。</p>

<h1>卷中</h1>

<h2>辨七表八里九道七死脈</h2>

<h3>七表脈</h3>
<p>七表脈屬陽。浮芤滑實弦緊洪也。（秘寶以洪大浮數緊動滑實為陽。傷寒論以大浮數動滑為陽。）</p>
<p><u>一、浮脈。</u>　指下尋之不足。舉之有餘。似水上浮物。以手按之虛散。舉之有力。故名曰浮也。（浮為在表。主風虛乏短氣。）</p>
<p>左手寸口脈浮。主傷風發熱。頭痛目眩及風痰。</p>
<p>左手關上脈浮。主胃虛腹脹。小便難。（肝脈本微弦而長。今見浮脈。周氏云。主胃虛腹脹。乃是胃經受病何也。黃帝云。主小便難。乃是膀胱經受病又何也。豈肝脈從小腹上挾胃而然耶。）浮大而實。主眼目昏痛。溢關與寸口相應。主目眩頭重筋疼。浮洪盛大。主筋脈緩弱。身體無力浮大而長。主風眩癲疾。</p>
<p>左手尺內脈浮。膀胱受風熱。主小便赤澀。浮而緊。主耳聾及淋閉。浮而大。為陽干陰。溺則陰中痛。浮而數。主小便頻。並熱淋。</p>
<p>右手寸口脈浮。肺感風寒。主咳嗽氣促。鼻塞清涕。冷汗自出。背膊勞強。夜臥不安。（浮本肺脈。但全浮則為病。如浮澀而短。斯為平脈也。）浮而實。主咽門乾燥。傷損有瘡癰。浮短為肺傷為諸氣。浮滑為走刺。浮緩為皮膚不仁。風寒入肌肉。浮緊為肺有水。</p>
<p>右手關上脈浮。脾氣不足。腹滿不飲食。食不消化。積熱在胃中。浮滑而疾速者亦然。浮緩不思飲食。浮而實脾胃虛。主消中口乾飲水。多食亦飢。浮大而澀。為宿食滯氣。浮滑為飲。浮細而滑。為傷飲。浮而微。則傷客熱邪風。主病寒熱去來。進退不定。</p>
<p>右手尺內脈浮。大腸受風熱。主大便秘澀。客熱在下焦。浮數主大便堅。（大腸雖肺腑。居下焦。）寸關脈浮而疾。名陽中之陽。主頭痛。尺寸俱浮。主患氣。俱浮而滑。男子疝瘕。婦人有孕。或月閉不通。浮滑疾緊。為百合病。</p>
<p>趺陽脈浮虛者。（浮為風為虛。風脈則指下浮有力。虛脈則指下浮而無力。）</p>
<p><u>二、芤脈。</u>　指下尋之。兩頭即有。中間全無。其脈浮大而軟。按之中央空。兩邊實。喻似指按芤草葉。芤葉即蔥類。中心空虛。故名曰芤也。（主失血）</p>
<p>左手寸口脈芤。主吐血。微芤者衄血。</p>
<p>左手關上脈芤。主腹內作聲有瘀血。亦主吐血眼暗。</p>
<p>左手尺內脈芤。主淋瀝。小便赤或有血。</p>
<p>右手寸口脈芤。主胸中積血瘀血。</p>
<p>右手關上脈芤。主腹內暴痛。腸胃內有癰積瘀血。（活人書云。主大便血。）</p>
<p>右手尺內脈芤。主大腸血痢或下血。</p>
<p><u>三、滑脈。</u>　指下尋之。三關如珠動。按之即伏。不進不退。或云往來流利。按如動珠子而有力。替替然。與數相似。故名曰滑也。（主吐逆）</p>
<p>左手寸口脈滑。心藏熱。滑而實大。心驚舌強。</p>
<p>左手關上脈滑。肝藏熱。上連頭目為患。滑散為癱。緩滑而浮散者有風。</p>
<p>左手尺內脈滑。腎與膀胱俱熱。主小便結澀淋瀝。莖中痛。尿色赤。又滑為風。多血少氣。少氣則四肢困疲痠疼。多血則疼痛小便赤。滑而弦。主腰腳痛。滑而弱。主陰中痛。（脈賦解義云。男子尺部見滑。主膀胱冷氣纏聚。小腹急脹。便漩利數。兩脅脹滿。直以滑脈主冷亦未可。當如弦脈說。）</p>
<p>右手寸口脈滑。陽氣盛實。主嘔逆。滑而實。肺臟大熱。主毛髮乾焦。胸膈壅滯。聚氣為痰。頭目昏重。涕唾稠黏。咽中乾燥疼痛。或時咳嗽。</p>
<p>右手關上脈滑。脾臟熱。主口臭惡氣。喘息粗大。胃脘先受寒氣。變為熱實。飲食不下。下則吐逆。病脾風疝。滑實為胃熱。滑而大小不勻。必吐。為病進。為泄利。</p>
<p>右手尺內脈滑。下焦有實熱。渴而引飲。飲冷過度。臍似冰冷。腹鳴時痛或下痢。婦人主血氣實。經月不通。（然而尺脈滑者。亦本形也。脈賦解義云。盡脈滑。主胞絡極冷。女經不調。則以滑為陰脈也。）和緩為妊娠。滑而浮大小腹痛。滑而弱大便痛。滑為鬼疰。滑數為結熱。滑為痰逆。</p>
<p>趺陽脈滑者。胃氣實。</p>
<p><u>四、實脈。</u>　按之洪大牢強。隱指愊愊然。故名曰實也。（主病在內）</p>
<p>左手寸口脈實。胸中熱甚及生寒熱。實而大。主頭面熱風所攻。心中躁悶。身上疼痛。面色赤。實大而滑。主舌強心驚。語話艱難。</p>
<p>左手關上脈實。主腹中切痛。實而浮大。肝氣盛。主眼目赤痛昏暗。</p>
<p>左手尺內脈實。主小腹滿痛。小便澀。實而滑。主淋瀝莖中痛。尿色赤。實而大。膀胱熱。主小便艱難不通。實而緊。主腰痛。（或本云。實緊胃中有寒。若不能食。時時利者難治。）</p>
<p>右手寸口脈實。主上焦熱。實而浮。是熱乘肺臟。咽門乾燥。傷損有瘡癰。及主氣寒喘咳。</p>
<p>右手關上脈實。脾臟虛弱。飲食減少。（熱氣蒸脾虛也）反胃氣壅滯。實而浮。脾家熱。主消中唇口乾燥。饒飲水漿。食多不飽。四體勞倦。（陳無擇謂實而緊為胃寒。然二脈雖屬陽。實脈則主熱痛。緊脈則主寒痛。今二脈俱見。謂之主胃寒。恐非也。）</p>
<p>右手尺內脈實。主忽下痢。（此則熱痢。黃帝脈經於關部之脈實。腹滿寒疝下痢。夫其陽脈如何主寒疝。必傳之訛也。今下痢移於尺部。屬下焦也。）</p>
<p><u>五、弦脈。</u>　勁急如張弓弦。故名曰弦也。脈經以為表脈則屬陽。傷寒論以為陰。脈賦解義</p>
<p><u>亦云弦滑之脈雖屬於七表。皆主於陰。數說不同。</u>　當如活人書說。若弦而洪數者為陽。弦疾而沉且微細者為陰。主拘急。又巢元方、王子亨以弦為虛。主拘急。</p>
<p>左手寸口脈弦。主頭疼有心氣。心胸中急痛及心懸。如人大飢之狀。主勞氣發作乏力。多盜汗。手足痠痛。</p>
<p>左手關上脈弦沉。主患痃癖。（痃者懸也。以懸於心下。或左或右或中也。癖者側也。其氣在於臍脅之側。或上下左右也。）弦而緊者。脅下痛。為惡寒。為疝瘕。為瘀血。弦小者。為寒癖。</p>
<p>左手尺內脈弦。主小腹急滿痛。弦而滑。主腰腳痛。　</p>
<p>右手寸口脈弦。主皮毛枯槁。　</p>
<p>右手關上脈弦。主胃中寒。有宿食及飲。</p>
<p>右手尺內脈弦。主小腹中拘急。下焦停滯水積。弦數為勞瘧。雙弦脅急痛。弦長為積。弦急中風熱。（急者緊也。弦緊多主寒。此言中風熱何也。）</p>
<p><u>六、緊脈。</u>　按之實數。似切繩狀。來疾而有力。故名曰緊也。（主痛）</p>
<p>左手寸口脈緊。主頭痛。緊而沉。心中氣逆冷痛。</p>
<p>左手關上脈緊。主心下苦滿熱。及心腹痛。筋脈拘急。主風氣伏陽上衝。化為狂病。緊而實。主患痃癖。</p>
<p>左手尺內脈緊。主臍下及腰腳痛。</p>
<p>右手寸口脈緊而沉滑。肺氣實。主咳嗽。</p>
<p>右手關上脈緊。主脾中痛。脅肋下拘急。欲吐不吐。乾嘔氣逆沖。昏悶。盛緊者腹脹。緊而滑者。為宿食。為蛔動。為吐逆。</p>
<p>右手尺內脈緊。主下焦疼痛。</p>
<p>緊而長過寸口者。為疰病。緊而急者遁屍。緊而數者。寒熱俱發。下之乃愈。尺寸俱緊而數。其人中毒吐逆。</p>
<p><u>七、洪脈。</u>　極大在指下。舉按滿指。或云來大去長。故名曰洪也。（主熱）</p>
<p>左手寸口脈洪。主頭痛。胸膈脹滿煩熱。</p>
<p>左手關上脈洪。肝臟熱。及四肢浮熱。遍身疼痛。（手足本屬脾部。今四肢浮熱。乃見肝部。則知關脈主中焦病。故肝脾俱可候也。）　</p>
<p>左手尺內脈洪。膀胱熱。主小便赤澀。而腳痠疼。</p>
<p>右手寸口脈洪。主毛髮乾焦。涕唾稠黏。咽喉乾燥。洪而緊。為喘急。</p>
<p>右手關上脈洪。胃中積熱。主翻胃大吐逆。口乾。洪而緊為脹。　</p>
<p>右手尺內脈洪。主大腸不通。燥糞結澀。</p>
<p>洪大為傷寒熱病。洪實為癲。洪緊為癰疽。洪浮為陽邪來見為祟。洪大緊急。病在外。苦頭痛發癰腫。（別本云。三部俱洪。三焦俱熱。）</p>

<h3>八里脈</h3>
<p>八里脈屬陰。微沉緩澀遲伏濡弱也。（秘寶以微沉緩澀遲伏軟弱為陰。傷寒論以沉澀弱弦微為陰。）</p>
<p><u>一、微脈。</u>　指下尋之若有若無。極細而浮軟。往來如秋風吹毛而無力。故名曰微也。（主氣痞）左手寸口脈微。心臟虛。多憂惕。寒熱更作。寒氣上侵。心胸痞結。陽不足惡寒。虛勞盜汗。微而浮弱。心中寒。</p>
<p>左手關上脈微。心下氣滿鬱結。目暗生花。四肢拘急。</p>
<p>左手尺內脈微。主敗血不止。男子溺血。女子崩血。久為白帶。</p>
<p>右手寸口脈微。上焦寒氣痞結。微弱為少氣中寒。</p>
<p>右手關上脈微。胃中寒氣脹滿。飲食不化。厥逆拘急。</p>
<p>右手尺內脈微。小腹寒氣。積聚肚痛。臍中聲吼而瀉。</p>
<p>尺寸俱微。男子五勞。婦人絕產。</p>
<p>微浮秋吉冬病。</p>
<p><u>二、沉脈。</u>　舉之不足。按之有餘。重按乃得。故名曰沉也。（沉為在裡。主冷氣水病。一云主濕冷洞泄。）</p>
<p>右手寸口脈沉。胸中氣短。有寒飲。及胸脅痛有水氣。沉而緊。主心中氣逆冷。沉而細。名陽中之陰。苦悲傷。不樂聞人聲。少氣自汗。兩臂不舉。</p>
<p>左手關上脈沉。主心下痛。氣短促。兩脅滿。手足時冷。沉而弦者。主痃癖。腹內痛。</p>
<p>左手尺內脈沉。主冷氣腰背痛。小便稠數。色如米泔。沉而細。名曰陰中之陰。苦兩脛痠疼不能久立。陰氣衰少。小便餘瀝。陰下濕癢。（沉本腎脈。但全沉則為病。如沉濡而滑。則為平脈也。）</p>
<p>右手寸口脈沉緊而滑。主咳嗽。沉細而滑。主骨蒸。病寒熱交作。皮毛乾澀。沉細為少氣。臂不能舉。</p>
<p>右手關上脈沉。主心下滿。苦吞酸。沉緊為懸飲。沉在下則為實。</p>
<p>右手尺內脈沉。主患水病。腰腳沉重而弱。沉而緊。主腰腳寒痛。沉而細者。苦㽲痛下重痢。沉滑者。有寸白蟲。（此脾蟲見於此）為下重背膂痛。為風水。（腎主水。因何見此。蓋命門與腎同氣故也。）</p>
<p>沉弱為寒熱。沉遲為痼冷。沉重為傷暑發熱。沉緊為上熱下冷。沉重而中散者。因寒食成癥。沉重而直前絕者。有瘀血在腹。沉重不至寸徘徊絕者。為遁屍。</p>
<p><u>三、緩脈。</u>　指下尋之。浮大而軟。去來微遲。故名曰緩也。（主風結）</p>
<p>左手寸口脈緩。主脊項筋緊急搐痛。（肝主筋。今見心部何耶。蓋項筋屬上焦故也。）</p>
<p>左手關上脈緩。主眩暈。腹內氣結痛。如筋緊之狀。</p>
<p>左手尺內脈緩。腎虛耳鳴。有冷結氣。夢為鬼隨。小便難。有餘瀝。（此冷淋也）</p>
<p>右手寸口脈緩。主氣促不安。皮膚頑痹不仁。為氣不足。</p>
<p>右手關上脈緩。主風寒入肌肉。胃虛不能食。緩而滑。胃中熱。（脾之本脈軟大而緩。若全緩則為病脈。）</p>
<p>右手尺內脈緩。下焦寒。腳弱下腫。風氣秘滯。緩而滑。為熱中。緩而遲。為虛寒相搏。食冷則咽痛。</p>
<p><u>四、澀脈。</u>　細而遲。往來難。時一止。輕手乃得。重手不得。按之數浮。如輕刀刮竹皮。或云三五不調。如雨沾沙。故名曰澀也。（即黃帝澀脈。王冰云。陽氣有餘則血少。故脈澀。主身熱無汗。此言未足信。其實陰虛之脈也。主血氣不足而痹。）</p>
<p>左手寸口脈澀。主榮衛不足。無心力。不能多言。主中霧露冷氣。亡汗心痛。　</p>
<p>左手關上脈澀。肝臟虛。主血散失。肋脹脅滿（兩脅下有骨處為肋。肋者勒也。以勒五氣。肋下無骨處為脅。）通身疼痛。女子有孕胎痛。無孕敗血。（謂崩中漏下或血瘕。月信不調之候是也。）</p>
<p>左手尺內脈澀。腎臟虛。亂夢涉水。小便數。精頻漏。及患疝氣小腸氣。</p>
<p>右手寸口脈澀。上焦冷。陽虛衛氣不足。痞澀。氣促無力。背膊刺痛。</p>
<p>右手關上脈澀。脾氣不足而痛。不思飲食。胃冷而嘔。</p>
<p>右手尺內脈澀。主小腹冷。作雷鳴。及下痢。足脛逆冷。</p>
<p>澀細而緊者。為寒濕痹。</p>
<p><u>五、遲脈。</u>　一息三至。去來極遲。重手乃得。隱隱遲慢。故名曰遲也。（遲為腎虛之脈。主虛。惡寒。氣塞滿脹。）</p>
<p>左手寸口脈遲。主心上寒。</p>
<p>左手關上脈遲。主腹中冷痛。（此臍以上痛也）</p>
<p>左手尺內脈遲。主腎虛不安。小便白濁。身寒體顫。夜夢驚悸。</p>
<p>右手寸口脈遲。主上焦有寒。</p>
<p>右手關上脈遲。主中焦有寒。胃冷不欲食。吞酸吐水。遲而澀。胃中寒。有癥結。</p>
<p>右手尺內脈遲。主下焦有寒。腰腳沉重。</p>
<p>關尺遲。名曰陰中之陰。其人苦悲愁不樂。少氣力而多汗。</p>
<p><u>六、伏脈。</u>　按之著骨乃得。不出其位。舉之全無。故名曰伏也。（主物聚）</p>
<p>左手寸口脈伏。主胸中有聚物。</p>
<p>左手關上脈伏。主陰病。常欲瞑目。</p>
<p>左手尺內脈伏。主小腹痛寒疝瘕。</p>
<p>右手寸口脈伏。主胸中氣滯有痰。噎塞不通。</p>
<p>右手關上脈伏。主中脘有滯物。及腸澼水氣溏泄。</p>
<p>右手尺內脈伏。主宿食不消。伏而芤。大便去血。</p>
<p><u>七、濡脈。</u>　按之似有。舉之全無。一云按之似無。舉之全無。力極軟而浮細。一云按之不見。輕手乃得。不能隱指。故名曰濡也。（即黃帝所謂軟脈。集韻。濡軟二字同呼同用。主惡寒。）</p>
<p>左手寸口脈濡。主虛損多汗。五心煩熱。</p>
<p>左手關上脈濡。主體重少力。虛弱。精神離散。</p>
<p>左手尺內脈濡。主腎虛損。骨髓不溫。肉不著骨。齒長而枯。發無潤澤。腦轉耳鳴。濡而弱。為小便難。（此冷淋也。論大小便雖在尺部。當參寸部大小腸脈方准。）</p>
<p>右手寸口脈濡。主元氣敗。少力。</p>
<p>右手關上脈濡。脾氣弱。苦虛冷重下痢。</p>
<p>右手尺內脈濡。主發熱惡寒。下元冷極。</p>
<p>濡而弱。為內熱外冷自汗。（此虛熱盜汗也）</p>
<p><u>八、弱脈。</u>　指下尋之如爛綿。輕手乃得。重手稍無。極軟而弱細。按之欲絕指下。故名曰弱也。（主虛而筋痿及風氣）</p>
<p>左手寸口脈弱。主心中悸。陽氣虛。汗自出。</p>
<p>左手關上脈弱。主筋痿弱。微而浮散。主目暗生花。婦人產後客風面腫。弱而虛。為風熱。（此風虛而客熱）</p>
<p>左手尺內脈弱。主骨肉痠痛。</p>
<p>右手寸口脈弱。陽道虛損。衛氣不足。弱微而浮散。主氣滯。</p>
<p>右手關上脈弱。胃氣虛。有客熱。（不可大攻。恐熱去寒起也。）</p>
<p>右手尺內脈弱。下焦冷。無陽氣。</p>
<p>古人於左右尺部診大小便。往往少驗。然大便出於大腸。大腸乃肺之腑。當於右手寸口脈參之。小便出於小腸。小腸乃心之腑。當於左手寸口脈參之。</p>

<h3>九道脈</h3>
<p>九道脈屬陽者二。屬陰者七。</p>
<p><u>一、長脈屬陽。</u>　指下尋之。往來通度三關。如持竿狀。舉之有餘曰長。過於本位亦曰長。（黃帝脈經無長脈。有散脈。云大為散。乃陽盛陰虛之脈。焉知散非長也。）主渾身壯熱。坐臥不安。（是陽毒邪熱之氣居於三焦。患在於表。宜徐徐發表出汗而愈。散脈按之滿指。六腑氣絕於外。則手足寒上氣。五臟氣絕於內。則下利不禁。甚者不仁。其脈皆散。散則不聚。病亦危矣。）</p>
<p><u>二、促脈屬陽。</u>　陽盛則促。按之極數。時止復來曰促。主積聚氣痞。四肢困劣。精神交亂。憂思所成（若診之向前而來。漸出關上。並居寸口。疾數則病血熱。發成斑點。忽然退減則生。漸加即死。然其促有五。曰氣、曰血、曰飲、曰食、曰痰。以五者留滯不行則止促。止促非惡脈也。）</p>
<p><u>三、短脈屬陰。</u>　指下尋之。往來極短曰短。不及本位亦曰短。主四體惡寒。陰中伏陽。三焦氣壅。宿食不消。（宜大瀉。通利腸胃而安。）短而滑者病酒。短而數者心痛煩躁。</p>
<p><u>四、虛脈屬陰。</u>　按之不足。遲大而軟曰虛。主氣血虛。生煩熱。少力多驚。心中恍惚。健忘（宜補益三焦即安）虛為腳弱。為食不化。為傷暑。小兒主驚風。</p>
<p><u>五、結脈屬陰。</u>　陰盛則結。脈往來遲緩。時一止復來曰結。主胸滿煩躁。積氣生於脾臟之旁。大腸作陣疼痛。（宜宣瀉於三焦而愈）結為痰、為飲、為血、為積、為氣。（一雲氣塞脈緩則為結。活人書云。陰盛發躁。）</p>
<p><u>六、牢脈屬陰。</u>　按之實強。有似沉狀。一云沉伏實大。如按鼓皮曰牢（即黃帝所謂革脈也。）</p>
<p>主骨肉疼痛。皮膚紅腫。胸中氣壅。喘息短促。（此心絕之脈也）尺脈牢。男子主陰疝偏墜。</p>
<p>女人主血崩瘕聚。（胞腎虛冷使然。）尺寸脈牢而長。關中無。為陰乾陽。苦兩脛重。小腹引腰痛。革為滿。為急、為虛寒相搏。婦人半產漏下。男子亡血失精。</p>
<p><u>七、動脈屬陰。</u>　指下按之無頭尾。大如豆。沉沉微動。不來不往曰動。主四體虛勞疼痛。崩中血利。為驚恐。為攣、為泄。（眾經悉皆以動為陽脈。此脈居關上。陰陽相搏為動。陽動則汗出。陰動則發熱。）</p>
<p><u>八、細脈屬陰。</u>　指下尋之。細如絲線。來往極微小曰細。主脛痠髓冷。乏力損精。囊下濕癢。小便遺瀝。細為氣血俱虛。為病在內。為積、為傷濕、為後泄、為寒、為神勞、為憂傷過度、為腹滿。細而緊。為寒疝、為癥瘕積聚、為刺痛。細而滑。為僵仆、為發熱、為嘔吐。</p>
<p><u>九、代脈屬陰。</u>　指下尋之。往來緩。動而中止。不能自還。因而復動。或云臟絕中止。餘臟代動曰代。主形容羸瘦。口不能言。（老得之生。少得之死。婦人亦然。有孕約三月餘日也。代為五臟氣絕之脈。）</p>
<p>上前七表八里九道共二十四脈。按諸家脈書皆二十四脈。互有少異。但無濡牢長短四脈。卻有數革軟散四脈。若取諸家脈經觀之。乃有數革軟散大五脈。（革軟散脈已見於前）</p>
<p>數脈屬陽。指下尋之。去來急速。一息六至曰數。主熱。數為虛、為煩渴、為煩滿。寸口脈數主頭痛。關上脈數脾熱。口臭生瘡。胃熱嘔吐。尺內脈數。不惡寒。小便黃赤。（言虛當如浮脈說）</p>
<p>大脈屬陽。指下往來滿大。主熱。大為病進。寸口脈壯大。尺中無。此為陽干陰。若腰背痛。陰中傷。足脛寒。大而堅疾。主癲病。（大脈即洪脈。此陽盛之脈。如何主癲。經云。重陽者狂。重陰者癲。謂主狂病。）</p>

<h3>七死脈</h3>
<p><u>一、</u>　彈石脈在筋肉皮。　按舉皆劈劈急。曰彈石。是肺絕死脈也。（彈石脈者。蕭處厚謂肺絕之脈。此說既未穩。吳仲廣又推廣之。以為象西方金。令肝元絕。其說尤穿鑿。當以為腎絕之脈可也。石乃腎之本脈。合沉濡而滑。今其臟脈現如彈石。劈劈然湊指。殊無息數。其死無疑矣。）</p>
<p><u>二、解索脈在筋肉上。</u>　動數而隨散亂。無復次第。曰解索。是五臟絕死脈也。（王叔和云。解索。散亂而無緒。吳仲廣云。解索脈者。其形見於兩尺。脈來指下。散而不聚。若分於兩畔。更無息數。是精髓已耗。將死之候也。）</p>
<p><u>三、雀啄脈在筋肉。</u>　來而數急。曰雀啄。（是心絕死脈也。王叔和云。雀啄頓木而又住。吳仲廣云。雀啄者木脈也。）主脾經穀氣已絕。胃氣無所榮養。其脈來指下。連連湊指數急。殊無息數。但有進而無退。頓絕自去。良久准前又來。宛如雞踐食之貌。但數日之壽也。（據此所云。乃脾絕之脈。蕭處厚謂之心絕何耶。王叔和云。雀啄頓木而又住。此雀乃啄木兒也。吳仲廣因其頓木之說。遂認為木脈。木脈者肝脈也。其說未達。當以脾絕為是。）</p>
<p><u>四、屋漏脈在筋。</u>　按之止。時起而不相連。曰屋漏。是心肺絕死脈也。（王叔和云。屋漏將絕而復起。吳仲廣云。屋漏脈者。主胃經已絕。穀氣空虛。其脈來指下。按之極慢。二十息之間或來一至。若屋漏之水滴於地上。而四畔濺起之貌。立死之候也。據此云乃胃絕之脈。何蕭處厚謂心肺絕脈耶。）</p>
<p><u>五、蝦游脈在皮毛。</u>　浮而再起。尋還退沒。不知所在。起遲而去速。曰蝦游。是脾胃絕死脈也。（王叔和云。蝦游冉冉而進退難尋。吳仲廣云。蝦游之脈。其來指下。若蝦游於水面。泛泛而不動。瞥然驚掉而去。將手欲趨。杳然不見。須臾於指下又來。良久准前復去。又如蝦蟆入水之形。瞥然而上。倏然而去。此是神魂已去。行屍之候。立死也。）</p>
<p><u>六、魚翔脈在皮肉上。</u>　如魚不行。而但掉尾動頭身搖而久住。曰魚翔。是腎絕死脈也。（王叔和云。魚躍澄澄而遲疑掉尾。吳仲廣云。魚翔之脈。主腎與命門皆絕。衛氣與榮血兩亡。其脈來指下。尋之即有。泛泛高虛。前定而後動。殊無息數。宛如魚遊於水。面頭不動而尾緩搖之貌。故曰魚翔也。又曰亡陽之候。死矣。旦占夕死。夕占旦死。日中占夜半死。夜半占日中死。）</p>
<p><u>七、釜沸脈在皮肉上。</u>　湧湧如羹上肥。曰釜沸。是死脈也。</p>

<h2>診七表相承病法</h2>
<p>浮芤相傳。中風衄血。浮滑相傳。中風吐逆。浮實相傳。中風下利。浮弦相傳。中風拘急。浮緊相傳。中風體痛。浮洪相傳。中風發熱。</p>

<h1>卷下</h1>

<h2>審諸病生死脈法</h2>

<h3>傷寒類</h3>
<p>傷寒熱盛。脈浮大者生。沉小者死。</p>
<p>傷寒頭痛。脈洪大者可治。實牢者生。沉細者死。</p>
<p>傷寒已得汗。脈沉小者生。浮大者死。</p>
<p>傷寒咳嗽上氣。脈散者死。（謂其形損故也）</p>

<h3>溫病類</h3>
<p>溫病三四日不得汗。脈細難得者死。</p>
<p>溫病瀼瀼大熱。脈細小者死。</p>
<p>溫病身體溫。脈洪大者可治。微細者劇。</p>
<p>溫病大便不利。腹中痛甚者死。</p>

<h3>熱病類</h3>
<p>熱病三五日。身體熱。腹滿痛。食飲如故。脈直而疾者。八日死。</p>
<p>熱病七八日。氣不喘。脈不數者。當後三日溫汗。汗不出者死。</p>
<p>熱病七八日。脈微細。小便黃赤。口燥舌焦乾黑者死。　</p>
<p>熱病已得汗。脈安靜者生。躁盛者氣極也。必死。</p>
<p>熱病汗後。脈靜者當便瘥。喘熱脈亂者死。</p>
<p>熱病脈躁盛。得汗者生。不得汗者陽極也。十死不治。</p>
<p>熱病已得汗。常大熱不去者死。（脈必盛也）</p>
<p>熱病已得汗。熱未去。脈微躁者。切不得針灸。</p>
<p>熱病發熱甚者。其脈陰陽皆竭。切勿針灸。汗不出者必死。</p>

<h3>水病類</h3>
<p>水病脈洪者可治。微細者不可治。</p>
<p>水病腹大如鼓。脈實者生。虛者死。</p>
<p>水病陰閉。脈浮大者生。沉細虛小者死。</p>

<h3>消渴類</h3>
<p>消渴脈數大者生。細小浮短者死。（一云虛小者死）</p>
<p>消渴脈實大。病久可治。脈小緊急不可治。（人病口甘而渴。此因數食甘美而多肥。五氣之溢也。謂之脾癉。或病口苦而渴。此因數謀慮不決。膽氣上溢也。謂之膽癉。凡消癉之脈。實大病久可治。懸小堅病久不可治。）</p>

<h3>泄瀉類</h3>
<p>泄而腹脹。脈弦者死。</p>
<p>腹大而泄。脈微細而澀者生。緊大而滑者死。</p>
<p>泄注脈緩微小者生。浮大數者死。</p>
<p>注下脈細者可治。浮大者劇。</p>
<p>洞泄食不化。下膿血。脈微小者生。緊急者死。</p>

<h3>下痢類</h3>
<p>下痢脈微小者生。大而浮洪者生。</p>
<p>下痢膿血。脈懸絕者死。滑者死。</p>
<p>下痢白沫。脈沉者生。浮者死。</p>

<h3>腸澼類</h3>
<p>（痔也）</p>
<p>腸澼下白膿。（一云白沫）脈沉者生。浮者死。</p>
<p>腸澼下膿血。脈沉小流連者生。數疾大熱者死。</p>
<p>腸澼下膿血。脈懸絕者死。（一云懸澀）滑大者生。</p>
<p>腸澼身不熱。脈不絕滑大者生。弦澀者死。</p>
<p>腸澼有寒者生。有熱者死。</p>
<p>腸澼筋攣。脈細小安靜者生。浮大堅者死。</p>

<h3>咳嗽類</h3>
<p>咳嗽脈浮直者生。沉堅者死。咳嗽羸瘦。脈堅大者死。</p>
<p>嗽脫形發熱。脈緊急者死。嗽而嘔。脈弦欲絕者死。</p>
<p>諸嗽脈浮軟者生。沉伏者死。</p>

<h3>上氣類</h3>
<p>上氣脈數者死。</p>
<p>上氣浮腫。脈浮滑者生。微細者死。</p>
<p>上氣面浮腫。肩息脈大不可治。加痢必死。</p>
<p>上氣喘息低昂。其脈滑手足溫者生。脈澀四肢寒者死。</p>
<p>寒氣上攻。脈實而順滑者生。實而逆澀者死。</p>

<h3>中風類</h3>
<p>中風口噤。脈遲浮者生。急實大數者死。</p>
<p>被風不仁痿厥。脈虛者生。堅者死。</p>

<h3>癲狂類</h3>
<p>癲狂恍惚。病脈實牢者吉。沉細者凶。</p>
<p>癲疾脈大而滑者。久久自已。脈小緊急者死。狂病妄語。身微熱脈洪大者生。四肢逆冷。脈沉細者。一日死。</p>

<h3>霍亂類</h3>
<p>霍亂脈微細者生。微遲氣少不言者死。（一云脈浮洪者生）</p>

<h3>頭目類</h3>
<p>風痰頭痛。脈浮大者生。短澀者死。</p>
<p>頭目痛。卒視無所見者死。</p>
<p>病目不見人。脈澀者生。浮大洪直者死。</p>
<p>閉目不欲見人。脈浮短而澀者死。</p>
<p>開目而渴。心下牢。脈沉澀而微者死。</p>

<h3>心腹類</h3>
<p>心腹痛。脈沉細者生。浮大弦長者死。</p>
<p>心腹痛積聚。脈堅急者生。虛弱者死。</p>
<p>心腹積聚。其脈勁強者生。沉小者死。心下堅硬苦渴。脈沉細者生。浮大而堅者死。</p>
<p>腹腫脈浮大者生。虛小者死。</p>

<h3>汗類</h3>
<p>病多汗。脈虛小者吉。緊者凶。病汗不出。出而不至足者死。</p>
<p>厥逆汗出。脈緊弦急者生。虛緩者死。</p>

<h3>血類</h3>
<p>吐血嗽而上氣。脈數有熱。不得臥者死。</p>
<p>吐血衄血。脈滑小弱者生。實大者死。（一云沉細者生。浮大者死。一雲浮大而牢者死。）</p>
<p>衄血汗出。脈小滑者生。大躁者死。</p>
<p>唾血脈堅強者死。滑者生。</p>
<p>瘀血在內腹脹。脈牢大者生。沉者死。</p>

<h3>金瘡類</h3>
<p>金瘡出血太多。脈虛細者生。實大者死。（急疾大數者死。一云血出不斷。脈大而止者。三七日死。一云傷在陽處者。去血四五斗。脈微緩而遲者生。急疾者死。）</p>
<p>金瘡失血。脈沉小者生。浮大者死。（一雲實大而浮者死。）</p>

<h3>墜壓類</h3>
<p>從高頓僕內傷。腸滿。脈堅強者生。小弱者死。</p>

<h3>中毒類</h3>
<p>中毒藥。脈洪大而速者吉。細而但出不入。並大小不齊者皆凶。</p>
<p>卒中惡毒。脈大而緩者生。（一云堅而微細者生）堅而浮者死。</p>
<p>中惡腹脹。脈緊細者生。浮大者死。（脈緊細微者生。緊大而浮者死）</p>
<p>中惡吐血數升。脈浮大而疾者生。沉數細者死。</p>
<p>患蟲毒。尺寸脈緊數而直硬者死。</p>

<h3>雜病類</h3>
<p>咳而尿血。脈微細者生。大者死。</p>
<p>寒熱瘛瘲。脈代絕者死。</p>
<p>外實內熱吐瀉。脈沉細者生。洪大者死。</p>
<p>內實腹脹痛乾嘔。手足煩熱。脈洪大實者生。沉細者死。</p>
<p>陰陽俱竭。齒上如熟小豆。脈躁者死。</p>
<p>身熱脈浮澀者死。</p>
<p>無故而喑。脈不至。此氣暴厥。氣復則已。</p>
<p>病人飢寒。脈細。氣少泄痢。飲食不入。是謂五虛。其人必死。</p>
<p>病人漿粥入胃泄注。上則肌大熱。前後不通。胃悶脈盛。是謂五實。其人必死。若得身汗後利則生。</p>
<p>老人脈微。陽羸陰強者生。脈躁大加息者死。陰羸陽強。脈至而代。奇日而死。</p>
<p>病甚脈洪大者易瘥。脈不調者難瘥。</p>
<p>病人脈實大急數者凶。</p>
<p>左手寸口脈偏動。乍大乍小。從寸至關。從關至尺。三部之位。處處動搖各異。不同其人。仲夏得此脈。桃葉落時死。脈若小急。背膈偏枯。年不滿二十者。三歲死。脈至而搏。衄血身熱者死。右手寸口脈偏沉伏。乍大乍小。朝來浮大。暮即沉伏。浮大則上過魚際。沉伏則下不至關。來往無常。時伏又來者。榆葉枯落時死。　</p>
<p>三部脈皆澀、皆滑、皆緊急、皆軟弱、皆如張弓、皆微而伏、皆細而數、皆累累如珠者。長病人得之皆死。</p>

<h2>診太衝衝陽脈</h2>
<p>太衝穴在兩足大趾本節後二寸陷中動脈是。（一云一寸半）足厥陰之所注。診此者。可決男子之死生也。（或診太谿命門脈。穴在足內踝後跟骨上動脈陷中。）</p>
<p>衝陽穴（一名會源即趺陽穴也）在足跗上五寸骨間動脈上。去陷谷三寸是。（即足面系鞋之所）診此者。以察其胃氣之有無也。</p>

<h2>論病之本</h2>
<p>肝惡風。諸風掉眩。其本在肝。心惡熱。諸熱暴瘛。瘡瘍血疾。其本在心。脾惡濕。諸濕腫滿。其本在脾。肺惡寒。諸氣膹郁。其本在肺。腎惡燥。諸寒收引。其本在腎。</p>
<p>諸厥痼泄。其本在下。諸痿喘嘔。其本在上。</p>

<h2>察雜病生死證</h2>
<p>瘧病。腰脊強急瘛瘲者不可治。</p>
<p>肌瘦脫肛。形熱不去者死。</p>
<p>屍厥體無所知。耳內有聲如嘯。汗出身溫者當自愈。唇青身冷者必死。</p>
<p>內外俱虛。身體冷汗出。微嘔而煩擾。手足厥逆。體不安靜者死。</p>
<p>形羸不能服藥。穀氣絕也。一病才已。一病復生。五行勝復相乘也。其人必死。</p>

<h2>五臟虛實外候</h2>
<p>肝實則目赤。脅疼多怒。頰腫頭旋耳聾。宜瀉之。虛則目暗。筋攣脅拘。多悲恐。爪甲枯。不得大息。宜補之。心實則胸脅背臂盡痛。喜笑不休。口舌乾燥。宜瀉之。虛則少顏色。驚悸憂悲。舌根強。腰背痛。宜補之。</p>
<p>脾實則腹脹。大便不利。足痿不收。行善瘛。腳下痛。身重苦飢。宜瀉之。虛則吐逆。腹脹腸鳴。飲食不化。泄利無時。宜補之。</p>
<p>肺實則肩背股脛皆痛。喘嗽上氣。宜瀉之。虛則少氣咳血。耳聾嗌乾。宜補之。</p>
<p>腎實則腹脹體腫。汗出憎風。面目黧黑。少氣飧泄。小便黃色。宜瀉之。虛則䏚中冷。（乃脅下挾脊兩旁空軟處也）脊疼耳聾。厥逆無時。小便色變。宜鹿茸巴戟補之。</p>

<h2>臟腑病外候</h2>
<p>喜寒而欲見人。為腑病屬陽。喜溫而不欲見人。為臟病屬陰。</p>

<h2>診婦人病脈生死訣</h2>
<p>婦人胞中絕傷。有惡血久結成瘕。其病腹痛逆滿。氣上衝。尺脈澀而堅。為血實氣虛。尺脈細而微。血氣俱不足。穀氣不充。得節輒動。棗葉生時死。</p>
<p>婦人赤白帶下。脈遲滑吉。數疾凶。</p>
<p>婦人新產。脈緩滑者生。實大弦急者死。沉小者吉。堅牢者凶。寸口脈沉微。附骨不絕者生。澀疾不調者死。</p>
<p>婦人已產。脈沉小實者吉。浮虛者凶。</p>
<p>婦人產後熱病。脈細四肢暖者生。脈大四肢冷者死。</p>
<p>治蓐脈緩滑沉小細者生。實大弦急堅牢者死。</p>

<h2>辨胎脈</h2>
<p>脈動入產門者。有胎也。（謂出尺脈外。名曰產門。）</p>
<p>尺中脈數而旺者。有胎脈也。（一云細滑而不絕者是也。一云脈微是經脈閉塞成胎也。或帶數是血盛之脈。有胎也。）</p>
<p>左手尺脈浮洪者為男胎。右手尺脈沉實者為女胎。</p>
<p>關部脈滑者為有子。（素問曰。滑為多血少氣。故有子也。）</p>
<p>左手寸口脈浮大為懷男。右手寸口脈沉細為懷女。</p>
<p>足太陽膀胱洪大是男孕。手太陰肺脈洪大是女孕。</p>
<p>陽脈皆為男。陰脈皆為女。陰中見陽為男。陽中見陰為女。</p>
<p>手少陰脈動甚者。妊子也。</p>
<p>兩手尺部俱洪者為兩男。俱沉實者為二女。（一云左手帶縱為兩男。縱者夫乘妻也。即鬼賊脈也。王氏脈經云。水行乘火。金行乘木。名曰縱也。右手帶橫為雙女。橫者妻乘夫也。即所勝脈也。謂火行乘水。木行乘金。名曰橫也。）</p>
<p>左手脈逆為三男。（逆者子乘母也。即己所生脈也。王氏曰。水行乘金。火行乘木。名曰逆也。）右手脈順為三女。（順者母乘子也。即生己之脈也。謂金行乘水。木行乘火。名曰順也。）</p>
<p>寸關尺脈大小遲疾皆相應。雙懷一男一女。（一云足太陽手太陰脈俱洪者。一男一女。）</p>
<p>脈滑而疾者。三月胎候也。但疾不散者。五月也。</p>
<p>關上一動一止者。一月。二動一止者。二月。</p>
<p>中衝足陽明胃脈連胞絡。脈來滑疾者。受孕及九旬。</p>
<p>尺脈沉細而滑或離經。夜半覺痛。日中則生。</p>

<h2>外候胎法</h2>
<p>左乳先有核者為男。右乳先有核者為女。</p>
<p>又法。令娠婦面南行。於背後呼之。左回來者生男。右回來者生女。</p>

<h2>妊娠雜病生死外候</h2>
<p>血漏胞乾者殺胎。亦損妊母。</p>
<p>心腸急痛。面目青色。冷汗自出。氣欲絕者死。</p>
<p>血下不止。胎衝上。四肢冷悶者死。</p>
<p>舉重頓僕。致胎死腹中未出。而血不止。衝心悶痛者死。</p>

<h2>產難外候</h2>
<p>寒熱頻作。舌下脈青而黑。舌卷上冷。子母俱死。</p>
<p>唇口俱青。痰沫嘔出。子母皆死。</p>
<p>面赤舌青。母活子死。</p>
<p>面舌俱青。痰沫頻出。子活母死。</p>
<p>面青舌赤。口中沫出。母死子活。</p>

<h2>診小兒雜病脈法</h2>
<p>凡小兒五歲以下。三歲以上。只看形。五歲以上。漸可診脈。呼吸八至是常脈也。九至者病。十至者困。（許氏以大指按三部。十至為發熱。五至為內脹。）</p>
<p>小兒脈浮而數。主乳癇風熱之病。</p>
<p>小兒脈浮而數。主五臟壅（因乳熱或著綿衣過多如此）</p>
<p>小兒脈虛澀。主驚風。（又浮則主風。促急主虛驚。）</p>
<p>小兒脈緊。主風癇。</p>
<p>小兒脈緊而弦。主腹痛不安。</p>
<p>小兒脈弦急。主氣纏繞不和。</p>
<p>小兒脈牢而實。主大腸秘。</p>
<p>小兒脈沉而數。主骨中寒。（此數為虛。虛則髓少。故骨中寒。）</p>
<p>小兒脈沉而細。主冷。</p>
<p>小兒脈大小不等。乍大乍小。皆有禍祟。</p>
<p>小兒脈小或緩或沉。皆主食不消化。</p>
<p>小兒變蒸之時。身熱脈亂。汗出。不欲食乳。食即吐。切不可醫。必自瘥。（其候身熱神昏。或吐乳瀉黃沫。多啼無喜悅。唇上生白珠子是也。每三十二日必一變。六十四日再變兼蒸。或二十八日及三十日必變者。亦無定期。至二五日方歇。歇後精神必有異於前也。）</p>

<h2>辨小兒生死脈</h2>
<p>小兒中風熱。喘鳴肩息。脈緩則生。急則死。</p>
<p>小兒痢疾。脈浮大而腹痛者必死。</p>
<p>乳子病熱。脈懸小。手足溫則生。寒則死。</p>
<p>小兒困。汗出如珠。著身不流者死。</p>
<p>小兒有病胸陷。口唇乾。目直視。口中氣冷。頭低臥不舉身。手足垂軟。身體強直。掌中冷。皆不可治。脈亂者同。</p>

<h2>小兒死證一十五候歌</h2>
<p>眼上赤脈。下貫瞳人。囟門腫起。兼及作坑。鼻乾黑燥。肚大青筋。目多直視。睹不轉睛。指甲黑色。忽作鴉聲。虛舌出口。齧齒咬人。魚口氣急。啼不作聲。蛔蟲既出。均是死形。</p>

<h2>看小兒虎口訣</h2>
<p>凡嬰孩生下一月至三歲。當看虎口內脈兩邊。（脈有黃青紅紫黑五色。除黃色為平和。黑色為危急外。青紅紫色可以察病。）</p>
<p>青色受胎氣不全。主驚積多搐掣。</p>
<p>指脈深青臥不寧。微青脈痛糞多青。青兼黑色盤腸吊。發搐牽抽不暫停。</p>
<p>紅色驚入脾竅。</p>
<p>孩兒指脈深紅色。發熱驚時自強直。微紅下痢腹中疼。吐瀉脾虛多不食。</p>
<p>紫色胎驚熱。</p>
<p>指中紋生紫色深。驚時哭泣又呻吟。微中紫色腸中痛。吐瀉紋彎中惡心。</p>

<h2>聽聲驗病訣</h2>
<p>（聲者臟之音也）</p>
<p>肝應角。其聲悲而和雅。心應徵。其聲雄而清明。脾應宮。其聲慢而緩大。肺應商。其聲促而清冷。腎應羽。其聲沉而細長。</p>
<p>聲悲是肝病。（一云聲呼）聲雄是心病。（一云聲笑）聲慢是脾病。（一云聲歌）聲促是肺病。（一云聲哭）聲沉是腎病。（一云聲呻）以上臟病也。</p>
<p>聲清是膽病。聲短是小腸病。聲速是胃病。聲長是大腸病。聲微是膀胱病。以上腑病也。</p>
<p>聲悲慢是肝脾相剋病。</p>
<p>聲速微細是胃膀胱相剋病。</p>
<p>聲細長是實。聲輕是虛。聲沉粗是風。</p>
<p>聲短細是氣。聲粗是熱。聲短遲是瀉。</p>
<p>聲長是病痢。聲實是秘澀。</p>

<h2>察五臟色知生死訣</h2>
<p>（色者氣之華也）</p>
<p>肝病面青如翠羽。或如蒼玉之澤者生。如藍、如地苔、如草滋、如枯草。眼眶陷入者。三日死。面腫蒼黑。舌卷而青。四肢乏力。兩眼如盲。泣出不止。八日死。此肝臟絕也。（一雲中熱嗌乾。善溺心煩。舌卷卵上縮。）</p>
<p>病人筋絕。爪甲枯黑。八日死。</p>
<p>面青目黃。半日死。（一云五日死）</p>
<p>手足甲青。頻呼罵者。是筋絕。九日死。</p>
<p>項筋舒展者死。</p>
<p>目無精光。齒斷黑者死。</p>
<p>病人目睘絕。系不能正。膽絕也。</p>
<p>心病面赤。如雞冠之色。或如帛裹朱者生。如代赭、如衃血、如瘀血。一日死。</p>
<p>面黧肩息直視。掌腫沒紋。狂言身熱。一日死。此心臟絕也。</p>
<p>面赤目青者立死。</p>
<p>病人脈絕。口張唇青。毛髮乾豎。五日死。</p>
<p>久病人兩頰顴赤。口張氣直者死。</p>
<p>脾病面黃。如蟹腹、如羅裹雄黃者生。如枳實、如黃土色。四肢腫起者。九日死。</p>
<p>面浮黃。臍膚腫滿。泄瀉下痢。肌澀唇反。十二日死。此脾臟絕也。</p>
<p>人中滿。背青。三日死。</p>
<p>唇青體冷。遺尿不食。四日死。</p>
<p>肩息直視。唇焦者死。</p>
<p>體腫溺赤。頻數不止者。是肉絕。六日死。</p>
<p>口目動作。善驚妄言。胃絕也。</p>
<p>目眥黃者。病欲愈。有胃氣也。</p>
<p>面如土色。不食者。四日死。胃氣絕也。</p>
<p>肺病面白。如豕膏。或如白璧之澤者生。如鹽、如堊、如枯骨者死。</p>
<p>口鼻氣出。唇反無紋。色黑似煤。皮毛乾焦。爪甲枯折者。三日死。此肺臟絕也。</p>
<p>面白毛折者死。</p>
<p>髮直如麻者。半日死。</p>
<p>腎病面黑。如烏羽。或如黑漆而澤者生。如炲、如炭煤。耳色萎黃。兼卒呻吟。四日死。</p>
<p>面黑齒痛。兩目如盲。自汗如水。腰折沉重。皮肉濡結。發無潤澤者。四日死。此腎臟絕也。　</p>
<p>病人骨絕。齒如熟豆。一日死。</p>
<p>耳目口鼻黑色起者死。</p>
<p>面黑目白者。八日死。面腫蒼黑者死。</p>
<p>脊痛腰重。不能反覆者死。</p>
<p>面黑齒長而垢。腹脹閉不得息。善噫善嘔。皮毛焦。腎臟絕也。</p>
<p>大凡黃赤為熱。白黑為寒。青黑為痛。</p>
<p>病人腳趺腫起。身體沉重。卒失屎溺。妄語錯亂。忽作屍臭。陰囊皆腫。口反張。爪甲黑。兩目直視。皆死證也。</p>
<p>頭傾視深。精氣將奪。謂項不能舉。天柱骨折也。轉腰不能。腎氣已憊。背曲肩隨。腑氣已壞。其音嘶者。是氣不朝肺。聲散者。肺損也。凡見此證。不出三歲。</p>

<h2>考味知病法</h2>
<p>好食酸則肝病。好食苦則心病。好食甘則脾病。好食辛則肺病。好食鹹則腎病。好食熱則內寒。好食冷則內熱。</p>

<h2>原夢</h2>
<p>肝氣盛則夢怒。心氣盛則夢喜。脾氣盛則夢歌樂。肺氣盛則夢哭。腎氣盛則夢恐懼。</p>
<p>上虛則夢墮。下虛則夢飛。　</p>
<p>陽盛則夢大火而燔灼。陰盛則夢大水而恐懼。陰陽俱虛。則夢相殺毀傷。</p>
<p>甚飽則夢予。甚飢則夢取。</p>
<p>短蟲多則夢聚眾。長蟲多則夢相擊毀傷。</p>
<p>王叔和脈訣。余於其滑實弦緊四脈有疑焉。滑弦之脈。略論於前。而實緊之脈未盡釋。張仲景以浮緊為傷寒。用之常驗矣。獨實脈或以為熱。或以為寒。余謂實不當以寒言。姑並錄之。以俟明哲者。</p>
