<header data-type="book">
<h1>醫方簡義</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>王清源</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1883">公元1883年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第九冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521059">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>昔程子有言。一命之士。苟存心於濟物。可隨地而見功。陸宣公晚年家居。尤留心於醫。聞有秘方。必手自鈔錄曰。此亦活人之一術也。是知藥雖進於醫手。方多傳自古人。任意增減者固非。徒憑故紙者亦非。蓋病有萬變。藥亦有萬變。其為陰陽配合。子母兄弟。根莖花實。草石骨肉之顯然者。無論已。而因時制宜之道。有單行者。有相須者。有相使者。有相畏相惡者。有相反相殺者。少不經意。則毫釐之差。千里之謬焉。至病之變也。或一人而前後異治。或一證而彼此殊科。金匱之方。傳詞不傳意。靈樞之秘。貴通不貴泥。相陰陽。辨虛實。審表裡。神而明之。存乎其人。此豈可以揣測得之。以影響求之哉。必也積學以明其理。廣識以達其意。參之臨證以窮其變化。而回生之技思過半矣。世之以術鳴者。往往逞私智。矜臆說。一隅之見。詡為獨得之秘。入者主而出者奴。謬種流傳。誤人非淺。而其實非牟夫利即騖夫名。其心先不可問。遑論問世。山陰王君馥原。心憫之。不憚積二十餘年之力。潛心探討。成醫方簡義六卷。銖准兩較。捐除成見。而尤心折於仲景。夫仲景無他。見理透。持論平。隨所學而責之效。無不各得其意以去。方之聖經論語不虛也。又惜自來女科絕少專家。近雖奉張氏醫通為金科玉律。然其書洵美矣。猶恐不善學之。易滋流弊。故於此尤兢兢焉搜遺補闕。詳其所略。略其所詳。實足發前人所未及。要之大旨。取袁了凡可以養親。可以立身二語。而歸本於毋自欺。是其學必不涉於氾濫。其識必不囿於拘墟。其臨證必不輕於嘗試。以視世之洶洶於名利者。相去奚止逕庭耶。爰識數語。弁諸簡端。異日為不龜手。為洴澼洸。是在用之者。</p>
<p><u>內閣學士兼禮部侍郎銜季和徐致祥題。時光緒九年歲次癸未之仲冬也。</u></p>

<h1>自序</h1>
<p>嘗讀魯論而知人而無恆。不可以作巫醫。故醫之為道。原非易易。醫學之有內經。猶儒學之有五經也。漢張仲景為醫宗之聖。著有傷寒拾卷。金匱要略三卷。其間雜病方法。約而多驗。至晉太醫王叔和編次考訂。成無己援經註釋。仲景之道益加彰著。後之醫者。莫不讀其書而窮其理也。（原）家無恆產。惟有恆心。讀書未遂。屢試不售。恆切事親立身之想。而志願難期。一日讀袁了凡先生立命篇。感且悟焉。其以醫事親。以醫立身之道。由心術而通乎治術矣。醫者死生所寄。性命所關。苟無仁愛之心。不可以為醫。無明達之才。不可以為醫。知其淺而不知其深。知其偏而不知其全。俱未可以為醫。爰發靈素內經。仲景傷寒論。金匱玉函三者。晦明誦讀。風雨摩挲。繼則博採方書於王叔和之脈經。汪訒庵之本草。李士材之醫宗。葉天士之指南。張路玉之傷寒大成諸書。玩索黽皇不數年而心領神會矣。惟女科一書。尤難精蘊。何則。其有內傷而未能明悉。有隱疾而不可詳言。故於調經胎前產後諸症。更加詳審。其萬有不齊之數。盡在一心之妙用。上體天地好生之德。下盡人情物理之常。必審病。立法。擬方。三者兼備。而運以精心。行以恕道。於是心術端而治術昭焉。自古及今。名醫代出。方書條治。日益繁矣。遊移者鮮據。懵然者罔得。一知半解。貽誤良多。爰推以簡馭煩之理。集得心應手之方。編為成書。名之曰醫方簡義。簡者不煩之謂。義者得時之宜也。（原）業醫數十年。恆以大學毋自欺一語寤寐思之。故不辭鄙陋。授之剞劂。以公同志臨證一助云。</p>
<p><u>光緒九年歲次癸未仲冬之初古越山陰馥原王清源書於梅溪小隱山房。</u></p>

<h1>卷一</h1>

<h2>四診總論</h2>
<p>嘗思古人治病。原非一致。望色聞聲問症切脈四診全備。可稱神奇。故望而知之者為上醫。聞問而知之者為中醫。切而知之者為下醫。何也。因望之辨色。聞之辨聲。問之辨症。切之以辨陰陽虛實。如獨賴切脈。烏足以治病哉。況切脈一道。無確切之理。惟審病之緩急輕重而已。必合望聞問三者參酌而得。況人有長短肥瘦不同。體有虛實寒熱不同。如切其脈數。知為有熱。病者並無熱。切之脈遲。知為內寒。病者並無寒。豈執遲脈而竟為寒。執數脈而遽云熱乎。無是理也。昔賢廬陵謝縉翁。河東王世相。金陵戴起宗。東陽柳貫諸人。皆謂脈最難精。雖辨論一時。未嘗斷定何者為的。惟李時珍曰。兩手六部。皆脈之經脈也。特取此以候五臟六腑之氣耳。非五臟六腑所居之處也。凡診脈以肺心脾肝腎各候一動。其按脈之第一動屬肺氣。二動屬心。三動屬脾。四動肝。五動腎也。又以一動至十動屬肺。五臟之氣。以五十動一轉。凡五十動中無止息。五臟皆和。內有一止。可按數論病。指出何臟之病矣。故脈之一道。焉可誣也。以肺經一脈。候五臟之氣明矣。吳草廬曰。醫者於寸關尺輒名之曰此心脈。此肝脈。此肺脈。此脾脈。此腎脈。非也。五臟六腑凡十二經。兩手寸關尺者。手太陰脈經之一脈也。分其部位以候他臟之氣耳。脈行始於肺終於肝。而復會於肺。肺為氣所出之門戶。故名曰氣口。而為脈之大會。以佔一身焉。由此觀之。當宗李時珍吳草廬二賢之說為確。其餘如齊褚澄曰。男子陽順。自下生上故右尺為受命之根。萬物從土而出。故右關為脾。生右寸肺。肺生左尺腎。腎生左關肝。肝生左寸心。女子陰逆。自上生下。故左寸為受命之根。萬物從土而出。故左關為脾。生左尺肺。肺生右寸腎。腎生右關肝。肝生右尺心。又華谷儲泳曰。脈訣。女人尺脈盛弱與男子相反。反為背看。夫男女形體絕異。陰陽殊途。男生而覆。女生而仰。男則左旋。女則右轉。男主施。女主受。男子至命在腎。女子至命在乳。形氣既異。脈行於形氣之間。豈略不稍異耶。然褚儲二家之說。似也。未可遽以為是矣。凡分配臟腑體位。以叔和氏為是。吾所願。則學王氏叔和也。而望聞問三者參乎其中。非臨診之權衡歟。</p>

<h2>望色篇</h2>
<p>古有明堂圖。內部十四。外部十一。未易考辨。惟有額屬心。鼻屬脾。左頰屬肝。右頰屬肺。頤屬腎之法。簡而易辨。察五色以明五臟之病。肝色青。肺色白。脾色黃。心色赤。腎色黑。更察五行以辨五臟之生克。肝屬木。肺屬金。脾屬土。心屬火。腎屬水。凡水生木。木生火。火生土。土生金。金又生水。是為相生。凡水剋火。火剋金。金剋木。木剋土。土剋水。是為相剋。所謂有諸內必形諸外也。如面色光華清潔有神采之象。即知無病之人。黯淡者病自內生。紫濁者病由外受。郁多憔悴。病久黃瘦。山根明亮。病有欲愈之兆。環口黧黑。病邪欲絕之徵。經云。赤欲如帛裹朱。不欲如赭。白欲如鵝羽。不欲如鹽。青欲如蒼璧之澤。不欲如藍。黃欲如縞裹黃。不欲如地蒼。青如翠羽者生。赤如雞冠者生。黃如蟹腹者生。白如豕膏者生。黑如鳥羽者生。靈樞曰。五色各見其部。察其浮沉以知淺深。察其澤夭以觀成敗。察其散搏以知遠近。視色上下以知病處。積神於心以知往今。更察面部上下左右中央。以辨五臟之生克。如額上黑色。知水來剋火。額上青色。知母來抑子。額上白色。知金來反乘。額上黃色。知子來扶母餘部仿此。額上紅光。心之正色也。知其無病而且有益。左頰青翠。右頰白潤。鼻準黃亮。頤下淡黑。五色各當其部。皆為無病之徵。還當察一身之形色。以知臟氣之凶絕。如屍臭者肉絕。舌卷囊縮者肝絕。口開者心絕。亦曰脾絕。肌腫唇反者胃絕。髮直齒枯者骨絕遺尿者腎絕毛焦欲折者肺絕手撒者脾絕。眼合者肝絕。目瞑者陰絕。直視者陰脫。目眶陷目系傾。俱稱陽脫病後喘瀉者脾肺將絕。目正員痙者陰陽離脫。目赤者肝陽上逆。面赤如醉。陽氣上越。面色青黑。肝腎將絕。眼合汗出。此謂肝絕。死在八日。手擲爪青。筋絕之徵。死亦八日。眉息回視。心氣已絕。死在旦夕。口冷足腫。瀉利無已。此云脾絕。五日乃已。眉傾膽絕。八日則脫。瀉利無度大腸絕。髮直汗出小腸絕。欲知其期。死必六日。身重不能轉側。胃氣已絕。死以五日。口張氣出不反。肺已欲絕。三日乃死。齒枯。面垢。腰欲折。目黃黑。此屬腎絕。四日而死。視法已具。更當視其舌色。夫舌乃心之苗。病象莫不見於此也。如舌上紅淡有津。寒邪在表也。舌白而滑。邪在半表裡也。舌黑有津。邪在下焦。在上者宜表。在半表裡者宜和少陽。在下焦者宜下。微黃者熱邪在上。黃燥者熱在陽明。燥黑者熱極傷陰。有津陰虛。無津陽竭。有津者補以六味地黃湯。無津者泄以犀角地黃湯。又藍為白之變。屬寒。紫為紅之變。屬熱。舌赤而戰動者。火風之候也。舌白而戰掉者。風痙之病也。舌邊缺陷者。風木侮土也。舌卷難言者。風盛筋急也。舌硬不軟者。腎水虧極也。舌縱不收者。心血大虛也。舌卷者不治。舌短者難醫。舌出數寸者。心火內熾也。舌上生瘡者。心受熱毒也。望色之大略已備。更考傷寒舌鑑。法自密而無遺漏矣。</p>

<h2>聞聲篇</h2>
<p>難經云。聞其五音以知其病。五臟發聲以合五音。謂肝主呼。應乎角。心主笑。應乎徵。脾主歌。應乎宮。肺主哭。應乎商。腎主呻。應乎羽。原其發聲之本在於腎。宣竅於肺。凡病者呻吟低語。知其腎氣受傷。必有沉痛之疴。聲音焦響。定是心經主病。悲聲不絕。因知脾中之病。言如哭聲。系在肺經之疾。至若自言笑者。心經主之。自震怒者。肝經主之。自哀哭者。肺經主之。自憂愁者。脾經主之。言謇者。定必風痰阻竅。言躁者。知其肝陽內擾。言語不相接續者。氣不足也。欲言而反中止者。有隱憂也。不作聲者。非啞即詐也。其多言者。非狂即躁也。出言壯厲者。外邪病也。欲言眉皺者。必頭痛也。搖頭言者。心腹痛也。仰頭言者。腰間痛也。言必捫心者。脘痛也。叫而似怒者。痛甚也。欲言而揚手擲足者。血瘀下焦也。欲言而張口失音者。陰火上焰也。聲清且長。非壽必貴。聲重而濁。非貧則夭。此聞聲之大略。存之以備參考焉。</p>

<h2>問症篇</h2>
<p>昔喻嘉言治病。先問後診。合望聞切三法。而洞悉病情。凡見病者。須問年紀之大小。疾病之新久。人之勞逸。胃之強弱。然後問起居飲食如何。問其發熱否。肢節疼痛否。頭目暈眩否。大小便通秘否。嗜茶酒否。口渴喜冷喜熱否。脘中與腹及小腹痛否。如問而不答。知其耳聾。或懶於應對。否則詐病。或者病久。中氣困頓所致。問而雖答。言語甚低。皆中虛不足之證。或問非所答。語言錯雜。昏憒不清。定是痰阻中焦。清竅被蒙。非外感之邪熱內閉。即內傷之神不守舍也。又當問其病起幾日。素有宿病否。如春間得病。至夏不愈。先詢其初病風與寒否。若初病風症。至夏不愈。更受暑熱。宜先清暑熱。繼治風病。亦急則治標之理。內經云。治病必審其下。下者得病之由也。還當問及前經醫治否。如曾經服過表劑補劑。其中恐有誤表誤補之弊。切勿執己見以妄相攻訐。須再三籌度。用纏綿悱惻之思。自獲審慎周詳之益耳。如此問法。亦忠厚之道。成活人之法也。至於婦科。更添一層問法。須問年紀大小。月信如何。如受邪時經水適至。此謂熱入血室。與平常治法迥別。如妊娠而病外邪。必安胎為主。治邪為佐。恐邪傷胎元故也。如受邪者並無胎孕。並無經水挾雜。不必顧著血分。恐有引邪入血分之誤。慎之。余於此尤加謹焉。</p>

<h2>切脈篇</h2>
<p>（此係彭鍾齡脈法金針）</p>
<p>脈有要訣。胃神根三字而已。人與天地相參。脈必應乎四時。而四時之中。均以胃氣為本。如春弦夏洪秋毛冬石。而其中必兼有和緩悠揚之意。乃謂胃氣。謂之平人。若弦多胃少曰肝病。洪多胃少曰心病。毛多胃少曰肺病。石多胃少曰腎病。如但見弦洪毛石而胃氣全無者。則危矣。夫天有四時。而弦洪毛石四脈應之。四時之中。土旺各十八日。而緩脈應之。共成五脈。五臟分主之。如肝應春。其脈弦。心應夏。其脈洪。肺應秋。其脈毛。腎應冬。其脈石。脾應長夏。其脈緩也。然而心肝脾肺腎雖各應一脈。而和緩之象必寓乎其中。乃為平脈。否則即為病脈。若但見弦洪毛石而胃氣全無者。即謂真象脈見矣。凡診脈之要。有胃氣曰生。胃氣少曰病。胃氣盡曰不治。乃一定之診法。自古良工莫能易也。夫胃氣全虧。則大可危。胃氣稍乖。猶為可治。即當於中候求其神氣。中候者。浮中沉之中也。如六數七疾。熱也。中候有力。則有神矣。三遲一敗。寒也。中候有力。則有神矣。脈中有神。則清之而熱即退。溫之而寒即除。若寒熱偏勝。中候不復有神。清溫之劑。將何所恃哉。雖然。神氣不足。猶當察其根氣。根氣者。沈候應指是也。三部九候以沉分為根。而兩尺又為根中之根也。脈訣云。十關雖無。尺猶未絕。如此之流。何憂殞滅。歷試之。洵非虛語。夫人之有脈。如樹之有根。枝葉雖枯。根蒂未壞。則生意不息。是以診脈法。必求其根以為斷。而總其要領。實不出胃神根三者而已。如或胃神根三者稍有差忒。則病脈斯見。其偏於陽。則浮芤滑實洪數長大緊革弦牢動疾促以應之。其偏於陰。則沉遲虛細微澀短小濡伏弱緩結代散以應之。若但見緩脈。必一息四至。號曰和平。不得斷為病脈耳。其餘二十九脈皆為病脈。必細察其形象。而知其所主病。其曰浮。不沉也。主病在表。沉。不浮也。主病在裡。遲。一息三至也。為寒。數。一息六至也。為熱。滑。往來流利也。為痰為飲。澀。往來澀滯也。為血少氣鈍。虛。不實也。為勞倦內傷。實。不虛也。為外感邪實。洪大而有力也。為積熱。大。虛而無力也。為體弱。微。細而隱也。小。細而顯也。俱為氣少。弦。端直之象也。為水飲。長。過乎本位也。短。不及本位也。長為氣旺。短為氣怯。緊。如引繩轉索也。為寒為痛。弱。微細之甚也。為虛為虧。濡。沉而細也。為真火不足。動。厥然動搖也。為氣血不續。伏。脈不出也。為寒氣凝結。或因痛極而致。或由跌僕使然。促數而時一止也。為熱極。結。緩而時一止也。為寒盛。芤。邊有中空也。為失血。代。動而中止。有至數也。亦因血氣不續。或由跌打悶亂。以及妊娠三月之兆。革。浮而堅急也。為精血衰少。牢。沉而堅硬也。為胃氣不足。疾。一息七至也。為熱極。散。渙而不聚也。為氣散。惟緩者和之至也。為無病。但尺中見緩為解㑊。主發痿痹之疾也。凡所主病。大都如是。如有數脈互見。則合而斷之。以知其病。至於脈有真假。有隱伏。有反關。有怪脈。均宜一一推求。不可混淆。何謂真假。如熱病脈澀細。寒症反鼓指之類。何謂隱伏。如中寒腹痛。脈不出。或外感風寒將有正汗。脈亦不出。脈經有一手無脈曰單伏。兩手無脈曰雙伏。何謂反關。正取無脈。反在關骨之上。或見於左。或見於右。診法不造次。何謂怪脈。兩手之脈。如出兩人。或乍大乍小。乍數乍遲。此謂祟症。又有老幼之脈不同。土地方宜不同。人之長短肥瘦不同。診法隨時而斟酌。然而脈症相應者常也。其不相應者變也。知其常而通其變。診家之要。庶不相遠矣。蓋其要領總不出胃神根三字而已。三字無虧。則為平人。若一字乖違。則病見矣。若一字全失。則危殆矣。必須胃神根三字俱得。乃為指下禎祥之兆。此乃診家之大法。偶為筆之於書以備參考。</p>

<h2>十二經考正</h2>
<p>內左寸手少陰心　外左寸手太陽小腸</p>
<p>內左關足厥陰肝經　外左關足少陽膽經</p>
<p>內左尺足少陰腎　外左尺足太陽膀胱</p>
<p>內右寸手太陰肺　外右寸手陽明大腸</p>
<p>內右關足太陰脾　外右關足陽明胃經</p>
<p>內右尺足少陰腎命門相火　外右尺手少陽三焦</p>

<h2>分配臟腑辨正</h2>

<h3>王叔和分配臟腑法</h3>
<p>左寸（內心外小腸）　左關（內肝外膽）　左尺（內腎外膀胱）</p>
<p>右寸（內肺外大腸）　右關（內脾外胃）　右尺（內腎命門外三焦）</p>

<h3>張景岳分配臟腑法</h3>
<p>左寸（內心外膻中）　左關（內肝外膽）　左尺（內腎外膀胱大腸）</p>
<p>右寸（內肺外胸中）　右關（內脾外胃）　右尺（內腎外小腸）</p>

<h3>李頻湖分配臟腑法</h3>
<p>左寸（內心外膻中）　左關（內肝外膽）　左尺（內腎外膀胱小腸）</p>
<p>右寸（內肺外胸中）　右關（內脾外胃）　右尺（內腎外大腸）</p>

<h3>內經分配臟腑法</h3>
<p>左寸（內心外膻中）　左關（內肝外膈）　左尺（內腎外腹中）</p>
<p>右寸（內肺胸中以侯外）　右關（內脾外胃）　右尺（內腎外腹中）</p>
<p>以上王氏張氏李氏以及內經分配臟腑圖式。各有辨論。余以王氏為是。備錄參考以廣其義。</p>
<p>九宮八風圖式</p>
<p>坤　離　巽</p>
<p>兌　中　震</p>
<p>乾　坎　艮</p>
<p>凡冬至之日。太一星居坎葉蟄宮。四十六日。交立春居艮天留宮。四十六日。交春分居震蒼門宮。四十六日。交立夏居巽陰洛宮。四十五日。交夏至居離天宮。四十六日。交立秋居坤玄委宮。四十六日。交秋分居兌倉果宮。四十六日。交立冬居乾新洛宮四十五日。又交坎宮。每年三百有六十六日一轉。凡坎離坤震艮兌之六宮。太一星各居四十六日。惟乾為天門。巽為地戶。各居四十五日。每歲由坎向艮而行。</p>
<p>凡太一居何宮。風向後面來為實風向面前來為虛風。如太一在坎。雖大剛風為實風。不能害人。惟風自南方來。即為虛風。即能傷人。余仿此。正南風名大弱風。（內應心外應絡脈）正北風名大剛風。（應乎內腎外應筋骨背肩膂）正西風名剛風。（內肺外皮膚）正東風名嬰兒風。（內肝外筋）西北風為折風。（內外小腸）東北風為凶風。（內大腸外腋脅骨下支節）東南風為弱風。（內胃外肌肉）西南風為謀風。（內脾外肌）又如月建在子。風從子方來為實風。從午方來為虛風。余仿此。</p>
<p>又太一星。冬至日居坎葉蟄宮。第二日居艮天留宮。三日在震。四日在巽。五日在離。六日在坤。七日在兌。八日在乾。九日復坎宮。逐日排至三百六十六日一轉。亦是風從坐宮來為實風。向面前來為虛風。宜玩味焉。</p>
<p>又三盛者乘年之盛。（十二月大為年盛）逢月之滿（月大為月滿）得時之和（當溫而溫為時之和）三虛者乘年之衰（十二月小為年衰）遇月之空（月建小為月空）失時之和（如不當寒而寒為失和假如子午之年。少陰司天。陽明在泉。是二陰與二陽合德。天數二。地數二也。如丑未之年。太陰司天。太陽在泉。是三陰與三陽合德。天數三。地數三也。）</p>
<figure>
<img data-orig-src="urn:270:03121.jpg" alt="司天在泉手圖">
</figure>
<p>（如寅申之年。少陽司天。厥陰在泉。是一陰與一陽合德。天數一。地數一也。余例此。司天訣曰。子年少陰醜太陰。寅居少陽卯陽明。辰在太陽巳厥陰。午年仍在少陰掄。未太陰兮少陽申。酉是陽明次第分。戌屬太陽亥厥陰。逐一排來系順行。）</p>
<p>注曰。子午之年。少陰司天。熱淫所勝平以鹹寒。佐以苦甘。以酸收之。寒反勝之。治以甘溫。佐以苦酸辛。丑未之年。太陰司天。濕淫所勝。平以苦熱。佐以酸辛。以苦燥之。以淡泄之。濕甚而熱。治以苦溫。佐以甘辛。寅申之年。少陽司天。火淫所勝。平以酸冷。佐以苦甘。以酸收之。以苦發之。以酸復之。卯酉之年。陽明司天。燥淫所勝。平以苦溫。佐以酸辛。以苦下之。熱反勝之。治以辛寒。佐以苦甘。辰戌之年。太陽司天。寒淫所勝。平以辛熱。佐以苦甘。以咸泄之。熱反勝之。治以寒冷。佐以苦辛。巳亥之年。厥陰司天。風淫所勝。平以辛涼。佐以苦甘。以甘緩之。以酸泄之。清反勝之。治以酸溫。佐以苦甘。○子午之年。陽明在泉。燥淫於內。治以甘辛。以苦下之。熱反勝之。治以辛寒。佐以苦甘。丑未之年。太陽在泉。寒淫於內。治以甘熱。佐以苦辛。以咸泄之。以辛潤之。熱反勝之。治以鹹冷。寅申之年。厥陰在泉。風淫於內。治以辛涼。佐以苦甘。以辛散之。清反勝之。治以酸溫佐以苦甘。以辛平之。卯酉之年。少陰在泉。熱淫於內。治以鹹寒。佐以苦甘。以酸收之。寒反勝之。治以甘溫。佐以苦酸辛。辰戌之年。太陰在泉。濕淫於內。治以苦熱。佐以酸辛。以苦燥之。以淡泄之。濕甚而熱。平以苦溫。佐以甘辛。巳亥之年。少陽在泉。火淫於內。治以酸冷。佐以苦甘。以酸收之。以苦發之。以酸復之。</p>

<h2>又十二經氣旺時歌</h2>
<p>肺寅大卯胃辰宮　脾巳心午小未中　申胱酉腎心包戌　亥焦子膽醜肝通（大大腸也小小腸也）（中衝穴屬心包。在中指內端。離甲一分。商陽穴屬大腸。在食指內側。離甲角一分。關衝穴屬三焦。在無名指外側。去甲角一分。）</p>
<figure>
<img data-orig-src="urn:270:03122.jpg" alt="掌中針刺圖">
</figure>
<p>（少商穴屬肺。在大指內側。去甲角一分。少衝穴屬小腸。在小指內側。去甲角一分。神門屬心經。不可刺也。太淵屬肺。乃可刺之。凡遇中惡。中風。中暑。中氣。中寒。中毒等症。諸穴並刺。以泄其毒邪。惟神門穴不宜刺也。）</p>
<p>二陰南政考　甲己之年曰南政。以司天為主。如甲子甲午年。少陰司天。則兩寸不應。知己亥己巳年。厥陰司天。則右寸不應。如己丑己未年。太陰司天。則左寸不應。如三陰在泉。其少陰在泉。兩尺不應。厥陰在泉。左尺不應。太陰在泉。右尺不應也。</p>
<p>三陰北政考　乙丙丁壬癸辛戌庚之年曰北政。以在泉為主。如乙卯乙酉年。少陰在泉。兩寸不應。如丙寅丙申年。厥陰在泉。右寸不應。如戊辰戊戌年。太陰在泉。左寸不應。（如北政三陰司天。少陰主兩尺不應。厥陰主左尺不應。太陰主右尺不應也。三陰明而三陽在其中矣。）</p>
<p>太一者。貴人之名也。司天與運氣同形。又合地支所屬同形。即太乙天符也。曰中者。言得病之日遇太乙天符也。如乙酉之日。乙化為金。陽明燥金司天。司天與運氣相符。又有酉支屬金。與司天運氣同屬金形。為太一天符也。經云。中貴人者。其病暴而死。余仿此。中天符曰中執法。司天與運氣同符曰天符。如戊寅之日。戊化為火。少陽相火司天。司天之火與化氣之火同符曰天符。經云。中執法者。其病速而危。余仿此。</p>
<p>中歲會曰中行令。又曰中歲直。運氣所屬與地支所屬同類。謂之歲會。如乙酉日。乙化為金。地支酉金與化氣同為金屬。謂之歲會。經云。中歲會者。其病徐而持。余仿此。</p>
<p>以上三條。可決病之輕重緩急。宜照逐日乾支排算。其化氣司天之法。與排年分氣運同法。</p>
<p>司天在泉客氣圖</p>
<p>太陰　少陽　少陰　陽明　厥陰　太陽　厥陰為一陰。少陰為二陰。太陰為三陰。少陽為一陽。陽明為二陽。太陽為三陽。</p>
<p>假如子午之年。少陰司天。陽明在泉。以在泉為主氣。二陽生三陽。三陽為地之客氣。三陽生一陰。一陰為天之客氣。余仿此。</p>
<figure>
<img data-orig-src="urn:270:03123.jpg" alt="六氣圖注">
</figure>
<p>（六氣注云。初之氣自大寒至春分。二之氣自春分至小滿。三之氣自小滿至大暑。四之氣自大暑至秋分。五之氣自秋分至小雪。六之氣自小雪至大寒。一年計三百六十六日。終而復始。氣候如此。）</p>
<p>內經六氣論云。君火之右。（君火者少陰也）退行一步。相火治之。（相火者少陽也退行一步退太陰一步而先行少陽也故少陽趲在太陰之位太陰在少陽之次也）復行一步。土氣治之。（土氣者太陰也由少陽而復行太陰也）復行一步。金氣治之。（金氣者指陽明燥金也）復行一步。水氣治之。（水氣者太陽寒水之氣也）復行一步。木氣治之。（木氣者厥陰風木之氣也）六氣循環。終而復始。</p>

<h3>五運引藥法</h3>
<p>甲己合而化土。乙庚合而化金。丙辛合而化水。丁壬合而化木。戊癸合而化火。</p>
<p>土運之歲。（引以人中黃）金運之歲。（引以知母桔梗）水運之歲。（引以桂枝木通）木運之歲。（引以梔子黃芩）火運之歲。（引以黃連）</p>

<h1>卷二</h1>

<h2>中風</h2>
<p>中風之證。古人皆謂外來有餘之邪。及劉河間出。以中風癱瘓者。非肝木之風實。亦非外中之風邪。良由將息失宜。心火暴甚。腎水大虧。不能制火。則陰不內守。陽氣上浮。熱熾怫鬱。心神昏冒。筋骨不用。而卒倒無知。因平時之情內傷。五志過動。致患中風之症。俗云風者。捨本而言末也。東垣云。中風非風。乃本氣病也。凡人年逾四旬。氣血衰微之際。或因憂怒傷氣。思慮傷脾。多有是症。壯盛時所不病也。或肥人則有之。亦形盛氣虛所致也。然賊風乘虛而中者。有三病。中腑者。病在表。多著四肢。故肢節廢。中臟者。病在裡。多滯九竅。故性命危。中血脈者。病在半表裡。多在胃土。故口眼喎僻。丹溪論曰。諸書謂外中風邪。惟河間作將息失宜。水不濟火。極是。若真中風邪。東垣中腑中臟中血脈之說甚妥。然有地氣之不同。西北氣寒。真中者多。東南氣溫。類中者多。何謂真中。寒傷營血。血愈虛。風愈盛也。何謂類中。濕土生痰。痰生熱。熱生風耳。更有血虛氣虛之辨。血虛則左手足不仁。氣虛則右手足不仁。氣血俱虛。則左右手足俱不仁。此三子之論。異於古人如此。又自王安道出。推劉李非風之論。丹溪濕痰之解。三子皆類中。以古論為真中。各有見解。然皆曰中風非風。而不離風字之名。蓋風為百病之長。亦可偕六淫為進退。挾寒即為風寒。挾暑即為暑風。挾濕即為風濕。挾燥即為風燥。挾火即為風火是也。其次因外風以動內風。因內風以召外風。</p>
<p>即三家中風非風之意爾。故治風之法。必由血氣之偏勝求之。如氣虛者。以補氣為主。祛風為佐。氣足風自散矣。血虛者以養血為主。疏風為佐。血足風自熄矣。氣血俱虛者。以氣血兼調。佐以疏風之劑。血氣俱足。風必自滅矣。如真中之風。當察其中腑中臟中血脈之由。加以豁痰宣竅祛風逐穢等法。如類中之風。亦宜察其寒暑溫涼燥火濕痰之別。不得名為類中。而概以風藥投之也。如虛中者。必有暴脫暴絕之類。不暇待藥之勢。視其身冷脈伏呼吸不相接續者。可急用獨參湯與服之。俟其神氣稍蘇。庶可救藥。不然一脫不回。雖有善者。亦無如之何矣。然必先救其急。後治其本。乃可救暴急之病也。虛中必挾外邪。須察邪之輕重而治。正虛邪輕者。扶正為主。逐邪為佐。如邪重而正不甚虛者。祛邪為主。扶正為佐。雖未能活人多多。則臨診時不致亂我方寸。學者宜深辨之。</p>

<h3>星附六君子湯</h3>
<p>治肥人氣虛挾痰。右手足麻木。神迷欲厥之症。</p>
<p>黨參（三錢）　白朮（二錢）　茯苓（三錢）　炙甘草（五分）　陳膽星（八分）　竹節白附子（酒炒八分）　姜半夏（一錢五分）　橘紅（八分）　加姜三片。不渴。加廣木香（五分）治卒中痰迷尤佳。</p>

<h3>二陳湯</h3>
<p>治氣盛痰多。中焦痞滿。</p>
<p>薑製半夏（一錢五分）　陳皮（一錢）　茯苓（三錢）　甘草（蜜炙一錢）加竹茹（一團）　枳實（一錢）　名溫膽湯。治同。</p>

<h3>小續命湯</h3>
<p>治太陽中風剛柔二痙。口眼喎僻。脈浮緊者宜之。並治六經中風等症。</p>
<p>桂枝（一錢）　麻黃（去根節八分）　防風（一錢五分）　黨參（三錢）　白芍（酒炒一錢）　杏仁（去皮尖炒八分）　附子（泡四分）　川芎（酒洗八分）　黃芩（酒炒八分）　防己（八分）　蜜炙甘草（八分）加薑棗煎。</p>

<h3>大秦艽湯</h3>
<p>治血虛中風。脈浮而洪。唇燥頭疼。口渴身痛之症。</p>
<p>秦艽（三錢）　羌活（一錢）　獨活（一錢）　防風（一錢）　川芎（一錢）　白芷（一錢）　酒炒黃芩（一錢）　生地（一錢酒洗）　熟地（酒洗一錢）　細辛（五分）　石膏（三錢）　當歸（一錢酒洗）　白朮（土炒一錢）　白芍（酒炒一錢）　茯苓（一錢）　甘草（炙一錢）水煎。</p>

<h3>通關散</h3>
<p>治卒中風邪。不省人事。昏迷欲絕。牙關緊閉。湯水不下等症。</p>
<p>細辛（洗去土）　豬牙皂（去子各一錢）共為細末。吹入鼻孔。得嚏可治。無嚏不治。一方加生半夏一錢共末吹之。</p>

<h3>烏梅擦牙方</h3>
<p>治中風口噤不開。</p>
<p>烏梅四枚。焙乾為末。擦於牙齦。涎出即開。</p>

<h3>轉舌膏</h3>
<p>治中風瘛瘲。舌強不語。</p>
<p>連翹（一錢）　山梔　薄荷　淡竹葉　黃芩　桔梗（各五分）　甘草　石菖蒲　遠志肉（各四分）共末。以蜜煉丸。如彈子大。辰砂為衣。每服一丸。薄荷湯化服。凡風勝者氣血必虛。氣血虛。其津液多耗。痰在膈間。阻其靈機。不得轉舌。故此膏系開膈通竅。消痰清火之品。舌可轉津液生矣。</p>

<h3>天麻丸</h3>
<p>治風由濕熱而生。熱勝則痛。濕勝則重。此係養血清熱。滲濕治風之法。（一方加獨活六兩）</p>
<p>煨天麻　懷牛膝（酒焙）　川萆薢　元參（各六兩）　杜仲（酒炒七兩）　附子（泡一兩）　羌活（十兩）　當歸（十兩）　生地黃（十六兩）為末。煉蜜為丸。如梧子大。每服五十丸。溫酒送下。</p>

<h3>豨薟丸</h3>
<p>治風寒濕合而成痹。足不能行者。</p>
<p>用豨薟草一味。五月五日。或六月六日採葉。九蒸九曬。用酒蜜蒸曬。曬乾為末蜜丸。如桐子大。空腹溫酒送下百丸。</p>

<h3>二丹丸</h3>
<p>治中風神志不安。怔忡健忘。</p>
<p>丹參　天冬　熟地黃（各一兩五錢）　甘草（一兩）　麥冬（去心）　茯苓（各一兩）　遠志（去心）石菖蒲（各五錢）共末。煉蜜為丸。桐子大。每服五十丸。硃砂為衣。開水送下。</p>

<h3>地黃飲子</h3>
<p>（河間）　</p>
<p>治四肢緩縱不收。語言不出。四肢不收曰風痱。口不能言曰風喑。系水不生木。風火皆勝。此方引火歸水。水生木而風熄也。</p>
<p>熟地（八錢）　山萸肉（一錢）　石斛（三錢）　麥冬（去心二錢）　北五味（四分）　石菖蒲（四分）遠志肉（六分）　茯神（五錢）　淡蓯蓉（四錢）　肉桂（七分）　泡淡附子（二錢）　巴戟肉（二錢）　薄荷（一錢）加姜三片。棗五枚。</p>

<h3>獨活湯</h3>
<p>（丹溪）　</p>
<p>治瘛瘲昏憒。血虛風盛。心神不寧。</p>
<p>獨活　羌活　防風　川芎（各一錢）　當歸（三錢）　人參　姜半夏（各一錢）　細辛　石菖蒲（各五分）　茯苓（三錢）　遠志肉　白薇（各八分）　甘草（三分）加姜三片。棗三枚煎服。</p>

<h3>順風勻氣散</h3>
<p>治喎僻偏枯。口舌難言之症。</p>
<p>白朮（二錢）　烏藥（一錢）　煨天麻（一錢）　白芷　人參　蘇葉　木瓜　青皮（炒各一錢）　炙甘草（四分）　沉香（研末五分）加姜三片煎。</p>

<h3>資壽解語湯</h3>
<p>治中風。脾腎兩虛。木旺風盛。牙關緊急。舌強難言。半身不遂等症。</p>
<p>羌活（一錢五分）　泡淡附子　防風　煨天麻（各一錢）　羚羊角（鎊一錢）　棗仁（一錢）　肉桂（五分研沖）　炙甘草（五分）　加竹瀝（五錢衝入）　薑汁（二匙沖）水煎。</p>

<h3>補偏愈風湯</h3>
<p>（自制）　</p>
<p>治氣血虛弱。內風沸騰。不拘左偏右偏。兩手足俱廢之症。總以氣血兼補立法。氣能生血。血活。風自滅矣。</p>
<p>人參（三錢）　熟地黃（六錢）　茯苓（三錢）　生黃耆（六錢）　炙黃耆（三錢）　白朮（二錢）　赤芍藥（一錢）　當歸（三錢）　杜仲（酒炒三錢）　懷牛膝（三錢）　羌活　獨活（各一錢半）　桂枝（八分）加桑寄生（八錢）煎湯代水煎服。</p>

<h3>九味羌活湯</h3>
<p>治中風初起挾寒。寒熱往來欲痙者。</p>
<p>羌活　防風　蒼朮（各一錢）　細辛　白芷（各五分）　川芎　黃芩（酒炒各一錢半）　生地黃（四錢）　生甘草（八分）加姜三片。棗兩枚。蔥白三莖。水三杯煎。</p>

<h3>人參敗毒散</h3>
<p>治中風挾暑。有汗惡風。</p>
<p>人參（一錢五分）　茯苓（三錢）　生甘草（八分）　枳殼　桔梗　柴胡　前胡　羌活　獨活　川芎　薄荷（各一錢）加姜三片。</p>

<h3>羌活勝濕湯</h3>
<p>治中風挾濕化腫。或風濕搔癢之症。</p>
<p>羌活　獨活（各一錢）　川芎　甘草　防風（各八分）　蔓荊子（一錢）　藁本（五分）水煎。</p>

<h3>滋燥養榮湯</h3>
<p>治風燥症。唇焦無汗乾枯之症。</p>
<p>熟地（八錢）　生地　秦艽（各三錢）　黃芩（酒炒）　白芍（各一錢）　當歸（三錢）　防風　甘草（各五分）加竹葉十片。</p>

<h3>瀉黃散</h3>
<p>治風挾火。口瘡胃熱肌熱之症。</p>
<p>生甘草（一錢）　防風（一錢）　梔子（三錢）　石膏（二錢）　藿香（二錢）加竹葉十片。青果二枚。或加銀花（三錢）　生地（三錢）</p>

<h2>癘風</h2>
<p>癘風者。即八方之賊風也。山嵐毒霧之氣。萬物皆受其害。不能長養萬物。人在氣交之中。感之即病。其酷烈猛悍之性。可不畏而避之乎。故君子避風如矢石也。凡既受其害者。須辨其在上在下之異。在上者。毛髮乾枯。肌膚粗糙。或痛癢異常。甚至潰爛肉敗等形。以醉仙散取臭涎惡血使從齒縫中出。在下者。必腎囊麻癢。腿痠足麻。腰胯痛癢等情。以通天再造散取惡物蟲毒。使從穀道中出。治法雖分上下。總不離乎陽明一經。治此病者。必當明其邪在陽明一經。庶無錯誤矣。看其疙瘩塊癗。先見於上者。即為在上也。先起於下者。即為在下也。在上者氣分受之。在下者血分受之。上下皆起疙瘩。是上下皆受邪風。血氣俱傷。為最重也。若非醫者神妙。病者確信。鮮能治矣。苟從上從下。由漸而起者。尚可治也。惜乎人遇病勢略緩。不肯堅守而治。即幸而治愈。更未能絕欲絕味。未免復發。復發則不能援救矣。廣按大風症者。所因不一。或因色欲當風。或因醉臥濕地。或乘風脫衣。或汗出入水。或空腹山行。或汗衣曝曬。乘熱而穿。或感山嵐瘴氣。或冒寒遇雨。或內傷形體。不知避忌風邪。致邪毒入於肌腠分肉之間。由外而內。漸及臟腑筋骨。當時罔覺。失於祛散。日久致營衛不行。內外熏蒸。內則生蟲。外則生瘡。古人所以謂大風苛疾也。其毒一發。則有三因五死之辨。三因者。曰風毒。曰濕毒。曰傳染也。五死者。一曰皮死。麻木不仁。二曰脈死。血潰成膿。三曰肉死。割切不痛。四曰筋死。手足緩縱。不知痛癢。五曰骨死。鼻柱崩塌。眉落。眼昏。唇翻。聲噎。皆不治之症。甚可畏也。蓋由邪正交攻。氣血沸騰。濕痰死血。充溢於經絡之中。故蟲瘡生之。治之法。通臟腑。舒筋絡。則麻木痛癢自去矣。還須絕欲解酒。忌毒戒怒。方保無虞也。</p>

<h3>祛風丸</h3>
<p>生黃耆　防風　杞子　枳殼　赤芍　甘草　生地黃　熟地黃　地骨皮（各等分）煉蜜為丸。每丸重一錢。每服一丸。開水化服。</p>

<h3>四神丸</h3>
<p>久服可愈。</p>
<p>當歸　生地黃　元參　羌活（各等分）蜜丸如彈子大。每丸二錢。每服一丸。溫酒沖服。</p>

<h3>醉仙散</h3>
<p>麻仁　牛蒡子　杞子　蔓荊子（各一兩同炒）　白蒺藜　苦參　栝蔞根　防風（各五錢）</p>
<p>上藥八味。為末。每用藥末一兩五錢。加入輕粉二錢。拌勻。大人用藥末一錢。午前空腹。及臨臥時各服一錢。茶水調下。服後五日。必先於牙縫間流出臭涎。渾身疼痛。昏悶如醉。瀉下臭糞。為度量人之大小虛實而用。小人減半。如症之急重者。先服再造散。待補養之後。更服醉仙散。自無虛脫之慮。須忌食油鹽醬醋魚腥椒茄等物。只能啜粥嚼菜而已也。</p>

<h3>再造散</h3>
<p>廣鬱金（五錢）　生軍（一兩）　白醜（六錢半生半炒）　皂莢刺（一兩）共為細末。每服二錢。臨臥時冷酒調下。以淨桶伺候。泄出黑蟲。系多年也。如不黑而赤。</p>
<p>是近年之蟲。越三日又進一服。以蟲盡為度。則根絕矣。後用養血疏風之劑。調養百日。又用三稜針刺委中穴出血。終身不得食牛馬等肉。更忌房勞之事。犯則再發。不能救矣。（委中穴在腿彎上青筋處）</p>

<h3>脈候</h3>
<p>癘風之脈。　宜緩與和。　洪數為劇。　沉微則魔。　若遇牢革。　死也如何。　雖有良醫。　不必摩挲。　中風之脈。　亦看斯歌。</p>

<h2>傷寒</h2>
<p>（附類傷寒條辨）</p>
<p>傷寒者冬月傷寒之症也。凡霜降以後。天氣嚴凝。萬物收藏。人在氣交之中。寒肅之氣。乘虛而入。故受寒而即病者。為正傷寒也。所云傳經者。傷寒一日。邪在足太陽膀胱經也。故發熱惡寒。頭項痛。腰脊強。身痛。無汗。其脈人迎浮緊。宜麻黃湯以發其汗則愈。不愈。再傳。故傷寒二日。邪在足陽明胃經也。故目痛鼻乾。唇燥。漱水不欲咽。脈長。宜葛根湯以解肌達表則愈。如不愈。即傳。故三日邪在足少陽膽經也。其目眩。口苦。耳聾。胸滿脅痛。寒熱往來。頭汗而欲嘔。脈弦。宜小柴胡湯和解之。不愈。又傳。故四日邪在足太陰脾經也。腹滿而痛。咽乾。脈實者。宜大柴胡湯微利之。不愈。又傳。故五日足少陰腎經受之。口燥咽痛。渴而下利清穀。脈沉而緊。宜小承氣湯下之。如咽痛甚。宜甘桔湯以開提陷下之邪。又不愈。則又傳矣。故六日足厥陰肝經受之。少腹滿。煩躁。厥逆。消渴。舌卷囊縮。脈伏或沉而帶弦。宜大承氣湯下之。六日傳經盡。病當愈。不愈。必至再傳。傳至十二日。更不愈。勢必又傳而劇矣。若夫太陽傷風。與傷寒無異。惟惡風有汗與傷寒異耳。初起宜桂枝湯以補表虛。其變症與傳經證治小異也。因風傷衛。寒傷營。故治傷風必以桂枝湯為主。其變症不出氣分之病。宜疏達為穩。加減之藥。以芩芍羌防桑葉鉤藤之屬可也。然仲景不分風寒為兩症。但以有汗為表虛。無汗為表實。脈緩為風。脈緊為寒。惡風為風。惡寒為寒。以此為辨。可見寒非風不作。風非寒不發。感之者有傷氣傷營之不同耳。其脈緩自汗惡風為虛邪。以桂枝湯治之。如八九日不解。如瘧狀面熱身癢。以不得小汗故也。宜桂麻各半湯。如無汗惡寒脈浮緊者。宜大青龍湯主之。如干嘔而咳煩躁者。不得安臥。宜小青龍湯主之。又仲景金匱要略。有太陽病發熱無汗。反惡寒者。名曰剛痙。太陽病。發熱汗出而不惡寒。名曰柔痙。並不言麻黃桂枝之治法。大都脈不見緊。脈不見緩。故不立法也。又曰太陽病其證備。身體強𠘧𠘧然。脈反沉遲。此為痙。栝蔞桂枝湯主之。可以知沉脈為痙病之別也。</p>
<p>其剛痙柔痙兩條不言脈。故不言方耳。又太陽病無汗而小便反少。氣上衝胸。口噤不得語。欲作剛痙。葛根湯主之。又痙病胸滿口噤臥不著席。腳攣急必齘齒。可與大承氣湯。此兩條顯露陽明表症。陽明裡症證象。故立葛根湯以祛陽明之表。立承氣湯以下陽明之熱也。乃若傷寒兩感。謂之雙傳。一日太陽與少陰同病。二日陽明與太陰同病。三日少陽與厥陰同病。其症象與傳經無異。兩經同病。即有兩經之見症。然兩感之症。有傳有不傳也。古人無一定之法。後人以九味羌活湯治兩感之總方。似非盡善之道也。況兩感之重症。可一方以概之乎。吾鄉於國初時。有倪涵初先生。以陶節庵之沖和靈寶飲治陰陽合病之兩感。如表多里少者。以麻黃葛根湯治之。如表病緩里病急者。以調胃承氣湯下之。如病已入臟者。系不治之症。經云不治之症。不必治也。治必不效。又有類傷寒一症。最難分析。往往亂投表散之劑。而成不治之症。又有溫邪一症。比比泛稱傷寒。而用峻猛之法。以致不治之疴。而不知類傷寒者。類乎傷寒。而實非傷寒也。溫邪者。非冬時之傷寒也。與瘟疫之瘟又不同也。瘟疫系不正之邪。而溫乃溫涼之溫也。故冬不藏精之人。春必病溫。至春不病。至夏變為溫熱。陰愈虛邪愈盛也。治溫症必首重夫存陰清邪之法。所以有溫邪忌汗之戒也。類傷寒者。四時皆有。與傷寒症象必有異也。治之者按定氣節。從所異處著想。不致誤於下手。其形症列於方論矣。又陳三錫瘟疫論有病痙者。其云即角弓反張也。因濕熱生風。木來剋土。治以六一順氣湯下之。與金匱論痙不同。治法亦異。擬作類傷寒而論也。蓋張仲景著傷寒十卷。為萬世師。凡傳經症治。越經症治。兼症合病。太陽腑症。陽明腑症等治。備舉其論。毫髮無遺。而直中一症。雖未發明。於方論上紬繹及之。胡為乎來哉。噫。仲景之緒。賴以不墜者。晉太醫王叔和也。叔和發明其義。又得成無己註釋周詳。後之議叔和者。豈真得仲景之旨歟。學斯道者。當擇所從哉。凡後賢之辨論註釋。各有其長。其合乎今者。採而用之。不合乎今者。取其法而已矣。如此。則可與言醫爾。</p>
<p>愚按近世時醫。必按節氣以治病。當春時之病曰春溫。或指曰風溫。夏病曰熱病。或指為暑病。秋病曰暑濕。或曰濕熱。秋深而稱伏暑。冬初之病曰冬溫。又曰傷寒。苟不明脈象病情。但見耳聾目眩。身溫神昏之候。即指之曰時邪。殊不知一年有一年之氣運。一節有一節之變更。如春有暴熱。夏有暴風。秋有暴涼。冬有暴溫。若以按時論症。而不知通變之方。不幾令病者多陷於死亡乎。余每遇歲時節氣。必加意審量而辨八方風氣之吉凶。以推病機之邪正。如春溫夏熱。秋涼冬寒。是其常也。若非時之邪。或以活潑之法治之。庶免錯誤。不特己心已盡。則求治者之心亦盡矣。</p>

<h3>麻黃湯</h3>
<p>治傷寒太陽經症。表實無汗。</p>
<p>麻黃（七分）　桂枝（六分）　杏仁（去皮尖二錢）　炙甘草（五分）</p>

<h3>桂枝湯</h3>
<p>治太陽症。表虛有汗。兼治痙症脈遲者。</p>
<p>桂枝（一錢）　白芍（一錢）　炙甘草（五分）加姜三片。棗三枚煎。此方加栝蔞根二錢。名栝蔞桂枝湯。</p>

<h3>葛根湯</h3>
<p>治陽明經症。亦治痙症無汗。口噤不得語。</p>
<p>葛根（一錢）　麻黃（五分去根節）　桂枝（八分）　白芍（一錢）　甘草（蜜炙五分）加姜三片。棗二枚。</p>

<h3>小柴胡湯</h3>
<p>治少陽經症。</p>
<p>柴胡（二錢）　姜半夏（一錢半）　人參（一錢）　炙甘草（五分）　黃芩（一錢五分）加姜三片。棗二枚。</p>

<h3>大柴胡湯</h3>
<p>治太陰經症。</p>
<p>柴胡（一錢五分）　大黃（四錢）　枳實（一錢）　黃芩（酒炒一錢五分）　姜半夏（一錢五分）　白芍（酒炒一錢）加姜一片。棗二枚。</p>

<h3>小承氣湯</h3>
<p>治少陰經症。</p>
<p>厚朴（一錢）　枳實（一錢）　大黃（三錢）水煎。加羌活（一錢）名三化湯。治大便風秘。</p>

<h3>甘桔湯</h3>
<p>治少陰咽痛。</p>
<p>生甘草（一錢）　桔梗（二錢）可加竹葉兩片。青果二枚。</p>

<h3>大承氣湯</h3>
<p>治厥陰經症。舌卷囊縮不下。必死者。</p>
<p>大黃（四錢）　枳實（二錢）　芒硝（煅即元明粉二錢）　厚朴（一錢五分）用急流水煎。　亦治太陽痙症齘齒口噤。臥不著席者。此亦不下必死之症。故可與之。</p>

<h3>桂麻各半湯</h3>
<p>治太陽症。服桂枝湯不愈。面熱身癢。不得小汗。如瘧狀者。</p>
<p>桂枝（八分）　白芍（一錢）　炙甘草（五分）　麻黃（去根節七分）　杏仁（去皮尖一錢）加姜三片。棗二枚。</p>

<h3>大青龍湯</h3>
<p>治太陽症。無汗惡寒。脈浮緊。</p>
<p>桂枝（八分）　麻黃（去根節六分）　杏仁（去皮尖二錢）　炙甘草（七分）　生石膏（二錢）加棗二枚。姜三片。</p>

<h3>小青龍湯</h3>
<p>治太陽變症。乾嘔而咳。煩躁不得臥。</p>
<p>乾薑（八分）　桂枝（八分）　麻黃（六分）　白芍（一錢二分）　炙甘草（五分）　細辛（五分）　姜半夏（一錢五分）　五味子（九粒）</p>

<h3>九味羌活湯</h3>
<p>治兩感症之緩症。</p>
<p>羌活（一錢）　防風（一錢）　細辛（五分）　蒼朮（一錢）　白芷（五分）　川芎（八分）　黃芩（一錢炒）　生地（三錢）　炙甘草（五分）加姜三片。蔥白三莖。</p>

<h3>沖和靈寶飲</h3>
<p>治陰陽兩感。（不拘太陽少陽陽明太陰少陰厥陰等症）</p>
<p>生甘草（一錢）　防風（一錢五分）　生地（四錢）　柴胡（一錢五分）　細辛（四分）　白芷（八分）川芎　葛根（各一錢）　石膏（三錢）　黃芩（一錢）加黑料豆二合。煎湯代水。</p>

<h3>麻黃葛根湯</h3>
<p>治兩感表症多。里症少者。</p>
<p>麻黃（去根節六分）　葛根（一錢）　白芍（一錢）　淡豆豉（二錢）加蔥白三莖煎。</p>

<h3>調胃承氣湯</h3>
<p>治兩感表緩裡急者。</p>
<p>元明粉（三錢）　大黃（五錢）　炙甘草（五分）水三杯煎。</p>

<h3>加味香蘇飲</h3>
<p>治太陽經症。無汗不得發。有汗不能止者。</p>
<p>紫蘇（一錢）　陳皮（一錢）　制香附（一錢）　炙甘草（七分）　荊芥（一錢）　秦艽（一錢）　蔓荊子（一錢）　川芎（五分）　生薑（三片）水煎。如頭痛加羌活（一錢）蔥二支。○停食腹滿加山楂神麯（各二錢）○喘咳加桔梗（一錢）嘔加姜半夏川黃連（各一錢）○如四時雜氣加蒼朮藿香（各一錢）口渴加知母（一錢）石膏（二錢）其餘隨時酌加為妥。</p>
<p>一凡冬月溫邪。名曰冬溫。其症脈虛身熱。微有咳逆。漐然汗出。宜補其表。以御其邪。古人所以有汗多亡陽之訓。又曰。溫邪忌汗。用桂枝白虎湯以救胃熱。以解外邪。非存陰清邪之旨歟。況溫邪之由來。因冬氣暖熱。腠理疏。陰不固。或酒後受邪。或因熱脫衣。皆能受之。先傷氣分。故汗出微咳。或頭痛。或顱脹。或咽痛。甚至邪入血分。即為鼻血咯血。脈必浮弦。故宜急清上焦氣分。若不急清。化熱最速。熱傷胃陽。即發斑矣。熱走心包。則發疹矣。熱蘊氣分而不汗解。則發白㾦。古書之云冬溫者。即近世之稱風溫也。不獨冬見此症。而春時亦多是症也。今人罕明治法。每至劫津亡陽。成內閉神昏之候。不救者甚多。余以由博而約之法治之。庶乎挽今人之流弊歟。</p>

<h3>桂枝白虎湯</h3>
<p>治冬溫畏寒汗出。脈虛身熱。微咳。</p>
<p>桂枝（七分）　石膏（三錢煨）　知母（一錢）　炙甘草（五分）加粳米一撮。或加黃芩白芍各一錢。竹葉十片。</p>

<h3>薄荷甘桔杏子湯</h3>
<p>（自制）　</p>
<p>治冬溫初起。咳嗽。微熱。微汗。脈浮大者。</p>
<p>薄荷（一錢）　甘草（五分）　桔梗（一錢五分）　杏仁（去皮尖三錢）煎。</p>

<h3>黃連阿膠梔子湯</h3>
<p>（自制）　</p>
<p>治溫邪咯血鼻血。</p>
<p>黃連（八分）　阿膠（蛤粉炒一錢半）　焦梔子（三錢）　竹葉（二十片）</p>

<h3>疏斑湯</h3>
<p>（自制）　</p>
<p>治溫邪發斑。發疹。發㾦。神昏欲化內閉者。</p>
<p>桔梗（一錢）　生甘（八分）　銀花（三錢）　連翹（一錢）　黃柏（八分）　青黛（五分）　省頭草（一錢）　神麯（二錢）　牛蒡子（炒二錢）　薄荷（八分）　竹葉（十片）</p>
<p>一凡春溫一症。其說有二。經云。冬不藏精。春必病溫。此言冬時因勞倦內傷。或因酒色傷陰。交春陽氣散越。陰不內守。耗陰傷精。冬時陰氣凝冱。不覺其病。陽氣一疏。陰熱由內達外。偶感溫風。即發熱。頭脹。口渴。咽痛。脈必浮數。慎勿表散。恐劫津傷陰。宜黃芩白芍湯堅陰劫邪。或加桑葉貝母之類。又云。冬傷於寒。春必病溫。此言冬月受寒。而不即發。交春氣升。伏寒亦隨之而發。故內外交病。亦化溫症。頭痛發熱。肢體煩疼。不惡風。反惡熱。熱則煩倦不得眠。亦宜黃芩白芍湯堅陰清邪。二症雖異。其治則同。或汗出不解。宜桂枝白虎湯以補表救熱。最為穩恰。</p>

<h3>桂枝白虎湯</h3>
<p>（見冬溫條）</p>

<h3>黃芩白芍湯</h3>
<p>治春溫之總治。</p>
<p>黃芩（一錢五分酒炒）　酒炒白芍（一錢五分）清煎。如咳嗽加杏仁（光三錢）　川貝（一錢）　桑葉（一錢）如氣急痰多。加蘇梗桔梗橘紅（各一錢）如咯血。鼻血。發斑。發疹。發㾦。神昏欲閉等情。照冬溫方法為宜。慎勿過於清涼。恐遏倒邪氣。變幻不測矣。慎之慎之。</p>

<h3>黃芩桔梗湯</h3>
<p>（自制）　</p>
<p>治春溫初起。頭脹身熱。惡熱。微汗。舌紅脈大者。</p>
<p>黃芩（一錢炒）　桔梗（一錢）　白芍（八分）　川貝母　知母（炒各一錢）　薄荷（五分）　神麯（三錢）加生薑三片。竹葉二十片。</p>
<p>一凡溫熱之症。亦冬不藏精。至春不發。至立夏後。夏至前。感溫熱之氣而病作者。名曰溫熱。又冬月受寒。交春雖得發越。而更不發越。至夏至以前。偶觸熱邪而病。身熱。脈虛。舌淡似紅。煩悶。惡熱。肌熱無汗。神倦嗜臥。如虛勞之象。即溫熱症也。其發病愈遲。是正愈虛。邪愈盛矣。與冬不藏精者有間。其治之之法亦同。然此症較春溫為尤重也。亦宜堅陰清邪。黃芩白芍湯亦可酌用。總不若自制之芩芍解毒湯。甘露飲。仲景之炙甘草湯為善也。宜玩味焉。</p>

<h3>芩芍解毒湯</h3>
<p>（自制）　</p>
<p>治溫熱初起之症。</p>
<p>黃芩（酒炒二錢）　白芍（二錢）　川連（八分）　焦梔子（三錢）　炒川柏（一錢五分）　銀花（三錢）　生甘草（八分）加姜二片。</p>

<h3>甘露飲</h3>
<p>（自制）　</p>
<p>存陰清邪。以復胃中津液。</p>
<p>大生地（五錢）　鮮生地（六錢）　天冬　麥冬（去心各三錢）　鮮石斛（四錢）　黃芩（炒一錢）　銀花（三錢）　川貝母（一錢生炙）　甘草（各五分）加竹茹一團（薑汁炒）</p>

<h3>炙甘草湯</h3>
<p>（即復脈湯）　</p>
<p>治邪去陰虛。自汗潮熱。口微渴。</p>
<p>炙甘草（一錢）　阿膠（一錢五分）　麻仁（炒三錢）　桂枝（三分）　生地（五錢）　麥冬（去心三錢）　東洋參（一錢）　生薑（三片）</p>
<p>一凡夏月頭痛發熱。項強口渴。不惡寒。反惡熱。此陰虛陽勝。感熱邪而起。較之暑邪。變幻更速。脈大者。宜先清表邪。恐邪正互傷。以柴葛解肌湯為治。如脈虛者。以保陰湯為主治。此即類傷寒也。</p>

<h3>柴葛解肌湯</h3>
<p>柴胡（一錢五分）　葛根　赤芍　黃芩　知母　貝母（各一錢）　炙甘草（八分）　生地（四錢）　丹皮（二錢）加竹葉二十片。</p>

<h3>保陰湯</h3>
<p>（自制）</p>
<p>南沙參（三錢）　麥冬（去心三錢）　五味子（九粒）　桔梗（一錢）　蘇梗（一錢五分）　黃芩（一錢五分）　知母　貝母（各一錢）　橘紅（八分）　桑葉　神麯（各二錢）加竹葉二十片。生薑一片。</p>
<p>一凡秋間寒暑互傷。頭痛發熱。口不大渴。惡寒無汗。舌白而滑。欲作痙症。此先受暑以傷氣分。繼受驟寒以傷營分。最難治之。世醫俱認暑濕之症。然暑濕之象。有汗口渴。此因氣血俱傷。邪氣與正氣相搏。故欲痙也。形類傷寒而非傷寒。前人尚未分別。故補之以俟指正。治以清燥解肌湯。否則清燥救肺湯亦可。</p>

<h3>清燥解肌湯</h3>
<p>（自制）　</p>
<p>治類傷寒無汗者。</p>
<p>冬桑葉（一錢五分）　葛根（一錢）　麥冬（去心）　杏仁（光各三錢）　大麻仁（炒三錢）　石膏（三錢）　蜜炙麻黃（七分）　神麯（三錢）　焦梔子（三錢）加竹茹一丸。生薑三片。</p>

<h3>清燥救肺湯</h3>
<p>治類傷寒有汗者。</p>
<p>桑葉（三錢）　杏仁（光）　麥冬（去心各三錢）　石膏（二錢）　甘草（五分）　大麻仁（炒三錢）　人參　阿膠（各一錢）加枇杷葉五片。（去毛）</p>
<p>一凡痙症角弓反張。系木來剋土。不論有汗無汗。以六一順氣湯下之。此治溫病痙症。形類傷寒者。與金匱中論痙病不同。仲景治太陽病。發熱汗出而不惡寒。脈遲。曰柔痙。宜栝蔞桂枝湯。方見正傷寒。又太陽病。發熱無汗而反惡寒。欲作剛痙。宜葛根湯。方見前陽明症。如胸滿口噤。臥不著席。腳攣急。必齘齒。可與大承氣湯下之。可與者。未能確與也。宜酌之可也。大承氣湯。見前厥陰經症。</p>

<h3>六一順氣湯</h3>
<p>（吳氏加減）　</p>
<p>治瘟病發痙者。</p>
<p>殭蠶（酒炒三錢）　蟬蛻（十個）　制軍（四錢）　元明粉（二錢）　柴胡（一錢五分）　川連　黃芩白芍　生甘草（各一錢）　厚朴（二錢）　枳實（麩炒一錢）加白蜜三匙。陳酒五匙沖。</p>
<p>以上溫症及類傷寒症。已具大略。以備參考。所有風溫一症。與冬溫同類。故不復贅。又腳氣之症。亦名類傷寒。宜看金匱要略。亦不具贅。一凡直中之症。仲景尚無確論。考其四逆散方。知治直中三陽之症。四逆湯。知治直中三陰之症。又有當歸四逆湯。知其治直中厥陰之症矣。亦宜細味其方藥可耳。此亦類傷寒也。</p>

<h3>四逆散</h3>
<p>柴胡　赤芍　枳實　甘草（炒各等分）為末。開水調下。每服四錢。加酒少許。</p>

<h3>四逆湯</h3>
<p>乾薑（五錢）　泡淡附子（五錢）　炙甘草（二錢）水煎。冷服。如面赤格陽於上者。加蔥白以通陽。如脈伏不出者。加人參五味子以復脈。嘔者加川連（炒）姜半夏二味以和胃除痰。</p>

<h3>當歸四逆湯</h3>
<p>當歸　桂枝　芍藥　細辛（各一錢）　炙甘草　木通（各二錢）加大棗四枚煎。如內有久寒者。加生薑三片。泡淡。吳茱萸（八分）水煎溫服。</p>
<p>一凡傷寒合病並病。必有兩經之症象。或兼兩經之形色脈候可見。宜兩經之方藥。如太陰太陽合病。宜大柴胡加桂枝之意。余以加味香蘇飲治之最妥。加減法載太陽經症。</p>
<p>一凡陽明腑症。譫語。便秘。口燥唇裂。兩目如火。循衣摸床。急下之以發癍疹。余以腑陽實症。不下必死。每用涼膈散治之取效。或以大承氣湯下之亦妥。方見厥陰症。</p>

<h3>涼膈散</h3>
<p>元明粉（三錢）　大黃（五錢）　連翹（二錢）　焦梔子（三錢）　黃芩（一錢五分）　炙甘草（五分）薄荷（一錢）加竹葉十片。白蜜三匙沖。丹溪涼膈散方。去芒硝大黃二味。加桔梗。治同。</p>
<p>一凡太陽腑症。膀胱之氣不化。口渴。宜五苓散以化氣治之。如熱結膀胱。小腹脹痛如狂。以桃仁承氣湯下之。</p>

<h3>五苓散</h3>
<p>桂枝（八分）　豬苓（四錢）　茯苓（三錢）　白朮（二錢）　澤瀉（三錢）水煎。</p>

<h3>桃仁承氣湯</h3>
<p>桃仁（十粒）　元明粉（三錢）　大黃（四錢）　桂枝（八分）　炙甘草（五分）水煎。或加澤蘭二錢以行氣分。</p>
<p>脈候傷寒之脈。緩大者昌。沉微小促。症反倉皇。洪緊滑數。初病則康。若遇日久。何敢云臧。溫邪脈象。微澀者殃。弦緊則甚。非躁即狂。若云類症。以此為綱。陽脈見之。宜瀉宜涼。陰脈見之。溫通之方。症象一反。不必商量。不忍坐視。仔細加詳。</p>

<h2>暑症</h2>
<p>（附中暑　冒暑　傷暑　暍症　暑風　伏暑　暑厥）</p>
<p>暑者。後夏至而起。因天氣一動。而蒸淫熱迫。地氣一升。而穢濁上騰。人之患也。由口鼻吸受。氣分被阻而先傷。不能輸化而升降失度。水穀蘊蓄而濕亦停滯。故曰暑必挾濕。其病者發熱頭脹。自汗心悸。舌淡且紅。口微渴。宜輕清理氣。大忌發表。恐重傷其衛陽也。若衛陽一傷。有昏憒亡陽之變。古人云。暑家忌汗。是要道也。○中暑者。因其人陽氣先傷。不能外衛。先有伏寒在內。一觸暑邪。即暈眩昏迷。不省人事。指甲青。唇口青。肢冷如冰。自汗如珠。凝而不流。系內受伏寒。外應暑熱。脈必雙伏。法在不治。危在旦夕。急用通關散以吹入鼻中。得嚏則生。無嚏則死。即用大順散為主。加附子以祛內寒。加川連以清心營。或用獨參湯以先扶正氣。然後用藥為妥。緩則不救。○冒暑者。必奔走道路。吞飢受餓。氣不充體。暑邪上冒。頭目眩暈。心神慌亂。壯熱氣粗。脈必浮滑。急用黃連香薷飲。以溫散之。或有腹瀉者。以縮脾飲清之。凡世俗間動云痧氣。妄加針刺。傷其營血。致血不榮筋。有昏痙轉筋之變。而不可救藥。宜加察之可也。○夫傷暑者。因受暑而傷。暑熱傷氣。一受暑邪。不急調治。漸入營分。陽已外泄。陰氣更被耗散。陰陽兩虛。形若虛勞。內熱外寒。脈必虛數。東垣清暑益氣湯最妙。如胃中痞滿者。去黃耆甘草可也。○暍者。是重傷於暑也。金匱云。太陽中暍。發熱惡寒。身重而疼痛。其脈弦細芤遲。小便已。洒洒然毛聳。手足逆冷。小有勞。身即熱。口開。前齒板燥。若發其汗。則惡寒甚。加溫針。則發熱甚。數下之。則淋甚。以白虎加人參湯。最為妥恰。然後人鮮有增減。宜細玩之。○暑風者。是夏月傷風也。宜香葛湯治之。○又有伏暑之病。古所未著。並無發明。近時所云伏暑者。即葉天士先生為伏氣之疾。從秋分以前。暑邪未消。至秋分以後。而患暑病。名為伏氣。又云秋時晚發即俗名伏暑之病耳。其脈滯。其形怯。口舌黏膩。或微有寒。或單發熱。熱時脘痞氣窒。渴悶煩悗。每至午後。則病甚矣。入暮更劇。熱至天明。得汗則諸恙悉減。日日如是。必三候外邪氣方解。日減一日而始全愈。倘治不得法。不治者甚多。治之之法。宜存陰清營。潤燥清氣。最為妥洽。○又暑厥之病。即內經熱深厥亦深之意。因暑邪鬱於上焦。伏火由內而升。陽氣升騰。陰熱內灼。自下而上。由內應外。或挾起肝陽致陡然厥逆。肢冷麵赤。宜自制抑陽清暑湯治之。大忌發散峻表等劑。恐致氣脫。戒之戒之。用蘇合丸擦牙亦穩。</p>

<h3>自制清肺解暑湯</h3>
<p>治暑外受而頭脹發熱。</p>
<p>桔梗（二錢）　藿香（二錢）　栝蔞皮（三錢）　滑石（三錢）　連翹（二錢）加鮮荷葉一角。○如脘悶加白豆蔻（一錢研沖）如煩渴加石膏（二錢）　焦山梔（三錢）如嘔者加姜半夏（一錢）　川連（七分）如頭汗多者。加竹葉二十片。如邪入營分。心神慌亂。囈語便秘者。用至寶丹三分衝入可也。</p>
<p>至寶丹方見卷三厥症</p>
<p>蘇合丸方見厥症</p>
<p>通關散見中風症</p>

<h3>大順散</h3>
<p>治中暑症。</p>
<p>甘草　砂仁　杏仁（去皮尖）　炒乾姜（各二錢）　肉桂末（一錢）共研細末。每服二錢。開水沖服。或加泡淡附子川連（各一錢）和前藥共為末。每服二錢。沖服。</p>

<h3>黃連香薷飲</h3>
<p>活人治暑熱口渴心煩。</p>
<p>黃連　香薷　厚朴（各一錢）　扁豆（二錢）加竹茹（一團）　水煎服。</p>

<h3>縮脾飲</h3>
<p>清暑止渴。治嘔止瀉。</p>
<p>砂仁末（六分沖）　煨草果仁（一錢）　烏梅（一枚）　炙甘草（五分）　葛根（一錢）　扁豆（三錢）水煎</p>

<h3>清暑益氣湯</h3>
<p>治暑邪傷氣。</p>
<p>東洋參（一錢）　炙甘草（五分）　炙黃蓍（一錢）　當歸（二錢）　去心麥冬（三錢）　北五味（九粒）　炒青皮（七分）　陳皮（八分）　神麯（二錢）　炒川柏（八分）　葛根（八分）　蒼朮　白朮（各一錢）　升麻（五分）　澤瀉（三錢）加姜一片。紅棗二枚。</p>

<h3>人參白虎湯</h3>
<p>治暍症。</p>
<p>東洋參（一錢五分）　煅石膏（三錢）　炒知母（一錢）　生甘草（五分）加陳粳米一撮。</p>

<h3>香葛湯</h3>
<p>治夏月傷風。</p>
<p>香薷　葛根　厚朴（各一錢）　扁豆（二錢）水煎。</p>

<h3>藿薷湯</h3>
<p>治暑月吐瀉。</p>
<p>香薷（一錢）　藿香（一錢）　扁豆（三錢）　厚朴（一錢）　大腹皮（一錢五分）　紫蘇（一錢）　桔梗（一錢）　枳殼（八分）　陳皮（八分）　茯苓（三錢）　白朮（一錢）　半夏曲（一錢）　白芷（八分）加姜二片。棗二枚。</p>

<h3>自制青蒿芩芍湯</h3>
<p>治伏暑症之法。</p>
<p>青蒿（一錢）　白芍　黃芩（各錢半）　知母　貝母（各一錢）　生地（三錢）　杏仁（光三錢）　穭豆皮（一錢五分）　神麯（二錢）加竹葉二十片。水煎。</p>

<h3>蒼朮白虎湯</h3>
<p>治暑厥症。亦治中惡。</p>
<p>蒼朮（二錢）　煅石膏（三錢）　炒知母（一錢）　生甘草（五分）水煎服。或加滑石（三錢）桂枝（三分）治同。</p>

<h3>自制抑陽清暑湯</h3>
<p>治暑厥面赤口渴者。</p>
<p>石膏（三錢煅）　秦艽（二錢）　白芍（一錢）　赤小豆（一錢）　石決明（六錢生）　琥珀（八分）　鬱金（一錢）　川黃連（八分）　青蒿子（八分）加綠豆一合。煎湯代水煎藥。</p>
<p>凡暑厥之症。其危已甚。如不及投劑。用蘇合丸開水沖就灌下。或以蘇合丸擦牙。使香氣入口。其竅自開。吐出痰涎。其病自寬。便可審治。如暑邪內閉。循衣摸床。舌焦而黑。無津液者。陰被灼傷。急用至寶丹一丸。開水沖服。不應者難治矣。</p>
<p>脈候　暑者之脈。六部皆虛。傷其氣分。右寸必虛。傷及血分。左寸必虛　若見浮數陽氣不舒。兩尺見洪。熱深難除。右關之洪。停積何如。陰脈為吉。陽脈難祛。左關若弦。非瘧誰與。緊革牢促。生意有諸。此是死脈。命將安予。脈虛身熱。載在古書。更察根氣。兩尺當紓。紓為和緩。根蒂獨居。脈象如此。其病可祛。</p>

<h2>霍亂</h2>
<p>霍亂者。揮霍發亂也。成氏曰。病有乾霍亂。有濕霍亂。乾霍亂死者多。濕霍亂死者少。蓋吐利則所傷之物得以出泄。雖霍亂甚。其胃中水穀泄盡。則止矣。所以死者少也。何以乾霍亂而死者多。以其上不得吐。下不得利。則所傷之物不得出泄。擁閉正氣。關格陰陽。煩擾悶亂。躁無所安。以致喘脹而死。嗚呼。飲食有節。起居有常。豈得致霍亂耶。又有傷寒吐利者。系邪氣所傷。邪在上焦。但吐而不利。邪在下焦。但利而不吐。邪在中焦。吐利並作。與飲食所傷者不同。又霍亂一症。揮霍發亂。先心煩而後腹痛者。必先吐後利。先腹痛而後心煩者。必先利後吐。其必先受寒邪。繼傷飲食所致。寒邪重而飲食少。必腹痛如絞。四肢厥逆。吐利並作。口不甚渴。治宜大溫中土。以理中湯大劑與之。其飲食重而感寒輕者。必腹痛而滿。四肢溫和。吐利並作。口必大渴。治宜黃連理中湯。使溫涼並進。陰陽自調矣。余治病數十載。於此症最為決定。靡不應手而瘥。此即成無己所云濕霍亂也。又有乾霍亂一症。腹痛如絞。欲吐不吐。欲瀉不瀉。口渴。肢冷如冰。唇青指甲青者。此木旺土敗之候。法在不治。余每選四逆湯與承氣湯並授。使不吐者得吐。不瀉者得瀉。一吐一瀉。病勢自緩。更進黃連理中湯以和其中土。活者多而死者少也。如濕霍亂吐利並作。腹痛如絞。肢冷。汗出口渴。以自制黃連和中湯治之。凡傷寒吐利並作。邪在上者。以黃連瀉心湯治之。邪在下者。黃連五苓散治之。邪在中焦者。以連附理中湯治之。然乾霍亂與濕霍亂二症。雖口中大燥大渴。忌食生冷水果茶湯等物。沾唇則成不起之症也。何則。因中土已傷。更加生冷水飲。傷其真陽。遏其邪氣。焉有生機者哉。此懇切之語。勿以為誣而忽之。</p>

<h3>理中湯</h3>
<p>東洋參（一錢）　炮姜（八分）　炙甘草（五分）　白朮（二錢土炒）水煎。○如加黃連薑汁炒一錢。名黃連理中湯。○加泡淡附子黃連（各一錢薑汁炒）名連附理中湯。</p>

<h3>黃連瀉心湯</h3>
<p>黃連（薑汁炒一錢）　姜半夏（一錢五分）　酒炒黃芩（一錢）　乾薑（八分）　人參（一錢）　炙甘草（五分）加棗二枚水煎</p>

<h3>黃連五苓散</h3>
<p>（自制）</p>
<p>黃連（淡吳茱萸六分拌炒一錢）　豬苓（三錢）　茯苓（三錢）　澤瀉（三錢）　白朮（二錢）　桂枝（五分）加荷葉一片。</p>

<h3>保和湯</h3>
<p>（自制）　</p>
<p>治霍亂後調養脾胃。</p>
<p>神麯（三錢）　茯神（三錢）　北沙參（三錢）　白芍（一錢）　廣皮（一錢）　山楂炭（三錢）　藿香（一錢五分）加荷葉一角。</p>

<h3>自制四逆承氣湯</h3>
<p>治乾霍亂症。</p>
<p>淡附片（二錢）　乾薑（一錢）　炙甘草（五分）　厚朴（一錢五分）　麩炒枳實（二錢）　元明粉（三錢）　酒蒸大黃（六錢）　烏梅（一枚）　川連（一錢酒炒）　川椒（三十粒炒去汗）水煎服。</p>

<h3>黃連和中湯</h3>
<p>（自制）　</p>
<p>治濕霍亂症。</p>
<p>黃連（一錢吳萸七分拌炒）　姜半夏（一錢五分）　茯神（三錢）　陳皮（一錢）　炙甘草（五分）防風（一錢五分）　蒼朮（一錢米泔浸炒）　桂枝（一錢）　白芍（酒炒二錢）　乾薑（一錢）　神麯（二錢）　藿香（二錢）加竹茹一團。烏梅一枚。水煎溫服。○如四肢轉筋者。本方加泡淡附子（三錢）木瓜（二錢）○如指甲青。唇吻青。本方加淡附子（四錢）木瓜（三錢）白朮（土炒二錢）水煎。冷透與服。徐徐呷下。如病者得藥即時吐出。切勿畏為不受。宜續漸灌下。隨吐隨灌。以止為度。使胃氣一醒。自然漸愈。世人每畏病者得藥即吐。以云不投。是症因關格不通。須待其藥性一得。自然吐瀉頓減。近時醫家往往遇此症。而怕敢用溫熱之藥。必擇和平之劑。先為一試。詎不知急病當以急治。緩病可以緩醫。若急症緩治。每多不救。如良驥雖快不能追風耳。試問何謂穩當。當重而重。當輕而輕。謂之穩當。為人醫者。所當猛省焉。脈候　霍亂之脈脈宜陽。脈伏應知吐利殃。沉而兼澀胸少滿。緊革弦牢厥勢強。面青脈數將危候。四逆湯須重用姜。細心擬藥當溫熱。寒冷沾唇不必商。緩小則吉。洪數者亡。浮而如散。定主不祥。緩中有細。病勢無妨。神氣在尺。即可安康。</p>

<h2>濕症</h2>
<p>濕者。不燥之謂也。其質重。其氣濁。其體陰。其性下。有自上自下之殊。自上受者。霧露雨濕。自下受者。陰凝潮濕。夏秋之間。地氣上升。天氣下降。人在氣交之中。受而為病。內應乎脾。外傷乎氣。所以病者頭重肢重。身重體重。經云。困於濕。首如裹。能化火。亦能生痰。自外受之。多著肌膚。自內受之。多在脾腎。腑受之而在大腸小腸。其傷人也。必先傷氣。繼傷營。不宜發表。故濕家汗之必發痙厥。因多汗者必亡陽。古人所以有汗多亡陽之戒。又有濕家忌汗之語也。然夏間飲水過多。以及瓜果生冷之物。傷及脾陽。蘊於中宮。或化腫脹。或化痰水。治以辛香和脾。溫暖補土為主。其脈短澀者難治。緩大者易醫。弦者木來乘土。滑者水來侮脾。總宜補土為主。如有邪以御邪之法佐之。自無誤治之累矣。金匱云。濕家之為病。一身盡疼。發熱身如熏黃也。濕外盛者。陽必內郁。濕盛故身疼。陽郁故發熱。又云。濕家其人但頭汗出。背張。欲得被覆向火。若下之早則噦。或胸滿小便不利。舌上如胎者。以丹田有熱。胸上有寒。渴欲得飲而不能飲。則口燥煩也。又云。濕家下之。額上汗出。微喘。小便利者死。若下利不止者亦死。又有濕兼風者。金匱云。風濕相搏。一身盡痛。法當汗出而解。值天陰雨不止。醫云。此可發其汗。汗之病不愈者何也。蓋發其汗。汗大出。但風氣去。濕氣在。故不愈也。若治風濕者。但微微似欲汗出者。風濕俱去也。又云。病者一身疼。發熱。日晡所劇者。此名風濕。此病傷於汗出當風。或久傷取冷所致也。可與麻黃杏仁薏苡甘草湯。又有濕溫之病。頭脹耳聾。重感濕邪。濕化火。鼻血出。或有呃忒。咽喉欲閉。系濕邪阻其上竅。名曰濕溫。治以開肺解毒湯。惟濕症最多變幻。尚宜參考古書乃可。</p>

<h3>麻黃加朮湯</h3>
<p>治寒濕在表。身體煩疼。當出微汗。</p>
<p>麻黃（去根節八分）　桂枝（七分）　炙甘草（五分）　杏仁（去皮尖三錢）　白朮（二錢）水煎。</p>

<h3>麻黃杏仁薏苡甘草湯</h3>
<p>麻黃（去根節八分）　杏仁（去皮尖三錢）　苡仁（四錢）　炙甘草（五分）水煎服。忌風宜避。</p>

<h3>開肺解毒湯</h3>
<p>（自制）　</p>
<p>治濕溫咽痛衄血等症。</p>
<p>桔梗　牛蒡子　黃芩（酒炒各一錢五分）　連翹　銀花（各二錢）　赤小豆　生甘草（各一錢）　馬勃（五分）加青果二枚。竹葉二十片。</p>

<h3>防己黃耆湯方</h3>
<p>治風濕重疼。身重脈浮。汗出惡風。</p>
<p>防己（一錢五分）　炙甘草（五分）　白朮（二錢）　黃耆（二錢）加姜二片。棗二枚。水三杯煎。　如喘者。加蜜炙麻黃（五分）　胃不和。本方加白芍（一錢）氣短上逆。加桂枝（二分蜜炙）下有沉寒。加細辛（四分）服後當坐褥上。令微汗出而瘥。</p>

<h3>桂枝附子湯</h3>
<p>治風濕相搏。身體煩疼。不能自轉側。不渴不嘔。脈虛澀者。</p>
<p>桂枝（一錢）　泡淡附子（二錢）　生薑（五分）　炙甘草（五分）加棗二枚。水煎溫服。</p>

<h3>白朮附子湯</h3>
<p>治風濕之病。大便堅。小便利者。</p>
<p>白朮（二錢）　泡淡附子（二錢）　炙甘草（五分）　生薑（三片）</p>

<h3>苓薑朮桂湯</h3>
<p>治濕傷陽氣。脾虛失運。</p>
<p>茯苓（三錢）　乾薑（一錢）　白朮（二錢）　桂枝（五分）水煎。</p>

<h3>溫中利濕湯</h3>
<p>（自制）　</p>
<p>治酒濕傷胃。阻膈欲成噎膈者。</p>
<p>桂枝　乾薑　淡附子　白朮　檳榔　葛花　白蔻仁（沖）　雞內金　陳皮（各一錢）</p>
<p>水煎服。○如大便堅燥。加酒蒸大黃（三錢）大麻仁（三錢）足腫。加木香（一錢）如酒濕成蠱者。加黑醜（一錢）炒蕪荑（一錢）如膀胱之氣不化。而囊腫如升斗者。用綿茵陳（五六錢）煎湯代水煎藥。如不應。其病不治。脈必沉而無力。宜更服金匱腎氣丸。以丸作湯劑而服。名腎氣湯也。</p>

<h3>自制腎氣湯</h3>
<p>熟地（八錢）　茯苓（四錢）　澤瀉（四錢）　丹皮（三錢）　山萸肉（一錢）　懷山藥（二錢）　淡附片（三錢）　安桂（六分研沖）　車前子（炒二錢）　牛膝（三錢）加地骷髏（二兩即萊菔殼）煎湯代水。</p>

<h3>二苓二術湯</h3>
<p>（自制）　</p>
<p>治濕症之總方。加減之法在後。</p>
<p>白朮（二錢）　蒼朮（一錢）　白茯苓（三錢）　赤茯苓（三錢）　陳皮（一錢）　天仙藤（二錢）　通草（一錢）　草豆蔻（一錢）</p>
<p>水煎服。</p>
<p>如濕邪上受而為外濕者。加羌活獨活防己（各一錢五分）如濕自下受而為內濕者。加木瓜淡附片（各二錢）如濕傷腑陽。化瀉。小便短澀者。加淡乾薑川連（各八分）欲嘔加姜半夏（一錢五分）欲噯加厚朴（一錢）代赭石（一錢）挾食加檳榔枳實（炒各二錢）腰重加防己生黃耆（各二錢）濕注小腸淋痛者。加琥珀（八分）豬苓滑石各三錢。腫而脈澀者。加姜三片。淡附片二錢。車前子（炒三錢）痰多加竹茹一丸。其餘之症。宜變通而加減之可也。</p>
<p>脈候　濕邪之脈。必是沉遲。洪為陽水。澀乃病危。弦則木旺。細為陰衰。初病見洪。微汗可推。久病見洪。其象非悲。陰見陽脈。治療必佳。陰見陰脈。病必支離。</p>

<h2>燥症</h2>
<p>燥氣之症。有內傷外感之分。更有上下之殊。內傷之燥。必腎液內耗。精血早奪。治以滋腎養肝之法。外感之燥。由風熱太盛。氣傷津耗。治必清金潤燥為主。上燥者。火爍金傷。胃無輸化之機。清養肺胃為宜。下燥者。相火無制。腎無化精之權。壯水養心為主。至若病後化燥者。宜金水並治。邪熱未清。而化燥者。宜清潤為先。葉氏以清燥救肺湯治上燥。必以玉女煎治下燥。以復脈湯治內傷之燥。三才湯治三焦之燥。其治燥之大略具矣。學者當知通變焉可也。</p>

<h3>玉女煎</h3>
<p>治陰虛內燥。舌赤口渴。舌痛溺赤。</p>
<p>熟地（六錢）　麥冬（去心四錢）　知母（一錢）　懷牛膝（三錢）　生石膏（三錢）</p>
<p>水煎。</p>

<h3>清燥救肺湯</h3>
<p>（方見傷寒）</p>

<h3>復脈湯</h3>
<p>不論病後病先。無邪熱者宜之。</p>
<p>炙甘草（八分）　麻仁（二錢）　阿膠（一錢）　生地（五錢）　麥冬（去心三錢）　桂枝（五分）　東洋參（一錢五分）加姜三片。棗二枚。</p>

<h3>三才湯</h3>
<p>天冬（三錢）　生地（八錢）　東洋參（二錢）水煎。</p>

<h3>生津飲</h3>
<p>（自制）　</p>
<p>總治燥症。不拘內傷外感。上燥下燥諸症。加減之法。例於左。</p>
<p>生地黃　鮮生地　天冬　麥冬（去心各一兩）　菊花　淡竹葉　霜桑葉　佩蘭葉（各三錢）　生石膏（五錢）　川柏　淡秋石（各五分）　生葳蕤（五錢）</p>
<p>加青果五枚。水五大碗。煎至一大碗。去渣頻頻而飲。切勿大口而服。故曰飲子。如嗽咳者。本方加薄荷桔梗（各一錢五分）內傷重者。本方加藕汁梨汁人乳汁各一大鐘。燉熱。和勻而飲。如上燥而有餘邪者。又加葦莖一兩。同本藥熬就。和入藕汁梨汁人乳汁而飲可也。（葦莖即活水蘆根是也）</p>
<p>脈候　燥火之脈。兩寸必洪。洪而兼數。外火為懷。洪而如弱。虛陽之荄。兩尺小搏。陰病之階。有力則重。芤微乃差。表病之脈。宜浮為佳。有神者吉。脈散則乖。</p>

<h2>火症</h2>
<p>火者。南方之氣也。有內外虛實。陰陽表裡之判。五臟為內。六腑為外。內傷之火屬虛。外感之火屬實。又在上者為陽為表。在下者為陰為里。故虛火則補之。實火則泄之。表者散之。里者清之。使內外陰陽之火。由補泄清散而悉得其法。而治得其平矣。其瀉心用黃連。瀉腎用知母。瀉膀胱用川柏。瀉肝用柴胡。瀉膽用龍膽草。瀉肺用黃芩。瀉脾用芍藥。瀉胃用石膏。瀉三焦火則用梔子。瀉小腸火用木通。瀉大腸火用大黃。火病最多。不及煩贅。惟存其大略以備參考。</p>

<h3>加減六味地黃湯</h3>
<p>（自酌）　</p>
<p>治五臟六腑。內傷外感。一切火症。宜隨症加減。亦臨症之要也。</p>
<p>生地（八錢）　丹皮（四錢）　茯苓（四錢）　澤瀉（四錢）　懷山藥（二錢）　山萸肉（八分）水煎。○如欲補水。加知母黃柏。○補金。加百合桔梗。○補肝木。加柴胡巨勝子。○補心。加石菖蒲遠志肉。○脾虛者加白朮。○如欲熄腎火。加知母川柏肉桂（各八分）○泄肺火。加桑白皮知母羚羊角（鎊各一錢）○瀉心火。加川連（八分）泄肝火。加龍膽草桑葉各一錢。○瀉脾火。加黃芩（二錢炒）又如虛火。加龜板（六錢）如實火。加犀角羚羊之屬。其餘之火。酌而用之可也。</p>

<h3>火齊湯</h3>
<p>（即黃連解毒湯）　</p>
<p>治三焦實火。</p>
<p>黃連（一錢）　黃柏（一錢五分）　黃芩（一錢五分）　梔子（炒三錢）</p>
<p>水煎。○本方加麻黃（五分去根節）淡豆豉（二錢）石膏（三錢）名三黃石膏湯。治傷寒溫毒。○本方加金銀花（三錢）大黃（四錢）名梔子金花湯。治實火便秘。</p>

<h3>白虎湯</h3>
<p>治肺胃之火。屬實火者。</p>
<p>煨石膏（三錢）　知母（一錢）　生甘草（八分）加粳米（一撮）　水煎。○加人參（一錢）名人參白虎湯。○加桂枝（五分）名桂枝白虎湯。</p>

<h3>竹葉石膏湯</h3>
<p>治肺胃虛火。</p>
<p>人參（二錢）　淡竹葉（二錢）　生石膏（二錢）　生甘草（一錢）　麥冬（去心三錢）　姜半夏（一錢五分）加粳米一合。水三杯煎。或加棗二枚亦妙。</p>

<h3>涼膈散</h3>
<p>（方見傷寒症）</p>

<h3>甘露飲</h3>
<p>治胃中濕火。</p>
<p>生地黃　熟地黃（各四錢）　天冬　麥冬（去心各三錢）　甘草（八分）　石斛（三錢）　綿茵陳（二錢）　黃芩（炒）　枳殼（各一錢）加枇杷葉（五片去毛）　如口瘡吐血衄血等加犀角（鎊一錢）○又加肉桂（四分）茯苓（三錢）名桂苓甘露飲。治胃中虛火。</p>

<h3>清胃散</h3>
<p>治胃火牙痛。或胃中伏火。</p>
<p>升麻（七分）　黃連（一錢）　當歸（三錢）　生地（六錢）　丹皮（三錢）　石膏（三錢）</p>
<p>水煎。</p>

<h3>瀉黃散</h3>
<p>治胃熱口瘡。</p>
<p>甘草（一錢）　防風（一錢五分）　石膏（三錢）　梔子（三錢）　藿香（二錢）</p>

<h3>瀉白散</h3>
<p>治肺火。</p>
<p>桑白皮（二錢）　地骨皮（三錢）　知母（二錢炒）　甘草（一錢）加粳米一撮。○加人參茯苓黃芩。名加減瀉白散。治肺火喘咳者。</p>

<h3>左金丸</h3>
<p>治肝火吞酸。</p>
<p>川連（六分）　泡淡吳茱萸（五分）為末。水法為丸。</p>

<h3>導赤散</h3>
<p>治心移熱於小腸口糜淋痛。</p>
<p>車前子（三錢炒）　木通（一錢）　淡竹葉（二錢）　生甘草（八分）　生地（六錢）古方無車前子。</p>

<h3>龍膽瀉肝湯</h3>
<p>治肝經實火。</p>
<p>龍膽草（一錢五分）　焦梔子（三錢）　黃芩（一錢五分）　柴胡（一錢五分）　木通（一錢）　甘草（八分）　當歸（三錢）　生地（五錢）　車前（二錢）　澤瀉（三錢）</p>
<p>水煎服。</p>

<h3>犀角地黃湯</h3>
<p>治胃火血升吐血等症。</p>
<p>犀角（鎊一錢）　生地（八分）　赤芍（一錢五分）　丹皮（三錢）</p>
<p>水煎。○如挾肝火者。本方加柴胡黃芩（各一錢五分）○如陽毒發癍。本方加紫草（一錢）竹葉二十片。水煎。</p>

<h3>羚羊角散</h3>
<p>（自制）　</p>
<p>治肝火上升。衄血牙宣等症。</p>
<p>羚羊角（鎊二錢）　杏仁（光三錢）　米仁（三錢）　川芎（一錢）　當歸（三錢）　茯神（三錢）　棗仁（炒一錢）　夏枯草（三錢）　甘菊（二錢）　石膏（三錢）　川貝母（一錢）　竹葉（二十片）</p>
<p>脈候　虛火之脈見於沉。數搏陽強久病侵。沉而有力陰光越。滋水潛陽急急斟。兩寸之中形數疾。清心泄肺早宜尋。左關弦洪肝火盛。右關數大胃陽淫。宜泄宜清分表裡。可汗可下察浮沉。實火脈沉為凶象。虛火脈浮病不禁。此中把握分明辨。指下凝神仔細箴。</p>

<h1>卷三</h1>

<h2>瘟疫雜氣說</h2>
<p>瘟疫雜氣者。天地不正之氣也。楊慄山曰。毒霧之來也無端。煙瘴之出也無時。濕熱熏蒸之穢惡。無窮無數。兼以餓莩在野。胔骼之掩埋不厚。甚有死屍連床。魄汗之淋漓自充。遂使一切不正之氣。升降流行於上下之間。凡人在氣交中。無可逃避。雖童男室女。以無漏之體。富貴豐盈。以幽閒之思。且不能不共相殘染。而辛苦之人可知矣。下次則貧乏困頓之人。容顧問哉。諺云。大兵之後。必有大荒。大荒之後。必有大疫。疵癘旱潦之災。禽獸草木。往往不免。而況於人乎。觀此益知瘟疫根源。絕非冬時之常氣矣。○吳又可曰。雜氣之所至無時。所著無方。故有發於一鄉一邑。而他處安然無有者。亦非年歲四時五運六氣之所可拘也。其言甚是。宜參互考劾可焉。</p>
<p>瘟疫一症。其雜氣從口鼻吸入。直行中道。流布三焦。或在上焦而未布中焦。或即過中宮而即入下焦。或三焦並受。不與傷寒之六經傳變。傷寒由足經而受。瘟疫由手經而轉入足經也。其穢邪遂時行走。亦非到處皆有。每每瘟邪盛行。必限於一鄉一方。如近時之患疫者。往往於初受邪時。誤認他病。無怪乎治之罔效。或遇靈性慧眼。指為時疫。而病者因本原已虧。疫毒乘隙內蘊。雖藥症相投。亦難挽救。故治之宜早。辨之當明。讀葉天士案。而知張景岳喻嘉言二家治法。以扶正清邪。尚恐餘毒留貽。又吳又可楊慄山陳三錫三者之法。系攻下太過。恐邪去正傷。不若執兩用中之為美矣。然葉氏指南案中。治法雖未大備。意尚和平。須參古之方論。足稱全治。余每以邪熱渾然。色脈滯鈍。面紅而光。口有熱如噴火之狀。乍寒乍熱。或微熱不退。並無六經症象。病者亦不明自己之症。並識不出病之所以然者。即是瘟疫之症也。況風寒暑濕燥火六氣。皆能為疫。當隨天時而分明之也。瘟疫深受者。如醉如迷。昏昏沉沉。濛濛昧昧。不惡風。亦不惡寒。或寐睡。或叫號。或狂亂。或譫語。其舌苔必先見微黃有津。轉為灰黑。或化白砂之苔。或嘔或噦。渾身壯熱。或飲水無度。或一發熱而即露癍疹。或一發熱而頭面猝腫。或咽痛口糜。或口鼻出血。或身冷如冰而噴氣如火。或頭痛如破而口痛肢痙咬牙。症象不能備舉。在臨診審量。須嗅其口中噴氣如火。而似遏勃氣者。即疫症之大概耳。略具數方。以備選用焉。</p>

<h2>瘟疫正治諸方</h2>

<h3>升降散</h3>
<p>（一名陪賑散）</p>
<p>白殭蠶（酒炒去絲嘴二錢）　蟬蛻（一錢）　廣薑黃（去皮三分）　生大黃（四錢）</p>
<p>共為細末。如病輕者。每服二錢。用冷黃酒一杯。白蜜五匙調服。　如病重者。日服二服可也。</p>

<h3>人參敗毒散</h3>
<p>（見中風症）</p>

<h3>闢瘟丹</h3>
<p>乳香（制去油）　蒼朮　細辛　甘草　川芎（各一錢）　降香　檀香（各一兩）</p>
<p>共末。以紅棗肉煉丸。如彈子大。遇疫病盛行時。逐日於香爐中焚燒。以除邪穢。</p>

<h3>避瘟丸</h3>
<p>雄黃（頂好者一兩）　鬼箭羽　丹參　赤小豆（各一兩）</p>
<p>共為末蜜丸。如桐子大。每服五丸。空腹溫湯下。可不染瘟疫也。</p>

<h3>神解散</h3>
<p>治瘟邪憎寒壯熱。體重頭疼。遍身痠痛。口苦咽燥。胸腹悶滿等症。</p>
<p>殭蠶（炒二錢）　蟬蛻（一錢）　神麯（三錢）　銀花（二錢）　生地（三錢）　炒車前　木通（各一錢）　炒黃芩　川連　炒黃柏（各一錢）</p>
<p>水煎就。衝入陳酒一小盞。白蜜三匙。以取微汗為妙。</p>

<h3>清化湯</h3>
<p>治壯熱憎寒。體重。舌乾。喘吸短氣。咽喉不利。面腫目赤。</p>
<p>殭蠶（酒炒二錢）　蟬蛻（一錢）　銀花　澤蘭（各二錢）　橘紅　龍膽草（各八分）　黃連　黃芩連翹　元參　桔梗（各一錢）　梔子（三錢）　白附子（竹節者炒五分）　生甘草（五分）加大黃（三錢）如咽痛者加牛蒡子（炒二錢）頭面不腫者去白附子一味。</p>

<h3>小清涼散</h3>
<p>治身熱面赤咽痛。或發癍疹不透。宜之。</p>
<p>炒殭蠶（二錢）　蟬蛻（八分）　銀花　澤蘭　當歸（各二錢）　生地（五錢）　生石膏（四錢）　黃芩　川連　紫草　焦山梔　丹皮（各一錢）</p>
<p>水煎。入蜜三匙。童便一盞沖。或加陳酒少許沖。</p>

<h3>芳香飲</h3>
<p>治瘟疫嘔痰涎如紅汁。腹如圓箕。手足搐搦發疹。頭腫舌爛。咽喉痹塞等危疑重症。</p>
<p>元參（一兩）　茯苓　石膏（各五錢）　酒炒　殭蠶（二錢）　蟬蛻（七個）　荊芥（二錢）　黃芩（酒炒一錢五分）　花粉　神麯　苦參（各三錢）　陳皮　生甘草（各一錢）</p>
<p>水煎。入蜜五匙。酒一盞。徐徐作飲。勿宜急服。</p>

<h3>小復甦飲</h3>
<p>治瘟病誤表。致神昏譫語者。</p>
<p>炒殭蠶（二錢）　蟬蛻（八分）　生地（三錢）　炒車前（二錢）　神麯（三錢）　木通　川連　川柏桔梗（各一錢）　知母（炒一錢）　黃芩（炒一錢）　焦梔子（三錢）　丹皮（二錢）或加青果二枚。竹茹一團煎。</p>

<h3>增損三黃石膏湯</h3>
<p>治面赤陽癍。口渴。引飲神昏。便秘。譫語。</p>
<p>石膏（五錢）　淡豉（二錢）　炒知母（一錢）　川連　薄荷　川柏（各一錢）　炒黃芩（一錢）　焦梔子（三錢）　酒炒殭蠶（一錢）　蟬蛻（五分）加白蜜三匙。酒少許沖。冷服。○如腹滿便秘加大黃（四錢）如呃忒加柿蒂七個。姜三片。</p>

<h3>犀角大清湯</h3>
<p>治癍出心煩。錯語呻吟。不眠咽痛者。</p>
<p>犀角（鎊一錢）　大青　黃芩（各一錢五分）　川連　川柏　生甘草（各五分）　梔子（三錢）　元參（三錢）　升麻（六分）</p>
<p>水煎溫服。</p>

<h3>犀角地黃湯</h3>
<p>（見火症）　</p>
<p>治瘟疫癍出之後。煩熱未清。衄血吐血。或平素陰虛之體。皆可服之。</p>

<h3>三合湯</h3>
<p>治產後瘟疫。不論重輕。宜活血清邪。故生化湯。小清涼。小柴胡。三方合法。最穩最妥。</p>
<p>當歸（八錢）　川芎（二錢）　桃仁（十三粒）　酒炒紅花（八分）　炒黃芩（二錢）　丹皮（二錢）　殭蠶（酒炒二錢）　蟬蛻（七分）　銀花（三錢）　澤蘭（二錢）　益母草　焦梔子（各三錢）　生甘草　柴胡（各八分）</p>
<p>水煎。加童便一杯。陳酒一盞。衝入溫服。</p>

<h3>三甲散</h3>
<p>治主客交渾症。因病時邪熱未清。誤補。致邪熱逗留。邪氣與正氣相搏。潮熱暈眩昏花。舌乾陰涸。骨肉枯削形羸。白㾦時出不解。余每遇病後陰傷。正氣不復之症。時有虛熱者。投劑乃愈。</p>
<p>炙鱉甲　炙龜板（各四錢）　炒穿山甲（五分）　酒炒殭蠶（一錢）　蟬蛻（五分）　生左牡蠣（五錢）　當歸（三錢）　白芍（酒炒一錢）　地蟞蟲（酒炒八分）</p>
<p>水煎服。</p>

<h3>鱉甲散</h3>
<p>治傷寒瘟疫等症。服諸藥不效者。名曰壞症。</p>
<p>炙鱉甲（三錢）　升麻（四分）　前胡（一錢五分）　烏梅（一枚）　黃芩（一錢）　犀角（鎊八分）　枳實（炒一錢）　生地（三錢）　炙甘草（五分）</p>
<p>水煎服。</p>

<h3>治疫清涼湯</h3>
<p>總治疫症。不拘輕重。</p>
<p>薄荷　柴胡　前胡　丹參　丹皮　川貝母　知母　橘紅　黃芩（炒）　白芍　連翹心　桔梗（各一錢五分）加青果二枚。竹葉十片。水煎溫服。如便秘。加大黃三錢。蜜三匙。酒少許。衝入而服。</p>
<p>脈候　瘟病之脈勢如虹。浮沉遲數似濛濛。緊革弦牢邪熱盛。澀小微虛正氣空。洪兼滑大昏沉候。疾促結散命多窮。糢糊脈象多寒濕。虛細應知病氣通。緊革疾促。藥餌難攻。沉微濡伏。昏蒙耳聾。脈形渙散。須待神工。緩和為吉。短代將終。</p>

<h2>厥症</h2>
<p>厥者。上逆之症也。世人咸以手足厥冷者指為厥症。非也。詎不知手足冷如冰者曰厥逆。厥者。其也。逆者。冷也。厥逆者。言其手足逆冷也。與厥症之厥不同也。凡厥症四肢亦必逆冷。故世人往往誤解。以手足逆冷便稱厥也。然厥症有手足先冷而後厥者。系木盛土衰也。有先厥而後手足逆冷者。是氣鬱而不達於四體也。木盛則土必衰。當補其土以泄其木。氣鬱者四體失和。當溫煦其氣以分布四肢。其厥乃愈也。仲景傷寒書。有四逆散以治三陽厥逆。四逆湯以治三陰厥逆。此皆治四肢逆冷之道也。又有凡陰陽不相順接謂之厥。厥者手足必逆冷也。其陽虛故溫之。陽陷而不與陰相順者。則下之。邪熱入陰而未深者。則散之。以上之辨。顯系厥症。手足逆冷。與三陰三陽之厥逆有異也。經云。熱深厥亦深。熱微厥亦微。此渾指厥字而不言厥逆。可知厥逆非厥脫之厥明矣。厥者。下行極而上也。蓋足三陽之脈。起於足指之間。足三陰之脈。聚於足心之下。凡陽勝陰虛。陽乘於陰。曰熱厥。陰虛之症。足心多熱。故熱厥必由足下起。如陰勝陽虛。陽不勝陰。曰寒厥。寒自內生。不由外來。寒厥之病四肢多冷。陽氣獨虛。由足五指而上行。又云。寒厥由於秋冬陰盛時。縱欲奪精。屢虛其下。寒氣因而上逆。陽氣衰於外。而四肢皆逆冷也。若熱厥之病。由於醉飽入房。真元耗竭。脾腎之陰兩傷。陽亢之勢。莫能制遏。故陽勝之病。手足溫也。夫人之一身惟陰陽二氣而已。陽主表。陰主裡。表裡循環。維護身中。外接四肢。分陰陽二厥。厥之大義。括其全矣。考內經而知陰陽氣逆。而為虛損之症。即寒厥熱厥之謂也。寒厥宜補其陽。熱厥宜補其陰。如王冰所謂壯水之主以制陽光。益火之源以消陰翳。亦是救陰救陽之法也。他如煩勞過度。陽氣暴張。而發為煎厥。二陽一陰發病。則變為風厥。○五絡俱竭。蜚屍鬼擊。卒然中惡。氣分自下而上。陽氣抑鬱於中。則發為屍厥。○惡血衝心。致發血厥。○痰涎迷悶。則成痰厥。○因酒醉得厥。為酒厥。○因飽食致厥。為食厥。○以上數端。皆卒然致厥。○如骨枯爪痛而厥者。名骨厥。○身立如椽為骭厥。（骭音幹上聲脛骨也）喘而強者為陽明厥。吐出長蟲者為蛔厥。又有厥頭痛。厥心痛。厥腰痛。以及厥疝。痿厥。痹厥。腳氣厥之屬。皆氣閉而氣上逆。因痛而氣不通。故厥也。○又內經有風與厥並論。後人並未發明。概以猝倒暴厥。名曰中風。以手足逆冷。指名為厥。何顛倒若此哉。經云暴厥者。不知與人言。又曰。血之與氣。並走於上。則為大厥。厥而暴死。氣復則生。不反則死。又云。手足少陰太陰足陽明。五絡俱竭。令人身脈皆重而形無知。其狀若死。各曰屍厥。顯非手足逆冷可概之也。夫靜而不搐為厥。動而多搐為風。脈微身冷為厥。脈浮身暖為風。風則邪氣有餘。厥則正氣不足也。學者能稽古研究。潛心體會。則下手施治。機圓法活矣。○查葉氏論厥。謂從下逆上之病也。良由氣血日偏。陰陽一併而成。雷風相薄鬱極而發也。勢漸者猶可轉危為安。勢暴者更發而致劇也。痰填胸中。則有燒鹽湯以探吐之。痰去而自安矣。若火升莫制。則用瀉心湯以瀉之。或用萬氏牛黃丸以清之。至於邪穢蒙神。昏無知識而兼譫語者。有至寶丹蘇合香丸以開其竅道。厥頭痛者當用天麻二陳湯。厥心痛者。更以丹參蠲痛丹。腰痛治以舒筋湯。厥疝投以蔥白丸。且夫痿厥痹厥之兩症。必須血肉之品以補其不足。有氣升於上而陰虛於下者。則髮腳氣。有金匱之礬石湯。崔氏之八味丸。皆治厥之大略也。亦足供一時之採擇爾。</p>

<h3>四逆散四逆湯</h3>
<p>（詳見傷寒症）　</p>
<p>四逆散治熱厥。四逆湯治寒厥。</p>

<h3>烏梅丸</h3>
<p>（一名安胃丸又名安蛔丸）　</p>
<p>治蛔厥心痛。蟲由口出。</p>
<p>烏梅（二百枚醋浸蒸）　細辛　桂枝　淡附子　人參　黃柏（各六兩）　黃連（一斤）　乾薑（十兩）　川椒（炒去汁）　當歸（各四兩）</p>
<p>共末。曲糊作丸。每丸二錢。每服一丸。水化服。</p>

<h3>萬氏牛黃丸</h3>
<p>治陽乘於陰之熱厥。</p>
<p>黃連　黃芩　梔子　鬱金　硃砂　牛黃金箔為衣。每服一丸。水化服。</p>

<h3>龍虎散</h3>
<p>治陰千陽位。寒厥肢冷。</p>
<p>煅龍骨（二兩）　琥珀（一兩）　玄武板（四兩）　生鱉甲（二兩）　桂枝（一兩）　煅磁石（醋淬一次一兩）　赤芍藥（一兩）　遠志肉（五錢）　棗仁（炒一兩）　左牡蠣（四兩）　石菖蒲（四錢）共為細末。每服三錢。薑湯調下。</p>

<h3>逍遙散</h3>
<p>（改作湯藥）　</p>
<p>治陽氣暴張而為煎厥。</p>
<p>當歸　赤芍　柴胡（醋炒）　茯苓　白朮　丹皮（各二錢）　梔子（炒三錢）　薄荷（一錢）　乾薑炙甘草（各五分）</p>

<h3>柴胡疏厥煎</h3>
<p>（自制）　</p>
<p>治同前。</p>
<p>柴胡　前胡　當歸（各二錢）　赤芍　琥珀（研沖各八分）　左牡蠣（四錢）　砂仁末（五分）　枳殼（一錢）加燈草一丸。金箔一張。拌水煎服。</p>

<h3>天麻琥珀丸</h3>
<p>（自制）　</p>
<p>治風動陽升。沖氣上逆。足冷而厥。</p>
<p>煨天麻（二兩）　琥珀（二兩）　烏藥（一兩）　茯神（三兩）　肉桂（五兩）　黃柏（五錢）　防風（五錢）　秦艽（一兩）　煅牡蠣（三兩）　豨薟草（三兩）　鉤藤（一兩）　柴胡（八錢）　廣鬱金（一兩）　懷牛膝（二兩）</p>
<p>以上十四味。共為細末。煉蜜為丸。每丸二錢。金箔為衣。白蠟封固。每服一丸。去蠟。水化服。加酒少許。忌食蔥蒜。或本方加麝香一錢。共為蠟丸。更妙。</p>

<h3>失笑散</h3>
<p>治惡血衝心之血厥。</p>
<p>生蒲黃　五靈脂（醋炒各等分）</p>
<p>為末。每服三錢。溫酒調服。</p>

<h3>獨參湯</h3>
<p>治鬼擊蜚屍中惡而成屍厥。</p>
<p>人參（三錢）　蔥白五莖　姜五片</p>
<p>水酒各半煎服。</p>

<h3>自制星香二陳湯</h3>
<p>治痰厥症。</p>
<p>膽星（五分）　沉香（陳酒磨沖五分）　人參（一錢）　姜半夏（一錢五分）　茯苓（三錢）　陳皮（一錢）　炙甘草（五分）加香團葉五片（香團葉不用亦可治）</p>

<h3>葛花解酲湯</h3>
<p>治酒厥。</p>
<p>葛花　白豆蔻（研沖）　砂仁（研末）　人參　白朮　陳皮（各一錢）　神麯　澤瀉　赤茯苓　白茯苓（各三錢）　木香　青皮（炒各五分）加姜三片。或加雞內金三錢。</p>

<h3>和胃湯</h3>
<p>（自制）</p>
<p>治食厥症氣化遲難。</p>
<p>神麯　山楂　麥芽　茯苓（各二錢）　厚朴（薑製一錢五分）　姜半夏　制香附（各一錢半）　丁香　菔子（炒各五分）加竹茹一丸。薑汁炒黃。水煎。檀香（三分）衝入而服。</p>

<h3>金匱腎氣丸</h3>
<p>治骨厥。骭厥。並治腳氣衝上厥逆者。</p>
<p>熟地（八兩）　茯苓　澤瀉　懷山藥（各四兩）　丹皮（三兩）　山萸肉（三兩）　桂　淡附子（各一兩半）　車前　牛膝（各一兩）</p>
<p>煉蜜為丸。桐子大。每日三餐。空腹。淡鹽湯送下（三四）錢。此方去車前牛膝。加芍藥元參二味為丸。名十味地黃丸。治上熱下寒。精竭骨厥骭厥之症。系唐孫真人千金翼方也。故錄之。</p>

<h3>燒鹽湯方</h3>
<p>炒鹽一味。以熱湯調服一盞。急以指頭探喉。其痰自吐矣。</p>

<h3>至寶丹方</h3>
<p>犀角（鎊）　硃砂（水飛）　雄黃（水飛）　琥珀　玳瑁（鎊）　水安息香（各一兩酒熬成膏）　西牛黃（五錢）　麝香（一錢）　龍腦薄荷（一錢）　金箔（五十片）　銀箔（五十片）</p>
<p>共為細末。將安息香膏重湯燉烊。入諸藥末拌勻。分作百丸。用蠍殼固封。每服一丸。參湯化服。</p>

<h3>蘇合香丸</h3>
<p>蘇合香　安息香　犀角　冰片　麝香　香附　薰陸香　沉香　丁香　白朮蜜丸。硃砂為衣。蠟丸。每服一丸。</p>

<h3>天麻二陳湯</h3>
<p>（自制）　</p>
<p>治厥頭痛。</p>
<p>煨天麻（一錢）　姜半夏（一錢五分）　茯苓（三錢）　陳皮（一錢）　炙甘草（五分）　姜（三片）水煎。</p>

<h3>丹參蠲痛丹</h3>
<p>（自制）　</p>
<p>治厥心痛。</p>
<p>丹參　川連　廣木香　川椒（各等分）</p>
<p>炒香研末。煉蜜為丸。桐子大。每服二錢。酒送下。</p>

<h3>舒筋湯</h3>
<p>（自制）　</p>
<p>治腰痛致厥。</p>
<p>赤芍　海桐皮　當歸　白朮（產仙居者各一錢半）　片薑黃（六分）　羌活（二錢）　杜仲（炒二錢）　炙甘草（五分）　沉香（四分磨沖）</p>

<h3>古制蔥白丸</h3>
<p>治厥疝痛。</p>
<p>熟地黃（四兩）　白芍　當歸　川楝子　茯苓（各二兩）　川芎　枳殼　青皮　厚朴　麥芽（各一兩半）　三稜　莪朮（各一兩）　乾薑　大茴香　木香（各七錢）　肉桂（五錢）</p>
<p>用蔥白搗汁為丸。如桐子大。每服五十丸。開水下或酒下。</p>
<p>又方</p>
<p>人參　阿膠　川芎　當歸　厚朴（各等分）蔥白汁為丸。桐子大。每服四十丸。溫酒送下。</p>

<h3>礬石湯</h3>
<p>治腳氣厥逆。上衝心包。</p>
<p>白礬（二兩）</p>
<p>煎湯浸洗兩足可也。</p>

<h3>大補肝腎丸</h3>
<p>（自制）　</p>
<p>統治痿痹氣血偏枯等症。</p>
<p>熟地（六兩）　淡蓯蓉　菟絲子　枸杞子（各四兩）　潼蒺藜　白蒺藜　川萆薢　豨薟草（各二兩）　海楓藤　海桐皮　當歸　赤芍　黨參（各一兩五錢）　川芎（五錢）　桑寄生　懷牛膝　杜仲（炒）　茯苓　丹參（各一兩）　炙甘草（五錢）</p>
<p>以上共二十味共末。用虎骨膠（二兩）阿膠（二兩）鹿角膠（一兩）陳酒少許熔化和丸。如彈子大。每丸重二錢。每服一二丸。以陳酒化服。</p>
<p>脈候　陽厥肢溫脈是浮。胸中熱上勢難留。陰虛氣逆診在尺。尺內多陽火不收。脈沉肢冷麵如朱。陰盛格陽溫藥需。若遇暈厥沉遲脈。急急溫通或可扶。厥症之脈。兩寸必濡。浮而有力。風痰盈盂。若形動滑。必是虛軀。厥時脈代。決其難蘇。如遇伏脈。定在熱驅。六脈浮大。暴厥無虞。若云虛症。死在須臾。</p>

<h3>崔氏八味丸</h3>
<p>治腳氣上衝致厥。腎虛不納。</p>
<p>熟地（八兩）　山萸肉　山藥（各四兩）　茯苓　澤瀉（各三兩）　丹皮（三兩）　淡附片　桂枝（各一兩）蜜丸桐子大。酒下三十丸。</p>

<h2>痢疾瘧疾</h2>
<p>痢疾古稱滯下。白者名白沫。赤者名赤痢。赤白兼者曰膿血。赤屬熱。白屬寒。赤屬血。白屬氣。赤白相兼。氣血兩傷。或寒熱互傷。總之夏秋間濕熱內蘊。一感風寒而作者居多。古人治法。不外通塞二義。通者導滯承氣之類。塞者養藏益氣之屬。或因不節生冷瓜果。中土受傷。或因不慎寒涼單衣。致邪熱傳中。或因飲食醉飽之後。即受穢濁之氣而致者。又或因盛怒挾食。更感時邪而痢者。不得為通塞二字所拘。又有腎氣本虛。濕熱留著。入冬不愈而成休息之痢。又痢症初愈。不節房勞。入冬不愈而成休息之痢。或醫者見病人不耐痛痢。邪未清而誤投補澀之劑。致正虛邪留。延成休息痢者。甚至化出腫脹之累。休息者。休休息息。愈而屢發也。全在臨診工夫詳審精密。切勿倉皇下手。自無誤治之弊。古越倪涵初者。每切時痛。治病如神。言痢與瘧最難治療。特著痢症三方。瘧症三方。諄諄語世。按其治法。靡不應手。附錄於此以備參考。然痢者。腸胃之間。濕熱膠滯之病也。　瘧疾者。暴瘧之疾也。經云。夏傷於暑。秋病痎瘧。又云。陰陽相搏而瘧作矣。金匱云。瘧脈自弦。弦數者多熱。弦遲者多寒。弦小緊者下之瘥。弦遲者可溫之。弦緊者可發汗針灸也。浮大者可吐之。弦數者風發也。以飲食消息止之。古人論瘧。熱多曰癉瘧。寒多曰寒瘧。挾食曰食瘧。被風曰風瘧。日一發者其瘧輕。邪在腠理。間日發者其瘧稍重。邪在半表裡。間兩日發者名曰三陰大瘧。以足三陰受邪故也。宜視三陰見症而知邪在何經。分明而治。自無誤矣。又有溫瘧癘瘧痰瘧。古人雖有成方。亦當審清病在何經。不得以小柴胡一法而治諸瘧。非特治之無效。而有損於病矣。況瘧邪逾月不除必成瘧母。結在肋間。甚則化脹。此非醫之咎哉。所以為之醫者。先問其受病之由。與瘧發在何時。愈在何時。或先寒後熱。或先熱後寒。二便或清或熱。視其舌色赤與白否。黃與黑否。指甲紅白青黑否。陰陽分明。寒熱詳辨。如寒瘧必寒多肢冷。指甲青白。渴喜熱飲。或有痙象。宜溫散治之。如熱多指甲紅潤。氣粗舌焦且黃。宜辛涼解表治之。余治瘧症。亦分六經形症而後用藥。未嘗膠執柴胡以治之也。總之宜表宜散宜清宜溫之法。必視陰陽表裡以裁之也。此其大略也。若夫增減之道。則在臨診之權衡矣。</p>

<h3>倪氏痢疾第一方</h3>
<p>治痢疾。不論赤白膿血。裡急後重。身熱腹痛滯下。</p>
<p>川連　黃芩　白芍　山楂（各一錢二分）　枳殼（麩炒）　厚朴　檳榔　青皮（炒各八分）　當歸炙甘草（各五分）　地榆（五分）　南木香　紅花（酒洗各三分）　桃仁（去皮尖一錢）</p>
<p>水煎服。如體實者加製大黃（二三錢）如有胎孕者忌服。本方去桃仁紅花檳榔木香四味可服矣。如服一二劑。痢減過半。急投第二方。</p>

<h3>痢疾第二方</h3>
<p>治痢已減。少腹痛亦瘥者。</p>
<p>酒炒川連　酒炒黃芩　酒炒白芍（各六分）　青皮（炒四分）　厚朴（四分）　桃仁泥（六分）　橘紅　檳榔（各四分）　楂肉（一錢）　炙甘草（三分）　當歸（五分）　地榆（四分）　紅花（酒潤三分）</p>
<p>水煎。加南木香（二分）用陳酒磨沖。</p>

<h3>痢疾第三方</h3>
<p>治脾腎兩虛。痢減糞多者。</p>
<p>東洋參（二錢）　酒洗黃芩（六分）　酒炒白芍（六分）　橘紅（二分）　厚朴（二分）　酒洗紅花（二分）　醋炒地榆（三分）　白朮（五分）　當歸　炙甘草（各五分）</p>
<p>水煎。加木香末（二分）沖服。</p>

<h3>倪氏瘧疾第一方</h3>
<p>治瘧症初起。不拘寒多熱多。</p>
<p>橘紅　茯苓　威靈仙　炒茅朮　厚朴　柴胡（各一錢）　黃芩（八分）　青皮　檳榔（各六分）　炙甘草（三分）加生薑三片。棗子兩枚。井水河水各一杯。煎服。</p>

<h3>瘧疾第二方</h3>
<p>生首烏（三錢）　陳皮　茯苓　柴胡　黃芩（各八分）　當歸　威靈仙（各一錢）　白朮（土炒一錢）　知母　炙鱉甲（各二錢）　炙甘草（三分）加姜三片。棗二枚。井河水各一杯煎。用陳酒少許衝入。如有瘧母。更加醋炒莪朮一錢可也。</p>

<h3>瘧疾第三方</h3>
<p>瘧久必須調理氣血。</p>
<p>人參（一錢）　炙黃耆　當歸（各一錢五分）　土炒白朮（一錢）　陳皮　柴胡（各八分）　生首烏（二錢）　炙甘草（三分）　升麻（四分）　知母　青蒿子　麥芽（各一錢）姜三片。棗二枚煎。</p>

<h3>倪氏久瘧全消丸</h3>
<p>威靈仙　莪朮　醋炒三稜　麥芽（炒各一兩）　生首烏（二兩）　金毛狗脊（酒炙脆三兩）</p>
<p>共為細末。又山藥（研粉一兩）飴糖（一兩）水一小碗。搗爛和丸。如綠豆大。每服三錢。薑湯送下。如小兒之瘧。本方加雞內金（炙五錢）共搗為丸。每服二錢。薑湯送下。</p>

<h3>枳實導滯丸</h3>
<p>治濕熱積滯。</p>
<p>大黃（一兩）　黃芩　川連　神麯（各五錢）　土炒白朮　澤瀉（各二錢）　茯苓　枳實（炒各三錢）</p>
<p>共末蒸餅糊丸。每丸二錢。每服一丸。開水沖服。○加廣木香檳榔（各二錢）為丸。名木香導滯丸。治後重氣滯。</p>

<h3>承氣湯</h3>
<p>（見傷寒症）</p>

<h3>補中益氣湯</h3>
<p>治痢後氣虛。下陷肛脫。</p>
<p>炙黃耆（三錢）　白朮（二錢）　陳皮（一錢）　升麻（四分）　東洋參（一錢五分）　柴胡（醋炒一錢）　炙甘草（五分）　歸身（三錢）</p>
<p>水煎服。○本方去歸術二味加木香（五分）蒼朮（一錢）名調中益氣湯。治同。</p>

<h3>真人養臟湯</h3>
<p>治久痢脫肛。</p>
<p>訶子（麵裹煨一錢半）　罌粟殼（蜜炙一錢）　肉果霜（八分）　當歸（三錢）　肉桂末（四分）　木香（四分）　白朮（土炒二錢）　人參（一錢五分）　炙甘草（五分）　白芍（酒炒一錢）</p>
<p>水煎溫服。</p>

<h3>檳芍散</h3>
<p>（改作湯）　</p>
<p>治下血痢。或膿血痢。後重氣滯。</p>
<p>生軍（三錢）　芍藥（二錢）　枳實（一錢五分）　檳榔（二錢）　厚朴（一錢）　銀花（五錢）　人中黃（二錢）加伏龍肝（一錢）水煎。</p>

<h3>當歸導滯湯</h3>
<p>治病後痢疾。</p>
<p>當歸　白芍（各三錢）　生萊菔子（一錢）　炒車前　炒枳殼　檳榔　炙甘草（各五分）加桃仁（十粒去皮尖）水煎。白蜜三匙衝入。</p>

<h3>地榆散</h3>
<p>（改湯）　</p>
<p>治下痢膿血。已成壞症。色如爛瓜者。</p>
<p>地榆（二錢）　當歸（三錢）　白芍（三錢）　黃芩　梔子炭（各一錢五分）　黃連　犀角（鎊一錢）薤白（三錢）如無薤白。以韭白代之。煎溫服。</p>

<h3>中和湯</h3>
<p>（自制）　</p>
<p>治痢下。不論紅白。裡急後重不拘男女小人。皆宜服之。加減而治。</p>
<p>神麯　生菔子　淡黃芩（酒炒）　姜半夏　茯苓　山楂　茅山術　川連（酒炒各一錢五分）</p>
<p>水煎。如時痢身熱者加藿香薄荷桔梗（各一錢）姜三片。○如白沫則加廣木香（八分）○如赤痢加桃仁十粒。○赤白兼者加桃仁十粒。紅曲（八分）木香（五分）○如醉飽受邪者。加葛根（一錢）紫金錠二分衝入。○如挾怒挾食者。加柴胡厚朴（各一錢）凡痢下皆因濕熱內蘊。膠於腸胃。初起必日夜無度。腹痛後重。口渴喜飲涼水。近世醫家。必認為熱痢。而輒投寒涼之劑。令病者可食水果等物。致阻遏濕熱之邪。不得外泄。而成噤口危候。噤口者。肢逆嘔惡。食入於咽即時吐出。水漿不得下咽。法在難治。惟開噤散治之。可十救其五。時醫冒為高古。擅用溫熱者。十有其二。妄用涼瀉而稱穩當者。十有七八。殊不知各得其偏。而未協中和之道。是症治法。太涼不得。太熱不得。余每思痢下之病。濕熱內著。一受風寒暑濕。各動其內伏之邪。遏其欲萌之勢。新邪與伏邪爭勝。所以腹痛欲墜。氣滯欲脫也。若以水果生冷之物。一入於口。助其邪而遏其氣邪愈結而正愈傷矣。痢有四忌。忌補忌表忌攻忌涼。此皆初起時之治法也。至於病中之變。亦不可膠柱鼓瑟也。叔和氏云諸痛屬寒。經曰諸痛屬火。余執其中以治痢症。每用溫涼並進之法。往往獲效如響。然叔和之言諸痛屬寒。內經之云諸痛瘡癢皆屬於火。此二說者。非指痢症言也。特借其言以師其意耳。○近時有吸鴉片者。患痢下之症。十不救一。曷故。余以為肺腎兩傷。全賴中宮。一患痢下。上下渾如兩橛。濕熱上蒸而舌赤。白苔瑣碎。煙不能吸也。濕熱下注而後重。肛門沉墜。氣虛下陷也。白苔瑣碎者。俗云飯花苔是也。余每令病者吸菸以合常度。勿使失癮。用藥者勿以體虛而改其治法。不知虛者邪去宜速。毋使久留。即清即補可也。初起則用解毒湯以清之。邪去則用和胃二陳煎以補之。最為切當。宜熟審之可也。</p>

<h3>黃連解毒湯</h3>
<p>（即火齊湯方見火症）</p>
<p>和胃二陳煎</p>
<p>茯苓（三錢）　姜半夏（一錢五分）　陳皮（一錢）　炙甘草（五分）　炮姜（五分）　杏仁（去皮尖三錢）</p>
<p>水煎。</p>

<h3>治痢散</h3>
<p>治痢下。不論紅白。腹痛後重。</p>
<p>葛根　苦參（酒炒）　陳皮　陳茶（各一斤）赤芍（酒炒）　麥芽　山楂炭（各十兩）</p>
<p>共末。每服四錢。水煎服。連渣汁而服。小人減半。</p>

<h3>樸黃湯</h3>
<p>（自制）　</p>
<p>治痢疾初起。腹痛後重。不拘赤白者。</p>
<p>厚朴（一錢五分）　生大黃（四錢）　陳皮（一錢）　廣木香（五分）　制香附（一錢五分）　川連（八分）</p>
<p>水煎。</p>

<h3>開噤散</h3>
<p>治噤口痢。水漿不入者。</p>
<p>人參（五分）　薑汁炒川連（五分）　石菖蒲（一錢）　丹參（三錢）　石蓮子　茯苓　陳皮　冬瓜仁（各一錢五分）粳米一撮。荷蒂一枚。水煎。</p>

<h3>加味七神丸</h3>
<p>止腎痢如神。</p>
<p>肉果霜　淡吳茱萸　廣木香（各一兩）　破故紙（酒炒二兩）　土炒白朮（四兩）　茯苓（三兩）　炒車前（二兩）棗湯煉丸。如桐子大。每服三錢。開水下。</p>

<h3>大柴胡湯</h3>
<p>（方見傷寒）　</p>
<p>治瘧疾熱多寒少。舌苔黃厚。便秘。</p>

<h3>涼膈散</h3>
<p>（方見傷寒）　</p>
<p>治瘧來欲吐。熱多便結溺赤。</p>

<h3>加減小柴胡湯</h3>
<p>通治瘧症。宜加減用之。</p>
<p>柴胡（二錢）　姜半夏（二錢）　人參（一錢）　炙甘草（五分）　黃芩（一錢五分）加姜三片。棗一枚。水煎。○熱多。加黃柏。○寒多。加桂枝幹姜。○渴者加石膏知母○無汗。加荊芥。○汗多。加桂枝白芍。○嘔者。加竹茹薑汁炒。○積食。加神麯麥芽。○氣滯。加青皮。○久瘧。加鱉甲穿山甲。（炒用）○餘症。待臨診酌加可也。</p>

<h3>止瘧丹</h3>
<p>凡瘧疾二三發之後。方可服矣。</p>
<p>常山（燒酒炒）　草果仁（煨）　半夏曲（薑汁炒）　制香附　青皮（炒各四兩）</p>
<p>又神麯十二兩共為末。米飲煉丸。如彈子大。辰砂為衣。如瘧輕用一丸。瘧重用兩丸。紅棗茶沖化而服。</p>

<h3>鱉甲煎丸</h3>
<p>治瘧邪與痰血固結而成瘧母。僻處脅下。若不急治。必成大害也。</p>
<p>鱉甲（炙十二分）　烏扇（三分燒即射干）　黃芩（三分）　柴胡（六分）　鼠婦（三分熬）　乾薑　大黃　桂枝　石葦（去毛）　厚朴　紫葳花（即凌霄花也）　姜半夏　阿膠　芍藥　牡丹皮　䗪蟲（即地蟞蟲各五分）　人參（一分）　葶藶子（一分）　瞿麥（二分）　蜂窠（四分炙）　赤硝（十二分）　蜣螂（熬六分）　桃仁（二分）</p>
<p>以上二十三味共末。取熱灶肚下灰土一斗。清酒一斛。取五升浸灰。</p>
<p>俟酒滲盡一半。著鱉甲於中。煮令泛爛。如膠漆狀。絞取其汁。以藥粉煉丸。如梧子大。空心服七丸。一日三服。陳酒送下。千金用鱉甲（十二片）加海藻（三分）大戟（一分）無鼠婦赤硝二味。</p>
<p>金匱云。陽氣獨發。陰氣孤絕。則熱而少氣煩冤。手足熱而欲嘔。名曰癉瘧脈平身無寒。但發熱。骨節煩疼。時嘔。名曰溫瘧。治以桂枝白虎。即白虎湯加桂枝主之。二症相同。而治法則異。治癉瘧宜桂枝石膏湯。即桂枝湯加石膏也。</p>

<h3>蜀漆散</h3>
<p>治牡瘧寒多者。系邪客心下。其病重也。</p>
<p>蜀漆（即甜茶燒去腥）　雲母（燒二日夜）　龍骨（各等分）</p>
<p>共杵末為散。未發以前。米飲調服五分。</p>

<h2>附外臺秘要三方</h2>

<h3>牡蠣湯</h3>
<p>治牡瘧。</p>
<p>牡蠣　麻黃（各八分）　甘草（四分）　蜀漆（炒透六分）</p>
<p>水煎服。如吐勿更服也。吐則邪已去矣。</p>

<h3>柴胡去半夏加栝蔞根湯</h3>
<p>治瘧病發渴。亦治勞瘧。</p>
<p>柴胡（一錢六分）　人參　黃芩　甘草（各六分）　栝蔞根（八分）加姜二錢。大棗四枚。</p>

<h3>柴胡桂薑湯</h3>
<p>治瘧發寒多熱微。或但寒不熱。服一劑如神。</p>
<p>柴胡（三錢）　桂枝（一錢二分）　乾薑（八分）　栝蔞根（一錢五分）　黃芩（一錢二分）　甘草（六分）　煅牡蠣（一錢）</p>
<p>水煎而服。服後汗微出愈。</p>
<p>痢脈　候痢疾之脈大主凶。浮洪疾數勢難松。沉細多神毋害怕。緊牢代散莫能容。沉細無力。痢勢宜松。疾促弦散。脈反不從。陰脈為吉。陽脈多凶。初痢見澀。必有凶烽。久痢沉濡。益氣可宗。</p>
<p>瘧脈候　瘧家脈象定然弦。如兼滑大有痰涎。有力而弦防痙厥。弦而無力定綿延。弦如端直非為吉。沉微帶小必虛遷。新弦之狀為真臟。吉少凶多病氣偏。弦者痰熱。弦緩風連。弦遲寒勝。弦數熱纏。弦而澀小。濕與風聯。但弦不緩。難許安全。</p>
<p>血症　吐血　咳血　咯血　鼻衄　牙宣　舌血　大便血　小便血　血淋　血崩　發泉</p>
<p>經云。中焦受氣。取汁變化而赤。是謂血。血之流溢。</p>
<p>半隨於衝任而行於經絡。半散於脈絡而充之肌腠皮毛。又云。陽絡傷則血外溢</p>
<p>為吐血咳血咯血鼻衄牙宣舌血等症。又云。陰絡傷則血內溢。為大小便血血淋血崩發泉等症。皆由陰陽兩絡之病也。陽絡之傷也。必有邪氣乘之。經云。邪之所湊。其氣必虛。陰絡之傷也。必有七情隨之。故內傷外感當分辨確切而後施治。陳修園云。五臟有血。六腑無血。剖諸獸腹。心下脊膂包絡中多血。肝多血。心脾肺腎中皆有血。惟六腑無血。以近時吐血多者。醫稱為胃血。謬也。葉氏謂心肝脾三者。血之主司也。足陽明胃者。血之生化也。此二家之論。以葉氏為最耳。余謂五臟有血。六腑無血之說非也。然陽絡在胃陰絡在脾。是臟腑皆有血也。古人以心生血。肝臟血。脾統血。並不言及肺與腎也。惟衝脈為經脈之海。又曰血海。況衝脈隸屬陽明。陽明為宗筋。經云。陽明者。五臟六腑之海也。豈得以五臟六腑而分有血無血乎。凡人為一小天地。氣之所及血必及之。如腸欲生癰。其氣必郁。血亦聚之。肺欲成癰。氣必凝之。血亦隨之。不過由心肝脾腎以及乎身之大經小絡。流溢於四體。小而至於毛髮之區。皆充積於中而發散於外也。然血屬火。火即血。必有氣以助之。而後血乃行也。即氣行血亦行。氣滯血亦滯之謂也。</p>
<p>書云。天將大雨。山川出雲。可悟氣能生血。氣能攝血之理焉。余必以古人之心生血。肝臟血。脾統血。三者為是。更言乎衝脈也。況心生血。血惟心有。而肝與脾以及乎衝脈者。亦不過藏之統之聚之已也。凡治血病。必宜養心。如小腸見血。養其心以清其小腸。大腸見血。養其心以清大腸可也。不然。是捨本而治末也。他如六淫所傷。因由外以及內也。不得以養心之言拘之也。如初因咳嗽而致血者。邪干肺胃也。急當清其肺胃之火。余以清上湯加減治之。如六淫傷及二便等症。余以清下湯加減治之。每見近時醫家。一遇血症。不究七情六淫。輒投滋陰之劑。使血瘀留為根荄。致成損怯之症。良可悲也。古人治血。每投溫散。系是血熱則行。血寒則凝之意也。何謂血熱則行。實溫以行氣。氣行血亦行矣。切勿因溫散之論。而遽用熱劑也。考經旨因熱遠熱。因寒遠寒之意。可明其不偏於熱。不偏於寒也。在學者當知通變之治法也。（內有肺癰肺痿二症見下肺經病治）血崩症（見後胎產門）</p>

<h3>歸脾湯</h3>
<p>（方見心經症）　</p>
<p>溫養氣分以補心脾二經。</p>

<h3>神效琥珀散</h3>
<p>（方見心經症）　</p>
<p>養心以清小腸之熱。</p>

<h3>天王補心丹</h3>
<p>（方見心經症）</p>
<p>養心清營之治。</p>

<h3>清上湯</h3>
<p>（自制）　</p>
<p>治六淫侵上。吐咳咯衄。牙宣舌血等症。</p>
<p>栝蔞仁（炒四錢）　海石（一錢）　梔子炭（三錢）　杏仁（光三錢）　煅石膏（二錢）　黃芩（炒一錢）　茜草（一錢）　生牡蠣（四錢）</p>
<p>加青果二枚。竹葉二十片。如因寒者加蘇子（二錢）○如因暑者加青蒿（一錢）鮮荷一片。○如因風者。加生萊菔子（一錢）桔梗（一錢）○如因濕者。加滑石。○如因燥者。加生地麥冬（各三錢）○如因火者。加犀角羚羊之類。○余皆仿此。</p>

<h3>清下湯</h3>
<p>（自制）　</p>
<p>治大小便血。血淋。發泉等症。惟血崩一症。宜補血消瘀。查女科胎產症。</p>
<p>自知方治諸法也。</p>
<p>大黃（醋炒三錢）　牡丹皮（三錢）　歸身（三錢）　白芍（一錢）　苦參（一錢）　焦梔子（三錢）　生甘草（八分）　北細辛（二分）　通草（一錢五分）加鮮荷葉一片。○如無鮮荷葉。以藕一斤煎湯代水。（方中用大黃以入陽明經驅瘀蕩熱丹皮清血中之熱白芍泄肝歸身養血細辛溫經勿使寒涼傷血苦參清濕火梔子泄二焦之火通草滲濕清熱生甘解毒以和諸藥之性）　此方血家初起者宜之。如小便尿血。仲景謂血症諦也。大都其人少陰素虛。不節房勞。或熱瘀於小腸之舍所致。本方加琥珀（一錢）滑石（三錢）○如血淋症小腹滯痛。濕熱內蘊。本方加琥珀（一錢）滑石瞿麥各三錢。去細辛一味可也。○如舌上無故出血。繫心火暴甚。加川連（八分）炒蒲黃（七分）烏鰂骨（一錢）去細辛一味煎服。○如痰血交互。本方去苦參細辛。加姜半夏（一錢）川貝（二錢）真化橘紅（一錢）○發泉系血從毛孔中出。因用心太過。心氣沸騰。宜犀角地黃湯。外用艾灰撲於出血處可也。</p>

<h3>犀角地黃湯</h3>
<p>（方見火症）</p>

<h3>三七湯</h3>
<p>（自制）　</p>
<p>治吐血紫黑有塊。系熱傷絡血。或鬱怒傷肝。</p>
<p>參三七（研沖一錢）　姜半夏（一錢五分）　厚朴（一錢）　茯苓（三錢）　琥珀末（八分）　醋炒柴胡（八分）　左牡蠣（四錢）　焦山梔（三錢）　蘇梗（一錢）加藕一片。煎湯代水。如無藕時。以荷葉一枚代之。</p>

<h3>柏葉湯</h3>
<p>（自制）　</p>
<p>治血熱妄行。吐血盈碗者。</p>
<p>側柏葉（二錢）　生地（一兩）　炒蘄艾（五分）加荷葉一片。或藕汁一杯衝入。更加童便一盞沖服。</p>
<p>脈候血家之脈每多芤。芤而數大血盈甌。寸芤吐咯尺芤脫。濡細因知病欲瘳。緊革之形凶象露。病久得之卻可憂。陰脈為從陽脈逆。寒熱溫涼仔細籌。吐血之脈。忌見弦浮。左寸之數。心血難留。左關搏指。肝木失柔。右寸洪大。肺氣上游。右關實大。下之可瘳。陰脈為順。陽脈難修。</p>

<h1>卷四</h1>
<p>心經病菌怔忡健忘恩負義不眠</p>
<p>心者。君主之官。神明出焉。其性柔。其體陰。其用靈。患怔忡者。定知憂勞太過。每多抑鬱。動其陰中之陽。加以腎水不足。腎中相火。無以上拱。心氣不得下交。遂致水火未濟之象。君火無以自立。相火不來扶助。所以心神搖漾。坐臥不寧。聞鬧聲。即煩悶不語。非不語也。是怠於語耳。心神情志。皆不安定。一意化兩意。欲食不食。全是他藏之氣。不來助陽所致。與癲癇癡呆大相懸殊。近時醫家往往誤解。以怔忡即癲癇癡呆之漸。謬也。怔忡者。血少也。癲者。靜而陰凝也。經云。重陰者癲。重陽者狂。癡呆者。全無知識也。古人治怔忡一症。必以歸脾湯補心丹之屬。如健忘之症。即記即忘也。因脾藏志心藏神。神志不足故健忘。亦以歸脾湯為主治之方也。凡不眠者。因失血症後。血舍一空。而神不守舍者。宜補心丹治之。或因傷寒雜症。而胃實失下者。宜承氣湯下之。古有不能臥因胃不和之語。下之胃氣自和。即能眠也。或虛勞而不眠者。亦以補心丹主之（附癲癇癡呆辨證四條）</p>
<p>一癲者。陰病也。經云。重陰者癲。或歌或笑。如醉如迷。其甚至不知穢潔。其候多靜而昏。宜陳無擇琥珀散鎮攝其陰。調以心脾腎三經為宜。</p>
<p>一狂者。陽病也。經云。重陽者狂。狂妄難千。由大驚大怒得之。邪在肝膽胃三經。而治法宜清不宜補也。瀉肝湯治之。或承氣湯下之。凡邪在陽明。胃實失下。亦發狂也。下之乃愈。（惟癡呆無治法經云奪其食則巳並無方也）</p>
<p>一癇者。痰迷心竅。阻其靈明之氣。古云。一陰一陽變亂謂之癇。須辨明五臟五聲。以分牛癇。馬癇。豬癇。羊癇。雞癇五症。然後治之可中其竅也。必聆其聲以知其症。如病時肢搐。痰涎上潮。目瞪。聲重如牛吼者。名牛癇。如肢搐。頭搖。足擲。揚聲如馬鳴者。名馬癇。如身重。頭嘴向地。涎湧。聲出不響者。謂豬癇。開口而叫。吐涎足搐。聲如羊芉者。</p>
<p>名羊癇。如兩手如舞。面赤。聲焦如雞鳴者。曰雞癇。皆不外乎五志之火。動擾不寧。痰阻內竅而成。治宜加減星附六君子湯為主。各加引經藥品以嚮導之可也。</p>

<h2>歸脾湯</h2>
<p>治怔忡健忘。心脾兩虛。並治腸紅之症。</p>
<p>白朮　人參（各二錢）　炙黃耆（三錢）　歸身（三錢）　炙甘草（五分）　茯神（三錢）遠志肉（八分）棗仁（炒一錢）　廣木香（八分）加姜三片。棗三枚。龍眼肉七枚。水煎。○如怔忡症因怒得之者。宜逍遙散。（方見厥症）</p>

<h2>補心丹</h2>
<p>治癲症與怔忡症。</p>
<p>生地（八錢）　人參（五錢）　元參（三錢）　丹參（三錢）　棗仁（一錢）　茯神（三錢）　遠志肉（八分）　柏子仁（二錢）　天冬　麥冬　當歸（各三錢）　桔梗　五味子　石菖蒲（各五分）</p>
<p>煉蜜為丸。桐子大。辰砂為衣。</p>

<h2>大承氣湯</h2>
<p>（見傷寒症）　</p>
<p>治狂症胃實者。</p>

<h2>白金丸</h2>
<p>治癲癇症。</p>
<p>白礬　鬱金（各等分）</p>
<p>為丸。薑湯送下（二錢）下痰而愈。</p>

<h2>滾痰丸方</h2>
<p>治癲狂癇症有痰者。</p>
<p>青礞石　沉香　大黃　黃芩　水法為丸。</p>

<h2>龍膽瀉肝湯</h2>
<p>（見火症）　</p>
<p>治狂症因大驚大怒者。</p>

<h2>陳無擇琥珀散</h2>
<p>統治怔忡癇癲等症。亦治癡呆。</p>
<p>人參（二錢）　白芍（二錢）　鐵落（煅醋淬七次二錢）　辰硃砂（水飛一錢）　煅磁石（二錢）　琥珀（二錢）　牛黃（四分）　遠志肉　石菖蒲（各八分）</p>
<p>共為細末。每服五分。淡薑湯送下。</p>
<p>又方　</p>
<p>琥珀末一錢。人參湯調下。亦名琥珀散。治小便不通。並治驚恐怔忡之症。</p>

<h2>神效琥珀散</h2>
<p>治心神不寧。或小便出血。</p>
<p>琥珀　桂心　滑石　大黃（炒）　冬葵子　膩粉　木通　木香　磁石（煅各等分）</p>
<p>為末。每服二錢。用燈草蔥白。泡湯調下。</p>

<h2>孔聖枕中丹</h2>
<p>治心腎不交。怔忡健忘等症。</p>
<p>龍骨（煅）　龜板（炒）　石菖蒲（炒）　遠志肉（炒各等分）</p>
<p>為末蜜丸。如桐子大。每服一錢。臨臥時開水送下。</p>

<h2>加減星附六君子湯</h2>
<p>治癲癇氣虛有痰者。</p>
<p>制南星（一錢）　竹節白附子（酒炒七分）　人參（一錢五分）　白朮（二錢）　茯苓（三錢）　炙甘草（五分）　姜半夏（一錢五分）　廣皮（一錢）</p>
<p>水煎服。○牛癇加牛黃（五釐）衝入。○馬癇加馬勃（五分）○羊癇加羊膽（生一枚）藥送吞下。○豬癇加豬心血一匙沖。○雞癇加雞膽一枚。藥水送吞。○陰虛加生地四錢。當歸三錢。川芎白芍（各一錢）陽虛加梔子三錢。甘菊花一錢可也。</p>
<p>脈候脈來滑大定然狂。澀小沉微癲病倀。小促動搖在寸口。怔忡之象病延長。右關脈結小脾病。不是不眠必健忘。此是內病七情症。補心之劑急煎嘗。內傷之病。脈必微長。滑大則甚。狂病之殃。癲病舉動。必異其常。癇症之作。乍劇乍康。若不急治。久必難商。</p>
<p>肝症　脘痞　肝火　肝鬱　肝風　胸痹　驚　不寐</p>
<p>肝者。將軍之官。謀慮出焉。其性剛。其體曲。其色青。其氣旺。其變幻莫測也。如情志不舒。不得條達。則成鬱症。鬱則氣不能伸。則成脘痞。脘中痞滿。火自上升。而謂肝火。火旺生風。內風旋擾。則曰肝風。風木犯胃射肺而成痛痹。名曰胸痹。胸中一痹。痰氣積聚。心神搖漾。易致驚駭。故動而多驚。驚者必心中惕惕。故不寐也。總之肝木為病。須補其母。全賴腎水以生之涵之者也。如腎水不足。木無生長之機。諸恙悉由之而生矣。婦女最多是症。女人以肝為先天。惟肝用事。閨閫之中。所見甚稀所聞甚寡。獨寤獨寐者。更多鬱結。助起肝陽。病情紛至。更難調理。間有一二情性柔順。幽閒貞靜。雖無大患。未免於郁。治之者宜分別剛柔陰陽。陰且柔者。藥宜輕宜薄。陽而剛者。藥宜破宜散。經云。木鬱達之。火鬱發之是也。今人之云肝氣者。系包括肝家之病。無分肝之虛實。概以破散為治。無怪乎治之罔效。然肝藏血。血虛者氣必旺。況肝經多氣少血。血分一虛。氣無約束。其變症蜂起。有因水虧不能涵木。而肝氣橫暴者。有因金虛不能制木。而木火上升者。有木旺侮土者。有木反乘金者。有木來助火者。有木盛生風者。焉得以肝氣一語概之乎。余治是症。必求其本。詢其初起何病。變為何病。如因嗔怒所致者。是肝家本病。若因憂思傷脾。而木氣乘虛來侮。當扶土瀉木。是不在肝而在脾也。余仿此。</p>

<h2>金鈴子散</h2>
<p>治肝經氣旺脘痛。</p>
<p>金鈴子（去核）　延胡索（各等分）</p>
<p>共為末。每服三錢。酒調下。或水煎服。亦可。</p>

<h2>逍遙散</h2>
<p>（方見厥症）　</p>
<p>治肝經抑鬱之症。</p>

<h2>益肝煎</h2>
<p>（自制）　</p>
<p>治肝經病。不拘痞滿噯逆嘔噦心胃㽲痛腹滿等症。</p>
<p>柴胡（醋炒一錢）　丹參（酒炒三錢）　生左牡蠣（四錢）　烏藥（一錢）　制香附（一錢）　當歸（三錢小茴五分拌炒）　琥珀（八分）　桑葉（一錢）　巨勝子（三錢即三角胡麻）加荔枝五枚。水煎。○如氣虛者。加生地（四錢）沙參（三錢）砂仁（五分）○血虛者。加生地（四錢）川芎（一錢）白芍（一錢）○金不制木者。加百合天冬（各四錢）○水不涵木者。加杞子（三錢）菊花（一錢）○心火夾雜者。加川連（七分）○如木旺土衰者。加白朮（土炒）天仙藤（各一錢）茯神（三錢）如有他病挾起者。隨症加減。</p>

<h2>代赭旋覆花湯</h2>
<p>治木犯胃土。噯逆痞滿。</p>
<p>代赭石（二錢）　旋覆花（一錢五分）　東洋參（二錢）　姜半夏（一錢五分）　赤茯苓（三錢）　荊芥炭（一錢）　炙甘草（五分）如氣實而滿者。去參。加牡蠣（三四錢）</p>

<h2>清肝煎</h2>
<p>（自制）　</p>
<p>治肝火內熾。暈眩欲厥。</p>
<p>生牡蠣（五錢）　琥珀（八分）　焦梔子（三錢）　丹皮（二錢）　黃芩（炒一錢）　桑葉（一錢五分）　鮮生地（八錢）　煨天麻（八分）　羚羊角（先煎一錢五分）加竹葉二十片。燈心一丸。</p>

<h2>潛陽和陰湯</h2>
<p>（自制）　</p>
<p>治肝虛生風。心悸目眩。</p>
<p>生鱉甲　炙龜板（各四錢）　石決明（生八錢）　煨天麻　桑葉（各一錢五分）　巨勝子　鉤藤（各三錢）　姜半夏（一錢五分）　琥珀（八分）　黃菊花（二錢）加竹葉十片。如氣悶加沉香五分研沖。</p>

<h2>栝蔞薤白白酒湯</h2>
<p>治胸中痹痛。欲吐不吐者。</p>
<p>栝蔞（一枚）　薤白（二錢）加白酒一盞。水煎。或加桂枝（五分）水煎。衝入白酒可也。</p>

<h2>半夏秫米湯</h2>
<p>治寤不成寐。胃中有濕熱者。</p>
<p>姜半夏（一兩）水五升。煎至三升。去滓。入秫米（三合）煎至二升。分作兩次而服。</p>

<h2>酸棗仁湯</h2>
<p>治肝虛不寐。</p>
<p>茯神（三錢）　炙甘草（五分）　知母（一錢）　棗仁（炒一錢五分）　川芎（八分）如有痰加姜半夏（一錢）橘紅（七分）水煎。</p>

<h2>鎮肝湯</h2>
<p>治木旺致驚。兼治小兒驚風。</p>
<p>煅龍骨（二錢）　石菖蒲（五分）　棗仁（炒一錢）　石決明（生八錢）　琥珀（一錢）　青黛（五分沖）　煅磁石（一錢）　姜半夏（一錢五分）加竹茹一丸。○四肢逆冷加桂枝（四分）薑汁（一匙沖）</p>
<p>脈候肝經之脈要弦長。弦直因知木勢張。尺內遇弦腰帶病。子來乘母水多妨。新張弦象肝真露。雖有良醫曷可康。寸口浮弦風木上。關中得此土為戕。肝家病脈。弦緩為良。弦數風熱。弦遲腎傷。弦牢痼疾。弦革難康。若能和緩。正復邪匡。弦且勁急。病必倉皇。如難下藥。勿藥為方。　</p>
<p>脾經病　腫脹　泄瀉　蟲積　嘔吐噯噦　痰飲　木乘土</p>

<h3>胃痛</h3>
<p>脾為倉廩之官。屬後天也。如先天不足。全賴後天以補之。後天一病。關係大焉。脾胃之論。東垣最詳。所著補中益氣。調中益氣。升陽益胃等湯。因內傷勞倦。脾陽困頓而設。脾屬太陰。胃屬陽明。一有乖違。則病危矣。不相乖戾。其治尚易。若脾虛而胃不振者。當益其脾而扶其胃。故人以胃氣為本。有胃者生。無胃者亡。理固然也。古人治脾胃之病。必以制木為務。木不侮土。其土自安。病何由作。如脾胃一虛。則腫脹泄瀉。蟲積痰飲胃痛作矣。甚至嘔吐噯噦悉具。力治其標。不顧其本。脾胃一憊。病體難瘳。豈不殆哉。葉氏云。腫由乎氣。脹由乎水。因脾胃一虛。其氣外浮。故腫。腫則水來乘之。水旺土衰。則生脹矣。古人分陰水陽水之條。亦以外來之水屬陽。內生之水屬陰。又分內因外因不內外因三條。莫不由中土衰殘所致。以分消法治外因。外因者。即陽水也。以實脾飲五苓散治內因。內因者。即陰水也。又治不內外因者。即仲景之開鬼門潔淨府之法也。若夫泄瀉之症。亦由脾虛不能制水。胃虛不能納水所致。治瀉亦必制木。木不戕土。水曷由侵。書云。治瀉不利小溲。非其治也。蟲積之由。因土虛不能勝濕。濕化熱而蘊蓄蒸變。其蟲生矣。故治蟲必當先清濕熱。繼溫脾腎。仲景有安蛔丸以化蟲安胃。最為雄偉。後人之治蟲者。莫不就其範圍也。胃痛一症。古方甚多。並無確效。何也。因胃屬中宮。肺心肝腎諸可侵伐。故變幻雜至。都是胃陽大虛。不能灌溉其水。水停乃痛。仲景以小半夏湯治其停水。以瀉心湯和其脾胃。又有苓薑朮桂湯以補其中土。治法不外乎此矣。若妄用攻擊之法。胃土戕賊。則嘔吐噯噦。悉由此出。痰飲者。亦土病也。胃土一虛。飲食不為肌肉。脾陽亦失其運用之權。所飲所食。盡化痰水。痰之為患。不特一藏一府已也。後人分類甚繁。不越金匱之範。金匱有四。一曰痰飲。二曰懸飲。三曰溢飲。四曰支飲。如其人素盛今瘦。水走腸間。瀝瀝有聲者。痰飲也。飲後水流脅下咳唾引痛。水為氣吸而難以下流。謂之懸飲。飲邪流散於四肢身體疼重。不能由汗而解。以致飲邪旁溢。名曰溢飲。倚息不得臥。氣分上迫。形腫謂之支飲。以上諸病。悉責於脾。考金匱自無遺漏矣。</p>

<h3>真武湯</h3>
<p>治脾腎兩虛。作腫作脹。其病口不渴者。</p>
<p>茯苓（六錢）　白朮（二錢）　淡附片（二錢）　白芍（酒炒二錢）　加生薑（五片）</p>

<h3>五苓散</h3>
<p>治水蓄膀胱。小便短少色白。</p>
<p>豬苓（四錢）　茯苓　澤瀉（各三錢）　白朮（二錢）　桂枝（五分）</p>
<p>本方加茵陳（二錢）名茵陳五苓散。治濕病作腫目黃者。仲景所謂潔淨府之法也。</p>

<h3>麻黃湯</h3>
<p>（方見傷寒）　</p>
<p>治身半以上腫脹。身熱。口不甚渴者。即仲景所謂開鬼門之法也。</p>

<h3>小青龍湯</h3>
<p>（方見傷寒）　</p>
<p>治嘔吐噯噦之急症也。</p>

<h3>瀉心湯</h3>
<p>（見霍亂症）　</p>
<p>治嘔吐噯噦之緩症也。如腹痛肢冷。加桂枝（五分）如口渴。加薑汁炒烏梅一個。</p>

<h3>安胃丸</h3>
<p>（即安蛔丸方見厥症）　</p>
<p>治蟲積或痛或瀉。每服一丸。（開水沖服）</p>

<h3>補中益氣湯</h3>
<p>（方見痢症）　</p>
<p>本方去當歸白朮。加木香蒼朮。名調中益氣湯。治同。</p>

<h3>自制益肝煎</h3>
<p>（方見肝經病）　</p>
<p>治木乘土與胃痛二症。</p>

<h3>羌活勝濕湯</h3>
<p>（方見中風）　</p>
<p>治風腫由頭面以及一身。以此方治之。俾風散而腫自消矣。　如風濕內蘊。一身盡痛。本方去獨活川芎蔓荊子甘草四味。加升麻蒼朮二味。名羌活除濕湯。治之可也。</p>

<h3>小半夏加茯苓湯</h3>
<p>治濕阻中焦脘痞。或飲停心下悸眩等症。</p>
<p>姜半夏（三錢）　茯苓（一兩）　生薑（五錢）</p>
<p>本方加桂枝甘草去半夏。名茯苓甘草湯。治傷寒水氣乘心○本方去茯苓。名小半夏湯。治濕痰阻脘。</p>

<h3>腎著湯</h3>
<p>治濕傷腎氣。腰下腫脹者。</p>
<p>乾薑（五錢）　茯苓（五錢）　白朮（二錢）　甘草（八分）或加車前（炒三錢）以通小便。</p>

<h3>香蘇飲</h3>
<p>（自加）　</p>
<p>治腫病初起。兩目下如臥蠶狀。身重微喘者。當以芳香疏氣。得微汗可解也。</p>
<p>制香附　蘇葉　防風（各一錢五分）　杏仁泥（三錢）　甘草　陳皮（各五分）去杏仁防風。即香蘇飲本方。</p>

<h3>五皮飲</h3>
<p>治腫病水行皮膚者。</p>
<p>陳皮　茯苓皮　姜皮　桑白皮　大腹皮（各等分）</p>
<p>水煎服。</p>

<h3>加減附子理中湯</h3>
<p>（自制）　</p>
<p>治脹症將起。胸腹微滿。食物不運。身重足重。不耐走動。早間腫消。午後腫甚。此氣虛不行於脾也。溫以和其氣。氣行濕去。其腫自除。並治木乘土而作脹者。</p>
<p>淡附子（二錢）　元黨參（三錢）　炮姜（八分）　制香附（二錢）　澤瀉（三錢）　白芍（一錢五分）天仙藤（即青木香藤一錢半）川椒（三分）加通草八錢煎湯。代水煎藥。忌食生冷水果等物。</p>

<h3>香連八物湯</h3>
<p>（自制）　</p>
<p>治水瀉脾胃俱虛。並治霍亂。</p>
<p>藿香梗（三錢）　川連（一錢）　淡吳萸（一錢）　茯神（三錢）　蒼朮（一錢）　厚朴（一錢）　天仙藤（一錢）　炒車前（二錢）</p>
<p>水煎。如口渴。加烏梅一枚。如腹痛。更加桂枝（三分）</p>

<h3>升陽益胃湯</h3>
<p>人參　白朮　黃耆　川連　姜半夏　甘草　陳皮　茯苓　澤瀉　防風　羌活　獨活　柴胡白芍加薑棗煎。</p>

<h3>實脾飲</h3>
<p>茯苓　白朮　木瓜　炙甘草　木香　厚朴　大腹皮　草豆蔻　淡附子　乾薑</p>
<p>加棗煎。</p>

<h3>大橘皮湯</h3>
<p>治水腫泄瀉。</p>
<p>豬苓　茯苓　澤瀉　白朮　桂枝　六一散　橘皮　木香　檳榔</p>
<p>加姜煎。</p>

<h3>茵陳蒿湯</h3>
<p>治濕熱黃疸。</p>
<p>綿茵陳　大黃　梔子</p>
<p>如陰黃內症發黃者。本方加淡附片乾薑之類。</p>
<p>脈候脾虛之症。脈忌沉微。緩者易治澀小多違。形如瀉漆。脾敗且危。弦而強勁。木旺之機。溫中為的。寒冷則非。</p>
<p>肺病　咳嗽　肺癰　肺痿　喘　哮　失音　喉症方治四首</p>
<p>肺者相傳之官。治節出焉。其氣清。其性脆。其體輕浮。在時為秋。在卦屬兌。稟西方之氣。主人之皮毛。易感邪。易為病。一遇風寒則咳嗽。風寒入絡則喘逆。入胃則哮。葉氏謂喘症與哮症微有不同。喘症在肺為實。在腎為虛。哮症因感邪失表。邪伏於裡。而留於肺俞。二症之治。不外開納二法。開者青龍之品。納者都氣之屬。至於邪留不去。釀成肺癰。火灼金傷。致發肺痿。若夫失音之候。皆火剋金傷之症也。當以虛實二字消息之。虛火刑金而致者。金破無聲也。邪熱爍金而致者。金實無聲也。實者泄之。虛者補之。又有土衰不能生金者。當培其土而金自生也。總之治咳嗽宜肅肺氣。治喘症當開其肺而安其脾。納其腎也。治哮症者宜溫養其氣。以搜逐其邪也。至於肺癰之治。宜解毒以保肺也。肺痿之治。宜滋其腎以清其肺也。要皆不外乎虛則補母。實則瀉子之道。有邪者清之。無邪者補之而已也。又內經之言咳嗽者。分十二經之形狀。有脾嗽心嗽肺嗽肝嗽腎嗽之辨。又有小腸嗽大腸嗽胃嗽膀胱嗽膽嗽三焦嗽之說。又云久咳不已。則三焦受之。可知三焦一言。已賅十二經矣。考內經自知詳細。故不具論。所言肺癰之治。莫妙於彭鍾齡之加味甘桔湯。肺痿之治。莫妙於彭氏之保和湯也。而失音之辨。必以宮商角徵羽五音。以明脾肺肝心腎五臟之病耳。又以歌屬脾。哭屬肺。呼屬肝。笑屬心。呻吟屬腎之音。以參乎其中。稱法之密治之簡者。莫如葉氏之指南也。其治案中。如有邪者開達肺氣。無邪者。填實足三陰經為主。其治肺痿者。宗金匱麥門冬湯。辛涼清肺甘溫扶中之法。可謂盡善盡美也。</p>

<h3>保和湯</h3>
<p>治肺痿久咳不已。時吐白沫如米粥者。</p>
<p>知母（炒一錢）　川貝母（二錢）　天冬　麥冬（去心各三錢）　米仁（五錢）　百合（三錢）　甘草桔梗　馬兜鈴（各一錢）　炒驢膠（一錢）　薄荷（五分）　五味子（十粒）</p>
<p>水煎。入飴糖一匙沖。溫服。虛者加東洋參（一錢）</p>

<h3>加味甘桔湯</h3>
<p>治肺癰咳嗽。吐膿血。胸中及右脅疼痛。不能右臥者。</p>
<p>桔梗　白芨片　橘紅　甜葶藶（炒各一錢）　甘草節　川貝母（各一錢五分）　米仁　銀花（各五錢）如肺癰初起加荊芥防風（各一錢）如潰後者加人參綿黃耆（各一錢）水煎服。加絲瓜經（二三）錢亦佳。</p>

<h3>小青龍湯</h3>
<p>（方見傷寒）　</p>
<p>治喘症不能仰臥。痰壅欲脫者。</p>

<h3>蘇子降氣湯</h3>
<p>治喘哮之緩者。</p>
<p>生蘇子（二錢）　橘紅（一錢）　姜半夏（一錢）　歸身（三錢）　前胡（一錢五分）　桂枝（五分）　厚朴（一錢）　炙甘草（五分）加姜三片。竹茹一丸。</p>

<h3>固本丸</h3>
<p>（改作湯服）　</p>
<p>治咳嗽之虛者。</p>
<p>西黨參（三錢）　熟地　生地（各四錢）　天冬　麥冬（去心各三錢）</p>

<h3>都氣加桂湯</h3>
<p>（自制）　</p>
<p>治喘哮之欲愈者。以納腎氣之法。</p>
<p>熟地（八錢）　茯苓　澤瀉　懷山藥（各四錢）　丹皮　山萸肉（各二錢）　五味子（九粒）　肉桂（四分）</p>
<p>沖水煎。</p>

<h3>和肺湯</h3>
<p>（自制）　</p>
<p>治失音症。由實火上刑肺金者。</p>
<p>活水蘆根（即葦莖五錢）百合（五錢）　生地（五錢）　桔梗（一錢五分）　生甘（五分）加青果二枚。</p>

<h3>理嗽湯</h3>
<p>（自制）　</p>
<p>統治咳嗽。不拘新久虛實。當加減治之。</p>
<p>霜桑葉（一錢五分）　百合（三錢）　桔梗（一錢五分）　前胡（一錢五分）　象貝母（一錢）　橘紅（八分）　薄荷（一錢五分）　梔子（炒三錢）加青果一枚。竹葉二十片。○如身熱氣粗者。欲發風疹。本方加牛蒡子（三錢炒）　○如久咳不已。則三焦受之。本方去薄荷加麥冬生地（各三錢）○如咳嗽傷絡。痰中帶血。本方加驢膠（一錢）棗仁（炒一錢）柏子仁（一錢）淡黃芩（一錢五分）○如君火內熾。本方加麥冬（三錢）川連（八分）琥珀（八分）○如肝火刑金。本方加柴胡（一錢）丹皮（二錢）○如土不生金。本方去桑葉薄荷加白朮茯苓（各二錢）○如腎咳者。本方加二地二冬。○大腸嗽者。每嗽必欲大便。本方加訶子。（煨一錢）炙粟殼（一錢）○小腸嗽者。每嗽必欲小溲。本方加東洋參（一錢）麥冬（三錢）五味子（十粒）○如膀胱脹痛而嗽者。氣不化也。本方去象貝薄荷加桂枝（二分）滑石（三錢）○如膽火上衝致嗽者。本方加夏枯草（三錢）○如咳而胃痛者。本方加左牡蠣（四錢）川連（七分）○如三陰虧損而虛火上刑肺金者。宜金匱腎氣丸。與大補肝腎丸。皆可選用。（方見厥症）</p>

<h3>荊防敗毒散</h3>
<p>（自制）　</p>
<p>治咽喉腫痛。兩頤發腫。身有寒熱者。名曰時毒。系風邪上千肺胃所致。若不急清。勢必危殆。</p>
<p>荊芥　防風　薄荷　桔梗（各一錢五分）　元參　牛蒡子（炒各三錢）人中黃　象貝母　射干　黃芩（炒各一錢）加竹葉二十片。青果兩枚。水煎。忌食生冷等物。恐阻肺氣。變幻莫測也。</p>

<h3>牛蒡羚羊散</h3>
<p>（自制）</p>
<p>治喉症咽痛。或單蛾。或雙蛾。單蛾者。咽旁起一小疱。雙蛾者。咽喉兩旁各起一疱也。其症甚險。都是風火傷及肺胃所致。如痰如拽鋸者。本方加栝蔞仁八錢可也。忌食酸冷之物。</p>
<p>羚羊角（鎊二錢）　蟬衣（一錢）　牛蒡子（炒三錢）　桔梗　防風　薄荷（各一錢五分）　生甘草射干（各八分）　草河車（即蚤休一名金線重樓二錢）加竹葉二十片。青果二枚。水煎。</p>

<h3>大黃湯</h3>
<p>（自制）　</p>
<p>治喉症壯熱痰盛。胸痞便秘。咽痛。水漿不入者。此火毒太甚。危在旦夕。急宜通其固蔽之熱。得便通熱泄。可望生機。</p>
<p>生錦紋大黃（八錢）生石膏（三錢）　銀花（四錢）　栝蔞子（六錢）　桔梗（二錢）　焦梔子（三錢）牛蒡子（炒三錢）　蘇子（二錢）　連翹（二錢）　射干（八分即烏扇）加竹瀝一盞。薑汁三匙。青果二枚衝入。徐徐呷下。得吐出膠痰數碗。痰出便通。可轉危而為安也。</p>

<h3>六味湯</h3>
<p>治喉症。不拘七十二惡症。凡初起者一二劑為佳。其效至捷也。</p>
<p>桔梗　荊芥（各一錢半）　生甘草　薄荷　防風（各一錢）　殭蠶（炒二錢）加青果一枚。水煎。</p>

<h3>附喉症吹口藥方一首</h3>
<p>明硃砂（六分）　硼砂（五錢）　梅花冰片（五分）　元明粉（五錢）　薄荷末（三錢）</p>
<p>共研細末。吹於兩旁大牙邊。流出黏涎。自能漸瘥。</p>
<p>脈候肺經咳嗽脈浮洪。數疾因知邪上攻。寸中見滑多痰咳。尺內逢弦病氣衝。上屬氣虛痰上逆。喘哮初起急開通。肺癰脈來右寸數。若來澀脈痿困窮。肺經之脈。忌見浮洪。有力邪實。無力虛躬。兩寸皆數。肺熱如烘。浮而兼敗。藥餌無功。浮中帶弦。非寒則風。若短與代。中氣已空。脈沉而喘。腰曲如弓。</p>
<p>腎經病　夢遺　自遺　陽痿　腰痛　淋濁　疝氣偏墜</p>
<p>腎者。作強之官。伎巧出焉。如腎經一虧。相火內動。而精氣不固。而夢遺。自遺。陽痿。腰痛。淋。濁。疝氣偏墜。諸症叢生。古書云。夢遺屬心病。自遺屬腎病。淋者濕熱蘊結於下。濁者腎氣不固。隨濕熱而下泄。或因房勞太甚。精竅滑脫不禁。淋屬膀胱之病。濁乃腎家之傷也。三者雖異。統由心之主宰而出。是殊途而同歸也。心為君主。心火一動。相火隨之。孔子曰。少之時。血氣未定戒之在色。所以稚年質薄。知識太早。易於致病。譬諸草本。根本未固。可旦旦而伐之乎。治斯病者。務宜勸令寧心養神。勿使騷擾。可以挽救於一時。否則非草木藥餌所能補救也。廣成子云。無搖爾精。無勞爾形。乃可長生。即長生果也。人奈何不珍而藏之哉。如有夢而遺者。因煩勞過度。心多妄念。不特心經受傷。而飲食減少。脾腎亦損。遂致上下皆損。心腎不交。宜歸脾湯補心丹之屬治之。切勿求其速效。妄用固澀之法也。至於無夢而自遺精滑者。腎關不固。下元衰脫。較有夢者為更重。治宜填實下元。固攝腎氣。以介類潛陽鹽溫攝下之品為宜。如濕熱下注。蓄於膀胱而成者為淋。宜淡滲其濕苦泄其熱。濕熱泄而腎陽不固者即濁。宜分清法最妥。淋與濁二症。以痛不痛為辨。淋則痛而濁不痛也。若夫腰為腎腑。腰痛如折。腎將憊也。宜大補陰丸治之。至於陽痿一症。亦由少壯時色欲過度。傷及肝腎而致者。亦有因驚傷膽。恐傷腎而致者。又有思慮憂愁而傷及心脾者。經云。二陽之病發心脾。男子不得隱曲。即是症也。余自制振陽湯加減而治。每多獲益。至若偏墜之病。由感怒而得者居多。古人與疝症互為發明。每以辛香流氣溫通肝腎之絡。未嘗不善。然男子七疝。女子帶下瘕聚。不外乎足太陰足陽明足厥陰之筋病也。是三經者。皆衝任督之脈矣。陰器不用者。足厥陰之病也。陰器紐痛者。足太陰之病也。大筋痿縱者。即足陽明之病也。而金匱獨以寒疝為名。多溫散調營之治。不雜氣分之藥。而子和治疝。每以辛香流氣為主。不言血分之旨。可知血氣本同一氣。氣行血亦行。血和氣亦和也。略序其要以備參考。</p>

<h3>歸脾湯補心丹</h3>
<p>（俱見心經病）</p>

<h3>水陸二仙丹</h3>
<p>治夢遺症</p>
<p>金櫻子　芡實（各等分）</p>
<p>為末。煉蜜為丸。如彈子大。每服一丸。淡鹽湯沖服。忌食蔥蒜。</p>

<h3>桑螵蛸散</h3>
<p>治自遺無夢者。</p>
<p>人參（三錢）　遠志肉（八分）　茯神（三錢）　石菖蒲（七分）　龍骨（三錢生用）　龜板（四錢）　當歸（三錢）　桑螵蛸（三錢炒）</p>
<p>共末。每服三錢。開水沖服。或作湯藥煎服亦可。</p>

<h3>貞元飲</h3>
<p>填補肝腎之法。</p>
<p>熟地（一兩）　當歸（四錢）　炙甘草（一錢）</p>
<p>水煎。</p>

<h3>補陰益氣煎</h3>
<p>不拘自遺夢遺等症。皆治之。</p>
<p>人參　當歸　懷山藥（各三錢）　陳皮　柴胡（各一錢）　炙甘草（五分）　升麻（五分）　熟地（八錢）　生薑三片</p>

<h3>潛陽湯</h3>
<p>治自遺虛症。陰火內熾者。</p>
<p>熟地（四錢）　茯神　山藥　澤瀉（各三錢）　丹皮（二錢）　萸肉（一錢）　炙龜板　炙鱉甲　生牡蠣（各五錢）　蓮鬚（一錢）　琥珀（八分）</p>
<p>水煎。</p>

<h3>聚精丸</h3>
<p>總治夢遺自遺。腰痛淋濁諸症。</p>
<p>魚螵蛸（即黃魚膠一斤蛤粉炒）　沙苑蒺藜（八兩馬乳浸一日隔湯煮一炷香時）</p>
<p>二味為末。煉蜜為丸。梧子大。每服八十丸。白滾水送下。</p>

<h3>茯兔丸</h3>
<p>治精滑。不拘有夢無夢。</p>
<p>茯苓　菟絲子　建蓮子（各一兩）　酒糊丸（如桐子大。）</p>

<h3>濟生固精丸方</h3>
<p>牡蠣　菟絲子　韭子　龍骨　五味子　茯苓　桑螵蛸　白石脂</p>

<h3>左歸飲</h3>
<p>治腎虛腰痛。偏墜遺精等症。</p>
<p>熟地（八錢）　山萸肉（一錢）　山藥（三錢）　杞子（三錢）　茯苓（三錢）　甘草（五分）</p>

<h3>右歸飲</h3>
<p>治胃虛火衰。睪墜而痛。</p>
<p>熟地（六錢）　山萸肉（一錢）　山藥（三錢）　杞子（三錢）　甘草（五分）　杜仲　肉桂　附子（各一錢）</p>
<p>水煎。</p>

<h3>左歸丸</h3>
<p>治肝腎兩虛。</p>
<p>熟地（八兩）　枸杞子　菟絲子　鹿角膠（各二兩）　山藥　龜板膠　牛膝（各二兩）　山萸肉（一兩）</p>
<p>上藥。以龜鹿二膠烊化和丸。如桐子大。每服三四錢。開水送下。</p>

<h3>右歸丸</h3>
<p>治命門火衰者。</p>
<p>熟地（八兩）　山藥（二兩）　杞子（三兩）　山萸肉（一兩）　菟絲子（二兩）　鹿角膠（三兩）　炒杜仲　當歸　淡附子（各二兩）</p>
<p>上藥。更加肉桂末八錢。共為細末。以鹿膠化水和丸。桐子大。每服三四錢。淡鹽湯下。</p>

<h3>孔聖枕中丹</h3>
<p>治心腎不交諸症。方見心經病</p>

<h3>萆薢分清飲</h3>
<p>治淋症濁症兼濕熱者。</p>
<p>川萆薢（三錢）　石菖蒲（七分）　烏藥（一錢）　生甘草梢（八分）　茯苓（三錢）　益智仁（三錢）加琥珀（八分）食鹽數粒亦可。</p>

<h3>三才封髓丹</h3>
<p>治腎虛精滑不固。</p>
<p>人參　天冬　生地（各三錢）　黃柏　砂仁（研）　甘草（各一錢）蜜水和丸彈子大。每服一丸。開水化服。</p>

<h3>大補陰丸</h3>
<p>治腰痛兼治淋症。</p>
<p>川柏（一兩）　炙龜板（三兩）　炒知母（五錢）　熟地（八兩）　豬脊髓（四兩）蜜水煉丸。桐子大。每服五十丸。淡鹽湯下。</p>

<h3>導氣湯</h3>
<p>治寒疝以及偏墜小腸疝痛之症。</p>
<p>川楝子（三錢）　小茴香（五分）　木香（一錢）　淡吳茱萸（一錢）長流水煎服。</p>

<h3>崔氏八味丸方</h3>
<p>治寒疝作痛。方見厥症</p>

<h3>振陽湯</h3>
<p>（自制）　</p>
<p>治陽痿症。</p>
<p>鹿角霜（二錢）　淡蓯蓉（三錢）　懷牛膝（三錢）　枸杞子（三錢）　遠志肉（六分）　菟絲子（三錢）　茯神（二錢）　破故紙（炒三錢）　杜仲（炒三錢）　豨薟草（二錢）</p>
<p>加大棗五枚。○如稟賦不足者。加人參（二錢）○如色傷腎陽。相火不足。加肉桂（五分）川柏知母（各五分）○如高年陽衰者。加黃耆（三錢）木香（五分）本方加海狗腎一具。即膃肭臍。煅燥。共為末。煉蜜為丸。如彈子大。每服一丸。淡鹽湯送下可也。名振陽丹。</p>
<p>脈候腎經之病。其脈多柔。兩尺緊數。相火失收。左尺來搏。陽與陰仇。右尺沉澀。相火外浮。兩尺不起。痿症之由。重按無力。固澀宜投。欲絕之脈。時舉一頭。堅強實大。不可追求。腎家之病脈來濡。陽痿難振溫補符。若診尺中多緊急。淋兼濕熱痛難紓。睪丸偏墜因多怒。脈象弦遲溫散扶。根本已離沉候決。定然脈象亦支吾。</p>

<h1>卷五</h1>

<h2>婦人辨論</h2>
<p>讀諸大家書。知女科與男子分立一科。金匱要略中著婦科三篇。妊娠。產後。雜症。大略已具。後世辨症編類。頭緒紛紜。讀者反無所得。緒愈紛而治愈淆矣。又有女子脈理。與男子異類之說一起。不但病體不明。而脈理必大相懸殊也。戴起宗曰。脈訣因男子左腎右命。女子左命右腎。諸家以尺脈之盛弱解之。即男尺恆虛女尺恆盛之謂也。並不宗其右腎左腎右命左命之說矣。又褚氏以女人心肺診於尺。是倒置五臟。其謬更甚。然女子與男子形氣雖異。血精別樣。而十二經脈。所行之終始。五臟之定位。則一也。豈得以女人脈位反背倒置乎。故言婦人之症。多與男子同。惟行經胎產與男子異耳。茲特舉所異者逐一詳述。以備吾儕參考。凡所同者。悉照男子治例。不當復贅。又凡金匱所有之治法。茲不復述。宜宗金匱可也。</p>
<p>調經　帶下　白淫　白淋　氣淋　勞淋　七疝　癥瘕　五積</p>
<p>且夫經者。常也。運行有常。一月一行。故名月信。信。約信也。如約信之有定期也。又曰癸水。即天一生水之謂也。故曰天癸。又名月事。每月中之事也。婦人以血為主。血盛則溢。以象月盈則虧也。失其常度。則為病矣。故調經為婦科所首重也。內經云。太衝脈盛月事以時下。太衝者即血海也。五臟六腑之血。皆注於血海。故衝脈為女子所尤重也。然心生血。肝藏血。脾統血心不生血。則月事不行。肝不藏血。則血乃妄行。脾不統血。則血無所歸。凡婦人之病。肝脾心三者皆足。其病必輕。一有欠缺。則病重矣。又有衝任督帶之奇脈。女子孕育調經。皆有賴也。又有陽蹺陰蹺。陽維陰維。乃一身之上下左右相循之脈。合衝任督帶。共成八脈。沖為血海。隸屬陽明。任為負荷。會於兩陰之間。督為奇脈之總領。帶為一身之束帶。屬少陽足經。八脈失司。諸病叢生。經候不調。孕育難矣。衝任為病。崩漏瘕聚之患迭出。督脈為病。則僂廢沖疝。從小腹上衝作痛。不得前後。帶脈為病。則帶下綿綿。又衝脈為病。氣逆而裡急。任脈為病。男子內結七疝。女子帶下瘕聚。督脈為病。主女子不孕癃閉。遺溺嗌乾之症。帶脈為病。腹滿腰溶溶如坐水中。二蹺為病。難經云。陰絡者陰蹺之絡。陽絡者陽蹺之絡。陰蹺為病。陽緩而陰急。陽蹺為病。陰緩而陽急。二維為病。陽維為病苦寒熱。陰維為病苦心痛。此八脈者。於孕育大有關係。欲治孕育。必先調經。欲調其經。必先治奇。所言帶下之病與白淫白淋。往往渾治。宜細辨之。庶不誤認也。白帶者。如帶之狀。綿綿不絕。流利難停。治宜疏木補土。調理帶任二脈。白淫者。小溲之後有白物。見亦不多。治宜補心益脾。兼調氣分。白淋者。膀胱之內有濕熱蘊結。必小腹墜痛而後下者。治宜化氣之法。兼清濕熱可也。況淋病有五。一曰氣淋。氣虛下陷。小便頻數。溺有餘瀝。宜補心益氣。兼清濕熱之治。一曰勞淋。遇勞即淋。損在脾腎。宜補中益氣為治。又有血淋砂淋膏淋三者。皆因濕熱久蘊。傷及腎陰所致。宜滋養化源。以大補陰丸治之最妙。凡婦人科以經水趲前屬熱。趲後屬寒為斷。論非不確。然亦不可拘執也。如經水淋漓。頻頻而見。或為氣所阻。或因血瘀滯著。不得以此例賅之。又有血枯內熱。經候亦必衍期。因血虛內耗所致。凡婦人脈盛內熱。經水先期而至。斯為屬熱。若脈衰肢逆。經水後期而至者。斯為屬寒。故診婦人病。必當問天癸何如。血分多寡否。腰腹有痛否。經色紫黑黃赤否。有瘀否。或經先腹痛。經後腹痛。經先腹痛屬氣滯。經後腹痛屬血虛。更當究其脈之虛實而合病之盛衰。如內熱者脈必數。內寒者脈必遲。血虛者脈必澀而少神。氣虛者脈必沉而兼微。腹痛者脈緊。血瘀者脈革。血脫者脈芤。古人之言女尺恆盛者。指平脈也。近時婦女。兩尺沉滯澀小者居多。因吾鄉地屬東南。濕熱為勝。氣虛血滯者為多。北方風寒為勝。地屬西北。血虛氣旺者為多。故西北之人。病帶下者十之一二。以寒盛故也。東南之人。病帶下者十常八九。以濕勝故也。又肥人血多滯為寒。瘦人血多滑為熱。肥者難孕而易育。瘦者易孕而難育也。調經之道。血盛則補氣。氣盛則補血。使血氣無偏勝。陰陽無盛衰。何患乎難孕。何患乎難育哉。余以婦科之最切急者以備參考焉。</p>

<h3>大補陰丸</h3>
<p>（方見腎經症）　</p>
<p>統治五淋症。</p>

<h3>益母勝金丹</h3>
<p>治經候前後不調等症。</p>
<p>大熟地（九蒸九曬砂仁酒滲）當歸（酒蒸各四兩）　白芍（酒炒三兩）　川芎（酒蒸一兩五錢）丹參（酒蒸三兩）　茺蔚子（酒蒸四兩）　香附（四製鹽酒醋薑汁各炒一兩）土炒白朮（四兩）</p>
<p>以上八味共末。以益母草（八兩）水酒各半熬膏。與前藥末。煉蜜為丸。如桐子大。每早開水送下四錢。○如經水先期。加丹皮生地各二兩。○如經水後期。加肉桂五錢。</p>

<h3>進退四物湯</h3>
<p>（自制）　</p>
<p>調經總方。加減而治。</p>
<p>熟地（五錢）　當歸（三錢）　酒炒白芍（一錢五分）　川芎（一錢）</p>
<p>水煎。○血熱先期者。加丹參丹皮益母草（各二錢）○血寒後期者。加肉桂（五分）牛膝香附（各二錢）○先腹痛而經至。小腹㽲痛者。加青皮（炒一錢）澤蘭香附延胡索（各二錢）青木香（四分）減去熟地一味。倍加川芎（一錢）○經淨而腹痛者。加人參（二錢）桂枝（五分）香附延胡（各二錢）減熟地一半。加炒白芍（一錢五分）○帶下加鹿角霜（二錢）煅龍骨（二錢）左牡蠣（四錢）仙居白朮（二錢）砂仁（五分）去熟地川芎二味○白淫多者。加茯苓白朮東洋參（各一錢五分）進白芍一半。退熟地一半。○白淋多者。加琥珀（一錢）烏鰂骨（一錢）滑石淡竹葉（各三錢）○經水色黃而淡者。加肉桂（五分）茺蔚子（三錢）黨參（三錢）柴胡（醋炒八分）○心神搖漾。加茯神（三錢）遠志肉（炒一錢）琥珀（八分）燈草（一丸）○如風虛暈眩者。加煨天麻（一錢）姜半夏（一錢）倍川芎（一錢）○如嘔者。加姜三片。川連（八分）姜半夏（一錢五分）淡吳萸（八分）減熟地一半○肢逆冷者。加桂枝（七分）竹茹（一丸）姜三片。</p>

<h3>調元湯</h3>
<p>（自制）　</p>
<p>治奇脈虧損。經水三五不調。肢節痠疼。腰痛氣滯。心搖神怯暈眩等症。</p>
<p>生地（四錢）　阿膠（烊沖一錢）　白芍（酒炒二錢）　當歸（二錢）　茺蔚子（炒三錢）　澤蘭（二錢）　杜仲（鹽水炒二錢）　天冬（三錢）　鹿角霜（二錢）</p>
<p>加桂圓肉五枚。○如虛風眩暈者。加煨天麻（一錢）○氣滯腹痛。加延胡索（三錢）天仙藤（一錢）○脘痞心痛者。加琥珀（一錢）丹參（三錢）左金丸（八分）赤小豆（一錢）○嘔者加梔子（三錢）半夏曲（二錢）左金丸（七分）○心悸者。加桂枝（一錢）姜半夏（二錢）○如經先腹痛者。加川楝子延胡索（各三錢）小茴（炒五分）天仙藤（一錢）去阿膠生地二味○經後腹痛者加白朮（二錢）○如經水紫黑挾瘀者。加桃仁（一錢）紅花（八分）○經水少而淡黃者。加肉桂（八分）夏月減半○屢致胎墮難留者。加黨參（三錢）炙黃耆（三錢）菟絲子（三錢）○如經至之先。必發寒熱者。加炙鱉甲（三錢）柴胡（一錢）去鹿角霜阿膠可也。</p>

<h3>大補血湯</h3>
<p>治氣血兩虛而經候不調者。</p>
<p>炙黃耆（八分）　當歸（三錢）</p>
<p>清煎。</p>

<h3>八味逍遙散</h3>
<p>調經之要方也。</p>
<p>當歸（三錢）　赤芍（一錢）　柴胡（一錢）　茯苓（三錢）　白朮（二錢）　甘草（五分）　生薑（一錢）　薄荷（八分）或加丹皮（二錢）梔子（三錢）治肝鬱症。</p>

<h3>四七湯</h3>
<p>治七情鬱結。經候不調。</p>
<p>姜半夏　厚朴　茯苓　蘇葉（各一錢半）</p>
<p>水煎。</p>

<h3>越鞠丸</h3>
<p>治肥人多痰。痰阻經隧。不能受孕者。</p>
<p>蒼朮　川芎　香附　梔子　神麯（各等分）</p>
<p>為末。煉蜜為丸。或水法為丸。桐子大。每服三錢。薑湯下。</p>

<h3>八珍湯</h3>
<p>治氣血不足。</p>
<p>黨參（三錢）　白朮（二錢）　茯苓（三錢）　炙甘（五分）　生地　當歸（各三錢）　赤芍　川芎（各一錢）</p>
<p>加薑棗煎。</p>

<h3>斷下丸</h3>
<p>（自制）　</p>
<p>治不論赤白帶下。</p>
<p>杞子　覆盆子　車前子（炒）　煅龍骨　煅牡蠣　黨參　茯苓　淮山藥　杜仲（酒炒）　柴胡　赤石脂　生地黃（各一兩）</p>
<p>又加棉花子仁二兩。共為末。煉蜜為丸。桐子大。每服（二三）錢。白朮泡湯送下。</p>

<h3>加減歸脾湯</h3>
<p>治白淫白淋白帶諸症。</p>
<p>炙綿黃耆（三錢）　白朮（一錢五分）　炙甘草（五分）　棗仁（炒一錢）　遠志肉（炒）　廣木香（各八分）　歸身　茯神　黨參（各三錢）　煅龍骨（二錢）　烏鰂骨（一錢）</p>
<p>水煎。</p>

<h3>茯苓琥珀湯</h3>
<p>治白淋濕重者。</p>
<p>茯苓　豬苓　澤瀉　滑石（各三錢）　甘草　桂枝（各五分）　白朮（二錢）　琥珀（一錢）</p>
<p>長流水煎。</p>

<h3>八正散</h3>
<p>治白淋熱勝者。</p>
<p>木通　車前子　萹蓄（各一錢半）　大黃　滑石　瞿麥　梔子（各二錢）　甘草梢（五分）</p>
<p>加燈草七莖。</p>

<h3>分清飲</h3>
<p>治膏淋濕熱多者。</p>
<p>川萆薢　益智仁（各三錢）　石菖蒲（七分）　生甘草梢（五分）　烏藥（一錢）　加茯苓（三錢）食鹽數粒。亦可治之。</p>

<h3>補中益氣湯</h3>
<p>並治氣淋勞淋。</p>
<p>炙黃耆（三錢）　黨參（三錢）　白朮（二錢）　陳皮（一錢）　柴胡（一錢）　升麻（五分）　炙甘草（五分）　當歸（三錢）</p>
<p>如氣實者。減黃耆錢半。加青皮（一錢）木香（八分）如氣虛似實者。宜逍遙散治之。</p>

<h3>三五七散</h3>
<p>治風入血分。化腫者名曰風痹</p>
<p>淡附片　細辛（各三錢）　乾薑　干山茱萸肉（各五錢）　防風　山藥（各七錢）</p>
<p>共末。每服二錢。溫酒調下。</p>

<h3>流氣飲</h3>
<p>治七情氣滯。腹脹便閉。腳氣上攻。喘逆。肩背胸脅痞悶等症。</p>
<p>蘇葉　炙黃耆　青皮　陳皮　大腹子　茯苓　當歸　烏藥　防風　木香　川芎　白芍　桔梗枳實　炙甘草　姜半夏　姜　棗</p>
<p>水煎。此方不注分錢。宜酌用可也。</p>

<h3>養心湯</h3>
<p>治勞淋氣淋二症。</p>
<p>炙甘草（五分）　炙黃耆（三錢）　西黨參（三錢）　茯苓（三錢）　茯神（三錢）　川芎（一錢）　當歸（二錢）　柏子仁（一錢）　半夏曲（一錢）　遠志肉（八分）　五味子（九粒）　肉桂（五分）　棗仁（炒一錢）</p>
<p>如氣虛不受參蓍者。宜減參蓍各半。加砂仁末（五分）天仙藤（一錢）琥珀（六分）</p>
<p>水煎。</p>

<h3>太無神功散</h3>
<p>治痞滿積聚。噯氣食滯。痰鬱血鬱。心肝脾肺腎五積。乾血癆損。癥瘕等症。</p>
<p>萹蓄　瞿麥　麥芽（各五錢）　神麯（三錢）　沉香　木香（各一錢五分）　甘草（五錢）　制軍（二兩）</p>
<p>共為細末服之。每服二三錢。燈芯竹葉煎湯。稍加陳酒調服。○凡婦人乾血症。用紅花湯調下。</p>
<p>○痰積用橘紅湯。加酒調下。○肝積名肥氣。用柴胡青皮（各一錢）　泡湯加酒調下。○肺積名息賁。用合歡皮百合（各二錢）泡湯加酒調下○心積名伏梁。用石菖蒲厚朴（各一錢）煎湯加酒調下。○脾積名痞氣。用厚朴天仙藤（各一錢）煎湯調下。○腎積名奔豚。用花椒五十粒泡湯調下。○如瘕與症。俱用酒調下可也。</p>

<h3>加味橘核丸</h3>
<p>（自制）　</p>
<p>治七疝八瘕。書云。任脈為病。男子內結七疝。女子帶下瘕聚。七疝者。一曰沖疝。氣上衝心。二便不通。二曰狐疝。臥則入腹。立則出腹也。三曰㿗疝。陰囊腫大如升也。四曰厥疝。肝氣上逆也。五曰瘕疝。素有症痞。痛而下濁也。六曰潰疝。內有膿血也。七曰癃疝。內停膿血。小便不通也。症者。徵也。有形可徵。按之不動也。瘕者假也。無形可著。推之可移也。血食內積為症。氣鬱於中為瘕也。</p>
<p>橘核（二兩鹽酒炒）　小茴香　川楝子（煨去核）　桃仁（光炒）　山楂（炒）　香附（醋炒各一兩）紅花（五錢）　琥珀（五錢）　椒目　天仙藤（各三錢）　沉香（二錢）　神麯（四兩）</p>
<p>共末。以米飲為丸。如綠豆大。每服四五十丸。溫酒送下。○女子用紅花（一錢）泡湯送下。忌食生冷油麵等物。</p>
<p>崩漏　附倒經辨症</p>
<p>崩者。如山川卒崩。橫決之勢。莫能制也。此女科最凶最暴之症。有因木鬱侮土。木盛土衰。致肝氣鴟張。脾失運用之權。肝不藏而脾不統。猝然致崩者。又有鬱怒傷肝而崩者。又有熱傷陰絡而崩者。有瘀血積久而崩者。有妊婦跌僕震動血絡而崩者。種種崩象。不外心脾肝腎。以及奇經之衝任督帶四脈也。古賢治暴崩。重在心脾。宜溫宜補。治久崩。重在肝腎。宜通。治屢崩屢愈者。必靜攝任陰。溫煦衝陽。法已大備。然婦女患是症者。必清宜倉皇告急。而治之者。切勿因其倉皇告急之情。而畏首畏尾。倉猝施治。妄用補攻之法。若誤補之。則留瘀貽患。誤攻之。則心氣下脫。危在旦夕也。必須問明有瘀無瘀。腹中痛與不痛。崩勢之緩急。病之新久。審斷其屬虛屬實。藥之宜補宜通。</p>
<p>宜溫宜清。宜攝宜固之理。以痛而有瘀為實。不痛而無瘀為虛。虛者補之。實者攻之。緩則溫之。急則緩之。新者消補兼治之。久者固攝兩施之。余治是症。必診其脈之沉微澀小。四肢逆冷如冰者。以大溫大補之中。參以活血消瘀之品。診其脈之緊革弦數。四肢溫和而腹痛者。以八味逍遙散。和養之也。故自制黃耆補血湯一方。總治崩症。而設加減之法。俾臨診簡於其治。恐方藥一多。致有難於選用耳。余治之數十年。愈者十常八九靡不應手取效也。至於漏下之症。如漏卮之狀。或一日一漏。或一日數見。或五日十日半月一漏者名曰經漏。與妊娠胎漏有間。經漏者。系奇脈不固。衝任失職。脾土太虛所致。或癥瘕為害。</p>
<p>宜固攝為主。次疏肝陽。繼補奇脈。余以自制固元煎治之。更以虛實之法加減而用也。凡婦人以及室女患鼻衄吐血等症。切勿以鼻衄吐血之常法治之。此名倒經。必由肝陽上升。情懷失暢。致衝任失司。逆行而上也。治宜和肝潛陽鹽柔潤下之法。俾經水一正。而倒者順矣。存之以備參考。</p>

<h3>黃耆補血湯</h3>
<p>（自制）　</p>
<p>治血崩。不拘有瘀無瘀。氣虛血虛。</p>
<p>蜜炙黃耆（四錢）　當歸（三錢）　仙居白朮（二錢）　鹿角霜（二錢）　茯神（三錢）　赤芍　制香附（各一錢五分）　廣木香（一錢）　山楂炭（三錢）　棗仁（炒）　琥珀（各一錢）　神麯（三錢）如腹痛有瘀者。加延胡（二錢）桃仁（十粒去皮）如氣血兩虛欲脫者。加麥冬（去心三錢）遠志肉（八分）倍黃耆（四錢）○如作寒熱而自汗如洗者。此血虛風盛也。不宜表散。但加荊芥穗（二錢）以疏血中之風。○如素有肝風。暈眩自汗。驚悸欲厥者。加煨天麻（一錢）姜半夏（一錢五分）去鹿角霜。○如崩後口渴。非真渴。系血虛發熱而渴也。切勿飲冷。慎之。加烏梅炭（五分）以化陰液。其渴自止。若進寒涼藥物。則血氣凝結。以成不治之症也。</p>

<h3>加減歸脾湯</h3>
<p>（方見調經）</p>
<p>治血虛氣怯。崩後赤帶白帶。</p>

<h3>養心湯</h3>
<p>（方見調經）　</p>
<p>治同前症。</p>

<h3>八味逍遙散</h3>
<p>（方見調經）　</p>
<p>治素有肝鬱者。</p>

<h3>固元煎</h3>
<p>（自制）　</p>
<p>治經漏症。</p>
<p>熟地（六錢）　歸身（三錢）　白芍（酒炒一錢）　菟絲子（炒三錢）　煅龍骨（二錢）　鹿角霜（三錢）　炙鱉甲（三錢）　杜仲（鹽水炒二錢）　潼蒺藜（三錢）　益母草（三錢）　炙甘草（五分）　廣木香（八分）</p>
<p>水煎。如素有癥瘕者當先服神功散。繼服固元煎可也。</p>

<h3>神功散</h3>
<p>（見調經）</p>

<h3>正經湯</h3>
<p>（自制）　</p>
<p>治倒經鼻衄吐血。</p>
<p>澤蘭（二錢）　當歸（三錢）　焦山梔（四錢）　阿膠（烊化三錢）　丹皮（三錢）　茜草（一錢五分）益母草（三錢）　柴胡（醋炒一錢）　琥珀（八分）　左牡蠣（五錢）加藕一斤。煎湯代水。或服逍遙散。加丹皮梔子。亦可治之。</p>

<h3>十全大補湯</h3>
<p>治病後元氣不復之症。</p>
<p>人參（二錢）　白朮（一錢五分）　茯苓（三錢）　炙甘草（五分）　熟地（八錢）　白芍藥（二錢）　當歸（三錢）　川芎（一錢）　黃耆（蜜炙三錢）　肉桂（四分）</p>
<p>水煎。○如體熱。去肉桂。加黃芩天冬（各二錢）水煎服。</p>
<p>崩漏之脈　究其根荄。六脈實大。其症為災。若遇暴下。立見其推。</p>
<p>兩寸似滑。或斷有胎。脈緩為吉。沉伏難栽。浮而兼代。</p>
<p>病必不回。緩小多愈。洪作虛栽。</p>
<p>倒經之脈　右寸浮洪。兩尺如澀。陰火上攻。咳吐痰血。無瘀易通。下虛上乘。氣必逆沖。和緩則吉。強直者凶。熱入血室。</p>
<p>嘗思病有熱入血室者。何也。讀金匱要略。而知病熱入血室者有五。第一條。主小柴胡。因女子患寒熱致經水適斷。急提少陽之邪。勿令下陷為最。第二條。傷寒發熱。經水適來。有晝明夜劇譫語見鬼之象。恐誤認為陽明實症。故云無犯胃氣及上二焦之戒。第三條。中風寒熱。經水適來。七八日脈遲身涼。胸脅滿。如結胸狀。譫語者。顯無表症。全露熱入血室之候。自當急刺期門。使知針力勝於藥力也。第四條。陽明病下血譫語。但頭汗出。亦為熱入血室。亦刺期門。必汗出而愈。第五條。明其一症。而有別因為告。故未詳辨耳。如痰涎上潮。昏冒不知。當先除其痰。後除其熱等語。所謂急者先除也。今人但知熱入血室。不辨熱邪之輕重。血室之盈虛。而獨以小柴胡一方。統以施治。貽害良多也觀葉桂先生。於熱甚血瘀者。與桃仁承氣參入山甲歸尾之屬。使瘀熱下行也。於血舍空虛。而熱邪陷入者。用犀角地黃。加丹參木通之類。以使熱下泄也。有表邪未盡者。用和解之法。至於血結胸者。有桂枝紅花湯入海蛤桃仁之品。又有瘀熱為狂者。用牛黃膏之法以清之。何嘗拘於小柴胡一法也。更觀案中治吳某熱病十七日。因經來三日後患病。熱邪乘空內陷。從蓄血如狂例治。方用澤蘭行氣解毒。丹皮清血中之熱。制軍桃仁下瘀。兼清陷下之熱。生地人中白存陰救里。可謂法之密。治之審也。得此一隅。而三隅可反矣。余治是症最多。每以金匱立法。指南參用。自能各適其宜焉。因近時婦女。冷暖不慎。飲食不節者居多。行經時一受外邪。即變熱入血室之症。而膏粱之人。自知保養。故病是症者尚少。藜藿之人。未能保養。故病是症者良多。凡治婦女之病。必詢及經水如何。或經水已至。即受風寒暑濕等邪。或已受風寒暑濕等邪。致經水適來。或病及半月餘而經水適至者。皆能熱入血室也。如病者云。經期尚遠。亦須急治其邪。恐邪氣綿延。正氣必虛。致經水適及其期。而病氣未盡。邪必乘虛欲入。急當清其餘邪。切勿挾雜血分之藥。恐導窾而入窾也。余制三方。各有加減之法。以治熱入血室之症。不無小補云爾。</p>
<p>再論熱入血室者婦人病則稍輕。室女病則更重何也。婦人體藏已疏。感邪雖入血分。易於解散。室女體藏周密。邪入血室不易外達。治不易散。余每治是症。必問經對幾日。或病先受邪。或病後受邪。審其邪之淺。深輕重。用藥之表裡緩急。凡婦女經水有盛衰。經候有遲速。或平素經行幾日方盡。如經行一日。即感外邪而致者。其瘀必多。或經行將盡。適病外邪。熱雖陷入血室。其瘀必少。瘀多者正未虛。瘀少者正已虛。更問其少腹痛否。視其神氣清否。腹痛而神昏者。瘀為多。腹不痛而神清者。瘀必少。又當辨其形狀若何。如言謇者。風邪也。自汗者。亦風也。身重者。濕邪也。有寒熱而無汗者。寒邪也。口渴面赤者。暑兼濕也。又當察其脈象。脈見弦勁者病凶。脈見徐緩者病輕。遲而寒者宜溫。數而熱者宜清。是症須急治。不宜緩治。略敘數言以參末議也。</p>

<h3>牛黃膏</h3>
<p>牛黃（二錢五分）　硃砂（水飛）　丹皮　鬱金（各三錢）　冰片（一錢）　甘草（一錢）</p>
<p>共末。煉蜜為丸。如舶茴大。每服一丸。開水化下。</p>

<h3>桃仁承氣湯</h3>
<p>（方見傷寒）</p>

<h3>犀角地黃湯</h3>
<p>（見火症）</p>

<h3>桂枝紅花湯</h3>
<p>桂枝　白芍　甘草　紅花</p>

<h3>滌邪湯</h3>
<p>（自制）　</p>
<p>治經水先來。更受熱邪。寒熱往來。或晝輕夜劇。或但身熱。不論神昏欲痙欲厥等候。</p>
<p>澤蘭（一錢五分）　琥珀（一錢）　丹皮（二錢）　天冬（三錢）　荊芥炭（一錢）　條黃芩（一錢五分）　煨天麻（八分）　白薇（一錢）　焦山梔（三錢）　桔梗（一錢）</p>
<p>水煎服。忌食生冷之物○如嘔者。加川連（薑汁炒八分）○如不省人事者。先用蘇合丸一丸。開水化服。再服本方一二劑。○如熱甚而狂者。童便一盞衝入藥內。○如神昏欲痙欲厥者。本方去桔梗天冬白薇三味。加大黃（醋炒四錢）元明粉（二錢）桂枝（五分）○如腹痛拒按者。瘀血尚多。本方去桔梗白薇天冬。加制軍（三錢）元明粉（一錢五分）天仙藤（一錢五分）　如腹微痛者。本方加桃仁（二錢去皮尖）○如受風加防風。受寒加柴胡。受濕加六一散。受暑加青蒿之屬也。</p>

<h3>御邪湯</h3>
<p>（自制）　</p>
<p>治先受邪而經水適來者。（加減法如前例）</p>
<p>澤蘭（二錢）　黃芩（一錢五分）　焦梔子（三錢）　杏仁（光三錢）　天麻（煨八分）　琥珀（一錢）　川芎（一錢）　當歸（三錢）　荊芥（一錢）加竹葉二十片。</p>

<h3>化元湯</h3>
<p>（自制）　</p>
<p>治病後邪熱，未淨。而適見經水者。（加減如前例）</p>
<p>生鱉甲（四錢）　川芎（一錢）　當歸（三錢）　琥珀（一錢）　黃芩（炒一錢五分）　茯神（三錢）　棗仁（炒一錢）　鮮生地（八錢）　澤蘭（二錢）　益母草（三錢）　神麯（二錢）</p>
<p>水煎服。</p>

<h3>小柴胡湯</h3>
<p>（方見傷寒）</p>

<h3>蘇合丸</h3>
<p>（方見厥症）</p>

<h2>胎產脈法</h2>
<p>且夫胎產之脈。異於常人。胎前之脈。與經常之脈不同。而產後之脈。與胎前之脈亦異也。婦人之脈。兩尺恆盛。此其常也。兩尺澀者。病也。浮與洪而相火內動。濡與細而陰氣不足。否則肝部弦急。腎部沉澀。兩寸緊革。皆經閉不調之候也。有尺脈微遲者。為居經也。凡婦人三部浮沉正等。無他病而停經者。孕脈也。尺大而旺者。亦孕也。尺滑者。為孕子也。左尺洪而男孕。右尺洪而女妊。若遇俱洪。雙妊之因。又以左寸洪而屬男妊。右寸洪而屬女孕。又曰。少陰動甚者。妊子也。</p>
<p>按經旨而言少陰者。指手少陰心脈而言也。婦人脈浮沉正等。按之不絕者。孕娠也。不絕者。脈滑也。體弱之婦。尺內當澀。今按之而滑者。便謂之胎。經曰。陰搏陽別。是謂有子。言尺中陰脈搏指。與寸口陽脈迥別。陰中有別陽。故云有子。婦人不月。脈來滑疾。重手按之散者。三月胎也。按之滑疾不散者。五月胎也。滑而又代者。胎亦三月也。婦人斷經月餘而欲嘔者。胚胎之兆也。按其脈。寸口弦緊者。恐不成胎而崩壞也。急當保其胚胎以補其不足。清其有餘。脈減則能保矣。脈不減者。非胚胎也是氣阻血瘀使然耳。故經云陰虛陽搏謂之崩也。妊婦七八月。脈得牢實緩大者吉。脈來沉微澀小者凶。急宜大補血分。使脈緩而胎自安矣。妊脈見革。漏下之徵。妊脈見散。欲產之兆也。故欲產之脈。散而離經。新產之脈。小緩為應。離經者。離乎經常之脈也。小緩者。小而和緩也。如新產之脈。實大緊革者。非厥必脫也。是血虛而氣旺故凶。新產血崩不止。尺脈上不至關者主死。苟用余自制黃耆湯進之。尚有得生者焉。婦人兩尺弱且澀。少腹常冷者。年少得之為無子。年大得之為絕產。婦女二七天癸至。七七天癸絕。是其候也。又有寡婦之脈。心寧神靜。氣血多滯。如遇憂勞思慮。動其氣血。擾其心神。脈多滑疾。不得妄斷為妊娠之脈也。凡室女二七之年。天癸當至。其不至者。稟賦之不足也。當二七之年。天癸已至。是合天道之常。如婚嫁失時。脈得弦。出寸口上魚際者。名曰失合症也。雖有寒熱不為病也。不治而自愈矣。</p>

<h2>驗胎法</h2>
<p>婦人經停三月。或脈象並無胎意。如偶有滲漏。法當驗之。用川芎末一二錢。以艾少許泡湯。空腹調下。臍下微微蠕動。則有胎也。不動者非也。</p>

<h2>胎前藥忌歌</h2>
<p>巴豆天雄同附子。牡丹硝桂及桃仁。紅花薏米偕麻角。茜草藜蘆穿甲莘。槐角茅根與牛膝。三稜莪漆合綿茵。南星瞿麥木通夏。刀豆蔥椒大蒜薪。麻黃薑炭延胡索。鱉甲常山麝壞娠。白蠟殼丸皆忌用。車前紅曲紫金倫。麥芽荑鶴山楂肉。香附檳榔牡蠣泯。此種猛烈休來用。胎病之中勿沾唇。昔黃帝問於岐伯曰。婦人重身。毒之奈何。岐伯對曰。有故無殞。亦無殞也。大積大聚。其可犯也。衰其大半而止。後世之人云。有病則病當之。即此意也。究系破氣破血之品。以忌用為是。切勿藉有故無殞一言。而擅用之耳。慎之戒之。</p>

<h2>胎前症治</h2>
<p>昔陳良甫良方大全有驗胎脈症辨。分縱橫順逆。以斷男女雙產三產之說。未可遽以為是也。故不備錄。凡婦人受胎一月。形如露珠。太極動而生陽。天一生水。謂之胚。足厥陰肝脈司胎。故經閉妨食。受胎二月。形如花瓣。太極靜而生陰。地二生火。謂之腪。名曰惡阻。足少陽膽經司胎。故嘔而思食。受胎三月。形如清涕。先成鼻準。次分雌雄。男女乃定。手厥陰心包絡司胎。故易於動。受胎四月。始受水精。血脈乃成。形象乃具。手少陽三焦司胎。五月始受火精。四肢生。毛髮出。足太陰脾經脈司胎。六月始受木精。筋骨成。遊其魂。左手振。足陽明胃經司之。七月始受金精。口目全。手太陰肺經司之。八月始受土精。皮膚生。九竅成。遊其魄。右手動。手陽明大腸經司之。九月始受石精。百節具備。三轉其身。足少陰腎經司之。十月神氣完具。氣血已足。足太陽膀胱司之。氣化即能產矣。○嘗云。墮胎須防三五七。其故何也。因三月之胎。手厥陰心包司之。相火一動。雖大聲笑語。亦能動胎。五月之胎。足太陰脾氣司胎。胞系繫於脾經。濕熱傷脾。故致胎病。七月之胎。手太陰肺經司之。始受金精。一遇外邪。肺先受之。故胎易墮。凡治妊婦。必以安胎為主。雖有他病。當以末治之。胎安而病自去矣。苟以祛邪為先。安胎為後。則邪未去而胎已傷矣。可不知哉。古人另設安胎一法。不令人於有病之際服之。惟逐月服一二三劑。以養胎清熱。治於未病之先也。豈治於既病之後乎。世人不論有病無病。動以安胎飲服之以示穩當。膠柱鼓瑟。不知通變。何其愚之若是也。余制一方。按月加減養胎之品最為妥當。如遇外邪。即以清邪之法佐之可也。</p>

<h3>加減安胎飲</h3>
<p>妊婦每月服二三劑最妙。</p>
<p>生地（五錢）　歸身（二錢）　川芎（五分）　酒炒白芍（八分）　白朮（二錢）　條芩（酒炒一錢五分）　杜仲（炒二錢）　清炙綿蓍（三錢）　砂仁末（五分）加棗二枚。水煎。</p>

<h3>養元湯</h3>
<p>（自制）</p>
<p>治妊娠。每月加減而服。以養胎元。</p>
<p>生地（五錢）　歸身（二錢）　白朮（二錢）　條芩（炒一錢）　黃耆（二四五錢蜜炙）</p>
<p>始受之胎。一月足厥陰養之。本方加桑寄生（三錢）○二月足少陽養之。本方加川貝母（二錢）減黃耆一半。加條芩一倍炒。○三月手厥陰養之。本方加川連（六分）減黃耆一半。○四月手少陽養之。本方去黃耆。加阿膠（一錢）衝入。地骨皮（三錢）○五月足太陰養之。本方加茯苓山藥（各三錢）○六月足陽明養之。本方加川連（五分）大棗三枚。○七月手太陰養之。本方加知母（炒一錢）天冬（三錢）百合（三錢）炙橘紅（八分）○八月手陽明養之。本方去白朮。加川連（酒炒五分）黨參（三錢）○九月足少陰養之。本方加黨參（三錢）杞子（三錢）川芎（八分）白芍（炒一錢）○十月足太陽膀胱養之。本方去白朮加川芎（一錢）炒白芍（一錢五分）黨參（三錢）枸杞子（三錢）炙龜板（三錢）服四劑。俟其氣化而產也。不必另服滑胎飲也。然滑胎飲。近時多用之。往往生變。貽患良多。況產之難易。由氣血之衰旺所致。旺者易產。衰者難生。此方按月補養。氣血自足。至十月而加龜板者。取其易開交骨也。為臨盆之要法。譬如挽舟入水。其產最易。瓜之熟。蒂自落矣。何患乎難產哉。若用滑胎等劑。是強治之法。難產危候。悉由此出。可不勉哉。</p>

<h2>胎動不安論</h2>
<p>妊婦胎動不安。由起居失時。飲食失常。或因寒氣搏其衝任之脈。或因跌撲損傷。或因叫號動怒。或脾胃虛弱。皆能動胎。若因母病而致胎動者。母病愈而胎安也。若因胎動而致母病者。安其胎而母病愈也。更當審望其色。面赤舌青者。胎死腹中也。面青舌赤者。子母難全也。此診妊婦之要法一切胎動之病。不必另決安胎之法。余以加減安胎飲為主。凡六淫外受。欲害胎氣者。以治六淫之品。按邪加入。惟跌撲損傷有害胎元。宜加減安胎飲內更加青木香（六分）川續斷（三錢）可也。右錄景岳安胎散方。亦可選用。</p>

<h3>安胎散</h3>
<p>（景岳）</p>
<p>熟地　艾葉　白芍　川芎　黃耆　阿膠　當歸　炙甘草　地榆　生薑　大棗</p>

<h2>胎漏</h2>
<p>問曰。胎漏何故。答曰。婦人經水。無孕則按期而行。有孕則蓄養其胎。至產後化為乳汁。妊婦經水。偶下為漏。若不攝納其血。必漏下無度。瀝盡其血而胎將安養。每致墮下。若因熱迫血下者。當急清其熱。若因怒動肝。致肝不藏血而漏者。其病最重。胎必難保。下血色鮮無瘀塊者。宜加減安胎飲。倍加黃耆（三錢）棗仁（一錢）柴胡（五分）治之。若漏下已見瘀塊者。胎必不保也。宜加減安胎飲。加黨參（三錢）炙龜板（三錢）以補其陰。庶乎瘀盡而胎未下者。宜速進安胎飲四五劑。俾新血漸生而胎可留也。如胎已墮下。即服生化湯三四劑。如遲疑不果。不特胎之不留。而母命亦難全也。詳見產後方論。</p>
<p>余之用龜板一味。取其補水養木之意。切勿執謂龜板能開交骨。而畏不敢用開交骨者敗龜也。</p>

<h2>子懸</h2>
<p>（附子眩）</p>
<p>胎氣上逼。緊塞胸次之間。名曰子懸。因嗔怒動肝。或不慎起居。或脾氣鬱結。或憂思傷及心脾者。宜香蘇飲加減主之。若火氣上升。內風擾動。而暈眩欲厥者。名曰子眩。或因痰涎上潮。而暈眩欲嘔者。宜以二陳湯加減治之。</p>

<h3>香蘇飲</h3>
<p>治子懸。</p>
<p>制香附（一錢）　蘇葉（一錢五分）　陳皮（八分）　炙甘草（五分）</p>
<p>水煎服。如胎氣上迫。加枳殼（一錢）條芩（炒一錢五分）如嗔怒動肝者。與不慎起居者。加柴胡條芩（各一錢）如脾氣鬱結。加丹參茯神（各三錢）如憂思太過者。加仙居白朮（二錢）砂仁（七分沖）水煎。</p>

<h3>二陳湯</h3>
<p>治子眩。</p>
<p>姜半夏（一錢）　茯苓（三錢）　炙甘草（五分）　陳皮（八分）</p>
<p>水煎服。○如氣火上升者。加焦山梔（三錢）天仙藤（一錢）如內風旋眩欲厥者。加煨天麻（一錢）鉤藤（三錢）甘菊花（一錢）○如痰氣作眩者。加川貝母（一錢）麥冬（去心二錢）栝蔞皮（二錢）竹茹一丸。青果一枚。</p>

<h2>子氣</h2>
<p>子氣者。妊婦衝任受風。故兩足腫大。喘悶妨食。甚則足指甲出黃水。名曰子氣。非水氣也。大忌利水之劑。宜天仙藤散治之。</p>
<p>天仙藤（二錢）　炒香附（一錢）　烏藥（一錢）　炙甘草（五分）　陳皮（一錢）　蘇葉（一錢）　木瓜（二錢）</p>
<p>水煎服。此方系香蘇飲加減。內有木瓜之活血。烏藥之下氣。雖屬古方。究未穩當。不若用天仙藤木瓜烏藥鹿銜草（各一兩）煎湯熏洗。為妥且妙也。</p>

<h2>子腫</h2>
<p>子腫者。肢體面目足跗皆腫也。系胎中受濕。與血相搏。濕氣流溢使然。名曰子腫。與子氣大相懸殊。一名胎水。因引飲過多。或脾虛泄瀉。土不制水所致。妊婦五六月中多有之。宜白朮散治之。</p>

<h3>白朮散</h3>
<p>白朮（土炒二錢）　茯苓皮（五錢）　陳皮（一錢）　大腹皮（一錢五分）　姜皮（一錢五分）</p>
<p>共末。米飲調下四錢。（指迷方有桑白皮三錢無白朮即五皮飲也○丹溪除姜皮大腹皮二味加木通川芎取補土導水行氣之妙余以川芎活血動胎木通導水太峻況苦寒之品未為穩當不若白朮散為安也）</p>

<h2>子煩</h2>
<p>子煩者。心煩而悶亂也。因君相之火內動。而腎水不能制火。亦有痰阻中脘而煩悗者。治之之法。清上中二焦之火為主。若氣虛而胃不和者。亦有虛煩也。宜香砂六君子湯治之。</p>

<h3>淡竹葉湯</h3>
<p>治君相火動而煩者。</p>
<p>淡竹葉（三錢）　黃芩（炒）　知母（各一錢）　麥冬（去心）　茯苓（各三錢）</p>
<p>水煎。</p>

<h3>香砂六君子湯</h3>
<p>治胃虛而煩者。</p>
<p>黨參　茯苓（各三錢）　仙居術（二錢）　姜半夏　陳皮（各一錢）　炙甘草　砂仁　廣木香（各五分）加棗三枚。</p>

<h2>子癇</h2>
<p>子癇者。妊婦血虛受風。口噤。角弓反張。不省人事。痰涎上潮。名曰子癇。其症暴而且危。宜羚羊角散急服一二劑。如因嗔怒而致者。本方加白芍桑葉條芩（炒各一錢）挾虛風者。加煨天麻棗仁（各一錢）水煎服可也。</p>

<h3>羚羊角散</h3>
<p>羚羊角（鎊一錢五分）　獨活（一錢五分）　歸身（三錢）　川芎（一錢）　茯神（三錢）　羌活（一錢）　苡仁（三錢）　防風（一錢）　炙甘草　東洋參（各七分）　鉤藤（二錢）　桑寄生（二錢）加姜三片煎服。</p>

<h2>子鳴</h2>
<p>妊婦不慎起居。登高舉臂。致兒口脫出。故腹內喊叫。名曰子鳴。婦人臍上疙瘩。兒含於口。故脫出即鳴。但使妊婦曲腰就地上拾物一二刻時。其疙瘩仍入兒口。其鳴即止。服補陰益氣煎自愈。</p>

<h3>補陰益氣煎</h3>
<p>熟地（五錢）　歸身（三錢）　懷山藥（三錢）　黨參（三錢）　陳皮（一錢）　升麻（三分）　柴胡（七分）　炙甘草（五分）</p>
<p>水煎服。</p>

<h2>子喑</h2>
<p>經云。人有重身。九月而喑。當不服藥。十月當復。岐伯曰。胞胎繫於腎。腎脈系舌本。故不能言。十月分娩後自能言也。余以心火暴甚。腎水太虛。偶觸外風。風阻其竅。故不能言也。曾治一妊婦。身已九月。因砑紙曲躬。砑畢出外淅米。偶受風邪。卒然身發大熱。神躁不安。卒然欲厥。余診其六脈浮躁無倫。詢其家。得砑紙情由。遂用桔梗獨活蘇梗黃芩四味。各一錢五分。水煎飲之。吐膠痰盈碗。更用燈草灰吹鼻。得嚏數聲而愈。今制桔梗獨活湯以治子喑。以備酌用。慎勿妄投開竅豁痰之品。以致殞胎。慎之慎之。</p>

<h3>桔梗獨活湯</h3>
<p>（自制）</p>
<p>桔梗　獨活　蘇梗　條芩（各一錢五分）　真化橘紅（八分）加生薑三片。青果一枚。水煎。</p>

<h2>子瘧</h2>
<p>（新著）</p>
<p>妊婦患瘧。名子瘧。每見妊婦五六個月。肝虛受邪。致化瘧疾。或風或寒。或暑或濕。不得以治瘧之常法治之。因肝藏血。血虛者氣必旺。瘧脈自弦。弦者必有痰。古人云。無痰不成瘧。妊婦患之。每致墮下。治不得法。子母難全。何也。患瘧致墮。墮後瘧邪留著不去。其血愈虛。其邪愈盛。宜作血虛痙症例治。庶乎免死矣。然治子瘧。必以安胎為主。清邪之法佐之。胎可安而子母全矣。可忽乎哉。特著之以俟裁正。</p>

<h3>治瘧安胎飲</h3>
<p>（自制）</p>
<p>生地（五錢）　天冬　南沙參（各三錢）　知母（炒）　條芩（炒）　防風（炒）　白朮（各一錢五分）橘紅（八分）　蘇梗（一錢）</p>
<p>加姜一片煎。○如受風者。加獨活（一錢）受寒者。加牛蒡子（炒二錢）○如受暑者。加竹葉三十片。生石膏（二錢）如受濕者。加茯苓（四錢）仙半夏（一錢）以蒼朮易白朮水煎。○欲嘔者。加川連（薑汁炒八分）如已成壞症而欲發斑疹者。本方去白朮加牛蒡子（二錢）薄荷（一錢）馬勃（五分）活水蘆根（即葦莖一兩）水煎。大忌動血之藥。慎之。</p>

<h2>子痢</h2>
<p>（新著）</p>
<p>妊婦患痢下一症。名子痢。因脾腎兩虛。不節飲食。以及生冷水濕等物。或不慎寒暄。坐臥乘風或夏秋間濕熱膠滯腸胃。以致下痢。最難調治。治不得法。不治者甚多。甚至子母難全。可不懼哉。其候腰痛氣滯。裡急後重。少腹㽲痛。不得以治痢之常法治之。妄用攻下。否則峻表。皆是傷胎之劑。胎元受傷。不特胎墮。即其母正氣大虛。亦多難療。余治是症。每以淡滲之劑滲其濕。又用升清之品。以其胎必在下焦。胎宜升起。其邪熱自能漸下。更用安胎清熱之品。固其胎元。往往得心應手。故自制治痢安胎飲。以俟同道者選用。</p>

<h3>治痢安胎飲</h3>
<p>（自制）</p>
<p>綿蓍（三四錢炙）　生地炭（三錢）　歸身炭（二錢）　茯苓（三錢）　澤瀉（二錢）　升麻（炒五分）銀花（三錢）　條芩（酒炒一錢五分）　川連（酒炒八分）　廣木香（五分）　範志曲（二錢）</p>
<p>加荷葉一角。水煎。○如噤口者。水湯不進而嘔吐頻頻。本方加石蓮子（三錢）石菖蒲（三分）姜三片。去生地炭一味。煎服。○口渴者。切忌生冷水果。本方加青果一枚。烏梅一枚。○如赤痢。加地榆炭（三錢）○白痢。加白槿花（一錢）如腹痛甚者。加川椒二十粒。去升麻一味。更加白芍（一錢）○如赤白兼者。加天仙藤（二錢）驢膠（一錢）去廣木香。水煎服。○或外加扁豆葉二十片以醒胃氣。最妙。</p>

<h2>胎消</h2>
<p>（即胎不長足）</p>
<p>妊娠胎形不長。延及一二年不產者。因婦多宿疾。或瘕聚為害。或起居不慎。或時有憂思。致脾胃大虛。不能輸精養胎。必須大補元氣。宜加味八珍湯。長胎為佳。</p>

<h3>加味八珍湯</h3>
<p>黨參（三錢）　白朮（二錢）　茯苓（三錢）　炙甘草（八分）　熟地（六錢）　川芎（八分）　歸身（二錢）　炒白芍（八分）　炙黃耆（五錢）</p>
<p>水煎服。</p>

<h2>鬼胎</h2>
<p>婦人臟腑安和。氣血充足。則妖魅之氣。所不能侵也。惟正氣大虛。兼之邪念叢生。妖魅之氣。所得而乘之。經閉不行。狀如懷子。面色痿黃無神。脈來大小不等。寒熱交作。形神不振。名曰鬼胎。宜雄黃丸攻之。又有心氣不足。腎水大虛。心多妄念。致夢與鬼交者。宜安神定志丸治之。</p>

<h3>雄黃丸</h3>
<p>明雄黃　鬼臼（去毛）　丹砂（水飛各五錢）　延胡（七錢）　麝香（一錢）　川芎（七錢）　姜半夏（一兩）</p>
<p>為末。蜜丸梧子大。每服三十丸。空腹溫酒下。</p>

<h3>安神定志丸</h3>
<p>茯神　茯苓　人參　遠志肉（各一兩）　石菖蒲　龍齒（各五錢）</p>
<p>煉蜜為丸。梧子大。辰砂為衣。每服二錢。臨臥時以人參湯送下。或燈心七支。泡湯送下。</p>

<h2>妊婦內癰</h2>
<p>妊婦胃癰。多食炙爆煎熬之物。助起胃火或動肝火。皆能成之。小腸癰因素有瘀血。挾起濕熱滲入膀胱而成。小腸癰之象。足不能伸縮者是也。至於大腸癰之症。亦由濕熱內著。結而成癰。其候大便秘結。小腹堅腫。內作水雞聲。甚至臍黑而高突者。法在難治。又有乳癰一症。俗名內吹。系肝鬱生火。肝陽太旺所致。宜逍遙散治之。</p>

<h3>加減千金牡丹皮飲</h3>
<p>治妊婦一切內癰。惟乳癰不宜。</p>
<p>丹皮（一兩）　米仁（一兩五錢）　栝蔞仁（一兩）　銀花（二兩）　草河車（即蚤休二兩）</p>
<p>共末。每服五錢。水煎服。○胃癰加川連五錢共末可也。</p>

<h3>神效化癰散</h3>
<p>（自制）</p>
<p>治妊婦乳癰。</p>
<p>當歸（二錢）　炒白芍（一錢）　炒青皮（八分）　柴胡（一錢）　茯苓（三錢）　夏枯草（三錢）　鹿角霜（一錢）加青橘葉十片。菊花（二錢）煎服。此方較神效栝蔞散更妥。錄後以備參考。</p>

<h3>神效栝蔞散</h3>
<p>全栝蔞（一枚）　粉甘草　當歸（酒洗各五錢）　制乳香　制沒藥（各一錢）</p>
<p>水煎。熱酒沖服。此法因乳香沒藥二味去瘀太峻。恐傷胎元。故宜加意而用。如萬不得已。服一劑可也。不宜再服。</p>

<h2>妊婦護胎法</h2>
<p>妊婦患時症或患六淫重症。急用護胎之法。用井底泥塗臍至關元。（臍下三寸）干則再易之。或以青黛伏龍肝（即灶心泥）為末塗之。再服安胎清邪之劑。庶免墮胎之患矣。</p>

<h2>妊婦大小便不通</h2>
<p>（附轉胞）</p>
<p>妊婦大便不通。因血燥火旺所致。宜六味丸去丹皮加川柏知母治之。小便不通。因胎墜於下焦。厭在胞中。胞系繚戾。則小便點滴難通。宜宗古人以陷者舉之一法治之。名曰轉胞。胞轉則自通矣。宜補中益氣湯治之。</p>

<h3>六味去丹皮加黃柏知母湯</h3>
<p>生地（八錢）　澤瀉（三錢）　茯苓（三錢）　淮山藥（二錢）　山萸肉（八分）　川柏（一錢五分）　炒知母（一錢五分）</p>
<p>清煎。</p>

<h3>補中益氣湯</h3>
<p>（見痢疾症）</p>
<p>炙黃耆（三錢）　白朮（二錢）　陳皮（一錢）　升麻（六分）　東洋參（一錢）　生甘草（五分）　當歸身（二錢）　柴胡（一錢）</p>
<p>加淡竹葉三十片。方隨服後。以指探喉。嘔一次可愈。當連服數劑可也。</p>

<h2>妊婦出乳</h2>
<p>（附乳卸　並附保產順生方法）</p>
<p>妊婦有乳自出。名曰泣乳。因氣旺血湧使然。宜加味八珍湯。加柴胡（醋炒一錢）方見胎消症。又有乳頭脫落。名乳卸。因肝家風熱太盛。宜神效逍遙散。去鹿角霜青皮二味。加防風（一錢五分）方見內癰症。外用防風白朮煎湯熏洗可愈。</p>

<h3>神驗保產無憂散</h3>
<p>凡妊婦九個月外。未臨盆時。預服二三劑。可免一切產難之虞。流傳已久不得輕視。當珍重用之。</p>
<p>當歸（酒洗一錢五分）　川貝（一錢）　酒炒白芍（一錢二分）　黃耆（八分）　菟絲子（一錢四分）　薑製厚朴（七分）　艾葉（七分）　荊芥穗（八分）　枳殼（六分）　川芎（一錢三分）　羌活（五分）　甘草（五分）水二鍾。姜三片。煎至八分。空腹溫服。百無一失。</p>

<h3>華佗順生丹</h3>
<p>硃砂（五錢水飛）　制乳香（一兩）</p>
<p>為末。以端午午時。用豬心血為丸。如芡實大。每服一丸。以當歸（三錢）川芎（二錢）煎湯送下。</p>

<h3>順生丹</h3>
<p>硃砂（水飛五錢）　丁香（五錢）　麝香（一錢）　制乳香（一兩）　石燕（一對煅醋淬七次）</p>
<p>上為細末。擇天月德日。用益母草熬膏為丸。如芡實大。每服一二丸。川芎（一錢）當歸（二錢）煎湯送下。</p>
<p>凡婦人初胎。氣血完固。腹皮緊窄。交骨未易即開。其胞胎最難轉動。必補養血氣之劑多服為妙。而保產無憂散最效。嘗見初胎致難產者最多。因不能忍痛。早經穩婆之手。生擒活剝。余每遇初胎。必先吾以忍痛為第一。勿食肥膩為第二。勿久坐為第三要法。任其自產。但使穩婆包紮小兒而已。勿令動手推挪。更須壯孕婦膽量。使勿自張皇。自然萬無一失矣。語雖近粗。而道合至正也。</p>

<h2>難產十論</h2>
<p>楊子建云。凡生產先知此十症。庶母子兩命皆得保全。世之收生者。殊少精良妙手。多致誤事。予因痛切而備言之。</p>
<p>一曰正產。懷胎十月。陰陽氣足。忽然腰腹齊痛。兒自轉身頭向產門。漿破血下。兒即正生。</p>
<p>二曰催生。兒頭至產門。腰腹齊痛。仍不產者。方服藥催之。或經日久。產母困倦難生。宜服藥以助氣血。令兒速生。</p>
<p>三曰傷產。胎未足月。有所傷動。以致臍腹疼痛。忽然欲產。或因妄服催藥。逼兒速生。如此生息。未必無傷。慎之。</p>
<p>四曰凍產。天氣寒冷。產母氣血凝滯。難以速生。則衣服宜厚。產室宜暖。下裳更宜溫厚。庶兒易生。更不宜火氣太熱。恐致血暈。</p>
<p>五曰熱產。盛暑之月。產婦溫涼得中。過熱則頭目昏眩。而生血暈之症。若涼臺水閣。以及狂風陰雨。更當謹避。</p>
<p>六曰橫生。言兒方轉身。產母用力太急。逼令兒身不正。當著產母安然仰臥。令老練穩婆。先推兒身順直。頭對產門。以中指探兒肩。不令臍帶絆羈。然後用藥催之。再令產母努力。兒即順生。</p>
<p>七曰倒產。言兒並未轉身。產母妄自努力。令兒手足先出。當著產母安然仰臥。令穩婆輕手推兒入內。候兒自順。若良久不生。令穩婆手入產門。就一邊撥兒轉身。順向產門。即服催生藥。並努力。即出。</p>
<p>八曰偏產。言兒雖已轉身。但未順向生路。產母急於努力。逼兒頭偏向一邊。雖露兒頂。非乃額角耳。當令產母仰睡。穩婆輕手扶正其頭。即服催藥。並努力兒即下。若兒頂後骨偏注穀道。露額。令穩婆以綿衣烘暖裹手。於穀道外旁輕手托正。令產母努力。兒即順生。</p>
<p>九曰礙產。言兒身已正。門路已順。兒頭已露。因兒轉身臍帶絆其肩。以致不生。令產母仰臥。穩婆輕手推兒向上。以中指按兒肩。脫去臍帶。仍令兒身正順。產母努力。兒即生。</p>
<p>十曰盤腸產。臨產子腸先出。然後生子。腸出時。以極潔淨不破損漆器盛之。古方用萆麻子四十九粒。研爛。塗產母頂心。腸即收上。此平穩之法。宜選用之。又方。以大指捻麻油潤之。點燈吹熄。以煙燻產婦鼻中。腸即收上最平最穩。</p>
<p>以上十產論。密且精矣。足見醫道之難。不容浮躁涉獵者問津也。</p>

<h2>交骨不開產門不閉論治</h2>
<p>交骨不開者。有鎖骨也。因血虛不能運達。故不開。令穩婆以麻油調滑石。塗入產門中。或用兩指緩緩撐開。並服芎歸湯。候藥力一到。即可分娩。若產後產門不閉。氣血虛也。用加味八珍湯補之可也。如胞衣不下。亦宜芎歸湯主之。</p>

<h3>加味芎歸湯</h3>
<p>當歸（五錢）　川芎（三錢）　自敗龜板（童便炙酥三錢）　婦人頭髮（一握燒灰存性）</p>
<p>水煎服。如人行五里地時即生。如無自敗龜板。藥肆中所買者。亦可代用。</p>

<h3>加味八珍湯</h3>
<p>（方見胎消症）</p>

<h1>卷六</h1>

<h2>產後證治總論</h2>
<p>產後病苦雜亂。金匱中著產後三病。最為簡括。一者病痙。二者病鬱冒。三者病大便難。悉屬血去陰傷之變。新產血虛。故多汗出。汗出易為風中。故令病痙。亡血復汗。寒多。故令鬱冒。亡津液。必胃燥。故大便難。此三者。系產後屢有之病。其餘一切病症。皆可心領神會矣。張路玉云。產後元氣虧損。惡露乘虛上攻。眼花頭暈。或心下滿悶。神昏口噤。或痰涎壅盛者。急用熱童便主之。或下血過多而暈者。神昏煩亂。芎歸加人參澤蘭童便。補散並施可也。又有三沖大症。因敗血上衝。衝心。沖肺。沖胃。是也。衝心。則歌舞談笑怒罵。坐臥不安。甚至逾牆上屋。此敗血衝心。多死不治。用花蕊石散。琥珀黑龍丹。兼有得生者。沖胃。則嘔惡飽悶。腹滿脹痛。失笑散平胃散治之。若腹脹而兼嘔逆者。因敗血已化為水。在法不治。宜金匱下瘀血湯主之沖肺。則面赤嘔逆。喘急欲死。人參蘇木湯主之。大抵衝心者多死。沖胃者半生半死。沖肺者十死七八。此皆產婦不耐久坐。急於早眠所致。凡新產後務令產母坐蓐三四個時辰。使穩婆時常幽靜頻喚。不令閤眼。恐肝氣抑鬱。遂致惡露上衝。故時久得眠。庶無三沖之患。否則起居不慎。稍感風寒。亦致患三沖症者居多。故治產後諸症。必以行瘀為主。須養至百日後。作常人論治。凡有血分之症。悉在調經例中。余擇產後之最關緊要者。而辨明之。故自制三沖方法。以為臨證選用。凡產後一語。言新產後百日內之症。非指婦科之常病也。丹溪論產後必當大補氣血。雖有他症。以末治之。此論已括盡產後大旨矣。如產後憂怒驚恐勞倦諸症。易於釀禍。如有氣。毋伐正氣。如有食。毋伐胃氣。有表邪。毋傷表氣。有里病。毋傷裡氣。雖有口渴身熱之象。勿用寒涼之劑。如涼藥入口。多致不救。因產後瘀多血少。陰虛者必發熱。所以產後宜熱不宜涼也。凡一月之內。不論形似外感。不得以表藥重發其汗。（雖三陽表症確有可指之形不宜以三陽表法治之雖三陰里症確有形證之據亦不宜以三陰里法施治）總以活血祛瘀之法為主。佐以清散之品使邪正悉協中和之道。為至穩至當之理也。若過於消瘀。亦非法也。必新血生而後瘀血可去。故去瘀生新。尤為善治。如產後一個時辰。即宜速進生化湯。以逐瘀活血。勿使惡露停滯。日服一劑。連進三四服可也。凡產婦七朝之內。須逾格小心。調護宜周。勿使憂怒驚恐。撫養七日之後。即有觸受外邪。較七日之內減輕一層。因血瘀淨去故也。養過十四朝之後。勿使小勞抑鬱等情。則更妙矣。調養百日。氣血乃復。如半產之症。須問月分之多寡。墮胎每至三五七月為多。如胎氣三四月致墮。其病稍輕。如胎已五六月致墮。其病已重。如七八九月致墮。則更重矣。因胎未長者。妊婦之氣血尚足。故輕胎已長者。妊婦之血氣大虛。故重又有先崩而後產者。有先產而後崩者。先產後崩者。必產婦素有宿病。氣血衰脫所致。先崩後產者。必有跌撲損傷。內有絡瘀所致。二症均宜補氣攝血。佐以消瘀之法為當。不得全用活血祛瘀方法。恐瘀血雖去而正氣虛脫也。又有胞衣不下者。因產婦送兒努力。氣已虛乏。無力送衣。或因平素體氣虛弱。血水瀝盡。而胞衣澀滯不下。皆宜速煎大劑生化湯進之。使血旺腹和。衣被宜暖。勿使受寒。胎衣自下如不下。令產母切勿臥倒。只宜坐守以待胞落。胞衣落後。還宜連進生化湯數劑。如腹痛已止。更用加參生化湯服數劑可也。此治產後之大略。宜細玩焉。</p>

<h3>生化湯</h3>
<p>當歸（八錢）　川芎（四錢）　桃仁（十三粒）　薑炭（五分）　炙甘草（五分）</p>
<p>用水三鍾。煎至八分。加無灰陳酒三四匙。衝入而服。須產後二個時辰內服之。可免變幻。本方加東洋參。或黨參一錢五分。名加參生化湯。</p>

<h3>如聖散</h3>
<p>治胞衣不下。肘萆麻肉（二錢）　雄黃（二錢）共研成膏。塗母足心。胞衣即下。一下。即宜洗去為要。</p>

<h3>益母丸</h3>
<p>治胞衣不下。以益母草一味連根葉花於當風處陰乾為末。蜜丸。彈子大。每服一丸。生化湯沖服。</p>

<h3>承氣生化湯</h3>
<p>（自制）　</p>
<p>治產後胃燥亡津液。大便結閉。</p>
<p>制軍（三錢）　川芎（三錢）　全當歸（六錢）　桃仁泥（二錢）　炮姜（五分）　炙甘草（五分）</p>
<p>水煎。加酒三匙沖。</p>

<h3>桂枝生化湯</h3>
<p>（自制）　</p>
<p>治產後汗多。口噤咬牙。角弓反張。名曰痙病。因血虛風。生故也。</p>
<p>桂枝（六分）　白芍（酒炒一錢）　川芎（三錢）　當歸（五錢）　桃仁泥（二錢）　炮姜（五分）　炙甘草（五分）　煨天麻（一錢）　琥珀（一錢）　澤蘭（一錢五分）　益母草（三錢）加酒三匙沖。</p>

<h3>柴胡生化湯</h3>
<p>（自制）　</p>
<p>治產後鬱冒寒多。復汗。身熱。</p>
<p>柴胡（酒炒一錢）　川芎（二錢）　當歸（五錢）　桃仁（十三粒）　炙甘草（五分）　炮姜（五分）　荊芥（一錢）　酒炒黃芩（一錢）</p>
<p>水煎。加酒半盞沖服。</p>

<h3>清心生化湯</h3>
<p>（自制）　</p>
<p>治敗血衝心。</p>
<p>生蒲黃（四分）　炒蒲黃（四分）　琥珀（一錢）　當歸（四錢）　川芎（二錢）　桃仁（十粒）　炮姜（五分）　遠志（八分去心）　澤蘭（二錢）　炙甘草（五分）　黑料豆（一合）　加蘇木（五分）　降香（三分）水煎。衝入陳酒少許。</p>

<h3>平胃生化湯</h3>
<p>（自制）　</p>
<p>治敗血沖胃。</p>
<p>醋炒大黃（三錢）　厚朴（一錢）　川芎（二錢）　當歸（四錢）　桃仁（十粒）　黑料豆（一合）　炮姜（四分）　炙甘草（四分）　麥芽（三錢炒）加蘇木（五分）降香（二分）水煎。加酒五匙沖。</p>

<h3>救肺生化湯</h3>
<p>（自制）</p>
<p>治敗血沖肺。</p>
<p>白蛤殼（五錢）　桃仁（十三粒）　川芎（二錢）　當歸（三錢）　炙甘草（五分）　炮姜（五分）　琥珀（一錢）　黑料豆（一合）　川貝（二錢炒）　真化橘紅（一錢）加蘇木（五分）降香（四分）水煎。加酒半盞沖。又童便一盞沖。</p>

<h3>花蕊石散</h3>
<p>花蕊石（四兩）　硫黃（一兩）</p>
<p>研細。泥封煅赤。每服一錢。童便調下。然此方太峻。慎勿輕用。</p>

<h3>琥珀黑龍丹</h3>
<p>當歸　五靈脂　川芎　良薑　熟地（各二兩）</p>
<p>上藥。銼碎入砂鍋內。用紙筋鹽泥固濟。火煅過百草霜（一兩）硫黃乳香（制去油各一錢）琥珀花蕊石（各一錢）共為細末。醋糊丸。如彈子大。每用一二丸。更用炭火煅赤。投入生薑。自然汁浸碎。以童便調下可也。然此藥峻猛。慎勿輕用。不過備之以待參考。總以勿用為是。</p>

<h3>失笑散</h3>
<p>（見厥症）</p>

<h3>人參蘇木湯</h3>
<p>人參（二錢）　蘇木（一錢五分）</p>
<p>水煎。加陳酒三匙衝入。</p>

<h3>平胃散</h3>
<p>蒼朮（一錢）　厚朴（二錢）　陳皮（一錢）　炙甘草（五分）</p>
<p>水煎服。</p>

<h3>下瘀血湯</h3>
<p>大黃（一兩）　桃仁（二十粒）　䗪蟲（十五枚去足熬）</p>
<p>上藥三味。研末煉蜜。分作四丸。以酒一升煮一丸。取八合。頓服之。新血下如豚肝。</p>

<h3>黃耆湯</h3>
<p>（自制見血崩症）　</p>
<p>治先產後崩。先崩後產。皆效。</p>

<h2>產後瘧疾痢疾</h2>
<p>產後患瘧。其人必肝陽素盛。血衰氣旺者居多。或胎前曾有發熱等症。至產後邪正交渾而化瘧者。或產後不慎起居。觸受風寒暑濕等邪而成瘧者。總以祛瘀活血為主。大忌表散。恐邪去正傷故也。又有產後瘀血滲入大腸而化痢者。其痢日夜無度。裡急後重。腹中切痛。大忌攻下之劑。亦宜消瘀導滯為主。若誤用攻藥。每多虛脫。若感寒濕風熱暑邪而致痢者。亦宜消瘀為主。清邪之藥稍加數味可也。然產後正氣先虛。血舍一空。一遇瘧痢等症。勢已危殆。若遽以表之攻之之法而治。如此重大之症。譬如人已入井。而更下石塊之甚也。可不慎歟。余自制治瘧治痢方各一首。以為臨證權衡。亦補古人所未備也。</p>

<h3>柴胡生化湯（見前證治門）</h3>
<p>治產後瘧痢在十四朝以內者。如嘔者。加川連（八分）吳茱萸（六分）○如寒多。加桂枝（七分）赤芍（一錢）○熱多。加枳殼（一錢）知母（一錢炒）○如十四日之外。</p>
<p>惡露必淨。加黨參一二錢不妨。</p>

<h3>治痢生化湯</h3>
<p>（自制）</p>
<p>○治痢在產後七日前後者。</p>
<p>川芎（二錢）　當歸（四錢）　炮姜（五分）　炙甘草（五分）　桃仁（十粒）　琥珀（八分）　厚朴（一錢）　大腹皮（一錢）　山楂肉（三錢）　川椒（四分）　香連丸（一錢）加姜三片。○如赤痢。加紅花（八分酒炒）○如白痢。加茯苓（三錢）肉桂末（三分沖）制香附（一錢五分）○如赤白兼者。本方去川椒。山楂肉。加制香附（二錢）藿梗（二錢）姜半夏（一錢五分）澤瀉（三錢）肉果霜（六分）切忌攻補寒涼等法為當。</p>

<h2>產後時邪風寒暑濕燥火證治</h2>
<p>產後七日內患時邪。壯熱。口渴或身痛。或頭痛。或咽痛。宜與產後鬱冒例治。甚則四肢厥逆口噤。譫語神昏。或不語等症。悉由瘀血不行。時邪湊之。況新產之後。血舍一空。神不守舍矣。雖有外邪。以末治之。陳三錫之三合湯。最為妥治。更以熱童便徐徐呷下。使瘀血下行。其邪可解。不然。愈治愈劇。不治者甚多。恐世人慾求穩當。先清時邪。繼治血分。不但邪不易解。而瘀逆反不下行。此求穩當而致不穩不當之禍也。內經曰。熱淫於內。治以鹹寒。佐以苦溫。此因寒遠寒之旨也。又曰。有故無殞。亦無殞也。余制六和生化湯以治之。不論風寒暑濕燥火。逐一加減。庶乎臨證之時有所持循。豈可妄為施治哉。</p>

<h3>三合湯</h3>
<p>（方見瘟疫正治）　</p>
<p>此方本小柴胡。小清涼。生化湯。三方加減。合而為一。</p>

<h3>六和生化湯</h3>
<p>（自制）　</p>
<p>治產後六淫外侵。隨症斟酌加減。</p>
<p>川芎（二錢）　當歸（四錢）　炮姜（四分）　炙甘草（五分）　桃仁（十粒）　茯苓（三錢）　砂仁殼（一錢）　橘紅（八分）</p>
<p>水煎服。○如頭痛發熱。項強身疼。脈浮而緊為傷寒。不宜與麻黃髮表。宜加羌活防風薄荷（各一錢）以取微汗為妥。○如汗出漐漐。惡風頭痛發熱為傷風。加蘇梗黃芩（炒各一錢）桑白皮（二錢）○如夏月受暑。煩悶口渴。自汗心悸微熱。宜加青蒿（一錢）麥冬（去心三錢）酒炒知母（一錢）生綿蓍（八分）○如受濕潮熱。脈澀口不渴。身疼神倦者。加澤瀉（三錢）滑石（二錢）桂枝（五分）大腹皮（一錢）○如秋燥與火侵肺。致渴而喘嗽者。宜加桑葉淡芩（炒一錢五分）川貝（二錢）淡竹葉（一錢）愈後即宜溫調氣血為治。凡產後一切外感。不論正類傷寒。總以生化湯為主。加祛邪之品一二味可也。切勿拘執六經治法。以冒為高古。至於類中風一症。在常人而論。已詳中風門矣。而產後患類中風症。與鬱冒痙病例治。宜桂枝生化湯加減治之。無不應手取效。所以類傷寒與類中風二症。均不具贅。恐辨症一多。立法致亂。非徒無益。反增害矣。</p>

<h2>產後霍亂</h2>
<p>霍亂者。揮霍發亂也。四肢厥逆。吐瀉並作。腹痛異常。較常人霍亂為更甚。因七日內瘀血未淨。多致不治。七日以外。惡露已盡。庶乎稍緩。況腹痛如絞。甚則轉筋。產後之人。何可當也。故欲吐不吐。欲瀉不瀉者。名乾霍亂。較前症更甚一倍。急宜顧著惡露。治以溫中逐寒立法。不問濕霍亂與乾霍亂。宜急治不宜緩治。緩則不救矣。余制理中生化湯治之。十救七八。以備參用焉。</p>

<h3>理中生化湯</h3>
<p>（自制）　</p>
<p>治霍亂吐瀉並作。</p>
<p>炮姜（一錢）　東洋參（炒五分）　蒼朮（八分）　川芎（二錢）　桃仁泥（二錢）　當歸炭（四錢）　炙甘草（五分）　淡附片（二錢）　姜半夏（一錢五分）　川連（薑汁炒八分）</p>
<p>水煎服。如口渴加葛根（一錢）如欲吐不吐。欲瀉不瀉。加醋炒制軍（四錢）如轉筋而四肢抽掣者。加木瓜（四錢）川椒（三十粒）可也。</p>

<h2>產後血暈</h2>
<p>凡分娩之後。眼花暈眩。不自知覺。一時暈厥。肢冷如冰。其因有三。一因產母體氣虛弱。不耐痛苦而致者。一因去血過多。元氣欲脫而致者。一因肝火上升。痰氣交併於上而暈厥者。若不急治。多致不救。何也。因產母以惡露下行為吉。一患暈厥。惡露停積。否則上升矣。故緩則不治。急以米醋一瓷瓶熬熱。其氣甚重。以瓶口向產母鼻孔使吸受醋氣即蘇。更用生化湯加荊芥（二錢）煎好。衝入陳酒一杯灌下。自然向安。古方用韭菜與米醋燉熱。而俾產母吸受其氣。且恐急不暇備。不若以純醋為簡捷也。</p>

<h2>產後自汗盜汗</h2>
<p>自汗者。陽虛也。盜汗者。陰虛也。若不急為止之。恐有脫陰脫陽之變。經云。脫陽者見鬼。脫陰者目盲。此皆大虛之候。余以衛陽生化湯治自汗。以保陰生化湯治盜汗。靡不獲效矣。</p>

<h3>衛陽生化湯</h3>
<p>（自制）</p>
<p>炙黃耆（三錢）　蜜炙桂枝（七分）　生左牡蠣（五錢）　川芎（二錢）　當歸（四錢）　桃仁（十五粒）　炙甘草（五分）　炮姜（五分）　酒炒白芍（八分）</p>

<h3>保陰生化湯</h3>
<p>（自制）</p>
<p>川芎（二錢）　當歸（四錢）　桃仁（十粒）　炙甘草（五分）　炮姜（五分）　穭豆皮（五錢）　清炙綿蓍（八分）　琥珀（五分）　銀胡（八分）加藕節三個。</p>

<h2>產後咳嗽</h2>
<p>產後咳嗽在旬日內外。雖感冒風寒。鼻塞聲重。亦當以治血分為主。有外邪以末治之。自無久咳之累。若以清邪為先。治瘀為後。必致瘀血久留。延成勞怯之症。宜四物湯為主。清邪佐之。余以肅肺生化湯主之。</p>

<h3>肅肺生化湯</h3>
<p>治七日內咳嗽者。</p>
<p>炒焦生地（五錢）　當歸（四錢）　川芎（二錢）　桃仁（一錢）　炮姜（五分）　炙甘草（五分）　橘白（一錢）　桔梗（一錢炒）　益母草（三錢）藕一斤。煎湯代水煎藥。白蜜三匙。薑汁一匙。衝入。</p>

<h3>加減四物湯</h3>
<p>治十日外咳嗽者。</p>
<p>炒生地（四錢）　川芎（二錢）　當歸（三錢）　赤芍（二錢）　知母（一錢炒）　川貝（一錢）　桔梗（一錢炒）　訶子皮（一錢）　杏仁泥（二錢）加姜三片。</p>

<h3>紫菀湯</h3>
<p>治久咳不已。有瘀者不宜。無瘀者宜之。</p>
<p>紫菀（二錢炒）　知母（一錢炒）　川貝（二錢）　人參（一錢）　茯苓（三錢）　五味子（七粒）　炒驢膠（一錢）　炙甘草（五分）　桔梗（一錢）加生薑三片。大棗二枚。</p>

<h2>產後泄瀉</h2>
<p>泄瀉因脾胃虛弱。土不勝水。木旺侮土。停滯不運。各能致瀉。更有血瘀不淨。因郁因憂。因怒因悲者。皆能留瘀。結為症痼瘕聚之患。都是致瀉之由。若治產後泄瀉而不用通絡溫中之法。非善治者也。世人但知利水治瀉而不知補土即所以利水也。疏木即所以扶土也。余制調元益胃湯。以為治瀉之主方。加減而用。庶乎挽一時之流弊耳。</p>

<h3>調元益胃飲子</h3>
<p>（自制）</p>
<p>川芎炭（一錢）　當歸（三錢炒）　炮姜（一錢）　淡附子（二錢）　蒼朮炭（八分）　清炙蓍（三錢）姜半夏（一錢五分）　川連（吳萸八分拌炒一錢）　琥珀（六分）　澤蘭（一錢）　茺蔚子（三錢炒）　車前（一錢炒）　廣木香（一錢煨）</p>
<p>水煎。和陳酒半盞。徐徐服下。每日一劑。分作五六次而服可也。○如脫肛者。加炙粟殼（一錢）○如挾食者。加神麯（三錢）○如有癥瘕者。加莪朮（一錢炒）山楂肉（三錢）尖檳榔（二錢）○如瘀血未淨者。加桃仁（一錢）紅花（八分）○如心悸者。加遠志肉（八分）棗仁（一錢炒）</p>

<h2>產後帶下</h2>
<p>帶下因奇脈不固。脾中之精氣。不輸於肺而注於下。為帶下。或因去血過多。血化為帶。古人所以有白帶屬氣虛。為血所化。赤帶屬血虛。不及變白而為赤也。此理未可遽信。古有漏下多時血肉枯一語。顯系血去太多。脾中之精氣隨之下行。名為白帶。論之以俟同道裁正。余每以自制斷下丸治之。靡不應手而愈。</p>

<h3>斷下丸</h3>
<p>（方見調經門）</p>

<h2>產後腹脹</h2>
<p>（附腫症）</p>
<p>產後腹脹。因胎前元氣虛弱。多索湯飲。或素有茶濕之人。至產後誤服破氣傷氣之藥。或惡露未淨。不節鮮油肥膩食物。或因血虛便秘。而誤服攻下之劑。皆致腹脹之由。治之者切勿因腹脹而專消其脹。勿因氣滯而重傷其氣。總以活血扶脾為治。彌月後元氣漸復。脹自消矣。病者切勿妄求速效。不然愈治其脹而脹更甚矣。慎勿以余言為欺世之談也。至於產後腫症。由惡露不淨。風濕乘罅襲入而成腫症。或因胎前素患泄瀉。至產後瘀血不行。脾胃不足。多飲湯水。助起濕濁所致者。亦不外乎活血散瘀。扶脾益胃之治。切勿妄逐其水可也。</p>

<h3>四七益氣湯</h3>
<p>（自制）　</p>
<p>治產後腹滿而脹。兼治腫症。</p>
<p>姜半夏（一錢五分）　厚朴（一錢五分）　茯苓（三錢）　蘇葉（一錢）　人參（隨虛實酌用）　當歸（三錢）　川芎（一錢）　廣木香（八分）　菔子（五分）　炮姜（六分）</p>
<p>加雞內金（一具）或挾食傷。加麥芽（三錢）神麯（二錢）○挾瘀。加蓬朮香附（各一錢）○挾濕。加通草（二錢）挾氣。加陳皮（一錢）挾寒。加淡附子（二錢）○如受風濕而腫者。倍紫蘇（一錢）加防風（一錢五分）車前（一錢炒）而治之。</p>

<h3>加減金匱腎氣丸</h3>
<p>治產後腫脹腹滿。服益氣化瘀不效者。宜加減用之。</p>
<p>炒熟地（四錢）　粉丹皮（四錢）　澤瀉（三錢）　茯苓（三錢）　山藥（二錢）　淡附片（二錢）　安桂（八分）　山萸肉炭（八分）　車前（二錢）　牛膝炭（三錢）　加菔子（八分生）</p>

<h3>琥珀茯苓丸</h3>
<p>（自制）</p>
<p>治產後腹脹暴腫諸症。</p>
<p>琥珀（五錢）　浙茯苓（二兩）　豬苓（五錢）　木瓜（五錢）　牛膝梢（三錢）　粉丹皮（三錢）　澤瀉（八錢）　制香附（一兩）　車前（五錢炒）　肉桂（五錢）　淡附片（一兩）　蓬朮（四錢炒）　三稜（三錢）　山楂肉（八錢）　䗪蟲（十個炒）　神麯（五錢）　羌活（五錢）　獨活（五錢）　麥芽（五錢炒）　廣木香（五錢）</p>
<p>上藥十五味。共末。蜜丸如彈子大。每服一丸。日一服。開水沖化。或以水一碗煎服亦可。用陳酒化服更妙。此種藥品。最為和緩。系利水導滯。活血消瘀。溫經調氣之品。並治七症八瘕皆效。</p>

<h2>產後心腹痛腰痛身痛頭痛小腹痛諸症</h2>
<p>產後諸痛。皆為血虛。否則血瘀。此明虛實之辨。有瘀為實。無瘀為虛。遍身疼痛難忍者。因產時百脈縱弛。氣虛血滯。化出內風。遊走不定。身難轉側。手足有不遂之狀。若認為太陽表症。遽用發散之劑。其變幻莫測矣。治宜活血行氣。稍疏內風。自然漸痊。如心腹痛者。定知客寒犯胃也。或氣旺血虛者亦然。頭痛者。因血虛而受風也。小腹㽲痛者。必有血瘀也。小腹系厥陰部位。厥陰之脈繞陰器。肝氣乘虛下攻。亦能致痛。腰者。腎之府也。腰痛屬腎虛。女科腰痛。當責之帶脈。勿得全歸於腎。帶脈主約束。帶脈一虛。不能約束。故腰痛也。產後條目。不必繁瑣。恐學醫者坐論之際。條分縷析。臨證之時。權衡若失。況古賢先輩。無論不周。靡法不備。垂教後人。而後人置若罔聞。安得常留於心目之間。故余以簡括之法。用於急不暇擇之際。最為便捷。論亦不多。治亦不繁。俾易於記憶爾。制三方於後。以備檢用。</p>

<h3>拈痛散</h3>
<p>（自制）　</p>
<p>治心腹痛頭痛。</p>
<p>丹參（三錢）　赤小豆（二錢杵）　東洋參（五分）　煨天麻（一錢）　降香（五分）　當歸（三錢）　麥芽（三錢）</p>
<p>水煎服。</p>

<h3>非風湯</h3>
<p>（自制）　</p>
<p>治產後遍身肢節疼痛。</p>
<p>桑寄生（三錢）　當歸（三錢）　赤芍（一錢）　川芎（二錢）　生炙綿黃耆（各二錢）　桂枝（六分）　紅花（六分酒潤）　牛膝（二錢）　獨活（一錢）　木瓜（一錢五分）</p>
<p>水煎。衝入陳酒一盞。</p>

<h3>祛痛湯</h3>
<p>（自制）　</p>
<p>治腰痛。小腹痛。不論虛實皆治。</p>
<p>當歸（四錢）　川芎（二錢）　天仙藤（一錢）　杜仲（三錢炒）　川斷（二錢）　生沙苑子（三錢）　延胡（三錢）　肉桂（五分）　小茴（四分炒）</p>
<p>水煎。入酒少許沖。○如小腹痛甚者。必瘀多。加青皮（一錢炒）桃仁（一錢）韭白一握。水煎服。</p>

<h2>陰門腫痛</h2>
<p>婦人初胎而產。每多心慌慮亂。皮膚筋骨。未易驟疏。加以不耐痛苦。用力太過。致陰門兩旁腫痛。宜服生化湯。自然向愈。或經穩婆之手。扯傷腫爛者。用乳香一錢。忍冬藤三錢。水一杯。煎濃潤之可也。或用松花撲之即愈。佛手散可治之。</p>

<h3>佛手散</h3>
<p>（即芎歸湯）</p>
<p>川芎（四錢）　當歸（八錢）　水煎。加酒一杯沖服。</p>

<h2>乳汁不通</h2>
<p>乳者。血上行而化也。故有乳然後可以育子。其不通者有二。一由婦人氣血素虛。肝氣獨旺。血氣耗傷。更受憂鬱。憂鬱則氣結血滯。一由氣閉血鬱而不能布化者。宜四物白通湯治之。其乳自通矣。</p>

<h3>四物白通湯</h3>
<p>（自制）</p>
<p>生地（四錢）　當歸（五錢酒洗）　川芎（三錢）　赤芍（二錢）　白芷（一錢）　生香附（二錢）加蔥管三莖。水酒各半煎服。或加通草（三錢）</p>

<h3>化乳湯</h3>
<p>（自制）</p>
<p>生炙綿蓍（各四錢）　當歸（四錢）　川芎（一錢）　通草（二錢）　白芷（五分）　柴胡（四分）</p>
<p>水煎服。</p>

<h2>產後陰挺</h2>
<p>（陰中下物數條）</p>
<p>產後陰中下精肉一塊。形如雞冠約長出寸許。甚至及尺。名曰陰挺。系產時努力太過。氣虛下脫所致。古法每以補中益氣治之。又有下物如茄。昔名茄症。蓋兒袋也。亦屬氣虛下陷所致。又有下物如缽。狀有二歧者。即子宮也。亦因氣虛所致。查婦科臍下二寸為血海。又曰衝脈左二寸為胞門。右二寸為子戶。愚以為子戶即子宮。胞門即兒袋也。三症悉屬氣虛下陷。治法亦同。不特產婦患之。而婦人陰虛濕火下蘊。肝陽素盛者。亦患之。而治新產後者。宜升清消瘀。不得以補中益氣概而治之。</p>

<h3>補中益氣湯</h3>
<p>（見調經門）</p>

<h3>逍遙散</h3>
<p>（見調經門）　</p>
<p>二方統治陰陽下脫之症。</p>

<h3>升蓍益陰煎</h3>
<p>（自制）　</p>
<p>治新產後陰中下物之症。</p>
<p>炒焦升麻（四分）炙黃耆（三錢）　桃仁（十粒）　夏枯草（三錢）　炮姜（五分）　川芎（二錢）　全當歸（四錢）　制香附（一錢）</p>
<p>加淡菜（二十粒）水煎。</p>

<h3>熏洗法</h3>
<p>用白礬（一錢）防風（三錢）艾葉（二錢）五倍子（四錢）忍冬藤（五錢）　煎湯熏洗。勿使藥渣黏著。黏著。則難收矣。</p>

<h2>乳懸</h2>
<p>（一名乳卸治法與胎前不同）</p>
<p>產後瘀血上攻。忽然兩乳頭拖出。墜下尺許。甚則過於臍下。痛不可忍。名曰乳懸。因平時時有嗔怒。肝經火鬱。或受風熱所致。宜大劑芎歸湯合逍遙散治之。外用薰藥。慎勿用手指拿拈。如輕意拈捻。即斷而墮下。不可為矣。須用紬爿托之。外用薰藥熏之。即收上矣。</p>

<h3>逍遙散</h3>
<p>（見調經門）</p>

<h3>芎歸湯</h3>
<p>（方見陰門腫痛）</p>

<h3>熏藥方</h3>
<p>用白蘞防風羌活三味（各五錢）燒煙燻乳。使煙氣熏著收上為度。或用萆麻子四十九粒。麝香五釐研爛。塗婦人頭頂心。收上後即當洗去為要。</p>

<h2>產後流注</h2>
<p>流注即惡露流入腰腎關節。肩背手足等處。或漫腫。或結塊。即用熨法以散其腫塊。內服調元散瘀湯為治之。瘀散乃愈。</p>

<h3>熨法</h3>
<p>用生蔥一握。連根葉搗作餅子。貼於患處。加厚布三四層蓋之。以火斗熨之。立散。</p>

<h3>調元散瘀湯（自制）</h3>
<p>黨參（三錢）　生炙黃耆（各三錢）　川芎（二錢）　當歸（四錢）　乳香（八分制去油）　沒藥（八分制去油）　肉桂（六分）　生甘草（八分）　青木香（五分）</p>
<p>水煎。作四分而服。</p>

<h2>乳癰乳岩</h2>
<p>乳癰乃乳房腫硬。乳管閉塞不通。數日之外必焮腫作膿。初起必寒熱往來。病在足少陽足陽明二經。宜通絡破滯。古人每用逍遙散治之。往往綿延不愈。甚至潰爛。余自制芎歸疏肝湯治之。靡不應手取效。未潰者即消。已潰者即膿矣。至於乳岩一症。室女寡婦居多。何也。因室女寡婦。最多隱憂鬱結。情志不舒。日久血分內耗。每成是症。初起如梅核狀。不痛不移。積久漸大。如雞蛋之狀。其硬如石。一致潰爛。形如破榴。內潰空洞。血水淋漓。有巉巖之象。故名乳岩。病在脾肺膽三經。血氣兩損。最難治療。治之愈早愈妙。宜歸脾湯逍遙散二方。始終守服。切勿求其速效。庶乎十救其五。如致潰爛。則不治矣。慎之戒之。</p>

<h3>芎歸疏肝湯</h3>
<p>（自制）　</p>
<p>並治乳癰乳岩。凡胎前不宜。</p>
<p>川芎（二錢）　當歸（四錢）　制香附（二錢）　炒青皮（一錢）　王不留行（三錢）　延胡（三錢）　蒲公英（二錢）　鹿角霜（二錢）　麥芽（三錢炒）　柴胡（二錢）　漏蘆（一錢）　夏枯草（二錢）加路路通四個。枇杷葉五片。去毛。水煎。入酒少許沖。</p>

<h3>逍遙散</h3>
<p>（見調經門）　</p>
<p>治乳岩初起。並治乳癰已愈。</p>

<h3>歸脾湯</h3>
<p>（見心經症）　</p>
<p>治乳岩初起。</p>

<h3>香附餅</h3>
<p>並治乳癰乳岩初起者。</p>
<p>香附（一兩）　麝香（二分）</p>
<p>共研細末。另用蒲公英二兩。酒煎去渣。以酒調藥末。乘熱敷於患處可也。</p>

<h3>保嬰八法</h3>
<p>一　凡小兒月內。宜常常顧著。忌飲冷乳及水。忌火炙衣被。須常帶三分飢寒為要。</p>
<p>一　哺乳法食後不得與奶。奶後切勿與食。免成瘕積之害。</p>
<p>一　初生小兒。尚未開乳。宜先用制軍川連炙甘草各一錢。泡茶頻頻與服。然後進乳。</p>
<p>一　小兒牙床有白點。名曰米牙。用細銀針刺破。以桑樹汁漿塗之。</p>
<p>一　小兒牙床堅硬。不能吮乳。名曰牙板。亦須針破。以桑樹汁塗之。</p>
<p>一　小兒喉間腫突。名頂珠。須以手指醮冰片捺之。其核即下。</p>
<p>一　小兒臍風。凡兒斷臍帶後。宜用厚布裹護。若不慎水濕。因浴而受之。或因兒尿繃未換。濕氣所侵。或當風解視。皆能患之。七日內遂有此症。致兒臍腫。多啼不食。名曰臍風方用白殭蠶四個。炒去絲嘴研末。以蜜調敷唇內。即愈。又方。用白殭蠶四個。炒去絲嘴。全蠍一隻。去尾。又用石榴樹上之蟲繭一個。名雀甕。此三味放於新瓦上。用白炭火焙之。焙乾研末。抹於小兒牙床及唇口內。即愈。</p>
<p>一　小兒出胎。須用滾湯俟溫而洗。勿雜生水。恐水氣入臍。待洗淨後方斷臍帶。斷臍帶。須惡汁將盡。否則寒濕入腹。必患臍風。又須離兒臍四五寸外以綿絲紮緊。用帛包之。將口咬其臍帶。不致血貫於臍帶也。七日後自然易為褪下。即或遲至七日外尚未脫落。亦無為害。所留臍帶不可太長。長則難乾而傷肌矣。且恐引風而變臍風。亦不宜太短。短則逼內而傷臟矣千金論云。須令足跗上為度。即云小兒自己足底之長為度可爾。</p>
