<header data-type="book">
<h1>幼科鐵鏡</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>夏鼎</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1695">公元1695年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2935">北京大學圖書館掃描本</a></dd></div>
</dl>
</header>

<h1>凡例</h1>
<p>凡治嬰兒病。不望顏色。不審苗竅。故病不應藥。是書惟以望顏色。審苗竅六字。為大主腦。</p>
<p>凡症俱有顏色可望。苗竅可審。獨驚癇痓三症。顏色苗竅。俱非本來。無處拿提。是書洞決死生。俱屬先君從百千嬰兒中偵探出來的。辨明形狀。俱屬先君從百千嬰兒中體認出來的。治法藥味。俱屬先君從百千嬰兒中嘗試出來的。故是書於此三症。則冠以初。明有自也。</p>
<p>凡前輩圖繪各穴。俱任意栽插。鮮不差謬。是書圖穴。由兩代考索。毫不舛錯。</p>
<p>凡症所載推拿者。俱屬必效。不準者。如老漢扳罾猿猴摘果之類。盡行刪汰。</p>
<p>凡症推三關。必須少推腑上以應之。推六腑。必須少推三關以應之。防補瀉太過。</p>
<p>凡症屬。載明燈火艾灸。俱起死回生秘法。</p>
<p>凡症下無湯散名。只有藥味者。俱卓溪自立方。歷驗始載。</p>
<p>凡有夏禹鑄曰。其中多出己見。發明至理。亦從治效過立說。</p>
<p>凡症立說引喻。俱屬疑團。不譬不明。</p>
<p>凡症後間附效案。系症有疑難。傳以較核。</p>
<p>凡症初起不用丸散。因各臟病有輕重。臨症用劑。必有加減。如丸散藥味分兩已定。倘內有一二味與症不宜者。抽不出來。模糊投入。反生別病。予於暫症。必不肯用。若用丸散。殊是症屬一家。</p>
<p>凡口訣。有古人舊訣。有卓溪新訣。新訣上。注卓溪二字。</p>
<p>凡字句用夾圈者。是大主腦。用尖圈者。是認法。用單圈者是緊要。</p>
<p>一、　熱瘧認法。乃卓溪生平第一著得意處。自分亦能上繩父武。出以傳世。更當研究。</p>
<p>一、痲症。大小方脈書獨不齒及。多因症屬至輕。邇來痲症為患最重。余每臨症。只從脾肺兩臟看虛實。肺臟大腸探根苗。於中創出治法。一劑必效。用以傳世。此乃發造物未發之秘。補先輩不足之書。</p>
<p>凡推拿。古人以之代藥。後人竟以推拿為兒戲。並不知推應何經。拿應何臟。所代何藥。</p>
<p>以致輕症加重。重予速死。予特載出某推當某藥。某拿抵某味。使人曉得用推拿。便是用藥味。藥味既不可誤投。推拿又何可亂用。</p>

<h1>卷一</h1>

<h2>九恨</h2>
<p>一恨挑筋割肉。五臟之病。豈盡在筋。挑斷不知當那一味藥。六淫之賊。豈盡在血。血出又不知退那一經邪。這一種挑筋的。如對予說出理來。予便不恨。</p>
<p>一恨病兒見面。寒熱虛實。茫然不知。輒曰死作活醫。藥之不效。死不任過。一藥偶中。活即居功。死症能生。對予說出理來。予便不恨。</p>
<p>一恨見兒燒熱。並不知燒從何感。熱自何生。亂推亂拿。致兒大啼大叫。汗出熱解。偶爾撞著。便自稱神。既自稱神。緣何有效不效。對予說出理來。予便不恨。</p>
<p>一恨不知症候。藥與病反。不曰自己用藥不當。且曰兒母有失護持。對予說出理來。予便不恨。</p>
<p>一恨活症。屢藥不效。名醫一藥成功。不曰自己不知。且曰他合時機。對予說出理來。予便不恨。</p>
<p>一恨以丸散為欺人之具。其實不值一文。且曰此丸此散。真是無價。不論中病與否。解包投服。不愈。則多方以藥本為辭。丸散既屬無價。投服病胡不瘳。對予說出理來。予便不恨。</p>
<p>一恨動用牛黃、竹瀝、貝母。為除痰要藥。痰有寒熱。熱痰見此。真似滾湯潑雪。寒痰見此。竟是雪上加霜。不論寒熱。概投兒服。對予說出理來。予便不恨。</p>
<p>一恨必用柴胡退燒。燒熱有表裡之殊。柴胡專屬解表之味。脾虛腎虛。氣血兩虛。諸燒熱亦用柴胡。對予說出理來。予便不恨。</p>
<p>一恨用湯頭有內減外加之說。加減原在湯頭內。看臟腑之有虛有實。酌藥味之宜多宜寡。間或清病之來路。塞病之去路。外加一二味。此是變通妙手。如曰內可減。外可加。則四君子加兩味。便成六君子。十全大補減兩味。便是八珍。對予說出理來。予便不恨。</p>
<p>夏禹鑄曰。餘生平來。凡嫉我。欺我。負我。餌我。以及無故加我者。輒過而忘。獨於幼科庸醫而恨之。且恨之有九。何也。常見艱於嗣息者。一旦舉子。慶也如何。及病付醫。輕者重之。生者死之。其飲恨也又何如。余抱公憤人也。遂引人恨為己恨。然恨之正所以覺之也。覺之則睡漢驚來轉腳。便步百尺竿頭。悟到醫家三昧。方見卓溪叟以九恨作醒人擘頭之一棒也。</p>

<h2>十三不可學</h2>
<p>一、殘忍之人必不惻怛。不可學。</p>
<p>一、馳騖之人必無靜氣。不可學。</p>
<p>一、愚下之人必無慧思。不可學。</p>
<p>一、鹵莽之人必不思索。不可學。</p>
<p>一、猶豫之人必無定見。不可學。</p>
<p>一、固執之人必不融通。不可學。</p>
<p>一、輕浮之人必多忽略。不可學。</p>
<p>一、急遽之人必期速效。不可學。</p>
<p>一、怠緩之人必多逡巡。不可學。</p>
<p>一、宿怨之人藉此報復。不可學。</p>
<p>一、自是之人必以非為是。不可學。</p>
<p>一、慳吝之人必以此居奇。不可學。</p>
<p>一、貪婪之人必以此網利。不可學。</p>
<p>予以此十三種人為不可學。非外之以為必不可學也。苟絕此病。先能自醫。又何不可學之有。</p>

<h2>十傳</h2>
<p>一、兒啼哭無聲。前輩俱作死症。以為肺絕故也。獨予先君於拿之無聲者。審出肺氣未絕。一藥即生。而予亦經驗過。歷歷不爽。生死關頭。何可秘而不傳。</p>
<p>一、驚風。傷寒。熱瘧。三種相似。前輩俱未能辨。誤醫誤死。不知凡幾。獨予先君辨出驚風的模樣。傷寒的光景。熱瘧的認法。透徹無遺。一經醫治。無有不生。而予亦經驗過。歷歷不爽。生死關頭。何可秘而不傳。</p>
<p>一、兒左手之三關六腑。大指之脾位。五指之上下。兩腳之左右。前輩無不誤傳。獨余先君悟出至理。闢盡各處差謬。闡出部位根源。推無不效。補無不應。瀉無不神。而予亦經驗過。歷歷不爽。毫釐千里。何可秘而不傳。</p>
<p>一、兒臍風。前輩只知風入臍內。以致撮口噤口。卒不知風入深淺。死生有異。予獨悟出逆克至理。見外知內。治無不退。經驗過歷歷不爽。生死關頭。何可秘而不傳。</p>
<p>一、兒慢症。前輩多作慢驚。亂推亂拿。亂掐亂火。以致汗愈亡陽。痛愈傷脾。獨予體貼慢字。不作驚治。惟補脾虛。經驗過歷歷不爽。生死關頭。何可秘而不傳。</p>
<p>一、兒胃有實痰。藥解不散。惟有取法。前人取之。多有壅築喉內。不吐出。又不下去。因不敢取。予偶見修養家作練功大睡法。眼翻氣築時。於氣海穴以手指曲節抵之。一放即活。予因悟及取痰不出又不下者。以是法行之。果即下。復取便出。經驗過歷歷不爽。此因詩悟禮。觸類旁通。萬病俱可因端起悟。何可秘而不傳。（取喉內痰。將兒中指捋至尖。數下。推湧泉穴。左轉不揉。以指對抵頰車穴。以耳挖爬舌上。即吐。）</p>
<p>一、兒有驚風。痰熱虛實表裡。前人俱用推拿。且曰小兒肚腸脆嫩。不可服藥。獨予先君云。急驚風痰。非推拿不效。臟腑虛寒。非藥味莫瘳。此予兩代因病用推用藥。經驗過歷歷不爽。好竽鼓瑟。必不相宜。何可秘而不傳。</p>
<p>一、兒有病。前人以四季之五行。按五臟之五行。以藥味之四性。合天時之四季。其理固是。然不知棄輕從重之妙。如當夏宜用黃連等味以瀉心。不宜用棗仁等味以補心。理也。設使心經虛極。或怔悸不眠。或汗出如雨。補耶瀉耶。當夏宜用五味等味以救肺。不宜用桑皮等味以瀉肺。理也。設使肺經熱極。或大便閉塞。或熱血妄流。瀉耶救耶。此種學問。余從不固執。惟相其緩急。權其標本。棄輕從重。不拘時令。祗照病醫。卻無不好。經驗過歷歷不爽。深恐膠柱鼓瑟者流。不敢輕用藥味。何可秘而不傳。</p>
<p>一、望兒顏色不錯。證之苗竅相符。藥之又與病合。若服一二三劑。病猶照常不除。又不加甚。切不可因人言藥不合症。半路更方。蓋在我望色既真。辨竅既稔。效不見速。無非病深藥淺。藥力未到。譬之舟人駕舟。兩岸遼闊。一時難到。我既認定風色。亦只把定舵牙。活握篷索。一任浪湧兼天。鏖一鏖自然到岸。如把持不定。在半江中。或辭篷轉舵。則斷無不覆之舟。予兩代經驗過歷歷不爽。似此成敗關頭。何可秘而不傳。</p>
<p>一、兒病患。舉世幼科。皆於兒第二指麵筋紋。細摹細看。以形色論症候。以透關決死生。予兩代以醫術濟人共約七十餘年。治活嬰兒不下百千萬數。皆以望面色。審苗竅為主。治無不神。間亦摹看筋紋。了無證驗。似此迷津道岸。何可秘而不傳。</p>

<h2>摹看手指筋紋乃醫家異教說</h2>
<p>夏禹鑄曰。摹看手指筋紋。乃醫家異教。蓋指麵筋紋。生來已定。豈因咳嗽而變為反弓。驚積而化為魚刺。膈熱而結為流珠。肝氣粗而來蛇狀之理。即曰能變能化。亦不過反弓知咳嗽。魚刺知驚積。流珠知膈熱。蛇來知氣粗而已。外有何知。況二指一面。僅大小二腸所屬。非五臟諸經並見之地。即曰並見。一指長不過寸許。闊不過分余。設也膈熱而兼氣粗。氣粗而兼咳嗽。則流珠與反弓蛇來並相撕混。請從何辨。又訣曰。初關乍入宜支退。筋透三關命必亡。常見筋透三關。竟無病者。亦有病時透三關。而必不亡者。此種道理。殊不知解。余兩代經過不驗。不忍隱而不言。見之者幸勿執迷不悟。</p>

<h2>治病不可關門殺賊說</h2>
<p>禹鑄曰。治病不可關門殺賊。臟腑之病。必有賊邪。或自外至。或自內成。祛賊不尋去路。以致內伏。是謂閉門殺賊。如傷寒賊由外入。法宜表散。心火賊自內成。清利為先。是知降心火而不利小便。除肺熱而不引大腸。治風熱而不發表藥。夾食而不導消。痢初起而不通利。瘧始發而遽用截方。凡此皆閉門之弊。不第不能殺賊。而五臟六腑。無地不受其蹂躪。則閉門之害。可勝道哉。凡有心幼科者。又不可不知也。</p>

<h2>治病不可開門揖盜說</h2>
<p>禹鑄曰。治病不可開門揖盜。若臟腑有虛。外雖傷感。誤為表散分利。惹來別症。是謂開門揖盜。試以脾虛作瀉論之。脾虛惟恐補之不及。一用分利。則正氣日下。而脾愈傷。便來脾慢之症。譬之六國之病在弱。離橫合縱。乃季子補救之策。解約散縱。自開吞併之門。是亂臣亡國。與分利崩脾。無異理也。至於肺虛誤為發散。心虛利水。肝虛抑肝諸類。當從脾虛分利而類推之可也。</p>

<h2>湯方內更換藥味說</h2>
<p>禹鑄曰。在湯頭中更換藥味。有宜不宜。猶文字上更換字眼。有妥不妥。一般更換字眼。有慧思鄙見之殊。更換藥味。亦有鄙見慧思之別。如範希文作子陵祠堂記。有歌曰。先生之德。時李太伯在座。以風字易德字。洵是慧思。李太白詩。人煙寒橘柚。而黃魯直以家園字易煙寒字。便是鄙見。至於醫家用四物湯以補血。內有熟地。若心有火而血熱。以生地易熟地。卻是慧思。若心無火。血不熱。而亦以生地易熟地。便是鄙見。此等學問。只可與知者道。難與不知者言也。業醫道者。當留心焉。</p>

<h2>看病秘訣</h2>
<p>禹鑄曰。凡小兒病有百端。逃不去五臟六腑氣血。症雖多怪。怪不去虛實寒熱風痰。病縱難知。瞞不過顏色苗竅。症即難辨。莫忽略青白紅黃。面上之顏色苗竅。乃臟腑氣血發出來的。顏色之紅黃青白。乃寒熱虛實獻出來的。業醫者。能於此處做工夫。便得吾家之秘訣。</p>
<figure>
<img data-orig-src="urn:270:03764.jpg" alt="面各穴圖">
</figure>
<p>推法。用蔥姜煎汁浸染醫人大指。先從眉心向額上。推至二十四數。</p>
<p>次從眉心分推。至太陽太陰九數。</p>
<p>再自天庭至承漿各穴。掐一下。以代針法。</p>
<p>再於大陽太陰。或發汗。或止汗。</p>
<p>再將兩耳下垂尖捻而揉之。</p>
<p>又將兩手捧頭面搖之。以視其氣。</p>
<p>再看寒熱。向手推三關六腑及運八卦。</p>
<p>隨分推胸口。及揉臍。推委中畢。再揉肩井。至於別穴看症。再加揉法。</p>
<figure>
<img data-orig-src="urn:270:03765.jpg" alt="掌面推三關退六腑運八卦圖">
</figure>
<p>推三關。退六腑。運八卦。男女俱在左手。人以男右手為女之左手。獨不思右掌無八卦。若亦有八卦。則震居西。兌居東。艮居乾。而坤居巽。豈後天八卦之定理。而為女子之推拿。遂變其位置耶。況男女心肝腎脈。俱在左手。若女以右手為左。則心肝諸脈。可在右手否。</p>
<figure>
<img data-orig-src="urn:270:03766.jpg" alt="掌面水底撈月引水上天河圖">
</figure>
<p><u>推法。以兩手圍握兒手。將兩大指在總筋中分推。各往側邊。</u></p>
<p><u>兒眼翻上者。將大指甲在小天心向掌心下掐。即平。</u></p>
<p><u>兒眼翻下者。將大指甲在小天心向總筋上掐。即平。</u></p>
<p>夏禹鑄曰。大指面屬脾。畫家畫手掌。不把大指畫正面。乃畫家之正法。前人只得以脾土字。寫在側邊。後人誤認。以訛傳訛。遂以大指之側邊為脾。余故將前掌圖。大指移作正面。此因脾土畫圖之權宜。又因口訣有曰。脾土曲補直為推。見有曲字。便把兒指一曲著。則側面居正。故愈以側面為脾。那曉得曲補之說。曲者旋也。於指正面。旋推為補。直推至指甲為瀉。此前人一字之訛。遂成流弊莫救。今人推之不效。皆由穴之不真。前人傳之已誤。後人幸勿再誤。</p>
<figure>
<img data-orig-src="urn:270:03767.jpg" alt="手背面推上三關揉五指節圖">
</figure>
<p><u>少商穴：兩大指背挨甲處各燈火一燋專治臍風</u></p>
<p><u>外勞：將見小指曲著重揉外勞宮祛臟腑之寒風</u></p>
<p><u>後谿：推往下補腎</u>　推往上是清腎利小便</p>
<p>夏禹鑄曰。五指梢尖俱屬下。前人作上。誤矣。譬諸草木。根是本。梢為末。末。下也。不辨可知。前人又每以左足為右足。獨不想到人在堂居中朝上坐。卻是西邊為左邊。如此明白顯易的道理。胡為乎還錯了。若女則右足為左足。地道尚右也。</p>
<p>男左手直骨背面為三關。屬氣分。推上。氣行陽動。故為熱為補。</p>
<p>男左手直骨正面為六腑。乃血分。退下。則血行陰動。故為寒為瀉。其兩邊側里。屬陽氣陰血交界之地。以此處作三關六腑之氣血。無所適從。補瀉何可合用。</p>
<p>五臟陽也。何女以推上為寒為涼。所謂陽極陰生是也。女陰道。故從陰生處推之。</p>
<p>六腑陰也。何女以退下為熱為補。所謂陰極生陽是也。故女從陽生處推之。</p>
<p>訣曰。腎水一紋與後谿。推上為清下補之。小便閉赤清之妙。腎虛便少補為宜。</p>
<p>禹鑄曰。四臟俱推上為補。下為瀉。何腎與四臟相反。蓋四臟居一身之上。而腎居下。腎虛則推四臟之氣。往下以滋腎。故曰下補。腎水混濁。則小便閉赤。若再往下推。則閉愈甚。一往上提。疏通水道。而小便自清。故曰推上為清。此上下清補有異。若不發明上下之理。恐人疑推腎之上下。兩字有訛。則遺害不淺。故識之。</p>
<figure>
<img data-orig-src="urn:270:03768.jpg" alt="虎口合骨穴圖">
</figure>
<p><u>合骨穴：乃兩骨合縫處用元宵火兩手各一燋</u></p>
<p><u>看側骨之兩邊明明是正面後人多錯看了奈何奈何</u></p>
<p><u>老龍穴：於驚死時在精威二穴拿不醒再於此穴一掐知痛者生不知痛者死可向肺俞穴里揉以探之</u></p>
<p>夏禹鑄曰。前人因合骨穴。故畫側手圖。只能畫一面。不能畫三面。故以三關六腑。寫在兩邊。按圖雖在兩邊。而推畫圖之情。兩邊原是正面。後人不體其情。以側手圖之側邊。遂執為兒手正面之側邊作三關六腑。不大可怪哉。古人畫圖繪穴。想無不真。多因粗心者。皆不能揣情度理。一錯看過。以訛傳訛。相習不察。餘力闢前謬。非故示異也。由幾番折肱體認得來的。後之君子。當毋以妄誕目我。</p>
<figure>
<img data-orig-src="urn:270:03769.jpg" alt="腳各穴圖">
</figure>
<p>湧泉穴。男左轉揉之。吐即止。右轉揉之。瀉即止。左轉不揉。主吐。右轉不揉。主瀉。女反是。</p>
<p>驚來若急。大墩穴拿之。或鞋帶穴對拿。如嬰兒弱極。在大墩穴按之無脈。又在解谿穴再按又無脈。弱到十二分地位。不必醫。如兩處有脈。即用人參一二分服之自轉。不可多用。恐弱不能受。反加一死。醫者知之。</p>
<p>驚時。若身往前撲。即將委中穴向下掐住。身便直。若身後仰。即將膝上鬼眼穴向下掐住。身即正。</p>
<figure>
<img data-orig-src="urn:270:03770.jpg" alt="身面用燈火圖">
</figure>
<p><u>定驚元宵燈火。囟門。眉心。臍心臍輪。合骨。鞋帶。各穴共十五燋。</u></p>
<p><u>臍風燈火。囟門。眉心。人中。承漿。兩手大指少商。臍心臍輪。共十三燋。</u></p>
<figure>
<img data-orig-src="urn:270:03771.jpg" alt="背面肺俞各穴圖">
</figure>

<h2>死症辨</h2>
<p>前輩有死症訣。然於中治之卻有不死者。醫家不可棄而不治。大沖即大墩。無脈是弱症。屬不足。直視搖頭是風症。屬有餘。二者相兼。覺無此理。倘有相兼。不治症也。如止有一。斷非死症。魚口自動。忽作鴉聲。此脾有痰。而肝有風。若祛風豁痰。卻非死症。蛔蟲盡出。不加燒熱。補脾即安。亦非死症。面黃四肢腫。若黃有寶色。補脾行氣自消。卻非死症。至於鼻門黑燥。兼以肚大青筋。手抱頭上。兼以汗似油淋。囟門腫起。忽陷成坑。只犯一宗。猶非死症。若果並見。必死無疑。</p>

<h2>卓溪家傳口訣</h2>
<p>（前輩相傳不效者。刪之。兩代經驗過者。補之。亦有訣傳不明者。出己見以闡發之。）</p>
<p>嬰兒十指冷如冰。便是驚風體不安。十指梢頭熱似火。定是夾食又傷寒。（握之恐不真。再以兒手指貼吾面試之。不爽。）</p>
<p>以吾三指按兒額。感受風邪三指熱。三指按兮三指冷。內傷飲食風邪入。（以上探病法）</p>
<p>一年之氣二十四。開額天門亦此義。自古陰陽數有九。額上分推義無異。天庭逐掐至承漿。（卓溪）以掐代針行血氣。（此乃開首推法）</p>
<p>傷寒推法上三關。臟熱專推六腑間。（卓溪）六腑推三關應一。三關推十腑應三。推多應少（如只推不應。恐發熱則動火。過涼又有滯。）為調燮。血氣之中始不偏。</p>
<p>啼哭聲從肺里來。無聲肺絕實哀哉。（卓溪）若因痰蔽聲難出。此在醫家用妙裁。</p>
<p>（卓溪）病在膏肓不可攻。我知肺俞穴能通。不愁痰築無聲息。艾灸也能勝上工。</p>
<p>（卓溪）百會由來在頂心。此中一穴管通身。撲前仰後歪斜癇。艾灸三丸抵萬金。腹痛難禁還瀉血。亦將灸法此中尋。</p>
<p>張口搖頭並反折。速將艾灸鬼眼穴。更把臍中壯一艾。卻是治療最妙訣。</p>
<p>（卓溪）肩井穴是大關津。掐此開通血氣行。各處推完將此掐。不愁氣血不周身。</p>
<p>病在脾家食不進。重揉艮宮妙似聖。再加大指面旋（旋字不可忽略）推。脾若初傷推即應。</p>
<p>頭疼肚痛外勞宮。揉外勞宮即見功。疼痛醫家何處識。（卓溪）眉頭蹙蹙哭聲雄。（古人只曰頭疼肚痛。非此辨法。何以知之。）</p>
<p>心經熱盛作癡迷。天河引水上洪池。掌中水底撈明月。六腑生涼那怕癡。</p>
<p>嬰兒臟腑有寒風。試問醫人何處攻。揉動外勞將指屈。此曰黃蜂入洞中。</p>
<p>揉掐五指爪節時。有風驚嚇必須知。若還人事難甦醒。精威二穴對拿之。</p>
<p>膽經有病口作苦。只將妙法推脾土。（卓溪）口苦醫人何處知。合口頻頻左右扭。（古人只曰口苦。非此辨法。何以知其口苦耶）</p>
<p>大腸側（側字不可忽）推到虎口。止瀉止痢斷根源。（卓溪）不從指面斜推入。任教骨碎與皮穿。揉臍兼要揉龜尾。更用推揉到湧泉。</p>
<p>腎水小指與後谿。推上為清下補之。小便閉赤清之妙。腎虛便少補為宜。（小指正面屬腎水）</p>
<p>（卓溪）小兒初誕月中啼。氣滯盤腸不用疑。臍輪胸口宜燈火。木香用下勿遲遲。（身不燒熱。啼聲雄壯。）</p>
<p>白睛青色有肝風。鼻破生瘡肺熱攻。（卓溪）祛風卻用祛風散。指頭瀉肺效與同。</p>
<p>鼻準微黃紫庶幾。（卓溪）奇紅帶燥熱居脾。大指面將脾土瀉。灶土（灶土即灶心焦土。名伏龍肝。）煎湯卻亦宜。</p>
<p>太陽發汗來如雨。身弱兼揉太陰止。太陰發汗女兒家。太陽止汗單屬女。</p>
<p>眼翻即掐小天心。望上須將下掐平。若是雙眸低看地。天心上掐即回睛。</p>
<p>（卓溪）口眼相邀扯右邊。肝風動極趁風牽。若還口眼頻牽左。定是脾家動卻痰。腎水居唇之上下。風來焉不作波瀾。雙眸原屬肝家木。枝動因風理必然。右扯將兒左耳墜。左去扯回右耳邊。（將耳垂下扯）</p>
<p>（卓溪）三朝七日眼邊黃。便是臍風肝受傷。急將燈火十三點。此是醫仙第一方。</p>
<p>（卓溪）效見推拿是病輕。重時莫道藥無靈。療驚定要元宵火。非火何能定得驚。若用推拿須下午。推拿切莫在清晨。任君能火還能藥。燒熱常多退五更。叮嚀寄語無他意。恐笑先生訣不真。</p>

<h2>推拿代藥賦</h2>
<p>前人忽略推拿。（卓溪）今來一賦。寒熱溫平。藥之四性。推拿揉掐。性與藥同。用推即是用藥。不明何可亂推。推上三關。代卻麻黃肉桂。退下六腑。替來滑石羚羊。水底撈月。便是黃連犀角。天河引水。還同芩柏連翹。大指脾面旋推。味似人參白朮。瀉之則為灶土石膏。大腸側推虎口。何殊訶子炮姜。反之則為大黃枳實。湧泉右轉不揉。朴硝何異。一推一揉右轉。參朮無差。食指瀉肺。功並桑皮桔梗。旋推止嗽。效爭五味冬花。精威拿緊。豈羨牛黃貝母。肺俞重揉。漫誇半夏南星。黃蜂入洞。超出防風羌活。捧耳搖頭。遠過生地木香。五指節上輪揉。乃祛風之蒼朮。足拿大敦鞋帶。實定掣之鉤藤，後谿推上。不減豬苓澤瀉。小指補腎。焉差杜仲地黃。湧泉左揉。類夫砂仁藿葉。重揉手背。同乎白芍川芎。臍風燈火十三。恩符再造。定驚元宵十五。不啻仙丹。病知表裡虛實。推合重症能生。不諳推拿揉掐。亂用便添一死。代藥五十八言。自古無人道及。雖無格致之功。卻亦透宗之賦。</p>

<h1>卷二</h1>

<h2>闡明五臟生克以知補母瀉子</h2>
<p>卓溪夏禹鑄曰。萬物以土為母。而人身亦然。陳非宋問曰。物賴土生。有形可見。人身亦以土為母。何以知之。曰。脾屬土也。以是知脾土為一身之母也。有脾土而後生肺金。肺金生腎水。腎水生肝木。肝木生心火。心火生脾土。此五臟相生之序也。有生亦必有克，不克則太旺無制。故肝木克脾土。脾土克腎水。腎水克心火。心火克肺金。肺金克肝木。此五臟相剋之序也。業醫者。不明五臟生克之定理。則治病兼補兼瀉之法。從何而施。如脾家虛極。法雖用補。補之不足。必兼補心。苟不明相生之理。焉知補心以補脾。如脾家熱極。法雖瀉脾。然瀉之不克。必兼瀉肺。不明相生之理。又焉知瀉肺以瀉脾。生我者謂之母。克我者謂之賊邪。如肝家虛極。則肺邪乘肝。補肝必兼祛賊。賊去而肝自安。不明相剋之理。又焉知瀉肺以補肝。舉此兩臟。餘臟皆可類推。</p>
<p>望形色審苗竅從外知內</p>
<p>禹鑄曰。望聞問切。固醫家之不可少一者也。在大方脈則然。而小兒科。則惟以望為主。</p>
<p>問繼之。聞則次。而切則無矣。經云。切而知之之謂巧。夫小兒六脈未全。切無可切。而巧亦無所用其巧。問而知之之謂工。小兒於未言時。問之無可問。即於能言者問之。多不以真對。是問之不必問。而工亦無所用其工。聞而知之之謂聖。小兒初病之時。聲音或不失其常。至病久而氣喪。氣喪而聲失。聞之無可聞。而聖又何所見其聖。況書有曰。哭聲不響者多死。而亦有不至於死者何。無非泥其聲。而不得其肺之絕與不絕故也。吾故曰。以望為主。曰。五臟之體隱而理微。望從何處。曰。體固隱矣。然發見於苗竅顏色之間者。用無不周。理固微矣。乃昭著於四大五官之外者。無一不顯。中庸所謂費而隱。顯之微者。不可引之相發明哉。故小兒病於內。必形於外。外者內之著也。望形審竅。自知其病。按病推拿。藥石見效之速。未有不如響之應聲者。內有臟。曰心。曰脾。曰肺。曰腎。曰肝。五臟不可望。惟望五臟之苗與竅。舌乃心之苗。紅紫。心熱也。腫黑。心火極也。淡白。虛也。鼻準與牙床。乃脾之竅。鼻紅燥。脾熱也。慘黃。脾敗也。牙床紅腫。熱也。破爛。脾胃火也。唇乃脾胃之竅。紅紫。熱也。淡白。虛也。如漆黑者。脾胃將絕也。口右扯。肝風也。左扯。脾之痰也。鼻孔。肺之竅。乾燥。熱也。流清涕。寒也。耳與齒。乃腎之竅。耳鳴。氣不和也。齒如黃豆。腎氣絕也。目乃肝之竅。勇視而睛轉者。風也。直視而不轉睛者。肝氣將絕也。以目分言之。又屬五臟之竅。黑珠屬肝。純是黃色。凶症也。白珠屬肺。色青。肝風侮肺也。淡黃色。脾有積滯也。老黃色。乃肺受濕熱。疸症也。瞳人屬腎。無光采。又兼發黃。腎氣虛也。大角屬大腸。破爛。肺有風也。小角屬小腸。破爛。心有熱也。上皮屬脾。腫。脾傷也。下皮屬胃。青色。胃有寒也。上下皮睡合不緊。露一線縫者。脾胃虛極也。面有五位。五臟各有所屬。額屬心。離火也。左腮屬肝。震木也。右腮屬肺。兌金也。唇之上下屬腎。坎水也。五臟。里也。六腑。表也。小腸心之表。小便短黃澀痛。心熱也。清長而利。虛也。胃乃脾之表。唇紅而吐。胃熱也。唇慘白而吐。胃虛也。唇色平常而吐。作傷胃論。大腸。肺之表。閉結。肺有火也。肺無熱而便閉。必血枯。不可通下。脫肛。肺虛也。膽乃肝之表。口苦。肝旺也。聞聲著嚇。肝虛也。膀胱。腎之表。居臍下氣海之右。有名無形。筋腫筋痛。腎水之寒氣入膀胱也。面有五色。一曰紅。紅病在心。面紅者熱。一曰青。青病在肝。面青者痛。一曰黃。黃病在脾。面黃者脾傷。一曰白。白病在肺。面白者寒。一曰黑。黑病在腎。面黑而無潤澤。腎氣敗也。望其色若異於平日。而苗竅之色。與面色相符。則臟腑虛實。無有不驗者矣。</p>
<p>五臟各有所司從外治內</p>
<p><u>心</u>　乃一身之主。通身皆心司之。專主血。專司神（如驚悸不安，屬心虛）　淚（無因而淚者，心熱也）　汗（身瘦不動而汗者，心虛也）　莖（陽物也，腫者心熱。）　以上有病　俱從心治。</p>
<p><u>脾</u>　專司元氣（氣弱者脾虛）　氣（又分司汗，氣虛盜汗）　肌肉（消瘦者脾虛）　痰（實痰動者，脾濕也，虛痰動者，脾虛也）　思慮（過則傷脾）　以上有病俱從脾治。</p>
<p><u>肺</u>　專司聲音（弱者肺虛也，有聲不出者痰蔽也，聲撒者肺氣不斂也，無聲者肺絕也）　熱（出在肺）　皮毛（破癢者肺燥，不潤者肺虛）　腠理（肉外皮內，不密則汗出）　以上有病，俱從肺治。</p>
<p><u>肝</u>　專司血（血弱者肝虛）　汗（又分司汗，血虛自汗）　筋（抽掣者肝風）　以上有病俱從肝治。</p>
<p><u>腎</u>　專司骨、齒、耳　以上有病俱從腎治。</p>
<p>脾肺內有傷，皆從外入，如父母舐犢過愛，則飲食傷脾，護持疏失，則六淫傷肺。至於心、腎、肝無有傷處，到成人後，縱情欲多房事傷腎，守錢虜去財谷傷心，四畏至時忍惱傷肝，乃如之症遠近便多，卓溪雖有良方，惜乎鞭長莫及。</p>

<h2>辨臍風</h2>
<p>夏禹鑄曰：三朝之內，便是臍風，如七朝之外，定然不是。前人只曰，風由臍入腹，以致撮口噤口，並不曾說出一種理來。余思嬰兒出世，剪落臍帶，帶口有水，風固乘水由臍入腹，然腹與唇舌相去甚遠，而唇撮舌強何故。把賊邪逆犯之理一悟，乃知風入於腹始附於肝。肝。木也，風則附木而鳴。目，肝之竅，兩眼角故有黃色。風入於肝必逆犯乎脾，鼻準脾之屬，故準頭又有黃色。入於脾必逆犯乎腎，兩唇屬腎，故色黃口撮。入於腎必逆犯乎心，舌乃心之苗，故舌必強。直到此風火交熾，亡之必矣。余悟臍風顛末至此，自問亦不自知。語曰：思之思之，豁然通之，殆此謂歟。臍風初發，吸乳必較前稍松，兩眼角挨眉心處忽有黃色，宜急治之，治之最易；黃色到鼻，治之仍易；到人中、承漿，治之稍難；口不撮而微有吹噓，猶可治也；至唇口收束鎖緊，舌頭強直，不必治矣。一見眼角，鼻及人中有黃色，而唇不撮緊者，曲兒小指，揉外勞，即用燈火於囟門、眉心、人中、承漿，兩手大指少商各穴一燋，臍輪六燋，未落帶於帶口火燃，既落於落處一燋，共十三燋，風便止。而黃即退矣。此火攻之法，何異呂祖壺中藥，盧公再生方哉。願普天下為兒父母的依余看治，即十百千萬億中，斷無一孩死於臍風者。</p>
<p>余常見大方脈書垂效案，無一姓氏，似屬虛誕，卓溪叟附錄必書姓氏，斷不敢謬，如有借名，是書一出，將何以對效案中諸君子乎。兩代效集充笥不能盡載，聊取疑難之症約略附之各症之末，非矜己也，用以資事斯道者之相較驗云。</p>
<p>長山庠友儲二有，一日抵掌下，偶道及從前舉子俱不育於臍風。余為約日後生子，三朝內招余過望，此患可除。後果如約，將兒抱出，兩眼畔黃色方興，用燈火十三燋即退。此望臍風不爽之一驗也。</p>
<p>余邑中嶧桐居士劉伯宗先生乃郎佶，三婦初舉嬡，臍風，延至七日，口不吹噓，亦不撮緊，兩眼角黃色，深集溶溶，鼻準並溝畔，黃色淡淡，身上微燒，見之甚訝。從未有臍風能延至七日者，以眼角鼻上黃色濃淡揣之，知其脾土稟賦甚旺，風難遽入，以故爾爾。余重揉外勞，用燈火十三燋攻拔肝風於鼻上，並左右溝里加火三燋以截去路，用防風一錢煎服，立愈。此臍風異症之一驗也。</p>

<h2>辨胎寒</h2>
<p>胎寒，下地後或半日、一日內，通面皆青如靛染，口不吮乳，先有啼聲後復不啼而昏迷者是也。觀兒兩眼、鼻準無黃色，口又不吹噓，定是胎寒。先於精靈、威靈二穴對拿緊，並將崑崙穴拿緊，其聲稍出即用十五元宵火斷之；或聲不出。亦用此火則聲必出，乳必吸，青色必漸退矣，然此症須防作吐。胎寒者臟腑皆寒，胃先納乳，胃寒不能納，故必吐。治用人參一分，桔梗一錢，白朮三分，藿香五分，服之自愈。亦有發之遲者，胎有寒而外無感冒，則遲之二三日之間。胎有寒而下地復感其寒，故即發於半日一日之內，面必青色，唇白，瀉白，或昏睡，或腹痛，或口不吮乳，四肢必冷曲手握掌，或啼哭不已，皆胎寒也。治之切勿認為臍風，當以辨臍風之法辨之，治宜用理中湯加附子。遲久，或變為盤腸內吊，治宜用鉤藤膏，此症由娠母好食生冷、坐臥貪涼所致。</p>

<h2>辨胎熱</h2>
<p>胎熱者，通面大紅。紅雖赤子本色，恐人不能辨。蓋本色紅而淡，淡而正。熱色深紅而燥，燥而色雜，如滿口熱氣莽莽，或舌腫而紅紫，口氣蒸手，或大便閉結，小便短赤，目內紅赤，此皆胎熱也。如牙齦腫硬不能吸乳，用銀簪於牙上下合骨處刺破出血，而乳自能吸。隨用連翹一錢，伏龍肝二錢，車前一錢，煎服，或用大連翹飲。此症由娠母喜睡火炕，好食煎炒所致。</p>

<h2>辨胎毒發丹</h2>
<p>此症由娠婦常浴熱湯，或久臥火炕，或過食煎炒辛辣。其候丹發頭面四肢。赤色遊走不定，先用天保采薇湯表散，次用大連翹飲。或傷乳發丹，大便閉結，宜用四順清涼飲通之自愈。</p>

<h2>辨胎驚胎風</h2>
<p>驚與風名異而症同，如面青搐搦，口噤身熱背強者是也，若目直竄視最為難治。宜先拿精威二穴並崑崙穴，少頃即曲兒小指重揉外勞宮，隨用元宵火定之，即服豬乳膏。此症由娠母性強，撒潑顛撲，損傷心血，應之於胎，外復感挾風邪相觸而發。</p>

<h2>辨胎黃</h2>
<p>胎黃由娠母感受濕熱傳於胞胎，故兒生下，面目、通身皆如黃金色，壯熱便秘溺赤者是也。治用地黃茵陳湯。</p>
<p>余同學庠友方孟居舉子，剛出世，少頃通面青如靛染，昧爽呼門，振袂往視，知為胎寒之極，拿精威二穴無聲，曲小指揉外勞，隨用元宵火加肺俞二燋，少商各一燋，即乳。余知必吐，預用藿香煎之。果吐，與服之。早食候天庭青退，至亭午通面皆紅矣。此執色驗症之一徵也。</p>
<p>方姓有子通其人者，生子七日內不吮乳，適余在郡，請別醫誤作臍風。余歸，要路留治。見其唇燥極，面色紅中帶暗，燒熱亦甚，揣不吮乳之故必是牙關腫硬。用針於骨合處各一針，血出放手即乳。用連翹一錢，灶心土二錢，木通五分煎服，即愈。此望色審竅之一驗也。</p>
<p>余男之云同年泮友胡增奇，生男四日，內地距四十里許，不便邀看，來與余說：面上黃色，身有微燒。余揣臍風，黃色必不通面，因問眼內何如。渠說亦有黃色勢樣。余曰：定是胎黃。以地黃茵陳湯方授之，愈。此問色知症之一驗也。</p>

<h2>辨蒸變</h2>
<p>小兒生下，三十二日一變，六十四日一蒸。變者，變生五臟；蒸者，蒸養六腑；長血氣而生精神、益智慧也，積五百七十六日乃除。蒸變必燒熱，其狀似驚，耳尻俱冷，口內上唇有白泡，如魚目粟米大者是也。蒸變之候，口唇舌色俱照尋常無異，燒熱雖有重輕，精神卻不喪失，口氣必不暴戾，輕則三四日解，重則六七日除，不可妄投藥餌，聽其自愈。</p>

<h2>辨脾實熱虛熱</h2>
<p>脾實熱，鼻必紅燥，唇必紅燥而裂，牙之裡旁必掀腫而紅紫，大便色必深黃，或身熱不食，或精神疲倦，或熱吐、熱瀉，治用伏龍肝五錢，熟石膏一錢，服之自愈。脾虛本無熱，所以熱者虛使然耳，初由脾虛而復傷飲食，其候身微熱，鼻微紅而微汗，口雖渴而唇必慘白，口氣必微弱。以手按之而不蒸手，或食而不化，或見食而不喜食，或瀉，或吐，此皆虛熱之症也。治宜補脾為主，用六君子湯加藿香。有脾虛腹腫，或因傷食而起，以指彈之如鼓聲，以手捺之如綿軟，切不可用通藥，宜用六君子湯加厚朴，或腳腫加大腹皮。如腹腫彈之不響，捺之鐵硬，上有青筋，作肚大青筋論。四肢俱腫，作腫脹論。如脾虛腹腫，一用通藥，十有十死，連用六君子湯十劑自消。</p>

<h2>辨脾濕</h2>
<p>脾濕，由脾弱不能制水，水反侮土。其候面暗而不澤，唇晦而不紅，或痰易動而不化；或食稍傷而即瀉，瀉下澄清如水，或身上發熱，此脾濕症也。治用蒼朮、白朮、陳皮、白茯苓、半夏，甘草。如脾土傷食而生痰者，治用消導二陳湯加炮姜。</p>

<h2>辨肺熱、肺寒、肺虛</h2>
<p>肺熱右腮紅，至申酉時其紅更盛；或大便閉結，或身熱，或喘急而咳嗽；或嗽不出而面壅赤無痰，或口渴氣莽；或鼻門乾燥且燥破生瘡，皆肺熱也，治宜用瀉白散。肺虛，面色慘白，外無感冒，治宜用五味子、白朮、白茯苓、陳皮、款冬花、甘草。肺寒，治用參蘇飲。其肺寒及寒極似熱，治法在後傷寒類。</p>

<h2>辨心實熱虛熱</h2>
<p>心熱額色紅燥，或舌紅紫，或舌紅而腫，或小便赤，赤而澀，澀而痛，或燒熱，皆心熱也。推法運掌從坎入艮，退下六腑，水底撈明月，引水上天河，治用犀角解毒湯。虛熱症面白，唇舌慘淡，小便清利，口亦作渴，治用人參、白茯神、遠志、白朮、甘草，服三、四劑自愈。</p>

<h2>辨心經熱極似寒</h2>
<p>額不紅，舌不紅腫，小便不赤澀，乃熱蘊於心，不形於竅，不傳於色。口氣如焚，睡中齒如錯鋸，口必狂言，啼哭淚多，此熱極似寒也。推法同心熱，藥用犀角磨水飲之，或大連翹飲。</p>

<h2>辨心熱昏迷似驚</h2>
<p>其候燒熱平常，似有驚而不抽，昏迷無知。治用半夏、陳皮、桔梗各二錢煎服。後用甘草三錢，連翹、木通各一錢服之，自愈。</p>
<p>九思軒措大方遴萃，舉子才兩月，症屬脾濕動痰傳入肺竅，乃妻呼挑筋，婦挑之，症加甚。且曰挑遲了，不可愈。余往視之，拿卻無聲，審音知痰入肺竅，先用推拿兼使燈火，隨用半夏二錢，桔梗，枳殼，白朮各一錢服之稍愈。遴萃聞余言，半夏合症重用之，微動燥氣。余即用赤芍等味解之，全愈。此脾濕動痰，挑筋無濟，用藥輒效之一驗也。</p>
<p>余長女甫四歲，身上微熱，口說詭話，且無所不說，面色紫黃，唇色略紅，舌尖獨燥，口氣如火，精神不弱，口不作渴，據面色卻是中暑。但病值三月，暑非其時，以舌尖口氣並精神揣之，定是熱極似寒，用犀角磨水一杯服之，少頃一吐即愈。此熱極似寒審竅探情之一驗也。</p>

<h2>辨燒熱</h2>
<p>夏禹鑄曰：燒熱之因不一，不可概作風寒，今照症發明，人當探本。</p>
<p>肺部燒熱有五</p>
<p>一、感冒。面色寒滯，兩頰或似水紅桃花，鼻流清涕，惡風痰壅，治宜芎蘇飲以表之。</p>
<p>一、受暑。面色慘淡，唇口舌皆淡白色，四肢困倦，神氣萎靡，自汗煩渴，或說詭話，宜用清暑益氣湯。</p>
<p>一、本髒髮熱。鄰家有流行痲痘者，不可誤除。</p>
<p>一、本臟有虛。面色白，口氣微，唇舌淡色，或發嗽熱必輕微，治宜用五味子、麥冬、冬花、白朮、白茯、陳皮等味，服之自愈。</p>
<p>一、本臟有熱而發燒熱者，面色紅燥，口中作渴，鼻門乾燥，或大便秘結，治宜瀉白散。</p>
<p>心經燒熱有二。</p>
<p>一、　面紅狂躁，唇舌色紅紫，口氣莽莽，小便赤，治用黃連、生地、木通、甘草、竹葉。</p>
<p>一、　舌白，口氣微，小便清，驚悸，燒熱微微，此虛燒也。治用茯神、遠志、甘草。</p>
<p>脾家燒熱有三。</p>
<p>一、實熱。舌唇、牙床皆紅燥，或破裂，或碎爛，或大便秘結，或瀉黃，或口渴氣莽，治用石膏一錢，灶心土三錢，黃芩，甘草。</p>
<p>一、虛寒。脾本無寒，虛則生寒，面生慘淡，唇口淡白，微渴，口氣微微帶溫冷，燒熱勢微，治用六君子湯。氣虛即脾虛，治法同。</p>
<p>一、實痰燒熱。脾本有痰，因濕而動，或兼食傷面色黯晦，唇有晦色，喉內痰勢響滑，治宜六君子湯加藿香。</p>
<p>肝經燒熱有一。</p>
<p>一、肝經燒熱。面色青，目直視，或驚，或轉筋，或兩手尋衣捻物，或多怒，治用瀉肝湯，或天保采薇湯。</p>
<p>時毒燒熱有一。</p>
<p>一、時毒燒熱。或腫頸，或腫腮，或身有腫毒，或頭瘡，搽藥瘡愈，毒氣歸內，氣喘，治用天保采薇湯托解。瘡復出，仍用天保采薇湯一、二劑，自愈。</p>
<p>血虛燒熱有一。</p>
<p>一、血虛燒熱。面無血氣，下午至夜燒熱加重，唇口白淡，大便常滯而不出，出則溏瀉，治用四物湯。</p>
<p>余會試都門，有粵東臬司張玉川乃嬡，年十三歲，身極瘦弱，每食只能一茶鍾許，終日微微燒熱，下午加甚，都中醫俱作童癆治，不效。延餘一望，知為血虛。血虛必腸胃無滋，以致窄狹，故不能多食。用四物湯加厚朴、橘紅，服十劑，兼用熟大麥米為飯，半月愈。此望色審竅而知血虛燒熱之一驗也。</p>

<h1>卷三</h1>

<h2>闢諸驚名之謬</h2>
<p>夏禹鑄曰：小兒發驚而村婦庸夫，多以鐵針於兒手挑筋破肉，噫，異矣。此喪心之村婦、覓食之庸夫，不知驚之為驚，而誤認為筋骨之筋也。蓋驚者驚嚇也，由兒先有內傷復來外感，肺竅痰迷，心無所主，一著驚而即發也，若不豁痰以療驚，祛風以止掣，只把手筋挑斷以免筋抽，不猶之止兒之啼而惟塞其口耶。況驚屬心，筋屬肝，若挑筋以治驚，便與明紀上有云，女婿牙疼灸岳母的腳後跟又何有異。推前人所稱，蛇絲、馬蹄、鯽魚、烏鴉等驚名之意，無非為後之癡人立其名色，告以病表，使易識耳。因兒舌吐出如蛇舌，遂以蛇絲驚名。兒手足撐踢如馬蹄，遂以馬蹄驚名。兒口動如魚吮水，遂以鯽魚驚名。兒身黑如烏鴉，遂以烏鴉驚名。如執此以治驚，則當用雄黃以治蛇絲，絆馬繩以治馬蹄，香餌以治鯽魚，穿楊箭以治烏鴉，方為中病之藥。然筋亦有時而抽者何，蓋筋屬於肝，血行於筋，氣以行血，肝有賊邪，則氣血與賊邪交戰而不行，以致筋受風邪而抽掣耳，故豁痰以療驚，祛風以止掣，乃莫破之理。餘妙法備傳，較之玉宮紫府之仙方，枯木回春之造化，不相軒輊。凡我同人，萬不可以蛇絲諸詭名，執為正論垂之，以殺有冤莫訴之嬰兒也。</p>

<h2>闡明發驚之由兼詳治驚之法</h2>
<p>夏禹鑄曰：驚生於心，痰生於脾，風生於肝，熱出於肺，此一定之理也。熱盛生風，風盛生痰，痰盛生驚，此賊邪逆克必至之勢。療驚必先豁痰，豁痰必先祛風，祛風必先解熱，而解熱又以何者為先乎?肺主皮毛，皮毛為賊邪入內之門戶，彼風、寒、暑、濕、燥、火六邪之來，皮毛受之即入犯乎肺，肺本出熱地也，燥火暑邪一入，則熱與熱依而熱盛；風寒濕邪一入，肺竅為之閉塞，則熱無所泄而熱亦盛。若解熱必先祛邪，前書上只云解熱，並未說到祛邪，今以祛邪之法詳之，一用拿，一用推，一用燈火，一用灸，一用藥。</p>

<h2>驚癇死症辨</h2>
<p>先君初明有曰：如兒體不近肥，痰不甚盛，不省人事，張目視人者，在精威二穴對拿緊，了不知痛，竟無掙聲模樣，惟咬齒搖頭，此肺經已絕。肺，金也，如鐘磬之類，空則聲亮，碎則聲無，治之無益。</p>
<p>夏禹鑄曰：驚之為症，症屬有餘。語云：寧醫有餘，不醫不足。既曰有餘胡亦有死，我知之矣，此乃肺氣先弱，肺主皮毛，淫邪一犯，肺實受之，是已弱又加弱也。由肺犯肝，由肝犯脾，理應犯腎。奈腎只虛位，卻無實地，亦且水鄉，風則可動而熱與燥火俱不得下，其勢又難中阻，只得又順傳入肺，嗟嗟，肺氣幾何而能堪此重困耶。到此地位，須得聚窟中返魂樹、西域內更生香，庶乎可活。</p>

<h2>驚癇活症辨</h2>
<p>初明曰：如驚痰築甚盛，昏昏不省人事，於不抽掣時把精威二穴對拿緊，不咬齒，不搖頭，不直視人，亦無掙聲的模樣，將兒面向我，以我兩手騎兒肩，大指握前，以第二兩指並狠狠揉肺俞兩穴，聲雖不出，一掙一掙，恰似那蜾裸在窠中喚化螟蛉，卻不是開口叫類我，類我有聲有音的樣子，卻是個緊閉著口掙不出累累如貫珠，有聲無音的樣子。此乃肺被痰築，如鐘磬中以物塞之即重叩亦不響，定是活症，急灸肺俞穴各三壯，只用天保采薇湯，不必用推。若發驚拿醒便知人事，即用後推法並燈火及藥。</p>
<p>推法：開天門二十四下。（從眉心推上髮際）分陰陽九下。（用兩大指從眉心分推至太陽、太陰，此不論寒熱虛實皆用。）如感寒，在太陽上重揉發汗，體弱感寒，亦揉太陽發汗，並揉太陰以留汗，使發汗在皮裡膜外之間，庶免汗失亡陽，更加虛弱之弊。（女則揉太陰發汗，揉太陽止汗。）隨向天庭、眉心、山根、準頭、人中、承漿。各掐一下，以代針法。男在左手三關推上三十回。六腑五、六下，以應之；又將我兩手握兒左右掌向上，於總筋穴分推六、七下；又在左手掌上運八卦，從艮宮推往坎宮二、三十回，曲兒左手小指重揉外勞宮，名曰黃蜂入洞，三十下；即於五指節逐一捻揉兩次，在左腳委中穴往下捋三十下以上，男女各推左手左腳，即用元宵火定之；隨服天保采薇湯，邪即解，驚即退，而燒熱即除矣，此祛邪之法也。如症重燒極，再加一劑，從未有不效者，燒熱退定在五更鼓。以上法不論肺熱、肺寒、肝旺、肝熱、脾濕並用。</p>

<h2>辨驚有痰盛風盛熱盛</h2>
<p>初明曰：痰盛發驚，一驚即死，不省人事，抽掣輕而燒熱盛，此脾痰入肺，亦用天保采薇湯，內半夏倍加三、四錢，前胡倍加二錢，蒼朮倍加一錢，夏月加香薷。</p>
<p>初明曰：風盛發驚，雖驚死而精威兩穴一拿即蘇。若手足抽掣不已，一日一夜竟發數十次，此肝風入筋，亦用天保采薇湯，內羌活、柴胡各倍加一錢，半夏倍加三錢。如在夏月，外加香薷一錢五分。</p>
<p>初明曰：熱盛發驚，其狀無異風痰，只口多作渴，此外邪入肺，亦用天保采薇湯，內乾葛桔梗倍加二錢。</p>
<p>除以上三症外，有心經發驚之症舌必吐出，其色紅燥，此本臟有熱而發。推法：開天門，分陰陽，男在左手退下六腑，女推上三關，男女俱在左掌心運八卦，推坎入艮，掌中水底撈月，引水上天河，再用連翹二錢，黃連五分，木通、防風各一錢，水煎服，如在夏月加香薷。</p>
<p>初明曰：驚症或驚死一、二日，或三、四、五、六、七日不蘇，即蘇亦不省人事，或抽掣，或不抽掣，宜急於肺俞穴用艾灸三燋，若一拿即蘇，不必用灸，只須元宵火，天保采薇湯連服三、四劑，重加半夏四、五錢，從未有不活者。如在夏月，外加香薷一錢五分。</p>
<p>初明曰：間亦有肺無痰塞，拿之無聲者，不搖頭張目，亦是活症。此由病久亂醫、亂推、亂拿，無所不至，哭喪肺氣，以至無聲。如此便知失聲之由，切不可再推、再拿、用火、用灸，惟用天保采薇湯等分服之，一劑便愈。如在夏月，外加香薷二錢。</p>
<p>初明曰：又間有發驚昏昏沉沉，條條直直而睡者，雖不省人事亦能自己翻身，手腳曲直自如，竟至十日內外不醒，卻又不死，此症卻與柔痓相似，不必推，惟用拿，拿精威、大敦、中臁、肩井諸穴並揉五指節及肺俞穴。以上諸穴，各用燈火一燋，用密陀僧一字系二釐半研細醋製，用半杯水酒灌下，再服天保采薇湯，倍加桔梗、半夏即蘇。如在夏月，外加香薷二錢。</p>
<p>夏禹鑄曰：以上驚症先君只說形狀不言色竅，蓋因驚死之際面目、唇舌俱非本色，如雲望色，必清濁難分，求其治法，必亂絲無緒，北適南轅在所不免，只得把形狀辨別，方無有誤。</p>

<h2>辨熱瘧似驚風傷寒</h2>
<p>夏禹鑄曰：熱瘧之燒熱，與傷寒無異，最難辨別。看時若無真傳慧眼。以熱瘧作傷寒驚風治者，十有其十。即問之普天下醫家能辨此症者，吾知其必無多也。余考先君效案中，醫愈不下數千人，看法載之甚悉，治法亦覺平常，然治之必效。古所謂藥用當而通神者，此也。余遵先君辨法，一見便知，自信不啻，雙鏡照膽，一藥便愈，無不駭曰：奇症奇醫。然而無奇也，人惟辨之不真，以故藥之不效。今發辨瘧之秘，傳我同人，俾嬰兒不苦於熱瘧，庶可告無罪於盧醫。</p>
<p>傷寒燒熱。每日到晚不減一分，不增一分，始終毫不間斷，只是平平而燒，不抽不驚，此乃傷寒之燒熱也。驚風燒熱似乎傷寒，而多一抽掣。蓋由筋屬於肝，肝風動故抽筋。肝風入脾，脾動痰，故驚。此乃驚風燒熱之辨也。</p>
<p>熱瘧燒熱雖同而症實有別，或食滾茶滾湯，或大哭大叫，頭面上必有汗。一有汗，燒熱即退二、三分，少頃又照原，便是熱瘧，此一辨也。</p>
<p>自早至晚必有一時更甚，或眼泛去，或手足掣，一掣出汗燒熱即退，獨腹上不退，少頃又燒，每日皆然，定是熱瘧，此一辨也。</p>
<p>喉內必有痰，一哭必嘔，嘔即痰出，定是熱瘧。若驚風之痰盤踞乎肺，必不到胃，何得吐出，此一辨也。</p>
<p>醫傢俱有靈心慧眼者不須辨此，只須一眼一望而知。面色非黃似黃，非白似白，精采似倦不倦，面色慘慘而無潤澤，毛孔爽爽而不直豎，兩眼瞧人卻像個無病的光景，熱瘧昭然。此症多發於五、六、七、八、九月之間，用清脾飲無有不效。發一、二日者定要服五、六劑；發至五六日者，只須三、四劑。亦有誤作驚風傷寒治者，或至十日二十日，甚至一月不愈，只須一、二劑，切不可以一劑不愈遂作別症，換方而誤殺人性命也。不知者難怪指鹿為馬，在余父子兩代治之屢屢不啻，黑白分明。今把金針遠度，何難巧繡鴛鴦。</p>
<p>又有熱瘧一日一燒，燒有定期，其候不冷，一來只發熱，或自下午起至半夜，汗出便解，手心、肚腹熱不盡解。或不自下午發，不可拘，亦用清脾飲。以上熱瘧，如小兒瘦怯者熱退或弱死去，必要用六君子湯以補脾。</p>
<p>後例雜症，余半出書傳，惟於疑惑處辨之，經驗者著之，不效者刪之，於書所未傳見症想出治法，不過十之四、五。獨驚類以及熱瘧、臍風辨法前所未傳，推拿傳法亦誤。余父子兩代於七十餘年中，因症生悟，由悟入神，一見便知，一藥便愈。倘所謂前無古而後無今者，非耶。今出蘭亭真本，慎勿視為楓落吳江。</p>
<p>凡症用藥不過一、二、三味，甚至八、九味為度，獨驚癇症用至十九味，何也。只因群邪逞勢，各臟為殃，深入內地，無不受害，上而顛頂，下而厥陰，手、足、腹、心到處波及，是以攻堅削亂之兵不可缺一，故王翦伐荊預知非六十萬眾不克胥，此之謂。凡我幼科慎不可以天保采薇湯作八寸三分帽，盡人可戴也。</p>

<h2>辨癇症</h2>
<p>癇雖有七種，歷治惟從陰陽二癇治之為驗。</p>
<p>一癇即死，咬牙抽掣，痰壅喉內，不省人事，在日發者為陽癇。面色光澤，病在六腑、肌表，如拿不醒，必灸肺俞各穴三壯，即用天保采薇湯等分各一錢，連服二、三劑，自愈。</p>
<p>一癇初發，身無燒熱，手足青冷，口噤驚啼，吐舌搖頭，是為陰癇。面色黯晦或從夜發，病在五臟、骨髓，此最難治，宜用固真湯加南星。</p>

<h2>辨陽瘧兼癇</h2>
<p>夏禹鑄曰：其症先有燒熱，一癇而死，拿之即蘇，汗出稍定，汗止又發，此乃陽瘧兼陽癇也。瘧是本病，癇是標症。急則治標，先用天保采薇湯表散，倍加半夏三錢，連服二三劑，再服清脾飲一二劑，標本俱清，即愈。</p>

<h2>辨痓病</h2>
<p>痓病皆因風濕而成，濕乃本而風則標。若面目赤色，無汗惡寒，牙關緊急，一身強硬，痰涎壅盛，小便赤澀，一發終日不蘇，先有譫語，名曰剛痓。乃風性剛急，症屬於風是也，治宜小續命湯去附子。若四肢厥冷，有汗，不惡寒，大便滑瀉，不渴不語，名曰柔痓。是濕性溫和，症屬於濕也，亦用小續命湯，去麻黃。</p>
<p>症如痰壅氣盛，加南星、半夏、白茯以清痰，枳殼、陳皮、紫蘇以順氣。內熱便秘，用承氣湯以下之，柔痓用附子理中湯以溫之，六君子湯以補之。如纏綿不已則難治也。如病久而復手足抽攣，如角弓反張，此乃血枯不能養筋，治用四物湯加附子、防風、羌活，切不可作驚癇治，恐誤則殞命矣。</p>
<p>餘外孫與內侄孫兼患熱瘧，見之甚真，老妻見服清脾飲二劑不愈曰：世上有此瘧疾，敢是老眼昏花錯認了。余曰：能捱至四劑自愈，果驗。內侄孫亦以清脾飲方授，持歸不服，作別症醫，病益甚，又來。強余往視，余怒極，老妻慰之行。一到仍檢清脾飲二劑命服之。余老友方桓綏訝曰：有此奇症就有此奇醫。俱隨命服六君子湯三劑以防去路。此熱瘧認症既真，不聽阻撓之一驗也。</p>
<p>烏沙夾邑庠程灼公子九歲時得病請余往治，群醫在座，抱兒出，兩手挑破筋肉，膿血淋漓慘不忍見，每日夜抽掣數十餘回，壯熱不退。余戲問曰：如此一症諸位填門治胡不愈，願聞各用之藥。有以竹瀝墜痰言者，有以牛黃鎮驚丸言者，有以天麻、鉤藤定驚言者，有歸咎於挑筋用火之為害者。余不禁掩口。胡盧此症君輩不知也。交口請以症示，曰：此陽瘧兼陽癇也，如此治法症有萬千吾不知從何處說起。中一人問曰：先生認法得自何書。余曰：唐許允宗有曰，醫者意也，思精則得之，自我作祖何書之有。眾皆默然。用天保采薇湯各一錢五分，半夏倍之，共三兩許，一服抽定，燒熱減半，隨用清脾飲一劑，全愈。與諸醫解座。此挑筋無濟望色通神之一驗也。</p>
<p>鄰邑石埭沈蒼錫，年五十餘，僅妾出一子方二歲，患病請救於余，即拿精威二穴，了不出聲，通身燒熱，面白雖慘，寶色內存，皮不輕浮光溜，據面色不應無聲。據無聲卻犯死症。因問前可醫過否。沈曰：初起時蒙鄰嫗挑筋兩次，又別請拿推數次，昨有人將桃柳柔枝遍身推括，晚便無聲矣。余揣病久肺氣已虛，屢致慘哭氣喪，喪氣以致無聲，惟照色用劑。以天保采薇湯外加冬花一錢，薄暮煎服，夜半熱退。此熱瘧兼癇望色審聲之一驗也。</p>
<p>徐聖緒子患驚癇不省人事約五六日，緣乃伯措，大伯孚曾與余同硯。席邀治。精威二穴，拿之無聲即向肺俞重揉，聲雖不出卻有累累貫珠掙不出來模樣，灸肺俞各三壯，用天保采薇湯倍加半夏，單向大方脈素與余友善徐仲石處檢藥，對聖緒云：在禹鑄人信砒霜俱用得，然好也是這一服，不好也是這一服。余臨別云：服此一劑，雞鳴便退燒熱。果如期熱退，二服全愈。此陽癇已死揉肺俞探肺竅之一驗也。</p>
<p>庠友張孔邇婿邑庠王紹宗年可二十餘歲，一時癇死不知人事約半月餘，他醫純用連芩之劑毫不見瘳，邀余看治。余以症屬大方脈，固辭。孔邇力迫之行，一見顏色便知痰患，拿精威二穴不應，於老龍穴一掐直視乎余，有哄哄若甕里音，用半夏四錢，桔梗二錢，枳殼、防風、甘草各一錢，一劑稍蘇，五劑全愈。足見肺雖無聲非金碎，何不可藥。此中痰望形審竅大小皆同之一驗也。</p>
<p>竹塘陳諱春者一子十一歲，患病十餘日不省人事，初人見其不醒以為驚死，於鞋帶穴人中掐咬，破爛不堪，請余往治。見其唇口晦色如醬，不抽不掣不渴，肢冷如冰，治用燈火十五元宵，隨服小續命湯去麻黃一劑，即蘇。此望色審竅而知為柔痓之一驗也。</p>

<h2>慢症</h2>
<p>人動曰慢驚，余獨曰慢症。蓋此症多成於大病之後，或庸醫一見病愈遂不防守去路，或初誤汗、誤下吐瀉久，而脾胃虛極故成慢症。慢字緩字雖對急字而言，然所以成此症者，皆由父母怠慢之故，或有汗出不止者聽之，吐瀉不止者聽之，以致汗久亡陽，吐久亡胃，瀉久絕脾，成難起之疾，故曰慢症。慢症何驚之有，以慢症而云驚皆庸醫。見兒眼翻手掣握拳形狀似驚，故以驚名之，一作驚治或推或拿或火，是猶兒已下井而復落以石也。慢症者脾虛也，眼皮屬脾，脾敗故眼皮不能緊合，而睡則露睛，虛極則脾失元氣，故兩目無神而多昏沉，脾敗則枯涎無統，故凝滯咽喉而有牽鋸之聲。手足脾胃所司，脾胃敗故四肢厥冷虛慢必生寒，寒則大便瀉青，而小便清利。便知為慢脾之症，若療驚則無驚可解，祛風則無風可祛，除痰則無痰可除，解熱則無熱可解，惟脾間枯痰虛熱往來耳。治宜固真湯加天麻、鉤藤，或六君子湯加炮姜，或理中湯加附子。</p>
<p>凡兒一到慢症，十僅能醫六七，蓋症至此，肺心脾三臟俱虛，胃氣大腸兩腑俱敗。若虛而不絕，雖久能生，如胃氣將盡，萬不可活。即強藥之亦活，活一二日究非真活也，然非假活不足以見藥力之妙。余見之甚眾，如慨然領手者其症必生踟躕，固謝者縱藥亦死，此無他，惟於面上看寶色，胃間探消息，生死便燎然在目矣。</p>
<p>余幼女於壬寅冬值先君辭世之會痲症，有失經理，冷瀉成慢，幼甥同症，熱瀉成慢。妹婿聞遠波僧精於此道，呼治之。日索藥價，丸如綠豆大，每丸銀三錢，屢服症加重。余女眼閉不開約十餘日，問乳母幸吮乳不輟，面上寶色有存。余用固真湯加附子五分，服三劑眼一開頃又閉，揣之藥力未及，連服十劑，愈。甥慢雖同寒熱迥別，知不可治。妹婿嗔余有親疏之別，藥吝參附與余妹反目。遠波僧見余甥光景，強壯如故，滿口許其必生，余作色辨曰：爾以健壯為生耶，獨不思熱則氣壯，況熱瀉，明知肺熱用參反傷乎肺，不用則慢無治法。將謂清肺再用參，一清則脾氣即絕，清不得，補不得，何生之有。遠波默然趨去，越三日，死。此慢症雖同，寒熱迥異，不可不察之驗也。熱慢不多見，亦學者之所宜治。</p>

<h1>卷四</h1>

<h2>痲症</h2>
<p>夏禹鑄曰：痘出於臟，痲出於腑，痲乃大腸主之，毒氣蒸肺故發咳嗽。先輩書未嘗齒及痲症，蓋以其輕而忽之也，卻不知表症雖輕，毒侵肺腑，亦多性命攸關。余經歷甚眾，費手居多，因不惜筆力詳著於篇，以杜嬰兒痲症之患流行。痲症其候燒熱，必發咳嗽，聲必稍啞，麵皮微有腫樣，兩腮顏色微紅，此吉兆也。如發出不快及不透發，或紅點見面，偶挾風邪而隱，或醫人不知，誤除燒熱，隱而不見，腹內作痛，治之神莫神於天保采薇湯，聖莫聖於天保采薇湯，只須一服即發出，或有不盡發者再加一服，從未有不效者。如肺臟先虛又加大腸毒氣攻肺，麵皮像澆薄的式子慘白浮浮，光光溜溜便是肺氣已絕，在精威二穴對拿，其聲不出必是死症，藥之無濟。</p>
<p>有痲方見點隨即收入，或瀉青水，審非風寒為害，唇色慘白，口氣微微，此乃內虛不能送毒，不可分利止瀉，惟用八珍湯以托之。外用蔥半斤許，白酒煎，遍身擦之。如再不透發，只額上稍見些微，惟用六君子湯循循調治，自愈。</p>
<p>有痲初發熱時，心火盛極刑克肺金致痲不出，必先用黃連、木通等分服之，再用防風、荊芥、葛根、升麻、南星、枳殼、赤芍、桑皮、柴胡、桔梗、甘草煎服之即發。</p>
<p>有痢疾兼痲症，若痲見點急用香薷、桔梗、枳殼、黃連、厚朴、木通、升麻、赤芍、車前煎服，痲瘡透發而治痢疾，此棄輕從重之說，不可不知。</p>
<p>本邑陶一公涯玉之子，痲症發熱方兩日，醫人誤為除熱，痲伏不出，形狀似驚，差役請余治。面色花雜，喘急不嗽，必有內毒。於太陽穴以口涎擦之，皮內隱有紅點，知是痲毒內攻，無燒不出，用天保采薇湯倍加升麻、乾葛，一服額上見點，色不紅起，面色唇口慘淡無澤，知為內虛，即用固真湯一服，通身發熱，陶公驚怖，余曰：痲非帶熱不出。仍服天保采薇湯一劑，通體透發，愈。此見面色花雜便知內毒之一驗也。</p>
<p>培繼樓同學庠友方恆綏一子痲症，隱而不出，形症甚凶，邀余治。見其面色慘白，口氣微冷，唇舌淡白，大便泄瀉，即用八珍湯。一服額稍見點，恆綏因侄前痲症殞於泄瀉力迫止瀉。余曰：分利更虛。不允。見口吻間覺以瀉關性命，勉強用五苓散，果止而額上紅點即隱，又用十全大補湯內托，外用蔥酒蒸引，卒不透發。余值事往郡躡後札示；皮上每發一泡，破即成黑窟，附他醫攻毒方單。余札復曰：肌肉脾屬，破即成窟，乃脾虛之極，何可攻毒，惟用六君子湯顧脾為主。果效。此望色審竅萬無一失，分利虛脾即此可見之一驗也。</p>
<p>思誠堂同學友措大方薪衍第五郎患痲症，初醫者不知痲候用六一散以除燒熱。邀余過治，見其舌純紫，兩唇燥裂，大小二便皆秘，聲鼾不已，即用黃連八分，木通、黃柏各一錢，服下大便刮白如冷痢，然在座者口吻覺為涼劑所致，余亦躊躇滿志，豈臟腑苗竅此症獨不相符，毫不首鼠，問前醫退熱所用何劑，薪衍曰：六一散，余便恍覺下元為六一寒冷所滯，致火不降灼，無疑矣。隨以炒鹽久熨臍下，仍用前味黃連倍加，服之方下大便燥結與黑棗無異，可見苗竅辨真治定不爽之一驗也。</p>

<h2>辨傷寒（附寒極似熱）</h2>
<p>小兒之十指俱冷，以三指按額俱熱，身壯熱，面赤而淡，不動必掣，此傷寒之症也。表散法：開天門，分陰陽，推三關，體厚則大發其汗，揉太陽並外勞宮，運八卦推艮入坎，症輕推之自愈，重則用元宵火定之。體弱隨發汗隨止，女反是治，用芎蘇飲服之。</p>
<p>有寒極似熱者，面色紅如水紅桃花，口渴而唇不幹燥，舌不紅紫，大便青色，小便清長，此寒極也。似熱者因面有紅色，口有渴形故也，治之與前法同。</p>
<p>如口作渴，大便秘，小便赤，是內有熱，而外傷寒也，宜先表外而後清裡為主。表用芎蘇飲，里用白茯、半夏、陳皮、連翹、木通、枳殼、甘草煎服。</p>
<p>本郡田三公祖之公孫方二歲，抱風寒燒熱症，郡醫見燒有驚悸便作驚症治，數日不愈。余以三指按額俱熱，兒十指俱冷，用芎蘇飲一劑。留飲。席未解，內小童報曰：小相公熱退矣。此燒有表裡，不可不辨之一驗也。</p>
<p>余於癸丑科會試，盛京有鑾儀衛正堂許公乃孫方歲半，患傷寒症，初延太醫院幼科失表。後於朝房內，余同里員外郎陳是庵道及於余，余即日來貴池館親邀往治。但見身冷如冰，痕毛差差，面色慘晦，不知人事，知寒邪內伏，用天保采薇湯一劑，囑曰：夜發熱則明日來治，不則莫可如何矣。夜果發熱，仍用前湯一劑，熱又解。許曰：發熱退熱，藥同效異，真出奇也。余曰：尋常症在表感一劑便解，如令公孫，邪被藥誤伏內，昨一劑攻邪，邪到肌表，表見邪自是作熱，仍以原方加追一劑，表解熱除，無甚奇也。許曰：前是庵備道年翁乃幼科白眉，今若此洵名下無虛矣。以百金壽。余辭曰：晚兩代治救嬰兒，從不受謝一文。再四面璧，更欲延請余入太醫院。又辭曰：老母在堂，晚在都門白雲頻望承盛意心領之可矣。許乃止。此關門殺賊之一徵也。</p>
<p>方伯張存儒初生有公郎抱驚風，患初郡中醫作夾食用消導劑，症加甚後余用半夏四錢，生薑一錢，防風二錢，一服即愈，此藥用當而通神之一驗也。</p>
<p>余邑張中尊嬡患病，邑中醫曾治十餘日不愈。會余到邑，中尊得聞，接余治。婢方抱出離座五六步外，望見面上光光浮浮毫無寶色，余曰：不須抱近，請回。中尊問症若何。余曰：肺氣已絕不可治矣。明日果死。此望色而知為死症之驗也。</p>

<h2>辨夾食傷寒</h2>
<p>小兒十指俱熱，我按兒額三指俱冷，其候身熱，或吐、或瀉、或不吐瀉，口必惡食，腹必浮脹拍如鼓聲，或作痛是也。推法：開天門，分陰陽，男女同。男重揉太陽發汗，體弱揉太陰止之。女反是。推上三關三十，退腑六七下，運八卦重揉艮宮，於大指面旋推補脾，曲兒小指重揉外勞，於第二指大腸位側推到虎口，以止瀉，不瀉不推重按，掐中指一節以止吐，不吐不掐。於左腳湧泉穴左轉揉之止瀉，不瀉不揉。少頃右轉揉之止吐，不吐不揉。女則右轉右揉止瀉，左轉左揉止吐，推畢即用燈火，臍輪四燋，胸口一燋，用水酒麴一枚，火煨黃色研末，白湯送下即愈。重則用消導二陳湯加柴胡、紫蘇等味煎服。</p>
<p>珩山孝廉方韻皇乃孫，發吐燒熱微掣，吐輕熱重。餘子婿方平階初業斯道，投天保采薇湯一劑，不效邀余。一見知為內傷飲食，外挾風邪，用藿香正氣散一服即愈。余以湯名曰天保采薇，取其治外治內之意，用之不當，雖多奚為在。余婿以為症屬內傷外感，湯屬內外並治，渠見不為非是。然不知症似社鼠城狐重鎮何可輕發，此學者之所宜知而宜慎也。</p>

<h2>辨腹痛</h2>
<p>腹痛，臍以上屬火，臍以下屬寒，其因不一，有寒痛、熱痛、傷食痛、積滯痛，氣不和而痛，脾虛而痛，肝下乘脾而痛，蛔動而痛數種。寒痛則面白，口氣冷，大便青色，小便清利，痛之來也迂緩而不速疾，綿綿不已，痛時以熱手按之其痛稍止，肚皮冰冷是也。推法：曲兒小指重揉外勞宮，推上三關，揉臍五十，藥用乾薑、肉桂等分，煎熱加木香磨水入服之自愈。</p>
<p>熱痛則面赤，口氣熱，口渴唇紅，大便秘小便赤，時痛時止，痛來迅厲，腹形如常，不腫不飽，彈之不響，以熱手按之其痛愈甚，肚皮滾熱，此真熱也。推用下六腑，水底撈月。蓋熱痛主心脾兩熱，用燈心、車前、伏龍肝加木香磨水稍許入服。</p>
<p>傷食痛者必惡食，眼胞必浮腫，或瀉下酸臭，腹必飽脹，彈如鼓聲，或身作熱是也。如氣不旺者不宜取瀉，只用消導二陳湯。</p>
<p>積滯痛者今日傷、明日傷、逐日傷之而滯於脾胃間，不以飲食得其傷不痛，既有滯而後以乳食傷礙，故痛也。面色黃，噯氣醙，大便醙臭，便後痛減，足冷嗜臥，不思飲食是也。治宜枳殼、檳榔、木香下之，下後即以小異功散補之。</p>
<p>氣不和而痛者，兒下地後或地多濕，兒臍受風，以裹肚束臍過緊，不知兒體漸長束帶未松，則上氣不通下氣，以故內氣不和，故作痛也。審其非寒非熱，問其母而臍果有束縛之弊，則氣不和之痛必矣。治以木香磨水服之，隨用燈火臍輪六燋，臍下氣海一燋，心口窩一燋，其痛即止。大兒之氣不和者，其候眼胞不腫，面色不黃，飲食如故，腹腫可如鼓聲，搖其頭而噯氣是也，宜用木香、陳皮、枳殼、甘草服之。</p>
<p>脾虛痛者，其候面無血氣，微黃帶微白，大便少而色白，治以補脾開胃為主，用六君子湯加橘皮。</p>
<p>肝木乘脾痛者，肝木克脾，脾虛不勝其克則肝氣無所泄，故乘脾之衰而作痛也。其候唇白，口中色淡，面多青色，痛則腹連兩脅，重按其腹則痛止，起手又痛是也。治用四君子湯加柴胡、白芍。</p>
<p>蛔痛者，腰曲撲身口流清涎，痛久不歇少頃又痛，或一時或二時而止，或歇半日又痛，面黃唇白，此蛔痛也。治用使君子去殼，火煨，吃十餘粒，少頃又吃，即止。以上嬰兒腹痛，口不能言何以知之，蓋兒痛必哭，無故而哭者痛也。哭聲雄慘而雙眉蹙皺是也。如使君子食之不止，莫妙於苦楝子樹根皮約一、二兩許，水煎一茶鍾，吃下蟲即盡出，但體弱者不可輕用。</p>
<p>又有一種奇痛，一痛只大叫幾聲「痛、痛、痛」，即抱胸暈死。余家一女犯此症，先君在日余見將女面撲地，用冷水一盆以女膝著水上，於委中穴澆水狠拍，粗筋腫起用銀針傍筋打入二針，針出血流，叫一聲「痛」即蘇，隨用冷水滾水各半，連吃一、二碗立愈。記先君曰此急痧也，與轉筋火差似，如平常腹痛從未有，一痛而即死者，急痧之辨緊記在此。</p>
<p>夏禹鑄曰：嘗觀內經有曰，胃虛則吐，胃熱則嘔，此說殊屬大謬，何也。余屢屢見吐，吐固有虛，常亦有熱；嘔固是熱，卻亦有寒。此余非非議前人，蓋見之多而治之效也。二症各有虛熱，不可拘執，惟望面色。唇舌之間紅則熱，而淡則虛，斷無有誤。至於泄瀉，出少而緩曰泄，出多而勢急曰瀉，泄則症輕，瀉則重，凡以所瀉之色驗之，治無不效。</p>

<h2>辨吐</h2>
<p>胃虛發吐，其候面白神疲，不熱不渴，口氣溫和而帶微冷，額前微汗。治宜助胃膏。</p>
<p>胃熱發吐，面赤唇紅，煩渴溺赤，口氣蒸手。宜用熟石膏七分八分研細末，以茶送下。</p>
<p>胃氣不和發吐，其候惡食，此由積滯在胃復為傷食，搖兒之頭便噯氣。治用火酒麴一枚，火煨黃色研細，白湯調下，用枳殼、木香、陳皮、半夏、香附服之。</p>
<p>有盛夏外感暑氣吐者，宜六和湯。</p>
<p>有霍亂而吐者、吐不出者，手足厥冷，臍腹之上絞痛，名曰轉筋火。治用滾水一碗，冷水一碗相和，飲下即愈。</p>
<p>有內傷飲食、外感風邪而吐者，身熱眼燒疲倦，治用藿香正氣散。</p>
<p>有傷風嗽吐者，治用清金飲。</p>

<h2>辨瀉</h2>
<p>夏禹鑄曰：吐從面色辨之，不爽，瀉更宜辨。所瀉之色暴傾下迫屬火，水液澄清屬寒；老黃色屬心肺脾實熱，宜清；淡黃色屬虛熱，宜補；青色屬寒，宜溫；淡白色屬脾虛，宜補；醬色屬濕氣，宜蒼朮燥濕；醙臭屬傷食，宜消導二陳湯。</p>
<p>脾虛作瀉，瀉下白色，或穀食不化，或水液澄清，其候面白神疲，唇口慘淡，舌白，口氣溫冷，治宜理中湯加附子，或六君子湯。</p>
<p>脾熱作瀉，瀉時暴注下迫，便黃溺赤，口氣蒸手，煩渴少食，治宜五苓散加山梔仁。</p>
<p>有氣虛下陷瀉者，宜補中益氣湯，其候與脾虛差同。</p>
<p>有傷食兼滯瀉者，其候噯醙氣，吞酸脹滿，一痛則瀉，一瀉痛減，治宜用大腹皮、神麯、麥芽、山楂、白朮、木香、檳榔。如食已消，痛已止而瀉不止者，乃脾失清升之氣，宜補中益氣湯。若食消而腹猶痛，乃脾痛也，宜小異功散。</p>
<p>有肝瀉者，瀉青稠黏，乃肝木乘脾。治宜麥冬、桔梗、白朮、白茯、人參、木香、酸棗仁、甘草。</p>
<p>先瀉數日已止，又瀉隨發驚，此症多不可治。蓋瀉而又瀉，脾敗之極，加之外邪由肺克肝，肝又動風克脾，脾敗將死，不受肝克，故肝風烈極毫無泄處，如祛風解熱，元氣將盡，將謂療驚不能救脾，將謂救脾驚不能止，無法可治。</p>

<h2>辨吐瀉</h2>
<p>夏禹鑄曰：內經有曰，胃虛則吐，脾虛作瀉，脾胃俱虛吐瀉兼作，此言極謬。若先瀉後吐，面白神疲，不熱不渴，額有微汗乃脾胃虛寒也，宜理中湯或小異功散，或六君子湯。若先吐後瀉，面赤唇燥，煩渴溺赤，乃脾胃有熱也，治宜五苓散加竹茹煎服。又有積滯在脾，不能運化水穀而吐瀉者，宜用消導二陳湯。</p>
<p>有長夏夾暑吐瀉者，宜用六和湯。</p>
<p>余髫年硯席友陳公載嬡患吐症，適余抱風寒，因延大方脈用溫胃劑吐益甚。帶疾往視，口唇紅麗，氣出蒸手，舌色紅紫，用熟石膏一錢研碎，以茶一碗送下，稍止，隨加一服，立愈。在大人苗竅尚驗，況嬰兒乎。後又患吐，色竅俱同，仍用石膏卻不甚應，揣之下元或有寒氣，用炒鹽熨腹，仍服石膏即愈。可見苗竅顏色從不一誤。</p>
<p>余於歲癸丑北上到會館，適陳是庵幼郎脾瀉將慢，付余治，問曰：曾服參否。是庵曰：如服一分便爬上了壁。余心以為南北或亦有異。轉思初到都門，恐孟浪來誚，以六君子湯去人參連服二劑，了無一效，辭接別醫。良久一醫擁輿至館。去後余請所發劑視之，劑屬消導。因問：彼何人斯。是庵曰：此名震京都之鄭小兒科也。余曰：久瀉將慢尚可再用消導之藥，用之命不可知矣。乃止。余便不以是庵之言為正，硬用六君子湯，倍加人參，且外加附子五分，兩服即愈。是庵嘆曰：素聞妙手，今果然矣。此辨色審竅勿以人言為信之一驗也。</p>

<h2>辨痢疾</h2>
<p>夏禹鑄曰：丹溪云痢無止法，以通利為主，此言亦不盡然。何也，痢疾有寒有熱，白者虛寒也，紅者實熱也，治宜調脾為主。若染一二日，遍身壯熱，膿血稠黏，裡急後重腹痛者，宜用承氣湯，以下之，或用木香檳榔丸。若虛怯者不可下。病久身涼自汗，宜用補中益氣湯。挾熱而痢純血，宜用四順清涼飲，或黃連芍藥湯。挾冷而痢純白，或乳食不消者，宜用理中湯。有濕熱之毒熏蒸清道上致胃口閉塞而為噤口者，宜用人參、黃連、石蓮子。有痢久胃氣虛則不能乳食而為噤口者，宜用理中湯或六君子湯。有積毒之氣上衝而嘔惡者，宜用人參敗毒湯。有胃氣虛寒而嘔惡者，宜用附子理中湯。有痢後脾虛不能制水而遍身浮腫者，宜用六君子湯，外加蒼朮、厚朴、豬苓、澤瀉、黃連、芍藥。有痢久脫肛者，經曰肺氣虛寒，由脾虛而金無所養，故大腸虛脫而下陷也。宜補脾溫胃，用固腸飲。有積盡而痢久不愈，乃脾氣下陷，宜用補中益氣湯，或四君子湯。若初起宜用薑茶散。有夾暑熱而痢下赤白相兼者，用清暑益氣湯加香薷飲。</p>
<p>余長男之日五歲時與幼甥同患痢疾，男素脾弱，痢起腹並不痛，痢下純膿，白色中帶藍色，口氣微冷。不用通利，即以六君子湯服之。甥痢純紅，遍身有風疹，用四順清涼飲加防風、柴胡。兩藥各器同爐煎。姻家誤以男藥與甥服之，風疹即隱，氣喘促，睡鼾。余急以天保采薇湯與服，疹復出，喘止。仍用前湯數劑愈。此可見脾虛之極不必清利，硬用補劑。熱痢宜清不可用補之，一驗也。</p>

<h2>辨瘧疾（附陰虛似瘧）</h2>
<p>瘧疾皆由冒感風寒暑熱而發，丹溪有曰：若無汗要有汗以散邪為主，若有汗要止汗以扶正氣為先。此千古不磨至之論也。發時有一寒一熱，身重骨節疼痛，自汗多嘔者，濕瘧也。由汗出脫衣沖冒風寒，或渴極過飲冷水，或冷水浴身所致。有食瘧者食所傷，由飲食過度傷寒所致。俱用柴胡、前胡、青皮、陳皮、蒼朮、白朮、白茯、甘草、豬苓、澤瀉、知母、貝母、厚朴、半夏、黃柏等分，薑棗引，服一劑以清之。於發瘧日之五鼓，空心以前方加常山、檳榔、草果仁等分煎服以截之，即愈。如久瘧不止致中氣弱極，名曰脾寒，用四獸飲加棗、姜，服五六劑自愈。</p>
<p>夏禹鑄曰：有陰虛似瘧竟作瘧治者，這般人卻沒有一毫心思一線想頭。夫謂之曰：似則兩症相去。原是星淵即曰：似瘧亦只似其瘧之脾寒。試問：普天下人可有瘧一起而就成脾寒者。是必始於清之無法，繼又截之無方，或從不服藥，相延日久，才到脾寒之症。明明有這一條來路，若一見每日下午身有潮熱，冷狀颼，便作瘧治，獨不思到瘧有來路。況脾瘧由重減輕，陰虛由輕加重，兩症判然，竟不知別。此一種心竅，真不可理解。</p>
<p>陰虛似瘧，如潮熱稍重於作寒，治用四物湯加人參。如心、肺、肝有熱，雖湯內已有熟地，再外加生地。如作寒稍重於潮熱，四物湯外加黃耆、人參、甘草等分參減半。如潮熱作寒俱輕，只用四物湯，不須外加。如女患此，加紅花二三分。</p>

<h1>卷五</h1>

<h2>辨咳嗽</h2>
<p>夏禹鑄曰。前書只說風寒暑濕燥火。六淫之邪氣侵肺。皆令人嗽。又曰。五臟六腑皆有嗽。非獨在肺。此僅言咳嗽之大綱。卒未透發。六淫侵肺之顏色。與臟腑俱嗽之分別。余憶其故。必從大方脈書上採來。惟照脈論症。故不說到六淫侵肺的顏色。亦未分疏臟腑致嗽的根由。即言一一形症。俱屬模糊。余把六淫侵肺臟腑皆嗽這八個字上。一一體出形色。歷藥不爽。若風寒濕三邪侵肺。其候面白而畏風。燒熱而無汗。或頭疼。或鼻流清涕。唇色晦暗。痰涎白色。或滑而易出。小便清長。便知為風寒與濕氣所侵。宜用疏風順氣湯。或清肺飲。去白朮。加防風。便愈。</p>
<p>火侵肺嗽。與火炎無制相同。方見後。若燥侵肺嗽。其候頭面汗出。寒熱往來。皮膚乾燥。皮瘡瘙癢。大便閉結。痰涎膠黏。治宜潤肺清金之劑。用麥冬、貝母、冬花、黃芩、防風、麻仁、甘草、赤芍、陳皮。暑氣侵肺而嗽。其候口渴唇淡。治宜香薷、厚朴、扁豆。加冬花、麥冬。至於六淫皆嗽之說。殊屬大概。余著實窮究。六淫之外。嗽又有五。一順傳。一逆克。一反侮。一隔經傳染。一水火不相交濟。</p>
<p>順傳之嗽在脾。脾不能生金。金無土養。故嗽。漢武帝金鐘自鳴。東方朔曰。土其母也。母喪則子鳴。出必有崩者。久之。蜀郡有奏山崩。以此悟之。脾虛肺嗽。乃一定之理。其候唇口慘白。氣弱神疲。小便清短。大便或溏瀉。淡淡白色。便知脾嗽。治用六君子湯自愈。</p>
<p>逆克之嗽在心。心火盛。則金被火傷而嗽。試觀冶人爍金。火烈而金躍。息火則金安。火剋金沸。亦一定之理。其候舌紅唇燥。小便赤澀。口氣蒸手。便知心火剋金。法惟瀉心。用貝母、陳皮、甘草、黃連。木通、杏仁、麥冬、五味等分。燈心引。煎服三四劑。自愈。</p>
<p>弱克之嗽在肝。肝有制伏。肝始不旺。如肺弱木強。侮金。則肺乃被侮而嗽。肝侮肺嗽。又一定之理。其候目勇口苦。宜用白芍、柴胡、冬花、五味、枳殼、半夏、甘草等分。煎服五劑自愈。</p>
<p>水火不相交濟之嗽。由腎水不能上升。則火炎無制。乃上刑肺金而嗽。猶之易之未濟。離火居上。坎水居下。水不得火而無功。火不得水而功亦無所施。水火不相交。故不各得其用。若既濟。則為有用矣。況五行惟火最烈。豈止嗽耶。其症涕唾帶血。甚至血溢。治用滋陰降火湯。二三劑自愈。屢治屢效。案難悉載。</p>
<p>隔經傳染之嗽在胃。胃有熱因染乎肺而嗽。肺胃各經。順傳不到。逆克不及。又不相侮。胡為亦嗽。乃由胃肺逼鄰。胃司食入。肺司氣出。出入雖不同途。卻共呼吸門戶。胃熱熏蒸。波及肺竅。所謂失火殃魚。亡猿災木者是也。其候唇紅口紅作渴。氣出大熱。治用石膏、冬花、麻仁、五味、甘草。</p>
<p>以上諸嗽。如喘。加麥冬、天冬。如咳有聲無痰。加杏仁、防風。有聲有痰。加半夏、枳殼。</p>
<p>余於本經咳嗽外。復將此五種。旁引曲喻。無非為嗽。雖出自肺家。而卻有隔經之嗽。理實雖明。故不惜多方以譬明耳。幸毋以卮言罪我。</p>
<p>江平世業醫道。地距四十餘里。一孫咳嗽。自藥不應。以形色札白之餘。並來藥單。乃瀉肺之味。擄曰。面舌唇口皆紅。小便赤色。余札復。示以瀉心之劑。後聞三劑愈。此心火刑金。瀉心救肺之一驗也。</p>

<h2>痘後</h2>
<p>（痘有專科。痘中症候不載。惟於痘後至緊要症。附專數方。）</p>
<p>一、泄瀉。唇口淡白。瘡靨平白。小便清。宜用六君子湯。</p>
<p>一、痘靨平白。宜用保元湯。</p>
<p>一、痘靨不落。落過者亦平白。宜用八珍湯。</p>
<p>一、痘中眼內生翳子。宜用兔糞焙之為末。每服三四錢。白水送下。服至升余即散。</p>
<p>一、痘後瘡靨。或紅腫紫腫黑腫。急宜解毒。用生地、連翹、歸尾、甘草、赤芍等。服三四劑。毒自解。</p>
<p>郡城孝廉危東原兩嬡。痘後一愆期不收。一收後痘靨平白。俱有微熱。邀余過治。見唇口慘白。氣出微微。並用十全大補湯。服二劑。熱除靨脫。俱轉紅潤。隨以保元湯調服之。愈。此望色審竅。知血氣兩虛之一驗也。</p>

<h2>辨諸血</h2>
<p>肺朝百脈之氣。肝統諸經之血。蓋營血者。水穀之精氣也。脾胃有傷。營衛虛弱。故血失常道而妄行。若氣虛氣弱神瘦。唇有血色者。治法宜用四君子湯。</p>
<p>血虛者。精神照原。唇舌無色。治用四物湯加參、術。　</p>
<p>糞前見血為近血。用黃連解毒湯。糞後見血為遠血。用清胃湯。久不止者。用補中益氣湯加胡黃連。</p>
<p>吐血者。胃中積熱。宜用麥門冬飲。或清胃湯。</p>
<p>衄血者。脾熱傳肺。而肺不能統。血從鼻出。宜六君子湯加桔梗、當歸、梔仁、黃芩。</p>
<p>咯血者。腎虛也。咯如牝雞喚乳雞聲。嬰兒無此症。　</p>
<p>有咳嗽而吐血者。庸醫多以童子癆治之。誤矣，此乃腎水心火不相升降。火炎無制。治宜滋陰降火湯。</p>
<p>夏禹鑄曰。諸般失血。有面色可審。俱屬尋常。惟血脫、嗽血二種。症不多見。附錄效案。以下較證。余友陳公載之侄女。七歲。血吐數升。身冷如冰。通身筋現青色。平常撲跌處青更甚。唇口慘白。口氣微冷。此乃氣虛血脫。初、大方脈作肺熱。迫血妄行。用梔仁、黃芩等味。吐愈甚。此固照理用劑。卻不知看色之妙。後余用人參、黃耆、肉桂、麥冬、甘草、白茯苓。二劑而愈。此氣虛脫血。望形審竅之一驗也。咳嗽帶血。方見咳嗽類。用滋陰降火湯。屢用屢效。症無疑二。故不附案。</p>

<h2>辨中暑中熱</h2>
<p>夏禹鑄曰。前輩云。動而得之為中熱。靜而得之為中暑。此言甚是。然中暑與中熱。病形無異。中暑作渴。中熱亦作渴。中熱說詭話。中暑亦說詭話。若不細審形色。雖得動靜二字。究何益也。如探中暑說詭話。乃低聲平平而說。中熱發狂雄壯而說。此猶恐不得其真。只於口中一看。舌色慘白。唇無血色。口氣微弱而冷。便是中暑。宜用清暑益氣湯。立愈。若唇舌皆紅。氣出如焚。小便赤澀。定是心經中熱。宜用木通、薄荷煎湯。再以犀角磨水一杯。羚羊角磨水半杯。入煎藥和服。即解。</p>
<p>己亥之歲。余從伯一孫。方四歲。患病。初、伯與先君交惡已久。伯母呼予往治。舉室阻撓。且畏之曰。彼孫一死。禍來匪輕。余曰。具有兩眼。不煩過慮。視之。口氣微微。面色慘極。唇舌白淡。口道誕話。知為中暑。用清暑益氣湯。一服愈。</p>
<p>穿山郡庠方紹文。僅一子。乃余婿。十七歲抱疾。以餘隻知幼科。延兩方脈共治。彼見口說詭話。便作熱治。用盡犀角、連翹、芩、膏涼劑。疾益加甚。急聞於余。余往見。直臥如屍。口氣冰冷。唇舌皆白。乃中暑之症。誤作中熱。大可怪也。用清暑益氣湯。一服立愈。此大方脈切脈。不如小兒科望色辨竅為妙之一證也。</p>

<h2>辨夜啼</h2>
<p>夜啼有六。</p>
<p>一、面深紅多淚。無燈則啼稍息。見燈則啼愈甚。此心熱也。遇火兩陽相搏。故見燈而啼甚也。其候手腹必熱。小便赤。推用水底撈月。引水上天河。退下六腑及運八卦。推坎入艮。藥用導赤散加梔仁、薄荷、天麻。</p>
<p>一、哭多睡少。天明則已。面色青白。便亦青白。治宜溫下焦。用備急方。</p>
<p>一、為異物所侵。目有所視。口不能言。但睡中驚悸。抱母大哭。面色紫黑。治宜陳皮、生薑、茯神、遠志、甘草。</p>
<p>一、有脾胃兩虛。吐瀉少食而啼者。治宜用六君子湯加炮薑、木香。</p>
<p>一、有心血不足而啼者。其候睡濃忽悸。舌色淡白。而色不重。宜用安神湯。</p>
<p>一、有臟寒腸痛而啼者。以手按其腹即不啼。起手又啼。此候面必青。手必冷。口不吮乳。治用當歸、白芍、人參、甘草、桔梗、橘皮。等分服之。</p>
<p>外此而啼者。必非病也。或夜醒時為戲燈所慣。無燈而啼者有之。或乳母缺乳而啼者有之。</p>

<h2>辨疳疾</h2>
<p>疳者、干而瘦也。此由寒熱失理。飲食不節。或因吐久、瀉久、痢久、瘧久、熱久、汗久、咳久、瘡久。以致脾胃虧捐。亡失津液而成也。</p>
<p>心疳者。面黃頰赤。小便赤澀。口舌生瘡。煩渴。治宜寧心丸。</p>
<p>肝疳者。肌肉消瘦。目胞赤腫。翳生淚多。白膜遮睛。瀉多青色。治用肝疳丸。</p>
<p>脾疳。黃瘦腹大。或吃土吃米吃茶。宜調脾湯。</p>
<p>肺疳。潮熱喘嗽。鼻爛流涕。宜先用清肺湯。次用化䘌丸。</p>
<p>疳腫者。乃由疳久脾衰。不能制水。故頭面四肢發腫。脹甚者褐子丸。大喘者不治。</p>
<p>丁奚。腹大項細。哺露。翻食吐蛔。宜蘆薈丸。</p>

<h2>赤遊丹火</h2>
<p>此候由內有積熱重蒸。外被風熱所感。搏於血氣。皮膚赤腫。色如火灼。或注頭上。或發肢體。卻非輕症。入腹入腎。亦能殺人。宜速治之。用升麻、黃芩、連翹各一錢。大黃、朴硝各二錢。同煎服四五劑自愈。</p>
<p>余同袍胡道生乃孫。頭患丹火。接余治。用前方。服二劑不退。又以價來請余。以札復曰。此症非輕。非一二服可愈。宜重用各味五六劑。定然見效。後如數服愈。前歲。余宗人有一女患此症。余囑曰。此重症也。不可怠緩。不聽。果死。</p>

<h2>淋症</h2>
<p>有沙淋者。腎水為熱所結。化為沙石。內塞水道。沙出痛止。治用五淋散。氣淋者。小腹脹滿。小便澀滯而痛。用瀉白散。血淋者。心熱血散。治用五淋散。加小薊、滑石、車前子。寒淋者。膀胱冷氣。與正氣交爭。寒戰而後溺。治用六味地黃丸加附子、肉桂。有心熱者。用清心蓮子飲。腎熱者。用六味地黃丸。肝熱者。用柴胡梔子飲。脾熱者。用瀉黃散。脾虛者。用小異功散。肺熱者。用瀉白散。肺虛熱者。治用小異功散加炒山梔。</p>
<p>以上心熱等七種淋症辨法。在辨脾心肺肝腎之欵內求之。</p>

<h2>便濁</h2>
<p>尿白如米泔水。久則成疳。人參、甘草、當歸、木通、豬苓、赤芍、赤茯、青皮、川萆薢治之。</p>

<h2>大便不通</h2>
<p>肺與大腸有熱。熱則津液少而便閉。治用四順清涼飲。血虛燥滯不通者。治用四物湯加柏子仁、松子仁、胡桃仁。等分服之。</p>
<p>同邑紳徐梅宣公郎。痘後四十日。大便閉有七日。他醫以承氣湯單授之。余舅氏時在徐宅。力薦請余。往視之日。血虛之極。幸未通利。通則不可藥矣。梅宣且幸且疑。硬用四物湯一服。便出乃溏糞。帶白色。梅宣拍案叫絕曰。一望即知。神何至此。前庸手幾敗乃事。此望色審竅。知非肺熱之一驗也。</p>

<h2>小便不通</h2>
<p>小便不通。由肺燥不能生水。當清肺中之熱。而滋腎火之源。治宜用黃芩、黃連、天花粉、知母、麥冬、茯苓、木通、甘草。等分服之。</p>
<p>若脾濕氣不上升。當健脾生金。先用瀉黃散。隨用六君子湯。若膀胱有熱。澀滯其流。治用五苓散。</p>

<h2>出汗</h2>
<p>出汗者。寢中通身如浴。覺來方知。屬陰虛。營血之所主也。治宜四物湯加黃耆、浮小麥、黃連。煎服。有自汗者。不時而出。動則乃息。屬陽虛。衛氣之所司也。治宜補中益氣湯加麻黃根、浮小麥、麥門冬。煎服。有脾虛泄瀉自汗。而汗出有時者。此症大虛。治宜六君子湯。或附子理中湯。薑棗引。煎服。</p>

<h2>黃疸</h2>
<p>黃疸。其候色黃。屬脾。蓋小兒由飲食所傷。兼之濕熱之氣。蘊積脾胃。故成此症。面目指爪小便遍身皆黃。疸症無疑。治宜地黃茵陳湯。</p>

<h2>腫脹</h2>
<p>腫脹之症有二。</p>
<p>一曰氣腫。先腫而後喘。由脾胃虛弱。脾主肌肉。肺主皮膚。土弱不能生金。虛氣上攻乎肺。行於面目。遍身浮腫也。治宜調脾行氣為主。用五子五皮湯。等分煎服。輕則六劑。重則十劑。無有不愈。</p>
<p>一曰水腫。先喘而後腫。因上焦煩渴。喜飲茶水。脾虛不能制水。水反侮土。上衝乎肺。流走皮膚而光腫也。治宜實脾利水為主。用胃苓湯。又瀉後痢後瘧後諸病。脾虛發腫者。宜調脾胃為主。用六君子湯。或補中益氣湯。切不可用通藥。如通。萬不能活。如不因瘧痢諸病後。突然而腫脹者。方從水氣二種治之。此方即大方脈家用之。亦無一不效。如通身不腫。只有腹腫。彈之如鼓聲。按之卻綿軟。此脾虛也。宜用六君子湯加厚朴。若腹腫彈之不響。按之如石。此單腹脹也。不治之症。</p>

<h2>三消</h2>
<p>三消之症。實熱者少。虛熱者多。不足之症也。若作有餘治之。誤矣。始而心肺消渴。或脾胃消中。或腎水消濁。傳染日久。則腸胃合消。五臟乾燥。精神倦怠。以致消瘦四肢。</p>
<p>消渴。心火動而消上。上消乎心。移熱於肺。渴飲茶水。飲之又渴。名曰上消。治宜蓮花飲為主。次以生津四物湯。川芎八分。歸身一錢。生地酒洗一錢。知母一錢。白芍用濕紙包煨一錢。麥冬去心一錢。川連八分。烏梅肉五分。天花粉七分。薄荷、石蓮肉、蜜炒川黃柏、炙甘草各五分。</p>
<p>消肌。脾火動而消中。中消於脾。移熱於胃。喜多食。食無足時。小便色黃。名曰中消。宜用石膏、知母、甘草、人參。倍加石膏。外加粳米。次宜生津養脾。</p>
<p>消濁。火動消腎。移熱於膀胱。小便渾濁。色如膏脂。名曰下消。宜用蓮子、知母、芡實、麥冬。入四物湯服之。</p>
<p>凡消症。務要養脾生肺。降火滋陰。病自除矣。</p>
<p>總治三消。以生血為主。用黃連、天花粉二味為末。藕汁、生地汁、生薑汁、人乳並蜜。共和二末為丸。每次一指而大。白湯送下。</p>

<h2>膀胱氣痛</h2>
<p>嬰兒小腸與膀胱氣痛在臍下氣海兩邊。筋腫到腎囊邊。痛不可抵。治用川楝子、橘核、小茴香、荔枝核。俱焙炒為末。白酒熱調三四錢一服。不數服即愈。</p>

<h2>呆笑</h2>
<p>兒無甚病。忽然見人呵呵而笑。即不見人亦然。每日如是。治用桔梗三錢。半夏五錢。木通一錢。甘草五錢。煎服。隨於頂心百會穴。艾灸二壯。即愈。</p>

<h2>不寐多困</h2>
<p>嬰兒不睡有二。一心虛。一膽虛。睡中不聞人聲。忽醒而不寐者。此心血不足。宜用人參安神丸。有睡中稍聞人聲響動。即驚而不寐者。此膽虛之極。宜用參竹湯。</p>
<p>多睡者。脾氣虛弱。健運之令不行而嗜臥也。治宜溫補脾胃。以四君子湯加木香、半夏。倍加白朮。</p>

<h2>龜胸</h2>
<p>由感風熱。凝注為痰。停心滯胸。咳嗽喘促。肺氣脹滿。攻於胸膈。漸成龜胸。或乳母過食辛辣。夏哺熱乳。亦成此症。治宜寬氣化痰丸。</p>

<h2>龜背</h2>
<p>由客風吹背。傳入於髓。故背突如龜。或咳嗽久以致肺虛。腎無所生。腎主骨。風寒乘虛而入於筋骨。致精血不能流通。故骨弓而駝。治宜松蕊丹。外以龜尿點脊背中。中縫即愈。</p>

<h2>論解顱囟填囟陷</h2>
<p>小兒生下頭縫不合。腎主骨而腦為髓海。腎有虧。故不合也。名曰解顱。治宜六味地黃丸。囟門之起。名曰囟填。宜大連翹飲。或瀉青湯。囟陷如坑者。由病久血氣虛弱。不能上充。治宜固真湯。又以狗骨炙為末。雞子清調敷之。</p>

<h2>乾瘦似疳</h2>
<p>兒父母平常節兒飲食。從不傷脾。飲食不缺欠。又非病後。但見逐日消瘦。其症必由有所思想而難言。或二三歲四五歲時。母又有所生。乳哺懷中。多有疼愛之聲。前兒從旁窺伺。見其愛有所奪。不能入懷吮乳。惟朝思暮想。久則傷脾。治之非藥所及。此症前所未傳。今不概見。</p>
<p>余先君在日。余妹歸寧。見抱甥乾瘦。審無他症。頃見妹哺次甥。長甥倚膝。覺神不在舍。因問予妹。瘦始於何日。妹曰。自得次甥後。經今月餘矣。先君命妹哺兒之時。勿令瘦甥得見。哺後陽抱入懷。以空乳喂之。且慰之曰。我只疼你。如此一月。果不藥而肥。追思先君。妙何如也。神何如也。</p>

<h2>天柱骨倒</h2>
<p>天柱骨倒。乃項軟也。由真氣虛弱。客邪入腑。傳於筋骨。項則軟垂下而無力。治宜祛風散。或吐久瀉久病久而軟者。治宜六君子湯加肉桂。手軟者。宜用薏苡仁、當歸、秦艽、棗仁、防風、羌活、荊芥。等分服之。足軟者。治宜六味地黃加牛膝、五加皮、鹿茸等分。服之。</p>
<p>余從弟禹鐸懸孫。方十個月。天柱骨倒。弟曰弱極。即要用參。余曰。客邪入內。何可遽用。弟意不果。余作色拒之。用祛風散。作煎劑一服。項稍直。即命用六君子湯。外加防風。五劑愈。</p>

<h2>五硬</h2>
<p>頭頸手足強直如木。乃肝受風邪。治宜小續命湯。</p>

<h2>齒病口疳瘡</h2>
<p>此病由胎中受熱而成口瘡。或牙床疳生走馬。治宜導赤散。並清胃湯。如久病之後。瘦弱之極。難治之症。</p>

<h2>重齶重齦</h2>
<p>口中上齶皮腫起。如囊盛水。名曰重齶。牙床腫起。名曰重齦。俱以大針刺破去血。用蒲黃敷之。</p>

<h2>耳癰</h2>
<p>耳內腫及耳外腫。耳外出膿。或間一日膿一出。或間二日膿一出。治宜用黃鱔。以刀斬斷。滴血入耳數次。或用天保采薇湯。</p>

<h2>重舌木舌</h2>
<p>重舌者。舌下根復生如小舌也。木舌者。其舌腫硬填口也。皆由心脾熱極。治用黃連、灶心土、木通、連翹等分煎。犀角磨水和藥服之。用朴硝、紫雪、白鹽每五分。用竹瀝調敷。即愈。</p>
<p>余於丙午科。同從弟鐸再從侄謨鄉試白下。侄忽患重舌。弟伴向外科。用刀刺破。流出如雞蛋清。歸寓又腫。如此兩回不愈。予執舌乃心苗立方。用黃連、黃芩、木通、枳殼、甘草二劑。舌消一半。喉痰忽壅。余揣必是誤用黃芩之弊。蓋心火刑肺。肺已不安。誤將肺瀉。焉不痰壅。於是去黃芩。加五味二錢。一劑並愈。此因苗治臟。照症立方。見藥不可誤用之一驗也。</p>

<h2>鶴膝風</h2>
<p>此候由腎氣不足。兩腿細小。膝骨腫大。如鶴膝之狀。治宜屈膝散。或用六味地黃丸加牛膝、鹿茸。又有瀉痢久而成此症者。紅腫作痛成膿。治用補中益氣湯。如腫硬不痛而色白者。治不愈也。</p>

<h2>痛風</h2>
<p>四肢上或身上一處腫痛。或移動他處。色紅不圓塊。參差腫起。按之滾熱。便是痛風。治用羌活、獨活、五加皮、威靈仙、秦艽、防風、桂枝、前胡。如下身。加牛膝。各一錢。煎服。數劑自愈。</p>
<p>邑庠方玉相幼子。左手左足各曲貼肉。痛屈不伸。用前方煎服五劑愈。如大人。須用酒煮。每夜儘量飲。每味一兩五錢。煮酒約五六斤。飲畢即愈。此余創方。屢效不爽。</p>

<h2>冷水風</h2>
<p>腳背上與趾上。及解谿鞋帶諸所。塊痛不可言。一痛幾死。用青磚一塊。火內燒紅。以木桶盛之。將老醋澆入磚上。以大人手伴兒腳。懸於磚上蒸之。氣莽則將腳稍遠。氣溫則就磚。桶口以綿絮之類圍塞。不令氣泄。一蒸即驗如神。</p>

<h2>迅雷所驚</h2>
<p>其候抽掣形狀。與前驚無異。隻手掌內橫直紋痕。皆是深黃顏色。此因驚膽。其色故黃。拿蘇。用鼓對兒輕輕敲起。漸漸加重。重擊二三聲。持去鼓以解疑。即服參竹湯以寧膽。</p>
<p>穿山林宅諱祥者。一子四歲。臘月被爆竹驚死。拿蘇。如父母喚聲略重。又驚死。與飲食時。先以食示之。再做聲。便不驚。其父亦業幼科。投以棗仁、遠志等味不效。至余告其顛末。余曰。此膽家受病。作心家醫。誤矣。余授以參竹湯。二劑愈。</p>

<h2>天疱瘡</h2>
<p>此由風邪毒氣。客於皮膚。搏於血氣而生。始生如湯燙作泡。一破漿出成瘡。治用生地、升麻、藍葉、山梔、大黃各一兩。剉碎。用豬油八兩。文武火煎。色變。濾去渣。瓷器盛之。塗患處。</p>

<h2>痱瘡</h2>
<p>其狀如粟粒色赤。面瘡。夏月多生頭面。或遍身。用天保采薇湯。等分煎服。</p>

<h2>黃水瘡</h2>
<p>由濕熱與血氣相搏。其瘡初生碎小。後有膿汁。浸淫成瘡。用雄黃、雌黃、川烏各一兩。松香三錢。為末。亂髮一團。燒灰存性。豬油六兩熬化。再入三味煎至發消盡。以綿濾去渣。入二黃。攪勻盛器。塗瘡上。</p>

<h2>惡核瘰癧</h2>
<p>此患由風熱毒邪與血氣相搏。鬱結成核。如貫珠於耳項之間。腫硬白色。搖奪不動而有根者。便是瘰癧。或潰爛成惡毒。如用藥。多有不效。莫妙於用燈火。至易而至效。余亦曾患此。用燈燋兩衣即愈。今故以燈火燋法。垂於身之背面圖。如瘰在左則燋左邊。瘰在右則燋右邊。前自頸上耳腳下起。離六分地一點一點直下乳。次過脅上至肺俞穴。到頸上耳後止。在瘰上周圍亦燋。第二次照原路空處補之。便愈。若只有核而搖得動者。便不是瘰癧。初起紅腫。便是癰疽。不可作瘰癧治。</p>

<h2>偏墜</h2>
<p>腎囊子或一個腫大一個小。用香薷、厚朴、薑汁炒枳殼、木通、扁豆、生薑、甘草、車前葉煎服。或用萬年青根約五寸。去黑皮搗碎。白酒煎服。不吃渣。亦愈。</p>

<h2>莖腫痛</h2>
<p>莖即陽物。如腫。用黃連、木通各一錢。煎服即愈。</p>

<h2>腎囊腫</h2>
<p>腎囊腫如琉璃燈樣。用塘內水上無根浮萍。以篩盛之。下用水一盆。置篩於盆上。烈日曬乾為末。每服二錢。即消腫痛。如用鍋焙。萬萬不幹。</p>

<h2>灸霍亂</h2>
<p>霍亂。灸崑崙穴七壯。起死神效。</p>

<h2>灸瘧母</h2>
<p>瘧母。灸肺俞穴各三壯。背對臍穴三壯。神效。</p>

<h2>灸脫肛</h2>
<p>脫肛。灸龜尾穴。症暫用補中益氣湯十服。此乃肺氣下陷。</p>

<h2>灸肚大青筋</h2>
<p>肚大青筋。堅如鐵石。於臍之上下左右。離五分地。各灸二壯。即消。</p>

<h2>灸犬傷</h2>
<p>犬傷。用青磚上青苔。和牛糞捶爛。如被瘋犬傷。於患處艾灸三壯即愈。</p>

<h2>灸蛇傷</h2>
<p>蛇傷。於患處艾灸三壯。</p>
<p>以上灸法。俱用獨蒜截片。遮患處。盛艾於上灸之。</p>

<h2>疔瘡惡瘡癰百膏異方</h2>
<p>水粉、黃蠟各五錢。寒水石研細用水飛過一兩。乳香去油二錢。麻油三兩。先入鍋滾過。入蠟化開。再入水粉共寒水石熬成。入乳香。攪勻成膏。貼之即愈。</p>

<h2>貼骨疔口掛角各疔瘡發背腦癰</h2>
<p><u>乳癰大人小兒同治丹</u></p>
<p>疔瘡。發背。腦癰。鬢疽。乳癰。一切無名腫毒。用飛龍奪命丹服之。便有頭。先不痛不癢者。服之便痛便癢。未成者內消。已成者即潰。其毒化為黑水。從小便中出。此乃惡腫毒中之靈丹。</p>
<p>用蟾酥（乾者酒化三錢）　膽礬（一錢）　海羊蟲（二十個）　雄黃（三錢）　輕粉（五分）　蜈蚣（一條炙黃去首足）　麝香　片腦（各五分）</p>
<p>共為細末。酒為丸。如綠豆大。每服三丸。用蔥白三根。長二寸。自嚼爛。吐在男左女右掌心。以前丸裹於蔥內。熱水酒三四鍾送下。厚被蓋之。取汗。約頓飯之時。再用熱酒催助汗出。其毒即消。如汗不出。其毒乃重。再服三丸。汗出即效。只是發背疔瘡。方可取汗。此方余于都門許宅香火院住持小西天喇嘛僧處傳來。不論大小老幼人。如有前患。用之無有不效。</p>

<h1>卷六</h1>

<h2>藥性小引</h2>
<p>醫家治病。如經生制藝。然病有表裡重輕。猶題有大小搭截。病有來路去路。用藥有清源塞流之法。猶題有上文下文。作文有承上含下之規。藥味猶貴詮題面之字眼。藥性猶字眼。義意之淺深體認不明。便成差謬。不觀之卜子夏乎。於素以為絢詩。只因一句滑讀過。便不解為字之義。則醫家下學。於百藥之性。可昧昧焉。而不一為之究耶。余前按症列單。因病用藥。固矣。然茫不知性。倘症變裁方。何所措手。爰約略幼科。常用百味之性。列於篇左。以便詳究。以供採擇焉。</p>

<h2>藥性賦幼科摘要</h2>
<p><u>寒性</u>　犀角解乎心熱。羚羊清乎肺肝。澤瀉利水通淋而補陰不足。薏苡能理腳氣而風濕堪除。車前子明目止瀉。能清小便。栝蔞子潤肺止嗽。下氣寬中。黃柏瀉膀胱而補腎。薄荷消諸腫以清風。寬中下氣。枳殼緩而枳實速。療肌解表。柴胡次而乾葛先。柴胡瀉肝。止兩脅之痛。枳實削積。除久滯之痰。百部治肺熱。於咳嗽可止。梔子涼心腎。而鼻衄最宜。升麻力消風熱。發散瘡痲。足陰引氣升陽。導藥遊經有四。麥冬清心解渴。專除肺熱。清肺隱伏之火。生肺不足之金。金箔乃鎮心而安神志。茵陳除濕熱而治胎黃。石膏墜頭痛。兼清脾胃。天冬定肺喘。又潤心肝。大黃能通閉結。朴硝降火通關。前胡除內外之實痰。滑石利六腑之澀結。熟地黃滋腎水。補益真陰。生地黃涼心火。肺脾解熱。赤芍藥行血而療腹痛。煩熱亦解。白芍藥補虛兼瀉肝火。新血能生。香附子理氣。有消浮退腫之功。知母滋陰。乃瀉腎除蒸之用。貝母清熱痰而利心肺。寒痰愈滯。桔梗通肺竅而傳諸藥。肺部引經。黃芩瀉大腸之火。肺寒勿用。常山攻痰結之味。剿瘧尤強。葶藶子止肺喘以通水氣。水藕節消瘀血而止衄紅。大黃朴硝。乃脾虛送死之鴆毒。黃連貝母。乃寒痰伐命之斧斤。</p>
<p>夏禹鑄曰。大黃猶之一員猛將。朴硝卻是偏裨。如敵勢猖獗。負踞要衝。用之搴旗折馘。一出成功。若民遭困苦之餘。平定安集。尚恐不及。亦輕為調遣。不惟無地樹功。而且敵梳兵篦。輕用之害。慘不可言。果肺火焰天。大腸毒結。一用則瞬息通關。至於臟腑俱虛。或氣虛腫脹。誤用則掃盡元氣。不刃而殺人矣。</p>
<p><u>熱性</u>　生薑發散。除乎胃嘔。胃熱切不可用。五味止嗽。且滋腎水。初嗽不可遽加。川芎能祛風濕。清頭補血。紫蘇力能表散。亦可助脾。麻黃散寒邪以發表。根止盜汗而固虛。白朮消濕痰而溫胃。利水道以強脾。丁香快脾胃。以止吐逆。附子療虛寒。大壯元陽。當歸補虛以養血。獨活祛風以治瘋。厚朴溫胃。且消嘔脹。除痰亦驗。肉桂可療冷瀉。止汗如神。橘紅皮開胃去痰。導壅滯之逆氣。山茱肉治頭昏暈。止下部之遺精。</p>
<p>夏禹鑄曰。附子之力猛。用之貴小心謹慎。虛寒者受之。如枯木逢春。若壯氣不衰。誤為過問。必髮直衝冠。以是知脾氣兩虛。元陽亡失。虛極生寒。體如冰雪。口中寒氣逼人。一用如石投水。不特莫之逆也。且同流濕就燥。如只虛而不寒。即寒不到陰極地位。形勢猶能自立。一用如水投石。不特莫之受也。而且水火參商。是知宜用不怕朝夕。不宜卻怕分釐。可為輕用附子者作一箴規。</p>
<p><u>溫性</u>　木香理乎滯氣。半夏主於風痰。蒼朮燥脾去濕。山藥脾濕能醫。藿香葉止吐溫胃。能消喉響之寒痰。款冬花潤肺去痰。又定久嗽之壅喘。草果仁溫脾胃以止瘧。威靈仙宣風氣以除疼。茴香卻膀胱疝氣之痛。秦艽去肢節腫痛之風。檳榔墜痰導水。治痢疾之後重如神。訶子生津潤肺。療滑瀉之沉疴似聖。防風祛風。杜仲益腎。橘核止腰疼疝氣之急痛。麻仁潤肺及六腑之燥堅。黃耆實腠理益元氣。外固表虛之汗。肉豆蔻溫中止霍亂。更助脾臟之虛。生薑皮可消浮腫。鉤藤鉤專定驚風。</p>
<p>夏禹鑄曰。黃耆之性。溫內分。實腠理。益元氣。外固表虛之盜汗。內托陰證之瘡瘍。乃脾家氣分之第一種固虛藥也。故仲景有曰。黃耆、甘草。以益元氣之內。人參、肉桂。調和營衛之中。人動曰提氣。只知道一個氣字。那知道人身上氣有兩種。主乎脾者。氣之元也。主乎肺者。氣之發也。脾之元氣。猶每歲之為生為長。為收為藏。內運之氣是也。肺發之氣。猶山嶽之晴嵐。村落之煙霧。溪壑之陰雲。碧海之樓市。外發之氣也。不能分別兩種。各有所司。猥曰提氣。嗟嗟。黃耆何曾走著肺家。又何曾理著肺氣。把扶正氣的一味聖藥看壞了。致令脾氣弱症。卒不敢用。不亦深可悼哉。余推其故。多因肺部有邪。氣喘氣促。那醫家不去清肺之邪。而遽為扶脾之氣。適湊其會。氣愈喘愈促。便誣賴到黃耆身上。不然。黃耆與肺何涉。而亦亂道提氣耶。若以余言為謬。試到明醫處。把黃耆溫內分。實腠理。益元氣。固盜汗。這幾個字。幾種性。細問一番。庶可瞭然於心矣。</p>
<p><u>平性</u>　青皮利脾胃。快膈削積。天麻定驚癇。燥濕祛風。甘草調燮陰陽。解藥百毒。生用乃瀉心經之火。人參寧心潤肺。助胃開脾。生津扶氣。肺熱反來傷肺之憂。南星去驚風痰吐之苦。棗仁有補心去怔之功。大腹皮消浮下氣。亦能和胃。遠志肉遺精能止而寧心。木通豬苓。併為利水之用。蓮肉醒脾。更有清心之妙。白茯苓補虛勞。心脾俱到。白茯神寧心臟。驚悸能安。麥糵有入脾化食之力。脾虛莫用。小麥有止汗養心之功。浮者為佳。神麯消食。恐傷脾氣。百合止嗽。兼斂肺虛。連翹瀉六經之火，排卻瘡膿。大棗有健脾之力。中滿勿嘗。烏梅治便血。瘧痢兼用。竹瀝治痰壅。寒滯宜防。</p>
<p>夏禹鑄曰。人參是世間一種靈丹。若脾虛作瀉。胃虛發吐。心虛驚悸。肺虛作嗽。津亡作渴。氣虛失血。病久成慢。諸類用之。如入芝蘭之室。蓋善與善相親也。肺熱。氣旺，風邪。熱邪。燥邪。火邪。諸類用之。如入鮑魚之肆。蓋邪正不肯並立也。凡今之人。因前庸手誤用傷人。相沿視為鴆毒。不深可恨哉。臟有淫邪。不可遽用。邪去正衰。不可不用。遽用者傷人。不用者亦殺人也。</p>

<h1>附錄</h1>

<h2>諸湯方</h2>
<p><u>天保采薇湯</u></p>
<p>羌活　前胡　半夏　陳皮　柴胡　赤芍　白茯　川芎　枳殼　厚朴　桔梗　蒼朮　升麻　葛根　藿香　獨活　甘草　</p>
<p><u>犀角解毒湯</u>　治胎熱丹毒。</p>
<p>犀角　赤芍　生地黃　白芷　甘草　連翹　荊芥　防風　牡丹皮　木通</p>
<p><u>導赤散</u>　治夜啼。</p>
<p>木通　生地　甘草　竹葉　黃芩</p>
<p><u>大連翹飲</u>　治胎熱等症。</p>
<p>連翹　赤芍　歸尾　木通　甘草　防風　荊芥</p>
<p><u>理中湯</u>　治胎寒等症。</p>
<p>乾薑　白朮　甘草　人參　若加附子。名附子理中湯。</p>
<p><u>鉤藤膏</u>　治內吊肚痛。</p>
<p>乳香　沒藥　木香　殭蠶　共為丸。鉤藤湯下。</p>
<p><u>地黃茵陳湯</u>　治胎黃。</p>
<p>生地　歸尾　豬苓　天花粉　赤芍　赤茯苓　茵陳　澤瀉　甘草</p>
<p><u>芍藥湯</u>　治夜啼泄瀉。</p>
<p>白芍　澤瀉　甘草　大茴　薄荷　木香　茱萸　生薑</p>
<p><u>六君子湯</u>　治脾胃虛寒等症。</p>
<p>陳皮　半夏　人參　白朮　甘草　白茯　生薑、大棗引。</p>
<p><u>固真湯</u>　治慢驚四肢冷。不省人事。</p>
<p>附子　甘草　人參　山藥　黃耆　肉桂　白朮　白茯　薑棗引。</p>
<p><u>保元湯</u>　治汗多。變慢驚。</p>
<p>黃耆　人參　甘草　生薑（三片）　大棗（一枚）　水煎服。</p>
<p><u>姜半散</u>　治吐不止。將成慢驚。</p>
<p>半夏　生薑　肉桂</p>
<p><u>調脾湯</u>　治脾疳。</p>
<p>陳皮　白朮　丁香　人參　訶子　青皮　甘草</p>
<p><u>六味地黃丸</u>　治腎疳。</p>
<p>牡丹皮　熟地黃　白茯苓　山萸肉（酒蒸去核）　白澤瀉　懷山藥</p>
<p>上為細末。煉蜜丸如桐子大。空心。滾水送下。</p>
<p><u>蘆薈丸</u>　治丁奚哺露。</p>
<p>蘆薈　人參　白朮　白茯　山藥　木香　陳皮　青皮　麥芽　神麯　當歸（各三錢）　檳榔（兩個）　麝香（少許）</p>
<p>上為細末。豬膽打麵糊為丸。如麻子大。清水湯送下。</p>
<p><u>小異功散</u>　治先瀉後吐。脾胃虛冷。</p>
<p>人參　白朮　橘皮　白茯　薑棗為引。煎服。</p>
<p><u>黃連芍藥湯</u>　治先吐後瀉。</p>
<p>黃連　芍藥　豬苓　澤瀉　白茯　白朮　甘草</p>
<p><u>五苓散</u>　治吐瀉。</p>
<p>豬苓　白朮　白茯　澤瀉　肉桂</p>
<p><u>消導二陳湯</u>　導痰。消食。健脾。</p>
<p>陳皮　半夏　白茯　白朮　蒼朮　神麯　香附　砂仁　甘草</p>
<p><u>六和湯</u>　治暑瀉。</p>
<p>陳皮　半夏　白茯　甘草　黃連　厚朴　藿香　香薷　加扁豆　木瓜</p>
<p><u>胃苓湯</u>　治長夏暑瀉。</p>
<p>澤瀉　陳皮　白茯　豬苓　厚朴　白朮　甘草　蒼朮</p>
<p><u>助胃膏</u>　治胃氣虛寒嘔吐。</p>
<p>人參　白朮　白茯　甘草　山藥　木香　丁香　藿香　砂仁</p>
<p><u>訶附丸</u>　治飧泄。</p>
<p>訶子肉　灶心土　黑附子　為末。米糊丸如粟米大。米湯下。</p>
<p><u>十六味肥兒丸</u>　治脾胃虛弱。</p>
<p>人參　白朮　白茯　山藥　薏米　芡實　蓮肉　甘草　陳皮　山楂　麥芽　砂仁　黃連　澤瀉　芍藥　連翹</p>
<p>上為末。蜜丸如彈子。米湯下。</p>
<p><u>承氣湯</u>　治裡急後重。腹痛痢疾。</p>
<p>朴硝　大黃　枳實　厚朴</p>
<p><u>木香檳榔丸</u>　治食積。</p>
<p>黑醜　檳榔　木香　神麯　大黃</p>
<p>上為末。生薑汁糊丸。如粟米大。米湯下。</p>
<p><u>補中益氣湯</u></p>
<p>黃耆　人參　甘草　陳皮　白朮　升麻　柴胡　當歸</p>
<p><u>四順清涼飲</u>　治中焦熱。</p>
<p>白芍　當歸　生地　甘草　柴胡</p>
<p><u>人參敗毒散</u>　治積毒嘔惡。</p>
<p>柴胡　前胡　川芎　羌活　獨活　白茯　枳殼　桔梗　甘草　人參　生薑引。</p>
<p><u>四君子湯</u>　治脾胃不調等症。</p>
<p>人參　白朮　白茯　甘草　薑、棗引。</p>
<p><u>薑茶飲</u>　治赤白痢。</p>
<p>陳茶　生薑　黃蠟　鹽　車前葉</p>
<p><u>四獸飲</u>　治虛瘧。</p>
<p>白朮　人參　白茯　草果　半夏　甘草　陳皮　烏梅　薑、棗引。</p>
<p><u>人參養胃湯</u>　治瘧寒多熱少。</p>
<p>陳皮　半夏　茯苓　人參　蒼朮　厚朴　草果　藿香　姜引。</p>
<p><u>清瘧飲</u></p>
<p>柴胡　枳殼　青皮　半夏　白朮　黃芩　厚朴　豬苓　白茯　澤瀉　陳皮　甘草　貝母　知母　前胡</p>
<p><u>隨用截方</u></p>
<p>前方加常山　草果　檳榔　姜引。煎服。</p>
<p><u>參蘇飲</u></p>
<p>人參　蘇梗　桔梗　前胡　半夏　乾葛　陳皮　枳殼　杏仁　木香　甘草　茯苓　姜引。</p>
<p><u>五子五皮飲</u>　治腫脹。</p>
<p>蘇子　山楂子　蘿蔔子　葶藶子　香附子　桑皮　橘皮　大腹皮　茯苓皮　生薑皮</p>
<p><u>瀉黃散</u>　治濕熱腫脹。</p>
<p>赤茯　黃連　黃柏　黃芩　山梔　澤瀉　茵陳</p>
<p><u>瀉白散</u>　治腫熱。</p>
<p>甘草　桔梗　陳皮　桑皮　地骨皮</p>
<p><u>四物湯</u>　調益榮衛。</p>
<p>川芎　當歸　熟地　白芍</p>
<p><u>麥冬飲</u>　治吐血久不止。</p>
<p>麥冬　黃耆　當歸　人參　五味子　生地</p>
<p><u>清胃湯</u>　治糞後見血。</p>
<p>山梔子　生地　牡丹皮　黃連　當歸</p>
<p><u>茵陳湯</u>　治黃疸。</p>
<p>茵陳　梔子　黃柏</p>
<p><u>祛風散</u>　治天柱骨倒。</p>
<p>防風　甘草　羌活　細辛　黃芩　白芷　薄荷　當歸　川芎</p>
<p><u>滋陰降火湯</u>　治陰虛痰結。</p>
<p>當歸　地黃　白芍　黃連　白茯　知母　天花粉　蓮子　黑元參　甘草　麥冬　燈心引。</p>
<p><u>五淋散</u>　治血淋。</p>
<p>赤茯　赤芍　山梔仁　條黃芩　當歸　甘草　燈心一團引。</p>
<p><u>清脾飲</u>　治熱瘧。或熱多寒少。</p>
<p>青皮　半夏　黃芩　甘草　白朮　白茯　柴胡　陳皮　草果　厚朴　薑、棗引。</p>
<p><u>人參安神湯</u>　治心血不足。驚悸不安。</p>
<p>麥冬　人參　當歸　黃連　棗仁　生地　茯神</p>
<p><u>安神湯</u>　治心血不足。驚悸。</p>
<p>人參　半夏　棗仁　茯神　當歸　橘紅　赤芍　五味子　甘草　姜引。</p>
<p><u>寧心丸</u></p>
<p>麥冬（五錢去心）　寒水石（一兩）　白茯　甘草　牙硝　山藥（各五錢）　硃砂（一兩）　龍腦（一字）</p>
<p>上為末。煉蜜為丸。如芡實大。每服半丸。砂糖水磨下。</p>
<p>如慢症。用人參、白朮。煎濃汁化下。</p>
<p><u>肝疳丸</u></p>
<p>五靈脂　夜明砂　龍膽草　天麻　乾蟾頭　全蠍（一個）　蟬蛻　川芎　蘆薈　黃連　青黛　防風</p>
<p>上為末。豬膽汁浸為丸。麻子大。每服十丸。薄荷湯下。</p>
<p><u>化䘌丸</u>　治肺疳。</p>
<p>蕪荑　青黛　蘆薈　川芎　白芷　胡連　川連　蝦蟆灰</p>
<p>各等分為末。豬膽汁浸糊為丸。麻子大。每服二十枚。臨臥。杏仁湯下。</p>
<p><u>褐子丸</u>　治疳脹。</p>
<p>蘿蔔子（一兩）　青皮　陳皮　檳榔　赤茯　黑牽牛　莪朮　五靈脂（各五錢）　木香（二錢五分）</p>
<p>上為末。糊為丸。綠豆大。每服十五丸。桑皮、紫蘇煎湯。或蘿蔔湯下。</p>
<p><u>五味二陳湯</u>　治夾暑傷寒吐瀉。</p>
<p>陳皮　半夏　白茯　甘草　厚朴　香薷　黃連　山楂　麥芽　神麯　木通　澤瀉</p>
<p><u>香薷飲</u>　治暑熱。</p>
<p>香薷　厚朴　扁豆　黃連</p>
<p><u>清心蓮子飲</u>　治溺血。</p>
<p>麥冬　地骨皮　黃芩　甘草　白茯　黃耆　柴胡　車前　石蓮肉　人參</p>
<p><u>瀉青湯</u>　治囟填。</p>
<p>羌活　川芎　梔仁　龍膽草　當歸　防風（各等分）　大黃（減半）　竹葉引。</p>
<p><u>清金飲</u>　治傷風嗽吐。</p>
<p>前胡　杏仁　桔梗　桑皮　半夏　甘草　旋覆花　薄荷　陳皮　水煎。</p>
<p><u>小續命湯</u>　治剛柔痓病。</p>
<p>麻黃　人參　黃芩　川芎　芍藥　甘草　杏仁　防風　防己　肉桂　附子</p>
<p><u>芎蘇飲</u></p>
<p>川芎　蘇葉　陳皮　半夏　柴胡　桔梗　枳殼　乾葛　白茯　甘草</p>
<p><u>瀉肝湯</u></p>
<p>車前　木通　生地　歸尾　山梔　黃芩　龍膽草　甘草（各五分）</p>
<p><u>松蕊丹</u>　治龜背。</p>
<p>松花　枳殼　防風　獨活（各一兩）　麻黃　前胡　大黃　桂心（各五錢）</p>
<p>為末。蜜丸黍米大。每服二十丸。粥飲下。</p>
<p><u>寬氣化痰丸</u>　治龜胸。</p>
<p>大黃（三分）　杏仁　百合　木通　桑皮　甜葶藶　天門冬　石膏（各五錢）</p>
<p>上為末。煉蜜丸。黍米大。食後臨臥。白熱水化下。</p>
<p><u>柴胡梔子飲</u></p>
<p>柴胡　山梔　白茯　川芎　白芍　當歸　丹皮　牛蒡　甘草　等分。水煎。子母並服。</p>
<p><u>固腸飲</u>　治久痢不止。</p>
<p>木香　黃連　當歸　白芍　人參　白朮　白茯　甘草　訶子肉　水煎。</p>
<p><u>屈膝散</u>　治鶴膝。</p>
<p>防風　薏苡仁　牛膝　苦參（女便浸曬）　何首烏（男便浸曬各一錢）　殭蠶　天花粉　荊芥穗（各五錢）　肥皂核肉（一兩）　鹿茸（五錢）</p>
<p>共為粗末。每用三錢。同冷飯糰四兩。牡豬油六錢。黏米、綠豆各一撮。水四碗。煎至二碗。分作二次。溫服。</p>
<p><u>豬乳膏</u>　治胎風胎驚。</p>
<p>牛黃　硃砂（各少許）　取豬乳調抹兒口中。</p>
<p><u>清暑益氣湯</u>　治傷暑煩熱。</p>
<p>黃耆　升麻　人參　白朮　陳皮　神麯　澤瀉　黃柏　當歸　青皮　乾葛　五味　甘草　水煎服。</p>
<p><u>八珍湯</u></p>
<p>人參　白朮　茯苓　甘草　川芎　當歸　熟地　白芍　薑、棗引。</p>
<p><u>藿香正氣散</u>　治傷脾胃。外感寒邪。</p>
<p>藿香　紫蘇　大腹皮　陳皮　桔梗　甘草　茯苓　半夏　神麯　厚朴　白芷　薑、棗引。</p>
<p><u>疏風順氣湯</u>　治風寒發喘。</p>
<p>紫蘇　乾葛　桑皮　前胡　麻黃　杏仁　甘草　水煎服。</p>
<p><u>清肺湯</u></p>
<p>白朮　茯苓　陳皮　薄荷　南星　桑皮　細辛　甘草　桔梗</p>
<p><u>備急方</u>　治夜啼內吊。</p>
<p>煎蔥湯淋洗其腹。又用艾絨烘熱。包熨臍腹十數次。其痛即愈。</p>
<p><u>蓮花飲</u></p>
<p>甘草　知母　蓮花須　川蓮仁　栝蔞仁　五味子　人參　乾葛　白茯　生地　竹葉</p>
<p><u>參竹湯</u></p>
<p>麥冬　人參　竹葉　甘草　半夏　小麥　粳米　陳皮　生薑</p>
