<header data-type="book">
<h1>活幼心書</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>曾世榮</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1294">公元1294年</data></dd></div>
<div><dt>底本</dt><dd>元天曆己巳（二年，1329年）刊鈔補本（<a href="https://rbook.ncl.edu.tw/NCLSearch/Search/SearchDetail?item=4b7162227fc647589fe2593c597cc8cffDcyMTk20&SourceID=1">國家圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>和序</h1>
<p>醫家惟小兒科為尤難。蓋自其能言而被病者，猶可以問而知之，而其未能言者，不可以問而知也。《史》言扁鵲入咸陽，為小兒醫，然鵲之書多不傳其言。有曰：望而知之謂之神，聞而知之謂之聖，鵲之術固不在於書歟。信斯言也！惟鵲為可也。夫醫不可以無書也，太倉公乃亦以醫者意耳，不肯為書，使倉公者常有於世焉，雖無書可也，如倉公之不常有。何哉？且吾聞學醫者，與學儒無異。儒者求聖賢之心法，以有聖賢之書存焉耳。醫無其書，則軒岐之心法泯焉而不傳久矣。又何由而學之？故醫書之浩衍，與儒書相埒，殆又過之。然板行於天下，人得而有之者，往往大方脈之書為多，彼為小兒者，每以專科自名，或私得一方，即祖父子孫相傳，世享其利，他人萬金不顧授也。其肯與天下後世公共之哉？育溪曾君，用儒攻醫，得戴劉二家之傳，自少至老，凡活人之幼者，枚數不知幾何人。在證處方，皆超然眾醫之表，乃以得之師傳者，廣粹精核，為活幼心書一編。既成不以私其家，將以公之天下後世，使為其術者，無學醫廢人之患。凡人之幼，皆有成人之望焉，厚哉育溪之用心也，人孰無此心哉？皆能以育溪之心為心則善矣。雖然，書本陳言，心須活法，或徒泥其書而不善用，譬之兵家，不知合變，膠柱而調瑟焉，吾未見其可也。昔臨安李立之者，以小兒科擅名一時。有嬰兒忽病喑，求治之，立之令人乘高撲之地下，以一衾盛之，兒不覺大驚，遂發聲能言。問之。曰：此乳搐心也，非藥所能療。此活法之說也，因附著之。</p>
<p><u>泰定丁卯閏九月朔中議大夫前同知海北海南道宣慰使司事副都元帥和尼赤序</u></p>

<h1>廉序</h1>
<p>育溪曾德顯，儒家者流，明小方脈，幼幼之心，不啻父母仁人之用心也。余家有襁褓童子，感驚風疾，其父母者咸憂焉，德顯乃不憚煩暑，隨招隨至，一視之曰：毋慮。遂用對證之藥療之。藥未既而效已隨之，誠可嘉尚。原其平昔用心之勤，集諸方書之經驗者，著以成帙，目之曰《活幼心書》。夫心者，虛靈善應，神妙不測，主宰一身，應酬萬事者也。推廣此心以及人及物，使顛連無告者為同胞，癢疴疾痛者為同體，乃刻諸梓，以廣其傳。非惟傳之今，亦且傳諸後。俾後人亦能推此心以及人及物，則活幼之心為無窮也，豈曰小補哉。</p>
<p><u>天曆己巳八月廿又一日朝散大夫同知衡州路總管府事廉公亮引</u></p>

<h1>吳序</h1>
<p>人得天地生物之心以為心，則當視天地萬物為一體，癢疴疾痛，舉切吾身，仁者事也。先儒謂醫家以手足痿痹為不仁，斯言善狀仁字，蓋手足痹則氣脈不相通，痛癢無所覺，心之生道息矣，烏得仁？況醫家之於嬰孩，語言未足辨，脈理未足憑，必能以心體之，然後可以察其癢痛疴疾之所在。非有志於仁者，其能若是乎？烝西曾君德顯，儒而為醫，幼從鄉先生李月山，固已得儒學於心授，長從世醫劉氏，又能得醫學於心傳，精讀醫經，詳味藥性，參前輩之奧議，伸自己之獨見，有求必應，不倦於貧，集其平時論證與方，名曰《活幼心書》。將與同志共之。夫作書以述其心之所用，而且克廣其傳，亦庶乎仁者之用心矣。嘗觀其書，則審證施劑，信有異乎人者。五苓散在諸家止用之解傷寒溫濕暑毒霍亂，而德顯於驚風痰搐瘡疹等疾，通四時而用之，前同知衡州府事胡省齋因其子驚風得愈，問之曰：五苓散何以愈斯疾乎？德顯曰：此劑內用茯苓，可以安此心之神。用澤瀉導小便，小腸利而心氣通。木得桂而枯，足能抑肝之氣，而風自止，所以能療驚風。施之他證，亦皆有說。省齋深然之，此其善用五苓散也。小兒驚風搐掣，醫者視為一病，輒以金石腦麝蜈蠶蛇蠍等劑投之，非徒無益，反激他證。德顯則謂有因驚風而搐者，有因氣鬱而搐者。驚屬心，風屬肝，而鬱於氣者亦有搐。陳氏所謂蓄氣而成搐者是也，但未著其方。余於驚風則隨證施治，若氣鬱而搐者，則用寬氣飲治之，只以枳殼枳實為主。嘗因患搐者，倉卒求藥，教服鋪家枳殼散，而搐亦止。病者深感之，此又治搐之特見也，其他緊證，俱能究心，用藥之奇，成效之速，有未易縷述者，寄寓予家將十年。二孫藉其調護，每識證於微渺，制疾於萌芽。其用心之溥，非特於吾輩為然。蓋其篤志於仁，重義輕利，亦自讀書中來，非可以庸俗例視也。讀其方論，因敘數語於篇端，識者倘察予言，必有知其用心者。</p>
<p><u>元貞乙未上巳日前太學篤信齋進士吳剛中謹書</u></p>

<h1>羅序</h1>
<p>吾鄉月山李先生，博極群書，操行修潔，最謹於義利界限，媚學之子，翩翩從之，其誨諸生也，不止於詞藝而已，必勉以正心修身，俾之有士君子之行。德顯曾君，從遊者之一也。居無何，場屋之事廢，於是以業儒者而業醫焉。昔賢達則願為良相，窮則願為良醫，其心均在濟人耳。醫豈細事哉，而幼幼之醫，尤不易也。蓋氣色微，筋骨脆，癢疴疾痛，不可問而知。他人止於面色指紋之間揣摩投劑，德顯則切脈先之，倘證陽而脈陰，證陰而脈陽，必治脈不治證，精思詳究，探本索原。藥餌所施，百不失一。未嘗以病家之貴賤貧富而異用其心，或遇窘乏太甚之家，亦隨力捐資濟其饘粥，以故全活者眾。德顯非饒於財者，能推是心，亦賢矣哉。業醫三十年，古今醫書，讀之不輟，今取其平日閱證用藥之已效者，著為方論，纂為詩歌，名之曰《活幼心書》。是心也，恆心也，惻隱之心也，心誠求之之心也。對越天地神明而無愧矣。且欲鐫梓以為海內共之，用心廣大可敬也。夫余嘗觀趙德麟侯鯖錄，有人得癰疽方甚奇，寶而不傳，後為虎所食，非天譴歟？德顯心事若茲，天必福之，以誘世人之善用其心矣。德顯衡之烝西人，號育溪，名世榮，德顯其字也。</p>
<p><u>丁未中秋邵清遺老七十翁羅宗之巨海甫謹序</u></p>

<h1>自序</h1>
<p>聞之先儒曰：天向一中分造化，人於心上起經論。大哉心乎！其萬事之機括乎，前乎千百世而上，為天地立心，生民立命者，此心也。後乎千百世而下，為往聖繼絕學，來者續師傳，亦此心也，是心也，以之活幼，即有惻隱之真，所謂乍見孺子將入於井，皆有怵惕惻隱者，無非自此心中來。宋翰林侍御世醫戴克臣者（徽宗朝，名堯道，）活幼宗師也，取信當時，有聲朝野，心以傳心，得其妙者，惟烝西高原劉茂先（名祀自號固窮山叟。）茂先之心，其五世孫字直甫者（名思道），又深得之。推其所得，隨施輒效，亦可以見其用心矣。然昔賢之學，固以心而傳，而昔賢之心，非書又無以衍其傳。況自開慶以來，其書散漫，戴劉二公之心傳，幾不復見。予生二公之後，而無默契乎二公之心，早歲師事直甫，於茲有年，面命心傳，領會多矣。但念一宗醫書，方論待決，歲月浸遠，卷帙不齊，設有危難，未易檢閱。籲！得其心者，敢不究其心哉。明窗晝熏，短檠夜雨，因就其遺書而精加編次，繁者刪之，缺者補之，書非可用不敢錄，方非已效弗敢收。脫亡遺漏，存十一於千百，上探三皇前哲之遺言，下探克臣茂先之用心，實則吾心固有之理，旁求當代明醫之論，亦姑為活幼之一助云耳。遂名其書曰活幼心書。書成，客或難予曰：醫者意也。但觀形切脈，以意逆志，是為得之，何必一切求諸書，而且以心書名之哉。予曰：不然。予非有心於著述，而求異於人也。不過推廣劉氏數傳之貞心。以求契夫戴氏之初心耳。朱文公有言，意者，心之所發也。書之所述，豈非心之流行發見者乎！客唯而退，於是乎書。</p>
<p><u>至元甲午菊節衡陽後學曾世榮德顯識</u></p>

<h1>卷上·決證詩賦</h1>

<h2>觀形氣</h2>
<p>觀形觀氣要精通，稟受元來自不同，細察盈虧明部分，隨機用藥見奇功。</p>
<p>形者，面色也。氣者，神氣也。張吉夫云：小兒證候，不可取之一端，在表裡相應，隨機消息，豈膠柱調瑟者所能觀其形而知其證哉？信斯言也。況小兒虛實，有非系乎肥瘦，而系乎氣色者，何以言之，蓋有肥而氣怯，瘦而氣壯，氣怯則色必嫩，其為虛可知矣。氣壯則色必盛，其為實可知矣。由是論之，五臟之氣，皆形於面部，肝青、心赤、肺白、腎黑、脾黃，是其本體。肝旺於春，心旺於夏，肺旺於秋，腎旺於冬，各七十二日，脾寄旺於四季後一十八日，是其本位。然有時乎不春不冬，而面變青黑者，非肝之與腎也。不秋不夏而面變赤白者，亦非心之與肺也。蓋五臟之氣，層見疊出，隨證流形，初無一定，忽然青黑主乎痛，忽然赤者主乎熱，忽然白者主乎冷，忽然黃者主乎積。此其氣之開闔，非系乎時，非拘乎位。又如心主頦，肝主眼，並左瞼，脾主唇之上下，肺主右瞼，腎主耳前頦（音孩）外，其形或見於位，或露於他部，所謂不可取之一端，明其義也。且脾主唇之上下為吐瀉，或患痢日久，然其色黑則腎之乘脾，水反剋土，名為強勝，其藏或敗耳。肝主眼並左瞼，其色青，本色也，主驚駭風痰發動，是為順證。若見白色，乃肺之克肝，即為逆證。以此推考，變而通之，存乎其人，學者留心於此，誠有用焉。</p>

<h2>及幼攻補</h2>
<p>察病必須明表裡，更詳虛實在初分；惡攻喜補人皆信，誰識攻中有補存。</p>
<p>張子和曰：人身不過表裡，血氣不過虛實。此言其大略耳。惟庸工之治病，純補其虛，不敢治其實，舉世皆曰平穩，誤人不見其跡。渠亦不自省其過，雖終老而不悔，且曰：吾用補藥也，何罪焉？病人亦曰，彼以補藥補我，彼何罪焉？雖死亦不知覺，此庸工誤人最深。如鯀湮洪水，不知五行之道，夫補者人所喜，攻者人所惡，醫者以其逆病人之心，而不見用，不若順病人之心，而獲利也，豈復計病者之死生乎？蓋醫有賢愚，人多謬誤，以賢為非，以愚為是，不明標本，妄投藥餌，自取危困，徒切感慨。所謂攻者，萬病先鬚髮散外邪，表之義也；外邪既去，而元氣自復，即攻中有補存焉，里之義也。然察其表裡虛實，尤在臨機權變，毋執一定之規也。</p>

<h2>戒毀同道</h2>
<p>大抵行醫片言處，深思淺發要安詳；更兼忠厚斯為美，切戒逢人恃己長。</p>
<p>鄭端友曰：醫門一業，慈愛為先，嘗存救治之心，方集古賢之行。近世醫者，診察諸疾，未言理療，訾毀前醫，不量病有淺深。效有遲速，亦有陰虛陽實，翕合轉移，初無定論，惟務妒賢嫉能，利己害人，驚謔病家，意圖厚賂，尤見不仁之心甚矣。昔神宗時，錢仲陽為醫有聲。皇子儀國公病瘛瘲國醫莫能治，長公主朝，因言錢乙起草野，有異能。立召入。進黃土湯而愈。神宗褒諭，問黃土何以愈斯疾狀。乙對曰：以土勝水，木得其平，則風自止。且諸醫所治垂愈，小臣適當其愈。上悅其對，擢太醫丞，賜紫衣金魚，一旦超然眾醫之表，豈不貴哉。學者能以仲陽之心為心，則善矣。</p>

<h2>為醫先去貪嗔</h2>
<p>為醫先要去貪嗔，用藥但憑真實心；富不過求貧不倦，神明所在儼如臨。</p>
<p>人有恆心，踐履端謹，始可與言醫道矣。凡有請召，不以晝夜寒暑遠近親疏，富貴貧賤，聞命即赴，視彼之疾，舉切吾身，藥必用真，財無過望，推誠拯救，勿憚其勞，冥之中，自有神佑。如臨汝張彥明為醫，未嘗以錢為較，應有求醫，期於必效。一日城中火災，周迴爇盡，煙焰中獨存其居，後且子孫榮貴。以此見天道有陰扶顯助之靈，誠為可敬。</p>

<h2>辨證早決安危</h2>
<p>色脈參詳貴造微，早憑疾證決安危；時醫怕觸病家諱，病稍差池便怨咨。</p>
<p>為醫固難，及幼尤難。故醫者診視小兒之證，倘色脈精明，則死生可判。若以恐觸病家之諱，猶豫其說，不吐真情，稍有差池，必招其怨。與其受怨於後，孰若告之於先。縱有危難，夫復何怨。昔扁鵲見桓侯曰：疾在腠理，不治將深。恆侯不信。復見曰：疾在骨髓，雖司命無如之何。後果弗起。學者於此，觸類究心，斯有得於扁鵲之妙旨。</p>

<h2>五色主病</h2>
<p>積黃青則是驚風，熱赤傷寒紫淡紅；黑痛白為虛冷嗽，更須隨部用神工。</p>
<p>望聞問切，醫者先之。凡看病形指文，聽聲察色，其病圖載方冊，皮有薄厚，但周時外嬰孩，多在懷抱，手無垢膩，則指白皮嫩，其紋顯而易見。至三五歲者，常貪戲耍，手弄泥水，則指粗皮厚，其紋隱而難辨。參諸面部，是為捷要。有紫黑而紋粗，或叫怒而容變，則倉卒難定，必須聽聲。有中風而迷悶，或久患而昏沉，語遲失音，口瘡咽痛，尤非聞而知之所能盡。問證一節，最為的當。然幼幼方脈，謂之啞科，縱稍長成語不足信，有飽曰譏，癢曰痛，如是類者，屢嘗試之。每究心及此．初在父母審其得患之由，而告醫者參詳，則易於調治。多有病家不肯自言其致疾之始末，而一聽醫者之揣摩。由是觀之，問亦難矣，必須診脈以決諸證。然南北稟賦不同，施治之法亦當隨其虛實冷熱用藥可也。若夫造妙工夫，初無其他，大學所謂若保赤子，心誠求之。專是業者，倘不盡此心之誠，何以察不言之疾乎？</p>

<h2>診脈明證</h2>
<p>小兒脈應二周前，一指分關寸尺全；六至號為無病子，不和氣主按如弦；浮洪風熱數驚候，虛冷沉遲實積堅；指滯脾經時緩應，過猶不及亂難痊。</p>
<p>叔和脈經曰：孩兒三歲至五歲，呼吸須將八至看，乃以八至為平。及觀張氏脈訣云：小兒常脈，只多大人二至為平。予嘗指下審之，果一息六至為平。若七至八至，乃是數脈，主發熱作驚。由此而論，則脈之微妙，不可不察，學者當審而切之，庶無錯誤。凡把幼稚之脈，僅二三歲者，但以一指揣按關部，側指於關前取寸口，側指於關後取尺澤，至四五歲余，卻密下三指，按三部，明標本，察病證，然後可以克進退，決安危。蓋周歲以前，氣血未完，脈難依據，周歲以後，氣血和平，始可診脈。二歲以前，只依一指按關部取法為率。若弦緊主氣不和，先與順之，然後調中快氣，浮洪主風熱，先與解之，然後疏風除熱。急數主受驚，先與發散，然後鎮心退驚。沉遲主虛冷，先與溫之，然後理虛去寒。實滑主傷積。先與表之，然後疏滌積聚。沉緩主宿冷滯脾，錢氏脈訣云：沉緩為積，此又因宿冷積滯於脾，則脾氣弱而不能磨化穀食，遂成積也。先與和解，然後去積溫脾。以上脈病，皆宜對證調治，有傳作乖異，尤在臨機應變，不可執一，所謂醫者意也。其有旨哉。若一息十餘至為危急，謂之太過；一息僅二至為虛極，謂之不及。大小不同為惡候，謂之亂，皆難治也。若年至十二三以上，又當參諸大方脈，以明得病之由，因其所制之方以為治，斯不誤矣。</p>

<h2>議金銀薄荷</h2>
<p>薄荷湯內用金銀，多為訛傳誤後人；細讀明醫何氏論，於中載述得其真。</p>
<p>古方所載金銀薄荷為湯，使後人之醫者，遂薄荷之外，加以金鈈銀鈈同煎，殊欠講明。夫鈈者，乃婦人常帶之物，垢膩浸漬，用以煎煮，其味雜乎藥內，大非所宜，切須戒此。昔明醫何澄論金銀薄荷，乃金錢薄荷，即今之家園薄荷葉小者，是其葉似金錢花葉，名曰金錢薄荷。此理甚明，非所謂再加金銀同煎。大概錢字與銀字相近，故訛以傳訛，是亦魯魚亥豕之類也。</p>

<h2>胎寒</h2>
<p>（先後數詩雖曰繁紊，誠為學者識證提綱）</p>
<p>孩兒百日胎寒候，足曲難伸兩手倦（音拳）；口冷腹膨身戰慄，晝啼不已夜嗞螿。</p>

<h2>藏寒</h2>
<p>手兼足冷麵微青，腹痛腸鳴泄瀉頻，蓋為生時感寒濕，夜多啼切日常輕。</p>

<h2>胎熱</h2>
<p>三朝旬外月間兒，目閉胞浮證可推，常作呻吟煩躁起，此為胎熱定無疑。</p>

<h2>弄舌舒舌</h2>
<p>弄舌微微露即收，得於病後最難瘳，出長收緩名舒舌，熱在心脾不用憂。</p>

<h2>臍風</h2>
<p>風邪早受入臍中，七日之間驗吉凶，若見腹疼臍凸（音迭）起，惡聲口撮是為風。</p>

<h2>臍突</h2>
<p>嬰孩生下旬餘日，臍突光浮非大疾，穢水停中明所因，徐徐用藥令消釋。</p>

<h2>夜啼</h2>
<p>夜啼四證驚為一，無淚見燈心熱煩，面瑩夾青臍下痛。睡中頓哭是神干。</p>

<h2>急驚</h2>
<p>面紅卒中渾身熱，唇黑牙關氣如絕，目翻搐搦喉有痰，此是急驚容易決。</p>

<h2>天釣</h2>
<p>天釣元因積熱深，延潮心絡又多驚，雙眸翻上唇焦燥，呵欠頻頻疾便生。</p>

<h2>急驚後如瘧</h2>
<p>急驚之後傳如瘧，外感風邪為氣虛，略表次和脾與胃，自然寒熱得消除。</p>

<h2>慢驚</h2>
<p>陰盛陽虛病已深，吐余瀉後睡揚睛，神昏搐緩涎流甚，此證分明是慢驚。</p>

<h2>搐證</h2>
<p>搐證雖分急慢驚，亦因氣鬱致昏沉，良醫欲治宜寬氣，氣順之時搐自停。</p>

<h2>諸風毒</h2>
<p>諸風夾熱隱皮膚，凝結難為陡（音鬥）頓除，項頰腫須護喉舌，內疏風熱外宜塗。</p>

<h2>破血傷風</h2>
<p>跌撲皮膚因破損，外風侵襲在傷痕，隨時發腫微加痛，活血疏風是要言。</p>

<h2>傷積</h2>
<p>頭疼身熱腹微脹，足冷神昏只愛眠，因食所傷脾氣弱，下宜遲緩表宜先。</p>

<h2>驚積</h2>
<p>大府無時泄下青，見人啾唧似生嗔，解驚去積宜施劑，立致精神起臥寧。</p>

<h2>諸熱</h2>
<p>諸熱元初各有因，對時發者是潮名，乍來乍止為虛證，晚作無寒屬骨蒸。</p>

<h2>吐瀉</h2>
<p>脾虛胃弱病根源，水穀如何運化行，清濁相干成吐瀉，久傳虛渴便風生。</p>

<h2>傷寒</h2>
<p>傷寒之候有多般，一概推詳便究難，面目俱紅時噴嚏，氣粗身熱是傷寒。</p>

<h2>傷風</h2>
<p>惡風發熱頭應痛，兩頰微紅鼻涕多，汗出遍身兼咳嗽，此傷風證易調和。</p>

<h2>夾驚傷寒</h2>
<p>身微有熱生煩躁，睡不安兮神不清，此是夾驚感寒證，亦須先表次寧心。</p>

<h2>夾食傷寒</h2>
<p>鼻涕頭疼時吐逆，面黃紅白變不一，此因夾食又傷寒，發表有功方下積。</p>

<h2>下後傷風</h2>
<p>表而未盡遽宣通，通後從而喘氣攻，此是陽微陰弱證，肺經再受有邪風。</p>

<h2>夾風傷寒</h2>
<p>孩子傷寒又夾風，目多眵淚臉腮紅，太陽冷汗微生喘，口水如涎滴滿胸。</p>

<h2>風寒互證</h2>
<p>風寒雙中汗難通，重下雄黃散是功，得汗來時猶可治，莫教不汗變張弓。</p>

<h2>結胸傷寒</h2>
<p>大結胸兮小結胸，水兼寒熱不雷同，陽經下早留為毒，用藥無非直達攻。</p>

<h2>痞似結胸</h2>
<p>證同前證應無痛，病在陰經下早虛，邪毒結留心下滿，此名痞氣膈中居。</p>

<h2>壞證傷寒</h2>
<p>此病初傳不識機，致令汗下失其宜，邪乘虛入傷榮衛，知犯何經急療之。</p>

<h2>赤白痢</h2>
<p>小兒下痢細尋推，不獨成於積所為，冷熱數般雖各異，寬腸調胃在明醫。</p>

<h2>五色痢</h2>
<p>痢成五色豈堪聞，日久傳來神氣昏，干痛煩啼為最苦，更防兒小命難存。</p>

<h2>風痢</h2>
<p>風毒乘脾黃褐色，看來其痢與驚同，但聞不臭斯為異，獨瀉脾經自有功。</p>

<h2>腫證</h2>
<p>古今議腫是脾虛，大抵多從濕熱為，十種根因各調治，詳分補瀉在臨機。</p>

<h2>五疳</h2>
<p>五疳五臟五般看，治法詳推事不難，若見面黃肌肉瘦，齒焦發豎即為疳。</p>

<h2>走馬疳</h2>
<p>傷寒熱毒上熏蒸，面色光浮氣喘生，口臭齒焦腮有穴，馬疳如此是真形。</p>

<h2>脫肛</h2>
<p>肛門出露久難收，再感風傷事可憂，況自先傳脾胃弱，更詳冷熱易為廖。</p>

<h2>癇證</h2>
<p>驚傳三搐後成癇，嚼沫牙關目上翻，明辨陰陽參色脈，不拘輕重總風痰。</p>

<h2>瘧證</h2>
<p>夏傷於暑秋成瘧，間日連朝不少差，解表去邪須次第，再宜養胃固脾家。</p>

<h2>癖證</h2>
<p>本因積久成頑結，男左女右居腹脅，俗云龜癆不須聽，化癖調脾自安帖。</p>

<h2>諸疝</h2>
<p>諸疝元來各有名，蓋因寒濕氣侵成，治分芍藥烏梅散，勻氣金鈴與五苓。</p>

<h2>龜胸</h2>
<p>無端唇口忽然紅，心肺因痰飲聚中，風熱乘之加喘急，形如覆掌號龜胸。</p>

<h2>驚丹</h2>
<p>兒在胎時母受驚，驚傳邪熱子傷神，忽然赤片微微起，涼解肌膚始見寧。</p>

<h2>咳嗽</h2>
<p>咳嗽雖然分冷熱，連聲因肺感風寒，眼浮痰盛喉中響，戲水多因汗未乾。</p>

<h2>齁䶎</h2>
<p>孩兒齁䶎為啼時，食以酸鹹又乳之，或自肺經傷水濕，風痰結聚早為醫。</p>

<h2>瘡疹</h2>
<p>毒停在胃布諸經，運氣變遷瘡疹生，面口唇紅兼嗽渴，腹疼中指冷分明。</p>

<h2>豆瘡傳變</h2>
<p>黑陷瘡枯嗽失音，瀉兼渴甚吐無停，身涼食減多沉困，更有痰多命必傾。</p>

<h2>斑疹</h2>
<p>斑證總言因胃熱，赤生黑死分明別，忽如錦片出肌膚，溫毒發時從兩脅。</p>

<h2>陰囊腫</h2>
<p>厥陰少陰寒激搏，致令腫縮宜溫藥，光浮不痛作虛醫，赤腫須憑涼劑卻。</p>

<h2>驚癱鶴膝</h2>
<p>風濕流傳骨節間，痛兼心悸是驚癱，若於腕脛多疼重，凝結成團鶴膝看。</p>

<h2>瘰癧</h2>
<p>初發原於耳項旁，證輕多謂是無妨，因循作腫成膿後，穿破名為瘰癧瘡。</p>

<h2>五淋</h2>
<p>淋病雖然分五盅，要明各類在詳看，曰膏曰冷同其證，血石均為熱一般。</p>

<h2>腹痛</h2>
<p>大凡腹痛初非一，不特癥瘕與痃癖，分條析類證多端，看取論中最詳悉。</p>

<h2>丁奚</h2>
<p>久積成疳因失治，肚高頸細變丁奚，更兼手足如筒樣，面白身黃汗不時。</p>

<h2>哺露</h2>
<p>積傳疳後曰丁奚，哺露因而又得之，腹大青筋蟲滿肚，吐頻瀉數急調脾。</p>

<h2>口瘡</h2>
<p>心脾胃熱蒸於上，舌白牙根肉腐傷，口角承漿分兩處，有瘡雖異治同方。</p>

<h2>諸瘡</h2>
<p>滿頭及額生如癩，但用連床得安瘥，遍身糜潰更多煩，一抹金塗無不快。</p>

<h2>目疾</h2>
<p>生下經旬目見紅，蓋因胎受熱兼風，涼肝心藥斯為妙，疝氣豆瘡宜別攻。</p>

<h2>丹毒</h2>
<p>小兒氣弱肌膚薄，熱毒乘虛來發作，急須化毒與消風，毒散風消始安樂。</p>

<h2>重舌鵝口</h2>
<p>孩兒胎受諸邪熱，熱壅三焦作重舌，或成鵝口證堪憂，用藥更須針刺裂。</p>

<h2>五軟</h2>
<p>稟賦元虛髓不充，六淫之氣易來攻，頭兼手足身羸弱，此證名為五軟同。</p>

<h2>天柱倒</h2>
<p>忽然天柱倒何如，此病皆因肝腎虛，外有風邪容易襲，故傳項軟不相隨。</p>

<h2>解顱</h2>
<p>頭顱初見如開解，腎弱元虛大可憂，補腎調元是良藥，投之不應定難瘳。</p>

<h2>諸汗</h2>
<p>小兒自汗證多端，切莫將為一例看，要識陰陽虛實病，勤勤調理自然安。</p>

<h2>黃證</h2>
<p>身黃暑濕蒸脾得，內外因分治最良，更有胎傳生便見，母宜多服地黃湯。</p>

<h2>失血</h2>
<p>九道何為血妄行，蓋因抑鬱熱邪生，隨經施治明虛實，氣順如常血自勻。</p>

<h2>不內外因</h2>
<p>人身一或才傷損，重則宜其血亦多，不內外因然有自，各分證治在專科。</p>

<h2>小兒常安</h2>
<p>四時欲得小兒安，常要一分飢與寒。但願人皆依此法，自然諸疾不相干。</p>
<p>上前詩訣，言雖鄙俚，所貴平易能記者，得之於心，應之於手，何施不可。參諸後論，尤見詳備。此特為初學之勉。非敢立異於人也。</p>

<h2>小兒專科賦</h2>
<p>（以小兒專科要識形證為韻，即前場屋中應舉八韻賦式）</p>
<p>細辨諸證，難明小兒。惟造理以達此，於專科而見之，傷風清涕交流，初傳在肺，夾食黃紋必見，是屬居脾。原夫七日之內，臍痛乃多，百晬之外，骨蒸者少。惟驚疳積熱，半在攻裡，故暑濕風寒，先宜發表，總謂十三科目，各貴精專，不拘長幼兒童，均稱是小。觀其得病嬰孺，要參脈形，雖痛癢難通於一問，然重輕明察於諸經，暴感邪氣，腮頰微紫，久因客忤，山根太清，勿問兒小，但憑藥靈，腎有證攻，黑色多浮於地閣（即承漿），心為邪克，赤紋獨露於天庭（即額心）。茲蓋脈病證治，審察要詳襁褓嬰孩，變更莫測。凡有疾苦，全憑見識，非業擅一門，何以取效？苟醫不三世，徒然用力，難同初學之妄議，貴在專科之定式。心肝恬淡，自然毋染於時災。脾胃和平，戒以勿餐於夜食，請言夫醫通仙道，溥以生意，家傳秘方，及諸幼年，參天地之化育，無息少間，免父母之憂懷，有驚即痊。雖用藥聖，亦由業專。然而見魚口兮氣弱殊甚，聞雅聲兮命傾必然。既危吐露以真實，安有怨咨而妄傳。表用疏通，細述戴君之語，藏明補瀉，載稽錢氏之篇，專者何。精義無二，全活孩提，博學有諸，在明機要，是知小脈科兮，嘗喜一藥多效；大方科兮，固有十形三療。蓋進以乳食，務要撙節，而遠之鼓藥，免生驚叫。調和自小以無恙，長大何憂於不肖？春融一念，普推活幼之誠，日究千方，庶盡及人之妙。然嘗論形質始具，夙有靈性，語言未通，是為啞科，非圓機之士，焉察彼證。必精製之劑，能除宿疴，有信巫不用醫，適以謬甚，有是方不重藥，尤其誤矣。此病家自取過耳，於醫者殊無奈何？術顯咸陽扁鵲，全嬰而有驗，脈明晉代叔和。及幼以無訛，抑又聞㿠白虛盛，神氣常昏，紫黑實多，聲音益勝，陽證似陰，脈按細緊，陰證似陽，脈來緩應，然大學所謂若保赤子，心誠求之，此又在究心而觀證。</p>
<p>嘗謂為醫不易，而幼幼之科，尤不易也。</p>
<p>黃帝曰：若吾不能察其幼小雖聖人猶難之，況後學乎，余雖不才，謾成前賦。以便學者觀形切脈之要，臨病之際，非特少資談柄，亦可以發揮神聖工巧之妙，豈不韙歟？其或未然，後之明者，改而證諸，幸莫大焉。</p>

<h1>卷中·明本論</h1>

<h2>胎寒</h2>
<p>孩兒初生百日內，覺口冷腹痛，身起寒粟，時發戰慄，由足握拳，晝夜啼哭不已，或口禁不開，名曰胎寒。其證在胎時母因腹痛而致。《產經》云：胎寒多腹痛，亦有產婦喜淡甘肥生冷時果，皆致胎寒。或胎前外感風寒暑濕，治以涼藥。內傷胎氣，則孩兒生後，昏昏多睡，間或哯乳瀉白，若不早治，必成慢驚慢脾。凡有此候，宜以沖和飲、當歸散，合和水煨姜煎服，使之微泄。泄行進勻氣散調補，泄止氣勻神安痛定，手足舒伸，次用參苓白朮散以養胃氣，白芍湯去其寒濕。乳母宜節生冷飲食，庶漸瘥也。又有手足稍冷，唇面微青，額上汗出，不願乳飲，至夜多啼，頗似前證，但無口冷寒戰，名曰藏寒。其疾夜重日輕，腹痛腸鳴，泄瀉青水。間有不瀉者，此證亦在百日內有之，皆因臨產在地，稍及冷氣侵逼，或以涼水參湯洗兒，或斷臍帶短，而又結縛不緊，為寒氣所傷，如此宜以白芍藥湯及沖和飲加鹽炒茴香、茱萸，水姜煎投，並乳母同服。</p>

<h2>胎熱</h2>
<p>嬰兒生下，三朝旬月之間，目閉而赤，眼胞浮腫，常作呻吟，或啼叫不已，時復驚煩遍體壯熱，小便黃色，此因在胎母受時氣邪毒，或外感風熱，誤服湯劑，或食五辛姜面過多，致令熱蘊於內，熏蒸胎氣，生下故有此證，名曰胎熱。所謂胎熱即多驚。若經久不治，則鵝口、重舌、木舌，赤紫丹瘤，自此而生。先以木通散煎與母服，使入於乳，兒飲之，通心氣，解煩熱，然後以四聖散溫洗兩目，目開進地黃膏、天竺黃散及牛蒡湯，當歸散亦令母服，使從乳過，是一助也。乳母宜忌雞酒羊面，庶得易安，不致反復。又有一證，如前證元無大病，而遽然弄舌者，但身熱而四肢冷，唇青色，此脾胃不和所致，宜服守胃散自愈。有弄舌出於大病後，舌略出不長，一動即收，此是惡候，以錢氏白朮散治之，不愈將傳危急。舒舌者，此脫著衣服不常，外感風熱，入於心脾，蓋脾之脈絡繫於舌，故時復舒捲，出長收緩，或渴或不渴，謂之舒舌，宜瀉心脾經之熱，用瀉黃散加黃芩，水煎服。但不可以大寒之劑攻之，熱退則寒起，傳作他證，切宜謹之。</p>

<h2>臍風撮口</h2>
<p>嬰孩始生，一七之內，腹肚脹硬，臍畔四圍浮腫，口撮牙關不開，攢眉而叫，名臍風證。乃因剪臍帶短，或結縛不緊，致外風侵入臍中，或用鐵器斷臍，為冷所侵，或牽動臍帶，水入生瘡，客風乘虛而入，傳之於心，蘊蓄其邪，復傳脾絡，致舌強唇青，手足微搐，口噤不能進乳，啼聲似啞，喉中痰涎潮響，是其候也。此證多致不救。若一匕之外，先投劫風膏，次以五苓散加寬氣飲，入薑汁、蔥白、燈心，煎湯調服，與解風痰及用一字金，煎荊芥湯或薄荷湯，調抹口內，證輕即快。如稟賦充實，發熱有痰驚搐，投黑白飲、溫蜜湯，空心調下，微泄似茶褐色二三行，進白芍藥湯，水薑棗煎服，常用此法亦效。若臍凸（音迭）肚緊，微有青色，口撮不開，肝風盛而脾土受制，不可施治。凡有此候，百無一活。縱使得安，亦非長壽。一法用之，間有驗者，孩兒牙根肉上有小泡，如粟米狀，用溫湯蘸舊絹裹手指。輕輕擦破，即口開舌軟，不藥自愈。有臍突一證，又非臍風，此亦因初生洗浴，系臍不緊，穢水侵入於內，產後旬日外，臍忽光浮如吹，捻動微響，間或驚悸作啼，治用白芍藥湯加薏苡仁，水煎，空心溫服，次以外消散塗貼，自然平復。</p>

<h2>夜啼</h2>
<p>夜啼者，有驚熱夜啼，有心熱夜啼，有寒疝夜啼，有誤觸神祗夜啼，此四者，詳具於後。驚熱者，為衣衾之厚，或抱於極暖處久坐，致生煩悶，邪熱攻心，心主神，神亂則驚，心與小腸為表裡，故啼泣而遺溺者是也。治法遏熱鎮心，則自安矣。用百解散、牛蒡湯、三解散主之。心熱者，見燈愈啼，面紅多淚，無燈則稍息，蓋火者陽物也，心熱遇火，兩陽相搏，才有燈而啼甚，故經曰，火疾風生，乃能雨。此其義也。宜涼心安神。用百解散，或五苓散加黃芩、甘草，水煎服，次牛蒡湯、三解散及琥珀抱龍丸為治，有遇黃昏後至更盡時，哭多睡少，有啼聲不已，直到天明，乃胎中受寒，遇夜則陰勝而陽微，故腰曲額汗，眼中無淚，面瑩白而夾青，伏臥而啼，入盤腸內吊之證，名為寒疝，治法去宿冷，溫下焦。白芍藥湯、烏梅散及沖和飲加鹽炒茱萸、茴香，水姜煎服，及鉤藤膏亦佳，誤觸神祗者，面色紫黑，氣鬱如怒，叫時若有恐懼，及睡中驚惕。兩手抱母，大哭不休，此誤觸禁忌神祗而得。或因惡祟所侵，蓋嬰孩目有所睹，口不能言，但驚哭無時，指紋俱隱，故玉環集云：忽然兩手形無見，定知唐突惡神靈。治法先解其表，宜百解散，次驅邪鎮心，用蘇合香丸、琥珀抱龍丸，投之自效。</p>

<h2>急驚</h2>
<p>急驚之論，前代書所不載，惟曰陽癇，大概失所愛護，或抱於當風，或近於熱地，晝則食多辛辣，夜則衾蓋太厚，鬱蒸邪熱積於心，傳於肝，再受人物驚觸，或跌撲叫呼，雷聲鼓樂，雞鳴犬吠，一切所驚，未發之時，夜臥不穩，困中或笑或哭，齧（五結切）齒咬（五巧切）乳，鼻額有汗，氣促痰喘，忽爾悶絕，目直上視，牙關緊急，口噤不開，手足搐掣，此熱甚而然。況兼面紅脈數可辨。蓋心有熱而肝有風，二臟乃陽中之陽，心火也，肝風也。風火陽物也，風主乎動，火得風則煙焰起，此五行之造化。二陽相豉，風火相搏，肝藏魄，心藏神，因熱則神魂易動，故發驚也。心主乎神，獨不受觸，遇有驚則發熱，熱極生風，故能成搐，名曰急驚。治之之法，先以五苓散加黃芩、甘草，水煎，或百解散發表，次通心氣。木通散、三解散，疏滌肝經，安魂退熱。牛蒡湯、防風湯主之。驚風既除之後，輕者投半夏丸，重者下水晶丹，與之去痰，免成癡疾，但不可用大寒涼藥治之，熱去則寒起，亢則害，承乃制。若倉卒之間，驚與風證俱作，只用五苓散加辰砂末，薄荷湯調服，少解其證。蓋五苓散內有澤瀉導小便，心與小腸為表裡，小腸流利，心氣得通，其驚自減。內有桂，木得桂則枯，是以有抑肝之氣，其風自停。況佐以辰砂，能安神魂，兩得其宜，大略要解熱涼心肝，後用平和湯散調理，稍熱之劑則難用，醫者宜審之。愚嘗感慨諸人，每見驚風搐作，不明標本，混為一證，遽然全用金石、腦、麝、蜈、蠶、蛇、蠍，大寒搜風等劑投之，耗傷真氣，其證愈甚，多致弗救。殊不知驚生於心，風生於肝，搐始於氣，是為三證。其驚與風，首已詳及，然所謂畜氣而成搐，陳氏之論，最為明理，但未著其方。余於此證，則用寬氣飲治之，只以枳殼、枳實為主，蓋其氣也，四時平和則身安，一息壅滯則疾作。況小兒啼哭不常，其氣蘊蓄，內則不能升降，外則無由發泄，展轉經時，亦能作搐。善醫者審察病源，從而療之，萬無一失。更辨陰陽虛實，不可輕忽。若陽實證，煎平和湯調三解散主之，此急驚有搐之類。若陰虛證，煎固真湯調寬氣飲治之，此慢驚有搐之類。若暴感此證，未別陰陽虛實，先用五苓散和寬氣飲，及少加寬熱飲，三藥合用，薑汁沸湯調灌即解，大抵治搐之法，貴以寬氣為妙，氣順則搐停，此自然之理。男左女右，手足搐者，即為順證；男右女左，手足搐者，即為逆證，故難治也。有男右女左，證輕者投順搐散，使分左右，庶好療之，天釣者，初得時頓頓呵欠，眼忽下淚，身熱脈浮洪實，是風痰壅聚，上貫心包，致經絡閉而不通，目睛翻視，頸項強仰。兩手掣轉向後，大哭如怒，腳曲腰直，發熱痰鳴，爪甲皆青，狀如鬼祟，名曰天釣。治法同前急驚內藥與服，先解風熱，次理痰氣，斯為當矣。暑風一證，因夏月感冒風寒太甚，致面垢唇紅，脈沉細數，忽發驚搐，不省人事，治用消暑清心飲辰砂五苓散及琥珀抱龍丸，自發。切勿以溫劑調補，熱氣得補則復盛，尤宜戒之。又有急驚天釣之後，變作潮熱，手足逆冷，有似瘧疾，蓋因病愈之時，不善將護，外感風邪，乘虛而入於經絡，再未解散，以致如此。經曰：重陽必陰，重陰必陽。又曰：亢則害，承乃制。此其義也。宜服柴胡加桂湯及當桂散，氣實者，則以烏犀丸，水晶丹，略與通利，勻氣散止補，後以參苓白朮散調理，自然平愈。此證所用藥品，間使苦寒之味，務在消陽盛之火，肺金得勝，肝木自平，而風邪亦散，斯為良法。大凡幼稚欲令常時驚悸不作，在乎腎臟和平，故戴氏曰：治驚不若補腎，謂心屬火，火性燥，得肝風則煙焰起，致生驚悸，補腎則水升火降，邪熱無侵，雖有肝風，不生驚駭。其法當於申時，進補腎地黃丸一服，或琥珀抱龍丸。用申時者，蓋水生於申，佐之以藥，則腎水得平，心火不炎，自無驚矣。</p>

<h2>慢驚</h2>
<p>治慢驚者，考之古書，亦無所據，惟載陰癇而已。蓋慢驚屬陰，陰主靜而搐緩。故曰慢。其候皆因外感風寒，內作吐瀉，或得於大病之餘，或傳誤轉之後，目慢神昏，手足偏動，口角流涎，身微溫，眼上視，或斜轉，及兩手握拳而搐，或兼兩足動掣，各辨男左女右，搐者為順，反此為逆，口氣冷緩，或囟門陷，此虛極也。脈沉無力，睡則揚睛，謂兩目半開半合，此真陽衰耗，而陰邪獨盛。陰盛生寒，寒為水化，水生肝本，木為風化，木克脾土，胃為脾之府，故胃中有風，瘛（音熾）瘲（音縱）漸生。其瘛瘲證狀，兩肩微聳，兩手垂下，時復動搖不已，名為慢驚。宜以青州白丸子、蘇合香丸，入薑汁杵勻，米飲調下，虛極者加金液丹，次用沖和飲同七寶散，水煨姜煎服，使氣順風散，少解吐瀉，間以胃苓湯救其表裡。若吐不止，可投定吐飲，瀉不減，宜服六柱散或日生湯，去胃風，定瘛瘲，清神氣。五苓散導其逆，調榮衛，和陰陽，若痰多唇白，四肢如冰，不省人事，此虛慢之極，用固真湯速灌之，以生胃氣。胃氣既回，投醒脾散、沉香飲調理。有慢脾風者，自慢驚傳變，始因吐瀉，經久不治，故胃弱脾虛，脾虛生風，風入經絡，則手足無時搖動，昏沉不省，面帶痿色，風勢太甚，乃虛之極，急用青金丹、天麻飲灌服，或六柱散、固真湯，不問有熱有痰，皆風入脾經，亦是危證。若痰如牽鋸之聲，面無風氣猶甚縮，氣粗頑軟搐甚，不可治也。</p>

<h2>風毒</h2>
<p>風毒者，因驚風之後，風從氣行，血從氣使，毒氣蓄於皮膚，流結而為腫毒，遂成頑核赤色，多在腮頰之間，或耳根骨節之處，重則成癰成癤，謂之遁毒風。宜以百解散、牛蒡湯及當歸散倍加枳殼、大黃，水煎服。或用皂角子、薄荷同煎，續投雄黃散、消毒飲。結在腮頰者，治用烏豉膏，以護咽喉，外則敷以拂毒散及外消散。若因跌撲破損皮膚，風邪侵襲，傷寒而發毒腫，謂之破血傷風，可投疏風散、活血散及黃芩四物湯調治。若發於喉下，如帶橫纏者，乃纏喉風也，三因方烏喉風，此證宜投化毒湯及烏豉膏，熔化護喉，卻不可於喉外用藥塗貼，但依前遁毒風內治法如服藥後散止不定，或上頭項，或遊於面目，而又復來喉下，如赤紫微浮，中有白突者，陽證變陰，亢則必害，謂之赤遊風毒，亦難治矣。</p>

<h2>傷積</h2>
<p>凡嬰孩所患積證，皆因乳哺不節。過餐生冷堅硬之物，脾胃不能克化，積停中脘，外為風寒所襲，或因吃臥失蓋，致頭疼面黃，身熱眼胞微腫，腹痛膨脹，足冷肚熱不安，昏神飲食不思，或嘔或噦，口噫酸氣，大便酸臭，此為陳積所傷，如覺一二日，先以百傷飲發表，次當歸散入姜煎服，溫動積滯，方下烏犀丸、六聖丸，重與寬利，後用勻氣散調補。有食飽傷脾，脾氣稍虛，物難消化，留而成積，積敗為痢，腹肚微痛，先調胃氣，次理積，卻止痢，則病根自除。和中散理虛養胃，三稜散、烏犀丸。助脾化積，沉香檳榔丸、守中湯。進食止痢，仍忌生冷黏膩之物，不致復作。有時時泄青水。如生菜汁，是受驚而後有積，煩悶啾唧，常似生嗔，名為驚積。先解驚，後理積。解驚五苓散或百解散，理積三稜散或烏犀丸及三解散，炒神麯、生薑，煎湯調服。醒脾散、沉香檳榔丸，寧驚化積，壯氣和胃，仍節冷乳，自然平治。</p>

<h2>熱證</h2>
<p>仲景論曰：有翕翕（音吸）發熱，有蒸蒸熱，此分汗下之不同。翕者若翕之所覆，明其熱在表也，屬上太陽第一證，以桂枝湯主之。蒸者如熏蒸之甚，主其熱在胃也，屬陽明三十二證，以調胃承氣湯下之。此仲景法也。緣小兒之熱，似是而非，若同而異。有傷寒熱，變蒸熱，積熱，麻豆熱，驚風熱，潮熱，骨蒸熱，有表裡俱虛而熱，有熱雖同，名則異可不明辨標本以施治乎？須令驗證，對證用藥，斯為的論。傷寒熱，十指稍冷，鼻流清涕，發熱無汗，面慘凌振，右腮有紫紋，治法載於傷寒條內，變蒸熱，溫溫微熱，氣粗驚少，哯乳瀉黃，上唇尖有小泡，如水珠子，即變蒸也，不須用藥攻治。如兼他證者，當依其所感之候，略與和解，不必重劑可也。蓋變者變其形容，蒸者蒸長肌肉，三十二日為一變，六十四日為一蒸。又三大蒸，積五百一十二日，變蒸畢而形氣血脈筋骨全矣。夫變蒸之說，再考明醫陳氏書，載十變之內，五蒸存焉。又有三大蒸，計其數恰五百一十二日，最為明矣。積熱，眼胞浮腫，面黃足冷，發熱從頭至肚愈甚，或聞飲食之氣噁心，及腹疼嘔吐，治法詳載傷積論中。麻豆熱，面赤足冷，身發壯熱，呵欠頓悶，咳嗽腰疼，時或作驚，腹痛自痢，及中指獨自冷者是也。治法詳見瘡疹證內。驚風熱，遍身發熱而光，自汗心悸不寧，脈數煩躁，治法與急驚證同。所用藥餌，必先解表。潮熱，有午後發熱，或日晡發熱，對時如潮水之應，不瘥是也。先用百解散發表，次以當歸散及三解散治之。脈實者下之，宜大柴胡湯，虛浮散者微汗之，用百解散。若發熱而嘔者，小柴胡湯主之。虛熱，因病後發熱無時，一日三五次者，此客熱乘虛而作，先以胃苓湯加黃耆末，溫米清湯調服，次投錢氏白朮散，或固真湯，帶涼服，及用溫鹽湯，參入涼水送下黑錫丹，固守元氣。骨蒸熱，身體虛贏，遇晚二發，有熱無寒，醒後渴汗方止，此乃疳病之餘毒，傳作骨蒸，或腹內有癖塊，有時微痛，用參苓白朮散，薑、棗，三稜煎湯調服，或投化癖丸，先療脾虛宿滯，次以柴胡飲為治，仍忌雞酒羊面毒物。有小兒熱證用表裡藥後，其熱俱退，既退復熱者何也。療病至此，難以概舉，或再解表攻裡，或施涼劑，熱見愈甚，以陰陽辨之，何者為是。推其原乃表裡俱虛，而陽浮於外，陰伏於內，所以又發熱，宜用溫平之藥和其里，則體熱自除。投錢氏白朮散，去木香加扁豆，水煎，及黃耆六一湯、安神散，自然平復。若日久汗多，煩渴食減，脈微緩，喜飲熱，可服真武湯，雖附子性溫，取其收斂陽氣，內有芍藥性寒，一寒一溫，亭分得宜，用之無不驗矣。</p>

<h2>傷寒</h2>
<p>（仲景一書前輩發明甚詳，愚不敢贅，姑舉其略）</p>
<p>按仲景《傷寒論》云：春氣溫和，夏氣暑熱，秋氣清涼，冬氣冷烈。此四時正氣之序也。惟冬時嚴寒，去寒就溫，不致於傷偶然觸冒，名為傷耳。小兒在襁褓中，或長成而稟賦虛怯，苟失其養，百病蜂起，故傷寒多得於秋冬。或薄暮清朝，蓋秋冬多冷，夜起便送，或遽出風寒之地，為邪氣所侵，旋即噴嚏凌振，五指稍冷，關紋不見，面目俱紅，慘而不舒，氣粗體熱，無汗惡寒，是傷寒也。或面色光而不慘，汗出惡風，是傷風也。其候與大脈科若同而異，治療之法，亦相去不遠矣，餘外不然。蓋以小兒是純陽之體，用藥不可太熱，此醫門八法，所謂治小兒無熱一也。然仲景一十六條，三百九十七法，前賢名曰金匱，豈不貴哉！兼五運有太過不及之異，六氣有逆從勝伏之差變生災眚（音省），應在人身，或遇客邪臨御，臟氣虛弱，因受其病，謂之時氣，又與傷寒不同，乃四時乖戾之氣。如春應暖而反寒，夏應熱而反冷，秋應涼而反熱，冬應寒而反溫，非其時而有其氣，人感冒中傷而有病者，不擇地之遠近，所患一同，當以何經何臟所受病證，知犯何逆，以法治之。此仲景之妙旨。然治小兒傷寒傷風，與大方相同者，若發熱身無汗，麻黃湯主之。以表實無汗，榮血受邪而設也。得汗則寒邪發泄，而無壅遏之患。若身熱自汗，桂枝湯主之，以表虛自汗，衛受邪而設也。解肌則風邪疏散，而無壅滯之患。凡治病之要，尤在臨機審察，庶無誤矣。夾驚傷寒，其候謂感寒時忽受驚觸，情性昏沉，身微有熱，心躁或渴，睡中多驚，手足動掣，面紅痰嗽，咬牙呵欠，山根準頭皆淡青色，兩眉下有紫紅見，論其得病之由，或被驚發熱，後感寒邪，或先感寒邪，後因被驚，遂致兩熱相乘。所有此候，宜百解散發表，次牛蒡湯治驚熱，散邪氣。若看證大，蓯蓉當歸散、三解散，間以無驚丸、琥珀抱龍丸與服。夾食傷寒，其證鼻流清涕，頭疼發熱，晝輕夜重，時復吐逆，噫氣酸餿，面黃紅白，變之不一，目胞微浮，乍涼乍熱，心煩發渴，腹痛脹滿，皆因飲食過傷，又感風寒，激搏而熱。其熱氣與食熏蒸於胃，胃為水穀之海，脾實則能克化，今脾胃因飲食所傷，致有斯疾。先煎小柴胡湯，加生薑自然汁同服，或五苓散入薑汁沸湯調下，與解寒邪，溫胃止吐，次用百解散及當歸散，水姜煎服，疏解外邪，溫正胃氣，烏犀丸去積，勻氣散止補，參苓白朮散調脾胃則瘉矣。下後傷風，其候兩臉微紅，眼胞浮腫，發熱痰喘，飲食少進，此則亦因外感風寒，未經發散，下之失宜，邪氣未除，而正氣有損。調理又遲，致榮衛不和，正氣失守，脾胃尚弱，過傷飲食，名為食復。用小柴胡湯和解，次三稜散調治。或因下後體氣虛弱，腠理不密遽出風寒之地，易為感冒，此為再經外邪，侵襲於皮毛，皮毛者肺之合也，風寒外侵於皮毛，內合於肺經，致有痰熱喘急，肺主氣故也。亦宜發散，表邪既退，然後調脾，使中州之土固守，則何患乎外邪得以侵襲哉？用五苓散加麻黃去節存根沸湯泡過，功全表裡，水姜煎服。其解表散、惺惺散、枳實湯，或當歸散加陳皮，水姜煎服，以和中散調理。夾風傷寒，與前證相似，但臉紅身熱，氣粗微喘，目淚口渴，手足皆溫，太陽冷汗，口水流滴胸前，時或惡風，此因先傷寒發熱，日久未經解散，將傳入里，而又感風，風熱相搏於內，致心脾蘊熱，熱氣上逼口舌發瘡，名為夾風傷寒。諸熱引肝風，目多眵淚，口燥發渴，手足溫者，邪將傳裡，口水不止，而加生瘡者，熱上蒸也。太陽冷汗者，表之虛也。邪實表虛證在半表半裡之間，宜以小柴胡湯加桂為用。疏滌肝風，羌活散。和解，四順飲。去上焦熱，則口舌之證乃除。而重感之邪，亦得消釋。風寒互證，活人書云：脈似桂枝反無汗，病以麻黃反煩躁。風喜傷衛，寒傷榮。榮衛俱病，仲景以大青龍湯治之。然榮行脈中，衛行脈外，榮衛皆虛，疾由生矣。蓋兒小者，因抱養失宜，風寒不避，致有斯疾。兒大者，或因水浸雨侵，或因向火脫著，遽然出外，外邪乘虛而襲，汗閉不通，其後或冷或熱，昏醒不定，名為風寒互證，但小方用藥品味，分兩不與大人同。若此證一汗，風寒既除，惟當順氣化痰，慎勿投峻補之劑，熱氣得補則復盛，變生他證。初用雄黃散，水、薑、蔥、薄荷同煎，並三服，稍熱投，得汗即愈，免為角弓反張之證，次以當歸散、惺惺散間服。若痰不退，牛蒡湯、如意膏、半夏丸。結胸傷寒，其候兩眉尖紅，唇紫鼻青，咳嗽口痛，痰結氣促，咳嗽不活，身熱汗出，目露白睛，項頸如柔痓之狀，不可俯仰，結胸之證，居身之高分，故經云：高者因而越之，下者引而竭之。所謂結胸，如繫結而不能解者，諸陽受氣於胸中邪氣與陽氣相結，固而不解，非虛煩結實之比，胸膈高起，不按自痛，名大結胸。按之方痛，名小結胸，有水寒熱結胸。凡此諸證，低者舉之，高者陷之。仲景結胸之高邪，當行降下之法，以下結固之邪，《內經》曰：結雖大猶可解也。蓋傷寒之結，非直達之劑，孰能解之。仲景治小結胸證，以小陷胸湯主之。平常小兒，多有小結胸證，然陷胸湯內有黃連極苦，難以施之。嬰孩如發表後，但用鶴頂丹為治。有兒最小者，於此丹內加寬氣飲、寬熱飲少許，薑汁、茶清調下自愈。若僅六七歲兒，投小陷胸湯，入蜜同煎服取效。壞證傷寒，其候外察印堂多紫紋，唇白如灰色，四肢黃瘦，吐瀉間作。或寒或熱，飲食減少，大概外感風寒暑濕，內因飢飽失節，不能調護，以傳受日深，醫不辨其表裡虛實，汗下失宜，使陰陽反錯，邪氣得勝，正氣將衰，胃納五味，以養五臟，脾受五味，以分清濁，而榮養百骸。今汗下不依其法，致傷榮衛。榮衛者，自中焦而生，得其氣之清者為榮，濁者為衛，其重濁者為糟粕而下行。偶六淫所侵，治不如法，則外邪日盛，正氣乖常，胃氣衰微，變證多出，或作瀉痢青黃，吐逆寒熱，或為腫滿偏枯，五疳八痢，或成丁奚哺露，傳變不一，各有條論，隨證治之，並宜先投加味白芍藥湯和解。</p>

<h2>咳嗽</h2>
<p>咳嗽者，固有數類，但分冷熱虛實，隨證疏解。初中時未有不因感冒而傷於肺，《內經》曰：肺之令人咳何也？岐伯曰：皮毛者，肺之合也。皮毛先受邪氣，邪氣得從其合。故《難經》云：形寒飲冷則傷肺，使氣上而不下，逆而不收，沖壅咽膈，淫淫如養，習習如梗，是令咳也。乍暖脫著，暴熱遇風，邪氣侵於皮膚，肺先受之，而為咳嗽。若初得時面赤唇紅，氣粗發熱，嗽來痰鳴，此是傷風痰壅作嗽，用清肺飲、五拗湯及小柴胡湯、羌活散，皆可解表，次青木香湯。有小兒汗出未乾，遽爾戲水，亦致傷風咳嗽，外證眼胞微浮，額汗痰鳴，亦宜清肺飲、瀉肺湯，與之疏風化痰，解利邪熱，小柴胡湯亦可。若嗽日久，津液枯耗，肺經虛矣。肺為諸臟華蓋，臥開而坐合，所以臥則氣促，坐則稍寬，乃因攻肺下痰之過，名為虛嗽。聲連不斷，喉中痰鳴，氣息欲絕，嗽罷則吐白沫或乾嘔，此肺虛而氣不順也。面唇皆白而慘，嗽過額上多汗，哽氣長出，乳食減少，致脾虛而胃亦虛，宜其有吐，投茯苓厚朴湯及藿香飲，次溫脾潤肺，理中湯加杏仁、北五味，水煎服。蓋此藥補脾而益肺，藉土氣以生金，則自愈矣。或咳而夾紅，有紫黯色，於理中湯內再加乾薑為用，亦良法也。有脾虛亦能作嗽，當投補劑，用醒脾散、茯苓厚朴湯，令脾氣實，然後間以清肺飲煎服，疏解肺經風寒，及藿香飲助脾養胃，亦救子益母之法也。有一證，咳嗽至極時，頓嘔吐乳食與痰俱出，盡方少定，此名風痰，壅成肝木克脾土，宜以白附飲，投之即效。百日內嬰孩，偶咳嗽痰壅，睡中不寧，亦因產後感風而得，但不可過用發散之劑，先以解表散一二服，次投貝母湯及惺惺散為治。小兒喘疾，重於咳嗽，然有虛實冷熱之分，不可概舉。實熱者投清肺飲加五和湯，水薑蔥煎，及瀉肺湯、碧玉丸為治。經云：喘急多因氣有餘，蓋肺主氣故也。虛冷者，投枳實湯，水姜煎，並如意膏、補肺散、坎離湯，自效。此肺虛感風，氣不升降，致有是證。及用定喘飲常驗。不拘冷熱皆可服。涎壅失音，二聖散主之。齁䶎一證，郭氏曰：小兒此疾，本因暑濕所侵，未經發散，邪傳心肺，壅而為熱，有熱生風，有風生痰，痰實不化，因循日久，結為頑塊，丸如豆粒，遂成痰母。細推其原，或啼哭未休，遽與乳食，或飼以酸鹹，氣鬱不利，致令生痰，或節令變遷，風寒暑濕侵襲，或墮水中，水入口鼻，傳之於肺，故痰母發動，而風隨之。風痰潮緊，氣促而喘，乃成痼疾。急宜去風化痰，先以五苓散同寬氣飲寬熱飲，用少薑汁和百沸湯調服，次進知母湯、雄黃散、如意膏、半夏丸。</p>

<h2>吐瀉</h2>
<p>吐瀉者，乃揮霍擾亂之證。霍者吐，亂者瀉。有心痛而先吐者，有腹痛而先瀉者，莫不由中焦而作。上焦主納。而不出，中焦主腐化水穀而生榮衛，灌溉百骸，下焦分別水穀，主出而不納。此三才成式，日用常行，故脾居中州，胃為水穀之海，浮哺入胃，脾能克化，然後水穀分在臍上一寸，名分水穴，分其清濁，傳受得宜，則無吐瀉之患。凡嬰孩上吐不止下瀉不停，皆因六氣（六氣者，筋骨血肉積氣是也）未完，六淫（六淫者，風火暑濕燥寒是也）易侵，兼以調護失常，乳食不節，遂使脾胃虛弱，清濁相干，蘊作而然。有先瀉而後吐者，乃脾胃虛冷，其候先瀉白水或白凍，吐亦不多，口氣緩而神色慢，額前有汗，六脈沉濡，此為冷也。先吐而後瀉者，乃脾胃有熱，氣促唇紅，吐來面赤，脈洪而數，渴飲水漿，此為熱也。冷熱之分，要須詳審。有數歲者，亦患此證。始自夏秋，晝近極熱之地，解衣乘涼，夜臥當風之所，失蓋感冷，陰陽相搏，氣射中焦，名為霍亂。《活人書》用香薷散調治，以其能分別水穀，升降陰陽。又曰：熱多欲飲水者，五苓散。寒多不飲水者，理中丸。詳究治法，得非欲平中焦乎。又有脾經積滯未除，再為飲食所傷，不吐則瀉，不瀉則吐，宜以三稜散化積，守胃散和中，必自安矣。錢仲陽議曰：吐乳瀉黃，是傷熱乳；吐乳瀉青，是傷冷乳。皆當下之。詳夫此理，乃迎奪之法也，不若傷熱者用五苓散以導其逆，傷冷者用理中湯以溫其中，自然平復。有小兒盛夏初秋，遇夜乘風，渴而飲水，過餐生冷果物，攻激腸胃，遂乃暴吐暴瀉，傳作手足俱痹，筋攣而痛，痛則神志不寧，以驚證治之誤矣。所謂筋遇寒則引縮，又以陽明養宗筋，屬胃與大腸，因內傷生冷飲食，外感風邪，吐瀉交作，胃氣固虛，不能養其宗筋，亦致攣急。此證口氣溫，面色慘，脈沉緩，再以手按兩膝腕下，見筋縮而引於皮間，是其候也。治以理中湯，加附子半生半炮，水、姜熟煎，空心溫服，更詳虛實冷熱為治可也。</p>

<h2>諸吐</h2>
<p>論吐之原，難以概舉，有冷吐。熱吐、積吐、傷風嗽吐、傷乳吐。其吐則同，其證有異。各述於後。冷吐乳片不消，多吐而少出，脈息沉微，面白眼慢，氣緩神昏，額上汗出，此因風寒入胃，或食生冷，或傷宿乳，胃虛不納而出，宜溫胃去風除宿冷，用當歸散、水煨薑、陳皮煎服，或間投沖和飲、理中湯及姜橘湯，定吐飲。如諸藥不效，以參香飲治之。熱吐面赤唇紅，吐次少而出多，乳片消而色黃，遍體熱甚，或因暑氣在胃，或食熱物，精神不慢，而多煩躁，此熱吐也，宜解熱毒，用大順飲，溫熟水空心調下，並五苓散、小柴胡湯，並加薑汁緩服，及香薷散主之。誤服熱藥，先投綠豆飲解之，次服止吐之劑。積吐眼胞浮面微黃，足冷肚熱，晝輕夜重，兒大者脈沉緩，此宿冷滯脾．故吐黃酸水，或有清痰，脈實而滑為食積所傷，吐酸餿氣，或宿食並出，兒小者哯乳不化是也。先用五苓散、薑汁，溫湯調下和解，次以烏犀丸主之，最小者投三稜散、化癖丸。傷風嗽吐，有熱生風，有風生痰，痰結胸中，肺氣不順，連嗽不止，和痰吐出此為嗽吐。痰壅而作，乃為實證，宜去風化痰，先投清肺飲，次小柴胡湯為治。若嗽久而肺虛，土不生金，故面白唇燥，干嗽乾嘔而無痰，可溫補為上，用茯苓厚朴湯。惺惺散、如意膏為治。傷乳吐，才乳哺後即吐，或少停而吐，此因乳飲無度，脾氣弱，不能運化，故有此證。譬如小器盛物，滿則溢，治法宜節乳，投三稜散。諸吐不止，大要節乳，徐徐用藥調治必安。節者撙節之義，一日但三次或五次，每以乳時，不可過飽，其吐自減，及間稀粥投之，亦能和胃解吐。屢見不明此理，惟欲進藥以求速效，動輒斷乳二三日，致餒甚而胃虛，啼聲不已，反激他證。蓋人以食為命，孩非乳不活；豈容全斷其乳！然乳即血也，血屬陰，其性冷，吐多胃弱，故節之。醫者切須知此，乳母亦宜服和氣血、調脾胃等藥。</p>

<h2>諸瀉</h2>
<p>論瀉之原，有冷瀉、熱瀉。傷食瀉、水瀉、積瀉、驚瀉、風瀉、臟寒瀉、疳積釀瀉，種種不同，各分於後。冷瀉多是白水，瀉密而少，腹痛而鳴，眉皺目慢，面帶白色，額有汗多，此為冷瀉。沖和飲。當歸散，合和水煨姜煎服，並守中湯、參苓白朮散、益中膏、沉香檳榔丸治之。熱瀉大梗黃色，如筒吊水，瀉過即止，半日復然心煩口渴，小便黃少，食乳必粗，此為熱瀉。先用五苓散或大順飲，次以錢氏白朮散主之，香薷散亦佳。傷食瀉，乃脾胃素弱，復為生冷果食所傷，故大便不聚而瀉，或因乳母餐生冷肥膩之物，自乳而過，亦能作瀉，面唇俱白，瀉稀而少，或如壞雞子，腥臭異常，身形黃瘦，名傷食瀉。宜先溫正胃氣，次理積而後固脾，沖和飲、當歸散，合和水、煨薑、棗子煎服。理積，兒大者烏犀丸，小者化癖丸、三稜散、固脾和中散、醒脾散。水瀉謂之洞泄，乃陰陽不順，水穀不分，瀉黃水而小便少，番次密而無度，是夏秋之際，晝則解衣取涼，夜則失蓋感冷，冷熱相激，清濁渾亂，或因母自熱中來，乳有熱氣，遽以哺之，令兒脾胃不和，水穀交雜而下，以㕮咀五苓散加薏苡仁、車前子、半夏，水姜煎服。分正陰陽，或先用大順飲，溫白湯調下。香薷散調中止補，錢氏白朮散、六和湯亦好。積瀉，脾氣虛弱，乳食入胃，不能運化，積滯日久，再為冷食所傷，傳之大腸，遂成泄瀉，留連不止，諸藥不效。蓋以積在脾胄，積既未除，何由得愈？宜先去積，後止瀉，瀉止實脾，則病除矣，三稜散、烏犀丸，續用沉香檳榔丸、參苓白朮散、和中散、香橘餅調理。驚瀉，糞青如苔，稠若膠黏，不可便止，但鎮心抑肝，和脾胃，消乳食，斯為治法。先投五苓散，次用三稜散，水薑、粳米煎服，或三解散，煨神麯、生薑煎湯調服，及沉香檳榔丸、不驚丹調治。風瀉，慢驚大病後有之。其糞稀黃褐色，或夾不消乳食同下，此因脾虛所致，或夾褐黑色者屬腎。蓋脾虛為腎水所乘故也。若久不進飲食，再有驚搐，宜疏腎水，去脾風，次補脾則自愈，庶無復作之患。疏腎水，㕮咀五苓散加黑牽牛半生半炒，並薏苡仁，水、姜煎服。去脾風，瀉黃散。調脾氣，參苓白朮散。臟寒瀉，糞如青竹色，下稀不稠，或下青水，未瀉時腹痛而鳴，叫哭方瀉，多是生來三五月內有此，周歲則無。始因斷臍帶短，風冷自外逼內而成，此疾先用沖和飲，水蔥白煎投，溫中解表，次以當歸散，水、煨姜煎服，及投勻氣散。理中湯。疳積釀瀉，其候面色痿黃，肚脹腳弱，頭大項小，發稀且豎，肌肉消瘦，不思飲食，晝涼夜熱，或腹內有症癖氣塊，瀉則顏色不等，其臭異常，其瀉有時，或一月半月旬日一番，自瀉自止，名為疳積釀瀉。先以當歸散加三稜。陳皮，水、姜煎服，次投烏犀丸、沉香檳榔丸及化癖丸、蘆薈丸、沒石子丸。兒最小者，難下丸子，止投三稜散、快膈湯，自然痊愈。若瀉或痢，色青甚而淡黃夾白，寒多熱少，此陰邪勝陽，宜用守中湯、胃苓湯與服，扶表救里，方進當歸散加陳皮、紫蘇，水、薑、糯米煎服。亦宜和解，理中湯、清米飲，空心調服，溫脾去濕，益氣清神。寒盛者。理中湯內加熟附子，水薑、棗煎服，次投南星腹皮飲，水、姜煎服，和脾胃，去陰邪，若瀉或泄，色青淡而有沫糞稠，熱多寒少，亦致面黃肌瘦，煩躁不寧，宜以㕮咀五苓散加薏苡仁、車前子，水姜煎服。解散餘邪，仍用茵陳蒿、梔子仁煎湯，調細末五苓散溫服，退黃色，消陽毒，及當歸散，水、薑、棗煎投，或服萬安飲、四神散。</p>

<h2>赤白痢</h2>
<p>赤白之痢，世人莫不曰赤為陽為熱，白為陰為冷。或曰無積不成痢。至於調治，若以冷熱之劑互進，或投去積之藥，必難取效。不究其原，何由可療？且四時八風之中人，五運六氣之相勝，夏秋人多痢疾。《內經》曰：春傷於風，夏生飧泄。至真要大論曰：少陽在泉，火濕所勝，民病注泄赤白，其可拘於無積不成痢之說。若專以積為論，豈一歲之中，獨於夏秋人皆有積，春冬不然，蓋風邪入胃，木能勝土，不為暴下，則成痢疾，赤白交雜，此為陰陽不分。法當分正陰陽，五苓散以導其逆，理中湯以溫其胃，使色歸一，然後施治。若一分之後，仍赤白同下，則當究其所患之因。若先白後赤，乃內傷生冷，外失於蓋，由元氣感於暑熱。治法先救其里，次解暑毒。若先赤後白，乃先傷熱而後失蓋感冷，先宜解熱，後治其痢。有夾熱而痢者，則下純鮮血，此風能動血，宜冷服黃連香薷散、川草散，以當歸散加醋炒蒸柏葉，水、姜煎服，或羌活散加三和湯，水、薑、倉米煎。有人冷而痢者，則下純白凍，或白上有粉紅色，或似豬肝瘀血，皆為陰證。蓋血得寒則凝泣（音澀）故也，先用㕮咀五苓散加守中湯煎投，次以附子理中湯帶涼服，或固真湯。倘不辨其虛實冷熱，妄行施治，必致脾胃愈虛，不能乳食，成噤口痢者，則難療矣。又有裡急後重，蓋裡急為陽，後重為陰，未圊（音清，廁也）前腹痛為裡急，已圊後腹痛為後重，故里急者，大腸澀也。先以大順飲加寬氣飲和解及羌活散，水、薑、倉米煎服，次下寬腸丸。後重者，為氣虛，用㕮咀五苓散加人參，水、姜煎服，並投香連丸。若二證俱作，前二丸子並進，或雙金飲、金粟丸亦效。然瀉痢二字，自是兩證，糞夾水來，多而順者曰瀉；帶血凍白凍，來三五點而痛者曰痢。輕重陰陽，於此而分，斯為治法。有膿血交雜，經久不止，晝輕夜重，或晝夜頻數，食減痛多，並用萬金散、神效散主之。有五色痢者，乃因五臟蘊熱，日久不散，故有是證，蓋五臟受熱，榮衛不調，五穀不化，熏腐臟腑，神氣昏沉，此候已危，最苦是腹中刺痛，兒小者無治法。蓋五色者，乃五臟之色，皆見於外，兒大者，可用《局方》三神丸，或小來復丹，以五苓散送下。或者可療。若投藥如故，不可為也。又有風痢，多是黃褐色，與疳瀉頗同，但不臭為異耳。此風毒停滯於脾，宜去脾經風毒，瀉黃散主之。若見赤白同下，久而不禁，小便澀少，痛熱並作，唇裂眼赤，氣促心煩，坐臥不安，狂渴飲水，穀道傾陷，時復面容如妝，飲食不進者，難治。</p>

<h2>腫證</h2>
<p>（此疾更多，投五皮飲為好）</p>
<p>原腫病之由，標本之疾，腎主元氣，天一之水生焉。肺主沖化，地四之金屬焉。腎為本而肺為標，皆至陰以積水，其為病也，腎者胃之關鍵，關鍵不利，樞機不轉，水乃不行，滲於脈絡皮膚，而為浮腫。當推究內外所因，而為施治。兒大者憑脈以明虛實，古方有十種論證，短氣不得臥為心水，兩脅緊痛為肝水，大便鴨溏為肺水，四肢苦重為脾水，腰痛足冷為腎水，口苦咽乾為膽水，乍虛乍實為大腸水，腹急肢瘦為膀胱水，小便閉澀為胃水，小腹急滿為小腸水。然脈浮為風為虛，沉伏為水病。沉則脈絡虛，伏則小便難，即為正水。脾脈虛大，多作脾腫，因循不治，乃成水腫。蓋脾屬土，喜燥而惡濕，常感濕氣，濕喜傷脾，血化為水，土敗不能制水，則停蓄不行，留滯皮膚，故作浮腫。初得病時，見眼胞早晨浮突、至午後稍消，以羌活散疏解，次醒脾散主之，及間投南星腹皮散。其脾冷困，則燥以草果、縮砂之類。然此證夏與秋冬治之頗易，惟春不然。蓋四時之水，無如春水泛溢，兼肝木旺而脾土受克，不能受水，所以難療，進退不常，須徐徐調理取效。若脾熱而困，又以藥燥之，雖火能生土，亦可勝水。奈何燥之太過，土不敵火，則熱愈甚，而不食發熱煩渴醫者又進之以燥劑，由此而面目轉浮，致脾敗而手足背皆腫。蓋手足背與臍凸（音迭）即脾之外候，有未經發表，遽用下藥以瀉之，則一瀉而腫消，乃云得瀉之力，殊不知脾愈瀉而愈虛，不逾旬月，其腫如初，此世人只知瀉腫為最，而不求其十補勿一瀉之論。法當隨四時用藥，解表通利小便，春以七寶散加麻黃、桂枝，赤茯苓，水、薑、蔥煎服，夏以五苓散加麻黃、車前子、薏苡仁，秋以清肺飲加羌活、細辛、商陸，冬以沖和飲加白朮、生川烏、赤小豆。以上三藥，並用水、薑、蔥煎投，滋潤救脾導水湯劑滲泄之，乃為良法。更以香陸胃苓丸、赤蒼飲頻服，自然獲安。蓋《內經》云：開鬼門（發汗也），潔淨府（利小便），平治權衡，以平為期。此之謂也。有初腫便覺痰嗽氣喘，小水不通，正屬肺腎所主，先服解表散，次以三白散為治。餘證輕者投商陸丸，故經曰：其高者因而越之，即湧吐之義也。下者引而竭之，即滲泄之義也。凡得此病非一朝一夕之故，不可以孟浪之藥求其速效，以致虛脫。如愈後再感外風，滿面虛浮，用排風湯和解，仍服前救脾湯劑，免致反復。飲食之忌，惟鹽醬齏鮓濕面，皆味鹹能溢水者，並其他生冷毒物，亦宜戒之。重則半載，輕者三月。須脾胃平復，腫消氣實，然後於飲食中，旋以燒鹽少投，則其疾自不再作。故劉氏曰：治腫非易，補養尤難，所忌者切須詳審，有經久不消者，下浚川丸即效。</p>

<h2>疳證</h2>
<p>小兒疳證，其名有五：心、肝、脾、肺、腎是也，詳析於後。咬（五巧切）牙舒舌舌上，生瘡，愛飲冷水，唇紅面赤，喜伏眠於地，名曰心疳。目生眵糞，髮際左臉多青，或白睛微黃，瀉痢夾水，或如苔色，名曰肝疳。愛吃呢土冷物，飲無度，身面俱黃，發稀作穗，頭大項小，腹脹腳弱，間或釀瀉，肌瘦目慢，晝涼夜熱，不思乳食，名曰脾疳。鼻下赤爛，手足枯細，口有腥氣，或作喘嗽，右腮㿠白，名曰肺疳。兩耳內外生瘡，腳如鶴膝，頭縫不合，或未能行，牙齒生遲，其縫臭爛，傳作走馬疳之類，名曰腎疳。大抵疳之為病，皆因過餐飲食，於脾家一臟有積不治，傳之餘臟而成，五疳之疾。若脾家病去，則餘臟皆安。苟失其治，日久必有傳變。然脾家病宜蘆薈丸、沉香檳榔丸，或水晶丹、烏犀丸，更察虛實療之。有蟲者投使君子丸、化蟲飲，如心腹痛，吐清水，蟲自下，多投二聖丸，諸疳證皆宜用局方五疳保童丸，或萬應丸，常服化積治疳，仍各投本臟調理之劑。寧心用茯神湯，調肝用耆歸湯，調脾用參苓白朮散，補肺用補肺散，補腎用調元散。庶各得其宜，則前證不致再作。</p>

<h2>走馬疳</h2>
<p>凡得此候，多因氣虛受寒，及有宿滯，留而不去，積溫成熱，虛熱之氣上蒸，或食甜酸鹹膩之物，而脾雖喜甘，積滯日久，蘊熱上熏於口，致齒焦黑爛，間出清血，血聚成膿，膿臭成蟲，侵蝕（音食）口齒，甚致腮頰穿破，乳食不便，面色光浮，氣喘熱作，名走馬疳。治之之法，先去積熱，用當歸散，合三稜散，水、薑、棗煎服，次投蘆薈丸、玉露飲，及以溫鹽水灌嗽，或軟雞翎蘸鹽水拂洗，略拭乾，仍以燒鹽散、內金散、密陀僧散傅之。若經久不愈者，傳於唇之上下，乃成崩砂證。或穴發滿腮，齒落骨露，飲食減少，氣促痰鳴，必致危矣。</p>

<h2>脫肛</h2>
<p>《脈訣》曰：大腸共肺為傳送。蓋肺與大腸為表裡，肛者大腸之門，肺實熱則閉結不通，肺虛寒則腸頭出露。有因痢久，裡急後重，努力肛開，為外風所吹，或伏暑作瀉，腸滑不禁，或稟賦怯弱，易於感冷，亦致大腸虛脫。凡小兒所患瀉痢，皆因暑濕風熱乘脾胃虛而得，蓋風屬木，本勝則制土，土主脾胃，虛而受制，又濕喜傷脾，因虛受濕，不能分別清濁，水穀交雜，則為洞泄。洞泄既久，大腸亦虛，大腸乃手陽膽燥金，而土虛不能生金，金氣既虛，則傳送之道亦虛，又為風冷所襲，故肛門脫而不收。法宜補脾溫胃，使金得受母之益而氣實，宜藿香飲、勻氣散、平胃散主之，次則內投固腸之劑，用健脾飲、養臟湯，服餌，外以敷貼之法，用伏龍肝散傅之，及萆麻膏貼囟門，使引氣上，令其自收，如收盡仍以水洗去其膏。又有邪熱積滯於大腸，未經疏滌，亦成此疾。其肛門色紅而軟，肺脈浮數，右手指紋紫見，身微有熱，時或煩躁先投清肺飲疏解，次用薄菏散、蟠龍散為治，間服萬安飲，亦佳。</p>

<h2>癇證</h2>
<p>古人議癇最多，大概在乎觀形切脈，明辨陰陽，對證用藥，不致妄投湯劑為上。陰癇者，因慢驚後去痰不盡，痰入心包而得，四肢逆冷，吐舌搖頭，口嚼白沫，牙關緊閉，但不甚驚搐作啼，面色或白或青，脈息沉微，故《嬰孩寶書》云：睡中吐舌更搖頭，正此之謂。治以固真湯加日生湯同煎，調寬氣飲和解。陽癇者，因感驚風三次發搐，不與去風下痰，則再發。然三次者，非一日三次也，或一月、或一季、一發驚搐，必經三度，故曰三次。所謂驚風三發便為癇，即此義也。其病主身熱自汗，兩目上視，嚼沫咬牙，手足掣搦，面色紅紫，六脈浮數，以百解散加五和湯，水煎疏解，次下痰，用水晶丹或半夏丸。胎癇者因未產前，腹中被驚，或母食酸鹹過多，或為七情所汨，致傷胎氣，兒生百日內有者是也。發時心不寧，面微黃，氣逆痰作，目上視，身反張，啼聲不出，先用參蘇飲和解，次以不驚丹，或琥珀抱龍丸間投，輕者可愈，重則亦危。六畜癇者，發時作牛馬豬羊雞犬聲，便致僵仆，口吐涎沫，不省人事。張氏論此。蓋初發作羊犬聲者，咽喉為風痰所梗，聲自如此，其理甚明。若言六畜者，特強名耳。凡得此證，宜多投疏風順氣化痰等劑，早為治療則免終身之患。</p>
<p>食癇者，因中焦不和，飲食時偶被驚搐，則驚氣停滯中脘，食不克化，淹留日久，氣鬱痰結，痰結則風熱生，由此致疾。陳氏有曰：結氣而成癇，此其義也，宜寬中順氣，去風痰，療驚積，和脾胃，則安矣。狂癇者，亦屬陽。《難經》云：重陽則狂，至長成小兒才發。時妄言不食而歌。甚則逾牆上屋。棄衣而走。或一日二日方醒。始因冒熱感風，風熱內蓄，久則風痰鬱結，上迷心包，蓋心乃神之舍，偶為邪熱攻逼，則神失所守而昏亂，名曰狂癇。然心火肝木皆為物，火不自炎，因風吹起煙焰，木不自動，因風撼而自動搖，風火合德。兩陽相搏，其熱可知。心藏神，肝主驚，因風生痰，以致於此。醫者為治療，既能清心平肝，疏風退熱，得病暫安，不與鎮心下痰，則痰涎結實，停滯心絡，病至再三，加以發搐頻數，難為治療，必成廢人，有曰驚癇即與此證相類，若乍感真疾，日月稍近，法當解表散驚，及涼心肝，次下風痰，解表散驚百解散，涼心肝三解散、防風湯，下風痰水晶丹、碧玉丸，更須臨證參詳，乃無失也。</p>

<h2>瘧疾</h2>
<p>《內經·瘧論》云：痎瘧皆生於風，而發作有時何也。岐伯曰：夏傷於暑，秋必病瘧。謂腠理開而汗出遇風，或得於澡浴，水氣舍於皮膚，因衛氣不守，邪氣並居，其疾始作。伸欠寒慄，腰背俱痛，骨節煩疼，寒去則內外皆熱，頭疼而渴。乃陰陽二氣交爭，虛實更作而然。陰氣獨勝則陽虛，故先寒戰慄，腰背頭項骨節皆痛。陽氣獨勝則陰虛，故先熱，發時不嗜食，善嘔頭疼腰痛，小便不利，陰盛陽虛，則內外皆寒。陽盛陰虛，則內外俱熱，此外感六淫，或內傷七情，蘊積痰飲，病氣與衛氣並居，故病日作。衛氣晝行於陽，夜行於陰，得陽而外出，得陰而內薄，內薄五臟，六氣深入，不能與衛氣俱出，則間日而作，當衛氣所至，病氣所在，則發。在陽則熱，在陰則寒，經曰：亢則害，極乃反。俟陰陽各衰，衛氣與病氣相離則病休。陰陽相搏，衛氣與病氣再集則病復。各隨其衛氣之所在，與所中邪氣相合而然也。先寒後熱者，先傷寒而後傷風，名曰寒瘧。先熱後寒者，先傷風而後傷寒，名曰溫瘧。但熱不寒者名曰癉瘧，身重寒熱，骨節痛，腹脹滿，自汗善嘔，名曰濕瘧。但寒不熱者。名曰牝瘧。蓋瘧之為病，而證狀非一。故處方之制，隨其陰陽虛實，脈病證治，汗吐下溫，對證施劑，以平為期。然百病中人，必因其正氣之虛，感受邪氣，留而不去，其病為實，自表傳裡，先汗後下，古今不易。蓋治瘧之法，必須先表，用百解散，水薑、蔥煎投，次小柴胡湯，加桂，水、薑、棗煎服，以和解表裡之邪，自然作效。若表裡實，用當歸散、五和湯，或烏犀丸、六聖丸下之，勻氣散止補，後以藿香飲加草果、良薑，水、薑、棗煎投，正胃氣，去寒邪，則自平復。如解表後，寒熱往來，以二仙飲或三聖丸截之。寒熱既除，用平胃散加茴香湯和勻，鹽湯空心調服。溫胃燥脾，進飲食，使中州之土既實，則外邪不戰而自屈，此為明論。有寒多熱少經久不愈，致脾胃弱，飲食減，神色慢，二姜丸主之，及清脾湯為治。每見治瘧不明理者，多取草藥挪水冷服，或露而投之，水傷脾胃，耗損真元，變證百出，或傳成浮腫，或轉作疳瀉，或變為冷痢，致脾胃虛弱，飲食減少，因而不救者有之。且嬰孩嬌脆，何堪用以草藥服餌？為醫為父母者，切宜戒之。</p>

<h2>癖證</h2>
<p>嬰兒始生，稟賦未完，失於襁褓之不謹，乳哺之不節，外為六淫侵襲，內因五臟氣虛，冷積久停於脾，不能克化，結成癖塊，突於脅下或左或右，俗曰龜癆。其疾皆因積滯蘊作，致有寒熱，或腹肚疼痛，或晝涼夜熱。治療之法，氣實者，亦須溫正胃氣，後用烏犀丸或水晶丹下之。如過二三次，即以稀粥略止，候所作形證消盡，方投補益之劑。氣虛者，先與調脾胃，固真元。神色稍正，飲食進多，如前法下之。若太虛甚，用三稜散、化癖丸漸消之。順適陰陽，以平為期。然先補後瀉，行迎奪之法，則取去陳寒冷積。若面黃唇白，發豎肌瘦，乃為虛極，不可輕下，但徐徐用藥消化，調理為上。若兒小者，更令乳母常服藿香飲，使藥從乳過，亦少助也。</p>

<h2>疝症</h2>
<p>按《內經·大奇論》曰：腎脈大急沉，肝脈大急沉，皆為疝證。心脈搏滑急為心疝，肺脈沉搏為肺疝。蓋疝者，寒氣結聚之所為，故令臍腹絞痛者是也。又巢元方曰：諸疝者，陰氣積於內，復為寒氣所傷，榮衛不調，二氣虛弱，風冷入腹而成。故《內經》云：急者緊也。緊則為寒、為實、為痛，血為寒泣（音澀）則為瘕，氣為寒聚則為疝。皆因本藏氣虛，外感於寒濕，內傷於生冷，遂使臍腹絞刺激搏而痛，無有定處，倉卒之際，不堪忍者，謂之疝也。並宜先用五苓散，沸湯調服和解。輕則但以白芍藥湯、烏梅散、鉤藤膏為治，重者，金茱丸、散氣丸，未有不愈也。</p>

<h2>龜胸</h2>
<p>嘗論此候，因風痰停飲，聚積心胸，再感風熱、肺為諸藏華蓋，居於膈上，水氣泛溢，則肺為之浮，日久凝而為痰，停滯心胸，兼以風熱內發，其外證唇紅面赤，咳嗽喘促。致胸骨高如覆掌，名曰龜胸。治法寬肺化痰利膈，以除肺經痰飲。先用五苓散和寬氣飲，入薑汁、蔥湯調服，次清肺飲、雄黃散、碧玉丸、如意膏為治。若投前藥，愈而復作傳變，目睛直視，痰涎上壅，兼以發搐，則難治矣。龜背者，蓋初生嬰孩，未滿半周，強令坐早，客風吹著背脊，傳入於髓，故令背高如龜之狀，名曰龜背。終成痼疾，何以為治？</p>

<h2>驚丹</h2>
<p>嬰孩生後，百日之內，半歲以上，忽兩眼胞紅暈微起，面帶青黯色，向夜煩啼，或臉如胭脂，此伏熱在內。亦有臉不紅者，始因居胎之時，母受重驚，驚邪傷胎，遞相傳襲，降生之後，復受熱毒，或再有驚，有驚則有熱，熱氣內蘊，形發於外，初發時散生滿面，狀如水豆，腳微紅而不壯，出沒休息無定，次到頸項，赤如硃砂，名為驚丹。用四聖散先洗其目，次百解散加五和湯同煎，與解驚熱丹毒，牛蒡湯、當歸散、三解散、黃苓四物湯，皆可為治。如驚丹發至胸乳間，微有痰喘作搐，急宜宣熱拔毒，免致內流，為害不淺。五和湯加升麻、生乾地黃，水、薑、燈心煎服，則自消除。仍用前數藥調治，不生他證，或投萬安飲。</p>

<h2>瘡疹</h2>
<p>（斑毒附後）</p>
<p>瘡疹之作，始自嬰孩生時，啼聲一出，則嚥下口中穢濁，蓄之在胃，因氣運變遷，主客勝復邪氣鬱發，與元受穢濁激搏，而形於肌肉皮膚之外。初發有類傷寒，不拘四時，皆有此候，經云：春夏為順，秋冬為逆，蓋春夏則陽氣布，玄府開，人之氣血流暢，邪毒易出，秋冬則寒氣勝，而水冰地凍，人之氣血凝泣（音澀），故難出也。小兒所患此證，輕重不等，命名亦異。輕者如麻，俗言麻子，重者如豆，謂之豆瘡，重而又重，密如浮漂，俗曰赤漂。既傳入此，已是危急。醫與病家，切宜詳審，故出各有其名，心為紅點，肝為水疱，肺為膿疱，脾主結痂。惟腎居下，不受穢濁，所以獨無其證。若見瘡色黑陷，乃毒氣入腎。急投麝香人齒散救之，及一匕金尤妙。此言五臟各有所主，及其發也。始焉壯熱腰痛咳嗽，面目皆赤，或乍涼乍熱，兩足微冷，有驚搐譫語者，有腹痛欲吐者，有頭痛煩渴者，六脈緊數，耳尻（音蒿）俱冷，呵欠頓悶，至五六日，身出紅點，紅點成水疱，水疱成膿疱，膿疱之後，結痂疕則愈矣。此證才見，似是而非，若同而異，疑貳之間，但以升麻湯加麻黃與之發表及清肺飲。蓋肺主氣，王氏曰：豆瘡氣均則出快。故用之。仍不可過投，兼此疾首尾無下法，若下之必損脾胃。然萬物得土氣溫暖而生，下之則脾土虛冷，氣血無自而盛。故豆瘡因脾胃虛冷，而氣血亦衰，遂有伏陷之變。又《內經》云：諸痛癢瘡瘍，皆屬於心。雖各藏形證不同，而心實為之主。心主血，因其血熱在裡，再遇六淫侵襲，兩相攻擊，自內而形於外，則發之為豆瘡，未有不先見其血點，而後結膿疱。故其原出於心，或痛或癢，以分虛實，經曰：諸痛為實，諸癢為虛，切宜知此，不可妄投藥餌。若一出便齊者為重，不齊者為輕，以中和湯通順表裡，及耆歸湯催脹而已。既出不多，發之亦少，此為本疏，不宜再發。有大熱者，以導赤葛散利小府。微熱者用㕮咀五苓散，加人參、甘草，水煎。欲出不見者快斑飲，久而不結痂疕者，是表有熱，盛蒸於皮膚，可用升麻湯加黃芩以解之。若豆瘡見形，有渴瀉吐痢，用陳氏木香散、異功散、豆蔻丸治之。有虛癢者，多服耆歸湯及中和湯。以上豆瘡，大約施治，不過如此，其餘雜證預防之法，胡大卿陳文秀二公之書，該載詳備。或問升麻湯治豆瘡已發未發皆可服，何如。愚曰：予每致思及此，屢見病家不循次序，不問可否，以為常服，自取危困，良可嘆也。殊不知古人立方，深有意焉。但後學不能究心造微，以為一定之方，誤人多矣。蓋未發之先可服，使其解利肌膚，自然出快。已發之際便不可服，為其藥性差涼，凝滯氣血，毒不能出，反以為害，結痂之後可服，使其解散餘毒，氣順血和，免有豆癰之患。或問豆瘡倒靨，有用麝香、人齒散作效，亦有不效者何？予曰：其說有二，若見黑陷，毒氣入腎，腎色主黑，蓋齒者腎之餘，用麝齒之法，引導歸腎，而發出其毒，故效耳。及用一匕金救之，其效尤速。若見癢塌灰白色，脾虛所致，多投陳氏異功散取效。以上二證，各有主治，不可執一，切須詳審。或問：豆瘡投紫草飲固好，亦有不服者。曾子曰：處方之妙，在乎君臣佐使，後之醫者，不諳古法，令病家自取紫草，修合品味，或為湯使入諸藥內，彼欲速效，而倍用恣飲。按本草云：紫草性寒，小兒脾氣實者，或爾偶中，脾氣虛者，反以為害。如戴氏方名紫草茸飲，後人訛傳此方，缺其茸字，蓋茸者春月才生之芽，色澤而紅嫩，得陽氣之使然。以類觸類，所以用發豆瘡故效，但罕得嫩茸，後以紫草頭僅半寸者代之，即與茸初萌處同類。今人不達其理，遽全用之，有脾虛者服之作瀉，瘡陷不救者多。予嘗目擊其事，深為可傷。凡治豆瘡，不可不明此理。蓋戴氏紫草茸飲，內有人參、黃耆、當歸、白芍藥佐之，故用驗矣。或問：病豆瘡者，忌食粥然歟。予曰：此俗忌也。病家恐患者瘡爛如粥，故忌之。其實不然。毒氣自里達表，滿口糜潰乳食不能進，非以粥飲飼之，則脾土虛而豆瘡陷、必致不救，深可痛惜。予嘗調治此證，始終與粥，全活多矣。蓋粥者以米為之，何毒之有，為父母者，切宜知此。或問：禁食葷腥者何？予曰：此亦世俗拘執之論。天以五氣生萬物，人以五味養五臟，豆瘡之萌，始因藏受邪毒，感時氣而鬱發，自內達外．榮衛俱虛，裡氣亦弱，必藉五味葷腥，以為滋補，使氣順血和，自然出快。但不可食動風發熱之物，以助毒氣，亢則必害。或問：豆瘡後與產後相類何如？予曰：蓋產後之婦，血脈傷損榮衛大虛，敗血未盡，偶六淫侵襲，便致急證，亦有不救者，故郭氏著產後二十一論，正為此設。且小兒豆瘡，一身精血皆形於外，熱作脹痛，叫聲不已，耗損真氣，結痂後表裡俱虛，榮衛亦弱，餘毒未解，失於調護，暴感邪氣，多致夭傷，與產後傳變何異。在父母者，倘不究心及此，悔將噬臍，為之晚矣。然有瘡少氣實，飲食如故，又不拘以此論，醫者宜審之，切勿例指為虛也。凡豆瘡欲愈未愈之間，傳變黑陷乾枯，咳嗽失音，吐瀉煩渴，渾身手足俱冷，睡則昏迷，飲食減少，及痰多氣促燥癢，皆為不治。醫者宜察之。世言麻子者，亦疹毒也。經曰：疹屬於脾，胃為脾之府，有疾則同矣。疹毒乃天行氣運變遷之使然，亦隨天地乖戾之氣而受病，故曰時氣。不拘長幼，身發大熱，咳嗽連聲，腰痛口乾，足冷，有寒熱腹痛者，有頭疼自痢者，有煩熱驚搐者，此熱使然也。但外證形於身體頭面，如蚊蚤所齧（五結切）發紅點而起頭，其瘡腳有紫黯色為異耳。蓋因四時有非節之氣，著人肌膚，留而不去，再經外邪鬱蒸，與元受蘊熱相觸，毒氣遂發於外，形而為疹。若熱太甚，則為癰為疽，為赤紫丹瘤，傳入臟腑，治之稍緩，亦致害人。有胎受穢液，熱毒蘊蓄於肺胃，因感時氣而發者，並以清肺飲疏表，及百解散去桂加黃連，水煎。或餘毒之氣上蒸，口齒糜爛作臭，飲食不便，以當歸散加七寶散，入鹽水姜煎服，並牛蒡湯疏風化毒。若疹出盛時，頭痛肚熱，神思煩悶，麥門冬湯主之。如夏月得此證者，煩躁發渴，小便少，神不安，投卻暑丹即效。有毒氣甚者，滿口成瘡，目赤腫痛，失音噁心，此餘毒在肺胃之間未解，致肺胃俱虛，肺虛則語聲不全，胃虛則飲食不納，急宜早治。若氣促心煩驚悸者，病必致危矣，世言此證有溫毒發斑，有胃爛發斑。若溫毒發斑，其癮疹如錦紋片，出於兩腋之下。蓋兩腋者，氣之道路，故蘊毒隨氣之道路而先出，其疾咳嗽煩悶，或嘔清水，此因冬時感冒寒毒，停於肌肉之間，至春陽氣發動，而形於外，名為溫毒發斑。以百解散、牛蒡湯，及當歸散加陳皮、黃連為治。胃爛發斑，初因傷寒下早，熱毒乘虛入里，及當下而不下，亦致熱毒內蒸於胃。胃受熱毒，則發出於皮膚，斑之赤者可療，黑者十死一生，治法亦同前議。活人書以玄參升麻湯、大青四物湯。化斑湯為治、大人小兒，病同一體，用藥施治，無逾古法，但小方分劑則輕少不等耳。此證更宜投拔毒飲、升脈湯，前豆瘡餘毒發見，皮膚潰爛，治用黃土散。</p>

<h2>陰囊腫</h2>
<p>巢元方論曰：諸筋會於陰器，邪客於厥陰少陰之經，與冷氣相搏，則陰囊腫痛而引縮，經中雖分四證，曰腸㿗、氣㿗、水㿗、卵㿗。然小兒患此，若治之不早，則成痼疾，如腰曲腹痛，冷汗自出，而陰囊二子，吊縮入腹，痛止方出，名為內吊。用烏梅散勻氣散、金茱丸、金鈴散為治。有陰莖全縮不見，有陰囊光腫不痛，此因肝腎氣虛。宜以橘子仁煎湯，調下金鈴散、勻氣散，皆可投之。《內經》曰：㿗癃疝膚脹者，陰亦盛而脈脹不通，故曰㿗癃疝。由是觀之，乃陰氣盛而致有此吊縮者，筋急也。筋遇寒則引縮，遇熱則縱弛，故三因所用方法，以寬小腸氣疏風為治。然小兒此證，多因坐陰潤之地，惑風濕而得，用當歸散加檳榔、蒼朮，水、姜煎服，並青木香湯、鉤藤膏，外以立消散傅之。有外腎無故而膚囊腫大，不燥不痛，光亮如吹，此名氣虛所致，以勻氣散調治，三因方家韭子丸主之。一證外腎膚囊赤腫通明，及女兒陰戶腫脹，乃心熱之所傳，皆以木通散、導赤散為治，或用薏苡仁煎湯，調五苓散，及以外消散敷之，並投天花散，用無灰酒煎下。不能飲者，水煎少入酒，同服亦好。</p>

<h2>驚癱鶴膝</h2>
<p>肝者，東方青龍木也。其動則應於風，病則主驚駭。諸熱引肝風．有風則生痰，有痰亦作搐。小兒驚風之際，手足動掣，當聽其自定，然後療之，免生異證。或父母見其病勢可畏，從而按伏之，豈知筋者肝之令也。臨病發時，若按束其手足，則筋不舒伸，遂至經絡為風所閉，終為廢人。內經曰：頑弱名緩風，疼重名濕痹。又有四肢痿痹不仁，致手足稍脹痛不堪忍者，此風毒之氣使然。故傳曰：風淫末疾是也。凡小兒心悸不常，及遍身腫痛，或手足不隨，此為驚癱候也。若治之稍遲，至臂腕膝脛骨節之間，流結頑核，或膝大而腫，肉消骨露，如鶴膝之狀，或為癰為癤，此名鶴膝候也。以上形證，並宜發汗為先，使腠理開通，則風熱可除，有濕亦去，用百解散和㕮咀五苓散，倍加麻黃，水、薑、蔥煎服，微得汗為度，或以麻黃湯發散尤佳，次防己湯、祛風散，及獨活湯加桑寄生投服，並防風湯或黑虎丹，作小丸子間服，使風不生而痰不作，則其疾易愈。若為癰為癤，疼重者用黑牽牛半生半炒，略碾碎，煎無灰酒調下五苓散，以除流注之寒濕，則腫毒可消。如大府閉而不通，此是風熱內蘊，其右腮紅紫，及右手三部脈浮而實滑，宜五和湯或當歸散、枳殼丸治之。其加減之法，尤在臨機審處。若泥一方，非良醫也。前證更宜間服排風湯。</p>

<h2>瘰癧</h2>
<p>瘰癧一證，先賢名曰九漏，究其所因似熱，稽考形狀非一，不過隨象命名大概初發於頸項肌肉之間，未成膿者，從本引末，可使衰去，針之灸之敷之，從其所因而施療。然小兒幼弱，豈堪針灸，但以服餌塗貼之劑為治。此疾多生於耳後及頸項兩旁，初發止是一枚，次必連生，大小十數，纏繞項下，累累如貫珠，逐個先腫。作膿穿破，輕者可愈重者難除，先穴漏膿，長歲不幹，謂之漏項。原其得病之初，自足三陽感受風熱，與血氣相搏而成。治以百解散加當歸散，水、薑、蔥、燈心煎服。次用玄參飲及牛蒡湯、木通散、內消丸，與之宣熱化毒，洗以槲皮散，塗用白芨散、二香散，使氣順血行，膿干汁盡，則自愈矣。仍忌臊毒野味，其證不致再作。</p>

<h2>五淋</h2>
<p>《巢氏病源》曰：諸淋皆腎虛所致，腎與膀胱為表裡，至水下入小腸，通於胞，行於陰而為溲，腎氣通於陰，下流之道也。淋有五名：曰膏、曰冷、曰熱、曰血、曰石，各具於後。膏淋，見小便有肥脂似膏，而浮於小便之上，此腎虛不能制其肥液而下行也。冷淋，先戰慄而後小便，此亦腎虛而下焦受冷，冷氣入胞，與正氣交爭，故小便澀而戰慄。熱淋，下焦有熱，熱氣傳於腎，流入於胞，其溺黃，多而澀，間有鮮血同來者。血淋，熱之極也，心者血之主，外行經絡，內行臟腑，熱盛則失其常道，心與小腸為表裡，故下流而入於胞，則為血淋。石淋，腎主水，水結則化為石，腎為熱所乘，遇小便則莖中痛，不得流利，痛引小腹，則沙石從小便出，甚至塞痛，令人昏悶，遍身有汗而後醒，此痛之使然。蓋五淋者，雖曰腎虛所致，然小腸為受盛之府，氣通於膀胱，膀胱為津液之府，氣通於腎，余化下流而不通，皆曰腎氣不足。熱入膀胱，水道澀而不利，出入起數，臍腹急痛，蘊作有時，或如豆汁膏血，並以《局方》五淋散，下龍腦雞蘇丸，自然平愈。及香芎丸、補腎地黃丸，與之疏導補益為上。有癃閉遺溺二證，與淋不同，《內經·宣明五氣篇》曰：膀胱不利為癃，不約為遺溺。蓋癃者，乃內藏氣虛受熱，壅滯宣化不行，非澀非痛，但閉不通，腹肚緊滿，宜用㕮咀五苓散加木通、車前子煎服。遺溺者，乃心腎傳送失度，小腸膀胱關鍵不能約束。有睡夢而遺者，有不知而遺者，皆是下元虛冷所致，亦因稟受陽氣不足，用三因方家韭子丸治之，及參苓白朮散、補腎地黃丸。然此證法當實土以存水，乃免滲泄之患，所謂補腎不如補脾是也。平胃散倍加益智仁，銼碎，水、薑、棗、燒鹽煎，空心溫服。又有陰陽二閉證，陰閉者，為冷濕乘虛入里，因而不通，名曰陰閉，以白芍藥湯加南木香，水煎服，及用炒鹽，以絹帕兜令帶溫熨臍四圍，並投五苓散，入靈砂末，溫鹽湯空心調下，其效尤速。陽閉者，因暴熱所逼。澀而不通，名為陽閉，以㕮咀五苓散加車前子，燈心水煎服，及木通散、玉露飲、益元散，皆可用之，或貼姜豉餅於臍上取效，不拘陰陽二證，悉能療之，並投萬安飲。</p>

<h2>腹痛</h2>
<p>《內經·舉痛論》：五臟卒然而痛者，何氣使然？岐伯曰：經脈流行不止，環周不休，寒氣入經則稽遲，泣（音澀）而不行，故卒然而痛。蓋小兒腹痛，有藏寒痛，鎖肚痛，盤腸內吊痛，積痛，癥瘕痛，痃痛，癖痛、吊腎痛，偏墜氣，寒疝痛，蛔（音回）蟲動痛。諸痛不同，其名亦異，故不可一概論之。藏寒痛議，附胎寒論後。鎖肚痛，一月內嬰孩，忽乳不下咽，肚硬如石，赤如朱，撮口而哭，面青唇黑，手足口氣俱冷，是也。始因斷臍帶不緊，為風冷所乘，證亦危急，以白芍藥湯、烏梅散、一字金投之。日久則難愈，更參考臍風證內議論。盤腸內吊痛，議在夜啼論中。積痛，腹中陰陰而痛，面黃不食，兒大者口吐酸餿氣，先治積滯，後調脾胃，其痛自止。仍辨虛實和解治法，見前傷積論中。癥瘕痛，乃久積所致，亦能成疳，此皆榮衛俱虛，外則感受風寒，內則過傷乳食，停滯既久，不能克化，故邪並於陰為症，陰則專靜凝而不移，邪並於陽為瘕。假物象形，動而不息，蓋此二證，若久而不治，亦成脾疳積，或兩脅間有塊如石，按之則痛，不按則輕，或面黃肌瘦，肚硬而脹，及有青筋，晝涼夜熱，蒸潮無時，乳食減少，愛吃泥土，或大便釀瀉，痛則身冷如冰，法當調脾養胃，用醒脾散、參苓白朮散，磨積理疳，用化癖丸、三稜散、木香莪朮丸。治釀瀉，沒石子丸、沉香檳榔丸。然此積滯之疾，非匕劑可療，必須次第調理，則日久自然平復。痃痛者，始則腹內一小長塊，其硬如臂，從腰纏轉，或左或右，良久痛甚，則見於皮下，不妨乳食。其證先因有疾，表解未盡，遽爾下之太過，氣虛寒搏鬱結而成。法宜益氣理虛，用參苓白朮散、沉香檳榔丸、木香莪朮丸為治。或間投白芍藥湯，加人參、茯苓。水、姜煎服。癖痛者，癥瘕痃癖四證，大同小異，各有治法，惟癖證詳論在前。吊腎偏墜痛，論在陰囊腫證內，當理腎和氣。寒疝痛，即在疝證論中詳備。蛔蟲動痛，口吐清水涎沫，或吐出蟲，痛不堪忍，其疾因食甘肥葷腥太早而得，故胃寒蟲動作痛。其蟲吐來，或生或死，兒小者此痛苦甚，亦致危難。先以理中湯加烏梅，水煎服，使胃暖不逆，次蘆薈丸、使君子丸化蟲飲主之。有兒大者，面㿠白而間黃色，肉食倍進，肌體消瘦，腹中時復作痛，此有血鱉蛔蟲雜乎其間，以二聖丸下之。又有胃受極寒極熱，亦令蟲動，或微痛，或不痛，遽然吐出，法當安蟲為上。若以治蟲，反傷胃氣，固不可也。因寒而動者，用理中湯加烏梅，水煎服，因熱而動者，用㕮咀五苓散，亦加烏梅，水姜煎投。</p>

<h2>丁奚</h2>
<p>丁奚者，亦久積成疳之證，皆因飲食過傷於脾胃。脾胃虛，不能磨化飲食，飲食漸減，無以生其氣血，面白色慘，潮熱往來，腹大而多青筋，手足如筒，顱腮開解，頸項小而身黃瘦，先投萬應丸，次參苓白朮散。早晨一服，與養胃氣，及醍醐散，進食，食後下烏犀丸三粒至五粒，助脾化食，此即用迎奪之法。間投醒脾散、沉香檳榔丸、木香莪朮丸，次第調理。有渴瀉腹痛，千金膏自好。若脾氣稍和飲食漸進，再以化癖丸、快活丸常服，或用烏犀丸略下二三行，勻氣散止補。有寒熱往來，柴胡飲主之。腹脹投南星腹皮飲，有餘熱麥芽柳枝煎湯，調三解散。有蟲下使君子丸，故斯疾得之，非一朝一夕。然施治之法，亦須漸漸令其平復，欲求速效，則為難矣。凡雞酒羊面魚鮓甘甜生冷毒物，宜忌之。哺露者，亦由乳哺不節，損於脾胃，脾胃損而飲食減，形容贏瘦，則臟腑之氣不能宣通，時間有熱，謂之哺露，此候與丁奚相去不遠，但食多吐逆，藏氣虛冷，而泄瀉無度，糞中有蟲，治法同前丁奚證藥，惟加養臟湯服之。</p>

<h2>口瘡</h2>
<p>口瘡一證，形與名不同，故治法亦異。有發於未病之前，有生於已病之後。大抵此疾不拘肥瘦，有血氣盛者，又加將養過溫，或心脾二經有熱，或客熱在胃，熏逼上焦，而成其瘡，此為實證。宜宣熱拔毒，使無炎熾，自然作效。可用當歸散，加升麻、乾葛、黃芩，水、薑、蔥、燈心煎服，及投牛蒡湯、拔毒飲、木通散，點以消黃散。若口內白爛，於舌上口外糜潰，於唇弦瘡少而大，不甚為痛，常流清水，此因脾胃虛熱上蒸，內已先發，而後形於外，宜百解散疏表，當歸散，水、薑、棗煎服，和胃氣，理虛熱次投牛蒡湯、三解散，塗以綠袍散立效。飲黃金散，或投天竺黃散、地黃膏。若瘡生於口角，是脾有積熱，才開口則燥痛，飲食多難，甚至再有外風吹著，便覺折裂，微有清血，謂之燕吻瘡。治法同前藥餌，輕者用甑蓋上炊流汁塗之亦驗。有口唇下成小片赤爛，此因飲食膩汁，淋漓不潔，蓋以嬰兒皮肉脆嫩，浸漬成瘡，及有風熱乘之，名曰承漿瘡。又謂之疳蝕瘡，其所因者一也。治法同前證內藥劑。有無故口臭糜潰，而不成瘡，或服涼劑，或塗末藥，不能療者，此名元焦。故叔和《脈訣》云：陰數脾熱，並口臭，是脾家有虛熱，上攻於口，宜服回陽散，兒大者用黑錫丹，早食前新汲井水入鹽少許調勻送下。與正元氣，及參苓白朮散、調元散，服之以立效。飲黃金散，乾點潰爛處，或用蒸蜜同熟水調點舌上，令其自化，嚥下無妨，誠良法也。仍忌毒物。</p>

<h2>諸瘡</h2>
<p>《內經》曰：諸痛癢瘡瘍，皆屬心火。火鬱內發，致有斯疾。蓋心主乎血，血熱生風，熱鬱內甚，遞相傳襲，故火能生土，血注陽明，主肌肉，風熱與血熱相搏，發見皮膚，其名不一。有黃膿而白者，土生金，母歸子也。始生微癢而熱輕，腫痛潰爛為熱極，血凝化水，氣滯成膿，甚至寒熱作而飲食減，尤為可慮。宜宣泄風毒，涼心經，解胃熱，用當歸散加黃連、升麻、乾葛，水、薑、蔥、燈心煎服，及三解散、牛蒡湯。木通散間服，塗以四黃散、一抹金。若頭上散生成片，常常燥癢，毛髮稀少，有類白屑，此因積熱上攻。名曰禿瘡。瘡雖生於頭。世人只知以藥外敷得愈。不逾旬月。其瘡又發。何為而然。蓋頭者諸陽所會之處，洪範五行，火曰炎上，熱毒上攻，兩陽相灼，故瘡生於頭。法當解陳莝（音銼）之積熱，導心經之煩燎（音了），斯可矣。宜百解散，倍加五和湯，水、薑、蔥、燈心煎服。次連床散塗之，及四黃散亦好。有遍身糜潰成片，甚至煩躁，衣不可著，蓋因風火內鬱於陽明，流毒於外，名曰風熱瘡。用百解散加五和湯，入何首烏。荊芥、白芷，水煎服，及牛蒡湯、當歸散、木通散、五黃湯，疏滌腸胃，解散風熱，其瘡自愈，不致再生。外則塗以四黃散，或連床散亦佳。若見滿頭連額有痂如癩，或成黃膿，即是驚風積熱，久滯在裡，致上熏於頭皮，名胎風瘡，俗曰甜瘡。亦以百解散先和表，次水晶丹去積疏風，或用烏犀丸與之寬利，勻氣散止補。然後塗以連床散、四黃散、或投消毒飲，自然獲安，更隨稟賦虛實療之。應湯火瘡，先用羌活散發表，次以玄霜膏塗之即效。</p>

<h2>目疾</h2>
<p>純陽之子，始生旬月忽兩目俱紅，弦爛澀癢成醫，此因在胎，為母感受風熱，傳於心肝而得，先以百解散加當歸散，水、薑、燈心煎服，次導赤散及牛蒡湯加黃連、木賊、蟬殼，水煎服自效。有熱極夾風，則目赤腫痛，晝夜不開，驚啼不已，先用九仙散，水、薑、蔥煎投，次三解散，溫米泔水調下，及點以黃連膏。若豆瘡之後，眼生翳障，昏澀流淚，或浮腫不開，此豆瘡餘毒攻肝，投百解散，少加五和湯，水、薑、燈心煎服，次用牛蒡湯解之，洗以黃金散，及多投柿煎散。有豆瘡後眼中成翳，或大或小，無非餘毒使然，亦用牛蒡湯及甘桔湯，加蟬殼、白蜜，水煎服，次以金波散、黃金散，無時頻洗，更詳虛實為治，並羌活散加薄荷、穀精草、白菊花，水、燈心、姜皮煎投，間以糖煎散服。若天行時證，暴赤腫痛，晝夜苦甚，久則昏蒙，治法先以九仙散解表，次小柴胡湯去半夏加大黃。薄荷、竹葉、生地黃，水煎服，並投草龍膽散，及點用黃連膏，貼以清涼膏。有孩兒胃氣表虛，脾氣實盛眼胞赤腫，羞澀不開，遽投苦寒之劑，以退赤腫，反傷脾胃，不吐則瀉，或四肢微冷，復以溫藥調治，則目疾轉加，宜先用㕮咀五苓散，水、薑、燈心煎服，次投瀉黃散自愈。有心脾蘊熱經久，及肝受邪熱，致兩目羞明，眼胞浮腫，微有紫色，大府閉或流利，小便澀或通順。先以百解散發表，次投明目飲，自然平復，仍忌酒葷三五日。有小兒薄劣，多致塵埃入目，揩摩成腫，發熱作痛，啼哭不已，宜用闢塵膏治之立效。</p>

<h2>丹毒</h2>
<p>經云：赤紫丹瘤，皆心火內鬱而發，赤如丹砂，故名丹毒。心主血而火性熱，血熱相搏，陰滯於陽，即發丹毒。心虛寒則癢，心實熱則痛，自腹生出四肢者易治，自四肢生入腹者難療。先用百解散表之，次以當歸散加連翹、荊芥，水煎服，及牛蒡湯加炒麻仁，研碎同煎與宣熱拔毒。其次赤葛散，或初用化丹湯亦好。有身上發時，亦如前證，不甚燥癢，但見出浮於遍體，神昏不悅，名陰濕毒證。先以沖和飲加南木香、水、姜煎服，次用當歸散、雄黃散。然此二證，不問赤白，若入腹入腎，多致為害，不可輕視如常，自取困爾。</p>

<h2>重舌</h2>
<p>凡患此證，是脾與心肝屢受極熱，有所謂重舌、木舌，又謂之舌黃、鵝口，名雖異，皆熱也。大抵重舌生於舌下，挺露如舌，故曰重舌。然脾之絡脈系舌旁，肝之絡脈系舌本，心之絡脈系舌根。凡此三經，或為濕熱風寒所中，則舌卷（音捲）縮，或舒長，或腫滿，宜消黃散、綠袍散主之，及當歸散、羌活散與服。木舌者，舌腫硬而妨乳食，此為風熱盛也，以當歸瀉黃散、玉露飲，皆可服之次消黃散點擦舌上。蓋舌者心之官，心熱則生瘡破裂，肝壅則血出如湧，脾閉則白胎如雪，熱則腫滿，風則強木，口合不開，四肢壯熱，氣喘語澀，即其候也。治法涼解上焦，及心肝脾三經邪熱，疏風化痰，初用百解散加五和湯，水、薑、燈心煎投，次以牛蒡湯，同當歸散，入生地黃，水、姜煎服。鵝口者，始生嬰兒，自一月之外，至半歲以上，忽口內白屑滿舌，則上齶戴礙，狀如鵝口，開而不合，語聲不出，飲食多艱，亦因感受熱毒，停積於脾，故上烝於舌，至極時藥不能頓治，急以絹線札針嘴，約以粟谷長，刺破舌上下小疱，如芥子大，見黃水清血微出即減，方投前證內藥同服，及以硃砂膏、地黃膏，調化塗點舌上，嚥下無妨，或消黃散亦好。</p>

<h2>五軟</h2>
<p>戴氏論五軟證，名曰胎怯。良由父精不足，母血素衰而得，誠哉是言。以愚推之，有因母血海久冷，用藥強補而孕者，有受胎而母多疾者，或其父好色貪酒，氣體虛弱，或年事已邁，而後見子，有日月不足而生者，或服墮胎之劑不去，而竟成孕者徒爾耗傷真氣，苟或有生，譬諸陰地淺土之草，雖有發生，而暢茂者少，又如培植樹木，動搖其根，而成者鮮矣。由是論之，嬰孩怯弱，不耐寒暑，縱使成人，亦多有疾。爰自降生之後，精髓不充，筋骨痿弱，肌肉虛瘦，神色昏慢，才為六淫所侵，便致頭項手足身軟，是名五炊。治法用調元散補腎，地黃丸漸次調養，日久乃安。若投藥不效，亦為廢人。有小兒體肥容壯，不為瘦瘁，忽然項軟傾倒，此名下竄，皆因肝腎氣虛，客邪侵襲風府，傳於筋骨，故成斯疾。蓋肝主乎筋，腎主乎骨，筋骨俱弱，則項軟垂下無力又名天柱倒。與五軟相類不遠，治同前藥。有解顱一證，其囟縫不合，此腎氣不足。腎主骨而腦為髓海，腎氣不足則腦髓不滿，故不合也，名曰解顱。凡得此候，不及千日之內，間有數歲者，偶因他疾攻激，遂成廢人。若氣色精明，能飲食者，多服調元散、補腎地黃丸，旬月內頗見效者，次第調理，或有可治。若投藥後如故，亦難療矣。世言囟腫皆以為熱，殊不知有陰陽二證，切宜詳辨，堅硬為陰，紅軟為陽，故《嬰孩寶書》云：寒氣上衝則牢𩊅（音報），熱氣上衝則柔軟。正此之謂。若陰證，以勻氣散、理中湯主之，陽證，用玉露飲、當歸散、防風湯為治。有囟陷者，虛之極也。胃氣虛寒則囟陷，慢驚中有之。胃寒脾困吐瀉者為虛極，急以金液丹、固真湯及諸救元等藥治之，外則貼以烏附膏。有後枕陷者，其證尤重，治法以囟陷藥同，不效亦為難療，此大虛極，百無一活耳。</p>

<h2>諸汗</h2>
<p>汗者，心之液，故叔和心臟歌曰：液汗通皮潤，聲言爽氣清。蓋人之氣血，猶水火也。平則寧，偏則病，陰虛陽必湊，則發熱自汗，陽虛陰必乘，則發厥自汗。小兒脾虛自汗，多出額上，沾黏人手，速救胃氣，全蠍觀音散，用薑、棗煎湯調服，及沉香飲為治。脾虛瀉自汗遍身冷而出，有時遇瀉則無，瀉過即有，此候大虛，急當補脾，投益黃散、參苓白朮散、附子理中湯。肺虛自汗，其候右臉色多㿠白，肺脈按之無力。蓋久因咳嗽，連聲不已，痰少不活，乃肺經虛氣上壅，致令汗出，宜用補肺散為治，及以藿香飲調脾。此又益母救子之義也。慢驚自汗，遍體俱有，其冷如冰，此證已危，金液丹、固真湯主之。有實證自汗，外因感冒風邪發熱，無問昏醒，浸浸汗出，當救表解肌，用百解散，水煎服。或間投五苓散，溫白湯調下。有小兒無疾，睡中遍身汗出如水，覺而經久不幹，此名積證盜汗，脾冷所致，用三稜散，水、煨姜煎服，次投益黃散、參苓白朮散。有時時冷汗微出，髮根如貫珠，面額上濈濈然，此為驚汗證，宜鎮驚丸或琥珀抱龍丸，及茯神湯加麻黃根，水煎服取效。有夜睡中而汗自出者，名曰盜汗。《巢元方論》云：病因睡寐中而身體汗流，此因陽虛所致久不已者，令人羸瘠枯瘦，心氣不足，津液妄出故也。用茯神湯加黃耆，水。薑、棗燒鹽煎服。</p>

<h2>黃證</h2>
<p>凡黃病者，不可一概而論。標本不同，證治亦異。故《嬰孩寶書》云：黃病皆因胃熱所為。由是觀之，乃脾胃氣虛，感受濕熱，鬱於腠理，淫於皮膚，蘊積成黃，熏發於外，故有此證。或脾胃虛弱，內因症癖攻之而成。然疳瀉亦主皮黃髮豎，肚大青筋，肌肉消瘦，外無色澤，身必發黃，此又本於疳病而作，致有是證，治法若感濕熱而得，身黃如煙燻之色，以㕮咀五苓散加麻黃，水姜煎投，汗之即愈。或用茵陳蒿湯調下五苓散亦好。若得於疳癖者，其形如黃土相類，以醒脾散、化癖丸，醒脾快胃，磨積理疳。胃氣既和，飲食倍進，運化精微，榮養百骸，灌溉臟腑，五色各見於本部，精華乃形於面貌，其黃自除。有嬰孩生下，便見遍體俱黃，惟兩目弦厚如金色，身發壯熱，名為胎黃。皆因未產之前，母受極熱而傳於胎，故有其證。乳母宜服生地黃湯，使藥入於乳，令兒飲之，必獲安矣。</p>

<h2>失血</h2>
<p>小兒九道出血，何為而然？蓋人之所有者，血與氣也。心者血之主，肺者氣之主，氣主呴之，血主濡之，榮養百骸，灌溉孫脈，升降上下，榮衛諧和，自然順適。一或不調，疾由生矣。或外為六淫所侵，內因七情所汨，氣乃留而不行，血乃壅而不濡。內外抑鬱，不能流注，以榮於身，必有妄動之患。叔和以芤脈為失血之義，在七表屬陽故也。陽明主乎多氣多血，未有不因熱而得。蓋氣血俱熱，毒郁內逼，失其常度，是以妄行。有在襁褓患此證者，因非七情所傷，皆因乳母執著，不自寬釋，及淡辛辣之味，流於乳絡，兒飲之後，停滯不散，鬱蒸於內，亦能動血。又或居重幃暖閣，火氣熏逼不令常見風日，積溫成熱，或極則湧泄，或吐或衄，或大小府亦多血來者。有氣出而邪熱乘之，則血不得循流故道，滲於諸經，亦生走失之證。其面㿠白，脈沉微，血淡紫，口氣緩是也。又況嬰孩脆弱，易虛易實，因熱內攻，血隨氣行，或壅而上逆，或下而妄返，遂有吐血、衄血、瀉血、溺血之證。然而血不自動，因氣使之，風不自生，因熱而起。由是而論，可以類推。治法先明虛實，審得病源，隨經施治。藥餌無差，則不失其機要。實則小柴胡湯加生地黃、絲茅根或苦參亦好，並用水煎服，或㕮咀五苓散，合五和湯，亦加絲茅根、苦參，水煎，及投消毒飲，次用《局方》雞蘇丸、三黃丸。間服。虛則理中湯，及人參芎歸湯，皆可服。間有醫者，見其血盛，以為熱極，過投涼劑，遂使血寒不能歸源而妄流，其色紫黯而凝滯，或成小片，當服薑、附之劑以溫之，自然流暢，毋致妄行為佳。</p>

<h2>不內外因</h2>
<p>愚嘗論十歲以上小兒，飲酒啖熱，因熱動血，醉飽掬撅，胃脘吐血，甚至鼻口俱出。此非內因外因之使然，乃自取過耳。治法先用百解散去桂，加黃連、水、蔥、燈心煎服，疏利熱毒，次以小柴胡湯。加生地黃，或藕節，水、姜煎下，定吐止血，其證自除。有長成小兒，偶固他物自傷，或戲走失足觸損兩目，血脹腫痛，晝輕夜重，投速效飲即快。仍忌雞、酒、羊、面三五日，庶易瘥也。有因飲食中誤吞骨鯁，吐不出，咽不下，氣鬱生痰，痰裹其骨，內則作痛，外則浮腫，啼聲似啞，亦為可慮，投備急散取效。有孩兒貪劣，因弄刀錐，或乘高墮地，致傷皮破血出。輕者先用桃花散敷之，仍服活血散以勻其血，毋使作膿，潰爛肌肉。有僅十五歲者，恃其血氣方剛，惟務馳騁，多致落馬墮車，或鬥很跌折肢體，一切損證，及毒蟲惡獸所傷，此又世醫各有專科，茲不繁引。</p>

<h2>小兒常安</h2>
<p>康節曰：與其病後求良藥，不若病前能自防。然致疾之始，必有所因。大凡幼稚，要其常安，在乎謹寒暄，節飲食，夫復何慮。每見嬰孩目有所睹，心有所欲，但不能言惟啼泣而已。父母不察其詳，便謂飢渴，遽哺之以乳食，強之以雜味，不亦多乎？有數歲者，嬌惜太過，不問生冷，甘肥時果，聽其貪食，豈能知足！愛之實以害之，遂傷脾胃，不吐則瀉，或成疳積浮腫，傳作異證，此則得於太飽之故。有遇清朝薄暮，偶見陰晦，便加以厚衣重衾，或近於紅爐烈焰，又且拘之懷抱，惟恐受冷，及長成者，所愛亦復如是，遂致積溫成熱。熱極生風，面赤唇紅，驚掣煩躁，變證多出，此乃失於太暖之故。殊不知忍一分飢，勝服調脾之劑，耐一分寒，不須發表之功。余故曰：孩提之童，食不可過傷，衣不可太厚，此安樂法也。為父母者，切宜深省。</p>

<h2>拾遺</h2>

<h3>論小方脈數差殊</h3>
<p>宣和御醫戴克臣侍翰林曰，得叔和小兒脈訣印本二集，一本云：呼吸須將六至看，一本云：呼吸須將八至看。遂與內臺高識參詳字義，審察至數，就診五歲兒常脈，一息六至者是，八至者非。蓋因鏤板之際，誤去六字上一點一畫，下與八字相類，致此訛傳。迨與卒以學易，作五十以學易之誤是也。嘗考默庵張氏《脈訣》亦云：小兒常脈一息只多大人二至為平，即六至也。然一呼一吸之間，六至明矣。不然，姑俟來者考之。</p>

<h3>辨藥病不相主對</h3>
<p>鄭氏議古人醫書，不能無失。如錢氏治慢驚用栝蔞湯，與病不相主對，是謂之失。以愚觀之，所傳藥性，醫者之通曉，縱有前證，未必肯用，但不容不講明耳。殊不知錢氏既沒之後，其書成於仕路，故人閻孝忠編集刊行，屢經異代。況錢氏儒醫，名聞朝野，施治之法，如珠在貫，未嘗少差。鄭氏所指慢驚誤用栝蔞湯，然本方下明載治肺熱涎盛，非為慢驚之設，閻孝忠豈不知此。其或居官錄梓之日，失於參考，訛傳此劑，致有前議。今歷年已遠，卒難校正，若論五臟補瀉之妙，卻無瑕可指，及諸雜方，有功於世，不為不多，《直訣》一書，信不誣矣。</p>

<h3>治豆瘡不應疏利</h3>
<p>張氏治小兒豆瘡法，若才覺是其證，便當疏利。又云：若才見出時，皆不可轉利，自立兩說，遂使後人多生疑惑，以何為當，此張氏之論別矣。劉茂先曰：嬰孺豆瘡一證屬裡，首尾無下法。若下之則裡虛，毒氣何由而發泄，必至傳變。大要愛護，庶獲全安，此茂先之言是也。然後學不可執一而取，當擇其善者而從之。亦有孩兒稟賦素實，豆瘡出見，遍體紅壯光澤，飲食快順無外證，自然效速。如俗用符水神藥，皆非良法，慎勿輕信耳。</p>

<h3>評非時用附子大黃</h3>
<p>前賢議曰：小兒證候，最易虛易實，要施治得宜，如隆暑戒用附子，隆寒戒用大黃。若用之，是實實虛虛，損不足而益有餘。此亦理到之論。以愚評之，拘一法者，不足以善兵，泥一說者，不足以善學，在乎通變而已。記嘗城居，侯自牧次子五歲，盛夏泄瀉，面垢煩渴，耳尻冷，驚悸多，診其心肝脈浮而洪大，脾肺脈虛而細數，予曰：面垢渴瀉，脈虛細數者，此中暑也。驚悸發熱，耳尻俱冷，心肝脈洪大者，此豆瘡欲作也。先服黃連香藿散，解利暑氣，續投陳氏異功散，再加附子，與之實脾，二日瀉止，三日瘡見，不旬余而收全功。此隆暑用附子之效也。又本路總管楊侯幼子四歲，臘月得患驚風搐掣，諸醫調治，前證俱解，但神昏不食，四肢微冷，已五日矣，前醫用醒脾助陽之藥，不一而足。余診六脈，獨脾脈沉滑，餘脈微緩，脾脈沉而滑者，此積蘊在脾，乃為脾約，當主大便不利，非陰厥也。彼曰：然。遂用瀉黃散加大黃，水煎，並三服，大府一通，神氣清而飲食進，隨獲安可。此隆寒用大黃之功也。用藥如用兵，當用豈容自已，如五月渡滬，雪夜平蔡何待秋高馬肥而後為之。若拘以四時取用，則兵藥無成功矣。愚不敏，歷醫五十餘載，凡調理旬月外嬰孩有病，所用寒涼溫燥之劑，必先明標本，辨虛實，然後處之以藥，屢試輒效，此特又在察色聽聲，心誠求之而得，非假脈取。三歲之上小兒，以色合脈。尤其為妙。嘗用已驗活法。拯療諸疾，危而復安者多矣。姑以楊侯二家疑難之證，詳述於前，非矜能也。</p>

<h3>明小兒四證八候</h3>
<p>四證者，驚風痰熱是也。八候者，搐搦掣顫。反引竄視是也。搐者兩手伸縮，搦者十指開合，掣者勢如相撲，顫者頭偏不正，反者身仰向後，引者臂若開弓，竄者目直似怒，視者睛露不活。四證已備，八候生焉。四證既無，八候安有專是業者，可不究心及此。脈病證治，明有條類。大抵嬰孩得疾，如火燎原，撲之在微，不致有延蔓之盛。療病亦然。若初覺是受驚傷風發熱，便與疏解，何患有傳變之誤。所謂閭門之盜，不可以固留，逆流之水，不可以順決，此有疾在謹初之意也。</p>

<h3>治暑風用藥次序</h3>
<p>衡州萬戶張侯寓屯田日，長子三歲，六月得患不語，手足蜷縮，已經二旬，命余至彼，諸醫議論不一，觀外形面垢有熱，氣促流涎，口眼喎斜，不省人事，次則手足俱冷而蜷縮，身臂反張，診六脈沉，按而取，獨心肝脈虛而細數，餘脈緩弱。余曰：面垢色脈細數，此因中暑感風，前賢所謂暑風者是也。手足冷縮而不伸，或服涼劑太過，寒之使然。若手足溫，其效自速。愚以治法分陰陽順乎氣，五苓散加寬氣飲，薑汁沸湯調下三服，其證稍慢，次疏風和榮衛，百解散加荊芥、人參、當歸，水、姜煎投。隨以溫灰湯澆洗手足，藥一服，洗一次，至八九次，手足溫則血活，血活則筋舒，筋舒則手足運動如常，餘熱未除，消暑清心飲主之。聲音不全，二聖散取效。調理惟用萬安飲，恰九日前證俱減。張侯曰：此子更生，端藉藥力，不敢妄也。因筆漫紀，後有是證，仿此活人亦方便心矣。</p>

<h3>為醫要量大見高</h3>
<p>元貞乙未春，有王千戶來自廣西，安船河下。一子僅二周，患頭痛，服藥針灸不效，召以診視，色脈具好，惟額上微紅，以手法驗之，大哭淚下，其母怒而見紿，愚亦置之勿論，但究心以病為事，再問當間得證之因，千戶云：初在靜江，大風吹篷撲著便不快。予曰：此疾若令細揣頭上，便知其證。彼諾之。遂遣家人出外探親，其父自抱手揣之，果有小篾簽刺在囟上皮下，即篷簽也以酥油潤透，用摘鑷取出，痛定即安。若初以匹婦饒舌而退，則及幼之心不溥矣。後之醫流，儻見嬰孩色脈好而病者，用藥不應，必有他故，宜究心推原，切勿拘泥可也。</p>

<h3>遇諸塗救治驚風</h3>
<p>大德戊戌夏，因幹出郭，至五里外，見有夫婦二人，抱子而哭於道旁，問之，答曰：入城探親，三歲孩兒，忽得驚風，不省人事。觀其面青黯色，目閉神昏診之六脈全無，按太衝脈，沉而微有。余顧曰：毋慮此子可救，且左右竟無人家，遂於路側拾得破碗半邊，有姜小塊，細嚼捻汁碗中，用五苓散、蘇合香丸、寬氣飲，澆水調和灌下。十數次方覺氣回，聲出目開，自此蘇矣。漫附卷末，同志鑑之。</p>

<h1>卷下·信效方</h1>

<h2>湯散門</h2>

<h3>湯類</h3>

<h4>日生湯</h4>
<p>治吐瀉痢後，將傳慢驚慢脾，神昏脈弱，飲食不進，睡露揚睛，晝輕夜重，急宜投解。</p>
<p>北南星（一兩，銼破，瓦器盛東壁土同醋煮少時，濾干，切片，焙）　人參（去蘆）　冬瓜子仁</p>
<p>上件㕮咀，每服二錢，水一盞半，姜三片，慢火煎七分，候溫無時少與緩服。投之急必吐。</p>
<p>此後應諸湯散丸劑，所述服藥次序，不過言其大略。然煎煮調化，分數湯使下法，尤在臨時量兒大小，以意加減，或多或少，隨病輕重用之，余皆仿此，再不繁引。</p>

<h4>牛蒡湯</h4>
<p>主傷風發熱，煩躁，鼻塞氣喘，痰嗽驚啼，及諸瘡赤紫丹毒，咽喉腫痛。</p>
<p>牛蒡子（三兩，略少研碎）　大黃（一兩半）　防風（去蘆）　薄荷（去老梗，二味各一兩）　荊芥（去根老梗，四兩）　甘草（一兩一錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>黃芩四物湯</h4>
<p>理諸瘡丹毒，赤瘤燥癢。</p>
<p>黃芩（一兩）　當歸（酒洗）　生乾地黃　赤芍藥　川芎（四味各半兩）　何首烏（去粗皮）　草烏（炮，去皮）　玄參（三味各一錢半）　甘草（六錢）　薄荷葉（二錢）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>耆歸湯</h4>
<p>治小兒稟賦素弱，豆瘡出不快者，及肝虛目視不明。</p>
<p>黃耆（一兩，蜜水塗炙）　當歸（酒洗焙乾）　白芍藥　川芎（三味各半兩）　甘草（三錢，炙）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>枳實湯</h4>
<p>主傷風傷寒，胸滿氣促，咳嗽不活，食多夾痰吐出。</p>
<p>枳實（去瓤銼片，麥麩炒微黃）　赤茯苓（去皮，二味各半兩）　甘草（六錢）　半夏（七錢，湯煮透濾仍銼焙乾）　桔梗（七錢半，銼炒）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，煎七分，無時溫服。</p>

<h4>小柴胡湯</h4>
<p>治傷寒溫病，身熱惡風，胸滿肋痛，煩渴嘔噦，小便不利，大便秘硬，能解表裡邪毒，痰嗽氣喘。</p>
<p>柴胡（去蘆，二兩）　半夏（如前制）　黃芩　人參（去蘆）　甘草（四味各七錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，棗一枚，煎七分，無時溫服。或去棗，加薄荷同煎。</p>

<h4>防己湯</h4>
<p>治感冒風濕之氣，失於解表，流注兩足疼痛，至兩膝浮腫，不能屈伸，傳成癱瘓。</p>
<p>防己（去黑皮）　麻黃（去節存根，功全表裡，銼碎湯泡濾過焙乾）　薄桂（去粗皮，三味各半兩）　赤芍藥（一兩）　赤茯苓（去皮，一兩）　蒼朮（米泔水浸一宿去粗皮濾干銼片用火炒至微黃色，一兩）　甘草（炙，七錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，蔥一根，煎七分，空心熱服，或入薤白同煎。</p>

<h4>防風湯</h4>
<p>治急驚後，餘熱未退，時復手足搐掣，心悸不寧，及風邪中入肺經，兩目視入，開眨不常。</p>
<p>防風（去蘆）　川芎　大黃　白芷　黃芩　甘草（六味各半兩）　細辛（去葉，二錢）　薄荷葉（二錢半）</p>
<p>上件銼焙為末，每服一錢，用溫湯無時調服。</p>

<h4>知母湯</h4>
<p>治齁䶎氣喘，痰鳴發熱，咳嗽惡風。</p>
<p>知母　甘草（二味各半兩）　貝母　羌活　滑石（別研）　大黃　小麥子（五味各三錢）　麻黃（如前制）　苦葶藶　訶子肉（三味各一錢半）　薄荷（去梗，二錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，煎七分，無時溫服。</p>

<h4>白芍藥湯</h4>
<p>治冷疝腹痛，及誤汗誤下，即壞證傷寒是也。並宜先服，次投對證之劑。</p>
<p>白芍藥（一兩半）　澤瀉（去粗皮，七錢半）　甘草（三錢炙）　薄桂（去粗皮，一錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，空心溫服。誤汗誤下，加人參、南木香各二錢。臍下痛，入生薑及鹽同煎，加鉤藤亦好。</p>

<h4>茯苓厚朴湯</h4>
<p>主傷寒傷風，夾痰嘔逆，並吐瀉後，喉涎牽響，飲食減少，脾胃氣虛。</p>
<p>白茯苓（去皮）　半夏（如前制，二味各七錢半）　甘草（三錢，炙）　厚朴（五錢，去粗皮銼碎，每一斤用生薑一斤薄片切爛，杵拌勻，釀一宿，慢火炒乾用）</p>
<p>上件㕮咀，每服二錢，水一盞半，姜三片，煎七分，無時溫服。或加棗一枚去核同煎。</p>

<h4>茯神湯</h4>
<p>治心氣不足，虛而驚悸，日常煩哭，及嬰孩生下，羸瘦多驚，宜子母同服，自然有效。</p>
<p>茯神（去皮木根，一兩）　人參（去蘆，半兩）　甘草（炙，二錢）　當歸（去蘆尾，酒洗，半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。有微熱煩躁，入麥門冬去心同煎。</p>

<h4>守中湯</h4>
<p>理春夏相交，陰濕氣重，中傷脾胃，致腹痛泄痢，經久不止，漸傳手足浮腫，飲食少思。</p>
<p>桔梗（去蘆銼炒）　蒼朮（如前制，二味各一兩）　白姜（四錢，炮）　甘草（六錢，炙）</p>
<p>上件銼焙為末，每服一錢，空心沸湯調服，㕮咀水煎變可，或用薑、棗。</p>

<h4>瀉肺湯（即瀉白散）</h4>
<p>主傷風后，五心煩熱，咳嗽喘促，唇紅頰赤，發渴引飲。</p>
<p>桑白皮（銼炒）　地骨皮（淨洗焙乾，二味各二兩）　甘草（炙三錢）</p>
<p>上件㕮咀，每服二錢，水一盞，粳大米百粒，煎七分，食後臨臥溫服，或不拘時。</p>

<h4>五和湯</h4>
<p>主宣利臟腑積熱，調和榮衛。</p>
<p>當歸（酒洗）　赤茯苓（去皮，二味各半兩）　甘草（炙）　大黃　枳殼（水浸潤，去殼銼片，麥麩炒微黃，三味各七錢半）</p>
<p>上件㕮咀，每服二錢，水一盞。煎七分，無時溫服。</p>

<h4>養臟湯</h4>
<p>主生津益氣，溫腸止痢。</p>
<p>人參（去蘆）　甘草（炙，二味各二錢半）　白芍藥　白朮（二味各半兩）　南木香　肉桂（去粗皮，二味各一錢）　罌粟殼（去蒂，銼碎蜜水炒）　肉豆蔻　訶子肉（三味各一錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，棗一枚，煎七分，空心溫服。或入倉米同煎。</p>

<h4>貝母湯</h4>
<p>主百日內嬰孩，咳嗽有痰。</p>
<p>貝母（一兩）　甘草（半炙半生，二錢）</p>
<p>上件銼焙為末，每服一字或半錢，用陳大米煎湯，空心調服。痰盛，淡薑湯調下。</p>

<h4>固真湯</h4>
<p>主吐瀉痢後，胃虛脾慢，四肢口鼻寒冷，沉困不省人事。</p>
<p>人參（去蘆）　附子（湯浸炮裂去皮）　白茯苓（去皮）　白朮（四味各二錢半）　山藥（去黑皮）　黃耆（蜜炮塗炙）　肉桂（去粗皮）　甘草（濕紙裹煨透，四味各三錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜三片，棗一枚，煎七分，空心溫服，或無時。</p>

<h4>生地黃湯</h4>
<p>治胎黃，乳母服，嬰兒亦可少與含咽。</p>
<p>生乾地黃　赤芍藥　川芎　當歸（酒洗）　天花粉（五味各半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>姜橘湯</h4>
<p>治脾慢胃冷，嘔吐不止。</p>
<p>白姜（二錢，炮）　陳橘皮（去白，一兩）　粉草（炙，三錢）</p>
<p>上件銼焙為末，每服半錢或一錢，用溫棗湯調化，空心少與緩服。</p>

<h4>理中湯</h4>
<p>主溫脾暖胃，冷吐冷瀉，及治氣虛中寒腹痛。</p>
<p>人參（去蘆）　白朮（二味各一兩）　乾薑（炮）　粉草（炙，二味各錢半）</p>
<p>上件銼焙為末，每服半錢或一錢，用溫白湯空心調服。</p>

<h4>桂枝湯</h4>
<p>治太陽中風，陽浮而陰弱，陽浮者熱自發，陰弱者汗自出，嗇嗇惡寒，翕翕發熱，鼻嗚乾嘔者。</p>
<p>桂枝（去粗皮）　芍藥（二味各一兩半）　甘草（一兩）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，棗一枚，煎七分，不拘時溫服。</p>

<h4>麻黃湯</h4>
<p>治傷寒頭疼發熱，身痛無汗喘滿，又治太陽病脈浮緊無汗，發熱身痛，八九日，表證不解者。</p>
<p>麻黃（去根節，一兩半）　桂枝（去粗皮，一兩）　甘草（半兩）　杏仁（三十五粒，湯泡去皮）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>獨活湯</h4>
<p>治驚癱鶴膝，及中風濕，日久致腰背手足疼痛，晝輕夜重，及四肢痿痹不仁。</p>
<p>川獨活（黃色如兔眼者佳，半兩）　當歸（酒洗）　白朮　黃耆（蜜水，塗炙）　薄桂（去粗皮）　川牛膝（酒洗，五味各二錢半）　甘草（炙，三錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片。薤白一根，煎七分，空心熱服，或無時。</p>

<h4>五黃湯</h4>
<p>主解利遍身癰癤，惡核發熱，及丁黃腫毒丹瘤。</p>
<p>黃耆（一兩，生用）　黃連　黃芩　黃柏　大黃（四味各二錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，蜜一大匙，煎七分，無時溫服。</p>

<h4>化毒湯</h4>
<p>解風熱上攻，咽喉腫痛，飲食不便。</p>
<p>桔梗（銼炒，半兩）　薄荷葉　荊芥穗　甘草（三味各二錢半）　山豆根（取淨皮，一錢半）　牙硝　硼砂　朴硝　雄黃　硃砂（五味各二錢）</p>
<p>上前五味焙為末，後五味入乳缽細杵，同前藥末一處再杵勻，每用一字至半錢，乾點舌上化下，或以溫湯濃調，少與含咽亦可。</p>

<h4>青木香湯</h4>
<p>治小兒陰莖無故而腫或痛縮，初因陽明經有風熱，溫氣相傳，所以如是，法當寬此一經，其證自愈。蓋陽明受病，不能養其宗筋故也，宜服之。及咳嗽痰喘氣促。</p>
<p>青木香（去蘆）　枳殼（如前制，二味各半兩）　甘草（二錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，煎六分，無時溫服。</p>

<h4>排風湯</h4>
<p>治中風狂言，失音不語，精神昏困，驚癱鶴膝等證，及腫疾才愈後，偶感外風，滿面遍體虛浮，並宜可服。</p>
<p>白蘚皮　白朮　白芍藥　薄桂（去粗皮）　防風（去蘆）　川芎　當歸（酒洗）　杏仁（湯泡去皮尖）　甘草（炙，九味各半兩）　川獨活　麻黃（去根節）　白茯苓（去皮，三味各七錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，煎七分，無時溫服。</p>

<h4>中和湯</h4>
<p>此藥大能通和表裹，溫養脾胃，勻調氣血，順正陰陽，發散風寒，闢除腥穢，善使豆瘡易出易收，不致倒靨黑陷，傳變危急。兼治遍身癰癤已潰未潰，排膿止痛，自然消釋。常服清神駐顏，明目健脾，真元益固，邪氣無干。</p>
<p>人參（去蘆）　厚朴（如前制）　當歸（酒洗）　防風（去蘆）　白芷　肉桂（去粗皮）　桔梗　川芎　白芍藥　沉香　檀香　乳香　藿香葉　紫蘇葉　黃耆（蜜水塗炙）　甘草（十六味各半兩）</p>
<p>上件㕮咀，用無灰酒四兩，重拌勻曬乾，天陰略焙，每服一錢，水一盞，煎七分，無時溫服。</p>

<h4>人參甘桔湯</h4>
<p>感冒風熱，火氣熏逼，豆瘡蘊毒上攻，咽喉腫痛，痰氣不順，咳嗽失音，飲食減少，並宜治之。</p>
<p>人參（去蘆，半兩）　桔梗（銼，用蜜水浸透，一兩）　甘草（半生半炙，三錢）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服，風熱加荊芥、杏仁煎。豆瘡後目生翳膜，用蟬殼淨洗去嘴足同煎。咽痛人硼砂末煎，去渣無時含咽。</p>

<h4>人參芎歸湯</h4>
<p>治九道血妄行。</p>
<p>人參（去蘆）　川芎　當歸（酒洗，三味各半兩）　荊芥（二錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>五拗湯</h4>
<p>治感風濕，及形寒飲冷，痰嗽咳逆，連聲不已。</p>
<p>麻黃（不去根節）　杏仁（不去皮尖）　荊芥（不去梗）　桔梗（四味各五錢，用蜜水炒，銼用）　甘草（二錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>六和湯</h4>
<p>治心脾不和，氣不升降，霍亂吐瀉，咳嗽胸滿，頭目疼痛，嗜臥倦怠，並陰陽不分，冒暑伏熱煩悶，成痢中酒作渴，心逆畏食。</p>
<p>人參（去蘆）　縮砂仁　甘草（炙）　杏仁（湯泡去皮尖）　半夏（如前制，五味各一兩）　香薷　厚朴（如前制，二味各四兩）　白扁豆（炒熟，銼去殼，一斤，用生薑一斤碎切爛煮，拌勻，釀經一宿，焙乾）　藿香　赤茯苓（去皮）　木瓜（各一兩）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，棗一枚，煎七分，無時溫服。或入鹽半字同煎。</p>

<h4>黃耆六一湯</h4>
<p>治諸虛不足，煩躁驚悸目揚，身體軟弱，不思飲食。</p>
<p>黃耆（六兩，蜜水塗炙）　甘草（一兩，炙）</p>
<p>上件㕮咀，每服二錢，水一盞，刺二枚，煎七分，無時溫服。</p>

<h4>真武湯</h4>
<p>治傷寒諸疾後，表裡俱虛，煩渴有熱，遍身汗出。</p>
<p>白茯苓（去皮）　白芍藥（二味各七錢半）　白朮　附子（如前制，二錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，煎七分，無時溫服。</p>

<h4>牡蠣大黃湯</h4>
<p>治三五歲小兒，感受溫濕之氣，侵襲膀胱，致陰莖膚囊浮腫作痛。</p>
<p>牡蠣（用熟黃泥包裹，夾水煅透，出地上候冷用）　大黃（紙裹水浸透，炮過候冷，二味各一兩）</p>
<p>上件銼研為末，每服一錢，用無灰溫酒空心調服。不能飲者，溫湯調，少入酒同服。</p>

<h4>坎離湯</h4>
<p>治虛喘晝輕夜重，食減神昏。</p>
<p>蓽澄茄　石菖蒲（二味各一錢）　白朮　白茯苓（去皮）　南木香（三味各二錢）　甘草（炙）　半夏（如前制）　紫蘇子（略炒杵碎，三味各四錢）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>清脾湯</h4>
<p>治諸瘧久不瘥者，脾胃虛弱，形容憔悴。</p>
<p>厚朴（如前制，一兩）　烏梅（打破去仁）　半夏（如前制）　良薑（銼用東壁土炒）　青皮（去白，四味各半兩）　甘草（炙，三錢）　草果（炮去殼取仁，二錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，煎七分，未發前並三服，仍忌生冷油膩時果毒物。</p>

<h4>麥門冬湯</h4>
<p>解斑疹熱毒，頭痛煩悶，狂渴妄語。</p>
<p>麥門冬（去心）　乾葛（二味各三錢）　人參（去蘆）　赤芍藥　升麻　赤茯苓（去皮）　甘草（五味各二錢）　石膏末（五錢）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>化丹湯</h4>
<p>解利丹毒，遍身燥癢，發熱煩啼。</p>
<p>川獨活　射（音夜）干　麻黃（如前制）　青木香　甘草　黃芩　薄桂（去粗皮）　石膏末（八味各五錢）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>茴香湯</h4>
<p>和脾胃，進飲食，理腹痛，散邪氣。</p>
<p>茴香（炒）　良薑（銼，用東壁土炒，二味各一兩半）　蒼朮（如前制，二兩）　甘草（炙，一兩）</p>
<p>上件銼焙為末，每服一錢，燒鹽湯空心調服。</p>

<h4>大柴胡湯</h4>
<p>疏利風熱，痰嗽腹脹，及里證未解。</p>
<p>柴胡（去蘆，四兩）　黃芩　芍藥（二味各一兩半）　大黃　半夏（如前制，二味各七錢半）　枳實（如前制，七錢）　甘草（一兩，小方故加用）</p>
<p>上件㕮咀，每服二錢，水一盞，姜三片，煎七分，無時溫服。</p>

<h4>快膈湯</h4>
<p>理胸膈不快，飲食少進，亦能順氣和中，消導宿滯。</p>
<p>人參（去蘆）　青皮（去白）　縮砂仁　烏藥　良薑（如前制）　香附子　甘草（炙，七味各一兩）</p>
<p>上件銼碎為末，每服一錢，溫鹽湯空心調服。</p>

<h4>升麻湯</h4>
<p>治時行瘟疫，頭痛發熱，肢體煩疼，及瘡疹未見形先，疑貳之間，並宜可服。大能和順血脈，解諸餘毒斑證等疾。</p>
<p>升麻　乾葛　芍藥（三味各一兩）　甘草（半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>小陷胸湯</h4>
<p>治六七歲以上之兒，小結胸證。</p>
<p>半夏（如前制，一兩）　淨黃連　栝蔞實（各半兩）</p>
<p>上件㕮咀，每服二錢，水一盞半，白蜜一大匙，煎至八分，無時溫服。未效再投，得微下黃涎為好也。</p>

<h3>散類</h3>

<h4>百解散</h4>
<p>主和解百病，虛慢陰證不宜。</p>
<p>乾葛（二兩半）　升麻　赤芍藥（二味各二兩）　黃芩（一兩）　麻黃（如前制，七錢半）　薄桂（去粗皮，二錢半）甘草（一兩半）</p>
<p>上件㕮咀，每服二錢，水一盞，姜三片，蔥一根，煎七分，無時溫服。有風熱盛，加薄荷同煎。</p>

<h4>五苓散</h4>
<p>解傷寒溫濕，暑毒霍亂，分陰陽，理煩渴。</p>
<p>澤瀉（去粗皮，二兩半）　白茯苓（去皮）　豬苓（去皮）　白朮（三味各一兩半）　肉桂（去粗皮，七錢，不過火）</p>
<p>上前四味銼焙，入桂同研為末，每服二錢，溫湯調下，不拘時。若作㕮咀，用赤茯苓，分兩同前，每服二錢，水一盞，煎七分，無時溫服。其餘活法，明本論中隨證詳述。</p>

<h4>當歸散</h4>
<p>調順氣血，和解表裡，爽利心腹，疏理百病，及治溫熱停積，白痢，煩躁不寧。</p>
<p>當歸（去蘆酒洗）　赤芍藥（二味各二兩）　大黃（半生半炮一兩二錢）　川芎　麻黃（如前制，二味各半兩）　甘草（半生半炙，一兩）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，煎七分，無時溫服。</p>

<h4>三解散（一名寧心湯）</h4>
<p>主上焦蘊熱傷風，面紅目赤，狂躁氣急，渴水驚啼煩悶，丹毒口瘡，痰嗽搐掣。</p>
<p>人參（去蘆）　防風（去蘆）　天麻　茯神（去皮木根）　鬱金（無，以山梔仁代）　白附子　大黃（七味各二錢半）　赤芍藥　黃芩　殭蠶（三味各五錢）　全蠍（十五尾，去尖毒）　枳殼（二錢，如前制）　粉草（六錢）</p>
<p>上件銼焙為末，每服半錢至一錢，用溫薄荷湯，無時調下，或燈心湯。</p>

<h4>勻氣散</h4>
<p>主調補通利後，及冷疝腹痛，氣滯不和。</p>
<p>桔梗（二兩，銼炒）　陳皮（去白，一兩）　縮砂仁　茴香（二味各半兩）　白姜（二錢，半炮）　粉草（四錢，炙）</p>
<p>上件銼焙為末，每服半錢或一錢，空心沸湯調服，冷疝腹痛，燒鹽湯調下。</p>

<h4>雄黃散</h4>
<p>主暴中急慢驚風，齁䶎痰涎滿口，及雨侵閉汗不通，或涼或熱，坐臥生煩。</p>
<p>雄黃（紅亮者，二錢半）　白藥（去黑皮）　川烏頭（炮裂去臍）　草烏（炮裂去皮）　天麻（明亮者）　川芎（五味各半兩）</p>
<p>上除雄黃外，餘五味銼焙，同雄黃為末，驚風痰壅，每服半錢或一錢，用薑汁、茶清調下，發汗，水薑、蔥、薄荷同煎，並投三服取效。</p>

<h4>惺惺散</h4>
<p>主傷風傷寒，痰嗽咳逆，理虛和氣，寧心清肌，止啼去煩，利咽膈，解失音。</p>
<p>人參（去蘆，半兩）　桔梗（銼破）　白茯苓（去皮）　白朮　天花粉（四味各一兩）　細辛（去葉，二錢）　防風（去蘆）　川芎　南星（生用，三味各二錢半）　甘草（半生半炙，七錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，薄荷三葉，慢火煎七分，無時溫服。</p>

<h4>木通散</h4>
<p>主上膈熱，小府閉，煩躁生嗔，及淋證諸瘡丹毒。</p>
<p>木通（去皮節）　地萹蓄（去老梗，二味各半兩）　大黃　甘草　赤茯苓（去皮，三味各三錢）　瞿麥（去幹梗）　滑石末　山梔仁　車前子　黃芩（五味各二錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，燈心三莖，煎七分，無時溫服。或入薄荷同煎。</p>

<h4>烏梅散</h4>
<p>治腹疼，及初生嬰孩臍下冷痛疝氣等疾。</p>
<p>烏梅（和核）　玄胡索　粉草（半生半炙，三味各五錢）　乳香　沒藥　鉤藤（和鉤，三味各二錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，空心溫服。</p>

<h4>黃金散</h4>
<p>解口內舌上瘡毒，及治豆瘡後目生醫膜。</p>
<p>黃柏（去粗皮，用生蜜潤透，烈日下曬乾，再塗上蜜，凡經十數次為度）　粉草（二味各一兩）</p>
<p>上件銼焙，研為細末，治口瘡用藥末乾點患處，或用麥門冬熟水調點舌上，令其自化。治豆瘡後目生翳膜，湯泡澄清，無時頻洗，仍投糖煎散、柿煎散二藥。</p>

<h4>平胃散</h4>
<p>主脾胃不和，嘔逆咽酸，霍亂腹痛。</p>
<p>厚朴（如前制）　陳皮（去白，二味各二兩半）　蒼朮（如前制四兩）　甘草（一兩）</p>
<p>上件銼焙為末，每服半錢至一錢，薑、棗煎湯，空心溫服，燒鹽湯亦好。</p>

<h4>七寶散</h4>
<p>治時氣傷風傷寒，頭昏體熱咳嗽，及脾胃肺臟不和，口中腥氣異常，或牙縫微有鮮血，兼調理諸病後小證得中，以其品味不僭不燥為佳。</p>
<p>紫蘇（去老梗）　淨香附（二味各三兩）　陳皮（去白）　甘草（二味各一兩半）　桔梗（二兩半，銼炒）　川芎　白芷（二味各一兩）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，煎七分，無時溫服。咳嗽加製半夏口腥氣入鹽煎，調理諸疾加棗子煎。</p>

<h4>三稜散</h4>
<p>主諸般停滯，疳積發熱，瀉痢酸餿，水穀不化，常服和脾胃，進飲食，長肌肉，益神氣。</p>
<p>人參（去蘆，七錢半）　三稜（炮銼）　淨香附（二味各一兩半）　青皮（去白）　益智仁　陳皮（去白）　半夏（如前制）　枳殼（如前制）　神麯（炒）　穀芽（洗焙）　莪朮（醋煮透，濾干銼焙）　大黃（半生半炮）　紫蘇（去老梗，十味各半兩）　甘草（半生半炙，一兩二錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，倉米百粒，煎七分，無時溫服。氣虛勞加白茯苓一兩。</p>

<h4>立消散</h4>
<p>治膀胱久受熱毒，致陰器膚囊赤腫脹痛。</p>
<p>赤小豆　赤芍藥　枳殼（生用）　風化朴硝（臨入末藥拌勻）　商陸（五味各半兩）</p>
<p>上件不過火，銼曬為末，柏枝煎湯，候冷調二錢或三錢塗腫處，仍服㕮咀五芩散，加車前子、薏苡仁，水煎。</p>

<h4>天竺黃散</h4>
<p>主上焦風熱，口鼻生瘡，兩目赤腫，咽膈不利，痰涎壅滯，氣不通暢，驚搐煩悶，神思昏迷。</p>
<p>天竺黃　鬱金（無，以山梔仁代）　茯神（去皮）　甘草（四味各半兩）　硼砂　牙消　白芷　川芎　殭蠶（去絲）　枳殼（如前制，六味各二錢半）　硃砂（水飛，二錢）　麝香（一字）　蟬殼（十五，洗去泥土觜足）</p>
<p>上除硼砂、牙消、硃砂、麝香四味，乳缽細杵，餘九味焙乾末，同入乳缽內再杵勻，每服半錢或一錢，溫薄荷湯，無時調服，或麥門冬湯。</p>

<h4>連床散</h4>
<p>治滿頭如癩瘡毒，及手足身上，陰器膚囊，癢則抓爛，黃汁淋漓燥痛。</p>
<p>淨黃連（一兩）　蛇床子（去埃土，半兩）　五倍子（去內蟲屑，二錢半）　輕粉（十五貼）</p>
<p>上前三味，曬乾為末，再入乳缽內，同輕粉杵勻，用清油稀調二錢或三錢，塗搽患處，必先以荊芥和蔥煮水，候涼淨洗拭乾，後敷藥。</p>

<h4>川草散</h4>
<p>治腹痛下痢赤白，不拘遠近。</p>
<p>川芎　白芷　甘草（半生半炙，三味各七錢）　赤芍藥　當歸（酒洗）　淨黃連（三味各五錢）</p>
<p>上件銼焙為末，每服半錢至一錢，白痢白薑湯調，赤痢甘草湯調，赤白痢溫米清湯調，並空心服。</p>

<h4>柿煎散</h4>
<p>治豆瘡後目生醫膜。</p>
<p>白菊花　綠豆殼　穀精草（三味各一兩）</p>
<p>上為㕮咀，每服二錢，乾柿一枚，粟米泔汁大盞，慢火煎乾去渣，食後臨睡，止吃柿肉，一日三枚，倍加尤好。如嬰孩小，乳母可服，或用煮過柿子去核，薄切焙為細末，炒半錢，溫米泔水調化，無時與兒服亦可。</p>

<h4>拂毒散</h4>
<p>治諸風熱陰毒腫，核已結成未穿潰，或正發者。</p>
<p>半夏（一兩，生用）　貝母　大黃（二味各半兩）　朴硝　五倍子（去內蟲屑，二味各二錢半）</p>
<p>上件銼焙為末，用醇醋調一錢或二錢，塗患處，如干再塗，仍服疏風化毒之劑。</p>
<p>余藥成末，除朴硝，臨入杵勻用。</p>

<h4>金鈴散</h4>
<p>治疝氣腹痛，投諸藥後，愈而復作宜服。</p>
<p>金鈴子肉（六錢）　三稜（炮銼）　莪朮（醋煮銼）　青皮（去白）　陳皮（去白，四味各二錢半）　赤茯苓（去皮）　茴香（二味各半兩）　南木香（二錢）　甘草（四錢，炙）　檳榔　枳殼（如前制）　鉤藤（和鉤，三味各三錢）</p>
<p>上除檳榔、木香不過火，餘十味銼焙，仍同木香、檳榔為末，每服半錢至一錢。仍用炒茴香煎無灰酒空心調服，不飲酒者，煎炒茴香湯調下。</p>

<h4>消黃散</h4>
<p>治風熱溫氣上攻，舌硬腫大不消。</p>
<p>風化朴硝　真蒲黃（二味各半兩）</p>
<p>上蒲黃曬乾為末，同朴硝乳缽內細杵勻，每用一字至半錢，點揩舌上下。</p>

<h4>疏風散</h4>
<p>主小兒薄劣，跌觸頭腦，或弄刀錐，因而破血感風，致面目傷痕浮腫。</p>
<p>荊芥穗（一兩）　防風（去蘆，二錢半）　甘草（半生半炙，二錢）</p>
<p>上銼焙為末，每服一錢，用無灰溫酒調服，或蔥湯亦好。</p>

<h4>陳氏木香散</h4>
<p>能和表裡，通行津液，清上實下，扶陰助陽，及治腹脹瀉渴，溫壯豆瘡。</p>
<p>南木香　厚桂（去粗皮）　陳皮（去白）　訶子肉　丁香　人參（去蘆）　赤茯苓（去皮）　半夏（如前制）　甘草（半生半炙）　大腹皮（淨洗焙）　前胡（去蘆，十一味各半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>陳氏異功散</h4>
<p>能除風寒濕痹，調和陰陽，滋養血氣，使豆瘡易出易斂，不致癢塌瀉痢。</p>
<p>南木香　當歸（酒洗）　人參（去蘆）　肉豆蔻　陳皮（去白）　丁香　白茯苓（去皮）　厚桂（去粗皮）　白朮　厚朴（如前制）　半夏（如前制）　附子（如前制，二味各二錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，棗一枚，煎七分，空心溫服，或不拘時。</p>

<h4>羌活散</h4>
<p>治傷風時氣，頭痛發熱，身體煩疼，痰壅咳嗽，失音鼻塞聲重，及解時行下痢赤白。</p>
<p>人參（去蘆）　羌活　赤茯苓（去皮）　柴胡（去蘆）　前胡（去蘆）　川芎　獨活　桔梗（銼炒）　枳殼（如前制）　蒼朮（如前制）　甘草（十一味各一兩）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，薄荷三葉，煎七分，無時溫服。發散風邪入蔥白同煎，痢證姜倉米煎。</p>

<h4>香薷散</h4>
<p>主夏秋臟腑冷熱不調，或飲食起居不節，致吐痢心腹疼痛，發熱煩悶，身體拘急，或腳轉筋，四肢厥冷，有似陰證，但口氣溫，脈按沉緊為驗。</p>
<p>陳香薷（去老梗，三兩）　白扁豆（如前制）　厚朴（如前制，二味各一兩半）</p>
<p>上三味，六兩㕮咀了，用無灰酒三兩拌勻，仍曬乾或焙，臨入㕮咀生甘草一兩和勻，每服二錢。水一盞，煎七分，去渣，以瓦器盛在水中沉溫，不拘時服。如熱極或瀉痢中有鮮血者，加淨黃連一兩，細銼拌勻，名黃連香薷散，下法如前。</p>

<h3>瀉黃散</h3>
<p>治胃虛脾實，生熱煩渴，頭痛惡心。</p>
<p>藿香葉（七錢半）　梔子仁　防風（去蘆，二味各一兩）　甘草（四錢半）　石膏末（八錢）</p>
<p>上前四味銼，同石膏末用酒蜜微炒香，為㕮咀，每服二錢，水一盞，煎七分，空心溫服。</p>

<h4>調元散</h4>
<p>主稟受元氣不足，顱囟間解，肌肉消瘦，腹大如腫，致語遲行遲，手足如癇，神色昏慢，齒生遲者，服之有效。</p>
<p>乾山藥（去黑皮，五錢）　人參（去蘆）　白茯苓（去皮）　茯神（去皮木根）　白朮　白芍藥　熟乾地黃（酒洗）　當歸（酒洗）　黃耆（蜜水塗炙，八味各二錢半）　川芎　甘草（炙，二味各二錢）　石菖蒲（二錢）</p>
<p>上為㕮咀，每服二錢，水一盞，姜二片，棗一枚，煎七分，無時溫服。如嬰孩幼嫩，與乳母同服。</p>

<h4>醒脾散</h4>
<p>主醒脾養胃，止吐痢，進飲食，及調理病後神昏目慢，貪睡多困，脈弱氣短，微有痰涎，並宜投服。</p>
<p>人參（去蘆）　白茯苓（去皮）　藿香葉　白朮　甘草（炙，五味各五錢）　丁香（四十粒，不見火）　大南星（八錢，銼作小塊，紙裹水透濕，炮過用）　縮砂仁（四十粒）</p>
<p>上為㕮咀，每服二錢，水大盞，姜三片，冬瓜子仁五十粒杵碎慢火煎七分，空心緩投服之，急必吐。</p>

<h4>醍醐散</h4>
<p>治吐瀉後，調和脾胃，消進飲食，及丁奚哺露，虛熱煩渴，氣逆心惡。</p>
<p>陳皮（去白）　縮砂仁　厚朴（如前制）　麥芽（洗淨焙乾）　烏梅（和核，五味各五錢）　良薑（如前制）　乾葛　烏藥（三味各二錢半）　草果仁（炮，二錢）　甘草（炙，三錢）</p>
<p>上為㕮咀，每服二錢，水一盞，姜二片，棗一枚，鹽少許，煎七分，空心溫服。</p>

<h4>二聖散</h4>
<p>治風痰壅閉，語音不出，氣促喘悶，手足動搖，似搐非搐。</p>
<p>訶子（十個，大者，半生半炮去核）　大腹皮（洗淨焙乾，五錢）</p>
<p>上為㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>補肺散</h4>
<p>治久患咳嗽，肺虛氣促，有痰噁心。</p>
<p>阿膠（一兩半，銼炒）　白茯苓　馬兜苓（去老梗）　糯米（三味各半兩）　杏仁（二十一粒，湯泡去皮尖）　甘草（四錢，炙）</p>
<p>上為㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>安神散</h4>
<p>治吐瀉諸病後，心虛煩悶，觸物易驚，氣鬱生涎，涎與氣搏，睡不得寧，預防變生他證。</p>
<p>人參（去蘆）　白茯苓（去皮）　半夏（如前制）　甘草（炙）　陳皮（去白）　枳實（如前制，六味各五錢）</p>
<p>上為㕮咀，每服二錢，水一盞，姜二片，刺一枚，竹茹小圍，煎七分，無時溫服。有微熱微渴，入麥門冬去心同煎。</p>

<h4>燒鹽散</h4>
<p>治走馬疳，牙根肉潰爛黑臭。</p>
<p>橡斗（不拘多少）</p>
<p>上件每服大者兩個，入鹽滿殼，蓋作一合，或五六個，或十數個，安在火內，和鹽燒透，取出地上，以瓦碗蓋定，存性候冷，入麝香少許，乳缽內極細杵勻，每以半錢塗搽患處，常收用小瓦合盛貯，勿使紙裹，蓋鹽能作潤。</p>

<h4>綠袍散</h4>
<p>治重舌，及滿口內外瘡毒，咽膈不利。</p>
<p>薄荷（去老梗）　荊芥穗（二味各五錢）　青黛　玄明粉　硼砂（三味各二錢半）　百藥煎　甘草（二味各三錢）</p>
<p>上件銼焙為末，除玄明粉、硼砂二味，在乳缽內細杵，同煎藥末再杵勻，用一字至半錢，乾點舌上。令其自化，或以新汲水入蜜調點舌上亦好。</p>

<h4>益黃散</h4>
<p>治脾虛受冷，水穀不化，泄瀉注下，盜汗出多。</p>
<p>陳皮（去白）　肉豆蔻（炮，二味各五錢）　丁香（二錢）　訶子肉（炮去核，二錢）　甘草（炙，二錢半）</p>
<p>或件㕮咀，每服二錢，水一盞，煎七分，空心溫服。</p>

<h4>解表散</h4>
<p>主傷風感冷，咳嗽痰喘，嘔吐瀉痢驚悸，有熱證在表裡發，當用氣解藥可投。</p>
<p>麻黃（如前制）　杏仁（湯炮去皮尖）　赤茯苓（去皮，三味各一兩）　川芎　防風（去蘆）　枳殼（如前制，三味各二兩）　甘草（半生半炙，七錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，蔥一根，煎七分，無時溫服。有熱入薄荷同煎。</p>

<h4>參苓白朮散</h4>
<p>主脾胃虛弱，飲食不進，多困少氣，中滿痞噫，嘔吐咳逆，此藥不寒不熱，性味溫平，常服調脾悅色，順正去邪。</p>
<p>人參（去蘆）　白茯苓（去皮）　粉草　白朮　白扁豆（如前制）　山藥（去黑皮）　縮砂仁　薏苡仁　桔梗（銼炒，九味各一兩）　蓮子肉（去心煎）</p>
<p>上件銼焙為末，每服半錢至一錢，用棗湯空心調眼，或溫米湯亦可。</p>

<h4>守胃散</h4>
<p>治陰陽不和，吐瀉不止，預防風證，常服調脾胃，進飲食。</p>
<p>人參（去蘆）　白朮　白茯苓（去皮）　山藥（去黑皮）　乾葛　扁豆（如前制）　南星（如前制）　甘草　藿香（去老梗）　防風（去蘆）　天麻（十一味各半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，冬瓜子仁五十粒，掐碎煎七分，空心溫服。</p>
<p>如瀉不止，入沉香、白豆蔻同煎。</p>

<h4>南星腹皮散</h4>
<p>主腫疾欲愈未愈之間，脾胃虛慢，氣促痰喘，腹脹胸滿，飲食減，精神困，小便不利，面色痿黃。</p>
<p>南星（同煎制，一兩）　大腹皮（淨洗焙乾）　生薑皮　陳皮（去白）　青皮（去白）　桑白皮（銼炒）　甘草（炙）　扁豆（同前制，七味各半兩）</p>
<p>上為㕮咀，每服二錢，水一盞，姜二片，煎七分，無時溫服。</p>

<h4>導赤散</h4>
<p>治心經壅熱，煩躁睡語，或時復上竄咬（五巧切牙），小便黃澀，久則成驚，觸物易動。</p>
<p>生乾地黃（淨洗）　木通（去皮節，二味各一兩）　黃芩　赤茯苓（去皮，二味各二錢半）　甘草（三錢）</p>
<p>上為㕮咀，每服二錢，水一盞，竹葉三片，煎七分，無時溫服。或加麥門冬去心同煎。</p>

<h4>錢氏白朮散</h4>
<p>治脾胃不和，嘔吐瀉痢，噁心發渴，大能補虛損，調榮衛。</p>
<p>南木香　白朮（二味各半兩）　人參（去蘆）　白茯苓（去皮）　藿香葉　甘草（四味各一兩）　乾葛（二兩）</p>
<p>上為㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>和中散</h4>
<p>主久病方愈，面黃清瘦，神昏氣弱，脾胃未實，食物過傷，停飲生痰，留滯中脘，耗虛真氣，或成吐瀉，此藥性味甘平，大能調治。常服和胃氣，進飲食，悅顏色，理風痰。</p>
<p>人參（去蘆）　白扁豆（同前）　白茯苓（去皮）　川芎　縮砂仁　香附子　半夏（同前制）　甘草（八味各一兩）　肉豆蔻　訶子（去核，二味各七錢）</p>
<p>上為㕮咀，每服二錢，水一盞，姜二片，棗一枚，煎七分，空心溫服，或不拘時。</p>

<h4>糖煎散</h4>
<p>治豆瘡餘毒，攻目成翳，澀痛有熱，多淚羞明。</p>
<p>赤芍藥　當歸尾　大黃　川芎　荊芥　防風（去蘆）　漢防己（去黑皮）　龍膽草　黃耆（生用）　黃芩（十味各半兩）</p>
<p>上為㕮咀，每服二錢，水一盞，沙糖小塊，煎七分，食後臨睡溫服或無時。</p>

<h4>六柱散</h4>
<p>治吐痢泄瀉，胃虛脾慢，手足俱冷，六脈沉微。</p>
<p>人參（去蘆）　白茯苓（去皮）　熟附子　南木香　肉豆蔻　白朮（六味各半兩）</p>
<p>上為㕮咀，每服二錢，水一盞，姜二片，棗一枚，煎七分，不拘時溫服。</p>

<h4>九仙散</h4>
<p>解諸目疾，不拘歲月遠近，並宜先服。</p>
<p>柴胡（去蘆）　蒼朮（同前制，二味各二兩）　赤芍藥　荊芥　甘草（三味各六錢半）　麻黃（同前制）　川芎　薄荷（和梗，三味各半兩）　旋覆花（去老梗，三錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，蔥一根，煎七分，不拘時溫服。</p>

<h4>草龍膽散</h4>
<p>治暴赤火眼，晝夜澀痛，作腫淚多。</p>
<p>草龍膽　木賊（去節）　荊芥　菊花　防風（去蘆）　草決明（半生半炒）　甘草（七味各半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服，痛甚加羌活、乳香同煎。</p>

<h4>金波散</h4>
<p>治時行赤眼，腫痛成翳，有熱多淚。</p>
<p>淨黃連（一兩）　硼砂　寒水石　大黃（三味各二錢）　海螵蛸　銅青（二味各一錢）　玄明粉（二錢半）　麝香（一字）　全蠍（七尾，去尖毒）</p>
<p>上除玄明粉、麝香，餘七味銼曬為末，仍入玄明粉、麝香，乳缽內同前藥末杵勻，每用一字至半錢，溫淨湯或涼水調化，澄清去渣，無時頻洗。有風夾蟲作癢，入輕粉取效，仍忌酒葷三五日。</p>

<h4>內金散</h4>
<p>治牙根肉臭爛黑色，有蟲作痛。</p>
<p>雞內金（即雞肫內粗皮，陰乾，一兩）　白芷　銅青（三味各半兩）　麝香（一字）</p>
<p>上前三味，銼曬或焙為末，仍以麝香乳缽內同杵勻，每用一字或半錢，乾擦患處，先用溫鹽水灌漱，後敷藥。</p>

<h4>霹靂散</h4>
<p>解急慢驚風，不省人事。</p>
<p>豬牙皂角（三錢）　細辛　川芎　白芷（三味各二錢）　躑蠋（一錢半）</p>
<p>上件銼曬為末，每以少許，用大燈心三寸長，蘸點鼻內，得噴嚏為驗，前藥不可焙，焙則不應。</p>

<h4>順搐散</h4>
<p>解男上女左搐不順者。</p>
<p>枳殼（如前制）　鉤藤（去鉤）　荊芥　羌活　防風（去蘆）　甘草（六味各半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，順切姜三片，煎七分，無時溫服。或入薄荷同煎。</p>

<h4>外消散</h4>
<p>治嬰孩初生，旬日外臍突，或痛或不痛，痛則啼聲不己，及療小兒因感溫熱相搏，致陰器膚囊浮腫。</p>
<p>大黃　牡蠣（如前制二味各半兩）　朴硝（二錢）</p>
<p>上前二味，銼焙為末，仍入朴硝，乳缽內同杵勻，抄一錢或二錢，取田螺三枚淨洗，再以水半碗活過一宿，去螺用水，調塗腫處即消，其螺仍放水中勿害之。昔賢有曰：殺生救生，去生遠矣。物命雖微，亦可戒也。治陰器膚囊腫，車前子煎湯候冷，調敷患處。</p>

<h4>活血散</h4>
<p>解破血傷風。</p>
<p>當歸（酒洗）　生乾地黃　酒洗　川芎　紅花　赤芍藥　蘇木（六味各半兩）　甘草（三錢）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>桃花散</h4>
<p>治一切破損肢體，血出作痛。</p>
<p>好石灰（用紗淨節，十兩）　清油（小半燈盞）　大黃（五錢，銼碎水浸透，取汁大半盞）</p>
<p>上石灰先用鐵鐺炒令帶熱，次入大黃汁、清油和勻，仍以慢火炒如桃花色，烏盆盛之，傾出在內，浮而不沉，鵝翎拂聚紙上，別著瓦器收藏，凡是破損傷痕，用塗立效，仍服疏風散、活血散。</p>

<h4>三白散</h4>
<p>解初中腫疾，四肢膚囊浮脹，大小便不利，皆因膀胱蘊熱，風濕相乘。</p>
<p>白牽牛（半生半炒，杵碎）　桑白皮（銼炒）　白朮　木通（去皮節）　陳皮（去白）　甘草（六味各半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>麝香人齒散</h4>
<p>治豆瘡黑陷，因毒氣入腎，而形於外。</p>
<p>麝香（少許）　活人牙齒（不拘多少，火煅過，得小兒自脫者佳）</p>
<p>上二味同研為末，每用半錢至一錢，無灰溫酒調下，止以一服。然此藥固好，但人齒難得，當用一匕金取效。</p>

<h4>四黃散</h4>
<p>治小兒身上一切熱毒瘡疾燥癢，抓破有汁不幹。</p>
<p>淨黃連　黃柏　黃芩　大黃　滑石（五味各半兩）　五倍子（去內蟲屑，二錢半）</p>
<p>上件銼曬為末，用清油入桐油和調二錢至三錢，塗搽患處，仍服四順飲、消毒飲。</p>

<h4>薄荷散</h4>
<p>治陽證脫肛。</p>
<p>薄荷（和梗）　骨碎補（去毛，二味各半兩）　甘草（二錢半）　金罌刺根（七錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，入無灰酒大匙，煎七分，空心溫服，或無時。</p>

<h4>槲皮散</h4>
<p>解瘰癧作腫疼痛。</p>
<p>槲皮（仍去粗皮，此樹在處有之即包鹽槲葉木也）</p>
<p>上件不拘多少，銼碎煮水候溫，頻洗患處。</p>

<h4>白芨散</h4>
<p>治瘰癧膿汁不幹。</p>
<p>白芨　貝母　淨黃連（三味各半兩）　輕粉（三十帖）</p>
<p>上前三味，銼焙為末，仍以輕粉乳缽內同杵勻，抄一錢至二錢，清油調擦患處。必先用槲皮散煮水候溫，淨洗拭乾方塗藥。</p>

<h4>二香散</h4>
<p>治同煎證。</p>
<p>白膠香　降真香（用心無土氣者）　海螵蛸　五倍子（去內蟲屑，四味各半錢）</p>
<p>上件為末，如前先用槲皮散煮水淨洗患處，後以此藥一錢或二錢干塗上，外將水紙封掩，三五次即效。</p>

<h4>萬金散</h4>
<p>治水瀉下痢，久不瘥者。</p>
<p>罌粟殼（去蒂，二兩，一兩銼碎醋蜜炒，一兩生用）　陳皮（去白，二兩）　甘草（不去節，二兩，一兩炙，一兩生用）　烏梅（和核，一兩）</p>
<p>上件㕮咀，每服二錢，熱湯一盞，略煎二沸，和渣傾出碗內，上以盞蓋定，候澄清去渣，空心溫服。</p>

<h4>神效散</h4>
<p>治赤白痢晝夜頻數，食減腹痛，小便不利。</p>
<p>罌粟殼（去梗蒂，銼碎蜜水炒）　白芷　烏梅（和核，三味各一兩）　乳香　撫芎（二味各半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，空心溫服。</p>

<h4>赤葛散</h4>
<p>治因血熱與風熱相搏，遍身丹毒燥癢，日久不消。</p>
<p>赤葛（二兩）　甘草（三錢）</p>
<p>上件㕮咀，每服二錢，無灰酒一盞，煎七分，無時溫服。不飲酒者，止用水一盞，入酒大匙同煎。</p>

<h4>四聖散</h4>
<p>主嬰孩胎受熱毒，生下兩目不開。</p>
<p>燈心　黃連　秦皮　木賊　棗子（和核，五味各半兩）</p>
<p>上為㕮咀，每服二錢，水一盞，煎七分，澄清去渣，無時頻洗，兩目自開。</p>

<h4>天花散</h4>
<p>治外腎膚囊腫痛。</p>
<p>天花粉（二兩）　甘草（三錢）</p>
<p>上件㕮咀，每服二錢，無灰酒一盞，煎七分，空心溫投。不能飲者，止用水煎，少入酒同服。</p>

<h4>蟠龍散</h4>
<p>治陽證脫肛。</p>
<p>乾地龍（蟠如錢樣者佳，略去土，一兩）　風化朴硝（二錢）</p>
<p>上銼焙研為細末，仍和勻朴硝，每以二錢至三錢，肛門濕潤干塗，或乾燥用清油調塗，先以見毒消、荊芥、生蔥，煮水候溫浴洗，輕與拭乾，然後敷藥。</p>

<h4>伏龍肝散</h4>
<p>治陰證脫肛。</p>
<p>伏龍肝（一兩）　鱉頭骨（半兩）　百藥煎（二錢半）</p>
<p>上三味焙研為末，每用二錢至三錢，濃煎紫蘇湯候溫，和清油調塗患處，並如前法浴洗，拭乾方上藥。</p>

<h4>益元散</h4>
<p>解暑毒，利小便，理煩渴，除驚悸。</p>
<p>滑石（六兩）　粉草（一兩，細銼）</p>
<p>上二味，或曬或焙，研為細末，每服一錢至二錢，溫熟水無時調服，涼水亦可。</p>

<h4>祛風散</h4>
<p>治卒暴中風，全不能言，口眼喎斜，驚癱搐掣，痰實煩躁，神昏有熱，睡臥不穩。</p>
<p>防風（去蘆一兩半）　南星（生用）　甘草（生用）　半夏（如前制）　黃芩（四味各一兩）</p>
<p>上件㕮咀，每服二錢，水一盞半，姜三片，慢火煎七分，不拘時溫服。</p>

<h4>全蠍觀音散</h4>
<p>治外感風寒，內傷生冷，吐瀉交作，脾胃俱虛，盜汗出多，神昏色慢，常服溫中益氣，進飲食寧心。</p>
<p>蓮子肉（去心）　人參（去蘆）　扁豆（如上制三味各一兩）　天麻　防風（去蘆）　全蠍（去尾尖毒）　羌活　白芷　南木香　甘草（炙）　黃耆（鹽蜜水塗炙，八味各半兩）　神麯（炒）　白茯苓（去皮，二味各七錢半）</p>
<p>上除木香不過火，餘十二味銼焙，仍同木香碾為末，每服半錢至一錢，用棗湯無時調服。</p>

<h4>備急散</h4>
<p>治小兒諸般骨硬，致咽喉腫痛。</p>
<p>五倍子末（一兩）　先春茶末（半兩）</p>
<p>上二味和勻，抄一錢，溫湯半盞，調化無時，少與嚥下，依此法服餌，不過三五次即效。如骨出或刺破處血來多者，硼砂末六錢，水煎消毒飲調服，血止痛住，腫消食進。</p>

<h4>黃土散</h4>
<p>治豆瘡餘毒太甚，遍身潰爛，膿汁不幹。</p>
<p>黃土（不拘多少，取曬野背陰處深掘為妙）</p>
<p>上件安地上，炭火煅透候冷，研為乾末，用絹或紗兜撲患處，仍服解餘毒之藥，並忌動風發熱等物。</p>

<h4>回陽散</h4>
<p>理脾虛感受風寒濕氣，傳作吐瀉，手足逆冷，腹痛有痰，及陰證脫肛，疝疾盜汗。</p>
<p>附子（如前制）　甘草（半生半炙，二味各二錢半）　人參（去蘆，七錢半）　細辛（去葉，一錢半）　桔梗（銼炒，五錢）　厚桂（去粗皮）　白茯苓（去皮）　川獨活（三味各二錢）半夏（同前制，三錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，煎七分，無時溫服。或入棗子同煎。</p>

<h4>密陀僧散</h4>
<p>治走馬疳，齒焦黑爛。</p>
<p>密陀僧（一兩）　輕粉（五十帖）　麝香（一字）</p>
<p>上件為末，同輕粉、麝香，乳缽內杵勻，每用半錢，擦患處。</p>

<h2>丸膏門</h2>

<h3>丸類</h3>

<h4>琥珀抱龍丸</h4>
<p>抱龍之義，抱者保也，龍者肝也。肝應東方青龍木，木生火，所謂生我者父母也。肝為母，心為子，母安則子安。況心藏神，肝藏魂，神魂既定，驚從何生。故曰抱龍丸。理小兒諸驚，四時感冒，風寒濕疫邪熱，致煩躁不寧，痰嗽氣急，及瘡疹欲出發搐，並宜可投。其藥性溫平，不僭不燥，常服祛風化痰，鎮心解熱，和脾胃，益精神。</p>
<p>真琥珀　天竺黃　檀香（細銼）　人參（去蘆）　白茯苓（去皮，五味各一兩半）　粉草（三兩，去節）　枳殼（如前制）　枳實（如前制，二味各一兩）　水飛硃砂（五兩，先以碎石引去鐵屑，次用水乳缽內細杵，取浮者飛過，淨器中澄清去上余水如此法一般精製見硃砂盡乾用）　山藥（去黑皮，一斤，銼作小塊，慢火炒令熱透，候冷用）　南星（一兩，銼碎用臘黃牛膽釀，經一夏用）　金箔（百片，去護紙取見成藥一兩，同在乳缽內極細杵，仍和勻前藥末用）</p>
<p>上前十二味，除硃砂金箔不入研，內餘十味，檀香不過火外，九味或曬或焙，同研為末，和勻硃砂、金箔每一兩，重取新汲井水一兩，重入乳缽內略杵勻，隨手丸此樣○大一粒陰乾，晴霽略曬，日色燥甚則捩折，宜頓放當風處，取其自干。</p>
<p>治法並用蔥湯，無時化服，或薄荷湯，痰壅嗽甚，淡薑湯下。豆瘡見形有驚，溫淨湯下。心悸不安，燈心湯下。暑天迷悶，麥門冬熟水下。百日內嬰孩每丸分三次投，二歲以上者止一丸或二丸。其品劑修合之日，但缺一味，不依制度，必無效矣。常用瓦瓶入麝香同貯，毋使散泄氣味，入珍珠末一兩合和，名金珠散。蓋珍珠能鎮心寧肝，墜痰尤效，治法湯使同前，此藥乃家傳秘方，當自精製出賣，人多信用，取者甚眾。今推誠利行，願與天下共之，非敢自矜，特以全嬰為念耳。</p>

<h4>鎮驚丸</h4>
<p>主急慢二驚，風痰上壅，手足抽掣，口眼喎斜，躁煩生嗔，精神昏悶，常服寧心鎮驚，疏風順氣。</p>
<p>人參（去蘆，三錢）　粉草（半生半炙）　茯神（去皮木根）　殭蠶（去絲）　枳殼（如前制，四味各五錢）　白附子　南星（如前制）　白茯苓（去皮）　硼砂　牙消　硃砂（水飛，六味各二錢半）　全蠍（拾尾去毒）　麝香（一字）</p>
<p>上除牙消、硼砂、麝香、硃砂四味，用乳缽細研，餘九味焙為末，入乳缽內和勻前四味，用糯米粉水煮清糊為丸，梧桐子大。就帶潤以銀硃為衣，每服三丸至五丸或七丸，急驚用溫茶清磨化投服。慢驚以生薑、熟附子煎湯研化溫服，薄荷湯化下，或麥門冬湯。</p>

<h4>烏犀丸</h4>
<p>主諸積滯夾風，溫胃調脾，消進飲食，吐逆有酸餿氣，面黃肌瘦，不拘孩兒生後歲月遠近，並宜可服。</p>
<p>烏犀皂莢（銼，三寸長，安灰火中見清煙起為度，取出地上瓦碗蓋定，存性，冷用，七錢）　硫黃　白姜（二味各三錢半）　陳皮（去白）　川烏（炮去皮臍，二味各五錢）　巴豆（七十七粒，去殼膜心存油）</p>
<p>上硫黃一味，先入研內研細，除巴豆外，餘四味同焙為末，仍以巴豆薄切，在乳缽極細杵，再同前五味藥末杵勻，用粳大米飯包作棕子一大個，小瓦瓶盛水熟煮，候冷取出。在沙缽中爛杵，細布兜緊，捻出如稠糊，安在別器內。以藥末亭分同杵細軟，丸粟谷大，取諸積每服十五丸或二十一丸至三十三丸，並用淡薑湯泡冷飯取汁小盞，五更初空心送下。通利三五行，以勻氣散，止補，治積吐有酸餿氣，每服三丸至五丸，用淡薑湯入米醋少許候溫空心投下。</p>

<h4>香芎丸</h4>
<p>治諸淋證，若患風閉尤效。</p>
<p>淨香附（鹽水炒）　川芎　赤茯苓（去皮，三味各半兩）　海金沙　滑石（二味各一兩）　枳殼（如前制）　澤瀉（去粗皮）　石葦（去毛梗取薄葉）　檳榔（不過火，四味各二錢半）</p>
<p>上件銼曬為末，糯米粉煮為清糊，丸麻仁大，每服三十三丸，至五十五丸或七十七丸，並用麥門冬熟水空心送下。若小便澀痛，滴三五點者，取長江順流水，用火微溫，入鹽少許調勻，空心咽服。</p>

<h4>香連丸</h4>
<p>治赤白下痢，煩渴作痛。</p>
<p>南木香（半兩，不過火）　淨黃連（一兩，銼，用茱萸炒，仍去葉梗）　烏梅肉（二錢半，薄切用，屋瓦慢火焙乾）</p>
<p>上件為末，用阿膠半兩，銼碎炒脹，水化如糊，候冷入乳缽內，同前藥末亭分杵勻，丸作麻仁大，赤痢每服三十三丸，至五十五丸，或七十七丸，甘草湯空心下。白痢丸數同前，白薑湯空心下。赤白交作，溫米清湯，空心咽服。</p>

<h4>化癖丸</h4>
<p>主癖結氣塊，在兩肋之間，日久不化，乍寒乍熱，臟腑不調，米穀不消，哽氣喘促，胸腹滿悶，及理丁奚哺露。</p>
<p>南木香　陳皮（去白）　莪朮（去毛，炒）　三稜（炮銼）　青皮（巴豆九粒去殼膜心微炒）　枳殼（如前制）　檳榔（七味各半兩）　白朮　丁香（二味各二錢）　細墨（燒存性，用四錢）</p>
<p>上除木香、檳榔、丁香不過火，餘七味焙，同前三味為末，麵糊丸，作麻仁大，每服十五丸至二十一丸，清米湯空心下。有寒熱往來，以柴胡飲間服，忌油膩生冷飲食。</p>

<h4>蘆薈丸</h4>
<p>主五疳八痢蛇蟲，臟腑虛弱，身體瘦悴，頭髮焦疏，腹脹青筋，小便白濁，渴水無度。洞泄不時，穀食難化，遍身瘡疥，神色乾燥。此藥大能養胃壯氣，止痢除蟲，長肌健力。</p>
<p>南木香　丁香（二味各二錢半）　訶子（去核取肉）　肉豆蔻（二味各半兩）　使君子肉　蘆薈（二味各四錢）　棗肉（一兩，薄切，用屋瓦盛，慢火焙乾）</p>
<p>上除使君子肉薄切，於乳缽內極細杵，仍將前南木香等四味，濕麵裹煨，至香熟取出。地上候冷，去面銼焙，同棗肉、蘆薈為細末，再入乳缽，同使君子肉杵勻，煉蜜丸，作麻仁大。每服三十丸至五十丸，溫米湯空心送下，兒小米湯化服。</p>

<h4>使君子丸</h4>
<p>治腹內諸蟲作痛，口吐清水。</p>
<p>使君子肉（薄切，屋瓦焙乾）　檳榔　酸石榴根皮（東向者佳，淨洗銼焙）　大黃（半生半炮，四味各七錢半）</p>
<p>上除檳榔銼曬不過火，餘三味再焙，同檳榔為末，沙糖水煮麵糊，丸麻仁大，每服三十丸至五十丸，淡豬肉汁空心下，或雞肉汁亦好。</p>

<h4>補腎地黃丸</h4>
<p>治稟賦不足，腎氣虛弱，骨髓枯竭，囟大頭縫不合，體瘦語遲，行步多艱，齒生緩者。</p>
<p>乾山藥（去黑皮）　山茱萸（酒浸潤蒸透，去核取皮為用）　熟乾地黃（酒洗焙乾，三味各五錢）　鹿茸（蜜塗炒酒亦好）　川牛膝（酒洗焙，二味各四錢）　牡丹根皮（淨洗）　白茯苓（去皮，二味各三錢）　澤瀉（去粗皮，二錢）</p>
<p>上件銼焙為末，煉蜜丸，作麻仁大，每服十五丸或二十五丸至三十五丸，空心溫鹽湯下，溫酒亦佳。</p>

<h4>寬腸丸</h4>
<p>治痢后里急，大府閉澀不通。</p>
<p>枳殼（同上制，仍用清油浸透一宿，焙乾，五錢）　麻仁（去殼）　木通（去皮節）　大黃（半生半炮）　檳榔　大腹皮（淨洗焙乾，五味各二錢半）</p>
<p>上除麻仁用乳缽極細杵，外五味檳榔不過火，余焙同研成末，入乳缽中，與麻仁再杵勻，煉蜜丸綠豆大，每服三十丸至五十丸，仍以枳殼、甘草煎湯，空心送下。一二月嬰孩，溫蜜湯化服。</p>

<h4>香陸胃苓丸</h4>
<p>治腫疾日久不愈，此藥大能實脾導水，多服取效。</p>
<p>丁香（去梗）　商陸　赤小豆　陳皮（去白）　甘草（炙，五味各二兩）　蒼朮（如前制，三兩）　澤瀉（去粗皮，二兩半）　赤茯苓（去皮）　豬苓（去皮）　白朮（三味各一兩半）　肉桂（去粗皮，一兩）　厚朴（同上制，二兩）</p>
<p>上除丁香、肉桂不過火，余藥銼焙，同前二味為末，用面微炒，水浸透，煮糊丸綠豆大，每服二十丸至五十丸，或七十丸，空心溫湯下。兒小者丸作粟谷大吞服，粒數引子，並如前法。</p>

<h4>二姜丸</h4>
<p>治瘧疾往來寒熱，經及不愈者。</p>
<p>良薑（一兩，銼片，東壁土炒）　白姜（一兩，銼片、巴豆九粒去殼同炒，微黃，去巴豆）</p>
<p>上為細末，用獖豬膽汁和水煮麵糊，丸麻仁大，就帶潤以硃砂末為衣，熱多用溫湯，早晨面北空心送下，寒多亦於清旦用溫酒面南空心咽服。若寒熱相亭，用陰陽湯以一半，冷水一半熱湯參和是也，不拘向南北投服。</p>

<h4>沒石子丸</h4>
<p>治久患疳痢及釀瀉。</p>
<p>沒石子（二枚）　南木香（濕紙包，略炮過）　肉豆蔻（一枚，炮）　淨黃連（銼碎，薑汁炒過，二味各二錢半）　訶子（四枚炮，去核）</p>
<p>上銼焙成末，如烏犀丸，內製飯糊為丸，粟谷大，每服十五丸至三十丸或五十丸，溫白湯空心下，或米清湯。</p>

<h4>半夏丸</h4>
<p>治痰證神妙，若驚搐後，風涎潮作，服之尤驗。</p>
<p>半夏（生用，二兩）　赤茯苓（去皮）　枳殼（同上制，二味各一兩）　風化朴硝（二錢半）</p>
<p>上前三味，銼焙為末，入乳缽同朴硝杵勻，用生薑自然汁煮糯米粉為糊，丸綠豆大，每服三十丸至五十丸，仍以淡薑湯食後臨睡送下。兒小者丸如粟谷大。</p>

<h4>六聖丸</h4>
<p>治諸積和胃，大能主氣厚腸，消疳快膈，屢用取效。</p>
<p>莪朮（炮銼）　淨黃連　陳皮（去白）　白姜（炮，四味各五錢）　南木香（二錢半）</p>
<p>上除南木香不見火，餘四味銼焙，同木香為末，每一錢重，巴豆三粒，去殼膜心存油碎切，入乳缽極細杵，同前藥末再拌勻，煮醋麵糊，丸麻仁大，每服十五丸至二十五丸或三十五丸，淡薑湯五更初空心送下。利三五行，勻氣散止補。常服助脾化積，進食消疳，臨睡以淨湯或溫酒下三粒及五粒而已，每一次止丸藥末三錢重，淨巴豆九粒為則，不可多合，久則味過，用之效遲。</p>

<h4>內消丸</h4>
<p>治瘰癧作膿穿破，久不愈者，或初得此證，投之亦效。</p>
<p>斑蝥（一兩，除翅足，粟米大盞炒，令粟米微焦色，仍去粟米）</p>
<p>上件入薄荷葉三兩，同研為末，雞子清為丸，綠豆大。初用半飢半飽間，以溫茶清下一丸，逐日加一丸，加至五丸之外，又逐日減一丸，減至一丸之後，每一日只服五丸，得瘥即止，不可過投。</p>

<h4>截驚丸</h4>
<p>治驚風搐掣，煩躁有熱，兩目上視，口噤牙關。</p>
<p>龍膽草（去蘆）　防風（去蘆）　青黛　鉤藤（和鉤）　淨黃連　牛黃　甘草　硃砂末（水飛者，八味各五錢）　薄荷葉（二錢半）　麝香（半錢）</p>
<p>上除牛黃、麝香外，餘八味銼曬，或焙為末，仍同前二味乳缽內杵勻，煉蜜丸，芡實大，每用一丸至二丸，溫湯化服，或茶清。</p>

<h4>散氣丸</h4>
<p>理諸疝氣，小便利或不通，臍下作痛，不堪忍者。</p>
<p>海藻（湯浸洗七次焙乾）　用澤瀉（去粗皮）　茴香（炒）　車前子（焙）　蘿蔔子（用屋瓦慢火焙乾）　川楝子（取肉，斑蝥九枚，去翅足，同炒少時，仍去斑蝥，候冷用）　大腹皮（淨洗焙乾，七味各一兩）</p>
<p>上件銼焙為末，酒煮麵糊，丸綠豆大，每服三十丸至五十丸，南木香煎酒，空心下，或防風、牡丹皮煎酒下。不能飲者，於木香湯中防風牡丹皮湯內各少入酒，並空心投亦可，再用鹽炒茴香煎湯尤妙。</p>

<h4>金粟丸</h4>
<p>治下痢赤白。水穀不化。</p>
<p>淨黃連（一兩）　神麯（一兩，別研為末作糊）　川芎　枳殼（如前制）　穀芽（淨洗焙乾）　赤茯苓（去皮）　白芷　南木香（六味各半兩）</p>
<p>上除木香別銼不過火，餘六味焙，入木香同為末，用神麯末煮糊丸粟谷大，每服七十丸至百丸，空心溫米清湯下，不拘時。</p>

<h4>萬應丸</h4>
<p>治諸般疳證，胃口有熱，飲食不進，頭髮作穗，面色痿黃。</p>
<p>五倍子（去內蟲屑）　胡黃連　青皮（去白）　陳皮（去白）　黃柏　神麯　麥芽（淨洗焙乾）　三稜（炮銼）　莪朮（炮銼）　蕪荑　檳榔　龍膽草　川楝子肉　使君子肉（十四味各一兩）</p>
<p>上除檳榔不過火，麥芽二味外，餘十二味銼碎，炒令微焦色，候冷同前麥芽檳榔研為細末，水煮麵糊丸麻仁大，每服三十丸至五十丸，或七十丸，溫米清湯無時送下，或空心。兒小者丸作粟谷大，粒數下法同前。</p>

<h4>金茱丸</h4>
<p>治冷疝氣痛，及膚囊浮腫。</p>
<p>金鈴子肉（一兩）　家茱萸（半兩）</p>
<p>上二味焙研為末，酒煮麵糊丸麻仁大，每服三十丸至五十丸，空心溫鹽湯下。</p>
<p>溫酒亦好，兒小者丸作粟谷大，粒數下法如前。</p>

<h4>二聖丸</h4>
<p>治腹內諸蟲，及消穀逐水下氣去風。</p>
<p>檳榔（一兩）　巴豆（十五粒，去殼膜內存油）</p>
<p>上檳榔銼曬為末，巴豆碎切，在乳缽內極細杵，仍入檳榔末同再杵勻，麵糊丸綠豆大，每服七十七丸至九十九丸，用溫茶清五更初空心止投一服。見蟲下盡，進以稀粥自安。</p>

<h4>商陸丸</h4>
<p>治水腫小便不通，勿拘遠近。</p>
<p>商陸（一兩）　淨黃連（半兩）</p>
<p>上二味焙為末，薑汁煮麵糊丸綠豆大，每服三十丸至五十丸，用溫紫蘇熟水空心下。或溫蔥湯。</p>

<h4>枳殼丸</h4>
<p>治大府虛閉氣連日不通，痢后里急，用之亦效，利小便熱閉。</p>
<p>枳殼（不拘多少，銼片，麥麵炒過，仍以清油潤透，一宿，焙乾）</p>
<p>上焙為末煉，蜜丸，作芡實大，兒小者，用甘草糯米煎湯化下一丸至二丸，兒大者丸綠豆大，每服三十丸或五十丸，食前溫米清湯送下。小府熱閉，用車前子煎湯，候溫空心投之。</p>

<h4>浚川丸</h4>
<p>治水腫及單腹滿脹，氣促食減，遍身面浮。</p>
<p>大戟　芫花（醋炒）　沉香　檀香　南木香　檳榔　莪朮　大腹皮（焙乾淨洗）　桑白皮（銼炒，九味各半兩）　黑白牽牛（曬研取生末，一兩）　巴豆（去殼膜心，存油，三十五粒）</p>
<p>上除牽牛末巴豆外，前九味，內有沉香、檀香、木香、檳榔不過火，餘五味焙乾，同沉香等為末，就加牽牛末和勻，巴豆碎切，在乳缽內極細杵，入前藥末同再杵勻，水煮麵糊，丸麻仁大，每服十七丸，濃煎蔥湯，候溫五更初空心下。去水未盡，停一日減用十三丸，次減作九丸，再減至七丸，湯使下法如前。證退即止。仍投南星腹皮散，如單腹腫甚，能飲食氣壯者，加甘遂末同丸取效，仍忌有甘草草藥餌，不致相反。</p>

<h4>三聖丸</h4>
<p>治諸瘧不拘遠近。</p>
<p>穿山甲（一兩半，湯浸透取甲，銼碎，同熱灰鐺內慢火炒令焦黃色）　雞骨常山　雞心檳榔（二味各一兩，薄銼曬乾）</p>
<p>上件再曬為末，水煮糯米粉為糊，丸綠豆大，就帶潤以紅丹為衣，陰乾，每服三十丸至五十丸，未發前隔晚用酒空心投一服，重則二服。經久不瘥，下祛瘧丹。</p>

<h4>莪朮丸</h4>
<p>和脾益胃，消進飲食，寬膈快氣，悅色清神。</p>
<p>莪朮（炮銼）　三稜（炮銼）　淨香附（三味各四兩，醇醋浸一七慢火煮乾再焙）　檳榔（一兩，薄銼）　生牽牛末（一兩，另研）　青木香（去蘆）　穀芽（淨洗焙乾）　青皮（去白，三味各半兩）　蓽澄茄　丁香　南木香（三味各四錢）</p>
<p>上除檳榔，丁香，木香不過火，及牽牛末，餘七味銼焙，仍同檳榔，丁香、木香為末，余臨入牽牛末和勻，水煮麵糊丸，綠豆大，每服三十丸至五十丸，無時用淡薑湯下，溫茶溫酒皆好，兒小者丸粟米大，粒數下法如前。</p>

<h4>豆蔻丸</h4>
<p>治患豆瘡，脾虛作瀉。</p>
<p>肉豆蔻　南木香　縮砂仁（三味各三錢）　白龍骨　訶子肉（二味各五錢）　赤石脂　枯白礬（二味各七錢半）</p>
<p>上除木香不過火，餘六味銼焙，仍同木香為末，稠煮麵糊丸麻仁大，每服三十丸至五十丸，溫米清湯空心送下，或不拘時。兒小者丸粟谷大，下法同前。</p>

<h4>碧玉丸</h4>
<p>治痰嗽氣喘胸滿，飲食減少，睡不得寧，煩躁有熱。</p>
<p>青黛　明白礬（生用）　南星（生用）　滑石（四味各二錢半）　輕粉（五十帖）　全蠍（十五尾，去尖毒）　巴豆（四十九粒，去殼膜心存油碎切，入乳缽，極細杵）</p>
<p>上除輕粉、巴豆外，餘五味或曬或焙為末，仍入前二味，同在乳缽杵勻，薑汁煮糯米粉為糊，丸粟谷大，每服七丸至九丸或十一丸，用淡薑湯空心投。熱甚者薄荷湯下，或不拘時。</p>

<h4>快活丸</h4>
<p>治丁奚疳證，皮膚瘦削，骨露如柴，肚大青筋，小便白濁，睡臥煩躁，神氣昏沉。常服健脾化積，進食肥肌。</p>
<p>蒸餅（一兩，去頂剜空，入青礬內半錢重，仍以碎餅屑緊塞上用水紙封定，灰火中炮透，取出候冷用）</p>
<p>上件銼焙為末，別以肥棗用米泔水浸，經一宿飯上蒸，少時去皮核，用乳缽爛杵如糊，同前餅末亭分，再杵勻，丸麻仁大，每服三十丸至五十丸，溫米精湯無時送下。兒小者亦以米湯化服，其蒸餅不拘個數，大約以一兩入青礬半錢重為定，下常如前法制半斤，作一料，後人切勿以見方不重藥為誤。余當屢試屢驗（其餅如南饅頭樣者。）</p>

<h4>沉香檳榔丸</h4>
<p>和脾助胃，進食清神，寬胸快膈，順氣調中，悅顏色，壯筋骨，理面帶痿黃，肌膚瘦弱，過食生果，停寒在裡，乳癖腹脹作痛，及吐痢瘧腫，瘥後諸疳蟲積，並皆可投。</p>
<p>沉香　檳榔　檀香　南木香　丁皮　三稜（炮銼）　莪朮（炮銼）　神麯（炒）　穀芽（洗焙）　厚朴（同上制）　蒼朮（同上制）　使君子肉（銼，以屋瓦焙乾）　青皮（去白）　陳皮（去白）　縮砂仁　益智仁　淨香附　枳殼（同上制）　良薑（同上制，十九味各半兩）　粉草（炙，一兩半）</p>
<p>上除沉香、檳榔、檀香木香、丁皮不過火，餘十五味銼焙，仍同沉香等為末，水煮麵糊，丸麻仁大，每服三十丸至五十丸，溫米清湯無時送下。兒小者不能吞嚥，煉蜜丸如芡實大，每以一丸或二丸，溫湯化服。</p>

<h3>膏類</h3>

<h4>硃砂膏</h4>
<p>五心煩熱，喉痰壅盛，驚風搐搦，渴飲無時，睡中不寧，見人煩躁，口瘡糜爛。</p>
<p>硃砂（水飛，五錢）　牙消　硼砂　玄明粉（三味各二錢半）　麝香（一字）　金箔　銀箔（各十五貼）　白附子　枳殼（如前制，二味各三錢）　川芎　粉草（二味各四錢）　人參（去蘆）　黃芩　薄荷葉（三味各二錢）</p>
<p>上前七味，入乳缽杵勻，後七味，銼焙為末，仍入缽中同前藥和，煉蜜丸芡實大。每服一丸至二丸，用麥門冬熟水無時化服。</p>

<h4>如意膏</h4>
<p>治痰喘氣促咳嗽，連聲不已，冷熱二證皆可投。</p>
<p>半夏（炮裂）　南星（炮裂，二味各一兩半）</p>
<p>上二味為末，以生薑汁和勻，捻作小餅如錢樣，用慢火炙乾，再為末，復取薑汁如前，經兩次炙乾，仍焙為末，煉蜜丸芡實大，每服一丸至二丸，仍用姜蜜湯無時化服，有熱以薄荷湯。</p>

<h4>地黃膏</h4>
<p>治口內舌上生瘡作痛，飲食艱進，晝夜煩啼。</p>
<p>山梔仁　綠豆粉（二味各一兩半）　粉草（六錢）</p>
<p>上件或曬或焙為末，用生地黃爛杵取汁一兩半，好蜜一兩半，以薄瓦器盛，在銅鐵銚中水煮成膏，如稀糊相似，候冷亭分，入前藥末，同在乳缽再杵勻，丸芡實大，每以一丸至二丸，麥門冬熟水無時化服。兒大者每用一丸，納口內含化，或以新汲水調點舌上。</p>

<h4>烏梅膏</h4>
<p>治諸渴不止，吐瀉後口乾無味，及病中昏悶，咽痛不利，心悸似驚，此藥品味不寒不燥，用得其宜，暑月出路含化，則津液生而煩渴少，神效異常。</p>
<p>人參（去蘆）　檀香（銼曬）　薄荷葉（三味各半兩）　烏梅肉（薄切，用屋瓦慢火焙乾）　乾葛　縮砂仁　百藥煎　粉草（五味各一兩）</p>
<p>上除檀香不過火，烏梅肉別焙，餘六味或曬或焙，仍同前二味研為細末煉蜜丸芡實大，每服一丸或二丸，無時含咽。兒小者麥門冬熟水化服。</p>

<h4>烏附膏</h4>
<p>理囪門陷。</p>
<p>綿川烏（生用）　綿附子（生用，二味各五錢）　雄黃（二錢）</p>
<p>上件為末，用生蔥和根葉細切爛杵，入前藥末同煎，空心作成膏，貼陷處。</p>

<h4>烏豉膏</h4>
<p>治六七歲以上小兒，痄腮腫毒，牙關緊硬，飲食不便。</p>
<p>綿川烏（水浸潤，炮裂去皮，臍半兩）　玄明粉（二錢）　淡豆豉（三錢重，水浸潤飯上蒸透）</p>
<p>上以川烏為末，同蒸豆豉玄明粉在乳缽爛杵為膏，丸芡實大，每用一丸。兒大者安在牙關內，今其自化，和痰吐出。又再如前法含化，腫毒自消。兒小者用薄荷蜜湯化開，以指頭抹入牙關內，嚥下亦不妨。</p>

<h4>闢塵膏</h4>
<p>治小兒塵埃入目，揩成腫熱作痛，啼哭不已。</p>
<p>油煙細墨</p>
<p>上以煙墨新汲井水濃磨，入玄明粉半錢，和勻為膏，用筆多點目內，三五次即效，仍忌飲酒一晝宵。</p>

<h4>萆麻膏</h4>
<p>治暴患脫肛。</p>
<p>萆麻子（一兩）</p>
<p>上件爛杵為膏，捻作餅子，兩指寬大，貼囟上，如陰證脫肛，加生附子末，蔥蒜同研作膏，依前法貼之。</p>

<h4>鉤藤膏</h4>
<p>治百日內嬰孩，唇面青冷，腹痛夜啼，及周歲以上者，盤腸內吊，諸疝氣疾。</p>
<p>鉤藤（和鉤）　玄胡索　當歸（酒洗）　粉草（炙）　乳香（五味各五錢）　肉桂（去粗皮二錢）　麝香（一字）</p>
<p>上前四味焙乾，桂不過火，同為末，乳香蒻葉里，熨斗盛火，熨透候冷，入乳缽同麝細杵，後入前藥末再杵勻，煉蜜丸芡實大，每用一丸至二丸，白湯空心化服。</p>

<h4>黃連膏</h4>
<p>治時行火眼，赤腫澀痛，晝夜煩啼。</p>
<p>淨黃連（二錢半）</p>
<p>上件細銼，雞子一枚，筋嘴札開，一頭大處，取清瓦盞盛入黃連和勻釀一時，見黃色，以絹濾過成膏，患者仰面臥，外令人挑一字許，頻點目內，覺口中有苦味滿舌，上藥之驗也。豆瘡餘毒攻眼，眵多有熱，用之亦驗。</p>

<h4>益中膏（一名助胃膏）</h4>
<p>治脾胃虛弱，吐瀉腹脹，肚疼困倦，有因感冷而瀉，夜起頻數，大便過時，食不克化。</p>
<p>肉豆蔻　丁香　縮砂仁　訶子肉（炮去核，四味各二錢半）　粉草（炙）　青皮（去白，二味各半兩）　陳皮（去白，一兩）　馬芹（淨洗焙乾，三錢）</p>
<p>上除丁香不過火，餘七味焙，仍同丁香為末，煉蜜丸芡實大，每用一丸至二丸，白湯空心化服。</p>

<h4>玄霜膏</h4>
<p>治一切湯火瘡，但敷上痛止，更無瘢痕。</p>
<p>好糯米五升（或不拘多少）</p>
<p>上用堅硬鐵器盛貯，見天處以雪水浸一二月，不問腐爛，仍用竹器撈出，於大筲箕內，別取淨水淋過曬乾，焦炒研為細末，新汲井水調塗患處。如干燥，又以軟雞翎蘸水添拂瘡上，使之滋潤痛減，藥少再添用，自然效速。末久成圍再研細，一名玄霜散，炒透黑色，煙清為度。</p>

<h4>清涼膏</h4>
<p>治暴赤火眼腫痛，及血癤作疼發熱。</p>
<p>大黃　淨黃連　黃柏　赤葛　細辛（和葉）　薄荷葉　風化朴硝（七味各一兩）</p>
<p>上前六味，或曬或焙為末，臨入朴硝，乳缽內同杵勻，每用一錢至二錢，冷水加薑汁調塗太陽，或新汲井水調妙，熱癤以涼米湯水調，搽患處。</p>

<h4>祛風膏</h4>
<p>治急慢驚搐，臍風撮口，牙關緊閉，痰涎壅盛，咽喉腫痛。</p>
<p>威靈仙（去蘆，一兩半，細銼焙，研為末）</p>
<p>上用皂莢三兩，去皮弦捶損，挪溫水一碗，絹濾過，慢火熬若稀糊，入醇醋半兩，再熬三五沸，去火候冷，用前藥末亭分，乳缽內杵勻，丸芡實大，先用鹽梅肉擦牙根，次以此膏一丸或二丸，溫白湯濃調，抹入左上牙關內，即開。續進別藥，熬時得瓦器為上，銀器尤佳，及解風痰壅盛，淡薑湯調化，無時少與含咽，咽喉腫痛，溫茶清調下，或薄荷湯。</p>

<h4>千金膏</h4>
<p>治水瀉疳瀉，下痢赤白，腹痛煩渴。</p>
<p>橡斗子（一兩）　細茶　白姜　甘草（三味各二錢半）　白芷（五錢）</p>
<p>上件銼焙為末，煉蜜丸芡實大，每服二丸至三丸，溫米清湯空心化下，入醋，與蜜相亭，為膏尤妙，湯溫化服。</p>

<h2>丹飲門</h2>

<h3>丹類</h3>

<h4>水晶丹</h4>
<p>治驚積、食積、蟲積腹脹，煩啼噁心，食減面黃，並宜通利，此藥有頑積驚重風緊，涎多熱極，乃可服，非常用之劑，及急驚後，風痰未盡，免生凝疾，宜再投。</p>
<p>南星（銼作小塊，湯煮少時）　半夏（如前制，二味各三錢）　滑石（四錢）　輕粉（五十帖）　淨蕪荑（二百片）　巴豆（五十粒，去殼，全者，湯泡七次，又去心膜作二邊，水煮少時，曬乾碎切）</p>
<p>上前三味焙為末，拌和輕粉外，蕪荑仁、巴豆二味同碎切，在乳缽內細杵，入前藥末再杵勻，如烏犀丸內製麵糊丸麻仁大，每服十五丸至二十五丸或三十五丸，糯米湯泡蔥白取汁，小盞五更初空心下，過三五行，進勻氣散調補，下風痰用淡薑湯空心服。</p>

<h4>不驚丹</h4>
<p>治因驚氣而吐逆作搐，痰涎壅塞，手足掣縮，目睛斜視，常服疏風順氣，自不作驚，和脾胃，進飲食。</p>
<p>枳殼（同上制，一兩）　淡豆豉（焙乾）　茯神（去皮木根）　南星（同上制，三味各半兩）　蠍梢（五十尾，去尖毒）　淨蕪荑（二錢半，先入乳缽內極細研爛）</p>
<p>上除蕪荑外，餘五味焙為末，再同蕪荑乳缽內杵勻，醋煮糯米粉糊為丸，周歲內嬰孩粟谷大，每服三十丸至五十丸，乳汁下。三歲以上者，麻仁大，每服五十丸及六十丸，溫米清湯下，候一時得吃乳食。</p>

<h4>鶴頂丹</h4>
<p>治陰陽二證結胸神妙，勝陷胸、承氣、瀉心三藥。</p>
<p>明白礬（一兩）　真銀硃（半兩）</p>
<p>上二味同研為末，用熨斗盛少炭火，坐小瓦盞在上，平抄礬朱末一錢入盞中熔化，急刮出就搓成丸。如有前證，每用一丸，研細茶清調勻溫服，或入薑汁少許同炒下，聽心上有隱隱微聲，結者自散，不動臟腑，不傷真氣，無問虛實證皆可投，白礬能化痰解毒，銀硃是水銀或硫黃煉成汁，專破積聚，故治結胸。</p>

<h4>黑虎丹</h4>
<p>治諸般風證。</p>
<p>草烏（去黑皮，只一兩生用）　川烏（去黑皮生用）　甘草（二味各七錢半）　麻黃（不去根節）　甘松　熟乾地黃（淨洗）　藿香葉　白芷　油煙墨（燒存性）　豬牙　皂莢　川芎　當歸　何首烏　南星（生用）　殭蠶（去絲）　赤小豆　羌活　白膠香　木鱉子（去油十六味各半兩）</p>
<p>上件銼碎，或焙或曬，研為細末，糯米粉煮糊，丸麻仁大，每服三十丸至五十丸或七十丸，稍空心用淡薑湯下。兒小者，丸作粟谷大，治法如前。</p>

<h4>祛暑丹</h4>
<p>治小兒暑月五心煩熱，睡臥不穩，無時嗞螿，及小便少，乳食減，渴飲水漿。</p>
<p>硃砂末（水飛，三錢）　黃芩末　甘草末（二味各半兩）　五苓散末（二兩）</p>
<p>上件和勻，煉蜜丸芡實大，每服一丸至二丸，麥門冬熟水無時化服，臨睡時投亦佳。</p>

<h4>四神丹</h4>
<p>治水瀉赤白痢。</p>
<p>淨黃連（一兩三錢）　黃柏（去粗皮，七錢）　白姜　當歸（酒洗焙乾，二味各七錢半）</p>
<p>上四味薄銼，或曬或焙為末，用烏犀丸內製飯糊丸麻仁大，每服三十丸至五十丸，烏梅煎湯空心下。其他病證，多好甘甜咸美，惟瀉痢惡之，專喜酸苦澀淡為上，故以烏梅作湯使。兒小者丸粟谷大，下法同前。</p>

<h4>祛瘧丹</h4>
<p>治瘧疾經久不瘥。</p>
<p>常山（二兩，細銼）　烏梅（和核，一兩，薄切）　紅丹（半兩）</p>
<p>上除烏梅屋瓦別焙，常山或曬或焙，仍同烏梅、紅丹研為細末，糯米粉煮糊丸麻仁大，每服三十丸至五十丸，未發前涼酒空心送下，或隔晚酒下。重則二服，輕則一服。忌雞面羊生冷飲食毒物。</p>

<h3>飲類</h3>

<h4>百傷飲</h4>
<p>主百物所傷，感冒風寒邪氣，不拘冷熱二證，並宜可服，惟慢驚慢脾不用。</p>
<p>乾葛（三兩）　淨香附（二兩）　升麻（淨洗）　青皮（去白）　陳皮（去白）　穀芽（淨洗焙乾）　麥芽（淨洗焙乾）　桔梗（銼炒）　紫蘇（和根）　縮砂仁　甘草　神麯（炒）　赤芍藥（十一味各一兩）　麻黃（同上制）　枳殼（同上制，二味各七錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。或入薑、蔥同煎，有積加水、酒、曲。</p>
<p>熱多添燈心、竹葉煎投。</p>

<h4>速效飲</h4>
<p>治長成小兒，因他物或跌著觸損兩目，血脹腫痛。</p>
<p>荊芥穗　薄荷葉（二味各半兩）　草決明（一兩，微炒）　甘草（三錢，生用）</p>
<p>上為粗末和，半生半炒芝麻等分，炒二錢，在掌中盛，以干吃咀嚼，味盡，吐去渣，如此法投三五次即效。</p>

<h4>柴胡飲</h4>
<p>治骨蒸疳氣，五心煩熱，日晡轉盛，口乾無味，渴多身瘦，胸滿痰緊，小便黃色，食減神昏。</p>
<p>北柴胡（去蘆淨洗）　人參（去蘆）　當歸（酒洗）　黃芩　赤芍藥　甘草（炙，六味各一兩）　大黃（生用）　桔梗（去蘆銼炒）　北五味（去梗）　半夏（同上制，四味各半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，烏梅小角，姜二片，煎七分，無時溫服。</p>

<h4>四順飲</h4>
<p>治血脈壅實，臟腑生熱，頰赤煩躁，四肢驚掣，及因乳哺過傷，寒暄失理，令兒腸胃不調，蘊蓄積滯，並風熱結核，頭面多生瘡癤，目赤咽痛。</p>
<p>當歸（酒洗，二兩）　大黃（一兩半）　赤芍藥（三兩）　甘草（一兩）</p>
<p>上件銼焙為末，每服一錢，湯調溫服，不拘時。</p>

<h4>清肺飲</h4>
<p>治肺受風邪客熱，嗽聲不斷，氣促喘悶，痰壅鼻塞，流涕失音，及解時行疹毒豆瘡，涎多咳嗽，咽痛煩渴。</p>
<p>人參（去蘆，半兩）　柴胡（淨洗，二兩）　杏仁（湯泡去皮尖）　桔梗（銼炒）　赤芍藥　荊芥　枳殼（同前制）　桑白皮（銼炒）　北五味　麻黃（同前制）　半夏（同前制九味各一兩）　旋覆花（五錢）　甘草（一兩半）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，蔥一根，煎七分，無時溫服。或入薄荷同煎。</p>

<h4>沖和飲</h4>
<p>治感冒風寒，頭疼發熱，肩背拘急，噁心嘔吐，腹痛膨脹，兼寒濕相搏，四肢拘急，冷氣侵襲，腰足疼痛。</p>
<p>蒼朮（同上制，一兩二錢）　人參（去蘆）　前胡（去蘆）　桔梗（銼炒，三味各五錢）　枳殼（同上制）　麻黃（同上制）　陳皮（去白，三味各三錢）　川芎　白芷　半夏（同上制）　當歸（酒洗）　薄桂（去粗皮）　白芍藥　赤茯苓（去皮，七味各一錢半）　乾薑　厚朴（同上制，二味各二錢）　甘草（炙，七錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，蔥一根，煎七分，無時溫服。傷冷噁心嘔吐，煨姜同煎，開胃進食，加棗子煎，空心溫投。寒疝痛，入鹽炒茱萸、茴香同煎。</p>

<h4>明目飲</h4>
<p>治心脾蘊熱，肝受風邪，致兩目羞明，經久不愈。</p>
<p>山梔仁　淨香附（二味各一兩）　夏枯草（去梗，半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，蜜大匙，煎七分，無時溫服。</p>

<h4>玉露飲</h4>
<p>治頰赤咽乾，心煩躁，睡不穩，身熱頭痛，兼中暑發渴昏悶，小便不通，驚氣入腎，夢中咬牙，加金珠散、薄荷湯，空心溫服。</p>
<p>寒水石（中有細紋，以手可碎者是）　石膏（潔白堅硬而有牆壁者是，二味各一兩重）　甘草（三錢，曬乾，天陰火焙）</p>
<p>上除前二味外，甘草銼曬或焙，同為細末，每服半錢至一錢，溫湯無時調服。或麥門冬熟水。</p>

<h4>寬氣飲</h4>
<p>主通利關節，除胸膈痞結，消痰逐水，進美飲食，及治蓄氣而成搐，傳變急慢驚風，氣逆不和，精神昏倦。</p>
<p>枳殼（同上制）　枳實（同上制二味各一兩）　人參（去蘆）　甘草（炙，二味各半兩）</p>
<p>上件銼焙為末，每服半錢至一錢，淨湯無時調服。驚風痰搐加薑汁、蔥湯同調，熱極者入寬熱飲，薄荷蜜湯調下，或麥門冬湯。</p>

<h4>綠豆飲</h4>
<p>解誤服熱劑，煩躁悶亂，或作吐或狂渴，宜先投之，次服對證藥劑。</p>
<p>綠豆粉（一兩）　淨黃連　乾葛　甘草（三味各半兩）</p>
<p>上除綠豆粉外，餘三味或曬或焙為末，入乳缽同綠豆粉杵勻，每服半錢至一錢，溫豉湯調服。</p>

<h4>寬熱飲</h4>
<p>主伏熱在裡，風痰壅滿，氣促昏悶，或脾胃停滯，日久飲食減少，面黃脈實，發熱無時，並宜可服。</p>
<p>枳殼（去瓤，一兩，銼片，巴豆十五粒，作二邊去膜心同炒，枳殼見微黃色，去巴豆片）　大黃（一兩）　粉草（七錢半）　玄明粉（二錢半）</p>
<p>上前三味，銼焙為末，臨入玄明粉，乳缽內同前藥末杵勻，每服半錢至一錢。兒小者抄一字，並用姜蜜湯無時調服，或薄荷湯。</p>

<h4>赤蒼飲</h4>
<p>主脾胃因虛受濕，面浮而黃，或遍身作腫，飲食減少，氣不升降，小便赤色，腹肚膨脹，咳嗽有痰，及腫後當服神妙，加草果仁炮過，水、薑、棗煎投。</p>
<p>赤茯苓（去皮）　蒼朮（同上制，二味各一兩半）　枳殼（同上制，一兩）　藿香（和根）　半夏（同上制）　淨香附　紫蘇（和梗）　厚朴（同上制）　陳皮（去白，六味各七錢半）　甘草（炙，一兩二錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，煎七分，無時溫服。</p>

<h4>化蟲飲</h4>
<p>治化蟲毒在腹作痛。</p>
<p>檳榔　酸石榴根皮（淨洗焙乾，二味各一兩）　紅丹（煅過）　雷丸　貫眾（如雞頭者佳）　使君子肉（薄切焙，四味各二錢半）　甘草（炙）　枳殼（同上制）　大黃（三味各五錢）</p>
<p>上為細末，用清油煎雞子一枚，如春餅樣，候冷抄藥末一錢於上攤勻，空心卷而食之，兒小者用糯米粉水煮糊丸，粟谷大，每服十五丸至三十丸，以淡豬肉汁空心下，雞肉汁亦好。</p>

<h4>玄參飲</h4>
<p>治瘰癧證，及頸上生惡核腫痛。</p>
<p>玄參　升麻（二味各五錢）　川烏（炮裂去皮臍）　草烏（炮裂去皮）　當歸（酒洗）　川芎　赤葛　生乾地黃　赤芍藥（七味各二錢半）　甘草（三錢）　大黃（半生半炮，四錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，煎七分，無時溫服。</p>

<h4>參香飲</h4>
<p>治胃虛作吐，投諸藥不止。</p>
<p>人參（去蘆，一兩）　沉香　丁香　藿香（和梗）　南木香（四味各二錢半）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，去渣臨入薑汁少許，作三次空心溫服。</p>

<h4>健脾飲</h4>
<p>健脾養胃，理嘔吐，治瀉痢，及諸病後氣色虛弱，有痰噁心，腹中微痛，飲食減，精神慢，並宜投服。</p>
<p>厚朴（同上制，再熱炒入醇醋透，仍以慢火炒乾）　人參（去蘆，二味各一兩）　白茯苓（去皮）　肉豆蔻　半夏（同上制）　益智仁　淨香附（五味各二錢半）　良薑（銼片，東壁土炒）　訶子肉（二味各二錢）　甘草（炙，五錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，棗一枚，煎七分，空心溫服或無時。</p>

<h4>五皮飲</h4>
<p>主頭面四肢浮腫，時有微喘，飲食不進。</p>
<p>大腹皮（淨洗，焙乾）　桑白皮（去粗皮銼炒）　茯苓皮（淨去埃土）　生薑皮（略洗焙乾）　陳皮（去白，五味各一兩）</p>
<p>上件㕮咀，每服三錢，水一盞，煎七分，無時溫服。此劑但多投自然作效，勿以見方不重藥為誤。</p>

<h4>立效飲</h4>
<p>主口內牙根舌上發瘡作痛，致語言飲食不便咽痛，茶清調下。</p>
<p>淨黃連（一兩）　北細辛（去葉，二錢半）　玄明粉（二錢）</p>
<p>上件細銼，或曬或焙為末，仍同玄明粉乳缽內杵勻，每用一字，乾點患處。或以一錢，新汲井水調塗瘡上。兒小者畏苦不肯點咽，用蜜水調抹爛處及舌上，令其自化。</p>

<h4>沉香飲</h4>
<p>治吐痢後，神昏卷怠，飲食減少，脾胃氣虛，水穀不化，或隨時直下，五心煩熱，盜汗常出，或聞食心惡。</p>
<p>沉香　丁香　南木香　藿香葉（四味各二錢半）　陳皮（去白）　白朮　半夏（同上制）　白茯苓（去皮）　肉豆蔻（五味各五錢）　粉草（炙，三錢）</p>
<p>上除沉香、丁香、木香不過火，餘七味或曬或焙，仍同前三味研為細末，每服半錢至一錢，用紫蘇、木瓜煎湯，空心調服，棗湯亦好。</p>

<h4>拔毒飲</h4>
<p>解風熱毒氣上攻頭項，浮腫作痛發驚，及治發斑。</p>
<p>天花粉（去粗皮，一兩）　生乾地黃（淨洗）　白芷　當歸（尾酒洗）　桔梗（銼片，蜜水炒過）　甘草（五味各半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>藿香飲</h4>
<p>理虛化痰，及治脾胃不和，飲食少進，正氣除邪。</p>
<p>人參（去蘆）　半夏（同上制）　赤茯苓（去皮）　甘草（炙，四味各一兩）　蒼朮（同上制，二兩）　陳皮（去白）　藿香（去皮，二味各七錢半）　厚朴（同上制，一兩半）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，棗一枚，煎七分，空心溫服。或入燒鹽同煎。</p>

<h4>參蘇飲</h4>
<p>解驚風煩悶，痰熱作搐，咳嗽氣逆，脾胃不和。</p>
<p>人參（去蘆）　紫蘇（和梗）　前胡（去蘆）　乾葛　半夏（同上制）　赤茯苓（去皮，六味各七錢半）　枳殼（同上制）　陳皮（去白）　桔梗（銼炒）　甘草（四味各五錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜三片，煎七分，無時溫服。</p>

<h4>紫草茸飲</h4>
<p>和益脾胃，催張豆瘡，庶使易收，不致傳變。</p>
<p>紫草茸（無嫩茸，取近蘆半寸者代）　人參（去蘆）　黃耆（生用）　當歸（酒洗去尾）　白芍藥　甘草（六味各半兩）</p>
<p>上件㕮咀，每服二錢，水一盞，糯米五十粒，煎七分，無時溫服。或入棗一枚，去核同煎。</p>

<h4>天麻飲</h4>
<p>治諸般風搐，不省人事。</p>
<p>天麻（明亮者）　川烏（炮製去皮，二味各七錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，慢火煎若稀糊，無時勤與溫服。</p>

<h4>黑白飲</h4>
<p>治臍風氣實者，及急驚壯熱發搐。</p>
<p>黑牽牛（半生半炒）　白牽牛（半生半炒）　大黃（生用）　陳皮（去白）　檳榔（五味各半兩）　甘草（炙，三錢）　玄明粉（二錢）</p>
<p>上除檳榔不過火，餘五味或曬或焙，仍合檳榔為末，同玄明粉入乳缽再杵勻，每服半錢至一錢，溫蜜湯調化，空心投服，或無時。此藥新合最妙，久則效遲。</p>

<h4>白附飲</h4>
<p>治肝風克脾土，痰涎壅盛，和飲食吐出，蓋風能生痰，痰壅甚食故吐出。</p>
<p>白附子　南星（生用）　半夏（生用）　川烏（生用，仍去皮臍）　天麻（明亮者）　陳皮（去白）　南木香　全蠍（去尾尖毒）　殭蠶（去絲）　丁香（各二錢）</p>
<p>上件㕮咀，每服二錢，水一盞半，姜二片，慢火煎七分，作五次空心溫服。</p>

<h4>二仙飲</h4>
<p>治瘧疾，不拘歲月遠近。</p>
<p>青蒿（去梗，二兩，五月五日採暴乾用）　桂枝（去粗皮，半兩）</p>
<p>上二味，銼曬為末，每服一錢。寒熱未發前，用涼酒調服。或先隔晚，亦以酒調下。</p>
<p>加香薷葉二兩，好茶芽半兩，合研成末，又名斬邪飲。治證下法同前，療暑瘧尤勝。</p>

<h4>雙金飲</h4>
<p>治下痢赤白，晝夜頻密，及泄瀉經久。</p>
<p>大罌粟殼（去蒂，銼碎，蜜水炒透，曬乾，一兩）　大川芎（銼碎釀，醋炒透候乾，半兩）</p>
<p>上二味，再曬或焙為末，每服一錢至二錢，用粳米清湯空心調服，或溫蜜湯。</p>

<h4>大順飲</h4>
<p>解冒暑毒，煩渴吐瀉，腹痛發熱神昏，或衄血咯血，及大府下血，小便黃少，口乾汗多。</p>
<p>細面（二十兩）　生薑（十六兩）　赤茯苓（去皮）　粉草（二味各五兩）</p>
<p>上先以生薑方切如綠豆樣，石缽內略杵爛，入面再杵勻，攤作薄片，烈日中暴乾，赤茯苓、粉草二味，細銼，同前薑、面片，或曬或焙，合研為末，每服一錢至二錢，新汲井水無時調服，或溫熱湯。</p>

<h4>快斑飲</h4>
<p>治痘瘡出不快。</p>
<p>麻黃（去節存根，一兩半，略以酒浸透一宿，焙乾）　紅色曲（半兩）　薄桂（去粗皮）　甘草（二味各三錢）</p>
<p>上銼焙為末，每服一錢，用溫白湯無時調服。</p>

<h4>消暑清心飲</h4>
<p>解伏熱中暑，煩躁作渴，神氣不清，及有驚搐，名暑風證，投之即效。</p>
<p>香薷（去老梗）　澤瀉（去粗皮，二味各一兩）　扁豆（同上制）　淨黃連　羌活　豬苓（去皮）　厚朴（同上制）　白朮　乾葛　赤茯苓（去皮）　升麻　川芎（十味各半兩）　甘草（一兩二錢）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時帶涼服。治暑風證，先投此劑得效，次服卻暑丹，其搐不致再發。</p>

<h4>定喘飲</h4>
<p>治夾風痰喘氣促，不拘冷熱二證。</p>
<p>人參（去蘆）　麻黃（不去根節）　防己（去黑皮）　訶子（去核）　半夏（同上制）　甘草（六味各五錢）</p>
<p>上件㕮咀，每服二錢，水一盞，姜二片，煎七分，無時溫服。</p>

<h4>常山飲</h4>
<p>治瘧後單熱不退。</p>
<p>常山　檳榔（二味各二兩）　烏梅（一兩，和核）</p>
<p>上前二味各銼片，各用醇醋釀一宿，常山炒乾，榔檳曬乾，仍同烏梅㕮咀，每服二錢，水一盞，煎七分。熱未發，先空心帶涼服，仍忌雞酒羊面生果毒物。有寒熱經久不除者，加此劑於小柴胡湯或藿香飲內，同煎亦效。</p>

<h4>消毒飲</h4>
<p>解急驚風毒，赤紫丹瘤，壯熱狂躁，睡臥不安，胸膈滿悶，咽喉腫痛，九道有血妄行，及遍身瘡疥。</p>
<p>牛蒡子（六兩）　荊芥穗（二兩）　甘草（一兩）</p>
<p>上件㕮咀，每服二錢，水一盞，煎七分，無時溫服。</p>

<h4>縮砂飲</h4>
<p>和胃氣，消宿食，及理腹痛，快膈調脾。</p>
<p>沉香（一兩）　縮砂仁　烏藥（二味各二兩）　淨香附（四兩）　甘草（炙，一兩二錢）</p>
<p>上除沉香不過火，餘四味銼焙，仍同沉香研為細末，每服一錢，用溫鹽湯無時。調服，或空心燒鹽湯調下亦好，及紫蘇棗湯尤妙。</p>

<h4>定吐飲</h4>
<p>治吐逆投諸藥不止，用此神效。</p>
<p>半夏（同前制，㕮咀如綠豆大，節去細末，二兩）　生薑（淨洗拭乾，和皮，二兩）　薄桂（去粗皮㕮咀，三錢）</p>
<p>上生薑切作小方塊，如綠豆大，同前半夏和勻，入小鐺內，慢火順手炒令香熟帶干，方下桂再炒勻，微有香氣，以皮紙攤盛，地上出火毒候冷，略簸去黑焦末。每服二錢，水一盞，姜二片，煎七分，稍空心少與緩服。</p>

<h4>萬安飲</h4>
<p>此劑能推陳致新，除邪輔正，和益脾胃，宣通氣血，調順飲食，疏解風寒，寧心化痰，去煩理熱，不拘證在表裡，並宜可投。常服百病不生，貞元益固，補養諸虛，亦有驗矣。此方與《宣明論》當歸飲相類不遠，治法最多，其藥品之外，惟加枳殼、半夏。</p>
<p>人參（去蘆）　當歸（酒洗）　大黃（生用）　防風（去蘆）　柴胡（去蘆）　枳殼（同前制）　半夏（同上制）　芍藥（淨洗）　黃芩　甘草（十味各一兩）　滑石末（六兩）</p>
<p>上件㕮咀，除滑石末臨入和勻，每服二錢，水一盞，姜二片，煎七分，無時溫服。或加棗一枚同煎。</p>

<h2>金餅門</h2>

<h3>金類</h3>

<h4>一字金</h4>
<p>治初生嬰孩一七之外，欲成臍風撮口，及卒中急驚慢風，牙關緊閉，痰涎上壅。</p>
<p>殭蠶（去絲）　威靈仙（去蘆，二味各四錢）　明白礬（生用，二錢）　細辛（去葉，一錢）　甘草（生用，二錢半）</p>
<p>上件銼焙為末，每服一字至半錢，薑汁沸湯調和，以指抹入牙關內。治卒中急慢驚證，口噤不開，用鹽梅湯調擦上下牙根二處。</p>

<h4>一匕金</h4>
<p>治痘瘡黑陷，或變紫黯色，證在急危，但投此藥，亦能頓蘇而復紅壯，則此劑又勝人齒散。若精神昏慢，口鼻氣冷，不復救矣。</p>
<p>穿山甲（同上制，五錢）　紅色曲（炒）　川烏一枚（灰火中帶焦炮，二味各二錢半）</p>
<p>上研為末，入麝香半字，同在乳缽杵勻，每用一匕，用蔥白濃煎湯調下，止投一服或二服。</p>

<h4>一抹金</h4>
<p>治遍身生瘡，潰爛如糜梨，燥痛膿汁不幹。</p>
<p>黎蘆（淨洗焙）　蛇床子（去埃土）　紅丹（火飛過，三味各五錢）　硫黃　赤石脂　明白礬（火飛過）　五倍子（去內蟲屑）　黃柏（去粗皮，五味各二錢）　輕粉（五十帖）</p>
<p>上前八味，或曬或焙為末，仍同輕粉在乳缽再杵勻，用生肥豬膏碎切，以瓦缽和藥末爛杵，塗抹患處，或清油調搽亦可。</p>

<h3>餅類</h3>

<h4>香橘餅</h4>
<p>治嬰孩過傷乳食，或吐或瀉，及病後虛中感積成痢，氣弱神昏，面黃目慢。</p>
<p>南木香　陳橘皮（去白）　青皮（去白，三味各二錢半）　厚朴（同上制，七錢）　縮砂仁　神麯（濕紙裹炮）　麥芽（淨洗焙，三味各五錢）　三稜炮銼（三錢）</p>
<p>上除木香不過火，餘七味銼焙，仍同木香研為細末，煉蜜捻作餅子，如芡實大。</p>
<p>每服一餅至三餅，用棗湯化開，空心溫服，米清湯亦可。</p>

<h4>通聖餅</h4>
<p>治大府閉澀，連日不通，滿腹膨脹，氣壅悶亂，服藥罔效。</p>
<p>淨黃連（二錢）　巴豆　生蒜（一個）　生鹽（半錢）</p>
<p>上以黃連銼碎為末，同後三味石缽內爛杵，捻作餅子，寸半闊，貼臍，緊搓干艾，切作綠豆大五枚，作五次安臍間餅子上，以火灸之即通。</p>

<h4>姜豉餅</h4>
<p>治久因濕氣中於膀胱，復為風邪客熱攻激，小便不利，臍凸腹脹，食減作痛，先投解表散，後用此藥貼之。</p>
<p>生薑（一兩，碎切）　生蔥（五根）　豆豉（七錢，潤者）　生鹽（一錢）　生蒜（七個，碎切）　酜糟（一燈盞，無有糟酒代）　穿山甲（同上制，五錢）</p>
<p>上件入石缽內同杵爛，捻作餅子，二寸闊，用微火炒熱，帶溫貼臍上，外以絹帕兜住。如冷，依前法換帶溫者貼之，或再以火烘暖亦好。</p>

<h3>拾遺</h3>

<h4>香艾丸</h4>
<p>此劑小兒常進，驚積自除，色澤殊異，手足肥健，脾胃調和，兼理男子婦人諸虛不足。生氣血，暖中焦，固養精神，消進飲食，男子服之身體強壯，寒暑耐安，婦人投之百病不生，經脈通順。</p>
<p>淨香附（一斤）　干艾葉（四兩）</p>
<p>上二味，瓦器盛，用醇醋浸經七日，於淨鍋內用火煮令醋盡，就炒乾研為細末，仍用醋煮粳米粉為糊，入乳缽亭分杵勻，小兒丸如蘿蔔子，大人丸如梧桐子。每服三十丸至五十丸或七十丸，湯酒米飲隨意送下，並不拘時。婦人血氣素虛無生育者，加琥珀二兩，同作丸服，極效，粒數湯使下法，亦依前，或用棗湯。</p>

<h4>烏白丸</h4>
<p>治五六歲以上小兒，頭風苦痛，或一邊作痛，及療耳聤耳。</p>
<p>綿川烏（湯浸潤略炮去皮臍）　草烏（略炮去皮）　川　白芷　蒼朮（如上制，四味各一兩）</p>
<p>上件銼焙為末，用生蔥汁合面糊丸，綠豆大，慢火焙乾，睛曬亦好，每服三十丸至五十丸或七十丸，食後臨臥用溫清茶送下。其蔥汁法，用生蔥不去根葉，入水同搗爛取汁。</p>

<h4>既濟解毒丹</h4>
<p>治小兒中熱，睡中咬牙，夢語驚悸不寧，或吐血溺血，強渴引飲，手足動搖，狀似鬼祟，並宜投服。</p>
<p>淨黃連（五分）　黃葉（去粗皮）　黃芩（淨者）　大黃（三味各二錢半）　肉桂（去粗皮）　枳殼（同上制）　白茯苓（去粗皮，三味各二錢）　甘草（生用，七錢）</p>
<p>上除桂不過火，餘七味銼焙，仍同桂為末，滴水乳缽內熟杵，丸綠豆大，帶潤以水飛硃砂末為衣陰乾，每服三十丸至五十丸，用麥門冬熟水無時送下。吐血溺血，梔子仁煎湯下。兒小者，薄荷湯磨化投服。</p>

<h4>輕粉散</h4>
<p>治長成小兒，蟲蛀牙疼，飲食不便。</p>
<p>輕粉　白礬（生用）　雄黃　紅丹（四味各一錢）　麝香（半字）</p>
<p>上件入乳缽細杵為末，先用五倍子、鶴蝨、生蔥，煮水大半碗，候溫灌漱令淨，次以前末藥一字或半錢擦患處，六七次即效。</p>

<h4>獨聖散</h4>
<p>治嬰孩滿口白屑，或如粟谷，糜爛作痛，不能乳食，晝夜煩啼，此名鵝口證。</p>
<p>大北南星（銼開，白者為佳，不拘多少）</p>
<p>上件為末，炒一錢或二錢，醋蜜調塗囟門上，於中間留一小指大不塗，及敷男左女上足心，仍以立效飲溫蜜水調點舌上，令其自化尤佳。</p>

<h4>藿香托裡散</h4>
<p>治諸腫毒癰疽，已潰未潰者，及疔瘡流注遍身，並內外一切黃證，噁心嘔逆，憎寒壯熱，晝夜疼痛，不拘老少，悉宜服之，此藥非特解毒，大能正氣理虛，祛風去煩，排膿活血，定痛消腫。</p>
<p>藿香　連翹　山梔仁　川當歸（酒洗）　木通（去節）　芍藥　殭蠶（去絲）　甘草（八味各二錢半）　大黃（生用）　茵陳　黃耆（生用）　貝母（四味各五錢）</p>
<p>上件㕮咀，每服二錢，酒水各大半盞，煎八分。病在上食後溫服，病在下食前溫服。</p>

<h4>拔毒散</h4>
<p>治癲犬惡大所傷，不拘老幼，並宜可投。</p>
<p>斑蝥（七枚，去翅足，用屋瓦盛入糯米，同一處勻炒，候米黃為度，以乳缽細杵，羅過不用米）　黑牽牛末（二錢半，先曬研取末）</p>
<p>上二味和勻，用無灰溫酒調作一服，空心投。其毒自小便中出，或從大府過，似葡萄肉或如犬形，見毒出盡，尚覺腹中有痛，取用青黛入乳缽杵勻，仍羅為末，每服三錢，井花水調下二服，不拘時。</p>

<h4>神應散</h4>
<p>治小兒大人虛嗽，神效。</p>
<p>罌粟殼（去梗蒂，銼碎，蜜水炒）　杏仁（湯泡去皮尖，炒過）　白膠香（浮者水煮過濾干）　人參（去蘆）　阿膠（銼碎炒過）　麻黃（去節存根）　烏梅（和核，五味各二兩）　桑白皮（去粗皮，銼碎蜜水炒透）　款冬花（浮者，四味各一兩）　甘草（炙，一兩）</p>
<p>上件㕮咀，每服二錢，水大盞，姜三片，棗一枚，煎八分，空心溫服，或不拘時。</p>

<h4>涼肺散</h4>
<p>治小兒大人一切實嗽。</p>
<p>桑白皮（去粗皮，銼碎蜜水炒過，二兩）　桔梗（銼炒）　天花粉（淨者）　乾葛麻黃（不去根節）　薄荷（和梗）　黃芩　杏仁（不去皮尖）　知母　貝母　木通（去節，十味各一兩）　款冬花（淨者）　麥門冬（去心，二味各七錢半）　甘草（生用，一兩八錢）</p>
<p>上件㕮咀，每服二錢，水大盞，姜三片，蔥一根，煎八分，無時溫服。如有熱氣促，加大黃制、枳殼各一兩。</p>

<h4>玄明粉</h4>
<p>治腎水衰虛，肝經邪熱，視物不明，或生障翳，脡肉攀睛，迎風淚出，或如蠅飛油星，或睛澀腫，痛養不可忍，並皆治之，及療風熱上壅，咽痛口瘡，痰實咳嗽不活，悉宜加諸藥內，自然作效。</p>

<h4>明淨朴硝</h4>
<p>上於臘月霜雪凝寒之際，用皂莢三兩重，略炮捶碎，溫熱湯六碗，挪去渣浸化，薄皮紙二重濾過澄清，入鐵鍋煮至一半，候溫，傾出瓦盆內，於見天處露一宿，次早結塊，再用淨熱水六碗化開，入大蘿蔔八兩重，切作二分厚一片同煮，見蘿蔔熟為度，仍便在瓦盆去蘿蔔片，放在見天處露一宿，次日結塊去水，取去濾干，入好皮紙袋盛，懸卦當風處，自然成粉，用以點眼，只如常法，治風熱等疾，隨意加減用之。</p>

<h4>必勝散</h4>
<p>治小兒大人，病中聞飲食藥氣，即噁心乾嘔，不能療者。</p>
<p>川白芷（不拘多少）</p>
<p>上件銼曬或焙研為細末，抄一字及半錢於舌上，令其自化，或用掌心盛之，以舌舐咽。兒小者，溫淨湯濃調，少與含化，並不拘時，至六七次即效。</p>

<h4>遠徹膏</h4>
<p>治大小府秘澀，投諸藥無驗，不拘老幼，並皆療之。</p>
<p>穿山甲（尾足上者佳，燒透，二錢重）　五靈脂（淨者，二錢重）</p>
<p>上二味研為細末，次以巴豆二錢重，去殼研碎，和前藥末，仍用大蒜四錢重，去上粗皮三五層，於砂缽內爛杵如泥，丸作一餅納臍中，以絹帕系之，外以掌心火上烘熱，熨至八九次，聞腹中微響即通。</p>

<h4>至聖散</h4>
<p>治老幼暴吐，服藥不止者神驗。</p>
<p>枇杷葉（淨刷去葉後毛，銼碎，二兩重）　半夏（㕮咀，淨者，四兩重）</p>
<p>上件用生薑四兩重，切作綠豆大，拌勻釀一宿，慢火炒令微焦色，以皮紙盛於地上候冷，每服二錢，水一盞，煎七分，去渣，空心少與緩投。或入諸藥內同煎服，亦效。</p>

<h4>八仙飲</h4>
<p>治小兒男子婦人，血風目疾，經久不瘥，晝夜澀痛，視物不明，甚至生翳散漫，投諸藥未驗者。</p>
<p>生乾地黃（淨洗焙乾）　赤芍藥　大川芎　羌活　川當歸（尾酒洗焙乾）　龍膽草　漢防己　甘草（八味各五錢）</p>
<p>上件㕮咀，每服二錢，水一盞，白蜜半匙，煎八分，去渣，食後臨臥二時溫服。</p>

<h1>跋一</h1>
<p>曾世榮《活幼新書》上中下三卷，上卷為決證詩賦，中卷為明本論並拾遺，下卷為信效方並抬遺。余向曾見此刻多闕失，故未收，後又收得一本，非此刻矣。適從五硯樓以醫書一櫥歸海寧友人，余為之介，遂檢得是書，中多缺葉，影鈔別本補全，即所收之又一本，而非原刻也。重付裝池，而識其緣起如此。</p>
<p><u>嘉慶辛未中秋前二日復翁丕烈識</u></p>

<h1>跋二</h1>
<p>元本《活幼心書》三卷，每半葉十一行，每行二十一二字不等。蓋至元甲午曾氏原刻全帙，藝風前輩所藏士禮居本也。德顯出處無徵，是書辨證詳明，處方精審，允為仁人之言，自序備述淵源，極有心得。爰為重刻，以廣流傳。同《衡陽縣誌》及各家著錄，多作《新書》，黃跋偶沿其誤，《千頃堂書目》，光緒《湖南通志》，據抱經堂補元志，並作二卷，殆亦未見全書。明宣德庚戍有修補本，日本享保甲寅，曾為校刻，皆不及此本之善。因屬翟君展成鳳翔蕭君伯丞延平再三讎校，改正良多，並附校記於後。其昭晰無疑者，不復贅列，庶後之君子，有所考焉。</p>
<p><u>宣統二年庚戍二月武昌柯逢時</u></p>
