<header data-type="book">
<h1>幼科折衷秘傳真本</h1>
</header>

<h1>序言</h1>
<p>醫之一業，擅於岐黃，稱為國首。夫醫者意也。以望、聞、問、切而察其表裡虛實，因暑濕風寒而合乎病脈形證，孰標孰本宜詳，在臟在腑可辨，思維切而病之底蘊可窺，用意深而藥之卻病必易。合而觀之，本無偏頗之患，析而論之，亦有中正之理。余觀折衷一書，分門甚簡，病情悉備，洗淨浮辭，獨存精要，為海內罕覯之書，實有益於民間之用。奈粵匪亂後，刊板盡廢，無從可購，所有家藏，均屬抄本，皆有秘而不宣之意。余弱冠時，聞先人言及：欲習幼科，必謀折衷式目為幸。後十餘年，適有知己懷保赤之心，苦於局外，知余宗幼科，歷有年數，承借是書。取而玩之，實深感慨，可謂欲拯斯人之疾苦者，即以是為濟世之航也。維無推拿之法，而用藥極當。獨惜此本亦是抄傳，其中字句乖誤甚多。余依樣葫蘆，不求甚解。維稍有塗改，仍不免以誤傳誤之弊。若有識者見之，不妨指點迷津耳。</p>
<p><u>光緒十八年歲次壬辰壯月錄。　</u></p>
<p><u>濟世軒雨蓀孟作霖謹序　</u></p>
<p>（是書抄成，一片苦心，宜尊之、重之、久而藏之，切勿借於外人。況醫家皆以為秘本，其實非也，特恐遺失故耳。望吾後裔將此書藏之，無廢吾之苦心也。至要至要！）</p>

<h1>十二經</h1>
<p>心：手少陰之脈，君主之官，神明出焉。</p>
<p>小腸：手太陽之脈，受盛之官，化物出焉。</p>
<p>心包絡：手厥陰之脈。</p>
<p>大腸：手陽明之脈，傳道之官，變化出焉。</p>
<p>肝：足厥陰之脈，將軍之官，謀慮出焉。</p>
<p>膽：足少陽之脈，中正之官，決斷出焉。</p>
<p>脾：足太陰之脈，倉廩之官，五味出焉。</p>
<p>胃：足陽明之脈，倉廩之官，五味出焉。</p>
<p>肺：手太陰之脈，相傅之官，治節出焉。</p>
<p>三焦：手少陽之脈，如天地三元之氣也。</p>
<p>腎：足少陰之脈，作強之官，技巧出焉。</p>
<p>膀胱：足太陽之脈，津液藏焉，氣化則能出焉。</p>

<h1>急驚辨</h1>
<p>《內經》曰：諸風掉眩皆屬於肝，風為百病之長也。肝火已熾，為真水未旺；心火已炎，肺金受制，故肝木常有餘而脾土常不足。或失於保養，或抱於當風，或衣衾過厚，以致邪實鬱蒸，積於心、傳於肝。再受人物驚觸，未發之時，臥睡驚跳，又有或笑或哭，壁齒咬乳，鼻額有汗，氣促痰鳴，忽而悶絕，目竄上視，口噤不開，手足搐掣，此熱盛而然，況兼面紅脈數可辨。蓋心有熱而肝有風，風主乎動，火得風則煙焰起，二陽相敵，風火相搏。肝藏魂，心藏神，因熱則魂易動，故發驚也。心主乎神，則不受觸，遇有驚則發熱。熱極生風，故能成搐，名是急驚，以寬氣飲、三解散去參主之。如暴感此症，未別陰陽虛實，先用五苓散和寬氣飲，少加寬熱飲，三藥合用，薑汁沸湯調灌即解。凡驚風發搐，聽其自動而止，不可抱緊，使其氣機暢通可也。不然定有驚廢之症。</p>
<p>余嘗感慨諸人每見驚風搐作，不明標本，混為一症，遽用金石腦麝，誤吞蛇蠍大寒搜風等劑，投之耗傷真氣，其症愈甚，多致不救。殊不知驚生於心，風生於肝，搐始於氣。所謂搐始於氣者，蓋因風寒暑濕燥火之機，若氣一不順，便搐於咽喉間，搏於心肺，傳入肝經，其氣上不能升，下不能降，使津液鬱滯不得流行，故痰涎壅閉而作搐也，亦宜寬氣飲治之。</p>
<p>然當知所以受病。如病在驚，驚由痰熱，只得可退熱化痰，其驚自止；如病在風，風由驚作，只可利驚化痰，其風自退；如痰涎壅盛，急須退熱化痰；如手足搐掣，亦須截風散驚，此不易之法也。</p>
<p>有傷風后發搐者，口中氣出熱盛，呵欠頓悶，手足搖動，此氣血未實，不能勝任故也，治當先發散，大青膏主之。</p>
<p>有傷食後發搐者，身體溫，多睡或嘔吐，不思乳食，此食積凝滯，則氣亦因之而滯，故發搐也，當先定搐，加羌活、防風，兼瀉青丸下之，後用白餅子下其食，漸用異功散養其氣。</p>
<p>有出麻痘而發搐者，身體溫，多睡或嘔吐不欲飲食，此乃熱乘於心，心火炎上，故目睛上竄，其症：耳輪、鼻尖、手足稍冷，嚏噴眼澀，睡中驚跳是也，但無痰涎為異耳。治法當平肝木，利小便，平肝木則風自去，利小便則心熱退，風熱既定，則麻痘出而搐愈矣，宜導赤散加芍藥、防風、荊芥之類。</p>
<p>有痘後發搐者，此氣血虛弱，復感風寒，熱毒反滯，且不敢發散清利，不治者多矣。</p>
<p>有聞聲即掣跳者，乃肝肺不足，魂魄不穩，故神有不安，非謂驚也，可服犀角地黃丸。</p>
<p>有小兒心氣虛怯，神不安定，連並掣跳者，可服四君子湯加辰砂少許服之。</p>
<p>暑風一症，因夏月感冒風邪太甚，致面垢唇紅，脈息沉細而數，忽然發搐，不省人事，治以消暑清心飲、辰砂五苓散及抱龍丸。</p>

<h1>慢驚辨</h1>
<p>慢驚屬陰，陰主乎靜而緩，故曰慢驚。或得於大病之後，或逆傳誤轉之後，目慢神昏，手足偏動，口角流涎，或口中氣冷，或囟門下陷，睡則揚睛，或半開半合，此真陽消耗而陰邪獨盛，陰極生寒，寒為水化，水生肝木，木為風化，本克脾土，胃為脾之腑，故胃中有風，瘛瘲漸生，兩眉微聳，兩手垂下，時復動搖不已，此症有汗者必不治，故仲景曰：陰不得有汗，蓋陰症皆無汗，若有汗者，陽亦亡耳，治法不同，如吐瀉得之，則理中湯加木香以溫其中，五苓散以疏其水；如臟寒泄瀉得之，則先以朮附湯，後用調氣湯調和脾胃；如外感寒風，則可與桂枝湯、葛根湯，其他可以類推矣。然慢驚雖屬陰，視其淺深何如，不可純用溫藥及燥烈之劑，惟於平胃中加截風定搐之品，如全蠍、殭蠶、白附，天麻、南星等為良，若吐不止即投定吐飲，瀉不止宜服六桂散、五苓散，若痰多唇白、四肢冰冷、不醒人事方可回陽用固腸湯速灌之，以生胃氣，胃氣既復，投醒脾散徐徐調理。慢驚之候，面青額汗，舌卷低頭，眼合不開，困睡搖頭吐舌，頻嘔腥臭，噤口咬牙，手足搦搐而不收，或身冷或身熱，其脈沉細。蓋慢驚之候，由吐瀉損脾者多，病傳已極，總歸虛寒，推脾所受，故曰慢脾驚。若逐風則無風可逐，療驚則無驚可療，但脾間痰涎虛實往來，其眼合者，脾困氣乏，神志昏迷，痰涎壅滯，然而世所謂難療者是也，大要生胃回陽金液丹、生附四君子湯酌而用之，若胃氣漸復，仍服醒脾散、異功散之類，諸藥不效者，如有太衝脈則取百會穴灸之可也。</p>
<p>總括：</p>
<p>面紅卒中渾身熱，唇紫牙關氣如絕，目翻搐搦喉中響，此是急驚容易治。</p>
<p>陰虛陽盛病根深，吐余瀉後睡揚睛，神昏搐緩涎流甚，此是分明即慢驚。</p>
<p>脈法：</p>
<p>浮數紅紫為急驚，沉遲散緩為慢驚，風形勢入里者為順，如出外者為逆。綱目云：搐，一也。而有晨夕之分，表裡之異。身熱力大者為急驚；身冷力小者為慢驚；仆地作聲，醒時多沫者為癇；目仰視者為天吊；角弓反張者為痙。各有不同也。病有相似而實不同，此予素所經驗。</p>
<p>近有小兒，先竟身熱，少頃僵仆，不知人事，目睛上視，口唇牽動，手如驚風，掣跳不止。一醫以驚風治之，蓋食傾間屢醒屢搐是也。請予視之。予問曰：「兩日曾熱否？」病家曰：「前日午時發熱，至傍晚方止，昨日無恙。不意今日又熱，遂成驚風。」予曰：「此宿食頑痰膠固於中，榮衛不行，邪正相攻，乃瘧疾也。以金石鎮驚之藥投之，豈無助火為害之患乎？」命其切勿服藥，恐藥疾交攻，病勢反劇。至下午稍減，以二陳湯加山楂、麥芽、青皮、檳榔、防、葛服之。至明日瘧雖作而痙病悉退，又服清痰散表之藥四劑而愈。</p>
<p>驚風有四證八候。四證者，驚、風、痰、熱是也；八候者，搐、搦、掣、顫、反、引、竄、視也。搐者，兩手伸縮；搦者，十指開合；掣者，勢若相摸；顫者，頭偏不正；反者，頭仰向後；引者，臂若開弓；竄者，目直怒視；視者，睛露不合。四證已全，八候生焉；四證若無，八候安有？是藥可不究心也。東垣云：小兒瀉青有驚，當先補其土，後瀉其木。其風木旺症，右關脈洪大，掌中熱，腹皮熱是也。今立一方，黃耆益黃散主之，人參、黃耆、甘草，皆澀補脾土，益元氣，甘能瀉火。《內經》曰：熱淫於內，以甘瀉之，以酸收之。白芍酸寒，寒能瀉火，酸能瀉木而大補肺金，所補得土金之位，火旺則大虛矣。風木何由而來剋土，然後瀉風木之旺。脾虛者，以火邪乘其土位故也，故曰：從後來者偏虛邪，火旺能實其木，木旺故來剋土也。當於心經中以甘溫補土之源，更於脾土中瀉火以甘寒，補金以酸涼，故致脾土中金旺火衰，則風木自虛矣。</p>
<p>寬氣飲：枳殼　枳實　人參　甘草</p>
<p>三解散：人參　防風　天麻　茯神　山梔　白附　黃芩　大黃　赤芍　殭蠶　全蠍　枳實　甘草</p>
<p>如實者加大黃，虛者加。</p>
<p>五苓散：茯苓　白朮　豬苓　澤瀉　肉桂</p>
<p>寬熱飲：玄明粉　枳殼　大黃　甘草</p>
<p>大青膏：白附　青黛　天麻　全蠍　硃砂　烏蛇　麝香　天竺黃　大青</p>
<p>瀉青丸：當歸身　龍膽草　川芎　羌活　防風</p>
<p>白餅子：滑石　輕粉　半夏　巴豆（四十粒，去皮尖，水一升，煎盡為度，研入藥內為餅）</p>
<p>異功散：人參　甘草　白朮　茯苓　陳皮　木香</p>
<p>導赤散：生地　木通　甘草</p>
<p>犀角地黃丸：天冬　麥冬　茯苓　前胡　茯神　柴胡　人參　玄參　生地　川芎　天麻　羌活　防風</p>
<p>清暑清心飲：藿香　澤瀉　白朮　茯苓　肉桂　神砂</p>
<p>黃耆益黃散：人參　黃耆　甘草　白芍　陳皮　黃連　茯苓</p>
<p>理中湯：人參　白朮　乾薑　甘草</p>
<p>朮附湯：白朮　附子　甘草</p>
<p>調氣湯：木香　香附　人參　陳皮　藿香　甘草</p>
<p>桂枝湯：桂枝　白芍　生薑　甘草</p>
<p>葛根湯：葛根　麻黃　芍藥　桂枝　甘草</p>
<p>定吐飲：半夏　生薑　薄荷　官桂</p>
<p>六桂飲：人參　白朮　茯苓　廣木香　上肉桂　附子</p>
<p>固真湯：附子　人參　茯苓　白朮　淮山藥　炙黃耆　肉桂　甘草</p>
<p>金液丹：舶上硫磺（十兩，研細入罐內煅用）</p>
<p>生附四君湯：人參　白朮　茯苓　甘草　生附子輕用</p>
<p>急驚不治症：</p>
<p>眼睛翻轉口中出血，兩眼擺跳，肚腹搐動，或神疲而摸體尋衣，或病深而神昏氣促，含藥不下，通關不嚏，心中熱痛，忽然直聲大叫，此等病情皆為不治。</p>
<p>慢驚不治症：</p>
<p>四肢厥冷，面黯神慘，鴉聲魚口，發豎搖頭，口生白點，眼不轉睛，頭項軟，二便不禁，手足一邊牽引者，亦不治之症也。</p>
<p>然口中出血與通關不嚏，或有治而生者，十中亦有一二可治，切勿因有此說便棄而不治。四肢厥冷，二便不禁，速服暖胃回陽之藥，如其不效，乃稱不治。予宗幼科已數十年已，凡遇此等之症實屬不少，而治之則愈者，十中只有六七，不可因其不治，即云無藥可療也。望後學者竭力以治，苟或幸生，不特病家銘感不已，而自己聲名重鎮矣。</p>

<h1>疳積</h1>
<p>《內經》曰：素食肥，令人內熱；素食甘，令人中滿。蓋其因肥甘所致，故名曰疳。若夫小兒乳哺未息，胃氣未全，父母不能調攝，惟姑息舐犢之愛，遂令恣食肥甘生冷，食滯膠固，以致身熱不涼，肌體消瘦，面色痿黃，或肚大青筋，蟲痛瀉痢，則疳症由此而起矣。錢仲陽曰：諸疳皆脾胃之病，內亡津液而成也。或因大病後，或吐瀉後，或用藥攻下太過，致脾胃虛弱，津液漸耗，身常虛熱，當即依本臟而補其母，則子自可以安。假令日中潮熱，是心經虛熱。肝木為心火之母，宜先補肝，肝實而後瀉心火，心得母氣則內平，而潮熱愈矣。醫見潮熱，妄謂其實，倘以諸藥或涼或利，則二便不禁，耗傷真津，即成疳也。餘臟皆宜仿此。</p>
<p>又有幼小缺乳，與食粥飯太早，耗傷胃氣亦能成疳。其症始由脾臟有積，倘不延醫調治，傳入他臟，則成五疳之疾，故有五疳之分。</p>
<p>肝疳即風疳，其症頭搖揉目、白膜遮睛、眼青多淚、頭焦發立、遍身瘡癬是也，宜服天麻丸。</p>
<p>心疳即驚疳，其症壯熱臉紅、口舌生瘡、五心煩熱、盜汗發渴、咬牙虛驚是也，宜用伏神丸。</p>
<p>脾疳即食疳，其症身面俱黃、肚大脈細、吐逆中滿、水穀不消、瀉下酸臭、合目困睡、減食吃泥，宜用五靈丸。</p>
<p>肺疳即氣疳，其症咳嗽喘逆、壯熱惡寒、肌膚粟生、鼻癢流涕、咽喉不利、頤爛氣脹、泄瀉頻作、毛焦吐血，是宜化應丸。</p>
<p>腎疳即急疳，其症腦熱肌削、手足冰冷、乍寒乍熱、便瀉腹痛、口渴鼻乾、齒齦生瘡、爪黑麵黧、身多疥瘡，宜服地黃丸。</p>
<p>大抵疳之為病，頭毛光急，發稀枯，面黃唇白，身汗口渴，尿白瀉臭，肚腹作脹，潮熱，皆其候也。</p>
<p>蛔蟲者，小兒斷乳太早，以致停蓄積滯，化熱生蟲。其證皺眉多啼，嘔吐清水，腹中陣痛，肚脹青筋，唇口紫黑，腸頭濕癢是也，化蟲丸主之。</p>
<p>脊疳者，蟲食脊膂，身熱羸黃，積中生熱，煩渴下痢，拍背如鼓鳴，脊骨如鋸齒，或十指生瘡，頻齧爪甲，下蟲丸主之。</p>
<p>腦熱者，腦中素受風熱，生下乳哺失常，頭皮光急，頭瘡如餅，頭熱如火，發稀如穗，遍身無汗，腮腫囟高。若臨產多欲亦然，最易損兒，宜服龍膽丸。</p>
<p>疳腫脹者，虛中有積，其毒與氣並交，故令肚腹緊脹，由脾臟受濕，或冷熱不調，虛中不能宣導，以致頭面浮腫，褐子丸主之。</p>
<p>疳勞者，潮熱往來，五心煩躁，手足心及胸前熱而發瘡，盜汗骨蒸，咳喘痰稠，其症口渴，腹硬，泄瀉，飲水，惡食，面色如銀，不可緩治，急用黃耆湯。</p>
<p>無辜疳者，腦後項邊有核如彈，按之轉動，並不作疼，其間有蟲如米粉，宜速破之。以針挑破，使蟲隨熱氣流散。然此蟲淫食臟腑，若使不挑，肢體癰瘡，便利膿血，壯熱羸瘦，頭骨高突，宜服蚵皮丸。</p>
<p>丁奚者，手足極細，項小骨高，尻削身痿，腹大臍突，號哭胞陷，或生谷瘕也。</p>
<p>哺露者，虛熱往來，頭骨分開，翻食吐蟲，煩渴嘔噦，柴骨疲露也。其候皆因脾胃久虛，不能消化水穀，以致精神減損，實由氣血兩虧而成此二症也。十全丹主之。</p>
<p>魃病緣小兒生後周歲，母腹復懷孕，其氣血分之兩端，胎孕未免受傷，乳汁豈無蘊毒，小兒故吻之有疾，斂率其氣，郁傷其神魂，令兒面黃腹脹，微熱下痢，或寒熱往來，毛髮鬡，日漸黃瘦，精神不振。是乃飲母魃乳故也。宜速斷乳，溫平胃氣，和順血脈。龍膽湯主之。</p>
<p>總括：</p>
<p>五疳五臟一般看，治法詳推事不難。若見面黃肌肉瘦，齒焦發豎即為疳。</p>
<p>脈法：</p>
<p>脈細為疳勞，虎口紋白色者為疳。</p>
<p>錢仲陽曰：肝疳，一名筋疳，白膜遮睛，或便血而瘦，用地黃丸；心疳，面黃頰赤，身體壯熱，用安神丸；脾疳，一名肥疳，體黃瘦削，皮膚乾澀而有瘡疥，腹大者，用益黃散；腎疳，一名骨疳，肢體瘦削，遍身瘡疥，喜臥濕地，用地黃丸；肺疳，一名氣疳，喘嗽氣促，口鼻生瘡，用益黃散。按此論皆稱其母也，當參看。</p>
<p>仲陽曰：凡小兒疳在內，目腫腹脹，瀉利青白，體質瘦弱；疳在外，鼻下赤爛，頻揉鼻耳，或肢體生瘡。鼻瘡或爛，以蘭香散敷之。用蘭香二錢，燒存性，銅青、輕粉各五分，為細末，干敷之。又白粉散，用烏賊魚骨末二匙，白及末一匙，輕粉一匙，為末和勻，冷茶洗瘡，拭乾敷之。此治口外疳瘡。</p>
<p>天麻丸：青黛　黃連　天麻　川芎　膽草　防風　蟬衣　全蠍　五靈脂　夜明砂</p>
<p>茯神丸：蘆薈　茯神　琥珀　黃連　赤苓　鉤藤　菖蒲　麝香　遠志　蝦蟆</p>
<p>五靈丸：砂仁　白豆蔻　麥芽　蓬朮　青皮　陳皮　使君子　蝦蟆灰　五靈脂</p>
<p>地黃丸：熟地　赤苓　山茱萸　丹皮　山藥　使君子　當歸　川芎　川楝子</p>
<p>安神丸：麥門冬　馬牙硝　白茯苓　淮山藥　寒水石　甘草　硃砂　片腦</p>
<p>益黃散：陳皮　青皮　訶子　甘草　丁香</p>
<p>一方加人參　白朮　各有妙處。</p>
<p>化蟲丸：蕪荑　鶴蝨　檳榔　蝦蟆　蘆薈</p>
<p>下蟲丸：木香　桃仁　蕪荑　檳榔　鶴蝨　輕粉　蝦蟆　使君子　新苦楝根皮</p>
<p>龍膽丸：膽草　升麻　防風　赤苓　川楝皮　油發灰　青黛　黃連　蘆薈</p>
<p>褐子丸：葡萄子　陳皮　青皮　檳榔　赤苓　黑醜　蓬朮　木香　五靈脂</p>
<p>黃耆湯：黃耆　當歸　川芎　芍藥　生地　人參　茯苓　陳皮　柴胡　半夏　使君子</p>
<p>蚵皮丸：捉蟾蜍一隻，要腹大不鳴不叫、身多賴斑者。取糞蛆置桶內，即將蟾蜍打殺之，放在糞蛆中，聽蟲食一晝夜，次日以布袋之，置急流水中，漂浸一夜取出，瓦上焙乾為末，入麝香一匙和為丸，如桐子大，每服約二十丸。</p>
<p>十全丹：青皮　陳皮　蓬朮　川芎　白蔻仁　檳榔　蘆薈　木香　使君子　蟾蜍　五靈脂</p>
<p>龍膽湯：膽草　鉤藤　柴胡　桔梗　芍藥　川芎　茯苓　甘草　人參　大黃</p>

<h1>諸吐</h1>
<p>《內經》曰：「諸吐嘔酸，暴注下迫，皆屬於火。」河間曰：「胃膈熱甚則為嘔，火氣炎上之象也。」夫吐為有物無聲，吐屬太陽，多血少氣，乃血中之病也。噦為有聲無物，噦屬少陽，多氣少血，乃氣中之病也。嘔則有物有聲，嘔屬陽明，多血多氣，謂氣血俱病也。前人以吐屬火，此特其一端耳。</p>
<p>冷吐者，凝乳不消，多吐而少出，脈息沉細，面白眼慢，氣滯神昏，額上有汗。此因風寒入胃，或食生冷，或傷宿乳，胃虛不納而出。宜溫胃去寒法，用理中湯、定吐飲。如服此不效，以香薷飲治之。</p>
<p>熱吐者，面赤唇紅，吐次少而出物多，乳片消而色黃，遍體氣悶，納呆。或暑氣在胃，或偶食熱物，精神不疲而多煩躁。宜服香薷飲。</p>
<p>積吐者，眼胞浮腫，面色微黃，足冷肚熱，日輕夜重，按脈沉緩。此宿乳滯脾，故吐黃色酸水，或有薄痰。脈實而滑，為食積所傷，吐酸臭氣，或宿食並出，哯乳不化。宜用三稜散。</p>
<p>傷風嗽吐，有熱生風，有風生痰，痰結胸中，肺氣不順，連嗽不已，隨痰出物，此為嗽吐，痰壅而作，乃為肺症。宜去風化痰，先服小柴胡湯。若瀉久肺虛，土不生金，面白唇紅，干嗽乾嘔無痰，宜溫補為上，用茯苓厚朴湯、惺惺散。</p>
<p>傷乳吐者，才飲乳後即吐，或少停而吐。此因乳飲無度，脾氣虛弱，不能運化。譬之小器盛物，滿則溢也。更當節乳，投三稜散。</p>
<p>嘔家多渴，胃之津液干也。欲飲水以自救。宜少飲湯水，多飲則恐成吐逆。宜五苓散。有平常噁心，吐出清水，心胃作痛，得食漸止，飢則更甚。此胃中有蛔蟲也，宜檳榔散。大抵嘔吐第要節乳，徐徐用藥調治。蓋節者搏節之節，無過飽也。如不明此理，動輒斷乳，二三日以致餒，甚而胃虛，反致不救者多矣。切須知此。</p>
<p>總括：</p>
<p>面青唇白冷為真，熱吐腥酸頭額溫，停食作痰嘔乳遂，不宜尿澀燥紅唇。</p>
<p>脈法：</p>
<p>脈浮而遲，氣少不泛，難治。</p>
<p>丹溪曰：胃中有熱，膈中有痰，令人時常嘔吐清水，作噯吞酸等症。用二陳湯，加薑汁炒黃連、山梔、蒼朮、川芎、香附、砂仁、神麯、山楂，少加木香以行滯氣，再加薑汁沖服。凡病嘔吐切不可下，以其逆之故也。此丹溪之論。而東垣云：吐而大便不通，則利大便。上藥則在所當禁。二說相反，要審其通與不通而治之。</p>
<p>理中湯：人參　白朮　甘草　生薑</p>
<p>理中飲：人參　沉香　丁香　藿香　薑汁</p>
<p>香薷飲：香薷　扁豆　厚朴　黃連</p>
<p>三稜散：人參　三稜　蓬朮　陳皮　枳殼　香附　青皮　甘草　益智仁　陳神麯　麥芽　半夏　大黃　紫蘇</p>
<p>小柴胡湯：人參　半夏　黃芩　柴胡　甘草</p>
<p>茯苓厚朴湯：茯苓　厚朴　半夏　甘草</p>
<p>惺惺散：人參　桔梗　茯神　白朮　防風　川芎　細辛　南星　甘草　花粉</p>
<p>檳榔散：黑錫炒成灰，檳榔等分為末，米飲調服，苦楝湯亦可。嘔家聖藥是生薑，信矣。然氣逆作嘔，半夏送之。生薑與寒症最佳，然熱症不可無烏梅丸。女子嘔吐甚者，死，以其陰在上故也。</p>

<h1>諸熱</h1>
<p>《內經》曰：陽勝則外熱，陽虛則外寒；陰勝則內寒，陰虛則內熱；陰陽相勝，則寒熱往來。又曰：陽不足則先寒後熱，陰不足則先熱後寒，陰陽不歸其分則寒熱交爭。又曰：肝熱病者，左頰先赤；心熱病者，額先赤；脾熱病者，鼻先赤；肺熱病者，右頰先赤；腎熱病者，頤先赤。乃病雖未發，而其熱象先形於面矣。夫熱有輕重不同。有病翕翕發熱者，若合羽取覆，明知其熱在外屬表，由風寒客於皮膚，陽氣拂鬱所致，宜發汗以散之。又病蒸蒸發熱者，若熏蒸壯熱，明知其熱在內屬裡，由陽氣下陷而傳入中宮也，用攻下以滌之。表裡未擺，邪氣傳裡，里未作實，是為半表半裡之間，則表裡俱發熱而熱又輕於純在表也。發熱惡寒，發於陽也；無熱惡寒，發於陰也。夫小兒生稟純陽，血氣壅實，五臟易生熱也。凡熱各不同而治亦不同焉。</p>
<p>總括：</p>
<p>發熱無過先有餘，次傳不足始成虛；身中有熱先除熱，表裡逢虛先補虛。</p>
<p>脈法：</p>
<p>脈沉而數者，骨間有熱，欲以腹按清冷也。小兒八九至為熱，浮大微，風熱脈，有力為實，無力為虛。</p>
<p>瀉青丸：當歸　川芎　山梔　防風　甘草　羌活　大黃</p>
<p>瀉黃散：藿香　防風　石膏　山梔　甘草</p>
<p>此方治脾熱。</p>
<p>瀉白散：桑白皮　地骨皮　甘草</p>
<p>此方治脾肺熱。</p>
<p>滋腎地黃丸：黃柏　知母　桂枝</p>
<p>此方治腎熱。</p>
<p>導赤散：生地　木通　甘草</p>
<p>此方治小腸熱。</p>
<p>大柴胡湯：柴胡　黃芩　白芍　半夏　大黃　甘草</p>

<h1>諸瀉</h1>
<p>《內經》曰：春傷於風，夏必飧泄。又曰：濕勝則濡泄。夫脾胃同濕土之化，主腐熟水穀，胃氣和平，飲食入胃，精氣則輸於脾土，歸於肺，行於百脈，而成營衛。若飲食一傷，起居不時，損其胃氣，則上升精華之氣反下降而為飧泄矣。</p>
<p>冷瀉多是白水，瀉密而少，腹痛而鳴，眉皺目慢，面帶白色，額上汗出，此為冷瀉。用守中湯、益中湯。</p>
<p>熱瀉大便黃色，如筒吊水，瀉過即止，半日復然，心煩口渴，小便黃少，食乳必粗，此為熱瀉。先用五苓散，後用香薷飲。</p>
<p>傷食瀉，因飲食過多，有傷脾氣，遂成泄瀉，故大便不聚，臭如敗卵。宜三稜散。</p>
<p>水瀉謂之洞泄，乃陰陽不順，水穀不分，瀉黃水而小便少，番次密而無度，此為冷熱相激，清濁渾亂，或因乳有熱氣，遽以哺之，令兒脾胃不和，水穀交雜而下。以改阻五苓散加苡仁、車前子、半夏，姜水煎服香薷飲。</p>
<p>積瀉者，脾氣虛弱，乳食入胃，不能運化，積滯日久，再為冷食所傷，傷之大腸，遂成泄瀉，留連不止，諸藥無功。蓋以食積脾胃，積既未除，何由得免？宜先用消積法，後用止瀉，瀉止，脾陰足實，則病可除矣。三稜散，香橘餅，參苓白朮散。</p>
<p>驚瀉，糞青如苔，調若膠黏，不可便止，須鎮心抑肝，和脾胃，消乳食，斯為治矣。投三解散、五苓散，水、薑、陳倉米煎服。</p>
<p>疳積釀瀉，其候面青痿黃，不思飲食，晝涼夜熱，或腹內有癥癖氣塊，肚腹腫脹，兩足瘦弱，頭大項細，發稀枯豎，肌肉消瘦，瀉則顏色或黃或白，或青或赤，其臭異常，其瀉有時或一日一次，或一日二次，自瀉自止。先用當歸散加三稜、陳皮煎服，次投三稜散。</p>
<p>總括：</p>
<p>脾虛胃弱病根成，水合如何運化行。清濁相干相吐瀉，久傳虛瀉便風生。</p>
<p>脈法：</p>
<p>瀉脈主緩，遲小結者，生，浮大數者，死也。</p>
<p>凡瀉水而腹不痛者，是濕；飲食入胃不住，完穀不化者，是氣虛；腸鳴瀉水，痛一陣瀉一陣者，是火；或瀉或不瀉，或多或少者是痰；腹痛甚而瀉，瀉後痛減者，是食積也，俗云受肚瀉。蓋飲食滿腹，脾弱不能健運，故聚滿而瀉，瀉盡即止，復又如是，宜調胃節飲食為上。又曰：暴瀉非陰，久瀉非陽，諸瀉皆心之瀉，宜行小便，此千古不易之理。若久瀉脾虛，陽氣衰弱，伏匿於陰中，若用淡滲之藥，是降之又降，益其陰而重竭其陽，則陽愈削而精神愈短矣。宜用升陽之藥，以羌活、柴胡、升麻、防風、甘草治之。或法寒濕之勝，助風以平之。又曰：下者舉之，得陽氣升騰而病去矣。</p>
<p>守中湯：桔梗　蒼朮　乾薑　甘草</p>
<p>益中湯：肉果　丁香　砂仁　訶子　青皮　甘草　陳皮　馬芥</p>
<p>五苓散：白朮　豬苓　澤瀉　茯苓　肉桂</p>
<p>香薷飲：香薷　扁豆　厚朴　甘草</p>
<p>三稜散：蓬朮　厚朴　三稜　益智仁　神麯　肉果　甘草</p>
<p>香橘餅：木香　陳皮　青皮　厚朴　砂仁　神麯　三稜　肉果</p>
<p>參苓白朮散：人參　茯苓　白朮　甘草　砂仁　苡仁　桔梗　蓮心　山藥　扁豆</p>
<p>三解散：人參　防風　天麻　茯神　山梔　白附　大黃　赤芍　黃芩　殭蠶　枳殼　全蠍　甘草</p>
<p>當歸散：當歸　赤芍　大黃　川芎　麻黃　甘草</p>

<h1>吐瀉</h1>
<p>《內經》曰：脾虛則吐。又曰：食滯於胃者為吐，食滯於大小腸者為瀉。又曰：諸嘔吐酸，暴注下迫，皆屬於熱。錢仲陽曰：吐乳瀉黃，傷熱乳也；吐乳瀉青，傷冷乳也。則知虛實寒熱，皆能成吐瀉之症。又有傷風吐瀉，身溫，乍涼乍熱，睡多氣粗，大便黃白色，嘔吐乳食不消更兼咳嗽。先服大青膏發散，後用益黃散和胃。若吐瀉身熱，好睡能乳，吐痰，飲水不止，大便黃水，此胃虛之症。先用白朮散生津止渴，後用大青膏發散風邪。</p>
<p>凡遇小兒吐瀉，唯恐脾胃虛弱生風之患。《心鑑》云：兒分長幼，病察虛實。或有吐瀉三五日發風者，或一日、或半日而發者。大抵女孩以吐為急，男子以瀉為急。若氣虛暴瀉暴吐，立即交作，惟瀉病易成風候，久則虛乏不治矣。但瀉宜實脾為良，吐即生胃為本。截風之藥略加用之。凡驚藥及寒藥切不可用，亦不可用大熱藥，蓋醫生定方，須審病精細為幸。仲陽不分寒熱吐瀉，而曰皆當下之，恐未妥當。不若傷熱者，用五苓散以導之；傷冷者，用理中湯以溫其中，自然平復安然矣。</p>
<p>總括：</p>
<p>小兒吐瀉有多般，不可將來一例看。若見神昏目慢候，慢脾驚搐要堤防。</p>
<p>脈法：</p>
<p>洪者為熱，弦者為痛，微弱漸遲者死，漸大者生。若有宿食留飲，氣口脈必弦澀滑。</p>
<p>錢仲陽曰：小兒出生三日內，吐瀉壯熱不思乳食，大便青色，乳食不消，或白色，傷乳，當下之，然後和胃。夏至後吐瀉，身熱，或傷熱，或傷乳，或乳不消，瀉深黃色，宜香薷飲之類。</p>
<p>大青膏：白附　青黛　天麻　全蠍　硃砂　烏蛇　麝香　天竺黃　大青</p>
<p>益黃散：陳皮　青皮　訶子　甘草　丁香</p>
<p>白朮散：白朮　茯苓　人參　甘草　砂仁　苡仁　桔梗　蓮心　山藥　扁豆</p>
<p>五苓散：白朮　茯苓　澤瀉　豬苓　肉桂</p>
<p>理中湯：人參　白朮　乾薑　甘草</p>

<h1>霍亂</h1>
<p>《內經》曰：太陽所至為滿，霍亂吐下。有土鬱之發，民病嘔吐，霍亂注下（上濕土霍亂，即仲景五苓散、理中湯之類。）有歲土不及，風乃大行。民病霍亂飧瀉（上土虛風勝霍亂。）有熱至則身熱，霍亂吐下（上熱霍亂，即活人書香藿飲之類。）仲景曰：邪在上焦則吐，邪在下焦則瀉，邪在中焦則既吐且瀉。夫小兒霍亂之候，皆因飲食，內有所傷，外有所感，陽不升，陰不降，乖隔而成，故卒然吐瀉並作，揮霍撩亂矣。為病之源有三：吐者，陽也，心火炎上之疾也；瀉者，虛也，濕土注下之候也；轉筋者，風也，木火撓亂之疾也，由秋之間濕土大作，風涼乘之入於脾胃，三氣俱作，所以上吐下瀉而轉筋也。治法以生薑細切，漬以新汲水，調益元散，頃服之可愈。或五苓散、桂苓散、甘露飲，切勿與穀食米飲。若恐其飢而與食之，即死不救矣。須聽其吐瀉後一二時，病者自知飢甚，始可與之稀粥。然霍亂病證亦有不同者，有心腹卒痛，吐利寒熱，頭目眩暈。先心痛則先吐，先腹痛則先利，心腹齊痛吐利並作，甚則轉筋，入腹則斃。蓋陰陽反戾，清濁相干，陽氣暴升陰氣頓墜，陰陽否隔，上下奔趨，治之惟宜溫暖，更詳其所因調之。若因風則惡風有汗，因寒則惡寒無汗，溫則重著，暑則熱煩，此外因所致也。又有元氣不足，郁聚痰飲，痞隔中滿，隨其腸腹而作，此內因所致也。其或飽餐恣飲，腹脹停凝而作，此非內因也。小兒夏月多食生冷，因脾虛不能運化，加以外感風寒，則揮霍撩亂，上吐下瀉，人見倉卒躁擾痛悶，似有神鬼。然非鬼神，乃飲食痞膈，上下不通，將欲吐瀉，故如是也。經曰：濕霍亂死者少，乾霍亂死者多。夫乾霍亂者，忽然心腹脹滿，胸脅刺痛，欲吐不吐，欲瀉不瀉，是為絞腸沙，最難治也。死在須臾，升降不通故也。治法先宜疏利，或吐提其氣，最是良法，更宜刺委中穴，並十指出血為妙。（委中穴在足膝彎內，約紋中動脈應手者）</p>
<p>總括：</p>
<p>病人霍亂事堪驚，吐瀉交併又轉筋。心腹痛疼時眩暈，宜分乾溼審三因。</p>
<p>脈法：</p>
<p>脈來浮洪者可治，微而遲者最難生。</p>
<p>玉露飲：治口渴煩躁，身熱，小便不利。寒水石二兩，石膏二兩，甘草二錢，共為末，水飛，麥冬湯調服。</p>
<p>香薷飲：香薷　炒扁豆　製厚朴</p>
<p>五苓散：豬苓　澤瀉　白朮　茯苓　官桂（少許）</p>
<p>桂苓散甘露飲：即五苓散</p>
<p>桂苓白朮散：即甘露飲加石膏</p>

<h1>瘧疾</h1>
<p>《內經》曰：夏暑汗不出者，至秋成風瘧。又曰：夏傷於暑，秋必痎瘧。丹溪曰：痃瘧皆傷於風，此前人論瘧之概也。殊不知風寒暑濕，邪自外來，飲食居處，邪由內作，豈夏傷於暑，秋必發瘧哉？蓋傷之淺者近而暴，傷之深者遠而痎，痎者，久也。要知瘧之寒熱，乃陰陽二氣也，互相勝負而作。邪並於巨陽，則陰實陽虛，故寒作；邪並於陽明，則陽實陰虛，故熱作，此陰陽相移也。氣舍於皮膚，與氣並居。衛氣者，日行陽、夜行陰，此氣得陽而外出，得陰而內薄，是以日作，此受之淺也。邪氣薄於陰分，陽氣獨發，陰邪內著，陰與陽爭不得出，故間日而作，此受之深也。邪氣與衛氣客於六腑，而有時相失，不能相爭，故休數日乃作，此受之最深也。然瘧之狀不一。足太陽瘧，令人腰痛頭重，寒從背起，先寒後熱，熇熇然，熱止汗出難已。足少陽瘧，令人身體解㑊，寒不甚、熱不甚，惡見人，見人惕惕然，熱多汗甚。足陽明瘧，令人先灑淅惡寒，寒久乃熱，熱去汗出，喜見日月光明火氣乃快。足太陰瘧，令人不樂，好太息，不嗜食，多寒熱汗出，病至則善嘔，嘔已乃衰。足少陰瘧，令人嘔吐甚，熱多寒少，欲閉戶而處，其病難已。足厥陰瘧，令人腰痛小腹滿，小便不利如癃，非是癃也，數便意，恐懼，氣不足，腹中悒悒，此六經之溫瘧也。</p>
<p>肺瘧者，令人心寒，寒甚熱，熱間善驚，如有所見也。心瘧者，令人心煩甚，欲得清水，反寒多不甚熱也。肝瘧者，令人色蒼蒼然太息，其狀若死者。脾瘧者，令人寒，腹中痛，熱則腸鳴，鳴已汗出。腎瘧者，令人洒洒然，腰脊痛，宛轉，大便堅，目眩眩然，此五臟之瘧也。</p>
<p>東垣云：寒熱瘧屬太陰，熱瘧屬陽明，風瘧屬少陽，溫瘧屬厥陰。又作子午卯酉日者屬少陰，寅申己亥日者屬厥陰，辰戌丑未日者屬太陰。蓋是三日一發也。而丹溪又有痎瘧、痃瘧、風瘧、暑瘧、老瘧、瘧母之名，皆生於五臟，六經之所主也，但所盛之故耳。若夫小兒抱持解脫，不避風寒，又感暑濕，致令邪氣客於皮膚，痰飲乳食積於臟腑，初起雖先消導，然扶胃氣為本，後隨其得病所由而調理之。如瘧病暫發者可截，虛久者宜補氣血。若過用截瘧藥致傷脾胃，則必延綿不休。凡熱多寒少無汗者，桂枝麻黃各半湯；有汗多者，柴胡桂枝湯；汗多而渴者，白虎加桂湯；小便赤、熱多寒少者，小柴胡湯；寒多熱少者，清脾飲、養胃湯；久不止者，以鬼哭散止之；熱多汗出腹痛者，大柴胡湯下之；久瘧不愈，腹中結塊者，鱉甲飲調之。凡脾胃虛而患瘧者，不論三陰六經，悉以六君子湯為主，熱多加柴胡、山梔，寒多加乾薑、肉桂，有汗加黃耆、浮麥，無汗加蒼朮、葛根，元氣下陷及肝木乘脾者，並加升麻、柴胡為善。若用青皮、常山、草果等藥，正氣益虛，邪氣益實，而變症百端矣。有小兒瘧症，變作虛浮，陰囊浮大，或食傷脾胃，以致浮腫。夫浮者脾之外應也，宜大腹皮湯、草果飲治之，然後以實脾補之可也。若乳母七情六慾，飲食不調，或寒熱似瘧，肝火熾盛，致兒為患者，又當治其乳母，斯無誤矣。有陰虛每日午後惡寒發熱似乎瘧者，至晚亦得汗而解，若作瘧治，而用常山、柴胡、草果等藥誤矣。且陰虛脈濡而數，瘧脈弦數可辨耳。有痞癖而為寒熱似瘧者，亦不可作瘧治也。</p>
<p>總括：</p>
<p>面黃發豎瘧之因，外感風寒暑濕成。內郁七情飢飽後，故令寒熱往來生。</p>
<p>脈法：</p>
<p>脈本自弦，微則為虛，代散則死。</p>
<p>如久瘧及元氣虛，倘誤服青皮飲、截瘧飲者，多致不起，戒之戒之。瘧後食少，面黃，身弱，以四君子湯加二陳湯，薑汁炒黃連，枳實、常山性悍、善驅逐，病久虛者忌用。</p>
<p>桂枝湯：桂枝　白芍　甘草　麻黃　杏仁　生薑　大棗</p>
<p>煎服。</p>
<p>柴胡桂枝湯：柴胡　桂枝　黃芩　半夏　人參　甘草</p>
<p>白虎加桂湯：石膏　知母　甘草　桂枝</p>
<p>小柴胡湯：半夏　人參　柴胡　黃芩　甘草</p>
<p>青皮飲：半夏　草果　青皮　黃芩　柴胡　白朮　厚朴　陳皮　甘草　茯苓</p>
<p>初起者宜之。</p>
<p>養胃湯：蒼朮　厚朴　半夏　陳皮　茯苓　甘草　人參　草果　藿香</p>
<p>病虛者宜之。</p>
<p>大柴胡湯：柴胡　黃芩　甘草　半夏　白芍　枳實</p>
<p>鬼哭散：大腹皮　常山　茯苓　鱉甲</p>
<p>鱉甲飲：白朮　陳皮　草果　川芎　芍藥　檳榔　三稜　蓬朮　甘草　腹皮</p>
<p>大腹皮湯：枳殼　蒼朮　檳榔　三稜　蓬朮　甘草　大腹皮</p>
<p>草果飲：半夏　甘草　丁香　乾薑　神麯</p>
<p>六君子湯：人參　白朮　茯苓　甘草　半夏　陳皮</p>
<p>止三陰瘧疾靈丹（切不可初服）：大熟地（一兩）　甜茶（五錢）　烏梅（三錢）　歸身（三錢）</p>

<h1>痢疾（附脫肛）</h1>
<p>《內經》曰：溲而便膿血，和氣行而血止也。又曰：少陽在泉，火淫所勝，民病注泄赤白。錢仲陽曰：瀉痢黃赤黑，皆熱也。瀉痢青白，水穀不化，皆冷也。丹溪曰：赤痢為血，自小腸來，白痢屬氣，自大腸來，皆屬濕熱之氣。如夏秋之間，溽暑時行，此濕熱之氣生於外感者也。恣飲酒酪生冷，耽嗜肉食肥甘，此濕熱之氣生內傷者也。內外交感，乃成痢疾。若諸書概以赤為熱、白為寒，誤矣。</p>
<p>其有白積痢，得辛熱而愈者，亦因素稟虛弱，腸胃虛寒耳。然有手足指冷，時欲飲熱為驗也。</p>
<p>其有赤白兼下者，氣血俱病也。下如豆汁色者，濕勝也。如五色之相染者，五臟俱受病也。純血者，熱毒入深也。魚腦色者，脾虛不運，陳積脫滑下凝也。如鼻涕凍膠者，臟腑虛脫滑也。如白膿者，虛勞努責而出氣，受熱邪瘀結也。如屋漏水，塵腐色者，元氣敗弱之甚然也。後重裡急，數圊而不能便，下迫窘痛，大腸經氣滯不通，濕熱內甚也，後重裡急。初病元氣未虛，裡急甚者，下之。下後余積未清，不可驟補，宜化滯清熱盪滌之，直候積盡，方可調補氣血。今人不問新久，便行止澀，為害不淺。善治者，辨其寒熱虛實氣血之症而審治之。</p>
<p>其有初起挾外感者，發熱惡寒，頭身俱痛，此為表症，宜以微汗而解，則痢自止。不止者，以柴胡茯苓湯和之，不可遽下遽止也。初得而競腹痛窘迫者，此因肺金之氣鬱在大腸之間，實者必推蕩之，此通因通用之法，宜大承氣湯或調胃承氣湯下之。下後不止者，以河間芍藥湯和之可也。下痢赤積，身熱腹痛，裡急後重，宜芍藥湯調天水散。下痢白積，腹痛，裡急後重者，用芍藥黃連湯調天水散服之。血痢久不止者，宜煎四物湯下黃連阿膠丸。有下隨黑積，中有紫黑色而又痛甚者，此屬死血症，宜桃仁承氣湯下之。如受病既久，氣血俱傷，故纏墜而赤白俱下，脾胃氣陷或經乖者，若休息痢，宜烏膠梅連丸。噤口者，因脾胃濕熱之毒，熏蒸清道而上，以致胃口閉塞，而成不食之症。亦有脾胃虛而不能食者，亦有誤服利藥，致藥毒犯胃而不食者，亦有服澀藥太早，邪氣閉遏胃口而不食者，或用石蓮肉以通心氣，敗毒散以散毒邪，山藥以補脾胃，米能開胃口而進飲食，其毒氣上衝者，宜丹溪方，以人參、黃連二味呷之，使得一口下咽就好。一方加石蓮肉。其脾胃虛者，用仁齋法以參苓白朮散加石菖蒲末，陳粳米湯調下，此方有蓮肉、山藥，胸次一開，自然能食矣。有時疫作痢，傳染相似，宜首用敗毒散加陳皮、陳倉米，名倉廩湯，隨其所勝之氣加減用之。</p>
<p>總括：</p>
<p>痢名滯下古來言，赤白腸中痛可攝；補澀厚腸須緩用，治之當以利為先。</p>
<p>脈法：</p>
<p>沉則生，浮則死。</p>
<p>《內經》曰：腸癖下血，身熱則死，寒則生。腸癖下白沫。河間曰：行血則便膿自愈，和氣則後重自除。盲者日月，聾者雷霆也。《病機要》云：後重則宜下，腹痛則宜和，身重則除濕，脈弦則去風。丹溪曰：瀉屬脾，痢屬腎。先水瀉而後膿血者，此脾傳腎，賊邪難愈；先膿血而後水瀉者，此腎傳脾，微邪易愈。凡久痢用澀藥止之。然須以陳皮為佐，恐太澀亦能作痛耳。夏秋之間，忽有暴寒折於壯熱，無所發散，客邪傳肌膚之中，發於外，則為瘧，發於內，則為痢，內外俱發則瘧痢並作也。如力倦氣少惡食，此為挾虛症，宜用白朮、當歸身尾，甚者加人參、陳皮，補之以虛而痢自止。腹痛者，因肺金之氣鬱在大腸之間，實則可下，虛則桔梗發之。有積毒之氣，上衝而嘔惡者，清解為主，人參敗毒散。有胃氣虛寒而嘔惡者，溫補為主，附子理中湯。</p>
<p>柴苓湯：柴胡　茯苓　半夏　人參　豬苓　白朮　澤瀉　甘草</p>
<p>大承氣湯：大黃　厚朴　枳實　芒硝</p>
<p>調胃承氣湯：大黃　芒硝　甘草</p>
<p>河間芍藥湯：芍藥　黃芩　黃連　甘草　檳榔　桂枝　歸尾　大黃　木香</p>
<p>天水散：滑石　甘草　為末調服</p>
<p>黃連湯：黃連　當歸　川芎　熟地</p>
<p>烏膠梅連丸：赤苓　烏梅　白芍　黃柏　乾薑　黃連　當歸</p>
<p>黃連阿膠丸：黃連　阿膠　茯苓</p>
<p>桃仁承氣湯：桃仁　桂枝　芒硝　甘草　大黃</p>
<p>敗毒散：柴胡　甘草　桔梗　人參　羌活　獨活　川芎　茯苓　枳殼　前胡</p>
<p>參苓白朮散：人參　白朮　茯苓　桔梗　甘草　黃連　藿香　苡仁　砂仁　山藥　扁豆</p>

<h2>附脫肛</h2>
<p>夫肺與大腸相為表裡，肛者，大腸之魄門是也。巢氏曰：實熱則大便秘結，虛寒則肛門脫出。有因痢久，裡急後重，努力肛開，為外風所吹，或伏暑作瀉，腸滑不禁，或稟性怯弱，易於感冷，亦致大腸虛脫。凡小兒所患瀉痢，皆因暑濕乘脾，胃虛而得。蓋風屬木，木勝則制土，土主脾，胃虛受制，又濕善傷脾，因虛受濕，不能分別清濁，水穀交雜，則為洞泄。既久大腸亦虛。大腸乃手陽明燥金，土虛不能生金，金既虛則傳送之道亦虛，或又為風冷所襲，故肛門脫而不收。法當補脾溫胃，宜用補中益氣湯，倍加芍藥，木香、粟殼、砂仁、地榆之類。外用伏龍肝散敷之，及萆麻膏帖囟門。使引氣上，令其自收。如收盡，仍以水洗去其膏。又有濕熱積滯於大腸，未經疏蕩，亦成此疾。宜芍藥湯少加大黃以瀉其積滯之氣，痢自止而肛不復脫矣。外宜蟠龍散敷之。大凡手足指熱者屬實，手足指冷者屬虛，亦是一看法也。</p>
<p>總括：</p>
<p>肛門出露久難收，再感風寒事可憂。況自先傳脾胃弱，更詳冷熱易為瘳。</p>
<p>蟠龍散：乾地龍（蟠如錢者佳）　風化朴硝（二錢）</p>
<p>補中益氣湯：當歸　柴胡　甘草　陳皮　人參　升麻　白朮　黃耆</p>
<p>伏龍肝散：伏龍肝一兩，鱉頭骨、芍藥共煎，各二錢五分，俱焙乾為末，再用紫蘇三錢煎湯，加菜油調塗患處，先將荊芥、生蔥、五倍子煎滾水，侯溫，洗淨，輕輕拭乾，然後敷藥。</p>

<h1>咳嗽</h1>
<p>《內經》曰：五臟六腑皆令人咳，非獨肺也。皮毛先受邪氣，邪氣聽從其合也。五臟之咳，久乃移於六腑。《病機要》云：咳為無痰而有聲，肺氣傷而音不清也；嗽謂無聲而有痰，脾濕動而痰生也；咳嗽謂有聲有痰，為肺氣傷而脾濕動，故咳嗽也。又曰：秋傷於濕，冬必咳嗽，甚則痰多，此清肅之氣上衝而然也。夫肺居至高，主持諸氣，屬金而畏火者也。清虛高潔，覆蓋五臟，乾金之象，外主皮毛，司腠理開闢，衛護一身，如天之覆物，輕清而在上者也。或外因六淫之邪，內因七情之氣，則肺金受傷，而純清之氣擾亂妄動，為火痰咳嗽之病，從茲作矣。錢仲陽曰：嗽者，肺感微寒，八九月之間，肺氣正旺，面赤身熱，其病為實，當用葶藶丸下之。久咳不宜下。若在冬月，乃傷風嗽，當用麻黃湯汗之。面赤飲水，咳嗽吐濃痰，咽喉不利者，以桔梗湯清之。先咳後喘，面腫身熱，肺氣感邪也，以瀉白散平之。嗽而吐痰涎，白餅子下之。潔古云：嗽而兩脅痛者屬肝經，用小柴胡湯；咳而嘔苦水者屬膽經，用黃芩半夏生薑湯；咳而喉中如結者屬心經，用甘桔湯；咳而失氣者屬小腸經，用芍藥甘草湯；咳而右脅痛者屬脾經，用升麻湯；咳而嘔長蟲者屬胃經，用烏梅丸；而喘息吐血者屬肺經，用麻黃湯；咳而遺尿者屬膀胱經，用茯苓甘草湯；咳而腹滿不飲食、面腫氣逆者屬三焦，用異功散；喘嗽面赤，心火刑肺也，用人參平肺散、六味地黃丸；嗽而吐清綠水，肝木乘脾土也，用異功散加柴胡、桔梗；嗽而吐痰乳，脾肺氣傷也，用六君子湯加桔梗；若嗽吐濃痰者，熱蘊於肺而成肺癰也，用桔梗湯；嗽而涕唾帶血，甚則吐血、溢血，宜清金降火，此乘火於肺也。凡風邪外傷，法當先表散而後實腠里，其用下藥，非邪傳於內及胃有實熱者不可也。面色白、脈短澀者，肺之本也，易治；面色赤、脈洪數者，火刑金也，難治。</p>
<p>總括：</p>
<p>咳嗽雖然分冷熱，連聲因肺氣風寒。脈浮痰盛喉中響，盛水多因汗未乾。</p>
<p>脈法：</p>
<p>關上脈微為咳，浮緩者為傷風，脈緊肺寒。嗽者，脈浮直者生，浮軟者死。</p>
<p>丹溪曰：咳嗽過冬而發者，寒包熱也，解表熱自除。有咳嗽至極遲頓，嗽嘔吐乳，食與痰出盡方止，此名風壅痰盛，肝木克脾土，宜南星、半夏、陳皮、天麻、白附、殭蠶之類。風寒嗽者，鼻聲重，畏寒；火嗽者，有聲無痰而面赤；勞嗽者，盜汗，兼多寒熱；肺脹嗽者，盜汗，動則嗽，喘滿氣急；痰嗽者，動則便有痰聲，痰出嗽止。小兒百日內偶患咳嗽，痰壅睡中不寧，亦因產後乘風寒而得，但不可過用發散之劑，略先解表，後服惺惺散。小兒汗出未乾，遽而戲水，亦致傷風咳嗽，或眼泡虛浮，額汗痰鳴，亦宜疏風化痰，解利邪熱，小柴胡湯亦可。</p>
<p>葶藶丸：葶藶（隔紙略焙）　防風　黑醜（略炒）　杏仁（去尖炒）</p>
<p>俱為細末，拌勻，取蒸棗肉搗和丸麻子大，每服五六丸，薑湯送下。</p>
<p>麻黃丸：麻黃　甘草　桂枝　杏仁</p>
<p>甘草桔梗湯：粉甘草　玉桔梗</p>
<p>瀉白散：地骨皮　桑白皮　甘草</p>
<p>白餅子：滑石　半夏　膽星（各一錢）　輕粉　巴豆（二十四粒，去皮、膜）</p>
<p>用水一碗煮乾，研爛，和勻餅丸。</p>
<p>小柴胡湯：半夏　人參　柴胡　黃芩　甘草</p>
<p>黃芩半夏生薑湯：黃芩　半夏　甘草　芍藥　生薑　棗子</p>
<p>芍藥甘草湯：芍藥　甘草</p>
<p>升麻湯：升麻　芍藥　葛根　甘草</p>
<p>烏梅丸：細辛　製附子　桂枝　人參　黃柏　黃芩　生薑　當歸　獨活</p>
<p>異功散：人參　茯苓　白朮　甘草　陳皮</p>
<p>參蘇飲：紫蘇　前胡　陳皮　半夏　葛根　茯苓　桔梗　人參　甘草　枳殼</p>
<p>六君子湯：人參　白朮　茯苓　甘草　陳皮　半夏</p>
<p>寬氣飲：枳殼　枳實　人參　甘草</p>
<p>清肺飲：人參　柴胡　杏仁　桔梗　赤芍　荊芥　枳殼　桑白皮　五味　麻黃　旋覆花</p>
<p>如意膏：半夏，南星，俱薑汁製，用蜜為丸，仍用姜蜜湯送下。</p>

<h1>龜胸龜背</h1>
<p>龜胸之候，因風痰停飲聚積心腹，再感風熱。肺為臟之華蓋，肝膈上水氣泛溢，則肺為之浮，日久而為痰，停滯心胸，兼風內發。其兒唇紅面赤，咳嗽喘促，致胸高如覆掌。又曰：龜胸，其乳母多食五辛，亦能成此疾。先服寬氣飲，薑蔥湯調服；次用清肺飲、如意膏。如服藥後目睛直視，痰涎上壅，兼之發搐，則難治矣。龜背者，蓋初生嬰孩或未滿周歲，客風吹脊，傳人骨髓，故成此疾。錢仲陽曰：雖有龜胸龜背之言，然終成痼疾者多矣。（湯頭錄前咳嗽門）</p>

<h1>傷積</h1>
<p>《內經》曰：飲食自倍，腸胃乃傷。凡兒所患積症，皆因腸胃平素乳哺不節，過食生冷之物，脾胃不能消化，積於中脘，外為風寒所傷，或由夜臥失蓋，致腹痛，面黃身熱，眼胞腫痛膨脹，足冷肚熱，喜睡，神疲，不思飲食或嘔或噦，口噯酸氣，大便酸臭。此陳積所傷，有食飽傷脾，脾氣少虛，愈難消化矣，因而不去，遂成其積，積敗為痢。立齋曰：小兒有積，面目黃腫，肚熱脹痛，覆睡多困，啼哭不食，或大腸閉澀，小便如油，或便痢無禁，糞白而酸臭，此積症也。然有乳積、食積、氣積、驚積之分，當臨症明辨。或由小兒啼哭未已，以乳與兒，停滯不化是為乳積。肚硬帶熱，渴瀉或嘔，飲食無度，多餐過飽，飽後即睡，是為食積。或腹痛叫啼，痢如蟹渤，觸忤其氣，榮衛不和，潦潦日久，是為氣積。或泄下清水，如生草汁，是受驚而後有積，煩悶啾唧，常似生嗔，是名驚積。因病日久而積成之，或額上有汗而喘急煩渴，潮熱往來，肚腹有熱，睡中覺腹內有物跳動是也。然積有虛有實，虛則渾身如熱，不思飲食，昏昧神緩，抱起如睡；實則肚熱糞秘，囟腫喉塞，痰壅涎鳴，熱毒發瘡，推此可見矣。其傷乳傷食而熱者，惟腸肚之熱為甚，人知傷積肚熱，糞極酸臭，而腹間有熱，傷積肚熱之明驗，人所不知也。其傷感變證而瀉黑，久瀉未已，肚腹脹滿，氣出粗大，手心生瘡，瘦弱柔軟，皆不可療。小兒積消，多用青皮，然青皮最能發汗，有汗者，切勿多與。小兒諸疾，皆由乳食無度，過於傷飽，以致不能克伐，留而成積。初得之時，不問乳積氣積，進以消積丸。如驚積，以辰砂膏或青龍丸，量輕重而疏導之，以調氣和胃取愈。蓋脾已傷，又以藥傷之，使營運之氣減，其食愈難消矣。故《至真要大論》曰：大毒治病，十去其六，小毒治病，十去其七，常毒治病，十去其九。肉果瓜菜，食養之類，必無使過傷其正也。凡人以胃氣為本，惟治病亦然。小兒胃氣有虛有實，虛則嘔吐不食，實則痞滿內實。虛者益之，實則損之，欲得其平則可矣。虛用木香、丁香、青皮、厚朴、肉蔻等劑，實用柴胡、桔梗、枳殼、前胡、大黃等劑。胃中停食，寒則乾薑、官桂、丁香，酌量大小分劑與之，謂之平胃。心者，脾之母。進食不止於和脾，蓋火能生土，當以心藥入於脾腎之中，庶幾兩得，古人進食方劑多用益智者，此也。</p>
<p>總括：</p>
<p>頭疼身熱腹微脹，足冷神昏即愛眠。因食所傷脾氣弱，下宜遲緩表為先。</p>
<p>脈法：</p>
<p>右手氣口脈大於人迎一二倍為傷食，宿食不消，右關脈沉而滑，虎口脈紋黃色為脾家有積，若脈沉者為乳不消。</p>
<p>消積丸：丁香　茴香　陳皮　青皮　益智仁　神麯　三稜　白朮　巴霜</p>
<p>辰砂膏：硼砂　辰砂　珍珠　全蠍　麝香　馬牙硝（各錢許）</p>
<p>青龍丸：青黛　茯神　蘆薈　南星　麝香　輕粉　全蠍　巴霜</p>
<p>硃砂為衣，薄荷湯下。</p>
<p>藿香正氣散：藿香　厚朴　白芷　半夏　桔梗　甘草　茯苓　紫蘇　陳皮　白朮　大腹皮</p>
<p>人參養胃湯：人參　半夏　陳皮　茯苓　蒼朮　厚朴　藿香　肉果　加生薑</p>
<p>三黃枳實丸：枳實　黃連　大黃　陳皮　白朮　黃芩</p>
<p>大柴胡湯：柴胡　黃芩　大黃　芍藥　半夏　枳實</p>

<h1>傷食</h1>
<p>凡小兒飲食，停滯中焦不化而發熱者，又惡食也，或噯食作酸，或惡聞食味，或欲吐不吐，或吐之不盡，或噁心氣短痞滿，或胃中作疼，或心下痞滿，按之則痛，此皆停食候也。若復感寒邪者，則左手人迎氣口脈俱大，頭痛惡寒拘急，中脘痞滿，或吐或嘔或痛，以藿香正氣散、人參養胃湯或木香、砂仁之類。若肉食不化，必加棠球子。若麵食不化，加草果、砂仁、枳實、青皮。如食在胃口，未入於胃，乃口吐之，不吐則消導之。待食下胃，變化糟粕，外症已解，乃可下也，宜三黃枳實丸。熱多者，大柴胡湯。如無外感，但傷食者方可下之。凡治夾食傷寒，不可先以其食，且先發散寒邪，此可消導之。（棠球子即山楂）</p>

<h1>傷寒</h1>
<p>《內經》曰：傷於寒則為熱病，熱雖甚，不死，若兩感風寒者，則不免於死矣。第大人與小兒，治法雖去不遠，然用藥不可太熱。蓋小兒系純陽之體耳。仲景云：春氣溫和，夏氣炎熱，秋氣清涼，冬氣凜冽，此四時之正氣。冬令嚴寒，萬類深藏，君子固密，不傷於寒。苟不慎而觸冒之，乃名傷寒。其傷於四時之氣，皆能為病。如冬受寒氣，即時而病者，頭疼身痛，肌熱惡寒，為正傷寒。若過時而病，寒邪藏於肌膚之間，至春夏陽氣發生則寒氣與陽氣相搏於營衛，其病情與冬發無異，但至春而發名曰溫病，至夏而發名曰熱病。陽氣未盛，為寒所致，故病為溫；陽熱已盛，寒不能制，故病為熱。此等均屬傷寒也。又春時應暖而反寒，夏時應熱而反冷，秋時應涼而反熱，冬令應寒而反溫，此非其時而有其氣，無論長幼，患病必多。小兒感冒寒氣，因乳哺解脫衣服，飲食起居不能自慎，或夏秋之際天氣甚熱，乳母當風取涼致風寒感於肌膚，是以亦病傷寒。然小兒患此，口不能言致病之由，脈不能察必然之理，但見煩啼發熱而已，視之其可不盡心乎？故初得之時，以虎口指紋紅色驗之，長而童稚，則以一指按三關，據左人迎緊盛而斷之，斯不誤矣。</p>
<p>陶節庵曰：凡症有頭疼惡寒，皆是傷寒，無則皆非也。何則？傷寒惡寒，傷食惡食，理果然也。惟在冬時，惡寒殊甚。蓋冬時為正傷寒，寒風猛烈，觸之者惡寒殊甚，其餘時月雖惡寒亦微也。蓋冬時氣寒，腠理微密，非辛溫甘不可，故以此等之藥治之。然風與寒常相與，因寒則傷營，惡寒、頭痛、脈浮緊而無汗，用麻黃湯開發腠理以散邪，汗出則愈；風則傷衛，頭痛、惡風、脈浮緩而汗，用桂枝湯充塞腠理以發邪，汗止而愈。《經》云：甘辛發散衛陽是也。若營衛俱傷，非此二湯能治，須大青龍湯。然凡湯太峻，亦可代之。倘非冬時，即有惡寒頭痛之症，宜羌活沖和湯，辛涼以和之，可代青龍湯也。過此則少陽、陽明二經，在半表半裡之間，脈亦不沉不浮，外證在陽明，目疼、鼻乾、不得眠之證，脈息似長而洪，以葛根升麻湯。在少陽則胸脅痛、耳聾、脈息弦數，以小柴胡湯加減和之。本方有加減法，此二經不從標本從乎中也。余嘗以小柴胡湯加葛根、芍藥，治少陽、陽明俱病，如拾草芥。過此不已，則傳陽明之本而入里矣。便即實熱治之，其外症悉罷，並無頭痛惡寒，而脈形沉實不浮，譫語惡熱，六七日不大便，口燥咽乾而渴，輕則大柴胡湯，重則三承氣湯。或曰邪既入里。而《傷寒蘊要》曰：凡小兒傷寒，則怕風寒，拘急，發熱，合為一病。翕翕然在表，晝夜不止，直待汗出方解，其惡寒惡風，必畏人藏身，引衣密隱，鼻塞多涕，是為表症，宜微汗之，以解肌湯、蕭氏青龍湯、敗毒散之類。惡熱而內實者，必出頸露面，揚手擲足，掀衣氣粗，煩渴燥糞，是為里症，宜疏利之，用小柴胡湯、四順飲之類。若頭額冷，手足涼，口氣冷，面色黯淡，瀉利青白，是為陰症，宜溫之，五積散、理中湯之類，重者四逆湯主之。夾驚者因驚之時而又感寒邪，或由傷寒發熱，熱極生風，是熱乘於心，心主血脈，心神易動，為熱所乘，故發搐也，慎切以驚藥投之，亦宜疏解，以王氏薄荷散、人參羌活散之類，甚則抱龍丸主之。夾食者，先傷於食，後傷於寒，以致發熱氣粗，口中噯氣，肚熱腹脹，上熱下冷，大便酸臭，並宜解散，次投消食，甚則推蕩之，先用敗毒散，後用藿香正氣散加神麯、麥芽、山楂、砂仁、香附之類，如其不愈，加大柴胡湯下之。湯氏曰：凡傷寒小兒周歲內，熱輕者服惺惺散，周歲外，須宜解表微汗為妙，在一晝夜，熱勢漸退，方保無虞。今之醫士，多不表汗，致令五六日不除，入於經絡，搏於血氣，傳變多端。或變驚風，漸至危篤，傷生害命，可不慎哉！然表裡不可不知，蓋表裡分汗下，古人云：桂枝入口陽盛即斃，承氣入胃陰盛乃危。傷寒有表症，有半表半裡，有表裡俱病，然表者宜汗之，里者宜下之，半表半裡者宜和解之，表裡俱病者，隨症參治，大柴胡湯下之。其表症者，發熱惡寒，身首皆痛，無汗，脈浮，項強，腰脊疼，此足太陽膀胱經受病，宜汗之。然傷寒發表，當隨病輕重而汗之，頭疼發熱，蔥白頭湯主之，甚則麻黃各半湯、解肌湯、柴胡湯之類。其里症者，惡熱不寒，手心腋下濈濈汗出，胃中乾涸，大便堅秘，小便如常，腹滿而喘，煩躁口渴，脈實而滑，內熱譫語，此屬足陽明胃經也，宜下之，可用大小承氣湯、四順飲、洗心湯酌而用之。其在半表半裡者，心下滿，口不欲食，大便堅，脈沉細，亦當下之。其人頭汗微寒，手冷即汗，此兩症俱見，仲景所謂半表半裡是也，小柴胡湯主之。太陽不解，轉入少陽，脅下硬滿，乾嘔不食，往來寒熱，脈息弦數，此足少陽膽經也，宜和解之。其表裡俱見者，病人脈浮大，發熱煩渴，小便赤，五苓散主之。又傷寒六七日，不大便，頭痛有熱，小便清者，知不在裡而仍在表，須當發汗，雖兩症俱見，切不可下，宜投桂枝湯。又太陽病，醫士反下，因而腹痛，是有表有里故也，仲景用桂枝芍藥湯，痛甚者，桂枝芍藥湯加大黃湯。或腹滿時痛，寸脈俱沉，此足太陰脈經也，自利不渴，當溫之，四逆湯、理中湯。其無表裡症者，傷寒四五日後，過經無表裡症，入於裡，非汗症，亦非下症，皆用小柴胡湯隨症加減。四五日至十餘日，服小柴胡湯不愈，而大便堅結，即用大柴胡湯下之。仲景云：六七日目睛不和，無表裡症，身微熱，此為實也，當下之，宜大承氣湯。若口不燥，舌乾作渴而脈沉，急宜溫之，此足少陰腎經也，宜四逆湯。有表裡寒熱，身雖熱而欲得衣，熱在皮膚，寒在骨髓，宜投溫膽湯而寒乃已，次以小柴胡湯加桂枝以治其表。又身大寒而反不欲近衣，寒在皮膚，熱在骨髓，宜白虎湯加人參除熱，次以桂枝湯、麻黃各半湯，以表其外。又厥陰症，脈浮緩，囊不縮，發熱惡寒，似瘧欲愈，宜桂枝麻黃各半湯；若尺寸脈俱沉短，囊必縮，此毒氣入臟，宜承氣湯下之。厥陰病脈微浮為速愈，不浮為難愈，宜小建中湯，此厥陰肝經也。然表裡症內，近似三陰三陽之症，而疏於各症之下，非可盡備六經之大法也，當以活人傷寒症為主，其瘧症與大方同，暑症玉露散主之，亦與大方同，但劑分大小耳，另有脫甲散，大能散邪挾表，真良方也。</p>
<p>潮熱或午後發熱，或日哺發熱，如潮水之不失其時。《傷寒論》云：潮熱，實熱也，當利大便。脈實者，大柴胡湯；脈虛浮數者，百解散汗之；若發熱而嘔，小柴胡湯主之。然實熱潮熱之症，當利大便，若虛症亦似潮熱，必須投溫補之劑。驚熱，遍身發熱，面青自汗，心悸不寧，脈數煩躁，顛叫恍惚，以錢氏涼驚丸、安神丸主之。夜熱者，夜間發熱，是中有邪也，用《元戎》四物二連丸。但此症極多，必要辨明表裡虛實，方可投藥，不可概用《元戎》，戒之！戒之！餘熱者，謂寒邪未盡之遺也。立齋曰：傷寒汗下而復熱，乃表裡氣虛，元陽浮於外，不可再用涼藥，蓋寒去則熱來，叔和戒之詳矣，宜和胃氣，使陽收陰歸，其熱自止，宜以參苓白朮散。食熱者，手心熱，肚腹熱，噯氣吐乳，大便酸臭，宜消積丸。脾虛亦有是症，當以白朮散補之。疳熱者，形瘦多渴，骨蒸盜汗，泄瀉無常，肚大腳細，宜用胡黃連之類。又當參看疳積門以調治。壯熱連日不止，表裡俱熱，煩躁氣喘，甚則驚癇，宜火府丹、通聖散。煩熱者，心躁不安，五內煩，心熱，小便赤澀，宜一粒金丹主之。積熱者，眼胞浮腫，面黃足冷，熱則自頭至肚，治法詳傷積門。風熱者，呵欠面赤，風邪客於皮毛，於臟腑，則寒化熱，目澀多睡，陽氣有餘，身熱無汗，陰氣有餘，身寒有汗，陰陽有餘，無汗而寒。《素問》曰：汗出而身熱者，風熱也。宜清解散、生犀丸主之。虛熱者，因病後發熱，面色青白，困倦力少，泄瀉多尿，自汗，神思恍惚等症。凡久病氣血必虛，虛則發厥，血則發熱，氣血皆虛，手足厥而身熱，治當錢氏白朮散或四君子湯，或以姜附佐之。《經》云：甘溫能除大熱，如變蒸熱者，溫溫微熱，氣粗驚少，哯乳瀉黃，上唇尖有水珠，吐，不必服藥，如見他症，當以感冒之候，略於和解。癖熱者，涎嗽飲水，乳食不消，鬱結而成癖塊也，治法在積聚門。血熱者，《全嬰方》謂日中巳午時發熱，至夜則涼，服六合湯。麻痘熱者，面赤足冷，身發壯熱，呵欠煩悶，咳嗽腰疼嘔吐，驚搐腹痛自利，中指耳鼻尖冷是也。</p>
<p>總括：</p>
<p>傷寒之侯有多般，一概推之便覺難。面目俱紅時噴嚏，氣粗身熱是傷寒。</p>
<p>脈法：</p>
<p>《難經》曰：傷寒之脈，陰陽俱盛而緊澀，浮而緊為傷寒。</p>
<p>傷寒傷風何以別？寒脈緊澀，風脈浮緩；傷寒惡寒，傷風惡風。寒傷自汗風傷汗，陽屬膀胱並胃膽，陰居脾腎更連肝，浮長弦細沉微緩，脈症先將表裡看。</p>
<p>麻黃湯：桂枝　麻黃　杏仁</p>
<p>青龍湯：桂枝　麻黃　石膏　杏仁　姜皮　紅棗</p>
<p>羌活沖和湯：蒼朮　白芷　生地　細辛　羌活　防風　黃芩　桔梗　川芎　甘草</p>
<p>葛根解肌湯：乾葛　桔梗　芍藥　甘草　麻黃　黃芩</p>
<p>小柴胡湯：人參　半夏　柴胡　茯苓　甘草　大棗</p>
<p>大柴胡湯：枳實　大黃　柴胡　黃芩　芍藥　半夏　甘草</p>
<p>小承氣湯：芒硝　大黃　甘草</p>
<p>大承氣湯：大黃　芒硝　枳實　厚朴</p>
<p>小青龍湯：麻黃　赤芍　半夏　細辛　官桂　五味　甘草</p>
<p>敗毒散：羌活　獨活　前胡　柴胡　川芎　枳殼　官桂　茯苓　人參　甘草</p>
<p>四順飲：當歸　大黃　赤芍　甘草</p>
<p>五積散：麻黃　蒼朮　陳皮　白芷　茯苓　人參　桂枝　半夏　芍藥　當歸　厚朴　枳殼　川芎　甘草　乾薑</p>
<p>理中湯：人參　白朮　乾薑　甘草</p>
<p>四逆湯：附子　炙甘草　乾薑</p>
<p>王氏薄荷散：骨碎補　薄荷　甘草　金罌　刺根</p>
<p>人參羌活散：人參　白朮　桔梗　赤苓　柴胡　前胡　獨活　川芎　蒼朮　枳殼　甘草</p>
<p>惺惺散：人參　白朮　桔梗　茯苓　細辛　防風　川芎　南星　甘草　天花粉</p>
<p>蔥白湯：葛根　白芍　知母　甘草</p>
<p>麻黃（桂枝）各半湯：麻黃　桂枝　杏仁　甘草　芍藥　大棗　生薑</p>
<p>洗心湯：麻黃　大黃　芍藥　荊芥　當歸　白朮　甘草</p>
<p>五苓散：豬苓　澤瀉　白朮　茯苓　桂枝</p>
<p>桂枝芍藥湯：桂枝　芍藥　大黃　甘草</p>
<p>白虎湯：石膏　知母　甘草　人參　粳米</p>
<p>小建中湯：桂枝　芍藥　甘草　大棗　乾薑</p>
<p>玉露散：寒水石　石膏　甘草</p>
<p>脫甲散：柴胡　當歸　膽草　茯苓　人參　知母　川芎　甘草</p>
<p>百解散：葛根　麻黃　黃芩　桂枝　甘草　芍藥</p>
<p>小柴胡湯：人參　半夏　柴胡　黃芩　甘草　</p>
<p>涼驚散：黃連　防風　川芎　薄荷　大黃　膽草</p>
<p>蜜丸青黛為衣。</p>
<p>安神丸：茯苓　山藥　硃砂　冰片　甘草　天門冬　馬牙硝　寒水石</p>
<p>《元戎》四物二連湯：當歸　川芎　芍藥　黃連　地黃</p>
<p>參苓白朮散：人參　白朮　茯苓　甘草　桔梗　砂仁　扁豆　蓮心　苡仁</p>
<p>下積丸：丁香　砂仁　使君子　巴豆霜</p>
<p>火府散：生地　木通　甘草　黃芩</p>
<p>通聖散：防風　荊芥　當歸　芍藥　薄荷　黃芩　連翹　石膏　朴硝　滑石　川芎　麻黃　桔梗　甘草　山梔　大黃　白朮</p>
<p>一粒金丹：人參　犀角　琥珀　防風　玳瑁　甘草　茯苓　冰片　硃砂　寒水石</p>
<p>水糊丸金箔為衣麥冬湯下。</p>
<p>清解散：北沙參　防風　茯苓　桔梗　甘草　枳殼　柴胡　川芎　前胡　細辛　天麻</p>
<p>生犀丸：犀角　珍珠　防風　羌活　甘草　茯苓　大黃　硃砂　天竺黃</p>
<p>此藥立夏前宜服。</p>
<p>錢氏白朮散：人參　白朮　茯苓　藿梗　葛根　甘草</p>
<p>四君子湯：人參　白朮　茯苓　甘草</p>
<p>六合湯：當歸　川芎　大黃　熟地</p>

<h1>痧疹</h1>
<p>《內經》曰：少陰所致為瘍疹。夫少陰所致者，君火有餘，熱令大行，戊子午之歲也。在人則心主之，心火太過而燒爍肺金，肺主皮毛，見於皮膚之間，紅色如錦，此心火侮而乘之之色也。又曰疹屬於脾，《金鏡錄》云：毒盛於脾，熱流於心，乃知心脾肺皆受時邪而發。其將出時，腮紅眼赤，壯熱憎寒，身體疼痛，嘔吐泄瀉，咳嗽煩渴，神昏譫語，是其侯也。便當服開豁腠理湯，使之易出。如頭面愈多，鮮明勻淨，精神如舊清爽，是吉兆也，前藥即愈。若紅紫色，乾燥時晦，或出透身熱煩悶，聲啞喘急，發出復隱，此危急之兆也，仍將前方加炒黑麻黃、羌活之類。如再不出，或喘更甚，誠不治之症也。《活幼心書》曰：斑疹有二，有溫毒發斑，有胃爛發斑。然溫毒發斑者，其癮疹紋如錦片，出於兩腋之下。蓋兩腋氣之道路，蘊毒則隨氣而先出，其病狀嗽咳煩悶，或嘔清水，是因冬時感冒寒毒，藏於肌膚，至春陽氣發動而形於外，名為溫毒。發散癍疹，以百解散及牛蒡湯加陳皮、黃連為治。胃爛發癍者，因傷寒下早，熱毒乘虛入里，及當下而不下，以致熱毒內蒸於胃，胃受熱毒則發出於皮膚，其色赤者可療，黑者九死一生，治法同前。大便堅燥，不可輕用下藥，須以蜜煎豬膽之類導之。設或微瀉，不必治之，實發泄熱毒也。如瀉利不止者，此熱毒下陷之故，當以五苓散去桂加芩連芍藥之類，毒解則熱退，而瀉利自止，不可用燥濕溫補之劑。古人云「可汗不可下、可表不可補」是也。痧發足不止者，此餘毒未盡，急用解火清金之劑，以竹葉、石膏、麥冬、知母、芩、連、玄參、桔梗、陳皮、枳殼、天花粉、牛蒡子之類。痧後咳嗽不止，四物合二陳湯加瓜蔞、桔梗、玄參、黃芩治之。口渴加麥冬、枳殼，氣喘加蘇子、桑白皮。痧出過三日後不發者，內有實熱也，加清利之藥使熱自解，四物湯加芩連牛蒡以治之。凡出痧之時，大忌米穀暈腥之物、風寒水濕之氣，苟有不謹，最為深患。間有犯之而得愈者，此必內稟之氣實，外感之邪輕耳。余雖不佞，驗之屢矣，當謹戒病者為幸。再有一種，初出淡紅潤色，酷似痘疹，但粒頭稍小為異，此為赤痘。又初出尖小而頭白，光亮，有清水，此為水痘。上二症皆屬心火流於脾肺，最為易出易厭，稱為輕症，但恐變成瘡痍，膿血潰壞，此由不避風、不忌口耳，以四物湯加荊芥、防風、芩連之類。</p>
<p>總括：</p>
<p>癍疹從來因胃熱，赤生黑死無容忽。錦紋片片出肌膚，溫毒發現在兩脅。</p>
<p>脈法：</p>
<p>陽虛則數，陰實則大。</p>
<p>開發腠理湯：陳皮　防風　荊芥　桔梗　枳殼　前胡　葛根　柴胡　羌活　天花粉　升麻　甘草</p>
<p>百解湯：葛根　桂枝　甘草　茯苓　升麻　赤芍　麻黃</p>
<p>牛蒡湯：牛蒡子　大黃　防風　荊芥　甘草　薄荷</p>

<h1>氣喘（附齁䶎）</h1>
<p>《內經》曰：諸逆上衝，皆屬於火。或有起居如故，而息有音者，肺之脈絡逆也。河間曰：火氣盛為夏熱，衰為冬寒，故病寒則息衰而氣微，病熱則氣盛而息粗。又云：寒水為陰，主乎遲緩：熱火為陽，主於急數。是以寒則息遲氣微，熱則息急氣粗，即謂之喘。大抵哮以聲響名，喘以氣促言。夫喘促而喉如水雞聲者，謂之哮，氣促而連續若難接者，謂之喘。雖然未有不由痰火內郁、風寒外束而致之者，有傷寒肺氣壅盛而發喘者，是表不解也，用麻黃、杏仁、甘草、石膏之類，辨其寒熱而治之。又傷風咳嗽，肺虛而發喘，以麻黃、杏仁、甘草，三拗湯加減之。有因驚發喘，逆觸心肺，暴急張口神困，以化痰定喘丸治之。又哮吼喘者，喉間如拽鋸聲，可服梅花飲子。又或食鹹酸而喘，啖之以生豆腐，有熱者治以清涼定喘之劑。凡喘嗽之症，若小便不利則必生脹，脹必生喘，宜分標本先後。如先喘而後脹者主肺，先脹而後喘者主脾。蓋肺金主降，外主皮毛，肺朝百脈，通調水道，下輸膀胱，既受邪則失降下之令，故小便漸短，致水溢皮膚，而生脹滿，此喘為本而脹為標也，治當清金降火為主，而行水次之。脾土惡濕而主肌肉，土能剋水，若脾土受傷，不能制水則水濕妄行，浸漬肌肉，水上溢則邪反侵肺，氣不能降而亦喘矣，此脹為本而喘為標也，治當實脾行水為主，而清金次之。若肺症而用燥脾之藥，則金燥而喘愈甚；脾病而用清金之藥，則脾寒而脹益增。丹溪曰：久症發喘，故投人參、阿膠、五味，新病氣實，故用桑皮、葶藶、麻黃、杏仁。有痰聲而喘者，降痰為先；呼吸促而氣喘者，降氣為主；有胃虛者，抬肩結肚，喘而不休，宜溫胃消痰為主；有痰火者，乍進乍退，得食則減，食已即喘，降火清金為主。咳而上氣喘逆為肺脹，其脈沉，心下有水氣也。</p>

<h2>附齁䶎</h2>
<p>齁䶎一病，本為暑濕所侵，未經發散，邪傳心肺，變而為熱，熱則生風，風即生痰，痰實不化，因循日久，結成軟塊，圓如豆粒，遂名痰母。推其本源，或啼哭未休，遽與乳食；或飼以酸鹹，氣鬱不利，致令生痰；或節令變遷，風寒暑濕侵襲；或墮水中，水入口鼻，傳之於肺。故痰母發動而風隨之，風痰壅塞，氣促而喘，乃成痼疾。急投去風化痰，以知母湯、如意膏治之。</p>
<p>總括：</p>
<p>喘為惡候古今傳，氣色形顏仔細推。白虎梅花當解急，一般能散病堪痊。</p>
<p>脈法：</p>
<p>脈浮遲滑定然生，澀數微虛命必傾。</p>
<p>喘嗽吐血，上氣不得臥者，死。若面目浮腫，肩聳，脈息浮大者，亦不治，加嗽尤甚。</p>
<p>化痰定喘丸：雄黃　蟬蛻　硃砂　全蠍　殭蠶　南星　白附子　輕粉</p>
<p>梅花飲子：硼砂　芒硝　人參　甘草　辰砂　麝香　冰片　牙硝</p>
<p>上藥共為細末，用磁器貯之，麥冬湯調服，如氣喘咳嗽，桑白皮湯下，或薄荷湯下。</p>
<p>知母湯：知母　甘草　貝母　羌活　滑石　大黃　葶藶　麻黃　訶子　薄荷</p>
<p>如意膏：半夏　茯苓　枳殼</p>
<p>用朴硝（風化）加生薑，和糊為丸，如綠豆大，淡薑湯送。</p>

<h1>痙症</h1>
<p>《內經》曰：諸痙項強，皆屬於濕。又曰：諸暴強直，皆屬於風。《原病式》曰：筋頸強直而柔和也。夫肝木屬風而主筋，《經》曰諸暴強直屬風，理固然也，其諸痙項強而屬濕者何也？蓋太陽陰濕，則兼風化，亢則害，承乃制也。是故知痙之為病，濕為本，風為標耳。其症項背強直，腰身反張，搖頭瘛瘲，口噤不語，發熱腹痛，終日不醒，其狀可畏。病在足太陽經，剛痙無汗，柔痙有汗，面紅眼赤，牙緊口張，痰涎壅盛，昏憒煩渴，小便赤，譫語而發者，此剛痙也；若大便滑泄，不渴不語，手足冷而發者，此柔痙也。柔痙解肌，剛痙發汗，並以小續命湯加減之。又癇之一症，身體壯熱，譫語口乾，手足反張微寒，大便溏泄，此為剛柔不分之症。無汗，葛根湯主之；有汗，即用桂枝葛根湯。若痰壅氣盛，用南星、半夏、茯苓以消其痰，枳殼、陳皮、紫蘇以順其氣，痰消則風止，氣順則神清，然後審其熱之輕重而解利之。熱輕者敗毒散，熱重者小柴胡湯解之，壯熱有汗，胸滿咬牙而大便秘結者，是內有實熱，大承氣湯下之，後用大柴胡湯解之。痙症最難痊，十救一二，真難治者也。</p>
<p>總括：</p>
<p>原來痙症屬膀胱，口噤如癇身反張。此是傷風寒濕感，剛柔兩痙已分明。</p>
<p>脈法：</p>
<p>太陽病其脈沉而剛者為痙。</p>
<p>補遺：此症多因亡血，筋無所榮，故邪得以襲之，所以傷寒汗下太過，與瘡患及產後而至是症者最多。《內經》曰：太陽謂髮直引，皆有陽氣太上而爭，故強上也，出肺家篇。足太陰經之筋體脊內膂上至項，其病主癇瘛，及痙在外者不能俯，在內者不能仰，故陽病腰反折難俯，陰病難仰。此症皆因神氣未固，驚則神不守舍，或飲食失節，脾胃受傷。</p>
<p>小續命湯：麻黃　附子　防風　肉桂　人參　茯苓　黃芩　川芎　芍藥　杏仁　甘草　防己</p>
<p>余方備在傷寒門。</p>

<h1>癇症</h1>
<p>《內經》曰：巨陽之厥，則腫首頭痛足不能行，發為眴僕。蓋陽虛逆亂也，故令人卒然暴僕，而不知人事，此則癇之類癇也。小兒風邪所傷，驚怪所觸，乳哺失節，停滯經絡，即成也。其候神氣拂鬱，目瞪直視，口噤涎流，肚腹膨緊，手足搐掣，項背反張，腰脊強直，但四肢柔軟，所謂六畜癇也。或腰脊強硬，終日不醒，則痙症矣。所謂六畜癇者，咽喉風痰所結，其聲如畜，時人強名之耳，又稱五癇。病關五臟，當察五臟之色而名之。總之，驚、風、食三種而已，積為痰飲，以致痰迷心竅而發，治當清火消痰，並投鎮驚清心之藥，如痰涎膠固，此藥倘難驅逐，在上即用吐法，在裡即用下法。</p>
<p>驚癇者震駭恐怖，打墜積驚，其初驚叫大啼、恍惚失魂是也。風癇者，汗出解脫失慎，風邪乘虛而入，其初屈指數計，有熱生風是也。食癇者，食時得驚，宿食結滯，其初吐乳不哺，大便酸臭，久則或成乳癖，先後寒熱是也。</p>
<p>又有陽病脈浮，面色光澤，病在六腑，身熱抽掣啼叫之症，易治；陰病脈沉，面色黯晦，病在五臟，身無熱，手足清冷啼叫之症，難痊。或以仰臥屬陽，覆睡屬陰，亦可參驗。蓋陽症屬熱，不可用溫藥；陰症屬寒，切忌投涼品。</p>
<p>有癲狂者，亦屬陽症。《難經》曰：重陽則狂。至長成小兒才發時，妄言不食而歌，甚則逾垣上屋，棄衣而走，或一二日方醒，是因冒熱感風，風熱蘊蓄，久則風痰壅結，上迷心胞。夫心乃神之舍，偶為邪熱攻逼，則神失守而昏亂，名曰狂癇，當清心平肝，疏風化熱，鎮驚下痰可也。</p>
<p>總括：</p>
<p>驚傳三搐後成癇，嚼沫牙關自上翻。明辨陰陽參色脈，不拘輕重總風痰。</p>
<p>脈法：</p>
<p>脈弦為風，弦而帶浮為陽癇，沉則為陰癇，凡癲狂脈虛可治，實大難痊。</p>
<p>補遺：癲狂即頭眩也，痰在膈間則眩微不僕，痰溢膈上則眩甚，仆倒於地，不知人事，名曰癲癇。徐嗣伯曰：大人謂癲，小兒謂癇。其實皆是痰凝胸膈故也。但癇症作聲，及醒必吐涎沫，時醒時發不休為異耳。《內經》曰：人生而癇疾者名為胎病，由母腹中得之，因母偶被大驚，其氣上而不下，精氣並居，而其子自患癇疾。</p>
<p>胎驚正發之劑：石菖蒲　石膏　犀角　人參　茯苓　遠志　白蘚皮</p>
<p>疏熱解表清利之劑：獨活　羌活　天麻　人參　荊芥　防風　川芎　甘草</p>
<p>化風丹：治口噤身反目直口吐。</p>
<p>南星　天麻　羌活　獨活　人參　荊芥　防風　川芎　甘草</p>
<p>鐵粉圓：治癇證不時吐涎沫，心悶。</p>
<p>龍腦　桂粉　天麻　南星　沒藥　牛黃　麝香</p>
<p>豬膽南星散：治小兒癇後不能言。南星一味，濕紙包煨，為末，雄豬膽汁調糊服。</p>
<p>牛黃膏：治風癇迷悶，手足抽掣，口吐涎沫。</p>
<p>全蠍　蟬衣　南星　殭蠶　明天麻　白附　防風　麝香</p>

<h1>積聚</h1>
<p>《內經》曰：積聚留飲食痞膈中滿，濕積霍亂吐下，癥瘕堅硬腹滿，皆太陰濕土脾胃之氣積聚之根也。丹溪曰：塊乃有形之物，氣不能生形，痰與食積死血也。在中為痰飲，在內為食積，大都行氣開痰為主。夫小兒熱氣蘊於胸膈之間，留飲聚於腰脅之內，於是營衛不得流通，臟腑不能宣達，脹滿而致癖結，或時發壯熱是也。故瘧家中脘往往蓄積黃水，日久成癖。若臟腑和平，營衛調暢，則津液流通，縱使多飲水漿，亦不為病也。然乳哺失節，三焦關膈，水漿停滯，腸胃不得宣行，於是結聚而為癖。治療之法，實者水晶丸下之，姑候盡消，便可攻補兼施。經云大積大聚，非攻不可。此症寒熱如瘧，肚腹疼痛，面黃肌瘦，切勿作瘧治。倘攻之太過，必耗散元氣，津液內損；補之太早，則積留成熱，轉生他症。治先調和中氣為主。氣弱者先調脾胃，後用三稜散、化癖丸漸漸磨之。然先補後瀉，行迎奪之法，即取陳寒積冷。若面黃唇白，發豎肌瘦，乃謂虛極，不可輕下，宜徐徐消化調理為上。古人云：養正則積自除矣。</p>
<p>總括：</p>
<p>積常有處聚無常，癥有明癥瘕聚難。四病所生俱是損，自生血氣各遭傷。</p>
<p>脈法：</p>
<p>小兒脈伏結為物聚，錢氏以沉細為癖積。《經》云：細而附骨者，積也。</p>
<p>治瘧疾有痞塊法：生地　白芍　陳皮　川芎　黃芩　半夏（以上各一錢）　甘草（二分）　鱉甲（醋炙，二錢）　水煎加生老薑三片</p>
<p>瘧久腹中成塊者，宜服止氣散，用二陳湯加柴胡、葛根、蘇梗、厚朴、青皮、檳榔、肉果、山楂，先以此等之藥發散，然後服鱉甲散，須加人參調養元氣。</p>
<p>水晶丸：南星　半夏　滑石　蕪荑</p>
<p>三稜散：人參　三稜　陳皮　枳殼　半夏　青皮　香附　益智仁　神麯　莪朮　大黃　紫蘇　甘草　苦丁</p>
<p>化癖丸：陳皮　莪朮　青皮　枳殼　檳榔　白朮　丁香　細辛　木香</p>

<h1>黃疸</h1>
<p>《內經》曰：中央黃色，入通於脾。又曰：諸濕腫滿，皆屬脾土。夫黃疸之病，肌肉虛腫而色黃，由濕熱鬱積脾土之中，久而不散，故黃色形於肌膚。蓋脾主肌肉，肺主皮毛，母能令子虛，母病子亦病矣。是故有諸內必形諸外耳。其症雖分為五，終無寒熱之異。丹溪曰：同是濕熱，如盦面相似。所謂知其要者一言而終。或傷寒熱病，陽明內實，失於汗下，以致濕熱拂鬱內甚，令人變黃病也。又有疳瀉，皮黃髮豎，青筋肚大，肌肉消瘦，身面俱黃，此實肝病，故有是症。宜作疳治愈矣。治疸之法，用五苓散倍加茵陳，或茵陳湯加茯苓滲濕之品，無不應手獲效。又曰濕在上宜汗，濕在下宜利小便，或二法並用。又有小兒初生，遍體俱黃，兩目厚如金色，身發壯熱，是名胎黃，因兒在腹中，母受極熱耳。乳母須服生地黃湯。</p>
<p>總括：</p>
<p>發黃著濕蒸脾得，內外因分最是良。更有胎黃生便見，切宜多服地黃湯。</p>
<p>脈法：</p>
<p>脈沉，渴欲飲水，小便不利，皆發黃病。凡寸口無脈，鼻氣冷，不治。</p>
<p>茵陳湯：茵陳蒿（一兩）　梔子（大者，三枚）　大黃（一錢）</p>
<p>茯苓滲濕湯：黃連　黃芩　梔子　澤瀉　防己　白朮　蒼朮　陳皮　青皮　枳實　赤苓　茵陳　豬苓</p>
<p>生地黃湯：生地　赤芍　川芎　當歸　天花粉</p>

<h1>諸血</h1>
<p>《內經》曰：清者為營，濁者為衛，營行脈中，衛行脈外。營者，水之精氣，和調五臟，灑陳六腑，故能入脈。夫營，陰血也，所主在心，統化在脾，藏內在肝，宣布在肺，輸泄在腎，灌溉一身，滋養百脈，諸經由此而生育焉。然血之所統在乎氣，故曰氣主向之，血主濡之，是以氣行則血行，氣止則血止，陽生陰長，夫唱婦隨之道也。如氣傷則變端百出：妄行則吐衄，衰涸則虛勞，降下則便血，熱陷則尿赤，滲於腸胃則為腸風，陰虛陽摶即患崩漏。此皆氣有殄戾之華，而血有滲濕之患也。養陰者可不先知養陰之道乎？巢氏曰：吐血者，熱氣盛而血虛，熱乘於血，血性得熱，則流散妄行，氣逆則血隨氣上，故令吐血也。若飲食太飽之後，脾胃內冷，不能消化，忽吐所食之物，氣血相沖，因傷肺胃，亦令吐血。又咳嗽氣逆，面目浮腫而吐血，是肺氣虛損耳。服用柏枝飲、犀角地黃湯。</p>
<p>衄血者，五臟熱結故也。血隨氣行，流通臟腑，冷熱調和不失常度，決無壅滯，亦不泛溢。血得寒而凝結，得熱而流散，熱乘於血，血隨氣升，故出於鼻竅也。又有傷寒瘟疫，諸陽受病，熱毒停聚五臟，以致鼻亦衄也。治以龍膽草丸、柏皮湯、膠黃散等劑。</p>
<p>大便下血，是大熱結臟損傷所致。臟氣既傷，風邪自入，或積冷，或溫熱，傳於脾胃，或疳食傷於臟腑，因茲冷、氣、熱、疳、濕，五者致動氣血停留於內，凝滯無歸，滲入腸中，故大便下血。或有腹脹冷氣在內攻衝，亦令大便下血。又因風冷乘虛客入脾胃，或瘀血在於腸胃，濕毒下如豆汁，又疳傷於臟，亦能便血。若上焦心肺積熱，流注大腸，亦令大便下血。亡血脾弱必渴，久則肌瘦發黃。五倍丸之類，服之必效。</p>
<p>尿血者，心主之。心與小腸相應，血之流行周遍經絡，循環臟腑。若熱聚膀胱，血滲入胞，故小便出血。如其實熱，服清心蓮子飲；虛熱，服六味地黃丸。</p>
<p>總括：</p>
<p>九道何為血妄行，蓋因抑鬱熱邪生。隨經施治明虛實，氣順如常血自勻。</p>
<p>脈法：</p>
<p>吐血，唾血，脈澀小弱，生；實大者，死。</p>
<p>血溢、血泄，諸血妄行，其治也，當以大黃桃仁行血破瘀之劑，以折其銳氣，而後外治之。善治者，每治失血蓄血，必先以快藥下。或問：失血復下，虛何以當？曰：血既妄行，迷失故道，不去蓄利，以妄為出，曷以當之？使去者自去，生者自生，可也。</p>
<p>柏枝飲：干柏枝　干藕節</p>
<p>共為末，蜜入沸湯調服。又一方加白芍、犀角汁同服。</p>
<p>犀角地黃湯：治衄血、吐血</p>
<p>犀角　赤芍　丹皮　生地</p>
<p>龍膽草丸：黃連　龍膽草</p>
<p>柏皮湯：治衄血</p>
<p>柏皮　山梔　甘草</p>
<p>膠黃散：阿膠（一兩）　蒲黃（五錢）</p>
<p>加生地汁服。</p>
<p>五倍子丸：五倍子為末，蜜丸，小豆大，一歲服十丸，倉米湯送下。</p>
<p>清心蓮子飲：黃芩　麥門冬　地骨皮　車前子　甘草　石蓮　茯苓　黃耆　柴胡</p>
<p>火府散：木通　生地　黃芩　甘草</p>

<h1>腹痛</h1>
<p>《內經》曰：寒氣入經，則稽遲澀而不行，客於脈外則血少，客於脈內則氣滯，故卒然而痛。然此理未能盡述，學者自宜檢閱。《原病式》曰：熱鬱於內，則腹滿堅結而痛，不可例言為寒也。丹溪曰：腹痛欲以物按者屬寒，如不欲按者屬熱，痛類不同，詳細在後。</p>
<p>有鎖肚痛，嬰兒月內或月外，乳不下咽，腹硬如石，面赤似朱，撮口啼哭，目瞪唇紫，手足口鼻氣冷是也。始因斷臍帶不緊繫，為風寒所乘，症實危急。以白芍藥湯、烏梅散投之，如不愈，再參考臍風症門。</p>
<p>癥瘕痛，乃積久所致，亦能成疳。皆屬營衛兩虧，外則感受風寒，內則過傷乳食，停滯既久，不能克化。邪並於陰為癥，陰則專靜，凝而不移；邪並於陽為瘕，假物象形，動而不息。此二症倘久而不治，亦成脾胃疳積。或兩脅間有塊如石，按之則痛，不按則輕，或面黃肌瘦，腹硬而脹，並有青筋，蒸熱無時，乳食減少，愛吃泥土，或大便酸瀉，痛則身冷如冰。法當調脾養胃，用惺惺散；磨積理疳，用化癖丸；治酸瀉，沒石子丸。然積滯之疾，非一二劑即愈，必須次第調理，自然日漸減輕。</p>
<p>痃痛者，始則腹內長塊，其硬如臂，從腰傳轉，或左或右，良久痛甚，則現於皮內，不妨乳食。其症先因有疾，解表未清，遽下太過，氣虛寒摶，鬱結而感。法宜益氣理虛，用人參白朮散、沉香檳榔丸主之。</p>
<p>蛔蟲痛，口吐清水涎沫，或蟲吐出，痛不堪忍。其症因食肥甘葷腥太早，故胃寒蟲痛，其蟲吐出，或生或死，痛甚危險。先以理中湯加烏梅水煎服，使胃暖不逆，次服使君子丸。又有大兒，面㿠白而黃色，肉食倍進，肌體消瘦，腹中時痛，此鱉蛔蟲雜於其間。以二聖丸下之。又有胃受極熱，亦令蟲痛，乍痛乍止，當以安蟲為上，若以治蟲，反傷胃氣。因寒而痛者，理中湯加烏梅水，或服熱而動者用五苓散加烏梅水生薑煎服。</p>
<p>積痛者，腹中隱隱而痛，面黃不食，兒吐酸氣，先治積滯，後調脾胃，而痛必止，仍辨虛實和解，治詳傷積門。</p>
<p>癖痛者，癥痃、瘕、癖四症，大同小異，總名積聚。已詳積聚門。</p>
<p>臟寒痛，附胎寒門。盤腸內吊痛，附夜啼門。腎吊偏墜痛，附陰囊腫門。當理腎和氣。寒疝痛，附在疝症。</p>
<p>總括：</p>
<p>脾家不好腎經虛，邪正交攻氣不舒。熱痛面紅並尿赤，冷知青白口唇紅。</p>
<p>脈法：</p>
<p>陰虛則腹痛，弦急則小腹痛，尺脈緊臍下痛。又脈伏小腹痛。瘕疝痛、心腹痛不息，脈細遲者生，堅實大者死。腹痛脈反大而長者死，臍下忽大痛，人中黑者死。</p>
<p>白芍藥湯：白芍　澤瀉　薄荷　桂枝　甘草</p>
<p>烏梅散：鉤藤　乳香　沒藥　粉草　烏梅　延胡索</p>
<p>惺惺散：人參　茯苓　藿香　白朮　甘草　丁香　砂仁　南星</p>
<p>化癖丸：陳皮　莪朮　三稜　青皮　枳殼　檳榔　木香　丁香　細辛　木通</p>
<p>參苓白朮散：人參　茯苓　甘草　白朮　砂仁　米仁　桂枝　扁豆　蓮肉</p>
<p>沉香檳榔丸：沉香　檳榔　白朮　丁香　三稜　蓬朮　神麯　厚朴　蒼朮　青皮　陳皮　砂仁　益智仁　枳殼　良薑　香附　穀芽　使君子</p>
<p>理中湯：乾薑　人參　白朮　炙甘草</p>
<p>使君子丸：檳榔　大黃　使君子　酸石榴皮</p>
<p>二聖丸：檳榔一兩，巴豆十五粒（去殼、膜）。巴豆揀大去油，入檳榔末，杵，和丸綠豆大，服後蟲即下，以稀粥自安。</p>
<p>黃連殺蟲湯：雷丸（一錢）　使君子（二錢）　廣木香（五分）　蕪荑（二錢）　炒川連（四分）　炒枳殼（一錢五分）　花檳榔（一錢五分）　六神麯（三錢）　焦麥芽（三錢）　金鈴子（三錢）　榧子肉（三錢）</p>

<h1>項頸強痛</h1>
<p>《內經》曰：風生於脊，病在肝腧頸項。又曰：諸頸項強，皆屬於濕。戴人曰：頭痛非是風邪，即是氣挫。亦有落枕而成痛者，宜服和氣之劑。又有挫閃及坐久失枕而致項強不能轉側者，此由腎虛不易生肝，肝虛無以養筋，故機關不利，宜服補腎之劑。再有患筋急項亦難側者，此必從足起。經云：十二經各有筋，惟足太陽之筋自足至項故也。《準繩》曰：頸項強急，發熱惡寒，多由風客三陽之經，寒摶則筋急，風摶則筋弛。左屬血，右屬痰，並宜驅邪湯。若動則微痛，脈弦數而實，此痰熱在三陽之經，宜消化豁痰湯。若脈弦而澀，右為甚，作血虛，邪客於太陽陽明之經，治宜疏風滋血湯。</p>
<p>總括：</p>
<p>項病原來風濕居，挫閃失枕亦因之。右痰左血常常記，虛實詳明藥必靈。</p>

<h1>頭痛</h1>
<p>《內經》曰：頭痛不止，寸口脈中短者，三陽受病。夫三陽受病，皆胸膈有痰之故，其痰壅遏於上也。春風病在頭，蓋天氣上升病亦升於上也。法當吐之，吐即所以宣達，可祛在上之邪。仲景云：春令頭痛，治法宜吐。按頭痛之症，有外因者，風寒暑濕之邪；有內因者，氣血痰飲之故；又有三陰三陽之異。皆以風藥治之。總而言之，高頂之上，惟風可到耳。然太陽頭痛，惡風寒，脈浮緊，痛在巔頂兩額角；少陽頭痛，往來寒熱，脈弦，痛連耳根；陽明頭痛，發熱自汗，脈浮長大，痛連目眥頰齒；太陰頭痛，有痰體重，或腹痛，脈沉，頭重；少陰頭痛，足冷氣逆，寒厥，脈沉細；厥陰頭痛，吐痰，厥冷，脈浮緩。自此，六經頭痛，多挾外邪者也。血虛痛，自魚上攻而痛；氣虛痛，耳鳴，九竅不利；真頭痛，痛甚入腦，手足寒至節，旦起夕死，夕起晨亡；厥逆痛者，如犯大寒，內至骨髓，髓本以腦為主，腦逆故頭即痛，而齒亦痛；痰厥痛者，頭如裂散，眼黑頭旋，噁心煩悶，目不便開，如在雲霧空中，此足太陰痰厥之痛。凡此頭痛不一，須參大方，究其所因，斯無偏弊也矣。</p>
<p>總括：</p>
<p>頭痛先須辨六經，濕痰風火挾邪侵。氣虛血少兼寒濕，審得精明治必靈。</p>
<p>脈法：</p>
<p>陽弦則頭痛；又曰：寸口脈浮，中風發熱；又曰：頭疼短澀應須死，浮滑風痰必易除。</p>
<p>補遺：</p>
<p>丹溪云：頭痛大率屬痰，甚者火多，有可吐者，有可下者。又曰：腎虛則頭痛，肝虛則頭暈。</p>
<p>太陽經頭痛方：藁本　川芎　羌活　獨活　麻黃</p>
<p>少陽經頭痛方（即小柴胡湯）：柴胡　半夏　人參　甘草　黃芩</p>
<p>陽明經頭痛方：升麻　芍藥　甘草　葛根　白芷　加石膏</p>
<p>太陰經頭痛方：蒼朮　半夏　南星</p>
<p>少陰經頭痛方：麻黃　附子　細辛</p>
<p>厥陰經頭痛方：麻黃　羌活　吳茱萸　藁本　升麻　黃耆　黃芩　當歸　黃柏　川芎　細辛　蔓荊子　柴胡　黃連　半夏　紅花　蒼朮</p>
<p>芎歸四物湯去地黃芍藥，治血虛頭痛。</p>
<p>四君子湯：人參　白朮　茯苓　甘草</p>
<p>此治氣虛頭痛。</p>
<p>羌活黑附湯：麻黃　殭蠶　黃柏　羌活　蒼朮　防風　甘草　升麻　白芷　黃耆　黑附子</p>
<p>加減二陳湯：陳皮　半夏　蒼朮　蔓荊子　南星　防風　茯苓　甘草</p>
<p>此方治痰厥頭痛。</p>

<h1>胃脘痛</h1>
<p>《內經》曰：少陽司天，風行於地，心痛，胃脘痛，膈不通。又云：木鬱發之，民病胃脘當心而痛，上支兩脅，膈噎不通，食飲不下。蓋風木之氣被郁，發則太過，故有土敗木賊之候。然心與胃各一臟，病形不同，胃脘痛在心下，或曰胃脘痛即心痛，此言非也。但胃居中焦，稟中和之氣，多血多氣，為水穀之海，三陽之總司，五臟六腑十二經皆受氣於此，是以強則氣行而健，弱則氣竭而病，其中和之氣，變至偏寒偏熱。因此水穀不消，停留水飲食積，與氣相摶，以致清陽不升，濁陰不降，而肝木之邪得以乘機侵侮，而病即生矣。其致病之由，大抵縱恣口腹，喜食辛酸、生冷、煎煿、脆燥之物，朝傷暮損，日積月累，自郁成痰，痰多成火，血亦妄行，痰血相雜，妨礙升降，故胃脘作痛。倘醫士不究其源，例以辛香燥熱治之，以火濟火，恐成危劇，不亦悲哉！古有九種心痛，曰飲，曰食，曰風，曰冷，曰熱，曰痰，曰蟲，曰痙，曰去來痛。夫所謂冷者，一耳，不可例以熱藥治之。詳其所由，皆在胃脘而實不在心也。又有寒熱、大實、食積、死血、痰蟲之異，俱錄於後。</p>
<p>寒厥痛者，手足冷，遍體冷汗自出，便痢尿清不渴，氣微力弱，宜朮附湯溫之。熱厥痛者，身熱足冷，痛甚則躁而吐，額上自汗，脈息洪大，宜金鈴子散加減之。大實痛者，因氣而食，卒然發痛，大便或秘，久而注悶，心胸起高突，按之愈痛，不得飲食，宜微利之。食積痛者，痛甚欲大便，大便後痛即減。死血痛者，痛有常處，不移不動。痰痛者，隱隱然痛，得辛熱湯則暫止者，此即痰痛也。蟲痛者，痛則懊憹，發作腫聚往來，上下行痛，腹熱善渴涎出，面色乍白乍青乍赤，嘔吐清水。真心痛者，必死不救，蓋為胞絡引邪入於心之正經耳，夫心為君主之官，神靈之舍，手少陰經豈可受邪而被痛也哉！</p>
<p>總括：</p>
<p>俗云心痛多胃脘，真痛心者命必危。九種病原宜細切，食寒實大豈無妨。　</p>
<p>脈法：</p>
<p>洪大屬火熱，滑大屬痰；右手脈實者痰積，沉滑有食，強遲有寒。沉細而實可治；堅大而實，浮大而長，滑而流利，數而緊甚，皆不易治；若心痛，手足俱青至節者，不治。</p>
<p>補遺：</p>
<p>丹溪曰：凡胃脘痛必用溫藥，此是鬱結不行，陽氣不運，故作痛。在下者多屬食，宜溫利之。大凡心腹痛，須分新久，若明知受寒感熱挾氣，或口食寒物而得者，當溫利之。倘得之已久，則成郁，郁久則蒸熱，熱久必生火，若早投溫利之品，寧無助火添病乎？由是山梔為熱藥之嚮導，正氣復而愈矣。用十五枚，大者九枚，去皮，炒黑，濃煎，佐以薑汁，令辣，服之。或加川芎一錢，或以二陳湯加川芎、蒼朮，倍梔子，煎服。甚者加乾薑，輕則以麻黃、桂枝之類散之。</p>
<p>草豆蔻丸：草豆蔻　陳皮　吳茱萸　人參　乾薑　黃耆　益智仁　炙甘草　當歸身　青皮　福澤瀉　半夏　桃仁　麥芽　焦神麯　薑黃　柴胡</p>
<p>共為末，和丸，淡薑湯送下。</p>
<p>朮附湯：附子　白朮　甘草</p>
<p>加老薑三片煎服。</p>
<p>金鈴子散：金鈴子肉　延胡索（各一兩）</p>
<p>為末，痛止服。</p>
<p>枳朮丸：治因平日喜食熱物，致死血留於胃中作痛。宜桃仁承氣湯下之。</p>

<h1>腫脹</h1>
<p>《內經》曰：諸濕腫滿，皆屬於脾。又曰：諸腹脹大，皆屬於熱。夫脾喜燥而惡濕，常感濕氣，濕蘊久則生熱，濕熱相生而腫脹焉。其所謂受病者何也？夫人所賴以生者，水穀也。水，腎主之；谷，脾主之。然腎虛不能行水，脾虛不能制水。脾與胃合，胃為水穀之海，虛則不易傳化。故腎水泛溢，浸漬脾土，於是三焦停滯，經絡壅塞，滲於皮膚，注於肌肉，而腫脹成也。腫為水腫，脹為腹脹，須分別治之。賈洛海曰：腫之為病不一，可謂痼疾，則危惡極甚已。有感濕而腫，有風寒閉塞而腫，有食積而腫，有病後作腫。大法總以補中行濕利小便。凡身有熱者，水氣在表，可汗；身無熱者，水氣在裡，可利小便，切不可輕下，耗傷真氣。《經》云：壯者氣行則愈，怯者著而成病也。遍身浮腫煩渴，小便赤澀，大便秘結，此屬陽水。先五皮湯，次四磨湯，加生枳殼，重則疏鑿飲子。若遍身腫，不煩渴，大便溏，小便不赤，此屬陰水，宜實脾飲，或木香流氣飲。陽水病兼陽症者，脈必浮數；陰水病兼陰症者，脈必沉遲。氣若下陷，用二陳昇提之藥，能使大便潤而小便長。如其腹脹，少加厚朴佐之，氣不運，加木香、木通以調之。有小兒初生便覺痰嗽喘急，此肺腎所主，先用解表，次投定喘消痰利便之劑。《內經》曰：「開鬼門，潔淨府。」即此謂也。</p>
<p>夫脹者，因飲食勞倦，損傷脾胃，不能健運，水穀聚而不散，以致成脹。實者可下之。其症刻刻飲水，小便黃，脈伏而實，必脾虛而後有積。治法先補脾，然後下之；下後又補脾，可期霍愈矣。不可補肺，恐生虛氣耳。盧氏《醫鏡》以水腫隸於腎肝胃，而不及脾。又肺金盛而生水，水溢妄行，豈理也哉。夫脾土受病，肺為之子，固不能自盛而生水。然肺金氣清，本能生水，則滋長腎陰，奉以降令，為生化之源，何病腫之有！今乃腫水為腐濁之氣，滲透經絡，流注豁谷，灌入隧道，血亦因之化水，欲藉土以制之，順氣以利之。殊不知脾病則金氣衰，木寡於畏而侮土，脾欲不病不得也。治法宜清心經之火，金運化之，肺氣下降，隧道開通，其精之清者，復轉而為氣、為血、為津液，敗濁者在上為汗，在下為尿，以漸分消矣。</p>
<p>總括：</p>
<p>古今議定是脾虛，大抵多從濕熱為。十種根因急調治，宜補宜瀉在臨機。</p>
<p>脈法：</p>
<p>浮大者可治，微細者難醫；實腫原堪療，虛極本難痊。</p>
<p>經曰：至陰者腎水也，少陰者冬脈也。其本在腎，其末在肺，皆積水也。又曰：腎者胃之關，關門不利，故聚水而從其類。朝寬暮急屬陰虛，朝服四物湯加參朮，暮服地黃丸加桂、附、車前子。朝急暮寬屬陽虛，朝用六君子湯，暮服地黃丸加減治之。</p>
<p>加味五皮飲：五加皮　地骨皮　姜皮　茯苓皮　大腹皮　木瓜</p>
<p>一方去五加易桑白。</p>
<p>疏鑿飲子：建澤瀉　大腹皮　茯苓皮　木通　商陸　羌活　椒目　赤小豆</p>
<p>實脾飲：白朮　香附　木香　甘草　肉果　檳榔　茯苓　老薑</p>
<p>二陳湯：陳皮　白朮　半夏　甘草</p>
<p>解表散：麻黃　杏仁　赤茯苓　川芎　防風　枳殼　甘草</p>
<p>商陸丸：商陸　黃連</p>
<p>薑汁和丸，紫蘇湯下</p>
<p>東垣云：寒脹多，熱脹少，皆主乎脾胃。此亦不可不知，毋專於熱。</p>
<p>治腫大法，宜補中行水利小便，以人參、白朮為君，蒼朮、陳皮為佐，黃芩、門冬為使，以制肝木。消腹脹，少加厚朴；氣不運，加木香。</p>

<h1>雜方</h1>
<p>疳積方：酒炒胡黃連　川黃連　銀柴胡　石決明（煅）　炒蘆薈　蕪荑</p>
<p>五疳保童丸：治小兒五疳八痢，諸積勞熱，體瘦柴瘠，好食生物，吐蟲咬牙，胃脘胸腹常痛，面黃目昏，將欲瞎眼，此藥效驗如神，不可輕授他人。</p>
<p>龍膽草（一兩）　雄黃（五錢）　蠶酥頭（炙黃，五錢）　苦楝根（一兩）　五靈脂（三錢）　青黛（四錢）　天仙子（六錢）　夜明沙（淘淨，五錢）　黃連（一兩）　小青皮（醋炒，八錢）　真麝香（一錢）　北五味（二錢）　熊膽（八錢）　鰍鱔頭（煅，三錢）　胡黃連（六錢）　蘆薈（八錢）　上藥共為細末，陳米糊丸如芥子大，每服三十丸，米湯送下。</p>
<p>治痢良法：黃瓜藤灰　榕樹葉灰</p>
<p>砂糖掊服，治紅白痢立效。</p>
<p>治疥瘡方：大楓子肉　煙膏　松香　杏仁　輕粉</p>
<p>用臘油調末。</p>
<p>諸葛行軍散：西牛黃（五錢）　姜粉（五錢）　麝香（三錢）　真珠（三錢）　冰梅片（五錢）　火硝（五錢）　蒲黃（八錢）　金箔（五十張）</p>
<p>共為細末，裝磁瓶內，不可泄氣，每服一匙，神效。</p>
<p>抱龍丸：陳膽星（一兩）　雄黃（水飛，五錢）　麝香（另研，一錢）　天竺黃（一兩）　辰砂（另研，五錢）</p>
<p>又方加羌活五錢，天花粉、殭蠶各二錢。上研細末，煎甘草膏和丸，皂莢子大，溫水化服。百日內小兒每丸分作三四服。如臘月雪水煎，甘草和，最佳。</p>
<p>一法用新汲水浸南星三日後，煎三五沸，取出，乘軟切，去皮，只取白軟者，薄切，焙乾，炒黃色，取末八兩，以甘草一兩五錢，拍破，用水二三盞浸一宿，文火煎至半盞，去渣，漸漸入南星末內，研，令甘草水盡，方再入余藥。</p>
<p>豆蔻香砂丸：消宿食，止嘔逆，除腹痛，療癥瘕，快三焦，利胃膈等症。</p>
<p>白豆蔻　煨木香　花檳榔　砂仁　制香附　廣陳皮　焦楂肉　蓬朮（以上，各三兩）　三稜（二兩）　甘草（一兩）　青皮　神麯　麥芽　白芍（以上各二兩五錢）　藿梗（二兩）　老薑（二兩）</p>
<p>六合定中丸：治暑月感涼，瘧疾霍亂，胸悶噁心，頭疼腹痛，或吐瀉寒熱如虐，以及小兒發熱發搐，吐乳驚悸，一切中土不和等症。</p>
<p>老蘇梗　陳香薷　廣藿香（以上，各四兩）　炒枳殼（三兩）　羌活（二兩）　赤苓（四兩）</p>
<p>加老薑為丸，如龍眼肉大，每服一丸。</p>
<p>疝氣丸：狗吉利（八兩）　上肉桂（三兩）　小茴香（五兩）　葫蘆巴（五兩）　陳香櫞（八兩）　大茴香（五兩）　玉桔梗（三兩）</p>
<p>七灰散：川柏灰　槐米灰　生地炭　云耳灰　荊芥炭　地榆炭　陳棕灰</p>
<p>此方止下焦血，神效。</p>
