<header data-type="book">
<h1>雷公炮炙論</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>雷斆</dd></div>
<div><dt>朝代</dt><dd>南朝·宋</dd></div>
<div><dt>年份</dt><dd><data value="0470">公元470年</data></dd></div>
<div><dt>底本</dt><dd>（唐）慎微《重修政和經史證類備用本草》</dd></div>
</dl>
</header>

<h1>《雷公炮炙論》序</h1>
<p>若夫世人使藥，豈知自有君臣。既辨君臣，寧分相制。只如栨毛（今鹽草也）沾溺，立銷班腫之毒；象膽揮黏，乃知藥有情異。鮭魚插樹，立便乾枯；用狗塗之（以犬膽灌之，插魚處立如故也），卻當榮盛。無名（無名異形似玉柳石，又如石灰，味別）止楚，截指而似去甲毛；聖石開盲，明目而如雲離日。當歸止血、破血，頭尾效各不同（頭止血，尾破血）；蕤子熟生，足睡不眠立據。弊箄淡滷（常使者甑中箄，能淡鹽味），如酒沾交（今蜜枳繳枝，又云交加枝）。鐵遇神砂，如泥似粉；石經鶴糞，化作塵飛；栨見橘，花似髓。斷絃折劍，遇鸞血而如初（以鸞血煉作膠，黏折處，鐵物永不斷）；海竭江枯，投遊波燕子是也。而立泛。令鉛拒火，須仗修天（今呼為補天石）；如要形堅，豈忘紫背（有紫背天葵，如常食葵菜，只是背紫面青，能堅鉛形）；留砒住鼎，全賴宗心（別有宗心草，今呼石竹，不是食者棕恐誤。其草出欻州，生處多蟲獸）。雌得芹花（其草名為立起，其形如芍藥，花色青，可長三尺以來，葉上黃班色，味苦澀，堪用，煮雌黃立住火），立便成庚；硇遇赤須（其草名赤須，今呼為虎鬚草是，用煮硇砂即生火驗），水留金鼎。水中生火，非猾髓而莫能（海中有獸，名曰猾，以髓入在油中，其油黏水，水中火生，不可救之。用酒噴之即烻。勿於屋下收）；長齒生牙，賴雄鼠之骨末（其齒若折，年多不生者，取雄鼠脊骨作末，揩折處，齒立生如故）。發眉墮落，塗半夏而立生（眉發墮落者，以生半夏莖煉之取涎，塗發落處立生）；目闢眼𥍃，（有五花而自正。五加皮是也。其葉有雄雌，三葉為雄，五葉為雌，須使五葉者，作末酒浸飲之，其目𥍃者正）。腳生肉栨，裩系菪根（腳有肉栨者，取莨菪根於裩帶上系之，感應永不痛）；囊皺旋多，夜煎竹木（多小便者，夜煎萆薢一件服之，永不夜起也）。體寒腹大，全賴鸕鷀（若患腹大如鼓，米飲調鸕鷀末服，立枯如故也）；血泛經過，飲調瓜子（甜瓜子內仁搗作末，去油，飲調服之，立絕）。咳逆數數，酒服熟雄（天雄炮過，以酒調一錢匕服，立定也）；遍體疹風，冷調生側（附子旁生者曰側子，作末冷酒服，立瘥也）。腸虛瀉痢，須假草零（搗五倍子作末，以熟水下之，立止也）；久渴心煩，宜投竹瀝。除症去塊，全仗硝硇（硝硇即硇砂、硝石二味，於乳缽中研作粉，同煅了，酒服，神效也）；益食加觴，須煎蘆樸（不食者，並飲酒少者，煎逆水蘆根並厚朴二味湯服）。強筋健骨，須是蓯鱔（蓯蓉並鱔魚二味，作末，以黃精汁丸服之，可力倍常十也，出《乾寧記》宰）；駐色延年，精蒸神錦（出顏色，服黃精自然汁，拌細研神錦，於柳木甑中蒸七日了，以木蜜丸服，顏貌可如幼女之容色也）。知瘡所在，口點陰膠（陰膠即是甑中氣垢，少許於口中，即知臟腑所起，直徹至住處知痛，足可醫也）；產後肌浮，甘皮酒服（產後肌浮，酒服甘皮立愈）。口瘡舌坼，立愈黃蘇（口瘡舌坼，以根黃塗蘇炙作末，含之立瘥）。腦痛欲亡，鼻投硝末（頭痛者，以硝石作末納鼻中，立止）；心痛欲死，速覓延胡（以延胡索作散，酒服之，立愈也）。如斯百種，是藥之功。某忝遇明時，謬看醫理；雖尋聖法，難可窮微。略陳藥餌之功能，豈溺仙人之要術？其製藥炮、熬、煮、炙，不能記年月哉！欲審元由，須看海集。某不量短見，直錄炮、熬、煮、炙，列藥制方，分為上、中、下三卷，有三百件名，具陳於後。</p>

<h1>上卷</h1>

<h2>硃砂</h2>
<p>雷公云：凡使，宜須細認取，諸般尚有百等，不可一一論之。有妙硫砂，如拳許大，或重一鎰，有十四面，面如鏡，若遇陰沉天雨，即鏡面上有紅漿汁出；有梅柏砂，如梅子許大，夜有光生，照見一室；有白庭砂，如帝珠子許大，面上有小星現；有神座砂，又有金座砂、玉座砂，不經丹灶，服之而自延壽命；次有白金砂、澄水砂、陰成砂、辰錦砂、芙蓉砂、鏡面砂、箭鏇砂、曹末砂、土砂、金星砂、平面砂、神末砂，以上不可一一細述也。</p>
<p>夫修事硃砂，先於一靜室內焚香齋沐，然後取砂，以香水浴過了，拭乾，即碎搗之，後向缽中更研三伏時；竟，取一瓷鍋子，著研了砂於內，用甘草、紫背天葵、五方草各銼之，著砂上下，以東流水煮，亦三伏時，勿令水火缺失；時候滿，去三件草，又以東流水淘令淨，干曬，又研如粉；用小瓷瓶子盛，又入青芝草、山須草半兩蓋之，下十斤火煅，從巳至子時方歇，候冷，再研似粉。</p>
<p>如要服，則入熬蜜，丸如細麻子許大，空腹服一丸。如要入藥中用，則依此法。</p>
<p>凡煅，自然住火。</p>
<p>每五兩硃砂，用甘草二兩、紫背天葵一鎰、五方草自然汁一鎰，若東流水，取足。</p>

<h2>雲母</h2>
<p>雷公云：凡使，色黃黑者，厚而頑；赤色者，經婦人手把者，並不中用。須要光瑩如冰色者為上。</p>
<p>凡修事一斤，先用小地膽草、紫背天葵、生甘草、地黃汁各一鎰，乾者細銼，濕者取汁；了，於瓷鍋中安雲母並諸藥了，下天池水三鎰，著火煮七日夜，水火勿令失度，其雲母自然成碧玉漿在鍋底，卻，以天池水猛投其中，將物攪之，浮如蝸涎者即去之；如此三度，淘淨了，取沉香一兩，搗作末，以天池水煎沉香湯三升已來，分為三度；再淘雲母漿了，日中曬，任用之。</p>

<h2>鍾乳</h2>
<p>雷公云：凡使，勿用頭粗厚並尾大者，為孔公石，不用。色黑及經大火驚過，並久在地上收者，曾經藥物制者，並不得用。須要鮮明、薄而有光潤者，似鵝翎筒子為上，有長五、六寸者。</p>
<p>凡修事法：以五香水煮過一伏時，然後漉出；又別用甘草、紫背天葵汁漬，再煮一伏時。凡八兩鍾乳，用沉香、零陵、藿香、甘松、白茅等各一兩，以水先煮過一度了，第二度方用甘草等二味各二兩再煮；了，漉出，拭乾，緩火焙之；然後入臼，杵如粉，篩過，卻，入缽中，令有力少壯者三、兩人，不住研三日夜勿歇；然後用水飛，澄了，以絹籠之，於日中曬令乾；又入缽中研二萬遍後，以瓷合子收貯用之。</p>

<h2>白礬</h2>
<p>雷公云：凡使，須以瓷瓶盛，於火中煅令內外通赤，用鉗揭起蓋，旋安石蜂窠於赤瓶子中，燒蜂窠盡為度；將鉗夾出，放冷，敲碎，入缽中研如粉後，於屋下掘一坑，可深五寸，卻，以紙裹，留坑中一宿，取出，再研。</p>
<p>每修事十兩，用石蜂窠六兩，盡為度。</p>
<p>又云：凡使，要光明如水精，酸、咸、澀味全者，研如粉，於瓷瓶中盛。其瓶盛得三升已來，以六一泥泥，於火畔炙之令乾；置研了白礬於瓶內，用五方草、紫背天葵二味自然汁各一鎰，旋旋添白礬於中，下火逼令藥汁干；用蓋子並瓶口，更以泥泥上，下用火一百斤煅；從巳至未，去火，取白礬瓶出，放冷，敲破，取白礬，搗細，研如輕粉，方用之。</p>
<p>若經大火一煅，色如銀，自然伏火，銖累不失。</p>

<h2>硝石</h2>
<p>雷公云：凡使，先研如粉，以瓷瓶子於五斤火中煅令通赤；用雞腸菜、柏子仁和作一處，分丸如小帝珠子許，待瓶子赤時，投硝石於瓶子內，帝珠子盡為度。其硝石自然伏火。</p>
<p>每四兩硝石，用雞腸菜、柏子仁共十五個。</p>

<h2>芒硝</h2>
<p>雷公云：凡使，先以水飛過，用五重紙滴過，去腳，於鐺中干之，方入乳缽，研如粉任用。</p>
<p>芒硝是朴硝中煉出，形似麥芒者，號曰芒硝。</p>

<h2>滑石</h2>
<p>雷公云：凡使，有多般，勿誤使之。有白滑石、綠滑石、烏滑石、冷滑石、黃滑石。其白滑石如方解石，色白，於石上畫有白膩紋，方使得；滑石綠者，性寒，有毒，不入藥中用；烏滑石似黳色，畫石上有青白膩紋，入用妙也；黃滑石色似金，顆顆圓，畫石上有青黑色者，勿用，殺人；冷滑石青蒼色，畫石上作白膩紋，亦勿用。若滑石色似冰，白青色，畫石上有白膩紋者，真也。</p>
<p>凡使，先以刀刮研如粉，以牡丹皮同煮一伏時；出，去牡丹皮，取滑石，卻用東流水淘過，於日中曬乾方用。</p>

<h2>曾青</h2>
<p>雷公云：凡使，勿用夾石及銅青。</p>
<p>若修事一兩，要紫背天葵、甘草、青芝草三件，干、濕各一鎰，並細銼，放於一瓷堝內，將曾青於中，以東流水二鎰並諸藥等，緩緩煮之，五晝夜，勿令水火失；時足取出，以東流水浴過，卻，入乳缽中研如粉用。</p>

<h2>太一禹餘糧</h2>
<p>雷公云：凡使，勿誤用石中黃並卵石黃，此二名石真似太一禹餘糧也。其石中黃向里赤黑黃，味淡微跙。卵石黃味酸，個個如卵，內有子一塊，不堪用也。若誤餌之，令人腸干。太一禹餘糧，看即如石，輕敲便碎，可如粉也；兼重重如葉子雌黃，此能益脾，安臟氣。</p>
<p>凡修事四兩，先用黑豆五合，黃精五合，水二斗，煮取五升；置於瓷堝中，下太一禹餘糧，著火煮，旋添，汁盡為度；其藥氣自然香如新米，搗了，又研一萬杵方用。</p>

<h2>黃石脂</h2>
<p>雷公云：凡使，須研如粉，用新汲水投於器中，攪不住手，了，傾作一盆，如此飛過三度，澄者去之，取飛過者，任入藥中使用。</p>
<p>服之，不問多少，不得食卵味。</p>

<h2>黃精</h2>
<p>雷公云：凡使，勿用鉤吻，真似黃精，只是葉有毛鉤子二個，是別認處。若誤服，害人。黃精葉似竹葉。</p>
<p>凡採得，以溪水洗淨後，蒸，從巳至子，刀薄切，曝乾用。</p>

<h2>菖蒲</h2>
<p>雷公云：凡使，勿用泥菖、夏菖，其二件相似，如竹根鞭，形黑、氣穢、味腥，不堪用。凡使，採石上生者，根條嫩黃、緊硬、節稠、長一寸有九節者，是真也。</p>
<p>凡採得後，用銅刀刮上黃黑硬節皮一重了，用嫩桑枝條相拌蒸，出，曝乾，去桑條，銼用。</p>

<h2>人參</h2>
<p>雷公云：凡使，要肥大，塊如雞腿並似人形者。</p>
<p>凡採得，陰乾，去四邊蘆頭並黑者，銼入藥中。</p>
<p>夏中少使，發心痃之患也。</p>

<h2>天門冬</h2>
<p>雷公云：凡使，採得了，去上皮一重，便劈破，去心。用柳木甑燒柳木柴蒸一伏時，灑酒令遍，更添火蒸；出，曝，去地二尺已來作小架，上鋪天門葉，將蒸了天門冬攤令乾用。</p>

<h2>甘草</h2>
<p>雷公云：凡使，須去頭、尾尖處。其頭、尾吐人。</p>
<p>凡修事，每斤皆長三寸銼，劈破作六、七片，使瓷器中盛，用酒浸蒸，從巳至午，出，曝乾，細銼。</p>
<p>使一斤，用酥七兩塗上，炙酥盡為度。</p>
<p>又，先炮令內外赤黃用良。</p>

<h2>乾地黃</h2>
<p>雷公云：凡使，採生地黃，去白皮，瓷堝上柳木甑蒸之，攤令氣歇，拌酒再蒸，又出令乾。</p>
<p>勿令犯銅、鐵器，令人腎消，並白髭發，男損榮，女損衛也。</p>

<h2>菟絲子</h2>
<p>雷公云：凡使，勿用天碧草子，其樣真相似，只是天碧草子味酸澀並黏，不入藥用。其菟絲子稟中和凝正陽氣受結，偏補人衛氣，助人筋脈，一莖從樹感枝成，又從中春上陽結實，其氣大小，受七鎰二兩。</p>
<p>凡修事，全採得，出粗薄殼，了，用苦酒浸二日，漉出，用黃精自然汁浸一宿，至明，微用火煎至干，入臼中，熱燒鐵杵，一去三千餘杵，成粉用。</p>
<p>苦酒並黃精自然汁與菟絲子相對用之。</p>

<h2>牛膝</h2>
<p>雷公云：凡使，去頭並塵土，了，用黃精自然汁浸一宿，漉出，細銼，焙乾用之。</p>

<h2>葳蕤</h2>
<p>雷公云：凡使，勿用鉤吻並黃精，其二物相似葳蕤，只是不同，有誤疾人。葳蕤節上有毛，莖斑，葉尖處有小黃點。</p>
<p>凡修事，採得，先用竹刀刮上節皮，了，洗淨，卻，以蜜水浸一宿，蒸，了，焙乾用。</p>

<h2>防葵</h2>
<p>雷公云：凡使，勿誤用狼毒，緣真似防葵，而驗之有異，效又不同，切須審之，恐誤疾人。其防葵在蔡州沙土中生，採得二十日便蚛，用之唯輕為妙。</p>
<p>凡欲使，先須揀去蚛末，後用甘草湯浸一宿，漉出，曝乾，用黃精自然汁一、二升拌，了，土器中炒令黃精汁盡。</p>

<h2>柴胡</h2>
<p>雷公云：凡使，莖長軟、皮赤、黃髭鬚。出在平州平縣，即今銀州銀縣也。西畔生處，多有白鶴、綠鶴於此翔處，是柴胡香直上云間，若有過往聞者，皆氣爽。</p>
<p>凡採得後，去髭並頭，用銀刀削上赤薄皮少許，卻，以粗布拭了，細銼用之。</p>
<p>勿令犯火，立便無效也。</p>

<h2>獨活</h2>
<p>雷公云：凡使，採得後，細銼，拌淫羊藿，裛二日後，曝乾，去淫羊藿用。免煩人心。</p>

<h2>升麻</h2>
<p>雷公云：凡使，採得了，刀刮上粗皮一重了，用黃精自然汁浸一宿，出，曝乾，細銼，蒸，了，曝乾用之。</p>

<h2>車前草</h2>
<p>雷公云：凡使，須一窠有九葉，內有蕊莖，可長一尺二寸者。和蕊、葉、根，去土了，稱有一鎰者，力全，堪用。使葉，勿使蕊莖。</p>
<p>夫使葉，銼，於新瓦上攤乾用之。</p>

<h2>木香</h2>
<p>雷公云：凡使，其香是蘆蔓根條，左盤旋。採得二十九日，方硬如朽骨，硬碎。其有蘆頭丁蓋子色青者，是木香神也。</p>

<h2>薯蕷</h2>
<p>雷公云：凡使，勿用平田生二、三紀內者，要經十紀者，山中生，皮赤，四面有髭生者妙。</p>
<p>若採得，用銅刀削去上赤皮，洗去涎，蒸用。</p>

<h2>薏苡仁</h2>
<p>雷公云：凡使，勿用𥽇米，顆大無味。其𥽇米，時人呼為粳𥽇是也。若薏苡仁，顆小、色青、味甘，咬著黏人齒。</p>
<p>夫用一兩，以糯米二兩同熬，令糯米熟，去糯米取使。</p>
<p>若更以鹽湯煮過，別是一般修制，亦得。</p>

<h2>澤瀉</h2>
<p>雷公云：凡使，不計多少，細銼，酒浸一宿，漉出，曝乾，任用也。</p>

<h2>遠志</h2>
<p>雷公云：遠志凡使，先須去心，若不去心，服之令人悶。去心了，用熟甘草湯浸一宿，漉出，曝乾用之也。</p>

<h2>龍膽</h2>
<p>雷公云：凡使，採得後，陰乾。欲使時，用銅刀切去髭、土、頭，了，銼，於甘草湯中浸一宿，至明漉出，曝乾用。</p>
<p>勿空腹餌之，令人溺不禁。</p>

<h2>細辛</h2>
<p>雷公云：凡使，一一揀去雙葉，服之害人。須去頭、土，了，用瓜水浸一宿，至明漉出，曝乾用之。</p>

<h2>石斛</h2>
<p>雷公云：凡使，先去頭、土，了，用酒浸一宿，漉出，於日中曝乾，卻，用酥蒸，從巳至酉，卻，徐徐焙乾用。</p>
<p>石斛鎖涎，澀丈夫元氣。如斯修事，服滿一鎰，永無骨痛。</p>

<h2>巴戟天</h2>
<p>雷公云：凡使，須用枸杞子湯浸一宿，待稍軟，漉出，卻，用酒浸一伏時，又漉出，用菊花同熬，令焦黃，去菊花，用布拭令乾用。</p>

<h2>黃連</h2>
<p>雷公云：凡使，以布拭上肉毛，然後用漿水浸二伏時，漉出，於柳木火中焙乾用。</p>
<p>若服此藥得十兩，不得食豬肉；若服至三年，不得食豬肉一生也。</p>

<h2>絡石</h2>
<p>雷公云：凡採得後，用粗布揩葉上、莖蔓上毛，了，用熟甘草水浸一伏時，出，切，日乾任用。</p>

<h2>蒺藜子</h2>
<p>雷公云：凡使，採後，淨揀擇了，蒸，從午至酉，出，日乾，於木臼中，舂令皮上刺盡，用酒拌，再蒸，從午至酉，出，日乾用。</p>

<h2>黃耆</h2>
<p>雷公云：凡使，勿用木耆草，真相似，只是生時葉短並根橫。</p>
<p>凡修事，先須去頭上皺皮，了，蒸半日，出，後用手擘令細，於槐砧上銼用。</p>

<h2>肉蓯蓉</h2>
<p>雷公云：凡使，先須用清酒浸一宿，至明，以棕刷刷去沙土、浮甲盡，劈破中心，去白膜一重，如竹絲草樣是，此偏隔人心前氣不散，令人上氣不出。</p>
<p>凡使用，先須酒浸，並刷草了，卻，蒸，從午至酉，出，又用酥炙得所。</p>

<h2>蒲黃</h2>
<p>雷公云：凡使，勿用松黃並黃蒿。其二件全似，只是味跙及吐人。</p>
<p>凡欲使蒲黃，須隔三重紙焙令色黃，蒸半日，卻，焙令乾用之妙。</p>

<h2>續斷</h2>
<p>雷公云：凡使，勿用草茆根，緣真似續斷，若誤用，服之令人筋軟。</p>
<p>凡採得後，橫切，銼之，又去向里硬筋，了，用酒浸一伏時，焙乾用。</p>

<h2>漏蘆</h2>
<p>雷公云：凡使，勿用獨漏，緣似漏蘆，只是味苦、酸。誤服，令人吐不止，須細驗。</p>
<p>夫使漏蘆，細銼，拌生甘草相對蒸，從巳至申，去甘草，淨揀用。</p>

<h2>營實</h2>
<p>雷公云：今薔薇也。</p>
<p>凡採得，去根，並用粗布拭黃毛，了，用刀於槐砧上細銼，用漿水拌令濕，蒸一宿至明，出，日乾用。</p>

<h2>茜根</h2>
<p>雷公云：凡使，勿用赤柳草根，真似茜根，只是味酸澀，不入藥中用。若服，令人患內障眼，速服甘草水解之，即毒氣散。</p>
<p>凡使茜根，用銅刀於槐砧上銼，日乾。</p>
<p>勿犯鐵並鉛。</p>

<h2>飛廉</h2>
<p>雷公云：凡使，勿用赤脂蔓，與飛廉形狀相似，只赤脂蔓見酒，色使如血，色可表之。</p>
<p>凡修事，先刮去粗皮，了，杵，用苦酒拌之一夜，至明漉出，日乾，細杵用之。</p>

<h2>五味子</h2>
<p>雷公云：凡小顆、皮皺泡者，有白撲鹽霜一重，其味酸、咸、苦、辛、甘，味全者，真也。</p>
<p>凡用，以銅刀劈作兩片，用蜜浸蒸，從巳至申，卻，以漿水浸一宿，焙乾用。</p>

<h2>大澤蘭</h2>
<p>雷公云：凡使，須要識別雄、雌，其形不同。大澤蘭形葉皆圓，根青黃，能生血、調氣、養榮合；小澤蘭迥別，採得後，看，葉上斑，根鬚尖，此藥能破血，通久積。</p>
<p>凡修事大澤蘭，須細銼之，用絹袋盛，懸於屋南畔角上，令乾用。</p>

<h2>蛇床子</h2>
<p>雷公云：凡使，須用濃蘭汁、並百部草根自然汁二味，同浸三伏時，漉出，日乾。卻，用生地黃汁相拌蒸，從午至亥，日乾用。</p>
<p>此藥只令陽氣盛數，號曰鬼考也。</p>

<h2>茵陳蒿</h2>
<p>雷公云：凡使，須用葉有八角者。</p>
<p>凡修事，採得，陰乾，去根，細銼用。</p>
<p>勿令犯火。</p>

<h2>杜若</h2>
<p>雷公云：凡使，勿用鴨喋草根，真相似，只是味、效不同。</p>
<p>凡修事，採得後，刀刮上黃赤皮，了，細銼，用二、三重絹作袋盛，陰乾。臨使，以蜜浸一夜，至明漉出用。</p>

<h2>徐長卿</h2>
<p>雷公云：凡採得，粗杵，拌少蜜令遍，用瓷器盛，蒸三伏時，日乾用。</p>

<h2>雲實</h2>
<p>雷公云：凡使，採得後，粗搗，相對拌渾顆豫實，蒸一日後，出，用。</p>

<h2>王不留行</h2>
<p>雷公云：凡採得，拌渾蒸，從巳至未，出，卻，下漿水浸一宿，至明出，焙乾用之。</p>

<h2>鬼督郵</h2>
<p>雷公云：凡採，並細銼，了，搗，用生甘草水煮一伏時，漉出用也。</p>

<h2>白花藤</h2>
<p>雷公云：凡使，勿用菜花藤，緣真似白花藤，只是味不同，菜花藤酸澀，不堪用。其白花藤味甘香。</p>
<p>凡採得後，去根，細銼，陰乾用之。</p>

<h2>紫桂</h2>
<p>雷公云：凡使，勿薄者，要紫色、厚者，去上粗皮，取心中味辛者使。每斤大厚紫桂，只取得五兩。取有味厚處，生用；如末用，即用重密熟絹並紙裹，勿令犯風。其州土只有桂草，元無桂心。用桂草煮丹陽木皮，遂成桂心。</p>
<p>凡使，即單搗用之。</p>

<h2>槐實</h2>
<p>雷公云：凡採得後，去單子並五子者，只取兩子、三子者。</p>
<p>凡使，用銅錘捶之令破，用烏牛乳浸一宿，蒸過用。</p>

<h2>枸杞根</h2>
<p>雷公云：凡使根，掘得後，使東流水浸，以物刷上土，了，然後待乾，破去心，用熟甘草湯浸一宿，然後焙乾用。</p>
<p>其根若似物命形狀者上。</p>
<p>春食葉，夏食子，秋、冬食根並子也。</p>

<h2>柏子仁</h2>
<p>雷公云：凡使，先以酒浸一宿，至明漉出，曬乾，卻，用黃精自然汁於日中煎，手不住攪。若天久陰，即於鐺中著水，用瓶器盛柏子仁，著火緩緩煮成煎為度。</p>
<p>每煎三兩柏子仁，用酒五兩，浸干為度。</p>

<h2>側柏葉</h2>
<p>雷公云：凡使，勿用花柏葉並叢柏葉。有子圓葉，其有子圓葉成片，如大片雲母，葉葉皆側，葉上有微赤毛。若花柏葉，其樹濃葉成朵，無子；叢柏葉，其樹綠色，不入藥中用。</p>
<p>若修事一斤，先揀去兩畔並心枝了，用糯泔浸七日後，漉出，用酒拌蒸一伏時，卻，用黃精自然汁浸了，焙乾，又浸又焙，待黃精汁幹盡，然後用之。</p>
<p>如修事一斤，用黃精自然汁十二兩。</p>

<h2>茯苓</h2>
<p>雷公云：凡採得後，去皮、心、神，了，搗令細，於水盆中攪令濁，浮者去之，是茯苓筋，若誤服之，令人眼中童子並黑睛點小，兼盲目，甚記之。</p>

<h2>琥珀</h2>
<p>雷公云：凡用，紅松脂、石珀、水珀、花珀、物象珀、瑿珀、琥珀。紅松脂如琥珀，只是濁，太脆，文撗；水珀多無紅，色如淺黃，多粗皮皺；石珀如石重，色黃，不堪用；花珀文似新馬尾松心文，一路赤，一路黃；物象珀其內自有物命動，此使有神妙；瑿珀，其珀是眾珀之長，故號曰瑿珀；琥珀如血色，熟於布上拭，吸得芥子者，真也。</p>
<p>夫入藥中用，水調側柏子末安於瓷鍋子中，安琥珀於末中，了，下火煮，從巳至申，別有異光，別搗如粉，重篩用。</p>

<h2>酸棗仁</h2>
<p>雷公云：酸棗仁凡使，採得後，曬乾，取葉重拌酸棗仁蒸半日，了，去尖、皮，了，任研用。</p>

<h2>柏木</h2>
<p>雷公云：凡使，用刀削上粗皮，了，用生蜜水浸半日，漉出，曬乾，用蜜塗，文武火炙令蜜盡為度。</p>
<p>凡修事五兩，用蜜三兩。</p>

<h2>楮實</h2>
<p>雷公云：凡使，採得後，用水浸三日，將物攪旋，投水，浮者去之。然後曬乾，卻用酒浸一伏時，了，便蒸，從巳至亥，出，焙令乾用。</p>

<h2>五花皮</h2>
<p>雷公云：今五加皮，其樹本是白楸樹。其上有葉如蒲葉者，其葉三花是雄，五葉花是雌。</p>
<p>凡使，剝皮，陰乾。</p>
<p>陽人使陰，陰人使陽。</p>

<h2>蔓荊實</h2>
<p>雷公云：凡使，去蒂子下白膜一重，用酒浸一伏時後，蒸，從巳至未，出，曬乾用。</p>

<h2>辛夷</h2>
<p>雷公云：凡用之，去粗皮，拭上赤肉毛，了，即以芭蕉水浸一宿，漉出，用漿水煮，從巳至未，出，焙乾用。</p>
<p>若治眼目中患，即一時去皮，用向裡實者。</p>

<h2>桑上寄生</h2>
<p>雷公云：凡使，在樹上，自然生獨枝樹是也。</p>
<p>凡修事，採得後，用銅刀和根、枝、莖細銼，陰乾了，任用。</p>
<p>勿令見火。</p>

<h2>杜仲</h2>
<p>雷公云：凡使，先須削去粗皮，用酥、蜜和作一處，炙之盡為度；炙乾了，細銼用。</p>
<p>凡修事一斤，酥二兩，蜜三兩，二味相和，令一處用也。</p>

<h2>蕤仁</h2>
<p>雷公云：凡使，先湯浸，去皮、尖，擘作兩片。用芒硝、木通草二味，和蕤仁同水煮一伏時後，瀝出，去諸般藥，取蕤仁研成膏，任加減入藥中使。</p>
<p>每修事四兩，用芒硝一兩，木通草七兩。</p>

<h2>丁香</h2>
<p>雷公云：凡使，有雄、雌。雄顆小，雌顆大，似檈棗核。方中多使雌，力大；膏煎中用雄。</p>
<p>若欲使雄，須去丁，蓋乳子發人背癰也。</p>

<h2>沉香</h2>
<p>雷公云：沉香凡使，須要不枯者，如觜角硬重、沉於水下為上也；半沉者，次也。</p>
<p>夫入丸散中用，須候眾藥出，即入，拌和用之。</p>

<h2>金櫻子</h2>
<p>雷公云：林檎向裡子，名金櫻子，與此同名而已。醫方中亦用林檎子者。</p>

<h2>發髲</h2>
<p>雷公云：凡使之，是男子，年可二十已來，無疾患，顏貌紅白，於頂心剪下者發是。</p>
<p>凡於丸散膏中，先用苦參水浸一宿，漉出，入瓶子，以火煅之，令通赤，放冷，研用。</p>

<h2>龍骨</h2>
<p>雷公云：剡州生者，倉州、太原者上。其骨細、文廣者，是雌；骨粗、文狹者，是雄。骨五色者上，白色者中，黑色者次，黃色者稍得。經落不淨之處不用，婦人採得者不用。</p>
<p>夫使，先以香草煎湯浴過兩度，搗研如粉，用絹袋子盛粉末；了，以燕子一隻，擘破腹，去腸，安骨末袋於燕腹內，懸於井面上一宿；至明，去燕子並袋子，取骨粉重研萬下，其效神妙。</p>
<p>但是，丈夫服，空心。益腎藥中安置，圖龍骨氣入腎臟中也。</p>

<h2>麝香</h2>
<p>雷公云：凡使，多有偽者，不如不用。其香有三等：一者名遺香，是麝子臍閉滿，其麝自於石上，用蹄尖彈臍，落處一里草木不生，並焦黃；人若收得此香，價與明珠同也。二名膝香，採得甚堪用。三名心結香，被大獸驚心破了，因茲狂走，雜諸群中，遂亂投水，被人收得。擘破見心流在脾上，結作一大幹血塊，可隔山澗早聞之香，是香中之次也。</p>
<p>凡使麝香，並用，子日開之，不用苦細，研篩用之也。</p>

<h2>牛黃</h2>
<p>雷公云：凡使，有四件：第一是生神黃，賺得者；次有角黃，是取之者；又有心黃，是病死後識者剝之，擘破取心，其黃在心中，如濃黃醬汁，採得便投於水中，黃沾水復硬，如碎蒺藜子許、如豆者、硬如帝珠子；次有肝黃，其牛身上光，眼如血色，多玩弄，好照水，自有夜光，恐懼人，或有人別採之，可有神妙之事。</p>
<p>凡用，須先單搗，細研如塵，卻，絹裹，又用黃嫩牛皮裹，安於井面上，去水三、四尺已來，一宿至明，方取用之。</p>

<h2>熊脂</h2>
<p>雷公云：凡收得後，煉過，就器中安生椒，每一斤熊脂，入生椒十四個，煉了，去脂革並椒，入瓶中收，任用。</p>

<h2>象膽</h2>
<p>雷公云：凡使，勿用雜膽。其象膽幹了，上有青竹紋斑，並光膩，微微甘。</p>
<p>凡用，勿便和眾藥搗，此藥先搗成粉，待眾藥末出，然後入藥中。</p>
<p>此物是胡人殺得白象取膽，干，入漢中是。</p>

<h2>鹿角膠</h2>
<p>雷公云：凡使，採得鹿角了，須全戴者，並長三寸鋸解之，以物盛，於急水中浸之；一百日滿出，用刀削去粗皮一重，了，以物拭水垢令淨；然後用鹼醋煮七日，旋旋添醋，勿令火歇，戌時不用著火，只從子時至戌時也；日足，其角白色軟如粉，即細搗作粉；卻，以無灰酒煮其膠，陰乾，削了，重研，篩過用。</p>
<p>每修事十兩，以無灰酒一鎰，煎乾為度也。</p>

<h2>阿膠</h2>
<p>雷公云：凡使，先於豬脂內浸一宿；至明出，於柳木火上炙，待泡了，細碾用。</p>

<h2>醍醐</h2>
<p>雷公云：是酪之漿。</p>
<p>凡用，以綿重濾過，於銅器中沸三、兩沸了用。</p>

<h2>雞子</h2>
<p>雷公云：雞子，凡急切要用，勿便敲損，恐得二十一日滿，在內成形，空打損後無用。</p>
<p>若要用，先於溫湯中試之。若動，是成形也；若不動，即敲損，取清者用，黃即去之。</p>
<p>內有自潰者，亦不用也。</p>

<h2>石蜜</h2>
<p>雷公云：凡煉蜜一斤，只得十二兩半或一分是數。若火少、火過，並用不得。</p>

<h2>牡蠣</h2>
<p>雷公云：有石牡蠣、石魚蠣、真海牡蠣。石牡蠣者，頭邊背大，小甲沙石，真似牡蠣，只是圓如龜殼；海牡蠣使得，只是丈夫不得服，令人無髭；真牡蠣，火煅白炮，並用瑿試之，隨手走起，可認真是。萬年珀，號曰瑿，用之妙。</p>
<p>凡修事，先用二十個，東流水，鹽一兩，煮一伏時；後，入火中燒令通赤；然後入缽中研如粉用也。</p>

<h2>真珠</h2>
<p>雷公云：凡使，須取新淨者，以絹袋盛之；然後用地榆、五花皮、五方草三味各四兩，細銼，了，又以牡蠣約重四、五斤已來，先置於平底鐺中，以物四向搘令穩，然後著真珠於上，了，方下銼了三件藥，籠之，以漿水煮三日夜，勿令火歇；日滿出之，用甘草湯淘之令淨後，於臼中搗令細，以絹羅重重篩過，卻，更研二萬下了用。</p>
<p>凡使，要不傷破及鑽透者，方可用也。</p>

<h2>桑螵蛸</h2>
<p>雷公云：凡使，勿用諸雜樹上生者螺螺，不入藥中用。凡採覓，須桑樹東畔枝上者。</p>
<p>凡採得，去核子，用沸漿水浸淘七遍，令水遍沸，於瓷鍋中熬令乾用。</p>
<p>勿亂別修事，卻無效也。</p>

<h2>石決明</h2>
<p>雷公云：凡使，即是真珠母也。先去上粗皮，用鹽並東流水於大瓷器中煮一伏時；了，漉出，拭乾，搗為末，研如粉；卻，入鍋子中，再用五花皮、地榆、阿膠三件，更用東流水於瓷器中，如此淘之三度；待乾，再研一萬匝，方入藥中用。</p>
<p>凡修事五兩，以鹽半分取則，第二度煮，用地榆、五花皮、阿膠各十兩。</p>
<p>服之十兩，永不得食山桃，令人喪目也。</p>

<h2>海蛤</h2>
<p>雷公云：凡使，勿用遊波蕈骨。其蟲骨真似海蛤，只是無面上光。其蟲骨誤餌之，令人狂走擬投水，時人為之犯鬼心狂，並不是緣，曾誤餌此蟲骨。若服著，只以醋解之，立瘥。</p>
<p>凡修事一兩，於漿水中煮一伏時；後卻以地骨皮、柏葉二味又煮一伏時；後出，於東流水中淘三遍；拭乾，細搗，研如粉，然後用。</p>
<p>凡一兩，用地骨皮、柏葉各二兩，並細銼，以東流水淘取用之。</p>

<h2>猾髓</h2>
<p>雷公云：水中生火，非猾髓而莫能。海中有獸，名曰猾，以髓入在油中，其油沾水，水中生火，不可救之，用酒噴之即烻。</p>
<p>勿於屋下收。</p>

<h2>草豆蔻</h2>
<p>雷公云：凡使，須去蒂並向裡子後，取皮，用茱萸同於鏊上緩炒，待茱萸微黃黑，即去茱萸，取草豆蔻皮及子，杵用之。</p>

<h2>橘皮</h2>
<p>雷公云：凡使，勿用柚皮、皺子皮，其二件用不得。</p>
<p>凡修事，須去白膜一重，細銼，用鯉魚皮裹一宿，至明，出，用。</p>
<p>其橘皮，年深者最妙。</p>

<h2>覆盆子</h2>
<p>雷公云：凡使，用東流水淘去黃葉並皮、蒂，盡了，用酒蒸一宿，以東流水淘兩遍，又曬乾方用為妙也。</p>

<h2>巨勝</h2>
<p>雷公云：凡使，有四件。八稜者，兩頭尖、色紫黑者，又呼胡麻，並是誤也；其巨勝有七稜，色赤、味澀酸是真；又呼烏油麻，作巨勝，亦誤。</p>
<p>若修事一斤，先以水淘，浮者去之，沉者漉出，令乾，以酒拌蒸，從巳至亥，出，攤曬乾；於臼中，舂令粗皮一重盡；拌小豆相對同炒，小豆熟即出，去小豆用之。上有薄皮，去、留用，力在皮殼也。</p>

<h2>瓜蒂</h2>
<p>雷公云：凡使，勿用白瓜蒂，要採取青綠色瓜，待瓜氣足，其瓜蒂自然落在蔓莖上。</p>
<p>夫採得，未用時，使榔榔葉裹，於東牆有風處掛令吹乾用。</p>

<h2>瓜子</h2>
<p>雷公云：瓜子凡使，勿用瓜子實，恐誤。</p>
<p>夫採得後，便於日中曝令內外干，便杵，用馬尾篩篩過，成粉末了用。</p>

<h2>瓜子霜</h2>
<p>雷公云：瓜子其藥不出油，其效力短。若要出油，生杵作膏，用三重紙裹，用重物復壓之，取無油用。</p>

<h1>中卷</h1>

<h2>雄黃</h2>
<p>雷公云：凡使，勿用黑雞黃、自死黃、夾膩黃。其臭黃真似雄黃，只是臭，不堪用，時人以醋洗之三，兩度便無臭氣，勿誤用也；次有夾膩黃，亦似雄黃，其內一重黃，一重石，不堪用；次有黑雞黃，亦似雄黃，如烏雞頭上冠也。凡使，要似鷓鴣鳥肝色為上。</p>
<p>凡修事，先以甘草、紫背天葵、地膽、碧稜花四件，並細銼，每件各五兩，雄黃三兩，下東流水入垍堝中，煮三伏時；漉出，搗如粉，水飛，澄去黑者，曬乾再研，方入藥用。</p>
<p>其內有劫鐵石，是雄黃中有，又號赴矢黃，能劫於鐵，並不入藥用。</p>

<h2>硫黃</h2>
<p>雷公云：凡使，勿用青赤色及半白半青、半赤半黑者。自有黃色，內瑩淨似物命者，貴也。</p>
<p>凡用，四兩，先以龍尾蒿自然汁一鎰、東流水三鎰、紫背天葵汁一鎰、粟遂子莖汁一鎰，四件合之，攪令勻一，垍堝用六一泥固濟底下，將硫黃碎之，入於堝中，以前件藥汁旋旋添入，火煮之，汁盡為度；了，再以百部末十兩、柳蚛末二斤、一簇草二斤，細銼之，以東流水並藥等，同煮硫黃二伏時；日滿，去諸藥，取出，用熟甘草湯洗了，入缽中研二萬幣方用。</p>

<h2>雌黃</h2>
<p>雷公云：凡使，勿誤用夾石黃、黑黃、珀熟等。雌黃一塊重四兩。按《乾寧記》云：指開，拆得千重，軟如爛金者上。凡修事，勿令婦人、雞、犬、新犯淫人、有患人、不男人、非形人，曾是刑獄地臭穢，以上並忌，若犯觸者，雌黃黑如鐵，不堪用也，及損人壽。</p>
<p>凡修事四兩，用天碧枝、和陽草、粟遂子草各五兩，三件，干，濕加一倍用，瓷堝子中煮三伏時；了，其色如金汁一垛在堝底下，用東流水猛投於中，如此淘三度；了，去水，取出，拭乾；卻，於臼中搗、篩過，研如塵可用之。</p>

<h2>水銀</h2>
<p>雷公云：凡使，勿用草中取者、並舊朱漆中者、勿用經別藥制過者、勿用在屍過者、半生半死者。其水銀若在硃砂中產出者，其水銀色微紅，收得後用胡蘆收之，免遺失。若先以紫背天葵並夜交藤自然汁二味，同煮一伏時，其毒自退。</p>
<p>若修十兩，用前二味汁各七鎰和合，煮足為度。</p>

<h2>石膏</h2>
<p>雷公云：凡使，勿用方解石。方解石雖白，不透明，其性燥。若石膏，出剡州茗山縣義情山，其色瑩淨如水精，性良善也。</p>
<p>凡使之，先於石臼中搗成粉，以夾物羅過，生甘草水飛過了，水盡令乾，重研用之。</p>

<h2>生銀</h2>
<p>雷公云：銀氣凡使，在藥中用時，即渾安置於藥中，借氣生藥力而已。</p>
<p>勿誤入藥中用，消人脂也。</p>

<h2>鐵</h2>
<p>雷公云：鐵氣凡使，在藥中用時，即渾安置於藥中，借氣生藥力而已。</p>
<p>勿誤入藥中用，消人脂也。</p>

<h2>金</h2>
<p>雷公云：金氣凡使，在藥中用時，即渾安置於藥中，借氣生藥力而已。</p>
<p>勿誤入藥中用，消人脂也。</p>

<h2>磁石</h2>
<p>雷公云：凡使，勿誤用玄中石並中麻石。此石之二真相似磁石，只是吸鐵不得。中麻石心有赤，皮粗，是鐵山石也。誤服之，令人有惡瘡，不可療。夫欲驗者，一斤磁石，四面只吸鐵一斤者，此名延年沙；四面只吸得鐵八兩者，號曰續未石；四面只吸得五兩已來者，號曰磁石。</p>
<p>若夫修事一斤，用五花皮一鎰、地榆一鎰、故綿十五兩，三件並細銼，以捶於石上碎作二、三十塊，了，將磁石於瓷瓶子中，下草藥，以東流水煮三日夜，然後漉出，拭乾，以布裹之，向大石上再捶令細了，卻，入乳缽中研細如塵，以水沉飛過了，又研如粉用之。</p>

<h2>凝水石</h2>
<p>雷公云：凡使，先須用生薑自然汁煮，汁盡為度，研成粉用。</p>
<p>每修十兩，用薑汁一鎰。</p>

<h2>密陀僧</h2>
<p>雷公云：時呼密陀僧。</p>
<p>凡使，搗令細，於瓷堝中安置，了，用重紙袋盛柳蚛末焙，密陀僧堝中，次下東流水浸令滿，著火煮一伏時，足，去柳末、紙袋，取蜜陀僧用。</p>

<h2>葈耳實</h2>
<p>雷公云：凡採得，去心，取黃精，用竹刀細切拌之，同蒸，從巳至亥，去黃精，取出，陰乾用。</p>

<h2>栝蔞</h2>
<p>雷公云：栝蔞凡使，皮、子、莖、根，效各別。其栝並蔞，樣全別。若栝，自圓黃、皮厚、蒂小；若蔞，唯形長，赤皮、蒂粗，是陰人服。</p>
<p>若修事，去上殼皮革膜並油了。</p>

<h2>栝蔞根</h2>
<p>雷公云：栝蔞使根，待構二、三圍，去皮，細搗，作煎，攪取汁，冷飲，任用也。</p>

<h2>苦參</h2>
<p>雷公云：凡使，不計多少，先須用糯米濃泔汁浸一宿，上有腥穢氣，並在水面上浮，並須重重淘過，即蒸，從巳至申，出，曬乾，細銼用之。</p>

<h2>當歸</h2>
<p>雷公云：凡使，先去塵並頭尖硬處一分已來，酒浸一宿。</p>
<p>若要破血，即使頭一節硬實處；若要止痛、止血，即用尾；若一時用，不如不使，服食無效，單使妙也。</p>

<h2>麻黃</h2>
<p>雷公云：凡使，去節並沫，若不盡，服之令人悶。</p>
<p>凡修事，用夾刀剪去節並頭，槐砧上用銅刀細銼，煎三、四十沸，竹片掠去上沫盡，漉出，曬乾用之。</p>

<h2>芍藥</h2>
<p>雷公云：凡採得後，於日中曬乾，以竹刀刮上粗皮並頭土了，銼之，將蜜水拌蒸，從巳至未，曬乾用之。</p>

<h2>瞿麥</h2>
<p>雷公云：凡使，只用蕊殼，不用莖葉。若一時使，即空心，令人氣咽，小便不禁。</p>
<p>凡欲用，先須以堇竹瀝浸一伏時，漉出，曬乾用。</p>

<h2>玄參</h2>
<p>雷公云：凡採得後，須用蒲草重重相隔，入甑蒸兩伏時後出，干曬，揀去蒲草盡了用之。</p>
<p>使用時，勿令犯銅，餌之後噎人喉，喪人目。</p>

<h2>秦艽</h2>
<p>雷公云：凡使，秦並艽，須於腳文處認取。左文列為秦，即治疾；艽即髮腳氣。</p>
<p>凡用秦，先以布拭上黃肉毛盡，然後用還元湯浸一宿，至明出，日乾用。</p>

<h2>知母</h2>
<p>雷公云：凡使，先於槐砧上細銼，焙乾，木臼杵搗。</p>
<p>勿令犯鐵器。</p>

<h2>貝母</h2>
<p>雷公云：凡使，先於柳木灰中炮令黃，擘破，去內口鼻上有米許大者心一小顆，後拌糯米於鏊上同炒，待米黃熟，然後去米，取出。</p>
<p>其中有獨顆團、不作兩片、無皺者，號曰丹龍精，不入用。若誤服，令人筋脈永不收，用黃精、小藍汁合服，立愈。</p>

<h2>白芷</h2>
<p>雷公云：凡採得後，勿用四條作一處生者，此名喪公藤。兼勿用馬藺，並不入藥中。</p>
<p>凡使，採得後，刮削上皮，細銼，用黃精亦細銼，以竹刀切二味等分，兩度蒸一伏時後，出，於日中曬乾，去黃精用之。</p>

<h2>淫羊藿</h2>
<p>雷公云：凡使，時呼仙靈脾，須用夾刀夾去葉四畔花栨盡後，細銼，用羊脂相對拌炒過，待羊脂盡為度。</p>
<p>每修事一斤，用羊脂四兩為度也。</p>

<h2>狗脊</h2>
<p>雷公云：凡使，勿用透山藤，其大朗根與透山藤一般，只是入頂苦，不可餌之。</p>
<p>凡修事，細銼了，酒拌蒸，從巳至申，出，曬乾用。</p>

<h2>紫菀</h2>
<p>雷公云：凡使，先去髭。有白如練色者，號曰羊須草，自然不同。採得後，去頭、土了，用東流水淘洗令淨，用蜜浸一宿，至明，於火上焙乾用。</p>
<p>凡修一兩，用蜜二分。</p>

<h2>紫草</h2>
<p>雷公云：凡使，須用蠟水蒸之，待水乾取，去頭並兩畔髭，細銼用。</p>
<p>每修事紫草一斤，用蠟三兩，於鐺中鎔，熔盡，便投蠟水作湯用。</p>

<h2>前胡</h2>
<p>雷公云：凡使，勿用野蒿根，緣真似前胡，只是味粗酸。若誤用，令人胃反不受食。若是前胡，味甘、微苦。</p>
<p>凡修事，先用刀刮上蒼黑皮並髭、土了，細銼，用甜竹瀝浸令潤，於日中曬乾用之。</p>

<h2>敗醬</h2>
<p>雷公云：凡使，收得後，便粗杵。入甘草葉相拌對蒸，從巳至未，出，焙乾，去甘草葉，取用。</p>

<h2>白薇</h2>
<p>雷公云：凡採得後，用糯米泔汁浸一宿，至明取出，去髭了，於槐砧上細銼，蒸，從巳至申，出，用。</p>

<h2>女萎</h2>
<p>雷公云：凡採得，陰乾，去頭並白蕊，於槐砧上銼，拌豆，淋酒蒸，從巳至未，出，曬令乾用。</p>

<h2>惡實</h2>
<p>雷公云：凡使，採之，淨揀，勿令有雜子，然後用酒拌蒸，待上有薄白霜重出，卻用布拭上，然後焙乾，別搗如粉用。</p>

<h2>海藻</h2>
<p>雷公云：凡使，先須用生烏豆、並紫背天葵和海藻三件，同蒸一伏時，候日乾用之。</p>

<h2>小澤蘭</h2>
<p>雷公云：凡使，須要別識雄、雌，其形不同。大澤蘭形葉皆圓，根青黃，能生血、調氣、養榮合；小澤蘭迥別，採得後看，葉上斑，根鬚尖，此藥能破血，通久積。</p>
<p>凡修事小澤蘭，須細銼之，用絹袋盛，懸於屋南畔角上，令乾用。</p>

<h2>昆布</h2>
<p>雷公云：凡使，先弊甑箄同煮去鹹味。焙，細銼用。每修事一斤，用甑箄大小十個，同昆布細銼，二味各一處，下東流水，從巳煮至亥，水旋添，勿令少。</p>

<h2>防己</h2>
<p>雷公云：凡使，勿使木條，以其木條，己黃，腥、皮皺，上有丁足子，不堪用。夫使防己，要心花文、黃色者然。</p>
<p>凡修事，細銼，又銼車前草根，相對同蒸半日後出，曬，去車前草根，細銼用之。</p>

<h2>天麻</h2>
<p>雷公云：凡使，勿用御風草，緣與天麻相似，只是葉、莖不同。其御風草根莖斑，葉皆白、有青點。使御風草根，勿使天麻。二件若同用，即令人有腸結之患。若修事天麻十兩，用蒺藜子一鎰，緩火𭵶焦熟後，便先安置天麻十兩於瓶中，上用火𭵶過蒺藜子蓋，內外便用三重紙蓋、並系，從巳至未時，又出蒺藜子，再入𭵶炒。准前安天麻瓶內，用炒了蒺藜子於中，依前蓋，又隔一伏時後出，如此七遍。瓶盛出後，用布拭上氣汗，用刀劈，焙之，細銼，單搗然用。</p>

<h2>御風草</h2>
<p>雷公云：御風草根莖斑，葉皆白、有青點。使御風草根，勿使天麻。二件若同用，即令人有腸結之患。若修事御風草十兩，用蒺藜子一鎰，緩火𭵶焦熟後，便先安置御風草十兩於瓶中，上用火𭵶過蒺藜子蓋，內外便用三重紙蓋、並系，從巳至未時，又出蒺藜子，再入𭵶炒。准前安御風草瓶內，用炒了蒺藜子於中，依前蓋，又隔一伏時後出，如此七遍。瓶盛出後，用布拭上氣汗，用刀劈，焙之，細銼，單搗然用。</p>

<h2>阿魏</h2>
<p>雷公云：凡使，多有訛偽。其有三驗：第一驗，將半銖安於熟銅器中，一宿至明，沾阿魏處，白如銀，永無赤色；第二驗，將一銖置於五斗草自然汁中，一夜至明，如鮮血色；第三驗，將一銖安於柚樹上，樹立干便是真。</p>
<p>凡使，先於靜缽中研如粉了，於熱酒器上裛過，任入藥用。</p>

<h2>百部</h2>
<p>雷公云：凡使，採得後，用竹刀劈破，去心皮，花作數十條，於檐下懸，令風吹，待土乾後，卻用酒浸一宿，漉出，焙乾，細銼用。</p>
<p>忽一窠自有八十三條者，號曰地仙苗。若修事餌之，可千歲也。</p>

<h2>款冬花</h2>
<p>雷公云：凡採得，須去向里裹花蕊殼、並向裡實如粟零殼者，並枝、葉用。</p>
<p>凡用，以甘草水浸一宿，卻，取款冬花葉相拌裛一夜。臨用時，即干曬，去兩件拌者葉了用。</p>

<h2>牡丹</h2>
<p>雷公云：凡使，採得後，日乾，用銅刀劈破，去骨了，細銼如大豆許，用清酒拌蒸，從巳至未，出，日乾用。</p>

<h2>蓽茇</h2>
<p>雷公云：凡使，先去挺，用頭醋浸一宿，焙乾，以刀刮去皮粟子令淨方用，免傷人肺，令人上氣。</p>

<h2>蒟醬</h2>
<p>雷公云：凡使，採得後，以刀刮上粗皮，便搗，用生薑自然汁拌之，蒸一日了，出，日乾。</p>
<p>每修事五兩，用生薑汁五兩，蒸乾為度。</p>

<h2>豆蔻</h2>
<p>雷公云：凡使，須以糯米作粉，使熱湯搜裹豆蔻，於煻灰中炮，待米糰子焦黃熟，然後出，去米，其中有子，取用。</p>
<p>勿令犯銅。</p>

<h2>補骨脂</h2>
<p>雷公云：凡使，性本大燥，毒，用酒浸一宿後，漉出，卻用東流水浸三日夜，卻，蒸，從巳至申，出，日乾用。</p>

<h2>蓬莪朮</h2>
<p>雷公云：凡使，於砂盆中用醋磨，令盡，然後於火畔吸令乾，重篩過用。</p>

<h2>白前</h2>
<p>雷公云：凡使，先用生甘草水浸一伏時後，漉出。去頭、須，了，焙乾，任入藥中用。</p>

<h2>莎草根</h2>
<p>雷公云：凡採得後，陰乾，於石臼中搗。</p>
<p>勿令犯鐵，用之切忌爾。</p>

<h2>畢澄茄</h2>
<p>雷公云：凡使，採得後，去柄及皺皮了，用酒浸蒸，從巳至酉，出，細杵，任用也。</p>

<h2>桑根白皮</h2>
<p>雷公云：凡使，十年以上向東畔嫩根。</p>
<p>凡修事，採得後，銅刀剝上青黃薄皮一重，只取第二重白嫩青涎者，於槐砧上用銅刀銼了，焙令乾。</p>
<p>勿使皮上涎落，涎是藥力。</p>
<p>此藥惡鐵並鉛也。</p>

<h2>茱萸</h2>
<p>雷公云：凡使，先去葉、核並雜物，了，用大盆一口，使鹽水洗一百轉，自然無涎，日乾，任入丸散中用。</p>
<p>凡修事十兩，用鹽二兩，研作末，投東流水四斗中，分作一百度洗，別有大效。</p>
<p>若用醋煮，即先沸醋三十餘沸，後入茱萸，待醋盡，曬乾。</p>
<p>每用十兩，使醋一鎰為度。</p>

<h2>檳榔</h2>
<p>雷公云：凡使，取好存坐穩、心堅、文如流水、碎破內文如錦文者妙；半白半黑並心虛者，不入藥用。凡使，須別檳與榔。頭圓、身形矮毗者是榔；身形尖、紫文粗者是檳。檳力小，榔力大。</p>
<p>凡欲使，先以刀刮去底，細切。</p>
<p>勿經火，恐無力效。若熟使，不如不用。</p>

<h2>梔子</h2>
<p>雷公云：凡使，勿用顆大者，號曰伏屍梔子，無力。須要如雀腦，並須長，有九路赤色者上。</p>
<p>凡使，先去皮、須了，取仁，以甘草水浸一宿，漉出，焙乾，搗篩如赤金末用。</p>

<h2>騏驎竭</h2>
<p>雷公云：騏驎竭凡使，勿用海母血，真似騏驎竭，只是味鹹並腥氣。其騏驎竭味微咸、甘，似梔子氣是也。</p>
<p>凡欲使，先研作粉，重篩過。臨使，安於丸散或膏中任使用。</p>
<p>勿與眾藥同搗，化作飛塵也。</p>

<h2>枳殼</h2>
<p>雷公云：凡使，勿使枳實，緣性、效不同。若使枳殼，取辛、苦、腥，並有隙油，能消一切𤸷，要塵久年深者為上。</p>
<p>凡用時，先去瓤，以麩炒過，待麩焦黑，遂出，用布拭上焦黑，然後單搗如粉用。</p>

<h2>厚朴</h2>
<p>雷公云：凡使，要用紫色、味辛為好。</p>
<p>夫或丸散，便去粗皮，用酥炙過。每修一斤，用酥四兩炙了，細銼用。</p>
<p>若湯飲中使，用自然薑汁八兩炙一升為度。</p>

<h2>山茱萸</h2>
<p>雷公云：凡使，勿用雀兒蘇，真似山茱萸，只是核八稜，不入藥用。</p>
<p>凡欲使山茱萸，須去內核。每修事，去核了，一斤，取肉皮用，只秤成四兩已來，緩火熬之方用。</p>
<p>能壯元氣，秘精。核能滑精。</p>

<h2>豬苓</h2>
<p>雷公云：凡採得，用銅刀削上粗皮一重，薄切，下東流水浸一夜，至明漉出，細切，以升麻葉對蒸一日，出，去升麻葉令淨，曬乾用。</p>

<h2>鬼箭</h2>
<p>雷公云：凡使，勿用石茆，根頭真似鬼箭，只是上葉不同，味各別。</p>
<p>凡採得後，只使箭頭。用，拭上赤毛，用酥緩炒過用之。</p>
<p>每修事一兩，用酥一分，炒酥盡為度。</p>

<h2>虎杖</h2>
<p>雷公云：凡使，勿用天藍並斑柚根，其二味根形、味相似，用之有誤。</p>
<p>凡採得後，細銼，卻，用上虎杖葉裛一夜，出，曬乾用。</p>

<h2>密蒙花</h2>
<p>雷公云：凡使，先揀令淨，用酒浸一宿，漉出，候乾，卻拌蜜令潤，蒸，從卯至酉，出，日乾。如此拌蒸三度，又卻，日乾用。</p>
<p>每修事一兩，用酒八兩浸，待色變，用蜜半兩蒸為度。</p>
<p>此原名小錦花。</p>

<h2>白馬莖</h2>
<p>雷公云：要馬無病、嫩身如銀，春收者最妙。</p>
<p>臨用，以銅刀劈破作七片，將生羊血拌蒸半日，出，曬乾，以粗布拭上皮並干羊血了，細銼用也。</p>
<p>又馬自死，肉不可食。五月勿食，傷神。</p>

<h2>鹿茸</h2>
<p>雷公云：凡使，先以天靈蓋作末，然後鋸解鹿茸作片子，以好羊脂拌天靈蓋末塗之於鹿茸上，慢火炙之，令內外黃脆了，用鹿皮一片裹之，安室上一宿，其藥蒐歸也。至明，則以慢火焙之令脆，方搗作末用之。</p>
<p>每五兩鹿茸，用羊脂三兩，炙盡為度。</p>
<p>又製法：用黃精自然汁浸兩日夜了，漉出，焙令乾，細搗用，免渴人也。</p>

<h2>鹿角</h2>
<p>雷公云：鹿角使之，勝如麋角。其角要黃色緊重尖好者，緣此鹿食靈草，所以異其眾鹿。</p>

<h2>羚羊角</h2>
<p>雷公云：凡所用，亦有神羊角。其神羊角長，有二十四節，內有天生木胎。此角有神力，可抵千牛之力也。</p>
<p>凡修事之時，勿令單用，不復有驗，須要不拆元對。以繩縛之，將鐵錯子錯之，旋旋取用，勿令犯風。錯末盡處，須三重紙裹，恐力散也。錯得了，即單搗，搗盡，背風頭重篩過，然入藥中用之。若更研萬匝了，用之更妙，免刮人腸也。</p>

<h2>犀角</h2>
<p>雷公云：凡使，勿用奴犀、雌犀、病水犀、攣子犀、下角犀、淺水犀、無潤犀。要使烏黑、肌粗皺，坼裂、光潤者上。</p>
<p>凡修治之時，錯其屑，入臼中，搗令細，再入缽中研萬匝，方入藥中用之。</p>
<p>婦人有妊，勿服，能消胎氣。</p>
<p>凡修治一切角，大忌鹽也。</p>

<h2>虎睛</h2>
<p>雷公云：虎睛凡使，須知採人，問其源：有雌有雄，有老有嫩，有殺得者。唯有中毒自死者勿使，卻有傷人之患。</p>
<p>夫用虎睛，先於生羊血中浸一宿，漉出，微微火上焙之，干，搗成粉，候眾藥出，取合用之。</p>

<h2>雀蘇</h2>
<p>雷公云：雀蘇凡使，勿用雀兒糞。其雀兒口黃，未經淫者，糞是蘇。若底坐尖在上，即曰雌；兩頭圓者，是雄。陰人使雄，陽人使雌。</p>
<p>凡採之，先去兩畔有附子生者，勿用。然後於缽中研如粉，煎甘草湯浸一宿，傾上清甘草水盡，焙乾任用。</p>

<h2>伏翼</h2>
<p>雷公云：凡使，要重一斤者方採之。</p>
<p>每修事，先拭去肉上毛；去爪、腸，即留翅並肉、腳及觜。然後用酒浸一宿，漉出，取黃精自然汁塗之，炙令乾方用。</p>
<p>每修事，重一斤一個，用黃精自然汁五兩為度。</p>

<h2>革蜂窠</h2>
<p>雷公云：凡使，其窠有四件：一名革蜂窠，二名石蜂窠，三名獨蜂窠，四名草蜂窠是也。大者，一丈二丈圍，在大樹膊者，內窠小膈六百二十個，圍大者有一千二百四十個蜂，其窠，黏木蒂是七姑木汁，蓋是牛糞沫，隔是葉蕊；石蜂窠只在人家屋上，大小如拳，色蒼黑，內有青色蜂二十一個，不然只有十四個，其蓋是石垢，黏處是七姑木汁，隔是竹蚛；次有獨蜂窠，大小隻如鵝卵大，皮厚，蒼黃色，是小蜂肉並蜂翅，盛向里只有一個蜂，大如小石燕子許，人馬若遭螫著，立亡。</p>
<p>凡使革蜂窠，先須以鵶豆枕等同拌蒸，從巳至未，出，去鵶豆枕了，曬乾用之。</p>

<h2>鱉甲</h2>
<p>雷公云：凡使，要綠色、九肋、多裙、重七兩者為上。</p>
<p>治氣、破塊、消症、定心藥中用之，每個鱉甲，以六一泥固濟瓶子底了，干，於大火，以物搘於中，與頭醋下火煎之，盡三升醋為度，乃去裙並肋骨了，方炙乾，然入藥中用。</p>
<p>又治勞、去熱藥中用。依前泥，用童子小便煮，晝夜盡，小便一斗二升為度，後去裙，留骨，於石上捶，石臼中搗，成粉了，以雞䏶皮裹之，取東流水三、兩鬥，盆盛，閣於盆上一宿，至明，任用。力有萬倍也。</p>

<h2>蟬花</h2>
<p>雷公云：凡使，要白花全者。</p>
<p>凡收得後，於屋下東角懸干，去甲土後，用漿水煮一日，至夜，焙乾，碾細用之。</p>

<h2>蠐螬</h2>
<p>雷公云：凡使，桑樹、柏樹中者妙。</p>
<p>凡收得後，陰乾，干後與糯米同炒，待米焦黑為度。然後去米取之，去口畔並身上肉毛並黑塵了，作三、四截，碾成粉用之。</p>

<h2>烏賊魚骨</h2>
<p>雷公云：凡使，勿用沙魚骨，緣真相似，只是上文橫，不入藥中用。凡使，要上文順渾。用血滷作水浸，並煮一伏時了，漉出，於屋下掘一地坑，可盛得前件烏賊魚骨多少，先燒坑子，去炭火了，盛藥，一宿至明，取出用之，其效倍多。</p>

<h2>白殭蠶</h2>
<p>雷公云：凡使，先須以糯米泔浸一日，待蠶桑涎出，如蝸牛涎，浮於水面上，然後漉出，微火焙乾，以布淨拭蠶上黃肉毛，並黑口甲了，單搗，篩如粉用也。</p>

<h2>木瓜</h2>
<p>雷公云：凡使，勿誤用和圓子、蔓子、土伏子。其色樣、外形真似木瓜，只氣味、效並向裡子各不同。若木瓜，皮薄、微赤黃、香、甘、酸、不澀，調營衛，助穀氣；向裡子頭尖，一面方，是真木瓜；若和圓子，色微黃、蒂、核粗、子小、圓、味澀、微咸，傷人氣；蔓子顆小，亦似木瓜，味絕澀，不堪用；土伏子似木瓜，味絕澀，子如大樣油麻，又苦澀，不堪用；若餌之，令人目澀、目赤，多赤筋痛。</p>
<p>凡使木瓜，勿令犯鐵，用銅刀削去硬皮並子，薄切，於日中曬，卻，用黃牛乳汁拌蒸，從巳至未，其木瓜如膏煎，卻，於日中薄攤，曬乾用也。</p>

<h2>枇杷葉</h2>
<p>雷公云：凡使，採得後秤，濕者一葉重一兩，乾者三葉重一兩者，是氣足，堪用。</p>
<p>夫用，使粗布拭上毛令盡，用甘草湯洗一遍，卻，用綿再拭令乾。</p>
<p>每一兩，以酥一分炙之，酥盡為度。</p>

<h2>金鎖夭</h2>
<p>雷公云：金鎖夭，時呼為灰藋，是金鎖夭葉，撲蔓翠上，往往有金星，堪用也。若白青色，是忌女莖，不入用也。若使金鎖夭葉，莖高低二尺五寸，妙也。若長若短，不中使。</p>
<p>凡用，勿令犯水，先去根，日乾，用布拭上肉毛令盡，細銼，焙乾用之。</p>

<h2>曲</h2>
<p>雷公云：曲，凡使，搗作末後，掘地坑，深二尺，用物裹，內坑中至一宿，明出，焙乾用。</p>

<h2>白⿱艹⿰辛人荷</h2>
<p>雷公云：凡使，勿用革牛草，真相似，其革牛草腥、澀。</p>
<p>凡使白⿱艹⿰辛人荷，以銅刀刮上粗皮一重了，細切，入砂盆中研如膏，只收取自然汁，煉作煎，卻，於新盆器中攤令冷，如干膠煎，刮取，研用。</p>

<h2>紫蘇</h2>
<p>雷公云：凡使，勿用薄荷根莖，真似紫蘇莖，但葉不同。薄荷莖性燥，紫蘇莖和。</p>
<p>凡使，刀刮上青薄皮，銼用也。</p>

<h2>香薷</h2>
<p>雷公云：凡採得，去根，留葉，細銼，曝乾。</p>
<p>勿令犯火。</p>
<p>服至十兩，一生不得食白山桃也。</p>

<h2>醍醐菜</h2>
<p>雷公云：凡使，勿用諸件。草形似牛皮蔓，掐之有乳汁出，香甜入頂。</p>
<p>凡採得，用苦竹刀細切，入砂盆中研如膏，用生稀絹裹，挼取汁出，暖飲。</p>

<h1>下卷</h1>

<h2>伏龍肝</h2>
<p>雷公云：凡使，勿誤用灶下土。其伏龍肝，是十年以來，灶額內火氣積，自結如赤色石，中黃，其形貌八稜。</p>
<p>凡修事，取得後，細研，以滑石水飛過兩遍，令乾，用熟絹裹，卻，取子時，安於舊額內一伏時，重研了用。</p>

<h2>石灰</h2>
<p>雷公云：凡使，用醋浸一宿，漉出，待乾。下火煅令腥穢氣出，用瓶盛，著密蓋，放冷，拭上灰令淨，細研用。</p>

<h2>砒霜</h2>
<p>雷公云：凡使，用小瓷瓶子盛後，入紫背天葵、石龍芮二味，三件便下火煅，從巳至申，便用甘草水浸，從申至子，出，拭乾，卻入瓶盛，於火中煅，別研三萬下用之。</p>

<h2>銅</h2>
<p>雷公云：銅氣凡使，在藥中用時，即渾安置於藥中，借氣生藥力而已。</p>
<p>勿誤入藥中用，消人脂也。</p>

<h2>代赭</h2>
<p>雷公云：凡使，不計多少，用蠟水細研盡，重重飛過，水面上有赤色如薄雲者去之。然後用細茶腳湯煮之一伏時，了，取出，又研一萬匝方入。用淨鐵鐺一口，著火，得鐺熱底赤，即下白蠟一兩於鐺底，逡巡間，便投新汲水沖之於中，沸一、二千度了，如此放冷，取出使之。</p>

<h2>白堊</h2>
<p>雷公云：凡使，勿用色青並底白者。</p>
<p>凡使，先單搗令細，三度篩過了，又入缽中研之，然後將鹽湯飛過，浪干。每修事白堊二兩，用白鹽一分，投於鬥水中，用銅器物內沸十餘沸了，然後用此沸了水飛過白堊，免結澀人腸也。</p>

<h2>石髓鉛</h2>
<p>雷公云：石髓鉛，即自然銅也。凡使，勿用方金牙，其方金牙真似石髓鉛，若誤餌，吐煞人。其石髓鉛色似干銀泥，味微甘。</p>
<p>如採得，先捶碎，同甘草湯煮一伏時，至明漉出，攤令乾，入臼中搗了，重篩過，以醋浸一宿，至明，用六一泥泥瓷合子，約盛得二升已來，於文武火中養三日夜，才幹，便用蓋蓋了，泥，用火煅兩伏時，去土抉蓋，研如粉用。</p>
<p>若修事五兩，以醋兩鎰為度。</p>

<h2>梁上塵</h2>
<p>雷公云：凡使，須去煙火遠，高堂殿上者。拂下，篩用之。</p>

<h2>附子</h2>
<p>雷公云：凡使，先須細認，勿誤用。有烏頭、烏喙、天雄、側子、木鱉子。烏頭少有莖苗，長身烏黑，少有旁尖；烏喙皮上蒼，有大豆許者孕八、九個周圍，底陷，黑如烏鐵；天雄身全矮，無尖，周匝四面有附孕十一個，皮蒼色，即是天雄；並得側子，只是附子旁，有小顆附子如棗核者是；木鱉子只是諸喙、附、雄、烏、側中毗槵者，號曰木鱉子，不入藥中用，若服，令人喪目。若附子，底平、有九角、如鐵色，一個個重一兩，即是氣全，堪用。</p>
<p>夫修事十兩，於文武火中炮，令皴坼者去之，用刀刮上孕子，並去底尖，微細劈破，於屋下午地上掘一坑，可深一尺，安於中一宿，至明取出，焙乾用。</p>
<p>夫欲炮者，灰火勿用雜木火，只用柳木最妙。</p>
<p>若陰制使，即生去尖皮底，了，薄切，用東流水並黑豆浸五日夜，然後漉出，於日中曬令乾用。</p>
<p>凡使，須陰制，去皮尖了，每十兩，用生烏豆五兩，東流水六升。</p>

<h2>烏頭</h2>
<p>雷公云：烏頭，少有莖苗，長身烏黑，少有旁尖。烏喙皮上蒼，有大豆許者孕八、九個周圍，底陷，黑如烏鐵。</p>
<p>凡使，宜於文武火中炮令皴坼，即劈破用。</p>

<h2>天雄</h2>
<p>雷公云：天雄，身全矮，無尖，周匝四面有附孕十一個，皮蒼色，即是天雄。</p>
<p>凡使，宜炮皴坼後，去皮尖底用，不然，陰制用。</p>
<p>若陰制使，即生去尖底了，薄切，用東流水並黑豆浸五日夜，然後漉出，於日中曬令乾用。</p>
<p>每十兩，用生烏豆五兩，東流水六升。</p>

<h2>側子</h2>
<p>雷公云：側子，只是附子旁，有小顆附子如棗核者是。宜生用，治風疹神妙也。</p>

<h2>半夏</h2>
<p>雷公云：凡使，勿誤用白旁𦺬子，真似半夏。只是咬著微酸，不入藥用。</p>
<p>若修事半夏四兩，用搗了白芥子末二兩，頭醋六兩，二味攪令濁，將半夏投於中，洗三遍用之。</p>
<p>半夏上有隙涎，若洗不淨，令人氣逆，肝氣怒滿。</p>

<h2>大黃</h2>
<p>雷公云：凡使，細切，內文如水旋斑，緊重，銼，蒸，從巳至未，曬乾。又灑臘水蒸，從未至亥，如此蒸七度。曬乾，卻灑薄蜜水，再蒸一伏時。</p>
<p>其大黃，擘，如烏膏樣，於日中曬乾，用之為妙。</p>

<h2>葶藶子</h2>
<p>雷公云：凡使，勿用赤鬚子，真相似葶藶子，只是味微甘、苦。葶藶子入頂苦。</p>
<p>凡使，以糯米相合，於焙上微微焙，待米熟，去米，單搗用。</p>

<h2>桔梗</h2>
<p>雷公云：凡使，勿用木梗，真似桔梗，咬之只是腥澀不堪。</p>
<p>凡使，去頭上尖硬二、三分已來，並兩畔附枝子，於槐砧上細銼，用百合水浸一伏時，漉出，緩火熬令乾用。</p>
<p>每修事四兩，用生百合五分，搗作膏，投於水中浸。</p>

<h2>莨菪子</h2>
<p>雷公云：凡使，勿令使蒼冥子，其形相似，只是服無效，時人多用雜之。其蒼冥子色微赤。</p>
<p>若修事十兩，以頭醋一鎰，煮盡醋為度，卻，用黃牛乳汁浸一宿，至明，看牛乳汁黑，即是莨菪子，大毒，曬乾，別搗，重篩用。</p>
<p>勿誤服，沖人心，大煩悶，眼生暹火。</p>

<h2>草蒿</h2>
<p>雷公云：凡使，唯中為妙，到膝即仰，到腰即俯。使子，勿使葉；使根，勿使莖；四件若同使，翻然成痼疾。</p>
<p>凡採得葉，不計多少，用七歲兒童七個溺，浸七日七夜後，漉出，曬乾用之。</p>

<h2>旋覆花</h2>
<p>雷公云：凡採得後，去裹花蕊殼皮並蒂子，取花蕊，蒸，從巳至午，曬乾用。</p>

<h2>藜蘆</h2>
<p>雷公云：凡採得，去頭，用糯米泔汁煮，從巳至未，出，曬乾用之。</p>

<h2>鉤吻</h2>
<p>雷公云：凡使，勿用地精，苗莖與鉤吻同。其鉤吻，治人身上惡毒瘡，效。其地精，煞人。</p>
<p>凡修事，採得後，細銼，搗了研，絞取自然汁，入膏中用，勿誤餌之。</p>

<h2>射干</h2>
<p>雷公云：凡使，先以米泔水浸一宿，漉出。然後用䈽竹葉煮，從午至亥，漉出，日乾用之。</p>

<h2>蛇含</h2>
<p>雷公云：凡使，勿用有蘖尖葉者，號竟命草，其味別空，只酸澀，不入用。若誤服之，吐血不止，速服知時子解之。</p>
<p>凡修事，採得後，去根莖，只取葉，細切，曬乾。</p>
<p>勿令犯火。</p>

<h2>常山</h2>
<p>雷公云：凡使，春使根、葉，夏、秋、冬一時用。</p>
<p>凡欲使，酒浸一宿，至明漉出，日乾，熬搗，少用。</p>
<p>勿令老人、久病服之，切忌也。</p>

<h2>蜀漆</h2>
<p>雷公云：凡採得後，和根苗，臨用時即去根，取莖並葉，同拌甘草四兩，細銼用，拌水令濕同蒸，臨時去甘草，取蜀漆五兩細銼，又拌甘草水勻，又蒸了，任用。</p>
<p>勿食木筍。</p>

<h2>甘遂</h2>
<p>雷公云：凡採得後，去莖，於槐砧上細銼，用生甘草湯、小薺苨自然汁二味，攪浸三日，其水如墨汁，更漉出，用東流水淘六、七次，令水清為度，漉出，於土器中熬令脆用之。</p>

<h2>青葙子</h2>
<p>雷公云：凡用，勿使思蓂子並鼠紬子，其二件真似青葙子，只是味不同。其思蓂子味跙，煎之有涎。</p>
<p>凡用，先燒鐵臼杵，單搗用之。</p>

<h2>大戟</h2>
<p>雷公云：凡使，勿用附生者，若服冷泄氣不禁，即煎薺苨子湯解。</p>
<p>夫採得後，於槐砧上細銼，與細銼海芋葉拌蒸，從巳至申，去芋葉，曬乾用之。</p>

<h2>章陸</h2>
<p>雷公云：凡使，勿用赤菖，緣相似。其赤菖，花、莖有消筋、腎之毒，故勿餌。章陸，花白，年多後仙人採之，用作脯，可下酒也。</p>
<p>每修事，先以銅刀刮去上皮了，薄切，以東流水浸兩宿，然後漉出，架甑蒸，以豆葉一重，了，與章陸一重，如斯蒸，從午至亥，出，乃去豆葉，曝乾了，細銼用。</p>
<p>若無豆葉，只用豆代之。</p>

<h2>草金零</h2>
<p>雷公云：草金零，牽牛子是也。凡使其藥，秋末即有實，冬收之。</p>
<p>凡用，曬乾，卻，入水中淘，浮者去之，取沉者曬乾，拌酒蒸，從巳至未，曬乾。臨用，舂去黑皮用。</p>

<h2>蓖麻子</h2>
<p>雷公云：凡使，勿用黑夭赤利子，緣在地蔞上生，是顆兩頭尖，有毒，藥中不用。其蓖麻子，形似巴豆，節節有黃黑斑點。</p>
<p>凡使，先須和皮，用鹽湯煮半日，去皮，取子，研過用。</p>

<h2>蒴藋</h2>
<p>雷公云：凡使之，春用隔年花蕊，夏用根，秋、冬並總用。</p>
<p>作煎，只取根，用銅刀細切，於柳木臼中搗取自然汁，緩緩於鍋子中煎如稀餳，任用也。</p>

<h2>蘆根</h2>
<p>雷公云：凡使，須要逆水蘆，其根逆水生，並黃泡肥厚者，味甘。</p>
<p>凡修事，採得後，去節須並上赤黃了，細銼用。</p>

<h2>角蒿</h2>
<p>雷公云：凡使，勿用紅蒿並邪蒿，二味真似角蒿，只是上香角短。</p>
<p>凡修事，採得，並於槐砧上細銼用之。</p>

<h2>馬兜鈴</h2>
<p>雷公云：凡使，採得後，去葉並蔓了，用生綃袋盛，於東屋角畔懸令乾了，劈作片，取向裡子，去隔膜並令淨用。</p>
<p>子，勿令去革膜不盡，用之並皮。</p>

<h2>仙茅</h2>
<p>雷公云：凡採得後，用清水洗令淨，刮上皮，於槐砧上用銅刀切豆許大，卻，用生稀布袋盛，於烏豆水中浸一宿，取出，用酒濕拌了蒸，從巳至亥，取出，曝乾。</p>
<p>勿犯鐵，斑人須鬢。</p>

<h2>劉寄奴</h2>
<p>雷公云：採得後，去莖葉，只用實。</p>
<p>凡使，先以布拭上薄殼皮令淨，拌酒蒸，從巳至申，出，曝乾用之。</p>

<h2>骨碎補</h2>
<p>雷公云：凡使，採得後，先用銅刀刮去上黃赤毛盡，便細切，用蜜拌令潤，架柳甑蒸一日後，出，曝乾用。</p>
<p>又《乾寧記》云：去毛細切後，用生蜜拌蒸，從巳至亥，准前曝乾，搗末用。</p>
<p>炮豬腎，空心吃，治耳鳴，亦能止諸雜痛。</p>

<h2>赤地利</h2>
<p>雷公云：凡採得後，細銼，用藍葉並根，並銼，唯赤地利細銼了，用生絹袋盛，同蒸一伏時，去藍，曝乾用。</p>

<h2>赤車使者</h2>
<p>雷公云：赤車使者，原名小錦枝。</p>
<p>凡使，並粗搗，用七歲童子小便拌了蒸，令乾，更曬。</p>
<p>每修事五兩，用小兒溺一鎰為度。</p>

<h2>巴豆</h2>
<p>雷公云：凡使，巴之與豆及剛子，須在子細認，勿誤用，殺人。巴顆小、緊實、色黃；豆即顆有三稜、色黑；若剛子，顆小似棗核，兩頭尖。巴與豆即用，剛子勿使。</p>
<p>凡修事巴、豆，敲碎，以麻油並酒等可煮巴、豆了，研膏後用。</p>
<p>每修事一兩，以酒、麻油各七合，盡為度。</p>

<h2>蜀椒</h2>
<p>雷公云：一名南椒。</p>
<p>凡使，須去目及閉口者，不用其椒子。先須酒拌令濕，蒸，從巳至午，放冷，密蓋，除向下火，四畔無氣後取出，便入瓷器中盛，勿令傷風，用也。</p>

<h2>皂莢</h2>
<p>雷公云：凡使，須要赤膩肥並不蚛者，然用新汲水浸一宿了，用銅刀削上粗皮，用酥反復炙，酥盡為度。然出捶之，去子搗篩。</p>
<p>皂莢一兩，酥二分。</p>

<h2>皂莢子</h2>
<p>雷公云：凡使，皂莢子收得，揀取圓滿堅硬不蛀者，用瓶盛，下水，於火畔煮，待泡熟，剝去硬皮一重了，取向里白嫩肉兩片，去黃，其黃消人腎氣，將白兩片，用銅刀細切，於日中乾用。</p>

<h2>訶黎勒</h2>
<p>雷公云：凡使，勿用毗黎勒、罨黎勒、榔精勒、雜路勒。若訶黎勒，文只有六路。或多或少，並是雜路勒；毗路勒個個毗；雜路勒皆圓；露文或八露至十三路，號曰榔精勒，多澀，不入用。</p>
<p>凡修事，先於酒內浸，然後蒸一伏時，其訶黎勒以刀削路，細銼，焙乾用之。</p>

<h2>楝實</h2>
<p>雷公云：凡採得後，曬乾，酒拌浸令濕，蒸，待上皮軟，剝去皮，取肉去核，勿單用其核，碎捶，用漿水煮一伏時了用。</p>
<p>如使肉，即不使核；使核，即不使肉。</p>
<p>又花落子，謂之石茱萸。</p>

<h2>椿木根</h2>
<p>雷公云：椿木根凡使，根，不近西頭者上，及不用莖、葉，只用根。</p>
<p>凡修事，採出，拌生蔥蒸半日，出生蔥，細銼，用袋盛，掛屋南畔，陰乾用。</p>
<p>偏利溺澀也。</p>

<h2>郁李仁</h2>
<p>雷公云：凡採得，先湯浸，然削上尖，去皮令淨，用生蜜浸一宿，漉出，陰乾，研如膏用。</p>

<h2>毒木葉</h2>
<p>雷公云：凡使，採得後，便取葉細銼。又生甘草、水蓼二味，並細銼之，用生稀絹袋盛毒木葉於甑中，上甘草、水蓼同蒸一日，去諸藥二件，取出，曬乾用之。</p>
<p>勿用尖有攣生者。</p>

<h2>墨石子</h2>
<p>雷公云：墨石子凡用，勿令犯銅、鐵，並被火驚者。顆小、文細、上無栨米者妙。</p>
<p>凡修事，用漿水於砂盆中或硬青石上研令盡，卻焙乾，研了用。</p>
<p>勿搗，能為烏犀色。</p>

<h2>雷丸</h2>
<p>雷公云：凡使，用甘草水浸一宿，了，銅刀刮上黑皮，破作四、五片，又用甘草湯浸一宿後，蒸，從巳至未，出，日乾，卻以酒拌，如前從巳至未蒸，日乾用。</p>

<h2>白楊樹皮</h2>
<p>雷公云：凡使，以銅刀刮粗皮，蒸，從巳至未，出，用布袋盛，於屋東掛乾用。</p>

<h2>蘇方木</h2>
<p>雷公云：凡使，去上粗皮並節了。若有中心文撗如紫角者，號曰木中尊色，其效倍常百等。</p>
<p>凡修事，須細銼了，重搗，拌細條梅枝蒸，從巳至申，出，陰乾用。</p>

<h2>櫸樹皮</h2>
<p>雷公云：凡使，勿用三、四年者，無力。用二十年已來者，心空，其樹只有半邊向西生者是。</p>
<p>凡修事，斧剝下，去上粗皮，細銼，蒸，從巳至未，出，焙乾用。</p>

<h2>胡椒</h2>
<p>雷公云：凡使，只用內無皺殼者，用，力大。漢椒使殼，胡椒使子。</p>
<p>每修揀了，於石槽中碾碎成粉用。</p>

<h2>橡實</h2>
<p>雷公云：凡使，去粗皮一重，取橡實蒸，從巳至未，出，銼作五片用之。</p>

<h2>賣子木</h2>
<p>雷公云：凡採得後，粗搗，用酥炒令酥盡為度，然入用。</p>
<p>每一兩，用酥二分為度。</p>

<h2>麋角</h2>
<p>雷公云：凡使，其麋角，頂根上有黃色毛若金線，兼旁生小尖也。色蒼白者上。注：《乾寧記》云其鹿與游龍相戲，乃生此異爾。</p>

<h2>膃肭臍</h2>
<p>雷公云：凡使，先須細認，其偽者多。其海中有獸，號曰水鳥龍，海人採得，煞之取腎，將入諸處。在藥中修合，恐有誤，其物自殊。有一對，其有兩重薄皮，裹丸氣肉核，皮上自有肉黃毛，三莖共一穴，年年癊濕，常如新，兼將於睡著犬，躡足置於犬頭，其犬驀驚如狂，即是真也。</p>
<p>若用，須酒浸一日後，以紙裹，微微火上炙令香，細銼，單搗用也。</p>

<h2>蝦蟆</h2>
<p>雷公云：凡使，有多般，勿誤用。有黑虎、有䖲黃、有黃𧋷、有螻蟈、有蟾，其形各別。其蝦蟆，皮上腹下有斑點，腳短，即不鳴叫；黑虎，身小黑，觜腳小斑；䖲黃，斑色，前腳大，後腿小，有尾子一條。黃𧋷，遍身黃色，腹下有臍帶，長五、七分已來，所住立處，帶下有自然汁出；螻蟈，即夜鳴，腰細口大，皮蒼黑色；蟾，即黃斑，頭有肉角。</p>
<p>凡使蝦蟆，先去皮並腸及爪了，陰乾，然後塗酥炙令乾。每修事一斤，用牛酥一分，炙盡為度。</p>

<h2>黑虎</h2>
<p>雷公云：黑虎身小黑，觜腳小斑。</p>
<p>若使黑虎，即和頭、尾、皮、爪，並陰乾，酒浸三日，漉出，焙乾用。</p>

<h2>蛇皮</h2>
<p>雷公云：凡使，勿用青、黃、蒼色者，要用白如銀色者。</p>
<p>凡欲使，先於屋下以地掘一坑，可深一尺二寸，按蛇皮於中，一宿，至卯時出，用醋浸一時，於火上炙乾用之。</p>

<h2>蜘蛛</h2>
<p>雷公云：凡使，勿用五色者，兼大身、上有刺毛生者；並薄小者。以上並不堪用。凡欲用，要在屋西面有網、身小尻大、腹內有蒼黃膿者，真也。</p>
<p>凡用，去頭、足了，研如膏，投入藥中用。</p>

<h2>蚯蚓</h2>
<p>雷公云：凡使，收得後，用糯米水浸一宿，至明漉出，以無灰酒浸一日，至夜漉出，焙令乾後，細切。取蜀椒、並糯米及切了蚯蚓三件同熬之，待糯米熟，去米、椒了，揀淨用之。</p>
<p>凡修事二兩，使米一分、椒一分為準。</p>

<h2>蜈蚣</h2>
<p>雷公云：凡使，勿用千足蟲，真似，只是頭上有白肉，面並觜尖。若誤用，並把著，腥臭氣入頂，致死。</p>
<p>夫使蜈蚣，先以蜈蚣、木末，不然用柳蚛末，於土器中炒，令木末焦黑後，去木末了，用竹刀刮去足、甲了用。</p>

<h2>蛤蚧</h2>
<p>雷公云：凡使，須認雄、雌。若雄為蛤，皮粗口大，身小尾粗；雌為蚧，口尖，身大尾小。男服雌，女服雄。</p>
<p>凡修事服之，去甲上、尾上並腹上肉毛。毒在眼。如斯修事了，用酒浸，才幹，用紙兩重，於火上緩隔焙紙炙，待兩重紙干，焦透後，去紙，取蛤蚧於瓷器中盛，於東舍角畔懸一宿，取用，力可十倍。</p>
<p>勿傷尾，效在尾也。</p>

<h2>貝齒</h2>
<p>雷公云：凡使，勿用花蟲殼，其二味相似，只是用之無效。</p>
<p>凡使，先用苦酒與蜜相對秤，二味相和了，將貝齒於酒、蜜中蒸，取出，卻於清酒中淘令淨，研用。</p>

<h2>烏蛇</h2>
<p>雷公云：凡使，即云治風。元何治風？緣蛇性竄，即令引藥至於有風疾處，因定號之為使。凡一切蛇，須認取雄雌及州土。有蘄州烏蛇，只重三分至一兩者，妙也。頭尾全、眼不合、如活者，頭上有逆毛二寸一路，可長半分已來，頭尾相對，使之入藥。被處若得此樣蛇，多留供進。重二兩三分者，不居別處也。《乾寧記》云：此蛇不食生命，只吸蘆花氣並南風，並居蘆枝上，最難採，又不傷害人也。又有重十兩至一鎰者，其蛇身烏光，頭圓尾尖，邏眼目赤光，用之中也。蛇腹下有白腸帶子一條，可長一寸已來，即是雄也。</p>
<p>凡採得，去之頭兼皮麟、帶子了，二寸許銼之，以苦酒浸之，一宿至明，漉出，向柳木炭火焙之令乾，卻，以酥炙之，酥盡為度。炙乾後，於屋下巳地上掘一坑，可深一尺已來，安蛇於中，一宿至明，再炙令乾，任用。</p>
<p>凡修事一切蛇，並去膽並上皮了，干、濕須酒煮過用之。</p>

<h2>馬陸</h2>
<p>雷公云：凡使，收得後，糠頭炒，令糠頭焦黑，取馬陸出，用竹刮足去頭了，研成末用之。</p>

<h2>芫蜻</h2>
<p>雷公云：芫蜻、斑蝥、亭長、赤頭等四件，其樣各不同，所居、所食、所效各不同。其芫蜻觜尖，背上有一畫黃；斑蝥背上一畫黃、一畫黑，觜尖處一小點赤，在豆葉上居，食豆葉汁；亭長形黑黃，在蔓葉上居，食蔓膠汁；赤頭額上有大紅一點，身黑。用各有處。</p>
<p>凡修事芫蜻，用糯米、小麻子相拌，同炒，待米黃黑出，去麻子等，去兩翅、足並頭，用血餘裹，懸於東牆角上一夜，至明取用。</p>

<h2>斑蝥</h2>
<p>雷公云：斑蝥，背上一畫黃、一畫黑，觜尖處一小點赤，在豆葉上居，食豆葉汁。</p>
<p>凡修事斑蝥，用糯米、小麻子相拌，同炒，待米黃黑出，去麻子等，去兩翅、足並頭，用血餘裹，懸於東牆角上一夜，至明取用。</p>

<h2>亭長</h2>
<p>雷公云：亭長，形黑黃，在蔓葉上居，食蔓膠汁。</p>
<p>凡修事亭長，用糯米、小麻子相拌，同炒，待米黃黑出，去麻子等，去兩翅、足並頭，用血餘裹，懸於東牆角上一夜，至明取用。</p>

<h2>赤頭</h2>
<p>雷公云：赤頭，額上有大紅一點，身黑。</p>
<p>凡修事赤頭，用糯米、小麻子相拌同炒，待米黃黑出，去麻子等，去兩翅、足並頭，用血餘裹，懸於東牆角上一夜，至明取用。</p>

<h2>櫸牛</h2>
<p>雷公云：櫸牛，凡採得，用銅刀取作兩片，去兩翅，用紙袋盛，於舍東掛，待乾用。</p>

<h2>珂</h2>
<p>雷公云：凡使，要冬採得色白膩者，並有白旋水文。勿令見火，立無用處。</p>
<p>夫用，以銅刀刮作末子，細研，用重絹羅篩過後，研千餘下用。</p>
<p>此物不入婦人藥中用。</p>

<h2>甲香</h2>
<p>雷公云：凡使，須用生茅香、皂角二味煮半日，卻，漉出，於石臼中搗，用馬尾篩篩過用之。</p>

<h2>桃仁</h2>
<p>雷公云：凡使，須擇去皮，渾用白朮、烏豆二味，和桃仁同於垍堝子中煮一伏時後，漉出，用手擘作兩片，其心黃如金色，任用之。</p>

<h2>桃花</h2>
<p>雷公云：凡使桃花，勿使千葉者，能使人鼻衄不止，目黃。</p>
<p>凡用，揀令淨，以絹袋盛，於檐下懸令乾，去塵了用。</p>

<h2>鬼髑髏</h2>
<p>雷公云：鬼髑髏，勿使干桃子。其鬼髑髏，只是千葉桃花結子在樹上不落者干，然於十一月內採得，可為神妙。</p>
<p>凡修事，以酒拌蒸，從巳至未，焙乾，以銅刀切，焙取肉用。</p>

<h2>杏仁</h2>
<p>雷公云：凡使，須以沸湯浸少時，去皮膜，去尖，擘作兩片，用白火石並烏豆、杏仁三件於鍋子中，下東流水煮，從巳至午，其杏仁色褐黃，則去尖，然用。</p>
<p>每修一斤，用白火石一斤，烏豆三合，水旋添，勿令缺，免反血，為妙也。</p>

<h2>石榴殼</h2>
<p>雷公云：凡使皮、葉、根，勿令犯鐵。</p>
<p>若使石榴殼，不計干、濕，先用漿水浸一宿，至明漉出，其水如墨汁。</p>

<h2>石榴葉</h2>
<p>雷公云：若使石榴葉，用漿水浸一宿，方可用。</p>

<h2>石榴根</h2>
<p>雷公云：若使石榴根，用漿水浸一宿，方可用。</p>

<h2>石榴枝</h2>
<p>雷公云：若使石榴枝，用漿水浸一宿，方可用。</p>

<h2>胡蔥</h2>
<p>雷公云：凡使，採得，依文碎擘，用綠梅子相對拌蒸一伏時，去綠梅子，於砂盆中研如膏，新瓦器中攤，日乾用。</p>

<h2>馬齒草</h2>
<p>雷公云：凡使，勿用葉大者，不是馬齒草，其內亦無水銀。</p>

<h1>雷斆論合藥分劑料理法則</h1>
<p>凡方云丸如細麻子許者，取重四兩鯉魚目比之。</p>
<p>云如大麻子許者，取重六兩鯉魚目比之。</p>
<p>云如小豆許者，取重八兩鯉魚目比之。</p>
<p>云如大豆許者，取重十兩鯉魚目比之。</p>
<p>云如兔蕈（俗云兔屎）許者，取重十二兩鯉魚目比之。</p>
<p>云如梧桐子許者，取重十四兩鯉魚目比之。</p>
<p>云如彈子許者，取重十六兩鯉魚目比之。一十五個白珠為準，是一彈丸也。</p>
<p>凡雲水一溢、二溢至十溢者，每溢秤之重十二兩為度。</p>
<p>凡云一兩、一分、一銖者，正用今絲綿秤也，勿得將四銖為一分，有誤，必所損兼傷藥力。</p>
<p>凡雲散只作散，丸只作丸，或酒煮，或醋或乳煎，一如法則。</p>
<p>凡方煉蜜，每一斤只煉得十二兩半或一分是數，若火少，若火過，並用不得也。</p>
<p>凡膏煎中用脂，先須煉去革膜了，方可用也。</p>
<p>凡修事諸藥物等，一一併須專心，勿令交雜。或先熬後煮，或先煮後熬，不得改移，一依法則。</p>
<p>凡修合丸藥，用蜜只用蜜，用餳則用餳，用糖只用糖，勿交雜用，必宣瀉人也。</p>

<h1>雷斆論宣劑</h1>
<p>宣，揚制曰宣朗，君召臣曰宣喚，臣奉君命宣布上意，皆宣之意也。</p>
