<header data-type="book">
<h1>鱠殘篇</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>沈懋發</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1777">公元1777年</data></dd></div>
</dl>
</header>

<h1>秘授藥方須番察論</h1>
<p>盂子曰居移氣養移體素問曰東方濱海食魚而嗜咸其人黑色疏理病多瘡瘍治宜砭石西方陵居風多而土剛其人華食肥脂病生於內治宜毒藥北方地高風寒而冰冽其人野處乳食病多藏寒治宜灸焙南方地下土弱而霧聚其人嗜酸致理病多孿痹治宜微針中央地平淫其人雜食而不勞病多痿燈治宜導引按蹄家語曰堅土之人剛弱土之人懦墟土之人細息土之人美耗土之人醜親此則人之形質皆由水土飲食之所變生而於起居服食可不慎所擇哉故枸菊之鄉多壽而酒色之戕致妖五行更迭生勉乘除有常道焉亢則害承乃制不可偏倚也是以腎氣過強則妨心而驚悸愴怳生心氣過旺則戕肺而咳嗽煩菟生肺氣過實則傷肝而目眵涕淚生肝氣過盛則克脾而食瀉脈脹生脾氣過滿則害腎而痿蹙重追生皆亢害而火其平易也聖人制為藥餌針灸按摩導引祝由以平治之救其偏也至於湯液之方創於伊尹盛於長沙後賢虎興則有七方十劑之等差君臣佐使之配合而尤當番其反畏惡欲之性以劑之始可以為方方之所以為方打使之方向而不遠平易大方而雅俗共賞也故其表表於醫籍者桂枝麻黃青能白虎三承氣四瀉心之社邪返正也四君人物十全六味五子七寶建中補中以及虎即河車等之培元扶弱也藥品不多於十味對症取效於頃刻亦何會探奇搜巽必致力於赤箭青芝牛黃狗寶方形神效也乃今多有聚集鱗介毛倮中一切臊腳熱滴如肭臍狗腎海馬蛤蚧全蠍紅鉛之屬輔之以桂附椒茱腦射之類辛香臭腐數十種雜為一方亦不問其反畏惡欲君臣佐使之謂何豔稱其名號可奪造化極贊其功能克轉乾坤一籍捷劫之性取效片時暢人慾志不顧流禍於隱微積久而大患突起駭人間見而不遑救者多矣撇由術士之眩惑貴介之樂聞而不察天地有常逍聖人有至綸所謂五穀為養五菜為充五果為助五行相生五藏以安順其天常安其地利而必欲強其詞曰人定可以勝天者殊不知服全鱉丸久而腹生小鱉以戕軀餌龍骨粉多而腸腑中癰以斃命前人已受害者矣夫子曰未達不當所謂達者非徒達藥而已意必達藥性之良劣興吾身之宜否而後敢服詎可不察吾身上固有而漫為嘗試致犯虛虛實實之禁失其平易而生偏騰之栽甚至亢火消陰變幻非常者有之經曰芳草發狂石藥發痂可不慎諸況恬淡虛無真氯從之黃帝養生之妙袂師肉食者鄙未能達謀曹削認戰之快談堪取苟能毋勞術精毋勞術神赳居有節向可長生是故氣足剛不飢神足則不睡精足則不淫克寶吾身之實亦何有於外物哉然而天地之間土為萬物之母人身之中胃為水穀之海語云節飲食者卻病之良方理脾胃者醫中之王道脫欲綢繆於未雨請從事於脾胃庶飲食強而穀氣化精則神氣不期足而自足又何籍於藥餌之扶吾也耶O附詩</p>
<p>寒夜無聊道漏長挑燈起坐績岐黃至人精論皆金石術士誇談屬老莊咀嚼素靈非好辨揶榆朱紫慎推詳螽斯自古稱西伯不見流傳種子方</p>
<p>養生當以養陰為首務論</p>
<p>天地之間陽行健陰德靜體也陽常有餘陰常不足用也然而陽更為陰之用陰實為陽之體也故陽無陰不生陰無陽不長觀既濟之爻可見而習坎之養不可不察興昔丹溪獨主滋陰後人訾其藥尚寒涼易伐生氣而崇輔火之法乃不循本源之奧而徒知膚淺之論矣夫藥用寒涼乃瀉火非養陰也卷之之義謂何勿使陽之亢燥而消爍真陰保其天一之本源也今水被火侮而斯病島得不壯水之本以制陽光藉北方苦寒之昧以救之而守習坎之義哉人非水火不生活是二者之不可偏廢亦不可偏勝更當知陽易回而陰難養為首務試以水火論日用尋常籍火者暫而約籍水者常而博蓋火易發而速水難致而緩十日之霖不三百之曝藏火於灰久而垂滅益之以薪頃刻而熾為力易而致用速也貯水於器逾旬而滅經月而涸無可以生凡物皆能耗之是非存養之胡能經久而澤那耶身精血水他陰他日以萬應幾何而不耗且盡也是則存養之功可不一日而三致思焉水本靜靜極而動生故曰腎藏智知者樂水也知覺生而運動隨之故少陽乃胎於大陰是陰實陽之體少陽甲木之氣發生萬物運動而出則陽乃陰之用而已詎今人喜於補火且有以呂仙號純陽而得道為說朱不察其探陰補陽之謂何而北極有龜蛇配合之妙聖人有夜氣以存之訓與歷觀服熱藥金丹者輕則癰疽奇疾疊出甚則真陰耗絕而暴亡者比比是故既濟之防終亂而習坎之獲有孚信矣養生者冷可忽於養陰之道不急務而惑於補火之浮言哉且凡物體實而用斯宏未有體去而能用者矣</p>
<p>附子吳茱萸乾僵論</p>
<p>經曰大毒治病十去其五無毒治病十去其九二者相形而時尚何多惑焉蓋直達少陰祛寒救敗誰如附子善走厥陰燥濕定痛莫過吳萸散表溫中怏脾利膈更尚乾僵此三者誠三陰斬關奪命之將也然於諸熱藥中為最烈過劑誤施必有動血僭上之患跡其功能直朱家郭解遊俠之流言信行果急人之急捐軀赴攤可存亡生死而收效旦夕者耶然一不善馭未免以武犯禁而取笑同類矣蓋其氣雄性毒走疾而悍或氣味俱厚偏陽少陰故附得姜而愈熱得桂而菩走茱得僵而益散非以甘緩監之難免疾馳銜橛之變也故八味丸用桂附以消陰翳不過全料中之什一左金丸用吳萸以開肝鬱而黃連五倍之王好古有補火須防潮水烏附非身涼肢厥脈沉遲者不可擅投之戒其慎始要終之道欲然古人亦有終身餌烏附椒萸而年登耄耄無恙此又稟賦之朱偶有之事不可以為訓昔子產諭政以水懦弱慮民玩而多死今之用藥反狎玩猛烈之火至噬臍而弗悔何哉其必曰砒譽鴆鰥方為毒而不思中病即止之戒與</p>

<h2>黃芩天花粉傳</h2>
<p>山草黃芩者蜀之秭歸產也味苦性寒氣厚味簿陽中之陰色青專行少陽而兼人肺胃可升可降當與黃速厚朴柴胡善而惡蔥實畏藜蘆丹砂牡丹皮其相與遊而協濟以成功者則得灑上行而消上焦積血清痰利膈得豬膽汁除肝膽火而祛脾胃濕熱偕柴胡退寒熱之往來同白朮為安胎之聖藥佐桑皮瀉肺火而須舊根枯片即別名腐腸妒婦者與芍苟連枳樸除下利膿血腹瘻後重必選細實新根即俗稱子芩條芩者仲景傷寒方治心下痞滿瀉心湯凡四方皆用之又如太陽症下之利不止喘而汗出者有葛根黃芩黃連湯太陽少陽合病下利有黃芩湯少陽症下後心下滿而不痛有瀉心湯少陽症之小柴胡湯則本經藥也迨張元素稱其功用有九而李東垣朱丹溪多闡發其妙蓋火靖氣寧而胸膈暢濕除滯化而腸胃通上焦治則二便利血閉痰凝癰疽煩懣清熱以澄其源因勢利導故事半而功倍順病之情不煩奇異而效斯捷審寒熱慎予奪故曰藥貴中病醫之寶也大暑炎熇三黃白虎不足以為暴何獨於芩而斯懼哉至蔓草中又有天花粉恬姜根者秦之弘農所出也甘微苦酸微寒清潤降下之品金玉君子之質除消渴清暑熱通小腸級癰腫瘡渝排膿止痛消瘀生肌其為肺與陽明藥也最亢虛熟人仲景用其實以洽胸瘟痛引心背效唾喘息及結胸滿痛乃取其甘寒不犯胃氣能清上簇之火愧痰行氣隊而治矣若梔璽餃之治乳癱其根下扎汁拔箭鏃及針人肉退痘後圓瘴其以純粹之質而能定會獰乖反之疾其功可以想兌矣效其使杓杞子怒乾姜畏牛膝反烏頭亦物圓群分云爾</p>
<p>萍如子日黃莘花粉農經中品日用桓儒之藥以治州時常有之疾不可一日廢也乃世人好奇異矜詭秘競寧玉扎丹砂之貴重侈談空青狗實之無幾例異舍菽粱水火而仙來養生具哉天食人以五氣地食人以五味無虛虛無實實持有餘痂不足是在人為之而有至理存焉察理真則施用當可免偏勝之患譴可因施之不常而棄物之性不亦寬乎然盡信菩剛不如無書亦不可不察若李之才雲山茱萸愧骨偽黃萼之使得五昧子牡蠣令人有子之說則吾未之深信黃芩苦燥而寒其於濕熱瘡痰瘧痢血熱等症實能勘亂定禍因便乘勢以成功管夷吾之流而亦得桓公任之當而能盡其才也天花粉甘寒而潤大宜虛熱人其能出箭族退目殆平仲在莊公之世而處崔杼之亂也吾故彷龍門管晏傳而為芩粉傳詩云呦呦鹿鳴食野之芩又云果嬴之實亦施於宇觀二詩可以窺二物尚矣</p>
<p>馬齒莧記</p>
<p>馬齒莧者以葉似馬齒而得名葉青莖赤花黃根白子黑色貝五行又名五行菜鮮者烈日爆之不易乾其汁流凝成水銀得汞之不死故又名長命草性寒滑而味微酸其功用則人厥陰血分散血消腫兼潤腸臟而去留滯者也且可預讓瘟疫於六月六日採存至次年元旦論熟鹽醋攔食之俗又有安樂菜之名唐武相國元衡患脛瘡焮癢痛楚三年不愈廳吏白以鮮者搗敷之數易而愈海上方用乾者一筋鮮二筋同五加皮八兩蒼朮四兩煎湯澡浴一切風濕氣楊梅毒及婦人月家病以致筋骨疼痛者亦取其滑可去檣而宣通血脈也其殺寸白蟲敷拔疔根滴聊耳療甲疽滅瘢痕點目眯目翳理痔漏帶下又其餘事耳此物本菜類而食者少備藥料而肆不收隨在俱產而摘探易可應急需而不難勝人多忽而不用余甚惜之因述其功能而特為之記以告諸同志</p>
<p>蕪菁說</p>
<p>蕪菁者一名九英菘即蔓菁也南北隨地可時而北方為多毛詩為之封其性易生而滋長故武侯行軍教士卒種之以備肌蜀人呼為諸葛榮馬般攜入南中猺狫今猶呼為馬面蒙古則稱為沙吉木兒其葉似芥闊大而厚莖短而粗夏初起臺開黃花四比結角子似芥子面色紫亦勻圓根如濰葡青白而圓長六月種者根大而葉蠹八月種者葉美而根小惟七月初種則根葉俱佳</p>
<p>東師人家以瓶齲藏名閉惟菜差似撇蘭耳其性苦平利氣消食治嗽通淋殆清熱祛滯之品其子大能明目而榨油然燈又損目此物理之變幻也李時珍稱其可升可降能汗能吐能解蜘蛛毒其根解酒止吸拔疔根消陰腫如斗亦日用恆需之藥非特僅於療飢而已且於立春後庚子日搗根汁閤家以次溫飲之可闢時疾其有稗於世非淺渺用為之說以揚真功用云附治青盲方但瞳子不壞者十可療九用蔓菁子六升蒸之氣遍合甑掇下</p>
<p>以釜中熱湯淋之乃曝乾如是三蒸三淋三曬杵為末食後清酒服方寸七又方常服能洞視臟腑蕪菁子三升苦酒三升（苦酒醋也）煮熟曬乾為</p>
<p>末以井華水服方寸七日三服盡一斗夜視有光云</p>
<p>煮蔓精菜作食先用水蝶熟洲出另用冷水浸一宿去水加油鹽炒食之否則味苦不堪食</p>

<h1>山會倪涵初先生瘧疾三方疏釋</h1>

<h2>第一方　治夏秋暑濕瘧初平胃除濕理氣化滯有疏導開先之功受病輕者一二即愈</h2>
<p>製半夏　廣橘皮　云茯芩　威靈仙各一錢　茅蒼朮　紫厚朴　柴胡　黃芩各八分　青橘皮　廣檳榔各六分　炙甘草三分　生僵一錢　河井水各一煎空腹溫服如頭痛加白芷八分　按此方合小柴胡平胃散青皮　飲三方為一而以檳榔易草果之辛烈加威靈仙通行十二經絡轍內外而胃多化為熱中暑熱無形之陽邪每遊溢於經絡與涇相搏遂化為瘧痢暑邪初中不為涇所霸留而即病自當從暑治香薷散等方表散之而外出是也既化為瘧痢則當從虐痢治猶米已成飯不可以出汗須由里而和之使外出是也故治瘧發表非治法也盡用麻桂羌防歲會見一汗而愈者瘧邪之汗猶之瘟疫同法必裡氣和而表自解倪先生此方專以疏利留著之濕邪為主而以和胃化滯為佐獨黃芩一味堪清遊溢經絡之暑熱可與疫症達原飲同調不籍香茹之發表而況麻桂羌防散太陽風寒之品可洹施乎至若但熱不寒之潭瘧疫厲傳變之溫瘧自有白虎承氣在但寒不熱之牝瘧則又有附子理中大小建中在亦非徒恃發表可愈也</p>
<h2>第二方　治瘧法三四次後痰滯稍減正氣漸虧一二劑即可止住即極弱之人纏極重之症十劑後無不奏效</h2>
<p>生何首烏（三錢）　醋炙鬼甲知母各（二錢）　白朮當歸成靈仙各（一錢）白茯芩　黃芩　柴胡　廣橘皮各（八分）　炙甘草（三分）　生薑（一錢）　河井水各牛煎加無灰酒一蓋再煎數沸空心溫服　按此方妙在補瀉互用虛實得宜不用人參黃耆之驟補屏去常山草果之峻削平平無奇卻神有效慎勿混竹加減即無效矣蓋瘧舍於營邪傷血分表邪稍解當頭營血方中首鳥鰲甲當歸正為血分藥也</p>
<h2>第三方　治久瘧虛弱並虛人患瘧扶正祛邪大有神效</h2>
<p>人參（或以玉竹代之沙參無益也）炙黃耆各（一二錢）　白朮（錢半）　當歸（一錢）　柴胡　橘皮各（八分）　升麻（四分）　炙甘草（三分）　生何首烏（二錢）大棗（一枚）　生薑（八分）　渴加知母（一錢）　熱甚加青篙（八分）　胃口不和加麥芽（一錢）　在半飢時服</p>
<p>素問瘧論黃帝問曰咳瘧皆生於風其蓄作有時者何氣使然岐伯對曰陰陽上下交爭虛寶更作陽井於陰則陰寶而陽虛陰勝寒生於內陽虛寒生於外故中外皆寒極則陽回而外出陰並於陽則陽實而陰虛陽盛則外熱陰虛則</p>
<p>內熱內外皆熱故喘而渴欲飲冷也此皆得之夏傷於暑熱氣盛藏於肌肉之內腸胃之外此營氣之所舍也令人汗孔疏胰理開因得秋氣汗出遇風及得之浴水氣舍於皮膚之內與衛氣並居吳氣者畫日行於陽夜行於陰此氣得陽而外出得陰而薄內外相薄是以日作其間日作者由邪氣內簿於五藏橫連於募原其道達其氣深其行遲故間日發也至間數日發者邪客於六府有時與衛氣相失故數日乃作也0按經文則瘧為先傷暑濕後感寒風鉤煽</p>
<p>而起其病根於肌肉之內營氣界分不比風寒驟感之在皮毛不與營氣相</p>
<p>涉可用麻桂羌防發表一汗而愈也故治法必求之營氣用藥必遵夫和解</p>
<p>由牛表牛里之間導之使出半表牛里者少陽之分也少陽為樞開闔必經</p>
<p>之地也雖剌瘧篇有三會三陽五藏尺胃府十二虐形狀乃邪走空竅遊溢</p>
<p>於虛隙之處而現症究其受病之原乃舍於營分及募原皆半表裡也惟間數日者則舍於六府而更深入然求其外出亦必由少陽之樞闢而後甫能達之皮毛故小柴胡為治瘧要藥奈今人因李士材有瘧非少陽者慎用柴胡一語寒邪在太陽者柴胡投早引入少陽等語舉世畏柴胡如虎而治瘧有終始葉置用者詎思非少陽者固不可用在少陽者非此不達也前賢垂訓原欲人辨症而施試思寒熱往來之為少陽症也千古易既見寒熱往來而猶畏柴胡甘事麻桂羌防能不憤敗乎且士材所云瘧非少陽寧非癉瘧牝瘧乎奈何泥於一而不通乎既遂致因噎而廢食豈可嘆因疏倪先生方而拌拈經旨以印之為　同道共商榷馬且風寒在表之惡寒發熱人雖惡寒而肌膚已熱瘧疾之惡寒內外俱寒及其發熱絕不惡寒矣風寒得汗退熱即解瘧疾自能作汗而退熱次日仍復如是可見其病在裡而不在表非可求汗而解必里清而表自清強表徒傷正氣而瘧必淹纏</p>
<p>故瘧疾有汗者及其無汗即愈無汗者及其有汗即愈瘧之為汗乃其所自為也非可強發也故曰裡氣和汗自出里和而表從之矣</p>
<p>癉瘧</p>
<p>經曰癉瘧者肺素有熱氣盛於身厥逆上衝中氣實而不外紲因有所用力腠理開風寒舍於皮膚之內分肉之間而發發跚陽氣盛而不衰不及於陰故但熱不寒氣內藏於心外舍於分肉令人消爍脫肉0按此則治癉瘧主於肺熱</p>
<p>實者白虎湯虛者竹葉石膏湯或君以知母佐以人參但二昧更導功也</p>
<p>濕溫加瘧論</p>
<p>原夫瘧疾多端內經詳論已備後人體認不真每舍少陽不治徒事發表攻裡往往貽誤不知瘧之關於少陽猶效之不離乎肺也縱有十二經之兼症不過兼藥以治之若舍少陽而治瘧猶舍肺而治咳也瘧為少陽證小柴胡為少陽藥舍小柴胡其孰用耶少陽症忌汗吐下此仲景之格言也舍和解其又孰從之耶今乃有濕溫如瘧一證亦少陽病也而又若似乎非瘧濕邪鬱蒸而成而又若似乎溫疫其初起也先覺身體懶倦神思困頓微覺怯寒而又不甚畏風寒似將發熱而又不覺其大熱三五日間似飢非飢飲食不食漸漸加熱非若傷寒之猝然灑淅惡寒而發熱非若溫疫之陡然蒸熱而昏迷也每熱則渴欲飲水而不甚貪太陽或痛筋骨或酸或現少陽一二症口苦而不脅脹脅脹而不耳聾耳聾而不作嘔或兼陽明一二症兩目微脹鼻乾不乾時或眠不眠更或腰脊強痛又似太陽證狀然而種種雜出俱隨熱輕重而增減且不惡寒而反愛涼熱時手心甚於手背一日之內平旦前後必有一二時辰安靜頭頸以上若似有汗而潤澤摸之黏手而實無可拭之汗及至已午以後熱甚則盧腠乾燥似睡非睡囈語如譫喚醒則清而非若譫妄之不知人事舌苔白滑中或微黃口糙無昧脈則兩關滑數少陽更弦浮部不足沉部有力此濕溫時氣雜合所致脾胃虛弱之人多成此症乃少陽陽明而兼涉太陰之候也因其非風寒之邪故不惡寒而但作熱因其似瘧故不若傷寒之惡寒發熱頭痛無休不若疫症之大熱熇然神昏志亂也因是濕溫故但熱不寒而渴不貪水不若冬傷於風至春作瘧之先熱後寒而為溫瘧也不若夏傷於暑秋必為瘧之先寒後熱而為塞瘧也但其作止有時輕重有候即同瘧症邪由濕溫內發乾涉太陰是以難汗發從少陽陽明當用柴平散以萎蕤代人參和解之法治之且此症更多自肘至腕之臂自膝主踝之脛不熱可微其兼大陰而外念諸四肢也其手足心更熱者可徵其邢在少陽而內熱甚也人見其但熱不寒而叉不若癉瘧之但熱而有汗也故不敢斷其為瘧因其無汗多羌用荊葛求其汗解而不應益以麻桂重竭其表而汗愈不至輕而疑為血虛不能作汗重施歸葛逍遙而終不應其或有兼腰痛者非太陽症或增注瀉者乃邪留少陽日久而動厥陰經氣即經所云足厥陰之脈絡膽是動剛病腰痛不可以俯仰嗌乾面塵脫色胸滿嘔逆餐泄是也但和少陽則邪自解矣此症多發於春暮以至中秋富木土火氣值令之時為最多奈病家但見發熱咸為著表喜從發散不知發熱之症多端豈盡表耶南方人更怕寒涼視三黃白虎如蛇蠍以小柴胡方內有黃芩多不敢服北方人怕溫燥視薑桂如虎狼且嫌和解之功緩喜從攻下而服承氣此俱一隅之偏見必籍醫家把握剴切關導使知此症常從少陽治法而柴胡為少陽之表藥清肌解熱黃芩為少陽之裡藥利熱燥濕二者去一則不成其為小柴胡湯他而人參半夏乃佐使之品在可增可減耳炙草固胃氣薑棗和營衛俱不可少者也若有兼症則以兼藥治之豈可舍少陽而他求乎</p>
<p>加減柴平散</p>
<p>萎蕤（三錢）　柴胡黃芩酒炒製半夏各（二錢）　茅蒼朮厚朴姜炒橘皮炙甘草各（八分）　紅棗（三枚）　生薑（一片）　如屢服發散藥而無汗重竭其津液而煩渴者</p>
<p>加天花粉麥冬減半夏如服攻下藥而溏瀉夜甚五心煩熱邪陷血分者</p>
<p>須調中益氣湯加減治之提邪外出陽分</p>
<p>加減調中益氣湯</p>
<p>生黃耆生白朮萎蕤各（二錢）　茯芩（一錢二分）　炙甘草橘皮柴胡各（八分）　升麻（四分）　棗（三枚）　姜（一片）　若腹脹瀉不止加煨木香（八分）</p>
<p>凡治傷寒者咸祖述仲景然多致力於汗下而於溫清利補之法每略而不究</p>
<p>時人用藥動稱景岳而言新方者惟擅右歸理陰但用其熱補二陣而遺其六</p>
<p>陣於不間殊不察用和之法莫善於景岳其於和陣略中言之詳矣且其散陣</p>
<p>中之六柴胡飲更可為善用柴胡者奈人咸謂景岳偏於溫補乃令人用其偏而景岳原未之偏也</p>
<p>男子熱人血室論</p>
<p>金匱要咯日婦人中風七八日續得寒熱發作有時經水適斷此為熱入血室其血必結故使如瘧狀發作有時者小柴胡湯主之又日婦人傷寒發熱經水適來畫日明瞭暮則譫語如見鬼狀此謂熱入血室治之無犯胃氣及上二焦必自愈也又曰陽明病下血譫語者此為熱入血室但頭汗出當刺期門隨其實而瀉之澉然汗出者愈愚接血室即血海也肝為血海乃厥陰也婦人傷寒時疫適逢經至血海空虛邪陷入內而作寒熱往來譫妄如瘧此邪犯厥陰而列入少陽篇者所以</p>
<p>明少陽為厥陰之府必和邪使從表出故治法不外乎小柴胡湯出然血海男女皆同而不及男子熱入血室之故者乃古之缺文也成無已則以陽明病下血譫語一條謂指男女者猶未可為定論若然則婦人豈獨無陽明病下血之症乎蓋婦人之月經有信可念人所易知男子則無以考證成無已泥於必見血而方可為熱入血室故以陽明病下血條印之獨不思無下血症而往來寒熱加瘧又當指為何症乎愚意男子是症必其人素有道滑慣病或感邪後而夢遺或入房至使邪熱乘虛而入血室也夫遺精出自前陰人皆認為腎病而愚曰厥陰非創說耶然不知經云肝主疏泄故遺精必先治肝況女子之月水亦出前陰非同根於厥陰之疏紲而出則俱從外腎也細繹金匱所列三條受症不同治法各巽總以和解為主其曰無犯胃氣及上二焦者恐人誤施汗吐法也曰當刺期門隨其實而瀉之濺然汗出者愈恐人誤施攻下並戒不可大汗以明少陽症忌汗吐下法也明矣故婦人必察其適斷適至而於和邪中兼以活血導血之藥在男子則察其有無下血遺滑而兼以逐瘀養陰之藥和解緩攻萬無以剛藥與之以致不救乃人往往見男於是症認為臂虛投以姜附桂地甚則參耆純於溫補忘其譫忘熱邪多致昏惑憒亂而斃更不思陰寒直中少陰之症自有脈症之可擄今縱因疏泄而腎虛乃熱邪之陷入非陰寒初感直中之可比奈醫家不察經義而置和解提邪於不問病家期於速效而喜補正祛邪之穩妥致令死者之含冤徒使二豎之竊笑深可慨夫</p>
<p>以占蠢同出少陽病最滋纏醫易搖惑若更病家欲求速效剛多所貽誤用杼一得之忱惟冀</p>
<p>大雅之鑑倘蒙賜教更幸甚矣</p>
<p>太陰脾經辨為跋語</p>
<p>余自束髮客江寧因水土變遷嬰疾病臥兼旬幾弊者屢守中醫而獲愈既愈留心醫學欲為卻病計非敢存醫人志也越數歲稍出應酬見人有稱病曰太陰脾經者心竊巽之及其治法則令人餓而不食藥則從乎蒼樸砂蔻香燥攻克而已夫太陰脾乃手足十二經中之一耳若論其經臟之病則疸腫瀉利嘔吐脹滿以致停痰積食種種不一論其治則補瀉溫清各各不同何混以太陰脾經命病名而治則一例也若以不思食為脾之病而概稱之則咳嗽吼喘何又不稱之曰太陰肺經也類此而推則驚悸怔忡亦可稱曰少陽心經獷疝微痹亦可稱曰厥陰肝經矣雖仲景傷寒論有太陽少陽陽明太陰少陰厥陰症乃言是經之為病如某某等亦並未有以太陰脾經為病名也在病家或不知名義奈醫家亦侈口而稱其不思也甚矣且其不思食屬傷食惡食者餓猶可也若脾虛不連胃弱饜飫補之不暇尚堪餓而消之乎獨不顧得谷則昌有胃氣則生之義詎有令人長餓而更連旬累月之進攻克香燥藥以責效也耶存疑迄今役役四方未得就有道而訂論之乙丑暫歸金陵舊館得與王子村舟游出其太陰脾經辨偽論以示余讀之數過其析理詳明剖症纖悉足破金陵習俗而壽斯民功匪淺鮮猗歟人同此心心同此理使余積久疑團一旦而獲同聲之應是用慫恿付梓以公諸世王子辭讓且恐獲罪於同儕噫切搓琢磨朋友之道也苟有所得出而丐正於同人何莫非相長之道與亦胡綴綴弗遑焉爰為跋之篇末惟村舟其圖之</p>
<p>山陰倪涵初先生痢疾三方疏釋</p>
<p>第一方治痢疾初起或紅或白裡急後重身熱腹痛五色兼至或如魚腦皆以此方治之</p>
<p>川黃連　條黃芩　白芍藥　山查肉各（一錢二分）　枳殼　桃仁去皮尖研　（一錢）　厚朴　檳榔　青皮各（八分）　當歸　甘草　地榆各（五分）　紅花酒　炒（三分）　廣木香（二分）　如單白者去地榆桃仁加橘紅（四分）　倍木香滯檣甚者酌加酒炒大黃一二錢0按痢之為病由於手太陽小腸手陽明大腸二經而來蓋小腸為受盛之官水穀腐焉大腸為傳導之官糟粕行焉若二經外受暑風濕蒸之氣內傷生冷油膩之物受盛失職不能分消傳導失度不能遞送故其作也裡急後重變為膿血大小腹痛旋解旋作皆壅滯不通之狀古名滯下今則為痢實乃不利之謂也其色白者大腸受病庚金白而肺相表裡病於氣也色紅者小腸受病丙火赤而心相表裡病於血也總緣濕熱為患並無紅白以分寒熱之說惟日久氣虛以致脫滑者則儒參朮訶粟以固之無用溫補治痢之法也須知痢與瀉屬兩途痢屬腸病瀉屬脾病迥不相謀瀉有寒熱之干痢惟濕熱之患瀉多虛寒之症痢惟久暫之異雖古稱</p>
<p>有大瘕腸癖滯下刮積之名而實為濕邪壅滯化熱所致直至日久不止變為虛寒者有之若初起誤投補澀之藥貽患匪輕倪先生治痢三方咸以芩連清熱查樸消積歸地桃仁紅花以清血滯枳橘木香檳榔以清氣滯生白芍除後重而釣脾按日照方無不百投百效也</p>
<p>第二方　治痢十日外者用生熟料各半法也</p>
<p>黃芩　黃連　白芍各炒（六分）　生（四分）　查肉（一錢）　橘紅　青皮　檳榔　地榆各（四分）　當歸（五分）　桃仁（六分）　紅花（三分）　木香（二分）　甘草炙（三分）　生（二分）</p>
<p>第三方　治久痢經月脾胃弱而虛滑者</p>
<p>黃芩酒炒　黃連酒炒各（六分）　白芍酒炒（四分）　當歸（五分）　人參（五分）　白朮土炒（五分）　炙甘草（五分）　橘紅（六分）</p>
<p>以上三方皆以芩連為主而補瀉隨宜乃今治痢者絕不用芩連何哉咸以瀉法治痢故也殊不知苦以燥之即熱瀉亦何避芩連耶</p>
<p>資生丸方</p>
<p>王肯堂曰余初識繆仲淳時見袖中出彈丸咀嚼問之曰得之秘傳名資生丸飢者服之飽飽者服之飢因疏其方而猶不信其消食之功已於醉飽後頓服二丸徑投枕臥夙興無停滯始信此方之神先恭簡年高脾弱食少痰多餘齡葆攝全賴此方因特著此與世共之白朮泔浸黃土拌蒸曬九次去土切片焙乾三兩薏苡仁淘淨炒黃色三</p>
<p>兩　人參蒸熱焙乾三兩　山查肉蒸焙乾二兩　神麴炒二兩　橘皮浸洗去膜焙乾（二兩）　白茯芩去皮水飛去筋膜人乳拌蒸（一兩半）　乾山藥炒黃（一兩）　麥芽粉（一兩半）　芡實去殼蒸（一兩半）　白扁豆去皮炒一兩　蓮子去心蒸（一兩）　炙甘草（五錢）　桔梗米坩浸炒（五錢）　藿香（五錢）</p>
<p>白豆蔻（三錢半）　川連薑汁炒（三錢半）　澤瀉蒸（三錢半）　妊娠以砂仁易澤瀉煉蜜為丸每服（二錢）　淡薑湯細嚼下亦可作細丸無力用人參者以洋參</p>
<p>代之黨參不如也</p>
<p>，</p>
<p>醫宗金監維謙甫曰此方始於繆仲淳以治妊娠脾虛及胎滑蓋胎資始於足少陰資生於足陽明故足陽明為胎生之本一有不足則元氣不足以癢胎又不足以自癢故當三月正陽明養胎之候而見嘔逆又其甚者或三月或五月而墮此皆陽明氣虛不能固耳古方安胎類用芎歸不知此正不免於滑是方以參朮茯草蓮芡山藥扁豆薏苡之甘平以補脾元陳皮麴藥砂蔻藿桔之香辛以調胃氣其有濕熱以黃連清之燥之既無參芩白朮散之補滯叉無香砂枳朮丸之燥消能補能連臻於至和於以固胎永無滑墮丈夫服之調中養胃名之資生信不虛矣</p>
<p>余於辛卯回越中值　母姨臥疾數月矣時年七十有八每夜起更衣三四次畫加之所進食數次共不及一盂腹中時痛不休肌肉瘦憊起坐維艱語言無力醫者無非用補火生土之法右歸四神之類輒不應余因謂脾胃之疾不宜湯液年高之人礙於峻補蓋脾胃不能健運厚味飲食大補之藥亦猶之厚味飲食徒困塞脾胃運樞不若用資生消補之法遂進此丸數日後而腹痛漸減泄瀉漸除旬日後飲食加進彌月而愈於今七載服丸未嘗間斷現在八十四齡每飯可兩碗矣可見肯堂先生前論之不誣亦培後天以補先天女媧煉石之法也用揭此方以公同好乾隆丁酉萍如謹識</p>
<p>左金丸</p>
<p>川黃連炒（六兩）　吳茱萸滾湯泡炒（一兩）　水跌為丸</p>
<p>醫宗金監胡天錫曰治肝之法有數種水衰而木無以生用地黃丸乙癸同源是也土衰而木無以植用參芩術草緩肝培土是也本經血虛有火用逍遙散清火本經血虛無水用四物湯養陰至於補火之法亦下同於腎而瀉火之法則上類乎心左金丸獨用黃連為君從實則瀉子之法直折其上炎之勢吳茱萸從類相求引熱下行並以辛燥開其肝鬱懲其扦格故以為佐然必本氣實而土不虛者庶乎相宜左金者木從左而制從金也特治肝藏實火左脅痛者</p>
<p>按時下凡遇脅肋脹痛肝脾不調之症動輒以左金投之是未察左金之義也金匱要略有云見肝之病以先實脾若脾虛為肝木所乘再用黃連以瀉心火但知瀉肝之子不顧瀉脾之母乎當衡其輕重緩急而施治慎勿偏任也</p>
<p>石斛非肝藥</p>
<p>石斛生於水石之間秋月開花皮黃肉白甘淡微咸故入心腎脾胃四經能強陰益精除熱療痹氣薄味厚陽中之陰也時人竟以為肝經藥殊不知何所據夫五色五昧五氣入五藏千古不易之理也肝屬木而色青味酸氣臊凡物品如是者則入肝膽未有黃白甘淡者而入肝也然肝苦急急食甘以緩之石斛甘淡用以緩肝為輔佐之品則可若籍以為平肝之藥則未之察也因論左金治肝法故連類而及之</p>
<p>羊毛疹子辨論</p>
<p>余客金陵四十餘年舟車經遊十一省所交四方知醫之士不下百什人從未聞所謂羊毛疹者乾隆辛卯壬辰間有客醫倡是說以語人用蒿麥面搓人胸背而治之金陵逾甲老醫亦未會見是症是治也故疑信相半客醫乃</p>
<p>援證治準繩疔瘡門所載羊毛疔及醫宗金鑑疔瘡門註釋所述並說鈴談往所紀三條以示人在明理者雖未之全信然不能詰其原以究其理好事者乃從而和之稍稍昌熾其說矣余甚慨焉因即其示人書逐條明辨之非余好為挪揄其說也蓋恐亥豕魚魯之不分將以為人生性命之患然猶未敢自信為所辨誠是也特引經據理而疏述之質諸</p>
<p>考古君子定其然否知我罪我弗遑顧焉</p>
<p>王肯堂證治準繩疔瘡門載濮陽傳云萬厯丁亥金臺有婦人褊以羊毛留於市忽不見繼而都下人身生泡瘤漸大痛死者甚眾瘤內包有羊毛後一道人傳方用黑豆蒿麥為粉塗擦之毛落而愈</p>
<p>說鈴談往云祟禎癸未京師時疫病起必有紅點在背中包羊毛一縷無得活者疫死無算</p>
<p>醫宗金鑑疔瘡註釋下云有羊毛疔症身發寒熱狀類傷寒但前心後心有紅點如疹形視其癍紫黑者為老淡紅者為嫩宜蟾酥丸汗之五味消毒飲汗之愚按以上三條一則為天行疫癘之成疔者一則為災疫毒發於背而似癍疹之類者一則為疔瘡中有紅點發於前後心如疹形者並未實指為疹也況有可救者有必死者有以藥汗之而可愈者輕重奇恆之階判然豈可不逐一明辨之而混曰羊毛疹子為四時常有之疾乎蓋首條有婦人鬻毛於市而生泡瘤痛死毛現此之謂天行疫邪也況泡瘤狀大發無定處內包有毛類於羊毛名之曰羊毛疔猶近似也原未會曰羊毛疹也然亦必在春秋行疫時有之萬厯丁亥偶有之前乎此後乎此未之聞也次條乃疫癘極甚毒發於背紅點似疹含毛此之謂災眚怪症呼曰羊毛疫可也未可呼曰羊毛疹也且法無可治而必死否則萬曆時道人方為時未甚遠豈人盡不知而一試治之若謂疔可治疹不可治則今之蒿麥又何益耶第三乃疔瘡中兼見前後心發紅點者並未指明毛在疔抑在點當去毛與否蓋金鑑乃御纂書太醫秉筆因準繩等書載有前條不敢遺又不敢信故於註釋內載此數語知吳太醫亦未嘗經見是症也意其發於膻中背俞之分故示人以汗解之亦只曰羊毛疔而未曰羊毛疹也總而論之病有奇恆時有治亂事當尋理疔與疹懸殊也疔痛疹不痛疔大而疹細疔無定處疹及褊身豈得以疔有羊毛之症而渾曰羊疹乎即據說鈐所紀紅點發於背而病疫生毛金鑑所述紅點發於前後心而患疔生斑可見獨發於此而不及他處者始可斷曰羊毛疫羊毛疔亦未會直書曰羊毛疹也今若以肺經鬱熱咳嗽而發疹亦瀘曰羊毛疹可乎若傷寒熱干陽明而發癍亦是紅點亦概曰羊毛疹乎若然則凡痧麻癮痤其中皆有羊毛乎倡是說者固非鑿空無本之談然察理欠明不當以明季災巽之怪症而移談為</p>
<p>盛世常有之疾病致使痤疹痧麻咸混羊毛之說惟以去毛為治滋害深矣明理者常慎察之查本草大豆條下云能制牛馬瘟毒夷堅志云靖康二年春京師疫有巽人傳方用黑大豆二合炒熟炙甘草（一錢）　煎湯時時飲之立愈可見大豆能治天行瘟疫之毒也又蒿麥條下云苦敕性寒能脫人鬚髮還生亦稀道人用此二物一以治毒一以去毛拯一時之災也今客醫見人胸背偶有疿痤控之類輒教以𤵄面連旬累月而搓擦之寧不毫毛隨輕而黏落遂指人身之毫毛為羊毛妄矣然毛疹固屬牽混而毛疔毛疫之災究何自生查宋太史書雲山林之人毛而瘦得木氣多也素問云毛蟲屬木則毛之為災乃少陽木氣強盛得濕熱蒸溽而生譬如器醬麴於夏暑少陽主時之候不數日而毛生氣變矣經又云肝膽屬木其氣臊則毛秉木氣而生是</p>
<p>羊毛疔疫之患為少陽經病木邪侮金髮於肺部之膻中背俞之分生毛而氣躁有尖於羊而名之豈人之身而真有羊毛耶且夫少陽為樞太陽為開陽明為闔樞運而外闢達於太陽可汗而愈毛其化矣樞滯而內閉歸於陽明入於腑臟昏冒惑亂人死而毛見矣假遇是證理應達木鬱疏肺邪初感為淺者荊防敗毒散加豆豉之類汗之日久而深者防風通聖散表裡雙解之若果皮破毛現時氣咸若即道人方原不可廢總之為行為疹咸疫也不可與凡百常病同視也謂疫厲中有此毛疔毛疹之症則可謂疹症中常有羊毛之症則不可也又查</p>
<p>五常政大論曰敷和之紀木德周行云云其蟲毛委和之紀是謂勝生生氣不治化氣乃揚其蟲毛介其病支廢癰腫瘡瘍眚於三發生之紀是謂啟敕土疏泄蒼氣達其病怒太角與上商同（上商陽明司天）其蟲毛介又曰厥陰司天毛蟲靜羽蟲育介蟲不成在泉毛蟲育介蟲耗羽蟲不青少陽司天羽蟲*　毛蟲育倮蟲不成在泉羽蟲育介蟲耗毛蟲不成</p>
<p>氣交變大論曰歲金太過燥氣流行胸痛引肩歲金不及病內舍膺脅外在皮毛又曰有德有化有政有令有變有災而物由之而人應之也又曰以道留久逆守而小是謂省下以道而去去而速來曲而過之是謂省遺過也久留而環或離或附是謂議災與其德也</p>
<p>按木平曰敷和不及曰委和太過曰發生災病曰眚留守曲環星象省察分</p>
<p>野審德罪而降災福也故木平歲其蟲毛得木氯專而靜也不及剛毛介介</p>
<p>乃金屬金來兼化而介蟲同生也太過亦毛介者木盛凌金而齊化毛介並</p>
<p>生也尋繹各經文則木邪無不關於金也症未有不發於胸背部分也若盛</p>
<p>朝熙嗥之際歲氣縱有災寢德化可以消弭此留守曲環之所以道省者也</p>
<p>如丁亥乃委和之紀金兼木化歲運丁壬化木司天厥陰風本運奧天符二木比助轉委而強接交春分二氣後太徵火客運來臨木火過強金受其制勝復之作疵厲盛行而生毛疔木之眚也婦人鬻毛亦歲運災星之脫化豈真有婦人耶泡瘤腫痛即經所云癰腫瘡瘍也瘤內有毛即經所云眚於三三乃木之生數而見災巽病也迨後癸未乃小逆之歲立春初氣主客同為厥陰木春分二氣主客同為少陰火歲運戊癸化火木火相生而熾至小滿三氣客氣濕土臨主氣相火之上濕熱蒸涯而疵厲起均歲運節氣之所致常明季未運尚有何德化而弭此災變也耶至於運氣雖六甲一周而災祥乃因時而變前此之丁亥癸未會未聞有此毛疔毛疫也後此之丁亥癸未又屢更矣而熙阜承平更末知有疢疾乃者忽倡為巽說以惑人其不審也甚矣值此</p>
<p>德化覃敷萬邦和洽編氓隱瘼久被南薰之解慍何業醫者不守常而好巽是</p>
<p>為哉</p>
<p>天行時疫本不常有索隱行怪者偶倡惑世誣民之說知醫者少以訛傳說始則妄指怪症繼則妄投謬藥為害不淺矣萍如先生哀之條晰明辨洒洒千言洞若觀火如秦人照膽鏡表裡明徹吾知心不正者見之卻走為功斯世豈淺鮮哉亟勸付梓俾戶誦家弦齊登籌域勝刻太上感應篇文昌陰險</p>
<p>文千百紙也</p>
<p>乾隆癸巳落燈後三日同學弟古漁陳毅跋</p>
<p>加減參蘇飲</p>
<p>治四時感冒風寒頭痛發熟僧寒咳嗽涕唾稠黏胸隔滿悶脈弱無汗並停滯飲食腹痛欲作瀉痢等症歌曰蘇葛前胡合二陳枳香甘桔共云芩人參特</p>
<p>為虛人設加減推詳要性靈</p>
<p>紫蘇葛根前胡各（二錢）　陳橘皮製半夏枳殼各（一錢）　廣木香炙甘草桔梗各（八分）　茯芩（錢半）　人參酌用連須蔥頭（三個）　生薑（六七分）　隨時增減紅棗（三枚）按風寒感在太陽膀胱經則能傳經以其主一身極表浮陽之地故遞傳三陽而病陽行速也古法用桂枝麻黃二湯發營衛之汗不使再傳者以桂麻辛甘發散純陽之品寒邪容於太陽寒水之經用此純陽迅速之藥以氣相從而奏效捷也若已傳他經者投非其時即禍不旋踵故後人以九味羌活湯人參敗毒散代之誠詳慎矣若風寒感在太陰肺經則不傳經非太陽之可比蓋肺主氣經云邪之所湊其氣必虛氣虛之人不拘四時易於感冒不奧傷寒時行之際強弱均受者同日而語也此方於發散藥中用參芩草以固氣即沖和湯中用生地以養血同意知非可徒恃峻表而愈也況應用桂</p>
<p>麻之症而用蘇葛柴前失之不及猶無傷害若只須蘇葛可療而過用桂麻為害多矣方中蘇葛前胡清熱解肌陳夏枳香利痰疏氣芩草安胃利中桔梗載藥上浮直達胸中表里兼行若形體素弱或年高久病之人則人參臨時酌用總之肺為大陰燥金清肅之地宜於清散不同太陽寒水之經可施辛溫猛悍之藥經絡不當詳識之且此等症候最多切勿小題大做</p>
<p>加減法</p>
<p>傷飲食胸脅脹滿噯氣不舒者加山查肉麥芽神麯倍木香大便難者加杏仁泥血虛而大便秘結者加歸尾桃仁泥小便少者加澤瀉倍茯芩</p>
<p>頭痛因火者加甘菊花因血虛者加當川芎　如三劑後表解熱除而咳嗽不止喉乾舌燥者加百合天花粉或貝母險去半夏木香蔥薑棗</p>
<p>本方除去人參前胡用川芎柴胡名芎蘇飲則入厥陰少陽而宜於血虛火</p>
<p>盛者減參恐其助氣而動火也　本方除去人參半夏加芎歸治新產後感冒發熱頭疼及虛損吐血人感冒發熱咳嗽無汗者養血則汗作也半夏有三禁產後汗後血傢俱不可投其他如玉竹荊芥薄荷俱可量加　利熱則梔子連翹亦可擇用</p>
<p>鄉村旅次乏醫之處偶值微疴照方揀投最為穩妥用疏之以公諸世亦方便之一端耳</p>
<p>集蟲說</p>
<p>巢元方病源云人腹有九蟲伏蟲長四分群蟲之主也蚘蟲長五六寸至一尺發則心腹作痛上下口喜吐涎及清水貫心則死白蟲長一寸色白頭小生育轉多令人精HF氣損弱腰腳疼長至一尺亦能殺人肉蟲狀如爛杏令人煩悶肺蟲狀如蠶令人咳嗽成勞殺人胃蟲狀如蝦蟆令人嘔逆喜噦弱蟲又名鬲蟲狀如瓜瓣令人多睡赤蟲狀如生肉動作腹鳴蟯蟲至微形如菜蟲居胴腸中令人生癰疽疥癬縞癘痔瘻疳蹺齲齒諸病諸蟲皆依腸胃之間若人臟腑氣實則不為害虛則侵蝕變生諸疾也又有三尸蟲名彭質彭矮彭踞與人俱生為人大害其狀如犬馬尾或如薄筋依脾而居三寸許有頭尾每於庚申日上天奏人過惡故道家有守庚申之說凡服補藥必須先去此蟲否則不得藥力凡一切癥瘕久皆成蟲紫庭真人云九蟲之中六蟲傳變為勞瘵而胃蛔寸白三蟲不傳其傳變者或如嬰兒如鬼形如蝦蟆如守宮如蜈蚣如螻蟻如蛇如鱉如蝟如鼠如蝠如蝦如豬肝如血汁如亂髮亂絲等狀凡蟲在腹上旬頭向上中旬向中下旬向下服藥須是月初四五日五更時則易效也並須先以炙臠含口內咀汁勿咽引其開口而服藥0張子和云巢氏之衍九蟲詳矣然蟲之變不可勝窮要之皆以濕熱為主蟲得風氣乃生得雨氣乃豈非風木主熱雨澤主濕耶故五行之中皆有蟲諸木有蠹諸果有螬諸菽有蚄五穀有螟勝蟊蟹麥朽蛾飛慄破蟲出草腐化螢皆木之蟲也烈火有鼠爛灰生蠅皆火之蟲也穴蟻牆蠍田螻石蜴皆土之蟲也蝌蚪馬蛭魚鱉蛟龍皆水之蟲也昔冶工破一釜見其斷處臼中有一蟲如米蟲色正赤此則金中亦有蟲也沈萍如曰前人所序論諸蟲詳且夥矣獨於治法則未之晰焉觀今人患勞症瀕危時則有飛蛾出者豈非肺蟲如蠶而化蛾也又如胃蟲如蝦蟆能令人嘔逆善噦者則反胃膈食未始非此蟲之為患也煩悶因乎肉蟲多睡緣乎弱蟲腸嗚乃由赤蟲雖未經人常道而蚘出於胃而厥則心痛寸白蟯蟲之為病乃恆有者也求仙必先殺三尸乃人所常談者也他如疥癬之有蟲蛇纏瘡之如蛇形人面瘡之能食肉醫藥俱必用硫雄砒麝先殺其蟲而疥癬瘡痍獲愈是則病由於蟲者急當除之奈何惟治癆與膈則未有以去蟲為務耶張子和言</p>
<p>蟲之所生由於風濕熱固也猶未透發其理蟲之託始固根於濕熱而使之化生則專一於風蓋風能生萬物今觀藏物於器密對不透則無恙若一進風則濕熱始化而為蟲如枝元果殼及鼠函丸藥一破而蟲斯生則可見非風不能使濕熱化蟲也蓋蟲之生也根乎濕與熱並而後萌由於飲食雜進而後滋更必因乎風氣鼓扇而後能動夫五行在天為風在地為木在人為肝是必脾胃土衰而濕熱滯肝膽本盛而風動然後蟲生而變為疾病則治蟲之法必先培土燥睥抑肝去風而澄其源勿使滋蔓庶得治蟲之要領矣若徒殺之而勿澄其源剛隨殺隨生亦何益哉然而加三尸蟲之本乎先天人人難免非修真鏈神不能制若蛔蟯等蟲之生於後天飲食所化者則消除之法其權在我可以尋其本而治之也</p>
