<header data-type="book">
<h1>叢桂草堂醫案</h1>
<dl class="元資料">
<div><dt>作者</dt><dd>袁焯</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1914">公元1914年</data></dd></div>
<div><dt>底本</dt><dd>《珍本醫書集成》第十三冊，1936年上海世界書局刊行（<a href="https://taiwanebook.ncl.edu.tw/zh-tw/book/NTUL-0521063">國立臺灣大學圖書館掃描本</a>）</dd></div>
</dl>
</header>

<h1>序</h1>
<p>先大父秀山公云。老醫斷病如老吏斷獄。善斷病者必善治病。前哲陸九芝云。案者斷也。方者法也。惟能斷而有法。乃可稱方案。旨哉言乎。夫吾國醫學之發明。其源古矣。周秦時代。醫師診病之法。大率注重於氣色脈候。聽聲寫形。詳見素靈難經。後漢張仲景崛興。於望鼻色目色外。更注意語聲呼吸以參合脈候症狀。六朝至唐。如褚彥道孫思邈輩。則又重在明症候。詢嗜好。察致疾之由來。辨病臟之虛實。相其老壯。酌其淺深。歸本於博涉多診。屢用三端。此周秦以迄晉唐。診斷術之大略也。厥後金元四大家。暨明之韓天爵陶節庵等。名醫飈起。則又兼審風土時令。以決病之陰陽燥濕。且兼施腹診之法。佐望聞問切四診之不逮。是又視周秦漢晉之時加詳矣。清初江右喻嘉言出。乃主張先議病。後議藥。取古人診病之法而融會貫通之。凡風土時令。體質肥瘦。年齡長幼。病之新久。以及情志苦樂。脈症現狀。莫不辨析毫芒。以審定其陰陽虛實。外感內傷。上下表里。何臟何腑。何因何症。然後採用古人七方中何方。十劑中何劑。規則謹嚴。有條不紊。蓋至是而吾國醫師診病。乃有一定之規則。而顢頇鹵莽妄投藥餌之弊。賴以廓清。誠萬世不祧之良法也。今日東西醫家。號稱為實質的學派。解剖的智識。而竊觀其診斷一方。多憑官能的診斷。及尿之外觀沉渣。與糞便咯痰。舌苔外貌。眼勢體溫體量。及器械上診察之所得。其間泰半與吾國古法相通。然後嘆中醫診斷術之精妙。殊未遜於西人。雖器械之用未備。而脈診望診問診腹診之法既精。則亦足以賅括之矣。況辨虛實。分氣血。論攻補。昔賢發明。尤多獨到之處，足補西醫之缺。而惜乎解人難索也。袁君桂生。吳中之名醫也。邃於醫學。立論平允。學術精湛。而感慨淋漓。保存國粹之盛心。躍然紙上。可謂先得我心者矣。頃郵示其所著叢桂草堂醫草。屬為之序。瀏覽一通。見其辨症剴切。用方工穩。每述一病。原原本本。剖析無遺。洵足開學者之智慧。昔周學海氏有云。宋後醫書。惟案最好看。不似註釋古書之多穿鑿也。每部醫案中。必有一生最得力處。潛心研究。最能吸取眾家之所長。余按醫案一門。當推喻氏寓意草一書為冠。蓋其案雖僅六十二條。而反覆推論。務闡明其審症用藥之所以然。較之諸家醫案。但泛言某病用某藥而愈者。甚相懸殊。前清四庫全書提要贊其極有發明。足資開悟。近代名醫如張石頑葉香嚴顧松園徐靈胎尤在涇俞東扶吳鞠通王孟英林珮琴等。皆折衷其診病之法。默收治療之功。各發表於醫案之內。今袁君此書。即仿喻氏體例而先議病。後議藥。悉遵喻氏法程。且其中有學宋人及金元諸家者。有學明人及清之張葉徐魏吳王諸家者。亦有運用經方及自出新意者。洵能萃眾家之長而神明變化者矣。宜乎批卻導窾。而恢恢乎遊刃有餘也。嗟乎。今之醫風薾然。頹敝極矣。出版之書。除一二譯本而外。幾如鳳毛麟角。而入主出奴。於今為烈。滔滔天下。伊于胡底矣。安得全國醫家。皆如君者起而振此墜緒也。序君之書。蓋不禁百感橫集已。</p>
<p><u>乙卯六月廿八日越醫何肖嚴廉臣書於紹城臥龍山麓之宣化坊</u></p>

<h1>自序</h1>
<p>予家自先伯父昌齡公肆力於醫。而家君繼之。迄於今蓋四十年矣。猶憶十歲時。家君遘熱病。神識昏瞀。醫藥罔效。會先伯父自江南歸。投以三黃石膏湯。匝旬而起。又憶十二歲時。家弟濟生病中暑。壯熱譫語。面赤煩渴。時家君遠出未歸。延郡中某老醫治之。手甫按脈。即大聲告曰。此兒之病。危在夜半。恐不治。翌日家君自外歸。命剖西瓜汁與飲。一汗而解。未嘗不嘆醫藥之關係如是其重。而專門名家之罕觀為可憾也。十六歲後。先伯父以積勞病逝。家君又屢患肺病咳嗽咯血。呻吟床蓐。家庭之憂患日多。而予習醫之志。因是益堅。遂發家中藏書。朝夕玩誦。家君又時為講解。每治難病。必撮其大要。舉以訓示。凡診察之奧窔。用藥之精微。與夫鑑別死生。暨寒熱攻補先後之次序。皆瞭如指掌。老人諄諄如蒙師之訓學童。寒暑靡間。樂此不疲。數年以後。於醫學始稍窺門徑。於是益搜求舊籍。廣購新書。凡坊間罕見孤行之本。以及管趙諸氏所譯之西醫書。均羅而置諸几案間。參觀互證。久之遂別有會心。乃稍稍為人醫治。丁未戊申兩年。前清兩淮鹽運使司趙都轉。與兩江總督端制軍。先後考試醫學。友人陳君瑞辰等相約觀光。謬獲最優等證書。嗣僑寓京口。遂以醫問世。四方人士。不以予為固陋。競來延診。由是益有所考鏡。既自幸。復自愧也。嘗觀吾國醫學之歷史。其學術精深之士。得力於社會個人之傳習者為多。而政府提倡之力較少焉。非在上者不知提倡也。人材之出。本于山川靈秀。況醫屬專門科學。非學問閱歷兼到。未易得其神髓。故吾國醫書。皆以私家之著作為優。今雖世界交通。政治學術多效法歐西。醫學一科亦採用西法。顧吾以為中華乃文明舊邦。先聖先賢所遺傳之醫學。自有其真精神在。決非他人之說所得而搖撼之。今而後欲求吾國醫學之發達。仍必賴私家之纂述以相為輔助。予不敏。竊嘗有志於此。顧以茲事體大。尚須有待。去年十月。家弟濟生書來。囑將平時治驗方案。勒為一書。以供研究。人事倥傯。未遑議及。今夏濟生復以為言。而知交中亦有借鈔者。爰擇要編次。不分門類。題曰叢桂草堂醫草。蓋仿盧氏之芷園臆草。與喻氏之寓意草云。雖區區一得。未足方此二家。而十年經驗。或可為醫林之借鏡歟。</p>
<p><u>歲在甲寅六冬前一日江都袁焯桂生氏識於京口寓次</u></p>

<h1>卷一</h1>
<p>鎮郡陶駿聲君令閫。腫脹嘔吐。纏延月餘。先是胎前足腫。產後腫益甚。咳嗽嘔吐。經此間諸名醫治之。疊進舟車丸。五皮飲。栝蔞薤白白酒湯。及八珍湯等弗效。且面目肢體悉腫。腹脹如鼓。咳喘不得臥。嘔吐痰水。輒盈盆碗。吐後亦能飲食。診其脈弦滑而有胃氣。言語亦甚清晰。初用小半夏湯加乾薑、五味子。及厚朴半夏甘草人參湯。枳朮湯等。無大效。且嘔吐大發。其時有人薦他醫治之。亦無效。陶君復延予治。詢得其情。則從前延諸名醫時。亦時發時止。或吐或不吐。但每覺胸膈悶塞。則知病將復發。必吐出痰水數碗。然後始覺寬暢。近日又覺悶塞異常。呼吸幾不能通。今雖吐後。猶嫌悶塞。咳嗽不得臥。予沉思久之。恍然曰。此肺中氣管為痰飲閉塞不得通也。氣管之所以閉塞者。緣腹脹溺少。胃中及膈膜間均為痰飲充塞之地。膈中痰飲充塞。則溢於肺中氣管。肺中氣管亦充塞。則滿而悶塞不通。呼吸不利。內既充滿。則激而上出而為嘔吐。以故盈盆盈碗。皆痰涎水沫。痰水既出。則膈膜肺胃等處皆松。故知飢能食。待數日後痰水聚多。又復作矣。是則此病之真諦也。治法以驅痰飲為要。而驅肺中氣管之飲為尤要。苦思半晌。為立一方。用三子養親湯。合二陳湯。加麝香五釐和服。以白芥子能橫開肺中之飲。麝香香竄。能通氣管及膈膜間之閉塞。且能止吐。明日復診。述昨藥服後。覺藥性走竄不已。上竄至咽。下竄至小腹。胸部尤覺竄走。隨竄隨嘔。吐出痰涎甚多。半夜未能安枕。而胸悶覺寬。呼吸便利。嘔吐亦止。蓋氣管之閉塞通矣。遂以原方去麝香。接服三劑。而胸次大舒。咳嗽亦減。仍以原方加冬蟲、夏草、北沙參、生薑、紅棗。又三劑而浮腫亦消。咳嗽大定。但腹脹如故。堅滿不舒。乃停煎劑。每日單服禹餘糧丸二次。每服三錢。忌鹽醬等物。五日後脹漸消。十日後脹消及半。而精神疲憊。自覺心內及臟腑空虛。蓋飲滯消而氣血虛也。令以前丸減半服。並以參、朮、歸、芍、山藥、茯苓等煎劑相間服之。不十日而脹全消。病竟愈。聞者莫不歎服。迄今六年。病未復發。且已經孕育矣。</p>
<p>庚戌四月廣安祥糖棧。袁堯寬君患溫病。初由章綬卿君診治。服藥數劑。病未大減。嗣章君往江北放賑。轉薦予治。壯熱譫語。見人則笑。口渴溲赤。每日只能進薄粥湯少許。舌苔黃薄而乾燥無津。體胖脈息滑數。右部尤甚。蓋溫病也。熱邪蘊伏日久。蓄之久而發之暴。故病情危重若是。治法當以解熱為主。而佐以豁痰潤燥。方用三黃石膏湯。合小陷胸湯。去麻黃、豆豉、半夏。加貝母、連翹、青蒿、梨汁。接服二日。熱未大退。至第三劑後。乃作戰汗而解。但餘熱未清。復以前方去石膏、芩、連、栝蔞。加苡仁、滑石、蘆根、花粉、沙參等清化餘邪。數劑而瘥。凡溫病之解多從戰汗。劉河間吳又可發之於前。葉天士王九峰暢之於後。證以予所經歷。洵精確不易之學說也。蓋前人於此。皆從經驗中得來。惟必俟服藥多劑。始能奏功。而作汗之時。必先戰慄。其狀可駭。醫家當此。何可無定識定力耶。</p>
<p>金峙生君令堂。年近五旬。發熱身痛。舌苔白膩。溲熱胸悶脈滑。予初以三仁湯加連翹、山梔。接服兩劑。熱愈甚。口渴心煩。舌苔轉燥。脈亦轉數。蓋伏邪病熱。邪蘊伏甚重。遂易方。以黃芩、栝蔞、地骨皮、青蒿各三錢。連翹、知母各四錢。木通一錢。銀茈胡二錢。蘆根、茅根、鮮生地各一兩。梨汁一酒鍾和服。一劑熱少平。二劑後。病人忽戰慄惡寒。震動床帳。蓋欲作戰汗也。病家誤會。謂藥之誤。議延他醫。幸其弟陶駿聲君來告。速予往救。予謂此戰汗也。病退之機。不可妄動。及予至其家。則戰慄已止。身出大汗。而脈靜身涼。神氣亦甚安靜。但覺疲倦而已。隨用薄粥湯與飲。以扶胃氣。並以沙參、麥冬、百合、苡仁、石斛、花粉、甘草、茯苓等調養兩日而痊。</p>
<p>庚戌四月。史漢泉君患溫病。昏沉不語。面垢目赤。鼻孔如煙煤。壯熱爍手。汗濈濈然。舌苔黑燥。手臂搐搦。兩手脈數疾。溲赤。問不能言幾日矣。曰。昨猶譫語。今始不能言。然大聲喚之。猶瞠目視人。問近日大便通否。曰。始病曾泄瀉。今不大便已三日矣。問服何藥。則取前醫之方示予。蓋皆不出銀翹散。三仁湯。增液湯之範圍。予謂此熱病未用清藥。陽明熱極胃家實之病也。非下不可。乃與調胃承氣湯。合三黃石膏湯。去麻黃、豆豉。加犀角、蔞仁。接服兩劑。竟未得下。惟矢氣極臭。溲色若血。神識較清。而身熱舌黑如故。原方去元明粉、大黃。加鮮生地、並令恣飲梨汁、萊菔汁。於是熱減神清。黑苔漸退。脈息亦較平。時吐黏痰。目睛轉黃。遂改用小陷胸湯加蘆根、茅根、青蒿、菖蒲、竹茹、貝母、冬瓜仁、木通等芳香清洌之品。以分消膈中痰熱。接服四劑。胸部頭項間遍出白㾦。如水晶珠。腹部腿畔亦發白㾦。於是身熱全清。知飢進粥。但精神疲弱耳。復以西洋參、麥冬、石斛、苡仁、貝母、竹茹、枇杷葉等調養數日。始解黑燥屎數次。當時兩進大黃。而不下者。蓋其戚友中有知醫者。潛將大黃減去一錢。每劑只用二錢。故但有解毒之功。而無攻下之力。而奏效亦較緩也。然究勝於粗工之濫用硝黃。而僨事者矣。</p>
<p>姚某子十五歲。三月間由學校歸家。自覺惡寒欲睡。旋即發熱頭痛。身痛譫語。不能識人。按其脈滑數。溲赤。當以梔豉湯銀翹散出入為方。下午四時復診。神昏譫語如故。身熱自汗濈濈然不止。面赤口渴欲飲水。脈息滑而不數。舌苔薄膩。不黃不燥。因思傷寒論云。陽明病、發熱汗多者急下之。而面赤神昏。又皆當下之症。遂改用小承氣湯。大黃三錢、厚朴五分、枳殼二錢。加黃芩、連翹、知母各二錢。服後解大便兩次。神清安睡。汗止熱解。自能起坐。知飢欲食。其家以為病愈。不復延診。越三日。復發熱有汗。口渴。脈滑數。與白虎合小陷胸湯。石膏用三錢。服後熱退神清。惟咳嗽痰中帶血而已。復與瀉白散加黃芩、知母、茅根等二劑全愈。</p>
<p>張兆魁君室人。年約三旬。體質瘦小。發熱譫語。口渴心煩。欲食冷物。胸悶溲熱。舌苔黃膩不燥。兩脈俱數。與小陷胸湯加茈胡、黃芩。不效。燒熱益甚。遂改用涼膈散。大黃、元明粉各用三錢。服後得下兩次。並得戰汗而熱全退。惟精神萎弱。懶於言動。復以黨參、麥冬、枸杞子、乾地黃、黃耆、炙甘草等補養氣血之藥。兩劑而起居飲食如常矣。</p>
<p>鴻泰糖棧陳祝山。年約三旬。今年七月患伏暑病。延某醫診治。服藥四五日。不效。壯熱頭疼。胸悶咽喉作燥。口渴舌絳苔薄焦燥無津。大便七八日不通。溲赤脈數。蓋暑熱蘊伏腸胃熱結之病。治法當先通大便。以解腸胃之焚。乃以生大黃二錢。元明粉三錢。枳殼、黃芩、麥冬、天花粉各二錢。甘草五分。此藥服後。得大便兩次。熱全退。頭痛亦輕。舌苔轉白膩。脈緩不數。小便仍紅。知飢欲食。乃易方以連翹、苡仁、佩蘭、花粉、沙參、貝母等以解餘邪。越兩日。又復發熱口渴胸悶。是餘邪欲出也。以小陷胸湯合小茈胡湯。去人參、薑、棗。加連翹、青蒿。接服兩劑。得汗而安。大凡應用硝黃之病。決非他藥所能代。若畏而不用。必致纏延誤事。但須辨認真切。用之有方。不可顢頇孟浪耳。</p>
<p>丁未夏耳。予遊吳門。適該處霍亂流行。死亡接踵。有神仙廟旁紙店孀婦。亦染此病。吐瀉交作。醫投五苓散。玉樞丹。附子理中湯。左金丸等法。入口即吐。已延三日。視其目陷形消。四肢逆冷。心煩不能安臥。口苦渴欲冷飲。舌紅根有膩苔。頭有微汗。兩脈皆數。重按無神。蓋暑病也。與黃連香薷飲。去厚朴。加苡仁、蠶砂、半夏、石斛、沙參、黃柏、枇杷葉。服後吐止神安。手足轉溫。二劑利減。能進粥湯。嗣以前方去黃柏、蠶砂。減輕川連。利止。惟心悸腰痠頭暈。精神疲憊。不能起坐。兩脈細小。此病去而氣血虛也。以西洋參、白朮、石斛、山藥、杜仲、棗仁、茯神、當歸、甘草、紅棗等。調補三日而痊。</p>
<p>蘇州閶門外營盤場。有程姓少年。亦病霍亂。吐瀉不已。煩躁畏熱。身無寸縷。而猶畏熱異常。欲臥冷地。四肢悉冷。胸腹部亦均不熱。口渴欲食西瓜。小便短赤。頭項微汗。腳腓痙攣。脈息寸關俱數。舌苔黃燥無津。此暑熱內伏。熱深厥深。內真熱而外假寒之病也。乃以白虎湯合黃連香薷飲。去厚朴、粳米。加麥冬、苡仁、石斛。陰陽水煎。一服吐止。再劑利亦止。而煩渴亦大定矣。惟肢體尚冷。囑以稀粥與飲。安睡一夜。體溫遂復常度。於是但以飲食調養。不勞他藥而瘳。</p>
<p>徐某年約三旬。秋間陡患腹痛吐利。發熱口渴。煩躁不安。舌苔黃膩。脈息滑數。蓋暑濕蘊伏中焦。腸胃中有宿滯也。與黃連香薷飲合平胃散。一服吐利止。身熱退。接服一劑。知飢欲食矣。大凡黃連石膏之病。其舌苔必黃膩。或黃燥。其小便亦必紅赤。若小便清長舌光無苔。則膏連二藥皆為禁劑。蓋舌質之光否。可覘胃臟之虛實也。</p>
<p>朱姓子八歲。秋間病霍亂吐瀉。手足悉冷。口渴欲飲水。目陷形消。不食不飢。舌苔黃膩。脈息小數。用薑汁炒川連三分、法半夏一錢、扁豆三錢、苡仁三錢、木香五分、北沙參二錢。服後吐瀉止。手足溫。舌苔亦退。能進稀粥。但口渴殊甚。遂改用麥冬、天花粉各一錢五分。北沙參二錢。白朮一錢。苡仁、扁豆各三錢。兩劑瘥。</p>
<p>張姓婦年四十餘。先於四月間病心悸怔忡。頭眩發熱。予以天王補心丹加青蒿、地骨等藥治愈矣。及至夏間。陡患腹痛上衝於心。嘔吐清水。下利紅白。痛甚則手足俱冷。汗出神疲。按其脈沉遲而小。望其色則面白唇淡。蓋陽虛中寒之病。殆由乘涼飲冷所致。問之。果連日臥竹床乘涼。且稍食西瓜等物也。與附子理中湯加吳茱萸、桂枝、白芍、砂仁。一服痛稍緩。兩劑痛始平。手足溫。遂以原方去附子。減輕薑、萸。自是利止食進。復以歸芍六君子湯。調治數日而痊。</p>
<p>詹云溪先生幼子。甫生數月。夏間因服荷葉露、銀花露過多。下利手冷。面色㿠白。口吐涎沫。其家以為難活矣。予用理中湯加丁香。減小其劑。一服利止。而涎沫亦不吐矣。二服神氣充。手轉溫。復以五味異功散。培養胃氣而安。今已十歲。為小學校之學生矣。</p>
<p>張星五大令（紹棠桐城人）宰崑山時。其如君年四十餘。患血崩症。經醫治愈。自是遂不能寐。精神疲憊。飲食不多。延予治之。左脈細小。心脈尤弱。臍左有動氣勃勃。甚則上衝。心悸多汗。勁胸間嘗覺筋掣。蓋血舍空虛。筋無血養。而虛陽不能斂納也。乃與阿膠雞子黃湯合三甲復脈湯。加女貞子、枸杞子、棗仁、茯神、柏子仁等。接服五劑。諸症稍退。夜間亦稍能寐。遂接服至十五劑。病大退。飲食亦較多矣。嗣以原方加生地、熟地。製成膏劑。常服全瘳。</p>
<p>庚戌三月。葉姓婦臥病垂危。其子來邀予診。行色愴惶。口稱已經某醫診治數日。稱為不治。並求速往。視之果神色大衰。時出冷汗。手冷額冷。面色萎黃。心悸頭暈。精神不支。脈息小弱。蓋陽氣大虛。亡陽在即之危候也。遂以四逆加人參湯。再加黃耆、白朮、棗仁、白芍、紅棗等。薑、附各用一錢五分。參、耆、術均用三錢。急煎與服。旋即汗止手溫。神氣亦轉。能進米粥。原方去附子。稍輕其劑。接服三日全安。</p>
<p>朱姓婦因病小產。旋即手冷惡寒。自汗不止。胸悶不欲食。脈息耎滑而小。舌苔薄白。此產後陽虛。而兼有痰濕阻滯也。用黃耆建中湯去飴糖。加橘皮、半夏。一劑汗收手暖。二劑全愈。</p>
<p>壬寅臘月。家慈因侍先外祖母病。及經營喪葬事。悲勞過度。覆冒風雪。遂患關節疼痛。不能起於床。服千金獨活寄生湯數劑。痛止。亦稍稍能起坐矣。越兩日晨間。忽大汗淋漓。目直視。手冷。家人見之。惶駭不已。以為不祥之徵也。家君入視後。取吉林人參半枝。紅棗約十數枚。急火煎服。才下咽而神色即覺寧靖。汗亦漸收。復以理中湯加黃耆。接服兩日而安。距今已十三年。未嘗患病。此亦予家得力於醫之一事也。</p>
<p>方兆珍君令媳。年二十餘。臥病經旬。服藥多劑。而煩躁譫語。卒不能平。延予治之。見躁擾不安。妄言罵詈。欲食冷物。手冷。脈息沉弱。口雖渴而不能飲。唇雖焦而舌則潤澤。且舌色不紅。面色黃淡。身不發熱。予謂此虛寒病也。殆寒涼發散太過乎。檢閱前方。果皆芩、連、羌活、栝蔞、海石之類。病家問既系寒病。何以煩躁欲食冷物。而譫語不能寐也。予應之曰。寒病有常有變。凡惡寒手冷。下利清穀。口中和而不渴者。此其常也。若躁擾不安。欲臥冷地。欲食冷物。則其變也。何謂之變。以其寒病而反現熱象也。其所以現此熱象者。因陽氣虛寒。龍雷之火浮越於外。古人所謂陰盛格陽。又曰內真寒而外假熱之病也。治宜引火歸元。否則涼藥入口則立斃矣。乃與四逆湯。乾薑、附子各二錢。加肉桂八分。黨參、白朮、熟地、棗仁、茯神各三錢。煎成冷服。果躁擾漸寧。接服一劑。能安睡矣。自是神安能食。不復罵詈。復以歸芍六君子湯。調補數日而痊。</p>
<p>王姓老婦。年約六旬。偶病感冒。醫者以發散藥與之。次日遂發狂奔走。欲脫去上下衣服。欲臥冷地。其子惶駭。延予診之。予視其面色黃淡。手足俱冷。脈息沉弱。是陽虛欲脫也。急以四逆湯加黨參、熟地、肉桂。兩劑而安。嗣以人參養榮湯。調補數日乃瘥。</p>
<p>壬子正月。利記糖棧駱達三君。患感冒病。頭痛惡寒。飲食無味。脈息小滑。予用蔥豉湯加荊芥、紫蘇、半夏、橘皮等。詎此藥服後。忽喘息不能臥。頭腦中覺熱氣上升。小腹左偏作痛。嘔吐痰水。畏寒手指厥冷。脈息沉弱。蓋陽虛受寒之病。得發散而陽氣益虛也。其頭腦中覺熱氣上升者。腦力素衰。寒氣逼龍雷之火上越也。其喘息不能臥者。肺腎兩虛不能納氣也。其腹痛嘔吐痰水者。寒氣內擾氣血不能通調也。其畏寒手指作冷者。虛寒病之本相也。乃與理中湯合六君子湯。加肉桂、白芍、五味子。服後喘吐俱平。腹痛亦止。能進稀粥半碗。但仍覺畏寒手冷。益信為陽虛矣。仍用前方去茯苓、橘皮。加熟地。服後諸症悉退。病家自以為病愈。遂不服藥。越數日。復惡寒頭痛手冷。時或手足發熱。精神疲倦。不思飲食。舌苔少而色白。小便黃。脈仍沉小。乃以理中湯。合小建中湯去飴糖。加半夏。服後諸症少退。但時覺虛火上升。則頭痛大作。手足亦覺發熱。而其身則殊不熱。遂師李東垣法。用潞黨參、白朮各二錢。肉桂五分。升麻、茈胡、川芎各一錢。炙甘草八分。茯苓三錢。半夏一錢五分。加生薑、紅棗同煎。覆杯而頭痛止。手足亦不發熱。接服一劑而安。凡老年之病屬虛者多。非偏於陽虛。即偏於陰虛。而亦有陰陽兩虛者。醫家於此。尤宜加意焉。</p>
<p>盧谷山年近六旬。患泄瀉。由夏炳如先生介紹邀診。脈息小弱。兩手俱冷。精神疲倦。此脾胃氣虛。陽氣衰弱之病。乃用理中湯加山藥、木香。接服兩劑。精神較好。能進飲食。原方加肉桂四分。枸杞子二錢。又服二劑。手稍轉溫。泄瀉已止。但頭眩殊甚。原方去薑、桂。加熟地。接服三日。頭眩較減。而手仍冷。復於原方中加鹿角膠、黃耆。服兩劑後。精神殊覺爽健。惟手終不暖。蓋高年真火已衰。非旦夕所能奏功。乃囑購鹿茸半具。研末。每日服五釐。用高鹿參三錢煎湯和服。盧君遂托友在瀘購辦參茸。如法服之。半月後返閩。今年春間。盧君復來鎮江。言鹿茸甚有效。現在精神甚好。而手亦轉溫。今擔任賴大有皮絲煙號經理云云。大凡積虛之病。皆須悠久成功。而尤必藉血肉有情之品。始易奏效。鹿性純陽。能補人身陽氣。茸生於首。兼能補腦。故有此特效也。</p>
<p>乙巳二月。季姓婦。咳喘倚息不得臥。惡寒發熱。頭疼身痛。胸悶不舒。心痛徹背。脈沉而滑。舌苔白膩。此風寒痰飲內外搏結。肺氣不得下降而成肺脹也。乃用小青龍湯合栝蔞薤白湯。麻黃、細辛、各四分。乾薑、五味子各五分。栝蔞、薤白各三錢。甘草五分。余藥各一錢五分。服後得汗。而寒熱喘息俱平。惟身痛咳嗽未已。易方。以桂枝湯和營衛。加乾薑、五味子各五分。細辛三分以治咳。一劑效。因貧不復延診。遂漸愈。</p>
<p>吳某年十五歲。咳嗽音嗄。自春徂秋。迄未能愈。咳而無痰。飲食能進。不熱不渴。脈如平人。與三拗湯加乾薑、五味子、半夏。服三劑後。咳減聲音如常。每次麻黃只用三分。至第四劑則減至二分。後以六君子湯調補三日而瘳。</p>
<p>劉某病延兩月。咳嗽吐痰甚臭。身熱口渴。手足心熱。舌紅無苔。右脈滑數。此肺臟伏熱勢將成癰也。與黃芩、貝母、玉竹、蔞仁、桑葉、知母、枇杷葉等作煎劑。加梨汁和服。一劑熱輕嗽減。三劑全愈。</p>
<p>鮑姓子三歲。發熱數日。咳吐臭痰。大便完穀不化。捫其額熱爍手。舌乾苔少。口渴脈數。乃肺臟受熱也。擬方用黃芩、馬兜鈴、地骨皮、知母、貝母、栝蔞、苡仁、桑葉、甘草、枇杷葉。一劑知。二劑已。</p>
<p>孫姓婦年四十餘。素有肺病。咳嗽痰中帶血。頭暈心悸。徹夜不寐。精神疲憊。心內覺熱。飲食不多。脈息細弱。此平日勞神太過。血液衰耗。肺病日久。將成肺癆也。擬方用百合、棗仁、茯神、柏子仁各三錢。沙參、麥冬、地黃各二錢。阿膠一錢五分。服後血止能寐。但汗多氣喘。原方去百合。加黃耆五分。枸杞子二錢。浮麥三錢。胡桃肉三錢。接服兩劑。汗收喘定。但尚有咳嗽而已。原方去黃耆。加地骨皮、貝母、枇杷葉。服三劑後。咳大減。精神亦健。能乘輿出門。遂改用集靈膏。令其常服而痊。</p>
<p>劉錫九君咳嗽多日。音嗄。起居如常。體胖。脈息緩滑。舌有膩苔。蓋痰飲病也。與二陳湯加白芥子六分。白朮二錢。苡仁三錢。三服而瘳。</p>
<p>周珊甫君夫人。年逾五旬。素患肺病。咳嗽哮喘。痰聲如拽鋸。呼吸幾不能通。予視其體胖神強。兩手脈滑有神。蓋富裕之家。奉養太過。肥甘油膩。蘊釀成痰。致肺氣管枝發炎也。擬方用杏仁泥、白前、桔梗各一錢五分。薄荷五分。橘紅八分。貝母、苡仁各三錢。茯苓二錢。甘草五分。枇杷葉一片。作煎劑。一服呼吸大暢。哮喘亦定。接服三劑全愈。</p>
<p>孫姓女。甫周歲。咳嗽多日。初延西醫某治之無大效。後延中醫某治之亦無效。因來求診。予見其精神疲憊。面色淡白。舌紅無苔。滿舌俱破。有汗不熱。乃虛症也。用生脈散加百合、元參、扁豆等作煎劑。初次僅用沙參。接服兩劑。咳嗽大減。神氣亦佳。惟夜間汗多。原方加黃耆一錢。浮小麥三錢。改用黨參。又兩劑。咳嗽亦減。舌破亦愈。其舌上亦並未用吹藥也。</p>
<p>龍耀南君夫人。咳嗽多日。時發寒熱。舌光無苔。脈息濡緩。與生脈散加青蒿、黃芩、苡仁、百合、貝母、枇杷葉。接服兩劑。寒熱退。咳嗽亦減。惟目光不足。視物昏花。原方去青蒿、黃芩、苡仁。加乾地黃、女貞子。三劑而痊。</p>

<h1>卷二</h1>
<p>癸丑冬月。裕大昌木行伊君夫人。年二十六歲。懷孕三月。驟然腹痛下血。既痛且脹。痛甚則頭出冷汗。手冷鼻冷。胸悶嘔吐。前後陰皆阻脹不堪。左手脈伏不現。右脈弱小。面色淡黃白而無光采。舌色淡無苔。此氣血虛寒之象。殆由勞力受寒使然。蓋中下焦陽氣不足腹部受寒。則血脈流行阻滯而為痛脹。胃臟受寒則消化停阻而嘔吐。子宮之血管破裂則下血。左手脈伏者。血為寒凝。營衛之功用失常度也。右脈弱小者。氣血虛寒之本相也。前後陰與腹部阻脹拒按者。血為寒凝。陽氣不能運行也。額冷鼻冷手冷麵色無神者。亦皆虛寒之本色也。其病殆與傷寒直中陰經無異。特孕婦之病。又兼漏下。與常人異耳。問之。果因送其伯父之殯。夜間操麻雀牌未眠。黎明乘輿登山。飽受風寒。歸家即病。擬方以膠艾湯合建中湯法。當歸、地黃各四錢。川芎二錢。阿膠三錢。以止血安胎。肉桂八分。製附子一錢五分。桂枝二錢。炒白芍三錢。以回陽止痛。而散寒邪。砂仁一錢。木香一錢五分。以溫胃消滯。而通阻脹。黨參三錢。紅棗三枚。生薑三片。以扶元氣而和營衛。作煎劑服。明日復診。痛脹均大退。嘔吐亦止。能對予發言。亦能進粥。左脈亦現。面色亦較有生氣。但下血未止。心內常覺空虛。乃以原方去木香、砂仁、桂枝、川芎。並稍減桂、附。改地黃為熟地。而當歸亦減用二錢。加枸杞子三錢。茴香二錢。接服三劑。飲食起居。略如平人矣。一月後。始強健。而胎則杳然。蓋下血時已隨波而墮矣。</p>
<p>金平卿君哲嗣。年八歲。體質素瘦。今年三月出痧。痧後又生泡瘡。至六月初旬。又病喉痧。發熱咽痛。初由西醫蔣某治之。用冷水浸毛巾罨頸項。又用水浴法。及服安知必林。與鹽剝水嗽喉等法。均無效。病勢益劇。其岳家童姓薦予治。時六月十五日也。身熱，咽喉兩旁上下皆潰爛腐穢。舌紅無苔。口渴。溲黃。脈息耎數。蓋陰液大虧。熱邪燔灼於上焦也。熱不難解。惟咽喉全部腐爛而陰液虧耗。斷非實症可比。危險已極。幸神不昏。呼吸不促。不煩躁。尚可挽救。擬方以增液湯為主。鮮生地一兩。麥門冬、元參各三錢。加鮮石斛、金銀花、連翹各三錢。黃芩一錢。天花粉二錢。知母一錢。甘草六分。作煎劑服。外吹錫類散。先用淡鹽湯漱喉。漱後吹藥。金君自以體溫計置病人口中驗熱度。已有一百零五度之高。予謂體溫計雖能驗熱度之高下。然不能分虛實。萬不可泥以論病。若只准體溫計所驗之熱度以定治法。則當用三黃白虎。然就脈象舌色而論。則不獨三黃白虎不可誤投。即西藥中之退熱劑。亦非所宜。否則危亡立見，噬臍無及矣。金君韙之。遂以予方煎服焉。</p>
<p>十六日復診。四肢不熱。身熱亦輕。舌色紅豔而光。毫無苔垢。大便通利。溲色黃濁。言語多。口不渴。徹夜不寐。喉爛如故。脈息虛數。原方去黃芩、花粉、知母、鮮生地。加西洋參一錢五分。棗仁、朱拌茯神各三錢。乾地黃五錢。用百合一枚煎湯代水煎藥。</p>
<p>十七日復診。舌上紅色轉淡。夜間能睡一二時。譫語亦減。咽喉上部腐爛較退。惟下部及隔簾等處。仍然腐爛。精神疲憊。脈息虛細無神。是氣血大虛六候也。急宜培補。擬方以大補元煎合增液湯法。西洋參二錢。炒熟地炭三錢。乾地黃四錢。懷山藥三錢。朱染茯神四錢。麥門冬、元參、石斛各二錢。人中黃四分。吹藥仍用錫類散。日吹數次。</p>
<p>十八日復診。夜寐甚安。譫語亦止。稍能進粥湯。喉爛減退大半。脈息仍細弱無神。仍用原方。熟地加至四錢。又加蓮子三錢。女貞子三錢。</p>
<p>十九日復診。喉爛全退。用毛筆蘸水拭之。腐物隨筆而出。全部皆現好肉。不比前數日之黏韌難拭矣。脈息亦較有神。而現滑象。舌色仍淡無苔。小便清。能進薄粥。仍用原方。熟地減用三錢。去石斛。加扁豆三錢。</p>
<p>二十日復診。飲食較多。乃以原方減輕其劑。接服兩日。眠食俱安。但忽又發熱。或輕或重。而熱之時間又不一致。金君復以體溫計驗之。仍在一百零五度。及零三四度之間。甚以為憂。予曰。無恐也。此氣血未能復原。營衛未能調和。而邪熱之內伏者。仍不免有餘蘊耳。且現在喉爛全愈。眠食俱安。種種生機。與七日以前之危險現狀。相去不啻天淵。乃以前方去熟地。酌加青蒿、佩蘭、苡仁、地骨皮等藥。接服兩劑。遍身發出白㾦。如水晶。如粟米。而熱遂退。飲食亦漸多。但仍不能起床行立。囑以飲食培養。如雞鴨湯、粥飯之類。儘量食之。自是遂不服藥。越數日。為其祖母診病。此兒猶未能起床。但飲食甚多。每日夜須食六七餐。至半月後。始稍能行動。一月後始能出臥室。可以想見其病之危。體之虛矣。當其未能出臥室之時。亦間有發熱便秘。面目浮腫諸現狀。皆未以藥治之。蓋此為病後應有之現象。一俟氣血精神恢復原狀。則自痊矣。此病得瘥。固由病家始終堅信。旁無掣肘之人。而夏君子雨贊助之力。亦足多焉。予用熟地時。病家不敢服。慮其補也。賴夏君為之解說。蓋夏與金固舊交。而亦精於醫者也。</p>
<p>金平卿君令堂。年逾五旬。體素胖。今年六月。疽發背。先由西醫劉某醫治多日。潰爛甚深。而不能生長肌肉。遍身發生小癤。形如豆大。其痛異常。手臂動搖。腿亦顫動。不能起坐。徹夜不寐。西醫見之卻走。稱為不治之症。並斷其死期不能出一星期之外。金君聞之大恐。適予為其公子治喉症。乃邀以診治。並云。聊盡人子之職分而已。其意蓋深以病勢之危。恐終不能起耳。予診其脈洪大不柔。左手寸部尤覺大硬。舌光赤無苔。亦無津液。蓋高年陰液大虧。孤陽獨熾。外症出膿後。津血益傷。加以西醫治法。只知消毒防腐。而不知培養氣血為根本之圖。宜乎愈治愈壞。變症百出也。其時亦有夏君子雨同診。遂共商治法。用復脈湯去桂枝、薑、酒。加棗仁、茯神、黃耆、熟地、枸杞子、雞子黃等藥。加重其劑。黃耆、熟地、乾地黃、黨參、棗仁、茯神等均用五錢。余藥亦均用三四錢。雞子黃一枚。生沖和服。接服三劑。夜間稍稍能睡。背部患處亦稍見新肉。而脈息亦較斂矣。接服至十劑。患處新肉日見增高。遍身小癤亦均出膿而消。舌色亦淡。飲食亦稍能進。手臂兩腿亦均不動搖矣。惟精神疲弱。時欲睡眠。脈息轉虛滑。仍以原方減輕其劑。又服十劑。患處肌肉漸平。而腰以下又發一癰。出膿碗許。仍以前方培養氣血。越數日。病人忽不能安寐。自欲奔走。幾類發狂。舌仍光赤。蓋膿出後陰液復虧。虛火復熾也。乃以原方去參、耆。重用乾地黃、柏子仁、棗仁、麥冬。加蓮子心。兩劑而安。復以培補氣血之藥。服至一月始瘥。</p>
<p>牛瑞堂先生令媳。筱川兄夫人。今年二月患喉痧症。服藥不效。筱川邀予診。痧出鮮紅。咽喉右邊破爛。色紅而兼有白腐。並不大腫。舌前半紅赤無苔。顴紅唇紅。作惡。湯水不能下咽。脈數身熱。此陰液素虧。感受溫熱為病。先宜養陰清熱解毒。擬方用細生地、麥冬、金銀花、紫花地丁、連翹各三錢。貝母、知母各二錢。甘草五分。橄欖三枚。作煎劑。外吹錫類散。明日上午九時復診。述昨藥服後。夜間能安睡兩小時。熱減惡定。能進茶湯。仍用原方。下午十時復診。諸恙無大進退。惟舌光紅無津。片刻不飲茶。則燥硬不柔。身微熱。不能寐。蓋日間親戚問病者多。言語勞神。以陰虧之病。驟然勞神。則津液益虧腦力益衰。而虛火亦益熾。此所以舌本燥硬。而光赤無津不能寐也。非大劑養液安神之法。斷難有濟。幸筱川父子見信。乃以大劑增液湯為主。乾地黃五錢。麥冬、元參各三錢。加鮮石斛三錢。朱拌茯神、棗仁各四錢。百合三錢。甘草五分。蓮子心四分。予坐俟煎藥。且監視其煎藥之法。第三日。復診。諸恙悉減。喉爛亦退。惟精神疲弱。夜間不能多寐。仍以原方。減輕其劑。並加茅根、沙參、地骨皮等藥。接服兩劑。喉爛全平。身熱亦退。痧亦脫皮。但不思飲食。舌淡無苔。脈息耎小。而兼有滑象。蓋津液雖復。胃氣尚虛。乃以四君子湯。加乾地黃、炒熟地炭、生穀芽、炒扁豆、蓮肉等藥。調補數日而痊。</p>
<p>劉子衡君令堂。年六十三歲。今年夏間。因孫兒病逝。悲哭太過。遂患喉症。延予治之。予視其發白如霜。舌紅如朱。中間略有薄苔。咽喉兩旁滿布白腐。以毛筆蘸水拭之。則依然鮮紅之好肉。並不潰爛。煩躁不寧。徹夜不寐。脈息虛耎。蓋勞神太過。虛火上升。心腎不能相交。水火不能既濟之病也。而況守節四十年。持齋二十載。其精血之衰腦力之耗。為何如耶。乃與增液湯。乾地黃五錢。麥冬、元參各三錢。加西洋參二錢。鮮石斛、棗仁、朱拌茯神、百合各三錢。一服煩躁定。能安睡。接服四劑全愈。</p>
<p>張文卿君夫人。年三十歲。今年五月初十日來診。咽喉兩旁腫塞。湯水不能下咽。雖口津亦不能咽。脹塞非常。口有穢氣。兩旁既腫塞。而其下復潰爛。身熱口渴。舌苔白膩。脈息滑數有力。蓋溫毒痰熱。蓄積上焦。汙血壅阻。而成喉癰。治不得法。致腫勢日盛。將成喉閉而死矣。救急之法。當先放血以開其閉。否則牙關拘急。口不能張。呼吸閉塞。神丹莫救矣。乃以刀刺喉內腫處。出紫黑血塊甚多。蓋皆毒血也。隨以蓬萊雪吹之。並以金銀花、紫花地丁、黃芩、貝母、栝蔞、金果欖各三錢。鮮生地八錢。乾生地四錢。川連八分。橘皮一錢。作煎劑。加梨汁一酒鍾和服。下午復診。喉內見黏。有稠膿。乃以毛筆蘸水洗滌。洗出稠膿甚多。喉腫覺鬆。復於兩臂曲池穴。針刺出血。以分毒血上行之勢。仍以原方。再進一劑。明日大雨傾盆。未及來診。第三日來復診。則熱全退。喉腫大消。能進薄粥兩碗。舌苔亦退。又得大便。脈息亦轉耎滑矣。易方以金銀花、貝母、花粉、苡仁、茯苓各三錢。佩蘭一錢。元參、麥冬各二錢。乾生地三錢。接服兩劑全愈。凡喉癰腫勢過甚者。皆由汙血為患。急宜刀刺放血。萬萬不可姑息也。</p>
<p>朱姓婦年五十一歲。素有腦病。發則卒然昏倒。口噤不語。惟心內尚覺瞭然。移時始蘇。其家本住鹽城。因其子在此經商。遂常往來。壬子九月。其媳分娩。三朝日。賀客盈庭。稍形勞碌。始覺頭暈口燥。旋即昏倒口噤。不能言語。兩手指痙攣。口眼歪斜。至次日清晨。仍未甦醒。其戚李某延予治之。已全不省人事。面色晦慘。幾類死人。身不發熱。手指微涼。脈息小數。因其手指痙搐不柔。診脈殊多困難。以箸啟齒視舌。則光而微現白色薄苔。蓋血液虧耗。腦力素衰。復因勞役動火。因而發為痙厥也。乃以增液湯加羚羊角、貝母、石菖蒲、西洋參、白芍、花粉、橘皮為煎劑。並以至寶丹一粒。研碎和入。徐徐灌之。午後七時復診。則藥已灌下多時。而病人亦稍能言語。口亦能張。視其舌色。則紅赤而光。微有白苔數點。面色亦轉活潤。但手指尚痙攣如故。大便溏瀉。脈息與前無異。口乾欲飲茶。是藥已大見功效。乃於前方去至寶丹、石菖蒲、羚羊角。加枸杞子、竹茹、棗仁、柏子仁。接服三日。痙攣全止。能飲食起坐矣。今年六月。來予醫院診病。則貌頗豐潤。精力亦佳。予幾不相識矣。</p>
<p>城內磨刀巷李善門君。年四十餘。呃逆不止。呃聲震床帳。先是李君病。經某醫屢用汗藥。微有呃逆。嗣又改延某醫診治。斷為濕溫病。用大承氣湯。云非下則呃不能止。病家信之。詎知承氣湯服後。不惟呃逆加甚。且不能坐。不能言矣。予視其舌質焦燥無津。按其脈尚有胃氣。捫其身則不發熱。遂勉強擔任。用北沙參、麥冬、玉竹、石斛、乾地黃各三錢。貝母一錢五分。甘草一錢。蓮肉十粒。作煎劑。非專為治呃也。不過以其津枯氣弱。命在垂危。姑以此藥救其津液耳。不料此藥服後。安睡兩小時。呃聲頓止。特醒後則呃又作。予因戒其家人。今日之藥。服後宜任其熟睡。不可頻頻呼喚。擾其元神。俟其自醒。則自然不呃矣。第三日復診。果如予言。呃全止。且能進粥矣。惟神氣呆滯。狀若癡愚。其家甚以為憂。且恐予藥之誤。予曰。無恐也。再過半月。即不癡矣。因以六君子湯養胃湯出入。培養胃氣。接服數日而起。據近世生理學家。謂呃逆由於橫膈膜之痙攣。麥冬、地黃。為補液制痙之聖藥。故能止呃。特未見前人發明及此。而西醫之治呃。又僅有嗎啡麻醉之一法。然則李君之病。於醫學界乃有絕大之關係也。此病治愈。次年六月。有王某者。亦病呃。先是王在南京與人涉訟。被拘多日。遂病回鎮江。予見其呃逆連聲。言語阻礙。詢其病狀。則胸悶不舒。不飢不食。舌苔白膩。脈息沉小。蓋鬱抑過甚。痰水停結於胸膈間而不能消化也。乃與厚朴半夏湯加茈胡、黃芩、香櫞皮、佛手、沉香。接服兩劑，胸悶松。能飲食。惟呃逆如故。其苦異常。因思李善門之事。用麥冬三錢。乾地黃四錢。少佐木香、香櫞、半夏、生薑、紅棗等。服後酣睡兩小時。而呃不作矣。翌日來復診。病人感謝至於泣下。然則此二藥者。殆真有止呃之特效乎。特痰滯壅阻。人實證實之呃。則當先豁其痰。未可驟用此藥也。</p>
<p>丁未七月。予由蘇旋里。道出京口。適童道生君病虐甚重。醫治未效。因偕家兄往候之。見其汗出淋漓。身熱口渴。神氣疲憊。因問病起幾日。何以如此困頓。曰虐發已五日。每至下午八時始發。但熱不寒。熱甚則汗出。甚至濕透衣衾。至天明始退。心煩口渴。不能安寐。因診其脈。兩手皆細數。按之極虛。溲赤而熱。舌燥無津。並無苔垢。閱前服方。則清脾飲二陳湯等法。蓋暑病而得草果、檳榔等辛溫克削之品。耗損陰津而助邪熱。熱甚則迫液外泄。故有大汗淋漓。煩躁不寐之現狀也。急宜甘涼滋潤退熱存津。庶幾有瘳。乃與西洋參、百合、地骨皮、白芍、知母各三錢。川連五分。鱉甲五錢。元參三錢。甘草一錢。浮麥、紅棗同煎。覆杯而愈。</p>
<p>吳德和年四十餘。病虐。每發。但惡寒戰慄。頭疼身重。骨節痠疼。毫不發熱。胸悶無汗。舌苔白膩。口和不渴。按其脈沉緩而滑。蓋貪涼飲冷太過。風寒外襲。冷滯內停。而為病也。與蔥豉湯合平胃散。加桂枝、紫蘇。一服大出冷汗而瘥。</p>
<p>楊某由江北來鎮。病虐甚重。蓋已發數次矣。間日一發。發則大熱煩渴。欲飲冷水。心煩不安。溲赤而熱。診其脈與平人無大異。但略兼滑數之象耳。蓋暑氣深伏為患也。用竹葉石膏湯去人參、半夏、加茈胡、青蒿、黃芩、天花粉、知母、苡仁等。石膏用四錢。余藥各二三錢。作煎劑服。明日復診。述昨藥服後。如飲甘露。爽適異常。仍以原方接服一劑。隔兩日來。述病已去大半。頗思飲食。遂改用沙參、石斛、苡仁、麥冬、佩蘭、花粉等。養胃生津之品而愈。</p>
<p>盧某年約三旬。癸丑八月間。予方午餐。見其走來。旁一人扶之。猶踉蹌不能自立。呻吟不已。予見其狀。遂立即診視。脈息滑數。身熱甚重。蓋虐病發數日矣。燒熱不能耐。溲赤而熱。舌苔乾燥。與竹葉石膏湯去人參、半夏。加黃芩、知母、木通、茈胡等。石膏用四錢。黃芩用三錢。余藥各一二錢。明日復診。述昨藥服後。覺小腹部如有重物壓之。一夜未嘗離汗。遍體舒適。能自行走。遂以原方減輕其劑。二劑而痊。此病用石膏後。覺小腹如物重壓。與趙藜村治袁隨園之案略同。殆由石膏重鎮之力。生理上起此特別之現象歟。</p>
<p>張姓婦年二十五歲。患虐病。先由西醫診治。服金嗘哪霜。虐止。數日後復發。仍由西醫用金雞哪霜。如是者數月。而虐終不斷。延予診治。虐症變為間二日一發。面黃頭暈。胸悶作脹。但尚能飲食。舌苔白薄。脈息緩滑。蓋暑濕痰滯蘊伏於中。營衛不能和調。金嗘哪霜雖能止虐。而性熱有毒。且兼補性。不免有閉塞病氣之弊。且服之日久。則中其毒。遂與茈胡桂枝湯合平胃散。兩劑。胸脹遂松。虐來亦輕。遍身發出疹塊。上自巔頂。下及兩腿。其癢異常。蓋病氣外泄之徵也。仍以原方。接服兩劑而痊。大抵金雞哪霜治虐。只可一二服。不效。則須另用他藥矣。</p>
<p>吳性宜君夫人。年逾四旬。寒熱往來。頭暈心悸。徹夜不寐。胸悶食少。舌光如鏡。毫無苔垢。脈息小數。蓋血液素虧之體。而又感受暑濕。且兼有拂鬱也。與小茈胡湯合增液湯。加棗仁、茯神、青蒿、佩蘭、香櫞皮。二劑而解。復以養血舒郁之方。以善其後。</p>
<p>徐姓婦年近三旬。病虐數日。始猶起居如常。繼則不能起坐。每至虐發時。口渴自汗。頭暈心虛。欲墜。手指蠕動。舌邊破裂。苔薄黃不燥。大便溏。小便熱。左脈細數。右脈小滑而亦兼有數象。蓋生育已多。血液素虧。而又感受時令之暑氣也。用西洋參、麥冬、元參、柏子仁、茯神、地骨皮、知母、白芍、青蒿、甘草。稍加黃連為劑。服後諸症頓退。但關節痠痛。舌現白苔。胸次略悶。乃以原方去黃連、知母。加橘皮、半夏、當歸、棗仁、生薑、紅棗等。接服三日而痊。</p>
<p>己酉秋。友人陶冶青君病虐。始發時。尚能行走。繼則不能起坐。延醫服藥。殊無大效。適予因事旋里。為診之。脈沉弦滑。舌苔滯膩。胸悶身重。骨節痠疼。但惡寒身微熱。口不燥。蓋寒濕痰飲冰伏中焦。陽氣不能健運。非陽和之力不能使之消融。乃以茈胡薑桂湯合平胃散。加薤白、蔻仁、沉香等。厚朴、乾薑、豆蔻。均各用一錢。沉香八分。余藥各二三錢。煎服。吐出稀痰水飲甚多。胸悶略寬。惡寒始解。仍以前方減輕其劑。接服三日。遂知飢能食。後以香砂六君子丸。調養半月而安。</p>
<p>冶青介弟冠三君病虐。每日午後發。發時先覺惡寒。旋即大熱。口渴心煩。頭暈不支。脈息細數。左尺尤甚。溲赤苔少。蓋平日用腦太過。陰液素衰。而復受暑也。乃與青蒿鱉甲湯去生地、丹皮。加川連、苡仁、沙參、銀茈胡、元胡、六一散等。覆杯而愈。</p>

<h1>卷三</h1>
<p>楚觀軍艦鄒允坤君。年二十八歲。因夏間冒雨追取舢板。感受風濕。遂病腹脹腿腫。下及兩腳。初在上海某醫院醫治。服瀉藥不效。九月該艦來鎮江。延予診治。發熱胸悶。舌苔黃膩。腹脹不舒。脈滑溲赤。蓋濕勢蘊伏。兼有痰滯。初用半夏瀉心湯。小茈胡湯。小陷胸湯等方。熱退胸寬。惟遍身關節作痛。因於清利濕熱方中。加羌活、秦艽、桑枝、牛膝等藥。以治其痛。詎知此藥服後。次日忽大喘不止。速予往診。視之果喘息不寧。精神疲憊。不能起坐。診其脈。兩手俱細弱無神。舌色亦轉光而無苔。面色黃淡。蓋病退而元氣大虛欲脫矣。遂急書方。用潞黨參三錢。西洋參三錢。熟地四錢。黃耆、枸杞子、胡桃肉各三錢。乾薑八分。五味子、甘草各五分。水煎服。明日其伴某君復來延診。謂予曰。先生真神人也。昨藥服後。喘息即止。而神氣亦寧。安睡一夜。予遂偕往觀之。果安靜如平人。但起坐時。仍覺喘促。因囑以原方再服一劑。此藥服後。喘則定矣。而腹忽脹大。如懷孕之婦人。大小便不通。乃以資生丸去黃連。加橙皮、木香作煎劑。一服而脹松。接服五劑。脹全消。每餐能進飯一碗余。並能起立行走。但覺腿腳痠痛無力而已。其時江浙聯軍。方攻南京。該艦奉調。急欲赴寧。乃於前方去山楂、神麯。加炒熟地炭、牛膝、杜仲等藥。以與之而行。大凡虛實複雜之病。其中必多轉變。醫家當隨其機而應付之。曲折變化。一如其病。苟稍執滯。其不覆敗者幾希。雖然。此豈可與淺人道哉。</p>
<p>孟姓婦年逾四旬。素患白帶。庚戌秋間臥病。服藥不效。遂延予治。病者煩躁不安。徹夜不寐。稍進湯飲。則嘔吐不已。臍左有動氣。白帶頻流。自覺燒熱異常。捫其身涼如平人。脈亦弦小不數。舌紅赤光。毫無苔垢。問其家人。病者性情素躁。且已產育十二胎。蓋血液虧竭。陽熱偏勝。加以所服藥餌。皆辛散苦寒之品。以致胃氣益虛。胃液益竭。而神不守舍也。乃與黃連阿膠湯。加沙參、麥冬、熟地、棗仁、茯神、牡蠣、龍齒、珍珠母、硃砂塊、磁石、蔞仁等藥。芩、連只用數分。熟地、阿膠等則用三錢。以雞子黃一枚。生攪沖服。一劑煩躁定。能安睡。二劑後眠食俱安。但精神疲憊。遂以前方去芩、連。加蓯蓉、枸杞。填補精血。接服數日而痊。</p>
<p>王姓婦。發熱頭疼。嘔惡不已。醫用荊、防、蘇葉等藥不效。予診其脈數口渴。舌苔薄膩。溲熱胸悶。此暑濕痰滯蘊伏中焦。胃臟不能運化之病。乃與橘皮竹茹湯。加黃連、半夏、旋覆花、佩蘭、枇杷葉、茯苓、苡仁等藥。服後得戰汗而熱退嘔止。能進稀粥。復以原方減輕其劑。加沙參、麥冬。全愈。</p>
<p>王善餘次子。年十六歲。陡患腹痛嘔吐。惡寒發熱。痛甚則出汗。舌苔薄膩。脈緩滑。與茈胡桂枝湯去人參。加蔻仁、木香。一劑痛嘔俱止。寒熱亦退。接服一劑全愈。</p>
<p>吳姓婦年二十餘。夏間陡患嘔吐心煩胸悶。頭眩口乾。自服痧藥及十滴藥水。均無效。予以黃連五分。吳萸二分。旋覆花、半夏各一錢五分。香櫞花五朵。橘皮八分。六一散二錢。代赭石三錢。一劑而愈。</p>
<p>某妓十六歲。腹痛嘔吐。先數日天癸來時。犯房事。旋即腹痛。嘔吐下利。胸悶發熱。痛作則呼號不已。舌苔膩。脈滑。此平日飲食不慎。胃病而兼子宮病也。因與桂枝湯。加厚朴、木香、砂仁、半夏、當歸。服後腹痛較輕。惟吐利未止。身熱口渴。溲熱。溺時則小腹大痛。脈弦滑數。遂改用黃連湯加厚朴。於是腹痛大定。身熱亦清。但嘔吐黏痰甚多。乃以原方去桂枝、厚朴、半夏。加麥冬、竹茹、神麯、佩蘭、生薑汁、萊菔汁等。服後得暢汗而痊。</p>
<p>查養和女傭十八歲。端午節啖糯米粽過多。遂病胸膈飽悶。惡寒發熱。舌苔垢膩。脈息滑大。先與平胃散合枳桔湯。加神麯、栝蔞。不效。乃於方中加滾痰丸三錢。服後得大便兩次。胸膈遂通。嗣以原方去滾痰丸。合小陷胸湯。接服兩劑全愈。</p>
<p>黃煥文君病濕溫。予已為之治愈矣。未幾因飽啖雞肉葷面蓮子等物。復病胸次滿悶不舒。發熱口乾。舌苔干膩。與枳桔湯合小陷胸湯。加神麯作煎劑。並令先服滾痰丸三錢。服後先得大便。隨即得汗甚多。衣襟俱濕。蓋前病之餘氣未蓋。不僅食滯為患也。自是熱退胸舒。知飢能食。復以六君子湯加麥冬、苡仁。接服兩日而瘳。</p>
<p>郭某年六十餘。臘月間患疝病。外腎根部。腫硬如雞卵。疼痛非常。惡寒不熱。口乾。舌光無苔。而色不紅。蓋寒疝也。其堅硬如雞卵者。寒邪搏結得溫則消散也。乃以烏頭桂枝湯。蜜炙烏頭三錢。桂枝、白芍各二錢。甘草一錢。加黨參二錢。乾薑八分。小茴香、當歸各三錢。木香一錢。作煎劑。服後至夜間痛始定。腫硬亦消。口乾亦止。翌日。以原方用羊肉湯煎藥。並令其煨食羊肉而痊。</p>
<p>龍耀南年逾五旬。素有疝病。時發時愈。辛亥冬月。病復作。然與從前發病時情形不同。自覺有氣從臍下直衝於心。則心痛欲裂。於是手冷汗出。不能支持。吸鴉片煙暫止片刻。然於病無濟。初猶間一二日始發。繼則日發無已。精神疲倦。飲食大減。兩脈弦小。舌中有白苔。蓋奔豚病也。乃腎氣素虛。復受客寒。身中陽氣不能勝寒氣之侵逼。則上衝而作痛。昔人所謂腎氣凌心者是也。乃與桂枝加桂湯。再加熟地、鹿角膠、小茴香。服兩劑後。痛大退。越兩日。天氣愈寒。而病之復作。更兼嘔吐。遂改用理中湯加肉桂、吳茱萸、半夏、鹿角膠、沉香。接服三劑全安。</p>
<p>李姓婦年約四旬。天癸兩月未來。嘔吐不能飲食。茶湯入口便吐。略有惡寒發熱等症。予診其脈。緩滑有神。乃告之曰。孕也。病家疑信參半。急欲止吐。屢服藥而嘔吐偏不能止。復延他醫診治。議論紛紜。方藥亦各不同。數日後嘔吐如故。日漸瘦弱。一月後其家復來邀診。入其室則病人方痙厥未蘇。兩手緊握。兩膝亦蜷。面色黃瘦。問之。則諸醫之藥皆無效。而病人又不願服藥。故纏延多日。並問究系何病。死生何如。蓋其家已議備後事矣。予曰。人雖瘦弱。痙厥可畏。而脈則緩滑有生氣。非病也。孕也。因囑其不必服藥。但以粥湯及雞鴨湯與飲。蓋以婦人惡阻。有過六十日或八十日始愈者。不可妄以藥治也。又月餘。其侄來診病。問之。則已漸愈。稍能飲食矣。及至臘月。其婿送診金來。復問之。則已飲食步履如平人矣。至今年三月果生一女。金匱論婦人惡阻。有絕之之戒。不圖於今日見之也。</p>
<p>孫姓子七歲。臘月間發熱惡寒。咳嗽體倦。飲食減少。脈緩不數。初用蔥豉湯加薄荷、桔梗、杏仁、甘草等。服後頸項及胸背等處。發現痧點。猶隱約在皮膚間。尚未大現於外也。仍用原方。第三日痧大現。胸背頸項手臂等處。均密布而色紅豔。夜間熱甚口渴。遂改用桑葉、金銀花、杏仁、益母草、花粉、貝母、甘草等。第四日熱仍不退。舌色紅赤起刺。毫無苔垢。遂易方。用地骨皮。乾生地各三錢。麥冬二錢。北沙參一錢。白茅根三錢。貝母一錢。枇杷葉一片。一服熱退神安。舌色亦淡而無刺矣。接服一劑全愈。</p>
<p>楊某年近三旬。素有吐血病。遇勞則發。今年五月。因勞役憤怒。血症又作。吐血成碗。發熱咳嗽。延醫服藥。始尚小效。繼則大吐不止。服藥不效。其戚王姓延予治。問其情形。每日上午四句鍾時。即大吐血。咳嗽有痰。心煩口渴。欲飲冷水。自覺胸部燒熱。心胸間喜以冷水浸手巾覆之。知飢能食。舌苔薄膩微黃。兩手脈數不大。形容消瘦。予謂此暑熱伏於肺胃。熱迫血而妄行。欲止其血。當先降其熱。熱降則血安於其位。不治而自止矣。以玉女煎合清燥救肺湯為劑。生石膏四錢。桑葉一錢。乾地黃四錢。阿膠三錢。貝母、麥冬、沙參各二錢。杏仁一錢。枇杷葉一片。服後覺涼爽異常。腹中雷鳴。心內空虛。身熱亦稍平。上午四時未吐。至午後始吐。咳嗽痰多。仍以原方加竹葉三錢。栝蔞根二錢。棗仁、柏子仁各四錢。接服兩劑。血幾全止矣。惟精神疲憊。時出冷汗。脈息耎大無力。舌上無苔。乃熱退而元氣虛也。況吐血多日。亡血已多。安有不虛之理。易方用生脈散加黃耆、熟地、枸杞、棗仁、阿膠。接服兩劑。汗漸少。能進粥兩大碗。惟咳嗽痰中帶血。嗽甚則亦或吐一二口。但迥非從前之洶湧耳。乃以百合固金湯合千金葦莖湯。出入調治。數日後能起床行走。飲食亦大進矣。遂以飲食滋補。兼服瓊玉膏而瘳。</p>
<p>家君自少時即患肺病。咳嗽咯血。必服瀉白散及貝母、山梔、麥冬等藥數劑始愈。嗣後遇勞碌及惱怒時。病即復作。然亦有隔數年不發者。丁未夏月。偶因冒暑發熱。而舊病亦復發。較前益劇。先是某日夜間。覺喉內有物上溢。以為痰耳。遂咯吐數口。及張燈視之。則皆血也。由是咯血不已。或純血。或與痰質混和。精神疲憊。不能起於床。服阿膠、地黃、麥冬、貝母、枇杷葉等藥小效。飲食亦稍能進。面色如常。身不發熱。亦無盜汗口渴等症。脈息亦尚平靜。遂仍以前方進。詎意次日晚間。血忽上湧。連吐數口。遂昏暈不能言。奄奄一息。急以潞黨參五錢。西洋參五錢。煎湯進。及參湯服下數分鐘。始能言語。謂心內慌慌。周身肉顫。語時聲音極低。蓋元氣大虛欲脫也。遂仍以參湯和阿膠、熟地、棗仁、枸杞等藥煎湯進。並以豬蹄煨湯服。如是調養至十數日。始漸入佳境。而胃納亦甚佳。每日須六七餐。過時則飢。每餐皆豬蹄、海參、雞子、粥、飯等物。且惟此等滋補品能受。若蔬菜、萊菔及豆腐漿等類。皆不堪食。偶或食之。則覺嘈煩易飢。蓋亡血之後胃液耗竭。非藉動物之脂膏不能填補也。迨一月後。精神漸復。亦能為人診病。但不能用心思索。每寫藥方。則手顫眼花。行路只能及半里。再遠則不能行矣。此丁未年焯由蘇州返里。侍疾筆記之大略也。其後三年病未大發。精力亦較前康健。辛亥七月。天氣酷熱。偶因診事勞碌。病又復發。咳嗽咯血。發熱口乾。服清養藥數劑。雖小愈。而精神則殊疲弱。至九月間。武昌革命正在進行之時。吾揚居民。紛紛遷避。幾於十室九空。家君日聞此耗。驚憂交併。於是病又大作。咳嗽咯血。能坐而不能臥。精神益疲。煎劑無大效。乃以兩儀膏進。日服三次。甚覺合宜。接服至十日。血漸少。亦稍稍能睡矣。自是遂以兩儀膏集靈膏二方合併。仍製成膏劑。接服月餘。咯血全止。精神亦大恢復。但微有咳嗽而已。計前後凡服黨參斤許。西洋參數兩。枸杞子斤許。熟地二斤。乾地黃、麥冬、阿膠亦各數兩。距今已將三年。病未復發。且精神矍鑠。日夕奔走。為人治病。嗚呼。藥之功顧不大歟。今編此書。特志崖略於此。以俟高明教正焉。</p>
<p>曹韻笙先生如君。年三十餘。素患肺病及頭痛病。每勞怒啖黏膩肥甘等物即發。發則頭痛目昏。咳嗽喉中如水雞聲。胸悶不飢。舌苔薄膩。寸關脈滑。蓋產育已多。腦筋衰弱。而又吸阿片。喜肥甘黏食。痰滯阻塞為病也。每次均用桑葉、杭菊、薄荷、杏仁、貝母、桔梗、前胡、橘皮等藥奏效。今已數年。皆賴此方之力。現悉黏膩肥甘之患。已改用他種食品。而病發亦輕。不復如前此之劇矣。</p>
<p>姚某子六歲。六月間患痢症。裡急後重。日夜不休。發熱口渴。舌苔黃膩。兩脈滑數。用香連丸加黃芩、枳殼、檳榔、苡仁、六一散。作煎劑。黃連只用四分。余藥亦只用一二錢。一劑痢減半。再劑全安。</p>
<p>張小芬君病痢。下利腹痛。裡急後重。困苦不已。脈息滑數。與小承氣湯合香連丸。加檳榔、木香。服後痛痢俱止。但轉為發熱胸悶。是裡氣得通而余病將從表解也。乃易方用小陷胸合小茈胡湯。去人參、甘草。加枳殼、桔梗、厚朴。得汗而解。惟腹中作脹。不思飲食。舌現白膩苔。復易方用平胃散。加黃芩、蘇梗、蔻仁、佩蘭、苡仁等兩劑全瘳。</p>
<p>夏某子四歲。下痢紅白。腹脹身不熱。口不渴。舌色淡無苔。脈緩滑。與平胃散加白朮、木香、砂仁、扁豆等。接服兩劑而痊。蓋過啖生冷等物。腸胃不能運化也。</p>
<p>殷某子四歲。下痢多日。手足冷。時出冷汗。脈息小弱。神氣疲倦。口不渴。舌無苔。此非痢疾。乃陽虛欲脫也。不溫則死。乃與理中湯。參、術各用三錢。乾薑八分。甘草八分。加生薑、紅棗煎服。一服汗收手暖。下利亦減。接服一劑而安。</p>
<p>李善門侄女。年二十餘。患痢疾。醫用大黃、檳榔。及三物備急丸數劑。下利益甚。裡急亦迫。至於脫肛。每至解大便時。腹痛肛墜。困苦異常。乃與補中益氣湯。一服而脫肛愈。兩服而痢亦止矣。</p>
<p>滕雲路君令堂。年七十餘。病痢多日。至於脫肛。精神疲憊。頭暈心悸。不能起坐。舌光無苔。脈息小弱。與補中益氣湯加麥冬、白芍、木香。三劑而痊。</p>
<p>江某子十五歲。瀉利年餘。面黃體瘦。食少作惡。舌光無苔。口乾頭暈。心悸脈細。每日猶瀉十數次。所瀉皆稀糞水。蓋瀉利日久腸胃中之脂液消亡。昔人所謂下多亡陰是也。與大補丸煎。加黃耆、赤石脂、麥冬、玉竹。接服兩劑。而瀉利已減去十之六七。頭暈心悸亦平矣。再服數日全愈。夫參、耆、熟地。為瀉痢病最忌之藥。蓋補滯之品能閉塞腸胃中之病毒致人於危。而此獨以補藥奏功者。虛實異宜也。然亦惟純虛無滯者。始可純補。否則又當別論矣。</p>
<p>路某病痢年餘。日夜數次。手指清冷。脈息小弱。飲食起居如常。與理中湯加黃耆、木香、厚朴、白芍。服兩劑。痢即止。接服數劑全愈。</p>
<p>完某子三歲。病後泄瀉汗多。口乾不欲飲茶。體瘦神疲。咳嗽有痰。小便清。舌色淡。純屬虛象。用四君子湯合生脈散。加黃耆、花粉。服後汗止瀉減。但咳嗽多痰。原方以花粉易貝母。接服兩劑而安。</p>
<p>王姓婦年五十餘。夏間陡患泄瀉。暴注下迫。一日夜二十餘次。發熱口渴。胸悶腹痛。舌苔黃膩。脈數溲熱。蓋暑濕蘊伏。腸胃中兼有宿滯。火性急速。故暴注下迫也。病者聞之嘆曰。真名醫也。今年家中因財政困難。故將樓下房屋。賃租與人。自居樓上。詎知亢熱非常。自知受暑云云。遂用黃芩湯加連翹、苡仁、六一散、佩蘭、枳殼。一劑熱退利減。二劑全愈。</p>
<p>壬子四月。張兆魁君患溫病。頭痛發熱胸悶。舌苔淡黃膩。與小茈胡合小陷胸湯。去人參。加厚朴。服後熱退悶松。至夜間覺煩懣不適。鼻衄如注。次日清晨。速予往診。血仍未止。診其脈緩滑不數。捫其身涼如平人。問其苦則但覺心中燒熱而已。遂易方用乾生地五錢。阿膠五錢。麥冬、牛膝、貝母各三錢。茅根五錢。黃芩二錢。梨汁一小鐘和服。覆杯而愈。此四月十三日事也。至五月初二日。張君又病。咳嗽嘔吐。潮熱胸悶，脅痛。舌苔薄膩。脈滑不數。蓋天氣驟熱。濕穢逼人。而又兼有惱怒鬱悶之事。遂釀成濕溫而兼胃病也。初用小陷胸湯加茈胡、橙皮、佛手。接服兩劑。不見功效。而嘔吐益甚。遂改用旋覆代赭湯去人參。加茈胡、黃芩、黃連、青蒿、六一散、苡仁。服後嘔吐少平。遂仍用原方。明日午後復診。則病人方戰慄惡寒。厚被覆之。猶覺畏冷。旋即發熱。予謂恐將作戰汗。否則病將轉瘧而退也。因仍以原方減輕其劑。至晚間八時。其僕復來延診。述現在出汗不止。兩手俱冷。舉家惶恐。診之。脈息虛緩有根。惟神氣疲憊。懶於言動。問其苦。則曰。心內慌慌不寧。蓋戰汗後元氣大虛。能放而不能收也。當以藥力助之。用潞黨參四錢。生黃耆四錢。枸杞子四錢。炒棗仁四錢。朱拌茯神四錢。甘草一錢。紅棗五枚。立遣其僕購藥。急煎與服。併力戒其家。不可慌亂僨事。服後汗止神安。酣睡一夜。明日復往診視。則病人方坐而食粥。言語幾如平人。仍以原方減輕其劑。數日後。張君偕其弟小芬君來予寓診病。則全愈矣。</p>
<p>張華亭子十五歲。癸丑夏間臥病。服藥五劑弗效。延予診之。病人常覺心內煩雜不安。數日未能眠。大便泄瀉咳嗽。咳則右脅作痛。身熱。舌邊紅。苔薄白。舌動則現裂痕。小便黃濁。精神疲倦。脈息耎數。閱前服方。則檳榔、枳實、黃連、栝蔞、薤白、生地、薄荷、桑葉等。蓋克削過甚。胃津耗竭。濕熱未清。而腦力復受損也。擬方用北沙參二錢。百合四錢。棗仁、朱拌茯神各四錢。苡仁三錢。青蒿三錢。佩蘭一錢五分。杏仁二錢。枇杷葉一片。朱染燈草二尺。作煎劑。服後安睡兩小時。心煩定。自覺爽快多矣。大便亦不泄瀉。食鍋巴糕數片。身熱亦輕。脈轉緩滑。原方去佩蘭、杏仁。加鮮石斛三錢。貝母一錢。枸杞子二錢。茅根三錢。接服兩劑而痊。</p>
<p>戴姓子甫周歲。壬子夏間。泄瀉發熱。延幼科治之。服藥三四日。病益劇。延予診之。則已喘促不安。目上視。手足抽搐。作舞蹈狀。舌光紅無苔。面色慘淡。頭微熱。手足微冷。身不熱。胸部覺飽滿。倏喘倏搐。搐則目上視。無片刻安寧。口渴。與以茶則少安。頃刻又喘又搐上視矣。病甚危險。予見其母衣孝服而哭甚哀。蓋其父歿才一月也。為之惻然。遂勉力治之。用四君子湯。黨參二錢。白朮一錢五分。茯苓一錢。甘草五分。加乾地黃三錢。朱拌茯神三錢。扁豆三錢。木香八分。作煎劑。蓋以泄瀉多日。胃氣已虛。而舌光無苔。氣喘手冷。又為陰陽兩虛之證。其手足抽搐而目上視者。則筋無液養。而現腦筋症狀。昔人所謂痙病是也。姑以此方救其元氣。養其陰液。非能必其活也。詎次日清晨。病家遣人來告。謂此藥服後。即能安眠。喘痙俱止。至夜間兩句鍾時。解大便一次。胸滿遂平。惟神氣疲弱。仍以原方加枸杞子二錢。麥冬一錢。山藥三錢。並令以乳與飲。及以米粥與食。如此調養數日後始痊。</p>
<p>潘錦文子兩歲。瀉利數日。經幼科醫治之無效。遂延予治。手冷汗多。精神疲憊。時作噯氣。舌苔薄膩。脈息耎滑。此暑濕痰滯之病。治不得法。而胃氣受傷也。宜先固正氣。用理中湯。黨參、白朮各二錢。乾薑五分。加黃耆八分。木香五分。服後汗漸少。手轉溫。接服一劑。汗全止。但泄瀉發熱。口渴欲飲。入暮熱甚。舌苔轉為黃膩。遂易方用青蒿二錢。黃芩、佩蘭、桔梗各一錢。枳殼一錢五分。苡仁三錢。滑石二錢。花粉一錢。接服兩劑。渴稍平。泄瀉止。惟夜仍發熱。舌苔厚膩而黃。舌尖紅。目睛黃。小便清。蓋濕熱痰滯蘊結上焦。病在上而不在下也。仍宜清輕開化。遂易方用旋覆花五分。石菖蒲三分。苡仁三錢。桔梗八分。枳殼一錢五分。茵陳一錢五分。連翹二錢。茯苓、六一散各二錢。茅根四錢。服後熱較輕。舌苔亦退。二便通利。乃於方中去菖蒲、旋覆、茯苓、六一散。加山梔、貝母、青蒿露、絲瓜絡、沙參、枇杷葉。接服兩劑。熱全退。遂改用沙參、麥冬、百合、花粉、茅根、扁豆、苡仁、茵陳、石斛等藥。三日而安。凡小兒之病。易虛易實。此病本由暑濕乳滯蘊結上中二焦。致泄瀉發熱。徒以幼科醫家。不知此理。犯葉天士之戒。妄以山楂、神麯、黃芩、防風、葛根、枳實等消導升散之劑。致胃氣受傷。故現汗多手冷。得理中湯而胃氣回冷汗止。然病究未去。故復轉熱渴而舌上現黃厚苔。得清輕開化之藥。則病去而熱退。步驟井然。不可稍差銖黍。其舌苔轉黃厚。與熱渴大作者。實理中湯有以促成之。然非舌苔黃厚。既熱且渴。則清化之品亦胡可浪投。相違適相成也。又小兒之病。幼科多嚴禁乳食。不知乳食過飽固足增病。而過飢亦能傷胃。此病當熱渴苔厚之時。則暫禁乳食。熱輕苔退。及出冷汗之時。則漸與乳飲。但勿使其過飽耳。飲食起居為看護病人之緊要關鍵。小兒為尤要焉。蓋襁褓之兒。飢飽皆不能自言。醫家病家。尤宜體貼周至也。</p>

<h1>卷四</h1>
<p>王姓婦小產後。心慌不寐。發熱惡寒。頭暈汗多。口乾舌苔少。舌尖破皮。脈息虛數。此臨產時去血過多。氣血兩虛之象。蓋陽虛則惡寒。陰虛則發熱。陰陽俱虛則惡寒發熱也。問之果下血三日。而胎始墮。胎墮時。又極艱苦。暈厥數次。而體質又瘦弱。遂以補養氣血安神斂汗之方。一劑而安寐汗收。寒熱俱退。能起床行立。進粥半碗。二劑而全愈矣。方用熟地、阿膠、麥冬、牡蠣、棗仁、茯神各三錢。乾地黃四錢。黃耆二錢。紅棗三枚。水煎。</p>
<p>癸丑四月。小碼頭洪姓婦。年逾二旬。患失血症。小便下血塊。大便亦帶血。陰戶酸墜。甚至酸及於心。時時欲尿。精神疲弱。服某醫參耆等藥數劑無效。且腹脹而飲食減少矣。診其脈虛小無力。此血虛而腦筋衰弱之病。殆由房勞過度歟。為制方用熟地、生地、枸杞子、鹿角膠、阿膠各三錢。炒棗仁五錢。柏子仁四錢。朱拌茯神五錢。香櫞皮一錢五分。白芍二錢。煎服。接服兩劑。越日復診。則病已大退。又囑其服數劑。全愈。</p>
<p>郵政局郵差某姓婦。產後忽大笑不止。笑聲達戶外。雖以手掩其口。亦不能止其笑。面色黃淡無華。兩脈細小。自汗氣促。此臨盆下血過多。腦無血養。致腦之作用失其常度。殆由平日憤郁太過。乃有此變象歟。治法當以補養氣血滋益腦髓為主。而一切治標之藥。皆不可犯也。擬方用熟地、阿膠、棗仁、茯神、柏子仁各四錢。白芍三錢。五味子一錢。黨參三錢。黃耆二錢。雞子黃一枚生沖和服。服後即能安寐。至次日下午。笑復作。蓋血液尚虧。一劑之藥力不足以填之也。仍以原方。服二劑後。笑不作。遂以飲食調補而安。</p>
<p>三侄德謙生母安氏。今年六月初十日。陡患發熱惡寒。手麻胸悶。身困。舌苔白膩。脈息沉緩。蓋乘涼貪食西瓜過度。冷滯傷胃。而又感冒風寒也。初用藿香正氣散煎服。無大效。手足俱麻。胸悶作痛。乃於原方加桂枝、丁香、當歸各一錢五分。安睡一夜。明日午後。手復麻。胸悶作痛。噯氣作惡。舌苔白膩。口不渴。脈沉小緩。手微涼。不發熱。蓋寒濕之氣。與痰水阻遏中焦。胃中陽氣受其壓抑。不能運化如常。其手足麻者。中焦受病。則應於四末。脾胃主四肢也。病勢殊重。前藥尚不免嫌輕。易方以桂枝二錢。厚朴一錢。蒼朮二錢。吳茱萸六分。母丁香、半夏各一錢五分。木香一錢。茯苓三錢。當歸二錢。加生薑煎服。先服頭煎。服後旋即嘔出清水涎沫。約有碗許。胸腹竄痛。上下不停。手仍麻。復以二煎與服。服後出汗矢氣。而痛遂止。能安寐。於是諸病悉除。但不思飲食而已。乃以桂枝湯合平胃散。減輕其劑。接服兩劑而痊。</p>
<p>馬姓女年二十歲。今年七月患暑病。初由幼科某君診治。用青蒿、六一散、栝蔞、貝母等藥三劑。又用大黃等藥二劑。大便雖通。而病不退。幼科仍主張用大黃。病家不敢從。乃延予治。病人午後發熱。胸悶不舒。口燥溲熱。胸膈間熱較他處為甚。舌苔黃薄有裂痕。脈滑兼數。蓋暑濕蘊伏肺胃。病在上焦。攻下只通腸胃。與肺無涉也。治宜輕清開化上焦。則病自愈。擬方用杏仁、沙參、貝母、蔞皮各二錢。桔梗一錢。石菖蒲六分。佩蘭一錢五分。連翹三錢。黃芩、麥冬各二錢。鮮石斛三錢。枇杷葉一片。煎服。明日復診。述昨藥服後。夜間能睡。熱退。胸悶亦除。但覺飢而欲食耳。遂以原方去菖蒲、蔞、貝、桔梗、黃芩、杏仁。加絲瓜絡、天花粉、甘草。兩劑而安。凡病在上焦。皆不可用重藥。葉天士言之最詳。此即素問所謂其高者因而越之之義。蓋不僅指吐法言也。</p>
<p>潘信夫君哲嗣。年二十五歲。自去年八月病狂。妄言罵詈。棄擲杯具。延醫服藥。祈禱鬼神。病日以劇。其家另以僻屋居之。今年二月。始延予診。罵詈妄語。終日不休。亦不能寐。面色如平人。舌尖紅而苔膩。大便三日未行。飲食如常。脈息沉滑。此胃熱有痰。病尚可治。蓋胃熱則登高而歌。棄衣而走。今彼罵詈妄語。與登高而歌無異。而舌苔膩。能飲食。數月之病毫無倦容。大便又常秘結。此皆實象。而非虛症也。乃以小陷胸湯合滌痰湯。去人參、南星。加麥冬、茯神、知母等藥。黃連用八分。蔞仁、竹茹、麥冬、茯神各三錢。余各一二錢。接服兩劑。大便通利。夜間能睡。惟夢遺泄精。舌苔仍膩。原方去枳殼、竹茹、知母。減輕川連。合寧志膏。仍作煎劑。又服兩劑。諸恙悉瘥。但覺困倦欲睡。遂以飲食調養。不勞余藥而瘳。</p>
<p>城內紅旗口王善余之子。十九歲。由常州病歸。頭疼身重。肢節痠疼。發熱譫語。咳嗽痰中夾血。面色晦黯。脈息滑數。蓋濕溫而兼肺病也。用小陷胸湯加青蒿、黃芩、貝母、苡仁、連翹、滑石、生地、茅根、枇杷葉等。一劑頭面得汗。咳少減。二劑熱退神清。夜間能睡矣。復以原方減輕其劑。接服兩日。得大便一次。每餐能進粥碗許。遂改用北沙參、扁豆、苡仁、白朮、麥冬、白芍、黑豆、甘草、茯苓等養胃之品而瘥。未幾。因口腹不慎。復病胸悶不飢。飲食大減。乃與二陳湯加沙參、麥冬、佩蘭、桔梗、苡仁等消補之品兩劑。飲食能進矣。但消瘦日甚。復用六君子湯加麥冬、枸杞子、苡仁、紅棗等補養之劑。並戒其勿食煎炒油膩等難消之物。但以米粥蔬菜。調養半月。而康復如初。</p>
<p>張姓女十四歲。初覺身體困倦。飲食無味。越兩日薄暮。先惡寒。旋即發熱。譫語不識人。手舞。吃吃然笑不休。口渴煩躁。其家駭怪。以為痧。又以為邪祟。至夜深時。叩門延診。予視其脈。滑數不調。舌尖紅。中苔白膩。身熱有汗。蓋暑濕痰滯蘊結於中焦之病也。用小茈胡合小陷胸湯。去人參。加滾痰丸三錢同煎。服後得大便三次。神清熱退。能安睡矣。但尚不知飢。仍與小茈胡湯加枳殼、桔梗、佩蘭、益元散。二服而瘳。</p>
<p>德興衣莊潘某。年約三旬。發熱惡寒。頭疼身痛。胸悶。不思飲食。握其手臂。其熱爍手。知其病重。非尋常之感冒也。然當時尚未現有熱證。姑以蔥豉湯合二陳湯。加連翹、枳殼、桔梗以待之。服後。惡寒退。而心煩不得寐。胸悶作惡。脈滑舌燥。數日不大便。躊躇久之。乃毅然以大茈胡湯。大黃用三錢。下稀糞水五六次。前證盡退。但不思食而已。越兩日。復發熱譫語。煩躁不寧。舌苔黃。脈滑唇紅。口內破裂。大便溏。復以小陷胸湯加大黃三錢。翌日復診。則胸部脊背手臂等處。均發現斑疹。其色紅赤。煩躁定。神識清。咳嗽多痰。舌苔黃燥。大便溏瀉。脈不數。遂改用小陷胸湯去半夏。加貝母、知母等平劑以治之。接服兩日。赤斑發現愈多。手足胸背均滿布。而脊背中尤為稠密。其色紅赤鮮明。言語時清時亂。目赤唇紅。兼有呃逆。仍以原方接服一劑。詎次日復診。則神昏不能識人。譫語呃逆。舌苔黑燥。脈息滑數。頭汗出。時或手動唇動。蓋伏熱尚重。病勢正在凶猛之時。仍當清涼攻下雙方並進。庶足以殺其凶猛之勢。幸病家堅信不疑。得以放手用藥。乃以白虎湯、小承氣湯、小陷胸湯。三方合用去厚朴。加梨汁。此藥服後。神氣轉清。呃逆譫語亦漸定。遂以前方去大黃、石膏。接服三劑。病大退。乃以清涼和平之方。調理半月而瘳。大凡溫病之重者。多從斑解。而尤必藉大黃之力。蓋腑氣通。則伏邪始能外發也。</p>
<p>米某年逾四旬。臥病多日。服藥數劑。他病俱退。惟徹夜不寐。譫語笑不休。不飢不食。予視其舌。尖紅而苔少。脈息小滑。蓋病退而津液大傷。痰熱阻滯為患。遂以百合、知母、沙參、麥冬、貝母、花粉、棗仁、柏子仁、茯神、竹茹、黃芩。稍加川連二分。一劑而笑止神安。遂以飲食調養而瘥。</p>
<p>周某年約四旬。初患濕溫病。由其戚某君用三仁枳桔、及小陷胸、栝蔞薤白等方。服十餘劑。又以瀉葉下之。神氣遂大疲憊。心悸不寐。予視其面色黯淡。舌燥無津。手指蠕動。右脈小弱。左脈虛數。乃克削過甚。津液元氣俱傷之候也。因用增液湯加西洋參、牡蠣、石斛、柏子仁、茯神等。翌日復診。汗出不止。舌燥而現黑色。略有薄苔。口乾。病人自謂頭重異常。蓋元氣大虛。前藥嫌輕也。乃於前方去石斛、牡蠣。加黨參、黃耆各三錢。五味子五分。白芍三錢。次日天甫明。叩門延診。則汗出愈多。寐則汗出益甚。手冷神氣疲憊。兩脈虛細。心腎脈尤不足。勢將欲脫矣。乃以別直參三錢。黃耆五錢。白朮四錢。熟地五錢。棗仁五錢。五味子、炙甘草各一錢。浮麥五錢。紅棗五枚。急煎服。外用止汗藥粉撲其周身。午後復診。則汗止安睡。手足俱轉溫矣。仍以前方。又進一劑。自是遂能進粥。遂以六君子湯、資生丸等藥。調養半月而痊。</p>
<p>馮懋軒君令堂。年近六旬。今年六月患發背。由西醫徐君醫治。將及一月。而潰爛不收。汗多頭暈。大便溏瀉。精神疲弱。西醫以有內症。囑延內科診治。予診其兩脈皆虛耎無力。胸悶作惡。咳嗽心悸。頭暈汗多。舌苔少。蓋高年氣血已虧。外症出膿血既多。飲食又多日不進。氣血大虛陰陽欲脫之候也。危險實甚。乃以大補丸煎、生脈散。出入為方。潞黨參、麥冬、枸杞各二錢。五味子三分。棗仁、山藥、炒熟地炭各三錢。黃耆、橙皮、佛手各一錢。接服兩劑。汗漸少。飲食稍進。但咳嗽心慌。原方去橙皮、佛手、黃耆、黨參。加百合、茯神、柏子仁、西洋參、杏仁、貝母。又服三劑。精神較有起色。惟心虛嗆咳。舌燥無津。左手手心熱。鼻孔亦覺有熱氣外噴。此高年陰液素虧。肝肺之津液俱涸。則燥從中生。必潤以濡之始能有濟。乃復定一方。北沙參、麥冬各一錢五分。燕窩、百合、地骨皮、棗仁、柏子仁各二錢。牡蠣三錢。並囑其另煨燕窩湯。日服二次。間以母雞湯與飲。又念外症與內症有密切之關係。乃令其解去繃帶。詳為檢視。據馮君言。自服煎藥後。肌肉已日見增長。不似從前之遲遲無進步矣。然患處潰爛之地。仍長有三寸。寬二寸。皮能掀起。全無膿垢。而西醫所用之藥。則海碘仿一味而已。予謂外症此時宜速換生肌藥。海碘仿只能殺菌防腐。卻無生肌之力。外症一日不收口。則內症必受影響。蓋內外雖殊。而關係臟腑氣血則一。馮君韙之。遂與徐君婉商換藥。而煎藥服數劑後。咳嗆燥熱等症俱退。仍以原方接服半月。燕窩湯亦常服。於是精神飲食。俱有起色。而外症亦漸痊矣。是病也。其始得力於參、耆、熟地。其後得力於燕窩及諸清潤之藥。而惜乎今之業西醫者。只知守他人之成法。而不肯取中國醫書以研究之也。</p>
<p>隆盛祥紙號王某。年二十五歲。自今年四月患便血症。初僅大便帶血。纏延三月餘。始來診治。每日下血二十餘次。血色或鮮或紫或淡。頭暈心悸。精神疲憊。面色黃淡。脈息弦緩無力。此平日勞神太過。經云。陰絡傷則血內溢。而纏延日久。失血過多。故氣血大虧如此也。急宜止血。否則將暴脫而逝矣。遂以補養氣血止血斂血之方。服一劑後。血即大減。二劑血即減至五六次。接服五劑全愈。方用潞黨參、白朮、當歸各二錢。炒熟地炭、白芍、赤石脂、棗仁、續斷各三錢。升麻五分。煎服。</p>
<p>葉姓婦年二十餘。因事煩勞過度。經水淋漓不止。頭暈心悸咽痛。脈息虛小。舌紅無苔。此勞神太過。陰虛血熱妄行。熱上升則咽痛。其頭暈心悸者。血虛而心無血養。腦筋衰弱也。先宜養血調經以止血。方用乾地黃四錢。元參、阿膠、棗仁、牡蠣、麥冬、白芍各三錢。炒熟地炭二錢。香櫞皮一錢五分。接服兩劑。經水已止。惟咽痛頭暈。飲食不多。舌紅無苔。左脈較小。前方加鱉甲三錢。珍珠母五錢。桑葉三分。枸杞子、女貞子各二錢。接服四劑全愈。</p>
<p>李姓婦年逾四旬。素患血崩症。遇勞則發。思慮惱怒亦發。每發時。予皆以養陰止血之法奏效。壬子正月。病大劇。下血成鬥。心悸頭暈。奄奄一息。兩脈虛弱。面色無華。蓋失血過多。勢將脫矣。因師魏柳洲治宋申甫室人之法。用熟地黃八錢。枸杞子五錢。阿膠四錢。棗仁四錢。潞黨參三錢。作一劑煎。一日服盡。服後心悸稍定。血下亦稍緩。接服三劑而血止。復以此方加麥冬、柏子仁等作膏劑。常服而痊。</p>
<p>倪姓婦年逾三旬。產後下血不止。頭暈心慌。汗多手冷。脈息細弱。其時有某醫在坐同診。主用童便。以防其血暈。予謂此陰陽兩脫危亡在即之病。童便力薄。恐誤事機。乃以黨參、黃耆、熟地、阿膠、棗仁各四錢。此醫亦以為然。遂以予方煎服。覆杯而血止汗收。能進粥一碗矣。復以原方減輕其劑。接服兩日而安。</p>
<p>姜雨川由福建來鎮江。復因事往湖南。沿途感冒風寒。左肩作痛。不能舉動。痛處畏冷。脈息緩滑。飲食如常。乃以羌活、桂枝各一錢五分。秦艽、半夏、蒼朮各二錢。白芥子、川芎、木香、甘草各八分。天仙藤三錢。橘皮一錢。生薑三片。紅棗三枚。煎服。兩劑後。痛大退。能舉動矣。惟腿膝覺痛。蓋余病未清也。以原方去半夏、川芎。減輕其劑。加牛膝、苡仁、黨參等。接服兩劑而瘥。</p>
<p>丁姓婦年逾六旬。病延多日。由其婿金峙生君延予治。胸次悶塞不舒。飲食不進。身不發熱。惟胸部一片熱。溲熱口乾。舌苔薄膩。脈弦小滑。此暑濕痰滯鬱結上焦不通。先宜宣開上焦。然後再議調補。方用石菖蒲三分。香櫞皮、佛手、佩蘭、枳殼、桔梗各一錢。麥冬、杏仁各一錢五分。連翹二錢。接服兩劑。胸悶松。稍能進粥湯。惟心悸怔忡。頭暈汗多。蓋病退而氣血虛也。遂易方用北沙參、白芍、乾地黃各二錢。黃耆一錢。棗仁、柏子仁各三錢。香櫞皮八分。麥冬一錢五分。甘草五分。接服四劑。諸恙悉除矣。</p>
<p>王姓婦年六十一歲。夏間陡患頭暈心悸。胸悶嘈雜。時發寒熱。予診其脈細小。口乾溲熱。身體素瘦。蓋陰液素虧。兼有鬱抑。而復受暑也。乃以輕劑調之。二劑而愈。方用北沙參一錢五分。麥冬二錢。棗仁、茯神各三錢。佩蘭、香櫞皮各一錢。青蒿、連翹各三錢。六一散二錢。天花粉一錢五分。煎服。</p>
<p>趙姓婦年近四旬。稟質素弱。春間患怔仲不寐。自服人乳二十日始愈。夏間復病。每日午後發熱。身困胸悶作惡。不思飲食。泄瀉。自用元參、麥冬、山梔、桔梗、薄荷、甘草等藥。熱愈甚。延予診治。右脈弦數。舌苔白膩。小便熱。予謂此濕溫病。最忌滋膩之藥。雖體質素衰。亦不宜用補藥。當先治病。特方法宜和平。而不可用重劑耳。遂擬方用黃芩一錢五分。苡仁、滑石、青蒿各三錢。佩蘭一錢。蔻仁、通草各六分。橘皮五分。接服兩劑。熱退瀉減。但胸次作痛。怔忡復作。手麻不寐。脈轉緩小。咳嗽。舌尖紅。中苔薄膩。遂改用蔻仁六分。木香、佛手各八分。棗仁、柏子仁、茯神、茯苓各三錢。佩蘭一錢。枇杷葉一片。兩劑諸恙全退。能進飲食矣。</p>
<p>安雷川君令嬡。兩歲。冬月間因傭婦不慎。將沸水潑於其腿。潰爛如手掌大。啼哭不休。初延西醫治之。不能定痛。乃邀予診。予用藤黃膏塗之。旋即止痛。未及兩星期。而長肉收口矣。</p>
<p>附藤黃膏方</p>
<p>藤黃（一兩）　黃蠟（一兩）　麻油（八兩）</p>
<p>先將藤黃敲碎。置入麻油內。慢火煎之。俟藤黃枯焦。其汁盡出。即離火。濾去渣。將黃蠟置油中熔化。和勻成膏。置冷地出火毒。專治湯火傷。止痛生肌。效驗無匹。用時將膏塗患處。以油紙蓋之。外加布包紮。每日換一二次。</p>
<p>史姓婦年約三旬。患目疾。服藥不效。延予治。視其兩目。並不紅腫。又無瞖膜。問之。但覺昏花作痛。畏見日光燈光。頭暈神疲。此勞神太過血液衰耗。腦力不充血不足以養目也。經云。目得血而能視。治宜養血為主。初用集靈膏合二至丸作煎劑。接服五劑大效。嗣以原方作膏劑。服至半月。目力如常矣。</p>
<p>龔姓女七歲。夏間頭頂生癤如貫珠。出膿後久不生肌。每三日必出膿一次。否則腫脹疼痛。乃以綠雲膏貼之。每日洗換。不十日瘥。</p>
<p>家嫂於今年九月。陡患喉症。初起時僅咽喉兩旁紅腫起白點。發熱惡寒。頭疼。舌苔淡黃而膩。脈滑。蓋濕熱痰滯醞釀為患。初用薄荷四分。桑葉一錢。連翹四錢。栝蔞、金銀花、貝母各三錢。金果欖二錢。鮮生地六錢。煎服。外吹蓬萊雪。次日寒熱退。而咽喉兩旁則破爛。湯水難下。舌苔淡黃厚膩。右脈滑數。乃痰伏上焦也。前方去薄荷、桑葉。加杏仁三錢。冬瓜仁、絲瓜絡各四錢。黃芩二錢。木通一錢。石菖蒲四分。梨汁一酒鍾和服。第三日復診。喉部潰爛未至蔓延。咽內常覺痰阻。舌苔黃膩。痰濁甚重。輕劑不能治也。乃易方用旋覆花二錢。貝母四錢。海浮石、蔞仁、半夏曲、麥冬、生地各三錢。川連五分。橘皮一錢五分。梨汁、萊菔汁和服。並另用梨汁、萊菔汁與飲。痰漸活動。能稍稍咯出矣。然舌苔則滿布黏膩。口黏而干。大便數日未通。右脈滑數。乃以原方去海浮石。加滾痰丸三錢同煎。蓋欲通其大便。使痰濁下降也。此藥服後。夜間能睡一二時。知飢欲食。而病勢遂大退矣。然並未大便。惟吐痰則甚多。舌苔尚膩。仍以前方去滾痰丸。服後諸恙俱退。家嫂以藥太苦。遂不服藥。但以薄粥調養。越日大便始通。而起居如常矣。</p>
<p>張姓女年十七歲。體素羸瘦。自去年秋間。經水止而不來。時發寒熱。延醫治已小愈。今年四月。偶因鄰舍失火。突受驚恐。病勢轉劇。醫藥罔效。乃延予治。咳嗽發熱。胸悶腹脹。脅痛不寐。肌肉瘦削。滿舌光赤無苔。脈息弦細。飲食不進。夫肌肉既消於外。陰液又亡於內。而飲食復不能進。將何恃以生存乎。乃婉言謝之。詎病家必欲服藥。乃用增液湯。加青蒿、地骨皮、西洋參、柏子仁、茯神、香櫞皮、蔞仁等藥以養陰退熱。兼消積滯。接服三劑。得大汗而熱退。大便解出臭穢黏硬之糞甚多。知飢欲食。二三日後。居然能進粥飯碗許。素餛飩能食二十枚。亦能行走如常。其家狂喜。詫為神奇。予觀其肢體太瘦。丰姿太薄。慮其終難收功。因告之曰。今雖小效。後事尚難預料。其時初交小暑。不數日天氣驟然酷熱。無病之人。尚覺難受。而此女果復發熱睡倒。不能起床。飲食不進。予乃決其死期在立秋前後。病家僅此一女。必欲其生。遂復延他醫及針科診治。至七月杪而死耗至矣。又友人張挹山君內弟。自今年春間臥病。纏延床蓐。延醫服藥。病雖退而肛門之旁生一漏孔。日流膿水。每大便則糞從孔出。至八月間挹山君之夫人。由安慶歸。見其弟病危若此。乃薦予診。予入其室。見病人臥於床。瘦削不堪。幾同枯骨。視其舌則光而不紅。脈息細如蛛絲。每夜出汗甚多。予出其室。私囑其家曰。速備後事。病不可為矣。其家謂現在尚能飲食。言語亦甚清晰。何不能治。予曰。大肉脫者死。此人僅剩皮骨。如何能生。果於是日夜間二句鍾死矣。夫決生死之法。為診病之重要關鍵。而其學理則莫精於素問難經兩書。故欲請求醫學。不可不於此二書加之意也。若近人好摘內經之小疵。而輒肆詆譭者。非無識少年。即別懷私意。又何足與之深論耶。</p>
